[2020-07-09 13:43] ebarry commented on #8113
Congratulations @SidharthBansal ! Great work!!!

[2020-07-09 13:51] Tlazypanda commented on #8128
Hey @jywarren pulling all printability related discussions here from #7883 :sweat_smile:
I had been researching on this for a while and have created a basic js script for this for now. Here is an example page printed using this - I have here pulled only the content div in notes, added styling for tables, blockquotes etc, page break strategy for ul,ol,table etc and some header and footer content th

[2020-07-09 13:55] Tlazypanda commented on #8128
@ebarry Since you have been working alongside the public lab team your insights and feedback much appreciated on this  :pray: :rocket:

The pdf right now is just a work in progress so I have just implemented some basic features so it doesn't look that good right now :joy: :sweat_smile:

[2020-07-09 14:14] keshavsethi commented on #8113
Congratulations @SidharthBansal !! :tada: :tada: :100:

[2020-07-09 17:40] mronauli commented on #8118
hi @Tlazypanda @ebarry, first timer here! mind if i work on this issue?

[2020-07-09 20:10] ijeomaemeruwa commented on #8093
hello, please has this been assigned?

[2020-07-10 03:42] #2757 closed

[2020-07-10 13:49] Tlazypanda commented on #8128
@jywarren @cesswairimu @ebarry Updated print design :sweat_smile: Please have a look and provide feedback. Thanks :v:
[🎈 Public Lab_ My work so far on the print proposal thing.pdf](https://github.com/publiclab/plots2/files/4903418/Public.Lab_.My.work.so.far.on.the.print.proposal.thing.pdf)

[2020-07-11 17:38] Tlazypanda commented on #8118
Hey @mronauli Sure go ahead :tada: Just adding here that this issue is an fto-candidate and not an fto (first-timers-only issue) so if you are comfortable with working on this go ahead :100: (in case you face any difficulty with this please feel free to ping :v: )

[2020-07-11 17:51] Tlazypanda commented on #8118
Just adding more information about the files involved here to be edited -
https://github.com/publiclab/plots2/blob/94841c82bcbb2b08628743cbdb9dbecdf75b946a/app/views/tag/blog.html.erb#L53

In this line we need to add coauthors like we have in the file lines 30-34
https://github.com/publiclab/plots2/blob/94841c82bcbb2b08628743cbdb9dbecdf75b946a/app/views/notes/show.html.erb#L31

[2020-07-12 08:25] AlacritousCreature commented on #8093
Hello! is this issue still open?

[2020-07-12 08:34] Tlazypanda commented on #8093
Hey @ijeomaemeruwa @AlacritousCreature looks like this issue has already been solved :sweat_smile:  we are currently in short of first-timers-only issues, as soon as we open more ftos I will be sure to notify you :v:  Thanks for showing interest in contributing to Publiclab :heart:

[2020-07-13 10:11] ijeomaemeruwa commented on #8093
Okay thank you😁, I look forward to contributing again!

On Sun, 12 Jul 2020 at 09:34, Sneha Mishra <notifications@github.com> wrote:

[2020-07-13 13:27] ebarry commented on #8128
super! This looks really really nice!!!!!!!!! Overall the flow and balance of headings looks great!

Couple observations:
- I wonder if there's a helpful way to show if this is a note or a wiki by the way the author's byline is depicted?
- Could the author byline show all authors and co-authors for notes?
- Could the author byline show all authors of non-spam revisions of wikis?
- I like the displ

[2020-07-13 13:34] nikhilrayaprolu opened #8136 "Save option is not activated"
### Please describe the problem (or idea)

I installed plots2 locally and was creating a new post
![image](https://user-images.githubusercontent.com/15216503/87310339-77179d00-c53b-11ea-97d7-dfbf77c82716.png)

But the save option is inactive not letting me to save the post

### Please show us where to look

https://publiclab.org/ ...
http://localhost:3000/post

There's this error locally in my bro

[2020-07-13 13:36] Tlazypanda commented on #8128
Hey @jywarren @cesswairimu @ebarry  while working on the wiki side of it I noticed that we are using iframe for showing videos :sweat_smile: since it is not possible to manipulate iframes from css/js due to CORS and other issues I was thinking of setting the display to none for that :sweat_smile: I can get the src and add it to the top of the doc but not at the place where the frame is since manip

[2020-07-13 13:44] cesswairimu commented on #8136
HI @nikhilrayaprolu,  I believe you need to add text in the "body part"...i.e on number 4 for the button to be active (atleast 10 chars I think). Let me know if you are still experiencing issues after that. Thanks

[2020-07-13 13:46] Tlazypanda commented on #8128
Hey @ebarry Thanks so much for looking into this and for being honest if anything looks off  :tada:  (i am not a design person as you would have figured :joy: )and I have added some more queries that I have with this above can you please answer them too :sweat_smile:

- For the wiki side of it I am actually coming up with a different layout working on it :sweat_smile:
- Sure, let me look into it :

[2020-07-13 13:53] nikhilrayaprolu commented on #8136
@cesswairimu Thanks for the reply, you are right.
It would be great if the min length is mentioned in the conditions in that page.

[2020-07-13 13:56] ebarry commented on #8128
Super -- when showing the profile pic of the author followed by the name, please show all authors like this (both profile pic and name) even if it takes more than one line. Attribution is very important!

[2020-07-13 13:57] Tlazypanda commented on #8128
@ebarry  Ohh cool gotcha!! :tada:

[2020-07-13 14:59] cesswairimu commented on #8136
yeah I agree we could add a placeholder for now with the data as we have on the title....will that help?

[2020-07-13 15:11] cesswairimu commented on #8113
Congrats @SidharthBansal  :tada: :tada:
Would anyone  like to open this week's check-in?

[2020-07-14 11:43] nikhilrayaprolu opened #8141 "Website Design is too Cluttered"
The website Navigation and UI is not intuitive enough for a technologically challenged person.

I found this document on design
https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit#slide=id.g1ffcc64c1e_0_0

Is anyone working on UI/UX currently? I feel like plots2 is feature-heavy but also design-wise heavily cluttered.

[2020-07-14 13:25] ebarry commented on #8141
So glad you've found your way into this community! We also work on UI here: http://publiclab.org/ui, and there's a list of people who work on UI at the bottom of that page.

[2020-07-14 13:31] ebarry commented on #7264
Update that this mockup has been created by @jywarren to help address this: https://publiclab.org/post/choose
<img width="1227" alt="Screen Shot 2020-07-14 at 9 30 37 AM" src="https://user-images.githubusercontent.com/161439/87431515-c1893000-c5b4-11ea-83b9-6be8edd290ff.png">

[2020-07-14 14:18] cesswairimu opened #8143 "Weekly Community Check-In #67 Books/Podcasts/Movies that you draw Inspiration from"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-07-14 14:36] cesswairimu commented on #8143
@JapneetSingh5, @Neilblaze, @markkulube, @vinuch, @Tlazypanda, @icarito, @dependabot-preview[bot], @jywarren, @keshavsethi, @praaatik, @Janitham97, @imanishbarnwal, @dburugupalli, @adityakpranav, @ioampatzidis, @esiebomaj, @Alexjake660, @cesswairimu, @urvashigupta7, @daemon1024, @jscastanos @keshavsethi, @jywarren, @AyanChoudhary, @imajit,@NitinBhasneria, @nstjean, @marientje, @rutger-t, @Janet33,

[2020-07-14 14:37] cesswairimu commented on #8143
@keshav234156, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04, @sssash18, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shulammite-Aso, @Jigyasa-Kumari @moliver4, @justinelai, @Snouzy, @stevenalila, @Digiox, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @theOpetunde, @sailahonkanen,

[2020-07-14 14:37] cesswairimu commented on #8143
@Janet33, @TroydonAnabolic, @priyanshbalyan, @Medlineme4, @mandysGit, @msanden, @AidenOliver, @Janetsomehow, @AntroMarina, @llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-s, @goamoth, @SusannaDiV, @yusofsf, @nanlliu, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04 @adityakpranav @e

[2020-07-14 14:41] cesswairimu commented on #8113
Moved to https://github.com/publiclab/plots2/issues/8143. Thanks everyone

[2020-07-14 14:41] #8113 closed

[2020-07-14 15:03] cesswairimu commented on #8143
@NitinBhasneria , @Shulammite-Aso @keshav234156 @shreyaa-s or @shreyaa-sharmaa  how are you doing? Noticed you didn't check-in last week...wanted to check how you are fairing on

[2020-07-14 15:21] jywarren commented on #8143
Hi all! I wanted to shout out to the Editor team @NitinBhasneria @Shulammite-Aso @keshav234156 @shreyaa-sharmaa about their new release `v2.1.0` at https://github.com/publiclab/PublicLab.Editor/pull/555 - great work! They're now organizing a follow-up bugfix release `v2.1.1` at https://github.com/publiclab/PublicLab.Editor/pull/557. Love to hear some updates on that, folks! ❤️ 🎉 🙌

[2020-07-14 15:22] Sagarpreet commented on #8143
Hi @all,
Thanks for the checkin @cesswairimu , i hope everyone is safe and sound here :)
I was watching pursuit of happiness movie the other day, very inspiring!
Also i can open the checkin next week 👍
Thanks!

[2020-07-14 15:27] jywarren commented on #8143
It's not a movie but I just watched Season 2 of the new Twilight Zone by Jordan Peele and it was really great 😱

Was it inspiring? I guess an inspiring work of filmmaking, so in that sense yes! Inspiring me to work to prevent the dystopias shown in the episodes, maybe. 💯

[2020-07-14 15:37] Tlazypanda commented on #8143
@sagarpreet-chadha Pursuit of happiness is my fav too!!! :heart:

Some more favs-
-  Life is beautiful ( i cried so hard please watch this)
- A beautiful mind
- Into the wild
- Front of the class
- Moneyball

@icarito @ebarry @skilfullycurled would love to hear yours and other publiclab community members answers :sweat_smile: if you don't mind tagging them here :sweat_smile:

So this week I spent

[2020-07-14 15:57] willkunz13 commented on #8119
After some testing I think it has to do with all the editor toolbars interacting with a single text area.  So pressing the bold button appears to do nothing, when in fact it is adding four (*) to another text area on the page.  Same goes for italics and any other editor interaction.  I'm trying to find a solution, and any recommendations from someone who has worked on the editor.js would be apprec

[2020-07-14 16:10] keshavsethi commented on #8143
Hey Everyone  :wave: Hope you all are safe :heart:
Forest Gump (best feel-good movie) and Tare Zameen Par are some of my favorites and very inspiring movies

**Last Week:**
- Finished Flag nodes and comments #8107
- Worked on system and functional tests for flag feature
- Updated Dashboard and Digest UI #8130
- Resolved issues in Pagination, alerts and filters.

**Week Ahead:**
- Bulk moderation o

[2020-07-14 16:22] #8118 closed

[2020-07-14 16:24] jywarren commented on #8143
Cheering for @mronauli who just solved this issue about co-authors on the blog template: https://github.com/publiclab/plots2/pull/8137

And for @Tlazypanda for finding the lines of code that had to change to make @mronauli's work smoother: https://github.com/publiclab/plots2/issues/8118

And to @ebarry for writing a very clear and well-documented initial issue: https://github.com/publiclab/plots2/

[2020-07-14 18:29] first-timers[bot] opened #8146 "Remove "legacy" link from new question form"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-14 19:17] jywarren commented on #8128
Hi! For interactive content that doesn't make sense in print, like YouTube, perhaps we could add a "fallback" content inside that says `YouTube video` or just `Embedded content` with a box around it? I'm not sure, but maybe see what that looks like. I think some elements allow HTML inside as "what shows when it doesn't load properly", you know?

And, i think i remember you saying you'd be trying t

[2020-07-14 19:43] #6799 closed

[2020-07-14 20:41] ebarry commented on #8143
Hello all, checking in with an appreciation for @emilyashley who has been a wonderful part of PublicLab for the last 6 months. As of last week, she's moved on from her role on staff at the organization, but we truly look forward to seeing her around Github and of course, New Orleans ⚜️. Thank you @emilyashley !!!!!! 🌟👩‍💻🦄🐊🌈

[2020-07-14 21:29] mronauli commented on #8118
Thank you @Tlazypanda!

[2020-07-14 21:42] MacPherson commented on #8146
Hey, I would like to take this one

[2020-07-14 23:13] skilfullycurled commented on #8143
@sagarpreet-chadha, thank you!  That's so funny, just yesterday I was writing about Public Lab in a "What are your qualifications box." for a course I'd like to TA in (Social Informatics) and I thought, "You know, I should really bother those folks about embedding #5627 in the boilerplate at the top of the community check in so I'll get reminders about them!"

Anyway...

Two movies that I draw ins

[2020-07-15 05:21] RajatSablok commented on #8146
Hey, I have opened a PR for this one
https://github.com/publiclab/plots2/pull/8148

[2020-07-15 10:15] Tlazypanda commented on #8128
Hey @jywarren Actually at that time I was thinking of using wkhtmltopdf gem for that but as you had pointed out that we won't be requiring a lot of its functionalities and its better to have a home grown tool so I wrote a javascript file and created a dom structure from it only keeping the essential and scraping of the rest :sweat_smile: I have created a wip pr now as I get more and more idea abou

[2020-07-15 10:46] shreyaa-sharmaa commented on #8143
Hey, hope everyone is doing well!
That's a lot of movies to add to my watchlist :smile:
One of the most inspirational movies for me was: **Dead Poets Society** _`Carpe diem. Seize the day, boys. Make your lives extraordinary`_ :heart:
After the new release of Editor, most of my time has gone in tracking down the bugs for Editor's integration in plots2 (no success so far), smoothening out tests in

[2020-07-15 12:12] Tlazypanda commented on #8128
Hey @ebarry @jywarren regarding the wiki layout should we display the date created (asking since it is not there on the original wiki template that we use) also sharing screenshots for

- The author change adding coauthors (notes):-

![notes-coauthor](https://user-images.githubusercontent.com/33183263/87542689-04382e80-c6c1-11ea-91eb-87b9cfe5087e.png)

- The author change adding coauthors (wiki) a

[2020-07-15 14:46] ebarry commented on #8146
Thanks @RajatSablok !!!!

[2020-07-16 07:39] gr455 commented on #8143
Hi everyone! hope everyone is doing well.
I have been busy for the last couple weeks studying for my finals but we just got a mail yesterday stating that they're cancelled. So now I'm spending my free time learning JavaScript.

I don't really watch too many movies or listen to podcasts but listening to Elon Musk talk is always inspirational :)

[2020-07-16 14:11] ebarry commented on #8143
Hi everyone,
Also not a movie but something i was watching recently is an animated series on Netflix called "Kipo and the Age of Wonderbeasts" https://en.wikipedia.org/wiki/Kipo_and_the_Age_of_Wonderbeasts plus it has a great soundtrack
For grappling with the issues of our time, i was truly moved by Bayo Akomolafe on https://podcasts.apple.com/us/podcast/for-the-wild/id942809988?i=1000463389031

[2020-07-16 14:18] ebarry commented on #5095
Another sighting of the fugitive `owmloading` 🔭
From browsing someone's profile page, i clicked the title of a research note, and when that note loaded, the red alert of owmloading appeared:

![omw-loading](https://user-images.githubusercontent.com/161439/87682102-722a3780-c74d-11ea-8d55-6ad96b79570c.gif)

[2020-07-16 17:35] AntonioFry commented on #8146
Just checking, but this issue has been solved, correct?

[2020-07-16 18:58] ebarry commented on #6867
Yes, speaking as a @publiclab/community-reps, this is ready to go 👍.

[2020-07-16 19:06] ebarry commented on #8146
Yes, thanks for checking! Maybe see if there's another FTO on https://code.publiclab.org/?r=all

[2020-07-16 19:07] cesswairimu commented on #8143
Hi all :wave:
I am a huge podcast listener and I will try to just give a few :smile: [Greater than code](https://www.greaterthancode.com/), [My Ruby Story](https://devchat.tv/podcasts/my-ruby-story/), [Legally Clueless](https://linktr.ee/legallyclueless) and [Lets break good](https://www.letsbreakgood.com/) and are my top 4
Thanks @Tlazypanda  for the topic update :heart:

Great rest of week every

[2020-07-17 09:47] HashTalmiz opened #8155 "Center the project images on the Home page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

_This is a simple UI fix that could help someone get started with contributing anywhere!_
**_Just center the project images on the home page to ma

[2020-07-17 09:52] HashTalmiz commented on #8155
![fixneeded](https://user-images.githubusercontent.com/55018280/87773600-045f3800-c841-11ea-915f-95a84b205542.png)
This is the current view of the image. Align the image to the center and share a screenshot of the changes seen on the home page.

[2020-07-17 11:24] Tlazypanda commented on #8112
Just adding here @jywarren @icarito the gitpod thing once setup can easily allow lighthouse to directly run on the git pod generated deploy url :tada:

[2020-07-17 11:53] #7988 closed

[2020-07-17 12:34] ARobinson26 commented on #8155
Hi there,
I've never contributed to open source before and would love to give this a go if it's still available?

[2020-07-17 12:45] N0v0cain3 commented on #8155
Is it still available?

[2020-07-17 13:14] HashTalmiz commented on #8155
Hey @ARobinson26, You can go ahead with this.
Sorry @N0v0cain3 this is a `first-timers-only` issue.

[2020-07-17 16:26] Tlazypanda opened #8156 "Update readme to match the new ruby version used"
### Please describe the problem (or idea)

The ruby version has been upgraded from 2.4.4 to 2.6.6 by #8145 we need to update the readme to reflect the change to ensure new contributors don't have an issue in setting up the project on their systems.

## Todo
Update this file https://github.com/publiclab/plots2/blob/main/README.md change this part  under *Standard Installation* section from
[code]

[2020-07-17 16:27] Tlazypanda commented on #8156
@jywarren just confirming this change is final and won't be rolled back :sweat_smile:  also should we create an fto out of this?

[2020-07-17 17:09] hiteshsubnani0128 commented on #8001
Hi, is this issue still open?

[2020-07-17 20:58] Tlazypanda opened #8158 "Minify leaflet scripts using Uglifier"
**Please describe the desired behavior.**
Currently Uglifier is only minifying the scripts defined in assets but not in /lib. So we need to minify leaflet scripts as well to bring down the initial load time.

**Additional context (optional)**

![image](https://user-images.githubusercontent.com/33183263/87830265-51252c00-c89e-11ea-85c0-ce3d77b7911b.png)

[2020-07-17 21:18] Tlazypanda opened #8160 "Update Dockerfile to use ruby 2.6.6"
### Please describe the problem (or idea)
Currently the jenkins ([stable.publiclab.org](https://stable.publiclab.org)) is failing since we have upgraded from ruby 2.4.4 to ruby 2.6.6. So we need to make appropriate changes in the dockerfile to accomodate this change.

[2020-07-17 23:26] Tlazypanda opened #8163 "Replace esri-leaflet-renderers cdn with minified cdn"
**Please describe the desired behavior.**
Currently the esri-leaflet-renderers script cdn is not minified. We need to replace this with minified cdn script.

**Additional context (optional)**
![image](https://user-images.githubusercontent.com/33183263/87837970-0d88ed00-c8b3-11ea-8a91-4ef1b915f6b3.png)

[2020-07-18 04:37] cesswairimu commented on #8093
Okay thanks everyone closing this. @ijeomaemeruwa, did you get an fto?  if not let me know and I will ping you when one pops up

[2020-07-18 04:37] #8093 closed

[2020-07-18 04:40] cesswairimu commented on #8001
Hi @hiteshsubnani0128, someone is working on this...will add your name #7683  here and will ping you when we get one for you :)

[2020-07-18 05:09] #8160 closed

[2020-07-18 11:05] ijeomaemeruwa commented on #8093
Hi, I didn’t get an fto

On Sat, 18 Jul 2020 at 05:38, Cess <notifications@github.com> wrote:

[2020-07-18 11:59] sentry-io[bot] opened #8166 "Error on parsing multiple subscription signup"
I experienced this upon using the multi signup at https://publiclab.org/tag/water-quality

![Screenshot_20200718-075953](https://user-images.githubusercontent.com/24359/87852055-c7408780-c8cc-11ea-8f83-6163fd71d20e.png)

Sentry Issue: [PLOTS2-R4](https://sentry.io/organizations/publiclab/issues/1695204051/?referrer=github_integration)

[code]

[2020-07-18 12:03] jywarren opened #8167 "Alert boxes push down tag page image headings"
When on pages like https://publiclab.org/tag/water-quality, if there is an alert box such as logging out, it pushes down the lead image. Haven't captured it but it's in this view:

![Screenshot_20200718-075953](https://user-images.githubusercontent.com/24359/87852071-f7882600-c8cc-11ea-828e-a4828141331a.png)

Should be easy to make them float!

[2020-07-18 21:36] thejasvi-ks commented on #8155
Hi everyone, I have never contributed to anything before too. I would like to give it a try if it's available.

[2020-07-19 06:59] Tlazypanda commented on #8128
Hey @ebarry @jywarren can you kindly review the above changes if they are alright? :sweat_smile:
Also can you please answer these queries? Thank you :heart:

- Should we have a date created for wiki since we dont have it on the original template?
- Should we have the number of edits of wiki in the print template?
- Can you please share some wikis/notes that were having issues with printing so I ca

[2020-07-19 12:38] galanggg commented on #8155
Hey @HashTalmiz can i make pull request to this issues ?

[2020-07-19 14:26] HashTalmiz commented on #8155
@cesswairimu @jywarren Have a look at #8169.

[2020-07-19 19:43] AntonioFry commented on #8167
@jywarren I'd be happy to help anyway I can. Do you know anyway to get the alert boxes to pop up so can try recreating the bug?

[2020-07-19 20:12] AntonioFry commented on #8167
@jywarren So I found the problem and tried changing the positioning to absolute of the alert as well as the z-index to 1. Here's the result:

![Changes](https://i.imgur.com/Bf24JR2.png)

I'm not exactly sure where to find to HTML code for this in the repo to change it, but tell me what you think of the changes.

[2020-07-20 12:13] cesswairimu commented on #8093
noted...added your name to the fto list...thanks

[2020-07-20 15:14] #7718 closed

[2020-07-20 15:17] cesswairimu commented on #7718
lets log here and reopen if this happens again...thanks everyone

[2020-07-20 15:42] #8163 closed

[2020-07-20 15:46] cesswairimu commented on #8143
Anyone up for opening this week's check-in?

[2020-07-20 17:22] jywarren opened #8170 "Slow response time in posting comments"
Just trying to document this more fully -- it's quite slow to post a comment, and I wanted to try to figure out why:

https://publiclab.org/notes/cess/07-20-2020/mega-workshop-2-by-rails-girls-kenya

I just posted this, and it took so long i had to stop recording the gif! But it posted just after i clicked stop:

![editor2](https://user-images.githubusercontent.com/24359/87966940-079a3400-ca8c-11e

[2020-07-20 17:25] Tlazypanda commented on #8170
@jywarren Sure, I will definitely check this out can you please merge the skylight pr #8103  so that I can check it out by pushing on unstable? Since it's a bit difficult to inspect if the performance is improving or not otherwise 😅 Thanks ✌️

[2020-07-20 17:28] Tlazypanda commented on #8143
@cesswairimu  🙌 I will take it up tomorrow if that's alright 😅

[2020-07-20 18:24] AntonioFry opened #8171 "'Follow' pop up menu overlaps with navigation bar"
When clicking on the arrow next to the 'Follow' button a menu appears. When scrolling down while this menu opens, it ends up overlapping with the navigational bar.

Image of bug:

![Pop up menu overlapping with nav bar](https://i.imgur.com/QfLOBon.png)

Link to page with bug: https://publiclab.org/tag/water-quality?_=1595188617

I came across the bug while using Google Chrome. Mentioning just in c

[2020-07-20 19:42] ebarry commented on #8171
wow good catch! Thanks for reporting @AntonioFry !

[2020-07-20 21:30] cesswairimu commented on #8143
sure its cool..thanks @Tlazypanda for always coming through :heart:

[2020-07-20 21:45] cesswairimu commented on #7737
It seems like this was solved in unliked PR. Closing this.... Thanks everyone

[2020-07-20 21:45] #7737 closed

[2020-07-21 08:36] Tlazypanda opened #8172 "Weekly Community Check-In #68 - Share new and exciting technologies/tools"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-07-21 08:36] Tlazypanda commented on #8172
@JapneetSingh5, @Neilblaze, @markkulube, @vinuch, @Tlazypanda, @icarito, @dependabot-preview[bot], @jywarren, @keshavsethi, @praaatik, @Janitham97, @imanishbarnwal, @dburugupalli, @adityakpranav, @ioampatzidis, @esiebomaj, @Alexjake660, @cesswairimu, @urvashigupta7, @daemon1024, @jscastanos @keshavsethi, @jywarren, @AyanChoudhary, @imajit,@NitinBhasneria, @nstjean, @marientje, @rutger-t, @Janet33,

[2020-07-21 08:36] Tlazypanda commented on #8172
@keshav234156, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04, @sssash18, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shulammite-Aso, @Jigyasa-Kumari @moliver4, @justinelai, @Snouzy, @stevenalila, @Digiox, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @theOpetunde, @sailahonkanen,

[2020-07-21 08:37] Tlazypanda commented on #8172
@Janet33, @TroydonAnabolic, @priyanshbalyan, @Medlineme4, @mandysGit, @msanden, @AidenOliver, @Janetsomehow, @AntroMarina, @llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-s, @goamoth, @SusannaDiV, @yusofsf, @nanlliu, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04 @adityakpranav @e

[2020-07-21 09:19] Tlazypanda commented on #7315
Hey @jywarren the `tag_selection_test `issue has been resolved in #8168 :v:

[2020-07-21 11:31] sagarpreet-chadha commented on #8172
Hi all,
I am working on a personal nodejs project, where i am using Sequelize to connect to mysql DB, also using typescript instead of javascript...a lot of boilerplate to write to support TS but it is fun!!!

Also i will open the check-in next week, if no one volunteers 🎉
Thanks!

[2020-07-21 11:33] Tlazypanda commented on #8170
@jywarren on researching this endpoint I figured there are some places where:-

- uids were extracted from users and then again passed to other functions where users are found using those ids. So instead of this better solution will be to directly pass user to avoid the query to find user using uid. (#8173 )
- n+1 queries in some templates which need to be eagerly loaded (need to eliminate these)

[2020-07-21 14:28] first-timers[bot] opened #8174 "Add filter to remove spammed accounts from tag contributors listing"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-21 14:33] jywarren commented on #8170
Amazing. Thanks for the swift response. Will check out that PR and i left a clarifying Q on the older one about skylight! Thanks!

[2020-07-21 15:18] jywarren commented on #7315
OMGGGG 🎉 🎉 🎉 🎉 🎉 🎉 🎉

Let's close this for now but re-open if this kind of thing happens again. Thank you so much, everyone and esp. @Tlazypanda and @cesswairimu !

[2020-07-21 15:38] #7315 closed

[2020-07-21 15:44] #8001 closed

[2020-07-21 16:15] Tristan-Elizabeth commented on #8174
Hey I can work on this :)

[2020-07-21 16:25] aakanchha01 commented on #8174
Can I work on this?

[2020-07-21 16:43] first-timers[bot] opened #8175 "Add an underline to the "choose one" link in wiki page image upload form"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-21 16:44] jywarren commented on #8174
Hi @Tristan-Elizabeth - we'd love your help, thanks! You can also ask for help if you get stuck in the [Weekly Check-in](https://github.com/publiclab/plots2/issues/8172)! Thanks! 🎉

@aakanchha01 i just opened a new one here: https://github.com/publiclab/plots2/issues/8175 if you'd like to give it a try! Just leave a comment "I'll try this one" or something like that! Thanks!

[2020-07-21 16:49] jywarren commented on #8172
Hi all! I wanted to echo @Tlazypanda  to celebrate @icarito this week because he's worked for a LONG time to re-encode and rebuild our database to ensure that both non-latin Unicode characters (도토리묵 😛 ) and Emoji 🎉 💯  work on our website. They now do -- give it a spin!

As to new exciting tools, obviously you've seen me get excited about GitPod over the past few weeks. 😄

I'm excited not only beca

[2020-07-21 16:50] jywarren commented on #8143
Closing this one up! Thanks!

[2020-07-21 16:50] jywarren commented on #8156
Good idea! I agree. I think that's a great idea!

[2020-07-21 16:55] jywarren commented on #8146
Closing this as it's been solved in #8148, thank you!

[2020-07-21 16:55] #8146 closed

[2020-07-21 16:56] #8155 closed

[2020-07-21 16:58] jywarren commented on #8155
Thanks, all! @cesswairimu thank you for your caution - this kind of design change is usually something we're pretty cautious about - both because it's a high-visibility page, and because we try to seek some broad consensus on design changes before starting a PR on it.

But, in this case @HashTalmiz is completely correct and the centering looks great! 🎉

Thanks to @HashTalmiz @cesswairimu @sagarpre

[2020-07-21 16:59] jywarren commented on #8155
And thanks to @ARobinson26 and @N0v0cain3 for your offer to help! We'd love your help on another one. One thing is to look through old first-timers-only issues as there are some where people are stuck and need help, or just aren't available anymore! Feel welcome to be friendly and pitch in! 🎉

[2020-07-21 17:00] jywarren commented on #6747
This is a great idea and we've completed it in https://github.com/publiclab/plots2/pull/8145 ! Thank you!

[2020-07-21 17:00] #6747 closed

[2020-07-21 17:36] aakanchha01 commented on #8175
I'll try this one

[2020-07-21 17:52] aakanchha01 commented on #8175
@jywarren I have created a pull request for this issue. Please review :)

[2020-07-21 18:35] Tlazypanda commented on #8172
Hey @jywarren I think that's a superb idea :heart: since it can really take away some of the heavy lifting for new contributors and make the process fairly easy for them :tada:

@sagarpreet-chadha I also want to try typescript :smile:

While I haven't been able to do much  learning lately I have my eyes set on learning some functional programming (hope i don't procrastinate on this one :p)

This w

[2020-07-21 18:44] ebarry commented on #8128
Yes (but am still asking other people if they have opinions)

Yes

I'll ask people!

Having the two options of print seems fine. I haven't thought of any others! I will ask some people however.

[2020-07-21 18:48] Tlazypanda commented on #8128
Thanks @ebarry ❤️ also can you review my above message as well where I have shared the modified design? Thanks ✌️

[2020-07-21 18:54] ebarry commented on #8128
From your designs above, i see there are some graphic design choices like:

- Notes have left-justified titles with co-authors shown in a vertical stack
- Wiki titles are centered with co-authors listed horizontally
- links appear in the text in parentheses, in slightly lighter color

These all look great!
Can you describe how images are handled? Do they print in the same way they are displayed on

[2020-07-21 18:54] ebarry commented on #8128
You can also jump on https://pad.publiclab.org/p/opencall https://zoom.us/j/934187763   right now to talk to @steviepubliclab

[2020-07-21 19:15] #8103 closed

[2020-07-21 20:23] jywarren commented on #8167
I think this would be great. I think it ought to apply to the `.alerts-container` class, but only on this page -- could we do it as inline CSS? Because in other contexts, it seems it ought to display as it had before.

[code]

these seem pretty good!

Would you like to try inserting it in this inline style block?

https://github.com/publiclab/plots2/blob/122e8a73b440bb752f080375aad3f24a02b7c8f9/ap

[2020-07-21 20:24] jywarren commented on #8167
And, what I did was, log in from that page, and you get directed back with the alert showing! It then hides itself, but you can use the inspector to delete `display:none` if you want to try working on it more. Thank you!!!

[2020-07-21 21:02] jywarren commented on #6855
Just confirming that on the live site, we now see:

* https://publiclab.org/tag/Climate-change in all variations counts properly
* https://publiclab.org/contributors/Disaster-response same!

[2020-07-21 21:16] jywarren opened #8177 "Duplicate records due to .group() changes for gitpod mysql fixes"
I'm concerned that the expansion of `.group()` calls in https://github.com/publiclab/plots2/pull/8152 has created some incorrect outcomes.

Responding to errors such as:

we expanded the `.group()` terms by a lot:

https://github.com/publiclab/plots2/pull/8152/files#diff-4e05ad0d64e6100656b63ad1e78f32c5R141

When doing this in #8048 i realized that doing something similar there (`.group('term_data

[2020-07-21 21:20] jywarren commented on #7334
So we should confirm that all counts are coming from the respective `Tag.count` style methods. Key areas are here:

https://github.com/ckchu8/plots2/blob/0fbcc07bd61fd238d88779e49a3fbd2e300ef041/app/controllers/tag_controller.rb#L542-L561

And on tag cards, for example on https://publiclab.org/tags

[2020-07-21 21:27] jywarren commented on #7334
Just noting that the original issue at top may be a special case. I see in the DB that we're fetching these three pages:

* https://publiclab.org/n/3928 https://publiclab.org/wiki/newsletter (`Public Lab Community Newsletter`)
* https://publiclab.org/n/4965 https://publiclab.org/newsletter (`Newsletter`)
* https://publiclab.org/wiki/subscribe

Only the middle one is the correct one. The first may

[2020-07-21 21:31] jywarren commented on #8177
`.group('node_revisions.nid, node_revisions.vid')` in wiki controller should be OK because the `vid` doesn't seem to be making the nodes appear twice.

[2020-07-21 21:32] jywarren commented on #8177
Darn, the users_controller changes do cause duplicate entries:

![image](https://user-images.githubusercontent.com/24359/88109207-1c53f600-cb78-11ea-8c0f-af34463000d0.png)

[2020-07-21 21:34] jywarren commented on #8177
Changes to `node.rb` (`.group('community_tags.tid, community_tags.uid, community_tags.date, community_tags.created_at, community_tags.updated_at')` don't seem to have caused duplicate tag display on pages like this: https://stable.publiclab.org/wiki/barnraising (but that may not be a thorough search)

[2020-07-21 21:37] jywarren commented on #8177
Changes to `Tag.trending` don't seem to have caused trending tags to be messed up on the dashboard:

https://stable.publiclab.org/dashboard

So, I'm going to try reverting the /people page one. We may have to rework that query.

Also noting `rails c` doesn't work because it tries to start too early, oh well:

https://github.com/publiclab/plots2/blob/daeb0960f9865c282db3a1ea14d995cb5d8774d6/.gitpod

[2020-07-21 21:38] #8166 closed

[2020-07-21 21:41] jywarren commented on #8177
And noting we still don't have a solution for these:

https://github.com/urvashigupta7/plots2/blob/e706f2e7418bc27b040b407f19c2320512e82cbb/app/controllers/tag_controller.rb#L21

Because changing them to `.group('term_data.name, node.nid, term_data.tid, community_tags.nid, community_tags.uid,
community_tags.date, community_tags.created_at, community_tags.updated_at')` causes duplicate records to a

[2020-07-21 21:48] jywarren commented on #8177
OK, now that #8178 is done, /people is broken again in GitPod. But let's try to solve it without causing duplicates!

[code]

[2020-07-21 22:39] cesswairimu commented on #8172
Hi everyone :wave:

I am currently learning elixir for a microservice I am suppose to rewrite in elixir.
Great week ahead  :balloon:

[2020-07-22 15:51] Tlazypanda commented on #8128
Hey @ebarry I am sorry I totally missed this since it was quite late in India at that time and fell asleep :sleeping:  I would love to know if there's a next call I can jump on :v:

To answer your question about the images they will be displayed the same way they are on the wiki :sweat_smile:

Muchas gracias for the review :heart:

[2020-07-23 16:38] OmLakshmi commented on #8175
I'm a newbie to OS, i would like to try this one

[2020-07-23 16:45] OmLakshmi commented on #8175
I would like to take this one

[2020-07-23 18:27] sagarpreet-chadha commented on #8175
Hey @aakanchha01 , i think you have made PR in the forked repository which is like your local repository. You need to make PR against this `publiclabs/plots2` repository. You can change the base branch of your PR by directly editing the PR and changing to publiclab/plots2.
Let us know if you need any help 🎉 💯

Hi @OmLakshmi , this issue is already taken up...can you try to claim other first timers

[2020-07-23 19:18] cesswairimu commented on #8156
Great, thank you  both...converting this to an fto

[2020-07-23 19:30] cesswairimu commented on #8156
Hi @nsachin08, please feel free to claim this issue if you haven't gotten an fto yet. Thanks

[2020-07-23 19:30] cesswairimu commented on #7683
@nsachin08 here is an fto for you https://github.com/publiclab/plots2/issues/8156

[2020-07-23 19:42] cesswairimu opened #8180 "Add placeholder to text box in editor"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-23 19:45] cesswairimu commented on #8136
I have created an fto here https://github.com/publiclab/plots2/issues/8180 to add a placeholder for this hopefully this will make a little difference...I am closing this since its not a bug but its deactivated until the body content is input by design. Thanks

[2020-07-23 19:45] #8136 closed

[2020-07-23 19:47] cesswairimu commented on #7683
Hi @Rohit-786, here is an fto  for you https://github.com/publiclab/plots2/issues/8180 if you still haven't gotten one. Thanks for the patience

[2020-07-23 19:47] cesswairimu commented on #8180
@Rohit-786 here is an fto for you

[2020-07-23 20:02] ijeomaemeruwa commented on #7683
Hello please i haven't gotten an FTO, i would also like to work on
javascript issues, if that is possible, but i'm also open for a challenge
with other programming languages. Thank you so much!

On Thu, Jul 23, 2020 at 8:47 PM Cess <notifications@github.com> wrote:

[2020-07-23 20:59] samarakoon-ryan commented on #8180
I'd like to claim this.

[2020-07-23 21:43] Tlazypanda opened #8182 "Removing n+1 queries related to tags"
**Please describe the desired behavior.**
Currently we have n+1 queries that can slow down the app server response timing. We need to eliminate these n+1 queries using eager loading by adding include statements wherever required.

The sidebar which is present in all #show methods for notes,wiki etc has tag elements that have methods such as name which are being called over NodeTag without includin

[2020-07-24 08:44] aakanchha01 commented on #8175
@sagarpreet-chadha oh okay. I have created a new PR with base repo as publiclab/plots2. Please let me know if something with the new PR is still incorrect. Also, there was an option to edit the branch in the old PR but  I couldn't find option to change base repo. Might be, I am missing something. Thanks for your help :)

[2020-07-24 08:58] yusufatalay commented on #8180
I'd like to claim this.

[2020-07-24 09:13] dmoini commented on #7683
I would like to be added to this list and preferably be given a task related to JavaScript.

[2020-07-24 14:29] cesswairimu commented on #7683
Hi @ijeomaemeruwa and @dmoini , sure thing...I added your names to the list and we will try to get something for you both soon...Thanks

[2020-07-24 14:34] cesswairimu commented on #8180
Hi @yusufatalay seems like @samarakoon-ryan  beat you to it...I am adding your name here https://github.com/publiclab/plots2/issues/7683 and we will ping you when something comes up...Thanks

[2020-07-24 14:46] OmLakshmi commented on #8175
Hello  @sagarpreet-chadha I couldn't find any fto's that weren't claimed already.

[2020-07-24 14:54] cesswairimu commented on #7683
@ijeomaemeruwa  here is a javascript fto https://github.com/publiclab/PublicLab.Editor/issues/571 please leave a comment saying you will be working on it asap before someone else claims it

[2020-07-24 15:03] OmLakshmi commented on #7683
@cesswairimu Hey , are there any issues I can work on?

[2020-07-24 15:13] cesswairimu commented on #7683
Hi @OmLakshmi I am looking around to find issues...which ones do you prefer...ruby or js?

[2020-07-24 15:19] OmLakshmi commented on #7683
@cesswairimu I would prefer JS

[2020-07-25 12:04] Tlazypanda opened #8187 "Eliminate n+1 query for node.main_image"
**Please describe the desired behavior.**
Wherever we are calling the function node.main_image, the nodes don't include/eager-load the images model which leads to n+1 queries.
Example: - _topicCard.html.erb line 18
Triggered from node.rb line 327 method- main_image

**Additional context (optional)**
We need to include the images model for nodes in these templates where this function is called to p

[2020-07-25 12:09] Tlazypanda commented on #8187
@icarito @jywarren I have been trying to solve this for a long time but simply including `.includes(:images)` to the query is not solving it and I suspect it is because in `main_images` we are returning the image in an ordered way like ` images.where(id: main_image_id).first` so I think it is making another db call for this ordering :sweat_smile: can you please check this out and help me solve Tha

[2020-07-25 12:37] Tlazypanda opened #8188 "Eliminate n+1 query for revision.path method"
**Please describe the desired behavior.**
Wherever we are calling the function revision.path, the nodes don't include/eager-load the node model which leads to n+1 queries.
Example: - `_node_wiki.html.erb` line 14
Triggered from `revision.rb` line 69 method-` path`

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.

[2020-07-25 12:55] Tlazypanda opened #8189 "Eliminate n+1 query for user.tagnames"
**Please describe the desired behavior.**
Wherever we are calling the function `user.tagnames`, the users don't include/eager-load the tag model which leads to n+1 queries.
Example: - `list.html.erb` line 70 (user.tags function is called which in turn calls the user.tagnames function)
Triggered from `user.rb` line line 161 method- `tagnames`
Can check this on /people route

**Additional context (o

[2020-07-25 16:29] sagarpreet-chadha commented on #8189
Hi @Tlazypanda ,
So eager loading this query, we will make 1 huge query instead of n queries, is it?

[2020-07-25 16:33] Tlazypanda opened #8194 "Replace all instances of .length and .count with .size"
**Please describe the desired behavior.**
In case of length, it aims to fetch all the entries of the db till the length is reached and then calculate the count. This leads us to unnecessarily fetching all the records.

Book.all.length
Book Load (1.3ms)  SELECT "books".* FROM "books"
=> 100
books = Book.all
Book Load (1.3ms)  SELECT "books".* FROM "books"
books.length
=> 100

While .count only calc

[2020-07-25 16:35] Tlazypanda commented on #8194
@jywarren @cesswairimu @icarito what do you think about this? I think replacing all instances of this with .size may solve some existing sql repitions flagged by skylight. :sweat_smile:

[2020-07-25 16:37] Tlazypanda commented on #8189
Yeah :sweat_smile: but I am not sure if the code is right for this because it's not making much of a difference on my local setup so am not able to monitor

[2020-07-25 20:46] sagarpreet-chadha commented on #8194
Wow @Tlazypanda 💯
The time reduction from 1.3ms to 0.3 ms is really cool!!!
You can make many FTO's from this issue as well. Let's see what Jeff has to say regarding this. Thanks 😄

[2020-07-26 18:49] Shokescodes commented on #8180
Hi, I'd love to claim this.

[2020-07-27 14:31] cesswairimu commented on #8172
Hi everyone,
@keshavsethi and I have been trying to solve the recent travis failures over the weekend on https://github.com/publiclab/plots2/pull/8186...no luck yet..any ideas are welcome...seems like the travis-ci changed the chrome version or smth so the driver install is failing...the error is
[code]

also @sagarpreet-chadha no one claimed this week's check-in so its all yours. Thanks

[2020-07-27 15:01] sagarpreet-chadha commented on #8172
Hi @cesswairimu , I will try to search for this 😄
Okay thanks, i will the make the check-in tomorrow morning IST 💯

[2020-07-27 15:18] ebarry commented on #8128
Great! There is an open call every Tuesday at 3pm ET / 12:30AM midnight for India time -- which is not great - sorry! https://pad.publiclab.org/p/opencall
Here are the pages that Mimi highlighted as having difficulty printing because of having so many images:

* https://publiclab.org/notes/bronwen/05-07-2018/microscope-webcam-conversion
* https://publiclab.org/notes/warren/12-13-2017/assembling-th

[2020-07-27 18:50] icarito commented on #8194
I think this is very important work and might be urgently needed. I've enabled Slow SQL query logs on our Google Cloud SQL instance in order for us to know for sure which queries are the ones that are slowing things down. Thank you for this work.

[2020-07-27 18:56] icarito commented on #8187
Thanks!
I think you are onto something here.
My plan is to analyze the Slow SQL queries output log and single out the slow queries so that we can figure out how they are slow. N+1 queries on large tables may very well be it!

[2020-07-28 01:50] gabrielbaldao commented on #8194
Is anyone already working on this refact? or can i try to do that?

[2020-07-28 13:14] #8172 closed

[2020-07-28 13:19] sagarpreet-chadha commented on #8172
New check-in opened in PL editor https://github.com/publiclab/PublicLab.Editor/issues/578

[2020-07-28 14:10] jywarren commented on #7334
Jeanette from PL noted this page also has an elevated number of wiki pages listed on the tab count:

![image](https://user-images.githubusercontent.com/24359/88676289-e5bb3580-d0b9-11ea-8f48-4a4173d6b260.png)

83 is a much bigger error than what @keshavsethi had found, as only 6 wiki pages are shown. We can go into the database directly to just skim what those wiki pages actually are, in the query

[2020-07-28 15:02] Tlazypanda commented on #8128
Hey Liz!  @ebarry Thanks so much for the invite but I am afraid it's a bit too late and I have some college work in the morning so I won't be able to join :sweat_smile: Can you please review the following changes? Thanks :heart:

As for these pages here are some changes I have made to make the images printing better: -

![Screenshot from 2020-07-28 19-01-55](https://user-images.githubusercontent.c

[2020-07-28 15:51] icarito opened #8198 "Let's optimize this queries please"
Hi,
We're having some performance issues and hope it can be alleviated by optimizing a few queries.

Thanks for helping with this!

Here's our slow query log for today:

[code]

[2020-07-28 15:56] icarito commented on #8198
This shows most issues with the `node` and `node_revisions` tables. This is consistent with the slower routes being WikiController, NotesController, QuestionsController, I think...

![image](https://user-images.githubusercontent.com/199755/88690119-f0c59400-d0c0-11ea-91c8-58e850a24846.png)

[2020-07-28 15:59] icarito commented on #8198
Also many of these perform COUNT? looking at the queries there's also a lot of:
[code]
Does that also perform COUNT? It seems that on large tables COUNT is slow.

[2020-07-28 20:44] jywarren commented on #8177
Very strangely, I found that, in GitPod, in the rails console, I was able to run the whole Rails statement and it completed without an error:

[code]

Very strange! When you run a diff on the generated SQL from what I'm running in the console vs. what is rendering on the Rails app page at the `/people` route, which runs the SAME Rails statement, the SQL from both is essentially identical!

[code]

[2020-07-29 01:12] jywarren opened #8199 "Remove Less and less-rails gems, including the-ruby-racer and v8?"
Do we use Less? It requires v8 and the-ruby-racer, which are pretty heavy.

https://github.com/publiclab/plots2/tree/main/app/assets/stylesheets doesn't have any .less files

https://github.com/publiclab/plots2/tree/main/app/assets/less hasn't changed in 6 years and i think we don't use lightbox anymore. Shall we just remove it and get both `the-ruby-racer` and `less` out of our Gemfile?

[2020-07-29 01:12] jywarren commented on #8199
https://github.com/metaskills/less-rails

[2020-07-29 17:07] sagarpreet-chadha commented on #8198
Not sure if we are already doing caching, but definately we can cache result of some sql queries (especially for heavy queries) at rails server.
More on how to do caching:
https://guides.rubyonrails.org/caching_with_rails.html#sql-caching

[2020-07-29 20:23] Tlazypanda commented on #8198
@icarito Thanks for noting the individual queries :v: I have some open prs but since we haven't setup skylight on unstable/stable without merging them we can't really note the difference :sweat_smile: cc @jywarren

[2020-07-29 21:36] #8188 closed

[2020-07-29 21:36] #8189 closed

[2020-07-30 06:56] icarito commented on #8198
Thanks! I've added some more info from the last couple of days and ran it thru the request-log-analyzer script, the results are found here:

http://tycho.media.mit.edu/logs/mysql-slow.html

[2020-07-30 08:33] shreyaa-sharmaa opened #8202 "Error in accessing `/dashboard`"
### Please describe the problem (or idea)

I can't access the `/dashboard`.
After running `passenger start`, I landed up on the home page. Logging in leads to this error and refreshing the page doesn't work. I can access other pages by typing the address, they work fine.

![Screenshot from 2020-07-30 13-47-59](https://user-images.githubusercontent.com/66686803/88899644-eeec0400-d26b-11ea-9794-7625

[2020-07-30 15:15] marciojunior88 commented on #8180
I'd like to claim this.

[2020-07-31 03:20] keshavsethi commented on #8202
@shreyaa-s @jywarren It will be solved in https://github.com/publiclab/plots2/pull/8186

[2020-07-31 11:31] cesswairimu commented on #8194
This is great :+1: , I agree with the ftos idea @sagarpreet-chadha ...I will make some and assign them to the folks in the FTO waiting list...I will try to start with the queries that seem to be slowing queries so that we can escalate as @icarito  mentioned

@gabrielbaldao  I will ping you on the first issue that I create for this in the next few

Thanks everyone

[2020-07-31 11:35] cesswairimu opened #8204 "Replace .count and .length in node model with .size"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-31 11:37] cesswairimu commented on #8204
@gabrielbaldao here you go

[2020-07-31 11:45] cesswairimu opened #8205 "Replace .count and .length in tag model with .size"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-31 11:50] cesswairimu opened #8206 "Replace .count and .length in user model with .size"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-31 11:53] cesswairimu opened #8207 "Replace .count and .length in statistics concern with .size"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-31 11:54] cesswairimu commented on #7683
Hi everyone few updates
@habeckmatt -  https://github.com/publiclab/plots2/issues/8205
@hiteshsubnani0128 - https://github.com/publiclab/plots2/issues/8206
@OmLakshmi  I couldn't get a JS fto for you https://github.com/publiclab/plots2/issues/8207 ...you could poke around our other repos for some js stuff after this and you can find some issues t work on. Thanks

[2020-07-31 11:56] cesswairimu opened #8208 "Replace .count and .length in comment model with .size"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-31 12:00] Tlazypanda commented on #8194
Hey everyone 👋 Just noting here that sometimes test might fail for moving from .length to .size so whenever we are creating ftos we might need to take this into consideration and check 😅

[2020-07-31 12:00] cesswairimu opened #8209 "Replace .count and .length in the tag controller with .size"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-31 12:00] Tlazypanda commented on #8194
Also for the slow routes I will try to mark the ones which we can get started with in a day or two or the ones in which tests don't fail ✌️

[2020-07-31 12:04] cesswairimu commented on #7683
@dmoini  here  https://github.com/publiclab/plots2/issues/8208
@yusufatalay here is one for you too https://github.com/publiclab/plots2/issues/8209

Thanks everyone for your patience

[2020-07-31 12:13] yusufatalay commented on #8209
i would like to claim this

[2020-07-31 12:13] OmLakshmi commented on #8207
@cesswairimu Thank you , I'll work on this

[2020-07-31 12:29] #8156 closed

[2020-07-31 12:34] #8207 closed

[2020-07-31 12:37] cesswairimu commented on #8209
Go ahead @yusufatalay

[2020-07-31 12:40] Samasth commented on #8208
@cesswairimu I am new here, can I please work on this issue?

[2020-07-31 12:44] Samasth commented on #8205
@cesswairimu I am new here, can I please work on this issue?

[2020-07-31 12:47] cesswairimu opened #8211 "Replace .length on spam controller with .size"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-31 12:50] cesswairimu commented on #8208
Hi @Samasth , this is assigned to someone...I have created another one for you...feel free to claim it https://github.com/publiclab/plots2/issues/8211

[2020-07-31 12:53] malaikaaiyar commented on #8211
Hi could I claim this issue? I've only made one pull request on here but I think I can do this.

[2020-07-31 12:54] cesswairimu commented on #8205
Hi @Samasth , this is assigned to someone...I have created another one for you...feel free to claim it #8211

[2020-07-31 12:57] Samasth commented on #8211
@cesswairimu I woukd like to claim this issue.

[2020-07-31 12:58] cesswairimu commented on #8211
Go ahead @Samasth , @malaikaaiyar I am finding an issue for you in a few

[2020-07-31 12:59] malaikaaiyar commented on #8211
@cesswairimu thanks!

[2020-07-31 13:04] cesswairimu opened #8212 "Replace .length and .count on stats controller with .size"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-31 13:05] cesswairimu commented on #8211
@malaikaaiyar here you go https://github.com/publiclab/plots2/issues/8212

[2020-07-31 13:06] malaikaaiyar commented on #8212
@cesswairimu So I can claim this one?

[2020-07-31 13:07] davidgoldcode commented on #8212
Could you recreate one for me? 😃

[2020-07-31 13:07] cesswairimu commented on #8212
sure go ahead @malaikaaiyar

[2020-07-31 13:08] cesswairimu commented on #8212
Hi davidgoldcode, let me see what I can do

[2020-07-31 13:20] cesswairimu opened #8213 "Replace .length with .size on the admin controller"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-31 13:21] cesswairimu commented on #8213
@davidgoldcode here you go

[2020-07-31 14:18] Jolios commented on #8208
Hi, can i work on this issue

[2020-07-31 15:18] cesswairimu commented on #8212
@davidgoldcode here is one for you https://github.com/publiclab/plots2/issues/8213

[2020-07-31 15:19] cesswairimu commented on #8208
Hi @Jolios, sure go ahead

[2020-07-31 15:45] #8202 closed

[2020-07-31 16:05] #8212 closed

[2020-07-31 16:09] #8211 closed

[2020-07-31 16:17] cesswairimu commented on #8180
Hi @Shokescodes and @marciojunior88 someone is alreaasy working on this  I've added your names,  here  https://github.com/publiclab/plots2/issues/7683 we will try to get ftos for you both asap . Thanks

[2020-07-31 16:28] #8180 closed

[2020-07-31 19:49] Shokescodes commented on #7683
Hi Ma'am
Still waiting to be assigned an FTO @cesswairimu . Please help.

[2020-07-31 20:25] dmoini commented on #7683
@cesswairimu Someone has already worked on #8208 and submitted a PR.

[2020-07-31 20:39] cesswairimu opened #8220 "Replace .length and .count with .size on the users controller"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-31 20:40] cesswairimu commented on #7683
@dmoini you can claim this one https://github.com/publiclab/plots2/issues/8220

[2020-07-31 20:46] cesswairimu commented on #7683
@Shokescodes , please call me  Cess. We will ping you with a fto within the  weekend. Thanks

[2020-07-31 20:54] cdobbs-code-repo commented on #8220
Claiming this issue. Will make pull request shortly.

[2020-07-31 22:22] Shulammite-Aso opened #8223 "Setup Atwho data module for autocompletion"
**Please describe the desired behavior.**
Describe the solution you'd like.

Following the discussion [here ](https://github.com/publiclab/PublicLab.Editor/issues/8#issuecomment-665628384) we'll need to setup Atwho.js data module to able to autocomplete authors, wiki pages, and emojis.
I'm going to be making a PR for this soon

**Additional context (optional)**
Feel free to include any applicable:

[2020-08-01 16:33] Shokescodes commented on #7683
Alright. Thank you Cess.

[2020-08-01 17:08] cesswairimu opened #8224 "Replace count with size on the home_controller"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-01 17:09] cesswairimu commented on #7683
@Shokescodes  here you go https://github.com/publiclab/plots2/issues/8224

[2020-08-01 17:10] cesswairimu commented on #8224
Reserved for @Shokescodes

[2020-08-01 17:26] cesswairimu opened #8225 "Align body placeholder on /post"
We added a placeholder on the body text field on #8180
The placeholder looks great locally put it a little outside the text-area on stable  https://stable.publiclab.org/post

The file is  https://github.com/publiclab/plots2/blob/main/app/views/editor/rich.html.erb

![Screenshot from 2020-08-01 20-12-56](https://user-images.githubusercontent.com/17081074/89106764-3bcf0680-d435-11ea-8736-d73b4d8ba17

[2020-08-01 20:18] jywarren opened #8226 "Add a "related topics" section under tag card header"
I accidentally committed this (getting used to GitPod interface, sorry) so we can remove this, because I only meant to test it out. But if we like it, we can keep it:

https://github.com/publiclab/plots2/commit/b7bcbf23d7f2d75bdcfb0117f10f9c5582fd2f4b

You can try it out here: https://stable.publiclab.org/tag/water-quality

Basically it shows a plus icon next to the tagname. When you click it, it

[2020-08-01 21:23] AgyeyaMishra commented on #8206
Claiming this issue. Will make a pull request shortly.

[2020-08-02 05:51] Hunahpu23 commented on #8175
So is this assigned already or not? Tags say it's not assigned yet, but there are comments here.

[2020-08-02 08:57] sagarpreet-chadha commented on #8226
Looks great 💯

Just 2 things I noticed:
1. In mobile view, the tags are overflowing.
2. We should add an animation when showing these tags instead of instant rendering, or maybe rendering  each after 0.1 seconds or so maybe

[2020-08-02 09:00] sagarpreet-chadha commented on #7683
Wow @cesswairimu , thanks for making so many FTO's 🎉 🎉 🎉

[2020-08-02 09:47] sagarpreet-chadha commented on #8223
Awesome, thanks!!! 💯

[2020-08-02 11:48] galanggg commented on #8225
Hello @cesswairimu is it look good to you? let me know thanks
![Screenshot from 2020-08-02 19-42-32](https://user-images.githubusercontent.com/21099312/89122278-941b0c80-d4f8-11ea-8294-25d0d6fc003b.png)

[2020-08-02 13:56] cesswairimu commented on #8225
@galanggg ,..yeah it looks great...we need to make sure it looks the same here https://stable.publiclab.org/post though

[2020-08-02 21:35] avats-dev commented on #8167
### Hey @jywarren , this looks stale, can I work on this?

[2020-08-02 21:46] avats-dev commented on #7812
#### Is this issue needs to be worked on? @sashadev-sky @cesswairimu

[2020-08-02 21:48] avats-dev commented on #7683
**Hey, I would also like to contribute.**

[2020-08-03 14:12] #8208 closed

[2020-08-03 14:25] cesswairimu commented on #7683
Hi @avats-dev , adding your name to the list...we will ping you when we get a fto. Thanks

[2020-08-03 14:26] #8206 closed

[2020-08-03 14:38] cesswairimu commented on #7812
Hi @avats-dev , let me check if the issue is still there

[2020-08-03 14:42] cesswairimu commented on #7812
This was solved on this PR https://github.com/publiclab/plots2/pull/7981 . Closing this... @avats-dev  seen your name is on the fto list, we will ping you when smth comes up thanks

[2020-08-03 14:42] #7812 closed

[2020-08-03 17:41] avats-dev commented on #7812
@cesswairimu ok.

[2020-08-03 21:42] Shulammite-Aso opened #8229 "add tags input (matching legacy editor of note editor) to new wiki form and wiki editing page."
**Please describe the desired behavior.**
Describe the solution you'd like.

This is a feature request by the PL staffs, to have the new wiki form and wiki editing page include field for tag input.

will be working on this soon.

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.

[2020-08-03 23:28] keshavsethi opened #8230 "Add tags in modals of Nodes in Spam2"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-03 23:36] keshavsethi opened #8231 "Change Button size in spam2/_nodes.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-03 23:41] keshavsethi opened #8232 "Change Button Size in spam2/_flags.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-03 23:53] keshavsethi opened #8233 "Change Button size in spam2/_comments.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-04 00:34] keshavsethi opened #8234 "Show Node Count in spam2/flags"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-04 00:37] pvash1070091 commented on #8233
This can be my fist contribution.Can i solve this ?

[2020-08-04 00:40] keshavsethi commented on #8233
Hey @pvash1070091, Welcome to Public Lab, Sure go ahead with this. If you find any issue, feel free to ask.
Thanks!!

[2020-08-04 01:28] renugasaraswathy commented on #7683
Hi @cesswairimu, I would like to contribute. Please assign me an issue. Thanks

[2020-08-04 02:18] juliawithers commented on #8234
I think I'd like to give this a try.

[2020-08-04 06:30] pvash1070091 commented on #8233
Hello, I am new here. I am little bit confused. I have done the changes in the file and commited the changes. What should i do next
?

[2020-08-04 06:35] siddhama commented on #8232
Thanks @keshavsethi. I'll be glad to work on this.

[2020-08-04 06:44] pvash1070091 commented on #8233
Also how to test the changes? @keshavsethi

[2020-08-04 07:29] siddhama commented on #8232
@keshavsethi I have made changes, but I am not clear with tests? How to test changes?

[2020-08-04 07:43] cesswairimu commented on #7683
@avats-dev you can work on this  https://github.com/publiclab/plots2/issues/8231 and  Hi @renugasaraswathy  :wave: you can work on thia https://github.com/publiclab/plots2/issues/8230 . Thanks @keshavsethi  for opening these :tada:

[2020-08-04 07:50] keshavsethi commented on #8233
@pvash1070091 Login as a moderator. Change URL to http://localhost:3000/spam2/comments/filter/all/30, and check the button size. If you have any issue with setup then go through README.
If the table is empty then
Go to http://localhost:3000/comments/ and mark "Example Comment " as spam. then you will be able to see to that comment and buttons in spam2/comments
Thanks!!

[2020-08-04 08:16] renugasaraswathy commented on #8231
Hi, I am picking up this issue. Thanks..

[2020-08-04 08:17] renugasaraswathy commented on #8230
Hi, I am picking up this issue. Thanks.

[2020-08-04 08:30] cesswairimu commented on #8231
Great :tada:

[2020-08-04 10:18] siddhama commented on #8232
@keshavsethi I have made changes. Please review :)

[2020-08-04 10:58] renugasaraswathy commented on #8230
Have submitted a pull request for this #8238. @cesswairimu @keshavsethi Kindly review.

[2020-08-04 10:59] renugasaraswathy commented on #8230
@keshavsethi I would also like to where to write tests for the change I made. Thanks.

[2020-08-04 11:20] NitinBhasneria opened #8239 "Image upload in Comment Section"
Currently, the image cant be uploaded in the comment section.
![sss](https://user-images.githubusercontent.com/44112080/89287991-8a1d1900-d672-11ea-8908-c7dad6972a03.png)

cc: @sagarpreet-chadha @cesswairimu @jywarren

I will be working on this.

[2020-08-04 12:54] NitinBhasneria commented on #8239
OK, so drag and drop is working fine. While the choose file button is not at all working.

[2020-08-04 14:00] elpablitos commented on #8175
I'm interested if it's not assigned to anyone yet.

[2020-08-04 14:04] NitinBhasneria commented on #8239
The image button is fixed.
Next: going to repair the reply on the comment.

[2020-08-04 14:29] jywarren commented on #8223
Hi @Shulammite-Aso this is looking really good. It does seem like the docs at https://github.com/publiclab/PublicLab.Editor#atwhojs-data-module are pretty good. Once you create a PR I can help debug or troubleshoot if you need! Esp. using the GitPod setup. Thank you!

[2020-08-04 15:31] SANJAY072000 commented on #8233
Can I work on this, if no one already claimed a PR?

[2020-08-04 16:04] SANJAY072000 commented on #7507
@cesswairimu I think instead of going to the profile we should have a list of all with a toggle button beside each list item to ban or unban profile corresponding to that list item

[2020-08-04 16:15] jywarren commented on #8239
Looking great! I think the javascript console output has some clues 🕵️

[2020-08-04 16:22] NitinBhasneria commented on #8239
completed in #8240 have l look.😁

[2020-08-04 16:41] jywarren commented on #8229
Just chiming in with some code links!!!

the tags form from the notes legacy editor, which should work: https://github.com/publiclab/plots2/blob/92834ead6c53d6d9431bb99024d4044b282518be/app/views/editor/post.html.erb#L93-L98

Maybe we can excerpt it into a [partial template](https://guides.rubyonrails.org/layouts_and_rendering.html#using-partials), and just include it in the wiki editor too?

And

[2020-08-04 16:42] jywarren commented on #8167
Yes, that would be great, thank you @avats-dev -- and if @AntonioFry finds more time I'm happy to help find a new issue for you too!

[2020-08-04 16:53] jywarren commented on #8115
Agree! Sorry for slow reply here, but this sounds great, thank you for the catch @Tlazypanda

As to the restyling, I think that could work too but perhaps that splits this into 2 issues? Thank you!

[2020-08-04 17:01] jywarren commented on #7507
Hi, i think one issue here is that we are aiming to have very maintainable code and so are a little hesitant to add complex interfaces in duplicate. I wonder if we could do 2 things:

1. could we format the `banned` label a bit? Off topic, but it looks a little funny, no?
2. could we have, on a second line in the popup, something that says `Unban on profile` and link to the profile? this wouldn't

[2020-08-04 17:16] jywarren commented on #8226
aww good catch Sagarpreet, for mobile. Can you screenshot?

Also can we do animation using bootstrap classes or with a simple inline css?

Thanks for the great ideas!

[2020-08-04 18:19] shreyaa-sharmaa opened #8241 "Add a button for uploading images to the Wiki Editor toolbar that would look similar to the Rich Editor's button"
To add images:
![prompt2](https://user-images.githubusercontent.com/66686803/89438215-2d028f80-d766-11ea-8174-3546cf74dc3d.png)

Toolbar iteration 1:
![tool](https://user-images.githubusercontent.com/66686803/89438180-1fe5a080-d766-11ea-80c0-4ae8eb11e89d.png)

[2020-08-04 18:26] shreyaa-sharmaa commented on #8241
@jywarren what do you think?

[2020-08-04 18:32] jywarren commented on #7334
OK! The disparity, for the `method` tag, is these different queries:

[code]

I'll look at the code behind them to confirm what's going on.

Here is the tab count: https://github.com/publiclab/plots2/blob/92834ead6c53d6d9431bb99024d4044b282518be/app/controllers/tag_controller.rb#L542-L561

It references `Node.for_tagname_and_type`:

https://github.com/publiclab/plots2/blob/122e8a73b440bb752f080375

[2020-08-04 18:33] jywarren commented on #7334
Both segments of code are significantly complicated by `parent` tag references.

[2020-08-04 18:36] jywarren commented on #7334
OK, so the difference is in the `limit` term:

[code]

Let's track where the limit is being set on https://publiclab.org/wiki/tag/method

But, a follow-up could be to consolidate this code and/or remove the `parent` functionality.

[2020-08-04 18:37] icarito commented on #8177
Hi,
I believe I know that sql_mode needs to be changed to either: TRADITIONAL,
or if that doesn't work, to NO_AUTO_CREATE_USER,STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION (which is the default minus the problematic *ONLY_FULL_GROUP_BY* which is what is giving us problems. I tried changing this by adding:
[code]
in database.yml.gitpod and also directly in database.yml, and restarted the workspace, b

[2020-08-04 18:52] jywarren commented on #7334
So, the query for the listing of wiki pages in the table below on /wiki/tag/method is: https://github.com/publiclab/plots2/blob/92834ead6c53d6d9431bb99024d4044b282518be/app/controllers/tag_controller.rb#L117

I /believe/ none of these have parent tag issues, having checked in the db. So we're left with a strange mystery of pagination, which I can't quite figure out.

Each of these pages show a dif

[2020-08-04 18:58] jywarren opened #8242 "qids optimization on /wiki/tag/method ?"
Hi @Tlazypanda -- i found this line which results in a query for 1600 records in our production db, for pages like https://publiclab.org/wiki/tag/method

https://github.com/publiclab/plots2/blob/92834ead6c53d6d9431bb99024d4044b282518be/app/controllers/tag_controller.rb#L131-L132

I think it's worth hunting through the blame history to see what this is all about: https://github.com/publiclab/plots2

[2020-08-04 19:15] jywarren commented on #7334
Let's fix pagination, and then return here to see what we can do about the repeated display of some items, as well as figure out why page 1 shows only 6, but later pages show a full 24 (i think?)???

[2020-08-04 19:27] jywarren commented on #8187
Hi!!!
Ok, tracing:

https://github.com/publiclab/plots2/blob/d9e7f1143424956cc7d61e7de0b06fd5c1e83a19/app/views/tag/_topicCard.html.erb#L18

That references node.rb:

https://github.com/publiclab/plots2/blob/d9e7f1143424956cc7d61e7de0b06fd5c1e83a19/app/models/node.rb#L337-L348

`images` uses an ActiveRecord relation. Can you show code for the before/after? For one, I don't think `.first` is an eff

[2020-08-04 19:29] Tlazypanda commented on #8128
Hey @ebarry Can you please review? Thanks :v: Please let me know how I can improve :raised_hands:

[2020-08-04 19:32] Tlazypanda commented on #8242
Hey @jywarren Sure, I will look into this :+1:

[2020-08-04 19:33] jywarren commented on #7334
VERY strange -- https://github.com/publiclab/plots2/pull/8243#issuecomment-668782325 --- pagination mysteries persist...

[2020-08-04 19:37] jywarren opened #8244 "Total Tag count on tag stats pages seems incorrect for tag "beach""
Reporting in here from @ebarry and Jeanette, the graph at https://publiclab.org/tag/beach/stats seems correct, but below it the "Total Tag count" of 8 seems wrong, by their count.

![Screen Shot 2020-07-27 at 10 56 45 AM](https://user-images.githubusercontent.com/24359/89336806-f7777c80-d667-11ea-8065-1df1f6ef782a.png)

That code is driven from here:

https://github.com/publiclab/plots2/blob/c60aa

[2020-08-04 19:38] jywarren commented on #8244
Aha - more sense here: it's not doing a database count, it's accessing an attribute named `count` on the `Tag` model:

[code]

[2020-08-04 19:38] jywarren commented on #8244
So, perhaps that's simply not getting updated. Let's see where else we count tag usage, and also where we update the attribute...

[2020-08-04 19:43] jywarren commented on #8244
Looks like we need to be running this to maintain that attribute:

https://github.com/publiclab/plots2/blob/d9e7f1143424956cc7d61e7de0b06fd5c1e83a19/app/models/tag.rb#L39-L42

We do that each time a tag is added:

https://github.com/publiclab/plots2/blob/122e8a73b440bb752f080375aad3f24a02b7c8f9/app/models/node.rb#L845

OK, so when `run_count` is run, we get 8 for `beach`

However, when we run this

[2020-08-04 19:51] Shulammite-Aso commented on #8223
Thanks @jywarren , so i figured out this atwho_autocomplete.js file already exits here https://github.com/publiclab/plots2/blob/main/app/assets/javascripts/atwho_autocomplete.js file, but is only called on the comment editor. So we may just need to calll it on rich.html.erb file. Done this, only haven't seen it work on.

I'll just push what i have for you to see. If the existing autocomplete file

[2020-08-04 20:02] jywarren opened #8246 "Are questions counted as both a question and a note in tag stats graphs?"
This will take some digging... referring to pages like https://publiclab.org/tag/beach/stats

https://github.com/publiclab/plots2/blob/d9e7f1143424956cc7d61e7de0b06fd5c1e83a19/app/controllers/tag_controller.rb#L520

this refers to this function, on line 251:

https://github.com/publiclab/plots2/blob/d9e7f1143424956cc7d61e7de0b06fd5c1e83a19/app/models/node.rb#L923-L928

So questions are questions.

[2020-08-04 20:04] #8246 closed

[2020-08-04 20:12] Shulammite-Aso commented on #8229
This will help. @jywarren  Another thing however is that i'm not able to see `.../wiki/new` with passenger start, so i don't know how else to tell if its working. unless maybe i push what i have, then somebody else confirms if it works. If it will actually work this way.

[2020-08-04 20:29] jywarren commented on #8246
We've also clarified this in the explanatory text: https://github.com/publiclab/plots2/commit/b38ff97c04a75efb40367646431444786fd4f9b2

[2020-08-04 20:43] jywarren commented on #8226
I think the wrapping looks OK now!

![image](https://user-images.githubusercontent.com/24359/89343019-a53b5900-d671-11ea-99ca-1668ef67c6d7.png)
https://stable.publiclab.org/tag/water-quality

[2020-08-04 20:44] jywarren commented on #8226
Closing this up unless we want to return to it. Thanks!

[2020-08-04 20:44] #8226 closed

[2020-08-04 21:43] jywarren commented on #7965
The count here is still not right, i think. For example https://stable.publiclab.org/tags now lists 692 posts for `balloon-mapping` but here are the stats for that tag (in stable):

![image](https://user-images.githubusercontent.com/24359/89348086-f8b1a500-d679-11ea-9701-42474f5092b7.png)

I think we need to depend on this fix: https://github.com/publiclab/plots2/pull/8245

then we can check this

[2020-08-04 22:07] jywarren commented on #7965
https://github.com/publiclab/plots2/pull/8245 is now done! And has unit tests, so nice. OK, now this may work...

[2020-08-04 22:14] jywarren commented on #7965
OK, it says `573 posts »` -- hmm

 Research notes 468
 Questions 37
 Wiki pages 77
 People 346

I mean, notes plus wikis = 545...?

[2020-08-04 22:18] jywarren commented on #8244
OK wait we have to run run_count on all tags!!! https://stable.publiclab.org/tag/beach/stats

[2020-08-04 22:31] jywarren commented on #8244
So we'll need to run:

[code]

[2020-08-04 22:33] veridie commented on #8231
Can I work on this?

[2020-08-05 04:38] avats-dev commented on #8231
Thanks for the opportunity, @cesswairimu and @keshavsethi , I am doing this, and will update soon.

[2020-08-05 08:14] jibe-b opened #8253 "Broken link"
On page [publiclab.org/wiki/open-call](https://publiclab.org/wiki/open-call)

the link on the word `event`

![Screenshot from 2020-08-05 10-13-00](https://user-images.githubusercontent.com/6146483/89388414-48d54980-d704-11ea-8e56-70ae47d757a6.png)

is wrongly buillt: https://publiclab.org/wiki/www.publiclab.org/events

This wiki page is locked, I let you change this ;)

[2020-08-05 13:35] sagarpreet-chadha commented on #8234
Yes please, go ahead 😄

[2020-08-05 13:40] ebarry commented on #7507
sounds good to me to direct to the tools that already exist on profile pages

[2020-08-06 03:45] avats-dev commented on #8253
@jibe-b ,Yeah, the link is broken. I checked it out.
**I think the correct link should be https://publiclab.org/events**

[2020-08-06 04:05] avats-dev commented on #8174
hey @jywarren , is anyone working on this?

[2020-08-06 06:51] keshavsethi opened #8257 "Add Message when following tag list is empty in spam2/queue"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-06 07:00] keshavsethi opened #8258 "All Tag Icon not active when clicked in spam2/queue"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-06 07:49] shreyaa-sharmaa opened #8259 "Re-order legacy and comment toolbars so order of tools matches that of Rich Text Editor"
Currently:
![current](https://user-images.githubusercontent.com/66686803/89510991-ef961480-d7ee-11ea-805d-637558ad4f7b.png)

Toolbar iterations including the image icon:
1.
![t1](https://user-images.githubusercontent.com/66686803/89505338-12242f80-d7e7-11ea-9c84-762b31d28ccf.png)

2.
![t2](https://user-images.githubusercontent.com/66686803/89505250-f456ca80-d7e6-11ea-882c-d2a03d2291b9.png)

3.
![t

[2020-08-06 15:40] jywarren commented on #8229
Oh, is it because of your user account status? I think you should be able to log in locally with the `admin` account, maybe the pwd is `password`? Or it's written in the `/db/seeds.rb` file. IT could be `secret`... not sure.

If not, is there another error in loading that page?

Thanks!

[2020-08-06 15:41] jywarren commented on #8241
Wow! This could definitely work but do you think it could just start the OS-level fileinput instead? It might be easier!

So it would work the same as clicking "click to upload" in the comment form footer, you know?

Thanks @shreyaa-sharmaa !!!

[2020-08-06 16:01] Shulammite-Aso commented on #8229
No other error, except taking me to the dashboard page instead.  I'm going to try logging in as admin however

[2020-08-06 19:54] dms-yondy commented on #8257
I would like to claim the issue

[2020-08-06 20:26] dms-yondy commented on #8257
Okay, all done!

[2020-08-07 04:23] Vortex2wenty commented on #8258
Hi, I would like to claim this issue.

[2020-08-07 10:25] jibe-b commented on #8253
Thanks for dealing with this @avats-dev. Somehow the link is still built the wrong way

![Screenshot from 2020-08-07 12-24-20](https://user-images.githubusercontent.com/6146483/89636521-08fb9700-d8a9-11ea-9f1f-014f52fbbedd.png)

[2020-08-07 11:48] cesswairimu commented on #8253
Great catch @jibe-b and @avats-dev  you are right :100: I will try to get someone to edit that. Thanks you both

[2020-08-07 14:19] keshavsethi commented on #8258
@Vortex2wenty, Sure!!
Thanks :tada:

[2020-08-07 22:56] Tlazypanda commented on #8242
Hey @jywarren @sagarpreet-chadha  I went through the issue and initially I didn't exactly understand why we had this specific way of querying here but now after some inspection I figured its because the definition of question in our models is not defined and it represents all notes having atleast one question: tag which should be more suited by all notes having question: tags for all normal tags p

[2020-08-07 23:11] Tlazypanda opened #8265 "Eliminate n+1 query for subscription.tagname"
**Please describe the desired behavior.**
Wherever we are calling the function subscription.tagname, the susbscriptions don't include/eager-load the tag model which leads to n+1 queries.
Example: - subscriptions.html.erb line 65 (subscription.tagname function)
Can check this on /subscriptions route

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.

[2020-08-07 23:36] Tlazypanda opened #8266 "Eliminate n+1 query for dashboard activity -> node.parent"
**Please describe the desired behavior.**
Wherever we are calling the function `node.parent`, the comments don't include/eager-load the node model which leads to n+1 queries. (`comment.rb` line 90)
Example: - ` _node_comment.html.erb` line 6 (node.parent function)
Triggered by ` _activity.html.erb` which passes comments as node

Can check this on /dashboard route

**Additional context (optional)**

[2020-08-07 23:50] Tlazypanda commented on #8117
@jywarren @cesswairimu can you kindly review?  _Por favor_ :p Thanks :v:

[2020-08-07 23:55] Tlazypanda opened #8270 "Implement Design for /followers and /following routes"
**Please describe the desired behavior.**
Currently the /followers and /following route doesn't have design consistent with the rest of the website. We need to implement a design with the same table as the "People who are following" table on the /contributors pages. Reference:- the farthest right hand table on https://publiclab.org/contributors/water-quality.

**Additional context (optional)**
htt

[2020-08-07 23:56] Tlazypanda commented on #8270
Hey @cesswairimu I was thinking we can get new contributors to pick this up who have contributed here already and can take on a more experienced task.

What do you think? Should we break this issue down into some parts to make it easier? Thanks :v:

[2020-08-07 23:57] Tlazypanda commented on #8115
@jywarren @ebarry Just a heads up created an issue for the design part of it here #8270

We can keep this one open for later implementing the pagination task :v:

[2020-08-08 00:17] Tlazypanda commented on #8112
Hey @jywarren @icarito what do you think should we proceed with this? :sweat_smile:  Thanks :v:

[2020-08-08 00:27] Tlazypanda commented on #7315
Hey @jywarren @cesswairimu I just saw the tag_selection_test fail again :cry: I thought the timecop freeze should have fixed it but I am not sure why its failing again https://github.com/travisjeffery/timecop/issues/146 Seems like there are still some time dependency issues here maybe some other method of timecop like travel can help?

Tagging @Uzay-G @VladimirMikulic for their feedback and help.

[2020-08-08 00:43] Tlazypanda opened #8271 "Eliminate n+1 query for comments under questions -> comment.parent"
**Please describe the desired behavior.**
Wherever we are calling the function` comment.parent,` the comments don't include/eager-load the node model which leads to n+1 queries. (`comment.rb` line 90)
Example: - `notes/_comment.html.erb` line 147 (comment.parent function)
Triggered by `questions/show.html.erb` line 58

Can check this on /questions route

**Additional context (optional)**
Feel free

[2020-08-08 02:51] lax0248917 commented on #8204
Is this issue still available? if so I would like to contribute.

[2020-08-08 06:57] cesswairimu commented on #8204
Hi @lax0248917 , seems no one is working on this...Go ahead

[2020-08-08 06:59] cesswairimu commented on #8270
Hi @Tlazypanda.. that's a great idea..yeah let's do that. Thanks

[2020-08-08 08:38] Shulammite-Aso opened #8273 "adjust OpenGraph tags for questions/notes/wikis"
### Please describe the problem (or idea)

adjust OpenGraph tags for questions/notes/wikis so that if no main image is available, openGraph lead image tags show a "scraped" lead image (see how we do this in card display, for example https://publiclab.org/tag/bucket-monitor shows a scraped lead image for https://publiclab.org/notes/kgradow1/07-03-2020/bucket-monitor-prototype)

will be making a PR

[2020-08-08 08:59] VladimirMikulic commented on #7315
@Tlazypanda we could restart PR's CI multiple times to see if it does really work. Not a perfect way to measure but we'll get some insights at least.

[2020-08-08 12:21] lax0248917 commented on #8204
Great!  Will get started right away. Thank you.

[2020-08-08 16:16] avats-dev commented on #7702
@jywarren @keshavsethi this issue is resolved (see #7706) and should be closed.

[2020-08-08 21:19] JubayerJoy commented on #8220
Hi, @cdobbs-code-repo, if you are not working on this, I would like to take the job.

[2020-08-08 21:22] JubayerJoy commented on #8205
Hi @cesswairimu, if anyone is not working on it, I want to take the job.

[2020-08-08 21:23] JubayerJoy commented on #7683
Hi @cesswairimu, I want to contribute, please assign me an issue. Thanks!

[2020-08-09 07:34] sagarpreet-chadha commented on #8117
How does it look in both cases? Maybe that will help @jywarren @ebarry  to take decision in terms of UX.
Thanks 🎉

[2020-08-09 07:47] sagarpreet-chadha commented on #8242
Hey @Tlazypanda ,
Yes we can write in sql also, but we prefer to write in rails ORM so that new contributors having rails knowledge but not SQL can easily contribute.
Also I think each node `has_many` tags, can you check this in the Node model file. Thanks 🎉

[2020-08-09 14:00] 2Shar18 commented on #8258
Hey, are you still working on this issue?
I also wish to contribute, so if you are stuck, can you tag me? I'd love to help 😄

[2020-08-09 17:44] cesswairimu commented on #8205
Hi @JubayerJoy, it seems Samasth worked on another fto...Its all yours you can go ahead. Thanks

[2020-08-09 18:05] cesswairimu commented on #8117
@Tlazypanda you are right...seems it was replaced with `normal_tags` but was never updated

[2020-08-10 08:26] cesswairimu commented on #7883
Hi @Tlazypanda. maybe you could update the task list and check the tasks that you have completed

[2020-08-10 10:37] #8230 closed

[2020-08-10 10:54] renugasaraswathy commented on #8270
Hi @Tlazypanda @cesswairimu I can pick this up. I am one of the new contributors here and having experience in RoR.

[2020-08-10 11:27] cesswairimu commented on #8270
Sure thing @renugasaraswathy  we would love your help ...let me try to break this down in the next few minutes then I will ping you to choose which of the issues you would like work on. Thanks

[2020-08-10 13:15] ebarry commented on #8253
Thank you, i've edited it! Really appreciate the good catch 🤝

[2020-08-10 13:15] #8253 closed

[2020-08-10 13:21] ebarry commented on #8242
@Tlazypanda thank you for going through this investigation, i wanted to ask if a plain `question` tag creates a question the same way a `question:foo` powertag does?

[2020-08-10 13:41] cesswairimu commented on #8253
Thanks @ebarry

[2020-08-10 14:10] cesswairimu opened #8277 "Refine /followers page design"
Currently the /followers route doesn't have design consistent with the rest of the website.
It looks like this
![Screenshot from 2020-08-10 17-06-57](https://user-images.githubusercontent.com/17081074/89791588-3015cb00-db2c-11ea-8c57-b1d2d7f8ab0b.png)

Link: https://publiclab.org/people/cess/followers
We could implement a design with the same table as the "People who are following" table - the far

[2020-08-10 14:14] cesswairimu opened #8278 "Refine /following page design"
Currently the /following route doesn't have design consistent with the rest of the website.
It looks like this
![Screenshot from 2020-08-10 17-06-57](https://user-images.githubusercontent.com/17081074/89791588-3015cb00-db2c-11ea-8c57-b1d2d7f8ab0b.png)

Link: https://publiclab.org/people/liz/following

We could implement a design with the same table as the "People who are following" table - the far

[2020-08-10 14:18] cesswairimu commented on #8270
@renugasaraswathy  the issues are #8277 and #8278

[2020-08-10 14:19] cesswairimu commented on #8270
@Tlazypanda do you think we should explore other designs for these two? @ebarry would like to hear your thoughts on this too

[2020-08-10 14:25] #8232 closed

[2020-08-10 14:42] renugasaraswathy commented on #8277
@cesswairimu Will work on this. Thank you

[2020-08-10 14:43] renugasaraswathy commented on #8278
@cesswairimu will work on this too. Thank you

[2020-08-10 14:59] cesswairimu commented on #8244
Great detective work :tada:

[2020-08-10 15:41] Tlazypanda commented on #8242
Hey @ebarry according to the code for fetching the questions we match it against all nodes having atleast one tag starting with `question:` so I don't think the `question` tag should create a question the same way a `question:foo` does since it's missing `:` but @jywarren could answer this better :sweat_smile: since I am still learning my way around the architecture of the project :joy:

[2020-08-10 15:46] Tlazypanda commented on #8270
Hey @cesswairimu definitely open to this :tada: I just picked up from what @ebarry had suggested here https://github.com/publiclab/plots2/issues/8115#issuecomment-654862501 :sweat_smile:

[2020-08-10 15:53] Tlazypanda commented on #7883
Ohh yes! I have been meaning to do that for a long time now :joy: Finally gotta get this done xD

[2020-08-10 15:56] ebarry opened #8279 "not all wikis displayed on tag page although count is correct"
### Please describe the problem

I wanted to see all the wiki pages tagged `project` so i went to https://publiclab.org/wiki/tag/project.

I see that the count of wikis (11) is correct, but only three were displayed. I believe this is a bug. See screenshot:
<img width="1034" alt="Screen Shot 2020-08-10 at 11 54 29 AM" src="https://user-images.githubusercontent.com/161439/89803131-71908100-db00-11e

[2020-08-10 16:03] cesswairimu commented on #8270
Gotcha, thanks for linking me to that 👍

[2020-08-10 17:00] Tlazypanda opened #8280 "Weekly Community Check-In #71 - Creating FTO's from our internship tasklist"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-08-10 17:01] Tlazypanda commented on #8280
@jywarren, @AgyeyaMishra, @Jolios, @cesswairimu, @samarakoon-ryan, @Samasth, @malaikaaiyar, @keshavsethi, @OmLakshmi, @nsachin08, @dependabot-preview[bot], @Tlazypanda, @galanggg, @ishika1727, @icarito, @RajatSablok, @mronauli, @ijeomaemeruwa, @alaxalves, @Shulammite-Aso, @JapneetSingh5, @Neilblaze, @markkulube, @vinuch @JapneetSingh5, @Neilblaze, @markkulube, @vinuch, @Tlazypanda, @icarito, @depe

[2020-08-10 17:01] Tlazypanda commented on #8280
@llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-sharmaa, @goamoth, @SusannaDiV, @yusofsf, @nanlliu, @Tlazypanda,@keshav234156, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04, @sssash18, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shu

[2020-08-10 17:01] Tlazypanda commented on #8280
@Janet33, @TroydonAnabolic, @priyanshbalyan, @Medlineme4, @mandysGit, @msanden, @AidenOliver, @Janetsomehow, @AntroMarina, @llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-s, @goamoth, @SusannaDiV, @yusofsf, @nanlliu, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04 @adityakpranav @e

[2020-08-10 17:02] Tlazypanda commented on #8280
@jscastanos, @sarthak-choudhary, @dongskyler, @keshavsethi, @Shulammite-Aso, @ckchu8, @keshav234156, @DerekChristy, @Srija616, @priyanka-choubey, @AyanChoudhary, @imajit, @NitinBhasneria, @nstjean, @marientje, @rutger-t, @imajit, @NitinBhasneria, @nstjean, @marientje, @rutger-t, @nsachin08 @Rohit-786 @Tristan-Elizabeth @aakanchha01 @habeckmatt @hiteshsubnani0128 @ijeomaemeruwa @OmLakshmi @dmoini @

[2020-08-10 18:36] avats-dev opened #8282 "Outdated cloud9 installation instructions"
### Please describe the problem (or idea)

Cloud9 installation instructions are outdated. They need to be updated.

I wanted to install it on cloud9 and saw that instructions do not match with anything similar now.

### Please show us where to look

https://github.com/publiclab/plots2/wiki/Simple-Installation-for-Cloud9

https://docs.aws.amazon.com/cloud9/latest/user-guide/sample-github.html

###

[2020-08-10 19:23] Tlazypanda commented on #7883
@jywarren @cesswairimu @ebarry Have got some edits into the tasklist :joy:  still need to refine this more

Also wanted to share the results for the work done so far:-
Before:-

![image](https://user-images.githubusercontent.com/33183263/89819368-f31bf980-db68-11ea-9b41-da83c78d21ae.png)

After:-
(on different routes depending on the assets they have/load)

![image](https://user-images.githubuserc

[2020-08-10 20:34] ebarry commented on #7883
Wow look at this performance boost!!!!! 🤩🤩🤩🤩🤩🤩🤩🤩

[2020-08-11 04:21] sagarpreet-chadha commented on #8280
Great check-in and excellent idea 🎉

[2020-08-11 11:47] alaxalves commented on #8280
Sorry for being missing a little this past week. Unfortunately a close friend of mine died in a motorcycle accident and my family and I have been taking care and supporting the loved ones. Hopefully God will bless them with some comfort in these hard times.
I'll focus now on implementing the system tests on Spectral Workbench and implement GitPod on the Exporter Sinatra repo.

[2020-08-11 12:33] #8257 closed

[2020-08-11 14:38] sagarpreet-chadha commented on #7883
Wow this is awesome 🎉

[2020-08-11 15:04] jywarren commented on #8280
Sending ❤️ Alax.

[2020-08-11 15:05] jywarren commented on #8280
Editor team - some great updates.

@Shulammite-Aso @keshav234156 @NitinBhasneria @shreyaa-sharmaa great work!

@NitinBhasneria and @sagarpreet-chadha got the `v2.1.1` fix completed - it's now published with the patch we hope will get it passing on plots2 https://github.com/publiclab/PublicLab.Editor/issues/587 and https://github.com/publiclab/PublicLab.Editor/issues/588. Now we're converting the n

[2020-08-11 15:07] jywarren commented on #8280
Whew, ok it's running against plots2 tests here: https://github.com/publiclab/plots2/pull/8285

[2020-08-11 15:08] jywarren commented on #8280
@Tlazypanda i love this theme. You've been a real leader in this regard, truly welcoming lots of people in and growing our community. Thank you, and i think it's a GREAT idea for folks to start!

[2020-08-11 16:04] jywarren commented on #8175
Hi @aakanchha01 - are you still available to work on this? If @aakanchha01 isn't or can't reply in the next couple days, we'd love to have someone else try to help out, thank you! You can simply start by mentioning that you've begun, and opening a pull request and linking to it. Thank you all!

[2020-08-11 16:43] Tlazypanda commented on #8280
@alaxalves sorry for your loss may these testing times pass soon ❤️

[2020-08-11 16:55] Tlazypanda commented on #8280
Congratulations to the editor team 🎉

Thanks @jywarren  just working towards the core values of public lab learning from all the other mentors and interns here 😅

This week I worked on some more performance optimizations (please review whenever free 😅 #8272 #8269 #8268 #8267 #8183 ) and also updated my tasklist finally after procrastinating for so long 😂 #7883 Realised that still have many improve

[2020-08-11 17:59] jywarren commented on #8244
Running this on stable.publiclab.org now to test.

[2020-08-11 19:01] jywarren commented on #8279
Hi, I believe this is a variation of https://github.com/publiclab/plots2/issues/7334, which we're working on currently. I'm going to merge it into that one, but if it is distinct after all, please re-open,thanks!

[2020-08-11 19:01] #8279 closed

[2020-08-11 19:08] jywarren opened #8287 "Sidebar wrap problem for non-logged-in users"
I noticed that when not logged in, the sidebar gets shoved below the rest of content on note pages like this: https://publiclab.org/notes/anngneal/12-08-2017/7-ways-to-measure-monitor-and-evaluate-water-quality

![image](https://user-images.githubusercontent.com/24359/89938270-41baa980-dbe4-11ea-8628-baf0082b8d0d.png)

Tracing it, I thought this is the juncture between divs that's relevant:

https

[2020-08-11 19:11] jywarren commented on #8282
Hello, you're totally right! We've just for the past few weeks been testing GitPod.io, and are pretty confident that it's ready now. Would you like to try opening a pull request changing the cloud9 instructions to suggest using GitPod instead? It is linked from the top of the README!

[2020-08-11 19:15] #8114 closed

[2020-08-11 19:27] #8229 closed

[2020-08-11 19:51] jywarren commented on #7965
Now, testing the tag `tests` on stable, I'm suspicious that there may be some caching going on. Adding that tag to a new note, https://stable.publiclab.org/notes/aidanswope/05-21-2019/angel-s-point-balloon-map-updated, did not result in the tab of notes going from 7 to 8, although `tag.count` returns 8 as does the result of `tag.run_count`

https://stable.publiclab.org/tag/tests

[2020-08-11 20:00] jywarren commented on #7965
and noting link to https://github.com/publiclab/plots2/issues/8244

[2020-08-11 20:00] jywarren commented on #7965
YESSSSS it's 5-minute cached: https://github.com/publiclab/plots2/blob/e97eff7464a544a97f4b38f169f76250600b3148/app/views/tag/show.html.erb#L133

[2020-08-11 20:11] jywarren commented on #7965
OK, so tracing the tab count:

https://github.com/publiclab/plots2/blob/e97eff7464a544a97f4b38f169f76250600b3148/app/models/node.rb#L621-L630

`Node.where(status: 1, type: 'note').includes(:revision, :tag).references(:term_data, :node_revisions).where('term_data.name = ? OR term_data.parent = ?', 'balloon-mapping', 'balloon-mapping').where.not(nid: qids).count` => 470

[2020-08-11 20:17] jywarren commented on #7965
These three are the difference: `[6129, 7236, 7414]` --

=> [#<Node nid: 6129, vid: 11131, type: "note", language: "en", title: "Balloon Mapping Test Flight - Riverside Cemetary, ...", uid: 51650, status: 1, created: 1361913526, changed: 1484959040, comment: 2, promote: 1, moderate: 0, sticky: 0, tnid: 0, translate: 0, cached_likes: 0, comments_count: 1, drupal_node_revisions_count: 1, path: "/not

[2020-08-11 20:23] jywarren commented on #7965
VERY strange! for 2 reasons: 3 notes is not the same as the 10 missing ones (thought we haven't looked at questions yet), AND, these three seem to be normal except that one was in Feb 2013 and 2 were in May 2013:

* https://stable.publiclab.org/n/6129
* https://stable.publiclab.org/n/7236
* https://stable.publiclab.org/n/7414

[2020-08-11 20:51] #8143 closed

[2020-08-11 20:52] jywarren commented on #8280
Hi all, new editor `v2.1.2` is now live at https://stable.publiclab.org/post ! Please try it out and confirm that your recent changes are working :-)))))

[2020-08-11 20:56] jywarren commented on #8280
Aha - found an issue already - no worries, we can patch it! @NitinBhasneria i think it's related to the main image upload feature! https://github.com/publiclab/PublicLab.Editor/issues/591

[2020-08-11 20:56] #8266 closed

[2020-08-11 20:56] #8265 closed

[2020-08-11 20:57] #8271 closed

[2020-08-11 21:04] jywarren commented on #7965
Also interesting:

`Node.where(status: 1, type: 'note').includes(:revision, :tag).references(:term_data, :node_revisions).where('term_data.name = ? OR term_data.parent = ?', 'balloon-mapping', 'balloon-mapping').where(nid: qids).count
=> 29`

This agrees with:

`NodeTag.joins(:node).where(tid: 10).where('node.status = 1 AND node.type = "note"').where(nid: qids).count`

vs. 37 as shown on the tab.

[2020-08-11 21:08] jywarren commented on #7965
Aha! That last section shows that posts tagged `question:balloon-mapping` are included in that count even if they do not have the base `balloon-mapping` tag!!!

[2020-08-11 21:10] jywarren commented on #7965
The following 8 posts seem to have `question:balloon-mapping` but not `balloon-mapping`:

[2020-08-11 21:20] jywarren commented on #7965
OK, so that gets us to within 2 nodes. Now let's just manually compare:

[code]

[code]

vs:

[code]

[2020-08-11 21:22] jywarren commented on #7965
Aha. Maybe this:

[code]

[2020-08-11 21:23] jywarren commented on #7965
Yes, that's the discrepancy:

[code]

[2020-08-11 21:24] jywarren commented on #7965
However, notably not for the `method` or `project` bugs in #7836

[code]

[2020-08-11 21:26] jywarren commented on #7965
OK, i fixed the duplicate tags with:

[code]

however i bet there are more in the DB. We may want to do a bigger project to consolidate these.

[2020-08-11 21:45] jywarren commented on #7334
OK, noting from [this comment](https://github.com/publiclab/plots2/issues/7965#issuecomment-672248369) that the `/tag/____` page is cached every 5 mins.

[2020-08-11 21:47] jywarren commented on #7965
My recommendation now is:

We've narrowed this down a lot, and it has two parts.

1. “ghost” tags - duplicate tagnames so basically some weren’t being counted
2. `question:_____`  format tags, which are counted under the questions tab on `/tag/____` pages, but if they don’t have their own base tag, are not counted in the topic cards. Example: 8 posts have `question:balloon-mapping` but not `balloo

[2020-08-11 21:52] jywarren commented on #7334
Indeed:

[code]

[2020-08-11 21:59] jywarren commented on #7334
It seems to be the mix of `.order('node_revisions.timestamp DESC')` and `.paginate()` that is causing this. If I remove one, it starts to return 24 items:

[code]

[2020-08-11 22:00] jywarren commented on #7334
https://github.com/publiclab/plots2/blob/f38bd542c380185f504a82b2806a49995ef0f736/app/models/node.rb#L626-L629

[2020-08-11 22:07] jywarren commented on #7334
I believe this may be an issue with our pagination library, `will_paginate` --

* https://github.com/mislav/will_paginate/issues/573
* https://github.com/mislav/will_paginate/issues/604
* esp "Missing record on pagination when records are sorted" https://github.com/mislav/will_paginate/issues/553

[2020-08-11 22:08] jywarren commented on #7334
Maybe we look at https://github.com/kaminari/kaminari or https://www.imaginarycloud.com/blog/paginating-ruby-on-rails-apps-with-pagy/ ?

[2020-08-12 06:16] cesswairimu commented on #8280
Hi everyone...update...This week's focus issue is https://github.com/publiclab/PublicLab.Editor/issues/591. We  need this for the  Editor release o be merged in plots2 and will appreciate you help. Thanks in advance

[2020-08-12 07:05] avats-dev commented on #8282
@jywarren I will change the instructions and open a PR soon.

Just making sure if we're removing **cloud9** instructions and support, because then [this script](https://github.com/publiclab/plots2/blob/master/install_cloudnine.sh) would also needed to be removed.

[2020-08-12 11:54] #8231 closed

[2020-08-12 12:08] cesswairimu commented on #7883
wow fantastic :rocket:

[2020-08-12 12:17] #8182 closed

[2020-08-12 15:50] sagarpreet-chadha commented on #8280
Thanks @cesswairimu for highlighting that issue 💯

@publiclab/editor
I am mentioning the steps that we have to follow before publishing next releases:
1. Increment the version in package.json from x.y.z to:

2. Make sure `package-lock.json` is changed if some dependencies are changed in package.json.

3. Make sure your changes are there in `dist` folder.

4. That's it for PL.editor repo! Let's pub

[2020-08-12 17:12] jywarren commented on #8280
Great, we merged the fix to stable server and i'm tracking here: publiclab/plots2#8286 -- good work Nitin. Technically this has been a breaking change though; in the future let's do our utmost to avoid a requirement that downstream projects change their usage to accommodate new requirements from our library, unless we're ready to propose a full version number.

In this case we are the only user of

[2020-08-13 19:46] ebarry commented on #8280
Hi all, I'm looking ahead at the Public Lab Open Hour in September where each and every Outreachy and Google Summer of Code participant -- @Shulammite-Aso @shreyaa-sharmaa @Tlazypanda @NitinBhasneria @keshav234156 @keshavsethi @alaxalves -- will share 5 minutes about their summer's work!

- Based on input from last week's check-in, we are planning to use Zoom, and set up a meeting for at 8AM Pacif

[2020-08-14 04:14] NC25 commented on #8175
I would like to take a crack at it.  Looking forward to contribute regularly to this project.

[2020-08-14 05:22] NC25 commented on #8175
I made the necessary edits and committed the changes.

[2020-08-14 05:54] Ljungwaldh commented on #5137
Has this been addressed? I'm new to open source and would be happy to tackle this if this isn't claimed/assigned

[2020-08-14 06:21] Ljungwaldh commented on #5137
Seems the reference to the issue is no longer placed where the description of this issue claims - I'm assumed then this would need to be closed?

[2020-08-14 06:43] Shulammite-Aso opened #8294 "add test for new wiki tag_input field"
A test should be added to ensure the tag input field added here https://github.com/publiclab/plots2/pull/8260 is protected.

will be making a pull request soon.

[2020-08-14 19:30] #8175 closed

[2020-08-14 19:31] #8294 closed

[2020-08-14 19:31] jywarren commented on #8175
Great work @NC25 -- i merged your solution. Many thanks, and we'd love your help on other issues!

@aakanchha01 if you'd like to take on a new issue, please reach out in the Weekly Check-in and we'll try to find a good project for you!

#5627

[2020-08-15 15:48] Tlazypanda opened #8298 "Replace .length with .size for notes/_comments.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-15 15:51] Tlazypanda opened #8299 "Replace .length with .size for notes/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-15 15:57] Tlazypanda opened #8300 "Replace .length with .size for notes/show.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-15 16:00] LifeofDan-EL commented on #8298
Good day, can I jump on this? If yes, could you assign it to me. Went through your website and I'm interested in contributing to the community in the little way I can.

[2020-08-15 16:13] Tlazypanda opened #8301 "Replace .length with .size for node.rb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-15 16:19] Tlazypanda commented on #8298
Hey @LifeofDan-EL Sure, go ahead! :tada:

[2020-08-15 16:54] Tlazypanda opened #8302 "Replace .length with .size for dashboard/_node_meta.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-15 16:54] Tlazypanda opened #8303 "Replace .length with .size for notes/_responses.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-15 17:58] LifeofDan-EL commented on #8298
Sure, on it.

[2020-08-15 21:12] Tlazypanda opened #8308 "Remove n+1 queries for rss"
**Please describe the desired behavior.**
We need to eliminate n+1 queries for rss in users/notes/tags. In our `rss.builder` files we are calling `node.author` and `node.author.has_power_tag` methods which in turn need to eager load the `user` and `user_tags` models.

**Additional context (optional)**
As flagged by skylight

![image](https://user-images.githubusercontent.com/33183263/90321746-2183

[2020-08-16 04:37] CharlesHEaster commented on #8303
I'd like this issue

[2020-08-16 05:20] sagarpreet-chadha commented on #8303
Yes @CharlesHEaster , sure go ahead 👍

[2020-08-16 05:50] NC25 commented on #8302
I will work on this issue.

[2020-08-16 09:35] Mohitkumar6122 commented on #8299
Thanks for the oppurtunity @Tlazypanda

[2020-08-16 10:15] cesswairimu commented on #5137
Hi @Ljungwaldh :wave: ...checking that for you in a sec

[2020-08-16 10:23] cesswairimu commented on #5137
@Ljungwaldh yes, it is still available...Its all yours. Thanks

[2020-08-16 11:41] Ganeshjadhav221b commented on #8301
I'd like to work on this.

[2020-08-16 13:47] RatanNarayanHegde commented on #8300
Hey. I would like to fix this issue..

[2020-08-16 14:01] RatanNarayanHegde commented on #8300
As mentioned in the guide, I did the changes, did commit and created a pull request. Please review and inform if any changes required. This is my first ever contribution

[2020-08-16 16:49] #8298 closed

[2020-08-16 16:59] cesswairimu commented on #8298
Thanks @Tlazypanda  :tada:

[2020-08-16 17:35] arteevraina commented on #8225
@galanggg Are you still working on this issue? If not, Can I work on this one?

[2020-08-16 18:04] arteevraina commented on #8233
@keshavsethi I want to work on this issue.

[2020-08-17 11:46] cesswairimu commented on #8280
Moved to https://github.com/publiclab/community-toolbox/issues/386. Thanks everyone

[2020-08-17 11:46] #8280 closed

[2020-08-17 17:21] arteevraina opened #8316 "Follow buttons sticks with Add a description button"
### Screenshot

![image](https://user-images.githubusercontent.com/43968121/90424199-58c53400-e0db-11ea-9bdb-9b814fff8f9c.png)

### Please show us where to look

https://publiclab.org/tag/four and reduce the window to half of your monitor screen

### Browser, version, and operating system
Firefox, 79.0 and Ubuntu 18.04

### Additional Information

I would like to work on this.

[2020-08-18 14:32] #8158 closed

[2020-08-18 14:33] #8308 closed

[2020-08-18 15:43] jywarren opened #8317 "Gracefully fail browser notifications (via ActionCable) if Redis does not exist"
I'd like to add a conditional to these lines:

https://github.com/publiclab/plots2/blob/c60aaabb56c018962c76abf3f5f2d114f8492d15/app/channels/room_channel.rb#L14

https://github.com/publiclab/plots2/blob/f6f4a6db4ef2fd3a59cdf07023ea2815e006f667/app/models/user.rb#L318

https://github.com/publiclab/plots2/blob/3fcb54e725188aaf04f402267c0eeb98d8a905c9/app/models/comment.rb#L179

So that absence of R

[2020-08-18 15:47] jywarren opened #8318 "Duplicate title validation failure on new note creation doesn't seem to show a text message"
Tracking this bug in relation to https://github.com/publiclab/plots2/pull/8297

[2020-08-18 16:08] jywarren commented on #8318
Strangely, i've attempted again and now it seems to work:

![image](https://user-images.githubusercontent.com/24359/90537458-5ac6db80-e14b-11ea-9935-3da293f9894b.png)

Last time, i saw a red highlight around the `Post` button but wasn't scrolled up to the title field.

Notably, I also strangely noticed that this time, using `Test post` as title worked the first time. I'm not sure why - i guess i s

[2020-08-18 16:08] #8318 closed

[2020-08-18 16:12] jywarren opened #8319 "Odd wording on unique title validation failure message: "base: You have already used this title.""
The wording on the title uniqueness validator for new notes is a little odd:

![image](https://user-images.githubusercontent.com/24359/90537735-ac6f6600-e14b-11ea-81ac-1a5333d3ab13.png)

Aha - ok, we probably don't have to print the "key" line here on line 368 -- let's just remove that!:

https://github.com/publiclab/plots2/blob/c55e1ff6983041e197c9a4e168f107c78688cbaf/app/views/editor/rich.html.e

[2020-08-18 16:24] #8300 closed

[2020-08-18 16:25] #8301 closed

[2020-08-18 16:26] #8299 closed

[2020-08-18 16:30] #7889 closed

[2020-08-18 16:31] #7891 closed

[2020-08-18 16:41] #8128 closed

[2020-08-18 18:31] #8273 closed

[2020-08-18 19:40] #7922 closed

[2020-08-18 19:42] #8233 closed

[2020-08-18 19:44] #8302 closed

[2020-08-18 19:45] #8167 closed

[2020-08-18 20:14] avats-dev commented on #8199
Is this confirmed, or triage is needed yet?

[2020-08-18 20:18] jasonmj opened #8325 "Trouble with Twitter Signup/Login"
Hi there, I just signed up for a new account using the Twitter option. After authorizing via Twitter's consent screen, I was redirected back to publiclab.org and saw this:
![2020-08-18_1920x1080](https://user-images.githubusercontent.com/1964622/90561070-20226a80-e16e-11ea-9624-40d294adb4ba.png)

I see the same error when I tried clicking the verification link from the confirmation email and when

[2020-08-18 22:33] avats-dev opened #8328 "Image upload button not working in comment editor"
### Please describe the problem (or idea)

Well, pressing the `Choose One` button didn't worked in comments editor. Even the cursor also didn't changed to pointer when hovered over it.
![Peek 2020-08-19 04-01](https://user-images.githubusercontent.com/35889327/90572078-cacb7500-e1d0-11ea-8b7e-4c2f5f9afd5c.gif)

Well, after clicking on it, it should open a dialog to browse through files and select

[2020-08-19 08:28] Ljungwaldh commented on #5137
@cesswairimu I cloned the plots2 repo over to my Visual Studio code application - however, the reference for a line 48 in plots2/app/views/users/profile.html.erb where the issue is meant to be does not exist there. Even tried to do a search for 'coathuored' and 'co-authored' but found nothing similar to the issue posted.
My process has involved forking the repo in question, doing git clone on VSCo

[2020-08-19 09:22] cesswairimu commented on #5137
Yeah @Ljungwaldh you are right. My bad I must have looked at an old commit..Seems like the word was moved to config/locales but I don't see it used anywhere in the views so no need to change it there too.

I will close this...Let me know if you need help finding another first-timer issue. Sorry for the confusion

[2020-08-19 09:22] #5137 closed

[2020-08-19 11:51] Ljungwaldh commented on #5137
@cesswairimu no worries at all - just very keen to get into the start and flow of open source contribution, so if there's anything recent, up-to-date issues that are first time friendly then please let me know, thanks! :)

[2020-08-19 12:54] cesswairimu commented on #8325
Thanks @jasonmj for reporting this

[2020-08-19 13:23] cesswairimu opened #8331 "Update app/views/like/_like.html.erb `.length` with `.size`"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-19 13:25] cesswairimu commented on #5137
Great, I've created an issue for you here https://github.com/publiclab/plots2/issues/8331, kindly leave a comment to claim it.  We are glad to have you here and feel free o ask for help if stuck. Thanks

[2020-08-19 13:48] ebarry opened #8332 ""Over 50 years ago" -- spam is back-dated to the dawn of Unix time"
Hello!
The spam dashboard is getting really awesome! Want to send big thanks @keshavsethi ✨🌻🌈🌳✨

### Please describe the problem

This is a quick share to say that moderators are observing that /spam2 has the same glitch on comments as /spam—they don’t show in recent order and the dates are all 50 years ago. See screenshot:
<img width="1324" alt="screen_shot_2020-08-19_at_8 17 34_am" src="https://

[2020-08-19 15:57] berrybretch commented on #8331
Hi? I'd like to claim this issue

[2020-08-19 16:22] Oluwasomidotun commented on #8331
I will like to claim this isssue

[2020-08-19 17:12] cesswairimu commented on #8331
Hi, @Oluwasomidotun , seems @berrybretch  is already working on this. I will add your name at #7683 and we shall ping you when we get an fto. Thanks

[2020-08-19 19:05] Oluwasomidotun commented on #8331
Okay. Thanks

[2020-08-19 19:37] ebarry opened #8334 "Link to comments on a wiki page does not show comments"
### Please describe the problem (or idea)

I visited https://publiclab.org/wiki/translation and clicked the `...` icon to open up additional menu items, shown in screenshot:
<img width="1221" alt="Screen Shot 2020-08-19 at 3 33 32 PM" src="https://user-images.githubusercontent.com/161439/90681509-8c19d700-e231-11ea-954f-f73662435911.png">
)

When i clicked on the link for "2 Comments", this URL lo

[2020-08-19 19:48] jywarren commented on #8259
![image](https://user-images.githubusercontent.com/24359/90682303-c172f480-e232-11ea-8f34-c8268fae160c.png)

For comparison, here's the rich editor toolbar!

I'm sorry for the slow response here. However, I think i can clarify a bit after checking with staff. We can remove the "Templates" button entirely. I believe that means that for the remainder, option 4 above looks the best for us! Thank you!

[2020-08-19 23:43] Tlazypanda commented on #8224
@Shokescodes are you working on this? :sweat_smile:

[2020-08-20 10:48] Shokescodes commented on #8224
Hi Mishra, I just submitted  a pull request.

On Thu, Aug 20, 2020 at 12:43 AM Sneha Mishra <notifications@github.com>
wrote:

[2020-08-20 12:15] renugasaraswathy commented on #8278
Hi @cesswairimu @Tlazypanda, I am currently working on this. Could you help answering the following queries?

How do users navigate to /followers or /following pages of user?
would like to understand why is the route '/people/:username/following' instead of '/profile/:username/following'?

Thanks

[2020-08-20 20:26] cesswairimu commented on #8278
Hi @renugasaraswathy , good question. I do have a specific reason why the routes are set up as such, it could be it was just a call of the developer that worked on that. Or maybe could be the profile page was not initially there and we were using `/people/username` as the profile page then...Given  all the users is `/people` with rails convention this would be our `index` page and hence to get a s

[2020-08-21 04:36] Ljungwaldh commented on #8303
Is this issue being taken care of still? If not I'd gladly like to take care of it please

[2020-08-21 05:09] CharlesHEaster commented on #8303
Sure bud, have at it.  I thought I'd have tome but life keeps happening.

On Fri, 21 Aug 2020, 4:36 pm Ljungwaldh, <notifications@github.com> wrote:

[2020-08-23 19:02] Garvitmodi commented on #8328
Hi @avats-dev , I would like to work on this issue.

[2020-08-23 19:12] Garvitmodi commented on #8316
Hi @arteevraina , I would like to work on this issue.

[2020-08-23 19:24] avats-dev commented on #8328
Hi @Garvitmodi , Welcome to the publiclab community! :heart:

- If you understand the issue and know what to do, go on and open a PR. :+1:

- If you're new to this codebase, and would like to try somewhat relatively more easy, pick one of [these issues](https://github.com/publiclab/plots2/labels/first-timers-only) to get a start. You can also drop a message [here](https://github.com/publiclab/plot

[2020-08-23 19:32] avats-dev commented on #8319
Hey @jywarren , I removed line 368 (one with the `key`) from this https://github.com/publiclab/plots2/blob/c55e1ff6983041e197c9a4e168f107c78688cbaf/app/views/editor/rich.html.erb#L367-L370

and then when I tested on GitPod, I got this:
![Screenshot from 2020-08-24 00-56-47](https://user-images.githubusercontent.com/35889327/90987042-7267ef00-e5a5-11ea-925f-3c0d86c0a334.png)

[2020-08-23 19:37] avats-dev commented on #8319
Also, the **publish** button behaves strangely in this scenario, I have added a screenshot for reference.

![Screenshot from 2020-08-24 00-58-50](https://user-images.githubusercontent.com/35889327/90987095-dee2ee00-e5a5-11ea-8bc5-d43634a71e25.png)

I think this is worth another issue, right?

[2020-08-24 01:00] keshavsethi commented on #8332
@ebarry @jywarren I think it is not pushed in publiclab.org. Timestamp works fine in https://stable.publiclab.org/spam2/comments/filter/all/30, Please check in stable.
![Screenshot from 2020-08-24 06-24-48](https://user-images.githubusercontent.com/36025262/90993601-23d14980-e5d3-11ea-9bf7-510c2440b5cd.png)

Thanks!!

[2020-08-24 04:17] arteevraina commented on #8316
@Garvitmodi I am waiting for the maintainers to confirm this issue then you can start working on this.

[2020-08-24 11:42] Garvitmodi commented on #8328
Hey @avats-dev thanks for getting back to me. I  understand the issue and would like to help you resolve it.
Can you please provide me with the acceptance criteria of the pr request so that I can start working on it.

[2020-08-24 13:27] Ljungwaldh commented on #8303
Done the pull request now, not sure how the process goes now (i.e. if someone has to manually merge the pull request). In any case, all checks are complete and passed :)

[2020-08-24 19:56] avats-dev commented on #8328
Well then, @Garvitmodi you're good to go, open a PR and link to this issue when you're done. Thanks :heart:

[2020-08-24 21:05] avats-dev commented on #8303
Nice work @Ljungwaldh, now someone will approve and merge your PR. Thanks again for the contribution. :+1:

[2020-08-25 14:08] jywarren commented on #8332
Hi @keshav234156 - that's odd, i don't think any new code is in stable that's not on plots2 besides in the home controller - take a look!

...

oh wait -- did we not merge to stable branch last week???? Hmm.

https://github.com/publiclab/plots2/commits/stable vs https://github.com/publiclab/plots2/commits/

It looks like not. Gah! OK, doing this today.

[2020-08-25 14:14] jywarren commented on #8332
This is now republishing. We'll check the dates after but this should be resolved in the next hour or two when it goes live! https://jenkins.laboratoriopublico.org/job/Deploy%20Plots2/71/

[2020-08-25 14:14] #8332 closed

[2020-08-25 14:16] jywarren commented on #8332
Hmm, also, I wasn't able to reproduce the original issue -- i see "about 2 hours ago" here, but I wasn't able to see what URL Mimi was looking at so I'm not sure if I'm looking in the right place -- this is a screenshot of https://publiclab.org/spam2 :

![image](https://user-images.githubusercontent.com/24359/91185512-ed232e00-e6bb-11ea-8038-204d10e1d706.png)

[2020-08-25 14:21] sentry-io[bot] opened #8342 "Mysql2::Error: Unknown column 'flag' in 'where clause' for /spam2/comments"
Sentry Issue: [PLOTS2-W5](https://sentry.io/organizations/publiclab/issues/1858510902/?referrer=github_integration)

[code]

[2020-08-25 14:21] ebarry commented on #8332
@jywarren will be the only one who can see this, but the issue was reported here in the org's slack : https://publiclab.slack.com/archives/CV7KG8MFT/p1597843123001500

[2020-08-25 14:23] jywarren commented on #8342
Hi @keshavsethi  - in checking on https://github.com/publiclab/plots2/issues/8332 Mimi found this page isn't loading right now -- https://publiclab.org/spam2/comments - so I pulled this log entry from Sentry. Would you mind checking? Thank you!

[2020-08-25 14:42] jywarren commented on #8342
Possibly two bugs here - here's another almost identical one, specific to the `/spam2/comments` route:

[code]

[2020-08-25 14:42] jywarren commented on #8342
Is this due to a missing schema update, perhaps?

[2020-08-25 14:43] jywarren opened #8343 "ambiguous double pagination UI on /spam2"
![image](https://user-images.githubusercontent.com/24359/91185836-4c813e00-e6bc-11ea-9225-449a3ebb05e7.png)

Hi @keshavsethi - i noticed 2 pagination UIs here and wondered if we want to either remove one or clarify the difference?

Thank you!

[2020-08-25 14:44] sentry-io[bot] opened #8344 "Mysql2::Error: syntax error, unexpected '@', in profile search API"
Sentry Issue: [PLOTS2-W0](https://sentry.io/organizations/publiclab/issues/1857789354/?referrer=github_integration)

[code]

[2020-08-25 14:48] keshavsethi commented on #8342
@jywarren flags are working fine in stable. I don't know why it is happening here as the schema is fine.  I am working on this and update to asap. Thanks!!

[2020-08-25 14:50] keshavsethi commented on #8343
@jywarren It has been corrected in my PRs. Can you please verify it on stable as it is fine there. This is my old PR!!
Thanks!!

[2020-08-25 14:56] jywarren commented on #8342
Great, thank you! Can you check the last edit to `schema.rb.example` to see that it includes this? Also the latest code from Aug 18th will publish to the live site in an hour or so, i hope maybe that will help: https://jenkins.laboratoriopublico.org/job/Deploy%20Plots2/71/

[2020-08-25 15:02] first-timers[bot] opened #8345 "Fix comments link for wiki pages"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-25 15:03] jywarren commented on #8345
This issue is reserved for @PrakharSharma41 for 2 days - and then if anyone else would like to take it up, please leave a comment and we're glad to have your help! Thanks all!

[2020-08-25 15:03] jywarren commented on #8334
Hi @PrakharSharma41 - we'd love your help. I think i've found the issue - the real URL should be:

https://publiclab.org/wiki/translation/comments

Yet we point to `#comments` here:

https://github.com/publiclab/plots2/blob/639f15e83396fe00c3b06d7ebc17f4c3f5c23247/app/views/like/_like.html.erb#L115-L121

Would you be able to change that `href` value in the `_like.html.erb` template and open a pull

[2020-08-25 15:10] sentry-io[bot] opened #8346 "undefined method `path' for nil in Questions controller - possible FontAwesome asset issue?"
Sentry Issue: [PLOTS2-W1](https://sentry.io/organizations/publiclab/issues/1857824738/?referrer=github_integration)

[code]

[2020-08-25 15:16] jywarren commented on #8346
Hi @Tlazypanda I'm not sure this is a big issue, but found this stray error and was wondering if we're somehow accidentally making an incorrect asset request for:

`https://publiclab.org/questions/Vman/fonts/fontawesome-webfont.ttf?v=4.2.0`

Would you like to take a look and monitor calls to this `.ttf` file? Thank you, and no big deal if not!

[2020-08-25 15:19] sagarpreet-chadha commented on #8319
Yes @avats-dev , kindly make a issue in PL.editor repo telling in detail the steps to reproduce this and what was the expected behaviour?

Also you can make PR for this if you want, removing printing of key line. Thanks 😄

[2020-08-25 15:21] sagarpreet-chadha commented on #8316
Yes this looks like a valid UX enhancement, @Garvitmodi yes you can start work on this. Make sure that it looks fine in all browsers. Thanks @arteevraina  @Garvitmodi 🎉

[2020-08-25 16:08] jywarren opened #8347 "Understanding contributor statistics on /stats range pages"
@ebarry asked a question about the page https://publiclab.org/stats?start=01-12-2019&end=20-08-2020 --

You can see those numbers here:

![image](https://user-images.githubusercontent.com/24359/91198966-3dee5300-e6cb-11ea-906a-4a29fb26a9f9.png)

The top one is for the whole history of the website, while the bottom is for the selected range of time. So what's the difference?

This code is shown on

[2020-08-25 16:15] jywarren commented on #8347
I think the wording on the page was meant to imply this but I recommend a more explicit labeling of which contributions are counted in the lower number.

This will require translations of each string accordingly. I’ll start with the English changes in #8348.

[2020-08-25 16:16] jywarren commented on #8342
Hi, it seems this is resolved now! https://publiclab.org/spam2/comments

I'm not 100% sure what happened but I'm going to close this now -- thank you @keshavsethi !!!

[2020-08-25 16:16] #8342 closed

[2020-08-25 16:39] #8347 closed

[2020-08-25 17:18] ydocsgnillats commented on #8345
I would love to work on this issue after 2 days, or any other first timer issues that come up!

[2020-08-25 17:37] keshavsethi commented on #8343
@jywarren @ebarry Is this issue still there?
Thanks!!

[2020-08-25 18:01] #8303 closed

[2020-08-25 18:07] jywarren opened #8350 "Removing "less" gem (css) and inline JS dependencies"
I'm having some trouble installing the inline JS gems like `therubyracer` and `libv8`, and it appears this isn't so uncommon. `less` is built into the Rails 5+ pipeline but is [not plugged into a system-wide nodejs](https://github.com/metaskills/less-rails/issues/47), so it requires some native gem compilation on some systems (i'm on a chromebook, but this affects windows too).

Looking, I don't a

[2020-08-25 18:26] avats-dev commented on #8319
Well, @sagarpreet-chadha , removing the printing of key line is not working out as there's no error getting thrown. It's just a reddish bar then.
I replaced https://github.com/publiclab/plots2/blob/c55e1ff6983041e197c9a4e168f107c78688cbaf/app/views/editor/rich.html.erb#L367-L370 with https://github.com/avats-dev/plots2/blob/4e880b9d5cc6da72c56b1581a29c5a96b21c4cf4/app/views/editor/rich.html.erb#L3

[2020-08-25 19:19] PrakharSharma41 commented on #7896
Hi @ jscastanos  , I would like to work on this issue.

[2020-08-25 19:23] AdityaAshvin commented on #8345
@jywarren i would like to work on some first timer issues.

[2020-08-25 20:05] jywarren commented on #7334
OK, we've installed `pagy` gem for pagination in #8326 - let's see how this does in staging now.

[2020-08-25 20:09] jywarren commented on #7334
Confirming that https://unstable.publiclab.org/wiki/tag/method now shows https://unstable.publiclab.org/wiki/tag/method?page=2, https://unstable.publiclab.org/wiki/tag/method?page=3, https://unstable.publiclab.org/wiki/tag/method?page=4 with all entries.

That resolves [this original issue](https://github.com/publiclab/plots2/issues/7334#issuecomment-665063229)

(we should count the results to be

[2020-08-25 20:13] jywarren commented on #7334
OK, we are doing better... 32 are listed. But the total should be 83!

13 are listed per page, so if the first page were missing, say, 9 to make a full 13, we'd still only be at 41 total. Let me try to get a list of the full 83 to check discrepancies...

[2020-08-26 01:21] Tlazypanda commented on #8346
Hey @jywarren sure! will look into this :tada: can you share how you encountered this error so I can try reproducing it ? Thanks :v:

[2020-08-26 04:33] Anurag2012 commented on #8325
hi @jasonmj ,I would like to work on this issue.

[2020-08-26 11:11] jscastanos commented on #7896
@PrakharSharma41 Sure, go ahead. Just don't forget to mention @publiclab/reviewers in your PR

[2020-08-26 11:47] arteevraina commented on #8316
@Garvitmodi Go can work on this now.

[2020-08-26 13:20] jasonmj commented on #8325
@Anurag2012 Thanks! Note, that I was able to create an account using email instead. I think my Twitter account still has publiclab.org authorized and in case you want me to try to reproduce the issue.

[2020-08-26 17:52] Tlazypanda commented on #8112
Yes @sagarpreet-chadha should I move ahead with it then? The temp storage will delete the report in 7 days :sweat_smile:
So should I go ahead for the normal one or the one preserving history for now? cc @jywarren

[2020-08-26 19:42] namangupta01 opened #8356 "Reply by Email Review and Refactoring"
Hey! I was recently using reply by email feature. There was no hide and show button for quoted content in comment as we used to have at the starting.
As in the image, quoted content is visible and we don't have any show and hide button for quoted content.
<img width="1440" alt="Screenshot 2020-08-27 at 01 02 25" src="https://user-images.githubusercontent.com/20709985/91348456-69735980-e801-11ea-8c

[2020-08-26 19:50] ebarry commented on #8356
Thanks for reporting this @namangupta01 ! also, it's great to hear from you 💡
I have also noticed this over the past few months and was concerned. It is not our intention to show the quoted content, but you'd have to ask @jywarren or @cesswairimu perhaps for details

[2020-08-27 11:48] cesswairimu commented on #7896
Thanks for reporting this @jscastanos

[2020-08-27 12:12] cesswairimu commented on #7991
Sure thing I will take a look

[2020-08-27 15:16] jscastanos commented on #7896
@cesswairimu No problem. I'll try to find some more in my spare time.

[2020-08-28 02:18] Sethpony commented on #8220
Hi, I would like to claim this issue if it is still open :)

[2020-08-28 12:50] AdityaAshvin commented on #7683
Hey @cesswairimu , I would like to contribute.

[2020-08-28 16:04] sagarpreet-chadha commented on #8112
Hey @Tlazypanda , let's integrate the normal one.
It is good to have historical data but I am not sure how useful it will be given we will have to setup resources especially for this. Any ways you go ahead with the normal steps, meanwhile I will pitch this to @icarito @jywarren @ebarry
Thanks 😄

[2020-08-28 16:53] jywarren commented on #8112
I am so sorry I missed this. Please forgive!

This sounds great and gitpod does make it much easier and cheaper. I agree let's start without history. We can see what is preserved and if we see a use case for preserving once we start to use the feature.

I wonder if there's a way to either indicate or simulate that the users table is huge, as that is the source of a lot of slowness. By contrast the

[2020-08-28 18:30] avats-dev commented on #8213
@AdityaAshvin you can do this one, as @davidgoldcode has'nt responded yet. :+1:

[2020-08-28 22:48] sashadev-sky commented on #7683
@AdityaAshvin I can assign you to https://github.com/publiclab/Leaflet.DistortableImage/issues/628 if you are interested in contributing there :). Just comment there that you would like to claim it

[2020-08-28 23:01] chethanagopinath commented on #7683
Hi @cesswairimu! I would love to contribute, please let me know if there is an issue available.

[2020-08-29 03:52] sashadev-sky commented on #7683
@chethanagopinath if you would like to claim this one comment there and i'll assign you! https://github.com/publiclab/Leaflet.DistortableImage/issues/730

[2020-08-29 04:00] chethanagopinath commented on #7683
@sashadev-sky just did :)

[2020-08-29 06:15] ACavoli commented on #7683
@cesswairimu I would like to contribute to a project. If there is something available please let me know. Thanks!

[2020-08-29 06:48] WLienert commented on #7683
Hey @cesswairimu I would love to contribute to a FTO problem. I haven't contributed before but am eager to get started.

[2020-08-29 10:32] #8213 closed

[2020-08-29 10:35] cesswairimu commented on #8220
Hi @Sethpony, yes its still open and we would love your help. Please go ahead :tada:

[2020-08-29 10:37] #8331 closed

[2020-08-29 11:34] cesswairimu commented on #6894
I do not see any issue described here. So I am closing this. @Eshaabhasin  please feel free to add the changes needed on this and reopen. Thanks everyone

[2020-08-29 11:34] #6894 closed

[2020-08-29 11:43] cesswairimu commented on #7683
@marciojunior88 here is an issue for you https://github.com/publiclab/plots2/issues/8234 @OmLakshmi here is one for you too https://github.com/publiclab/plots2/issues/8205. Sorry this took longer.

Hi @ACavoli  @WLienert I have added your names to the list and will ping you soon with a fto.
Thanks @sashadev-sky :tada:

[2020-08-29 12:01] cesswairimu opened #8363 "Update .count with .size in like_controller"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-29 12:02] cesswairimu opened #8364 "Update .count with .size in comment_controller"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-08-29 12:02] cesswairimu commented on #8363
Reserved for @ACavoli

[2020-08-29 12:02] cesswairimu commented on #8364
Reserved for @WLienert

[2020-08-29 12:04] cesswairimu commented on #7683
@ACavoli here you go https://github.com/publiclab/plots2/issues/8363
@WLienert  here https://github.com/publiclab/plots2/issues/8364

[2020-08-29 12:41] #8345 closed

[2020-08-29 12:59] ACavoli commented on #8363
@cesswairimu Thanks, I'd be happy to help!

[2020-08-29 13:22] ACavoli commented on #8363
I think I have finished, but I'm not really sure. Could I get a review?

[2020-08-29 13:47] WLienert commented on #8364
@cesswairimu Thanks for the assignment. I have submitted a pull request.

[2020-08-29 15:23] avats-dev commented on #8328
@Garvitmodi any updates on this?

[2020-08-29 15:51] #8363 closed

[2020-08-29 15:53] #8364 closed

[2020-08-29 17:21] NitinBhasneria commented on #8328
Hey @avats-dev nice catch. Want to inform you that this bug is already mentioned in #8239 and solved in https://github.com/publiclab/plots2/pull/8240.

[2020-08-29 18:37] Garvitmodi commented on #8328
Hi @avats-dev  I am still working on it. As mentioned by @NitinBhasneria  , I will see PR #8240 . I will report back here as soon as I become familiar with the work done in PR #8240 and report with improvement suggestions if any.

[2020-08-29 19:19] avats-dev commented on #8328
@NitinBhasneria sorry for reopening this, I didn't checked. Great work on #8240 :+1: .

@Garvitmodi I think this is almost resolved, you can look for some other open issues. I think #8319 is good to go, check it out.

[2020-08-29 19:19] #8328 closed

[2020-08-29 21:14] Aastha2891 commented on #8204
Hey. Is this issue being worked on ? if not, I would love to contribute.

[2020-08-29 21:19] Aastha2891 commented on #7683
Hey, @cesswairimu I would like to contribute to an FTO issue. Let me know if something is available.

[2020-08-29 21:32] avats-dev commented on #7683
@Aastha2891 here #8258 :+1:

[2020-08-30 03:54] avats-dev commented on #8204
@Aastha2891 looks like this issue has been resolved in #8274 ,but PR is stuck due to failing travis tests.

You can take up #8205 or #8258 . Claim either of these by commenting on respective threads and open a PR linking back to the issue.  :+1:

[2020-08-30 05:05] Surajv311 commented on #7683
@cesswairimu . I would love to contribute to a fto issue. Please let me know if there is any available. I prefer working on js. Thanks.

[2020-08-30 10:34] cesswairimu commented on #7683
Thanks @avats-dev ,
Hi @Surajv311 , great, I've added your name  to the list will ping you soon

[2020-08-30 12:11] cesswairimu commented on #7683
@Surajv311 , there is  this issue  https://github.com/publiclab/spectral-workbench.js/issues/145 but its on documentation on a js project. Let me know if you would be interested

[2020-08-30 13:46] Surajv311 commented on #7683
@cesswairimu Yes sir I am interested.

[2020-08-30 15:57] Aastha2891 commented on #7683
@avats-dev Thanks.

[2020-08-30 15:58] Aastha2891 commented on #8258
Hi, I would like to claim this issue

[2020-08-30 16:29] cesswairimu commented on #7683
Go ahead @Surajv311

[2020-08-31 00:58] avats-dev commented on #8258
Go on @Aastha2891 :tada:

[2020-08-31 04:22] Tlazypanda commented on #8112
Hey @jywarren @sagarpreet-chadha @icarito  Thanks so much for the go-ahead!! :heart:

Actually was navigating through some issues first since right now on gitpod for getting the pr specific url first we need to login with github so in my Gh action script for lighthouse how do I fetch this dynamically generated link available only after login? :sweat_smile:

The inital link looks like  `https://git

[2020-08-31 04:23] Tlazypanda commented on #8112
Also this should we include all possible urls? :sweat_smile: what about the ones that are locked

[2020-09-01 13:33] #8209 closed

[2020-09-01 15:25] jywarren opened #8369 "error on /spam2/comments/filter/unmoderated"
Mimi reports that she is:

![image](https://user-images.githubusercontent.com/24359/91872286-b2823e00-ec45-11ea-8605-cb0c441d7f08.png)

I think i've found the correlated Sentry error and will link!

[code]

Mimi also sez:

[2020-09-01 16:37] jywarren commented on #8112
Let's start with some of the (public) highest traffic and worst performing ones, as per skylight.io, what do you think? Public routes will have more traffic anyways, and it's an easier starting point.

As to your Q about the URL - can you share your script so far? I bet there's a way to find the exact URL after boot in the GitPod docs. But I'm not yet following where you want to use that - can you

[2020-09-01 16:49] jywarren commented on #8343
Confirmed, thanks! It's corrected - thanks for the speedy reply!! Closing!!! 🎉

[2020-09-01 16:49] #8343 closed

[2020-09-01 16:50] keshavsethi commented on #8369
@jywarren I have already changed this method in a batch controller. I have checked it in https://stable.publiclab.org/spam2/comments/filter/unmoderated/30 and bulk spam worked fine there. I think some of the PRs got merged but not reflected in the PL. Can you please verify??
Thanks :heart:

[2020-09-01 16:51] jywarren commented on #2377
Hi all! I'm going to rename this to narrow in on automated spam detection techniques, as the bulk moderation and filtering UI work is complete or nearly complete in the spam2 project in #7885 -- thanks!

[2020-09-01 16:55] jywarren commented on #7885
Hi @keshavsethi - was just checking off items in related issues such as #2377, and although i saw filtering by keyword for the currently displayed results, in the search box in /spam2, I wasn't sure if there were also a way to filter /all/ results using a search keyword? Just to clarify! Thanks!

[2020-09-01 17:01] jywarren commented on #8369
The last publication to the live site was https://jenkins.laboratoriopublico.org/job/Deploy%20Plots2/71/ - and updated only to https://github.com/publiclab/plots2/commit/639f15e8, from 9 days ago.

The last commit to the batch controller was - https://github.com/publiclab/plots2/commit/baa7e7cd335b8325c8194f0740a59449448050d9 - Aug 25 - 1:58 EDT
 - 7 days ago. So this should be resolved there. I'l

[2020-09-01 17:01] #8369 closed

[2020-09-01 17:04] keshavsethi commented on #7885
@jywarren search box will only search in the current page(Although the user can increase the current page length). /filter/{keyword} will only filter nodes as per their type/status/flag/pagination

[2020-09-01 18:58] #8239 closed

[2020-09-01 20:15] #3479 closed

[2020-09-01 22:17] jywarren commented on #7334
Here are all 83:

[2020-09-01 22:25] jywarren commented on #7334
OK - theory - just confirmed that the tag `pin:test` can remove a wiki page from being displayed on `/wiki/tag/test` (in gitpod). How many are being hidden this way???

[2020-09-01 22:58] jywarren commented on #7334
None from the 83. I'm going to try starting a development environment from staging and to try logging out the contents of the `pagy()` pagination collection. Very mysterious that only 4 appear on the first page.

[2020-09-01 23:00] jywarren commented on #7334
wow let's try this! https://ddnexus.github.io/pagy/how-to#custom-count-for-custom-scopes

[2020-09-01 23:24] jywarren commented on #7334
also noting https://ddnexus.github.io/pagy/extras/arel

[2020-09-01 23:52] jywarren commented on #7334
OK, ready to try this in unstable with:

`source ../environment-dev.sh && docker-compose exec web passenger start`

[2020-09-02 10:29] Tlazypanda commented on #8270
Closing this moved to #8277  and #8278 Thanks @cesswairimu :heart:

[2020-09-03 01:42] avats-dev commented on #8319
@sagarpreet-chadha or @cesswairimu any suggestions on this one?

Also I think this should be transferred to the editor repo to avoid duplicate issues.

[2020-09-03 01:53] avats-dev opened #8373 "avoid displaying the same success message twice"
Currently when someone publishes their work, two messages are displayed and they both are almost the same.

**Please describe the desired behavior.**
One success message would suffice. And as both messages are saying the same thing, there is no point of displaying them both.

**Watch this**
![Screenshot from 2020-09-02 23-23-48](https://user-images.githubusercontent.com/35889327/92062285-f85e1400-

[2020-09-03 17:31] sagarpreet-chadha opened #8374 "Weekly Community Check-In #74 - Retrospect of the work done"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-09-03 17:33] sagarpreet-chadha commented on #8374
@jywarren, @AgyeyaMishra, @Jolios, @cesswairimu, @samarakoon-ryan, @Samasth, @malaikaaiyar, @keshavsethi, @OmLakshmi, @nsachin08, @dependabot-preview[bot], @Tlazypanda, @galanggg, @ishika1727, @icarito, @RajatSablok, @mronauli, @ijeomaemeruwa, @alaxalves, @Shulammite-Aso, @JapneetSingh5, @Neilblaze, @markkulube, @vinuch @JapneetSingh5, @Neilblaze, @markkulube, @vinuch, @Tlazypanda, @icarito, @depe

[2020-09-03 17:33] sagarpreet-chadha commented on #8374
@llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-sharmaa, @goamoth, @SusannaDiV, @yusofsf, @nanlliu, @Tlazypanda,@keshav234156, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04, @sssash18, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shu

[2020-09-03 17:34] sagarpreet-chadha commented on #8374
@jscastanos, @sarthak-choudhary, @dongskyler, @keshavsethi, @Shulammite-Aso, @ckchu8, @keshav234156, @DerekChristy, @Srija616, @priyanka-choubey, @AyanChoudhary, @imajit, @NitinBhasneria, @nstjean, @marientje, @rutger-t, @imajit, @NitinBhasneria, @nstjean, @marientje, @rutger-t, @nsachin08 @Rohit-786 @Tristan-Elizabeth @aakanchha01 @habeckmatt @hiteshsubnani0128 @ijeomaemeruwa @OmLakshmi @dmoini @

[2020-09-03 17:41] cesswairimu commented on #8374
Thanks Sagar :tada:

[2020-09-03 19:45] dongskyler opened #8375 "Remove stale branches (>300 stale branches)"
**Please describe the desired behavior.**
Describe the solution you'd like.

Suggestion to remove stale branches to maintain a clean git record.

There are >300 stale branches. Many of them are over a year old and hundreds (and even thousands) of commits behind.

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.

[2020-09-04 06:20] pydevsg commented on #8374
@keshavsethi , @keshav234156 share your GSoC experience here :smile:
Great time mentoring you. :heart:
Kudos @keshavsethi for your work in Spam management Dashboard. :tada:
@keshav234156 for your work in the Public Lab Editor :tada:

[2020-09-04 13:11] jywarren commented on #8374
Great work, everyone!!! Thanks for all your time and effort!!! 🎉 🎉 🎉 🎉

[2020-09-05 08:42] Tlazypanda opened #8380 "Testing out the Beta print version"
### Please describe the problem (or idea)
After the addition of the Printable (Beta) Version to the print options, it is now time to test it out and report bugs so that we can solve them and provide users with good experience with Printing.

### Please show us where to look
Inviting the Public Lab team to test the Print view and report bugs found so we can correct them. Let this issue act as a mai

[2020-09-05 08:44] Tlazypanda commented on #8380
Hey @jywarren after we get the tests merged will tag Liz and other community members to test this out and hopefully figure out the shortcomings of the print option :sweat_smile: Will need some extensive testing with different types of content to understand where this might be failing

[2020-09-05 17:41] keshavsethi commented on #8374
Hey Everyone 👋🏻
It's been an amazing time working with everyone in GSoC 2020 🎉   I learned a lot of things from everyone!!
Thanks to all the _**mentors and community members**_ ❤️  for helping, reviewing, and continuously supporting me throughout the GSoC period
This is link to my **GSoC report**: https://publiclab.org/notes/keshav_sethi0004/08-29-2020/spam-management-dashboard-gsoc-2020-report
Sp

[2020-09-07 15:57] cesswairimu commented on #8374
I suggest we  leave this check-in open for this week too to give everyone a chance to give a retro.
Great job everyone :tada: :tada: and thanks for choosing PL :tada: :tada:  :rocket: ]]

Great week ahead

[2020-09-07 16:09] jywarren commented on #8374
Agreed. I've just submitted the compiled final evaluations and would love to hear from @publiclab/soc and mentors if you're able!

Many thanks to our Outreachy and GSoC participants, and to everyone who helped mentor this summer. It was an incredibly good experience, especially given the very difficult situation in the world this summer. I hope you are all safe and healthy and wish the best for yo

[2020-09-07 16:45] sagarpreet-chadha commented on #8375
We should add this probot app: https://github.com/probot/stale

This will close any PR's (issues also) that are very old/ stale. Then we can know which branches are stale or not, then we can delete them 😄

[2020-09-07 16:45] sagarpreet-chadha commented on #8375
@jywarren thoughts?

[2020-09-08 07:47] #8220 closed

[2020-09-08 15:02] jywarren commented on #7883
Hi @Tlazypanda this is super, by the way, i forgot to comment! I wonder now that a lot more things have been merged and published, if we get an even better score!

[2020-09-08 15:13] #7873 closed

[2020-09-08 15:14] jywarren commented on #7432
Closing this up! Thank you!!!

[2020-09-08 15:14] #7432 closed

[2020-09-09 16:11] akshitagupta15june opened #8387 "Proper indentation required!"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-09-09 16:47] thewires2 commented on #8387
Can i claim this one?

[2020-09-09 18:14] Seithar2017 commented on #8387
hello I am the First Timer

[2020-09-10 04:02] Ishan-Saini commented on #8387
I would like to claim this issue #8387

[2020-09-10 04:09] akshitagupta15june commented on #8387
Ok @Ishan-Saini @Seithar2017

[2020-09-10 05:01] Ishan-Saini commented on #8387
@akshitagupta15june  Hey, i can't find the mentioned file, the link doesn't really takes us to the file

[2020-09-10 12:40] Seithar2017 commented on #8387
I've got the same problem, have you found the file already?

[2020-09-10 14:27] shreyaa-sharmaa commented on #8374
Hey everyone!
I hope you're all safe and healthy :heart:
It's been an amazing experience working with PL community.

A big thank you to the mentors, maintainers and all the community members for your invaluable input, for being patient while explaining something, and supporting us throughout.
I learnt a lot form all of you! :heart: :tada:

[2020-09-10 21:53] Sheetal777 commented on #8387
Hello, I am new to open source and GitHub as well. I would like to help with the indentation. Would you assign the same to me? (If it is already assigned to someone, I would happily look for another issue :) )

[2020-09-11 06:23] Tlazypanda commented on #8380
Hey @jywarren can we get the work till now published if there are no bugs :sweat_smile: so that we can get this tested out with Liz and others ...with their feedback I can then make more changes to the template :tada:

[2020-09-11 06:30] Tlazypanda commented on #8374
Hey everyone :wave:

Hope you are all doing well :heart:
The last week has been super busy with endless assignments and evaluations :cry:

Apart from the many technical things that I learnt during this internship, I guess just working here on an actual live project has made me feel much more confident. And I think I owe it all to the community members here who welcomed us with open arms and always

[2020-09-11 14:12] Ishan-Saini commented on #8387
@Sheetal777 @Seithar2017 I think this issue is dead now!

[2020-09-12 07:35] Sheetal777 commented on #8387
Okay, its fine.

[2020-09-14 06:45] cesswairimu commented on #8374
Thanks everyone,  anyone interested in opening this week's check-in?

[2020-09-14 14:48] jywarren commented on #8387
Hi all, apologies, it does look like this isn't aimed at a specific file. Thank you @akshitagupta15june for opening it -- would you be able to adapt one of the "candidates" from https://code.publiclab.org to make a new one instead?

And thank you all for your interest!!!

[2020-09-14 14:48] #8387 closed

[2020-09-14 14:48] jywarren commented on #8258
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2020-09-14 14:50] #8204 closed

[2020-09-14 16:47] #8241 closed

[2020-09-14 16:47] #8259 closed

[2020-09-14 17:03] cesswairimu opened #8394 "Weekly Community Check-In #75 - Thank you GSOC and Outreachy folks"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-09-14 17:03] cesswairimu commented on #8374
Moved to https://github.com/publiclab/plots2/issues/8394 Thanks everyone

[2020-09-14 17:03] #8374 closed

[2020-09-14 17:04] cesswairimu commented on #8394
@jywarren, @AgyeyaMishra, @Jolios, @cesswairimu, @samarakoon-ryan, @Samasth, @malaikaaiyar, @keshavsethi, @OmLakshmi, @nsachin08, @dependabot-preview[bot], @Tlazypanda, @galanggg, @ishika1727, @icarito, @RajatSablok, @mronauli, @ijeomaemeruwa, @alaxalves, @Shulammite-Aso, @JapneetSingh5, @Neilblaze, @markkulube, @vinuch @JapneetSingh5, @Neilblaze, @markkulube, @vinuch, @Tlazypanda, @icarito, @depe

[2020-09-14 17:04] cesswairimu commented on #8394
@llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-sharmaa, @goamoth, @SusannaDiV, @yusofsf, @nanlliu, @Tlazypanda,@keshav234156, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04, @sssash18, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shu

[2020-09-14 17:05] cesswairimu commented on #8394
@jscastanos, @sarthak-choudhary, @dongskyler, @keshavsethi, @Shulammite-Aso, @ckchu8, @keshav234156, @DerekChristy, @Srija616, @priyanka-choubey, @AyanChoudhary, @imajit, @NitinBhasneria, @nstjean, @marientje, @rutger-t, @imajit, @NitinBhasneria, @nstjean, @marientje, @rutger-t, @nsachin08 @Rohit-786 @Tristan-Elizabeth @aakanchha01 @habeckmatt @hiteshsubnani0128 @ijeomaemeruwa @OmLakshmi @dmoini @

[2020-09-14 19:40] sagarpreet-chadha opened #8395 "Make releases in plots2 to acknowledge contributors"
Hi @jywarren @icarito @ebarry

I am thinking of writing a script using Github API's like `npm run create-release` that we can run post deployment which will make a release in this repository automatically mentioning the contributors name and work done by the person and lots of emojiiis.
It can also act as a changelog file to track when a particular PR was merged. What do you all think?

Thanks 😄

[2020-09-14 20:48] HarshKhandeparkar commented on #8394
Hi all! I created [this](https://github.com/HarshKhandeparkar/gpujs-hive-compute) tool to use multiple computers on a network for parallel computing. It is using [gpu.js](https://gpu.rocks) which means that it can run in a browser, nodejs or even on a mobile device(using a browser).

I was thinking that this could be used in some of the projects here, such as Image Sequencer. IS already uses gpu.j

[2020-09-14 21:48] ebarry commented on #8395
Sounds great!

[2020-09-15 15:54] #8170 closed

[2020-09-15 16:19] jywarren commented on #7908
Strangely this has re-broken, so re-opening:

8b0b3d50ac7797a1c66bc9ecbfda53482dd31c5c was the last fix, a day before we closed this and had confirmed it on stable.

It's no longer working on stable either: https://stable.publiclab.org/stats/subscriptions

![image](https://user-images.githubusercontent.com/24359/93237160-b89c1280-f74d-11ea-8fad-aa9ae36cd37f.png)

[2020-09-15 16:45] jywarren commented on #8394
Hi everyone! It was great seeing folks on the call yesterday. Sending 🙌  to everyone!

And sharing this cool graphic of repo activity from the past few months:

![image](https://user-images.githubusercontent.com/24359/93239244-82ac5d80-f750-11ea-9317-55745d1dea24.png)

via http://ghv.artzub.com/#repo=plots2&climit=300&user=publiclab

@HarshKhandeparkar whoa, this is really amazing, Harsh! You shou

[2020-09-15 21:27] nicobelo91 commented on #8234
Hey @juliawithers , would you like some help?

[2020-09-15 22:35] jywarren opened #8401 "reduce intermittent Travis test failures doing math properly with Time"
@VladimirMikulic noted:

https://github.com/publiclab/plots2/blob/master/test/unit/tag_selection_test.rb

@Tlazypanda noted:

I agree -- let's review this test and see if we can get our Travis tests to more consistently pass!

https://github.com/publiclab/plots2/blob/60cdd8f3a45f6824cde7484bc261d31df6e10dbd/test/unit/tag_selection_test.rb#L5-L14

We'd love help with this!

[2020-09-15 22:46] jywarren commented on #7908
On stable:

[code]

which seems correct...?????

[2020-09-16 06:14] Tlazypanda commented on #8401
Hey @jywarren just noting here that I had added the timecop test and it failed on Travis and on research I found out the reason to be -
https://github.com/publiclab/plots2/issues/7315#issuecomment-670795021

Might solve this problem for once and for all tagging @VladimirMikulic @Uzay-G

[2020-09-16 07:09] sagarpreet-chadha commented on #8395
Solved here: https://github.com/publiclab/PublicLab.Editor/pull/617
Example release in plots2: https://github.com/publiclab/plots2/releases/tag/v4.0

[2020-09-16 14:59] Hassanelashram commented on #8205
Is this issue still open ? @cesswairimu
If yes I could do it.

[2020-09-16 15:01] cesswairimu commented on #8205
Hi @Hassanelashram , yeah its still open. We would love your help..go ahead. Thanks

[2020-09-16 15:31] Hassanelashram commented on #8205
On it, thank you for the quick reply.
Quick Question, Do I need to also change the JS instances .length -> .size ?

[2020-09-16 15:34] cesswairimu commented on #8205
Nope, just the ruby bit.

[2020-09-16 16:02] Hassanelashram commented on #8205
Done, I also have a branch locally where I did the same thing all over the codebase because I misunderstood and thought that was what needed to be done.
If you need to change them all in the codebase later on let me know and i could make a PR with my changes.

[2020-09-16 18:34] VladimirMikulic commented on #8401
It would help if we knew _exactly_ how to reproduce the issue. Locally the test doesn't fail. So maybe some Travis settings affects it?

[2020-09-17 15:23] ebarry commented on #8334
hi @PrakharSharma41 , what other questions might you have? 🌳✨

[2020-09-17 19:28] cesswairimu commented on #8205
I am sure if there is a .size method in js. We are replacing the ruby queries with .size because its almost twice as fast than the `.count`

[2020-09-18 19:52] cesswairimu commented on #3961
@ebarry @jywarren are we still experiencing this?

[2020-09-19 05:41] Tlazypanda opened #8406 "Replace .length with .size for wiki/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-09-19 05:41] Tlazypanda opened #8407 "Replace .length with .size for sidebar/_question.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-09-19 05:41] Tlazypanda opened #8408 "Replace .length with .size for questions/show.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-09-19 05:41] Tlazypanda opened #8409 "Replace .length with .size for questions/_new_question.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-09-19 06:42] joyhumin commented on #8407
Hi, can I grab this? It looks like using EJS.

[2020-09-19 06:46] Tlazypanda commented on #8407
Hey @joyhumin yes please go ahead! 🎉

[2020-09-19 08:54] Hassanelashram commented on #8408
@Tlazypanda Hey, could I work on it?

[2020-09-19 09:04] Tlazypanda commented on #8408
Hey @Hassanelashram Sure please go ahead!! 💯

[2020-09-19 14:11] Mohitkumar6122 commented on #8409
@Tlazypanda Hey, could I work on it?

[2020-09-19 15:03] Tlazypanda commented on #8409
@Mohitkumar6122 yeah go ahead 👍

[2020-09-19 17:22] ebarry commented on #8380
Super! Thanks for all your work on this. I realize the Fellowship Period is already closed, so no pressure. I'm just going to use this issue to continue documenting:

Surprisingly, the width printed on the PDF page depends on the width of the monitor you were looking at the wiki page on! See this PDF exported from my 1280 px laptop screen, where all the text is cut off on the righthand side, and s

[2020-09-19 17:24] ebarry commented on #8244
Exciting to see this detective work yield results!

[2020-09-19 18:11] yashkpal1711 commented on #8406
hello mam,
how do I claim the issue?

Ps- I have intermediate-level knowledge of HTML CSS(sass), And It's my first comment on github.

guidance is highly appreciated .

[2020-09-19 19:17] Mohitkumar6122 commented on #8409
i have pull requested after fixing issue .
Btw Thanks for this opportunity @Tlazypanda

[2020-09-20 05:44] Tlazypanda commented on #8380
Hey @ebarry I just looked at the pdfs they seem to be printed from the old print option :sweat_smile: and not the new printable(beta) option ...can you cross check once :sweat_smile:

This is how it looks on the new print option -
[🎈 Public Lab_ Print.pdf](https://github.com/publiclab/plots2/files/5251189/Public.Lab_.Print.pdf)

[2020-09-20 05:50] Tlazypanda commented on #8380
Also with the new printable(beta) option here I noticed the cards part is breaking on page change so I will try to fix it so that it stays in the entire card stays in a single page :sweat_smile:

[2020-09-20 08:43] cesswairimu commented on #8401
Lets keep this open as we monitor #8411 for the the next week or so

[2020-09-20 08:48] #8409 closed

[2020-09-20 08:54] #8406 closed

[2020-09-20 17:49] nadimakhtar97 commented on #8258
@keshavsethi  is this issue still open? I want to contribute to it as I have never made a PR.

[2020-09-20 18:27] avats-dev commented on #8258
@nadimakhtar97 you can go on, thanks for taking up on this!

[2020-09-20 19:42] avats-dev commented on #8225
@cesswairimu when I was trying to solve #8319 , I saw that in https://github.com/publiclab/plots2/blob/c55e1ff6983041e197c9a4e168f107c78688cbaf/app/views/editor/rich.html.erb#L367-L370
, changing line 368 as

**`$('.ple-errors .alert').append('<p><b>'  '</b> </p>');`**

gives following layout to the editor, which is quite good.

---
![editor-new](https://user-images.githubusercontent.com/35889327/

[2020-09-20 21:14] nadimakhtar97 commented on #8258
@avats-dev  @keshavsethi     **<% if params[:type] == "everything" %> to <% if params[:tag] == "everything" %>**    is already changed in  **spam2/queue/filter/everything**  at line number 46 in https://github.com/publiclab/plots2/blob/main/app/views/spam2/_queue.html.erb#L42

        **<a href="/spam2/queue/filter/everything" class="btn nav-link  <% if params[:tag] == "everything" %> active<% els

[2020-09-21 13:36] ebarry commented on #8380
Thank you! I think the issue is that your great work has not yet been integrated all the way onto publiclab.org yet, so my comment was a bit hasty <3

[2020-09-21 13:40] ebarry commented on #8356
Thanks again for spotting this @namangupta01 , I think several active users have pointed out the same issue with email signatures showing up in comments posted by email (again).

[2020-09-21 13:42] ebarry commented on #8334
Thanks for fixing this @PrakharSharma41 ! I see the fix is live.
Closed by https://github.com/publiclab/plots2/pull/8355

[2020-09-21 13:42] #8334 closed

[2020-09-21 13:49] ebarry commented on #8316
Just mentioning that I am unable to reproduce this bug on my laptop in Chrome or in Firefox, or on my phone in Android Chrome.

[2020-09-21 14:01] avats-dev commented on #8258
@nadimakhtar97 looks like this issue is resolved and should be closed. **You can try #8174 , another fto.** Thanks. :rocket:

Also, @keshavsethi @cesswairimu , this issue is probably resolved so should be closed. :tada:

[2020-09-21 14:22] cesswairimu commented on #8394
Happy monday all, anyone wonna open this week's check-in?

[2020-09-21 14:23] ebarry commented on #8198
Great, what are the next steps on this issue? What kind of help would be...helpful?

[2020-09-21 14:40] ebarry commented on #8125
Thanks for reporting @kgradow1 , Looks like @crisner also reported this in the Leaflet.EnvironmentalLayers repo back in February so i crosslisted this there.
I'm also asking Sean in the #teamwork Slack channel which you can follow along with.

[2020-09-21 14:59] arteevraina commented on #8316
When I previously checked it in my Firefox browser. It showed this UI on reducing the window size to half of the screen.

[2020-09-21 15:04] ebarry commented on #8119
thank you all!
At this time i believe buttons have been removed from both the *Comment Editor* and the * Reply To Comment Editor*, so perhaps this can be closed until the next round of work on those editors?

[2020-09-21 16:54] nadimakhtar97 commented on #8174
@avats-dev  I am working on this issue.

[2020-09-21 17:07] cesswairimu commented on #8258
Thanks you both. You are right. closing this

[2020-09-21 17:07] #8258 closed

[2020-09-21 17:21] cesswairimu commented on #8225
Wow that sure does look good...the Publish button is usually deactivated untill you enter the title and body part..is it activated after that?

[2020-09-21 17:25] #8407 closed

[2020-09-21 17:28] avats-dev commented on #8174
@nadimakhtar97 go on :tada:

[2020-09-21 17:36] avats-dev commented on #8225
@cesswairimu publish is inactive even after I type smth on body with a title.

[2020-09-21 17:39] cesswairimu commented on #8225
:thinking:

[2020-09-21 17:53] nadimakhtar97 commented on #8174
#8418

[2020-09-22 06:15] Tlazypanda commented on #8380
Ohh no issues :v: Thanks for pointing this out @ebarry since I corrected the card page-break after noticing this :sweat_smile: please keep on sending more bugs my way :smile:

[2020-09-22 06:26] Tlazypanda opened #8419 "Weekly Community Check-In #76 - Let's create some Hacktoberfest issues"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-09-22 06:27] Tlazypanda commented on #8419
@jywarren, @AgyeyaMishra, @Jolios, @cesswairimu, @samarakoon-ryan, @Samasth, @malaikaaiyar, @keshavsethi, @OmLakshmi, @nsachin08, @dependabot-preview[bot], @Tlazypanda, @galanggg, @ishika1727, @icarito, @RajatSablok, @mronauli, @ijeomaemeruwa, @alaxalves, @Shulammite-Aso, @JapneetSingh5, @Neilblaze, @markkulube, @vinuch @JapneetSingh5, @Neilblaze, @markkulube, @vinuch, @Tlazypanda, @icarito, @depe

[2020-09-22 06:27] Tlazypanda commented on #8419
@llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-sharmaa, @goamoth, @SusannaDiV, @yusofsf, @nanlliu, @Tlazypanda,@keshav234156, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04, @sssash18, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shu

[2020-09-22 06:27] Tlazypanda commented on #8419
@jscastanos, @sarthak-choudhary, @dongskyler, @keshavsethi, @Shulammite-Aso, @ckchu8, @keshav234156, @DerekChristy, @Srija616, @priyanka-choubey, @AyanChoudhary, @imajit, @NitinBhasneria, @nstjean, @marientje, @rutger-t, @imajit, @NitinBhasneria, @nstjean, @marientje, @rutger-t, @nsachin08 @Rohit-786 @Tristan-Elizabeth @aakanchha01 @habeckmatt @hiteshsubnani0128 @ijeomaemeruwa @OmLakshmi @dmoini @

[2020-09-22 08:58] #8174 closed

[2020-09-22 13:10] ebarry commented on #8419
Hi happy equinox everyone! ☀️🌍🌏🌎☀️
This week i'm working on report writing 😅

[2020-09-22 16:50] jywarren commented on #7334
custom count didn't work w/ `nodes.count` -- will try reproducing in unstable on the command line...

[2020-09-22 17:32] cesswairimu commented on #8419
@nadimakhtar97

[2020-09-22 17:42] jywarren commented on #7334
OK, found a deep inconsistency:

[code]

[2020-09-22 18:24] jywarren commented on #8395
Hi @shaunagm! Maybe this is interesting to you! Esp. the script @sagarpreet-chadha put together for it!

[2020-09-22 19:40] jywarren commented on #7334
OK, it appears that the wild pagination occurs when running:

`@pagy, nodesp = pagy(nodes.order('node_revisions.timestamp DESC'))`

but not:

`@pagy, nodesp = pagy(nodes.order('node.nid DESC'))`

so i propose that as a short-term fix. This will sort them by descending `nid` which is very close to order of creation. Then we can deprioritize this - i'll leave a comment explaining.

[2020-09-22 20:18] #3845 closed

[2020-09-22 20:18] #5914 closed

[2020-09-22 20:21] #7334 closed

[2020-09-22 22:18] jywarren commented on #8198
Switching to `.size` is far more optimal and @Tlazypanda has shepherded a huge number of FTOs related to that optimization all over our codebase: https://github.com/publiclab/plots2/search?q=size&type=issues

I got Pagy (https://github.com/ddnexus/pagy) running in #8326 and it claims huge improvements in speed and memory use for paginated collections, and this could be broadened to many pages acro

[2020-09-22 22:22] jywarren commented on #8198
Most "typical response" shows a 4x speedup.

[2020-09-22 22:23] jywarren commented on #8198
A ton of this is probably also from the lazy loading of images, the CSS/JS deferred load optimizations, and plenty more by @Tlazypanda !!! Great work!

[2020-09-23 12:37] cesswairimu commented on #8419
Hello everyone,
This week I will continue with the cleanup of issues & PRs across our projects and hackoberfest labelling. Also still working on  #7991
Great week ahead everyone

[2020-09-23 12:47] Tlazypanda commented on #8419
Hey everyone :wave: I am planning to open issues with this `Hacktoberfest` label @cesswairimu can you give me an idea of the difficulty level of these issues in plots2 or what we can go for? :sweat_smile: Also shout out to @cesswairimu for her continued support on #7991 :tada: :clap:

[2020-09-23 14:20] ebarry commented on #8198
I really appreciate these screenshots and explanations, thanks Jeff! It's an interesting idea to expand Pagy, i don't exactly know the implications of doing so, so I am all ears.
@Tlazypanda could you share the slidedeck you presented for the September Open Hour with me? I want to cite those screenshots of performance improvements! Really impressive! 🤝

[2020-09-24 07:59] cesswairimu commented on #8419
@Tlazypanda I am mostly looking for "help-wanted" or "bug" labelled issues. One thing we have to make sure that they have enough context for someone to quickly pickup and start working on and also independent in that they are not relying on other issues. The website describes them as issues with "a well-defined scope and are self-contained". Hope this helps and thanks for help :100:

[2020-09-24 14:43] urvashigupta7 commented on #8171
Hi.. I would like to work on this :)

[2020-09-24 18:26] Tlazypanda opened #8426 "Migrate to pagy"
**Please describe the desired behavior.**
Currently we are using will_paginate gem for pagination but pagy offers better performance and saves memory.
Follow up to #8326

https://ddnexus.github.io/pagy/migration-guide
https://github.com/ddnexus/pagy

Implemented routes

**wiki**
- [x] stale
- [x] index
- [x] revisions
- [x] author

**tag**
- [x] blog
- [x] show

**notes**
- [x] places
- [x] author

[2020-09-24 18:27] Tlazypanda commented on #8426
Hey @jywarren @cesswairimu using this issue as master issue will be adding pagy for different routes in smaller prs :sweat_smile:

[2020-09-24 18:28] Tlazypanda opened #8427 "Add pagy for all wiki routes"
**Please describe the desired behavior.**
Refer master issue #8426
We have to add pagy for all wiki routes.

[2020-09-24 18:42] Tlazypanda commented on #8419
Hey @cesswairimu Thanks for the info on this :v: I was wondering if we can create some hacktoberfest issues for migration to pagy on a route-to-route basis. The pagy docs might be self-contained and if the issue is also structured in a proper manner contributors might be able to follow with ease. What do you think? :sweat_smile: @jywarren

[2020-09-25 12:17] AC-BOSS commented on #8408
may I work on this? Do I have to replace ALL instances of .length with .size?

[2020-09-25 15:17] sakshi-s commented on #8408
Hey. Can I work on this?

[2020-09-25 22:01] shaunagm commented on #8395
I love it!

[2020-09-26 04:49] sagarpreet-chadha commented on #8395
Thanks @jywarren @shaunagm 🚀

[2020-09-26 05:08] MoretS commented on #5005
Hello @CleverFool77 @gauravano !

Is this issue still in progess? If yes, I would be happy to work on it 😄

[2020-09-26 09:37] AgyeyaMishra commented on #8373
I would like to may be work on this issue. Can you please tell me in which file do I have to make the concerned changes?

[2020-09-26 11:02] avats-dev commented on #8373
@AgyeyaMishra glad you're taking up this. Thanks :tada:
As I'm not sure what needs to be done here, I'm tagging @cesswairimu @sagarpreet-chadha @keshavsethi  to help you out. :rocket:

[2020-09-26 17:57] AgyeyaMishra commented on #8373
Great! Thank you. Any kind of leads or help will be highly appreciated.

[2020-09-27 13:39] gauravano opened #8431 "Social media sharing pills misaligned in sidebar"
### Please describe the problem (or idea)

Social media sharing pills not aligned in the sidebar.

<img width="318" alt="tagss" src="https://user-images.githubusercontent.com/20878070/94366279-c447eb80-00f4-11eb-976d-ea25fa97a6a5.png">

(Issue observed in https://github.com/publiclab/plots2/issues/5005)

### Please show us where to look

Observed in various pages. Example: https://publiclab.org/wi

[2020-09-27 13:40] gauravano commented on #5005
Hi @MoretS,

The UI has changed now as you can see - https://publiclab.org/wiki/requests. So, I guess this issue in not valid anymore. @cesswairimu @jywarren please confirm.

Although, I can see an issue with the alignment of Social Sharing pills at end of sidebar. (From this page - https://publiclab.org/wiki/name-your-project-here)

<img width="318" alt="tagss" src="https://user-images.githubuser

[2020-09-27 21:23] avats-dev commented on #8431
@gauravano I don't know how but social pills alignment in https://publiclab.org/wiki/name-your-project-here works fine for me, as you can see in this gif.

![aligncheck](https://user-images.githubusercontent.com/35889327/94375981-2b859000-0135-11eb-8fff-adb4c7a07c8a.gif)

**Maybe this is platform dependent, but I'm not sure. FYI I'm using Mozilla Firefox x64 (80.0.1) on Ubuntu (20.04 LTS).**

[2020-09-27 23:59] gauravano commented on #8431
Hmm, it seems to be browser-related. I am getting correct alignment in Safari as well but in Chrome it's misaligned. I am also wondering if we can fit all the 3 pills in a single row? Currently, it's coming in 2 rows irrespective of screen size.

Thank you @avats-dev for checking it for Firefox and highlighting on browser-specific point :)

[2020-09-28 05:00] sangu09 commented on #7683
Hey, I would like to contribute to an fto too. Let me know if one is available.

[2020-09-28 09:20] khushali77 commented on #8408
Can I take up this issue now?

[2020-09-28 11:33] #8408 closed

[2020-09-28 11:39] cesswairimu commented on #8234
Looks like this was fixed. @keshavsethi  if I am mistaken kindly update the description and reopen. Closing this for now. Thanks everyone

[2020-09-28 11:39] #8234 closed

[2020-09-28 11:42] cesswairimu commented on #7683
Hi @sangu09, added your name to the list. Will ping you when we get an issue. Thanks

[2020-09-28 11:58] #8319 closed

[2020-09-28 12:34] cesswairimu commented on #8373
@AgyeyaMishra
the url is `/post`   the method that renders the flash messages is here  https://github.com/publiclab/plots2/blob/main/app/controllers/application_controller.rb#L147-L166
and on this particular template is called here https://github.com/publiclab/plots2/blob/main/app/controllers/notes_controller.rb#L58
Let me know if you need anything else. Thanks

[2020-09-28 12:51] cesswairimu commented on #8426
cool, haven't used pagy before will check it out. Thanks

[2020-09-28 19:28] bronwen9 opened #8434 "spam comments bypassing moderators"
Comments from unapproved posters land on pages without 1) appearing on the moderation queue or 2) appearing as a new/unmoderated comment on the dashboard (am assuming because technically they're not approved or live on the site.

The comments do show up with the approve/spam button once you navigate onto the page, but there isn't anything to alert moderators to their presence unless they happen to

[2020-09-28 20:28] ebarry commented on #8434
Thank you SO MUCH for reporting this @bronwen9 !!!!!

[2020-09-28 20:30] ebarry commented on #8431
This is tricky! I just went to the wiki page you linked to in Chrome, and i am not seeing the mis-alignment. Here's what i see at all screenwidths:
<img width="183" alt="Screen Shot 2020-09-28 at 4 29 38 PM" src="https://user-images.githubusercontent.com/161439/94482838-e77fa300-01a7-11eb-8041-c622d2c82cf8.png">

[2020-09-28 20:55] avats-dev commented on #8431
:confused:
@gauravano yeah, keeping all three in a single row might be good or keeping only one in a row :thinking:

[2020-09-28 21:07] avats-dev commented on #7683
Hi @sangu09, you can work on #8205 and there is no one currently working on it. :+1: :rocket:

[2020-09-28 21:46] cesswairimu commented on #7683
Thanks @avats-dev, we do need to do a proper update of the issue, some of the replacements did not work for a previous contributor. I will try to do that first thing tomorrow but @sangu09  you can claim it and I will ping you when I have outline the necessary lines that we need to alter. Thanks

[2020-09-28 21:57] cesswairimu commented on #8119
I see it exists on the questions comments and it is working as expected. Thanks all, closing this

[2020-09-28 21:57] #8119 closed

[2020-09-28 22:02] cesswairimu commented on #8431
Yeah looks fine on my end too

[2020-09-28 22:05] cesswairimu commented on #8356
I don't think we removed it linking https://github.com/publiclab/plots2/issues/7321 which is related. @namangupta01 we would love your help.

[2020-09-28 22:08] cesswairimu commented on #8282
@avats-dev let me know if you would like to work on this..or maybe it can be a fto candidate. Let me know what you think. Thanks

[2020-09-28 22:10] cesswairimu commented on #8171
Hi @urvashigupta7, we would love your help. Go ahead. Thanks

[2020-09-28 22:28] cesswairimu commented on #7621
@ebarry I know you may be using this function a lot. What are your thoughts on adding a dialog box?  Thanks

[2020-09-28 23:17] avats-dev commented on #8282
@cesswairimu we can make this an fto but there are some issues:
- while replacing cloud9 instructions, we should replace them with the one with gitpod. Now, people should be able to use gitpod, as if some newcomer clicks on gitpod badge, he will see the master of this repo instead of his fork, which he needed. So, there should be a work around for this. The best way (that I could find) is to have

[2020-09-29 04:44] sangu09 commented on #8205
Hey, I would like to work on this issue.

[2020-09-29 06:05] cesswairimu commented on #8205
Great :tada: , @sangu09, I will update on the PR the parts that will cause some errors. Thanks

[2020-09-29 07:03] sangu09 commented on #8205
Thanks @cesswairimu for the help! I am still working on some failing Travis jobs by looking at the logs.

[2020-09-29 07:06] sangu09 commented on #8205
@cesswairimu is there anything in the code coverage part that I need to take care of? The codecov reports suggests a decrease in code coverage.

[2020-09-29 08:33] cesswairimu commented on #8205
@sangu09 no, the since we are not adding any code we can ignore the codecov. I see travis failures are  all fixed :tada: Thanks

[2020-09-29 14:01] ebarry commented on #7621
Interesting find! If someone is made an admin, presumably by an admin going to the user's profile page and clicking "Make Admin" -- does the appearance of the buttons change? If so, is that enough of an alert?

[2020-09-29 14:11] jywarren commented on #7728
Hello, @swarajpure we would love your help with this. I'm happy to assist you and you can also ping @cesswairimu for help. Please open an issue and we can help you get started!

[2020-09-29 14:13] #8205 closed

[2020-09-29 14:14] jywarren commented on #5795
Let's close it! Looks OK!

[2020-09-29 14:14] #5795 closed

[2020-09-29 14:27] #6165 closed

[2020-09-29 14:30] #6372 closed

[2020-09-29 14:32] #6417 closed

[2020-09-29 14:32] #6436 closed

[2020-09-29 14:34] jywarren commented on #6444
Hi all! I believe this is still available -- see how the line here is still as it was before?

https://github.com/publiclab/plots2/blob/a0861eb62c70e819f7b4804a5608c8e7d13c6530/app/controllers/admin_controller.rb#L154

We can change it following the instructions at top; we'd love some help!

[2020-09-29 14:36] jywarren commented on #6446
This is still available! Thanks all!

[2020-09-29 14:38] jywarren commented on #6851
Hi all! Sorry for the very slow response here. This issue is still open for anyone to claim -- not just GCI participants. Thanks!!!

[2020-09-29 14:38] jywarren commented on #6923
Hi all - apologies for slow reply here. This is available for anyone to claim!

[2020-09-29 14:39] jywarren commented on #7082
Hi all! We've now eliminated some buttons and this is no longer a problem. Thanks to everyone for your help!

[2020-09-29 14:39] #7082 closed

[2020-09-29 14:40] jywarren commented on #7067
Hi all, i believe this is still available for folks to claim?

[2020-09-29 14:42] jywarren commented on #7449
Hello all, my apologies for slow reply here. @Kirti2502 it's been a long time but if you still have a pull request can you please link to it from here? Otherwise we would be happy for someone else to claim this. Thank you!!!

[2020-09-29 14:48] jywarren commented on #7449
Found it!!!

[2020-09-29 14:51] jywarren commented on #7194
Hi all! This is still available for anyone to claim. @anshalshukla got pretty far in https://github.com/publiclab/plots2/pull/7944#issuecomment-655004146 -- still needs a bit of work though! Thanks!

[2020-09-29 14:52] jywarren commented on #7167
Hi all! I see @shipcy's PR and it looks great. CLosing this now. Thanks everyone - there are more available at https://code.publiclab.org and we'd love your help there!!!

[2020-09-29 14:57] jywarren commented on #7558
Hi, I believe this is still available! Sorry for the slow reply but we'd love a fix from anyone who's interested - just please link your pull request so we can see your solution. Thanks!!

[2020-09-29 15:00] #5215 closed

[2020-09-29 15:01] #6352 closed

[2020-09-29 15:06] #7167 closed

[2020-09-29 15:08] #7645 closed

[2020-09-29 15:14] jywarren commented on #8426
Thank you! Yes, `pagy` seems to be massively faster... and lower memory usage. I hope this will be really helpful!

[2020-09-29 15:15] #8427 closed

[2020-09-29 15:50] jywarren commented on #8434
Hi @bronwen9 - thanks, and good to hear from you. The comment you mentioned is listed at https://publiclab.org/spam2/comments in the new comment moderation system created by @keshavsethi, so that part of the issue I believe is resolved.

![image](https://user-images.githubusercontent.com/24359/94580430-e9993e80-0247-11eb-902f-60efea36231c.png)

![image](https://user-images.githubusercontent.com/24

[2020-09-29 15:51] #8434 closed

[2020-09-29 16:00] ebarry commented on #8434
I think we have not communicated with our moderators that they should be using /spam2, or when /spam2 might replace /spam.
@bronwen9 please do check for email notification on this even though this issue is closed, if you don't see the email, please re-open this issue.

[2020-09-29 19:24] cesswairimu opened #8440 "Weekly Community Check-In #77 - Hacktober and Outreachy October"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-09-29 19:26] cesswairimu commented on #8419
Moved to https://github.com/publiclab/plots2/issues/8440. Thanks everyone

[2020-09-29 19:26] #8419 closed

[2020-09-29 19:30] cesswairimu commented on #8440
@jywarren, @AgyeyaMishra, @Jolios, @cesswairimu, @samarakoon-ryan, @Samasth, @malaikaaiyar, @keshavsethi, @OmLakshmi, @nsachin08, @dependabot-preview[bot], @Tlazypanda, @galanggg, @ishika1727, @icarito, @RajatSablok, @mronauli, @ijeomaemeruwa, @alaxalves, @Shulammite-Aso, @JapneetSingh5, @Neilblaze, @markkulube, @vinuch @JapneetSingh5, @Neilblaze, @markkulube, @vinuch, @Tlazypanda, @icarito, @depe

[2020-09-29 19:31] cesswairimu commented on #8440
@llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-sharmaa, @goamoth, @SusannaDiV, @yusofsf, @nanlliu, @Tlazypanda,@keshav234156, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04, @sssash18, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shu

[2020-09-29 19:36] cesswairimu commented on #8440
@jscastanos, @sarthak-choudhary, @dongskyler, @keshavsethi, @Shulammite-Aso, @ckchu8, @DerekChristy, @Srija616, @priyanka-choubey, @AyanChoudhary, @imajit,   @marientje, @rutger-t, @imajit,  @marientje, @rutger-t, @nsachin08 @Rohit-786 @Tristan-Elizabeth @aakanchha01 @habeckmatt @hiteshsubnani0128 @ijeomaemeruwa @OmLakshmi @dmoini @yusufatalay @Samasth @malaikaaiyar @davidgoldcode @Shokescodes @ma

[2020-09-29 20:11] dmoini commented on #8440
@cesswairimu Could you please remove me from future weekly community check-ins?

[2020-09-29 20:24] cesswairimu commented on #8440
@dmoini sure thing, sorry for any inconvenience caused

[2020-09-29 20:36] ebarry commented on #8440
Welcome Hacktober participants and Outreachy Winter applicants!

[2020-09-29 21:37] avats-dev commented on #7702
@cesswairimu this needs to be closed as I've mentioned above. :+1:

[2020-09-29 21:42] avats-dev commented on #7700
@cesswairimu #7778 was a duplicate of this and it was resolved by #7779 , so this also needs to be closed. :+1:

[2020-09-29 21:52] avats-dev commented on #7684
@cesswairimu this was resolved by #7759 but it was not referenced in the PR, so this could be also closed. :+1:

[2020-09-29 22:01] avats-dev commented on #7558
Nope @jywarren , this one is resolved or either too old as the line for which changes are requested do not exist anymore, and `translation` is already implemented. So, this should be closed. :+1:

@cesswairimu fyi.

[2020-09-29 22:05] avats-dev commented on #8426
Also, this could be implemented through a lot of ftos or hacktoberfest issues. I think managing this like #6579 would be good too to keep track of remaining changes.

[2020-09-30 01:34] urvashigupta7 commented on #8440
Hi everyone, I will be participating in Outreachy as well as Hacktoberfest this time. Really excited. 🤩❤️🎉