[2018-10-19 16:37] KauNair commented on #3267
There is another fault with this regex
It will also replace any character before `[wikis:community]` except for the \` and > characters. You can check an example [here](http://rubular.com/r/zr0jpBnkiI)
However I do not understand the purpose of replacing the <p> tag here.
@jywarren can you help me out here?

[2018-10-19 18:08] jywarren commented on #3110
Hmm, we've seen issues on Windows installations in #3665 -- can you share the cloud9 errors and perhaps we can help you with that? Sorry you're having trouble!

[2018-10-19 18:08] #3308 closed

[2018-10-19 18:13] jywarren commented on #3267
Hmm, we can check the blame view to see if it was in response to a specific bug. In theory we should have a test demonstrating and annotating the reasoning :-/

There is a bit of documentation on the purpose of power tags here: https://publiclab.org/power-tags

Let me check the blame file!

[2018-10-19 18:43] jywarren commented on #3267
I believe this was intended to ensure that this inline power tag only works when not preceded by HTML tags of any kind - it should be the first thing on a given new line. But it needn't replace the characters, it can ideally just not perform the replacement of the `[...]` portion if it encounters them. I think we ought to adjust the unit tests in `test/unit/node_share_test.rb` (i believe) to refle

[2018-10-19 18:45] jywarren commented on #3267
You can see here:

https://github.com/publiclab/plots2/blame/d9bbfad620baa7306d4eb9d7c5f03a06a23cf7bb/app/models/concerns/node_shared.rb#L279

and trace it back to this PR: https://github.com/publiclab/plots2/pull/1959

But it doesn't offer details about this. I bet this was originally developed for a different regex in the same file and we could likely trace the discussion back using the blame vi

[2018-10-19 19:19] steviepubliclab commented on #3676
Oh no sorry, there are a lot more blog entries than that. Should go back about 3 years. (at least)

Best,
Stevie

[2018-10-19 19:53] Dhiraj240 commented on #3110
In that too nothing seems to process as when i edit ```installer.sh``` it keeps on processing with no end result.

[2018-10-20 03:44] Kanikashrivastav commented on #3679
Hello All. I just noticed, I haven't introduced myself to the community.  My name is Kanika Shrivastav. I live in Delhi, India. My interest in coding actually started one year ago. I was quite fascinated by web and android application and the fact the you can build apps to solve common problems. I started with HTML, CSS and Python. It was very hard to learn stuff on my own. I remember, I couldn't

[2018-10-20 07:35] Rishabh570 commented on #3661
@Sahaj8 Actually there is already an open [PR](https://github.com/publiclab/infragram-js/pull/8) for it...but there are other issues that need your help, you can try them out :)
Take a look at https://code.publiclab.org/

[2018-10-20 10:20] cesswairimu commented on #3192
Helo @jywarren  I would like to work on this. But I am having trouble replicating the bug locally `http://localhost:3000/questions/tag/test/author/admin` works okay

[2018-10-20 12:30] mardelvalle commented on #3657
Hi @sk9331657 if you still would like some help on this issue I would love to help out!

[2018-10-20 16:13] KauNair opened #3725 "Empty comment error"
Trying to submit an empty comment on a post just prints 'failure' above the comment box in plain text.
I believe an error alert would look better.

[2018-10-20 18:54] #3660 closed

[2018-10-20 18:56] #3504 closed

[2018-10-20 20:05] jywarren commented on #3537
Hello @Sandhya023, I see this is listed as a first-timers-only issue in your application. If you can read over some of these docs, you'll see that such issues follow a format to welcome someone else into the project, so if you're interested in being a mentor, please give this a try! We're happy to help and we're grateful for your involvement. You can read a bit more about this here:

A [first-time

[2018-10-20 20:06] jywarren commented on #3366
Hello @YashishDua, I see this is listed as a first-timers-only issue in your GCI mentor application. If you can read over some of these docs, you'll see that such issues follow a format to welcome someone else into the project, so if you're interested in being a mentor, please give this a try! We're happy to help and we're grateful for your involvement. You can read a bit more about this here:

A

[2018-10-20 20:10] jywarren commented on #3549
Hello @vsk4, I see this is listed as a first-timers-only issue in your GCI mentor application. If you can read over some of these docs, you'll see that such issues follow a format to welcome someone else into the project, so if you're interested in being a mentor, please give this a try! We're happy to help and we're grateful for your involvement. You can read a bit more about this here:

A [first

[2018-10-20 20:11] jywarren commented on #3560
Hello @DipanshKhandelwal , I see this is listed as a first-timers-only issue in your GCI mentor application. If you can read over some of these docs, you'll see that such issues follow a format to welcome someone else into the project, so if you're interested in being a mentor, please give this a try! We're happy to help and we're grateful for your involvement. You can read a bit more about this h

[2018-10-20 21:10] jywarren commented on #3688
Hi @vishalka98 - can you add a little extra information about where this line should go?

I see you've completed one here: https://github.com/publiclab/plots2/pull/3521 -- great, and many thanks!

[2018-10-20 21:14] vishalka98 commented on #3688
I have mentioned the line in the description (45).

[2018-10-20 21:19] jywarren commented on #3168
Hi everyone - I just went through and accepted 10 new mentors who'd applied before the deadline. There were a few people who still hadn't posted a first-timers-only issue following our template, and if they follow up to do so (i left comments on your issues) I can circle back in a few days and approve anyone else. Thanks for your interest and support!

Since many of you are new, I want to re-itera

[2018-10-20 21:36] jywarren commented on #3679
Hi @Kanikashrivastav and @faithngetich !

That's awesome you have experience with i18n, @Kanikashrivastav -- we are in the midst of a big project to restructure ours, in #3262  -- and so cool you've made a CRUD app! I remember learning Rails myself on a very long (52 hour!) train ride across the USA, with a downloaded PDF manual and eating a lot of 🍜 noodles along the way 😄  It's very exciting to

[2018-10-20 21:44] jywarren commented on #3654
@faithngetich if you go to https://publiclab.org/wiki/multispectral-imaging and then create a matching page on your local copy of the database, and copy in the content from the published live version, you'll be able to see it locally. I hope this helps!

[2018-10-20 21:46] SidharthBansal commented on #3168
Welcome back jeff. Hope you have an awesome time in China 🎉 👍 🎈

[2018-10-20 22:07] Dhiraj240 commented on #3168
@jywarren Thanks for selecting me, i have just got an invitation.Hope to start my journey with the organisation till my Gsoc 2019 or even after that too.
Thank You so much.

[2018-10-20 22:40] SidharthBansal opened #3726 "Call for Outreachy Proposals!!!"
We are having ``Planning for expanded community stats system`` as our Outreachy Project this winter.
Refer #3498

Folks are requested to post the plan for the fellowship program in form of proposal.
They can brainstorm project related ideas here.

****

### Update

We now have an official call for proposals posted at PublicLab.org, here:

https://publiclab.org/notes/warren/10-23-2018/call-for-outr

[2018-10-20 22:46] jywarren commented on #3688
Aha! Sorry, i missed that -- `edit the line 45 as shown below.` -- Great! Thank you.

I believe I have invited you -- did you receive it? Thanks!

[2018-10-20 22:47] SidharthBansal commented on #3168
All selected mentors please visit to https://github.com/orgs/publiclab/teams/mentors/discussions/12

Congratulations all of you!!! :1st_place_medal:  Will have a great time this winter with great people.

[2018-10-20 22:47] jywarren commented on #3725
I agree, this would be really nice! Can you post a screenshot of the exact
place, and we can help find the right lines of code to change? Thank you!

On Sat, Oct 20, 2018 at 11:14 AM Kaustubh Nair <notifications@github.com>
wrote:

[2018-10-20 23:00] vishalka98 commented on #3688
I didn't get any invite yet. Please check or invite me again. Thanks in advance.

[2018-10-20 23:03] SidharthBansal commented on #3679
Folks are requested to brainstorm the ideas related to the project together on https://github.com/publiclab/plots2/issues/3726 and on their posts on Public labs.
We really appreciate collaboration at Public labs

[2018-10-20 23:31] vishalka98 commented on #3688
I think you missed to invite also.

[2018-10-21 03:12] shubhangi-chauhan commented on #3703
If no one has taken it up yet (@avsingh999 ), I'd like to do it.
@jywarren

[2018-10-21 03:20] icarito opened #3727 "Yarn causing to fail to build Docker container (ENOENT lstat)"
Issue appears to be intermittent...
[code]

[2018-10-21 05:41] vsk4 commented on #3549
Thank you @jywarren  as of now I am not interested to be as a mentor for GCI. Thank you for helping me out. I would love to contribute to the Public Lab community mostly in security issues 😃

[2018-10-21 05:56] Codeama commented on #3679
@jywarren I agree there was no indication of a project plan on the Outreachy application. So this is very new information to me. And just to check, @SidharthBansal,  is the project proposal _now_ part of the selection criteria? This would help me in deciding whether or not to complete my Outreachy application as there would be no point submitting a half-finished one. But I am very much interested

[2018-10-21 06:03] sagarpreet-chadha commented on #1097
That would be great @KauNair 😄 . Thank you 🎉 !

[2018-10-21 06:17] sagarpreet-chadha commented on #3679
Hi @Codeama !

So according to Outreachy Timeline [here](https://www.outreachy.org/apply/project-selection/) , the last date to record contributions and submit proposals is Oct 30 . So you still have many days .

If you still need more time --- i guess we have to decide the final selection of intern till **Nov 16**  , so you may submit partial proposal and your contributions before the deadline ,

[2018-10-21 06:49] shubhangi-chauhan commented on #3725
In file : `plots2/app/controllers/comment_controller.rb` ,
change all instances of :
[code]
with :
[code]

This should give you an error alert. :smile:
 @KauNair @jywarren

[ Related : #3657 ]

[2018-10-21 06:58] KauNair commented on #3725
Ah looks like a duplicate issue. @shubhangi-chauhan I guess you can help out on the original thread. I'll close this one.

[2018-10-21 06:58] #3725 closed

[2018-10-21 08:09] vishalka98 commented on #3688
Thanks for inviting me for gci mentor

[2018-10-21 08:12] SidharthBansal commented on #3679
Bukolo yes this project proposal is the main criterion for selection in
Outreachy

On Sun, Oct 21, 2018, 11:47 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-10-21 08:27] shubhangi-chauhan commented on #3676
@steviepubliclab as you've already figured out, it's not due to number of blogs that the blog tab is not working after page 4*.

This is really because in file :
[/plots2/app/controllers/tag_controller.rb](https://github.com/publiclab/plots2/blob/master/app/controllers/tag_controller.rb#L246#L247)

[code]

You'd notice we're passing a limit of *20* blogs to the model, and there are *6* blogs on ea

[2018-10-21 09:57] Codeama commented on #3679
Thanks for the clarification, @SidharthBansal and @sagarpreet-chadha !

[2018-10-21 20:07] #3704 closed

[2018-10-22 05:17] DipanshKhandelwal commented on #3560
@jywarren Ok I'll work on it. Thanks

[2018-10-22 05:57] quinn-codes-synthesis commented on #3498
So is the goal to try and get all of this done in the 3 month internship and our proposal is a sort of workflow-order? I don't feel like I have the experience to know how I should expect to set my pacing in my proposal. Is it expected that we may have to adjust our timeline as we progress through the internship?

[2018-10-22 07:09] milaaraujo opened #3729 "Search API: endpoint /srch/nearbyPeople needs to sort by most recent users"
As discussed here ([Question: What more data-layers can we show on map?](https://publiclab.org/questions/sagarpreet/07-01-2018/what-more-data-layers-can-we-show-on-map)) I implemented (#3719) a new method to search nearby people with respect to given latitude, longitude and tag (optional).

Code is in here: https://github.com/publiclab/plots2/blob/master/app/services/search_service.rb#L118-L146

[

[2018-10-22 07:12] milaaraujo opened #3730 "Search API: /srch/nearbyPeople needs to sort by most recent users"
As discussed here ([Question: What more data-layers can we show on map?](https://publiclab.org/questions/sagarpreet/07-01-2018/what-more-data-layers-can-we-show-on-map)) I implemented (#3719) a new method to search nearby people with respect to given latitude, longitude and tag (optional).

Code is in here: https://github.com/publiclab/plots2/blob/master/app/services/search_service.rb#L118-L146

[

[2018-10-22 07:12] quinn-codes-synthesis commented on #3726
What's the best way to go about this if we're not really sure what timeline to expect of ourselves? i.e. I'm generally a very fast learner, but I haven't yet had the opportunity to see how quickly I pick things up when I'm coding full-time (currently in an unrelated full-time job, coding whenever I can carve out some free time in my schedule). I'm also thinking I should build in some buffer time f

[2018-10-22 10:01] SidharthBansal opened #3731 "Rename Omniauth.md"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Instance count 1
Field: Training

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to fo

[2018-10-22 12:30] YashishDua commented on #3366
@jywarren I will update the form by tomorrow. Are you still accepting the forms?

[2018-10-22 13:20] jywarren commented on #3707
Thanks for re-opening. I think the way to do this would be to use the same grid-based template at `/app/views/notes/_notes.html.erb`, most likely!

[2018-10-22 13:20] jywarren commented on #3707
As long as it's passed the correct local variables, as in other views, this could be a good FTO issue!

[2018-10-22 13:31] Mridul97 commented on #3276
I have added these tasks to the GCI Dashboard. But I am unable to write --gci dashboard in front of them in the above list as I do not have access to edit the list. So someone could please do it. Thanks!
- [ ] Add a footer to the main page https://github.com/publiclab/image-sequencer/issues/335
- [ ] Add a list of available modules to the documentation https://github.com/publiclab/image-sequencer/

[2018-10-22 14:19] DakshGondaliya opened #3732 "Align pagination to the center of the body"
#### We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.

### Please describe the problem (or idea)
Current pagination is on the left side of the body part. Align it in the center of the body part.

![screenshot 250](https://user-images.gi

[2018-10-22 14:33] rohan2599 opened #3733 "Remove the list and grid view button in the mobile view"
### Please describe the problem (or idea)
The list and grid view button in the mobile view needs to be removed as it is not working and is just an additional problem whichs needs to be eliminated in the page where tags are being added .

![capt](https://user-images.githubusercontent.com/31514059/47298396-4724b980-d635-11e8-9ca7-aa6833ebf1eb.PNG)

### Please show us where to look
https://publiclab.

[2018-10-22 14:38] jywarren commented on #3276
Hi, everyone - are all draft tasks ready to be published in the GCI dashboard? Should we just approve the first 50?

[2018-10-22 14:58] sagarpreet-chadha commented on #3729
Awesome !!!

[2018-10-22 15:28] Souravirus commented on #3276
Hi @jywarren, I have modified some tasks, so they are more readable. And I had a doubt with this task https://codein.withgoogle.com/dashboard/tasks/6571718295420928/ . Is this task required to submit some kind of documents and if it is required where should they submit it? It should be clarified

[2018-10-22 15:37] SidharthBansal commented on #3276
Hi folks whenever you create a task please mention the public lab repo and issue number so that it can be backtraced. It is really difficult for students to find the repo and the issue number. They are really new to OSS and young too.

[2018-10-22 15:39] SidharthBansal commented on #3732
Published onto GCI dashboard

[2018-10-22 15:40] SidharthBansal commented on #3328
Published on GCI dashboard

[2018-10-22 15:42] SidharthBansal commented on #3328
An icon in addition to text will be awesome. What do you say?

[2018-10-22 15:43] SidharthBansal commented on #3453
@avsingh999 please add code links soon.
I have published this issue.

[2018-10-22 15:45] jywarren commented on #3276
@souravirus - i think we may need input from Kirtika on this one, as they created it. I'm not sure!

@sidharthBansal - agreed, we def. need to review the tasks, i see. Everyone -- please ensure your tasks have links to GitHub issues!

[2018-10-22 16:11] jywarren commented on #3677
I think what Liz was saying, and I see her point, is that we already have a pretty strong convention for using hyphens ("kabob-case"), so this might disrupt a lot of existing pages. But let's think through it -- if we can't /add/ hyphens, we can only remove them, then:

* `purple-air` would be auto-redirected to `purpleair` which would work for this instance

But my concern with this is that that

[2018-10-22 16:27] SidharthBansal commented on #3733
This task is published on GCI dashboard. Thanks all.

[2018-10-22 16:34] avsingh999 commented on #3453
@SidharthBansal

[2018-10-22 16:36] SidharthBansal commented on #3276
## Looking for GSoC
**Reviewing PRs and collaboration efforts will be judged in your upcoming GSoC proposals**
If you are a GSoC'19 aspirant, then we need to tell you a good news. All the reviewing tasks will be judged in the upcoming GSoC'19 proposals. If you can review the PRs, help each other across issues, prs, create ftos and much more. Just commenting on the issues to help other folks is oka

[2018-10-22 16:37] SidharthBansal commented on #3726
Hi Quinn,
Glad to see you.
We are looking for an expected timeline so that we can see your progress
throughout the project. With help of the timeline, we introduce modularity
into the project so that each piece of code is reviewed thoroughly and
merged.

Yes it is great idea to include testing, bug fixes, documentation into the
proposal.

No strict deadlines are needed. Just give how you want to b

[2018-10-22 16:37] SidharthBansal commented on #3726
Is OK.

On Mon, Oct 22, 2018, 12:57 PM Sidharth Bansal <
bansal.sidharth2996@gmail.com> wrote:

[2018-10-22 16:43] SidharthBansal commented on #3168
## Looking for GSoC
**Reviewing PRs and collaboration efforts will be judged in your upcoming GSoC proposals**
If you are a GSoC'19 aspirant, then we need to tell you a good news. All the reviewing tasks will be judged in the upcoming GSoC'19 proposals. If you can review the PRs, help each other across issues, prs, create ftos and much more. Just commenting on the issues to help other folks is oka

[2018-10-22 16:46] jywarren commented on #3328
Yes and we can make this a multi-use issue to go to https://fontawesome.com/v4.7.0/ and find an icon, and paste it in here with a link and a screenshot to suggest one for each item. +1!

[2018-10-22 16:46] jywarren commented on #3549
Thank you, we'd LOVE to have your help! 🎉

[2018-10-22 16:48] #3730 closed

[2018-10-22 16:50] SidharthBansal commented on #3439
@avsingh999 please tell the hint to the solution so that I can post it on the GCI dashboard. We need to help the folks by giving them hints to libraries, etc. They are very young.
I hope you will understand and post it soon.

[2018-10-22 16:55] stefannibrasil commented on #3501
hi, everyone. I'm afraid I'm not gonna have the time for this.

@milaaraujo do you wanna move with this one? Thanks!

[2018-10-22 16:57] SidharthBansal commented on #3685
This task is published on GCI dashboard. Thanks all.

[2018-10-22 16:58] SidharthBansal commented on #3584
This task is published on GCI dashboard. Thanks all.

[2018-10-22 16:59] SidharthBansal commented on #3490
This task is published on GCI dashboard. Thanks all.

[2018-10-22 17:00] SidharthBansal commented on #3188
This task is published on GCI dashboard. Thanks all.

[2018-10-22 17:02] jywarren commented on #3498
Yes, we can definitely be flexible, and this is more of a giant grab-bag
list of ideas for what we'd like, that doesn't all have to fit in this
winter's project. I think we can work together to organize it according to
what makes sense to implement first, second, third, and then also think
about how to break down the bigger tasks into smaller parts that'll make it
easier to implement.

Finally, I

[2018-10-22 17:06] SidharthBansal commented on #2341
This task is published on GCI dashboard. Thanks all.

[2018-10-22 17:09] jywarren commented on #3328
Yes and we can make this a multi-use issue to go to
https://fontawesome.com/v4.7.0/ and find an icon, and paste it in here with
a link and a screenshot to suggest one for each item. +1!

On Mon, Oct 22, 2018 at 11:42 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-10-22 17:10] jywarren commented on #3366
Hi, if you've already submitted and just need to update, that's fine! But
if the original submission was after the 15th, we cannot accept new ones
(just to say for folks who may ask). Thank you!

On Mon, Oct 22, 2018 at 8:31 AM droider <notifications@github.com> wrote:

[2018-10-22 17:12] Nada1996 commented on #3729
@milaaraujo can I work on this?

[2018-10-22 17:13] SidharthBansal commented on #3276
Few Guidelines:
If @publiclab/mentors your issue in not posted on the GCI dashboard then it will be due to one of the following reason
* Missing repository name
* missing issue number
*  Too less issue detail
* We cannot have tasks like teaching Ruby, teaching Nodejs, teaching grunt, etc. Tasks for making youtube videos for RSpec, Rails etc will not be accepted at all. Sorry. We can help the stude

[2018-10-22 17:15] jywarren commented on #3549
thank you! We'd love your help :-)

On Sun, Oct 21, 2018 at 1:42 AM SAI KUMAR <notifications@github.com> wrote:

[2018-10-22 17:29] SidharthBansal commented on #3324
This task is published on GCI dashboard. Thanks all.

[2018-10-22 17:44] SidharthBansal commented on #3532
This task is published on GCI dashboard. Thanks all.

[2018-10-22 17:44] rockstar777 opened #3734 "a preloading page before every page loads"
We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more

### Problem
Building a preloading page to enhance the behaviour of loading of html pages such that whenever a page loads a preloading page shows and on complete loading main html body sho

[2018-10-22 17:47] SidharthBansal commented on #3617
Sorry, you can't commit changes for this issue.
We are participating in Google Code In. This issue is reserved for Google Code In Students only.
we'd love help with another issue -- especially looking at helping others make their first contributions!

Maybe take a look at one of these?

https://github.com/publiclab/plots2/labels/support

[2018-10-22 17:49] SidharthBansal commented on #3375
@avsingh999 please do the changes according to jeff so that we can publish it.

[2018-10-22 17:52] SidharthBansal commented on #3540
Hi Is someone working on this?
If no then I can publish this for GCI.

[2018-10-22 17:57] SidharthBansal commented on #3424
This task is published on GCI dashboard. Thanks all.

[2018-10-22 18:00] SidharthBansal commented on #3584
This task is published on GCI dashboard. Thanks all.

[2018-10-22 18:03] vanguard07 commented on #3581
@jywarren Thanks. If this is the file then the issue will will be solved.
Sorry for the late reply, was busy with exams. 😅

[2018-10-22 18:03] SidharthBansal commented on #3276
Please see that the task is not posted by any other mentor before posting the task onto GCI dashboard.
Leave a comment on the issue whichever you have posted on the GCI dashboard if it has not been published yet or if you are creating a new issue.

[2018-10-22 18:05] vanguard07 commented on #3540
Okay @SidharthBansal. Please do so. 😄

[2018-10-22 18:06] SidharthBansal commented on #3452
@avsingh999 @igniteeng000 please format the issue properly before posting them onto the GCI dashboard. The issue is not at all formatted as I have told you as per our code of conducts.

[2018-10-22 18:09] SidharthBansal commented on #3734
Can you please elaborate the issue?
Sorry, I am facing difficulty in understanding. It will be very kind of you if you will walk through the issue step by step

[2018-10-22 18:36] aashna27 commented on #3276
Hi @SidharthBansal  Can you add this task to the list, it has been added to gci dashboard.
[ publiclab/image-sequencer#429](https://github.com/publiclab/image-sequencer/issues/429)

[2018-10-22 18:37] rockstar777 commented on #3734
yes in a moment
thanks

[2018-10-22 18:38] SidharthBansal commented on #3276
Hi aashna27 please create a task on the GCI dashboard and send me the link
to the issue, I will add.

On Tue, Oct 23, 2018 at 12:06 AM aashna27 <notifications@github.com> wrote:

[2018-10-22 18:41] avsingh999 commented on #3375
@SidharthBansal  @jywarren  please check, If need more changes
thank you :)

[2018-10-22 18:55] aashna27 commented on #3276
Hi @SidharthBansal  Can you add this task to the list, it has been added to gci dashboard.
[ publiclab/image-sequencer#429](https://github.com/publiclab/image-sequencer/issues/429)

[Gci dashboard](https://codein.withgoogle.com/dashboard/tasks/5938670969290752/)

is this fine?

[2018-10-22 19:02] #3685 closed

[2018-10-22 19:06] jywarren commented on #3581
Oh no problem. Do you mean it has been solved already then, or that you will be able to later?

Good luck with your exams, no worries!

[2018-10-22 19:13] jywarren commented on #3703
@shubhangi-chauhan that would be great -- do you think you have an idea of how to create the `user.followers` method and how to write a unit test for it?

It might be kind of similar to:

https://github.com/publiclab/plots2/blob/cc2df02a63b72cca7b1129aa3044933abf614a50/app/models/node.rb#L285-L294

Or perhaps related to:

https://github.com/publiclab/plots2/blob/cc2df02a63b72cca7b1129aa3044933abf6

[2018-10-22 19:14] jywarren commented on #3110
Would it be helpful if you could use Cloud9 instead and develop remotely on a linux machine? I'll send you an invite!

https://console.aws.amazon.com/cloud9/home

[2018-10-22 19:15] SidharthBansal commented on #3319
We participate in Outreachy, GSoC and RGSoC every year.
We need to tell how to start contributing to Public Labs by helping them at each step. How nice would it be if we can aggregate all the code links, repository links, installation, first timer issue, help wanted issues, pr reviews into a single document so that the new aspariant can follow that ladder and can climb it to have a sure chance in

[2018-10-22 19:16] jywarren commented on #3110
Oh darn, sorry -- read this too fast, you're already in there.

Can you paste the output into https://gist.github.com and paste the link here, so we can read your errors and help out?

[2018-10-22 19:16] SidharthBansal commented on #3319
This task is published on GCI dashboard. Thanks all.

[2018-10-22 19:20] SidharthBansal commented on #3706
This task is published on GCI dashboard. Thanks all.

[2018-10-22 19:21] SidharthBansal commented on #3526
This task is published on GCI dashboard. Thanks all.

[2018-10-22 19:28] SidharthBansal commented on #2397
This task is published on GCI dashboard. Thanks all.

[2018-10-22 19:29] SidharthBansal commented on #3485
This task is published on GCI dashboard. Thanks all.

[2018-10-22 19:31] jywarren commented on #3452
Ah, i think this is OK because it's `Store` versus `Stories` -- so we can close this. I don't think it's a code of conduct issue, just a small thing we got confused on! Thank you!

[2018-10-22 19:31] jywarren commented on #3452
But yes, we will need lots of the GCI issues formatted so that newcomers can more easily solve them. Thanks, everyone!

[2018-10-22 19:37] SidharthBansal commented on #2650
This task is published on GCI dashboard. Thanks all.

[2018-10-22 19:39] SidharthBansal commented on #3370
Please format the issue properly before writing it on the GCI dashboard

[2018-10-22 19:44] vanguard07 commented on #3581
@jywarren The required changes was done in the above mentioned file, but I can't verify the changes as I'm unable to run plots2 locally.
Initially, the Read More button collapsed on the image.
![Earlier](https://user-images.githubusercontent.com/23207859/47314825-6dac1a00-d660-11e8-8597-a220a7fe4791.png)

After removing the "float: right", the button no longer collapsed.
![After making the necessa

[2018-10-22 19:48] jywarren commented on #3581
This sounds good - if you want, you can make edits in the browser: https://help.github.com/articles/editing-files-in-your-repository/

Or if you like we can invite you to use Cloud9 to make your changes remotely! https://console.aws.amazon.com/cloud9/home

[2018-10-22 20:21] DakshGondaliya commented on #3732
Thank you @SidharthBansal

[2018-10-22 20:29] gauravano commented on #3731
Hi, this issue has been opened as a task on GCI dashboard. If you are Google Code-In participant and want to solve this issue, please claim it from Google Code-In [website](https://codein.withgoogle.com/organizations/public-lab/) . Thanks!

[2018-10-22 20:31] gauravano commented on #3731
Closing this issue as after visiting file, I found it solved in #3709. Thanks!

[2018-10-22 20:31] #3731 closed

[2018-10-22 20:34] SidharthBansal commented on #3731
Thanks @gauravano

[2018-10-22 20:35] avsingh999 opened #3736 "Improve pagination in the blog page"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contribut

[2018-10-22 20:36] avsingh999 commented on #3736
@SidharthBansal  please help me to add code links because I didn't find that file
thank you :)

[2018-10-22 20:38] SidharthBansal commented on #3540
This task is published on GCI dashboard. Thanks all.

[2018-10-22 20:46] SidharthBansal commented on #3375
Looks good to me now

[2018-10-22 20:46] gauravano opened #3737 "Remove the typo"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contribut

[2018-10-22 20:47] gauravano commented on #3737
Hi, this issue has been opened as a task on GCI dashboard. If you are Google Code-In participant and want to solve this issue, please claim it from Google Code-In [website](https://codein.withgoogle.com/organizations/public-lab/) . Thanks!

[2018-10-22 20:48] SidharthBansal commented on #3736
This task is published on GCI dashboard. Thanks all.

[2018-10-22 20:52] SidharthBansal commented on #3737
This task is published on GCI dashboard. Thanks all.

[2018-10-22 20:55] SidharthBansal commented on #3458
This task is published on GCI dashboard. Thanks all.

[2018-10-22 20:55] gauravano commented on #3327
This issue is already solved in #3327 ,so closing it. Thanks!

[2018-10-22 20:55] #3327 closed

[2018-10-22 20:58] SidharthBansal commented on #3436
This task is published on GCI dashboard. Thanks all.

[2018-10-22 20:58] SidharthBansal commented on #3437
This task is published on GCI dashboard. Thanks all.

[2018-10-22 21:00] SidharthBansal commented on #3435
This task is published on GCI dashboard. Thanks all.

[2018-10-22 21:01] SidharthBansal commented on #3433
This task is published on GCI dashboard. Thanks all.

[2018-10-22 21:08] gauravano commented on #3340
Hi, this issue has been opened as a task on GCI dashboard. If you are Google Code-In participant and want to solve this issue, please claim it from Google Code-In [website](https://codein.withgoogle.com/organizations/public-lab/) . Thanks!

[2018-10-22 21:08] gauravano commented on #3340
@SidharthBansal, publish this one. Thanks!

[2018-10-22 21:08] SidharthBansal commented on #3432
This task is published on GCI dashboard. Thanks all.

[2018-10-22 21:09] jywarren commented on #3276
Thanks to hard work by @SidharthBansal and others, we now have 75 tasks published on the GCI dashboard, enough for the competition to begin! 🎉 🎉

[2018-10-22 21:10] SidharthBansal commented on #3429
This task is published on GCI dashboard. Thanks all.

[2018-10-22 21:11] SidharthBansal commented on #3428
This task is published on GCI dashboard. Thanks all.

[2018-10-22 21:11] SidharthBansal commented on #3427
This task is published on GCI dashboard. Thanks all.

[2018-10-22 21:13] jywarren commented on #3192
OK! I pulled the logs for this, and found:

[code]

[2018-10-22 21:14] SidharthBansal commented on #3340
This task is published on GCI dashboard. Thanks all.

[2018-10-22 21:14] SidharthBansal commented on #3431
This task is published on GCI dashboard. Thanks all.

[2018-10-22 21:14] jywarren commented on #3192
So maybe somehow we are not getting `@answered_questions` from this line:

https://github.com/publiclab/plots2/blob/cc2df02a63b72cca7b1129aa3044933abf614a50/app/controllers/tag_controller.rb#L207

[2018-10-22 21:14] jywarren commented on #3192
potentially something is going on with `each_with_index`?

[2018-10-22 21:17] goonar commented on #3737
Claiming to try my first non-wiki-like pull request

[2018-10-22 21:21] gauravano commented on #3339
Hi, this issue has been opened as a task on GCI dashboard. If you are Google Code-In participant and want to solve this issue, please claim it from Google Code-In [website](https://codein.withgoogle.com/organizations/public-lab/) . Thanks!

[2018-10-22 21:22] gauravano commented on #3339
@SidharthBansal I have opened this one on dash, please publish. Thanks!

[2018-10-22 21:49] first-timers[bot] opened #3740 "add generic chat badge to README"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-22 21:52] gauravano commented on #3338
@jywarren, could you mention the flow how it can be useful like with an example. thanks!

[2018-10-22 22:04] milaaraujo commented on #3729
Sure, just assign the issue to yourself!

[2018-10-22 22:32] igniteeng000 commented on #3452
@jywarren @SidharthBansal sorry for the confusion but actually we were talking about store not stories. On all smaller resolution, there is a redundant store option. I have updated the image. Please take a look.

[2018-10-22 22:37] jywarren commented on #3452
Ah, ok! Can you find the line of code where we'd have to remove the smaller one? From this file? https://github.com/publiclab/plots2/blob/master/app/views/layouts/_header.html.erb

Thanks!!!

[2018-10-23 01:52] SidharthBansal commented on #3339
Published...great!!!

[2018-10-23 01:53] SidharthBansal commented on #3339
Now I am learning for sessional exam. Will be available after my exam.
Hope you will understand.

[2018-10-23 05:40] DivyeshPuri opened #3741 "Improving multiple Issue Templates"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contribut

[2018-10-23 06:35] geekychaser opened #3742 "Title of the page should be stats rather than index"
### Please describe the problem (or idea)

Title of the Contributor statistics should be stats rather than index

![image](https://user-images.githubusercontent.com/24489162/47340390-b34a0080-d6bb-11e8-9dce-a7577985f6ec.png)

here title should be changed to stats

### Please show us where to look

https://publiclab.org/stats

### What's your PublicLab.org username?

geekychaser

### Browser, versi

[2018-10-23 06:36] geekychaser commented on #3742
@SidharthBansal please add gci-candidate and help-wanted labels

[2018-10-23 06:43] SidharthBansal commented on #3742
Great catch!!!

[2018-10-23 06:50] geekychaser commented on #3742
Thanks for publishing the task onto GCI website

[2018-10-23 07:54] quinn-codes-synthesis commented on #3498
Woops, Github was being finicky yesterday and I ended up asking basically the same question here and in the other thread (it wasn't showing me that the post went through).

Thanks for the response! What is the best way to submit a proposal work-in-progress? Email to you and the other mentors, posting it here, something else?

[2018-10-23 07:59] quinn-codes-synthesis commented on #3726
Fantastic, thank you!

(the below is crossposted at #3498)

Woops, Github was being finicky yesterday and I ended up asking basically the same question here and in the other thread (it wasn't showing me that the post went through).

Thanks for the response! What is the best way to submit a proposal work-in-progress? Email to you and the other mentors, posting it here, something else? Through the O

[2018-10-23 08:03] SidharthBansal commented on #3726
We will have public conversation always so as to have open source environment as Outreachy is open source.
You need to create research notes on publiclab.org
Tag the mentors with their names.

[2018-10-23 08:07] quinn-codes-synthesis commented on #3726
Ah, research notes. That's the tidbit I was missing. Thank you so much!

[2018-10-23 08:13] SidharthBansal commented on #3726
Don't forget to fill the proposal on main outreach website before the
deadline.

We want to help you with your application so we are reviewing it on
publiclab research notes section.

Actual evaluation will be based on the final application ie proposal
submitted to Outreachy website. So don't forget to submit them on the
Outreachy website.

Does this makes sense?

On Tue, Oct 23, 2018, 1:37 PM Qui

[2018-10-23 08:52] quinn-codes-synthesis commented on #3726
Yep, perfect!

What is the appropriate method for tagging a user on Public Lab? I see the syntax `[username](/profile/username)` is mentioned [here](https://publiclab.org/wiki/authoring-help) as a method to link a user's profile -- but I thought that perhaps you meant writing `warren, bansal_sidharth2996` et al. in the tags section, so I figured I'd clarify. :)

[2018-10-23 08:54] SidharthBansal commented on #3726
Yeah you are right.
Jeff has @warren username.
You just need to list the names by seeing them on their profiles

On Tue, Oct 23, 2018, 2:22 PM Quinn <notifications@github.com> wrote:

[2018-10-23 09:59] SidharthBansal commented on #3452
Published

[2018-10-23 13:29] steviepubliclab commented on #3677
Hi again,
Is there any way to do a search on Public Lab URLs for text that is the same regardless of the hiphons, that could point out where we run into trouble with redirects.

[2018-10-23 14:07] jywarren commented on #3677
Would it be helpful to just output all wiki page URLs in alphabetical
order? We could do that and review it?

On Tue, Oct 23, 2018 at 9:32 AM Stevie <notifications@github.com> wrote:

[2018-10-23 14:13] sagarpreet-chadha commented on #2537
This is solved 🎉  !
Closing this issue .

[2018-10-23 14:13] #2537 closed

[2018-10-23 15:20] steviepubliclab commented on #3677
Interesting, do you have an estimate on about how many wikis there are right now?

[2018-10-23 15:35] #3578 closed

[2018-10-23 15:39] ebarry commented on #3677
I would love to see an alphebetized list of wikis! Last time i paged
through to count, there were about 1000 pages.

On Tue, Oct 23, 2018, 11:28 PM Stevie <notifications@github.com> wrote:

[2018-10-23 15:40] jywarren commented on #3677
https://publiclab.org/stats says 1269, wow!

On Tue, Oct 23, 2018 at 11:29 AM Stevie <notifications@github.com> wrote:

[2018-10-23 15:56] gauravano commented on #3578
Oops, @jywarren merged the PR. Please close the task if you opened it on GCI dashboard. Thanks!

[2018-10-23 16:11] jywarren commented on #3578
sorry, it checked out and I didn't follow up to see your discussion -- my
bad!

On Tue, Oct 23, 2018 at 12:04 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-10-23 16:12] jywarren commented on #3677
OK - so here's the alphabetized list: https://publiclab.org/wiki?sort=title

On Tue, Oct 23, 2018 at 11:48 AM Liz Barry <notifications@github.com> wrote:

[2018-10-23 16:12] jywarren commented on #3677
I guess we can add a column to show the URL here too if that would be
helpful!

On Tue, Oct 23, 2018 at 12:12 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-10-23 16:14] first-timers[bot] opened #3744 "Add "path" to wiki listing"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-23 16:15] jywarren commented on #3677
Created an issue for a first-timer:
https://github.com/publiclab/plots2/issues/3744

On Tue, Oct 23, 2018 at 12:12 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-10-23 16:18] jywarren commented on #3744
This one's for @LonghornRach if they want it!

[2018-10-23 16:18] jywarren commented on #3482
Hey, no problem! I've made a new one that you can work on if you're interested, over at #3744. If you'd like to, please leave a comment over there!

[2018-10-23 16:23] gauravano commented on #3578
No issue @jywarren , this issue is not present in the staging area and GCI dashboard. I have cross-checked.

[2018-10-23 16:35] jywarren commented on #3482
This one will require changes at the tag controller, to check if `params[:type] == 'basic'`, in this `index` action:

https://github.com/publiclab/plots2/blob/dd18e979e619005c28254fd129852602e0279dd7/app/controllers/tag_controller.rb#L5-L16

I think it would get an extra condition like:

[code]

I **think** you can just add such a line just before the final `end` of the `index` method:

https://gi

[2018-10-23 16:43] HarrisonLKatz commented on #3737
I would like to claim this issue, please - I would like to practice using git in the terminal for this.

[2018-10-23 16:49] SidharthBansal commented on #3737
Hi are you a GCI student? Have you claimed this task on the GCI dashboard?

On Tue, Oct 23, 2018, 10:18 PM HarrisonLKatz <notifications@github.com>
wrote:

[2018-10-23 16:49] HarrisonLKatz commented on #3737
I have claimed this task on GCI

[2018-10-23 16:51] SidharthBansal commented on #3737
Yeah I can see that you are a GCI candidate
We publiclabians invite to the world of open source
Yeah you can go ahead and send us a Pull Request(that is PR in short)
Best of luck

On Tue, Oct 23, 2018, 10:18 PM Sidharth Bansal <
bansal.sidharth2996@gmail.com> wrote:

[2018-10-23 16:56] shreyateeza commented on #3168
Hi, @SidharthBansal ! I have been contributing to open source since a year. I have contributed to coala, systers to name some. Sorry for being late but can I apply for a mentor at Publiclab? Rest I am trying to find an issue for me to work on to prove. You can also check my GitHub profile. I have been quite active in reviewing PRs and guiding the contributors.

[2018-10-23 17:04] jywarren commented on #3679
Hi, everyone! I'm sorry there was some confusion -- since, unlike in our other Summer of Code programs, we have a single project we've submitted, we weren't sure we needed a call for proposals page. But although we'd love to see group discussion and collaboration around refining the proposals, it does seem helpful to ask each applicant to post a draft proposal (in addition to the one you'll send t

[2018-10-23 17:04] jywarren commented on #3726
(@quinn-codes-synthesis this should help you post!)

Hi, everyone! I'm sorry there was some confusion -- since, unlike in our other Summer of Code programs, we have a single project we've submitted, we weren't sure we needed a call for proposals page. But although we'd love to see group discussion and collaboration around refining the proposals, it does seem helpful to ask each applicant to post a

[2018-10-23 17:07] jywarren commented on #3498
Hi, everyone! I'm sorry there was some confusion -- since, unlike in our other Summer of Code programs, we have a single project we've submitted, we weren't sure we needed a call for proposals page. But although we'd love to see group discussion and collaboration around refining the proposals, it does seem helpful to ask each applicant to post a draft proposal (in addition to the one you'll send t

[2018-10-23 17:09] slasher17 commented on #3744
is this issue fixed?

[2018-10-23 17:11] jywarren commented on #3744
Hi, all, let's wait to see if @LonghornRach wants this one before posting solutions, as they had some trouble with an earlier issue and deserve a chance. However, if they don't want it, I'm happy to accept a contribution from someone else.

In the meantime, please see https://code.publiclab.org/#r=all to find available first-timers issues. And we would LOVE help with reviewing PRs or solving other

[2018-10-23 17:12] HarrisonLKatz commented on #3737
Done! Although I did ironically make a type on the commit description (type instead of typo), the actual typo is now fixed. I believe I did the PR format right - please tell me if I made a mistake there. Thank you!

[2018-10-23 17:20] slasher17 commented on #3680
Can I claim it ?

[2018-10-23 18:33] SidharthBansal commented on #3168
We are no longer accepting new mentors. Sorry.

[2018-10-23 18:58] gauravano commented on #3737
Hi @HarrisonLKatz, the typo on commit name is fine. Thanks for solving the issue! Also, if you want to contribute more, you can look for tasks on GCI dashboard or you can find issues at https://code.publiclab.org/#r=all . Thanks!

[2018-10-23 19:02] #3737 closed

[2018-10-24 01:05] gilletted commented on #3736
I'd like to claim this issue :raising_hand:

[2018-10-24 05:32] Dayitva commented on #3698
Hello from Indonesia. Hoping to have great fun participating in GCI this year.

[2018-10-24 06:09] SidharthBansal commented on #3736
Go ahead

On Wed, Oct 24, 2018, 6:35 AM gilletted <notifications@github.com> wrote:

[2018-10-24 07:05] Pranay10rawat commented on #3744
added required expressions at #3754

[2018-10-24 12:55] bansalsidharthcode commented on #3726
University and college students who are applying are requested to provide information about their school calendar and class credits. We will ask for your current term and your next term. Please have that information before starting the process.

[2018-10-24 12:56] bansalsidharthcode commented on #3679
University and college students who are applying are requested to provide information about their school calendar and class credits. We will ask for your current term and your next term. Please have that information before starting the process.

[2018-10-24 13:20] gilletted commented on #3736
Actually this issue is reserved for GCI Participants so I will leave this one for them

[2018-10-24 13:28] CoderJolly commented on #3405
@jywarren Is it solved, if yes then please close it ?

[2018-10-24 13:35] CoderJolly commented on #3419
@jywarren Still open ?

[2018-10-24 14:09] #3405 closed

[2018-10-24 14:16] codesterlife commented on #3736
I would like to claim this task

[2018-10-24 14:17] codesterlife commented on #3736
I am a GCI canditate

[2018-10-24 14:20] sagarpreet-chadha commented on #3736
Yes @codesterlife ! Go head 😄 !

[2018-10-24 14:50] codesterlife commented on #3736
how can i get the webpage that needs to edited??

[2018-10-24 14:54] avsingh999 commented on #3736
@codesterlife that webpage  is https://publiclab.org/blog

[2018-10-24 15:22] ebarry commented on #3677
Awesome!!!!

On Wed, Oct 24, 2018, 12:21 AM Jeffrey Warren <notifications@github.com>
wrote:

[2018-10-24 15:36] #3452 closed

[2018-10-24 15:42] jywarren commented on #3419
Hi, @nwyll has asked to step back for a bit, but did complete the feature.

At this point, we need a test to verify that this type of sorting actually works; it could be very much like this one:

https://github.com/publiclab/plots2/blob/325d009b82258f8fd1b79fa47b4485eb354c836c/test/functional/tag_controller_test.rb#L143-L159

But adding the `order` parameter to check that that doesn't break anythi

[2018-10-24 15:45] #3403 closed

[2018-10-24 15:57] jywarren opened #3755 "Break out login items into new template partial"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2018-10-24 15:58] jywarren opened #3756 "Expanded login pane below comments"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2018-10-24 16:03] jywarren commented on #2592
We actually should pick this up and solve it - I think we should address the "as guest" option in a follow-up and fix the smaller initial issue of a log in prompt when you submit the question, triggered by the signup URL above. @aSquare14 are you still interested in trying that?

Screenshot of the question form which definitely does not preserve the question asked:

![image](https://user-images.gi

[2018-10-24 16:05] jywarren commented on #2592
So I think perhaps we should try having the form go to:

https://publiclab.org/signup?return_to=/questions/new?title=My%20Question...

And testing it locally. If that doesn't work, we could do a simpler thing - just grey out the question form and show beneath it a login form like #3756 so people know they must log in before asking a question.

[2018-10-24 17:21] jywarren commented on #3727
Lot of similar looking errors in yarn repo https://github.com/yarnpkg/yarn/issues/4563

[2018-10-24 17:22] icarito commented on #3727
Yes I read them! And also tried a couple workarounds found there at https://github.com/publiclab/plots2/pull/3728/files

[2018-10-24 17:38] jywarren commented on #3727
Sorry, yeah, just wanting to document what we've tried, thanks!

[2018-10-24 17:54] icarito commented on #3727
Perhaps we can improve our Yarn deployment strategy taking some ideas from https://hackernoon.com/using-yarn-with-docker-c116ad289d56 - not sure if some version locking could help prevent issues like this.

[2018-10-24 17:58] jywarren commented on #3677
Also added an interface for adding tag parents (admin only) here: https://github.com/publiclab/plots2/pull/3749

barebones though and not published yet!

[2018-10-24 18:48] jywarren commented on #3727
Hm, like including a `yarn.lock`?

[2018-10-24 18:50] jywarren commented on #3727
Oh, like the section on `Wait! Now Yarn is executed at each container build`?

Is this an intermittent issue or does the process always fail?

[2018-10-24 18:56] jywarren commented on #3571
Thank you! How many PRs will Dependabot open, do you think? Can we do them in batches? Sorry, we're just a bit cautious about opening more than 5 at a time, but even if it's 10, we can just get ready for it so we're not overwhelmed 😅

Another thing we can do is run this on a less active Public Lab project for starters -- like MapKnitter. Although we would have to warn you that some of our less act

[2018-10-24 19:04] codeIriss commented on #3755
hey @jywarren , are we trying to make different login page and then rendering that page from _header.html.erb

[2018-10-24 19:05] codeIriss commented on #3755
can u please explain this to me @jywarren ?

[2018-10-24 19:10] jywarren commented on #3727
Wondering if @Souravirus would be able to help figure this out, as he originally helped complete the Yarn transition work in #2659 ?

[2018-10-24 19:41] vanguard07 commented on #3736
@codesterlife This might help - [Page where change is to be made](https://github.com/publiclab/plots2/blob/a128622eb132eef4733c0067e2c6b2c1669d3042/app/views/tag/blog.html.erb#L77)

[2018-10-24 19:51] Souravirus commented on #3727
Yeah sure @jywarren, I would try my best to help

[2018-10-24 19:52] SidharthBansal commented on #3726
All the participants of Outreachy are requested to submit the application before** October 30 at 4pm UTC ** on the main Outreachy website. Failure to do so will result in failure from the Outreachy program.

Applicants who create an application can edit it until the project application deadline. After your project's application deadline, applicants will NOT be able to create a new application. App

[2018-10-24 19:53] SidharthBansal commented on #3679
All the participants of Outreachy are requested to submit the application before October 30 at 4pm UTC on the main Outreachy website. Failure to do so will result in failure from the Outreachy program.

Applicants who create an application can edit it until the project application deadline. After your project's application deadline, applicants will NOT be able to create a new application. Applican

[2018-10-24 19:59] jywarren opened #3757 "Inline wiki table formatting broken"
We have nice inline tables of wiki pages, like on this page: https://publiclab.org/wiki/air-sensors

![image](https://user-images.githubusercontent.com/24359/47457604-8a059f00-d7a5-11e8-9444-df1e0878453a.png)

However as you can see the table headers are a bit broken -- they don't properly label the columns.

The file for this is here:

https://github.com/publiclab/plots2/blob/master/app/views/gri

[2018-10-24 20:01] jywarren commented on #3679
Some folks have written in asking about a good follow-up project after their first contribution! It's a great question. There are always a lot marked "help-wanted" -- but for some where there may be a smaller, bite-sized one to take on, you could try looking at the label for "break-me-up" and finding one that hasn't yet been separated out.

https://github.com/publiclab/plots2/labels/help-wanted

h

[2018-10-24 20:01] jywarren commented on #3757
@mardelvalle maybe this one would be good for you?

[2018-10-24 20:06] jywarren opened #3758 "Combined wiki/note grids using [node:_____] syntax, for inline grids"
This may be a bit more complex, but we'd love some help.

We have inline grids on pages like this: https://publiclab.org/wiki/air-sensors

This means we have different ways to include inline tables of other pages, using syntax like:

`[notes:______]` or `[wikis:________]`

The templates for these are here:

https://github.com/publiclab/plots2/tree/master/app/views/grids

But sometimes you want to

[2018-10-24 20:09] Souravirus commented on #3727
@jywarren yarn.lock is already included in our code

[2018-10-24 20:14] jywarren commented on #3755
Ah, no, sorry - we want it to look the same, but for the template to be
separated out so that each template file is not too long. The header
template would still include in the login template via the "render partial"
call. Make sense?

On Wed, Oct 24, 2018 at 3:05 PM Aditya Kumar <notifications@github.com>
wrote:

[2018-10-24 20:15] codeIriss commented on #3755
so we want to separate only th part which have login with @jywarren am i right?

[2018-10-24 20:16] codeIriss commented on #3755
we are just trying to separate the social icons part?? @jywarren

[2018-10-24 20:17] jywarren commented on #3755
yes, that's right.

On Wed, Oct 24, 2018 at 4:16 PM Aditya Kumar <notifications@github.com>
wrote:

[2018-10-24 20:18] jywarren commented on #3755
actually the whole login pane, as shown in the screenshot. So it'll include
the login form plus the social icons above it.

On Wed, Oct 24, 2018 at 4:17 PM Aditya Kumar <notifications@github.com>
wrote:

[2018-10-24 20:18] avsingh999 opened #3760 "Improve pagination in the tags page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-24 20:19] codeIriss commented on #3755
okay we are trying to get the whole login part from login.html.erb to header.html.erb?
@jywarren

[2018-10-24 20:20] codeIriss commented on #3755
we will just have the  <%= render :partial => "layouts/social_icons" %> in header.html.erb part right? @jywarren

[2018-10-24 20:21] jywarren commented on #3755
we're trying to remove the HTML code for the login form and icons from
_header.html.erb, into a new _login.html.erb, and then include it back in
with the `render partial` line. Make sense?

On Wed, Oct 24, 2018 at 4:20 PM Aditya Kumar <notifications@github.com>
wrote:

[2018-10-24 20:40] avsingh999 opened #3761 "Improve pagination in the wiki page"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contribut

[2018-10-24 20:42] catherineattheodi commented on #3679
Hey everyone,

I'm Catherine from Indonesia - hope I'm not too late to this discussion. Just graduated with a bachelors degree in combined social sciences (mainly Politics and Philosophy), and am undertaking my pre-masters gap year. I have work/internship experience in a few industries, most recently at a technology non-profit, where I worked on (amongst other things) refining the processing of op

[2018-10-24 20:44] jywarren commented on #3679
Not too late, and welcome! Please keep an eye on the schedule though -- we
don't want folks to miss the deadlines.

On Wed, Oct 24, 2018 at 4:42 PM Catherine J <notifications@github.com>
wrote:

[2018-10-24 21:20] SidharthBansal commented on #3526
Yes

[2018-10-24 21:42] greysteil commented on #3571
All of those options sound good!

The maximum number of PRs that Dependabot will create in a single update run is 5, and the maximum is will ever have open for a single repo (for a single language) is 10. Hopefully that's enough not to overwhelm!

[2018-10-24 21:48] jywarren commented on #3571
Oh that is great. Then let's go ahead with this repo. Shall I install it
then? I'm finishing for the day, but hopefully tomorrow or Friday.

On Wed, Oct 24, 2018 at 5:43 PM Grey Baker <notifications@github.com> wrote:

[2018-10-24 21:48] #3692 closed

[2018-10-24 21:50] gauravano commented on #3679
Hi everyone, if I guess the deadline is extended to Nov, 6 as per https://www.outreachy.org/apply/project-selection/#public-lab-extend-community-collaboration-statistics-and-visu . @jywarren please confirm. Thanks!

[2018-10-24 21:50] greysteil commented on #3571
Yes - thanks would be perfect! The easiest way to do so is from [here](https://github.com/apps/dependabot) - let me know if you have any trouble. I'll also look out for the initial PRs and try to help out with the review 🙂

[2018-10-24 22:04] jywarren commented on #3384
Hi @SidharthBansal -- i know you're busy with Code-In and Outreachy, but I'm increasingly concerned that people on our site are losing their place when the log in with OAuth, and I want to ensure they get redirected back to their original page after login. I think we can use the session to do this, and I opened a starter PR to get this process going.

You know the OAuth code the best, though... wh

[2018-10-24 22:08] Radhikadua123 commented on #3679
Hello everyone, I am Radhika Dua pursuing B.E( 4th year) from Panjab University, Chandigarh, India. This is my first patch in this project. I'm participating in the Outreachy program this year from where I got to know about this project. I read basics of both Ruby as well as Rails just few hours back. Since I had little experience with MVC based frameworks I was able to understand bits fast. I tri

[2018-10-25 03:15] icarito commented on #3727
Here's another report from a similar issue with npm. I _guess_ this is a permissions issue, possibly coming from an npm package, and arising from mounting the `/app` directory as a volume. Perhaps it can be solved by adding a chmod or chown to Makefile.

[2018-10-25 03:32] shubhangi-chauhan commented on #3676
Quoting @gauravano ,

[2018-10-25 03:42] igniteeng000 commented on #3526
@Deltrix Now you can find this issue in gci dashboard. Go ahead fix this issue.

[2018-10-25 03:54] milaaraujo opened #3766 "Search API: add tests for endpoint /srch/nearbyPeople"
Add tests to the endpoint new `/srch/nearbyPeople` (#3719).

Method is in here: https://github.com/publiclab/plots2/blob/master/app/services/search_service.rb#L118-L146.
Tests are here: https://github.com/publiclab/plots2/blob/master/test/functional/api/search_api_test.rb

[2018-10-25 04:19] milaaraujo commented on #3506
Hey @cesswairimu, it will be difficult to break #3501 solution into smaller tasks for now...
Maybe you would help us with this issue: https://github.com/publiclab/plots2/issues/3766

[2018-10-25 04:44] K-zhao commented on #3742
Hello! I'm doing the task as part of GCI. I am struggling to find the HTML file name on the repository. Can you tell me where it is? Many thanks!

[2018-10-25 04:58] sagarpreet-chadha commented on #3679
Yes its confirmed...we have extended the deadline to Nov 6 , 4 PM UTC :hourglass_flowing_sand:  .

Hi @Radhikadua123 ! Welcome to PublicLab :smile:  .

[2018-10-25 05:18] milaaraujo commented on #3506
Actually, I found a way to use your help, @cesswairimu! I am working on #3767. Once the endpoint is up to date we will need help to make the page (https://publiclab.org/search/profiles/) use the option tag.

[2018-10-25 07:47] TheOllieB commented on #3760
Can I take this one please?

[2018-10-25 09:12] cesswairimu commented on #3506
Awesome @milaaraujo I am interested and will take a look when its merged. Thanks a lot

[2018-10-25 13:10] avsingh999 commented on #3736
@codesterlife  yes you have to make a pull request after editing the file

There are two ways how you can start a pull request:
1. If you are familiar with the terminal or would like to learn it, [here is a great tutorial](https://egghead.io/series/how-to-contribute-to-an-open-source-project-on-github) on how to send a pull request using the terminal.

2. You can also [edit files directly in your

[2018-10-25 13:19] bansalsidharthcode commented on #3679
Hi @Radhikadua123 <https://github.com/Radhikadua123> ! Welcome to PublicLab
😄 .

On Thu, Oct 25, 2018 at 10:28 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-10-25 13:38] SidharthBansal commented on #3384
Hi Jeff, I will be happy to help here too asap.
Right now a lot of things are going on and I want to give some time in analysing the wide range of Login related issues created by you. I don't want to hurry up things. Authentication is a really crucial part for running production website. So, I will try to take out 3-4 hours on Saturday for these issues.
Please ping me on Sunday if I forget to do s

[2018-10-25 13:52] CodeSarthak commented on #3453
Hey, I have completed this task through GCI and started a pull request. Please look through it and suggest any changes, if any. I have changed the color of "Profile".

[2018-10-25 14:57] vanguard07 commented on #3736
@codesterlife You have to create a fork of this repository, make changes in locally, push it, and then send a pull request, i.e.

- Navigate to the [repo](https://github.com/publiclab/plots2) on GitHub.
- Click on the 'Fork' button in the top right corner. GitHub will take some time to fork the repo.
- Navigate to the forked repo. Should be like `https://github.com/<your_github_username>/plots2`
-

[2018-10-25 14:59] LonghornRach commented on #3744
Sorry I was away from my computer for a bit but yes I would like to do this one!

[2018-10-25 15:03] LonghornRach commented on #3482
I'll keep working on this but please anyone else feel free to claim it!

[2018-10-25 15:08] mardelvalle commented on #3757
@jywarren Yes this looks like a good one. I will work on it then. Thanks for the help.

[2018-10-25 15:15] Radhikadua123 commented on #963
Hi @jywarren and @Kanikashrivastav

Can I take this task ? I have given thought to it about how to implement it.

[code]

I think these routes should cover up everything. Optional parameter `raw` would give the exact same data in raw format which has been used in the charts. Though I'm not sure if it should be csv or json ?

`:type` can be subscriptions, people, notes, wikis, questions, comments,

[2018-10-25 15:39] venkateshdb commented on #3340
Hi there,
I would like to work on this issue.

[2018-10-25 15:43] jywarren commented on #3757
Awesome! Thanks!!

On Thu, Oct 25, 2018, 11:09 AM Maria Cristina Del Valle <
notifications@github.com wrote:

[2018-10-25 15:49] Kanikashrivastav commented on #963
@Radhikadua123 thanks for your interest but i am working on it , can you please look on any other issue available.

Thanks
Kanika

[2018-10-25 16:02] Radhikadua123 commented on #3522
Just wanted to give my views on this issue. :)

I can think of two ways to fix it:

### 1. Requires saving tokens in DB

We create a new model in the project called `EmailVerification`. In this model, we can have following fields :

    a) foreign key to `email_id` object of the `user` model
    b) randomly generated token string which will be sent to the user in the link
    c) is_active - so tha

[2018-10-25 16:02] CodeSarthak commented on #3732
I am willing to accept this as part of GCI, where is the source file?

[2018-10-25 16:03] Radhikadua123 commented on #963
Sure! :)

[2018-10-25 16:35] SidharthBansal commented on #3453
Suggestion please use title of the PR describing the issue. In the PR body write the issue number. No need to include it in the PR title.

[2018-10-25 17:14] Radhikadua123 commented on #3727
While I was creating this fix: https://github.com/publiclab/plots2/pull/3775, I realised this issue. I'm able to reproduce it locally very well. I believe it's because of old yarn.lock file. May be we should commit that file with latest changes ? I can push the fix in that PR but I'm not sure how it will be tested in docker since I'm completely unaware of CI setup.

[2018-10-25 18:53] Souravirus commented on #3727
How did you reproduce this error locally @Radhikadua123?

[2018-10-25 19:00] Radhikadua123 commented on #3727
@Souravirus

[code]

[2018-10-25 19:48] jywarren commented on #3727
Hi! Very cool, could you share a link to a branch on GitHub where youve
reproduced this and sourav can push it to our unstable container to see if
it gets solved there? Then we can try merging in your changes here.

On Thu, Oct 25, 2018, 3:01 PM Radhika Dua <notifications@github.com wrote:

[2018-10-25 19:50] Souravirus commented on #3727
Yeah sure. @Radhikadua123 please update your changes in one of your branches and share it here, so that I can try pushing it in unstable branch.

[2018-10-25 19:52] jywarren commented on #3679
Awesome, thanks Sagarpreet and Sidharth!

On Thu, Oct 25, 2018, 9:20 AM bansalsidharthcode <notifications@github.com
wrote:

[2018-10-25 19:57] jywarren commented on #3506
Just merged that change! Great!!

[2018-10-25 20:07] Radhikadua123 commented on #3727
@jywarren @Souravirus Let me push them to https://github.com/publiclab/plots2/pull/3775

[2018-10-25 20:43] Radhikadua123 commented on #3522
I'm working on breaking up this issue and create new ones by tomorrow.

[2018-10-25 20:50] Souravirus commented on #3727
@jywarren updating the yarn.lock worked. Here is the link to the Jenkins result https://jenkins.laboratoriopublico.org/job/Plots-Unstable/322/console. Please see #3775.

[2018-10-25 21:16] milaaraujo commented on #3506
Re-opening:
- [ ] Create tag option to the /profile endpoint
- [ ] Make the page (https://publiclab.org/search/profiles/) use the option tag

[2018-10-25 22:17] jywarren commented on #3571
OK - installed and merged a couple smaller ones! A few questions on the remaining 2... upcoming! Thank you!

[2018-10-25 22:36] icarito commented on #3727
Hi Radhika

Please yes, make the push for that commit and we can test it! Currently
we push to `unstable` branch and it automatically gets deployed to
https://unstable.publiclab.org/ - we would push your commits to that
branch and see whether it deploys correctly or not!

Thanks!

On 25/10/18 12:14, Radhika Dua wrote:

[2018-10-25 22:37] icarito commented on #3727
Oh, cool!

On 25/10/18 15:51, Sourav Sahoo wrote:

[2018-10-25 22:41] #3326 closed

[2018-10-25 22:57] #3744 closed

[2018-10-26 05:40] ho-dor commented on #3698
Hello. I am a first-time contributor. Help me to get started with rails and open-source.

[2018-10-26 12:10] #3584 closed

[2018-10-26 13:45] vanguard07 commented on #3581
@jywarren @SidharthBansal Please review the PR. 😅

[2018-10-26 14:55] avsingh999 commented on #3698
@ho-dor  great, welcome to you  in publiclab
here https://code.publiclab.org/ find the issue and solve it
thanks :)

[2018-10-26 15:04] Radhikadua123 opened #3798 "Implement email verification for users"
Right now we don't have any kind of email verification. User can register using any email, user can change his/her email and then just use the account. He/she won't have to confirm their emails to do any actions. This can exploited by users for spamming too.

So, this is parent issue describing all the smaller bugs which needs to be fixed to successfully add email verification system. This impleme

[2018-10-26 15:08] itsshailesh47 opened #3799 "Title of the page should be stats rather than index"
### Please describe the problem (or idea)

<title>Index</title> is used instead of <title>stats</title>

title should be stats but it is index

### Please show us where to look
look for the entry between <title> tags in the html code of the respective page

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your hel

[2018-10-26 15:11] itsshailesh47 commented on #3742
to correct this issue we need to change the entry between title tags to "stats" instead of "Index"

[2018-10-26 15:38] SidharthBansal commented on #3515
Yeah go ahead

[2018-10-26 16:53] TheYkk opened #3800 "Install Error"
bundle install --without production mysql
Fetching gem metadata from https://rubygems.org/......
Fetching gem metadata from https://rubygems.org/.
Resolving dependencies........
Fetching rake 12.3.1
Installing rake 12.3.1
Fetching concurrent-ruby 1.0.5
Installing concurrent-ruby 1.0.5
Fetching i18n 1.1.1
Installing i18n 1.1.1
Fetching minitest 5.11.3
Installing minitest 5.11.3
Using thread_safe 0.

[2018-10-26 19:12] jywarren commented on #3677
Alphabetizing of URLs is also here now as of today: https://publiclab.org/wiki

[2018-10-26 19:13] jywarren commented on #3677
Add tag parent now exists but is buggy. Updates soon!

[2018-10-26 19:18] jywarren commented on #3677
OK tag parenting has a button only shown to admins now. it's not that tidy looking but it works:

![image](https://user-images.githubusercontent.com/24359/47587893-5ad06880-d932-11e8-9652-7f680b2aab0f.png)

There is one final bug but it should be running by Monday. 👍

[2018-10-26 19:51] kopecs commented on #3433
This issue appears to be a duplicate of #3432.

[2018-10-26 20:00] namangupta01 commented on #3433
Yes @kopecs you are right. Thanks for noticing.

[2018-10-26 20:00] #3433 closed

[2018-10-26 20:16] narnt commented on #3712
Hi, I want to work on this issue.

[2018-10-26 21:03] icarito opened #3807 "Mailman failing to process some emails with `undefined method 'body'`"
Comments are not being posted and an exception is logged:

mailman.log:
[code]

[2018-10-26 21:20] narnt commented on #3712
I didn't see a problem with those buttons, but I see this:
![image](https://user-images.githubusercontent.com/32932910/47592807-23cf7680-d975-11e8-9c22-1d3ccfb8b874.png)
It must be fixed too?

[2018-10-26 21:29] avsingh999 commented on #3712
@narnt  great catch
thanks :)

[2018-10-26 21:32] avsingh999 commented on #3712
@narnt  This is for gci-candidate,

[2018-10-26 21:53] jywarren opened #3808 "Troubleshooting Riot/Matrix => Gitter message bridge"
I opened an issue here: https://github.com/matrix-org/matrix-appservice-gitter/issues/72

...because we're no longer seeing messages passed from Riot/Matrix (https://riot.im/app/#/room/#publiclab:matrix.org) to Gitter (https://gitter.im/publiclab/publiclab) although they still go the other way.

We don't have a separate repo for this but we communicate about plots2 a lot in these channels!

[2018-10-26 22:09] jywarren commented on #3807
Hi, thanks! Where do you see the message `undefined method body` and can you paste in that part too?

This isn't related? `E, [2018-10-26T18:42:58.243171 #1] ERROR -- : getaddrinfo: Name or service not known`

[2018-10-26 22:31] jywarren commented on #3744
Please go ahead and thanks!

On Thu, Oct 25, 2018 at 11:01 AM Rachel Stratemeier <
notifications@github.com> wrote:

[2018-10-26 22:31] jywarren commented on #3760
if you are in GCI, please go ahead!

On Thu, Oct 25, 2018 at 3:47 AM Oliver Burge <notifications@github.com>
wrote:

[2018-10-26 22:32] jywarren commented on #3676
Let's increase the limit, but still show the same # per page. Make sense?

On Wed, Oct 24, 2018 at 11:32 PM Shubhangi Chauhan <notifications@github.com>
wrote:

[2018-10-26 22:39] #3499 closed

[2018-10-26 22:48] jywarren commented on #3798
this is amazingly well broken up! Where did you learn this workflow -- it's
one we've tried to be good at, but it's tough! See our posts at
https://publiclab.org/software-outreach

I think you can do them all yourself in this issue if you want. But if
you'd like to prepare one or two for others to get involved in, breaking
them out into well-documented distinct issues can help. But it's up to you!

[2018-10-27 07:36] narnt commented on #3799
Hi, where exactly locate the problem? Maybe you can provide a screenshot to help find it? I see that title of this page is "🎈 Public Lab: a DIY environmental science community"

[2018-10-27 10:10] avsingh999 commented on #3760
@jywarren  this task is not published on GCI
thanks :)

[2018-10-27 12:43] mardelvalle commented on #3757
@jywarren This is a picture of the change I did. One thing I was thinking about doing (though it may not be in the scope of this issue) is removing the star icon. It doesn't seem to match the rest of the page's content. Thoughts?
![screen shot 2018-10-27 at 8 39 29 am](https://user-images.githubusercontent.com/32019417/47604216-4fc61880-d9c4-11e8-8b94-abce0056d0ca.png)

[2018-10-27 12:54] itsshailesh47 opened #3811 "Title of the page should be stats rather than index"
Title of the page should be stats rather than index

Title of the page should be stats rather than index

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?
itsshailesh47

change entry between <title> </title> to 'stats' from 'Index'.

### Browser, version, and operating system
Google Chrome 69.0.3497.100 (Official Build) (64-bit) (cohort: Stable)

[2018-10-27 12:59] Radhikadua123 commented on #3798
Thanks a lot! @jywarren ^_^
Actually I only know general web development stuff and I thought lot about the way it should be implemented and then tried to split it into smaller tasks. But I'm quite less aware of Ruby on Rails internals. I'm continuously trying to learn more about it from the code base.

Sure, I'll check it out.

Yeah, splitting task into well-documented distinct issues on which oth

[2018-10-27 19:13] milaaraujo commented on #3766
@Nada1996 is working on this one. #3794

[2018-10-27 19:54] AyeshaSherAli commented on #3736
@codesterlife have you done it? i would like to do it.

[2018-10-27 21:50] narnt commented on #3811
Thank you for screenshot and link. I will work on this.

[2018-10-27 22:19] jywarren commented on #3757
Hi! I think you could also just have the star and no other text for that
column; we are thinking ahead for translation issues and that'd probably
make our lives easier.

This looks great. What is the "table content" text at the top, could we
remove that too?

Thanks!!!

On Sat, Oct 27, 2018, 8:43 AM Maria Cristina Del Valle <
notifications@github.com wrote:

[2018-10-27 22:20] jywarren commented on #3798
👍🏽👍🏽👍🏽

On Sat, Oct 27, 2018, 8:59 AM Radhika Dua <notifications@github.com wrote:

[2018-10-27 22:23] #2397 closed, assigned to nobody

[2018-10-27 22:29] jywarren commented on #3760
Ah, then ok, please go ahead!

On Sat, Oct 27, 2018, 6:10 AM Avkaran Singh <notifications@github.com wrote:

[2018-10-27 23:40] mardelvalle commented on #3757
Alright. Sure I can remove the "like" text.

The "table content" phrase I believe is being generated from another file as it's not part of the table. I can look into it more where it is coming from but thus far I haven't been able to locate it.

[2018-10-27 23:41] narnt commented on #3690
Hi, can I work on this? I am an outreachy applicant.

[2018-10-27 23:49] narnt commented on #3637
Hi, do you still work on this?

[2018-10-28 02:41] codesterlife commented on #3736
I've complete it.
On Oct 28, 2018 1:24 AM, "AyeshaSherAli" <notifications@github.com> wrote:

[2018-10-28 03:11] kevinzluo commented on #3449
Question: Do you wish for the Donate option revealed under "Get Involved" to be removed completely so that it does not appear under any screen sizes?

[2018-10-28 07:58] generationXcode commented on #3340
can I try?

[2018-10-28 08:20] venkateshdb commented on #3340
Yes, I was working on it but , i got lots of problems while installing plot2 on my windows system.
If you could pls tell me.

[2018-10-28 08:33] generationXcode commented on #3540
hi @SidharthBansal I want to claim this task but am not sure whether I'll be able to do it because I don't know the code...I can't work on ruby files because I don't know the language. Can someone please send the link of the file on github . thanks!

[2018-10-28 08:34] generationXcode commented on #3540
can I work on it?

[2018-10-28 08:36] avsingh999 commented on #3340
hi @venkateshdb if you face any problem then you can ask your problem in publiclab gitter channel https://gitter.im/publiclab/publiclab,
post a screenshot which error you are getting
thank you :smile:

[2018-10-28 10:56] narnt commented on #3637
Hi, do you still work on this? Maybe you can tell me what you have already done and how? Or maybe I can join?

[2018-10-28 14:04] Rakmakpak opened #3816 "Page's title should be name stats"
### Please describe the problem (or idea)

https://imgur.com/a/kkU29IY

Title should be changed to stats

### Please show us where to look

https://publiclab.org/stats

### What's your PublicLab.org username?
JemBananki

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how

[2018-10-28 14:07] kara27x commented on #3742
Well, just have to change HTML's code in HEAD from `<title>&#127880; Public Lab: Index</title>` to `<title>&#127880; Public Lab: Stats</title>` then the issue's gonna be solved.

[2018-10-28 16:09] venkateshdb commented on #3340
![therubyracer_error](https://user-images.githubusercontent.com/24228920/47618454-35da2200-daf9-11e8-9de0-9269e498cbc4.png)

At first I was getting error while installing libv8 gem but with the help from @gauravano  , I managed to install it but after that , This was the error I was getting while installing therubyracer gem.

[2018-10-28 16:35] generationXcode commented on #3540
hi, can I try?

[2018-10-28 17:15] vikul1234 commented on #3540
This task is assigned for gci students. If you are gci students then you can work. Thanks

[2018-10-28 17:18] generationXcode commented on #3540
yeah sure! (:

[2018-10-28 18:01] jywarren opened #3817 "Error on non-existent tag page: fix and test needed"
when we go to a tag page for which there is no content tagged, we now see an error:

https://publiclab.org/tag/pi-cam

![image](https://user-images.githubusercontent.com/24359/47619871-c4c74a00-dab9-11e8-8faf-a939739bbfb5.png)

Versus https://publiclab.org/tag/pi-camera, where there is content.

This used to show a page that said "no tagged content" or something, but now is an error.

We should:

[2018-10-29 00:10] shubhangi-chauhan commented on #3817
Is the following the expected behavior? Seems to be working fine for me.

![pi-cam](https://user-images.githubusercontent.com/36580419/47623917-7c9d3b80-db3c-11e8-98ff-969d9137da62.png)

[2018-10-29 00:12] shubhangi-chauhan commented on #3798
Could I take this up? :smiley:

[2018-10-29 00:18] JonathanXu1 commented on #3328
Hi, I'm working on solving this issue for codein!

How is this for the user icon:
![image](https://user-images.githubusercontent.com/22998430/47620705-9ea6a780-dac3-11e8-89b9-03fc7873a1b2.png)
And for the dashboard icon:
![image](https://user-images.githubusercontent.com/22998430/47620709-b2520e00-dac3-11e8-9087-55a440dba73f.png)

Respective links:
https://fontawesome.com/v4.7.0/icon/user
https://

[2018-10-29 01:34] kevinzluo opened #3822 "Tabbing Incorrect in Login when Signup is loaded"
Hello.

I was testing out plots2 for GCI when I encountered this issue.

When on publiclab.org/signup , click the login button. In the username field for login, press tab. The cursor moves to the username field for signup. I believe the problem is that tabindex for the username field and the username field for login are both 1.

The cursor moves to the username field for signup rather than the pas

[2018-10-29 05:15] CodeSarthak commented on #3532
The code reference given in the issue mentions only one button. Do I need to correct only one button or change the entire css class - "btn btn-default"?

[2018-10-29 05:28] narnt commented on #3742
I'm sorry, I saw this Issue too late and already done it. My PR won't be merge?
@K-zhao do you still work on it and still need help? [This](https://guides.rubyonrails.org/layouts_and_rendering.html) helps me to understand how it works.

[2018-10-29 05:46] CodeSarthak commented on #3532
Does this look fine?
![methodsreadmore](https://user-images.githubusercontent.com/24937677/47631412-f0a30800-db6b-11e8-9530-caa05699fc03.PNG)
![methodsreadmoremobile](https://user-images.githubusercontent.com/24937677/47631445-17613e80-db6c-11e8-9147-6c7ab6ccb186.PNG)

[2018-10-29 06:10] narnt commented on #3497
If I made one PR, I can't work on fto-candidate issue?

[2018-10-29 06:19] narnt commented on #3707
Is someone working on this? Can I take it?

[2018-10-29 06:42] narnt commented on #3527
Can I work on this?

[2018-10-29 08:15] quinn-codes-synthesis commented on #3726
Phew! Proposal posted.

I am a little confused on whether the application needs to be finalized on the 30th or on the 6th -- I had thought the deadline had been postponed, but I'm still seeing some comments (like the one just above) that say the 30th.

Anyway, I welcome feedback so I can polish it in whatever time we have left!

[2018-10-29 11:42] SidharthBansal commented on #3532
Looks good to me.
@jywarren kindly review it

On Mon, Oct 29, 2018, 11:16 AM Sarthak Aggarwal <notifications@github.com>
wrote:

[2018-10-29 11:44] SidharthBansal commented on #3690
Yeah sure

[2018-10-29 13:11] CodeSarthak commented on #3532
Here is the PR : https://github.com/publiclab/plots2/pull/3772

Please review.

Thanks and Regards.

[2018-10-29 14:07] narnt commented on #3527
It seems like nobody works on it, so I take it

[2018-10-29 14:59] atulbi commented on #3761
Has anyone claimed this issue yet ?

[2018-10-29 15:18] jywarren commented on #3218
Attempted fix in https://github.com/publiclab/plots2/pull/3830

But using quote delimiter `On Tuesday, 3 July 2018, 11:20:57 PM IST, RP <rp@email.com> wrote:` using regex.

@shubhscoder this was a pretty tough one, maybe not helpful for a beginner! If you're still interested, please check out https://code.publiclab.org!

[2018-10-29 15:25] jywarren commented on #3218
If anyone wants to build on this to complete the issue, we could use the help!

An example of quoted text we'd like to hide is here: https://publiclab.org/questions/warren/10-26-2018/how-can-we-connect-a-pms5003-dust-sensor-to-an-arduino#a1252

![image](https://user-images.githubusercontent.com/24359/47660429-58a61e00-db6d-11e8-907b-7bcb005a42ee.png)

[2018-10-29 15:27] shubhscoder commented on #3218
Yes I am very interested. I was detected with dengue about a month back, so
had to go to the hospital and everything just stopped. But I am perfectly
fine now , and look forward to contribute as much as I can to public labs.

On Mon, Oct 29, 2018, 8:52 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-10-29 16:46] narnt commented on #3679
Hi, my name is Maria Nebesnaya, and I'm from Russia. I'm afraid I'm too late for apply because most of issues that I can resolve on my own already taken by someone else, but I'll try.

Last two years I was learning programming, mainly web programming, and I really fond of it. I have nice skills in javascript, html, css. I like to investigate complex tasks, learn something new everyday, work in a t

[2018-10-29 17:02] meinou commented on #3688
Want to compete for Outreach!

[2018-10-29 17:32] K-zhao commented on #3742
@narnt I have abandoned the task.

[2018-10-29 17:50] meinou commented on #3736
So, this one is closed, @codesterlife ?

[2018-10-29 17:53] jywarren opened #3831 "Move commenting UI code into an independent .js file"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2018-10-29 17:55] jywarren commented on #3276
Hi folks, just added this one which would make a good GCI issue if someone wants to add it to the dashboard (please leave a comment here if you do it!):

https://github.com/publiclab/plots2/issues/3831

[2018-10-29 18:00] jywarren opened #3832 "consolidate views/comments and views/comment folders"
These two folders are redundant, and we should combine their content into a single folder called `comments`:

https://github.com/publiclab/plots2/tree/master/app/views/comments

https://github.com/publiclab/plots2/tree/master/app/views/comment

We will have to go through and find all references to just 'comment' and convert them to 'comments' - some will be detected by tests, and we can fix them,

[2018-10-29 18:19] meinou commented on #3688
https://github.com/publiclab/community-toolbox/pull/88

[2018-10-29 18:20] meinou commented on #3688
#88

[2018-10-29 18:28] meinou commented on #3462
Can I do it as well?

[2018-10-29 18:44] meinou commented on #3462
#3833 request.
I see that it was already solved, but may be I can do it as well!
Not sure if it supposed to be in master all the time, but I think it was implied in step-by-step?

[2018-10-29 18:57] meinou commented on #3688
#88 request.
I see that it was already solved, but may be I can do it as well!
Not sure if it supposed to be in master all the time, but I think it was implied in step-by-step?
Also made changes in my fork, not sure how to make pull request from there

[2018-10-29 19:24] sagarpreet-chadha commented on #3726
Hi !
The deadline is Nov 6 , 4 PM UTC 🕓 ⏳  .

[2018-10-29 19:36] meinou commented on #3298
🙋

[2018-10-29 22:00] narnt commented on #3832
I want to work on this, can I?

[2018-10-29 22:28] jywarren opened #3836 "Sending an answer inserts answer text into other textareas on the page"
I entered an answer and posted it on this page: https://publiclab.org/questions/warren/10-29-2018/help-us-refine-the-search-interface-at-publiclab-org

My answer was posted, but strangely, its comment box also contained my original answer text, and the text also remained in the answer posting textarea:

![screen shot 2018-10-29 at 6 22 11 pm](https://user-images.githubusercontent.com/24359/4768410

[2018-10-29 22:38] first-timers[bot] opened #3838 "add login prompt to questions page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-29 22:39] jywarren commented on #3838
This is for @narnt, thanks!!!

It will add this prompt to the page at https://publiclab.org/questions --

![screen shot 2018-10-29 at 6 37 23 pm](https://user-images.githubusercontent.com/24359/47684638-f0c1f880-dba9-11e8-91df-d455b562b853.png)

[2018-10-29 22:39] jywarren commented on #3838
Please check that it looks like this once you make the changes, and upload a screenshot to the pull request you open! Thanks again!

[2018-10-29 22:41] jywarren commented on #3679
Hello! Welcome, @narnt -- we're glad to meet you! I've made a first-time issue for you here, if you're interested!

https://github.com/publiclab/plots2/issues/3838

Django and Rails, and Python and Ruby, are quite closely related, so I agree, you should have a relatively smooth transition.

We're here to help and very glad to have your assistance as well. Thanks for introducing yourself!

[2018-10-29 22:47] milaaraujo commented on #3707
Sure, just assign the issue to yourself!

[2018-10-29 23:01] milaaraujo commented on #3276
Hey folks, I think the task 'Install plots2 on local machine' needs more mentors and preferably someone with experience in solving problems with the project installation! :weary:

[2018-10-29 23:43] #3432 closed

[2018-10-29 23:44] #3528 closed

[2018-10-30 03:46] milaaraujo opened #3840 "[Setup] Work together to install plots2 on your computer"
Welcome! Getting set up can be tough, but if we work together, we can get past many of the common roadblocks that first-time contributors encounter! 🎉

👀 See this page to get started: https://github.com/publiclab/plots2#installation

🖥 If you have a Windows machine, see: https://gorails.com/setup/windows/10

☁️ Or consider using Codenvy at https://codenvy.io (no invite required!)

🤝 Share the issu

[2018-10-30 03:47] milaaraujo commented on #3276
Install plots2: #3840

[2018-10-30 12:31] devkant commented on #3838
Can I claim this issue

[2018-10-30 14:06] gauravano opened #3845 "Comment mention notification while note is in moderation"
### Please describe the problem (or idea)

I got a notification regarding the creation of a research note and that it's waiting in a queue(I am a moderator). After some hours, I got a notification that someone mentioned me in a comment and guess what from a research note which was held for moderation.

Here's the note - https://publiclab.org/notes/radhikadua/10-30-2018/outreachy-proposal-improve-s

[2018-10-30 15:00] jywarren opened #3846 "After error on new wiki page creation, new form doesn't work"
After creating a new wiki page at https://publiclab.org/wiki/new, but making a mistake, you're redirected to a page showing errors to correct, such as adding a missing body text:

![screen shot 2018-10-30 at 10 56 22 am](https://user-images.githubusercontent.com/24359/47727308-90c36480-dc32-11e8-8a22-c4cdd2404ba4.png)

However, once you fix things and hit Save again, nothing happens. I think this

[2018-10-30 15:21] Radhikadua123 commented on #3798
@shubhangi-chauhan Sure, feel free to work on it. I'll add new well documented issues and link them here today.

[2018-10-30 17:33] shubhscoder commented on #3798
I would like to work on this, if anyone has'nt taken this issue. :)

[2018-10-30 17:35] shubhscoder commented on #3822
I would like to work on this. @kevinzluo  can you please elaborate on what is expected from your side? I think you want the cursor to remain on the same field where it is even if someone presses tab?

[2018-10-30 17:47] giordifungula commented on #3838
I would like to work on it ?

[2018-10-30 18:00] shubhscoder commented on #3656
I would like to work on this issue, but I am having trouble locating this on my local machine. Is there a way I can imitate this issue on my local machine? Thanking you in advance! @gauravano

[2018-10-30 19:38] Radhikadua123 opened #3848 "Implement helper function to generate/validate unique token for user"
Subpart of #3798

You have to implement two helper function in this.

1. Helper function will take two parameters, `user` and `expiry_time`. And it will return one token.
2. Helper function will take two parameters, `user` and `token`. And it will return whether token is valid or not, and within previously mentioned `expiry_time`.

[2018-10-30 19:39] Radhikadua123 opened #3849 "Add is_verified to user model with default value False"
Subpart of #3798

You have to add `is_verified` to the user model. That field will signify that user's email is not verified. This field will default to "False".

[2018-10-30 19:41] Radhikadua123 opened #3850 "Send verification email to the user on signup"
Subpart of #3798

We send the welcome email to the user. That email should contain the link by which user can confirm her account.

[2018-10-30 19:43] Radhikadua123 opened #3851 "Flash message and button to send email again if email not verified"
Subpart of #3798

After #3850 is done, we need to flash a message which will contain button by which user can receive verification email.

[2018-10-30 19:44] Radhikadua123 opened #3852 "Implement helper function has_email_verified"
Subpart of #3798

After #3849 is done, we need to add helper function which return whether user's email has been verified or not.

[2018-10-30 19:46] Radhikadua123 opened #3853 "Disable write operations on pages if user not verified"
After #3848, #3849, #3850, #3851, #3852 are done - we need to block certain write operations from the user. This is the last step of basic email verification and in this we will need to block lot of pages. So, I'm adding `break-me-up` label to this issue.

[2018-10-30 19:47] Radhikadua123 commented on #3798
I have split up this issue into separate issues. Everyone please feel free to take subparts of this issue!

[2018-10-30 20:21] hydro-m commented on #3679
Hey! I'm another Maria from Russia)
Can you please make an issue for me too?

[2018-10-30 20:54] Radhikadua123 commented on #3147
As I can see, #3134 was merged. Is this issue still valid ? If yes, then I can have a deep look inside it.

[2018-10-30 20:56] junhouse commented on #3831
@jywarren I will claim this and work on it - let me know if someone has already claimed it!

[2018-10-30 21:02] junhouse commented on #3831
@jywarren I will claim this and work on it - let me know if someone has already claimed it!

[2018-10-30 21:51] jywarren opened #3856 "emoji.js is not appearing on website"
We use a file called `emoji.js` containing a list of emoji:

https://github.com/publiclab/plots2/blob/master/public/lib/emoji.js

But oddly, i see it's erroring on the site:

https://publiclab.org/lib/emoji.js

I think it's getting overwritten when the yarn packages are written into the `/lib/` folder. We should just move it to `/public/emoji.js`!

https://github.com/publiclab/plots2/blob/ca114039

[2018-10-30 21:54] jywarren commented on #3147
#3172 and #3149 are still unresolved, and we'd love help with them!! Thank you!

[2018-10-30 21:54] jywarren commented on #3831
Please go ahead, thanks!!!

On Tue, Oct 30, 2018, 5:07 PM KyungJun Kim <notifications@github.com wrote:

[2018-10-30 21:59] first-timers[bot] opened #3857 "Rename public/lib/emoji.js to public/emoji.js"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-30 21:59] jywarren commented on #3856
Moving to #3857

[2018-10-30 21:59] #3856 closed

[2018-10-30 21:59] jywarren commented on #3857
This will also need the following line changed to match!

https://github.com/publiclab/plots2/blob/ca114039f8551eeded2cbeec145211cc37708e2d/app/views/comments/_form.html.erb#L74

[2018-10-30 22:00] jywarren commented on #3857
This one is for @hydro-m !

[2018-10-30 22:01] jywarren commented on #3679
Hi, @hydro-m -- sure! See https://github.com/publiclab/plots2/issues/3857

[2018-10-30 22:02] jywarren commented on #3679
Hey everyone -- I heard via the Outreachy mentors list that some applicants are having trouble getting a response from mentors. I want to ask if anyone is "stuck" or looking for an issue, and we will do our best!

Please forgive us if we've missed something, and remind us in this issue if you have a pull request awaiting review. We've been a bit hard-pressed with the Google Code-In program running

[2018-10-30 22:05] jywarren commented on #3838
This one is for @narnt, apologies! @gyi2521 - thank you for your pull request, but we reserved this one for @narnt, who hasn't had a chance yet. Apologies that there are not enough first-timer issues to go around, perhaps @publiclab/mentors can create a few?

Thank you!

[2018-10-30 22:15] Radhikadua123 commented on #3147
I see. I would love to give it a try later on.

[2018-10-30 22:42] kevinzluo commented on #3822
The cursor should move to the password field for login instead of the second usename field.

[2018-10-30 22:43] jywarren commented on #3840
Please leave comments here if you have trouble, and @publiclab/mentors and others will help each other out!

[2018-10-30 22:45] jywarren opened #3858 "Weekly Check-in for Code-In, #1"
Hi everybody :smiley: !

If you're new here, welcome, and please try some of our [first-timers-only issues](https://code.publiclab.org/#r=all). This is a check-in for recent new contributors and mentors, and across the Code-In and Outreachy groups! @publiclab/mentors

We had some great new contributions this past week from a lot of new faces, including:

@thesparks, @faithngetich, @holykol, @mohit

[2018-10-30 22:56] #3761 closed

[2018-10-30 23:06] jywarren commented on #3419
@CoderJolly yes this is now available -- we just need a test to build on top of @nwyll's work!

[2018-10-30 23:09] jywarren commented on #3348
OK so perhaps I will close this one now as we are seeing uptake on #3262 and #3515 !!!

[2018-10-30 23:09] #3348 closed

[2018-10-30 23:11] jywarren commented on #3851
This is great. Perhaps these issues might benefit from lines of code? You
can tag them with `add-code-links` if you want! I will add you as a
contributor so you can do this.

On Tue, Oct 30, 2018 at 3:44 PM Radhika Dua <notifications@github.com>
wrote:

[2018-10-30 23:29] mardelvalle commented on #3757
@jywarren Hi Again! I tried telling more into the code (specifically the show.html.erb and am not able to still locate the area where the text "Table Content" is being created.

[2018-10-30 23:34] jywarren commented on #3757
Hmm, perhaps looking at a page where this is being used, we could view
source and try to find it that way?

On Tue, Oct 30, 2018 at 7:30 PM Maria Cristina Del Valle <
notifications@github.com> wrote:

[2018-10-30 23:37] mardelvalle commented on #3757
I was trying to do that. However, I had no luck... I was trying it on the page that you gave me but it seems the text is outside of the table. The show.html.erb is connected to the larger div that is associated with the code but doesn't seem to have any specific reference to title generation such as table content. I also tried to recreate the senario on localhost however, I did not see how to gene

[2018-10-30 23:39] jywarren commented on #3218
I'm so sorry to hear that! I believe we've solve this now, in fact. But
there are plenty more issues to work on!

On Mon, Oct 29, 2018 at 11:31 AM Shubham Sangamnerkar <
notifications@github.com> wrote:

[2018-10-30 23:40] jywarren commented on #3328
Cool! these look great. Can you check out
https://github.com/publiclab/plots2/issues/3840 and post your install
issues there so we can help folks on those in one place? thank you!

However, I believe just the icons completes a GCI task. Adding them to the
code might be a further task!

On Sun, Oct 28, 2018 at 8:18 PM Jonathan Xu <notifications@github.com>
wrote:

[2018-10-30 23:50] jywarren commented on #3817
Oh, that is so strange! But maybe it's a clue -- could it affect only some users, or only admins?

![image](https://user-images.githubusercontent.com/24359/47757511-179d2f00-dc7d-11e8-8003-4b690e97cef8.png)

Definitely still see the same thing!

[2018-10-30 23:55] jywarren commented on #3757
Ah! look - i used the Google dev console, and found something about translation missing:

![image](https://user-images.githubusercontent.com/24359/47757639-aad66480-dc7d-11e8-9e48-6cfe6ddc804b.png)

Perhaps it's looking for a translation using the `t(...)` syntax? Could you find the text in `/config/locales/en.yml` ?

[2018-10-30 23:56] jywarren commented on #3757
And to generate a table like that, you can insert, on its own line, `[wikis:_____]` where _____ is a tag name that has been used for some wiki pages.

[2018-10-30 23:56] jywarren commented on #3757
Hope that helps!!! 👍

[2018-10-31 00:07] #3742 closed

[2018-10-31 00:12] #3267 closed

[2018-10-31 00:14] InPen commented on #3857
Hello @hydro-m have you opened a pull request already? Can I help you in any way 😃 ?

[2018-10-31 00:16] JonathanXu1 commented on #3840
Hi @publiclab/mentors, I've had smooth sailing installing plots 2, but I'm having trouble running Phusion Passenger. I've followed the standard installation procedure outlined on the readme until step 9, when I get the following error:
https://pastebin.com/AaeeizLL

Here's the log file, which is quite large:
https://pastebin.com/1YinJL08

Thanks for your time!

[2018-10-31 01:07] junhouse commented on #3831
@jywarren Thanks! I just passed all the tests and updated the code. Do I need to do anything at this point? I already did the pull-request. Please let me know what to do to move forward.

[2018-10-31 04:36] shubhscoder commented on #3822
Okay I get it

On Wed, Oct 31, 2018, 4:12 AM kevinzluo <notifications@github.com> wrote:

[2018-10-31 06:45] hydro-m commented on #3857
Thanks!
Just started working on this.

[2018-10-31 07:13] hydro-m commented on #3857
Opened a pull request, please review.
I seem to forget to make a feature branch for the issue. How can I correct that?

[2018-10-31 09:09] SidharthBansal commented on #3858
Hello everyone.

[2018-10-31 09:13] SidharthBansal commented on #3858
Hello everyone.
This year we are working really well in both GCI and Outreachy.

Every week we will elect one person for weekly checkins. The person has to
close the issue and open a new one for the next week.
I will like to do this job so that new mentors and students will know about
its workflow.
All gci students are requested to ask doubts if they face any difficulty on
the gitter chat.

On Wed

[2018-10-31 09:22] SidharthBansal commented on #3679
Hi @narnt, I am excited to see you here.
Django and ROR as Jeff said are really close.

You can try out a few projects at the Odin project. I learnt ROR from
there. Its really an easy language.
Best of luck

On Wed, Oct 31, 2018, 3:32 AM Jeffrey Warren <notifications@github.com>
wrote:

[2018-10-31 09:39] SidharthBansal commented on #3726
We have extended it. So that you can work on your proposals well.
:smile:

[2018-10-31 09:55] narnt commented on #3679
@jywarren thank you for the issue for me! I already made one PR, thank you for merging it, can I still work on that fto issue?

[2018-10-31 10:54] shubhscoder commented on #3656
Yeah sure ! I ll do that .

On Wed, Oct 31, 2018, 12:56 PM Rishabh Rawat <notifications@github.com>
wrote:

[2018-10-31 12:35] Radhikadua123 commented on #3656
I found that this issue might be related to https://github.com/publiclab/plots2/issues/3384
There's already been work going on for this. If you want to help in this one, please have a look at the PR and feel free to share your views. Just wanted to make sure, we don't end up with multiple fixes for the same problem.

[2018-10-31 12:40] narnt commented on #3679
What are official proposals? In the Public Lab website, I have read that I have to post official proposals on the Outreachy website, but I can't find it on the Outreachy website.

[2018-10-31 13:34] jywarren commented on #3498
Adding: `script to go back through posts and tag first-timer posts with "first-time-poster" tag, retroactively so they show up at https://publiclab.org/tag/first-time-poster, to improve stats on first-time posting` !!

[2018-10-31 13:40] first-timers[bot] opened #3864 "add link to "new contributor" labels"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-31 13:41] jywarren commented on #3838
@giordifungula @gyi2521 I created a new one here: https://github.com/publiclab/plots2/issues/3864 please chime in there to claim it, thanks!

[2018-10-31 13:46] jywarren commented on #3864
After this is done, we need a similar change in two other places:

https://github.com/publiclab/plots2/blob/4f028aad99913a8e995246d890228cc6478497f1/app/models/user.rb#L53-L56

and

https://github.com/publiclab/plots2/blob/900ac7da8b484df33cad70a88c9b5efb834cd4e2/app/models/drupal_user.rb#L91-L99

We would also be very happy if someone wanted to try and consolidate these three pieces of code so th

[2018-10-31 13:49] jywarren opened #3865 "Change conditions for being indicated "new contributor""
https://github.com/publiclab/plots2/blob/c7f2ce8a7ac9428bd32dc978213f3cbe08ad317e/app/models/node_tag.rb#L24

Here, `if Node.where(:uid => @uid).length === 1` determines if you're a new contributor, which is not quite right -- someone may have contributed only one node, but they might've done it two years ago, and so `new contributor` perhaps needs an additional condition.

What about **if it's th

[2018-10-31 13:52] mardelvalle commented on #3757
The en.yml file appears to be generating date information. I don't see any references which would relate it to the table.

[2018-10-31 14:32] gauravano commented on #3800
Hi @TheYkk, sorry for responding late.

As  error shows  - `Make sure that gem install nio4r -v '2.3.1' --source 'https://rubygems.org/'
succeeds before bundling.` Have you tried the above command?

[2018-10-31 14:46] gauravano commented on #3858
Hi everyone :smiley:,

**Improvement Scope:**  Some of the issues posted on GCI dashboard are abandoned frequently, so mentors can go an extra mile and try to simplify that task further if they observe this behaviour.

Thank you all the @publiclab/community-reps and @publiclab/mentors for working hard for Google Code-In. Have a happy :computer: :tada:  week ahead!

[2018-10-31 14:55] shubhscoder commented on #3850
I would like to take this up. With whatever I have researched I think we can use the devise gem for the same. This is the link : https://rubygems.org/gems/devise/versions/4.2.0. Also it has a good number of downloads, hence can be quite reliable.

[2018-10-31 14:58] gauravano commented on #3800
Are you using windows?

[2018-10-31 15:39] TheYkk commented on #3800
yes

[2018-10-31 15:53] gauravano commented on #3800
Ok, you can try this link - https://gorails.com/setup/windows/10 for setting up Rails on your system.

[2018-10-31 16:10] meinou commented on #3864
🙋🙋🙋 @jywarren

[2018-10-31 16:30] jywarren commented on #3864
Super! Thank you!!!

Next after this:

But it can be a follow-up PR once this one is closed.

[2018-10-31 16:52] jywarren commented on #3656
Can you clarify if your login was using Google/Facebook/Twitter/GitHub, or
using a username/password? If the former, i think you're right that it's
the same as #3384! Thank you!

On Wed, Oct 31, 2018 at 8:36 AM Radhika Dua <notifications@github.com>
wrote:

[2018-10-31 17:38] milaaraujo commented on #3840
@publiclab/mentors, could you help @JonathanXu1?

[2018-10-31 17:47] Radhikadua123 commented on #3850
I'm not sure about the devise gem, but we already send welcome email to the user. So, you might want to take a look at that. But anyway, if devise can make things easier, feel free to use it.

[2018-10-31 17:56] #3864 closed

[2018-10-31 18:07] jywarren commented on #3331
Maybe this could be a good source of GCI issues!!!

[2018-10-31 18:08] jywarren commented on #3276
This list may also be a great source for new GCI issues: https://github.com/publiclab/plots2/issues/3331

[2018-10-31 18:17] meinou commented on #3864
Sure, @jywarren . Thanks!

Just to check, because I'm not really familiar with ruby. I'm going to declare new file `contributor.rb`,
move new_contributor there and include this file to all 3 models as
`require_relative 'contributor'`, right?

I would also consider if I need both, `new_contributor` and `new_author_contributer`,

[2018-10-31 18:41] CoderJolly commented on #3419
@jywarren So, can i make a PR now ?

[2018-10-31 18:44] BasedEnergy commented on #3838
Can I work on this PR? First timer

[2018-10-31 19:12] jywarren opened #3868 "Modify "notify_tag_added" mailer to include tag variants like "questions:____""
This section triggers email notifications for tags, like `wetlands`, if you follow that tag (https://publiclab.org/tags)

https://github.com/publiclab/plots2/blob/ec0b0f9df325097eb30504b686f27632021ae28c/app/mailers/subscription_mailer.rb#L29-L55

however, @steviepubliclab and I think it'd be great if it ALSO triggered for some variants of the initial tag. So for `wetlands` subscribers, these shou

[2018-10-31 19:18] jywarren commented on #3838
If @narnt is willing to cede it to you, that would be OK -- i believe @narnt has completed another?

[2018-10-31 19:19] jywarren commented on #3838
and thank you all!

[2018-10-31 19:31] jywarren commented on #3840
Hi, @JonathanXu1 -- and thanks @milaaraujo  for highlighting this.

@JonathanXu1 is it possible you're running this within Windows? I see a reference to Microsoft deep in the logs. If so, perhaps take a look at #3800 and response by @gauravano:

I see:

[code]

Hmm, actually i see you're in Ubuntu... this is mysterious -- i use Ubuntu myself! I tried searching for the error itself:

https://duckdu

[2018-10-31 19:51] Radhikadua123 opened #3869 "Replace phantom.js with selenium driver"
phantomjs was deprecated in past. We should remove phantomjs use and switch to better solution. Rails itself has moved away from it to Selenium Chrome webdriver.

[2018-10-31 19:55] Radhikadua123 opened #3870 "Cleanup jasmine related code"
In past, we migrated away from jasmine in favour of mocha tests. We should clean up remaining jasmine related code to make codebase more consistent and cleaner

[2018-10-31 20:04] narnt commented on #3838
@BasedEnergy Hi! I already made one PR, so you can take this fto issue!

[2018-10-31 20:08] gyi2521 commented on #3838
Thank you, Jeffrey!  Just one thing to clarify...in the previous email, you
mentioned if @narnt is willing to cede whoever claims can have it, right?
And that mean, you are going to merge the PR, right?  Just want to make
sure since this is my first time... ;-)

On Wed, Oct 31, 2018 at 3:29 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-10-31 20:15] gyi2521 commented on #3838
It looks like @narnt just gave it @BasedEnergy...  well I guess next time!
Thank you!

On Wed, Oct 31, 2018 at 4:08 PM Gina Yi <ginay2521@gmail.com> wrote:

[2018-10-31 20:37] mardelvalle commented on #3757
Hmmm. So your thought then would be that  <%= raw t('wiki._wikis.table_content') %> is searching for content in the yml file that doesn't exist and is generating the words "table content" as a result. I don't think that  <%= raw t('wiki._wikis.table_content') %> is currently doing anything so I could just remove it from the code I think. Let me me if that  sounds about right.

[2018-10-31 22:44] narnt commented on #3707
I stared working. How I can add more posts on my local machine to test styles?

[2018-11-01 00:50] Radhikadua123 commented on #3858
Hi everyone,

This week I plan to finish up https://github.com/publiclab/plots2/pull/3763 and start work on https://github.com/publiclab/plots2/pull/3762 PR. Other than that, I'll be working on improving my outreachy proposal based on community reviews.

Thanks!

[2018-11-01 05:08] shriyakaneriya commented on #3736
Has this issue been closed? For I would like to work on it too. @codesterlife ?

[2018-11-01 05:11] shriyakaneriya commented on #3688
I intend to apply as an outreachy candidate. Can I contribute to the issue as well?
@meinou Have you already taken this issue? Can I help with something?

[2018-11-01 06:38] icarito commented on #3807
Sorry for the confusion. The error mentioned is a different error in the same file.
The actual error with this email is the one you mention:
[code]

[2018-11-01 06:40] icarito commented on #3807
The error causing the confusion was the following:
[code]

[2018-11-01 06:47] Souravirus commented on #3858
Hi eceryone, nice work by everyone in this week of GCI. I am currently reviewing various tasks of GCI students. I will also be creating some easy tasks for GCI.

[2018-11-01 06:59] shubhscoder commented on #3850
I need some more light on this. Should the email confirmation link be included in the welcome email itself ? Or we can send an another email for confirmation? Also do we need some other features like locking ?

[2018-11-01 07:48] narnt commented on #3707
I saw that results header differently aligns in notes and tags search. It happens because of two divs with container class, wrapping things on the tags search page. Maybe it should be better to remove the second wrapping container if it is not so necessary? Or manually remove paddings. I think it will look better.
Here are those containers
![2018-11-01 10-26-09](https://user-images.githubuserconte

[2018-11-01 11:28] narnt commented on #3865
I want to work on this

[2018-11-01 11:48] narnt commented on #3497
@ebarry  Topics list on the methods pages have to be like list of features on the features page?

[2018-11-01 11:49] avsingh999 commented on #3858
Hi everyone,
This week I will add issues for GCI candidate and for other users. I am currently reviewing some GCI task
thanks :)

[2018-11-01 12:04] narnt opened #3876 "Title is Index instead of Features"
### Please describe the problem (or idea)
On the features page title rather should be features than index.

Title related with page.

### Please show us where to look

https://publiclab.org/features

### What's your PublicLab.org username?

### Browser, version, and operating system
Firefox 61.0.1 Linux Mint

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helpi

[2018-11-01 12:16] AyeshaSherAli commented on #3857
hi ,this issue is solved or not? i want to contribite in it

[2018-11-01 12:35] narnt commented on #3527
On my local machine, when I try to edit a question, all goes fine.

[2018-11-01 13:02] narnt commented on #3707
@milaaraujo @jywarren Please tell me what do you think about. And can you help me to understand how I can obtain images like on the notes search page? And how add more posts with images at a local machine to test styles?

[2018-11-01 16:12] shivani-kapania commented on #3858
Hey everyone!
This week, I plan to assign some more issues to myself and create some more beginner tasks!
Thanks!

[2018-11-01 16:14] shivani-kapania commented on #3858
Hey everyone!
This week I plan on reviewing some GCI tasks, assign more tasks to myself and create a few beginner tasks.

Thanks!!

[2018-11-01 16:35] rbhatia46 commented on #3858
Hi everyone!
This week I look forward to reviewing more GCI tasks, assign myself more issues and work on adding a bit more beginner issues to the GCI dashboard.

Thanks!

[2018-11-01 17:57] CoderJolly commented on #3857
I think its allocated to @hydro-m , btw have u raised the PR now ?

[2018-11-01 18:04] hydro-m commented on #3857
I did open the PR. I don't know how to raise it.

[2018-11-01 18:29] jywarren commented on #3850
I think sending just one email makes sense, so it could go in the welcome
email!

On Thu, Nov 1, 2018 at 2:59 AM Shubham Sangamnerkar <
notifications@github.com> wrote:

[2018-11-01 18:36] jywarren commented on #3858
Hi everyone! I've seen some great supportive mentoring this week. Thanks!

I think there are some issues and PRs where people have still asked a
question and haven't heard back from a mentor yet. So perhaps if you aren't
sure how to help out, you can browse through `gci-candidate` issues and see
if there people who are stuck awaiting input -- and the same with pull
requests!

Thanks again for your

[2018-11-01 18:38] CoderJolly commented on #3857
https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github

@hydro-m Pls refer to this, it might help u

[2018-11-01 18:48] hydro-m commented on #3857
Here is my PR: https://github.com/publiclab/plots2/pull/3872

[2018-11-01 20:14] jywarren commented on #3497
Yes you can, thanks!

This would involve putting this kind of block in the top of the methods page:

https://github.com/publiclab/plots2/blob/ec0b0f9df325097eb30504b686f27632021ae28c/app/views/questions/index.html.erb#L13-L15

Essentially to replace this content:

https://github.com/publiclab/plots2/blob/ec0b0f9df325097eb30504b686f27632021ae28c/app/views/wiki/methods.html.erb#L17-L33

That way it

[2018-11-01 20:15] jywarren commented on #3497
Instead of `feature_questions-header` you would likely put something like `feature_methods-header`.

I'll paste in the current content into our Features system so once it's changed, it'll begin appearing!

[2018-11-01 20:39] Radhikadua123 commented on #3727
Fixed with #3775

[2018-11-01 20:39] #3727 closed

[2018-11-02 05:56] amychan331 commented on #3679
@jywarren My pull request is waiting for review at https://github.com/publiclab/plots2/pull/3720. Thank you!

[2018-11-02 06:19] love-opensource commented on #3680
Hi! I'm new and an Outreachy applicant.
Please can you open more first-timers issues? I can't claim any.
Thanks.

[2018-11-02 06:31] love-opensource commented on #3679
Hi all!
I'm new from Outreachy and I'll like to make my first contribution.
All the first-timers issues are claimed.
Thanks for creating one for me.
Thanks.

[2018-11-02 06:33] love-opensource commented on #3756
Hi! I'm new from Outreachy.
Can I work on this?
Thanks.

[2018-11-02 07:29] narnt commented on #3707
@jywarren when I post something on my local machine, I see approvement page, but I can't approve my post, so it doesn't appear at localhost. Maybe I have to create a superuser, like in Django? I'll search in RoR documentation.

[2018-11-02 08:17] bansalsidharthcode commented on #3679
Nice to hear from you @love-opensource.Can you please introduce yourself?
We will love to hear about you.

On Fri, Nov 2, 2018 at 12:01 PM love-opensource <notifications@github.com>
wrote:

[2018-11-02 08:34] love-opensource commented on #3679
Hi @bansalsidharthcode and everyone. I am Abdellah Ramadan from Cameroon. I'm quite new to open source. I applied to do internship with Outreachy and this is the first of its kind as I am concerned. I have read all the welcoming messages and I'm very excited to work and learn from the community.
I am a student of Software engineering in Saint Monica University Institute in Cameroon.
I will like to

[2018-11-02 15:51] ValentinaTironi commented on #3188
I just have one question, How I send you the task ready? Do I have to do a pull request in repository or what? thanks!

[2018-11-02 16:22] gauravano commented on #3188
Hi @ValentinaTironi , this task is reserved for Google Code-In students, have you claimed this from GCI website?

[2018-11-02 16:35] gauravano commented on #3188
Awesome! You have to open the Pull request with your changes. Thanks!

[2018-11-02 17:52] shriyakaneriya commented on #3817
![image](https://user-images.githubusercontent.com/22420442/47926719-44547f00-dee7-11e8-870f-d6a590f98843.png)
For a second opinion, I am getting the same screen as @shubhangi-chauhan.

[2018-11-02 20:20] milaaraujo commented on #3707
It looks good! I don't now how to obtain the images... :confused:

[2018-11-02 20:59] jywarren commented on #3707
ah, yes! you can log in as "admin" -- the password should be in
/db/seeds.rb i think? the seed data is what your local copy is started up
with. Hope this helps!

On Fri, Nov 2, 2018 at 3:29 AM narnt <notifications@github.com> wrote:

[2018-11-02 21:41] #3453 closed

[2018-11-02 21:42] jywarren commented on #3532
OK! merged this in #3772 and it is now solved, thank you!

[2018-11-02 21:42] #3532 closed

[2018-11-02 21:45] jywarren commented on #3453
OK, just clarifying that #3772 solved both this AND #3532. @CodeSarthak should get GCI credit for both. I mistakenly unassigned CodeSarthak from the GCI task for #3532, but if they re-claim it, I will issue approval for that in GCI (as may any other mentor).

Apologies for the mixup, hopefully clearly naming PR titles descriptively in the future will help avoid confusion! Thanks, everyone!!!

[2018-11-02 23:22] romanrodriguez commented on #3451
Hi @geekychaser, I like to claim this issue.

[2018-11-02 23:45] romanrodriguez commented on #3451
I'm sorry, I just realized that the first-timers-only had been removed. Could I use this contribution for Outreachy @geekychaser @jywarren?

[2018-11-03 03:04] jywarren commented on #3218
Looks like this didn't work??

[2018-11-03 04:30] jywarren commented on #3451
Hi, yes we removed the label because it doesn't quite lay out the exact steps to fix it, and lacks links to the right lines of code. But I will paste in a code link and I don't think itll be too complicated!

[2018-11-03 04:33] jywarren commented on #3451
I think the overall page is here:

https://github.com/publiclab/plots2/blob/master/app/views/home/home.html.erb

But it uses a partial template that is reused on many pages; we'll have to be sure the removed line doesn't break other pages like at /tag/test or /research or /dashboard...

https://github.com/publiclab/plots2/blob/master/app/views/notes/_notes.html.erb

This'd be fine to use for Outre

[2018-11-03 07:50] SidharthBansal commented on #3679
I have to post official proposals on the Outreachy website, but I can't
find it on the Outreachy website.

@narnt  you can checkout the official proposals for past gsoc and
rgsoc program here.
https://publiclab.org/tag/gsoc
You need to make one on publiclab.org and also submit in on the
Outreachy website before the deadline

On Fri, Nov 2, 2018 at 2:04 PM love-opensource <notifications@github.com>

[2018-11-03 15:31] romanrodriguez commented on #3451
Thank you!! I really like the code base!

I was looking for potential breaks due to removing the grid part of it. I thought maybe I could include it in the first `<% unless @widget %><hr class="visible-xs visible-sm" /><% end %>`, but after looking at all the assets (stylesheets, etc.) I couldn't find the grid referenced anywhere else. It mostly seems to restraint the line's margins. It also would

[2018-11-03 18:38] gauravano commented on #963
As mentioned in the issue by @sdosemagen that privacy needs to be considered so whoever is/will be solving this issue, please take note of it. Although, I think only moderators and admin should be given privileges for downloading data.Thanks!

cc: @publiclab/community-reps

[2018-11-03 18:48] gauravano opened #3888 "Two research note entries with same id"
### Please describe the problem (or idea)

I was taking a look at Outreachy proposals and found that there are two proposals with the same id, both entries leading to the same document but the question is why there are 2 entries appearing?

[2018-11-03 19:31] narnt commented on #3876
@CodeSarthak I did PR, but it wasn't merged yet

[2018-11-03 23:51] Radhikadua123 opened #3889 "Replace markdown renderer in ruby"
We are using RDiscount for rendering markdown to html but it's quite old and unmaintained library. We should switch to better one like https://github.com/vmg/redcarpet or https://github.com/github/markup

[2018-11-04 02:36] sandy8111112004 commented on #3741
Hi I'm new. May I try this issue #3741 ?

[2018-11-04 10:18] aashna27 commented on #2258
It hasn't still been claimed by any student maybe because they are finding it hard. Should it be simplified ?

[2018-11-04 11:38] raddhika commented on #3340
not able to reproduce the exact copy of the origin
the "reCAPTCHA verification failed, please try again" won't load
also, sign up with google,twitter, etc. wont show up
<img width="599" alt="screen shot 2018-11-04 at 5 07 32 pm" src="https://user-images.githubusercontent.com/44643389/47963588-35d7a600-e054-11e8-8227-8b4ed5e86f72.png">
<img width="640" alt="screen shot 2018-11-04 at 5 07 48 pm" src

[2018-11-04 11:39] raddhika commented on #3340
here is what i am able to see
<img width="808" alt="screen shot 2018-11-04 at 5 09 08 pm" src="https://user-images.githubusercontent.com/44643389/47963601-68819e80-e054-11e8-84e2-a877a5b53e70.png">

[2018-11-04 13:32] SidharthBansal commented on #2258
We would be happy if you can help

[2018-11-04 13:45] narnt commented on #3707
@jywarren thank you!
Can somebody explain for me 46th liine in tag.rb? How it works?
    nodes = Node.where(nid: node_tag.collect(&:nid))
When I write tag.nodes I get Node::ActiveRecord. But tag.nodes.main_images raises error.
But if I try to find node by tag.title, all goes well.

[2018-11-04 17:00] narnt commented on #3707
I obtained images, but I believe there is a better way to do it. Maybe someone can help me to find it.

[2018-11-04 17:07] lihiZi commented on #3857
Hello, is this issue has been solved?

[2018-11-05 02:06] jywarren commented on #3889
This sounds great! +1!

On Sat, Nov 3, 2018 at 7:51 PM Radhika Dua <notifications@github.com> wrote:

[2018-11-05 05:23] first-timers[bot] opened #3893 "Remove sidebar from /wiki index page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-11-05 05:44] love-opensource commented on #3893
Hi @jywarren thanks very much for this.
I'm glad to be making my first contribution.

[2018-11-05 06:03] jywarren opened #3895 "Make 'places' tagged pages show full-width map"
We have a nice feature which now displays a full-width map at the top of wiki pages tagged with `place`, like in this example: https://publiclab.org/wiki/puerto-rico

![image](https://user-images.githubusercontent.com/24359/47980575-4f014680-e096-11e8-8f79-3bc3473b2005.png)

However, it'd be great if we could display them with the map above the title, full width, pegged to the top of the page, lik

[2018-11-05 06:10] love-opensource commented on #3893
Hi @jywarren. I successfully made my first pull request.
Thanks so much.

[2018-11-05 06:14] #3893 closed

[2018-11-05 09:12] love-opensource opened #3896 "Help with Project proposal for Outreachy internship"
### Please describe the problem (or idea)

As an Outreachy intern, one is required to submit a timeline of the work an intern plans to accomplish during the internship. In that regard and as a new contributor, I need some guids and help from the mentors.

This is a call to help for the accomplishment of the last phase of the application process.

@gauravano

### Please show us where to look

https

[2018-11-05 10:43] shriyakaneriya opened #3897 "Installation Issue on Win 10"
I cannot run bundle install with the current version of openssl

Dell@DESKTOP-ABNBASD MINGW64 ~/plots2 (master)
$ bundle install
Fetching gem metadata from https://rubygems.org/......
Fetching gem metadata from https://rubygems.org/.
Resolving dependencies.........
Using rake 12.3.1
Using concurrent-ruby 1.0.5
Using i18n 1.1.1
Using minitest 5.11.3
Using thread_safe 0.3.6
Using tzinfo 1.2.5
Using

[2018-11-05 12:39] gauravano commented on #3896
Let's start with https://github.com/publiclab/plots2/issues/3498 , as you can see on this issue that the project is already somewhat divided into parts. Now, what you have to do is design your timeline by considering these:-
1. you could further subdivide a part as per your convenience
2. At public lab we follow modularity, so we prefer the method of solving a part of project per week and then its

[2018-11-05 12:45] gauravano commented on #3896
For starting, you can copy the project  parts here as given and then assign a week to each part.

[2018-11-05 12:47] SidharthBansal commented on #3896
Hi Outreachy Applicants, we will really appreciate if you can get involve the general contributors to your project by creating ``first-timers-only`` issues. You can create first timers through out the project. This will help new contributors to join the community and get involved with your project.

[2018-11-05 13:04] samyuravikumar commented on #3515
Hi may I have this task? I'm also from GCI

[2018-11-05 13:42] love-opensource commented on #3896
Hi @gauravano thanks again for this detailed guide. Can I claim #3498 and work on it throughout or do I have to add more to it?
Thanks.

[2018-11-05 13:50] Radhikadua123 commented on #3498
@jywarren I wanted to confirm some things about GrimoireLab. Earlier I didn't research whole GrimoireLab repositories properly, I only checked `grimoirelab-perceval`. Basically, `perceval` allows fetching data from different websites in JSON format. I thought since I'll be converting data fetch step to JSON APIs, it would automatically be supported by `perceval`. But seems like GrimoireLab is much

[2018-11-05 14:09] gauravano commented on #3896
Actually, the issue #3498 is the outreachy project which would be solved by
the selected intern. But, you can add the steps on solving the issue in
your application if you have given thought about implementation.

Gaurav Sachdeva

On Mon 5 Nov, 2018, 7:12 PM love-opensource, <notifications@github.com>
wrote:

[2018-11-05 14:49] narnt opened #3898 "header slightly covers .popover-content"
### Please describe the problem (or idea)
I read notes, and when I clicked to an arrow, I saw that header slightly covers appeared block. It happens when a note haven't image on top. Maybe this is not urgent, but this can be improved.

![image](https://user-images.githubusercontent.com/32932910/48004078-473ab400-e121-11e8-9612-91e12eed85a9.png)

Maybe this block should be a little lower?

### Plea

[2018-11-05 15:11] SidharthBansal commented on #3515
Yeah sure. Go ahead

On Mon, Nov 5, 2018, 6:34 PM Samyu Ravikumar <notifications@github.com>
wrote:

[2018-11-05 17:29] love-opensource commented on #3896
Hello, please while writing my proposals, I mistakenly submitted it while it was incomplete. Right now I can't edit it as it's under review.
Thanks.

[2018-11-05 18:01] gauravano commented on #3896
I have approved your proposal on https://publiclab.org , so you can
continue to edit it. Thanks!

On Mon, Nov 5, 2018 at 11:00 PM love-opensource <notifications@github.com>
wrote:

[2018-11-05 20:03] aliklynnlyle commented on #3680
I am brand new as well and seeking first-timer issues to work on. :)

[2018-11-05 20:57] faithngetich commented on #3652
@Rishabh570 could you please my PR. Here's the link to the[ PR](https://github.com/publiclab/infragram-js/pull/9)

[2018-11-05 21:21] jywarren commented on #3864
Hi, so sorry for the slow reply!!!

So basically you can just keep one of the three locations it already exists -- i think i prefer `plots2/app/models/user.rb` -- and for the others, just make them references to the `user.rb` version. So for the `drupal_user` versions, you could do:

[code]

That /should/ work... but also perhaps we can search the codebase entirely for `new_author_contributor` and

[2018-11-05 21:49] #3451 closed

[2018-11-05 22:06] jywarren commented on #3898
This is a great observation! I think we might add a z-index in css to
resolve this... let's mark it as needing the code links added here!

On Mon, Nov 5, 2018 at 9:49 AM narnt <notifications@github.com> wrote:

[2018-11-05 22:28] shriyakaneriya commented on #3840
Hello,
I have been trying to setup plots2, but I cannot get rails to run with the OpenSSL version I have.
I am sorry I did not come across this page earlier and I have already created an issue for the same.
Kindly refer to the issue https://github.com/publiclab/plots2/issues/3897 for details.
Sorry for the trouble, but I would really appreciate some help here.
Regards,
Shriya

[2018-11-05 23:50] InPen commented on #3895
may I be assigned to this issue?

[2018-11-06 00:09] jywarren commented on #3895
Please go ahead! Do you think you have a good sense of how to take this on?
We're happy to help!

On Mon, Nov 5, 2018, 6:51 PM Maria I. Peniche <notifications@github.com
wrote:

[2018-11-06 04:50] romanrodriguez commented on #3679
Hello everyone, I guess it is better late than never. I joined Outreachy late in the process, and this project really caught my eye. This is such a nice community!

I have some experience in JS, Python, and the front-end. I've toyed around with Ruby and C. I am also really into good documentation. I look forward to learning more about Public Lab and getting more involved.

[2018-11-06 15:07] InPen commented on #3895
I understand what I have to fix:
I need to make the map a `hero` on the page
Move the title underneath

I was also able to fork and clone the project
I followed the standard installation instructions

What I'm a little lost with is:
-the syntax is new to me since I have not seen html embedded with Ruby
- I don't know which CSS file to work on since there are several style links

[2018-11-06 17:18] faithngetich commented on #3798
@Radhikadua123 can they all be worked on by different people at a different time or one issue does not block the other?

[2018-11-06 19:07] #2650 closed

[2018-11-06 22:09] jywarren commented on #3840
Have folks using cloud9 had success?

Hi @shriyakaneriya - i'll check out your other page, thanks.

[2018-11-06 22:12] jywarren commented on #3897
Hi, @shriyakaneriya -- have you been following this guide to installation on Windows? https://gorails.com/setup/windows/10

Otherwise, you may want to request a Cloud9 invite to run it there -- please send an email to web@publiclab.org to request this!

[2018-11-06 22:13] jywarren commented on #3840
I see at least one person using Cloud9 has the error `Could not find Bootstrap` -- this means you haven't run `yarn install` to get your JavaScript dependencies. I'm going to make sure our docs reflect this, but please give `yarn install` a try, as it replaces the former `bower install` step.

[2018-11-06 22:15] jywarren commented on #3840
Indeed, the Cloud9 instructions had not updated the `bower` command to `yarn`, and I've just made the change. In fact I believe you need to run `yarn install && yarn postinstall`.

Here's the change I just made:

https://github.com/publiclab/plots2/blob/1c7f7ee6baa0331e36ff870157df663d92aacd5e/install_cloudnine.sh#L11

Sorry if this was getting people stuck!!!

[2018-11-06 22:21] jywarren commented on #3840
Also, if you are using cloudnine, once you begin, you should be able to run `sh install_cloudnine.sh` to begin auto-installation. I'm trying this now to be sure it works:

[code]

[2018-11-06 22:28] jywarren commented on #3858
Hi, all! As more people need support while installing, i changed the task description to this:

[code]

and i expanded the installation issue a lot to provide more cooperation and mutual support: https://github.com/publiclab/plots2/issues/3840

Is someone interested in doing this week's Check-In? You can follow (copy! modify!) the template I created above (which i borrowed from others myself! 🙌 )

[2018-11-06 22:37] SidharthBansal commented on #3858
Let's give us this chance to new GCI mentors this time.
@publiclab/mentors just close this issue and open up a new one for the Week 2.

[2018-11-06 22:39] geekychaser commented on #3858
Hi @SidharthBansal sir, may I do it?

[2018-11-06 22:40] SidharthBansal commented on #3858
yeah sure

[2018-11-06 22:40] #3857 closed

[2018-11-06 22:42] jywarren commented on #3857
Yes, @lihiZi it was, but we'd love your help with another issue at https://code.publiclab.org -- thank you!

[2018-11-06 22:43] jywarren commented on #3497
Hi, @narnt -- did this make sense? Did you want to give it a try? Thank you!

[2018-11-06 22:44] geekychaser opened #3906 "Weekly Check-in for Code-In, #2"
Hi everybody :smiley: !

If you're new here, welcome, and please try some of our [first-timers-only issues](https://code.publiclab.org/#r=all). This is a check-in for recent new contributors and mentors, and across the Code-In and Outreachy groups! @publiclab/mentors

We're SO EXCITED
What is your plan for this week?

I will be reviewing a couple of PRs, opening up a few issues on gci dashboard an

[2018-11-06 22:44] geekychaser commented on #3858
Moved to #3906

[2018-11-06 22:44] CoderJolly commented on #3680
@jywarren Is this issue assigned already ? i would like to work upon it

[2018-11-06 22:44] geekychaser commented on #3858
Can @jywarren sir or @SidharthBansal sir you please close this issue.

[2018-11-06 22:46] SidharthBansal commented on #3858
yeah sure.
You did a well job in the weekly checkouts.
Thanks @geekychaser

[2018-11-06 22:46] #3858 closed

[2018-11-06 22:46] jywarren commented on #3757
Yes, sorry for my slow reply here! That sounds exactly right. You may want to look in `/config/locales/...` to see if there is any translation matching `table_content` and that could be deleted too!

[2018-11-06 22:50] SidharthBansal commented on #3906
Hello everyone,
Outreachy applicants are all curious for the result. We all are reading through your proposals. So, please wait until results are out.

GCI students are doing a great job. They have completed 46 tasks and 13 tasks are in progress.
Well done candidates. :tada:

[2018-11-06 22:58] jywarren commented on #3906
🙌🏽♥️⚡

On Tue, Nov 6, 2018, 5:51 PM Sidharth Bansal <notifications@github.com
wrote:

[2018-11-06 23:09] jywarren commented on #3895
Yes, awesome! and there is a decent example of this kind of page here: https://publiclab.org/places

However, in this project, we'd really like the map to go all the way to the edges of the page. This could be done with CSS like:

[code]

Then we'd have to push down the rest of the page, probably with a margin. What do you think?

I think this would go above this section, at the top of a given wik

[2018-11-07 00:12] #3876 closed

[2018-11-07 00:29] jywarren commented on #3906
And remember our support tasks if you are helping to keep our community well-supported, or looking to build your leadership skills a bit!

https://github.com/publiclab/plots2/labels/support

[2018-11-07 02:30] Radhikadua123 commented on #3906
Hello everyone,

This week I plan to work on merging my previous pull requests, replacing markdown parser and helping out with creating fto issues.

Thanks!

[2018-11-07 02:34] Radhikadua123 commented on #3798
Hi @faithngetich,

Actually lot of them depend on the previous tasks. But initial tasks like ` Implement helper function to generate and validate unique token for user ` and `Add is_verified to user model with default value False` can be done in parallel.

[2018-11-07 04:44] jywarren opened #3908 "Intermittent test failure with "undefined method `using_open_id?' for nil:NilClass""
We're seeing occasional non-repeatable test failures every once in a while (where another identical test run passes) showing the following errors:

[code]

Not sure why! This is an example: https://travis-ci.org/publiclab/plots2/builds/451172024 although i've restarted it and perhaps it will pass now...

[2018-11-07 04:46] jywarren commented on #3908
Ah, this is a duplicate with #3059 that @Souravirus has been tracking over the past few months. Merging with that issue now.

[2018-11-07 04:46] #3908 closed

[2018-11-07 04:46] jywarren commented on #3059
Saw this more recently -- intermittently!

This is an example: https://travis-ci.org/publiclab/plots2/builds/451172024 although i've restarted it and perhaps it will pass now...

[2018-11-07 07:40] faithngetich commented on #3906
Hello everyone,

My plan this week is to implement any feedback given on my pending [PR](https://github.com/publiclab/infragram-js/pull/9). Otherwise, I'll start working on a new task that's yet TBD. Suggestions are welcomed.

[2018-11-07 08:02] faithngetich commented on #3798
Thanks @Radhikadua123

I see they've all been worked on.

[2018-11-07 08:14] faithngetich commented on #3868
@jywarren I'd like to help work on this issue.

[2018-11-07 09:40] cesswairimu commented on #3631
Hi @ebarry I really like your explanation and would like to contribute in a way I have learnt from @jywarren by breaking up this issue to subsections with checklist. This is my first time and please correct me and feel free to mention if it doesn't make sense. Thanks

[2018-11-07 10:48] sashadev-sky commented on #3898
I would like to work on this one.

[2018-11-07 12:08] SidharthBansal opened #3913 "Subscribe to everything anamoly"
### Please describe the problem (or idea)
When I subscribed to everything through the subscription settings, and clicked on the everything tag then I could not find any tags.

![image](https://user-images.githubusercontent.com/20972099/48130674-6bc69580-e2b3-11e8-80e4-4c5bd10ec7d9.png)

I expect that all the posts having any tag should be present on that web page.
Also, the second issue in subscri

[2018-11-07 12:45] quinn-codes-synthesis commented on #3865
Hi @narnt -- have you had any luck with this so far? If you want a partner or have moved on, I'd love to step in and assist you/take the reins, as appropriate. Or if the issue is solved and ready to be closed, that's helpful information, too!

Thanks!

[2018-11-07 12:46] arungoel123456 opened #3914 "rake db:migrate not running"
### Please describe the problem (or idea)

Not running mysql today.
== 20120101000000 DrupalSchema: migrating =====================================
-- table_exists?("comments")
   -> 0.0002s
-- adapter_name()
   -> 0.0000s
-- create_table("comments", {:primary_key=>"cid", :options=>"ENGINE=MyISAM"})
rake aborted!
StandardError: An error has occurred, this and all later migrations canceled:

SQLite

[2018-11-07 13:02] quinn-codes-synthesis commented on #3799
@publiclab/support -- Looks like this issue is ready to be closed. Someone's pull request was accepted and merged. (And please let me know if there is a different/additional team I should be tagging!)

[2018-11-07 13:17] quinn-codes-synthesis commented on #3897
Hi @shriyakaneriya -- were you able to resolve this? Just wanted to offer assistance in case you hadn't. I also have Windows 10, and I remember definitely having some similar issues with the process of getting everything set up. :)

For future reference, I have found The Odin Project to be a great, free resource for tutorials like installing bundles. If you're still having trouble, I recommend try

[2018-11-07 15:06] cesswairimu opened #3915 "Refactor wikis and questions partials to use local variable"
### Please describe the problem (or idea)

From this https://github.com/publiclab/plots2/pull/3711 PR conversation we found that some partials are using instance variables which makes it hard for them to be rendered anywhere.
*Its a good first-timer issue*

We would like them to use a local variable if present and default to an instance variable if not.
They should be defined as https://github.com

[2018-11-07 15:17] mardelvalle commented on #3757
Awesome! Thanks Jeffrey I will take a look there :)

[2018-11-07 15:36] jywarren commented on #3868
That would be great, thank you!

On Wed, Nov 7, 2018, 3:15 AM faithngetich <notifications@github.com wrote:

[2018-11-07 15:37] jywarren commented on #3898
We'd love your help!

On Wed, Nov 7, 2018, 5:49 AM Sasha Boginsky <notifications@github.com wrote:

[2018-11-07 15:42] #3831 closed

[2018-11-07 15:50] junhouse commented on #3846
@jywarren I will take a go at this.

[2018-11-07 15:50] first-timers[bot] opened #3916 "Add instructions for testing your code on the Stable server in WelcomeBot's PR merge message"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-11-07 15:54] jywarren commented on #3914
Hi! I think you should not need to run `rake db:migrate` when you initially install, but `rake db:setup` -- see step 7 here: https://github.com/publiclab/plots2/#standard-installation

Also just noting connection to the overall "work together to install plots2" issue here, where others are going through the same steps and may be able to help: https://github.com/publiclab/plots2/issues/3840

Don't

[2018-11-07 15:55] jywarren commented on #3840
Also just linked in an issue via #3914 where it looks like `rake db:migrate` wasn't running -- but on initial setup, you actually don't need it, just `rake db:setup`. Noting here for others doing this too!

[2018-11-07 15:58] jywarren commented on #3846
awesome, we really need help with this one!

On Wed, Nov 7, 2018 at 10:51 AM KyungJun Kim <notifications@github.com>
wrote:

[2018-11-07 16:34] mrtmrtmlck commented on #3916
I would like to pick this issue 😊

[2018-11-07 16:35] jywarren commented on #1716
Wow, i'm looking at this again... i wonder how hard it will be. It will require a lot of visual inspection to confirm things are working properly. We can use the unstable branch to do this, i think...

[2018-11-07 16:40] SidharthBansal commented on #1716
We need someone who has a lot of front end experience. When I tried this, each and every CSS and jss element was disturbed. Header, footer, main content, all the divs etc. This project needs to be done by someone who is a front end designer. We can't even break this up into smaller pieces as we need to change the gem first. As soon as we upgrade the bootstrap gems, changes gets reflected in the wh

[2018-11-07 16:44] jywarren commented on #1716
I think that's pretty true, although we could potentially make some GCI
tasks around finding broken things on the unstable test server, or even
local copy, to help catch everything... not sure. Just thinking ahead.
Thanks for your input!

On Wed, Nov 7, 2018 at 11:40 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-11-07 17:11] shubhscoder commented on #3914
I think I had faced this same issue while installation. @arungoel123456 try copy pasting the contents of the file I have attached in schema.rb file. It is located in plots2/db/schema.rb
[plots_schema.txt](https://github.com/publiclab/plots2/files/2558424/plots_schema.txt)

[2018-11-07 17:37] jywarren commented on #3916
please, we'd love your help!

On Wed, Nov 7, 2018 at 11:35 AM mrtmrtmlck <notifications@github.com> wrote:

[2018-11-07 17:44] Radhikadua123 commented on #3384
@SidharthBansal You can also try having a look at https://github.com/publiclab/plots2/pull/3884 in case it helps. :)

[2018-11-07 17:49] SidharthBansal commented on #3384
I am looking onto it.
Thanks

On Wed, Nov 7, 2018, 11:16 PM Radhika Dua <notifications@github.com> wrote:

[2018-11-07 18:12] junhouse commented on #3846
Can't work on this anymore - please grab it if anyone wants go work on it !

[2018-11-07 18:43] SidharthBansal commented on #3850
@shubhscoder sorry, we don't use devise gem in plots2 repo. We are using a similar gem AuthLogic.

[2018-11-07 18:46] SidharthBansal commented on #3798
@Radhikadua123 really you did a great job in breaking the stuff into chunks.

[2018-11-07 18:52] Radhikadua123 commented on #3798
Thanks a lot! @SidharthBansal

[2018-11-07 18:54] Radhikadua123 commented on #3798
@faithngetich May be you can work on something else ?

In case you need help in search of appropriate task, I can try finding one for you.

[2018-11-07 19:20] gyi2521 commented on #3915
Can I work on this?

[2018-11-07 19:30] gyi2521 commented on #3915
Thanks!

On Wed, Nov 7, 2018 at 2:28 PM Cess <notifications@github.com> wrote:

[2018-11-07 19:52] CoderJolly commented on #3865
Surely would want to work, if any problems are faced, I would love to help @narnt...Thanks!

[2018-11-07 19:56] CoderJolly commented on #3916
Is it completed ? I think I missed it again

[2018-11-07 20:28] narnt commented on #3497
@jywarren yes, sure, I just have had a little break. and thank you!

[2018-11-07 20:43] narnt commented on #3865
hi @quinn-codes-synthesis and @CoderJolly ! thank you for your offers of assistance! I just have had a break, but I have struggle with anoter issue: https://github.com/publiclab/plots2/issues/3707
Can you check it out and share your ideas? Thank you!

[2018-11-07 22:14] jywarren opened #3919 "Explore idea for map results in search interface"
This is part of the ongoing UI work on search! @stefannibrasil @milaaraujo i thought of this while using Duckduckgo.com -- what if we did something like this? When might a map show? Could it show search results near you, or would it only show a map if it could geocode the search term?

![image](https://user-images.githubusercontent.com/24359/48164395-5ef47280-e2b0-11e8-9238-8fd3263a6a5d.png)

[2018-11-07 23:56] #3916 closed

[2018-11-07 23:58] first-timers[bot] opened #3920 "add "next step" text to welcomebot config.yml"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-11-07 23:58] jywarren commented on #3916
You did miss it, but i can prepare you another right now... hang on!

https://github.com/publiclab/plots2/issues/3920

[2018-11-07 23:59] jywarren commented on #3920
:-) this one is for @CoderJolly !!

[2018-11-08 00:03] jywarren commented on #3799
Aha, good catch and thanks! 👍 🙌

[2018-11-08 00:03] #3799 closed

[2018-11-08 00:04] jywarren commented on #3799
@narnt so you know, if you add the text `closes #0000` to your pull request description (but with the issue number), it will auto-close the issue when the PR is merged. Magic! 🔮 🎉

[2018-11-08 01:43] shubhscoder commented on #3850
Yeah, i realized it. Thank you 👍

On Thu, Nov 8, 2018, 12:13 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-11-08 02:58] mugunth19 commented on #3920
I will do this update!! :)

[2018-11-08 03:09] raphaelisms commented on #3846
I'll take this

[2018-11-08 03:15] mugunth19 commented on #3920
looks like someone else did a pull request already. Sorry for the duplicate one :(

[2018-11-08 04:07] jywarren commented on #3846
please go ahead, thank you!

On Wed, Nov 7, 2018 at 10:09 PM Raphael Platte <notifications@github.com>
wrote:

[2018-11-08 04:39] quinn-codes-synthesis commented on #3707
Hi! @narnt -- I came here from your reference earlier today. I see you are trying to find the best way to obtain images? Can you elaborate so I can better understand what you mean? It would be helpful to see what your solution is vs what you are hoping to achieve.

[2018-11-08 05:12] sashadev-sky commented on #3898
@jywarren changing the drop-down's z-index makes it overlap the entire nav bar (there is an additional header that says "Tools" at the top of it that is currently obscured). When you scroll, the drop down appears to scroll off the top of the window. Should I continue with this or try applying other tweaks?

<img width="1184" alt="screen shot 2018-11-07 at 11 30 39 pm" src="https://user-images.gith

[2018-11-08 06:13] milaaraujo commented on #3919
Initially, I would say it only makes sense to show a map if it could geocode the search term... 🤔

[2018-11-08 08:17] DivyeshPuri commented on #3741
Go ahead 👍

[2018-11-08 21:45] jywarren commented on #3913
These are some good things we could clarify. The `everything` tag is 'special' -- maybe we could intercept it in the tags controller show action and redirect to /research? Or put text on /wiki/everything so it shows an explanation on that page at the top?

You can subscribe to `everything` and `balloon-mapping` so that you get all notes published, but you are also listed as part of the `balloon-ma

[2018-11-08 21:59] jywarren commented on #814
OK, so a minimal version of this is that you can now set a comment template using the tag: `comment-template:______` where `_____` is the name (slug) of a wiki page. We will be expanding this for image upload and other things soon!

[2018-11-08 22:02] first-timers[bot] opened #3923 "Add a link to the Comment Templates page from the tagging menu"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-11-08 22:03] jywarren opened #3924 "Brainstorm subscription prompts across the site (design)"
We have a great subscription system now. Let's come up with some better, smarter, and smoother ways to encourage people to subscribe (without just making BIG SIGNS EVERYWHERE). Ideas:

* [ ] combined “Subscribe and login” flow - get people subscribed to some tags as they sign up, based on tags from the pages they've been looking at
    * a route or parameters or session modification to pass some t

[2018-11-08 22:03] jywarren commented on #3924
@SidharthBansal just jotting some of these down here! 👍

[2018-11-08 22:04] jywarren commented on #814
Adding a menu option to explain how this works here: https://github.com/publiclab/plots2/issues/3923

[2018-11-08 22:04] SidharthBansal commented on #3924
Great

[2018-11-08 22:12] jywarren commented on #814
This will link to this explanatory page: https://publiclab.org/comment-templates

[2018-11-08 22:21] first-timers[bot] opened #3925 "Add a link to comment templates to the commenting form"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-11-08 22:33] CoderJolly commented on #3923
Open I guess ? and unclaimed too ? 😄

[2018-11-08 22:35] jywarren commented on #3923
Yes, but Harman, just wanted to point out that these are specifically for
people who haven't completed an issue already. Actually if someone shows up
to solve this one who is a newcomer, since you've done one already, would
you mind helping them solve it? That would be a great way to welcome
someone new into the community!

On Thu, Nov 8, 2018 at 5:33 PM Harman Jolly <notifications@github.com>
wro

[2018-11-08 22:37] #3920 closed

[2018-11-08 22:37] CoderJolly commented on #3923
Nt a problem, Would be glad to help newcomers....Thnks

[2018-11-08 22:50] jywarren commented on #3680
Hi, folks, @slasher17 has claimed it and submitted a fix for this, but thanks for your interest! I've posted a couple new first-timer issues just now, so please try to claim one! 👍

[2018-11-08 22:51] #3680 closed

[2018-11-08 22:52] #3628 closed

[2018-11-08 22:54] moogwol commented on #3925
Hello, I would like to claim this issue if possible.

[2018-11-08 22:56] jywarren commented on #3925
Please go ahead! we'd love your help :-)

On Thu, Nov 8, 2018 at 5:55 PM moogwol <notifications@github.com> wrote:

[2018-11-08 22:59] jywarren commented on #3898
![image](https://user-images.githubusercontent.com/24359/48232580-10aea480-e380-11e8-9aab-b843f16281a0.png)

[2018-11-08 22:59] jywarren commented on #3898
Hmm, interesting. I think it's OK if it scrolls off the edge... or do you
think we should make it open downward? Can you upload some screenshots of
this in a few scenarios, and also double check the "mobile" view -- see how
you can use Chrome to test this?

On Thu, Nov 8, 2018 at 12:13 AM Sasha Boginsky <notifications@github.com>
wrote:

[2018-11-08 23:01] jywarren commented on #3919
cool, thanks for the input! This would be pretty cool.

On Thu, Nov 8, 2018 at 1:27 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-11-08 23:29] aliklynnlyle commented on #3923
Will need a mentor on this, but I can claim it if I can get someone to help. :)

[2018-11-08 23:31] CoderJolly commented on #3923
@aliklynnlyle What help do u need.....allotment of issues is done by jywarren

[2018-11-08 23:36] aliklynnlyle commented on #3923
I am not sure where to start. :/ Just trying to jump in somewhere to get started.

[2018-11-08 23:38] CoderJolly commented on #3923
Pls start by reading the description in the issue itself.....I m sure it would help you....and follow the steps as mentioned

[2018-11-08 23:44] aliklynnlyle commented on #3923
OK, I will start there if I am allowed to claim it. Thx!

[2018-11-09 01:03] SidharthBansal commented on #3913
For `everything` tag there are multiple solutions
1) Show user a wiki page /wiki/everything and tell the details of this special tag.
Wiki page will contain very small amount of information. We just need to tell that `everything` tag means the user is subscribed to all research notes.
2) On the /tag/everyone we will include all the tag related posts.
This behaviour will create conflict. `everythin

[2018-11-09 10:44] oorjitchowdhary commented on #3526
I'd like to work on this.. I'm a GCI candidate.

[2018-11-09 12:40] oorjitchowdhary commented on #3526
@SidharthBansal Where is the code file? and how would I submit the work? Should I create a pull request?

[2018-11-09 13:05] narnt commented on #3707
@quinn-codes-synthesis thank you for waiting and sorry for long answer

First I looked at how it works on the note search page:

https://github.com/publiclab/plots2/blob/7db3b681bffbf4e6bc9abd281c7b62cd764113a9/app/views/notes/_notes.html.erb#L7
https://github.com/publiclab/plots2/blob/7db3b681bffbf4e6bc9abd281c7b62cd764113a9/app/views/notes/_notes.html.erb#L8
https://github.com/publiclab/plots2/b

[2018-11-09 13:31] SidharthBansal commented on #3526
Yes.
Thanks for looking at this carefully.

[2018-11-09 14:14] narnt commented on #3799
@jywarren thank you, I didn't know that.

[2018-11-09 16:38] oorjitchowdhary commented on #3526
@SidharthBansal pls review my task....
https://github.com/oorjitchowdhary/plots2/pull/1
https://github.com/oorjitchowdhary/plots2/pull/2

[2018-11-09 16:41] SidharthBansal commented on #3526
You need to push it to publiclab/master.

You created PR to your own fork.

On Fri, Nov 9, 2018, 10:08 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-09 16:43] oorjitchowdhary commented on #3526
Oh ok my bad

[2018-11-09 18:31] jywarren commented on #3681
Hi, @faithngetich -- this is such a huge project, great work!

Would you mind going into the remaining PRs you've created and adapting them for the project they pertain to?

These all end up on publiclab.org:

  https://github.com/publiclab/inline-markdown-editor/
  https://github.com/publiclab/leaflet-blurred-location/
  https://github.com/publiclab/leaflet-blurred-location-display/

This one end

[2018-11-09 18:35] SidharthBansal commented on #3924
In our current system for every signup/login comment, we want the following for the backend:
1) Model for selection of tags where I person comments/subscribe and to find related tags
2)Controller action to handle the different basic and alternative flows:
    i)Basic Flows
Person comments and is logged in through OAuth provider Facebook
Person comments  and is logged in through OAuth provider Twit

[2018-11-09 18:38] SidharthBansal commented on #3924
It is informal list. @jywarren please edit the things in the above comments itself so that the conversation is short in this issue.
I am planning to do ``combined “Subscribe and login” flow`` first. Then we can do the other parts. What do you say?
Also, it will be better if we can divide the issue into two sub issues. Just creating 2 issues and linking back here.

[2018-11-09 19:03] SidharthBansal opened #3931 "Combined Subscribe and login flow"
Combined “Subscribe and login” flow - get people subscribed to some tags as they sign up, based on tags from the pages they've been looking at
    * a route or parameters or session modification to pass some tag names in upon logging in, which then are auto-subscribed to with a notification and link to /subscriptions
Refer #3924

[2018-11-09 19:04] SidharthBansal opened #3932 "Combined Comment & subscribe flow"
Combined “Comment + subscribe” flow - get people subscribed to some tags as they leave a comment, maybe based on the tags of the post they're commenting on, perhaps using parameters to the comment post action
Refer #3924

[2018-11-09 19:14] oorjitchowdhary commented on #2150
Hi, I'd like to work on this issue. I'm a GCI candidate. Where can I find the code which is to be edited?

[2018-11-09 19:47] SidharthBansal commented on #3932
What I am thinking is a little complex. Please try to think in that fashion and if it is not clear please ask me again.
Suppose we have successfully created ``Comment+Subscribe`` flow. The system is working properly.
Whenever a person leaves a comment, they are automatically subscribed to some of the tags on some criterion we have selected in our implementation. Public Lab's folks are all happy.

[2018-11-09 20:01] jywarren commented on #3932
Yes, i think we should start with this going forward only. I'm also
cautious about email noise and people being unhappy.

One thing we might do is to have a way to email anyone who's posted on a
topic /just once/ to see if we can get them to subscribe to that topic. But
this is a big project and I think separate from this issue. We might even
(to avoid sending lots of "please subscribe" emails) th

[2018-11-09 20:07] jywarren commented on #3192
I'm going to leave this open for now to see if @cesswairimu 's fix worked. I think we should be able to try it out here in a few minutes:

https://stable.publiclab.org/questions/tag/ndvi/author/warren

@cesswairimu could you give it a try? In perhaps 10 minutes.

[2018-11-09 20:08] #3848 closed

[2018-11-09 20:14] SidharthBansal commented on #3931
The subscription will be of some tags. So, we need to fetch some tags and get the user subscribed with those tags.
** Fetch some tags **
We need to decide on the number of tags a new user has to be subscribed upon the signup process.
I prefer less than 10.
We have different approaches to fetch some tags. Some of them are:
1) Static behaviour: We think of some tags which everyone wants to get subsc

[2018-11-09 20:15] SidharthBansal commented on #3931
@jywarren I think we will be able to subscribe tags to all the previous users also. Will create an issue for this.

[2018-11-09 20:50] faithngetich commented on #3681
Hey, @jywarren I have made the changes.
Thanks!!

[2018-11-09 21:45] jywarren opened #3935 "Danger error reporting is failing with"
We are definitely seeing this issue: https://github.com/danger/danger/issues/768

`Cannot find a merge base between danger_base and danger_head.`

Example: https://travis-ci.org/publiclab/plots2/builds/448784825 from https://github.com/publiclab/plots2/pull/3863

Another example, where tests should have reported back: https://github.com/publiclab/plots2/pull/3819

Danger is downloaded and run here

[2018-11-09 21:54] jywarren opened #3938 "Failures don't get copied into pull requests by Danger bot (errors do?)"
https://github.com/publiclab/plots2/pull/3819

See Danger reports failures here:

https://travis-ci.org/publiclab/plots2/builds/447523432

<script src="https://gist.github.com/jywarren/dc36be3189f3bcfa7a5d17379a3b8107.js"></script>

Not sure why they aren't copied in! Danger definitely made a report back, it just didn't include any failures.

[2018-11-09 22:39] #3925 closed

[2018-11-09 23:03] jywarren commented on #2590
@pdurbin asked that I post this diagram which i'm quite proud of (on it's merits as ascii-art, not as a chat solution, lol):

[code]

Just a note on Slack, we haven't posted instructions because Slack lacks a public signin system which some folks have created hacks around but we've never had a moment to set them up. If someone wants to propose a good Slack-hack that issues invitations, i'll approv

[2018-11-09 23:06] jywarren commented on #2590
And just a nice note on the terrible abuse we've seen from IRC spambots recently - additions to `plotsbot` have (so far) successfully blocked them as of this past week: https://github.com/publiclab/plotsbot/

The new `quiet` and `approve` behaviors have made retaining an IRC bridge (and presence) tenable.

One issue we had identified with this network of chat platforms has been that moderation (an

[2018-11-10 02:10] sashadev-sky commented on #3898
Below screenshots in a pdf - please disregard page 4

[scenarios.pdf](https://github.com/publiclab/plots2/files/2567985/scenarios.pdf)

It looks the best opening sideways to me. I don't think it's a big issue it scrolls off the top.

A fix for this might be to make the drop-down open on a hover instead of click. Then the person can't scroll or resize the window with it open. This could be a potent

[2018-11-10 02:39] ValentinaTironi commented on #3188
Hi! I'm trying to do a `git push` to do a pull request here but it says that I don't have permission. What I have to do?

[2018-11-10 03:56] #3726 closed

[2018-11-10 03:57] SidharthBansal commented on #3726
No more applicants can submit the project. The deadline is over.

[2018-11-10 04:02] SidharthBansal commented on #3679
Sorry. I was reading on mobile and accidentally clicked on the close issue button. Reopened it.

[2018-11-10 08:33] love-opensource opened #3942 "Cannot setup database"
### rake db:setup aborts

After following the setup instructions, rake cannot setup the db

I expecting to see the database successfully being setup

### Please show us where to look

https://publiclab.org/ ...

![rake error](https://user-images.githubusercontent.com/43717045/48299297-a145cb80-e4cb-11e8-8da0-7e5546e0ce60.PNG)

### What's your PublicLab.org username? love-opensource

### Browser, v

[2018-11-10 13:42] oorjitchowdhary commented on #3319
Can you explain more about this issue... where is the document to be created? in a pull request? or somewhere else

[2018-11-10 13:55] SidharthBansal commented on #3896
I think we can close this issue as we have met outreachy proposal submission deadline.

[2018-11-10 13:55] #3896 closed

[2018-11-10 14:11] SidharthBansal commented on #3319
You need to create a pr to the plots2 repo. You need to create SoC_ladder,md doc in the doc folder.

It will contain the following material. Please use good markdown text. Use headings, etc.

Public Lab participates in many SoC projects some of them are RGSoC, GSoC, Outreachy etc. This ladder increases your chances of being selected SoC program.
Step 1: Study different repositories of Public Lab.

[2018-11-10 14:16] SidharthBansal commented on #3319
@jywarren actually we have a small amount of time in between GCI and GSoC (around 1 month).
It takes a considerable amount of time to explain the key features of proposals to the new folks or Outreachy/ RGSoC and GSoC. I am creating this document so that the developer can read the document quickly and start implementing. In the /GSoc page
I know we have a /gsoc page.

[2018-11-10 14:16] #3319 closed

[2018-11-10 14:17] SidharthBansal commented on #3319
@oorjitchowdhary the task is no longer needed.

[2018-11-10 14:34] oorjitchowdhary commented on #3319
Okay.. No problem..

[2018-11-10 14:35] oorjitchowdhary commented on #3319
How do you give credits to me? Is it like a bonus task?

[2018-11-10 14:37] SidharthBansal commented on #3319
You have claimed it. I will approve your work at gci platform.

On Sat, Nov 10, 2018, 8:05 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-10 14:40] oorjitchowdhary commented on #3319
Oh.. so I just have to claim it at the GCI website then right? Coz I'm doing another task right now and wanted to do this task simultaneously...

[2018-11-10 14:47] ryzokuken commented on #2590
@jywarren http://rauchg.com/slackin works really well.

[2018-11-10 14:47] SidharthBansal commented on #3319
Yes.

On Sat, Nov 10, 2018, 8:10 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-10 14:50] oorjitchowdhary commented on #3319
Ohk.. Thanks a lot.. I really appreciate each mentors' hard work.. 🥇

[2018-11-10 14:52] SidharthBansal commented on #3319
Thanks

On Sat, Nov 10, 2018, 8:20 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-10 15:16] pomyo commented on #3923
I've never done a contribution before and would like to claim this.

[2018-11-11 04:32] rohancl opened #3944 "Prerequisite for installation"
<h1>What happened just before the problem occurred? Or what problem could this idea solve?</h1>
On executing the code line where most of the people are getting stuck at - "<i>bundle install --without production mysql</i>" , I got "<i> your ruby version is X but your gemfile specified Y.</i>" Before anything else, we need to know that installing plots2 involves a lot of stuff like bundler, gem, git

[2018-11-11 09:06] anag004 commented on #3923
I have never contributed to a project before and would like to claim this.

[2018-11-11 09:06] narnt commented on #3865
Hi @jywarren , I need help with my PR!

[2018-11-11 12:48] CoderJolly commented on #3865
Pls tell @narnt, I will try to help u out

[2018-11-11 13:11] narnt commented on #3865
@CoderJolly thank you! Link to my PR is above. There are some issues: https://codeclimate.com/github/publiclab/plots2/pull/3928 How can I resolve it?

[2018-11-11 14:43] Error-No404 opened #3946 "Errors Countered "Command 'Yarn' not found" & "Cannot connect to http://localhost:3000/""
I tried all the steps and encountered 2 problems but I fixed them up.
The 2 problems were-
1) Command 'Yarn' not found (while doing yarn install) -
- To fix install the Yarn application from official website.
- Close Bash and open again.
- The issue is fixed.
2)  Cannot connect to http://localhost:3000/
- I found 2 errors in this.
- A command helped me solve this problem `rails server -b127.0.0.1`

[2018-11-11 15:33] CodeSarthak commented on #3427
Hey, just confirming, we need the test from plots2/test/unit/comment_test.rb (line 338) to be moved to plots2/test/integration/token_comment_test.rb. Is that correct? @SidharthBansal @namangupta01

[2018-11-11 17:49] jywarren opened #3950 "Overlay module offset parameter doesn't work"
The Overlay module has a parameter called "offset" which lets you set which step is overlaid onto. But it doesn't seem to work:

See it malfunctioning here in the final step:

http://sequencer.publiclab.org/examples/#steps=crop{x:0|y:0|w:611|h:479},gradient{},colormap{colormap:stretched},crop{x:0|y:0|w:611|h:60},resize{resize:25%25},overlay{x:5|y:5|offset:-5}

Compare to:

http://sequencer.publicl

[2018-11-11 19:04] jywarren commented on #3652
This was solved by @faithngetich ! Thank you!

Actually if you put the exact text `closes #____` where `____` is the issue number, in the PR description, then when the PR is merged, the corresponding issue is closed automatically! Just a tip!

[2018-11-11 19:04] #3652 closed

[2018-11-11 19:15] jywarren commented on #3915
@gyi2521 submitted a fix in #3847!

[2018-11-11 19:30] jywarren commented on #3838
Hi, @BasedEnergy how are you doing? Got stuck, or needed to move on to something else? We're happy to help!

[2018-11-11 19:30] jywarren commented on #3838
Maybe @gyi2521 could offer some help with the solution? Thanks all!

[2018-11-11 19:44] jywarren commented on #3906
I've been seeing some great leadership from folks helping review others' code, like @Paarmita, @CoderJolly, @cesswairimu, @shivani-kapania, @Radhikadua123 and many others! Great work folks.

[2018-11-11 19:44] jywarren commented on #3906
Did someone want to volunteer to do a check-in this coming week?

[2018-11-11 19:48] CoderJolly commented on #3906
How can we do so ?

[2018-11-12 09:31] oorjitchowdhary commented on #3540
@SidharthBansal Where is the code file which is to be corrected here? Pls help me with it.. Thanks

[2018-11-12 09:33] oorjitchowdhary commented on #3540
Also.. I'm unable to view the issue on the public lab site mentioned here

[2018-11-12 11:11] quinn-codes-synthesis commented on #3707
Hmm. I see you have used `app/views/notes/_notes.html.erb` for reference, but have you tried also looking at `app/views/search/notes.html.erb` and comparing it to `app/views/search/tags.html.erb` ? I suspect that may be the piece you're missing to solve this.

[2018-11-12 15:36] jywarren commented on #3923
Hi, I believe @aliklynnlyle has claimed this and opened a PR already, sorry! We'll have more available soon!

[2018-11-12 18:00] Noorbano15 opened #3954 "New idea Suggestion [Google Code-In]"
Suggesting new idea for solving https://github.com/publiclab/plots2/issues/3460

Web-based tools for collecting, analyzing, and sharing data from a DIY spectrometer. These tools should be there to make our work easier. We can add nice pictures for children. These type of things will attract the teenagers and these days there's a lot of power in the hands of teenagers. And I pray that one day it wi

[2018-11-12 18:16] oorjitchowdhary commented on #2258
Hi.. where can I view the problem and also where is the code file ? Pls share it.. Thanks

[2018-11-12 19:01] Paarmita commented on #3340
@venkateshdb You can ask your problems on the gitter providing the screenshots there. And this issue has been resolved so you can take some other GCI tasks. Thanks :)

[2018-11-12 19:50] gptshubham595 opened #3957 "https://publiclab.org/blog in this page pagination is not center to the body"
https://github.com/publiclab/plots2/blob/a128622eb132eef4733c0067e2c6b2c1669d3042/app/views/tag/blog.html.erb#L77

[2018-11-12 23:58] aliklynnlyle commented on #3923
@jywarren is there a way to show officially that I have claimed this issue?

[2018-11-13 01:17] CoderJolly commented on #3923
@aliklynnlyle There isn't any, bt by commenting below the issue, we can claim it....unless a moderator specially allots it

[2018-11-13 09:36] oorjitchowdhary commented on #2258
This issue is still open right? I'd like to work on it

[2018-11-13 09:38] SidharthBansal commented on #2258
Go-ahead

On Tue, Nov 13, 2018, 3:07 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-13 09:45] oorjitchowdhary commented on #2341
Is this issue still open? I'd like to work on it... I'm a GCI candidate.

[2018-11-13 09:45] oorjitchowdhary commented on #2258
@SidharthBansal

[2018-11-13 09:49] SidharthBansal commented on #2341
Yeah

[2018-11-13 09:50] oorjitchowdhary commented on #2341
https://github.com/publiclab/plots2/blob/master/CONTRIBUTING.md
I have to update this right?
And what all is the necessary and relevant info that could be added here...

[2018-11-13 09:52] SidharthBansal commented on #2258
I am right now busy. Sorry. Someone from @publiclab/mentors will help.

On Tue, Nov 13, 2018, 3:15 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-13 09:52] SidharthBansal commented on #2341
#2231

[2018-11-13 09:53] SidharthBansal commented on #2341
Location is right

[2018-11-13 09:54] oorjitchowdhary commented on #2258
@SidharthBansal Oh okay no prblem.. Really sorry to disturb you

[2018-11-13 09:56] SidharthBansal commented on #2258
No problem going for a viva. In exam hall. Hope you will understand

On Tue, Nov 13, 2018, 3:24 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-13 10:01] oorjitchowdhary commented on #2258
Yes yes ... All the best 💯

[2018-11-13 10:42] oorjitchowdhary commented on #3846
Is someone working on it right now? Can I take up this issue as a GCI candidate? Coz the task hasn't been published on the GCI platform

[2018-11-13 10:44] oorjitchowdhary commented on #2258
@publiclab/mentors where can I find it?

[2018-11-13 13:06] geekychaser commented on #3188
@ValentinaTironi You need to do `git push` to your forked repository and then create a pull request.
Good luck!

[2018-11-13 13:29] sikfeng commented on #3840
The only problem I had was that I needed to modify the ruby version in `Gemfile` (`2.5.3` for me in ArchLinux instead of `2.4.4`)

`rails test -d` gives 2 fails for me

[2018-11-13 14:56] jywarren commented on #3188
so that would be something like `git push git@github.com:ValentinaTironi/plots2
feature-branch-name` or possibly `git push
https://github.com/ValentinaTironi/plots2 feature-branch-name`

ask if you need help, we're happy to support!

On Tue, Nov 13, 2018 at 8:07 AM Rishabh <notifications@github.com> wrote:

[2018-11-13 14:59] jywarren opened #3961 "Site-wide outage for german :de locale -- due to fallback fail"
Simultaneously other people were able to access the site, strangely.

This happened both on WiFi and cellular from the reporting person's comments.

We should check the logs to see what the error was and more about the requests.

[2018-11-13 15:07] geekychaser commented on #3188
@ValentinaTironi It seems like you have not forked the repository. So to get started follow these installation process `https://github.com/publiclab/plots2#installation`

[2018-11-13 15:09] CodeSarthak commented on #3427
Please review the PR : #3960 . @namangupta01 @jywarren @SidharthBansal This PR resolved the issue.

[2018-11-13 15:10] jywarren commented on #3846
You can take it up, but we would have to create a task for you for you to
get credit - would you like us to? Thanks!

On Tue, Nov 13, 2018 at 5:43 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-13 15:14] oorjitchowdhary commented on #3846
Oh I see.. Could you pls tell me more about what's to be done so I can decide and confirm to you if I'd work on this or not..

[2018-11-13 15:32] jywarren commented on #3846
Well, if you try posting a wiki page at https://publiclab.org/wiki/new, but forget to add a title, you'll see the above issue. I think we need to add a new conditional to `wikiRich.html.erb` so that the form submits properly even when you're on the "error page" -- you can check what the controller and action are when viewing that page by looking at your ruby console, and then we can create a condi

[2018-11-13 15:34] jywarren commented on #3923
Ah, ok - no, i think you can just copy paste the URL into the Outreachy
page, there's a place to list contributions. Thanks!

On Mon, Nov 12, 2018 at 10:54 PM Alik Lynn Lyle <notifications@github.com>
wrote:

[2018-11-13 16:01] oorjitchowdhary commented on #3846
Sorry... I don't think I may be able to complete this one.. Doing GCI for the first time

[2018-11-13 16:02] oorjitchowdhary commented on #3846
I'm actually trying to do issue #2258 .. Could you pls help me out there...
Thanks

[2018-11-13 17:19] rohancl commented on #3490
@SidharthBansal  @jywarren can you elaborate a bit about adding a link to the more info part of this task, Thanks !

[2018-11-13 18:05] jywarren commented on #3846
ok, well this is still open for someone to solve, thanks! Yes, i'll take a
look later today. Thanks.

On Tue, Nov 13, 2018 at 11:03 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-13 19:38] ValentinaTironi commented on #3188
@geekychaser Yes, I tried to do following these steps, but I can't do `git clone https://github.com/ValentinaTironi/plots2.git` like that said

[2018-11-13 19:49] jywarren commented on #2258
Hi, I believe this ends up using this template: https://github.com/publiclab/plots2/blob/master/app/views/notes/_notes.html.erb

To display on this page: https://publiclab.org/research

I hope that helps! Can you upload a screenshot of the page as it is now? I would guess that Sidharth means when viewing just the questions. This might end up being a bit complicated...

[2018-11-13 21:20] jywarren commented on #3840
ah, can you paste your test failures into a Gist at https://gist.github.com
so we can see? Hopefully we can help you resolve them.

On Tue, Nov 13, 2018 at 8:30 AM Cheong Sik Feng <notifications@github.com>
wrote:

[2018-11-13 21:47] jywarren commented on #3954
Hi! We have web-based software available, please take a look at https://spectralworkbench.org -- would this work?

Also, we are porting it to be usable with the Raspberry Pi! https://github.com/publiclab/spectral-workbench.js/issues/56

I hope this is helpful!

[2018-11-13 21:47] #3954 closed

[2018-11-13 21:48] jywarren commented on #3954
And great idea!

[2018-11-13 22:00] #3597 closed

[2018-11-14 04:47] milaaraujo commented on #3490
Hey @rohancl, this issue has two parts. First, the auto-added asterisk on this part of the code (https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L39-L44) should be removed. Then we need to add a link add to give more info on boolean searches and help users to understand how to use the boolean search. This link is a good one to use: https://dev.mysql.com/doc/refman/5.5/en/fulltex

[2018-11-14 04:55] rohancl commented on #3490
@milaaraujo  Hey thanks for replying,One more doubt,  I wanted to know whether I can make my own tutorial of Boolean searches  in MySQL to complete the second objective of this task. Thanks !

[2018-11-14 05:01] dhruvgupta167 commented on #3838
Hi, @jywarren I am a first timer and have understood the issue and solution too. Can I offer any help here?

[2018-11-14 05:02] SidharthBansal commented on #3838
Yeah sure.

On Wed, Nov 14, 2018, 10:31 AM dhruvgupta167 <notifications@github.com>
wrote:

[2018-11-14 05:08] dhruvgupta167 commented on #3838
Should I make a PR on this issue?

[2018-11-14 05:09] SidharthBansal commented on #3838
Yes

On Wed, Nov 14, 2018, 10:38 AM dhruvgupta167 <notifications@github.com>
wrote:

[2018-11-14 07:48] derletztename commented on #3961
It's still down for me. I asked another friend to try from his place (also germany) and for him the page is also down. Could this somehow be country related?

[2018-11-14 08:44] gauravano commented on #3954
@jywarren this issue was opened for GCI task - https://github.com/publiclab/plots2/issues/3460 . Should I approve the task?

[2018-11-14 09:40] oorjitchowdhary commented on #2258
![screenshot 19](https://user-images.githubusercontent.com/39333058/48473789-383dbb00-e81f-11e8-820d-d49994809842.png)
This is the page as of now

[2018-11-14 09:40] oorjitchowdhary commented on #2258
I couldn't exactly get you

[2018-11-14 09:43] oorjitchowdhary commented on #2150
Is this issue still open?

[2018-11-14 09:51] Noorbano15 commented on #3954
Plz approve this task😃

On Wed, 14 Nov 2018, 2:14 p.m. Gaurav Sachdeva <notifications@github.com
wrote:

[2018-11-14 10:20] SidharthBansal commented on #2150
Yes it is still open. If you want to give it a try then give it a shot

[2018-11-14 10:22] oorjitchowdhary commented on #2150
I can't file the code file which is to be corrected..

[2018-11-14 11:04] DTalone commented on #3733
#3954
to delete list and grid view button you have to delete this code <div class="btn-group visible-desktop" style="float:right;" id="note-format" data-toggle="buttons-radio"> <a onClick="toggle_format('grid')" id="grid-format" class="btn btn-default btn-sm active" href="#"><i style="font-size:14px;" class="fa fa-th-large"></i></a> <a onClick="toggle_format('list')" id="list-format" class="btn bt

[2018-11-14 12:29] shubhscoder commented on #3852
Why do we need this helper? We have added a field to the model is_verified right? We can use that directly?

[2018-11-14 14:07] oorjitchowdhary commented on #2341
Which is the file to be updated? Or I have to make a PR for this issue?

[2018-11-14 15:03] thesparks commented on #3840
Hi. Who can help me with `Sprockets::FileNotFound in Home#home`?

[2018-11-14 15:25] jywarren opened #3965 "Load some maps near people's marked location if it exists"
If someone has entered a location on their profile page using user tags, we should default to a view of their location when they load pages like:

* https://publiclab.org/maps
* https://publiclab.org/people
* https://publiclab.org/questions (will soon have a map)

And follow-up: load data for just those regions (coming soon via API-based map queries)

[2018-11-14 15:36] gauravano commented on #3946
Hi @Error-No404 thanks for letting us know and as you have submitted your GCI task successfully, I guess your issue is resolved. How about closing this issue now?

[2018-11-14 15:38] gauravano commented on #3914
Hi @arungoel123456, is your issue resolved?

[2018-11-14 15:46] thesparks opened #3966 "Need CSRF token and POST request for creating and deleting comments"
### Please describe the problem (or idea)

Comments can be created or deleted without checking the CSRF token with GET request
![deepin-screen-recorder_select area_20181114223701](https://user-images.githubusercontent.com/17945250/48493423-5c6cbc80-e85e-11e8-9246-965488dc8151.gif)

SImple payload:
[code]
### Please show us where to look

https://publiclab.org/

### What's your PublicLab.org userna

[2018-11-14 16:09] jywarren commented on #3966
Hi, Thank you for this issue! It's a good idea. Do you think you could
delete your comments from the live site? I think if you wanted to test this
out, you can use https://stable.publiclab.org, which is not our production
site.

Adding a token shouldn't be too hard, and I agree it's a good idea!

I would check out the comment_controller.rb file, and this documentation
for how to ensure we require

[2018-11-14 16:14] thesparks commented on #3966
Thanks for the link! I deleted comments as soon as I stopped recording gif.

[2018-11-14 16:16] jywarren commented on #3961
oh wow... that's alarming! I will ask our systems administrator and there are services we can use to determine if it's regional. Thank you!

[2018-11-14 16:21] jywarren commented on #3961
@icarito this doesn't sound good -- i'm checking the logs but also https://www.locabrowser.com/ ??? haven't used it before.

[2018-11-14 16:22] jywarren commented on #3961
Locabrowser works in germany, france, and US...

[2018-11-14 16:26] jywarren commented on #3961
AHA -- this is related to translations. I see an error:

[code]

This is unfortunate but fixable!

[2018-11-14 16:28] jywarren commented on #3961
I'm exporting a list of missing translations here: http://publiclab.org/translations.log

[2018-11-14 16:32] jywarren commented on #3961
Removing duplications, these are missing:

[code]

However, we need to have a fallback as per #3262 -- so we can implement that to solve this instead of rushing to make (probably bad) translations.

[2018-11-14 16:33] jywarren commented on #3961
We could either catch `ActionView::Template::Error (translation missing: de.datetime.time_ago_in_words.about_x_years):` and default to replacing `_` with ` ` (space), or we could override the `t(...)` method itself.

[2018-11-14 16:35] jywarren commented on #3961
Actually the above list is getting only controller translations, i guess... but missing view translations... regenerating it....

[2018-11-14 16:36] jywarren commented on #3961
So we need to catch instances of both:

* `I18n.t('home_controller.science_community')`
* and `<%= raw t('wiki.show.more_research', :tag => @node.slug_from_path) %>`

[2018-11-14 16:38] jywarren commented on #3961
https://stackoverflow.com/questions/26338337/override-rails-translations-helper

[2018-11-14 16:49] jywarren commented on #3961
Sorry for the noise in here. The quick fix is to change your locale to english... looking at how to do that easily...

[2018-11-14 16:50] jywarren commented on #3961
OK, click here to switch to english locale for a short term fix: https://publiclab.org/change_locale/en

Thank you so much for reporting this, and many apologies for the trouble!!!!

[2018-11-14 16:55] jywarren commented on #3961
This is strange, we do have fallbacks set up:

https://github.com/publiclab/plots2/blob/915f6b7dc526b20f919a450112c0db05ebc332b8/config/environments/production.rb#L74-L76

And we have all the settings enabled for fallbacks, too!

https://github.com/publiclab/plots2/blob/915f6b7dc526b20f919a450112c0db05ebc332b8/config/application.rb#L58-L67

Not sure why this isn't working, it probably needs local

[2018-11-14 17:09] oorjitchowdhary commented on #3431
Can anyone pls explain what is to be done in this task... I'm kinda unable to understand

[2018-11-14 17:18] CoderJolly commented on #3942
Also make a copy of ```db/schema.rb.example``` and replace it with ```db/schema.rb```

[2018-11-14 18:06] Radhikadua123 commented on #3852
Yeah, you are right. You already have fixed it. Thanks!

[2018-11-14 18:06] #3852 closed

[2018-11-14 18:12] Radhikadua123 opened #3967 "Setup overcommit in plots2 project"
We should setup overcommit which will automatically remove trailing white space errors on committing. We can add more features to it as required.

[2018-11-14 19:35] jywarren commented on #2150
Could it be in this file and the others in the same folder?

https://github.com/publiclab/plots2/blob/master/app/views/grids/_notes.html.erb

[2018-11-14 20:38] jywarren commented on #3906
Hi, @CoderJolly -- so, you can copy and paste the content of this check-in into a new issue, and update the sections needed to keep it current. But don't worry, we can help you format it once you start it off. We'd love to have your help in checking in with folks around the community this week!

[2018-11-14 20:40] jywarren commented on #3906
I do want to include: shall we recommend that reviewers turn off most notifications in the "Watching" menu for plots2, since it can be overwhelming, and mainly listen to mentions for @publiclab/reviewers (and likewise for @publiclab/mentors?)

Second, I'm writing a brief report of our projects to post on PublicLab.org (like these! https://publiclab.org/tag/webwg) and would love to include any stat

[2018-11-14 20:55] #3965 closed

[2018-11-14 21:06] #3654 closed

[2018-11-14 21:21] jywarren commented on #3966
awesome. and great work here!

On Wed, Nov 14, 2018 at 11:15 AM Sparks <notifications@github.com> wrote:

[2018-11-14 23:21] jywarren commented on #3954
Yes please! Thanks both of you :-)

[2018-11-14 23:44] #3526 closed

[2018-11-14 23:50] #3427 closed

[2018-11-14 23:56] jywarren commented on #3490
you could do that, although it's quite ambitious! Perhaps we could start by
linking to an existing one, but then changing the link to yours if you
complete one!

On Tue, Nov 13, 2018 at 11:56 PM Rohan Singh <notifications@github.com>
wrote:

[2018-11-15 00:12] jywarren commented on #3838
Yes, and there is a solution i believe in https://github.com/publiclab/plots2/pull/3847 that could be worked from! Thanks!

[2018-11-15 00:53] jywarren commented on #3924
This sounds great, thanks @SidharthBansal.

A new idea too:

* [ ] "Suggested subscriptions" on your dashboard based on current subscriptions + "related tags" (see this on tag pages like https://publiclab.org/tag/infragram)
* [ ] "Suggested subscriptions" on email notification footers

[2018-11-15 00:56] jywarren commented on #3932
I think we could start with something like posting a comment, but when you click Post, it says "You need to log in first." and offers a button to log in via OAuth. To the user, this will be like logging in, even though really it is signing up.

Either this happens in a modal, and when it disappears, they are back to their comment box with the comment to submit, OR, we store the contents of the com

[2018-11-15 01:02] jywarren commented on #3931
OK 2 things -- let's think about retroactive subscribing in a separate issue -- it's complex as we discuss in this comment (https://github.com/publiclab/plots2/issues/3932#issuecomment-437478783).

second, let's start with the most simple case here:

### Simple case 1

someone clicks `Subscribe` on a single tag when not logged in.

They can be directed to something like `https://publiclab.org/logi

[2018-11-15 01:12] jywarren commented on #3431
I think essentially Sidharth is saying that these tests are already
integration tests, and so really ought to be moved to the integration tests
files. Does that make sense?

On Wed, Nov 14, 2018 at 12:09 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-15 05:31] SidharthBansal commented on #3733
Hi, some people prefer list view while others prefer grid view.
On the mobile we want only list view.
On desktop we want both views.

[2018-11-15 05:52] SidharthBansal commented on #2341
I think we need to create a new file in doc folder.
Can you define all the labels there?
We will review and tell about the patches?
You can refer other documents to see how to write the documents.

[2018-11-15 09:29] CodeSarthak commented on #3428
Issue resolved. #3971 Please review.

[2018-11-15 09:31] derletztename commented on #3961
Thx for taking care of the issue, your quick fix is working and I am happy now.
Also I am happy that I could help you improve the quality of your page and therefore others. I hope you find the root cause and can fix it :)

[2018-11-15 09:40] oorjitchowdhary commented on #2150
I can't find this task on the GCI dash anymore.. Is it already done by someone else?

[2018-11-15 09:48] rohancl commented on #3490
@jywarren Yeah sure, don't get me wrong, by tutorial I meant How I did the steps to solve the this task and all.

[2018-11-15 09:57] SidharthBansal commented on #3924
We can brainstorm all the ideas in this issue. For the issues which needs implementation we will create separate issues and try to solve them. This way we will have this issue reserved for the mainly discussion.

I would also like to suggest
Wiki page + subscription on like
Research note + subscribe on like
More soon

[2018-11-15 11:02] thesparks commented on #3966
Also I guess csrf token is need for likes and dislikes
It also using get request now (like https://publiclab.org/likes/node/123/create)

Anyone can do this?

[2018-11-15 14:19] gptshubham595 opened #3974 "Improve pagination of the search page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-11-15 15:01] oorjitchowdhary commented on #2341
Ok... It can be like this file right? https://github.com/publiclab/plots2/blob/master/doc/GCI_MENTOR_GUIDELINES.md

[2018-11-15 15:02] SidharthBansal commented on #2341
Yeah

On Thu, Nov 15, 2018, 8:31 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-15 15:03] oorjitchowdhary commented on #2341
Ohk.. Then I'll claim this task on the GCI platform

[2018-11-15 15:40] Noorbano15 opened #3975 "Web-based tools for collecting, analyzing, and sharing data from a DIY spectrometer. These tools should be there to make our work easier. We can add nice pictures for children. These type of things will attract the teenagers and these days there's a lot of power in the hands of teenagers. And I pray that one day it will be so famous that everyone in the world will be using it."
### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resol

[2018-11-15 15:51] gptshubham595 opened #3976 "Two pagination at the botton of the search page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th