[2018-12-20 17:49] SidharthBansal commented on #4344
How about having some background so that tagnames and the Subscription is under one div having some background color?

[2018-12-20 17:58] IshaGupta18 commented on #4344
How's this?
![image](https://user-images.githubusercontent.com/40794215/50302040-ed166800-04ae-11e9-9bb4-c4f3743545ce.png)

[2018-12-20 18:02] SidharthBansal commented on #4344
Let's decrease the size of Subscribe button and shift the ``enter tag`` in the div above all the tags

[2018-12-20 18:19] IshaGupta18 commented on #4344
Like this?
![image](https://user-images.githubusercontent.com/40794215/50303010-cad21980-04b1-11e9-9927-78ef4e7b28f5.png)

[2018-12-20 18:20] lakshyabatman commented on #3712
Is this issue resolved yet? If not, can I please work on it.

[2018-12-20 18:24] SidharthBansal commented on #3712
No it has not been fixed.
Go ahead

[2018-12-20 18:35] IshaGupta18 commented on #4344
Is this okay now?

![image](https://user-images.githubusercontent.com/40794215/50303757-11c10e80-04b4-11e9-86b2-453d0d0001b4.png)

[2018-12-20 18:35] IshaGupta18 commented on #4344
Yes I will. I would prefer to do it once this is finalized.

[2018-12-20 18:36] IshaGupta18 commented on #4344
Also, I haven't yet linked the checkboxes and subscribe button as yet.

[2018-12-20 18:53] SidharthBansal commented on #4344
Ok. We need to figure out where ''enter tags'' box should be.

On Fri, Dec 21, 2018 at 12:06 AM Isha Gupta <notifications@github.com>
wrote:

[2018-12-20 18:54] SidharthBansal commented on #4344
According to me, we are creating the subscribe button at bottom so that
should appear at the top. What do you think?
Should we take it in the div or not? OR any other better idea?

On Fri, Dec 21, 2018 at 12:23 AM Sidharth Bansal <
bansal.sidharth2996@gmail.com> wrote:

[2018-12-20 19:06] IshaGupta18 commented on #4344
I think the subscribe button is good where it is, because if we place it on top, the entire thing will look a bit clustered.

[2018-12-20 19:10] IshaGupta18 commented on #4344
Although I think that the subscribe button should be a bit bigger, so that it looks more prominent, even if its at the bottom. What do you think?
![image](https://user-images.githubusercontent.com/40794215/50305491-fc021800-04b8-11e9-90a1-e9fd90a609a9.png)

[2018-12-20 19:18] SidharthBansal commented on #4344
I think now its good.
Let's implement this. Please open up a pr.
This size is good. Earlier it was much bigger than needed.
Now its perfect

On Fri, Dec 21, 2018 at 12:40 AM Isha Gupta <notifications@github.com>
wrote:

[2018-12-20 19:34] SidharthBansal commented on #4344
https://github.com/publiclab/plots2/issues/4344#issuecomment-449074621

[2018-12-20 19:36] IshaGupta18 commented on #4344
Okay! Do you mind if I finish it off tomorrow? It's getting a bit late right now. Will it be okay?

[2018-12-20 19:39] SidharthBansal commented on #4344
You can complete it whenever you want. Go for sleep its 1:08am. I code up
whole day so can't keep a check on the timings. Sorry for keeping you awake
this late.
Good night.
See you tomorrow.

On Fri, Dec 21, 2018 at 1:07 AM Isha Gupta <notifications@github.com> wrote:

[2018-12-20 19:41] IshaGupta18 commented on #4344
Oh it's not a problem! Thank you so much for your constant effort and input!
Good night!
See you tomorrow.

[2018-12-21 02:19] dinaelhanan commented on #4279
@gauravano @sagarpreet-chadha hey! I'm still looking to solve this, but I was hoping for some direction. Please see my above message. Thanks!

[2018-12-21 02:25] dinaelhanan opened #4347 "UI Change for Edit Profile"
I went to go edit my profile, when I noticed that the prompt to add an image is below editing your bio and all that, which isn't very intuitive for users. Also, the header "bio" should be above the box where you edit your bio. I'm using the latest version of Firefox if that helps. We might even be able to make this a first-timers-only issue! (if the issue ends up being a quick fix) Lastly, when I

[2018-12-21 02:50] avsingh999 commented on #4314
I think it must be look like this

![pub4](https://user-images.githubusercontent.com/25536022/50321948-3390b480-04f9-11e9-8417-4642dcab9eac.png)

[2018-12-21 05:41] SidharthBansal commented on #2173
Are you willing to send a quick fix to it?
On chrome on my laptop everything is working fine.

On Fri, Dec 21, 2018, 7:54 AM d1g1t4ld1n4 <notifications@github.com wrote:

[2018-12-21 07:10] sagarpreet-chadha commented on #4279
Hi @dinaelhanan !

The 2 recommendations are these :
<img width="1074" alt="screenshot 2018-12-21 at 12 31 16 pm" src="https://user-images.githubusercontent.com/14952645/50329258-639d7f00-051c-11e9-9957-fc160e150171.png">

First one says that we have to convert this field to following form/syntax :

`joesmith@example.com (Joe Smith)`

The second recommedation i belief is saying that we have to add

[2018-12-21 10:04] oorjitchowdhary opened #4348 "Login modal shows up abruptly"
### Please describe the problem (or idea)
When clicked `link a location` button on a particular page, the map shows up the the usual way but the login modal is displayed behind it.
This is happening when the user is logged in.

![login modal abrupt error](https://user-images.githubusercontent.com/39333058/50337003-c8b19e80-0535-11e9-80a4-657178ddffff.gif)

The login modal shouldn't have appeared.

[2018-12-21 10:06] oorjitchowdhary commented on #4348
@publiclab/mentors This should be looked into quickly as we have released it on PL...

[2018-12-21 10:52] kunalvaswani123 commented on #3661
is this issue open?

[2018-12-21 11:12] oorjitchowdhary opened #4349 "Pagination is broken in 'Answered' tab at /questions"
### Please describe the problem (or idea)
The pagination is broken in the `answered` tab of questions.
Also, when clicked on a page number on the pagination bar, we come back at the `asked` tab on the next page.

![ask answer question error](https://user-images.githubusercontent.com/39333058/50340032-4928cd00-053f-11e9-9cd9-0be70e0600c1.gif)

### Please show us where to look

https://publiclab.org

[2018-12-21 11:36] oorjitchowdhary opened #4350 "Improve UI at 'Research notes' tab at /tags"
### Please describe the problem (or idea)
We can fix the aspect ratio of thumbnails of the `research notes` and fix them to a standard size for uniformity.
Also, we can re-align and center the `Read more` buttons.

This one is related to #4198 and #4113.

![screenshot 126](https://user-images.githubusercontent.com/39333058/50340752-454a7a00-0542-11e9-8ae3-a73ba8a7ce3c.png)
![screenshot 127](https:

[2018-12-21 11:39] oorjitchowdhary commented on #4349
@publiclab/mentors

[2018-12-21 11:39] oorjitchowdhary commented on #4350
@publiclab/mentors

[2018-12-21 12:08] kunalvaswani123 commented on #4350
Could I take this issue ?

[2018-12-21 12:12] oorjitchowdhary commented on #3757
@publiclab/mentors I think we can close this through #4081

[2018-12-21 12:31] gauravano commented on #3757
Closing this as resolved via #4081. If any idea in issue needs attention, please comment here or open new issue. Thanks!

[2018-12-21 12:31] gauravano commented on #3757
Closing this as resolved via #4081. If any idea in issue needs attention, please comment here or open new issue. Thanks!

[2018-12-21 12:31] #3757 closed

[2018-12-21 13:32] SidharthBansal commented on #4349
Hi thanks for catching the bug. We have many similar pagination bugs. Check them out too.

[2018-12-21 13:41] jywarren commented on #4348
Yes, thanks!!! It'll be related to the z-index css value!

On Fri, Dec 21, 2018, 8:27 AM Sidharth Bansal <notifications@github.com
wrote:

[2018-12-21 13:49] jywarren commented on #3932
Hmm, interesting! Are there any situations where sidebar content would be
taller than one screen?

On Wed, Dec 19, 2018, 4:03 PM Sidharth Bansal <notifications@github.com
wrote:

[2018-12-21 14:08] SidharthBansal commented on #3932
Yes there are.
I found them but I missed to tell. There are some posts in which number of tags are really large. Also, it depends on the zooming the screen. Some prefer smaller size, some prefer larger size. I think now we should let the sidebar be as it is.
Thanks Jeff.

[2018-12-21 14:14] SidharthBansal commented on #4347
Hi localhost appears good to me on the Chrome browser.
![image](https://user-images.githubusercontent.com/20972099/50346556-beed6280-0558-11e9-9ef0-615182ac6718.png)
I will request @publiclab/mentors to please check the beviour at their end also.

[2018-12-21 14:17] SidharthBansal commented on #4347
Actually the recent changes has not been merged to the master.
As soon as they will get merge into the production branch. This error will be fixed.
Sorry for temporary distortion of the edit view.
Great Catch Dina!!! :balloon:

[2018-12-21 14:23] IshaGupta18 commented on #4344
What does this error imply? Does it mean that a template/page for the quoted link doesn't exist?
![image](https://user-images.githubusercontent.com/40794215/50346941-fa3c6100-0559-11e9-8ca4-822acb812b68.png)

[2018-12-21 15:00] SidharthBansal commented on #3932
Cool...

[2018-12-21 15:07] SidharthBansal commented on #4344
Hi you need to build a branch of these changes over my pr 4340's branch.

On Fri, Dec 21, 2018, 7:53 PM Isha Gupta <notifications@github.com wrote:

[2018-12-21 15:07] SidharthBansal commented on #4344
So that the new work can be used in your PR. Does this makes sense?

On Fri, Dec 21, 2018, 8:37 PM Sidharth Bansal <bansal.sidharth2996@gmail.com
wrote:

[2018-12-21 15:17] oorjitchowdhary commented on #4350
I'd like @jywarren or @SidharthBansal to take a look at this first and then guide us through..
You could then take up the issue @kunalvaswani123

[2018-12-21 15:41] IshaGupta18 commented on #4344
Yes that makes sense, could you please tell me how am I supposed to do that?

[2018-12-21 15:46] SidharthBansal commented on #4344
Either you can create a branch from master and copy the changes of my PR onto your branch and start working on that branch.
OR
better method : https://stackoverflow.com/questions/22237609/adding-to-someone-else-s-pull-request-on-a-github-project-that-i-do-not-own
create a branch like this. From the branch for my pr create a new branch. This new branch will have all the changes of my PR. And work o

[2018-12-21 15:49] kunalvaswani123 commented on #4269
Hey, I'd like to work on this issue

[2018-12-21 15:51] SidharthBansal commented on #4269
Hi Kunal. Nice to meet you.
First part of the issue is completed. You can work on the second and third part.
Please ensure that wherever we are using these partials teh name gets changed there.
Please take second subsissue first. After its completion we will do third part in separate PR.

[2018-12-21 15:53] kunalvaswani123 commented on #4269
ok
Could you confirm the changed names?

[2018-12-21 15:55] SidharthBansal commented on #4269
_form to _edit_form
and _form2 to _create_form

[2018-12-21 15:55] kunalvaswani123 commented on #4269
ok

[2018-12-21 15:56] SidharthBansal commented on #4269
Please ensure that these changes are present in each and every location from the places from which they were called.
Thanks

[2018-12-21 16:02] IshaGupta18 commented on #4344
Yes it does. Thank you! Although I might have to go with the first method because I am unable to do it by the 2nd method, despite trying. Will it be okay?

[2018-12-21 16:48] IshaGupta18 commented on #4344
#4352 is my pull request for this issue. I hope everything works out, do let me know if there's anything else I can do! Thank you all very much! @SidharthBansal @jywarren

[2018-12-21 16:51] SidharthBansal commented on #4344
OK great
I will review it in some minutes
Thanks

On Fri, Dec 21, 2018, 10:18 PM Isha Gupta <notifications@github.com wrote:

[2018-12-21 16:53] IshaGupta18 commented on #4344
Okay no problem! Thank you so much!

[2018-12-21 17:10] dinaelhanan commented on #4347
No problem! Glad I was able to help : )

[2018-12-21 17:41] capedcrusader23 commented on #4341
i would like to work on this issue.

[2018-12-21 17:55] #4269 closed

[2018-12-21 17:59] gauravano commented on #4347
Hi @SidharthBansal @dinaelhanan closing this one as it's solved. Thanks!

[2018-12-21 17:59] #4347 closed

[2018-12-21 18:12] Rishabh570 commented on #3661
@kunalvaswani123 Actually, there's an open PR for this...Please take a look at code.publiclab.org to take a look at first-timer issues, you will find many others :)

[2018-12-21 18:14] gauravano commented on #4341
Hi @capedcrusader23 you can surely work once #4339 gets merged. Thanks!

[2018-12-21 18:17] capedcrusader23 commented on #4341
ok i made a pr but it had some indentation error,will solve it.

[2018-12-21 18:37] gauravano commented on #4341
@capedcrusader23 I have updated the issue a little. Please take a look. thanks!

[2018-12-22 02:17] #4137 closed

[2018-12-22 03:40] avsingh999 commented on #4350
great @oorjitchowdhary , I am also agree with you

[2018-12-22 03:57] avsingh999 opened #4358 "show only icon in mobile view of questions page"
https://publiclab.org/questions/ look this page in mobile view it's look like this

![pub6](https://user-images.githubusercontent.com/25536022/50370400-b8e49980-05cb-11e9-900b-f0a678ae9ea6.png)

I think must be look as in profile in mobile view
![pub5](https://user-images.githubusercontent.com/25536022/50370403-cac63c80-05cb-11e9-9479-72e6d0aded51.png)

[2018-12-22 03:58] avsingh999 commented on #4358
@publiclab/mentors  please review :smile:

[2018-12-22 04:03] avsingh999 opened #4359 "Access token popup's button also closed by 'esc' key"

[2018-12-22 06:42] plxity opened #4360 "Aligning pagination in center."
## Description
Pagination should in the center of the page.
![capture](https://user-images.githubusercontent.com/28510494/50371531-9f028100-05e2-11e9-8754-7f86fb3e9196.PNG)

## Would you like to work on the issue?
Yes

[2018-12-22 06:46] sagarpreet-chadha commented on #4279
Awesome 😄 !

[2018-12-22 07:20] gauravano commented on #4237
@JonathanXu1 would you like to solve this one? Thanks!

[2018-12-22 07:55] gauravano commented on #3355
Hi everyone, we are planning dashboard designs here - https://publiclab.org/notes/edie_blues/12-13-2018/public-lab-dashboard-new-design-ideas . You are most welcome to add your ideas there. Thanks!

[2018-12-22 07:59] gauravano commented on #3355
Closing this one and further discussion is open at above link. Thanks!

[2018-12-22 07:59] #3355 closed

[2018-12-22 08:54] gauravano commented on #4224
Hi @JonathanXu1 @ValentinaTironi you want to work on this task? Thanks!

[2018-12-22 09:08] ValentinaTironi commented on #4224
Yes I think I can do it but in a few days. Today is my birthday 🎁 and I would like enjoying with my family and friends and later is christmas so, can I do it the next week or something like that? Sorry for inconveniences :) happy to help! Thank you!
PD: I’ll try to look the code and think about how to resolve it :)

[2018-12-22 09:14] SidharthBansal commented on #4224
Happy birthday!!!
Have a wonderful birthday :balloon:

[2018-12-22 09:38] shubhscoder opened #4362 "Speed up loading time for public labs"

[2018-12-22 10:02] shubhscoder commented on #4362
I myself would like to work on this issue! If anyone has more ideas then please post them here. Thank you!

[2018-12-22 10:32] SidharthBansal commented on #4164
Hi @shubhscoder we need to first take input from @jywarren whether this issue needs to be further explored or not. He is right now busy, you can work on other issues if you want.
Thanks @shubhscoder

[2018-12-22 10:40] gauravano commented on #4172
Solved in #4179

[2018-12-22 10:40] #4172 closed

[2018-12-22 11:37] gauravano commented on #4224
Wishing you a very happy birthday :birthday: :tada: !
Always be happy, keep smiling and remain awesome as you are :smiley: .

yes, this issue can wait for sure. Thanks!

[2018-12-22 11:58] jywarren commented on #4327
Hi, all, love to see the activity here.

@sashadev-sky what a great idea! We have some very long models, for one. CodeClimate makes some recommendations for refactoring and simplification, as well as reducing redundancy in it's "smells" system (funny name!): #3706 --

Also, the Outreachy program has made this week the week of "everybody struggles" -- we may adopt this for next week's Check-In, but

[2018-12-22 12:05] jywarren commented on #4164
Much of the following code is named `----Selection` - like `NodeSelection` for liking nodes, `TagSelection` for following tags. We have a `UserSelection` area but I don't know if it's hooked up to work!

https://github.com/publiclab/plots2/search?q=UserSelection

Looks like not! Most of the code is here:

https://github.com/publiclab/plots2/blob/5c0d96274bd0be15feba69d8f30093082402ace5/app/models/

[2018-12-22 12:05] jywarren commented on #4164
Much of the following code is named `----Selection` - like `NodeSelection` for liking nodes, `TagSelection` for following tags. We have a `UserSelection` area but I don't know if it's hooked up to work!

https://github.com/publiclab/plots2/search?q=UserSelection

Looks like not! Most of the code is here:

https://github.com/publiclab/plots2/blob/5c0d96274bd0be15feba69d8f30093082402ace5/app/models/

[2018-12-22 12:13] SidharthBansal commented on #4164
Oh this is really cool. We have another project to work upon. Let's start this up.
@shubhscoder as per https://github.com/publiclab/plots2/issues/4164#issuecomment-449560828 please go ahead.
Thanks everyone!!!

[2018-12-22 15:51] JonathanXu1 commented on #4224
Happy birthday, you deserve a break! When you want to work on it, I'd love to help out if you like

[2018-12-22 17:30] dave-light commented on #4342
I'm yet to make an opensource contribution so this'd warm me up. May I claim this?

[2018-12-22 17:41] geekychaser opened #4364 "Add placeholder text for password in login modal"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-12-22 17:43] geekychaser commented on #4364
@SidharthBansal @jywarren sorry for being inactive for so long due to my semester exams.
can i post a PR for this?

[2018-12-22 17:44] SidharthBansal commented on #4364
Yeah sure!!!
How about creating two ftos for this?

[2018-12-22 17:48] SidharthBansal commented on #4364
Hi sorry. But I think it is looking good.
You can create a `first timer only` issue for placeholder text in the signup
![image](https://user-images.githubusercontent.com/20972099/50377247-d6ebe180-063f-11e9-90c1-89a2d555fc9a.png)
For the username.

[2018-12-22 17:50] geekychaser commented on #4364
@SidharthBansal Okay , i will create the same for signup

[2018-12-22 17:53] SidharthBansal commented on #4364
So, please create a single first timer only issue. Not two.

[2018-12-22 17:53] SidharthBansal commented on #4364
I hope your exams went awesome like you are.

[2018-12-22 18:04] geekychaser commented on #4364
@SidharthBansal exams were great !
now the issue looks fine?

[2018-12-22 18:17] SidharthBansal commented on #4364
Please add code links also.
Thanks

[2018-12-22 18:35] SidharthBansal commented on #4364
I have deleted the comments to avoid confusion to the newcomer.
Thanks @geekychaser for creating a fto.

[2018-12-22 18:51] gauravano commented on #4342
Hi @dave-light, please go ahead. And, Welcome to Public Lab and Open Source World :globe_with_meridians: :earth_americas: .

[2018-12-22 19:09] oorjitchowdhary commented on #4360
@plxity could you please describe more about this issue.. The pagination bar seems to be in the centre... If you're talking about the research note appearances, I have actually already opened an issue #4350

[2018-12-22 19:16] plxity commented on #4360
@oorjitchowdhary https://publiclab.org/research Please visit this link and check if pagination is in center or not.

[2018-12-22 19:18] oorjitchowdhary commented on #3822
@publiclab/reviewers I think this issue is redundant now because of the login modal...

[2018-12-22 19:44] ValentinaTironi commented on #4224
Thank you so much! I’m 18 now hahaha thank you for understanding :) Merry christmas too! 🎄✨

[2018-12-23 07:18] gauravano commented on #4360
Hi @plxity @oorjitchowdhary  the pagination is at center of partial but when seen on complete view it appears to be towards left. So, how about giving try to shift pagination towards right in the partial, so it appears in center of the page. @plxity you want to give it a try?

 Thanks!

[2018-12-23 07:31] gauravano commented on #4358
Hmm, how about showing tooltip with each icon in mobile view?
@publiclab/community-reps thoughts?

[2018-12-23 07:35] plxity commented on #4360
@gauravano  Yes sure. I will work on it.

[2018-12-23 07:38] gauravano commented on #4350
Hi everyone, this issue can be divided in two parts-  Read more button centering and fixing image size.
1. Anyone of you can solve the "Read more button" part, please tell here to avoid any confusion
2. Regarding Image issue, please coordinate with @dinaelhanan as she's working on it for quite sometime and know the issue well

Thanks!

[2018-12-23 07:41] gauravano commented on #4348
Hi @oorjitchowdhary would you be interested in solving this one?

[2018-12-23 08:09] gauravano commented on #4165
Agree with @jywarren . The flag button prepares a prewritten email to moderators and nothing else so need of login is required. Thanks!

[2018-12-23 08:10] gauravano commented on #4165
So, closing this issue and related PR #4252. Thanks!

[2018-12-23 08:10] #4165 closed

[2018-12-23 08:51] milaaraujo commented on #4183
I will check `add_tag` method in the `node.rb` file then. Once we finish #4292 I will work on the next two itens of the checklist! :)

Ohhh, now I understood what you meant. Makes sense! I updated the checklist.

[2018-12-23 09:36] shubhscoder commented on #4164
@SidharthBansal
I think this feature is already implemented. I have attached some screenshots regarding the same!
![people_who_follow_user](https://user-images.githubusercontent.com/18489285/50382397-37bcfd80-06c4-11e9-9690-c9b28b717861.png)
![unfollow_feature](https://user-images.githubusercontent.com/18489285/50382398-37bcfd80-06c4-11e9-9fc5-b5d0c65a599a.png)
![people_i_follow](https://user-imag

[2018-12-23 10:36] SidharthBansal opened #4367 "Username should be non editable"
@jywarren currently the usernames can be edited at /profile/edit. Username is used in many comments and other functionality throughout the website. In case a user changes their username then this can result in a lot of trouble in our tagging system. So, making it readonly field in the profile section.

[2018-12-23 10:50] SidharthBansal commented on #4164
So, users can follow each other. Are they getting any notifications regarding their followers?
If a person is following someone then they must get the notifications. Can you please check this?
We are currently having email notification system at PL.

[2018-12-23 10:58] SidharthBansal opened #4368 "Password Verification on the edit profile page"
Suppose a user has opened the laptop and was scrolling through articles on PL while was logged in. Suddenly they went away from the laptop. Some hacker came and went to the /profile/username/edit page and changes their profile content. Potentially the password. This will result in the user inaccessibility to their account.
We should incorporate Password Field on the edit profile page. Only if the

[2018-12-23 10:59] SidharthBansal commented on #4368
@kunalvaswani123 this is related to the issue upon which you are working since many days. Are you willing to take this issue?
Thanks.

[2018-12-23 11:04] SidharthBansal opened #4369 "Weekly Community Check-In #2 - "Everybody Struggles"!"
Hi everybody :smiley: !

We all at Public Lab :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past we

[2018-12-23 11:07] kunalvaswani123 commented on #4368
Yeah I looked at it we should keep a password confirmation of current password to change the details on the edit page. I will like to work on it.

[2018-12-23 11:08] SidharthBansal commented on #4327
Moved to #4369

[2018-12-23 11:08] #4327 closed

[2018-12-23 11:09] SidharthBansal commented on #4369
Here is @jywarren's struggle from https://github.com/publiclab/plots2/issues/4327#issuecomment-449565239.

As he is busy. I am pasting it from his comment.

[2018-12-23 11:20] kunalvaswani123 opened #4370 "Add a hover text to the username field on the /profile/edit page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-12-23 11:30] SidharthBansal commented on #4368
We can have three fields.
1. Compulsory field Current Password which everyone needs to fill correctly for the update action to work. If current password is empty or wrong then no form submission
2. New password: Can be empty if user doesn't want to change the password. Else should be same as confirm password and should obey password validations written in the db.
3. Password Confirmation: Similar

[2018-12-23 11:33] kunalvaswani123 commented on #4368
Should I start working on it ?

[2018-12-23 11:34] SidharthBansal commented on #4368
Yeah sure!!!
Best of luck

On Sun, Dec 23, 2018 at 5:03 PM Kunal Vaswani <notifications@github.com>
wrote:

[2018-12-23 12:19] IshaGupta18 commented on #4369
Hey everyone! First of all thank you so much @SidharthBansal for the appreciation. It means a lot to me and you have been putting a ton of effort to get the functionality right. I have recently started here and enjoy it a lot. Right now, I am working on the multiple tag subscription feature and I hope to finish it soon.
My semester is about to start very soon, however I would love to keep working

[2018-12-23 12:42] SidharthBansal commented on #4244
@IshaGupta18 how is it going?

[2018-12-23 12:44] SidharthBansal commented on #4238
Issue is solved by @dinaelhanan by mistake, was solving issue related to power tags and mistakenly solved this.

[2018-12-23 12:44] #4238 closed

[2018-12-23 12:46] SidharthBansal commented on #4192
@JonathanXu1 how is it going?
Do you need any help?

[2018-12-23 12:48] IshaGupta18 commented on #4244
I actually fixed this issue by inspecting the site in developer's console. I tried a lot to find the css file where the code for making this responsive is written, but couldn't do so. I think I'll have to think of a different solution, but I can't be sure of finding it, because I tried a lot to resolve this issue before, but couldn't. I am terribly sorry if I caused any delay or trouble in this.

[2018-12-23 12:54] SidharthBansal commented on #4241
Hi @kevinzluo is not working on this. He has already many pending PRs and issues. He is working on them. Currently his exams are going on. Let's give this issue to someone else.

[2018-12-23 12:55] SidharthBansal commented on #4132
Issues are being worked upon. This issue is broken down into subsissues.
So closing this.

[2018-12-23 12:57] SidharthBansal commented on #4335
I think it is not working.
Let us check it.

[2018-12-23 13:04] IshaGupta18 commented on #4244
Will it be okay if I take a little more time in attempting to fix it?

[2018-12-23 13:11] gurpreet9001 commented on #4364
i am making a pull request

[2018-12-23 13:17] jywarren commented on #4244
If you look at the site in the dev console in development mode you should
be able to see the separate css files, but on production they've been
compiled into one giant file so it's harder to track. Good luck! We can
help more if you get stuck!

On Sun, Dec 23, 2018, 8:05 AM Isha Gupta <notifications@github.com wrote:

[2018-12-23 13:18] jywarren commented on #4367
Oops, great, thanks!!! And is it blocked in the controller too?

On Sun, Dec 23, 2018, 5:44 AM Sidharth Bansal <notifications@github.com
wrote:

[2018-12-23 13:31] IshaGupta18 commented on #4244
Alright, thank you for the tips! I will get back to you in case I get stuck!

[2018-12-23 13:41] mzmmlds commented on #4370
@kunalvaswani123 : i have edited the file in browser and submitted the PR.

[2018-12-23 13:48] dinaelhanan commented on #4335
@SidharthBansal I don't think my PR fixed the blog one, I think it only fixes following tags.

[2018-12-23 14:30] SidharthBansal commented on #4364
great

On Sun, Dec 23, 2018 at 6:41 PM Gurpreet Singh <notifications@github.com>
wrote:

[2018-12-23 14:30] SidharthBansal commented on #4367
Right now just in the view.

[2018-12-23 14:31] SidharthBansal commented on #4367
We should make it non editable at database level too. @kunalvaswani123 are you willing to send patch for this too?

[2018-12-23 14:31] IshaGupta18 commented on #4244
I think this looks a bit better. What do you think @SidharthBansal @jywarren ? Ps: I am really sorry for the poor quality gif.

![inputfields 1](https://user-images.githubusercontent.com/40794215/50384625-67343000-06ed-11e9-88bf-3620a1e74ffb.gif)

[2018-12-23 14:32] SidharthBansal commented on #4367
Thanks @jywarren for input. I hope you are enjoying at the mountains. We are taking care of reviewing tasks in your absence.
Have a great wonderful journey

[2018-12-23 14:34] SidharthBansal commented on #4335
I am trying to explain you that you did PR for this issue instead of the tag one. You have changed the wrong files. I merged it because we also need this blog change. Still the tag issue is not solved.
You targetted wrong file in the PR.

[2018-12-23 14:42] gurpreet9001 commented on #4364
it say i don't have access rights

[2018-12-23 14:43] SidharthBansal commented on #4364
Can you explain what you are trying to do?
Have you installed plots2 on your laptop?

On Sun, Dec 23, 2018, 8:12 PM Gurpreet Singh <notifications@github.com
wrote:

[2018-12-23 14:44] gurpreet9001 commented on #4364
i am putting command in git bash to clone after forking the repo

[2018-12-23 14:44] shubhscoder commented on #4164
Ok I will check that out !

On Sun, Dec 23, 2018, 4:20 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-12-23 14:57] sagarpreet-chadha commented on #4369
Hi 😄 !

I was trying to get the **spinner**  work in Leaflet.blurred 🗺  library today and i got stuck 🙈  at one point :

#### How do i install different versions of same package in package.json  ?

_What i tried before reaching to a solution :_

* The issue here is that **leaflet-spinner** has peer dependencies of **leaflet@0.7.3 .**

* Peer dependencies are not installed automatically after **npm

[2018-12-23 15:07] SidharthBansal commented on #4364
Please clone the forked repository. You may be cloning publiclab/plots2.
Please try your_username/plots2

On Sun, Dec 23, 2018, 8:14 PM Gurpreet Singh <notifications@github.com
wrote:

[2018-12-23 15:13] dinaelhanan commented on #4335
@SidharthBansal ok so if I understand correctly, the tag still doesn't have link to login modal. I understand that. I'm just wondering if the blog one that I accidently worked on is fixed? Because you re-opened this issue?

[2018-12-23 15:13] gurpreet9001 commented on #4364
yes it worked

[2018-12-23 15:15] SidharthBansal commented on #4335
Neither of the two issues are fixed.

On Sun, Dec 23, 2018, 8:43 PM d1g1t4ld1n4 <notifications@github.com wrote:

[2018-12-23 15:38] kunalvaswani123 commented on #4367
I am not sure about keeping database columns readonly but I'll try.

[2018-12-23 15:45] SidharthBansal commented on #4367
We are there to help. You try your level best. If you need help. Ping us

On Sun, Dec 23, 2018, 9:08 PM Kunal Vaswani <notifications@github.com wrote:

[2018-12-23 15:50] thesparks commented on #4281
I changed 834 (at rendered view) and it works!
What is this code for? When I was working on this popup, this code did not exist.
`  .modal-content{
       opacity: 0;
  }`
![image](https://user-images.githubusercontent.com/17945250/50385231-ccdfe680-0704-11e9-863d-e315c0092d43.png)
![image](https://user-images.githubusercontent.com/17945250/50385250-2a743300-0705-11e9-9d91-9c7185b73f6e.png)

[2018-12-23 16:39] geekychaser opened #4373 "Rendering profile image along with username in comments section"
### Please describe the problem (or idea)

![image](https://user-images.githubusercontent.com/24489162/50385678-35c46000-06ff-11e9-8cdc-f461a64e5840.png)

Profile image should also be uploaded along with username in comment section

### What's your PublicLab.org username?

geekychaser

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* a

[2018-12-23 16:40] geekychaser commented on #4373
@jywarren @SidharthBansal can i solve this issue?

[2018-12-23 16:42] geekychaser commented on #4364
@gurpreet9001 Great then submit a PR

[2018-12-23 17:07] sagarpreet-chadha commented on #4281
Hi...this is great !

I think you can open a PR for this .
Before opening the PR can you test if this works fine in different window size ?
Also can you check whether this code was changed recently because it used to work fine before .

Thank you :)

[2018-12-23 17:16] shubhscoder commented on #4362
Thank you so much @gauravano . I will break this issue and start soon.

[2018-12-23 17:18] shubhscoder opened #4374 "Solving the N+1 query problem"

[2018-12-23 17:36] mzmmlds commented on #4342
@dave-light : are you on it? or may claim this?

[2018-12-23 17:50] gauravano commented on #3966
Hi @thesparks would you like to solve this one?

[2018-12-23 17:50] jywarren commented on #4183
This is looking great, thanks. Whenever we have to synchronize 2 forms of storage like this, it's a little bit worrisome, but I think that if we look at this thoroughly we should be OK.

Note that @okonek has implemented the nearby nodes logic here using tags - should we still merge this and then refactor once we have decimal lat/lon storage? https://github.com/publiclab/plots2/pull/4128/

Thanks!

[2018-12-23 17:52] jywarren commented on #4183
Note the exact line where it does a `NodeTag` search here; that'd be the only are that'd have to change: https://github.com/publiclab/plots2/pull/4128/files#diff-9546dd6074cdca7a128c2bf04fa5367aR98

[2018-12-23 17:53] jywarren commented on #4183
Also, it's useful to link to the issue/PR numbers for the checklist, if they exist, to help tie everything together. Would you mind adding issue numbers where they exist, or even "related to #0000"? Thanks!

[2018-12-23 18:02] jywarren commented on #4369
Hi, all! I am traveling this week and doing my best to keep up with the fast pace. So one additional struggle is being sure that, even in a limited amount of time, I look carefully at big project plans like those of @milaaraujo (on the API and especially latitude/longitude storage in the Node model! #4292) and @cesswairimu (on the community stats project, 📊 📈  #4302). I don't want to misread or mi

[2018-12-23 18:32] SidharthBansal commented on #4109
@jywarren there are some other similar issues. Like
![image](https://user-images.githubusercontent.com/20972099/50386545-d0786b00-070e-11e9-998e-a47c46ba4811.png) usernames are not linked with profile accounts.
This issue can be brainstormed and can be divided into multiple small issues. I don't think that it is an individual large project. It needs just brainstorming and some nice ftos to work up

[2018-12-23 18:47] jywarren commented on #4367
@SidharthBansal thank you! I believe we can just look at the users_controller.rb file and ensure that we are not accepting the username as modifiable. We could potentially add a functional test to ensure this.

Aside from directly assigning it, the only place this could happen is in mass assignment of parameters, which I'm not even sure Rails allows anymore. Thanks!

[2018-12-23 18:56] oorjitchowdhary commented on #4368
I think we should focus on this first as this is important...

For the password confirmation thing, I think it was introduced in #3984 and the same could be implemented here

[2018-12-23 19:08] SidharthBansal commented on #4368
2 & 3 is already present on the edit profile page. Just we need to change
the labels.

On Mon, Dec 24, 2018, 12:26 AM Oorjit Chowdhary <notifications@github.com
wrote:

[2018-12-23 19:09] SidharthBansal commented on #4368
Right now we are not focussing on #3948 type of things.
We will do these things once we complete this.
Thanks Oorjit.

On Mon, Dec 24, 2018, 12:38 AM Sidharth Bansal <
bansal.sidharth2996@gmail.com wrote:

[2018-12-23 19:14] oorjitchowdhary commented on #4358
I think the current layout with text seems fine, earlier this used to be not properly aligned because of the `list and grid` buttons but now its fitting right in two lines...
I just feel that only `icons` are a bit difficult to understand and navigate (specially for a newcomer)

[2018-12-23 19:46] IshaGupta18 commented on #4244
@SidharthBansal let me know if it looks good to you.

[2018-12-23 21:04] milaaraujo commented on #4183
After I finish the next two items in the list -  store lat/lon into node and synchronize deletion between the two means of storing lat/lon - we can open new issues to refactor all methods that use lat/lon tags. Actually, this is the last item of the checklist! So other collaborators can help with this and I can work on the other points of our contract, what do you think?

[2018-12-23 21:35] dinaelhanan commented on #4335
@SidharthBansal :/ ok I'll check it out :+1:

[2018-12-24 02:53] avsingh999 commented on #4359
@gauravano  I will solve it
thank you : )

[2018-12-24 02:59] avsingh999 opened #4378 "improve 'input fields' and 'button' in questions page"
In mobile view The input fields and button(continue, Search) not align.
![pub7](https://user-images.githubusercontent.com/25536022/50389892-f37a3d80-0755-11e9-8410-a9b90daeaedd.png)

[2018-12-24 04:09] thesparks commented on #3966
I'm not very good at ruby, I think it's better to someone else to do it.

[2018-12-24 04:57] #3931 closed

[2018-12-24 04:59] jywarren commented on #4183
That's super!

On Sun, Dec 23, 2018, 4:05 PM Camila Araújo <notifications@github.com wrote:

[2018-12-24 05:00] jywarren commented on #4368
This sounds great. Thanks!!!

On Sun, Dec 23, 2018, 2:10 PM Sidharth Bansal <notifications@github.com
wrote:

[2018-12-24 07:40] shubhscoder commented on #4164
@SidharthBansal The notification system has not been implemented. I will start working on that now. Thank you!

[2018-12-24 08:40] kunalvaswani123 commented on #4368
@SidharthBansal could you direct me to the code that handles password verification for login so that I can use it here.

[2018-12-24 08:52] dave-light commented on #4342
Hey @mzmmlds, I'm on it.

[2018-12-24 10:13] kunalvaswani123 commented on #4368
I am using .valid_password? to validate the password the user enters

[2018-12-24 10:25] sagarpreet-chadha opened #4381 "Changing API request URL in maps ."
This will be solved once this PR gets merged : **Change nearby nodes logic #4128**

Then we can use boundary condition to fetch data from API in maps .

[2018-12-24 10:28] sagarpreet-chadha opened #4382 "Add panning and zooming listenners to _leaflet.html.erb"
Will be solved once we have the API ready at : **Change nearby nodes logic #4128** .

Will add listeners so that we have dynamic fetching of data on map 🗺 !

[2018-12-24 10:30] sagarpreet-chadha opened #4383 "Add spinner to _leaflet.html.erb ."
To be done once #4381 and #4382 are successfully completed 😄 !

[2018-12-24 10:36] sagarpreet-chadha opened #4384 "Integration of new LEL features ."
Have to add dependencies and CSS to support new LEL features and layers .

https://publiclab.org/notes/sagarpreet/12-20-2018/new-features-in-leaflet-environmental-layers

[2018-12-24 10:41] shubhamkakkar opened #4385 "Planning/discussing React port + material design UI"
Javascript frameworks like react are way more better to develop a website, small chunks of code increases code readability, re-usable components etc make the website fast

There are various UI flows in the website, for say pagination isn't centered etc.

//issue taken

[2018-12-24 11:08] SidharthBansal commented on #4164
Great!!!

On Mon, Dec 24, 2018, 1:10 PM Shubham Sangamnerkar <notifications@github.com
wrote:

[2018-12-24 11:22] geekychaser commented on #4378
@avsingh999 i guess this is due to extra margin can i solve this?

[2018-12-24 12:03] #4335 closed

[2018-12-24 12:12] SidharthBansal commented on #4152
@dinaelhanan here is a screenshot
![image](https://user-images.githubusercontent.com/20972099/50399127-34e50a00-07a3-11e9-824e-977e6d687c60.png)

Can you see this font awesome icon?
![image](https://user-images.githubusercontent.com/20972099/50399135-45958000-07a3-11e9-90eb-847f053f50dd.png)

We need to link it to the correct place. Please do so. You worked at /blog instead of this.

[2018-12-24 12:18] SidharthBansal opened #4388 "Multiple Tag Subscription Functional Tests"
Write functional tests for the multiple tag controller action.

[2018-12-24 12:31] SidharthBansal commented on #4283
Fixed in #4340.

[2018-12-24 12:31] #4283 closed

[2018-12-24 12:35] SidharthBansal commented on #4244
Awesome!!!

[2018-12-24 12:42] IshaGupta18 commented on #4244
Should I create a PR for this then?

[2018-12-24 12:49] SidharthBansal commented on #4378
Yeah go ahead.

[2018-12-24 12:49] SidharthBansal commented on #4244
Yeah sure!!!

On Mon, Dec 24, 2018 at 6:12 PM Isha Gupta <notifications@github.com> wrote:

[2018-12-24 13:18] #4370 closed

[2018-12-24 14:42] IshaGupta18 opened #4392 "Route Error in logging in from wiki/events"
When on page /wiki/events and trying to log in from there, this error has been caught.

![image](https://user-images.githubusercontent.com/40794215/50401895-1f2e0f80-07b8-11e9-8402-0430cc803898.png)

Kindly have a look at it. Your help is truly appreciated.

[2018-12-24 14:59] IshaGupta18 commented on #4244
I am sorry I wasn't able to make a PR for this issue. I am facing some difficulty with git in doing so, I'll make a PR as soon as it is resolved.

[2018-12-24 15:00] SidharthBansal commented on #4392
Thanks Isha for reporting the issue.
Nice catch

[2018-12-24 15:01] IshaGupta18 commented on #4392
No problem!

[2018-12-24 15:04] SidharthBansal commented on #4244
Take your time. No hurry.

On Mon, Dec 24, 2018, 8:29 PM Isha Gupta <notifications@github.com wrote:

[2018-12-24 16:03] dinaelhanan commented on #4152
@SidharthBansal I'm not sure I did it correctly, please checkout the PR I opened. Thanks for all the help!

[2018-12-24 16:41] Sharadd15 opened #4396 "error at home ,`@' is not allowed as an instance variable name"
![screenshot from 2018-12-24 22-24-00](https://user-images.githubusercontent.com/44508838/50403941-e77c9300-07ca-11e9-8b69-f7345f8f5a49.png)

[2018-12-24 16:44] SidharthBansal commented on #4152
OK thanks.

On Mon, Dec 24, 2018, 9:33 PM d1g1t4ld1n4 <notifications@github.com wrote:

[2018-12-24 17:34] oorjitchowdhary commented on #4396
Hi, that is an issue on your localhost.. Try using 'git pull' perhaps your repo wouldn't be up to date.. Or you might have changed some files..
Otherwise the local host is working fine

[2018-12-24 18:38] gauravano commented on #3966
Okay, thanks!

[2018-12-25 08:53] #4244 closed

[2018-12-25 08:58] gauravano commented on #4396
Hi @Sharadd15 try once again after clearing your cache and then running server again. Let me know if issue is resolved or not? Thanks!

[2018-12-25 09:04] gauravano commented on #4392
Hi @IshaGupta18 could you point using which button or link you tried logging in? Also, if you want to solve it yourself, please go ahead. Thanks!

[2018-12-25 09:06] gauravano commented on #4385
@publiclab/community-reps

[2018-12-25 09:08] IshaGupta18 commented on #4392
The login button in nav bar. I even tried linking a button to login modal and logging in through that from the same oage (wiki/events) but it still didn't work, because both would mean the same altogether. I am so sorry but currently I am working on #4344 . In case it's done in time, I'll try to do this as well. If anyone wants to start working on this one, they are most welcome to.

[2018-12-25 09:48] oorjitchowdhary commented on #4392
@sidharthbansal this is the same error I was getting at #4254
Glad @ishagupta18 had reported this earlier

[2018-12-25 09:49] gauravano commented on #4100
Hey @okonek, is your issue resolved?

[2018-12-25 10:01] IshaGupta18 commented on #4392
Hey I locally tried @gauravano fix for this and it works really well, however, whenever I login (and probably wherever I login from) , I am redirected to root with this message, was this message intended to be there? (PS: I am sure it had nothing to do with @gauravano 's fix, if this message is an error)

![image](https://user-images.githubusercontent.com/40794215/50420016-f9594700-0859-11e9-8736-

[2018-12-25 10:02] gauravano commented on #4109
Let's start discussion with @esylvan's ideas:

We can use "PL notifications" too, or "Public Lab notifications" sounds good.

 We should decide on the format of subject first and then subject line. What header we use also affects subject as we then have to choose subject accordingly.

Public Lab blog's email has good footer for inspiration or a new footer can be designed.

@publiclab/community-rep

[2018-12-25 10:17] gauravano commented on #4392
Hey @IshaGupta18 @oorjitchowdhary I have resolved the login issue. @oorjitchowdhary please update your PR.

@IshaGupta18 yes, that error is not related to my fix. That error or say message is coming when you are on /login and try to login using modal?

[2018-12-25 10:30] gauravano commented on #4392
Whenever at time of login return to would be carrying ''/login" then this message would come, as login page can only be shown to logged out user. I don't think it should come at every page. This can be handled by removing the return_to if it contains "/login" . If you can specify, particular page or button at which this message is coming, then it would be of help. Thanks!

[2018-12-25 10:32] IshaGupta18 commented on #4392
By every page I meant on logging in from e=any page you are on right now.

[2018-12-25 13:49] oorjitchowdhary commented on #3913
I just encountered this issue... the current `everything` tag is just a normal tag like `balloon-mapping` or `spectrometer`.. it therefore shows posts like other tags...
So I think we should first make `everything` as a tag which will link all the content on PL

[2018-12-25 14:33] gauravano commented on #4392
Could you please paste the logs or GIF as I am unable to reproduce the error. I am trying on stable.publiclab.org as it is updated with master branch. Thanks!

[2018-12-25 14:50] oorjitchowdhary opened #4399 "Add a button for 'Digest' page"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-12-25 14:52] oorjitchowdhary commented on #4399
@publiclab/reviewers pls add the labels...

[2018-12-25 17:08] SidharthBansal commented on #4392
I have opened this issue as both of you are working on it. Once the issue which you both collaboratively are trying to solve is resolved, please feel free to close this issue.

[2018-12-25 17:44] gauravano commented on #2104
No, Email digests are not active. Thanks!

[2018-12-25 17:50] gauravano commented on #4392
Tried on stable.publiclab.org
![login_redirect1](https://user-images.githubusercontent.com/20878070/50425421-9e484400-089b-11e9-87d1-1820da76b398.gif)

Will check on localhost soon..

[2018-12-25 19:26] Souravirus opened #4401 "Strange behaviour after logging out"
After logging out of the website, and then clicking sign up button. I get logged in automatically.

I discovered this while working on bootstrap upgrade on sign up and login page.

![error](https://user-images.githubusercontent.com/17192149/50425999-e752c500-08a8-11e9-9c96-53a4357a37e9.gif)

@jywarren Please see this.

[2018-12-25 19:46] oorjitchowdhary opened #4402 "'Follow' button redirect to "/subscriptions" from "/tags""
### Please describe the problem (or idea)
When you click on the `follow` button of a tag at `/tags`, you're subscribed to that tag but you're also redirected to your `subscriptions` page. I think the redirect is redundant, just the subscription would be good enough.

#### Another issue
When you go back to `/tags` after subscribing to a particular tag, the `follow` button isn't updated to `followin

[2018-12-25 20:06] oorjitchowdhary commented on #2104
I think we have our email layout ready..
https://github.com/publiclab/plots2/blob/master/app/views/subscription_mailer/send_digest.html.erb

So do we need help regarding the backend code meaning the ruby code to send emails, organize the mail etc..??

[2018-12-25 20:11] oorjitchowdhary commented on #4396
I think you should try reinstalling the local environment...
Also, this may help you.. https://gorails.com/setup/ubuntu/18.04

[2018-12-26 02:38] kevinzluo commented on #4348
The issue is with https://github.com/publiclab/plots2/blob/fefa4aa7ed91776a7b1b25902e804089de2f9d89/app/views/tag/_location.html.erb#L14-L15

The selector targets both the blurred location modal and the new login modal. We need to make it select only the blurred input modal. @oorjitchowdhary would you like to fix this?

[2018-12-26 02:51] kevinzluo opened #4405 "Link Modal to Empty Notes Grid Message"
This is an FTO built off #4241

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and

[2018-12-26 02:51] kevinzluo commented on #4241
I have reposted this as an FTO in #4405

[2018-12-26 02:52] #4241 closed

[2018-12-26 09:46] oorjitchowdhary commented on #4109
This is great.. Even I find all the PL email notifications dull and boring. We can sort of make a template for all the outgoing emails and make the text descriptive and organized

[2018-12-26 09:48] SidharthBansal commented on #4109
You can give ideas and tell us what changes are required. If idea will be
liked then we can create a separate issue and will work on it.

On Wed, Dec 26, 2018, 3:16 PM Oorjit Chowdhary <notifications@github.com
wrote:

[2018-12-26 09:52] oorjitchowdhary commented on #4109
Yes, I'm searching for some inspiration and will then select and suggest the best one suited for PL.

[2018-12-26 09:57] #4171 closed

[2018-12-26 09:59] SidharthBansal commented on #4241
Thanks a lot.

[2018-12-26 10:03] #4230 closed

[2018-12-26 11:02] SidharthBansal commented on #4348
I have assigned this issue to Oorjit. Kevin is helping him and this is great appreciated.
Thanks

[2018-12-26 12:03] oorjitchowdhary commented on #2378
Here are some ideas for enhancing our digest page

I prefer this one.. We can show questions/notes/wiki as the main page.. And we can add recently posted stuff in the sidebar
![2221c1e5-2bdf-4833-9254-18f8519808f3](https://user-images.githubusercontent.com/39333058/50445341-224e0a80-0934-11e9-8b09-9c61cec9dfb2.jpeg)

This one is simpler but still would look great..
![ad244bf6-3e0b-4989-839c-8d7f13

[2018-12-26 12:26] geekychasser opened #4406 "'click to unfollow' is not working in /tag section"
### Please describe the problem (or idea)

![image](https://user-images.githubusercontent.com/24489162/50445798-16b01300-0937-11e9-8715-81c310da21f2.png)

here we are not able to unfollow the tags direct which we are following and it is redirected to this page,
but we should be able to unfollow directly from ```/tags```

![image](https://user-images.githubusercontent.com/24489162/50445840-5676fa80

[2018-12-26 12:30] geekychaser commented on #4402
@oorjitchowdhary I think after follow is clicked than it should be redirect to same page and doing so will resolve both the problems ?

[2018-12-26 12:49] oorjitchowdhary commented on #4406
Hi @geekychaser .. I don't find any unfollow button on the page. I think the `following` button was meant to function like this...
However, I think we can change this. So instead of the `following` button we show `unfollow` and its function would be to remove that subscription

This seems good.

[2018-12-26 12:54] geekychaser commented on #4406
@oorjitchowdhary on hovering over the ```following``` its show click here to unfollow.
![image](https://user-images.githubusercontent.com/24489162/50446522-44975680-093b-11e9-933d-d35ad00b53eb.png)

so on clicking it button should turn to ```follow``` again rather than redirecting to other page where we need to unfollow again

[2018-12-26 13:06] oorjitchowdhary commented on #4406
I just went through the issue on PL. You're right.
The `following` button should be firstly renamed to `unfollow`.
Then we see, if the button is clicked you're redirected to `/unsubscribe/tag/tag_name`. I think this where the problem is.
If you click unfollow on the /tags page or /subscriptions, you're redirected to some URL like `subscriptions?_=1545829506`

[2018-12-26 13:08] oorjitchowdhary commented on #4406
When you've successfully unsubscribed to a tag. You go to /tags again and then you'd have to refresh it once again to see it the button change to `follow`.

I think this page is missing AJAX. Sorry if I'm wrong

[2018-12-26 13:09] geekychaser commented on #4406
yes exactly this is the issue, and then you there again need to click on this button to this button to unfollow
![image](https://user-images.githubusercontent.com/24489162/50446904-832e1080-093d-11e9-91a7-1803aee7158d.png)

[2018-12-26 13:31] oorjitchowdhary commented on #4348
Hi, @SidharthBansal .. I'm really sorry I won't be able to complete this one. I'm gonna be off laptop for a while as I'm on a vacation.

[2018-12-26 13:37] kevinzluo commented on #4348
No worries @oorjitchowdhary . I will try to submit a fix then.

[2018-12-26 13:51] gauravano commented on #4164
This one is interesting. @shubhscoder let me know if you need any help. Thanks!

[2018-12-26 14:20] weirdwiz commented on #4405
Can I claim this issue? thanks

[2018-12-26 14:34] kevinzluo commented on #4405
Sure!

[2018-12-26 14:40] kevinzluo opened #4408 "Inline "people" powertag not working in development"
### Please describe the problem (or idea)

The `people` powertag doesn't seem to work in development, even after manually adding tags.

![peopletagnotworking](https://user-images.githubusercontent.com/44309027/50448961-ce1e3880-08e9-11e9-9155-157509a641dc.gif)

![peopletagnotworking2](https://user-images.githubusercontent.com/44309027/50448965-d24a5600-08e9-11e9-8b12-4743303ac9c2.gif)

### Please

[2018-12-26 14:43] kevinzluo opened #4409 "Unable to tag a user if tag exists already"
### Please describe the problem (or idea)

In development mode, admins are unable to tag a user manually if the tag already exists:

Unable to tag users.

![canttagpeople](https://user-images.githubusercontent.com/44309027/50449031-41c04580-08ea-11e9-8a5c-53dfcd64dc0b.gif)

### Please show us where to look
User profiles

### What's your PublicLab.org username?
kevinz_qu

### Browser, version, and

[2018-12-26 14:55] weirdwiz commented on #4405
is there a guide on how to structure commit messages and pull requests? I couldn't find one

[2018-12-26 15:03] kevinzluo opened #4410 "Change delete answer to remove entire element"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-12-26 15:04] cesswairimu commented on #4369
Hi everyone :wave: ,
A couple of struggles on my side especially on the ui, styling and basic layout.

-  One specific thing that I struggled with was date-picker positioning..sounds pretty simple but it was a pain to get it to appear where I wanted, asked for help from the community though the suggestions I got did not solve it I had to make some comprises.

- Another major struggle was a brakema

[2018-12-26 15:05] jywarren commented on #4369
Just a note also that this week many people are on holiday or vacation. Please be patient and activity will pick up a bit as people return over the next week or so!

[2018-12-26 15:10] oorjitchowdhary commented on #4399
@kevinzluo can you pls add the first-timers-only label. Thanks

[2018-12-26 15:15] Dhiraj240 commented on #4369
Hello everyone,
 I have not been active since 3 months and i only worked on reviewing PRs.Although i solved few issues in ```plots-2``` My main focus in this week will be to take up the new issues and work on pending issues too.Now my performance from this week will be consistent to get some edge in other projects. especially on solving issues.

[2018-12-26 15:39] kevinzluo commented on #4405
@weirdwiz There aren't really any templates for commit messages, but there should be one for PRs. Just use whatever you feel is best!

[2018-12-26 15:52] oorjitchowdhary commented on #1858
![publiclab_spectralworkbe](https://user-images.githubusercontent.com/39333058/50450458-36a1ff80-0954-11e9-97e5-3dc6986c765d.gif)

This issue still persists. But this is the current flow. It minimizes the tab

[2018-12-26 16:21] kevinzluo opened #4412 "Signup link broken on login page"
### Please describe the problem (or idea)

Signup link doesn't work on stable.publiclab.org/login

![signupnotworking](https://user-images.githubusercontent.com/44309027/50451154-eeed8a80-08f7-11e9-9632-7ec766da102d.gif)

### Please show us where to look

https://stable.publiclab.org/login

### What's your PublicLab.org username?
kevinz_qu

### Browser, version, and operating system

****

## Than

[2018-12-26 16:36] SidharthBansal commented on #4369
Nice to see you again Dhiraj. As Jeff wrote, this week will be low
intensity week as most of the people are travelling across globe and having
vacations.
I am available to help you all as much as I can.
Dhiraj it will be great to complete the existing tasks taken by you before
taking new ones.

On Wed, Dec 26, 2018, 8:45 PM Dhiraj Sharma <notifications@github.com wrote:

[2018-12-26 16:57] #4161 closed

[2018-12-26 16:57] #4229 closed

[2018-12-26 18:35] geekychaser commented on #4369
Hello everyone,
This week I am working on some ```/tags``` related issues and some UI related problems and will try to complete them as soon as possible and will try to form some more issues.
Special thanks to @SidharthBansal @oorjitchowdhary for lots of support and helping out to make things more clear

[2018-12-26 18:50] oorjitchowdhary commented on #4109
Here are some suggestions...

This one can be used for mentions maybe or replies/comments on a particular thread.
[image1.jpeg]

This one can be used for the email sent to a user subscribed to particular tag/tags
[image2.jpeg]

This one can be used for maybe the email to moderators.. (I'm also working on the active svg thing and hope to complete it soon!)
[image3.jpeg]

This one for posting a new

[2018-12-26 18:57] SidharthBansal commented on #4323
Hi @jywarren from the unstable build please see the last two lines in the screenshot below
![image](https://user-images.githubusercontent.com/20972099/50454473-dddf6080-096d-11e9-999d-06666b35a1c2.png)

@jywarren can you please set the Keys to values present at production branch. I think then the problem will be solved. Thanks.

[2018-12-26 19:12] kevinzluo commented on #4323
@SidharthBansal I believe we tried adding the keys before. It made the reCAPTCHA box appear, but it didn't validate properly:
https://github.com/publiclab/plots2/pull/3984#issuecomment-445308460

[2018-12-26 19:15] SidharthBansal commented on #3439
@kevinzluo is working on this.

[2018-12-26 19:17] SidharthBansal commented on #4250
Is anyone working on this? @kevinzluo @oorjitchowdhary ?
I think @kevinzluo might be working on this as it is continuation of his PR.
Thanks

[2018-12-26 19:20] SidharthBansal commented on #4231
@oorjitchowdhary are you going to create a PR for this? I think this is one of the many issues claimed by you.
Thanks.

[2018-12-26 19:21] SidharthBansal commented on #4207
@oorjitchowdhary can you please check this behaviour and tell me. I think we should close this. I have solved this @jywarren.
Thanks everyone.

[2018-12-26 19:32] gauravano commented on #4412
@kevinzluo would you like to make this FTO or should I? Thanks!

[2018-12-26 19:35] oorjitchowdhary commented on #4231
https://github.com/publiclab/plots2/blob/70fdeb1a5fb43d33aea71868d6d346c39959ad0b/app/views/grids/_notes.html.erb#L66-L73

The `requireLogin` class is already implemented here by @kevinzluo ... I think this might have also solved this issue.. But we may need to try it out on localhost.

[2018-12-26 19:38] SidharthBansal commented on #4151
@oorjitchowdhary this is one of the issues you claimed but have not sent a pr.
Commenting under an issue means you are working on it, in other words it means you have claimed it. I really appreciate your help. But as a mentor, my guidance would be to stay focussed to 3 issues at most. Please don't take more than 3 issues for atleast 3-4 months. It will make your initial journey very tough to Open

[2018-12-26 19:40] SidharthBansal commented on #4154
@kevinzluo can you please check this up and also make a pr in case it is needed. It is similar to the PRs you are submitting nowadays.

[2018-12-26 19:40] SidharthBansal commented on #4154
Thanks all.

[2018-12-26 19:42] SidharthBansal commented on #4160
@kevinzluo have you tested it?

[2018-12-26 19:44] kevinzluo commented on #4412
@gauravano Please go ahead! I am preoccupied with something else currently.

[2018-12-26 19:45] SidharthBansal commented on #4188
@gauravano have you checked this? I submitted the patch and I believe it is working correctly.
Just want to do cross check.
We have two separate issues one for the login return to and other is for sign up modal. We can those which are working correctly.
I did both in December.
Thanks

[2018-12-26 19:46] SidharthBansal commented on #4191
@oorjitchowdhary I think this is solved. You did some changes related to this.
Is it solved? Can you please check thanks.

[2018-12-26 19:48] oorjitchowdhary commented on #4231
@SidharthBansal How can I add the grid in the wiki page.. I'm not able to do it.
was it something like `[grid:test}`?

[2018-12-26 19:48] SidharthBansal commented on #4231
I also think that this has solved this issue.
Can you please try out if issue is still present? In case it is not present then please close the issue.
Thanks Oorjit.

[2018-12-26 19:51] oorjitchowdhary commented on #4231
I'm trying it out but I'm unable to add the grid to on localhost.. I'm not able to remember the command. How do i add the grid

[2018-12-26 19:53] gauravano commented on #4188
Here's for the login  - https://drive.google.com/open?id=186KAwftumt7dVeROgUkgimMbqwXJel7V

[2018-12-26 19:53] gauravano commented on #4188
I think this is what we are looking for? @SidharthBansal

[2018-12-26 19:53] gauravano commented on #4412
No issue @kevinzluo. Thanks!

[2018-12-26 19:54] SidharthBansal commented on #4369
Who is willing to do next week checkins? We do this process in rotations so that each one will get an opportunity to do checkins. You need to just create a similar issue on Monday like this and close previous weeks issue.
Thanks

[2018-12-26 19:57] cesswairimu commented on #4369
@SidharthBansal I would love to do next week's checkins

[2018-12-26 20:01] SidharthBansal opened #4413 "Simplify the questions page"
As per @jywarren's suggestion, we want to change the design to
![image](https://user-images.githubusercontent.com/20972099/50455916-fe5fe880-0976-11e9-86be-137434509c7d.png)
See publiclab.org/questions/
app/views/questions/show.html.erb
Refer https://github.com/publiclab/plots2/pull/4255#issuecomment-446419979
Related to #4159.

[2018-12-26 20:03] SidharthBansal commented on #4413
Refer https://github.com/publiclab/plots2/pull/4255 for discussion.

[2018-12-26 20:08] SidharthBansal commented on #4188
Awesome
Many thanks to you for checking this again. Let's close this then
@jywarren return to is solved now.

[2018-12-26 20:08] #4188 closed

[2018-12-26 20:09] SidharthBansal commented on #4369
This will be great!!!
Thanks Cess.

On Thu, Dec 27, 2018 at 1:27 AM Cess <notifications@github.com> wrote:

[2018-12-26 20:14] oorjitchowdhary commented on #4151
@SidharthBansal I'm really very sorry and promise this won't happen again.
Here's my PR. #4414

[2018-12-26 20:18] SidharthBansal opened #4415 "Link Sign Up modal to the Question page"
![image](https://user-images.githubusercontent.com/20972099/50456254-3bc57580-0979-11e9-82e5-35cd4f956fed.png)
See last line's keyword: ``Sign up`` . Please link it to the sign up modal
Refer http://localhost:3000/questions/qwerty/12-15-2018/uihjn-m#post-answer

[2018-12-26 20:19] SidharthBansal commented on #4415
@kevinzluo can you check and tell whether we have created the common function for Sign Up as we created for the login.
I think we have not created one till now. Will you be willing to step forward and create one function for it?
Thanks

[2018-12-26 20:20] SidharthBansal commented on #4415
Don't forget to link it here. Thanks

[2018-12-26 20:21] oorjitchowdhary commented on #4191
I want to check the behaviour but I'm unable to replicate the grid on localhost. How can I add the grid to my notes on localhost?

[2018-12-26 20:34] oorjitchowdhary commented on #4132
I'm creating a fto for `ask related question`

[2018-12-26 20:37] oorjitchowdhary opened #4416 "Link login modal to 'Ask related question'"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all) built off #4132 . This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out a

[2018-12-26 20:38] SidharthBansal commented on #4132
Please note that linking to login modal common function is made. So for
that you can create a fto
 But linking to signup modal common Js function is not made as per as I
remember. So please don't form fto for that.
Please link fto to here for sure. Thanks a lot.

On Thu, Dec 27, 2018, 2:04 AM Oorjit Chowdhary <notifications@github.com
wrote:

[2018-12-26 20:39] oorjitchowdhary commented on #4132
Here, #4416 for adding login modal

[2018-12-26 20:40] oorjitchowdhary commented on #4194
@SidharthBansal Can I work on this? Or do I have any more pending issues

[2018-12-26 20:49] SidharthBansal commented on #4194
Please check your github linked gmail. If you have completed all other tasks claimed then go for it.
Just I want you to be focussed. Its better to learn a topic then to have overview of all the headings present in the book. Please solve things piece by piece. It will create your job very easy.
**You can work on this one!!!**
Thanks

[2018-12-26 21:12] oorjitchowdhary commented on #4218
Hi @SidharthBansal .. Just looked through this again. The alert bar works by the controller code. So I can change the `href='/login'` but i don't know how can I toggle a modal from ruby controller. If I do `data-target=#loginModal`, it becomes a comment due to `#`

https://github.com/publiclab/plots2/blob/c57cbe65ca29f9dd761b6a4dcbd63ef96c84a27a/app/controllers/subscription_controller.rb#L79-L83

[2018-12-26 21:14] oorjitchowdhary commented on #4194
Is this getting solved in #4240 ?

[2018-12-26 21:20] ValentinaTironi commented on #4224
Hey! I'm ready to work on this. What do you say @JonathanXu1? I'll check the code now and help as I can :)

[2018-12-26 21:45] ValentinaTironi commented on #4224
I was thinking and I will make different pull requests where the controllers is separated from models, javascripts, etc. Do you agree? @gauravano @JonathanXu1 @SidharthBansal

[2018-12-26 22:13] jywarren commented on #4224
I think breaking it up into pieces is a great idea. Makes it easier to
review as well!

On Dec 26, 2018 4:45 PM, "Valentina Tironi" <notifications@github.com>
wrote:

I was thinking and I will make different pull requests where the
controllers is separated from models, javascripts, etc. Do you agree?
@gauravano <https://github.com/gauravano> @JonathanXu1
<https://github.com/JonathanXu1> @SidharthB

[2018-12-26 22:14] ValentinaTironi commented on #4224
Great! I'm on that :)

[2018-12-26 22:48] JonathanXu1 commented on #4224
Alright, how should we divvy up the tasks?

[2018-12-26 22:49] ValentinaTironi commented on #4224
I'm working now in controllers, maybe you can start with javascripts files? What do you think?

[2018-12-26 22:51] JonathanXu1 commented on #4224
Sure let's do that for now and see

[2018-12-26 22:54] ValentinaTironi commented on #4224
Great! Let me know if you need help :) Here is my pull request if you check out it #4417 but I'm still working on that so I didn't finish

[2018-12-27 00:02] JonathanXu1 commented on #4194
Yeah, I'm just trying to install public lab on my local machine to verify if the routing works. Everything else works.

[2018-12-27 06:15] SidharthBansal commented on #4207
It is merged. Some folks checked it that time before merging.
Just want to cross check as this is very important issue in Login Sequence
project.

On Thu, Dec 27, 2018, 12:54 AM Gaurav Sachdeva <notifications@github.com
wrote:

[2018-12-27 06:21] SidharthBansal commented on #4231
I will suggest you to read following first then do other things.
https://publiclab.org/wiki/power-tags this will help you understanding one
of the extra ordinary feature built by @jywarren. Then please continue with
the work. I believe your doubt will be solved after reading it up.

On Thu, Dec 27, 2018, 1:21 AM Oorjit Chowdhary <notifications@github.com
wrote:

[2018-12-27 06:31] cesswairimu commented on #4399
Awesome @supasheva, go for it

[2018-12-27 06:32] oorjitchowdhary opened #4419 "Link login modal to 'ask a related question'"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to `ask a related question`). For modularity, this is separate from linking the button.

![image](https://user-images.githubusercontent.com/39333058/50468685-2d09ad80-09cf-11e9-9a0c-e0e51f0a6434.png)

[2018-12-27 06:33] oorjitchowdhary commented on #4132
#4419 linking login modal to `ask a related question`
![image](https://user-images.githubusercontent.com/39333058/50468765-76f29380-09cf-11e9-9a91-288a0c590799.png)

[2018-12-27 06:45] oorjitchowdhary commented on #4231
Hi, @SidharthBansal .. This is not yet solved. I tried it. I was able to link the modal here but the current flow is:
1. User clicks on help answer future questions
2. Login modal shows up
3. A successful sign in redirects to the same page
Is this flow okay?

I had reported a similar issue #4218 which I'm currently trying to complete.
I have the same error there.
Through, the `class='requireLogin'

[2018-12-27 07:03] IshaGupta18 commented on #4413
Hey, I could help in this one!

[2018-12-27 07:04] oorjitchowdhary commented on #4218
Here's the current status..

The subscribe button when clicked
![subscribe button login modal](https://user-images.githubusercontent.com/39333058/50469627-4876b780-09d3-11e9-8381-98c19471c45e.gif)

1. user clicks subscribe
2. login modal shows up
3. successful login redirects to same page
4. click subscribe and you're following that tag
The validation messages in the login modal is a separate issu

[2018-12-27 07:06] oorjitchowdhary commented on #4218
As #4218 and #4231 are related .. I'll send a patch for both ..
But @SidharthBansal please review this first and tell me what are the changes required here

[2018-12-27 07:10] oorjitchowdhary commented on #4419
PR #4414 solves this issue

[2018-12-27 08:00] kunalvaswani123 commented on #4367
@jywarren I agree a simple check in user_params that current username is equal to previous .. I'll send a patch for this after my https://github.com/publiclab/plots2/pull/4386 is merged since I have made some changes for update action in that thus to avoid conflicts

[2018-12-27 09:36] shubhscoder commented on #4164
@gauravano I have made a PR for this. Can you please check if everything is good or we need some more additions? Thank you so much!

[2018-12-27 10:19] oorjitchowdhary opened #4422 "Login modal not working at /profile"
### Please describe the problem (or idea)
The login modal is not working when clicked through the header on /profile.

![profile login modal](https://user-images.githubusercontent.com/39333058/50476636-db711b00-09ee-11e9-8102-ec8e2541566b.gif)

### Please show us where to look

https://publiclab.org/profile

### What's your PublicLab.org username?

oorjit_chowdhary

### Browser, version, and opera

[2018-12-27 10:42] oorjitchowdhary opened #4423 "Enhance the profile page"
### Please describe the problem (or idea)
The current `user profile page` looks very unorganized and broken.
I think we can design it and make it look much better.

![screenshot 133](https://user-images.githubusercontent.com/39333058/50477264-913d6900-09f1-11e9-8982-85ec14bad05a.png)

How about a small image grid for the `activities`, `questions` and `answers`.
Also, we can reduce the `share your

[2018-12-27 10:48] oorjitchowdhary commented on #4350
@kunalvaswani123 Would you like to take this up?

[2018-12-27 10:52] kunalvaswani123 commented on #4350
@oorjitchowdhary I could start with the read more button part ..

[2018-12-27 10:55] oorjitchowdhary commented on #4350
Ok cool!

On Dec 27, 2018, at 4:22 PM, Kunal Vaswani <notifications@github.com<mailto:notifications@github.com>> wrote:

@oorjitchowdhary<https://github.com/oorjitchowdhary> I could start with the read more button part ..

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/publiclab/plots2/issues/4350#issuecomment-450128344>, or

[2018-12-27 10:58] kunalvaswani123 commented on #4350
@oorjitchowdhary I am traveling tomorrow .. I'll do as much as I can today and I'll resume work on 29 ..

[2018-12-27 11:35] SidharthBansal commented on #4423
Nice idea. Can you please explain your design in detail?
Please share link or video of the website where it is live. That will be great.

[2018-12-27 11:42] SidharthBansal commented on #4132
Hi all, in case you find an issue related to this please feel free to jot it here in form of unchecked check boxes here into the list. Your help is very much needed here.
We will make separate issues for them once the issues present on the issue tracker are solved. We want to decrease the issues on issue tracker to less than 500 before creating new issues from this list.
Thanks all.

[2018-12-27 11:48] geekychaser opened #4424 "add logo of Public Lab along with heading"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-12-27 11:48] geekychaser commented on #4424
@SidharthBansal please add fto label

[2018-12-27 11:51] geekychaser commented on #4402
I tried rendering on same page after click but the tag is not subscribed then.

[2018-12-27 11:52] SidharthBansal commented on #4369
There are over 500+ help wanted issues. Please try to solve as many as you
want. We want them to be decreased asap.
Thanks

On Thu, Dec 27, 2018, 3:54 PM Aditya Kumar <notifications@github.com wrote:

[2018-12-27 11:53] SidharthBansal commented on #4413
Great

[2018-12-27 11:57] oorjitchowdhary commented on #4424
@geekychaser please mention the code links and also the solution...
FTO issues are meant to introduce new people to our codebase

[2018-12-27 12:07] IshaGupta18 commented on #4413
Could you please elaborate more on this? I have read the discussion at #4255 but could you tell me exactly what is to be linked with what? Thank you very much and I am so sorry if I bother you too much

[2018-12-27 12:17] oorjitchowdhary commented on #4423
I haven't seen it on any live website yet...
I just came through this idea.

Here are some grid images that we can add...

For answers
![answer icon](https://user-images.githubusercontent.com/39333058/50479945-2135df80-09ff-11e9-98ea-912a0f83d79b.png)

For questions
![faq-icon](https://user-images.githubusercontent.com/39333058/50479949-2430d000-09ff-11e9-9615-2aa0676f378c.png)

These three for ac

[2018-12-27 13:10] SidharthBansal commented on #4413
You can check the current design at pl. We have different buttons. Now we want to club them together as shown in the design given above.
Flag post to moderator will be linked to opening of Mozilla Thunderbird etc... For email purpose
Spam post will be linked as the current spam button is linked.
Become a moderator and other button, I need to search them in the codebase and tell you

[2018-12-27 13:12] SidharthBansal commented on #4413
Also please see that some buttons will be only viewed to the admin or moderator while other buttons will be viewed by non admins and non moderators only.
So,we will be looking for if-else condition for this.
Thanks

[2018-12-27 13:17] SidharthBansal commented on #4413
For the other two buttons let's ask @jywarren. I think become a moderator should open up email to moderation@publiclab.org .

[2018-12-27 13:19] IshaGupta18 commented on #4413
Absolutely, so if I have got this right, this is what needs to be done:
1)  On clicking the flag button now, a popover will be displayed, that popover will contain:
Flag post to moderators, Spam post, Spam post and ban user for admins/moderators
Flag post to moderators, become a moderator for non admin/non moderators

2) Flag post to moderators will be linked to Mozilla Thunderbird etc. for email

[2018-12-27 13:33] #4151 closed

[2018-12-27 13:33] #4419 closed

[2018-12-27 13:37] IshaGupta18 commented on #4413
Yes I agree, it would be wise to wait for @jywarren to get the correct idea about the functionality. I hope he is having an amazing time :D
When a user, be it moderator or normal, asks a question for the first time, moderator has to mark it approved or spam.
For the next time onwards, the question is posted. On clicking th flag button, the setup for mail account is shown for now. I think once its

[2018-12-27 13:39] SidharthBansal commented on #4413
Yes it is the expected behaviour.
Thanks

On Thu, Dec 27, 2018, 7:07 PM Isha Gupta <notifications@github.com wrote:

[2018-12-27 14:17] gauravano commented on #4369
I struggled a lot while completing my first PR with Public Lab. Why because I got scared from the huge codebase, I tried to go through the whole repo at once, but was it really the right way? I think No. Because, I was not a superhero that I would just read the project and all features understood, it took time for me in getting familiar. I started with small issues, focussed only on that part whic

[2018-12-27 14:31] IshaGupta18 commented on #4422
Hey @oorjitchowdhary I think I migh have a fix for this, can I take it up and create a PR?

[2018-12-27 14:41] gauravano commented on #4422
It's related to profile page. At profile page, no modal is displaying, so something wrong with CSS, JS may be. thanks!

[2018-12-27 14:45] gauravano commented on #4423
@publiclab/community-reps your thoughts are required. Thanks!

[2018-12-27 14:46] IshaGupta18 commented on #4422
I was able to display the login modal, it was a CSS thing, however I don't know about the other modals at profile page. So sorry. Thanks

[2018-12-27 14:47] gauravano commented on #4424
yes, @geekychaser please add relevant code links, issue description and then get it labeled. Thanks!

[2018-12-27 14:49] IshaGupta18 commented on #4422
I think the sign up modal is showing up just fine. I think the "link social media" modal will show up when #4281 is merged. If it's the case just for the login modal, let me know if I can help. I am so sorry to bother you. Thanks a lot!

[2018-12-27 14:56] SidharthBansal commented on #4369
Thanks for sharing your experience. We all faced the same problem. You are
correct we should explore piece by piece.

On Thu, Dec 27, 2018, 7:47 PM Gaurav Sachdeva <notifications@github.com
wrote:

[2018-12-27 15:04] oorjitchowdhary commented on #4423
So currently in the profile page, we have a lot of empty space and the center shows 4 things
`x questions`, `x activities posted`, `x activities attempted` and `x answers posted`...
The current UI is very plain and simply shows it as text in 2 lines. (see the pic)

What we could do is, we can make these into 4 quadrants through a 2x2 image grid

[2018-12-27 15:13] oorjitchowdhary commented on #4218
@publiclab/reviewers

[2018-12-27 15:16] SidharthBansal commented on #4218
Linking of modals is under me.
Wait I will review after dinner.
Thanks

On Thu, Dec 27, 2018, 8:43 PM Oorjit Chowdhary <notifications@github.com
wrote:

[2018-12-27 15:17] oorjitchowdhary commented on #4218
Oh okay sure.. Sorry to disturb you
Thanks

[2018-12-27 15:18] gauravano commented on #4422
Hey, no need to be sorry :)
#4281 is an issue, are you interested in solving that or should I? Thanks!

[2018-12-27 15:20] IshaGupta18 commented on #4422
Thank you! I think someone has proposed a solution for #4281 already and someone has asked for their PR.

[2018-12-27 15:32] thesparks commented on #4281
@gauravano Hi. I am busy studying now, I need a lot of things to pass. Maybe someone else wants to work on this?

[2018-12-27 15:43] IshaGupta18 commented on #4281
@gauravano can I create a PR for this then? Would it be okay?

[2018-12-27 15:44] gauravano commented on #4281
No issue @thesparks and all the best! Yes @IshaGupta18 please go ahead. Thanks both of you :smiley: !

[2018-12-27 15:52] gauravano commented on #4207
It's merged but haven't been pushed to production till now. So, we can check functionality at stable.publiclab.org but issue is captcha doesn't work there and when we switch to spamaway = true (alternate captcha approach), the link get reset on redirect. So, I guess we can check this one once it is pushed to production. Thanks!

[2018-12-27 15:52] #4348 closed

[2018-12-27 15:58] #4399 closed

[2018-12-27 16:04] IshaGupta18 commented on #4281
#4425 is the link to my PR for this issue. I am waiting for approval @gauravano and hope everything works out! Thanks a lot. A special thanks to @thesparks for helping out on this issue!

[2018-12-27 16:11] oorjitchowdhary commented on #4242
Hi @SidharthBansal, is this issue solved?

[2018-12-27 16:21] #4281 closed

[2018-12-27 16:31] oorjitchowdhary commented on #2917
Hi all, do we still need this issue..
I think we've removed that type of sidebar on wikis

This is the current layout
![image](https://user-images.githubusercontent.com/39333058/50487103-ea71c080-0a22-11e9-8d51-6c7a78181744.png)

[2018-12-27 16:33] SidharthBansal commented on #4207
OK great thanks

On Thu, Dec 27, 2018, 9:22 PM Gaurav Sachdeva <notifications@github.com
wrote:

[2018-12-27 16:43] oorjitchowdhary commented on #1487
Hi all, I think the `flag as spam` button is active everywhere now.. wikis, questions, notes, comments, answers, and comments on answers

So I think we can close this
Thanks

[2018-12-27 16:44] kevinzluo commented on #4231
Yes @oorjitchowdhary , I also saw that the require login class doesn't work for these types. I think it is because when the user is not logged in the links redirect to a different page. I'm not too sure how to fix this.

[2018-12-27 18:28] oorjitchowdhary opened #4426 "Login modal unresponsive on iOS devices"
### Please describe the problem (or idea)
The login modal is not working on mobiles (iOS).

In the GIFs attached, I kept on clicking the login buttons wherever we've implemented a modal. It didn't open up.

![screenrecording_122720182347 1](https://user-images.githubusercontent.com/39333058/50490434-0ed59900-0a33-11e9-9237-e5aa7f5e5e1a.gif)
![screenrecording_122720182347](https://user-images.githu

[2018-12-27 18:36] oorjitchowdhary commented on #2102
Can we close this as the `dashboard` redesign discussion is open at https://publiclab.org/notes/edie_blues/12-13-2018/public-lab-dashboard-new-design-ideas ..
@publiclab/reviewers

[2018-12-27 18:54] gauravano commented on #2102
Hi @oorjitchowdhary let's keep it open till @jywarren @ebarry reply. Maybe this can be used as an idea for the new design. Thanks!

[2018-12-27 19:04] SidharthBansal commented on #4154
Can you check what happens to the already liked wiki page when it is clicked while the user is not logged in?
In the PR merged there was code which is redundant now. We should delete them and use requireLogin class.

[2018-12-27 19:07] SidharthBansal commented on #4242
All the issues which are open of ``OAuth`` milestone are not solved that is why they are open. I am core mentor for ``OAuth`` milestone. So, I will be closing all the issues whenever they will be needed.
Thanks.

[2018-12-27 19:08] Souravirus commented on #4369
Hi everyone, hope everyone is enjoying their holidays. I am currently working on upgrading to bootstrap4 in #3937 and hoping to complete by the next week.
Thank you!!

[2018-12-27 19:10] oorjitchowdhary commented on #4154
Same behaviour if the user has already liked it and still clicks the like button when logged out

[2018-12-27 19:12] SidharthBansal commented on #4154
We need to see the state of liked.
If user has not liked it and clicks and then logs in this implies like count will increase.
If user has liked it already and clicks on like button then logs in through modal, it implies like count should decrease.
Does this makes sense?

[2018-12-27 19:12] #4297 closed

[2018-12-27 19:13] oorjitchowdhary commented on #4242
I think for this issue's PR #4258 .. we just need the `requireLogin` class I think

[2018-12-27 19:14] oorjitchowdhary commented on #4154
I get it.. But I can't really test it.. I'm redirected to /dashboard everytime after a modal log in

[2018-12-27 19:14] SidharthBansal commented on #4242
Yeah, @okonek is working on it.
Please read the conversation fully to avoid confusions.

[2018-12-27 19:16] SidharthBansal commented on #4242
You are contributing very much to Public Lab but on the other hand you are in a hurry. Please don't be in a hurry. Haste makes waste. Please stay focused and give time to all the issues and prs appropriately on which you are commenting. It will help you a lot.
Thanks

[2018-12-27 19:17] SidharthBansal commented on #4154
Please check at localhost. PL.org has is much behind master.

[2018-12-27 19:18] oorjitchowdhary commented on #4242
Yes, I understand. Thank you for the guidance and sorry for the haste approach

[2018-12-27 19:19] oorjitchowdhary commented on #4154
Oh okay

[2018-12-27 19:19] SidharthBansal commented on #4242
No problem, mentors are there to help you.

[2018-12-27 19:22] SidharthBansal commented on #4350
Ok great. No problem.

On Thu, Dec 27, 2018 at 4:28 PM Kunal Vaswani <notifications@github.com>
wrote:

[2018-12-27 19:37] SidharthBansal commented on #4154
OK great. So this is solved.
Let's close this.
Thanks Oorjit for your help.

[2018-12-27 19:37] #4154 closed

[2018-12-27 19:43] SidharthBansal commented on #4392
What's the status?

[2018-12-27 21:11] oorjitchowdhary opened #4431 "Link login modal on 'ask a question about' tag button"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to `ask a question about tag`. For modularity, this is separate from linking the button.

[2018-12-27 21:14] oorjitchowdhary commented on #4132
* [ ] `ask a question about tag` on tags.. #4431

[2018-12-27 21:46] #4160 closed

[2018-12-27 21:46] #4218 closed

[2018-12-27 21:48] #4231 closed

[2018-12-27 21:48] #4431 closed

[2018-12-27 22:06] SidharthBansal commented on #4191
I have shared a post. Please check it up.

On Thu, Dec 27, 2018 at 1:51 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-28 00:51] ValentinaTironi commented on #4224
OK, I think I finished with controllers so tomorrow I'll starting work with models :)

[2018-12-28 06:39] oorjitchowdhary commented on #3840
This is strange. Where did you view this error? On localhost:3000 or the terminal?

[2018-12-28 12:11] SidharthBansal commented on #4132
Hi everyone, can you please search the website and tell us if still more such linking issues are present. If they are present then please write comment in this thread and make a fto for it.
Thanks

[2018-12-28 12:13] SidharthBansal commented on #4132
@oorjitchowdhary can you please create ftos for the remaining stuff of https://github.com/publiclab/plots2/issues/4132#issuecomment-450020938. I believe that you know what is remaining so it will be quite easy for you. Hence pinging you. Don't forget to link them here.
Thanks.

[2018-12-28 12:36] oorjitchowdhary opened #4433 "Link login modal to 'subscribe button' on flash message"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-12-28 12:36] SidharthBansal commented on #4422
Is this issue now solved?

[2018-12-28 12:40] IshaGupta18 commented on #4422
No this one isn't but I do have a solution in mind for this, do you me to make a PR for it? Will it be okay @gauravano ?

[2018-12-28 12:41] SidharthBansal commented on #4132
Can you please create fto for it?

On Fri, Dec 28, 2018, 5:59 PM Oorjit Chowdhary <notifications@github.com
wrote:

[2018-12-28 12:42] SidharthBansal commented on #4132
Also check at the website if there are more places where we need to link
the modals. That would be a great help.
Thank you

On Fri, Dec 28, 2018, 6:11 PM Sidharth Bansal <bansal.sidharth2996@gmail.com
wrote:

[2018-12-28 12:43] SidharthBansal commented on #4422
If you have a solution in your mind then please submit a PR.
Thanks

On Fri, Dec 28, 2018, 6:10 PM Isha Gupta <notifications@github.com wrote:

[2018-12-28 12:53] Sharadd15 commented on #4396
I have changed the version and everything seems to work correctly but still this error persists

![screenshot from 2018-12-28 18-20-19](https://user-images.githubusercontent.com/44508838/50515900-88bb6000-0acf-11e9-9afe-82f28b1ecba8.png)

[2018-12-28 12:54] IshaGupta18 commented on #4422
#4434 is my PR for this issue, I am waiting for approval @SidharthBansal @gauravano . I hope everything works out! Thanks a lot everyone!

[2018-12-28 14:11] gauravano commented on #4426
We have to think about alternative to modal or make our modal responsive. Thanks!

[2018-12-28 14:14] gauravano commented on #4424
Let's ask @jywarren @publiclab/community-reps before starting with this issue. Thanks!

[2018-12-28 14:16] gauravano commented on #4406
Hi @geekychaser @oorjitchowdhary do you guys like to work on this issue together?

[2018-12-28 14:34] HarshKhandeparkar commented on #4426
Does the access token modal work? It's animations are written in pure js and only the styling is done using bootstrap. Maybe this way it may work on ios because safari is not as advanced as other browsers. Another thing is that this should be tested on other browsers as well

[2018-12-28 14:35] geekychaser commented on #4424
@gauravano yes, i have added the code link also lets wait for the confirmation

[2018-12-28 14:36] geekychaser commented on #4424
@SidharthBansal can i make seperate ftos for fa icons ?

[2018-12-28 15:13] gauravano commented on #4396
Same error is encountered here https://github.com/publiclab/plots2/pull/4418#issuecomment-450285739 by @vnallamhawk.

@jywarren @SidharthBansal @sagarpreet-chadha @Souravirus any idea? Thanks!

[2018-12-28 15:51] geekychaser opened #4436 "login link in dialog box not responding"
### Please describe the problem (or idea)

![image](https://user-images.githubusercontent.com/24489162/50520378-068a6600-0ae6-11e9-813b-0d9e765bb090.png)

here this login is not responding

**re-generating the issue** go to - https://publiclab.org/unsubscribe/tag/balloon-mapping
now click on `Subscribe to answer questions on this topic` . make sure that you are logged out

login modal should appea

[2018-12-28 15:55] gauravano commented on #4392
You don't need to be sorry if you observed error and we can't find it now or even if that error was due to outdated branch.

It's good if it's fixed but if you see it again then don't feel shy to open a new issue.

Thanks @IshaGupta18 :)

[2018-12-28 15:55] #4392 closed

[2018-12-28 15:57] gauravano commented on #4436
Hi @geekychaser would you like to solve this one? Thanks!

[2018-12-28 16:02] #4373 closed

[2018-12-28 16:06] oorjitchowdhary commented on #4436
Hi... I've already solved this one in #4429 .. Try using `git pull` on localhost ...
It'd be working.. And PL.org is behind master branch

[2018-12-28 16:06] IshaGupta18 commented on #4392
Okay Thanks a lot! I am glad the main issue here is resolved!

[2018-12-28 16:35] geekychaser opened #4437 "login modal should be prompted while clicking on follow icon"
### Please describe the problem (or idea)

![image](https://user-images.githubusercontent.com/24489162/50521554-3f2d3e00-0aec-11e9-83fc-114adc4a453a.png)

Login should be prompted if user click on follow icon , if he/she is not logged in

### Please show us where to look

https://publiclab.org/wiki/sandbox-sitemap

### What's your PublicLab.org username?

geekychaser

### Browser, version, and ope

[2018-12-28 16:36] geekychaser commented on #4437
@jywarren @gauravano can i give it a try?

[2018-12-28 18:12] gauravano commented on #4437
Sure @geekychaser go ahead!

[2018-12-28 19:41] Souravirus commented on #4396
I am not sure why this is happening but [this](https://stackoverflow.com/questions/27364081/ruby-on-rails-nameerror-not-allowed-as-an-instance-variable-name) can be helpful.
Thank you!!

[2018-12-28 20:48] CoderJolly commented on #4369
I am willing

[2018-12-28 21:09] gauravano commented on #4369
Hi @CoderJolly, for next check-In @cesswairimu has already shown interest but you could surely do the check-In for next to next week. How does it sound?

[2018-12-28 22:02] angelllll commented on #3807
209.85.220.41
https://mail.google.com/mail/u/0/h/13no1hp247vm3/?&th=167f5eed5293480c&q=isaalijuly@gmail.com&v=c&s=q

[2018-12-29 06:34] kevinzluo commented on #4415
Hi @SidharthBansal . There were some issues with redirecting on the signup modal. I have sent a patch for them in #4438 . We will need to merge that before attempting anything else.

[2018-12-29 06:53] oorjitchowdhary commented on #4437
@geekychaser please mention this issue in #4132 in the form of check lists.. Thanks

[2018-12-29 07:13] kevinzluo commented on #4412
Haha @gauravano it was not as hard as I thought it was. We can go back to passing 1 url parameter into the  user_sessions.new.log_in_or_sign_up translation and then just use `javascript:void(0)` or `#` as the url. Would you like me to make an fto?

[2018-12-29 07:33] SidharthBansal commented on #4424
Yeah sure

On Fri, Dec 28, 2018, 8:06 PM Rishabh <notifications@github.com wrote:

[2018-12-29 07:46] geekychaser commented on #4437
@gauravano @oorjitchowdhary i guess there is a bug the follow button is not working?

[2018-12-29 07:54] gauravano commented on #4412
Sure, go ahead and make FTO. Thanks!

[2018-12-29 08:36] uzorjchibuzor commented on #4409
I want to take a stab at this..

[2018-12-29 09:00] SidharthBansal commented on #4415
Thanks

[2018-12-29 09:04] geekychaser opened #4440 "Add fa-icon for store in nav"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-12-29 09:05] geekychaser commented on #4440
@SidharthBansal please add `first-timer` labels

[2018-12-29 09:10] SidharthBansal commented on #4415
I think we have not created one till now. Will you be willing to step forward and create one function for it?
Thanks

i think you forget to answer this question.

[2018-12-29 09:11] geekychaser opened #4441 "Add fa-icon for 'Donate' in nav"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-12-29 09:11] geekychaser commented on #4441
@jywarren @gauravano please add `first-timers-only` tag

[2018-12-29 09:30] uzorjchibuzor commented on #4409
This is what I get from the same page. It seem like I don't understand the issue description here. Can you please explain what you are trying to accomplish?
![ezgif com-optimize](https://user-images.githubusercontent.com/32690770/50536422-95ce6280-0b54-11e9-9007-70e63eda9843.gif)

[2018-12-29 09:31] SidharthBansal commented on #4132
- [ ] flash message
- [ ] add one row
![image](https://user-images.githubusercontent.com/20972099/50536431-8b26c400-0b7a-11e9-9d16-760a6cd47019.png)

[2018-12-29 10:40] twisted-sres commented on #4440
Hey, I would like to work on this issue as my first issue

[2018-12-29 10:41] geekychaser commented on #4440
Go ahead if you are first timer

On Sat, Dec 29, 2018, 4:10 PM Srestha Srivastava <notifications@github.com>
wrote:

[2018-12-29 11:35] geekychaser commented on #4440
@twisted-sres i guess you have closed your pull request.
 Reopen that and wait for review. thank you!

[2018-12-29 12:55] geekychaser commented on #4437
@SidharthBansal `requireLogin` is not working with this. don't know why and button is also not working ,
can you guide a bit?

[2018-12-29 15:04] geekychaser commented on #4402
@gauravano some guidance required to proceed as i tried to convert the following button to unfollow after click but if i tried to render it to same page then the tag is not subcribed

[2018-12-29 15:11] geekychaser opened #4443 "follow icon is not working in wiki section"
### Please describe the problem (or idea)

![image](https://user-images.githubusercontent.com/24489162/50539659-e1f7c200-0ba9-11e9-8369-2f79eb65ee57.png)

Follow icon is not working/responding

### Please show us where to look

https://publiclab.org/wiki/comment-templates

### What's your PublicLab.org username?

geekychaser

### Browser, version, and operating system

****

## Thank you!

Your he

[2018-12-29 15:32] SidharthBansal commented on #4132
@oorjitchowdhary did you see any other similar issues?

[2018-12-29 16:03] kevinzluo commented on #4415
We haven't created a function for linking the signup modal. I would love to do it, but we have to fix the redirect for the signup modal first :smile: . I will make it after #4438 is finished.

[2018-12-29 16:40] SidharthBansal opened #4445 "Recursive return_to behaviour for signup modal"
Reported by @kevinzluo that signup modal updates url multiple times in case of alternative flow.

[2018-12-29 16:46] SidharthBansal commented on #4445
@kevinzluo is the similar behaviour also encountered with the login modal?
If yes then can you please create an issue for it and then open up a pr for it too?
Thanks

[2018-12-29 18:10] SidharthBansal opened #4446 "Removal of Authors name in comment section from profile page"
![image](https://user-images.githubusercontent.com/20972099/50541011-f3999380-0bc2-11e9-8bc4-596291ee8959.png)
On the profile page of user U under the comment navbar, all the comments of user U will be listed. So it is redundant to display U.

[2018-12-29 18:14] oorjitchowdhary opened #4447 "A 'pending for approval' comment shows up on the website"
### Please describe the problem (or idea)
A comment which is pending for approval shouldn't be shown right?
The comment still comes up with the `moderated view` but is visible on the website.
It can be viewed on /research as well as /dashboard.

![image1](https://user-images.githubusercontent.com/39333058/50541071-ea5cf680-0bc3-11e9-8577-6b8a90b5d2b5.png)

![image2](https://user-images.githubuserc

[2018-12-29 18:14] geekychaser commented on #4446
@SidharthBansal can i give it a try?

[2018-12-29 18:17] SidharthBansal commented on #4446
Yeah sure!!!

On Sat, Dec 29, 2018 at 11:44 PM Rishabh <notifications@github.com> wrote:

[2018-12-29 18:19] oorjitchowdhary commented on #4132
Found just one..
* [ ] `Log in` button on /signup page

![image4](https://user-images.githubusercontent.com/39333058/50541096-4de72400-0bc4-11e9-862f-bed3c80472da.jpeg)

But we're implementing the signup modal too right.. so is this required? Will we keep the `log in` button in the modal?

[2018-12-29 18:27] oorjitchowdhary opened #4448 "Improve the Comments tab on /profile in mobile view"
### Please describe the problem (or idea)
The comments tab on /profile in mobile view looks really bad.
It gets distorted, doesn't fit the screen properly and also the table is broken.
The `moderation buttons` are in the `last activity` column and the `comments` are in the `username` column.

![video](https://user-images.githubusercontent.com/39333058/50541112-825ae000-0bc4-11e9-9af8-1a61ec2a4ba5.

[2018-12-29 18:31] oorjitchowdhary opened #4449 "Improve /maps page in mobile view"
### Please describe the problem (or idea)
The /maps page on mobiles looks very unorganized and bizarre.
The heading is extremely huge for mobiles and the `maps` list thumbnails seem too big for a small screen.
Also, I found that all the content on this page on mobile is `left-aligned`. This isn't the case with the other pages.

![img_7239](https://user-images.githubusercontent.com/39333058/5054116

[2018-12-29 18:37] geekychaser commented on #4443
@jywarren @gauravano follow button is not working but it looks all fine in code ?

[2018-12-29 18:43] oorjitchowdhary commented on #4443
Hi @geekychaser, there's an error in the code..
Looks like in the latest commit, someone has misplaced the `<li>` and `<a>` tags.
https://github.com/publiclab/plots2/blob/699108b54624cf0554c6bb87d4f05724f79901ad/app/views/like/_like.html.erb#L13-L15

[2018-12-29 19:10] mittalprince commented on #4441
@geekychaser may I try ?

[2018-12-29 19:11] geekychaser commented on #4441
@mittalprince yeah sure , go ahead

[2018-12-29 19:45] kevinzluo commented on #4132
@oorjitchowdhary
I believe @JonathanXu1 has linked the log in button on the signup modal to the log in modal.

Take a look at stable.publiclab.org

![modallinked](https://user-images.githubusercontent.com/44309027/50541663-f028ec80-0b6f-11e9-84bb-27028e927859.gif)

[2018-12-29 20:03] vnallamhawk commented on #3840
@oorjitchowdhary : i had this error in the localhost :)

[2018-12-29 20:04] kevinzluo commented on #4409
@uzorjchibuzor If you now try tagging another user with `organizer` it will not let you, saying that the tag already exists.

[2018-12-29 20:06] geekychaser commented on #3840
@vnallamhawk can you please restart the server and make sure you have not made any changes.
if still you encounter this error attach a screen shot of error. thank you

[2018-12-29 20:32] SidharthBansal opened #4452 "Create web page for Software Project for development"
![image](https://user-images.githubusercontent.com/20972099/50541936-914a8e00-0bd6-11e9-958e-3504d60a5ae3.png)
Software Projects wiki page does not exist in the database for localhost. So, let's create a dummy page and link it up.

[2018-12-29 20:32] geekychaser commented on #4452
@SidharthBansal can i give it a try?

[2018-12-29 20:41] uzorjchibuzor commented on #4409
@kevinzluo I see. Now I understand. I am going to confirm then tackle it.

[2018-12-29 20:42] #4415 closed

[2018-12-29 20:45] geekychaser commented on #4443
@oorjitchowdhary no there is no issue with `<li>` tag

[2018-12-29 20:50] kevinzluo opened #4454 "Login return_to not working when username not found"
![loginnotworking](https://user-images.githubusercontent.com/44309027/50542077-d344e700-0b78-11e9-9470-2db317a3fc3e.gif)

The return_to parameter is not working when the username is not found.

[2018-12-29 20:51] SidharthBansal commented on #4452
Please complete the other pending issues before doing this one.
You can take it after you complete some of your pending issues.
I think it is okay with you.

[2018-12-29 20:52] SidharthBansal commented on #4454
Please add `Oauth` milestone.
Thanks

[2018-12-29 20:58] #4445 closed

[2018-12-29 21:15] kevinzluo opened #4456 "Combine app/views/user_sessions/_new.html.erb and new.html.erb"
These two files are very similar except for the form url. Please keep new.html.erb but have it render _new.html.erb as a partial.

We can figure out which url to use possibly by passing a local into the partial.

[2018-12-29 21:17] kevinzluo commented on #3656
Looks fixed on stable.publiclab.org.

[2018-12-29 21:17] #3656 closed

[2018-12-29 21:19] kevinzluo commented on #4456
Also #4412 will introduce another difference between the two, so need to watch out for that too

[2018-12-29 21:36] kevinzluo opened #4457 "Fix signup link at /login"
Currently at /login the signup link does not work. This is because in the user_sessions translation file the url1 argument has been removed. This means we need to add it back and, to prevent a redirect on the login modal, set the url on the modal to be `#`.

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all) built off #4412 . This means we've worked to ma

[2018-12-29 21:36] #4412 closed

[2018-12-29 22:14] geekychaser commented on #4132
- [ ] #4437
login modal should be prompted while clicking on follow icon
![image](https://user-images.githubusercontent.com/24489162/50542515-205ea280-0be5-11e9-9010-a5e263b5a9b5.png)

[2018-12-29 22:35] mittalprince commented on #4441
@geekychaser sir, if i made some changes in my code then to see results i need to restart the server not ?

[2018-12-29 22:38] geekychaser commented on #4441
@mittalprince after `passenger start` it will automatically be updated you just need to refresh your page.
thank you

[2018-12-29 22:58] geekychaser opened #4459 "login modal for 'Add one now' at '/tag/-' section"
### Please describe the problem (or idea)

![add-one-now](https://user-images.githubusercontent.com/24489162/50542775-088a1d00-0beb-11e9-9f3b-cafaba03595d.gif)

an overlapping modal should appear rather than redirecting to login page

### Please show us where to look

https://publiclab.org/questions/tag/water

### What's your PublicLab.org username?

geekychaser

### Browser, version, and operatin

[2018-12-29 22:59] geekychaser commented on #4459
@jywarren @gauravano @SidharthBansal please add relevant labels.
can i give it a try?
thank you

[2018-12-29 23:38] mittalprince commented on #4441
@geekychaser sir please review my pr.
thanks

[2018-12-29 23:57] mittalprince commented on #4441
#4461 add icon for donate #4461

[2018-12-30 04:01] IshaGupta18 commented on #4413
Any updates here @SidharthBansal ?

[2018-12-30 06:39] dave-light commented on #4251
A little confused, description says 'fto' but label says 'fto-candidate'. Does more work need to be done to make it fto friendly? Or is the 'fto-candidate' label incorrect?

[2018-12-30 07:07] IshaGupta18 commented on #4457
Hey @kevinzluo I think url1 should remain "/signup" and not "#".

[2018-12-30 07:36] dave-light commented on #3591
@vikul1234 @jywarren As this issue is still open and no PR is linked may I assume nobody is working on it? I notice fto in the initial comment but no fto tag. Since GCI has finished, unsure if this will be completed if not already?

[2018-12-30 08:11] gauravano commented on #3591
Hi @dave-light you can take this issue. Thanks!

[2018-12-30 08:15] gauravano commented on #4446
Let's replace the username column with Note/Question link so that under Comment col only comment body will appear and not "commented on ....". What do you think @SidharthBansal @jywarren?

[2018-12-30 08:30] gauravano commented on #4446
You got it right!

[2018-12-30 08:36] gauravano commented on #4416
Thanks @londonolson!

[2018-12-30 08:38] gauravano commented on #4456
@kevinzluo would you like to solve it yourself? Thanks!

[2018-12-30 08:39] geekychaser commented on #4446
@gauravano should i create another task for it or try to make changes in my previous PR ?

[2018-12-30 08:40] gauravano commented on #4446
Same PR preferred.

[2018-12-30 08:44] #4410 closed

[2018-12-30 09:03] gauravano commented on #4447
Hi @oorjitchowdhary thanks for reporting. The comment under moderation should only be visible to moderators and admin, so yeah something is wrong. I will fix it right away. Thanks!

[2018-12-30 09:30] gauravano commented on #4447
**Current status:**
Commenter - comment visible at note and on dashboard with message
No user session - comment visible at note and on dashboard with message
Moderator - comment visible at note and on dashboard with moderation options
Normal user - comment visible at note and on dashboard with message

[2018-12-30 09:35] geekychaser commented on #4441
@gauravano okay lets wait for the response but i guess it will not create any issue in header.
Thank you!

[2018-12-30 09:48] oorjitchowdhary commented on #4449
![9edd0926-a69b-4156-ab83-fe7d472ad28f](https://user-images.githubusercontent.com/39333058/50545985-11f4a300-0c46-11e9-82b4-3c41bdc93d6e.png)

We could use the same font size and heading style for maps page too...

[2018-12-30 09:51] SidharthBansal commented on #4457
@kevinzluo please write the problem statement also. Thanks

[2018-12-30 09:53] SidharthBansal commented on #4412
Awesome folks :heart:

[2018-12-30 09:58] SidharthBansal commented on #4132
@kevinzluo @oorjitchowdhary Jonathan has made the links to both the modals and they are woking correctly. But on hte /signup and /login they are not redirecting to each other pages. We need to have submit a fix after forming issue for it. @oorjitchowdhary can you kindly solve this? Kevin is taking some other work so I don't want to burden him much. Thanks both of you.

[2018-12-30 09:58] dave-light commented on #4251
If it's not an FTO I'd love to work on this? I've made one contribution to publiclab so far but if you'd rather it was left for someone else I'll understand. I currently have one other issue I'm working on.

[2018-12-30 10:10] oorjitchowdhary commented on #4132
@sidharthbansal okay.. You mean to solve #4437 right?

[2018-12-30 10:39] geekychaser commented on #4132
@SidharthBansal @oorjitchowdhary i think this can be solved now , i should post a PR after this get merged https://github.com/publiclab/plots2/pull/4453

[2018-12-30 10:41] SidharthBansal commented on #4367
This issue is assigned to @kunalvaswani123.

[2018-12-30 10:43] geekychaser commented on #4168
@jywarren @SidharthBansal do i need to create a signup/log in button in sidebar for wiki pages ?

[2018-12-30 10:44] SidharthBansal commented on #4132
@oorjitchowdhary some work is done in #4457. Please refer it before submitting a pr for https://github.com/publiclab/plots2/issues/4132#issuecomment-450551508.
Thanks for the amazing work you are doing at public lab.

[2018-12-30 11:34] IshaGupta18 commented on #4413
Yes, I thought so too. Thank you so much for your help, I'll see what all I can help on in the meanwhile. I hope our mentors have an amazing vacation!

[2018-12-30 11:42] SidharthBansal commented on #4311
@IshaGupta18 may be you will be willing to work on this.

[2018-12-30 11:48] mittalprince commented on #4448
@oorjitchowdhary  may i try to solve this?
thanks

[2018-12-30 11:48] IshaGupta18 commented on #4311
In the sign up modal or sign up page, I think we can add an optional button with a popover. On clicking on that button, they can add a profile picture is the wish to which can be shown in a circular layout in the popover. What do you think?

[2018-12-30 11:50] SidharthBansal commented on #4311
That would be best I think.

[2018-12-30 11:58] geekychaser opened #4463 "'Add one now' redirects to dashboard when user is logged in"
### Please describe the problem (or idea)

![test](https://user-images.githubusercontent.com/24489162/50546968-22614980-0c57-11e9-8538-6025eb4b381b.gif)

so the issue is Add one now takes us to dashboard rather than to the create a wiki page with that tag name

https://publiclab.org/tag/event

### What's your PublicLab.org username?

geekychaser

### Browser, version, and operating system

****

#

[2018-12-30 11:58] geekychaser commented on #4463
@gauravano please correct me if i am wrong

[2018-12-30 12:17] geekychaser commented on #4168
@SidharthBansal I think signup button is working perfectly do we need to add a log in button?

[2018-12-30 12:20] geekychaser commented on #4401
I also encountered same behaviour , on many pages we need to refresh again to be logged in

[2018-12-30 13:40] twisted-sres commented on #3840
I am trying to install rvm and ruby on ubuntu, and've been running into errors, anybody here who could help me with the same?

[2018-12-30 13:41] geekychaser commented on #3840
Please describe your errors or add screen shots

On Sun, Dec 30, 2018, 7:10 PM Srestha Srivastava <notifications@github.com>
wrote:

[2018-12-30 13:57] IshaGupta18 commented on #4311
Hey I think a collapse would look better because it would be cleaner and won't overlap with other fields. What do you think?

[2018-12-30 14:03] SidharthBansal commented on #4311
Can you provide the screenshots for it before working on pr for it?

On Sun, Dec 30, 2018 at 7:27 PM Isha Gupta <notifications@github.com> wrote:

[2018-12-30 14:05] SidharthBansal commented on #4369
@cesswairimu please link it to the new weekly check in after forming it.
Don't forget to close this issue.
Thanks in advance.

[2018-12-30 14:57] twisted-sres commented on #3840
![screenshot from 2018-12-30 20-20-30](https://user-images.githubusercontent.com/36242614/50548364-3fa31180-0c71-11e9-92b3-5bc9d91de2a5.png)
I am getting this error

[2018-12-30 15:12] IshaGupta18 commented on #4311
@SidharthBansal will it be okay if I take some time for this issue, because image uploading and stuff is new to me, so I'll have to figure that out first?

[2018-12-30 15:34] oorjitchowdhary commented on #3840
Have you run 'yarn install'?

Sent from my iPhone

On Dec 30, 2018, at 8:27 PM, Srestha Srivastava <notifications@github.com<mailto:notifications@github.com>> wrote:

[screenshot from 2018-12-30 20-20-30]<https://user-images.githubusercontent.com/36242614/50548364-3fa31180-0c71-11e9-92b3-5bc9d91de2a5.png>
I am getting this error

—
You are receiving this because you were mentioned.
Reply to this

[2018-12-30 15:39] SidharthBansal commented on #4311
Sure

[2018-12-30 15:45] twisted-sres commented on #3840
yeah

[2018-12-30 16:12] kevinzluo commented on #4457
@IshaGupta18

new.html.erb renders the page at /login and it already has the link to /signup. In one previous PRs, the url for the translation was removed. So we need to add back that url argument.

However, to then prevent the login modal from redirecting, we need to set the url there to `#`, since we want the link to transition to the signup modal instead of opening /signup.

[2018-12-30 16:17] kevinzluo commented on #4463
Hi @geekychaser . I believe this is because your are a first time poster. On PL.org, you need to have at least 1 post approved by moderators before you can create a wiki page. The `Add one now` button tries to create a new wiki page. Because you haven't had a post approved yet, you are redirected to the dashboard and should be given this message:
![image](https://user-images.githubusercontent.com/

[2018-12-30 16:18] shubhscoder commented on #4463
@geekychaser have you posted a question or any other content before editing ? I think you first need to post a question.

[2018-12-30 16:20] kevinzluo commented on #4454
#4456 , #4457 , and this issue are all related.

[2018-12-30 16:20] kevinzluo commented on #4456
@gauravano I can work on this. However, could I go ahead and fix #4457 even though it is an fto since that is related to this?

[2018-12-30 16:31] kevinzluo commented on #4457
No problem at all @IshaGupta18 ! I actually got confused by them the first time I saw it too 😄 .

[2018-12-30 16:36] twisted-sres commented on #3840
![screenshot from 2018-12-30 22-04-27](https://user-images.githubusercontent.com/36242614/50549215-1b4e3180-0c7f-11e9-8040-e73f87b37c48.png)
I am getting this view

[2018-12-30 16:42] sashadev-sky commented on #4369
Hi all! I am traveling this week and won’t be back online until after nye, but I look forward to continue contributing in 2019. Happy new year!

[2018-12-30 17:10] kevinzluo commented on #4463
@geekychaser Maybe it hasn't been approved yet? Your account says 0 questions posted. https://publiclab.org/profile/rbothra1998

[2018-12-30 17:12] geekychaser commented on #4463
@kevinzluo oh sorry , it hasn't been approved.

[2018-12-30 17:12] shubhscoder commented on #4402
@gauravano I think we can make it asynchronous. We could update the follow to following or unfollow without reloading and I think that would be very efficient. Any suggesions?

[2018-12-30 17:12] dinaelhanan commented on #4369
Hey everyone! I struggled a lot at first, with this being a codebase bigger than any I have every worked with, especially since I've never written a line of ruby before working on plots2, but I am started to feel more at ease because of the great help from the community, and taking a deep breath! I am working on a few small tasks and closing up loose ends with the login modals, and hope to continu

[2018-12-30 17:13] kevinzluo commented on #4463
Maybe that is the issue. In that case, we should raise an issue saying that the user should be told to wait for their post to be approved when they try to create a page but have already posted! Would you like to make it @geekychaser ?

[2018-12-30 17:13] geekychaser commented on #4463
@kevinzluo okay , i will create the issue

[2018-12-30 17:17] geekychaser commented on #4463
@kevinzluo i am facing this issue on local server
![image](https://user-images.githubusercontent.com/24489162/50549534-a847b980-0c84-11e9-8c5f-ceefb5ea69b2.png)

when i am logged in and try to click on Add one now this occurs..?

are you facing the same problem or there is problem in my system..?

Thank you

[2018-12-30 17:20] kevinzluo commented on #4463
Interesting. I am getting that issue too.

[2018-12-30 17:20] geekychaser commented on #4463
shall i make one?

[2018-12-30 17:21] kevinzluo commented on #4463
Sure! It appears someone hard coded the id into the url.

[2018-12-30 17:30] IshaGupta18 commented on #4311
Thanks a ton!

[2018-12-30 17:31] geekychaser opened #4465 "ambiguous behaviour of 'Add one now' on local server"
### Please describe the problem (or idea)

![add-one](https://user-images.githubusercontent.com/24489162/50549655-a7b02280-0c86-11e9-876f-505fb5d490d4.gif)

### What's your PublicLab.org username?

geekychaser

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write

[2018-12-30 17:31] geekychaser commented on #4465
@jywarren @kevinzluo can i give it a try?

[2018-12-30 17:33] oorjitchowdhary commented on #4416
Hi @londonolson.. Open up a pull request to show us your changes..
If you've any doubts.. Ping anyone of us

Welcome to Github and Public Lab!

[2018-12-30 17:35] geekychaser commented on #4463
@kevinzluo this flash message appears and after `click` it redirects to a page describing the requirements
![image](https://user-images.githubusercontent.com/24489162/50549687-4c326480-0c87-11e9-81d1-0917a6bad9d9.png)

is this fine?

[2018-12-30 17:37] londonolson commented on #4416
I chose publiclab/plots2 to as the base and londonolson/plots2 as the head fork and it says that publiclab:master is up to date with all commits from londonolson:master. Am I doing something wrong with that? Thank you for being so understanding of a beginner

[2018-12-30 17:38] shubhscoder commented on #4402
Also, upon clicking unfollow, the user is redirected to unsubscribe/tag/tagname where he is supposed to click the folllowing button again to unfollow. But for a new user this can be quite hard and painful. What if we change the follow button to unfollow  button then and there without any redirection when his request for subscription gets completed?

[2018-12-30 17:44] SidharthBansal commented on #4454
Yeah they are related. But they are different issues. They are being executed on the same files.

[2018-12-30 17:52] SidharthBansal commented on #4437
@geekychaser I think @dinaelhanan is working on https://github.com/publiclab/plots2/issues/4152 and by mistake you found out this bug and are trying to solve it.
I am closing this issue as @dinaelhanan is working on it.
A new suggestion : Please update your master. Your master is much behind the current plots2 master. I can detect it as the follow icon is different from what is in the current plot

[2018-12-30 17:52] #4437 closed

[2018-12-30 17:55] shubhscoder commented on #4369
Hello everyone! According to my experience the initial setup of the project was the most difficult part of my first PR. So, in order to facilitate a newcomer, we should automate the process of setup. I had opened a issue regarding the same #3259 but later forgot about it. I think some basic shell scripting is required or we can write a python script to automate the process. Anyone with any experie

[2018-12-30 17:56] oorjitchowdhary commented on #4416
Oh I see..
So you where have you made the changes? If you've created a new branch for the changes, then keep the head fork as londonolson/plots2:branch_name..

If you haven't created any branches and your master is up to date.. Then it means you haven't done the changes or the changes aren't pushed to the Github repository..

Just tell me where have you made the changes? On the website directly? O

[2018-12-30 17:57] londonolson commented on #4416
I clicked the pen icon and made the changes that way. Following the "Step by Step" on this page.

[2018-12-30 17:57] geekychaser commented on #4437
@SidharthBansal okay , but icon seems to be different because screen shot is of publiclab.org rather than that of local server.
Thank you

[2018-12-30 18:08] SidharthBansal commented on #4437
The plots2 branch is not updated since a month. So all developers are
requested to use the development mode until @jywarren gets some time to
push changes to the production server.
Thanks for your patience. I know him very well. As soon as he will get even
5 minutes he will push it.
Thanks everyone.

On Sun, Dec 30, 2018 at 11:27 PM Rishabh <notifications@github.com> wrote:

[2018-12-30 18:11] CoderJolly commented on #4369
Sure, feel free to mention as now I am free from my exams

[2018-12-30 18:16] oorjitchowdhary commented on #4416
Okay..
So
1. click the pen icon..
2. do the changes as mentioned here
3. navigate down to the button `propose file change` and press that
4. It'll open a page `comparing changes`
5. If you've changed anything, it'll show something like this

![image](https://user-images.githubusercontent.com/39333058/50549967-e1842780-0c8c-11e9-8f39-1b163bd5fe09.png)

6. review your changes and click on `create pu

[2018-12-30 18:20] londonolson commented on #4416
Thank you! Last time I missed step 6 but I think I did it right this time. Here's a link to my pull request.
https://github.com/publiclab/plots2/pull/4466

[2018-12-30 18:32] mittalprince commented on #3740
I want to work on this, may I ?

[2018-12-30 19:51] gauravano commented on #3259
@jywarren @publiclab/guides ideas are welcome!

[2018-12-30 19:54] gauravano commented on #3740
Go ahead @mittalprince! Thanks!

[2018-12-30 20:08] geekychaser opened #4468 "Link login modal to 'Share your work' at '/research'"
### Please describe the problem (or idea)

![share-your-work](https://user-images.githubusercontent.com/24489162/50550777-498e3a00-0c9c-11e9-85cd-fe216318033d.gif)

'Share your work' redirects to login page

### What's your PublicLab.org username?

geekychaser

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping re

[2018-12-30 20:11] SidharthBansal commented on #4468
Please capitalise the first letter of the title.
Thanks for reporting a suggestion for enhancement. We will love to have it implemented.

[2018-12-30 21:13] oorjitchowdhary commented on #4274
Actually I'm thinking of something like 'subscriber-only content'. Right now, everything is accessible for members and non members.. Let's create something which is only for members.. And we can add prompts for that feature on the normal site 'sign up to get all the updates on this!'

[2018-12-30 21:55] oorjitchowdhary commented on #4413
What if we add an if-else for the icons only..
So we could do 'if user' -> fa fa-flag and open email
'if moderator' -> fa fa-spam and the spam function

This working is right now on /comments

[2018-12-30 22:37] oorjitchowdhary commented on #4132
@sidharthbansal I saw the stable PL status..
The log in on /signup doesn't work and sign up on /login doesn't work.. So should I link the respective modals to the buttons or the respective pages?

[2018-12-31 00:51] kevinzluo commented on #4132
You are right @oorjitchowdhary! #4457 also depends on this. Do we want the links at /signup and /login to open the modals or redirect to the pages? I am in favor of the modals.

[2018-12-31 02:07] kevinzluo opened #4471 "requireLogin doesn't work on some url's"
Some urls, such as the one detailed in #4231 do not work with requireLogin. They require the user to click the link again (see #4430, I have copied the gif below ).
![help answer future questions login](https://user-images.githubusercontent.com/39333058/50492532-2fefb700-0a3e-11e9-9848-a90e52c784b8.gif)

[2018-12-31 07:52] cesswairimu opened #4476 "Weekly Community Check-In #3 - "Achievements""
Hi everyone :wave: !

We all at Public Lab :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. Let's start a Community Check-In from this week onwards, where every community member would share something about their work

[2018-12-31 07:54] cesswairimu commented on #4369
Moved to #4476 Thanks everyone

[2018-12-31 07:54] #4369 closed

[2018-12-31 08:30] cesswairimu commented on #4476
This week I will be redesigning the `/stats` page and also finishing up on #4317.

The UI open-hour made me happy, meeting all the amazing people and having a peep at how people use the website.
I love the new design that @edieblu is working on.
Every pull request that I make that gets merged makes me happy too :smiley:
Thanks

[2018-12-31 09:31] shubhscoder opened #4478 "Adding indexes to appropriate columns of the database"
Subpart of #4362

So basically, the aim of this issue is to identify potential columns of the database tables that can be indexed. This is an attempt to somehow speedup the loading of public labs website. I think we can make a list of all possible places where tables can be indexed and open multiple related sub issues of this.
Thank you!

[2018-12-31 09:52] shubhscoder opened #4479 "Identification of redundant or time consuming gems"
Subpart of #4362

So, it is possible that some of the gems being used/(not being used but installed.) may be slowing up the loading of our website. So we need to identify such gems and possibly try to find out the alternatives to these gems. So this issue is going to require some good amount of research and observation.
Thank you so much !

[2018-12-31 10:31] SidharthBansal commented on #4476
Hi everyone.
This week I will be working on the remaining issues of OAuth with Oorjit,
Isha, Kunal, Kevin, Dina, Rishabh, and many more.
We have achieved login and signup through modals and their linking
theoughout the website this December.
Cess thanks for the theme of this week.
Thanks everyone.

On Mon, Dec 31, 2018, 3:53 PM Shubham Sangamnerkar <notifications@github.com
wrote:

[2018-12-31 10:37] SidharthBansal commented on #4413
Yes we expect the similar behaviour.

On Mon, Dec 31, 2018, 3:25 AM Oorjit Chowdhary <notifications@github.com
wrote:

[2018-12-31 10:37] SidharthBansal commented on #4413
Let's hold on this issue until Jeff comes.

On Mon, Dec 31, 2018, 4:06 PM Sidharth Bansal <bansal.sidharth2996@gmail.com
wrote:

[2018-12-31 10:38] mittalprince commented on #4169
@SidharthBansal  but the dashboard is not available on my local.

[2018-12-31 10:38] SidharthBansal commented on #4132
Having the signup modal over login page looks ambiguous to me. I think we
should redirect to the pages if present in the pages.

On Mon, Dec 31, 2018, 6:21 AM kevinzluo <notifications@github.com wrote:

[2018-12-31 10:52] #3740 closed

[2018-12-31 10:53] oorjitchowdhary commented on #4132
I'm a little confused about our modals..
If we have made modals, we should link to everywhere. And then why do we need the /login and /signup pages?

We could eliminate the /login and /signup pages, and just keep the modals..

On Dec 31, 2018, at 4:08 PM, Sidharth Bansal <notifications@github.com<mailto:notifications@github.com>> wrote:

Having the signup modal over login page looks ambiguous to m

[2018-12-31 12:33] oorjitchowdhary commented on #4448
Let @publiclab/reviewers take a look at this first
Then @mittalprince you can solve this one
Thanks

[2018-12-31 13:14] IshaGupta18 commented on #4413
yes @oorjitchowdhary we expect it only, thanks a lot!

[2018-12-31 13:55] oorjitchowdhary opened #4480 "Spam in email digests?"
### Please describe the problem (or idea)
As per @gauravano in #2104, email digests are not active.
But I'm receiving weekly digests. Moreover, these are STRANGE weekly digests.

The digest uses the template we have made and comes `from: notifications@publiclab.org` but it is full of **ADVERTISEMENTS**.

It shows the ads in the form of research notes and even takes up a link on PL.
When clicked on

[2018-12-31 13:56] oorjitchowdhary commented on #4480
@publiclab/reviewers @publiclab/community-reps What's to be done here??

[2018-12-31 15:02] mittalprince opened #4481 "Link login modal to 'Write a research note' at '/wiki/comment-templates'"
### Please describe the problem (or idea)

![login](https://user-images.githubusercontent.com/26388073/50562591-12bb3100-0d3b-11e9-8db6-8aaeca00382a.gif)

'Write a research' redirects to login page

### Please show us where to look

https://publiclab.org/wiki/comment-templates

### What's your PublicLab.org username?
princemittal766

### Browser, version, and operating system

****

## Thank you!

[2018-12-31 15:07] mittalprince commented on #4481
@SidharthBansal please check it and correct me if i wrong
Thanks

[2018-12-31 15:12] mittalprince commented on #4481
the same problem with 'Ask a related Question' too.

[2018-12-31 15:46] gauravano commented on #4480
Have you pressed that "Digest button" present in your profile? hmm, email content is really shocking.

[2018-12-31 16:31] SidharthBansal commented on #4481
We need to link it to the login modal through the requireLogin Class as done in many of other prs.
Please go for it
Thanks for reporting it up.

[2018-12-31 16:32] oorjitchowdhary commented on #4481
This is solved in #4414 .. We can close this

[2018-12-31 16:34] oorjitchowdhary commented on #4480
I don't remember, but I think yes

[2018-12-31 16:40] oorjitchowdhary opened #4482 "Cartographer and Mapper profile return the error page"
### Please describe the problem (or idea)
The link on `by Cartographer x & Mapped by y` returns an error page.
I think the url is invalid. It takes something like this `https://publiclab.org/profile/Cartography%20by%20Stewart%20Long%20%7C%20%20Mapping%20by%20Scott%20Eustis`.
We should redirect them to the respective profile pages right?

![publiclab_mapsgooglec](https://user-images.githubuserconte

[2018-12-31 16:45] SidharthBansal opened #4483 "Redirect removal from login/signup modal"
As per Kevin's suggestion

I am in favour of the suggestion. @gauravano @jywarren are you also in favour of this suggestion so that we can continue to work on it.

@kevinzluo i think we should do it for both signup and login modal.

[2018-12-31 16:48] SidharthBansal commented on #4132
Hi, @oorjitchowdhary actually Public Lab is a website which we are maintaining since 10 yrs. So there are many places which contain link to login and signup as /signup or /login. In case we will remove these pages those links will stop working. Functionality is more important than redundancy. I liked your suggestion but we cannot implement it.
Thanks for the suggestion.

[2018-12-31 16:48] SidharthBansal commented on #4132
- [*] Link login modal to 'Write a research note' at '/wiki/comment-templates'
#4481

[2018-12-31 16:50] SidharthBansal commented on #4132
@oorjitchowdhary we are creating the modals so that the person will not get derailed from the public labs while signup. I hope this solves your query.

[2018-12-31 16:51] SidharthBansal commented on #4481
Is write a research note and ask a question both solved?
If yes then @oorjitchowdhary please close this issue. Thanks all.

[2018-12-31 17:17] oorjitchowdhary commented on #4481
Yes both are solved.. We can close this

I don't have the permissions to close the issue..

[2018-12-31 17:21] mittalprince commented on #4481
@oorjitchowdhary I will close it
Thanks

[2018-12-31 17:21] #4481 closed

[2019-01-01 05:16] dependabot[bot] opened #4484 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 09:55] codeIriss opened #4485 "'Pagination of comment page is failing'"
### Please describe the problem (or idea)
The pagination of comments page is not correct .
![pagination_comment_page](https://user-images.githubusercontent.com/35463484/50571765-a7c03780-0dd8-11e9-9cff-40cc0f8f0249.gif)

### Please show us where to look
https://publiclab.org/profile/comments

### Browser, version, and operating system
Chrome, Ubuntu 18.04

### Thank you!
Your help makes Public Lab

[2019-01-01 09:57] codeIriss commented on #4485
@gauravano  @SidharthBansal  please check i have opened the issue correctly as this is my first time of opening an issue.
And also i would like to solve it

[2019-01-01 10:06] oorjitchowdhary commented on #4485
Hi @codelriss, the pagination isn't failing but the next page is getting loaded without styles.. And #4174 is the issue for that..

I think you can close this one..
Thanks

[2019-01-01 10:08] codeIriss commented on #4485
sure .thankyou @oorjitchowdhary  for letting me know about the issue #4174

[2019-01-01 10:08] #4485 closed

[2019-01-01 10:20] codeIriss opened #4486 "'About the blog' takes us to 'wiki/blog' which does not exist"
### Please describe the problem (or idea)
'wiki/blog' doesn't exist
![ezgif com-optimize](https://user-images.githubusercontent.com/35463484/50571933-c70c9400-0ddb-11e9-9199-ab0ba65bc9d5.gif)
### Please show us where to look
https://publiclab.org/blog
### Browser, version, and operating system
Chrome, Ubuntu 18.04
### Thank you!
Your help makes Public Lab better! We deeply appreciate your helping

[2019-01-01 10:30] gauravano commented on #4486
@jywarren @ebarry any wiki which contains such information? Or, we need to create the page or remove the link?

Thanks!

[2019-01-01 10:34] dhruvgupta167 commented on #4457
Is this issue unclaimed? I am a new to open source and would to like work on this issue.

[2019-01-01 10:45] kunalvaswani123 opened #4487 "Disabling paste in /login form"
A user is able to paste password from any normal text-field to the password field in all forms PublicLab uses for user authentication. This should be resolved since user should not be able to paste the password in the password field.
![peek 2019-01-01 16-15](https://user-images.githubusercontent.com/30972133/50572197-7d727800-0de0-11e9-86a9-65cd170f958b.gif)

[2019-01-01 12:08] oorjitchowdhary commented on #4174
Can anyone else take this..
Sorry, I'm unable to find a fix for this..

[2019-01-01 12:27] dependabot[bot] opened #4490 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 13:36] SidharthBansal commented on #4457
Please go ahead @dhruvgupta167.

[2019-01-01 13:36] SidharthBansal commented on #4457
This issue is assigned to @dhruvgupta167
Best of luck

[2019-01-01 13:44] #4490 closed

[2019-01-01 13:44] dependabot[bot] opened #4491 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 13:52] SidharthBansal commented on #4487
@kunalvaswani123 please continue to work on other similar pages. We will resolve the travis error soon and merge things all at once.

[2019-01-01 13:55] SidharthBansal commented on #4465
This is related to #4459 so adding it in OAuth Milestone.
Thanks @geekychaser for reporting the error. I really like the amazing work which you are doing since couple of days.

[2019-01-01 14:18] kunalvaswani123 commented on #4487
yeah I'll create a pr for edit form and ftos for rest

[2019-01-01 14:31] #4491 closed

[2019-01-01 17:43] geekychaser commented on #4465
@SidharthBansal thank you , this is only possible because of consistent support from all you mentors and other community members

[2019-01-01 17:49] #4459 closed

[2019-01-01 17:53] geekychaser commented on #4487
@kunalvaswani123 @SidharthBansal rather than adding this seperately can we combine this feature with `requireLogin`.. ?

[2019-01-01 19:20] codeIriss opened #4494 "'wiki' doesn't exist for using etherpad-lite in /talk/donate"
### Please describe the problem (or idea)
wiki page doesn't exist for 'learn more' part in  /talk/donate
![wiki_learn_more](https://user-images.githubusercontent.com/35463484/50575652-1b3d6580-0e28-11e9-823b-9e4a8dca08f3.gif)
### Please show us where to look
https://publiclab.org/talk/donate
### Browser, version, and operating system
Chrome, Ubuntu 18.04

### Thank you!
Your help makes Public Lab

[2019-01-01 19:47] #4468 closed

[2019-01-02 04:45] jywarren commented on #4483
this sounds good!

On Mon, Dec 31, 2018 at 11:45 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-01-02 04:52] jywarren commented on #3259
Hi! I believe there was an effort to use a Makefile to do this. https://github.com/publiclab/plots2/issues/1535

We also have the "cloud9" install file https://github.com/publiclab/plots2/blob/master/install_cloudnine.sh

I hope this is a good start! Our Docker setup is also able to install everything so maybe we can hit 2 birds with one stone?

[2019-01-02 05:09] SidharthBansal commented on #4476
Please checkout https://publiclab.org/notes/warren/01-02-2019/public-lab-code-community-report-jan-2019#c21606

[2019-01-02 07:33] gauravano commented on #4476
Hi everyone,

I would be completing the Comment moderation system this week #3331. Thanks to Valentina for her work during GCI on this project, only some parts are remaining now :smile: .

Thank you!

[2019-01-02 10:29] oorjitchowdhary opened #4499 "Refactor dashboard sidebar code"
### Please describe the problem (or idea)
Currently, the `share your work` button (which is in the sidebar) code of the /dashboard or /research lies in `app/views/dashboard/_header.html.erb` https://github.com/publiclab/plots2/blob/491c6d3a07eed89bc9cadc1a70540af245ae8c2f/app/views/dashboard/_header.html.erb#L5-L19

And the code for the sidebar on dashboard is `app/views/dashboard/_sidebar.html.er

[2019-01-02 10:36] geekychaser commented on #4499
@jywarren @SidharthBansal can i do it ?

[2019-01-02 10:57] geekychaser commented on #4446
@gauravano does it look fine, suggest if some changes are required

![image](https://user-images.githubusercontent.com/24489162/50589095-41f0b000-0eab-11e9-8001-8cf90b6faea6.png)

[2019-01-02 12:41] geekychaser commented on #4452
@jywarren @SidharthBansal @gauravano can you guide me a bit that how can i render seed.rb to a particular link
`https://publiclab.org/wiki/software-outreach` in this case ?
Thank you

[2019-01-02 14:31] #4465 closed

[2019-01-02 14:39] oorjitchowdhary commented on #4499
Hi, this isn't an extension of any issue. I just found out this in our repo through @geekychaser's PR. So I opened up an issue. Hope that's okay.
Thanks

@oorjitchowdhary<https://github.com/oorjitchowdhary> can you please tell us the proposed issue is extension of which issue?
Thanks

[2019-01-02 14:44] SidharthBansal commented on #4499
You want to refactor two files because both contains the same button. Am
I missing something?

On Wed, Jan 2, 2019 at 8:09 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2019-01-02 14:46] CoderJolly commented on #4479
I think this can help:
 https://www.gregnavis.com/articles/how-to-reduce-memory-usage-by-tuning-gemfile.html

[2019-01-02 15:19] oorjitchowdhary commented on #4499
No, the 'share your work' button on dashboard exists on the sidebar when viewed on the website.
But the code for the button is in app/views/dashboard/header.html.erb.

There exists a particular code file for the sidebar of dashboard (app/views/dashboard/_sidebar.html.erb) but in this file, the button code isn't there. So we can add the 'share your work' button code in the sidebar file of dashboard

[2019-01-02 16:11] ebarry commented on #2720
hi all! Excited to see this progress. I do see the syntax error is still happening. Also, the "Search by tag" box has not yet been added at the top. Anything i can do to help?

[2019-01-02 16:15] ebarry commented on #3246
@publiclab/connectors , could you please help by providing a link to the relevant line in the code? Thanks!

[2019-01-02 16:21] ebarry opened #4500 "Re-use the "Search by Tag" widget on publiclab.org/tags"
Hi everyone,

This could be a short, fun task -- We already have a great "Search by Tag" feature already working on https://publiclab.org/questions (see screenshot below)
![questionpage-tag search](https://user-images.githubusercontent.com/161439/50600762-c6c1d680-0e77-11e9-851c-52c2fe75d82a.gif)

Could someone take this "Search by Tag" feature and replace the the existing search box on https://pu

[2019-01-02 16:45] icarito opened #4501 "Mail gateway is hardcoded in Makefile"
We need the docker host IP for using the email gateway, when you deploy Plots2 it may fail to direct email since sometimes Docker changes IP of Docker host and this may be different in production / staging.

Currently plots2 uses hostname `smtp`. Could we make this an ENV variable? This would simplify fixing this hardcoded variable.

[2019-01-02 16:53] icarito commented on #4501
I tried a few solutions at https://github.com/publiclab/plots2/pull/4357 but the issue is Staging uses Docker from a Jenkins container but in production containers are started from the Docker host. Procedures to obtain Docker host IP from routes fail in the first case.

[2019-01-02 16:58] jywarren commented on #4476
I wanted to share that I managed to get a VERY long-running issue to pass all tests last night! It may not be 100% ready but we're testing it on the unstable server now:

https://github.com/publiclab/plots2/pull/2857

This would complete the deprecation of our very old `DrupalUsers` table and unify it completely with the newer `Users` table -- one more step towards a cleaner and more maintainable

[2019-01-02 17:09] ebarry commented on #4476
Happy New Year! Today i used my refreshed brain to revisit the Tagging and Topics Milestone: https://github.com/publiclab/plots2/milestone/13

In a comment on an existing issue, and in one new issue, i suggest we begin getting more use out of the great "Search By Tag" interface that is currently only on the Questions page :)

[2019-01-02 17:43] shubhscoder commented on #4479
I will surely check that @CoderJolly . Thank you so much!

[2019-01-02 18:09] arungoel123456 commented on #4449
@oorjitchowdhary   Is this resolved ? If not , can I work on it?

[2019-01-02 18:11] oorjitchowdhary commented on #4449
Let's take views from @jywarren, @SidharthBansal or @gauravano first..
Then @arungoel123456 you can take this up

[2019-01-02 18:14] arungoel123456 commented on #4433
@oorjitchowdhary  Can I work on this issue

[2019-01-02 18:21] jywarren opened #4502 "Menu width issues due to new icons"
I think we need to hide the icon in full width views, so it shows /either/ text or icon - as we're seeing some wrapping issues at certain page widths. Related to #4199 -- thanks! Any help appreciated!

![screen shot 2019-01-02 at 1 20 26 pm](https://user-images.githubusercontent.com/24359/50605760-4dcf7880-0e91-11e9-964a-54d4d3cb5a69.png)

[2019-01-02 19:06] jywarren commented on #4476
Hi, all, round 2! I've kicked off a brainstorming post for the ideas page for Summer of Code 2019 - it's early but I thought we'd best get some ideas into discussion ahead of time. People have been brainstorming already - let's do it together!

https://publiclab.org/notes/warren/01-02-2019/brainstorming-for-summer-of-code-2019

Not every project would be chosen, nor attract a student to work on it

[2019-01-02 19:35] ViditChitkara commented on #4094
For the first point, could we have a commentable_type which could be "Comment", "Answer" or "Standalone" or something. This way we'll be able to distinguish between "comment on" an answer or a comment or a simple standalone comment. How does this sound @jywarren.

[2019-01-02 19:44] jywarren commented on #4449
I think for now the alignment is OK -- but i agree, we could use a lot of Bootstrap viewport-width styles to adjust this, OR we could us a different CSS unit that sizes relative to the screen width?

Thanks!!

[2019-01-02 19:46] jywarren commented on #4094
I think we could achieve similar simply by having a field called "reply_to"
which can list another comment cid. Then all comments are simply comments,
which may or may not be in response to another comment. What do you think?

On Wed, Jan 2, 2019 at 2:35 PM Vidit <notifications@github.com> wrote:

[2019-01-02 21:05] jywarren commented on #4479
oh this is a good idea! Also note our Skylight monitoring may be helpful in
identifying load issues:
https://oss.skylight.io/app/applications/GZDPChmcfm1Q/recent/6h/endpoints

On Wed, Jan 2, 2019 at 12:44 PM Shubham Sangamnerkar <
notifications@github.com> wrote:

[2019-01-02 21:36] jywarren commented on #4480
Oh whoa! does this mean somehow that the digest function (which had been broken) is now working?

Perhaps some change we made recently has resolve the blocking issue on that. Let's do 2 things - further test to see why Oorjit is receiving them but nobody else (?)

I just turned on my digest again, daily, so I'll watch for it.

In the meantime, let's track where digest content is collected and excl

[2019-01-02 21:54] jywarren commented on #4482
yes that's right - thanks for the catch!

On Mon, Dec 31, 2018 at 11:40 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2019-01-02 22:00] greysteil commented on #4490
Yes - this should be fixed. Rubygems had an incident yesterday which caused it, but that should now be resolved.

[2019-01-02 22:02] jywarren commented on #4413
This is correct! The extra buttons - we can do in a follow-up. The idea is
that we put 2 functions into one button to save space. But the added
advantage later is that now that we don't need to worry about space, we can
have more finer-grained options for banning. For example, we might have
separate means to ban a user, vs. to ban and also ban all their individual
comments. Or just ban the comment

[2019-01-02 22:05] jywarren commented on #4490
thanks!

On Wed, Jan 2, 2019 at 5:01 PM Grey Baker <notifications@github.com> wrote:

[2019-01-02 22:07] Chrisyee22 commented on #4502
Hi, could I work on this issue??

[2019-01-02 22:11] gauravano commented on #4480
I just enabled the digest for myself  again by going in "Settings" and then pressing test digest button and received a mail with nice content in it, although date and formatting requires work.

![digest_mail](https://user-images.githubusercontent.com/20878070/50615009-d2a9a900-0f08-11e9-9f84-7ad677b201d6.png)

Let's see if it's just due to button press or we get the digest daily such that cron is

[2019-01-02 22:13] jywarren commented on #4480
OK - i enabled it daily now. Let's see. https://publiclab.org/settings

[2019-01-02 22:14] gauravano commented on #4502
Hi @Chrisyee22, please go ahead!

[2019-01-02 22:17] gauravano commented on #4486
Thanks for trying Jeff. Eventually, we will find it and convert it in the FTO :smile:. Thanks!

[2019-01-02 22:19] jywarren commented on #4480
For the status, i just changed it: 806248916b9fe7e6d3640252b9da3b03fcd637bb

@SidharthBansal @gauravano are we pretty ready to publish `stable` to production? I know a LOT has changed and wanted to check with you first. Thanks!

[2019-01-02 22:20] jywarren commented on #4132
This is a spectacular effort, folks! Very impressive to see. Do you think it's worth adding to the README or docs somewhere that this new class can be added to any link to require login first?

Thanks!!! 👍 🎉

[2019-01-02 22:21] jywarren commented on #4132
Also it's useful to have distinct /login and /signup pages so that we can send people the link to those if necessary. Modals don't have a URL, although of course we could send them the URL of a page that they can't access, but that's a little more complex to remember.

[2019-01-02 22:21] jywarren commented on #4132
I.e. "Oh, welcome! Try making an account at https://publiclab.org/signup"!

[2019-01-02 22:30] gauravano commented on #4500
@ebarry just to clarify, you mean - Implementing the typeahead search in /tags page? Sounds awesome!

[2019-01-02 23:05] jywarren opened #4503 "Add comment text to moderator email"
I am now receiving comment moderation emails - awesome work @ValentinaTironi @gauravano and others!

![image](https://user-images.githubusercontent.com/24359/50616941-ae25e080-0eb8-11e9-91e1-0651e86306fa.png)

I think we need to add the comment text itself into the template so that people can skim the comment before approving it:

https://github.com/publiclab/plots2/blob/322b7561e81fd207fcb75a7c0e

[2019-01-02 23:12] jywarren commented on #4494
Agreed! Maybe some basic tips on what the talk page is, what Etherpad Lite
is, how to use it and noting that others can use it live for collaboration?

On Tue, Jan 1, 2019 at 2:23 PM Aditya Kumar <notifications@github.com>
wrote:

[2019-01-02 23:45] #4388 closed

[2019-01-02 23:50] #4279 closed

[2019-01-03 00:18] jywarren commented on #4454
Perhaps if username is not found, it could flash an alert like "we couldn't
find that" and land you on the /login page - or even "we couldn't find that
username; check for mis-spellings or <a href="">create a new account</a>" ?

On Sun, Dec 30, 2018 at 12:44 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-01-03 00:20] jywarren commented on #4401
Hmm, can we trace what's happening using the logs? Perhaps it's not actually logging you out?

[2019-01-03 00:30] geekychaser commented on #4401
![login](https://user-images.githubusercontent.com/24489162/50618978-4c975d80-0f1c-11e9-9b24-0715aab1a3cb.gif)

here is one more issue that i am facing, after log out if i go back then it again shows me as i am logged in and need to refresh again

[2019-01-03 00:32] geekychaser commented on #4401
@jywarren it seems that we are actually logged out but this is not reflected on user. so user needs to refresh again.
thank you

[2019-01-03 00:36] jywarren commented on #2917
Agreed! Closing!

[2019-01-03 00:36] #2917 closed

[2019-01-03 00:42] jywarren commented on #4408
Hmm, can you check the unit tests for this? A second debug step could be to
audit the SQL query in the logs to see if it's malformed?

On Wed, Dec 26, 2018 at 9:41 AM kevinzluo <notifications@github.com> wrote:

[2019-01-03 00:44] jywarren commented on #4426
Hmm, i would imagine a bootstrap modal should work on iOS -  can you test a
plain one in their demos? https://getbootstrap.com/docs/3.3/ If that works
then maybe we need to tweak ours?

On Fri, Dec 28, 2018 at 9:34 AM HarshKhandeparkar <notifications@github.com>
wrote:

[2019-01-03 00:52] jywarren commented on #4401
so, as you can see in some of the admin controller, you can append `?_= +
Time.now` to the end of the URL to flush the browser cache. Maybe this is
needed in some actions now?

On Wed, Jan 2, 2019 at 7:30 PM Rishabh <notifications@github.com> wrote:

[2019-01-03 01:10] jywarren commented on #1487
Indeed, thank you!!

[2019-01-03 01:10] #1487 closed

[2019-01-03 06:08] Souravirus commented on #4401
Yeah @jywarren, @geekychaser is right. We are actually logged out but not shown. @geekychaser you can work on this if you can and send a pull request.
Thank you!!

[2019-01-03 07:48] IshaGupta18 commented on #4413
Okay so @jywarren @SidharthBansal should I start with this for now?

[2019-01-03 07:54] SidharthBansal commented on #4413
Yes, thanks

On Thu, Jan 3, 2019, 1:18 PM Isha Gupta <notifications@github.com wrote:

[2019-01-03 08:07] SidharthBansal commented on #4401
Yeah Rishabh is right

[2019-01-03 08:30] sagarpreet-chadha commented on #2478
Closing this . Solved 👍 !

[2019-01-03 08:30] #2478 closed

[2019-01-03 08:36] sagarpreet-chadha commented on #2582
Hi @jywarren ,

I think searching of location on a map can be done using google autocomplete + google place API and figuring how to make a search_bar on the map . I guess it would be best to make a separate library for this feature ?
Also will this feature help people in using various maps across the site ?

What do you think of this ? Thanks !

[2019-01-03 08:36] sagarpreet-chadha commented on #2611
Closing this . Solved 👍 .

[2019-01-03 08:36] #2611 closed

[2019-01-03 08:37] sagarpreet-chadha commented on #3337
Resolved 👍 .

[2019-01-03 08:37] #3337 closed

[2019-01-03 09:46] gauravano commented on #4499
Nice idea @oorjitchowdhary to organize code! You wanna work on this one yourself or make it a `fto-candidate`? Thanks!

[2019-01-03 09:49] gauravano commented on #4494
@codeIriss you can make a wiki using @jywarren's suggestions and also mention @ebarry @steviepubliclab @jywarren  there for reviewing the wiki. Thanks!

[2019-01-03 09:58] gauravano commented on #4482
Hi @oorjitchowdhary nice catch.
Yes, the URL is invalid as Cartography and by and mapping by aren't supposed to be a part of link.

https://publiclab.org/profile/Cartography%20by%20Stewart%20Long%20%7C%20%20Mapping%20by%20Scott%20Eustis.

Both, StewartLong and ScottEustis should be separate links and should point to their respective profiles.

In the map page also, the username can be highlighted.

[2019-01-03 10:03] gauravano commented on #4448
Hi @oorjitchowdhary @mittalprince, currently there are some optimizations in-progress at #4458. so let's continue the discussion on this issue after that.  Thanks!

[2019-01-03 10:15] gauravano commented on #4463
Hi @geekychaser @shubhscoder @kevinzluo sorry for replying late on this one.

The error you getting in this https://github.com/publiclab/plots2/issues/4463#issuecomment-450574459 is due to missing node, that node actually act as a template for new wiki. The link at `Add one now` is https://publiclab.org/wiki/new?title=event&n=14552 . the node is present in production database so showing error when

[2019-01-03 10:17] grvsachdeva opened #4504 "Show different alert at wiki creation if work is in moderation"
Currently, new users are not allowed to create a wiki page and shown this alert - https://github.com/publiclab/plots2/issues/4463#issuecomment-450570884

If the user's work is in moderation we can show them different alert may be saying "You can create the wiki once your research note/question is approved by moderators."

[2019-01-03 10:17] IshaGupta18 commented on #4413
Should I leave 'Spam post and ban user' for a follow-up like @jywarren said? Also, I am thinking of linking 'become a moderator' to /moderators as said in #4255 . Is this all fine? Thanks a lot!

[2019-01-03 10:18] oorjitchowdhary commented on #4499
I can work on this but @geekychaser wanted to work on it..
Can I work on it @geekychaser?

[2019-01-03 10:18] gauravano commented on #4463
I have opened the issue at #4504. If any of you can edit it further and add links then it would be really helpful. Thanks!

[2019-01-03 10:18] #4463 closed

[2019-01-03 10:19] gauravano commented on #4463
If you guys think any concern is missed, feel free to reopen this issue. Thanks all of you!

[2019-01-03 10:19] Dsxv commented on #4503
Hi @jywarren ! Can I take this up ?  `add the comment text itself into the template`

[2019-01-03 10:19] codeIriss commented on #4494
@gauravano I would love to create a wiki page for it . @jywarren your views please.

[2019-01-03 10:23] gauravano commented on #4503
Hi @Dsxv sure go ahead!

[2019-01-03 10:42] shubhscoder commented on #4479
Yes sure I will take a look at that ! @jywarren

[2019-01-03 11:10] oorjitchowdhary commented on #4500
Can I work on this?

[2019-01-03 12:36] oorjitchowdhary commented on #4499
After refactoring, this is where the `share your work` button is coming up..
Can anyone help me align it to its original position

![image](https://user-images.githubusercontent.com/39333058/50638054-55227f00-0f82-11e9-817f-3c4dda228b60.png)

[2019-01-03 12:37] sagarpreet-chadha commented on #4382
Working on this issue 😄 👍 !

[2019-01-03 12:57] ValentinaTironi commented on #4503
If somebody needs some help here, don't doubt to ask!

[2019-01-03 13:03] Dsxv commented on #4503
Yes , I wanted to make sure that is there a reason for the mail being plane ( without style ) , or I can add some styles

[2019-01-03 13:39] ValentinaTironi commented on #4503
mmm I think there isn't any problem with adding styles. What do you think @gauravano @jywarren ?

[2019-01-03 13:55] IshaGupta18 commented on #4413
Hey @SidharthBansal I think I have completed most of this issue, but the part where I am getting stuck is, I am not able to render the partial I have created for the buttons as data-content of a bootstrap popover. I have tried several different ways, even from our codebase, but there seems to be some bug in rendering it, could you help me out here with this? Thanks a lot!

[2019-01-03 14:03] gauravano commented on #4503
For now, we shouldn't add style because if we are thinking of designing emails then it should be uniform for all email templates. We can form a project around designing of emails, but for now, let's keep it simple comment body addition. @jywarren any thoughts?

Thanks!

[2019-01-03 14:08] Dsxv commented on #4503
Okay I'll keep that in mind !
For now , I have just added basic style  for comment ( close to nothing :p ) which can be removed easily .

[2019-01-03 14:21] IshaGupta18 commented on #4413
Also, I am not able to find the route for this page https://publiclab.org/wiki/moderation in routes.rb, what should I link "become a moderator" to in the meanwhile?

[2019-01-03 14:33] gauravano commented on #4503
`master` branch

[2019-01-03 14:42] Dsxv commented on #4503
Okay Done ! Thanks !

[2019-01-03 15:30] ebarry commented on #4413
Possibly, the link "become a moderator" should go to "mailto:moderators@publiclab.org"?

[2019-01-03 15:38] ebarry commented on #2102
I am totally fine with closing this now that @edieblu has this great work going on: https://publiclab.org/notes/edie_blues/12-13-2018/public-lab-dashboard-new-design-ideas

[2019-01-03 15:53] CoderJolly commented on #4479
skylight is very amazing....thnks @jywarren for enlightening about it

[2019-01-03 16:03] ebarry commented on #3092
I very much agree with the first bullet point suggestion to change the wording from "Now get the word out on mailing lists" to something about tagging. I hope people will be able to understand tagging.

[2019-01-03 16:23] ebarry commented on #2446
Hi Jeff, that's correct -- the "I Did This" button tagging was (and is) working perfectly. :D
I haven't experienced the bug on https://publiclab.org/post lately and am going to close this issue.

[2019-01-03 16:23] #2446 closed

[2019-01-03 17:04] IshaGupta18 commented on #4413
Isn't "flag post to moderators" linked to the same?

[2019-01-03 17:11] oorjitchowdhary opened #4507 "Fix login at /signup"
### Please describe the problem (or idea)
Login at /signup is broken.

![screenshot 143](https://user-images.githubusercontent.com/39333058/50651107-641c2800-0fa8-11e9-8ff5-1142cadf4390.png)

### Please show us where to look

https://publiclab.org/signup

### What's your PublicLab.org username?
oorjit_chowdhary

### Browser, version, and operating system
Chrome, Windows 10

****

## Thank you!

Yo

[2019-01-03 17:13] SidharthBansal commented on #4507
I think you were assigned to this task. You can complete it whenever you get free. You told me in the previous conversations that you are busy till 9 Jan.
Thanks Oorjit.

[2019-01-03 17:14] oorjitchowdhary commented on #4507
I've solved it. I got some time. PR coming up

[2019-01-03 17:15] oorjitchowdhary commented on #4132
* [ ] fix login link at /signup #4507

[2019-01-03 17:19] jywarren commented on #4413
ah, /wiki/moderation exists on production so we can leave it like that -
it's a great idea! Then 'flag' is the email. Thanks!

On Thu, Jan 3, 2019 at 12:04 PM Isha Gupta <notifications@github.com> wrote:

[2019-01-03 17:22] #2102 closed

[2019-01-03 17:32] SidharthBansal opened #4509 "Documentation for requireLogin Class"
Part of #4132.
Add documentation for the new requireLogin class so that we can add that to the new buttons etc in future as per Jeff's suggestion https://github.com/publiclab/plots2/issues/4132#issuecomment-451003321.

[2019-01-03 17:39] SidharthBansal commented on #4507
Great!!!

On Thu, Jan 3, 2019 at 10:44 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2019-01-03 17:42] jywarren commented on #4480
Continuing to track digest issues here: https://github.com/publiclab/plots2/issues/3404

I think we can close this, but we should open some new ones for the formatting/images/bio profile pics of the digest!

[2019-01-03 17:42] #4480 closed

[2019-01-03 17:43] jywarren commented on #3404
Digest emails now send when we press the test button on profile pages!

Later: fix formatting/images/bio profile pics of the digest!

Scheduled sends don't work - for some reason, the setting at https://publiclab.org/settings keeps getting switched off! It stays on for a little while but then gets disabled the next day... not sure how this happens!

![image](https://user-images.githubusercontent.c

[2019-01-03 17:43] oorjitchowdhary commented on #4480
@jywarren Can I request one thing... Can you please give me the permissions for adding labels, closing issues etc..
Thank you!

[2019-01-03 18:15] jywarren commented on #3808
Some are being relayed now! but not all... not sure why!

[2019-01-03 18:19] codeIriss commented on #4454
hey @kevinzluo @jywarren @SidharthBansal @gauravano someone is working on this or i can take this up?

[2019-01-03 18:21] jywarren commented on #3808
Reported new issue in opposite direction! https://github.com/matrix-org/matrix-appservice-gitter/issues/75

[2019-01-03 18:37] IshaGupta18 commented on #4413
#4511 is the link to my PR. I am waiting for approval, do let me know what else I can do! Thanks a ton!

[2019-01-03 18:43] jywarren commented on #4454
great!

On Thu, Jan 3, 2019 at 1:27 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-01-03 18:54] #4457 closed

[2019-01-03 18:55] rexagod opened #4512 "Configure RedCarpet for autocenter support"
The main objective of this issue is to **add auto center support** (as shown [here](https://github.com/publiclab/PublicLab.Editor/pull/197#issuecomment-450972746)) the RedCarpet md parser (currently in [development](https://github.com/publiclab/plots2/pull/3943)). In the meantime, until RedCarpet is properly configured, we can deploy the Editor to add the autocenter functionality for plots2 as of

[2019-01-03 19:03] milaaraujo commented on #4037
Reopening because we need to use the same logic in #4128 to update people location endpoint (/api/srch/nearbyPeople)

[2019-01-03 19:11] oorjitchowdhary commented on #4426
Yes, bootstrap modals show up
![modal 2](https://user-images.githubusercontent.com/39333058/50656468-56bb6980-0fb9-11e9-89da-1048b052f529.gif)

The access token modal is also working
![modal 1](https://user-images.githubusercontent.com/39333058/50656482-62a72b80-0fb9-11e9-9cdd-d9df84fe4c83.gif)

[2019-01-03 19:23] jywarren commented on #4480
Absolutely!

[2019-01-03 19:34] jywarren commented on #4426
Ah, ok. So perhaps this is to be looked at in a chrome dev console
carefully to see what has gone wrong? Could the modals be conflicting?

On Thu, Jan 3, 2019 at 2:11 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2019-01-03 19:45] oorjitchowdhary commented on #3977
@SidharthBansal @jywarren Can we close this issue? Isn't this redundant

[2019-01-03 19:49] #3977 closed

[2019-01-03 19:49] jywarren commented on #4501
For now, in deploying:

[2019-01-03 19:49] gauravano commented on #3977
Thanks @oorjitchowdhary! @jywarren feel free to reopen if you see any discussion point. Thanks!

[2019-01-03 19:50] jywarren commented on #4501
Via @icarito -

[2019-01-03 20:12] jywarren commented on #4494
That would be great; perhaps give it a try and I can review the text when
you're ready? Imagine yourself as a first-time visitor and explain briefly
what the talk pages are good for!

On Thu, Jan 3, 2019 at 5:20 AM Aditya Kumar <notifications@github.com>
wrote:

[2019-01-03 20:32] jywarren commented on #4341
Hi, @capedcrusader23 - as I noted in your pull request, a very big PR inadvertently overwrote your changes and resolved this. I'd like to suggest perhaps you might pick up a new issue and we'd be happy to work with you on it! Your solution was great, so no fault there; it just happened that we had a big PR that modified 91 files on the way, and it kind of absorbed this one. My apologies! But thank

[2019-01-03 20:34] ebarry commented on #4476
hi all, I'm wondering if i could hear some thoughts from you (if you are reading this, this means you!) about *when during 2019 will be a good time to run a Software Contributors Survey?* We did this the year before last, and would like to do it again.

Here is where we first discussed the idea in October 2017: https://publiclab.org/questions/warren/10-25-2017/help-with-a-standard-mini-evaluation-

[2019-01-03 20:40] gauravano commented on #4476
Hi @ebarry I would say right now(in a week) because contributors are very active now-a-days. Also, we could get feedback of GCI students. Thanks!

[2019-01-03 20:41] jywarren commented on #4476
We'd really love to do this survey in part because I believe we have a very
diverse community, and we work hard to welcome people in. But we can't
clearly measure that we are succeeding in either (welcoming or diversity)
without a strong response to a survey (last time was great but only 17 ppl
i think responded, so not very comprehensive). Thanks Liz!

On Thu, Jan 3, 2019 at 3:35 PM Liz Barry <no

[2019-01-03 20:44] jywarren commented on #4476
during the survey open period, we could also include it in the Welcomebot's
"congratulations" message when a PR is merged, and in other places for high
visibility. We didn't have these systems last time!

On Thu, Jan 3, 2019 at 3:41 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-01-03 20:44] gauravano commented on #4476
Nice idea @jywarren :100:

[2019-01-03 20:56] gauravano commented on #4494
From first-time visitor I remember that website will not allow you to make a wiki if you have not contributed before so let me know if you need help. Thanks!

[2019-01-03 20:59] ebarry commented on #4476
Ok, so far i hear @gauravano 's idea to do it next week. Any other ideas for timing? I guess "a good time" would mean "a time when we could get a lot of respondents". We will also have to set the duration of when the survey is available, for instance two weeks. (Could be shorter or longer).

Once the survey period is completed, we will describe the results as
`[survey respondents]/[all possible re

[2019-01-03 21:06] jywarren commented on #4476
Would we want to update the demographic sections (which remain old
US-centric categories) with the latest from
https://github.com/drnikki/open-demographics ?

I'd also set a longer period esp to get maximum impact from our welcomebot
reminders. We could aim for the period of SoC 2019 organizing? That is
coming up real fast. Or we could do a 2 month period maybe to start sooner
and let it overlap t

[2019-01-03 21:08] gauravano commented on #4476
If we want to get lot of responses, then another suitable time is after GSoC orgs are announced :sweat_smile:

[2019-01-03 21:19] ebarry commented on #4476
haha but maybe the people arriving after GSoC orgs are announced have not had enough experience with Public Lab to have meaningful feedback? or maybe they will?

**For demographics: race, Currently in our in-person surveys we have:**

* Multiracial or multiethnic
* Native Hawaiian or other Pacific Islander
* American Indian or Alaska Native
* Asian
* Hispanic or Latino
* Black, African, or African

[2019-01-03 22:16] jywarren commented on #4476
Also a lot more discussion at https://github.com/drnikki/open-demographics/issues/14

And this addition (the above you link to is pretty old but hasn't been updated with input from https://github.com/drnikki/open-demographics/issues/14, unfortunately):

@emmairwin suggesting:

[2019-01-03 22:32] SidharthBansal commented on #4476
Nice Idea. I am in favour of 2 month surveys as Jeff told instead of 2 weeks time period.

[2019-01-03 23:18] jywarren commented on #4323
Following a change to how keys were stored, they're now stored in a new
more secure location. I just copied in the test keys again, so if you want
to try again maybe it'll work now?

On Wed, Dec 26, 2018 at 2:13 PM kevinzluo <notifications@github.com> wrote:

[2019-01-03 23:30] jywarren commented on #4358
I think tooltips are a good compromise! Mobile display is very difficult :-)

Thanks for your help!

On Sun, Dec 23, 2018 at 2:14 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2019-01-04 00:01] SidharthBansal commented on #4323
It is late here. I will test tomorrow. It will be great if you can reply at
Login project email. After that I will go to sleep.
 @jywarren thanks for your time

On Fri, Jan 4, 2019, 4:48 AM Jeffrey Warren <notifications@github.com wrote:

[2019-01-04 02:31] sagarpreet-chadha commented on #4037
Awesome ! Thank you :)

On Fri, 4 Jan 2019, 00:53 Jeffrey Warren <notifications@github.com wrote:

[2019-01-04 04:17] jywarren commented on #4323
Awesome thank you too!!!

On Thu, Jan 3, 2019, 7:01 PM Sidharth Bansal <notifications@github.com
wrote:

[2019-01-04 05:00] oorjitchowdhary commented on #4426
**UPDATE: The modal is now working...
After new code has been published to production.. I don't know how.. But it's working pretty well**

[2019-01-04 05:00] #4426 closed

[2019-01-04 05:10] SidharthBansal commented on #4426
Awesome

On Fri, Jan 4, 2019, 10:30 AM Oorjit Chowdhary <notifications@github.com
wrote:

[2019-01-04 05:11] SidharthBansal commented on #4426
I am sleeping now. I will be back after some time. I will review pending
work.

On Fri, Jan 4, 2019, 10:39 AM Sidharth Bansal <bansal.sidharth2996@gmail.com
wrote:

[2019-01-04 05:44] #4507 closed

[2019-01-04 05:54] #4194 closed

[2019-01-04 07:17] geekychaser commented on #4401
@Souravirus i think its alreday there https://github.com/publiclab/plots2/blob/master/app/controllers/user_sessions_controller.rb#L22

or we need to add this somewhere else please correct me if i am wrong.
thank you

[2019-01-04 09:59] geekychaser commented on #4168
@SidharthBansal i am not able to get this on my local server
![image](https://user-images.githubusercontent.com/24489162/50682629-7ee8ae00-1035-11e9-9850-7552dfb9ad72.png)

[2019-01-04 10:10] oorjitchowdhary commented on #4168
@geekychaser You need to create a research note and add some tags... This sidebar should appear on the notes page then

[2019-01-04 10:18] geekychaser commented on #4168
![image](https://user-images.githubusercontent.com/24489162/50683470-3088de80-1038-11e9-923f-a2a0c8c52b7d.png)

please correct me if i am wrong.
thank you

[2019-01-04 10:21] shubhscoder commented on #3666
@ebarry we can use the lemmatizer  gem (https://rubygems.org/gems/lemmatizer/versions/0.1.1) to reduce a word to its lemma or dictionary form and then perform the search. This would I guess definitely solve the problem.

[2019-01-04 10:33] shubhscoder commented on #4478
I have identified these tables where we could index some columns :
1. Images table (uid and nid together)
2. Likes tables (likeable_id and user_id) (Maybe currently we dont query this table much, but in future we may when we implement some kind of analysis)
3. The node access table. (I havent seen this table being used anywhere, So I am trying to understand what is this used for.)

Rest of tables

[2019-01-04 11:33] Dsxv commented on #4504
Hi gauravano ! I wanted to take on this one , but I am not sure how one can know if the user's work is under moderation or not ?

[2019-01-04 11:53] Dsxv opened #4518 "No cursor : pointer on the Login / Sign up Nav"
![cursor_pointer](https://user-images.githubusercontent.com/36789080/50686810-d7737780-1044-11e9-9afc-44adba36f495.gif)
Just pointing out for a very minor issue that on Login / Sign Up the cursor is not showing up as a pointer .
PS : can I take on this issue ? :)

[2019-01-04 13:22] avsingh999 commented on #4358
can I work with tootips @gauravano @jywarren  ?
thank you : )

[2019-01-04 13:52] SidharthBansal commented on #4311
Hi image upload is already present at the sidebar of profile. We want it
similar for the signup modal. It should be transfered to top. Then it will
be much appreciated.
Thanks Isha.

On Fri, Jan 4, 2019, 6:57 PM Isha Gupta <notifications@github.com wrote:

[2019-01-04 13:56] IshaGupta18 commented on #4311
Where exactly at top would you like it?

[2019-01-04 13:57] SidharthBansal commented on #4311
At left hand side, I guess

On Fri, Jan 4, 2019, 7:26 PM Isha Gupta <notifications@github.com wrote:

[2019-01-04 14:00] IshaGupta18 commented on #4311
But there is no left side in the modal

[2019-01-04 14:01] IshaGupta18 commented on #4311
And the same form is being rendered on the sign up page and in the modal

[2019-01-04 14:06] jywarren commented on #4478
That sounds good! Would you open a pull request with a migration to add
these? There are a few examples of index migrations in /db/migrate you can
look at for an example. Thanks!

On Fri, Jan 4, 2019, 5:33 AM Shubham Sangamnerkar <notifications@github.com
wrote:

[2019-01-04 14:07] jywarren commented on #3666
Whoa... Lemmatizing is like stemming? Does it work in non English text? Wow!

On Fri, Jan 4, 2019, 5:22 AM Shubham Sangamnerkar <notifications@github.com
wrote:

[2019-01-04 14:08] jywarren commented on #4518
Sure! Maybe because they don't have an href attr?

On Fri, Jan 4, 2019, 6:53 AM Pawan Shukla <notifications@github.com wrote:

[2019-01-04 14:09] jywarren commented on #4358
Sure!

On Fri, Jan 4, 2019, 8:23 AM Avkaran Singh <notifications@github.com wrote:

[2019-01-04 14:09] IshaGupta18 commented on #4311
Also, if we look at this way, int his layout, after uploading the image, only that robot captcha is left.. so probably it would be suitable. What do you think?

[2019-01-04 14:45] ViditChitkara commented on #4094
Sounds well, will do it.

[2019-01-04 14:51] Dsxv commented on #4518
@jywarren Yes!

[2019-01-04 15:13] shubhscoder commented on #4478
Yes sure I will open a PR. Thank you!

On Fri, Jan 4, 2019, 7:36 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-01-04 15:31] cesswairimu commented on #4139
![screencapture-app-moqups-cessmbuguar-gmail-com-wzagurbx4h-view-page-a526cc314-2019-01-04-18_29_39](https://user-images.githubusercontent.com/17081074/50695838-e7905480-104e-11e9-842f-d723257e55c3.png)

[2019-01-04 15:37] cesswairimu commented on #4139
@gauravano @sagarpreet-chadha @jywarren @SidharthBansal this a redesign for the  https://publiclab.org/stats page. I need some criticism and input/ideas about the same. Kindly take a look and leave some comments :smiley: Thanks.

[2019-01-04 15:40] cesswairimu commented on #3498
![screencapture-app-moqups-cessmbuguar-gmail-com-wzagurbx4h-view-page-a526cc314-2019-01-04-18_29_39](https://user-images.githubusercontent.com/17081074/50696226-ec093d00-104f-11e9-9c01-f05feac7f90d.png)

A suggest redesign for  https://publiclab.org/stats. Criticism, inputs and ideas are welcome. thanks

[2019-01-04 15:49] jywarren commented on #3666
This sounds super - would you want to open a PR implementing this on our
search API methods? Perhaps if we find additional lemmatizers for other
languages we could insert them. In fact, perhaps if we are going to insert
this code in more than one place, we should make a common method called
`lemmatize()` and then in the future we could switch based on the user set
language. Amazing resource here,

[2019-01-04 15:52] #4499 closed

[2019-01-04 15:53] #4518 closed

[2019-01-04 15:58] jywarren commented on #3498
Hi @cesswairimu wow this is amazing! I really like it. I'd like to get input from @ebarry @steviepubliclab @publiclab/community-reps but just a note that @ebarry is off today and likely won't be able to respond until Monday.

For my part, a few small things - i know this is a mockup and just wanted to note that we should stick as much as we can to the Bootstrap UI library when it starts getting co

[2019-01-04 17:17] shubhscoder commented on #3666
Yes sure I would like to work on this. This is super interesting . Thank
you !

On Fri, Jan 4, 2019, 9:19 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-01-04 18:18] #4037 closed

[2019-01-04 20:12] ebarry commented on #3498
Hi Cess! so exciting to see the advances on https://publiclab.org/stats/range!!!! It looks great!

I'll share how i experienced the information on publiclab.org/stats/range and look forward to your guidance :) So, when i opened it i saw:

* a large font displaying a 13 month period
* a drop down menu that says "view stats in the past", to which i'd assume "yes all stats are of the past," so I didn

[2019-01-04 20:43] cesswairimu commented on #3498
Thanks so much @ebarry for the feedback. I will change the text in the select section.
As for the `start and end` section, by default we have the `start` as 1 week ago, `end` as the date today. Maybe you have some suggestions of how that should be or maybe I should have them as blank?
The text as the top changes according to the range selected(If you select a range from the calendar you will see t

[2019-01-04 20:58] oorjitchowdhary commented on #4482
Hi @gauravano .. Let's break it into 3 FTOs.. I think we're running low on FTO issues..
Can you please open them up?
Thanks

[2019-01-04 21:03] gauravano commented on #4482
Sure!

[2019-01-04 21:08] #4443 closed

[2019-01-04 21:54] jonathanzhang53 opened #4521 "Duplicate 'User is already taken' Error"
I was having signin issues today so I tried to create a new account with same email and username. I got these errors confirming my account already existed.

![image](https://user-images.githubusercontent.com/41968151/50712972-084daf80-1039-11e9-89d1-1ac842b84eb1.png)

However error 2 and 3 are duplicates.

[2019-01-04 22:01] gauravano commented on #4521
Hi @jonathanzhang53, thanks for reporting the issue. We will try to dig into it as soon as possible. in case, you are interested in helping with the issue, let us know. Thanks!

[2019-01-04 22:15] kevinzluo opened #4522 "OAuth Login fail and Form Login fail for some users"
![loginfail](https://user-images.githubusercontent.com/44309027/50713904-48faf800-103c-11e9-90af-b0e9a61bd84e.gif)

I already had an account created through Github with username kevinz_qu.

Chrome, Windows 10

[2019-01-04 22:32] jywarren commented on #4521
Hello, is it possible the signin issue is the same as in #4522 ?

[2019-01-04 22:33] jywarren commented on #4521
Can you detail the exact issues with login in #4522 perhaps?

[2019-01-04 22:34] jonathanzhang53 commented on #4521
This isn’t a sign in issue but an duplicate error when I tried to make a
duplicate account. That was a mouthful.

On Fri, Jan 4, 2019 at 4:33 PM Jeffrey Warren <notifications@github.com>
wrote:

--
*→Jonathan←*

[2019-01-04 23:09] jonathanzhang53 commented on #4522
i Tried logging in with GitHub / google and it gave me a success message but it still showed login/signup at the top right

[2019-01-04 23:57] jywarren commented on #3404
OK, attempted fix in https://github.com/publiclab/plots2/pull/4523 -- it looks like the code was deleting ALL digest user tags for all users, rather than just for one user! Eek!

Hopefully this fixes it!

[2019-01-05 00:45] dinaelhanan opened #4524 "Fix Aspect Ratio for thumbnail grid Images"
Builds on #4198. There are a few things that PR missed. (The grid on /micro still has the aspect ratio issue) The grid on /micro is generated with this template:
https://github.com/publiclab/plots2/blob/master/app/views/grids/_thumbnail.html.erb
(Thanks to @jywarren, who located it :D)

If there are any other places on the site were you find the images look a bit squashed or cut off, please link t

[2019-01-05 06:44] elliot-mcallister opened #4525 "log in issues and spectrum"

[2019-01-05 06:45] elliot-mcallister commented on #4525
I've tried several times to use spectral workbench with various web browsers (moz, chrome, MS, etc). Each time I have rouble I cleared cookies and history. No avail. can't use the service.

[2019-01-05 07:56] geekychaser commented on #4522
@kevinzluo i am facing same issue and i am also not able to login on my local server.
![image](https://user-images.githubusercontent.com/24489162/50721936-6b991980-10ed-11e9-90e9-acd50f1cad96.png)

thank you

[2019-01-05 07:59] SidharthBansal commented on #4522
This is caused in DrupalUser PR most probably. We need to check that and fix it urgently.

[2019-01-05 08:18] SidharthBansal commented on #4522
Google oauth working on Ubuntu + Chrome

[2019-01-05 08:19] SidharthBansal commented on #4522
Github OAuth working on Ubuntu + Chrome on pl.org

[2019-01-05 08:27] SidharthBansal opened #4527 "Moderation message for comments on dashboard who have not commented"
![image](https://user-images.githubusercontent.com/20972099/50722212-bae14900-10f1-11e9-9e76-bd1e21844cb8.png)
I should not receive this message.

[2019-01-05 08:31] SidharthBansal commented on #4522
Is it working on the pl.org?

On Sat, Jan 5, 2019 at 1:58 PM Rishabh Bothra <notifications@github.com>
wrote:

[2019-01-05 08:37] geekychaser commented on #4522
no it is not working this side

[2019-01-05 08:39] geekychaser commented on #4522
so the issue has arised with this commit id `258bf087753c78b239c796c9fd5b02d007e4264c` if you try to point head before this commit everything would work smoothly.
please correct me if i am wrong
thank you

[2019-01-05 08:40] gauravano commented on #4527
Issue already opened in #4447 and PR about to complete in #4470. So, closing this one. Thanks for reporting!

[2019-01-05 08:40] #4527 closed

[2019-01-05 08:41] SidharthBansal commented on #4207
Fixed and checked this @jywarren.
Thanks

[2019-01-05 08:41] #4207 closed

[2019-01-05 08:45] gauravano commented on #4525
@jywarren @icarito

[2019-01-05 08:46] SidharthBansal commented on #4109
Many emails from Public Lab are shown under Promotions. We need to do something here too. I missed to comment on the Dashboard proposal due to it. Sorry about that.
![image](https://user-images.githubusercontent.com/20972099/50648973-a478a780-0fa2-11e9-92b0-40c5a97d54d9.png)
If we see inside the mail then we can infer out redundant information at starting and end of mail
![image](https://user-imag

[2019-01-05 08:47] gauravano commented on #4522
@geekychaser the issue faced by you as described here - https://github.com/publiclab/plots2/issues/4522#issuecomment-451636135 is not an unexpected error. The alert shown in screenshot is rendered in case a moderator bans a user(in your case admin is banned). So, do you remember banning the admin or something like that? Thanks!

[2019-01-05 08:49] SidharthBansal commented on #4522
It is also appearing on my localhost. It is appearing for user, moderator
and admin all.

On Sat, Jan 5, 2019 at 2:17 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-05 08:49] gauravano commented on #4522
and admin all.

You mean user banned alert?

[2019-01-05 08:50] shubhscoder commented on #4271
@oorjitchowdhary, The problem was in the order_string function. It was ordering the tags array depending on "name" but it was supposed to order it according to number of followers of a particular tag, which is given by Tag.followers_count. I have made a PR to fix these. See if that looks good ! Thank you so much!

[2019-01-05 08:50] SidharthBansal commented on #4522
Yeah

On Sat, Jan 5, 2019 at 2:19 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-05 08:51] gauravano commented on #4522
I am inspecting.

[2019-01-05 08:53] geekychaser commented on #4522
no i haven't banned admin or something like that, i faced this after updating my fork so this must be arrived due to last few commits and ion getting Head pointing few commits behind it again started working. thank you

[2019-01-05 08:53] SidharthBansal commented on #4311
I am saying like
Profile_image Providers
Sign_up_form

[2019-01-05 08:54] gauravano commented on #4522
Ok, run `rake db:migrate` and let me know the status. Thanks!

[2019-01-05 08:56] IshaGupta18 commented on #4311
Okay, so just below "Sign up to join public lab community" and on the left side of oAuth providers, right?

[2019-01-05 08:56] SidharthBansal commented on #4522
We tried rake db:reset and it doesn't work.

On Sat, Jan 5, 2019 at 2:24 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-05 08:56] SidharthBansal commented on #4522
Gaurav is it also happening on your side?

On Sat, Jan 5, 2019 at 2:26 PM Sidharth Bansal <
bansal.sidharth2996@gmail.com> wrote:

[2019-01-05 08:57] SidharthBansal commented on #4311
Yeah I think that will be the best option. What do you think?

On Sat, Jan 5, 2019 at 2:26 PM Isha Gupta <notifications@github.com> wrote:

[2019-01-05 08:58] gauravano commented on #4522
No, i am not facing any issue. I remember running `rake db:migrate` when the pull from master was large.

[2019-01-05 08:58] IshaGupta18 commented on #4311
Okay, let me try it and show you a screenshot!

[2019-01-05 09:00] SidharthBansal commented on #4413
@IshaGupta18 just checking, have you linked the login modals to all the new buttons created in the pr. I commented here because I don't want to diverge the nice conversation going on between you and Jeff.
Thanks

[2019-01-05 09:02] geekychaser commented on #4522
@gauravano facing same after `rake db:migrate`

[2019-01-05 09:07] gauravano commented on #4476
Hi @CoderJolly you showed interest in opening check-in last week. Just reminding you to open the check-in on Sunday evening or Monday morning. Also, please copy the @jywarren's comment -  https://github.com/publiclab/plots2/issues/4476#issuecomment-450953816 and ebarry's comment - https://github.com/publiclab/plots2/issues/4476#issuecomment-451268846.

Don't forget to acknowledge this message to a

[2019-01-05 09:08] IshaGupta18 commented on #4311
Something like this?

![image](https://user-images.githubusercontent.com/40794215/50722606-85d7f500-10f7-11e9-941b-24a9d14a40f1.png)

[2019-01-05 09:09] SidharthBansal commented on #4476
Dont forget to make a checklist of the people you did community check ins
(Gaurav, me, Cess and you) so that each person can get a chance to do it it.

On Sat, Jan 5, 2019 at 2:37 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-05 09:10] SidharthBansal commented on #4311
Let's create the form at 1 column instead of 2 column then the image will
be adjusted accurately.
Thanks Isha

On Sat, Jan 5, 2019 at 2:38 PM Isha Gupta <notifications@github.com> wrote:

[2019-01-05 09:14] sagarpreet-chadha commented on #4075
Solved in #4498 !

[2019-01-05 09:14] #4075 closed

[2019-01-05 09:18] IshaGupta18 commented on #4311
Okay let me see, probably I can adjust this image here too properly, I will try it out okay?
Thanks a lot!

[2019-01-05 09:42] Dsxv opened #4529 "Subtle login button"
![login_prob](https://user-images.githubusercontent.com/36789080/50722799-9f2e7080-10fa-11e9-9dcf-0bf82266f0b7.gif)
When  (viewport width < 990 px) , There are two Login buttons of which one on the Dropdown Nav doesn't work .

[2019-01-05 09:59] IshaGupta18 commented on #4311
How's this?
![image](https://user-images.githubusercontent.com/40794215/50723068-a35c8d00-10fe-11e9-85f4-b4d97707f65b.png)

[2019-01-05 10:11] SidharthBansal commented on #4311
Providers
-------------------
image(1st half)   Username
Image(2nd half) Email
Password   Password Confirmation
Bio Text Area.....
Submit
I was trying to suggest this. Sorry for the misunderstanding. Apologies.

On Sat, Jan 5, 2019 at 3:29 PM Isha Gupta <notifications@github.com> wrote:

[2019-01-05 10:34] IshaGupta18 commented on #4311
Oh that's okay, not a problem. How does this look?

![image](https://user-images.githubusercontent.com/40794215/50723417-647d0600-1103-11e9-8552-ea835e1de9dd.png)

![image](https://user-images.githubusercontent.com/40794215/50723420-7068c800-1103-11e9-9b44-30e54ffea0ec.png)

[2019-01-05 10:38] SidharthBansal commented on #4311
You missed the circular shape image. Let's add a default image there if no
image is uploaded by the user.

On Sat, Jan 5, 2019 at 4:04 PM Isha Gupta <notifications@github.com> wrote:

[2019-01-05 10:40] sagarpreet-chadha commented on #4384
Solved in #4498 !

[2019-01-05 10:40] #4384 closed

[2019-01-05 11:22] IshaGupta18 commented on #4311
Is this okay?

![image](https://user-images.githubusercontent.com/40794215/50723903-35b65e00-110a-11e9-80ac-3f39061e10fa.png)

[2019-01-05 12:05] dhruvgupta167 commented on #4176
There are two readme files. Should i make a directory and put both the files in it?
And since directories come first, this will solve this issue.

[2019-01-05 12:34] dhruvgupta167 opened #4534 "Remove Login and Signup buttons after being signed in"
![screenshot 2019-01-05 at 5 57 39 pm](https://user-images.githubusercontent.com/32172694/50724434-736bb480-1113-11e9-9427-ae557c69f3a1.png)
Login and SignUp are present even after being signed in. They should replaced with the link to user's profile.

[2019-01-05 14:50] IshaGupta18 commented on #4534
I think that's a bug, because they are changed to profile and dashboard normally, also I think that the user isn't signed in in this case.

[2019-01-05 15:59] gauravano commented on #4534
Hi @dhruvgupta167 this happens in case of anomaly with cache, so if you refresh the page you'll observe that the view would be modified and those buttons would be replaced with "dashboard" and "profile" buttons.

@SidharthBansal @jywarren I think this cache issue confuses many people, any suggestions to solve it besides appending timestamp to the link?

Thanks!

[2019-01-05 16:01] gauravano commented on #4529
Hi @Dsxv thanks for reporting it. Would you like to solve it? thanks!

[2019-01-05 16:11] Dsxv commented on #4529
@gauravano I'd love to ! Thanks for Asking!  :D

[2019-01-05 16:19] jywarren commented on #4534
I think the timestamp is our immediate solution but perhaps there's a way
to invalidate cache for some pages using headers? We should open an issue
to research other approaches.

On Sat, Jan 5, 2019, 11:00 AM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-01-05 17:02] IshaGupta18 commented on #4311
Sir that is not a problem, this image is just in a form tag and is submitted along with the rest of the information and is displayed at the profile page of the user. Also, this preview is just through js.

[2019-01-05 17:06] IshaGupta18 commented on #4311
About it being responsive, I am unable to make a gif and show it to you, but it's working just fine on different screen sizes!

[2019-01-05 17:11] IshaGupta18 commented on #4311
![image](https://user-images.githubusercontent.com/40794215/50727020-f2c0ae80-113a-11e9-9403-d1f3cd11c7ee.png)

![image](https://user-images.githubusercontent.com/40794215/50727023-ffdd9d80-113a-11e9-9cfe-4f9879317500.png)

See, is this okay? I hope that your concern was resolved!

[2019-01-05 17:21] dhruvgupta167 commented on #4534
Hi @gauravano @jywarren, I tested it a couple of times before filling this issue. I hard refreshed the browser to confirm that the site is not loading from the cache, I even tried different browsers but all showed the same results.

[2019-01-05 18:53] jywarren commented on #4311
Ah awesome! Thanks and great work! Also no need to say sir! :-)

[2019-01-05 18:59] IshaGupta18 commented on #4311
Thank you :smile: so I am creating a PR now.

[2019-01-05 19:03] #4503 closed

[2019-01-05 19:05] #4147 closed

[2019-01-05 19:07] SidharthBansal commented on #4311
Great

On Sun, Jan 6, 2019, 12:29 AM Isha Gupta <notifications@github.com wrote:

[2019-01-05 19:14] jywarren commented on #4522
Is it possible we did not synchronize user status before the DrupalUsers
deprecation? I thought we were already running status from rusers.status
but maybe we weren't?

If so we could still manually copy them all over as we haven't dropped the
table.

On Sat, Jan 5, 2019, 4:03 AM Rishabh Bothra <notifications@github.com wrote:

[2019-01-05 19:15] jywarren commented on #4109
Oh hmm, what causes things to be shown in promotions?

On Sat, Jan 5, 2019, 3:47 AM Sidharth Bansal <notifications@github.com
wrote:

[2019-01-05 19:17] jywarren commented on #4525
Hi Elliot, were you blocked from logging in on publiclab.org? We are
debugging a login issue there, apologies. Or is it perhaps a different
issue? If you can provide some more specifics we're happy to do our best to
resolve it. Thanks for reporting!

On Sat, Jan 5, 2019, 3:45 AM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-01-05 19:20] #4478 closed

[2019-01-05 19:32] elliot-mcallister commented on #4525
I've had some challenges in many cases logging on to public labs. And
selecting the proper camera I solved the issue last night by using opera.

Thanks very much for checking up!

Elliot McAllister
Founder - CEO
Skyphos Technologies

On Jan 5, 2019 2:17 PM, "Jeffrey Warren" <notifications@github.com> wrote:

Hi Elliot, were you blocked from logging in on publiclab.org? We are
debugging a login iss

[2019-01-05 20:05] SidharthBansal commented on #4311
Can you please confirm that the image is present after successful sign up
on the profile page?
Thanks, I will review tomorrow. Its 1-35 am here. Good night.

On Sun, Jan 6, 2019, 12:54 AM Isha Gupta <notifications@github.com wrote:

[2019-01-05 20:07] IshaGupta18 commented on #4311
See this... I hope this is okay?

Its 1:35 am here too, Good Night! Thanks a lot!

[2019-01-05 20:09] SidharthBansal commented on #4311
I thought that was default image. Sorry for the misunderstanding

It looks great. I will review the code after getting up in the morning.
Sleeping now. Its midnight. You should also sleep.

On Sun, Jan 6, 2019, 1:37 AM Isha Gupta <notifications@github.com wrote:

[2019-01-05 20:23] cesswairimu opened #4539 "Tags most used in a period"
Tags most used in this period linking with #4140

[2019-01-05 20:25] cesswairimu opened #4540 "Closer mirroring between stats pages and tag pages"
Closer mirroring between stats pages and tag pages

--have them looking similar or something
* [x] Add link to stats page #5001
* [ ] Change `contribution graph making` method to use the new method used in stats page that accepts range

[2019-01-05 20:33] cesswairimu opened #4541 "Subscribers for each tag"
### Subscribers for each tag
Right now the page https://publiclab.org/stats/subscriptions shows key-value pairs of tags and the number of subscribers. Have them appear according to the ones that have a lot of subscribers in a list form and links to the tags or something easier to visualize.

_Breaking this issue to sub-issues to allow people to allow ideas from the community Thanks @gauravano for

[2019-01-05 21:36] gauravano opened #4542 "Implement Access token modal like Link social modal"
![link_social_modal](https://user-images.githubusercontent.com/20878070/50729380-9b343a00-115e-11e9-837b-f36b4287f636.png)

This is social media linking modal which is integrated using simple HTML - https://github.com/publiclab/plots2/blob/master/app/views/users/profile.html.erb#L206-L223

![access_token_modal](https://user-images.githubusercontent.com/20878070/50729430-5ceb4a80-115f-11e9-961d-fd3

[2019-01-05 21:57] #4422 closed

[2019-01-05 21:58] gauravano commented on #4299
Solved in #4422. Closing this one. Thanks!

[2019-01-05 21:58] #4299 closed

[2019-01-05 22:01] #4447 closed