[2018-02-15 19:16] sukhbir-singh commented on #2334
@ebarry I would like to work on this issue.

[2018-02-15 19:18] stefannibrasil commented on #2337
Hi, @jywarren I am taking this one. Thanks!

[2018-02-15 19:20] amitsin6h commented on #2278
@f3mshep yeah sure. I have some issues also , I can also discuss with you.

[2018-02-15 19:22] jywarren commented on #2307
:-) this looks rad, thanks!!

[2018-02-15 19:29] ViditChitkara commented on #2287
Hey @bronwen9 , so do you get an error or the search bar doesn't show up anything in the pop up??  The pop-up is working fine on my pc. However,  another problem occurs when we click the search button just right to the text-field, it says "Please enter something" (even when the search bar is not empty).

[2018-02-15 19:53] jmphilips commented on #2332
I'd like to take this one.

[2018-02-15 19:55] sagarpreet-chadha commented on #2332
Hi @jmphilips , that would be great ! Thanks !

[2018-02-15 20:01] ebarry opened #2343 "Spam in wiki page revisions is wrongly returned in search results"
### Please describe the problem

I am trying to remove spam from publiclab. The following gif shows that I searched "escort" in an "incognito" window, and was autosuggested several profiles and wiki pages. When i clicked one of the wiki pages, in fact it is one of our major pages "non-profit initiatives". Why was this page returned in search results? To find out, i went to another tab where i was

[2018-02-15 20:03] jywarren commented on #2336
We could scan the input for multiple `##` or `**`, or `](` (commonly part of a Markdown link) and display an alert below the box? This should be an issue over at https://github.com/publiclab/PublicLab.Editor, however. Can you move this over there, Liz?

[2018-02-15 20:05] bronwen9 commented on #2287
I can type into the search bar, but after the first search I get the "please enter something" pop up on ALL following searches, even if I navigate to other pages on the website. The only way I can resume use of the search bar is by refreshing the whole page.

Thanks!

[2018-02-15 20:07] jywarren commented on #2241
@publiclab/community-reps maybe some text like:

What else would we want to send?

[2018-02-15 20:09] jywarren commented on #2143
Hi, it sounds like @stlireri got busy with other things, perhaps -- @mandymuf or @sukhbir-singh please give it a try and chime in here. We'd love your help, but if you start, please open a PR soon so that others don't start on it also and then we have 2x the solution :-)

👍 Thanks all!

[2018-02-15 20:09] bronwen9 commented on #2287
Here's a gif of that issue if that helps: first search is successful, but I'm not able to perform a second search.

![pumpkins](https://user-images.githubusercontent.com/8331717/36278518-1df9ff3a-1262-11e8-9b14-cb45a3af5895.gif)

[2018-02-15 20:16] jywarren commented on #2343
Hi, I think this query needs to include `.where(status: 1)` :

https://github.com/publiclab/plots2/blob/fa16a69f8f475c101bc23325f4df7411c2172872/app/models/node.rb#L23-L25

[2018-02-15 20:16] jywarren commented on #2343
Or maybe `.where('node_revisions.status = 1')`

[2018-02-15 20:19] bronwen9 commented on #2287
Here's another hinky search.. it seems like the magnifying glass doesn't actually serve a function, the only available option is to select either a tag or a research note.

![water](https://user-images.githubusercontent.com/8331717/36278911-4d28fca6-1263-11e8-8b69-90b00d39f036.gif)

[2018-02-15 20:19] jywarren commented on #2278
Hi, all -- let's try to solve this in a new controller method in the users_controller, something like `def timezone` -- where we could use code similar to this to create the user tag in the format above:

https://github.com/publiclab/plots2/blob/master/app/controllers/user_tags_controller.rb#L19-L26

What do you think?

[2018-02-15 20:23] jywarren commented on #2331
I'm not going to close this issue just yet until we open a new one with the follow-ups @Gauravano and @ebarry have suggested, as a checklist. Thanks, everybody!!!

[2018-02-15 20:24] Gauravano commented on #2241
How about sending getting started links which we display at the dashboard of newcomers for a week?

[2018-02-15 20:25] ViditChitkara commented on #2287
That's exactly what I found out!! This is actually happening due to some faulty script.The magnifying glass should actually redirect to a page where are the search results are rendered! I've worked on a fix for it in #2288 . Hope this would work well once #2288 is merged!! Thanks for reporting it though!!!!

[2018-02-15 20:26] jywarren commented on #2334
Looks great -- actually, both these issues would be great to see moved over to https://github.com/publiclab/PublicLab.Editor if that's possible, which is where our Editor project lives. Thanks!!!

I think this does need to be its own issue, and I don't quite follow yet! We can unpack this more over at the other repository, though. Thanks!

[2018-02-15 20:27] jywarren commented on #2337
oh, awesome. thank you!!!

On Thu, Feb 15, 2018 at 2:18 PM, Stéfanni <notifications@github.com> wrote:

[2018-02-15 20:28] bronwen9 commented on #2287
Thanks for untangling this!

[2018-02-15 20:29] jywarren commented on #2341
Agreed -- this sounds great. Also we can change
https://github.com/publiclab/plots2/blob/master/.github/PULL_REQUEST_TEMPLATE.md
or https://github.com/publiclab/plots2/blob/master/.github/ISSUE_TEMPLATE.md
as well. I'd be happy to review a PR about this with an initial copy of
suggested labels maybe from #2231, but are we sure non-contributors can add
labels themselves?

On Thu, Feb 15, 2018 at 1:

[2018-02-15 20:30] jywarren commented on #2248
I love it! Let's do it! 👍 👍 👍 🎈

[2018-02-15 20:37] jywarren commented on #683
Hi, all -- I echo @ryzokuken's optimism that we could get an initial implementation -- like just Facebook -- done before the summer. But expanding this to other platforms, including other integrations like the ability to draw in content from another platform to post in PL.org or the reverse, and many other things, could easily be part of a SoC proposal. I'd love to see the core functionality compl

[2018-02-15 20:44] jywarren commented on #2186
@Souravirus did I see you potentially found a solution to this? We're a bit stuck on it -- maybe we need to compare the exact HTML from the original example:

https://publiclab.github.io/leaflet-blurred-location/examples/

to the DOM in PublicLab.org:

https://github.com/publiclab/plots2/blob/master/app/views/locations/_form.html.erb

to see if there's something missing. Or maybe it's that the Goo

[2018-02-15 20:49] Gauravano commented on #2234
hey, @jywarren plz provide your input here.thanks.

[2018-02-15 20:54] jywarren commented on #2328
:-) thanks! Closing this then.

[2018-02-15 20:54] #2328 closed

[2018-02-15 21:07] #2280 closed

[2018-02-15 21:11] jywarren opened #2345 "Summer of Code call for proposals -- RGSoC and GSoC"
We're part of two different summer fellowship programs this year, Rails Girls Summer of Code (#RGSoC) and Google Summer of Code (#GSoC) -- both recruit software contributors to work on open source projects. Read more and post a proposal for comment here:

https://publiclab.org/notes/warren/02-15-2018/call-for-summer-of-code-2018-proposals

We especially welcome proposals from people from groups un

[2018-02-15 21:11] jywarren commented on #2345
@publiclab/reviewers 🎉  🎈

[2018-02-15 21:14] #2299 closed

[2018-02-15 21:18] jywarren commented on #2336
Moving over to https://github.com/publiclab/PublicLab.Editor/issues/125, thanks!

[2018-02-15 21:18] #2336 closed

[2018-02-15 21:18] jywarren commented on #2334
Moving over to https://github.com/publiclab/PublicLab.Editor/issues/124, thanks!

[2018-02-15 21:18] #2334 closed

[2018-02-15 21:20] stefannibrasil commented on #2345
Congrats, everyone! I've been looking for a while for projects to contribute and it took me a long time to find first-time friendly projects like this. Thank you for this, you are really welcoming =)

[2018-02-15 21:24] SidharthBansal commented on #2341
I am little bit inclined to teaching them how to add labels if they don't know how to add them.
It is easy. Only they need to select labels from sidebar

[2018-02-15 21:24] jywarren commented on #104
Updated a few more completed items on this list. Ready to start doing prompts to add other things like equipment, affinities? This could be as simple as a button that says "Add a piece of equipment" and displays a list of possibilities (for first version), like `balloon-mapping-kit`.

[2018-02-15 21:25] jywarren commented on #104
@ebarry @steviepubliclab for this one:

Could we list what people have offered to answer questions about, on the profile, and if there aren't any, prompt them to add some?

[2018-02-15 21:27] jywarren commented on #2243
Moving over to https://github.com/publiclab/leaflet-blurred-location/issues/112 -- thanks!!!

[2018-02-15 21:27] #2243 closed

[2018-02-15 21:33] jmphilips commented on #2332
@sagarpreet-chadha

[code]
I apologize.  I am receiving this error when I try and push my branch up to GitHub.

[2018-02-15 21:40] steviepubliclab commented on #104
Hi,
The tag there would give them an email if there was a question posted on
that topic right? If so, it seems like maybe it's just the same thing twice
and we could just find words that suit both these things.

-Stevie

On Thu, Feb 15, 2018 at 3:25 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-02-15 21:42] jywarren commented on #1940
I'm closing this, as we've completed everything on the list! https://publiclab.org/wiki/location-privacy

[2018-02-15 21:42] #1940 closed

[2018-02-15 21:47] jywarren opened #2346 "Start linking from appropriate places to new location privacy help page"
We have a new page (still being worked on) here: https://publiclab.org/wiki/location-privacy

this explains our new location privacy features, and we should put helpful links to it from anywhere we prompt location-- so, from:

* the profile page http://publiclab.org/profile
* add `Learn about privacy` to `Share your own location on your profile.` on http://publiclab.org/people below the map
* on t

[2018-02-15 21:47] jywarren commented on #2345
:-) welcome one more time!

Also @publiclab/soc folks who've participated before, we'd love to hear from you again, even just to say hi!

[2018-02-15 21:52] jywarren commented on #2186
I think this is 2 separate issues. One is an API rate overage:

The second is that the auto-suggest system is not displaying a list of suggested places the way I screenshotted above. for that, i'm not sure but maybe it does have to do with the load order of the Google API code and the modal dialog.

[2018-02-15 22:17] SidharthBansal opened #2347 "Redundant Gemfile.new"
### Please describe the problem (or idea)
There is no need of Gemfile.new

[2018-02-15 22:30] jywarren commented on #104
Oh, sorry, same thing as what? we don't currently show subscriptions on the profile page, so if we did that we could maybe hit two 🐦  with one stone? Would that be ok?

[2018-02-15 22:32] #2337 closed

[2018-02-15 22:36] jywarren commented on #2341
Oh, sorry i meant like are we sure they even have permissions to change labels? I sometimes forget what i'm able to do as a maintainer :-)

[2018-02-15 22:36] jywarren commented on #2341
+1 teaching!

[2018-02-15 22:41] jywarren commented on #2347
agreed! Rad!

On Thu, Feb 15, 2018 at 5:17 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-02-15 22:57] jywarren commented on #2234
Yes, i think you're right and we can just skip the tag additions. They were originally added because we would immediately send an email, and if the tag wasn't added at the same time as the node published, no email would be sent. But for these digests, there'll be a window of probably 8 hours minimum -- and often days, if it's weekly -- for the tags to be added. So the extra notification pegged to

[2018-02-15 23:04] stefannibrasil commented on #2333
I am taking this one too @jywarren

[2018-02-15 23:12] SidharthBansal commented on #2341
No, they can't add labels. So, let's think what alternative can be adopted.

[2018-02-15 23:12] SidharthBansal commented on #2341
My mistake 😢

[2018-02-15 23:13] jywarren commented on #2341
if a label is assigned to them, can they then add labels?

On Thu, Feb 15, 2018 at 6:12 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-02-15 23:15] jywarren commented on #2341
np! There might be something we could do with a bot, maybe, but I don't
know. We could ask them to ping someone for labeling help via
`@publiclab/______`?

On Thu, Feb 15, 2018 at 6:12 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-02-15 23:15] jywarren commented on #2333
awesome, that's great!

On Thu, Feb 15, 2018 at 6:04 PM, Stéfanni <notifications@github.com> wrote:

[2018-02-15 23:24] sukhbir-singh commented on #2143
@jywarren Is it correct that, In this issue we are trying to reload page [only profile page] when a location is added to user's profile for first time, or when user added a location tag when there is no already existing location set by user.

[2018-02-15 23:27] SidharthBansal commented on #2341
We can check this. I will create a new account now and see what happens

[2018-02-15 23:35] bansalsidharthcode commented on #2341
Asking them to ping is a great option
Can you please assign this issue to this id so that I can check if anyhow I can add labels to this specific issue.

[2018-02-15 23:37] jywarren commented on #2143
It's any time a location is added, actually, which is probably the simplest. At some point we should have the form delete any existing locations too, but not for now. A good follow-up issue!

[2018-02-15 23:49] jywarren commented on #974
Could the first listing page be built out from http://publiclab.org/spam ? Great ideas!

[2018-02-16 00:09] jywarren commented on #2186
These lines set up the autocomplete:

https://github.com/publiclab/leaflet-blurred-location/blob/e802cdf2cd4d8c7be69cca69f96327f4bc9a1346/src/blurredLocation.js#L94-L99

[2018-02-16 00:11] jywarren commented on #2339
Sure!

[2018-02-16 00:14] jywarren commented on #1119
Hi, @visheshruparelia -- please take a look through https://publiclab.github.io/community-toolbox/#r=all -- we'd love to have your help with one of those! Or if they're all taken, perhaps a https://github.com/publiclab/plots2/labels/help-wanted

however, if @Gauravano has an idea of where you could help with this one, maybe!

[2018-02-16 00:29] jywarren commented on #2309
Merging this with #2262 and closing as it'll be solved shortly in #2263! Thanks!

[2018-02-16 00:29] #2309 closed

[2018-02-16 00:31] jywarren commented on #2122
Hello, i worry this may be a difficult one to reproduce; have you been able to duplicate what @weatherpattern saw? If not, we may need to dig into logs a bit more to try to find the issue there.

[2018-02-16 00:31] #2262 closed

[2018-02-16 00:34] #2294 closed

[2018-02-16 00:36] #2347 closed

[2018-02-16 00:41] #2237 closed

[2018-02-16 00:48] sukhbir-singh commented on #2143
Please review Pr #2350

[2018-02-16 00:52] jywarren commented on #2341
oh, darn -- you can't assign issues to someone who's not a contributor! :-(

[2018-02-16 06:49] visheshruparelia commented on #2346
I'd like to take this up

[2018-02-16 08:03] noordean commented on #2340
Can I work on this ?
If yes, a quick question: I can't see the green label `Answered` on my own questions after they've been answered, just as we have in your first screenshot above. This is mine:
<img width="1280" alt="screen shot 2018-02-16 at 8 59 34 am" src="https://user-images.githubusercontent.com/14357823/36298406-42fb7462-12f8-11e8-9ccd-95f513a5d359.png">

[2018-02-16 08:42] sukhbir-singh commented on #2335
I am working on this

[2018-02-16 13:09] balaaagi commented on #2310
@jsmayo  Can i Take it and complete along with pull request ?

[2018-02-16 13:11] balaaagi commented on #1996
@SidharthBansal  Is someone working on the issue. I could see it is still open. Can I take this?

[2018-02-16 13:57] sukhbir-singh opened #2352 "UI updation: Sortable headers of table with up/down arrow icon"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)
The aim of this issue is to track the implementation of same sorting UI across all tables on public lab site with sorted headers.

- [x] Lis

[2018-02-16 13:58] sukhbir-singh commented on #2352
I am currently working on this issue as suggested by @jywarren in issue #2331

[2018-02-16 15:36] Souravirus commented on #2068
Yeah I have started working on it

[2018-02-16 16:21] jywarren opened #2354 "Links aren't being auto-linkified any more in comments"
Links written out like this should be automatically made into clickable links, i think this is called "autolink" in Markdown:

https://publiclab.org/notes/bronwen/02-02-2018/community-kits-prerequisites-checklist

See the comment on the bottom of that page to see a URL that's no longer being made into a link:

https://publiclab.org/notes/bronwen/02-02-2018/community-kits-prerequisites-checklist#c1

[2018-02-16 19:35] sukhbir-singh opened #2356 "Bug in wiki page: "see more" text gets shuffled on clicking of sortable headers"
### Please describe the problem (or idea)
I came across a bug in wiki page of https://www.publiclab.org/wiki/advanced-grids. In exclusive grids section table on clicking of the title header, "Show 6 more button" also getting suffled. but the expected thing is "Show more" button must always remains at bottom of table as last row independent of any type of sorting.

See screenshot below:-

![screens

[2018-02-16 19:42] jywarren commented on #2053
Hello to folks who've asked to be mentors -- I'm assuming you've read through the above materials and I'm adding you all to the @publiclab/reviewers group as well as @publiclab/soc -- we expect mentors to participate in the usual welcoming/reviewing/supporting role that everyone in the reviewers group does. Ask if you're not sure what this means!

Thank you very much! As we [get proposals](https:/

[2018-02-16 20:08] first-timers[bot] opened #2357 "fix autolinking of comments"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-02-16 20:10] jywarren commented on #2354
Posted as a first-timers-only issue in https://github.com/publiclab/plots2/issues/2357 !!

[2018-02-16 20:10] #2354 closed

[2018-02-16 20:20] Gauravano commented on #70
Hi @jywarren can I take this

[2018-02-16 20:22] Gauravano commented on #829
Can I open a new fto-candidate from this ?

[2018-02-16 21:04] jywarren commented on #829
yes please! That'd be great :-)

On Fri, Feb 16, 2018 at 3:22 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-02-16 21:04] jywarren commented on #70
awesome!

On Fri, Feb 16, 2018 at 3:20 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-02-16 21:07] jywarren commented on #2356
Great catch! Thank you for filing!

[2018-02-16 22:48] #2332 closed

[2018-02-16 22:51] jywarren commented on #2346
That'd be great -- does it make sense to you? Need help finding lines of code to work on? 👍

[2018-02-16 23:47] #2285 closed

[2018-02-17 00:10] nikosgi commented on #2357
Claim

[2018-02-17 00:11] jywarren commented on #2272
Hmm, did I assign this to you? was that me? I think i have a rogue bot or something doing some assigning and such!!!

[2018-02-17 00:11] jywarren commented on #2172
Hmm. Perhaps db seed doesn't actually empty the database? Can you trash your database file and try then?

[2018-02-17 00:13] jywarren commented on #2172
I'm sorry you're having such issues! Maybe `puts` a count of some ActiveRecord query in the failing tests to see if it returns a consistent # of wiki nodes? Some way to ensure the database is clean? I mean, tests shouldn't be running on an inconsistent database anyways, right? it should all come from fixtures.

[2018-02-17 00:15] jywarren commented on #2274
Hi, thank you! I'm merging this into one I moved for @ebarry -- https://github.com/publiclab/PublicLab.Editor/issues/125

Being on the Editor repository should increase chances we can solve this. Thank you!

[2018-02-17 00:15] #2274 closed

[2018-02-17 00:22] SidharthBansal commented on #2272
I am not sure whether you assigned this to me or not.But I am pretty sure there is some problem with the bot assign feature. I saw some issues assigned to me as soon as I posted them. Whenever I will encounter this behaviours again I will bring into your notice

[2018-02-17 00:22] nikosgi commented on #2357
Done! You can review it!

[2018-02-17 00:26] jywarren commented on #2206
Hmm, did it still not work when you refreshed the page? Maybe there's a local caching issue?

[2018-02-17 00:27] jywarren commented on #2206
Note this may be part of https://github.com/publiclab/inline-markdown-editor/ -- but we're glad for your help, @Souravirus !!

[2018-02-17 00:28] jywarren commented on #2206
Oh, it looks like the submit button is reloading the page instead of sending a request via AJAX! That's not good.

[2018-02-17 00:32] jywarren commented on #2272
OK! Thanks.

On Fri, Feb 16, 2018 at 7:22 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-02-17 00:34] jywarren commented on #2357
Fixed in #2359 -- perfect! Thanks so much and I hope you're interested in tackling another! :-) 👍

[2018-02-17 00:34] #2357 closed

[2018-02-17 00:48] jywarren commented on #2277
This is a good idea! What might it look like?

[2018-02-17 01:07] #2250 closed

[2018-02-17 02:39] James-N-M commented on #2346
Ill take this if @visheshruparelia has not.

[2018-02-17 03:17] biswesh456 commented on #70
@jywaren I am busy with some college work hence could not give time to this issue. Hopefully @Gauravano could Do it soon!!! Good luck

[2018-02-17 06:28] visheshruparelia commented on #2346
Going through the code rn

[2018-02-17 10:44] jsmayo commented on #2310
I thought I did

[2018-02-17 17:16] SidharthBansal commented on #2340
Yeah sure you can work on this issue.
You need to accept the answer to show green accepted button there.

[2018-02-17 18:45] seafr commented on #2326
@jywarren the PR for this issue has been merged. I think we can close it now.

[2018-02-17 21:06] ryzokuken opened #2364 "Improve the current state of testing"
- [ ] Watch "How to stop hating your tests" (https://vimeo.com/145917204)
- [ ] Read "TestProf - A Good Doctor for slow Ruby Tests" (https://evilmartians.com/chronicles/testprof-a-good-doctor-for-slow-ruby-tests)
- [ ] Check out their RubyProf Guide (https://github.com/palkan/test-prof/blob/master/guides/ruby_prof.md)
- [ ] Read required docs
- [ ] Improve tests
- [ ] Profit

[2018-02-17 21:07] ryzokuken commented on #2364
@jywarren please take a look.

[2018-02-17 21:42] ryzokuken opened #2365 "Weird warnings while testing"
While testing locally, I'm seeing weird warnings:

[code]

Let's find out why they show up.

/cc @jywarren @publiclab/reviewers

[2018-02-17 22:34] shapironick commented on #2274
great thanks! I moved two sub-points into the editor's repository and +1'd the other one that was already in there.

[2018-02-18 01:40] James-N-M commented on #2364
I figure I should actually learn some ruby/rails before trying to take this on haha, if not truly knowing the ins and outs of ruby/rails I dont mind doing some reading 💃

[2018-02-18 03:40] ruan-brandao opened #2367 "Check current validity of README.rdoc"
### Please describe the problem (or idea)

I have noticed that the [README.rdoc](https://github.com/publiclab/plots2/blob/master/README.rdoc) file is not updated in a long time, and seems to be a default version without instructions to run the application.

I was wondering if it is okay to remove `README.rdoc`. If it is, I can do it.

### What's your PublicLab.org username?

ruanbrandao

[2018-02-18 11:39] ryzokuken commented on #2364
@James-N-M Good idea! You could check out the resources I have listed in the PR body itself.

[2018-02-18 16:53] seafr commented on #2365
I have been seeing this for some time now (and I thought it was a problem with my setup).

[2018-02-18 16:55] MayankKashyap commented on #2365
Same on my case..

[2018-02-18 16:55] visheshruparelia commented on #2346
Sorry, was busy for the past 2 days so couldn't look into it. @jywarren can you check my [PR](https://github.com/publiclab/plots2/pull/2368) and let me know if anything more is required?

[2018-02-18 19:09] SidharthBansal commented on #2365
Me too

[2018-02-19 09:55] utsha1510 commented on #2335
working on this

[2018-02-19 13:32] Gauravano commented on #2335
That's great @utsha1510 .If you have any query please feel free to ask.Thanks.

[2018-02-19 15:06] MittalS211 commented on #2228
Hi!
I am going to try this out. I am a first timer!

[2018-02-19 15:23] Gauravano commented on #2228
Hi @MittalS211 I guess this issue is solved in #2284.You can find first-timer issues at https://publiclab.github.io/community-toolbox/#r=all . Thanks.

[2018-02-19 21:43] danielleshwed commented on #2310
is this issue still available to fix?

[2018-02-19 21:49] Gauravano commented on #2310
hi @danielleshwed, this issue is already solved in #2362.You can find new first-timer issues at https://publiclab.github.io/community-toolbox/#r=all .Thank you.

[2018-02-19 22:09] Gauravano opened #2369 "Showing message at the top of upgrade page"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2018-02-19 22:10] Gauravano commented on #829
Opened in #2369

[2018-02-19 22:10] #829 closed

[2018-02-20 00:42] SidharthBansal opened #2370 "Unable to public research note on /posts"
### Please describe the problem (or idea)
I was trying to edit something in my GSOC proposal but was not able to. So, I deleted it and tried to publish a new research note with same content. But I am unable to publish it.
Following screen comes
![image](https://user-images.githubusercontent.com/20972099/36402502-03f06042-1605-11e8-8503-56fc93f3ba11.png)

[2018-02-20 02:52] SidharthBansal commented on #2370
Finally, it got published. I tried so many times

[2018-02-20 03:43] icarito commented on #2370
That's strange! We should keep this open and I'll check logs.

[2018-02-20 03:56] icarito commented on #2370
I could only find this error message to help debug, not sure if it's the right one, please check if time matches.
[code]

[2018-02-20 04:00] SidharthBansal commented on #2370
Yeah this is right

[2018-02-20 04:01] jywarren commented on #2370
Oh no! Could you try to reproduce this and save the text that causes it? Do
you know what you did to get it to work?

On Feb 19, 2018 10:57 PM, "Sebastian Silva" <notifications@github.com>
wrote:

[2018-02-20 04:02] icarito commented on #2370
Possibly we're hitting a database limit of some kind, i'll run an analysis of `mysql-slow.log`

[2018-02-20 04:03] SidharthBansal commented on #2370
Yes sure , I will try to reproduce.
I don't know how it got publish

[2018-02-20 14:56] SidharthBansal commented on #2370
I tried to reproduce in the development mode but was unable to.
The server log in the development mode are

Started GET "/assets/notes.js" for 127.0.0.1 at 2018-02-20 20:21:07 +0530

Started GET "/assets/dragdrop.js?body=1" for 127.0.0.1 at 2018-02-20 20:21:07 +0530

Started GET "/assets/sidebar.js?body=1" for 127.0.0.1 at 2018-02-20 20:21:07 +0530

[code]
I just submit it for around 10 times. Whe

[2018-02-20 15:12] #2246 closed

[2018-02-20 15:17] jywarren commented on #2370
ah, so is POST on the legacy form broken? Do we have a test for this? Does
it fail consistently?

On Tue, Feb 20, 2018 at 9:56 AM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-02-20 15:17] jywarren commented on #2370
I just saved this page with the legacy form, so the error is not
consistent:
https://publiclab.org/notes/warren/11-08-2016/help-public-lab-s-software-grow-by-joining-a-supportive-team

On Tue, Feb 20, 2018 at 10:17 AM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-02-20 15:37] jywarren opened #2372 "menubar search "prompt" popover does not disappear"
### Please describe the problem (or idea)

The menubar search "prompt" popover sometimes doesn't go away when you type in Chrome desktop:

<img width="305" alt="screen shot 2018-02-20 at 4 17 56 pm" src="https://user-images.githubusercontent.com/24359/36432359-06d00d62-1628-11e8-9da9-0d5b2d1ed67a.png">

### Please show us where to look

https://publiclab.org/ (any page, top menubar)

That line of

[2018-02-20 15:46] #2310 closed

[2018-02-20 15:48] SidharthBansal commented on #2370
Also, I have noticed delayed the opening of thehttps://publiclab.org/notes/bansal_sidharth2996/02-20-2018/gsoc-proposal-oauth-authentication?_=1519141316 note proposed by me over the other notes. I don't know why. Is the behaviour same on your computer too?
Let me check for the tests.

[2018-02-20 15:49] SidharthBansal commented on #2370
I have checked the delayed opening of https://publiclab.org/notes/bansal_sidharth2996/02-20-2018/gsoc-proposal-oauth-authentication?_=1519141316 on my Android mobile phone also. It is taking 2-3 minutes while the other notes are not

[2018-02-20 15:55] SidharthBansal commented on #2370
I also faced the problem with the new rich wiki editor. On clicking on the publish button, the button fade away but didn't redirect to the newly created page.

[2018-02-20 16:16] jywarren commented on #2367
sure, that sounds good! Thank you!

On Sat, Feb 17, 2018 at 10:40 PM, Ruan Brandão <notifications@github.com>
wrote:

[2018-02-20 16:17] jywarren commented on #2346
Ah, i think I just merged the PR by @James-N-M in https://github.com/publiclab/plots2/pull/2360 -- sorry, I didn't realize there were 2 open! Checking now...

[2018-02-20 16:20] ViditChitkara commented on #2372
Hi @jywarren! I have provided a fix in #2288. Please have a look!

[2018-02-20 17:50] #2346 closed

[2018-02-20 17:50] jywarren commented on #2346
Responded in https://github.com/publiclab/plots2/pull/2368 and closing now. Sorry for the mixup! 👍

[2018-02-20 17:58] jywarren commented on #2143
Great work on the PR, @sukhbir-singh.

@stlireri if you're interested in taking on a new project, please ping me -- I'm very happy to help you or @mandymuf get started on something. Thanks for your interest!!!

[2018-02-20 18:13] jywarren commented on #2370
That's totally true -- goodness, what could possibly be causing that slowness?

OHHHHHH i wonder if it's that you had an image that was DATAURL encoded in there -- i think i saw that in my email inbox. So perhaps it's taking that long to load it... i think perhaps we have to eliminate that image... i think it was pasted in? This is a good bug to try to fix too -- could you open a separate issue fo

[2018-02-20 18:19] jywarren commented on #2370
Actually maybe this is the same issue for both loading and publishing!

[2018-02-20 18:24] #2287 closed

[2018-02-20 18:24] #2372 closed

[2018-02-20 18:41] James-N-M commented on #2369
Hi @Gauravano I'd like to claim this issue. If this post could get some formatting etc, what ever you think that will explain this more clearly and some hints on what I need to modify exactly

[2018-02-20 19:00] jywarren commented on #2326
oh yeah! great.

[2018-02-20 19:00] #2326 closed

[2018-02-20 19:01] Gauravano commented on #2369
Thanks, @James-N-M .Ok, I am further dividing this into steps.

[2018-02-20 19:01] #2322 closed

[2018-02-20 19:05] #2029 closed

[2018-02-20 19:08] #2252 closed

[2018-02-20 19:25] jywarren commented on #2228
and welcome, @MittalS211 !! Very happy to have your help and if you don't find a first-timers-only issue open, ping me here and we can get one prepared for you.

[2018-02-20 19:31] jywarren commented on #2365
Yes! This would be great to solve :-)

[2018-02-20 19:33] jywarren commented on #70
ok! no problem, and thank you!

On Fri, Feb 16, 2018 at 10:17 PM, Biswesh Mohapatra <
notifications@github.com> wrote:

[2018-02-20 19:51] mridulnagpal commented on #2186
@jywarren @ebarry We will be getting rid of google API anyways this summer so I think this should be resolved when we do that. Sounds good?

[2018-02-20 20:03] #2333 closed

[2018-02-20 21:23] jywarren commented on #2122
Hi, @weatherpattern -- can you email me the notification email you just received?

@rachaelkiteme we'd love to have your help but without this extra information i think i'll be tough to solve it -- we won't know what's going wrong!

@ebarry if you could reach out to Ray to get the email forwarded we can take the next step here. Thanks!

Thanks all!

[2018-02-20 21:33] jywarren commented on #2122
actually @rachaelkiteme if you'd like to check if we have a test for these lines of code -- a post to the `/email` action of `/app/controllers/users_controller.rb` in our functional tests (`/test/functional/users_controller_test`):

https://github.com/publiclab/plots2/blob/df33dfec5f7a3d26e17fec36218d99861059ad88/app/controllers/users_controller.rb#L221-L229

If we pass in the parameter `email` it

[2018-02-20 22:08] Gauravano commented on #2369
hi, @James-N-M I have divided the issue into steps, start with the first one and raise a PR soon, you may ask for help at any point.Thanks.

[2018-02-20 22:34] weatherpattern commented on #2122
This is the email I received. Removed the code at the end of the URL. The link still goes to the home age with this error message: Password reset failed. Please contact the web team if you are having trouble. (Error: no user with that key)

EMAIL:
Dear weatherpattern,

Someone (probably you) has requested a reset of your password. To reset your password, click here:

http://publiclab.org/reset/key

[2018-02-20 22:43] jywarren commented on #2122
great, thank you! OK, so I think the code is not being generated or maybe
just not saved... i don't see the reset_key in the database -- it's nil. We
should write the functional test and follow up that way.

@weatherpattern i'll email you a key that should work.

On Tue, Feb 20, 2018 at 5:34 PM, weatherpattern <notifications@github.com>
wrote:

[2018-02-20 23:00] jywarren commented on #2122
OK - this line needs to changed to `u.update_attribute(reset_key: key)` -- to correctly save the `reset_key`!

https://github.com/publiclab/plots2/blob/1dfccf7098714d090b2fd19e628f80ad58a1a07b/app/models/user.rb#L111

But we should still write the test!

[2018-02-20 23:05] jywarren commented on #2122
... actually we'll be deprecating the whole migration system pretty soon. Maybe we don't need a test... this is pretty good documentation of this issue. It won't be around for long.

We would want to remove this line too though:

https://github.com/publiclab/plots2/blob/master/app/controllers/users_controller.rb#L224

[2018-02-20 23:33] weatherpattern commented on #2122
So it's working for me now. But look like there is some coding to be done. So, when that's complete feel free to close the issue.

Thanks to all for your help!

[2018-02-21 00:19] jywarren commented on #2122
thank you too!

On Tue, Feb 20, 2018 at 6:33 PM, weatherpattern <notifications@github.com>
wrote:

[2018-02-21 05:05] MittalS211 commented on #2228
Gaurav,
that would be really great! I am trying to make my way into open source,
and that would really help me. I work on html,css, javascript.

On Wed, Feb 21, 2018 at 12:55 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-02-21 05:32] icarito commented on #2370
Yeah I don't think it's a great idea to store images as inline data :-)

[2018-02-21 12:01] noordean commented on #2339
This issue and #2340 seems to be the same.

[2018-02-21 12:13] SidharthBansal commented on #2339
They are not same but they are similar. The codes are overlapping. As you are doing #2340, so it would be great if you will work on it instead of me.
The difference is here you need to change the show action of the tag controller and there you have changed the show-for-author action

[2018-02-21 12:13] SidharthBansal commented on #2339
D

[2018-02-21 13:54] ebarry commented on #2321
Oh interesting! I'm going to send this to the moderators group to add to the discussion.

[2018-02-21 13:57] MayankKashyap commented on #2321
I also see some peoples who put some spam messages in GSOC proposals

[2018-02-21 14:17] ebarry opened #2377 "Add tab for Profiles to publiclab.org/spam/"
### Please describe the problem (or idea)

This idea is about extending the Spam Page to assist moderators in banning spam profiles.

The current page at https://publiclab.org/spam/ is only visible to moderators, so here's a screenshot:

<img width="1280" alt="screen shot 2018-02-21 at 8 55 49 am" src="https://user-images.githubusercontent.com/161439/36483843-48c8f388-16e5-11e8-89e2-0998714e406a.p

[2018-02-21 15:20] ebarry commented on #2079
Oh -- does this exist?

[2018-02-21 15:53] jywarren commented on #762
Hey @ebarry -- what if we made the dashboard sidebar default tab a questions form, and the wiki tab could be the alternate. Or we just show wiki edits in the activity feed, which is easy.

[2018-02-21 15:53] jywarren commented on #762
should i post this as a question?

[2018-02-21 15:54] jywarren commented on #283
@ryzokuken do you think we're ready for this old one?

[2018-02-21 15:56] jywarren commented on #378
Solving in https://github.com/publiclab/plots2/issues/2241 ! This would then follow and connect with spam solutions.

[2018-02-21 15:56] jywarren commented on #2335
@utsha1510 how are you doing? Can we help out at all?

[2018-02-21 16:00] jywarren commented on #2241
That's a great thing to start with -- super! We can modify the text later :-)

We can even base it on a Feature -- https://github.com/publiclab/plots2/blob/master/doc/DATA_MODEL.md#nodes

that way we can easily update the welcome message text (the part that doesn't include the current user's username, though, since we can't use variables in a feature)

How does that sound?

[2018-02-21 16:06] utsha1510 commented on #2335
I'm a beginner to open source so I'm working on it and will let you know if
help needed.

On Feb 21, 2018 9:27 PM, "Jeffrey Warren" <notifications@github.com> wrote:

[2018-02-21 16:16] jywarren commented on #2079
This added a tab that links to /people -- not quite the full spam interface you're looking for, i think!

https://github.com/publiclab/plots2/pull/2109/files#diff-1115f5a5481c6bb3b12ab92d382954ffR19

[2018-02-21 16:36] jywarren commented on #2377
In this URL scheme, the `keyword` could be used in a new `/config/routes.rb` entry to match against both the user name and bio, using this service:

[code]

(using this code: https://github.com/publiclab/plots2/blob/master/app/services/typeahead_service.rb#L15-L25)

[2018-02-21 16:37] jywarren commented on #2377
Let's start with a single keyword system, then follow up with a multiple keyword system. The new rich search may automatically incorporate multiple, so let's also see how that works.

[2018-02-21 16:39] jywarren commented on #2281
Complete in #2315! Thanks, all!

[2018-02-21 16:39] #2281 closed

[2018-02-21 16:40] jywarren commented on #2301
Fixed! Thank you!!!

[2018-02-21 16:40] #2301 closed

[2018-02-21 17:22] ebarry commented on #1119
Great to see that https://publiclab.org/subscriptions/digest exists and is working!
What improvements should come next?

[2018-02-21 17:23] jywarren opened #2378 "Better organize the Digest page"
Let's think about how to organize the Digest page at

https://publiclab.org/subscriptions/digest

We could collect top tags and display them, and then try to show content organized by those top tags in separate sections.

Let's think about how it could be a bit more like this Pulse page:

https://github.com/publiclab/plots2/pulse/weekly

Ideas for an initial way to organize this page?

[2018-02-21 17:25] ViditChitkara commented on #2378
May I work on it?

[2018-02-21 17:26] jywarren commented on #1119
https://github.com/publiclab/plots2/issues/2378 is a good next step!

On Wed, Feb 21, 2018 at 12:22 PM, Liz Barry <notifications@github.com>
wrote:

[2018-02-21 18:15] Gauravano commented on #2378
Hi @jywarren , here are some ideas we can start with:-
[ ] Introducing sorting of Digest content like we do on wiki, tags page
[ ] Sidebar on left of digest page with 2 rows, first row showing top tags (we will fix a number) and second row will show the nodes

Also, we can show nodes with feature image like we show on the dashboard.What do you say @jywarren ?

[2018-02-21 18:27] jywarren commented on #2242
This is still an issue -- and a bit more complex -- the changes we made in #2279 seem to have the right timezone offset now, but is mysteriously still on the wrong day -- see below:

`<pubDate>Sat, 03 Mar 2018 19:00:00 -0500</pubDate>`

[code]

https://publiclab.org/feed/tag/event:*.rss

based on https://publiclab.org/notes/gretchengehrke/02-20-2018/particle-visualization-event-in-hixton-wi

[2018-02-21 19:10] jywarren commented on #2242
Attempted fix in https://github.com/publiclab/plots2/commit/14afb7f4e5b5ab318a62eb05b95e929f76ea34b6

[2018-02-21 19:10] #2242 closed

[2018-02-21 20:13] jywarren commented on #2260
Hi, @mimilettd how are you doing on this one? Need any help?

[2018-02-21 21:28] jywarren commented on #2378
I like the 2-column idea; on a phone this might reflow as stacked columns.
Perhaps we should start by trying to collect all the tags and tally their
popularity in this set of nodes? Then we can pursue different ways of
organizing this content.

What do you think?

On Wed, Feb 21, 2018 at 1:16 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-02-21 21:32] stefannibrasil commented on #2335
Hey, everyone! It looks like only changing `query` on line 15 does not work. Check here: https://stackoverflow.com/questions/14262770/javascript-replace-dash-hyphen-with-a-space

So maybe assign the replace method to a new variable like:

`var replaced_query = query.replace(' ', '-');
`
and replacing `query` on line 15 with the one above should work. Let me know if you have any questions!

[2018-02-21 21:41] jywarren commented on #2186
I think it should be possible to figure this one out ahead of then, to be optimistic! Possibly if one of our new contributors or @publiclab/reviewers with some JavaScript experience would be able to tackle this one?

[2018-02-21 22:55] jywarren commented on #2335
Thanks @stefannibrasil -- awesome suggestion!

[2018-02-21 23:39] jywarren commented on #974
Hi, all -- i particularly like this one:

* holding new profiles in moderation

but i think we could go a bit narrower -- what about hiding only the bio text, and as chris says "until some threshold of approved posting" like a comment or question (some type that is already moderated! comments are coming soon.)

we could show something like "Due to issues with spam content, your profile bio will be

[2018-02-21 23:44] milaaraujo commented on #2335
Hi everybody! I am a beginner in this open source world and I would like to contribute for the project. I was working on this issue just to get familiar with the code and @stefannibrasil's solution is correct. I know @utsha1510 is working on the issue, but if the problem remains open after all I would like to open the PR. ;)

[2018-02-22 00:35] first-timers[bot] opened #2379 "Prompt activity commenters to post feedback!"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-02-22 00:36] jywarren commented on #2335
Hi, @utsha1510 -- we'd love to find you another issue to work on if you're interested and this one ends up being taken.

Here, I just made this one: https://github.com/publiclab/plots2/issues/2379

Feel free to claim it! And welcome!!!

[2018-02-22 01:10] milaaraujo commented on #2335
Hi @jywarren! I created the PR, can you check if I did everything right?

[2018-02-22 02:03] kk-gndu commented on #2379
hey. I want to work on this issue.
FYI the link to the file does not work -->app/views/notes/_comment.html.erb

[2018-02-22 03:25] SidharthBansal opened #2382 "Unable to quickly open note with large pasted-in image"
### Please describe the problem (or idea)
The pages like https://publiclab.org/notes/bansal_sidharth2996/02-20-2018/gsoc-proposal-oauth-authentication?_=1519141316  take more time to load than other pages containing no or small sized images.
See #2370 for the previous discussion

[2018-02-22 03:27] SidharthBansal commented on #2382
One solution could be not allowing users to post in large images as inline data. Having a validation check on the size of images say 5MB?

[2018-02-22 03:46] SidharthBansal opened #2383 "User can like his own research note"
### Please describe the problem (or idea)
A person is able to like his own note eg https://publiclab.org/notes/bansal_sidharth2996/02-20-2018/gsoc-proposal-oauth-authentication?_=1519141316 I have liked on own note.
From my opinion, every person likes his own work. So a person should not be able to like his own research note.

[2018-02-22 03:47] SidharthBansal commented on #2383
@jywarren @ebarry what do you say?

[2018-02-22 04:49] sagarpreet-chadha commented on #2186
Hi jeff , i would love to see this one also...will ping you if i need help
:)

On 22 Feb 2018 3:11 am, "Jeffrey Warren" <notifications@github.com> wrote:

[2018-02-22 08:25] StlMaris123 commented on #2345
Hi @jywarren :smile:

[2018-02-22 08:38] buddhikac96 commented on #2379
@jywarren  hey i saw this issue is still open... can i take this..

[2018-02-22 10:57] sagarpreet-chadha commented on #2186
Finally found the problem here ❤️ 😄  !

[2018-02-22 11:00] sagarpreet-chadha commented on #2186
After hours of experimenting with code !
 The autocomplete is working and drop-down is shown but below the container 😆 .

[2018-02-22 11:10] Gauravano commented on #2378
Agreed, it's good to start with tags first.

[2018-02-22 11:30] Gauravano commented on #2379
thanks, @kk-gndu , I have corrected the link.hi @buddhikac96 , I guess @kk-gndu have started with this one, you can find new issues at https://publiclab.github.io/community-toolbox/#r=all . If you can't find one there you can ping here, I'll create one for you.Thanks.

[2018-02-22 14:04] StlMaris123 commented on #2219
@namangupta01 @jywarren, just thinking about this feature. Well minitest is the testing framework for rails right? Why should we move to `gem rspec` yet they basically doing the same thing?

[2018-02-22 17:26] James-N-M commented on #2369
@Gauravano I couldnt seem to figure this out properly, my plots 2 also wont run, can you give me more detailed steps on how to accomplish this issue

[2018-02-22 17:30] kk-gndu commented on #2379
thanks @Gauravano.

[2018-02-22 22:21] #2186 closed

[2018-02-22 22:32] jywarren commented on #2382
Yes, i think that's not a bad idea. Should we make this an option in
https://github.com/publiclab/PublicLab.Editor/ that can be enabled to limit
it? Maybe validation on by default? Then we can update it in Bower from
plots2.

How does that sound?

On Wed, Feb 21, 2018 at 10:27 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-02-22 22:33] jywarren commented on #2383
haha, i do that myself actually, for various reasons, so maybe for now it's
not a bug :-P

you caught me! :-)

On Wed, Feb 21, 2018 at 10:47 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-02-22 22:39] jywarren commented on #2378
+1! we can display them for starters at the top under "Active topics in
this period" maybe?

On Thu, Feb 22, 2018 at 6:10 AM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-02-23 03:07] SidharthBansal commented on #2383
Actually I saw your posts liked by you, I catches you there too.
I am closing this then.
I am having my college mid sems upcoming week so will not be able to do much. As soon as I get time I will do the pending works
Thanks

[2018-02-23 03:07] #2383 closed

[2018-02-23 03:23] jywarren commented on #2383
Ok, good luck with your exams!!!

On Feb 22, 2018 10:08 PM, "Sidharth Bansal" <notifications@github.com>
wrote:

Actually I saw your posts liked by you, I catches you there too.
I am closing this then.
I am having my college mid sems upcoming week so will not be able to do
much. As soon as I get time I will do the pending works
Thanks

—
You are receiving this because you were mentioned.

Reply to

[2018-02-23 05:43] SidharthBansal opened #2388 "PLANNING ISSUE:Facebook Authentication"
Planning issues for #683
* [x] Add omniauth gem
* [x] Add omniauth-facebook gem
* [x] Add fiagro gem
* [x] Define routes
* [x] Add OmniAuth Configuration to initializer
* [x] Install Openssl
* [x] Add OmniAuth Capability to User Model
* [x] User_session_controller update
* [ ] Views update for login
* [ ] Views update for sign in
* [ ] Write tests for the login through fb
* [x] Write Documentation

[2018-02-23 17:09] icarito opened #2389 "Cache impressions for optimizing SQL query"
### Please describe the problem (or idea)

We are noticing that there's a query taking a lot of time and it could be causing small outages by consuming available threads.
The query is `publiclab@172.18.0.1: SELECT COUNT(*) FROM impressions WHERE impressions.impressionable_id = :int AND impressions.impressionable_type = :string`

The suggestion by @jywarren is to **Optimize impressionist counts wit

[2018-02-23 19:52] jywarren commented on #2388
This is awesome!!! 👍 👍 👍 @ebarry

What is the minimum chunk of this we could do in a single PR? Perhaps the gems, plus OmniAuth in initializer and user model, and routes, but not changing the existing login sequence or views YET. What do you think? All the back-end stuff.

[2018-02-23 19:53] jywarren commented on #2388
Sorry, i don't mean put it all back into one big PR. Just that we can do some things that don't affect current workflows (like login, signup) and merge them in with tests, and know that they work well. Then in a followup PR we can start "Turning it on" for people logging into the site for real -- exposing the back-end work. Does this make sense?

[2018-02-23 19:54] jywarren commented on #2388
Like, we could potentially enable this for login first, but not for signup. That would let us test this progressively in chunks.

One question is -- will existing users be able to log in with Facebook to their pre-existing accounts? Just wondering.

Thanks so much!

[2018-02-23 19:57] jywarren commented on #2186
This is awesome. :-) 👍 🎈 🚄

[2018-02-23 19:57] #2339 closed

[2018-02-24 05:29] amitsin6h commented on #2379
@Gauravano could you also create one for me.

[2018-02-24 09:56] sagarpreet-chadha commented on #2186
This was a tricky one ! Thank you 😄  :)

[2018-02-24 13:54] arungoel123456 opened #2392 "installation problem"
### Please describe the problem (or idea)
for the first timers.... when we are following the steps as mensioned on your github ... some steps are not working fine like rake db:setup , bower install etc.   .... after skipping the optional steps , when wwe started the local host ,  a sql error is coming .

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org us

[2018-02-24 14:01] namangupta01 commented on #2392
Hey @arungoel123456 Have you ran the command `rake db:migrate` because the error is clearly saying that no such table exist.

[2018-02-24 16:41] bronwen9 opened #2393 "Tags lead to Error Page"
When I clicked on the tag for "gowanus", I am directed to an error page (also true for "gowanus-canal" "newtown-creek" tags, but not others)

![gowanuserror](https://user-images.githubusercontent.com/8331717/36632670-0efc6378-1957-11e8-9729-a3a445a2317d.gif)

[2018-02-24 21:06] James-N-M commented on #2389
@icarito Hi I'd like to try taking on this issue, seeing is its an fto-canditate may you provideo more information and code links so i can accomplish this first timer task.

[2018-02-25 07:00] MittalS211 commented on #2379
Is this issue still open? If not, @Gauravano could you create one for me?

[2018-02-25 18:41] James-N-M commented on #2392
hey @arungoel123456 ive had to reinstall a couple times in the past couple weeks lol so I can help you out over a google hangout or something step by step, Im in detroit michigans time zone , but click my github and send me an email

[2018-02-25 19:52] rachaelkiteme commented on #2122
Hello,

@jeffreywarren I followed the conversation and got confused on what am
supposed to do, please help me know my next take on this issue.

Thanks in advance.

Regards
Rachael

On Wed, Feb 21, 2018 at 3:19 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-02-26 09:21] Souravirus opened #2397 "Views of a post cannot be seen on small screens"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### What did you expect to see that you didn't?
Views of a post and number of comments cannot be seen on small screens

![croppenscreen](https://user-images.githubusercontent.com/171

[2018-02-26 15:55] jywarren commented on #2397
A lot of things are hidden on smaller screens. Do you think we could
re-show them using a `...` button but keep them hidden by default? Good
thinking!

On Mon, Feb 26, 2018 at 4:21 AM, Sourav Sahoo <notifications@github.com>
wrote:

[2018-02-26 15:57] Souravirus commented on #2397
Yeah we can do that @jywarren

[2018-02-26 16:11] jywarren commented on #2393
Ah, this is bad! A new-ish bug. Not all tag pages error:

https://publiclab.org/tag/spectrometry works

https://publiclab.org/tag/gowanus does not.

Anyone in @publiclab/reviewers interested in taking this up? Else I can -- thanks @bronwen9 for finding this!

If we can also file a test to reproduce this, that'd be great too.

[2018-02-26 16:15] jywarren commented on #2379
Hi, folks, I'm going to post a couple new ones. Thanks a lot!

[2018-02-26 16:28] first-timers[bot] opened #2398 "Fix bad reference in node.rb"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-02-26 16:29] jywarren commented on #2398
@MittalS211 @amitsin6h if either of you are interested in this one, we'd be happy to help you out!

[2018-02-26 16:32] MittalS211 commented on #2398
I'll take it up!

On Mon 26 Feb, 2018, 9:59 PM Jeffrey Warren, <notifications@github.com>
wrote:

[2018-02-26 16:48] first-timers[bot] opened #2399 "Update comment_controller.rb to prompt people to subscribe upon posting a comment"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-02-26 16:56] first-timers[bot] opened #2400 "Ensure "spam" profiles don't appear on People map"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-02-26 17:02] jywarren opened #2401 "Display Questions prompt on dashboard"
Our dashboard is really nice:

http://publiclab.org/dashboard

But it doesn't feature our Questions system!

See the front page for how this can be highlighted:

https://publiclab.org/home

![image](https://user-images.githubusercontent.com/24359/36683810-9373083c-1aec-11e8-87f0-8a7de882ca97.png)

Let's put that code, which is here:

https://github.com/publiclab/plots2/blob/14d9f92c06fe1b26ae7b329

[2018-02-26 17:11] SidharthBansal commented on #2382
I have downloaded the images which I pasted there. When I checked their size one was of 64.9kb and other of 127 kb. So, I think the opening up of the research page not due to the image's size. What do you say?

[2018-02-26 17:52] seafr commented on #2231
@jywarren I added the `has-pull-request` label. This will help avoid multiple PRs for the same issue (such as #2362 & #2363 for #2310).

[2018-02-26 18:38] SidharthBansal commented on #2231
Great. I like the idea.

[2018-02-26 18:45] amitsin6h commented on #2398
@jywarren let @MittalS211 take it as she commented first. :+1:

[2018-02-26 18:46] amitsin6h commented on #2401
@jywarren want to take this

[2018-02-26 18:46] amitsin6h commented on #2399
@jywarren yeah sure

[2018-02-26 19:20] icarito commented on #2389
I've updated http://tycho.media.mit.edu/logs/mysql-slow.html to reflect the last 4 days. We just had a several-minutes-long downtime, so we may have to prioritize this.

[2018-02-26 20:00] first-timers[bot] opened #2402 "Fix broken tag pages with simple array conversion"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-02-26 20:00] jywarren commented on #2393
It looks like the error is here:

[code]

So specifically: `@wiki.latest.render_body.html_safe.match(/<p>(.+)<\/p>/).length` in this page:

https://github.com/publiclab/plots2/blob/14d9f92c06fe1b26ae7b3292b751c3d263a204e1/app/views/tag/show.html.erb#L20

I'm posting a first-timers issue to resolve this!

[2018-02-26 20:01] jywarren commented on #2393
See #2402 to fix this!

[2018-02-26 20:01] jywarren commented on #2393
Thanks, Bronwen!

[2018-02-26 20:01] #2393 closed

[2018-02-26 20:02] Loaderon commented on #2402
Claim!

[2018-02-26 20:02] jywarren commented on #2401
That'd be great, thanks @amitsin6h ! We'd love it if you'd help out here.

[2018-02-26 20:23] jywarren commented on #1097
There are some great design options here: https://www.froala.com/design-blocks under "Features" -- if anyone would like to tackle this one!

[2018-02-26 20:51] jywarren commented on #2398
Super!

[2018-02-26 20:52] Gayathrir1666 commented on #2400
I will claim this issue

[2018-02-26 20:54] jywarren commented on #2400
Please do, thank you!

On Mon, Feb 26, 2018 at 3:52 PM, Gayathri <notifications@github.com> wrote:

[2018-02-26 20:58] first-timers[bot] opened #2404 "Update subscription_mailer.rb"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-02-26 20:59] jywarren commented on #2404
@milindra how about this one?

[2018-02-26 21:09] adrian-lara commented on #2356
Hi @jywarren ! I’m a first-time contributor to this project and was hoping to help out with this issue. Has anybody picked up this issue? If not, could I give it a shot?

[2018-02-26 21:36] jywarren commented on #2356
Yes please! That would be great. The code for this is here:

https://github.com/publiclab/plots2/blob/b98790631fe22edf34750de5bff5c641ff6ea7b7/app/views/grids/_notes.html.erb#L55-L62

See when it's more than 9, it inserts this `Show X more` row.

Thank you!

[2018-02-26 23:06] srwiseman commented on #2404
I'd like to try this!

[2018-02-26 23:45] #2367 closed

[2018-02-26 23:47] #2335 closed

[2018-02-26 23:50] #2275 closed

[2018-02-26 23:51] jywarren commented on #2122
No problem!

See, this line needs to changed to `u.update_attribute(reset_key: key)` -- to correctly save the `reset_key`!

https://github.com/publiclab/plots2/blob/1dfccf7098714d090b2fd19e628f80ad58a1a07b/app/models/user.rb#L111

Do you think you could make that change? Thanks!

[2018-02-27 01:00] James-N-M commented on #2389
@icarito I also don't know to much about cacheing and might not have the time to do the research with midterms, might have to pass this issue off seeing its a priority @icarito Thanks though !!

[2018-02-27 01:04] #2404 closed

[2018-02-27 05:59] rachaelkiteme commented on #2122
Hello,

Let me check on it, will let you know if I cant't make it.

Regards
Rachael

On Tue, Feb 27, 2018 at 2:51 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-02-27 08:03] sagarpreet-chadha opened #2408 "Email recieved of an Unpublished node ."
### Please describe the problem (or idea)

When a first time contributor on `publiclab.org` publishes a note , it has to be approved by the PublicLab moderators before it can appear to everyone . However an email is send to people who are subscribed to the TAGS that the note contain .
On opening the link of note , we are redirected to the Dashboard .

### Solution

The email should be send to peop

[2018-02-27 12:23] MittalS211 commented on #2401
@amitsin6h  if you need any help solving this, please let me know!

[2018-02-27 12:35] MittalS211 commented on #2260
@jywarren seems like this issue hasn't been worked upon. May I take it up?

[2018-02-27 12:46] MayankKashyap commented on #2260
Yeah @MittalS211, I think you are right so you can take this one..

[2018-02-27 12:57] MittalS211 commented on #2260
Hi, I have made the necessary changes in my local repository. I will submit the PR in a while, since I am not able to right now due to some error. I will contact you @MayankKashyap or @jywarren  regarding it.

[2018-02-27 12:58] chitra591 commented on #2402
Hi @jywarren, I want to start contributing to open-source and would love to work with you guys! Let me know if any new issue for first-timer comes up!!  Thanks :)

[2018-02-27 12:58] MayankKashyap commented on #2260
Okkay @MittalS211

[2018-02-27 13:09] Loaderon commented on #2402
Hi @chitra591, you can easily find first-timers-only tagged issues by searching them up in the search bar, just write: label:first-timers-only is:open

or click on this link: [https://github.com/search?utf8=%E2%9C%93&q=label%3Afirst-timers-only+is%3Aopen&type=Issues&ref=searchresults](https://github.com/search?utf8=%E2%9C%93&q=label%3Afirst-timers-only+is%3Aopen&type=Issues&ref=searchresults)

Hop

[2018-02-27 13:17] chitra591 commented on #2402
Thanks @Loaderon !!

[2018-02-27 14:33] ebarry commented on #2343
Potentially, we would want to be able to search through prior revisions, but not through revisions that have been marked spam.

[2018-02-27 15:03] ebarry commented on #2377
Not to derail, but adding more information:

Here are examples of non-offensive single words that are present in thousands of spam profiles on our site, but aren't a sole criteria for banning a profile. Even working through a supportive interface such as publiclab.org/spam/profiles/_keyword_ would still require massive manual time investment:

payday
pets
brisbane
credit
vitamin
protein
creatine
m

[2018-02-27 15:27] bronwen9 commented on #2377
Adding to the list:
esquire
exterminator
elbow
kung fu
wizard of oz
carpet
gambling
bodyguard
(etc, etc, etc)

[2018-02-27 15:30] ebarry opened #2411 "Bugs in keyword search (example: "pumpkin")"
### Please describe the problem (or idea)

Searching for a word in PublicLab seems to perform in the following ways:

- If you attempt a keyword search, for instance the word "pumpkin", and click the magnifying glass, a new page loads where no results are given.
- If you click on the autosuggested results, the first result is a note that contains the word pumpkin, but the second result (also a not

[2018-02-27 16:12] ebarry commented on #1487
Can we expand this to a "flag as spam" button on all content?

[2018-02-27 16:25] jywarren commented on #1487
let's add one-by-one follow-up tasks rather than expand this one, but yes!

On Tue, Feb 27, 2018 at 11:12 AM, Liz Barry <notifications@github.com>
wrote:

[2018-02-27 16:32] ebarry commented on #974
We have some concrete ideas here:

* Retroactive to include ALL profiles on PublicLab.org, HIDE profile bio content UNTIL a person takes an action on a site (like posting a note or a comment) that triggers review by moderators. Upon approval of that content, SHOW profile bio content.
* Show text on someone's profile page like "Due to issues with spam content, your profile bio will be displayed onl

[2018-02-27 16:38] jywarren commented on #1487
This could be done in multiple places, but to copy in code I prepared for a MapKnitter version of this:

[code]

[2018-02-27 16:44] first-timers[bot] opened #2412 "Add a button to report comments spam to moderators"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-02-27 16:44] jywarren commented on #1487
Awesome, opened the first one for comments here: #2412

[2018-02-27 16:58] chrislazo22 commented on #2412
I want to claim this issue! I have yet to contribute to an open source project but I would be glad to work on this.

[2018-02-27 16:59] MittalS211 commented on #2412
I would like to work on this issue!

[2018-02-27 17:08] jywarren commented on #2412
Hi, @chrislazo22 I actually created this one for @MittalS211 but I can make a new one for you too! So glad to have your help!

[2018-02-27 17:10] MittalS211 commented on #2412
I've already made the changes required. I'll submit the PR ASAP.

On Tue 27 Feb, 2018, 10:38 PM Jeffrey Warren, <notifications@github.com>
wrote:

[2018-02-27 17:10] chrislazo22 commented on #2412
@jywarren Yes! That would be great

[2018-02-27 17:13] jywarren commented on #2412
Actually @chrislazo22 do you think you could put almost exactly the same code on this line on a similar template?

https://github.com/publiclab/plots2/blob/ad204650097fe76cd06cc2e9fdfa2474aa1cfed5/app/views/dashboard/_node_meta.html.erb#L21

`comment.body` would become `node.title`, and `comment.author.username` would be `node.author.username`. Make sense?

Also @MittalS211 I think i made a small

[2018-02-27 17:13] jywarren commented on #2412
Er, below the line i referenced, i mean, @chrislazo22 -- does that make sense?

[2018-02-27 17:24] icarito commented on #2389
Your help is welcome anytime!

[2018-02-27 17:25] chrislazo22 commented on #2412
Yes, I believe so @jywarren

[2018-02-27 17:26] ebarry opened #2413 "PLANNING ISSUE: delete invalid profiles"
### Please describe the problem (or idea)

We've recently gained some excellent insight through issuing a security update email to all people with profiles on publiclab.org.

We found that 115k of ~170k email addresses were invalidated by our running them through MailGun.com's validation system (it took 3 days).

Let's figure out how to ban these invalid profiles!!! 😍 😍 😍 😍 😍 😍 😍 😍

[2018-02-27 18:05] first-timers[bot] opened #2414 "Add larger image to profile page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-02-27 18:49] Gayathrir1666 commented on #2414
I will work on this

[2018-02-27 18:51] jywarren commented on #2414
Awesome!

On Feb 27, 2018 1:50 PM, "Gayathri" <notifications@github.com> wrote:

[2018-02-27 21:24] Zengirl2 commented on #2412
Just a thanks to all of you working on this. :)

[2018-02-28 05:17] Zengirl2 commented on #2189
Just adding that I experienced the same problem using the Rich Text editor today in making a research note. It allows me to try to choose the image file, but it does not actually upload it, even though it is the correct size file. I tried this with two research notes and ended up using the Legacy editor instead (which worked fine). Also, just an additional note that on the Rich Text editor there i

[2018-02-28 13:25] Gauravano commented on #2413
hi @ebarry , how about sending confirmation mail at the time of Signup?

[2018-02-28 14:38] Gauravano opened #2418 "Read more link under title of /post is empty"
Read more link under Title field has empty href so it's rendering to the same page.This problem is mentioned in #2189 @jywarren @ebarry  is there any page which gives guidelines on writing titles, please mention if any.Thanks!

![newp](https://user-images.githubusercontent.com/20878070/36793276-fe5dd3b6-1cc2-11e8-812f-7e5bfb2e6faf.png)

[2018-02-28 14:46] Gauravano commented on #2189
hi, @Zengirl2 I have opened an issue for fixing read more link.Thanks for informing. Also, please upload the image by dragging the image to the image pre-review box, for now, that's working, this problem will be solved very soon.

[2018-02-28 15:28] Gauravano commented on #2408
I have faced this too, @sagarpreet-chadha are you solving this or Can I?

[2018-02-28 15:43] sagarpreet-chadha commented on #2408
Hi ! Go Ahead 😄  !
I am a little busy with my Exams right now :)
Thanks 👍 !

[2018-02-28 15:50] Zengirl2 commented on #2189
Hey @Gauravano TY so much for the reply. Yesterday the dragging method wasn't working either, but today it is. Thanks again!

[2018-02-28 16:06] Gauravano commented on #2408
Best of luck with your exams !!!

[2018-02-28 18:08] ebarry commented on #2260
Exciting to see progress on this! Many people will really appreciate this!
I'm just mentioning this page so that -- as a next step, don't worry about it now -- we can align the design patterns with https://publiclab.org/methods as well, and plan ahead for how featured topics will eventually look on the front of publiclab.org. Aiming for coherence!

[2018-02-28 18:54] first-timers[bot] opened #2420 "Fix keyword-based search on /search/____"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-02-28 18:54] jywarren commented on #2420
This copied in code from this function!

https://github.com/publiclab/plots2/blob/47b30044aa26027f7eb083bce56dd607a5f73d02/app/services/typeahead_service.rb#L49

[2018-02-28 18:56] ebarry opened #2421 "Brainstorming search results that are autosuggested and shown on results page"
Update: this is a long conversation and there are some next steps being broken out. Please continue to use this issue for brainstorming! Thanks :)

Original issue continues below:

### Please describe the problem

The system by which autosuggested results seems to choose and rank content suggestions is mysterious, and seems like a black box.

Autosuggested results have a display limit of 15 assort

[2018-02-28 19:47] jywarren commented on #2421
It is actually a black box! Full text search is a complex problem and we solve it with the "fulltext" module of MySQL, our database system; some pretty arcane (but thorough) documentation is here: https://dev.mysql.com/doc/refman/5.7/en/fulltext-search.html

It does seem we can tune/adjust it, though. There is, for example, a "natural language" option which attempts to algorithmically determine "r

[2018-02-28 19:54] jywarren commented on #2421
I tested the above query and it does run, although again, I'm not super clear on how it works. But it'd be pretty easy to put it into production if you'd like!

[2018-02-28 20:45] seafr opened #2422 "A few "issues" with first-timers-only issues"
### Some issues with PRs submitted by first-timers

I've noticed that a few PRs by **first-timers** include the `Gemfile.lock` file. This seems rather strange to me as `Gemfile.lock` is listed in `.gitignore`. Once the contributor commits the changes to `Gemfile.lock`, they'll have to use `git` to correct this, and `git` is not known to be friendly/intuitive (pun not intended). So, should we make

[2018-02-28 21:35] wendysegura commented on #2420
I would like to take this.

[2018-02-28 21:37] bronwen9 commented on #2421
What I'd like to see in the auto-suggest is a list of search terms based on weight (popular, busy pages first). On the results page I would like to see keyword results weighted by relevance (popularity, whether the word in question is included in a tag or a title, etc), and then sorted by type (note, profile, question, comment, etc). I would then like to be able to search within the keyword result

[2018-02-28 21:48] ebarry commented on #2420
For another example of what condition we are trying to fix here:

Searching for “open hour” in our search box and clicking the magnifying glass brings up two research notes (https://publiclab.org/search/open%20hour), but not the open hour wiki page https://publiclab.org/openhour

[2018-02-28 22:00] jywarren commented on #2421
Hi, Bronwen, thanks. Let's break this into separate features:

1. [ ] auto-suggest search ordered by popularity (is this # of views, or likes, or another preference?)
2. [ ] results page ordered by relevance (popularity, whether the word in question is included in a tag or a title, etc)
3. [ ] results page displays each type (note, profile, question, comment, etc) separately -- like this, for exam

[2018-02-28 22:03] jywarren commented on #2421
And for the second one up there, do you mean not "relevance" as is defined in my comment above about "natural language search" but a definition of popularity such as "likes" or "views"?

[2018-02-28 23:28] ebarry opened #2423 "Bug in URLs that have an `at` symbol (`@`)"
### Please describe the problem

I pasted in a link to an external site in my research note: https://medium.com/@sunnydeveloper/new-diversity-inclusion-in-open-source-community-call-52d01324e0a9

It seems like the ampersand "`@`" may have broken the rest of the link after the following slash. Maybe it is being read as a publiclab.org username?

I expected to see the link work without needing addit

[2018-03-01 01:22] chitra591 commented on #2420
Hi, can I claim this issue? Or are you working on this @ebarry ?

[2018-03-01 10:04] jywarren commented on #1952
This is solved in https://github.com/publiclab/plots2/pull/2407 !

[2018-03-01 10:04] #1952 closed

[2018-03-01 10:05] jywarren commented on #1952
@membrq we have a range of other issues you're welcome to at http://publiclab.github.io/community-toolbox#r=all !

[2018-03-01 10:07] #1490 closed

[2018-03-01 10:22] jywarren commented on #153
This is complete!

[2018-03-01 10:22] #153 closed

[2018-03-01 10:24] jywarren commented on #179
Would we be okay with not listing powertags on the tag index page at all? Would we lose some key information if we did that?

If not, i.e. if that sounds ok, we can just exclude any tag that includes ":" from the tag index page query. Very easy change we can make a first timers issue for! Thanks!

[2018-03-01 10:26] jywarren commented on #217
I don't know what might've changed but we can add a "delete tag" entry to the tag index if we want. Visible only to admins. It would have to delete boh the tag and any records linking the tag to specific pages. I can help with this if it sounds interesting or we could close this out!

[2018-03-01 10:29] jywarren commented on #699
Let's close this one out for now, thanks!

[2018-03-01 10:29] #699 closed

[2018-03-01 14:58] jywarren commented on #2345
@StlMaris123 absolutely! Sorry I missed your comment! 🎉

[2018-03-01 15:00] jywarren commented on #2345
Hi all, just another request to review and leave comments on proposals if you can, whether you're proposing yourself or you're reviewer or potential mentor. I know a lot of you have exams now and I hope they're going well!

 https://publiclab.org/notes/warren/02-15-2018/call-for-summer-of-code-2018-proposals

[2018-03-01 15:01] bronwen9 commented on #2421
I think we'd probably want to create a rubric for relevance could includes likes/views, but also weights results based on KIND of page (a wiki page with search term in the title might always show up higher on a list than, say, a comment).

One example where we're struggling with *kinds* of results is a search for "open hour. On our website, this search brings up 15 research notes in the auto sugge

[2018-03-01 15:02] jywarren commented on #2345
We have [17 proposals](https://publiclab.org/notes/warren/02-15-2018/call-for-summer-of-code-2018-proposals)!! Thanks @publiclab/reviewers @publiclab/soc for your help reviewing even during a busy time of year!

Excitingly, you may see people proposing ideas that build on your work from last summer so please help them get oriented and be friendly! 👍 😄

[2018-03-01 15:08] jywarren commented on #2421
Cool - super helpful. I think there's probably a way to do a more complex
ranking (maybe not Google-level pageRank but something) however I wonder if
we took a few proposals and made them testable, and examined the results.
For example it'd be pretty easy to set up views-based or likes-based
ordering, and not much harder to do natural language relevance as I
outlined above. If we made an option to

[2018-03-01 15:11] jywarren commented on #2420
Please go ahead! @ebarry is interested in seeing this solved but isn't
claiming it, thanks!

On Wed, Feb 28, 2018, 8:23 PM chitra591 <notifications@github.com> wrote:

[2018-03-01 15:19] chitra591 commented on #2420
Thanks @jywarren !
I get an error while trying to push the changes

fix-keyword-based-search is the branch that I crated. Is there something that I am doing wrong?

Thanks

[2018-03-01 15:23] jywarren commented on #2420
Aha, it looks like you're working from the publiclab fork; try forking the
repository to make your own!

On Thu, Mar 1, 2018, 10:20 AM chitra591 <notifications@github.com> wrote:

[2018-03-01 15:26] chitra591 commented on #2420
Thanks! I'll do that.

[2018-03-01 18:57] jywarren commented on #2254
That would be great, @Gauravano!!! :+1:

[2018-03-01 18:59] jywarren commented on #2254
Shall we rename this to focus on the API tagging implementation and add some code links to that? Thanks, all!

[2018-03-01 23:00] jywarren opened #2426 "Prevent auto-tagging of numerical inline tags like #1234"
Needs more info! Soon, thanks!

https://github.com/publiclab/plots2/blob/2d43c7d908dd8b65d3ca7681cc35a107770e0f20/app/models/revision.rb#L43-L48

https://github.com/publiclab/plots2/blob/2d43c7d908dd8b65d3ca7681cc35a107770e0f20/config/initializers/constants.rb#L1-L11

[2018-03-01 23:01] jywarren commented on #2426
@Gauravano maybe you could help flesh this out -- do you know what I'm talking about here? :-)

[2018-03-02 13:56] rachaelkiteme commented on #2122
Hello, I managed to make changes to the user.rb file and made a pull
request. Thank you so much for your assistance have learnt something.

Case of any pending issue on the commit let me know.

Regards
Rachael

On Tue, Feb 27, 2018 at 8:59 AM, Rachael Kiteme <rachaelrirrie@gmail.com>
wrote:

[2018-03-02 16:55] son-vyas commented on #2399
Is this issue still open? I would like to give this a try @jywarren

[2018-03-02 16:58] amitsin6h commented on #2399
@son-vyas am working on it.

[2018-03-02 16:59] son-vyas commented on #2379
@Gauravano @jywarren could you create one for me as well?

[2018-03-02 17:20] jywarren opened #2427 "Feature SkyTruth Alerts map as a layer in Leaflet profile map"
We have a small map that appears on some profile pages like: http://publiclab.org/profile/nshapiro

We should create a Leaflet map layer that can be disabled, showing nearby SkyTruth Alerts; see:

* [x] create a new layer that can be enabled/disabled with http://leafletjs.com/examples/layers-control/
* [x] add a custom icon with http://leafletjs.com/examples/custom-icons/
* [x] make new markers wi

[2018-03-02 18:50] sagarpreet-chadha commented on #2427
Hi @jywarren , this is pretty amazing idea . Can i work on this ?
However , i can send a PR only after Thursday .

One doubt : do we have to add any UserTag to enable/disable the layer ? Thanks

[2018-03-03 10:00] Gauravano commented on #2392
hi, @arungoel123456 . Is this installation issue resolved? Please ask if the issue still persists, we would be happy to help.Thanks !!!

[2018-03-03 12:19] Gauravano commented on #2379
@son-vyas sure !!!

[2018-03-03 12:30] Gauravano opened #2428 "Minor changes for Social media icons on profile page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-03-03 12:33] Gauravano commented on #2379
I have just opened an FTO at #2428 .Thanks.

[2018-03-03 13:50] son-vyas commented on #2428
I would like to give this a try. Thanks @Gauravano

[2018-03-03 13:52] Gauravano commented on #2428
That would be great !!!

[2018-03-03 14:02] Gauravano opened #2429 "Social media icons should link to latest entered username"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-03-03 14:55] #2340 closed

[2018-03-03 14:56] #2414 closed

[2018-03-03 15:00] Gauravano commented on #2429
Awesome !!!

[2018-03-03 15:26] jywarren commented on #2427
I think we could have the layer just be enabled/disabled each time in
JavaScript, for starters. We can build this out later with more features!

I'm also thinking that we'll want people to have the ability to expand the
profile map to make it more useful, to access more features. But that can
also be a follow-up.

Thanks! This'd be great!

On Fri, Mar 2, 2018 at 12:50 PM, Sagarpreet Chadha <notifi

[2018-03-03 18:23] amitsin6h commented on #2401
@jywarren Please look at the PR #2431 , but I don't understand why my PR has conflict.

[2018-03-03 18:38] amitsin6h commented on #2399
@jywarren am confused with the file as I don't see any def make_answer on the comment_controller.rb
and this is the reason why am unable to add remove last end statement.

[2018-03-03 18:46] amitsin6h commented on #2399
@jywarren could you please review the PR #2432

[2018-03-03 21:24] Gauravano commented on #2426
I guess here we want to stop tagging string like # 12322, like in many proposals, issues and PR's are mentioned and due to which tags have been created, we have to prevent that.Am I right?

[2018-03-03 22:02] jywarren commented on #2422
These are great suggestions and thoughts. I'm going to chime in more soon (traveling right now) but one place we already try to mention the `Gemfile.lock` is in the Dangerfile; but I think we can do better. Why is the Gemfile.lock getting added in the first place?

https://github.com/publiclab/plots2/blob/efc315d3d7bcc08d167c9f6db7816efd805e66f4/Dangerfile#L9-L11

[2018-03-03 22:14] jywarren commented on #2422
I definitely agree with this. Maybe we can re-use the `first-timers-only` label on PRs to indicate this? We might even be able to get Danger to mark them as such if they link to a FTO issue... eventually.

[2018-03-03 23:06] seafr commented on #2422
I don't understand either why the `Gemfile.lock` gets added in the first place. Perhaps some contributors add it explicitly thinking it must be part of the commit. And the Dangerfile message shows up only **after** they have submitted their PRs, which is a bit too late for a first-timer. I've noticed that a few first-timers have given up at the first sign of struggle, and I guess removing a file f

[2018-03-03 23:09] seafr commented on #2422
Yes, it's definitely a great idea to label first PRs as such, either with the label you mentioned above or maybe with something like `my-first-pr`.

[2018-03-04 04:57] kcbrewron commented on #2420
@chitra591 are you still working on this?

[2018-03-04 05:03] chitra591 commented on #2420
Hey @kcbrewron!
Yes! I have worked on it and pushed the code changes. But the rake tests are failing!

Waiting for someone to look into it and help me out!

[2018-03-04 13:57] BornToWin commented on #2429
Can I still try this one if there is already someone working on it? Thanks.

[2018-03-05 15:20] bronwen9 opened #2436 "Page for Barnraising Session Proposals shows error."
I was navigating to this page to moderate a spam comment after getting an email alert:

https://publiclab.org/questions/warren/10-27-2017/what-sessions-would-people-like-to-have-at-the-2017-barnraising

but when I clicked on the link I found the error page instead.

[2018-03-05 18:37] Gauravano commented on #2307
Hi, @jywarren @ebarry @steviepubliclab due to adjacency in @ViditChitkara 's proposal and mine, we have decided to divide things as per @jywarren 's suggestions.So, starting with the 3rd part, UI for managing digest settings. Vidit would be doing this part. So, I am thinking to propose this issue i.e., Draft Creation but with some advanced features:-

1. UI for link sharing:-
	In this, modal would

[2018-03-06 17:07] ebarry commented on #2436
I believe i just encountered this same bug -- the URL to a question that received a spam comment broke

LINK: https://publiclab.org/questions/warren/11-14-2017/what-s-one-thing-that-could-be-better-for-newcomers-about-the-public-lab-website

I made a gif out of clicking the link, finding the error page, and checking that i took the "answer suffix" off of the URL -- even so, the original content se

[2018-03-07 14:08] amitsin6h opened #2437 "Missing comment icon in blog page"
Hi, this is a [first-timers-only](https://publiclab.github.io/community-toolbox/#r=all) issue. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-03-07 14:14] Gauravano commented on #2437
hi @amitsin6h please see the first-timer-issue template we follow and edit accordingly.For reference see issues #2429 .

[2018-03-07 15:21] ebarry commented on #963
This is something still relevant to the evaluation project but not urgent for 2018 (in relation to other more urgent priorities)

[2018-03-07 15:41] jywarren opened #2439 "Ability to set timeframe for /tag/____ pages"
We have these great pages to show activity on a topic:

https://publiclab.org/tag/data-logging

![image](https://user-images.githubusercontent.com/24359/37100324-a314ae34-21f0-11e8-8238-f60e164441f6.png)

However, sometimes we want to be able to see this for a given time period, to understand community growth in that timeframe, kind of like on GitHub Pulse:

https://github.com/publiclab/plots2/pul

[2018-03-07 15:42] amitsin6h commented on #2437
@Gauravano done. Thanks  :+1:

[2018-03-07 15:44] Gauravano commented on #2437
Awesome !!!

[2018-03-07 15:45] #2400 closed

[2018-03-07 15:46] #2295 closed

[2018-03-07 15:47] rishabhptr commented on #2439
@jywarren Can I try this?

[2018-03-07 15:58] ebarry opened #2440 "API: Use profile tags to create a visual representation of our community"
### Please describe the idea

**Creating an at-a-glance visual representation of people in the PL community and what roles/projects/places/methods they are associated with will help with onboarding new people into collaborating in the Public Lab community.**

Because making this happen will require our API, i'm putting this in the API milestone

Thanks to awesome work by many people including @mri

[2018-03-07 16:07] jywarren commented on #2439
Please do! This would be great and @ebarry would like it too.

On Wed, Mar 7, 2018 at 10:47 AM, Rishabh Singh <notifications@github.com>
wrote:

[2018-03-07 16:12] ebarry commented on #2439
This will assist with metrics and evaluation, thank you!

[2018-03-07 16:23] jywarren commented on #987
Hi, this is for dynamic search, not search overall -- see leading link above. All of these are still up for grabs, as dynamic search may eventually replace standard search (i.e. http://publiclab.org/search/wind)

[2018-03-07 16:34] oulongwen commented on #2437
I would like to work this issue. Thanks.

[2018-03-07 16:36] ViditChitkara commented on #2437
That would be great

On Mar 7, 2018 10:04 PM, "oulongwen" <notifications@github.com> wrote:

I would like to work this issue. Thanks.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/plots2/issues/2437#issuecomment-371198010>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AVkX0

[2018-03-07 16:40] amitsin6h commented on #2437
@oulongwen great, let me know if you need any help

[2018-03-07 16:49] jywarren commented on #2440
Just a note that after some research, GraphCommons uses CSVs for import:

https://github.com/graphcommons/graphcommons-issues/issues/31#issuecomment-210790489
Edges list structure:

[code]

Nodes list structure:

[code]

So, would profiles look like the "nodes" above, and would `edges` be commonly held profile tags?

[2018-03-07 16:49] jywarren commented on #2440
And let's start with the simplest graph type possible -- would that be like, people related through profile tags? Or something else?

[2018-03-07 16:49] jywarren commented on #2440
Oops, closed by mistake!

[2018-03-07 16:51] ebarry opened #2441 "Planning how to best welcome newcomers"
### Please describe the idea

Good onboarding may end up looking quite different from the minimalist profile creation that we have now on publiclab.org which maximally enables spammers while providing the least amount of context / scaffolding for organizers to support people with environmental questions.

Let's think about onboarding.

### Reference concepts:

**Drip onboarding**:
ProgCode: http:/

[2018-03-07 16:56] jywarren commented on #2437
Hi this is great everyone! @amitsin6h i'll add you to reviewers group if you'd like! :-) 👍

[2018-03-07 16:59] amitsin6h commented on #2437
@jywarren sure :+1:

[2018-03-07 16:59] oulongwen commented on #2437
Hi @amitsin6h I submitted my PR and it failed the required tests. Could you please take a look and let me know where I did wrong? Thanks.

[2018-03-07 17:01] bronwen9 commented on #2421
Ah, sorry for the late response, but I think that it would be great to try some of these. I think at some point we're going to need the ability to work with boolean operators (whether that's through additional search fields or allowing for more than one word or phrase in the field), but I think any of these options would help get us closer to understanding where things are going haywire in the exi

[2018-03-07 17:25] david-days commented on #2440
Hey all--jumping in here if you don't mind.  I've done a lot of digging into graph display libraries and options over the years, so I thought I might help.

The edges for the charts, such as the example, could be any defined relationship.  Tags-in-common would be one that could be drawn directly from the profiles.  Another would be to dig into projects, questions, or just about anything that has i

[2018-03-07 18:13] ViditChitkara commented on #2307
@jywarren any thoughts on this?? I am happy to give the UI part a go. Could you please provide your feedback so that we could adjust our timelines accordingly?

[2018-03-07 19:11] jywarren commented on #2260
Hi @MittalS211 or @mimilettd -- if either of you have started on this and you'd like to open a pull request, we'd be happy to help you out! Thanks!

[2018-03-07 19:12] jywarren opened #2443 "Leading dashboard blog post is an old one for some reason"
### Please describe the problem (or idea)

Our dashboard at http://publiclab.org/dashboard shows a single blog post

It's supposed to be the most recent one from http://publiclab.org/blog

Instead, it's an older post -- https://publiclab.org/notes/Shannon/07-06-2016/public-lab-code-of-conduct

Not sure why! The code to grab this post (that's apparently going wrong) is here:

https://github.com/pub

[2018-03-07 19:12] jywarren opened #2444 "Showing contributors on /contributors/____ pages"
https://publiclab.org/contributors/microplastics says 8 contributors, but below on that page nobody is listed.

The code is here: https://github.com/publiclab/plots2/blob/master/app/views/tag/contributors.html.erb

But it's driven by this controller code:

https://github.com/publiclab/plots2/blob/5ac99163ee3a3ce47a52b3a9ccff0e0bf89aa6a2/app/controllers/tag_controller.rb#L394-L400

Any help fixing

[2018-03-07 19:17] ebarry opened #2445 "Need to add "Ascending" sort for `#of uses` on publiclab.org/tags"
Hi! This *might* be a first timers only issue, i'm going to tag it `FTO-candidate`

### Please describe the problem (or idea)

I love the new tag sorting, but i noticed that even though we have the "up-down" arrow icon next to `# of uses`, the sort function only works in one direction. Watch the gif below to see how the `# of uses` is only able to sort the tags in Descending order, demonstrated by

[2018-03-07 19:25] MittalS211 commented on #2260
Will try to get to this asap!

On Thu 8 Mar, 2018, 12:41 AM Jeffrey Warren, <notifications@github.com>
wrote:

[2018-03-07 20:22] amitsin6h commented on #2260
@MittalS211 let me know if you need help.

[2018-03-07 20:55] #2028 closed

[2018-03-07 22:08] ebarry opened #2446 "BUG: adding a tag while drafting a note didn't actually get added to the published note"
### Please describe the problem

I wrote content at publiclab.org/post and used the tag interface to add tags before i clicked publish. I just experienced this three times, but NOT when clicking the "I did this" button -- those replication tags did endure through publishing.

I expected to see the tags that i added make it into the published note.

### Please show us where to look

https://publicl

[2018-03-07 22:50] nyattisaias commented on #2429
Is it too late to give this a try @Gauravano?

[2018-03-08 12:06] bronwen9 opened #2447 "Link to New User Profile page broken"
New user page:
https://publiclab.org/notes/Charlescollins83/03-08-2018/Charlescollins83 is unavailable.

They've made one post at: https://publiclab.org/notes/Charlescollins83/03-08-2018/tvi, which is in the moderation queue.

[2018-03-08 15:05] Gauravano commented on #2429
hi @nyattisaias we would love to have your help but for this one PR is opened in #2430 . But, you can new first-timer issues at https://publiclab.github.io/community-toolbox/#r=all .If you were not able to find any, feel free to ping here I'll open a new one for you.Thanks !!!

[2018-03-08 16:51] Fastie opened #2449 "Deleting a spam comment or answer might be deleting the question"
I deleted a spam comment (or answer) on a question posted at publiclab.org and then I could not find the question.

I noticed that another question that had a spam answer had disappeared, maybe because another administrator had deleted the answer.

I don't have very good evidence that this is happening, but it is a serious enough issue that I thought I would bring it up just in case it is really h

[2018-03-08 19:42] ebarry commented on #2420
Hi! Thanks for working on this! I just had another experience with searching `barnraising`. I had direct knowledge from a team member that they had already created a page about organizing your own barnraising, but I really could not find it. If i hadn't known it existed, i would never have found it.

[2018-03-08 19:52] Gauravano commented on #2449
hi @Fastie , I have found the bug and have raised a PR for the same. Although, I have detected the problem with answers only i.e. while deleting answer corresponding question is also deleted. I am still working on verifying if comments are also deleting the node or not. I will advise you not to delete any comment or answer until this issue is resolved as I found this problem is deleting the node.T

[2018-03-08 19:58] Gauravano commented on #2436
hi, @ebarry @bronwen9 I guess this issue is related to #2449 . What do you think?

[2018-03-08 20:00] ebarry commented on #2436
Oh my gosh, yes it is!!!! thank you for sleuthing!!! This would be a very serious bug if so! 😳

[2018-03-08 20:01] ebarry commented on #2449
Thank you @Gauravano ! Really, really appreciate your insight and sleuthing on this!!!!!!!!! 🚀

[2018-03-08 20:02] Gauravano commented on #2436
Could you write a random answer for https://publiclab.org/notes/gauravano/03-08-2018/this-is-for-testing-purpose for testing purpose?

[2018-03-08 20:07] Gauravano commented on #2436
I have replicated this with https://publiclab.org/questions/gauravano/03-08-2018/testing-purpose and got the same result, node is deleted.So, yes its serious bug as if any user deletes any answer now, that question would be deleted.

[2018-03-08 22:51] bronwen9 commented on #2436
Wow, yes! That's the trigger. We've been deleting a lot of spam comments lately (we're trying to tamp down on the amount of them in issue #974 ), so this likely affects quite a few pages right now.

[2018-03-09 12:01] jywarren opened #2452 "add Github-style checkboxes to nodes"
Nodes on publiclab.org could use a means of making and checking off lists - just like her in github:

* [ ] scan text for `* [ ]` or `* [x]`
* [ ] replace at display time with `<ul>...`
* [ ] (Later follow up) make it possible to check the box and so update the original markdown from `* [ ]` to `* [x]`

Lists are made in github flavor markdown like this:

[code]

Try making checklists in the comme

[2018-03-09 14:02] amitsin6h opened #2454 "Replace blog link with stories from Read Stories button"
Hi, this is a [first-timers-only](https://publiclab.github.io/community-toolbox/#r=all) issue. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-03-09 14:05] chitra591 commented on #2454
Hey @amitsin6h , Can I work on this?

[2018-03-09 14:12] amitsin6h commented on #2454
@mirzabob do you want to work ?? or I will assign it to @chitra591

[2018-03-09 14:18] mirzabob commented on #2454
yeah i want to work on it.

On Fri, Mar 9, 2018 at 7:42 PM, Amit singh <notifications@github.com> wrote:

[2018-03-09 14:56] mirzabob commented on #2454
Hello @amitsin6h I worked it but it's giving a wrong tick again.

[2018-03-09 15:51] amitsin6h commented on #2454
@mirzabob didn't get you

[2018-03-09 15:52] amitsin6h commented on #2454
@chitra591 I will create an another issue for you to work on, also visit https://publiclab.github.io/community-toolbox/#r=all

[2018-03-09 16:01] mirzabob commented on #2454
![screenshot from 2018-03-09 21-27-34](https://user-images.githubusercontent.com/35152568/37216585-224c2cc6-23e1-11e8-8e02-becb0a37a32b.png)
@amitsin6h  This is the problem i am facing.

[2018-03-09 16:10] amitsin6h commented on #2454
@mirzabob first close your PR which you made for the comment icon because your changes for this issue is reflecting in the first PR that you made.

I suggest you remake PR for this issue.  and also go through the git basics https://egghead.io/courses/how-to-contribute-to-an-open-source-project-on-github also see the git work flow https://guides.github.com/introduction/flow/index.html.

and when yo

[2018-03-09 17:04] jywarren commented on #2307
Yes, i'll write back today, sorry!!! 👍

[2018-03-09 17:46] first-timers[bot] opened #2458 "Fix tag controller "suggested tags" action"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-03-09 17:49] jywarren commented on #2454
I just added a new one at #2458 !! @chitra591

[2018-03-09 17:53] jywarren commented on #2389
I'm going to take a crack at this one in #2459 -- hope it works!

[2018-03-09 18:30] yashbth commented on #2458
🙋 claiming this issue.

[2018-03-09 20:12] jywarren commented on #2449
oh wow this is quite serious. I wonder if we can work backwards to
determine if other questions have been deleted from the system, and recover
them from backups.

@gauravano are you filing a fix for this? Given that it involves potential
data loss, we should fast-track this. I'll notify other moderators to hold
off on answer deletions for now.

Any moderator or admin can do this:

https://github.c

[2018-03-09 20:17] Gauravano commented on #2449
hi @jywarren , I have raised a PR at #2450 solving this issue and have also added some tests so that no such issue arises in future. Please have a look.

[2018-03-09 20:19] jywarren commented on #2449
Super. Thanks.

https://stable.publiclab.org/questions/qdominus/08-07-2017/could-this-720nm-ir-filter-from-ebay-be-used-for-ndvi-infragram

can be used to recover this record and re-instantiate it in the db (i'll do this)

However, @Fastie are there others you could definitively find that have been deleted and we should fish into our backups for?

If this has been happening for some time, we could

[2018-03-09 20:19] jywarren commented on #2449
Thank you @Fastie for reporting and @Gauravano for submitting a fix!!!

[2018-03-09 20:51] jywarren commented on #2458
Awesome!!! Thank you!

You closed up your PR though -- having issues? Need help?

[2018-03-09 21:13] Fastie commented on #2449
I think there is at least one other question that was deleted when I deleted a spam answer about one to two weeks ago. I am not sure how I became aware of the spam answer but I think it was a question that I had answered some time ago. I think it was about infrared stuff.

I think there might be one other case in which I was suspicious that something weird had happened. Then I noticed the most rec

[2018-03-09 21:15] jywarren commented on #2449
Was it this one? https://publiclab.org/questions/warren/11-14-2017/what-s-one-thing-that-could-be-better-for-newcomers-about-the-public-lab-website

[2018-03-09 21:16] Fastie commented on #2449
Hah! I just found that one too. I don't know if that was one of the ones I had run into.

[2018-03-09 21:18] jywarren commented on #2449
and https://publiclab.org/questions/warren/08-16-2016/does-the-new-question-feature-work

[2018-03-09 21:21] Fastie commented on #2449
Here a couple of missing questions:

https://publiclab.org/questions/J_tanna/01-30-2017/difference-between-image-calibration-and-camera-calibration

https://publiclab.org/questions/warren/12-13-2017/is-anyone-studying-or-writing-about-the-rise-in-codes-of-conduct-in-open-source-projects#a806

[2018-03-09 21:22] jywarren commented on #2436
OK -- we're going to do a data recovery for these by digging into database backups. Thanks for identifying the issue! Merging into #2449.

[2018-03-09 21:22] #2436 closed

[2018-03-09 21:23] jywarren commented on #2447
Hi, it looks like the profile link is wrong -- where did the link come from? Thanks for reporting! I think if we fix the link to https://publiclab.org/profile/Charlescollins83 we should be good 👍

[2018-03-09 21:23] jywarren commented on #2449
https://publiclab.org/questions/gretchengehrke/08-02-2017/what-is-the-best-low-cost-or-diy-microscope-to-use-with-a-group#a839

https://publiclab.org/questions/warren/10-27-2017/what-sessions-would-people-like-to-have-at-the-2017-barnraising#a840

[2018-03-09 21:24] jywarren commented on #2449
OK -- we're probably going to have to recover the answers too, but I'm not sure about that. We'll see!

[2018-03-09 21:28] jywarren commented on #2426
yep, that's right! It's pretty annoying, but should be a simple fix. We can
use Rubular.com to prototype!

On Sat, Mar 3, 2018 at 4:24 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-03-09 21:30] bronwen9 commented on #2447
This was a spam author who I wanted to ban: it was linked from the
moderator email.

On Mar 9, 2018 4:23 PM, "Jeffrey Warren" <notifications@github.com> wrote:

[2018-03-09 21:39] jywarren opened #2468 "Error with showing contributors for a tag? (autoposted via PublicLab.org)"
(This issue was auto-generated from http://ift.tt/2B8W2Ma -- please help to flesh it out and explore the issue, and respond to the original author!) by http://ift.tt/2AyHuXr<br>
<br>
Read more and ask the original author for details at: http://ift.tt/2GaDFKQ<br>
<br>
****<br>
<br>
<img src="https://publiclab.org/system/images/photos/000/023/444/original/Screenshot_20180204-101546_2.png" alt="Publi

[2018-03-09 21:39] seafr commented on #2458
The red `X` at the bottom of the PR page is probably scaring people away. I see quite a few closed PRs in the last few hours.

[2018-03-09 21:47] jywarren opened #2469 "Offer templates in sidebar of new wiki page"
We have great templates available for wiki pages: https://publiclab.org/wiki/wiki-templates

They can be used using URLs like: `http://publiclab.org/wiki/new?n=1234` where 1234 is the template node id.

Node id at which particular template exist can be found at https://publiclab.org/wiki/wiki-templates by clicking on the button which creates those template.

We should offer the main ones on the ne

[2018-03-09 21:53] jywarren commented on #2447
I'm having some trouble finding the wrong link to identify the bad code -- if you could try to see where in the email the link was from we can fix it -- thanks, and no rush!

[2018-03-09 21:54] jywarren commented on #2458
agreed... what an unfriendly X!

I hope Travis gets fixed soon :-/

On Fri, Mar 9, 2018 at 4:39 PM, Sea <notifications@github.com> wrote:

[2018-03-09 22:00] jywarren commented on #2447
Here's one of the templates! https://github.com/publiclab/plots2/blob/master/app/views/admin_mailer/notify_moderators_of_spam.html.erb

[2018-03-09 22:01] jywarren commented on #2468
I believe this is related to https://github.com/publiclab/plots2/issues/2444 -- merging with that! Thanks!!

[2018-03-09 22:01] #2468 closed

[2018-03-09 22:22] bronwen9 commented on #2447
The email came through the moderators list on March 7, SUbject was: [New Public Lab poster needs moderation] TVI

Content (copy/pasted from email)
First-time poster Charlescollins83 has submitted their first research note!
Please help to approve it or mark it as spam: https://publiclab.org/notes/Charlescollins83/03-08-2018/tvi
Approve or Spam
test
It has the following tags:
User Info
--
527011
Cha

[2018-03-09 22:24] bronwen9 commented on #2447
Ah! I *just* clicked on the profile again, and see that it is showing up now (maybe you fixed it?) I am going to go ahead and ban it, thanks!

[2018-03-09 22:33] bronwen9 commented on #2447
Ohh, wait, scratch that, now I remember that I don't think it's spam after all, but kind of wanted to check the profile to double check. The navigation just got weirder. When I clicked in from the email it worked, but when I tried to click to the profile from the post it shows up as the error.
![collins832](https://user-images.githubusercontent.com/8331717/37233113-e70c16b0-23bf-11e8-9308-985c4c4e

[2018-03-09 22:45] jywarren commented on #2447
Awesome! Found it! I can make a quick first-timers issue to fix it:

https://github.com/publiclab/plots2/blob/34935fb011a2982968c6a2e0b049eeb2aa791c78/app/controllers/application_controller.rb#L136

[2018-03-09 22:46] first-timers[bot] opened #2470 "Update application_controller.rb to fix moderation alert message"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-03-09 22:47] jywarren commented on #2447
Done! Thanks @bronwen9 -- #2470

[2018-03-09 22:47] #2447 closed

[2018-03-09 23:24] jywarren opened #2471 "Fixed Travis builds -- read here to see how to retrigger them"
Formerly `Switch off of Debian packages for Docker builds` -- read on!

#2472 has apparently fixed this issue -- so closing and reopening your pull request should now trigger a successful build!

Please help one another to resolve this by closing and re-opening PRs! Thank you!

****

Original issue:

Travis builds are broken @publiclab/reviewers -- `@zybell` in IRC noted this error:

[code]

We hi

[2018-03-09 23:25] jywarren commented on #2471
Opened a PR!

[2018-03-09 23:31] Gauravano commented on #2426
hi @jywarren , I just dig into this a little and found that we have tests set up to ensure the creation of these tags so if we don't need this tag creation feature anymore I would do the cleanup. What do you say?

[2018-03-09 23:53] #2449 closed

[2018-03-10 00:06] #2389 closed

[2018-03-10 00:07] jywarren commented on #2426
ah, well we want to keep tagging, just not for purely numerical strings,
right?

On Fri, Mar 9, 2018 at 6:31 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-03-10 00:08] Gauravano commented on #2426
ok I will optimize it accordingly

[2018-03-10 00:09] jywarren commented on #2426
awesome!!! Thanks!!

On Fri, Mar 9, 2018 at 7:08 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-03-10 02:07] chitra591 commented on #2454
I think that is issue is also fixed! Anyways, Thanks @jywarren !

[2018-03-10 06:08] RajuKalidindi commented on #2437
hello @amitsin6h ! I'd like to work on this issue

[2018-03-10 07:08] amitsin6h commented on #2437
@oulongwen are you working on it or I assign it to @RajuKalidindi

[2018-03-10 07:11] amitsin6h commented on #2452
@jywarren am unable to get where we need to add the checkboxes.

[2018-03-10 12:26] oulongwen commented on #2437
@amitsin6h I have already submitted a PR #2442 for this issue. Somehow the test would not pass. I am waiting for further guidance on how to fix it. Thanks.

[2018-03-10 13:43] amitsin6h commented on #2437
Just close the PR that you and try to resubmit you wont face any test
failed.
Go for it

On Mar 10, 2018 5:56 PM, "oulongwen" <notifications@github.com> wrote:

[2018-03-10 14:33] oulongwen commented on #2437
@amitsin6h The problem has already been solved and all the tests are passed. Thanks for your help.:thumbsup:

[2018-03-10 14:39] vineetj23 commented on #2470
Hi! I'm looking to get my feet wet in the open source community and would love to work on this issue!

[2018-03-10 14:49] namangupta01 commented on #2470
Hey @vineetj23
Someone is already working on it. You can look for others issue. If you need any help in finding the issue, please ask. We would be happy to help.

[2018-03-10 15:09] vineetj23 commented on #2470
@namangupta01 are there any other first-time issues that are open? The ones I see on your website seem to be all claimed.

[2018-03-10 17:20] #2437 closed

[2018-03-11 12:13] Ronaq13 commented on #2469
I want to take this up.

[2018-03-11 12:33] Gauravano commented on #2469
That's Great !!!. You can ask here if you want any help.Thanks.

[2018-03-12 02:40] first-timers[bot] opened #2475 "Add a feedback notice to "i did this" buttons"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-03-12 05:07] SamithDB commented on #2475
How is working on this.? I'm a beginner and I like to solve this?

[2018-03-12 05:16] ViditChitkara commented on #2475
@SamithDB that would be awsome!!! Go ahead.

[2018-03-12 10:59] Paarmita commented on #2352
@jywarren Can I work on this issue or @sukhbir-singh has taken up?

[2018-03-12 11:05] Paarmita commented on #2428
@Gauravano Can I take up this issue?

[2018-03-12 11:06] namangupta01 commented on #2352
@sukhbir-singh Are you still working on this issue? or do you need some help? Let us know if you need some help.
@Paarmita He already made a pr for this issue. You can choose other issues. There are plenty of them.
Thanks :)

[2018-03-12 11:08] namangupta01 commented on #2428
@Paarmita Sure, Go ahead!

[2018-03-12 12:53] yashbth commented on #2458
hey @jywarren, I have fixed the issue now, please review & merge the PR.
Thank you.

[2018-03-12 13:19] sagarpreet-chadha commented on #2452
Hi @amitsin6h ...
I think we need to change this files :

1.) [https://github.com/publiclab/plots2/blob/master/app/models/revision.rb](https://github.com/publiclab/plots2/blob/master/app/models/revision.rb)

2.) [https://github.com/publiclab/plots2/blob/master/config/initializers/constants.rb](https://github.com/publiclab/plots2/blob/master/config/initializers/constants.rb)

For Regex expression ,

[2018-03-12 13:39] Paarmita commented on #2428
@Gauravano Do I have to add social icons and then css? As icons are not shown
![screenshot from 2018-03-12 19-08-08](https://user-images.githubusercontent.com/26546816/37286746-d8eabb16-2628-11e8-9bda-5221af0caaf0.png)

[2018-03-12 13:46] Gauravano commented on #2428
hi @Paarmita , you have to enter your facebook, twitter, etc username using Link social media button, and then icons would appear.

[2018-03-12 14:11] sagarpreet-chadha opened #2478 "Map shows on Notes if only lat:XXXX exists ."
### Please describe the problem (or idea)

Map shows on Notes if power tag lat:XXXX (or lon:XXXX) exists .

<img width="426" alt="screen shot 2018-03-12 at 7 38 36 pm" src="https://user-images.githubusercontent.com/14952645/37288458-5796783e-262d-11e8-83c3-1f09e673c3d7.png">

## Thank you!

[2018-03-12 14:42] jywarren commented on #2469
Hi @Ronaq13 - if you do, please link back here from your pull request so we know you've gotten started. Thanks!!!

[2018-03-12 14:58] jywarren commented on #2444
I think there may have been a reversion in #2180 which affected @Gauravano's code in #2062:

https://github.com/publiclab/plots2/blob/ca820a87e083ed7aff95e6c903732d2d4fca7949/app/views/tag/_contributors.html.erb

It looks like `@noteCount` was changed to `@note_count` and I've reverted that in #2479. I want to add a functional test to ensure these are shown.

[2018-03-12 15:01] jywarren commented on #2444
Attempting fix in #2479

[2018-03-12 15:02] jywarren commented on #2444
with test at

https://github.com/publiclab/plots2/blob/3e9d33cd68e2e5956d5783df69153b03e0cf2989/test/functional/tag_controller_test.rb#L293

[2018-03-12 15:07] jywarren commented on #2445
Hi! This will involve changes to the controller on lines like this:

https://github.com/publiclab/plots2/blob/ca820a87e083ed7aff95e6c903732d2d4fca7949/app/controllers/tag_controller.rb#L22

Where we'll want to determine order via a URL parameter, like:

`https://publiclab.org/tags?sort=uses&order=desc`

We can access the order with the variable `params[:order]` within the controller. So let's indi

[2018-03-12 15:08] sagarpreet-chadha commented on #2440
Hi everyone !

So i have generated this code using **vis.js library**  . The code for above is :
[https://gist.github.com/sagarpreet-chadha/d70d08b627e2eea220cfa79aee1b858c](https://gist.github.com/sagarpreet-chadha/d70d08b627e2eea220cfa79aee1b858c) .

and also i attempted to create an API for **nodes** and **edges** here :
[https://sagarpreet-chadha.github.io/nodesedges.json](https://sagarpreet-c

[2018-03-12 15:13] #2444 closed

[2018-03-12 15:45] sukhbir-singh commented on #2352
Hi @namangupta01 , for this issue I have made pull request for first and second part. PR for first part is still open and PR for second part is already got merged. So part 3 and 4 are still open for contributors.
Currently I am working on my proposal so I might get back to making new PRs after 2-3 days. Meanwhile, if someone else is interested can work on 3rd and 4th part of this issue.

[2018-03-12 15:51] Gauravano commented on #2356
Solved in #2416

[2018-03-12 15:51] #2356 closed

[2018-03-12 15:57] Gauravano commented on #2445
hi @jywarren @ebarry , I guess this issue relates to #2352 .

[2018-03-12 16:26] Gauravano commented on #2470
hi @vineetj23 ,you can find new issues at https://publiclab.github.io/community-toolbox/#r=all but if you weren't able to find , ping here I will create one for you. Thanks.

[2018-03-12 16:37] Ronaq13 commented on #2469
I am working on it. Will send a pull request in a while

[2018-03-12 16:58] ebarry commented on #2352
EXCITING!!!!!

[2018-03-12 16:59] ebarry commented on #2445
wow yes, @Gauravano -- thank you for directing my attention at this GREAT PR in progress by @sukhbir-singh !!! It's very exciting. Feel free to close this issue in favor of  #2352 .

[2018-03-12 17:08] SidharthBansal commented on #2388
Sorry I could not do much last two weeks due to my mid sems.
Yeah, we will be doing this into chunks of separate prs so that it will be a quick, easy and a small merge.

[2018-03-12 17:09] SidharthBansal commented on #2388
Regarding the tests. I think we will be able to write them at the end of the full functioning of login and signup

[2018-03-12 17:12] SidharthBansal commented on #2388
First of all, I will make a simple facebook login compatible with the current publiclab.org
Then I shall add functionality so that the users who have the facebook account or the login on public labs directly can fetch their same profile in either way around.
I hope this makes sense.

[2018-03-12 17:14] SidharthBansal commented on #2388
``` Then in a followup PR we can start "Turning it on" for people logging into the site for real -- exposing the back-end work ```
Yeah first of all we will test all the functionality on the local then on production, then we will make the frontend so that new users will be able to start logging in from there.

[2018-03-12 17:35] Gauravano commented on #2445
Actually, I have gone through the parts of #2352 and noticed it lacks some things.I would open few FTO issues covering those parts. Also, how about adding sort icon i.e., sorting ASC/DESC to every possible page like wiki, tags, people, etc. so that all pages have the same UI?
![sorticon](https://user-images.githubusercontent.com/20878070/37299456-5f31d91e-2649-11e8-8c35-9b022edb2fc4.png)

[2018-03-12 17:38] sukhbir-singh commented on #2445
Hi @ebarry , I think there is a minor typo in description of this issue. The url should look like:-
https://publiclab.org/tags?sort=users instead of https://publiclab.org/tags?sort=uses

[2018-03-12 17:49] ebarry commented on #2445
oh good catch! But i think the count is of how many times a tag is used, rather than of "users" as in people. What do you think?

[2018-03-12 17:52] jywarren opened #2483 "Sorting by username on publiclab.org/people"
### Please describe the problem (or idea)

https://publiclab.org/people offers the ability to sort by username or last activity. But when you click sorting by username, it errors:

https://publiclab.org/people?sort=username

The lines where we're doing this are:

https://github.com/publiclab/plots2/blob/29ddda47d7872ca6854c2a60124f4a165ef52087/app/controllers/users_controller.rb#L94

https://githu

[2018-03-12 18:01] sukhbir-singh commented on #2445
sorry my bad, its "number of uses" not users

[2018-03-12 18:13] ebarry commented on #2440
Wow this is really cool. It's amazing that we could write our own open source graph visualizer like this. How would we use this on /people/_network_ or at the top of /tags? Can it be embedded?

[2018-03-12 18:17] sagarpreet-chadha commented on #2440
Thanks @ebarry !

Yes it can be embedded anywhere on our website 😄 .

[2018-03-12 18:19] Hiroki-Mori360 commented on #2478
Hello! This is my first comment on github.

I think the problem is that the code inputs 'Not A Number'(NaN) value into args. Use 'parseFloat' and check with 'isNaN'.

[2018-03-12 18:21] ebarry commented on #2440
How many nodes (tags) have you tested it with? Like, the top 150 or 500, or perhaps all of them?

[2018-03-12 18:24] sagarpreet-chadha commented on #2478
Welcome @Hiroki-Mori360 to Github and to PublicLab 😄  !

Do you want to send a Pull Request of your solution ? I can help you with it .
Thanks !

[2018-03-12 18:27] Hiroki-Mori360 commented on #2478
@sagarpreet-chadha
I'd love to !

[2018-03-12 18:31] sagarpreet-chadha commented on #2440
The above graph is just a demo graph with a demo API for testing purposes containing about ~16 nodes .
But we can use any number of nodes - see this example on their site here : **~500 nodes** and it is not lagging .
[http://visjs.org/examples/network/data/importingFromGephi.html](http://visjs.org/examples/network/data/importingFromGephi.html)

[2018-03-12 18:41] sagarpreet-chadha commented on #2478
Great 👍   !

I think the lines of code to change/modify are here :
https://github.com/publiclab/plots2/blob/29ddda47d7872ca6854c2a60124f4a165ef52087/app/views/sidebar/_related.html.erb#L82

Ping me here if you may need any help :)

[2018-03-12 19:44] jywarren opened #2486 "List of mapping databases to potentially include as layers on PublicLab.org maps"
@sagarpreet-chadha  did a nice prototype of displaying [SkyTruth Alerts](http://alerts.skytruth.org) maps within a leaflet map on PublicLab.org: https://github.com/publiclab/plots2/pull/2451

Let's compile a list of such map sources that could potentially be made visible as Leaflet layers. This might be something to release as a stand-alone Leaflet plugin, so it can easily be displayed on anyone's

[2018-03-12 19:59] jywarren commented on #2469
:-) awesome!

On Mon, Mar 12, 2018 at 12:37 PM, Raounak Sharma <notifications@github.com>
wrote:

[2018-03-12 20:04] Gauravano commented on #2307
@jywarren please provide your views on these ideas https://github.com/publiclab/plots2/issues/2307#issuecomment-370518643 . Thanks.

[2018-03-12 20:12] jywarren commented on #2458
Thank you! Merged!!!

If you're looking for a new challenge, please take a look at our `help-wanted` list: https://github.com/publiclab/plots2/labels/help-wanted

Thanks!

[2018-03-12 20:28] jywarren commented on #2307
Sorry i said i'd write back but never did!

Let's try to make this simpler for starters -- we can offer the link to share without offering to mail it for you -- that'll simplify the initial implementation. It could even say `I've shared a draft post from PublicLab.org with you -- click here to view and comment or edit: ________` -- you know?

I'm not sure about this -- perhaps we can offer the aut

[2018-03-12 20:42] Gauravano commented on #2307
thanks, @jywarren .I will break the issue into smaller steps, and open a new Planning issue with some implementation details very soon.

[2018-03-12 22:08] jywarren commented on #2307
great!

On Mon, Mar 12, 2018 at 4:42 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-03-12 22:09] jywarren commented on #2388
fantastic, and welcome back! Hope your exams went well and very glad to see
you!

On Mon, Mar 12, 2018 at 1:14 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-03-13 03:05] SidharthBansal commented on #2388
Yeah

[2018-03-13 13:18] seafr commented on #2454
@amitsin6h Please see [my comment](https://github.com/publiclab/plots2/pull/2484#discussion_r174107176). A test may be needed here.

I also suggest you create FTO issues using the [first-timers-bot](https://github.com/hoodiehq/first-timers-bot) as it also displays a helpful "diff" showing which line to add/remove.

[2018-03-13 14:23] jywarren opened #2488 "question page showing error"
This page is broken!

https://publiclab.org/questions/bronwen/03-09-2018/help-the-kits-initiative-launch-the-basic-microscope-kit-by-3d-printing-lens-adaptors

I'll check the logs... :-(

[2018-03-13 15:42] ViditChitkara commented on #2488
I'd like to help. If you could post the logs over here?

[2018-03-13 16:07] Paarmita commented on #2428
@Gauravano on clicking the Link social media button, it's not taking the username and accounts are not linking.
![screenshot from 2018-03-13 21-37-20](https://user-images.githubusercontent.com/26546816/37354062-c12a5084-2706-11e8-96a5-409a7cd79d73.png)

[2018-03-13 16:10] bronwen9 opened #2489 "New User Post Shows Error"
Hello! Clicking the link in a moderators email about a new user's post leads me to an error page. This error appeared both when clicking the "approve" button and when clicking on the link to the post itself to see more.  ¯\_(ツ)_/¯

![moderation bug](https://user-images.githubusercontent.com/8331717/37354116-46b2838e-26b7-11e8-9424-9d103bb7d161.gif)

[2018-03-13 16:13] Gauravano commented on #2428
@Paarmita you have to follow the syntax as shown in the alert like if you want to add your facebook username on PublicLab then you need to add facebook:paarmita287 and similar syntax for twitter, instagram, and github.

[2018-03-13 16:14] bronwen9 commented on #2489
Ahh, my email wasn't refreshed, it seemed like this post had been approved by the time I clicked through, however the link on the dashboard for the active post seems to lead to error as well.

![moderation bug2](https://user-images.githubusercontent.com/8331717/37354352-d5a92908-26b7-11e8-8291-2ebe372d2d7c.gif)

[2018-03-13 16:53] Gauravano commented on #2489
I have checked the Approve link in the mail its working fine. Answer deletion problem which was deleting the node was also resolved, just checked. Also, the thing to note is node (question ) is not deleted as it's still appearing on the dashboard. @jywarren may be Node record from database will help us .

[2018-03-13 17:04] jywarren commented on #2489
I believe this is the same as #2488, reported this morning -- thanks!

[2018-03-13 17:05] jywarren commented on #2489
Although I also saw an error on clicking the `Approve` link in the email. I think we should fix #2488 and then circle back to see if there's an additional error or it was just an error on redirecting to the question page. I'll close this but re-open if we find it's a second bug. Thank you!

[2018-03-13 17:05] #2489 closed

[2018-03-13 17:06] ViditChitkara commented on #2488
Hmm maybe we need to have a null check for name, will soon create a PR for this😃

[2018-03-13 17:07] jywarren commented on #2488
We could use a `try` -- but why is there something in there with a nil author?

[2018-03-13 17:07] jywarren commented on #2488
https://github.com/publiclab/plots2/edit/master/app/views/sidebar/_notes.html.erb

[2018-03-13 17:08] jywarren commented on #2488
someone recently insisted their user account be deleted, so I did so in the db. Perhaps that's an issue.

[2018-03-13 17:09] jywarren commented on #2488
https://publiclab.org/questions/ is also down. so this seems likely related.

[2018-03-13 17:11] jywarren commented on #2488
Got it. There was a question with a deleted author. I think we're OK here -- maybe we need to add a `dependent: destroy` between authors and nodes?

In any case, we're good now -- thanks!

[2018-03-13 17:11] #2488 closed

[2018-03-13 17:25] ViditChitkara commented on #2488
Cool :+1:

[2018-03-13 17:36] #2470 closed

[2018-03-13 17:37] jywarren commented on #2488
thanks, everybody!

On Tue, Mar 13, 2018 at 1:25 PM, Vidit <notifications@github.com> wrote:

[2018-03-13 17:42] jywarren commented on #2307
Hi! It looks like there may be a draft related bug here?

https://publiclab.org/notes/gauravano/03-13-2018/test-question

It fails on this line, with `@node` evaluating to `nil` --

https://github.com/publiclab/plots2/blob/8e9dec8787158cd504b68ba340557599c61434e4/app/controllers/notes_controller.rb#L55

[code]

Thanks!!!

[2018-03-13 17:45] Gauravano commented on #2307
actually @jywarren I deleted the node after a minute of its creation

[2018-03-13 17:48] jywarren commented on #2446
Hi, Liz - to clarify, the tags added when you click "I did this" on a post like this: https://publiclab.org/notes/cedarlodge/03-07-2018/raspberry-pi-spectrometer-gui

that button would go to:

https://publiclab.org/post?tags=replication:15880,spectrometry,raspberry-pi,lego-spectrometer

I wasn't able to reproduce this -- using the link above, i added the additional tag `test` and hit publish:

![s

[2018-03-13 17:51] jywarren commented on #2446
If we can reproduce this, we should be sure to add a test for it -- at:

https://github.com/publiclab/plots2/blob/8e9dec8787158cd504b68ba340557599c61434e4/test/functional/notes_controller_test.rb#L195-L213

[2018-03-13 17:51] Gauravano commented on #2307
And, after deleting the node I tried the link too I guess that's how this log is generated

[2018-03-13 17:51] jywarren commented on #2307
OK! sounds great.

On Tue, Mar 13, 2018 at 1:45 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-03-13 18:14] amitsin6h commented on #2454
@seafr I was not aware about first-timers-bot thanks for your help. I have seen your comment , I have asked @mirzabob to make the changes.

[2018-03-13 20:02] jywarren commented on #2452
Awesome, @sagarpreet-chadha -- great; @amitsin6h we'd love your help with this! I think we could start with just converting checkboxes in Markdown into HTML checkboxes. Then we can think about how to make them "checkable". One at a time, like a checklist! :-)

[2018-03-13 22:54] #2143 closed

[2018-03-13 23:04] jywarren commented on #2260
Hi, @MittalS211 -- just checking -- did you open a PR for this, or need any support? Thanks a lot!!!

[2018-03-13 23:07] jywarren commented on #2379
@kk-gndu -- the correct link is https://github.com/publiclab/plots2/tree/master/app/views/notes/_comment.html.erb -- sorry we didn't see that!

[2018-03-13 23:08] jywarren commented on #2379
Oh, i see Gauravano did see it! OK, late to the party -- but can we help you out at all? If you have a PR open, if you could point at it that would be great. Thanks! 👍

[2018-03-13 23:09] jywarren commented on #2379
Aha! It was completed in #2387 -- thought it looked familiar. Closing this now -- thanks so much!!!

[2018-03-13 23:09] #2379 closed

[2018-03-13 23:15] jywarren commented on #2402
Solved in #2403 ! Thank you!!!

[2018-03-13 23:15] #2402 closed

[2018-03-13 23:17] jywarren commented on #2422
I was thinking of this again and I remembered that I keep a few useful links in my saved replies, especially the one for removing Gemfile.lock!

`Hi, this is looking great, but would you mind removing the Gemfile.lock from your PR, as I think it's just a version tweak? https://stackoverflow.com/questions/215718/reset-or-revert-a-specific-file-to-a-specific-revision-using-git`

We also have a few h

[2018-03-14 03:14] jywarren opened #2492 "moderating a spam post shows an error"
After clicking "spam" in a moderators email, I saw:

![screenshot_20180313-231412](https://user-images.githubusercontent.com/24359/37381591-6635a256-2714-11e8-8ca4-e1a3065663a0.png)

[2018-03-14 03:15] jywarren commented on #2492
Lol giant image

[2018-03-14 07:19] SidharthBansal commented on #2422
One more file test.sqlite. This also creates trouble. I have seen that it has attached itself without on purpose.

[2018-03-14 07:41] SidharthBansal commented on #1996
@balaaagi I am really sorry for such a late reply.
I think none is working on it. You can go for it.

[2018-03-14 16:38] amitsin6h commented on #2454
Fixed and Merged #2484

[2018-03-14 16:38] #2454 closed

[2018-03-14 17:29] jywarren opened #2493 "Make sidebar content into collapsible sections"
There's interest (https://github.com/publiclab/plots2/issues/1706) in making the sidebar (see pages like [this one](https://publiclab.org/wiki/community-toolbox)) less "noisy" but not yet a clear plan for how to enable horizontal navigation on the site. As a step in the right direction, let's simplify the sidebar with collapsible sections, as in Bootstrap:

![image](https://user-images.githubuserc

[2018-03-14 17:29] jywarren commented on #1706
I'm going to break out one option to make the "related content" collapsible, so it's still there but there's more of a hierarchy of importance: #2493

[2018-03-14 17:55] jywarren opened #2494 "popover on tags display"
We have a tags area on most pages at PublicLab.org, like this one: https://publiclab.org/n/15948

Screenshot:

![image](https://user-images.githubusercontent.com/24359/37421104-d74498e2-278e-11e8-9216-83c5af73efbd.png)

What about using a Bootstrap popover to make this a bit less mysterious? Something like this mockup:

https://getbootstrap.com/docs/3.3/javascript/#popovers

![image](https://user-

[2018-03-14 18:31] ebarry commented on #1706
Sounds great! it'll be helpful to see how that looks, and then revisit Siyuan's recommendations about testing out a righthand sidebar or look at other contemporary ways to show related content (like, at the bottom of pages)

[2018-03-14 18:51] jywarren commented on #1706
I did a mockup of a more minimal sidebar that also hints at the kinds of "related work" the current sidebar shows, but through the tagging display (here, the # of posts with a tag is shown in the tag label). This would be kind of two birds with one stone 🐦 🗿  -- but just an idea. The basic idea could also still work in the current tags location at the bottom of the post.

Broadly speaking, this ki

[2018-03-14 18:56] ebarry commented on #1706
I REALLY LIKE THIS
- it moves the sidebar to the right, and gives a great amount of explanation!

[2018-03-14 19:34] ebarry commented on #2494
+1

[2018-03-14 19:38] jywarren commented on #1706
Awesome. Let's get it queued up! It may be a few days as I travel!

On Wed, Mar 14, 2018, 2:56 PM Liz Barry <notifications@github.com> wrote:

[2018-03-14 19:58] Ronaq13 commented on #2469
I was working on this. And after i gave a command to pull the latest changes form publiclab/plot2 , now I am facing an error:

`NoMethodError: undefined method `<' for nil:NilClass
  /home/raounak/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/bundler-1.16.1/lib/bundler/definition.rb:333:in `lock'`

Can anyone help in this?

[2018-03-14 20:02] ViditChitkara commented on #2469
This happened with me before too! I'm not sure if it will work,but if you could remove the gemfile.lock file. After that run 'bundle install'. Seems to be some dependency related issue.

[2018-03-14 20:57] Gauravano commented on #2492
hmm, one possibility of error page is node deletion,  as even if another moderator has marked it as Spam then node should be visible to you being admin or moderator. How about adding a check in the controller before displaying the node for its presence as it would reduce uncertainty, so if the node is not there then we can redirect to dashboard displaying a notice. How about this @jywarren ?

[2018-03-14 22:40] jywarren commented on #2492
So do you think the node was deleted before I could moderate it?

On Wed, Mar 14, 2018, 5:00 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-03-14 22:57] jywarren opened #2497 "Prototype idea: Notifications API for comments"
This isn't a priority or anything, just an idea we could explore pretty minimally. Other projects have higher priority!

We could, using just JavaScript, set up notifications for new comments (for example) or notes. Read abou them here: https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API

Here's how it works:

[code]

We'd want to add this to the profile

[2018-03-14 23:00] Gauravano commented on #2492
I think so

[2018-03-15 05:21] Ronaq13 commented on #2469
rake db:setup giving an error:

`ActiveRecord::StatementInvalid: SQLite3::SQLException: near "fulltext": syntax error: CREATE fulltext INDEX "index_comments_on_comment" ON "comments" ("comment")
/home/raounak/Desktop/openSource/publiclab/plots2/db/schema.rb:54:in `block in <top (required)>'`

[2018-03-15 16:13] chitra591 commented on #2493
Hi @jywarren, shall I work on this?

[2018-03-15 16:25] alator21 commented on #1392
I'm having this issue right now.I had the exact same situation as @icarito but after i removed the specific file he mentioned it changed.Now im getting this..

--add_index("comments",["comment"],{:name=>"index_comments_on_comment",:type=>:fulltext})
rake aborted!
ActiveRecord::StatementInvalid: SQLite3::SQLException: near "fulltext": syntax error:CREATE fulltext INDEX "index_comments_on_comment" O

[2018-03-15 16:46] Gauravano commented on #2469
hey @Ronaq13 ,I guess this issue is related to #1392

[2018-03-15 17:01] Gauravano commented on #1392
hi @alator21 , this problem is addressed by @jywarren in #1997 but now the schema.rb.example is again changed so you can try the changes done by @jywarren here https://github.com/publiclab/plots2/pull/1997/files .I hope, that would solve your problem.

Also, @Ronaq13, you can also try modifying schema.rb.example , if I am not wrong you are facing same problem as faced by @alator21 .

[2018-03-15 19:37] jywarren commented on #2493
Sure, that'd be great! Thanks!

On Thu, Mar 15, 2018, 8:17 PM chitra591 <notifications@github.com> wrote:

[2018-03-15 19:55] jywarren opened #2498 "add ability to like a comment"
Just like on GitHub!

[2018-03-15 19:56] alator21 opened #2499 "Fresh install throws error on sign in(i did no changes)"
Hello.Just created a fresh install of the project.I had some issues installing it before but i solved them through your older issues.Now i installed everything correctly(i think) and i rushed to localhost:3000.When i tried to sign in i got an error in the users session controller.I mean i cloned the master so something that basic shouldnt throw an error right?Thats the error i got:

undefined meth

[2018-03-15 19:57] ViditChitkara commented on #2498
Fantastic idea! Shall I do?

[2018-03-15 20:11] Gauravano commented on #2499
hi @alator21 , can you try localhost:3000/signup and let us know the status? Thanks.

[2018-03-15 20:18] Gauravano commented on #2499
Also, please make sure that `rake db:setup` completes without any error

[2018-03-16 07:30] alator21 commented on #2499
I think I found my issue.I will send a PR later.Thanks for the help anyways.Consider this closed.

[2018-03-16 07:41] Gauravano commented on #2499
hey @alator21 glad you got the problem fixed !!!. Also, if you share the solution that might help someone else in the future, that would be great.Thanks !!!

[2018-03-16 13:09] namanjain1812 commented on #2428
Can i take this issue?

[2018-03-16 13:37] namanjain1812 commented on #2429
Is someone working on it.If not I would like to work on it

[2018-03-16 13:57] namanjain1812 commented on #2429
@Gauravano Since i saw no pull requests i have made the changes.Please merge it now
Thanks.

[2018-03-16 14:07] namanjain1812 commented on #1996
Claiming the issue as i dont see anyone working on it

[2018-03-16 14:08] SidharthBansal commented on #1996
Great

[2018-03-16 15:41] alator21 commented on #2499
See #2505.

[2018-03-16 15:41] #2499 closed

[2018-03-16 16:05] namanjain1812 commented on #1996
@SidharthBansal i have done the changes as said but the checks does not pass.I further read about it
https://stackoverflow.com/questions/22993545/ruby-email-validation-with-regex
and it also says the same.I you please tell where am i going wrong

[2018-03-16 17:03] sukhbir-singh commented on #2440
I have added community visualisations as one part of my gsoc proposal. I would like to request you people to review it.
My proposal link: https://publiclab.org/notes/sukhbir/03-02-2018/gsoc-proposal-v2-api-development-and-providing-support-to-3rd-party-app-integrations
Thanks!!

[2018-03-17 09:56] ViditChitkara commented on #1119
Hi everyone,
Thinking of using resque as the queuing backend for this (maybe we'd require capistrano for this work on production), @icarito could you please give your thoughts on this? Please look through https://publiclab.org/notes/vidit/02-16-2018/gsoc-18-email-notification-overhaul#c18986
@jywarren , @ebarry , @steviepubliclab , @ananyo2012 I'd love to have your reviews too.

[2018-03-17 10:57] jywarren commented on #2469
OK, I've merged in #2505 -- so this should be resolved now. Can you give it another try? You may have to pull the latest master branch again and then rebase this on top of it. See here for some help with that!

https://publiclab.org/wiki/developers#Resources

[2018-03-17 10:58] jywarren commented on #1392
OK, i've merged in @alator21 's great work in #2505, so this should be OK now!

[2018-03-17 14:10] BornToWin commented on #2483
@jywarren I don't understand the problem with the sorting in https://publiclab.org/people?sort=username
Could you be more specific?

[2018-03-17 19:37] ViditChitkara commented on #2483
@jywarren I'm actually not getting any error. However, the username are being sorted in an unusual way. Probably the usernames starting with a number are being sorted first and then the ones starting with alphabets. Correct me if I am wrong.

[2018-03-17 21:52] namanjain1812 commented on #2260
hi,If no one is working on it i will like to work on it

[2018-03-18 10:43] alator21 commented on #2260
I can work on it too.

[2018-03-18 10:48] ViditChitkara commented on #2260
Either one of you could work on this!!! We are happy to help. @mittalS211 , @mimilettd if you want to help on this, it would be great.
Thanks.

[2018-03-18 13:44] Ronaq13 commented on #2469
@jywarren Done. Please check now

[2018-03-18 13:44] alator21 commented on #2260
All i have to do is to apply the above changes to the specific file? @ViditChitkara

[2018-03-18 14:36] ViditChitkara commented on #2260
Yes @alator21. You can add your own changes too, if you feel they would be useful for this. Feel free to ping us if you have any doubts.

[2018-03-18 14:42] alator21 commented on #2260
@ViditChitkara no i'm ok!

[2018-03-18 19:32] Gauravano commented on #2469
hi @jywarren , I have updated the issue as I think our goal is to change wiki template so URL should be "/wiki/new?n=......" . Am I right ?

[2018-03-19 13:17] sctv opened #2509 "Inline wiki edit not saving"
### Please describe the problem (or idea)

Using new inline edit on [this](https://publiclab.org/wiki/chlorophyll-fluorometer?raw=true).
Added text and link, when I hit save. It returned to the page with no changes.

on Chrome Version 65.0.3325.162 (Official Build) (64-bit) ? Windows 10

It did not save.

Work around is to use the old wiki system.

### Please show us where to look

https://publicl

[2018-03-19 13:53] Gauravano commented on #2509
hi @sctv , this issue is already open at #2206 but thanks so much for bringing our attention to this one. We would try to resolve this issue as soon as possible. Sorry for the inconvenience.

[2018-03-19 14:14] bronwen9 opened #2510 "Active questions are disappearing from the site."
There are at least two questions with active threads that have been deleted from the site.

One was from user cfastie: https://publiclab.org/profile/cfastie, who had posted a question about creating website alerts. He also pointed to this:

"This is the missing node (my question from yesterday).
https://publiclab.org/notes/cfastie/03-18-2018/how-do-i-do-website-change-detection-and-notification
Al

[2018-03-19 14:34] jywarren commented on #2510
This is a known issue from this weekend which is not code related, thanks! Two nodes were dropped from the database to our knowledge; please paste in here any missing node urls and we're in the process of a recovery. Thanks! @icarito

[2018-03-19 14:35] jywarren commented on #2510
https://publiclab.org/notes/MarcioPamplona/03-19-2018/wood-moisture-measurement

Node IDs: 15975

Chris's was: 15972

[2018-03-19 14:37] jywarren commented on #2510
[code]

[2018-03-19 14:37] jywarren commented on #2510
`How do I do website change detection and notification?`

[2018-03-19 14:38] jywarren commented on #2510
`Quantitative analysis of wood moisture`

[code]

[2018-03-19 14:47] icarito opened #2511 "Recover lost `node` edits from Sun 18th."
### Please describe the problem (or idea)

On Sunday 18th I accidentally dropped `node` table. I recovered from backup taken one day before, and identified the following POST requests that could've lost data:

(also tracked internally here: https://github.com/jywarren/web/issues/136)
[code]

@jywarren you mentioned it would be possible to recover from emails. This issue is about tracking the progr

[2018-03-19 14:53] jywarren commented on #2511
sorry didn't see this issue -- i dropped the key info i recovered from email notifications into #2510 -- since it's only node records and none of the anciallary stuff (images, tags, answers, comments) we should be able to just remake these node records in the console. i'm going to try.

[2018-03-19 14:56] jywarren commented on #2510
Oh, sorry, MarcioPamplona's nid was actually `15971`

[2018-03-19 14:57] icarito commented on #2511
Okay I just saw #2510. From the reported nodes, I was off in my flitering because I immediately discounted GET requests as I assumed database changes would be done in a POST request.

I've looked at the logs looking for node 15975. Then I detected GET requests to "/publish/" which seems to be the route that edits the questions.

The requests of this kind are:

[code]

[2018-03-19 14:58] jywarren commented on #2510
made more complex bc i believe this spam post was then made, claiming the `15971` `nid` - that's why that one has all the views and comments and such. I'm going to delete that node entry since it's spam and replace it with the lost node.

[2018-03-19 14:59] icarito commented on #2511
Meaning following nids could've been affected:

15971
15972
15973
15974
15975

[2018-03-19 15:01] jywarren commented on #2511
I believe all were spam except the two tracking in #2510 -- thanks!

[2018-03-19 15:02] jywarren commented on #2510
OK, that was complex, but I think i've fully deleted the spam post, and MarcioPamplona's post is now available at the original URL with all the original ancillary content -- tags, comments, answers, URL. Please help me out if I missed anything. I'm doing same for Chris's in a second.

[2018-03-19 15:03] icarito commented on #2510
Thank you Jeff!

[2018-03-19 17:05] jywarren commented on #2510
NP! For reference, I retrieved the titles and body text (although not Markdown, so that'd be tougher with a complex markdown post) from the email notifications I got (I get every one, as do a number of people: https://publiclab.org/tag/everything

Conveniently the titles and body text are actually saved in the Revision table, so I instead then went in and used the old NIDs to search for `Revisions

[2018-03-19 17:08] jywarren commented on #2510
I'm moving new comments on the same topic from MarcioPamplona's post back to the original post to keep that discussion consolidated.

[2018-03-19 17:10] jywarren commented on #2511
Closing, as I believe these are now fully recovered -- thank you!

[2018-03-19 17:14] #2511 closed

[2018-03-19 17:16] jywarren commented on #2510
OK, and tweaked the dates to be correct too! URLs updated.

[2018-03-19 17:16] #2510 closed

[2018-03-19 19:10] jywarren commented on #1119
Hi, i'll try to take a look tomorrow, thanks! Just returned from a long flight (dubai!). I'm going to add a few items to the top of this issue, though, including:

* ability to change timeframe of `/subscriptions/digest` to `weekly` or `monthly` like [Github Pulse](https://github.com/publiclab/plots2/pulse/weekly) has
* should we try to merge some of the back-end methods (Tag or Node models) with

[2018-03-19 21:54] Gauravano opened #2513 "Translation mistake"
hi @publiclab/community-reps , a user from our PublicLab gitter channel has reported that Welcome line at "/research" - "Willkommen!!Dies könnte Ihr Armaturenbrett wenn Sie das Public Lab verbunden" doesn't form a correct sentence. As I don't know Deutsch so I can't verify, so your input is required. Also, please provide the correct translation of sentence so that FTO can be opened.Thanks.

[2018-03-19 22:52] jywarren commented on #2513
Via zybell in chat:

[2018-03-19 22:53] jywarren commented on #2513
I think the German translation across the site is potentially auto-translated and should perhaps be replaced or removed for now. Thanks!

[2018-03-20 01:52] SidharthBansal opened #2514 "Problem with editing notes"
### Please describe the problem (or idea)
I have my note on https://publiclab.org/notes/bansal_sidharth2996/02-20-2018/gsoc-proposal-oauth-authentication?_=1521510498 but when I try to edit it, it is showing till here
![image](https://user-images.githubusercontent.com/20972099/37631372-681997b2-2c0f-11e8-8803-98a302dfc6ca.png)
but see in my proposal
![image](https://user-images.githubusercontent.c

[2018-03-20 05:10] poppashingles commented on #2429
Hi @Gauravano, I was just wondering if there would be any new first-timers issues set up soon? I'd really like to have a go at one. Thanks for this site though, it's awesome. Definitely the best resource I've seen for newcomers like myself to open source contributions

[2018-03-20 05:40] Gauravano commented on #2429
Will open a new one in some hours, thanks.

Gaurav Sachdeva

On 20-Mar-2018 10:40 AM, "Rob Williams" <notifications@github.com> wrote:

[2018-03-20 14:03] #2401 closed

[2018-03-20 14:55] Gauravano commented on #2513
So, I guess translation at "/research should be removed" , what do you think @jywarren ?

[2018-03-20 15:00] Gauravano commented on #2513
What are your views on this @jywarren ?

[2018-03-20 18:57] amitsin6h commented on #2399
@jywarren this was th first PR which I made to plots2 as a fto , could you please review it #2515

[2018-03-20 19:54] #2420 closed

[2018-03-20 20:07] nagano564 commented on #2369
Is someone still working on this?

[2018-03-20 20:39] Gauravano commented on #2369
hi @nagano564 , there is PR open at #2375 for this issue, but you can take this one if @James-N-M isn't working on it anymore

[2018-03-20 20:42] Gauravano commented on #2369
hi @James-N-M , you wanna give this issue a try again?

[2018-03-20 21:38] Gauravano commented on #2429
hi @poppashingles , I am just waiting for @jywarren 's input on some issues and then open them as FTO ,till then please try the link. Thanks.

[2018-03-20 21:40] Gauravano commented on #2418
hi @jywarren , your input on this issue is required. Thanks.

[2018-03-20 22:11] poppashingles commented on #2429
Hi @Gauravano, that's great thank you. I'll have another look through the candidates section and see if I can get anywhere there

[2018-03-20 22:42] jywarren commented on #2514
Ah, so is the `<code>` or `<pre>` block breaking the bottom of the rich editor? perhaps we can narrow down the description of this issue to match -- and for the short term, you can use an embedded Gist.github.com to show code, maybe? Thanks!!!

[2018-03-20 22:58] jywarren commented on #2421
Work now ongoing in #2518 -- this will result in:

* https://publiclab.org/search/pumpkins?order=natural for natural language match ordering
* https://publiclab.org/search/pumpkins?order=likes for ordering by likes
* https://publiclab.org/search/pumpkins?order=views for ordering by views

Soon!

[2018-03-21 01:54] nagano564 commented on #2369
K.. lemme see if I can help.. Thanks @Gauravano. if @James-N-M wants to keep working it that's cool also. I will take a stab in the next day or two and if he wants to keep working on it back off. Thanks

[2018-03-21 03:10] James-N-M commented on #2369
@nagano564 @Gauravano  All yours m'dude ! Final projects and other school things right now thanks boys ! 💯

[2018-03-21 05:59] Gauravano commented on #2369
Thanks @James-N-M !!! We would love to have your help during summer if you are  free. @nagano564 you can start working on this one.Thanks !!!

[2018-03-21 06:05] Gauravano commented on #2429
Awesome !!!

[2018-03-21 15:31] steviepubliclab opened #2520 "Change the text on top of profile search pages"
I'm interested in adding to that text that appears on top of the profile pages that shows up when you click: "Questions Asked," "Activities Posted," and "Activities Attempted"

(example profile page: https://publiclab.org/profile/stevie)

It currently says:
<img width="1068" alt="screen shot 2018-03-21 at 9 47 59 am" src="https://user-images.githubusercontent.com/7490478/37718001-ba10f44e-2cef-11e

[2018-03-21 15:50] ebarry commented on #2520
love this!

I notice that this part "_Please enter a tag without wildcards to display lead wiki pages_" is pretty deep in the weeds -- is there another way we could explain this and help people find their way to what they are looking for?

[2018-03-21 16:56] jywarren opened #2521 "How do we address the issue of people posting the same or very similar questions? (autoposted via PublicLab.org)"
(This issue was auto-generated from http://ift.tt/2B8W2Ma -- please help to flesh it out and explore the issue, and respond to the original author!) by http://ift.tt/2BcbKGm<br>
<br>
Read more and ask the original author for details at: http://ift.tt/2ptJ5JH<br>
<br>
****<br>
<br>
<img src="https://publiclab.org/system/images/photos/000/023/444/original/Screenshot_20180204-101546_2.png" alt="Publi

[2018-03-21 20:36] #2122 closed

[2018-03-21 20:36] jywarren commented on #2122
Thanks @weatherpattern this is solved now by @rachaelkiteme -- thanks to everyone for getting this done!!!

[2018-03-21 20:37] #2260 closed

[2018-03-21 21:21] Gauravano commented on #213
hi @jywarren @ebarry , I have included this issue as a part of my proposal https://publiclab.org/notes/gauravano/02-18-2018/gsoc-proposal-email-integration-project

![notification_screenshot](https://user-images.githubusercontent.com/20878070/37738062-ca4947c6-2d7b-11e8-9ebc-9afe7d7c632a.png)

![notification_settings](https://user-images.githubusercontent.com/20878070/37738082-dc2aeea4-2d7b-11e8-9

[2018-03-21 21:53] jywarren commented on #2093
Fixed for wiki headings here: #2512 by @patcon -- thanks! 👍 👍 🎉

please test this out!

Related work by @namangupta01 here for Answers: https://github.com/publiclab/plots2/pull/2146

[2018-03-21 21:53] #2093 closed

[2018-03-21 23:00] jywarren commented on #213
Oh cool! I wonder about mobile display, but if it's an issue we can
probably put it in a regular page instead of a modal - either way is
awesome!

On Wed, Mar 21, 2018, 5:22 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-03-21 23:04] Gauravano commented on #213
Sure @jywarren , we can put it in the page, right now there are only a few setting options so I thought modal would look nice.

[2018-03-21 23:30] jywarren commented on #213
i do think it looks nice! Just thinking ahead in case it doesn't render
well on mobile. :-)

On Wed, Mar 21, 2018 at 7:04 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-03-21 23:31] Gauravano commented on #213
Hey @jywarren , can you review my proposal https://publiclab.org/notes/gauravano/02-18-2018/gsoc-proposal-email-integration-project now if it's possible. Thanks.

[2018-03-21 23:34] #2426 closed

[2018-03-21 23:37] #1996 closed

[2018-03-21 23:40] jywarren commented on #2418
Shall we make it link to http://publiclab.org/authoring perhaps?

On Tue, Mar 20, 2018 at 5:40 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-03-21 23:44] Gauravano commented on #2418
there is no wiki at  http://publiclab.org/authoring  @jywarren

[2018-03-21 23:51] jywarren commented on #2418
Oh haha yes I meant we can write one! Sorry :-P

On Mar 21, 2018 7:44 PM, "Gaurav Sachdeva" <notifications@github.com> wrote:

there is no wiki at http://publiclab.org/authoring @jywarren
<https://github.com/jywarren>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/plots2/issues/2418#issuecomment-375131776>,
or mut

[2018-03-21 23:53] jywarren commented on #2418
Oh, we can link to https://publiclab.org/wiki/authoring-help#Titles and add
a section!

On Wed, Mar 21, 2018, 7:51 PM Jeffrey Warren <jywarren@gmail.com> wrote:

[2018-03-21 23:55] Gauravano commented on #2418
Sounds great !!!

[2018-03-22 03:43] SidharthBansal opened #2524 "Issue with rake test"
### Please describe the problem (or idea)
When I ran rake test, the output was
[code]
it clearly says that all test cases passed. But I am also getting some weird HTML/CSS written with the test. But not getting the files where these patches needs to be made.

[2018-03-22 15:35] jywarren opened #2525 "Search function operating strangely? (autoposted via PublicLab.org)"
(This issue was auto-generated from http://ift.tt/2B8W2Ma -- please help to flesh it out and explore the issue, and respond to the original author!) by http://ift.tt/2AyHuXr<br>
<br>
Read more and ask the original author for details at: http://ift.tt/2pwhcQq<br>
<br>
****<br>
<br>
<img src="https://publiclab.org/system/images/photos/000/023/444/original/Screenshot_20180204-101546_2.png" alt="Publi

[2018-03-22 16:09] jywarren commented on #2525
This is related to #2420 -- the rich text search searches only title and body, not tags. I'm going to try to add tag-based results, but there's a question we need to address first - how should tag-based results be sorted in along with rich-text results, when we rely on natural language sorting?

[2018-03-22 16:13] jywarren commented on #2525
working on this in https://github.com/publiclab/plots2/pull/2518

[2018-03-22 16:16] #2083 closed

[2018-03-22 16:52] SidharthBansal opened #2527 "Followers count on tag page inconsistent with followers list"
### Please describe the problem (or idea)
The count on the followers on /tag/balloon etc is not consistent with the followers list
![image](https://user-images.githubusercontent.com/20972099/37785175-7b8740da-2e1f-11e8-89f5-8151f9a7f460.png)

See that the number of followers is 1 but followers list shows none

[2018-03-22 17:14] nagano564 commented on #2369
@Gauravano when trying to run `rake db:setup`
I am getting this error message

[code]

[2018-03-22 17:30] SidharthBansal commented on #2172
Working fine nowadays. Hoping this error will not occur again

[2018-03-22 17:30] #2172 closed

[2018-03-22 17:39] seafr commented on #2369
User unit tests are passing for me. Try to change the following:
- `[[:alnum:]-.]` to `[-[:alnum:].]`

Awaiting your feedback.

[2018-03-22 17:45] Gauravano commented on #213
hi @jywarren @ebarry , I have rendered the design on a separate page and also tested on mobile. Here's preview:-

![ui_setting_screen2](https://user-images.githubusercontent.com/20878070/37788074-8a3e8d98-2e26-11e8-84b1-48d03c1ebe7c.png)

![ui_settings2](https://user-images.githubusercontent.com/20878070/37788075-8a74a4fa-2e26-11e8-97a4-3644ca2f9cf4.gif)

**Mobile view:-**

![screenshot_20180322-2

[2018-03-22 18:56] nagano564 commented on #2369
fixed. Thanks

[2018-03-22 20:25] seafr commented on #2369
It's quite simple @nagano564 . Just make a new branch and make the changes on it, then open a PR. You won't have to touch `master`. Go ahead and give it a try, there's a lot of people here who would be very happy to help out.
Note: When doing `git add`, make sure you add only the modified file.
Note 2: Do **NOT** merge to `master` on your fork.

[2018-03-22 20:28] nagano564 commented on #2369
But the master right now is dirty because we changed the regex. Should I
add and commit but not push?

On Thu, Mar 22, 2018, 4:25 PM Sea <notifications@github.com> wrote:

[2018-03-22 20:33] Gauravano commented on #2369
Actually, you can't commit to master otherwise all the branches you extend from there will have that commit along. Can you try running `rails s` with old regex only and tell us the output? Thanks.

[2018-03-22 20:36] seafr commented on #2369
Ah, I see. You can "clean" master and revert it back to what it was before by using `git checkout -- <filename>`. Then from there, you create a new branch and follow the instructions I wrote above. Finally, make the commit on the new branch itself and push it to your fork.
Note: In this case, the change is small enough to wipe it out and start from scratch.

[2018-03-22 20:38] nagano564 commented on #2369
Gotcha that makes sense. Thanks

On Thu, Mar 22, 2018, 4:36 PM Sea <notifications@github.com> wrote:

[2018-03-22 20:40] seafr commented on #2369
You are welcome @nagano564

[2018-03-22 21:51] jywarren opened #2529 "Upload main image button to rich editor at /post doesn't start uploading"
On https://publiclab.org/post (requires login), dragging an image in works fine, but (in Chrome/ChromeOS, Firefox Android both) clicking the "upload" button for the main image and selecting an image creates this JS error:

[code]

Dragging the image in works fine, as does upload in the legacy editor.

The error seems to be related to line 1076 of `jquery.fileupload.js`:

[code]
There's some issue

[2018-03-22 22:23] jywarren opened #2530 "Long-term exploratory idea: on-site prompts to provide translations"
This is a sketched out idea for a big feature set that would enable crowdsourced translations on plots2; please don't begin implementation until we think it through and consider the pros/cons/feasibility. Thanks!

Internationalization/localization right now are handled through the [i18n gem](https://github.com/svenfuchs/i18n), and stored in this directory:

https://github.com/publiclab/plots2/blob

[2018-03-23 06:25] mohitjawanjal commented on #2475
not sure if I can claim this, seems done but its still open.

[2018-03-23 18:21] jywarren commented on #2527
hmm, do you think it's possible it's a banned user? Good catch!

On Thu, Mar 22, 2018 at 12:52 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-03-23 18:25] #2399 closed

[2018-03-23 18:28] jywarren commented on #2388
Just noting I think we could add some unit tests possibly after ` Add OmniAuth Capability to User Model` -- what do you think?

Love this!

[2018-03-23 18:32] jywarren commented on #2513
Take a look at this big proposal: #2530 -- we have a lot of issues with translation so perhaps we should merge this into that?

[2018-03-23 18:33] jywarren commented on #2524
I think I caused this with a small PR I made -- but I believe I've resolved it. Apologies! Closing now, but pls re-open if it persists?

Thanks!!!

[2018-03-23 18:33] #2524 closed

[2018-03-23 18:33] jywarren commented on #2498
:-) that'd be great!!

[2018-03-23 18:37] jywarren commented on #2520
Agreed on both! We actually show something similar on https://publiclab.org/contributors/pm

https://github.com/publiclab/plots2/blob/f3e94060aa60c92f80821b8216b83d93d07b7e3c/app/views/tag/_contributors.html.erb#L9-L13

Or we could adapt the code from the profile page, which is a little complex but not bad:

https://github.com/publiclab/plots2/blob/f3e94060aa60c92f80821b8216b83d93d07b7e3c/app/view

[2018-03-23 18:43] Gauravano commented on #2513
hi @jywarren , just gone through #2530 , ideas mentioned there are really great, this issue can surely be merged with #2530 . Thanks.

[2018-03-23 18:43] #2471 closed

[2018-03-23 20:38] jywarren opened #2535 "Make listing of nodes with multiple tags"
We're interested in displaying, for example, all wiki pages that are tagged with both `method`:

https://publiclab.org/wiki/tag/method

And another tag, like `balloon-mapping`:

https://publiclab.org/wiki/tag/balloon-mapping

Maybe the syntax could be:

https://publiclab.org/wiki/tag/method+balloon-mapping

I think this could be a relatively easy change to this query:

https://github.com/publiclab

[2018-03-23 23:01] SidharthBansal commented on #2388
@jywarren one important thing I like to discuss which is written in my proposal. If we have a direct sign up page we will run into many errors. I have updated my proposal a lot. Please reveiw it. There are many reasons why a simple sign up directly through the provider can lead to unfavourable situations. I have listed all of them at https://www.publiclab.org/notes/bansal_sidharth2996/02-20-2018/g

[2018-03-23 23:27] SidharthBansal commented on #2388
If a user is able to directly sign up through a provider and then he deletes his provider account then he will not be able to access his public lab account. Also, twitter is not providing us the email addresses, so we can't directly write all stuff into the user model. Other reason is if two providers give you same uid then there would be a conflict hard to resolve. There are many other issues whi

[2018-03-23 23:37] SidharthBansal commented on #2388
Also, I will like to mention that there is not a fixed solution to multi party login system . we can have multi party login (that does not have any problem ) but multi party sign up have many issues. Just we can discuss and adopt the strategy which is best over the rest.

I have gone through many websites which already have sign up through multiple providers. Yes, they do suffer from the anomalies

[2018-03-23 23:41] SidharthBansal commented on #2388
Also, I will like to tell that the integration part needs to be implemented simultaneously through out the project. We could not have integration at the last stage for multi party authentication

[2018-03-23 23:53] SidharthBansal commented on #2388
The user will have to first sign up through our legacy sign up form(which I have called as registration form at many places) (available at pl.org/signup) and then link the different providers(aka identities) to his user account(aka user model).

[2018-03-24 09:06] ritika98 commented on #2493
Hi @jywarren , if this issue is not yet solved , i would like to contribute here . Thanks !

[2018-03-24 11:52] Gauravano commented on #2493
hey @ritika98 , we would love to have your help, but I guess @chitra591 has already claimed this one. You can find more First-timer or FTO candidate issues here https://publiclab.github.io/community-toolbox/#r=all , if you can't find one please let me know I will search one for you. Thanks.

Also, @chitra591 if you need any help please ping. Thanks.

[2018-03-24 19:28] sagarpreet-chadha opened #2537 "Layer icon missing on profile map ."
### Please describe the problem (or idea)

<img width="312" alt="screen shot 2018-03-25 at 12 54 19 am" src="https://user-images.githubusercontent.com/14952645/37868077-13ed760c-2fc7-11e8-922c-83fce7221480.png">

The top- right corner has missing icon .
Should be like this :

<img width="318" alt="screen shot 2018-03-25 at 12 55 12 am" src="https://user-images.githubusercontent.com/14952645/378680

[2018-03-25 05:10] SidharthBansal opened #2538 "Error in development environment"
### Please describe the problem (or idea)
Sometimes I get the following error in development while other times I dont
![image](https://user-images.githubusercontent.com/20972099/37871938-e4f0fe76-3018-11e8-9743-1750fdfb4348.png)

[2018-03-25 13:33] #2527 closed

[2018-03-25 13:37] jywarren commented on #2525
Resolved!

[2018-03-25 13:37] #2525 closed

[2018-03-25 13:45] jywarren commented on #2421
Hi, this needs some review and reorganization now that the above searches work -- @bronwen9 and @ebarry -- thanks for your help so far! Some additional steps might be:

* [ ] create a button or set of links to change the sorting on pages like https://publiclab.org/search/oil-spill
* [ ] choose one of these as the default sorting for the typeahead auto-complete suggestions

Also just cleaning up th

[2018-03-25 15:50] #2513 closed

[2018-03-25 18:14] jywarren commented on #2083
Hi @SidharthBansal -- this looks good, but I think we need a follow-up to add this to the `new` method, now. Would you mind opening a similar one? This was my fault, I should've noted we need both `create` and `new`.

https://github.com/publiclab/plots2/blob/f524608ac1c65adc6ac91c2c72d76152d870b6a4/app/controllers/wiki_controller.rb#L152

I also think the above line may not work because it'll load

[2018-03-25 18:29] SidharthBansal commented on #2083
I will create a new issue for create in a while.
Do you mean that I need to remove the line flash in create? Yeah, create does a HTTP post request so flash would not work. We need that in a new action.

[2018-03-25 18:33] jywarren commented on #2083
I wonder if as long as we show the `create` action in the same view (legacy vs. rich) as the POST was made in, we don't need the flash?

Like we could move the flash to the `new` method (although it'd be ideal to still use JS to save the title and body and tags) but when submitting the `create` POST, we just rely on whether there was a `legacy` parameter set to know what to show?

[2018-03-25 18:34] jywarren commented on #2083
Thanks -- even if we just move this into another issue, and break it into a checklist, that's a good first step. I can unless you're interested?

[2018-03-25 18:35] SidharthBansal commented on #2083
Yeah I am interested.

[2018-03-25 18:42] jywarren commented on #2083
Awesome, thanks!! 😄

[2018-03-25 18:43] jywarren opened #2540 "Add :smiley: style emoji to node and comment display"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a

[2018-03-25 18:47] jywarren commented on #2538
It looks like it's an example of `node.parent` being `nil` -- on this line!

https://github.com/publiclab/plots2/blob/f524608ac1c65adc6ac91c2c72d76152d870b6a4/app/views/dashboard/_node_comment.html.erb#L7

[2018-03-25 19:01] SidharthBansal commented on #2538
Yeah it is getting nil. Was trying to find out why it is nil.

[2018-03-25 19:25] SidharthBansal opened #2542 "Rich_wiki new action"
### Please describe the problem (or idea)
We are migrating from the legacy editor to the rich wiki editor at public labs. We need a new action to be changed.
This lines
https://github.com/publiclab/plots2/blob/f524608ac1c65adc6ac91c2c72d76152d870b6a4/app/controllers/wiki_controller.rb#L131
needs to be adjusted to
https://github.com/publiclab/plots2/blob/ceb7d05404b4619c7fa8cd8cae5e8215798cb02c/app

[2018-03-25 19:26] SidharthBansal commented on #2542
@jywarren can I also submit a patch for it. Is there any other changes which you want to tell??

[2018-03-26 03:51] meghana-07 commented on #2540
Hi @jywarren , shall I claim this issue ?

[2018-03-26 04:04] MayankKashyap commented on #2540
@meghana-07 yeah sure..

[2018-03-26 14:26] jywarren commented on #2537
I'm interested in maybe doing this in an inline `<script>` tag so that it's easier to break out into its own library. OR -- if we plan to use Leaflet all over the site, which i guess we do already, finding a good place in a top-level stylesheet for this. Maybe `/app/assets/stylesheets/leaflet.css` and then including it into `application.css` ?

[2018-03-26 15:28] sagarpreet-chadha commented on #2537
Okay 😄 , will submit the PR in a day or two .
Thanks !

[2018-03-26 21:38] jywarren commented on #157
![screen shot 2018-03-26 at 5 38 04 pm](https://user-images.githubusercontent.com/24359/37934534-7c028dbc-311c-11e8-8f15-717f4632cdc3.png)

[2018-03-26 21:45] ebarry opened #2544 "Create links on /search/_____ for search sorting options"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-03-26 22:12] first-timers[bot] opened #2546 "Add redirect tag feature by page name"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-03-26 22:13] jywarren commented on #2546
This ought to work -- i'm happy to help out!!!

[2018-03-26 22:24] ebarry commented on #2544
@publiclab/reviewers Would anyone like to create a First Timers Only issue out of this? Hope you are having a wonderful day!

[2018-03-27 11:53] r0vina commented on #2546
I'd like to claim this one.

[2018-03-27 12:04] sagarpreet-chadha commented on #2546
Great ! You can work on this :-)

[2018-03-27 14:30] jywarren opened #2549 "Remove German auto-translations until we can do true translation"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a

[2018-03-27 17:57] first-timers[bot] opened #2550 "Switch Mathjax CDN"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-03-27 17:59] jywarren commented on #2550
Just a note -- I HOPE the new CDN accepts the configuration we're giving it. There is documentation here but I'm not sure it answers this question -- it's pretty dense! https://github.com/mathjax/MathJax-docs/blob/master/configuration.rst

[2018-03-27 19:47] ritika98 commented on #2550
Hi @jywarren , if this issue is not yet solved , i would like to contribute here . Thanks !

[2018-03-27 19:52] sagarpreet-chadha commented on #2550
That would be great @ritika98 😄 .
In case you need any help feel free to ask here .Thanks !

[2018-03-27 19:54] ritika98 commented on #2550
@sagarpreet-chadha ,Sure.Thanks!

[2018-03-28 01:56] bld456 commented on #2549
Hello @jywarren
I'd like to claim this issue. This will be my first contribution to your project and I'm looking forwards to it.

[2018-03-28 13:03] r0vina opened #2552 ""Address already in use - listen(2) (Errno::EADDRINUSE)" when running 'passenger start' on WSL Debian."
Likely to do with Passenger not supporting WSL,
https://github.com/phusion/passenger/issues/2036

There's a patch here https://github.com/phusion/passenger/pull/2037/files but that's for version 5.2 which doesn't work with publiclab(I tried). I am not experienced enough with ruby and my own patched version of 5.1.12 failed to run after I built it.

A possible solution for me could be being able to

[2018-03-28 16:45] jywarren commented on #2552
Hi, is it possible you already have an instance of Passenger running on
port 3000 (the default)? Could you try `passenger start -p 3001` and going
to https://localhost:3001 ?

Thanks!

On Wed, Mar 28, 2018 at 9:03 AM, r0vina <notifications@github.com> wrote:

[2018-03-28 16:46] jywarren commented on #2549
thank you!!!

On Tue, Mar 27, 2018 at 9:56 PM, Jack Lange <notifications@github.com>
wrote:

[2018-03-28 16:59] raunaks13 commented on #1808
@jywarren - This is my first time contributing. Since this issue has been inactive for a while can I try to submit a PR?

[2018-03-28 17:09] jywarren commented on #1808
yes please! We'd appreciate that!

On Wed, Mar 28, 2018 at 12:59 PM, Raunak Shah <notifications@github.com>
wrote:

[2018-03-28 19:43] first-timers[bot] opened #2554 "User must be logged in to access edit routes"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-03-29 00:59] stefannibrasil commented on #2018
Hi, everyone! Can I help with this too? How is it going so far? I was thinking about start writing the token documentation to familiarize more with the API.

[2018-03-29 02:53] ryzokuken commented on #2018
@stefannibrasil I think this is abandoned for now, so you may feel free to go ahead and work on this. Let us know if you face any issues.

[2018-03-29 09:00] pnowacki90 commented on #2544
Hi, can I claim this issue? It's my first time contributing, but I think I know how to do it.

[2018-03-29 09:07] SidharthBansal commented on #2544
@pnowacki90 Yeah sure go for it.

[2018-03-29 09:09] siaw23 commented on #2544
Hi @pnowacki90 you can have this issue. Please let me know if you'll need some help :)

[2018-03-29 10:26] pnowacki90 commented on #2544
@siaw23 Ok, I have a problem. I can't verify if everything is fine, the search doesn't work. If I try to search for anything on my local machine I get an error:

`ArgumentError (wrong number of arguments (given 0, expected 1)):
  app/models/node.rb:46:in `search'
  app/services/typeahead_service.rb:51:in `nodes'
  app/controllers/searches_controller.rb:19:in `results'`

Also when I run rake test I

[2018-03-29 10:31] siaw23 commented on #2544
OK! Let me pull the latest build and see if I can reproduce locally. I will get back to you later today @pnowacki90

[2018-03-29 11:48] rob4abcba commented on #2554
Since I've never contributed to any open source ever before, thus am a complete newbie, I'd like to take on this task.  When I clicked the hyperlink to the file app/controllers/users_controller.rb the resulting page said "404, this is not the webpage you are looking for".  How do I get to the plots2 repository?

[2018-03-29 12:20] sagarpreet-chadha commented on #2554
Hi @rob4abcba ! Thanks for pointing out this , I have updated the **link** .

Yes , it would be great if you could send the PR for this issue 😄  .
Ping @publiclab/reviewers  team if you get stuck anywhere :) .
 Thanks !

[2018-03-29 14:52] r0vina commented on #2552
Tried that, still the same. It runs fine in the terminal, but once I access the webpage
![error](https://user-images.githubusercontent.com/37835181/38095743-716b4432-3371-11e8-8fae-5cc5defd3c94.png)

[2018-03-29 15:13] steviepubliclab opened #2558 "Adding tags automatically picks first suggested"
### Please describe the problem (or idea)
I've been tagging some material on Public Lab and noticed that if I type something and press "enter" it selects the first tag in the suggested box rather than what I type. I have a work around for this by adding a comma after I type the tag I want, but it's a strange work around to have to do for when you're adding one tag or the last one on your list.

[2018-03-29 15:30] rob4abcba commented on #2554
PR = Pull Request?  I have to first learn about this process https://guides.github.com/activities/hello-world/

Did you mean ping @publiclab/reviewers here ... or in the chat room https://publiclab.org/chat?

[2018-03-29 15:35] SidharthBansal commented on #2554
Yeah PR means pull request.
You need to ping just by writing @publiclab/reviewers

[2018-03-29 15:49] sukhbir-singh commented on #2498
Can I try to solve this issue? if no one is still working on this!!

[2018-03-29 17:24] ritika98 commented on #2550
#2559

[2018-03-29 17:30] ritika98 commented on #2550
#2559  I have sent the pull request.

[2018-03-29 17:53] sagarpreet-chadha commented on #2554
Hi @rob4abcba ...i am not able to see your Pull Request .

Ohk you have opened a Pull Request in your forked repository of **plots2**  which is `rob4abcba/plots2` , you need to open a Pull Request in `publiclab/plots2
` . Makes sense ?
Thanks 😄 !

[2018-03-29 19:44] seafr commented on #2554
The only problem with your PR @rob4abcba is that you opened it in the wrong place (as pointed out by @sagarpreet-chadha above). I've looked at the change you made and it is exactly what is expected. So this is nearly complete.

[2018-03-29 20:08] rob4abcba commented on #2554
Are you saying I should go here to make the pull request?  https://github.com/publiclab/plots2/pulls

Should I edit the code in a branch first, before clicking the link above to make the pull request?  I tried the above link before and it said I didn't have any changes to commit.  I guess what it's saying is that I made the correction in my forked repository, not in the official plot2 repository.

[2018-03-29 20:36] steviepubliclab opened #2563 "not all tags showing up on /tags page"
### Please describe the problem (or idea)
I was searching for the tag mapping on www.publiclab.org/tags and nothing came up. However we have a lot of things tagged mapping. You can see them here:

www.publiclab.org/tag/mapping.

Anyone know how to fix this or why it wouldn't be showing?

[2018-03-29 20:51] seafr commented on #2554
Hope this helps. If not, just create another branch (from master), make the change needed, and follow the steps above.

[2018-03-30 02:39] ViditChitkara commented on #2498
Hi, I have started working on this, would soon create a PR for the same. 😅😅

[2018-03-30 14:41] sukhbir-singh commented on #2498
Okay! No problem... Thank you for replying @ViditChitkara

[2018-03-30 15:05] jywarren commented on #2107
Could you both try clearing cookies, and then report back if it ever happens after that? We really need to figure out what actions lead up to this occurring if we want to try to reproduce it! Nobody's hitting the back button, i assume?

[2018-03-30 17:24] #2071 closed

[2018-03-30 19:53] sagarpreet-chadha commented on #2148
Solved in #2214 .

[2018-03-30 20:07] sagarpreet-chadha commented on #1934
We can use this plugin : http://labs.easyblog.it/maps/leaflet-search/ for **searching locations on maps**  (got idea from your comment [here](https://github.com/publiclab/plots2/issues/1934#issuecomment-357479470) ) . What do you think @jywarren  ?

[2018-03-30 20:07] sagarpreet-chadha commented on #1934
@jywarren , @Gauravano ! Can i also solve this issue ?
The code may be used later if we decide to make a library .
What do you think ?

[2018-03-30 20:16] sagarpreet-chadha commented on #2540
Solved in #2566 .

[2018-03-30 20:17] #2540 closed

[2018-03-30 20:18] #2427 closed

[2018-03-30 20:19] sagarpreet-chadha commented on #2214
Solved in  #2269 .

[2018-03-30 20:19] #2214 closed

[2018-03-30 20:23] #2550 closed

[2018-03-30 20:39] jywarren commented on #1934
awesome plugin -- yes perfect!

On Fri, Mar 30, 2018 at 4:07 PM, Sagarpreet Chadha <notifications@github.com

[2018-03-30 20:55] sagarpreet-chadha commented on #2418
@Gauravano ...would you like to make a **first-timer only issue** of this 😄 ?

[2018-03-30 21:25] jywarren commented on #2388
Hi, all - in relation to @SidharthBansal 's [proposal and discussion](https://publiclab.org/notes/bansal_sidharth2996/02-20-2018/gsoc-proposal-oauth-authentication) of "without a password" state, check out these two lines in the login sequence, which redirect to ask someone to create a password!

https://github.com/publiclab/plots2/blob/77e0c16d623c53980eb691bff2eee34103d87854/app/controllers/user

[2018-03-30 21:35] jywarren commented on #2187
Investigating this -- locally i see:

[code]

The POSTed request didn't even complete in the log, and had `Content-Length:44` -- cut off!

As opposed to in `/post` where it works:

[code]

[2018-03-30 21:39] jywarren commented on #2187
Got it, I think!!! #2568

[2018-03-30 21:43] Gauravano commented on #2418
hi @sagarpreet-chadha , I would be happy to make but on https://publiclab.org/wiki/authoring-help Titles section needs to be created first. I would try to write that section soon, your help would be really appreciated. Thanks.

[2018-03-30 21:50] #2187 closed

[2018-03-30 21:51] #2546 closed

[2018-03-30 23:45] #2345 closed

[2018-03-31 02:32] stefannibrasil commented on #2018
Thanks, @ryzokuken I am gonna start working on documenting the token feature this week. I am going to see some examples and I'll let you know anything, of course. Thanks for the help!

@sukhbir-singh do you wanna start working on this too? We can compare our work later.

[2018-03-31 06:28] sukhbir-singh commented on #2018
Yeah! sure :smile:
 @stefannibrasil  you active on gitter??

[2018-03-31 14:12] sukhbir-singh commented on #2494
I would like to work on this !! :smile:

[2018-03-31 15:28] SidharthBansal commented on #2107
After clearing cookies, I am not facing any problems

[2018-03-31 15:39] siaw23 commented on #2544
hi @pnowacki90, can you please make the following temporal change to allow you to continue with this issue: https://gist.github.com/siaw23/08910f4c2ce2780f43c070e349bab1d3

[2018-03-31 15:51] shauncarland commented on #2535
I'm interested in exploring this

[2018-03-31 15:59] shauncarland commented on #2535
I also would be interested in doing some refactoring.  These controllers feel awfully bloated and I think a lot of the logic would be better suit in a separate class or in the Tags model.  If people would be receptive to that...?

[2018-03-31 16:09] jywarren commented on #2535
That would be great! We'd particularly appreciate unit tested model methods
that could reduce controller complexity. Thanks for offering!!

On Sat, Mar 31, 2018, 12:00 PM Shaun Carland <notifications@github.com>
wrote:

[2018-03-31 16:14] jywarren commented on #2494
That'd be awesome! This is a really exciting feature. Thanks!

On Sat, Mar 31, 2018, 10:13 AM Sukhbir Singh <notifications@github.com>
wrote:

[2018-03-31 16:15] shauncarland commented on #2535
w00t!

I have a question though.  For both of those tags (`method` and `baloon-mapping`), it looks like they have unique "headers" (I'm attaching images of what I'm describing below).  But they both also have the graph and the `Notes tagged with X`.  Do we want to just keep that bottom part if we're listing nodes with multiple tags?

[2018-03-31 16:15] shauncarland commented on #2535
<img width="1258" alt="screen shot 2018-03-31 at 12 13 56 pm" src="https://user-images.githubusercontent.com/10911456/38165163-2cf77a92-34dd-11e8-8cb2-c312d2536b5c.png">
<img width="1278" alt="screen shot 2018-03-31 at 12 13 48 pm" src="https://user-images.githubusercontent.com/10911456/38165164-2d06012a-34dd-11e8-9850-191bbaa6ba3a.png">

[2018-03-31 16:15] shauncarland commented on #2535
<img width="1183" alt="screen shot 2018-03-31 at 12 15 27 pm" src="https://user-images.githubusercontent.com/10911456/38165168-3d6ee068-34dd-11e8-90fe-a08bc2bb69da.png">

And just like, keep this part?

[2018-03-31 16:25] jywarren commented on #2445
Gaurav, agreed. Shaun, please go ahead, that would be great! Thanks!!

[2018-03-31 16:26] jywarren commented on #2535
Yes, I think that's the best way forward. We can even skip the graph for
the time being, although it seems possible we could implement that as a
follow-up! Thanks!

On Sat, Mar 31, 2018, 12:16 PM Shaun Carland <notifications@github.com>
wrote:

[2018-03-31 20:25] #2492 closed

[2018-03-31 20:27] jywarren commented on #2439
Hi @rishabhptr how is this coming? Thanks!

[2018-03-31 20:27] jywarren commented on #2392
Hi, I'm going to close this but please reopen if it happens again!!! Thanks!

[2018-03-31 20:27] #2392 closed

[2018-03-31 20:30] jywarren commented on #2377
Could we achieve this through a route like `/search/people/keyword+keyword` ? Using the `TypeaheadService.new.users()` method?

[2018-04-01 06:54] rishabhptr commented on #2439
Hey, I will make a pr with initial implementation for time ranges in a day or two for you to review. Thanks!

[2018-04-01 15:45] mimimalizam commented on #2422
Hello 👋

I've noticed that the following gems are not included in the Gemfile.lock.
[code]

After noticing this issue, I've learned that it should be excluded since it is in the `.gitignore`. I tried to remove the `Gemfile.lock` from git cache (`git rm --cached`), and then noticed that it is in the repository. So, I'm reasoning that running `bundle install` locally will update it, which will then

[2018-04-01 16:48] Gauravano commented on #2563
hi @steviepubliclab , I tried 'mapping' and got the same result, I have also tried some other keyword searches like event, quality and observed that those tags are not shown in which keyword is present after the '-'. For instance, I have searched quality but only one tag came on search 'quality' but I have seen air-quality on tags page too.

I think REGEX needs to be updated for solving this issue

[2018-04-01 19:28] Gauravano commented on #2422
hi @mimimalizam , first of all, welcome to Public Labs !!!

Regarding Gemfile.lock, we have added it in .gitignore https://github.com/publiclab/plots2/blob/master/.gitignore#L19 but at the time of committing it's not ignored. We would see through it ( @jywarren ). We update our Gemfile.lock quarterly https://github.com/publiclab/plots2/pull/1471 so that's why you have seen a message about the new

[2018-04-01 19:29] Gauravano commented on #2422
@jywarren I think we should update our Gemfile.lock each time new additions to Gemfile is done.What do you think?

[2018-04-02 04:06] #2429 closed

[2018-04-02 09:53] Gauravano commented on #2563
I have raised a PR in #2575 , the query needs to be updated, there is no role of REGEX. It will solve this issue.

![issue_solved](https://user-images.githubusercontent.com/20878070/38192245-a91aa448-3689-11e8-9471-990185b58568.gif)

[2018-04-03 06:25] MargaretAN9 commented on #2298
I am a first timer - Can I take this up ?

[2018-04-03 16:14] sagarpreet-chadha commented on #2248
Opening this for other maps 🎈 🗺 .

[2018-04-03 18:09] sagarpreet-chadha opened #2582 "Adding Search bar to Maps ."
### Please describe the problem (or idea)

Currently the **maps** do not have the ability to search a marker . Lets add a **search-bar button** to maps using this **plugin**  [https://www.npmjs.com/package/leaflet-search](https://www.npmjs.com/package/leaflet-search) .

Steps :
1.) Adding a search-bar button to /peoples map to search person by **name** .
2.) Similarly adding the Search-bar button

[2018-04-03 18:11] sagarpreet-chadha commented on #2582
@jywarren ... working on the **/people** map first to search marker using **name** 🎈 🗺 😄 .

[2018-04-03 18:16] sagarpreet-chadha commented on #2582
Part 4 of #1934 .

[2018-04-03 19:33] #2549 closed

[2018-04-04 14:32] sctv commented on #2509
Sorry for the duplicate.
A search didn't bring it up.
Thanks.

[2018-04-04 17:27] pnowacki90 commented on #2544
hi @siaw23 , could you take a look at my pull request? I may have messed something up. I commited relevant changes to results view and to node model

[2018-04-04 22:30] 500swapnil commented on #2529
I would like to help solve this. How do I proceed?

[2018-04-06 02:26] stefannibrasil commented on #2018
HI @jywarren and @ryzokuken! After reading more the docs provided here, I have some questions to ask:

- The files in `app/api/src/` folder are the docs that Swagger uses to generate the [Interface](https://publiclab.org/api/docs), right?

- In order to generate the documentation for the token authentication, do I need to create a new file in the folder mentioned above, showing how the CommentCont

[2018-04-06 04:07] ryzokuken commented on #2018
@stefannibrasil for saving time and effort, I had avoided making the "commenting over tokens" action a part of the existing Swagger API spec, and had made a standalone function in the Rails codebase (in `CommentController`, you're right) and made a route for that.

I don't think Swagger allows you to document external functions, but I *might* be wrong.
So, I believe you should just add some docume

[2018-04-06 07:26] phuocthanhhonda opened #2586 "Cùng Honda Phước Thành trải nghiệm “siêu phẩm” Honda Civic 2018"
Honda Civic là dòng xe nổi bật của hãng xe Nhật Bản, với doanh số cao kỷ lục tại nhiều thị trường trên khắp thế giới trong năm 2017. Năm 2018, Honda tiếp tục nâng cấp và đưa Civic lên một tầm cao mới, trở thành một đối thủ “cực kỳ đáng sợ” với các dòng xe cùng phân khúc trên thị trường. Honda Phước Thành – Đại lý Honda ô tô lớn nhất tại TP.HCM hiện đã và đang trưng bày “siêu phẩm” này và chờ đợi n

[2018-04-06 19:04] jywarren opened #2588 "Comments and count missing from profile page"
### Please describe the problem (or idea)

@eustatic has certainly commented, but I don't see any on https://publiclab.org/profile/eustatic

I wonder if there's a variable missing from the `profile` method in:

https://github.com/publiclab/plots2/blob/master/app/controllers/users_controller.rb

We ought to test for that too -- a functional test with `assert_not_nil assigns(:comments)` maybe?

[2018-04-06 19:13] Gauravano commented on #2588
okay I guess I know what the problem is, due to this https://github.com/publiclab/plots2/pull/2373 newly generated comments are having status = 1 and while fetching comment_count we are taking considering those comments with status = 0 only. @jywarren please have a look at https://github.com/publiclab/plots2/pull/2373#discussion_r170422216

[2018-04-06 19:49] jywarren commented on #2588
I see! Shall we flip comment_count to ==0 then?

On Fri, Apr 6, 2018 at 2:13 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-04-06 20:03] Gauravano commented on #2588
we can change the status of all comments to 1 so that it matches node status pattern. By #2373 , I could only introduce the default field with comment status, but I guess for changing the status of all comments(old ones) migration need to be run on the production as I have stated here https://github.com/publiclab/plots2/pull/2373#discussion_r170422216.

[2018-04-06 21:06] #2065 closed

[2018-04-06 21:49] stefannibrasil commented on #2018
That makes sense, thanks! After looking more at the docs and how to write API docs, I added some changes to this [PR](https://github.com/stefannibrasil/plots2/pull/1/files). I am not sure if that's the type of documentation you were asking for.

I added my questions in the description, could you please take a look and see if you can help me?

I couldn't find much documentation about the token, you

[2018-04-06 23:45] pdurbin opened #2590 "Where is the home base for chat? IRC, Gitter, Matrix, Slack, etc.?"
UPDATE: Please edit this **spreadsheet of requirements** for a chat service for Public Lab: https://docs.google.com/spreadsheets/d/1V-L55OusMKgZNkbc_yarASQuWa9JoJzxkjqjCxfLOkw/edit?usp=sharing

### Please describe the problem (or idea)

I have an expectation that the chat service for an open source project has a home base on a particular service such as freenode IRC or Gitter or whatever. Often th

[2018-04-07 00:30] ryzokuken commented on #2590
Talking in that sense, I'd say it's matrix. We had all these other chatrooms that we wanted to link together, and matrix made a lot of sense (especially with all these integrations).

Hopefully, we would have deprecated a few others, but students and new contributors join over Gitter *all the time*, Jeff and the others use Matrix (Riot), and IRC is embedded into the site (I use IRC too).

Thanks t

[2018-04-07 02:05] sukhbir-singh commented on #2018
@stefannibrasil you can check out [this](https://youtu.be/scGHqk9csMQ) video for demo showing how to use postman for making request on comment API. :balloon:

[2018-04-07 05:25] #2412 closed

[2018-04-07 12:40] sagarpreet-chadha commented on #2537
@jywarren ...I think this icon is not shown because we have installed **leaflet library** via **bower.json** and **required** in `application.js`  , hence the icon will look for url `/assets/leaflet/dist/images/marker-icon-2x.png`  which does not exists , see this :

<img width="448" alt="screen shot 2018-04-07 at 5 48 27 pm" src="https://user-images.githubusercontent.com/14952645/38454817-f25a978

[2018-04-07 12:57] pdurbin commented on #2590
@ryzokuken thanks. I keep hearing about Matrix, especially from the @opensourcedesign folks, but I still haven't wrapped my head around it. I haven't created a Matrix account yet, for example. I just went to https://riot.im/app/#/room/#publiclab:matrix.org (I was happy to see that https://publiclab.org/chat links to it) and scrolled back to the same conversation to see how it looks. The user exper

[2018-04-07 14:04] pdurbin commented on #2590
Ok, I switched back to OFTC IRC via Weechat and I'm much happier. I can't see emojis but at least the messages don't contain all the [noise][] (where people are connecting from) I was seeing when using the Gitter-to-IRC gateway. I also feel more confident that I know who is in the room (the nick list on the right), which makes me think I have a better chance of successfully `@mentioning` people. H

[2018-04-07 17:27] jywarren opened #2592 "people prompted to log in upon asking a question on /questions"
### Please describe the problem (or idea)

I tried going to http://publiclab.org/questions and typing in a question.

On submitting, I saw  prompt to log in, which I worry does not preserve my question and is a barrier;

Maybe we should ask people to sign up within the question form if they aren't logged in? It's a bit disruptive to just be prompted when you are trying to ask. Just needs some bett

[2018-04-07 17:59] pdurbin commented on #2592
Check out https://ux.stackexchange.com/questions/ask and how you don't have to log in to ask a question if you use the "post as a guest" option. Here's a screenshot:

<img width="1231" alt="screen shot 2018-04-07 at 1 58 37 pm" src="https://user-images.githubusercontent.com/21006/38458384-d1619bf6-3a6b-11e8-8870-cff73d09baf3.png">

Note that not all Stack Exchange sites allow posting as a guest: h