[2018-06-08 23:01] adrianschung commented on #2797
I'll take on this issue

[2018-06-09 00:22] icarito opened #2802 "Wiki missing route for update"
After rails 5 deployment wiki was not able to update.

To reproduce:
https://publiclab.org/w/sandbox-2
edit
try to save

[4a915bc2-682e-4ed5-8b86-a7ed91aa02b0] Started POST "/wiki/update/15029" for 190.42.17.93 at 2018-06-09 00:22:06 +0000
[4a915bc2-682e-4ed5-8b86-a7ed91aa02b0]
[4a915bc2-682e-4ed5-8b86-a7ed91aa02b0] ActionController::RoutingError (No route matches [POST] "/wiki/update/15029"):
[4a

[2018-06-09 00:59] jywarren commented on #2802
This route should work!

https://github.com/publiclab/plots2/blob/master/config/routes.rb#L93

[2018-06-09 01:02] jywarren commented on #2802
Oh sorry second issue.

[2018-06-09 01:04] jywarren opened #2803 "wiki page erroring"
https://publiclab.org/wiki/sandbox shows an error...

This route should work!

https://github.com/publiclab/plots2/blob/master/config/routes.rb#L93

[2018-06-09 01:04] jywarren commented on #2802
Moved second issue to #2803

[2018-06-09 01:05] jywarren commented on #2802
I think this should be post:

https://github.com/publiclab/plots2/blob/master/config/routes.rb#L104

[2018-06-09 01:09] jywarren commented on #2803
This action... https://github.com/publiclab/plots2/blob/master/app/controllers/wiki_controller.rb#L21

[2018-06-09 01:21] jywarren commented on #2802
Ugh, you'd imagine this'd be caught by:

https://github.com/publiclab/plots2/blob/7e63d5f4b22677aa8e35f818734164f0b8f4eaba/test/functional/wiki_controller_test.rb#L137

[2018-06-09 01:33] jywarren commented on #2803
Log!

[code]

[2018-06-09 01:33] jywarren commented on #2803
It's the `fancy` stylesheet!

`26:       <%= stylesheet_link_tag "fancy", :media => "all" %>  `

[2018-06-09 01:35] jywarren commented on #2803
Are stylesheets not included in `application.js` not included? Let's see -- I think it may have to be included into:

https://github.com/publiclab/plots2/blob/master/config/initializers/assets.rb

[2018-06-09 01:37] jywarren commented on #2802
OK, added an integration test for this and solving...

[2018-06-09 01:55] #2802 closed

[2018-06-09 02:10] jywarren commented on #2803
PR coming

[2018-06-09 05:42] icarito commented on #2727
I'm going to review this again as we've got a report from another user.

[2018-06-09 06:56] icarito commented on #2727
I tried a naive approach at #2807 - but it didn't work. I'm guessing the underlying Gem is variously broken accross releases because openid is mostly deprecated elsewhere and we've been upgrading our stack. :-/

[2018-06-09 07:35] pnowacki90 commented on #2544
I'm sorry, I just started a new job and I won't be able to finish this issue in near future. @chanjess if you're still interested, give it a go

[2018-06-09 08:32] sagarpreet-chadha commented on #2764
Hi @ebarry ! Welcome back 😄 🎈 !

Additional results as in more **people-markers** ? Like third part of issue https://github.com/publiclab/plots2/issues/1934 .

Or do we wish to show more information of a person on marker ❓

Thanks !

[2018-06-09 08:38] sagarpreet-chadha commented on #2764
Hi folks !

# Progess till now :

* Many layers are completed , see the  list of layers here : https://github.com/publiclab/leaflet-environmental-layers/issues/1
* Layers Demo : https://publiclab.github.io/leaflet-environmental-layers/example/mapSimple.html

# Currently working on :

* Planning issue : https://github.com/publiclab/leaflet-environmental-layers/issues/1
*  https://github.com/publicl

[2018-06-09 12:56] #2803 closed

[2018-06-09 16:48] SidharthBansal commented on #2388
Moved to #2676 as code is highly interdependent and interlinked for different providers.

[2018-06-09 16:50] SidharthBansal commented on #2676
I am trying hard to make large number of reusable functions so that we do not have to use the same function for all the 4 providers.

[2018-06-09 17:02] SidharthBansal commented on #2676
Facebook oauth settings pasted in #2771

[2018-06-10 02:37] jywarren commented on #2727
Can you paste in the log so I can try debugging?

[2018-06-10 02:39] jywarren commented on #2727
[code]

[2018-06-10 02:51] icarito opened #2811 "Upgrade Docker container to Stretch"
Jessie (Debian 8) is going into Long Term Support outside of the Debian release support cycle.

I am upgrading underlying servers.

Containers need to be upgraded as well.
This will imply editing our `./Dockerfile` and switching the `ruby-2.4-jessie` container for `ruby-2.4-stretch` base image - and review apt package requirements.

[2018-06-10 03:02] icarito opened #2812 "Harden containers"
A couple of improvements:

* [ ] Enable `apt-get update && apt-get upgrade` for production containers.
* [ ] Look into using an unprivileged user for running the application.

While it's common practice to run apps as root in containers, I think it's still a good idea to limit permissions available to it, even in a container.

[2018-06-10 03:11] icarito commented on #2727
Thanks!

[2018-06-10 11:02] SidharthBansal commented on #2676
Github settings as given on https://www.natashatherobot.com/rails-omniauth-github-tutorial/ are functional
![image](https://user-images.githubusercontent.com/20972099/41200890-901a4e40-6cca-11e8-88d0-556c56c2a059.png)

[2018-06-10 14:58] jywarren opened #2813 "Better testing for SpectralWorkbench/MapKnitter single-sign-on (OpenID)"
Read about our OpenID-based signon system here:

https://github.com/publiclab/plots2/blob/master/doc/OPENID.md

We should brainstorm ways to test these out with automated testing.

Maybe we can capture from logs representative openid requests and use them to build tests?

[2018-06-10 15:08] pdurbin commented on #2793
If I go back in time I can see what you mean at https://github.com/publiclab/plots2/blob/a526639c572e406e0f2d5c158f5e21b530e1631c/README.md#installation but thankfully this has been fixed. No more bloat. We could open an issue at https://github.com/LappleApple/feedmereadmes to get some feedback on the README in its current form. I got some good feedback on a project I work on at https://github.com

[2018-06-10 15:32] ryzokuken commented on #2764
Closing this, making a new issue for this week.

[2018-06-10 15:32] #2764 closed

[2018-06-10 15:39] Souravirus commented on #2727
Here is what I face when I try to login through spectral workbench or mapknitter. When I first try to login I get into a no logged in state and when

[2018-06-10 15:47] ryzokuken opened #2814 "Community Check-in #4 Summer Of Code Week 5"
Hi everybody 👷👷‍♀️  !
If you're new here, welcome, and please checkout our [welcome page](https://publiclab.github.io/community-toolbox/#r=all)!! 👍 🎉 😄

@stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @namangupta01 @ViditChitkara @tech4GT @mridulnagpal @SidharthBansal @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @ccpandhare @icarito @abTest-123 @steviepubliclab @ebarry @pub

[2018-06-10 16:14] MayankKashyap commented on #2814
Hi @ryzokuken it's good to see you back., And best of luck to every folk for their 5th week...and yes ujwal you are right @jwarren is really very hardworking..

[2018-06-10 17:22] #2787 closed

[2018-06-10 17:56] SidharthBansal commented on #2814
Hi @publiclab/soc, @publiclab/reviewers
I am great here. Almost done with basic sign up and log in with google in https://github.com/publiclab/plots2/pull/2771. Can someone please review it?

I have also set up facebook and github app settings and they are working on test app. I will be writing tests for google this week.
Once #2771 is merged. I will write the views and test for facebook and githu

[2018-06-10 18:02] jywarren commented on #2813
Added two tests in https://github.com/publiclab/plots2/pull/2815 -- I let them fail first, then combined with the fix. Looks good!

[2018-06-10 18:02] SidharthBansal commented on #2814
@ryzokuken great to see you back. I hope you had a great trip :smiley:

[2018-06-10 19:20] siaw23 commented on #2793
i wouldn't request for a change with bots if others don't agree or have thoughts. so let's close this for now :)

[2018-06-10 19:20] #2793 closed

[2018-06-10 19:21] #2727 closed

[2018-06-10 19:21] #2813 closed

[2018-06-10 19:33] jywarren opened #2817 "404 error for embeddable features"
We have some content on other sites that are run through the Features system -- using urls like this one:

https://publiclab.org/features/embed/spectral-workbench-sidebar

I'm getting a 404 on that -- looks like a routing issue related to #2726  ?

[2018-06-10 19:36] jywarren commented on #2799
It's this line:

https://github.com/publiclab/plots2/blob/b4728ff50e981a766dbbcee8c18511aac5241f69/app/controllers/openid_controller.rb#L117-L121

You should get this message when logging into MapKnitter or SpectralWorkbench and getting redirected through PublicLab.org. And typically `flash[:notice]` is saved for the next page -- it's a way to have something appear on the subsequent page load, and

[2018-06-10 19:41] jywarren commented on #2799
http://api.rubyonrails.org/classes/ActionDispatch/Flash.html

I think the solution may be to just display this message on the template in `/app/views/openid/decide.html.erb` directly, and not in a flash, since we are not redirecting.

[2018-06-10 19:42] Souravirus commented on #2817
yeah checking it locally

[2018-06-10 19:44] jywarren commented on #2727
Confirmed it's fixed. If you can test this out please do!

[2018-06-10 19:49] Souravirus commented on #2817
I am getting this when I tried to run this link locally @jywarren
![screenshot from 2018-06-11 01-18-35](https://user-images.githubusercontent.com/17192149/41205681-818f0ea6-6d15-11e8-8004-8337c297a53f.png)
Check this out

[2018-06-11 14:43] SidharthBansal opened #2819 "Account Deletion"
### Please describe the problem (or idea)
Currently user does not have an option to delete his/her account. So, there is a need to create a function to delete user and all associated data.

[2018-06-11 14:52] jywarren commented on #2544
Thanks, @pnowacki90 -- and @chanjess if you'd like to pick up where @pnowacki90 left off, the PR is here: https://github.com/publiclab/plots2/pull/2584 - it's pretty close!

Thanks all!

[2018-06-11 15:01] jywarren commented on #2716
Glad to hear in #2717 that this isn't a problem anymore!

[2018-06-11 15:01] #2716 closed

[2018-06-11 16:09] #2817 closed

[2018-06-11 16:10] SidharthBansal opened #2821 "Make username accept email prefixes"
### Please describe the problem (or idea)
Currently the username does not allow dot and some symbols which are present in the emails. As discussed in #2771, we will be using email_prefix appended with 2 digit string from the email as username for the OAuth login

[2018-06-11 16:12] ViditChitkara commented on #2764
Hello all!!
****Work Progress****
- The like for comment feature is now working. #2591
- Added Sidekiq queuing backend #2738
- Added basic template for digest emails (yet to test, once redis works on production) #2711

****Currently working on****
- Integration of sidekiq dashboard - Would be required to view various job status. #2772
- Making cronjob for recurring digest job #2772
- Making redis

[2018-06-11 16:19] jywarren commented on #2764
Just to mention, i love the new like comment feature!!!

[2018-06-11 16:25] SidharthBansal commented on #2821
@jywarren,

email prefixes without that blocking is to have a formatter that replaces
`.` with `_` -- then we can revert to allowing dots later if we pursue
that. Just to de-couple things and solve them one by one!

The current regex is
``/\A[\w+\-.]+@[a-z\d\-]+(\.[a-z]+)*\.[a-z]+\z/i`` for email
and
``/\A[A-Za-z\d_\-]+\z/`` for username.
So, email prefix is ``/\A[\w+\-.]+\z/i``

So, if we will ad

[2018-06-11 16:28] jywarren opened #2822 "Ability to "like" comments with an emoji"
https://github.com/publiclab/plots2/issues/2498 and the solution https://github.com/publiclab/plots2/pull/2591 allowd for comment likes that have a "type".

Let's imagine how to use that field to represent an emoji response -- like "smile" :smile: or "tada" 🎉  or "+1" 👍

Then people could choose one (we might just offer a few common ones like GitHub does in comments) and people could provide feedb

[2018-06-11 16:31] jywarren commented on #2821
Also the `@username` replacements in comments, nodes --

https://github.com/publiclab/plots2/blob/75c75533162ac202ae99c9e29d747e3065ef3096/config/initializers/constants.rb#L2-L5

On Mon, Jun 11, 2018 at 12:25 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-06-11 16:34] SidharthBansal commented on #2821
Yeah, I was going to pin point that. But you are quicker than me :tada:

[2018-06-11 16:34] ViditChitkara commented on #2822
Hmm, actually I used the likeable type to identify if the like is on comment or answer or any other likeable type.
However, we can use the same terminology for this feature by keeping an emoji_type or something.
I would like to solve this!! Find this very interesting!!!!
Thanks

[2018-06-11 16:37] jywarren commented on #2821
lol i should stop replying i know you're super thorough... sometimes i just
can't stop!!! :-)

On Mon, Jun 11, 2018 at 12:34 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-06-11 16:38] jywarren commented on #2781
OK -- we'll wait for @icarito to chime in on the next step, but if you want to organize a checklist here that'd be helpful too!

[2018-06-11 16:40] ViditChitkara commented on #2822
I love these kind of features!!! :wink:

[2018-06-11 16:41] SidharthBansal commented on #2821
I am sure that ``email_prefix.g`` is best approach. Are you ok with it @jywarren? Shall I start with that?

[2018-06-11 16:43] jywarren commented on #2822
me too!!!

On Mon, Jun 11, 2018 at 12:40 PM Vidit <notifications@github.com> wrote:

[2018-06-11 16:45] jywarren commented on #2821
I think we can solve the broader issue first without implementing this. If
the initial version of oauth a) generates a unique name with numbers at the
end, and b) allows users to edit their name and "try out" usernames until
they find a unique one they like, with AJAX, then we can move that project
forward.

Later, if we want to try to add periods, we can. Sound good? One thing at a
time!

On Mon,

[2018-06-11 16:45] jywarren commented on #2781
So i think we're wanting to make a mailbox for this, using Google Apps? I can do that and send info to @icarito

[2018-06-11 16:46] jywarren commented on #2781
What should its address be? `website@publiclab.org`? Something friendlier? `notifications@publiclab.org`?

[2018-06-11 16:55] SidharthBansal commented on #2821
As we discussed
a) You asked to create ``email_prefix`` +random_stuff, right? So, that email_prefix contains period so for sure we need to first change the username then we can carry on with #2771.
Emails do contain dots.

[2018-06-11 18:06] jywarren commented on #2821
But instead of doing both at once here, can we filter `bansal.sidharth2996` to `bansal_sidharth2996` so that we don't have to modify the constants and the Regex in the same PR? That's what I'd like to do - then circle back and make it more flexible. I'm just worried about periods in usernames because it will require so many changes and checks, it'll overcomplicate the main function we're going for

[2018-06-11 18:10] SidharthBansal commented on #2821
OK so going for formatting now. Thanks a lot

[2018-06-11 18:20] Souravirus opened #2824 "Travis test gives error sometimes which gets removed by rebuild"
Travis test sometimes gives this error `** Error in /usr/local/bin/ruby': free(): invalid next size (fast): 0x00000000098d3950 ***` which gets cleared out when tests get rebuilded.

The reported error is `There was an error with Danger bot’s Junit parsing: undefined method `value’ for nil:NilClass` in PRs.

[2018-06-11 18:27] namangupta01 commented on #2277
Sorry i miss this comment.
This will e look like
https://www.google.co.in/search?q=noty+js+demo+gif&tbm=isch&source=iu&ictx=1&fir=40c5C6hCkQ3iAM%253A%252Cwx71zIwC3dVmBM%252C_&usg=__ojtibMLfvQeR-9Fz613wzgbaQQM%3D&sa=X&ved=0ahUKEwjxqOWZnszbAhXWeX0KHYMPDggQ9QEIMjAE#imgrc=40c5C6hCkQ3iAM:

[2018-06-11 18:29] Souravirus commented on #2814
Hi @publiclab/soc
This week plots 2 went through a big change in the form of rails 5.
But there are some routing problems and some other small errors after the update but we are taking care of it and I along with @jywarren are currently working on these problems.
So, if there is some problem related to any location that you can't get to or any other problem which you think might be due to change t

[2018-06-11 18:29] namangupta01 commented on #2781
`notifications@publiclab.org` looks awesome.

[2018-06-11 19:11] SidharthBansal commented on #2814
@publiclab/soc dont forget to fill up the evaluation forms this week :1234:

[2018-06-11 19:15] Gauravano commented on #2667
Hi @jywarren @steviepubliclab , I have my last exam on 13th as I notified [here](https://github.com/publiclab/plots2/issues/2764#issuecomment-395860635) . After that I will start working on this. Thanks.

[2018-06-11 19:42] jywarren commented on #2667
Super, good luck!!

On Mon, Jun 11, 2018 at 3:15 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-11 19:49] Gauravano commented on #2667
Thanks!

[2018-06-11 20:22] SidharthBansal commented on #2821
![image](https://user-images.githubusercontent.com/20972099/41255168-4571d862-6de3-11e8-9c78-bc35a96dd168.png)

[2018-06-11 20:28] jywarren commented on #2821
awesome!

On Mon, Jun 11, 2018 at 4:22 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-06-11 20:50] SidharthBansal commented on #2821
Done with formatting function.
![image](https://user-images.githubusercontent.com/20972099/41256295-c97503fc-6de6-11e8-96ef-1ab6200765a3.png)

I created a user with username bansal_sidharth2996 via basic sign up process.
Then tried to create a username from "bansal.sidharth2996@gmail.com"
This approach will have 0.01% failure scenario which we will happen only if 100 users have same username.

[2018-06-11 20:59] SidharthBansal commented on #2821
However, we can make this even less error prone if we append 2 digit character from following

 charset = Array('A'..'Z') + Array('a'..'z')  + Array(0..9)
Array.new(number) { charset.sample }.join
end 
puts generate_code(2)

This will append 2 alphanumeric characters at the end of the string. The chances would be thus (1/62)*(1/62) *1%.

[2018-06-11 22:11] SidharthBansal commented on #2821
@jywarren made the following commit
https://github.com/publiclab/plots2/pull/2771/commits/528bae53578a5cffc57240d25d45aa956f7612fc
I think now we can close this issue?

[2018-06-11 23:16] etalamante commented on #2656
I checked the code and I was able to replicate the likes count to flick.

What I discovered was that, there are 2 different ways to display the likes count:

- first is by render the json created on the [like](https://github.com/publiclab/plots2/blob/master/app/controllers/like_controller.rb) controller (line 14)
- the second is displaying the count of likers on the [like](https://github.com/publi

[2018-06-12 06:53] icarito commented on #2781
Hi,
Jeff gave me information on one mailbox.
notifications@ is for production.
Could we make one mailbox for staging and we can point stable and unstable to pick up fro there? maybe notifications-staging@publiclab.org ?
Then, we need to add email variables to environment at staging. @jywarren this is done in Jenkins configuration at the web interface, for each task configuration. For the case of p

[2018-06-12 09:39] jywarren commented on #2656
Wow this is such a thorough investigation! Thanks!!

We don't want to show moderated users. But I have an idea to try and
simplify things.

Could we wire both queries through the same code so that they work
identically and we don't have to maintain two? What do you think?

On Mon, Jun 11, 2018, 7:17 PM etalamante <notifications@github.com> wrote:

[2018-06-12 19:16] etalamante commented on #2656
Yes, we could use the same method to get the like count on the view and implement that on the controller. I run the app and it worked. Both moderated and banned users will be excluded from the like count and the expanded view. Correct?
I added two tests, one to replicate the bug an another to prove the method seen on the view works. If you don't have any problem with that, I will open the PR.

[2018-06-13 10:52] #2821 closed

[2018-06-13 12:20] SidharthBansal commented on #2676
For fb,twitter and github the following needs to be changed
* user session controller tests
* setting up of key for app_id and app_secret
* integration test
* views on the header, login page, sign up page, and edit profile page.
Rest most probably will be the same

[2018-06-13 19:15] Gauravano commented on #2667
Hi @jywarren @steviepubliclab I have created the wiki page about the Draft feature at https://publiclab.org/wiki/draft-feature , please edit it or tell if you think any modifications are required. Thanks.

[2018-06-13 21:31] rtrunkhill commented on #2520
so I added this code: ```  <% elsif @wildcard %>
    _<% if @node_type == "questions"%>
      <p>Here are all the questions asked by <%= link_to(@user.name,"/profile/#{@user.name}") %>.</p>
    <% end %>_
    <p><i>This is a wildcard tag search. Please enter a tag without wildcards to display lead wiki pages.</i></p>
    <p>Wildcard tag searches use the * asterisk in their URLs</p>
  <% else %>

[2018-06-14 01:57] Gauravano commented on #2819
Hi @Sidharth , can I take this one ?

[2018-06-14 02:12] Gauravano commented on #2814
Hi @publiclab/soc ,
Due to my exams last week, I was not able to perform last week tasks. So, I would be completing them.

I have created the wiki page for the Draft feature, do check it https://publiclab.org/wiki/draft-feature .

Thanks

P.S. it's good be back after exams. Let's code :muscle: :smiley:

[2018-06-14 02:15] Gauravano commented on #2778
Yes, we can solve it by both the ways. I am fine with both , with which way should I solve ? Thanks.

[2018-06-14 02:38] SidharthBansal commented on #2819
@gaurav this will be great. But first we need to think what will happen to his comments and research articles. People may have tagged him.

[2018-06-14 04:02] Gauravano commented on #2819
Lets ask @jywarren about this.

[2018-06-14 09:35] namangupta01 commented on #2671
Yeah!
On Jun 14, 2018 12:55, "Sagarpreet Chadha" <notifications@github.com> wrote:

[2018-06-14 09:46] namangupta01 commented on #2671
I have some implementation in my mind...will post in a while.

[2018-06-14 15:14] jywarren commented on #2819
I think we have to leave comments and notes -- they've been open sourced.
Perhaps we can show "this author has been deleted"? I need to look up in
the GDPR right-to-deletion for what happens to the credit line from a
Creative Commons licensed text?

On Wed, Jun 13, 2018 at 9:38 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-06-14 15:34] SidharthBansal commented on #2819
I think first of all we should divide the associations of users into two categories. One category will comprise of associations which can be deleted with user like usertags. And the second category which can't be deleted. Then we should focus on second category. Like for wiki pages, we can either delete the page or we can leave it as it is. The wiki page have no comments nor likes. Then comes note

[2018-06-14 15:34] jywarren commented on #2671
Joe (who just started work with the Public Lab staff) had a really good
question -- would this be a channel for spam posting? Do we have to worry
about Twitter bots spamming, or maybe think about a moderation strategy?

What are ways we could watch out for this? Open brainstorm!

Like, maybe response tweets have to be "liked" by... someone?

On Thu, Jun 14, 2018 at 4:47 AM Naman Gupta <notificatio

[2018-06-14 15:52] jywarren commented on #2819
this is a cool approach, thanks! Maybe we could have a `is_deletable?`
method for nodes, comments, answers? With some common or centralized logic?

On Thu, Jun 14, 2018 at 10:34 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-06-14 16:05] SidharthBansal commented on #2819
'Is_deletable' option from the client side or server side?
I guess you are trying to give client an option under each comment, is this deletable. Am I right?

[2018-06-14 16:21] icarito commented on #2209
Here's some info on the utf8 situation in MariaDB / MySQL - we should actually switch to `utf8mb4`

[2018-06-14 16:33] jywarren commented on #2814
Hi, all! It's so great to see some big feature going into production. Great work! Please work with @icarito to get your environment variables set up, and we'll start to see these activate in production.

I'm a little less available this week as I'm working with a new team member at the New Orleans office - Joe! I hope to introduce him to you all soon! I'm showing him all around the website today a

[2018-06-14 16:33] jywarren commented on #2814
And welcome back @Gauravano -- hope the exams went well!!!! 👍

[2018-06-14 16:34] jywarren commented on #2778
I guess I prefer the second way - auto-generating the tags, and running that in a migration too (so 2 parts). Thank you, Gaurav!

[2018-06-14 16:35] jywarren commented on #2764
Moved to #2814!

[2018-06-14 16:36] jywarren commented on #2814
One more thing - what do we have to do to allow others to manually approve CodeClimate checks? That'd be great...

[2018-06-14 16:39] jywarren commented on #2520
Unfortunately we don't have a convenient method for separating out activities or replications -- perhaps we need a convenience method like `node.is_type('activity')`?

But for now, you can check by looking if `node.has_power_tag('activity')` or `node.has_power_tag('replication')`

[2018-06-14 16:40] SidharthBansal commented on #2814
I think CodeClimate is great. Even though we are going through errors from CodeClimate but later on we will have good code.
It will be great to have one new member Joe at public labs.

[2018-06-14 16:45] rtrunkhill commented on #2520
i just figured it out, I wrote the code like this ```<% elsif @node_type == "note" && params[:id].match("activity:") %>``` and ```<% elsif @node_type == "note" && params[:id].match("replication:") %>```

it works great.  going to submit the pr

[2018-06-14 16:47] jywarren commented on #2819
Oh, no i guess i meant on the server side?

I haven't found anything on the GDPR about whether creative commons
licensed content would have to be scrubbed if someone wants to delete their
account. I guess this is a big unknown. My guess is no, but I don't know
for sure. If we don't keep peoples' usernames, how will we know the
provenance of a piece of content?

On Thu, Jun 14, 2018 at 11:06 AM Sid

[2018-06-14 16:57] jywarren commented on #2520
oh cool!

[2018-06-14 16:59] sagarpreet-chadha commented on #2819
Hi , if we take example of Facebook ...so they have 2 things :
1.) Deactivate 2.) Delete .

When someone deactivates the account , every piece of their data is retained , but no one can access that user's profile or tag that person anymore . The user can login anytime in the future .

When someone deletes the account permanently , all data associated is deleted . This process is irreversible .

[2018-06-14 17:05] SidharthBansal commented on #2819
I am really sorry I misunderstood what you were trying to say @jywarren . Really sorry.
So, you mean to say that ``is_deletable`` function will decide
How can we separate two nodes the one which can be deleted and the other which can't be?
One method could be by the number of views and number of comments on that node. We can set up any benchmark value.

Yeah, that I was thinking as mentioned in ht

[2018-06-14 17:13] SidharthBansal commented on #2819
@sagarpreet-chadha Awesome idea.  We should also give the user warning that if he/she does not log in his/her account for 1 year his/her account will be permanently deleted.
@jywarren, as we till yet don't have delete account option so how are we presently managing inactive profiles?
Also, reddit mail deletes it's user's account if the user doesn't logs in for 3 years. So, we must incorporate some

[2018-06-14 17:15] SidharthBansal commented on #2819
@sagarpreet just to mention, we are not concerned about any provider's deactivation like google, twitter, etc in this issue. Those issues are separately tackled by me in my soc prs for sure.

[2018-06-14 17:35] jywarren commented on #2819
Haha no worries!

Right now we have "banned" accounts for spammers and "moderated" accounts for people who've violated the code of conduct.  These are w user.status.

We don't have another means of deletion, and I think I'd be for keeping a unique ID of some kind, even if the account is gone. Maybe we have a status that's "deleted", and scrub any personal data like bio text, user tags, etc, but ke

[2018-06-14 17:52] SidharthBansal commented on #2814
@jywarren I want to set up rubocop but after soc evaluations as now we are already doing so many big changes to the plots repo. Can I make an issue for this?

[2018-06-14 18:42] rtrunkhill commented on #2520
rake test gives me this error ```Error:
TagControllerTest#test_wildcard_tag_should_have_a_active_asked_and_an_inactive_answered_tab_for_question:
ActionView::Template::Error: undefined method `name' for nil:NilClass
    app/views/tag/show.html.erb:25:in `_app_views_tag_show_html_erb__3511267637889032259_72613600'
    app/controllers/tag_controller.rb:134:in `block (2 levels) in show'
    app/contr

[2018-06-14 19:11] rtrunkhill commented on #2520
disregard.  i just made the messages more generic and it passed all tests, re submitting the pr now

[2018-06-14 19:44] Gauravano commented on #2796
hi @jywarren for starter which options we want to add in our settings. I have added these for now

![options](https://user-images.githubusercontent.com/20878070/41434325-fb0c110e-7038-11e8-8659-489cc0a3a2c0.png)

Also, please let me know the tag names of each associated setting. Currently, I am considering `digest:daily`, `digest:weekly`. Thanks

[2018-06-14 22:10] rtrunkhill commented on #2799
Just so im clear you want to remove the message and flash[:notice] from  this:
[code]

and add it directly to the ```/app/views/openid/decide.html.erb``` with something like ```<h3>The site shown below is asking to use your PublicLab.org account to log you in. Do you trust this site?</h3>``` ?

I'll make those changes but i can't seem to reproduce locally (although it's easy enough to do on the si

[2018-06-15 15:15] jywarren commented on #2814
Hi, all - just an update that we have completed all of the mentor evaluations and I see all students have completed their submissions too -- great work!

[2018-06-15 15:36] jywarren commented on #2799
Hi, I think we don't want to remove the message, but to figure out how and why it is appearing on the wrong page. I believe it is supposed to be stored for the next page refresh. So maybe it needs to be displayed with `flash.now` instead of `flash` because on the line I highlighted above, it doesn't actually redirect, so the message is "left over".

But we may also need to be sure that there isn't

[2018-06-15 15:43] jywarren commented on #2781
Also linking to #2823

[2018-06-15 15:47] jywarren commented on #2781
OK, created `notifications-staging@` and `notifications-unstable@`

[2018-06-15 15:59] namangupta01 commented on #2814
Thanks @jywarren, In this week i am working on finding best ways for reply-by-tweet feature and also discussing about how to implement this feature so that we don't end up spamming due to twitter-bots.

[2018-06-15 16:04] jywarren commented on #2796
I like this! The monthly blog would be everything tagged `blog` once per
month? What user tag would that be?

Cool!

I think this is a good start to try out first. Then we can consider more
complex types -- like what about comments vs posts, questions...

Also, maybe we should have `customized` be linked to a page explaining how
it's generated?

On Thu, Jun 14, 2018 at 2:45 PM Gaurav Sachdeva <not

[2018-06-15 16:13] jywarren commented on #2209
Let's make a unique issue for that - this fix should work for now!

[2018-06-15 21:58] rtrunkhill commented on #2799
alright i changed it to ```flash.now[:notice] = message if message``` but I'm not sure how to test it locally.  My app doesn't have mapknitter to redirect to, so i'm not sure how to replicate/test if this resolves the issue.  Do you want me to submit the pr?  it rake test passes

[2018-06-16 07:15] namangupta01 commented on #2822
Hey i would like to work on it.

[2018-06-16 08:06] Gauravano commented on #2667
Hi, @jywarren @steviepubliclab #2796 would take some time to merge as it depends on Vidit's PR.In the meantime, I would like to give this one a final push.

Here's the plan, we want to give a secret URL to people for having their review. For this, we need to store a token somewhere which would make Secret URL effective. Now, instead of storing URL for each note in the database, we can generate `us

[2018-06-16 08:19] Gauravano commented on #2241
hi @publiclab/community-reps I am working on this one. Thanks.

[2018-06-16 09:03] ViditChitkara commented on #2822
Hi @namangupta01 , I have already started with this! Will soon send a pr for this!! Sorry for delaying this..

[2018-06-16 11:46] namangupta01 commented on #2822
Sure! Go on. I thought no one is working on this.

[2018-06-16 12:13] first-timers[bot] opened #2833 "Updating comment options order"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-06-16 13:30] Neidley commented on #2833
I would love to claim this as my first ever pull request :)

[2018-06-16 13:46] Gauravano commented on #2833
Congratulations :tada:  @Neidley on claiming your first issue. Looking forward to approve your first PR soon :smiley: . Thanks for helping.

[2018-06-16 14:33] Gauravano commented on #2833
Great! Reviewing your PR.

[2018-06-16 20:33] rtrunkhill commented on #2662
so i added this to view/like/_like.html.erb :
[code]
but it trips this error:
[code]

do you want the spam button to work for everyone? or it's just for mods and admins modify the test to not include those user roles?

[2018-06-16 21:27] Gauravano commented on #2662
hi @jywarren sorry for responding late on this one. yes, flagging a wiki seems fine to me! @rtrunkhill Thanks for taking this, actually marking a wiki with single revision was giving us an error, so we decided to not let anyone mark it as spam. Instead, we now show an alert to contact "admin" for its deletion. As the message is well conveyed via that alert to moderators.

You can make this flag av

[2018-06-16 21:54] Gauravano commented on #2667
Hi @jywarren @steviepubliclab , I have a raised a PR for part of Draft feature ie., sharing secret URL. Here's demo : https://drive.google.com/file/d/1lxhz-v2WhPwBR9GMut83SrOAwPxdH-mX/view?usp=sharing

Also, I have pushed on `unstable` , you can try there too.

Here's some queries regarding design:
1. Where the "Generate secret URL" should be placed and how should it look?
Current view:

![screen1

[2018-06-17 00:00] Neidley commented on #2833
Here's an updated PR with screenshot - https://github.com/publiclab/plots2/pull/2836

[2018-06-17 08:15] Neidley commented on #2833
Thank you for my first PR and your assistance 👍

[2018-06-17 08:18] Gauravano commented on #2833
Thanks to you for helping us :+1: . We would love to have your help with more issues if you are interested. You can find more issues at https://publiclab.github.io/community-toolbox/#r=all . Thanks.

[2018-06-17 17:20] rtrunkhill commented on #2662
alright i made some minor syntax changes it's passing all the tests and opens up an email properly:
[code]
![image](https://user-images.githubusercontent.com/28711410/41510360-0dbdd89c-7218-11e8-8690-a17d155c2510.png)

putting in the PR now

[2018-06-17 17:46] rtrunkhill commented on #2662
i got a dangerbot error even though rake tests passes locally

```There was an error with Danger bot’s Junit parsing: undefined method `value’ for nil:NilClass```

I updated the master (man that thing moves fast) and created a new branch and added the changes.  all tests still pass so i'll give it another sho with a different PR

[2018-06-17 18:12] SidharthBansal commented on #2819
@jywarren, as we till yet don't have delete account option so how are we presently managing inactive profiles?

[2018-06-17 19:17] ViditChitkara commented on #2822
cool :+1:

[2018-06-17 23:20] rtrunkhill commented on #2646
how does this look?
[code]

[2018-06-18 04:58] mohnishw17 commented on #2833
Hi
I am new to GitHub. Is this issue resolved. Because I observed that the suggested edits were already made in the issue.
If yes, then how should I go about projects on GitHub being a noob.

[2018-06-18 13:27] SidharthBansal commented on #2814
Also, please close this issue once you open new issue

[2018-06-18 13:34] Turlough831 commented on #2833
Hi Gauravano,

Would you be able to open an issue for me?

Thanks either way man.

[2018-06-18 14:13] jywarren commented on #2814
Ah, oops! I usually chime in to ask someone... forgot last week! Anyone want to volunteer?

[2018-06-18 14:20] #2833 closed

[2018-06-18 14:24] jywarren commented on #2646
oh awesome, does this work for you in cloud9?

On Sun, Jun 17, 2018 at 7:21 PM rtrunkhill <notifications@github.com> wrote:

[2018-06-18 14:37] jywarren commented on #2667
Wow this is very cool. I'd say, let's display the prompt to share within
the Draft Note alert at top, with a button that says "Share a secret link".
And i like your using an `alert()` but we can do one better -- a
`prompt('This link will give recipients access to ','link')` -- what do you
think?

What about using a normal node tag, since the URL will not be visible
anyways... i guess the node tag

[2018-06-18 15:10] jywarren commented on #2241
awesome!!!

On Sat, Jun 16, 2018 at 4:19 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-18 15:12] jywarren commented on #2799
Hmm, I think yes, we can test that on my local setup where I've gotten both
apps running, if you submit a PR. Thank you!

On Fri, Jun 15, 2018 at 5:59 PM rtrunkhill <notifications@github.com> wrote:

[2018-06-18 15:27] jywarren opened #2838 "Deprecate remaining old DrupalUser code for plain User model"
This used to be a Drupal site, so users are managed across two models, but we're gradually and carefully getting rid of all old `DrupalUser` code. (this is a break-out issue from #956)

Currently we're almost done migrating all functions of `DrupalUser` to `User`, but we'd have to complete this, with `DrupalUser` code appearing throughout the site.

A good place to start would be to begin refactor

[2018-06-18 15:27] jywarren commented on #956
I broke out the `DrupalUser` task into its own issue!

https://github.com/publiclab/plots2/issues/2838

Getting so close now! Thanks, all!

[2018-06-18 17:32] ViditChitkara commented on #2814
I would like to do this week's checkin!!

[2018-06-18 17:46] ViditChitkara opened #2840 "Community Check-in #5 Summer Of Code Week 6"
Hi everybody :construction_worker_man: !
If you're new here, welcome, and please try some of the ftos. This is a checklist for publiclab/soc.

@stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @namangupta01 @ViditChitkara @tech4GT  @mridulnagpal @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @ccpandhare @icarito @abTest-123 @steviepubliclab @ebarry @publiclab/soc @publiclab/rev

[2018-06-18 17:50] SidharthBansal commented on #2814
Awesome, closing this then

[2018-06-18 17:50] #2814 closed

[2018-06-18 17:51] ViditChitkara commented on #2814
moved to #2840

[2018-06-18 17:51] SidharthBansal commented on #2814
Awesome, closing this then

[2018-06-18 18:00] SidharthBansal commented on #2840
Hi @publiclab/soc,
we have successfully passed the first evaluation :tada:  :tada: :tada: :100:
I am feeling awesome working at public labs in this summer. Thanks @jywarren for the nice feedback provided on my GSOC evaluation.
I have completed 90% of the first project (OAuth) in the enormous PR #2771. The google provider is working on localhost. Let's hope that it works on production. As work in m

[2018-06-18 18:44] Souravirus commented on #2840
Hi @publiclab/soc,
First of all thanks to the mentors for the nice feedback provided on my GSoC evaluation. Currently, I am working on rails 5.1 upgrade in this PR #2798 by clearing out the errors in the tests.
Thanks!!

[2018-06-18 19:00] #2775 closed

[2018-06-18 21:35] jywarren opened #2845 "some parent:XXXX tags aren't working"
Via @ebarry --

[2018-06-18 21:36] jywarren commented on #2845
I believe this is because it's looking for a page like `/wiki/barnraising` -- and `/barnraising` is a special root-level page. I made a tweak in #2844 that I think will fix this!

[2018-06-18 21:54] #2845 closed

[2018-06-18 22:56] jywarren opened #2846 "migration error on DrupalUsers update"
In trying to publish #2257 to production, i got this error:

[code]

[2018-06-18 22:57] jywarren commented on #2846
I've left the server as-is after failing `make redeploy-container` -- not sure what to do next!

[2018-06-18 23:02] jywarren commented on #2846
@ViditChitkara @icarito I think i'll leave things as they are -- could we... remove the migration in a new PR and try again? @ViditChitkara can you check the logs at https://jenkins.laboratoriopublico.org/job/Plots-Unstable/ to see if this error came up there at all?

[2018-06-19 01:43] icarito commented on #2846
@jywarren I recently saw similar errors with the database of our etherpad instance. The solution in that case was to convert the entire database to `utf8mb4` character set because MySQL has a faulty `utf8` character set. The question is if this should be done manually or automatically in a migration. A migration would require coding the table alteration from Ruby.

I'd like to have a way to reliab

[2018-06-19 01:57] icarito commented on #2846
Just a note for debugging: I just checked and both production and staging have the same database configuration with respect to character sets and collation:
MariaDB [publiclab_production]> show variables like "character_set_database";

[code]

[2018-06-19 02:15] ebarry commented on #2845
You guys are awesome!!!!! I look forward to "parenting" exuberantly! Thank
you!!!!

On Mon, Jun 18, 2018, 5:54 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-06-19 04:46] rtrunkhill commented on #2542
I replaced ``` render template: 'wiki/edit' ``` with
[code]
then changed the test controller line 437 to ```assert_template 'editor/wikiRich'``` but i still trip this error
[code]
Does that test need to be changed as well?

[2018-06-19 08:47] SidharthBansal opened #2848 "Documentation for OAuth"
# Checklist
Add the following to /doc/OmniauthLogin.md
* [x] Define the different variables defined in #2771
* [x] Write the explanation for the different method used in the #2771
* [x] Omniauth logic explanation
* [x] Minimal setup instructions
* [x] Links to code segments
* [x] links to external documentation such as where to generate a key
* [x] Testing documentation
Part of  #2676

[2018-06-19 08:50] SidharthBansal opened #2849 "Google OAuth header view"
Create view for header for google provider to sign up/log in
Part of #2676 and #2771

[2018-06-19 08:52] SidharthBansal opened #2850 "Google OAuth edit profile view"
Create view for edit profile page for google provider to sign up/log in
url --> publiclab.org/profile/edit
Part of #2676  and #2771

[2018-06-19 08:53] SidharthBansal commented on #2849
![image](https://user-images.githubusercontent.com/20972099/41587226-4ba0f79c-73cc-11e8-9a73-ef9559a93a65.png)

[2018-06-19 08:53] SidharthBansal commented on #2849
Is it ok @jywarren?

[2018-06-19 08:56] SidharthBansal commented on #2850
Can we create it like this @jywarren ?
![image](https://user-images.githubusercontent.com/20972099/41587397-c7890dcc-73cc-11e8-83ce-2a7203c3d7e6.png)

[2018-06-19 08:58] SidharthBansal opened #2851 "Google OAuth login view"
Create view for login page for google provider to sign up/log in
url --> publiclab.org/login
Part of #2676 and #2771

Is this type of icons ok @jywarren?
![image](https://user-images.githubusercontent.com/20972099/41587271-6e61f952-73cc-11e8-9637-a6b9dc9e61dc.png)

[2018-06-19 09:00] SidharthBansal commented on #2851
I am taking views issues. I am not creating ftos as you want the functionality to be properly implemented and used by the community at the earliest

[2018-06-19 09:01] SidharthBansal opened #2852 "Google OAuth sign up view"
Create view for signup page for google provider to sign up/log in
url --> publiclab.org/signup
Part of #2676 and #2771

[2018-06-19 11:46] Gauravano commented on #2241
What do you think, should we use inline CSS for formatting or use gems? Thanks

[2018-06-19 11:47] SidharthBansal opened #2853 "Profile page upon not signed in should redirect to root url"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-06-19 12:03] Gauravano commented on #2667
Hi @jywarren, i will use prompt, thanks for pointing!

since that's not public, and since we'll overwrite it on publication?

Just to be sure we are on the same page - I am storing a unique token in a power tag as you can see and then secret URL is generated by appending that token to the end of normal URL, as you said, at time of publishing, the URL is changed. Do you mean something like hash fun

[2018-06-19 12:05] SidharthBansal commented on #2848
If there is anything else in the documentation then @jywarren please edit the checklist. I will make them too.

[2018-06-19 12:32] SidharthBansal commented on #2850
I am making changes as per your suggestions in #2771.

[2018-06-19 14:06] SidharthBansal opened #2856 "Create Github OAuth App"
Github settings as given on https://www.natashatherobot.com/rails-omniauth-github-tutorial/ are functional as tested in test app.
![image](https://user-images.githubusercontent.com/20972099/41200890-901a4e40-6cca-11e8-88d0-556c56c2a059.png)
![image](https://user-images.githubusercontent.com/20972099/41201250-c7fc3d62-6cd1-11e8-9824-842dba15eaa4.png)
![image](https://user-images.githubusercontent.c

[2018-06-19 14:08] SidharthBansal commented on #2856
@jywarren this needs to be done after #2771 is merged and google works perfectly in production.

[2018-06-19 14:10] SidharthBansal commented on #2856
Part of #2676

[2018-06-19 15:16] Neidley commented on #2838
I'd be willing to help. Not familiar with Drupal but I'm intermediate in ruby.

[2018-06-19 15:41] jywarren commented on #2838
Oh awesome! Yes please, and if you open a PR we'll be happy to help out!

On Tue, Jun 19, 2018, 11:16 AM Andrew Neidley <notifications@github.com>
wrote:

[2018-06-19 15:44] Neidley commented on #2838
Do most people open a PR and then work on the branch or open the PR at the end?

[2018-06-19 15:46] jywarren commented on #2838
We prefer a PR early so we can coordinate and help out!

On Jun 19, 2018 11:44 AM, "Andrew Neidley" <notifications@github.com> wrote:

Do most people open a PR and then work on the branch or open the PR at the
end?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/plots2/issues/2838#issuecomment-398446712>,
or m

[2018-06-19 15:49] Neidley commented on #2838
https://github.com/publiclab/plots2/pull/2857

[2018-06-19 16:49] imacubsfan23 commented on #2853
I'll gladly take this issue @SidharthBansal . This will be my first pr that wasn't documentation.

[2018-06-19 16:54] ryzokuken commented on #2840
Thanks to all students for such awesome work and congratulations. You all deserved every single bit of the appreciation. Looking forward to the rest of the summer.

[2018-06-19 16:59] SidharthBansal commented on #2853
Great..go for it

[2018-06-19 17:09] Gauravano commented on #2840
Hi @publiclab/soc ing
This week, I would be completing the second part of Draft Feature, finalizing welcome mailer for our website. With this, I would be solving small issues too.
Thanks.

[2018-06-19 17:22] imacubsfan23 commented on #2853
How can I get this to run locally (with rails s)? More specifically, which database.yml do I use when running rake db:migrate?

[2018-06-19 17:53] rtrunkhill commented on #2542
okay, drilling down on this a bit in the New action for the wiki_controller there are two blocks that appear to do the same thing (marked with #'s):
[code]
I tried disabling one, then the other, then both, also ran both.  The error is tied to the template.    So there either needs to be a change to this test:
[code]
or a change to the wikiRich template.  how do you guys want to proceed?

[2018-06-19 18:16] SidharthBansal commented on #2542
@rtrunkhill can you please push the changes in a pr so that publiclab/reviewers can figure out.
Thanks.

[2018-06-19 18:22] SidharthBansal commented on #2542
I guess you probably need to change the tests so that we can insert RichWiki template properly. Let's see what @jywarren says!

[2018-06-19 18:23] SidharthBansal commented on #2542
We need to remove one.

[2018-06-19 18:38] rtrunkhill commented on #2542
sending it through w/ the error now

[2018-06-19 19:38] Gauravano commented on #2778
Great, implementing the second one. Thanks.

[2018-06-19 19:40] steviepubliclab commented on #2778
Ah actually I'm looking at this right now and I prefer the first option.

[2018-06-19 19:43] Gauravano commented on #2778
Cool! I am fine with both ways. Thanks.

[2018-06-19 19:47] steviepubliclab commented on #2778
Sorry, just wanted to jump in there fast before you started!
Here's an example of why I'm interested in option 1: I'm starting a new project page here:
https://publiclab.org/wiki/pensacola-stormwater-project

and if we add the tag "stormwater-pensascola" on all the questions related to that tag, then those questions also show up in the "updates" section on that page. To keep that section clean, I'

[2018-06-19 19:55] Gauravano commented on #2778
yes, it does sound right. Thanks for details :smile: !

[2018-06-20 04:08] Gauravano commented on #2241
hi @publiclab/community-reps sorry to bother you again, but as welcome email to a user is a crucial and can be helpful to the user in getting familiar with the website. So, if you all can point to some important points to include that would be really helpful.

Current considerations-

1.  ![first_mail_1](https://user-images.githubusercontent.com/20878070/41636669-79bc4cca-746d-11e8-8df8-3af9280fc6

[2018-06-20 09:06] Gauravano commented on #2778
hi @steviepubliclab , I have raised a PR for this issue in #2864. the new query system for tags will work something like this- if the tag present in nodes are "computer" or "question:computer" then, it will also search the other one. I guess it will serve the purpose. Thanks.

Here's new working demo:-

![output_tag](https://user-images.githubusercontent.com/20878070/41648644-1f649c6c-7497-11e8-89

[2018-06-20 13:44] jywarren commented on #2856
Hi, this looks great. Can you create an "Oauth Login" milestone and add and prioritize things in there? I think it'll be helpful to keep track. Thanks!!!

[2018-06-20 13:45] jywarren opened #2866 "OAuth user interface design on login screen"
@SidharthBansal - i wanted to share how Oauth looks on some other sites, so once we confirm it's perfectly working, we have a good workflow for login. See this example:

![screen shot 2018-06-20 at 9 42 43 am](https://user-images.githubusercontent.com/24359/41662200-91b3a82c-746e-11e8-90ec-78fa81ea77ac.png)

Note a couple things. First, since OAuth is easier, it's presented first. Then, I wonder i

[2018-06-20 13:49] jywarren commented on #2846
But, to be clear, staging did not show this error? @ViditChitkara can you confirm?

https://jenkins.laboratoriopublico.org/job/Plots-Unstable/

[2018-06-20 13:50] jywarren commented on #2846
Is our easiest way forward to revert the migration in a new commit and just pretend we didn't deploy it, and debug further?

[2018-06-20 14:04] ViditChitkara commented on #2846
The build went well on unstable, it is odd that we got the error, I'll see something regarding this.

[2018-06-20 14:06] #2849 closed

[2018-06-20 14:09] ViditChitkara commented on #2846
Yes, the easiest way out would be to revert the migration. According to me.

[2018-06-20 14:10] SidharthBansal commented on #2866
You mean to replace
![image](https://user-images.githubusercontent.com/20972099/41663466-22aa83e4-74c1-11e8-85d1-93691d93901e.png)
with the image which you have given.
Great idea. I love it.
This closes #2849 and #2859.

Great idea. I will love to implement.

[2018-06-20 14:14] jywarren commented on #2846
OK cool - can you submit a new PR that removes the migration?

Were you able to confirm that the unstable build on Jenkins did not have
the same error -- can you link to and cite the log output to confirm? Thank
you!

On Wed, Jun 20, 2018 at 10:09 AM Vidit <notifications@github.com> wrote:

[2018-06-20 14:17] jywarren commented on #2866
Actually so i guess this is 2 issues - we could adopt this design for the
/signup page, and ALSO for the /login page and the login dropdowns. So
maybe even 3! We can wait until it's all working smoothly though!

On Wed, Jun 20, 2018 at 10:10 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-06-20 14:22] ViditChitkara commented on #2846
https://jenkins.laboratoriopublico.org/job/Plots-Unstable/150/

[2018-06-20 14:24] ViditChitkara commented on #2846
The link is given above, sure I'll remove the migration.

[2018-06-20 14:30] ViditChitkara commented on #2846
@jywarren, Just confirming, should I just remove the migration file concerned and reset the schema.rb.example's version??

[2018-06-20 14:39] jywarren commented on #2846
I think that's right. Let's see how Travis reacts.

On Wed, Jun 20, 2018, 10:31 AM Vidit <notifications@github.com> wrote:

[2018-06-20 14:43] #2388 closed

[2018-06-20 14:44] SidharthBansal commented on #683
Moved to #2388

[2018-06-20 14:44] #683 closed

[2018-06-20 14:46] SidharthBansal commented on #2866
I have created #2676 as one issue for the milestone OAUTH LOGIN. I have written each and every needy greedy detail of all the linked issues. I hope this will reduce the ambiguity which we are facing nowadays.

[2018-06-20 14:48] SidharthBansal commented on #2866
But for the signup and login page we don't need a pop up which we will need for the header. They will be similar but not same.

[2018-06-20 15:02] SidharthBansal commented on #2856
I have created #2676 as main issue for the milestone OAUTH LOGIN. I have written each and every needy greedy detail of all the linked issues. I hope this will reduce the ambiguity which we are facing nowadays.

[2018-06-20 15:03] jywarren commented on #2866
agreed!

On Wed, Jun 20, 2018 at 10:48 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-06-20 15:05] jywarren commented on #2866
Oh, but we can work from #2859 - that's a great start!

![](https://user-images.githubusercontent.com/20972099/41615129-0f4ce2c8-7418-11e8-971b-e976d97aeb95.png)

[2018-06-20 15:06] SidharthBansal opened #2867 "Facebook OAuth Settings"
These are the Facebook OAuth settings for future reference.
Part of #2676
Facebook oauth settings
The Facebook settings need to be as follows
![image](https://user-images.githubusercontent.com/20972099/40996771-4b4ff9f2-6920-11e8-98df-8976d52bc5ad.png)
![image](https://user-images.githubusercontent.com/20972099/40996803-620b79b4-6920-11e8-976b-20956e0b0b88.png)
![image](https://user-images.githubu

[2018-06-20 15:07] jywarren commented on #2856
:-) awesome!!!

[2018-06-20 15:10] SidharthBansal commented on #2866
How would it be that first we will do as #2859 and then we modify it to pop window?
I do agree with you. Reopening the pr. And linking it to this issue

[2018-06-20 17:17] namangupta01 commented on #2671
Spamming is the major issue. I was reading documentation from past few days. I was also wondering if we implement as you said "response tweets have to be liked" i found a major issue.
The issue is that whenever a user retweets on tweet (which is a node) we can know about the retweet through apis but when the retweet is liked we can't know about it. The only way to know about it is to search for ev

[2018-06-20 17:32] rtrunkhill opened #2870 "Master suddenly not passing rake test"
### Please describe the problem (or idea)
I was resolved an issue and failed a rake test regarding code unrelated to the changes I made.

I switched to master and did ```git pull upstream master``` then ran a ```rake test``` and got a failure.  I've never failed a rake test from master before.  Here is the error:
[code]

### Please show us where to look

https://publiclab.org/ ...

### What's your

[2018-06-20 17:35] namangupta01 opened #2871 "Make comment editor more user friendly"
Currently comment editors are using markdown. It gets very difficult for the people who don't know markdown format. To make writing less difficult for them, there can be several options in comment editor just like github so that user can easily comment.

[2018-06-20 17:36] namangupta01 commented on #2871
@jywarren any input?

[2018-06-20 17:37] rtrunkhill commented on #2720
I resolved this issue:
![image](https://user-images.githubusercontent.com/28711410/41674802-d5e81288-7475-11e8-8b4b-a29507379952.png)

but im having issues passing any [tests](https://github.com/publiclab/plots2/issues/2870) right now.  as soon as i get that resolved i'll submit the pr here

[2018-06-20 17:43] namangupta01 commented on #2871
Checkout this demo: https://simplemde.com/

[2018-06-20 17:50] Gauravano commented on #2870
Hi @rtrunkhill , I also face this error sometimes when I run `rake test` with running rails server. Also, you can always raise a PR and then correct the failing tests if you face any such issue. In this case too, please raise the PR and let's see how it goes. Thanks for reporting!

[2018-06-20 17:56] #2846 closed

[2018-06-20 18:20] namangupta01 commented on #2671
And also one main point which could leads to no spamming is that we can only add the tweets of those users whose twitter handle is associated to any publiclab account just like we were doing in `reply-by-email` where email of email sender is first checked for associativity with the publiclab account.
This could leads to no spamming.

[2018-06-20 18:43] #2822 closed

[2018-06-20 18:46] jywarren commented on #2871
I love the demo but we should keep in mind the new stuff we've been adding like Horsey -- see #2832 and let's connect with @ViditChitkara ?

[2018-06-20 18:47] jywarren commented on #2871
Generally i love this direction!

[2018-06-20 18:50] jywarren commented on #2720
wow, this is awesome! great, i see you opened an issue at
https://github.com/publiclab/plots2/issues/2870

On Wed, Jun 20, 2018 at 1:37 PM rtrunkhill <notifications@github.com> wrote:

[2018-06-20 18:59] #2778 closed

[2018-06-20 19:06] sagarpreet-chadha commented on #2671
@namangupta01 ...great points !

*  Spamming is the issue here , i guess the only moderation technique i can also think of is that a moderator has to approve the comment on a tweet by liking it (Similar to how things work in publiclab.org ) .
=> moderator can be people with PublicLab's twitter account OR a PL community person who has liked from his own account .

* I guess the point is to bring a

[2018-06-20 19:11] namangupta01 commented on #2671
Great thinking! But the only point i am concern with is that we have to check explicitly for the tweet's being liked in every request for all the tweets on the publiclab tweets which can become very large request as the tweets increases.

[2018-06-20 19:12] namangupta01 commented on #2671
And most of the time we will be making request for the tweets for nothing...that was my concern. What do you think?

[2018-06-20 19:15] namangupta01 commented on #2671
However moderation technique on the publiclab website interface would work great.

[2018-06-20 19:30] namangupta01 commented on #2871
Yes! I am also considering Vidit's pr while working on this.

[2018-06-20 19:31] sagarpreet-chadha commented on #2840
Hi all :octocat:  !
I have been closely following everyone's work and everyone is doing amazing work 🎉 ❣️

So this week i will be tackling new layers and hopefully try to conclude with @namangupta01  the best way to use twitter API so that we implement the Reply via Twitter 🐦  feature .

Earlier today ...i had a video conference 🎥 with John Dawes from http://waterreporter.org/ .
So for using their

[2018-06-20 19:37] rtrunkhill commented on #2870
alright.  when i close my server it passes that test (i've noticed the test acting differently when the server was running before, i learned somethign new).although if i make any changes i still get the same error i was getting [here](https://github.com/publiclab/plots2/issues/2542#issuecomment-398495437).  I'll close this one for now

[2018-06-20 19:37] #2870 closed

[2018-06-20 20:31] rtrunkhill commented on #2720
I'm getting the same issue as [here](https://github.com/publiclab/plots2/issues/2542#issuecomment-398495437) with this test:
[code]

if i take that test out, it passes all the tests.  so i'll submit and see what you guys want to do with it.  also see the syntax error in the bottom right %[count} ?

![image](https://user-images.githubusercontent.com/28711410/41682260-1c4043d4-748c-11e8-93bf-67d8d12

[2018-06-20 21:01] steviepubliclab commented on #2241
Hi! Can you clarify if this is showing up in an email or as a pop up?

[2018-06-20 21:12] steviepubliclab commented on #2241
I think you mean email.

Let me sync up with @ebarry when she gets back. First week in July ok? Is there some holder text you can use in the meantime as you're working on this? I'm looking for some text we recently put together that might be useful for this. (Liz where is that script? I can't find it!).

[2018-06-21 01:37] pdurbin opened #2876 "break-me-up GitHub issue label"
I noticed there's a GitHub issue label called "break-me-up" that looks great and that I'm thinking of adopting in my own projects:

<img width="1026" alt="screen shot 2018-06-20 at 9 27 10 pm" src="https://user-images.githubusercontent.com/21006/41692939-eeca513e-74d0-11e8-8e9f-7014ffb5c663.png">

I was telling someone about the break-me-up label and I almost said that it's probably a play on "Wak

[2018-06-21 02:10] jywarren commented on #2876
Ooohhh oo-ooooooh why do you
Break me up! Buttercup baby just to let me down...
And mess me around?

😆 🎵

[2018-06-21 02:12] jywarren commented on #2876
@ebarry @steviepubliclab do we need a karaoke opencall!??!!

On Wed, Jun 20, 2018, 9:38 PM Philip Durbin <notifications@github.com>
wrote:

[2018-06-21 06:52] Gauravano commented on #2241
Hi @steviepubliclab, I will work on this issue at the start of July then, after @ebarry join us if you have any other ideas regarding design and content about the welcome emails, you can always drop here. Thanks.

[2018-06-21 10:50] Neidley commented on #2838
should have our `drupal_user`s and `DrupalUser`s refractored to `user` and `User` respectively! 👍

[2018-06-21 14:10] Neidley commented on #2838
I've done my best to update `DrupalUser` to `User` and `drupal_user` to `user`.

Now on to getting tests to pass

[2018-06-21 16:28] jywarren commented on #2667
The only issue is that any tag is readable to the public, even if it's not super obvious. like they're listed alphabetically on /tags, for example. So since:

* the `node.slug` field is only viewable to admins and authors/coauthors when it's a draft, AND
* we change it anyways once published

we could use that to append an alphanumeric hash to the end like `slug-of-node-abcdefg` which is relativel

[2018-06-21 17:47] rtrunkhill commented on #2646
alright, it's all tested.  we dont need to add the extra `bundle install` we just need to change `rvm 2.3.7` to `rvm use 2.3.7` and add a `gem install bundler` before `bundle install --without production mysql`  I'll put the PR through now.  I got to this to work from scratch on my machine

[2018-06-21 17:49] icarito opened #2878 "Need to start mailman server process in order to fetch incoming mail"
### Please describe the problem (or idea)

In #2669 we merged functionality for incoming email. We've configured this, but now we need to start an independent process that does the mail fetching.

@namangupta01 mentioned this:

We only have to write the proper configurations of the email id which will going to receive all the mails.

So now we need to add a container to `containers/docker-compose-

[2018-06-21 17:53] jywarren commented on #2878
I believe the command is `ruby script/mailman_server` -- right?

Hi @icarito can you show an example of how it should be formatted? Would it look like this, but instead of `web` we'd call it `mailman`?

https://github.com/publiclab/plots2/blob/950539c8e7f89bfd5761616e6458adb804ae293b/containers/docker-compose-stable.yml#L18-L20

[2018-06-21 17:57] jywarren commented on #2840
Hi all! We just published a LOT of your code to PublicLab.org -- with help from @icarito.

That includes Rails 5.1! And...

![vidit is amazing](https://user-images.githubusercontent.com/24359/41736595-00986862-755b-11e8-8004-2c7f3d878c95.png)

[2018-06-21 18:01] jywarren commented on #2878
Ah, @namangupta01  did this!

https://github.com/publiclab/plots2/pull/2823/files

[2018-06-21 18:03] jywarren commented on #2781
OK, confirmed emails are being received in notifications-staging@ and notifications@. I did not set up the unstable branch one but could in the future if we want. Also noting Naman has opened https://github.com/publiclab/plots2/pull/2823/ for the docker-compose part -- great!

[2018-06-21 18:09] jywarren commented on #2667
Aha, for example, in unstable, i saw:

![screen shot 2018-06-21 at 1 09 05 pm](https://user-images.githubusercontent.com/24359/41737225-a4f050ea-755c-11e8-8c41-07db248e03c9.png)

Hard to predict where it might pop up! Maybe best to not use a tag.

[2018-06-21 18:10] Souravirus opened #2880 "Tests failing due to rails 5.1 upgrade and oauth commits"
Hi @jywarren @SidharthBansal due to the PRs related to rails 5.1 and two of the oauth commits tests are failing. We have to correct these. One of the error is:
`test_login_user_with_an_email_and_then_connect_google_provider#Minitest::Result (124.51s)
ArgumentError:         ArgumentError: unknown keyword: user_session
            test/functional/user_sessions_controller_test.rb:78:in 'block in <cla

[2018-06-21 18:14] jywarren commented on #2840
AND - a special request from @SidharthBansal -- in an Incognito window, if you could please test this:

https://publiclab.org/auth/google_oauth2

😄 👍

[2018-06-21 18:18] jywarren commented on #2209
OK - we ended up with an error as documented here: https://github.com/publiclab/plots2/issues/2846

So, should give this another try! Thanks though Vidit! We'll get it i'm sure.

[2018-06-21 18:23] SidharthBansal commented on #2880
Is there anything else failing apart from this test @Souravirus ?

[2018-06-21 18:24] jywarren commented on #2209
OK, given that we had trouble, let's go forward with @icarito's suggestion of `migrate character sets to utf8mb4` -- we'll have to do that in a migration too!

[2018-06-21 18:24] Souravirus commented on #2880
No, only this test as of now.

[2018-06-21 18:31] SidharthBansal commented on #2880
You are trying to pass { } for the hash for rails 5 upgrade and hence they are failing. Am I right?

[2018-06-21 18:43] Souravirus commented on #2880
The passing of parameters from test to controller has changed. So, when I change the way of passing parameters on the line 78 of  `test/functional/user_sessions_controller_test` to
`post :create,
     params: {
     user_session: {
     username: users(:jeff).email,
     password: 'secretive'
      }
 }`,
the test passes. So are we ok with it. Should I send a PR related to this change?

[2018-06-21 18:44] SidharthBansal commented on #2880
Yeah for sure

[2018-06-21 18:44] Souravirus commented on #2880
ok then I am sending a PR

[2018-06-21 18:45] jywarren commented on #2824
This is causing a lot of trouble!! It fails often. @icarito @publiclab/reviewers if you have any ideas, or could do some research, that'd be great!

[2018-06-21 18:45] SidharthBansal commented on #2880
Great

[2018-06-21 18:45] jywarren commented on #2824
Maybe the Debian Stretch update will help... https://github.com/publiclab/plots2/pull/2865

[2018-06-21 18:47] #2811 closed

[2018-06-21 18:47] SidharthBansal opened #2882 "rake db:migrate fails"
On recent git pull, when I tried to run tests, I was asked to run the pending migrations.
Upon running the pending migrations I got the following error

  class AddCommentViaColumnToComment < ActiveRecord::Migration[4.2]
....

I suppose this error is due to rails upgradation as indicated https://github.com/RolifyCommunity/rolify/issues/444 @Souravirus .
Can you please change the Migrations accordi

[2018-06-21 18:49] #2662 closed

[2018-06-21 18:58] jywarren commented on #2880
Oh wow, great work!

[2018-06-21 19:09] #2880 closed

[2018-06-21 19:12] jywarren commented on #2838
😄 awesome!

[2018-06-21 19:18] jywarren opened #2884 "Submit on editing answers and comments shows a 404 error"
### Please describe the problem (or idea)

[code]

I think this may be a Rails 5 upgrade routing issue -- @Souravirus would you mind taking a look? Thanks!!!

[2018-06-21 19:19] #2799 closed

[2018-06-21 19:20] jywarren commented on #2840
... did it work???

[2018-06-21 19:31] jywarren commented on #2824
Hmm, i just saw this on https://travis-ci.org/publiclab/plots2/builds/395173961 so I think it wasn't resolved... too bad!

[2018-06-21 19:33] Souravirus commented on #2882
ok checking this bug. Thank you for reporting @SidharthBansal

[2018-06-21 19:34] Souravirus commented on #2884
Yeah behind this error

[2018-06-21 19:36] jywarren commented on #2871
I'd also love to see the new emoji autocomplete added to with autocompleting usernames with @ and tags with # -- one PR for each.

could be interesting for @cheneyshreve with @ViditChitkara's help perhaps...

It'd mirror the implementation here: https://github.com/publiclab/plots2/pull/2832

The requests it sends would also be great to pull from the API -- maybe @stefannibrasil and @milaaraujo wou

[2018-06-21 19:37] jywarren commented on #2871
![](https://user-images.githubusercontent.com/22616017/41511087-f06cc192-728d-11e8-9757-d3dce44aed04.jpg)

[2018-06-21 19:37] Souravirus commented on #2882
can you paste the whole @SidharthBansal

[2018-06-21 19:39] #2781 closed

[2018-06-21 19:39] #2878 closed

[2018-06-21 19:48] cheneyshreve commented on #2871
Thanks @jywarren I'd love to work on this!

[2018-06-21 20:08] Souravirus opened #2886 "Error in posting comment on questions"
Posting comments on questions is showing an error.
Here is the screenshot
![screenshot from 2018-06-22 01-37-51](https://user-images.githubusercontent.com/17192149/41742883-fb980e0a-75bc-11e8-8915-7008b38dd04b.png)
@jywarren have a look

[2018-06-21 20:11] Souravirus commented on #2884
Yeah editing answers is a routing error. Submitting a PR soon

[2018-06-21 20:14] Souravirus commented on #2886
This also is a routing error. Fixing This

[2018-06-21 20:14] SidharthBansal commented on #2882
[code]

[2018-06-21 20:16] Souravirus commented on #2882
ok thanks

[2018-06-21 20:36] #2886 closed

[2018-06-21 21:18] jywarren opened #2889 "Don't allow newcomers to make/edit wiki pages until they've 1 question/post/note/activity approved"
This still needs some more specific design thoughts -- something like:

* [x] a lock icon where the wiki edit tab is, for newcomers, and
* [x] have it popup a tooltip saying `Please post a question or other content before editing the wiki. Click to learn why.` or something.
* [ ] a rerouting of /wiki/new or the new wiki form to the dashboard with a similar friendly message alert for newcomers.

Th

[2018-06-21 21:30] Gauravano commented on #2889
I would love to solve this

[2018-06-21 21:34] SidharthBansal opened #2891 "Wrong number of likes on wiki pages"
### Please describe the problem (or idea)
![image](https://user-images.githubusercontent.com/20972099/41746640-b7de1310-75c8-11e8-9b99-c59988ec6d59.png)
![image](https://user-images.githubusercontent.com/20972099/41746655-c5dad78c-75c8-11e8-8ff6-0a908f2ecd38.png)
The list shows there are 7 people who like open call wiki page but the number shows 12.

Number of likes should be same as number of use

[2018-06-21 21:35] Gauravano commented on #2667
Yes, you are right @jywarren. I will update my PR. Thanks.

[2018-06-21 21:35] SidharthBansal commented on #2891
Most probably this issue is related to banned users. Count should decrease if the user is banned.
Right now I am too busy with the OAuth project so I will love if anyone else can solve this one out.

[2018-06-21 21:37] SidharthBansal commented on #2889
Great idea.

[2018-06-21 21:51] jywarren commented on #2889
Please go for it! I don't think it's too complex a project. Maybe good for some newcomers, in parts, ironically?

[2018-06-21 22:18] SidharthBansal commented on #2840
I tried it is working fine. I am able to log in, log out, delink the provider, link up the provider, sign in properly.
How is it with @publiclab/soc ?

[2018-06-21 22:29] SidharthBansal opened #2892 "Google Provider OAuth settings for development"
We have completed Google OAuth provider settings on
* unstable.publiclab.org
* stable.publiclab.org
* publiclab.org
The following are left so that the developers can use it in development
* [ ] localhost:3000(http connection)
* [ ] localhost:3001(https connection)
We are moving from the conversation of #2771 to here.
 @jywarren Can you please make the changes to the Google developers app as you in

[2018-06-21 22:33] stefannibrasil commented on #2840
Yeah, me too, amazing! :tada:

[2018-06-21 22:38] jywarren commented on #2892
Just did it, i believe!

[2018-06-21 22:38] jywarren commented on #2892
Can u check and close this if it works? Thanks @SidharthBansal !!!

[2018-06-21 22:38] #2850 closed

[2018-06-21 22:57] SidharthBansal commented on #2892
Sorry, it is not working
``Missing Required Parameter: client_id``

[2018-06-21 22:58] SidharthBansal commented on #2892
Is it working in your browser @jywarren for both ports ``3000`` and ``3001``

[2018-06-21 23:04] pdurbin commented on #2876
@jywarren I forgot about Build Me Up! 😄

[2018-06-21 23:04] #2876 closed

[2018-06-21 23:07] jywarren commented on #2892
I think it's the domain verification -- but we can't verify localhost...
maybe look around for how this ought to work? Were you able to add these
for your own API account?

On Thu, Jun 21, 2018 at 6:59 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-06-21 23:12] SidharthBansal commented on #2892
I don't require any ``privacy policy`` nor ``domain verification`` for the ``3000`` and ``3001`` port.
I just need the ``People connect`` api which is for sure enabled in the app created by you.

[2018-06-21 23:13] SidharthBansal commented on #2892
Can you please verify them
![image](https://user-images.githubusercontent.com/20972099/41749918-d232d350-75d6-11e8-8df3-8d1ed3dd3350.png)

[2018-06-21 23:18] jywarren commented on #2892
![screen shot 2018-06-21 at 7 17 28 pm](https://user-images.githubusercontent.com/24359/41750049-c847bc4c-7587-11e8-92c4-f0eff599b9bc.png)

[2018-06-21 23:22] SidharthBansal commented on #2892
Is it working on your localhost?
Can we change this app_id and app_secret to my app_id and app_secret to check it in development first?

[2018-06-21 23:28] SidharthBansal commented on #2892
Yeah I saw that there is testing key for ReCaptcha working with localhost

[2018-06-21 23:34] SidharthBansal commented on #2892
No there are not.
I was thinking that first we can change the app_id and app_secret in the jenkins to my app_id and app_secret and see whether we are able to configure google login on localhost or not on both my laptop and yours.

If we will not be able to configure it ,that will mean that we can't have same id for all developers

 if we both will be able to log in via google provider that means,

[2018-06-21 23:36] SidharthBansal commented on #2892
I have sent you app_id and app_Secret on jeff@publiclab.org.

[2018-06-21 23:41] jywarren commented on #2819
We either leave them as they are, or we moderate them (locking them out) or
we ban them (similar but for spammers). Yeah, deletion would be great...

On Sun, Jun 17, 2018 at 2:13 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-06-21 23:42] SidharthBansal commented on #2892
Ok. You take rest. We can continue it later.

Yeah sure. Thanks

[2018-06-21 23:46] SidharthBansal commented on #2819
I will create multiple issues for this issue like
* Deletion of inactive users for more than 5yrs
* User account deactivation: This will result in deletion if account is not logged in for an year.
* User Deletion: User is willing to permanently delete his account.

Any other subissue?

[2018-06-22 00:33] SidharthBansal commented on #2892
Also the form which is rendered inside the signup form says that ReCaptcha is not used in development
https://github.com/publiclab/plots2/blob/608ee10f708eba524581db62cd211fbfd5d60cb7/app/views/users/_form.html.erb#L60-L88

[2018-06-22 00:55] SidharthBansal opened #2893 "Twitter Provider App Settings"
This is for future reference for Twitter Provider in OAuth Login Project.
This is part of checklist #2676 's Twitter Provider.
A few points:
* Twitter app is not functional in the insecure version of development mode. That is, Twitter works only on https(http+ssl by openssl gem) in development. We use port no ``3001`` for https connection
* We can't use https://localhost:3001 in case of Twitter. I

[2018-06-22 01:07] SidharthBansal commented on #2893
Please don't get dishearted if you log in via twitter from https://127.0.0.1:3001/auth/twitter and you see you are not logged in at public labs. Check the url. It will be https://localhost:3001/
You are actually logged in on https://127.0.0.1:3001 but not on https://localhost:3001.
So check it on https://127.0.0.1:3001

[2018-06-22 01:39] SidharthBansal commented on #2867
``OAUTH2 Error`` is produced if we have any old gem out of following
* gem `omniauth`
* gem `facebook-omniauth`

[2018-06-22 01:41] SidharthBansal commented on #2867
Facebook works only on `3001`(https) in development

[2018-06-22 09:56] namangupta01 opened #2894 "Getting mysql error while processing emails through mailman"
After starting mailman server for receiving incoming mails getting an mysql error while processing mails in modals:
[code]
View logs at : https://stable.publiclab.org/mailman.log

[2018-06-22 09:59] namangupta01 commented on #2894
Previous discussion at #2885

[2018-06-22 10:00] namangupta01 commented on #2894
Some notes from #2885 :

Should we also try by including this `puts Rails.env` in mailman_server file for confirming this is loading correct environment.

[2018-06-22 10:00] namangupta01 commented on #2894
Is staging is using production database?

[2018-06-22 12:12] jywarren commented on #2894
It's using a copy of it!

How does mailman get the rails environment and the right gems?

On Fri, Jun 22, 2018, 6:01 AM Naman Gupta <notifications@github.com> wrote:

[2018-06-22 12:53] namangupta01 commented on #2894
As said in the discussion in https://github.com/mailman/mailman/issues/141
mailman is managing for it in:  https://github.com/mailman/mailman/blob/ea6ed20de9b6cbfdfc4f7556eefdd3822bccd316/lib/mailman/application.rb#L60

[2018-06-22 13:35] jywarren commented on #2894
@icarito will this gem have access to the right environment from this
container? Maybe we need to point it at the right MySQL container and
environment variables?

On Fri, Jun 22, 2018, 8:54 AM Naman Gupta <notifications@github.com> wrote:

[2018-06-22 14:19] namangupta01 commented on #2894
I am going to make a pr which will print the environment it is accessing so
that we can further figure out what to be done.

On Fri, Jun 22, 2018 at 7:06 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-06-22 17:01] jywarren commented on #2884
Solved in #2887

[2018-06-22 17:01] #2884 closed

[2018-06-22 18:40] cheneyshreve commented on #2871
Per your comment yesterday @jywarren about wanting  new emoji autocomplete added to with autocompleting usernames with @ and tags with # -- one PR for each.

@ViditChitkara,@namangupta01, @jywarren let me know if you want me to open a new issue or how to proceed. Just let me know where I can be most helpful and I'll get to work, thanks :)

[2018-06-22 18:48] jywarren opened #2895 "Error when posting comments on question pages"
Possibly related to Rails 5 upgrade and route changes... similar to #2884 and @Souravirus's fix at #2887

Reported by @steviepubliclab !

[2018-06-22 18:54] Souravirus commented on #2895
Yeah same error which I posted on #2886 it will be corrected by fix on #2887

[2018-06-22 18:54] jywarren opened #2896 "Merge commenting/answering interfaces to reduce redundancy"
and make the code more maintainable! This will also bring the new comment emoji system to Questions and Answers.

The basic comment form is here:

https://github.com/publiclab/plots2/blob/master/app/views/comments/_form.html.erb

But Questions have their own style comments. It's cool, but I think we should merge these for consistent UI and easier maintenance:

https://github.com/publiclab/plots2/b

[2018-06-22 18:57] jywarren commented on #2895
Indeed!

`https://publiclab.org/comment/create/16551?type=question&body=Testing!&_=1529693424592 404 (Not Found)`

[2018-06-22 18:57] jywarren commented on #2895
OK, i'll merge that and we'll see!

[2018-06-22 18:57] ViditChitkara commented on #2871
@cheneyshreve sure, you may create a new issue for either one of them and start working on them, we would be happy to help. As suggested by @jywarren , it would have a similar implementation as emoji Auto complete #2832 . Currently it's implemented for comments only, which could be expanded to answers as well as notes.

[2018-06-22 18:57] Souravirus commented on #2895
Yeah @jywarren

[2018-06-22 19:02] jywarren commented on #2895
working on that now

[2018-06-22 19:27] jywarren commented on #2894
1. Great. You can push it to `unstable`.
2. Also you might look at whether it's running in production.
3. you might also look in the mailman gem's issue tracker for the word 'environment' or 'mysql'

[2018-06-22 19:27] jywarren commented on #2894
and @icarito may be able to help too!

[2018-06-22 19:28] Souravirus commented on #2895
is there a need for tests for the changes done?

[2018-06-22 19:34] jywarren commented on #2895
Tnx for your help!!!!!

On Jun 22, 2018 3:29 PM, "Sourav Sahoo" <notifications@github.com> wrote:

is there a need for tests for the changes done?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/plots2/issues/2895#issuecomment-399556856>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AABfJ_c

[2018-06-22 19:34] icarito commented on #2894
Hi @namangupta01 , @jywarren I just checked the docker-compose-*.yml files.
I noticed this line is necessary for mailman or any other container to find the database:

    network_mode: "host"

Like this: https://github.com/publiclab/plots2/blob/master/containers/docker-compose-production.yml#L5

It needs to go within the "mailman" container. This will tell Docker to launch the container within the

[2018-06-22 19:36] namangupta01 commented on #2894
Wow! So this will solve our problem i guess.

[2018-06-22 19:36] namangupta01 commented on #2894
making a pr for this.

[2018-06-22 19:37] icarito commented on #2894
thank you!

[2018-06-22 19:37] jywarren commented on #2894
♥️♥️

On Jun 22, 2018 3:35 PM, "Sebastian Silva" <notifications@github.com> wrote:

Hi @namangupta01 <https://github.com/namangupta01> , @jywarren
<https://github.com/jywarren> I just checked the docker-compose-*.yml files.
I noticed this line is necessary for mailman or any other container to find
the database:

network_mode: "host"

Like this:
https://github.com/publiclab/plots2/blob/master/cont

[2018-06-22 19:43] namangupta01 commented on #2894
Done in  #2897. Let's see!

[2018-06-22 19:44] namangupta01 commented on #2894
Pushing to unstable.

[2018-06-22 19:54] jywarren commented on #2894
I'll merge when it passes bc I didn't set up unstable mailbox

On Fri, Jun 22, 2018, 3:44 PM Naman Gupta <notifications@github.com> wrote:

[2018-06-22 19:56] namangupta01 commented on #2894
and i am waiting for the mail to be received 😂😂😂 okay then! 👍

[2018-06-22 19:59] jywarren commented on #2894
I'm about to take off on a plane so apologies I'll soon go dark but ill try
to get this moving late tonight or tomorrow morning!

On Fri, Jun 22, 2018, 3:57 PM Naman Gupta <notifications@github.com> wrote:

[2018-06-22 20:01] namangupta01 commented on #2894
Sure! 👍

[2018-06-22 20:10] namangupta01 commented on #2894
Just to let you know tests passes #2897

[2018-06-22 20:16] namangupta01 commented on #2894
Same error! @icarito any idea?

[2018-06-22 20:32] icarito commented on #2894
yes i was thinking it'll need RAILS_ENV too! hope that helps!

El viernes, 22 de junio de 2018, Naman Gupta <notifications@github.com>
escribió:

--
Sebastian Silva
http://somosazucar.org/

[2018-06-22 20:39] namangupta01 commented on #2894
Yes the discussion here was also saying this mailman/mailman#141.
Made a pr #2899 . Let's see!

[2018-06-22 21:32] namangupta01 commented on #2891
@imacubsfan23 Go ahead!

[2018-06-23 00:28] imacubsfan23 opened #2901 "install_cloudnine.sh not working"
This happened because the install_cloudnine.sh was not updated along with the recent gemfile update to rails 5.1. More importantly, it means that I can't run `rails s -b $IP -p $PORT` on cloud9 while trying to fix another issue.

[2018-06-23 06:28] Gauravano commented on #2889
Breaking this issue in FTO's. Thanks.

[2018-06-23 07:59] first-timers[bot] opened #2904 "Update "learn more" link near draft checkbox"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-06-23 13:40] Gauravano opened #2905 "Editing of research note giving 500"
Saving an edit to the research note is throwing error 500. Logs for the same are

![logs](https://user-images.githubusercontent.com/20878070/41810248-1a6b5b72-7719-11e8-9cf5-1905f3e652e7.png)

[2018-06-23 16:49] Gauravano commented on #2840
Its working @SidharthBansal. Awesome work!

[2018-06-23 16:53] Gauravano commented on #2667
Hey @jywarren , I updated my PR with slug to save the secret token and also changed alert to prompt. Please review it. Thanks!

Also, please comment about the "Generate secret URL" button and prompt text. Thanks again!

![prompt_using_slug](https://user-images.githubusercontent.com/20878070/41811787-f848e0c6-7733-11e8-89a4-9d6da72d8079.png)

[2018-06-23 17:27] Gauravano commented on #2088
Working on this one!

[2018-06-23 17:31] #2882 closed

[2018-06-23 17:33] namangupta01 commented on #2840
Hello everyone! This week we have deployed mailman reply-by-email work on stable to test out the features. We are receiving emails but there are coming some error while connecting mailman service to db. But we will figure it out soon. And hope we will going to see this feature live soooon. 😄

[2018-06-23 17:40] Gauravano commented on #2840
That's great @namangupta01 !

[2018-06-23 17:56] jywarren commented on #2905
Hmm, looks like we need to fix the reference to the template for updating
in the notes controller. Thanks for reporting!!

On Sat, Jun 23, 2018, 6:41 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-23 17:58] Gauravano commented on #2905
@jywarren , I submitted the fix at #2906

[2018-06-23 18:37] jzabala commented on #2904
Hi, after taking a course about contributing to open source I would like to make my first contribution to a real project.

Can I take this one?

[2018-06-23 18:38] namangupta01 commented on #2904
@jzabala Go ahead 👍

[2018-06-23 18:50] jywarren commented on #2667
Let's name the button "share private link" and put it in the alert?

[2018-06-23 18:51] jywarren commented on #2667
And "with which" instead of "using which" -- and then this looks good!

[2018-06-23 19:00] Gauravano commented on #2667
@jywarren putting button in an alert?

[2018-06-23 19:01] Gauravano commented on #2667
Do you mean notice?

[2018-06-23 19:41] Gauravano commented on #2667
Here's the updated view

![pic_draft](https://user-images.githubusercontent.com/20878070/41813038-8502ef7c-774b-11e8-9785-4d7c8a8b4820.png)

[2018-06-23 21:03] cheneyshreve commented on #2871
Thank you, @ViditChitkara I will create a new issue.

[2018-06-24 16:09] SidharthBansal commented on #2840
That's awesome @namangupta01

[2018-06-24 16:29] #2851 closed

[2018-06-24 16:31] #2848 closed

[2018-06-25 01:49] shapironick opened #2910 "Allow users to unsubscribe from notifications from notes they've commented on"
Just a thought! I've been getting comments on this one note that I commented on years ago that I'm no longer interested in and I have no way (that I'm aware of) to unsubscribe from receiving notifications. Its only been 18 comments but they come in every couple of months and which I could turn them off w/o just deleting my account. thanks and sorry if i'm missing something!

[2018-06-25 01:58] Gauravano commented on #2910
Hi @shapironick, this issue is on our checklist this summer and we would try to resolve it sooner. Thanks for reporting!

[2018-06-25 11:37] namangupta01 commented on #2840
Hi all, I will do this week check-in. Will open in a while. Thanks!!!!!

[2018-06-25 12:16] #2840 closed

[2018-06-25 12:30] namangupta01 opened #2911 "Community Check-in #6 Summer Of Code Week 7"
Hi everybody 👷 !
If you're new here, welcome, and please [try some of our first-timers-only issues](https://publiclab.github.io/community-toolbox/#r=all). This is a checklist for publiclab/soc.

@stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @ViditChitkara @tech4GT @mridulnagpal @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @ccpandhare @icarito @abTest-123 @steviepubliclab

[2018-06-25 12:35] namangupta01 commented on #2840
Moved to #2911

[2018-06-25 13:12] namangupta01 commented on #2911
In case if you want to test, here is a mail template that you can use.
Note: We are sending mail here manually adding node_id in subjects because `unstable` don't have mail sending facility.
So the steps are:
mailto: `notifications-unstable@publiclab.org`
subject: `some text (#213)`
content: anything you want

This will add the comment to node_id 213 which you can check at : https://unstable.publi

[2018-06-25 13:48] SidharthBansal commented on #2911
Hi all, the Google Provider is completed. I have completed the configuration settings of Github. Whenever @jywarren will be free he will create the github app(#2856) and /auth/github will be functional from then.
I have completed the tests for Github provider. I will send the patch this week.
Once @jywarren and I are done with #2856 I will send the prs for Twitter provider.
Thanks

[2018-06-25 16:26] cheneyshreve01 opened #2913 "Add autocompleting usernames with @ symbol"
### Please describe the problem (or idea)

As a part of making the markdown editor more friendly, this will add autocompleting usernames with @
Implementation will be similar to emoji Auto complete #2832 

[2018-06-25 17:23] imacubsfan23 commented on #2891
Where can I check if the user is banned? Can't seem to find it anywhere

[2018-06-25 17:39] Gauravano commented on #213
hi @jywarren, I can include all the above-mentioned items of the checklist on the Settings page, could you please suggest relevant tag names for each. Thanks.

[2018-06-25 22:00] #2852 closed

[2018-06-25 22:06] #2904 closed

[2018-06-25 22:13] #2905 closed

[2018-06-25 22:22] SidharthBansal commented on #2824
I usually get the following error which is resolved by rebuilding Travis

[2018-06-25 23:06] SidharthBansal opened #2917 "Sidebar should properly show Recent Wiki Pages"
### Please describe the problem (or idea)
The sidebar doesn't show Recent Wiki Pages on publiclab.org/wiki/requests but shows an option ''More''
![image](https://user-images.githubusercontent.com/20972099/41880214-8656efc6-78fa-11e8-96c1-7ee441ec8cc9.png)

It should show recent wiki pages

[2018-06-25 23:10] imacubsfan23 commented on #2891
Warning: long explanation. Overall I'm just curious if I should comment this code or delete it. Please leave your thoughts

Here's what I found:

When I found that the like-count was changing from the correct value to twice the amount every time, I knew that it must have been counting twice (or at least getting replaced incorrectly in another place)

In the like/_like.html.erb:
The ruby code that

[2018-06-25 23:11] SidharthBansal commented on #2866
This issue needs to be tackled once we are completed with backend for all 4 providers

[2018-06-25 23:17] SidharthBansal commented on #2891
When you comment out these lines, are the number of lines right? Try for 5-6 users.

In the page where I found this bug shows 7 in the list but count as 12 that means we still have any other error.

Thanks for the catch.

[2018-06-25 23:18] namangupta01 commented on #2671
@jywarren As email feature is almost complete we could discuss over it?

[2018-06-25 23:20] SidharthBansal commented on #2891
No need to be scared before posting here. We all are here to help and learn. Feel free to ask help from any member of @publiclab/soc or @publiclab/reviewers

[2018-06-25 23:32] SidharthBansal opened #2919 "RuboCop CI addition to plots2"
Let's add RuboCop Continuous Integration to plots2 so that the code is as per the ruby guide.

[2018-06-25 23:34] namangupta01 commented on #2894
Done in #2912

[2018-06-25 23:34] SidharthBansal commented on #2919
@siaw23 @jywarren currently we have ``193 rubocop offences``. I think we can solve this in the prs itself after the rubocop ci addition to plots2

[2018-06-26 04:18] Gauravano opened #2920 "Section for Drafts OR Inclusion in current tabs"
Hi @publiclab/community-reps,

Based on the question raised by a Public Lab user here https://publiclab.org/questions/Delaney/06-25-2018/how-to-retrieve-a-draft-of-a-research-note-on-pl-org

I guess we need to make drafts more accessible to users, currently, drafts can only be accessed by the user only through their dashboard.

We can opt one of the two options:-

1. Adding a new tab for Draft not

[2018-06-26 04:55] first-timers[bot] opened #2921 "Don't allow newcomers to make/edit wiki pages"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-06-26 04:57] Gauravano commented on #2889
First FTO at #2921

[2018-06-26 05:16] Gauravano commented on #2889
The second one requires some test modification too, so I will do the other minor. @jywarren I have given this link https://publiclab.org/notes/tester/04-23-2016/new-moderation-system-for-first-time-posters in the FTO, please verify if the link is appropriate in this case or not. Thanks.

[2018-06-26 13:46] Gauravano commented on #2378
On it with vidit

[2018-06-26 13:46] jywarren commented on #2889
yes, that sounds great!

On Tue, Jun 26, 2018 at 1:17 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-26 14:16] Souravirus commented on #2911
Hi everyone, we are currently at rails 5.1.15. Though the routing problems and some other rendering problems persisted this week but we are trying to get rid of these problems as soon as possible. Sorry for the inconvenience. Also thanks for giving information about these issues.

[2018-06-26 15:15] jywarren commented on #2891
Hi! Does the JavaScript code that seems redundant get used at any later time, such as, upon clicking the like button? If not, then I think we can delete it. Good catch!

[2018-06-26 15:17] jywarren commented on #2919
I wonder if we could:

1. start with more relaxed rubocop rules so we don't see as many at first (so it's less overwhelming to new people seeing the errors)
2. have it generate `first-timers-only` issues for these, but at some reasonable pace (not all at once as we couldn't be supportive of that many people at once!)

What do you think?

[2018-06-26 15:18] jywarren commented on #2919
@ryzokuken - you'd been interested in this! I'm also curious.

@SidharthBansal can you link to the RuboCop CI and also describe how it'd work?

@siaw23 was mentioning that somehow RuboCop could automatically fix things. I haven't been able to dig out info on that but if there's a link we could look at, that sounds interesting!

[2018-06-26 15:19] jywarren commented on #2671
I'll look to block out some time on this in a day or two... thank you!
Trying to get all the big features fully up and running before moving on.
Thanks!

On Mon, Jun 25, 2018 at 7:18 PM Naman Gupta <notifications@github.com>
wrote:

[2018-06-26 15:22] jywarren commented on #2452
This was completed by @cheneyshreve in #2452 - thanks!!!

I'm thinking about how we could get checkboxes to be editable as in GitHub. Could we break out some steps for that here?

* [ ] a javascript listener for each checkbox
* [ ] an AJAX request to edit the page and replace the checkbox with a checked/unchecked version?

It could use this code, for wikis:

https://github.com/publiclab/plots2/blo

[2018-06-26 15:26] #2656 closed

[2018-06-26 15:31] jywarren commented on #2917
Hi, I think we may be able to remove it in line with https://github.com/publiclab/plots2/issues/1706

or make it collapsible in line with https://github.com/publiclab/plots2/issues/2493

Thanks!

[2018-06-26 15:45] jywarren commented on #2667
Oops, yeah - you got it. Maybe just "This is a draft note. Once you're
ready, click [Publish] to make it public. You can share it with
collaborators [using this private link]" ?

Exciting!!

On Sat, Jun 23, 2018 at 3:42 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-26 15:58] #2277 closed

[2018-06-26 16:07] jywarren commented on #2911
Hi all! I'm hoping to deploy new code today and get the Google login button and the reply-by-email code live! :-)

[2018-06-26 16:44] Gauravano commented on #2921
Sure @seely1991 ! Thanks for helping :smiley:

[2018-06-26 17:06] jywarren commented on #213
This sounds great. Can you suggest a first draft list and I can provide some edits or suggestions?

[2018-06-26 17:14] imacubsfan23 commented on #2891
I tested for 12 users, and banned 5 of them. Without the jQuery code, it works perfectly.
Also to respond to jywarren, it does not get used for any purpose other than this.
Next step is to send a pr.
Also, thanks for all of the responses guys! This community is awesome.

[2018-06-26 17:40] #2894 closed

[2018-06-26 18:40] jywarren opened #2924 "explore long term accessibility improvement workflows"
Just as we're working on overall maintainability improvements in a slow but sustainable way, we could use the same planning approach to work on accessibility issues. Here's a resource but let's collect more!

https://developer.mozilla.org/en-US/docs/Tools/Accessibility_inspector

[2018-06-26 18:46] SidharthBansal commented on #2891
Great go ahead
Thanks

[2018-06-26 18:58] jywarren commented on #2891
Awesome, just ping us when you'd like a review!

[2018-06-26 19:09] SidharthBansal commented on #2856
I am done with github provider. Whenever you get time you can make github app.
Thanks

[2018-06-26 19:11] SidharthBansal commented on #2917
OK great. Then we shall close this one once either #1706 or @2493 is completed

[2018-06-26 19:14] SidharthBansal commented on #2493
@marzann  are you having any trouble with this one?
We can help if you are trapped somewhere.
Thanks

[2018-06-26 19:37] SidharthBansal commented on #2919
Link https://github.com/ad2games/rubocop-ci
Right now I am studying about RuboCop CI. I will be happy to ping you guys once I understand it fully.
Thanks

[2018-06-26 22:00] jywarren commented on #2856
OK, so i should make multiple apps, one for each environment, like localhost:3000, stable, unstable...?

[2018-06-26 22:01] jywarren commented on #2856
And what env variable name should I use? `OAUTH_GITHUB_APP_KEY` and `OAUTH_GITHUB_APP_SECRET`?

[2018-06-26 22:01] SidharthBansal commented on #2856
Yeah.

[2018-06-26 22:06] jywarren commented on #2856
Are the localhost ones really necessary? Could people build those themselves?

[2018-06-26 22:07] jywarren commented on #2856
The others are done and installed on Jenkins and production though!

[2018-06-26 22:07] SidharthBansal commented on #2856
localhost ones can be made by developers.

[2018-06-26 22:08] SidharthBansal commented on #2856
Have you completed the github developer apps settings?

[2018-06-26 22:08] SidharthBansal commented on #2856
But the feature will not be present in localhost. Developers will not be able to login and logout via providers

[2018-06-26 22:09] jywarren commented on #2856
Yes i think so!

[2018-06-26 22:12] SidharthBansal commented on #2856
No they are not.
@jywarren this is Github issue. I think you are talking about #2892.

The link stable.publiclab.org/auth/`github` is not functional

[2018-06-26 22:12] SidharthBansal commented on #2856
Can we first finish up #2892 and then jump into this.

[2018-06-26 22:13] jywarren commented on #2856
No, i just set it all up for GitHub going through the steps above. But I haven't pushed to stable since this morning; i can now.

[2018-06-26 22:15] SidharthBansal commented on #2856
Ok. Let's push there and see.

[2018-06-26 22:19] SidharthBansal commented on #2856
Hurray
![image](https://user-images.githubusercontent.com/20972099/41942415-0766a080-79bd-11e8-8924-262ea81dccac.png)
It is working fine on stable

[2018-06-26 22:21] SidharthBansal commented on #2856
@jywarren I guess you wrote your name instead of Public lab.
Github asks to sign in ``jywarren`` instead of ``public lab``.
Can you please change that?
Thanks

[2018-06-26 22:28] jywarren commented on #2856
it works!

[2018-06-26 22:28] jywarren commented on #2856
Ah oops!

[2018-06-26 22:29] jywarren commented on #2856
how about now?

[2018-06-26 22:30] SidharthBansal commented on #2856
stable working fine
unstable bad gateway error
pl.org not functional

[2018-06-26 22:32] jywarren commented on #2892
Well, I guess I'm not sure what we can do here. The settings are created but localhost is not working - possibly due to domain verification which we cannot do for `localhost`. See the settings in this comment: https://github.com/publiclab/plots2/issues/2892#issuecomment-399272713 -- what else is left that we could try?

As to the environment variables, you can insert them at run time locally by do

[2018-06-26 22:32] jywarren commented on #2856
It's not published to production yet -- and not to unstable, but you can push it there!

[2018-06-26 22:33] jywarren commented on #2856
publishing to production now

[2018-06-26 22:33] SidharthBansal commented on #2856
All the changes are in now in master branch as all of them are merged. So, for the unstable shall I force push the master branch?

[2018-06-26 22:37] SidharthBansal commented on #2892
Is the app_id and app_secret for #2892 (comment) is working on your localhost?
If not can you please check it with the app_id and app_secret which I have sent you on jeff@publiclab.org
My app_id and app_secret is working on localhost which I have sent you.

I think this can help to troubleshoot a little bit

[2018-06-26 22:41] SidharthBansal commented on #2856
Pushing to unstable

[2018-06-26 22:44] SidharthBansal commented on #2856
Unstable shows 502 Bad Gateway

[2018-06-26 22:47] SidharthBansal commented on #2892
Localhost does not require any domain verification but the websites does. So, in the app_id and app_secret which I have sent you. I have not done any domain verification.

[2018-06-26 22:50] SidharthBansal commented on #2856
We are done with unstable
![image](https://user-images.githubusercontent.com/20972099/41943541-6e22a95a-79c1-11e8-9df8-789c2667263e.png)
Thanks @jywarren

[2018-06-26 23:00] SidharthBansal commented on #2856
![image](https://user-images.githubusercontent.com/20972099/41943822-b10bf978-79c2-11e8-8d4b-38cf566dcb75.png)
We are done with PL.org
Thanks a lot @jywarren

[2018-06-26 23:01] #2762 closed

[2018-06-26 23:06] SidharthBansal commented on #2856
Now we are back to localhost:3000 and localhost:3001.
What do we need to do for them?
I will suggest that the developer should create their account themselves OR we can make an app for the developer. Here we don't have to do any ``domain verification ``as we did in case of Google. So, this will be pretty simple.

[2018-06-26 23:09] SidharthBansal commented on #2892
Localhost does not require any domain verification but the websites does. So, in the app_id and app_secret which I have sent you. I have not done any domain verification.

[2018-06-26 23:12] jywarren opened #2928 "Emoji in reply-by-email"
First, want to say that reply-by-email is AWESOME!!!!!!!

One small thing -- I tried sending a 🎉 in reply by email and got this error:

[code]

[2018-06-26 23:14] jywarren commented on #2892
It's a bit late here, but I will try tomorrow, thanks!

On Tue, Jun 26, 2018 at 7:09 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-06-26 23:15] jywarren commented on #2856
But we can also provide documentation for how to set it up.

[2018-06-26 23:15] jywarren commented on #2856
Let's for the time being ask the developer to do it for themselves. I think
that's reasonable -- if we find we need to do a lot more work on them,
maybe we can change our minds. What do you think?

On Tue, Jun 26, 2018 at 7:06 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-06-26 23:16] jywarren commented on #2856
yep that's how `unstable` works. Super!

[2018-06-26 23:30] jywarren commented on #214
This is now working! Checklist for remaining parts might be:

* [ ] change sending email from `do-not-reply@` to `notifications@`
* [ ] ensure it doesn't include the reply email content (there can be a lot) below the `...`

Anything else to break out here @namangupta01 ?

[2018-06-26 23:30] SidharthBansal commented on #2856
And
THANKS A LOT for making 3 apps for GitHub provider.

[2018-06-26 23:33] jywarren commented on #2856
I like this idea! OK -- so, should we openly share the app id then?

[2018-06-26 23:33] jywarren commented on #2856
and the secret? I have a localhost:3000 one ready

[2018-06-26 23:35] SidharthBansal commented on #2856
Can you check if jenkins development environment variables can work?
If they can work then it would be best.

[2018-06-26 23:36] SidharthBansal commented on #2856
I mean set up the environment variables for development too as you set up for production. Then we can test.

[2018-06-26 23:38] jywarren commented on #2856
Oh, but we run Jenkins builds in production environment. Ah, you mean temporarily replace them and test it out? Sure, i can do that tomorrow morning. But how would we help people use them locally?

[2018-06-26 23:40] SidharthBansal commented on #2856
Sorry you cannot send your app_secret to anyone. I sent you because I can trust you. And I will delete the app in a week or two when we will finish up with Google completely. But you cannot trust on the new developers

[2018-06-26 23:40] SidharthBansal commented on #2856
I was refering to the way you wrote in https://github.com/publiclab/plots2/pull/2855#issuecomment-398864238

[2018-06-26 23:43] jywarren commented on #2856
That's fine, i just am not sure for whom we are setting up the developer app... are we just testing that it works at all? If we're not distributing a secret key, folks won't be able to try it locally. Sorry if I'm missing something really obvious here!

[2018-06-26 23:46] #2891 closed

[2018-06-26 23:51] SidharthBansal commented on #2856
For the future developers maybe after 3-4 years who will need to change the authentication system for its improvement. I am concerned about future.

Secondly, the developers will be able to log in and log out via localhost:3000 via providers. Otherwise when new developers will try to login via provider they will get errors and they will report them as issues on public lab.

[2018-06-26 23:53] SidharthBansal commented on #2856
They can try it on localhost only if they make their own developer's app. Else they will get errors. I am concerned about those errors.

[2018-06-26 23:55] SidharthBansal commented on #2856
Errors like ``missing client_id`` etc. when they will try to log in via provider.

The existing login system will work on the localhost too for them.

[2018-06-27 00:02] jywarren commented on #2856
Ah, so you would just like to debug the errors one gets when doing this
from localhost?

On Tue, Jun 26, 2018 at 7:55 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-06-27 00:05] SidharthBansal commented on #2892
As discussed in #2856, we will either create one developers app for github provider OR we will write documentation for developer to set up their app locally.

So, @jywarren we are completed with GOOGLE, so no need to try this.
Thanks @jywarren

[2018-06-27 00:05] #2892 closed

[2018-06-27 00:07] SidharthBansal commented on #2856
Yes.

[2018-06-27 00:13] SidharthBansal commented on #2856
One way is to use  ``<% if Rails.env == "production"%>`` for the views. This will not let the developers sign in via provider until they go to localhost:xxxx/auth/:provider. And write documentation for setting up app.
What do you say?

[2018-06-27 00:44] SidharthBansal opened #2929 "localhost doesn't work js errors"
### Please describe the problem (or idea)
I am getting errors on localhost:3000

When I tried to search on stack overflow it shows that it is due to some gems not compatible in Rails 5.
Can @Souravirus help me in debugging this?

[2018-06-27 02:59] jywarren commented on #2929
I think maybe @namangupta01 may!

[2018-06-27 04:36] namangupta01 commented on #2929
I think `bower install` may help?

[2018-06-27 05:10] Souravirus commented on #2929
Yeah @SidharthBansal there are many of these errors while I was upgrading the app to rails 5.2 yesterday. I will be looking at this shortly.

[2018-06-27 11:50] namangupta01 commented on #214
yes we can also figure out if we can somehow write a test for it without using email services like mail file and we can also make function test for `receive_mail`.

[2018-06-27 13:35] namangupta01 commented on #214
Parsing email content depends upon the mail service we are using to do
emails.

On Wed, Jun 27, 2018 at 5:00 AM Jeffrey Warren <notifications@github.com>
wrote:

[2018-06-27 13:36] railsprojects2018 commented on #214
This is github's testing reply parsing

________________________________
From: Naman Gupta <notifications@github.com>
Sent: Wednesday, June 27, 2018 7:05:11 PM
To: publiclab/plots2
Cc: railsprojects2018; Manual
Subject: Re: [publiclab/plots2] reply by email to comments (#214)

Parsing email content depends upon the mail service we are using to do
emails.

On Wed, Jun 27, 2018 at 5:00 AM Jeffrey Wa

[2018-06-27 13:37] namangupta01 commented on #214
@jywarren Above message is send using outlook email id. This message was not parsed correctly. Maybe github is also parsing gmail messages?

[2018-06-27 13:57] namangupta01 commented on #214
This is send by outlook.

On Wed, Jun 27, 2018 at 7:06 PM railsprojects2018 <notifications@github.com>
wrote:

[2018-06-27 14:02] railsprojects2018y commented on #214
This is send via yahooo
    On Wednesday, June 27, 2018, 7:28:02 PM GMT+5:30, Naman Gupta <notifications@github.com> wrote:

 This is send by outlook.

On Wed, Jun 27, 2018 at 7:06 PM railsprojects2018 <notifications@github.com>
wrote:

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-06-27 14:10] namangupta01 commented on #214
Above message is sent via yahoo. So the conclusion is that github only able to parse mails from gmail not other mails this may be because they are not able to trim emails from other services using any sphefic class or something like we were able to do in gmail using `gmail_quote` class.
I think we can also able to do parsing from yahoo by using somewhat class like `yahoo_quoted` but other email se

[2018-06-27 14:17] Souravirus commented on #2929
Yeah `bower install` worked. Thanks @namangupta01!!

[2018-06-27 14:32] jywarren commented on #214
Perhaps there are examples of email quoting from various services that people have collected as a set of test strings? Or we could do the same?

[2018-06-27 14:32] jywarren commented on #214
Also I like how the excess is hidden behind `...`!

[2018-06-27 14:41] namangupta01 commented on #214
Yes @jywarren i didn't find any collection but i am already collecting.

[2018-06-27 15:56] namangupta01 commented on #214
@jywarren Which of the email services should i collect? gmail, yahoo, hotmail, outlook any more?

[2018-06-27 16:13] jywarren commented on #214
That's probably a good start, and we can expand with peoples' requests
later?

On Wed, Jun 27, 2018 at 11:57 AM Naman Gupta <notifications@github.com>
wrote:

[2018-06-27 16:45] Gauravano commented on #2667
@jywarren we can also generate the sharable link at the time of draft creation and then can show it in notice as you mentioned, instead of "Generate link" button in notice. What do you think?

[2018-06-27 16:48] Gauravano commented on #2667
Also, I have opened an issue at #2920 regarding the display of Drafts, I would like to have your thoughts there @jywarren @steviepubliclab .Thanks!

[2018-06-27 17:56] #2921 closed

[2018-06-27 18:34] Gauravano commented on #213
Tag Names:
1. For direct comments on author's own post -  `comment_direct:true`
2. For indirect comments i.e., on posts where the current user has commented - `comment_indirect: true`
3. Likes on your post - `post_like:true`

How about these @jywarren?

[2018-06-27 18:36] jywarren commented on #213
we could also do `notifications:comment-direct` and
`notifications:comment-direct` and just have non-existence be "off" -- what
do you think? so each one would start with a common prefix of
`notifications:_____`?

On Wed, Jun 27, 2018 at 2:34 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-27 18:37] Gauravano commented on #213
Sounds good to me!

[2018-06-27 18:38] plotsbot opened #2931 "Test ticket from Code Climate"

[2018-06-27 18:38] #2931 closed

[2018-06-27 19:17] railsprojects2018y commented on #214
yes that would be awesome!!!

[2018-06-27 19:18] namangupta01 commented on #214
yeah!!!

On Thu, Jun 28, 2018 at 12:47 AM railsprojects2018y <
notifications@github.com> wrote:

[2018-06-27 19:37] SidharthBansal commented on #2929
It is still showing me error.

[2018-06-27 19:40] Souravirus commented on #2929
can you paste the whole error log?

[2018-06-27 19:46] SidharthBansal commented on #2929
I restarted my laptop.
Now it is working fine

[2018-06-27 19:46] #2929 closed

[2018-06-27 19:48] Souravirus commented on #2929
ok great

[2018-06-27 20:13] namangupta01 commented on #214
for google and yahoo done in pr #2933

[2018-06-27 20:19] namangupta01 commented on #214
gist for outlook mail:
https://gist.github.com/namangupta01/be81b339c7eb71f3046033556e54c8a7
https://gist.github.com/namangupta01/c5c386f15752b9cc168a4b74b21ecb29
not able to generalize the parser for outlook, researching over it....if we find any solution then we can add it...for now we can merge google and yahoo mail parser?

[2018-06-27 20:30] jywarren commented on #2020
I also wonder if this prior suggestion of a different encoding might help? #2209

[2018-06-27 20:32] jywarren commented on #214
sounds great!

On Wed, Jun 27, 2018 at 4:20 PM Naman Gupta <notifications@github.com>
wrote:

[2018-06-27 20:32] namangupta01 commented on #2020
Yes i also remember i commented on the issue to change the encoding but not able to find that issue.

[2018-06-27 20:36] namangupta01 commented on #2020
got the issue...here it is https://github.com/publiclab/plots2/issues/2665

[2018-06-27 21:03] namangupta01 opened #2935 "Change do-not-reply@ to notifications@"
As we now supports `reply-by-email` and for it we have changed our email name to `notifications@`.

[2018-06-27 21:03] #2088 closed

[2018-06-27 21:13] jywarren commented on #2667
That sounds good - one step simpler?

On Wed, Jun 27, 2018 at 12:48 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-27 21:14] jywarren commented on #2920
There are a /lot/ of tabs there. Could we maybe figure out a way to build "coauthored" and "drafts" under "research"? Maybe looking at how it's done with the two subsections of Questions?

But this is really looking good!

[2018-06-27 21:36] #2935 closed

[2018-06-27 22:29] jywarren commented on #2889
Awesome! I updated the checklist above. Great work!

[2018-06-27 22:45] SidharthBansal commented on #2911
Hi all, you can now log in via github to public labs by publiclab.org/auth/github
Thanks

[2018-06-27 22:47] jywarren commented on #2911
Code is live now, I just published once more!

Great work this week, folks! And many thanks for the help with PRs. We are back down under 30.

[2018-06-28 12:35] #2889 closed

[2018-06-28 12:42] jywarren opened #2939 "answer deletion not working"
I wonder if this is a routing issue... I tried to delete this answer and was unable to!

https://publiclab.org/questions/marlokeno/09-20-2017/can-nasa-viirs-data-used-for-disaster-maps#a1056

[2018-06-28 16:30] jywarren opened #2940 "Question comment deletion and answer commenting routes need fixes"
Hi, @Souravirus just found a few more here:

First, deleting a comment on a question showed a 404:

`GET https://publiclab.org/comment/delete/19930?type=question&_=1530203054126 404 (Not Found)`

And updating a comment to a question (not an answer) led to a Page does not exist (404) with this URL: `https://publiclab.org/comment/update/19918?type=question&body=`

Third, I saw an error notice when p

[2018-06-28 16:39] jywarren commented on #2104
Hi, @Gauravano -- does this work on replying to an answer, or to a comment on an answer? I found that perhaps it didn't -- can you give that a try? Thanks!!!

[2018-06-28 16:41] jywarren commented on #2940
And one more!

`/answers/accept/931?_=1530140141188:1 Failed to load resource: the server responded with a status of 404 (Not Found)`

[2018-06-28 16:42] jywarren commented on #2940
The 500 error on posting a comment on an answer was:

[code]

[2018-06-28 16:42] jywarren commented on #2940
Note that the comment-answer was saved, but an error was shown.

[2018-06-28 17:05] jywarren commented on #2940
And one more! Promoting a comment to an answer:

`/comment/make_answer/19246 Failed to load resource: the server responded with a status of 404 (Not Found)`

Sorry there are so many all at once! I just did a careful search. Your new routing tests are AWESOME and will prevent us missing these in the future!

[2018-06-28 17:14] Souravirus commented on #2940
Yeah seeing these one by one @jywarren

[2018-06-28 17:39] Souravirus commented on #2940
Hi @jywarren, the deleting of comment on a question was working fine when I tested. The comment was not deleted at that moment (I don't know if it was supposed to be deleted at that time) but when I reloaded it the comment was deleted.

[2018-06-28 17:42] jywarren commented on #2940
hmm, is there a notificatoin maybe via the new AJAX notifications? And i
think it ought to disappear visibly, even if that means we need to refresh
the page when we perform the deletion.

On Thu, Jun 28, 2018 at 1:40 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-06-28 17:44] Souravirus commented on #2940
No there was no AJAX notification

[2018-06-28 18:05] jywarren opened #2941 "Skylight performance monitoring"
Trying to use Skylight.io, we're seeing an error:

[code]

https://www.skylight.io/support/troubleshooting#e0003 says there's a limit of:

But if it's only on UsersController, I'm not sure why it'd stop all data collection...

[2018-06-28 18:12] Souravirus commented on #2940
yeah I found a routing error on promoting a comment to answer. Sending a PR soon. Also, can you tell me the steps to promote a comment to a question, so that I can test it. Thanks!!

[2018-06-28 18:30] Souravirus commented on #2940
Yeah got the way to test the promoting the comment to questions. Testing it

[2018-06-28 18:35] Souravirus commented on #2940
Also, when I tested promoting comment to a question locally it worked perfectly.

[2018-06-28 18:38] Souravirus commented on #2940
Yeah got a routing error in accepting of the answer. Sending a commit.

[2018-06-28 19:57] jywarren opened #2944 "Some research note pages showing 500 errors"
https://publiclab.org/notes/MaggPi/05-11-2018/raspberry-pi-noir-close-up-imaging

https://publiclab.org/notes/MaggPi/05-21-2018/community-microscope-resolution-test

https://publiclab.org/notes/partsandcrafts/11-26-2017/building-a-raspberry-pi-microscope and it's corresponding post on stable: https://stable.publiclab.org/notes/partsandcrafts/11-26-2017/building-a-raspberry-pi-microscope

https://p

[2018-06-28 20:00] Souravirus commented on #2944
Yeah right checking this

[2018-06-28 21:05] jywarren commented on #2944
oh thanks! I didn't think it's necessarily Rails 5 related... but was quite
mystified!

On Thu, Jun 28, 2018 at 4:01 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-06-28 22:28] jywarren opened #2945 "Various errors from production logs"
Sorry to create a bunch of issues, but as I was searching for the problems with note pages, i happened to see a few 500 errors. Maybe a good start would be trying to reproduce these in a test?

There's an error coming up on production for the tag_controller:

`ArgumentError (no time information in "author"): app/controllers/tag_controller.rb:79:in `show'`

Full trace:

[code]

I also see an emoji-

[2018-06-29 02:44] shouri007 commented on #2298
Hi, I see this issue is still open but the PR seems to be merged on the master branch. Can you please let me know if I can claim this bug if it is still open? Thanks :)

[2018-06-29 04:00] Gauravano commented on #2104
Okay, I will let you know soon.

[2018-06-29 04:13] ViditChitkara commented on #2945
Sure, I'll have a look!

On Fri, Jun 29, 2018, 3:58 AM Jeffrey Warren <notifications@github.com>
wrote:

[2018-06-29 15:28] aamarill commented on #2298
@shouri007  I believe this issue can be closed now. @ViditChitkara can you confirm?
Thanks!

[2018-06-29 15:37] jywarren commented on #2298
I believe that's right -- thank you both!

If you're interested, we have another issue that, although it's not quite a first-timers-only issue, is pretty straightforward. We'd be happy to support you on this:

https://github.com/publiclab/plots2/issues/2493

Thanks! 👍 🎉

[2018-06-29 15:37] #2856 closed

[2018-06-29 15:52] jywarren commented on #2911
Hi, all! @icarito and I are meeting today to work on various issues, and we'll see if we can help with some of the sidekiq issues.

I wanted to ask if someone wants to do next week's community check-in on Monday? @stefannibrasil -- since Monday will be your and @milaaraujo's first day of RGSoC (BIG WELCOME!!! 👍 👍 🎉 ) maybe you'd like to?

And finally, we've been talking a bit about doing another l

[2018-06-29 16:38] sagarpreet-chadha commented on #2582
@jywarren ,  @ebarry

<img width="882" alt="screen shot 2018-06-29 at 9 59 23 pm" src="https://user-images.githubusercontent.com/14952645/42103932-5b5ce154-7be8-11e8-94d6-b6685f3be725.png">

Should we continue this feature to inline maps ?
If we use this plugin which is used here , we cannot search the location(country , city , etc.) .

[2018-06-29 17:14] jywarren commented on #2582
Hmm, I think we could switch it to searching location if that's what you
suggest. People should be able to search for users in the main
PublicLab.org navbar, right?

On Fri, Jun 29, 2018 at 12:39 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-06-29 17:30] jywarren commented on #2939
@Souravirus did we get this one too? Thanks for all your debugging this week!

[2018-06-29 17:32] jywarren commented on #2940
I wasn't able to promote the 2nd comment here to an answer -- do you know why? I'll just reopen this until we can resolve it. Thanks!

https://publiclab.org/questions/marlokeno/09-20-2017/can-nasa-viirs-data-used-for-disaster-maps

[2018-06-29 17:33] jywarren commented on #2893
OK, is this ready to go now and I should set up the app? Thanks!!

[2018-06-29 17:45] ryzokuken commented on #1716
@SidharthBansal I'd honestly recommend that you go with whatever you're more comfortable with, but yeah, completing your current project before jumping onto this sounds good. This is probably going to be a sizable task in itself.

Feel free to ping me whenever you need help with this even if I phase out a bit, I'd love to help out as much as I can.

[2018-06-29 17:45] SidharthBansal commented on #2893
I have sent the patches in #2948 and #2947 which are required before the twitter app setup. After merging them you can set up the app in your free time.

[2018-06-29 17:47] SidharthBansal commented on #2893
Once you will make the app_id and app_secret and place it in jenkins. Please ping me. I will start the tests for Twitter.

[2018-06-29 17:55] SidharthBansal commented on #1716
OK great. Most probably this project will not end in Gsoc period. I will be happy to continue this project even after Gsoc period. :-)

[2018-06-29 17:57] ryzokuken commented on #1716
@SidharthBansal let's try our best and if we still cannot manage to squeeze this in, then so be it.

As I said, if you face any issues or need help with long tasks, feel free to hit me up and I'd jump in. Ideally, we could also do the important parts and decompose the rest as a series of "first timer only" issues.

[2018-06-29 18:07] SidharthBansal commented on #1716
Yeah, I want to finish this up early too as I want to work on other repos of public lab too.

[2018-06-29 18:07] ryzokuken commented on #1716
Feel free to help us maintain plotsbot when you're done!

[2018-06-29 18:28] Souravirus commented on #2939
Yeah see this. It would be helpful if you can post the full error log. Thank you!!

[2018-06-29 18:38] Souravirus commented on #2945
Hi @jywarren, for the first error I have found a fix. Actually the thing was some other routes which has quite similar regex was being taken than the correct route. So, I repositioned the routes above that route.

[2018-06-29 18:41] Souravirus commented on #2939
Yeah a routing error found. Sending a PR soon. Thanks!!

[2018-06-29 19:01] ViditChitkara commented on #2945
Just fixed the second error!!

[2018-06-29 19:08] ViditChitkara commented on #2945
@jywarren should we write a migration to change all likes with emoji_type: nil with emoji_type: "ThumbsUp"? These likes were created before we published "like via reaction" features.

[2018-06-29 19:19] jywarren commented on #2945
sure - but isn't it `:+1:`? or is that not a standard emoji name?

On Fri, Jun 29, 2018 at 3:09 PM Vidit <notifications@github.com> wrote:

[2018-06-29 19:19] jywarren commented on #2939
oh, awesome!

On Fri, Jun 29, 2018 at 2:41 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-06-29 19:20] #2945 closed

[2018-06-29 19:23] ViditChitkara commented on #2945
Actually I found it easier to store "ThumbsUp" in emoji_type of like model. This would easily help me parse the corresponding emoji png. The name is however "+1" while using it in comment editor.

[2018-06-29 19:36] Souravirus commented on #2940
Hi @jywarren, I tested updating comment to answer and it was working fine. Is the PR #2942 merged?

[2018-06-29 20:01] #2939 closed

[2018-06-29 20:09] jywarren commented on #2893
OK - those are both merged, great!

[2018-06-29 20:10] SidharthBansal commented on #2893
Now you can set up the twitter apps.

[2018-06-29 20:11] SidharthBansal commented on #2893
Thanks for the merge

[2018-06-29 20:14] jywarren commented on #2676
wow i love this page 😆 ✅✅✅✅✅✅

[2018-06-29 20:29] Souravirus opened #2952 "Tests are failing due to recent merges"
These are two errors in the two  PRs that were merged recently.
1. `ERROR["test_create_a_user_with_omniauth_if_email_prefix_does_not_exist_in_db", Minitest::Result, 81.54402136499999]
 test_create_a_user_with_omniauth_if_email_prefix_does_not_exist_in_db#Minitest::Result (81.54s)
NoMethodError:         NoMethodError: undefined method 'using_open_id?' for nil:NilClass
            lib/authlogic_open

[2018-06-29 20:33] icarito opened #2953 "Improve deployment script"
[ ] - Sync stable deployment script with production to avoid differences (set jenkins to use `redeploy-containers`)
[ ] - avoid running commands in old container with `exec` to avoid ruby incompatibilities etc

[2018-06-29 20:36] jywarren commented on #2952
Oh, oops -- how did that happen? Maybe an issue with failing to rebase?

[2018-06-29 20:40] SidharthBansal commented on #2952
I am looking at it. Just wondering why hasn't Travis failed?
Thanks for informing.

[2018-06-29 20:49] SidharthBansal commented on #2952
The errors which you posted above appeared in the pr because by mistake I pushed some wrong code.
 Later on, when I changed the content. Ran travis again. They passed. But the footprints of the previous error message was not erased. Are they those messages?

[2018-06-29 20:50] Souravirus commented on #2952
The errors are now cleared @SidharthBansal

[2018-06-29 20:51] SidharthBansal commented on #2952
Great!
Can we close this issue?

[2018-06-29 20:52] Souravirus commented on #2952
yeah

[2018-06-29 20:52] #2952 closed

[2018-06-29 20:55] jywarren commented on #2941
@siaw23 - any ideas with this?

[2018-06-29 21:30] jywarren commented on #2940
OK, that now works. I still see that there's a refresh required before deletion of a comment on a question shows up. Would you mind taking a look? Maybe it just needs to either actually remove the HTML element upon success OR just refresh the page via Javascript. I could help with that? What do you think?

https://publiclab.org/questions/warren/06-26-2018/are-there-lists-of-plants-and-the-chemical

[2018-06-29 21:44] Souravirus commented on #2940
Yeah I will work on it.

[2018-06-29 21:47] jywarren commented on #2893
Do you need just the Consumer API Key and Secret, or also an access token and secret?

I've added the Consumer Key and Secret to unstable, staging, and production!

[2018-06-29 21:48] jywarren commented on #2893
I set it to read only for now. Want to test this out on unstable?

[2018-06-29 22:03] SidharthBansal commented on #2893
Only Consumer Key (API Key) and Consumer Secret (API Secret) are needed.

[2018-06-29 22:05] SidharthBansal commented on #2893
I have pushed the changed to unstable.

[2018-06-29 22:05] SidharthBansal commented on #2893
![image](https://user-images.githubusercontent.com/20972099/42116807-ad46a828-7c16-11e8-8392-4ea0a83658ac.png)
Working fine

[2018-06-29 22:07] SidharthBansal commented on #2893
![image](https://user-images.githubusercontent.com/20972099/42116834-d98d3514-7c16-11e8-88b4-8dbc315e7494.png)

[2018-06-29 22:08] SidharthBansal commented on #2893
@jywarren can you please push the changes to the production and stable.publiclab.org.
Thanks for setting up the apps.

[2018-06-29 23:16] stefannibrasil commented on #2911
Thanks, @jywarren I am really happy to be officially joining you next Monday!

I can do the Community Check-in next Monday, yes! Already added to my calendar =)

About the call, you can count on me. Cheers!

[2018-06-30 10:08] Gauravano commented on #2667
Any other change @jywarren ? Thanks.

![draft_notice](https://user-images.githubusercontent.com/20878070/42124164-96b63906-7c7b-11e8-96f3-1c0e3cb80a50.png)

[2018-06-30 11:19] Gauravano commented on #2304
Hi @jywarren , sorry it was still open. Let's complete this ASAP.

[2018-06-30 11:49] Gauravano commented on #2304
Raised PR at #2957 . Also, I have gone through the work done by me in past. Just last 2 parts remaining.

The comments generated after PR https://github.com/publiclab/plots2/pull/2373 would be having `status = 1` but comments before that would be carrying `status = 0` . Could you please check stats @jywarren?

We need to run a migration on production DB to change the status of all comments to 1 an

[2018-06-30 12:39] Gauravano commented on #2304
@jywarren , any more details you wanna add to this part of issue?

[2018-06-30 13:07] jywarren commented on #2667
Looks fantastic!!!

On Sat, Jun 30, 2018, 6:09 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-30 13:07] jywarren commented on #2667
Let's do it!

On Sat, Jun 30, 2018, 9:07 AM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-06-30 13:12] jywarren commented on #2667
Ping me when you're ready to merge it! Great work!

[2018-06-30 16:02] Gauravano commented on #2667
It's ready @jywarren! :smiley:

[2018-06-30 16:04] #2667 closed

[2018-06-30 16:07] jywarren commented on #2911
Fantastic!!!

[2018-06-30 16:11] jywarren commented on #2896
@viditchitkara I wonder if you'd be interested in this one? It'd make your new awesome emoji work present in question pages. :tada:

[2018-06-30 17:29] Souravirus commented on #2940
Hi @jywarren, actually the code was already there. The only thing that was not doing the trick was the bracket mismatch in the code. Now its working fine. Thank you!!

[2018-06-30 20:17] siaw23 commented on #2919
The person sending a patch needs to do bundle exec rake rubocop:auto_correct to fix most of the issues automatically before committing the changes.
We can add the exceptions in .rubocop_todo.yml file.

my thoughts exactly for a long time now. we should finally get this done. i can single-handedly do this if need be. no automation. Rubocop itself is VERY friendly in pointing out what's wrong, how t

[2018-06-30 20:48] tech4GT commented on #2911
I have been working on making image sequencer modules available through nom. We are currently using the invert module via npm. Will be adding meta modules soon.

[2018-06-30 20:56] #2920 closed

[2018-06-30 20:58] jywarren commented on #2304
This is great. Maybe also that when a user is banned their comments should be moderated as well!

[2018-07-01 16:04] Gauravano commented on #2304
Adding this to checklist. @jywarren have you run migration for changing comment status to 1?

[2018-07-01 19:05] jywarren commented on #2867
Hi, where is the link to start this process on facebook.com? I'd like to do this today or tomorrow in preparation. Thanks!

[2018-07-01 19:23] SidharthBansal commented on #2867
``developers.facebook.com`` should work

[2018-07-01 19:36] SidharthBansal commented on #2919
Ok great.

[2018-07-01 19:46] SidharthBansal commented on #2867
@jywarren please merge the #2959 and #2960 before setting up app for facebook.
On my localhost it is working absolutely fine. I hope it will work well in production too.

[2018-07-01 21:49] Souravirus opened #2967 "Jasmine tests not running"
Report is:
Running "/home/sourav/.phantomjs/2.1.1/x86_64-linux/bin/phantomjs"  "/home/sourav/.rvm/gems/ruby-2.4.1/gems/jasmine-rails-0.14.7/lib/jasmine_rails/../assets/javascripts/jasmine-runner.js" "file:///home/sourav/Documents/gsoc/plots2/tmp/jasmine/runner.html?root=/home/sourav/Documents/gsoc/plots2&spec="
Running: file:///home/sourav/Documents/gsoc/plots2/tmp/jasmine/runner.html?root=/home/s

[2018-07-01 21:49] Souravirus commented on #2967
@jywarren Have a look at this.

[2018-07-02 13:48] siaw23 commented on #2919
i'd like to go ahead with this but without the "generating first-timers-only issues" part as i'm not a fan of bots. please let provide thoughts on this. @jywarren

[2018-07-02 13:57] steviepubliclab opened #2969 ""choose file" button on Research Note edit not working"
### Please describe the problem (or idea)
I was updating a research note with a new image, clicked edit and used the "choose file" button to the right of the lead image spot. The pop up walked me through selecting the image from my computer, but the image didn't upload when I clicked "open." I was able to get the image uploaded from the drag and drop feature, but this button might not be working?

[2018-07-02 14:09] jywarren commented on #2969
Thanks Stevie!
Anyone looking at this, note that the drag and drop interface next to the button does still work.

Just adding some debug logs from reproducing this (on Chrome browser):

Line 1032 of `jquery.fileupload.js` -- `            files = $.makeArray(fileInput.prop('files'));`

Error was "Uncaught RangeError: Maximum call stack size exceeded"

This can be reproduced at https://publiclab.org

[2018-07-02 21:24] SidharthBansal commented on #2853
#2863 closes this

[2018-07-02 21:24] #2853 closed

[2018-07-02 21:32] SidharthBansal commented on #1716
@ryzokuken when are you free to discuss about this project?

[2018-07-02 21:40] jywarren commented on #2893
OK, we'll schedule this probably for tomorrow!

[2018-07-02 21:41] SidharthBansal commented on #2893
Great.

[2018-07-02 21:53] jywarren commented on #2919
oh cool! single-handedly meaning implementing the cleanup yourself?

I am thinking there are 2 variants we may want to discuss -- A) cleanup of
the current codebase, B) potential to run a code cleanup step on new code
automatically as it's submitted in a PR. Is that right?

Thanks all!!!

On Mon, Jul 2, 2018 at 9:48 AM Emmanuel Hayford <notifications@github.com>
wrote:

[2018-07-02 22:04] jywarren commented on #2676
![screen shot 2018-07-02 at 6 04 01 pm](https://user-images.githubusercontent.com/24359/42188556-62a572b4-7e22-11e8-8bd3-be9e9857d339.png)

Interesting message from Trello.com - a reference for our own UI maybe! 👍

[2018-07-02 22:08] milaaraujo opened #2971 "Community Check-in #7 Summer Of Code Week 8"
Hi everybody 👩‍💻 👨‍💻!
If you're new here, welcome, and please try some of our [first-timers-only issues](https://publiclab.github.io/community-toolbox/#r=all). This is a checklist for publiclab/soc.

@stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @ViditChitkara @tech4GT @mridulnagpal @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @ccpandhare @icarito @abTest-123 @steviepubli

[2018-07-02 22:12] jywarren commented on #2971
Hi, @milaaraujo!!! Fantastic and welcome to WEEK 1!!!

[2018-07-02 22:13] milaaraujo commented on #2911
Moved to #2971

[2018-07-02 22:13] #2911 closed

[2018-07-02 22:21] SidharthBansal commented on #2676
I will see it tomorrow. We can have this feature also. I love this feature. It is easy to be implemented.

[2018-07-03 04:52] Gauravano commented on #2971
Hi @publiclab/soc,
Welcome @milaaraujo and @stefannibrasil :tada: :smile:

This week I would be completing the Comment moderation system #2304 and
Configurable email notification preferences #213 .
 Thanks!

[2018-07-03 12:40] siaw23 commented on #2919
yeap. i think creating first-time-issues for this will take forever. so instead i'll do it.

A. yes
B. yes

[2018-07-03 13:30] ebarry commented on #2971
Hi everyone, i'm back from some time with my family and happy to rejoin the energy here. Excited that the RailsGirls Summer of Code is beginning!

[2018-07-03 13:37] jywarren commented on #2919
lol ok!!

On Tue, Jul 3, 2018 at 8:40 AM Emmanuel Hayford <notifications@github.com>
wrote:

[2018-07-03 14:35] Souravirus commented on #2967
No, its not related to rails 5. As I have seen the commits before the rails 5.0 upgrade and it was not running even on them.

[2018-07-03 14:37] jywarren commented on #2967
hmm, we've had trouble keeping these running. Does it run locally? It seems
like phantomjs executes, but doesn't find the tests?

On Tue, Jul 3, 2018 at 10:35 AM Sourav Sahoo <notifications@github.com>
wrote:

[2018-07-03 14:40] Souravirus commented on #2967
No not running locally also

[2018-07-03 14:41] Souravirus commented on #2967
I was using the command as is used in the test `rake spec:javascript`

[2018-07-03 14:42] jywarren commented on #2967
OK, good to know. Would you mind looking back at when this stopped working so we can pinpoint the commit that caused it?

[2018-07-03 14:43] Souravirus commented on #2967
Yeah I would search for it. Looks like I have to use binary search for it. :laughing: :laughing:

[2018-07-03 14:46] jywarren commented on #2967
yeah, sorry, it's a pain!

[2018-07-03 14:46] Souravirus commented on #2967
no problem

[2018-07-03 14:54] Souravirus commented on #2967
Here it occured due to this commit:
https://github.com/publiclab/plots2/commit/10ab8331715158f293f20f95cf9e3a5358cebc5e
Sadly, I was my own PR. But I haven't changed the jasmine test as you can see. What might be the problem?

[2018-07-03 15:00] jywarren commented on #2967
hey, it's not a blame game, just a detective game! 😄 🔍

Is it somehow possible that the use of `class Reset {` overwrote a global variable that Jasmine uses, also called `Reset`? Could we try changing the name to something else, like `EmailValidator`?

[2018-07-03 15:01] jywarren commented on #2304
Uhhhhh, hmm, sorry i think i need a refresher -- but any migrations that've been merged have definitely been run!

[2018-07-03 15:02] Souravirus commented on #2967
Yeah ok trying this fix and lets see what happens. Thanks for the help!!

[2018-07-03 15:24] jywarren opened #2972 "Comment update route error"
Hi, @Souravirus -- hopefully the last one! This just showed a 404:

https://publiclab.org/comment/update/19965?body=lalalala

`https://publiclab.org/comment/update/19965?body=Adding+a+reference+here+-+this+looked+pretty+cool%21+%0D%0A%0D%0Ahttps%3A%2F%2Fwww.reddit.com%2Fr%2Fmicroscopy%2Fcomments%2F8giinz%2Fplm_red1_polarized_light_to_dso_chrysotile%2F%0D%0A%0D%0A%3Cblockquote+class%3D%22reddit-car

[2018-07-03 15:34] Souravirus commented on #2972
Ok seeing this. Thank you for reporting!!

[2018-07-03 15:34] Souravirus commented on #2967
Nopes it didn't worked

[2018-07-03 15:40] Gauravano commented on #2304
No issue, @jywarren refer this one https://github.com/publiclab/plots2/issues/2304#issuecomment-401536102

[2018-07-03 15:46] Gauravano commented on #2304
We ran a migration in #2373 but that is only for changing the default comment status to 1 so currently, production DB would be carrying comments with status 0 as well as 1. So, now we can run a query on production DB to change the status to 1. What do you think?

[2018-07-03 15:52] Souravirus commented on #2971
Hi everyone, I have completed the rails 5.2 update. Let's hope it works fine. For now I am working on some fixes regarding rails update and failure of jasmine tests. Thank you!!

[2018-07-03 15:54] jywarren commented on #2304
That sounds good - let's do it as part of a migration though! You can
iterate through comments to do it in a migration, like in this example:
https://github.com/publiclab/plots2/blob/master/db/migrate/20130424190648_sync_ruser_id_drupal_users_uid.rb

On Tue, Jul 3, 2018 at 11:47 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-03 16:03] jywarren commented on #2867
This is now set up!

[2018-07-03 16:04] Souravirus commented on #2972
Hi @jywarren, can I know how to get to this link. I mean the updating the comment to question as well as answer are working fine.

[2018-07-03 16:06] jywarren commented on #2972
Hmm, i wonder if it was somehow related to the specific content i tried to
update? It was for a research note, not a question, however.

On Tue, Jul 3, 2018 at 12:04 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-07-03 16:07] Souravirus commented on #2972
Yeah ok I am getting a routing error while trying some similar comment to this link https://publiclab.org/comment/update/19965?body=lalalala So, I am sending a PR related to this.

[2018-07-03 16:07] SidharthBansal commented on #2971
Hi everyone. This week we will complete all the backend stuff of the Authentication System.

[2018-07-03 16:08] SidharthBansal commented on #2867
Have you pushed it to stable and production?

[2018-07-03 16:19] jywarren commented on #2867
I did to stable but i'm seeing some build issues... pinged sebastian in the
chatroom so let's see. I don't want to publish to production until we see
it running smoothly in stable.

Thanks!

On Tue, Jul 3, 2018 at 12:09 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-07-03 16:33] Gauravano commented on #2304
Actually, in #2373 I included a statement for that but it didn't work that time, but I will try a PR with migration again. Thanks!

[2018-07-03 16:36] sagarpreet-chadha commented on #2971
Hi all !

I will work on mapknitter project and try to integrate leaflet-environmental-library to it .

AND @jywarren just added the library to npm : https://www.npmjs.com/package/leaflet-environmental-layers  🎉

[2018-07-03 16:55] jywarren commented on #2867
Yes, unstable is installed.

On Tue, Jul 3, 2018 at 12:28 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-07-03 16:56] jywarren commented on #2304
ok awesome!

On Tue, Jul 3, 2018 at 12:34 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-03 17:46] jywarren commented on #2867
hmm...

[code]

but stable.publiclab.org is actually included...?

[2018-07-03 17:47] icarito commented on #2953
Sometimes containers refuse to be removed with the message: `Container is marked for removal and cannot be started`.

In this case it is necessary to run `$ docker-compose -f containers/docker-compose-stable.yml down`.

We should also figure out why this is the case.

[2018-07-03 17:48] jywarren commented on #2867
weird

[2018-07-03 17:48] jywarren commented on #2867
https://www.facebook.com/v2.6/dialog/oauth?client_id=644692375883090&redirect_uri=https%3A%2F%2Fstable.publiclab.org%2Fauth%2Ffacebook%2Fcallback&response_type=code&scope=email&state=aedc1ea11d9ef3f8463a7e6bb0b06106a4042befd33de8d0

[2018-07-03 17:52] SidharthBansal commented on #2867
It means that you need to add domains and subdomains somewhere in the app.

[2018-07-03 18:16] jywarren commented on #2867
But I did that... maybe i'm missing something?

![image](https://user-images.githubusercontent.com/24359/42237394-a692015a-7ecb-11e8-80b3-c3d33a9d9c1a.png)

[2018-07-03 18:16] jywarren commented on #2867
I set namespace to `publiclab` - is that wrong?

[2018-07-03 18:17] #2972 closed

[2018-07-03 18:32] SidharthBansal commented on #2867
I think it is right

[2018-07-03 19:30] namangupta01 commented on #2971
Hey Everyone, i just completed working on the parsing of email feature from gmail and yahoo. It is just similar to github. And in case of emails coming from yahoo, parsing of email is even better then github's parsing. :smile: . This week i will working on some more test and if possible will start some basic work on reply by twitter.

[2018-07-03 20:34] jywarren commented on #2928
Want to try reproducing this issue in a test, then seeing if an encoding
change resolves it?

On Tue, Jul 3, 2018 at 4:27 PM Naman Gupta <notifications@github.com> wrote:

[2018-07-03 21:23] jywarren commented on #2867
Hmm, what else should we try?

[2018-07-03 21:23] jywarren commented on #2867
It's late there! Let's think about this tomorrow!

[2018-07-03 21:33] Souravirus commented on #2967
@jywarren now this is interesting, jasmine is finding the specs when run through web browser. Here is the screenshot:
![screenshot from 2018-07-04 03-01-32](https://user-images.githubusercontent.com/17192149/42245532-c0f40154-7f36-11e8-8027-fc5b039975c3.png)

[2018-07-03 21:37] Souravirus commented on #2967
I got something https://github.com/searls/jasmine-rails/issues/220 . I guess since in that PR I used modern ES features that's why the phantomjs is unable to find the jasmine tests and it chokes. So, thats why I guess jasmine tests are not running. I think we must move on to another alternative. What do you think?

[2018-07-03 21:42] namangupta01 commented on #2928
should i make a test for it?

[2018-07-03 21:43] jywarren commented on #2967
besides jasmine-rails or beyond Jasmine itself? Sure, what options do we
have?

On Tue, Jul 3, 2018 at 5:38 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-07-03 21:44] jywarren commented on #2928
yeah, that sounds right. See if you can save a string with emoji in it
(there are some in the tests already, i think?) and then try creating a
node with it and see if it fails.

On Tue, Jul 3, 2018 at 5:42 PM Naman Gupta <notifications@github.com> wrote:

[2018-07-03 21:46] jywarren commented on #2967
awesome!

On Tue, Jul 3, 2018 at 5:46 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-07-03 22:11] namangupta01 commented on #2928
okay 👍

On Wed, Jul 4, 2018 at 3:14 AM Jeffrey Warren <notifications@github.com>
wrote:

[2018-07-03 22:13] SidharthBansal commented on #2971
@publiclab/soc publiclab.org/auth/twitter is functional. You all can check it out.
Thanks

[2018-07-03 22:14] SidharthBansal commented on #2893
Working fine in production.
Thanks @jywarren

[2018-07-03 22:14] #2893 closed

[2018-07-03 22:15] SidharthBansal commented on #2867
Yeah sure. Sleeping now.

[2018-07-03 22:44] jywarren commented on #2867
Hey, figured it out!

![screen shot 2018-07-03 at 6 43 37 pm](https://user-images.githubusercontent.com/24359/42247928-18414fd4-7ef1-11e8-8ec7-9bd570cdea1b.png)

It was the callback that had to be set!

[2018-07-03 22:44] jywarren commented on #2867
It works now! https://publiclab.org/auth/facebook/

[2018-07-03 22:46] jywarren commented on #2867
Just as you'd shown above. I missed that somehow! Too tired out!

[2018-07-03 22:46] SidharthBansal commented on #2867
Btw I was not able to sleep. I was searching the net.

[2018-07-03 22:47] SidharthBansal commented on #2867
It is working fine in production
![image](https://user-images.githubusercontent.com/20972099/42248004-1c86b5a2-7f41-11e8-9db0-a3c119d636c0.png)

[2018-07-03 22:48] jywarren commented on #2867
hooray!!!

On Tue, Jul 3, 2018 at 6:47 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-07-03 22:48] SidharthBansal commented on #2867
Working fine on unstable
![image](https://user-images.githubusercontent.com/20972099/42248038-4d6e696c-7f41-11e8-9206-22c8b5101cbd.png)

[2018-07-03 22:50] SidharthBansal commented on #2867
Now we are completed with this.
Thanks a lot @jywarren for bearing with me for so many app and so many providers.
Thanks a ton.
Now we are completed with the Oauth project. I guess. Do we need any other provider?

[2018-07-03 22:50] SidharthBansal commented on #2867
I mean the backend stuff.

[2018-07-03 22:51] SidharthBansal commented on #2867
Can we create first timer issues for the font-awesome icons? OR shall I complete them?

[2018-07-03 22:52] jywarren commented on #2867
Just the UI for the buttons on the signup forms and such!

We could brainstorm also what other things we can do with these
integrations now. Better integrated Post to Twitter or Post to FB buttons
maybe?

But get some sleep and we can brainstorm in the morning. Good idea to ask
folks for ideas on the Check-In!

And yeah, i think the icons would make nice FTOs!

On Tue, Jul 3, 2018 at 6:50 PM Sidha

[2018-07-03 22:57] SidharthBansal commented on #2867
We can create an issue and discuss this there.

Sure.

[2018-07-03 23:01] SidharthBansal commented on #2971
Also, please check out publiclab.org/auth/facebook

[2018-07-03 23:01] SidharthBansal commented on #2867
This issue is completed

[2018-07-03 23:01] #2867 closed

[2018-07-03 23:09] jywarren commented on #214
So I'm not sure this is processing incoming mails right now... i checked mailman.log after publishing today and didn't see one i'd responded to arriving.

Do we have an issue open for replying to questions, and replying to answers? Questions should be pretty easy, but answers maybe need the subject line suffix `(#a12345)`?

[2018-07-03 23:13] jywarren commented on #2971
For folks looking for a small project to do a little work on, consider:

* Display of notes in a thumbnail grid: https://github.com/publiclab/plots2/issues/1097
* A small image upload bug here: https://github.com/publiclab/plots2/issues/2969

We'd really love to get these solved! Thanks, all!

[2018-07-03 23:16] SidharthBansal opened #2975 "Github button for OAuth login"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-07-03 23:20] jywarren commented on #2975
🎉

[2018-07-04 01:09] stefannibrasil commented on #2971
Thanks, everyone! Glad to be officially joining you =)

Just a note, we are planning our work here at the [Projects](https://github.com/publiclab/plots2/projects/5) feature, if you want to check it out :)

Maybe we can even use that to add the community API requests to have it all at the same place, what do you think? Sometimes it's easy to let some issues pass when someone mention us on Issues/Pu

[2018-07-04 03:44] Sensational-Code commented on #2975
I'd like to be assigned to this issue.

[2018-07-04 04:50] icarito commented on #2779
@jywarren I think this was working in unstable but we still need to put it in stable and production. I'll tweak the docker-compose-production.yml now to get this running.

[2018-07-04 04:50] #2779 closed

[2018-07-04 05:05] ViditChitkara commented on #2779
Hi @icarito, I had made the changes for production and stable in #2772, however we saw a circular dependency error, so I made some changes in #2978. Can you have a look at both??
Thanks!

[2018-07-04 05:10] namangupta01 commented on #214
Can you share the logs here? I just tested here: https://publiclab.org/notes/namangupta/02-17-2018/gsoc-proposal Its working for comment. Let me look for answer.

[2018-07-04 07:01] SidharthBansal commented on #2975
Sure go ahead

[2018-07-04 08:16] icarito commented on #2953
#2979 is a beginning of item 3. Pretty close.

[2018-07-04 14:44] namangupta01 opened #2981 "Extend reply by email feature to reply answers."
As discussed in https://github.com/publiclab/plots2/issues/214#issuecomment-402317103, extend the reply by email feature to reply the answers.

[2018-07-05 13:34] Gauravano commented on #2241
Hi @publiclab/community-reps can we start working on this now? Sorry, I am just a little excited to design new mailer for newcomers :smile:

[2018-07-05 13:44] sreemudunuri commented on #2761
@jywarren are you still working on it? I would be happy to jump in. Let me know.

[2018-07-05 15:55] SidharthBansal opened #2986 "OAuth Twitter Button"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-07-05 16:28] jywarren commented on #2241
Hi @Gauravano -- i just checked with Stevie and we have this draft, although we'll want to make final changes before merging it:

https://gist.github.com/jywarren/893de8c52d7d977c16289eea98bb2035

However, if it's implemented as part of a feature at /features, we can tweak this any time, so it doesn't have to block.

How's that sound?

[2018-07-05 18:27] SidharthBansal opened #2987 "Facebook button for OAuth"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-07-05 18:30] dewanhimanshu commented on #2986
can you assign this issue to me?

[2018-07-05 19:32] dewanhimanshu commented on #2986
please  assign this issue to me

[2018-07-05 19:53] dewanhimanshu commented on #2986
i have send you the PR please look into this

[2018-07-05 20:07] SidharthBansal commented on #2986
Great checking it up

[2018-07-05 21:17] #2790 closed

[2018-07-05 21:21] jywarren commented on #2971
I love the Projects feature you all have set up! Looks great, and they've added a lot of new features.

I know @cheneyshreve has been working on a very exciting new feature to auto-complete tagnames, and is using the URL `https://publiclab.org/tags/suggested/______`-- which we also use for the tag form autocompletion. I wonder if that's a good one to try to refactor into a more standard API method

[2018-07-05 21:22] jywarren commented on #2971
Is anyone up for sending out next week's Community Check-in? Thanks @milaaraujo for adding in some helpful links this week!

[2018-07-05 21:29] #2975 closed

[2018-07-05 21:30] jywarren commented on #2971
awesome, thanks Sourav!

On Thu, Jul 5, 2018 at 5:26 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-07-05 21:42] jywarren opened #2989 "Email notifications cause error on new note creation"
I just tried posting a new note at /post, but got a 500 error, with the log message:

[code]

I think this is related to the mail server it's trying to connect to? @icarito and @namangupta01 could you take a look? Thanks!

[2018-07-05 21:43] jywarren commented on #2989
It's possible one of hte "everyone" subscribers has a bad email address, and they're all BCC'ed on the notification we're trying to send -- see

https://github.com/publiclab/plots2/blob/4633adf69aa3f3a6a421765ff2ef9cd4b92209aa/app/mailers/subscription_mailer.rb#L12-L16

But i'm not sure that'd cause this?

[2018-07-05 21:44] ViditChitkara commented on #2989
I got a similar socket error when tried digest email. I guess it be still available on sidekiq dashboard on unstable. unstable.publiclab.org/sidekiq

[2018-07-05 21:51] namangupta01 commented on #2989
This had the similar issue : https://stackoverflow.com/questions/23591717/rails-mailer-deliver-getaddrinfo-name-or-service-not-known

[2018-07-06 01:00] icarito commented on #2989
@jywarren last night I was implementing https://github.com/publiclab/plots2/pull/2979 in production and I missed step that sets up the link to SMTP with https://github.com/publiclab/plots2/blob/master/Makefile#L16 - I did these steps now, and confirmed SMTP server is reachable from production container.

[2018-07-06 01:05] icarito commented on #2989
I believe this is fixed. Apologies - this was caused by missing a deployment step during working on our deployment script.

[2018-07-06 01:14] stefannibrasil commented on #2971
yes, sure, @jywarren I've added the #2925 PR to our To-do, we can work on that in the next few weeks, possibly the next one!

[2018-07-06 02:41] arnay07 commented on #2987
is someone else already working on this? it's my first time trying to contribute

[2018-07-06 06:02] CodeRhyno commented on #2987
I am a first timer also, I would like to contribute. @arnay07 have to opened a pull request??

[2018-07-06 07:40] Souravirus commented on #2967
I am not getting the perfect tests. Tried karma, mocha and teaspoon-jasmine but there are some issues with each of them.

[2018-07-06 09:06] namangupta01 commented on #2989
I am getting error `something went wrong` when i am adding comment
 https://publiclab.org/notes/namangupta/02-17-2018/gsoc-proposal and when i refresh the page comment is there so i guess the comment is saving properly but the notify thing we do after saving causing problem. And also i tried to add comment by reply by mail and i am not seeing that added too... @jywarren can you please share the lo

[2018-07-06 09:09] namangupta01 commented on #2989
![screen shot 2018-07-06 at 2 37 27 pm](https://user-images.githubusercontent.com/20709985/42370396-46497ef2-812a-11e8-8131-759de8ea1eea.png)

[2018-07-06 12:01] dewanhimanshu commented on #2732
is anyone working on this issue? if not i will like to work on it

[2018-07-06 12:51] Souravirus commented on #2967
ok I am currently setting up mocha in rails app.

[2018-07-06 13:33] jywarren commented on #2871
Hi, should we merge this into https://github.com/publiclab/plots2/issues/2896 since @cheneyshreve is working on the autocomplete part? Or perhaps we could break out more specific other ways to make it friendlier?

[2018-07-06 13:39] jywarren commented on #2989
Hmm, yes, i'm also still seeing a 500 error when publishing from /post. But spammers have been able to... the logic for their posting is a little different. I'll check the logs again but this is still pretty urgent!

[2018-07-06 13:46] namangupta01 commented on #2989
I think this has do with sidekiq- queue but i am not sure.

On Fri, Jul 6, 2018 at 7:09 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-07-06 13:50] CodeRhyno commented on #2761
is anyone working on this issue?? I would like to contribute.

[2018-07-06 13:53] SidharthBansal commented on #1716
@jywarren @ryzokuken shall I create first timers for conversion of glyphicons to font-awesome?

[2018-07-06 14:02] #2987 closed

[2018-07-06 14:32] namangupta01 commented on #2989
And please also share mailman log

[2018-07-06 15:18] dewanhimanshu commented on #2761
can you please review  #2998 PR regarding this issue

[2018-07-06 15:50] steviepubliclab commented on #2241
Here's an edit!

Welcome to Public Lab!

Public Lab is an open community dedicated to making environmental monitoring more accessible to all. In Public Lab, our public questions, ideas and exploration help to build the resources available for everyone to use.

_UN INFO HERE_

There’s a lot you can do in Public Lab: learn how to do environmental investigation in your community, help to build and de

[2018-07-06 17:10] jywarren commented on #1716
ooh, that sounds great!

[2018-07-06 17:11] icarito commented on #2989
I just checked mailman logs, found this:
[code]

[2018-07-06 17:14] icarito commented on #2989
I found the mailman container down, and started it. The error above appeared, but mailman appears to be running now. I'll try to reproduce to confirm if error persists.

[2018-07-06 17:19] icarito commented on #2989
Okay I'm seeing this in production.log:
[code]
This has to do with #2979 - seems I need to authorize local email relay from the internal docker address. I'll fix it, sorry!

[2018-07-06 17:28] #2989 closed

[2018-07-06 17:32] namangupta01 commented on #2989
@icarito can you please also share the logs `logs/mailman.log`? Which could give us some more detail?

[2018-07-06 17:39] icarito commented on #2989
Here's fragments:
[code]
<snip>
[code]

[2018-07-06 17:40] icarito commented on #2989
Does mailman need direct access to smtp? In that case we'll need to add a line like https://github.com/publiclab/plots2/blob/stable/Makefile#L16 to Makefile that adds the IP address for SMTP to the mailman container.

[2018-07-06 17:46] jywarren commented on #2989
Hooray, my part no longer happens - the blog post published normally just now. Should we think about monitoring that process to check for downtime?

[2018-07-06 17:55] siaw23 commented on #2919
by "forever" i meant there are lots of offences/cleanups we have to do, if we had to divide those into small bits it'd take a very long time to finish everything vs a couple of people doing everything in bulk in a short period of time. but i think i can divide them into chunks for first timers, maybe a group of 5 cops at a time and see how it goes... i think it'd be nice to have these easy tasks a

[2018-07-06 17:58] siaw23 commented on #2919
@SidharthBansal @jywarren

The person sending a patch needs to do bundle exec rake rubocop:auto_correct to fix most of the issues automatically before committing the changes.
We can add the exceptions in .rubocop_todo.yml file.

I also think we can encourage contributors to add git pre-commit hooks to "force" users to to run rubocop before they commit

[2018-07-06 18:02] icarito commented on #2989
Maybe a /status route that we can check with the rackspace monitoring service?

[2018-07-06 18:05] ViditChitkara commented on #2989
@icarito @jywarren I still see this socket error on sidekiq dashboard (see https://unstable.publiclab.org/sidekiq/). Do we have to make some other settings for this?

[2018-07-06 18:09] icarito commented on #2989
Vidit I'm seeing this when trying to check container in unstable:

[code]

On 06/07/18 13:05, Vidit wrote:

[2018-07-06 18:09] namangupta01 commented on #2989
@icarito, since after adding the comment after reply by mail we need to send the email to the users so we need to have a access to the mail service.

[2018-07-06 18:10] namangupta01 commented on #2989
I mean to say mailman needs to have access.

[2018-07-06 18:14] namangupta01 commented on #2989
Above mailman logs are showing error while calling notify function which is used to send mails.

[2018-07-06 18:15] icarito commented on #2989
@ViditChitkara I've patched docker compose production yml with #3000, check docker-compose-unstable for the same fix. We should probably talk about it in the corresponding issue, not sure if one is open?

[2018-07-06 18:17] icarito commented on #2989
@namangupta01 okay I'm going to issue manually the following command:

`docker-compose exec -T mailman bash -c "echo 172.19.0.1 smtp >> /etc/hosts"`

If this makes it work, we will need to add this command next to https://github.com/publiclab/plots2/blob/stable/Makefile#L16

[2018-07-06 18:21] icarito commented on #2989
Also I think `mailman` container has a different ip as `web` container. Either I add that to exim relay ip list, or... we use `network_mode: "service:web"`. I'll try the latter.

[2018-07-06 18:29] SidharthBansal commented on #2919
We should encourage them to run rubocop. I agree with this.

As you told that there is a need of system cleanup. So, we should remove the major rubocop errors first. Then the rest errors can be tackled by the new comers. Else it would be annoying for them to deal with the entire repo.

I do agree with your point . We can make multi-step first timers with 5-6 cops.

[2018-07-06 18:29] icarito commented on #2989
@namangupta01 I've updated PR #3000 hopefully solving this in production. Testing it!

[2018-07-06 18:34] icarito commented on #2989
@jywarren I cherrypicked both commits from #3000 to get mailman working in production. I just replied to notifications@ but I'm not sure it works? Let me know!

[2018-07-06 18:35] namangupta01 commented on #2989
@icarito checking.

[2018-07-06 18:36] ViditChitkara commented on #2989
@icarito your comment shows in my note. It's working.

[2018-07-06 18:36] namangupta01 commented on #2989
Yeah its working. @icarito Please have a look.

[2018-07-06 18:37] namangupta01 commented on #2989
And also mails are also being sent on mailman incoming mails

[2018-07-06 18:42] icarito commented on #2989
Great @namangupta01 I've added `docker-compose exec -T mailman bash -c "echo 172.19.0.1 smtp >> /etc/hosts"` to Makefile in #3000.

Congrats on a work well done and thank you!

[2018-07-06 18:44] namangupta01 commented on #2989
🎉 🎉  Awesome Finally it worked. 🎉 🎉

[2018-07-06 19:40] Gauravano commented on #2241
We can also add PublicLab logo at top-center position of email.

Any other image you guys wanna suggest @jywarren @steviepubliclab ? Also, any design or should we keep it simple text email?
Thanks!

[2018-07-06 19:53] Gauravano commented on #213
hi @jywarren in reference to our last tag approval, I have some idea about it. Normally, users change settings once a while, so instead of generating 5 to 6 tags for each profile, we can generate tag if a user doesn't want to receive notification related to a particular setting. What do you think?

[2018-07-06 20:02] SidharthBansal commented on #1716
I have created the bootstrap-4 branch

[2018-07-06 20:03] #2986 closed

[2018-07-06 20:48] jywarren commented on #2241
Let's keep it pretty simple text for now, but if this is implemented as a
Feature, we can add images later, right?

Thanks, Gaurav!!!

On Fri, Jul 6, 2018 at 3:41 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-06 20:50] jywarren commented on #1716
cool!

On Fri, Jul 6, 2018 at 4:03 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-07-06 20:53] jywarren commented on #2919
This sounds great -- once we're ready for FTOs, let's make just one that we can take a look at and see if it's approximately an appropriate amount to work on for a newcomer, before starting to generate a lot.

Thanks for thinking this through!

[2018-07-06 21:32] jywarren commented on #213
So we'd have a set of defaults that don't require a tag to be set, right -- that does make sense. So what would be the defaults? We'd want to document those clearly somewhere.

Good thinking! 👍

[2018-07-06 22:33] jywarren commented on #2755
Congrats on merging #2790!

I wanted to note that one of your milestones above - "Refactor/Simplify SearchService and Search endpoints" -- sounds particularly great and that you may after that want to look at #987 for some ways that we're hoping search will be refined to show really relevant results. It's one of the biggest usages of the API, and a place you could really see some highly visible im

[2018-07-06 22:54] #2901 closed

[2018-07-06 22:54] jywarren commented on #2901
🎉

[2018-07-06 23:59] jywarren commented on #2971
I just published latest code to production!!!! http://publiclab.org

![screen shot 2018-07-06 at 7 59 08 pm](https://user-images.githubusercontent.com/24359/42404444-240dfa20-8157-11e8-9b73-79337d893760.png)

[2018-07-07 01:36] stefannibrasil commented on #2971
looks amazing, good work! :)

[2018-07-07 03:31] stefannibrasil commented on #2755
Thanks, @jywarren
we added that to our Todo. We were discussing our next steps and we will start on those endpoints next week! Stay tuned for questions :laughing: just kidding, but we are planning to at least reduce the code duplication for now. Yeah, it was great talking with everyone together. Cheers!

[2018-07-07 04:57] jywarren opened #3005 "digest test function debugging"
Hi, @ViditChitkara - just looking at the digest feature which i just tested - it no longer errors, but I'm not seeing the digest email arrive -- here is the mailman.log:

[code]

[2018-07-07 04:59] jywarren commented on #3005
Oddly i also see:

[code]

[2018-07-07 05:02] jywarren commented on #3005
Is this a clue maybe? https://publiclab.org/sidekiq/retries

But why does it say mail sent to jeff@publiclab.org...?

[2018-07-07 05:03] jywarren commented on #3005
![image](https://user-images.githubusercontent.com/24359/42406997-8287f068-8181-11e8-8ed9-b87825f076d8.png)

[2018-07-07 05:05] ViditChitkara commented on #3005
Hmm, I see all failed attempts in sidekiq dashboard. The same socket error persists as it does in naman's pr yesterday. Will have to look into it. Yeah that's a bit odd. Would you mind checking your spam folder?
I'll look into the socket error, though.

[2018-07-07 05:07] ViditChitkara commented on #3005
I guess we also have sidekiq logs, maybe we could check that

[2018-07-07 05:11] Gauravano commented on #213
Yes, we should definitely document them - let's think of some names related to these tags only-
`notifications:comment-direct` like `no-notifications:comment-direct` or `no-notify:comment-direct`. What do you think @jywarren ?

[2018-07-07 06:38] Gauravano commented on #2241
Making a feature is fine. But, I doubt images can be added via feature. Are we displaying images via feature anywhere @jywarren ?

[2018-07-07 06:42] Gauravano commented on #2241
I found this
![without_image](https://user-images.githubusercontent.com/20878070/42407735-a7e017fc-81de-11e8-9d10-41cdc0ebe183.png)

we pass feature body as a string, so we can make a new helper function which would return us the node and then we can render node content just like we do for normal node in Email. How does that sound @jywarren ?

[2018-07-07 15:21] siaw23 commented on #2941
@jywarren i haven't seen this one before, I reached out to them.

[2018-07-07 22:36] CoderJolly commented on #2475
is it open cause it has been merged....?

[2018-07-08 17:39] jywarren opened #3008 "add subscribe and unsubscribe links to email notifications based on tags"
@namangupta01 this could be cool - a section in the email notifications to subscribe to tags (or unsubscribe) - like "follow discussions on 'spectrometry'"

Starts to look more like a mailing list!

[2018-07-08 18:17] namangupta01 commented on #3008
Thats sounds cool.

[2018-07-08 18:28] CoderJolly commented on #2475
pls assign this issue to me...

[2018-07-08 18:30] CoderJolly commented on #2732
is anybody working on this...?

[2018-07-08 18:31] CoderJolly commented on #2428
anybody working on dis?

[2018-07-08 19:05] Gauravano commented on #2428
Hi @CoderJolly, this issue is solved. Sorry for inconvenience.

[2018-07-08 19:05] #2428 closed

[2018-07-08 19:10] jywarren opened #3009 "Moderate questions with machine learning. (autoposted via PublicLab.org)"
(This issue was auto-generated from https://ift.tt/2B8W2Ma -- please help to flesh it out and explore the issue, and respond to the original author!) by https://ift.tt/2KQ7ANj<br>
<br>
Read more and ask the original author for details at: https://ift.tt/2J5bcpy<br>
<br>
****<br>
<br>
<img src="https://publiclab.org/system/images/photos/000/023/444/original/Screenshot_20180204-101546_2.png" alt="Pu

[2018-07-08 19:53] Souravirus opened #3010 "Community Check-in #8 Summer Of Code Week 9"
Hi everybody :woman_technologist: :man_technologist:!
If you're new here, welcome, and please try some of our [first-timers-only issues](https://publiclab.github.io/community-toolbox/#r=all). This is a checklist for publiclab/soc.

@stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @ViditChitkara @tech4GT @mridulnagpal @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken

[2018-07-08 19:53] Souravirus commented on #2971
opened in #3010

[2018-07-08 19:54] #2971 closed

[2018-07-08 23:47] SidharthBansal commented on #3010
Hi everyone,
I will complete #2676 issue this week. We are just left with some front-end issues listed there. Then I will start with my second project of Bootstrap Upgradation.
All the four providers are working properly.
I have created the branch for Bootstrap Upgradation too.
Thanks

[2018-07-09 00:02] SidharthBansal commented on #1716
I searched the whole app directory. There are no glyphicons. We have font-awesome icons everywhere.
There are many glyphicons in public directory that needs to be changed, namely in public/lib/bootstrap, public/lib/bootstrap-datepicker, public/lib/bootstrao-token.....

[2018-07-09 00:29] SidharthBansal opened #3011 "Shift the providers up on login page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-07-09 00:37] SidharthBansal opened #3012 "Shift the providers up on sign up page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-07-09 04:14] jywarren opened #3013 "broken images in email notifications"
Email notifications come through with images in the following URL format: http://i/25522.jpg

The code that drives this is here:

https://github.com/publiclab/plots2/blob/22c3457012eb0f90ab811baa61e3213ca7b93a30/app/models/revision.rb#L117-L122

and here:

https://github.com/publiclab/plots2/blob/22c3457012eb0f90ab811baa61e3213ca7b93a30/app/views/subscription_mailer/notify_node_creation.html.erb#L

[2018-07-09 14:25] SidharthBansal opened #3014 "Shift Link to on edit page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-07-09 14:56] jywarren commented on #1716
Ah, but those are installed via Bower, so they're external - not tracked in
our repository. So that part seems done!

On Sun, Jul 8, 2018 at 8:03 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-07-09 14:56] jywarren commented on #2732
I think you're free to take it up, but please link back here from your PR as soon as you begin so we don't have 2 people working redundantly. Thanks!

[2018-07-09 15:24] SidharthBansal commented on #1716
So, we are done with glyphicons.
I will be installing the bootstrap gem then

[2018-07-09 15:40] #2919 closed

[2018-07-09 15:44] jywarren commented on #3010
Hi all! A lot of code finally made it into production this past week. Please be testing it out and identifying follow-ups!

@publiclab/soc mentors will also be writing 2nd midterm evals this week. Please be sure to check in on this thread with your latest updates -- and it's very helpful if you can present your work in a milestone, as well! Adding all your new and old issues to a single milestone

[2018-07-09 15:46] jywarren commented on #2475
Hi, i believe it's already done, see #2476 above. But there were just a few new first-timers issues posted at https://publiclab.github.io/community-toolbox/#r=all - give them a try!

[2018-07-09 15:46] #2475 closed

[2018-07-09 15:47] jywarren commented on #3005
OK, i'll look at those!

[2018-07-09 15:50] SidharthBansal commented on #2676
@jywarren one way for https://github.com/publiclab/plots2/issues/2676#issuecomment-401952085 is to have an additional field in the user_model. If a user makes an account on the public lab using the legacy authentication system then it is zero. If a user makes an account via google then it is one, fb=>2, twitter=>3, github=>4. If a user resets a password then this field is reset to zero. So, that w

[2018-07-09 15:51] jywarren commented on #1144
yeah, let's discuss at the event!

On Sat, Jul 7, 2018 at 4:28 PM Devin Balkind <notifications@github.com>
wrote:

[2018-07-09 15:52] jywarren commented on #2241
That sounds great!

On Sat, Jul 7, 2018 at 2:42 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-09 15:54] jywarren commented on #2941
thanks!

On Sat, Jul 7, 2018 at 11:21 AM Emmanuel Hayford <notifications@github.com>
wrote:

[2018-07-09 15:57] SidharthBansal commented on #2676
I am breaking the front end portion into sequential ftos. So that the I can focus on the other backend features

[2018-07-09 16:07] SidharthBansal commented on #3010
Hi @publiclab/soc,
# OAuth Login Project(Almost Completed)
MAIN ISSUE https://github.com/publiclab/plots2/issues/2676
MILESTONE https://github.com/publiclab/plots2/milestone/18
We have completed OAuth project. Backend stuff is completed along with tests for all the providers.
You can check out the feature on
* publiclab.org/auth/facebook
* publiclab.org/auth/google_oauth2
* publiclab.org/auth/twit

[2018-07-09 16:52] jywarren commented on #2676
This sounds interesting. Can you just walk through whether this could be achieved by looking at the password field itself, and the user tags, and explain to me if that would not be enough information to achieve this? I think I follow but just so we know we're understanding this the same way!

[2018-07-09 16:52] sagarpreet-chadha commented on #3010
Hi everybody !

### Work done :

 * List of layers completed can be found here :  https://github.com/publiclab/leaflet-environmental-layers/issues/1
*  Also added Leaflet-hash for easy sharing of map links .
*  And @jywarren added the library to npm and bower as well : https://www.npmjs.com/package/leaflet-environmental-layers

### Work to be done :

For now only 2 layers are left :
* watershed ma

[2018-07-09 17:01] SidharthBansal commented on #2676
A user creates an account by the legacy authentication system. The field password_checker is set as zero. Now he tries to login. The username will be taken. We will check if the user having this username has password_checker field as zero. Yes the user has so we will check if the password matches and logs him in

[2018-07-09 17:07] SidharthBansal commented on #2676
Let us define the fields for provider
Facebook 1
Github 2
Google 3
Twitter 4
A new user creates his account using provider. Password checker will be initialised as mentioned above. Then an email is sent to his account to change the password. If the user resets his password then password checker field is set to zero.
Suppose he forgets to change his password. So it will be a non zero field until he

[2018-07-09 17:09] SidharthBansal commented on #2676
We will set the field of all the existing users in our database as zero.
If the field is zero and a user links his account then the password checker field need not to be changed.

[2018-07-09 17:13] SidharthBansal commented on #2676
Am I clear? I need to think for corner cases before implementing. I prefer think before code.

[2018-07-09 17:15] SidharthBansal commented on #2676
We don't have to do anything with the user tag model here. Just we need to migrate the user model.

[2018-07-09 18:04] jywarren commented on #213
How about:

`notify-comment-direct:false` -- this goes back to your earlier way, but given the default "on", it makes sense. 👍

[2018-07-09 18:08] dewanhimanshu commented on #2732
added spam-button #2732 #3016

[2018-07-09 18:11] Gauravano commented on #213
Great! I will complete PR shortly. Thanks!

[2018-07-09 18:17] siaw23 commented on #2941
just forwarded to you an email containing details in debugging this and some extra stuff... @jywarren

[2018-07-09 18:46] Souravirus commented on #3010
Hi everybody,
### **Rails 5 upgrade**
Rails 5 upgrade is done completely and we are currently running on rails 5.2.0. So, I worked on two upgrades after first evaluation, one for rails 5.1 and other for rails 5.2.

### **changing javascript tests**
I am currently working on this and the issue for it is #2967 and the PR for this is #2997. So, I am changing the tests to teaspoon-mocha. And any help

[2018-07-09 18:57] titchimoto commented on #3011
As an OS first-timer, I'd like to take this one, please!

[2018-07-09 19:12] SidharthBansal commented on #3011
Yeah sure

[2018-07-09 20:00] CoderJolly commented on #3014
for local testing, der are problems with config,yml file........pls suggest he changes to be done for local testing

[2018-07-09 20:02] #2981 closed

[2018-07-09 20:06] SidharthBansal commented on #3014
What type of errors?

[2018-07-09 20:08] CoderJolly commented on #3014
Dis comes wen i do rake db:migrate

<img width="620" alt="screen shot 2018-07-10 at 1 37 11 am" src="https://user-images.githubusercontent.com/25739036/42473299-dd04f16e-83e1-11e8-8ed2-d4b80b8658e4.png">

[2018-07-09 20:10] namangupta01 commented on #3014
Just copy `database.yml.sqlite.example` to `database.yml` if you want to use sqlite db.

[2018-07-09 20:17] dewanhimanshu commented on #3012
can i try this?

[2018-07-09 20:18] CoderJolly commented on #3014
not working still

[2018-07-09 20:19] SidharthBansal commented on #3012
Yes

[2018-07-09 20:41] chrisbridges commented on #3012
So you would essentially like to swap the "Sign up with" option and the form? Putting the "Sign up with" buttons on top?

[2018-07-09 20:58] namangupta01 opened #3019 "Add unit tests for the functions in #2933"
#2933 Have some of the newly defined function which do not have  tests so we need to add some tests for it.

[2018-07-09 21:54] CoderJolly commented on #3014
ok thnks

[2018-07-09 23:20] jywarren opened #3022 "testing/debugging reply by email"
@namangupta01 let's debug here!

I see in mailman.log:

[code]

that's the end of the file.

[2018-07-09 23:22] jywarren commented on #3005
In sidekiq log, i see:

[code]

[2018-07-10 03:44] ViditChitkara commented on #3005
@jywarren  I saw this error in naman's pr as well few days back. Some of the related issues:-
https://community.bitnami.com/t/bitnami-gitlab-vm-delayedmailer-error-error-message-getaddrinfo-temporary-failure-in-name-resolution-error-class-socketerror/26207
https://stackoverflow.com/questions/10920444/setting-static-ip-on-ubuntu-server-12-04-makes-loss-of-external-connection
@icarito any ideas? Is

[2018-07-10 04:07] stefannibrasil commented on #3010
Hello, everyone!

@milaaraujo and I this week are planning to start refactoring the Search endpoints. We are beginning by removing all the duplications there and then see how we can improve this part. Will be opening a PR for this soon, we will also check with our coaches before that.

So far, it's working and we also added a few more tests to make sure we didn't break anything ;)

[2018-07-10 04:52] SidharthBansal commented on #3012
Right

[2018-07-10 06:20] nataliyah123 commented on #3014
can I work on this issue?.

[2018-07-10 10:16] juknaCodes commented on #3014
I was able to run the code. But I am not getting the Link To functionality in the Profile Edit.
![image](https://user-images.githubusercontent.com/30264032/42504128-5b4e715a-8458-11e8-8fa6-ea7c85426c10.png)

[2018-07-10 10:40] SidharthBansal commented on #3014
You need to remove the line rails.environment=production then it would work

[2018-07-10 11:16] CoderJolly commented on #3014
okay

[2018-07-10 11:43] bhargavn commented on #3012
Can I try this?

[2018-07-10 13:22] Gauravano commented on #2241
Hi @jywarren @steviepubliclab I have raised PR at #3025 for this issue. Please create a new feature by name **welcome-email-body** . Thanks!

[2018-07-10 13:41] SidharthBansal commented on #3012
@dewanhimanshu is working on this. So, other guys can take other issues

[2018-07-10 14:13] steviepubliclab opened #3026 "Redirecting /wiki pages to /tag pages if no wiki page exists"
Hi!
I'm interested in having a redirect so that if there is no wiki page, the user is taken to the /tag page for that topic. Currently people are taken to a blank page to create a new wiki.

Thanks!
-Stevie

[2018-07-10 14:39] jywarren commented on #3008
Let's also add a "subscribe" to the emails for when new tags are added, something like:

`Follow questions posted related to this topic`

https://github.com/publiclab/plots2/blob/master/app/views/subscription_mailer/notify_tag_added.html.erb

[2018-07-10 15:05] #2896 closed

[2018-07-10 15:06] jywarren commented on #2241
awesome!!!

On Tue, Jul 10, 2018 at 9:22 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-10 16:20] Gauravano opened #3027 "Redirect user to /tag/[search-param] if wiki page doesn't exist"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-07-10 17:03] nataliyah123 commented on #3027
Is this issue claimed by anyone .if not can i try

[2018-07-10 17:52] SidharthBansal opened #3032 "Password checker field in OAuth Login"
### Please describe the problem (or idea)
A user creates an account by the legacy authentication system. The field password_checker is set as zero. Now he tries to login. The username will be taken. We will check if the user having this username has password_checker field as zero. Yes the user has it set as zero we will check if the password matches and logs him in.

Let us define the fields for p

[2018-07-10 17:55] SidharthBansal commented on #2676
@jywarren please see #3032 for password_checker field conversation. Let's not make this issue huge.
I have added few items to the checklist which we discussed on google hangouts.
Thanks

[2018-07-10 17:58] #3012 closed

[2018-07-10 18:16] CoderJolly commented on #3027
pls assign me this issue

[2018-07-10 18:23] SidharthBansal commented on #1716
I will be working on the remaining stuff of OAuth Login first.

[2018-07-10 18:26] SidharthBansal opened #3033 "Swap providers on header"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-07-10 18:29] SidharthBansal commented on #3033
@coderJolly go for it

[2018-07-10 18:29] SidharthBansal commented on #3033
Other people can do other first timer issues

[2018-07-10 18:31] dewanhimanshu opened #3034 "Change Color Of Github Icons"
![screenshot from 2018-07-10 23-26-34](https://user-images.githubusercontent.com/32437794/42529898-51de1824-849d-11e8-8a88-90138a5bfde0.png)
the github icon is green every where . We should change its color to black son that it is more relevant.
@jywarren @SidharthBansal

[2018-07-10 18:54] CoderJolly commented on #3014
is dis still open?

[2018-07-10 19:31] Gauravano commented on #3027
Either of you could start with this. Make sure to mention here. Thanks!

[2018-07-10 19:36] SidharthBansal commented on #3034
Four pages are to be considered
Login page
Header
Sign up page
Edit profile page
@jywarren what will you suggest?
I prefer black

[2018-07-10 19:50] CoderJolly commented on #3027
PR sent @Gauravano

[2018-07-10 19:52] SidharthBansal opened #3038 "User Tag must be visible to admins or themselves"
### Please describe the problem (or idea)
Currently the user tags are visible to all people. We need that the user_tags of OAuth providers be visible to only account holders or admins

[2018-07-10 20:03] #2241 closed

[2018-07-10 20:51] Gauravano commented on #2722
I guess this issue is resolved. Closing it. Thanks!

[2018-07-10 20:51] #2722 closed

[2018-07-10 20:55] Gauravano commented on #378
Any help required here @jywarren @ebarry ? Thanks!

[2018-07-10 21:09] jywarren opened #3040 "SMTP testing system - planning"
Logs show this error when I try to approve a new post:

[code]

[2018-07-10 21:14] nataliyah123 commented on #3027
@Gauravano .

- The following code is creating the security warning by brakeman(possible unprotected redirect) ,Should
   this be excluded from the check
`redirect_to '/tag/' + params[:id]`

- The second test it is failing is "Avoid too many return statements within this method"

- PR sent

please help
Thanks

[2018-07-10 21:43] jywarren commented on #378
OK, so the next thought was to require people signing up to click a "this is really me" link in the email to confirm they really own that email. I think this is probably a good idea but defer to @ebarry

[2018-07-10 21:43] jywarren commented on #378
If they logged in using OAuth, they'd be excepted from this requirement, i guess? @SidharthBansal ?

[2018-07-10 21:48] jywarren opened #3041 "Error message placement issue on signup form"
@SidharthBansal would you mind taking a look at this and one other issue? They don't seem too big but good to resolve promptly. Thank you!!!

![image](https://user-images.githubusercontent.com/24359/42539551-656e4730-8469-11e8-9e0d-e18a17e7f94d.png)

[2018-07-10 21:50] jywarren opened #3042 "Google Oauth login error"
@SidharthBansal this one as well - thank you!

I signed in with jywarren@gmail.com, and saw this -- error log is:

[code]

The URL i saw was: https://publiclab.org/auth/google_oauth2/callback?state=b296efa6269cf90ef94a00b25bda597872f3fa471fffb3f0&code=4%2FAABQ-Gxotu08JGXS-_mWq_3oP9smKvaMs9wT1w5KCNv_C3Ugv0KqWBI7X7EtYTizauyOOHdTfWyswbswlaUSqIk#

[2018-07-10 21:52] jywarren opened #3043 "Welcome email error"
I got an error when making a new account at PublicLab.org - the welcome email resulted in:

[code]

This looks pretty simple - could you try to resolve it pretty quick, since I think people can't sign up right now? Thank you, Gaurav!

[2018-07-10 21:55] jywarren commented on #3034
black sounds nice! Could we also factor these into a template partial so
there's less repetition?

On Tue, Jul 10, 2018 at 3:38 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-07-10 21:59] Gauravano commented on #3043
@jywarren you are required to create a feature by name **email-email-body** as email body depends on it.

[2018-07-10 22:01] #3014 closed

[2018-07-10 22:01] jywarren commented on #3043
Ah, we should have a fallback - check that it exists, you know? But I'll do that too. So this should be less urgent, i'll test again once i've made the feature. Thanks!

[2018-07-10 22:05] jywarren commented on #3043
Linking back to https://github.com/publiclab/plots2/issues/2241

Can you confirm that the email is sent also when people sign up with OAuth?

[2018-07-10 22:06] Gauravano commented on #3043
Sorry @jywarren correct name is **welcome-email-body** https://github.com/publiclab/plots2/issues/2241#issuecomment-403819732

[2018-07-10 22:07] jywarren commented on #3043
Hmm, i still see an error, actually!

[2018-07-10 22:09] jywarren commented on #3043
OK error is different now, related to #3040.

[code]

[2018-07-10 22:10] jywarren commented on #3043
I pinged icarito... we'll see!

[2018-07-10 22:11] SidharthBansal commented on #3041
I have sent a pr @jywarren

[2018-07-10 22:14] SidharthBansal commented on #3042
Can you explain me how did you log in?
via google or fb or twitter or github or username & password Or did you sign up.
Please be careful while writing log in or sign in
Thanks

[2018-07-10 22:18] SidharthBansal commented on #378
@jywarren yeah we don't send any welcome emails to new users.
Can you please elaborate?
This is new issue to me.

[2018-07-10 22:19] jywarren commented on #3042
It was from /signup then pressing the google button

On Tue, Jul 10, 2018, 6:14 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-07-10 22:22] SidharthBansal commented on #3043
Here is the code where user is generated in OAuth
https://github.com/publiclab/plots2/blob/d86632929fc2cc14ee3d2580fc01477791b81e9f/app/models/user.rb#L429-L443
https://github.com/publiclab/plots2/blob/d86632929fc2cc14ee3d2580fc01477791b81e9f/app/controllers/user_sessions_controller.rb#L42-L49
This might help you @Gauravano

[2018-07-10 22:32] SidharthBansal commented on #3042
{"openid.assoc_type"=>"HMAC-SHA1", "openid.dh_consumer_public"=>"AKmp664ObJa7JDKHI2kVrr+xYymTQulcnJN5GZ17aZqDX/VtA7eq
Rvbbm5eZ97ZyfRRhc8b94GKtIQy3Fr8++Ya1wjf9pvmMCVKn/g86kQj3rEsauIMRQNk9TG4Ih3xKUAfKmat2V4S/hS/RKwWIbKbrtcUkLek5msibiIn94gbh", "openid.mode"=>"associate", "openid.ns"=>"http:
//specs.openid.net/auth/2.0", "openid.session_type"=>"DH-SHA1"}

Why are we getting openid fields? Google doesn

[2018-07-10 22:37] icarito commented on #3040
Hi,
The issue is we had hardcoded / whitelisted the app container IP address in our mail gateway configuration. But Docker may change this IP address. The solution was to relay for the IP address range of docker containers. This should have fixed this issue!

[2018-07-10 22:38] icarito commented on #3043
Hi pls test - We deployed with a new IP address and I switched the smtp configuration!

[2018-07-10 22:42] Gauravano commented on #3043
yes, signup working now! Thanks, @icarito!

[2018-07-10 22:46] SidharthBansal commented on #3034
@dewanhimanshu take care that all the four pages looks great after you have set them in a partial.
At some places we place the icons in the center while at other places we keep it on the left.

[2018-07-10 23:03] SidharthBansal commented on #3043
Is it now integrated with providers @Gauravano ?

[2018-07-10 23:18] Gauravano commented on #3043
No @SidharthBansal , email would be sent only when signed up via our normal system. I will link it with providers tomorrow.

[2018-07-10 23:19] SidharthBansal commented on #3043
Great, good night @gauravano

[2018-07-10 23:23] Gauravano commented on #3043
Good night @SidharthBansal !

[2018-07-11 00:19] jywarren commented on #3043
Thanks everyone and good night!!!

On Tue, Jul 10, 2018, 7:24 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-11 13:57] Souravirus opened #3047 "Rubocop offenses to be shown in the front"
Hi @siaw23, @jywarren, @Gauravano, is there some way we can show the rubocop offenses in the front like we show the travis errors and tell the commands to correct it? It would be very easy for new-comers to correct the errors related to rubocop offenses by this. Thanks!!

[2018-07-11 14:25] jywarren opened #3049 "clean up old question commenting javascript and templates"
Now that we have a consistent interface for commenting (thanks to @ViditChitkara in #2896), we should tidy up and clean out the old files that are no longer used. Some are mentioned here;

https://github.com/publiclab/plots2/search?q=previous+comments&unscoped_q=previous+comments

I also don't believe we use this any more?

https://github.com/publiclab/plots2/blob/master/app/views/questions/_comme

[2018-07-11 14:58] jywarren commented on #3049
Ah, actually there is still one place where old-style commenting persists!

![screen shot 2018-07-11 at 10 57 20 am](https://user-images.githubusercontent.com/24359/42580755-3f041f8a-84f9-11e8-82b2-0747a8c1298e.png)

And actually these were collapsed; if someone would like to try:

1. removing the 'default collapsed comments' for answers code and
2. integrating the standard comment form at [this t

[2018-07-11 15:02] jywarren commented on #3049
Here's the collapsed comment area we'd like to make always-uncollapsed:

![screen shot 2018-07-11 at 11 02 14 am](https://user-images.githubusercontent.com/24359/42581068-ee38d5c2-84f9-11e8-89ac-0aa0f593374d.png)

[2018-07-11 15:03] jywarren opened #3051 "500 error on posting comment on an answer"
@Souravirus I'm not sure if this is a routing error or what, but do you think you could take a look?

`https://publiclab.org/comment/answer_create/1068?type=question&body=Ah%2C+ok.+Thanks+for+such+a+careful+look+at+this.+So+we+no+longer+get+separate+modified+lenses+--+we+just+get+whole+modified+and+unmodified+cameras+from+the+factory.+It%27s+very+helpful+to+know+that+the+loose+lenses+don%27t+work+