[2021-07-03 20:51] 17sushmita opened #9880 "[Discussion] Continued refinements to the Cytoscape visualization at https://publiclab.org/tags"
This is the current Cytoscape visualization of the tags on PublicLab https://publiclab.org/stats/graph
Let's brainstorm some ideas to make some refinements.

**cc** @jywarren @cesswairimu @ebarry @RuthNjeri

[2021-07-03 20:52] jywarren commented on #9873
For reference, I think we're talking about locking about 6 rows in the `term_data` table (the tags table) while we update those 6 rows. So not a huge issue, and only when tags are added to a node:

See https://github.com/publiclab/plots2/pull/9165/files#diff-2845087add773fb20ddff83e51ab1ef70788ad7e522c7363e03458c6adab93b3R11

[2021-07-03 20:55] jywarren commented on #9873
I've attempted the fix in https://github.com/publiclab/plots2/pull/9881 so let's see what happens there.

[2021-07-04 17:35] cesswairimu commented on #9860
We free-up FTOs if a week goes by with no updates or replies because we assume they have been abandoned. This is to give other contributors a chance, as these types of issues are high in demand now.

If you'd like to try again with a new FTO, we welcome you to!

Hi @abhiprojectz, would you like to work on this?

[2021-07-04 17:37] cesswairimu commented on #9742
hi @BlogThe , would you like to work on this?

[2021-07-04 17:44] cesswairimu commented on #9083
hi , some updates
@abhiprojectz -  https://github.com/publiclab/plots2/issues/9860
@/BlogThe -       https://github.com/publiclab/plots2/issues/9742

There is a bit complex one [here](https://github.com/publiclab/PublicLab.Editor/issues/628) anyone who would like to give it a try, please leave a comment over there.  Thanks everyone for you patience

[2021-07-04 17:57] cesswairimu commented on #9873
This is looking good @jywarren :tada:

[2021-07-04 18:15] cesswairimu commented on #9866
Thanks Jeff,

I write a couple of ftos almost every week using first-timer bot and still have to look up if the branch prefix should be `first-timer` or `first-timers` I still don't know which one of the two it should be :smile:
I also struggle with some js concepts despite writing some code every now and then :facepalm:

Would anyone like to open next week's check-in?

[2021-07-04 22:55] S-Swaroop commented on #9860
is this issue still open  ?

[2021-07-05 03:13] abhiprojectz commented on #9860
@cesswairimu  yes , i would like to take this up!

[2021-07-05 12:20] RuthNjeri commented on #9873
Hi @jywarren and everyone 👋🏾
I'm having a look at this now, it seems interesting locking the database transaction... I thought the fact that MySQL is relational, it will lock a transaction based on the ACID property...

If the tag locking does not work, we could look into mocking this for the tests...

[2021-07-05 13:17] cesswairimu commented on #9860
Hi @S-Swaroop , @abhiprojectz  is working on this one, please browse to see if you can find any other and if not leave a comment over [here](https://github.com/publiclab/plots2/issues/9083)  and we will ping you when we find a good first-timer issue. Thanks

[2021-07-05 19:06] ksgokul2501 commented on #9742
Hi @cesswairimu, I think this has been resolved, Can you please close this issue?
Trying to search for a good first issue :)

[2021-07-05 21:37] 17sushmita opened #9884 "Error on visiting own profile by a new user(user without posts)"
undefined method `author' for nil:NilClass error on visiting own profile by a new user
![image](https://user-images.githubusercontent.com/42088159/124519452-fbc39100-de06-11eb-88ee-adbcedfc9476.png)

[2021-07-06 09:43] cesswairimu commented on #9866
Am running out of ideas🤦... keeping this for another week. Thanks all

[2021-07-06 10:12] 17sushmita commented on #9866
Hi @cesswairimu, we can create a checkin on the topics we all proposed to learn as discussed in the meeting.
Refer to this comment - https://github.com/publiclab/plots2/issues/9797#issuecomment-866286997

[2021-07-06 11:51] unnati914 commented on #9866
I would be interested for check-in

[2021-07-06 14:48] jywarren commented on #9866
I'd also love to hear a brief one-line update from our @publiclab/soc team here, and each week! Thank you!!!

[2021-07-06 15:26] NH709 commented on #9866
Hello ! Happy to be part of Public Lab @jywarren

[2021-07-06 15:38] jywarren commented on #6593
Relaying in ideas for discussion -

leaving a label in the popover indicating that it's a powertag and explaining what that is:

![image](https://user-images.githubusercontent.com/24359/124628606-a0b58c80-de4e-11eb-9f62-22729441d6bb.png)

Also possibly switching non-powertags to blue and powertags to grey, and @17sushmita suggested possibly an icon to suggest it's a "utility" tag (a cog? Discussio

[2021-07-06 15:49] cesswairimu commented on #9866
Hi all, welcome @NH709 :tada: :tada:
thanks @17sushmita  :tada: :tada: ...  really great idea thanks :100: :100:
thanks @unnati914  :tada: :tada:  ...you can open on Sunday evening or Monday..

[2021-07-06 15:51] cesswairimu commented on #9866
@unnati914  we have this temple https://github.com/publiclab/plots2/issues/new/choose (choose the `Weekly Check-in`) one that you can use... and feel free to ping me then if you need any help. Thanks again

[2021-07-06 16:02] jywarren commented on #9880
Just linking in the notes and links from our call today!

- Cytoscape - https://github.com/publiclab/plots2/issues/1502 original issue (whew, long one)
- https://publiclab.org/questions/bsugar/01-25-2018/how-was-the-tag-graph-visualization-made discussion ongoing
- https://github.com/publiclab/plots2/blob/master/app/views/tag/graph.html.erb#L40

Thank you!

[2021-07-06 16:10] #9860 closed

[2021-07-06 16:18] cesswairimu commented on #9480
we can create a checkin on the topics we all proposed to learn as discussed in the meeting.
Refer to this comment - https://github.com/publiclab/plots2/issues/9797#issuecomment-866286997

_Originally posted by @17sushmita in https://github.com/publiclab/plots2/issues/9866#issuecomment-874636351_

[2021-07-06 16:47] jywarren commented on #9871
Yes, i wonder if this is an ordering issue or timing? We might be able to insert a wait or do something else to tweak the ordering so that it reliably succeeds in completing `bundle install` so it can continue to set up the dev environment and open a browser preview window. Otherwise it's pretty hard for newcomers to figure out what's going wrong!

[2021-07-06 16:50] jywarren commented on #9873
OK, we merged https://github.com/publiclab/plots2/pull/9881 to try to address this. Let's watch out and i suspect (and @Manasa2850 noted something related to this too) that there's another issue sometimes causing test failures. We can close it if things have stabilized in a week or two!

I did notice that CodeCov failed twice for @17sushmita in https://github.com/publiclab/plots2/pull/9885 and htt

[2021-07-06 16:53] #9586 closed

[2021-07-06 17:49] jywarren commented on #9873
Lots of codecov failures w dependabot: https://github.com/publiclab/plots2/pull/9887

[2021-07-06 17:50] jywarren commented on #9873
See here for example I asked dependabot to rebase https://github.com/publiclab/plots2/pull/9886#issuecomment-874962061

[2021-07-06 17:54] cesswairimu opened #9888 "Improving the on-boarding process on PublicLab website"
This is an issue to continue the discussion we had a few weeks ago with @ebarry on the soc call, stemming from a conversation we had last year in the web and coding prioritization meeting late last year.. on how we can better on-boarding process on the publiclab website / explain  the levels of accessibility(rights) to new contributors, what different users can/can't do, when one is allowed to add

[2021-07-06 17:56] Manasa2850 commented on #9776
As discussed in today's call, I'll implement the following things for now

- [ ] Swap the colors of the normal tags and power tags.
- [ ] Hovering over the power tags should display 'Power Tag'.

[2021-07-06 18:39] aliciapaz commented on #9880
I love this discussion! I'm a big fan of the Cytoscape view 🤩

These are some ideas that I have:

#### Improve responsiveness
- Display a different number of nodes according to the size of the device. For instance, when I look it up on my phone, all I can see is a really dense cloud of words 😮 . Maybe this can be accomplished by displaying only the nodes with a certain "weight" and above on small

[2021-07-06 19:36] cesswairimu commented on #9742
Looks like we created a duplicate for this issue https://github.com/publiclab/plots2/issues/9791 and was solved in https://github.com/publiclab/plots2/pull/9804. Thanks @ksgokul2501  for pointing this out. Closing this. Thanks all

[2021-07-06 19:36] #9742 closed

[2021-07-06 20:10] cesswairimu commented on #9742
@ksgokul2501 feel free to ping me if you can't find anything to work on, I can help you find one

[2021-07-07 02:50] 17sushmita commented on #9880
Thanks, @aliciapaz, really great points!! I'll start working on them.

[2021-07-07 05:18] unnati914 commented on #9866
sure

[2021-07-07 05:23] unnati914 commented on #9866
I have an idea.. for more people to take part in publiclab could we give an announcement on social platforms about our call and beginner friendly issues.. if that is allowed..

[2021-07-07 05:24] soham4abc commented on #9866
That would be great!

[2021-07-07 11:42] imajit commented on #9859
I tried to export strings from the Github repository to the Transifex project, but it says URL not correct. It pointed it to the en.yml file in the main branch and also changed the project slug from master to main.
I changed the slug from `--master` to `--main`
![im3](https://user-images.githubusercontent.com/38528640/124753115-3da72100-df46-11eb-8c82-1f5fa365d079.png)
This is the updated URL
![im

[2021-07-07 11:46] imajit commented on #9859
I want to try some ways suggested in the documentation to integrate Github Repo to Transifex, so to make sure I don't change the existing project I'm thinking of trying out things on a dummy project, and then once I figure out the right way, I'll do the same from the existing project.

[2021-07-07 23:19] TildaDares commented on #9660
@ebarry @jywarren @RuthNjeri
The drafts page looks like the research notes index page without the nav tabs. I'm not too sure about the heading text.

<img width="1280" alt="Screenshot 2021-07-08 at 00 08 02" src="https://user-images.githubusercontent.com/63427719/124839364-93002400-df80-11eb-89e7-36be2902d9a2.png">

I'm also reconsidering adding the drafts tab in the research notes index page. Som

[2021-07-08 08:28] imajit commented on #9859
I finally figured out what went wrong in importing the strings from Github to Transifex. The URL link to update the file needs to be a `raw` format of the file. This automates the importing strings to the Transifex part, so now Transifex keeps a check of the `en.yml` file and imports new strings as and when they are added.
![w](https://user-images.githubusercontent.com/38528640/124888897-27579e80-

[2021-07-08 12:57] imajit commented on #9859
On trying to sync the Transifex project with the Github Repository, some files fail to sync. Here is a snippet of the error log.
[code]
Korean, Italian, French, and Chinese files sync properly. I'm not sure if this is a language-specific issue or something related to integration. Searching for more information about the errors.

[2021-07-08 15:43] jywarren opened #9891 "Pinned notes not appearing on tag pages listings"
We have a system for "pinning" notes - ensuring they are pulled to the top of a listing of notes for a given topic, if they have a tag in the format `pin:______` -- for example, these notes are pinned to the top of this table of `activity:balloon-mapping` notes with the tag `pin:activity:balloon-mapping`:

![image](https://user-images.githubusercontent.com/24359/124949996-09803e80-dfe0-11eb-94f2-3

[2021-07-08 15:44] jywarren commented on #9891
We even have a test for this. So what's going wrong?

https://github.com/publiclab/plots2/blob/7af4b026fa2d5d897af76800bda0b853bd6d7f8c/test/functional/tag_controller_test.rb#L33-L48

[2021-07-08 15:46] jywarren commented on #9891
Never mind! I believe we have a cache on that page, it just took a little while to show up:

![image](https://user-images.githubusercontent.com/24359/124952242-12720f80-dfe2-11eb-8760-07aaa21f1c63.png)

Should we try flushing caches when a pin tag is added? Otherwise, we can close this!

[2021-07-08 16:48] jywarren commented on #9660
Hi! I love both, for different reasons, and I really appreciate your thinking through this. We can adjust the breakpoints but it might be best to put "Drafts" last if we do so we can just adjust visibility for that single one rather than for all? But, I trust your judgement on this. The single page looks great as well, and we could add `Visible to you and those you've shared a private link with` m

[2021-07-08 16:59] 17sushmita commented on #9880
Hi @jywarren @ebarry, In Cytoscape visualization, Do we need the directed graph or undirected should be fine? Currently, the graph is having directed edges although the direction is not visualized, but nodes have more than one edge to the same destination node. And there are so many edges that it just looks like a cloud of edges. What do you think? Are the directed edges relevant in our use case?

[2021-07-08 20:56] Tlazypanda commented on #9873
So I might be shooting in the dark but I found this issue https://github.com/codecov/codecov-action/issues/330 and this link https://stackoverflow.com/questions/67861379/codecov-fails-in-github-actions which suggests moving to 1.5.2 should solve our issue and then in our `dependabot.yml` file `codecov` dependency is under `ignore` category so could it be that we aren't updating our codecov and we

[2021-07-09 08:57] TildaDares commented on #9888
A new contributor on PublicLab cannot create drafts and there's no help text or guide in the post page that helps the user understand this. I remember being really confused when I wanted to save my proposal as a draft.

<img width="1280" alt="Screenshot 2021-07-09 at 09 55 30" src="https://user-images.githubusercontent.com/63427719/125052372-ce434580-e09b-11eb-943b-7d335e26cdf3.png">

A small text

[2021-07-09 11:38] imajit commented on #9859
This error is a language-specific issue and not related to integration, Transifex uses en.yml as the resource file and syncs all other translation files to it. If we compare the `units:` translations we can see that some units have `one:`,`other:` sub-parts in translation but the main en.yml file does not have it. This is the cause of the error.
https://github.com/publiclab/plots2/blob/7af4b026fa2

[2021-07-09 12:16] unnati914 commented on #9866
should i open the weekly check-in sunday evening?

[2021-07-09 12:20] unnati914 commented on #9533
is there any help needed in this issue?

[2021-07-09 12:21] unnati914 commented on #9533
i can help :) in creating fto if still needed :)

[2021-07-09 19:45] Tlazypanda commented on #9866
Hey @unnati914 we usually open check-ins on Mondays/Tuesdays but I don't think anyone minds an early check-in 😛

[2021-07-09 21:32] #9891 closed

[2021-07-09 21:32] jywarren commented on #9871
I'm seeing that ruby 2.6.6 wasnt installed but was required by the gemfile, so i had to run `rvm use ruby-2.6.6` or something, and then:

[code]

after `gem install bundler:2.2.21` the gems installed.

This hiccup may be stopping GitPod from being a smooth experience!

[2021-07-09 22:11] jywarren commented on #9866
I love this idea too! any time someone creates a new first-timers-only issue you're welcome to shout it out on social media. Or just in general to point at https://code.publiclab.org!

[2021-07-10 02:47] cesswairimu commented on #9873
oh nice @Tlazypanda checking this out. Thanks

[2021-07-10 02:59] cesswairimu commented on #9888
really awesome @TildaDares ...yeah I agree a popover would be better, not sure if its possible to show different texts on a hover based on which kind of user is logged out but will research on it...I will add the ideas on the issue as a checklist. Thanks

[2021-07-10 03:16] cesswairimu commented on #9888
Maybe we should hide the save as draft button for new contributors :thinking:

[2021-07-10 03:59] anirudhprabhakaran3 commented on #744
Isn't CSRF protection in-built to Rails?

Also, in <code>application_controller.rb</code>, we have
[code]

In <code>app/views/comments/_form.html.erb</code>, in the form we have
[code]

Is this how it should be extended to other forms?

[2021-07-10 03:59] anirudhprabhakaran3 commented on #9637
Hello! I'm trying to look into https://github.com/publiclab/plots2/issues/744 if that's okay

[2021-07-10 04:04] cesswairimu commented on #9873
@jywarren I checked and couldn't find anywhere we could specify the codecov version. Any ideas? thanks

[2021-07-10 04:08] cesswairimu commented on #9637
Hi @anirudhprabhakaran3 , thanks...its more of an investigation issue...see if we are using the CSRF token correctly or we did to change something. we sould love your help with this. Thanks again

[2021-07-10 04:29] cesswairimu commented on #9871
thanks Jeff, attempting this here https://github.com/publiclab/plots2/pull/9897

[2021-07-10 05:55] cesswairimu opened #9898 "refactor images shortlink"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-07-10 05:56] cesswairimu commented on #9898
Reserved for @saraswathy-krish

[2021-07-10 05:59] cesswairimu commented on #9083
hi @saraswathy-krish  here is one for you https://github.com/publiclab/plots2/issues/9898

Hi all, I am moving this to another issue as the names are no longer highlighting in the list ...I will move all the unchecked names on the list to the next issue. Thanks all .

[2021-07-10 05:59] #9083 closed

[2021-07-10 06:04] cesswairimu opened #9899 "Request & make "first-timer-only" issues for newcomers"
(This issue is in continuation of https://github.com/publiclab/plots2/issues/9083  )

Hi everyone!

We, at Public Lab, are known for welcoming new contributors into the Open Source world but a number of times, newcomers were not able to find first-timers-only issues to start their journey or face troubles making their first contribution with us.

Reasons being:

Lack of first-timers-only issues
St

[2021-07-10 06:15] cesswairimu commented on #9654
Looks like this was solved in https://github.com/publiclab/plots2/pull/9658 . Closing this, thanks all

[2021-07-10 06:15] #9654 closed

[2021-07-10 15:03] unnati914 commented on #9866
sure! @Tlazypanda 💯

[2021-07-10 19:19] saraswathy-krish commented on #9898
Hello @cesswairimu , Thank you, I will start working on this.

[2021-07-11 02:57] saraswathy-krish commented on #9898
Hi @cesswairimu I have created a pull request for the same. Kindly let me know in case of any issues.
Thanks again for helping me out!

[2021-07-12 06:47] #9884 closed

[2021-07-12 07:30] unnati914 opened #9901 "Weekly Community Check-In #109 - UI/UX and its Importance 💯"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-07-12 07:32] unnati914 commented on #9866
moved to #9901 💯

[2021-07-12 13:11] osaf96 commented on #9899
Hi there , I want to start contributing to open source but I'm confused about finding issues or bugs or enhancements that i can fix or at least work in it. I will be grateful if you can put me on a list of FTO. I need some guidance. My prefer language is Javascript (vanilla), Typescript and/or can work in angular framework as well as in noTe js.
thanks a lot

[2021-07-12 13:45] cesswairimu commented on #9866
Thanks @unnati914  :tada: :tada:

[2021-07-12 13:45] #9866 closed

[2021-07-12 13:48] cesswairimu commented on #9901
Great theme Thanks @unnati914  for opening this :tada: :tada:

[2021-07-12 14:13] RuthNjeri commented on #9660
It looks great @TildaDares, I agree with Jeff, also the `sort_by` is only available for the research notes. It does not pop up for the other items in the navbar so it's breakpoint should be easy to fix.

[2021-07-12 14:46] anirudhprabhakaran3 commented on #9901
Hello! It's been a long time since I've logged in here. (had some issues with the laptop)

This is a great theme. Right now, I'm also trying to improve the UI/UX of one of my college projects, and honestly, it's difficult! No wonder why UI/UX designers get paid so much. One of my favourite resources is the RefactoringUI book, which one of my seniors so kindly sent to me. It's an amazing book, and

[2021-07-12 17:13] Ayush0730 commented on #9899
Hi! I am looking to contribute to FTO issues

[2021-07-12 20:18] jywarren opened #9903 "CSV graph display in comments not loading"
This was a very obscure use case but probably affected by the new commenting code -- it looks like a pretty easy fix though, as we're mainly seeing some JS object turned directly into a string instead of some property of it being shown:

https://publiclab.org/questions/stevie/08-23-2019/what-are-best-practices-and-tools-to-help-clean-up-data-sets#c25527

![image](https://user-images.githubusercont

[2021-07-12 20:18] jywarren commented on #9903
And, sorry this was such an esoteric obscure feature! It should've had a test but I believe it predated system tests?

[2021-07-12 20:35] noi5e commented on #9903
@jywarren Hmm, yeah, that is super weird! In my experience, the `object Object` thing DOES happen when objects are converted back and forth from strings and so forth. So I think you're correct it's probably something like that happening.

I remember toward the end of the Outreachy internship, you mentioned once in a meeting that comments and posts will go through some kind of processing library to

[2021-07-12 20:46] jywarren commented on #9903
OK, cool, thanks -- let's see.

Here's the filter; i believe it's fetching the template, inserting things, and it actually seems OK, because it's inserting /something/:

https://github.com/publiclab/plots2/blob/4b3557e395f27f7ec9269114f0cb9c6329364d36/app/models/concerns/node_shared.rb#L57-L73

Just looking in the same commit as those changes, i see https://github.com/publiclab/plots2/pull/1689

b

[2021-07-12 20:48] jywarren commented on #9903
Ah, looks like the CSVs themselves aren't loading, possibly due to CORS or something on the new Google Storage API?

[2021-07-12 20:49] jywarren commented on #9903
![image](https://user-images.githubusercontent.com/24359/125353892-1fb83280-e331-11eb-95e3-5ef8dea305e0.png)

Yes! OK, asking @icarito

[2021-07-12 20:57] mostafa1912 commented on #9083
I would like to work on java projects!

[2021-07-12 21:17] icarito commented on #9903
Yes my javascript console reads:
[code]
Will look into how to add this to GCP Storage.

[2021-07-12 21:23] #9853 closed

[2021-07-13 05:47] unnati914 commented on #9901
yes @anirudhprabhakaran3 its a great book  I am also exploring UI/UX since two months and trust me its difficult ! So thought of opening the weekly check in with this theme.

[2021-07-13 05:48] unnati914 commented on #9901
thank you @cesswairimu for the opportunity 💯

[2021-07-13 08:43] cesswairimu commented on #9899
Hi @Ayush0730, welcome...added your name to the list and we will ping you when we one is available. Thanks

[2021-07-13 13:02] aummishra commented on #9899
Hello! I am looking to contribute to FTO issues

[2021-07-13 13:37] daemon1024 commented on #9698
I realised, I haven't noted down my progress in this planning issue.

Regarding Github Actions, the workflow lies at https://github.com/daemon1024/leaflet-environmental-layers/issues/6 and seems to be working fine.

I have started working on the web form which will take the input and in-turn run the above github action . https://daemon1024.github.io/leaflet-environmental-layers/example/form.html

[2021-07-13 14:44] jywarren commented on #9698
Hi @daemon1024 - this is looking really nice. I just gave it a try and made screenshots which could be used in documentation.

https://github.com/daemon1024/leaflet-environmental-layers/issues/12

Agreed on PL People API which is /super/ slow right now. I'll also look in on the Cypress thing!

[2021-07-13 14:45] arushisinha09 commented on #9899
Hey , I'm interested in contributing towards FTO issues .

[2021-07-13 14:56] waridrox commented on #9901
Hi all 👋, cool theme @unnati914! 🌈 though I prefer blogs/vids rather than reading books cause I'm too lazy :P

- I personally follow UI Design Daily which sends latest UI trends straight to your inbox so you're up in sync what's trending in the market - https://www.uidesigndaily.com
- Other than that I follow Punit Chawla which talks about UI/UX in a really cool manner on YT - https://www.youtube.

[2021-07-13 15:00] cesswairimu commented on #9899
Hi @arushisinha09, I have added your name list.
hi @aummishra, we don't have any C++ projects at the moment, most of the PublicLab projects are in javascript and ruby, I have added you name to list too please let me know if thats okay with you. welcome you both

[2021-07-13 15:01] #9660 closed

[2021-07-13 15:23] abhiprojectz commented on #9901
@waridrox  That's so nice.

And @unnati914  Its a nice theme.

Here is list of something awesome that, i found interesting:

- https://github.com/alexpate/awesome-design-systems
- https://github.com/gztchan/awesome-design
- https://github.com/kevindeasis/awesome-ui
- https://github.com/wasabeef/awesome-android-ui
- https://github.com/netoguimaraes/awesome-ux
- https://github.com/goabstract/Awesome

[2021-07-13 15:23] unnati914 commented on #9637
Hi. I want to take #744 if thats available

[2021-07-13 16:02] Manasa2850 commented on #2439
@jywarren I'm not able to produce this page locally. How do I go about this?

[2021-07-13 18:15] jywarren commented on #2439
Hi @Manasa2850 do you mean you can't access for example: http://localhost:3000/tag/spectrometry?start=07-01-2018&end=08-01-2018 ?

[2021-07-13 18:16] jywarren commented on #2439
We may be able to look at #9256 for a quick and standard way to insert dates.

[2021-07-13 18:18] jywarren commented on #9901
Hi all! Love the theme too @unnati914 -- thanks!

We have this style guide which we developed to help people with the particular challenges of UI/UX within Public Lab spaces: https://publiclab.org/notes/warren/05-07-2019/introducing-a-draft-style-guide-for-public-lab

It was a super in-depth process, but the output is pretty useful and not too long!

[2021-07-13 18:21] #9623 closed

[2021-07-13 18:22] jywarren commented on #9880
Do you want to re-open this and keep working on it?

[2021-07-13 18:23] jywarren commented on #9880
I guess i'm not sure what the directedness gives us. We just want to know how closely related they are, and it doesn't really matter the directionality of the link. So I think we can ignore it!

[2021-07-13 18:24] jywarren commented on #9880
What if we had a few other ways to use this -- like, if we double clicked, or something, what if it reorganized the graph around the node you clicked? Would that be useful at all?

[2021-07-13 18:32] jywarren commented on #9798
Hi Tilda! If you are interested in taking this one up, i think the next steps were:

1. think about/take notes on the potential performance impact of a dual query
2. try some load tests in the Rails console?
3. Try making the change and pushing it to unstable for speed tests in the dev console Network pane
4. think about how best to document this change and make future developers aware of how it w

[2021-07-13 18:36] jywarren commented on #7556
Hi @daemon1024 - I am looking at this next and I think @Manasa2850 and @17sushmita may have some insights into this as it's a query heavily based on the tagging system.

I'd say we should start with:

1. researching the causes for slowness
2. some brainstorming around ways to improve it: caching? query optimization? other options?

The whole query is in this method:

https://github.com/publiclab/p

[2021-07-13 18:43] jywarren commented on #9569
Thanks @Elukoye this is such a good observation:

Maybe we could... add a tooltip that says "your draft will be saved once you press Published" or something, to try to clarify? Or any other ideas?

[2021-07-13 18:50] jywarren commented on #8508
Hi, this one is open again! Thanks, everyone!

[2021-07-13 18:57] osaf96 commented on #9899
Hi there, I want to start contributing to the community. My prefer language is java. Please add me to the list and if there is something i can do please let me know. Thanks

[2021-07-13 18:59] jywarren commented on #9859
Just circling back here - i think we agreed to file a question with the Transifex community and/or support (maybe both if it's possible?)

This seems like a common problem that'd come up for many languages, and I'm curious what their preferred/best practice is.

[2021-07-13 19:00] jywarren commented on #9859
Thanks for your careful working through of this issue, @imajit !! Do i remember you had another possible idea, regarding a different version of the gem maybe?

[2021-07-13 19:01] jywarren commented on #9888
I love the idea @TildaDares  and also wonder if you have other ideas for places to sort of smooth the onboarding with such tips!

[2021-07-13 19:02] jywarren commented on #9888
this too. Great idea!

[2021-07-13 19:05] govindgoel commented on #9899
Okay sure @osaf96

[2021-07-13 19:22] 17sushmita commented on #9880
Yes, that seems a great idea. I'm thinking upon different possibilities around this and will link them to some events listeners.

[2021-07-13 19:27] jywarren commented on #5641
Moving to CodeCov i think now! Thank you!

[2021-07-13 19:27] #5641 closed

[2021-07-13 19:33] jywarren commented on #9873
Great digging here, @Tlazypanda @cesswairimu !!!

Digging into when that ignore got added...

#6290 relevant... also #9756 cited the same CodeCov issue!

https://github.com/publiclab/plots2/pull/9552 is maybe where CodeCov was last updated, on April 23 2021

https://github.com/publiclab/plots2/blob/6832a437ed2a6451d6bc30bb9876906a9ec92eb8/Gemfile.lock#L89-L90 shows v1.5.2 so we are already on that

[2021-07-13 19:36] jywarren commented on #9873
Looking at a recent fail here for exact reference: https://github.com/publiclab/plots2/pull/9894

[2021-07-13 19:41] jywarren commented on #9873
So there seems to be some error for 9894 in CodeCov:

![image](https://user-images.githubusercontent.com/24359/125514854-8c9b6b49-ba87-4019-9f09-6d6fa0cdb64c.png)

[2021-07-13 19:44] jywarren commented on #9873
I'm going to do 2 things to see if we get past it:

1. read and implement https://docs.codecov.com/docs/error-reference#section-missing-base-commit to get past that issue
2. get a new token, as https://github.com/codecov/codecov-action/issues/330 recommends

[2021-07-13 19:45] jywarren commented on #9873
Also noting some people are using a specific GitHub Actions step like this:

[code]

[2021-07-13 19:50] 17sushmita commented on #7556
This seems to be an interesting issue 🤔 . Looking into this if I can find anything.

[2021-07-13 20:12] jywarren commented on #9873
Could be this? https://community.codecov.com/t/unable-to-determine-a-parent-commit-to-compare-against-in-base-branch-after-squash-and-merge/2480/20

[2021-07-13 20:12] jywarren commented on #9873
Oh hmm, i see this message:

Sure! I'll try that!

[2021-07-13 20:17] jywarren commented on #9873
OK i tried reinstalling the app. I thought it'd be a different "Github app" but it looked the same... in any case hopefully it'll "reset" something.

I also tried this solution for the "missing base commit" error: #9905

Also i noticed this amazing graph of the issues happening over time:

![image](https://user-images.githubusercontent.com/24359/125518979-e6c1ea07-561a-48f2-9741-9902193f37f5.png)

[2021-07-13 20:21] jywarren commented on #9873
I don't know if this is a new feature, but i saw this `rerun` link and clicked it on #9894:

![image](https://user-images.githubusercontent.com/24359/125519414-f67e8825-cd5d-4505-b9dc-f3370f2c7684.png)

Could be a new feature of the new app, or just something i didn't notice before?

[2021-07-13 20:21] jywarren commented on #9873
OK so for what it's worth, Re-run failed in 1 second: `codecov/project Failing after 1s — 49.24% (-29.00%) compared to d12a468`

[2021-07-13 20:21] TildaDares commented on #9798
Sounds good @jywarren.

[2021-07-13 20:22] TildaDares commented on #9798
Sounds good @jywarren.

[2021-07-13 20:35] jywarren commented on #9873
https://docs.codecov.com/docs/comparing-commits

In general though, lots of people are using this: https://github.com/codecov/codecov-action

I'm not actually sure how ours is run! Is it some hook? Originally installed in https://github.com/publiclab/plots2/pull/5954

But, this looks like it may have worked??

https://github.com/publiclab/plots2/pull/9905

[2021-07-13 20:37] jywarren commented on #9873
Aha - here's where it's run in each test job:

https://github.com/publiclab/plots2/blob/d9ad9e4d3618d5a1a440ba540f622f6dee911c96/test/test_helper.rb#L1

[2021-07-13 20:52] jywarren commented on #9873
I tweaked quite a bit in the codecov.yml file in #9905 - following also guidance here:

https://docs.codecov.com/docs/comparing-commits#pseudo-comparison

[2021-07-13 21:16] jywarren commented on #9502
Looking in recent logs, i see this!

[code]

Does that mean those two aren't even running?

[2021-07-13 21:23] jywarren commented on #9667
Hi, Tilda - noticing that you are almost done with your list, here, would you be interested in some additional tasks? Just whatever may interest you -- i'm happy to dig for some and you can tell me what you like?

https://github.com/publiclab/plots2/issues/956 is one that has to do with refactoring out old code. But maybe it doesn't seem very interesting to you. Let me think on it a bit but do tel

[2021-07-14 02:45] Amishakumari544 commented on #9899
Hi, I want to start contributing to the community starting with FTO issues. My prefer language is Javascript and Ruby. Please add me to the list and if there is something I can contribute please.

[2021-07-14 11:32] 17sushmita commented on #9899
@Amishakumari544, added your name to the list. Will soon get you an FTO when it is available. Thanks :)

[2021-07-15 14:21] jywarren commented on #9873
OK, so this still isn't working and we are currently uploading all reports twice, even using the CodeCov GitHub Action which is the 'preferred' up-to-date way.

This suggests storing the reports as artifacts and then uploading them all together at the end: https://github.com/codecov/codecov-action/issues/300

It sounds great. Let's try that.

[2021-07-15 14:22] jywarren commented on #9873
Also noting that we aren't seeing errors like https://github.com/codecov/codecov-action/issues/330; we're just seeing inconsistent and varying coverage percentages, possibly because it's not properly integrating the reports from each job (unit tests, integration tests, etc) being uploaded at different times.

[2021-07-15 14:24] jywarren commented on #9873
Also noting that March 19 was around when we started seeing this much lower coverage reporting. And, I am seeing one instance of the barnstar test failure I thought we'd fixed, above: https://github.com/publiclab/plots2/pull/9905#issuecomment-879434128

However, it was one of like 10 test runs, so not too common.

[2021-07-16 11:51] imajit commented on #9859
I saw a discussion regarding Copycopter gem  https://github.com/publiclab/plots2/issues/3262#issuecomment-452375614

[2021-07-16 14:38] daemon1024 commented on #7556
So the problematic queries are still the same

[code]
and
[code]

The second one is quite similar to first one so bound to be problematic :P

The `?` here denotes that we are looping and repeatedly making these queries for different uids.

Skylight suggests that we eager load things and predefine assosciations we want so as the generated query is not repetitive
[code]
Ref : https://www.skylight.io

[2021-07-16 14:44] daemon1024 commented on #7556
Here's a guide to how we can eager load things https://guides.rubyonrails.org/active_record_querying.html#eager-loading-associations

https://github.com/publiclab/plots2/blob/6832a437ed2a6451d6bc30bb9876906a9ec92eb8/app/services/search_service.rb#L201

I believe we can modify this line to be something like
[code]

What do you think about this?

[2021-07-16 15:10] jywarren commented on #9859
OK - let's try to get a response from Transifex then. If you've opened a support request can you link it from here or otherwise update us here on the status of the conversation? Thank you!

[2021-07-16 15:14] imajit commented on #9859
Yes,   I opened an issue on the community page  https://community.transifex.com/t/plurals-rules-error-on-uploading-translation-file-to-transifex-project/2370

[2021-07-16 15:15] jywarren commented on #7556
Let's try eager loading, push it to unstable, and try it out, timing things in CURL for now? It's a little more primitive but could work:

https://www.badunetworks.com/performance-testing-curl-part-1-basics/

Thank you!!!

[2021-07-16 15:17] jywarren commented on #7556
I think we'll probably have to try a few different measures to reduce the load time. We could also filter results more if it's raw database size that's causing trouble. But reducing nested queries may help a lot. I like the idea of testing by:

We could push such a test to unstable too in order to test it out.

Just be aware (@)icarito is using unstable a lot these past few days to test out an ima

[2021-07-16 15:43] jywarren commented on #9873
OK, attempting a "merge-pr" action which uploads new coverage after a PR is merged. If that doesn't work, we might try this template for compiling up all reports before uploading:

https://github.com/codecov/example-actions-bundled/blob/2ab79565a2e2daa4d07857899b1089437461baac/.github/workflows/ci.yml#L11-L29

[2021-07-16 15:47] jywarren commented on #9873
I think this last one where we upload a report for the base branch after each PR is promising. The low CodeCov coverage score is suspect in part because it's comparing against some random commit:

`codecov/project — 26.04% (-52.20%) compared to d12a468` where https://github.com/publiclab/plots2/commit/d12a468 is not even in our base branch tree -- it's a commit from within this squashed PR: https:

[2021-07-16 15:49] jywarren commented on #9873
The "wrong base for comparison" theory matches the error message I get when [viewing this PR in CodeCov](https://app.codecov.io/gh/publiclab/plots2/compare/9905):

[code]

that pseudo base is not even in our base branch tree.

[2021-07-16 16:17] jywarren commented on #9873
Working a little on the barnstar system test timing issue which is quite rare but happened twice in #9905 over like 20 runs...

https://github.com/publiclab/plots2/pull/9909

[2021-07-16 16:34] #9873 closed

[2021-07-16 16:37] jywarren commented on #9873
OK, we had a slight hiccup where the merge-pr action was in the wrong folder. Moved it and adjusted in https://github.com/publiclab/plots2/pull/9910

[2021-07-16 17:03] jywarren commented on #9873
OK, hopeful this will work: https://github.com/publiclab/plots2/actions/runs/1038211403

🤞

[2021-07-16 17:03] jywarren commented on #9873
https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions

[2021-07-16 17:03] jywarren commented on #9873
https://docs.github.com/en/actions/reference/authentication-in-a-workflow

[2021-07-16 18:18] daemon1024 commented on #7556
I tested thing out on https://unstable.publiclab.org/api/srch/nearbyPeople?nwlat=55.3791104480105&selat=23.40276490540795&nwlng=-128.67187500000003&selng=178.76953125

Well the improvements are 10x already.
From 30+seconds to 2-4seconds

[2021-07-16 18:23] daemon1024 commented on #7556
So the next step would be to try eager loading. This should help in our performance significantly I believe.

Agreed. Will look into further improvements after improving this.

[2021-07-16 18:48] daemon1024 commented on #7556
The performance now seems to be regressed back to normal.

[2021-07-16 18:52] jywarren commented on #9873
OMG ok this took a while. I think i got it. We now have this which triggers after a merge to main:

https://github.com/publiclab/plots2/runs/3088995766?check_suite_focus=true

That then is used as a trigger for another run of the regular tests workflow, which strangely here ran twice:

https://github.com/publiclab/plots2/actions/runs/1038480174

https://github.com/publiclab/plots2/actions/runs/103

[2021-07-16 18:53] jywarren commented on #9873
https://github.com/actions/runner/issues/950

[2021-07-16 18:55] jywarren commented on #9873
Hmm. it's still running 2x. But the sequence is now:

1. https://github.com/publiclab/plots2/actions/runs/1038489457 - original PR
2. https://github.com/publiclab/plots2/actions/runs/1038493942 to trigger one more run after merging PR
3. https://github.com/publiclab/plots2/actions/runs/1038493985 and https://github.com/publiclab/plots2/actions/runs/1038494629 run

This is good enough for now!

[2021-07-16 19:00] jywarren commented on #9873
Now i'll open a new PR and we'll see what it compares against!

[2021-07-16 19:01] jywarren commented on #9873
I'm also hoping we'll see "Missing base report" on this page go away:

https://app.codecov.io/gh/publiclab/plots2/pulls?page=1&state=open&order=-pullid

![image](https://user-images.githubusercontent.com/24359/125996401-960327f1-90d6-48c9-9fc2-33f256afb19c.png)

[2021-07-16 19:13] jywarren commented on #9873
Ooh! I think that's it!

![image](https://user-images.githubusercontent.com/24359/125997607-2b5fe0b8-f998-471d-af77-8c56a850bb2a.png)

[2021-07-16 19:15] jywarren commented on #9873
And https://github.com/publiclab/plots2/pull/9909 | https://app.codecov.io/gh/publiclab/plots2/compare/9909 is now not showing "Missing base report" anymore! 🎉

[2021-07-16 19:52] jywarren commented on #9873
OK - the good news is that the comparison is against the correct base commit: `compared to 3d3de3f`

However, the /check/ isn't passing, and is reporting 59.59% (-22.56%) which is not right. CodeCov itself reports 74.07% here: https://app.codecov.io/gh/publiclab/plots2/compare/9909/. I think the 59.59% is from one commit behind. I.e. before it was really ready to report back. The "re-run" link doe

[2021-07-16 20:11] jywarren commented on #9873
After looking in documentation, i finally just reported the discrepancy to CodeCov in their forums: https://community.codecov.com/t/github-status-check-reported-too-early/3043

https://docs.codecov.com/docs/github-checks

https://docs.codecov.com/docs/commit-status

[2021-07-16 21:10] daemon1024 commented on #7556
So we have a similar construct in nearbyNodes too.
https://github.com/publiclab/plots2/blob/b70cbefa443ace9be1e83a5dde56a10e9603a135/app/services/search_service.rb#L144-L148

And that uses eager loading too.
https://github.com/publiclab/plots2/blob/b70cbefa443ace9be1e83a5dde56a10e9603a135/app/services/search_service.rb#L137

History for this points to https://github.com/publiclab/plots2/pull/1987/

[2021-07-16 22:17] daemon1024 commented on #7556
Reverted this commit since it broke things 😅

Is there a way to check what query is being executed? Locally maybe? like skylight does.

[2021-07-17 07:24] daemon1024 commented on #9901
Hey all, love the theme @unnati914 🤩. Found a lot of cool resources in the thread 🙌 I personally just scroll through Dribbble or Behance and look at what awesome things folks are working in the UI/UX space.

[2021-07-17 08:52] Tlazypanda commented on #9901
Hey great theme @unnati914 :tada: I personally am not really great in this space but I follow Pablo Stanley founder of Blush for his great illustrations and sense of humour :D do check him out whenever you can :p

[2021-07-17 08:54] Tlazypanda commented on #9901
Also folks if any of you are interested to open next week's check-in do let us know :100:  feel free to reach out if you need ideas for the theme too :smile:

[2021-07-17 15:33] unnati914 commented on #9899
Welcome @Amishakumari544 to the community 💯

[2021-07-17 16:25] Amishakumari544 commented on #9899
Thank you @unnati914 😄

[2021-07-17 17:09] #9760 closed

[2021-07-18 08:49] cesswairimu commented on #9873
thanks Jeff :rocket: :rocket:

[2021-07-18 09:05] cesswairimu commented on #9858
closing this, please feel free to reopen and add more context(e.g what you were trying to do, what happened, please include screenshots too). thanks

[2021-07-18 09:05] #9858 closed

[2021-07-18 09:16] cesswairimu commented on #9637
Hi @anirudhprabhakaran3, you still looking into #744...please reachout if @unnati914  can help in any way. thanks you both

[2021-07-18 09:26] anirudhprabhakaran3 commented on #9637
Hi, yes I was looking into it, and I had posted a question on the issue itself. Seems like it has not been answered. If someone could react to that I could start working on the issue.

If what I assume has to be done is correct, then yes, I'd love to have help! Adding CSRF in the entire application would take some time.

[2021-07-18 19:03] Tlazypanda commented on #7556
Hey @daemon1024 just noting here https://github.com/flyerhzm/bullet you can set this gem up locally to test whether the n+1 problem is getting resolved or not :v: This really helped me a lot to figure out the exact traceback of the n+1 query issue and change my code accordingly. Once the issue is resolved it will also stop generating the warning for `n+1 `

[2021-07-19 03:43] noi5e opened #9919 "Delete Templating Methods from editor.js"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-07-19 03:49] noi5e commented on #9899
Hi everyone, I created an FTO here: #9919

I believe @Josiassejod1 is the first name on the list, so I think you get to claim it first(?) Please let us know if you're not interested, so I can free it up for someone else.

Everyone else who's waiting on an FTO, I'm going to create 3-4 more in the next few days, so please keep your eyes peeled!

[2021-07-19 06:26] unnati914 commented on #744
same i also wanted to confirm this..?

[2021-07-19 07:36] unnati914 opened #9920 "Weekly Community Check-In #110- Blockchain and CryptoCurrency"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-07-19 07:38] unnati914 commented on #9901
moved to #9920 💯

[2021-07-19 07:38] #9901 closed

[2021-07-19 08:22] unnati914 commented on #9637
if @anirudhprabhakaran3 is working on it i can look up to another issue,no problem:)

[2021-07-19 08:25] unnati914 commented on #741
could i work on this, if its available

[2021-07-19 08:27] unnati914 commented on #9637
i can work on #741 if its available?

[2021-07-19 15:46] jayeritz commented on #9919
Hi, I found this issue on ovio.org and would love to contribute! I'm Jamila and I have never contributed to your codebase before.

[2021-07-19 22:38] jayeritz commented on #9919
Hi @noi5e. I created a pull request for this issue. Please let me know if you have any issues. Thank You!

[2021-07-20 09:04] Tlazypanda commented on #9920
Hey @unnati914 very interesting theme! :100: The vast applications of blockchain and the possibility of a completely decentralised system is very exciting to me. Had made a simple smart contract once during a hackathon project to test out some transactions using the metamask plugin, definitely got me more interested in this domain :)

Also @publiclab/soc folks! Just noting that since we are nearin

[2021-07-20 14:11] ebarry opened #9924 "Display posts on /blog based on when `blog` tag was added"
## Idea
This idea is about the blog. https://publiclab.org/blog

It would be nice if posts could be displayed in chronological order **based on when the blog tag was added**.

**Additional context**
Currently, the blog displays posts in order of the date the note was originally posted.
The problem which that sometime creates for people curating the blog is that content that was posted earlier can

[2021-07-20 16:39] first-timers[bot] opened #9926 "Add max-width to new blog images"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-07-20 16:41] jywarren commented on #9926
I created this and am happy to help! It should help make these too-wide images [from the new blog](https://publiclab.org/blog2):

![image](https://user-images.githubusercontent.com/24359/126362786-b7cbca8b-53e0-4353-8f5d-a0ccb1687b33.png)

display better, like this:

![image](https://user-images.githubusercontent.com/24359/126362731-a1b0c539-fe47-43fe-834d-c97185ddfdb7.png)

[2021-07-20 16:42] jywarren commented on #9924
This is a nice idea! Here are the database queries from the new and old blogs:

https://github.com/publiclab/plots2/blob/02315eb4a298949c8cd9ece772121b645787ddfa/app/controllers/tag_controller.rb#L253-L267

Both would have to be modified, including joining the node_tag table with the same tag id as the initial query, then sorting based on that. I can help if someone wants to take this one up -- ma

[2021-07-20 16:43] jywarren commented on #9924
For reference, the new blog is at https://publiclab.org/blog2 and it's not 100% complete so hasn't yet replaced the old blog.

[2021-07-20 16:52] jywarren commented on #7556
Hi @daemon1024 can you link us to the PR you're working in? Sorry if I missed that!

[2021-07-20 16:58] jywarren commented on #9686
Hi @imajit -- i like https://publiclab.org/notes/ajitmujumdar25999/07-18-2021/importing-new-translations-from-transifex-project -- looking nice and great screenshots! I do think though that we need to set a little more context and explanation for folks -- something like:

or something.

Lower on the page, we should more clearly explain the reverse --

etc etc

Does this makes sense?

[2021-07-20 17:40] jywarren opened #9927 "Missing images in email notifications? (needs more research)"
With the new Google Storage paperclip fixes, I wasn't 100% sure images were getting properly sent in email notifications. But this may not be related to storage so much as our templates... we'll have to compare to other recent email notifications. But for reference, here is a comment that includes an image:

https://publiclab.org/notes/warren/12-12-2010/front-illumination-ccds-used-digital-cameras

[2021-07-20 17:41] jywarren commented on #9927
Here's the template:

https://github.com/publiclab/plots2/blob/02315eb4a298949c8cd9ece772121b645787ddfa/app/views/comment_mailer/notify_note_author.html.erb#L18

Let's check the server logs to see if it was in the outgoing email.

Then we can manually run `auto_link(RDiscount.new(@comment.body_email(ActionMailer::Base.default_url_options[:host])).to_html)` to confirm that.

[2021-07-20 17:54] daemon1024 commented on #7556
@jywarren There's no PR for now 😅. Most of my testing has been in local or directly on unstable. Will make a PR once I have something concrete. Rest noted my observations above.

Thanks @Tlazypanda for the gem, looks very helpful and will get back to you after trying it out 🙌

[2021-07-20 18:01] TildaDares opened #9928 "Hide arrow in wiki menu button"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-07-20 18:03] TildaDares commented on #9899
@yannaung There's an open issue in #9928

[2021-07-20 18:03] TildaDares commented on #9899
@Aokison There's one for you in #9926

[2021-07-20 18:17] ebarry commented on #6593
Great to see the new "utility grey" styling on the powertag display in the sidebar! Also to have the big blue follow button removed from powertag cards. Thank you for working on this!
<img width="212" alt="Screen Shot 2021-07-20 at 2 15 10 PM" src="https://user-images.githubusercontent.com/161439/126374749-6485818d-1417-4ad8-91a8-c30e52276cb3.png">

[2021-07-20 18:29] jywarren commented on #9927
OK, indeed - `auto_link()` is stripping the images out:

[code]

[2021-07-20 18:36] jywarren commented on #9927
I don't think it's related but just in case: https://github.com/publiclab/plots2/issues/2354

auto_link auto-sanitizes, which may be the issue: https://github.com/tenderlove/rails_autolink/

If we don't use the built-in sanitizer we should use the customized one here:

https://github.com/publiclab/plots2/blob/8daad1a70d022810b249a3d7882f6c4bd4fe3727/app/models/comment.rb#L513-L520

However we're r

[2021-07-20 18:37] Amishakumari544 commented on #9926
I am installing ruby and i am facing issues can anyone help please?

[2021-07-20 18:53] jywarren commented on #9927
I believe i have a fix in #9929

[2021-07-20 18:56] ebarry commented on #9880
The new updates that went live on the site look great! Seems like the "families" of related tags are more clearly color-coded and more effectively aiding visual recognition. The font is updated! Looks great - neat idea to use the color of the bubble as font outline to reinforce what label applies to what bubble. And maybe this was already done, but removing the powertags allows the topics to shine

[2021-07-20 18:59] ebarry commented on #9859
Oh! Your post got a response yesterday: https://community.transifex.com/t/plurals-rules-error-on-uploading-translation-file-to-transifex-project/2370/2

[2021-07-20 19:00] jywarren commented on #7556
Ah i see no problem! - still, good for us to be able to see your code so far, so don't be afraid to share even rough early code!

[2021-07-20 19:23] daemon1024 commented on #9920
That's an interesting topic for sure.

I am not really liking where the current Blockchain and cryptocurrency industry is headed to creating hype and being a money making tool rather than being helpful in real world.

But I really am in favour of decentralisation in general. Just dropping in an awesome article on how/why Tim Berners-Lee ( Inventor of world wide web ) wants to re-decentralise the w

[2021-07-20 19:25] #9927 closed

[2021-07-20 20:00] jywarren opened #9930 "Process for finding and adding new strings to the translation system"
Some strings like these are added and never get pulled into translation -- @imajit what kind of regular process do you think we could take up to catch them and gradually integrate them?

https://github.com/publiclab/plots2/blob/1afcac6d61715fcd346e3b7148a7505697297ca1/app/views/layouts/_header.html.erb#L89-L92

[2021-07-20 20:01] jywarren commented on #9930
Noting that, to keep barriers to participation low, we have avoided front-loading translations in favor of gradually integrating them!

[2021-07-20 22:29] jywarren commented on #9418
Also affecting: https://publiclab.org/notes/author/Sara/events:boston

That's line 336 -

https://github.com/publiclab/plots2/blob/1afcac6d61715fcd346e3b7148a7505697297ca1/app/controllers/notes_controller.rb#L331-L339

I don't know when this method was deleted, but it's nowhere to be found now! Let's just refactor -- we need a query that fetches notes tagged with the given tag, but only by that au

[2021-07-21 02:02] unnati914 commented on #9920
Yes even I have been exploring smartpy these days which texos use.. it's only used for decentralized apps and quite secured too

[2021-07-21 02:04] unnati914 commented on #9920
Here is the link from which I'm learning about smartpy

smartpy.io

https://medium.com/coinmonks/building-your-first-dapp-on-tezos-part-1-writing-smart-contract-on-smartpy-d7cdf27476f9

https://www.leewayhertz.com/tezos-smart-contracts/

[2021-07-21 10:50] imajit opened #9934 "Fix profile tag input bar"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-07-21 11:05] imajit commented on #9930
I too have seen HTML elements where direct strings are added instead of storing these strings as constants in `en.yml` file and using the translation function to call it.
If we use translation function we can translate them into multiple languages and also if we want to change the string we can directly change it in constants file instead of finding it across the codebase and changing each occurre

[2021-07-21 14:50] ebarry opened #9935 "Differentiate style of headers from clickable items in dropdown menu"
## desired behavior

The Operations Team at Public Lab nonprofit requests a review towards a possible update of headers within the dropdown menus, specifically the Tools menu.

**Additional context (optional)**
See the yellow highlight on Kits and Software? These are headers:

![image-1](https://user-images.githubusercontent.com/161439/126509070-0b2e805b-f5f7-4b13-aecc-f077cbc38e17.png)

Could the

[2021-07-21 17:10] 2201monesh commented on #9935
Hey I would like to work on this issue, can I take it?

[2021-07-21 19:09] ebarry commented on #9935
Great, thanks for writing back! Could you try out some different ways to emphasize the headings in this menu and respond with screenshots here in this issue?

[2021-07-21 20:49] Pandademic commented on #9934
Is This how I say I claim It?
I claim it !

[2021-07-21 22:28] imajit commented on #9859
Okay So the files are syncing correctly now. :100: ,but no PR is raised from Transifex, I'll try minimum threshold and see if any PR is generated
![Screenshot 2021-07-22 at 03-56-52 The Publiclab org translation project on Transifex](https://user-images.githubusercontent.com/38528640/126567939-5a7f0592-5218-4d78-9a9b-c7af93d42642.png)

[2021-07-21 22:33] imajit commented on #9859
Okay, so it works, this was a manual sync. I think automatic sync would be triggered when the language file is completely reviewed

[2021-07-22 07:48] sakshamlamba109 commented on #9920
Hey there!!
I want to open weekly Check-In

[2021-07-22 11:02] unnati914 commented on #9920
yes go for it :) @sakshamlamba109 :)

[2021-07-22 11:16] unnati914 commented on #9920
https://github.com/publiclab/plots2/issues/new/choose refer this template for opening the issue,
We usually open issues on Mondays/Tuesdays
Thank you!

[2021-07-22 11:49] sakshamlamba109 commented on #9920
Okay Thanks :)

[2021-07-22 18:20] daemon1024 commented on #741
Thanks @unnati914 for showing interest. We could surely use your help for this :D

This seems like a significant work, So I would suggest you to analyze and breakdown things. Feel free to reach out on chat or in this thread if any issues :)

[2021-07-22 23:38] 17sushmita commented on #7556
This one is due to the looping over on every node by the user to check if it has `location: blurred`.

https://github.com/publiclab/plots2/blob/b70cbefa443ace9be1e83a5dde56a10e9603a135/app/services/search_service.rb#L202-L207
So can be resolved by using a simpler rails query

[code]

Second query is still needs to be debugged

[2021-07-23 00:39] 17sushmita commented on #7556
I'm not really sure about the second query but I observed that when the limit is 5 it performs 20 such queries - 4 query for each record and the 4 queries are in following pattern-

[code]
 First one for loading tag like 'lat:%' second for loading tag like 'lon:%' and third one for checking if 'location:%' exists or not and fourth for loading the tag like 'location:%' on the same user.

We are onl

[2021-07-23 06:13] daemon1024 commented on #7556
![image](https://user-images.githubusercontent.com/47106543/126743106-766e3f59-91f4-4fd0-880a-0b3c1fecda1b.png)

Order of execution of things I see in skylight.

1. The first query:
[code]
	which I believe translates from
	https://github.com/publiclab/plots2/blob/master/app/services/search_service.rb#L176-L183

2. The second query:
[code]
	which is already fixed in #9940 🥳

3. The third query:
[co

[2021-07-23 06:21] daemon1024 commented on #7556
Agreed, rails is probably is running it to verify against something we have triggered.
I believe it's the ordering code https://github.com/publiclab/plots2/blob/b70cbefa443ace9be1e83a5dde56a10e9603a135/app/services/search_service.rb#L220-L235

What do you think @17sushmita ?

Also can you provide me a full stack trace? Like fuller than you share :P which includes all the queries triggered by this

[2021-07-23 07:48] unnati914 commented on #741
sure :)

[2021-07-23 08:32] 2201monesh commented on #9935
@ebarry sure can you tell me in which file its there.

[2021-07-23 10:55] 17sushmita commented on #7556
There were only 4 types of queries executed by this service -
- First one is the whole rails query above looping
- Second query is the problematic one which is fixed now #9940
- Third is again same first rails query with all the additional queries after looping.
- Fourth is the queries triggered by rails automatically.

Basically the looping part is breaking our whole single rails query into multi

[2021-07-23 11:29] daemon1024 commented on #7556
Are you sure about

the trace below this being full?

I think there should be a few other relevant queries above it.
Since the trace you are sharing starts with `ORDER BY created_at DESC LIMIT 5` and I believe it shouldn't be triggered until the end of the function.
and the trace doesn't have any query relevant to `location:blurred`?

Let me know if I am in the wrong.

Rest, I have understood your

[2021-07-23 11:30] daemon1024 commented on #7556
To confirm my hypothesis, maybe we can comment out
https://github.com/publiclab/plots2/blob/b70cbefa443ace9be1e83a5dde56a10e9603a135/app/services/search_service.rb#L218-L235
this part and check the query logs again.

[2021-07-23 12:22] 17sushmita commented on #7556
Yes, for the parameters in this URL - http://publiclab.org/api/srch/nearbyPeople?nwlat=55.3791104480105&selat=23.40276490540795&nwlng=-128.67187500000003&selng=178.76953125 we are not passing any order direction so it goes to the default i.e else case -
https://github.com/publiclab/plots2/blob/b70cbefa443ace9be1e83a5dde56a10e9603a135/app/services/search_service.rb#L231-L234

and I also tried print

[2021-07-23 12:43] daemon1024 commented on #7556
Ohh. Thank You. That makes sense. I will try to look into it once more.

[2021-07-23 13:19] 17sushmita commented on #7556
Since the trace you are sharing starts with ORDER BY created_at DESC LIMIT 5 and I believe it shouldn't be triggered until the end of the function.

Addressing this concern,
`Rails’ ActiveRecord, have lazy loading built-in which allows to defer querying associations until the moment they’re needed.`
Before fixing, the looping part needed the result of our first query that is why all the queries ab

[2021-07-23 13:34] daemon1024 commented on #7556
Interesting. This is first time me diving into ruby this deep so these things are quite fascinating to me 🚀

Thanks for following up 🙌

[2021-07-23 14:43] jordanburr22 commented on #9928
I'll claim this issue

[2021-07-23 16:22] jordanburr22 commented on #9928
@TildaDares can you review PR #9941 please?

[2021-07-24 12:33] sakshamlamba109 commented on #9899
Hey there!
Please add me to the list

[2021-07-24 14:54] Tlazypanda commented on #7556
Hey @daemon1024 and @17sushmita whoaa that's some awesome collaborative detective work right there :female_detective: :fire: I see @17sushmita you have already opened a PR for making one of the queries faster which looks greatt! I will revert on it as soon as I can get some more idea on this issue and checkout the queries :v:

I am trying to check this endpoint out locally but don't have datapoint

[2021-07-24 15:09] Tlazypanda opened #9943 "Bullet gem in development mode"
**Please describe the desired behavior.**
Given the performance issues we have been facing lately, was thinking of adding Bullet gem in the development mode and necessary config. We can then add some documentation to suggest contributors to check their added queries and whether they are performant or not before opening a pull request. There is also a possibility of adding bullet in tests but will

[2021-07-24 15:10] Tlazypanda commented on #9943
Hey Jeff! What do you think about this @jywarren? Let me know :v:

[2021-07-24 15:14] Tlazypanda commented on #9935
Hey @2201monesh you can find it here -
`app/views/layouts/_header.html.erb`

Lines 71 - 78
[code]

As @ebarry suggested the Kits and Software dropdown-headers styles can be experimented around a bit so that they can be easily distinguished from the other nav elements here. Hope this can help you get started :tada:

[2021-07-24 15:18] Tlazypanda commented on #9930
Hey @imajit That sounds like a good workflow to begin with :tada:

If it's not too much to ask can you start with one example for this so we can share it as an example for our more experienced contributors to take up on and create issues for our first timers? :sweat_smile: Thank you :heart:

[2021-07-24 15:21] Tlazypanda commented on #9926
Sure @Amishakumari544 please feel free to reach out :)

[2021-07-24 17:09] 17sushmita commented on #7556
Hi @Tlazypanda, I imported only few tables from the db - rusers and user_tags and tested the endpoint. The db is really huuuuge 😮  so it was taking really long. While importing, I used this tool - https://www.ivarch.com/programs/pv.shtml to track the progress of how much data has been imported and how much time is remaining coz it was taking really long 😅 .

And also, before importing, I was testi

[2021-07-24 18:28] imajit opened #9944 "Change "Dashboard" String to Translation Function Call"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-07-24 19:40] adrnna commented on #9944
hi, I'm a complete beginner and would like to be assigned to this issue! :)

[2021-07-24 21:59] imajit opened #9945 "Adding new strings for Translation"
## Goal of this issue is to create FTOs for Public Lab Translation Project
There are many strings that are kind of hard-coded in many views files .
For example
https://github.com/publiclab/plots2/blob/b73594fb7d2b1a78f9f0afb074c55ac92bfd8e43/app/views/layouts/_header.html.erb#L12
here you can see `Public Lab` is added as a string.
Ideally, we would like to have a string constant in `en.yml` saved

[2021-07-24 22:00] imajit commented on #9859
Closing this issue as importing new strings from Github to Transifex as well as from Transifex to Github is working

[2021-07-24 22:00] #9859 closed

[2021-07-25 10:48] imajit commented on #9944
Sure!

[2021-07-25 11:58] daemon1024 opened #9946 "Optimise `tagLocations`"
When we first open up the map endpoint, first and default markers that load on maps are tag locations.

But when we start interacting with the map, it starts sending loads of requests to the API.

https://user-images.githubusercontent.com/47106543/126897921-6025596f-11ea-4534-9673-53805122b83a.mp4

Which causes throttles eventually

We could debounce queries on these events. ( cc @jywarren )

Pote

[2021-07-25 14:27] anirudhprabhakaran3 commented on #9943
This is a pretty good suggestion! My college uses rails for our UIMS, and bullet has helped a lot in dev, especially for N+1 queries. I definitely think this should be there

[2021-07-25 15:23] daemon1024 commented on #9946
Well, it may help somewhat but I don't think debounce is helping as much as I thought it would.

On a wider map, the endpoint itself is slow.

![image](https://user-images.githubusercontent.com/47106543/126904108-8d337447-3172-47c1-96ba-c272069bbd77.png)

But unlike our findings in #7556 ,
![image](https://user-images.githubusercontent.com/47106543/126904254-b4d98ee4-4f95-4bb5-8dee-f0325d71a8ed.pn

[2021-07-25 18:00] 2201monesh commented on #9935
@Tlazypanda Thanks for the guidance. Working on it

[2021-07-26 10:33] Thokya commented on #9944
Hello, I would like to assist on this issue

[2021-07-26 11:50] prathamesh-borse commented on #9899
Hello, great community members of @Publiclab 🤝 .
I am new to this community and want to start contributing to the community starting with **FTO** issues. My preferred language is **Java** and **HTML**. Please add me to the list and if there is something I can contribute, please. 🙌 💯

[2021-07-26 14:02] ebarry commented on #9888
These are fantastic ideas. Thank you for creating them as a checklist @cesswairimu ! It would be great to see any/all of these ideas implemented.

[2021-07-26 14:04] ebarry commented on #9812
Yes, it would be great to have a tooltip added to the edit button, maybe keeping in mind that not all users will have access to that feature as we are discussing in https://github.com/publiclab/plots2/issues/9888.

Also, can the tooltip on Tools appear **above** the icon like the other tooltips do in relation to their icons?

[2021-07-26 14:15] ebarry commented on #9776
Hi Manasa,
The tagging sidebar continues to look better and better with your contributions! thank you!

I'm writing to say i'm still in support of the hover-over tooltip on power tags.

* Where the power tags show in the grey box, the entire grey box might have a tooltip. Do you think that could work?
* for the small lozenge tags, i am thinking that the way the sentence `This is a power tag.` has

[2021-07-26 14:23] TildaDares commented on #9798
@jywarren I looked at the [response time](https://www.skylight.io/app/applications/GZDPChmcfm1Q/recent/6h/endpoints/TagController%23show_for_author?responseType=html) on skylight and it has a typical response of `342ms` which I think is manageable considering that we don't have a many-to-many relationship.

Also, going with my initial plan of including co-authored posts with regular posts would me

[2021-07-26 15:56] aliciapaz commented on #9641
Hello @jywarren, @govindgoel, and everyone else!
Today I'm officially joining the GitHub Actions Migrations Task Force (or GAMTF) :octocat:  🚣🏽‍♀️  (yes I invented the name myself)

Given the list above, what do you think is the best one to start?
My first thought is to go with the smaller repositories first (i.e: webjack?), but I'm open to suggestions.

Thank you all and have a wonderful week.

[2021-07-26 18:55] #9919 closed

[2021-07-26 19:09] #9928 closed

[2021-07-26 19:18] #9934 closed

[2021-07-26 20:05] imajit opened #9949 "Change "Contributors" String to Translation Function Call"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-07-26 20:07] noi5e commented on #9502
Phew 😅 I have a lot of catching up to do. Sorry to leave this unread for so long, I definitely appreciate all the research that everyone did here, including @RuthNjeri in [this comment](https://github.com/publiclab/plots2/issues/9502#issuecomment-841842079).

@jywarren I think this error seems to be the result of a typo. Check out the [suggested commands](https://github.com/reactjs/react-rails#3-n

[2021-07-26 20:16] noi5e commented on #9502
I vote for going for the minimal approach for now (aka NOT totally switching over to managing ALL assets with `webpacker`, that sounds like it would be a HUGE sysadmin challenge).

Looking through this thread, and reviewing the research that everyone did, it does really seem like the commands aren't necessary, and they simply do the following things:
- install some gems and JS packages in `Gemfile

[2021-07-26 20:16] imajit opened #9950 "Add "Features" string to Translation Project"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-07-26 20:19] noi5e commented on #9502
It looks like `.gitpod.yml` has the wrong commands in it:
https://github.com/publiclab/plots2/blob/f41f8e75c7674d5cad14b0a4afccb19df6b7c9af/.gitpod.yml#L21

The first two commands should NOT have the `g`/`generate` in them.

[2021-07-26 20:23] TildaDares commented on #956
@jywarren I'm a bit confused about what I'm supposed to do. Could you explain it to me?

[2021-07-26 20:25] imajit opened #9951 "Change "Dashboard" String to Translation Function Call"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-07-26 23:18] roshni-patel commented on #9951
Hi! I'd like to work on this issue :)

[2021-07-27 07:34] hrishikeshnikam2000 commented on #9949
I would like to work on this issue.

[2021-07-27 10:27] imajit commented on #9951
Sure!

[2021-07-27 10:37] sakshamlamba109 opened #9953 "Weekly Community Check-In #111 - Cloud Computing and it's applications"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-07-27 10:56] unnati914 commented on #9953
Thank you @sakshamlamba109 for opening the issue
Some videos for cloud computing 👍
https://www.youtube.com/watch?v=RWgW-CgdIk0

[2021-07-27 10:57] unnati914 commented on #9920
moved to #9953 💯

[2021-07-27 10:57] #9920 closed

[2021-07-27 11:25] sakshamlamba109 commented on #9953
Thankyou!!
Also, I've written some articles on this domain as well. One of which is published by RedHat:
Do give it a read:
https://www.redhat.com/sysadmin/creating-backup-data

Another one:
https://virtandcont.blogspot.com/

[2021-07-27 15:51] jywarren commented on #9776
- small icon (i) explaining power tags?
- `--------- POWER TAGS (i) ---------` divider above this section?
- idea for dropping small "badge" style in favor of larger grey box style for power tags, but also remove "# following" (or move it into menu)

link to a design reference for some of these: #6593

[2021-07-27 16:19] jywarren commented on #9946
One clue to figure out is, when you change the `limit` does it vastly affect the speed, as @17sushmita noted in the call today? That might make sense, but if it doesn't much help, a question is, does `limit` actually reduce query time or are we just adding a limit near the end of a chain of queries and we aren't getting much benefit from it?

If a low `limit` does help a lot, we could think about

[2021-07-27 16:54] #9944 closed

[2021-07-27 18:46] jywarren opened #9957 "Profile images on profile page aren't lazy loading"
https://github.com/publiclab/plots2/blob/e646cfd248e46fe9cf11a2eb7860bbf29f949b7d/config/initializers/lazyload.rb#L2

this line is supposed to show the grey 1x1 px gif until it loads the real image:

https://github.com/publiclab/plots2/blob/ca12d6238415f328d7e734521c30c62249f6a2f2/app/views/users/profile.html.erb#L49

![image](https://user-images.githubusercontent.com/24359/127210502-232c7f14-c8e7

[2021-07-27 18:51] jywarren commented on #9957
After re-uploading that file while editing my profile, it works.

https://publiclab.org/profile/liz doesn't though --

And now i've uploaded a second image: https://storage.googleapis.com/publiclab-production/public/system/users/photos/000/000/001/thumb/Screen_Shot_2021-07-27_at_2.50.03_PM.png

![image](https://user-images.githubusercontent.com/24359/127211106-53fe72bf-b52f-4a78-a739-c1989f84c440.

[2021-07-27 18:54] jywarren commented on #9957
Do we need to configure profile images like we did here, somehow?

https://github.com/publiclab/plots2/pull/9807/files#diff-7f9b82fa0c235726052743e6cf2f484d762326c44b93c7b01f24706d8d26e5deR7

[2021-07-27 18:54] jywarren commented on #9957
Aha - we had set the path differently here:

https://github.com/publiclab/plots2/blob/ca12d6238415f328d7e734521c30c62249f6a2f2/app/models/user.rb#L41-L42

Let's modify that to match?

[2021-07-27 19:00] jywarren commented on #9957
Noting then that we may have 2 issues:

* [ ] old profile images don't work site-wide, for example in the navbar when logged in
* [ ] new (and old) profile images don't display on top right side of profiles like https://publiclab.org/profile/liz

#9958 focuses on the first one. After that let's solve the second!

[2021-07-27 20:46] jywarren commented on #9859
This looks great. So where will the instructions for how to initiate this manually, or to manage it automatically, go? For example, is it OK that it tried to introduce many empty strings in #9939 -- they'll be detected and replaced with default language (english)?

[2021-07-27 21:00] jywarren commented on #7556
Re-opening, it's a LOT faster now! about 1-2 seconds:

![image](https://user-images.githubusercontent.com/24359/127226479-c62d61a3-2ed4-421b-bc12-d6ac256969e5.png)

https://publiclab.org/map#14/40.7110947680185/-73.96068613976242

generates: https://publiclab.org/api/srch/nearbyPeople?nwlat=40.73652850646351&selat=40.68565131103966&nwlng=-74.00051157921554&selng=-73.92086070030929

returns:

[code

[2021-07-27 21:23] imajit commented on #9859
Hey!
Transifex initiates a [automatic-sync] when the language is 100% reviewed.
For [manual-sync] we can go to integrations and we have "Send to Github" option which triggers a PR. This will check all the languages that are reviewed above the threshold percentage and make a PR for those languages, so in #9939 as only France has more than 1% reviewed strings it was pushed.
Regarding the empty strin

[2021-07-27 21:31] daemon1024 commented on #7556
Cz blurred being true?

https://user-images.githubusercontent.com/47106543/127229892-9301a48f-759c-44da-9097-fff4014285c7.mp4

Observed a weird thing. The user here has blurred set to true, but we can see them at some particular zoom level 🤔

[2021-07-27 21:43] jywarren commented on #9957
We think profile images weren't copied into Google Storage. We'll copy them in and see what happens. I think it may just start working? Fingers 🤞

[2021-07-27 22:00] jywarren commented on #9859
That sounds great. Yes, so let's make a checklist of these items in your planning issue and go through them? Thanks @imajit this is great!

[2021-07-28 03:27] jalencheng commented on #9950
hi may i have a chance to work on it?

[2021-07-28 08:07] TildaDares commented on #9953
Thank you @sakshamlamba109 and @unnati914 for the cloud computing videos and articles.

[2021-07-28 08:14] Rutumbhara commented on #9899
Hi there!!
I want to start contributing to the community starting with FTO issues. My preferred languages are C++ and HTML. Please add me to the list .

[2021-07-28 08:55] unnati914 commented on #9953
Thanks @TildaDares 💯

[2021-07-28 09:32] sakshamlamba109 commented on #9953
Thankyou @TildaDares  :)

[2021-07-28 10:44] imajit commented on #9950
Sure!

[2021-07-28 12:56] jywarren opened #9961 "Tag input showing incorrect HTML"
![Screen Shot 2021-07-28 at 8 53 31 AM](https://user-images.githubusercontent.com/24359/127325358-020e1e2d-6fc9-4a74-80e4-e10b31f5900e.png)

follow up to https://github.com/publiclab/plots2/pull/9938

Hi @imajit @Tlazypanda @noi5e - just noting that after merging 9938 i saw this slight oddness in the tag input. Is it possible there's an improperly nested quotation mark?

Would you mind taking a lo

[2021-07-28 13:00] imajit commented on #9961
Yes, sorry I missed it. The quotation mark is misplaced. I'll fix it asap 😬

[2021-07-28 17:26] steves14 commented on #9899
Hello! I'd like to try contributing to a FTO issue!

[2021-07-28 18:34] jywarren commented on #956
Hi Tilda! Thanks! Basically we have all this old code which is either not used as all, or it could be refactored to use more standard and recently written code. For example, the Drupal file and image models could be modified to use the native Ruby Image model and we could get rid of old code that was written around the old Drupal database.

Part is refactoring code to stop using Drupal models. Par

[2021-07-29 02:15] atayl16 commented on #9926
I'd like to claim this please

[2021-07-29 08:14] TildaDares commented on #956
@jywarren For this first one, what should I do with the `Answer` model?

[2021-07-29 14:21] TildaDares opened #9964 "Incorrect links in navbar section for tools"
Some of the links in the navbar section for `Tools` lead to an error page.

[2021-07-29 14:42] jywarren commented on #9953
Hi all! Sage Sharp of Outreachy passed this along:

Thanks for the check-in, everyone!

[2021-07-29 15:21] #9964 closed

[2021-07-29 15:42] unnati914 opened #9967 "Commenting some of the lines"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-07-29 15:56] steves14 commented on #9967
I would like to take this issue. Please assign to me if that's cool

[2021-07-29 15:59] DalilaBA commented on #9967
@steves14 yu don't wait an assignement, you go to the file and make the changes, and then you pull a request

[2021-07-29 16:08] DalilaBA commented on #9899
Hi, I want to start contributing to the community starting with FTO issues. My prefer language and frameworks are Javascript , Ruby/Ruby on Rails. Please add me to the list and if there is something I can contribute please.

[2021-07-29 17:31] anirudhprabhakaran3 commented on #9967
Hey @steves14 ! You don't have to wait for it to be assigned to you. If no one else is working on the issue (as is in this case), you can just drop a comment stating that you're working on this, and start working! Thank you!

[2021-07-29 17:44] DalilaBA commented on #9967
#9969

[2021-07-29 17:44] anirudhprabhakaran3 commented on #9967
Seems like someone else has already made a PR for the issue! Sorry for the confusion. Feel free to try out some other first-timers-only issue! Just check that no one is working on it, mention that you are working on it, and you should be good to go!

[2021-07-30 07:27] Ash-KODES commented on #9967
How will i get to know,if someone is working on the issue or not?

[2021-07-30 07:40] anirudhprabhakaran3 commented on #9967
Usually someone will have dropped a message, saying that they wanted to work on it. That means someone is working on it. If there has been no progress even after around a week, you can ask the person just to confirm that they still are working on the issue.

[2021-07-30 09:52] daemon1024 opened #9971 "Update our supporters"
We have listed projects that support us at https://github.com/publiclab/plots2/blob/main/doc/SUPPORTERS.md

We have changed some of our projects, so we should update them in this page like `Coveralls` -> `Codecov`

[2021-07-30 10:46] unnati914 commented on #9533
adding labels like:
Level 1 : first timers
Level 2 : help wanted issues
Level 3 : advanced issues
adding these issue labels would be more understandable .. maybe?

[2021-07-30 16:02] DalilaBA commented on #9967
hi @Ash-KODES I updated and pulled a request yesterday on that file

[2021-07-30 20:36] jywarren commented on #9533
Hi @unnati914 - I like the idea of establishing a sequence via the label descriptions. Could we write or refine the descriptions of "first-timers-only", "fto-candidate" and "help-wanted" perhaps to indicate the sequence?

[2021-07-30 21:22] #9961 closed

[2021-07-31 01:54] unnati914 commented on #9533
ya sure.. thanks!

[2021-08-01 10:19] cesswairimu commented on #9953
Hi everyone :wave:, nice check-in

Anyone with some a little time to spare, I would like help testing https://github.com/publiclab/plots2/pull/9897...
*To help :* what you need to do is open it on gitpod(using the link on pull request) and let me know if the browser launches fine on your end or not...you could leave a comment here or on the pull request. thanks in advance :smile:  and happy Sunday

[2021-08-01 11:24] sakshamlamba109 commented on #9953
Hey @cesswairimu, the browser launched successfully!!

[2021-08-01 11:26] cesswairimu commented on #9953
Thanks a bunch @sakshamlamba109 🎉🎉

[2021-08-01 18:16] #9898 closed

[2021-08-01 18:21] cesswairimu commented on #9888
Thanks @ebarry, I will create issues for them and maybe give them a shout on next weeks check-in

[2021-08-01 18:28] cesswairimu opened #9977 "Explain why new contributors can't save a post as draft"
A new contributor on PublicLab cannot create drafts and there's no help text or guide in the post page that helps the user understand this. I remember being really confused when I wanted to save my proposal as a draft.

<img width="1280" alt="Screenshot 2021-07-09 at 09 55 30" src="https://user-images.githubusercontent.com/63427719/125052372-ce434580-e09b-11eb-943b-7d335e26cdf3.png">

A small text

[2021-08-01 18:33] cesswairimu opened #9978 "Add a hover text on the lock button"
This is subtask to #9888
Add a popover on hover instead of click?(explore if this is possible) When a contributor sees the `disabled` sign first, they might not bother to click and read why they can't add tags.

It would also be really helpful if contributors could hover over the lock icon on a locked page to see why it has that icon.

<img width="606" alt="Screenshot 2021-07-09 at 10 06 24" src="

[2021-08-01 19:01] #9951 closed

[2021-08-01 19:12] cesswairimu commented on #9899
Hi, and welcome @prathamesh-borse @Rutumbhara, @steves14, @DalilaBAdding, adding your names to the list. Thanks

[2021-08-02 02:24] jcads commented on #9978
Can I work on this one?

[2021-08-02 03:50] phyleria commented on #9977
Hi @cesswairimu can I work on this one?

[2021-08-02 04:46] cesswairimu commented on #9977
Sure @phyleria, we would love your help. Thanks

[2021-08-02 04:47] cesswairimu commented on #9978
Hi @jcads, sure, please go ahead. Thanks

[2021-08-02 09:35] prathamesh-borse commented on #9899
@cesswairimu Thanks for adding my name in the list 👍

[2021-08-02 11:54] sakshamlamba109 commented on #9953
Your welcome @cesswairimu!!

[2021-08-02 14:24] daemon1024 commented on #9953
Hello 👋🏽 ,

Interesting topic 🙌🏽. Containers and Docker are an important part in the cloud ecosystem. I highly recommend https://devopswithdocker.com/ if you are starting out with docker :)

I like to watch videos from https://www.youtube.com/ibmcloud they are quick, well explained dive into various cloud related technologies and terminologies.

[2021-08-02 14:42] #9926 closed

[2021-08-02 15:44] ebarry commented on #9977
oh this is interesting, thanks for working on this!

Separately, @jywarren can we revisit our reasoning on whether new / unmoderated contributors should be able to save drafts?

[2021-08-02 15:47] ebarry commented on #9957
🤞 indeed! as of now, my profile picture is still not displaying.

[2021-08-02 15:55] ebarry commented on #9924
Thanks all, would love to see some movement on this issue.

[2021-08-02 15:57] ebarry commented on #9812
Thanks @Manasa2850 !!!!!!!

[2021-08-02 15:59] sakshamlamba109 commented on #9949
Hello there,
I'm a new open source contributor. Is this task completed?

[2021-08-02 16:03] jywarren opened #9979 "Image shortlinks aren't redirecting to correct image size"
https://publiclab.org/i/44535.png?s=t is supposed to redirect to

https://storage.googleapis.com/publiclab-production/public/system/images/photos/000/044/535/thumb/Screen_Shot_2021-05-28_at_1.29.16_PM.png

but is instead pointed at:

https://storage.googleapis.com/publiclab-production/public/system/images/photos/000/044/535/original/Screen_Shot_2021-05-28_at_1.29.16_PM.png

Relevant code:

https:/

[2021-08-02 16:03] ebarry commented on #9935
Hi @2201monesh , have you run into any problems on this? Would love to hear from you either way 😄

[2021-08-02 16:08] jywarren commented on #9943
This looks really nice! How would such issues be presented/displayed, like what would be an example, and how might we encourage people to read them and generate issues from them? Could we have a "support" issue for combing through these?

https://github.com/publiclab/plots2/labels/support

Also, would it block anything? I guess if it's integrated into tests, it might, but not otherwise?

[2021-08-02 16:33] 2201monesh commented on #9935
@ebarry thanks for your patience but I am really stuck can't solve it.

[2021-08-02 18:03] hrishikeshnikam2000 commented on #9949
Yes the task is completed. The pull request was approved and will be merged soon, and then the issue will be closed.

[2021-08-02 20:41] TildaDares commented on #4074
@jywarren If I understand this correctly, I have to generate a migration that loops through each image in a node that has a gallery and then prepend this code to `revision.body`. Something like this?

[code]

What format would the code in?

[2021-08-02 20:42] daemon1024 commented on #9946
Limits are helping for larger boundary boxes, It's somewhere between 2x-4x slower when I removed the limit.

One thing that intrigues me is
https://unstable.publiclab.org/api/srch/taglocations?nwlat=52&selat=-52&nwlng=-150&selng=150

I tried this query, which took around 47s to load but since there's no limit this should be the max amount of taglocations we can get?

![image](https://user-images.g

[2021-08-02 21:36] jywarren commented on #4074
Just plain html, actually because it's just stored in the database, rather than executed in ruby!

[2021-08-02 21:36] jywarren commented on #4074
And yeah that looks great!

[2021-08-03 04:44] jcads commented on #9978
Hi @cesswairimu I'm sorry something came up and I think I could not push through with this. If anyone wants to work on this. Feel free to do so

[2021-08-03 05:36] cesswairimu commented on #9978
No worries @jcads .. thanks

[2021-08-03 06:30] perveen-neha commented on #9899
hi, i want to start contributing to the community starting with FTO issues. i know java (begginer-intermediate), HTML and CSS. Please add my name to the list . Please

[2021-08-03 10:28] DalilaBA commented on #9899
@cesswairimu Hi, the name added on the list is wrong !, please can you fix it

[2021-08-03 10:42] sakshamlamba109 opened #9981 "Weekly Community Check-In #112 - Machine Learning"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-08-03 10:42] #9953 closed

[2021-08-03 14:02] cesswairimu commented on #9899
Sorry about that @DalilaBA, updated...thanks

[2021-08-03 15:02] #9812 closed

[2021-08-03 15:34] jywarren commented on #9946
Comparison: https://publiclab.org/unearthing-pvd

[2021-08-03 15:44] daemon1024 commented on #9946
Provided we cache things, this much of data won't be easy to navigate and might as well cause some client side slowness, to mitigate that we can try map clustering. [An Example for that](https://leaflet.github.io/Leaflet.markercluster/example/marker-clustering-realworld.388.html).

[2021-08-03 16:17] jywarren commented on #9977
Sure - let's dig into the code to figure this out!

https://github.com/publiclab/plots2/blame/main/app/views/editor/rich.html.erb#L329-L343

So here is the corresponding pull request where that condition was added:

https://github.com/publiclab/plots2/pull/2747

Here's the planning issue by @grvsachdeva -- https://github.com/publiclab/plots2/issues/2667

Ah - here it is -- @steviepubliclab asked f

[2021-08-03 16:41] jywarren commented on #9935
Hi! For background, we use the Bootstrap 4 UI library's dropdown styles:

https://getbootstrap.com/docs/4.4/components/dropdowns/#headers

For comparison those are to the left below, while the next image is our website:

![image](https://user-images.githubusercontent.com/24359/128052659-5d1a0c91-79dd-462c-903c-84b94ed2f37e.png)![image](https://user-images.githubusercontent.com/24359/128052755-cc0f

[2021-08-03 16:45] jywarren commented on #9946
Handling 15k responses wasn't too bad with the gl based layer. I don't honestly think we'll get that high given the optimizations possible, but you can see how it's implemented in the code here - not too bad!

https://github.com/publiclab/leaflet-environmental-layers/blob/7782b57a8ae0a08134d32b7c29a09f0e5923f518/src/unearthing.js#L35-L61

[2021-08-03 17:03] jywarren opened #9983 "Speed up GitHub Actions test runs/checks by caching dependencies"
I suspect we may not be caching properly and wanted to suggest we try this out:

https://dev.to/github/caching-dependencies-to-speed-up-workflows-in-github-actions-3efl

We have gem caching supposedly installed here, so let's confirm it's working:

https://github.com/publiclab/plots2/blob/a578843b8127c1bf96c5bc023b673a652b0cd074/.github/workflows/tests.yml#L53-L59

Likewise we should be able to ca

[2021-08-03 17:08] jywarren commented on #9957
This is still in testing, sorry @ebarry - i meant start working after we push it to our "unstable" testing server. Thanks for your patience!

[2021-08-03 17:45] imajit opened #9984 "Public Lab editor enchancement"
I would like to share some of my first-time experiences with Public Lab Editor when I wrote the draft for my GSoC proposal.
In the beginning, when I started to write the proposal I was a bit overwhelmed by the features of the Editor and had to check the preview multiple times to see if it was as I intended it to be.

- **Markdown is set as the default writing method in Editor Body**
When I went fr

[2021-08-03 17:47] imajit commented on #9984
@jywarren @ebarry what are your thoughts on this?

[2021-08-03 18:09] ebarry opened #9985 "Refine chronological display of published notes that were previously saved as drafts"
**Please describe the desired behavior.**

Returning to a comment from @jywarren from https://github.com/publiclab/plots2/issues/2667#issuecomment-389886458 that was not taken up at that time. It's about updating the date when publishing posts that were drafted, and saved as drafts, on an earlier date:

This would be very helpful as currently if someone publishes a draft even from a week ago, ther

[2021-08-03 18:20] ebarry commented on #9984
Hi @imajit thank you so much for writing this out, it's really valuable to have this experience recorded. Regarding your first point, I have to admit, I'm so familiar with the site and have built so many workarounds over time, that i don't even notice these issues anymore! so this is helpful.

Regarding your second point, there was a pretty large design process that led to the Editor being separat

[2021-08-03 18:28] ebarry commented on #9935
Yes! Jess and I are approving. thanks, let's go with this.

[2021-08-03 18:28] ebarry commented on #9977
I'm checking with Stevie _et al_ now.
In the meantime, can i ask the audience, as there are several people here who have recently posted their first research note, who may have an opinion on whether the save as draft option would have been helpful or too overwhelming?

[2021-08-03 18:33] first-timers[bot] opened #9986 "Adjust navbar dropdown header styling"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-03 18:34] jywarren commented on #9986
I'm happy to help with this, and it should fix https://github.com/publiclab/plots2/issues/9935 !

[2021-08-03 18:36] jywarren commented on #9935
Great, made a FTO: https://github.com/publiclab/plots2/issues/9986

[2021-08-03 18:39] jywarren commented on #9985
Thanks!

We actually did forward-date the post, but maybe some pages sort by revision timestamp instead of node timestamp?

https://github.com/publiclab/plots2/blob/a578843b8127c1bf96c5bc023b673a652b0cd074/app/controllers/notes_controller.rb#L413-L420

If so, we should be able to add a couple more lines there. Do you think this is worth writing a test against, or should we just make the additions

[2021-08-03 18:41] jywarren commented on #9985
I think we'd just do this, just after line 419:

[code]

[2021-08-03 18:42] jywarren commented on #9985
Also, can you double check whether a recently published draft URL matches the publication date/time? According to the quoted code above, we are setting the URL correctly, just not the revision timestamp. But it's possible we have that wrong too, do you have an example of a published draft we can examine to confirm? Thanks!

[2021-08-03 18:54] ebarry commented on #9985
How about examining this case?

[2021-08-03 19:04] jywarren commented on #9984
Oh i really like your reflections on this! A couple small observations building on these.

1. We recently added the "Preview" button, and actually you could already (before it was added) switch to rich text (WYSIWYG) mode to see a pretty decent preview (i.e. that's the point of rich text editing). The "Preview" button was designed for the more interactive things you can add, which we can't simulat

[2021-08-03 19:41] ebarry opened #9987 "overflowing code inappropriately appearing below the tag input box"
### Please describe the problem (or idea)

There is overflowing code inappropriately appearing on the user interface below the tag input box:
<img width="273" alt="Screen Shot 2021-08-03 at 3 33 30 PM" src="https://user-images.githubusercontent.com/161439/128075762-a579dbde-909a-47fc-97b6-fd34119c46a9.png">

`,{},False" data-provide="typeahead" />`

i expected just to see the instructions "enter t

[2021-08-03 19:45] jywarren opened #9988 "Move "Lock note" link into sidebar "advanced tagging" dropdown menu"
The new link prompting admins and mods to lock a note is currently in the main column of notes, as shown here:

![image](https://user-images.githubusercontent.com/24359/128076434-60daec58-a339-475a-acd9-1a71935f5b3f.png)

Let's move it into the sidebar "advanced tagging" dropdown menu shown here:

![image](https://user-images.githubusercontent.com/24359/128076393-31febedb-588f-480b-ae57-3bd26792a5

[2021-08-03 19:57] steviepubliclab commented on #9977
I'm good with whatever new users are finding works best.

[2021-08-03 19:59] jywarren commented on #9985
Thanks, that's very helpful. OK, so we have a few places where sorting happens:

1. on the old (current) dashboard, we sort [by id](https://github.com/publiclab/plots2/blob/a578843b8127c1bf96c5bc023b673a652b0cd074/app/controllers/home_controller.rb#L95) which is a problem because we can't change the unique id. However, with the new dashboard this wouldn't be an issue.
2. at https://publiclab.org/r

[2021-08-03 20:01] jywarren commented on #9985
The minimal fix is now in testing at https://github.com/publiclab/plots2/pull/9989

[2021-08-03 20:15] ebarry commented on #9985
ah great detective work! Yes, i believe the staff are going to be looking at the firehose view to make sure we're not missing anything, so let's also fix this for /research please. Thank you for sorting this out.

[2021-08-03 20:20] jywarren commented on #9641
Hi Alicia!!!!! Welcome!!! I'm so sorry I missed this as my notifications are quite narrowly tuned (you could imagine how many i get across all PL projects) - my sincere apologies. I've reached out on Gitter as well.

I think trying a smaller repository first to get the hang of it is a great idea. Then, taking them in order perhaps - i've ordered them with top = highest priority. And, I'll add your

[2021-08-03 20:48] jywarren commented on #9985
https://github.com/publiclab/plots2/pull/9989 was merged, and if you can test it out on stable that would be great. Fixing it on firehose view is a bit more involved, I'll look into it in the coming week. Thanks!

[2021-08-03 21:18] jywarren commented on #9798
OK, I think that sounds good. Thank you for looking into it, @TildaDares !

[2021-08-03 21:21] jywarren commented on #9985
I think this could involve changing this line to sort by revision.timestamp instead:

https://github.com/publiclab/plots2/blob/a7bcc1761279616203701336e7104df7204b317f/app/controllers/home_controller.rb#L89-L95

But i'm not sure what the ramifications are of that change. It could just work. Or it could cause unexpected issues. I think the best way forward is to just try it out in a pull request.

[2021-08-04 06:58] TildaDares commented on #9985
@jywarren I’ll take a look at it

[2021-08-04 08:09] Ash-KODES commented on #9899
Hello! I'd like to try contributing to a FTO issue!

[2021-08-04 08:11] Ash-KODES commented on #9986
is this issue merged??
can i help in any way?

[2021-08-04 08:52] Ash-KODES commented on #9988
CAN YOU PLEASE EXPLAIN THE ISSUE MORE DISCRIPTIVELY,I AM READY TO HELP:)

[2021-08-04 08:57] Ash-KODES commented on #9971
OK  I AM WORKING ON THIS :)
THANK YOU MENTOR!!

[2021-08-04 09:47] Manasa2850 commented on #9988
@Ash-KODES this is a simple one. Currently the `Lock Note` option is there in the main page of the research note. We need to move this to the advanced tagging menu, the code for which is present in `app/views/tag/_advanced_tagging.html.erb`.
You can work on this one. Let me know if you need any help!

[2021-08-04 09:53] Ash-KODES commented on #9971
I have made a pull request please review it mentors!!

[2021-08-04 10:15] Ash-KODES commented on #9988
ok i am working on it
thank you mentor

[2021-08-05 07:26] luckych8080 commented on #9967
I claim this issue.

[2021-08-05 08:00] luckych8080 commented on #9967
Done
please review :)

[2021-08-05 13:26] ebarry commented on #9985
Just tested on stable.publiclab.org, and it **does not seem to be ordering by date that the `blog` tag was added**. What i did to test:

- went to https://stable.publiclab.org/blog and observed that the current top post is "Remembering Tonawanda" published on 07-01-2020.
- went to went to https://stable.publiclab.org/dashboard and scrolled back to find an older note -- https://stable.publiclab.org

[2021-08-05 13:34] ebarry commented on #9977
@cesswairimu and @TildaDares -- do you think first time posters should have access to the Save as Draft feature? @publiclab/community-reps are open to this change. Please advise.

FYI, our original reasoning was that new posters would hesitate too long perfecting their draft when it's better to just get their post out there. That would mean two things:

- that the small group of moderators (mostly

[2021-08-05 13:35] ebarry commented on #9979
Thank you for spotting this!

[2021-08-05 13:39] ebarry commented on #9984
I also think Markdown does not have to be the default. Maybe this is an error! Is this something we can change relatively simply? Based on input i'm getting, we should prioritize this change.

[2021-08-05 14:06] ebarry commented on #9985
This is in regard to https://github.com/publiclab/plots2/issues/9924

[2021-08-05 20:24] #9986 closed

[2021-08-05 20:34] #9967 closed

[2021-08-05 20:38] noi5e commented on #9967
@steves14 Sorry for the confusion, yes, definitely go ahead and leave a comment on an issue if you don't see anyone else claiming it. No need to wait for someone to assign to you.

@Ash-KODES @DalilaBA I'm sorry I closed your pull requests, but I saw that you had other PRs that were open/merged so I went ahead and merged @luckych8080's.

[2021-08-05 20:53] daemon1024 commented on #9946
Here's what the current unstable looks like which loads the markers under 20ms with https://github.com/publiclab/plots2/commit/0b5080e3dd2eba833459475e6e8e5a9091619a43

https://user-images.githubusercontent.com/47106543/128419557-7e6405f0-abc2-45b3-a2b2-43eaafa9c977.mp4

What I did is, I am storing the json data based on response from https://publiclab.org/api/srch/taglocations?nwlat=52&selat=-52&

[2021-08-06 00:19] noi5e commented on #9983
Reading up on this now. Here's what [GitHub Actions's docs](https://github.com/actions/cache/blob/main/examples.md#ruby---bundler) say about caching Ruby gems:

[code]

That seems to be what we're doing here:
https://github.com/publiclab/plots2/blob/5482fc868ac96a9b0622b50aaaee7b3003033b72/.github/workflows/tests.yml#L51-L59

🤔

[2021-08-06 00:27] noi5e commented on #9983
What are the indications that Ruby gems are NOT being cached correctly?

Here's the [unit test run](https://github.com/publiclab/plots2/runs/3222445809?check_suite_focus=true) from the most recent logs @jywarren posted:
[code]

Later on in the same run:
[code]

🤔

[2021-08-06 03:49] jywarren commented on #9946
This looks pretty cool! Could we achieve something similar with action caching? https://guides.rubyonrails.org/caching_with_rails.html

I know it's precaching though so I guess we could have a script that prefetches the cache daily...

Also, would there be scaling issues as the number of markers increases?

[2021-08-06 03:51] jywarren commented on #9946
And if we should fetch for different regions as it becomes too many markers, couldn't we precache by lat/lon boxes?

[2021-08-06 05:52] anirudhprabhakaran3 commented on #9943
So, as far as I understand, bullet doesn't play any part in tests. it's used just during the development cycle, and not in tests.
Bullet doesn't _prevent_ any bad queries from being added to the code, it'll just _alert_ the developer to the inefficient queries. Whether we want to correct them or not is up to us.

Bullet actually displays errors as a pop-up JS alert when the page with inefficient q

[2021-08-06 05:53] anirudhprabhakaran3 commented on #9987
Hey, I'm not able to see this on the website from my end. Could you link maybe an URL or something that points to the page on which the error is showing up? That'll help me debug the issue more

[2021-08-06 05:56] anirudhprabhakaran3 commented on #9981
Hello everyone!

Machine Learning..ooh. The hot word of the moment. ML is nearly everywhere. I am taking a few introductory courses on edX and Coursera on ML/AI, but I personally find that I need to work on my math for me to get a better grasp on what it actually is.

(As a side note, I'd like to open the weekly check-in for next week, if that's okay with everyone!)

[2021-08-06 06:20] anirudhprabhakaran3 commented on #9979
I think the issue is here
https://github.com/publiclab/plots2/blob/5482fc868ac96a9b0622b50aaaee7b3003033b72/app/models/image.rb#L35-L42

The only two types of images that are being parsed are either original or medium. i think removing the else condition should do the trick

[2021-08-06 14:20] daemon1024 commented on #9946
That's where the microservice fits in I think 👀👀

[2021-08-06 14:31] daemon1024 commented on #9946
at a more granular level, storing individual elements as geojson objects making up clusters as required. Our current ruby endpoint is needing to deal with a lot of things, but since we will be precaching the processed part these elements won't take up much time to load up.

[2021-08-06 14:33] daemon1024 commented on #9946
As for the scraping/precaching part, the github actions should provide the proof of concept for that! Instead of storing it in the repository, we can send a post request to our microservice to store it.

[2021-08-06 17:07] Manasa2850 commented on #9987
This has been fixed via #9973 I guess!

[2021-08-06 21:57] daemon1024 commented on #9946
I tried to do things on the ruby side but didn't proceed well.

Like updating the file every day instead of hour that I did right now?

I don't think so 🤔 We would need to update the limit number though maybe. Currently we have 1152 records I believe. I am not sure if there's a provision to remove limit on our endpoint right now.

[2021-08-06 21:58] daemon1024 commented on #9946
@jywarren I am kind of not sure, what my next steps should be here.

[2021-08-07 06:49] TildaDares commented on #9977
@ebarry I’m okay with whichever one but there should be a way to inform new contributors that they can’t save drafts if you decide to stick to the current arrangement.

[2021-08-07 22:56] #9971 closed

[2021-08-07 23:04] noi5e commented on #9983
To spell out my thoughts from the last comment, `Cache restored successfully` makes me think that the run **IS** caching Ruby gems. But then later on in the run, `Bundle complete! 107 Gemfile dependencies, 266 gems now installed.` makes me think that it isn't? 🤷

[2021-08-07 23:05] noi5e commented on #9983
I'm going to give it a shot, and make a PR attempting yarn dependency caching according to [these docs](https://github.com/actions/cache/blob/main/examples.md#node---yarn).

Let's see how this goes! Working with GitHub Actions in this way is new for me.

[2021-08-08 00:32] noi5e commented on #9987
I'm not able to reproduce this either. From `/profile/admin` on my local `main` branch:

<img width="281" alt="Screen Shot 2021-08-07 at 5 31 47 PM" src="https://user-images.githubusercontent.com/4361605/128617025-cc76e645-ad58-46e4-8a19-3282a4f9cdcf.png">

@ebarry Can you confirm if you're still seeing this, and where? The current site, or stable maybe?

[2021-08-08 01:07] micahweston commented on #9899
Hello! I would love to contribute to a FTO issue!

Thank you,

[2021-08-08 15:06] max-keviv commented on #9899
hello there,
I want to be part of the Public Lab and contribute to its mission

[2021-08-08 16:04] Ash-KODES opened #9999 "research note dropdown menu not completely visible!"
![issue_reasearch_note_dropdown_menu](https://user-images.githubusercontent.com/84193017/128638230-b7d35c1a-7ecc-4ee4-a97b-229c62cb6127.png)

[2021-08-08 16:11] Ash-KODES commented on #9988
@Manasa2850 can you please guide me
i am not able to get trace html files in repo of things i am working on!
please leave the link of reaserch note html file?

[2021-08-08 19:05] noi5e commented on #9999
I'm reproducing this bug by visiting https://publiclab.org/tag/research-notes and clicking on the three-dot dropdown menu:
<img width="674" alt="Screen Shot 2021-08-08 at 11 59 24 AM" src="https://user-images.githubusercontent.com/4361605/128642847-00195b76-ed73-4438-a0e8-0cdda2495d7c.png">

It looks like there are two distinct `<div id="container">`s on the page, one for the `research-notes` tag

[2021-08-08 19:10] Ash-KODES commented on #9999
I would like to contribute for this issue:)

[2021-08-08 19:19] noi5e commented on #9988
@Ash-KODES You can search for phrases in GitHub, or in the repository files if you `git clone`d them to your computer.

I just searched for `Lock Note` and I found the partial here:
https://github.com/publiclab/plots2/blob/aeb6c35f16c1944f1f524becae3c710ed4282822/app/views/notes/show.html.erb#L93-L95

Try to take it from here and if you get stuck just leave a comment again! 🤗

[2021-08-08 19:20] noi5e commented on #9999
@Ash-KODES Go ahead!

[2021-08-08 19:23] noi5e commented on #9935
The fix for this seems to be merged in #9986, so closing it.

[2021-08-08 19:23] #9935 closed

[2021-08-08 19:37] noi5e commented on #9950
@jalencheng Thanks for making this change! It looks like you merged your changes into `jalencheng/plots2` instead of `publiclab/plots2`.

Can you make another pull request merging into `publiclab/plots2` instead?

[2021-08-08 19:51] first-timers[bot] opened #10000 "Close Reply Comment Form After Posting Comment"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-08 19:57] noi5e commented on #9899
Hi @micahweston @max-keviv or anyone else that is still looking for an FTO:

I've created an issue at #10000 (a nice round number!). Please leave a comment there to claim it!

[2021-08-08 20:06] Tlazypanda commented on #9981
Hey @anirudhprabhakaran3 yes please feel free to open the check-in much appreciated :heart:

As far the topic is considered I recently completed a machine learning internship and did a small writeup of my experience
https://medium.com/@mishrasneha.bb/notes-smart-autocomplete-my-intuit-internship-experience-b5e3a051110c

p.s Andrew Ng is the ML God :100:

[2021-08-08 20:06] Tlazypanda commented on #9981
Also Inviting other @publiclab/soc folks to share their experiences in this domain :tada:

[2021-08-08 20:09] aummishra commented on #10000
I would like to contribute

[2021-08-08 20:10] Tlazypanda commented on #10000
@aummishra Go ahead :tada:

[2021-08-08 20:12] Tlazypanda commented on #9899
Hey folks! also noting https://github.com/publiclab/plots2/issues/9978 is also available :100:

[2021-08-08 20:45] noi5e commented on #9978
I think we could break this down a little further so a new contributor could understand it. (TBH I'm still not fully there yet 😅)

It looks like the lock icon this is talking about is located here:
https://github.com/publiclab/plots2/blob/aeb6c35f16c1944f1f524becae3c710ed4282822/app/views/notes/show.html.erb#L29-L33

We can add a hover tooltip by copying this example:
https://github.com/publiclab/

[2021-08-08 20:46] Tlazypanda opened #10001 "Change "Sort By" Strings to Translation Function Call in _activity.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-08 20:50] Tlazypanda opened #10002 "Change "Sort By" Strings to Translation Function Call in _sidebar.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-08 20:55] Tlazypanda opened #10003 "Change "Sort By" Strings to Translation Function Call in _sort.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-08 21:26] TildaDares commented on #9978
@Manasa2850 will probably be able to answer this better but I think the text could be `New contributors are not allowed to add tags to a note. See ——- to read more about this`

[2021-08-08 21:29] sakshamlamba109 commented on #9978
Hey!! Can I work on this issue?

[2021-08-09 04:28] arushisinha09 commented on #9978
Hey , Can i work on this?

[2021-08-09 05:00] Ash-KODES commented on #9988
thankyou this was really helpfull

[2021-08-09 05:41] noi5e commented on #9978
@sakshamlamba109 Go ahead, since you were first, and maybe if you get stuck @arushisinha09 you can help them out?

[2021-08-09 08:22] arushisinha09 commented on #9978
ya sure

[2021-08-09 08:49] sakshamlamba109 commented on #9978
okay thanks!!

[2021-08-09 09:30] arushisinha09 commented on #10003
Hey , is this issue open ?I'd like to contribute

[2021-08-09 12:10] vacom13 commented on #9899
Hi! I would like to start contributing to FTO issues. I know html, css, python and have experience with flask. Please add me to the list.

[2021-08-09 12:10] vacom13 commented on #9899
Hi! I would like to start contributing to FTO issues. I know html, css, python and have experience with flask. Please add me to the list.

[2021-08-09 12:22] Tlazypanda commented on #10003
@arushisinha09 go ahead 🎉

[2021-08-09 12:35] Tlazypanda commented on #9899
Sure @vacom13 we currently have some ftos open that you can start working on right away as noted in the comments above or you can directly view them under the issues tab with tags - first-timers-only ✌️  example: #10001 #10002

[2021-08-09 12:40] vacom13 commented on #9899
Okay thank you!

[2021-08-09 12:42] vacom13 commented on #10001
Please assign this issue to me.

[2021-08-09 12:48] prathamesh-borse commented on #10002
@Tlazypanda Can U Please Assign this issue to me.!🙌✨

[2021-08-09 13:44] Manasa2850 commented on #9978
Hi everyone! It's not just for new contributors, anyone other than admin / moderators cannot add tags on a locked note. We can keep the text on hovering as ` Only admins / moderators can add tags on locked content.` similar to what I've done [here](https://github.com/publiclab/plots2/pull/9733#issuecomment-855599662), to maintain uniformity.

[2021-08-09 15:53] ebarry commented on #9984
Can someone break out an issue to "Set RichText as the default formatting mode in the editor on /post" ?

[2021-08-09 15:55] imajit commented on #9984
Sure! I'll do it

[2021-08-09 15:55] ebarry commented on #9979
Thank you for investigating this @anirudhprabhakaran3! Would you be interested in trying to make a PR to fix this?

[2021-08-09 16:00] ebarry commented on #9977
great, i agree, thanks @TildaDares .

I'm wondering—is the "Save as Draft" button actually visible to first-time posters? I'm asking because i do not see it in your screenshot.  Perhaps were you expecting this button to be present because you know that this feature exists, and had seen the feature previously on stable.publiclab.org?

[2021-08-09 16:09] ebarry commented on #9987
Hi!
I re-checked just now, and I AM STILL seeing this on the live production site in the following locations:

- on questions: https://publiclab.org/questions/fongvania/07-29-2021/how-can-community-science-projects-go-about-seeking-funding
- on notes: https://publiclab.org/notes/bhamster/08-06-2021/building-a-coqui-water-conductivity-sensor-and-analyzing-its-sound
- on wikis: https://publiclab.org

[2021-08-09 16:22] ebarry opened #10004 ""Try It Now" button adds incorrect tag to new post"
### Please describe the problem

Jeanette used the "Try it now" button on an activity post for the first time last week, and reported that this brings up a blank research note with pre-populated tags.

We expected to click "Try it now" on an activity, and have a new post editor open with blue alert box at the top that says "this is an attempt to replicate an activity."

She noticed that one of the

[2021-08-09 16:25] anirudhprabhakaran3 commented on #9979
Yes! I'll make a PR for it

[2021-08-09 16:26] anirudhprabhakaran3 commented on #9987
Aah i see it now too. Looking into the issue

[2021-08-09 16:37] cesswairimu commented on #9977
@ebarry save as draft could be beneficial to soc applicants when drafting their proposals but  from what I am hearing, more work would go to moderators on managing draft spams...I would opt for leaving it as is for that reason.  thanks

[2021-08-09 16:45] TildaDares commented on #9977
@ebarry No, the `Save as Draft` is not visible to first time contributors. When I was drafting my proposal I expected it to be there because I had seen it in my local environment.

[2021-08-09 16:56] anirudhprabhakaran3 commented on #9987
I believe it is due to this part of code:
https://github.com/publiclab/plots2/blob/aeb6c35f16c1944f1f524becae3c710ed4282822/app/views/tag/_form.html.erb#L12

On line 12, the placeholder uses the translate() function. Everything after that is what is actually overflowing from the input form. Will have to dig into the translate() function.

I think that the function is returning a span which contain

[2021-08-09 17:22] ebarry commented on #9977
aha. perfect. So, let's craft the message that's more like: "After you publish your first post, and it is approved by human moderators, you will have access to a 'Save as Draft' feature that you can use for creating future content."

This could be improved! Do you see what i'm getting at? As in, don't just tell people there's a feature they've never heard of that they don't have access to.

[2021-08-09 18:39] max-keviv commented on #10004
@ebarry "Try it now" button is working

[2021-08-09 20:34] noi5e commented on #9987
Maybe @imajit knows something about this, since it seems similar to stuff that they were working on?

[2021-08-09 20:39] imajit commented on #9987
I guess I had fixed this recently. Looking into it :worried:

[2021-08-09 20:47] noi5e commented on #9987
@imajit The solution might not yet have been pushed to the production server! @jywarren @icarito

[2021-08-09 20:52] imajit commented on #9987
Yeah, I guess that's the case here
Sorry @ebarry for the trouble this was caused due to an FTO issue and the pr got pushed to production too.  This issue is only visible to Translation team members so won't be a site-wide issue.

[2021-08-09 20:54] noi5e commented on #10004
I was just able to reproduce this bug:
https://user-images.githubusercontent.com/4361605/128772903-8a299810-a969-40bc-b247-3e23315f411e.mov

Clicking on `Try It Now` leads to this outcome:

Instead of this desired outcome:

@ebarry Is the only thing that's missing here the _blue alert box_? Would you say that it's routing to the correct page? (https://publiclab.org/post)

[2021-08-09 21:50] imajit commented on #9984
https://github.com/publiclab/PublicLab.Editor/issues/736

[2021-08-10 03:19] sakshamlamba109 commented on #9981
Sure @anirudhprabhakaran3 go for it!!

[2021-08-10 03:19] #9981 closed

[2021-08-10 10:20] Tlazypanda commented on #10001
Hey @vacom13 sure go ahead :) also I can see you created the pull request to your own clone instead of `Publiclab/plots2` so if you can direct the pr to this then we can go ahead with the review :)

[2021-08-10 10:22] vacom13 commented on #10001
Okay great thank you. On it.

[2021-08-10 10:56] rsh-raj commented on #10003
@arushisinha09 Have you opened a pull request?

[2021-08-10 11:04] anirudhprabhakaran3 opened #10010 "Weekly Community Check-In #113 - The World Runs on Open Source"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-08-10 11:25] 17sushmita commented on #9880
Changes done
- Implemented Filtering based on count of subscribers and Nodes
- Implemented Sorting by No. of Subscribers or No. of Nodes.
- Improved visual representation of the Cytoscape visualization.
- Implemented min and max zoom.

Changes need to be done-
- Searching Feature (Need more ideas about how to search)
- Quick tour of the graph page
- Further Enhancements (Discussion required)

[2021-08-10 11:36] sorutifokkusu commented on #9950
Can I do it?

[2021-08-10 11:51] Manan-jn commented on #10000
@aummishra have you opened the pull request?

[2021-08-10 12:07] unnati914 commented on #10010
Nice topic @anirudhprabhakaran3 💯

[2021-08-10 12:11] unnati914 commented on #10010
What I believe is.. open source is for everyone :) and the feeling of doing a small tinch for the community and humanity gives me immense pleasure. The sense of happiness after doing something for someone is great 💯

[2021-08-10 12:20] unnati914 commented on #9945
I can create a fto for this

[2021-08-10 13:36] ebarry opened #10012 "DISCUSSION: spam tags with followers who have [not yet] been banned still displayed on /stats/subscriptions"
**Please describe the desired behavior.**

I want to be able to delete spam tags which have more than 0 followers.
UPDATE: I do not want to see spam tags on /stats/subscriptions

**Additional context (optional)**
This spammy tag "Which-are-the-best-content-and-article-writing-services-online" apparently has a follower, which means it shows up in our subscription statistics: https://publiclab.org/s

[2021-08-10 14:02] govindgoel commented on #10010
Yeah totally agreed @unnati914, you feel awesome and connection with the community is also one thing I admire.

[2021-08-10 14:04] ebarry commented on #10010
Great topic @anirudhprabhakaran3 ! I love this. To me, open source is one of the brights spots in all of human endeavor. That sounds like an overstatement but people supporting each other to make something of use to even more people ... with equity providing continual course correction is rad!

[2021-08-10 14:09] ebarry opened #10013 "Increase width of drop down menu so title is readable"
**Please describe the desired behavior.**

I am looking for this button to be wide enough to see the words "Filter period:" without the words being cut off and appearing as "Filter pei" which is making this menu needlessly cryptic:
<img width="549" alt="Screen Shot 2021-08-10 at 10 05 36 AM" src="https://user-images.githubusercontent.com/161439/128881581-72990faf-4845-4c7d-aec5-a6a9cd7155e9.png">

[2021-08-10 14:21] ebarry commented on #9290
Fascinating!!! I am seeing this also.

I captured a gif that shows how even clicking through multiple pages, only the /barnstars page is shown. I happen to like this page, but, it's really incorrect as a result.

![sorting-by-likes](https://user-images.githubusercontent.com/161439/128883882-92962106-f0a5-4f9d-a17e-5f15e202ab2e.gif)

[2021-08-10 14:24] ebarry commented on #10004
Thanks @noi5e !
Yes, that's what's missing in this case. And @bhamster thinks it might be because `activity:nodenumber` is being added instead of `replication:nodenumber`

[2021-08-10 14:44] ebarry commented on #9999
How's it going @Ash-KODES ? Want to check-in re: what you're working on so far?

[2021-08-10 14:45] ebarry commented on #9987
oh interesting! Ok, so am i understanding correctly that it's only currently visible to Translation Team members, and it will be fixed for them also once the site is republished?

[2021-08-10 14:48] ebarry commented on #9924
Just tested on stable.publiclab.org, and it **does not seem to be ordering by date that the `blog` tag was added**. What i did to test:

- went to https://stable.publiclab.org/blog and observed that the current top post is "Remembering Tonawanda" published on 07-01-2020.
- went to went to https://stable.publiclab.org/dashboard and scrolled back to find an older note -- https://stable.publiclab.org

[2021-08-10 16:27] jywarren commented on #10012
I'm looking and i see a filter for followers of status = 1, so i wonder if that follower is somehow not banned? We should dig a little deeper here. But tag deletion could work too...

https://github.com/publiclab/plots2/blob/aeb6c35f16c1944f1f524becae3c710ed4282822/app/controllers/stats_controller.rb#L4-L16

[2021-08-10 17:09] jywarren commented on #10004
I want to say it's in this segment of code, but I can't find where `activity:_____` is being inserted:

https://github.com/publiclab/plots2/blob/aeb6c35f16c1944f1f524becae3c710ed4282822/app/views/notes/_responses.html.erb#L8-L17

Ah, wait -- here it is:

https://github.com/publiclab/plots2/blob/e646cfd248e46fe9cf11a2eb7860bbf29f949b7d/app/views/tag/_replication.html.erb#L1-L7

Now, what should we

[2021-08-10 17:09] jywarren commented on #10012
@17sushmita would you be able to try the rails console on your database copy to see what's actually happening here?

[2021-08-10 17:11] #9776 closed

[2021-08-10 17:15] 17sushmita commented on #10012
Hi @jywarren, yes I can look into this but my concern was should we completely delete such tags or hide them in some way so that data is not lost if some person was accidentally deleted. Or should we implement a mechanism to delete automatically such tags after 30 days or so.
Just thinking of possible solutions. What do you think?

[2021-08-10 18:52] jywarren commented on #10012
Hmm. Well first, if the user has been banned, why are we still seeing the tags? Could it be a cache delay? Or something else?

I think we may be able to solve this with an adjusted query rather than deleting the tag records.

[2021-08-10 18:52] jywarren commented on #10012
Thanks!!

[2021-08-10 19:03] jywarren commented on #9945
@unnati914 that would be super! Perhaps check with @imajit once you've created it to give it a quick look over, then we can label it? Thank you!

[2021-08-10 19:09] ebarry commented on #10013
this too narrow menu is only visible at narrow browser widths, but not so narrow that it loads in "mobile" view

[2021-08-10 19:45] ebarry opened #10015 "For notes that replicate more than one activity, show in alert bar"
**Current situation**
Notes such as https://publiclab.org/notes/bhamster/08-06-2021/building-a-coqui-water-conductivity-sensor-and-analyzing-its-sound that replicate more than one activity only link to one activity in the blue alert bar.
<img width="470" alt="Screen Shot 2021-08-10 at 11 29 48 AM" src="https://user-images.githubusercontent.com/161439/128924729-49032cf2-d019-4230-80d3-9755746402b8.

[2021-08-10 19:59] ebarry opened #10016 "Display contributors and followers from most recent to least recent"
**What this affects**

This is regarding tag pages, specifically the Contributors tab that shows both contributors and followers. Here is this tab for the tag `water-quality`: https://publiclab.org/contributors/water-quality

**Please describe the current behavior:**

Currently, the contributors are displayed from the oldest at top to newest at the bottom. This is also true for the followers table

[2021-08-10 20:03] #9880 closed

[2021-08-11 01:47] micahweston commented on #9899
@noi5e @Tlazypanda I missed out on the open FTOs it looks like they have all had a pull request submitted. If there are anymore FTOs that pop up, I would love to take a shot! My preferred languages are Python, or JavaScript.

Thank you!

[2021-08-11 02:31] max-keviv commented on #9899
@Tlazypanda could you please add me to this list

[2021-08-11 02:35] unnati914 commented on #9945
surely

[2021-08-11 03:27] max-keviv opened #10018 "anniversary block's down margin is not aligned properly"
**Please describe the desired behavior.**

this block of id "anniversary" in header, it's down margin is not properly aligned in phone resolution

<b>Want to talk about wastewater?</b> Join us for <b>Open Call</b> on this topic every Tuesday through September.
</p></div>

![Screenshot (229)](https://user-images.githubusercontent.com/59287619/128964454-d44e6062-0e08-40e9-8ad0-2f10dc2b40c3.png)

**D

[2021-08-11 04:45] siddhartharao17 commented on #9899
Looking to contribute to FTO issues. New to open source contributions. I'm most comfortable in python, flask and bash.

[2021-08-11 06:27] imajit commented on #9987
Yes

[2021-08-11 06:33] arushisinha09 commented on #10003
Ya I'm working on it .

[2021-08-11 14:32] ebarry commented on #10018
Yes you're right! the banner should be as you illustrate. Perhaps this is a good candidate for a first-timers-only issue? I'll add a label to that effect. thank you!

[2021-08-11 20:35] daemon1024 commented on #9946
Map Cluster Demo based on the above precached json data

https://user-images.githubusercontent.com/47106543/129099296-acd88b10-d8a9-4777-b412-7a689cd48b7a.mp4

[2021-08-11 21:35] aummishra commented on #10000
yes I am working on it

[2021-08-11 22:19] aummishra commented on #10000
Pull request has been made, Thanks!

[2021-08-12 20:59] daemon1024 commented on #9946
I believe you raised a query about we limiting it to 1000, I realised we have around 1152 point right now in total, so we can maybe set the limit to 1500? for the api call we make in https://github.com/publiclab/plots2/pull/9997. Else we can make another endpoint which just returns things without any limit.

[2021-08-13 14:08] Tlazypanda commented on #10018
Hey @max-keviv thanks for tracking down this issue :100: The anniversary element is not accessible on the dev codebase but is maintained at the production level but in this case the issue might be to change the `#header margin-top` in case of pages with pixels less than `768p` I think it's taking `68p` now so updating that to `75p` should work :)

[2021-08-13 14:14] ebarry commented on #10018
As site admin, i have access to this code in production via https://publiclab.org/features/11796/edit
@bhamster is currently maintaining this block. Does @max-keviv have recommendations for how we might better write the following HTML?

****

<div id="anniversary"><p>
<b>Want to talk about wastewater?</b> Join us for <b>Open Call</b> on this topic every Tuesday through September. <a href="https://

[2021-08-13 16:20] max-keviv commented on #10018
@ebarry  thanks for asking 😊 @Tlazypanda is absolutely right 👍, we should implement this

[2021-08-14 03:16] Manasa2850 commented on #10015
@ebarry I think adding links to all activities that are being replicated would clutter the alert bar. I have 2 suggestions
1. Linking it to another page where all the replicated activities are listed.
2. Adding another message, something like `view all the replicated activities in the sidebar` (maybe written in a better manner).

Thanks!

[2021-08-14 04:25] max-keviv commented on #10016
@ebarry can I work on this

[2021-08-14 05:43] #10002 closed

[2021-08-14 05:44] #10001 closed

[2021-08-14 17:55] jywarren commented on #10004
Is it a replication in either case, whether it's to an update or an activity?

[2021-08-14 17:55] #10004 closed

[2021-08-14 18:23] jywarren commented on #9946
Hi @daemon1024 - we have a few different issues here. In the near term, displaying the most recent 1500 and caching them seems reasonable.

But over the long term, we might expect this to grow to 10k, 20k, right? And we assume we wouldn't want to display just the most recent or most popular. So we need a way to a) prioritize which to show in the overall view, which for now is complete but as the d

[2021-08-14 18:30] #10000 closed

[2021-08-15 05:57] Manasa2850 commented on #6593
I've made couple of changes to disambiguate tags from power tags in the sidebar.
Ref PRs #9972 #9889 #9863 #9822
Please let me know if there are any more improvisations that I can do. I'd love to brainstorm on it.
Thanks!

[2021-08-16 18:01] 17sushmita commented on #10012
Hi @ebarry, Can you confirm if this user is banned or not because I checked in the scrubbed DB and the user is not banned. If he was banned recently, then it may be possible scrubbed DB does not reflect those changes. Just need to confirm this.

[2021-08-16 18:17] 17sushmita commented on #10012
I think this is the person who added this tag - https://publiclab.org/profile/contentscribblers3 . He hasn't been banned.

[2021-08-16 21:33] noi5e commented on #10016
@max-keviv Go for it! I am assigning this to you.

[2021-08-16 21:46] Onyinye91-ctrl commented on #10003
Hello @Tlazypanda  if this issue is still available. I will like to work on it

[2021-08-16 21:48] noi5e commented on #10015
I did some browsing to break this issue down a little further.

Here's where the blue alert is displayed in the codebase:
https://github.com/publiclab/plots2/blob/2bb0cdd28c8d1a513b0161c402062f4edee4624d/app/views/notes/show.html.erb#L6

Here's where the exact text that's displayed is specified:
https://github.com/publiclab/plots2/blob/2bb0cdd28c8d1a513b0161c402062f4edee4624d/config/locales/en.yml

[2021-08-16 21:49] noi5e commented on #10003
@Onyinye91-ctrl Let's assume that @arushisinha09 is still working on it!

@arushisinha09 let us know here if you need any help!

[2021-08-16 21:56] Onyinye91-ctrl commented on #10003
Okay @noi5e

[2021-08-16 22:12] noi5e commented on #10013
Replicating this issue (except with sliiightly wider width) on Firefox with MacOS Catalina:
<img width="505" alt="Screen Shot 2021-08-16 at 3 06 14 PM" src="https://user-images.githubusercontent.com/4361605/129635505-158fd0b6-4d36-4232-83fa-0de3da077cf7.png">

Here's where the changes need to be made:
https://github.com/publiclab/plots2/blob/2bb0cdd28c8d1a513b0161c402062f4edee4624d/app/views/stats

[2021-08-16 22:58] noi5e commented on #10010
That is truly mind-blowing to me!!! Love this check-in @anirudhprabhakaran3.

The whole idea of open-source is really inspiring to me too.

[2021-08-16 23:05] noi5e commented on #9987
Still seeing this error in production at [this page](https://publiclab.org/questions/fongvania/07-29-2021/how-can-community-science-projects-go-about-seeking-funding) @ebarry mentioned.

The PR I was thinking about is this one: #9856. Not sure if it truly is related or not 🤔

I wonder if @imajit's fix for this has been pushed to production yet. I don't think it has.

[2021-08-16 23:12] noi5e commented on #9950
@sorutifokkusu Sorry for the late response! Yes, please, go ahead.

[2021-08-16 23:13] noi5e commented on #9949
Closing this one as the fix was merged in #9952

[2021-08-16 23:13] #9949 closed

[2021-08-17 04:43] arushisinha09 commented on #10003
Ya I am actually stuck somewhere , but I am actively working on it , I am facing an issue while changing branch back to master in commiting changes , can someone help me with that?

[2021-08-17 13:25] imajit opened #10029 "Change "Ask a question" String to Translation Function Call"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-17 13:32] imajit opened #10030 "Change "Ask a question" String to Translation Function Call"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-17 13:35] imajit opened #10031 "Change "Ask a question" String to Translation Function Call"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-17 13:59] imajit commented on #9987
It's not related to #9856 because that test would fail if the translation function or its dependencies fail to render UI correctly, but in this issue, the translation function did not fail the parameters passed were incorrect.

[2021-08-17 14:08] Onyinye91-ctrl commented on #10031
@imajit  Is this issue still open? Can i work on this?

[2021-08-17 14:25] micahweston commented on #10031
If this is still open I would love to work on it.

[2021-08-17 16:01] jywarren commented on #10012
OK, so if the user is not banned, and is following the tag, do we need to do anything?

https://publiclab.org/profile/contentscribblers3/ is /not/ banned.

https://publiclab.org/contributors/Which-are-the-best-content-and-article-writing-services-online <= why aren't we seeing this follower on this tag "people" tab?

[2021-08-17 16:02] jywarren commented on #10012
If you send me the query, @17sushmita i can run it on the live database to try to figure out why were aren't seeing the user, thanks!!

[2021-08-17 16:19] noi5e commented on #10003
@arushisinha09 Can you copy the error message you're seeing?

[2021-08-17 17:12] pranxv commented on #10031
If the issue is still open, I would like to work on it

[2021-08-17 17:47] noi5e commented on #10031
@Onyinye91-ctrl It looks like you were first, so please go ahead!

[2021-08-17 18:30] noi5e commented on #10031
@micahweston @pranxv There are two other first-timer issues open right now! Leave a comment on the one you want if you'd like to claim it 😄

[2021-08-17 18:34] first-timers[bot] opened #10035 "Change "Cancel" to Translation Function Call"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-17 18:38] imajit commented on #10031
Sorry I couldn't check the issues , @noi5e thanks for helping out !
Really happy to see so many new contributors! 🎉 I'll create some more issues tomorrow.

[2021-08-17 18:53] micahweston commented on #10035
I would like to work on this if it is still available!

Thank you,

[2021-08-17 19:12] jywarren commented on #9277
Solving this in #10036 - with the exception of the new imagery in #8967 which is coming soon!

[2021-08-17 19:24] noi5e commented on #10035
@micahweston Go ahead!

[2021-08-17 19:27] #9277 closed

[2021-08-17 20:07] Onyinye91-ctrl commented on #10031
Thanks @noi5e

[2021-08-17 20:15] micahweston commented on #10035
Pull request has been submitted! Thank you for the opportunity for my first contribution!

[2021-08-17 20:48] jywarren opened #10038 "CodeCov upload action (github action) fails for PRs from outside publiclab fork"
@noi5e noted:

I responded:

it's a post-merge action I created in order to upload a "post-merge CodeCov score

https://app.codecov.io/gh/publiclab/plots2 - i think this is what's resulting from the failure of the post-merge gh action:

![](https://files.gitter.im/5dcc8800d73408ce4fd0f093/7yeI/image.png)

I wonder if there's a pattern; a PR i just merged did this action OK: https://github.com/publ

[2021-08-17 20:52] jywarren commented on #10038
`Secrets are environment variables that are encrypted. Anyone with collaborator access to this repository can use these secrets for Actions.`

We should test this both in this fork and from another fork.

[2021-08-17 20:52] jywarren commented on #10038
https://docs.github.com/en/actions/reference/encrypted-secrets

[2021-08-17 21:09] jywarren commented on #10038
* https://docs.sentry.io/platforms/ruby/configuration/releases/
* https://docs.sentry.io/product/releases/setup/release-automation/
* https://docs.sentry.io/product/releases/setup/

[2021-08-17 21:11] jywarren commented on #10038
https://github.com/marketplace/actions/sentry-release

[2021-08-17 21:39] DinSanGun commented on #10030
Hey!
I would like to work on this issue

[2021-08-17 21:43] jywarren commented on #10038
That fix did not work! Hmm.

of course - `Environment variable SENTRY_AUTH_TOKEN is missing an auth token`!

So, should we... skip that step if we don't have the env var? Can we make it conditional like that? I think it'll still be OK - we won't get /every/ release but it should be good enough to be helpful in Sentry. I don't think this should affect CodeCov uploading... but not sure. Maybe if we

[2021-08-17 22:07] DinSanGun commented on #10030
Hi, I'm done 🏁
Review required 😄

[2021-08-17 22:28] jywarren commented on #9667
I ended up taking care of the new dashboard issues myself, just to do them all in one PR! Updated this list to show. Thank you!!!

[2021-08-17 22:49] jywarren commented on #8731
Uh oh - actually it looks like our question card formatting in https://publiclab.org/questions was affected by the changes here. I'm reopening just to try to resolve this:

Before:

![image](https://user-images.githubusercontent.com/24359/129810269-6521f5b5-f6fe-41af-90a5-64e769ab4d0e.png)

Now:

![image](https://user-images.githubusercontent.com/24359/129810456-9c0cf716-1c07-45c0-bb48-05e00755a86

[2021-08-17 22:51] jywarren opened #10043 "new question card formatting in https://publiclab.org/questions caused some issues"
Uh oh - actually it looks like our question card formatting affecting https://publiclab.org/questions was affected by the changes in https://github.com/publiclab/plots2/issues/8731. I'm opening this just to try to resolve it:

Before:

![image](https://user-images.githubusercontent.com/24359/129810269-6521f5b5-f6fe-41af-90a5-64e769ab4d0e.png)

Now:

![image](https://user-images.githubusercontent.c

[2021-08-17 22:51] jywarren commented on #10043
cc @Manasa2850 but I know you're busy now -- just whenever you are available!

[2021-08-17 23:21] jywarren commented on #10010
Wow! I wonder, should we get the badge for https://github.com/publiclab/infragram, which was built in part for/with NASA?

[2021-08-17 23:24] #8948 closed

[2021-08-18 01:56] unnati914 opened #10045 "Weekly Community Check-In #114 - Self Development and its Importance"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-08-18 01:57] unnati914 commented on #10010
moved to  #10045 💯

[2021-08-18 04:50] icarito commented on #9957
I'm actually finding photos, but not under /public/system/users/photos , rather under /public/system/profile/photos. E.g. https://storage.googleapis.com/publiclab-production/public/system/profile/photos/7/original/384404446-square.png - could we have a routing issue?

[2021-08-18 13:06] jywarren commented on #9686
Hi @imajit! This is looking great. I wanted to ask if you'd spend some time in your final week to write up notes and documentation in a single place for how to run all this. If you'd like to write it from a technical perspective, it could go in the READMEs in /doc/. If you'd like to write it for non-technical readers, it could go at https://publiclab.org/translation. I'd like if you could try to c

[2021-08-18 13:09] daksh10110 commented on #10029
I would like to work on this if it is still available.

[2021-08-18 14:28] jywarren commented on #9641
This list is looking great! Excellent work, @aliciapaz!!

I'm also noting we will have to go back and add correct "CI passing" badges which I noticed in https://github.com/publiclab/image-sequencer#image-sequencer (still has the old Travis badge).

The new badge is: https://github.com/publiclab/plots2/workflows/tests/badge.svg?branch=main

And we can link it to: https://github.com/publiclab/plots2

[2021-08-18 14:40] govindgoel commented on #9641
@jywarren along with the CI changes we can change the badge too. Thanks for the new badge URL. Meanwhile, I will look wherever the changes are needed.

@aliciapaz I also missed this, but I liked the name you invented for the task. Thanks

[2021-08-18 14:48] aliciapaz commented on #9641
@govindgoel so you will change the badges in the already migrated repositories, am I right?
@jywarren  I'm currently working on mapknitter (based on work by @cesswairimu, thanks!)
Having some issues but so far nothing different from the ones you had in SWB.
Hopefully, I'll get it done by today/tomorrow!

Thanks to both!

[2021-08-18 14:55] govindgoel commented on #9641
@aliciapaz Yeah will work on that also will take up a repo to migrate to actions.

Thanks

[2021-08-18 15:45] #10035 closed

[2021-08-18 15:46] #10030 closed

[2021-08-18 16:07] imajit commented on #10029
sure @daksh10110 go ahead!

[2021-08-18 16:52] imajit opened #10051 "Change "Title" String to Translation Function Call"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-18 16:55] imajit opened #10052 "Change "Title" String to Translation Function Call"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-18 16:59] imajit opened #10053 "Change "Title" String to Translation Function Call"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-18 17:02] imajit opened #10054 "Change "Title" String to Translation Function Call"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-18 17:29] daksh10110 commented on #10029
So, I edited that file, and sent a pull request, have I done it correctly?

[2021-08-18 18:07] jywarren commented on #9641
Super, thanks all!!!

On Wed, Aug 18, 2021, 10:56 AM Govind Goel ***@***.***> wrote:

[2021-08-18 18:31] jywarren commented on #9641
OK - i made a new checklist for the badges. If we could get a more specific link for the badge that would be great, though - only recent runs of "tests" on main branch of publiclab's fork?

[2021-08-18 18:36] govindgoel commented on #9641
Okay @jywarren will look for that.

[2021-08-18 18:54] Onyinye91-ctrl commented on #10054
@imajit Can i work on this issue?

[2021-08-18 19:01] Onyinye91-ctrl commented on #8508
@jywarren I want to work on this issue. Can I?

[2021-08-18 20:21] daemon1024 commented on #9698
Haven't referenced some of the recent things I have worked on :)
So here we are:

Only show popups when there are markers in the region:
- https://github.com/publiclab/leaflet-blurred-location-display/pull/123
Followed by few version bumps across packages

Show people in a region as a bulleted list within the popup
- https://github.com/publiclab/leaflet-blurred-location-display/pull/136
- https://

[2021-08-18 20:33] sandipanpanda commented on #10053
Hello @imajit, can I work on this issue?

[2021-08-19 01:35] Quado1 commented on #10052
Hello.
I'd be glad to work on this issue.

[2021-08-19 02:02] Quado1 commented on #10052
Done. The pull request: https://github.com/publiclab/plots2/pull/10060

[2021-08-19 06:31] arnab-2001 commented on #10051
Hi @imajit, I am a beginner in Open Source and new to the project,  Can I work on this issue?

Can you please point me some resources?

[2021-08-19 07:09] imajit commented on #10053
Sure @sandipanpanda go ahead!

[2021-08-19 07:16] imajit commented on #10051
Sure @arnab-2001 go ahead! feel free to reach out if you are stuck

[2021-08-19 07:22] om2137 commented on #10054
I have created a PR, giving review required.
![Capture](https://user-images.githubusercontent.com/33827410/130025629-4add5cfd-8418-4f19-b976-ded3b3845e12.PNG)

[2021-08-19 07:24] arnab-2001 commented on #10051
Sure thing

[2021-08-19 07:53] arnab-2001 commented on #10051
I have created a pull request, can you please check that out.

[2021-08-19 08:21] arnab-2001 commented on #10051
#10063 pull request updated

[2021-08-20 00:59] #10029 closed

[2021-08-20 01:09] noi5e commented on #10038
Just as a data point, I got this error again from merging #10061. Here's the [workflow run](https://github.com/publiclab/plots2/actions/runs/1149044244)

<img width="538" alt="Screen Shot 2021-08-19 at 6 05 09 PM" src="https://user-images.githubusercontent.com/4361605/130163172-a1c9cd68-a130-47df-b797-efb7d4c0221d.png">

This PR was also done on a branch **outside** of `plots2`:`main`, so that che

[2021-08-20 01:22] noi5e commented on #10054
@Onyinye91-ctrl It looks like you're working on another issue at #10031, let's let @om2137 work on this one!

@om2137 It looks like you made two PRs. #10062 is closed, and [this other PR](https://github.com/om2137/plots2/pull/1) was merged into `om2137/plots2:main`. Can you make a PR that merges into `publiclab/plots2:main` so we can review it? 😄

[2021-08-20 05:25] om2137 commented on #10054
@noi5e I have created another PR, but it is still giving "review required" and "merging is blocked". can you please share any article or explain why it is giving that error.

[2021-08-20 08:20] arnab-2001 commented on #10051
I have done it  #10063
Can you please suggest to me how can I proceed further, as I am not familiar with this project?

[2021-08-20 10:52] hey-sameer commented on #9899
Hi! i would like to contribute to the FTOs. please add my name to the list.

[2021-08-20 15:20] #10051 closed

[2021-08-20 15:22] noi5e commented on #10054
@om2137 It looks like you did everything correctly! Those "review required" and "merging is blocked" messages aren't errors.

Someone else needs to look over the changes that you're making and approve them before they're merged into the codebase. Hope that makes sense! If there are other questions you have about open source, let us know!

[2021-08-20 15:22] #10054 closed

[2021-08-20 20:23] jywarren commented on #4385
I wanted to point at this fantastic ongoing project as a model for a React component living within the plots2 project -- we should, once it's complete, use it to plan future React projects!

https://github.com/publiclab/plots2/issues/9365

Thank you!

[2021-08-20 20:23] #4385 closed

[2021-08-20 21:00] noi5e commented on #10052
Merged in #10060

[2021-08-20 21:00] #10052 closed

[2021-08-21 16:14] #9985 closed

[2021-08-21 17:50] noi5e opened #10075 "Change "Ask a Question" String to Translation Function Call"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-21 18:16] noi5e commented on #10045
@unnati914 Thanks so much for making this check-in!!

I started working in open source as an Outreachy intern. It's been a very educational experience. I've learned a lot more about programming through working on open source than working on my own projects and tutorials.

I find that doing programming work helps my self development too. It develops the problem-solving part of my brain, and helps m

[2021-08-21 18:18] noi5e commented on #10016
@max-keviv How are you doing with this issue? Do you need help setting up the repo or finding how to work on this?

[2021-08-21 18:20] #10010 closed

[2021-08-21 18:24] noi5e commented on #9930
Discussion moved to #9945

[2021-08-21 18:24] #9930 closed

[2021-08-22 03:28] max-keviv commented on #10016
@noi5e thanks for asking I have successfully set up the environment and I am into the issue and if I will face any difficulty I will ask for help 🙂🙂🙂

[2021-08-22 06:41] om2137 commented on #10075
Can I work on this

[2021-08-22 07:32] noi5e commented on #10075
@om2137 I think you've recently completed a first-timers-only issue. Let's save this one for someone who is completely new to Public Lab 😊

You can browse our other non-FTO issues or even create a first-timer-only issue (see #9945)

Also if you haven't set up our repo locally you can do that as well: ([instructions](https://github.com/publiclab/plots2#standard-installation))

[2021-08-22 10:38] RazaKhanGit commented on #10075
Can I work on this issue?

[2021-08-22 11:09] himanshu-0611 commented on #10075
Can I work on this issue, I am a first-timer and found this a little understandable issue the first time on git hub...

[2021-08-22 11:20] himanshu-0611 commented on #10053
@sandipanpanda @imajit how is this issue solved? Just by changing line number 58 by line given in green above and it's done?

[2021-08-22 16:29] noi5e commented on #10075
@RazaKhanGit, you were first, so please go ahead!

[2021-08-22 18:04] TemitopeAgbaje commented on #10053
can i still work on this issue

[2021-08-22 18:07] TemitopeAgbaje commented on #9950
Has it been fixed?

[2021-08-23 05:10] poojap10 commented on #10075
Can I work in this

[2021-08-23 12:32] #9798 closed

[2021-08-23 15:34] TildaDares opened #10078 "Increase width of drop down menu so title is readable"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-23 16:05] Ishan2077 commented on #10078
Hi @TildaDares ! Can I take up the issue? Would love to make my first contribution!

[2021-08-23 16:22] #9979 closed

[2021-08-23 18:10] #9957 closed

[2021-08-23 18:17] jywarren opened #10082 "OAuth login with Google button may get stuck upon publishing new posts, goes into login loop"
Denisse reports that upon editing a post or publishing a new post, the Login prompt pops up and won't allow posting:

![image](https://user-images.githubusercontent.com/24359/130496644-8060fb3b-2a80-479d-8c4e-156970bbac24.png)

We should try reproducing this by logging in the same way on the stable server.

[2021-08-23 19:07] chicken-biryani opened #10083 "'Soil' in footer is a dead link."
Hello,

I was playing around and while going through [this page](https://publiclab.org/wiki/public-lab-careers?ltclid=), I clicked on 'Soil' in the footer it lead me to [this](https://publiclab.org/tag/soil) page.

**_The page I was going through._**
![image](https://user-images.githubusercontent.com/41121520/130503221-3c4ba826-91d9-4a33-9088-321b53808165.png)

_**'Soil' lead me to:**_

![image](h

[2021-08-24 00:57] dlebauer opened #10084 "website tag pages are broken"
### Please describe the problem (or idea)

Navigating the site, whenever I click a topic or tag, it directs me to `https://publiclab.org/tag/<tagname>` e.g. https://publiclab.org/tag/water-quality. All of these pages return an error e.g.

![image](https://user-images.githubusercontent.com/464871/130538134-8ad4fe8d-f39b-4eb0-b030-a3b70c4ebe7c.png)

### Please show us where to look

Any of the topic

[2021-08-24 04:31] himanshu-0611 commented on #10078
In case the issue remains unsolved I would like to take up the issue.

[2021-08-24 04:41] ksonawat007 commented on #9899
Looking forward to making contributions to the FTO issues. Please add my name to the list :)
My preferred language is python, C++. Also, if there are issues related to some new tech, please let me know about them too. I'm excited to learn!!

[2021-08-24 07:52] Tlazypanda opened #10085 "Weekly Community Check-In #115 - Outreachy Summer '21 comes to an end"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-08-24 07:53] Tlazypanda commented on #10085
@jywarren, @anirudhprabhakaran3, @TildaDares, @daemon1024, @om2137, @arnab-2001, @Quado1, @daksh10110, @dependabot[bot], @DinSanGun, @micahweston, @17sushmita, @imajit, @aummishra, @Manasa2850, @vacom13, @sorutifokkusu, @Ash-KODES, @luckych8080, @DalilaBA, @hrishikeshnikam2000, @noi5e, @atayl16, @roshni-patel, @saraswathy-krish, @adrnna, @Pandademic, @DmitriiOxen, @jayeritz

[2021-08-24 08:13] Tlazypanda commented on #10045
Moved to #10085

[2021-08-24 08:13] #10045 closed

[2021-08-24 14:07] TildaDares opened #10087 "Add tooltip to delete button on posts"
It's hard to understand what the delete button in the `Tools` section in a note is for. The delete button looks like any button and there's no visual cue to understand that the contributor is about to commit a dangerous action that cannot be reverted ( a contributor only knows this after clicking the button). I'd suggest separating the delete button from other normal buttons and using a red backgr

[2021-08-24 14:16] Arnabbibhuti01 commented on #10085
It's my first time here as well as in open source and I would be glad to be a part of this community.

[2021-08-24 14:17] TildaDares opened #10088 "Add margin to flag button in tools section"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-24 14:19] arnab-2001 commented on #10085
It's my first time here as well as in open source. I would be really glad to be a part of this community looking forward to working ahead.

[2021-08-24 14:20] arnab-2001 commented on #10088
Hi @TildaDares I would like to work on this issue.

[2021-08-24 14:24] jywarren commented on #10087
Oh I love that! Yes let's do it. It'll reduce mistaken clicks too being
further away. Great idea!

We can also enter it into the translation system.

On Tue, Aug 24, 2021, 10:07 AM Tilda Udufo ***@***.***> wrote:

[2021-08-24 14:31] TildaDares commented on #10088
@arnab-2001 Go ahead 🎉

[2021-08-24 14:32] jywarren commented on #10038
I guess we need to think of a way to run the sentry upload from a branch
with access to secrets...? Or something. It's hard to imagine this is a
hard limit, as it would prevent merges from working with this feature of
sentry.

One possibility is to change this to run only on merges to stable branch,
which is what's actually published to live. But that would skip the sentry
monitoring on stable.pub

[2021-08-24 15:26] daemon1024 commented on #10083
Thank You for reporting @chicken-biryani, I can confirm this issue.

I am afraid it's not a dead link but caused due to some error.
Since the tag exists
![image](https://user-images.githubusercontent.com/47106543/130644634-a2cad2f2-ad3d-467d-8ab8-ab420bede41d.png)

I can reproduce it in the stable site. But it seems to be working fine on the [unstable site](https://unstable.publiclab.org/tag/soil)

[2021-08-24 15:56] chicken-biryani commented on #10083
@daemon1024 Oh okay. So am I supposed to look into the unstable site while playing around? Because while playing around a little more I did find a similar error at various links.

[2021-08-24 16:00] bikmazefe commented on #9899
Hey there! I also would like to contribute to FTO issues in Ruby.

[2021-08-24 16:35] daemon1024 commented on #10083
Oh @chicken-biryani it would be great if you could share what other links are broken as well.

Ohh thanks for the interest 🎉 But I am really not sure what's the next step here 😅 I would wait out someone with some context can help you out.

cc @17sushmita @Manasa2850 since you worked with tags recently?

[2021-08-24 18:35] ankur12-1610 commented on #10078
Hi @TildaDares if the issue still remains unsolved, can I try to solve it?

[2021-08-24 18:43] TildaDares commented on #10078
Hi @himanshu-0611 and @ankur12-1610 let’s give @Ishan2077 some time to resolve the issue. Thanks!

[2021-08-24 18:45] ankur12-1610 commented on #10078
Yeah @TildaDares sounds good to me :)

[2021-08-24 18:57] ankur12-1610 commented on #9950
@noi5e if the issue remains unsolved, can I try to do it?

[2021-08-24 22:32] noi5e commented on #9950
@TemitopeAgbaje @ankur12-1610 If one of you wants to claim this issue, please go ahead!

Just comment here to let us know you're working on it!

[2021-08-25 02:13] cesswairimu commented on #10085
Congrats @TildaDares @Manasa2850 @17sushmita @daemon1024 @waridrox  @imajit :rocket: :rocket:

[2021-08-25 03:05] ankur12-1610 commented on #9950
Thanks @noi5e, but i guess the issue is solved by @sorutifokkusu.

[2021-08-25 04:17] sorutifokkusu commented on #9950
@ankur12-1610  I did want to make it like 8 days before but the link there goes to a branch which I couldn't edit ( like the pen icon wasn't working ) I realized later that I could just pick main and edit - pull request it. Sorry for leaving it open.

[2021-08-25 04:39] ankur12-1610 commented on #9950
Okay @sorutifokkusu, @noi5e can I give it a try?

[2021-08-25 05:10] ankur12-1610 commented on #9950
Okay @sorutifokkusu got it!

[2021-08-25 05:41] poojap10 commented on #10088
I'm new to this ..Can I work on this too

[2021-08-25 06:35] TildaDares commented on #10088
@poojap10 Only one person can work on an issue. Thanks!

[2021-08-25 12:22] krishna0303 commented on #10088
I am new to open source contribution can i take this issue to fix.

[2021-08-25 12:27] krishna0303 commented on #10031
I would like to work on this issue

[2021-08-25 14:35] johnpaul18 commented on #9899
Hi! I want to contribute to FTO issues, I have knowledge in web development(HTML, CSS, JavaScript, NodeJs, and PHP) add me to the list thankyou!

[2021-08-25 16:26] poojap10 commented on #10075
https://github.com/publiclab/plots2/pull/10097

[2021-08-25 16:49] poojap10 commented on #10003
#10098

[2021-08-25 19:04] jywarren opened #10099 "Error in tag pages"
https://github.com/publiclab/plots2/blob/d3a19b378520f0c3f5954f7699801dc28408bf53/app/models/image.rb#L35-L40

[code]

I want to say it's in `@wiki.main_image`

https://publiclab.org/tag/water-quality is where we're seeing it.

[2021-08-25 19:35] #10099 closed, assigned to nobody

[2021-08-25 19:40] jywarren opened #10101 "Some production errors not appearing in Sentry?"
#10099 didn't appear there... let's investigate!

[2021-08-26 08:49] Tlazypanda opened #10102 "Add Strings to Translation Function Call in _activity.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-26 08:50] Tlazypanda opened #10103 "Add Strings to Translation Function Call in _flag_list.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-26 08:50] Tlazypanda opened #10104 "Add Strings to Translation Function Call in _sidebar.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-26 08:50] Tlazypanda opened #10105 "Change "Trending topics" String to Translation Function Call in _activity.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-26 08:51] Tlazypanda opened #10106 "Add Strings to Translation Function Call in _node_event.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-08-28 01:23] juank1809 commented on #10102
Hey! I'd like to work on this issue :)!

[2021-08-28 09:31] Tlazypanda commented on #10102
Hey @juank1809 go ahead :)

[2021-08-28 09:36] #10003 closed

[2021-08-28 13:02] chicken-biryani opened #10112 "'Help wanted' link in 'first time only' issue template."
**The Issue**

**The link 'help wanted' in the 'first-timers only issue template isn't linked correctly.**

The link is over here:

![image](https://user-images.githubusercontent.com/41121520/131218682-3a63ed7a-1db7-42ac-b9c0-e613ce553e44.png)

**How is it functioning:**

It takes the user over here

![image](https://user-images.githubusercontent.com/41121520/131218145-139e43d7-b389-4c91-8169-9d53

[2021-08-28 13:26] waridrox commented on #10085
Sorry that I almost forget...been busy with my exams lately 😅, Here's my experience with PL - https://publiclab.org/notes/waridrox/08-28-2021/gsoc-2021-experience-with-public-lab?_=1630156977

Would be eager to continue with contributions wherever possible 🎈🚀

[2021-08-29 05:49] chicken-biryani commented on #10112
Hey, @Tlazypanda / @daemon1024
Can I work on this?

[2021-08-29 09:45] daemon1024 commented on #10112
Thanks for digging this out. ☺️

Sure. Thanks a lot ✌️🙌

[2021-08-29 15:05] 17sushmita commented on #10085
Hi all, Sorry for the delayed response. I had a really bad week as my laptop got some issues ☹️  so couldn't be active here.
Talking about my experience with PublicLab, It has been amazing and full of new learnings. In whole, my GSoC period has helped me explore more about my specific interests such as I really enjoyed playing with Database queries and optimising it. I'm trying to focus more on le

[2021-08-29 19:18] #9950 closed

[2021-08-30 04:55] harshil202 commented on #9899
```Hey I am interested in FTO issues```

please add me

[2021-08-30 16:00] jywarren commented on #10085
Hi and congratulations @TildaDares @Manasa2850 @17sushmita @daemon1024 @waridrox @imajit !!! 🎉 🎉 🎉

I've just submitted the last of our evaluations and it was our pleasure to pass all 6 of you. You've all done a tremendous job this summer and I plan to give more specific feedback and to celebrate your projects in the days and weeks to come. Please know that it's been an honor to work with you all,

[2021-08-30 16:04] jywarren commented on #10085
And for reference, here are folks final posts!

* https://publiclab.org/notes/17sushmita/08-23-2021/gsoc-report-tag-topic-system-refinements
* https://medium.com/@waridrox/gsoc-2021-at-public-lab-final-report-7347b7edf466
* https://publiclab.org/notes/ajitmujumdar25999/08-21-2021/gsoc-2021-translation-system-refinement
* https://publiclab.org/notes/barun1024/08-22-2021/gsoc-2021-geographic-feature

[2021-08-30 17:09] DalilaBA opened #10115 "rake aborted! when executing "rake db:setup""
### Please describe the problem (or idea)

I was following the steps wrote on the README.md file

a configuration of the database

### Please show us where to look

 $rake db:setup
rake aborted!
LoadError: Error loading the 'mysql2' Active Record adapter. Missing a gem it depends on? mysql2 is not part of the bundle. Add it to your Gemfile.
/mnt/d/DEV/plots2/config/environment.rb:5:in `<top (requi

[2021-08-30 19:15] Vishal01-git commented on #9899
Hii! I am looking to contribute to **FTO issues**.

[2021-08-30 19:31] Vishal01-git commented on #10106
Hey @Tlazypanda , I have opened a pull request with the updated _node_event.html.erb file.

[2021-08-31 04:57] Vishal01-git commented on #10104
Hey @prathamesh-borse , did you pulled a request?

[2021-08-31 06:18] Vishal01-git commented on #10105
Hey @Tlazypanda , I think this is still open and i want to work on this. Can i go ahead?

[2021-08-31 06:42] Vishal01-git opened #10117 "Issue with the Hyper-link in FTO template"
Here the hyper-link that is attached with **_here is a great tutorial_** is not available now.

<img width="624" alt="issue1" src="https://user-images.githubusercontent.com/52890952/131453044-2845c361-b75e-4b53-b2ed-a3907bc4550e.png">

**First the link is this--**

**Now it it this--**

Have a look into this @jywarren @jywarren @Tlazypanda

[2021-08-31 07:50] Manasa2850 opened #10118 "Advanced tagging menu not working"
### Please describe the problem (or idea)

The advanced tagging menu is not working as expected. Clicking on the menu items should add the respective tags to the research note but no tag is getting added.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/43354059/131464155-e9edec54-ed94-4e1a-9430-8b378237be8f.gif)

### Please show us where to look

Any research note.

### Browser,

[2021-08-31 12:30] Tlazypanda commented on #10106
Hey @Vishal01-git there is already an open pull request for this let me assign another first timers issue to you :v:

[2021-08-31 14:30] jywarren commented on #10045
@unnati914 I wanted to circle back and share that my intro to open source was using Wordpress -- actually I think I remember using WordPress 1.0??? 😱

I made WordPress sites and themes and then plugins... for years! before getting deeper into open source coding through Processing.org. For a long time I didn't feel like a programmer exactly, more like a designer who could program. But gradually i b

[2021-08-31 15:03] jywarren commented on #10118
Great catch! We should fix and add a system test. This code predates system tests so we couldn't write tests for JavaScript/Ruby integrations. But now we can!

[2021-08-31 15:03] jywarren commented on #10118
The code is in this file!

https://github.com/publiclab/plots2/blob/main/app/views/tag/_advanced_tagging.html.erb

[2021-08-31 15:17] jywarren opened #10120 "Non-image upload (PDF) to Google Cloud Storage not working (from wiki pages)"
Dragging in a PDF to this page: https://publiclab.org/wiki/edit/frac-sand-mining-pollution-incident-report-form-and-guide

correctly processed and then generated and inserted this markup:

[code]

That link redirects to:

https://storage.googleapis.com/publiclab-production/public/system/images/photos/000/044/764/large/via_main_menu_July_2021.pdf

However that URL shows:

[code]

Could we be seeing

[2021-08-31 15:23] Vishal01-git commented on #10106
Sure @Tlazypanda , if there is any FTO issues open , i'm ready to take that.

[2021-08-31 16:03] icarito commented on #10120
The PDF in question is uploaded to the `/original/` path, not `/large/` path!

[2021-08-31 16:11] jywarren commented on #10120
great. OK, so we need to change the display logic to return original if it doesn't match gif/png/jpg/jpeg. Thanks for catching that!!!

[2021-08-31 16:15] jywarren commented on #10120
This is probably due to https://github.com/publiclab/plots2/pull/9900

https://github.com/publiclab/plots2/blob/4ca8ad36ca1e8a23eeae18be5c03ab462474edaf/app/controllers/images_controller.rb#L7-L17

but we can modify the logic with `image.is_image?`

[2021-08-31 16:40] jywarren opened #10123 "Gradually increase default results limit for /map view"
In #10059, we made it possible to increase the results limit at https://publiclab.org/map using the parameter `limit`:

https://publiclab.org/map?limit=100

I just adjusted the default to 25. We'll ratchet it upwards gradually and take notes:

* [x] 25
* [ ] 50
* [ ] 100

The code is here:

https://github.com/publiclab/plots2/blob/38ab2988fbd3e63227d02bd5398d64cc957d2279/app/views/map/map.html.erb

[2021-08-31 16:50] #10031 closed

[2021-08-31 16:56] jywarren commented on #10038
The good news is that, apparently, our codecov tracking is overall working OK... see this recent one by Dependabot:

![image](https://user-images.githubusercontent.com/24359/131543570-09b1c57a-289f-403b-8d14-61d3b026eaed.png)

External contributor PRs similarly show ~84% coverage, so all good: https://github.com/publiclab/plots2/pull/10086

That was the issue we had been trying to fix before we go

[2021-08-31 16:59] jywarren commented on #10101
#10099 should have showed:

[code]

[2021-08-31 17:05] jywarren commented on #9987
Going through these pages now, and some seem resolved in production:

* [x] https://publiclab.org/questions/fongvania/07-29-2021/how-can-community-science-projects-go-about-seeking-funding
* [x] https://publiclab.org/notes/bhamster/08-06-2021/building-a-coqui-water-conductivity-sensor-and-analyzing-its-sound
* [x] on wikis: https://publiclab.org/wiki/soil-sampling
* [x] on profiles: https://public

[2021-08-31 17:05] #9987 closed

[2021-08-31 17:05] jywarren commented on #9987
I do see one overflow issue here but it's unrelated. Opening a separate issue!

![image](https://user-images.githubusercontent.com/24359/131545386-12878abc-c301-445a-8810-5decdd95831d.png)

[2021-08-31 17:08] jywarren opened #10124 "overflow issue on (?) help icon and long powertag names"
There's an overflow/overlap issue on the (?) help icon and long powertag names:

![image](https://user-images.githubusercontent.com/24359/131545386-12878abc-c301-445a-8810-5decdd95831d.png)

I'm not sure what to do about this visually! Can we force a wrap?

_Originally posted by @jywarren in https://github.com/publiclab/plots2/issues/9987#issuecomment-909421149_

[2021-08-31 17:09] jywarren commented on #10124
Yes, we should be able to. We can test this in the Chrome dev console too:

[code]

https://stackoverflow.com/questions/18891755/force-word-wrap-through-css

https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap

Test this out on this page!:

https://publiclab.org/notes/bhamster/08-06-2021/building-a-coqui-water-conductivity-sensor-and-analyzing-its-sound

[2021-08-31 17:23] #10120 closed

[2021-08-31 17:24] Manasa2850 commented on #10085
I had a wonderful time working with Public Lab! I really learnt a lot this summer, both in terms of coding as well as in terms of being a part of the community. My heartfelt thanks to @jywarren and all other mentors for helping me throughout. Looking forward to continue contributing and help others contribute as well! :smiley:

[2021-08-31 17:28] 17sushmita commented on #10123
Yes, I think we can try some more optimizations as I mentioned here https://github.com/publiclab/plots2/pull/10028#issuecomment-899899653. Also, looking into https://github.com/publiclab/plots2/issues/9946#issuecomment-898941171

[2021-08-31 17:34] Pandademic commented on #10085
Congrats to @TildaDares @Manasa2850 @17sushmita @daemon1024 @waridrox @imajit !

[2021-08-31 17:38] jywarren commented on #10101
The above could be seen as related to https://sentry.io/share/issue/dc7711b4722e4596a5869f8db286bfad/, but actually that is a distinct bug affecting just line 80 of `tag_controller.rb`.

[2021-08-31 17:48] jywarren commented on #9718
I'm so sorry to have missed this Q! No, only people who have push rights to the publiclab fork can push to unstable.

[2021-08-31 18:00] TildaDares commented on #10085
I'm beyond grateful to everyone at Public Lab for the opportunity to be your intern. Your constant feedback and guidance have helped me grow and learn so much for the past three months. I'd love to contribute more and help other contributors as well. Thank you!

[2021-08-31 18:20] Tlazypanda commented on #10043
Hey @jywarren  Just checked out this issue seems like it's not broken but maybe these questions don't have any images for them so it's showing this placeholder. For example - https://publiclab.org/questions?page=4 on navigating here the images take about 30 seconds but the ones with images load for example - https://publiclab.org/notes/iman/03-30-2021/why-the-color-of-infragram-picture-is-differen

[2021-08-31 18:37] Tlazypanda commented on #10085
Hey everyone! I am having such a blast reading all of your posts and all the skills both technical and non-technical you learnt in the process -
- @17sushmita loved how you highlighted with every paragraph the exact skills you learnt
- @waridrox loved how you kept going in the face of adversity and so many challenges
- @daemon1024 loved how you have highlighted collaboration and the breaking down

[2021-08-31 19:11] jywarren commented on #10012
According to this segment, if there are no contributors, we ALSO don't show followers:

https://github.com/publiclab/plots2/blob/f96f3ba275b84bf1c4229dcadc963c06de06c4d7/app/views/tag/_contributors.html.erb#L34-L68

Which we could fix. However, this is a really rare circumstance. Who would follow a tag if there is no content? It really only occurs in this situation with a spam tag whose content is

[2021-08-31 19:16] #9924 closed

[2021-08-31 19:16] jywarren commented on #9924
OK, i believe this was completed in https://github.com/publiclab/plots2/pull/10068 - that should go up on stable now!

[2021-08-31 19:35] jywarren commented on #6593
I think the only remaining things are:

1. check that creating new tags generates the new "card" type of display instead of the old "badge" type and that they appear in the correct area (powertag vs. not)
2. resolve #10124 overlap of ? icon with tag name
3. completely switch all badge type displays to card types

[2021-08-31 23:00] #10075 closed

[2021-09-01 00:13] aliciapaz commented on #10085
Hi everyone!!
I've been away from plots2 lately but I'm very happy to see such a successful end of summer internships 🎉 ❤️
Congratulations @TildaDares @waridrox @17sushmita @daemon1024 @imajit

Wishing you the best for your next challenges, journeys, kite flights!! 🐒 🪁🎈

[2021-09-01 05:25] Tlazypanda opened #10126 "Weekly Community Check-In #116 - Welcome Outreachy Winter Aspirants ❤️"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-09-01 05:27] Tlazypanda commented on #10085
New weekly check in open at #10126 leaving this open for an extra week to let folks chime in

[2021-09-01 05:28] Tlazypanda commented on #10126
@jywarren, @anirudhprabhakaran3, @TildaDares, @daemon1024, @om2137, @arnab-2001, @Quado1, @daksh10110, @dependabot[bot], @DinSanGun, @micahweston, @17sushmita, @imajit, @aummishra, @Manasa2850, @vacom13, @sorutifokkusu, @Ash-KODES, @luckych8080, @DalilaBA, @hrishikeshnikam2000, @noi5e, @atayl16, @roshni-patel, @saraswathy-krish, @adrnna, @Pandademic, @DmitriiOxen, @jayeritz

[2021-09-01 09:21] om2137 commented on #10126
hey, @Tlazypanda Thanks so much for making this check-in!!

I was exploring CP, development where I came to know about open source. I made my first contribution a few days ago. Last week I set up the project on my local machine, going through the codebase is a little overwhelming, but looking forward to learn and contribute.

[2021-09-01 09:29] 17sushmita commented on #10126
Hi @om2137, Welcome to Publiclab. You can comment here #9899 to get you name added in the list and you will be assigned a first timers issue when it comes.

[2021-09-01 09:40] om2137 commented on #9899
I also would like to contribute to FTO, could you add me to this list.

[2021-09-01 13:31] TemitopeAgbaje commented on #10102
Hello @Tlazypanda can i get a first timer issue

[2021-09-01 17:27] StephNathai commented on #9899
Hi! I'm interested in contributing to a FTO issue as well, thank you!

[2021-09-01 18:37] Ash-KODES commented on #9999
The concerned element has been given the position property as absolute, but still, even after giving it a z-index of '20000'(inside the chrome's developer tools), it is not coming above the below container. I am not coming up with any other ideas, if anyone is able to provide any solution, please help me out.

[2021-09-01 18:52] Ash-KODES commented on #9899
HI! I am looking forward to contribute to FTO
THANK YOU:))

[2021-09-01 21:08] jywarren commented on #10126
Hi @om2137 if it's not your first time, would you consider helping someone
else complete their own, who may be stuck or need encouragement? Or, would
you be interested in creating a first-timers-only issue yourself, for
someone else?

Thank you!!!!

On Wed, Sep 1, 2021 at 2:46 PM ASHUTOSH KUMAR CHOUDHARY <
***@***.***> wrote:

[2021-09-02 08:59] Ash-KODES commented on #10126
can anyone please guide me about the procedure for applying in outreachy winter intership ?
thankyou

[2021-09-02 09:01] DalilaBA commented on #10126
Hey @Tlazypanda , hi everyone, I'm an engenneer in computer science, I'm freshly new to contributing and github, I feal sometimes overwhalmed with all the fonctionalities and the workflow, but I'm doing my best to understand each step ✌️ , I'm also new with ruby on rails, I'm following an awsom course abt it, I've had some exp with PHP and Laravel.
I like the energy shared in this comunity, it act

[2021-09-02 09:05] DalilaBA commented on #10126
Hey @Tlazypanda , hi everyone, I'm an engineer in computer science, I'm freshly new to contributing and github, I feel sometimes overwhelmed with all the functionalities and the workflow, but I'm doing my best to understand each step ✌️ , I'm also new with ruby on rails, I'm following an awesome course abt it, I've had some exp with PHP and Laravel.
I like the energy shared in this community, it m

[2021-09-02 17:02] StephNathai commented on #10124
Hi, can I fix this?

[2021-09-02 20:11] #9988 closed

[2021-09-02 21:15] jywarren commented on #10124
We'd love your help, yes! Do you think you could try opening a pull request? We're happy to help, here, in the weekly check-in at #10126, or in the chatroom at https://gitter.im/publiclab/publiclab ! 🎉

[2021-09-02 21:37] StephNathai commented on #10124
@jywarren Yep I'll open one. Lemme figure out the best fix and then it just needs a quick review from my employer and I'll push up the PR here.

[2021-09-02 21:40] jywarren commented on #10124
awesome!

On Thu, Sep 2, 2021 at 5:37 PM Steph Nathai ***@***.***>
wrote:

[2021-09-02 21:58] jywarren commented on #10126
Hi all, for Outreachy applicants, we first like to get to know you a bit in the weekly check-ins, and to help you try a first timers only issue, from https://code.publiclab.org. We're really interested in helping folks make their first steps and get oriented, especially newcomers. Thanks for showing up and for your interest in our community and project!

[2021-09-02 21:59] jywarren commented on #10126
@DalilaBA feeling overwhelmed is *totally* understandable, and our codebase is a bit old and complex -- not a freshly written nice tidy thing! But we're here to help out. You don't need to understand the whole thing to make really helpful contributions. We strive to put as much context as you need into each well-prepared issue! Welcome!!

[2021-09-03 04:34] Ash-KODES commented on #10126
Yes sure:)

[2021-09-04 12:35] suryablaster commented on #10105
i will do it

[2021-09-04 16:35] DalilaBA commented on #10126
Hi everyone, I don't know where to reach out really for help, I've had this error while executing "passenger start", everything went well during the installation I think, so can anyone help me on this ?
![image](https://user-images.githubusercontent.com/10799976/132101844-63b8502f-7c96-4335-ae93-481fe48b717a.png)

[2021-09-04 18:46] jywarren commented on #10126
Hi! Oh I'm sorry it's giving you trouble! Is there logging output to the
passenger start command?

On Sat, Sep 4, 2021, 12:35 PM Dalila ***@***.***> wrote:

[2021-09-04 21:31] DalilaBA commented on #10126
Hi @jywarren, it's okey, Thos messeges was displayed in the bash, there was no logging output
![image](https://user-images.githubusercontent.com/10799976/132108509-7d55389a-355d-4ee3-9c2d-8985a5e41a71.png)

[2021-09-05 06:25] crossh2001 commented on #10053
What is the issue? Why are you trying to change the Title String to a Function Call?

[2021-09-05 12:12] jywarren commented on #10126
Could you try pressing the refresh button on the preview window? I wonder
if it just got stuck the very first time when passenger was taking a long
time to load.

On Sat, Sep 4, 2021, 5:32 PM Dalila ***@***.***> wrote:

[2021-09-05 15:25] DalilaBA commented on #10126
I did many times, but it is the same error

[2021-09-05 15:26] anirudhprabhakaran3 commented on #10126
I believe this should be moved to a separate issue, so that it doesn't clutter the weekly check-in!

[2021-09-05 17:01] jywarren opened #10134 "Gitpod startup issue - passenger taking too long?"
Thanks to @DalilaBA for finding this issue, let's figure it out!

![image](https://user-images.githubusercontent.com/10799976/132101844-63b8502f-7c96-4335-ae93-481fe48b717a.png)

_Originally posted by @DalilaBA in https://github.com/publiclab/plots2/issues/10126#issuecomment-913001871_

[2021-09-05 17:02] jywarren commented on #10126
Hi @anirudhprabhakaran3 i think opening a new issue is a good idea. But let's be sure people know that it's perfectly OK to ask for help here! I'm sorry i should have opened one earlier but had been replying from my phone while away from the computer.

Thanks for your patience @DalilaBA -- I've opened an issue at #10134 to dig into this! Sorry for the trouble!

[2021-09-05 17:06] jywarren commented on #10134
I had asked:

if it just got stuck the very first time when passenger was taking a long
time to load.

@DalilaBA commented 2 hours ago

Hi @DalilaBA i'm not sure what the issue is, and I'm sorry it's causing trouble. Have you tried closing GitPod and starting it up fresh? I just opened it and it seems to be working on a fresh open. I think i've noticed GitPod isn't completely consistent, i think i

[2021-09-05 17:09] jywarren commented on #10134
If you see it again, could you paste in here the contents of the `Detailed diagnostics` tab?
![132101844-63b8502f-7c96-4335-ae93-481fe48b717a](https://user-images.githubusercontent.com/24359/132135336-64d93349-d934-4afb-9b78-9feefd0c2938.png)

[2021-09-05 17:13] anirudhprabhakaran3 commented on #10126
Aah yes that is true! Everyone is welcome to ask questions,.of course! I was suggesting because the problem seemed to be a bit long, that's why😅

[2021-09-05 18:04] DalilaBA commented on #10134
Hi @jywarren thank you very much for your help, you don't have to be sorry, I'm happy to learn.
I don't really understand what you mean by refreshing the GitPod, I cloned and installed the project locally following the steps wrot in the README file.
and here is the detailed diagnostics :
![image](https://user-images.githubusercontent.com/10799976/132136910-4aa3c8fc-153a-4a86-bcfe-89aa541b8e2d.png)

[2021-09-05 19:39] jywarren commented on #9871
also linking to #10134

[2021-09-05 19:40] jywarren commented on #9871
Same issue as in https://github.com/publiclab/spectral-workbench/pull/717 !!

[2021-09-06 04:14] AkhilChoubey commented on #10106
I would also like to contribute to first-timers as I am new to the open source world !!

[2021-09-07 14:53] jywarren commented on #9502
Oof, talk about a long time, that's me now. But circling back now that our summer fellowships have wrapped up! I'll start with the .gitpod.yml correction which is easy. https://github.com/publiclab/plots2/pull/10137

[2021-09-07 14:56] jywarren commented on #9502
Yes I believe that's right, that's where I traced them too.

OK, so I'll fix the extra `g`s in various places, and then we'll move forward on removing the commands that just install extra JS and folders. I'll do one more review of the exact commands before doing so. That way we do this in discrete pieces. Thanks all!

[2021-09-07 14:59] jywarren commented on #9502
OK, removed from GitHub Actions too: https://github.com/publiclab/plots2/pull/10138

Same as where I removed from Gitpod config: #10137

[2021-09-07 15:42] jywarren commented on #9871
So I think possibly the solution is to update bundler in all our containers to match GitPod's version, so that we can just use the same version for all.

[2021-09-07 15:46] jywarren opened #10140 "Intermittent system test error on `.alert-success`"
We've had intermittent system test errors before, and it sometimes boils down to timing errors or order of execution errors. See #9662 #9247

We're now seeing this one:

[code]

It's on line 253 of post_test.rb:

https://github.com/publiclab/plots2/blob/d35d93520a8097ca70d6b1d446e6f942873d00e3/test/system/post_test.rb#L243-L256

Is this a standard way to wait? Why are we using `page.assert_selecto

[2021-09-07 15:49] jywarren commented on #10140
Yeah, they disappear after 7 seconds: https://github.com/publiclab/plots2/blob/d35d93520a8097ca70d6b1d446e6f942873d00e3/app/views/layouts/_alerts.html.erb#L34

[2021-09-07 15:49] jywarren commented on #10140
We could try wrapping the timeout in a conditional for `Rails.env == "test"`...

[2021-09-07 16:00] jywarren commented on #9502
OK, in #10137 i see this message in the output in GitPod (cc @noi5e):

[code]

We could decide to move fwd with removing that entire line, and see what it does in GitPod?

[2021-09-07 18:02] #10105 closed

[2021-09-07 21:55] noi5e commented on #10104
@prathamesh-borse Do you need any help with this? Please let me know! 😄 This issue is for first-timers, so we want to help you make a contribution here.

[2021-09-08 00:08] #10013 closed

[2021-09-08 00:14] #10053 closed

[2021-09-08 02:15] #10106 closed

[2021-09-08 02:20] noi5e commented on #10085
A belated congrats to all the interns this summer! @TildaDares @waridrox @17sushmita @daemon1024 @imajit. And thanks for making this check-in @Tlazypanda!

Closing this check-in now.

[2021-09-08 02:20] #10085 closed

[2021-09-08 02:25] noi5e commented on #9999
@Ash-KODES Thanks for researching this issue!

I guess my `z-index` idea didn't work out. Looks like the solution will require a lot more experimentation... I think you have the right idea playing with the CSS in Chrome DevTools, that's what I would do too.

Maybe adjust the height of the containing `section` element? Or maybe it's the `section` element that needs the `z-index` property changed? 🤷

[2021-09-08 03:15] noi5e opened #10141 "Weekly Community Check-In #117 - We Love 🌍"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-09-08 03:17] noi5e commented on #10126
Thanks all! Closing this and moving the discussion to #10141 for this week!

[2021-09-08 03:17] #10126 closed

[2021-09-08 03:22] noi5e commented on #10141
Here's a photo of a place on Earth I discovered last week! Montecito Hot Springs near Santa Barbara:
![1-hot-springs-canyon-montecito-santa-barbara](https://user-images.githubusercontent.com/4361605/132441248-d038a8ae-55c3-47d0-bd00-b1892e23beb4.jpg)

[2021-09-08 08:03] Vishal01-git commented on #10141
Thanks @noi5e , I'm always ready to contribute to open source , Please if you have any FTO issues assign me , i'm open to take that.

[2021-09-08 11:12] DalilaBA commented on #10134
Hey @noi5e can you please help me on this issue ??

[2021-09-08 13:56] ebarry commented on #10141
gorgeous place @noi5e ! I love hot springs.

[2021-09-08 14:38] ebarry commented on #10085
What a great summer of contributions! Wow, your work has made / is making a huge impact for the Public Lab community. I made a sum-up tweet -- any corrections or additions of twitter handles? https://twitter.com/PublicLab/status/1435613144269922317

[2021-09-08 16:05] Ash-KODES commented on #9999
ok I will try some more then...
and yaa I got to learn many things which i didnt knew:)
thank you!

[2021-09-08 16:36] Tlazypanda commented on #10141
Great check-in @noi5e Welcoming all Outreachy aspirants :heart: