[2019-08-16 14:54] jywarren opened #6142 "Sidebar buttons misplaced in question layout"
Hi, @CleverFool77 @gautamig54 -- noticed this unexpectedly went a bit odd:

![image](https://user-images.githubusercontent.com/24359/63176520-11adea00-c014-11e9-8a56-fa1e87c866ce.png)

https://publiclab.org/questions/rafabeur/08-16-2019/i-need

Would you mind taking a look? Also, I think it may be worthwhile to consider a cleanup of the questions template to bring it more inline with the note temp

[2019-08-16 15:31] jywarren commented on #6097
Oh hmm, how odd. What you can try is to do this locally and watch your
rails console output to see if the queries differ. Or you could trace
through the code to see how each is calculated?

On Fri, Aug 16, 2019 at 2:17 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-08-16 16:58] gauravano commented on #6122
Actually, test is already there but in #5028 test is also changed 😄. Raising PR

[2019-08-16 17:46] SidharthBansal commented on #6141
Hi, I am having trouble setting up an environment to test system tests. Can you please tell me a guide which you followed for writing them at plots2?
I read through official guidelines and many guidelines from google search but they are not working. It will be really convenient and fast if I will iterate over the same guide which @jywarren followed.

[2019-08-16 17:52] SidharthBansal commented on #6130
Pushing my limits is to catch up with as many GSoC projects as possible.
There is a lot of pending prs at PLs. Reviewing questions asked on the
issues/prs and help folks new to PL.
Thanks

On Thu, Aug 15, 2019 at 9:11 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-08-16 19:05] jywarren commented on #6141
I've actually not run them locally - I have relied on the Travis
environment to run them. I know that's a bit odd but it makes for a very
standardized test environment.

On Fri, Aug 16, 2019 at 1:46 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-08-17 03:37] CleverFool77 commented on #6097
I'll try this.
Cool.

[2019-08-17 05:36] gautamig54 commented on #6142
Hi @jywarren! I will look into this misplaced icons.
We can discuss about the related questions part here only. Can we make a separate page consisting all the related questions and drop a link to the same here on the sidebar.
Other suggestion is shifting the related questions section below. Like in wiki page :

![Screen Shot 2019-08-17 at 11 06 15 AM](https://user-images.githubusercontent.com/3532

[2019-08-17 08:13] CleverFool77 commented on #6142
Hi Jeff !!
While considering sidebar in notes and wikis, I guess I forgot considering it Questions page. I'll fix this bug.
Regrading refinement !! Can we have refinement of all pages like `notes` ,`wikis` and `Questions` too ? maybe we can have a draft design and slowly implement it step by step ?
As it can been seen, as now more and more pages are being redesigned. Some of the pages left which a

[2019-08-17 08:50] #5945 closed

[2019-08-17 12:48] CleverFool77 commented on #6097
There is another bug here !!
I have used the tags bu there isn't any note being shown in these topic cards !!

![Screenshot from 2019-08-17 18-16-24](https://user-images.githubusercontent.com/26685258/63211897-42c51200-c11b-11e9-8d17-0d05860cd329.png)

[2019-08-17 12:51] CleverFool77 commented on #6097
Hi @jywarren !!
We had discussed this earlier but Is it still ok to have this much repetition of the notes ?
Like as we can see in screenshot that one of the notes is being repeated a lot. And As I haven't used much tags, so repetition wasn't much compared to a condition when we will have lots of tags in one note.

![Screenshot from 2019-08-17 18-18-43](https://user-images.githubusercontent.com/26

[2019-08-17 13:05] CleverFool77 opened #6146 "Fix css syntax - !important"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-08-17 13:14] Anupam-dagar commented on #6055
@CleverFool77 I would like to take up the 6th part.

[2019-08-17 13:18] nadchif commented on #6146
Can I work on this one?

[2019-08-17 13:24] CleverFool77 commented on #6146
Hi @nadchif !!
Sure. You can go forward !!

[2019-08-17 13:25] CleverFool77 commented on #6055
Sure @Anupam-dagar.
You can go forward !!

[2019-08-17 13:38] NitinBhasneia commented on #6146
@CleverFool77 Can you please assign your next issue to me?

[2019-08-17 13:59] Avantikaa commented on #6096
Has someone started working on this? If no I can start

[2019-08-17 14:01] SidharthBansal commented on #6141
Oh. I thought you have set up the local environment for localhost:3000 using some gems. So, I was checking on your prs and trying to run them locally.
If they are not set, then let's try to set it up first locally so that everyone can run the tests locally. Are you in favour of it OR do you want that collaborators will run them with Travis. I personally prefer local because of time optimization. A

[2019-08-17 14:03] SidharthBansal commented on #5198
Hi, is anyone working on it?
If no, I can work on it.

[2019-08-17 14:05] SidharthBansal commented on #5891
This is EPIC
The profile revamp is awesome!!!
Well done!!! Checking this project. Thanks @CleverFool77

[2019-08-17 14:11] CleverFool77 commented on #6146
Sure @NitinBhasneia !!!

[2019-08-17 14:25] gauravano commented on #5198
Hey @SidharthBansal, you can work on it. Thank you!!

[2019-08-17 14:26] gauravano commented on #6096
Hi @Avantikaa, you can work on this one. Thank you!!

[2019-08-17 14:28] CleverFool77 commented on #6072
HI @gautamig54 Any updates on cards part ? So That I can do other parts..

[2019-08-17 14:42] NitinBhasneia commented on #6146
ok, then I'll be waiting then @CleverFool77

[2019-08-17 14:55] CleverFool77 commented on #6002
Hi @gautamig54 @jywarren I guess this issue has been fixed unintentionally in some PR. The issue is no longer reproducible.
Thanks !!!!

[2019-08-17 15:02] CleverFool77 commented on #6055
Hi @hedonhermdev Are you working on your assigned part ?

[2019-08-17 16:50] CleverFool77 commented on #5891
Hi Sidharth.
Thanks !!!
The work is on the way. We are solving some bugs and other stuff. And then soon it would be ready.
cc: gautami

[2019-08-18 09:51] gautamig54 commented on #6072
What cards are you referring to here?

[2019-08-18 09:58] CleverFool77 commented on #6072
Hi Gautami, you wrote cards in the above comments section. I was asking
about that. I'm myself not clear which part you talked about. So I
mentioned card here.

On Sun, 18 Aug 2019, 15:21 Gautami Gupta, <notifications@github.com> wrote:

[2019-08-18 10:00] gautamig54 commented on #6072
Oh. I meant the topic cards on the left side. Are we making the dashboard on the shadow page?

[2019-08-18 10:01] CleverFool77 commented on #6072
Hi Gautami. If you have any idea about maps? Then can you explain it a bit.

On Sun, 18 Aug 2019, 15:28 lekhi dugtal, <lekhidugtal@gmail.com> wrote:

[2019-08-18 10:03] CleverFool77 commented on #6072
No we will be building the dashboard page, like we did for profile. We'll
try to complete most of it and build it in one branch.
And later we'll fix small bugs and changes.
What do you say?

On Sun, 18 Aug 2019, 15:31 lekhi dugtal, <lekhidugtal@gmail.com> wrote:

[2019-08-18 10:04] gautamig54 commented on #6072
I guess we just have to integrate the map here. I has all the location of all the people pinned.
There was certain issue with the map due to which certain test cases were failing. I mentioned that to @gauravano in the open call as well.

[2019-08-18 10:08] gautamig54 commented on #6072
I am starting with the dashboard since all my other PRs are under review.

This is cool!

[2019-08-18 10:19] gautamig54 opened #6150 ""Share your location" doesn't seem to work on profile page."
The "add location" modal isn't opening when I click on "Share you location" on the profile page.

![Screen Shot 2019-08-18 at 3 48 32 PM](https://user-images.githubusercontent.com/35326753/63223210-c7716800-c1cf-11e9-9d04-f7af41b72c97.png)

[2019-08-18 10:20] gautamig54 commented on #6150
@CleverFool77 Can you generate this issue?

[2019-08-18 10:31] gautamig54 opened #6151 "Fix typo and remove the "new contributor" tag from the sidebar on profile page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-08-18 11:36] CleverFool77 commented on #6150
Hi @gautamig54 This one is working. I checked it on latest update !!
It's just bit slow, so you didn't get modal !!!
I'll be closing this.
Thanks !!

![Screenshot from 2019-08-18 17-04-54](https://user-images.githubusercontent.com/26685258/63223926-60a57c00-c1da-11e9-9a56-01436b1b539f.png)

[2019-08-18 11:36] #6150 closed

[2019-08-18 11:37] CleverFool77 commented on #6151
Hey @NitinBhasneia
You can look into this first timer issue.
Thanks !!!

[2019-08-18 18:42] namangupta01 opened #6152 "Notification when someone likes your note"
Currently, we are showing the notification to the users when they are mentioned in the comments we can extend this feature to receive a notification when any user likes any research note.

[2019-08-19 06:02] SidharthBansal commented on #5891
Oh great. Keep it up.
Great work so far

On Sat, Aug 17, 2019, 10:20 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-08-19 14:04] jywarren commented on #6152
This is great, thanks. Did you have an issue open already for notifications
on phones as well as desktop browsers? Thanks!

On Sun, Aug 18, 2019 at 2:43 PM Naman Gupta <notifications@github.com>
wrote:

[2019-08-19 14:29] jywarren commented on #6002
OK! Thanks!

[2019-08-19 14:29] #5891 closed

[2019-08-19 14:30] #6146 closed

[2019-08-19 14:32] #6142 closed

[2019-08-19 14:49] jywarren commented on #6142
Yes, i like gradually making these pages more consistent! There may be
reasons to have them not be identical to each other, but we can still clean
them up in the new style guide guidance.

As to separate page for the related questions, I guess I think interlinking
questions is especially important. Let's leave it for now, but maybe we
could brainstorm something - like what about a button that says

[2019-08-19 14:53] jywarren commented on #6097
Ah, so this might need the same kind of "tagCard(tagname, excludeNids)"
template helper as where we've discussed elsewhere, that includes some kind
of parameter of [1,2,3] nids to exclude from displaying, that would have
been displayed higher up?

On Sat, Aug 17, 2019 at 8:52 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-08-19 15:51] jywarren commented on #6002
Ah, reopening as I was able to reproduce when not logged in! In Chrome.

![image](https://user-images.githubusercontent.com/24359/63279706-7b79fe00-c277-11e9-89fe-4d87f8921054.png)

[2019-08-19 15:55] namangupta01 commented on #6152
Yes, I do have one issue open for notification on phone. I researched it and found out we can't use action cable to make a notification on the phone. Android doesn't allow it. More specifically, someone can create a notification when there is some gesture movement on that app or another way is using FCM or service worker. But I guess this needs some more research. What do you think?

[2019-08-19 16:28] namangupta01 commented on #6085
I checked the logs and yayy, I found this:
![Screen Shot 2019-08-19 at 9 49 08 PM](https://user-images.githubusercontent.com/20709985/63282081-aee67800-c2cb-11e9-8c24-83b4d377e7bf.png)
We are able to get the node id and the only thing that I need is an email of user loggedin via twitter . But I am not getting any email for my twitter username -- I already have logged in via twitter. Its finding in

[2019-08-19 16:34] namangupta01 commented on #6085
Also, can you delete the logs file or copy it somewhere else /public/cron_log1.log file on publiclab. Because this file is big and I need to download it very ofter after doing various reply by tweet.
The size is getting big is because of we are printing this data https://github.com/publiclab/plots2/blob/e22463991a21faf55e498b087715153f61704b1a/app/models/comment.rb#L509.

[2019-08-19 16:51] SidharthBansal commented on #5198
oh great
on it!

[2019-08-19 17:46] namangupta01 commented on #5745
Hey @gautamig54 Are you working on it? Do you need some help here?

[2019-08-19 17:48] namangupta01 commented on #5969
Closing this since this is done in #5985.

[2019-08-19 17:48] #5969 closed

[2019-08-19 18:01] jywarren commented on #6152
Hm, but https://developer.mozilla.org/en-US/docs/Web/API/notification lists compatibility with phone browsers... is it a push notifications triggering issue? Do we need a PWA to do this fully? Can you collect some info on this in the issue and link to it from here? thank you Naman!!!

[2019-08-19 18:14] namangupta01 commented on #6152
Notification does support in phone. I was saying it's triggering method using socket doesn't work. Why it doesn't work :
In android phone Notification API is only allowed in response to a user gesture. You can see here: https://stackoverflow.com/a/54225858

[2019-08-19 18:15] namangupta01 commented on #6152
But to work this out I found a simple solution using a serviceworker here https://stackoverflow.com/a/31787926. I am trying this solution currently.

[2019-08-19 18:46] NitinBhasneia commented on #6151
ok I will do it thnx @CleverFool77

[2019-08-19 19:04] jywarren opened #6155 "New front page design!"
After a LOT of design work, we've settled on a new design for our front page! It incorporates a lot from [our new Style Guide](https://publiclab.org/notes/warren/05-07-2019/introducing-a-draft-style-guide-for-public-lab), but also with a lot of input from @ebarry @steviepubliclab on our communities team at the Public Lab non-profit.

Here's the mockup (from our [shared mockups doc](https://docs.go

[2019-08-19 19:28] jywarren commented on #6152
aha, ok, makes sense! Thank you!

On Mon, Aug 19, 2019 at 2:14 PM Naman Gupta <notifications@github.com>
wrote:

[2019-08-19 19:43] NitinBhasneia commented on #6151
@CleverFool77 I pushed a commit is anything more I have to do after that because it is telling "Merging Blocked"

[2019-08-19 20:29] #6152 closed

[2019-08-19 20:53] ebarry commented on #6097
Back to the multi-subscribe dropdown currently offered on a specific tag page, i agree with your idea that perhaps it should just be subscribe/unsubscribe as shown on the top-level /tags page.

[2019-08-19 20:57] jywarren commented on #6085
Hi, @namangupta01 what query exactly should I run or what data should I look for? `Comment. find_email()` for your twitter handle?

[2019-08-19 20:59] jywarren commented on #6085
If it's helpful, I've just logged in via twitter! https://publiclab.org/profile/warren/

[2019-08-19 21:01] namangupta01 commented on #6085
Yes! And also can you also try to run with your username as well?

[2019-08-19 21:03] #6020 closed

[2019-08-19 21:07] namangupta01 commented on #6085
Can you run it with two of my usernames?
1. itsmenamangupta
2. NamanGu78470041

[2019-08-19 21:17] jywarren commented on #6085
`Comment.find_email('itsmenamangupta')` returned `nil`, and `Comment.find_email('NamanGu78470041')` returned "naman18996@gmail.com"

[2019-08-19 21:22] namangupta01 commented on #6085
Yes, this is the problem. This is what I was thinking.
The problem is the people who logged in before we started storing for users data in UserTag if not present there.

[2019-08-19 21:26] namangupta01 opened #6160 "Fix duplicate browser notification"

[2019-08-19 21:29] jywarren commented on #6085
Ah, ok. Do we need to re-prompt them somehow? Or could we run a query to
generate a list of people for whom this is the case?

On Mon, Aug 19, 2019 at 5:22 PM Naman Gupta <notifications@github.com>
wrote:

[2019-08-19 21:31] namangupta01 commented on #6085
I will look to the flow of login via twitter and will add condition there
to save the data in UserTag whenever any user login again via twitter.

On Tue, Aug 20, 2019 at 2:59 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-08-19 21:35] namangupta01 commented on #6085
And also can you delete the file /cron_log1.log? Its is getting very big?

[2019-08-19 21:36] jywarren commented on #6085
Ah that's great. If we could generate the list we could also ask people to
log in once again.

On Mon, Aug 19, 2019 at 5:32 PM Naman Gupta <notifications@github.com>
wrote:

[2019-08-19 21:36] namangupta01 commented on #6085
Yup we can do!

[2019-08-19 21:37] jywarren commented on #6085
Ah yes, will delete it now.

On Mon, Aug 19, 2019 at 5:37 PM Naman Gupta <notifications@github.com>
wrote:

[2019-08-19 21:49] namangupta01 commented on #6085
Let me know when its deleted. I will check with the new tweet made by
naman18996 account.

On Tue, Aug 20, 2019 at 3:07 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-08-19 21:59] #6160 closed

[2019-08-19 22:14] jywarren commented on #6085
Its deleted!

On Mon, Aug 19, 2019, 5:49 PM Naman Gupta <notifications@github.com> wrote:

[2019-08-19 22:25] jywarren commented on #6097
I was also interested in changing the 2-page icon to a `...` -- i'm sorry if i missed the discussion on that one!

![image](https://user-images.githubusercontent.com/24359/63303744-b64b5880-c2ae-11e9-8ef5-9482f6f2a35d.png)

That's a pretty simple one if folks are OK with it?

[2019-08-19 22:49] ebarry commented on #6097
sure!
--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Mon, Aug 19, 2019 at 6:25 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-08-20 05:58] namangupta01 commented on #6085
Yay, It's working!!! 🎉 🎉
![Screen Shot 2019-08-20 at 11 23 16 AM](https://user-images.githubusercontent.com/20709985/63321022-15f04500-c33d-11e9-970a-e8a7660394ee.png)
Link here: https://publiclab.org/notes/mimiss/08-05-2019/trawling-with-babylegs-in-new-orleans-city-park
This was done by reply by tweet.

LOL, this was working all this time the only thing is that we were not doing reply by a tweet

[2019-08-20 09:43] Manvi07 commented on #5227
Hi @gauravano ! Is this issue resolved? If not, I would like to work upon it.

[2019-08-20 10:53] CleverFool77 commented on #6097
Sure @jywarren @ebarry I'll fix these bugs !!
Thanks !!

[2019-08-20 11:09] CleverFool77 commented on #6155
Sure @jywarren This looks great. We can go for it I guess !! Should I break it up in parts ? This design is for home page right ?

[2019-08-20 11:34] simonastefan opened #6163 "Newly-created user tag cannot be immediately deleted (page reload required)"
Found while investigating #5431. Reproducible before the design changes to the user tags section.
Deletion URL is wrong for newly-created tags.

<img src="https://user-images.githubusercontent.com/14910846/63343185-07faee00-c356-11e9-96e7-0068104c6bba.gif" width="500" height="300">

[2019-08-20 13:59] jywarren commented on #6054
I looked in the chrome dev console and found that this 'box' class div is potentially the issue?

![image](https://user-images.githubusercontent.com/24359/63353744-387c6100-c331-11e9-8126-a18d5e76389f.png)

[2019-08-20 15:57] jywarren commented on #6155
That's right! And yes, we can break it up. Actually now that I think about
it, the list of topics was intended to go into the footer, actually! So we
could just add that portion to the footer feature that's already on the
site. What do you think?

On Tue, Aug 20, 2019 at 7:09 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-08-20 16:25] jywarren commented on #6085
Oh wow! That's great! So, we still have to be sure it uses a proper /n/____
shortcode, not a t.co one, right?

Can we add a "this comment was added by tweet" and corresponding icon to
this template?

https://github.com/publiclab/plots2/blob/3a0e9744d626ebfa7646ab2b406b8244172b6468/app/views/notes/_comment.html.erb#L52-L54

This is amazing - it's working in production?

On Tue, Aug 20, 2019 at 1:58

[2019-08-20 16:29] namangupta01 commented on #6085
Yes! This is working in production.

[2019-08-20 16:30] namangupta01 commented on #6085
Here's the tweet where I replied https://twitter.com/PublicLab/status/1159583447926677505

[2019-08-20 16:33] namangupta01 commented on #6085
In this tweet, it uses /n/___. But I am not sure about t.co but we can also test this out as well. And sure I will add the icon.

[2019-08-20 16:53] jywarren commented on #6085
Great! I tweeted here: https://twitter.com/jywarren/status/1163852083747012609 but maybe mine is an old account?

[2019-08-20 17:09] gauravano commented on #6151
Hi @gautamig54 @CleverFool77, are you sure, we want to remove the `new contributor` label?

[2019-08-20 17:13] gautamig54 commented on #6151
Yes, we still have the new contributor label with the name under the
profile page. Here I am removing it from the above of # of content section.
It is in the design as well.

On Tue, Aug 20, 2019, 22:39 Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-08-20 17:14] gautamig54 commented on #6155
Sure. Should I make a new issue for it adding in the footer?

On Tue, Aug 20, 2019, 21:27 Jeffrey Warren <notifications@github.com> wrote:

[2019-08-20 17:16] gauravano commented on #6151
Ok, I can see that on website, it's appearing just as a link. So, ideally, we want to show it as a label like -- https://github.com/publiclab/plots2/pull/2740#issuecomment-391578310

[2019-08-20 17:25] jywarren commented on #6155
Sure, and copy in the screenshot? I think it'll be pretty simple HTML and
we can share the HTML in the issue, then paste it into the live site
feature. How does that sound?

On Tue, Aug 20, 2019 at 1:15 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-08-20 17:28] namangupta01 commented on #6085
If Comment.find_email is able to find email from your user name then you can.

[2019-08-20 17:33] #5431 closed

[2019-08-20 17:34] jywarren commented on #6085
Ah, it did find an email but it wasn't the email I am signed up on PL for,
is that OK?

Also, how often does it check? Is it possible i need to wait longer?

On Tue, Aug 20, 2019 at 1:28 PM Naman Gupta <notifications@github.com>
wrote:

[2019-08-20 18:07] namangupta01 commented on #6085
This is weird. If you have logged in via twitter then your twitter email and email on PublicLab is supposed to be same? Isn't it?

[2019-08-20 18:14] namangupta01 commented on #6085
I got this here in the logs:
![Screen Shot 2019-08-20 at 11 43 51 PM](https://user-images.githubusercontent.com/20709985/63372783-78306080-c3a4-11e9-957f-9b1799966e1b.png)

[2019-08-20 18:17] gautamig54 commented on #6155
Sounds great!

On Tue, Aug 20, 2019, 22:55 Jeffrey Warren <notifications@github.com> wrote:

[2019-08-20 18:26] namangupta01 commented on #6085
Can you tell me how different email id case?

[2019-08-20 18:28] gauravano opened #6165 "Remove geokit-rails gem from the project"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-08-20 18:29] namangupta01 commented on #6085
Oh, I got it.

[2019-08-20 18:35] namangupta01 commented on #6085
Here's the fix jeff https://github.com/publiclab/plots2/pull/6166

[2019-08-20 18:52] NitinBhasneia commented on #6151
Anything more to do here @CleverFool77 ??

[2019-08-20 19:25] namangupta01 opened #6167 "Fix different email issue in reply by tweet"
As we discussed in https://github.com/publiclab/plots2/issues/6085, there is an issue with reply by tweet which is currently when a user does login via twitter from a different email and linked it with the public lab id with a different email. We are not able to find the linked email because it only searches for the twitter email in `UserTag data` and here our algo fails. So we need to fix this ou

[2019-08-20 19:57] #6122 closed

[2019-08-20 20:35] #6167 closed

[2019-08-20 21:09] jywarren commented on #6141
Agreed! We don't have to make a system test for every single scenario, partially because it'd be time-intensive for running them. But let's start with some that'll be particularly helpful.

And yeah, plots2 first -- although MapKnitter now has system tests too. Again, they are not the most efficient tests, so let's reserve them for critical functions.

We can provide more support for people writin

[2019-08-20 21:26] Akter8 commented on #6165
I want to do this. Thank you.

[2019-08-20 21:52] Akter8 commented on #6165
@gauravano could you please tell me why I am getting an error? Thank you.

[2019-08-21 09:31] gautamig54 opened #6169 "Add the list of topics to the footer"
![Screen Shot 2019-08-21 at 3 00 00 PM](https://user-images.githubusercontent.com/35326753/63420506-6f7f6f00-c424-11e9-89b5-d7164706bea3.png)

This list of topics will be added to the footer. It will be added as a feature.

[2019-08-21 09:32] gautamig54 commented on #6169
Hi @jywarren! Can you give me a list of topics which needs to added here. I will share with you a github gist for the feature. Thanks!

[2019-08-21 14:15] jywarren commented on #6169
Yes - here it is - thanks!!

Climate
stormwater
land-change
particulate-matter
oil-and-gas

Organizing
advocacy
community-organizing
legal
public-comment host-an-event

Industry
land-use
land-change
particulate-matter
oil-and-gas
transportation
mining
agriculture
waste
noise
chemicals
pipeline-monitoring
cafo

Water
drinking-water
fracking
microplastics
lead
mining
agriculture
oil-and-gas
filters

[2019-08-21 15:03] ebarry commented on #5055
It seems like this functionality is now included in profile pages? Perhaps we can close this issue?

[2019-08-21 15:08] ebarry commented on #6001
Hi all!
Love the new profile page. I have two questions, 1) does anyone know why i (admin) would have experienced trouble adding the tag `new-york-city` to someone's profile page? , 2) why topics might be appearing multiple times on a single profile page?

Here's a gif for #1)
![adding-tags](https://user-images.githubusercontent.com/161439/63444135-04be3b80-c404-11e9-8265-2112484b651b.gif)

Here's

[2019-08-21 15:39] sentry-io[bot] opened #6171 "Simple Data Grapher error ActiveRecord::ValueTooLong: Mysql2"
Got this error in Sentry -- looks like reasonably easy to diagnose?

Sentry Issue: [PLOTS2-DG](https://sentry.io/organizations/publiclab/issues/1174855841/?referrer=github_integration)

[code]

[2019-08-21 15:39] #5733 closed

[2019-08-21 15:40] jywarren commented on #6171
Hi @IshaGupta18 would you mind taking a look at this? Thanks!

[2019-08-21 15:56] IshaGupta18 commented on #6171
Yes, @jywarren I am trying to diagnose this one! Happy to see it got reported!

[2019-08-21 16:27] IshaGupta18 commented on #6171
Okay so we can change the column type to `text` or `longtext` instead of `string` which is restricted to char length. So should I create a PR for this?

[2019-08-21 16:59] seabl commented on #6165
AFAIK there's no need to edit _**Gemfile.lock**_ manually. **_Bundler_** will do that automatically.

[2019-08-21 18:32] jywarren commented on #6171
Yes, that makes sense! Thank you!

On Wed, Aug 21, 2019 at 12:27 PM Isha Gupta <notifications@github.com>
wrote:

[2019-08-21 18:36] IshaGupta18 commented on #6171
Okay, cool, let me create a PR, and try it out, if it doesn't work, let's try something else, I read about some `strict mode` in mysql!

[2019-08-21 18:39] jywarren commented on #5055
Yes, thank you!

[2019-08-21 18:39] #5055 closed

[2019-08-21 18:55] gauravano commented on #6171
prefer to change the data type as changing mysql mode will not resolve the issue as every user has different mysql mode.

[2019-08-21 18:56] gauravano commented on #6171
change it to text for now with a migration. We can change it to long text if required in future.

[2019-08-21 19:04] IshaGupta18 commented on #6171
Sure, lemme create a PR! Thank you!

On Thu, Aug 22, 2019, 12:26 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-08-21 19:33] ebarry opened #6173 "Idea: powertag pages for activity (`activity:foo`) can use the "value" of their key:value pair"
**Please describe the desired behavior.**

This is a feature idea for convention for powertag pages for `Activity:foo` to

1. have their lead cards default to the "value" of their key:value pair
2. have their lead images be pulled from the "value" wiki page of their key:value pair

For instance, view https://publiclab.org/tag/activity:microscope to see that the lead card could have a link back to

[2019-08-21 19:35] IshaGupta18 commented on #6171
@jywarren @gauravano can you check #6174 out?

[2019-08-21 19:43] gauravano opened #6175 "Signup modal not showing up"
Sign up modal not showing up at any place

@IshaGupta18 confirmed the existence of issue

[2019-08-21 19:43] gauravano commented on #6175
@jywarren

[2019-08-21 19:47] jywarren commented on #6175
Is this on the live site? Uh oh... any JS errors?

On Wed, Aug 21, 2019 at 3:43 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-08-21 19:48] jywarren commented on #6175
Confirmed, and no JS errors I can see. Can we check blame views on relevant
templates?

On Wed, Aug 21, 2019 at 3:47 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-08-21 19:49] gauravano commented on #6175
yes, no JS error. yes, checking blame and recent commits

[2019-08-21 20:02] ebarry opened #6176 "Idea: accounts that have never had a post approved should not be able to add tags to locked wiki pages"
**Please describe the desired behavior.**

I am interested in reducing spam on the website, in this case, "tag spam" created by users who have never had an approved post.

I would like to hear pros and cons on the following question:
Should locked wiki pages be able to be tagged by anyone?

**Additional context (optional)**

As one of the website moderators, i was uncomfortable to see that the mai

[2019-08-21 20:07] jywarren commented on #6175
Hmm. `$('#signupContainer').show()` doesn't work. I can't see how it's related to https://github.com/publiclab/plots2/pull/6149/files based on the JS logic but is it really resolved if you go before that?

Can you try reverting just those changes without rolling back commits?

[2019-08-21 20:07] gauravano commented on #6175
done https://github.com/publiclab/plots2/pull/6177

[2019-08-21 20:09] jywarren commented on #6175
No wait, $('#signupContainer').show() does work... odd.

[2019-08-21 20:09] jywarren commented on #6175
And locally it does work?

[2019-08-21 20:12] jywarren commented on #6175
https://github.com/publiclab/plots2/blob/master/app/views/user_sessions/_form.html.erb and https://github.com/publiclab/plots2/blob/master/app/views/users/_create_form.html.erb haven't been touched in months...

[2019-08-21 20:13] jywarren commented on #6175
Its an id collision:

![image](https://user-images.githubusercontent.com/24359/63465153-9fcc0b00-c42e-11e9-8c6a-9a9529e2dd36.png)

[2019-08-21 20:14] jywarren commented on #6175
OK, i can change that to a unique ID

[2019-08-21 20:17] jywarren commented on #6175
Fix in #6178 -- very close to yours Gaurav but preserves the functionality of hte PR in question (#6149).

[2019-08-21 20:19] gauravano commented on #6175
@jywarren so when we do something like `.container:not(#loginSignupContainer)` --  we are defining CSS for all containers except loginSignupContainer. Right?

[2019-08-21 20:19] jywarren commented on #6175
yes!

I added 2 screenshot tests too.

[2019-08-21 20:26] gauravano commented on #6175
Hmm, don't you think we should avoid such practices and write CSS for each component separately. A new user which will create any new modal will have to write it's own CSS to override this CSS defined in _header

[2019-08-21 20:28] jywarren commented on #6173
We currently have this card pull from a page that's redirected to, which is a similar situation. So, we can look at these lines of code:

https://github.com/publiclab/plots2/blob/8715803d0336c45e854bf0d12375547a3f458624/app/controllers/tag_controller.rb#L76-L82

We can add a condition which detects if it's a `key:value` powertag, like:

[code]

...I think? This might take some reworking, but it's

[2019-08-21 20:30] jywarren commented on #6175
I'm open to other solutions here after the quick fix. I think i agree that
we want to /include/ a specific id for the header page style, instead of
/exclude/. Does your PR do that?

On Wed, Aug 21, 2019 at 4:27 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-08-21 20:35] gauravano commented on #6175
no. that require defining .container in more general css file and checking each modal and changing CSS of those which are distorted so let's tackle that in another issue.

[2019-08-21 20:46] jywarren opened #6179 "Intermittent system test failure"
This has been stopping system tests from time to time:

Just saw it on https://github.com/publiclab/plots2/pull/6178 and https://github.com/publiclab/plots2/pull/6161#issuecomment-522783079

![image](https://user-images.githubusercontent.com/24359/63467275-1539da80-c433-11e9-9631-df6a9d4cf7ed.png)

[2019-08-21 21:14] jywarren commented on #6179
@gauravano mentioned:

Thanks. But what is causing it?

[2019-08-21 21:16] #6175 closed

[2019-08-21 21:53] jywarren commented on #6133
Hi @namangupta01 - can you give us an update here? Thank you!

[2019-08-21 22:25] jywarren commented on #5716
Working on this in #6180!

[2019-08-21 23:20] bendjukastein commented on #6165
Let me know if there's anything i can do to help! First timer here :)

[2019-08-21 23:27] bendjukastein commented on #4963
First Timer checking in! I would love to help out wherever I can, I have some experience in python, C and Java, and can help with improving documentation, attempt to fix a bug, or help out however else I can! :)

[2019-08-21 23:29] seabl commented on #6165
@bendjukastein please also feel free to look around and claim any of the first-timer-only issues. Thanks!

[2019-08-22 06:43] CleverFool77 commented on #6001
Hi @ebarry
For First one, This is not the issue of Profile page. I guess there is some bug in tagging part !!!
For Second one, I'm not sure why there is repetition but I'll look into this issue.

[2019-08-22 08:41] ananyaarun commented on #4963
Hi @bendjukastein We would love to have your help !! You can check out https://github.com/publiclab/leaflet-environmental-layers/issues/238
It is a documentation based First timer issue :smiley:

[2019-08-22 15:02] CleverFool77 opened #6188 "Add condition of no subscriptions and show an info"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-08-22 15:03] CleverFool77 commented on #6188
Do check the `/subscriptions` and put the screenshot in the pr with subscriptions and without any subscriptions(subscriptions count is zero).

[2019-08-22 16:23] NitinBhasneia commented on #6188
can I do this @CleverFool77 ?

[2019-08-22 16:25] jywarren opened #6190 "Trigger email notifications for posts/comments by users you "follow""
https://github.com/publiclab/plots2/pull/2909 set up a working system of following other users, which can be done from a post "other tools" menu or from a profile page:

![image](https://user-images.githubusercontent.com/24359/63531136-dc9f0d00-c4d5-11e9-9eaa-1d95aa001bdf.png)

However, when that user makes a post or leaves a comment, it doesn't yet trigger an email notification.

There are two pl

[2019-08-22 16:35] CleverFool77 commented on #6188
Sure nitin. Go forward.

On Thu, 22 Aug 2019, 21:53 Nitin Bhasneria, <notifications@github.com>
wrote:

[2019-08-22 16:42] jywarren commented on #6085
Hi @namangupta01 do you think you could remove the comments used in reply by tweet now?

[2019-08-22 17:22] jywarren commented on #6179
[code]

`current_user` is nil on this line:

https://github.com/publiclab/plots2/blob/3483bece230b65f6cd83f23ffb765946929bcd73/app/views/users/settings.html.erb#L10

But only sometimes. It's in this system test:

https://github.com/publiclab/plots2/blob/3483bece230b65f6cd83f23ffb765946929bcd73/test/system/settings_test.rb#L3-L17

I can't see why! It's almost identical to:

https://github.com/publi

[2019-08-22 17:50] gauravano commented on #5227
Hi @Manvi07, this issue is somewhat complete. It works great locally but view needs to be checked on `unstable`.

[2019-08-22 18:10] NitinBhasneia commented on #6188
@CleverFool77  Do we have to run and then take a screenshot or only oof a code??

[2019-08-22 20:03] Fsalker commented on #6165
Is there actually a link to the tutorial? I can't see any on my browser. I was actually curious to check it out (:

[2019-08-22 20:10] seabl commented on #6165
@Fsalker You'll find the full text of the above [here](https://github.com/publiclab/plots2/blob/master/.github/ISSUE_TEMPLATE/--first-timers-only.md) including the link to the tutorial.

[2019-08-22 20:12] gauravano commented on #6165
Also, I have updated the issue. Apologies for copying wrong markdown earlier for issue creation

[2019-08-22 20:12] #5716 closed

[2019-08-22 20:13] seabl commented on #6165
@gauravano There are 2 templates for FTO issues in the `.github` folder. Which one do we use?

[2019-08-22 20:45] Fsalker commented on #6165
Thanks!

[2019-08-22 20:51] #6171 closed

[2019-08-23 04:46] CleverFool77 commented on #6188
Hi nitin, we need screenshot of the new change or the update you have done.

On Thu, Aug 22, 2019 at 11:40 PM Nitin Bhasneria <notifications@github.com>
wrote:

[2019-08-23 05:23] priyanka1204 commented on #6188
can i work on this issue?

[2019-08-23 13:53] CleverFool77 commented on #6188
Hey @priyanka1204 nitin is working on this currently i guess. Are you @NitinBhasneia ?
If yes, do write it down in comment or else priyanka may start with this.

[2019-08-23 14:05] NitinBhasneia commented on #6188
Ye, I am working!!

[2019-08-23 14:19] CleverFool77 commented on #6188
Great !!

[2019-08-23 14:37] NitinBhasneia commented on #6188
@CleverFool77 Here are some errors in starting! Can you guide me to start and to install all dependencies?? Please

[2019-08-23 14:57] #5930 closed

[2019-08-23 15:33] CleverFool77 commented on #6188
HI @NitinBhasneia What are the errors ? Did you follow the steps in readme ?

[2019-08-23 15:35] CleverFool77 commented on #6188
Check this part -
### Standard Installation

1. Fork our repo from https://github.com/publiclab/plots2.
2. In the console, download a copy of your forked repo with `git clone https://github.com/your_username/plots2.git` where `your_username` is your GitHub username.
3. Enter the new **plots2** directory with `cd plots2`.
4. Steps to install gems:
    * You may need to first run `bundle install` if

[2019-08-23 16:05] NitinBhasneia commented on #6188
Your Ruby version is 2.6.3, but your Gemfile specified 2.4.4
this error is coming in the process!!

[2019-08-23 18:52] namangupta01 commented on #6085
Sure!

[2019-08-23 20:06] jywarren opened #6199 "Create helper to generate tag cards"
The tag cards on https://publiclab.org/tags can often show the same post multiple times per page. Let's do this:

1. the tag cards could be generated by a view helper called `createTagCard()`
2. the view helper could accept as a parameter an `createTagCard(exclude)` array of `nids` that we should exclude
3. the view helper could return a list of `nids` that it will be displaying, which can be adde

[2019-08-23 20:08] jywarren commented on #6199
Here's the issue, by the way - duplicate appearance of nodes on my profile page demonstrates it!

![image](https://user-images.githubusercontent.com/24359/63620750-29f7a900-c5c0-11e9-8310-2574240411d1.png)

[2019-08-23 20:08] jywarren commented on #6027
Hi! Any updates on this? Thank you!!!

[2019-08-23 22:00] #6029 closed

[2019-08-23 22:32] #5227 closed

[2019-08-24 07:16] NitinBhasneia commented on #6188
@CleverFool77 Ok  I have done all the things but when running localhost it's showing some error.
"@' is not allowed as an instance variable name"

[2019-08-24 07:26] gautamig54 opened #6202 "Fix the continue button on the questions shadow page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-08-24 07:35] CleverFool77 commented on #6188
Can you show me the screenshot. What's you ruby version ? IS there any mismatch ?

[2019-08-24 07:45] CleverFool77 commented on #6202
Hi @gautamig54 This won't effect in mobile view right ?

[2019-08-24 08:01] malikmukhtar commented on #6202
hello @gautamig54. am new here, can I work on this?

[2019-08-24 08:50] NitinBhasneia commented on #6188
No, I have corrected version issue?
Just see this
![Screenshot from 2019-08-24 14-19-29](https://user-images.githubusercontent.com/44112080/63634895-3c361d80-c67a-11e9-9c8e-f0b94a978b1a.png)

[2019-08-24 08:52] CleverFool77 commented on #6188
Hi nitin. Start the server once again. It will be solved after reloading.

[2019-08-24 08:55] gautamig54 commented on #6202
Hi @CleverFool77! This is working fine with mobile view as well .

[2019-08-24 10:05] NitinBhasneia commented on #6188
Yeh, I started the server again but the same thing is stuck!!

[2019-08-24 10:07] NitinBhasneia commented on #6188
sorry, but can you just check this!
![Screenshot from 2019-08-24 15-36-34](https://user-images.githubusercontent.com/44112080/63635866-16fadc80-c685-11e9-8326-67eb9d3f21a2.png)

[2019-08-24 12:01] CleverFool77 commented on #6188
As per the latest update , This thing shouldn't be there :thinking:

[2019-08-24 12:02] CleverFool77 commented on #6199
Ohh Yes, It would be better. Besides we are using tag cards everywhere. This would decrease our load somehow.

[2019-08-24 12:06] gautamig54 commented on #6202
Great @malikmukhtar !!

[2019-08-24 12:08] gautamig54 commented on #6199
Yes, This seems like a good solution. And with the shifting of website structure to being it topic oriented, this will prove to be a great and help reduce redundancy.

[2019-08-24 14:39] NitinBhasneia commented on #6188
ok I will pull once more than I will try thanks

[2019-08-24 18:46] gautamig54 commented on #6169
Here is the gist for the topics in the footer https://gist.github.com/gautamig54/c6a1a56510d62c13b03243b2ef2c7caf

Screenshot :

![Screen Shot 2019-08-25 at 12 16 08 AM](https://user-images.githubusercontent.com/35326753/63641518-92807c00-c6cd-11e9-9e9d-735574c55773.png)

[2019-08-24 20:32] gauravano commented on #6165
There's one in .github -- https://github.com/publiclab/plots2/blob/master/.github/first-timers-issue-template.md which we use, another file is .yml file.

There's a directory by name ISSUE_TEMPLATE which also holds first-timer issue template, that is for GitHub, so that Github can provide option when user hit new issue button

[2019-08-24 22:19] seabl commented on #6165
Thanks for clarifying this.

[2019-08-25 17:33] gauravano opened #6205 "Weekly community Check-In #33 - Summer of Code Wrap-Up 💼"
Hi everyone 👋 !

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2019-08-25 17:34] gauravano commented on #6205
@milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/me

[2019-08-25 17:34] gauravano commented on #6205
@newbazz @aSquare14 @vaarigupta @alonpeer @aashna27 @harshithpabbati @jesus-montano @cryptoclidus @mohamed-elalem @konolga @gowtham5699

[2019-08-25 17:35] gauravano commented on #6130
New check-in at https://github.com/publiclab/plots2/issues/6205. Thank you!!

[2019-08-25 17:35] #6130 closed

[2019-08-25 18:07] gauravano opened #6206 "Create "first-timers-only" issues for newcomers 👋"
(This issue is in continuation of https://github.com/publiclab/plots2/issues/4963)

Hi everyone!

We, at Public Lab, are known for welcoming new contributors into the Open Source world but a number of times, newcomers were not able to find `first-timers-only` issues to start their journey or face troubles making their first contribution with us.

Reasons being:
1. Lack of `first-timers-only` issue

[2019-08-25 18:10] gauravano commented on #4963
Hey everyone, thank you so much to all the contributors who created new FTO issues, and also to new comers who contributed to the different projects. We are grateful for all of your efforts. As this thread has grown large, so creating a new issue to maintain list at https://github.com/publiclab/plots2/issues/6206. If anyone of you are still looking for your first issue/challenge to work on then fe

[2019-08-25 18:10] #4963 closed

[2019-08-25 18:23] gauravano commented on #6205
@edwd42 @seabl @simonastefan @Anupam-dagar

[2019-08-25 18:29] Anupam-dagar commented on #6205
Hi core team at Publiclab. I would like to contribute here to code as well as by reviewing the PR's. I already have couple of PR's merged.
@gauravano I would like to have a small discussion regarding https://github.com/publiclab/plots2/issues/6126

[2019-08-25 18:39] gauravano commented on #6205
You are very welcome @Anupam-dagar. Sure, let's have a discussion at #6126. If you want to have a call, feel free to ping me. Thanks!

[2019-08-25 18:58] NitinBhasneia commented on #6188
Again the
![Screenshot from 2019-08-26 00-27-32](https://user-images.githubusercontent.com/44112080/63654490-7269bf00-c798-11e9-8090-803dca5f4908.png)
 other error is coming

[2019-08-26 09:52] Anupam-dagar commented on #6188
@NitinBhasneia the error is related to a file not existing. In this case `bootstrap`, I think you forgot to run `yarn install` to install the libraries. Try running `yarn install` and then starting the server. The issue should get fixed.

[2019-08-26 12:44] CleverFool77 commented on #6155
Hi @jywarren How are we supposed to do from third to fifth sections ? Are they default data  to be written in code ?
And If no one took the first section, then I would like to start off with it.
Thanks !!

[2019-08-26 12:50] CleverFool77 commented on #6205
Hi @gauravano @jywarren !!

Regarding the project work of me and @gautamig54 , Should both of us write one post ? As we usually divided each and every sections into further parts ? Because the work was for same section but different parts. So description would be similar.

Or should we write different ones mentioning work done ?

Also we do have one project link below showing all the issues and PR

[2019-08-26 12:53] rexagod commented on #6205
Hey all! Here's my Final Work Product: https://publiclab.org/notes/rexagod/08-25-2019/google-summer-of-code-2019-public-lab-final-work-product-pranshu-srivastava

***

[2019-08-26 14:34] gautamig54 commented on #6155
I think it might be added as a feature. Hi @CleverFool77! I am half way there in the first part.

[2019-08-26 15:06] NitinBhasneia commented on #6188
Could not start the Nginx engine:
nginx: [emerg] bind() to 0.0.0.0:3000 failed (98: Address already in use)
nginx: [emerg] bind() to 0.0.0.0:3000 failed (98: Address already in use)
nginx: [emerg] bind() to 0.0.0.0:3000 failed (98: Address already in use)
nginx: [emerg] bind() to 0.0.0.0:3000 failed (98: Address already in use)
nginx: [emerg] bind() to 0.0.0.0:3000 failed (98: Address already in u

[2019-08-26 15:32] niravasher commented on #6205
Congratulations to all GSoC'ers for wrapping up their projects. I am sure all of you have worked very hard for completing their proposals on time. A big shout out to everyone from my side. Also amazing job by all the mentors. Hearty congratulations once again

[2019-08-26 15:44] Anupam-dagar commented on #6188
the port is already in use. Kill the process using that port or just do a system restart.

[2019-08-26 16:13] cesswairimu commented on #6205
Congrats to the Outreachy and GSoC interns :tada: :tada: :tada: :balloon:  you all did a great job. I was always looking forward to Tuesdays so I can hear all the awesome stuff happening in your different projects :smile:.
Great week ahead all :v:

[2019-08-26 16:20] ViditChitkara commented on #6205
hi everyone, I've written GSoC wrap-up post [here](https://publiclab.org/notes/vidit/08-26-2019/gsoc-2019-wrapup). And congratulations to all the summer of code and outreachy interns. 😄 🎉 🎉 🎈 🎈

[2019-08-26 16:44] jywarren commented on #6199
Awesome!

On Sat, Aug 24, 2019 at 8:03 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-08-26 16:54] divyabaid16 commented on #6205
Hello everyone!
Congratulations to everyone for being such a great team.
Please find my final GSoC report: https://publiclab.org/notes/divyabaid16/08-24-2019/gsoc-2019-mapknitter-image-management-divya-baid?_=1566650343
Thank you :tada: :tada:

[2019-08-26 17:18] CleverFool77 commented on #6155
Hi @gautamig54 If you are halfway on first part , then should i go for second parts onward ?

[2019-08-26 17:20] gautamig54 commented on #6155
Sure @CleverFool77 !

[2019-08-26 17:21] CleverFool77 commented on #6155
Hi @jywarren I wanted to ask that what do we have add in `feature`, `feature2`  till `feature4` of second section ? For now its just a default icon and default data for template in draft design.

[2019-08-26 17:21] CoderJolly commented on #6205
Congratulations to all GSoC'ers and Outreachy interns for wrapping up their projects. 😄 🎉 🎉 🎈 🎈A round of applause to everyone for reaching this far and a big thank you to all the moderators. @jywarren @gauravano @SidharthBansal

[2019-08-26 17:24] CleverFool77 commented on #6205
We'll write separate posts I guess ? What do you say @gautamig54 . The sections will be similar but the parts mentioned would be different. By this, It would help us in having better explanation and detailed experience that how we tackled that part.

[2019-08-26 17:25] gautamig54 commented on #6205
Sounds cool! :D

[2019-08-26 19:40] jywarren opened #6209 "Add "related topics" to search pages"
![image](https://user-images.githubusercontent.com/24359/63717303-e72f0e80-c815-11e9-9abd-4fd7a2579000.png)

Our mockup above shows a list of related topics being listed at the top of all searches.

Our new search doesn't have this (try https://publiclab.org/search/forest), but it could.

![image](https://user-images.githubusercontent.com/24359/63717330-f3b36700-c815-11e9-9578-7b7b971a31a8.png)

M

[2019-08-26 19:49] namangupta01 opened #6211 "Editor not showing up while editing notes"
When I clicked on one of my notes to edit it, it opens the edit page but it doesn't show editor as shown in the screenshot.

![Screen Shot 2019-08-26 at 1 01 43 AM](https://user-images.githubusercontent.com/20709985/63718657-ad3b2800-c868-11e9-89f8-a45cadeef118.png)

[2019-08-26 20:58] ebarry commented on #5708
AMAZING!!!!!!!! The new Search Bar is working great and it's so fun to use!
--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Mon, Aug 26, 2019 at 4:29 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-08-26 21:22] jywarren commented on #6211
Oh goodness, that's not good. Can you show any errors from the javascript
console?

On Mon, Aug 26, 2019 at 3:50 PM Naman Gupta <notifications@github.com>
wrote:

[2019-08-27 00:58] Rishabh570 commented on #6205
Hi all,
My work product is available [here](https://publiclab.org/notes/icode365/08-25-2019/community-toolbox-work-product).
Congratulations to everyone :tada: :smile:

[2019-08-27 02:45] #6209 closed, assigned to nobody

[2019-08-27 14:22] SKashyapD commented on #4660
@skilfullycurled @jywarren what are the other small projects we can start to grow the community around data science.

thanks!

[2019-08-27 14:25] CleverFool77 commented on #6097
Hi @jywarren Regarding the 2 page icon to `...`. What's the position of `...` icon ? Is it a same position of 2-page icon? is it besides the title of notes as per the draft design ?

![63303744-b64b5880-c2ae-11e9-8ef5-9482f6f2a35d](https://user-images.githubusercontent.com/26685258/63779149-b1685380-c903-11e9-8faf-1a8b2042b722.png)

![Screenshot from 2019-08-27 19-52-54](https://user-images.github

[2019-08-27 14:27] jywarren commented on #6097
Hm, that's a good point. Shall we try to combine the two into a single ...
menu in the sidebar, alongside the other circle buttons?

On Tue, Aug 27, 2019 at 10:26 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-08-27 14:48] CleverFool77 commented on #6097
Hi @jywarren
We can combine it but I'm not sure how it would look all-together. As both of them have different information.
* one of them shows print option
* And another shows the views, comments etc.

I'm not sure how we gonna Combine these two - ??
![Screenshot from 2019-08-27 20-17-16](https://user-images.githubusercontent.com/26685258/63781697-bf1fd800-c907-11e9-8ce1-4c702bde1b91.png)
![Scree

[2019-08-27 14:48] CleverFool77 commented on #6097
cc: @gautamig54 What's your views regarding this.

[2019-08-27 14:50] CleverFool77 commented on #6097
Or should we change the icons ? Let one them have `...` and have a different one for second one ?? Maybe we can have a `print icon` https://fontawesome.com/v4.7.0/icon/print for 2-page icon ? And for the info regarding the notes like views,comments. We have `...` icon.

[2019-08-27 14:52] jywarren commented on #6097
How about:

* we compact the barnstar item to 1 line if possible
* we remove the header section of "More tools" etc
* we have a horizontal divider so the views, revisions, talk, can all go at
the top
* some, like comments, permalink, and views, could be made into simply
icons, like comment-bubble, "chain link" icon, and "eye" icons, on a single
line, to save space? Also Delete could be a trash can

[2019-08-27 14:57] CleverFool77 commented on #6097
Ohkk !! This seems fine. And So to put barn-stars in one line; We can have a button and we can have dropdown along with it for various kinds of barnstars.
We all just this much portion in button and dropdown -
![Screenshot from 2019-08-27 20-26-34](https://user-images.githubusercontent.com/26685258/63782437-05296b80-c909-11e9-88f1-500729dee716.png)

And rest would would be -
 information like view

[2019-08-27 14:58] CleverFool77 commented on #6097
What about the position of button ? Its looks fine and cool below notes title .. is it ?

[2019-08-27 14:59] CleverFool77 commented on #6097
I'll take this issue up and resolve this,
Thanks !!

[2019-08-27 16:12] jywarren commented on #6097
I guess I imagine it may be more naturally placed next to the other circle
buttons.

Just watch out that we should try to have this reflected on the
notes/questions pages, but the wiki page too!

On Tue, Aug 27, 2019 at 11:00 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-08-27 16:18] budema6 commented on #4660
I am a new bee into the ML area..
Was going thru the problem statement as it was interesting.
Thanks for posting in details for better understanding.
Thanks @skilfullycurled @jywarren @SKashyapD @Zengirl2

[2019-08-27 17:55] CleverFool77 commented on #6097
Sure. I'll see it all pages including notes,wikis, questions etc.
Thanks !!

On Tue, Aug 27, 2019 at 9:42 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-08-28 12:52] simonastefan commented on #6097
Hi, I think I found an issue related to the new UI changes. On the Profile page, a new tag is not longer added to the list of user tags but it shows at page reload.

I looked into it a bit to fix it but now I am not sure how. It seems that the JS code relies on the "tags" id and the same id was also used to the most common tags section.

[2019-08-28 13:05] CleverFool77 commented on #6097
Ohh !!! So Renaming tags id would do ?? I'll check into this.

On Wed, Aug 28, 2019 at 6:22 PM Simona Stefan <notifications@github.com>
wrote:

[2019-08-28 13:08] Anupam-dagar commented on #6097
Hi, I would like to take up renaming of the tags id.

[2019-08-28 13:33] CleverFool77 commented on #6097
Hi @Anupam-dagar Sure. And one more thing. There would be uses of tags id in js too, you need to keep that in mind too.
Thanks !!!

[2019-08-28 19:33] seabl commented on #6096
@jywarren What do you think should be the criteria for deciding if someone's a new contributor?

[2019-08-28 20:10] ebarry opened #6218 "On Profile pages, have the profile picture and bio info stay on top when screen width decreases"
**Please describe the desired behavior.**

I would like to see the profile picture and bio info stay on top when screen width decreases. @CleverFool77 I would like your opinion on this observation and this idea, i feel it is a breakout from https://github.com/publiclab/plots2/issues/6097

**Current state**

Currently, when the screen width narrows, the profile pic is pushed quite far down the page

[2019-08-28 20:28] ebarry opened #6219 "Investigate why duplicate topic boxes are appearing on some profile pages"
### Please describe the problem

Hello! I'd like to break out a small issue from https://github.com/publiclab/plots2/issues/6097 for @CleverFool77 to consider.

I am noticing that some profile pages have the same topic boxes appearing more than once.

I most frequently see this on new contributor profile pages (that are often in fact spammers but that shouldn't matter), such as this one, where mul

[2019-08-28 20:34] ebarry opened #6220 "DISCUSSION: topic boxes on profile pages via automatic subscriptions upon signup?"
Hello!!! 🌳🌳🌳🌳🌳🌳🌳🌳

I would like to open a discussion with an observation that i had after reviewing dozens of new profiles pages registered on PublicLab.org as part of my activities to moderate first-time-poster content. This is an adjacent issue to https://github.com/publiclab/plots2/issues/6219 about the duplicate topic boxes.

On the profile page of someone who has contributed only once, i woul

[2019-08-28 20:45] jywarren commented on #6219
@cleverfool77 mentioned that this code is being driven here:
https://github.com/publiclab/plots2/blob/d4d69ab4144d1457749ff215c53b63e167cc7142/app/views/tag/_profileCard.html.erb#L3

In theory, any use of `user.tags` shouldn't return duplicates. So we could
try to solve this upstream in user.rb under `def tags` -- adding a
`.distinct` or a `.uniq` to ensure distinct tag results:

Weird, it already

[2019-08-28 20:54] jywarren commented on #6096
That's a great question for @ebarry! We currently have a
"user.is_new_contributor?" method for users, here:

https://github.com/publiclab/plots2/blob/d4d69ab4144d1457749ff215c53b63e167cc7142/app/models/user.rb#L69-L75

That defines a newcomer as having only one node authored, and having it
been authored less than one month ago (that is, the create_at date should
be GREATER or 'later on' than the d

[2019-08-28 20:58] jywarren commented on #6220
Hi, actually the auto-subscriptions haven't been implemented yet, and what
you are seeing on new profiles is the result of some very old code, that
fills in the following tags if you have no tags on any posts (and/or no
posts):

    tagnames += ['balloon-mapping', 'spectrometer', 'near-infrared-camera',
'thermal-photography', 'newsletter'] if tagnames.empty? && defaults

https://github.com/publicl

[2019-08-28 21:20] jywarren commented on #6096
No, actually that's the 1-month part -- it's only for 1 month following
their post, so that should be OK.

What i think could be useful is to define a few milestones and build out
different "states" for each. But for the purposes of this issue, we can
just use this user.is_new_contributor? function to toggle the message.
Let's open another if we want to do an issue about "brainstorming different
n

[2019-08-28 21:20] jywarren commented on #6220
Can we think of any reason we'd want to substitute other "backup" tags for
any purpose? If not, we can simply remove that line and this should resolve
itself. Thanks!

On Wed, Aug 28, 2019 at 5:11 PM Liz Barry <notifications@github.com> wrote:

[2019-08-28 21:21] ebarry commented on #6096
sound good!
--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Wed, Aug 28, 2019 at 5:20 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-08-28 21:32] ebarry commented on #6220
If the backup tags do not equal a subscription, then i can't think of any reason right now.
I suppose without them, profile pages might look blank, but i think that's preferable. We could just have a message saying "please scroll down to the footer to see some topics you could subscribe to" or something like that

[2019-08-28 21:53] jywarren commented on #6220
Well, wait, the profile is not showing subscribed-to topics, but topics
within which the author has posted. So if the author hasn't posted anything
that has been tagged, we could show text like:

This person has not posted under any _topics_ (linking to /tags).

We should consider a way to view any untagged posts they may have. I'm not
sure about this, but we could consider something like a /notes

[2019-08-28 23:01] seabl commented on #6096
@jywarren As this is a first-timers-only issue, maybe it'll help to include a hint at where in the comment form the change should occur.

[2019-08-29 16:24] metonymic-smokey commented on #4993
@gauravano is this issue still open? Would be willing to try and work on it!

Thanks!

[2019-08-29 17:21] ebarry commented on #6220
So perhaps the proposal here is to
- [ ] remove the very old code, that fills in the following tags if you have no tags on any posts (and/or no posts): tagnames += ['balloon-mapping', 'spectrometer', 'near-infrared-camera',
'thermal-photography', 'newsletter'] if tagnames.empty? && defaults https://github.com/publiclab/plots2/blob/d4d69ab4144d1457749ff215c53b63e167cc7142/app/models/user.rb#L157
-

[2019-08-29 17:23] ebarry commented on #6173
Thanks to anyone who might be able to reformat this as a first-timers-only issue 💚

[2019-08-29 17:31] ebarry commented on #6097
Hi @CleverFool77 !
Very much enjoying all the new UI features 🤗

I'm wondering if it is the goal to eventually have the list of contributions by type that's shown on profile pages be **linked** to the actual content? For instance, shown in this screenshot, the grey text is not clickable, meaning that to the best of my current understanding, there's no way to see what someone has contributed from t

[2019-08-29 17:44] CleverFool77 commented on #6097
Hi @ebarry  i intentionally added asked as per the style guide. Regarding
clickable thing. It's not visible, like hover or other feature. But While
changing the Ui, I didn't remove the link in them. So we do reach on
different pages after clicking on it. Notes, questions, activity posted and
attempted are working.
Wikis don't work because we usually don't have another page for list of
Wikis which

[2019-08-29 20:17] Gagan6730 opened #6222 "Popular tags"
## When we click "more" to see more popular tags, the "more" button stays as it is. It should change to "less" and probably appear at the end of all the popular tags.

See: https://publiclab.org/tags#
<img width="598" alt="Screenshot 2019-08-30 at 1 46 45 AM" src="https://user-images.githubusercontent.com/23430169/63973263-09e84e00-cac8-11e9-8735-3a66a865d814.png">

[2019-08-29 22:31] ebarry commented on #5719
What's yet to be done on this issue?

[2019-08-29 23:56] lokcito commented on #6222
I've tried to review that in repository but that content is recorded in database and is shown by helper: 'feature'. Or how can we modify this, where is that content located in code of project?

![code](https://i.imgur.com/cdzX2MZ.png)

any idea to solve that?

[2019-08-30 05:55] Gagan6730 commented on #6222
Can you state the file in which you found this? @lokcito
Thanks

[2019-08-30 06:38] gautamig54 commented on #6097
Hi @CleverFool77! I notice some bug here on the tags page.
Also, here teh subscribe and the learn more button doesn't work.

![Screen Shot 2019-08-30 at 12 06 08 PM](https://user-images.githubusercontent.com/35326753/63998370-93c30600-cb1e-11e9-9168-9d84573742ee.png)

I see its working fine for other tags like air-quality :

![Screen Shot 2019-08-30 at 12 07 17 PM](https://user-images.githubuserco

[2019-08-30 06:48] gautamig54 commented on #6218
Sure @ebarry! This sounds systematic.

[2019-08-30 06:57] CleverFool77 commented on #6218
Ohkk Cool. This would look better. We did something similar in tags page
when we wanted map to be above in smaller screens as its much more
important. I'll fix the order the columns in small screens and let the
second column be first and above the first one in small screen and this
would be fixed.
Ill open a fix for this by today evening.
Thanks !!
cc: @ebarry

On Fri, Aug 30, 2019 at 12:19 PM Gau

[2019-08-30 06:58] CleverFool77 commented on #6218
Correction : It was people section page where we did something similar.
Thanks !!

On Fri, Aug 30, 2019 at 12:27 PM lekhi dugtal <lekhidugtal@gmail.com> wrote:

[2019-08-30 07:05] CleverFool77 commented on #6097
Hi @gautamig54 The bug is not in `subscribe` button rather its the distortion because of huge content for that particular tag. If you would have noticed than you must have seen that we are able to subscribe other tags.

And I've recently updated the subscribed button work. As earlier, we are just able to subscribe to `related-tags` but not that actual tag. So It will be updated soon when it get pu

[2019-08-30 07:08] gautamig54 commented on #6097
That content is limited to 2 lines as you can see in air-quality tag.

On Fri, Aug 30, 2019, 12:35 Lekhika Dugtal <notifications@github.com> wrote:

[2019-08-30 07:12] CleverFool77 commented on #6097
ohk Cool. So bug is somewhere else. But not in button I guess. Is there any other pages which you have seen with same bug ? of not able to subscribe ?

[2019-08-30 07:53] gautamig54 commented on #6155
Hi @jywarren @CleverFool77 Are we making the whole of front page as a feature?

[2019-08-30 08:44] CleverFool77 commented on #6155
It is indeed a feature I guess. 🤔 Right

On Fri, 30 Aug 2019, 13:23 Gautami Gupta, <notifications@github.com> wrote:

[2019-08-30 11:37] gautamig54 commented on #6155
We were suppose to make a shadow page right?
Should I add the first portion as a shadow page and open a PR?

On Fri, Aug 30, 2019, 14:14 Lekhika Dugtal <notifications@github.com> wrote:

[2019-08-30 12:05] CleverFool77 commented on #6155
Hi @gautamig54 This is the feature I guess. So we have to share it in gist
like you did it in footer.
Thanks !!

On Fri, Aug 30, 2019 at 5:07 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-08-30 12:08] CleverFool77 commented on #6155
Hi @jywarren Should I just use some default icons then ?

[2019-08-30 12:13] CleverFool77 commented on #6188
Hi @NitinBhasneia Is your bug resolved ?

[2019-08-30 12:13] Anupam-dagar commented on #6126
@gauravano for the spam moderatoin, In the code, there are redirects being used after approval or marking as spam. As per the issue, there shouldn't be any redirects. Using ajax calls I can achieve the intended behaviour but do we need to keep the redirect behaviour? Also if we do remove the redirects, then we need to send some response for ajax call success. I have been doing this till now by use

[2019-08-30 12:14] CleverFool77 commented on #6188
I'll close this issue as the PR for this has been merged.
We can continue the the proble regarding installatioon here or you can solve it with the help of community members in here -.https://gitter.im/publiclab/publiclab
Thanks !!

[2019-08-30 12:14] #6188 closed

[2019-08-30 12:16] gautamig54 commented on #6155
Cool. I'll do that!!

On Fri, Aug 30, 2019, 17:35 Lekhika Dugtal <notifications@github.com> wrote:

[2019-08-30 12:17] Anupam-dagar commented on #6211
@namangupta01 Can you mention steps to reproduce?
I am not able to reproduce the mentioned issue.

[2019-08-30 13:19] ebarry commented on #6218
awesome! thanks for your brainpower on this!

[2019-08-30 14:51] CleverFool77 commented on #6218
Hi @ebarry Just fixed the issue mentioned above.
Thanks !!

[2019-08-30 15:05] ebarry commented on #6218
wow awesome!!!!! I'm really looking forward to seeing it!!!!!
thank you so much
--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Fri, Aug 30, 2019 at 10:51 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-08-30 16:04] CleverFool77 commented on #6218
This is the fix for above https://github.com/publiclab/plots2/pull/6224
Thanks !!

[2019-08-30 16:50] jywarren commented on #6222
This is mentioned in the doc/DATA_MODEL.md file, good find! It is based on
static HTML, so if you view the source of the page on the live site, you
can see it. I might recommend that we simply hide the "more" link instead
of change it, which could be less code. I think it might be like
`$(this).hide()` do to so?

If you want to submit new code for this, please send a GIF of it working
and include

[2019-08-30 16:52] jywarren commented on #6155
So sorry! The "Community Projects" section is not a feature. But the rest is! Thank you!!!

[2019-08-30 16:52] jywarren commented on #6155
For icons, yes, sure! We will find appropriate ones in nounproject.org at a later time. Thank you!

[2019-08-30 16:52] #6218 closed

[2019-08-30 16:56] jywarren commented on #6097
Hm, is it limited by # of newlines, or # of characters? Could this just be
a really really long paragraph?

On Fri, Aug 30, 2019 at 3:12 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-08-30 17:05] jywarren commented on #4993
Yes it is! Also, the styling of the display of reactions is a little bit
irregular now, as compared to GitHub's. We'd appreciate any help with the
styling as well!

On Thu, Aug 29, 2019 at 12:24 PM Aditi Ahuja <notifications@github.com>
wrote:

[2019-08-30 17:16] jywarren commented on #6220
Yes, this sounds right!

On Thu, Aug 29, 2019 at 1:21 PM Liz Barry <notifications@github.com> wrote:

[2019-08-30 19:19] jywarren opened #6225 "Reduce Travis runtime with caching"
Let's see if we can reproduce what Alax did here!

https://github.com/publiclab/mapknitter/pull/794

**Before caching:**
![image](https://user-images.githubusercontent.com/19597045/60455123-05a8cd00-9c0c-11e9-9e9b-4263f541c078.png)

**After caching:**
![image](https://user-images.githubusercontent.com/19597045/60455136-0ccfdb00-9c0c-11e9-9e25-9a961970b783.png)

[2019-08-30 19:20] jywarren commented on #6225
😄 cc @alaxalves

[2019-08-30 21:09] jywarren opened #6226 "Browser notifications not working"
Hi @namangupta01 ! I'm trying to test this out but am seeing an error similar to https://github.com/publiclab/plots2/issues/5980 on production:

[code]

The line is:
[code]

Can you see what's up here? Thank you!

[2019-08-30 21:09] jywarren commented on #6226
Could it be related to https://github.com/publiclab/plots2/pull/6158/ somehow?

[2019-08-30 21:17] seabl commented on #6222
@Gagan6730 see file `app/helpers/application_helper.rb`, starting line 47

[2019-08-31 09:54] SidharthBansal commented on #6205
Congrats for wrapping up SoC so well this summer. This Gsoc was the Gsoc
ever at PL. Similarly Outreachy.
Best of luck for results.
Don't forget to submit final evals in official websites

On Tue, Aug 27, 2019, 6:28 AM Rishabh Rawat <notifications@github.com>
wrote:

[2019-08-31 12:00] namangupta01 commented on #6226
Hi @jywarren, This is not related to #6158. I guess you are trying on production and it is related to https://github.com/publiclab/plots2/issues/6138. This is the Nginx configuration error. We already got this error when we were using `unstable` and `stable` while developing this feature. I guess correcting the Nginx conf should resolve this problem.
Thanks

[2019-08-31 12:22] gauravano commented on #6205
**Announcement regarding Summer of Code presentations:**

Hi everyone, we will be having SoC presentation call on September 3, 2019 at 9:15 PM IST(11:45 AM EST, 3:45 PM UTC)

**Date and Time:** https://everytimezone.com/s/96b47522
**Call Notes:** http://publiclab.org/opencall
**Call Link:** https://zoom.us/u/4PA9bWsb

All the Public Lab staff, Summer of Code(GSoC and Outreachy) mentors and student

[2019-08-31 14:44] gauravano commented on #6126
If we implement it using AJAX, then no need to redirect, as we can just modify the view. In case, where the view changes would be more, we can think of keeping redirect. We can show the success and failure message using the JS only i.e., the JS.erb file using which we will change the view, we can also trigger notification from there, like noty. What do you think?

[2019-08-31 14:56] Gagan6730 commented on #6222
Hey @jywarren
I am a bit confused. I read about features and know that they are static HTML and could be used as they are. So, can we edit any feature through the code base or it is just something admin could do through the site??
Thanks

[2019-08-31 15:27] CleverFool77 commented on #6072
Hi @gautamig54 is there any update over the page? Can I have bit idea of what part you are covering? So that I can work on other parts?

[2019-08-31 16:45] CleverFool77 commented on #6155
Cool. I'll share the gist for this.

On Fri, Aug 30, 2019 at 10:22 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-08-31 16:46] CleverFool77 commented on #6097
Hi @gautamig54 As jeff asked, did you add limit by newline ?

On Fri, Aug 30, 2019 at 10:26 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-08-31 19:03] gauravano commented on #6096
Hey @seabl, this is a `fto-candidate` issue, where we give user a bit of hint to code solution. So, for this one, here's the line which need to be changed - https://github.com/publiclab/plots2/blob/master/app/views/notes/_comments.html.erb#L18

 Thanks!

[2019-08-31 19:08] gauravano commented on #6096
@jywarren should we modify the comment placeholder body or what if a user visits a new contributor's post? Or, anything else?

[2019-08-31 20:53] gautamig54 commented on #6155
I have implemented the first part. The screenshot is as follows :

![Screen Shot 2019-09-01 at 2 17 08 AM](https://user-images.githubusercontent.com/35326753/64069048-3aaebb80-cc5f-11e9-8fce-dad840c1f4cd.png)

Link to the gist :https://gist.github.com/gautamig54/fea9094b40c72ab16a805d17a15d50e6

[2019-08-31 20:56] gautamig54 commented on #6155
Hi @jywarren! What projects are to be shown in community projects? Are we not adding it as a feature?

[2019-08-31 22:40] gautamig54 commented on #6097
Yes. I have limited the content by the number of lines.

[2019-09-01 05:15] IshaGupta18 commented on #6205
Hey everyone! I have written my blogpost [here](https://publiclab.org/notes/IshaGupta18/08-26-2019/google-summer-of-code-2019-final-work-product-isha-gupta). Do take a look if you can! Congratulations to everyone for having an amazing summer!

[2019-09-01 05:33] IshaGupta18 opened #6228 "Adding Simple-Data-Grapher button in tabs and Per-User-Data button on profile page"
Now that Simple-Data-Grapher is integrated in plots2, we need to find an appropriate place to display the feature for use.

Maybe we can put it here, under "Post your work" in the "Get Involved" tab
or we can put it under the "Share your work" button on the right side?
![image](https://user-images.githubusercontent.com/40794215/64072143-46be6b80-cca7-11e9-842e-b865ec76bcb5.png)

About the per-user

[2019-09-01 14:20] gautamig54 commented on #6228
Hi @IshaGupta18! Great work with the integration.
Regarding placing it on the dashboard, we have to wait for @jywarren because in the new design of dashboard, we are getting rid of the share your work dropdown. Refer #6072
We can place it the main user dropdown on the navbar. On the profile page, we can add it as one of the options on the toggle ellipsis on the sidebar.

[2019-09-01 14:23] IshaGupta18 commented on #6228
Sounds good, but toggle ellipsis might hide it, where else do you think it
will look good on the profile page?

On Sun, Sep 1, 2019, 7:50 PM Gautami Gupta <notifications@github.com> wrote:

[2019-09-01 17:30] SidharthBansal opened #6230 "Mails from same research note should pile up in the inbox under same thread."
I observed that multiple comments/like messages from multiple people on the same research note are shown as different email thread in the inbox. They should be displayed in a single email thread.

[2019-09-01 17:32] SidharthBansal commented on #6205
Thanks everyone for writing beautiful docs. You all did an amazing job.
We are having GCI ahead so we all want that you will participate in it as a mentor.
More on GCI soon. Thanks all.

[2019-09-01 17:38] SidharthBansal opened #6231 "Keyboard shortcut for posting comment not working"
Ctrl + Enter should post comments on the research notes.
I think in past someone has made this feature. But this is not working now

[2019-09-01 19:48] jywarren commented on #6230
Good idea! cc @ebarry and noting that this is typically driven by the exact text of the title matching across emails.

[2019-09-02 12:46] gautamig54 commented on #6228
As per the new design, I am not sure whee else we can place it. Let's wait for @jywarren's view on this.

[2019-09-02 13:56] IshaGupta18 commented on #6228
Okay, thank you!

On Mon, Sep 2, 2019, 6:16 PM Gautami Gupta <notifications@github.com> wrote:

[2019-09-02 14:52] vaibhavmathur13 commented on #5407
I would like to contribute to this project.

[2019-09-02 15:07] idgrp19 commented on #5382
I would like to contribute to this project, if this issue is still open? This is my first contribution and i would like to do something at beginner level.

[2019-09-02 16:24] SidharthBansal commented on #6230
Also the multi tag subscription is present on all emails.
These emails have same header and footer. A better way to have all the
emails one by one stacked in the single email thread without duplicate
header and footer.
We can omit them from second mail onwards. What do you think?

On Mon, Sep 2, 2019, 1:18 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-09-02 16:31] SidharthBansal opened #6233 "Redirect to same page after oauth login"
I found this code is again broken.
Let's fix this first.

[2019-09-02 16:32] SidharthBansal commented on #6233
Base work for remaining cdms pr

[2019-09-02 16:35] SidharthBansal commented on #6233
Debugging https://github.com/publiclab/plots2/blob/master/app/controllers/user_sessions_controller.rb#L21
From some days.
Checking previous issues and prs

[2019-09-02 19:39] gauravano commented on #5382
Hi @idgrp19, yes, this issue is open and available to claim. Thanks!

[2019-09-02 19:42] gauravano commented on #5407
Hi @vaibhavmathur13, yes, this issue is still open. Thanks!!

@ManethKulatunge @amitkumarpatel apologies for missing out your comments. If you're still interested in solving a FTO issue, then let me know, I'll create one for you. Thanks!

[2019-09-03 05:42] sashadev-sky opened #6236 "Update code of conduct"
Update code of conduct to reflect changes on https://publiclab.org/conduct Aug 28th, 2019

[2019-09-03 15:22] SidharthBansal commented on #6097
This is really amazing piece of work folks. Super thanks

[2019-09-03 15:35] #6151 closed

[2019-09-03 19:46] #6236 closed

[2019-09-04 04:45] yprasant0 commented on #6165
@gauravano is anyone working on this, if not then I would like to go ahead with this. Thanks!!

[2019-09-04 05:21] SidharthBansal commented on #3168
Hi all !!!
After wonderful GSoC 2019 and awesome GCI 2018 let's plan for GCI 2019. Who all are interested and free this year?
I am opening a new issue for GCI 2019.

[2019-09-04 05:26] SidharthBansal opened #6238 "Call for Google Code In 2019 mentors"
Hi, folks! Is anyone interested in becoming a mentor for Google code-in program this year ?
**DEADLINE 15 NOVEMBER 2019**
If you're interested, please leave a comment here. Thanks so much!

****

**Only people having experience of Public lab's workflow for at least some months will be considered**
Those who want to be invited for GCI Mentor, thank you! Please follow these steps:

1. Solve a [first

[2019-09-04 05:27] SidharthBansal commented on #3168
Refer #6238

[2019-09-04 05:28] SidharthBansal commented on #6238
I will update the issue body and will provide related details soon. Any help appreciated.

[2019-09-04 05:57] CleverFool77 commented on #6238
Hi siddharth,
I would like to help as mentor of GCI.
I guess as per the  criteria, I'm eligible for it.

On Wed, 4 Sep 2019, 10:58 Sidharth Bansal, <notifications@github.com> wrote:

[2019-09-04 09:51] SidharthBansal commented on #6238
Sure!
The program has not launched yet. It will be announced in a few weeks. Then we will apply for it. While the organisation's application is in review the organisation has to make a list of tasks. This task list needs to be broken down into independent issues on the github with Gci label on them. Once the organisation gets accepted, mentor makes copy of github issues on the official Gci dashboa

[2019-09-04 09:59] SidharthBansal opened #6239 "[WIP]GCI 2019 Task List"
Please add pending issues from #3276

An uploaded task has a tick in the tasklist whereas not - uploaded task does not have a tick in the tasklist but is present in the tasklist.

## Code: writing or refactoring

- [ ] complete 'sortable headers' implementation following pattern in #2352
- [ ] additional work on the Checklists system: #2452
- [ ] calculate "answered" rate for questions posted in a

[2019-09-04 10:00] SidharthBansal commented on #6238
Task 1 for all mentors: creation of new issue list #6239 from #3276.

[2019-09-04 12:00] vaibhavmathur13 commented on #5407
Thank you sir
I'll look into the matter.

On Tue, Sep 3, 2019, 1:12 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-09-04 13:09] CleverFool77 commented on #6231
Hi @SidharthBansal I made this PR https://github.com/publiclab/plots2/pull/5473 four month ago to this bug. This was under review and was somehow left behind.

[2019-09-04 16:25] SidharthBansal commented on #6231
Duplicate of #5193
Thanks Gagan for your work
Quick Suggestion : Grab approval of the mentors before sending prs

[2019-09-04 16:26] #6231 closed

[2019-09-04 17:08] sagarpreet-chadha commented on #6238
Love the energy!!! Let's do it (again) 😃

[2019-09-04 20:40] jywarren commented on #6226
Ah ok! Thanks!

[2019-09-04 20:40] #6226 closed

[2019-09-04 20:41] jywarren commented on #6138
OK, copying back in from #6226:

[code]

[code]

[2019-09-04 21:49] jywarren commented on #5684
Great work everyone!!!!

[2019-09-04 21:49] #5684 closed

[2019-09-04 22:26] jywarren commented on #6222
Indeed, admins do this through the site. I'm an admin, so if you share some
code that you know works, i can add it as a Feature on the live site!

On Sat, Aug 31, 2019 at 10:56 AM Gagandeep Singh <notifications@github.com>
wrote:

[2019-09-04 22:28] jywarren commented on #6096
Oh sorry, I don't quite understand -- can you explain a bit?

On Sat, Aug 31, 2019 at 3:09 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-09-04 22:29] jywarren commented on #6155
Hi, check out my comment above about this! I think we can code it up pretty easily, not in a feature: https://github.com/publiclab/plots2/issues/6155#issuecomment-524927240

Thank you!

[2019-09-05 05:12] icarito commented on #6138
This is the current configuration in production:
[code]
How to test it? Thanks!

[2019-09-05 13:42] ebarry opened #6243 "Feature request: label spammers on /people for moderator & admin users"
**Desired behavior.**

The Moderators group convened last week to review the features available for moderators reviewing spam.
Based on that conversation, @bronwen9 and I have the following feature request:

On the “https://publiclab.org/spam” link to “active users” that goes to /people --> update the view shown to moderators/admins to display who has been marked as a spammer.

This would update t

[2019-09-05 13:44] debck commented on #6238
Hello, I would like to become a mentor this year. I hope to complete all the steps to be invited for the same.
Thanks

[2019-09-05 13:46] ebarry opened #6244 "Feature request: add pagination to /spam/revisions"
**Desired behavior.**

The Moderators group convened last week to review the features available for moderators reviewing spam.
Based on that conversation, @bronwen9 and I have the following feature request:

- [ ] Add pagination to https://publiclab.org/spam/revisions
- [ ] Doublecheck why the years are displayed as 47, 48, and 49 years ago.

<img width="1203" alt="Screen Shot 2019-09-05 at 9 45 0

[2019-09-05 14:07] SidharthBansal commented on #6238
That will be awesome @debck

[2019-09-05 14:50] ebarry opened #6246 "Feature request: delay moderation emails for first time posters or commenters until 24 hours have passed"
**The desired behavior.**

The Moderators group convened last week to review the features available for moderators reviewing spam.

Working with @jywarren, we identified that people holding "moderator" roles on the website get a lot of notifications. The following two types of notifications generate the bulk of the notifications to moderators roles:

* moderator roles: When a First Time Poster pos

[2019-09-05 14:58] debck commented on #6238
Can we solve issues from any of the repos of publiclab or only from  this repo?

[2019-09-05 15:02] jywarren commented on #6138
@namangupta01 can you offer some input here, thanks!

[2019-09-05 15:46] SidharthBansal commented on #6238
any repo

[2019-09-05 15:50] SidharthBansal commented on #6238
@milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012@SidharthBansal @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18@CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23@ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1@rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentor

[2019-09-05 15:50] SidharthBansal commented on #6238
@newbazz @aSquare14 @vaarigupta @alonpeer @aashna27 @harshithpabbati @jesus-montano @cryptoclidus @mohamed-elalem @konolga @gowtham5699

[2019-09-05 15:51] SidharthBansal commented on #6238
Feel free to tag your friends who are interested to work as GCI Mentor 2019 at PL

[2019-09-05 15:53] SidharthBansal commented on #6205
Here is the call for mentors : https://github.com/publiclab/plots2/issues/6238
This is the new task list : https://github.com/publiclab/plots2/issues/6239
A ton of help is required to copy paste the issues to #6239 which can be rolled into gci tasks.

Thanks all. I hope you all are eager for GCI as I am!!!

[2019-09-05 15:53] SidharthBansal commented on #6239
Please edit the issue body itself

[2019-09-05 15:55] SidharthBansal commented on #2053
Hi all!
Anyone interested in GCI at PL then please read https://github.com/publiclab/plots2/issues/6238

[2019-09-05 16:04] ebarry commented on #6243
This is a rephrase of https://github.com/publiclab/plots2/issues/3338

[2019-09-05 16:20] jywarren commented on #6246
Hi, this should be pretty straightforward to change; the code segments can be found here:

### Notes

Initial needs moderation email: https://github.com/publiclab/plots2/blob/b6d5089c5ac3b80ef48481a6753f39b8dc0812ca/app/models/node.rb#L221

Did you also want the "this was marked as spam" email removed? That is here: https://github.com/publiclab/plots2/blob/b6d5089c5ac3b80ef48481a6753f39b8dc0812ca/

[2019-09-05 16:26] IshaGupta18 commented on #6238
@SidharthBansal I would love to be a mentor for GCI this year, and according to the eligibility list, I think I qualify!

[2019-09-05 16:27] IshaGupta18 commented on #6238
@SidharthBansal I would be making some tasks in [simple-data-grapher](https://github.com/publiclab/simple-data-grapher) as well, I hope they will be counted too, if the org gets selcted?

[2019-09-05 16:30] CoderJolly commented on #6238
@SidharthBansal Would love to be a GCI Mentor this year 🎉 👍

[2019-09-05 16:31] SidharthBansal commented on #6238
Sure folks.
Don't forget to fill the form and copy the task heading in tasklist issue.
Thanks all
Sidharth

On Thu, Sep 5, 2019, 10:00 PM Harman Jolly <notifications@github.com> wrote:

[2019-09-05 16:44] ebarry commented on #6246
Wow thank you!!!! Yes, thanks for pointing out the "Notification of comment marked as spam" and "Notification of post marked as spam" emails -- they should also be discontinued. Sorry for breaking tests and making extra work on that!

[2019-09-05 16:44] ebarry commented on #6233
This would be a wonderful bug to solve!!!!! thank you!

[2019-09-05 16:50] bronwen9 commented on #6246
Yay! Thanks! Agree, until we think of a better system, I think an end to
all email (except for alerts to the google group) is best.

On Thu, Sep 5, 2019 at 12:44 PM Liz Barry <notifications@github.com> wrote:

[2019-09-05 17:04] ebarry commented on #6088
hi @CleverFool77 ! sorry just seeing this now. I have to admit i do not totally understand your comment, i apologize --- I am not sure what you mean about taking the password validation from this to validate other fields.  I do see that your PR #5368 is closed.

Might we EITHER change the current help text in the password box itself (currently reads: "enter your new password") to the more helpful

[2019-09-05 17:06] ebarry commented on #5445
gif uploading is once again working on profiles, but is not working on wiki pages.

[2019-09-05 17:06] #4957 closed

[2019-09-05 17:06] #4614 closed

[2019-09-05 17:08] ebarry commented on #5768
Thanks for fixing this!

[2019-09-05 17:08] #5768 closed

[2019-09-05 17:13] CleverFool77 commented on #6088
Hi liz, I understood this. I'll craate a PR soon. My earlier PR was closed
because it was covering various positions and password portion was one of
them. As other portions except password were merged by other contributors.
So I closed that pr.
So, Now I'll create a new PR which consists of password portion only. And
I'll put the test and validation accordingly.

On Thu, 5 Sep 2019, 22:34 Liz Barr

[2019-09-05 17:47] ananyaarun commented on #6238
@SidharthBansal Would love to be a GCI Mentor this year :) !!
I shall fill the form.

[2019-09-05 17:50] ebarry opened #6247 "Discussion: observation about how #s of people are referred to on tag pages"
I'd appreciate a conversation in this issue, hopefully resulting in a few simple, good ideas that could be implemented. But for now this is merely a discussion.

**URL**
https://publiclab.org/tag/balloon-mapping

**Context**

1. When i look at the current tags page, i find it confusing that the number of people subscribed are listed in the side right as number of people "discussing." This is far a

[2019-09-05 18:29] ebarry commented on #6088
I really appreciate it @CleverFool77 !!!!!

[2019-09-05 18:59] debck commented on #4594
@jywarren  Can I work on this issue?

[2019-09-05 19:01] newbazz commented on #6238
@SidharthBansal I would love to mentor for gci 2019, really excited for the same.

[2019-09-05 19:03] sashadev-sky commented on #6238
im in! 🐙

[2019-09-05 19:07] jywarren commented on #6097
Oops, re-opening! Also, we found this one, could be related to #6027  perhaps...

![image](https://user-images.githubusercontent.com/24359/64371546-ce311500-cfee-11e9-94e1-c9d273e0eaee.png)

The URL is https://publiclab.org/tag/activity:*/author/mimiss

Thanks!!!

[2019-09-05 19:36] Divy123 commented on #6238
I am also interested!!

[2019-09-05 19:39] sashadev-sky commented on #3382
Going through #3276 task list for potential candidates and I think we can close this one - apologies if disagree feel free to reopen!

It has since been refactored into
https://github.com/publiclab/plots2/blob/b6d5089c5ac3b80ef48481a6753f39b8dc0812ca/app/models/node.rb#L180

which seems like the cleanest way to write it

 And there is no `ip_address` table anymore. So we have really cleaned up sho

[2019-09-05 19:39] #3382 closed

[2019-09-05 19:44] sashadev-sky commented on #6239
@SidharthBansal going through them today! not sure well find that many (a lot of them are completed just not checked off or stale) but I will port any usable ones over here :)

[2019-09-05 19:44] divyabaid16 commented on #6238
Hello!
I'm interested and have fulfilled all the requirements.
I have also filled the Google form.

Thanks!

[2019-09-05 20:07] rexagod commented on #6238
I'm as well! Let's do this! 🎉

[2019-09-05 20:56] jywarren commented on #6247
Hi Liz, thanks for posting. Quick thoughts:

for 3, they are already removed in https://stable.publiclab.org/tag/balloon-mapping, so no worries. Likewise for 4, all extra stuff is being moved under the `...` menu in the tag card upper right corner, and that'll include the `tag parent` button.

For 1 and 2, this goes back to the [DIAL UI project designs](https://publiclab.org/notes/warren/04-22-201

[2019-09-05 21:04] IshaGupta18 opened #6248 "Link type text coming out of the card in dashboard"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-09-05 21:17] gauravano commented on #6238
Hi everyone,

1. Please add all issue you create to the project - https://github.com/orgs/publiclab/projects/2 **Google Code-In 2019** as that'll help in differentiating the GCI tasks. This is a organization project, so you'll see it in all repos. If it's not visible in any repo where you created the task, please let me know.

2. Also, it's possible that, GCI may be a month or two late this year s

[2019-09-05 21:20] gauravano commented on #3382
Thanks for updating!

[2019-09-05 21:24] jywarren commented on #5445
Hi, I just tried, and was able to upload the gif from the top of this issue to https://publiclab.org/simple-air-sensor; it's now at the bottom of that page.

![image](https://user-images.githubusercontent.com/24359/64380449-fe80af80-cffe-11e9-94a4-55bac3c79c38.png)

However, it took a long time, and did not show a progress bar.

So I'm going to change the title here to "progress bar missing on GIF

[2019-09-05 21:30] jywarren commented on #6246
Sorry, you're not breaking the tests! was typing a lot quickly... i just meant that we've protected these features with tests, so removing the features will cause the tests to report failures, so we need to remove the tests too. Just trying to be thorough and warn anyone attempting this in advance, thanks!

[2019-09-05 21:36] gauravano commented on #6246
I believe we should only remove the mailer calls and not the mailer as we may need them in future. Also, we should try to make all emails async and send them via sidekiq as that'll free up main thread. What do you think @jywarren?

[2019-09-05 22:20] jywarren commented on #4121
Completed in #5978

[2019-09-05 22:20] #4121 closed

[2019-09-05 22:22] jywarren commented on #3409
I believe this is fixed due to https://github.com/publiclab/plots2/pull/4904 ! Thank you!

[2019-09-05 22:22] #3409 closed

[2019-09-05 22:34] jywarren commented on #6243
We can check if user.status indicates it's a spammer, and add a notice. I
believe this used to be there, but was lost when the UI overhaul happened.
Thanks!

On Thu, Sep 5, 2019 at 12:05 PM Liz Barry <notifications@github.com> wrote:

[2019-09-05 22:45] jywarren commented on #4594
We'd love your help!

On Thu, Sep 5, 2019 at 2:59 PM Debasish Sahoo <notifications@github.com>
wrote:

[2019-09-05 22:50] sashadev-sky opened #6251 "toolbar positioning bug"
Toolbar for the editor on https://publiclab.org/post has very sporadic behavior. Jumps to top and bottom of page. Should just stay relative to the markdown container.

Below it goes to bottom - less obviously disruptive than when it jumps to top

![pl](https://user-images.githubusercontent.com/41092741/64388684-e3696c00-d00d-11e9-9bb0-bcbb1442ed84.gif)

[2019-09-06 06:57] Gagan6730 commented on #6222
Hi @jywarren
I have attached a gif of working code below. Could you please have a look.
Link to gist: https://gist.github.com/Gagan6730/9727d5c3fc65c081ad5b7a681f82f241

![more_tags](https://user-images.githubusercontent.com/23430169/64407248-83bca080-d0a1-11e9-944a-a76fbeb747c4.gif)

[2019-09-06 07:03] SidharthBansal commented on #6238
Gaurav I think we should have categories. As point system is too much
ambiguous. Let's stick to 3 to 5 categories.

On Fri, Sep 6, 2019, 2:47 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-09-06 07:03] SidharthBansal commented on #6239
Great thanks

On Fri, Sep 6, 2019, 1:14 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-09-06 07:07] sidntrivedi012 commented on #6238
I would love to help out this year. Thanks 🙂

[2019-09-06 07:41] debck commented on #4594
@jywarren  I think this issue is resolved.
Please look into the thread of this issue #4624
Also, this line  `.order('COUNT(term_data.tid) DESC') ` has been replaced by `.order(count: :desc) `

[2019-09-06 13:27] steviepubliclab opened #6253 "Add a wiki edits link to /wikis/author/_authorname_ from profile pages, and create that new page"
I've noticed that only some of the gray links on profile pages link out. I was wondering if we could get them all link? I'm not able to see ~comments or~ wiki edits anymore. Maybe this is a bug? Also not sure if it's reported elsewhere, if so please feel free to delete
<img width="293" alt="Screen Shot 2019-09-06 at 9 24 13 AM" src="https://user-images.githubusercontent.com/7490478/64431411-5f07ff

[2019-09-06 13:45] jywarren commented on #6253
Hi Stevie, thanks, there is some ongoing work on that, and also want to connect to https://github.com/publiclab/plots2/issues/6001.

Right now, the first task is to convert those that /are/ links into underlined links so it's clear they can be clicked.

Second, we have a goal of two new routes, `/wiki/author/stevie` and `/comments/author/stevie` (or `/comments/stevie` i guess?)

Actually now I loo

[2019-09-06 13:47] jywarren commented on #6253
@CleverFool77 @gautamig54 I was just wondering if we have another issue for this, as I think it was mentioned before, both in regards to the profile page and to the dashboard, actually!

[2019-09-06 13:49] jywarren commented on #6001
Also linking to ongoing work and discussion in:

* https://github.com/publiclab/plots2/issues/6220
* https://github.com/publiclab/plots2/issues/6219

[2019-09-06 13:50] jywarren commented on #6220
And linking the `/notes/authorname` route to the new issue opened in #6253 !

[2019-09-06 13:51] jywarren commented on #6253
From #6220, `/notes/authorname` would also be great to be able to link to!

[2019-09-06 13:53] jywarren commented on #6220
OK, closing in favor of https://github.com/publiclab/plots2/pull/6254 and #6253. Thank you!

[2019-09-06 13:53] #6220 closed

[2019-09-06 13:53] jywarren commented on #6001
Let's also:

* [ ] add a label to make it really clear (post #6219) what the collection of boxes on the profile page is -- right now it is `user.tags`, which is all tags on posts by the user. Should it instead be all tags the user is subscribed to? cc @steviepubliclab

[2019-09-06 13:55] jywarren commented on #6001
the last comment ☝️  really relates to some of the distinctions in this comment about the tag pages, too: https://github.com/publiclab/plots2/issues/6247#issuecomment-528578509

[2019-09-06 13:55] steviepubliclab commented on #6001
Hi all! Great work on the profile pages. I like the feed function, but one thing I have been struggling with is that the main feed often isn't featuring what I'm looking for-- for example, most of the time I'm looking for people's recent research notes, questions and comments, and not looking for things they've recently tagged. Wondering if we could alter the feed to feature those things and leave

[2019-09-06 14:04] steviepubliclab commented on #6001
on::

I think all the tags someone is subscribed to is nice. Might reduce the powertags there which are a bit confusing, see arrow below:
<img width="967" alt="Screen Shot 2019-09-06 at 10 04 03 AM" src="https://user-images.githubusercontent.com/7490478/64434069-c2486000-d08d-11e9-976f-a8fb461230d8.png">

[2019-09-06 16:46] ebarry commented on #5445
oh tricky!
The slowness and lack of progress bar fooled me during my test of "gif
upload to wiki" yesterday
i love gifs very much so glad to see this one getting addressed :D
--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Thu, Sep 5, 2019 at 5:24 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-09-06 16:53] jywarren commented on #6246
I think this depends on whether we see this as a permanent change, and if
there is no possible case for moderation emails for any use. Things to
consider to make this decision permanent would be:

* could such emails be used as part of integration with another system,
like IFTTT or anything?
* could such emails be useful for someone else running the PL codebase for
another community, and do we wan

[2019-09-06 16:56] jywarren commented on #6001
OK cool, a couple options here:

1. we could screen out powertags in general
2. we could make the grey links in the right sidebar more obvious, or
convert them to a row across the top of the main column, that lead to that
author's comments, notes, and wiki edits
3. we could feature any note which the author has posted or commented on,
sorted by recency, within the topic cards in the main column, s

[2019-09-07 04:53] CleverFool77 commented on #6001
Hi !!! We get most used tags and notes according to that. But we can get the list of all notes through the links in sidebar.
Hi @jywarren Regarding third point, it looks like good idea.
And regarding second point. Do you mean the convert them into row in like `23 ques 44 notes etc` above the topic cards ?

[2019-09-07 05:41] CleverFool77 commented on #6001
Hi @jywarren Should these be converted to permanently blue with underline instead of turning blue on hover.
So that we can know that its a link, and not just data which being shown.
As for a user who didn't about this, would think this as a text but not as a link. But by adding this color and underline. We would show it as a link.

![Screenshot from 2019-09-07 11-05-38](https://user-images.githubu

[2019-09-07 06:44] kapil-raj commented on #6248
Hey, I want to claim this issue. :)

[2019-09-07 06:46] IshaGupta18 commented on #6248
Go right ahead, let me know if you need any help! Thank you!

On Sat, Sep 7, 2019, 12:14 PM Kapil Raj <notifications@github.com> wrote:

[2019-09-07 06:54] kapil-raj commented on #6248
I can't seem to find the $REPO repository, after clicking on the $FILENAME, it takes me directly to the issues. But i am not finding the code file that I have to edit

[2019-09-07 06:56] IshaGupta18 commented on #6248
Yes because I haven't mentioned the filename here, would you like to
explore it on your own a little, that might give you a better idea of the
codebase?

On Sat, Sep 7, 2019, 12:24 PM Kapil Raj <notifications@github.com> wrote:

[2019-09-07 10:58] CleverFool77 commented on #6248
Hi @IshaGupta18 As it is `first timer only` issue. It would be great if you could mention the file.

[2019-09-07 11:00] IshaGupta18 commented on #6248
Yes, I wanted to but I just posted this issue as soon as I saw it. Let's
make this simpler. Do you happen to know which file do the cards in the
dashboard belong to? I think you'll be able to correctly point to the right
file! Thank you!

On Sat, Sep 7, 2019, 4:28 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-09-07 11:02] CleverFool77 commented on #6253
Hi @jywarren @steviepubliclab !!
Regarding the grey out links, These were Turning blue and had underline on hover. But as we usually don't hover on it , it seems like grey text to us. I have opened a new PR https://github.com/publiclab/plots2/pull/6255 and converted them to permanent blue with underline. So it shows that they are `<a>` tags links.

[2019-09-07 11:05] CleverFool77 commented on #6253
And Regarding wikis and comments, We don't have routes for them yet.
Should we create something like `comments/authorname` or `wikis/edited or author/authorname`.

[2019-09-07 13:08] yprasant0 commented on #6163
@simonastefan @jywarren @SidharthBansal I am new here would like to try out this issue if it is available. Thanks

[2019-09-07 13:23] simonastefan commented on #6163
@yprasant0 I am currently looking into this. Sorry!

[2019-09-07 13:45] DakshGondaliya commented on #3637
@gauravano It is still an issue with buttons. You can check for the screen size <780 px.

[2019-09-07 18:11] yprasant0 commented on #6163
@simonastefan okay, sure.

[2019-09-07 19:06] namangupta01 commented on #2053
Hey Guys! I am up for GCI mentor

On Thu, 5 Sep 2019, 21:25 Sidharth Bansal, <notifications@github.com> wrote:

[2019-09-07 19:33] gauravano commented on #6238
okay, let's decide 3-5 categories then. Each category would have a fixed point/weightage.

[2019-09-07 19:39] IshaGupta18 commented on #6238
Yes, apart from the categories, should the tasks be distributed over different repos, and should the categories be made according to the repos we are considering?

[2019-09-07 19:44] gauravano commented on #6238
Diff. category mean different complexity of task. So, categories would be fixed for all the repos. Google just give us a list of # tasks solved by students which is  not sufficient for result generation.

[2019-09-07 19:45] IshaGupta18 commented on #6238
Okay, thank you for the clarification!

On Sun, Sep 8, 2019, 1:14 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-09-07 19:47] ananyaarun commented on #6238
@gauravano , Thats a nice idea !!
We can make categories based on difficulty of issues. eg fixing a broken link or other simple issues in one category and then as the difficulty of the issues advance we can allot a higher point/score to it.
(say points in the range 1-5)
I guess as mentors we can define the score of an issue before a GCI student works on it. This way it is easier to decide winners

[2019-09-07 19:51] gauravano commented on #6163
Somewhat similar bug found on notes page too:

1. I created tag and tried deleting it and it doesn't worked and `undefined` added to tag response section, as well as after propose title.

<img width="1456" alt="Screenshot 2019-09-08 at 1 16 19 AM" src="https://user-images.githubusercontent.com/20878070/64479569-9b497580-d1d6-11e9-8aa0-6d28cf207823.png">

2. Same error as above even after refreshin

[2019-09-07 19:54] IshaGupta18 commented on #6238
Yes I think that might be good grading system. We can do that by sorting
out labels in different repositories and putting issues having similar
difficulty in diff repos at the same score.

On Sun, Sep 8, 2019, 1:17 AM Ananya Arun <notifications@github.com> wrote:

[2019-09-07 20:36] gauravano commented on #6246
* could such emails be used as part of integration with another system,
like IFTTT or anything?

Don't know.

* could such emails be useful for someone else running the PL codebase for
another community, and do we want to preserve such capability?

Yes, they can be useful.

* could such emails be useful for authors to be notified of spam comments
on their posts so they can moderate them themselves

[2019-09-07 21:25] gauravano commented on #5407
Hi @vaibhavmathur13, no need to use "Sir" or "Mam". Please address everyone by username like  @vaibhavmathur13 (or First Name in those cases where they have consented you)

[2019-09-07 21:57] gauravano commented on #6165
Hi @yashbth, there's a PR for this already open so please consider claiming other issues. Thank you!!

[2019-09-08 02:09] yprasant0 commented on #5923
@jywarren @IshaGupta18  is this issue still available, being new here I would like to take up this issue. Thanks

[2019-09-08 06:43] kapil-raj commented on #6248
I don't know if I am getting this right. The link should be inside the card, right?

[2019-09-08 06:45] SidharthBansal commented on #6238
Main problem with this system is how to estimate score of the task ?
No of Lines of Code
Functionality
Feature
There is no general principle according to which we can classify the task.
So, last time due to this we abandoned this idea. How can we fix this?

On Sun, Sep 8, 2019 at 1:25 AM Isha Gupta <notifications@github.com> wrote:

[2019-09-08 06:58] IshaGupta18 commented on #6248
Yes

On Sun, Sep 8, 2019, 12:13 PM Kapil Raj <notifications@github.com> wrote:

[2019-09-08 07:00] newbazz commented on #6238
@SidharthBansal @gauravano I think keeping lines of code as scoring criteria can be a good idea only when people tend to follow the standard coding rules for example for js, according to jslint the convention for writing a for loop is
`for(){
code;
}`
and not `for()
{
code;
}`

[2019-09-08 07:04] SidharthBansal commented on #6238
Problem is PL has different repositories with different languages.
Complexity of code is not determined by LOC

On Sun, Sep 8, 2019 at 12:30 PM newbazz <notifications@github.com> wrote:

[2019-09-08 07:04] kapil-raj commented on #6248
so shouldn't be this a html problem rather than css cause if we place the content inside the "card" then the css will also applied to the link text

[2019-09-08 07:07] newbazz commented on #6238
Yes, then i think properly defining what a feature is, no. of feature fixes will be rewarding them scoring. And yeah also the same with bugs.

[2019-09-08 11:17] simonastefan commented on #6163
I've tried it out and my PR doesn't seem to cover both. @yprasant0 do you want try this one on the notes page instead?

[2019-09-08 15:42] vajjalavikram commented on #6248
i want to claim this issue

[2019-09-08 15:44] IshaGupta18 commented on #6248
I think Kapil is already working on it. Could you look for another FTO?
Thanks a lot and let me know if you have any questions.

On Sun, Sep 8, 2019, 9:12 PM vajjalavikram <notifications@github.com> wrote:

[2019-09-08 15:44] vajjalavikram commented on #6248
okay
Thanks!

[2019-09-09 04:58] yprasant0 commented on #6163
@simonastefan I moved to another issue, I will try after completing that. Thank you!!

[2019-09-09 13:09] ebarry commented on #6246
This sounds like several good reasons to "turn off" the mailer instead of deleting it. Cool! I especially like the idea that, in the future, topic groups may do their own moderation. I could see that people would be eager to help curate the areas they care about.

Does this also mean that we should "turn off" the tests instead of deleting them?

[2019-09-09 13:51] SidharthBansal commented on #6238
The problem lies with the severity of the bug. There may be a case that bug is production-level bug. This is the weirdest system when different mentors assign different scores as their viewpoint is different. This is not a proper estimate.
Also, sometimes features require a lot of hard work(more than we suppose). Sometime it takes very few lines of code but the complexity of code is too high.
We w

[2019-09-09 14:08] SidharthBansal commented on #6238
All the mentors are required to read https://github.com/publiclab/plots2/wiki/Supportive-Tasks and get familiar with it!
Many students can do a single task at GCI

[2019-09-09 14:10] SidharthBansal commented on #6238
Mentors are encouraged to create similar tasks on all the PL repos with similar labels (if they are not present. I believe we created on all the repositories.)

[2019-09-09 14:11] ebarry commented on #6247
ok this is great information, thanks for updating me.

I read in your comment that both "Contributors" and "X people discussing" will link to the same page, perhaps https://publiclab.org/contributors/balloon-mapping ? That is great. So we will be figuring out how to display these two types of counts of people (contributors and followers/discussants) on the main /tag page, and on the /contributors/

[2019-09-09 14:13] IshaGupta18 commented on #6238
Sure, will go through them!

On Mon, Sep 9, 2019, 7:40 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-09-09 14:15] SidharthBansal commented on #6238
All mentors are requested to help in https://github.com/publiclab/plots2/issues/6239

[2019-09-09 14:25] SidharthBansal commented on #5652
#6233 will solve major bugs in this issue!

[2019-09-09 14:27] SidharthBansal commented on #6233
@jywarren I can't find from where "Signed In" flash notice is triggered.
https://github.com/publiclab/plots2/search?q=Signed+In%21&unscoped_q=Signed+In%21

[2019-09-09 14:30] SidharthBansal commented on #6233
Here is the error https://github.com/publiclab/plots2/blob/67231f9cb3e88d2b80730cd1f43d9cd19f77ca65/app/controllers/user_sessions_controller.rb#L63

[2019-09-09 14:33] newbazz commented on #6238
@SidharthBansal went through the doc :D

[2019-09-09 14:40] steviepubliclab commented on #6253
Great! Thanks all, for some reason I thought under the prior profile page version I was able to see comments. maybe I'm mistaken!

[2019-09-09 14:48] jywarren commented on #6247
The issue I linked to by Isha is work towards showing two tables side by
side, one for subscribers and one for contributors. But what I'm wondering
is, could we show subscribers as the "main" display, but below it, list
essentially "contributors who aren't subscribed" -- that would also reduce
the # of ppl shown twice? It may also help facilitators to see who to
encourage to subscribe.

On Mon, Se

[2019-09-09 14:54] sidntrivedi012 commented on #6239
## Code: writing or refactoring

- [ ] complete 'sortable headers' implementation following pattern in #2352
- [ ] additional work on the Checklists system: #2452
- [ ] calculate "answered" rate for questions posted in a certain time period (described in #2120)
- [ ] display if someone's been banned or is still active in moderator emails (https://github.com/publiclab/plots2/blob/master/app/views/a

[2019-09-09 14:54] steviepubliclab commented on #6001
Hi again! I'll reply to your comment @jywarren in line here::

1. we could screen out powertags in general
- Great! I think this would be a good move.

2. we could make the grey links in the right sidebar more obvious, or
convert them to a row across the top of the main column, that lead to that
author's comments, notes, and wiki edits
- nice. for some reason the right hand side of the page isn't

[2019-09-09 14:55] sidntrivedi012 commented on #6239
@SidharthBansal Have added the tasks from #3276 which have an issue open for them and is currently open too. PTAL. Thanks.

[2019-09-09 15:13] ebarry commented on #6247
Here's an idea -- display these terms and numbers for the different ways that people are engaged in a regular sentence so that the terms have context, for example:

"This Topic has X contributors, and X people following along"

This sentence could appear in the card, and the "Subscribe" button could appear directly after the sentence.

[2019-09-09 16:37] oorjitchowdhary commented on #6238
hey guys, how's it going? so good to be back. i'm really excited for Public Lab's second GCI.
thanks to last year's contest, i've a lot of suggestions and ideas for making this GCI even bigger and better for PL. this GCI is going to be in my exams period, i'm not officially wanting to register as a mentor as i'll not be able to give a lot of time but i'll be here to help you guys for sure.
Let's d

[2019-09-09 17:00] jywarren commented on #6001
I like the blue link text, thanks, @CleverFool77. Just to get to @steviepubliclab's request to see how it might look at the top of the main column, we could try something like this, of course substituting better-suited icons, and the icons could be in grey:

![image](https://user-images.githubusercontent.com/24359/64550388-d647c800-d300-11e9-8124-d2e76d94764a.png)

Here I mean that the posts would

[2019-09-09 17:31] ebarry commented on #6246
@bronwen9 proposes, and I support, to send a notification email if a post or comment has been waiting in the queue for 24 hours.

[2019-09-09 17:39] sashadev-sky commented on #6238
How about we make a scoring committee and weekly meetings to rate all of
the issues?

I was thinking something like a `wontfix` would get 20 points.
Documentation / tests 2 points. Medium 6 points. Hard 10 points. Idk Just a
thought, saw this program happening last year but I jointed PL in th middle
of it!

On Mon, Sep 9, 2019 at 12:37 PM Oorjit Chowdhary <notifications@github.com>
wrote:

--
Sash

[2019-09-09 17:48] newbazz commented on #6238
Yes, I think making a committee is a better way, we can have a selected number of mentors who are involved in this scoring tasks.
And also I think we should make a gitter channel for GCI based communication so as to avoid spamming and overcrowding in the main channel.

[2019-09-09 18:01] jywarren commented on #6228
Hi all! In our #5211 perhaps we can have a type in the popup modal... https://github.com/publiclab/plots2/pull/6114

But i think it's important that there be some more context -- like, why, what kind of data?

The other thing we can do, is that if we have a really good step by step activity with screenshots, we can post it on https://publiclab.org/data-logging and other similar pages throughout th

[2019-09-09 18:01] jywarren commented on #6228
That would give a really good space to offer more context and explanation!

[2019-09-09 18:11] jywarren commented on #6247
We've tried to keep the cards to an absolute minimum of text/info, so as to make them very readable. That's not to say we can't fit this, but it's a classic "limited real estate" problem, so I want to be careful.

Would a more compact `12 contributing | 8 following` work? It could include a `(?)` icon linking to to an explanation of what that means. Alternatively `12 contributors | 8 followers (?)

[2019-09-09 18:14] IshaGupta18 commented on #6228
Hey I am not able to follow very clearly. Can you please explain? What do
we have to do with the SDG button?

On Mon, Sep 9, 2019, 11:41 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-09-09 18:31] steviepubliclab commented on #6001
ok great. I like the links at the top with buttons to click on, but that's probably a personal preference. If it's busy with the "most common topics" section, maybe moving those to the side bar might make sense? just switching them I guess from what they currently are. Also, the phrasing there, it almost seems like "Most common topics" on PL rather than this person's profile. Wonder if we could cl

[2019-09-09 18:57] kapil-raj commented on #6248
Dude go ahead

[2019-09-09 19:04] SidharthBansal commented on #6238
+1 for Gci bitter channel
+1 for committee
Good to see you oorjit after a long time.
You can sign in as a mentor. We have flexible schedule. Thanks all

On Mon, Sep 9, 2019, 11:18 PM newbazz <notifications@github.com> wrote:

[2019-09-09 19:05] IshaGupta18 commented on #6238
+1 for both please

On Tue, Sep 10, 2019, 12:34 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-09-09 19:12] newbazz commented on #6238
I think PL maintainer has to make a separate room for gci.

[2019-09-09 19:44] ebarry commented on #6247
i prefer the verbs of contributing, following, etc, but it seems like other experiences around the web, especially social media (twitter, instagram) are making us expect "identities" like contributors and followers.

If there's no room for a sentence, there's just no room. It's OK. However, then we are still left with the problem we've made for ourselves, which is that upon first read, there's no

[2019-09-09 20:08] ebarry commented on #6253
I also thought that the old profile page offered a # of comments, but maybe not a link to be able to see them?

[2019-09-09 20:57] jywarren commented on #6246
2 thoughts to add - first, "if it's been waiting for 24 hours" we could do
with a DelayedJob - with wait: 1.day:
https://edgeguides.rubyonrails.org/active_job_basics.html#enqueue-the-job

Second, yes, we should turn off the tests. But - if we want to, let's
identify which of these systems we can adapt into a "24 hour delayed
message" (with a conditional that it not be sent if some condition is
ful

[2019-09-09 21:01] jywarren commented on #6001
Just chiming in on "which is featured" -- we have a proposal (need to find
the issue) to have posts be shown only once (ah, here it is!
https://github.com/publiclab/plots2/issues/6199) and you're right that the
tag cards are ordered by recency. So if a post appears on a higher-up card,
it would be hidden in any lower cards even if it were cross-listed.

Like "by username" in Stevie's note, great!

[2019-09-09 21:05] jywarren commented on #6247
Ah, note that in the updated mockup SUBSCRIBE was changed to FOLLOW.

Also, noting that the topics page tag card design (that'll also be on the
new dashboard and profile page) has a link for "124 people discussing" so
this could also follow a concise pattern we establish here.

I think if you don't feel the (?) help link is enough, we could have a
popup or other help text that displays only for ne

[2019-09-09 21:13] ebarry commented on #6001
I liked the rough mockup.
i'm not sure if the icons are needed, but without them the horizontal layout might be hard to read, so i'm not sure on that.

Would Activities refer to activities created as well as activities attempted?

[2019-09-09 21:23] jywarren commented on #6253
I think maybe it did offer that, but not at a distinct url, just as a sub
tab. So we will need to break it out into its own page. But shouldn't be
hard! And, we should look to see if the old template files can be reused.

On Mon, Sep 9, 2019, 4:09 PM Liz Barry <notifications@github.com> wrote:

[2019-09-09 21:24] jywarren commented on #6001
Not sure on that one. What do you think?

On Mon, Sep 9, 2019, 5:13 PM Liz Barry <notifications@github.com> wrote:

[2019-09-09 21:26] ebarry commented on #6001
what if we did not list Activities as a category? They would already be counted in notes.

[2019-09-09 21:30] ebarry commented on #6228
I'm so excited to see this integrated. What plans do we have for featuring our previous platforms like mapknitter.org and spectralworkbench.org via navigation on publiclab.org? Could we do something consistent with the Data Grapher?

[2019-09-09 21:31] jywarren commented on #6001
Sure and the notes display has a "type" filter too.

On Mon, Sep 9, 2019, 5:26 PM Liz Barry <notifications@github.com> wrote:

[2019-09-09 21:50] jywarren commented on #5668
Hi @namangupta01 i'm not sure this is working right now - I've tried replying to a comment email but i am not seeing replies by email get identified.

I added a column to this page so you can see comments made by email: https://publiclab.org/comments?page=21 but as you can see you have to go to p 21 before you can see one successfully sent by email.

Would you be able to look into this to see what

[2019-09-10 01:39] seabl commented on #6244
The "49 years ago" thing could mean those spammers were active very long ago... at the very beginning of UNIX time.

[2019-09-10 02:13] asquare commented on #6238
Hey @SidharthBansal can you please remove the mention of my username here, looks like you wanted someone else here, and I got included by typo, I have no idea what this project is about. Thanks

[2019-09-10 05:29] SidharthBansal commented on #6238
Akhil I am really sorry about it. Please unsubscribe to this thread

On Tue, Sep 10, 2019, 7:43 AM akhil <notifications@github.com> wrote:

[2019-09-10 12:55] vaibhavmathur13 commented on #5407
Hi @gauravano , I have my base system up and running but I cannot locate the refresh button.
Can you help me locate it?

[2019-09-10 13:23] steviepubliclab commented on #6001
+1 on lumping activities in with notes.

Just to clarify would the topic card only show the material the person who owns the profile posted or would it show posts from others who shared recently as well?

[2019-09-10 19:02] IshaGupta18 commented on #6228
Yeah sure, maybe we can integrate it like plots2 in mk and swb?

[2019-09-10 19:49] darksun27 commented on #6248
![Screenshot from 2019-09-11 01-13-44](https://user-images.githubusercontent.com/31998550/64645219-ffb44100-d431-11e9-9f36-74124b9ba080.png)
This is what I get when login into the app. Is it a database seeding error? or any other issue which i didn't understand at the moment?

[2019-09-10 20:16] darksun27 commented on #6248
If anyone has not claimed this issue, can I claim it? I think i have found the solution.

[2019-09-10 23:15] CoderJolly commented on #6205
Where can we find the Zoom recording for the GSOC wrap-up and student presentations ?

[2019-09-11 00:33] Aaru143 commented on #5426
Is this issue still open ? Can I claim it ?

[2019-09-11 03:05] IshaGupta18 commented on #6248
I think you can go ahead and solve it!

On Wed, Sep 11, 2019, 1:46 AM Siddharth Batra <notifications@github.com>
wrote:

[2019-09-11 03:07] IshaGupta18 commented on #5426
Can you try to reproduce the problem on public lab's website and check if the problem still exists? If it does, go ahead and solve it!

[2019-09-11 03:27] sashadev-sky commented on #6239
@sidntrivedi012 thanks :) moved your tasks into the issue body and hid your comment

[2019-09-11 05:22] SidharthBansal commented on #6239
Yeah great work.

On Wed, Sep 11, 2019, 8:57 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-09-11 05:25] SidharthBansal commented on #6205
Hi!!
Who is going to open this weeks checkin?
I will like to open it for Google Code In.
if anyone else is free then feel free to comment and open it.

On Wed, Sep 11, 2019, 4:45 AM Harman Jolly <notifications@github.com> wrote:

[2019-09-11 05:52] gauravano commented on #6205
Go ahead @SidharthBansal. Thanks!!

[2019-09-11 05:54] IshaGupta18 commented on #6205
Can I open it?

On Wed, Sep 11, 2019, 11:22 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-09-11 05:54] gauravano commented on #6205
Here's the recording of **GSoC and Outreachy presentations:** https://youtu.be/MaxNmU8x_pk @CoderJolly

[2019-09-11 05:57] gauravano commented on #6205
Sure @IshaGupta18 maybe @SidharthBansal can edit it afterward. Just discuss with him before opening. Thanks!!

[2019-09-11 06:00] IshaGupta18 commented on #6205
Sure, absolutely! Thank you!

On Wed, Sep 11, 2019, 11:27 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-09-11 11:13] SidharthBansal commented on #6239
*POINTS TO REMEMBER WHILE WRITING ISSUES IN ISSUE LIST*
1. The task should be unclaimed and unsolved.
2. Please provide a proper subjective title in the above list with reference to the issue number.
3. Please use Keywords ``GCI Dashboard`` when it is published on the GCI Dashboard(Future work).
4. Please have explanatory issues.
5. Please tag the issues with `gci-candidate` label. Please mark `ea

[2019-09-11 11:15] SidharthBansal commented on #6238
I have left some comments in #6239. All mentors are requested to follow them.

[2019-09-11 11:22] SidharthBansal commented on #6238
Only 11 responses for GCI mentors till yet. I was expecting more. Atleast 50 by now. Hurry up!

[2019-09-11 11:43] SidharthBansal opened #6270 "Weekly Community Check In 34: Welcoming the youth!"
Hi everyone 👋 !

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2019-09-11 11:48] SidharthBansal commented on #6205
Moved to #6270

[2019-09-11 12:51] sashadev-sky commented on #2365
This error is often coming up from dependencies and you cannot fix without updating. We came across a lot of them in MK in the past few months. after updates, they are all gone.

I think they are harmless, but annoying

[2019-09-11 13:14] simonastefan commented on #2365
While the warning is in the activerecord gem, the cause for this one is in the PL code. From the PR: Warnings caused by double association declaration: tag has_many node through 2 different tables. Only one is valid and still exists.
The two association both eventually trigger same constant creation in the gem.
`has_many :node, through: :drupal_node_tag do`
`has_many :node, through: :node_tag do`

[2019-09-11 13:41] sentry-io[bot] opened #6271 "Mysql2::Error::ConnectionError: Can't connect to MySQL server on 'db' (111 "Connection refused")"
Sentry Issue: [PLOTS2-DT](https://sentry.io/organizations/publiclab/issues/1217023682/?referrer=github_integration)

[code]

[2019-09-11 14:11] jywarren commented on #6271
Solved!

[2019-09-11 14:11] #6271 closed

[2019-09-11 14:45] jywarren commented on #2365
Great sleuthing. Let's remove `has_many :node, through: :drupal_node_tag
do` then -- does that sound right to people?

On Wed, Sep 11, 2019 at 9:14 AM Simona Stefan <notifications@github.com>
wrote:

[2019-09-11 15:01] jywarren commented on #6097
I noticed the edit button in the new sidebar is not visible in mobile-width devices. Could there be a relatively quick fix for this?

[2019-09-11 15:02] #6205 closed

[2019-09-11 15:02] jywarren commented on #6138
@namangupta01 is this correct? What do we need to change? Thank you!

[2019-09-11 15:04] SidharthBansal commented on #6270
@gauravano
@milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @p

[2019-09-11 15:05] SidharthBansal commented on #6270
@ananyaarun @ananya @publiclab-mimi @ananya @hc-barker @starkblaze01 @asquare @pdurbin @HarshKhandeparkar
@newbazz @aSquare14 @vaarigupta @alonpeer @aashna27 @harshithpabbati @jesus-montano @cryptoclidus @mohamed-elalem @konolga @gowtham5699
@jywarren @ebarry @steviepubliclab

[2019-09-11 15:16] jywarren commented on #6001
Just the profile author's content, in this "version" of the topic card.
It's a variant of the typical card we show on other pages, customized just
for this purpose.

Thanks, we'll look at getting a main-column top bar with icons appropriate
for this. We'll also have to think about wrapping it to 2 lines on mobile
devices. That can be its own issue!

On Tue, Sep 10, 2019 at 9:24 AM Stevie <notifica

[2019-09-11 15:18] jywarren commented on #6233
Aha! Do you have a suggested fix?

[2019-09-11 15:40] ebarry opened #6273 "comment posting error due to email service downtime"
### Please describe the problem

I attempted to post a comment, but was shown this error:

<img width="1280" alt="Screen Shot 2019-09-11 at 11 06 18 AM" src="https://user-images.githubusercontent.com/161439/64711833-403ea980-d488-11e9-99e8-4e6c572e978a.png">

I posted a second time, and got the same error. Then i left the tab open and went to do something else for a few minutes. Then i returned to

[2019-09-11 15:44] jywarren commented on #6273
Hi, I saw the initial error myself. I think this is due to the mailing system being down, so the failure to send email notifications is resulting in an error, although that happens after the comment is actually recorded.

Linking Sentry issue here re: email server outage. Should be an easy fix i think...

[2019-09-11 15:45] jywarren commented on #6273
`SocketError: getaddrinfo: Name or service not known` cc @icarito

[2019-09-11 16:02] namangupta01 commented on #6138
Let me check!

[2019-09-11 16:02] ebarry commented on #6270
hi all! last week and this week i've appreciated having time to really explore the new contributions that this summer's work has created on publiclab.org! Everything is looking great.

[2019-09-11 16:05] namangupta01 commented on #6138
This seems to be correct. Is it not working? If not have you also restarted the `nginx`?

[2019-09-11 16:35] SidharthBansal commented on #6233
I am trying. I am not able to reproduce it on my local. So, I asked for
server logs. That might help.
It is present on prod.

On Wed, Sep 11, 2019 at 8:48 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-09-11 17:56] jywarren commented on #5464
Hi! The modal is looking pretty good now, so I think i'm going to close this, but please feel free to re-open if I've misunderstood! Thank you!!!

[2019-09-11 17:56] #5464 closed

[2019-09-11 18:06] icarito commented on #6273
Hi @ebarry @jywarren indeed the `mailman` container was down. I've restarted it and it has stopped again with no discernible reason beyond `containers_mailman_1 exited with code 1`.

The last error in logs is:     (but doesn't seem to be a fatal)
[code]

[2019-09-11 18:46] icarito commented on #6273
Hi, I tried a few things including the full command list from Makefile and also removing / recreating the container, but it still crashes.
Here's a full log of a start->crash run.
http://paste.debian.net/1100148/

[2019-09-11 19:13] oorjitchowdhary commented on #6239
From last year's experience, I mainly faced problems in understanding the task/issue when reading on the GCI dashboard as it wasn't properly stated what's to be done, and also I think we should add a link to the respective files found in the codebase to fix the error, and the issue # on GitHub on the GCI task description itself.

[2019-09-11 19:16] jywarren commented on #6138
this was already in place on production, so it was restarted several times.
Is there another reason this wouldn't be working? Thanks!

On Wed, Sep 11, 2019 at 12:06 PM Naman Gupta <notifications@github.com>
wrote:

[2019-09-11 19:18] CoderJolly commented on #6238
Yes, will do it by the weekend.

[2019-09-11 19:37] #6088 closed

[2019-09-11 20:42] #6001 closed

[2019-09-12 01:33] icarito commented on #6273
Here's another one from http://paste.debian.net/1100189/
which I got from running `docker-compose run mailman`.

I think this isolates the issue!
** Mysql2::Error: Incorrect string value: '\xF0\x9F\x98\x83\x0D ...' for column 'comment' at row 1: INSERT INTO `comments` (`nid`, `uid`...**

[code]

[2019-09-12 01:34] icarito commented on #6273
I *believe* this means there's a message in the queue with characters which our database currently can't decode.

[2019-09-12 01:37] icarito commented on #6273
This is related to https://github.com/publiclab/plots2/issues/5817 as it seems to be the same kind of stuck message in queue kind of thing.

[2019-09-12 02:12] icarito commented on #6273
I tried reverting to this version of mailman_server https://github.com/publiclab/plots2/commit/2bc7b498ef3a05bc090ef26f316a30ec0104bcc6#diff-331c6244d78f698043a2591c25d75d1e and starting the container. I also set it to run every 60 (not 20) seconds.

[2019-09-12 02:21] icarito commented on #6273
Okay so the hotfix in https://github.com/publiclab/plots2/pull/6275/files has allowed the container to keep on running. I guess the longer delay will help it handle the queue. Let's keep an eye on it!

[2019-09-12 03:55] SidharthBansal commented on #6239
Sure! Nice suggestion!

On Thu, Sep 12, 2019, 12:43 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2019-09-12 13:52] newbazz opened #6278 "Chose a scoring system for gci students"
Discuss it with other mentors and have a proper method for scoring the gci participants.

[2019-09-12 14:38] ebarry opened #6279 "Inconsistent width of comments displayed when not logged in"
### Please describe the problem (or idea)

I was reviewing the dashboard, and noticed that there are two new comments on a research note that i am interested in: https://publiclab.org/questions/stevie/08-23-2019/what-are-best-practices-and-tools-to-help-clean-up-data-sets

Here is a screenshot of the two dashboard previews of the comments:

<img width="316" alt="Screen Shot 2019-09-12 at 10 30 12

[2019-09-12 20:55] ebarry opened #6281 "Remove pending content from moderators dashboard, move to /pending"
**Please describe the desired behavior.**

This feature request is part of improving the moderators experience on the site, in preparation for giving classroom teachers moderation privileges.

This feature request is to stop showing spam on /dashboard to moderator and/or admin accounts on publiclab.org. Instead, provide a link in the dashboard sidebar to a new page where pending content may be app

[2019-09-12 21:00] ebarry opened #6282 "For moderator accounts, add ability to turn off email at /settings"
**Please describe the desired behavior.**

This feature request is part of improving the moderators workflow, and was written with @jywarren and @bronwen9.

This feature request is to add the ability to turn of moderator emails per user at /settings.

This feature should only be shown to /moderators and /admins.

**Additional context (optional)**
<img width="646" alt="Screen Shot 2019-09-12 at 4 5

[2019-09-12 21:48] jywarren opened #6285 "Welcome, winter 2019 Outreachy applicants! And: seeking mentors!"
Hello folks from Outreachy - we wanted to say WELCOME and create this issue as a discussion zone. Please leave a comment to say hello, in part so we know who's interested in the program! @publiclab/reviewers @publiclab/plots2-reviewers @publiclab/mentors please keep an eye open for opportunities to welcome and support our Outreachy applicants! 👍 🎉

Our project this year is:

You can find it when y

[2019-09-13 07:47] sashadev-sky commented on #3316
this issue has been solved via #4544! Thank you!

[2019-09-13 07:47] #3316 closed

[2019-09-13 08:13] rexagod commented on #6285
Count me in!

Pranshu Srivastava | @rexagod

On Fri, 13 Sep 2019, 10:07 Isha Gupta, <notifications@github.com> wrote:

[2019-09-13 08:18] SidharthBansal commented on #6270
Loved to see Outreach winter!

On Fri, Sep 13, 2019, 9:11 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-09-13 08:24] SidharthBansal commented on #3340
Sasha it will be great if you can open up a new issue and close this one.
We don't want misunderstanding for Gci candidates.

On Fri, Sep 13, 2019, 8:47 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-09-13 08:24] SidharthBansal commented on #6278
Please add a comment in call for mentors that "scoring system is discussed
in #6278".
Thanks for opening it on my suggestion!

On Thu, Sep 12, 2019, 7:23 PM newbazz <notifications@github.com> wrote:

[2019-09-13 08:29] SidharthBansal commented on #6285
Count me in.
Hi folks! Please fill the mentor application for Public Lab at official Outreach website if you are interested.
Thanks for making PL a wonderful place to collaborate.

[2019-09-13 10:11] newbazz commented on #6238
In call for mentors to discuss the scoring system for gci. Please comment your views on this issue https://github.com/publiclab/plots2/issues/6278

[2019-09-13 10:34] ananyaarun commented on #6285
Wow this is a very interesting project !! - "Refine Geographic UI and JS Integration for PublicLab.org"
Would love to help the winter round outreachy interns :)

@SidharthBansal I don't think everyone has access to the outreachy website unless you were an intern or mentor previously. I don't see any such official application form on their site atm. Am i missing something ?

[2019-09-13 15:45] SidharthBansal commented on #6285
I think you need to sign in there and then you can be a mentor. This was in
the past.

On Fri, Sep 13, 2019 at 4:04 PM Ananya Arun <notifications@github.com>
wrote:

[2019-09-13 16:01] SidharthBansal commented on #6097
Great Lekhika!

On Fri, Sep 13, 2019 at 8:10 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-09-13 18:02] jywarren commented on #6285
Thanks all!!! Yes, this is putting an eye towards final integration as the
project would happen in Dec/Jan. We're hoping a lot of work will happen
between now and then but that there'll be some great final-stage
integration work and smoothing that will be an interesting project and a
great chance to complete and wrap up all this work that's happened to date.
Thanks!

On Fri, Sep 13, 2019 at 11:45

[2019-09-13 18:13] jywarren commented on #6179
I think this is correct. There are a couple options --

1. we could maybe specify somehow in Capybara that it doesn't need to be visible to use (weird but basically if `fade` is affecting the timing when you can actually interact with elements, then maybe this would help). I think there is a `visible` parameter that is used in some tests.
2. we could just remove `fade` and be OK with the modals ap

[2019-09-13 18:17] jywarren opened #6290 "Resolve coverage reporting issues with CodeCov"
After #5931, @kaustubh-nair opened #5954 to switch our test coverage reporting to CodeCov. But there is some issue with coverage esp with the separately threaded tests we have running now. We'd love help debugging/resolving this if anyone has some experience with Travis and coverage monitoring!

[2019-09-13 18:18] jywarren commented on #6290
Ideally we'll be starting to get a nice coverage graph like this!

![image](https://user-images.githubusercontent.com/24359/64885138-550a7100-d631-11e9-8d3a-ca4ba1f22605.png)

In each PR. Of course, ideally it'd all be green 😄

[2019-09-13 18:46] jywarren commented on #5842
OK, i worked a bit on this, and used @enviro3's collected samples of autoreplies from Outlook, Yahoo, and Gmail in addition to @patcon's collected properties to filter for, and wove them together into a `Comment.is_autoreply()` function.

expanded on @enviro3's tests to create tests to properly identify autoresponses and non-autoresponses; once those properly run, i have filtering code ready to te

[2019-09-14 13:19] sharmamansi commented on #5173
Hi , @IshaGupta18  can i work on this?

[2019-09-14 13:37] IshaGupta18 commented on #5173
Sure!

On Sat, Sep 14, 2019, 6:49 PM sharmamansi <notifications@github.com> wrote:

[2019-09-14 15:35] debck commented on #6239
Hello @sashadev-sky  I think we can add these to the task list too https://github.com/publiclab/plots2/issues/3534 , https://github.com/publiclab/plots2/issues/5181

[2019-09-14 15:37] jywarren opened #6293 "Mysql2::Error::ConnectionError on Travis"
Travis is showing this error on all PRs now; https://github.com/publiclab/plots2/pull/6283, https://github.com/publiclab/plots2/pull/6289, and https://github.com/publiclab/plots2/pull/6291 are all affected.

`Mysql2::Error::ConnectionError: Can't connect to MySQL server on '127.0.0.1' (111 "Connection refused")`

Noting possible relationship to this Sentry error: https://github.com/publiclab/plots

[2019-09-14 15:39] jywarren commented on #6293
Example log: https://travis-ci.org/publiclab/plots2/jobs/584610576

[2019-09-14 15:46] jywarren commented on #6293
* [Travis tracker](https://travis-ci.community/search?q=mysql%20connect) doesn't seem to show an issue.
* MapKnitter is not showing this either.
* Dockerfile, docker-compose, Gemfile havent' been changed since early August or earlier

[2019-09-14 16:48] jywarren opened #6294 "Create new question page (following style guide!)"
#1994 describes the new design style guide, and we now have new designs for the basic Note and Wiki pages. But the Questions page is still looking a bit old. We should make the questions page use the same template as the notes page, so it is similarly cleaned up. We may need to preserve the "related questions" on the sidebar. But otherwise let's get it looking nice and minimal again!

We'd love he

[2019-09-15 07:00] icarito commented on #6293
Hi all,
This is too bad, I am guessing travis is busier for some reason maybe Mysql is taking longer to start? I tried extending the timeout to 10 and it seemed to go better: https://travis-ci.org/publiclab/plots2/builds/585131767?utm_source=github_status&utm_medium=notification (3 out of 5 test jobs passed, only 1 failed with mysql error). I'll try setting it to 15, we may want to add a "wait_for

[2019-09-15 07:12] icarito commented on #6293
I'm trying out a longer delay in https://github.com/publiclab/plots2/pull/6283

[2019-09-15 07:15] icarito commented on #6293
![imagen](https://user-images.githubusercontent.com/199755/64918066-9187bb00-d75e-11e9-9d06-496f015a915f.png)

Seems to have worked for #6283!
(the failed functional test actually is a failed test, not a testing error).

So a quick solution is setting sleep to 15 in travis, @jywarren !

[2019-09-15 07:26] icarito commented on #6293
I made a small PR as a starting point with this first solution https://github.com/publiclab/plots2/pull/6295

[2019-09-15 18:17] sashadev-sky commented on #3340
Ok if we want to keep it can either you or @gauravano please re-open with code links :)

[2019-09-15 18:26] sashadev-sky commented on #3681
@jywarren @SidharthBansal I was discussing with @gauravano in a PR to update a code of conduct the possibility of just using one organization wide `.github` folder for these types of files: https://help.github.com/en/articles/creating-a-default-community-health-file-for-your-organization.

It would require creating a repository for storing default files, and then deleting it from every repo. I thi

[2019-09-15 18:46] sashadev-sky commented on #3534
Hi, I am closing this because we have gotten rid of the `answers` editor and just have `comments` now, which was working fine. We can open specific issues for the other surrounding issues with the buttons

[2019-09-15 18:46] #3534 closed

[2019-09-15 19:11] sashadev-sky opened #6296 "Issues with PL Questions page - break this up"

[2019-09-15 19:13] #6296 closed

[2019-09-15 19:13] sashadev-sky opened #6297 "Issues with cross-wired comment preview buttons - break this up"
# Problem

Heres the page used for gif and screenshot: https://publiclab.org/questions/nickyshen0306/09-12-2019/how-to-design-a-camera-for-calculating-endvi

Easier to just show... the preview button on an editor should not be coupled to multiple editors on the page:

![exx](https://user-images.githubusercontent.com/41092741/64926446-8e76e400-d7cb-11e9-9069-75a94e3f645c.gif)

Besides being unusual

[2019-09-15 19:24] sashadev-sky commented on #6239
@debck I updated #3534 to #6297 which is now at the bottom of this page. would you want to check out #5181 confirm its what needs to be done, rewrite and add to list?

[2019-09-16 11:51] debck commented on #6239
Yes, it is a good fto issue. So, I think it should be added to the list.

[2019-09-16 13:37] steviepubliclab opened #6299 "power tag not working on all pages"
# Please describe the problem (or idea)

I was looking to add a power tag on https://publiclab.org/wiki/glossary to make https://publiclab.org/about a parent page for it, however the power tag feature isn't working on this page. Perhaps because this is one of the wikis without the wiki/about?

[2019-09-16 14:11] ebarry commented on #6282
Here is a tiny additional goal: update the email address listed in the upper right left sidebar to be `moderators@publiclab.org` instead of `organizers@publiclab.org` on /spam

On **https://publiclab.org/spam**

<img width="333" alt="Screen Shot 2019-09-16 at 10 08 36 AM" src="https://user-images.githubusercontent.com/161439/64965074-5377bd80-d86a-11e9-92b6-eddec534c231.png">

[2019-09-16 14:13] CleverFool77 commented on #6294
Hi @jywarren Is there new design draft for this design ?

[2019-09-16 14:20] ebarry commented on #6273
FYI i've now deleted these autoresponder messages from our site

[2019-09-16 14:51] jywarren commented on #6293
Great, thank you!

[2019-09-16 14:51] #6293 closed

[2019-09-16 15:02] StlMaris123 commented on #4916
![Screenshot from 2019-09-16 17-59-42](https://user-images.githubusercontent.com/13062617/64969188-1c2a0080-d8ac-11e9-8858-c2ee3e6d425b.png)

[2019-09-16 15:53] steviepubliclab opened #6301 "Uploading CSVs in questions"
**Please describe the desired behavior.**
Hi, I've been working with a community member on this question https://publiclab.org/questions/stevie/08-23-2019/what-are-best-practices-and-tools-to-help-clean-up-data-sets#c25454. He has been trying to upload a couple CSV files into the question so people can put some eyes on his data, but we haven't been able to get them to upload.

[2019-09-16 16:09] jywarren commented on #6299
Hi Stevie, the `/about` page is a special page and it had some old metadata attached to it. I was able to log into the database and delete it, and now it works. I also fixed ~12 other pages similarly affected. Thanks for reporting!

[2019-09-16 16:09] #6299 closed

[2019-09-16 16:15] jywarren commented on #6179
I'll try removing `fade` across the project!

[2019-09-16 16:22] SidharthBansal commented on #6239
Debasish go ahead. Please don't forget to add labels and link it over here.
Thanks

On Mon, Sep 16, 2019 at 5:21 PM Debasish Sahoo <notifications@github.com>
wrote:

[2019-09-16 16:24] SidharthBansal commented on #3681
Sounds good!
Can you please explain the advantages and disadvantages of this approach in
detail?
Also please explain the directory structure. I mean whether there will be a
single PL repo with plots2, MK, SWB etc. OR what?
Sorry, I can't understand it completely. But +1 for decreasing redundancy.

On Sun, Sep 15, 2019 at 11:56 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-09-16 16:26] SidharthBansal opened #6303 "Correct Sign-up Form Validation message"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

# Problem

When a user tries to submit an empty sign up form, and also does not check off the recaptcha box, This output is shown:

![image](https://user-images.githubusercontent.com

[2019-09-16 16:27] SidharthBansal commented on #3340
Moved to #6303
@sashadev-sky it will be great if you use `hide` feature instead of `delete` feature.
Thanks for help!

[2019-09-16 16:32] SidharthBansal commented on #6303
Codelinks
1. Sign Up form - https://github.com/publiclab/plots2/blob/master/app/views/users/_create_form.html.erb
2. Dynamic form - https://github.com/publiclab/plots2/blob/5c0d96274bd0be15feba69d8f30093082402ace5/lib/dynamic_form/action_view/helpers/dynamic_form.rb
3. Local files - https://github.com/publiclab/plots2/blob/3a96771279cf4fbf31ff6279f99f068a6d7a2a47/config/locales/en.yml

[2019-09-16 16:41] SidharthBansal commented on #6285
Steps to become a mentor
1. Authenticate at Outreachy.org
2. Go to `Volunteers` on the upper navigation bar
3. Click on `Co-mentor`
4. Choose `Public Lab` from the list.
5. Select a project to co-mentor (Refine Geographic UI and JS Integration for PublicLab.org)
6. Fill in the form
7. Wait for the approval from mentors.

[2019-09-16 16:43] #6179 closed

[2019-09-16 16:48] skilfullycurled commented on #5627
@jywarren, just be careful, that's actually a load bearing pin.  : P

![load_bearing_poster](https://user-images.githubusercontent.com/950291/64976805-2f26db80-d880-11e9-862d-97349275d1ef.gif)

[2019-09-16 17:09] ebarry commented on #6285
Hi! I'm working a lot on the moderation workflow this week. :D

[2019-09-16 17:12] ananyaarun commented on #6285
Here is a direct link to the mentor application form i think -
https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/public-lab/refine-geographic-ui-and-js-integration-for-public/cfp/mentor/submit/

[2019-09-16 17:24] ViditChitkara commented on #6238
I am in!! 😄

[2019-09-16 17:46] #5089 closed

[2019-09-16 18:10] jywarren commented on #6297
Hi @sashadev-sky - thanks for the great documentation. I wanted to CC @ViditChitkara who worked on this recently as did @gauravano -- the relevant code is here:

https://github.com/publiclab/plots2/blob/f29f90d6690d5a3c6d578221af79c0cd2b7bafee/app/views/comments/_form.html.erb#L92-L100

I believe the `Publish` button works properly - independently, that is. But my initial thought on the `Preview`

[2019-09-16 18:21] jywarren commented on #6247
Just summarizing where we are:

1. we'll show `X contributors | Y followers (?)` in the card, and adopt that vocab across the site

And questions left:

1. now that both contributors and followers are represented on /contributors/____ (by @IshaGupta18 in #5089) we should circle back to how those lists are shown, from [the above comment](https://github.com/publiclab/plots2/issues/6247#issuecomment-

[2019-09-16 19:11] jywarren commented on #6138
Hi @namangupta01 just wondering if there's anything else we need to change?

[2019-09-16 19:34] namangupta01 commented on #6138
As far as I think this is enough to make it work. Isn't it working now after restarting `nginx`?

[2019-09-16 19:35] namangupta01 commented on #6138
If it's not working then let me know I will do some further digging.

[2019-09-16 19:40] ebarry commented on #6247
The mockup for your second point looks great @jywarren ! let's do the `# posts by # contributors | # followers`

For your first question, i like you suggestion that "Contributors then need an icon to show if they are  also following", and then have a separate list for those who are only following.

Thanks!!!!! 💃

[2019-09-16 19:51] jywarren opened #6304 "Reorganize /contributors/___ pages"
(follow-up to https://github.com/publiclab/plots2/pull/5632) cc @IshaGupta18 🙌

We now show 2 types of users on our contributor pages like https://publiclab.org/contributors/water-quality

1. contributors - who have posted using this topic or commented on this topic
2. followers - who are following this topic and will get notified when new content is posted to it

They're a bit messily next to eac

[2019-09-16 20:04] jywarren opened #6305 "Add `# posts by # contributors | # followers` to tag pages"
We have 2 types of users we'd like to show counts for on pages like https://publiclab.org/tag/water-quality

1. `contributors` - who have posted using this topic or commented on this topic
2. `followers` - who are following this topic and will get notified when new content is posted to it

We'd like to list them just below the main image banner of the page, where it has small `by views` and `by li

[2019-09-16 20:14] jywarren opened #6306 "Add counts to `by type` dropdown on tag pages"
![image](https://user-images.githubusercontent.com/24359/64982363-073d7500-d88c-11e9-844b-99bdaedf64e6.png)

On our new tag pages, let's add counts to each type in the `By Type` dropdown:

![image](https://user-images.githubusercontent.com/24359/64989752-34921f00-d89c-11e9-871e-e389579f6554.png)

Each type can be counted a different way, and should use a 'pill badge' from the Bootstrap UI library:

[2019-09-16 20:15] jywarren commented on #6306
Related to https://github.com/publiclab/plots2/issues/6305 too!

[2019-09-16 20:15] jywarren commented on #6247
Broke up the take-aways from this and opened:

* https://github.com/publiclab/plots2/issues/6304
* https://github.com/publiclab/plots2/issues/6305
* https://github.com/publiclab/plots2/issues/6306

Thank you! Closing here and opening a new issue to get into navigation discussion.

[2019-09-16 20:15] #6247 closed

[2019-09-16 20:21] jywarren commented on #5842
#6289 was just merged, potentially solving this. Just wanted to say thanks to:

* @bronwen9 and @ebarry for clearly identifying and describing the issue, with examples
* @enviro3 for carefully and thoroughly collecting sample emails and building tests around them
* @patcon for finding the filter terms to look for

I hope this is resolved, but we'll have to wait and see -- it's a pretty complex lit

[2019-09-16 20:21] #5842 closed

[2019-09-16 20:23] jywarren commented on #5842
And noting that, since the basic mechanism is built now, we can continue to add more sample emails from other email systems, and more precise mail filters, building on #6289 as we go.

[2019-09-16 20:25] jywarren opened #6307 "UI discussion of individual tag page content"
![image](https://user-images.githubusercontent.com/24359/64987754-df540e80-d897-11e9-8fc8-b1ac8363f97b.png)

Our individual tag pages, such as at https://publiclab.org/tag/water-quality, follow the [style guide draft](https://publiclab.org/notes/warren/05-07-2019/introducing-a-draft-style-guide-for-public-lab) -- let's discuss specifics of how the collection of content below the main top "hero" ar

[2019-09-16 20:25] jywarren commented on #6247
And picking up discussion of navigation on the individual tag page here: https://github.com/publiclab/plots2/issues/6307

[2019-09-16 20:36] jywarren commented on #6307
Also just noting that the Style Guide guidance for post cards (actually esp the wiki example) shows space for sub-items, which would nicely fit comments:

![image](https://user-images.githubusercontent.com/24359/64991099-33aebc80-d89f-11e9-9326-24f142cbc5cf.png)

I think we could rework that here a bit:

![image](https://user-images.githubusercontent.com/24359/64991529-09a9ca00-d8a0-11e9-9eb4-2572

[2019-09-16 21:25] ebarry commented on #6304
great plan!

[2019-09-16 21:26] ebarry commented on #6305
Great! This will add a lot of helpful context at-a-glance to these type of pages

[2019-09-16 22:22] dinaelhanan commented on #6294
@jywarren @CleverFool77 sorry for my absense the past few months! It was a busy time with family, friends, work and school so I took some time off of github. I'll be a lot more active the coming months so you'll see me around more often :) This looks like a good issue for me to start on. I think @CleverFool77 tried to update the design for the questions page in #5948 but her changes weren't applie

[2019-09-17 01:30] ebarry commented on #5842
Very cool!!!!!!!!
Thanks all

On Mon, Sep 16, 2019, 4:23 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-09-17 05:22] enviro3 commented on #5842
Thank you @jywarren for wrapping this up! much appreciated

[2019-09-17 13:17] anna-dorigo commented on #6306
Hi everyone! this is my very first time helping in an open source project and I would like to help with this feature if thats ok?

[2019-09-17 13:26] jywarren commented on #6306
We'd love the help! However just noting that this hasn't (yet) been
formatted as a first-timers-only issue so we haven't broken it down step by
step. If it seems like you are comfortable taking it on, please go ahead!
But if you'd like we can go through and add some more information and hints
to help you out. Thanks a bunch for your help!

On Tue, Sep 17, 2019, 9:18 AM Alejandra <notifications@git

[2019-09-17 13:42] anna-dorigo commented on #6306
I did the fork and the clone in my computer, Im trying to get the environment running locally, I will let you guys know if I get stuck somewhere. Thanks so much for the opportunity!

[2019-09-17 14:10] jywarren commented on #6306
Great! There are some resources here on getting the environment running:
https://github.com/publiclab/plots2/issues/3840

Thank you too!

On Tue, Sep 17, 2019 at 9:42 AM Alejandra <notifications@github.com> wrote:

[2019-09-17 14:12] jywarren commented on #6138
No, it seems not to be working. Nginx has been restarted several times
since this config was added. Can you do some additional digging? Thank you!

On Mon, Sep 16, 2019 at 3:35 PM Naman Gupta <notifications@github.com>
wrote:

[2019-09-17 14:23] jywarren commented on #6294
We don't have a new design sheet for this. But it should be almost identical to the notes page design in the style guide, with the addition of the sidebar listing of related questions. Ideally we'd be able to consolidate the templates - perhaps we could just use the notes template instead of the current questions one?

@dinaelhanan we're so happy to see you! Glad to hear it! On the design @CleverF

[2019-09-17 14:54] saurabhkanswal commented on #6285
@jywarren how I can apply for outreachy intern?

[2019-09-17 14:57] IshaGupta18 commented on #6285
Hey! You can, however, Outreachy is mostly for underrepresented groups in
technology, in the hope to make the tech world more diverse. If you think
you fit in that category, you can apply!

On Tue, Sep 17, 2019, 8:24 PM Saurabh Kanswal <notifications@github.com>
wrote:

[2019-09-17 15:03] saurabhkanswal commented on #6285
@IshaGupta18 I am a little bit confused. what Publiclab is looking for? a outreachy intern or outreachy mentors.

[2019-09-17 15:06] IshaGupta18 commented on #6285
Both actually, you have to decide what you want to do. Mentors are people
from within the organization, however people from outside are welcome to
mentor as well, if they contribute and get some idea of atleast one of the
codebases. Outreachy applicants or interns, are the people who will be
working on the projects. Do you have some clarity now?

On Tue, Sep 17, 2019, 8:33 PM Saurabh Kanswal <noti

[2019-09-17 15:14] debck commented on #6278
I was thinking of labeling issues as easy-work, medium, or hard and then adding specific points to each task. And then the contributor can be easily evaluated according to the score plus his involvement with the community and other measures.

[2019-09-17 15:15] saurabhkanswal commented on #6285
@IshaGupta18 thanks for your answer. so how i can apply for outreachy intern? should I firstly make some contribution to any codebase?

[2019-09-17 15:19] IshaGupta18 commented on #6285
Absolutely! I would recommend that you go Outreachy's official site and
read some guidelines about how to become an intern and contribute and
whether or not, you fit in an apt category to become an Outreachy intern.

On Tue, Sep 17, 2019, 8:45 PM Saurabh Kanswal <notifications@github.com>
wrote:

[2019-09-17 15:21] IshaGupta18 commented on #6278
I think we should have a little more detailed description on the points
system, and discuss it thoroughly, as it will be fixed once decided and we
won't be able to change it once GCI begins.

On Tue, Sep 17, 2019, 8:45 PM Debasish Sahoo <notifications@github.com>
wrote:

[2019-09-17 15:36] SidharthBansal commented on #6285
Hi Saurabh,
Please check the eligibility criterion for Outreachy Students, I think
India can participate in summers only. If you are Indian(which I think you
are), then you cannot apply as a student.
However you can participate as a mentor
Thanks all!

On Tue, Sep 17, 2019 at 8:49 PM Isha Gupta <notifications@github.com> wrote:

[2019-09-17 15:43] SidharthBansal commented on #6238
Great!

On Mon, Sep 16, 2019 at 10:54 PM Vidit <notifications@github.com> wrote:

[2019-09-17 15:57] jywarren commented on #6294
Also noting that there is a "tidying up the header" issue open here which applies equally to Wikis, Notes, and Questions:

https://github.com/publiclab/plots2/issues/5956

That'd be a great follow-up to this on!

[2019-09-17 16:31] saurabhkanswal commented on #6285
@SidharthBansal I think you are right. maybe I apply next year in summer. thanks for support.

[2019-09-17 16:43] jywarren commented on #6301
Thanks for reporting, I tried a very small CSV but have also asked Crispin to email me the ones he had trouble uploading: https://publiclab.org/questions/stevie/08-23-2019/what-are-best-practices-and-tools-to-help-clean-up-data-sets#c25527

[2019-09-17 16:47] SidharthBansal commented on #6285
Thanks for checking the eligibility criterion. You can apply as a mentor!

On Tue, Sep 17, 2019 at 10:01 PM Saurabh Kanswal <notifications@github.com>
wrote:

[2019-09-17 17:55] newbazz commented on #6278
Okay yes it makes sense to have some sort of labels for the issues. Let us first begin by mentioning all the types of issues that can be there for a gci student like `typo`, `css fixing` etc and rate them accordingly. Firstly make buckets so as to fit all of the issues and keep a scoring system for the individual bucket.

[2019-09-17 19:40] SidharthBansal commented on #6278
+1 for labels like hard medium and easy.

On Tue, Sep 17, 2019 at 11:25 PM newbazz <notifications@github.com> wrote:

[2019-09-17 19:41] IshaGupta18 commented on #6278
Yes, but they won't be enough

On Wed, Sep 18, 2019, 1:10 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-09-18 07:17] newbazz commented on #6278
@IshaGupta18 yes we know that they wont be enough, that is why we have proposed an idea to list down all the types of issues that a gci can get to solve, and according to the same, we can make further categories.
Someone can volunteer and make a google doc, share the editable link here so that one can add/edit to the list.

[2019-09-18 13:44] CleverFool77 commented on #6306
Hi @jywarren @anna-dorigo How about showing the count in `badges` instead of simply displaying ?
https://getbootstrap.com/docs/4.3/components/badge/

[2019-09-18 15:19] jywarren commented on #6306
agreed! That'd be great!

[2019-09-18 16:30] anna-dorigo commented on #6306
Perfect! working on it!

[2019-09-18 17:16] anna-dorigo commented on #3840
Hi Guys!

I have a problem, when running rake db:setup I get this error:

rake aborted!
Mysql2::Error::ConnectionError: Access denied for user 'alejandra'@'localhost' (using password: NO)

The config\database.yml looks like this:

[code]

TIA!!!

[2019-09-19 13:24] newbazz commented on #6278
@aSquare14 @aashna27 @vaarrigupta @alonpeer @konolga @jesus-montano @CoderJolly @ananyaarun @sashadev-sky @Divy123 @oorjitchowdhary

[2019-09-19 17:09] CoderJolly commented on #6305
Could I take this issue ?

[2019-09-19 21:27] anna-dorigo commented on #6306
UPDATE: Local environment working and started diving into the code

[2019-09-20 17:43] jywarren commented on #2497
This is completed, though being debugged in https://github.com/publiclab/plots2/issues/6138!

[2019-09-20 17:43] #2497 closed

[2019-09-21 11:49] sashadev-sky commented on #6278
As far as labels go, google code-in gives some [guidelines](https://developers.google.com/open-source/gci/faq#tasks):
- we should categorize tasks in one of the 5 category labels so people can filter
- it says students are able to do 2 "beginner" tasks max - so I was just thinking `beginner`, `medium`, `hard` is sufficient.

I designed a scoring / label system in this doc that (I think?) fits the

[2019-09-21 18:44] IshaGupta18 commented on #6278
Hey, can I get the access to the document as well, I would like to view the
scoring scheme and suggest changes if there are any!

On Sat, Sep 21, 2019, 5:19 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-09-21 19:38] debck commented on #6278
I would also like to have the access. I can suggest something if any.
debck7019@gmail.com

[2019-09-22 06:19] sashadev-sky commented on #6278
sorry forgot it was private! I guess its best to leave it private.. I shared with @debck @oorjitchowdhary @jywarren and a few other emails I have already. I will need the rest of your emails to share! Just click on share button on the link to request access @IshaGupta18

[2019-09-22 06:20] sashadev-sky commented on #6278
Also people I have added have the rights to add anyone else so go ahead if you guys know eachotheres email

[2019-09-22 06:36] sashadev-sky commented on #6278
Ok the following people still need to be added @newbazz @IshaGupta18 @aashna27 @jesus-montano @CoderJolly @Divy123 @ViditChitkara @CleverFool77

[2019-09-22 06:45] sashadev-sky commented on #6297
@jywarren ok hopefully one of them @gauravano @ViditChitkara can either solve this or open it up as  a GCI task! Then I can close this. I would put this as a "medium" task given that you provided the solution

[2019-09-22 08:03] newbazz opened #6314 "Refactor the code according to the coding standards"
Please mention all the files that you find are not according to the defined standards of the programming language.

[2019-09-22 08:07] newbazz commented on #6278
@sashadev-sky really appreciate your efforts. I think the doc seems okay. One more suggestion from my side is, I have noticed that the code whether ruby or js, doesn't confine to the coding standards of the specified language, that is what needs to be added as a beginners issue as well.

[2019-09-22 08:46] sashadev-sky commented on #6278
@newbazz yes I have always thought that really really neeeds to be fixed add it on

[2019-09-22 08:47] sashadev-sky commented on #6278
@newbazz I think it can be medium as well. The user should document the standards first, then fix them.

[2019-09-22 08:48] sashadev-sky commented on #6278
rememeber beginner issues are limited to 2. anyone have any idea how many that means we should make?

[2019-09-22 08:50] newbazz commented on #6278
The standards are already fixed for programming languages which we use like ruby and javascript. We also have linters, we can add the lint tests in continuous integration as well.

[2019-09-22 08:51] newbazz commented on #6278
It depends on the students PL gets this year :P

[2019-09-22 09:28] Anupam-dagar commented on #6304
@jywarren I would like to take this up.

[2019-09-22 09:30] IshaGupta18 commented on #6304
Go ahead! Let me know if you need some help!

[2019-09-23 13:38] jywarren opened #6318 "Mobile width issue in new questions page"
https://publiclab.org/questions_shadow is our new questions page, but the bottom section doesn't flow properly on mobile browsers. We'd love some help sorting this out using the Bootstrap UI library!

![Screenshot_20190923-093633](https://user-images.githubusercontent.com/24359/65430381-d3130880-dde5-11e9-815f-ba6ee4243ecb.png)

[2019-09-23 14:07] #6005 closed

[2019-09-23 14:46] jywarren opened #6319 "Adding tags doesn't show without page refresh"
We used to have a means to show new tags when you submit them without needing to refresh the page, but right now, they aren't showed:

![image](https://user-images.githubusercontent.com/24359/65435929-48cfa200-ddef-11e9-97c6-dcdcfbc40e58.png)

Also, when we don't have any tag, nothing is shown - we should show a message like simply `Add tags`?

[2019-09-23 15:56] anna-dorigo commented on #6306
QUESTION: Im adding dummy posts, questions and wikis to my local dababase. Im using the following suggested calls:

For this I get posts and questions added:
`Tag.find_nodes_by_type([tagname], 'note', false).count `

For this I get 0 even though there are questions
`Tag.find_nodes_by_type("question:#{tagname}", 'note', false).count`

For this I get the right amount of wikis
`Tag.find_nodes_by_type

[2019-09-23 16:02] jywarren commented on #6306
Awesome! Uh hmmm. Are the questions tagged with `question:TAGNAME`
appropriately?

One thing you can do is to add your test content to the test fixtures, and
write a unit test in /test/unit/tag_test.rb which shows that `
Tag.find_nodes_by_type("question:#{tagname}", 'note', false).count` should
work -- i believe there are already test "question" posts in the test
fixtures as well, so you may be ab

[2019-09-23 16:05] #5173 closed

[2019-09-23 18:09] jywarren commented on #6319
Working on this! Almost done :-)

[2019-09-23 19:00] steviepubliclab commented on #6253
Hi! another one related to this. I noticed when you click 'research notes" on profile pages, it also shows questions people have asked. On the old profile page format these were separated. Can we separate them again?

[2019-09-23 19:03] steviepubliclab opened #6320 "Table misaligned on /projects"
Hello!

The table on the bottom of this page is showing up misaligned for me https://publiclab.org/wiki/projects.
<img width="715" alt="Screen Shot 2019-09-23 at 3 02 21 PM" src="https://user-images.githubusercontent.com/7490478/65454506-3e270400-de13-11e9-9e85-14e74350cfb7.png">

I'm using Chrome.

[2019-09-23 19:26] steviepubliclab opened #6321 "Change "likes" to "comments" on embedded questions tables"
Hello!
I'm interested in changing the tables that are embedded with the inline tag [questions:__] to include the number of "comments" on each question rather than the number of "likes" each question has received. I think for this one, it's a better indication of activity. Here's an example of an embedded questions table where a change like this could help:

https://publiclab.org/wiki/spectrometry#

[2019-09-23 19:33] jywarren commented on #6097
I think i've got the edit button fix in my big new PR here: #6322 -- lots of fixes there!

[2019-09-23 19:53] steviepubliclab opened #6323 "Suggestions for new questions page"
Hello! I'm looking at the new draft for the /questions page (https://publiclab.org/questions_shadow) and wanted to start a thread for suggestions on it.

1) I'm interested in seeing the need for "questions:___" to come out of the tag line. I'm wondering if we can change the system here so any regular tags added to the /questions page get this power tag on the back end rather than having this somet

[2019-09-23 19:54] jywarren commented on #6320
Not sure why this is happening! But, the template is here:

https://github.com/publiclab/plots2/blob/cba54993c9e42dd10c7ecb58be45f33a6f4335c4/app/views/grids/_wikis.html.erb#L12-L23

Thanks for reporting!

Maybe it's the `d-none` and `d-md-inline` classes someone added there? We could try removing them. To see how one of these is made, see https://publiclab.org/wiki/power-tags

[2019-09-23 19:59] jywarren commented on #6323
Hi! On #2, real quick, this would replace the /questions page!

There is more about this page design here:
https://publiclab.org/notes/warren/04-22-2019/user-interface-projects-update-and-dial-osc-project-recap#Questions+page

On Mon, Sep 23, 2019 at 3:54 PM Stevie <notifications@github.com> wrote:

[2019-09-23 20:03] jywarren commented on #6323
Re: topics, that section seems not to have made it into this version but it's supposed to be there from the mockup:

![Screen Shot 2019-09-23 at 4 02 57 PM](https://user-images.githubusercontent.com/24359/65458491-b2fe3c00-de1b-11e9-9e16-f4b2b6ed6f75.png)

Zoomed in:

![image](https://user-images.githubusercontent.com/24359/65458505-b98cb380-de1b-11e9-8d2e-79701c0d6d1f.png)

Let me get that fixed!

[2019-09-23 20:05] jywarren commented on #6323
Actually i see that in the original design, clicking `soil` would open a tag card that displays a list of `soil` questions. What do you think of that @steviepubliclab ? We went over this a million years ago so I had totally forgotten this little "switcher" but it shouldn't be too hard to generate.

[2019-09-23 20:07] jywarren commented on #6323
Here it is updated to the latest style guide:

![image](https://user-images.githubusercontent.com/24359/65458715-37e95580-de1c-11e9-8fee-31a870f02d5f.png)

[2019-09-23 20:08] jywarren commented on #6323
The code that drives this is here; currently it's set up to show just "recent questions" instead of questions by topic:

https://github.com/publiclab/plots2/blob/cba54993c9e42dd10c7ecb58be45f33a6f4335c4/app/views/questions/index_shadow.html.erb#L47-L51

[2019-09-23 20:12] jywarren commented on #6323
Finally, regarding your first point, @steviepubliclab - do you mean, you'd like `question:general` to be removed from the form, here?

![image](https://user-images.githubusercontent.com/24359/65458990-da093d80-de1c-11e9-8bd7-1dfe81a7703a.png)

[2019-09-23 20:16] jywarren commented on #6319
Solved in #6322

[2019-09-23 20:35] jywarren commented on #6301
OK, I found the error, but still trying to understand it:

`ActiveRecord::RecordInvalid: La validación falló: Photo has contents that are not what they are reported to be`

[code]

Linked to this maybe: https://github.com/thoughtbot/paperclip/issues/1924

[2019-09-23 20:56] jywarren commented on #6301
OK, my theory (and i think i have a fix):

1. small CSVs upload with proper `text/plain` content type
2. large CSVs upload with `application/octet-stream`

So, my initial fix made large CSVs work. But small ones stopped working. Now I'm trying to allow both types.

[2019-09-23 21:31] #6301 closed

[2019-09-23 21:50] #6319 closed

[2019-09-23 21:58] jywarren commented on #6301
We'll want the graph to look very roughly like this:
![image](https://user-images.githubusercontent.com/24359/65466041-bdc0cd00-de2b-11e9-9e86-11c9fe52ac0c.png)

[2019-09-23 22:15] jywarren commented on #6301
Linking this thread back to Isha's work here: https://publiclab.org/notes/IshaGupta18/08-26-2019/google-summer-of-code-2019-final-work-product-isha-gupta#c25570

[2019-09-24 10:39] CleverFool77 commented on #6097
Thanks for the fix @jywarren .
My exams has ended finally. I'll look for other fixes in the design.
Thanks !!

[2019-09-24 14:19] anna-dorigo commented on #6306
Hi gain Jeffrey!

You were right I need to specify in the tag for example: "question:water"
that was my mistake. but is it normal that if people just add "water"
without the "question:tagname" it is not considered a question anymore and
is counted with the posts? shouldn't we add it in the code?

On Tue, Sep 24, 2019 at 9:03 AM Alejandra Gonzalez <alejandr@gmail.com>
wrote:

[2019-09-24 14:53] anna-dorigo commented on #6306
Guys do you have any preference on the type of badge?

<img width="671" alt="Screen Shot 2019-09-24 at 10 52 31 AM" src="https://user-images.githubusercontent.com/1304609/65522905-7a14a480-deb9-11e9-9ca6-33ef2e105027.png">

[2019-09-24 14:59] anna-dorigo commented on #6306
Looking good people :)

<img width="965" alt="Screen Shot 2019-09-24 at 10 57 38 AM" src="https://user-images.githubusercontent.com/1304609/65523419-3ff7d280-deba-11e9-8ac2-8a0f287b45a6.png">

Do you guys want me to change the format of the "people" badge too to make it uniform?

[2019-09-24 16:55] jywarren commented on #6301
and confirmed that this worked!

[2019-09-24 17:07] jywarren commented on #6097
awesome. I'm working on a lot of smaller items in #6326! I'd love help with
the weird ones with the wildcard tags, where the tag card is going a bit
out of control. And the one where there's a big space below the tag card on
/tag/____ on mobile devices!

On Tue, Sep 24, 2019 at 6:40 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-09-24 17:08] jywarren commented on #6306
Sure! And, this looks epically great!

On Tue, Sep 24, 2019 at 11:00 AM Alejandra <notifications@github.com> wrote:

[2019-09-24 20:26] jywarren commented on #6072
It seems like we're doing pretty well in #6229, actually!

![image](https://user-images.githubusercontent.com/24359/65547713-08078400-dee8-11e9-867d-b5401bc1d645.png)

[2019-09-24 21:26] jywarren commented on #6097
Aha - ok, now the tag page header cards are really in bad shape, and I think I found the issue. These lines set percentage-based positioning, and the use of `row/col` is a little odd within the card:

https://github.com/publiclab/plots2/blob/02b44b9daafc1ec0e8bc4f4dbb1f575ed7587336/app/views/tag/show.html.erb#L73-L126

If you are able to do some reworking of this, please do, and we'll try to rush

[2019-09-24 21:48] jywarren commented on #6097
That is, the `wiki-sub` and `tag-buttons` should be in their own `<div class="row">`, i think!

[2019-09-24 21:50] jywarren commented on #6097
Quick attempt here: https://github.com/publiclab/plots2/pull/6328

[2019-09-24 23:02] gmakey2k commented on #6314
Hello, hi... new user!!!

[2019-09-25 02:10] newbazz commented on #6314
Hello @gmakey2k, https://github.com/rubocop-hq/ruby-style-guide this is the basic coding standards for ruby coding style. Now what you can do is, find ruby files that do not follow these coding standards, open an issue referencing to this issue and solve it.
P.S: You can always use a linter to indent/make the file follow proper coding style.

[2019-09-25 02:30] jywarren commented on #6097
Continued work here: https://github.com/publiclab/plots2/pull/6330

I am still not getting the background to show up on mobile screens:

![image](https://user-images.githubusercontent.com/24359/65564409-cba14b80-df1a-11e9-8d75-17a524ce6127.png)

But everything else is relatively better organized and with fewer custom styles. There are still some custom `.card` styles however, in `/app/views/notes/

[2019-09-25 13:26] jywarren commented on #6097
Oof, made it even worse in some scenarios. It's very strange that there are differences between stable, local, and production!

![image](https://user-images.githubusercontent.com/24359/65605062-73983280-df76-11e9-8321-e1f96a7340b6.png)

[2019-09-25 13:35] steviepubliclab commented on #6026
Hi! Wondering the status of this idea? It doesn't look like it went through. I'm still interested in the ability for someone to subscribe to tags from this page. I like the dropdown idea you had here, but from our recent conversation, maybe the word needs to be changed to "follow"

Other note: Are there other open issues related to the /tag page UI I can put an eye on? I'm thinking about user expe

[2019-09-25 14:21] jywarren opened #6331 "New account creation issue using email addresses"
Not sure why this is triggering a "rollback" here but it is not allowing new users to register with an email address (basic login) on the live site.

[code]

[2019-09-25 14:25] jywarren commented on #6331
https://github.com/publiclab/plots2/blob/master/app/controllers/users_controller.rb hasn't changed since Aug 19th

[2019-09-25 14:26] jywarren commented on #6331
And nothing in `create` or `new` since 5 months ago.

[2019-09-25 14:26] jywarren commented on #6331
Checking routes

[2019-09-25 14:27] jywarren commented on #6331
well, that doesn't make sense. routes should be ok. checking our user creation tests

[2019-09-25 14:28] jywarren commented on #6331
This functional test protects user creation:

https://github.com/publiclab/plots2/blob/f0e6683187714e686c78178d3a0e97cb4c579dec/test/functional/users_controller_test.rb#L159-L190

[2019-09-25 14:33] jywarren commented on #6331
OK, perhaps the form is wrong; i'm seeing that the `user_params` sent to `User.new()` are just the bio:

[code]

[2019-09-25 14:34] jywarren commented on #6331
Yes, they were edited 14 days ago

[2019-09-25 14:34] jywarren commented on #6331
in https://github.com/publiclab/plots2/pull/6256

[2019-09-25 14:35] jywarren commented on #6331
Got it, username and email fields' names were changed:

`<%= f.text_field :username, { readonly: true, tabindex: 1, placeholder: "Username", class: 'form-control', id: 'username' , title: 'Username field cannot be changed', disabled: true, name: 'username'} %>`

[2019-09-25 14:38] jywarren commented on #6331
Fix in https://github.com/publiclab/plots2/pull/6332

[2019-09-25 14:43] jywarren commented on #6331
I tested by manually changing the form on publiclab.org, but I got a `password too short` error, oddly. Looking...

also let's write a system test for this.

[2019-09-25 14:44] jywarren commented on #6331
ah yes, password form was changed too. fixing...

[2019-09-25 14:51] jywarren commented on #6331
Confirmed in production that this worked!

cc @CleverFool77 -- just noting here that I changed the the signup fields back to what they were, and no worries, this issue only affected us for a short time. I should have caught this when I reviewed your PR, apologies!

The changes are here: https://github.com/publiclab/plots2/pull/6332/files

I think we can still get the validation working with the fo

[2019-09-25 14:54] jywarren commented on #6331
For example, would this work?

[code]

[2019-09-25 16:09] #6331 closed

[2019-09-25 20:20] jywarren commented on #6331
I believe this is solved!

[2019-09-25 20:43] jywarren commented on #6097
OK, did some more work on this, and the latest changes are publishing to the live site now!

[2019-09-25 21:34] jywarren commented on #6097
Lots of pages look much better now!!!

[2019-09-25 22:20] jywarren commented on #6305
That would be great, thank you!!!

On Thu, Sep 19, 2019 at 1:09 PM Harman Jolly <notifications@github.com>
wrote:

[2019-09-25 22:39] jywarren commented on #5923
We'd love your help! Sorry for the slow reply!!!

On Sat, Sep 7, 2019 at 10:09 PM yprasant0 <notifications@github.com> wrote:

[2019-09-25 22:40] jywarren commented on #3681
Oh interesting... that would be nice to not have to update for each
project..!

On Mon, Sep 16, 2019 at 12:25 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-09-26 02:29] bermylle commented on #6314
Hello!

[2019-09-26 02:38] bermylle commented on #6248
Hello is this claimed? Or solved? Sorry i am a newbie hehe

[2019-09-26 03:52] IshaGupta18 commented on #6248
Hey, I think you can give it a try!

On Thu, Sep 26, 2019, 8:08 AM bermylle <notifications@github.com> wrote:

[2019-09-26 16:07] steviepubliclab commented on #6026
Hi all, just adding in with a little more context and material. We're starting to use /tags as a landing page for tag subscriptions. So, I'm trying to work through the process of subscribing to tags as a first time visitor to Public Lab. (For example, say you come in to Public Lab from social media, or any other link and want to get updates on new material on some specific topics, we direct people

[2019-09-26 19:17] jywarren commented on #6026
Hi! There are a lot of ideas here, which is great-- i'll respond to just a few for starters!

First, on the original dropdown containing a `Follow` button, I didn't hear back on this so we didn't pursue it, but I'm glad you like the idea, and we can start implementing it now. 🎉

Re `a system where people only need to enter their email address to follow tags` - one way to rephrase it could be `can

[2019-09-26 19:26] jywarren opened #6337 ""Follow" buttons in tags search dropdown"
Building on #6026

![image](https://user-images.githubusercontent.com/24359/65718069-c35b2480-e070-11e9-961f-a38cc29b0d75.png)

Let's implement this! I believe it's generated here:
https://github.com/publiclab/plots2/blob/158594acacb46a5416c72215716abd6c1b60f52d/app/assets/javascripts/async_tag_subscriptions.js#L3-L17

However, when the item is selected, the updater is run, so we'd need to disting

[2019-09-26 19:33] jywarren commented on #6337
The new HTML code might be something like this:

[code]

It needs some tweaking. But as is, it doesn't allow clicking just on the button, so we'd need to work on that too. Maybe we could stop the `click` event from propagating up to the `li` somehow, so the button would just be a normal button and wouldn't trigger the `update()` function of the typeahead?

[2019-09-26 19:38] jywarren opened #6338 "Detect a login cookie and show Signup form unless a browser has logged in before?"
This will help with #6026 ! I bet we can find the existing Authlogic cookie and won't have to make a new one.

[2019-09-26 19:40] #4111 closed

[2019-09-26 19:40] #3093 closed

[2019-09-26 19:40] jywarren commented on #2173
Profile pages are fully rebooted!!! Thanks all!

[2019-09-26 19:40] #2173 closed

[2019-09-26 21:11] moki298 opened #6340 "Refactor ruby files to follow Ruby Style Guide"
This is referenced from the issue: https://github.com/publiclab/plots2/issues/6314.

### Updated:

#### Purpose:
To remove linting errors using rubocop

#### Current Plan
Since currently there are more than 6000 offenses I would like to break this into smaller issues, also I would like to track them all in this issue.

Active issues as of now are listed below, please feel free to create a new issu

[2019-09-26 21:12] #6248 closed

[2019-09-26 21:20] moki298 commented on #6340
I used rubocop and found many violations, @newbazz do you think starting resolving them is a good place to start with this issue?

[2019-09-27 13:10] CleverFool77 commented on #6337
Hi @sharmamansi You can look into this issue as you have already solved one of the first-timers only issue.
Also, You can look for the issue with label `help-wanted`.
Thanks !!

[2019-09-27 13:11] CleverFool77 commented on #6318
Hi @jywarren I would like to solve this.
Thanks !!

[2019-09-27 13:39] Anupam-dagar commented on #6304
@jywarren Can we include a badge in front of the user's name in the contributors table to signify following or maybe coloring the row?

[2019-09-27 13:41] IshaGupta18 commented on #6304
I believe a badge would be a better idea. What do you think?

On Fri, Sep 27, 2019, 7:09 PM Anupam Dagar <notifications@github.com> wrote:

[2019-09-27 13:42] jywarren commented on #6318
Please do, I'd appreciate it! Thanks!!! I think some use of col- in
bootstrap responsive should work.

On Fri, Sep 27, 2019, 9:12 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-09-27 13:44] CleverFool77 commented on #6318
Hi @jywarren I found some more issues while working on this. I'll fix them too in one PR.
Thanks !!

[2019-09-27 15:43] sharmamansi commented on #6337
Hi , @CleverFool77  so can I start working on this ?

[2019-09-27 15:55] jywarren commented on #4164
I believe this is now implemented, and am closing, but if folks could test it out that would be great! #6190

[2019-09-27 15:55] #4164 closed

[2019-09-27 15:59] jywarren commented on #6230
This could be worked by making this email title:

https://github.com/publiclab/plots2/blob/7e2ebf018d021f6f31d5a9d99d242eb5048ba2ba/app/mailers/subscription_mailer.rb#L7

and this one:

https://github.com/publiclab/plots2/blob/7e2ebf018d021f6f31d5a9d99d242eb5048ba2ba/app/mailers/subscription_mailer.rb#L57

Match each other, and making this one:

https://github.com/publiclab/plots2/blob/7e2ebf018d0

[2019-09-27 16:04] jywarren commented on #6307
I'm going to spin out the part about a few extra bits of info on the post card. If there are more follow-ups here, or more discussion, please chime in! Thanks!

[2019-09-27 16:12] jywarren opened #6345 "Add # of comments and date to post cards"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2019-09-27 16:16] jywarren commented on #6026
Ah, ok found this which may have some relevant discussion! https://github.com/publiclab/plots2/issues/5600

[2019-09-27 16:18] jywarren commented on #5475
I think we should adapt this so that the profile page includes both in the same listing, esp after the new profile page has now launched! Renaming. Thanks!

[2019-09-27 16:19] jywarren commented on #4931
Closing as we've revamped search entirely! Thank you!!

[2019-09-27 16:19] #4931 closed

[2019-09-27 16:24] jywarren commented on #2104
I believe we've completed almost all of this except for some template issues on the digests page, which is now it's own issue and part of GCI 2019. Closing, thanks!

[2019-09-27 16:24] #2104 closed

[2019-09-27 16:25] jywarren commented on #2693
Closing, as we've made tons of progress and are now using "follow" everywhere!

[2019-09-27 16:25] #2693 closed

[2019-09-27 16:27] jywarren commented on #3064
Hi @steviepubliclab, did you want to go in one of the above directions? We have a pretty good "related tags" system now, highly visible, with a mini tag cloud on search and tag pages. We could bump up the remaining part:

?

grid, like:

question:regulations,question:evidence,question:legal,question:permits]

[2019-09-27 16:29] jywarren commented on #3482
I believe this is resolved now. Please re-open and clarify if not, thank you!!! 🎉

[2019-09-27 16:29] #3482 closed

[2019-09-27 16:30] jywarren commented on #2718
Closing and merging into https://github.com/publiclab/plots2/issues/6307 after the major tag page overhaul!

[2019-09-27 16:30] #2718 closed

[2019-09-27 16:31] jywarren commented on #4644
We'll merge this into the new dashboard design which has plentiful subscription prompts! #6072 Thanks!!!

[2019-09-27 16:31] #4644 closed

[2019-09-27 16:34] jywarren commented on #2069
Done!

https://publiclab.org/wiki/?sort=title
https://publiclab.org/tags?sort=name&order=asc

Both could use tests, but closing for now!

[2019-09-27 16:34] #2069 closed

[2019-09-27 16:35] #3436 closed

[2019-09-27 16:36] jywarren commented on #3437
Is this completed? Thank you!

[2019-09-27 16:36] #3437 closed

[2019-09-27 16:37] jywarren opened #6346 "Add functional tests for sorting alphabetically by title on /tags and /wiki pages"
These pages both offer alphabetic ordering!

https://publiclab.org/wiki/?sort=title
https://publiclab.org/tags?sort=name&order=asc

But both could use functional tests. We'd love help with this!

The wiki page actually has a test, but it doesn't check if the results are sorted alphabetically:

https://github.com/publiclab/plots2/blob/5177ea83550fc153efba5faace4dff70414aa512/test/functional/wiki_co

[2019-09-27 16:38] jywarren commented on #6346
Follow-up to https://github.com/publiclab/plots2/issues/2069 !

[2019-09-27 16:49] jywarren commented on #5651
Hi @gauravano! If you can point me at where the JS is for selecting all the prompt insertion points on the page, I can add code to get only the first 5. We could do this in jQuery with an array range or with a pseudo selector (http://nthmaster.com/, kind of cool). Should be pretty easy!

For wrapping up #5737 , would we then want to gradually convert all pages' translation texts to the new system?

[2019-09-27 16:52] jywarren commented on #5651
Ah, i see, it's in Ruby, not JS. We could set an instance variable like `@translations_count ||= 0; @translations_count += 1` and then skip any where it's `>5`?

https://github.com/publiclab/plots2/blob/547339fbc0105c97ebb4ff51cfcef5f7c92997d0/app/helpers/application_helper.rb#L140-L151

[2019-09-27 16:53] jywarren commented on #4301
Redirecting this to the great process over here! https://publiclab.org/notes/warren/05-07-2019/introducing-a-draft-style-guide-for-public-lab

[2019-09-27 16:53] #4301 closed

[2019-09-27 16:54] jywarren commented on #4274
I'm going to merge this back into the new dashboard design and we'll try to focus on the /tags page as the "public alternative" for non-logged-in users! Thank you!!! #6072

[2019-09-27 16:54] #4274 closed

[2019-09-27 16:56] jywarren commented on #3356
Thanks, I'm going to close this now!! 👍

[2019-09-27 16:56] #3356 closed

[2019-09-27 17:04] jywarren commented on #4494
Closing this, as I think it works well enough for now, but if you'd like to re-open, please do! Thanks!

[2019-09-27 17:04] #4494 closed

[2019-09-27 17:07] jywarren commented on #1442
Also found this! https://github.com/chaoss/grimoirelab-perceval#rss

[2019-09-27 17:08] jywarren commented on #1442
Oop, i meant https://github.com/chaoss/grimoirelab-perceval#twitter

[2019-09-27 17:10] jywarren commented on #3498
This is now complete except for the GrimoireLab item!

GrimoireLab can read RSS, so I wonder if this is as simple as fetching the RSS feeds for each tag/topic you're interested in:

https://github.com/chaoss/grimoirelab-perceval#rss

This wouldn't cover wikis or comments, however. But we could make those compatible by producing an RSS feed for each wiki pages comments.

https://publiclab.org/feed/

[2019-09-27 17:11] jywarren commented on #3498
I'm going to close this now. But if anyone is interested in the GrimoireLab integration, please open a new issue and cite my last comment! Thank you!!!

[2019-09-27 17:11] #3498 closed

[2019-09-27 17:11] jywarren commented on #3498
And congrats to @cesswairimu @skilfullycurled @ebarry on a great project!

[2019-09-27 17:14] jywarren commented on #4928
Closing this as we are mainly running on google search now! Thank you!

[2019-09-27 17:14] #4928 closed

[2019-09-27 17:15] jywarren commented on #5739
Closing this as the only things left are the page subheadings, the new dashboard #6072 and the final Questions page #6323

THANKS AND CONGRATS!!!

[2019-09-27 17:15] #5739 closed

[2019-09-27 17:16] jywarren commented on #4423
With our new profile pages, i'm going to close this up! Thanks, all!!!

[2019-09-27 17:16] #4423 closed

[2019-09-27 17:17] jywarren commented on #5285
Thanks, all! Our profile pages are refreshed and looking great! I'd love any other input filed in  new issues. Thanks a ton. 🎉

[2019-09-27 17:17] #5285 closed

[2019-09-27 17:36] jywarren opened #6347 "match hyphens in tags search on /tags with JS Typeahead library"
We made some changes so that the tags search form now searches for hyphenated tags even if you input a string with spaces. For example, searching for:

`balloon map` actually sends a search for `balloon-map` and so it matches the tag `balloon-mapping` correctly.

However, although results are sent back from the server for this search, these results are not displayed. That's because our typeahead l

[2019-09-27 18:16] jywarren commented on #5956
Now we have a very minimal set of sidebar buttons which can contain LOTS of extra stuff, we can get back to making the wiki/note page headings more minimal as in the style guide:

https://publiclab.org/notes/Bronwen/09-20-2019/online-live-builds-make-magazine-in-october is an example page.

Here's what it looks like now:

![image](https://user-images.githubusercontent.com/24359/65792180-35933e00-e

[2019-09-27 18:21] jywarren commented on #5956
Here's the current wiki page header:

![image](https://user-images.githubusercontent.com/24359/65792419-b4887680-e131-11e9-9942-2014803302dc.png)

So for note pages, it could say:

`by @authorname | Sept 4 2019 | #14142`

For wiki pages, it could say:

`8 authors | 14 revisions | Talk` (each underlined, as a link)

The notes header code is here (it could maybe be broken into a partial template?):

[2019-09-27 18:29] jywarren commented on #6337
Yes please! That would be great! Be sure to open a PR as soon as possible,
and share screenshots of your work! Thank you!!!

On Fri, Sep 27, 2019 at 11:44 AM Mansi Sharma <notifications@github.com>
wrote:

[2019-09-27 18:31] jywarren commented on #6318
Awesome!

On Fri, Sep 27, 2019 at 9:44 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-09-27 18:51] jywarren commented on #6304
If there is a unique column for the indicator, that'd be great, so it has a header label. But within that column, I think a badge with the `<i class="fa fa-eye"></i>` icon could work! What do you think?

[2019-09-27 18:59] jywarren commented on #6222
So sorry for the delay! This is perfect. I've updated https://publiclab.org/tags as well. Thanks a ton!

[2019-09-27 18:59] #6222 closed

[2019-09-27 19:42] jywarren commented on #152
I made some changes along the lines @CleverFool77 suggested and this looks complete now!!! Thank you!!!

[2019-09-27 19:42] #152 closed

[2019-09-27 20:08] steviepubliclab commented on #3064
Hi,
Thanks for working on this I had forgotten about it, but it seems weirdly similar to the question I was asking as well about tagging related things this morning. I might need to talk about this in person rather than online to better understand the limitations and options. Can we add this to a topic on Open Call?