[2019-12-03 20:53] nstjean commented on #6887
Ok, I'll work on a mockup.

[2019-12-03 20:58] jywarren commented on #6501
I guess i had wondered if people would be interested in "turning off"
notifications to everything but the area they're involved in as a feature
maintainer, and so throttling a bit their level of involvement, but
deepening it while narrowing it. But it's a fair point to be worried about!

On Tue, Dec 3, 2019 at 2:14 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-12-03 21:04] jywarren commented on #6888
Aha - i think the key here is to change this line:

https://github.com/publiclab/plots2/blob/dc1aad03626201b3307acc898350a017cf1be17e/app/views/layouts/_header.html.erb#L149

To say `d-lg-none` instead of `d-xl-none` -- that'll make the triple-line menu to the far right hide, and not crowd the navbar at the `lg` (large) size!

****
This has been marked as a good candidate for becoming a [first-tim

[2019-12-03 21:07] skilfullycurled commented on #6883
Yes, but that could be because @nicoleiocana is no longer banned.

Does that functionality only work on active users?

[2019-12-03 21:08] jywarren commented on #6593
Sure, that sounds reasonable. I'll defer to the others on final wording there. Does the overall design look good to go? Thanks!

[2019-12-03 21:12] jywarren commented on #6593
And to be clear, when you add new tags, it should figure out if they are powertags or not, and make them appear with the mini cards:

![Uploading image.png…]()

[2019-12-03 21:17] steviepubliclab commented on #6593
that sounds good to me!

[2019-12-03 21:40] mikepetridisz commented on #6899
Okay! Thanks, opened a PR!!

[2019-12-03 22:17] jywarren opened #6904 "new system test fails due to probably timing issue"
https://github.com/publiclab/plots2/blob/3c0273364cb9b2a22169bea32af6f11aad3ade91/test/system/tag_test.rb#L27-L46

These lines seem to fail - esp `assert_selector('.tags-list .card-body h5', text: 'roses')`, in what I think is just a timing failure - that we should wait longer for it to complete, as it's an AJAX request.

I've seen a failure for this on https://github.com/publiclab/plots2/pull/675

[2019-12-03 22:18] #5956 closed

[2019-12-03 22:34] jywarren opened #6905 "Stalebot preventing Jenkins build?"
Whoa, unexpectedly, Stalebot seems to have prevented Jenkins from building the stable test server:

[code]

https://jenkins.laboratoriopublico.org/job/Plots-Stable/lastFailedBuild/console

Even stranger, I haven't yet installed it!?

https://github.com/publiclab/plots2/pull/6900 has the config file

Let me see if somehow it is installed, even though I didn't press the install button...

[2019-12-03 22:37] jywarren commented on #6905
@gauravano i'm going to try deleting the branch you created, but saving the stalebot integration itself... let's see...

[2019-12-03 22:38] jywarren commented on #6905
Restarting jenkins build after deleting!

[2019-12-03 22:41] jywarren commented on #6905
Uhhh, hm. OK, so i guess Jenkins does `git fetch` and gets all the `publiclab/plots2` branches, and now we need to actually go into the Jenkins-managed filesystem and delete the `feature/install-stalebot` branch -- I'll ping @icarito about this!

[2019-12-03 22:41] jywarren commented on #6905
`stderr: error: cannot lock ref 'refs/remotes/origin/feature/stalebot-install': 'refs/remotes/origin/feature' exists; cannot create 'refs/remotes/origin/feature/stalebot-install'`

[2019-12-03 22:52] jywarren commented on #6905
`git remote prune origin` on the jenkins machine's repo didn't work...

[2019-12-04 00:23] icarito commented on #6905
I followed this thread and found that the only way I got it to work was to remove the `origin` remote and to add it back again. Now it's building!

https://stackoverflow.com/questions/6656619/git-and-nasty-error-cannot-lock-existing-info-refs-fatal#38272660

[2019-12-04 00:23] #6905 closed

[2019-12-04 00:36] GarvinH commented on #6902
Hi! I'm gonna claim this one.

[2019-12-04 03:06] nstjean commented on #6887
Another question while I'm thinking about it.

Our original proposals had a timeline with tasks scheduled for each week. This is good for accountability and mentors making sure we are on track. With two of us working on the same large project would you rather we assign the tasks now while we plan, so we know who is in charge of what? Or would you prefer us if we worked through the list together, d

[2019-12-04 04:47] SidharthBansal commented on #6887
One can write the code and other can test that code. This will enable
better tests and better code. Like crisner wrote function A and nstjean
wrote tests for A. Then crisner wrote tests for function B written by
nstjean. This will encourage pair programming too.
Just a suggestion. Thanks

On Wed, 4 Dec 2019, 8:36 am Natalie St Jean, <notifications@github.com>
wrote:

[2019-12-04 04:50] SidharthBansal commented on #6864
You can claim it after completing installation task for plots2.
Thanks

[2019-12-04 04:50] SidharthBansal commented on #6864
And please ping all the mentors of the repo instead of only one mentor. As time zones vary a lot

[2019-12-04 04:53] SidharthBansal commented on #6882
Hello, at a time you can claim only one task. Have you installed plots2
repo and is that task approved? Have you read the welcoming post?
Thanks

On Wed, 4 Dec 2019, 12:58 am Uzay-G, <notifications@github.com> wrote:

[2019-12-04 04:54] SidharthBansal commented on #6882
Please ensure the above two and solving a first timers only labelled issue before doing this issue. Thanks

[2019-12-04 04:57] genesis331 commented on #6693
Can I work for this?

[2019-12-04 05:26] genesis331 commented on #6828
Can I work on this?

[2019-12-04 05:32] genesis331 commented on #6828
Please check the [PR](https://github.com/publiclab/plots2/pull/6908).

[2019-12-04 06:27] SidharthBansal commented on #6828
Are you a GCI student?

[2019-12-04 06:32] SidharthBansal commented on #6501
That's a good idea!

On Wed, Dec 4, 2019 at 2:28 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-12-04 06:38] SidharthBansal commented on #6233
As requirements are conflicting, it is giving us some pain in thinking. But we can bet we can do it 🚀
I remember, we discussed these things and came to the conclusion to give the dashboard on SIGN UP and redirect back to the same page for LOGIN. How does this sound now?

[2019-12-04 07:05] Uzay-G commented on #6882
Oh yeah I'm sorry @SidharthBansal. My other task was practically done and got approved yesterday. I hadn't seen the plots2 installation task but I had already done it and I now submitted my screenshot of the server.

I've done a beginners issue but I'll also do a first-timers one before I work on this task.
Thanks a lot!

[2019-12-04 08:15] keshav234156 commented on #6828
@genesis331 Have you claimed this task on the GCI dashboard? Also, do give a thorough read to #6808

[2019-12-04 10:28] SidharthBansal commented on #6882
Have you read about the welcoming post ?

On Wed, 4 Dec 2019, 12:35 pm Uzay-G, <notifications@github.com> wrote:

[2019-12-04 10:42] keshav234156 commented on #6882
@Uzay-G You should first claim the task on GCI dashboard related to this issue, then you can start working on this issue. your installation tasks have been approved as well!!

[2019-12-04 14:08] trak3r commented on #2552
@jairus-crabb  patch worked for me. thanks!

[2019-12-04 14:38] jywarren commented on #6593
OK, so the overall project parts will be:

* [ ] rework the tag listing to separate powertags from normal tags (there are `node.power_tags` and `node.normal_tags` methods for this) and display them in 2 separate lists
* [ ] rework the individual tag templates from Bootstrap "badges" to "cards", or at least to boxes with rounded corners as shown above; the # of people should be the number of people

[2019-12-04 14:38] crisner commented on #6887
@nstjean I have updated the list.

[2019-12-04 14:44] crisner commented on #6887
@jywarren I have updated the task list. The ones with the :bulb: emoji are the new features I had mentioned. Would like your feedback on implementing them.

Would also like your feedback on the task below.

[2019-12-04 14:47] jywarren commented on #6121
Hi, I think we should close this as we haven't had more input on it from community reps. Thank you though!

[2019-12-04 14:47] #6121 closed

[2019-12-04 14:55] jywarren commented on #6233
I think this sounds great; let's get a final OK
from @publiclab/community-reps and then settle on this permanently!

On Wed, Dec 4, 2019 at 1:38 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-12-04 14:57] crisner commented on #6887
Another question. There are some tasks on the list which do not have their own issues. Do we create an issue for them before we begin working on those tasks?

[2019-12-04 15:04] SidharthBansal commented on #6233
Yes, we will solve cross domain things before 2020 :-)

On Wed, 4 Dec 2019, 8:25 pm Jeffrey Warren, <notifications@github.com>
wrote:

[2019-12-04 15:05] #6902 closed

[2019-12-04 15:07] jywarren opened #6910 "Map markers for nodes only appear after map interaction, not on initial load"
Pages like https://publiclab.org/wiki/sandbox-3 show off the great new features of inline maps, but I noticed that the map markers for content (pages on PL) don't appear on initial load; only after interacting with the map a bit:

Initial load (no black map markers):

![image](https://user-images.githubusercontent.com/24359/70154003-c7fa1580-167d-11ea-9bbb-2ce0ff93b30b.png)

After dragging map:

!

[2019-12-04 15:42] crisner commented on #6887
@nstjean and I have organized the tasks together. We will be dividing up tasks as we go.

[2019-12-04 15:52] jywarren opened #6911 "Replace text with icons in wiki headers"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-04 16:09] nstjean commented on #6887
Will we need to post a week-by-week timeline of the tasks, as in our original proposals?

[2019-12-04 16:38] jywarren commented on #5181
Addressing this in #6913!

[2019-12-04 17:26] Uzay-G commented on #6882
I've started making [minor changes](https://github.com/publiclab/plots2/compare/master...Uzay-G:master) but am struggling to refactor the functions without changing how it works. What parts should I focus on refactoring?

[2019-12-04 18:25] nstjean commented on #6904
Hmmm, I'm not sure! I'll google and see if I can find any other tricks to getting it to process faster.

[2019-12-04 18:58] jywarren commented on #6897
First, noting that the modal is loaded from a remote source, which is taking a while to load. 10s:

`Request URL: https://publiclab.org/locations/modal`

Checking Skylight...

[2019-12-04 19:01] jywarren commented on #6897
Not awesome:

![image](https://user-images.githubusercontent.com/24359/70172378-862d9700-169e-11ea-949d-24da60f5a2f0.png)

https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1575464280/6h/endpoints/TagController%23location_modal?responseType=html

[2019-12-04 19:03] jywarren commented on #6897
Something in this history? https://github.com/publiclab/plots2/commits/master/app/views/locations/_form.html.erb

But it's been a while since the last edit, (june 28) and @nstjean's change wasn't published until ~10 hours /after/ this slowness report. So, maybe an optimization needs to be made on something happening in the form template?

[2019-12-04 19:05] jywarren commented on #6897
Maybe `current_user.get_all_used_locations` or `current_user.get_latest_used_location`?

https://github.com/publiclab/plots2/blob/e6006ce12f3eb53259d148879c06397c962e08f8/app/models/user.rb#L455

[2019-12-04 19:11] nstjean commented on #6897
Wow that's slow. I can't even get the modal to come up on that sandbox page you linked to.

[2019-12-04 19:17] nstjean commented on #6897
Other wiki pages and notes I check the modal pops up quite quickly. But not at all on that page.

[2019-12-04 19:18] jywarren commented on #6897
Yeah i know! OK, i see how this code in `user.rb` is really in need of optimization. I'm going to try to compose a much faster query.

[2019-12-04 19:43] #6899 closed

[2019-12-04 19:48] nstjean opened #6915 "New post location form: bug on the search-for-location"
I am unable to type anything in to the input "By place name" and search.

![FireShot Capture 093 - 🎈 Public Lab_ Post - localhost](https://user-images.githubusercontent.com/49460529/70174812-9d22b800-16a3-11ea-93cb-f26900ac05f2.png)

This value is being passed to  `panMapToGeocodedLocation` in `leaflet-blurred-location`... however the same input doesn't throw an error in `locations/_form.html.erb`

[2019-12-04 20:08] jywarren commented on #6915
thanks!!

On Wed, Dec 4, 2019 at 2:49 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-04 20:11] nstjean commented on #6915
Can someone help me find the correct Javascript for this? In the `views/locations/_form.html.erb` file there is very clear Javascript that creates the `blurredLocation` object and calls `panMapToGeocodedLocation`. But I can't find that code anywhere for `views/editor/rich.html.erb' - is it in `leaflet-blurred-location`?  `PL.Editor`?

[2019-12-04 20:58] nstjean commented on #6915
So the error message appears to be from global maps and google's autocomplete API - probably failing on localhost because the site is not registered to their system. The error does not show up on the live site https://publiclab.org/post - this is what I get instead:

![FireShot Capture 094 - 🎈 Public Lab_ Post - publiclab org](https://user-images.githubusercontent.com/49460529/70180600-56868b00-16

[2019-12-04 20:58] nstjean commented on #6915
But at the same time I still don't understand why I'm getting the error message on local on the post form, but not on the popup modal.

[2019-12-04 21:09] jywarren commented on #6915
Hmm, sometimes the API key is present in the google maps API javascript
include, and possibly we have set it up differently between those two
instances?

Hmm, maybe we should compare these two lines:

https://github.com/publiclab/plots2/blob/5c0d96274bd0be15feba69d8f30093082402ace5/app/assets/javascripts/locationForm.js#L152

https://github.com/publiclab/plots2/blob/268352c1ed382f2b9a18e70c7e6eace

[2019-12-04 21:11] sashadev-sky commented on #5383
I would say yes or definitely stale. going to close it!

[2019-12-04 21:11] #5383 closed

[2019-12-04 21:14] nstjean commented on #6915
Ok I'll look at that code and try to figure out the difference!

[2019-12-04 22:24] #6897 closed

[2019-12-04 23:15] #6857 closed

[2019-12-05 02:26] kushaggarwal commented on #6871
Yes I am on it will update you soon about the same

[2019-12-05 02:28] kushaggarwal commented on #6871
Thanks @chen-robert  for your help
Will go through the article I hope this will work

[2019-12-05 06:29] #6864 closed

[2019-12-05 11:09] kushaggarwal commented on #6880
In which branch should I post the pull request
Can you help please

[2019-12-05 11:31] kushaggarwal commented on #6871
Hi @chen-robert
I went through the stackoverflow article you mentioned in the above message but was not able to resolve the error, the sam error still persists so can you please help
Also can yo u please help what are the previously installed dependencies that should be installed in the system if any as I might be missing any leading to this error
Thanks

[2019-12-05 12:03] Uzay-G commented on #6850
Hi @ananya I am going to work on this task. Thanks

[2019-12-05 12:09] pydevsg commented on #6828
@genesis331 you haven't yet claimed the issue on GCI Dashboard , please do the same and let me know

[2019-12-05 12:12] Ngai-E commented on #6888
Hello, my name is Elizabeth an Outreachy alumn. I love working with open source solutions. I am starting to build my skills in Ruby on Rails so I would love to become a contributor here.  That being said, can I claim this issue?

[2019-12-05 12:22] puneeth2001 commented on #6206
Hi, I am looking for a first timer issue, can you please help me find one.

[2019-12-05 12:58] SidharthBansal commented on #6888
Pleaae

[2019-12-05 13:00] SidharthBansal commented on #6850
Cool

On Thu, 5 Dec 2019, 5:33 pm Uzay-G, <notifications@github.com> wrote:

[2019-12-05 13:16] harshithpabbati commented on #6206
@puneeth2001 added your name to the above list. You will be shortly assigned with a first-timer issue. :)_

[2019-12-05 13:25] Ngai-E commented on #6888
thanks

[2019-12-05 13:38] skilfullycurled commented on #6883
@jywarren, can you check out my question when you have a moment and reopen or keep closed accordingly?

[2019-12-05 13:45] SidharthBansal commented on #6206
You can check if there is any unclaimed issue while we are trying to create
a fto issue. Thanks

On Thu, 5 Dec 2019, 6:46 pm Harshith Pabbati, <notifications@github.com>
wrote:

[2019-12-05 13:59] genesis331 commented on #6828
Ok claiming it on Dashboard.

[2019-12-05 14:38] crisner commented on #6889
When I open the link(https://publiclab.org/maps#3/41.00/-71.00/pfasLayer) elsewhere the coordinates in the URL also changes. It overwrites to https://publiclab.org/maps#2/15.0/2.8/. As @sagarpreet-chadha mentioned the problem lies with the leaflet-hash library in LEL, specifically how the hash instance is saved in the environmental layers LayerGroup. Please correct me if I am wrong.

I am stuck at

[2019-12-05 16:09] #6847 closed

[2019-12-05 16:21] MariMachaidze commented on #6849
hey, I just claimed this task.

[2019-12-05 16:28] SidharthBansal commented on #6849
Please read the welcoming post for GCi and do 2 ftos before attempting
other issues. Thanks
Best of luck

On Thu, 5 Dec 2019, 9:51 pm MariMachaidze, <notifications@github.com> wrote:

[2019-12-05 17:16] MariMachaidze commented on #6849
Where can I see the code to fix?

[2019-12-05 18:24] jywarren commented on #6849
Hi, I wonder if this has been fixed by @nstjean already? I believe it is already updated on PublicLab.org. I'm sorry if this got mixed up! Thank you!

[2019-12-05 18:36] #6853 closed

[2019-12-05 18:39] sagarpreet-chadha commented on #6889
Hey, yes you understand the issue correctly. The bug is in LEL.
One way to solve this be to initialize the hash variable outside library in .html example file. We need to pass the object of layers to hash function. This object should be returned/exposed from the library. Makes sense? Thanks!

[2019-12-05 18:42] jywarren commented on #6889
Thanks for the tip Sagarpreet and thanks for working on this @crisner. It
seems a subtle bug! Sagarpreet, you're saying maybe initialize the variable
before the library is loaded, to try to force a broader scope?

I wonder if we could add some kind of detection in the constructor function
of LEL to first check if there is a hash existing? Would you be able to
point us at the right area of the code

[2019-12-05 18:44] sagarpreet-chadha commented on #6910
Yes i think i figured why this is happening! I will work on this issue on
weekend. Thanks.

On Wed, 4 Dec 2019, 20:37 Jeffrey Warren, <notifications@github.com> wrote:

[2019-12-05 18:54] jywarren opened #6923 "Add popover to list authors on wiki page headings"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-05 18:55] jywarren commented on #6910
awesome, thank you Sagarpreet!!!!

On Thu, Dec 5, 2019 at 1:44 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-12-05 19:30] jywarren opened #6924 "Filter out powertag topics from profile page listings"
Our profile pages https://publiclab.org/profile/warren, https://publiclab.org/profile/stevie, etc - look great! They list topics recently posted to by each author. But, we see a lot of "powertags" -- those that have colons `:` in them and are for utility use only. They don't represent real "topics"!

So, let's filter them out of this view. It should be relatively easy, since we use `@profile_user.

[2019-12-05 19:46] jywarren commented on #6883
Oh, sorry, i thought you'd be able to check with a banned user! I'll look
now at https://publiclab.org/people. Thanks!

On Thu, Dec 5, 2019 at 8:39 AM Benjamin Sugar <notifications@github.com>
wrote:

[2019-12-05 19:48] jywarren commented on #6883
So https://publiclab.org/profile/noomisoomi is banned, and indeed their
email did not manage to identify an account in the email search function.
Do you think it ought to, and we should open an issue for that?

On Thu, Dec 5, 2019 at 2:46 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-12-05 19:56] jywarren opened #6926 "'Add a location' popup won't open on pages with maps"
We're still gathering info about this bug, but on pages like https://publiclab.org/wiki/unearthing-pvd we can't seem to use the "Add a location" popup (just fixed in #6897).

The current theory is that it's pages with maps where this is broken, because it definitely works on pages like https://publiclab.org/wiki/coqui with no maps.

You should see this popup appear:

![](https://user-images.github

[2019-12-05 19:58] skilfullycurled commented on #6883
I don't think so.  Given the amount of spam we find and therefore users that are banned, the work wouldn't be proportional to the gain.  It's pretty rare that we have an error relative to the overall amount of spam we receive.  I think the important thing is that we've figured out that that this is a feature (albeit unintended) and not a bug.  Therefore, the "fix" is more knowledge based than prog

[2019-12-05 20:00] ananyaarun commented on #6850
Hey @Uzay-G  Awesome :tada:
Btw you tagged the wrong ananya :laughing:
my handle is "ananyaarun"

[2019-12-05 20:08] skilfullycurled commented on #6883
Okay, I just emailed everyone.

@nicoleiocana, I know that the constant back and forth of the "are you sure this is your email..." contributed to the length of time it took to resolve the issue.  So while this knowledge comes too late to help you, you will have saved others the same trouble.

[2019-12-05 20:29] steviepubliclab commented on #6233
Ok just to clarify, you're saying any new signup would direct people to the dashboard, but when someone is coming who already has a username and is just looking to log in, they could do so and remain on the same page? Is that what you're suggesting?

If so, I believe the pathway @ebarry was speaking about was in keeping people who are also creating a new login the ability to stay on the same page.

[2019-12-05 20:41] jywarren commented on #6233
Ah, one extra parameter, Stevie - in both cases we're talking about if they
click a Follow button - in the first case, even if they follow a topic,
they'd sign up and end up on the dashboard (but would be following the
topics). In the second, they'd log in and get sent to /subscriptions (i
think!).

Is that right, Sidharth?

On Thu, Dec 5, 2019 at 3:30 PM Stevie <notifications@github.com> wrote:

[2019-12-05 21:47] jywarren commented on #6915
Hi @nstjean it sounds like you've found a couple possible overlapping bugs. If it's helpful to separate them into 2 issues that could help in the documentation! Thanks!

[2019-12-05 21:58] chen-robert commented on #6303
Can I have this task assigned to me?

[2019-12-05 22:08] jywarren commented on #4922
I'm going to close this as we've completed or broken out all tasks! Thanks, all!

[2019-12-05 22:08] #4922 closed

[2019-12-05 22:19] jywarren commented on #6887
Like, an updated timeline? do you think this would be useful for you both?

I think the idea here was just that if you've entered a location, we should also try to show it at an appropriate level of zoom, not just the whole world, centered on your location. When people put in locations, they often do so to a specific resolution/blur-level, because we use this kind of cool library we developed: htt

[2019-12-05 22:21] jywarren commented on #6887
Finally, i do want to recognize that since the project has progressed since the original proposals were made, you're already integrating new tasks that hadn't existed in your original plans. We appreciate this! But I'm talking with some community members about getting involved in coding some parts of these too, so that there's enough capacity to accommodate the new tasks. No decisions just yet but

[2019-12-05 22:37] jywarren commented on #6926
Hi @sagarpreet-chadha this is something we'd like to have a system test for!

[2019-12-05 22:37] jywarren commented on #6915
Hi @sagarpreet-chadha this is something we'd like to have a system test for!

[2019-12-06 01:16] jywarren commented on #6594
OK, this works from `image-sequencer`, but is not accepted by plots2, which needs an exception for `protect_from_forgery` based on the domain name of origin!

[code]

[2019-12-06 05:58] SidharthBansal commented on #6303
Are you notdeghost?

On Fri, 6 Dec 2019, 3:28 am Robert Chen, <notifications@github.com> wrote:

[2019-12-06 05:59] SidharthBansal commented on #6850
This happened a lot of times. Lol

On Fri, 6 Dec 2019, 1:30 am Ananya Arun, <notifications@github.com> wrote:

[2019-12-06 06:58] chen-robert commented on #6303
Yes

[2019-12-06 07:57] SidharthBansal commented on #6303
Go ahead

On Fri, 6 Dec 2019, 12:28 pm Robert Chen, <notifications@github.com> wrote:

[2019-12-06 08:06] chen-robert commented on #6303
Great, thanks!

[2019-12-06 08:09] chen-robert commented on #6303
@SidharthBansal I've fixed the first two parts but I'm not too sure how to write the tests. Should it be under system, unit, integration, or something else? I would greatly appreciate it if you could point me in the right direction, thanks!

[2019-12-06 08:18] SidharthBansal commented on #6849
@nstjean please look into this. If it is fixed already then we can give MariMachaidze approval on the dashboard so that other GCI students will not claim this task.
Thanks

[2019-12-06 08:55] SidharthBansal commented on #6303
What do you think?
It depends on your thinking.
If you are testing a sequence as follows:
1. Sign up with wrong details
2. Sign up with right details
3. Dashboard with welcoming message
1-3 suggests integration test altogether
If you want to just test 1 then unit test will work.
Functional tests are for controllers.

[2019-12-06 08:56] SidharthBansal commented on #6303
Please think the intended behavior and write test(s) accordingly

[2019-12-06 08:56] SidharthBansal commented on #6303
What is the PR numberl?

[2019-12-06 09:07] SidharthBansal commented on #6233
Yeah!
Thanks

On Fri, Dec 6, 2019 at 2:11 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-12-06 14:05] nstjean commented on #6849
Oh no! I'm sorry! I think I did. :(

[2019-12-06 14:12] nstjean commented on #6887
Thanks so much @jywarren !

I don't think it matters to us either way. Having a big list and just going through the items works just as well, that's how I worked on my personal project site... very long list of to-do items and just did them one at a time. :) I just wanted to know if there was a requirement for a timeline.

I like your idea of splitting up a couple weeks worth of tasks and then che

[2019-12-06 14:17] nstjean commented on #6915
Ok, I'll open an issue in LEL about the search getting stuck and not completing, and keep this one open for the "Oops something went wrong" issue with the form.

[2019-12-06 14:18] nstjean commented on #6915
Oops, I meant leaflet-blurred-location!

[2019-12-06 14:26] SidharthBansal commented on #6849
Can we close this?

On Fri, 6 Dec 2019, 7:35 pm Natalie St Jean, <notifications@github.com>
wrote:

[2019-12-06 14:35] nstjean commented on #6915
Here we go, issue for the location search: https://github.com/publiclab/leaflet-blurred-location/issues/214

[2019-12-06 15:42] cesswairimu commented on #6871
Hey @chen-robert ,
You could try this command `gem update --system` if that fails try this `sudo apt-get install ruby-dev zlib1g-dev liblzma-dev`

[2019-12-06 15:47] cesswairimu commented on #6206
Hi @puneeth2001, have you found a fto yet? You can check this out if not https://github.com/publiclab/plots2/issues/6923. Welocme to PublicLab :balloon:

[2019-12-06 16:59] #6594 closed

[2019-12-06 17:37] nstjean commented on #6915
I searched all over the code to try to figure out the difference between these two forms and why they are behaving differently.

First I realized that the "Oops!" error statement is what should be showing, since there is an error with the google autocomplete.

Finally I realized that it's the timing of the popup that is the issue. When I included `locations/form` in a stand-alone non-popup page th

[2019-12-06 17:59] chen-robert commented on #6303
@SidharthBansal I have not made the PR yet, I wanted to write the test before proceeding.

[2019-12-06 18:44] SidharthBansal commented on #6303
ok

On Fri, Dec 6, 2019 at 11:29 PM Robert Chen <notifications@github.com>
wrote:

[2019-12-06 19:10] sagarpreet-chadha commented on #6887
Pining this issue!

[2019-12-06 19:19] sagarpreet-chadha commented on #6887
Hey @nstjean @crisner ,

First of all **_congratulations_** for getting selected as outreachy interns 🙌 (i hope i am not late in wishing 😄 ).
I would like to officially introduce myself because i would be mostly working with you guys as mentor 🎈 . So i am one of the contributors at PL and have been doing so for more than 2 years i think. I started as a GSoC student and now i am mentoring various o

[2019-12-06 19:33] nstjean commented on #6887
Thanks @sagarpreet-chadha ! That is so cool that you started LEL during your GSoC. :) I look forward to working with you!

[2019-12-06 19:39] sagarpreet-chadha commented on #6915
Hey @nstjean ,
I think we should focus on the features first and we resolve all the bugs at the end. What do you think?
PS: If you think you are very close to finding the bug cause, you may continue else let's solve this at the end. Thanks!!!

[2019-12-06 19:40] nstjean commented on #6915
I think that's a good idea. Thanks!

[2019-12-06 22:07] #5181 closed

[2019-12-06 22:43] heikergil commented on #6911
hi, unless someone else is already working on this problem  i would like to claim it

[2019-12-06 22:44] jywarren commented on #6911
that'd be great, thank you!

On Fri, Dec 6, 2019 at 5:44 PM Heiker Gil <notifications@github.com> wrote:

[2019-12-06 22:53] VladimirMikulic opened #6933 "Login modal styling inconsistencies"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-07 04:40] takitsuse commented on #6923
If no one is working on this I'd like to claim this.

[2019-12-07 05:22] takitsuse commented on #6923
Hmm...Could I ask for help? It seems I got stuck.
How can I set the HTML tags for the content of popover?
I edited line 34 to be:
[code]
and I was about to set the popover content
[code]
to data-content but I have no idea how to do so.

[2019-12-07 05:49] takitsuse commented on #6923
I managed to get out of the stuck myself.

[2019-12-07 06:48] takitsuse commented on #6923
Here's progress: [Screencast](https://imgur.com/a/jtcJito).
As you see in the screencast, the popover vanishes when we move the cursor to the author's link. This is not what we intended but I have no idea how to fix this behavior. Could you help me out?

[2019-12-07 07:10] crisner commented on #6889
Just wanted to bring it to attention that the following lines outputs an error and does not let the layer control render on the map when I run plots2 locally. This is because the omsUtil function is not available outside of LEL. I came across this when I was trying to fix this issue #6889.
https://github.com/publiclab/plots2/blob/3c4dfc55382164684120416056141874bda7cda9/app/assets/javascripts/leaf

[2019-12-07 07:50] cesswairimu commented on #6923
Hey @takitsuse, wow..this is so great :tada: ...could you please open a pull request on plots2?( Here is a link to open a pull request against your branch go https://github.com/publiclab/plots2/compare/master...takitsuse:add-popover-to-list-authors and click on "create a pull request" _just incase its your first time_). Also cold you try adding 2 or three authors just to see how that will look lik

[2019-12-07 08:42] takitsuse commented on #6923
Created PR. Thanks for your guidance!

[2019-12-07 09:06] SidharthBansal commented on #6303
Please tell me the code link so that I can make it hard instead of medium

[2019-12-07 09:37] crisner commented on #6889
I will need to debug the error a bit more to be sure.

[2019-12-07 14:10] crisner commented on #6889
I apologize for the confusion. Looks the LEL copy in my plots2 copy didn't have the omsUtil defined. :sweat_smile:

[2019-12-07 14:48] crisner commented on #6887
Thanks, @sagarpreet-chadha! I look forward to working together with your continued guidance and support! :)

[2019-12-07 15:32] yeo-yeo commented on #6933
I'd like to claim this as my first issue if that's ok :smile:

[2019-12-07 16:22] VladimirMikulic commented on #6933
Of course, we would be happy to get this fixed.
If you need help feel free to comment here, I would be glad to assist you.

Also, you can chat with others from this awesome community on [Gitter](https://gitter.im/publiclab/publiclab).

[2019-12-07 16:40] #6850 closed

[2019-12-07 16:54] SidharthBansal commented on #6303
Changed to hard from medium

[2019-12-07 17:03] SidharthBansal commented on #6303
As this issue may require multiple tests, I will be happy to open a `hard` task for tests for this issue. Chen can claim and get points for both the hard tasks once his pr is merged.
Thanks

[2019-12-07 17:14] SidharthBansal commented on #6808
ALL GCI STUDENTS ARE REQUESTED TO GET THEIR PR REVIEW TASK APPROVAL FOR WEEK 1 FROM KESHAV
@keshav234156

[2019-12-07 17:16] SidharthBansal commented on #6808
PR Review grading will be done after each week.
1st week by @keshav234156
2nd week by @pydevsg
3rd week by @IshaGupta18
4th week by @ananyaarun
more soon
All GCI students are requested to leave a hello in this issue

[2019-12-07 19:43] SidharthBansal commented on #6808
We are aiming at a Supportive community at PL. So, we will be giving 1pt/week per repository to the students who will help in reviewing the PRs which are not reviewed yet.
Students are requested to write descriptive comments so that the creator of PR facing any trouble can resolve the problems in their PR. Yes, we want students to behave as mentors and review PR. 🎉
🚀
Student can do ALL supportive

[2019-12-07 19:46] SidharthBansal commented on #6808
All students are requested to get PR review task in week i+1 for week i. We will `delete week i PR Review task per repo in week i + 2`.
We want all of you to secure a lot of points due to these tasks.
Tip: There are many tasks labelled with `fto-candidate`. If you change them to `first-timers-only` issue using fto templates, then you will get 1pt/fto.

Best of luck :-)

[2019-12-07 21:21] Uzay-G commented on #6808
Hello I am participating in GCI

[2019-12-07 21:31] anthony-zhou commented on #6808
Hello! I'm participating in Google Code-in, and I'm excited to help out here. It looks like the task system here is separate from the GCI tasks dashboard, where you have to wait for one task to be approved before moving on to the next.

Is it alright to work on multiple PRs at the same time here on GitHub (just while waiting for the others to be reviewed)?

[2019-12-07 22:30] sashadev-sky commented on #6808
@anthony-zhou you're technically allowed to work in multiple on Github, but if another student gets the issue on the dashboard it's theirs.

It's not a good situation when a participant claims a task that already has a PR up for it by a participant that didn't claim (this has already happened ). So I would say please don't officially open the PR on Github until you get the issue on dashboard (keep

[2019-12-08 00:19] sashadev-sky commented on #3460
**Uploaded to GCI dashboard**

[2019-12-08 00:40] sashadev-sky commented on #3424
**Uploaded to GCI dashboard**

[2019-12-08 06:01] SidharthBansal commented on #6808
Hello, glad to meet you.
You can take multiple supportive task with existing claimed task on the
dashboard. But you can't open prs for two gci non supportive tasks
simultaneously.
Supportive tasks are meant to keep you busy while mentors are reviewing
your prs.

On Sun, 8 Dec 2019, 4:00 am Sasha Boginsky, <notifications@github.com>
wrote:

[2019-12-08 07:05] SidharthBansal commented on #3460
Published

On Sun, Dec 8, 2019 at 5:49 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-12-08 07:05] SidharthBansal commented on #3424
Published

On Sun, Dec 8, 2019 at 6:10 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-12-08 10:32] Uzay-G opened #6939 "Fix mailto link text"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-08 12:03] myungwoo-Y commented on #6939
Hi, can I work on this issue?

[2019-12-08 12:13] Uzay-G commented on #6939
Sorry @myungwoo-Y but this one is only for those who haven't contributed to our repos before. You can find issues to work on [here](https://github.com/publiclab/plots2/labels/help-wanted). Thank you for wanting to help but we are going to leave this one for someone else.

[2019-12-08 14:51] shashwataggarwal commented on #6939
Hi, can I work on this?

[2019-12-08 14:57] Uzay-G commented on #6939
Hey @shashwataggarwal! Welcome to PublicLab! Yeah you can claim the issue and then I'll review your pull request. If you encounter any problems you can message me here.

[2019-12-08 15:22] fluctix commented on #6806
Can I work on this issue, even thoughmy task has still not been approved?

[2019-12-08 15:27] SidharthBansal commented on #6806
One task at a time is allowed. However you can do supportive tasks if you
are free :-)

On Sun, 8 Dec 2019, 8:52 pm Sagnik Mandal, <notifications@github.com> wrote:

[2019-12-08 15:29] shashwataggarwal commented on #6939
Kindly review my pull request
Thank you!

[2019-12-08 15:29] fluctix commented on #6806
Ok

On Sun, Dec 8, 2019, 8:57 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-12-08 19:58] SidharthBansal commented on #6808
We will be giving points who are actively reviewing prs throughout the week. I observed some students write a single comment and are asking for approvals. We want GCI students to learn about reviewing prs too. Writing a single comment will give you points but you all will not be able to learn. So, I will advise students to review as many prs as possible.
Thanks

cc/ @chen-robert @Uzay-G @VladimirM

[2019-12-08 19:58] SidharthBansal commented on #6808
Sorry I don't know Github handle of all the GCI students. So, I want your help.
Thanks

[2019-12-08 20:04] #6933 closed

[2019-12-08 20:33] Uzay-G commented on #6808
@fluctix @HarshKhandeparkar @genesis331

[2019-12-09 01:01] sashadev-sky commented on #3513
**Uploaded To GCI dashboard**

[2019-12-09 01:18] sashadev-sky commented on #3458
** Uploaded to GCI dashboard**

[2019-12-09 01:19] sashadev-sky commented on #6239
all supportive tasks uploaded to GCI dashboard! 2 still pending publish

[2019-12-09 06:27] SidharthBansal commented on #6239
Thanks

On Mon, 9 Dec 2019, 6:49 am Sasha Boginsky, <notifications@github.com>
wrote:

[2019-12-09 06:45] SidharthBansal commented on #3458
Please delete it. This task is broken into weeks and repos before uploading
it. Already done. Thanks

On Mon, 9 Dec 2019, 6:48 am Sasha Boginsky, <notifications@github.com>
wrote:

[2019-12-09 07:21] sashadev-sky commented on #3458
Sorry not sure I understand. You're saying a) it should be recreated separately for each repository. b) since we already 1 week into GCI, we should no longer upload it all anyway? Isn't this a supportive task for throughout the whole competition though?

Not sure I have the admin rights to delete it - but you'll find it on the dashboard under the same title as this issue @SidharthBansal

[2019-12-09 07:32] SidharthBansal commented on #3458
This is already broken by Keshav

On Mon, Dec 9, 2019 at 12:51 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-12-09 07:52] sashadev-sky commented on #3458
oh ok! So we need to add them for every week? So far I see week 1 @SidharthBansal

[2019-12-09 08:39] SidharthBansal commented on #3458
Yes, we need to create for every week. Week 1 is by Keshav. We are doing
things in rotation. You can take week 5 if you want.

On Mon, Dec 9, 2019 at 1:22 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-12-09 09:24] sashadev-sky commented on #3458
@SidharthBansal ok sure. wouldnt it be easier to just upload them all now and then you publish them as the week comes along?

[2019-12-09 10:03] dotangad commented on #6808
Hello! I'm Angad - a sophomore participating in Google Code-In. I just finished my first task and I'm about to claim my next. My email is [mail@angad.dev](mailto:mail@angad.dev), I am also on the Gitter channel as @dotangad.

[2019-12-09 10:43] MaheshPawar97 commented on #6206
Me too

[2019-12-09 11:00] CodeSarthak opened #6941 "Two different drop-downs while changing language"
In the language choosing dropdown at the bottom of the https://publiclab.org/ page, when you hover on the word "language", the dropdown gets activated but when you click on the same, the dropdown gets activated in the upwards direction.

Hover dropdown :
![dropdown-hover](https://user-images.githubusercontent.com/24937677/70430492-f1ada500-1aa0-11ea-862a-84d6ed2a4abc.png)

Click dropdown :
![dropd

[2019-12-09 11:04] CodeSarthak commented on #4581
Hi, @publiclab/guides @publiclab/reviewers ,

I am not sure but I believe that this issue is still relevant and we can add issues from this list to GCI too. Though, the ones which are already solved need to be closed (39 of 77 mentioned are not yet checked).

Thank you.

[2019-12-09 11:47] CodeSarthak commented on #6808
Hey! I am Sarthak. I am participating in GCI for Public Lab. I participated for Public Lab last year too and I finished seventh in the leaderboards.

Feel free to dm me on Gitter or mail me at getsarthakaggarwal@gmail.com

Looking forward to working with everyone :)

[2019-12-09 12:06] Asiedu13 commented on #6796
Can I claim the task?

[2019-12-09 13:05] HarshKhandeparkar commented on #6808
Hi! I am Harsh. I have been participating in gci for the last years. I learnt about publiclab via gci last year and I have been contributing to the ImageSequencer ever since. One of the main reasons why I stayed back and continued contributing is the welcomng attitude and fto issues.

Publiclab introduces me to proper open source and I have learnt exponentially ever since I joined PL.

Thanks all!

[2019-12-09 13:28] SidharthBansal commented on #6808
Please don't write any information about yourself
Welcome all

On Mon, 9 Dec 2019, 6:35 pm Harsh Khandeparkar, <notifications@github.com>
wrote:

[2019-12-09 14:23] nstjean commented on #6880
@kushaggarwal Sorry for the wait! To post a pull request you will go into your forked branch that has the changes and post the pull request from there against the publiclab/master branch.
Here's some info from GitHub on how to do that: https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2019-12-09 15:08] nstjean commented on #6904
One thing I'm finding is that some people have implemented a method wait_for_ajax which checks and waits while there are Ajax calls still completing.
https://medium.com/doctolib/hunting-flaky-tests-2-waiting-for-ajax-bd76d79d9ee9

The other option is addressing the `addTag` function specifically.

When a tag gets added via the form in `'adding a tag via javascript'` the tag is automatically added

[2019-12-09 16:27] CodeSarthak opened #6945 "Fix typo in config.yml"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-09 17:52] johnaceto commented on #6945
Hello. Can I claim this issue?

[2019-12-09 18:12] CodeSarthak commented on #6945
@johnaceto Yes, go ahead.

[2019-12-09 19:19] nstjean opened #6946 "Geographic: Set a default location of user's profile location on /post/"
My goal here is to:
- check if the currently logged in user has a location saved
- if they do, pre-fill the location form with that info
- present a way for them to remove that info

[2019-12-09 19:22] nstjean commented on #6946
One problem I'm seeing with the maps is that the blurred location is not saving zoom level. When I save my blurred location in my profile it looks like this:

![FireShot Capture 099 - 🎈 Public Lab_ admin - localhost](https://user-images.githubusercontent.com/49460529/70465544-2e70a080-1a8f-11ea-9c58-ac5b0c739bcc.png)

But when those numbers carry over to /post it's showing this:
![FireShot Capture

[2019-12-09 19:46] VladimirMikulic commented on #6808
@Mallik813 @Asiedu13

[2019-12-09 19:47] johnaceto commented on #6945
Please review my pull request. Thank you.

[2019-12-09 20:00] jywarren commented on #6946
Hi! Zoom level is inferred from the number of digits of precision,
actually! https://github.com/publiclab/leaflet-blurred-location#how-it-works

However, we are allowing for a specific "override" tag of `zoom:____` if
you want to override how LBL calculates zoom.

Thanks!

On Mon, Dec 9, 2019 at 2:22 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-09 20:07] nstjean commented on #6946
Hmmm. I don't know that it's doing that calculation correctly in this map, because this is what I get when I input a tight zoom of lat:61.5 and lon:9.7

![FireShot Capture 102 - 🎈 Public Lab_ Post - localhost](https://user-images.githubusercontent.com/49460529/70468736-a0e47f00-1a95-11ea-972f-bd79dd96d545.png)

Looks look instead of setting the zoom appropriately it's rounding the numbers to the n

[2019-12-09 20:12] jywarren commented on #6946
Hm, ok, can we document exactly what the handoffs are here? Like, am I
understanding that it's [user profile geo tags (no zoom)] => [/post to
draft a new post]... and it's sourcing lat/lon from the user profile tags?

Thanks for taking a close look here! We'll want to be sure this is well
plumbed and system tested.

On Mon, Dec 9, 2019 at 3:08 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-09 20:17] nstjean commented on #6946
Yes. It's reading the correct lat/lon from the user tags, and I have it checking if there is a tag for `location:blurred` and setting that option as well. If I uncheck the "blur my location" box it's showing the correct lat/lon, but when I check the box it rounds the numbers again. The lat/lon gets passed into the PL.Editor here:

https://github.com/publiclab/plots2/blob/68245096cf4bac7635bc7c7a3f

[2019-12-09 20:59] steviepubliclab commented on #6233
Ah ok, then maybe @ebarry you want to ping in here?  I thought you were interested in having people stay on a page once they follow?

[2019-12-09 21:07] nstjean commented on #6946
Found it... the default zoom level is hardcoded at 5 in PL.Editor:
https://github.com/publiclab/PublicLab.Editor/blob/e009d67aa3a26307f1f35d1cca983ffe579117d9/src/modules/PublicLab.MapModule.js#L32

I'm assuming I'll have to either calculate the zoom level myself, or create a function that calculates it given the number of precision in the saved lat and lon? It can't be hardcoded, obviously. I'm i

[2019-12-09 22:02] jywarren commented on #6946
@sagarpreet-chadha where do we make the calculation already, and can we standardize how we do this using, perhaps, https://github.com/publiclab/blurred-location or a Ruby port of one of its basic utility methods?

Also want to note @nfarve has been working on https://github.com/publiclab/plots2/pull/6858 which could overlap here.

[2019-12-09 22:41] #6849 closed

[2019-12-09 22:56] #6939 closed

[2019-12-10 01:10] CodeSarthak commented on #6945
Great job @johnaceto
Go to : https://github.com/publiclab/plots2/issues to find more issues you can work on.

Welcome to Public Labs :)

[2019-12-10 06:36] cesswairimu commented on #6845
Moved to https://github.com/publiclab/mapknitter/issues/1150. Thanks everyone

[2019-12-10 06:36] #6845 closed

[2019-12-10 07:56] shashwataggarwal commented on #6941
Can I work on this?

[2019-12-10 08:46] CodeSarthak commented on #6941
Sure @shashwataggarwal

[2019-12-10 09:58] shashwataggarwal commented on #6941
Where can I find the html/css/js file for this?

[2019-12-10 12:36] SidharthBansal commented on #3458
Yes it is. I think @ishaGupta18 @ananyaarun are busy these days.
I asked them to upload for some weeks. You can upload for week 2 if you
want.
K tasks for k repos. Just copy and paste thing. So it will take 10 min.
Thanks

On Mon, 9 Dec 2019, 2:54 pm Sasha Boginsky, <notifications@github.com>
wrote:

[2019-12-10 13:10] Uzay-G commented on #6233
Hey @SidharthBansal @jywarren I would like to work on this issue. I have been fiddling around with my dev-tools to manually add the ```return_to``` value that is used in the code to redirect after login:

![redirect](https://user-images.githubusercontent.com/52892257/70532087-90480d80-1b56-11ea-8eaa-81119c39e77a.PNG)

Surprisingly, this worked. So I think the problem is that for some reason, the s

[2019-12-10 13:13] msrdinesh commented on #3523
Hii is this issue open? if so, I would like to work on this.

[2019-12-10 13:21] Uzay-G commented on #6233
I am trying to pinpoint the bug but the login process is complex

[2019-12-10 13:58] jywarren commented on #6856
Hi @kushaggarwal are you still working on this? Need any help? Thanks!

[2019-12-10 13:58] jywarren commented on #6856
If you aren't able to continue, maybe we can open this up for someone else? Thanks, either way works!

[2019-12-10 15:36] Uzay-G commented on #6827
Hey @sashadev-sky, I'd like to work on this. Can we use the rails [pluralize](https://apidock.com/rails/ActionView/Helpers/TextHelper/pluralize) method instead. I have a working solution but maybe that's not what you are looking for.

[2019-12-10 15:40] Uzay-G commented on #6827
@sashadev-sky I'd like to work on this issue but I don't understand why it wouldn't work with the [pluralize](https://apidock.com/rails/ActionView/Helpers/TextHelper/pluralize) method.

[2019-12-10 15:47] Uzay-G commented on #6827
With something like this it seems to be working:
```<h3><%= raw t('notes.index.research_by', :url1 => "/people/"+@user.name, :user_name => @user.name) %> <small><%= pluralize(@user.note_count, "note") %> and <%= pluralize(@user.revisions.count, "edit") %><% if @user.notes.length > 0 %> <%= raw t('notes.index.starting_time', :time => time_ago_in_words(@user.created_at)) %><% end %></small></h3>```

[2019-12-10 16:09] #6911 closed

[2019-12-10 16:19] SidharthBansal commented on #3523
I hope so. Go for it if it is not solved yet!
Thanks

[2019-12-10 16:20] SidharthBansal commented on #4581
If you want to help us you can go ahead. However these will not be counted
against points.
Thanks Sarthak

On Mon, Dec 9, 2019 at 4:34 PM Sarthak Aggarwal <notifications@github.com>
wrote:

[2019-12-10 16:21] SidharthBansal commented on #6233
I think we have not decided yet what needs to be done. @jywarren what is
the final objective?

On Tue, Dec 10, 2019 at 6:51 PM Uzay-G <notifications@github.com> wrote:

[2019-12-10 16:24] Uzay-G commented on #6233
Yeah because now I realized that when you log in it actually redirects to the previous page and says "You were successfully logged in."

[2019-12-10 16:25] SidharthBansal commented on #6233
Did you log in through Oauth OR login form?

On Tue, Dec 10, 2019 at 9:54 PM Uzay-G <notifications@github.com> wrote:

[2019-12-10 16:29] Uzay-G commented on #6233
Oh no yeah you are right. Should I work on trying to make it redirect for the oauth or is that not the goal for this issue?

[2019-12-10 16:35] SidharthBansal commented on #6233
This issue is under discussion. So, I have asked Jeff, Liz and Ebarry.
Let's wait for their response
You can do other tasks while we decide on what to do.
Thanks

On Tue, Dec 10, 2019 at 9:59 PM Uzay-G <notifications@github.com> wrote:

[2019-12-10 16:36] SidharthBansal commented on #6233
I really appreciate your search in this matter

On Tue, Dec 10, 2019 at 10:05 PM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2019-12-10 16:41] Uzay-G commented on #6233
Thanks!

[2019-12-10 16:45] CodeSarthak commented on #4581
Yes, of course. I was not looking to do this for points, just for the record. It seems that it would be quite helpful to the community.

I will try to work on this as and when I get time.

[2019-12-10 17:27] SidharthBansal commented on #4581
I can upload a three point task for refactoring this to 2019 task list when
you will complete it.
Thanks for enthu

On Tue, 10 Dec 2019, 10:15 pm Sarthak Aggarwal, <notifications@github.com>
wrote:

[2019-12-10 17:37] CodeSarthak commented on #4581
Sure, thank you for the support @SidharthBansal .

[2019-12-10 18:49] jywarren commented on #6904
pulling out into a separate function sounds good, as it'd be a bit more modular as well. Let's do that! Thank you!

[2019-12-10 18:58] #6809 closed

[2019-12-10 19:10] cesswairimu commented on #6945
Hi @CodeSarthak, was this fixed on another PR? I saw there is a pull request from @johnaceto. Kindly let me know why you closed it. Thanks

[2019-12-10 19:30] cesswairimu commented on #6941
Hi @shashwataggarwal , I just browsed through the text couldn't find this code..actually I cannot see the footer locally :thinking: maybe its some dynamic text stored elsewhere.. @jywarren any ideas?

[2019-12-10 22:11] jywarren commented on #6915
I just wanted to say i went to https://publiclab.org/post and tried using the input, i was able to use `By place name` and choose a location, but the map did not move and I got a loading spinner with the JS error:

[code]

I think maybe we're parsing the response of the locations api incorrectly? This may be a 3rd bug that has to be broken out, but it seems to match one of your above observations

[2019-12-10 22:24] nstjean commented on #6915
Quite possible!

[2019-12-10 22:32] jywarren commented on #6915
OK! I've captured (lol) a sample response that I think we have to reconfigure around. I wonder when this changed and when it stopped working?

https://gist.github.com/jywarren/eec9fcec10528caaf463df6068846b0e

Can you try eliminating this variant of the bug by changing the parsing to match this? Then we can tackle `Oops, something went wrong!` after that!

Thanks, @nstjean !

[2019-12-10 22:44] jywarren commented on #6915
Ah - let's move this most recent one -- the `geometry` one - over to https://github.com/publiclab/leaflet-blurred-location/issues/214 !

[2019-12-11 00:17] seabl commented on #6424
@jywarren please close this issue as the PR has been merged.

[2019-12-11 02:22] CodeSarthak commented on #6945
Yes, #6947 is ready to be merged according to me.

[2019-12-11 07:15] SidharthBansal commented on #6808
Hello GCI students,
I hope you all had a great 🎉 experience with Public Lab this winter. We have more surprises for you coming ahead. All the best for week 2. Try to maintain consistency. Even if you are not able to solve the problem stick to it. We are there to guide you so that you can solve it 💯
So, don't take the stress. Most importantly don't take it as a competition. Take it as a learning ch

[2019-12-11 07:16] SidharthBansal commented on #6808
In case of any doubts, feel free to ask ME or any mentor,

[2019-12-11 07:29] smarty1palak commented on #6206
Hi, I am looking for a FTO to contribute. Please help!

[2019-12-11 09:31] smarty1palak commented on #6754
Is this issue still open? I would like to take it up in that case.

[2019-12-11 09:32] smarty1palak commented on #6519
Is this issue still open? Can i work on it?

[2019-12-11 10:18] smarty1palak commented on #6924
Hi, I am a first timer but would like to try this out. Can i be assigned this one?

[2019-12-11 14:48] nstjean commented on #6519
This is not corrected yet!

I am not seeing the toolbar show up on comments, but I do see the inconsistent toolbar at https://publiclab.org/wiki/new - following the steps above will fix it. :)

[2019-12-11 14:50] nstjean commented on #6754
@jywarren @cesswairimu It looks like the fix for this was merged into someone else's fork, and not publiclab.

[2019-12-11 15:00] smarty1palak commented on #6519
Okay i will work on it. Thanks!

[2019-12-11 15:16] jywarren commented on #6924
Yes please go ahead! Thanks!

On Wed, Dec 11, 2019, 5:18 AM palak singhal <notifications@github.com>
wrote:

[2019-12-11 15:45] CodeSarthak commented on #4581
Hey @jywarren @SidharthBansal ,

I have tried my level best here to look for already completed tasks and I have come to the conclusion that 33 issues are still there which can be resolved, some of which are also ftos and some are multiple-use too (for example, #3681 ).

This can prove to be a good source of ftos and even GCI tasks. I will get to work immediately on creating issues for the ones whi

[2019-12-11 15:59] #6424 closed

[2019-12-11 15:59] jywarren commented on #6424
Thanks, just did that! Thanks all!

[2019-12-11 17:06] Uzay-G opened #6950 "Identical failing tests on different pull requests. These tests may not work at all"
I noticed a problem with the Travis CI testing but probably also the testing in general on the repo since yesterday. My [pull request](https://github.com/publiclab/plots2/pull/6948) and [@chen-robert's](https://github.com/publiclab/plots2/pull/6949) have both been getting the same errors on our travis report that seem totally unrelated to the changes of our pull requests. You can see the details [

[2019-12-11 17:14] jywarren commented on #6805
This is solved; i just tested it on the live site. I think we should modify this issue or post a follow-up to write a test to protect this functionality; i believe this is now done by @nstjean in
  https://github.com/publiclab/plots2/pull/6951 as well. Thanks!

[2019-12-11 17:14] #6805 closed

[2019-12-11 17:45] sagarpreet-chadha commented on #6887
Hey @crisner , @nstjean
Can you guys add the PR's that you want me to review or debug in this issue, I am getting a lot of emails lately and hence may miss some notifications. It would be easier for me to just come to this issue. Thanks 😄 !

[2019-12-11 18:24] jywarren commented on #6754
Aha, indeed, @kamal-kaur04 can you open a new PR from your branch to `publiclab/main`? Thank you!

[2019-12-11 18:35] cesswairimu commented on #6945
@CodeSarthak ooh cool... I am sorry, I did not communicate this before...we do not manually close the issue until after the pull request is merged...it closes automatically when a pull request with the referenced number is merged...No worries though I will reopen this. Thanks a lot for opening this :heart:

[2019-12-11 18:37] #6945 closed

[2019-12-11 18:58] cesswairimu commented on #6950
Hey @Uzay-G , yeah, we have been having this problem with travis for a while.. could be it is running some dependent tests before other and hence the failures... most times restarting travis usually does the trick but I agree could be great to investigate and possibly fix it. I will restart both of your builds for the time being. Thanks for opening this.

[2019-12-11 19:39] nstjean commented on #6946
@sagarpreet-chadha Can you take a look at this? Is there anywhere in leafleft-blurred-location where it calculates the appropriate zoom level according to the precision of the saved lat and lon?

[2019-12-11 19:50] jywarren commented on #6887
Thanks, that's also great for overall project management. As we crank through issues, we should keep good track of what we've done or not. This can be done in a checklist that:

* [ ] can
* [x] be
* [ ] checked off

Another way (although i think pinging in this thread would also need to happen) is to maintain GitHub Project boards. But I think i remember you'd set up a project tracking system alre

[2019-12-11 19:51] jywarren commented on #6887
Sorry just to clarify, if you use the checkboxes method, it doesn't send an email to Sagarpreet, so that's a good reason to leave a comment TOO if you're going to use the checkbox list you've made above. Thanks!

[2019-12-11 19:55] jywarren opened #6953 "Standardize rules for maps on place:____ tagged wiki pages"
We have an issue where pages present maps in different places, and we need to standardize a bit. This page, for example, shows 2 maps, redundantly:

https://publiclab.org/wiki/barataria-bay-mapping-project

![image](https://user-images.githubusercontent.com/24359/70654892-395d3980-1c25-11ea-9f80-55b0858a0de8.png)

https://publiclab.org/wiki/puerto-rico

![image](https://user-images.githubuserconte

[2019-12-11 19:57] nstjean commented on #6887
Ok that works! I'll be using the checkboxes above to track what is complete
and not, we can leave a comment with a link to issues so you both get
notified. I'm guessing editing the list isn't going to notify you?

Yes, we are using Notion to coordinate and organize our issues!

[2019-12-11 19:59] jywarren commented on #6887
Oh cool, great. If you'd like to share a link that's great, but not
required! Thanks!

On Wed, Dec 11, 2019 at 2:57 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-11 20:18] jywarren commented on #6946
I think possibly we're only doing this in plots2, but we should standardize
as much as possible...

https://github.com/publiclab/plots2/blob/7a6d9316193e1cb5b9318aa49dca665d52c54f27/app/views/map/_leaflet.html.erb#L24

But Sagarpreet may know more recent info than me on this feature. Thanks!!!

On Wed, Dec 11, 2019 at 2:39 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-11 20:41] cesswairimu commented on #6950
Okay, so these errors are more frequent than usual and none seems too pass after restart...investigating more on these errors and checking recent merges to see if I can point out the root cause

[2019-12-11 21:38] nstjean commented on #6950
The tests that are failing:

[code]

[2019-12-12 02:42] nstjean commented on #6946
I'm thinking it would probably be good to have a function in LBL that takes in lat and lon, does the calculation and returns a zoom level.

`<%= lat.to_s.length.to_i %> + 6` I'm not even sure this would give consistent results... wouldn't this give different zoom levels for `46.25` and `4.25`?

[2019-12-12 03:34] SidharthBansal commented on #4581
Superb

[2019-12-12 08:24] smarty1palak commented on #6519
Hi, I am having trouble finding the code for this . Csn you point me to it @nstjean ? Thanks!

[2019-12-12 10:33] smarty1palak commented on #6519
Okay nevermind. I got that. Thanks !

[2019-12-12 12:04] crisner commented on #6887
@sagarpreet-chadha, I would like your feedback on this PR [#296](https://github.com/publiclab/leaflet-environmental-layers/pull/296) for issue [#252](https://github.com/publiclab/leaflet-environmental-layers/issues/252) on LEL. Thanks!

[2019-12-12 13:28] crisner commented on #6887
@sagarpreet-chadha PR [#293](https://github.com/publiclab/leaflet-environmental-layers/pull/293) for issue #6889.

[2019-12-12 14:46] nstjean commented on #6946
These are the zoom numbers given on the LBL docs. Should I use these numbers instead of the formula above?
 https://github.com/publiclab/leaflet-blurred-location#human-readable-blurring
[code]

[2019-12-12 14:47] nstjean commented on #6887
Feedback needed: https://github.com/publiclab/plots2/issues/6946

[2019-12-12 15:03] nstjean commented on #6946
This code in LBL is different than the table above, this is what's actually used:

https://github.com/publiclab/leaflet-blurred-location/blob/1040824864a3e05a83e1e3d9ac75626d56a01ae6/src/blurredLocation.js#L204-L207

`var precisionTable = {'-2': 2, '-1': 3, '0':6, '1':10, '2':13, '3':16};`

[2019-12-12 15:04] smarty1palak commented on #6519
Hi, I have completed the issue. Can you guide me on the guidelines to be followed for sending a PR @nstjean ?

[2019-12-12 15:15] nstjean commented on #6519
@smarty1palak Great! What you need to do is push your changes to your own fork on GitHub. Then when you look at [Pull Requests](https://github.com/publiclab/plots2/pulls) in publiclab it will show you a button for "compare and submit pull request". Make sure the base is master on publiclab, and the one you're comparing it to is the branch you created on your own fork.

Here's a guide that has pict

[2019-12-12 16:21] nstjean commented on #6887
PR #6957 for #6946 - Included some ideas/suggestions.

[2019-12-12 16:54] #6889 closed

[2019-12-12 20:21] pianeta051 commented on #6923
Is anyone working on this?...Can I take it?

[2019-12-12 20:33] pianeta051 commented on #6856
@kushaggarwal are you still working on this....If not please let us know, because I am interested in this.
thanks

[2019-12-12 22:04] jywarren opened #6960 "Modify card design as displayed on Methods page to match style guide"
We now have nice new "card" designs for pages around the site, from the [style guide draft](https://publiclab.org/notes/warren/05-07-2019/introducing-a-draft-style-guide-for-public-lab). They look like this:

![image](https://user-images.githubusercontent.com/24359/70752223-23707700-1d00-11ea-9e88-327e568a57a8.png)

But this page isn't quite looking right:

https://publiclab.org/methods

![image](

[2019-12-13 01:41] skilfullycurled opened #6962 "Include Emails of Banned Users in Moderator Email Search"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-13 01:56] skilfullycurled commented on #6962
Regarding the number of spam users slowing things down:

We have at least over 350,000 actual users (see [here](https://github.com/publiclab/plots2/issues/5524#issuecomment-484611290)) but that's from 2013 and things seem pretty good.  Did we not require email back then?

I trust you could do an actual query but as a rough estimate: I've been collecting moderation emails since 5/1/19 and we've onl

[2019-12-13 02:03] skilfullycurled commented on #5450
Update:  I now have enough spam that we could probably make progress on this if anyone is interested.

[2019-12-13 02:06] skilfullycurled commented on #4660
Update: I now have enough spam if ever anyone wants to take on training spam/ham classifier for the site.  If I recall, I've seen a number of Jupyter notebooks that do this in Ruby.  Of course, the data has to be parsed, and we need a ham dataset as well.  In any event...

[2019-12-13 09:22] SidharthBansal commented on #6303
@chen-robert I observed that you have not claimed this task on the dashboard. Why?

[2019-12-13 09:24] SidharthBansal commented on #6923
Yes, someone else is working on it. Please try any other issue.

[2019-12-13 12:13] crisner commented on #6887
PR [#300](https://github.com/publiclab/leaflet-environmental-layers/pull/300) for issue [#299](https://github.com/publiclab/leaflet-environmental-layers/issues/299) (Continuation of PR [#296](https://github.com/publiclab/leaflet-environmental-layers/pull/296))

[2019-12-13 14:08] pydevsg commented on #6828
Hi, @genesis331 please let me know if you have done so

[2019-12-13 16:21] jywarren commented on #6950
https://github.com/publiclab/plots2/pull/6961 also - test at https://travis-ci.org/publiclab/plots2/jobs/624386719

We can restart/rebase that once we figure this out. Thanks all!

[2019-12-13 16:22] jywarren commented on #6950
And just to note @Uzay-G @chen-robert you're totally right this is a priority as it's blocking all or most PRs. I'll try restarting tests a little (you can do this also by closing and reopening the PR) to see if it's a "sometimes" issue, while we also prioritize a more permanent fix to the issue. Thanks all! 🙌

[2019-12-13 16:27] cesswairimu commented on #6950
@jywarren I got this class change was the issue.. Any ideas why https://github.com/publiclab/plots2/pull/6955

[2019-12-13 18:01] CodeSarthak commented on #6808
Hi, are any hall-of-fame tasks going to be added soon?

[2019-12-13 18:05] nstjean opened #6968 "Location form on /post/ has inconsistent styling"
This is the mockup from my proposal for publiclab.org/post/

![Post_2_with_text_2_BORDERED](https://user-images.githubusercontent.com/49460529/70821419-093ea380-1da9-11ea-8259-b09b16287a1d.png)

It evens up the spacing of the elements. The code needs cleaning up too.

I'll be doing this in a PR very shortly. :)

[2019-12-13 18:07] CodeSarthak commented on #6864
Hey, this task is still there on GCI but it is closed here. Please take appropriate action @SidharthBansal @jywarren

[2019-12-13 18:25] SidharthBansal commented on #6808
If you find any task that is very difficult like writing docs for whole
repo(15+files), creating a new section of a profile like creating auth
modals, etc. then please let me know. I will mark it as hOF and add it to
the GCI dashboard.
Mentors are busy reviewing the tasks so we are not able to add those types
of tasks till now. Thanks for the reminder.
Please see the break-up labeled task. Maybe w

[2019-12-13 18:30] nstjean opened #6970 "New post form goes off-screen at small screen sizes"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

At https://publiclab.org/post/ at small screen sizes the elements collapse nicely and are supposed to be fill the width of the screen. But something is pushing the map and f

[2019-12-13 18:32] nstjean commented on #6970
@SidharthBansal This can be added to the GCI dashboard!

[2019-12-13 18:40] SidharthBansal commented on #6970
Published thanks

[2019-12-13 18:41] SidharthBansal commented on #6970
Can you write reserved for gci students online at top of the issue body?

[2019-12-13 18:42] SidharthBansal commented on #6864
Can you please check whether this task is completed or not?

[2019-12-13 18:43] SidharthBansal commented on #6864
@chen-robert did you take points for this task?

[2019-12-13 18:48] SidharthBansal commented on #6801
@jywarren @sagarpreet-chadha can we create some minor projects from the above list as hall of fame tasks for GCI?
This way we can get small projects completed in GCI and can keep big projects for outreachy or gsoc.

[2019-12-13 18:50] SidharthBansal commented on #6569
@jywarren can we create some minor projects from the above list as hall of fame tasks for GCI?

[2019-12-13 18:50] SidharthBansal commented on #6569
If there are 1-2 tests I think we can change it medium tasks

[2019-12-13 18:51] SidharthBansal commented on #6290
@jywarren @sagarpreet-chadha can we create some minor projects from the above list as hall of fame tasks for GCI?

[2019-12-13 18:52] SidharthBansal commented on #6290
@jywarren i think making this as a whole as a hall of fame task is a great idea
(Maybe I am wrong. I think this task is removing code coverage errors from whole plots2 repo)

[2019-12-13 18:53] SidharthBansal commented on #5807
Can we include this in gci?

[2019-12-13 18:54] SidharthBansal commented on #396
If @jywarren you think this is a minor project OR can be broken into 2-3 minor projects then we can include this as hall of fame task in GCI

[2019-12-13 18:58] nstjean commented on #6970
Oh yes! Done. :)

[2019-12-13 19:02] SidharthBansal commented on #4109
@jywarren can we create this as the hall of fame?
We may target some important features like emails from the same post should come below one another, etc.

[2019-12-13 19:19] Uzay-G opened #6971 "Change language not working"
I was on the Publiclab.org website and wanted to check something so I tried changing the language in the section at the footer. After I changed it, the window reloaded and I noticed that the language was still english as you can see here:
![lang-bug](https://user-images.githubusercontent.com/52892257/70825801-969fe900-1de5-11ea-9440-c7edc0a692b6.png)

### Please show us where to look

https://publ

[2019-12-13 20:01] jywarren commented on #6950
We believe this is fixed in https://github.com/publiclab/plots2/issues/2365 - please rebase your pull requests over the latest `master` branch to confirm, thank you all for identifying this issue and for your patience! And thanks @cesswairimu for the fix!!! 🙌 💪 🎉

[2019-12-13 20:01] #6950 closed

[2019-12-13 20:01] jywarren commented on #2365
We believe this is fixed in https://github.com/publiclab/plots2/issues/2365 - please rebase your pull requests over the latest `master` branch to confirm, thank you all for identifying this issue and for your patience! And thanks @cesswairimu for the fix!!! 🙌 💪 🎉

[2019-12-13 20:02] jywarren commented on #2365
Ah oops my last message was for https://github.com/publiclab/plots2/issues/6950 - re-opening this one!

[2019-12-13 20:15] jywarren commented on #5807
yes please!

On Fri, Dec 13, 2019 at 1:53 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-12-13 22:10] #6532 closed

[2019-12-13 22:38] jywarren commented on #5260
Adding comments from https://github.com/publiclab/plots2/pull/5769 which I'm merging! For followups:

Please see these comments: https://github.com/publiclab/plots2/pull/5769#issuecomment-495235369

[2019-12-14 00:57] jywarren commented on #6971
Hi! Actually the language change will affect only UI elements, and even then only ones we've entered into the translation system. So I think some caveats and explanation, even briefly, will help set expectations here. What do you think?

[2019-12-14 01:00] jywarren commented on #6971
For example the dashboard has some translated text, but not in every language.

Each globe icon represents a string of text that is not yet translated:

![Screenshot_20191213-195903](https://user-images.githubusercontent.com/24359/70840827-1c6e6500-1de3-11ea-994b-aa4db4f02c5c.png)

[2019-12-14 04:29] sagarpreet-chadha commented on #6801
Yes great idea!

On Sat, 14 Dec 2019, 00:18 Sidharth Bansal, <notifications@github.com>
wrote:

[2019-12-14 04:30] sagarpreet-chadha commented on #6887
Yes going through the PR's now.

[2019-12-14 05:35] chen-robert commented on #6303
@SidharthBansal the task expired for me on the GCI dashboard. Is there any way for me to reclaim it or extend the time limit?

[2019-12-14 06:14] chen-robert commented on #6303
I had initially claimed it and was working on it but it expired when I was sleeping. I was unable to find it afterward and wasn't sure if you had removed it?

[2019-12-14 06:14] chen-robert commented on #6303
Also, all three of my other PRs are ready to merge now, I've fixed the corresponding Travis errors :tada:

[2019-12-14 07:28] SidharthBansal commented on #6303
Please try to reclaim it.

[2019-12-14 07:29] SidharthBansal commented on #6303
I have not removed it

On Sat, Dec 14, 2019 at 11:44 AM Robert Chen <notifications@github.com>
wrote:

[2019-12-14 09:37] sagarpreet-chadha commented on #6946
Okay, let's break it:

1.  @nfarve has been working on #6858 .
-> So after this has been done, PL.editor will take ZOOM level as input and on /post page that zoom level will be applied.

2. Now we need to preserve the zoom level when a person adds location using LBL model. For this lwe need to change LBL model to give zoom level as output along with lat/lng . Maybe let's make a separate function `

[2019-12-14 09:57] sagarpreet-chadha commented on #6887
Hey @crisner , i have left a small change in your PR. After doing that we can merge that PR in LEL.
Which issue are you planning to do after that?

Hey @nstjean ,
I think you can do a small change that @jywarren has left in https://github.com/publiclab/plots2/pull/6858 so that you can work further in issue #6957 .

Thank you both!!! You both are doing amazing jobs 🙌 !!!

[2019-12-14 10:28] crisner commented on #6887
Thanks, @sagarpreet-chadha! I was working on issue [#301](https://github.com/publiclab/leaflet-environmental-layers/issues/301). After this I was planning to work on making domain name as a settable option defaulting to the gh-pages as suggested while working on the embed feature. I was also looking into adding some tests.

[2019-12-14 14:14] crisner commented on #6887
Feedback needed for PR [#303](https://github.com/publiclab/leaflet-environmental-layers/pull/303) on issue [#301](https://github.com/publiclab/leaflet-environmental-layers/issues/301)

[2019-12-14 15:41] #6904 closed

[2019-12-14 16:04] jywarren commented on #6946
This is awesome! Thanks all!

On Sat, Dec 14, 2019, 4:37 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-12-14 16:55] chen-robert commented on #6303
@SidharthBansal I have reclaimed it now, thanks!

[2019-12-14 18:21] keshav234156 commented on #4691
@SidharthBansal **UPLOADED ON GCI DASHBOARD**

[2019-12-14 18:35] keshav234156 commented on #6879
@SidharthBansal **UPLOADED ON GCI DASHBOARD**

[2019-12-15 06:49] SidharthBansal commented on #4691
Published

[2019-12-15 06:50] SidharthBansal commented on #6879
Published

[2019-12-15 06:54] SidharthBansal commented on #6878
Published

[2019-12-15 09:16] #6827 closed

[2019-12-15 10:51] CodeSarthak commented on #4581
Hey @SidharthBansal , can you upload a GCI task for this refactoring?

[2019-12-15 10:58] SidharthBansal commented on #4581
You can do other tasks right now.
I will upload it on Tuesday. Ping me if I forget.
I am busy preparing for my exam tomorrow 😣

On Sun, 15 Dec 2019, 4:21 pm Sarthak Aggarwal, <notifications@github.com>
wrote:

[2019-12-15 12:55] Johongirr commented on #6756
hey can i add my contribution?

[2019-12-15 15:23] CodeSarthak commented on #4581
Yes, sure. All the best for your exam :laughing:

[2019-12-15 16:39] Johongirr commented on #6923
how can i be notified if some new issue is opened

[2019-12-15 16:55] pianeta051 commented on #6971
Hello,
I would like to help with this issue. Is anyone working on this?.
Thanks

[2019-12-15 17:11] YuetChan commented on #6924
Is anyone working on this issue? If not, can I give it a try?

[2019-12-15 17:16] pianeta051 commented on #6924
I would like to help on this....Let me know if any help is needed

[2019-12-15 19:25] pianeta051 commented on #6829
Hi,
Is anyone working on this?
May I take this issue?

[2019-12-15 19:40] Uzay-G commented on #6829
Hey @pianeta051:smile:. This issue is reserved for participants in the Google CodeIn. If you are indeed a member, you can work on this one.
Otherwise you can find some issues [here](https://code.publiclab.org)

[2019-12-15 19:55] pianeta051 commented on #6444
Is anyone working on this?
may i take this issue?

[2019-12-16 07:52] crisner commented on #6887
Feedback needed for PR [#300](https://github.com/publiclab/leaflet-environmental-layers/pull/300) for issue [#299](https://github.com/publiclab/leaflet-environmental-layers/issues/299) updated with changes from PR [#296](https://github.com/publiclab/leaflet-environmental-layers/pull/296). Thanks!

[2019-12-16 11:32] crisner opened #6978 "Change script path in map dependancies to match with LEL"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-16 11:33] crisner commented on #6978
@sagarpreet-chadha, here's the issue to update the script paths.

[2019-12-16 14:02] crisner commented on #6887
@sagarpreet-chadha, I need your guidance on the following issues I created. Would you take a look at it and let me know if I need to add or remove anything? Here are the issues: issue [#304](https://github.com/publiclab/leaflet-environmental-layers/issues/304), issue[#305](https://github.com/publiclab/leaflet-environmental-layers/issues/305), and
issue #6978. Thanks!

[2019-12-16 14:52] nstjean commented on #6946
Ok perfect! I'll add these tasks to my list for the week and create issues for them. :+1:

[2019-12-16 16:52] jywarren commented on #6924
@YuetChan - if you'd like to help out, please open up a PR even with your initial work, so we can see! @pianeta051 it looks like this has been claimed but if @YuetChan does not follow up for a few days, i'm sure we could use the help! Thanks all!

[2019-12-16 16:58] jywarren commented on #6444
We'd love help with it if nobody is actively working on it! Thanks!

On Sun, Dec 15, 2019 at 2:55 PM Carlos P <notifications@github.com> wrote:

[2019-12-16 17:08] nstjean opened #6979 "Make "Share" title full width on /post/"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-16 17:20] SidharthBansal commented on #4581
Please describe what you did and how can i check your work. Please help :-)

[2019-12-16 17:23] pianeta051 commented on #6979
Hi,
I would like to take this issue.

[2019-12-16 17:23] nstjean commented on #6979
Hi @pianeta051 ! Go for it!

[2019-12-16 17:32] #6970 closed

[2019-12-16 17:54] #6519 closed

[2019-12-16 17:56] #6721 closed

[2019-12-16 18:01] jywarren commented on #6887
Hi all! I know many folks celebrate holidays in the coming weeks, not to mention New Year's. Please reach out on our mentor email threads about your availability and time you'll be taking off (please do!) so we're all synced up and aren't bothering one another while offline with family and friends 😄 🎉 🎆

[2019-12-16 18:10] sagarpreet-chadha commented on #6887
Hey @crisner , the FTO issues looks amazing!!! Next time in LEL as well we can use the same FTO issue template of plots2. Thanks!

[2019-12-16 18:28] nstjean commented on #6887
Ok I set this to allow public viewing! Hopefully it works correctly. This is our Notion project planner.
https://www.notion.so/nstjean/df760cb3a7514788bf448ce6f6d2404a?v=77cad99bbb0c4151965fe98c47d6499c

[2019-12-16 18:41] Grobarge commented on #6979
@pianeta051 are you still planing on working on this?

[2019-12-16 18:49] Grobarge commented on #6979
I submitted a PR and would love a review :)

[2019-12-16 18:59] nstjean commented on #6979
Hi @Grobarge thanks for your interest in helping us out! Someone has already claimed this issue and we need to give them a chance to complete it. Please find another first-time-only issue to complete.

[2019-12-16 19:31] nstjean commented on #6887
@jywarren For the item "Redirect /maps to /map, leave /archive as archive" -- does /map exist yet? Are we just moving over /maps to a different url?

[2019-12-16 20:33] jywarren commented on #6887
It doesn't yet exist! I think @sagarpreet-chadha had possible started on
that, but we'll be needing:

1. a new route at /map/ and /map/:slug
2. a new page with a full screen map
3. a variety of permalink setup to display the correct locations

@sagarpreet-chadha, maybe you can update us on the latest on this so we can
start breaking it up into parts? If you've already started perhaps we can
merge

[2019-12-16 20:37] nstjean commented on #6887
Ok great! Breaking it up will be excellent. I'll wait to see what has been
started, if anything, and go from there! I notice a lot of things on the
plots2 list revolve around having the map page working.

[2019-12-16 20:56] jywarren commented on #6290
Yes this'd be great!

On Fri, Dec 13, 2019 at 1:52 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-12-16 20:57] jywarren commented on #4109
If we could improve the digest mailer template that'd be great. It has some
considerable formatting issues; tough but maybe not quite a hall of fame?
Do you get digests?

On Fri, Dec 13, 2019 at 2:02 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-12-16 20:57] jywarren commented on #6569
Sure this would be great...

On Fri, Dec 13, 2019 at 1:50 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-12-16 22:30] jywarren commented on #6968
Like this! Maybe "remove location" ought to be a trash can instead of a ban icon? And, ought it to be next to "current location"?

Finally i think i suggested already that "by entering coordinates" could be a toggle with those fields already collapsed by default.

Thanks! Awesome!

[2019-12-17 04:43] sagarpreet-chadha commented on #6887
Hey @jywarren , @nstjean
It has been implemented by me 😄 !

I had implemented a new route `/map` with a full screen map with URL Hash implemented. Check this link:

https://publiclab.org/map/mapknitter#lat=60.23981116999893&lon=5.976562500000001&zoom=4

There is one bug which you can see when you open this page, the bottom partial of application.html.erb is overlapping with the map (this bug is no

[2019-12-17 04:48] sagarpreet-chadha commented on #6887
In PR https://github.com/publiclab/plots2/pull/6874 , i had implemented this new route `/map` with full screen map and working URL hash. This page was implemented so that iFrame can be used to embed this map to other websites. Thanks!

[2019-12-17 07:27] CodeSarthak commented on #4581
I went through the issues/tasks list above and figured out which of them are still unresolved. I checked the ones which have been resolved.

You can check the same by going through the issues checklist above.

I am planning to add issues for some of the tasks above which do not have an issue of their own. Though this may require help from the community since it is a large number.

Thank you.

[2019-12-17 08:54] crisner commented on #6887
Feedback needed for PR [#307](https://github.com/publiclab/leaflet-environmental-layers/pull/307) for issue [#306](https://github.com/publiclab/leaflet-environmental-layers/issues/306). Thanks!

[2019-12-17 11:14] sharmamansi commented on #6960
Hey, @jywarren  can i work on this?

[2019-12-17 12:03] AnshitaVishwa opened #6987 "username should accept the correct format"
During Sign Up the publiclab site, the username box accepts any format, for an example  "_1234589"

The username definitely shouldn't contain special characters, but that should also yield to the rules of the system, those mainly being:

A username should consist of lowercase alphanumeric characters
A username must not contain special characters EXCEPT for _, but never at the start or end
A userna

[2019-12-17 12:56] jywarren commented on #6960
That would be great, thank you!!

On Tue, Dec 17, 2019, 6:14 AM Mansi Sharma <notifications@github.com> wrote:

[2019-12-17 13:27] VladimirMikulic opened #6989 "Performance issue: Elements constantly updated"
As the title suggests, on https://publiclab.org/post span that contains a message and a link is updated constantly. I suspect we have an infinite loop somewhere. Also, my CPU usage rises while I am on pl.o/post.

Video: https://streamable.com/vvn65
Browser: Chrome 79
OS: Kubuntu 19.10

[2019-12-17 14:00] crisner commented on #6887
@sagarpreet-chadha, thank you for reviewing and approving the above PR today. I also need feedback for PR [#309](https://github.com/publiclab/leaflet-environmental-layers/pull/309) on issue [#308](https://github.com/publiclab/leaflet-environmental-layers/issues/308). Thanks!

[2019-12-17 14:07] crisner commented on #6887
Thanks, @sagarpreet-chadha! I can edit the issues to use the template in plots2, if that's alright.

[2019-12-17 14:30] nstjean commented on #6887
@sagarpreet-chadha That looks excellent!! I believe the footer is the part that's overlapping... it doesn't show up on local because the content doesn't exist on local. I haven't looked to see if it's a wiki or something else. I'm sure that's easily hidden via css for the map page.

[2019-12-17 14:30] steviepubliclab opened #6990 "response by email posted whole email"
Hello,
I believe the person (gloryaec) who posted on this question used the respond by email feature. It looks like it carried over the footer of the email as well:

https://publiclab.org/questions/stevie/12-16-2019/are-there-simple-tests-for-nitrates-in-well-water

[2019-12-17 14:36] steviepubliclab opened #6992 "comments page on profiles not loading."
Hello,
When visiting this profile page: https://publiclab.org/profile/Mark34 I clicked the comments link here:
<img width="1087" alt="Screen Shot 2019-12-09 at 9 10 10 AM" src="https://user-images.githubusercontent.com/7490478/71004866-95561100-20b0-11ea-8b47-84eb6a35a21e.png">

and am taken to a sort of error page that looks like this:
<img width="1062" alt="Screen Shot 2019-12-09 at 9 09 59 AM"

[2019-12-17 15:18] jywarren opened #6993 "Follow-up tasks for new /map... route"
@sagarpreet-chadha updated us that:

https://publiclab.org/map/mapknitter#lat=60.23981116999893&lon=5.976562500000001&zoom=4

It looks great!

![image](https://user-images.githubusercontent.com/24359/71008012-e9afbf80-20b5-11ea-91ca-b0d840b95800.png)

Follow up tasks:

* [x] use CSS to hide the footer OR (maybe better) let's make the map 90% of window height, but fixed position, so you can scroll

[2019-12-17 15:19] jywarren commented on #6887
Awesome @sagarpreet-chadha !!! Let's spin out a new issue with the next to-dos on that. Great!

I pulled a bunch out of https://github.com/publiclab/plots2/issues/6801 and moved them into a more specific issue here: https://github.com/publiclab/plots2/issues/6993

I hope that's helpful; happy to adapt if you want to organize differently. I'm also going to go in and check off a number of these that

[2019-12-17 15:28] jywarren commented on #6993
A couple notes that may be helpful to @nstjean @sagarpreet-chadha @crisner --

https://github.com/publiclab/plots2/blob/570a3bb96ef0c467f9ddd582e0e6b177c2e6703f/app/assets/stylesheets/style.css#L545-L561

These styles can bust out of the Bootstrap margins to become full-width, when applied to divs in the main content column. I used them in https://publiclab.org/wiki/inline-maps and they work on mo

[2019-12-17 16:01] jywarren commented on #6989
I think you may be right -- it could just be the polling from this module
feature? https://github.com/publiclab/PublicLab.Editor#title-integration
looking
for related titles... if you turn that off does it still run the CPU?

On Tue, Dec 17, 2019 at 8:27 AM Vladimir Mikulic <notifications@github.com>
wrote:

[2019-12-17 16:24] nstjean commented on #6993
It all looks good!

I like the thought of having the footer still exist below it, it has a lot of information in there and would allow the map page to feel like still part of the overall website.

For these two options:

How will the code decide if it's a wiki page or if it's supposed to grab all the notes/wikis/people for the slug? Should there be a route like `/map/tag/SLUG` to differentiate?

T

[2019-12-17 16:43] VladimirMikulic commented on #6989
That's what I found out too. I've provided detailed explanation and PR: https://github.com/publiclab/PublicLab.Editor/pull/370

[2019-12-17 17:06] #6968 closed

[2019-12-17 17:30] cesswairimu commented on #6987
Hey @AnshitaVishwa, Nice catch :+1: ...thanks so much..

[2019-12-17 17:43] #6989 closed

[2019-12-17 17:46] jywarren commented on #6993
Ah, sorry - so, at `/map/_wiki_slug_`, it would look up the lat/lon from the corresponding wiki page; for `/map/providence` it would look for lat/lon at `/wiki/providence` for example. Then it would show the content/people for that location, just as the first maps on this page do (though they're missing people; we need to sort that out in #3090): https://publiclab.org/wiki/inline-maps

Re "add you

[2019-12-17 17:56] sagarpreet-chadha commented on #6887
Yes @nstjean , i believe position:absolute should do the trick. Thanks!

[2019-12-17 17:58] jywarren commented on #6990
Screenshot here! Stevie is right!

![image](https://user-images.githubusercontent.com/24359/71021023-76b14380-20cb-11ea-8c2c-35ace7c3ad86.png)

We have a whole system to detect quoted text from emails; it's here:

https://github.com/publiclab/plots2/blob/a0aaa05476c7c01138c8d1440689eba6614f2bc3/app/models/comment.rb#L449-L463

However it looks like it failed on this message. I recovered the email

[2019-12-17 18:03] jywarren commented on #6992
Hi, Stevie, thanks! I think we want it to look more like https://publiclab.org/comments, right? Like this?

![image](https://user-images.githubusercontent.com/24359/71021788-13c0ac00-20cd-11ea-9293-a1966340d6a6.png)

I believe it's the same template -- looks like we just need to do some adjusting -- I believe it's this one:

https://github.com/publiclab/plots2/blob/master/app/views/comments/index.

[2019-12-17 18:42] jywarren opened #6994 "Test failure in Travis on master branch"
We have a test failure in master branch here:

https://travis-ci.org/publiclab/plots2/jobs/626310949#L3777

It's from this test:

https://github.com/publiclab/plots2/blob/master/test/integration/signup_flow_email_test.rb#L29

[code]

Strangely it didn't fail in the PR that introduced that line:

https://travis-ci.org/publiclab/plots2/builds/624925676

From this PR: https://github.com/publiclab/plo

[2019-12-17 18:44] jywarren commented on #6994
Hmm, any ideas on this, @chen-robert? I think it's a test you modified or wrote? Thank you!!

[2019-12-17 18:54] sharmamansi commented on #6960
hey @jywarren can you please help me when im running the project on my machine im not able to see these cards.

[2019-12-17 18:55] VladimirMikulic opened #6995 "Make the main navigation bar responsive"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-17 18:56] jywarren commented on #6960
Hi, I believe you need to create a wiki page at /wiki, and then give it a
tag "method" for it to appear on this listing. Make sense?

On Tue, Dec 17, 2019 at 1:54 PM Mansi Sharma <notifications@github.com>
wrote:

[2019-12-17 18:57] jywarren commented on #6995
Hi, this is really great! I believe there is an easier fix documented here, however: https://github.com/publiclab/plots2/issues/6888

Can you integrate that into this FTO? Thank you so much!!!

[2019-12-17 19:20] VladimirMikulic commented on #6995
@jywarren updated accordingly :)

[2019-12-17 19:41] nstjean commented on #6993
Excellent. :smile:

[2019-12-17 20:11] nstjean commented on #6887
This PR should be good to go: https://github.com/publiclab/leaflet-blurred-location/pull/223

And this one too: https://github.com/publiclab/leaflet-blurred-location/pull/220

[2019-12-17 21:45] steviepubliclab commented on #6992
Yes but for someone's individual profile.
-Stevie

On Tue, Dec 17, 2019 at 1:03 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-12-17 21:53] eel87 commented on #4036
@sagarpreet-chadha  Is this issue still open? If so I would like to try and help!

[2019-12-17 22:02] #6994 closed

[2019-12-17 22:02] cesswairimu commented on #6994
This should be now fixed by #6996. Thanks all

[2019-12-17 22:31] pianeta051 commented on #6979
https://github.com/publiclab/plots2/pull/6997#pullrequestreview-333624390

[2019-12-17 23:00] polygonart6777 commented on #6995
I would like to claim this issue!

[2019-12-17 23:22] VladimirMikulic commented on #6995
@polygonart6777 of course, please do! Welcome to PublicLab :tada: :tada: :tada:
If you have any questions, you can ask me.
You should also introduce yourself to the community on [Gitter](https://gitter.im/publiclab/publiclab) :cocktail:

[2019-12-18 05:21] sagarpreet-chadha commented on #4036
Yes i think it is still open. @cesswairimu can you please verify? Thanks!

[2019-12-18 05:21] SidharthBansal commented on #4581
Hello Sarthak,
Please move the unsolved issues to GCI 2019-20 from GCI 2018-19. Please
close this issue once done.
Thanks

On Tue, Dec 17, 2019 at 12:57 PM Sarthak Aggarwal <notifications@github.com>
wrote:

[2019-12-18 06:16] sharmamansi commented on #6960
@jywarren  kindly review this.

[2019-12-18 07:03] SidharthBansal commented on #6290
Published

[2019-12-18 07:03] SidharthBansal commented on #6569
Published

[2019-12-18 10:06] SidharthBansal commented on #6808
GCI students are requested to take on the tasks labelled with hall of fame
and submit tasks for pr reviews of second week and third week by end of third week (22 Dec 2019)
We will upload week 3 tasks shortly.
Thanks all

[2019-12-18 10:14] SidharthBansal commented on #6990
Published

[2019-12-18 10:15] SidharthBansal commented on #6992
Publishedx

[2019-12-18 11:33] VladimirMikulic opened #7002 "PublicLab homepage: Images in projects section squished with text on mobile devices"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-18 12:14] crisner commented on #6887
PR [#311](https://github.com/publiclab/leaflet-environmental-layers/pull/311) on issue [#310](https://github.com/publiclab/leaflet-environmental-layers/issues/310) ready for review.

[2019-12-18 12:22] sharmamansi commented on #6206
Hi, I am looking for some issues to contribute as i have already contributed in some FTO's

[2019-12-18 12:26] AnshitaVishwa commented on #6987
@cesswairimu I am stuck with some issue. I browsed how to put the regex in html form and it's given
**pattern: "[eg. regex]"**    along with **placeholders size type** etc...
I have added this pattern type in the specific line that is username field and in accordance it should have worked perfectly while the new user is creating the profile, but it is not working, Could you please help me out givi

[2019-12-18 12:27] kushaggarwal commented on #6880
Okay Thank you very much for your help @nstjean
Will post the pull request for the same

[2019-12-18 14:06] nstjean commented on #6880
@kushaggarwal Let me know if you get stuck!

[2019-12-18 14:13] steviepubliclab commented on #6992
Thank you!!

[2019-12-18 15:00] Uzay-G commented on #6569
Hey @SidharthBansal and @jywarren! I would love to work on this once my other task gets approved.

Thanks :+1:!

[2019-12-18 16:27] 0dim commented on #7002
Hi! I've never contributed to an open source project before, I'm interested in doing this.

[2019-12-18 16:59] VladimirMikulic commented on #7002
Hi @0dim! Welcome to PublicLab :balloon:
PublicLab is a community of hard-working, passionate and creative people.
You can meet all of us on [Gitter](https://gitter.im/publiclab/publiclab)

We welcome first-time contributors and we would appreciate getting this issue fixed.
If you are stuck, don't worry, others and I are here to help! :open_hands:

If you are a GCI student, don't forget to checkou

[2019-12-18 17:29] cesswairimu commented on #6206
Hi @smarty1palak, sorry I didn't see your comment sooner, hope u got an issue to work on...Hi @sharmamansi , I will ping you when I find a good first-timer-issue. Welcome to PublicLab both :)

[2019-12-18 17:34] #6878 closed

[2019-12-18 17:40] cesswairimu commented on #6987
@AnshitaVishwa , did you get unstuck? I see a comment in my email that I can't see here...maybe I lost the link...just let me know if I can help in anyway. Thanks

[2019-12-18 18:45] cesswairimu opened #7003 "Add test.sqlite-journal file to git ignore"
Description
------------

This file is becoming annoying and affecting a couple of pull requests and its easily committed esp if contributors use `-A` flag while committing.

Lets gitignore this file as we do  not need to track the changes done.

Here is a good outline to follow if needed https://stackoverflow.com/questions/1274057/how-to-make-git-forget-about-a-file-that-was-tracked-but-is-now-in

[2019-12-18 19:02] jywarren commented on #7003
Agreed! Thanks!

On Wed, Dec 18, 2019, 1:50 PM Cess <notifications@github.com> wrote:

[2019-12-18 19:05] nstjean commented on #6887
I've run into a bit of a problem! The changes that I have made in `leaflet-blurred-location` are needed for me to complete the next steps in `PublicLab.editor` and `plots2`. How can I get the changes to show up? Is there a way to link my different repositories? Do we need to update something in LBL so that the changes show in PL.editor? I'm not really sure how to tackle this!

[2019-12-18 19:08] jywarren commented on #6887
Ah! Ok so we need to increment the npm version number in the package.json
file in the library, then I or Sagarpreet needs to publish the new version.
Then running npm install or npm update in the downstream library will pull
the new version! Is the upstream library ready to publish? Thanks!!

On Wed, Dec 18, 2019, 2:05 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-18 19:15] Uzay-G opened #7004 "Projects button on home page should be more relevant"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-18 19:20] #6995 closed

[2019-12-18 19:21] #6888 closed

[2019-12-18 19:23] nstjean commented on #6887
Ah! Ok! This is the last big thing I need to get published to then make changes in the other repos: https://github.com/publiclab/leaflet-blurred-location/pull/224

[2019-12-18 19:24] jywarren commented on #7004
Hi! This may need some input from @publiclab/community-reps or at least
some +1 from them before being ready to complete! Thanks!!!

On Wed, Dec 18, 2019, 2:16 PM Uzay-G <notifications@github.com> wrote:

[2019-12-18 19:28] Uzay-G commented on #7004
Yeah no I totally get it @jywarren! I was about to ask.

[2019-12-18 19:30] jywarren commented on #7004
Awesome, thank you so much!

On Wed, Dec 18, 2019, 2:28 PM Uzay-G <notifications@github.com> wrote:

[2019-12-18 19:34] jywarren commented on #6887
Fantastic. And, there is a set of rules at semver.org for how we manage
version numbers; the short version is that a bugfix would trigger an
increase of +0.0.1, while a new feature is a "minor" +0.1.0 version change,
and if we had to make a breaking change that downstream users would need to
refactor around before updating, it'd be a "major" release of +1.0.0.

This is a cool system for coordinati

[2019-12-18 19:34] Uzay-G commented on #7004
Hey! @publiclab/community-reps, do you think this should be done or is it not a good idea?

Thanks :smile:

[2019-12-18 19:40] Manvi07 commented on #7003
I think it's already in gitignore. @cesswairimu

[2019-12-18 19:43] cesswairimu commented on #7003
oh yeah I see @Manvi07 thanks, could be it wasn't added the right way... we are still tracking changes from it.

[2019-12-18 19:55] nstjean commented on #6887
Ahhh, so this would be considered a "minor" feature?

[2019-12-18 21:42] Uzay-G opened #7006 "Excerpts of tag pages are cut off"
### Please describe the problem (or idea)

I was trying to go on the topic pages of certain tags like this one:

![excerpt-bug](https://user-images.githubusercontent.com/52892257/71125338-08fa3a00-21e7-11ea-91c0-23f50196701a.png)

I noticed that the excerpts of the wiki descriptions are cut off for several of them as you can see above. I think we should try and fix this so the full paragraph is di

[2019-12-18 23:07] EmirVatric opened #7008 "Login view password field"
In the login view, the password field eye icon is not aligned properly.

![Screenshot 2019-12-19 at 00 01 45](https://user-images.githubusercontent.com/46676569/71132641-5b902200-21f8-11ea-9f16-c1c58635e22e.png)

### What's your PublicLab.org username?
emirvatric

Chrome - Version 79.0.3945.88 (Official Build) (64-bit)

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate

[2019-12-18 23:08] EmirVatric commented on #7008
I would be happy to do this issue 👍

[2019-12-18 23:19] anthony-zhou commented on #6206
Hello, I am also looking for a FTO to work on. Thanks!

[2019-12-19 00:04] VladimirMikulic commented on #7008
@EmirVatric the screenshot that you've provided above, is it the development or the production version? In production, the icon is aligned properly.

![Screenshot_20191219_010424](https://user-images.githubusercontent.com/35997844/71133661-8c258b00-21fb-11ea-8730-b27e777d0beb.png)

[2019-12-19 00:19] EmirVatric commented on #7008
Hi, @VladimirMikulic in production.
After pointing this out I notice that only from root route the login form has the icon aligned properly, but only if you try to login from the root route.

![Screenshot 2019-12-19 at 01 12 53 (2)](https://user-images.githubusercontent.com/46676569/71134093-48cc1c00-21fd-11ea-8b4c-ee9f27ee290f.png)
![Screenshot 2019-12-19 at 01 18 23](https://user-images.githubus

[2019-12-19 00:46] VladimirMikulic commented on #7008
@EmirVatric good catch :medal_military: I can confirm all these issues. :beetle:
We would appreciate you getting this fixed :)

You can open another issue for "Sign Up" modal misalignment and do it after this one.

[2019-12-19 01:25] EmirVatric commented on #7008
@VladimirMikulic
When looking into this I encountered something that I don't really understand. On root route on element id='visibility' class input-group-text is found before class fa and occurs twice, and property **display: flex (from class input-group-text) overrides property display: inline-block(class fa)**

![Screenshot 2019-12-19 at 02 17 29](https://user-images.githubusercontent.com/46676

[2019-12-19 01:46] dnhuan commented on #6808
Hi, this is my first time GCI!

[2019-12-19 01:46] VladimirMikulic commented on #7008
I've tested it and it works, I've approved the changes :)

[2019-12-19 02:29] EmirVatric opened #7010 "At the '/tag/something' path, SignUp modal is misaligned"
At the '/tag/something' path, SignUp modal is misaligned (in production)

https://publiclab.org/tag/lead

![Screenshot 2019-12-19 at 03 26 28](https://user-images.githubusercontent.com/46676569/71139769-699d6d00-220f-11ea-91a0-98ce06162484.png)

### What's your PublicLab.org username?
emirvatric

Browser:
Chrome - Version 79.0.3945.88 (Official Build) (64-bit)
****

## Thank you!

Your help makes

[2019-12-19 02:30] EmirVatric commented on #7010
I have solved the issue, opening the PR.

[2019-12-19 02:54] jywarren commented on #6887
Yes, that's correct!

On Wed, Dec 18, 2019, 3:00 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-19 06:44] cesswairimu commented on #6206
Here are a few ftos thanks to @crisner
- https://github.com/publiclab/plots2/issues/6978
- https://github.com/publiclab/leaflet-environmental-layers/issues/304
- https://github.com/publiclab/leaflet-environmental-layers/issues/305
Thanks all and happy to have you here

[2019-12-19 06:53] SidharthBansal commented on #6808
Oh great! Welcome to Public Lab
Please read through this welcoming post carefully.
Can you please start with the installation task(s) and 2 beginner
issues/ftos?
Then you can switch to medium/hard or hall-of-fame tasks.
Best of luck all of you :rocket:

On Thu, Dec 19, 2019 at 7:16 AM Đoàn Ngọc Huân <notifications@github.com>
wrote:

[2019-12-19 13:42] AnshitaVishwa commented on #7003
@cesswairimu I would like to work on it. By the time I'll browse and search for it. Thanks!!

[2019-12-19 14:59] CodeSarthak opened #7014 "[wip]Google Code-In 2019-20 - Pending Issues"
This is a staging area. Each task has (or will soon have) a link to a full issue including relevant lines of code, screenshots, and other helpful information as we prepare them for solving. Some are harder than others, but those tagged with `first-timers-only` are great to begin with. (more [documentation on tasks](https://developers.google.com/open-source/gci/help/org-sample-tasks))

Add new item

[2019-12-19 14:59] AnshitaVishwa commented on #6987
@cesswairimu Thanks a lot !!. I got the solution where I was stuck.
Now It's fine I m working on it. Thanks :)

[2019-12-19 15:00] CodeSarthak commented on #4581
Hey,

I have opened a new issue (https://github.com/publiclab/plots2/issues/7014)  with only the issues/tasks which were left. I removed all those which has already been closed or completed.

Thus, this issue is now redundant.

Thank you.

[2019-12-19 15:00] #4581 closed

[2019-12-19 15:49] SidharthBansal commented on #7014
Can you please check the list and write the following comments against each of the issue?
1) [Uploaded]: if it is present on GCI website
2) [Needs new issue]: If issue is present but there are really long conversations. Hence we need to reformat it to a new issue.
3) [Create new issue]: If no issue is present yet
4) [Not uploaded]: Not present on GCI dashboard
etc.

Once done, then we can move for

[2019-12-19 15:50] SidharthBansal commented on #7014
Just a suggestion, please check the bugs written above on the actual website. I hope many things are fixed
Thanks

[2019-12-19 15:54] SidharthBansal commented on #7014
logging users to wiki page when a user logs in via header on wiki page (needs own issue)

  Clicking on like button if not logged in should redirect to login page. (needs own issue)

  write a document explaining how to start contributing at Public Lab for RGSoc (needs own issue)

needs-code-links Preserve redirect to original destination when accessing /post while not logged in (follow these step

[2019-12-19 16:12] CodeSarthak commented on #7014
I am sorry, I will check the website to get clarification on the pending issues. Further, I will write the comments against each task/issue.

Thank you.

[2019-12-19 16:54] cesswairimu commented on #7003
Nice just llet me know if u need my help..this is the file https://github.com/publiclab/plots2/blob/master/test.sqlite-journal

[2019-12-19 16:57] nstjean commented on #6887
I've updated the version, fixed the error that was happening, and added tests. It's ready to merge! https://github.com/publiclab/leaflet-blurred-location/pull/224

[2019-12-19 18:46] Uzay-G commented on #6569
Hey! I have been working on this issue and have claimed the tests. I have made two functional tests for now but plan to make more. They are like this:
[code]

I am trying to make more but have encountered a very bizarre problem with this test which should work normally:
[code]
It takes two non-spammed notes and spams them and should ban their authors. Unfortunately, the test fails because the auth

[2019-12-19 19:02] shashwataggarwal commented on #6941
@jywarren where can I find the footer?

[2019-12-19 19:19] VladimirMikulic opened #7017 "Make footer topics section responsive"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-19 21:01] Uzay-G commented on #6569
I've been trying to understand why but can't find the root of the problem.
If I batch spam by going on the local server everything works fine but when I do the same from the console or in the testing environment the users aren't banned :confused:. I will keep looking but let me know if you know why this is going on :+1:

[2019-12-20 06:57] Uzay-G commented on #6569
Alright I finallly found the problem. :+1:

[2019-12-20 08:56] candesign commented on #7017
I'd like to do this. :)

[2019-12-20 09:02] VladimirMikulic commented on #7017
@candesign go for it :rocket:

[2019-12-20 12:29] crisner commented on #6887
Feedback needed for PR [#314](https://github.com/publiclab/leaflet-environmental-layers/pull/314) on issue [#313](https://github.com/publiclab/leaflet-environmental-layers/issues/313)

[2019-12-20 13:10] Priyanka-Bnsl commented on #7017
can i work on this issue?

[2019-12-20 13:21] Priyanka-Bnsl commented on #7002
can i work on this issue?

[2019-12-20 13:49] nstjean opened #7019 "Save zoom when saving lat and lon in popup modal"
Given some new features with location in plots2 we now need to also save zoom as a power tag `zoom:xx` when lat and lon are saved.

I will be doing this. :)

[2019-12-20 13:54] nstjean commented on #6887
Feedback needed for PR https://github.com/publiclab/plots2/pull/7020 for issue https://github.com/publiclab/plots2/issues/7019

[2019-12-20 13:56] nstjean commented on #6887
https://github.com/publiclab/leaflet-blurred-location/pull/220 is approved and needs to be merged

[2019-12-20 14:48] SidharthBansal commented on #6569
Oh great!
I just saw your message.

On Fri, 20 Dec 2019, 12:27 pm Uzay-G, <notifications@github.com> wrote:

[2019-12-20 15:02] nstjean commented on #6887
Feedback needed for PR https://github.com/publiclab/PublicLab.Editor/pull/374 for issue https://github.com/publiclab/PublicLab.Editor/issues/373

PR https://github.com/publiclab/plots2/pull/6957 has been updated with the changes in LBL and should be ready to go merge now.

[2019-12-20 16:19] #6960 closed

[2019-12-20 16:30] VladimirMikulic commented on #7017
Hi, @Priyanka-Bnsl. I am glad that you are interested in working with us :rocket:
We have a PR for this issue, but if you wish you could help us by fixing [this issue](https://github.com/publiclab/image-sequencer/issues/1381)

Thanks.

[2019-12-20 17:12] steviepubliclab opened #7021 "Can't find edit button"
Hello! I was hoping to do an edit on this wiki page https://publiclab.org/wiki/barnraising but I can't find where the edit button went. Is there any way we could get it back in the toolbar in the header of the wiki?

Thanks

[2019-12-20 17:19] AnshitaVishwa commented on #7003
@cesswairimu I guess the file test.sqlite-journal has already been added in the git ignore. Should I do this once again?

[2019-12-20 18:05] Uzay-G commented on #6569
Hey @SidharthBansal! I've come up with these three functional tests for now:

https://github.com/Uzay-G/plots2/blob/5df11bfdd411cf4eca1243b87b47e89e19d57ddd/test/functional/admin_controller_test.rb#L72-L96

[2019-12-20 20:06] Uzay-G commented on #6569
Hey @SidharthBansal, do you think I should create a new integration test file for the batch-spamming or leave it in the admin controller?

[2019-12-20 20:35] steviepubliclab commented on #7004
Hi @Uzay-G!
Can you post in the page this would edit? i see the text suggestion, but can't tell where it would go.

Thank you!
-Stevie

[2019-12-20 20:56] Uzay-G commented on #7004
Oh yeah it would be on this page:
![fto-3](https://user-images.githubusercontent.com/52892257/71291604-6de29b00-2373-11ea-89a3-14a6393d2001.png)

[2019-12-20 21:05] steviepubliclab commented on #7004
Hi ah ok got it. Thank you!  I do want that page to list out more projects as well as help people walk through making their own pages. So I'd prefer to leave the text as is right now.

[2019-12-20 21:05] Uzay-G commented on #7004
Yeah ok no problem. Should I close the issue?

[2019-12-20 21:07] steviepubliclab commented on #7004
Sounds good. Thank you!!

On Fri, Dec 20, 2019 at 4:05 PM Uzay-G <notifications@github.com> wrote:

[2019-12-20 21:07] #7004 closed

[2019-12-20 21:30] jywarren commented on #7021
Hi Stevie, I think someone had used the "sidebar:none" powertag which may
have hidden the edit button. It should be fixed now I deleted it, can you
check? If not there could be another issue and we can check.

On Fri, Dec 20, 2019, 12:12 PM Stevie <notifications@github.com> wrote:

[2019-12-20 21:31] #6992 closed

[2019-12-20 21:35] jywarren commented on #7017
Hi all, just a warning that some of the code for this may be in a
database-backed feature, and not in the github repository itself! Wed still
love help but if you can't find it we can copy code into the database to
resolve this and can still give credit! Thanks!

On Fri, Dec 20, 2019, 11:31 AM Vladimir Mikulic <notifications@github.com>
wrote:

[2019-12-20 21:46] cesswairimu commented on #7003
Yeah... It is already added but if you look at the repo we are still tracking it... So we need to fix that... The link I provided above :point_up: could help you in fixing that

[2019-12-20 22:48] #7003 closed

[2019-12-21 02:21] #7019 closed

[2019-12-21 02:26] #6569 closed

[2019-12-21 02:26] jywarren commented on #6856
Hi @pianeta051 we'd love your help, it seems like this is open!

[2019-12-21 02:34] #7002 closed

[2019-12-21 02:37] jywarren commented on #6941
Ah, it is in a feature in the database! You can read about them here:
https://github.com/publiclab/plots2/blob/master/doc/DATA_MODEL.md#features

But, this means if you can view source on the page, you can make the
updates and report them back in this issue and we can make the update on
the live site through the admin interface. We'd appreciate it!

On Thu, Dec 19, 2019 at 2:07 PM Shashwat Aggarwa

[2019-12-21 04:27] bearkruz commented on #6978
👋- Could I work on this?

[2019-12-21 04:54] crisner commented on #6978
Yes. Please, go ahead. 🙂

[2019-12-21 08:59] AnshitaVishwa opened #7026 "Bug in the Search Controller"
When I tried clicking on the **"Questions"**

![Screenshot from 2019-12-21 14-26-42](https://user-images.githubusercontent.com/36095454/71305735-10476080-23fe-11ea-9999-5e0fa4870006.png)

It shows...........

![Screenshot from 2019-12-21 14-24-04](https://user-images.githubusercontent.com/36095454/71305742-1f2e1300-23fe-11ea-84bf-6d3ec541c529.png)

similarly when clicked on **"Notes"**

It shows..

[2019-12-21 08:59] AnshitaVishwa commented on #7026
I would like to work on it.

[2019-12-21 09:28] MSLDgit opened #7028 "image rotation"
Hello,

whenever uploding an image of a spectrum in spectralworkbench, no matter the original orientation of the image, nor the tick in the option "spectrum is vertical", the spectrum will be aligned vertical and the calibration operations always are aligned as if the spectrum is horizontal.
This results in that I cannot calibrate the image.
Is there a function to rotate the calibration or the ima

[2019-12-21 13:47] nstjean commented on #6887
I've updated [the list above](https://github.com/publiclab/plots2/issues/6887#issuecomment-561287047) with this weeks PRs. 🎉

[2019-12-21 19:06] nstjean opened #7031 "New design for location popup modal"
I'd really like to redesign the popup modal so that it looks and feels like the in-line form at /post/ . Here are two options I came up with. Which do you prefer? Any other suggestions? Open to all ideas!

Also I had a question of whether that Scale slider is needed or not? We already will have zoom buttons and mouse zoom in the map itself.

Option 1:

![Option 1](https://user-images.githubusercon

[2019-12-21 20:33] VladimirMikulic commented on #7026
@AnshitaVishwa on which page this issue occurs and under what circumstances?
I would like you to provide more details.

[2019-12-21 22:36] VladimirMikulic commented on #7017
@jywarren could you explain to me what is a database-backed feature?
Where should I find it? Thanks.

[2019-12-22 09:21] AnshitaVishwa commented on #7026
@VladimirMikulic It is occuring on the page    **'/search/content/'**
Whether there is query or not but it will show this error.

[2019-12-22 09:27] AnshitaVishwa commented on #7026
@VladimirMikulic on the real website this error is not there....but when i m trying this on the local host it persists....I think I should close the issue.

[2019-12-22 10:49] Uzay-G commented on #6294
Hey @jywarren I was trying to look at how I could change the design and noticed that the [question page](https://publiclab.org/questions/adam-griffith/08-27-2019/favorite-camera-for-balloon-kite-mapping) sidebar is not placing itself next to the body of the question but instead it is placed after all the comments at the bottom of the page.

I don't have this problem on my local server so I used my

[2019-12-22 11:06] VladimirMikulic commented on #7026
@AnshitaVishwa I think that you should close the issue. This error occurs probably because you have some problems with the database. Also, the development version differs from the production one.

[2019-12-22 14:29] VladimirMikulic commented on #6879
@nstjean @keshav234156  The site is not available in the development. How should I handle this?

![Screenshot_20191222_152755](https://user-images.githubusercontent.com/35997844/71323097-c29b2880-24cf-11ea-91c8-3f333ad1b385.png)

[2019-12-22 15:02] Tlazypanda commented on #6776
@nstjean Is this issue still available?

[2019-12-22 15:26] #7026 closed

[2019-12-22 15:56] nstjean commented on #6776
It looks like this was completed in https://github.com/publiclab/plots2/pull/6778 but that post didn't reference this one so this wasn't closed. Sorry!

[2019-12-22 15:56] nstjean commented on #6776
Closed via #6778

[2019-12-22 15:56] #6776 closed

[2019-12-22 16:01] nstjean commented on #6879
Good question! So the pages that we see on the live site aren't in your local database, and moreover they aren't in the testing database either. The nodes that are created during tests are listed here:
https://github.com/publiclab/plots2/blob/master/test/fixtures/nodes.yml

Does that help?

[2019-12-22 16:26] VladimirMikulic commented on #6879
Hi @nstjean. Thank you for the fast response.
This nodes.yml if only for fixtures tests, the tag state page test belongs to system tests, right?

[2019-12-22 17:08] nstjean commented on #6879
You can read about fixtures here: https://api.rubyonrails.org/v3.1/classes/ActiveRecord/Fixtures.html

[2019-12-22 19:17] kushaggarwal commented on #6856
Hello guys,
Sorry for the answering so late
Got stuck with my university exams therefore wasn't able to reply
@pianeta051 please go ahead as I am facing some problem with setting up the project
so, you can go ahead with the issue meanwhile I will try to solve the problems with setup on my end
Thank you

[2019-12-23 04:31] crisner commented on #6887
@sagarpreet-chadha, the PR for issue #6978 shows errors as LEL is not updated in plots2. Do I need to update the npm version with '+0.1.0' as discussed in the conversation above or should we put it on hold for now?

[2019-12-23 06:11] #6675 closed

[2019-12-23 07:27] crisner commented on #6887
PR [#315](https://github.com/publiclab/leaflet-environmental-layers/pull/315) for issue [#297](https://github.com/publiclab/leaflet-environmental-layers/issues/297) ready for review.

[2019-12-23 07:33] crisner commented on #6887
While working on issue [#297](https://github.com/publiclab/leaflet-environmental-layers/issues/297), I found the documentation for windrose layer to be a bit unclear here:
https://github.com/publiclab/leaflet-environmental-layers#to-use-wind-rose-layer-

I was wondering if it would be better for clarity if it could be added as the first step before initialization here?:
https://github.com/publicla

[2019-12-23 09:52] Tlazypanda commented on #6756
@gptshubham595 Is this issue still available?

[2019-12-23 09:52] Tlazypanda commented on #5047
@gauravano Is this issue still available?

[2019-12-23 09:58] Tlazypanda commented on #6730
@gptshubham595 Is this issue still available?

[2019-12-23 11:05] Tlazypanda commented on #6742
@preetiy Is this issue still available?

[2019-12-23 11:09] Tlazypanda commented on #6704
@swathi-0901 Is this issue still available?

[2019-12-23 11:13] Tlazypanda commented on #6096
@jywarren Is this issue still available?

[2019-12-23 13:27] dmahajan980 commented on #6516
@nstjean Can I work on this issue if it's still open?

[2019-12-23 13:32] dmahajan980 commented on #6856
I would like solving this issue as my first contribution to open source. Can I work on this?

[2019-12-23 13:46] dmahajan980 commented on #6372
@samagragupta I would like to work on this issue if it isn't fixed.

[2019-12-23 13:47] dmahajan980 commented on #6692
@susanreenesaa  I would like to work on this issue if it isn't fixed.

[2019-12-23 14:05] nstjean commented on #6516
It looks like this is open @dmahajan980 , go ahead!

[2019-12-23 14:07] nstjean commented on #6856
@dmahajan980 I just assigned another issue to you: https://github.com/publiclab/plots2/issues/6516

[2019-12-23 14:41] nstjean commented on #6993
@sagarpreet-chadha  @jywarren  What should happen if a wiki doesn't have a lat/lon? If it has a lat/lon and no zoom we can calculate zoom, but what if it doesn't have any location information?

And what should be the default for the page /map  when there is no lat/lon/zoom specified?

[2019-12-23 14:56] VladimirMikulic opened #7037 "PublicLab Newsletter title dropdown doesn't work on screeens < 992px"
[Demo](https://streamable.com/65wxq)

[2019-12-23 15:16] dmahajan980 commented on #6516
Thank you @nstjean !! Will make a PR soon.

[2019-12-23 15:27] nstjean commented on #6887
Need review/merge for Issue https://github.com/publiclab/leaflet-blurred-location/issues/225 PR https://github.com/publiclab/leaflet-blurred-location/pull/226

I also posted some ideas for the popup modal https://github.com/publiclab/plots2/issues/7031 looking for feedback!

[2019-12-23 15:34] jywarren commented on #6887
I'll try to respond a bit more today although I'm getting into holiday
travel mode :-P sorry!

Regarding npm version bump, yes! That'd be great.

And if you have a PR ready for merge please note this in the comments under
the PR and after reviewing I can go ahead and do it! Thanks!

On Mon, Dec 23, 2019, 10:27 AM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-23 15:36] nstjean commented on #6887
No worries! Enjoy your time away!! I'll be offline the next two days with holiday celebrations too.

[2019-12-23 15:36] jywarren commented on #6993
If there's no coord info, we won't show the map button, and if someone
manually goes to that path, we can just display an alert that the page has
no location information, maybe?

As to the main /map/ page, we should default to user profile location and
fall back to a global map, I think, what do you think?

Thanks!

On Mon, Dec 23, 2019, 9:46 AM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-23 15:38] nstjean commented on #6993
Ok that sounds just fine!

[2019-12-23 15:51] crisner commented on #6887
PR [#317](https://github.com/publiclab/leaflet-environmental-layers/pull/317) for issue [#316](https://github.com/publiclab/leaflet-environmental-layers/issues/316) ready for review. I have bumped the version in this one.

travel mode :-P

No problem! Take your time. Enjoy your holidays! Have fun!

[2019-12-23 16:04] #6738 closed

[2019-12-23 16:08] kushaggarwal commented on #6871
Hello guys,
Sorry for the delay was caught up with my university exams
Will soon make a pull request for the above issue
Thank You

[2019-12-23 16:44] sagarpreet-chadha commented on #7031
@jywarren , @ebarry need your help here 😄 !

[2019-12-23 16:47] sagarpreet-chadha commented on #6887
Yes makes sense!

Reviewed all PR's :)

[2019-12-23 18:03] dmahajan980 commented on #6516
I have made the PR. Kindly review it and let me know if there's any issue.
Thanks

[2019-12-23 18:37] cesswairimu commented on #6206
This issue is up for grabs https://github.com/publiclab/plots2/issues/5137.

[2019-12-23 19:37] #6516 closed

[2019-12-23 20:14] MaheshPawar97 commented on #5137
Hello, I am taking up this issue

[2019-12-24 06:41] samagragupta commented on #6372
@dmahajan980 Go ahead 🚀

[2019-12-24 06:46] kushaggarwal commented on #6880
Hello I have made the pull request for the above issue
So, can you please review the changes for the same

[2019-12-24 07:06] preetiy commented on #6742
Sorry this has been already taken, you can find one at https://github.com/publiclab/plots2/labels/first-timers-only

[2019-12-24 09:13] dmahajan980 commented on #6372
@samagragupta I've already solved another 'first-timers-only' issue after I asked for this issue But I would be happy to solve this only if you allow me to do so.

[2019-12-24 10:13] Uzay-G commented on #6290
Hey, I might work on this but was wondering, how can I test my changes to the code?
Thanks!

[2019-12-24 10:28] Uzay-G commented on #6290
I noticed that for some reason the config file has a section `omment` instead of `comment`. This seems a bit trivial but maybe that is a cause of the problem.
Also would anyone happen to know when the bot stopped working? That way I could try and pinpoint the problem.

[2019-12-24 10:30] Uzay-G commented on #6290
Also does the codecov config need to be in the master branch for the reports to work?
I am just trying things out that might work, sorry if I am making gross mistakes :smile:

[2019-12-25 17:00] SidharthBansal commented on #6372
If you are a GCI student then you can solve 2 ftos BUT if you are not GCI student then you are allowed to solve only one FTO issue.
It will be highly appreciable if you can help us at non gci issues too.
thanks

[2019-12-25 18:17] Uzay-G opened #7044 "Hide honeypot field for spamaway signup"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-25 18:51] dmahajan980 commented on #6372
@SidharthBansal thanks for informing! I'm not a GCI student so I guess I'll look for other issues.

[2019-12-26 04:50] DhyeyLalseta commented on #7044
I will try to claim the issue.

[2019-12-26 04:59] DhyeyLalseta commented on #7044
I created the pull request. Asking for review. :)

[2019-12-26 09:25] Uzay-G commented on #7044
Thanks for contributing @DhyeyLalseta and welcome to Publiclab! I'll check out your pull request :+1:

[2019-12-26 13:11] crisner commented on #6887
Need some feedback for this PR [#320](https://github.com/publiclab/leaflet-environmental-layers/pull/320). It is still a work in progress but I would like some input on it. Thanks!

[2019-12-26 14:32] nstjean commented on #6887
I made changes to PR https://github.com/publiclab/leaflet-blurred-location/pull/226 :)

[2019-12-26 16:58] sagarpreet-chadha commented on #6887
Hey @nstjean , I have merged the above PR :) what are you working on now?

@crisner , you may continue work on Control Bar in LEL. We can have @jywarren later give comments whether we want new UI for small maps or not.

Thanks both!!!  😄

[2019-12-26 17:06] nstjean opened #7045 "Fix /map/ when no layers are specified"
- Fix route error so /map/ displays the same as /map/:layernames
- If lat and lon isn't specified in the params, display the user's profile location. If the user has no profile location, show a default lat and lon.

This is part of https://github.com/publiclab/plots2/issues/6993

[2019-12-26 18:02] nstjean commented on #6887
Excellent! Next I'm going to be working through the list on #6993 - first I'm fixing the map error and then displaying the footer properly.

[2019-12-26 18:39] nstjean commented on #6887
Fixing the route/default values for /map/ - Issue https://github.com/publiclab/plots2/issues/7045 PR https://github.com/publiclab/plots2/pull/7046

[2019-12-26 19:45] nstjean commented on #6993
@jywarren `.inline-fullwidth-content` is not working on the /map/ page for some reason. So strange! This is what I get when I apply that class with no other width specificiations.
![FireShot Capture 130 - 🎈 Public Lab_ Map - localhost](https://user-images.githubusercontent.com/49460529/71488400-56ca0000-27ee-11ea-9d27-fd88bdd0d5f0.png)

[2019-12-26 19:55] nstjean opened #7047 "Push footer below map in /map/"
Currently the footer text is all overlayed on top of the map. We want to push it below the map and set the map to approximately 90% of the screen height.

[2019-12-26 20:10] nstjean commented on #6993
You can take a look here: https://github.com/publiclab/plots2/pull/7048

[2019-12-26 20:12] nstjean commented on #6887
WIP, Push the footer below map in /map/ - Issue https://github.com/publiclab/plots2/issues/7047 PR https://github.com/publiclab/plots2/pull/7048

[2019-12-27 09:10] SidharthBansal commented on #6808
Students participated in the program: (students from the dashboard that have completed at least one task)
arnavlol
az @anthony-zhou
cb @chiragbhansali
CHEAH ZIXU  @genesis331
CodeSarthak @CodeSarthak
EX3x19
fluctix @fluctix
Ghosteroid_naman
HarshK @HarshKhandeparkar
Jonah_zekes
MarxPlank
NotDeGhost @chen-robert
Oleg
pythongiant @pythongiant
ryan10145 @Ryan10145
symt @symt
takitsuse
UG @Uzay-G
Veer

[2019-12-27 09:13] SidharthBansal commented on #6808
Merry Christmas  🎄 🎅 🎁 ☃️
I hope all of you are enjoying the holidays.
I just published pr review tasks for the following weeks:
week 4: 23 - 29Dec
week 5: 30dec - 5 Jan
Thanks all

[2019-12-27 09:17] Uzay-G commented on #6808
Thanks @SidharthBansal and merry christmas :santa:! Hey could you please check out my comments on the [codecov issue](https://github.com/publiclab/plots2/issues/6290)? Thank you so much.

It's a difficult task but I am gonna try my best :+1:!

[2019-12-27 12:48] sharmamansi commented on #6953
Hey @jywarren ,can i work on this?

[2019-12-27 16:11] nstjean opened #7050 "Remove incorrect color and extra space from button on Profile"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-27 16:44] sharmamansi commented on #7006
Hey @Uzay-G , I guess the content is still rendering but its hidden as overflow property is set to hidden in class wiki-sub. I guess some adjustment in css font size could help over here.

[2019-12-27 16:59] Uzay-G commented on #7006
Yeah I checked and you are right that the problem is with the overflow. I'm not sure how exactly we can fix it.

[2019-12-27 17:01] sharmamansi commented on #7006
I think adding a scroll can fix it.

[2019-12-27 17:04] nstjean opened #7051 "Add hover style to all btn-outline-secondary buttons"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-27 17:05] nstjean commented on #7051
A note about these changes:

This will fix the buttons on the right side of the user profile and the left side of the dashboard - and all btn-outline-secondary that keep having bootstrap override the hover color. I've added `.container` because we want to leave the top nav buttons alone, we only want to target any in the main section.

The `a.btn-outline-secondary:not([href]):not([tabindex])` is t

[2019-12-27 17:06] SidharthBansal commented on #6808
Please read through its official docs

On Fri, 27 Dec 2019, 2:47 pm Uzay-G, <notifications@github.com> wrote:

[2019-12-27 17:07] nstjean commented on #6206
Here are two issues up for grabs:
https://github.com/publiclab/plots2/issues/7050
https://github.com/publiclab/plots2/issues/7051

[2019-12-27 17:11] Uzay-G commented on #6808
Yeah I checked them out and looked at some examples configurations.

[2019-12-27 17:15] nstjean commented on #6887
I posted 2 FTOs: https://github.com/publiclab/plots2/issues/7050 and https://github.com/publiclab/plots2/issues/7051

[2019-12-27 17:38] Uzay-G commented on #6808
Oh great, it's just a start but this change made the codecov bot work on plots2: https://github.com/publiclab/plots2/pull/7042. There are other problems but it's a start!

[2019-12-27 17:43] nstjean opened #7052 "Map allows scrolling out-of-bounds and saves incorrect longitude"
When entering a profile location with the popup modal I've noticed that the lon just keep going even when you scroll past the map bounds of -180/180 longitude. If we allow users to keep scrolling their map then we need to correct the numbers to stay within the bounds when we save the info in plots2.

Saving a number out of bounds is causing an issue on /map/ when loading a user location.

Example:

[2019-12-27 18:48] nstjean commented on #7052
So this is how Leaflet maps work. We need to check and adjust that number before sending the data as a powertag. I suggest a function in LBL, maybe something like `blurredLocation.getLonWithinBounds()` Then we can call that in instead of `blurredLocation.getLon()` to create the tag. @jywarren @sagarpreet-chadha What do you think?

[2019-12-27 18:52] nstjean commented on #6887
Need input on this bug, map allows scrolling out of bounds and is saving incorrect longitude: https://github.com/publiclab/plots2/issues/7052

[2019-12-27 19:43] nathanjr94 commented on #7050
Hello, I'd like to claim this issue.

[2019-12-27 19:51] nstjean commented on #7050
Excellent! Go for it!

[2019-12-28 01:14] CodeMeKathy commented on #7051
Hi! - If I may, I would like to claim this one.

[2019-12-28 05:19] sagarpreet-chadha commented on #7052
Is it possible to restrict the map boundaries?
We already do that so that map does not goes to infinite panning, can we use that here? (See how we initialize the map, we pass bounds object)
 Thanks!

[2019-12-28 15:23] DevanshCodes commented on #7051
Hey! is it open? if it is I want to claim this one.

[2019-12-28 15:57] CodeMeKathy commented on #7051
@DevanshCodes, I was waiting for confirmation.  Did you see my claim?  Have you already completed the work?

[2019-12-28 16:02] VladimirMikulic commented on #7051
@CodeMeKathy @DevanshCodes has already submitted a PR. He made a mistake.
Could you please check out other FTOs?

Thanks.

[2019-12-28 16:52] #7051 closed

[2019-12-28 17:54] VladimirMikulic opened #7056 "Horizontal scrolling on homepage"
![Screenshot_20191228_184400](https://user-images.githubusercontent.com/35997844/71547619-8f123f80-29a2-11ea-8f2f-a6d6b3f79117.png)

As the title suggests, we have a horizontal scrollbar on the homepage.
It persists on all devices(desktop, tablet & mobile).

The scrollbar is especially annoying on laptops when you scroll via touchpad and the page constantly moves left-right.

Homepage code is not

[2019-12-28 20:56] skritichauhan commented on #7050
I too would like to claim this issue.

[2019-12-29 02:38] SidharthBansal commented on #6808
Ok great

On Fri, 27 Dec 2019, 11:08 pm Uzay-G, <notifications@github.com> wrote:

[2019-12-29 06:46] aptvaibhav commented on #7050
hey is this done? Else i would like to fix this issue.

[2019-12-29 14:08] #7050 closed

[2019-12-29 14:08] nstjean commented on #7050
@skritichauhan and @aptvaibhav this issue has been completed. I'll post some more FTOs this week!

[2019-12-29 14:30] crisner commented on #6887
Posted an FTO in LEL, issue [#322](https://github.com/publiclab/leaflet-environmental-layers/issues/322)

[2019-12-30 04:49] crisner commented on #6887
PR[#319](https://github.com/publiclab/leaflet-environmental-layers/pull/319) for FTO issue[#305](https://github.com/publiclab/leaflet-environmental-layers/issues/305) ready.

[2019-12-30 07:35] SidharthBansal commented on #6290
@jywarren @Uzay-G do we need some more changes?
If there are only 3 lines of code change, I think this should be hard issue. If more work is needed then we can stick with HoF

[2019-12-30 07:35] SidharthBansal commented on #6290
Thanks Uzay-G for your help

[2019-12-30 10:02] Uzay-G commented on #6290
Thans @SidharthBansal. Yeah you can turn it into a hard one instead :+1:

[2019-12-30 10:06] Uzay-G commented on #6290
Now we just need to resolve the conflicts of #5954 and merge into master.

[2019-12-30 13:54] dmahajan980 commented on #6372
@samagragupta @SidharthBansal since nobody is solving this issue currently, I guess the '_assigned_' label should be removed.
Thanks

[2019-12-30 14:16] nstjean commented on #7052
Yes I believe that's pretty easy to do!

[2019-12-30 14:58] nstjean commented on #7052
@sagarpreet-chadha Do we want to limit all LBL maps? Or do we want to create an option?

[2019-12-30 15:06] nstjean commented on #7052
@sagarpreet-chadha Or we can call blurredLocation.map.setMaxBounds and not have to change LBL.

[2019-12-30 16:37] crisner commented on #6887
PR [#320](https://github.com/publiclab/leaflet-environmental-layers/pull/320) ready for review.

Meanwhile, I plan to work on writing tests for the same. The other tasks I had planned to work on after this are,
- Display "new items" mark in Layers menu when you enter an area with a new layer [#133](https://github.com/publiclab/leaflet-environmental-layers/issues/133)
- Track the bounding box of ea

[2019-12-30 16:40] SidharthBansal commented on #6290
Please work on any other issue in the meantime. Jeff is on holidays.

[2019-12-30 16:40] SidharthBansal commented on #6372
thanks @dmahajan980

[2019-12-30 19:54] nstjean opened #7060 "Make /map/_wiki_slug_ routes that source lat/lon/zoom from matching wiki page"
This is one of the items for #6993

We need a route for wiki pages to display a full page map with their location information.

[2019-12-30 20:19] nstjean commented on #6887
I need some input on #7048

Stop scrolling out of bounds: Issue #7052 PR #7058

Make /map/wiki_slug routes that source lat/lon/zoom from matching wiki page - Issue #7060 PR #7061  - WIP

Next up:

- Add “View map” button to geotagged page sidebars, opening /map/SLUG for wikis, and /map#zoom/lat/lon permalink for notes
- get notes, wikis, and people all showing on /map/SLUG pages
- Slider in LBL do

[2019-12-30 23:37] wmacfarl opened #7062 ""Internal Server Error" when posting research note"
**NOTE: immediate issue solved, and several more changes have been made to prevent this in the future, but one of the several causes is still open pending, see [this comment below](https://github.com/publiclab/plots2/issues/7062#issuecomment-572811285)**

### Please describe the problem (or idea)

I attempted to save a research note as a draft.  I also followed up by attempting to post a new "test

[2019-12-31 12:52] pythongiant opened #7064 "Responsiveness error in home page"
![image](https://user-images.githubusercontent.com/13624560/71622195-1efdf680-2bfa-11ea-9b4f-24a736a4481e.png)

### Please describe the problem (or idea)

The Horizontal scroll bar looks ugly and indicates a responsiveness error

### Please show us where to look

https://publiclab.org/

### Browser, version, and operating system
Screen res - 1366x768
Browser - Chrome 78

****

## Thank you!

Your

[2019-12-31 15:59] nstjean commented on #6993
@jywarren In your instructions you say `/map/_wiki_slug_#zoom/lat/lon` as the URL. But @sagarpreet-chadha had already implemented a URL hash in the format `/map/layernames#lat=6.3&lon=-10.7&zoom=11` Do you prefer that I keep what Sagarpreet has done and build around that format? Or do you want me to change it all to the format you initially described?

I'm working on these all as-is but I can chan

[2019-12-31 16:19] jywarren commented on #6993
Hi! Regarding the inline style, it's designed to work with the #content div
as in the wiki and note page templates, so perhaps your page is differently
structured?

Let's go with the shorter url I proposed! Just to ask, was layernames a
param or just a static string?

Thanks! Happy New Year!

On Tue, Dec 31, 2019, 10:59 AM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-31 16:22] nstjean commented on #6993
Yes it might be structured differently!

Ok, I'll change the hash! The layernames was set up as a route param. I think it would be better to add it to the end of the url as an optional string.

Happy new year!!

[2019-12-31 19:12] guptaaman70659 commented on #7017
I am Interested to resolve this issue

[2019-12-31 19:48] guptaaman70659 commented on #7017
I have added the code in style.css. and made  pull request
If there something I forget please tell me

[2019-12-31 20:24] VladimirMikulic commented on #7017
Hi @guptaaman70659. I am glad that you are showing interest in our project.
This issue has already been solved, as you can see we have 2 PRs for it.

You can take a look at other FTOs.

[2019-12-31 22:53] VladimirMikulic opened #7067 "Improve the styling of Woofmark buttons on pl.org/post"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-31 22:55] VladimirMikulic commented on #7067
@nstjean This FTO is the "second" part of the https://github.com/publiclab/PublicLab.Editor/issues/378 issue. I would like your opinion on this change :)

[2019-12-31 23:46] Uzay-G commented on #4691
Hey, I submitted a pr for this task #7056. I cannot claim it yet, but @SidharthBansal has allowed me to work on other tasks. Happy new year!

[2020-01-01 05:52] guptaaman70659 commented on #7017
Hi @VladimirMikulic
First of all thanks for giving response
I have one doubt why this Issue  is opened yet If it has already been solved ?

[2020-01-01 06:55] yihenghuang commented on #7067
Hi, can I claim this issue?
I see in issue #378. we hid away some tabs after we took away the bottom scroll bar.

[2020-01-01 07:00] yihenghuang commented on #6206
Hi, I am a newcomer. Can I join the list please? thank you!

[2020-01-01 07:17] hedonhermdev opened #7069 "Update FTO template to include a guide/tutorial on GitHub and Pull Requests"
A lot of beginners who are willing to contribute are not familiar with GitHub. I think we should update the FTO template to include above mentioned guides to encourage contributions from such people.

[2020-01-01 07:25] hedonhermdev commented on #7069
@HarshKhandeparkar

[2020-01-01 08:07] sagarpreet-chadha commented on #7052
Yes this looks better approach. Let's do this, Thanks 😄

[2020-01-01 09:00] sagarpreet-chadha commented on #6887
Happy new year everyone :)

I have reviewed the above PR's. Thanks!

[2020-01-01 09:06] sagarpreet-chadha commented on #3090
@jywarren , should we make a new people Layer in LEL to solve this? Thanks!

[2020-01-01 09:11] sagarpreet-chadha commented on #5695
Hey @nstjean ,
We have manual zoom override tag “zoom:____”  now, right?
Can you add this zoom power tag here: https://publiclab.org/wiki/power-tags.

Thanks!

[2020-01-01 09:18] SidharthBansal commented on #4691
Yeah, your previous task is under review so technically you are doing only
one task at a time.
I will review it soon.

On Wed, 1 Jan 2020, 5:16 am Uzay-G, <notifications@github.com> wrote:

[2020-01-01 09:23] sagarpreet-chadha opened #7071 "Add "Places" (/map) to the navbar"
Continued from https://github.com/publiclab/plots2/issues/1621.

@nstjean is doing excellent work in making `/map` route. Let's add `Places` in the plots2 navBar that will be pointing to the new `/map` route.

Let's add under `community` heading:

<img width="219" alt="Screenshot 2020-01-01 at 2 52 10 PM" src="https://user-images.githubusercontent.com/14952645/71639909-62ae3a00-2ca6-11ea-99b1-c944

[2020-01-01 09:23] sagarpreet-chadha commented on #7071
@jywarren , we have to add this under `Community`, right?

[2020-01-01 09:27] sagarpreet-chadha commented on #3090
And then we can use:

`[map:layers:content:23:77:PEOPLE_LAYER]`

What do you think @jywarren ?

[2020-01-01 09:45] SidharthBansal commented on #6808
Happy new year!
We are going to upload the following issues after reformatting them
publiclab/plots2#5585
publiclab/plots2#4487
publiclab/plots2#4323
publiclab/plots2#4268
publiclab/plots2#4250
publiclab/plots2#3439
publiclab/plots2#3367
If any candidate wants to pick them before reformatting them, then they can pick it up before reformatting them.
Most of the above will be hard issues.

[2020-01-01 09:48] SidharthBansal commented on #5585
Published on GCI dashboard

[2020-01-01 09:53] SidharthBansal commented on #3439
Published for 2020 GCI

[2020-01-01 09:55] SidharthBansal commented on #4268
Published on GCI dashboard

[2020-01-01 11:14] cesswairimu commented on #5137
Hi @MaheshPawar97, You still working on this? Thanks

[2020-01-01 11:14] cesswairimu commented on #6206
Great @yihenghuang , we will ping you once I find one

[2020-01-01 11:45] VladimirMikulic commented on #7017
@guptaaman70659 we misunderstood each other. By "solved" I meant that we have 2 PRs that are resolving this issue.

I hope it's clear now :)
Also, Happy New Year :tada:

[2020-01-01 11:51] VladimirMikulic commented on #7067
@yihenghuang Happy New Year :tada:
The issue is all yours :)

[2020-01-01 12:58] crisner commented on #6887
For some reason, I am unable to instantiate the new layer control in Jasmine. There seems to be some issue with L.Control.Layers extended classes. Leaflet classes extended from L.Control(ex. embedControl) seems to accessible in the test files. I tried setting up karma with jasmine and it seems to be working but I am having trouble with loading fixtures. I will give it another go and share my PR if

[2020-01-01 13:03] VladimirMikulic commented on #4268
@SidharthBansal isn't this issue same as #3439? In both of these issues, we need to validate sign up form/modal. Right?

[2020-01-01 13:45] crisner commented on #6206
Here's an issue in the LEL repo: [#322](https://github.com/publiclab/leaflet-environmental-layers/issues/322). Please feel free to tag me for any clarifications.

[2020-01-01 14:04] VladimirMikulic commented on #4268
I am working on this by the way.

[2020-01-01 14:26] nstjean commented on #7052
@sagarpreet-chadha Ok! Should I close my PR to set map bounds?

[2020-01-01 14:35] nstjean commented on #7052
@jywarren Do you have a preferences? Setting map bounds in plots2 so people can't scroll past the edge? Or create a function in LBL to correct the number?

[2020-01-01 15:25] nstjean commented on #7067
@VladimirMikulic Thanks for making these FTOs! This is great! the only thing I'm not sure about is adding in the space between buttons, they may prefer it to look like a toolbar. @cesswairimu maybe you can weigh in?

[2020-01-01 15:35] VladimirMikulic commented on #7067
@nstjean thanks, I try to do my best. This is how it looks like without spacing in between.

![Screenshot_20200101_163141](https://user-images.githubusercontent.com/35997844/71643051-5f21af80-2cb4-11ea-9e5c-93b49d060e07.png)

![Screenshot_20200101_163210](https://user-images.githubusercontent.com/35997844/71643052-60eb7300-2cb4-11ea-97a2-6e3ec695cb34.png)

I am not a designer, but the general rule

[2020-01-01 15:41] nstjean commented on #5695
Yes choosing a location now adds a zoom level automatically, and it can be added manually if someone wants to! I know the map at /post/ and /map/ both use the zoom tag, but I'm not sure inline maps or lead maps do. We'll need to check that!

[2020-01-01 16:13] SidharthBansal commented on #7064
Thanks. Can you add a fix for this?
We can make it medium gci issue. Thanks

[2020-01-01 16:13] SidharthBansal commented on #7064
Happy new year

[2020-01-01 16:34] SidharthBansal commented on #6808
Stats from present dashboard

[2020-01-01 16:34] SidharthBansal commented on #6808
![Uploading image.png…]()

[2020-01-01 16:35] SidharthBansal commented on #6808
Reminder: Ftos carries a lot of points. Please make as many ftos as possible.

[2020-01-01 16:42] SidharthBansal commented on #6808
In case any GCI student finds that scores are inappropriate and they should get higher score for that task then feel free to ping me. We will evaluate them.
Example: Today I observed one Gigantic PR review, so I have to give points to GCI student who is constantly reviewing another GCI student's pr on an hourly basis. Just I was fair to the reviewer.
Sometimes reviews are too big and the reviewer

[2020-01-01 16:43] SidharthBansal commented on #6808
When PR reviews are EPIC it becomes PRs done in collaborations.

[2020-01-01 16:49] sagarpreet-chadha commented on #5695
No we donot have for inline maps. We should work on this next :)
Thanks for the update!

[2020-01-01 16:57] SidharthBansal commented on #4268
Point 1: Please check whether it is solved or not. If they are solved then ping me for adequate action
Point 2: They are different
Point 3: Create modular PR for different functionality.
Thanks

[2020-01-01 17:16] anthony-zhou opened #7075 "Rename `answered` to `recently_commented`"
**Please describe the desired behavior.**
We should consider refactoring the method `answered` to something more accurate, like `recently_commented`, to reflect what the method is actually doing. https://publiclab.org/questions/answered/

**Additional context**

The method named `answered` here is actually getting recently commented questions:
https://github.com/publiclab/plots2/blob/fd5683d47ba23

[2020-01-01 17:25] anthony-zhou opened #7076 "Edit Feature Request template to say "plots2""
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-01 17:37] VladimirMikulic commented on #4268
It's not solved that's why I am working on it.

Could you please explain the difference between this issue and issue #3439?

For this issue, it won't be necessary.

[2020-01-01 17:39] SidharthBansal commented on #4268
Form is different from modal
Also password confirmation is through js
While validation errors are through rails
So they are different but related I guess

On Wed, 1 Jan 2020, 6:33 pm Vladimir Mikulic, <notifications@github.com>
wrote:

[2020-01-01 17:42] VladimirMikulic commented on #4268
Whoops, I didn't know that. I picked the wrong task then 😅
I am working on client-side validation(JS).

Thanks for the clarification!

[2020-01-01 18:11] nstjean opened #7077 "Add zoom override to maps in sidebar and top of page"
The powertag `zoom:xx` has been added to maps that are being saved, but currently maps displayed in the sidebar and top of page don't check if that zoom tag exists. We need to change it so that it uses zoom if it is specified!

I'll add this. :)

[2020-01-01 18:37] nstjean commented on #5695
I notice that documentation does not have the lat and lon tags mentioned only here:
`place with lat:____ and lon:______ tags, will add your page to the map on the Places page`
Should we add them to the list?

[2020-01-01 18:41] nstjean commented on #5695
Added zoom to the sidebar maps in https://github.com/publiclab/plots2/pull/7078

[2020-01-01 18:46] nstjean commented on #6887
Needs review: Add zoom override to maps in sidebar and top of page: Issue #7077 PR #7078

#7048 is ready to merge

#7046 should be ready to merge, the requested changes are made in #7061

I have some questions in https://github.com/publiclab/plots2/issues/7052

These two items have been added to #7061 :

- Add “View map” button to geotagged page sidebars, opening /map/SLUG for wikis, and /map#zoom

[2020-01-01 18:48] nstjean commented on #6993
I've checked off the items that are completed in the current PRs!

[2020-01-01 19:43] scottwedge commented on #7076
I will work on this as my first open source contribution.

[2020-01-01 19:49] nstjean opened #7079 "Fix map slider on location modal not updating on zoom"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-01 20:59] DevchamploO commented on #7079
Hello. I would like to work on this issue.

[2020-01-01 21:12] cesswairimu commented on #7067
I also think that without spaces gives it the toolbar feel. But I see what @VladimirMikulic you mean with giving the usability being affected...Maybe we could partition it but still have it as whole as it is in PublicEditor samples
![Screenshot from 2020-01-02 00-04-04](https://user-images.githubusercontent.com/17081074/71646157-5fda3600-2cf4-11ea-9321-5d86bce00131.png)

What do you both think? Th

[2020-01-01 21:16] #7047 closed

[2020-01-01 21:17] nstjean commented on #7079
@DevchamploO OK go ahead!

[2020-01-01 21:26] VladimirMikulic commented on #7067
@cesswairimu unfortunately we can't have it as a "whole" toolbar. Icons would be very small. Mobile screens are too small for the "whole" toolbar. It needs to br in multiple rows :)

[2020-01-01 21:35] cesswairimu commented on #7067
My thinking was to have it as this
![71643052-60eb7300-2cb4-11ea-97a2-6e3ec695cb34](https://user-images.githubusercontent.com/17081074/71646316-95cce980-2cf7-11ea-8bc5-b1347096481c.png)
 but with the partitions like :point_up: between if possible? What do you think?

[2020-01-02 00:01] VladimirMikulic commented on #7067
@cesswairimu it's your call :)
Here are the two possible layouts.

![Screenshot_20200102_005902](https://user-images.githubusercontent.com/35997844/71647711-16d9b000-2cfb-11ea-9033-b4f6b785ebfd.png)

![Screenshot_20200102_005545](https://user-images.githubusercontent.com/35997844/71647682-c2363500-2cfa-11ea-856f-39142bc9c656.png)

Personally I like the first option, but again it's up to you and @n

[2020-01-02 00:03] scottwedge commented on #7076
Even better grammar for "appreciate your helping refine and improve" is either:
1. "appreciate you helping refine and improve" or
2. "appreciate your help refining and improving" .

I will choose option 1 since only one word needs to change in it.

[2020-01-02 02:44] SidharthBansal commented on #4268
May be modal require J's
Not sure

On Wed, 1 Jan 2020, 11:12 pm Vladimir Mikulic, <notifications@github.com>
wrote:

[2020-01-02 02:46] SidharthBansal commented on #4268
You can search and take this task again if Js is required

On Thu, 2 Jan 2020, 8:13 am Sidharth Bansal, <bansal.sidharthcode@gmail.com>
wrote:

[2020-01-02 05:34] pythongiant commented on #7064
Sure @SidharthBansal I'll work on this today

[2020-01-02 06:13] SidharthBansal commented on #7064
Great

On Thu, 2 Jan 2020, 11:04 am Srihari, <notifications@github.com> wrote:

[2020-01-02 13:24] crisner commented on #6887
I need some help with PR [#328](https://github.com/publiclab/leaflet-environmental-layers/pull/328) related to testing [layersBrowser.js](https://github.com/publiclab/leaflet-environmental-layers/blob/master/src/util/layersBrowser.js). Thanks!

[2020-01-02 13:44] tsparksh opened #7082 ""By type" button does not have padding at the right on a tag page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-02 13:57] nstjean commented on #6993
@jywarren @sagarpreet-chadha I need some clarification on these items:

And from #6801

By popups you mean markers on the map with an info popup that shows up on hover or click? And for each wiki page map you want it showing **all** the data from the site, all notes, wikis and people?

[2020-01-02 14:02] nstjean commented on #7067
I like it all together, so the second option. :) What about you @cesswairimu ?

[2020-01-02 15:21] jywarren commented on #7021
I believe this is solved!

![image](https://user-images.githubusercontent.com/24359/71674601-a27a2d80-2d49-11ea-8d79-89e446dcd746.png)

[2020-01-02 15:21] #7021 closed

[2020-01-02 15:22] jywarren commented on #7062
Thanks for reporting -- I'm checking this on Sentry now.

[2020-01-02 15:24] jywarren commented on #7062
Yes, looks like first incident on Dec 20th:

![image](https://user-images.githubusercontent.com/24359/71674737-10265980-2d4a-11ea-86d1-510473fde679.png)

[code]

[2020-01-02 15:25] jywarren commented on #7062
Previously came up in https://github.com/publiclab/plots2/issues/5118

We should make a hard rule to ensure this can't happen?

[2020-01-02 15:26] jywarren commented on #7062
Here it seems when creating a draft it's somehow possible to create a node with nid 0, which causes this: https://github.com/publiclab/plots2/issues/5118#issuecomment-473608697

[2020-01-02 15:27] jywarren commented on #7062
So our follow-ups are:

1. remove the draft w/ `nid=0` to unblock the issue
2. investigate how this happens while making drafts
3. come up with alternative means of creating default records that don't rely on `nid = 0`

[2020-01-02 15:29] jywarren commented on #7062
Ah, and just noting, it's `vid` not `nid` which is zero

[2020-01-02 15:30] jywarren commented on #7062
And confirming it was a draft which resulted in this error, same as last time!

[2020-01-02 15:53] jywarren commented on #7062
Basic posting is back online. Moving to 2) how this happens.

[2020-01-02 16:25] nstjean opened #7083 "Change hover color on spam moderate buttons on admin dashboard"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-02 16:32] giovannyg commented on #7083
I'd like to claim it.

[2020-01-02 16:35] jywarren commented on #6856
If nobody's taken this up still, it's still available! Please leave a comment and open a pull request if you get started, thanks!

[2020-01-02 16:35] crisner commented on #6887
PR [#326](https://github.com/publiclab/leaflet-environmental-layers/pull/326) for issue [#325](https://github.com/publiclab/leaflet-environmental-layers/issues/325) ready for review.

[2020-01-02 16:38] nstjean opened #7084 "Add prompt to Dashboard (/dashboard) to add user location"
If a user doesn't have a location they should be prompted on the /dashboard to enter one.

Should it be in the main column, something like this?

![FireShot Capture 161 - 🎈 Public Lab_ Dashboard - localhost](https://user-images.githubusercontent.com/49460529/71678624-9abf8680-2d53-11ea-8aa4-1c5eed2a6924.png)

Or in the sidebar?

![FireShot Capture 162 - 🎈 Public Lab_ Dashboard - localhost](https:/

[2020-01-02 17:03] jywarren opened #7085 "Run through checklist to approve new dependency versions (for all Public Lab projects)"
We have [dependabot](https://dependabot.com/) installed on most main Public Lab repositories now, and it's great!

Dependabot opens new pull requests and labels them `dependencies`:

* https://github.com/publiclab/plots2/labels/dependencies
* https://github.com/publiclab/image-sequencer/labels/dependencies
* https://github.com/publiclab/PublicLab.Editor/labels/dependencies
* https://github.com/pub

[2020-01-02 17:13] jywarren commented on #5695
That sounds awesome.

On Wed, Jan 1, 2020 at 1:42 PM Natalie St Jean <notifications@github.com>
wrote:

[2020-01-02 17:16] jywarren commented on #7085
Noting that it's possible to get Dependabot to auto-merge a PR after receiving approvals (according to the policy on that particular project). So we could expand this to ask people to approve Dependabot PRs as well!

[2020-01-02 17:18] #5931 closed

[2020-01-02 17:35] jywarren commented on #7071
That sounds great. Thanks!!!

On Wed, Jan 1, 2020 at 4:23 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2020-01-02 17:45] SidharthBansal commented on #4691
Due to multiple PRs, changing score from 5points (hard) to 15 points (hoF) Jeff.
Thanks all

[2020-01-02 17:45] jywarren commented on #6953
We'd love help with this, thank you!

On Fri, Dec 27, 2019 at 7:48 AM Mansi Sharma <notifications@github.com>
wrote:

[2020-01-02 17:54] nstjean commented on #7083
@giovannyg Great! Go ahead!

[2020-01-02 17:56] nstjean opened #7088 "Fix map on user profile"
The map at the top of the user profile should show up when the user has a location saved. However it's not showing anything at the moment!

![FireShot Capture 164 - 🎈 Public Lab_ admin - localhost](https://user-images.githubusercontent.com/49460529/71682979-3efafa80-2d5f-11ea-98fd-6416cfa5e916.png)

I'll take care of this!

[2020-01-02 17:59] SidharthBansal commented on #3439
@VladimirMikulic sorry for confusion.
This issue is about password and password confirmation that should match each other.
There will be 2 medium tasks for this issue
1. Form password JS validations
2. Modal password JS validations
In case they are already present on the website then please feel free to close #3439

The issue https://github.com/publiclab/plots2/issues/4268 can be broken into 4 har

[2020-01-02 18:00] #6924 closed

[2020-01-02 18:02] #7052 closed

[2020-01-02 18:03] SidharthBansal commented on #3439
Also, consider the layout structure of form and modal. Are they same piece of code? Then we have to use either JS/ROR (for both modal and form). Does this makes sense?

[2020-01-02 18:09] #7077 closed

[2020-01-02 18:23] pavanreddy21 commented on #7082
I'd like to claim it.

[2020-01-02 18:23] VladimirMikulic commented on #3439
@SidharthBansal I see that you are using the terms signup form and signup modal.
In the demo video is it the signup modal or form?
I understand modal as a popup and form as HTML form element ie. form that the user fills in that is in signup modal.

This PR, as you saw in the demo does form validation in the signup modal(it validates passwords as well as other inputs).

I hope we understand each ot

[2020-01-02 18:23] #7045 closed

[2020-01-02 18:31] jywarren commented on #6096
Yes, i believe so!

On Mon, Dec 23, 2019 at 6:14 AM Sneha Mishra <notifications@github.com>
wrote:

[2020-01-02 18:37] SidharthBansal commented on #3439
I agree with modal and form definitions

On Thu, 2 Jan 2020, 11:53 pm Vladimir Mikulic, <notifications@github.com>
wrote:

[2020-01-02 18:38] SidharthBansal commented on #3439
That means you did both of them in the same pr? Great

On Fri, 3 Jan 2020, 12:06 am Sidharth Bansal, <bansal.sidharthcode@gmail.com>
wrote:

[2020-01-02 18:39] SidharthBansal commented on #3439
Ques1: does that pr work for sign up modal?
Ques 2: does it work for signup form?
Ques 3: have you implemented password confirmation for both modal and form?

On Fri, 3 Jan 2020, 12:07 am Sidharth Bansal, <bansal.sidharthcode@gmail.com>
wrote:

[2020-01-02 18:45] jywarren commented on #5260
Re-opening with some additional followups for sorting/organizing, all noted in these comments:

https://github.com/publiclab/plots2/pull/5769#issuecomment-495236681

We'd love more help with this!

[2020-01-02 18:46] #7010 closed

[2020-01-02 21:11] cesswairimu commented on #7067
Yeah I agree with @nstjean, the second option looks great.

[2020-01-02 21:25] jywarren commented on #6993
Here, just wanting them to be like the map on this page, in that it shows site content, whether pages, notes, or people: https://publiclab.org/wiki/puerto-rico -- but I think we have to address this in https://github.com/publiclab/plots2/issues/3090

For this, I was thinking something like this:

![image](https://user-images.githubusercontent.com/24359/71694051-0c132f80-2d7c-11ea-87ef-9d47fdcc550e

[2020-01-02 21:54] #7069 closed

[2020-01-02 22:18] #7088 closed

[2020-01-02 22:26] jywarren commented on #3090
Ah ok - so i think we need to link to this: https://github.com/publiclab/plots2/pull/5961

@sagarpreet-chadha what if we thought about @nstjean's work on the `/map/_slug_` page and getting people appearing there? And think in parallel about the way to do the inline shortcode?

@nstjean what do you think of this?

Also, #5961 does need some additional work on how the list of people is displayed whe

[2020-01-02 22:29] okonek commented on #5585
@SidharthBansal Hi, I took on this issue a while ago. Could you explain a bit more what should the test check, because I don't get what you meant by: "Preserve return_to param when switching from /login to /signup"?

[2020-01-02 22:30] jywarren commented on #6290
Just referencing a few issues together here. A recent example issue at https://github.com/publiclab/plots2/pull/6875#issuecomment-570288690

Issues possibly related to parallelization documented at https://github.com/publiclab/plots2/issues/5931

And follow-up notes and concerns from this process at #5954 ...

[2020-01-02 22:34] jywarren commented on #7031
Hi! I like (1) a lot. As to the slider, I think it really helps to emphasize the relationship between zoom and privacy, so I'd like to keep it! Thank you!

[2020-01-02 22:36] jywarren commented on #7031
Also, what if we removed the extra input for "Place name as it will be saved" and instead displayed that text in grey, in quotation marks, just next to... the save button? Or somewhere else? It's just visually crowded right now and I wonder if we can do something else to indicate a "final check" for what it'll say when you save, you know?

[2020-01-02 22:37] VladimirMikulic commented on #7067
@cesswairimu @nstjean Awesome! Thank you both for your help. The issue is updated accordingly.

[2020-01-02 22:40] jywarren commented on #6962
Just thinking about how to warn people about this, the checkbox could have a helpful warning like `[ ] include banned accounts (careful: the huge # of accounts can make this slow the whole site down)`

We could have the checkbox add a POST parameter like `banned=true` and then on line 59 of this code segment, switch off that conditional accordingly:

https://github.com/publiclab/plots2/blob/0f94ed

[2020-01-02 22:40] jywarren commented on #6962
If this sounds reasonable, @skilfullycurled, we can mark it as an FTO candidate and hand it off to folks for implementation? ❤️ Happy new year!

[2020-01-02 22:42] jywarren commented on #6290
In https://github.com/publiclab/plots2/pull/6789, coverage was to drop to 50%, but on rebasing, it went up to very little change and all passed. This makes me worry about the parallelization issue?

[2020-01-02 23:09] VladimirMikulic opened #7092 "Social icons on sign up and login modal not centered"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-02 23:19] skilfullycurled commented on #6962
Happy New Year!

For sure, did you need me to change anything on this issue or do you have the power to edit it?

A few suggestions:

1) Would it help to put a time constraint on the search or would that slow the process down even more?  There was a period of time when we got 350,000+ signups in 2013 and the probability that the needle is in that haystack is very close to zero.

2) I'd give the wa

[2020-01-02 23:38] abdiclear commented on #7092
I'd like to take this on please.

[2020-01-02 23:53] VladimirMikulic commented on #7092
@abdiclear it's yours.

[2020-01-03 02:47] VladimirMikulic commented on #3439
@SidharthBansal my PR has all 3 quests done.

You mentioned 4 JS/RoR concrete tasks.

My PR covers the first two because it handles signup modal validation and signup form validation.

The only thing left to do here are login modal and login form validation. Login functionality is always handled on server, so RoR definitely.

[2020-01-03 02:56] VladimirMikulic commented on #3439
My PR also closes #4268. You can open a new issue for login modal and login form validation.

[2020-01-03 03:16] anthony-zhou opened #7095 "Menu Icon on Medium-sized Screens not Vertically Aligned"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-03 05:00] SidharthBansal commented on #3439
Sure. I think we should make it as a single task having x points as one pr
is required. What should be x?

On Fri, 3 Jan 2020, 8:26 am Vladimir Mikulic, <notifications@github.com>
wrote:

[2020-01-03 05:03] SidharthBansal commented on #3439
I think it should be 10 points in total. So you can claim this task and the
other task and get points. Both are hard tasks.
I hope you are ok with it.
Thanks

On Fri, 3 Jan 2020, 10:30 am Sidharth Bansal, <bansal.sidharthcode@gmail.com>
wrote:

[2020-01-03 05:05] SidharthBansal commented on #5585
Hi, if someone goes from signup to login form then the return to should be
preserved. Eg person on wiki page wants clicks login then signup

On Fri, 3 Jan 2020, 3:59 am Jan Okoński, <notifications@github.com> wrote:

[2020-01-03 06:06] gxite commented on #7095
Hi i'd like to claim this issue.

[2020-01-03 06:27] crisner commented on #6887
Updated [above list](https://github.com/publiclab/plots2/issues/6887#issuecomment-561287047) with PRs.

[2020-01-03 07:01] SidharthBansal commented on #3439
Explicitly: 5 points for #3439 issue and 5 points for #4268
This will be a fair judgment. So, in total 10 points. Is it okay with you?

[2020-01-03 07:04] SidharthBansal commented on #5260
@IshaGupta18 can you please help in breaking this issue into pieces? As many issues are already solved and you have worked on them since a long time, this will be great

[2020-01-03 09:44] VladimirMikulic commented on #3439
@SidharthBansal perfectly OK. Thank you for acknowledging my work :+1:

[2020-01-03 12:18] SidharthBansal commented on #3439
In case you find anywhere anyone is gettung lesser points then contact
me(including you).

On Fri, 3 Jan 2020, 3:14 pm Vladimir Mikulic, <notifications@github.com>
wrote:

[2020-01-03 13:06] #7076 closed

[2020-01-03 13:06] cesswairimu commented on #7076
Great catch @anthony-zhou. Thanks

[2020-01-03 13:25] cesswairimu commented on #6979
Fixed on https://github.com/publiclab/plots2/pull/6997. Closing this

[2020-01-03 13:25] #6979 closed

[2020-01-03 13:43] mbronek7 commented on #7095
Hi I would like to start contributing to open source, could you check My PR

[2020-01-03 14:17] nstjean commented on #7031
Okay! Yes I like the idea of moving the "place name will be saved as" to a less prominent position. I'll play around and post some ideas.

[2020-01-03 17:24] jywarren commented on #6290
OK, coming back here; i think things are OK... notes:

https://docs.codecov.io/docs/merging-reports says it can handle parallel reports already with no config needed.

https://docs.codecov.io/docs/unexpected-coverage-changes has some useful info too.

https://github.com/publiclab/plots2/pull/7061 was compaining that the diff coverage is not as high as the project (32% vs 80%) so I wonder @Uzay-G i

[2020-01-03 17:27] jywarren commented on #6290
Maybe we can lower the strictness here? https://docs.codecov.io/docs/codecovyml-reference#section-codecov

Also we can ignore some folders if we think that's appropriate...

[2020-01-03 17:29] jywarren commented on #6290
Yes, we can set threshold here! https://docs.codecov.io/docs/commit-status#section-threshold

[2020-01-03 17:31] jywarren commented on #6294
Oof, those are the toughest type of HTML error to find. Can you confirm this is happening on all question pages, or is it possibly related to just that one page? Thanks!

[2020-01-03 17:51] Uzay-G commented on #6294
The error (at least for me) is present on about half of the questions of the publiclab site I am looking at and is not present at all locally. Example problem pages are:
- https://publiclab.org/questions/stevie/12-04-2019/what-are-the-health-impacts-of-the-aluf-plastics-plant-from-air-pollution
- https://publiclab.org/questions/stevie/12-16-2019/are-there-simple-tests-for-nitrates-in-well-water
-h

[2020-01-03 17:58] Uzay-G commented on #6290
Yeah I think we need to make it more flexible. I will look at this later tonight when I can! :+1:

[2020-01-03 19:56] jywarren commented on #6962
if you think the time constraint of >2013 is OK, then we could just add
that to the checkbox and state it, and include less cautionary text. And
assume no searching banned users <2013.

I like the moderators mailto idea; could you break that into its own issue?
It's pretty easy to implement and would make a great FTO. Thanks!

On Thu, Jan 2, 2020 at 6:24 PM Benjamin Sugar <notifications@github.com

[2020-01-03 20:37] skilfullycurled commented on #6962
If you think it will make a difference, we can shave off (possibly as much as) another ~36,000, then you can start at 2015.  That's not from actual data, I'm extrapolating but I think it's a reasonable one.  I mean hey, you're a decade old now (and it's a new decade) so you're allowed to do things by 5's now!  I leave that to you, I have no opinion, just offering some info albeit not based entirel

[2020-01-03 20:39] skilfullycurled commented on #6962
Wait!  I didn't mean to close it...clicked on the wrong button.  Unless that's okay that I closed it.  Seems like we've come to an end for the time being

[2020-01-03 20:51] Uzay-G commented on #6290
Ok I can make a pull request for the threshold, do you think we should set it around 5-8%?

[2020-01-03 20:54] jywarren commented on #6290
Oh, i was thinking more like 1% - isn't it the "wiggle room" for the
overall project coverage to change +/- as a result of the PR? But yes,
let's try it out!

On Fri, Jan 3, 2020 at 3:51 PM Uzay-G <notifications@github.com> wrote:

[2020-01-03 20:55] Uzay-G commented on #6290
Oh ok yeah alright! I'll make the pull request now for the threshold! :+1:

[2020-01-03 21:54] jywarren commented on #6804
I believe this is now complete!

[2020-01-03 21:54] #6804 closed

[2020-01-03 22:00] jywarren commented on #4035
Complete!!! 🎉

[2020-01-03 22:00] #4035 closed

[2020-01-03 22:11] jywarren commented on #6026
Closing this as we've broken out all relevant parts into separate issues now, i believe?

[2020-01-03 22:11] #6026 closed

[2020-01-03 22:12] jywarren commented on #5485
I believe this is resolved in the new design, thank you!!!

[2020-01-03 22:12] #5485 closed

[2020-01-03 22:14] jywarren commented on #6253
Regarding @CleverFool77's question, I think we should go with `/wikis/authorname` to list wikis edited by a person.

And for @steviepubliclab's last comment, we should break that out as its own issue.

[2020-01-03 22:15] jywarren commented on #6253
The comments link and page are complete, though!

[2020-01-03 22:47] jywarren commented on #5719
[code]

[2020-01-03 23:22] jywarren commented on #6962
No, let's go ahead on this - I think then the changes would be to change lines 68-9 of this:

https://github.com/publiclab/plots2/blob/0f94ede6e5cb3eaf244491e14f090b704bfec297/app/controllers/admin_controller.rb#L63-L75

to something like:

[code]

And a template change to add a checkbox to this:

https://github.com/publiclab/plots2/blob/d251b5ff71036060d2439128496550c022bac80c/app/views/admin/use

[2020-01-03 23:37] #6435 closed

[2020-01-04 09:20] Uzay-G commented on #6294
Should I create an issue?

[2020-01-04 12:01] SidharthBansal commented on #6808
Few more issues which are going to be published on GCI dashboard soon
Here's possibly a good GCI issue? publiclab/leaflet-environmental-layers#87 medium sized I guess

and a nice one here! publiclab/plots2#6253 large sized!
I'm starting to add this gci-candidate label and they show up as recently updated in this view: https://github.com/publiclab/plots2/issues?q=is%3Aopen+is%3Aissue+label%3Agci-ca

[2020-01-04 18:46] skilfullycurled commented on #6962
Ah, you know, I remember now that there's a template for FTO's.  Do we typically convert the original issue by changing the original text and filling it in with the new information we have from the discussion or do we need a new one?

[2020-01-04 19:31] #5719 closed

[2020-01-04 19:32] #3439 closed

[2020-01-04 20:03] skilfullycurled opened #7109 "Add Text To Body In Contact Moderators "mailto:" Link"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-05 00:20] jywarren commented on #6962
I think you got it right in the one you just posted, thanks!

On Sat, Jan 4, 2020, 1:46 PM Benjamin Sugar <notifications@github.com>
wrote:

[2020-01-05 05:46] sunguru98 commented on #7109
I want to take this, please. It seems easy for me and will add experience to my OSC belt :), I don't know the etiquette even for claiming haha.

[2020-01-05 06:53] SebastianGP commented on #7083
I'd like to claim it as well.

[2020-01-05 11:13] Uzay-G commented on #6233
Hey! I have found the solution to this problem because it was interfering with the testing for #7072. I am a GCI student but have not claimed the task yet because I am still working on #7072. Can I make a pull request to fix this so that I can do proper testing for my other pr?
Thanks! :+1:

[2020-01-05 11:14] Uzay-G commented on #6233
The changes I have in mind would, when logging in, redirect users to the page they were initially on.

[2020-01-05 11:15] Uzay-G commented on #6233
I understand that you want to redirect users to dashboard if it is there first time signing in and these changes will keep that functionality.

[2020-01-05 13:42] Uzay-G commented on #6233
I will make the pull request so we can discuss about the changes! :+1:

[2020-01-05 18:18] skilfullycurled commented on #7109
Thanks @sunguru98, that was quick!

As far as claiming goes, I'd say, if you see a comment thread, then just ask if anyone already has it.  If it's completely empty, I think it's safe to just claim it.  No justification necessary, it's just so people don't double up.

[2020-01-05 18:22] skilfullycurled commented on #6962
I'm still not clear: I meant in regards to this one, when you said it's ready to be an FTO, should I make a new one or just fix the formatting on this issue so it matches the FTO template.  The other one that I wrote was a different FTO for the mailto text.

[2020-01-05 18:26] anthony-zhou opened #7114 "Menu icon disappears on tablets"
### Please describe the problem (or idea)

When the width of a device is exactly 768px (e.g. on an iPad), the menu icon in the top right corner disappears:
![image](https://user-images.githubusercontent.com/37421108/71784024-39e2b900-2fb4-11ea-94c8-80727f027978.png)

Because of this, on devices of this width, users have no way to access the sign up, store, and donate options from the navbar. The p

[2020-01-06 06:30] SidharthBansal commented on #6233
YOu can claim that issue as it is interrelated. We can reformat things. Don't worry

[2020-01-06 07:32] SidharthBansal commented on #6808
Next week's pr review tasks published.

[2020-01-06 11:28] shipcy commented on #7109
I want to take this issue. Please let me know if I'm allowed to take this issue.

[2020-01-06 11:29] shipcy commented on #7095
I would like to solve this issue.

[2020-01-06 11:30] shipcy commented on #7092
hey I'd like to take this issue.

[2020-01-06 11:31] shipcy commented on #7083
I'd like to take it.

[2020-01-06 11:32] shipcy commented on #7082
I'd like to take it.

[2020-01-06 11:33] VladimirMikulic commented on #7092
@shipcy we have a PR for this issue :)
You can search for other FTOs, there is plenty of them.

[2020-01-06 13:39] crisner commented on #6887
PR [#329](https://github.com/publiclab/leaflet-environmental-layers/pull/329) ready for issue [#327](https://github.com/publiclab/leaflet-environmental-layers/issues/327)

[2020-01-06 14:07] nstjean commented on #7083
@SebastianGP @shipcy There has already been a pull request submitted for this one, we'll get some more FTO issues up soon!

[2020-01-06 14:14] crisner commented on #6887
I will be working on issue [#87](https://github.com/publiclab/leaflet-environmental-layers/issues/87) next.

[2020-01-06 14:45] skilfullycurled commented on #7109
Hi Shipra,

I think someone already completed this (responding from my phone so I can’t see the site right now).

If you look in the narrative up top, there’s a related issue.  It’s slightly more complicated, but not by much.  I haven’t set it up as an FTO yet, it’s still an FTO candidate.  All I need to do is take all of the decisions and group them into a step by step up top.

But you can go ahe

[2020-01-06 15:02] nstjean commented on #6993
Yeah sure! I'll do some designing!

[2020-01-06 15:09] skilfullycurled commented on #7109
@sunguru98, now that you've completed the task, don't forget to click all of the check boxes up to.  One of them will be for making a pull request, which you should do if you haven't yet done so.  I think the people who approve them look for all of the boxes to be ticked off.

[2020-01-06 15:11] skilfullycurled commented on #7109
@shipcy, the related one is #6962.  I'm going to go fix it up right now.

[2020-01-06 15:11] skilfullycurled commented on #6962
I'm just going to go ahead and do it and we can "fix it in post" as they say.

[2020-01-06 15:13] nstjean opened #7120 "Blurred value not saved sometimes"
In my dev environment I noticed that sometimes blurred:true isn't saved along with the lat, lon and zoom tags when a location is saved from the popup modal. I think it only happens when an admin is saving a location for a user (when logged in as admin, go to profile/user and select a location and save it).

Can anyone confirm this bug? Anyone want to research it and try to figure out why it's happ

[2020-01-06 15:17] jywarren commented on #6887
Awesome!!!

On Mon, Jan 6, 2020 at 9:14 AM Renisha Christie. A <notifications@github.com>
wrote:

[2020-01-06 15:19] jywarren commented on #6962
Sorry - yeah, i don't have a strong opinion on reformatting vs making a new one. If you want to keep people in the notifications thread you can use the same issue. But not a big deal either way! Thank you!!

[2020-01-06 15:26] IshaGupta18 commented on #6887
Tag me in on Gitter if you need any help!

On Mon, Jan 6, 2020, 8:47 PM Jeffrey Warren <notifications@github.com>
wrote:

[2020-01-06 15:31] crisner commented on #6887
Sure @IshaGupta18! Thanks!

[2020-01-06 15:34] skilfullycurled commented on #6962
@jywarren, I reformatted the original post.  Since you already had the steps in the conversation, I simply linked to that post in the "update" section on the checklist.  I think it's officially ready for a label upgrade!

@shipcy, if you're interested in taking it on, go head and claim it!  Please leave a note either way.

Thanks everyone!

[2020-01-06 15:36] skilfullycurled commented on #7109
Okay @shipcy, #6962 is all set for the taking (if you want it, that is).  If, for whatever reason, you're uninterested, just leave a note there so someone else knows it's claimable again.

[2020-01-06 16:12] shipcy commented on #7109
@skilfullycurled Sir, I really don't know how to do this. If you may guide me then I'll take this issue otherwise I'll leave this issue and look for another one.
Thanks!

[2020-01-06 16:18] skilfullycurled commented on #7109
No "sirs" necessary, Benjamin will be fine.  ; )

We are absolutely here to guide you!  The process is no different than this one.  If you think you can do this one, I'm confident with some help you can do the other one, if you're interested.  Let's move the conversation over to #6962, because everyone on the thread can help out.  I'm going to ask you a question over there.

[2020-01-06 16:21] shipcy commented on #7109
@skilfullycurled yeah, sure!

[2020-01-06 16:22] skilfullycurled commented on #7109
Oh, as an aside @shipcy, I didn't know anything about contributing to another repo when I started, so don't worry about that!  Everyone is here to help no matter your experience, and even _after_ you complete an FTO.

[2020-01-06 16:23] shipcy commented on #7109
@skilfullycurled Thank you so much!

[2020-01-06 16:25] skilfullycurled commented on #6962
@shipcy, can you say a bit more about your experience so I know where to begin to help you?

What have been your experiences with Github?  Have you worked with Github with your own work?  Have you contributed to another repository before?

[2020-01-06 16:26] shipcy commented on #7109
@skilfullycurled and you were talking about some question above. What's the question then?

[2020-01-06 16:28] skilfullycurled commented on #7109
Yes, click on this [link](https://github.com/publiclab/plots2/issues/6962#issuecomment-571205632).  I moved the conversation to the issue that I'm taking about.

[2020-01-06 16:29] shipcy commented on #6962
@skilfullycurled I'm totally new to open source. I've not that much idea about the contributions. But I'll try my best to apply my skills here and will try to solve issues. And I haven't contributed to any repository yet. Please guide me.

[2020-01-06 16:37] skilfullycurled commented on #6962
That's actually perfect @shipcy because I've been wanting to update the and see if people can follow it anyway.

BTW: Also, introduce yourself [here](https://github.com/publiclab/plots2/issues/6962#issuecomment-571205632).  This is our weekly community check-in.  Each week there is a new question that is asked.  Often it is centered around what people are working on, but sometimes I just use it to

[2020-01-06 16:38] skilfullycurled commented on #6962
@shipcy, I was looking at your profile, and it seems like you do know how to fork the repository.  If so, then you can go ahead and fork plots2.  If not, then just wait and I'll have an image up in a few minutes.

[2020-01-06 16:49] shipcy commented on #6962
Hey, everyone! My name is Shipra Choudhary. I'm currently a junior pursuing Computer Science and Engineering from India. My skill set includes HTML, CSS, Bootstrap, Javascript, JQuery, C++, MySQL, etc. And I'm new to open source and I'm working on my first contribution.

[2020-01-06 16:59] skilfullycurled commented on #6962
@shipcy, I'm so sorry.  I gave you the wrong link.

(sigh)

Follow [this link](https://github.com/publiclab/leaflet-blurred-location/issues/227) and introduce yourself here.

[2020-01-06 17:53] Uzay-G opened #7121 "Logging in through MK AND SWB should not redirect to Publiclab"
The authentication system for Mapknitter, Publiclab and Spectral Workbench are quite intertwined and I noticed that logging it to Mapknitter through oauth (at least Github) redirected to the publiclab dashboard instead of back to Mapknitter. Here's a video with the problem:

![redirection-problem](https://user-images.githubusercontent.com/52892257/71836975-97aafa00-30b5-11ea-9890-c578f45485d6.gif)

[2020-01-06 17:54] nstjean commented on #5695
I've added lat, lon and zoom:
https://publiclab.org/wiki/power-tags#General+power+tags

[2020-01-06 17:56] VladimirMikulic commented on #7121
I've thought of this issue too. It's annoying when you get redirected every time when you log in via Google/Github...

[2020-01-06 18:04] nstjean opened #7122 "Wiki "Preview" state does not show a way to go back to editing"
I noticed today that when you edit a Wiki page it has the options of "Save" "Preview" and "Cancel." When you click on "Preview" the page displays as a preview just as it should, but there is no button that says "Edit" or shows how you can return back to editing.

![FireShot Capture 171 - 🎈 Public Lab_ Editing 'Power Tags' - publiclab org](https://user-images.githubusercontent.com/49460529/71837511

[2020-01-06 18:09] shipcy commented on #6962
@skilfullycurled I've introduced myself there.

[2020-01-06 18:14] shipcy commented on #6962
@skilfullycurled I have given my introduction.

[2020-01-06 18:17] skilfullycurled commented on #6962
Great!  Okay, give me a bit, I need to check on some things with folks.  In the meantime, you can fork the repository.

[2020-01-06 18:25] shipcy commented on #6962
@skilfullycurled it's done!

[2020-01-06 18:42] skilfullycurled commented on #6962
Great!  Okay, sadly, I am waiting to hear back on some stuff, and I also need to go for a bit.  You can certainly try using it though, it's located [here](https://publiclab.org/notes/liz/11-02-2016/make-the-most-basic-github-contribution).  I think there is a step missing right before step 7.  What I think you want to do is _**go back**_  to your repository, and find the file and location.  Then y

[2020-01-06 19:03] shipcy commented on #7114
I want to take this issue.

[2020-01-06 19:18] anthony-zhou opened #7123 "Blank space appearing above header on tablets"
On tablets (screen width of 768px), there is an awkward white space above the header on all pages where it appears:
![image](https://user-images.githubusercontent.com/37421108/71842007-6109bb00-3086-11ea-9e6f-60318a804bfe.png)

This is created by a CSS media query in the `head` of the page, whenever the `anniversary` banner is loaded. It is structured like this:
[code]

[2020-01-06 20:01] shipcy commented on #6962
@skilfullycurled I have done it.

[2020-01-06 20:17] Uzay-G commented on #7121
Yeah I totally agree.

[2020-01-06 20:40] nstjean commented on #6887
I have WIP https://github.com/publiclab/plots2/pull/7125 - not done, but can give feedback!

https://github.com/publiclab/plots2/pull/7061 is frustrating me. I fixed the one test that was failing, but it's getting timing errors on all my maps tests.

https://github.com/publiclab/plots2/pull/6957 is all set to merge

https://github.com/publiclab/plots2/pull/7105 change was made, should be all set t

[2020-01-06 20:40] nstjean commented on #6887
Thanks @IshaGupta18 !

[2020-01-06 20:43] #6946 closed

[2020-01-06 21:21] jywarren commented on #7121
Oh huh... let's cc @SidharthBansal because he created this system. I wonder
does this happen only for Google/GitHub or for Twitter/FB too?

On Mon, Jan 6, 2020 at 3:17 PM Uzay-G <notifications@github.com> wrote:

[2020-01-06 21:24] jywarren commented on #7122
That'd be great. Thanks!

On Mon, Jan 6, 2020 at 1:04 PM Natalie St Jean <notifications@github.com>
wrote:

[2020-01-06 21:25] jywarren commented on #7123
Ah, i believe this could also be due to the folding of the navbar -- but I thought we resolved that -- can you see #6888 and see how that may be causing trouble still? Does that interact at all with this issue?

[2020-01-06 21:25] jywarren commented on #7123
Thank you!

[2020-01-06 21:28] #4268 closed

[2020-01-06 22:22] skilfullycurled commented on #6962
You did great!  You went really far without very good directions or instructions.  Well done.

A few things:

1) Don't forget the second part which is changing the template to add the check box (see above).  However, we should get more specific on where that code goes first.  @jywarren, when you have a moment, can you let us know what line the html goes in the template in your [comment above](http

[2020-01-06 22:26] skilfullycurled commented on #6962
PS: This is really helpful by the way. These errors are really on us and our directions so it's great to be able to see where our directions are failing!

[2020-01-06 22:55] LeoDog896 opened #7127 "Public Lab Website x-overflow fix"
Well, more as what did I expect to not see, a x-scroll bar

### Please show us where to look

https://publiclab.org/

I'm not signed in and this styling appears automatically

### Browser, version, and operating system

I'm not signed in, and I'm using a Windows 10 with a Chrome browser version 79.0.3945.88

****
![Capture](https://user-images.githubusercontent.com/26509014/71854972-bc02d880-30ad-

[2020-01-06 22:58] jywarren commented on #6962
Hi! just noting if it'd be helpful just be sure to ping me @jywarren with any questions. You're doing great!

[2020-01-06 23:18] jywarren commented on #6501
Hi @sagarpreet-chadha @sashadev-sky would you like to sign up for some feature maintainers "zones" and get merge rights for them?

[2020-01-06 23:27] skilfullycurled commented on #6962
@jywarren, you might have missed my question in the giant text, but when you have a moment, can you let us know what line the html goes in the template in your comment above?

[2020-01-06 23:30] jywarren commented on #6962
Oh sorry! Yes, i think it'd go just before line 13, but you may want to wrap it in `<p>` `</p>` tags depending on how it ends up looking!

[2020-01-07 02:09] SidharthBansal commented on #7121
Hi @Uzay-G I was referring to the same thing yesterday in your pr. We need a test to ensure correct behavior for MK and SWB(no redirect back to PL). Can you please add tests demonstrating it also?

[2020-01-07 02:10] SidharthBansal commented on #7121
@jywarren there were some changes in May-July in plots2 due to which all 4 providers are redirecting back to MK and SWB. We are trying to rectify this on `priority`. I really appreciate your patience.