[2022-10-09 03:31] jesutobi commented on #11105
Hello @TildaDares my name is Jesutobi , i am an outreachy intern, and front-end developer and would love to contribute to this project

[2022-10-09 04:03] leilayesufu commented on #11105
Hello @TildaDares my name is Leila , i am an outreachy applicant , and a front-end developer with knowledge in HTML,CSS ,bootstrap, javascript and Jquery and would love to be assigned an issue

[2022-10-09 04:46] ifeawoyemi commented on #11105
Hi @TildaDares my name is Ifeoluwa I am an Outreachy applicant, I would love to contribute to this project and assigned an issue also this is my first time to contribute to open a source project

[2022-10-09 06:09] Lovelyfin00 commented on #11105
HI Tilda, I'm Loveth and an outreachy applicant. I would love to be assigned a first timers issue. Thank you😀

[2022-10-09 06:12] Lovelyfin00 commented on #11432
Cai I be assigned to this after @megative is done?

[2022-10-09 06:39] ijayhub commented on #11105
hi Tilda, I'm Ijeoma an outreachy applicant. first time , I will like to contribute. Thank you

[2022-10-09 07:03] dayopius commented on #11105
Hi Tilda, I'm a first timer & an Outreachy applicant, I'd love to be assigned an issue please. Thank you :)

[2022-10-09 07:13] TildaDares commented on #11429
Hi @NPDebs, please leave a comment in https://github.com/publiclab/plots2/issues/11105 and we’ll look for an issue for you to work on. Thank you!

[2022-10-09 07:15] MAX-786 commented on #11105
Hello there, I would like to work on a issue can u assign me one . Thanks😊

[2022-10-09 07:19] TildaDares commented on #11052
Hi @NPDebs, please go ahead. Thank you!

[2022-10-09 07:29] TildaDares commented on #11432
Hi @Lovelyfin00, only one person can work on an issue. Please leave a comment in https://github.com/publiclab/plots2/issues/11105 and we’ll look for an issue for you to work on. Thank you!

[2022-10-09 07:30] TildaDares commented on #10153
Hi @leilayesufu, please request for an issue here https://github.com/publiclab/plots2/issues/11105.

[2022-10-09 07:59] TildaDares commented on #11105
Hi @Khadeeejah, there's an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1066 for 24 hours.

[2022-10-09 08:00] belfarz commented on #11105
Hello tilda I'm an outreachy applicant and also a first timer i would love to work on a FTO issue

[2022-10-09 08:03] TildaDares commented on #11105
Hi @brendamoreira, there's an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1067 for 24 hours.

[2022-10-09 08:06] TildaDares commented on #11105
Hi @MAX-786, there's an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1068 for 24 hours.

[2022-10-09 08:11] TildaDares commented on #11105
Hi @mofirojean, there's an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1069 for 24 hours.

[2022-10-09 08:15] belfarz commented on #11424
i want to try this

[2022-10-09 08:16] sahilbansal17 commented on #11105
Hi @TildaDares, I would like to work on an issue.

[2022-10-09 08:17] TildaDares commented on #11105
Hi @ayrhkhan, there's an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1070 for 24 hours.

[2022-10-09 08:25] TildaDares commented on #11105
Hi @FrancoFrancis, there's an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1071 for 24 hours.

[2022-10-09 08:33] TildaDares commented on #11105
Hi @NPDebs, there's an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1072 for 24 hours.

[2022-10-09 08:34] NPDebs commented on #11105
Thank you so much! 🙌🏼

[2022-10-09 08:35] mofirojean commented on #11105
Thank you ☺️

[2022-10-09 08:47] OluwatuyiAbiola commented on #11105
Hello, @TildaDares  I'm an Outreachy participant and I would love to contribute to this project. I'm also a first-timer.

[2022-10-09 08:55] adetyaz commented on #11105
Hello, I'm from outreachy and I'm looking for my first contribution.

[2022-10-09 09:13] NPDebs commented on #11052
Thank you very much, @TildaDares. I'll revert to you soon.

[2022-10-09 09:13] klaus139 commented on #11105
Hello, first Timer here, I would like to work on an issue

[2022-10-09 09:23] Dapper50 commented on #11446
hi @TildaDares Please can i work on this?

[2022-10-09 09:25] leilayesufu commented on #11105
Hello @TildaDares my name is Leila , i am an outreachy applicant
I’d like to be assigned an FTO issue

[2022-10-09 09:33] klaus139 commented on #11105
Hi @TildaDares I would like to be assigned an issue. Thanks

[2022-10-09 09:34] TildaDares commented on #11446
Hi @Dapper50, contributors are only allowed to work on one `first-timers-only` issue. Please look for other issues without the `first-timers-only` label or you can create an FTO for others. Thank you!

[2022-10-09 09:37] TildaDares commented on #11105
Hi everyone, we appreciate your enthusiasm to make a contribution. There’s a list in the issue description above with the names of people who have requested for an issue. If your name is there or you’ve left a comment already, please refrain from leaving another comments so that we can avoid duplicated names. Thank you and we look forward to your contributions!

[2022-10-09 10:10] chemistry-notfun commented on #11105
Hello @TildaDares, I'm an outreachy applicant and a first-timer, I would like to work on a issue. Thank you!

[2022-10-09 11:22] codeinvoke7 commented on #11105
Hello @TildaDares, I'm Elijah an outreachy applicant please I'll like to work on an issue

[2022-10-09 11:33] Ibom99 commented on #11446
Hi @TildaDares is this issue still open for first timers?

[2022-10-09 11:38] Ibom99 commented on #11105
Hey @TildaDares I am an Outreachy applicant. I'll like to kindly be assigned to an FTO issue, Thank You!

[2022-10-09 11:46] titiodus commented on #11105
Hello @TildaDares I am an Outreachy applicant. I'll like to be kindly assigned to an issue - one about accessibility or documentation. Thank you

[2022-10-09 11:52] titiodus commented on #11105
Hello @TildaDares. I am an Outreachy applicant and would love to contribute to any issues with Project 1. Thank you

[2022-10-09 12:14] THEDARKMAN007 commented on #11105
hello @TildaDares. my name is Samad and I am an outreachy applicant id like to work on FTO issues. thank you very much

[2022-10-09 12:27] abdelquodr commented on #11105
Hello, @TildaDares. I am an Outreachy applicant, i'll like to be assigned an FTO issue

[2022-10-09 12:44] TildaDares commented on #11446
Hi @Ibom99, someone is already working on this. I’ll let you know if that changes. Thank you!

[2022-10-09 12:48] belfarz commented on #11424
i have created a pull request

[2022-10-09 13:32] albinazs commented on #11105
Hello, @TildaDares! I'm an Outreachy applicant. Looking forward to make valuable contributions to Public Lab!

[2022-10-09 13:38] ChiomaNwosisi commented on #11105
Hello @TildaDares i am an applicant, i'll like to be assigned an FTO issue

[2022-10-09 13:38] mutmainaho commented on #11105
Hello @TildaDares, I would like to be assigned an FTO issue

[2022-10-09 13:59] obueto commented on #11105
Hello @TildaDares  ,I  would like to be assigned an FTO issue

[2022-10-09 14:07] oluwatunbi commented on #11105
Hello @TildaDares, I have not been assigned any task to work on. Thank you.

[2022-10-09 14:31] Tammy-Ajoko commented on #11105
Hello I'm Tammy, an outreachy applicant. I would like to apply for an FTO 😊.

[2022-10-09 16:25] jesutobi commented on #11307
Good day my name is jesutobi, i am an outreachy applicant, i would like to contribute on this issue

[2022-10-09 16:40] leumasxxx commented on #11105
hello I'm Samuel an outreachy applicant and id lov to be assigned a FTO

[2022-10-09 16:55] Sally-N commented on #11105
hello @TildaDares I'm Sally and I'd like to be assigned an FTO

[2022-10-09 17:24] haszankauna commented on #11105
Hello , I'm Kauna an outreachy applicant and I'll love to be assigned a task.

[2022-10-09 17:35] TaladeogoA commented on #11105
Hello @TildaDares. I am an outreachy applicant, an I would like to be assigned to an issue. Thank you.

[2022-10-09 18:08] Munnachienyi commented on #11105
hello, @TildaDares. I am an outreachy applicant and also new to open source. would love to contribute to the first timers issue

[2022-10-09 18:24] TomisinAjayi commented on #11105
Hi @TildaDares my name is Tomisin and I am an outreachy applicant.
I’d like to work on an FTO issue. Thank you!

[2022-10-09 20:41] codeinvoke7 commented on #11105
@TildaDares you listed my name but have not assigned any issue to me

[2022-10-09 21:41] Jennifer-tech commented on #11105
hello @TildaDares , I'm an outreachy applicant and also new to open source. I would like to be assigned an issue. Thanks

[2022-10-09 23:04] jywarren commented on #11424
Hello, as this was originally for @OlawaleYaqub but we did not hear from them in a while, I'm going to let @belfarz take it, since there has already been a PR for it raised. However, for future issues, please sign up for an issue at https://github.com/publiclab/plots2/issues/11105 or check if the previous person is still working on it, and we would like to respect who asked first, going forward. T

[2022-10-09 23:26] Ranecodes commented on #11105
Hello @TildaDares. I am an outreachy applicant and I'll like to contribute and work on a FTO issue. Thank you

[2022-10-10 00:36] Jennifer-tech commented on #11105
hello @TildaDares , I'm an outreachy applicant and also new to open source. I would like to be assigned an issue. Thanks

[2022-10-10 01:28] AndroGenius-codes commented on #10844
If you use  windows os and you'd like to work on this in a Linux environment install Wsl. You can find the steps in installing Wsl [Here](https://learn.microsoft.com/en-us/windows/wsl/install)
NB: when installing the Linux distribution choose Ubuntu 20.04 as anything newer than this will give problems with the ruby installation.

[2022-10-10 06:38] belfarz commented on #11424
hello, Thank you very much for letting me work on the issue

On Mon, 10 Oct 2022 at 00:04, Jeffrey Warren ***@***.***>
wrote:

[2022-10-10 07:29] meggiddy commented on #11105
Hello, @TildaDares, I'm an Outreachy Applicant and I'd like to get an issue assigned to me. Thank You!

[2022-10-10 07:29] TildaDares commented on #10153
Issue requesting has been moved to #11105

[2022-10-10 07:51] xiaodaiweiwei commented on #11105
Hello @TildaDares , I'm Astrid Liu and I'm an Outreachy Applicant. I'm new to the open source but I have the passion to work on some issuers so I would like to apply for an FTO issue. Thank you!

[2022-10-10 07:55] kabuur commented on #11105
Hello I'm Ahmed an outreachy aplicant also I'm First timer open source contribution

[2022-10-10 08:16] tiffieangel commented on #11105
Hello @TildaDares , I'm Tifany-Angel, an Outreachy applicant. I'd like an FTO issue to work on.

[2022-10-10 08:23] sainamercy commented on #11105
Hi @TildaDares, I'm an outreachy applicant. This will be my first time contributing to your code base. I would appreciate a First Timer Issue to work on. Thanks

[2022-10-10 08:33] Thesaleem commented on #11105
Hi @TildaDares. I'm an outreachy applicant, and I would like to be assigned an FTO issue

[2022-10-10 08:40] THEDARKMAN007 commented on #11105
hello, @TildaDares. I am an outreachy applicant, I would love to be assigned an issue. thank you.

[2022-10-10 09:12] Julietadeboye commented on #11105
Hello @TildaDares, I'd love to be assigned an issue. Thanks

[2022-10-10 09:30] Tammy-Ajoko commented on #11105
@TildaDares don't know if I did it right the first time by not tagging you, but I'll like to apply for an FTO

[2022-10-10 10:09] xiaodaiweiwei commented on #11105
Hi Ahmed,&nbsp;
Nice to meet you! We could help each other and get over the first time haha.
Astrid

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "publiclab/plots2"                                                                                    ***@***.***&gt;;
发送时

[2022-10-10 10:31] #11432 closed

[2022-10-10 10:37] Straw4yu commented on #11105
Hi @TildaDares I'll love to be assigned an issue. I'm new here. Thank you.

[2022-10-10 10:46] Bhaybhiisparks commented on #11105
Hi @TildaDares  I am an outreachy applicant. I'd love to be assigned an FTO issue

[2022-10-10 11:33] AndroGenius-codes commented on #10844
i get this error after running passenger start
![bug](https://user-images.githubusercontent.com/70571088/194856949-cbdbb59b-13ad-4e4b-955e-62e2c2e43eb3.png)

@TildaDares

[2022-10-10 11:39] Jennifer-tech commented on #11105
hello @TildaDares , I'm an outreachy applicant and also new to open source. I would like to be assigned an issue. Thanks

[2022-10-10 11:40] ChiomaNwosisi commented on #11416
can i claim this issue

[2022-10-10 12:38] Josephsanya commented on #11105
Hello @TildaDares Please, I'm an Outreachy applicant, and would like to be assigned an FTO issue. Thanks.

[2022-10-10 12:52] IdayatSanni commented on #11105
Hello @TildaDares, I'm an outreachy applicant and would like to be assigned an issue. Thank you

[2022-10-10 13:11] Tkwenan commented on #11105
Hi @TildaDares I'm an Outreachy applicant and I'm waiting to be assigned an issue. Thanks.

[2022-10-10 13:41] ChiomaNwosisi commented on #11424
i'll like to try this

[2022-10-10 13:52] Divine-peace commented on #11105
Hello @TildaDares , thanks for the email. I'm an applicant waiting to be assigned an issue. Please, help me.

[2022-10-10 14:05] Divine-peace commented on #11105
Hello @TildaDares, thanks for the email. Please, I need an FTO issue to work on.

[2022-10-10 15:01] AndroGenius-codes commented on #10796
@PeculiarE I'd like to work on this.

[2022-10-10 15:33] Favour-Cay commented on #11105
Hii @TildaDares, im a first timer and ill like if you can please assign me an issue to work on

[2022-10-10 15:35] iLynette commented on #11105
Hi @TildaDares, I am also just getting started and would appreciate it if I could be assigned an issue(s) to work on. Thanks.

[2022-10-10 16:48] banjo-tech commented on #11424
This will be great to work on.

[2022-10-10 16:50] Favour-Cay commented on #11424
@olawaleYaqub if you need any assist ,im happy to help

[2022-10-10 16:51] banjo-tech commented on #11105
Hi @TildaDares,
I'm an Outreachy applicant. Kindly help out on how I can get assigned to an issue. Many thanks.

[2022-10-10 17:38] TildaDares commented on #10844
Hi @AndroGenius-codes, can you try stopping and starting the server?

[2022-10-10 18:15] AndroGenius-codes commented on #10844
Good evening, i was able to successfully install it. I forgot to type yarn install

[2022-10-10 20:58] mimi-tech commented on #11105
Hi @TildaDares, Hope you are doing well. Please can I get assigned to a task? Thank you.

[2022-10-10 22:07] PeculiarE commented on #10796
Hi @AndroGenius-codes....thank you for showing interest in this issue. Please feel free to work on it, and don't hesitate to reach out if you're stuck or need further clarification 😄

[2022-10-10 22:09] RealRichi3 opened #11463 "Add installation for gnupg2 to project setup for Windows Subsystem for linux"
### 💡Format this Issue Into a First Timers Issue

This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-ti

[2022-10-10 22:13] TildaDares commented on #11105
Hi @jesutobi, @leilayesufu, @ifeawoyemi, @Lovelyfin00, @ijayhub, @dayopius, @belfarz, @sahilbansal17, @OluwatuyiAbiola, @adetyaz, @klaus139, @chemistry-notfun, @codeinvoke7, @Ibom99, @titiodus, @THEDARKMAN007, @abdelquodr, @albinazs, @ChiomaNwosisi, @mutmainaho, @obueto, @oluwatunbi, @Tammy-Ajoko, @leumasxxx, @haszankauna, @TaladeogoA, @Munnachienyi, @TomisinAjayi, @codeinvoke7, @Jennifer-tech, @R

[2022-10-10 22:16] #11463 closed

[2022-10-10 22:31] RealRichi3 opened #11464 "Error while adding GPG key for project installation in Windows subsystem for linux"
### Error while adding GPG key for project installation in Windows subsystem for linux

In the documentation on installing the project on Windows subsystem for Linux, while trying to add the GPG keys, running `gpg2 --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3 7D2BAF1CF37B13E2069D6956105BD0E739499BDB` .
This returns an errror `Command gpg2 not found`

Here is a snapshot of the error
![image

[2022-10-10 22:33] RealRichi3 commented on #11464
I would like to take this issue

[2022-10-10 22:39] FrancoFrancis commented on #11052
Hello @TildaDares  can I go ahead to contribute to this issue? THANKS

[2022-10-10 23:02] segun-codes commented on #11105
Hi @TildaDares, I think one step is missing in the section "Standard Installation" (on https://github.com/publiclab/plots2/blob/master/README.md), I couldn't get the plot2 app running on gitpod without the step. Is it okay, I take that up as an issue and fix same?

[2022-10-10 23:08] Mootconn commented on #11105
Hi @TildaDares I would like to be assigned an issue. Thanks!

[2022-10-10 23:15] TildaDares commented on #11105
Hi @segun-codes, can you open an issue for that with a brief description of the change you want to make? Thanks!

[2022-10-10 23:18] segun-codes commented on #11105
Okay, thanks.

[2022-10-10 23:58] segun-codes opened #11466 "Update ReadMe.md file to include a missing installation step"
As observed by the contributor iIlyShelly (https://github.com/publiclab/plots2/issues/10844#issuecomment-1083480321) and also confirmed by me during setup, step 10 in the ReadME.md file should be preceded by running the command "bundle exec rake webpacker:install" (or alternative with similar effect) otherwise errors related to _webpack_ and _manifest.json_ are returned. To avoid wasting time tryi

[2022-10-10 23:59] xiaodaiweiwei commented on #5366
I'm going to try on solving this issue today.

[2022-10-11 00:06] segun-codes commented on #11105
@TildaDares I have now opened an issue as advised. Here is it _Update ReadMe.md file to include a missing installation step #11466_

[2022-10-11 00:34] ayeolakenny commented on #11466
can this issue be assigned to me pls?

[2022-10-11 00:37] ayeolakenny commented on #11105
Hi @TildaDares can I get assigned to a task? Thank you.

[2022-10-11 01:21] Achele commented on #11105
Hello @TildaDares , I'm  an Outreachy applicant. I'd like an FTO issue to work on

[2022-10-11 01:21] xiaodaiweiwei commented on #11466
I can have a try on this issue.

[2022-10-11 01:45] onujoy14 commented on #11105
Hello @TildaDares, I'll like to be assigned to an issue. I'm an Outreachy applicant

[2022-10-11 02:01] olamideazeez commented on #11105
Hello @TildaDares, I'll like to contribute as a first timer, i am an Outreachy applicant

[2022-10-11 03:19] victory-lydia commented on #11105
Hello, @TildaDares, I'll like to contribute as a first timer, I am an outreachy applicant.

[2022-10-11 05:55] TildaDares commented on #11466
Hi @segun-codes, that is a brilliant observation. I don’t think everyone encounters that error so what you should do is instead of adding it as a step, we can say something along the lines of

“If you have the following error, then do this.”

That wording can be better refined though.

Thank you!

[2022-10-11 05:56] Ceejaycodez commented on #11105
Hi @TildaDares. I'll be leaving the comment here waiting to be assigned an issue. Thanks

[2022-10-11 06:00] TildaDares commented on #11105
Hi @ayeolakenny, looks like you have worked on a `first-timers-only` issue before. You can try helping others who are just making their first contribution or find another issue without the `first-timers-only` label. Thank you!

[2022-10-11 07:09] Sally-N commented on #11105
Hi @TildaDares , I'm from outreachy, I'd like to contribute as a first timer

[2022-10-11 07:28] AndroGenius-codes commented on #10796
Thank you

[2022-10-11 07:41] sharon-kathambi commented on #11105
Hello @TildaDares , I'm an Outreachy applicant, I'd like to contribute as a first Timer

[2022-10-11 07:57] victorvictoria-maker commented on #11105
Good day @TildaDares, I'm one of Outreachy's applicants. I would like to contribute as a first-timer on this project. Thank you.

[2022-10-11 08:14] Kemmie001 commented on #11105
Hello @TildaDares, I am an outreach applicant, I would like to contribute as a first-timer on this project. Thank you.

[2022-10-11 08:48] Jolah1 commented on #11105
Hi @TildaDares, I am an outreachy applicant, I would like to contribute as a first-timer on this project.
Thank you.

[2022-10-11 08:57] M0Hassan commented on #11105
Hi @TildaDares, I am an Outreachy applicant and a first-timer. I would like to be assigned an issue. Thank you.

[2022-10-11 09:06] victorvictoria-maker commented on #11105
Hello @TildaDares. I am a first-timer. I would be glad if a task is assigned to me.
Victoria Victor, Outreachy applicant.

[2022-10-11 09:08] julianavmgiusti commented on #11105
@TildaDares Hi! Would like to contribute with an issue as outreachy applicant.

[2022-10-11 09:12] fonkwe commented on #11105
Hi @TildaDares,
I'm an Outreachy applicant. Kindly help out on how I can get assigned to an issue.

[2022-10-11 09:14] AndroGenius-codes opened #11467 "gitpod installation guide"
[publiclabplots2_ a collaborative knowledge-exchange platform in Rails; we welcome first-time contributors!.webm](https://user-images.githubusercontent.com/70571088/195048814-7c9fbbcd-7624-4469-87e3-c774e0b26f76.webm)

**-I am already logged into to gitpod but as a first timer you need to first sign up or login. i recommend logging in with your github account.

-ask your questions in the comment s

[2022-10-11 09:24] AndroGenius-codes commented on #11467
@TildaDares i didn't know how to attach this to issue #10844 but it's a contribution to it

[2022-10-11 09:27] Tammy-Ajoko commented on #11467
I wasn't able to get any audio, don't know if it's from my side or yours

[2022-10-11 09:33] AndroGenius-codes commented on #11467
Do you think the recording needs audio for better understanding let me see if I can make it better

[2022-10-11 10:02] tolubishops0 commented on #11105
Hello Tilda,
I am an outreachy applicant, kindly help me out to get started

[2022-10-11 10:22] RealRichi3 commented on #11105
Hello @TildaDares  how can i add tags to an already created issue, I created an issue #11464  for a missing installation step in the README

[2022-10-11 10:25] fonkwe commented on #11105
Hello @TildaDares , I just made my first PR: https://github.com/publiclab/Leaflet.DistortableImage/pull/1110

[2022-10-11 10:40] THEDARKMAN007 commented on #11105
Hi @TildaDares i just made my first pull request at https://github.com/publiclab/Leaflet.DistortableImage/pull/1099

[2022-10-11 11:04] maryojo commented on #11105
Hi @TildaDares , I'm an Outreachy applicant and I would like to contribute to an FTO issue. Thank you!

[2022-10-11 12:22] ForJessicaSake commented on #11105
Hi @TildaDares I'm an Outreachy applicant and I'd like to be assigned to an issue please

[2022-10-11 13:01] Emenyi95 commented on #11105
Hello @TildaDares i'll like to contribute to the first timer projects. Thank you.

[2022-10-11 13:02] ChiomaNwosisi commented on #11105
Hello @TildaDares , I just made my first PR: https://github.com/publiclab/Leaflet.DistortableImage/pull/1109

[2022-10-11 13:13] TildaDares commented on #11052
Hi @FrancoFrancis, @NPDebs is already working on this. Maybe you could ask them if they need assistance.

[2022-10-11 13:28] TildaDares commented on #11467
This is really helpful @AndroGenius-codes. Thank you!

You can post it as a comment in the installation issue and also post it in the community chat so that everyone can benefit from it.

Great work!!

[2022-10-11 13:32] FrancoFrancis commented on #11052
ok thanks

[2022-10-11 13:34] FrancoFrancis commented on #11052
@NPDebs do you need some help?

[2022-10-11 14:07] Ceejaycodez commented on #11105
Hi @TildaDares. I am an outreachy applicant. Are there any unclaimed FTO's currently that I can contribute to?

[2022-10-11 14:25] JulianaSau commented on #11105
Hi @TildaDares , I am an outreachy applicant and would like to work on an issue

[2022-10-11 15:41] AndroGenius-codes commented on #9600
https://github.com/publiclab/plots2/issues/11467#issuecomment-1274687817
Installation guide

[2022-10-11 15:42] AndroGenius-codes commented on #9600
https://github.com/publiclab/plots2/issues/11467

[2022-10-11 18:28] Tkwenan commented on #11467
@AndroGenius-codes , @TildaDares I'm having some issues while trying to log in. I'm getting the following error: There is nobody in our system by that name, are you sure you have the right username?

[2022-10-11 20:57] Simplecodez commented on #11105
Hi, I am Emmanuel Elendu, an Outreachy applicant.

[2022-10-11 21:11] ChiomaNwosisi commented on #11105
Sorry @TildaDares I'm just confused about the whole process please could
you explain to me what I should do now that I have finished my first issue,
am I suppose to work on more or help other people with their first issue.

—

On Tue, Oct 11, 2022, 9:57 PM Simplecodez ***@***.***> wrote:

[2022-10-11 23:23] jywarren commented on #11467
Hi @Tkwenan you should be able to use "admin" and "password" in development mode by default.

Thank you so much @AndroGenius-codes - this is wonderful!

[2022-10-11 23:56] alexanderchosen commented on #11105
Good day @TildaDares I am an outreachy applicant. Please is there any FTO issue to contribute to? I'd really appreciate it

[2022-10-12 00:05] thenextxchapter commented on #11105
Hello @TildaDares I am an Outreachy applicant and I'd like to work on an issue. Thanks

[2022-10-12 00:27] damli40 commented on #11105
Hey, I’m a first timer and I’ll like to get an issue

[2022-10-12 01:30] RealRichi3 opened #11470 "[Help wanted] Error while setting up React, Rail webpacker"
### Error in terminal while setting up React and Rail webpacker for Project Standard installation
For the standard installation, I tried running `rails webpacker:install && rails webpacker:install:react && rails generate react:install`

This is the error i get
[code]

### Browser, version, and operating system
Windows Subsystem for Linux  (Ubuntu - 18.04)

## Thank you!

[2022-10-12 01:38] RealRichi3 opened #11471 "[Help wanted] Navigating to localhost:3000 after setting up server throws an error"
### Navigating to localhost:3000 after setting up server throws an error
For the standard installation, I started the server using `passenger start`, but when i navigate to http://localhost:3000 it shows an error

![image](https://user-images.githubusercontent.com/76791916/195228860-b6355db3-75ca-41d0-85ea-e7b2cabfec07.png)

I already tried `yarn install` inside the project directory but it still

[2022-10-12 02:09] liliyao2022 commented on #11105
Dear @Tilda, I'm Lili Yao, an Outreachy applicant, I'd like to contribute as a First Timer. Thanks!

[2022-10-12 02:51] Frank-Cisca commented on #11105
Hello @TildaDares
I'm an outreachy applicant and I'd love to contribute/work on an issue as a first timer. Kindly help me out on this. Thanks.

[2022-10-12 02:54] Frank-Cisca commented on #11105
Hello @TildaDares
I am an Outreachy applicant and I'd love to contribute/work on an issue as a first timer. Kindly help me out with this. Thanks!

[2022-10-12 03:11] Alwoch commented on #11105
Hello @TildaDares , outreachy applicant here, I'd like to try out a first timer's issue please

[2022-10-12 07:06] sainamercy commented on #11105
Hi, @Julietadeboye issue #474 has been reserved for you. Please check it out.
If you bump into challenges, feel free to reach out.

[2022-10-12 07:26] oryxwhite commented on #11105
Hello @TildaDares, I'm an Outreachy applicant and would love to contribute.

[2022-10-12 08:03] Jolah1 commented on #11470
Try navigating to your project folder before running the command, make sure your internet is stable while installing, you can try all this again, if your still get error, copy the error message nd paste on google search, that will help give you insight of what the problem is and what you should do.
I hope this helps

[2022-10-12 08:45] Julietadeboye commented on #11105
I will like to claim this issue

[2022-10-12 08:54] sainamercy opened #11472 "Replace '.click()' with '.trigger("click")'"
### 💡 First Timers Issue Only
---
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as

[2022-10-12 08:55] xiaodaiweiwei commented on #11471
Can I try on this issue? Thank you.

[2022-10-12 08:55] sainamercy commented on #11472
@TildaDares please review if this is a viable issue

[2022-10-12 09:08] AndroGenius-codes commented on #11467
Have you been able to login now?

[2022-10-12 09:08] AndroGenius-codes commented on #11467
Happy to help

[2022-10-12 09:25] Chelsofia commented on #11105
Hi @TildaDares I'm an outreachy applicant and looking forward to getting an issue.

[2022-10-12 09:34] fonkwe commented on #11472
@TildaDares  Can i work on this?

[2022-10-12 09:37] Emenyi95 commented on #11105
Hello @TildaDares . I will like to work on an FTO. Please can one be assigned to me?

[2022-10-12 09:51] RealRichi3 commented on #11471
No problem, i need help solving the issue

[2022-10-12 09:53] xiaodaiweiwei commented on #11471
Yes, I would try my best to solve that. Do I need to be assigned to this issue? Where could I find the exact place for the problem?

[2022-10-12 10:03] maryojo commented on #11472
@TildaDares I would like to work on this

[2022-10-12 12:13] davidarebuwa commented on #11105
Hi @TildaDares! Fellow outreachy applicant looking to work on some FTO issues

[2022-10-12 13:13] AndroGenius-codes commented on #11471
this happened to me previously because i missed a step. try opening a new work space and follow the steps one by one. in my case i think i didn't do the rake db:setup step after migrating the database. also pay close attention to the warnings you get during installation process.

[2022-10-12 14:44] AminMusah commented on #11105
@TildaDares Hi! Would like to contribute with an issue as outreachy applicant.

[2022-10-12 17:01] JeffyDave commented on #11105
Hi @TildaDares, please I am looking for a first timer issue to contribute as an outreachy applicant. Please can I be assigned to one?

[2022-10-12 18:07] Chinazaekpere-Ike commented on #11105
Heyy @TildaDares
I'm a first time and I'd like to contribute to an issue as an outreachy applicant

[2022-10-12 18:24] 7malikk commented on #11105
Hello, @TildaDares, I'm an Outreachy applicant and I'd like to contribute to public lab in any capacity. I'm a front-end web developer. I see you have a lot of applicants like me looking for FTOs, how can I make this process easier for you?

[2022-10-12 18:43] TildaDares commented on #11472
This is great @sainamercy. You made me learn about the difference between `click` and `trigger` https://stackoverflow.com/a/9666559/11953728. Thank you!

[2022-10-12 18:43] TildaDares commented on #11472
Hi @maryojo, please go ahead. Thank you!

[2022-10-12 19:03] sainamercy commented on #11472
Thank you @TildaDares. I also had to research before creating the issue. It feels great to learn new things and also be of help 😊

[2022-10-12 20:44] maryojo commented on #11472
Alright, I'd start working on it. Thanks @TildaDares

[2022-10-12 23:20] alexanderchosen commented on #11105
Good day @TildaDares I am Alexander, an outreachy applicant from Nigeria. I am an entry full-stack developer who is passionate about open-source contributions. Please is there any issue I can work on?
Thanks

[2022-10-13 01:17] NPDebs commented on #11052
@FrancoFrancis  I attempted it now, to get these screenshots. Have a look, please.

Thank you...

![Screenshot (283)](https://user-images.githubusercontent.com/105166953/195476415-eadadc86-df7c-4383-9071-09ee39affb25.png)
![Screenshot (284)](https://user-images.githubusercontent.com/105166953/195476428-87c202f8-b567-4bea-9833-ac734c7abd1d.png)
![Screenshot (286)](https://user-images.githubusercont

[2022-10-13 04:26] rsmith-github commented on #11105
Hi! I would be happy to work on an FTO issue.

[2022-10-13 04:32] ayeolakenny commented on #11105
Hello @TildaDares i would like to wok an FTO issue, could you add my name on the list, thanks

[2022-10-13 04:43] laskelly commented on #11105
Hi @TildaDares
I'll be glad if you add my name to the list for FTO. Thank you

[2022-10-13 06:08] FrancoFrancis commented on #11052
i think the community is the best place to have this conversation so other people can learn or help out too.

[2022-10-13 06:40] 7malikk commented on #11077
@TildaDares Hello, does this issue still need formatting, i would like to give it a go, my name has not been added to the list for those requesting for an issue

[2022-10-13 07:33] IvyJeptoo commented on #11105
Hello Tilda my name is Ivy and I am an Outreachy First Timer Applicant, kindly add my name to the the FTO list.
Thank you.

[2022-10-13 07:36] TildaDares commented on #11105
Hi @ayeolakenny, looks like you have worked on a first-timers-only issue before. You can try helping others who are just making their first contribution or find another issue without the first-timers-only label. Thank you!

[2022-10-13 07:40] TildaDares commented on #11105
Leaving one comment per contributor helps me track what names have not been added to the list. If you leave more than one comment, there's a chance that I'll miss names that have not been added. Spamming this issue with multiple comments does not mean you'll get an issue faster. As long as you've left a comment, we'll add your name to the list. Thanks everyone!

[2022-10-13 07:47] TildaDares commented on #11077
Hi @7malikk, yes go ahead. Thank you!

[2022-10-13 07:50] 7malikk commented on #11077
Alright @TildaDares , I'll get on it and ping you. Thank you!

[2022-10-13 08:03] Jem256 commented on #11105
Hey @TildaDares I am an outreachy applicant and I am looking for a FTO issue to contribute to

[2022-10-13 08:04] Emenyi95 commented on #11105
Hi @TildaDares . I have requested for an issue since yesterday and none has been assigned to me.

[2022-10-13 08:26] Julietadeboye opened #11473 "Replace var keyword with let/const"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-13 08:29] Onyi-X commented on #11105
Hi, I'm an Outreachy applicant. Looking foward to be assigned an FTO

[2022-10-13 08:31] TildaDares commented on #11473
Hi @Julietadeboye, thank you for opening this issue. Please take a look at this issue to know the required format for an FTO https://github.com/publiclab/plots2/issues/11472.

Thank you!

[2022-10-13 09:05] Julietadeboye commented on #11473
Hi @TildaDares  i made the necessary edits, thanks

[2022-10-13 09:47] TildaDares commented on #11077
You’re right @7malikk. I’ll close this now. Thank you!!

[2022-10-13 09:47] TildaDares commented on #11077
Resolved in #11133

[2022-10-13 09:47] #11077 closed

[2022-10-13 10:24] Teslimsama commented on #11105
Hey Ian outreachy applicant FTO I would like to assigned a task

[2022-10-13 10:42] RoleyJes commented on #11105
Hello, I'm Jessica, an Outreachy applicant. I'd love to be added to the list

[2022-10-13 11:20] 7malikk commented on #10744
Hello @TildaDares @jywarren, this issue is still open, but @Ash-KODES already worked on it [here](https://github.com/publiclab/plots2/pull/10782), the merge was blocked for some reason. I'd like to work on it if it is available

[2022-10-13 11:22] TildaDares commented on #11473
Thank you @Julietadeboye!

The link to the file is incorrect, do you think you could add the correct one? Thanks!

[2022-10-13 11:54] Julietadeboye commented on #11473
Thanks for pointing this out, the URL has been corrected @TildaDares

[2022-10-13 12:16] 7malikk commented on #5366
@xiaodaiweiwei  How is it going? did you get to solve it?

[2022-10-13 13:16] cesswairimu commented on #11416
Hi @ChiomaNwosisi this issue is already resolved and closed. Thanks

[2022-10-13 13:17] xiaodaiweiwei commented on #5366
It seems that I didn't get assigned to this issue.

[2022-10-13 13:40] hugochooqu commented on #11105
Hello @TildaDares i would like to wok an FTO issue, could you add my name on the list, thanks

[2022-10-13 13:42] hillaryCyn commented on #11105
Hello @TildaDares i would like to wok an FTO issue, could you add my name on the list, thanks

[2022-10-13 13:45] TildaDares commented on #11473
Reserved for @JosephSanya for 24 hours!

[2022-10-13 13:50] Josephsanya commented on #11473
Thank you @TildaDares
I'll start working on it now

[2022-10-13 13:53] SylviaKaks commented on #11105
hello, Am an applicant of Outreachy. I would like to get an FTO issue and contribute in any way i can

[2022-10-13 13:57] Julietadeboye commented on #11105
Hi, @Josephsanya issue [#11473](https://github.com/publiclab/plots2/issues/11473) has been reserved for you. Please check it out.

[2022-10-13 14:46] 7malikk commented on #5366
@xiaodaiweiwei from the looks of things you claimed this issue, I'd say you make a PR and begin work as you tag the mentors.
Just my thoughts

[2022-10-13 14:52] Josephsanya commented on #11105
Please kindly review my PR at #11476 @TildaDares
Thanks.

[2022-10-13 14:52] Josephsanya commented on #11105
Thank you @Julietadeboye
I have submitted a PR which fixes the issue

[2022-10-13 15:08] 7malikk commented on #9533
Hello @TildaDares , @jywarren, I'd like to make a suggestion to clean up the unused labels and add descriptions to the ones in use.
From my observation, labels like:
add-code-links is in use but has no description among others
some are not in use at all, such as hacktoberfest-accepted, meanwhile, there's already a hacktoberfest label

What are your thoughts?

[2022-10-13 15:08] Natacha-Danbadan commented on #11105
Hi everyone, I'm Natacha, an Outreachy Applicant and I would loved to be assigned an FTO @TildaDares. Thanks.

[2022-10-13 15:15] aweSAM-XS commented on #11105
Hi @TildaDares,
I'm a first timer and an Outreachy applicant. Kindly add me to the list. Thank you.

[2022-10-13 15:51] #11473 closed

[2022-10-13 16:00] cesswairimu commented on #11417
hi @Emenyi95, reserving this for you. Please  do let me know if you have another FTO and we can reassign this. Thanks

[2022-10-13 16:09] Emenyi95 commented on #11417
Thank you very much Sir Cess. I’m very grateful

On Thu, 13 Oct 2022 at 17:00 Cess ***@***.***> wrote:

[2022-10-13 16:10] Emenyi95 commented on #11417
Thank you @cesswairimu i do not have any other FTO assigned to me so I am claiming this. Thank you.

[2022-10-13 17:03] Dhei-vid commented on #11105
Hey my name is David and I am an outreachy applicant, and I am new to contributing to open source. Kindy add me to the list. Thank you.

[2022-10-13 17:11] hillaryCyn commented on #11105
hello, Am an applicant of Outreachy. I am new to open source issue and i would like  contribute in any way i can. @TildaDares

[2022-10-13 17:40] 7malikk commented on #9533
Hello again, @cesswairimu Thank you for your feedback, here is one of the issues I'm interested in

[2022-10-13 17:43] #11464 closed

[2022-10-13 18:01] cesswairimu commented on #9533
@7malikk thanks for your interest: some labels are seasonal like `hacktoberfest-accepted` which we use during hacktoberfest to mark a pull request as accepted. Maybe you could start by going through and listing the ones we haven't used at all?.  And just noting since this is an edit labels one and no code change needed, you may not be able to record this as a contribution on outreachy.

[2022-10-13 18:04] 7malikk commented on #9533
@cesswairimu Thank you so much for your feedback, I'll list them out right away, I also linked you to a code-related issue I am interested [here](https://github.com/publiclab/Leaflet.DistortableImage/issues/1130), I look forward to your feedback to that as well.

[2022-10-13 18:43] RealRichi3 commented on #11446
Hi @TildaDares, I'm trying to create a first time issue for others to work on, how to i add the code snippet just the way you did, it should also have the red and green lines too

[2022-10-13 18:48] 7malikk commented on #11446
@RealRichi3 Hello, make use of the FTO template [here](https://github.com/publiclab/Leaflet.DistortableImage/blob/main/.github/ISSUE_TEMPLATE/--first-timers-issue-template.md)
If you run into any issues, ping me, I'll be glad to help

[2022-10-13 19:02] cesswairimu opened #11478 "refine gnupg2 install step"
Follow up for: https://github.com/publiclab/plots2/pull/11465

## todo:
 Update https://github.com/publiclab/plots2/blob/main/README.md#windows-installation where we have `sudo apt install gnupg2` to  :

"Install gnupg2 if you haven't already with:  `sudo apt install gnupg2`"

[2022-10-13 19:02] RealRichi3 opened #11479 "Add conditional installation guide for gnupg2 in README.md"
This issue is a continuation for issue #11464

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and hel

[2022-10-13 19:03] 7malikk commented on #11478
@cesswairimu i'd like to claim this task

[2022-10-13 19:04] cesswairimu commented on #11478
great, go ahead

[2022-10-13 19:04] 7malikk commented on #11478
@cesswairimu Alright, thank you, can I convert it to an FTO and take up the task?

[2022-10-13 19:05] 7malikk commented on #11478
Oh, i think @RealRichi3  already has, i'll take up the task then. Thank you

[2022-10-13 19:06] 7malikk commented on #11479
@cesswairimu Here, I'd like to take this task

[2022-10-13 19:07] cesswairimu commented on #11479
go ahead @7malikk ,  thanks you both

[2022-10-13 19:07] #11478 closed

[2022-10-13 20:25] segun-codes commented on #11105
Hi @TildaDares my PR 11468 is still waiting on your review, could you kindly attend to it (here https://github.com/publiclab/plots2/pull/11468). Many thanks...

[2022-10-13 20:44] 7malikk commented on #11105
Hello, @TildaDares, and @cesswairimu, kindly review my PR at [#11480](https://github.com/publiclab/plots2/pull/11480)
Thank you as i anticipate your feedback

[2022-10-13 21:26] segun-codes commented on #11466
Hi @TildaDares, I observed that in a later version of the ReadMe.md file someone else had already implemented a pull request to address the issue I raised. It appears it was an older version of the README.md file that I was looking at when I generated the issue otherwise, I wouldn't have need to raise the issue in the first place.

[2022-10-13 21:55] TildaDares commented on #11466
It’s good you caught that @segun-codes. I think you can close this issue now.

Thank you!

[2022-10-13 22:41] 7malikk commented on #9533
@cesswairimu @jywarren @TildaDares
## Here is a list of the unused labels:

- `add-code-links`
- `beginner` and `easy` i suggest we keep one
- `fto-in-progress` i believe `assigned` or `fto-candidate` perform a similar function
- `gci-candidate` and `reserverd-for-gci`, do they fall into the seasonal labels?
- `readytomerge`, `ready-for-review` plays the same role
- `unassigned`

These are most of

[2022-10-13 22:53] segun-codes commented on #11466
Okay

[2022-10-13 22:55] #11466 closed

[2022-10-13 22:56] MARVEBUKA commented on #11105
hi @TildaDares . first timer from outreachy here. I would love to work on a FTO issue. thanks in advance.

[2022-10-14 02:18] Josephsanya opened #11481 "Replace var keyword with let/const"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-14 02:21] RealRichi3 commented on #11446
Thanks @7malikk, already found a way tho

[2022-10-14 05:31] JulianaSau commented on #11481
Hi @cesswairimu, I'd like to work on this issue

[2022-10-14 06:27] TildaDares commented on #11481
Hi @JulianaSau, please go ahead. Thank you!

[2022-10-14 06:30] TildaDares commented on #11446
Reserved for @IdayatSanni for 24 hours!

[2022-10-14 06:30] JulianaSau commented on #11481
Thank you. I'll send in a PR for it soon😁

[2022-10-14 06:31] TildaDares commented on #11105
Hi @IdayatSanni, there’s an issue reserved for you in #11446.

[2022-10-14 07:19] Dhei-vid commented on #11446
@TildaDares is there anything I could work on?

[2022-10-14 07:52] Sniffr commented on #11481
@TildaDares  Hi i would like to do this

[2022-10-14 09:28] AryaCollection commented on #11105
Hi @TildaDares, I am a first timer from Outreachy. I would like to be assigned a FTO issue.

[2022-10-14 09:33] emmyclef commented on #11105
Hello @TildaDares , I am an html, css and javscript developer from outreach looking to work on a FTO issue

[2022-10-14 10:19] wangyujie123 commented on #10306
Hi, @cesswairimu can I work on this issue please?

[2022-10-14 10:35] Emmanuel-Lud commented on #11105
Hi @TildaDares , I'm a first timer from outreachy. I would love to work on a FTO issue.

[2022-10-14 12:10] RealRichi3 commented on #11471
Alright, thanks

[2022-10-14 14:33] #11417 closed

[2022-10-14 16:40] AndroGenius-codes commented on #10796
@PeculiarE i was able to replicate this error in the main publiclab.org website but i couldn't do the same for my local environment. There are no posts and comments on my local environment and i can't create either. I am assuming this is because I have no access to the backend. Is that correct?

[2022-10-14 17:39] IdayatSanni commented on #11446
Hello @TildaDares Yes I will work on it. thank you

[2022-10-14 17:45] cesswairimu commented on #11479
resolved in https://github.com/publiclab/plots2/pull/11480

[2022-10-14 17:45] #11479 closed

[2022-10-14 19:08] AdityaVerma32 commented on #11481
Hello, Can I work on it?

[2022-10-15 00:18] boluwatifee commented on #11105
Hello, I'm a first timer and an Outreachy applicant. I would like to be assigned a FTO issue @TildaDares

[2022-10-15 01:35] THEDARKMAN007 opened #11485 "Reset background image to fit container"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-15 01:38] THEDARKMAN007 commented on #11485
Hello @jywarren @TildaDares @cesswairimu. this seems like a good first issue for new contributors. it's simply a CSS change to make the image fit its container and I have also hinted at what code would carry out the desired change. i would love to get your review on it. thank you very much

[2022-10-15 06:53] TildaDares commented on #11485
Hi @THEDARKMAN007, thank you for opening this issue. The image looks stretched in the image above after correction. Can you try this CSS on the background-image and let's compare?
[code]

Thank you!

[2022-10-15 07:32] #11472 closed

[2022-10-15 07:56] TildaDares opened #11486 "Remove extra plus signs from code"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-15 07:56] TildaDares commented on #11486
Reserved for @Tkwenan for 24 hours!

[2022-10-15 07:57] TildaDares commented on #11105
Hi @Tkwenan, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11486 for 24 hours. Thanks!

[2022-10-15 08:49] Josephsanya opened #11487 "Replace the var with let"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-15 08:54] TildaDares commented on #11487
Hi @Josephsanya, thank you for opening this issue. `const` should be `let` instead.

[2022-10-15 08:56] TildaDares commented on #11487
Reserved for @Divine-peace

[2022-10-15 08:56] Josephsanya commented on #11487
Okay
Thank you @TildaDares
I've corrected it

[2022-10-15 09:06] sanmay321 commented on #11487
@Josephsanya hey i would like to do it, assign me please.

[2022-10-15 09:10] Josephsanya commented on #11487
It has been reserved for someone else
Kindly submit your name to the list so that you'll be assigned soon

[2022-10-15 09:16] sanmay321 commented on #11487
what should I do for submitting my name to the list..?

[2022-10-15 09:20] Josephsanya commented on #11487
https://github.com/publiclab/plots2/issues/11105

[2022-10-15 09:21] Josephsanya commented on #11487
Leave a comment there and your name will be added to the list

[2022-10-15 09:26] sanmay321 commented on #11105
Hello, I'm a first-timer and I'd love to work on something! please add me to the list.

[2022-10-15 10:04] 7malikk commented on #11105
@Divine-peace an FTO has been reserved for you [here](https://github.com/publiclab/plots2/issues/11487), kindly claim it within the next 24hours

[2022-10-15 10:50] Josephsanya commented on #11481
@JulianaSau
You haven't worked on this issue ?
Please let us or the mentors know if you have any issue

[2022-10-15 11:02] lizwe-mac commented on #11105
Hi @TildaDares
I'm a first timer looking for an FTO. I'm an entry level software developer with ample knowledge in the MERN stack

[2022-10-15 11:33] AdityaVerma32 commented on #11481
I haven't worked on this issue but I want to
 .

[2022-10-15 11:55] lizwe-mac commented on #11105
Hi @TildaDares
I'm a first timer looking for a FTO. I'm an entry level full stack developer with ample skills in the MERN stack.

[2022-10-15 11:56] AdityaVerma32 commented on #11481
I have submitted the push request plz review it and also add hacktoberfest tag with it

[2022-10-15 11:58] TildaDares commented on #11481
Hi @AdityaVerma32, someone is already working on this issue. You can request for an issue here #11105

[2022-10-15 12:05] AdityaVerma32 commented on #11105
Hello @TildaDares , I would love to work on FTO issue. Plz Add me the list.

[2022-10-15 13:04] TechieTee commented on #11105
Hello @TildaDares, my name is Modupe, and I am an outreachy applicant, I will like to make my first contribution to open source. Kindly add me to the list to be able to make my first. Thank you and weldone.

[2022-10-15 13:10] Chinazaekpere-Ike commented on #11486
I'd like to claim this issue 🤗

[2022-10-15 13:39] TechieTee commented on #11486
please can you assign me a fto issue @TildaDares? Thank you and weldone.

[2022-10-15 14:47] THEDARKMAN007 commented on #11485
okay @TildaDares

[2022-10-15 14:51] Divine-peace commented on #11487
I claimed it because I would like to work on it

[2022-10-15 17:07] THEDARKMAN007 commented on #11485
@TildaDares  pls i need your help, am having problems setting up the plot2 website. the contents of the website is incomplete with the image missing. i did this change using developer tools but on the actual website. thanks

[2022-10-15 17:08] THEDARKMAN007 commented on #11485
i run it on gitpod, i follow the installation instructions and after that i log in usinng the provided username and password, but there is still no effect, most of the HTML contenets are missing including the picture corrected

[2022-10-15 21:04] THEDARKMAN007 commented on #11485
hi @TildaDares, after running the plot2 project on gitpod and logging in. the image of the website is absent.

[2022-10-15 21:17] LynetteMwe commented on #11105
Hello, @TildaDares.
I'm a first-timer and would be glad to work on an FTO issue. Kindly add me to the list.

[2022-10-15 21:56] faithybest commented on #11105
Hello @TildaDares, I‘m an Outreachy applicant. I am interested in working on FTO issue.

[2022-10-15 23:46] Chelsofia commented on #11485
Hi @TildaDares I would like to work on this issue.

[2022-10-16 00:26] lizwe-mac commented on #11481
Hi, may I be assigned to this issue?

[2022-10-16 01:49] Tkwenan commented on #11486
@TildaDares I've claimed the issue. Thanks!!

[2022-10-16 02:48] Frank-Cisca commented on #11105
Hello @TildaDares
I am an Outreachy applicant. Please I left a comment since on an FTO issue to work on and I haven't gotten any reply yet. Kindly help me out with this. Thanks!

[2022-10-16 07:50] TildaDares commented on #11485
Hi @THEDARKMAN007, you have to create a blog post with an image to test this. All you have to do is create a note with a `blog` tag.

[2022-10-16 09:09] cesswairimu commented on #11470
@RealRichi3 were you able to resolve the issue? like @Jolah1 mentiones, its seems to be an internet connection prob

[2022-10-16 09:14] RealRichi3 commented on #11470
I wasn't able to fix it, it showed the same thing

[2022-10-16 09:15] RealRichi3 commented on #11470
I tried using gitpod too, i had issues setting it up. I'll try again today and give feedback

[2022-10-16 09:16] cesswairimu commented on #11471
hi @RealRichi3,  which error is being displayed on the terminal? Please share. Also I saw another issue on setup, please raise  any further installations  issues in [this installation discussion issue]( https://github.com/publiclab/plots2/issues/10844) also you might find the solutions to most of the issues there.  Thanks

[2022-10-16 10:01] first-timers[bot] opened #11490 "Fix "click to unfollow is not working in /tag section""
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-16 10:01] cesswairimu commented on #11490
Reserving this for @Marvisjaja

[2022-10-16 10:02] cesswairimu commented on #4406
Converted this to an fto https://github.com/publiclab/plots2/issues/11490. Closing this. Thanks all

[2022-10-16 10:02] #4406 closed

[2022-10-16 10:18] cesswairimu commented on #11424
Hi @banjo-tech and @Favour-Cay is any of you an Outreachy applicant and haven't been assigned first-timer issue yet? If so, please leave a comment and you can claim this, the previous assignee had already worked on a FTO and has freed this. Thanks

[2022-10-16 10:25] akashthedeveloper commented on #11424
Hii @cesswairimu I am outreachy applicant too can you assign me this issue.

[2022-10-16 12:00] cesswairimu commented on #11424
Hi akashthedeveloper, sure, go ahead. Thanks

[2022-10-16 12:30] first-timers[bot] opened #11492 "batch-controller rubocop fixes"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-16 12:31] cesswairimu commented on #11492
@IvyJeptoo reserving this for you

[2022-10-16 12:49] first-timers[bot] opened #11493 "rubocop fixes - csvfiles controller"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-16 12:50] cesswairimu commented on #11493
hi @victory-lydia, reserving this for you

[2022-10-16 16:45] #11446 closed

[2022-10-16 20:06] Natacha-Danbadan opened #11494 "Accessibility"
This issue aims to improve the accessibility of the html pages (Semantic HTML) and fix the position of the scripts to Keep up with best practices. This to enable web crawlers and users in general to be able to access the site's content regardless of a user's impairment. For example  replace the nav tag with the header tag, have a main tag in all  html  files, position the script tag inside of the

[2022-10-16 20:13] Sangresz commented on #11493
I would like to try this! :D

[2022-10-16 21:07] victory-lydia commented on #11493
Thanks I claim this issue

[2022-10-17 00:11] liliyao2022 commented on #11494
Hi, I'd like to try.

[2022-10-17 00:20] liliyao2022 commented on #11494
[Replaced the nav tag with the header tag.](https://github.com/publiclab/plots2/pull/11495)

[2022-10-17 01:59] THEDARKMAN007 commented on #11485
@TildaDares, THANK YOU. that CSS code is a much better fix. I referenced it in the issue.
pls, could you review it.

[2022-10-17 05:42] banjo-tech commented on #11424
Hi @cesswairimu I'm an outreachy applicant and I would like to work on this

[2022-10-17 05:46] SylviaKaks commented on #11490
i request to work on this issue @TildaDares

[2022-10-17 05:57] EricaP451 commented on #11105
Hi @TildaDares, I am an  Outreachy applicant and it is my first time contributing to open source. I am excited to be assigned a FTO issue and make my contribution. Thank you.

[2022-10-17 06:47] first-timers[bot] opened #11497 "rubocop fixes: talk-controller"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-17 06:48] cesswairimu commented on #11497
hi @Teslimsama, this is reserved for you for 24hrs.

[2022-10-17 06:57] first-timers[bot] opened #11498 "rubocop fixes - spam2_controller"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-17 06:57] vareenrose commented on #11105
Hi @TildaDares I am an Outreachy applicant and I would love to get an FTO

[2022-10-17 06:57] cesswairimu commented on #11498
Reserved for @JeffyDave for 24hrs

[2022-10-17 07:07] vareenrose commented on #11494
I'd like to do this for the rest of the html files

[2022-10-17 07:13] first-timers[bot] opened #11499 "rubocop fixes - home controller"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-17 07:14] cesswairimu commented on #11499
hi @Dorcas-BD, are you an Outreachy applicant? if so, feel free to claim this

[2022-10-17 07:27] first-timers[bot] opened #11500 "interpolate redirect path- search-controller"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-17 07:28] cesswairimu commented on #11500
hi @davidarebuwa,  reserving this for you.

[2022-10-17 07:28] first-timers[bot] opened #11501 "Update settings_controller.rb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-17 07:29] cesswairimu commented on #11501
hi @Chinazaekpere-Ike, this one is reserved for you

[2022-10-17 07:32] IvyJeptoo commented on #11105
Hello @TildaDares I have seen a tick on my name meaning I have been allocated an FTO, How do I get to see the allocation since it has not been tagged under my comment.

[2022-10-17 07:36] cesswairimu commented on #11105
hi @IvyJeptoo, here is the issue https://github.com/publiclab/plots2/issues/11492

[2022-10-17 07:42] Dorcas-BD commented on #11499
Yes, I am.

Thank you, I will work on thsi

[2022-10-17 07:43] IvyJeptoo commented on #11492
Working on it. Thank you @cesswairimu

[2022-10-17 08:09] TildaDares commented on #11485
Hi @THEDARKMAN007, please take a look at this issue https://github.com/publiclab/plots2/issues/11497 to know the expected format of an FTO. Thank you!

[2022-10-17 08:38] first-timers opened #11502 "replace "and" with "&&" editor-controller"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-17 08:39] cesswairimu commented on #11502
reserved for @alexanderchosen

[2022-10-17 08:55] adetyaz commented on #10665
Hello @TildaDares I'd like to work on one of these issues. I already worked on a FTO.
PS. I'm an outreachy applicant

[2022-10-17 09:18] first-timers[bot] opened #11504 "Invert negation in if/else- relationships_controller"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-17 09:18] cesswairimu commented on #11504
hi @Dhei-vid, reserving this for you

[2022-10-17 11:18] Natacha-Danbadan commented on #11494
Hi, the issue has'nt been approved yet.

[2022-10-17 11:23] onireke commented on #11105
Hello, @TildaDares I would like to work on the FTO issue. Please, kindly add me to the list.
Thanks a lot!

[2022-10-17 11:23] onireke commented on #11105
Hello, @TildaDares I would like to work on the FTO issue. Please, kindly add me to the list.
Thanks a lot!

[2022-10-17 12:01] IvyJeptoo commented on #11492
@cesswairimu I have finished working on the issue

[2022-10-17 12:26] Tonathe3rd commented on #11105
Hi! I'm a first timer and I'd love to work on something!
Please, Kindly add me to the list

[2022-10-17 12:34] adetyaz commented on #9637
@unnati914 Can i join you on #741 if it's assigned to you.

[2022-10-17 13:43] Tishly commented on #11105
Hello @TildaDares, I'm an Outreachy applicant. I would appreciate being assigned an FTO issue to work on. Thank you.

[2022-10-17 15:26] Dorcas-BD commented on #11499
Hi @cesswairimu, please check my pull request. I did exactly what I was as to do but the test failed. Please do you have any suggestions on how to go about it?

[2022-10-17 18:23] Teslimsama commented on #11497
Thanks

[2022-10-17 21:36] THEDARKMAN007 commented on #11485
hi @TildaDares  @jywarren  my apologies, misunderstood what u said. I used the template as referenced. pls, could you review it and let me know if it's alright.

[2022-10-17 22:07] HM-8 commented on #11502
Would like to work on this issue.

[2022-10-17 23:44] Favour-Cay commented on #11424
omg im just seeing this @cesswairimu is there another free FTO i can work on pls

[2022-10-18 04:01] JeffyDave commented on #11498
I am claiming this issue, Thank you.

[2022-10-18 06:37] IvyJeptoo commented on #11492
hey @cesswairimu I have created a PR
Can I work on other issues?

[2022-10-18 06:39] IvyJeptoo commented on #11500
Can i work on the issue if it is not claimed? @cesswairimu

[2022-10-18 06:40] IvyJeptoo commented on #11497
@Teslimsama I can help you if you are stuck

[2022-10-18 06:41] IvyJeptoo commented on #11490
I would love to work on the issue if no one is

[2022-10-18 06:54] IvyJeptoo commented on #10744
is this issue available i'd love to work on it @jywarren @TildaDares

[2022-10-18 08:52] olofindamilola commented on #11502
Would like to work on this

[2022-10-18 09:30] Tonathe3rd commented on #11105
@TildaDares  Kindly help assign me to an FTO issue to work on. Thank very much

[2022-10-18 09:47] IvyJeptoo commented on #11498
anyone working on the issue i'd love to work on it?

[2022-10-18 09:54] IvyJeptoo commented on #11490
I claim the issue. working on it

[2022-10-18 13:12] JulianaSau commented on #11481
I've had some issues with my machine but will send in a PR today

[2022-10-18 14:43] cesswairimu commented on #11424
Hi @banjo-tech, seems @akashthedeveloper hasn't started on it yet, you can go ahead and work on this -- as you were the first to express interest , @Favour-Cay I will ping when I find one, thanks

[2022-10-18 14:50] banjo-tech commented on #11424
I will do that thank you

[2022-10-18 14:59] cesswairimu commented on #11490
hi @IvyJeptoo, we usually has a contributor work on one `first-timer-only` issue. Maybe can browse `bug` or `help-wanted` non first-timer issue and leave this for a first-timer contributor?
@SylviaKaks I see you are already working on https://github.com/publiclab/plots2/pull/11496 too, was there an issue for it? if so please link it to the pull request, if not you can create one and paste the link

[2022-10-18 15:15] cesswairimu commented on #11497
@Teslimsama the changes to make are displayed in this issue, the lines highlighted in red are what to remove and green what to add

[2022-10-18 15:19] cesswairimu commented on #11490
@Favour-Cay you can claim this one

[2022-10-18 16:52] Phenomenal020 commented on #11502
Would like to work on this issue

[2022-10-18 18:40] JeffyDave commented on #11498
I am but we could work together on it.

[2022-10-19 06:29] TildaDares commented on #11485
Hi @THEDARKMAN007, this looks good. Can you also the line numbers like in this issue #11481? Thank you!

[2022-10-19 07:00] Augusta2 commented on #11105
Hello @TildaDares Can you please assign me to an issue?

[2022-10-19 07:31] IvyJeptoo commented on #11498
yeah sure let me know the exact time you are working on it so that I can reach out

[2022-10-19 07:52] JeffyDave commented on #11498
Definitely, we will get started soon

[2022-10-19 08:10] IvyJeptoo commented on #11498
we can do it at 12pm WAT if youu are available

[2022-10-19 08:13] JeffyDave commented on #11498
Are you Nigerian?
Also I have a class by 12, any time from 3 is perfect for me.

[2022-10-19 08:14] IvyJeptoo commented on #11498
No,
I am Kenyan,
Okay pick a time from 3 and let me know

[2022-10-19 08:31] charmilahruthika commented on #11502
is it stil open? would like to try this!

[2022-10-19 08:40] charmilahruthika commented on #11501
is it open? i would like to claim

[2022-10-19 08:42] banjo-tech commented on #11424
@cesswairimu  I have made the changes to the first file and created a pull request.
However, I can't do the same to the second file because" assert_equal "Success! Thank you for contributing open research, and thanks for your patience while your post is approved by <a href='/wiki/moderation'>community moderators</a> and we'll email you when it is published. In the meantime, if you have more to con

[2022-10-19 08:43] charmilahruthika commented on #11105
hey @TildaDares can you please assign me to a FTO issue ?

[2022-10-19 10:35] Wafa9 commented on #11105
Hello, I'm a first timer and an Outreachy applicant. I would like to be assigned a FTO issue @TildaDares

[2022-10-19 10:55] prius2055 commented on #11500
Hi @cesswairimu. can I work on this issue

[2022-10-19 11:08] JeffyDave commented on #11498
3pm is perfect for me

[2022-10-19 11:31] #11481 closed

[2022-10-19 11:38] TildaDares commented on #11105
Hi @VictoriaAjala, FTOs are reserved for first-timers to this project. You can work on other issues without the `first-timers-only` label or choose to create issues for other people to work on. Thank you!

[2022-10-19 12:15] prius2055 commented on #11502
Hi @cesswairimu I noticed this has been assigned to someone. If the person isn't willing to take it up, I would like to attempt it

[2022-10-19 12:16] IvyJeptoo commented on #11498
Have you managed?

[2022-10-19 12:27] JeffyDave commented on #11498
Yes, I have been able to work on it, Thank you

[2022-10-19 12:57] jywarren commented on #10744
Hello all, we appreciate the help! How are you thinking of approaching this? Have you looked at https://github.com/publiclab/plots2/pull/10782 to see how that went? Thanks!

[2022-10-19 13:28] #9418 closed

[2022-10-19 14:01] safa-ismail commented on #11105
Hello @TildaDares I am an outreachy intern and first timer to this project. I have mid level experience in Html, Css and JS. I would like to be assigned on a FTO issue

[2022-10-19 16:37] Achele commented on #11105
Hello @TildaDares I have seen a tick on my name meaning I have been allocated an FTO, How do I get to see the allocation since it has not been tagged under my comment.

[2022-10-19 17:10] #11499 closed

[2022-10-19 17:24] cesswairimu commented on #11502
Hi all, it seems AlphaRomeoMike already created a PR https://github.com/publiclab/plots2/pull/11507 for this, the tests are failing maybe any of you  would like to help them on the pull request? thanks all

[2022-10-19 17:25] cesswairimu commented on #11500
Hi @prius2055, sure go ahead. thanks

[2022-10-19 17:30] cesswairimu commented on #11424
gotcha @banjo-tech, seems they have been some changes in the file.., its on line 313, could you please check. thanks

[2022-10-19 17:31] cesswairimu commented on #11501
hi @charmilahruthika, you applying for Outreachy? if so, go ahead. thanks

[2022-10-19 18:07] IvyJeptoo commented on #11502
I would like to help @cesswairimu

[2022-10-19 18:14] IvyJeptoo commented on #11490
Okay @cesswairimu sorry I didn't know that. Thanks for the direction

[2022-10-19 19:16] lizwe-mac commented on #11105
Hi @TildaDares I'm looking to work FTOs

[2022-10-20 01:09] prius2055 commented on #11500
Alright, thanks

[2022-10-20 02:31] prius2055 commented on #11500
@cesswairimu I have sent a pull request, please review

[2022-10-20 07:34] #11498 closed

[2022-10-20 07:46] TildaDares commented on #11105
Hi @tolubishops0, there is an issue reserved for you here https://github.com/publiclab/Leaflet.DistortableImage/issues/1146.

[2022-10-20 08:10] onireke commented on #11487
Hi @TildaDares please I am yet to be assigned a FTO the only I saw was that my comment was deleted. Kindly assist me. Thank you

[2022-10-20 08:15] onireke commented on #11486
Hi @TildaDares please I am yet to be assigned a FTO the only I saw was that my comment was deleted. Kindly assist me. Thank you

[2022-10-20 08:19] onireke commented on #11105
Hi @TildaDares please I am yet to be assigned a FTO the only thing
I saw was that my comment was deleted. Kindly assist me. Thank you!

[2022-10-20 08:22] banjo-tech commented on #11424
okay I will thank you

[2022-10-20 08:29] TildaDares commented on #11105
Hi @onireke, sorry about that. I deleted a duplicate of your comment so that there’s only a single copy of the comment.

[2022-10-20 08:58] IvyJeptoo commented on #10665
Hello @TildaDares I would also love to work on one of the issues. I've already worked on my FTO.

[2022-10-20 09:00] IvyJeptoo commented on #9637
Hello @cesswairimu is there an open issue you I can claim and work on?

[2022-10-20 09:14] samailamalima commented on #11501
Hi @cesswairimu and @TildaDares if this issue is still open will like to try it I'm an outreachy intern

[2022-10-20 09:58] xiaodaiweiwei commented on #11504
Can I try to solve this issue? Thank you!

[2022-10-20 11:56] Dhei-vid commented on #11504
@xiaodaiweiwei It's already be assigned.

[2022-10-20 12:23] Chelsofia commented on #11105
Hi @TildaDares  I still have no issue. And deadline is almost here. I'm an outreachy applicant.

[2022-10-20 12:27] RoleyJes commented on #11105
@TildaDares please, can I be assigned an issue?

[2022-10-20 15:52] JeffyDave opened #11522 "Styling of the footer to increase the UX"
I feel the footer of the publiclab.org website is a little bit out of style
We could add a background colour to it and maybe style the fonts

![Screen Shot 2022-10-20 at 4 19 25 PM](https://user-images.githubusercontent.com/106249556/196997191-fda21483-9c0d-47e5-8436-d21defa77946.png)

[2022-10-20 17:14] #11493 closed

[2022-10-20 17:16] TildaDares commented on #11493
Resolved in #11516

[2022-10-20 18:07] 7malikk commented on #11522
@TildaDares @jywarren I'd love to work on this if approved

[2022-10-20 19:40] samailamalima commented on #11105
Hi @TildaDares @jywarren  @cesswairimu, my name is Samaila Anthony Malima I'm an outreachy intern, and I would love to contribute to this project please how can I start?

[2022-10-20 20:21] TildaDares commented on #11522
Hi @JeffyDave, thank you for opening this issue. The code for the footer is not in this project repo so you wouldn’t be able to change it. The code is added directly to the public lab website. Thank you!

[2022-10-20 21:05] TEGS-OMAT commented on #11105
Hi, I'm Tegs, an outreachy intern. I would love to contribute to this project. please assign me to an FTO

[2022-10-21 04:09] prius2055 commented on #11500
Hi @cesswairimu kindly review my code. I have sent a PR

[2022-10-21 04:33] prius2055 commented on #9600
Hi @cesswairimu I have worked on a first-timers issue, please review

[2022-10-21 06:21] IvyJeptoo commented on #11492
@cesswairimu please review my PR

[2022-10-21 09:43] tolubishops0 commented on #11105
@TildaDares GoodMorning. I see a name on my name but I do not know where to find the task assigned to me pls??
how do I go about it?

[2022-10-21 09:45] tolubishops0 commented on #11105
Thank you @TildaDares I'm on it

[2022-10-21 10:29] TildaDares commented on #11105
Hi @Favour-Cay, there’s an issue reserved for you here #1160.

[2022-10-21 10:48] TildaDares commented on #11497
Resolved in #11525

[2022-10-21 10:48] #11497 closed

[2022-10-21 11:12] TildaDares commented on #11494
Hi @Natacha-Danbadan, thank you for opening this issue. Your suggestion is very good and will help improve the accessibility of the site. Can you make a list of all the files that need this change? Thank you!

[2022-10-21 11:15] #11492 closed

[2022-10-21 11:19] TildaDares commented on #11490
Hi @cesswairimu, I'd like to reassign this issue since there's no response from @Favour-cay.

[2022-10-21 11:19] TildaDares commented on #11490
Reserved for @onujoy14 for 24 hours!

[2022-10-21 11:20] TildaDares commented on #11105
Hi @onujoy14, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11490 for 24 hours!

[2022-10-21 11:24] TildaDares commented on #11486
Hi @Tkwenan, you need to push your changes upstream (publiclab/plots2).

[2022-10-21 11:25] TildaDares commented on #11485
Hi @Chelsofia, please go ahead. Thank you!!

[2022-10-21 11:31] TildaDares commented on #11429
Reserved for @Ceejaycodez for 24 hours!

[2022-10-21 11:31] TildaDares commented on #11105
Hi @Ceejaycodez, there's an issue reserved for you in #11429 for 24 hours!

[2022-10-21 11:43] Natacha-Danbadan commented on #11494
The first set of HTML files can be found in the plots2 repo

[2022-10-21 11:49] cesswairimu commented on #11501
Hi @charmilahruthika, @Chinazaekpere-Ike  is any of you working on this issue?  or can @samailamalima go ahead?

[2022-10-21 11:51] Natacha-Danbadan commented on #11494
Yes @TildaDares I have just done that. I'm still expecting an FTO issue. Thank you ma'am.

[2022-10-21 11:53] TildaDares commented on #11494
Hi @Natacha-Danbadan, the other HTML files in here https://github.com/publiclab/plots2/tree/main/public apart from `404.html` also need this change. Maybe you could work on that. Thanks!

[2022-10-21 11:57] #11504 closed

[2022-10-21 12:07] Natacha-Danbadan commented on #11494
Yes ma'am, I also stated the other HTML files that need to be worked on in my previous message. I'll get started on that ASAP. Thanks ma'am.

[2022-10-21 12:52] yukiyuli commented on #11105
@TildaDares do you have any issues that I can work on?

[2022-10-21 13:07] first-timers[bot] opened #11527 "Fix "`IgnoredMethods` has been renamed to `AllowedMethods` and/or `AllowedPatterns`" rubocop warning"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-21 14:00] cesswairimu opened #11528 "Fix nokogumbo gem warning"
Logs are showing this warning
[code]

Could be fixed by these steps:
- run `bundle update nokogumbo`  - this will update nokogumbo to v 1.2.5 and  maybe also update nokogiri in `Gemfile.lock`
-  Remove older versions of nokogumbo and nokogiri from Gemfile.lock(optional)
-  Check if app  running okay
- Commit and make PR to see if tests are passing

Refer to: https://github.com/sparklemotion/nokogi

[2022-10-21 14:45] cesswairimu opened #11529 "Fix "pry" warning"
Pry hasn't been updated for a while as its in dev/test env . ruby-2.7.3 is giving this  warning  for it: ` warning: __FILE__ in eval may not return location in binding; use Binding#source_location instead`

Fix:
- On the projects terminal run ` bundle update pry-rails`
- Commit Gemfile.lock and PR

[2022-10-21 15:58] 7malikk commented on #11528
@cesswairimu can i give this a go?

[2022-10-21 15:59] TildaDares commented on #11494
Hi @Natacha-Danbadan, setting a base tag now would mean having to change all the internal links in the project. That would be too big a task to complete before the contribution period ends. Thank you!

[2022-10-21 15:59] 7malikk commented on #11529
@cesswairimu Can i give it a try?

[2022-10-21 16:10] Natacha-Danbadan commented on #11494
Okay ma'am, duly noted.

[2022-10-21 16:29] charmilahruthika commented on #11501
Yes @cesswairimu I am taking up!

[2022-10-21 17:11] charmilahruthika commented on #11105
@toshitapandey do you have any issues to assign?

[2022-10-21 17:54] cesswairimu commented on #11528
Go ahead @7malikk, lets leave #11529 for another contributor. thanks

[2022-10-21 17:56] 7malikk commented on #11528
@cesswairimu I just completed #11529 I can leave this one for another contributor

[2022-10-21 17:59] cesswairimu commented on #11528
cool :+1: thanks

[2022-10-21 18:48] Chelsofia commented on #11485
Ok @TildaDares . Thank you

[2022-10-21 20:19] onujoy14 commented on #11490
I claim this issue

[2022-10-21 21:37] Ceejaycodez commented on #11429
HI @TildaDares, I would like to claim my FTO

[2022-10-21 21:54] TildaDares commented on #11105
Hi @Sally-N, there’s an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1183 for 24 hours.

[2022-10-21 21:58] TildaDares commented on #11105
Hi @sharon-kathambi, there’s an issue reserved for you in #1185 for 24 hours!

[2022-10-21 23:04] Ceejaycodez commented on #11429
Hi @TildaDares. I have submitted a pull request @ https://github.com/publiclab/plots2/pull/11531

[2022-10-21 23:27] NadifaHersi commented on #11527
Hi @TildaDares @cesswairimu  I would like to try this issue. Thank you so much.

[2022-10-22 04:51] Ibom99 commented on #11528
@cesswairimu Can I work on this fix?

[2022-10-22 05:11] victory-lydia commented on #11528
@cesswairimu Please can I work on this issue

[2022-10-22 11:20] cesswairimu commented on #11528
@Ibom99 , you can go ahead, @victory-lydia I am still working on the warnings, I will ping you if I create a similar one. thanks

[2022-10-22 11:24] cesswairimu commented on #11527
go ahead @NadifaHersi

[2022-10-22 11:40] Ibom99 commented on #11528
Thank you @cesswairimu i’ll get on it!

[2022-10-22 14:56] TildaDares commented on #11105
Hi @olamideazeez, there’s an issue reserved for you here https://github.com/publiclab/Leaflet.DistortableImage/issues/1218.

[2022-10-22 16:06] TildaDares commented on #11522
You can look at the repo for issues simple enough for first-timers to work on.

[2022-10-22 16:07] TildaDares commented on #11522
I’ll be closing this issue now. Thanks all!

[2022-10-22 16:07] #11522 closed

[2022-10-22 16:09] #11429 closed

[2022-10-22 16:56] IvyJeptoo commented on #10744
Hello @jywarren i've seen there is a PR by @Ash-KODES  and @7malikk on the issue #10782

[2022-10-22 17:41] Brujitari commented on #11105
Hello is there an issue I could work on? @TildaDares 🥰

[2022-10-22 22:25] prius2055 commented on #3681
Hi @cesswairimu @TildaDares I have added a welcomebot file to the pi-builder project and also  sent a pull request. Kindly approve and merge.

[2022-10-23 03:30] zannyb commented on #11105
Hello, I am an outreachy applicant, and I would love to contribute to this project during my internship.
Which FTO issue could I work on?

[2022-10-23 03:41] zannyb commented on #11105
Hello, I am an outreachy applicant, and I would love to contribute to this project during my internship.
Which FTO issue could I start with?

[2022-10-23 04:01] JeffyDave commented on #11105
hello @TildaDares I would love to help you in creating and/or allocating FTO issues. I see there's a lot of work load on that, I'd love to lighten the work load.

[2022-10-23 14:15] NadifaHersi commented on #11527
Hi @TildaDares  @cesswairimu @jywarren  I have fixed issue #11527 and created pull request #11533 .

[2022-10-23 14:18] NadifaHersi commented on #11527
HI Cess
 I have fixed issue #11527
<https://github.com/publiclab/plots2/issues/11527> and created pull request
#11533 <https://github.com/publiclab/plots2/pull/11533> .
Please if I can get any feedback.
Thank you so mucho

On Sat, Oct 22, 2022 at 2:24 PM Cess ***@***.***> wrote:

[2022-10-23 14:46] #11529 closed

[2022-10-23 18:59] cynthiarichard007 commented on #11105
Hello @TildaDares I'm an Outreachy applicant, and i would like to contribute to any project available, this is my first time and I'm happy to be here.

[2022-10-23 20:25] vanithaak commented on #11467
<img width="503" alt="image" src="https://user-images.githubusercontent.com/59090053/197416489-799afb1f-aca6-4c27-a607-43400a6d42ac.png">

Hi @AndroGenius-codes , I get this error, how to resolve it?

[2022-10-23 20:36] AndroGenius-codes commented on #11467
Delete yarn lock and try again

[2022-10-24 02:37] Josephsanya opened #11537 "Modify the functional scope to block scope in JavaScript using let and const in place of var"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-24 06:18] Abigail-cloud commented on #11105
Hello @TildaDares , My name is Oluwadare Abigail and a first-timer to Open-source contributions. I am an Outreachy applicant and I would love to contribute on the project.
Thank you for your kind consideration.

[2022-10-24 07:02] cesswairimu commented on #11527
Resolved in https://github.com/publiclab/plots2/pull/11533. thanks @NadifaHersi

[2022-10-24 07:02] #11527 closed

[2022-10-24 07:06] #11528 closed

[2022-10-24 10:14] #11490 closed

[2022-10-24 13:34] NadifaHersi commented on #11527
HI @TildaDares,  @jywarren , @cesswairimu , What is the next activity?

[2022-10-24 14:12] Natacha-Danbadan commented on #11494
@TildaDares @cesswairimu @jywarren kindly help review my PR. https://github.com/publiclab/plots2/pull/11539

[2022-10-24 19:43] victoria-parker commented on #11105
Hello! Is there any issue I could work on?? Thank you :)

[2022-10-24 21:28] FrancoFrancis commented on #11502
HI @TildaDares I WOLUD LOVE TO WORK ON THIS ISSUE

[2022-10-24 22:49] FrancoFrancis commented on #11105
hey @victoria-parker  yes you can look through the list of already open issues to find an issue you are interested in and work on creating a pull request  or you can request for a first timers only(fto) issue to work on.

[2022-10-25 01:06] victory-lydia commented on #11528
Thanks @cesswairimu will be waiting

[2022-10-25 04:52] JeffyDave opened #11543 "Update PULL_REQUEST_TEMPLATE.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-25 05:36] vanshv commented on #11543
I'd like to work on this.

[2022-10-25 06:26] TildaDares commented on #11543
Hi @JeffyDave, thank you for opening this issue. When the description is opened in edit mode, there's a comment that says `Add issue number here`.

[2022-10-25 06:31] #11486 closed

[2022-10-25 08:04] SylviaKaks commented on #11502
let me try to fix this and see how it can be.

[2022-10-25 10:27] Natacha-Danbadan commented on #11494
@TildaDares @cesswairimu @jywarren kindly help review my PR for the Leaflet.DistortableImage Repo
https://github.com/publiclab/Leaflet.DistortableImage/pull/1234/

[2022-10-25 12:47] JeffyDave commented on #11543
Okay, thank you.

[2022-10-25 15:06] Jennifer-tech commented on #11528
Hi @cesswairimu please can I get an issue to work on too

[2022-10-25 17:08] TildaDares commented on #11105
Hi @Kemmie001, there’s an issue reserved for you here https://github.com/publiclab/Leaflet.DistortableImage/issues/1235.

[2022-10-25 17:16] TildaDares commented on #11105
Hi @Onyi-X, there's an issue reserved for you here https://github.com/publiclab/Leaflet.DistortableImage/issues/1160 for 24 hours!.

[2022-10-25 17:24] #11543 closed

[2022-10-25 17:28] #11537 closed

[2022-10-26 00:04] jssol commented on #11105
Hello @TildaDares, I am an Outreachy applicant and I would like to get an FTO issue.

[2022-10-26 00:07] jssol commented on #11502
Hi @cesswairimu, I would like to contribute with the specs on this issue's PR

[2022-10-26 05:25] Aditya31398 commented on #11105
Hello @TildaDares, I am a first timer. I would like to work on an issue.

[2022-10-26 09:38] JeffyDave opened #11547 "Weekly Community Check-In #151 - Don’t give up ❤️"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-10-26 12:59] SilasEze commented on #11105
Hi, I'm Aries, an outreachy intern. I would love to contribute to this project. please assign me to an FTO.

[2022-10-26 18:29] cesswairimu commented on #11547
Lovely @JeffyDave :tada: :tada: and great theme :heart:, thanks!

[2022-10-27 06:54] segun-codes commented on #11547
Refreshing... thanks! @JeffyDave

[2022-10-27 07:18] actuallyyun commented on #11105
Hi, I'm Yun, I would love to get started contributing to open-source projects!

[2022-10-27 09:33] JeffyDave commented on #11547
@TildaDares @jywarren Could you read this and tell me what you think
?

[2022-10-27 09:37] JeffyDave commented on #11547
You're welcome😊😊

[2022-10-27 09:48] TildaDares commented on #11547
This is a very helpful topic @JeffyDave. I especially relate to point 3.

Thank you!

[2022-10-27 10:10] JeffyDave commented on #11547
Thank you very much everyone. You could also add something you think would give someone out here some motivation

[2022-10-27 10:19] TildaDares commented on #11547
Hi @JeffyDave, we usually leave this open until another check in issue is opened. Thank you!

[2022-10-27 10:21] JeffyDave commented on #11547
Okay

[2022-10-27 10:21] JeffyDave commented on #11547
Okay

[2022-10-27 10:36] Josephsanya commented on #11547
Thanks soooo much
Really need this, especially to talk to someone, cos I'm struggling here. 😔

[2022-10-27 12:20] obueto commented on #11547
Thank you so much..number 1 is the goal..i really appreciate

[2022-10-27 13:58] JeffyDave commented on #11547
I'm here, what's your twitter?

[2022-10-27 14:14] JeffyDave commented on #11547
You're Welcome.😊

[2022-10-28 00:41] jssol commented on #11502
Hi @cesswairimu @TildaDares, I have made my first contribution and would love to help out on this.

[2022-10-28 00:42] jssol commented on #11501
Hi @cesswairimu @TildaDares, I have made my first contribution and would love to help out on this.

[2022-10-28 04:45] liryyy commented on #11502
I'd like to work on this issue please.

[2022-10-28 06:20] TildaDares commented on #11105
Hi @lizwe-mac, there's an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1253 for 24 hours!

[2022-10-28 06:41] TildaDares commented on #11105
Hi @yukiyuli, there's an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1086 for 24 hours!

[2022-10-28 06:45] liryyy commented on #11502
Hi @cesswairimu @TildaDares, I've finished my first contribution and please have a look at it. Thanks.

[2022-10-28 10:33] AhVir commented on #11105
Hi @TildaDares, I would love to get myself started with open-source projects. Can I have **an issue** to work on?

[2022-10-28 10:49] AhVir commented on #11502
Hello, I am interested in working on this issue as a first-timer!

[2022-10-28 17:52] VijendraPandey commented on #11502
Hello! @cesswairimu Can you please assign this issue to me. It will be really great to start my open source with it.

[2022-10-29 08:38] NadifaHersi commented on #11105
@TildaDares , @cesswairimu , @jywarren , after I have fixed an issue can I record the contribution or try to work some other issues and record all contributions at one time?

[2022-10-29 10:39] FrancoFrancis commented on #11547
awesome

[2022-10-30 23:17] prius2055 opened #11553 "Center aligning the menu under the "Topic" link"
![Topics under the topic tab not properly marginalized or not properly padded](https://user-images.githubusercontent.com/63577080/198906679-89d96918-789a-4eff-954c-41c41e626246.png)
![Topics under the topic tab not properly marginalized or not properly padded](https://user-images.githubusercontent.com/63577080/198906710-bca2e9e3-ca66-4ad6-96d0-5d2640e53fae.png)
### 💡Format this Issue Into a First

[2022-10-30 23:20] prius2055 commented on #11553
Hi @cesswairimu @TildaDares @jywarren kindly review this issue and check if it makes a good fto-issue. The dropdown under the topic navigation link should be aligned properly using either margins or paddings

[2022-10-30 23:24] prius2055 opened #11554 "The dropdown modal window should close when the user clicks outside the modal"
![modal should close](https://user-images.githubusercontent.com/63577080/198907001-03587ea7-18ce-475a-9acb-0a6e624aca5c.png)

**Please describe the desired behavior.**
Describe the solution you'd like.

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.

[2022-10-30 23:26] prius2055 commented on #11554
Hi @TildaDares I also think this will help improve the site. The user should be able to close the modal dropdown whenever outside of the modal window is closed.

[2022-10-30 23:27] prius2055 commented on #11554
@jywarren please review @cesswairimu please review

[2022-10-31 17:48] cesswairimu commented on #11501
hey @charmilahruthika, I an't trace your PR could you please link me to it? hi @jssol, this is a first-timer-only issue, You can browse other issues if you have already made a contribution. Thanks

[2022-10-31 18:40] #11502 closed, assigned to nobody

[2022-11-01 20:19] nikhilgeo commented on #11105
Hi @TildaDares , I like to contribute to this project, it would be great if you could tag me on a FTO issue when possible.

[2022-11-02 06:00] TildaDares commented on #11554
Hi @prius2055, the code for the footer is not in the project repo. It's hardcoded into the website itself so you wouldn't be able to count it as a contribution.  We'll note this down and see what we can do about it. Thanks @prius2055!

[2022-11-02 06:02] TildaDares commented on #11553
Hi @prius2055, my comment https://github.com/publiclab/plots2/issues/11554#issuecomment-1299618076 also applies here. Thank you!

[2022-11-02 06:29] TildaDares commented on #11105
Hi @Jolah1, there's an issue reserved for you here https://github.com/publiclab/Leaflet.DistortableImage/issues/1174 for 24 hours.

[2022-11-02 14:34] aritroCoder commented on #11013
I want to work on this issue can you assign it to me?

[2022-11-02 21:45] NadifaHersi commented on #11527
Hi @TildaDares , @jywarren , @cesswairimu I would like to get some clarifications on this comment during submission of the application:

[2022-11-02 21:46] NadifaHersi commented on #11527
Hi @TildaDares , @jywarren , @cesswairimu I would like to get some clarifications on this comment during submission of the application:
Please work with your mentor to provide a timeline of the work you plan to accomplish on the project and what tasks you will finish at each step

[2022-11-03 06:58] Jolah1 commented on #11105
@TildaDares i'm working on it now
thank you.

[2022-11-04 14:56] jywarren commented on #11547
Hi! I just wanted to say I really appreciate the theme of this post. It's such an important thing to remember! Thank you @JeffyDave!!! ❤️

[2022-11-04 18:05] victoria-parker commented on #11105
Hello @TildaDares! I would love to start contributing, could you assign me a FTO issue? Thank you a lot!

[2022-11-05 09:22] harshhh11 commented on #11105
Hi Tilda, First-Timer here would love to work on a issue

[2022-11-05 09:30] #11487 closed

[2022-11-05 09:33] TildaDares commented on #11485
Reserved for @victoria-parker

[2022-11-05 09:34] TildaDares commented on #11105
Hi @victoria-parker, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11485.

[2022-11-05 14:48] SamiAlavi commented on #11105
Hi @TildaDares, first timer here for this repo.

[2022-11-05 16:33] victoria-parker commented on #11485
Thank you @TildaDares :)

[2022-11-07 07:58] amarachi-nwokocha commented on #11494
Hi @Natacha-Danbadan is this issue taken id love to work on it

[2022-11-07 09:34] #7717 closed

[2022-11-08 16:04] ilaiyengar commented on #11105
Hi @TildaDares. First timer here and I would love to contribute!

[2022-11-09 12:57] Wafa9 commented on #11553
Hi @TildaDares  & @prius2055 can i work on this issue if it still open?

[2022-11-10 00:38] RDiMag commented on #11105
Hello! I'd like to contribute. Please add me to the list for an FTO.

[2022-11-10 06:23] catmar22 commented on #11105
Hello @TildaDares  I would love to contribute! Thank you this great opportunity for first timers!

[2022-11-10 21:50] #11494 closed

[2022-11-10 21:54] #11471 closed

[2022-11-10 21:55] TildaDares commented on #11470
Closing due to inactivity.

[2022-11-10 21:55] #11470 closed

[2022-11-10 22:00] TildaDares commented on #11501
Reassigning

[2022-11-10 22:00] TildaDares commented on #11501
Reserved for @SamiAlavi

[2022-11-10 22:00] TildaDares commented on #11105
Hi @SamiAlavi, there's an issue reserved for you here https://github.com/publiclab/plots2/issues/11501.

[2022-11-11 04:32] samailamalima commented on #11105
Hi @TildaDares I will love to contribute as a FTO any opportunity thanks

[2022-11-12 10:36] ishfaque1998 commented on #11105
Hy @TildaDares  I want to contribute and you are giving  this great opportunity for first timers!

[2022-11-14 18:05] meeddhhaa commented on #11553
Hey guys @TildaDares @prius2055 I'm just getting started with open source, and I'd love to work on this one!

[2022-11-15 11:30] SylviaKaks commented on #11553
is this issue being handled by anyone ? @TildaDares

[2022-11-15 13:06] #11554 closed

[2022-11-15 13:06] TildaDares commented on #11553
Hi everyone, the code for the footer is not in the project repo. It's hardcoded into the website itself so you wouldn't be able to count it as a contribution. We'll note this down and see what we can do about it.

Thanks all!

[2022-11-15 13:06] #11553 closed

[2022-11-15 13:07] TildaDares commented on #11553
Please request for an issue here #11105 if you’re a first timer. Thanks!

[2022-11-17 07:37] #11485 closed

[2022-11-18 10:25] #11501 closed

[2022-11-18 12:08] meeddhhaa commented on #11105
Hey @TildaDares I'm new to open source and I'd love to contribute! Could you please assign me an FTO?

[2022-11-20 21:18] TalhaHere12 commented on #11105
Hey @TildaDares I am new to open source. Could you please assign me an FTO

[2022-11-21 10:02] Caldwell-77 commented on #11105
Hi @TildaDares -- Another first-timer here hoping to contribute. Can you please add me to the queue for an FTO issue? I'd really appreciate the opportunity to work on one when/if possible. Thank you so much!

[2022-11-21 22:16] jywarren commented on #11105
Hi all! Thank you so much for your interest, we are putting a slight pause
on new FTOs for the time being, but should be able to post more soon.
Thanks for your patience.

On Mon, Nov 21, 2022 at 5:02 AM Caldwell-77 ***@***.***>
wrote:

[2022-11-25 09:31] professorabhay commented on #11105
Hello, I am  preparing for GSOC 2023. I want to contribute in  Open Source. I am new here want some guide and solve some GOOD FIRST ISSUES!!
Plz help me out.

[2022-11-25 09:33] professorabhay commented on #11424
I want to work on this. It seems easy. I can do this in an hour and raise a PR to check and merge.

[2022-11-26 13:20] goelayush89 commented on #11424
I want to work on this issue

[2022-11-28 17:04] cesswairimu commented on #11424
Hi @goelayush89, we are trying to fix the failing tests here https://github.com/publiclab/plots2/pull/11532, we would love your help if you have any ideas? Thanks

[2022-11-29 18:44] ayish1998 commented on #11105
hello I would like to make a contribution since I am preparing for outreach 2023