[2022-03-29 21:43] PiusKevin3 commented on #10840
Hello everyone, I am Pius Kevin an Outreachy applicant. I look forward to making great contributions to the project!

[2022-03-29 21:45] jywarren commented on #10700
Hi Liz - As a proposed solution (other than using topic cards to show only contributions by the profile author) sing a grid of `post/page/question cards` -- the bottom of the three options shown here:

<img width="1413" alt="image" src="https://user-images.githubusercontent.com/24359/160711169-686b80f4-8e66-4778-9556-bcd3d42a2f36.png">

could work but it would need at least 2 modifications:

1. sh

[2022-03-29 21:48] aoumarou17 commented on #10840
Hello, I am Adama Boubacar Oumarou from Niger, I am glad to be here.

[2022-03-29 21:49] PiusKevin3 commented on #10153
Hello, I am an outreachy applicant. Looking for first FTO issues!

[2022-03-29 21:53] aoumarou17 commented on #10153
Hello, I am an outreachy and I am looking for my FTO Issue.

[2022-03-29 21:59] adeolaadedeji commented on #10840
Hello Everyone , i am Adeola ,an outreachy applicant . I  am new to open-source and i am looking forward to contributing and learning..

[2022-03-29 22:11] Dapper50 commented on #10153
Hello, I am an outreachy applicant. Looking for first FTO issues!

[2022-03-29 22:41] PeculiarE commented on #10844
Hello @stephaniequintana. So I did try starting the app on gitpod. But got this error:

<img width="872" alt="Screenshot 2022-03-29 at 23 38 25" src="https://user-images.githubusercontent.com/75625011/160718350-ff782f40-670f-4f1a-82e9-942cfea06c26.png">

Have you been able to succesfully run the app on gitpod?

[2022-03-29 22:58] Dapper50 commented on #10840
Hello Guys, my name is  Boma Dapper an outreachy applicant also a front end web developer, I am new to open-source and i am looking forward to contributing and learning from everyone.

[2022-03-29 23:38] stephaniequintana commented on #10844
@PeculiarE, the original error I was referring to, above, is the one pertaining to the SSL Certificate problem. I solved that on (on my Mac) by bypassing the curl security and I was then, finally, able to download rvm. I was still unable to setup my local environment, view the thread starting here: https://github.com/publiclab/plots2/issues/4936#issuecomment-1075936910.

To your specific question,

[2022-03-30 01:43] Somya-Singhal commented on #10840
Hello everyone, my name is Somya, a CSE undergraduate from India. I am an outreachy applicant and excited to contribute to this community!

[2022-03-30 03:55] romasinha commented on #10840
Hello everyone! My name is Roma, a third-year CSE undergrad from India. I've got an experience contributing to open source projects before and am excited to contribute to this community.

[2022-03-30 04:08] vincent-simon commented on #10153
Hello Guys!
I am Vincent from India. I am really excited to work with Public Labs for this Outreachy period.
One thing I loved about Public Labs as an org is how easy it is to get started with Open Source contributions.
I am new to all this and so I am finding it a little bit uncomfortable, but everyone at Public Labs has seen to it that I feel at home>
I would love to start contributing and so I

[2022-03-30 05:25] falyne commented on #10840
Hello Everyone , I am Ngobiri Falyne Chinaero from cameroon an Outreachy Applicant. I am a graphics designer and a Front-End developer. I am new to OSS but i am super excited to learn and contribute to this community.

[2022-03-30 06:03] ishikajn8126 commented on #10824
Hey @Forchapeatl, [here](https://github.com/publiclab/plots2/issues/10844#issuecomment-1080715213) is the ss of the issue that I was facing...
I've got it resolved now!
Thanks a lot for concern!!

[2022-03-30 06:12] falyne commented on #10153
Hi i'm Falyne from cameroon an outreachy Applicant looking for a first timer issue

[2022-03-30 06:24] anirudh-t-d commented on #10840
Hello everyone!! I am Anirudh an Outreachy applicant from India. I am a Ruby enthusiast and I am interested in the Mapknitter project. I am still very new to Open Source contribution, So can someone introduce me to a good FTO?

[2022-03-30 06:34] ishikajn8126 commented on #10844
Hey everyone!
I got stuck with another error at step 5 of standard installation, which occurred on running the command `bundle install` :
Would really appreciate any help in this regard..!

![Screenshot from 2022-03-30 11-49-12](https://user-images.githubusercontent.com/72145053/160764888-82b54924-391b-4bfd-8059-ffee7c2c2c26.png)

![Screenshot from 2022-03-30 11-49-25](https://user-images.githubus

[2022-03-30 07:45] Somya-Singhal commented on #10815
Hi @TildaDares , can I work on fixing this issue?

[2022-03-30 08:07] HarrietMwanza commented on #10840
Hello,
My name is Harriet from Zambia and I am an Outreachy applicant. I am interested in web development, UI, and analytics. Looking forward to learn how to navigate open source and add to the projects

[2022-03-30 08:34] TildaDares commented on #10844
Hi @ishikajn8126, do you have nodejs installed? You can install it by running `sudo apt-get install nodejs`

[2022-03-30 08:38] TildaDares commented on #10850
Reassigning

[2022-03-30 08:40] TildaDares commented on #10850
Hi @smyww4, @BlueDragn, @arpit-maurya I have reserved issues for you.

[2022-03-30 09:23] kunmi02 opened #10868 "obsolete configuration found in the rubocop style guide"
### Please describe the problem (or idea)
 Rubocop commands does not work on the project which can lead to writing codes with an obsolete style guide.
running a `rubocop` commands leads to errors

 Runing `rubocop .` on the root folder throws an error complaining about obselete commands in the .rubocop_shopify_styleguide.ym` file, .rubocop.yml file and in rubocop_todo.yml.

I expect the rubocop fi

[2022-03-30 09:24] kunmi02 commented on #10868
if issue is approved I will like to work on it

[2022-03-30 09:28] Austin-tawe commented on #10153
Hello, Mentors. I'm Austin, outreachy applicant from Cameroon. Looking forward to contribute to the first timer issue.
Any tips on how to setup the environment and get started with contribution will be grateful. Thanks

[2022-03-30 09:31] PeculiarE commented on #10844
Thank you, @stephaniequintana. So, I wasn't running GitPod on my fork but directly from the main repo. Even tried setting it up on my local machine but kept on encountering one error or the other. Eventually, I followed your advice: deleted my existing fork, re-forked, and then tried running it again on GitPod. Had to change the db configuration in the database.yml file to an sqlite3 db before it

[2022-03-30 09:38] PeculiarE commented on #10844
@ishikajn8126 When I tried setting up the project on my machine too, I faced this error even though I had nodejs already installed. But luckily for me, the error message also told me the command to run to fix it. The command was quite long and I can't remember it exactly. And sadly, recent console messages in my terminal have overwritten it. 😢 😞

I would suggest exactly what @stephaniequintana sai

[2022-03-30 09:39] Dapper50 commented on #9899
Hi everyone, please assist I am looking to contribute for first time issues for outreach. I am proficient in HTML /CSS/JavaScript.

[2022-03-30 09:40] Dapper50 commented on #10153
Please assist an issue has not been assigned to me

[2022-03-30 09:46] jyotirawat224 commented on #10153
Hi ! I am an Outreachy applicant and a newbie to open-source. I am proficient in Java, HTML, CSS, Bootstrap, Javascript, python and machine learning Working on the first-timers-only issues would boost my confidence to continue contributing to such projects. Please add me to the list!

[2022-03-30 10:06] VictoriaAjala commented on #10845
Hi, I would like to work on this issue if it's available. Thank you!

[2022-03-30 10:09] barcha47 commented on #10850
hey @TildaDares i have completed my this task, am i now eligble to apply for other issues? I am newbie therefore bit confused. thanks

[2022-03-30 10:10] TildaDares commented on #10850
Hi @barcha47, yes you are.

[2022-03-30 10:27] Abdulrahim2567 commented on #10840
Hello, I am Kibuh Adou Rahim an Outreachy applicant. I came across this project on outreachy.org and got interested to be part of this project's contributors. Thanks :)

[2022-03-30 10:28] Abdulrahim2567 commented on #10153
Hello, I am Kibuh Adou Rahim an Outreachy applicant. I came across this project on outreachy.org and got interested to be part of this project's contributors and would also like to know how I can start contributing to this project thanks

[2022-03-30 10:42] kunmi02 opened #10869 "Use .present? instead of .blank?"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-03-30 10:44] kunmi02 commented on #10869
@TildaDares  I found out this issue on the codebase and I will really like to work on it

[2022-03-30 11:07] mittal-parth commented on #10754
Hi @jywarren! Few more questions regarding the _Refine UI across PublicLab.org idea_: 😅
1. Since its mentioned _brainstorming_ interlinked navigation, should I put all my ideas regarding this in the proposal or here first?
2. Regarding the random generator, are we looking for a recommendation API like [Pipeless](https://pipeless.io/) or just some SQL queries to achieve this (like based on a date r

[2022-03-30 12:50] AbihaFatima commented on #10862
@TildaDares
while running it on localhost (logged in as user) I can see the tooltip on the locked icon saying:
![capture-1](https://user-images.githubusercontent.com/70844041/160838170-64bb0528-8918-4263-85af-1c76e4ee26b8.png)
which is for the first timer posters and it redirects [here](https://publiclab.org/notes/tester/04-23-2016/new-moderation-system-for-first-time-posters).
How do I test it fo

[2022-03-30 13:14] TildaDares commented on #10862
@AbihaFatima You can do that by logging in as `admin`. The password is `password`.

[2022-03-30 13:21] AsmaIbrahimButt commented on #10153
Hi, I  am front end developer and also a UI/UX designer .Also having a intern level experienced in front end. I'm new in contributing to open source.Looking for first time issue.

[2022-03-30 13:34] kunlefash commented on #10845
I would love to work on this issue if it's available

[2022-03-30 14:09] RaviAnand111 opened #10871 "Weekly Community Check-In #135 - Love Yourself ❤️"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-03-30 14:10] adeola-dev commented on #10153
Thank you @PeculiarE, I would work on it right away.

[2022-03-30 14:12] adeola-dev commented on #10153
Thank you @PeculiarE , I would work on it right away.

[2022-03-30 14:18] RaviAnand111 commented on #10871
When I joined publiclab community, I didn't knew anything, but I learnt from git to making PRs and then helping others. Everything I learned in this community. Everyone I know in the community helped me one way or other, but I would like to name a few who replied to my wierd and silly questions despite being stuck, confused and facing problems themselves.

Thank You @NARUDESIGNS @TildaDares @cessw

[2022-03-30 14:30] akanbifatimah commented on #10871
Thank you @RaviAnand111 , so glad to help.

[2022-03-30 14:35] VictoriaAjala commented on #10840
Hi Everyone and Welcome to Outreachy Summer 2022 , I'm Victoria and this is my first time contributing to open source, I've learnt quite a lot that I'm excited about and  I'm looking forward to contributing to the Infragram project and learning more skills. Good luck to Everyone!

[2022-03-30 14:36] on2onyekachi commented on #10871
Thank you @RaviAnand111. I do hope to learn from you.

[2022-03-30 15:01] #10808 closed

[2022-03-30 15:07] girija0707 commented on #10871
Thank you @RaviAnand111 , this is an amazing community happy to help and learn along the way ☺️

[2022-03-30 15:13] iamcynthiamamah commented on #10153
hi, I am Cynthia Mamah from Nigeria, I am totally new to open-source. My initial application for outreachy got approved and I am totally interested in working on this project. please, I need an FTO in-order to contribute to this project. thanks a lot.

[2022-03-30 15:26] iamcynthiamamah commented on #9480
This is amazing. thanks

[2022-03-30 17:10] TildaDares commented on #10868
Hi @kunmi02, thanks for spotting this. We have a similar issue in #8646.

This will probably take some time to correct all of the incorrect commands. You're free to take this up.

[2022-03-30 17:28] mittal-parth commented on #10871
Would just like to appreciate how the community has been very helpful and supportive with quick reviews and feedback from the start! ❤️

[2022-03-30 17:54] rajvidg commented on #10153
Hi,
Thank you for the information!
I'm interested in UI/UX design and front-end web development, please assign me any FTO issue to contribute in Public Lab🎈.
I wanted to contribute for Outreachy.

[2022-03-30 18:10] helenalvp commented on #10840
Hi! My name is Helena, and I am a front end developer. I look forward to contributing to this project.

[2022-03-30 18:13] helenalvp commented on #10153
Hello, I am looking for an FTO issue to contribute to. I am a front end developer looking to apply to the front screen user interface project.

[2022-03-30 18:27] SHIVANGISINGH1 commented on #10840
Hello everyone 👋, I am Shivangi, an Outreachy applicant. I am a web developer and open source enthusiast. I am interested to contribute to Public Lab community. I am looking forward to connecting with you all ✌ 😊

Thank you

[2022-03-30 18:33] illyShelly commented on #10844
Hello @TildaDares ,
I would like to point to one thing and differences which I found out during installation and reading files. The link you  mentioned above `for standard installation` link: [](https://github.com/publiclab/plots2/blob/master/README.md) differs from the Readme file for plot2 repo link:  [https://github.com/publiclab/plots2#standard-installation]

Especially, in **version of ruby**

[2022-03-30 19:00] #10869 closed

[2022-03-30 19:01] #10862 closed

[2022-03-30 19:01] #6304 closed

[2022-03-30 19:05] Forchapeatl opened #10875 "A good follow-up would be to show the cancel button only to logged in users, admins/moderators and profile users. You could even create an FTO for it."
A good follow-up would be to show the cancel button only to logged in users, admins/moderators and profile users. You could even create an FTO for it.

All you have to do is insert the code for the cancel button in an if statement:

[code]

_Originally posted by @TildaDares in https://github.com/publiclab/plots2/issues/10773#issuecomment-1082273590_

[2022-03-30 19:05] stephaniequintana commented on #10844
@PeculiarE, I'm so glad to learn you're up and running.

I actually tweaked the file (commented out the sql directive) initially. Though I meant to, I never went back to see if it would worked without the directive commented out.

Honestly, I experienced so many issues trying to set up locally that once I realized I can work (and gain experience) with GitPod, I never looked back. When I find some

[2022-03-30 19:09] Forchapeatl commented on #10773
Thank you . For this wonderful idea.

[2022-03-30 19:14] Forchapeatl commented on #10844
@PeculiarE . Here is the solution [https://github.com/publiclab/plots2/issues/4396#issuecomment-1079781786](https://github.com/publiclab/plots2/issues/4396#issuecomment-1079781786)

[2022-03-30 19:17] Forchapeatl commented on #10844
@PeculiarE  here is the solution [https://github.com/publiclab/plots2/issues/4396#issuecomment-1079781786](https://github.com/publiclab/plots2/issues/4396#issuecomment-1079781786)

[2022-03-30 19:19] TildaDares commented on #10844
Hi @illyShelly, thank you for the observation! We no longer make use of the `master` branch so it's the README on the `main` branch you should use https://github.com/publiclab/plots2/blob/main/README.md

[2022-03-30 19:22] Radhika-Saini commented on #10840
Hi everyone! I am Radhika Saini, an Outreachy applicant. I am new to open-source. I am proficient in C/C++, HTML, CSS, Javascript, CSS, Bootstrap. It excites me to work on creating a new UI listed by Public Lab. Looking forward to great learning and contributing!

[2022-03-30 19:22] aashimawadhwa commented on #10840
Hello everyone , my name is Aashima and I'm from India . I am proficient in react ,HTML CSS , JS . I am an outreachy initial applicant really excited to work on this organisation . looking forward in adding value to the organization.

[2022-03-30 19:22] mercyikpe commented on #10845
Hi @ishikajn8126 I see you are on this ticket. How is it going?
May I work with you on this?

[2022-03-30 19:24] mercyikpe commented on #10815
Hi @k-latwal15 how is it going with this issue?
May I join you?

[2022-03-30 19:24] illyShelly commented on #10844
@TildaDares got it 😄 I have no idea how I get there.

[2022-03-30 19:28] TildaDares commented on #10815
Hi @Ifetakuro, you can take this up.

[2022-03-30 19:37] Morai-C commented on #10840
hello aashimawadhwa. you're welcome.

[2022-03-30 19:42] preeti-14-7 commented on #10840
Hello everyone, I m Preeti Yadav, from India.
I m an outreachy applicant willing to contribute on this organization.
I have past experience in open source and I m good in HTML,CSS,JS and UI design willing to contribute on project "Design a new full-screen user interface for Infragram.org"

[2022-03-30 19:49] PeculiarE commented on #10844
Thanks @stephaniequintana for your response. Lol...I know how that feels, wasting a lot of time trying to debug locally. But yeah, we're lucky we have GitPod to save the day 😅

@Forchapeatl .....thank you for your help. However, I did check out that thread while debugging on my local and implemented your suggestion but it didn't resolve my issue 😢. Plus, the error-message screenshot I shared was g

[2022-03-30 20:00] Radhika-Saini commented on #10153
Hi everyone! I am Radhika Saini, an Outreachy applicant. I am new to open-source. I am proficient in C/C++, HTML, CSS, Javascript, CSS, Bootstrap. It excites me to work on creating a new UI listed by Public Lab. Looking forward to great learning and contributing! I am looking for an FTO issue to contribute to.

[2022-03-30 20:05] nobiaya commented on #10840
hello everyone , I'm lily an outreachy applicant willing to contribute on this organization and also want to learn

[2022-03-30 20:31] nobiaya commented on #10153
Hi ! I'm lily, an Outreachy applicant and a newbie to open-source. I am proficient in HTML, CSS, Bootstrap, and working on the first-timers-only issues would boost my confidence to continue contributing to such projects. Please add me to the list!

[2022-03-30 23:11] kunlefash commented on #10153
Hello. I would really love to work on the infragram homepage as my FTO.

[2022-03-31 00:16] TildaDares opened #10878 "Update default image for question cards on tag page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-31 00:16] TildaDares commented on #10878
Reserved for @codeamic for 24 hours!

[2022-03-31 04:19] AdejinmiSeyi commented on #10840
Hello everyone, my name is Seyi. I'm an Outreachy summer 2022 applicant and I'm looking forward to learning better coding practices while contributing to an amazing community.

[2022-03-31 06:28] keshavgbpecdelhi commented on #10153
Hi, I am Keshav, a GSOC 2022 aspirant. Would love to contribute in Public Lab.

[2022-03-31 06:37] RaviAnand111 opened #10879 "The icons at Event page do not have tooltip"
### Please describe the problem (or idea)

As shared in the video the tool tip are not shown for 2 of the icons.

1. There has to be tooltips added to the icons.
2. The 3rd icon does not match with the others icons, it has to be changed as well.

## You can look here for the bug
https://publiclab.org/events

https://user-images.githubusercontent.com/59113935/160990831-6d327cc9-1886-434f-a199-93feb

[2022-03-31 06:42] on2onyekachi commented on #10879
Hi @RaviAnand111 . Awesome, This is great.

I think there should be a tooltip for those icons. @TildaDares I will like to work on this.

[2022-03-31 06:50] RaviAnand111 commented on #10879
Great @on2onyekachi, If this it turns out to be non-FTO, I would like to work on this too, for my outreachy contributions.

[2022-03-31 06:51] codeamic commented on #10878
hi @TildaDares, i am working on it already

[2022-03-31 06:52] codeamic commented on #10878
hi @TildaDares i did a pull request already, waiting for review

[2022-03-31 06:56] TildaDares commented on #10879
Hi @RaviAnand111, this is a really catch. You decide if you want it to be a FTO or non-FTO.

[2022-03-31 07:12] imranburki commented on #10153
Hi, I am Outreachy applicant. I have good experience of Frontend development in HTML, CSS, Bootstrap, Ant Design, JavaScript and React . I am new to Open Source project contribution. Looking for FTO issue for contribution.

[2022-03-31 08:05] Crisoal commented on #10840
Hello Everyone! I am Christiana. I am studying Computing at the African Leadership College and I looking forward to contributing to this project

[2022-03-31 08:19] ayish1998 commented on #10840
Hello everyone!
My name is Ayishatu Saeed currently pursuing a BSc in Computing in Mauritius.
2022 Outracy applicant and I am looking forward to contributing to this project.

[2022-03-31 08:26] ayish1998 commented on #10153
Hello, I'm  Ayishatu Saeed and a New Contributor,
Experienced in HTML, CSS, Javascript, and PHP.
How Do I Get an FTO Issue?

[2022-03-31 08:33] kunmi02 commented on #10868
@TildaDares I have a pr for this. mentioned you on the pr.  please respond

[2022-03-31 08:35] rajvidg commented on #10840
Hi Everyone, I am an UI/UX designer and a frontend developer, looking forward to contributing to the Public Lab Community and participating in Outreachy'22.

[2022-03-31 08:50] kunmi02 opened #10882 "Search by questions returns no result for empty string even before typing the question"
### Please describe the problem (or idea)

When you go to the search page and you try to select the by type dropdown then select questions, the page loads and return a no result for an empty string response to the page.

<img width="1440" alt="Screenshot 2022-03-31 at 09 42 03" src="https://user-images.githubusercontent.com/27483062/161014514-dd7d3dd8-05d6-4532-8037-8c40eb9bdb5e.png">

This idea w

[2022-03-31 08:51] kunmi02 commented on #10882
Hi @TildaDares and @jywarren I found this bug on the site and I will like to work on it.

[2022-03-31 09:29] abdelquodr commented on #10840
Hello everyone, I'm a front-end developer, comfortable with JavaScript and HTML, looking forward to meeting likes minds and contributing to  Public Lab

[2022-03-31 09:32] RaviAnand111 commented on #10879
Hey @TildaDares, I have decided to make 2 FTOs out of this issue

[2022-03-31 10:34] RaviAnand111 opened #10883 "Add tooltips in icons at Event Page"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-03-31 10:40] on2onyekachi commented on #10883
Hi, @RaviAnand111 Thanks for bringing this up as an FTO issue.  Can I work on this?

[2022-03-31 10:46] RaviAnand111 opened #10884 "Change the color of comment icon at Event Page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-31 10:48] on2onyekachi commented on #10884
Nice! @RaviAnand111 👍🏽

[2022-03-31 12:07] anantraghuvanshi commented on #10884
can I work on this?

[2022-03-31 12:25] divyangana009 commented on #10153
Hii, My name was added on priority list but now its not there??Is there anything I need to know .Please help I am a beginner.
https://github.com/publiclab/plots2/issues/10153#issuecomment-1079709349 this was previous reply

[2022-03-31 13:03] TildaDares commented on #10153
Hi @divyangana009, I initially reserved an issue for you in #10850 but I didn’t get a response from you.

[2022-03-31 13:26] divyangana009 commented on #10153
@TildaDares  sorry ma'am for my negligence.

[2022-03-31 13:32] vincent-simon commented on #10884
Ya I also would love to work on the same

[2022-03-31 13:33] vincent-simon commented on #10883
Ya I also would love to work on the same

[2022-03-31 13:59] OLIPLICHE commented on #10153
Hi,  I am new to openSource contribution. My stacks are JavaScript, Rails, Redux, Ruby on Rails. Please add me to the list.

[2022-03-31 14:04] OLIPLICHE commented on #10153
Hi, I am new to opensource contribution. my stacks are JavaScript, Rails, React, Redux, Ruby on Rails. Please add me to the list. 👍

[2022-03-31 14:05] Forchapeatl commented on #10875
I would like to work on this

[2022-03-31 14:58] romasinha commented on #10153
Hello, I am Roma. I am an Outreachy applicant. I have an experience in HTML, CSS, JavaScript React and Redux. I am looking for FTO issues for contribution. Please add me to the list.

[2022-03-31 16:13] Ifetakuro commented on #10878
@codeamic can you tell me how you resolved the issue? I am trying to understand the codes

[2022-03-31 16:17] Ifetakuro commented on #10815
@TildaDares sorry for the delay, I’m just seeing this thanks. I would work on it right away.

[2022-03-31 16:19] mr-funtor commented on #10153
Hi, I am Funto, and I am an Outreachy applicant. I have experience in HTML, CSS, Javascript and React. It would be great to have an FTO issue to contribute to. Please add me to the list.

[2022-03-31 16:40] Ifetakuro commented on #10884
@RaviAnand111 can I also work on this, I would like to help with others?

[2022-03-31 16:42] Ifetakuro commented on #10882
@kunmi02 do you mind both of us working on the bug together?

[2022-03-31 16:42] TildaDares commented on #10153
Hi @smyww4, @BlueDragn, @arpit-maurya there are issues reserved for you in #10850

[2022-03-31 16:43] TildaDares commented on #10815
Hi @Ifetakuro, you need to push to publiclab/plots2 not your own fork.

[2022-03-31 16:53] TildaDares commented on #10884
Thank you everyone but FTOs are only for first-timers.

@vincent-simon you can take this up!

[2022-03-31 16:58] Somya-Singhal commented on #10815
Hi @Tildares, if you allow can I write the steps to make a successful PR so that it would be helpful for the beginners to proceed?

[2022-03-31 16:59] TildaDares commented on #10815
Hi @Somya-Singhal, that'd be an amazing way to support other applicants. You can open an issue for it.

[2022-03-31 17:01] Somya-Singhal commented on #10815
Sure @TildaDares.

[2022-03-31 17:01] kunlefash commented on #10815
Hello @TildaDares , I have not gotten a FTO issue yet. What do I need to do to get one

[2022-03-31 17:03] Ifetakuro commented on #10815
Is this happening because I didn’t clone the code to my system and I edited directly? @TildaDares

[2022-03-31 17:04] RaviAnand111 commented on #10879
Created two FTOs
#10884 #10883

[2022-03-31 17:07] anushkadubey commented on #10153
Hi, I am an Outreachy applicant.
I wanted to start contributing to some first time issues, my preferred languages and tools are javascript, HTML/CSS, NodeJS and React. Please add me to the list.

[2022-03-31 17:46] Ifetakuro commented on #10878
@codeamic now I understand, thanks

[2022-03-31 17:49] TildaDares commented on #10815
@Ifetakuro This article should guide you on how to open a PR https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github

[2022-03-31 17:50] Ifetakuro commented on #10815
@TildaDares thank you

[2022-03-31 18:05] Ifetakuro commented on #10815
@TildaDares i have created a pull request, please can you review it

[2022-03-31 18:53] Radhika-Saini commented on #9471
I am an outreachy Applicant. Can I work on this?

[2022-03-31 21:39] Forchapeatl opened #10888 "show the cancel button only to logged in users, admins/moderators and profile users."
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

 If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especiall

[2022-03-31 21:41] #10875 closed

[2022-03-31 22:15] saikmusunuri commented on #10888
Hey, can I please work on this issue?

[2022-03-31 23:20] Forchapeatl commented on #10796
Please for more information on this bug/issue

[2022-03-31 23:22] Forchapeatl commented on #10830
I would love to work on this issue, may I ?

[2022-04-01 03:02] vincent-simon commented on #10884
@TildaDares Thanks for assigning the issue to me. Will get to work and send a pull request asap.

[2022-04-01 04:25] TildaDares commented on #10888
Hi @Forchapeatl, can you use the original FTO template?

After reverting to the original template, you can then add the changes to your local env. Run `git diff` in your console and it'll print the changes that were added/removed. Then you copy/paste that into the `diff` block in the FTO template

https://welearncode.com/create-diff-markdown/

[2022-04-01 04:48] TildaDares commented on #10883
@RaviAnand111 This looks great but we can't add a tooltip for the `authors` element. I don't think we can add a popover and a tooltip on a single element.

[2022-04-01 04:51] TildaDares commented on #10882
Hi @kunmi02, great catch! You can go ahead!

[2022-04-01 04:54] TildaDares commented on #10859
Hi @Annysah, do you need any help with this?

[2022-04-01 04:57] TildaDares commented on #10784
Resolved in #10809

[2022-04-01 04:57] #10784 closed

[2022-04-01 05:00] TildaDares commented on #10845
Hi @ishikajn8126, I can see that you're already assigned to an fto-candidate in #10824. Is it okay if I assign this to someone else who hasn't worked on an FTO?

[2022-04-01 05:42] TildaDares commented on #10153
Hi @Prakashh21, there's an issue reserved for you in publiclab/infragram#285

[2022-04-01 05:59] anirudh-t-d commented on #10153
Hi @noi5e I am an outreachy applicant, I don't have much experience regarding OSS so may I request an FTO?

[2022-04-01 06:34] girija0707 commented on #10882
hey @kunmi02 did you clone this repository even I would like to work on few issues

[2022-04-01 06:58] TildaDares opened #10890 "Display Confirm Modal before batch deleting spam posts"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-01 06:58] TildaDares commented on #10890
Reserved for @VictoriaAjala for 24 hours!

[2022-04-01 06:59] TildaDares commented on #10153
@VictoriaAjala there's an issue reserved for you in #10890

[2022-04-01 07:21] HarrietMwanza commented on #10153
HI @TildaDares , i am an outreachy applicant interested in web dev still waiting to be assigned a first timers issue

[2022-04-01 07:25] Yavnikaa commented on #10817
I have made the PR. Could you please review it? @jywarren @TildaDares

[2022-04-01 07:48] kunmi02 commented on #10882
Hi @Ifetakuro,

I already wrote the fix for the issue and will be pushing out my PR soon. but if you don't mind, we can go ahead to share knowledge on how I resolved the issue.

@girija0707 Yes I did clone the repo

[2022-04-01 07:48] ginabeki commented on #10153
Hi @TildaDares, I am an Outreachy applicant, still waiting to be assigned FTO.

[2022-04-01 07:51] girija0707 commented on #10882
Yes I would love to know how did you resolve that issue, I'm thinking of cloning this repo but I don't have knowledge regarding Ruby hence skeptical😅

[2022-04-01 08:07] kirteeprajapati commented on #10890
I'd like to try this! can you please assign me this issue

[2022-04-01 08:09] Ifetakuro commented on #10882
@kunmi02 that would be great, would love to learn

[2022-04-01 08:21] Sakshamgupta90 opened #10892 "Suggestion Regarding New UI layout design"
Hi,
I have gone through the project: refine the user interface, where we have to change the style, navbar, and many more.
But I think of something more. When I went to [publiclab.org](https://publiclab.org/), and see the UI of it, I think there is more we can add on, and many things can be replaced.

So, I started designing the layout, and finally, I have designed it. Not only the layout but many

[2022-04-01 08:22] Sakshamgupta90 commented on #10892
Hi,@TildaDares @jywarren @cesswairimu any suggestions?

[2022-04-01 08:30] VictoriaAjala commented on #10890
Thank You @TildaDares I would start working on it immediately!

[2022-04-01 08:33] TildaDares opened #10893 "Reduce Code Duplication by Using a Single Function for Batch Select"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-01 08:34] TildaDares commented on #10893
Reserved for @divyangana009 for 24 hours!

[2022-04-01 08:37] TildaDares opened #10894 "Enable Spam2 Buttons Only If There are Nodes In The Table"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-01 08:37] TildaDares commented on #10894
Reserved for @agrani29 for 24 hours!

[2022-04-01 08:38] falyne commented on #10153
Hi @TildaDares, I am an outreachy Applicant still waiting to be assigned FTO

[2022-04-01 08:40] TildaDares opened #10895 "Display Select Button For All Actions in Spam2"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-01 08:41] TildaDares commented on #10895
Reserved for @illyShelly for 24 hours!

[2022-04-01 08:53] VictoriaAjala commented on #10890
@kirteeprajapati You can request for an FTO issue here https://github.com/publiclab/plots2/issues/10153

[2022-04-01 08:54] TildaDares opened #10897 "Remove Duplicate Code in Spam2"
Hi everyone, I created an FTO in #10893 to keep the code for `batch select` DRY. This issue(s) will remove the duplicate code. I would have created FTOs for each one but the changes are similar so I decided to create one issue for it. These are the files that need changes:

- [app/views/spam2/_comments.html.erb](https://github.com/publiclab/plots2/blob/main/app/views/spam2/_comments.html.erb) Rese

[2022-04-01 08:57] TildaDares commented on #10153
Hi @divyangana009, @agrani29, @illyShelly there are issues for you in #10893, #10894, #10895.

[2022-04-01 08:58] TildaDares commented on #10153
Hi @P3lumi, @JosueKinda, @rohaid-bakh, @AmenuveveDordor, @Morai-C, there are issues for you in #10897

[2022-04-01 09:02] kunmi02 commented on #10882
Here is the link to the PR for the https://github.com/publiclab/plots2/pull/10896

I just did a catch on the page to see if the params[:query] is not blank, if it is, I return a message asking for a search term

[2022-04-01 09:27] illyShelly commented on #10895
@TildaDares I am in. 🙂 Thank you.

[2022-04-01 09:28] kirteeprajapati commented on #10153
Hello, I am an Outreachy applicant, looking forward for FTO can you please assign me one

[2022-04-01 09:32] vincent-simon commented on #10892
Hi Saksham! Love this new UI design. If u don't mind I would love to help you in the process of the new UI design. If you don't mind can we talk on Gitter about the same.

[2022-04-01 09:36] divyangana009 commented on #10893
Thanks I am working on it.

[2022-04-01 09:48] Morai-C commented on #10897
thanks for the issue.. on it

[2022-04-01 09:58] Sakshamgupta90 commented on #10892
Hi Vincent! Thanks a lot :) let's wait for the mentors, for feedback and suggestions.

[2022-04-01 10:27] kunmi02 commented on #9419
@TildaDares and @jywarren I don't know if this issue has is still open but if it is, I will like to work on it

[2022-04-01 10:30] kunmi02 commented on #7162
@jywarren Is this issue still open? I will like to work on it

[2022-04-01 11:03] Morai-C commented on #10897
Hey @TildaDares, I've raised a PR https://github.com/publiclab/plots2/pull/10899  Please have a look. Thanks!

[2022-04-01 11:04] P3lumi commented on #10897
Thank you, I will get to it immediately

[2022-04-01 11:44] kabuur opened #10900 "Frist time"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-01 11:48] kabuur opened #10901 ""Show more" button on tables of notes not useful any more; adapt or remove"
**Please describe the desired behavior.**
Describe the solution you'd like.

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.

[2022-04-01 12:02] on2onyekachi commented on #10900
Hi  @kabuur , simply make use of the existing #10153 to request for the FTO issue. Once you comment on the post give it some time @TildaDares will assign an issue for you to contribute to.

[2022-04-01 12:16] RaviAnand111 commented on #10883
Ok, @TildaDares should I remove the line for author tooltip and leave it as a popover ?
Thanks

[2022-04-01 12:38] on2onyekachi commented on #10892
@Sakshamgupta90 This is Awesome. I like how simplified it is.

Just to be sure, I thought creating a UI design and redesigning the page is meant for the infragram project? or ,
do we get to design for PublicLab page also?.

[2022-04-01 12:46] ShoiraTa commented on #10859
Hello @TildaDares, can I get this assignment if it is still not done?

[2022-04-01 12:48] ShoiraTa commented on #10153
Hello, I am an Outreachy applicant, interested in MapKnitter.org Spam Management system project,  can I get an issue assigned?

[2022-04-01 12:49] ShoiraTa commented on #10845
Hello @TildaDares can I work on this issue?

[2022-04-01 12:49] Annysah commented on #10859
Hello @ShoiraTa,
I'm working on it.

[2022-04-01 12:50] Annysah commented on #10859
Thanks @TildaDares 😊, I will reach out once I have any question.

[2022-04-01 12:50] ShoiraTa commented on #10859
Hi @Annysah , thanks for letting me know 👍🏻
Good luck with the project 🤩

[2022-04-01 12:50] Forchapeatl commented on #10888
Some mark down has been added to the code .
[code]

[2022-04-01 12:51] Annysah commented on #10859
Thank you 😊!@ShoiraTa

[2022-04-01 12:52] Forchapeatl commented on #10888
@TildaDares  You are a life saver

[2022-04-01 12:54] Forchapeatl commented on #10888
Please be patient , it seems like I have to document this issue properly

[2022-04-01 13:12] ayish1998 commented on #10153
Please how will I know if an issue has been assigned to me?

[2022-04-01 13:45] TildaDares commented on #10153
@archijaiswal There’s an issue reserved for you in https://github.com/publiclab/community-toolbox/issues/548

[2022-04-01 13:48] TildaDares commented on #10883
@RaviAnand111 Yeah

[2022-04-01 13:50] TildaDares commented on #10900
Hi @kabuur, this template is used for creating FTOs and not requesting for one. As @on2onyekachi said you can request for an FTO in #10153. Thank you!

[2022-04-01 13:50] #10900 closed

[2022-04-01 13:50] TildaDares commented on #10901
Duplicate of #10817

[2022-04-01 13:50] #10901 closed

[2022-04-01 14:06] AmenuveveDordor commented on #10897
Hey @TildaDares thank you, I’ll start working on it immediately

[2022-04-01 14:48] RaviAnand111 commented on #10883
@TildaDares changed.

[2022-04-01 15:00] Forchapeatl commented on #10754
Can someone submit more than one proposal ?

[2022-04-01 15:22] Ishika414 commented on #10153
Hi. I am an outreachy applicant. I am interested in project 'Design a new full-screen user interface for Infragram.org'. I was wondering if I could get an issue assigned for the same.

[2022-04-01 15:24] Sakshamgupta90 commented on #10892
@on2onyekachi I have design this layout for the project Refine user interface. Its our choice whether to change the layout or not. But, I think of better layout design.

[2022-04-01 15:24] riyaku11 commented on #10153
Hi. I am an outreachy applicant. I am interested in project 'Design a new full-screen user interface for Infragram.org'. Can i get an issue assigned for the same?

[2022-04-01 15:35] Tanish2000 commented on #10153
Hi, I am a GSOC applicant. I am interested in project "Refine User Interfaces across PublicLab.org". Can I get an issue assigned for the same.

[2022-04-01 15:44] TildaDares commented on #10883
@RaviAnand111 You removed the `aria-label` attribute. Also you need to add the `data-placement: top` attribute.

[2022-04-01 15:48] RaviAnand111 commented on #10883
sorry about that, 🥲 I will change that

[2022-04-01 16:01] RaviAnand111 commented on #10883
Hey @TildaDares, can you please have a look again.
Thank You

[2022-04-01 16:16] TildaDares commented on #10883
It’s perfect @RaviAnand111. Thank you!

[2022-04-01 16:17] TildaDares commented on #10883
Reserved for @ernestmusong for 24 hours.

[2022-04-01 17:04] mehul89 commented on #10892
hello @Sakshamgupta90 it's an awsome UI user interface 🤩 I want to work with you

[2022-04-01 17:43] Sakshamgupta90 commented on #10892
Hi, @mehul89 its better to take approval from the mentors :)
Thank you!

[2022-04-01 18:27] TildaDares commented on #10153
@archijaiswal there's an issue reserved for you in https://github.com/publiclab/community-toolbox/issues/548

[2022-04-01 18:29] AsmaButt11 commented on #10153
Hi @TildaDares  I am Outreachy applicant still waiting for FTO.

[2022-04-01 18:30] TildaDares commented on #10850
Reassigning

[2022-04-01 18:32] TildaDares commented on #10850
@nuilewis, @siddhi-244, @Albert-Debbarma there are issues reserved for you.

[2022-04-01 18:32] TildaDares commented on #10153
Hi @nuilewis, @siddhi-244, @Albert-Debbarma there are issues reserved for you in #10850

[2022-04-01 18:34] AsmaIbrahimButt commented on #10153
Hi @TildaDares  I am outreachy applicant still waiting for FTO.

[2022-04-01 18:35] siddhi-244 commented on #10850
Will do it. Thanks

[2022-04-01 18:37] nuilewis commented on #10850
Thank you @TildaDares , I'll get started right away.

[2022-04-01 19:22] Sakshamgupta90 commented on #10892
@TildaDares, this is for GSoC.

[2022-04-01 19:29] cesswairimu commented on #10892
Hi @Sakshamgupta90,  this is looking good, since this is a proposal,  you can continue refining it and once GSoC officially opens the contribution period next week,  we will open the call for proposals on the PublicLab website where you can post there along with timelines and in-depth ideas for the project and the mentors can give their input. What does this sound?
Thanks

[2022-04-01 19:33] Sakshamgupta90 commented on #10892
Okay sounds good. Thank you :)

[2022-04-01 19:36] on2onyekachi commented on #10892
Oh Okay!. This layout is looking pretty good!. What app did you sketch this with? @Sakshamgupta90

[2022-04-01 19:38] VictoriaAjala commented on #10890
Hello @TildaDares I have resolved the issues, kindly review.

[2022-04-01 20:00] Sakshamgupta90 commented on #10892
@on2onyekachi  I didn't use an app for this, just simply created it on the flowchart design website: https://app.diagrams.net/

[2022-04-01 22:37] Forchapeatl commented on #10888
@TildaDares  please can you assign this issue

[2022-04-01 22:47] TildaDares commented on #10888
@Forchapeatl The issue needs to look like this #10895. Also, you have wrap the cancel button inside the if statement for all of the social media accounts and not just twitter.

[2022-04-01 23:33] Forchapeatl commented on #10888
okay

[2022-04-02 05:40] ShrutiKoli19 commented on #10153
Hi @TildaDares, I requested for FTO 3 days ago but still didn't get any response. So, could you please help me out.

[2022-04-02 06:23] AdejinmiSeyi commented on #10153
Hello @TildaDares I'm an outreachy applicant. Kindly help assign me to a first timers issue.

[2022-04-02 07:16] TildaDares commented on #10888
Reserved for @buildwithallan for 24 hours!

[2022-04-02 07:18] TildaDares commented on #10888
Thanks @Forchapeatl! This is perfect.

[2022-04-02 07:23] TildaDares commented on #10153
Hi @buildwithallan, there's an issue reserved for you in #10888

[2022-04-02 07:33] asaayushisingh commented on #10895
I'd like to try this!

[2022-04-02 07:41] asaayushisingh commented on #10153
Hey, I am an Outreachy 2022 applicant.
I wanted to start contributing to opensource, with First time Issues.
I am good at Reactjs, vuejs, RoR, Nodejs and docker.
Please add me to the list.

[2022-04-02 08:17] rajvidg commented on #10153
Hello, I am Rajvi, an Outreachy applicant, looking forward for FTO, so can you please assign me one.

[2022-04-02 09:36] roli25 commented on #10153
Hello, I am an Outreachy applicant, interested in MapKnitter.org Spam Management system project. @TildaDares Kindly assign me a first timers issue.

[2022-04-02 09:38] Tanish2000 commented on #10153
Hey @TildaDares. I am waiting for an FTO to be assigned. I am a  GSOC applicant please help.

[2022-04-02 09:41] adeolaadedeji commented on #10153
Hi @TildaDares. I am waiting for an FTO to be assigned to me. I am an outreach applicant please help.

[2022-04-02 10:34] imranburki commented on #10153
@TildaDares I am added in list but still no issue assigned to me.

[2022-04-02 13:18] romasinha commented on #10153
@TildaDares I am added in the list but haven't been assigned any FTO issue yet.

[2022-04-02 14:19] ishikajn8126 commented on #10845
yeah sure! absolutely no issues!!

[2022-04-02 14:21] TildaDares commented on #10845
Thank you @ishikajn8126!!!

[2022-04-02 14:22] TildaDares commented on #10845
Hi @kunlefash, you can work on this!

[2022-04-02 14:44] illyShelly opened #10907 "Add some Margin on top of buttons on the homepage underneath of Activities and Questions"

[2022-04-02 14:51] Sakshamgupta90 commented on #10754
Hi @Forchapeatl, you can only submit one proposal, but before submitting you can ask the mentors for its review.

[2022-04-02 15:16] Forchapeatl commented on #10754
This is heart breaking my intentions were to submit to proposals so to reduce the probability of being rejected. Thank you for this information @Sakshamgupta90

[2022-04-02 15:46] Sakshamgupta90 commented on #10754
@Forchapeatl You are talking about GSOC or Outreachy? For GSOC yes you can submit 3 proposals.

[2022-04-02 16:20] kunlefash commented on #10845
Thank you very much

[2022-04-02 16:44] rohaid-bakh commented on #10897
Thank you! I'll get started on it immediately.

[2022-04-02 16:47] nuilewis commented on #10850
Hello, I've done the changes to the file I was assigned to, I'm about to create a PR, and there are no conflicts, but I'm a bit confused on what issue number I'm supposed to use for my PR, can somebody please clarify me on this?

[2022-04-02 16:47] essilfiequansah commented on #10153
Hello @TildaDares , I am an Outreachy applicant, and I'm intrested in bieng assigned to a FTO Inssue. Please help.

[2022-04-02 16:54] essilfiequansah commented on #10840
Hello Everyone, My name is Essilfie, an outreachy applicant summer 2022 and I am excited to be here.

[2022-04-02 17:01] TildaDares commented on #10850
@nuilewis The issue number is the number at the top of this issue. It usually starts with a #

[2022-04-02 17:06] nuilewis commented on #10850
Okay, thank you. I got confused because I saw the same issue with a different issue number, but I was able to get the right one. I made a PR, please review my changes if it's okay.

[2022-04-02 18:11] Forchapeatl commented on #10754
Thank you @Sakshamgupta90 , thank you.

[2022-04-02 19:22] komal3120 commented on #10153
@TildaDares  I am added in the list but haven't been assigned any FTO issue yet.

[2022-04-02 20:04] TildaDares commented on #10907
@illyShelly Done!

[2022-04-02 20:28] KindEni commented on #10840
Hello Everyone, Kindness Onyedikachi Eni , am happy to be here

[2022-04-02 21:45] KindEni commented on #10153
Hello @TildaDares , I am an outreachy applicant, I need an FTO issue

[2022-04-02 23:16] PeculiarE commented on #10871
Good points @RaviAnand111 about taking time to care for yourself. it's something I'm sometimes very careless about. Could be so focused on solving a problem to the detriment of my health and fitness. But I'm gradually learning to find a balance. Thanks for sharing ❤️ .

And it's nice and encouraging to see you paying the help forward by helping other contributors having issues in the chatroom. Muc

[2022-04-03 01:24] romasinha commented on #10894
@TildaDares since this issue hasn't been addressed yet, can I take it up?

[2022-04-03 02:14] DOC-ELIJAH commented on #10153
Hello, I am Hope Anthony and I am an Outreachy applicant. I am excited to conquer more territories with this community.

[2022-04-03 03:45] Crisoal commented on #10153
Hello there, @TildaDares. I requested FTO three days ago and have yet to be assigned any. 

[2022-04-03 03:49] Bhawna-Sharma-9903 commented on #10840
Hello everyone Bhawna this side , I am outreachy intern applicant and a first timer to open source , Thanks for having me .

[2022-04-03 03:52] Bhawna-Sharma-9903 commented on #10153
Hello I am Bhawna and want to request for FTO , my interests are in python , UI/UX, django, HTML, CSS , javascript, Written Communication skill, Thanks for having me.

[2022-04-03 07:28] dayitachaudhuri commented on #10153
Hey, I am an Outreachy 2022 applicant. I wanted to start contributing with FTO Issues. Please add me to the list.

[2022-04-03 07:30] dayitachaudhuri commented on #10153
Hello, I am Dayita Chaudhuri and I am an Outreachy 2022 applicant. I am looking forward to start contributing to Open Source with FTO Issues. Please add me to the list. Thank You.

[2022-04-03 08:13] TildaDares commented on #10894
Hi @romasinha, go ahead! Thanks

[2022-04-03 11:14] shefali12-ab commented on #10871
@PeculiarE  I would like to open next check-in.

[2022-04-03 11:43] Annysah commented on #10859
Hello @TildaDares,
Please kindly review my PR at #10910.
Thank you!

[2022-04-03 11:47] RaviAnand111 commented on #10871
Great @shefali12-ab ❤️, go for it , You can ask @cesswairimu @TildaDares or even me for any doubts you have.

[2022-04-03 12:19] arpita221b commented on #10840
Hello everyone, I am Arpita Naval, an outreachy applicant. I am familiar with HTML, CSS, JavaScript and React. I want to contribute to the project Infragram.org.

[2022-04-03 12:35] arpita221b commented on #10153
Hello!
I am Arpita, I am an outreachy applicant. I am looking forward to contribute to infragram project with the FTO issue. Please add me to the list.

[2022-04-03 12:56] shefali12-ab commented on #10871
sure @RaviAnand111 . Thank you :)

[2022-04-03 13:35] TildaDares commented on #10850
Reassigning

[2022-04-03 13:36] TildaDares commented on #10850
Hi @Linjelium11, there's an issue reserved for you. Reserved for 24 hours.

[2022-04-03 13:37] TildaDares commented on #10153
Hi @Linjelium11, there's an issue reserved for you in #10850. It's reserved for 24 hours.

[2022-04-03 13:44] TildaDares commented on #10897
Reassigning

[2022-04-03 13:44] TildaDares commented on #10897
Hi @RuthAtem, there's an issue reserved for you. It's reserved for 24 hours.

[2022-04-03 13:45] TildaDares commented on #10153
Hi @RuthAtem, there's an issue reserved for you in #10897 for 24 hours!

[2022-04-03 14:02] TildaDares commented on #10888
Reassigning

[2022-04-03 14:03] TildaDares commented on #10888
Reserved for @ShivraniAJ for 24 hours!

[2022-04-03 14:04] TildaDares commented on #10153
Hi @ShivraniAJ, there's an issue reserved for you in #10888. It's reserved for 24 hours!

[2022-04-03 14:05] TildaDares commented on #10883
Reassigning

[2022-04-03 14:05] TildaDares commented on #10883
Reserved for @Zinkeng for 24 hours!

[2022-04-03 14:06] TildaDares commented on #10153
Hi @Zinkeng, there's an issue reserved for you in #10883

[2022-04-03 14:07] Hydriah commented on #10845
hello @TildaDares  can i "help" since a help is needed or has it been claimed?

[2022-04-03 14:24] Zinkeng commented on #10153
Thank you @TildaDares will work on that

[2022-04-03 14:26] #10859 closed

[2022-04-03 14:28] Hydriah commented on #10888
hello @TildaDares would like to "help"  just incase am needed?

[2022-04-03 14:32] #10884 closed

[2022-04-03 14:38] Zinkeng commented on #10883
Thank you @TildaDares will start working on this

[2022-04-03 14:55] RaviAnand111 opened #10911 "Extra space in the author popover"
### Please describe the problem (or idea)
There is too much space before the name of authors which makes the popover wierd looking.

### Please show us where to look
https://publiclab.org/events
![new_issue_publiclab](https://user-images.githubusercontent.com/59113935/161433924-b9eab9aa-94b5-4fc0-a902-1c4122c52dea.png)

****
Hey @TildaDares @jywarren @cesswairimu, Do you think it is intentional ?

[2022-04-03 15:14] JyotiKM29 commented on #10153
Hello, I am Jyoti and I am an Outreachy 2022 applicant. I am looking forward to start contributing to Open Source with FTO Issues. Please add me to the list. Thank You.

[2022-04-03 15:44] TildaDares commented on #10911
@RaviAnand111 You're right about the extra space. You can create an FTO.

[2022-04-04 03:38] shefali12-ab opened #10914 "Extra right and bottom margin and unequal size of cards(people active on public lab)."
### Please describe the problem (or idea)
 extra right and bottom margin at the place where map is present , also size of cards (people active on public lab)are not equal it can be improved so that UI looks good.
also one thing that can be done is ,placing the cards first and at the bottom of cards we can place map.

![Screenshot from 2022-04-04 08-56-04](https://user-images.githubusercontent.com/

[2022-04-04 03:41] shefali12-ab commented on #10914
Hii, @TildaDares @cesswairimu i just encounter this issue. do let me know your views about this issue.

[2022-04-04 04:37] saikmusunuri commented on #10911
Hey @TildaDares, can I please work on this issue?

[2022-04-04 04:43] ShivraniAJ commented on #10888
I would like to fix this issue.

[2022-04-04 04:55] cesswairimu commented on #10840
Hi all, and welcome again.

Update:
[Here](https://publiclab.org/notes/cess/04-04-2022/call-for-proposals-outreachy-summer-2022) is a link to a call for proposals on the PL website, which also has a template for drafting the template, sample proposals for past interns and helpful pointers while drafting the proposals. Kindly submit early and post the link here or on gitter so that contributors and

[2022-04-04 05:00] romasinha commented on #10153
@TildaDares Please assign me an issue. I was added in the list 5 days ago.

[2022-04-04 05:33] cesswairimu opened #10915 "🎉 Welcome GSoC 2022 applicants and call for proposals 🎉 🙋‍♀️🙋🙋‍♂️"
Hello :wave: and welcome to PublicLab :balloon:
We are glad to have you here. We are participating in Google Summer of Code(GSoc) this summer.
This is a discussion issue for all of you. If you would like to checkout our large community you can find us on [chat channels](https://publiclab.org/chat) and also we do weekly check-ins where folks say what they are working on and ask for help if blocked.

[2022-04-04 06:42] TildaDares commented on #10153
Hi @romasinha, you requested to be assigned to #10894 and i assigned you.

[2022-04-04 07:31] akanbifatimah commented on #10840
Thank you @cesswairimu  💕💕

[2022-04-04 08:31] TildaDares commented on #10888
Hi @ShivraniAJ, you can go ahead and work on it.

[2022-04-04 08:37] TildaDares commented on #10914
@shefali12-ab About the extra right margin, it's not the same on my screen
<img width="1280" alt="Screenshot 2022-04-04 at 09 34 56" src="https://user-images.githubusercontent.com/63427719/161505891-d72a8f95-c215-4c6d-886e-07e98a03d394.png">

Also, the reason why the cards aren't equal is that some users have tags on their cards and others don't. Some tag texts are also longer than others. Do you

[2022-04-04 09:00] #10895 closed

[2022-04-04 09:03] #10815 closed

[2022-04-04 09:38] AsmaIbrahimButt commented on #10840
Hi everyone , My name is Asma Butt also a front end developer .I have been selected in outreachy initial application and super excited to contribute in this open source project.

[2022-04-04 10:20] Hydriah opened #10916 "Translate a hardcorded string in the "views" file and insert into the "YAML" file"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-04 10:26] Hydriah commented on #10916
@publiclab/reviewers @jywarren @TildaDares  please i need reviews on this

[2022-04-04 10:51] RaviAnand111 opened #10917 "Extra space before author names in Popovers"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-04 10:52] RaviAnand111 commented on #10917
Hey @TildaDares, can you please review this issue.
ThankYou

[2022-04-04 10:52] Hydriah opened #10918 "Including a "hardcoded string" in the YAML file and translation"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-04 10:54] Hydriah commented on #10918
@jywarren @TildaDares  please review this

[2022-04-04 11:43] samiali12 commented on #10915
Hello,

[2022-04-04 13:34] #10845 closed

[2022-04-04 13:48] TildaDares commented on #10917
Great work @RaviAnand111. Instead of using a `style` attribute, can you use the bootstrap class `p-0` instead? Thanks!

[2022-04-04 13:50] TildaDares commented on #10916
@Hydriah Great work!! I think the translation key should be `user.settings.email_notification`.

[2022-04-04 13:57] Tanish2000 commented on #10153
Hi, @TildaDares. I am waiting for an FTO, please assign one. I am on the list for the last two days.

[2022-04-04 14:02] gptshubham595 opened #10919 "test"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-04 14:03] #10919 closed, assigned to nobody

[2022-04-04 14:09] RaviAnand111 commented on #10917
@TildaDares, done, please have a look again.
Thanks

[2022-04-04 14:10] TildaDares commented on #10917
Reserved for @NastehaAbdulhakim

[2022-04-04 14:11] TildaDares commented on #10153
Hi @NastehaAbdulhakim, there's an issue reserved for you in #10917 for 24 hours.

[2022-04-04 14:20] illyShelly opened #10920 "Add new translation file cz.yml to support Czech language (CZ)"
Add and start working on a new .yml file to support Czech language in `config/locales folder`

**Please describe the desired behavior.**
Describe the solution you'd like.
Slowly contributing into the cz.yml file to support and translate more English keys.

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.

[2022-04-04 14:32] keshavgbpecdelhi commented on #10915
Hi, I am Keshav, new to publiclab, a potential GSOC applicant. I found publiclab an awesome community, Happy to be the part of this amazing supportive environment. I will give my fullest. 🐱‍🏍🧡

[2022-04-04 14:48] TildaDares commented on #10918
@Hydriah I don't think we have a translation key for `admin.spam.moderate_potential_spam` in `en.yml`. I can't find it.

[2022-04-04 15:00] shefali12-ab commented on #10914
okay @TildaDares i understand it, i will try if we can make the size of cards equal and will let you know.
Moreover I have two more suggestions:-
1. The first time i have opened this public.org/people page i didn't understand what this map is about . so, we can add a little description about this map. under the map.
2.  We can create a issue that basically contains all the queries and their soluti

[2022-04-04 15:00] Hydriah commented on #10916
@TildaDares thanks would amend that

[2022-04-04 15:05] TildaDares commented on #10914
@shefali12-ab There’s a text underneath the map that tells you why the map is there. Do you think that isn’t helpful enough or we could place it in a location that’s more visible?

We have a setup issue in #10844

[2022-04-04 15:58] ajtoure commented on #10153
Hi @TildaDares , I'm AJ, and I am an Outreachy Applicant. I work best with HTML, CSS, JavaScript. I'm hoping to get started on an FTO issue. I'm excited to get going. Thank you!

[2022-04-04 15:59] kunmi02 opened #10922 "Use length.positive instead of length > 0"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-04 16:12] Sakshamgupta90 commented on #10915
Hi @cesswairimu, since there are two project sizes, it's our choice which project size we should consider? or do we have to consider for 350hr only?
2.)And If suppose I choose 175 hr project size, then is it our choice that, what we can do during that timeline according to a project?
3.) which is good?175 hr or 350hr.
Thank you!

[2022-04-04 16:28] kunmi02 opened #10924 "Use double pipes instead of : in search.rb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-04 16:28] kunmi02 commented on #10924
Hi @TildaDares

Issue reserved for first timers

[2022-04-04 16:29] shefali12-ab commented on #10914
@TildaDares yes we can make it more visible. also text present underneath the map is just asking about (sharing your own location on profile) so, can't it be more descriptive like why should people share there profile. or something about this map.

[2022-04-04 16:31] kunmi02 opened #10925 "revert ternary branches to negated conditions"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-04 16:36] kunmi02 commented on #10925
@TildaDares Reserved issue for FTO candidates

[2022-04-04 16:48] TildaDares commented on #10925
Hi @kunmi02, can you add a link to the file here? Thanks!

[2022-04-04 16:49] TildaDares commented on #10925
Looks good!! Thank you @kunmi02

[2022-04-04 16:50] TildaDares commented on #10925
Reserved for @cor100 for 24 hours!!

[2022-04-04 16:51] TildaDares commented on #10924
Looks good @kunmi02. Thank you!!

[2022-04-04 16:51] TildaDares commented on #10924
Reserved for @EECvision for 24 hours!

[2022-04-04 16:52] TildaDares commented on #10922
Reserved for @untari for 24 hours!

[2022-04-04 17:12] TildaDares commented on #10153
Hi @roli25, it looks like you've already worked on a first-timers issue in #9521. Since you've completed an FTO, you can create an FTO for someone else or look for issues with the [bug](https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3Abug) tag or [help wanted](https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) tag. Thank you!!

[2022-04-04 17:15] TildaDares commented on #10897
Reassigning!

[2022-04-04 17:15] TildaDares commented on #10897
Hi @Tanushka11, there's an issue reserved for you for 24 hours!

[2022-04-04 17:16] TildaDares commented on #10153
Hi @Tanushka11, there's an issue reserved for you in #10897 for 24 hours!

[2022-04-04 17:21] TildaDares commented on #10914
@shefali12-ab Actually the text is telling you why the map is there. This is the text:
`Current view based on your shared location. Click [here](https://publiclab.org/profile) to adjust.`

[2022-04-04 17:32] TildaDares commented on #10916
Reserved for @AineTim for 24 hours!

[2022-04-04 17:33] TildaDares commented on #10916
Thanks @Hydriah!!!

[2022-04-04 17:33] TildaDares commented on #10153
Hi @AineTim, there's an issue reserved for you in #10916 for 24 hours!

[2022-04-04 17:42] Tanish2000 commented on #10915
Hi, I am Tanish, a potential GSoC applicant. I am looking for an FTO issue. Please help to get one.

[2022-04-04 17:44] Tanish2000 commented on #10925
Hey @TildaDares . I want to work on this issue. I am GSoc applicant and looking for a FTO.

[2022-04-04 17:46] harshithatnbr commented on #10153
Please assign me FTO @TildaDares .

Thankyou!!

[2022-04-04 17:49] TildaDares commented on #10153
Hi @Arup-Deb, you've already worked on a first-timers issue in https://github.com/publiclab/infragram/pull/287. Since you've completed an FTO, you can create an FTO for someone else or look for issues with the [bug](https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3Abug) tag or [help wanted](https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wa

[2022-04-04 17:54] TildaDares commented on #10850
Reserved for @marshatiisa for 24 hours!

[2022-04-04 17:55] TildaDares commented on #10153
Hi @marshatiisa, there's an issue reserved for you in #10850 for 24 hours.

[2022-04-04 18:00] Tanushka11 commented on #10897
Hii @TildaDares thank you, I will start working on it immediately.

[2022-04-04 18:00] AineTim commented on #10916
Thanks @TildaDares let me get to it

[2022-04-04 18:03] girija0707 commented on #10840
Thank you @cesswairimu ✨😊

[2022-04-04 18:05] ebarry opened #10944 "Punctuation at end of URL in comments incorporated into link, breaking the link"
Posting for BHamster:

### Please describe the problem

When making a comment on a post, if people paste a whole URL at the end of a sentence and put a period at the end of the URL, the hyperlink that automatically generates in the published comment incorporates the period and then becomes a bad link. e.g., [this recent comment](https://publiclab.org/questions/bhamster/02-10-2022/is-there-federal-

[2022-04-04 18:14] marshatiisa commented on #10850
I have updated this in: e0c595d832d9c1c03c79f7e2e8a7aca187254e5d
@TildaDares

[2022-04-04 18:29] Forchapeatl commented on #10754
@Sakshamgupta90  please help me with this confusion
It seems like the GSOC portal requires PDF file
![image](https://user-images.githubusercontent.com/24577149/161606701-8ebb53d9-031d-4bf0-82a3-28d7b7487757.png)
But our public lab requires a text  HTML form submit
![image](https://user-images.githubusercontent.com/24577149/161608100-3d72c7c7-7720-4bb1-816c-fa401eb0f5a7.png)

[2022-04-04 18:41] Sakshamgupta90 commented on #10754
Hi @Forchapeatl, I suggest that first create a proposal that you can post on the Public lab website for reviews. After that, when it is  finalized just copy it in a word file and convert it to PDF and send it on GSOC.

[2022-04-04 18:41] Forchapeatl commented on #10754
@Sakshamgupta90 , Thank you

[2022-04-04 18:45] marshatiisa commented on #10840
Hi everyone !
I am Marsha Tiisa, an Outreachy applicant. I look forward to contributing as much as i can to this project.

[2022-04-04 18:46] TildaDares commented on #10850
Hi @marshatiisa, I don’t think you’ve created a PR.

[2022-04-04 18:59] AbihaFatima opened #10928 "Improve `TESTING.md` doc"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-04 19:05] Tanushka11 commented on #10897
#10926

[2022-04-04 19:06] AbihaFatima commented on #10928
Hey @TildaDares! here's a FTO issue, kindly have a look. Thanks!

[2022-04-04 19:11] Tanushka11 commented on #10897
Hey @TildaDares  Please Review #10926

[2022-04-04 19:13] TildaDares commented on #10928
@AbihaFatima Great work spotting this. There’s also an error in the Build Status heading, can you add that to the issue too? https://github.com/publiclab/plots2/blob/main/doc/TESTING.md#build-status. `Builds` is spelt as `buils` there. Thanks!!

[2022-04-04 19:14] ishikajn8126 commented on #10844
Hey @TildaDares, tried installing nodejs and running `bundle install` again, it's still giving the same error. I've got the project on running on gitod though..!

Hey @PeculiarE @stephaniequintana, thanks a lot for your inputs, I've got the project running on gitpod and opened a PR as well..

[2022-04-04 19:34] preeti-14-7 commented on #10153
HI @TildaDares please reserve an issue for me I m waiting from a long time

[2022-04-04 19:37] PeculiarE commented on #10844
Awesome news @ishikajn8126 and you're very welcome 😄

[2022-04-04 19:38] AbihaFatima commented on #10928
Done! 👍

[2022-04-04 20:02] marshatiisa commented on #10850
I have now created a PR. @TildaDares

[2022-04-04 20:04] TildaDares commented on #10928
Thanks @AbihaFatima!!

[2022-04-04 20:04] TildaDares commented on #10928
Reserved for @stylebytemi for 24 hours!!

[2022-04-04 20:05] TildaDares commented on #10153
@stylebytemi There’s an issue reserved for you in #10928 for 24 hours!

[2022-04-04 20:28] RuthAtem commented on #10897
Hi @TildaDares Thanks for assigning me, Please can I still work on  it

[2022-04-04 20:46] #10918 closed

[2022-04-04 20:56] TildaDares commented on #10897
Hi @RuthAtem, it has already been reassigned but I’ll put your name back on the list.

[2022-04-04 21:02] YUVRAJ06singh08deora commented on #10928
I would like to try this issue please assign me this issue.

[2022-04-04 21:04] AineTim commented on #10916
@TildaDares Tasks ready for review though the second one had a PR check error, doubt its from the changes

[2022-04-04 21:06] RuthAtem commented on #10897
Okay thank you

[2022-04-04 22:05] cor100 commented on #10153
Thank you @TildaDares

[2022-04-04 22:14] Hydriah opened #10933 "Adding translation to "hard-coded string""
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-04 22:15] Hydriah commented on #10933
hello @TildaDares  please check if this is a good enough FTO

[2022-04-04 22:35] Bhawna-Sharma-9903 commented on #10153
@TildaDares please can you assign me an issue too , I am waiting from 2 days .

[2022-04-04 22:37] Hydriah commented on #10914
@TildaDares  i am thinking the differ in sizes is from its screen responsiveness

[2022-04-04 23:21] romasinha commented on #10894
@TildaDares Please review the PR and let me know of any edits.

[2022-04-04 23:50] Edd-wordd commented on #10840
Hello everyone! My name is Eddwordd, self taught front end dev. Super excited to continue my growth as a developer and looking forward to contributing to the growth of this project!

[2022-04-05 00:13] Edd-wordd commented on #10922
Hello @TildaDares I'd like to try this issue out! TY!

[2022-04-05 01:23] cor100 commented on #10925
I will be working on this issue!

[2022-04-05 02:54] Tanish2000 commented on #10925
Ok

[2022-04-05 03:59] simransia commented on #10840
Hello everyone, I am Simran Chaurasia, an outreachy applicant. I have a doubt regarding contribution. I have already submitted my design proposal by opening an issue in the Infragram repository. So, do I still need to request for FTO issues and make a pull request after solving the FTO issue? Is is mandatory to solve FTO issue before submitting the final proposal ? Because FTO isuue will require m

[2022-04-05 04:43] manognyaa commented on #10840
hello, I am manognya dasika an outreachy applicant from India. I am having good knowledge in HTML,CSS,JS and github. I am looking for first timer issues. @TildaDares it would be great if you assign me a first timer issue so that I would be comfortable to contribute to the infragram project.

[2022-04-05 04:44] rajvidg commented on #10153
Hi, @TildaDares. I am waiting for an FTO, please assign me one. I was added to the list about a week ago.

[2022-04-05 04:52] manognyaa commented on #10893
hello, is this issue still open @TildaDares ? can I take this issue. please let me know

[2022-04-05 04:54] manognyaa commented on #10883
so, 24 hours is completed right. Can I work on this issue @TildaDares

[2022-04-05 05:12] manognyaa commented on #10153
Hi !!
Thank you for the information! @noi5e
I'm interested in front-end web development, please assign me @TildaDares ma'am, any FTO issue to contribute in Public Lab🎈.

[2022-04-05 05:28] ShivraniAJ commented on #10888
Yes, I will fix that issue.

[2022-04-05 05:33] apoorva-1920 commented on #10153
Hello @TildaDares   Ma'am , I would like to work on the frontend part of this project, Please assign me any FTO issue for contribution.
Thank you!

[2022-04-05 06:27] TildaDares commented on #10883
Hi @manognyaa, @Zinkeng has already claimed this issue.

[2022-04-05 06:28] TildaDares commented on #10893
Hi @manognyaa, this issue has been claimed.

[2022-04-05 06:46] apoorva-1920 commented on #10840
Hello Everyone!!
I am Apoorva Rawjiwar , an outreachy applicant from India. I am a frontend Web Developer , Loooking forward to contribute to this project.

[2022-04-05 06:46] apoorva-1920 commented on #10840
Hello Everyone!!
I am Apoorva Rawjiwar , an outreachy applicant from India. I am a frontend Web Developer , Looking forward to contribute to this project.

[2022-04-05 07:10] cesswairimu commented on #10871
Hi all, a little late to ask but would anyone like to open this week's check-in?  I will open in the next few hrs if no one is up for it.
Thanks all

[2022-04-05 07:21] #10850 closed

[2022-04-05 07:25] RaviAnand111 commented on #10871
Hi @cesswairimu I think @shefali12-ab was going to do it. I am also happy to create one If no one is creating it.

[2022-04-05 07:25] cesswairimu commented on #10840
hi @simransia, it is not a requirement to solve a FTO, If you have worked on any issue esp or the project you are applying to it is totally fine. Thanks

[2022-04-05 07:26] TildaDares commented on #10933
Hi @Hydriah, you need to add the `cancel` key to this translation key https://github.com/publiclab/plots2/blob/69fc16023f000116fac6893e2672800b67f9f500/config/locales/en.yml#L168

[2022-04-05 07:43] cesswairimu commented on #10871
Hi @RaviAnand111  my bad, missed that, thanks :heart:.
Hi @shefali12-ab, kindly feel free to open anytime today and do reach out in case of anything. We have a template we use [here](https://github.com/publiclab/plots2/issues/new?assignees=&labels=community+check-in&template=--weekly-check-in.md&title=Weekly+Community+Check-In+%23+-+Topic)  I was thinking we could do it on the Infragram project th

[2022-04-05 08:04] #10928 closed

[2022-04-05 08:23] cesswairimu commented on #10915
Hi @Sakshamgupta90, Jeff replied to this question best [here](https://github.com/publiclab/plots2/issues/10754#issuecomment-1082331256). Please let us know if you have any further questions. Thanks

[2022-04-05 08:51] cesswairimu opened #10937 "Update check-in link in welcome bot"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-05 08:52] cesswairimu commented on #10937
Reserved for @Tanish2000

[2022-04-05 08:53] cesswairimu commented on #10915
Hi @Tanish2000,  I have reserved  this one [here](https://github.com/publiclab/plots2/issues/10937)  for you. Thanks

[2022-04-05 08:54] simransia commented on #10153
Hello @TildaDares mam. I want to work on Infragram project and I have made a design proposal for that and have also created an issue for the proposal discussion. But I want to know whether I have to also solve FTO issues of plot 2 in order to become eligible for submitting my final application of outreachy? If yes then please assign me FTO issue. I will be happy working on that. ☺️

[2022-04-05 09:05] Tanish2000 commented on #10937
Thanks @cesswairimu. I will work on it.

[2022-04-05 09:14] TildaDares commented on #10153
Hi @simransia, you need to submit at least one contribution for your final application to be eligible.

[2022-04-05 09:16] untari commented on #10922
Hi @TildaDares  Thanks! Start working on it

[2022-04-05 09:44] kunlefash opened #10938 "Adding margin and border-radius to the Run button @publiclab/plots2-reviewers"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-05 09:50] Hydriah commented on #10933
hello@TildaDares ok thanks, how about now?

[2022-04-05 10:29] YUVRAJ06singh08deora commented on #10897
Hey @TildaDares I would also like to try out this issue

[2022-04-05 10:51] shefali12-ab commented on #10914
sure @mittal-parth we can do like this also. @TildaDares can we do it like this as parth has shown in above image.

[2022-04-05 10:52] shefali12-ab commented on #10871
Hey @cesswairimu i will do it by today. Thank you :)

[2022-04-05 10:58] TildaDares commented on #10933
@Hydriah It’s perfect, thank you!!!

[2022-04-05 10:59] TildaDares commented on #10933
Reserved for @stylebytemi for 24 hours!!

[2022-04-05 11:00] TildaDares commented on #10153
Hi @stylebytemi, there’s an issue reserved for you in #10933 by @Hydriah. It’s reserved for 24 hours.

[2022-04-05 11:01] TildaDares commented on #10897
Thank you @YUVRAJ06singh08deora but all of the issues have been claimed.

[2022-04-05 11:04] TildaDares commented on #10914
If it’s fine with you I’d like to see a screenshot of what a profile without tags would like beside one with tags using a fixed width. I want to know if the profile would look empty when it doesn’t have tags.

[2022-04-05 12:10] simransia commented on #10153
@TildaDares please assign an FTO  issue for me as well, mam.
 Thank You!❤️

[2022-04-05 12:28] AmenuveveDordor commented on #10938
@TildaDares I would like to work on this issue asmy second contribution

[2022-04-05 12:36] mittal-parth commented on #10914
@shefali12-ab Would you like to try?

[2022-04-05 13:11] TildaDares commented on #10938
Hi @kunlefash, can you attach before and after pictures? Thanks!

[2022-04-05 13:52] simransia commented on #10840
Hello @cesswairimu . Thanks a lot for answering my query😊

[2022-04-05 14:39] Deepanshu039 commented on #10938
greetings @TildaDares , I am very new to this open source community and i have basic understanding of frontend so i would like to make a request if you could assign me with my first issue, that will be really helpful in getting started with open source contribution.

[2022-04-05 14:47] Deepanshu039 commented on #10840
greetings @cesswairimu I am very new to this open source contribution thing, and I am looking for the first issue to solve so I request you to help me with this. Would you please help me out in getting the first issue.

[2022-04-05 15:39] jywarren commented on #10830
Hi all! This is part of our giant "Deprecate legacy systems" project, and we have a plan to port all of this type over to be notes, at https://github.com/publiclab/plots2/issues/4072, as a part of #956.

I saw that Google searching on PublicLab.org does seem to work for me: https://publiclab.org/search/kamwokya shows:

<img width="1315" alt="image" src="https://user-images.githubusercontent.com/24

[2022-04-05 15:39] #10830 closed, assigned to nobody

[2022-04-05 16:19] jywarren commented on #10944
Thank you! I think we should be able to address this by tweaking the markdown interpreter. The comment body is rendered here:

https://github.com/publiclab/plots2/blob/7c3af440498624f5dca5ce9ee07f04bc3ad90e73/app/views/notes/_comment.html.erb#L146-L149

But it's parsed from markdown here:

https://github.com/publiclab/plots2/blob/ecae3b9f48825fadab8d0be0ddf413d153e97fae/app/models/comment.rb#L505-

[2022-04-05 16:34] AineTim commented on #10916
@TildaDares Pending review

[2022-04-05 16:46] jywarren commented on #10754
Quick feedback for @Forchapeatl -- usually each year there is some time where we can see that there is more interest in one proposal than another, and we encourage people to try to submit proposals for those project ideas that don't yet have as many proposals. But we hope to do this before you've put too much work into your proposals, because it doesn't seem fair to ask people to prepare more than

[2022-04-05 16:51] RaviAnand111 commented on #10917
Hi @legendkong, @NastehaAbdulhakim has been assigned this issue for now.

[2022-04-05 16:55] jywarren commented on #10754
Also i had a great question about what criteria we use to evaluate proposals/applicants. It's complex, but here's my best try:

We look at a range of criteria, from how detailed and responsive to our feedback your proposal is, to how well you are working collaboratively and communicating, to the way you approach and solve problems, as best as we can see in the work you show us. We are just getting

[2022-04-05 16:57] first-timers[bot] opened #10946 "add meta tag to warn bots not to index revision pages"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-05 16:58] jywarren commented on #10153
Hi @RuthAtem here is one reserved for you for 24 hours: https://github.com/publiclab/plots2/issues/10946

[2022-04-05 17:00] #10920 closed, assigned to nobody

[2022-04-05 17:02] #10888 closed

[2022-04-05 17:05] #10894 closed

[2022-04-05 17:11] RaviAnand111 commented on #10840
Hey @Deepanshu039,  You can comment here https://github.com/publiclab/plots2/issues/10153 to get your FTO, when 1 is available it will be assigned to you. Till then you can find issues, create issues yourself.
You can also ask your doubts and concerns in gitter chat  https://gitter.im/publiclab/publiclab. There are alot of great people there.
Happy Open Sourcing ❤️

[2022-04-05 17:11] #10878 closed

[2022-04-05 17:12] #10868 closed

[2022-04-05 17:13] PeculiarE opened #10947 "Fix Breaking-link Punctuation at end of URL in Comments"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all) and fixing it will resolve part of the issue in #10944. We've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help y

[2022-04-05 17:21] PeculiarE commented on #10947
@jywarren. Kindly help review 😄.

I'm not so sure if and how I should reference the original issue.

[2022-04-05 17:57] RuthAtem commented on #10946
Hi @jywarren Thank you!! I'm on it

[2022-04-05 18:18] priyakumari02 commented on #10840
Hi everyone,I am Priya Kumari.I am an outreachy applicant . I am excited to join this community and work on this project

[2022-04-05 18:35] kunmi02 commented on #8646
@TildaDares and @jywarren I think this pull request  https://github.com/publiclab/plots2/pull/10877 actually closed this issue. I think it is safe to close this issue

[2022-04-05 18:42] on2onyekachi commented on #10947
Great! @PeculiarE

[2022-04-05 18:54] patwasapna25 commented on #10840
Hello Everyone! This is Sapna Patwa from India. I am a first timer in open source contribution. Looking forward to work on this project.

[2022-04-05 19:20] Deepanshu039 commented on #10153
greetings @TildaDares , I am very much excited to solve my first issue could you please help me in getting one. Since I am a totally beginner in this field a little help will always be appreciated.
Thank You so much for the help..

[2022-04-05 19:21] jywarren commented on #10911
Hi @saikmusunuri if @RaviAnand111 or someone else creates a first-timers-only issue, we will add it to the queue in https://github.com/publiclab/plots2/issues/10153 - have you signed up for one there? Thank you!

****
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's s

[2022-04-05 19:21] PeculiarE commented on #10944
So I decided to implement the fix on my local branch and visually check out the effects on GitPod. Looks like the React comment renderer is being affected. Links don't appear as hyperlinks once the react flag is set to true. Everything is rendered as normal text. I've attached a short demo.

https://user-images.githubusercontent.com/75625011/161832217-c497dd0b-ca3b-4a42-bcb5-8ae3d65f7edc.mp4

Wasn

[2022-04-05 19:22] jywarren commented on #10911
The code for this element can be found here!

https://github.com/publiclab/plots2/blob/cf10caaefb78b631c15a54f44ec35e9a77d2bbdb/app/views/wiki/_header.html.erb#L35-L41

[2022-04-05 19:27] jywarren commented on #10879
Excellent, thank you @RaviAnand111 !!!

[2022-04-05 19:28] shefali12-ab opened #10948 "Weekly Community Check-In #136 - Kindness Always Wins"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-04-05 19:32] shefali12-ab commented on #10871
Hey @RaviAnand111 @cesswairimu  i have created a new check-in
https://github.com/publiclab/plots2/issues/10948 do check it out and tell me the changes that I need to do in it if required.

[2022-04-05 19:38] jywarren commented on #9419
Hi @kunmi02 i appreciate it but upon looking, i wasn't able to find any recent instances, so I believe it has been resolved. Thank you!!!

[2022-04-05 19:38] #9419 closed

[2022-04-05 19:52] akanbifatimah commented on #10948
@shefali12-ab , I totally agree with you," if more humans are kind to others then it's a blessing to humanity". Kindness always wins.
Thank you @shefali12-ab for this.
@cesswairimu @RaviAnand111 @mittal-parth @jywarren @sakshi-2412 @Tlazypanda @noi5e @unnati914 @Manasa2850 @17sushmita @Georjane @waridrox thank you for your past contributions.

[2022-04-05 20:09] illyShelly opened #10949 "FTO - Correct typo on mapknitter about page"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-05 20:12] jywarren commented on #10754
This is a great question. Ruby is quite similar to, for example, Python. I think we are very open to your applying and we encourage you to try not only some first-timers-only issues, but some that help you to dig into how Ruby works and how it's different. Myself, I write mostly Ruby and JavaScript, but I find I can manage Python when needed even if the style is a little strange to me. We'll be he

[2022-04-05 20:14] on2onyekachi commented on #10949
Hey @illyShelly This is great!.

Though i think creating an issue for mapkinitter should be in mapkinitter repo and not in plot2.

[2022-04-05 20:19] illyShelly commented on #10949
@on2onyekachi You are right! Oh, I wanted to do it and I forgot. My bad 😅

[2022-04-05 20:49] jywarren commented on #10153
Hello @ginabeki this is reserved for you! https://github.com/publiclab/mapknitter/issues/1629

[2022-04-05 20:49] jywarren commented on #10153
Hi @Deepanshu039 i've added you to the list. Thank you!

[2022-04-05 20:56] jywarren commented on #10871
Hi @RaviAnand111 such a powerful message, I deeply appreciate it! Thank you and it's such a pleasure to see everyone joining in the community.

@shefali12-ab thank you, yours looks amazing! I will close this up and we'll move over there.

[2022-04-05 20:56] #10871 closed

[2022-04-05 20:58] jywarren commented on #10948
Hi @shefali12-ab thank you so much for this check-in and your message! We're grateful for your kindness!

If folks would like to share things they worked on this week, either things you feel good about or got stuck on or whatever, please feel welcome to share here each week!

I took 3 whole days off 😲  this weekend to rest after one of the busiest months i remember recently. It felt so great, and

[2022-04-05 21:01] jywarren commented on #10892
Hi @Sakshamgupta90 and everyone! Yes just wanted to clarify, the Refine UI project we have listed for Outreachy and GSoC is for the Infragram project. I love the approach you're taking here and would love to see ideas related to infragram at https://github.com/publiclab/infragram/ -- thank you so much!

If you would like we can move this issue over there?

[2022-04-05 21:38] TildaDares opened #10950 "Update README Table of Contents"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-05 21:39] TildaDares commented on #10950
Reserved for @vaishnavi4444 for 24 hours!

[2022-04-05 21:40] TildaDares commented on #10153
Hi @vaishnavi4444, there's an issue reserved for you in #10950 for 24 hours!

[2022-04-05 21:41] TildaDares commented on #10924
Reassigning

[2022-04-05 21:41] TildaDares commented on #10924
Reserved for @IndrarajBiswas for 24 hours!

[2022-04-05 21:42] TildaDares commented on #10153
Hi @IndrarajBiswas, there's an issue reserved for you in #10924 for 24 hours!

[2022-04-05 21:44] jywarren commented on #10754
Hi all, i also realized that lots of people are starting to do some really great [mockups](https://github.com/publiclab/infragram/issues/319) and design brainstorming in the Infragram project.

I wanted to share some helpful links -- currently Infragram.org uses Bootstrap 3, and while we are open to an upgrade to v4, it's also perfectly fine to use the available styles from v3 in your proposal. Yo

[2022-04-05 21:51] TildaDares commented on #10911
FTO opened in #10917

[2022-04-05 21:51] #10911 closed

[2022-04-05 21:55] PeculiarE commented on #10754
Thank you for these resources and the helpful insights @jywarren. I particularly identify with the question about not being very familiar with Ruby. And most times, everything could feel simply overwhelming. But your advice, tips, and encouragements have been very timely and supportive 😄 ❤️ . Thank you

[2022-04-05 21:58] TildaDares commented on #8646
Resolved in #10877

[2022-04-05 21:58] #8646 closed

[2022-04-05 22:06] jywarren opened #10952 "Convert files in /app/views/spam2/ directory to 2-space indentation"
This is a small change, but we have a standard across almost all our projects for double-space indentation, that is, each indent level is made with 2 spaces, not tabs. But a few files use tabs - we could make an FTO to convert each one, maybe?

https://github.com/publiclab/plots2/tree/main/app/views/spam2/ <- a lot of these files have tab indents. Let's make them into double-space indented files!

[2022-04-05 22:20] #2151 closed

[2022-04-05 22:23] stephaniequintana commented on #10952
As mentioned, there are several files in this directory, namely
* _comments.html.erb
* _flags.html.erb
* _insights.html.erb
* _nodes.html.erb
* _queue.html.erb
* _revisions.html.erb
* spam.html.erb and
* _users.html.erb

Please choose one file at a time to work on so that others may contribute to and learn the process. Please leave a comment identifying the file you are working on so that others d

[2022-04-05 22:25] stephaniequintana commented on #10952
I will begin with the _comments.html.erb file.
Please let me know if you have already begun working with this file.

[2022-04-05 22:25] jywarren commented on #10952
Hi @stephaniequintana @akanbifatimah just be aware that "_nodes.html" is being edited in this PR: (https://github.com/publiclab/plots2/pull/10913) and due to the nature of the changes (affecting each line) it could introduce a git conflict to work on that at the same time. So best choose another file!

Thanks all!

[2022-04-05 22:27] akanbifatimah commented on #10952
I will begin with _flags.html.erb file.

[2022-04-05 22:28] akanbifatimah commented on #10952
well noted @jywarren ,thank you.

[2022-04-05 22:44] #3865 closed

[2022-04-05 22:44] #4092 closed

[2022-04-05 22:49] #1132 closed

[2022-04-05 22:50] jywarren commented on #768
Closing since we now only allow sorting on main tag pages, which is probably for the best 😅

[2022-04-05 22:50] #768 closed

[2022-04-05 22:50] #823 closed

[2022-04-05 22:51] jywarren commented on #812
Done because we long ago added system tests!!! ❤️

[2022-04-05 22:51] #812 closed

[2022-04-05 22:54] jywarren commented on #1000
This is working!!! https://github.com/publiclab/plots2/pull/2679

[2022-04-05 22:54] #1000 closed

[2022-04-05 22:55] #1627 closed

[2022-04-05 22:55] #2092 closed

[2022-04-05 22:56] jywarren commented on #1930
https://publiclab.org/wiki?sort=title really doesn't seem to be working?? Not sure.

[2022-04-05 22:56] #2075 closed

[2022-04-05 22:57] jywarren commented on #1686
Closing as we do well on this now plus have great monitoring via Skylight and Sentry.

[2022-04-05 22:57] #1686 closed

[2022-04-05 22:58] jywarren commented on #1801
Now with Skylight and Sentry we do well on this!

[2022-04-05 22:58] #1801 closed

[2022-04-05 22:58] jywarren commented on #1648
I believe we are OK on this with Skylight and Sentry now!

[2022-04-05 22:58] #1648 closed

[2022-04-05 22:58] jywarren commented on #1621
Closing this as we seem to be OK now!

[2022-04-05 22:58] #1621 closed

[2022-04-05 22:59] jywarren commented on #2020
Solved in unicode db!

[2022-04-05 22:59] #2020 closed

[2022-04-05 22:59] #2483 closed

[2022-04-05 23:01] jywarren commented on #2364
We are doing so much better on this now! Closing!!!

[2022-04-05 23:01] #2364 closed

[2022-04-05 23:02] jywarren commented on #2423
All good now!

[2022-04-05 23:02] #2423 closed

[2022-04-05 23:19] PeculiarE commented on #10952
I'd check out the _spam.html.erb file 😄. Thank you

[2022-04-06 03:36] ankittt20 commented on #10840
Hello Everyone! I am Ankit from India, I am looking forward to contribute to this project.

[2022-04-06 05:05] ankittt20 commented on #10950
Hey @TildaDares can I take up this?

[2022-04-06 06:40] cesswairimu commented on #10865
Solved in https://github.com/publiclab/plots2/pull/10909. Closing this

[2022-04-06 06:40] #10865 closed

[2022-04-06 07:34] michaelsandiegoviray commented on #10950
Hi! Would like to support and offer help if possible! Also a first-time contributor to open source and potentially this project.

Thanks!

[2022-04-06 07:43] ankittt20 commented on #10950
Hey @TildaDares can I take this up?

[2022-04-06 08:00] TildaDares commented on #10950
Hi everyone, this issue has been reserved. Thanks!

[2022-04-06 08:02] VictoriaAjala commented on #10952
Hi!, I will work on the _users.html.erb file. Thank you!

[2022-04-06 08:36] AbihaFatima commented on #10948
Couldn't have agreed more 💯@shefali12-ab! One act of kindness ingnites another. Being kind, practicing gratitude, and showing compassion are not only good traits, they are essential to manifesting a better world for all of us. Thankful to all the contributors of this community!🥂

[2022-04-06 09:39] on2onyekachi commented on #10952
@stephaniequintana I'll be working on [flags.html.erb](https://github.com/publiclab/plots2/blob/main/app/views/spam2/_flags.html.erb)

[2022-04-06 09:56] kunmi02 commented on #10952
Hi, I will work on the [revisions.html.erb](https://github.com/publiclab/plots2/blob/main/app/views/spam2/_revisions.html.erb)

[2022-04-06 10:09] TildaDares commented on #10153
Hi @ShrutiKoli19, there’s an issue reserved in https://github.com/publiclab/infragram/issues/325 for 24 hours!!

[2022-04-06 10:21] illyShelly commented on #10948
Hi Shefali, @shefali12-ab very nice words. I am happy I can be part of this community 💯 . It is good escape from bad news coming these days.
Okay, fun facts and a bit sweat 😅: My first ever PR onto Open Source Project (here) I ended up with  diverged local and remote branch. Meaning, they differed by a few commits and didn't flow the right way. So the learning here: think about it before you do so

[2022-04-06 11:06] on2onyekachi commented on #10948
Hi @shefali12-ab Thank you for this piece!. As humans, what do we live for, if not to make life less difficult for others.  Kindness is truly the nature of humanity.

Just as @jywarren said, I had a whole lot of rest also during the weekend which was so great! And it surly helps being productive during the week.

[2022-04-06 11:34] shefali12-ab commented on #10914
Hey @TildaDares @mittal-parth. Card without tags having fixed width looks like this
![_ Public Lab_ List](https://user-images.githubusercontent.com/56781823/161965488-53a8ef90-ddce-47b3-bb75-31bb77c2141b.png)

[2022-04-06 11:58] TildaDares commented on #10914
Hi @shefali12-ab, this looks great but I'd like to see a card with tags and one without side by side.

[2022-04-06 12:03] mittal-parth commented on #10948
Well said @shefali12-ab!
Apart from making the world a better place, it also gives a great sense of satisfaction after having helped someone selflessly. I think it also one of the core values of Open Source! 🎉

[2022-04-06 12:08] AsmaIbrahimButt commented on #10153
Hi @TildaDares please can you assign me an issue too , I am waiting from 8 days .I was added in the list too.

[2022-04-06 12:23] shefali12-ab commented on #10948
Thanks to you too @jywarren, I really appreciate the people in the community for helping new members and answering each query.

[2022-04-06 12:27] shefali12-ab commented on #10948
that's great @jywarren after all we are humans and we all need a break from work :)

[2022-04-06 12:29] shefali12-ab commented on #10948
Thank you :)) @AbihaFatima

[2022-04-06 12:57] kunmi02 opened #10954 "Update indentation on the script tag of _revision.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-06 13:02] kunmi02 commented on #10954
@TildaDares @cesswairimu and @jywarren Issue reserved for a first time contributor

[2022-04-06 13:11] TildaDares commented on #10954
Thanks for opening this @kunmi02. The number of spaces on each level should be 2.

[2022-04-06 13:18] kunmi02 commented on #10954
@TildaDares I have fixed the indentation. The sub indentations are in multiple of 2.

[2022-04-06 13:19] kunmi02 opened #10956 "Update <div> indentation on line 8 for _revisions.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-06 13:23] TildaDares commented on #10954
Thanks @kunmi02!!!

[2022-04-06 13:23] TildaDares commented on #10954
Reserved for @harshithatnbr for 24 hours!!

[2022-04-06 13:26] TildaDares commented on #10933
Reassigning

[2022-04-06 13:26] TildaDares commented on #10933
Reserved for @Garimak1204 for 24 hours!

[2022-04-06 13:28] TildaDares commented on #10956
Thanks for opening this @kunmi02. Can you add the link to the filename?

[2022-04-06 13:48] kunmi02 commented on #10956
opps! filename added @TildaDares

[2022-04-06 13:54] TildaDares commented on #10956
Thanks @kunmi02!

[2022-04-06 13:55] TildaDares commented on #10956
Reserved for @AnanyaGarg28 for 24 hours!

[2022-04-06 13:56] TildaDares commented on #10153
Hi @AnanyaGarg28, there's an issue reserved for you in #10956 for 24 hours!

[2022-04-06 14:07] #10916 closed

[2022-04-06 14:12] TildaDares opened #10957 "Disable Select Button For Insights in Spam2"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-06 14:12] TildaDares commented on #10957
I introduced this bug in #10895

[2022-04-06 14:13] TildaDares commented on #10957
Reserved for @naman-luthra for 24 hours!

[2022-04-06 14:13] TildaDares commented on #10153
Hi @naman-luthra, there's an issue reserved for you in #10957 for 24 hours!

[2022-04-06 14:14] jywarren commented on #10892
Ah my apologies, i thought you were talking about https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design but you are looking at https://publiclab.org/wiki/gsoc-ideas#Refine+User+Interfaces+across+PublicLab.org - yes, you are correct, that is for this project.

But, if you read the description carefully, it is a collection of narrower issues and specific interfaces tha

[2022-04-06 14:27] RaviAnand111 opened #10958 "Bullet points are starting with small letters"
### Please describe the problem (or idea)

I think the bullet points' first letter should be Capital, it makes it look good, indented and professional.

### Please show us where to look

https://publiclab.org/wiki/projects

![image](https://user-images.githubusercontent.com/59113935/161997740-280725b4-f019-4306-a3a3-df0b65c716e9.png)

Hey @TildaDares @jywarren @cesswairimu, what do you guys think,

[2022-04-06 14:29] TildaDares opened #10959 "Make Insights Table More Descriptive in Spam 2"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-06 14:30] TildaDares commented on #10959
Reserved for @PiusKevin3 for 24 hours!

[2022-04-06 14:33] TildaDares commented on #10959
## Before

<img width="1134" alt="Screenshot 2022-04-06 at 15 33 21" src="https://user-images.githubusercontent.com/63427719/161999358-42cffeaf-e835-424b-85ce-ecc15e294e0c.png">

## After

<img width="1134" alt="Screenshot 2022-04-06 at 15 32 29" src="https://user-images.githubusercontent.com/63427719/161999156-115d6a9e-97fa-4e54-b8b3-728057dcf7fa.png">

[2022-04-06 14:35] TildaDares commented on #10958
Hi @RaviAnand111, this page in the Public Lab site directly. It can only be edited in the PL site.

[2022-04-06 14:35] Sakshamgupta90 commented on #10892
Thanks @jywarren
Yes I read the project description and I have decided the plans and ideas related to other issues that are mentioned as well and I will discuss it with you also. But its also written that "we are looking to improve a collection of User Interface/User eXperience (UI/UX) and related features on the platform. Some are navigational, some are stylistic, and some introduce new interface

[2022-04-06 14:37] RaviAnand111 commented on #10958
oh, ok, so there is no need of FTO for it.
Then I should close this issue ?

[2022-04-06 14:38] RaviAnand111 commented on #10958
Thank You @TildaDares ❤️

[2022-04-06 14:38] #10958 closed

[2022-04-06 14:46] PiusKevin3 commented on #10959
Am starting on it.Thank you for the opportunity :)

[2022-04-06 15:07] shefali12-ab commented on #10948
Thank you and Alll the best @illyShelly

[2022-04-06 15:08] shefali12-ab commented on #10914
sure @TildaDares I will share it ,here soon.

[2022-04-06 15:22] IndrarajBiswas commented on #10924
Thanks @TildaDares for the FTO.

[2022-04-06 15:24] VictoriaAjala opened #10960 "Fix Typo Error in 103 "hiden" to "hidden""
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-06 15:35] on2onyekachi opened #10962 "Double-space indentation from line 2 - 6 on _flags.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-06 15:55] AnanyaGarg28 commented on #10956
Hey @TildaDares, thanks for assigning me this issue!

I have updated the indentation as required and have opened a PR for the same. As this was my very first contribution, I would appreciate a review of this to help me get started with more of such contributions!

[2022-04-06 16:20] Pragati1419 commented on #10840
Hello Everyone! I am Pragati Kumari from India. I m good in HTML, CSS, JS, and UI design, and looking forward to contributing to this project through the opportunity provided by Outreachy.  I am looking for the first issue to solve so I request you to help me with this.

[2022-04-06 16:22] TildaDares commented on #10960
Great catch @VictoriaAjala. Thank you!!

[2022-04-06 16:23] TildaDares commented on #10960
Reserved for @aoumarou17 for 24 hours!!

[2022-04-06 16:24] TildaDares commented on #10153
Hi @aoumarou17, there’s an issue reserved for you in #10960 for 24 hours!!

[2022-04-06 16:26] TildaDares commented on #10962
Perfect @on2onyekachi!!!

[2022-04-06 16:26] TildaDares commented on #10962
Reserved for @Dapper50 for 24 hours!!

[2022-04-06 16:27] TildaDares commented on #10153
Hi @Dapper50, there’s an issue reserved for you in #10961 for 24 hours.

[2022-04-06 16:40] on2onyekachi commented on #10962
Thank you, would it be best to break the rest indentations into different issues or create an issue of a lengthy indentation?

[2022-04-06 16:43] TildaDares commented on #10962
It’d be better to do everything in one PR so that there are no merge conflicts.

[2022-04-06 16:49] Pragati1419 commented on #4036
I would love to continue with this issue. Can you assign it to me if it is still open or not assigned to anyone else?

[2022-04-06 16:49] on2onyekachi commented on #10962
Yeah true. Okay,

should I update this to include the rest indentation?

[2022-04-06 16:56] TildaDares commented on #10962
Yeah you can update this issue.

[2022-04-06 16:57] illyShelly commented on #10840
Hi Pragati, here read this and you can ask for your FTO  within a few days 😄  https://github.com/publiclab/plots2/issues/10153

[2022-04-06 17:01] on2onyekachi commented on #10962
Okay, done. much better

[2022-04-06 17:17] Dapper50 commented on #10962
@TildaDares please assist review

[2022-04-06 18:45] shefali12-ab commented on #10914
Hii @TildaDares see these two
1.
![_ Public Lab_ List (2)](https://user-images.githubusercontent.com/56781823/162045426-1946e47c-519a-4914-8a92-7a39ffb9b59a.png)
2.
![_ Public Lab_ List (1)](https://user-images.githubusercontent.com/56781823/162045451-18140095-1a98-4b97-80ee-5ea21ddf2be9.png)

[2022-04-06 18:51] TildaDares commented on #10914
@shefali12-ab I’m not sure about the width of the tags. They are too wide.

Also, you still haven’t shown how the page would look if we had cards with tags and cards without tags side by side.

[2022-04-06 19:19] shefali12-ab commented on #10914
@TildaDares see this one, I have placed cards with and without tags side by side also  changed the widths of tags.
![_ Public Lab_ List (3)](https://user-images.githubusercontent.com/56781823/162051286-fdc2cac5-77cd-42de-acfa-8b3c99e155c1.png)
The cards without tags are looking empty, but they all have same size . what do you say about this ?

[2022-04-06 19:30] TildaDares commented on #10914
@shefali12-ab I agree with you, they look empty.

[2022-04-06 20:41] akanbifatimah opened #10968 "Change Tab indents of the script tag in insights.html.erb file to double-space indentations lines 66-75"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-06 22:30] tushmahe commented on #10840
Good day, everyone! I am  Tusharika Maheshwari, a sophomore at India's IIIT Lucknow. Although I have contributed significantly to academic projects, I am new to open source contributions. I am very eager to contribute to this project through the opportunity provided by Outreachy.

[2022-04-06 22:55] tushmahe commented on #10962
Can I work on this issue? @TildaDares

[2022-04-06 23:06] tushmahe commented on #10962
@TildaDares I have made changes, awaiting your review.

[2022-04-06 23:12] Dapper50 commented on #10962
@tushmahe the issue was reserved for me to work on, which I already have and was awaiting a feedback.

[2022-04-07 02:55] tushmahe commented on #10962
@Dapper50 Okay! I am extremely sorry for interruption!

[2022-04-07 03:40] shefali12-ab commented on #10914
@TildaDares okay i will close this issue and look for other issues to work upon. Thank you so much  for discussion :)

[2022-04-07 03:46] stephaniequintana opened #10971 "Update Indentation from tabs to spaces"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-07 03:52] stephaniequintana commented on #10971
@TildaDares @cesswairimu and @jywarren, please review my first FTO issue creation. Thx!

[2022-04-07 06:26] sanskruti-shahu commented on #10840
Hello Everyone, I am Sanskruti Shahu from India and a Sophomore at IIIT Lucknow. Earlier I had done some small contributions in open source during Hacktoberfest and in some college projects still I am very new with it. But with Outreachy I hope to learn alot from mentors  and other participants as well. Although I am starting late because I was preoccupied with my exams but I hope to make some goo

[2022-04-07 06:43] Pragati1419 commented on #10153
Hello ! I am Pragati Kumari , B.Tech student from  India.
I am good in  C , C++ , HTML , CSS , Javascript and UI and looking forward to contribute in this project. This seems very interesting to me. If anyone is not assigned with this issue.would you like to assign this issue to me ?

[2022-04-07 06:50] shefali12-ab commented on #10914
@TildaDares I have founded some of more things that can be improved in https://publiclab.org/blog
1. There is  extra left margin at the place where youtube video is placed.
2. The font size are too small, it can be improved.
3. After clicking on the follow button it is not performing any action,
you can check these things and let me know so that FTO issues can be created from these.
Thank you!
![_

[2022-04-07 06:56] Garimak1204 commented on #10933
Thank you Tilda I would love to work on it.

On Wed, 6 Apr, 2022, 18:57 Tilda Udufo, ***@***.***> wrote:

[2022-04-07 07:02] TildaDares commented on #10914
@shefali12-ab You can go ahead to open issues for them.

[2022-04-07 07:04] TildaDares commented on #10968
@akanbifatimah This looks good but the JavaScript is the one that needs changing.

[2022-04-07 07:43] Dapper50 commented on #10962
@tushmahe it is fine, I would reach out to you if I need help concerning the project or any other task. Please feel free to do same 🤗

[2022-04-07 07:44] Dapper50 commented on #10962
@tushmahe it is fine, I would reach out to you if I need help concerning the project or any other task. Please feel free to do same 🤗

[2022-04-07 07:59] stephaniequintana commented on #10971
@TildaDares, that's such a relief - thank you, Tilda.

I used the standard `git diff branch1..branch2` command. I then reformatted it and added the line numbers myself to make it "friendlier" - it definitely took more time to create than it would have to simply fix, but the original output appeared more intimidating than necessary.

[2022-04-07 08:03] TildaDares commented on #10971
Can you paste the original output in the comments?

[2022-04-07 08:17] stephaniequintana commented on #10971
@TildaDares, sorry for the delay, I had to rerun the command. [Here is the original diff output](https://gist.github.com/stephaniequintana/52fa72e5439b0fbca7dfcab3886b6cf2).

[2022-04-07 08:41] TildaDares commented on #10971
@stephaniequintana I think the original output is better. It’ll be easier for contributors to understand how indented you want the line to be in relation to other lines.

The only lines that need to be added are https://gist.github.com/stephaniequintana/52fa72e5439b0fbca7dfcab3886b6cf2#file-corrected-indentation-diff-L6-L172

[2022-04-07 08:47] Bhawna-Sharma-9903 commented on #10153
hi @TildaDares please assign me a FTO, I am still waiting. Thanks.

[2022-04-07 09:09] stephaniequintana commented on #10971
@TildaDares, please review changes.

[2022-04-07 09:30] TildaDares commented on #10971
@stephaniequintana The way you formatted it at first is really helpful but when it comes to indentation, we have to do it a little differently.

This looks really great!!!

[2022-04-07 09:35] akanbifatimah commented on #10968
Thank you for calling my attention to that @TildaDares , I will close this FTO and raise another one with changes in just the JavaScript part , should I go ahead?

[2022-04-07 09:49] stephaniequintana commented on #10971
@TildaDares, I was curious about that myself. I compared it to all the files and it is not indented elsewhere so I left it as is.
ex) starting at line 86 in [_queue.html.erb](https://github.com/publiclab/plots2/blob/main/app/views/spam2/_queue.html.erb)
ex) starting at line 113 in [_flags.html.erb](https://github.com/publiclab/plots2/blob/main/app/views/spam2/_flags.html.erb)
plus multiple other p

[2022-04-07 09:54] TildaDares commented on #10971
@stephaniequintana I think the standard is to indent the contents of a tag if they are on multiple lines but it's not really important at this point. So it's up to you to decide if you want to do that.

[2022-04-07 10:17] stephaniequintana commented on #10971
@TildaDares, that's what I've learned. There are a few great style guides highly recommended throughout the WebDev community that I've come across, [Airbnb JavaScript Style Guide](https://github.com/airbnb/javascript#jquery) being on of them. Out of curiosity, does Public Lab have one that you're aware of?

For the time being (and since it's all the same to you), I would like to table it for now.

[2022-04-07 10:21] on2onyekachi commented on #10962
@tushmahe you can request for FTO at #10153 if you haven't done so.

[2022-04-07 10:41] TildaDares commented on #10971
@stephaniequintana I’m not aware of any style guide that PL uses.

Thanks for working on this @stephaniequintana!!

[2022-04-07 10:42] tushmahe commented on #10962
@Dapper50 Yeah Sure!!

[2022-04-07 10:43] tushmahe commented on #10962
@on2onyekachi Okay and Thanks for guiding me !!

[2022-04-07 10:56] on2onyekachi opened #10973 "Update DOCTYPE from transitional xhtml 1.0 to HTML5 in index.html"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-07 10:57] shefali12-ab commented on #10914
sure @TildaDares I need to know that after clicking on Follow button what action it needs to perform, I will mention this in issue.

[2022-04-07 11:41] stephaniequintana commented on #10844
@simransia, just brainstorming here...has it finished loading? When I use GitPod it tends to take quite a while for all the dependencies to load and then for the app to run. I see this error screen until the loading is complete...

[2022-04-07 11:47] abdelquodr commented on #10962
is this issue done already?

[2022-04-07 11:53] abdelquodr commented on #10153
@TildaDares and @noi5e. kindly assign me an issue and add me to the list of those looking for FTO issues. Thanks

[2022-04-07 11:57] simransia commented on #10844
@stephaniequintana yes mam it also took a while for loading all the dependencies in my browser as well. After the loading was completed I was not able to see the live preview of the application. So in the terminal I run the command "passenger start" and then this error page appears.

[2022-04-07 12:04] on2onyekachi commented on #10962
You're welcome @tushmahe . While you wait to be assigned an issue.

You can go through the project wherever you find an issue or a bug to fix, you can as well create it for yourself and also try to create some for others too.

[2022-04-07 12:05] abdelquodr commented on #10754
I am very comfortable with javascript and I'll be more than glad to contribute to the "Infragram.org full-screen UI design".  Jeffrey Yoo Warren (jywarren), Cess, Tilda, Sudipto Ghos,  please push issues to me. and I'll also appreciate any guidance on how to set the repo up and running on my local system.

[2022-04-07 12:17] on2onyekachi commented on #10962
Yes.

[2022-04-07 12:35] abdelquodr commented on #10962
ok. Can anyone assign a new issue for me

[2022-04-07 13:36] akanbifatimah commented on #10968
Hi @TildaDares , I have updated the changes in the Javascript Part, Kindly Review.Thank you

[2022-04-07 13:38] siddhi-244 commented on #10915
Hiii, this is Siddhi Bhanushali.  Where do we have to submit the proposal for review (before the final submission) and is there any structure?

[2022-04-07 13:54] Bhawna-Sharma-9903 commented on #10962
This issue is yet open, can i work on this?

[2022-04-07 13:56] TildaDares commented on #10968
@akanbifatimah Some of the code is more than two spaces deep.

[2022-04-07 14:01] stephaniequintana commented on #10844
@simransia, I've successfully opened plots2 in GitPod. At your convenience, please try it again  - do ensure you are opening it from the fork in your repository. FYI, it took almost 8 minutes for the browser window to open, so please don't get discouraged, grab yourself a drink and be patient, it should be up and running soon!

[2022-04-07 14:02] akanbifatimah commented on #10968
ok, I will check and effect the necessary changes, thank you.

[2022-04-07 14:30] stephaniequintana commented on #10971
@TildaDares, I indented the code within the script tag, per above, but the `diff` command does not properly reflect the necessary spacing. It shows:

![Screen Shot 2022-04-07 at 9 20 06 AM](https://user-images.githubusercontent.com/81270711/162221517-64b078a0-f1f8-4dab-b5fd-fc6e2e5e9711.png)

Compared to the original `diff` command:
![Screen Shot 2022-04-07 at 9 23 31 AM](https://user-images.githu

[2022-04-07 14:36] #10824 closed

[2022-04-07 14:55] TildaDares commented on #10971
@stephaniequintana I think we just leave it as it is.

[2022-04-07 15:32] simransia commented on #10844
Congratulations to you for opening it successfully !! But I am still unable to see the live preview of the page even after waiting for 30 minutes. 😅 And yes I am opening it from the forked repository.

 <img src="https://user-images.githubusercontent.com/88017902/162232136-13f5d511-e48e-4c0b-9709-d5e4cdf81572.png" width="400" height="250" align="center" />
This is how my gitpod worksplace looks li

[2022-04-07 16:40] Sakshamgupta90 commented on #10754
Hi @jywarren I just wanna know that the design layout I have created https://github.com/publiclab/plots2/issues/10892, should I  add it as one of a task in my proposal?

[2022-04-07 17:40] shefali12-ab opened #10977 "Fix left margin on blog page"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-07 17:43] stephaniequintana commented on #10844
@simransia, I'm not sure what the problem could be. After I was unable to get my local environment setup, I had to re-fork the project in order to successfully open it on GitPod. I know that @PeculiarE has also solved the issue she had with GitPod, I believe she also re-forked the repo (& she may have had to commented out one of the database directives). Hopefully she will be able to tell us more

[2022-04-07 17:57] shefali12-ab opened #10978 "Increase the text fontsize."
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-07 18:28] TildaDares commented on #10153
Hi @falyne, there's an issue reserved for you in #10971 for 24 hours!

[2022-04-07 18:29] TildaDares commented on #10977
Hi @shefali12-ab, do you intend to work on this yourself?

[2022-04-07 18:31] TildaDares commented on #10978
Hi @shefali12-ab, do you intend to work on this?

[2022-04-07 18:35] TildaDares commented on #10952
Just noting that #10969 has been merged so you're free to work on `nodes.html.erb`.

[2022-04-07 18:38] #10922 closed

[2022-04-07 18:39] #10917 closed

[2022-04-07 18:53] #10956 closed

[2022-04-07 19:08] #10924 closed

[2022-04-07 19:11] #10957 closed

[2022-04-07 19:28] TildaDares commented on #10960
Reassigning

[2022-04-07 19:28] TildaDares commented on #10960
Reserved for @Austin-tawe for 24 hours!

[2022-04-07 19:29] TildaDares commented on #10153
Hi @Austin-tawe, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10960 for 24 hours!

[2022-04-07 19:31] TildaDares commented on #10950
Hi @michaelsandiegoviray, you can take this up. Thank you!

[2022-04-07 19:34] TildaDares commented on #10820
Resolved in #10876

[2022-04-07 19:34] #10820 closed

[2022-04-07 19:42] TildaDares opened #10979 "Allow Moderators/Admins to see Profile Image of a User whose Content Hasn't Been Approved"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-07 19:43] TildaDares commented on #10979
Reserved for @jyotirawat224 for 24 hours!

[2022-04-07 19:43] TildaDares commented on #10153
Hi @jyotirawat224, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10979 for 24 hours!

[2022-04-07 20:50] michaelsandiegoviray commented on #10950
@TildaDares  Claiming this issue for 24 hours!

[2022-04-07 21:01] michaelsandiegoviray commented on #10950
Completed and needs a review! @TildaDares Let me know if there are any errors or things I should change!

[2022-04-07 21:13] tushmahe commented on #10153
Hi, @jywarren I am an Outreachy Applicant, I am looking for my first issue, please assign me one.

[2022-04-07 21:25] illyShelly opened #10982 "FTO - Add space for better user experience"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-07 21:32] wuteek commented on #10973
Hello,

I submitted a pull request for this issue if you can please look over it for me. Thank you in advanced!

[2022-04-07 21:53] TildaDares commented on #10982
Thanks @illyShelly. This looks great!!

[2022-04-07 21:54] TildaDares commented on #10982
Reserved for @abdulrahim2567 for 24 hours!!

[2022-04-07 21:55] illyShelly opened #10983 "Improve User Experience for questions part"
Hi 👋
I have a suggestion to change the PublicLab.org page on the alert part with questions and `Follow this topic` button.
1. Wouldn't be nice to make **space between text and the follow-up button**? (viz. example pic)
2. What about to have **nickname capitalise** to emphasise the person?
3. There is small 'typo' **one more empty character** before 'nickname' - ease to change as some FTO.
4. I wou

[2022-04-07 21:56] TildaDares commented on #10153
Hi @Abdulrahim2567, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10982 for 24 hours!!

[2022-04-07 22:04] TildaDares commented on #10973
Looks good @on2onyekachi!!

[2022-04-07 22:10] illyShelly commented on #10983
@jywarren @TildaDares I'd like to ask you for your opinion 👍 Thank you.

[2022-04-08 01:31] PeculiarE opened #10984 "Fix typos and indentation on _spam.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all), and if fixed, will help resolve part of the issue at #10952. We've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and

[2022-04-08 01:32] PeculiarE commented on #10984
Hi @TildaDares, @cesswairimu, @jywarren....please help review for a possible FTO issue. Thanks 😄

[2022-04-08 03:57] shefali12-ab commented on #10977
Hii @TildaDares yeah sure I can work on it or if you want to assign it to a new member I am okay with that too.

[2022-04-08 03:58] shefali12-ab commented on #10978
@TildaDares sure I can work on it.

[2022-04-08 05:54] mittal-parth opened #10985 "Wrong closing heading tag in _digest.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-08 05:56] mittal-parth commented on #10985
Hi @TildaDares you can add the first-timers-only label to this. Thank you!

[2022-04-08 07:34] on2onyekachi commented on #10973
Thank you @TildaDares

[2022-04-08 07:36] TildaDares commented on #10985
Great catch @mittal-parth. Thank you!!!

[2022-04-08 07:37] TildaDares commented on #10985
Reserved for @AsmaIbrahimButt for 24 hours!!

[2022-04-08 07:38] TildaDares commented on #10153
Hi @AsmaIbrahimButt, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10985 for 24 hours!!

[2022-04-08 07:39] TildaDares commented on #10983
@illyShelly The images you added are before pics right?

[2022-04-08 07:42] TildaDares commented on #10977
FTOs have a specific format. If you want someone else to work on this as a first-timers only issue, it needs to look like this https://github.com/publiclab/plots2/issues/10959. We only use this template for FTOs.

[2022-04-08 07:43] TildaDares commented on #10977
Also, it’s a bit tricky to adjust the size of a YouTube Iframe so I’m not sure this can be considered an FTO-candidate.

[2022-04-08 07:47] TildaDares commented on #10978
@shefali12-ab We can use the font-size of a normal note like this https://publiclab.org/notes/cess/04-04-2022/call-for-proposals-outreachy-summer-2022

[2022-04-08 08:22] simransia commented on #10844
Thankyou @stephaniequintana for your efforts which you have put in trying to solve my issue.
@PeculiarE could you please tell me what changes you have made in the database directive ? Because that might solve my problem as well.

[2022-04-08 08:25] Forchapeatl commented on #10915
Please checkout this reply [https://github.com/publiclab/plots2/issues/10754#issuecomment-1082331256](https://github.com/publiclab/plots2/issues/10754#issuecomment-1082331256)

[2022-04-08 08:34] mittal-parth opened #10986 "Missing translation of "This is part of" on _tagging.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-08 08:37] mittal-parth commented on #10986
Hi @TildaDares I have only added the translation for French as of now because its the most updated. Can create more sub-issues for different languages if required.
Please add the first-timers-only label to this. Thank you!

[2022-04-08 08:54] shefali12-ab commented on #10977
Sure @TildaDares I can work on it. Thank you :)

[2022-04-08 08:56] tushmahe commented on #10153
Hi, @TildaDares  I am an Outreachy Applicant, I am looking for my first issue, please assign me one.

[2022-04-08 09:12] TildaDares commented on #10986
Thanks @mittal-parth!!

[2022-04-08 09:13] TildaDares commented on #10986
Reserved for @iamcynthiamamah for 24 hours!!

[2022-04-08 09:14] TildaDares commented on #10153
Hi @iamcynthiamamah, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10986 for 24 hours!!

[2022-04-08 09:14] shefali12-ab commented on #10978
okay @TildaDares
here in the link given, the following font size, weight and style are used
[code]
and at the blog page also the same font size, weight, and style are used, but here on the blog page the font size is looking too small, so can I increase it ?, or apply some changes, I will let you know if it looks better than before.

[2022-04-08 09:15] #10914 closed

[2022-04-08 09:25] stephaniequintana commented on #10844
@simransia, you're most welcome. I wish I could have done more.

I see that you've reached out on Gitter, I was hoping someone there might have been able to help. Of course, I don't know what all you have tried, but per the [comments above](https://github.com/publiclab/plots2/issues/10844#issuecomment-1082842641) both @PeculiarE and I were able to delete our forks and then a re-fork finally opened

[2022-04-08 09:38] TildaDares commented on #10978
@shefali12-ab Actually the font-size for the blog is `15px`
https://github.com/publiclab/plots2/blob/9eb56bc4113c1f823d1b3c6cc1910554dc08c5fb/app/assets/stylesheets/blog.css#L48-L50

[2022-04-08 09:46] illyShelly commented on #10983
@TildaDares Hi, sorry for the confusion. Actually, the pics are the version how they could look like if we make any changes. So, when you open the link (above) it looks like this at the moment (fresh printscreen bellow):

<img width="1161" alt="Screenshot 2022-04-08 at 11 46 14" src="https://user-images.githubusercontent.com/26350915/162410990-716e292f-80a2-41f4-98a2-ec7ca2277424.png">

[2022-04-08 09:51] TildaDares commented on #10984
Hi @PeculiarE, this looks really great but this is a lot of work for a first-timer. Maybe we should stick to the typos and indentation problems in this issue and then we can deal with the spacing problems later. Thanks a lot for working on this @PeculiarE!!!

[2022-04-08 10:00] TildaDares commented on #10983
I really like this. I think we could also do without the colon.

I'm not so sure about this. I think it's best to leave the username as it is so that there's no confusion and we can maintain consistency.

Go for it!

You're right, the heading will look better with a smaller font-size. Maybe we could use 2rem since the current one is 2.75rem.

[2022-04-08 10:04] PeculiarE commented on #10984
Yeah, you're right @TildaDares. The changes do look huge. Lemme re-do it. Thanks 😄

[2022-04-08 10:11] TildaDares commented on #10947
Thanks for working on this @PeculiarE. Thank you!!

[2022-04-08 10:11] TildaDares commented on #10947
Reserved for @rajvidg for 24 hours!!

[2022-04-08 10:11] TildaDares commented on #10153
Hi @rajvidg, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10947 for 24 hours!!

[2022-04-08 10:19] illyShelly commented on #10983
@TildaDares Ok, thank you very much for your input 😉 I'll start to work on it and make some FTO 👩‍💻 👨‍💻 for others.

[2022-04-08 10:24] TildaDares opened #10987 "Update Tag Popover Text"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-08 10:25] TildaDares commented on #10987
Reserved for @helenalvp for 24 hours!!

[2022-04-08 10:25] TildaDares commented on #10153
Hi @helenalvp, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10987 for 24 hours!!

[2022-04-08 10:26] Yavnikaa commented on #10796
Can you update more on this issue for us to take it up?

[2022-04-08 10:26] rajvidg commented on #10947
Thank you @TildaDares , I've started to work on it. :)

[2022-04-08 10:28] Yavnikaa commented on #9471
Hello! Can I please take this up?

[2022-04-08 10:30] Yavnikaa commented on #8317
Hey! If this issue is still open, can I take this up?

[2022-04-08 10:31] TildaDares commented on #10954
Reassigning

[2022-04-08 10:31] Yavnikaa commented on #9071
If this issue is open, I would like to take this up. May I?

[2022-04-08 10:31] TildaDares commented on #10954
Reserved for @Radhika-Saini for 24 hours!!

[2022-04-08 10:32] TildaDares commented on #10153
Hi @Radhika-Saini, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10954 for 24 hours!!

[2022-04-08 10:33] TildaDares commented on #10897
Hi @P3lumi, do you need any help with this?

[2022-04-08 10:41] TildaDares opened #10988 "Enable Unfollow Button for Blogs"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-08 10:41] TildaDares commented on #10988
Reserved for @nobiaya for 24 hours!!

[2022-04-08 10:42] TildaDares commented on #10153
Hi @nobiaya, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10988 for 24 hours!!

[2022-04-08 10:45] TildaDares commented on #10978
@shefali12-ab I think the reason why the font-size is that small is because the page is meant to be a kind of preview to the actual blog content.

[2022-04-08 11:02] akanbifatimah commented on #10844
@stephaniequintana Thank you so much for all your help so far, just like @simransia , I am also on windows OS and haven't been able to run plot2 either via gitPod or on my local machine.  I reached out to @PeculiarE who successfully ran the project on gitpod after facing some issues while trying to run on her local machine (Mac Os), she mentioned doing some editing in her database.yml file which f

[2022-04-08 11:17] akanbifatimah commented on #10968
Hi @TildaDares , I figured out rendering all of those changes on the file might not be easy for a first timer, I resulted to breaking it down so its easy for a first Timer to understand and figured out it would help in creating more FTO's for others who might have not been assigned one yet, is this ok?

[2022-04-08 11:22] kachifako opened #10989 "Fix typo in html tag"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-08 11:26] stephaniequintana commented on #10844
@simransia and @akanbifatimah, do also try googling the errors or your system info + gitpod connection errors...github is such a vast network, we may find the answer in the wild. 🍀

[2022-04-08 11:32] kunmi02 commented on #10844
Thank you @akanbifatimah .

I and @akanbifatimah have been trying to set up plot2 locally. We were able to install rvm on windows, the issue now is setting up rvm with ruby 2.7.3. Whenever we run the rvm list we get this error `ruby-2.7.3 [ missing bin/ruby ]`.

We will continue debugging and I believe we will have a solution soon.

[2022-04-08 11:41] stephaniequintana commented on #10844
@kunmi02 and @akanbifatimah, I assume you've tried everything under the sun...I had the same(ish) issue on my Mac and it was due to a certificate error. I won't make you hash it all out again, but I found [this](https://stackoverflow.com/questions/29876386/how-to-fix-rvm-gems-missing-bin-ruby) for you. It is along the lines of what cleared up my issue.

[2022-04-08 11:45] akanbifatimah commented on #10844
Thank you so much @stephaniequintana

[2022-04-08 11:48] kunmi02 commented on #10844
@stephaniequintana I am running a mac system and I have no issues with installation. The installation we are working on now is on a windows system. Thanks for the solution shared. We will definitely try that out and share outcome

[2022-04-08 12:05] Ishhha commented on #10989
Hello, I am willing to work on this issue, Can u please assign this issue to me?

[2022-04-08 12:09] kachifako commented on #10989
hello @Ishhha , you have claimed the issue by commenting, so please go ahead, but if you want it assigned to you I think that would be for @TildaDares to do.

[2022-04-08 12:12] Ishhha commented on #10989
@kachifako Okay, I'm working on this issue.
@TildaDares If possible can u please assign this issue to me?

[2022-04-08 12:17] helenalvp commented on #10987
Hi! Thank you for the issue!

[2022-04-08 12:20] kachifako commented on #10989
@Ishhha upon re-reading the guideline, it appears that i will have to assign the issue to the next person in line for first timers

[2022-04-08 12:20] TildaDares commented on #10989
Hi @kachifako, it’s fine @Ishhha can work on this.

[2022-04-08 12:20] TildaDares commented on #10989
Thanks for working on this!!

[2022-04-08 12:22] PeculiarE commented on #10984
Hi @TildaDares. I've updated the issue to focus on fixing only indentation and typo problems. Hope it's suitable for a first-timer?

[2022-04-08 12:46] Ishhha commented on #10989
@kachifako Can u please review my pull request?

[2022-04-08 13:07] Abdulrahim2567 commented on #10982
@TildaDares thanks a lot I will try this out :)

[2022-04-08 13:11] Ishhha commented on #10946
Hello @jywarren, If no one is working on this issue, Can u please assign this issue to me?

[2022-04-08 15:10] Ishhha commented on #10937
Hello @cesswairimu, If no one is working on this issue, Can u please assign this issue to me?

[2022-04-08 15:18] illyShelly opened #10993 "Bug - part of the page ../wiki/welcome is in English and another in Spanish 🙂"
Hi 👋

### Please describe the problem (or idea)
When I visit this site on PublicLab.org [wiki welcome](https://publiclab.org/wiki/welcome) the alert button  and some part of page are in different language - Spanish instead of English. I tried to change language and refresh page - but no change.

I enclosed the printscreen just small part with the alert.

One chosen language - EN.

### Please show

[2022-04-08 16:26] Ishhha commented on #10989
Is it fine now? @kachifako
Thank you for reviewing and helping me to improve and correct my mistakes.

[2022-04-08 16:29] mittal-parth commented on #10993
Hi @illyShelly!
So if you notice the page you have linked https://publiclab.org/wiki/welcome, has a `/wiki` in the URL. All wikis come under user generated content on PublicLab (More info on the Data Model can be found [here](https://github.com/publiclab/plots2/blob/main/doc/DATA_MODEL.md). This means that the language changes are rather chosen by the author(s) of the page and is not as such a pro

[2022-04-08 16:47] abhishekchauhan15 commented on #10984
Hey, @PeculiarE,  I can fix this issue, can you assign me this?

[2022-04-08 16:55] TildaDares commented on #10968
Hi @akanbifatimah, this looks really great. I’m a bit worried about git conflicts though.

[2022-04-08 16:59] abhishekchauhan15 commented on #10988
I can work on this can you please assign me?

[2022-04-08 17:01] TildaDares commented on #10988
Hi @abhishekchauhan15, this issue has been reserved. You can request for an issue in #10153. Thanks!

[2022-04-08 17:08] abhishekchauhan15 commented on #10985
After 24 hrs can you assign me this issue @TildaDares ?

[2022-04-08 17:10] abhishekchauhan15 commented on #10979
Hey @TildaDares can you assign me this issue

[2022-04-08 17:11] TildaDares commented on #10985
@abhishekchauhan15 If the issue is not claimed, yes I can.

[2022-04-08 17:11] abhishekchauhan15 commented on #10971
I can do fix it can you assign me this @TildaDares

[2022-04-08 17:16] illyShelly commented on #10993
@mittal-parth 😄 Got it. Ok, I thought it makes copy with somehow mixed-up translation files etc. 😆

[2022-04-08 17:38] simransia commented on #10840
Hello @cesswairimu . Could you please provide me some help in running the plots2 application using gitpod ?
I am getting error saying : ` couldn't find file  'jquery-lazyload/jquery.lazyload.js' with type 'application/javascript' `

![PREVIEW](https://user-images.githubusercontent.com/88017902/162493380-13306fc5-2f4b-4bb7-b9cc-8b11108accb9.PNG)

What should I do to resolve this ..?

[2022-04-08 17:58] kachifako opened #10996 "Curly brace omitted"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-08 18:34] PeculiarE commented on #10984
Hiya @abhishekchauhan15. Thanks for showing interest in fixing this issue. I think it might be reserved for the next person on the list at #10153. But do keep an eye out on this thread. @TildaDares will decide on who will work on it when she's done reviewing it.

In the meantime, you can ahead over to #10153 and request for a FTO issue to be assigned to you. I see your name is not on the list.

[2022-04-08 18:38] kachifako commented on #10989
No problem @Ishhha . I am grateful to be of help

Did you make the final correction so that the pull request can be merged?

[2022-04-08 18:43] RaviAnand111 opened #10997 "Back to top button in mobile view is transparent"
### Please describe the problem (or idea)

The back to top button in mobile view is transparent which looks weird and attracts your attention from main page and content again and again. I think it is a bug which should have been of white color.

### Please show us where to look

https://publiclab.org/#

![image](https://user-images.githubusercontent.com/59113935/162502111-af5c2c0e-87c5-4d85-bd88-2

[2022-04-08 18:56] #10993 closed

[2022-04-08 18:57] abhishekchauhan15 commented on #10153
Hey, @TildaDares can you please assign me any issue?

[2022-04-08 19:08] kachifako commented on #10996
Hello @TildaDares I've raised another first-timer issue

[2022-04-08 19:20] stephaniequintana commented on #10840
@sanskruti-shahu, I think you're in pretty good company - every one here has something they're "very new with." I'm a self-taught developer and am finding every day that there is something I have absolutely NO IDEA about 😬  We're all here to learn, though - we're so glad you could join us! Please don't hesitate to ask anyone for help or direction and happy coding ✨

[2022-04-08 19:37] shefali12-ab commented on #10978
okay, @TildaDares so, do I need to increase the font size or not.
one more thing I have encountered while running the project locally, right now I am facing a problem in opening my Ubuntu OS, I will share that issue as soon as I will get back to my ubuntu OS.
Thank you

[2022-04-08 19:47] Ishhha commented on #10989
@kachifako I did the final correction, you can merge the PR now.

[2022-04-08 19:57] rajvidg commented on #10947
I updated both of the files, please check for a review. @TildaDares

[2022-04-08 20:06] TildaDares commented on #10996
Thanks for opening this issue @kachifako but `.scss` use a different syntax or styling rule than `css` so the file is valid.

[2022-04-08 20:06] TildaDares commented on #10978
@shefali12-ab I don't think we need to increase the font size anymore.

[2022-04-08 20:16] #10989 closed

[2022-04-08 20:19] #10982 closed

[2022-04-08 20:23] #10950 closed

[2022-04-08 20:25] TildaDares commented on #10979
Hi @abhishekchauhan15, go ahead. Thanks!!

[2022-04-08 20:30] TildaDares commented on #10960
Reassigning

[2022-04-08 20:30] TildaDares commented on #10960
Reserved for @keshavgbpecdelhi for 24 hours!!

[2022-04-08 20:31] TildaDares commented on #10153
Hi @keshavgbpecdelhi, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10960 for 24 hours!!

[2022-04-08 20:43] TildaDares commented on #10984
Looks good @PeculiarE. Thanks for working on this!!

[2022-04-08 20:44] TildaDares commented on #10984
Reserved for @imranburki for 24 hours!

[2022-04-08 20:44] TildaDares commented on #10153
Hi @imranburki, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10984 for 24 hours!!

[2022-04-08 20:49] TildaDares commented on #10952
Thanks for working on this everyone. Just noting that the only files that should be corrected are the ones with JavaScript. We don't have to indent the HTML so that we don't have too many changes. Thanks!!

[2022-04-08 20:58] sanskruti-shahu commented on #10840
@stephaniequintana Thank you for such a pleasant welcome 😊.

[2022-04-08 21:45] sanskruti-shahu commented on #10153
Hey @TildaDares , I am looking for my first issue. Please assign me one.

[2022-04-08 22:29] illyShelly opened #11001 "Correct code and add new class using flexbox property for better UI"
### 💡Improved UI in question part of the page

- [ ] 📝 **Update** the file [$app/views/questions/show.html.erb](https://github.com/publiclab/plots2/blob/main/app/views/questions/show.html.erb#L28) in the `plots2` repository

Link to the page on Publiclab.org [the web](https://publiclab.org/questions/laurel_mire/09-20-2021/what-can-you-do-about-oil-in-your-ditch-following-a-natural-disaster-when-tr

[2022-04-09 00:25] kachifako commented on #10989
Weldone @Ishhha !

[2022-04-09 00:27] kachifako commented on #10996
Oh , my bad.
I will close the issue right away.

Thank you @TildaDares

[2022-04-09 00:27] #10996 closed

[2022-04-09 00:33] keshavgbpecdelhi commented on #10960
Excited to do this 😇, thanks for assigning me.

[2022-04-09 02:45] kachifako opened #11002 "Fix typo in html tag (part of #10989)"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-09 02:46] kachifako commented on #11002
I hope this is okay @TildaDares

[2022-04-09 03:46] akanbifatimah commented on #10968
I totally understand @TildaDares ,I will try my best to make it easier for a biginner while effecting all the changes.

[2022-04-09 04:22] imranburki commented on #10984
@TildaDares Thanks

[2022-04-09 05:29] Ishhha commented on #10989
@kachifako Can u please suggest some good-first issues in Design a new full-screen user interface for Infragram.org project?

[2022-04-09 06:21] Somya-Singhal commented on #10952
@TildaDares @stephaniequintana I would like to start working with [queue.html.erb](queue.html.erb).

[2022-04-09 06:45] kachifako commented on #10989
Good morning @Ishhha
We won't be working on the UI until the program actually starts

[2022-04-09 07:06] Ishhha commented on #10989
Good morning💖 @kachifako, Can u suggest what should I do for now? I mean on which issues I should work for now.

[2022-04-09 07:20] imranburki commented on #10844
Hi I am facing error while installing ruby.
![Screenshot from 2022-04-09 12-15-59](https://user-images.githubusercontent.com/56333970/162561410-b46397e7-4a28-43d4-acc0-132982dd5371.png)

[2022-04-09 07:30] simransia opened #11006 "Format code by improving the indentation in blog.css stylesheet"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-09 07:36] simransia commented on #11006
Hello @TildaDares @cesswairimu @jywarren . Please go through this issue and check if this issue is eligible for becoming an FTO issue for new contributors.

Thank You❤️

[2022-04-09 08:00] kachifako commented on #10989
You can go through open issues and see what you can conveniently work on.
You could create issues for first-timers like I did or look for bugs to report, review push requests, etc.
Just look for some way to be of help in the community.
Dont forget to go through the contribution guidelines and code of conduct.
I am also an outreach intern btw.

[2022-04-09 08:25] TildaDares commented on #11002
Looks good @kachifako. Thank you!!

[2022-04-09 10:15] shefali12-ab commented on #10978
Hii @TildaDares @jywarren see this screen recording,
https://www.awesomescreenshot.com/video/8322334?key=d3569c1bea44369804e2aa55527e7331
When i have opened this bolg page locally using gitpod , I have found that some of the contents like youtube video iframe and the paragraphs are missing from there. Also that follow button is clickable.
But at  https://publiclab.org/blog link mentioned in public

[2022-04-09 10:15] shefali12-ab commented on #10978
sure i will close this issue.

[2022-04-09 10:30] Forchapeatl commented on #10844
I faced this issue some time ago  run
 Disable RVM from trying to install necessary software via apt-get
`rvm autolibs disable`
 Then try installing Ruby:
`rvm install 2.4.0`

reference [https://stackoverflow.com/a/42286377](https://stackoverflow.com/a/42286377)

[2022-04-09 10:42] VictoriaAjala commented on #10952
Hi @TildaDares, It seems like the users.html.erb issue has already been resolved, I'd like to work on nodes.html.erb

[2022-04-09 11:11] kachifako commented on #11002
Happy to be of help @TildaDares .

Should I assign the individual issues to first timers ?

[2022-04-09 11:12] TildaDares commented on #10952
Hi @VictoriaAjala, go ahead. Thanks!

[2022-04-09 11:14] TildaDares commented on #11002
Reserved for @Crisoal for 24 hours!

[2022-04-09 11:15] TildaDares commented on #10153
Hi @Crisoal, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11002 for 24 hours!!

[2022-04-09 11:17] TildaDares commented on #11001
Thanks for working on this @illyShelly. It looks great.

Can you also move the `follow this topic` button to the end of the div as shown in your screenshot in this FTO? Thanks!

[2022-04-09 11:20] TildaDares commented on #11006
Thanks for opening this issue @simransia. I took a look at the file but I don’t see any indentation problems.

[2022-04-09 11:31] TildaDares commented on #10978
@shefali12-ab The contents of the blog are user generated. So a user can decide whether or not they want to include a YouTube iframe or a paragraph. If you want to work on the iframe, all you have to do is create a post and then add the `blog` tag.

[2022-04-09 11:32] TildaDares commented on #10978
I’m not sure about the follow button though.

[2022-04-09 11:48] Crisoal commented on #10153
thank you

[2022-04-09 11:49] Somya-Singhal opened #11009 "Fix typos and indentation in _queue.html.erb"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-09 11:51] Somya-Singhal commented on #11009
Hello @TildaDares, Please review this FTO issue.Thanks!

[2022-04-09 11:51] Crisoal commented on #11002
thank you

thank you

[2022-04-09 11:58] VictoriaAjala commented on #10952
Hello @TildaDares, I have gone through the file and I can't find the tab issues, It seems it has been fixed.

[2022-04-09 12:02] Crisoal commented on #11002
@TildaDares how do I make changes to the file?

[2022-04-09 12:07] Somya-Singhal commented on #10952
I think @VictoriaAjala , you are confused that we had to work on this issue. But instead we had to make an FTO issue for the chosen file, like you choosed to work upon [nodes.html.erb](nodes.html.erb), so you have to go through that file and create an FTO issue by specifying a small change, that is making double-space indentation(each indent level is made with 2 spaces) not tabs as told by @jywarr

[2022-04-09 12:07] TildaDares commented on #10952
@VictoriaAjala The problem is still there. I can still see it.

[2022-04-09 12:09] TildaDares commented on #11009
Thanks for working on this @Somya-Singhal. This is perfect!!

[2022-04-09 12:10] TildaDares commented on #11009
Reserved for @ayish1998 for 24 hours!!

[2022-04-09 12:11] TildaDares commented on #10153
Hi @ayish1998, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11009 for 24 hours!!

[2022-04-09 12:12] TildaDares commented on #10997
Yeah you can create an FTO for it.

[2022-04-09 12:54] illyShelly commented on #11001
@TildaDares hi 🙂 sure I'll do it. Just messed up my local git when trying to be sure, it works 😄

[2022-04-09 14:11] abdelquodr commented on #10153
waiting patiently for issues every now and then 🙃

[2022-04-09 15:35] shefali12-ab commented on #10978
sure @TildaDares , I can create a blog but on which topic, do i need to create a blog, i didn't have any idea about it.
I thought that it was a issue that need to be fixed when i was going through the blog page.

[2022-04-09 15:43] illyShelly commented on #11001
@TildaDares Hi again :) Prepared as discussed in this issue [#10983](https://github.com/publiclab/plots2/issues/10983)
ℹ️ I just didn't add or change size of `h1`, because I suppose it's in general css style file `style.css`, which will affect **all h1 heading** tags. Am I right?
I think in general we should avoid to use in-style css to change directly some code. If we decide to change `<h1>` we c

[2022-04-09 15:54] TildaDares commented on #11001
@illyShelly You can use Bootstrap to add the styles. The classes to add will be `d-flex align-items-center justify-content-center`.

[2022-04-09 15:57] TildaDares commented on #10988
Hi @abhishekchauhan15, you can work on this since #10979 has been claimed.

[2022-04-09 15:59] TildaDares commented on #10985
@AsmaIbrahimButt you need to claim an issue to let others know you're working on it.

[2022-04-09 16:01] illyShelly commented on #11001
@TildaDares , Okay I change it but it is `d-flex align-items-center justify-content-between` for making the space otherwise it's smashed together.

[2022-04-09 16:03] TildaDares commented on #11001
Okay @illyShelly

[2022-04-09 16:05] TildaDares commented on #10968
On second thought @akanbifatimah I think it might be better for you to open a PR for this issue since it involves a lot of changes. That's if you're interested.

[2022-04-09 16:06] illyShelly commented on #11001
@TildaDares , thank you. I guess it's done 🙂 and much shorter now.

[2022-04-09 16:08] TildaDares commented on #10971
On second thought @stephaniequintana, do you think you could open a PR for this? There are too many changes for a first-timer.

[2022-04-09 16:09] TildaDares commented on #11002
@Crisoal Have you gone through this issue's description?

[2022-04-09 16:15] illyShelly commented on #11001
I one more thing sorry, the other FTO could be to `improve and sync indentation`. It's a bit unorganised.

[2022-04-09 16:24] simransia commented on #11006
Yes mam, my apologies. There is no need for fixing indentation in that file. Actually in vs code the file was not looking properly formatted, so I had created the issue.

I have updated this issue, please review it again @TildaDares.

Thankyou

[2022-04-09 16:39] manognyaa commented on #10153
Hello @TildaDares  ma'am, could you please assign me an issue. I am waiting since 5 days. I would be grateful to have one first time issue.

[2022-04-09 16:56] stephaniequintana commented on #10971
@TildaDares, You can assign it to me. I'll not be able to for some time, but I do not need to make any changes to the branch so it should be quick once I'm at my computer.

[2022-04-09 17:25] TildaDares commented on #10971
Great thanks @stephaniequintana

[2022-04-09 18:09] Ishhha commented on #10989
Nice to meet you @kachifako. I am starting work on these things and if I need any help, Can I ask you?

[2022-04-09 18:10] shefali12-ab opened #11012 "Repetition of CSS selectors"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-09 18:11] shefali12-ab commented on #11012
Hii @TildaDares this can be a FTO.
Thank you.

[2022-04-09 18:16] kachifako commented on #10989
sure thing @Ishhha , we can help each other out where we can
nice to meet you too

[2022-04-09 18:57] RaviAnand111 commented on #10997
Hey @TildaDares, I have been trying to find the file to be changed for an hour but couldn't find. Can you please help me to find it.
Thank You

[2022-04-09 19:21] Radhika-Saini opened #11013 "Add a Slider to Translate the Language"
Translate the Language using a Slider.

Because the Same Content is Twice on the same page.
It minimizes the web page.

[
![2022-04-10 (2)](https://user-images.githubusercontent.com/59209590/162588731-28773a88-4b22-4048-9f94-75aff0bdbc3a.png)
](url)

[2022-04-09 19:22] ayish1998 commented on #11009
Received with thanks

[2022-04-09 19:24] Radhika-Saini commented on #11013
@TildaDares Kindly Review.

[2022-04-09 19:40] akanbifatimah commented on #10968
I will do that..thank you for the suggestion @TildaDares

[2022-04-09 19:43] Radhika-Saini opened #11014 "Positioning of Lock Icon is not in center of circle."
The Lock icon is found on the site by the following steps-
1. Login
2. In the community Dropdown, Click on Get Started.

![2022-04-10 (3)](https://user-images.githubusercontent.com/59209590/162589351-a4015bb9-3d10-40a7-b2ff-08456751e536.png)

[2022-04-09 19:44] Radhika-Saini commented on #11014
@TildaDares  I found a bug, Kindly review.

[2022-04-09 21:00] Forchapeatl commented on #4072
@jywarren , please I'm a bit confused on what is to be done as this code has already been implemented on [app/views/map/show.html.erb](https://github.com/publiclab/plots2/blob/main/app/views/map/show.html.erb) lines 35 to 40.

[2022-04-09 23:19] kunmi02 commented on #10844
@simransia I think i have a fix for your issue. I got the same error on gitpod too and I was able to fix it finally. I had the same error on gitpod too

<img width="1440" alt="Screenshot 2022-04-09 at 23 27 13" src="https://user-images.githubusercontent.com/27483062/162594600-2d8bec5e-144b-40b9-9077-2a737d5dd9bb.png">

The first thing I did was to stop the passenger server by pressing ctrl + c.
Th

[2022-04-09 23:27] stephaniequintana commented on #10844
Thank you, @kumni02. There was similar issue/fix with #10827, Im curious if/how they're related, At any rate, we all appreciate the effort and sharing the details/results.

[2022-04-10 04:15] simransia commented on #10844
Woow @kunmi02 !!  You are really really awesome. 💛💛 I followed all the instructions you have given and now the problem is fixed. 💃🥳

Thank You so much for providing help 🙇‍♀️
I highly appreciate it !🥰

[2022-04-10 07:18] TildaDares commented on #11012
Hi @shefali12-ab, can you add a link to the file? Thanks!

[2022-04-10 07:20] TildaDares commented on #10153
Hi @komal3120, there's an issue reserved for you in https://github.com/publiclab/infragram/issues/343 for 24 hours!!

[2022-04-10 07:23] VictoriaAjala commented on #10952
Oh Thanks! @Somya-Singhal . I can see it now @TildaDares . Thank you!

[2022-04-10 08:19] shefali12-ab commented on #11012
Hii @TildaDares I have updated the above comment, mentioned the link there.

[2022-04-10 08:19] TildaDares commented on #11014
Hi @Radhika-Saini, go ahead. Thanks!

[2022-04-10 08:23] TildaDares commented on #11013
Hi @Radhika-Saini, Public Lab has translations in several languages. We also have a language drop down that would serve the same purpose as the slider.

[2022-04-10 08:27] Radhika-Saini commented on #11014
@Tilda I am an outreachy applicant, Finding bugs and Suggesting Feature PR are enough for contribution or need more to get selected.

[2022-04-10 08:30] Radhika-Saini commented on #11013
Thanks, @TildaDares . But there is duplicate content present on the page which is not a good practice I think.
We have to remove that atleast.

[2022-04-10 08:43] shefali12-ab opened #11017 "HTML Code indentation"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-10 08:44] shefali12-ab commented on #11017
Hii @TildaDares check this issue, I think this can be a FTO.
Thank you.

[2022-04-10 08:46] TildaDares commented on #11013
@Radhika-Saini Can you share a screenshot of the duplicate content?

[2022-04-10 08:49] TildaDares commented on #11017
Hi @shefali12-ab, thanks for working on this. Indenting HTML is a lot of work and not something a first-timer can handle. Also, a lot of the html in this project is unindented so instead of trying to indent everything, we’re focusing on making sure contributors indent new code that they add. Thanks!!

[2022-04-10 08:51] TildaDares commented on #11014
Hi @Radhika-Saini, you need to make at least one contribution(PR).

[2022-04-10 09:31] Radhika-Saini commented on #11013
@TildaDares  Like on this Page https://publiclab.org/wiki/welcome
First, the content is in English then the same content is in some other language.

[2022-04-10 09:31] Radhika-Saini commented on #11014
Ok, @TildaDares  Thanks.

[2022-04-10 10:10] shefali12-ab commented on #11017
sure @TildaDares I will close this issue.

[2022-04-10 10:10] #11017 closed

[2022-04-10 10:48] Yavnikaa commented on #10754
Hii @jywarren , @TildaDares  and other community members! I wanted to know if I could apply for the same project in GSoC and Outreachy? Is it possible, and is it recommended to do so?

[2022-04-10 11:24] Crisoal commented on #11002
yes but should I add a my own words to the file?

[2022-04-10 11:30] Garimak1204 commented on #10933
Hi,
Sorry for working on this so late actually I had exams.
But now I have completed it but its showing all test passed and Code owner review required. Please have a look.
Can you please tell me what is the next step?
Thank you

[2022-04-10 12:04] ayish1998 commented on #11009
@TildaDares what will I do next after resolving the issue?

[2022-04-10 12:08] ayish1998 commented on #11009
@TildaDares what do I have to do next after resolving the issue?

[2022-04-10 12:43] TildaDares commented on #11013
@Radhika-Saini I think the user who authored the wiki did that intentionally.

[2022-04-10 15:04] VictoriaAjala opened #11019 "Fix Indentation In _nodes.html.erb"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-10 15:05] VictoriaAjala commented on #11019
Hi @TildaDares, Please kindly review. Thank you!

[2022-04-10 15:52] TildaDares commented on #11019
Thanks @VictoriaAjala. This looks good.

[2022-04-10 16:12] TildaDares commented on #11009
@ayish1998 You can create first-timer issues for others or work on issues with the tag [help-wanted](https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) or [bug](https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3Abug)

[2022-04-10 16:14] TildaDares commented on #10153
Hi @HarrietMwanza, there's an issue reserved for you in https://github.com/publiclab/infragram/issues/345 for 24 hours!!

[2022-04-10 16:17] TildaDares commented on #11002
@Crisoal You are supposed to remove the lines that start with `-` and then replace it with the line that starts with `+`.

[2022-04-10 16:20] TildaDares commented on #11012
Thanks @shefali12-ab. This is perfect!!

[2022-04-10 16:20] TildaDares commented on #11012
Reserved for @OLIPLICHE for 24 hours!

[2022-04-10 16:21] TildaDares commented on #10153
Hi @OLIPLICHE, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11012 for 24 hours!!

[2022-04-10 16:22] TildaDares commented on #11019
Reserved for @mr-funtor for 24 hours!

[2022-04-10 16:22] TildaDares commented on #10153
Hi @mr-funtor, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11019 for 24 hours!!

[2022-04-10 16:24] TildaDares commented on #11006
Hi @simransia, indentations are supposed to be two spaces deep.

[2022-04-10 16:33] mr-funtor commented on #11019
Thank you so much. Would start working on it

[2022-04-10 16:44] PeculiarE commented on #10948
@shefali12-ab....thank you for your wise words.

I've spent the past week looking at the work already done on the project I am interested in; trying to understand the logic and implementation and familiarise myself with the codebase. And while it has been a bit challenging, I've been fortunate to receive helpful explanations from fellow contributors in the community and that really enforced your m

[2022-04-10 16:58] Radhika-Saini commented on #11013
Okay But As you said Public Lab has translations in several languages. We also have a language drop-down that serves the same purpose as the slider. I search for dropdown but I did not found.
I face the problem of searching the dropdown and still not found. This problem can be faced by anyone.
So, When the sites loads, a pop-up has to come to choose the language or The dropdown has to be visible o

[2022-04-10 17:16] Pragati1419 commented on #10153
Hey @TildaDares mam Can You please assign me the one first-time issue

[2022-04-10 17:17] TildaDares commented on #11013
@Radhika-Saini You can find the language dropdown in the footer.

[2022-04-10 17:19] Radhika-Saini commented on #11013
But @TildaDares That should be in the Header. What do you think about this?

[2022-04-10 17:41] TildaDares commented on #11001
@illyShelly I added a few styles to make it more responsive on smaller screens. What do you think?

https://user-images.githubusercontent.com/63427719/162632233-24dab211-12b2-4f00-9641-df815f48f558.mov

[2022-04-10 17:45] TildaDares commented on #10986
Reserved for @preeti-14-7 for 24 hours!

[2022-04-10 17:46] TildaDares commented on #10153
Hi @preeti-14-7, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10986 for 24 hours!!

[2022-04-10 17:47] #10985 closed

[2022-04-10 17:51] akanbifatimah commented on #10968
Hi @TildaDares , I have opened a PR for this issue at #11020

[2022-04-10 18:15] TildaDares commented on #10954
Reassigning

[2022-04-10 18:15] TildaDares commented on #10954
Reserved for @anushkadubey for 24 hours!!

[2022-04-10 18:16] TildaDares commented on #10153
Hi @anushkadubey, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10954 for 24 hours!!

[2022-04-10 18:16] shefali12-ab commented on #10948
Thank you :)) and all the best @PeculiarE

[2022-04-10 18:20] TildaDares commented on #10925
Hi @cor100, do you need help with this?

[2022-04-10 18:32] TildaDares commented on #11013
@Radhika-Saini That sounds interesting. Where in the heading would it be?

[2022-04-10 18:42] Radhika-Saini commented on #11013
@TildaDares This dropdown can be on the left of the Dashboard in the header.

[2022-04-10 19:54] falyne commented on #10971
Hello @TildaDares i have put up a PR for this issue.
please kindly review as i await your feedback. Thanks

[2022-04-10 19:57] Crisoal commented on #11002
Yes, thank you. I got the hang of it and I have done the tasks

[2022-04-10 20:00] TildaDares commented on #10971
Hi @falyne, the issue was reassigned since you didn’t claim within 24 hours but don’t worry I’ll add your name back on the FTO list. Thanks!

[2022-04-10 20:12] Forchapeatl commented on #4072
@TildaDares , the above code has already been implemented . please are we to include more entries (trruncate_fields, tms, min_zoom, max_zoom,  cartographer_notes, license, notes, published_on, captured_on) of the `drupal_content_type_map` model at [app/views/map/show.html.erb](https://github.com/publiclab/plots2/blob/main/app/views/map/show.html.erb). or are we replacing the word  "Map" with "note

[2022-04-10 20:18] falyne commented on #10971
ok Thanks @TildaDares will be waiting to get a First timers Issues.

[2022-04-10 20:36] illyShelly commented on #11001
Hi @TildaDares 👋  OK.
Now the only thing which needs our care 😃 is responsiveness of the <h1>. What about to add some media query (or update them) something like this (it's also for old iPhone 5 for instance). What do you think?

`
h1 {
    font-size: 1rem;
}

@media (min-width: 320px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 1.7rem;

[2022-04-10 22:39] OLIPLICHE commented on #11012
Thank you

[2022-04-11 04:48] simransia opened #11023 "Fix indentation in _users.html.erb file"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-11 04:50] simransia commented on #11023
Hello @TildaDares , Please review this FTO issue.

Thank You💛

[2022-04-11 05:01] cor100 commented on #10925
hi @TildaDares, I just created a pull request! Asking for a review

[2022-04-11 05:06] stcoder10 commented on #10153
Hi @TildaDares can I please be added to the FTO list. I have been coding for about a year now. and would love to start to contribute to the Open Source community. My preferred languages are HTML, CSS, JS and Python. Thank you!!

[2022-04-11 05:45] simransia commented on #11006
Hello @TildaDares , I have again made some corrections related to indentation. I think now it is up to the expectation.
Please review it.

Thank You 💛

[2022-04-11 05:59] AsmaIbrahimButt opened #11025 "Fix the indentation in _social_icons.html.erb"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-11 06:02] AsmaIbrahimButt commented on #11025
Hi @TildaDares ,
Please review this FTO issue.
thanks

[2022-04-11 07:08] TonaDaphin commented on #10153
Hello @TildaDares I am an Outreachy applicant looking for my first issue to contribute to. Please assign me one, thanks

[2022-04-11 07:09] TildaDares commented on #11001
@illyShelly Sounds interesting. Can I see a screen recording of how it looks on different screen sizes?

[2022-04-11 07:12] TildaDares commented on #11023
@simransia Can you take a look at it again? Some of the code is not properly indented. Thanks!

[2022-04-11 07:15] TildaDares commented on #11025
Hi @AsmaIbrahimButt, thanks for working on this. A lot of the html in this project is unindented so instead of trying to indent everything, we’re focusing on making sure contributors indent new code that they add. Thanks!!

[2022-04-11 07:19] TildaDares commented on #11006
This looks great @simransia. Thank you!!

[2022-04-11 07:19] TildaDares commented on #11006
Reserved for @anirudh-t-d for 24 hours!!

[2022-04-11 07:20] TildaDares commented on #10153
Hi @anirudh-t-d, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11006 for 24 hours!!

[2022-04-11 07:21] CaroGuerreroC commented on #10153
Hello Im Carolina from Ecuador, Im looking an Issue, for my  Outreachy application. Thanks!

[2022-04-11 07:23] TildaDares commented on #10153
Hi everyone, when you’re assigned an issue, please leave a comment in the issue you were assigned within 24 hours. Don’t wait till you open a PR before letting others know you’re working on it. After 24 hours, if the issue has not been claimed it’ll be reassigned. Thanks!!

[2022-04-11 07:48] ayish1998 commented on #10153
@TildaDares I have received an issue. Thanks

[2022-04-11 08:07] Somya-Singhal opened #11026 "Fix typos in config.yml file"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-11 08:12] Somya-Singhal commented on #11026
Hello @TildaDares, previously in infragram repo also similar typo was there, then after seeing this typo here also I wanted to create FTO for it. Please review it once!😅

[2022-04-11 08:36] simransia commented on #11023
Updated! Please go through it again @TildaDares .

Thanks a lot!

[2022-04-11 08:48] anirudh-t-d commented on #11006
Hi @TildaDares thank you for assigning an fto to me!!! I will work on this ASAP

[2022-04-11 09:15] Ademola101 commented on #10844
Hi, I am an outreachy aspirant, I am getting this error when installing the plot2 on my local machine.

An error occurred while installing critical-path-css-rails (4.1.1), and Bundler cannot continue.
Make sure that `gem install critical-path-css-rails -v '4.1.1' --source 'https://rubygems.org/'` succeeds before bundling.

[2022-04-11 09:16] TildaDares commented on #11023
Reserved for @kirteeprajapati for 24 hours!!

[2022-04-11 09:17] TildaDares commented on #10153
Hi @kirteeprajapati, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11023 for 24 hours!!

[2022-04-11 09:20] TildaDares commented on #11026
Thanks @Somya-Singhal. Looks great!!

[2022-04-11 09:21] TildaDares commented on #11026
Reserved for @ShoiraTa for 24 hours!!

[2022-04-11 09:22] TildaDares commented on #10153
Hi @ShoiraTa, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11026 for 24 hours!!

[2022-04-11 09:57] Forchapeatl commented on #10844
@Ademola101 , can you share a screen shot of the error with us

[2022-04-11 10:08] Ademola101 commented on #10844
![Screenshot (6)](https://user-images.githubusercontent.com/54910756/162716435-762aba25-9c4b-4069-bb58-cbaec0780653.png)
@Forchapeatl this is the error i am getting

[2022-04-11 10:33] kirteeprajapati commented on #11023
Thank you @

Thank you @TildaDares  m working on it ✨

[2022-04-11 10:41] ShoiraTa commented on #11026
Hi @TildaDares, thanks a lot for the assignment.  Just to make sure, I want to contribute in Spam Management System, is this assignment the proper one?

[2022-04-11 10:42] kachifako commented on #11002
did you create a pull request to merge the changes  @Crisoal ?

[2022-04-11 10:50] shefali12-ab commented on #10978
Hey @TildaDares I'm waiting for your reply, also I have sucessfully completed my FTO issue, Now i am looking for some more challenging issue, I have serched for issue with tag Help wanted, but didn't get any. please guide me with this.

[2022-04-11 11:00] PeculiarE commented on #10984
Hiya @imranburki....any update on this? Please reach out if you're facing any challenge and need a bit of help. The community is here to help.Thank you 😄

[2022-04-11 11:08] kunmi02 commented on #10844
Hi @Ademola101 try run `gem install crtical-path-css-rails -v '4.1.1' --source 'https://rubygems.org/'`  on your terminal within the project roo folder.
After running that try run `bundle install` again

[2022-04-11 11:12] Ademola101 commented on #10844
Thanks @kunmi02.

This is what I  get after running that
![Screenshot (7)](https://user-images.githubusercontent.com/54910756/162728176-5910bf7b-c672-4fe1-b170-94cfc26e9943.png)

[2022-04-11 11:16] Forchapeatl commented on #10844
seems like your gem version is not compatible with windows
first check your gem version
 `gem -v`
if it's > 2.3.0  run
`gem update --system 2.3.0`
then bundle install

reference [https://stackoverflow.com/a/25621469](https://stackoverflow.com/a/25621469)

[2022-04-11 11:21] kunmi02 commented on #10844
oooppss...
@Ademola101 I don't think you can run a rails app successfully on the windows system. If at all you proceed ahead of this stage, you might get stuck at the point of installing ruby using rvm cos rvm does not support windows.

In conclusion, I will advise you use WSL to setup the project or move to Linux or Mac system

[2022-04-11 11:27] Somya-Singhal opened #11029 "Fix warnings in style.css"
### Please describe the problem (or idea)

<img width="427" alt="pl-21" src="https://user-images.githubusercontent.com/88088520/162729915-91d2cd37-2ef0-4bf9-a348-76640a95c801.PNG">

<img width="457" alt="pl-22" src="https://user-images.githubusercontent.com/88088520/162730094-4659c9c1-09dd-4921-a546-24ba7b60e265.PNG">

Hello @TildaDares, I noticed there were some warnings in style.css which would

[2022-04-11 11:29] Somya-Singhal commented on #11029
Hello @TildaDares, Can I work on resolving this issue?

[2022-04-11 11:46] PeculiarE commented on #10844
Wow @kunmi02....that's a pretty long and detailed solution. Where were you when I was having issues running plots2 on Gitpod 🤣 🤣....On a more serious note though, I'm glad it worked for you @simransia 🥳 🥳 . As @stephaniequintana and @akanbifatimah already mentioned, I fixed my issue by switching from a mysql db to an sqlite one in the database.yml file, and surprisingly that worked for me. Unfortu

[2022-04-11 12:40] TildaDares commented on #11029
Yeah go ahead @Somya-Singhal. Thanks!!

[2022-04-11 12:41] TildaDares commented on #10978
@shefali12-ab What is the question again?

[2022-04-11 12:44] anushkadubey commented on #10954
Hey @TildaDares, thanks for assigning this issue to me. I am working on it!

[2022-04-11 13:10] Somya-Singhal commented on #11029
Thanks @TildaDares, I linked a pull request. Can you please review it and suggest the changes if any needed?

[2022-04-11 13:15] Ademola101 commented on #10844
Thanks, It was because I was using old version of bundler.

[2022-04-11 16:14] imranburki commented on #10984
yeah, i was setting environment locally, however, i was facing many issues
and errors. So I decided to run it on gitpod as someone mentioned in the
help section. Hopefully, it will work now and I will finish my work soon.

On Mon, Apr 11, 2022 at 4:00 PM PeculiarE ***@***.***> wrote:

[2022-04-11 16:21] illyShelly commented on #11001
@TildaDares 👋

In recording is the difference between local:3000 and current Publiclab.org page.
So, I implement the **media query** with some corrections for **other headings as well** (h2 - h5). Of course now it's without your suggestion - please send it to me.

Why all?
1. because so many `<a> tags ` /links and various buttons is used as **anchor tag** with **heading** , so without change of al

[2022-04-11 16:30] Ishhha opened #11035 "Unnecessary forward slash in many html files"
Many unnecessary forward slashes are there in hr and br tags in 404.html, 422.html, 500.html, 502.html, and 503.html.

### Please show us where to look

https://publiclab.org/plots2/public/404.html
https://publiclab.org/plots2/public/422.html
https://publiclab.org/plots2/public/500.html
https://publiclab.org/plots2/public/502.html
https://publiclab.org/plots2/public/503.html

[2022-04-11 16:31] Ishhha commented on #11035
@TildaDares Can I work on this issue?

[2022-04-11 16:57] Ishhha opened #11036 "fix a bug in feature.css"
### Please describe the problem (or idea)
![Screenshot (19)](https://user-images.githubusercontent.com/89733084/162790891-259e1542-3e57-441d-ba78-981f75e3a428.png)

![Screenshot (20)](https://user-images.githubusercontent.com/89733084/162790938-997c99eb-f771-479a-9273-a6a3129a742a.png)

### Please show us where to look

https://publiclab.org/plots2/app/assets/stylesheets/feature.css

****

## Than

[2022-04-11 16:58] Ishhha commented on #11036
@TildaDares Can u please check and tell whether I work on this issue or not?

[2022-04-11 17:19] cesswairimu commented on #10915
Hi all, [Here is the call for proposals](https://publiclab.org/notes/cess/04-11-2022/call-for-proposals-google-summer-of-code-2022) feel free to post  the linkhere once you have posted. Thanks all

[2022-04-11 17:20] cesswairimu commented on #10915
hi @siddhi-244 [here](https://publiclab.org/notes/cess/04-11-2022/call-for-proposals-google-summer-of-code-2022)

[2022-04-11 17:20] PeculiarE commented on #10984
Alright @imranburki. Well done!

[2022-04-11 17:28] shefali12-ab commented on #10978
@TildaDares I need to know that for blog page to fix the issue of iframe, i need to create a post. please suggest me some topics so that i could create a post.
I have sloved the FTO issue now  am looking for some challenging issue,  please guide me and help me with this.

[2022-04-11 17:40] Radhika-Saini commented on #11013
@TildaDares, A pop-up can also work for the same.

[2022-04-11 17:48] TildaDares commented on #11001
@illyShelly I use mac’s inbuilt screenshot app.

[2022-04-11 17:58] TildaDares commented on #11001
@illyShelly Hmmm I don’t think we need different font-size on different screen sizes since rem already does that. I think if we just reduce the size of the question header, we’ll be fine.

[2022-04-11 18:01] TildaDares commented on #11001
Also I was reading about rems just now and I learnt that instead of changing the value of the tags directly, we do only do that for the html tag https://dev.to/vetswhocode/responsive-sizing-with-rem-css-units-2m27

[2022-04-11 18:03] TildaDares commented on #10978
@shefali12-ab If you want to create a blog post on your local env, all you have to do is navigate to `https://localhost:3000/post` and fill in the necessary form inputs. After doing that, make sure you add the tag `blog` to it and then press publish.

[2022-04-11 18:04] TildaDares commented on #11036
Hi @Ishhha, you can make a first-timers issue from this since it’s a small change. Thanks!

[2022-04-11 18:05] TildaDares commented on #11036
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's simple, self-contained, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider reformatting it as a first-timers-only issue, and then ping @publiclab/reviewers to g

[2022-04-11 18:07] TildaDares commented on #11035
Hi @Ishhha, an issue has already been opened for hr tags in #11002.

[2022-04-11 18:10] cesswairimu commented on #10948
Hi all, thanks again @shefali12-ab for the check-in, great theme :tada, and thanks everyone for your kindness :heart: :heart:

We have posted a call for Google Summer of Code proposals on the PublicLab website [here](https://publiclab.org/notes/cess/04-11-2022/call-for-proposals-google-summer-of-code-2022)
I am catching up on a few things then I will post this week's check-in in the next few hours

[2022-04-11 18:11] TildaDares commented on #11013
@Radhika-Saini I totally understand your points but the language drop down doesn’t belong to the header because it’s completely different from the content we have there now. Also, if you look at Google’s search page, you’ll also see that the languages are also at the footer.

[2022-04-11 18:11] Ishhha commented on #11036
Okay I'll solve this issue. Thank you for guiding me @TildaDares. ☺️

[2022-04-11 18:12] Ishhha commented on #11035
Okay @TildaDares.

[2022-04-11 18:12] #11035 closed

[2022-04-11 18:19] Radhika-Saini commented on #11013
@TildaDares I understand it.
As many websites are present only in 1 language but the Public Lab website has the feature of language translation of the website and the user is unaware of this. So, we have to do something to tell them about this feature first.

[2022-04-11 18:54] Forchapeatl commented on #10915
thank you

[2022-04-11 20:25] wuteek commented on #10973
Hello,

I just wanted to know how long it usually takes for pull requests to get merged usually?

Thank you

[2022-04-11 20:26] illyShelly commented on #11001
@TildaDares,
My internet and computer is sooooo slow today. Sorry.

OK, I have experience with EM - relative sizing to parent element, not REM. I agree, we do not need so many queries -> points where it will change the size of headings. And thank you for the recording info - it saves my nerves 😉

But as I can read here [and](https://elementor.com/help/whats-the-difference-between-px-em-rem-vw-and-

[2022-04-11 20:28] illyShelly commented on #11001
https://user-images.githubusercontent.com/26350915/162825474-5e1f4a02-249b-4ff3-bbed-1a58225aa329.mov

[2022-04-11 20:38] illyShelly commented on #10948
@cesswairimu 😉 thank you very much. I'll check your suggestion!

[2022-04-11 20:39] illyShelly commented on #11001
https://user-images.githubusercontent.com/26350915/162827422-5b964331-dc9d-422e-a24d-6c5ff4a0e107.mov

[2022-04-11 20:50] void-ness commented on #10915
Hello Community Members! Lakshya This side. I am a sophomore currently pursuing undergraduates in Computer Sciences. I am inspired by the motive behind public lab. The idea of helping in some way to reduce pollution excites me. I am versed with Web Development and has expertise in JavaScript and React. I love spending hours with HTML and CSS by side.

I am still exploring the community. I had a sm

[2022-04-11 23:41] cesswairimu commented on #10915
Hi @void-ness and welcome :tada: It is the one channel for the gitter channel for now. We are open to discussing a creation of  a channel for gsoc applicants in future if that would be a better way to interact.. what do you think? I would like to hear what other applicants think too . Thanks all

[2022-04-12 00:45] cesswairimu commented on #10948
Moved to https://github.com/publiclab/infragram/issues/354. Thanks all

[2022-04-12 00:45] #10948 closed

[2022-04-12 04:39] Ishhha commented on #11036
Hello, @TildaDares, I make a PR on this issue, Can u please go through with it? If u find any mistakes, please let me know :)

[2022-04-12 04:46] asaayushisingh commented on #10754
Thank you for these resources and the helpful insights @jywarren and @TildaDares. Hello everyone! I am Aayushi Singh an Outreachy 22 applicant and I am contributing to MapKnitter.org Spam Management system project.

[2022-04-12 06:24] Paridhicodes commented on #10840
Hello, I am Paridhi Jain . I am an Outreachy'22 applicant, and I am trained in front-end web development and basic back-end development. I am excited to contribute towards this project. Can you help me in finding a first-timer issue, not worked upon by others?

[2022-04-12 06:26] SAKSHI993 commented on #10153
Hi everyone I am Sakshi Singh, currently pursuing B.Tech in IT at IGDTUW, Delhi, India. I am very eager to contribute and have knowledge of frontend and backend using CSS, node.js, express.js, JQuery, JS, React, SQL and Mongoose and new to open source. Please help me find an issue to work upon.

[2022-04-12 06:50] #11029 closed

[2022-04-12 06:50] #10925 closed

[2022-04-12 06:51] #11012 closed

[2022-04-12 06:58] #10960 closed

[2022-04-12 07:02] TildaDares commented on #11009
Hi @ayish1998 I can't find a PR for this issue.

[2022-04-12 07:04] TildaDares commented on #10986
Reserved for @Ishika414 for 24 hours!

[2022-04-12 07:04] TildaDares commented on #10153
Hi @Ishika414, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10986 for 24 hours!!

[2022-04-12 07:06] #10954 closed

[2022-04-12 07:17] falyne commented on #10897
hi @TildaDares thanks for assigning this issue. i'm on it

[2022-04-12 07:40] falyne commented on #10897
Hi @TildaDares kindly review the PR i created thanks

[2022-04-12 07:50] Prachi-22-81 commented on #11023
Hello, I'd like to try this! @TildaDares

[2022-04-12 08:07] Ishika414 commented on #10986
Working on it!

[2022-04-12 09:26] Prachi-22-81 commented on #10772
Hi @TildaDares, Can I work on this issue?

[2022-04-12 10:28] ayish1998 commented on #11009
Alright

[2022-04-12 10:38] imranburki commented on #10984
@TildaDares @PeculiarE please review

[2022-04-12 11:20] Somya-Singhal commented on #11029
<img width="288" alt="image" src="https://user-images.githubusercontent.com/88088520/162948471-e9112bdd-72dc-40ea-b9d9-1d62f346e623.png">

Hello @TildaDares, I noticed that in this block of code, `sidebar` is used as id and `box` is used as class. But in style.css this id and class has not been implemented, so is this intentionally kept or we can remove it?

[2022-04-12 11:21] SAKSHI993 commented on #10772
Hi @TildaDares Can I work on it? (outreachy applicant and first issue)

[2022-04-12 11:22] imranburki commented on #10984
@TildaDares  please review.
Thanks

[2022-04-12 11:27] shefali12-ab commented on #10978
okay sure @TildaDares I will let you know before publishing it. Thank You

[2022-04-12 11:52] Ishhha commented on #10840
Hello, I am Isha Agarwal, an Outreachy'22 applicant, and I am trained in front-end web development. I am excited to work with mentors and contribute to the Infragram project. Can you help me in finding a first-timer issue, not worked upon by others?

[2022-04-12 11:54] akanbifatimah commented on #10840
welcome @Ishhha , visit this thread for a FTO https://github.com/publiclab/plots2/issues/10153

[2022-04-12 12:28] Ishhha commented on #10840
Hii @akanbifatimah, I have solved the FTO, I want to work on the UI part of the Infragram. Can u suggest some other issues related to the designing part?

[2022-04-12 13:37] akanbifatimah commented on #10844
Yes I have been able to run plot2 via gitpod @PeculiarE ,thank you for asking dear. @kunmi02 thank you so much for guiding me through.
Thank you, everyone, for all your suggestions, I learned a lot from this process.

[2022-04-12 14:10] Grace229 commented on #10153
Hello I'm Grace, a frontend developer and an outreachy applicant, please I need to be assigned a first time issue. Thanks

[2022-04-12 14:15] Grace229 commented on #10840
Hello, I'm Grace, a frontend developer, and an outreachy applicant, this is my first time contributing to an open source project and I'm soo excited to be here.

[2022-04-12 16:12] jywarren commented on #10946
Hi @Ishhha i think @RuthAtem completed it! Can you take a look at #10153 to request one yourself? Thank you!

[2022-04-12 16:51] TildaDares commented on #11029
@Somya-Singhal `sidebar` and `box`  might be used for JavaScript.

[2022-04-12 17:00] #10897 closed

[2022-04-12 17:03] #10968 closed

[2022-04-12 17:05] anantraghuvanshi commented on #10915
Hey there, @TildaDares @cesswairimu @jywarren Kindly review my proposal. The link is attached [here](https://docs.google.com/document/d/1OQ-Ds3NZM-5yYlVXnM7lDp8d4mQbKhiLn3CftYXnhBY/edit).

Thanks!!

[2022-04-12 17:05] #10933 closed

[2022-04-12 17:31] TildaDares commented on #10153
Hi @adeolaadedeji, @AdejinmiSeyi, @asaayushisingh, there are issues reserved for you in https://github.com/publiclab/infragram/issues/363, https://github.com/publiclab/infragram/issues/362, https://github.com/publiclab/infragram/issues/361 for 24 hours!!