[2019-06-14 16:13] rarrunategu1 commented on #2552
Hello, I've been working on this for the past hour and still no success.  I tried all the suggestions and in googling EADDRINUSE WSL rails I ran into using puma to run the application instead of webrick.  I used this command "RAILS_ENV=production bundle exec rails s"   and then this command "rails s -b 0.0.0.0 -p 3000" which booted with Puma but now I have another error:
![image](https://user-imag

[2019-06-14 16:31] jywarren commented on #2552
This last one may be because you need to install your javascript assets
with "yarn install"?

On Fri, Jun 14, 2019 at 12:13 PM rarrunategu1 <notifications@github.com>
wrote:

[2019-06-14 16:37] skilfullycurled commented on #4094
FYI: not forgetting about making a new issue, just need to take care of some other things and sometimes Github can be a real rabbit hole for me! : )

[2019-06-14 17:28] jywarren opened #5906 "Do we need a last_updated index on rusers ?"
![image](https://user-images.githubusercontent.com/24359/59526906-1afdc780-8ea8-11e9-9f92-f96356d1e14a.png)

Under some heavy load today, looked at this endpoint and saw some very long load times for a couple queries:

https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1560523980/1h26m/endpoints/UsersController%23list?responseType=html

One was by `load_time`:

[code]

Another by `username`:

[

[2019-06-14 17:40] rarrunategu1 commented on #2552
I did have yarn installed but I was missing some steps so after doing the install correctly, it fixed the issue.....and gave me another one.

![image](https://user-images.githubusercontent.com/29240939/59527023-78921400-8ea8-11e9-88e8-5b94395260b0.png)

I just don't know what to do with this.  Researching doesn't return anything I can use.  I'm currently googling "running wsl rails app @' is not a

[2019-06-14 18:49] jywarren commented on #2552
Darn, i recognize this! Ummm.
https://github.com/publiclab/plots2/issues/4396 maybe?
https://stackoverflow.com/questions/27364081/ruby-on-rails-nameerror-not-allowed-as-an-instance-variable-name
linked
from there...

On Fri, Jun 14, 2019 at 1:41 PM rarrunategu1 <notifications@github.com>
wrote:

[2019-06-14 18:54] jywarren commented on #4396
@rarrunategu1 is seeing this error -- just checking -- i wonder if you restart the app, is it consistent? And, what if you go to `/logout`?

[2019-06-14 20:14] sashadev-sky commented on #5848
Hmm well for a start, I was thinking we should remove `GCI_MENTOR_GUIDELINES.md` into a wiki on the actual PL site. And perhaps link it as a resource ini https://github.com/publiclab/plots2/wiki/Open-Source-Programs

This cleans and doesn't involved splitting the folder. It just seems like Open Source Programs have a home in the wikis now.

What do you think? @jywarren

[2019-06-14 22:03] #4925 closed

[2019-06-14 22:06] jywarren commented on #5733
Ah, can you post a screenshot of just the section you're talking about? I just want to be sure i'm following correctly. Thank you!!!

[2019-06-14 22:12] jywarren commented on #5848
Sasha, that sounds fine to me.

Just some questions that may help us decide here:

1. do people feel either the wiki or the /doc/ folder is more "permanent"
in some way? Easier to edit?
2. is either one easier to see who wrote the docs? as this is sometimes
helpful to know when you want to ask questions

Thanks!

On Fri, Jun 14, 2019 at 4:14 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-06-14 23:57] skilfullycurled commented on #5817
Hey @jywarren and @icarito,

First, (and I say this without joking): this thread actually turned out to be quite a good read.  It had all the elements, a mystery, a hunt, dead ends, close calls, etc.

Anyway.

Regarding the rusers table relative to #5450 and #5524, there an _**enormous**_ grouping in rusers that occurred between 4/26/13 - 1/1/14.

4/26/2013: 1366934400
1/1/2014: 1388534400
UID Ran

[2019-06-15 00:14] skilfullycurled commented on #5817
For reference on equivalent portion size to your proposed last 6 months in the other email:  In the last month we've marked ~250 first-time postings as spam.  So, let's say that in the last 6 months we had ~1500 banned users due to spam.

Oh, and I guess that brings up a good point.  If you want to rid yourself of spam users you can just find all of the users who have content marked as spam and th

[2019-06-15 16:25] jywarren commented on #4732
OK, last thing -- this section fetches revisions by timestamp, which is why old posts are getting re-added to the digest when they are updated (i.e. their revision gets a new timestamp):

https://github.com/publiclab/plots2/blob/master/app/models/user.rb#L245-L260

I'm going to make a parameter to include revisions and default it to false.

[2019-06-15 16:31] jywarren opened #5908 "Combine templates for email digest and settings digest"
We originally made this digest page to test out the display of email digests:

Using this template: https://github.com/publiclab/plots2/blob/master/app/views/subscriptions/digest.html.erb

But that wasn't well documented, and now email digests are run from a different template:

https://github.com/publiclab/plots2/blob/master/app/views/subscription_mailer/send_digest.html.erb

Now we have somewhat

[2019-06-15 16:32] jywarren commented on #4732
OK! This should be completely finished when #5907 merges. Thanks all!!!!!

[2019-06-15 16:33] jywarren commented on #5908
And we'll then be able to style them better too! We should be able to take a screenshot in https://github.com/publiclab/plots2/blob/master/test/system/screenshots_test.rb if we want as well.

[2019-06-15 18:26] skilfullycurled commented on #5848
@jywarren, I can't tell if you are connecting "permanence" in relationship to hard/easy to edit or if you mean "can be kept for all time".  I'm not sure why the wiki or /docs/ folder wouldn't each be of the same permanence in the latter sense but here are the similarities/differences as described in the [github documentation](https://help.github.com/en/articles/adding-or-editing-wiki-pages#editing

[2019-06-15 18:38] SidharthBansal commented on #5828
Great planning folks!!!

[2019-06-17 09:24] cesswairimu opened #5911 "Rebase gone wrong?"
![2019-06-17-12-12-publiclab org](https://user-images.githubusercontent.com/17081074/59592808-707ce300-90f9-11e9-9801-20f247eff1fc.png)

I am working on #5904 and I will fix this with that but wanted to note here for people to be  a little more careful when doing a rebase and possibly check afterwards all the conflicting files and pages look good to avoid something like this going to production in

[2019-06-17 14:05] jywarren commented on #5911
I'm so sorry @cesswairimu -- i should have caught this with the new screenshots! I'm still getting used to them, but I noticed some CSS features don't work in the screenshot tests, so I wrongly assumed this had been working fine locally and was only broken in the screenshot tests. We're learning more about how they work so I'll trust them a bit more now to tell us when layouts look wrong.

noting:

[2019-06-17 14:07] jywarren commented on #5911
Ah no, looks like it was this commit: https://github.com/publiclab/plots2/commit/0a5a061ae98659879a4b71d7634415c53cf15284#diff-e8d970f814aa8ace0c4be3778174c22bR12

I think this was just a somewhat older PR that caused trouble when rebasing. But again, we'll watch out with screenshot tests now. Thanks.

[2019-06-17 14:51] cesswairimu commented on #5911
No worries, and yeah the screenshots are really awesome and will help avoiding this. Thanks Jeff

[2019-06-17 17:20] icarito commented on #5817
Hi @skilfullycurled thank you for your input! So a majority of rusers is from 2013-2014 : That means to me that while it can help to reduce RAM usage, actually, our major tables are **rsessions** and **impressions**.

![imagen](https://user-images.githubusercontent.com/199755/59623474-d36e7a00-90f9-11e9-832b-22daf6801eaa.png)

**rsessions** is over 30GB.
@jywarren and @skilfullycurled - it would b

[2019-06-17 17:27] icarito commented on #5817
Also I think memcached isnt a good fit for this issue as it should consume more ram not less..

[2019-06-17 17:29] icarito commented on #5817
Although one can limit the memory use of memcached, I'll still try it!

[2019-06-17 17:30] icarito commented on #5817
Nope, from the docs above:

[2019-06-17 17:32] icarito commented on #5817
Look like it's not too hard to solve _rsessions_:
https://stackoverflow.com/questions/10088619/how-to-clear-rails-sessions-table

@jywarren let's do this!

[2019-06-17 17:35] skilfullycurled commented on #5817
@icarito, I'm not sure this was ever done, but I had access to the database in 2016 and I notified everyone that the user sessions took up more space then the actual rest of the database *by far*.  I was told they'd be flushed so either they were not or the problem remains that the database just continues to keep the sessions.

[2019-06-17 17:39] skilfullycurled commented on #5817
To give a feeling, as of 2016, the plots database _compressed_ as bz2 was 1.9GB (no time right now to decompress for actual size), _uncompressed_, with the sessions removed, it was 518 MB

[2019-06-17 17:46] icarito commented on #5817
Thanks @skilfullycurled !!! I think I remember your input from 2016, I don't know how we missed flushing that, but our database dumps today are over 8GB compressed, likely mostly sessions.
I'll wait for confirmation from @jywarren - I'd like to run the following in production today and then we can make it into a rake task or a cron job:

DELETE FROM sessions WHERE updated_at < DATE_SUB(NOW(), INTE

[2019-06-17 17:50] gautamig54 commented on #5890
@CleverFool77  @jywarren I am in the process of making the tag card. Kindly have a look and suggest changes.

![Screen Shot 2019-06-17 at 11 21 23 PM](https://user-images.githubusercontent.com/35326753/59625248-6f2dd380-9156-11e9-959f-945617334b4f.png)

![Screen Shot 2019-06-17 at 11 21 31 PM](https://user-images.githubusercontent.com/35326753/59625257-75bc4b00-9156-11e9-8213-afde0dfcae18.png)

[2019-06-17 17:53] gautamig54 commented on #5890
Should I add the "add tag parent" option in the ellipsis menu?

[2019-06-17 17:53] skilfullycurled commented on #5817
I got too curious, the uncompressed file is 6.8GB so minus the 518MB that puts us at 6.3GB.  😆

[2019-06-17 17:57] skilfullycurled commented on #5817
The rsessions is actually my favorite dataset that I have.  It's completely use-_less_ , but I just love that it's as large if not larger than datasets that I have that are use-_ful_!  If anyone has any ideas, let me know!

[2019-06-17 17:58] gautamig54 commented on #5733
Featured tags in the questions page

![Screen Shot 2019-06-17 at 11 31 11 PM](https://user-images.githubusercontent.com/35326753/59625709-9df87980-9157-11e9-8886-eb554ae3e0dc.png)

[2019-06-17 17:59] jywarren commented on #5817
Just taking notes here. Sounds great.

[2019-06-17 18:21] icarito commented on #5817
Unstable seems to take a loong time... can try

DELETE ... FROM ... WHERE ... LIMIT x

And execute as many times as needed in production.

[2019-06-17 19:28] jywarren commented on #5890
That would be awesome. This is looking great! Perhaps the Subscribe button
ought to be `btn-primary`? i.e. blue?

On Mon, Jun 17, 2019 at 1:53 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-06-17 19:41] jywarren commented on #5733
Looking great! note we have been showing these in badges in other places.
This is really coming together though!

On Mon, Jun 17, 2019 at 1:59 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-06-17 19:51] gautamig54 commented on #5890
@jywarren PR #5903 is ready for merge. After merging that, I'll position the card to the required place and publish a PR for the same. Thanks!

[2019-06-17 19:53] gautamig54 commented on #5733
@jywarren I have raised a PR for the recent questions section #5912 . After this only featured topics sections will be left and then the page will be complete. Hurray!!

[2019-06-17 22:11] cesswairimu commented on #5904
I tried  ` For all time` option

[code]
but this was failing on unstable of course because of https://github.com/publiclab/plots2/issues/5490 (Forgot about this for a minute) so this means the "quick pick" option won't work too.

### Suggestions for this implementation.
- Have an section for 'all time data' the  that can be collapsed with all counts for the various objects possibly using `.all`  .

[2019-06-17 22:24] jywarren opened #5914 "Drafts should not trigger email notifications for mentioned @usernames"
Link to #3845, but here's the code:

https://github.com/publiclab/plots2/blob/087d1df8968d58cae97d0d30d45847d55c9944d9/app/models/node.rb#L219-L225

I think probably this is the key section:

https://github.com/publiclab/plots2/blob/087d1df8968d58cae97d0d30d45847d55c9944d9/app/models/node.rb#L644-L646

We can probably use `node.draft` as a condition:

https://github.com/publiclab/plots2/blob/087d1

[2019-06-17 22:24] jywarren commented on #5914
And as a follow-up, we /should/ send the notifications when it's finally published!

[2019-06-17 23:00] skilfullycurled commented on #5904
@cesswairimu, yeah, both #5490 and the stats overload issue (#5524) will play into this.  The latter has a good chance of breaking the site.  They are purging the database of "some" (8.4GB) of rsession data so that might help a bit on the overload but I'm not sure considering there is one place where there are ~350,000.

Anyway.

Some ideas if you don't mind hacky temporary code:

1) Exclude users

[2019-06-17 23:07] jywarren opened #5916 "Add message threading to reply-by-comment"
I'm doing some refactoring in #5885, but noticed that when we removed answer-by-email, that we don't have email replies (that turn into comments) threading to the comment they replied to. This will take a few steps to fix:

1. checking for `(#c0000)` code in the email subject, as was removed for answers in this code:

https://github.com/namangupta01/plots2/blob/f375e10efa6aaed5c1e269307e02eb8555ce

[2019-06-17 23:15] cesswairimu commented on #5904
Wow! Thanks.  I will try the suggested methods @skilfullycurled and see what will work best. Also creating a planning issue for all the related tickets.:+1:

[2019-06-17 23:34] cesswairimu opened #5917 "Stats Page Query Bug"
Hi all,

We are having trouble with queries in the stats page for some of data for year 2013. This is a planning issue for going about solving that and also removing spam users on the site

Issues:
- [ ] Stats downloading returns "Page does not exist" for dates prior to early 2013 #5490
- [ ] Stats Download And Site Overload #5524

Affects:
- [ ] Add 'all time' option for stats #5904

Affected by/

[2019-06-18 00:58] icarito commented on #5817
After 7 hours this is still ongoing in staging. Clearly this is not how we want to do this in production in one single batch. Another thing is that after deletion, the table will be fragmented and the file size will not decrease for **rsessions** table. The table needs to be dumped and recreated in order to release server resources.

[2019-06-18 01:16] skilfullycurled commented on #5904
Glad you like them @cesswairimu !  Actually, I didn't realize the first date was 9/27/12.  You could just start at 2014 and do what you did in the other visualization (can't recall the verbiage but it was something to the effect, "tracking started since XXXX)

Also, thanks for opening the new issue.  I didn't mean to imply that you should do the work of opening it, I just thought you might have th

[2019-06-18 01:47] skilfullycurled commented on #5917
Thanks opening the discussion @cesswairimu.

Preface: not sure the best practices of using usernames so I'm including the UID.  Seems like it'd be okay considering people's usernames are public info, but just being cautious.

In any case.

I have some very strange news to report, not sure if it's what's causing the 4/23/13 issue but there were four people who created accounts on that day.  For the

[2019-06-18 01:49] icarito commented on #5817
My plan for doing this is the following:
- [ ] Mysql dump rsessions table with `where  updated_at > DATE_SUB(NOW(), INTERVAL 7 DAY)`
- [ ] Rename rsessions table
- [ ] Load clean data from dumped table to new rsessions table
- [ ] Drop old rsessions table

[2019-06-18 01:50] icarito commented on #5817
I'll try this in `stable` staging instance.

[2019-06-18 02:29] jywarren commented on #5817
Ok awesome Sebastian and I would guess that this may have positive
implications for the expected improvements to our db performance after this
mitigation is complete, if even flushing this table can take this long...

On Mon, Jun 17, 2019, 9:50 PM Sebastian Silva <notifications@github.com>
wrote:

[2019-06-18 02:29] #5911 closed

[2019-06-18 02:48] jywarren commented on #5917
Hi, just to help with debugging, I think it's OK to share this username because it is indeed public already and I actually know them: https://publiclab.org/profile/dorncox

How are you searching for their username? Using https://publiclab.org/api/srch/profiles?query=dorncox ? which for me works without an error?

[2019-06-18 02:56] jywarren commented on #5490
Adding data here; i opened (which did show a 404 error): https://publiclab.org/stats?start=01-01-2012&end=25-04-2013

I pulled the logs:

[code]

For https://publiclab.org/stats?start=01-01-2012&end=01-01-2013&commit=Go, which also showed a 404, I got:

[code]

I also managed to get the Sentry issue above, for https://publiclab.org/stats?start=01-01-2012&end=04-25-2013

[2019-06-18 02:57] jywarren commented on #5490
This `tag.rb` error happens on line 65 here:

https://github.com/publiclab/plots2/blob/0f660f1346dc15bc3234ff5e7ff7ee34de8f706c/app/models/tag.rb#L63-L67

[2019-06-18 03:00] jywarren commented on #5490
It looks like we have a bad tag record; `Couldn't find Tag with 'tid'=11220`

[code]

And yet we have a `NodeTag` pointing at it here:

[code]

From this node: http://publiclab.org/n/2120

[2019-06-18 03:00] jywarren commented on #5490
That node points at: https://publiclab.org/map/mission-dolores-park-san-francisco/2012-05-11

[2019-06-18 03:00] jywarren commented on #5490
I'm going to try deleting the `NodeTag`.

[2019-06-18 03:01] jywarren commented on #5490
https://publiclab.org/stats?start=01-01-2012&end=01-01-2013&commit=Go now works!

[2019-06-18 03:03] jywarren commented on #5490
Now, we are DD-MM-YYYY, so this should work: https://publiclab.org/stats?start=01-01-2012&end=25-04-2013

[2019-06-18 03:05] jywarren commented on #5490
But it doesn't. Something similar perhaps:

[code]

I think these range stats queries are just good at finding lonesome db records, because they try to gather ALL such records across huge swaths.

[2019-06-18 03:05] jywarren commented on #5490
I'll find and kill that `NodeTag` record too...

[2019-06-18 03:24] skilfullycurled commented on #5917
Just putting the name dorncox in the search bar.

[2019-06-18 03:28] skilfullycurled commented on #5917
Just looked at your update in #5490. This seems unrelated now, although I guess that's still in progress.  Who knows, might be the linchpin of the entire memory leak!  : P

[2019-06-18 03:29] jywarren commented on #5917
Ah, well the navbar search no longer searches for usernames, as we're in
the midst of a major rework of search systems:
https://github.com/publiclab/plots2/issues/5708
https://github.com/publiclab/plots2/pull/5824. But I think i found some
related issues in #5490

On Mon, Jun 17, 2019 at 11:25 PM Benjamin Sugar <notifications@github.com>
wrote:

[2019-06-18 03:31] jywarren commented on #5490
OK, deleted lonesome `NodeTag` records pointing at non-existent `tid`s of 3015 and 3016, and https://publiclab.org/stats?start=01-01-2012&end=25-04-2013 now works. Is that it, then? 🕵️‍♀️ 🕵

[2019-06-18 03:32] skilfullycurled commented on #5917
Okay, for what it's worth to debugging those issues, the other names at least say that nothing was found.  In the meantime, please give my apologies to dorncox.  Mistakes were made.  I hold a press conference to officially apologize and make a correction in tomorrows paper.

[2019-06-18 03:34] skilfullycurled commented on #5490
Should be for this issue...PS: where in Sentry can you see the 404's?  I thought they did not show them?

[2019-06-18 03:34] jywarren commented on #5524
Re: testing, what are the drawbacks of testing on stable/unstable, even to the point of breaking those sites? Thanks!

[2019-06-18 03:36] jywarren commented on #5917
Dorn is a farmer of good humor and grace and you're surely not on his wrong
side :-)

On Mon, Jun 17, 2019 at 11:33 PM Benjamin Sugar <notifications@github.com>
wrote:

[2019-06-18 03:37] skilfullycurled commented on #5490
oh, and thanks @jywarren! This is been like a splinter in my data finger.  Thanks for tweez-ing it out!

[2019-06-18 03:37] jywarren commented on #5490
Oh, i think the Sentry was for a different error - i guess for the "date
out of range" error on Date.parse given that i'd reversed 25-04-2013 to
04-25-2013 -- so trying for the 25th month.

On Mon, Jun 17, 2019 at 11:35 PM Benjamin Sugar <notifications@github.com>
wrote:

[2019-06-18 03:54] skilfullycurled commented on #5524
As I am not the one who will have to restart the sites (cough, cough, @icarito eh-hem, sorry got something stuck in my throat) I don't know.  Having said that, I wrote this issue when we had less information about rsessions and the spam discussion.  So, testing may not be an issue once rsessions is removed.  https://github.com/publiclab/plots2/issues/5817#issuecomment-502913354

We'll have an oppo

[2019-06-18 03:59] skilfullycurled commented on #5817
Bringing in @cesswairimu so she can try her query on stable again when @icarito is finished.  That should tell us if the issues in #5917 are only related to #5490 (which is fixed) or if they are also related to #5524.

[2019-06-18 04:01] skilfullycurled commented on #5490
Ah, I see, the 404's are still logged somewhere though.  Good to know!

[2019-06-18 04:19] jywarren commented on #5490
Thanks to you and Cess for chipping away at this so assiduously! It
wouldn't have been nearly as solvable without the thorough documentation
and investigation.

On Tue, Jun 18, 2019, 12:01 AM Benjamin Sugar <notifications@github.com>
wrote:

[2019-06-18 04:46] ViditChitkara commented on #5916
Yes, will do.

[2019-06-18 05:25] icarito commented on #5817
`unstable` is still deleting...

Leaving some notes here while doing testing in staging stable instance.
- [x] Mysql dump rsessions table with where updated_at > DATE_SUB(NOW(), INTERVAL 7 DAY)
  - command: `root@tycho:/srv/plots_staging/plots2# time docker-compose exec db bash -c "mysqldump --databases plots --tables rsessions --where='updated_at > DATE_SUB(NOW(), INTERVAL 7 DAY)' -h 127.0.0.1 -u

[2019-06-18 06:11] icarito commented on #5817
`unstable` is **still** deleting...

Doing operation on live production database:
- [x] Mysql dump rsessions table with where updated_at > DATE_SUB(NOW(), INTERVAL 7 DAY)
  - time: **48 s**
  - dump size: 143Mb
- [x] Rename rsessions table
  - time: **11 s**
  - home page was down for 15 minutes at ~6am UTC
- [x] Load clean data from dumped table to new rsessions table
  - creates new rsessions ta

[2019-06-18 06:12] icarito commented on #5817
mitigation done! Hopefully this will free us!

[2019-06-18 06:26] icarito commented on #5817
Promising first half hour, again!
![imagen](https://user-images.githubusercontent.com/199755/59658007-094a4780-9168-11e9-9eb3-da536ab11319.png)

[2019-06-18 06:28] icarito commented on #5817
i'll leave it for tonight, site looks speedy to me... :stuck_out_tongue_closed_eyes:  hopefully this is it!

[2019-06-18 13:53] #5679 closed

[2019-06-18 16:03] #5867 closed

[2019-06-18 16:37] CleverFool77 commented on #5890
I guess the PR for partitioning the page into two column https://github.com/publiclab/plots2/pull/5902 by @gautamig54  is ready too. Merging this would help us in forwarding the work on following activity cards and other parts of this Issue which are dependent on this.
Thanks !!!

[2019-06-18 18:39] StlMaris123 commented on #5914
Hi @jywarren on modifying the node model, do we have access to the params from the model?

[2019-06-18 19:11] #5916 closed

[2019-06-18 19:18] publiclab-mimi opened #5921 "Using search bar on PL website leads to error page"
Hey guys!

Multiple times today I've had issues reaching the search page. When I go into the search bar, type my query, and hit enter, I'm redirected here:

<img width="1275" alt="Screen Shot 2019-06-18 at 2 13 09 PM" src="https://user-images.githubusercontent.com/48802639/59712760-747d3380-91d3-11e9-90c0-49d85ba805ed.png">

Happens in Chrome & Safari before and after clearing cache.

Same error p

[2019-06-18 20:10] jywarren commented on #5914
I don't think so, but we can look at where .notify() is run from and make
the modification there?

On Tue, Jun 18, 2019 at 2:40 PM StellaMaris Njage <notifications@github.com>
wrote:

[2019-06-18 20:41] jywarren commented on #5817
Hmm, it was very fast this morning, but overall I don't see a huge difference! 😞

![image](https://user-images.githubusercontent.com/24359/59718294-e65f7800-91e7-11e9-9351-8214d092560a.png)

[2019-06-18 21:42] jywarren commented on #5890
OK Great I'll take a look!

On Tue, Jun 18, 2019 at 12:38 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-06-19 01:40] skilfullycurled commented on #5817
Nooooooooooooo!  Well, there's only one other explanation and that's ghosts.  I'll open up another issue and look into finding an exorcist or ghostbusters gem.

[2019-06-19 05:26] icarito commented on #5817
I think actually there's been improvement on I/O use because using a 30GB table is heavy - if you look closely the peaks seem related to Statscontroller... maybe we could do the stats work on staging? I can make it copy production database regularly say weekly?

[2019-06-19 05:41] skilfullycurled commented on #5817
Hey @icarito, I was wondering if you could answer some "educational" for me questions:

Why would this be?  Due to the caching?  I can only think of three people who would be using it and I'm one of them and I haven't been.

I've been hearing...er...seeing you use the word "staging" a lot lately.  What is that and how does it play into the site/workflow?  If it's a part of the docs, let me know wh

[2019-06-19 06:15] gautamig54 commented on #5890
@CleverFool77 I want to help you with the activity card. I have implemented ellipsis for the two cards. Can I help you with that here as well?

[2019-06-19 06:41] CleverFool77 commented on #5890
I seem to unable to understand ?? Regarding the activity cards. I'll surely ask you regarding problems. Is that what you mean ?

[2019-06-19 06:45] CleverFool77 commented on #5890
Ellipsis part doesn't seem like problem to me as of now. But yeah if I do come across any. I'll ask you for help.
Juts pushed latest changes for https://github.com/publiclab/plots2/pull/5903 in https://github.com/publiclab/plots2/pull/5903#issuecomment-503429664.
It would be great to have some review.
Thanks !!

[2019-06-19 06:45] gautamig54 commented on #5890
Sure!

[2019-06-19 09:36] CleverFool77 commented on #5890
Hi @jywarren As we can see that the cards for `questions, wiki and notes` shared on all the pages are is the same code. So If I'll chnage the UI for the cards present in Individual tag page, then the UI for cards present in all pages will be changed. So should I write a make new files for the code,or rewrite over the older one. Thus allowing the changes for the card UI in dashboard and other pages

[2019-06-19 11:30] cesswairimu commented on #5817
This was a really awesome thread to read.  Yeah its a great idea having the stats in stage and copying weekly is fine too :+1:
 I have had this thought of in future making the stats queries a script that creates a sql view and its deleted and recreated daily/or weekly by a job and maybe this can live in stage also.  Would like to hear your thoughts on this and if this can help the memory leaks in

[2019-06-19 11:48] cesswairimu commented on #5904
Hahaha maybe not. I picked 9/27/12 because it  was the first commit date. It might not be when the first record was created then but def not earlier than that

[2019-06-19 14:37] jywarren commented on #5890
If we overwrite the old one, what pages would be affected? By old one, can
you name the exact file so I follow carefully? But if there's any doubt,
it's fine to make a 2nd template file, maybe marked _new or _2, which we
will replace the original with once we're totally confident.

Thank you!

On Wed, Jun 19, 2019 at 5:37 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-06-19 14:45] CleverFool77 commented on #5890
The code for these cards is being reused everywhere. For example in `dashboard` then again in here. We render `notes/notes` and reuse it many times.
![Screenshot from 2019-06-19 20-12-04](https://user-images.githubusercontent.com/26685258/59775286-97404280-92ce-11e9-8e6c-079a60306535.png)

[2019-06-19 14:49] jywarren commented on #5890
Ah, well, we could replace it... but we'd want to check how it appears
anywhere in the site. So perhaps we should get it working /completely/ in
once place, then make it appear everywhere? What do you think?

On Wed, Jun 19, 2019 at 10:46 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-06-19 14:59] jywarren opened #5923 "Check for logged_in status on /settings"
It looks like we aren't checking if people are logged in on https://publiclab.org/settings, causing an error when you load the page without logging in. We should catch and redirect; the controller is here:

I don't actually see a method for settings in https://github.com/publiclab/plots2/blob/master/app/controllers/users_controller.rb -- but routes.rb does say there is one. Maybe it's just an HTML

[2019-06-19 15:00] CleverFool77 commented on #5890
Sure. I'll check it out first then.

[2019-06-19 16:23] gauravano commented on #5817
Hey @icarito, can we increase the RAM of the server? Maybe that'll help in speeding up the website until we improve our query response rate?

Thanks!

[2019-06-19 16:49] icarito commented on #5817
Thanks for your replies! I am thankful for the work that you are doing and for replying to this issue and reading thru our efforts! I don't want to sound accusing or anything! I'm just looking at the data and trying to improve our site's reliability.
For instance we got a peak this morning: https://www.skylight.io/app/applications/GZDPChmcfm1Q/1560920940/5m/endpoints
![imagen](https://user-images.

[2019-06-19 16:59] icarito commented on #5817
That is a good question! We are in the process of moving our hosting to
new provider and were hoping to deploy as a container cluster in the new
hosting provider.

Since running in containers isn't immediately trivial (because our app
container isn't immutable) - an alternative to start is that we could
move the database first to make room.

I don't think we should increase our hosting usage in ou

[2019-06-19 17:03] jywarren commented on #5817
Actually I wonder if we could temporarily boost our ram in that container
until we do the move and if it would help short term. I think we'd be ok
with that cost increasing!

On Wed, Jun 19, 2019, 12:59 PM Sebastian Silva <notifications@github.com>
wrote:

[2019-06-19 17:39] jywarren commented on #2076
We're resolving this in the new Dashboard design -- see https://github.com/publiclab/plots2/projects/10 and #5676 and https://publiclab.org/notes/warren/04-22-2019/user-interface-projects-update-and-dial-osc-project-recap

Mainly, we're moving to a topics list instead of a posts list, based around the Subscriptions system - like on https://publiclab.org/tags !

[2019-06-19 17:39] #2076 closed

[2019-06-19 17:44] jywarren commented on #4601
Just closing this up as I believe it is being addressed through a combination of UI and search functionality changes in https://github.com/publiclab/plots2/issues/5708. Thanks!

[2019-06-19 17:44] #4601 closed

[2019-06-19 17:44] jywarren commented on #3381
Closing as we've decided to make typeahead display only tags results: https://github.com/publiclab/plots2/issues/5708 - thanks!

[2019-06-19 17:44] #3381 closed

[2019-06-19 17:45] jywarren commented on #4557
Closing in favor of new dashboard design as part of https://github.com/publiclab/plots2/projects/10 !

[2019-06-19 17:45] #4557 closed

[2019-06-19 17:46] jywarren commented on #3517
We are now narrowing this to display only tags, and resolving it in https://github.com/publiclab/plots2/pull/5824!

[2019-06-19 17:46] #3517 closed

[2019-06-19 17:47] jywarren commented on #3209
I haven't seen this happen since! Closing but watching.

[2019-06-19 17:47] #3209 closed

[2019-06-19 18:26] rarrunategu1 commented on #2552
I'm all set.  It was a yarn installation error that I hadn't noticed before.  Now it's installed correctly and I can run my application just fine.  Thank you @gauravano for your help.  I truly appreciate you.

[2019-06-19 18:51] gauravano commented on #2552
We can close this issue now. Right?

[2019-06-19 19:18] skilfullycurled commented on #5817
Oh, @icarito, no, no, I didn't sense any accusation, not at all.  I read, "this is what's happening" and I was just saying "that's odd, why would it be doing that if no one was on it...?" Along the same lines, I didn't mean to imply the documentation was poor.  Only that you didn't have to explain it if there was any.

And hey, it's not an entirely unfounded accusation : ) although I am having a b

[2019-06-19 19:25] rarrunategu1 commented on #2552
I believe so, unless it was an issue that stayed open for a reason like the installations issue.  I didn't open it therefore I wasn't sure if we were supposed to close it.

[2019-06-19 19:31] jywarren commented on #5817
To the stable.publiclab.org Q -- yes! And that's built off of any push to
the `master` branch - hope that helps!

On Wed, Jun 19, 2019 at 3:19 PM Benjamin Sugar <notifications@github.com>
wrote:

[2019-06-19 19:42] r0vina commented on #2552
Seems like it's been solved, closing.

[2019-06-19 19:42] #2552 closed

[2019-06-19 19:52] skilfullycurled commented on #5817
@jywarren, yup!  Got now.  Thank you!

[2019-06-19 23:05] jywarren commented on #5848
Great list of pros/cons. Here's another thought to add to the mix:

* `/docs/` provides a strong, version-tracked connection between new code and the docs that explain it

Not essential, just nice!

[2019-06-19 23:47] #5327 closed

[2019-06-19 23:52] #5921 closed

[2019-06-20 00:58] #4732 closed

[2019-06-20 04:19] icarito commented on #5817
Thanks for the clarification @skilfullycurled !
It is indeed a mystery why StatsController is so active?

Brief moments ago we had another peak that knocked us down for few minutes:
![imagen](https://user-images.githubusercontent.com/199755/59818020-cd3df080-92e7-11e9-8447-c8a441677e33.png)

The trigger in this case was actually the Full Text Search.
But one can see that even in this brief timesli

[2019-06-20 04:20] icarito commented on #5817
Actually here's Statscontroller details for previous timeslice:
![imagen](https://user-images.githubusercontent.com/199755/59818278-d4b1c980-92e8-11e9-9b9e-46900a253bd8.png)

[2019-06-20 04:29] #5514 closed

[2019-06-20 16:29] bronwen9 opened #5926 "Flag button on posts not working on dashboard"
### Moderator flag button not working in dashboard view

The button works once you have clicked into the post.

<img width="226" alt="Screen Shot 2019-06-20 at 12 22 59 PM" src="https://user-images.githubusercontent.com/8331717/59865438-fc3f7b00-9356-11e9-917c-7586a2e29d09.png">

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, ver

[2019-06-20 17:38] bronwen9 opened #5927 "Search not working."
Currently, attempts to use the search bar lead to an error page.
<img width="1187" alt="Screen Shot 2019-06-20 at 1 37 29 PM" src="https://user-images.githubusercontent.com/8331717/59869151-a7086700-9360-11e9-97b3-3e8bc2f18438.png">

[2019-06-20 18:45] jywarren commented on #5817
Shall we robots.txt all stats routes? So /stats* basically?

On Thu, Jun 20, 2019 at 12:21 AM Sebastian Silva <notifications@github.com>
wrote:

[2019-06-20 18:48] jywarren commented on #5817
OK, i did, and also exempted /api/* - we had already blocked /stats/range*
but now it's all /stats*

https://github.com/publiclab/plots2/commit/aa93dc3465b0cbaaee41ac7bec5e690437a27f5d

On Thu, Jun 20, 2019 at 2:45 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-06-20 20:52] skilfullycurled commented on #5817
So you don't think it's the caching?

[2019-06-20 22:41] jywarren commented on #5817
The cache is use-generated, that is, it generates when a) it's expired, AND
b) a new request comes in. So something has to be requesting it for the
cache to generate... if I can resolve a couple unrelated issues and merge
their PRs, i'll start a new publication to production tonight (otherwise
tomorrow) and we can see if the robots.txt helps at all?

On Thu, Jun 20, 2019 at 4:53 PM Benjamin Sugar

[2019-06-20 23:08] jywarren opened #5930 "Initial Summer of Code Evals: what we're looking for!"
Hi, everyone (@publiclab/soc @publiclab/mentors especially)! We had some good questions about what the first evals will be about. I wanted to say that we consider your overall progress, but we are especially on the lookout for the following:

### How collaborative you've been

    * have you only told others about what you're doing (through blog posts, weekly check-ins, showing up on open call

[2019-06-21 04:45] #5614 closed

[2019-06-21 13:57] #5839 closed

[2019-06-21 14:43] jywarren commented on #5886
We are all good here!

[2019-06-21 14:43] #5886 closed

[2019-06-21 14:46] jywarren opened #5931 "Parallelized Travis runs split test, coverage reports"
so we get partial reports of everything, like our coverage being reported at 53%, which is actually only the coverage calculated from the system tests task: https://travis-ci.org/publiclab/plots2/jobs/548708932#L4077

In a similar vein, our PR Dangerbot posts can no longer access aggregate junit reports in `Writing XML reports to /app/test/reports` -- since we're running different tests in paralle

[2019-06-21 15:28] jywarren opened #5932 "Move "follow author" and "Flag" buttons under dropdown menu"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-06-21 15:29] jywarren commented on #5932
@gautamig54 @CleverFool77 maybe this would be a pretty easy FTO for someone? Would a recent FTO completer want to open their own FTO using this?

****

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a

[2019-06-21 16:59] CleverFool77 commented on #5739
Hi
I published my blog for outreachy this morning regarding the work.
https://medium.com/@lekhikadugtal/my-project-work-for-outreachy-e455974cdb47
Do give it a read <3
cc : @jywarren @gauravano @milaaraujo @rexagod @gautamig54

[2019-06-21 17:08] jywarren commented on #5817
via @icarito - so on tonight's update we can see if robots.txt changes help this.

[2019-06-21 19:22] gautamig54 commented on #5932
@jywarren I have updated the issue. Kindly review @publiclab/reviewers !

[2019-06-21 19:23] jywarren commented on #5739
Awesome!!!!! Please do post on publiclab.org as well! Thank you!

On Fri, Jun 21, 2019 at 1:00 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-06-21 19:23] jywarren commented on #5932
Looks great! Want to relabel it? Thank you @gautamig54 !!! This is awesome.

[2019-06-21 22:11] jywarren commented on #5708
Would you like to try making the navbar search go to `/search?q=____` instead of `/search/_____` now, and replacing the main `Content` search view with Google search results? We're doing well here so we can start this process now I think.

So we'll need:

* [ ] make the navbar search go to `/search?q=____` instead of `/search/_____`
* [ ] replacing the main `Content` search view with Google search

[2019-06-21 22:17] jywarren commented on #5708
Let's add a few more for the navbar search, if it's OK!

* [ ] let's show a spinner icon while it loads the autocomplete results! (as shown below) - say, replacing the magnifying glass icon?
* [ ] Let's change the inline heading "Tags" to "Topics"
* [ ] let's put the actual tagname in a badge so it's recognizable as a topic...?

![image](https://user-images.githubusercontent.com/24359/59953890-30e

[2019-06-21 22:48] skilfullycurled commented on #5848
@jywarren, can you explain a bit more?  How would that differ from the fact that the wiki also requires commits and is therefore (I assume) version tracked.  Just clarifying, in the end I don't have a team in the game.  Or, at least not one I'm partial to.

I'll also add that one way to look at it (via a TED talk I saw, will try to locate) is that some pro/con lists aren't helpful because both opt

[2019-06-22 03:08] aSquare14 opened #5936 "Change colour of social-media icons from black and white to original"
<img width="1437" alt="Screenshot 2019-06-22 at 8 35 55 AM" src="https://user-images.githubusercontent.com/22938709/59958742-dd60f600-94c8-11e9-8ae1-6047747a6d6e.png">

Change the colour of social media icons to look like this

<img width="243" alt="Screenshot 2019-06-22 at 8 37 40 AM" src="https://user-images.githubusercontent.com/22938709/59958757-07b2b380-94c9-11e9-916f-fb3a9e55370c.png">

[2019-06-22 03:12] aSquare14 opened #5937 "Improve loading speed of website"
I noticed that the loading speed of certain sections of the website are pretty slow. Anyone else faced this ? Can we bring the loading time down ?

[2019-06-22 04:30] jywarren commented on #5937
Hi! We'd love help with this. This is a pretty powerful tool for analysis
of site load time!

https://www.skylight.io/app/applications/GZDPChmcfm1Q/1561134540/10h27m/endpoints

On Fri, Jun 21, 2019, 11:13 PM Atibhi Agrawal <notifications@github.com>
wrote:

[2019-06-22 04:33] jywarren commented on #5937
Oops! Here's the link

https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1561134540/10h27m/endpoints

On Sat, Jun 22, 2019, 12:30 AM Jeffrey Warren <jywarren@gmail.com> wrote:

[2019-06-22 04:53] aSquare14 commented on #5937
Looks good, I think we can start picking out the slowest loading pages, analyze and fix. Would be happy if anyone wants to collaborate :)

[2019-06-22 13:11] mohamed-elalem commented on #5932
Can i claim this one?

[2019-06-22 18:45] rexagod commented on #5932
Go ahead, @mohamed-elalem! Let us know if you face any problems whatsoever. Thanks!

[2019-06-22 22:26] mohamed-elalem commented on #5932
@rexagod I opened a pull request for this issue, kindly check #5939.

[2019-06-23 02:08] gauravano commented on #4337
Discussion at #5848. Thanks you!

[2019-06-23 02:08] #4337 closed

[2019-06-23 02:27] gauravano commented on #5848
### Some cases where wiki might help:
- For maintaining guidelines of GCI/GSoC programs
- Requirements for becoming a reviewer
etc.

2a) Give each file a more descriptive name
2b) Provide descriptions of what information each file contains

Agree! And, want to add, maybe we can drop some more info too with the links?

[2019-06-24 19:05] gauravano commented on #5937
Hey @aSquare14, thanks for your interest in tackling this issue. Tagging already opened issues which can be solved as sub-parts of this one: https://github.com/publiclab/plots2/issues/1686 https://github.com/publiclab/plots2/issues/2064 https://github.com/publiclab/plots2/issues/4362 https://github.com/publiclab/plots2/issues/5789 https://github.com/publiclab/plots2/issues/4561

Thanks!!

[2019-06-24 19:12] gauravano commented on #5936
The icons are part of the feature so their code is stored in DB. But, let's see how the page looks after introducing colors.

[2019-06-24 19:13] jywarren commented on #5937
We've been seeing quite different numbers since the server was expanded on
Friday. I'm starting to think that we may want to try view caching sections
of the tags input, OR wiki page content? But either would need more
investigation in Skylight. Thanks!

On Mon, Jun 24, 2019 at 3:05 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-06-24 19:14] jywarren commented on #5936
Cool -- also, let's try to stay synced with the style guide process! Thank
you for the input!
https://publiclab.org/notes/warren/05-07-2019/introducing-a-draft-style-guide-for-public-lab

On Mon, Jun 24, 2019 at 3:12 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-06-24 19:40] gauravano commented on #5936
![Screenshot from 2019-06-25 01-09-06](https://user-images.githubusercontent.com/20878070/60046788-d7942c00-96e5-11e9-8cb9-5ebe4e9c4bbc.png)

@aSquare14 @jywarren how's it looking?

Also, pasting style guide section for reference:
![Screenshot from 2019-06-25 00-47-59](https://user-images.githubusercontent.com/20878070/60046836-f5619100-96e5-11e9-80ca-f43ff920294a.png)

[2019-06-24 19:44] gauravano commented on #5927
Hi @bronwen9, this issue is resolved and fix is pushed to production so you shouldn't face any issue now. Please give a try and let us know. Thanks!

[2019-06-24 20:35] chaurasia-namrata commented on #5352
Is this project completed or any work is remaining? I would love to contribute to this project.

[2019-06-24 20:40] gauravano commented on #5352
Hi @chaurasia-namrata, it's still in-progress. you can see the progress at https://publiclab.org/blog2 and you can also help. Next part is claimed by @divyabaid16 and @atjustbeinghumaid but if they're busy you can claim it?

Thanks!

[2019-06-24 20:50] jywarren commented on #5936
Hi! I think we'd be OK with the colored icons if you want to adjust them - but please keep in mind that we will be doing a front-page redesign incorporating elements from the style guide pretty soon, so I don't want folks to feel bad if changes made now are overwritten in a few weeks or months. Just a heads up, and thank you so much for your interest in this!

[2019-06-24 20:54] chaurasia-namrata commented on #5891
hi, is this project open and can i join?

[2019-06-24 20:57] gauravano commented on #5936
Cool.

 Here's the gist for the code - https://gist.github.com/gauravano/db813bbdec1b7e680d6b8882092b02e0

So, whoever takes on this issue have to first create a feature by name `home-intro` by logging in as admin and then visit localhost:3000/features and create feature from there using the code from Gist.
Edit and Save the feature if you're not able to see changes at localhost:3000/home.

After

[2019-06-25 02:13] sashadev-sky opened #5943 "Weekly community Check-In #26 (Bash Aliases)"
Hi everybody :smiley: !

We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our _weekly goals and the awesome work_ we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past

[2019-06-25 02:13] sashadev-sky commented on #5943
@milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @cesswairimu @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1, @uzorjchibuzor, @eli6, @rexagod, @divyabaid16, @dinael

[2019-06-25 02:13] sashadev-sky commented on #5943
@mohitRJranjan @milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @cesswairimu @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1, @uzorjchibuzor, @eli6, @rexagod, @divya

[2019-06-25 02:13] sashadev-sky commented on #5943
@publiclab/community-reps @subhahu123 @An0u @Jaya738 @mgroovyank @shreyateeza @TANGL3SIT3S @nazeem1988 @karunagoyalk @Nirvikalpa108 @cassianoblonski @EngrEric @Anjalizi @GettyOrawo @coderbeetle @corbettbw @govindjeevan @gautamig54 @daddyjab @emestabillo @letnewKid @srujana121 @jazdao @ChinwenduSilvia @aggarwal19 @Jenniline @madelinejones @helenatxu @richa031 @fabsar @kuja24 @megha070 @Aarabhi2017

[2019-06-25 02:13] sashadev-sky commented on #5943
@Priyak5 @techchic @ananya @hc-barker @edwd42 @PritiShaw @themonster2015 @supriya-kotturu @AnthoniaOkafor @scheleon @mahmodHammad @santushk @jillpena @stoic-plus @starkblaze01 @aSquare14 @vaarigupta @alonpeer @madeofhuman @ibnjunaid @aashna27 @harshithpabbati @mmmelissa @rarrunategu1 @UNnamed66 @GauravJ3 @Greg-Tarr @Sanscripter @hodbadger @alaxalves @becomingajunior @monsij @vrk99 @pdurbin @HarshK

[2019-06-25 02:14] sashadev-sky commented on #5943
note @alaxalves will be opening next weeks!

[2019-06-25 04:56] aSquare14 commented on #5936
Cool ! Looks good to me and @jywarren your point is valid !

[2019-06-25 04:58] aSquare14 commented on #5937
@gauravano Thanks, shall look into this issue
@jywarren Cool, will do that !

[2019-06-25 05:01] aSquare14 commented on #5943
@sashadev-sky  Great topic for the cheeckin ! Bash is highly underrated I feel and an amazing tool :)
One bash alias I use is ```alias ports=netstat -t```
Hoping everyone has a great week ahead !

[2019-06-25 07:09] kaustubh-nair commented on #5943
HI all! And nice topic @sashadev-sky ! :smiley:
I use a lot of aliases while working, mostly for rails and git
Here are some of them
[code]

I also wrote some really cool functions for git, which I use a lot.
$1 and $2 denote the first and second arguments in shell script
So if you type 'gp beta master', it will push to 'beta' remote and 'master' branch

[code]

I also highly recommend using zsh i

[2019-06-25 07:21] kaustubh-nair commented on #5931
We're facing a similar issue in `mapknitter` as well. Codecov reports a coverage of 40% which is only due to unit tests. I believe we need to find a way to accumulate all the reports and send them together to Codecov. Instead of sending 5 different reports
CC @alaxalves

[2019-06-25 12:57] HarshKhandeparkar commented on #5943
Hi, I don't set any bash aliases as such but I have some scripts which boost the productivity a lot.
- https://github.com/HarshKhandeparkar/bashinthebin
- https://github.com/HarshKhandeparkar/gitshot
- https://github.com/harshithpabbati/Update-is (for deploying image sequencer beta)

[2019-06-25 13:09] CleverFool77 commented on #5708
This looks cool. I'll add them to list @jywarren
Hi @rexagod I need help in JavaScript for triggering the Custom Google search with click on link.

[2019-06-25 14:21] CleverFool77 opened #5945 "Replace TAGS with TOPICS"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-06-25 15:00] cfinn16 commented on #5945
Hi! Can I work on this?

[2019-06-25 17:27] chaurasia-namrata commented on #5352
Thanks @gauravano

[2019-06-25 17:43] rexagod commented on #5708
Sure thing, @CleverFool77! Can you link me to the code?

[2019-06-25 17:49] CleverFool77 commented on #5708
https://github.com/publiclab/plots2/issues/5708#issuecomment-499220582

https://github.com/publiclab/plots2/issues/5708#issuecomment-501729804

I was using the code from the links in the method I wrote. I tried from api documentation to find a method of triggering search without search box and link.

[2019-06-25 17:55] CleverFool77 commented on #5945
Hi you can, but I haven't updated the details for this issue yet. Wait for some hours and I'll update this.
Thanks

[2019-06-25 17:55] atjustbeinghumaid commented on #5352
Anyone else can claim this issue

[2019-06-25 18:25] alaxalves commented on #5943
Hey guys, to be honest I am not a big fan of setting aliases on my bash, because I like remembering the entire command :smile: :smile: :smile:. But I have set some useful functions on my bash to integrate it better with git commands. Here they go:

[code]
With those two functions you can quickly identify if it is a git versioned repo, and easily know where you at haha, it will prompt out something

[2019-06-25 18:54] gauravano commented on #5943
Hi everyone,

Nice theme @sashadev-sky!

I don't use aliases. Because I can't remember them and using complete command help me picture the effect better.

### Plots2:
I am going through plots2 old issues/PRs, pushing some to completion, and closing some of them.

### Goals:
1. Notification system PR review
2. Plots2 issue template setup
3. Image management project update

have a great week  :100:

[2019-06-25 18:59] gauravano commented on #5819
Hi everyone, we have 3 new chatrooms -

https://gitter.im/publiclab/image-sequencer
https://gitter.im/publiclab/leaflet - For all leaflet based projects
https://gitter.im/publiclab/mapknitter

You are welcome to join these rooms and hold discussions regarding your project there. Thanks!

[2019-06-25 19:01] IshaGupta18 commented on #5819
Could you please open one up for simple-data-grapher?

On Wed, Jun 26, 2019, 12:29 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-06-25 19:01] gauravano commented on #5819
cc @jywarren

[2019-06-25 19:03] jywarren opened #5949 "Topics card display styling refinements"
@gautamig54 @CleverFool77 just noting that there are some oddities about the topics cards on https://publiclab.org/tags - would you mind taking a look?

![image](https://user-images.githubusercontent.com/24359/60125498-e87e8500-9759-11e9-9352-d90b85528ac5.png)

I think maybe the profile picture should:

1. be a grey circle if there's no profile picture, so the layout is consistent
2. be float:left

[2019-06-25 19:50] gauravano commented on #5817
Hey @jywarren, I saw that robot.txt update commit was pushed to stable some days ago. Any improvement you noticed?

[2019-06-25 20:00] cfinn16 commented on #5945
Sounds good — I'll wait for your update. Thanks!

[2019-06-25 20:03] gauravano commented on #5819
Thank you @jywarren!

Here's one for simple-data-grapher: https://gitter.im/publiclab/simple-data-grapher

[2019-06-25 20:05] sashadev-sky commented on #5943
Just implemented @alaxalves script! 🚀

I use an alias for grabbing the name of the branch i'm on:

`alias me='git rev-parse --abbrev-ref HEAD'`

Which allows me to do `$ git push origin $me` to quickly push up my work from a branch

This week my goal is to complete the progress update UI for the exporting system!

[2019-06-25 20:37] #5927 closed

[2019-06-25 21:03] jywarren commented on #5943
Hi all! It was great talking to folks on the Code Open Call today (https://pad.publiclab.org/p/opencall) and we took lots of notes.

@IshaGupta18 I tried making a diagram of your app flow - take a look and try making your own!

![image](https://user-images.githubusercontent.com/24359/60133228-fbe61c00-976a-11e9-8abe-cc37e8ac4908.png)

This is a good exercise for everyone! You can try starting on p

[2019-06-25 21:28] jywarren opened #5950 "Figure out way to embed Leaflet Environmental Layers map in a wiki with specific layers showing"
@ananyaarun @sagarpreet-chadha - Folks are interested in showing specific layers in an inline or leading map, so, having some layers "default on" -- on pages like:

* https://publiclab.org/wisconsin
* https://publiclab.org/puerto-rico
* https://publiclab.org/one-cranston

Some are "lead maps" at the top of the page, and some are in the sidebar, and some are inline. Let's start with inline maps.

!

[2019-06-25 21:31] skilfullycurled commented on #5817
Yes, would love an update!  Not sure I grabbed the correct data, but here's some images from skylight of before the commit, after the commit, and the last ~24 hours.  The red line indicates when the commit was made.  Looks on the surface like the answer is yes, but it may not be significant, or I might be interpreting the data incorrectly.

![robots_txt](https://user-images.githubusercontent.com/9

[2019-06-25 22:05] jywarren commented on #5817
Yes i think a full analysis would be great. But the short answer is that
we've almost halved our average problem response time for all site requests
from 5.5+ to 3 or less. It's really a huge improvement. It was a
combination of a) almost doubling RAM from 8-15GB, b) blocking a marketing
bot in robots.txt, and c) blocking it in nginx configs as well (i think by
IP address range). The tough part is

[2019-06-25 22:59] jywarren commented on #5931
Is there any shared storage of any kind between tasks?

On Tue, Jun 25, 2019 at 3:21 AM Kaustubh Nair <notifications@github.com>
wrote:

[2019-06-25 23:35] jywarren commented on #5848
Ah, just that when you have code (and docs) in the same PR (esp. the same commit) as features, you can often use that link to trace who wrote code, follow it back to the docs, and figure out how and why it works.

Example: this code for reply-by-tweet is not running yet:

https://github.com/publiclab/plots2/blob/ba6f3b8a25ac4f6aeaaa2d9fab8e4d57778c83c3/app/models/comment.rb#L356-L361

So you can c

[2019-06-26 00:36] jywarren opened #5951 "Speed difference between navbar tag search and /tags tag search"
Using these two types of tag search, the navbar search is much slower than the `suggested` route!

![image](https://user-images.githubusercontent.com/24359/60111108-54052a00-973b-11e9-8645-a7ddf5e43e15.png)

The navbar one uses: https://publiclab.org/api/srch/tags?query=coqui

The `suggested` one lower down is faster, and uses (over XHR): https://publiclab.org/tag/suggested/coqui

Here's the navba

[2019-06-26 00:37] jywarren commented on #5951
What's going on with our API? It's so inefficient!!! https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1561487700/6h/endpoints/Srch::Search%20%5BGET%5D%20srch%2Ftags

[2019-06-26 00:39] jywarren commented on #5951
The API call averages 3.5 seconds. The tags controller suggested action averages 150 milliseconds!!!

![image](https://user-images.githubusercontent.com/24359/60142765-47a7be00-9789-11e9-8d71-f53fd5f85139.png)

[2019-06-26 00:43] jywarren commented on #5719
Also https://github.com/publiclab/plots2/issues/5951

[2019-06-26 00:55] jywarren commented on #5951
Maybe something here? https://github.com/ruby-grape/grape/search?q=slow&type=Issues

[2019-06-26 03:15] divyabaid16 commented on #5352
Yes @chaurasia-namrata  you can work on this. Do ask in case you need any help.
Thanks!

[2019-06-26 10:48] camerahanwa opened #5953 "Địa chỉ phân phối camera Wisenet chính hãng tại VN"
Bạn đang cầm tìm một sản phẩm chính hãng, có nguồn gốc tại Việt Nam. Và bạn đang quan tâm tới dòng sản phẩm Camera Wisenet  (hay còn gọi là Camera Wisenet Samsung kể từ 2017 ) của Hanwha Techwin nhưng không biết nơi đâu sẽ bán và tiến hành lắp đặt trọn gói cho công trình, dự án của bạn tại Việt Nam?. Bài viết ngay sau đây không chỉ giúp bạn giải đáp thắc mắc này và còn cung cấp thêm thông tin cho

[2019-06-26 12:31] alaxalves commented on #5931
I'll into it. I'm already digging this to Mapknitter, when I get it figured out there, I'll do it here as well.

[2019-06-26 12:41] pdurbin commented on #5943
I type `git status` so much that I shorten it to `gits` with this Bash alias:

    alias gits='git status'

Speaking of aliases, git itself supports them. I have a lot in my .gitconfig at https://github.com/pdurbin but I only use a couple of them regularly.

I shorten `git checkout` to `git co`.

I also like being able to specify an alternative email address after I've cloned a git repo. For examp

[2019-06-26 12:46] divyabaid16 commented on #5943
Hi everyone!

Great theme @sashadev-sky :tada:

Well, I just use Bash Alias to clear my terminal xD
```alias c='clear'``` and not for other things. For me writing the complete command is much easier.

And I guess, I just missed my previous week's check-in so I will write about my work for the past 2 weeks.

FTO's created:
https://github.com/publiclab/mapknitter/issues/739
https://github.com/public

[2019-06-26 15:50] skilfullycurled commented on #5793
@jywarren, can we close this since it was included in PR #5875 which fixed #4925?

[2019-06-26 15:55] jywarren commented on #5931
Hm. Thank you both! Note in relation to this one, I'm using an env var in #5929 to make only one of the 5 tasks actually generate a Danger report!

[2019-06-26 17:49] kaustubh-nair commented on #5931
@jywarren are we using coveralls for plots2?
If so, we can simply set `COVERALLS_PARALLEL=true` for merging the reports.
http://docs.coveralls.io/parallel-build-webhook

[2019-06-26 17:49] kaustubh-nair commented on #5931
And set up a webhook

[2019-06-26 18:27] kaustubh-nair commented on #5931
It would be easier to switch to Codecov. They support auto merge test reports if we use the gem. I've set it up here https://github.com/publiclab/mapknitter/pull/749
Thanks!

[2019-06-26 18:39] jywarren commented on #5793
Yes, thanks so much!

[2019-06-26 18:39] #5793 closed

[2019-06-26 18:48] jywarren commented on #5931
Let's switch to codecov! It's much nicer! Thanks so much!

On Wed, Jun 26, 2019, 2:28 PM Kaustubh Nair <notifications@github.com>
wrote:

[2019-06-26 18:50] kaustubh-nair commented on #5931
Okay! I'll submit a PR if you'd like

[2019-06-26 19:15] jywarren commented on #5931
that would be super. thank you!

On Wed, Jun 26, 2019 at 2:50 PM Kaustubh Nair <notifications@github.com>
wrote:

[2019-06-26 20:21] jywarren commented on #5792
Working for me! Closing, thanks!

[2019-06-26 20:21] #5792 closed

[2019-06-26 23:12] jywarren commented on #5734
Yep!

[2019-06-26 23:12] #5734 closed

[2019-06-27 09:46] rexagod commented on #5708
Hello, @CleverFool77. I take it that the parameter search implementation is what's causing the problem here?

If that's the case, how about attaching an `onload` listener for `window.location.href` and parse that for parameters then use those parameters to trigger a search (the same way you do for `onclick` for the searchbar)?

[2019-06-27 09:52] CleverFool77 commented on #5708
Thank you so much @rexagod
Yes I guess this method will work, I'll try it out :thinking:
Thanks :smiley:

[2019-06-27 12:38] sagarpreet-chadha commented on #5950
This is super cool feature 😄!

[2019-06-27 13:02] sagarpreet-chadha opened #5955 "Porting LBL and LBLD to Bootstrap 4"
@jywarren ,
Can you put some links to merged PR's or some documentation to help me get started here. Thank You!

[2019-06-27 17:07] CleverFool77 commented on #5945
HI @jywarren I don't seem to find the file for this code.

[2019-06-27 18:49] #5953 closed

[2019-06-27 19:07] #5743 closed

[2019-06-27 20:24] jywarren commented on #5955
Sure! here are some:

https://github.com/publiclab/plots2/issues/5612
<https://github.com/publiclab/plots2/pull/>

https://github.com/publiclab/plots2/issues/1716

I hope these help!

Sagarpreet, do you think you could find some time to prioritize this one -
specifically for the MapKnitter layer?
https://github.com/publiclab/leaflet-environmental-layers/issues/112

We're going to be relaunching Ma

[2019-06-27 21:51] jywarren commented on #5943
Hi, everyone! I wrote up a post about "how to get help effectively"! It's based on some advice I put into the GSoC evals. I think it's worth a read, and would love feedback!

https://publiclab.org/notes/warren/06-27-2019/getting-help-in-a-coding-project

![Screen Shot 2019-06-27 at 5 50 53 PM](https://user-images.githubusercontent.com/24359/60303336-215a5d80-9904-11e9-9ad1-2cdbaed21e7f.png)

[2019-06-27 23:35] jywarren opened #5956 "Make wiki/note page headings more minimal, based on the new style guide"
@gautamig54 @CleverFool77 I was working in the [style guide draft](https://publiclab.org/notes/warren/05-07-2019/introducing-a-draft-style-guide-for-public-lab), and have been trying to see how we can keep a minimum of extra stuff in the heading, as it's currently so overloaded:

![Screen Shot 2019-06-27 at 7 34 10 PM](https://user-images.githubusercontent.com/24359/60307425-8ddc5900-9912-11e9-822

[2019-06-28 12:12] CleverFool77 opened #5958 "The `answered` and `asked` tab doesn't work"
#### Description

The answered and asked tab seems to have broken and is not working.

![Screenshot from 2019-06-28 17-39-19](https://user-images.githubusercontent.com/26685258/60341376-e6bbf800-99cb-11e9-880a-51b3fb78076e.png)

[2019-06-28 12:14] CleverFool77 commented on #5958
Hi @michelelong  I saw you worked on the one of the tab fix earlier. If you are interested, you can look into this.
Thanks !!

[2019-06-28 16:20] jywarren opened #5959 "error in <blockquote> parsing in Markdown"
Oddly it looks like markdown blockquotes are getting converted to `<p>` paragraph tags:

![image](https://user-images.githubusercontent.com/24359/60356398-d3466800-999e-11e9-9065-38198c178302.png)

this rendered from the Markdown usage:

[code]

We may need to look at whether our markdown parser has changed. Oddly the render method in `comment.rb` hasn't for 4 months, so it seems unlikely to be th

[2019-06-28 16:22] jywarren commented on #5959
Ah, wait! The blockquote code is there, so this is a styling issue!

![image](https://user-images.githubusercontent.com/24359/60356612-68496100-999f-11e9-9d67-905e8065b8d4.png)

Great. So let's check our CSS.

[2019-06-28 16:24] jywarren commented on #5959
So it'll be in one of these; probably the first! We can check if they've changed, OR we can check if the container for comments has changed and is no longer getting these styles applied:

https://github.com/publiclab/plots2/blob/a3e40c5cb20e94653de20a74e0ac9553c87f0d3a/app/assets/stylesheets/comments.css#L27-L32

https://github.com/publiclab/plots2/blob/63090daa89adcd5124661a6ea41203210575387f/app

[2019-06-28 16:24] jywarren commented on #5959
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2019-06-28 21:16] michelelong commented on #5958
I'll look into it.

[2019-06-28 21:19] jywarren commented on #5958
Hi! Just noting, I think this is also potentially related to the test issue
in https://github.com/publiclab/plots2/pull/5902, if you're talking about
the tag page! Thanks!

On Fri, Jun 28, 2019 at 5:17 PM Michele <notifications@github.com> wrote:

[2019-06-28 21:20] #5932 closed

[2019-06-28 22:20] jywarren opened #5960 "Implement card designs in embedded grids!"
We have these nice embedded grids that show in iframes, at urls like:

https://publiclab.org/embed/grid/questions:balloon-mapping

They look like this, on an external site like MapKnitter.org :

![image](https://user-images.githubusercontent.com/24359/60374205-36e98900-99d1-11e9-981a-24fcdfeed291.png)

The "grid" versions don't look as good:

https://publiclab.org/embed/grid/notes:grid:balloon-map

[2019-06-28 22:20] jywarren commented on #5960
cc @cesswairimu this'll look cool and we can feature some balloon mapping blog posts using this, with images!

[2019-06-28 22:34] michelelong commented on #5958
Is there a way to get the count for these two tabs like the others have?

[2019-06-28 22:37] cesswairimu commented on #5960
Awesome!!

[2019-06-29 14:31] SidharthBansal commented on #5943
I hope you all are going good. I am right now busy with some personal stuff. Will be back after a month.
I hope all of you enjoyed phase 1 with PL community.

[2019-06-29 15:32] alaxalves commented on #5943
Those are very good tips, despite of being kinda boring, being pretty descriptive on issues and PRs are very necessary. BTW a good practice I took from @sashadev-sky is using this section of github to review PR and such:
![image](https://user-images.githubusercontent.com/19597045/60386288-65b33e00-9a69-11e9-9a00-f78fb2d36afe.png)
Very useful to exactly express what we want.

[2019-07-01 05:37] gauravano commented on #5943
Hey @alaxalves, you would be opening check-in for this week, right?

[2019-07-01 06:39] gauravano commented on #4660
Hi @jywarren @SKashyapD @Zengirl2, can we close this issue or anyone want to update it? Thanks!

[2019-07-01 08:10] SKashyapD commented on #4660
Hello everyone
Not now.
I will start working on this after summer break.

Thank you

On Mon, 1 Jul, 2019, 12:09 PM Gaurav Sachdeva, <notifications@github.com>
wrote:

[2019-07-01 08:27] gauravano commented on #4660
Cool!

[2019-07-01 14:43] alaxalves commented on #5943
@gauravano I'm working on it rn. I'll send the link here and on Gitter when I'm done :D

[2019-07-01 20:49] #5870 closed

[2019-07-01 21:02] namangupta01 opened #5969 "Action Cable Testing"
Hey, all!
With the merge of #5743 we now have action cable implemented in our system. Next step is to write test so that we are sure that everything is working fine.

There are multiple ways to test action cable. Some of them are:

https://github.com/palkan/action-cable-testing
https://medium.com/@tomekw/unit-testing-actioncable-channels-with-rspec-ca67ca6834af

@jywarren @gauravano what do you th

[2019-07-01 21:07] namangupta01 opened #5970 "Add notification system using action cable for notes"
With the merge of #5743, we now have action cable setup in the system, the next feature is to implement a notification system for notes where one user comments and it get broadcast to all the user who has subscribed to that note via browser notification.

[2019-07-02 15:59] jywarren commented on #5969
This is a bit outside my expertise, actually! But - if there are indeed
unit tests available, let's start with a few simple ones of those. Then, we
can implement a front-end system test in JavaScript as well. Here's an
example of running JS in a full-stack system test:

https://github.com/publiclab/plots2/blob/a9d4e3048eee72aa3161f8999a6fde5b95443e58/test/system/search_test.rb#L25-L26

On Mon, Jul

[2019-07-02 16:39] #5943 closed

[2019-07-03 04:36] CleverFool77 commented on #5956
I seem to miss out this.
Thanks for assigning. @jywarren

[2019-07-03 04:42] CleverFool77 commented on #5956
We have been using ellipses in all cards too.Instead of ellipses, row of buttons and menu buttons looks much better.
How about earlier, letting all the this data remain hidden, then we can trigger the show class with one menu button.
So unless someone want to edit the note or wiki, they need not see these buttons.

[2019-07-03 04:47] CleverFool77 commented on #5960
Hi @jywarren This might be a silly question but what is embedded grid. Is it something like grid or nested grid ? :sweat_smile:
regarding addition of cards, yes we can do this. Is code for this in plots2 code ?

[2019-07-03 05:12] CleverFool77 commented on #5891
Hi @jywarren @gautamig54 Should we start with profile page now ?

[2019-07-04 03:33] gauravano commented on #5668
Hey @jywarren,  Naman's PR - https://github.com/publiclab/plots2/pull/5897 has fixed this issue or there's anything else?

[2019-07-04 04:15] gauravano commented on #5958
Hi @michelelong, yes, you can do that, here's logic for the profile page https://github.com/publiclab/plots2/blob/master/app/controllers/users_controller.rb#L143-L228 . You'll see in profile.html.erb that we show count for some tabs from the instance variable we use like for Authored, Coauthored, Drafts, etc. Similarly, you can either send the count or if we already have instance variable declared

[2019-07-04 07:08] myphammiraso opened #5974 "Kem Dưỡng Da Trị Nám DongSung Rannce Cream"
Kem Dưỡng Da Trị Nám Omar Sharif Rannce Cream là dòng kem đặc trị nam da đến từ Hàn Quốc, giúp loại bỏ hoàn toàn những vùng da bị nám, đồi mồi, tàn nhang từ chiết xuất tinh chất thảo dược tự nhiên. Mang lại cho làn da sự phục hồi nhanh chóng và cải thiện màu sắc tone da hiệu quả. Tìm hiểu thêm về những mẫu kem chống nắng: <strong><a href="https://miraso.vn/danh-muc/chong-nang">https://miraso.vn/da

[2019-07-04 13:24] CleverFool77 opened #5975 "Change profile picture as per new style guide design in profile page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-07-04 14:32] CleverFool77 commented on #5974
Hi @myphammiraso
This project is a knowledge exchange platform and it's not something related to cosmetic products.
Also, publiclab is a diverse community consisting of people from around the world. So it's best for all of us to communicate in English instead of Vietnamese.
Hi @jywarren can we mark this as spam and close the issue.

[2019-07-04 16:07] PoseidonSigmaX commented on #5975
Hey, I'd like to work on this issue

[2019-07-04 16:29] CleverFool77 commented on #5975
Sure @PoseidonSigmaX You can go ahead.

[2019-07-04 16:33] CleverFool77 commented on #5891
hi @jywarren The current design have col-9 and col-3 grid.
But I wanted to ask some doubts about new design.
In new design. The second column does look like col-3 but the column one doesn't look like one which is taking col-9 of grid.
So What would be the column spans for it. Any idea @gautamig54

[2019-07-04 16:37] CleverFool77 commented on #5949
Hi @jywarren This looks good. I'll solve some of the parts and open `first-timers`-only` for some.
Thanks !!

[2019-07-04 17:04] CleverFool77 opened #5976 "Add grey circle to make layout consistent in topic-card, when there is no picture for note"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-07-05 04:55] CleverFool77 commented on #5945
Hi @cfinn16  If you are  interested, you can look into this first timer issue https://github.com/publiclab/plots2/issues/5976
Thanks !!!

[2019-07-05 15:33] jywarren commented on #5890
Just https://github.com/publiclab/plots2/pull/5902 now? 🎉

[2019-07-05 15:34] jywarren commented on #5890
I updated some of the checklist but probably not all -- thanks!

[2019-07-05 15:43] jywarren commented on #5890
This is now up at https://stable.publiclab.org/tag/balloon-mapping

[2019-07-05 16:07] jywarren opened #5980 "WebSockets issue"
Hi @namangupta01 - i see this error on stable:

[code]

Anything to worry about? Is it due to SSL? Thanks!

[2019-07-05 16:14] namangupta01 commented on #5980
We need to change nginx configuration to upgrade polling connection to web
socket.
This is what we did on unstable server after receiving this error. Can you
do the same?

On Fri, 5 Jul 2019, 21:37 Jeffrey Warren, <notifications@github.com> wrote:

[2019-07-05 16:14] jywarren commented on #5891
I think in the new design, it seems like a 6/4 split. What do you think of doing that?

[2019-07-05 16:19] CleverFool77 commented on #5890
Hi @jywarren This looks cool

![Screenshot from 2019-07-05 21-48-35](https://user-images.githubusercontent.com/26685258/60734803-bbf31600-9f6e-11e9-8237-8e4a6ccbee03.png)

But for notes, Are these images not loaded ?
![Screenshot from 2019-07-05 21-48-51](https://user-images.githubusercontent.com/26685258/60734823-c9100500-9f6e-11e9-8ac7-56fea6610373.png)

[2019-07-05 16:23] CleverFool77 commented on #5890
Hi jeff!! Should I work on notes card ? :thinking:

[2019-07-05 16:25] jywarren commented on #5890
For the images, I think on stable, the images may not be pointed properly
but they should work on production. Can you look at the URL of the image
and change "stable.publiclab.org" to "publiclab.org" to see if it really
exists on production? Thanks!

On Fri, Jul 5, 2019 at 12:23 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-07-05 16:27] CleverFool77 commented on #5890
Should I decrease the height of note title ?

[2019-07-05 16:28] CleverFool77 commented on #5890
This isn't pushed to production yet I guess.

[2019-07-05 16:29] CleverFool77 commented on #5890
It's being pushed right now :smiley:

[2019-07-05 16:57] CleverFool77 opened #5981 "Fix the height of notes title in card"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-07-05 17:00] CleverFool77 commented on #5981
Hi @jywarren I realised the note title looks way too big. So I guess this issue would solve that for better. And Notes card would looks similar to question.

[2019-07-05 17:02] Anupam-dagar commented on #5981
I would like to take up this issue.

[2019-07-05 17:27] CleverFool77 opened #5983 "Login Modal container css distorted"
### Please describe the problem (or idea)
I guess while I removed the padding and margin for the container for the absolute image in tag/tagname url/. It effected the login modal too. So Now when I'm trying to login , the modal seems to out of screen from above wherease it's working fine in other urls.

### Please show us where to look
It's working fine on other urls like this
![Screenshot from 20

[2019-07-05 17:31] CleverFool77 commented on #5983
cc : @jywarren

[2019-07-05 18:14] namangupta01 commented on #5969
`action-cable-testing` seems to be a good option because it gets merged in Rails 6.0 and it is also used in RSpec 4.

[2019-07-05 18:15] jywarren commented on #5983
Ah yes, i think i saw the `.container` style overridden. I think you need
to narrow the scope of the CSS to just your own .container. So, perhaps
using a custom ID or a more specific nested classname?

On Fri, Jul 5, 2019 at 1:31 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-07-05 18:16] #5981 closed

[2019-07-05 18:19] jywarren commented on #5969
awesome!

On Fri, Jul 5, 2019 at 2:15 PM Naman Gupta <notifications@github.com> wrote:

[2019-07-05 18:22] namangupta01 opened #5984 "Action Cable Setup Testing"
As discussed in #5969, implement tests for action cable streams

[2019-07-05 22:03] nicobermudez commented on #5976
Hey, I'd love to take a go at this issue!

[2019-07-06 04:48] CleverFool77 commented on #5976
Sure. You can go ahead.

[2019-07-06 04:52] CleverFool77 commented on #5983
Great idea Reagrding nested class Jeff.

[2019-07-06 04:54] CleverFool77 commented on #5945
I'll open a different first timers issue for you next.

[2019-07-06 06:35] icarito commented on #5980
Ok it should be done for staging and production now!

[2019-07-06 06:35] #5980 closed

[2019-07-06 07:39] namangupta01 commented on #5980
Cool!

[2019-07-06 08:00] CleverFool77 opened #5987 "Change to 3 cards from four in a row for notes card"
**Please describe the desired behavior.**
Recently, notes card were pushed, Right now we have four cards in a row which is making the notes card way too small comapred to questions card.

![Screenshot from 2019-07-06 13-28-32](https://user-images.githubusercontent.com/26685258/60753572-fb167b00-9ff1-11e9-9fb1-0cb35eb46069.png)

It would be good if we can have 3 cards in a row instead of four.

**U

[2019-07-06 08:03] CleverFool77 commented on #5987
Hi @Anupam-dagar and @cfinn16 If any one of you is interested in this Issue. Then  you can take this up.

[2019-07-06 11:17] jywarren commented on #5987
Hm, before making this change perhaps we could look at side by side mockups
at a few different screen sizes? Thanks!!

On Sat, Jul 6, 2019, 4:04 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-07-06 11:33] CleverFool77 commented on #5891
Oh great !!! Looks like we have much margin from right side in new design. I'll start off with this then.
Thanks !!

[2019-07-06 11:35] CleverFool77 commented on #5987
Hmm I'll look over it

[2019-07-06 11:39] CleverFool77 commented on #5987
HI Jeff !! I just looked into this and we had three cards in a row as we have side map too which thus take whole width of screen.

![Screenshot from 2019-07-06 17-05-37](https://user-images.githubusercontent.com/26685258/60755670-6ec78080-a010-11e9-8419-68e98e67b9db.png)

And regarding different screens, If you mean mobile then this is what we have right now !!
![Screenshot from 2019-07-06 17-08-5

[2019-07-06 11:59] CleverFool77 commented on #5987
I saw that the wiki image of main is effecting the others and making it either the page scrollable horizontally of leaving lots of margins in right. :thinking:
Is it due to container ? But if I'll remove the remove the overridden css of container, then it would margins and padding side by side for image. :thinking:
Hi !! Is it necesaary for us to use container and row class used in main file where

[2019-07-06 12:38] CleverFool77 commented on #5891
HI @gautamig54 We have already started off with profile page. You can take whichever checklist you are interested in and start off the work.
Thanks !!

[2019-07-06 12:57] CleverFool77 commented on #5891
Hi @Jeff So I was working on tags part. The design for profile page is not there in draft style guiden ppt. So Can I know the source where we have this design , so I can have closer and clear look into buttons and various parts.

[2019-07-06 17:23] gautamig54 commented on #5891
Hi @CleverFool77 @jywarren. Sorry for not being active in the past week due to major health issues. I am fine now and will resume working now.
Kindly accept my apologies.

[2019-07-06 17:25] gautamig54 commented on #5891
@CleverFool77 Can we divide it as where you implement the left side and I'll do the right side. Sounds good?

[2019-07-07 03:29] CleverFool77 commented on #5891
Right now, right side is not clear yet like buttons and all. Maybe we should wait a bit for clear design. Till then we can work on cards and @user has parts. Even for tags part, we have to wait a bit. As there is place where tags would be shown but no place to add the tags field.

[2019-07-07 03:31] CleverFool77 commented on #5891
So in that if you wish to take the right side, then sure. Go forward.

[2019-07-07 03:49] kryptocodes commented on #5976
hey I would like to do this

[2019-07-08 14:04] CleverFool77 commented on #5976
Hi @nicobermudez Are you working on this Issue ?

[2019-07-08 14:24] CleverFool77 commented on #5891
Hi @gautamig54 @jywarren Can I know the source for the clear image of draft for profile page. The image is blurry and the Public lab style draft doesn't have this design.

[2019-07-08 14:25] CleverFool77 commented on #5891
HI @jywarren The design in Publiclab mockup slides doesn't have details for the buttons and many other stuff. Can We discuss it a bit ?

[2019-07-08 14:26] CleverFool77 commented on #5891
Maybe we can have a discussion about it tomorrow during open call ?

[2019-07-08 15:17] jywarren commented on #5891
Also @chaurasia-namrata we'd love your help! Maybe this is not quite ready yet but we could use your help on any number of other issues in design: https://github.com/publiclab/plots2/labels/design

[2019-07-08 15:21] jywarren commented on #5891
Hi all - this page design was developed just before the style guide, so perhaps it needs another draft where we reconfigure it slightly to match the style guide where it's quite different.

The mockup is in the general Mockups presentation: https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit#slide=id.g5a9109bb88_1_4

It was last published here: https://publicla

[2019-07-08 15:21] jywarren commented on #5891
And, +1 open call!

[2019-07-08 15:24] CleverFool77 commented on #5891
Cool!!! Lets discuss it a bit during opencall tomorrow regarding the refinements in sidebar and other stuff which is supposed to be included.

[2019-07-08 15:47] jywarren commented on #5987
Actually we shouldn't really be overriding the .container class -- we
should rely on the original Bootstrap 4 usage:
https://getbootstrap.com/docs/4.3/layout/overview/

I think I was able to set position: absolute and left: 0 and width: 100%
for a lead image and have it work, can you try that for the lead image?

On Sat, Jul 6, 2019 at 8:00 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-07-08 16:32] nicobermudez commented on #5976
Hi @CleverFool77, yes! I currently have limited wifi but will have a PR in by the end of the week

[2019-07-08 16:51] jywarren commented on #5960
I'm sorry to use jargon! My bad 😄

Here is some documentation about inline grids; each one can also be embedded on an external site:

https://publiclab.org/wiki/power-tags#Inline+power+tags

the thumbnail grid mode looks like this:

![image](https://user-images.githubusercontent.com/24359/60827738-dbf92400-a17e-11e9-8349-1facd9f7533b.png)

See how the table-style ones have a small "embed" button i

[2019-07-08 16:56] CleverFool77 commented on #5976
Seems like @nicobermudez will be working on this. So @kryptocodes I'll open a new first-timer issue for soon and ping you. What do you say ?

[2019-07-08 17:03] CleverFool77 commented on #5987
Hi @jywarren I'll try the method you spoke of.
Thanks !!!

[2019-07-08 17:59] cfinn16 commented on #5945
Hi @CleverFool77, sorry for my delayed response here. I've been traveling the past few days and will be until Friday. I'll keep my eyes peeled for a new first timer issue then that I can jump in on. Thanks!

[2019-07-08 18:28] gautamig54 commented on #5891
Sure! We can have a discussion about the page on open call tomorrow!

[2019-07-08 18:37] gautamig54 commented on #5890
Hi @jywarren. I am seeing this option for "how to edit this card" in the ellipsis of the main card. I don't think I added this. Is this deliberately done?

![Screen Shot 2019-07-09 at 12 05 10 AM](https://user-images.githubusercontent.com/35326753/60834075-738d5f80-a1dd-11e9-87ce-a64539a2750a.png)

[2019-07-08 18:49] jywarren commented on #5890
Yes, I added that! I made a page on PublicLab.org to help explain this
feature :-)

On Mon, Jul 8, 2019 at 2:37 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-07-08 19:03] gautamig54 commented on #5890
I closed #5902 PR, due to many design conflicts as it got delayed. I will open a new PR for the same and other required changes.

[2019-07-08 19:26] gautamig54 commented on #5890
Do we need the format toggle options in the new design or we can remove it?

[2019-07-08 21:35] jywarren commented on #5890
I think we can remove it, thanks!

On Mon, Jul 8, 2019 at 3:27 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-07-09 03:13] kryptocodes commented on #5976
Sure ! :-)

[2019-07-09 04:46] gauravano commented on #5819
Hi, closing this now but feel free to re-open if the discussion around any new Gitter room required. Thanks everyone!

[2019-07-09 04:46] #5819 closed

[2019-07-09 05:31] CleverFool77 commented on #5945
Great !!!!

[2019-07-09 10:51] gautamig54 commented on #5956
We have been using ellipsis for text over-riding. Like in extra long tags. We ca keep it to ellipsis and display the full text on hover. What do you think @CleverFool77 ?

[2019-07-09 11:19] CleverFool77 commented on #5891
HI @jywarren Regarding long cards, we are classifying on the basis of tags like `water-quality` and etc. Below this, we have active topics and all. So Below this, will we be still having cards for notes, questions and etc like we have right now ?

[2019-07-09 13:06] bebebe123 opened #5996 "Tổng hợp các nhà cái uy tín nhất châu Á hiện nay"
Nhà cái nào uy tín nhất châu á hiện nay?. Tại thị trường cá cược nước ta đang có hàng trăm nhà cái cá cược, mà dân chơi cá cược có thể tham gia. Các nhà cái có trụ sở tại Châu  u, Châu Á. Trong 5 [nhà cái uy tín nhất hiện nay](https://nhacaionline.com/nha-cai-uy-tin/) sau đây, đã chiếm phần lớn thị trường cá độ Việt Nam.

Nhà cái Châu Á M88 – Nhà cái uy tín nhất hiện nay
Nhà cái m88 là một trong

[2019-07-09 13:24] CleverFool77 commented on #5891
HI I was trying the cards section and got something like this -
![Screenshot from 2019-07-09 18-52-37](https://user-images.githubusercontent.com/26685258/60891364-cc5f0580-a27a-11e9-8946-d2e0f1978ce8.png)

For now, I'm showing the cards for all the tags but I guess as per style guide, I have to show the topic cards for most active topics ? And Is there any limit on numbers too ?

[2019-07-09 14:33] jywarren commented on #5891
I think we would only show the topics cards, and no individual posts
(although in each topic card we could show the posts by this author?)

And we might say "5 more posts by @username" below? That could link to
these tag/author specific listings!
https://publiclab.org/tag/gsoc/author/warren

What do you think? That keeps the complexity of this page a bit lower, it's
more of an overview and then yo

[2019-07-09 15:48] CleverFool77 commented on #5891
So we would be having lots of cards considering we have lots of topics used by author. Or do you want the topic cards to be made for few topic ? like most active topics ? But then what about those topics notes which doesn't have most active topics ? Then can we never see them considering we don't have individual cards for all the notes ?

[2019-07-09 16:01] jywarren commented on #5891
Ah, hmm. What do you think about:

1. showing cards for only topics the author is subscribed to
2. having a section at the bottom listing (in badge format) all the tags
the user has used, where each badge leads to the same tag/author URL, but
we don't show the whole topic area?

Would this be confusing or weird? I think you're totally right about so
many topics for most people. So makes sense to h

[2019-07-09 16:03] gautamig54 commented on #5890
@jywarren here in the design there are a few drop-downs whose purpose I am not able to understand. Like in "Post a question", what will be there in the drop down?
The ellipsis beside the types dropdown and in the sidebar beside the "see people near"?

[2019-07-09 22:15] #5976 closed

[2019-07-09 22:18] jywarren commented on #5890
In `Post a question` I thought it might go to different types of posts. But if we implement the popup template menu shown here:

![image](https://user-images.githubusercontent.com/24359/60926818-bc90f280-a275-11e9-97cd-d6f9a326297e.png)

Then the dropdown there wouldn't be necessary, and we could just say `Post`. What do you think?

The other two, I think we can skip, since we have one in the top

[2019-07-09 22:30] jywarren commented on #5956
Hover could be an issue for smartphones, but I like the idea -- maybe on click? So, the first button would be a `...` button, but round, and clicking it shows all the other buttons in that row?

[2019-07-09 22:36] #3559 closed

[2019-07-09 22:42] #5984 closed

[2019-07-10 05:29] CleverFool77 opened #6001 "Profile page new mockup discussion"
#### Issues with the current design :
- Overcrowds the page if a user has many subscriptions, similarly, the page looks blank for a user with no subscription.
- How to display the user content with few research notes, wikis, questions but with no topics tagged to it or with no subscription.
- A user might have interacted using the comments only, but comments have no feature of topics, therefore ho

[2019-07-10 05:30] CleverFool77 commented on #6001
Hi @gautamig54  I have added the mockup !! You can add the information and further details in this !!

[2019-07-10 06:24] gautamig54 commented on #6001
Hi @CleverFool77!
If we are not categorising cards according to the most active topics, we can shift it to the sidebar, like we did for the related topics in the individual tags page. What say?

[2019-07-10 06:29] CleverFool77 commented on #6001
I didn't do major change except for topic card. About shifting it to right and other stuff. I'm not sure. Maybe should we wait for Jeff's view? Then I'll make a new mockup. Till then, we can just list out the changes we want. And after all of them are listed. We'll just directly make a new mockup with all the listed required changes. What do you say?

[2019-07-10 06:30] CleverFool77 commented on #6001
So the point you mentioned is one of the listed changes we might want.

[2019-07-10 06:32] gautamig54 commented on #6001
Sure! I am writing down the points we discussed yesterday. Just few more minutes.

[2019-07-10 06:33] CleverFool77 commented on #6001
Awesome !!! :tada:

[2019-07-10 07:01] gautamig54 commented on #6001
@CleverFool77 I have edited the issue. Kindly have a look at it and add anything you feel is missing.

[2019-07-10 07:31] CleverFool77 commented on #6001
You wrote almost everything !!! :tada: @gautamig54

[2019-07-10 14:52] jywarren opened #6002 "Sidebar wrap issue -- new UI changes?"
cc @gautamig54 @CleverFool77 I noticed this wrapping happening when not logged in, the sidebar can get pushed below:

![image](https://user-images.githubusercontent.com/24359/60979283-6c12a700-a300-11e9-9569-3e1df162b7c4.png)

on stable: https://stable.publiclab.org/notes/warren/09-07-2017/wrapping-up-google-summer-of-code-2017-at-public-lab

Would you mind taking a look? Also, seeing the new card

[2019-07-10 15:01] CleverFool77 commented on #5987
HI @Anupam-dagar If you interested, You can look into this Issue for having three cards in a row instead of four cards . You can also look into this some screenshots and discussions from @jywarren here https://github.com/publiclab/plots2/issues/6002

[2019-07-10 15:04] jywarren commented on #4962
Hi @namangupta01 can you take the next step here, we're so close!

[2019-07-10 15:05] jywarren commented on #4962
OK, so for testing, this tweet has the proper style URL (not converted to `t.co`), so we should get replies from it posted back IF the user has a matching twitter account (which Naman and I do): https://twitter.com/PublicLab/status/1105873695782957057

[2019-07-10 15:06] jywarren commented on #4962
Then following that we'd have to check how to deal with the `t.co` converted short URLs, but that'd be a start esp if we manually manage the conversion to shortcodes for now!

[2019-07-10 15:20] Anupam-dagar commented on #5987
@jywarren  @CleverFool77 I would like to take this up.

[2019-07-10 15:44] gautamig54 commented on #6002
Regarding wrapping up of sidebar below, I was also facing this issue when dividing the individual tags page into bootstrap grids. I solved it. I will look into this one too.

[2019-07-10 15:50] jywarren commented on #6002
Awesome, folks. Thanks. And looking ahead, the new sidebar design features
a couple "mini topic cards" and a "view all tags" below -- but I'm sure
you've both got a lot on your plate already now!

On Wed, Jul 10, 2019 at 11:44 AM Gautami Gupta <notifications@github.com>
wrote:

[2019-07-10 16:14] #5996 closed

[2019-07-10 16:15] CleverFool77 commented on #6002
is this new sidebar design included style guide ?

[2019-07-10 16:16] CleverFool77 commented on #6001
Hi @jywarren It would be great if you can look into this ..
Thanks !!!

[2019-07-10 17:16] namangupta01 commented on #4962
I just tweeted on that tweet. Can you please share the logs so that I can see what can actually be the problem.

[2019-07-10 21:01] jywarren commented on #6002
Yes, it is -- take a look at this:

![image](https://user-images.githubusercontent.com/24359/61004582-47d0bd80-a334-11e9-974c-a768f21b9ee8.png)

[2019-07-10 21:31] jywarren commented on #4962
OK, i see this:

[code]

Probably this is yours? `@PublicLab Yeah this gif is Amazing`

[2019-07-10 21:32] jywarren commented on #4962
So, if you need more info, perhaps console log out more stuff? But be sure not to share anything truly private! Thanks!

[2019-07-11 01:53] Saad2714 commented on #5975
Hi, can I work on this issue?
 @CleverFool77

[2019-07-11 02:18] Saad2714 commented on #5306
Hi, it seems that the issue is still open...  Can I work on this issue ??
@gauravano @jywarren

[2019-07-11 02:21] Saad2714 commented on #5010
HI, it seems the issue is still open... can I work on this issue ??

[2019-07-11 05:07] CleverFool77 commented on #6002
This looks great.  Should we start off with this too @gautamig54 As we can see other profile section and etc are on stop because of some changes in mockup.

[2019-07-11 05:12] CleverFool77 commented on #5975
Hi @PoseidonSigmaX Are you working on this issue ?

[2019-07-11 05:13] CleverFool77 commented on #5975
Lets wait for @PoseidonSigmaX . If he is not working, then you can start off. and And if he is working on this, then I'll open a new first timer issue for you. Cool ?

[2019-07-11 05:20] CleverFool77 commented on #6002
Hi @jywarren I got the issue with stacking of sidebar. I'll fix it.

[2019-07-11 06:32] gautamig54 commented on #6002
Yes @CleverFool77. Let's start with this.

[2019-07-11 06:33] CleverFool77 commented on #6002
Opening an Issue with breakup checklists or making checklists here would do ?

[2019-07-11 06:34] gautamig54 commented on #6002
I'll make a new issue and the checklist. Give me a minute.

[2019-07-11 06:35] CleverFool77 commented on #6002
Sure !!! Go forward !!!

[2019-07-11 06:38] gautamig54 opened #6005 "New sidebar design implementation for the notes show page"
![Screen Shot 2019-07-11 at 12 05 38 PM](https://user-images.githubusercontent.com/35326753/61027687-6be3db80-a3d4-11e9-98cd-2f6d745c80d7.png)

#### Checklist :

- [ ] Toggle icons - Add star and edit option from wikis and notes, And subpages icons @CleverFool77
- [ ] Tags card and show two of them while hiding others @gautamig54
- [ ] Add tags option
- [ ] Map and Add location button
- [ ] Add so

[2019-07-11 06:47] CleverFool77 commented on #6005
Link to style guide !!
https://docs.google.com/presentation/d/1-XHlVn3KQxSjS5WzHgc1l1qvFwqUC5f3-7GXugUP9u4/edit?ts=5cab5403#slide=id.g58d9556a0e_1_528

[2019-07-11 06:49] CleverFool77 commented on #6005
Hi @jywarren Can we some explanation regarding the toggle buttons ? Like what does sub pages and other stuff means ? And what about the post option we have in sidebar right now ? Are we going to remove it ?

[2019-07-11 06:50] CleverFool77 commented on #6005
HI @gautamig54 I added another checklist for adding tags in the page which is present we have in sidebar currently, and in a new one, its been done by small icon with plus button inside circle.

[2019-07-11 06:50] divyabaid16 commented on #5010
Ya you can work on this @Saad2714
Thanks!

[2019-07-11 14:24] bebebe123 opened #6007 "Danh sách nhà cái bóng đá uy tín mới nhất 2019"
Thị trường cá cược thể thao trực tuyến tại Việt Nam hiện đang có rất nhiều nhà cái uy tín và chất lượng để bạn tha hồ lựa chọn. Chỉ cần bỏ ra một ít thời gian tìm hiểu thông qua bài viết này, bạn sẽ chọn được cho mình nhà cái phù hợp nhất. Bên cạnh các nhà cái tiếng tăm thì cũng tồn tại không ít các nhà cái giả mạo nhằm lừa đảo người chơi. Chính vì thế, để hạn chế tối đa trường hợp người chơi bị l

[2019-07-11 14:30] #5974 closed

[2019-07-11 14:31] #6007 closed

[2019-07-11 18:20] jywarren commented on #6005
Yes, let's remove the post option. People can post from the topic pages
themselves, or from their dashboard.

Some pages have sub-pages, like this --
https://publiclab.org/wiki/data-logging -- and we can just link to the same
listing as that page. Thanks!!!

On Thu, Jul 11, 2019 at 2:50 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-07-11 18:22] CleverFool77 commented on #6005
Hi @jywarren Regarding edit and star buttons, They are related to notes/wikis and etc right ?

[2019-07-11 18:23] CleverFool77 commented on #6005
And what about sharing in social media buttons , that we have currently present in sidebar ? Do we have to add this ?

[2019-07-11 18:31] jywarren commented on #6005
Star and edit are yes, for wikis and notes. Ah, good question! Yes, we'd
better put social in the same space at bottom of sidebar. Thanks!

On Thu, Jul 11, 2019 at 2:24 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-07-11 18:34] CleverFool77 commented on #6005
Great !!!!

On Fri, Jul 12, 2019 at 12:01 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-07-11 18:44] CleverFool77 commented on #6005
HI @gautamig54, We dont have such icons with circle in font-awesome right ?
Does that mean I have to hardcode or this circle around the icon ?

On Fri, Jul 12, 2019 at 12:03 AM lekhi dugtal <lekhidugtal@gmail.com> wrote:

[2019-07-11 18:46] jywarren commented on #6005
I think you may be able to use border-radius in css?

On Thu, Jul 11, 2019 at 2:44 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-07-11 18:48] CleverFool77 commented on #6005
This idea is great !!!!!
Thanks Jeff.

On Fri, Jul 12, 2019 at 12:16 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-07-11 18:57] CleverFool77 commented on #6005
Hi Jeff , could you look into this
https://github.com/publiclab/plots2/issues/6001

On Fri, Jul 12, 2019 at 12:18 AM lekhi dugtal <lekhidugtal@gmail.com> wrote:

[2019-07-12 14:36] namangupta01 commented on #5980
Cool!

On Sat, 6 Jul 2019, 12:06 Sebastian Silva, <notifications@github.com> wrote:

[2019-07-12 14:45] namangupta01 commented on #4962
Yup that what I was thinking to do.
Will create pull request soon.

On Thu, 11 Jul 2019, 03:02 Jeffrey Warren, <notifications@github.com> wrote:

[2019-07-12 17:23] Saad2714 commented on #5975
yeah... Cool :)

[2019-07-13 04:13] CleverFool77 commented on #5975
It's already been nine days. So I guess we'll assign a different issue to @PosiedonSigmaX.
You can start off with this issue @Saad2714

[2019-07-13 07:45] deepanshumaan commented on #5975
Hey, a first-timer here. I'd really to work on this issue. How do I?

[2019-07-13 09:57] CleverFool77 commented on #5975
Hi @deepanshumaan Saad had already put PR for this issue. How about you wait a bit for sometime and we'll open a new first timer issue for you.

[2019-07-13 13:54] Anupam-dagar commented on #5987
opened https://github.com/publiclab/plots2/pull/6015 as a fix for this. @jywarren @CleverFool77 please review.

[2019-07-14 10:51] namangupta01 opened #6016 "Ask for notification permission only when user id logged in"
Now, we have notification supported to public lab website. It asks for permission whenever the user open the public lab website irrespective of whether the user is logged in or not. Let's change to the case where notification permission prompt only appears and asks for permission when user is logged in.

[2019-07-14 11:39] gautamig54 commented on #5890
@jywarren , So do you want a modal kind of pop up to select the template from? We can even have it as options in drop down. And yes, if we are going with giving user options to select their purpose, we have to change to "Post".

[2019-07-14 13:26] gautamig54 commented on #6002
Hi @jywarren! Regarding wrapping up of sidebar at the bottom, I am not able to generate it. It works fine in my localhost.
Can you check it @CleverFool77 ?

[2019-07-15 16:02] #5987 closed

[2019-07-15 16:03] #5975 closed

[2019-07-15 17:44] #6016 closed

[2019-07-16 17:49] namangupta01 opened #6020 "Make Browser Notification API work on phone"
We recently merged the browser notification API implementation. It is working fine on computer browser however it is not working on a mobile browser on android. I am researching over this problem to find a way for this.
cc @jywarren @gauravano

[2019-07-16 18:22] namangupta01 opened #6021 "Discuss next features to be implemented for notification"
@jywarren Lets discuss what we can do next for the notification or real-time interaction?

[2019-07-16 20:46] namangupta01 opened #6022 "Fix users to which the notification is broadcast while comment"
Currently, whenever someone comments, we are sending notifications to the users via action_cable WebSocket channels. But we are not sending the notification to all the users.

[2019-07-17 19:21] gauravano commented on #5306
Hi @Saad2714, please go ahead. Thank you!

[2019-07-19 08:07] gautamig54 commented on #6001
Hi @CleverFool77. I has a discussion with liz about the design of profile page. The solution we came up with is :
- We will display topic cards of 5-6 active topics of the user instead of showing all the topics a user is active or subscribed to. This will solve the issue of over crowding the page and also shows the most relevant activity of the user. Also, if we are showing just a few topic cards,

[2019-07-19 10:48] CleverFool77 commented on #6001
Sure Gautami, I'll look into topic card portion then. And work on it. Right
now, I'm travelling a bit and have some interviews.
I'll be super active from monday once again.
Thanks !!

On Fri, Jul 19, 2019 at 1:38 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-07-19 14:07] jywarren opened #6026 "Rethinking UI flow of /tags page to Subscribe buttons"
Working from some great feedback from @steviepubliclab here, about the https://publiclab.org/tags page:

![image](https://user-images.githubusercontent.com/24359/61540200-30b45e80-aa0b-11e9-9a48-76759228395a.png)

OK, cool -- to start off, the new /tag/_ page is different so that may help some, first: https://stable.publiclab.org/tag/balloon-mapping (it's rebuilding now so not online yet) which be

[2019-07-19 14:24] enviro3 commented on #5976
Hi @CleverFool77, I work in the environmental field and am learning software on the side. I would LOVE to contribute to this project as my first contribution ever to open source! Would you be able to create a new "first timer only" issue for me and tag me? If you have time that would be amazing!

[2019-07-19 14:27] enviro3 commented on #4963
I'm a "first-timer" and would love to be added to the list above! @gauravano

[2019-07-19 15:10] enviro3 commented on #5959
Hi @jywarren, I'm a newbie and would love to take a shot at this issue. May I work on this?

[2019-07-19 15:38] rexagod commented on #5959
Go ahead, @enviro3!

[2019-07-19 16:09] jywarren commented on #6001
Sounds awesome. Thanks!

On Fri, Jul 19, 2019 at 6:49 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-07-19 16:24] CleverFool77 commented on #6026
This idea regarding addition of `subscribe` buttons is great tbh. Maybe we can even have a link to know more about tag or something ? Though button looks better.

[2019-07-19 16:40] gauravano commented on #4963
Hi @enviro3, I guess you found your first issue in Mapknitter -  https://github.com/publiclab/plots2/issues/5959. Let me know if you want any help.

[2019-07-19 20:07] jywarren commented on #5930
Hi, all! Just noting that we'll be looking at the same kinds of things this time around (2nd eval) but also measuring against what progress you've made on our input from the first eval. We are really looking to see that you've responded to input, taken steps to address gaps you had in the first eval, and adapted your work style and project to integrate feedback from the first time around. Thanks!!

[2019-07-19 20:51] #6022 closed

[2019-07-19 22:10] jywarren opened #6027 "Long tag page cards"
Hi @gautamig54 and @CleverFool77 -- I wanted to see if we can come up with a solution for this issue which is rare but affects the current page design:

![image](https://user-images.githubusercontent.com/24359/61568216-5c0d6c80-aa50-11e9-86a2-a72e05ee1c6b.png)

I think this means we need to use `float` instead of absolute positioning for the tag card; is that right? Once this is resolved, and #599

[2019-07-19 22:20] jywarren commented on #5095
I think i got this. `public/lib/leaflet-environmental-layers/dist/LeafletEnvironmentalLayers.js:             imageLoadingUrl: 'owmloading.gif', // URL of loading image rela`

this is an artifact from LEL, for the "loading" gif. it may try to load this at the wrong location here:

https://github.com/publiclab/leaflet-environmental-layers/blob/783409c0c903f3e14780a687bf2692462016f948/src/openWeather

[2019-07-19 23:27] jywarren commented on #6021
Shall we work on the full UI for enabling the notifications, in the
interface that Gaurav built?

But what else -- perhaps when people "like" your post?

On Tue, Jul 16, 2019 at 2:23 PM Naman Gupta <notifications@github.com>
wrote:

[2019-07-20 00:03] skilfullycurled commented on #5095
I'm glad you like it?

I mean, the bugs tend to find me not the other way around.

; )

[2019-07-20 08:29] gauravano commented on #5095
Wow!! this really took time.

[2019-07-20 11:48] gautamig54 commented on #6001
Sure @CleverFool77! All the best for your interviews!

[2019-07-21 10:35] namangupta01 opened #6029 "Add Integration Tests for Browser Notification While posting commeting"
We now support browser notification using Action Cable sockets whenever a user post comments on any note. Let's write integration tests for it so that we can have a check that everything is working correctly.

[2019-07-21 11:38] namangupta01 opened #6031 "Add Unit Tests for Action Cable Connection"
We should add tests for checking the action cable connection with the connection's current_user using cookies while making sockets connection.

[2019-07-21 13:06] namangupta01 opened #6033 "Add test for Action Cable Room Channel"

[2019-07-21 13:11] namangupta01 opened #6035 "Add tests for Action Cable user_channel"

[2019-07-21 14:24] namangupta01 opened #6037 "Add Tests for User Notification Channel Tests"

[2019-07-21 15:32] gauravano commented on #5890
Hey @gautamig54, we can use dropdown but this design https://github.com/publiclab/plots2/issues/5890#issuecomment-509830813 looks really great, so can you try to implement it?

[2019-07-21 17:12] enviro3 commented on #4963
Thank you so much @gauravan! Will let you know :)

[2019-07-21 17:52] #6035 closed

[2019-07-21 18:52] namangupta01 opened #6039 "Add Notification Enabling UI part"
Add Notification Enabling UI part same as we have for Email. Let's first discuss what are the possible types which we can add.
- notifications:all
- notification:like
- notification:mentioned
Any more suggesstion @jywarren ?

[2019-07-22 01:58] #6031 closed

[2019-07-22 17:58] CleverFool77 commented on #6001
Hi @gautmig54 @jywarren finished up with all stuff, now I'll be back to work.
Thanks!!!!!!

[2019-07-22 18:01] jywarren commented on #6001
Great! Welcome back! I'm publishing all the tag page work to live site now,
too!

On Mon, Jul 22, 2019, 1:59 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-07-22 18:54] newbazz commented on #5945
I would like to work on this issue

[2019-07-22 18:58] newbazz commented on #5865
I would like to work on this issue if no one is working on it.

[2019-07-22 19:00] cesswairimu commented on #5865
Sure go ahead

[2019-07-22 19:40] CleverFool77 opened #6046 "Fix size of profile picture and center align"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-07-22 19:42] CleverFool77 commented on #6046
Change should look like this -

![Screenshot from 2019-07-23 01-11-57](https://user-images.githubusercontent.com/26685258/61660174-e838c180-ace6-11e9-87cf-439adcff6515.png)

### After Change
![Screenshot from 2019-07-23 01-11-02](https://user-images.githubusercontent.com/26685258/61660139-d35c2e00-ace6-11e9-9e5d-3697f7c682d3.png)

[2019-07-22 21:53] namangupta01 commented on #6039
What are your thoughts on this @jywarren ?

[2019-07-23 03:54] Sairamdhandapani opened #6047 "Public Lab website is down"
Hi,

I typed publiclab.org on my browser and it said, We're sorry!! Try refreshing the page.
Attached image for reference.
![2019-07-23 09_22_51-MapKnitter](https://user-images.githubusercontent.com/17336308/61681587-ab42ee00-ad2b-11e9-9e4f-a34f18e0dfc2.png)

Thanks.

[2019-07-23 04:04] Sairamdhandapani commented on #6047
This is resolved.

[2019-07-23 04:50] zlv2s commented on #6046
May i claim this issue?

[2019-07-23 05:01] CleverFool77 commented on #6046
Sure, Go forward!!!

On Tue, 23 Jul 2019, 10:20 zlv2s, <notifications@github.com> wrote:

[2019-07-23 05:49] siddhcuriosity100 opened #6048 "pages not loading"
Our website is having some trouble.
everything shows the same

[2019-07-23 06:19] CleverFool77 commented on #5976
Sure @enviro3 I'll make a first timer issue for you soon.
Thanks !!!

[2019-07-23 06:31] Sairamdhandapani commented on #6047
Website is till down.

[2019-07-23 10:23] dent003 opened #6051 "The DoK - Dentist of Keller"
The DoK - Dentist of Keller
https://www.dentistofkeller.com

Dental Office
Family Dentistry
Dental Implants
Cosmetics and Invisalign

Welcome to The DoK - Your Dentist in Keller, TX!We are a group of professionals, who have come a long way to make themselves known to be one of the best dental offices in your area. Be it a simple dental check up consisting of routine examinations and cleaning sessi

[2019-07-23 10:25] cesswairimu commented on #4138
@skilfullycurled No, I do think so, what happens is if you query a year's worth of data, say 01/2012-12/2012 it stores the results in a cache, and if you execute the same range after say two hours it will return the cached results instead of performing the same query again.

[2019-07-23 10:25] cesswairimu commented on #4138
I think we have cached most parts of the stats. Closing this. Thanks all

[2019-07-23 10:25] #4138 closed

[2019-07-23 10:50] jywarren commented on #6047
Thanks for reporting, looking now...

On Tue, Jul 23, 2019, 2:31 AM Sairam <notifications@github.com> wrote:

[2019-07-23 11:03] jywarren commented on #6047
seeing `[8e073aa5-f7c3-4dc7-90aa-91928626ba53] Sending event a0fde0e32992428da65c51f9991f9af5 to Sentry
[8e073aa5-f7c3-4dc7-90aa-91928626ba53] Unable to record event with remote Sentry server (Raven::Error - the server responded with status 403 Error in headers is: Event dropped due to filter: web-crawlers):` too

[2019-07-23 11:04] jywarren commented on #6047
maybe we have to turn off websockets

[2019-07-23 11:08] jywarren commented on #6047
yes, the SMTP test is going wild! https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1563858120/6h/endpoints/AdminController%23smtp_test?responseType=error

[2019-07-23 11:17] jywarren commented on #6047
[code]

[2019-07-23 11:21] jywarren commented on #6047
the error on the site is a 503 - service unavailable.

[2019-07-23 11:43] jywarren commented on #6047
https://sentry.io/share/issue/c6fb8a81f65a40b48f45b0f7f19f6bbe/

[2019-07-23 11:51] #1606 closed

[2019-07-23 11:51] jywarren commented on #6047
Looking at setup in https://github.com/publiclab/plots2/issues/1606

[2019-07-23 11:59] jywarren commented on #6047
I ran `sudo service exim4 status` and got:

[code]

[2019-07-23 12:01] jywarren commented on #6047
[code]

[2019-07-23 12:11] jywarren commented on #6047
I'm commenting out `smtp_test` until we figure it out and returning a simple string

[2019-07-23 14:56] jywarren opened #6054 "Tag page heading card not rendering well in mobile screens"
![image](https://user-images.githubusercontent.com/24359/61722456-5659a480-ad38-11e9-92da-89fcad04a169.png)

cc @gautamig54 @CleverFool77 would you be able to help with this? I think it relates to not using position:absolute for the card... Thanks!

[2019-07-23 14:57] jywarren commented on #6054
Related to https://github.com/publiclab/plots2/issues/6027 too!

[2019-07-23 15:01] jywarren commented on #6048
Fixed in #6047 - thank you for reporting!

[2019-07-23 15:01] #6048 closed

[2019-07-23 15:01] #6051 closed

[2019-07-23 15:03] jywarren commented on #6047
Solved by restarting `exim4` with `/etc/init.d/exim4 start` (or `systemctl start exim4`), thanks!

[2019-07-23 15:03] #6047 closed

[2019-07-23 15:05] jywarren commented on #6054
I think it's only https://publiclab.org/tag/coqui doing this ... maybe odd-shaped images? Not sure!

[2019-07-23 15:06] gautamig54 commented on #6027
Hi @jywarren! I am working on this one! I will look into #6054 as well. Thanks!

[2019-07-23 15:21] CleverFool77 commented on #6054
Hi Jeff !! I went through the site !! My screenshots are somewhat different :
*attached below*

![Screenshot from 2019-07-23 20-49-41](https://user-images.githubusercontent.com/26685258/61724412-8aaa8080-ad8b-11e9-9d04-6a70c310665e.png)
![Screenshot from 2019-07-23 20-49-50](https://user-images.githubusercontent.com/26685258/61724413-8aaa8080-ad8b-11e9-826b-d6ca4b42b9f4.png)
![Screenshot from 2019

[2019-07-23 15:50] jywarren opened #6055 "Follow-up issues to new tag page design"
The new tag page looks super! Especially on this page: https://publiclab.org/tag/water-quality

But there are small things I'd like to resolve. Just organizing here!

* [ ] `# people discussing` - extra space to right @newbazz
* [x] `# people discussing` - white text color       **Issue :** https://github.com/publiclab/plots2/issues/6057 **PR:** https://github.com/publiclab/plots2/pull/6058
* [ ]

[2019-07-23 15:50] jywarren commented on #6055
cc @gautamig54 @CleverFool77

[2019-07-23 15:50] jywarren commented on #6055
Any more you want to add?

[2019-07-23 16:24] jywarren commented on #6055
Could we also consider using a photo wall for the lead image on the tag page, using various image from the wiki page?

https://www.npmjs.com/package/jquery-photowall

[2019-07-23 16:44] jywarren commented on #6055
Also, wondering if we could move this template (used on this page as thumbnail grid: https://publiclab.org/wiki/micro#Assembly) to the new card design:

https://github.com/publiclab/plots2/blob/master/app/views/grids/_thumbnail.html.erb

This is not directly related, but wanted to hear your thoughts!

[2019-07-23 16:45] jywarren commented on #6054
OK, good to know! Maybe different devices are showing different things here. Let's keep gathering evidence!

[2019-07-23 16:45] jywarren commented on #6054
My screenshot is 685px wide!

[2019-07-23 17:52] CleverFool77 commented on #6054
Hi @jywarren I specially checked it in 685px wide and yes it's distorting in that width -
**attached image**
![Screenshot from 2019-07-23 23-21-19](https://user-images.githubusercontent.com/26685258/61735012-aff5b980-ada0-11e9-8cce-b8714a502c00.png)

Me and @gautamig54  will try to look into this and give a fix soon.
Thanks !!

[2019-07-23 18:03] CleverFool77 commented on #6055
Hi @jywarren Should I open small first timers only issue for all these different parts ? It would be great to let other people contribute. what do you say ?

[2019-07-23 18:04] CleverFool77 commented on #6055
I'll write down the file and the change required for these parts in first timers only issue. So it would make everything easier.

[2019-07-23 18:06] CleverFool77 commented on #6055
And regarding question button, - the new option of having a single post button with dropdown for various option to choose from `notes` , `wikis`, and `questions`  would be great !!!

[2019-07-23 18:12] gautamig54 commented on #6055
Hi @CleverFool77! Yes, I think making them as FTOs will be a good idea!

[2019-07-23 18:15] gautamig54 commented on #6055
Hi @jywarren! I think if we add question button into the post button, then it will look like a more generalised thing. Like, the user will expect an option for notes or wikis also under the post button. What do you think?

[2019-07-23 18:18] CleverFool77 opened #6057 "change #people discussing a tag color"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-07-23 18:21] CleverFool77 commented on #6057
The change should be like this from blue to white -
![Screenshot from 2019-07-23 23-51-22](https://user-images.githubusercontent.com/26685258/61736929-caca2d00-ada4-11e9-9b38-ab390f526c71.png)

![Screenshot from 2019-07-23 23-50-04](https://user-images.githubusercontent.com/26685258/61736878-aec68b80-ada4-11e9-9a66-26fb02ee421d.png)

[2019-07-23 18:56] jywarren commented on #6055
:-) this is great. I'll update more soon, sorry, but if you want to see a range of "scenarios" with this design:

* https://publiclab.org/tag/water-quality (best outcome! So nice!)
* https://publiclab.org/tag/community-microscope
* https://publiclab.org/tag/coqui
* https://publiclab.org/tag/air-quality
* https://publiclab.org/tag/spectrometer

[2019-07-24 04:57] hedonhermdev commented on #6057
Hey I'm a first timer and I tried to fix this issue.

[2019-07-24 05:58] CleverFool77 commented on #6057
Sure, Go forward.

On Wed, 24 Jul 2019, 10:27 hedonhermdev, <notifications@github.com> wrote:

[2019-07-24 10:22] CleverFool77 commented on #6055
@newbazz and @Anupam-dagar Are you guys interested in taking first and fourth part of this issue ?

[2019-07-24 10:28] CleverFool77 commented on #6055
Hi @jywarren I did notice the slow loading of image in community microscope. So How would you want to deal with this ?

[2019-07-24 10:28] newbazz commented on #6055
@CleverFool77 yes i will take the first one.

[2019-07-24 10:37] hedonhermdev commented on #6055
Can I try to fix these issues?

[2019-07-24 10:41] newbazz commented on #6055
@hedonhermdev i am working on it.

[2019-07-24 13:27] CleverFool77 commented on #6055
@hedenohermdev Are you interested in third or fourth one ? As @newbazz is
taking the first one.

On Wed, Jul 24, 2019 at 3:41 AM newbazz <notifications@github.com> wrote:

[2019-07-24 15:12] newbazz opened #6059 "Add the extra white spaces in tags after `# people discussing`"
### Description
Add extra space after #people discussing inwiki image as per new style guide -
<img width="497" alt="59403744-8e78d980-8dc1-11e9-8590-79db2b0c62ac" src="https://user-images.githubusercontent.com/26685258/61811889-1988cd00-ae60-11e9-9d5a-2a8f5979f70a.png">

[2019-07-24 15:13] newbazz commented on #6059
Related to https://github.com/publiclab/plots2/issues/6055

[2019-07-24 15:20] newbazz commented on #6055
I have made a PR, can someone review it https://github.com/publiclab/plots2/pull/6060

[2019-07-24 15:24] #5010 closed

[2019-07-24 16:37] CleverFool77 commented on #6059
Hi @newbazz Instead of removing extra spaces, we are supposed to add extra spaces, as per new design draft.
So you should add more space, something like this - It has extra image
<img width="497" alt="59403744-8e78d980-8dc1-11e9-8590-79db2b0c62ac" src="https://user-images.githubusercontent.com/26685258/61811532-4a1c3700-ae5f-11e9-8882-5a58820362a1.png">

[2019-07-24 16:43] CleverFool77 commented on #6059
@newbazz I have edited your issue and title.
Thanks !!

[2019-07-24 16:57] CleverFool77 commented on #6054
So After trying it on many screens, The UI is distorted only in tab version, otherwise its working fine on different screens.

[2019-07-24 17:01] jywarren commented on #4962
Hi @namangupta01 how is this going? Thank you!

[2019-07-24 17:21] Anupam-dagar commented on #6055
@CleverFool77 I'll take the 4th one if it is available.

[2019-07-24 17:28] newbazz commented on #6059
![image](https://user-images.githubusercontent.com/25884863/61814813-83a47080-ae66-11e9-8f03-7a23a995ecda.png)

I have updated to this

[2019-07-24 17:30] CleverFool77 commented on #6055
Sure Anupam, you can do fourth then, and hedeno, would you like to go for third?

[2019-07-24 17:48] newbazz commented on #6059
@CleverFool77 can you review when free

[2019-07-24 17:54] CleverFool77 commented on #6059
@newbazz I gave my review in your PR.
Thanks !!!

[2019-07-24 17:54] Saad2714 commented on #5306
Hello sir,
Actually, I have solved a "first-timers-only" issue recently.
So I would like to leave this issue for someone new...
What say @gauravano ??
Thanks !!

[2019-07-24 18:07] #6033 closed

[2019-07-24 18:08] #6046 closed

[2019-07-24 18:08] #5865 closed

[2019-07-24 18:09] #6057 closed

[2019-07-24 18:34] namangupta01 commented on #4962
Hi @jywarren, sorry for missing this out. I have opened the pr lets get that merge. We will be able to check what is happening in there.

[2019-07-24 20:00] #6037 closed

[2019-07-24 21:26] sentry-io[bot] opened #6066 "NoMethodError: undefined method `reply' for #<Twitter::Tweet"
Sentry Issue: [PLOTS2-CP](https://sentry.io/organizations/publiclab/issues/1124862362/?referrer=github_integration)

[code]

[2019-07-24 21:26] jywarren commented on #6066
Hi @namangupta01 maybe this is a hint?

[2019-07-24 21:26] jywarren commented on #6066
link #4962

[2019-07-24 21:28] jywarren commented on #4962
awesome, thanks!

On Wed, Jul 24, 2019 at 2:35 PM Naman Gupta <notifications@github.com>
wrote:

[2019-07-24 21:32] gauravano opened #6067 "Research note responding with 500"
### Please describe the problem (or idea)

I created a draft research note - https://publiclab.org/notes/gauravano/07-24-2019/google-code-in-grand-prize-trip-experience

After pressing Save post, I wasn't redirected to show screen and I found the note on visiting dashboard.

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version,

[2019-07-24 21:39] jywarren commented on #6067
I saw a Sentry error come in that you'd used the same title recently? Maybe
there was a subtle bug there? Do you have Sentry access?

On Wed, Jul 24, 2019 at 5:33 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-07-24 21:46] gauravano commented on #6067
hey Jeff, tried some cases at /post:

First, I thought, it may be due to the emoticons in my post but after removing them too, the error was the same.

I also tried posting a test note with normal text but no success.

[2019-07-24 21:55] gauravano commented on #6067
there was a subtle bug there? Do you have Sentry access?

There might be a trace/log of same title due to repeated try. yeah, I checked sentry, it's giving undefined method error on revision and node.latest. @jywarren can you try creating a post?

[2019-07-24 22:04] gauravano commented on #6067
I am unable to post using stable too. Although, working fine locally.

[2019-07-24 22:11] gauravano commented on #6067
Sentry error from stable - https://sentry.io/organizations/publiclab/issues/1035325188/?project=1410626&query=is%3Aunresolved

Something wrong with DB- https://sentry.io/organizations/publiclab/issues/1039852011/?project=1410626&query=is%3Aunresolved&statsPeriod=14d

https://sentry.io/organizations/publiclab/issues/1125000283/?project=1410626&query=is%3Aunresolved&statsPeriod=14d

Multiple errors.

[2019-07-24 22:12] gauravano commented on #6067
@jywarren please check logs. Also, try deleting https://publiclab.org/notes/gauravano/07-24-2019/google-code-in-grand-prize-trip-experience too.

[2019-07-24 22:16] jywarren commented on #6067
Ah i think you're right...

![image](https://user-images.githubusercontent.com/24359/61832451-2f39ca80-ae3f-11e9-99f4-23ff7ee8483f.png)

[2019-07-24 22:16] jywarren commented on #6067
Let me see...

[2019-07-24 22:17] jywarren commented on #6067
Related to https://github.com/publiclab/plots2/issues/5118 and https://github.com/publiclab/plots2/issues/5649 ?

[2019-07-24 22:18] jywarren commented on #6067
This has happened a few times:

I'll delete it but... we should figure out how it's happening!

[2019-07-24 22:19] gauravano commented on #6067
@jywarren can you explain a bit?

[2019-07-24 22:19] jywarren commented on #6067
I believe a draft is "claiming" `vid=0` and that field must be unique. Then no other posts can go up...

[2019-07-24 22:20] jywarren commented on #6067
Yes, looks like yours?

[code]

Can i delete it?

[2019-07-24 22:20] gauravano commented on #6067
Sure

[2019-07-24 22:21] jywarren commented on #6067
Ok, can you try posting it again?

[2019-07-24 22:22] gauravano commented on #6067
okay

[2019-07-24 22:22] gauravano commented on #6067
But, why stable is not working then?

[2019-07-24 22:23] jywarren commented on #6067
I have to run, but you should have it in your history!

Hmm. that's a good question...

[2019-07-24 22:23] jywarren commented on #6067
Thanks for tracking this, Gaurav!

[2019-07-24 22:29] gauravano commented on #6067
Sorry for buggy post :see_no_evil:. I will be careful this time. Also, can we integrate Log management tool like logDNA or something and integrate it with unstable and stable.publiclab.org so that we can have better clarity on these ends?

[2019-07-25 05:14] Gagan6730 commented on #5629
Hi! Is somebody working on it??

[2019-07-25 07:13] amitkumarpatel commented on #5407
this issue is still open, I would like to claim this if no one is working on this ?

[2019-07-25 10:53] gautamig54 commented on #6054
So @CleverFool77 we can use media screen functionality and make it right for the tab view as well. I did it explicitly for the mobile view, you see it in the code.
We can do the similar thing for the tab view also. Maybe just by increasing the maximum width in the media screen to 685px which is currently 480px.
What do you say?

[2019-07-25 12:03] CleverFool77 commented on #6054
Sure. Would you like to try it out ? like you did in mobile version as you
said ?

On Thu, Jul 25, 2019 at 4:23 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-07-25 12:11] gautamig54 commented on #6054
Sure. I'll try it out!

[2019-07-25 13:45] CleverFool77 opened #6071 "Shift username from left column besides map to right below profile image"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-07-25 15:05] Samuelab2 commented on #6071
Hi there, I would like to solve this issue

[2019-07-25 16:15] jywarren commented on #5629
Hi, I think actually we may want to close this as we are in the midst of a
navigation bar redesign. Thank you!

On Thu, Jul 25, 2019 at 1:14 AM Gagandeep Singh <notifications@github.com>
wrote:

[2019-07-25 16:18] CleverFool77 commented on #6071
Sure, Go foward

[2019-07-25 16:20] jywarren commented on #5629
I'm sorry, i see that @CoderJolly and @Gagan6730 have both opened PRs for this. My sincere apologies for missing this, and my deep appreciation for everyone helping out!

I think that people may find it hard to get to the dashboard if we make this change, and that the home page is mostly for people first visiting the site, so we've long been OK with / redirecting to /dashboard if you are logged in

[2019-07-25 16:20] #5629 closed

[2019-07-25 17:21] jywarren commented on #6067
Ah this is a good idea... i'm not familiar with that tool but maybe you can
ask icarito in a new issue? Thanks!

On Wed, Jul 24, 2019 at 6:30 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-07-25 19:36] jywarren commented on #6027
Awesome, thank you.

[2019-07-25 21:44] jywarren commented on #6055
Hi, I found one more -- looks like the "alerts" get a bit covered up. Should be pretty simple to fix though!

![image](https://user-images.githubusercontent.com/24359/61910887-7be2db80-aefb-11e9-897d-66169da686db.png)

[2019-07-26 05:48] newbazz commented on #5951
@jywarren I would like to take this issue up if no one is working on it.

[2019-07-26 12:35] simonastefan commented on #5431
I would like to solve this. Thanks!

[2019-07-26 12:56] CleverFool77 commented on #5891
Hi @gautamig54 @jywarren Regarding tags ablove the topic cards, How do you wanna decide which tags to be shown there.
1. The tags which users adds to its profile to be shown to others ? its kinds tags of interest for profile.
2. Most used tags based on following count ?

[2019-07-26 12:57] CleverFool77 commented on #6005
Hi @gautamig54 Are you working on the tags cards portion ? Coz I can see that right now you have lots of issues in your bag ?

[2019-07-26 14:29] CleverFool77 opened #6072 "Dashboard Design as per new style guide"
![Screenshot from 2019-07-26 19-58-24](https://user-images.githubusercontent.com/26685258/61958846-c50c5b80-afdf-11e9-9500-dcdb774ea050.png)

checklist -
- [ ] two column
- [ ] map on left
- [ ] card design
- [ ] tags
- [ ] add location

[2019-07-26 14:35] CleverFool77 commented on #6055
ohk I'll add this in checklist.

[2019-07-26 14:36] hedonhermdev commented on #6055
I’ll do the third one

[2019-07-26 14:56] CleverFool77 commented on #6055
Cool. Go forward.

On Fri, 26 Jul 2019, 20:06 hedonhermdev, <notifications@github.com> wrote:

[2019-07-26 15:19] enviro3 commented on #5976
Thank you @CleverFool77! Much appreciated :)

[2019-07-26 15:23] CleverFool77 commented on #5976
Hey @enviro3 This is not first timer but I do have an issue for you. Are you interested ?

[2019-07-26 15:25] enviro3 commented on #5976
@CleverFool77, absolutely! Please send my way. Thank you!

[2019-07-26 15:27] CleverFool77 commented on #6055
Hi @enviro3 As you have already done one of the `fto-candicate` issue and you wanted next one. So Are you interested in the fifth part of this issue which is for the alert which seems to get covered up.

[2019-07-26 15:29] CleverFool77 commented on #5976
I tagged you in the issue @enviro3 . This is the one https://github.com/publiclab/plots2/issues/6055

[2019-07-26 15:31] enviro3 commented on #6055
@CleverFool77 - yep, I will attempt to fix the alert so it fully shows. Thank you for letting me work on this!

[2019-07-26 15:32] CleverFool77 commented on #6055
Great !! I'll assign you this part then.
Thanks !!!

[2019-07-26 15:52] jywarren commented on #6072
so exciting!!!

On Fri, Jul 26, 2019 at 10:29 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-07-26 15:59] jywarren commented on #5951
For sure, but this may be a bit of a mystery -- not as easy as an issue
where there's a known solution. Just stay in communication in our chatroom
and we'd love your help! Thank you!

On Fri, Jul 26, 2019 at 1:48 AM newbazz <notifications@github.com> wrote:

[2019-07-26 16:11] jywarren commented on #5891
Ah, the "recommended" ones? maybe most used tags as you say, or:

3. most occurring tags based on posts liked, or recently commented on (this
is a tough query but maybe worthwhile?)
4. tags from posts you've published?

in any case maybe we need a `user.recommended_tags` method that we can
adapt so we can draw on multiple sources for what "recommended" means?

On Fri, Jul 26, 2019 at 8:56 AM Lekhi

[2019-07-26 16:15] CleverFool77 commented on #5891
So out of all these points, which one seems most apt ?

[2019-07-26 16:20] CleverFool77 commented on #5891
We can have tags on the basis of one of these points only right ?
According to me we should have tags which seems to be of profile user's interest should be shown. What do you think ?
And below topic cards, we can have another potion of tags, For that we can have most used tags I guess ?

So we can two rows of tags
- One above topic cards - which is of user's interest of tags
- Below the topic car

[2019-07-26 16:22] CleverFool77 commented on #6072
Hi @gautamig54 I have opened an issue for dashboard.
Thanks !!!

[2019-07-26 16:57] #5959 closed

[2019-07-26 16:59] jywarren commented on #5891
Yeah, this sounds right. But note that if we base it on tags from posts
you've made, then for newcomers there won't be any if they haven't posted.
So perhaps we need to pull from multiple sources and take the top 5 or
something, to account for different edge cases?

On Fri, Jul 26, 2019 at 12:21 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-07-26 17:22] #6059 closed

[2019-07-26 17:23] CleverFool77 commented on #6026
Although Jeff, the inter search results takes time and usually before even we get this dropdown menu, we have usually clicked on search button and have directed towards results already.

[2019-07-26 17:30] jywarren commented on #6039
This sounds great! cc @gauravano as well. Thanks!

[2019-07-26 17:46] gauravano commented on #6039
Sounds great! But, can we first create a job for the msg broadcast and adding that in queue. And, see how that pattern works?

This way, we'll be expanding on the optimized approach.

Thnks Naman and great progress.

[2019-07-26 18:03] gauravano commented on #6067
@icarito can we setup LogDNA with unstable.publiclab.org and stable.publiclab.org so as to better get the understanding of issues. Also, it would help in better debugging?

[2019-07-26 18:23] jywarren commented on #5668
Hi, all - i think we need to test this out to confirm it's working
properly.

On Wed, Jul 3, 2019 at 11:33 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-07-26 22:09] sidntrivedi012 opened #6073 "Error while posting note on plots2."
Hey folks, I was posting my GSoC blog on plots2 website yesterday but it was showing this errors and the loading circle on the bottom right corner was rotating continuously. The error was -
![Screenshot 2019-07-27 at 3 37 20 AM](https://user-images.githubusercontent.com/31186013/61983977-12a8b880-b020-11e9-8df0-b4870a67f1f4.png)

PTAL. Thanks. 🙂

[2019-07-26 22:15] sidntrivedi012 commented on #6073
Oops. After referring #6067  , I removed emojis from my post and now the error is resolved. Thanks.

[2019-07-26 22:15] #6073 closed

[2019-07-27 08:49] gautamig54 commented on #6072
Hi @CleverFool77! So this is the final design for the dashboard?
Should we add the link to add wikis or question in the sidebar. It looks empty below the map. What do you think?

[2019-07-27 09:07] gautamig54 commented on #6054
@CleverFool77. I notice that in tab view, the page is not displaying the image with the grey background. It is happening for the mobile view. Why do think this is happening?

![Screen Shot 2019-07-27 at 2 37 06 PM](https://user-images.githubusercontent.com/35326753/61992430-0c482a00-b07c-11e9-9788-1e147e7a3805.png)

![Screen Shot 2019-07-27 at 2 37 18 PM](https://user-images.githubusercontent.com/

[2019-07-27 19:58] Gagan6730 opened #6074 "Reporting success on profile picture upload/change."
Currently when we upload or change our profile picture, there is no message either if the upload was successful or not.
We could add a message to report that to the user.
<img width="379" alt="Screenshot 2019-07-28 at 1 27 02 AM" src="https://user-images.githubusercontent.com/23430169/61999050-d1271480-b0d6-11e9-8fcb-f9a1ec0f771f.png">

[2019-07-27 19:58] Gagan6730 commented on #6074
@jywarren what do you think about this?

[2019-07-28 05:35] CleverFool77 commented on #6074
This looks great according to be. What do you think? @gautamig54 @gauravano

[2019-07-28 06:01] gauravano commented on #6074
Looks great. How about using Noty for this? Thank you!

[2019-07-28 07:57] gauravano commented on #5306
Sounds great. You can try other issues at https://github.com/publiclab/plots2/issues

[2019-07-28 17:44] Gagan6730 commented on #6074
@gauravano Would I be able to upload a profile pic in development mode? When I am trying to test my changes, it is just showing uploading.

<img width="325" alt="Screenshot 2019-07-28 at 11 12 55 PM" src="https://user-images.githubusercontent.com/23430169/62010838-3fc6a980-b18d-11e9-966f-8643651324aa.png">

[2019-07-28 17:54] gauravano commented on #6074
I think, there's a bug due to which preview is not showing up. But, you should be able to upload image. After image uploading, the bar will be removed. And, if you refresh the page, you'll see your image uploaded.

[2019-07-28 17:54] gauravano commented on #6074
If you like, you can also work on the image preview bug

[2019-07-28 18:43] Gagan6730 commented on #6074
I think its working fine on the site, but trying to upload while developing, its not able to upload the profile pic. Its just showing "uploading" even after few minutes.

[2019-07-29 06:56] CleverFool77 commented on #6072
I'm not sure whether this is the final design ? Did we had some changes after this ? I do not seem to remember ?

[2019-07-29 07:01] CleverFool77 commented on #6054
So page is not displaying the image with background . Its because this feature is necessary only in medium and above larger screen as usually width of image goes much smaller compares to width of our screens.
Besides, In this I have used two different divs, one is for smaller screen like mobile and other is for screens larger than mobile. So I did add the background on them using bootstrap classes

[2019-07-29 08:34] #6066 closed

[2019-07-29 09:34] CleverFool77 opened #6078 "wiki print pages modal distortion"
![Screenshot from 2019-07-29 15-04-07](https://user-images.githubusercontent.com/26685258/62037819-274ca280-b212-11e9-82e8-14c8c88f19d0.png)

[2019-07-29 09:35] CleverFool77 commented on #6005
Hi Gautami, Are you working on this ?

[2019-07-29 10:10] gautamig54 commented on #6005
Yes. I am working on it!

On Mon, Jul 29, 2019, 15:05 Lekhika Dugtal <notifications@github.com> wrote:

[2019-07-29 10:39] newbazz commented on #6078
I would like to work on this issue. And btw you are talking about the toolbar that is going outside the box right?

[2019-07-29 10:42] newbazz opened #6080 "Indent `app/views/like/_like.html.erb` properly"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-07-29 10:43] newbazz commented on #6080
The file doesn't have a uniform indentation, i.e some lines are separated by 4 spaces and others by 2 spaces, this indentation is what needs to be changed.

[2019-07-29 11:58] amitkumarpatel commented on #6080
I would like to make the indentation correct

[2019-07-29 12:08] metonymic-smokey commented on #5128
Hi @Nirvikalpa108 @gauravano, there wasn't a PR pertaining to this issue under the 'documentation' label.
I'd like to work on this issue as my first one since it's still open, with @Nirvikalpa108 if needed.
thanks!

[2019-07-29 12:36] metonymic-smokey commented on #6080
First timer here, this seems like an issue I could take up if no one else is assigned, working with @amitkumarpatel if needed.

[2019-07-29 13:00] CleverFool77 commented on #6078
Yes I'm talking about that only. Would you like to work on this ? @newbazz

[2019-07-29 13:04] CleverFool77 commented on #6080
Well @jywarren @gauravano Regarding this, we do have many pages without indentation. Should we start refactoring and linting it properly ? Along with doc-strings and other stuff ? We can do it through first timers ?

[2019-07-29 13:21] bebebe123 opened #6081 "W88 lừa đảo – Thực hư tin đồn nhà cái w88 lừa đảo là như thế nào"
W88 có lừa đảo không, tìm hiểu về tin đồn nhà cái w88 lừa đảo người chơi. Hiện tại xuất hiện rất nhiều người nói rằng nhà cái w88 lừa đảo người chơi, họ truyền tai nhau rất nhanh cho dù mình chưa hề bị nhà cái w88 gian lận một thứ gì. Các bạn biết rồi đó, sức lan tỏa truyền miệng ngày nay rất là nhanh. Chỉ có những người luôn luôn đồng hành với nhà cái w88 mới có thể biết được những tin đồn nào là

[2019-07-29 17:48] newbazz commented on #6078
yes, I would like to work on this issue, can you please help me in reproducing the issue.

[2019-07-29 19:48] gauravano commented on #5128
Hi @metonymic-smokey, go ahead.

[2019-07-29 19:52] gauravano commented on #2646
Closing this as we don't use Cloud9 service anymore. Thank you!

[2019-07-29 19:52] #2646 closed

[2019-07-29 20:30] gauravano commented on #6080
Sure @CleverFool77.

[2019-07-30 01:08] sashadev-sky opened #6083 "Unable to post comments on research notes"
I've been experiencing it for a while, it comes and goes but is really disruptive. For ex., trying to comment on divys post:

![image](https://user-images.githubusercontent.com/41092741/62092767-6eec2200-b244-11e9-869d-cd15c9262239.png)

Then on page refresh the comment is not there and I see this:

![image](https://user-images.githubusercontent.com/41092741/62092788-87f4d300-b244-11e9-9fd2-21bdb3

[2019-07-30 01:09] sashadev-sky commented on #6083
@gauravano there is a contributor working on an action cable project right? Could you please tag him here if so and if you think this relates to that (see console errors)!

[2019-07-30 05:04] enviro3 commented on #6055
Hi @CleverFool77, I'm having some trouble replicating this issue on the browser so I can see what's going on. When I go to https://publiclab.org/tag/one-cranston in incognito mode and click "Subscribe" I get the following:
![image](https://user-images.githubusercontent.com/22761644/62102167-d312e400-b24c-11e9-88f5-4b3c4507eb3d.png) What should I click instead to get the alert message as noted abov

[2019-07-30 05:05] gauravano commented on #6083
Looking into it.

[2019-07-30 05:10] gauravano commented on #6083
Hmm, it worked for me. I just left test comments on 2 posts on Divya - https://publiclab.org/notes/divyabaid16/07-22-2019/updated-evaluation-2-gsoc#c25167 and https://publiclab.org/notes/divyabaid16/07-03-2019/mapknitter-multiple-image-export#c25166

Can you try commenting again @sashadev-sky? Also, do you think it maybe due to emoji?

[2019-07-30 05:14] gauravano commented on #6083
Yeah, it's due to comment text. Confirmed from Sentry -  https://sentry.io/organizations/publiclab/issues/1033489492/?project=1410626&query=is%3Aunresolved

[2019-07-30 05:28] enviro3 commented on #5936
Hi @aSquare14, @gauravano, and @jywarren, would it be okay if I take a crack at this? I don't mind if any changes I make are overwritten later in the new re-design that is coming. Let me know, thanks :)

[2019-07-30 05:37] CleverFool77 commented on #6078
Sure this is great. So just create a wiki page and when you'll go the link, you'll Find this modal distortion after clicking the icon on sidebar.

[2019-07-30 07:00] CleverFool77 commented on #6055
To be honest I checked what you wanted to say and even I got the same. Hi @jywarren @gauravano Reproducing this issue should be like this only right ?
- Logout
- Try subscribing one of the tags
- You'll get a alert to login or create account
:thinking:

[2019-07-30 15:47] gauravano commented on #5936
Hi @enviro3, actually, we'll keep the black and white icons as it goes with the current page design. So, closing this issue. Although, thanks for your interest in this one :+1:

[2019-07-30 15:47] #5936 closed

[2019-07-30 17:54] CleverFool77 commented on #5890
Hi @gautamig54 Are you working on the `post button` ? and using modal and all ?

[2019-07-30 18:34] gauravano commented on #2616
Hi everyone, thanks for great suggestions. I think in a year, we have improved a lot and so closing this issue. But, you are always welcome to open a new issue, if you want to add on a new suggestion/ highlight an issue/bug.

[2019-07-30 18:34] #2616 closed

[2019-07-30 19:22] samyak-jn commented on #6080
@CleverFool77 I would also like to contribute to the issue, can you please guide me where to start from?
Thanks

[2019-07-30 19:53] gautamig54 commented on #5890
Hi @CleverFool77! I have been a bit busy lately. I am working on the remaining tasks on the tags page. I will push the changes very soon.
Sorry for the delay!

[2019-07-30 22:22] namangupta01 opened #6085 "Reply By Tweet Bug Discussion"
So I have figured out what the actual problem is after adding the console to print the mid way data in #6064.
The actual problem is short links.
`parent tweet #<Twitter::Tweet:0x00005646ea71df68>
parent tweet full text -> We’ve overhauled the entire https://t.co/PKr9eq2bkF website! Thanks to support from @GoogleOSS and contributors from five continents(!), we’re helping people around the world to

[2019-07-30 22:22] namangupta01 commented on #6085
cc @jywarren , @gauravano

[2019-07-31 13:54] bebebe123 opened #6087 "Giới thiệu về nhà cái W88"
[Nhà cái bóng đá](https://nhacaionline.com/nha-cai-uy-tin/) W88 – Được điều hành bởi tập đoàn MARQUEE HOLDINGS LTD,. danh tiếng, có trụ sở được đặt tại thành phố MAKATI – “Trung tâm tài chính, thương mại và kinh tế lớn ở tại Philipines nói riêng và ở Châu Á nói chung”. Nhà cái W88 đã tạo nên một sự đột phá mới trong việc ứng dụng những công nghệ tiên tiến, hiện đại nhất hiện nay để mang đến cho ng

[2019-07-31 18:46] #6081 closed

[2019-07-31 18:47] #6087 closed

[2019-07-31 19:06] ebarry opened #6088 "Revise the help text in the "choose a password" box on publiclab.org/signup"
### What part of publiclab.org is this a new feature idea for?

This feature idea applies to https://publiclab.org/signup while not signed in.

### What is the idea?

This idea is to change the help text in the "choose a password" box that someone sees when creating a new account on PublicLab.org. Using the help text to explain the password requirements would be an improvement on what we have now.

[2019-07-31 20:17] ermarie commented on #6080
@CleverFool77 Happy to do some indenting if there is more to do!

[2019-08-01 04:38] enviro3 commented on #6055
Hi @CleverFool77, I think I may table this issue for now. I have a homework assignment to work on a more difficult issue on github. The assignment requires I do a more difficult contribution such as:
- developing a new feature
- finding and fixing a bug that has been identified as critical
- finishing a task to support a future feature

Is there any issues or assignments I could work on that would

[2019-08-01 06:08] newbazz commented on #6088
Or i think, there can be some dynamic checking done of the password while someone is typing. Unable the submit button until it is atleast 8 characters long.

[2019-08-01 06:12] newbazz commented on #6080
So i think all the interested candidates can first of all see what are the indentation standards ruby follows, after that looking for files that are not upto those standards, asking creating an issue for the change of indentation and working on it.

[2019-08-01 06:14] newbazz commented on #6078
![image](https://user-images.githubusercontent.com/25884863/62269765-b5629c00-b451-11e9-9937-4b6dc3c4105b.png)

@CleverFool77 i am not getting any icon on the side bar.

[2019-08-01 06:30] CleverFool77 commented on #6078
Maybe you haven't fetched the latest changes pushed to master branch yet.
Just fetch it and rebase it, then you'll get the toggle icon.

Thank you

On Thu, 1 Aug 2019, 11:44 newbazz, <notifications@github.com> wrote:

[2019-08-01 06:32] CleverFool77 commented on #6080
I guess all of you can look into the pages of file and even without opening an issue. You can open a PR with a title "Refactor: filename". We can start with basic indentation first and removal extra spaces and stuff first. And following a particular linter would be much better.

[2019-08-01 06:36] CleverFool77 commented on #6055
Hi @enviro3 the bug you are working on is because of new feature that is recently added. So yes indeed, It is one of the critical bug.
Regarding such issues though, I don't seem to remember. But you can go through the list of issues maybe.
@gauravano might help you.
BTW for bug, you can check the label `bug` and for new feature, go through label `feature`.

[2019-08-01 06:53] newbazz commented on #6078
@CleverFool77 It is uptodate with the upstream.

[2019-08-01 07:59] metonymic-smokey commented on #5128
@gauravano changed the docs in my PR.
However, the Travis-CI check keeps failing and I am not too sure on how to rectify this. Any thoughts on this would be helpful!

[2019-08-01 08:26] newbazz commented on #6078
I am still not geeting the toggle icon.

[2019-08-01 08:54] CleverFool77 commented on #6055
Hi @enviro3 Are you interested in this issue https://github.com/publiclab/plots2/issues/5741 ?
Explanation is this - https://github.com/publiclab/plots2/pull/5800#pullrequestreview-252776122

[2019-08-01 11:45] CleverFool77 commented on #6078
Hi @newbazz Can you show me the link ?
I made a wiki page named test -
So I got this -
![Screenshot from 2019-08-01 17-13-13](https://user-images.githubusercontent.com/26685258/62290751-b3173680-b47f-11e9-8813-053b6ae8f028.png)
I created another note page -
So I got this -
![Screenshot from 2019-08-01 17-14-15](https://user-images.githubusercontent.com/26685258/62290816-d5a94f80-b47f-11e9-9313-854

[2019-08-01 11:47] CleverFool77 commented on #6078
You can see the second latest commit which has been added -
https://github.com/publiclab/plots2/commits/master
So You need to fetch and rebase.

[2019-08-01 14:17] CleverFool77 commented on #6072
Hi @gautamig54 @jywarren Is there any modification to this design ?
If not, then I'll start with this design only.
Thanks !!

[2019-08-01 14:20] CleverFool77 commented on #6088
Hi @ebarry Wasn't this feature of password validation added earlier ? I did saw the PR I guess.

[2019-08-01 14:28] CleverFool77 opened #6092 "Fix unequal margins/paddings in the featured questions cards on shadow interface"
As one can see, that the padding or margins in left or right of cards is unequal.
It would be great if we can have equal margins on side. SO that both the cards are exactly at center.
The gap from left for first card is lesser than the gap of second card from right. This should be `equal`.

![Screenshot from 2019-08-01 19-52-55](https://user-images.githubusercontent.com/26685258/62301331-0a280600-

[2019-08-01 14:29] CleverFool77 commented on #6092
Hi,
We have this bug at the different route https://publiclab.org/questions_shadow
which is for now is the shadow interface of the new questions page.

[2019-08-01 14:29] CleverFool77 commented on #6092
Hi @enviro3 and @newbazz If one of you is interested. You can look into this.
Thanks !!

[2019-08-01 14:33] CleverFool77 commented on #6080
@ermarie @samyak-jn @metonymic-smokey @newbazz

[2019-08-01 19:06] namangupta01 commented on #6085
Can @icarito @jywarren, please tell me what is the value of ENV["WEBSITE_HOST_PATTERN"] on stable? I need this for further debugging.

[2019-08-01 19:33] gauravano commented on #6055
Hey @enviro3, you can work on https://github.com/publiclab/plots2/issues/5842. It has PR but a bit older. Also, tests also need to be added. Let me know if you're interested.

[2019-08-01 19:54] gauravano commented on #5128
hey @metonymic-smokey, the test failure is not related to your PR. It's related to our test setup, we are trying to fix that. Sorry for the inconvenience.

[2019-08-02 02:58] metonymic-smokey commented on #5128
Thanks @gauravano !Are the changes in this PR sufficient or do I need to make further changes to the pre-reqs?

[2019-08-02 05:11] newbazz commented on #6092
Yes i would like to work on the issue.

[2019-08-02 05:13] newbazz commented on #6078
![image](https://user-images.githubusercontent.com/25884863/62346068-66307000-b512-11e9-9dab-60fd64b3d9c9.png)
It is already up todate

[2019-08-02 05:19] newbazz commented on #6078
@CleverFool77 you can have a look at this as well https://github.com/newbazz/plots2/commits/master

[2019-08-02 05:35] newbazz commented on #6078
![image](https://user-images.githubusercontent.com/25884863/62346869-57978800-b515-11e9-8d5d-10538eabce98.png)
I made a new wiki as well, but ma not getting the toggle icon.

[2019-08-02 06:11] gautamig54 commented on #6092
Hi @newbazz! The issue is that featured cards are not exactly in the centre. Can you make out that?

![Screen Shot 2019-08-02 at 11 40 26 AM](https://user-images.githubusercontent.com/35326753/62348483-6cc2e580-b51a-11e9-9983-a1e9f7d45f57.png)

[2019-08-02 06:14] gautamig54 commented on #6072
Hi @CleverFool77! Let's start with design for now. Any modifications in the design can be take care of later.

[2019-08-02 06:24] CleverFool77 commented on #6092
As gautami mentioned. You just need to algn the feature cards in center. You need to inspect element the current design.

[2019-08-02 06:27] CleverFool77 commented on #6078
Hi @newbazz now it would be done. Just click on the second icon above the tags on sidebar on the image you uploaded.

[2019-08-02 06:29] CleverFool77 commented on #6072
Before that. I guess some of your parts are left in Questions, profile
section and other section. We need to look into them too.

On Fri, 2 Aug 2019, 11:44 Gautami Gupta, <notifications@github.com> wrote:

[2019-08-02 06:48] CleverFool77 commented on #6072
Cool. Till that time, I'm trying to find the bugs in the new design that we have implemented till now and making new issues or fix for it.
Thanks !!

[2019-08-02 06:57] enviro3 commented on #6055
Hi @CleverFool77, good to know it's a key bug that needs fixing so I would love to help. I still cannot seem to replicate the issue though. When I launch on localhost:3000 I am going to the blogs page (I am not logged in) and then I go to Subscribe+ and choose a tag and click subscribe I am always greeted with the modal pop-up to log in rather than the "covered up alert bug". I've been clicking ar

[2019-08-02 07:10] CleverFool77 commented on #6092
Its because of uneven column gaps, As much as I remember.
Its col-md-2 before the cards but its more than col-md-3 after the cards.... So thus leading to gap...

[2019-08-02 09:03] jywarren opened #6095 "Managing ChromeDriver version (long term)"
Follow-up to latest issue solved in https://github.com/publiclab/plots2/pull/6094 --

and, i see! so dependabot can't update that line. Ideally we can point at a .zip file that's the latest release... let's look into this.

Here's the last time we updated the version number:

https://github.com/publiclab/plots2/commit/099a1aba9af851c7dd53504395513ab9a4c1ac12#diff-354f30a63fb0907d4ad57269548329e3R3

[2019-08-02 09:50] jywarren commented on #6095
Also noting this guidance on version number URLs:

https://sites.google.com/a/chromium.org/chromedriver/downloads/version-selection

[2019-08-02 10:16] jywarren opened #6096 "Expanded "be friendly to newcomers" message in comment forms"
Stack Overflow has this nice message we could adapt from in our own comment form!

![image](https://user-images.githubusercontent.com/24359/62363305-c1209200-b527-11e9-9e62-d62fbcdd3b16.png)

Would anyone like to give this a try?

**Changes to be made:** https://github.com/publiclab/plots2/blob/master/app/views/notes/_comments.html.erb#L18

Check if a user is a new contributor using user.is_new_co

[2019-08-02 10:38] jywarren commented on #6095
Reporting back here!

[2019-08-02 15:28] CleverFool77 opened #6097 "Follow up bugs in new designs of All sections including Profile,Tags, People etc"
- [ ] Fix unequal margins/paddings in the featured questions cards on shadow interface https://github.com/publiclab/plots2/issues/6092
- [x] Mismatch working of Subscribe and `Subscribe to answer questions on this topic` in Individual tags page @CleverFool77
- [x] Side-wrap up in tab issue
- [x] x more posts link fix @CleverFool77
- [ ] renaming tags id fix -mismtach @Anupam-dagar
- [x] Sidebar ma

[2019-08-03 03:31] newbazz commented on #6092
okay, so one of the solutions is using adding extra margin in the style sheet or another thing that can be done is apply styling using bootstrap, which do you think should be approached in this isse?

[2019-08-03 03:50] newbazz commented on #6078
thanks @CleverFool77 will start working on it soon.

[2019-08-03 04:50] CleverFool77 commented on #6092
Hi @newbazz It depends on you, how about trying the mock first. Whichever method looks efficient and better.

[2019-08-03 04:51] CleverFool77 commented on #6092
There shouldn't be much of hardcoded code, and do it only when it's absolutely necessary, otherwise try bootstrap classes and other stuff.

[2019-08-03 05:29] newbazz commented on #6092
@CleverFool77 the bootstrap is not customizable so I am not sure bootstrap can solve our problem. I can have a look if not we have to hardcode the margin. And anyways applying bootstrap classes/ids is also hardcoding in a way.

[2019-08-03 05:30] CleverFool77 commented on #6092
Hi @newbazz then you can try margins and paddings.

[2019-08-03 05:31] CleverFool77 commented on #6092
Tbh you can try whatever method you want, it need to be efficient and solve the bug.

[2019-08-03 06:43] #6071 closed

[2019-08-03 07:20] CleverFool77 commented on #5890
Hi @gautamig54 If you want, I can do the task of Posting a Question ? What do you say ? As I can see you still have some tasks left in other pages.

[2019-08-03 07:27] CleverFool77 commented on #6097
Hi @jywarren @gautamig54 I had a doubt regarding this -
In the one main card of Individual Tag page , we have a subscribe button but when I click on the button, it shows related tag, but not let us subscribe to that particular tag. We are only able to subscribe to related tags and not the main tag whose Individual page we are on.

Instead we have another button below called ` Subscribe to answer q

[2019-08-03 12:40] jywarren commented on #6097
No I think you're right, it should be fixed!

On Sat, Aug 3, 2019, 10:28 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-08-03 13:04] CleverFool77 commented on #6097
Cool!! I'll fix it.

[2019-08-03 18:51] enviro3 commented on #5842
Hey all, just letting folks know I am attempting to solve this issue so it's a work "in progress". Thanks!

[2019-08-03 21:10] sentry-io[bot] opened #6101 "ActionView::MissingTemplate: Missing template home/home with {:locale=>[:en], :formats=>[:zip], :variants=>[], :handlers=>[:ra..."
Sentry Issue: [PLOTS2-D3](https://sentry.io/organizations/publiclab/issues/1137853329/?referrer=github_integration)

[code]

[2019-08-03 21:29] gauravano commented on #6101
@jywarren here what we are supposed to handle? Are we supposed to throw 404 or something for these kind of request?

[2019-08-03 22:22] gauravano commented on #6055
first of all, make sure, you're on master. Then, go to any tag page like localhost:3000/tag/<tagname?
If no alert is appearing for you, you can add `flash[:notice] = "Some text ..."` in the tag_controller file under show method, and then you'll see the notice at the tag page.

Just take any one and focus on that. If you try to solve all at a go, you'll not be able to complete any. So, start with o

[2019-08-04 05:21] metonymic-smokey commented on #5128
Thanks @gauravano , the PR has passed all checks now.
Would love to work on similar first-timer bugs at publiclab!

[2019-08-04 07:06] CleverFool77 commented on #6055
Thanks @gauravano for help. 😄

[2019-08-04 15:16] namangupta01 commented on #6085
@jywarren I tried on local with the same tweet. I was able to find node on local machine but same was not happening on production. I think it is something to do with the website host pattern env variable. Can anyone of @jywarren or @icarito let me know that what is the ENV["WEBSITE_HOST_PATTERN"] set on production? Is it `//publiclab.org/n/`?

Thanks

[2019-08-04 16:17] gautamig54 commented on #6054
HI @CleverFool77! I am not able to understand why the image is not rendering in the tab view. Can you look into this? I will take care of the tag card positioning and other objects.
You can solve the image part and I will take care of the rest :)

[2019-08-04 16:44] gautamig54 commented on #6097
On the individual tags page, for a few tags, the content on the side bar shifts to the bottom. Whereas the page seems to be divided properly.

![Screen Shot 2019-08-04 at 10 12 37 PM](https://user-images.githubusercontent.com/35326753/62426646-28e00400-b705-11e9-9f39-04152197b92c.png)

[2019-08-04 16:47] gautamig54 commented on #5890
What is suppose to be in the dropdown of posting a question?

[2019-08-04 17:04] gautamig54 commented on #6097
I think this happens when there are tab content. With no tab contents, it displays it on the right side only.
Can you also generate this issue @CleverFool77?

[2019-08-05 05:57] jywarren commented on #6095
Solved by @alaxalves! Reopening to track long term solutions per comment here:

https://github.com/publiclab/plots2/pull/6099#discussion_r310361017

[2019-08-05 06:53] CleverFool77 commented on #5890
Cool. You work on this, I'll start with dashboard then.
In post question dropdown, There should be a modal which would let us
choose template.
@jywarren had added one draft design for it on style guide.
Thanks !!!

On Sun, Aug 4, 2019 at 10:17 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-08-05 06:54] CleverFool77 commented on #6097
Can you write down specific points of generating this Issue, I tried it in
3-4 tags but I'm unable to generate this.

On Sun, Aug 4, 2019 at 10:35 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-08-05 07:42] CleverFool77 commented on #6097
Hi @gautamig54 I was able to reproduce this Issue. I'll try fixing it. Cool.
Thanks !!

[2019-08-05 19:30] ebarry commented on #6088
cool idea @newbazz!
@CleverFool77 -- thank you for letting me know! I had this experience last week, so if there's a PR already on the way -- amazing! Once it lands, i'll close this issue! Or -- please advise on the best path to proceed 🙏

[2019-08-06 11:23] CleverFool77 commented on #6088
I did open one PR on this @ebarry which is this - https://github.com/publiclab/plots2/pull/5368 though it had many conflicts as This PR was for overall validation using `jquery-validation`  but when This was on review , at that time 3-4 four more PRs were opened, which were validation for particular field like mail or other stuff using either regex or different ways. And they are merged.
My aim to

[2019-08-06 12:49] bebebe123 opened #6111 "7 bí mật nhà cái bóng đá mà các bạn cần biết"
Kinh nghiệm cá cược
Bất kỳ một trò chơi nào cũng sẽ còn đó những mánh khóe, các tuyệt chiêu mà chỉ có chủ sở hữu của trò chơi đó mới được biết, và cá độ bóng đá cũng không nằm ngoại lệ, người ta thực hiện điều này nhằm cân bằng nguồn vốn, và ví như chẳng may bị phát hiện và các bạn khai thác thì nhà cái đó sẽ phải đi đến chỗ vỡ nợ phá sản hay sao.

Hãy cùng chúng tôi khám phá một số bí mật nhà cái

[2019-08-06 14:55] #6111 closed

[2019-08-06 19:13] ebarry commented on #5758
Hey, just writing in to say this is important for accessibility, that people can print off the content from our webpages.

[2019-08-06 19:14] ebarry commented on #5758
Copying in @publiclab-mimi

[2019-08-06 19:16] #5128 closed

[2019-08-06 19:19] gauravano commented on #5128
You can find more issues at https://code.publiclab.org. And, if you're interested in any specific language/framework/type of task, feel free to let us know. And, we would also love to have your help. Thank you!

[2019-08-07 09:00] gautamig54 commented on #5890
Hi @CleverFool77. Can we shift the add tag parent option to the ellipsis of the main tag card?
Because there is no way to display it in the style guide?

[2019-08-07 09:24] gautamig54 commented on #5890
Hi @CleverFool77 @gauravano! I notice this confusion while posting a question for a tag through the link on the tags page.
When we ask a question from the link given on the individual tags page, a `question:<tagname>` tag gets added to the question. But, the question doesn't gets added to the tag question tab because it is added to the question:<tagname> tag and not just <tagname>.
Is this an issu

[2019-08-07 09:28] gautamig54 commented on #5890
Following the above pattern, the same will be the case in posting a story or a post.

[2019-08-07 09:43] gautamig54 commented on #5890
@gauravano @aSquare14  I have a few doubts regarding the options available for the post.
- question
- story or a project. Now the story will be a post with tag as blog-submission where as a project can be a simple post. Which one to choose?
- Issue, will it be a post with tagging as issue-brief? And where is the template of an issue for I think it is a feature and not in the code.

[2019-08-07 09:50] gautamig54 commented on #6097
Hi @CleverFool77. I think the problem is with the questions tab. It is working fine for wikis and posts

[2019-08-07 10:58] CleverFool77 commented on #6097
Hi @gautamig54 I checked it, Its pretty similar to matter when we have the side-wrap issue in tag page without login. I saw that the col-3 sidebar is going out the row class and thus its wrapping up in tab-content. Instead both of them should be inside the div of row class. So I'm checking and trying to work it out.
Thanks !!

[2019-08-07 11:30] CleverFool77 commented on #5890
Hi @gauravano First of all , I don't seem to completely understand your question though, But I'll try to explain whatever I understood.
We need to have the options like we have in our dashboard for `Share your Work` , In this dashboard we have options such as `Notes`, `Wikis` and `Questions`. etc -
![Screenshot from 2019-08-07 16-22-06](https://user-images.githubusercontent.com/26685258/62619325-1

[2019-08-08 06:21] gautamig54 commented on #5890
I implemented what I understood @CleverFool77. I have attached the tags and they working correctly. Except in issues I added the tag, issue-brief-tagname. I think this is how it works.
For others I did the same as you suggested.

[2019-08-08 06:22] gautamig54 commented on #5890
Also, @CleverFool77 I was thinking, if we can have a separate issue for correcting the view for the mobile view or tab view. What do you think?

[2019-08-08 06:58] gautamig54 commented on #6097
Hi @CleverFool77! Should we make a separate issue for correcting the responsiveness of pages?

[2019-08-08 07:29] gautamig54 commented on #6072
Hi @CleverFool77!
On what part are you working on?
I feel the dashboard design seem a bit incomplete. In the present design there are a lot of features added and here it seem to be missing?
What do you think?

[2019-08-08 07:31] CleverFool77 commented on #6072
Exactly, There are missing up but as we'll gradually start building up the
pages, we'll try adding them too.

On Thu, Aug 8, 2019 at 12:59 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-08-08 07:32] CleverFool77 commented on #6097
No need to piling up issues I guess. Juts adding in this checklist would be
ok according to me.
Thanks !!

On Thu, Aug 8, 2019 at 12:28 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-08-08 07:33] gautamig54 commented on #6001
The edit profile page is not yet fixed. I'll do it.
@CleverFool77 there are a lot of cases where tags are concerned. Can we discuss it over call anytime you're free?

[2019-08-08 08:00] CleverFool77 commented on #5890
Hi @gautamig54 Is there need to create more issue ? we can just add this in checklist of follow up fixes and bugs. As If we'll keep on creating issues, we will have lots of issue for every bug. So its better to just checklist the in one existing issue. Cool.

[2019-08-08 08:14] AnshitaVishwa commented on #5926
@bronwen9 and @gauravano  Can I continue with this issue?

[2019-08-08 10:11] gautamig54 commented on #6074
Yes, @Gagan6730 you can upload an image in the development mode. Have you installed imagebrick?

[2019-08-09 07:02] jywarren commented on #5926
That'd be great! It looks like the upgrade to Bootstrap 4 introduced this
error? You could look at previous versions of this template to see how it
used to work?

Thank you!

https://github.com/publiclab/plots2/blame/master/app/views/dashboard/_node_meta.html.erb#L24

On Thu, Jun 20, 2019 at 10:29 PM Bronwen Densmore <notifications@github.com>
wrote:

[2019-08-09 07:25] jywarren commented on #5842
thank you, much appreciated!!!

On Sun, Aug 4, 2019 at 12:51 AM enviro3 <notifications@github.com> wrote:

[2019-08-09 08:03] jywarren commented on #5890
Sorry to reply slowly here, but i hope it helps clarify - the original
dashboard with the dropdown of options to post is intended to be replaced
by the modal (showing /before/ redirecting to the editor, because which
editor depends on the selection made) because the modal gives us more space
to explain what the different types are for. As it is now, newcomers seeing
the dropdown may not understand

[2019-08-09 09:45] gautamig54 commented on #6072
Hi @CleverFool77! I am implementing the dashboard as per the new design. I'll add the map and the tag cards

[2019-08-09 10:35] CleverFool77 commented on #6072
You can add map part but about cards part I wanted to discuss something.

[2019-08-09 10:35] CleverFool77 commented on #6072
After this discussion, you might add it.

[2019-08-09 10:41] CleverFool77 commented on #6072
Our current dashboard shows recent questions, notes, answers etc
But I noticed that new part shows it on the basis of tags, so we won't get recent information. And it will be lost.
Plus in cards, we are just adding notes for now, then what about questions and answers and other stuff. Won't it decease the reach of question as we'll only see most liked one or on the basis of most used as per the new

[2019-08-09 11:28] CleverFool77 commented on #6072
Maybe we can discuss it here only on comment section or in Opencall too ?

[2019-08-09 12:46] CleverFool77 commented on #6097
If you wanna add a new feature then opening an issue would do, In bug we can just checklist here for now ?

[2019-08-09 13:30] CleverFool77 opened #6121 "Limiting the biodata to be be shown ?"
## Describe
In reality, we can't limit the data for bio.
But can we limit the part which is shown
for eg -

![Screenshot from 2019-08-09 18-57-31](https://user-images.githubusercontent.com/26685258/62782280-901c0080-bad7-11e9-85ae-102505ffa897.png)

This image has lots of line in biodata, So how about limiting the bio data to 3-4 lines to be shown and hide other part.
If only clicked on `more` but

[2019-08-09 13:30] CleverFool77 commented on #6121
cc: @gautamig54 @jywarren

[2019-08-09 13:34] CleverFool77 commented on #5890
Cool. @gautamig54 has updated this modal feature in her pr.
cc: @jywarren

[2019-08-09 13:34] steviepubliclab opened #6122 "Sharing draft requires login"
Hello! I was recently working with @ebarry on a post with a community partner. That community partner doesn't have a Public Lab login yet. We're hoping she will at some point in the future, but in the meantime, we were hoping to be able to share a post with her so she could see it before it was published (in case there were any edits or additions she wanted to make).

**Please describe the desired

[2019-08-09 13:38] steviepubliclab opened #6123 "draft box checked, "publish" showed up instead of "save""
Hello!
I haven't been able to recreate this issue, so I'm not sure what the bug really is, but I was trying to save a draft research note to come back to later, I had the draft box checked, but instead of seeing "save" I saw "Publish." Clicking and unclicking "save as draft" didn't change the button. Then, just to test it out, I clicked "publish" and even though the "save as draft" button was chec

[2019-08-09 13:59] newbazz commented on #6123
can you please write steps to reproduce the issue, tbh reading the whole paragraph to understand the issue is tiresome :P

[2019-08-09 14:09] gautamig54 commented on #6097
Sure @CleverFool77 !

[2019-08-09 19:35] gauravano commented on #6123
Will try to reproduce @steviepubliclab. Thanks for reporting!

[2019-08-09 19:50] gauravano commented on #6123
One case where I saw this bug is -- when I gone back back after saving my note as draft. At that time, title was filled and so is save as draft checkbox selected, but button was "publish". Hmm, we have to reset the checkbox after publish is clicked. Or, we can set the button according to checkbox status rather than changing button on checkbox click.

[2019-08-09 20:07] gauravano commented on #6122
Hey @steviepubliclab, when we created this feature, we incorporated this feature but I found that in https://github.com/publiclab/plots2/pull/5028/ it's removed, I guess mistakenly, so need to be fixed. Will do that.

if anyone else, want to take a dig, feel free to go and refer PR and look for changes done in notes_controller there.

Thank you!

[2019-08-09 20:10] gauravano commented on #6083
Hi @sashadev-sky, closing this issue. Please re-open it if you think, problem is not due to the above mentioned reason. Thank you!

[2019-08-09 20:10] #6083 closed

[2019-08-09 20:12] steviepubliclab commented on #6123
Oh interesting! I don't think I had successfully saved my first version as a draft, but I might have hit the "back" button because I remember clicking onto a link by accident and needing to go back to the Research Note.

[2019-08-09 20:19] gauravano commented on #6123
Yeah, on page load, the publish is loaded by default and it's changes to save when triggered via checkbox. On going back, page is loaded but not JS, and so they are un-synced. Putting condition on button using checkbox state will solve this.

[2019-08-09 20:19] steviepubliclab commented on #6123
wow!! I can't believe you found this!

[2019-08-09 21:15] gauravano commented on #6072
Hmm, @CleverFool77 can you give link of the complete dashboard design? And, yeah, it makes sense that we should show all the data - notes, questions, etc. Also, you'll build dashboard on shadow page right?

[2019-08-10 02:26] yuanxizhang commented on #5306
Hi! @gauravano @jywarren, I updated the spam_comments function in admin_controller with logged_in_as(['admin', 'moderator']). Is there anything else in the admin_controller need to be changed?

[2019-08-10 04:31] nhacaionline opened #6125 "Cá cược SeaGame cùng với nhà cái uy tín nhất thế giới"
[Cá cược SeaGame cùng với nhà cái uy tín nhất thế giới](https://nhacaionline.com/ca-cuoc-seagame-cung-voi-nha-cai-uy-tin-nhat-the-gioi/)
 Hướng dẫn cá cược
Chuẩn bị một mùa giải bóng đá để chơi cá độ segame, các bạn đã chuẩn bị cho mình hành trang cho những trận bóng hấp dẫn sắp tới chưa, các bạn đã chuẩn bị gì cho lần chơi sắp tới để chơi cá cược seagame 30 là một trong những yếu tố quyết định c

[2019-08-10 07:35] #6125 closed

[2019-08-10 07:50] grvsachdeva opened #6126 "Make processes asynchronous"
Many services such as marking node as spam or approving them can be done asynchronously. Create worker for all such services. So, these activities do not use main thread resources. Also, for each such conversion make changes to the frontend i.e., AJAXify the view so that effect of the action can be shown to the user at that time only.

Services which can utilize this:
1. Spam moderation
2. Notific

[2019-08-10 12:19] CleverFool77 commented on #6072
Hi @gauravano The design present is the Issue is the one that we have found.
It looks incomplete and has some data being missing.

[2019-08-10 12:21] CleverFool77 commented on #6072
regarding Shadow Page ? I'm not sure. I though for dashbord, We'll build it first then merge. So We'll follow what Jeff said for profile page. Trying to complete most of it and then only merge.

[2019-08-10 13:44] SidharthBansal commented on #6121
Hi @CleverFool77  there are two ideas:
1. We can use ``more`` option as discussed above
2. Create an additional field in the user's profile section to add short biodata.
I am in favour of option 1.

[2019-08-10 13:44] SidharthBansal commented on #6121
Great idea

[2019-08-10 13:45] SidharthBansal commented on #6126
Great idea.
I think you missed to type third field.

[2019-08-10 13:58] SidharthBansal commented on #5652
Investigating on it since many days.
Observation till now: Sign in through provider redirects to the home page of Public Lab always.
To do: Redirect to the existing page.

[2019-08-10 13:59] SidharthBansal commented on #5652
I think that the above problem is priority one for completion of the issue.
Trying to fix it.

[2019-08-10 17:49] gauravano commented on #6126
The third one is open for ideas/edits :)

[2019-08-10 21:28] gauravano commented on #6121
Yes, "Show more" option sounds good.

[2019-08-11 04:42] newbazz commented on #6126
I would like to work on this issue, i think i will work on the first part. Can you please explain the same.

[2019-08-11 06:50] gauravano commented on #6126
Currently, when a moderator or admin, moderates a note by clicking spam or approve. Behind the scenes, we send emails to respective people and the page reloading also take place. But, for process like this, we can utilize Sidekiq, so on pressing "Approve", the job will be triggered and will take place in a different thread and we can remove/show note approval using AJAX to the moderator. It will s

[2019-08-11 18:24] gautamig54 commented on #6121
@CleverFool77 I will add this feature!

[2019-08-11 22:20] cesswairimu opened #6128 "Travis build failing"
Travis build is currently exiting with this failure for all the recent pull requests...
With this error
``
/usr/local/bundle/gems/octokit-4.14.0/lib/octokit/response/raise_error.rb:16:in `on_complete': GET https://api.github.com/repos/publiclab/plots2/pulls/6124: 401 - Bad credentials // See: https://developer.github.com/v3 (Octokit::Unauthorized)
``

![travis](https://user-images.githubuserconten

[2019-08-12 05:42] sashadev-sky commented on #6128
@cesswairimu I googled the error message and got to this page, someone from PL actually  posted this question there. https://github.com/travis-ci/travis-ci/issues/8018
So I would try this suggestion:

"@namangupta01 I got this recently for a repo on travis-ci.com after the move to GitHub Apps.
Solved it by adding the --pro flag to `travis setup releases`."

[2019-08-12 06:26] cesswairimu commented on #6128
Great, thanks @sashadev-sky

[2019-08-12 06:28] gauravano commented on #6128
We faced this issue nearly a year ago too - https://github.com/publiclab/plots2/issues/2758 and it was solved by generating new token for Travis CI

[2019-08-12 06:35] cesswairimu commented on #6128
Thanks @gauravano, are you have access to generate another token?

[2019-08-12 07:25] gauravano commented on #6128
No, I don't. @jywarren or @icarito can do that

[2019-08-12 08:16] kaustubh-nair commented on #6128
Oh I'm facing the same issue here while trying to set up dangerbot https://github.com/publiclab/mapknitter/pull/926

[2019-08-12 08:17] kaustubh-nair commented on #6128
I think it's an issue with the dangerbot token?
We can try commenting out the danger command temporarily till this is fixed so we can see the builds

[2019-08-12 10:36] namangupta01 opened #6130 "Weekly community Check-In #32 - Push Your Limits"
Hi everyone 👋 !

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2019-08-12 10:36] namangupta01 commented on #6130
@newbazz @aSquare14 @vaarigupta @alonpeer @aashna27 @harshithpabbati @jesus-montano @cryptoclidus @mohamed-elalem @konolga @gowtham5699

[2019-08-12 10:36] namangupta01 commented on #6130
@milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/me

[2019-08-12 11:00] niravasher commented on #6130
All the best to all GSoCer's for the last evaluation round and congratulations for passing the first two. Keep up the great work

[2019-08-12 11:30] CleverFool77 commented on #6121
Great !!

[2019-08-12 11:33] CleverFool77 commented on #6097
Hi @gautamig54 @jywarren
Found this -
I clicked on question and found this -
![Screenshot from 2019-08-12 17-02-05](https://user-images.githubusercontent.com/26685258/62862274-15472580-bd23-11e9-8113-f866f6faddc5.png)

[2019-08-12 11:34] CleverFool77 commented on #6097
Maybe this is related to Individual tags page ?

[2019-08-12 11:38] CleverFool77 commented on #6097
I saw the unstable and I don't see any map here. What could be the reason ?
As much as I know, even if the location is not added, a map should be still there. ??

![Screenshot from 2019-08-12 17-07-24](https://user-images.githubusercontent.com/26685258/62862556-c77eed00-bd23-11e9-8a92-75d336fc6924.png)

[2019-08-12 12:28] Rishabh570 commented on #6130
Hi all,

**Update**

- **Work ready for review**

  - Implement a leaderboard of recent contributors, incorporated as a _sort_ option in the filter. [207](https://github.com/publiclab/community-toolbox/issues/207)
  - Progressive web app support with an offline read-only purpose using application cache. Also, can be added to the home screen as a standalone app. [239](https://github.com/publiclab/c

[2019-08-13 06:55] CleverFool77 commented on #6072
Hi @gautamig54 we should a proper discussion regarding dashboard today at openhour call.
I'm travelling, so not sure whether I'll come todao or not. But I'll try attending it.
If I'm not there, it would be great if you can start it.
We should have major discussions regarding new design as I mentioned above.

[2019-08-13 09:18] gautamig54 commented on #6072
I totally agree with all of this. @CleverFool77 I texted you in gitter regarding the same. We can have a discussion whenever you're free. I will discuss the design modifications with @gauravano and @ebarry today at the open call.

Also, I think it is better if we create the dashboard on the shadow page.

[2019-08-13 13:33] bebebe123 opened #6131 "Top 4 nhà cái uy tín 2019 nhất định bạn phải biết"
Kinh nghiệm cá cược
Nhà cái cá cược từ lâu đã được biết đến như là sân chơi dành cho các anh em đam mê cá cược. Và có 1 chân lý là chơi ở một nhà cái cá độ uy tín như được đứng trên vài một người khổng lồ. Thực sự, sau rất nhiều năm tích lũy kinh nghiệm cá cược thì điều đầu tiên và tiên quyết người chơi muốn tập trung hết sức là đòi hỏi phải tìm được [nhà cái](https://nhacaionline.com/) thự

[2019-08-13 16:36] #6131 closed

[2019-08-14 11:05] CleverFool77 commented on #6072
Hi @gautamig54 @jywarren
Can I know what has been decided for future prospect of dashboard design?

[2019-08-14 11:42] gauravano opened #6133 "Redis stopping the server"
Hi @namangupta01, the app's server is stopping due to Redis not running locally. So, each developer has to install redis in their system. Can we make it optional or something?

[2019-08-14 13:15] bebebe123 opened #6134 "Nhà cái W88"
W88 là một nhà cái cá cược, là hệ thống của trang web cá cược casino uy tín tiên tiến và hiện đại nhất ở Châu Á cung cấp rất nhiều các sản phẩm cược như thể thao, chơi casino trực tuyến, Poker sở hữu các kỹ thuật hiện đại và tiên tiến và luôn đổi mới trong các trò chơi trực tuyến Slot, Keno & Xổ số trực tuyến và rất nhiều trò chơi khác đem lại cho quý khách hàng những trải nghiệm thú vị và hấp dẫn

[2019-08-14 13:45] jywarren commented on #6072
Hi, this is complex, and thanks for bringing it up. Just as one simple way
forward, let me confirm that the tag cards each show recent posts under
that tag? And if so, then the issue might be a post appearing repeatedly
under multiple tags? If that is the main issue, can we not think of a way
to prevent a single node from appearing multiple times on a page? We could
pass a list of "already shown n

[2019-08-14 14:06] #6134 closed

[2019-08-14 14:11] ebarry opened #6136 "Featured Topics on publiclab.org/questions page are not visible, but links still work"
## Please describe the problem (or idea)

I visited https://publiclab.org/questions and noticed that Featured Topics is blank. When i moused over the area i expected to view tags, i saw that the link are still active because the arrow cursor changed to a hand, and the link previews showed up in the bottom left hand corner of my browser window. Here's a gif:

![questions](https://user-images.github

[2019-08-14 14:14] ebarry commented on #6136
There's a feature to controlling what appears here that has not been editorially changed by staff admins in 11 months. It can be viewed at https://publiclab.org/features --> "Questions Header"
Here's the html that's in that feature:

<h2>Questions and Answers</h2>
<h4><small>Ask a question of the Public Lab community to help you in your environmental exploration.</small></h4>

<p>New to Public Lab

[2019-08-14 14:58] jywarren commented on #6136
It looks like this feature was not updated with Bootstrap 4, though other manually curated tags listings were. The format is now `<a class="badge badge-primary" href="/tag/climate">climate</a>` instead of `<span class="label label-primary"><a href="/questions/tag/air-quality">air-quality</a></span>`.

I just adjusted them and they should work now!

[2019-08-14 14:58] #6136 closed

[2019-08-14 15:13] jywarren commented on #6128
Ah, ok, so do we need to generate a new token, or has TravisCI moved to
GitHub apps and there is some other way? Thanks, all!

On Mon, Aug 12, 2019 at 4:18 AM Kaustubh Nair <notifications@github.com>
wrote:

[2019-08-14 15:14] IshaGupta18 commented on #6128
I think @gauravano said in the call that we need a new token!

On Wed, Aug 14, 2019, 8:43 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-08-14 15:40] #6074 closed

[2019-08-14 16:22] jywarren commented on #6122
Oh goodness, yes, it's this line that needs to be re-added, allowing just
the token (in the unique URL) to be used to share despite not being logged
in:

https://github.com/publiclab/plots2/pull/5028/files#diff-b9551b46e6321bfb977e1f52104c5768L56

We should protect this with a test. Gaurav, are you able to open an issue
for this? I'll ask in the chatroom too to see if anyone is available.
Thanks!

[2019-08-14 18:53] jywarren commented on #5895
Closing this up as noted in the PR!

[2019-08-14 18:53] #5895 closed

[2019-08-15 04:02] CleverFool77 commented on #6072
Hi @jywarren This would b ok with notes !! But what about recent comments ?
Is that data lost ?

[2019-08-15 04:02] CleverFool77 commented on #6072
On the sidebar, we also latest and recently edited or added wikis. Those would be lost too ?

[2019-08-15 10:16] CleverFool77 commented on #6092
Hi @newbazz Are you working on this? Or any updates?

[2019-08-15 10:43] newbazz commented on #6092
@CleverFool77 sorry but i am going a bit busy lately, yes i can work but it can take a few days, you can carry on with this if it's urgent. Sorry for the delay.

[2019-08-15 13:53] CleverFool77 commented on #6092
Cool. @newbazz You can take your time
Thanks !

On Thu, Aug 15, 2019 at 4:14 PM newbazz <notifications@github.com> wrote:

[2019-08-15 15:06] jywarren commented on #6097
@ebarry @steviepubliclab  how do you feel about the functionality of the `Subscribe` button opening a dropdown with not only the tag itself but other related tags, in a "multi-subscribe" function, as in the screenshot above (https://github.com/publiclab/plots2/issues/6097#issuecomment-517902584)? (on tag pages)

This made sense in other places, but now that the tag page is kind of the lead page fo

[2019-08-15 15:07] jywarren commented on #6097
Versus on the tag page now:

![image](https://user-images.githubusercontent.com/24359/63104340-d1376900-bf4c-11e9-9cbc-a47ca817b78a.png)

[2019-08-15 15:09] jywarren commented on #6072
I see. I guess the advantages conceptually of organizing by topic "forum"
(i.e. topic cards) is so great that I'm inclined to try to fit the extra
needs (showing comments, wikis) into that framework. Wikis I'm less worried
about as most activity I think relevant to most users is notes/questions
and comments. But comments, yeah. It's a good point.

Looking at the tag cards, can you see a natural pl

[2019-08-15 15:24] CleverFool77 commented on #6072
Hi Jeff.
But then how would we get to know whether its comment or post on notes.
How would we differentiate.

Besides comments are huge sometimes, so you wanna cut it to some words? As
unlike notes title, it's not small to fit completely in cards.

On Thu, 15 Aug 2019, 20:39 Jeffrey Warren, <notifications@github.com> wrote:

[2019-08-15 15:29] jywarren commented on #6072
Yes, i agree. My initial reaction is to not show comment text at all on tag
cards. My second idea might be to show both notes and comments mixed
together, but with comments using a "comment" icon instead of the circle
with lead image, as notes do. If we did that second idea, we would have to
truncate the comments to something reasonable, like 100 chars maybe.

On Thu, Aug 15, 2019 at 11:25 AM Lekh

[2019-08-15 15:33] CleverFool77 commented on #6072
Hi Jeff.
When we click on `more posts`, we tend to to notes part of that individual
tags page. Or when we click on more questions part. We do the same. But how
this should be dealt in comment parts?. We don't have specific comments
section, as they are associated with notes.
And we can't click like more comments for this.
Or should we add something for comments part?

On Thu, 15 Aug 2019, 20:59 Je

[2019-08-15 15:39] jywarren commented on #6072
Perhaps the easiest solution really is to make a new page at, i.e.,
https://publiclab.org/comments/tag/spectrometry to match
https://publiclab.org/wiki/tag/spectrometry etc. I had thought this was too
big a project, but our other design ideas for comments on tag cards seem
too complicated to work well, so maybe we really should show "151 posts |
352 comments" at the bottom left of each tag card?

[2019-08-15 15:41] jywarren commented on #6130
Hi, everyone! Pushing my limits here to catch up after my time off. I'm so glad to see you all again, and am trying to help resolve critical issues first. I was able to resolve a MapKnitter export bug and am working on Travis tokens today. So eager to see what you've all accomplished. Thank you!

[2019-08-15 15:42] #6078 closed

[2019-08-15 15:47] CleverFool77 commented on #6072
This seems better solution.
The link you told us for comments on that particular tag could be used.

Thanks !!

On Thu, 15 Aug 2019, 21:09 Jeffrey Warren, <notifications@github.com> wrote:

[2019-08-15 16:33] jywarren commented on #6072
Awesome.

On Thu, Aug 15, 2019, 11:48 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-08-15 16:50] jywarren commented on #6128
OK, working on this now!

[2019-08-15 16:55] jywarren commented on #6128
OK, just as in https://github.com/publiclab/plots2/issues/2758#issuecomment-409355915, I added a `DANGER_GITHUB_API_TOKEN` set to `display value in build log`-- following instructions at https://danger.systems/guides/getting_started.html#setting-up-an-access-token, and generated the token at https://github.com/settings/tokens

[2019-08-15 17:00] jywarren commented on #6128
@kaustubh-nair i also repeated this for MapKnitter; can you try restarting some tests to see if it works? Thanks!

[2019-08-15 17:22] jywarren opened #6138 "Sockets error"
Hi, @namangupta01 I'm seeing this error --

![image](https://user-images.githubusercontent.com/24359/63113022-a86c9f00-bf5f-11e9-95ab-997c5058c9eb.png)

Any thoughts on this? Thanks!

[2019-08-15 17:22] jywarren commented on #6138
Just on this page, but probably on any page? https://publiclab.org/wiki/sandbox-projects

[2019-08-15 17:43] jywarren commented on #6128
Looks like this worked for `plots2`!!!

[2019-08-15 17:43] #6128 closed

[2019-08-15 18:13] namangupta01 commented on #6138
Hey @jywarren, good to see you back. I think this error is same as https://github.com/publiclab/plots2/pull/5744#issuecomment-504156582 Can you have a look at nginx configuration at the server and check if it is updated as specified in the link or not?
Thanks

[2019-08-15 18:18] namangupta01 commented on #6133
Hey @gauravano, Yup it's necessary to use Redis locally because we are using action cable. And action cable server automatically starts when our rails server starts. But what we can do is that we can configure our Redis server in such a way that it automatically starts running when the system starts. What do you think?

[2019-08-15 18:45] #6039 closed

[2019-08-15 19:25] jywarren commented on #6133
Could we distinguish using development/production? So it only runs in
production? Or could we use a config file to set it and default to it being
off unless production server settings override the default?

On Thu, Aug 15, 2019 at 2:19 PM Naman Gupta <notifications@github.com>
wrote:

[2019-08-15 19:34] namangupta01 commented on #6133
Actually, when Gaurav asked this question, I searched for it and found no
convincing method but I can research more to actually find out what we can
do here. Thanks

On Fri, Aug 16, 2019 at 12:55 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-08-15 19:36] namangupta01 commented on #6138
@jywarren can you check for the nginx conf and confirm if it is the case of nginx conf or not?

[2019-08-15 19:38] namangupta01 commented on #6138
I guess we have correct nginx conf on unstable and stable servers

[2019-08-15 19:48] jywarren commented on #6085
Hmm, yes it is! `export WEBSITE_HOST_PATTERN=://publiclab.org/n/`

[2019-08-15 19:55] jywarren commented on #6101
Hmm, i'm not sure. I'm going to close it, although it probably is some facet of a bug we just haven't surfaced yet.

[2019-08-15 19:55] #6101 closed

[2019-08-15 21:06] jywarren commented on #6097
Hi! One more I noticed - -perhaps the "X more posts" links in the profile page tag cards should go not just to the tag page, but to the page showing tagged content by that author:

https://publiclab.org/profile/warren

so, to https://publiclab.org/tag/community-atlas/author/warren for example. What do you think?

[2019-08-16 06:16] CleverFool77 commented on #6097
Hi @jywarren
I found another thing !!

I saw what you wrote about link ! and opened a PR on this !!
But I have one doubt !!
When I clicked on the link, its showed `3 more posts`  but when I clicked on it, the directed link to list of posts doesn't show those three posts ..

![li](https://user-images.githubusercontent.com/26685258/63147315-525d3180-c01b-11e9-9bad-186aa11ec10d.gif)

Here is full pag

[2019-08-16 11:14] gauravano commented on #6128
Thank you @jywarren!!

[2019-08-16 12:19] gauravano commented on #6133
That'd be great Naman. Thank you!

[2019-08-16 12:36] gauravano commented on #6122
I will take this issue @jywarren.

[2019-08-16 14:20] jywarren commented on #6122
Thank you, Gaurav!!!

On Fri, Aug 16, 2019 at 10:08 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-08-16 14:36] jywarren opened #6141 "Login flow issues - explore and address with system tests"
I noted that when logging in, if I don't have the correct username, I'm sometimes redirected to the /research page or to the front page (/) instead of back to the login page. Sometimes I see a notice that says something like `You must be logged out to see that page`.

I also note #4691 and https://github.com/publiclab/plots2/issues/5198 as potential login flow issues.

I'd like to suggest we creat