[2021-04-29 16:52] TildaDares commented on #9563
@jywarren The issue at #9574 is different from this one. The `setTimeout()` will be added to the PR for this issue.

[2021-04-29 17:51] aliciapaz commented on #9586
I'd like to work on this and create the FTO.

[2021-04-29 20:04] Elukoye commented on #9388
@jywarren, @RuthNjeri, @cesswairimu here is a link to my latest proposal, I would appreciate feedback from you and anyone else, thanks 🙏 .
https://publiclab.org/notes/lukoyedith/04-27-2021/sample-draft

[2021-04-29 20:06] Elukoye commented on #9388
@jywarren, about signing in with gitter, I don't think I can see recent messages. I posted something in the chat but it doesn't show.

[2021-04-29 20:20] jywarren commented on #9388
I'm sorry @Elukoye are you using https://gitter.im/publiclab/publiclab ? Can you try again there?

[2021-04-29 20:59] aliciapaz commented on #9586
Looks like this template was deliberately used for this route:

In notes_controller.rb
![image](https://user-images.githubusercontent.com/67963195/116613014-32ac9080-a906-11eb-879b-8a16e0a44423.png)

However, the one used in tag_controller.rb is not really a template:

At the end of `tag#show`
![image](https://user-images.githubusercontent.com/67963195/116613253-6f788780-a906-11eb-9089-c0af9d7783d

[2021-04-30 00:15] TildaDares commented on #9412
@cesswairimu Can I use local storage to persist the button's state?

[2021-04-30 15:45] waridrox commented on #9568
Sure @swetshaw 😄, go for it! 🚀 This issue is still not claimed so feel free to open a PR and ask for help if required :)

[2021-04-30 16:01] jywarren commented on #9586
Oh no, i'm thinking of `tag/show`, as you say, not `notes/show`. My bad!

[2021-04-30 16:02] jywarren commented on #9586
So my suggestion to try out might be to try changing `notes/index` to `tag/show`? I hope that would work!

[2021-04-30 16:08] aliciapaz commented on #9586
Thanks @jywarren
I tried that, but since the links are hardcoded, when you click on 'questions', it goes to `questions/tag/<TagNameButIsReallyAnAuthorName>`
that's what I meant with:

[2021-04-30 16:17] aliciapaz commented on #9586
I think this could work!!

[2021-04-30 21:06] Priyaraj17 commented on #9497
Is anyone working on it?

[2021-04-30 22:49] TildaDares commented on #9497
@Priyaraj17 The code for the footer is not in the plots2 repo. You can try it if you want though.

[2021-05-01 07:01] Manasa2850 commented on #9411
@Priyaraj17 are you working on this?
I am writing tests for the same. If you are not working on this issue currently, I would like to take it up.
Thanks!

[2021-05-01 07:08] Priyaraj17 commented on #9411
Hey, sorry I got the in middle of other issues and I couldn't focus on this one. If you have started working on this then I think you should go ahead. I might try to review your pr. If it's okay.
Thanks!

[2021-05-01 12:21] RuthNjeri commented on #9566
Hi @cesswairimu, since the Outrechy applications have been extended, I would like to set up the next checking to encourage folks to submit their proposals

[2021-05-01 17:06] RuthNjeri commented on #9566
Actually, the deadline is Monday..so this checkin will apply on Monday too

[2021-05-01 17:11] cesswairimu commented on #9566
Sounds hood @RuthNjeri  🎉🎉. Thanks

[2021-05-01 17:25] Priyaraj17 commented on #9497
Sure. I can try it using the dev tools.

[2021-05-01 19:37] RuthNjeri commented on #9586
Hi @aliciapaz and @jywarren, I am having a look at this now, yes I did work on the notes/index view, if you want to have a look at the changes that were made, you can have a look at it [here](https://github.com/publiclab/plots2/pull/8848/files#diff-4fe647349351c7492508c788230b91b7f4445d4b821f6781ac7fcfad5e879f21)

I have looked at the `tag/show` file, it has a lot of reliance on tags instance vari

[2021-05-01 19:46] RuthNjeri commented on #9388
Hi @Elukoye, I have shared some feedback on your proposal, thanks for sharing.

[2021-05-01 19:49] RuthNjeri commented on #9512
Hi @DR-FREKE thanks for reaching out, I think you can pick it up, I do not see a PR linked to this issue if @jcads has been working on it...plus it has been 13 days since the issue was assigned. Please go ahead and work on it.

[2021-05-02 12:01] Manasa2850 opened #9591 "Wikis don't display unique results"
### Please describe the problem (or idea)
In reference to this [comment](https://github.com/publiclab/plots2/issues/9290#issuecomment-810771501).
Many rows are repeated multiple times in the wikis table which leads to there being 2067 pages.

Same thing is observed in the local environment too.
![temp](https://user-images.githubusercontent.com/43354059/116812301-c9c65200-ab6b-11eb-84e7-47617b326c1

[2021-05-02 12:50] RuthNjeri commented on #8749
Hi @harryobas, thanks for reaching out. Someone else opened a pull request on this last year https://github.com/publiclab/plots2/pull/8776 you can have a look at it and see if you can submit a new PR with updates changes. thanks.

[2021-05-02 13:37] RuthNjeri commented on #9497
Hi, @TildaDares and @Priyaraj17 should we close this issue? Since the code that needs to be updated is on the public lab features list https://publiclab.org/features and not on the repo?

[2021-05-02 13:42] TildaDares commented on #9497
@RuthNjeri I'll close it.

[2021-05-02 13:42] #9497 closed

[2021-05-02 13:50] RuthNjeri commented on #9568
Hi @swetshaw, thanks for reaching out. Please go ahead and work on it.

[2021-05-02 13:54] #9412 closed

[2021-05-02 13:59] Priyaraj17 commented on #9497
Sure. No problem.

[2021-05-02 14:14] #9585 closed

[2021-05-02 16:14] Priyaraj17 opened #9593 "Bug in the search input form in the navbar."
### Please describe the problem (or idea)

Whenever we focus on the search input. A vertical blue line appears at the right. Take a look at this image to understand the problem
![WhatsApp Image 2021-05-02 at 9 31 17 PM](https://user-images.githubusercontent.com/40101776/116819462-cfcd2a80-ab8d-11eb-9774-281c8a676bfc.jpeg)

The line should be removed.

### Please show us where to look

https://publ

[2021-05-02 18:44] Priyaraj17 commented on #9338
Is this issue still open right now? May I take a look in it?

[2021-05-02 21:10] Elukoye commented on #9593
Can I work on this @Priyaraj17 ?

[2021-05-03 04:11] Priyaraj17 commented on #9593
@Elukoye sure go ahead. Let me know if you face any problem.

[2021-05-03 06:11] Guneetsinghtuli commented on #9083
Hello @cesswairimu @jywarren  I am new to open source and looking for first timers only , It will be very appreciating if you could help me out with this and also mention my name on the list .

[2021-05-03 07:30] Elukoye commented on #9593
@Priyaraj17  thanks ,I will

[2021-05-03 12:14] ampaire commented on #5382
Hello @jywarren, I have worked on this issue and will be glad if you check it out on this [Pull request](https://github.com/publiclab/plots2/pull/9594). This is my first time contributing to open source. I will be glad for any help rendered.

[2021-05-03 17:23] aliciapaz commented on #9586
Thank you @RuthNjeri
So broken down in tasks, this issue would require:

- Writing unit and functional tests for the tab links in `notes/author`
- Creating a new view for `notes/author` based on `notes/index` but with the contents by tabs instead of nav

Does this make sense?
This would be my first time contributing to the tests of the project 👀

[2021-05-03 18:25] Elukoye commented on #9593
Hi @Priyaraj17,
I had a look at this and realized that the blue line is coming from the data-focus-visible-added class
![Screenshot (79)_LI](https://user-images.githubusercontent.com/46542515/116916348-e048d800-ac55-11eb-905b-6e7af6b22e33.jpg).

[2021-05-03 18:27] Elukoye commented on #9593
Therefore, i don't think it is a bug, let me know your thoughts. 🙂

[2021-05-03 19:10] Priyaraj17 commented on #9593
Ohh, I see. Give me a couple of minutes @Elukoye

[2021-05-03 19:14] Elukoye commented on #9543
@noi5e, could you assist me with this  🙂 ?
I think the comment's controller logic is ok.
I checked this file https://github.com/publiclab/plots2/blob/e646cfd248e46fe9cf11a2eb7860bbf29f949b7/app/views/comments/_comments.html.erb
and I think it should be modified to render comment partials for current users that are neither moderators, then render their partials without the flag as spam action, edit

[2021-05-03 19:15] Priyaraj17 commented on #9593
You are right, thank you for the effort. I apologise for this. I hope you didn't spend a lot of time on this.

[2021-05-03 19:19] Elukoye commented on #9593
No problem @Priyaraj17  🙂👍,maybe we could request for this issue to be closed by the mentors ?

[2021-05-03 19:23] Priyaraj17 commented on #9593
Yeah sure. I will ask for their opinion.

[2021-05-04 03:57] sentry-io[bot] opened #9595 "Net::SMTPAuthenticationError: 454 4.7.0 Too many login attempts, please try again later. n16sm396795qtl.48 - gsmtp"
We seem to be hitting another SMTP limit at GMail. Not as often as before, but still relevant.

Sentry Issue: [PLOTS2-1A1](https://sentry.io/organizations/publiclab/issues/2356309954/?referrer=github_integration)

[code]

[2021-05-04 05:14] Priyaraj17 commented on #8977
Hey, I think it will look more attractive if the social media icons are in the center. @cesswairimu is it okay?

[2021-05-04 08:48] cesswairimu commented on #9083
hI @Guneetsinghtuli and welcome, adding your name to the list. Thanks

[2021-05-04 09:03] cesswairimu commented on #9593
hi everyone, the above image I believe consists of two elements, the search field, and the search icon as a clickable button....I wouldn't say its a bug because we meant it to be like that...what you could do @Elukoye  @Priyaraj17 you could come up with a mockup of how you would like to improve that section and then we can discuss from there...in the meantime I will label this as "enhancement" ..w

[2021-05-04 09:07] cesswairimu commented on #9338
Hi @Priyaraj17 , you could confirm if the issue is still happening on https://stable.publiclab.org, if so, please go ahead. Thanks

[2021-05-04 13:20] Priyaraj17 commented on #9593
I think it's a nice idea. We can definitely come up with a solution.

[2021-05-04 13:23] kaylawoodbury commented on #9398
@cesswairimu Hi, I was wondering if I could take this issue up?

[2021-05-04 13:29] waridrox commented on #9593
How about changing the focus state border box shadow style to reflect inside the input field 🙂...That way the user is able to see the border focus shadow clearly which the current search box is unable to achieve due to a dark background around the input field:
<img width="440" alt="Screenshot 2021-05-04 at 6 50 19 PM" src="https://user-images.githubusercontent.com/58583793/117009958-ec8e6d00-ad09-

[2021-05-04 13:40] cesswairimu commented on #9398
hi @kaylawoodbury , we would love your help. Please go ahead. thanks

[2021-05-04 13:44] cesswairimu commented on #9083
Hi @Guneetsinghtuli, here is one you could  pick up  https://github.com/publiclab/plots2/issues/9540 . Thanks

[2021-05-04 13:45] cesswairimu commented on #9584
Fixed in https://github.com/publiclab/plots2/commit/5dcd7f49d8128e87f994040b02d95460c886284e. Closing this

[2021-05-04 13:45] #9584 closed

[2021-05-04 13:57] cesswairimu commented on #9566
Lets keep this open for another rest of this week too..thanks all

[2021-05-04 14:16] cesswairimu commented on #639
Just opened the link provided and the images seem to be loading fine...not sure if this issue was fixed or they re-uploaded...anyway, closing this. feel free to reopen if we are still experiencing the issue. Thanks all

[2021-05-04 14:16] #639 closed

[2021-05-04 14:21] Priyaraj17 commented on #9593
@waridrox hey, I prefer this over the current one. Let's see what the mentors have to say and also @Elukoye what do you think?

[2021-05-04 14:37] Elukoye commented on #9593
@Priyaraj17 ,@waridrox ,I like what @waridrox  suggested but I think the box shadowing should be around the border of the input ,like below ![Screenshot_20210504-173712.png](https://user-images.githubusercontent.com/46542515/117020729-62410b80-acff-11eb-93b3-46307f746415.png)

[2021-05-04 14:49] Guneetsinghtuli commented on #9083
ok @cesswairimu I will claim #9540 issue , and will work on it . Do I need to mention the same on the issue comment section ?

[2021-05-04 15:01] cesswairimu commented on #9083
yes please @Guneetsinghtuli . thanks

[2021-05-04 15:56] Priyaraj17 commented on #9593
Both of them are good. But, prefer @waridrox's suggestion. Let's see what others have to say.

[2021-05-04 16:08] Guneetsinghtuli commented on #9540
Hi @cesswairimu @jywarren I would like to work on this issue #9540 , Can you assign this to me ?

[2021-05-04 16:08] cesswairimu commented on #714
UPDATE
-----------------------

The file links currently that still have this references are:

https://github.com/publiclab/plots2/blob/main/app/controllers/wiki_controller.rb
https://github.com/publiclab/plots2/blob/main/app/controllers/notes_controller.rb
https://github.com/publiclab/plots2/blob/main/app/models/node.rb
https://github.com/publiclab/plots2/blob/main/app/services/search_service.rb

[2021-05-04 16:16] harryobas commented on #8749
Hi @RuthNjeri  I have submitted a PR but the test is failing. I'm i missing something?

[2021-05-04 16:38] #5955 closed

[2021-05-04 16:46] TildaDares commented on #9540
@Guneetsinghtuli Go ahead🎉

[2021-05-04 16:54] jywarren commented on #9502
Thanks @RuthNjeri -- but isn't `yarn install` already part of our install process?

What was it about yarn install that caused you to need to update gems?

I'm looking especially at `rails g webpacker:install:react` to double-check what it does:

https://github.com/reactjs/react-rails#rails-5x

https://github.com/reactjs/react-rails/blob/f8148d57a6d96b27bddfaef9f9bf26e233b27bd6/Rakefile#L26-L29

t

[2021-05-04 17:03] jywarren commented on #9502
Also, in general it seems like there is evolving guidance on how to completely switch from Rails Asset Pipeline to Webpacker using this gem: https://github.com/reactjs/react-rails/issues/1052 which could be good to look at.

[2021-05-04 17:25] aliciapaz commented on #9398
Hi @cesswairimu and @kaylawoodbury!
Isn't this issue already solved in [this PR](https://github.com/publiclab/plots2/pull/9401)?

[2021-05-04 19:32] eightballocto opened #9597 "Potential migration to "purpose-built" libraries such as TailwindCSS and TippyJS"
**Let me preface this by saying that this is an extremely bold proposal, and that in no way should this be considered a "feature request" or even considered (yet?).**

I brought this up in a recent Gitter conversation, but we may benefit from switching to smaller, more purpose-built libraries like TailwindCSS and TippyJS.

## Personal Opinion
Bootstrap is only so powerful and becomes a detriment t

[2021-05-04 20:08] jywarren commented on #9586
Hi @aliciapaz yes i think that's correct - and i appreciate the idea from @RuthNjeri on separating functions. I /believe/ we can use just the partial template for the tabs, instead of rewriting the tabs, is that right @RuthNjeri?

https://github.com/publiclab/plots2/blob/main/app/views/tag/show/_nav_tabs.html.erb

[2021-05-04 20:08] jywarren commented on #9586
Thank you!!!! @aliciapaz if you need help on where to begin please reach out!

[2021-05-04 20:14] #9563 closed

[2021-05-04 22:01] jywarren commented on #6367
Yes, that's correct! Sorry for the slow reply!!! Thank you! And thanks @manishaag7 we appreciate all the help we can get. 🎉

[2021-05-04 22:01] jywarren commented on #9403
Ended up merging https://github.com/publiclab/plots2/pull/9404 instead, also by @jcads! Thanks!

[2021-05-04 22:02] jywarren commented on #6367
@jcads yours got merged in https://github.com/publiclab/plots2/pull/9404 instead, thank you!!

[2021-05-04 22:11] jywarren commented on #9541
I think you're correct @gaurav2699 -- i'll close for now and have confirmed all those pages work on the live site too! Thank you!!!

[2021-05-04 22:11] #9541 closed

[2021-05-04 22:13] #3322 closed

[2021-05-04 22:35] #5382 closed

[2021-05-04 22:45] #4504 closed

[2021-05-05 08:21] Guneetsinghtuli commented on #9540
@TildaDares @cesswairimu I have made a pull request please have a look and let me know if there are any changes

[2021-05-05 10:06] Elukoye commented on #9593
Ok then shall I implement @waridrox 's suggestion?

[2021-05-05 11:03] cesswairimu opened #9600 "Weekly Community Communication #2 🙋‍♀️🙋🙋‍♂️"
Welcome!  Below you will find links to our weekly community check-ins.   Feel free to introduce yourself, ask questions in the current one, and explore past check-ins to get a feeling for the community.

### Where to communicate this week:

🙌🙌🙌🙌🙌🙌🙌🙌🙌🙌🙌 🙌🙌🙌🙌🙌🙌🙌🙌🙌🙌🙌
**Issue Link:** https://github.com/publiclab/plots2/issues/9566 🎉
**Theme:**  -  Outreachy applications closing soon!! by @cesswairimu

[2021-05-05 11:05] cesswairimu commented on #5627
moving this to https://github.com/publiclab/plots2/issues/9600 thanks everyone :heart:

[2021-05-05 11:05] #5627 closed

[2021-05-05 11:51] kaylawoodbury commented on #9398
Hi @aliciapaz!
Ah ok, sorry wasn't sure of the status of this issue since it was still open. Thanks for pointing me towards issue #9083, I'll leave a comment there :)

[2021-05-05 11:53] kaylawoodbury commented on #9083
Hi, I am new to open source contribution and would like to work on a first-timer issue. Could you also add my name to the list? Thanks :)

[2021-05-05 13:30] Manasa2850 commented on #5047
@kaylawoodbury you can work on this!

[2021-05-05 13:30] Manasa2850 commented on #9083
Hi @kaylawoodbury you can work on #5047.

[2021-05-05 13:52] Elukoye commented on #9593
@cesswairimu ? @ jywarren ?

[2021-05-05 14:01] kaylawoodbury commented on #9083
@Manasa2850 Thanks! I'll leave a comment on that issue as well :)

[2021-05-05 14:04] kaylawoodbury commented on #5047
@Manasa2850 Awesome, thanks! I'll get started on this :)

[2021-05-05 14:48] carlos-osorio-developer commented on #9568
Hello! I want to start contributing to open source, this is my very first time. Is this issue already taken? Should I wait for a new beginner's issue? I'm seeing that all the beginner's issues are already taken. Thanks a lot!

[2021-05-05 14:56] carlos-osorio-developer commented on #9083
Hello! I want to start contributing to open source but this is my very first time. Can you put me in the queue? Thanks! You people have a great system for newbies like me :P

[2021-05-06 07:45] Priyaraj17 commented on #9593
@Elukoye Hey, I think they are busy. Maybe you can start working on it.

[2021-05-06 10:12] waridrox commented on #9593
Hi all sorry for the delay 😅, I thought we were just brainstorming here for the ideas...maybe we could try implementing both the ideas and see which one suites better ? It's just a matter of applying the styles to the search box once we find where it lies in the codebase 👍

[2021-05-06 13:50] Priyaraj17 commented on #9593
Yeah. Sure. I like this idea. We can compare which one looks better.

[2021-05-06 18:55] Elukoye commented on #9593
@Priyaraj17 ,@waridrox  I already started playing around with it and I realized that what I suggested was the default Bootstrap style. Also as @cesswairimu  said ,the bootstrap implementation involves 2 buttons. I have seen that some of the files ,they have used inline styling. So was wondering if I could override the default style with inline css.
What do u think @waridrox ,since u suggested addi

[2021-05-06 19:00] Elukoye commented on #9593
@Priyaraj17 ,the code is in the views folder , layouts dub folder ,header partial ,line 20.

[2021-05-06 21:19] waridrox commented on #9593
@Elukoye, I think it's not possible to deal with pseudo classes like `:focus` using inline CSS 😅. Either we need to use the `<style>` tag or we can apply the styles in the file `app/assets/stylesheets/styles.css` and see if that works.

[2021-05-06 21:37] Priyaraj17 commented on #9593
@Elukoye, Thanks, I will take a look too.

[2021-05-06 21:39] Priyaraj17 commented on #9593
@Elukoye Thank you. I will also take a look into it. I think @waridrox it's better if we apply the styles in app/assets/stylesheets/styles.css.

[2021-05-07 07:50] TildaDares commented on #9543
@Elukoye I think you should be looking at https://github.com/publiclab/plots2/blob/e646cfd248e46fe9cf11a2eb7860bbf29f949b7d/app/views/notes/_comment.html.erb#L55-L70

[2021-05-07 08:31] TildaDares opened #9603 "Standardize presentation of results on tag pages (Contributors)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-05-07 12:45] P0NC1K commented on #9603
Did my first contribution to an open source. Now I'm feeling like a real text-changing developer :))

[2021-05-07 15:20] TildaDares commented on #9603
@P0NC1K As you should🎉

[2021-05-07 15:22] TildaDares commented on #9603
@majorhaji Thank you ❤️, this means a lot.

[2021-05-07 17:50] TildaDares commented on #9603
@aws107 Someone's already working on it.

[2021-05-07 18:28] #9591 closed

[2021-05-07 18:32] Elukoye opened #9608 "Add WSL2 set-up instructions for Redis"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-05-07 19:04] RuthNjeri commented on #9586
@aliciapaz yes, that's correct, I am not too sure you can write a unit or functional test for the tab links, testing whether it is a tab sounds like a system test. I think the links have their respective tests, but if they don't, you can add them. I trust your judgement with the testing, you can add them and tag me to review.

@jywarren yes, reusing the nav_tabs template sounds good!

[2021-05-08 00:12] TildaDares commented on #9510
@jywarren @ebarry I think the issue with the count error in the contributors tab is because of https://github.com/publiclab/plots2/blob/9b60ef6f719c5150e32155475314d51b06c114e7/app/models/tag.rb#L348-L354
That method is used to count the number of notes which excludes wikis https://github.com/publiclab/plots2/blob/9b60ef6f719c5150e32155475314d51b06c114e7/app/controllers/tag_controller.rb#L450
 Is

[2021-05-08 03:53] Elukoye commented on #9593
@Priyaraj17 ,@waridrox what about simply adjusting the color of the navbar ? To make it lighter or blend in nicely with bootstraps light blue focus on the input's border ?

[2021-05-08 14:37] xdshivani commented on #9608
I would like to work on this

[2021-05-09 03:54] Elukoye commented on #9608
@xdshivani ,all yours 🙂🚀

[2021-05-09 05:19] anirudhprabhakaran3 commented on #9597
Switching over to Tailwind could be a great idea. The approach would give us a lot more flexibility in the visuals of the website. However, it would take a long time to implement that. There is also the factor of code readability: to get something done in Tailwind, we might have to add lots of classes to an element, and that could make the code kind of ugly. But maybe Tailwind is the way for the f

[2021-05-09 07:36] xdshivani commented on #9608
I am working on this.

[2021-05-09 10:48] cesswairimu commented on #1336
We are using github actions now and it outputs the failures at the end of the test...easy to track now....Closing this, thanks all

[2021-05-09 10:48] #1336 closed

[2021-05-09 11:02] cesswairimu commented on #1111
the dropdown  has been removed. Closing this

[2021-05-09 11:02] #1111 closed

[2021-05-10 15:28] jywarren opened #9610 "Error during replying to a comment led to comment being posted independently"
I left a comment reply on this comment: https://publiclab.org/questions/warren/05-06-2021/what-kind-of-spatial-acidity-variation-could-be-evidence-of-pollution-source-in-a-river#c28718

However i saw a red "Error" message appear when I submitted it. When i reloaded the page, my comment appeared by itself instead of in response to the original comment.

![Screen Shot 2021-05-10 at 11 26 32 AM](http

[2021-05-10 17:56] TildaDares commented on #9610
@jywarren I'd like to work on this.

[2021-05-10 19:51] sentry opened #9612 "High priority: Errno::ENOSPC: No space left on device errors (assorted)"
Sentry Issue: [PLOTS2-1BR](https://sentry.io/organizations/publiclab/issues/2391760047/?referrer=github_integration)

[code]

[2021-05-10 22:10] jywarren commented on #9002
We went ahead and implemented the login check for all `/stats*` routes! This should mean we should shortly be able to waive the password protection.

https://github.com/publiclab/plots2/pull/9536

[2021-05-11 01:52] #9612 closed, assigned to nobody

[2021-05-11 06:50] cesswairimu opened #9614 "Weekly Community Check-In #102 - Tech podcasts / newsletters recommendations"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-05-11 07:02] cesswairimu commented on #9388
unpinning this to pin back weekly communication issue.

[2021-05-11 08:54] cesswairimu commented on #9603
Hi @aws107  feel free to request an issue here #9083 if you are still looking for one. Thanks

[2021-05-11 09:03] cesswairimu commented on #9083
HI @carlos-osorio-developer and welcome, I have added your name to the list and we will ping you when new fto comes along. Thanks

[2021-05-11 15:40] sentry-io[bot] opened #9618 "JS compression error "Parser error"? during asset pipeline process"
Sentry Issue: [PLOTS2-1D0](https://sentry.io/organizations/publiclab/issues/2392823623/?referrer=github_integration)

[code]

[2021-05-11 15:50] jywarren commented on #9618
Does this mean it's on character 439 of this string?

[code]

[2021-05-11 15:54] jywarren commented on #9618
Wow this actually looks like an unescaped quotation mark:

[code]

this segment specifically:

[code]

We might search for this online maybe? It seems like it could be related to our Webpacker/React code?

[2021-05-11 19:18] jywarren commented on #7908
I recall someone suggesting we need much better test data to reproduce this and I wanted to suggest we develop some code snippets that can be used to generate a ton of users, tags, and subscriptions, to try to simulate the failure.

[2021-05-11 19:23] jywarren commented on #9219
Hi @gautamig54 we'd love to have your help too, sorry for the slow reply -- did you fill out the form linked above? Thank you!

[2021-05-11 19:42] jywarren commented on #9614
Hi all! I really enjoy the Code Newbie podcast for the folks they interview and the themes they cover, and especially how they approach them. Strongly recommended! For example "What it’s like to break into tech as a mother with Arit Amana" or "Why ethics and contributor behavior matters in open source with Coraline Ada Ehmke":

https://www.codenewbie.org/podcast

I also quite enjoy some episodes o

[2021-05-11 20:23] jywarren opened #9620 "Auto-syncing new translations (for all languages) from Transifex didn't work smoothly"
I'm trying out the auto-PR generation in Transifex, for the #3262 wrap-up and #9257 projects for GSoC, and i tried running it, but got this error:

![image](https://user-images.githubusercontent.com/24359/117879402-f158a100-b274-11eb-8e64-1cd8e3b4d213.png)

[code]

To run it, i set up a config file like this:

[code]

Then pressed Sync here:

![image](https://user-images.githubusercontent.com/2435

[2021-05-11 20:24] jywarren commented on #9620
I hope to return to this next week!

https://www.transifex.com/publiclab/publiclaborg/settings/integrations/

[2021-05-11 20:26] jywarren commented on #9481
Working on this in #9619! Next week i hope! 😅

[2021-05-12 02:51] anirudhprabhakaran3 commented on #9597
We could try to make like a rollout schedule, where we update some portions and deploy. We'll also need to get more people involved in this; could lead to more first-time contributions.

If the maintainers think the schedule and changes are good, we could try it out. Another point of discussion should be whether we should even make the shift. The issue with bootstrap performance is there, are ther

[2021-05-12 09:16] TildaDares commented on #9610
@jywarren I can't seem to reproduce the error locally.

[2021-05-12 11:42] Elukoye commented on #9618
Hi @jywarren ,I want to work on this.

[2021-05-12 15:15] Priyaraj17 commented on #9338
Hey @cesswairimu , Sorry I didn't see your message. I found that it's still happening on [https://publiclab.org/wiki/tag/agriculture?](https://publiclab.org/wiki/tag/agriculture?). I wasn't able to reproduce this issue on [https://stable.publiclab.org](https://stable.publiclab.org). Can you take a look?
Thanks!

[2021-05-12 15:26] Priyaraj17 commented on #9543
@Elukoye are you currently working on this issue? May I take a look into this?

[2021-05-12 19:12] bhamster07 opened #9623 "Existing tags not showing up as an exact match in search bar autosuggestions"
### Please describe the problem (or idea)

Not quite a bug, but more of an observation that I didn't realize was limiting the results I'd see when using the search bar: when previously searching for mapping content, I entered `mapping` into the search bar, and that tag didn't appear in the autosuggested list of tags (see screenshot). But today I saw the `mapping` tag on a post and clicked on it, a

[2021-05-13 03:00] Elukoye commented on #9543
@Priyaraj17 ,hi 🙂....yes am still working on this ,so far have been able to check for this error in the development environment and it seems as though the delete and edit button don't show there ,I had a problem with redis,managed to fix that ,so now I want to test it gain.

[2021-05-13 03:40] Priyaraj17 commented on #9543
Okay, let me know if you need any help. Thanks!

[2021-05-13 08:29] waridrox commented on #9593
@Priyaraj17 @Elukoye, any updates ?? I tried my option -

![test](https://user-images.githubusercontent.com/58583793/118099774-55a16f00-b3f3-11eb-9879-0958ebc3dd8e.gif)

What do you guys think. @Elukoye pls share your solution as well so that we can finally come upon a decision...

[2021-05-13 09:46] Priyaraj17 commented on #9593
@waridrox Thanks for sharing your approach.  This looks good. I think we should close this issue today, @Elukoye what do you think?

[2021-05-13 14:08] Elukoye commented on #9593
@Priyaraj17 ,@waridrox  looks good . Thanks for sharing ,yes we can close this

[2021-05-13 14:59] Priyaraj17 commented on #9593
@waridrox Can you please make the PR?

[2021-05-13 15:50] waridrox opened #9624 "Changing search input box shadow style"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-05-13 15:56] Jordan-Rob commented on #9624
🙋‍♂️I would like to claim this issue

[2021-05-13 15:58] Priyaraj17 commented on #9624
Hey @Jordan-Rob Please go ahead. Thanks!

[2021-05-13 15:59] waridrox commented on #9624
Woah, that was quick! @Jordan-Rob go for it 🚀

[2021-05-13 16:52] waridrox opened #9626 "Add unicode emoji for First-Timers-Only issue"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-05-13 17:17] cesswairimu commented on #9338
Hi @Priyaraj17  I was able to replicate over here https://stable.publiclab.org/wiki/tag/agriculture?

[2021-05-13 17:22] #9568 closed

[2021-05-13 17:26] cesswairimu commented on #9083
Hi @ carlos-osorio-developer you can claim this one...https://github.com/publiclab/plots2/issues/9626.
please add a comment

[2021-05-13 17:26] cesswairimu commented on #9626
@carlos-osorio-developer ypu can claim this one.
Thanks @waridrox  for opening this :tada:

[2021-05-13 17:27] cesswairimu commented on #9083
Hi @carlos-osorio-developer you can claim this one #9626. Thanks

[2021-05-13 17:31] cesswairimu commented on #9603
Hi @majorhaji, are you working on this?  thanks

[2021-05-13 17:54] first-timers[bot] opened #9627 "Add check-in ideas issue link"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-05-13 17:55] cesswairimu commented on #9083
Hi @aws107, you can claim this one https://github.com/publiclab/plots2/issues/9627. Thanks

[2021-05-13 17:55] cesswairimu commented on #9627
Reserved for @aws107

[2021-05-13 18:04] majorhaji commented on #9603
@cesswairimu I’m not but I’m willing to help

[2021-05-13 18:07] cesswairimu commented on #9603
Thanks @majorhaji , hi @TildaDares please remind me who is working on this...Thanks

[2021-05-13 19:03] Priyaraj17 commented on #9338
Yeah, it's not working. Shall I take a look into it? @cesswairimu

[2021-05-13 19:05] govindgoel commented on #9338
Yeah it's not working. I will look at the possible cause and update it here

[2021-05-13 19:05] Priyaraj17 commented on #9338
@govindgoel Can I work on it?

[2021-05-13 19:10] carlos-osorio-developer commented on #9626
I call dibs on this one! 😅Thanks @waridrox and @cesswairimu. I'll start working on this.

[2021-05-13 19:15] govindgoel commented on #9338
Yeah you can also look at the cause. Thanks

[2021-05-13 20:15] bajajyukta7 commented on #9627
Hi, I want to collaborate to this issue

[2021-05-13 20:22] TildaDares commented on #9603
@cesswairimu @P0NC1K is working on it.

[2021-05-13 20:28] cesswairimu commented on #9603
Cool thanks

[2021-05-14 21:30] grvsachdeva commented on #9614
Hi folks,

Love all the suggestions posted above 😄

I mostly read about system design, business, and start-ups, etc. Here are some suggestions:

1. https://kislayverma.com/blog-home/ - Covers system design topics and engineering practices, and also book recommendations, highlights, etc

2. https://ajuniorvc.com/ - Write about startup journeys, ideas, concepts around business, product, etc

3. Enjo

[2021-05-15 06:59] krishgon commented on #9083
Hey! I want to start contributing to open source by learning to work on issues. It would be really helpful if you could mention me on the list 😄

[2021-05-15 09:08] cesswairimu commented on #9083
Hi @krishgon and welcome :tada: .Added ypur name to the list. thanks

[2021-05-15 09:58] cesswairimu commented on #9614
Hi everyone, thanks all for sharing, loving all your recommendation.

I love command line heroes and code newbie too :heart:
here are other of my favorites
- https://www.greaterthancode.com/
- https://www.ladybug.dev/
- https://devchat.tv/show/ruby-rogues/
and https://rubyweekly.com/ for newsletters

Would anyone like to open next week's check-in?  thanks in advance :)

[2021-05-15 10:19] waridrox commented on #9614
@cesswairimu, would be my pleasure! 🙋🏻‍♂️😊

[2021-05-15 10:25] cesswairimu commented on #9614
Awesome thanks @waridrox 🎉

[2021-05-16 08:34] RuthNjeri commented on #9614
Hi Everyone 👋🏾 , this is an amazing checking @cesswairimu 🎉

Thanks for sharing such awesome newsletters and podcasts. I have bookmarked all of them.
I used to listen to code newbie a lot on my way to work when I got my first programming job... nostalgia!

My recommendation is not exactly a tech-centric podcast, actually, it really isn't, but I think it will be super useful to anyone interested in

[2021-05-16 09:02] RuthNjeri commented on #9597
Hi @eightballocto and @anirudhprabhakaran3 👋🏾

Thanks for sharing your ideas @eightballocto, from the issue description, what stood out was that the motivation for the switch is `that we could potentially shift away from Bootstrap to have some improvement in performance`

In relation to the Bootstrap performance within the Public Lab platform;

1. Are there certain pages that you have noticed have

[2021-05-16 14:36] Dandu-Rajeev commented on #9624
Hi @waridrox @Priyaraj17, I know @Jordan-Rob has picked this issue up. I went ahead and made changes just to learn the process. Please review my pull request and reject it if everything is fine. Otherwise, reject it but provide your comments so that I can understand the process better. I am new to Git. Thanks.

[2021-05-16 16:39] RuthNjeri commented on #9502
Hey Jeff, addressing some of the questions now...

Yes, `yarn install` is already part of our installation process. I did try rerunning yarn install again just now and the gems were not affected, so it does seem like an isolated case or a one time thing that happens.

Yes, I think it does run a yarn upgrade, according to this [tutorial](https://medium.com/learnetto/free-tutorial-how-to-use-react-w

[2021-05-16 16:40] RuthNjeri commented on #9502
Should we look into updating our steps to reflect this? Or should we think about a total switch to the gem?

[2021-05-17 08:13] cesswairimu commented on #9614
Hi @waridrox feel free to open the check-in anytime today. Thanks again

[2021-05-17 11:13] govindgoel commented on #9620
@jywarren I found [this](https://community.transifex.com/t/github-integration-throw-error-error-while-uploading-translation-bcannot-update-the-source-language/392) and going through it as if I can find out what could be the possible issue.

[2021-05-17 16:05] waridrox opened #9636 "Weekly Community Check-In #103 - Keep calm and let the ☀️ `SoCs` 😎 begin! ✨"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-05-17 16:38] cesswairimu commented on #9614
Moved to https://github.com/publiclab/plots2/issues/9636. Thanks all :heart:

[2021-05-17 16:38] #9614 closed

[2021-05-17 16:51] cesswairimu opened #9637 "Recently Updated old Issues ready for assignment"
Hi  all :wave:

These are some good issues for folks looking for non first-timer-only issues.
New here? you are also welcome to give any of these a try too ...we also do have [this issue](https://github.com/publiclab/plots2/issues/9083) where you can request for a first-timer only issue if .

 They are old and it makes them hard to find, but they are recently updated and still relevant...If some o

[2021-05-17 17:27] #9627 closed

[2021-05-17 22:32] #9500 closed

[2021-05-18 13:18] #9603 closed

[2021-05-18 13:31] #9624 closed

[2021-05-18 13:44] #9626 closed

[2021-05-18 16:27] icarito commented on #9002
Today I've commented out the password protection at the webserver level, and confirmed that this page is only accessible with a logged in user.

[2021-05-18 16:27] #9002 closed

[2021-05-18 16:35] jywarren commented on #9623
Hi @bhamster07 thank you for a very clearly documented observation and idea! ✨

I'm going to try to tease out some details here to help. My questions:

1. what is the current sorting?
2. where in the code would we be able to insert an exact match to add it to the results?
3. would it cause any slowdown to add a 2nd query? (autocompletes are very latency sensitive for the user - we want it to be as

[2021-05-18 16:48] jywarren commented on #3246
Hi all, just noting i think we still need to come to a decision on whether option 2) from the [above comment](https://github.com/publiclab/plots2/issues/3246#issuecomment-539166008) is a good way forward? Given that we've identified possible uses for pages like these as also described in that comment above.

To the screenshots Liz has posted in the last comment, I can see there may be some possibl

[2021-05-18 18:42] 2201monesh commented on #9574
I am new to open source , can I work on this issue

[2021-05-18 18:46] TildaDares commented on #9574
@2201monesh Thank you for the interest but there's an open PR for this already. You can ask for your name to be added to the list of first timers in #1234

[2021-05-18 18:59] 2201monesh commented on #9083
Hello , I am new to open source. It would be really glad if you can add my name to the list and help me find some good first issues on front end development.

[2021-05-18 19:37] jywarren opened #9641 "Convert all publiclab repositories' automated tests/checks from TravisCI to GitHub Actions"
Multi-repository coordinating issue:

starting in https://github.com/publiclab/plots2/issues/8793, we developed a plan to move all PL repositories from Travis CI to GitHub Actions, and have made a lot of progress. But there are many repositories still to go, so we are coordinating here.

If you'd like to try, unfortunately the PR must be created by a maintainer (for security purposes) but we'd lov

[2021-05-18 20:05] jywarren commented on #4592
Hi all, i'm closing this as I think we are OK on this for now!

[2021-05-18 20:05] #4592 closed

[2021-05-18 20:07] jywarren commented on #2720
A lot of this functionality has been moved into the /stats system and the graphs are no longer available. I'm going to close this but can discuss further if needed! Thanks!

[2021-05-18 20:07] #2720 closed

[2021-05-18 20:10] jywarren commented on #2439
Right now we have this in menu items for "past month" and "past year" -- let's expand on this with more of a full date picker within the same menu!

![image](https://user-images.githubusercontent.com/24359/118716898-5cfdb980-b7f3-11eb-9aee-22f6012b3d5e.png)

[2021-05-18 20:20] jywarren commented on #6787
Just to finalize this, I'm going to add a feature to the bottom of the new dashboard main column where we can put different designed ideas for advertising topics, with images and everything. It'll get pushed down as people add subscriptions.

Once we decide on a display we like, we can code up something less manual!

[2021-05-18 20:36] jywarren commented on #9510
Just noting that the "no results" message standardization is DONE. Great work everyone!

Last thing is to look into this odd contributor count. But I'm going to close this as the main issue is resolved. 🎉

[2021-05-18 20:44] jywarren commented on #9277
I believe that as of https://github.com/publiclab/plots2/pull/9642 we have no more tasks before transition can begin. Now we consult with @publiclab/community-reps on the timing of the changeover. Thanks, all!

[2021-05-18 20:47] jywarren commented on #9510
The two queries are:

https://github.com/publiclab/plots2/blob/3a05ae2d547c71d5a7d173741586397947fcbc00/app/controllers/tag_controller.rb#L150

vs

https://github.com/publiclab/plots2/blob/3a05ae2d547c71d5a7d173741586397947fcbc00/app/controllers/tag_controller.rb#L155

but this should be the same???

https://github.com/publiclab/plots2/blob/b03d3915b02802e50e353e2b695bd4b945f2d166/app/models/tag.r

[2021-05-18 20:49] publiclab-mimi commented on #5674
I think series would supersede parent but I'm open to whatever works best!
-Mimi

[2021-05-18 20:50] jywarren commented on #9510
https://publiclab.org/tag/effect-based-test/author/bhamster also nothing!

[2021-05-18 20:53] #6787 closed

[2021-05-18 20:57] bhamster07 commented on #9623
Thanks so much for building this issue out with all these details @jywarren ! 😄

[2021-05-18 21:01] jywarren commented on #9510
got it. Fix in https://github.com/publiclab/plots2/pull/9643!!

[2021-05-18 21:01] #9510 closed

[2021-05-18 21:12] first-timers[bot] opened #9644 "Correct HTML for tabs on author tag pages"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-05-18 21:13] ebarry commented on #9510
awesome! can't wait to see this go live
--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Tue, May 18, 2021 at 5:02 PM Jeffrey Warren ***@***.***>
wrote:

[2021-05-18 21:44] jywarren commented on #9481
Noting we had some translation strings change, and the parameter name changed too, and there might be some things to watch out for in future attempts around parameters. Notes in https://github.com/publiclab/plots2/pull/9619#issuecomment-843583807. Hopefully it works now 🤞

[2021-05-19 08:20] TildaDares commented on #9644
@2201monesh Would you like to work on this?

[2021-05-19 09:33] 2201monesh commented on #9644
Yes Sure , thank you so much

[2021-05-19 09:34] 2201monesh commented on #9644
@TildaDares Yes Sure , thank you so much

[2021-05-19 21:26] Rutwij12 commented on #9083
Hi! I am also a first-time contributor and it would be really helpful if you can help me find some first issues (preferably in Python). Please add my name to the list. Thanks! 😄

[2021-05-20 10:21] bajajvinamr commented on #9644
I would like to solve this issue!

[2021-05-20 10:31] bajajvinamr commented on #9608
I would like to claim this issue!

[2021-05-20 10:32] bajajvinamr commented on #9083
Hey, I would like to be added to this list also, I am open to multiple types of issues and really looking forward to contribute in Plots2

[2021-05-20 10:36] bajajvinamr commented on #9539
is this issue still open?

[2021-05-20 15:42] jywarren commented on #9481
This is working! Great work, folks. This can now be used as a template for other language imports.

![image](https://user-images.githubusercontent.com/24359/119008699-65bfce00-b960-11eb-88e4-cc65205da0b9.png)

[2021-05-20 15:44] jywarren commented on #9481
Thanks @XavCC for your work on this!

[2021-05-20 15:44] jywarren commented on #9481
cc @imajit this is really promising for the upcoming workflows we're imagining. Take a look!

[2021-05-20 17:45] TildaDares commented on #9644
@bajajvinamr A PR has already been submitted for this issue so you can close the PR you opened. Thank you for interest :)

[2021-05-20 18:37] bajajvinamr commented on #9644
@TildaDares closed the PR!

[2021-05-20 18:41] Manasa2850 commented on #9539
@bajajvinamr you can work on this since the changes suggested have not been implemented in the previous PR for quite some time.

[2021-05-20 19:48] bajajvinamr commented on #9539
@Manasa2850 thanks for the opportunity, I have opened a pull request for the same!

[2021-05-21 06:38] cesswairimu commented on #9083
Hi @2201monesh  @bajajvinamr  added your names to the list.
hi @Rutwij12 unfortunately we do not have any python projects(mostly have javascript and ruby) , I will add your name to the list too though if you do not mind. Thanks all

[2021-05-21 18:08] govindgoel commented on #9641
@jywarren I would start working on this.

[2021-05-22 02:23] jywarren opened #9654 "Move "More topics" and more on new v2 dashboard into left column"
We have some great features [in the new v2 dashboard](https://stable.publiclab.org/v2/dashboard/), which, if someone hasn't yet started following topics, let site admins encourage people to follow by showing featured tags and other content. However, these are displayed full width, so they get pushed down below all other content in the left or right column:

![image](https://user-images.githubuserc

[2021-05-22 02:27] jywarren commented on #9654
I just tried this in the Chrome dev console and it seems to work:

![image](https://user-images.githubusercontent.com/24359/119211981-93e9fe80-ba83-11eb-97b4-21bf0dded31a.png)

Note that the two "Water Quality" cards shown are added as custom content using the Features system, so don't worry about those, they'll just act the same as the Featured and Trending Topics just above them.

[2021-05-22 02:29] jywarren commented on #9654
@TildaDares this might be a small but nice refinement to consider as part of your project, or as an FTO for someone else!

[2021-05-22 08:15] TildaDares commented on #9654
@jywarren Sure, I'll take a look at it.

On Sat, May 22, 2021, 03:30 Jeffrey Warren ***@***.***> wrote:

[2021-05-22 12:11] TildaDares opened #9655 "Move 'More Topics' on new dashboard into left column"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-05-22 12:12] TildaDares commented on #9655
@Rutwij12 Would you like to work on this?

[2021-05-22 12:30] tobiasvpini commented on #9655
Hi, i will try to make it.

[2021-05-22 12:42] tobiasvpini commented on #9655
Must it only copy and paste the plus diff?

[2021-05-22 12:43] tobiasvpini commented on #9655
@TildaDares must it only copy and paste the plus diff?

[2021-05-22 14:26] 2201monesh commented on #9083
My first PR didn't get merged Can you help me find good first issue?

[2021-05-22 14:49] TildaDares commented on #9655
@tobiasvpini Let's give @Rutwij12 some time to respond.

[2021-05-22 14:51] TildaDares commented on #9083
@2201monesh Give the maintainers some time to review your PR. You can look at other issues in the meantime but you can't take another good-first-issue. They're only for first timers.

[2021-05-22 19:30] first-timers[bot] opened #9656 "Remove IRC link on Readme and highlight gitter"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-05-22 19:31] cesswairimu commented on #9083
Hi @krishgon here is an issue you could claim https://github.com/publiclab/plots2/issues/9656 ...thanks a lot for your patience

[2021-05-22 19:31] cesswairimu commented on #9656
Reserved for @krishgon

[2021-05-22 19:37] cesswairimu commented on #9083
Hi @Rutwij12 , @TildaDares is reserving this one for you https://github.com/publiclab/plots2/issues/9655 kindly add a comment expressing your interest to work on it.

Thanks a lot @TildaDares for all the FTOS :heart:

[2021-05-22 19:46] cesswairimu commented on #9388
Thank you everyone for applying with PublicLab. We had great proposals from all you and many great contributions from all of you we would have loved to take in more if we got more slots..For those who did not get selected, please know that we are extremely grateful for your work with us to date and that we welcome you to continue being part of this community. Thank you for understanding and we hop

[2021-05-22 19:46] #9388 closed

[2021-05-22 23:56] krishgon commented on #9083
No problem @cesswairimu and I will also try making FTO's in the future. Thanks :)

[2021-05-23 00:15] krishgon commented on #9656
I am claiming this issue

[2021-05-23 00:45] krishgon commented on #9656
Hi, I have completed this issue and I am looking forward to getting a review

[2021-05-23 07:49] RuthNjeri commented on #9618
Thanks for reaching out @Elukoye, please go ahead and work on it if you would like.

[2021-05-23 07:51] RuthNjeri commented on #9656
Merged https://github.com/publiclab/plots2/pull/9657

[2021-05-23 07:51] #9656 closed

[2021-05-23 08:37] #9644 closed

[2021-05-23 10:24] Rutwij12 commented on #9655
Hi @TildaDares Yeah Sure! I can have a go at this.

[2021-05-23 15:33] muokicaleb commented on #9641
@jywarren I'd like to help with this issue.

[2021-05-23 16:24] Elukoye commented on #9608
Hi @bajajvinamr,@xdshivani  is already working on this

[2021-05-23 16:26] Elukoye commented on #9618
@RuthNjeri @jywarren, sorry I haven't been active, had to fix my machine. It's all done, looking forward to picking this up.

[2021-05-24 07:20] cesswairimu commented on #9636
Hi all, would anyone like to open this week's check-in?

[2021-05-24 08:25] imajit opened #9659 "Translation helper function"
Regarding #7798
The reason why the UI breaks sometimes while using the [Translation function](https://github.com/publiclab/plots2/blob/3450fdf8f333b3a20a1d1d2969865e5cace37df6/app/helpers/application_helper.rb#L157) is because the function returns 2 different types of outputs: a translation of the string if is present and if not, a **HTML tag** redirecting user to the string to be translated on tr

[2021-05-24 08:56] TildaDares commented on #9636
@cesswairimu I'd love to open this week's community check-in

[2021-05-24 08:58] cesswairimu commented on #9636
Awesome 🎉 thanks @TildaDares ...feel free to open anytime today.

[2021-05-24 09:22] TildaDares opened #9660 "[Discussion] Add Listing of Draft Posts to Profile Pages"
In my [proposal](https://publiclab.org/notes/mathildaudufo/04-26-2021/outreachy-education-related-usability-upgrades) I suggested adding a link to the draft posts among the user's activity ( research notes, wiki edits e.t.c) and only the profile user would be able to see the page.

![image](https://user-images.githubusercontent.com/63427719/119323939-230b3800-bc77-11eb-9a42-ca4f30bab9d9.png)

The

[2021-05-24 09:54] TildaDares opened #9661 "Weekly Community Check-In #104 - Outreachy Internship Starts Today🥳"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-05-24 10:09] cesswairimu commented on #9661
Hi all,

Congratulations @imajit @17sushmita @waridrox @Manasa2850 @daemon1024 @Manasa2850 @TildaDares :tada: :tada: :tada:  :tada: :tada:

Thanks @TildaDares  for the check-in
Great week ahead everyone :balloon:

[2021-05-24 10:56] Manasa2850 commented on #9661
Nice check-in @TildaDares :partying_face:. Even I'm excited and nervous at the same time and I hope to learn a lot throughout the internship :smiley:
Thank you @cesswairimu !!

[2021-05-24 12:23] cesswairimu opened #9662 "Intermittent failure on git actions"
[code]

[2021-05-24 16:15] KSVSC commented on #9083
Hi @cesswairimu, I am new to open source and would really love to contribute here. Can you please add me to the list and guide me find good issues. Thanks in advance.

[2021-05-24 18:12] 17sushmita commented on #9661
@Manasa2850 Having the same feeling as you, Excited and nervous. Really looking forward to have a great learning experience this summer😃

[2021-05-24 19:04] jywarren commented on #9661
Thank you so much, @TildaDares and everyone else! This will be great, and I'm really looking forward to working with you. Please don't hesitate to ask questions!

One great thing to check out is this great intro to using milestones and planning issues, written by @RuthNjeri --

https://publiclab.org/wiki/gsoc#Using+Milestones+and+Planning+issues

I'll be sending out a bigger welcome packet to ever

[2021-05-24 21:42] noi5e commented on #9365
I'm back!

Starting to add system tests ensure that basic functionality for React comments exists. See #9665, which tests posting comments, and comment replies.

An added benefit of system tests for React comments is that we can use test runtime as a rough measure of whether or not React comments are faster than the Rails comment system.

**React**:
<img width="381" alt="Screen Shot 2021-05-24 at

[2021-05-24 22:16] noi5e commented on #9662
I think this error has to do with array sorting.

I formatted the output for readability.

Here are the expected results:
[code]

Here are the actual results:
[code]

This looks like the same set of results, just in a different order.

Here's the test that fails:
[code]

Maybe `expected` needs to be reordered in the same order as `questions`?

[2021-05-24 23:25] aliciapaz commented on #9661
A deep-deep-breath, good luck, and a great week ahead to the new interns 🎉

[2021-05-25 00:33] TildaDares opened #9667 "[Planning] Improving Education Related Usability and Functionality Project (Outreachy)"
This issue lists a breakdown of my project tasks. There's still a lot to be added but I'll start with this first.

[My Outreachy proposal](https://publiclab.org/notes/mathildaudufo/04-26-2021/outreachy-education-related-usability-upgrades)
[Original Project Description](https://github.com/publiclab/plots2/issues/9257)

- [ ] Write unit test for method that finds user's drafts
- [ ] Add listing of

[2021-05-25 00:57] carlos-osorio-developer commented on #9661
Thanks for the updates @TildaDares, looking forward to keeping contributing. Congratulations and good luck to everybody on this path! Greetings!

[2021-05-25 04:51] bajajvinamr commented on #9641
@jywarren  I'd like to work on this

[2021-05-25 07:47] anirudhprabhakaran3 commented on #714
@jywarren @cesswairimu should I make this into a bunch of FTOs? Or should I work on it?

[2021-05-25 15:39] Elukoye commented on #9661
Congrats to all those who were chosen for the internship, looking forward to working with you all.

[2021-05-25 16:14] Manasa2850 opened #9668 "[Planning] Tag / Topic System Enhancement Project"
These are some of the broad sub tasks in the project
1. Fixes to MYSQL queries driving https://publiclab.org/stats/subscriptions , which has known bugs at #7908
2. Tag locking: ensure that if content is tagged locked by a mod/administrator, only mods/administrators can add/delete tags on that page (building on existing system at https://publiclab.org/wiki/locked) (To prevent banned users from addi

[2021-05-25 20:15] jywarren commented on #9659
OK, this is really great, @imajit -- so my thoughts are:

1. `But in this issue, the translation function was called inside a HTML tag` - so, can we get the helper function to know that it's inside of HTML? I could imagine either a) that it somehow "looks ahead and behind" (which sounds hard and easy to get wrong), b) that we add a parameter like `html: true` so it doesn't try to splice in more HT

[2021-05-25 20:16] jywarren commented on #9365
This is awesome. Thanks @noi5e !!!

[2021-05-25 20:28] #9574 closed

[2021-05-25 21:17] jywarren commented on #9660
I think this sounds great. The only notes i have are:

1. things that are visible only to the user can create confusion if they aren't clearly labeled as such, so maybe on the page with the drafts tab we add a small text below the tabs that says (in a yellow alert box?) `This tab is visible only to the author.` (that actually raises a question - should it be visible to admins? I suppose not! Or le

[2021-05-25 21:21] jywarren commented on #9502
"g" may refer to "generate" if it's mirroring `rake g` in Rails style. So that matches your observation!

As to the asset pipeline stuff, i wonder if it's best we make the minimal intervention now, as i think Rails 6 may have a much more fully integrated solution and is coming up in the next year anyways.

So what should be our next step here? Perhaps, given that:

and that after then, we get the

[2021-05-25 21:28] TildaDares commented on #9660
@jywarren I've taken note of everything you've mentioned and I'll work on a better solution.

[2021-05-25 22:14] jywarren commented on #9287
I changed this to:

[code]

Can you check if this works? Thanks everyone for the help!!!

[2021-05-25 22:14] #9287 closed

[2021-05-25 22:22] jywarren commented on #8380
Hi, thank you. I am not 100% sure where we are on the idea of including comments. Maybe @ebarry has input on this? I'll also ask some other @publiclab/community-reps. Maybe eventually we could include them optionally via a checkbox?

[2021-05-25 22:22] jywarren commented on #1416
Hi @daemon1024 yes it is, but it's SOOOOO old! I wonder if we should start anew? Many above ideas are done or discarded. What do you think?

[2021-05-25 22:41] jywarren commented on #9662
Shall we add a `.sort` in the test or the original code? Either should work!

[2021-05-25 22:41] jywarren commented on #9662
Maybe sort by... what's the syntax, `.sort_by(:created_at)` or something?

[2021-05-25 23:19] yuma-fujimoto commented on #9655
Hi @TildaDares I want to do it too.

[2021-05-26 06:12] cesswairimu commented on #9662
Thanks  a lot you both :tada: , I will try doing a sort within the test see if it helps.

[2021-05-26 06:42] TildaDares commented on #9655
Hi @yuma-fujimoto there's an open PR for this issue already. You can ask for your name to be added here #1234

[2021-05-26 07:36] TildaDares opened #9682 "Separate co-author names with comma"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-05-26 07:37] TildaDares commented on #9682
@KSVC Would you like to work on this?

[2021-05-26 07:39] daemon1024 commented on #1416
@jywarren Sure. Let's start up a fresh planning issue.

[2021-05-26 07:41] KSVSC commented on #9682
@TildaDares Yes, I would like to claim this issue. Thanks!

[2021-05-26 08:06] KSVSC commented on #9682
@TildaDares I have opened a PR with my commits. I would request you to review it.

[2021-05-26 08:46] TildaDares opened #9684 "Broken Image Links"
### Please describe the problem (or idea)
Posts without images have broken image links

<img width="772" alt="Screenshot 2021-05-26 at 09 41 16" src="https://user-images.githubusercontent.com/63427719/119630102-88416380-be06-11eb-9a07-1b4a1ef00ba9.png">

### What did you expect to see that you didn't?

### Please show us where to look

https://stable.publiclab.org/v2/dashboard

### What's your Pub

[2021-05-26 09:04] TildaDares opened #9685 "Display circles for posts with no images"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-05-26 09:05] TildaDares commented on #9685
@yuma-fujimoto Would you like to work on this?

[2021-05-26 09:20] TildaDares commented on #9637
@KSVSC you can look through these issues and pick something that interests you.

[2021-05-26 09:42] imajit opened #9686 "[Planning] Translation System Refinement"
I have not completely planned this out yet but these are some parts I'll work on :
- [x] UI Issues with Translation icon
    - [x] Fix position of icon
    - [x] Improve pop-up
    - [x] Fix UI
- [ ] Translation function improvement
    - [x] Handle inline function calls
    - [x] Positioning and visibility of icon
    - [x] Reduce Icon Count
    - [ ] Dialect Support [Discussion #9809  ]
- [ ] Te

[2021-05-26 10:08] TildaDares commented on #9685
@yuma-fujimoto Let me check something real quick before you open a PR.

[2021-05-26 10:24] TildaDares commented on #9685
https://github.com/publiclab/plots2/blob/c1b091376413baaf8c34efffdcd19cccc1c66f90/app/views/dashboard_v2/_topicCard.html.erb#L86-L94
@cesswairimu I'd like to move the style above into `app/assets/stylesheets/style.css` since two views will be using them.

[2021-05-26 11:59] 17sushmita commented on #9668
I think the 7th point was also there in the other project in Outreachy which @TildaDares  is working on. And it seems she has opened an FTO for this too. So we should remove it from ours.
And let's add the issues which are still present in Tags and Topic milestones here in the points and some are too old so we need to check if they still exist.

[2021-05-26 14:36] darrylpoh commented on #9685
@yuma-fujimoto Do you need help? 😄

[2021-05-26 14:49] TildaDares commented on #9685
@darrylpoh This issue is reserved for @yuma-fujimoto. You can ask for your name to be added to the first timers list in #1234

[2021-05-26 15:08] darrylpoh commented on #9685
@TildaDares oh i see! 😅 Will do so! Thanks 😄

[2021-05-26 15:19] darrylpoh commented on #9083
Hi! I am a first-time contributor and would love to contribute to this community! Can you guys add me to the list for first issues (preferably in Python)?  Thanks in advance! 😄

[2021-05-26 15:50] cesswairimu commented on #9083
Hi @KSVSC @darrylpoh added your names to the list. @darrylpoh unfortunately we do not have any python projects atm but will  find you an issue from js or ruby projects if that's okay. thanks

[2021-05-26 15:56] darrylpoh commented on #9083
@cesswairimu Yep! Thats okay, thanks a lot! 😃

[2021-05-26 17:07] KSVSC commented on #9637
Hi! I would like to take up issue #714 if that is still available.

[2021-05-26 17:17] Timonwa commented on #9083
Hello! I am a first-time contributor! Can you guys add me to the list for first issues in CSS? Thanks in advance!

[2021-05-26 17:23] TildaDares commented on #9637
@KSVSC Go ahead🎉

[2021-05-26 19:50] KarAyushman commented on #9083
Hello, I'm a beginner contributor, can my name be added in the list for first issues in Python or C++? Thanks!

[2021-05-27 06:53] #9662 closed

[2021-05-27 07:52] Siddhart100 commented on #9083
Hello! I want to start contributing to open source but this is my very first time. Can you put me in the list ? thanks!

[2021-05-27 11:01] TildaDares commented on #9660
@jywarren I think another possible location for the `drafts` button would be the dropdown menu for the profile picture. It would be placed in the section for `subscriptions` and `notes you liked` because they are kind of related.

![image](https://user-images.githubusercontent.com/63427719/119623870-7f4d9380-be00-11eb-9ef5-d6d561043149.png)

What do you think about this alert box being placed at t

[2021-05-27 11:47] 17sushmita opened #9687 "Profile image overflow in popover on Followers/Follwing page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-05-27 13:39] cgrkzlkn commented on #9687
Hi, can i take this?

[2021-05-27 17:49] #9539 closed

[2021-05-27 17:52] cesswairimu commented on #714
Hi @anirudhprabhakaran3 , either its great and will be highly appreciated..your call. thanks

[2021-05-27 21:03] CaptainDrewBoy commented on #9687
I am also interested, but since cgrkzlkn posted first I imagine they will be chosen.

[2021-05-27 21:09] TildaDares commented on #9685
@yuma-fujimoto Are you still interested in working on this issue?

[2021-05-28 09:27] sanyam-dev commented on #9687
hey, I am interested in taking this request too.

[2021-05-28 09:52] 17sushmita commented on #9687
@cgrkzlkn feel free to work on it.

@CaptainDrewBoy @sanyam-dev you can comment on #9083 so your name can be added to first-timers. You will soon get a first-timer issue assigned to you. Thanks :)

[2021-05-28 14:08] kayvaibhav commented on #9083
Hello! I am a **first-time** contributor. Can you please add me to the list? thanks!

[2021-05-28 14:23] jdcbautista commented on #9083
Hello.  First-time contributor here.  Could you add me to the list as well?  Thanks

[2021-05-28 15:01] CaptainDrewBoy commented on #9083
I'd love to get involved and have not contributed anything before. Thank you.

[2021-05-28 19:32] Manasa2850 opened #9694 "[Outreachy Planning] Tag / Topic System Enhancement Project - Manasa"
These are the tasks for my Outreachy project. This is my original proposal https://publiclab.org/notes/Manasa2850/04-10-2021/gsoc-2021-proposal-tag-topic-system-refinements

1. Tag Locking

- [ ] Create a 'locked' tag which can be added to content by mods / admin.
- [ ] Change UI of the page after adding the 'locked' tag.
- [ ] Modify permissions of pages having the 'locked' tag.
- [ ] Functional

[2021-05-28 22:59] parth-gohil commented on #9608
Hi @xdshivani , I'd like to help contribute. Let me know if you need any help with the issue. :)

[2021-05-29 09:32] lonwabo-mnyaiza commented on #9083
Hi @antorobo please can I be added to this list as well, I'm mostly looking for work in C#, Java, Javascript, Python, HTML, CSS

[2021-05-29 10:49] anirudhprabhakaran3 commented on #714
I think @KSVSC is working on this, if that's the case I'll take up some other issue!

[2021-05-29 10:52] KSVSC commented on #714
Yes, I am working on this. Thanks :)

[2021-05-29 10:53] anirudhprabhakaran3 commented on #9637
I'd like to look into issue #1236. Is that okay?

[2021-05-29 10:56] TildaDares commented on #9637
Go for it @anirudhprabhakaran3 🎉

[2021-05-29 14:49] divs-2018 commented on #9083
Hello! I am a first-time contributor too. It would be great if you could add me to the list.
Don't mind any language. Thanks!

[2021-05-29 23:45] jywarren commented on #9686
These are looking good! Many may break out into subtasks, agreed! As you go, you might convert some into headings instead of tasks. Cool!

[2021-05-29 23:46] jywarren commented on #9686
I also linked you to https://github.com/publiclab/plots2/milestone/22, and if you want we can make this issue the new "lead" issue there by reordering and mentioning it in the description!

[2021-05-29 23:47] jywarren commented on #9667
Nice! i linked the milestone and see this issue in its description. Great work!

[2021-05-30 00:04] jywarren commented on #7556
Hi @daemon1024 -- i wondered if this might be one you'd like to take up in your project, if you end up having time. It may have a big impact on usability. Thanks!

[2021-05-30 00:06] jywarren commented on #9668
This looks great!!! Some notes and thoughts:

This one may be best solved using a migration, that'll execute upon deployment to the live site; example: https://github.com/publiclab/plots2/blob/main/db/migrate/20180705203310_convert_nil_emoji_type_likes_to_thumbs_up.rb

This one might break up into quite a few subtasks depending on where we identify a need for notification or for "hiding" or "greyi

[2021-05-30 08:25] Tlazypanda commented on #9694
Hey @Manasa2850 great breakdown 🎉  here is a great resource by @jywarren on how we can further use break-me-up tags to break these issues into even smaller ones https://publiclab.org/notes/warren/01-18-2018/software-outreach-modularity-is-great-for-collaboration

Probably the next steps for now can be to start with the first phase first task at hand and write a detailed issue for that (once done i

[2021-05-30 08:31] Tlazypanda commented on #9686
Hey @imajit Nice breakdown 💯  Here is a comment that I made on @Manasa2850 planning issue that might be helpful - https://github.com/publiclab/plots2/issues/9694#issuecomment-850962289

Also It might be helpful for both of you to go through each other's planning issue and help brainstorm. Brownie points for finding overlap if any and handling that or expanding your proposals a bit to get some new

[2021-05-30 08:33] Tlazypanda commented on #9668
Ohh wow, looks like someone did some brainstorming after the meeting 🔥 Great job! @Manasa2850 @17sushmita

[2021-05-30 08:35] Tlazypanda commented on #9667
@TildaDares Awesome first draft 🎊  And I see the FTOs 👀  amazing!

[2021-05-30 08:56] tirthPatel177 commented on #9083
Hello! I am always overwhelmed by looking at huge code bases therefore looking for beginner friendly first-timer issues. It would be great if you could add me to the list. I know Python, JavaScript, C++ and Java. Thanks!

[2021-05-30 10:26] 17sushmita commented on #9668
Yes @jywarren , I was thinking in the same direction, first, we should create FTOs for greying or disabling the UI to add tags for first-timers, but also we need to make sure it is blocked from the backend.

yes, I've used this before. It'll be much easier to use than using JS widget library.

I checked the issues you mentioned, our site is not running so I checked the same thing on unstable site

[2021-05-30 13:05] jywarren commented on #9668
Sounds great and if you'd like to somehow indicate which issues need more input in the list above I can try to engage some community members in going through them and providing input one by one.  Thanks!

[2021-05-30 13:22] Manasa2850 commented on #9668
@jywarren the ones labeled (DISCUSSION) are the ones which require some community input.

[2021-05-30 13:39] maheshschand commented on #9083
Hello! I am a first-time contributor too. I know Python, Java, JavaScript, C++ and Go. I will contribute and get involved with the project. Please add me to the list. Thank you.

[2021-05-30 13:59] grvsachdeva opened #9697 "Poll for both Summer of Code Students and Mentors 🗳️"
### Poll for both Summer of Code Students and Mentors (Outreachy and GSoC 2021):

Hi folks, please complete the below poll and help us understand what are your opinions/preferences when it comes to different activities of the Summer of Code program.

**1. What should be the frequency of the Summer of Code All-Hands call?**
[![](https://api.gh-polls.com/poll/01F6YRHYJM6TFMDMPYQKFHDX7M/Weekly)](http

[2021-05-30 14:34] daemon1024 commented on #7556
Hey @jywarren, Definitely. I actually mentioned benchmarking the People API in my proposal and this gives a lot of relevant context as well.

[2021-05-30 14:56] daemon1024 commented on #9697
I would prefer to keep the interaction to General Public Lab channel.
 - Get inputs from the whole community
 - I would love to see various kinds of updates from my colleagues

[2021-05-30 15:25] daemon1024 opened #9698 "[Planning] Geographic Features Refinement"
- Standardize Adding New Spreadsheet-based layers https://github.com/publiclab/leaflet-environmental-layers/issues/488
	- Add widget on the PL website
	- Set up script(s) to generate content for new layers
	- Integrate the widget and script through API calls and GH Actions
- Increase Amount of Content on `/map`
	- Develop microservice over the current API
		- TBD
	- Benchmark and Investigate the c

[2021-05-30 18:45] iamkrish-coder commented on #9608
Is this still available to grab? First timer looking for a contribution :)

[2021-05-30 18:53] iamkrish-coder commented on #9083
HI! I am a first timer, really excited to contribute, I can contribute with javascript, HTML, CSS, jQuery, React, please add me to the list! :)

[2021-05-30 18:56] iamkrish-coder commented on #5212
Is this issue still available to contribute?

[2021-05-30 21:25] Shashwat545 commented on #9083
Hello! I am a first-time contributor. I know C, C++, Java, Python, HTML. I am very much excited to work on my first issue. Please add me to the list too. Thanks a lot!

[2021-05-30 21:46] waridrox commented on #9697
### Either of _General Public Lab_ channel or _Summer of Code_ channel

- Pros: Open suggestions/discussion of a particular idea, help or implementation.
- Cons: Too many messages may lead to spamming of the General Public Lab channel hence an alternative could be a _Summer of Code_ channel

[2021-05-31 05:15] cesswairimu commented on #9661
happy new week all...anyone wonna open this week's check-in?

[2021-05-31 05:16] drchibs commented on #9083
Hi! I am a first-time contributor and would love to be added to the list for first issues (preferably in Javascript / NodeJS / Express or VueJS)? Thanks in advance!

[2021-05-31 06:29] RoyceThomas opened #9702 "I believe I know why SpectralWorkbench is having some issues..."
Hello Public Lab or whoever this may concern, I am a representative of Penrith Public High School, NSW Australia, and I believe the reason why the site is having some issues is because of us. A few weeks ago, we were tasked to use your website as a key commodity to a HSC assignment procedure. So, 60 students were simultaneously using your website to upload, edit, refine graphs of spectrographs. Fo

[2021-05-31 07:36] waridrox opened #9703 "Weekly Community Check-In #105 - `>_` Terminal theme configurations 💻"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-05-31 07:37] waridrox commented on #9661
@cesswairimu, done at #9703! 🎈

[2021-05-31 07:39] cesswairimu commented on #9661
Thanks a bunch @waridrox :tada: :tada: :tada:

Moved to #9703 . Thanks everyone

[2021-05-31 07:39] #9661 closed

[2021-05-31 08:03] cesswairimu commented on #9702
Hi @RoyceThomas and thanks
cc: @jywarren @icarito @ebarry

[2021-05-31 08:06] TildaDares commented on #9703
@waridox great check-in and your theme choice is really good 🔥. I'm a bit boring 😁 so I don't have any configurations.

[2021-05-31 08:11] bfitdoon12 opened #9704 "admission open in dehradun college"
BFIT Group of Institutions Dehradun was established in the year 2021[ admission open in dehradun college](url) and it is affiliated to Uttarakhand Technical University (UTU). At the UG level, it offers BA, B.Sc, BBA, B.Com, BCA, BHM along with Diploma and Polytechnic courses:for more information visit our website:

[2021-05-31 08:12] bfitdoon12 opened #9705 "admission open in dehradun college"
BFIT Group of Institutions Dehradun was established in the year 2021[ admission open in dehradun college](url) and it is affiliated to Uttarakhand Technical University (UTU). At the UG level, it offers BA, B.Sc, BBA, B.Com, BCA, BHM along with Diploma and Polytechnic courses:for more information visit our website:for more information visit our website:
[
![unnamed](https://user-images.githubuserco

[2021-05-31 08:13] bfitdoon12 opened #9706 "MBA admission open in dehradun"
BFIT Group of Institutions Dehradun was established in the year 2021[ admission open in dehradun college](url) and it is affiliated to Uttarakhand Technical University (UTU). At the UG level, it offers BA, B.Sc, BBA, B.Com, BCA, BHM along with Diploma and Polytechnic courses:for more information visit our website:for more information visit our website:
![unnamed](https://user-images.githubusercont

[2021-05-31 08:19] #9704 closed

[2021-05-31 08:19] #9705 closed

[2021-05-31 08:19] #9706 closed

[2021-05-31 08:32] RuthNjeri commented on #9703
Thanks, @waridrox 😃 ....yours looks cool, what theme do you use?

I use the Pi theme and a cool autosuggestion plug in to help in remembering commands for me 😅

<img width="489" alt="Screenshot 2021-05-31 at 11 28 16" src="https://user-images.githubusercontent.com/7622875/120165084-e2299b00-c203-11eb-8faa-806f22d0478c.png">
<img width="689" alt="Screenshot 2021-05-31 at 11 28 30" src="https://user

[2021-05-31 08:41] RuthNjeri commented on #9697
I agree with @daemon1024, also because if a particular mentor is not available, another mentor who is available can help out or better yet other students can help each other out.

[2021-05-31 08:48] RuthNjeri commented on #9660
Thanks for sharing your suggestions @TildaDares, I think adding it in the profile picture drop-down makes sense to me...even without the text `This tab is visible only to the author.` it shows that the drafts are specifically for the user...

Tagging @ebarry, she could have some insights as well...

[2021-05-31 08:57] #9685 closed

[2021-05-31 09:04] 17sushmita commented on #9703
Thanks @waridrox, very cool check-in!!🥳 Mine is a customized theme. I like this dark and translucent terminal.
and @RuthNjeri  I like your autosuggestion plugin. I will try to install it for mine too😃.

![image](https://user-images.githubusercontent.com/42088159/120169077-30976380-c21d-11eb-9155-d3b1dad497bb.png)

[2021-05-31 09:20] samirulkhan opened #9707 "Spectral workbench is not working"
Spectral workbench is not working, fix it.

[2021-05-31 09:26] RuthNjeri commented on #9502
Hi @jywarren

The next steps make sense, we could start out removing it from our steps, if that doesn't work, we can have the command without the g option... `rails webpacker:install:react`

[2021-05-31 10:14] #9682 closed

[2021-05-31 10:18] Manasa2850 commented on #9703
Very interesting check-in @waridrox :partying_face:
I don't have any configuration as of now :sweat_smile:. @RuthNjeri @17sushmita your terminals look really cool. I'll try installing something like that too!

[2021-05-31 10:32] waridrox commented on #9703
@RuthNjeri, I just use a custom `bash config` to highlight the current branch and folder routes. I might try your auto-completion plugin though ✨:

[code]

[2021-05-31 17:32] jywarren commented on #9697
Just quickly noting that we sometimes worry about filling the chat with long in-depth debugging threads or whatever, and perhaps an "in-depth" channel that's still open could be possible to switch to.

[2021-05-31 17:35] jywarren commented on #9702
Hi, @RoyceThomas thank you for opening this issue and notifying us. We weren't aware of the heavy usage and, unfortunately, we have been pushing out updates which are seeing some issues. We will get it back online and in shape asap and will push any larger disruptive changes to after your deadline. Please feel free to reach out to web@publiclab.org (and staff@publiclab.org as well) if you have upc

[2021-05-31 17:36] jywarren commented on #9707
Hi @samirulkhan - thank you for reporting this; we're working on it and will report back in https://github.com/publiclab/spectral-workbench/issues/640 as soon as we know more.

[2021-05-31 17:36] #9707 closed

[2021-05-31 18:50] jywarren commented on #9707
@samirulkhan also just a heads up that things should be working again now on SpectralWorkbench! Thanks for filing the issue.

[2021-05-31 20:58] 17sushmita opened #9712 "[GSoC Planning] Tag / Topic System Enhancement Project - Sushmita"
Here I'll be planning and adding tasks for my GSoC Project.
My original proposal - https://publiclab.org/notes/17sushmita/04-12-2021/gsoc-proposal-tag-topic-system-refinements

**1. Prevent first-time-posters from tagging work except their own, add appropriate warnings/alerts and/or hide tag form from first-time-posters (@17sushmita)**

- [ ] Disable and Gray out Add Tag button for a first-time po

[2021-06-01 01:56] noi5e commented on #9365
Opened PR for editing comments.

Here's the new speed breakdown for all 3 new tests:

**React:**
<img width="375" alt="Screen Shot 2021-05-31 at 6 43 32 PM" src="https://user-images.githubusercontent.com/4361605/120255874-ce9d2500-c241-11eb-9e60-83fa9b74652a.png">

**Rails:**
<img width="382" alt="Screen Shot 2021-05-31 at 6 45 35 PM" src="https://user-images.githubusercontent.com/4361605/12025588

[2021-06-01 02:42] sarasage opened #9714 "Site is apparently down"
Before I received this message, I was having trouble loading images to a draft post.

![PL_Site_Error_2021-05-31](https://user-images.githubusercontent.com/28957726/120259167-4a01d500-c248-11eb-9996-4ee0c5792d54.JPG)

[2021-06-01 03:47] #9714 closed

[2021-06-01 11:31] icarito opened #9716 "Request queue full on Publiclab.org"
In the past 3 days we've had a recurring issue with the website responding with a 500 error and the logs showing "request queue full".
We've tripled the length of the request queue but still facing this issue every few hours,

[2021-06-01 11:32] icarito commented on #9716
Restarting the container fixes it momentarily.

[2021-06-01 12:32] anirudhprabhakaran3 commented on #1236
It seems as though we have stopped using DANGER. Nevertheless, this is still a very useful feature that should be included. I'll try searching for other ways to achieve it

[2021-06-01 12:58] adampavel commented on #9687
hey, is it too late to work on this?

[2021-06-01 13:37] anirudhprabhakaran3 commented on #1236
I tried to implement the functionality using https://github.com/marketplace/actions/add-remove-label, and it seems to work. (I tried and can be checked here: https://github.com/anirudhprabhakaran3/test-danger/pulls. Forgive me for the excessive pull requests)

What this does is basically adds the "WIP" label in to every PR before running tests. After all the tests, there is a section which removes

[2021-06-01 13:38] anirudhprabhakaran3 commented on #1236
Should I make a PR using this approach @jywarren @cesswairimu ?

[2021-06-01 13:41] 17sushmita commented on #9687
@adampavel this is already done. You can comment on #9083 to get another first-timer issue assigned to you. Thanks😀

[2021-06-01 14:19] jywarren commented on #9697
Sorry, my last comment was especially because yesterday @icarito and I generated a LOT of chat transcript, flooding the channel.

**Pro:**
- there were some people who followed along and helped out
- I think this info being visible was itself a good thing (transparency)

**Con:**
- it dominates the chat, making other conversations harder to have or to keep up with
- it buries older topics so quest

[2021-06-01 14:21] icarito commented on #9716
This seems to be related to this error caught in Sentry:
[code]

[2021-06-01 14:38] jywarren commented on #9716
![image](https://user-images.githubusercontent.com/24359/120342192-8f181c80-c2c5-11eb-9b57-8b7fe106e6ba.png)

[2021-06-01 14:42] anirudhprabhakaran3 commented on #9716
This seemed to help someone on StackOverflow, could help us too. https://chat.stackexchange.com/rooms/23589/discussion-between-javac-and-hitesh-mundra

[2021-06-01 14:56] jywarren commented on #9716
Happening across many routes actually:

![image](https://user-images.githubusercontent.com/24359/120344024-33e72980-c2c7-11eb-9cf8-85d944221d98.png)

So for example, these and others:

- https://publiclab.org/users/update
- https://publiclab.org/profile/________
- https://publiclab.org/login is getting hit 4x per minute

[2021-06-01 15:00] cesswairimu commented on #9083
Hello @kayvaibhav, @jdcbautista, @CaptainDrewBoy, @lonwabo-mnyaiza, @divs-2018, @tirthPatel177, @maheshschand, @iamkrish-coder, @Shashwat545, @drchibs :wave:  and welcome

Adde your names to the list and will ping you once we get an issue for you. Thanks all

[2021-06-01 16:05] ebarry commented on #9668
@bhamster07 check out this excitement! so happy that @Manasa2850 and @17sushmita are engaged on this important set of design and functionality upgrades 🙌

[2021-06-01 16:10] #9512 closed

[2021-06-01 17:07] jywarren opened #9718 "Expand our documentation of stable/unstable build servers"
We had a great discussion among @publiclab/soc team today about the stable/unstable servers, and realized we could do a lot to better explain them, beyond technically how to use them but to include their purpose, our norms and habits around them, and tips!

Here are some notes we took; it'd be great to have them added to the READMEs: (https://github.com/publiclab/plots2/blob/main/doc/TESTING.md#te

[2021-06-01 17:55] bhamster07 commented on #9668
Wow, fantastic! Thanks so much, @Manasa2850 and @17sushmita! I'm excited and grateful for the work you're doing on tags and topics 😄

[2021-06-01 18:03] icarito commented on #9716
Increasing the process pool size to 20 from 16 seems to have resolved the request queue thus far.

[2021-06-01 18:32] jywarren commented on #9716
So we are suspecting that the timeout error and lock is the EFFECT and not the cause. When have peaks occurred, so we can try to trace an origin?

[2021-06-01 18:43] jywarren commented on #9716
Looking at one outage last night, it started right in this timeframe:

![image](https://user-images.githubusercontent.com/24359/120374531-a7009800-c2e7-11eb-9251-06221093af88.png)

UsersController#update was first to get really slow. Followed by about 10 other routes.

[2021-06-01 20:36] ebarry commented on #9271
Thank you for reporting and working on this! I am also reporting this issue on the three-dot-menu for Tag Pages:
<img width="663" alt="Screen Shot 2021-05-13 at 2 52 17 PM" src="https://user-images.githubusercontent.com/161439/120387033-66a91600-c2f7-11eb-9519-adc533e160b2.png">

Additionally, i believe i have seen similar behavior on publiclab.org/maps, in the layer palette.

[2021-06-01 20:41] KSVSC commented on #714
@jywarren @cesswairimu  @TildaDares Hi! I have opened a PR for this, kindly review it :)

[2021-06-02 01:43] anirudhprabhakaran3 commented on #9716
Sebastian, is there any way to find what exact transaction caused the failure?

[2021-06-02 05:23] Manasa2850 opened #9724 "Clicking on items in the advanced tagging menu doesn't do anything"
Clicking on any of these items in the menu for eg. clicking on `Add Coauthor (notes only)` should prompt us to enter the coauthor's username and then add it to the note as a tag (with: username). But clicking on it just takes us to the top of the page.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/43354059/120428096-aa039300-c390-11eb-8d9e-8d0036a9f3ee.gif)

[2021-06-02 10:46] Toptopdeal opened #9725 "Cordless multi tools"
If you do a lot of multitasking at home or on the job, a [Cordless Oscillating Multi-Tool](https://www.toptopdeal.co.uk/cordless-multi-tools/) can be proved as your best friend. It slices, grinds, sands, and scrapes, and it can do all of these things in difficult-to-reach areas. Cordless Oscillating Multi-Tool can accept the majority of accessories, batteries, and chargers that are available on ou

[2021-06-02 10:48] Toptopdeal commented on #9725
[Cordless Routers ](url)are power tools with a flat base and a rotating blade that stretches beyond the base. The spindle may be powered by an electric or pneumatic motor. It shapes a hard material, such as wood or plastic, into a shape. Cordless Routers are most commonly used in woodworking, especially cabinetry. They can be carried around or attached to router tables.
[ Makita-cordless-routers](

[2021-06-02 10:53] Toptopdeal commented on #9725
A [combi drill is a powerful tool ](url)that has two modes: drilling and screw driving. It is normally driven by a battery. This allows you to choose between low and high torque, which decides how much power the drill uses to push the screw.
[Metabo Cordless Combi Drill](url),[ Festool Cordless Combi Drill,](url) [Fein Cordless Combi Drill](url), [Ryobi Cordless Combi Drill](url), [Dewalt Cordless

[2021-06-02 15:25] #9725 closed

[2021-06-02 20:21] icarito commented on #9716
Hi @anirudhprabhakaran3 thanks - we're working under the assumption that we're seeing the _effects_ of a surge in traffic to our omniauth routes which we've yet to explain.
Here's some interesting logs from `passenger.4000.log`:
[code]
We can see a lot of activity

[2021-06-03 00:42] TildaDares opened #9727 "Alert box overlapping table of contents menu in wikis"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-03 00:47] TildaDares commented on #9727
@darrylpoh Would you like to work on this?

[2021-06-03 02:35] anirudhprabhakaran3 commented on #9716
Okay so this is my theory, don't know how much it might be correct.

There are multiple people trying to use third party authentication (like Google, GitHub as seen in the passenger logs). When that happens, the database is locked for some time, expecting that a response should come within that time. However, these auth operations are taking longer than the database is being locked for that partic

[2021-06-03 02:37] darrylpoh commented on #9727
Yes please! Thank you 🚀

[2021-06-03 02:47] Aokison commented on #9083
Hello! I am completely new to open source and would love to get started by contributing to a first-timer issue.

[2021-06-03 02:56] anirudhprabhakaran3 commented on #9718
@jywarren mind if I take this up? I believe I have to add this information to the TESTING.md file right?

[2021-06-03 11:24] TildaDares opened #9732 "[Discussion] Add Bootstrap Tooltips to Location Tags"
The [description](https://github.com/publiclab/plots2/issues/9257) for the location tag tooltips task says to add the tooltips to a page like https://publiclab.org/wiki/puerto-rico but I can't find any location tags on that page that need tooltips. The location tags I did find already have tooltips

<img width="342" alt="Screenshot 2021-06-03 at 12 17 05" src="https://user-images.githubusercontent

[2021-06-03 11:36] #9724 closed

[2021-06-03 11:38] jywarren commented on #9732
Ah, good point. Shall we add an explanatory text to the existing tooltip?

On Thu, Jun 3, 2021, 7:24 AM Tilda Udufo ***@***.***> wrote:

[2021-06-03 11:45] KSVSC commented on #714
Hi, @cesswairimu. I believe that Line nos 22-28 needs to be removed too in the file https://github.com/publiclab/plots2/blob/main/app/controllers/legacy_controller.rb#L22-#L28. Please confirm and review my PR for this issue. Thanks!

[2021-06-03 11:55] RuthNjeri commented on #9703
Thanks @Manasa2850, I use ohmyzsh https://ohmyz.sh/

[2021-06-03 12:00] RuthNjeri commented on #9718
Thanks, @anirudhprabhakaran3, please feel free to take this up and let us know if you have any questions.

[2021-06-03 12:04] RuthNjeri commented on #9083
Hi @Aokison, thank you for joining us, I will update the list @cesswairimu made above to include your name so that you are pinged once we get an issue.

**List of Contributors To Get A First Timer Issue**
@kayvaibhav, @jdcbautista, @CaptainDrewBoy, @lonwabo-mnyaiza, @divs-2018, @tirthPatel177, @maheshschand, @iamkrish-coder, @Shashwat545, @drchibs, @Aokison

[2021-06-03 12:15] TildaDares commented on #9732
@jywarren Yeah I think that'll work.

[2021-06-03 12:50] cesswairimu commented on #714
Hi @KSVSC on this https://github.com/publiclab/plots2/blob/main/app/controllers/legacy_controller.rb#L22-#L28 that is fine we can leave it as is...bacuse the request already redirects to `/wiki`

I believe what we would like to remove is anywhere we are filtering wikis with the type `'page' OR  'tool'`.. makes sense?

[2021-06-03 13:01] #9655 closed

[2021-06-03 13:38] KSVSC commented on #714
@cesswairimu, Agreed! I made the required modifications to my PR. Thanks!

[2021-06-03 14:02] cesswairimu commented on #714
great :tada: , thanks...reviewing in a few

[2021-06-03 14:05] #714 closed

[2021-06-03 14:18] cesswairimu commented on #1236
Hi @anirudhprabhakaran3, oh wow...it is looking great is it possible to change the review label to `ready-for-review` ?
otherwise this looks good to me would like to hear what @jywarren and @RuthNjeri  think. Thanks  for looking into this @anirudhprabhakaran3

[2021-06-03 14:29] anirudhprabhakaran3 commented on #1236
Yeah, changing the name of the label shouldn't be a problem. The only issue is that I can't test this locally, so the only way to test the new GitHub Actions workflow would be after merging it...

[2021-06-03 15:38] RuthNjeri commented on #1236
Hi @anirudhprabhakaran3, it looks great,I think you should create a PR for it. My only concern at the moment is the Codeclimate checks, sometimes, they are ignored even if the PR shows that the CodeClimate checks have failed. Will that affect the test labels.

[2021-06-03 23:34] TildaDares commented on #9732
@jywarren Is this okay?

![image](https://user-images.githubusercontent.com/63427719/120724880-96f5dd80-c4cc-11eb-9d16-ade57d20d5c8.png)

[2021-06-04 06:04] anirudhprabhakaran3 commented on #1236
Oh yeah, I'll look into the order of actions in the workflow. I might be able to adjust the location of the labelling process.

[2021-06-04 06:48] Tlazypanda commented on #9732
@TildaDares lgtm 🎉

[2021-06-04 13:43] anirudhprabhakaran3 commented on #1236
The issue that I'm facing is that all the different jobs are being run in parallel. This is affecting the labelling system that I had thought of. Let me see what other approach I can use

[2021-06-04 13:49] cesswairimu commented on #1236
cool, thanks  a lot @anirudhprabhakaran3

[2021-06-04 14:45] anirudhprabhakaran3 commented on #1236
Got it. If someone could review that would be great https://github.com/publiclab/plots2/pull/9735

[2021-06-05 00:17] jrogers-dev commented on #8508
Hello! First time contributor. I've submitted a pull request at the following link:

https://github.com/publiclab/plots2/pull/9737

[2021-06-05 00:41] jrogers-dev commented on #9608
@Elukoye

Also a first timer, and would like to know how do we know if/when the initial claimant has abandoned the task?
I've noticed a few other issues that were opened up to anyone willing to submit a pull request.
Is there a timeline for that, or is it just some issues that are opened up in that way?

Either way, I'm open to working on this issue if possible.

Thank you for your time, it's much

[2021-06-05 06:45] #7798 closed

[2021-06-05 06:46] cesswairimu commented on #9494
Closing this, Fixed in https://github.com/publiclab/plots2/issues/9494. thanks

[2021-06-05 06:46] #9494 closed

[2021-06-05 06:47] afzal442 opened #9738 "[Enhancement]On home page links in the footer area stand out"
![c3](https://user-images.githubusercontent.com/11625672/120882479-dcfa9080-c5f5-11eb-9ef9-11fccc33c6c3.JPG)

### Please describe the problem (or idea)

On the home page, the footer section shows different from other pages' footer which stands out in this sense.
Compare both for more details.

Also, divide the links section into two lists,

![c2](https://user-images.githubusercontent.com/11625672/

[2021-06-05 07:18] #9727 closed

[2021-06-05 07:35] cesswairimu commented on #9703
Loving the colorful terminals I will check out some
I user the terminator terminal https://terminator-gtk3.readthedocs.io/en/latest/ that has a range of to customization features

![Screenshot from 2021-06-05 10-28-06](https://user-images.githubusercontent.com/17081074/120884096-956e0780-c5e9-11eb-8e69-0dbfa52eef4d.png)

great theme @waridox  :tada: :tada:

[2021-06-05 07:35] cesswairimu commented on #9703
Would anyone like to open next week's check-in?

[2021-06-05 07:44] Elukoye commented on #9738
@afzal442 can I work on this. ?

[2021-06-05 07:47] Elukoye commented on #9608
@jrogers-dev ,the person who initially claimed the issue hasn't worked on it . The rule is that if the issues hasn't been touched for one week then it can be claimed by another ,so please go ahead and claim it.

[2021-06-05 08:12] first-timers[bot] opened #9739 "Refactor admin-moderator role check on notes card"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-05 08:13] cesswairimu commented on #9739
Reserved for @Timonwa

[2021-06-05 08:16] first-timers[bot] opened #9740 "Refactor admin check on channels"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-05 08:16] cesswairimu commented on #9740
Reserved for @KarAyushman

[2021-06-05 08:24] afzal442 commented on #9738
Sure you can, let me know if you need any help.

[2021-06-05 08:27] first-timers[bot] opened #9741 "Basic user who cannot moderate method"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-05 08:28] afzal442 commented on #9741
Looking into it.

[2021-06-05 08:29] cesswairimu commented on #9741
go ahead @afzal442 , thanks

[2021-06-05 08:40] first-timers[bot] opened #9742 "Refactor roles check on notes show"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-05 08:40] cesswairimu commented on #9742
Reserved for @Siddhart100

[2021-06-05 08:47] first-timers[bot] opened #9743 "Refactor roles check on users list"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-05 08:48] cesswairimu commented on #9743
Reserved for @kayvaibhav

[2021-06-05 08:51] cesswairimu commented on #9083
Here some new ftos
@Timonwa - https://github.com/publiclab/plots2/issues/9739
@KarAyushman - https://github.com/publiclab/plots2/issues/9740
@Siddhart100  - https://github.com/publiclab/plots2/issues/9742
@kayvaibhav - https://github.com/publiclab/plots2/issues/9743

Thanks everyone for your patience, we are working to get ftos for everyone. Thanks

[2021-06-05 08:55] afzal442 commented on #9741
@cesswairimu where does it reflect on? and why we need this? Thanks.

https://github.com/publiclab/plots2/blob/4a5e5a442017448ee78624b57f9495d5e76f5985/app/models/user.rb#L146

[2021-06-05 09:10] cesswairimu commented on #9741
it returns true when a user has the role `admin` or `moderator` which we use to check to give these types of users extra authorization to features that are not accessible to basic users...makes sense?

[2021-06-05 09:13] cesswairimu commented on #9741
and the basic_user added here will help refactoring lines like https://github.com/publiclab/plots2/blob/main/app/views/like/_like.html.erb#L11

[2021-06-05 10:24] Manasa2850 commented on #9703
@cesswairimu I would like to!

[2021-06-05 10:29] cesswairimu commented on #9703
Awesome🎉🎉 thanks @Manasa2850 free to open it on sunday evening or anytime monday. Thanks

[2021-06-05 11:01] simranbiswas commented on #9083
Hello, I am a first-time contributor wanting to start with open source journey, can you please add my name? Thanks!

[2021-06-05 11:32] afzal442 commented on #9741
Wonderful @cesswairimu! makes sense now. I wanted to look at user behaviour. Could you post the link to the web page? Thanks.

[2021-06-05 11:33] afzal442 commented on #9738
@Elukoye plz draft a PR for this to get some reviews.

[2021-06-05 11:41] anirudhprabhakaran3 commented on #9718
Can anyone push to the unstable branch now? In the previous docs, it's mentioned that only people with write access can do it. Just wanted to confirm once

[2021-06-05 12:15] cesswairimu commented on #9741
Sure, our staging is https://stable.publiclab.org/ and the production one https://publiclab.org/

[2021-06-05 12:31] KarAyushman commented on #9740
@cesswairimu Thank You! I'll work on this asap

[2021-06-05 15:22] grvsachdeva commented on #9697
**Gist of outcomes from this exercise as of  June 5, 2021, 8:30 pm IST**

Biweekly frequency seems to be the popular choice followed by weekly. The last meeting was very productive, so we may think of keeping it weekly for start and then having a biweekly frequency. Just want to be sure, no one's questions remain unanswered. @jywarren  what do you think?

Biweekly frequency looks like a clear winn

[2021-06-05 15:29] AmandeepSingh285 commented on #9083
Hi! I am Amandeep. I am preparing for GSOC next year. I am a first time contributor. Could you assign me any basic issue related to HTML, CSS or JS so that I could begin my open source journey.

[2021-06-05 20:23] lokmoy opened #9747 "Judi Online24jam Aman dan Terpercaya"
[Lokmoy.com](https://lokmoy.com/) - Selamat datang di Situs judi online aman dan terpercaya. Situs judi online 24jam terbaik yang ada di Indonesia dengan banyak keunggulan dan kemudahan bertransaksi membuat situs kami menjadi situs terbaik yang ada di server pkv games. adapun permainan yang disediakan antara lain ;

Poker
DominoQQ
Capsa Susun
Adu Q
Bandar Q
Sakong
Bandar Poker
Bandar 66 Online
Per

[2021-06-05 20:48] #9747 closed

[2021-06-06 07:52] cgrkzlkn commented on #9738
@afzal442 @Elukoye i would like to work on this too, but i am new to this project, it would be great if someone help me with it (which files to change for example). I already installed plots2. As i see now, footer not visible in local development.

[2021-06-06 08:10] afzal442 commented on #9738
Hi @cgrkzlkn, welcome here.

Could post any screenshot of what you see on your local machine? Thanks.

[2021-06-06 08:32] cgrkzlkn commented on #9738
Thanks @afzal442 , here is screenshot:
![plots2_footer](https://user-images.githubusercontent.com/58742393/120917990-cb2ef100-c6ba-11eb-821d-a7c2190421e7.PNG)

[2021-06-06 08:53] Siddhart100 commented on #9742
Hi, I would like to work on this issue, can you suggest me ways to get started ?

[2021-06-06 09:01] afzal442 commented on #9738
Thanks for sharing. Let me work around it!

[2021-06-06 09:07] afzal442 commented on #9738
Hello @cesswairimu! could you help with this?

[2021-06-06 09:10] afzal442 commented on #9738
As I can see footer tag is defined on main page as below:
[code]

which is not on other pages.

[2021-06-06 09:10] afzal442 commented on #9738
So this makes the difference!

[2021-06-06 09:13] jrogers-dev commented on #9608
Thank you for the response, @Elukoye ! Claiming this, and submitting pull request: #9748

[2021-06-06 09:25] cgrkzlkn commented on #9738
In which file that definition is?

[2021-06-06 10:34] jrogers-dev commented on #9083
@cesswairimu Please add me to this list as well. Thank you!

[2021-06-06 10:57] jrogers-dev commented on #8749
@harryobas Seeing if I can get tests to pass.

[2021-06-06 13:14] jrogers-dev commented on #8749
@harryobas @jywarren
The test wasn't passing because the issue's suggested code to add contains the line:
`post '/user_sessions', params: { return_to: request.path, user_session: { username: users(:jeff).username,  password: 'secretive' }  }`
which has `return_to: request.path` causing the redirect to go back to /login instead of to /dashboard.
Tested locally and passed.

Pull Request: #9749

[2021-06-06 13:46] Elukoye commented on #9738
@cgrkzlkn ,go ahead and work on it ,will look at it and let you know what I think

[2021-06-06 14:46] jrogers-dev commented on #5047
@grvsachdeva Seems like @kaylawoodbury has abandoned the PR.
Claiming and fixing, if I may.

[2021-06-06 15:09] jrogers-dev commented on #5047
@grvsachdeva PR Created, waiting on tests and review. Thank you!
#9750

[2021-06-06 18:04] cesswairimu commented on #9742
Hi, go ahead @Siddhart100,  thanks

[2021-06-06 19:01] CYBER-BRIX commented on #9083
hey, I'm a first timer looking out really hard for some FTO can you add my name , I really want to contribute.
Thanks

[2021-06-06 20:19] maximuusS commented on #9083
Hello, I am a first timer and looking out for issues to get started with. I will really appreciate it if you add my name in the list. I know Java, Javascript, CSS and Html

[2021-06-06 23:12] #9732 closed

[2021-06-07 08:38] afzal442 commented on #9738
@cesswairimu @Elukoye what do you think?

[2021-06-07 09:13] TildaDares opened #9754 "Format _tags.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-07 09:18] jrogers-dev commented on #8749
Hmmmm, tests passed locally, but not when I submitted the PR.
Looks like it might be an issue with CodeCov somehow?

`bad argument (expected URI object or URI string)
/opt/hostedtoolcache/Ruby/2.6.6/x64/lib/ruby/2.6.0/uri/common.rb:739:in `URI'
/home/runner/work/plots2/plots2/vendor/bundle/ruby/2.6.0/gems/codecov-0.5.2/lib/codecov/uploader.rb:457:in `upload_to_v4'
/home/runner/work/plots2/plots2/v

[2021-06-07 09:21] TildaDares commented on #9754
@jdcbautista Would you like to work on this?

[2021-06-07 10:29] CYBER-BRIX commented on #9754
Hey can you assign this issue to me ,i'm a beginner and would really like to work on this.

[2021-06-07 10:34] TildaDares commented on #9754
Hi @CYBER-BRIX, this issue has been reserved for @jdcbautista. You can ask for your name to be included in #9083 as a first-timer. Thanks!

[2021-06-07 11:24] TildaDares opened #9755 "[Discussion] Autocompletion in comment boxes"
I've been looking through At.js docs https://github.com/ichord/At.js/wiki/Callbacks, https://github.com/ichord/At.js/wiki and https://github.com/publiclab/plots2/blob/main/app/assets/javascripts/atWhoAutoComplete.js. From what I understand I think the `data` key is what is supposed to hold the pre-fetched usernames

[code]

But instead of hardcoded names, the names are generated from recently acti

[2021-06-07 11:40] Manasa2850 opened #9756 "PRs are failing because of 'bad argument (expected URI object or URI string)' error"
A lot of the recent PRs are failing because of this error. This causes all 4 tests - unit, functional, integration and system tests to fail.
Closing and reopening the PR is not solving this error.
![Screenshot 2021-06-07 17:09:27](https://user-images.githubusercontent.com/43354059/121010511-247a4b80-c7b3-11eb-92ed-74da7120f954.png)

[2021-06-07 13:08] CYBER-BRIX commented on #9754
@TildaDares I have commented ,and please can you assign me some issue related to basic java I'm passionate about coding with java

[2021-06-07 13:11] TildaDares commented on #9754
@CYBER-BRIX This repo uses Ruby, Html, CSS and JavaScript.

[2021-06-07 13:19] CYBER-BRIX commented on #9754
i can do Html ,but can you suggest me some other repo i have trying so hard
to find it but i can't please help me finding a maybe a good java repo if
you can or any other first timer reoi is fine with me for html

On Mon, Jun 7, 2021, 6:41 PM Tilda Udufo ***@***.***> wrote:

[2021-06-07 13:31] TildaDares commented on #9660
@jywarren @RuthNjeri Since I'll be making use of the `notes/author` template for the drafts page, this task kind of relies on #9622.

[2021-06-07 14:09] Siddhart100 commented on #9742
Sir, I am a little confused, can you please tell me what I have to do ?

[2021-06-07 14:42] ebarry commented on #9660
Thank you so much for working on this very useful feature!
I think the righthand sidebar is a great place to link to Draft content. I would **not** put it in the dropdown menu for the profile picture (it's already confusing that "Notes you've liked" is in that menu, and it might be nice to look ahead to how this link to "likes" could also be moved into the right sidebar on the page as well).

What

[2021-06-07 15:13] TildaDares commented on #9660
@ebarry I think the two links under the map should be removed. The sidebar already has those links so it seems kind of repetitive to still have it under the map. Also, making the sidebar the only place where you can find links to content created by the user makes the page a lot more organised and easier to navigate.

[2021-06-07 16:14] sarasage opened #9758 "Photos are not Loading to Posts/Research Notes"
When loading photos to posts, the uploads get stuck and stalls at 100%. This problem has been happening for at least a week, to my knowledge. I have tried uploading photos a couple dozen times, with no success over the last week.

Draft post in question:
https://publiclab.org/notes/edit/26745?t=1623080539

Using Chrome Browser
Processor	Intel(R) Core(TM) i5-1035G1 CPU @ 1.00GHz   1.19 GHz
System t

[2021-06-07 18:02] ebarry commented on #9660
ok, sounds good!
--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Mon, Jun 7, 2021 at 11:14 AM Tilda Udufo ***@***.***>
wrote:

[2021-06-07 18:57] Jgabriel88 commented on #9754
Hello, I would love to start contributing, I am a new grad from a web development bootcamp and I am looking for opportunities to keep coding!

[2021-06-07 20:13] TildaDares commented on #9754
You can ask for your name to be included in #9083

[2021-06-07 20:32] Jgabriel88 commented on #9083
Hello can you please add my name on the list?

[2021-06-07 20:32] icarito commented on #9758
Thanks for your report. Indeed the Storage volume seems to be having issues. Restarting it now.

[2021-06-07 21:55] icarito commented on #9758
The reason for this issue is we're using `gcsfuse` to mount a Google Storage Volume as read-write, in order to be able to write to it. It seems that this package may have some bugs and lock the mountpoint causing read-write requests to it to stall indefinitly. This may have something to do with recent issues where the website was not responsive.

[2021-06-07 21:58] icarito opened #9760 "Implement paperclip or other way to upload to Google Cloud Storage"
In order to migrate to Google Cloud Storage, we've had to mount our storage bucket with `gcsfuse`. This solution seems not stable enough as it sometimes locks the mountpoint (#9758 is an instance of this). This happened recently and we didn't notice until today, and it may have caused more problems in the past week.

**Please describe the desired behavior.**
Ideally, we would not have to mount thi

[2021-06-07 22:42] sarasage commented on #9758
Thank you, again. I will close the issue now since it has been solved.

[2021-06-07 22:42] #9758 closed

[2021-06-08 03:04] anirudhprabhakaran3 commented on #9756
This seems to come up on searching for the error on Google.
https://stackoverflow.com/a/18550240

[2021-06-08 07:43] cesswairimu commented on #9703
Hi @Manasa2850 I can't trace the check-in....maybe you created it on another repository, could you please link me to it. thanks

[2021-06-08 07:49] cesswairimu commented on #9756
thanks for reporting this @Manasa2850 ..looking into it

[2021-06-08 08:29] cesswairimu commented on #9756
I think this is caused by one of the libraries updates because I can see the tests all pass with no failures

[2021-06-08 08:49] Manasa2850 opened #9762 "Weekly Community Check-In #106 - Everybody Struggles"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-06-08 09:10] cesswairimu commented on #9703
no worries, thanks @Manasa2850 ..closing this

[2021-06-08 09:10] #9703 closed

[2021-06-08 10:19] cesswairimu commented on #9756
okay was able to get https://github.com/publiclab/plots2/pull/9757 to pass with 3 restarts

[2021-06-08 11:18] Manasa2850 commented on #9756
@cesswairimu closing and reopening doesn't seem to work always. I tried it a couple of time on #9733 but the tests are still failing :cry:

[2021-06-08 11:21] cesswairimu commented on #9756
Yeah you are right, seems like its a codecov problem

[2021-06-08 13:10] imajit commented on #9686
![Screenshot from 2021-06-03 01-57-37](https://user-images.githubusercontent.com/38528640/121190289-86f14b80-c888-11eb-9186-dba3c9e56dcf.png)
On the site there a lot of buttons where the translation function is called as we cannot nest one button inside another, the globe icon occurs besides the button. I can change it such that both text and globe icon is inside a single button but I read on the

[2021-06-08 13:13] cesswairimu commented on #9756
Barun also mentioned on gitter

[2021-06-08 15:52] ebarry commented on #9660
Hi! responding to Jeff's note above, point 1:

- on this, Ruth suggested "This tab is visible only to the author and site administrators" as I noted that the current default is that admins are able to see draft posts and reach out through the comments to offer help if it seems needed.

- i'm noting that currently admins are able to see draft posts, so this would be a change I do not wish to make a

[2021-06-08 16:15] TildaDares commented on #9754
@CYBER-BRIX Are you still interested in working on this?

[2021-06-08 16:17] CYBER-BRIX commented on #9754
YUP

[2021-06-08 16:17] TildaDares commented on #9754
Great🎉

[2021-06-08 16:20] CYBER-BRIX commented on #9754
So is this issue assigned to me?

[2021-06-08 16:24] TildaDares commented on #9754
Yes @CYBER-BRIX

[2021-06-08 18:04] ebarry commented on #9348
Thank you for reporting @jcads !
I agree with @RuthNjeri's comment on first looking into how the map is positioned and making its position relative to the banner if possible :smiley:

[2021-06-08 18:20] ebarry commented on #9698
Let's keep this milestone, I"ll update it with this planning issue. Thanks!

[2021-06-08 18:31] ebarry commented on #9712
This is awesome, thank you! 🙌

[2021-06-08 18:34] ebarry commented on #9697
Noting that @jywarren 's current calendar invite is scheduled for every week

[2021-06-08 21:18] ebarry commented on #9686
Thank you Ajit, nice to chat through forum ideas today. Interested to hear if you developed any more perspectives?

[2021-06-09 06:20] Anand-Theertha commented on #9083
Hello! I would love to contribute to FTO's in HTML, CSS, JS, C++ domains. Thank you!

[2021-06-09 06:33] Anand-Theertha commented on #9742
Hey, if @Siddhart100 is having trouble , can I pick it up if he is unable to do so?

[2021-06-09 06:38] #9741 closed

[2021-06-09 06:45] cesswairimu commented on #9756
Looks like this is now resolved...Found this conversation other people were having the same prob with codecov https://github.com/codecov/codecov-action/issues/330 and looks like a fix was deployed 5 hours ago. Closing this. Thanks

[2021-06-09 06:45] #9756 closed

[2021-06-09 07:22] #9608 closed

[2021-06-09 07:28] #5047 closed

[2021-06-09 07:33] #9740 closed

[2021-06-09 07:37] first-timers[bot] opened #9766 "add nil navigator on admin check room_channel"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-09 07:38] cesswairimu commented on #9766
reserved for @jdcbautista

[2021-06-09 07:42] cesswairimu commented on #9083
Hi....  adding everyone  who is not on the list yet.

@jdcbautista here is an issue for you https://github.com/publiclab/plots2/issues/9766

[2021-06-09 08:24] RuthNjeri commented on #9756
Thanks for helping figure this out @cesswairimu 🎉

[2021-06-09 08:53] #9754 closed

[2021-06-09 09:35] imajit commented on #9686
Hey! I think the existing Translation process works well for recruiting new translators, can we get an opinion from the existing translators about what they feel can be added or what they feel is missing, I can work on that. Also, I think we can get more contributors for translation if we advertise about it https://github.com/publiclab/plots2/issues/9659#issuecomment-848229600 , would love to hear

[2021-06-09 09:42] imajit commented on #9686
Hey! I think the existing Translation process works well for recruiting new translators, can we get an opinion from the existing translators about what they feel can be added or what they feel is missing, I can work on that. Also, I think we can get more contributors for translation if we advertise about it https://github.com/publiclab/plots2/issues/9659#issuecomment-848229600 , would love to hear

[2021-06-09 09:49] imajit commented on #9686
Also, there are some simple string replacement changes that can be very good candidates for ftos, I'll make some ftos for this, this can be helpful in understanding what tests I need to add to make translation based ftos easy to review and merge. Thanks @grvsachdeva for this suggestion :100:

[2021-06-09 10:22] TildaDares opened #9767 "Add translation to _tags.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-09 10:23] TildaDares commented on #9767
@CaptainDrewBoy Would you like to work on this?

[2021-06-09 10:32] CYBER-BRIX commented on #9766
Can i work on this.

[2021-06-09 11:38] RuthNjeri commented on #9755
Hi Tilda, I think from the tests https://github.com/publiclab/plots2/blob/700fdf41a08d52bfd51d7774902dc9217ed225b5/test/unit/api/search_service_test.rb#L9-L11 the query is related to the params...

From the discussion we had yesterday, I think all you need to do is make the method you have written above `search_recently_active_users` an action in the user search controller, or in the relevant cont

[2021-06-09 11:40] RuthNjeri commented on #9755
Also, I am not sure why the `search_service` tries to access the valid method from the `search_criteria`, my understanding from the use of the `search_service` shared above, is that it does not rely on the `search_criteria`

[2021-06-09 11:48] TildaDares commented on #9755
@RuthNjeri To execute a search this method is called https://github.com/publiclab/plots2/blob/700fdf41a08d52bfd51d7774902dc9217ed225b5/app/api/srch/search.rb#L101
https://github.com/publiclab/plots2/blob/700fdf41a08d52bfd51d7774902dc9217ed225b5/app/api/srch/search.rb#L399-L401

which in turn calls the `valid?` method
https://github.com/publiclab/plots2/blob/700fdf41a08d52bfd51d7774902dc9217ed225b5

[2021-06-09 11:50] TildaDares commented on #9755
I think the controller would be [user_controller.rb](https://github.com/publiclab/plots2/blob/700fdf41a08d52bfd51d7774902dc9217ed225b5/app/controllers/users_controller.rb)

[2021-06-09 11:58] RuthNjeri commented on #8749
So sorry for the super late reply @harryobas...I hope you've seen what the issue was from @jrogers-dev

Thanks for working on it and fixing it @jrogers-dev, merging your solution in a few.

[2021-06-09 11:59] #8749 closed

[2021-06-09 12:07] jywarren commented on #9755
Just to note that I'm not 100% sure all the scenarios this API is used for, so it may be important to preserve the current behavior and switch to a different one only in the prese of a specific URL parameter. But I'm not quite sure! Can anyone think of another use? I guess regular user search on the sidebar of the search page maybe?

[2021-06-09 12:08] jywarren commented on #9755
But I guess that's not going to use recently active, just general user search. So maybe we are OK.

[2021-06-09 12:15] TildaDares commented on #9755
@jywarren So, @RuthNjeri's suggestion is okay?

[2021-06-09 12:18] RuthNjeri commented on #9755
Thanks @TildaDares, and how is the code above related to the search_service?

[2021-06-09 12:20] RuthNjeri commented on #9755
@jywarren maybe in the case for research notes, wikis, and questions?

[2021-06-09 12:23] TildaDares commented on #9755
@RuthNjeri I'm not sure how but maybe you'll understand it better https://github.com/publiclab/plots2/blob/main/doc/API.md#api-code

[2021-06-09 14:15] daemon1024 commented on #9698
https://github.com/publiclab/leaflet-environmental-layers/issues/121 I was wondering if spinning it out the component as Leaflet Plugin, would ease out our scripts and workflow.

What are your thoughts about this @jywarren ?

[2021-06-09 14:32] ebarry commented on #5047
thank you @jrogers-dev !

[2021-06-09 15:50] simranbiswas commented on #9767
Hello can I work on this issue?

[2021-06-09 16:06] TildaDares commented on #9767
Hi @simranbiswas Thank you for the interest but let's give @CaptainDrewBoy sometime to respond. You can ask for your name to be added to the list of first timers here #9083

[2021-06-09 16:07] TildaDares commented on #9767
@simranbiswas Sorry your name is already on the list.

[2021-06-09 21:57] 17sushmita opened #9768 "Prevent first-time-posters from tagging work except their own"
Part of larger planning issue #9712

Prevent first-time-posters from tagging work except their own, add appropriate warnings/alerts and/or hide tag form from first-time-posters

- [x]  Disable and Gray out Add Tag button for a first-time poster
- [x]  Block requests to add tags by first time poster from backend
- [x]  Write Functions Tests and system tests

[2021-06-09 22:11] 17sushmita opened #9769 "Disable and Gray out Add Tag button for a first-time poster"
Part of #9768

- Disable and Gray out Add Tag button for a first-time poster
- Display message to first-time posters notifying them that adding tags is not accessible to them.

[2021-06-10 06:41] CaptainDrewBoy commented on #9767
I'd love to work on this! I'll begin later today!

[2021-06-10 14:20] RuthNjeri commented on #9686
Hi @imajit
From what you are saying, is that currently, the global icon and the button, is **not** nested? And that from your research it is not a good practise to nest them?

At the end of the comment, you do mention

I am confused, is there nesting on the site currently? What do you mean by removing the nested globe and it leading to a reduction in the number of globe icons? Does removing the ne

[2021-06-10 14:45] imajit commented on #9686
No, there is no nesting in buttons, a globe icon is rendered outside the button which breaks the styling, you can see how it is rendered by comparing this screenshot to the previous one
![Screenshot from 2021-06-03 01-58-10](https://user-images.githubusercontent.com/38528640/121542780-09fbd880-ca26-11eb-8646-112891ff87e2.png)

Sorry if my comment was confusing, what I meant was either I can remove

[2021-06-10 15:13] RuthNjeri commented on #9686
Thanks for the clarification @imajit, I am beginning to understand what you are saying....for this part

The reduction in the number of globe icons means that translators might miss out on texts to translate because of the reduced number of globe icons?

The idea to nest the globe icon makes much more sense to me at the moment

[2021-06-10 15:37] imajit commented on #9686
The strings will be there on the Transifex site, just its quick link which is provided by the globe icon will not be there, translators can find all strings on site which looks like this
![Screenshot from 2021-06-10 21-03-28](https://user-images.githubusercontent.com/38528640/121554009-6d3e3880-ca2f-11eb-8b8e-3d761b4556c6.png)

[2021-06-10 15:47] RuthNjeri commented on #9686
oh, I see... thanks @imajit, that makes it very clear...

I personally prefer that the global icons stay present on the site since it is an easier way for translators to quickly see what needs to be translated in addition to the Transifex site...

If the globe icon is nested in the button like the screenshot below,
![Screenshot from 2021-06-10 20-10-52](https://user-images.githubusercontent.com/38

[2021-06-10 15:58] imajit commented on #9686
Yes only if user clicks on the globe it will redirect to translation site else anywhere on the button will create new post ,but I agree it will be a bit hard to click for smaller buttons and smaller screens.
So I guess it's best to change the styling to make globe icon inline with the button but outside it

[2021-06-10 16:00] RuthNjeri commented on #9686
I totally agree...

[2021-06-10 21:43] CaptainDrewBoy commented on #9767
I've made the changes in my fork, I'm just setting up git to make a pull request. It's rather late at the minute, so I'm going to retire to bed and finish it tomorrow.

[2021-06-10 21:46] #1236 closed

[2021-06-10 22:18] jywarren commented on #9755
I think this all looks great and so does your PR - i'll make comments there! I think you were way ahead of what i noted in my comment. Great to see it!

[2021-06-10 22:25] jywarren commented on #9686
I like the idea of the globe icon remaining and being inline with the button but just outside. I appreciate the care going into this! One other possibility is that the globe icon would create a popover that is itself clickable, distinct from the button. But if you're able to consistently get the globe icon outside the button, that sounds great.

I can imagine that it might cause some trouble in ve

[2021-06-11 09:00] #9474 closed

[2021-06-11 11:06] anirudhprabhakaran3 commented on #1236
The labelling is not working it seems.
The logs show the error `Resource not accessible by integration`.

According to the GitHub docs, we're getting this error because the GITHUB_TOKEN has only read permissions, which means that it can't be used by forks, and that's not allowing us to add labelling.

I'll try to find a fix.

[2021-06-11 12:23] 17sushmita opened #9774 "Block requests to add tags by first time poster from backend"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-11 12:24] 17sushmita commented on #9774
Hi @CaptainDrewBoy, Would you like to work on this?

[2021-06-11 14:35] #9755 closed

[2021-06-11 14:41] #9362 closed

[2021-06-11 14:50] jywarren commented on #9660
Hi all! I actually thought it sounded like a really nice idea to put it in the menu dropdown -- @ebarry what are your concerns about placing a link there? It seems like a familiar place to find such things, for example "drafts" can be found in such a menu in some sites/apps. Is there a confusing scenario you've observed related to seeing Likes there as well?

Another place could be in the /post fo

[2021-06-11 14:53] jywarren commented on #9762
Hi everyone! Thank you so much @Manasa2850 for this check-in!

@publiclab/soc team - i'd very much like to hear a short (even one-line) update here about what you've been working on, if you're stuck or need input, and also how you're feeling! Please take a short moment to leave a note here each week, i really appreciate it!!! 🌟

cc @TildaDares @Manasa2850 @17sushmita @daemon1024 @waridrox @imajit

[2021-06-11 15:28] daemon1024 commented on #9762
Hey there 👋 I am doing fine 😊, Spent most of the time setting up and digging through old conversation and issues 😅. Currently working on the script to generate layers. Hope to give y'all a demo by the next check-in 🙌

[2021-06-11 15:49] TildaDares commented on #9762
Hi everyone, I've been working on username autocomplete in comment boxes. It involved a lot of trial and error 😅 but I'm glad everything worked out.

[2021-06-11 16:04] CaptainDrewBoy commented on #9774
Sorry, I'm currently working on a first-timers issue I've been assigned (which will be finished later today). But thank you for offering!

[2021-06-11 16:25] imajit commented on #9762
Hi! I have been working on improving the UI experience for the translation team. It has lots of tiny changes and some changes require a bit of discussion too.

[2021-06-11 16:36] CaptainDrewBoy commented on #9767
https://github.com/publiclab/plots2/pull/9775
Made the PR. Do let me know if I've gone wrong, and thank you for this chance to dip my toes into git/github and contributing.

[2021-06-11 16:43] unnati914 commented on #9083
hi all! I am also a first timer could you guide me for certain issues?

[2021-06-11 16:45] Manasa2850 commented on #9762
Hi everyone :wave:. I'm doing good :smiley:
I've finished the tag locking and not displaying tags of banned users tasks (Ref #9694). I'm currently writing tests for them.
Tag locking is not working as expected on the stable website when we use the Chrome browser. Hopefully I'll figure out the issue with this soon!

[2021-06-11 16:50] waridrox commented on #9762
Hi all! 😃 Recently, I've been working on integrating the new capture interface from `spectral-workbench.js` lib to the `spectral-workbench` app. Thanks to the latest `npm` release by @jywarren 🚀, I can now reliably port the newly updated library.

[2021-06-11 17:23] 17sushmita commented on #9762
Hi everyone😀,
I'm working on Preventing first-time posters to add tags. I've opened a PR for disabling it from UI (#9770)  and an FTO (#9774) to block requests from backend. Currently, I'm writing tests for them.

[2021-06-11 17:31] anirudhprabhakaran3 commented on #9762
Hello!
I've been trying to make an auto-labeller for PRs, and one PR related to that has also been merged. However, it seems as though there are issues with it and now that's what I'm focussing on.
Other than that, I'm also editing the documentation for the stable and unstable servers. Have to complete that too.

[2021-06-11 18:13] Ha-pixel67 commented on #9762
@anirudhprabhakaran3 the question was asked to the public lab SoC team which includes people selected for gsoc and outreachy. Nobody asked for your comments. Please don't spam here.

[2021-06-11 18:30] TildaDares commented on #9762
@Ha-pixel67
@anirudhprabhakaran3 is not a spammer and there's nothing wrong with them sharing how their week is going ❤️

[2021-06-11 18:41] Ha-pixel67 commented on #9762
@TildaDares I appreciate it. But when Jeffrey has so clearly tagged the soc team and the mentors, I really don't think this person @anirudhprabhakaran3 had to come and put a comment and spam here.
I really appreciate the work done by Open Source communities and I'll do my level best to kick out unwanted people like @anirudhprabhakaran3

[2021-06-11 18:58] 17sushmita commented on #9774
Okay, great! Let's leave this for other newcomers. Thank you :)

[2021-06-11 19:03] 17sushmita commented on #9083
Hi @lonwabo-mnyaiza, here is one for you #9774

[2021-06-11 19:47] TildaDares commented on #9762
@Ha-pixel67 I appreciate your enthusiasm for open source but the kind of language you're using is not acceptable. ❤️ & 💡

[2021-06-11 20:29] daemon1024 commented on #9762
Hi @Ha-pixel67. Appreciate your concern. But this check-in is for the wider community to interact and collaborate.

As stated in the issue description

Looking forward to your check-in as well and would really appreciate if you would help us maintain an inclusive and welcoming environment here.

Here's our [Code of Conduct](https://publiclab.org/conduct#:~:text=Public%20Lab%20is%20dedicated%20to,c

[2021-06-11 20:48] jywarren commented on #9762
Thanks everyone. @Ha-pixel67 I understand there's a lot of info in this issue and it may not have caught your eye what our community norms are around the check-in process. @anirudhprabhakaran3 is definitely welcome to offer an update ❤️ ✨  for all the work you've been putting in on troubleshooting our outages, monitoring and such.

I appreciate everyone's notes on the welcoming tone we aspire to h

[2021-06-12 12:28] Manasa2850 opened #9776 "Differentiate between tags and power tags"
@publiclab/mentors  this is what I've thought of to differentiate between tags and power tags. Please let me know your views on this.

1. Change the location of power tags - currently we add normal tags and power tags in the same place. Instead, we can have another input box for power tags, hovering over which will tell us what a power tag is.
2. Prompt users to enter the type of power tag before

[2021-06-12 16:18] cesswairimu commented on #9766
Hi @CYBER-BRIX this is reserved and I see you already worked on first-timer-issue  https://github.com/publiclab/plots2/pull/9764 ... kindly browse through issues labelled`help-wanted` to find something to work on next

[2021-06-12 16:40] first-timers[bot] opened #9777 "Refactor basic user check on likes"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-12 16:40] cesswairimu commented on #9777
Reserved for @divs-2018

[2021-06-12 16:53] first-timers[bot] opened #9778 "Refactor basic_user_check on tags form"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-12 16:54] cesswairimu commented on #9778
Reserved for @tirthPatel177

[2021-06-12 16:58] cesswairimu commented on #9743
Reassigning this
We free-up FTOs if a week goes by with no updates or replies because we assume they have been abandoned. This is to give other contributors a chance, as these types of issues are high in demand now.

If you'd like to try again with a new FTO, we welcome you to! Thanks

[2021-06-12 16:58] cesswairimu commented on #9743
@maheshschand you can pick this one. thanks

[2021-06-12 16:59] cesswairimu commented on #9739
Reassigning this
We free-up FTOs if a week goes by with no updates or replies because we assume they have been abandoned. This is to give other contributors a chance, as these types of issues are high in demand now.

If you'd like to try again with a new FTO, we welcome you to! Thanks

[2021-06-12 16:59] cesswairimu commented on #9739
@iamkrish-coder feel free to pick this one up. thanks

[2021-06-12 17:06] iamkrish-coder commented on #9739
Thanks for the opportunity! I will work this out.

[2021-06-12 17:06] first-timers[bot] opened #9779 "Use basic user check on node model"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-12 17:07] cesswairimu commented on #9779
Reserved for @Shashwat545

[2021-06-12 17:10] cesswairimu commented on #9083
Hi @unnati914 and welcome, I ve added your name to the list.

 here are some ftos and  pings
@divs-2018 - https://github.com/publiclab/plots2/issues/9777
@tirthPatel177 - https://github.com/publiclab/plots2/issues/9778
@maheshschand - https://github.com/publiclab/plots2/issues/9743
@iamkrish-coder - https://github.com/publiclab/plots2/issues/9739
@Shashwat545 - https://github.com/publiclab/plots2/

[2021-06-12 17:19] first-timers[bot] opened #9780 "Refactor roles check comment mailer"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-12 17:20] cesswairimu commented on #9780
reserved for @drchibs

[2021-06-12 17:24] tirthPatel177 commented on #9778
Thanks @cesswairimu for assigning the issue. I would love to work on this.

[2021-06-12 17:26] first-timers[bot] opened #9781 "Update moderators roles check"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-12 17:26] cesswairimu commented on #9781
reserved for @simranbiswas

[2021-06-12 17:33] cesswairimu commented on #9778
Hi @tirthPatel177, please go ahead. Thanks

[2021-06-12 17:39] simranbiswas commented on #9781
Thank you for considering me. I'll work on this right away!

[2021-06-12 17:46] first-timers[bot] opened #9782 "Refactor profile roles check"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-12 17:47] cesswairimu commented on #9782
reserved for @AmandeepSingh285

[2021-06-12 17:51] cesswairimu commented on #9083
some more ftos
------------------------

@drchibs   - https://github.com/publiclab/plots2/issues/9780
@simranbiswas  - https://github.com/publiclab/plots2/issues/9781
@AmandeepSingh285 - https://github.com/publiclab/plots2/issues/9782

thanks everyone for your patience :heart:

[2021-06-12 18:09] cesswairimu commented on #9762
thanks all  :heart:   :heart:   :heart:

I would like to thank @KSVSC and @anirudhprabhakaran3 for helping close [some old issues](https://github.com/publiclab/plots2/issues/9637)  :tada: :tada: :tada: :tada: and many thanks to the soc  folks for the ftos you are creating, help with the reviews and the amazing work you are doing :tada: :tada: :tada: :tada:

[2021-06-12 18:17] Jgabriel88 commented on #9762
I would like to stop receiving emails, how can I do it???

[2021-06-12 18:18] cesswairimu commented on #4594
correct Debasish, closing this

[2021-06-12 18:18] #4594 closed

[2021-06-12 18:25] anirudhprabhakaran3 commented on #9762
On the right side of the page, under the notifications tab, you'll see an unsubscribe button.

[2021-06-12 18:52] first-timers[bot] opened #9785 "Solve mocha deprecation warning"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-12 18:52] cesswairimu commented on #9785
reserved for @maximuusS

[2021-06-12 19:08] cesswairimu commented on #9083
@maximuusS - https://github.com/publiclab/plots2/issues/9785

[2021-06-12 19:25] drchibs commented on #9780
Thanks a lot🙏

[2021-06-12 19:28] divs-2018 commented on #9777
Thanks, @cesswairimu! I would love to work on this issue.

[2021-06-12 19:36] cesswairimu commented on #9777
Go ahead @divs-2018 . Thanks

[2021-06-12 20:24] daemon1024 commented on #9698
https://github.com/publiclab/leaflet-environmental-layers/issues/480 Bumping this issue and adding to planning task.

Have we consider adding a guide/docs which doesn't require people to download/install things? Using CDNs like [jsdelivr](https://www.jsdelivr.com/package/npm/leaflet-environmental-layers?path=dist) or [unpkg](https://unpkg.com/browse/leaflet-environmental-layers@2.4.3/dist/). This

[2021-06-13 02:14] basketpedya opened #9788 "Basket Pedya"
basketpedya.com là chuyên trang về bóng rổ tại Việt Nam. Blog được xây dựng và phát triển chuyên nghiệp, bài bản, các bài viết được thực hiện chuyên sâu và phân tích kĩ lưỡng, giúp bạn đọc hiểu rõ và chi tiết về bộ môn thể thao rất hấp dẫn này.

[](https://basketpedya.com
)
965845123
Số 132 Tây Sơn, Đống Đa, Hà Nội, Việt Nam
basketpedyavn2021@gmail.com

[2021-06-13 04:05] maheshschand commented on #9743
@cesswairimu I will work on this issue.

[2021-06-13 04:06] cesswairimu commented on #9743
Great 🎉, thanks @maheshschand

[2021-06-13 04:20] maheshschand commented on #9743
@cesswairimu Opened a pull request. Please review and merge.

[2021-06-13 05:50] soham4abc commented on #9785
Can I work on this issue! If possible pls assign!

[2021-06-13 06:04] maximuusS commented on #9785
Is this issue still available?

[2021-06-13 06:10] Manasa2850 opened #9791 "Refactor moderators role check in notes/show.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-13 06:12] Manasa2850 commented on #9083
Hi @unnati914. Here is an FTO for you #9791

[2021-06-13 06:13] Manasa2850 commented on #9791
Reserved for @unnati914

[2021-06-13 06:34] tirthPatel177 commented on #9778
@cesswairimu, i have opened a PR for the issue. Can you please review it? And let me know if i did something wrong.

[2021-06-13 07:42] unnati914 commented on #9791
Thanks

[2021-06-13 10:22] cgrkzlkn commented on #9738
@Elukoye Is there any improvement on the subject?

[2021-06-13 18:04] cesswairimu commented on #9762
Would anyone like to open this coming week's check-in?

[2021-06-13 18:15] TildaDares commented on #9660
@jywarren @ebarry
 We could also use a modal instead of a page.

[2021-06-13 21:03] 17sushmita commented on #9762
I would like to open

[2021-06-14 03:03] maximuusS commented on #9785
Hey @cesswairimu , just wanted to confirm if I should still work on this issue

[2021-06-14 05:23] Nassimprog commented on #9791
Can I claim this?

[2021-06-14 05:33] srisatya1197 commented on #9782
Can I claim this issue?

[2021-06-14 05:34] srisatya1197 commented on #9779
Can I claim this issue?

[2021-06-14 05:46] cesswairimu commented on #9785
Hi @maximuusS, seems like @soham4abc already made a PR to this...let me try to find another issue for you.

[2021-06-14 05:48] cesswairimu commented on #9762
Fantastic  thanks @17sushmita  :tada:  :tada: . Please feel free to open anytime today(monday). thanks

[2021-06-14 06:13] Shashwat545 commented on #9779
Thanks a lot. I'm on it.

[2021-06-14 06:27] cesswairimu commented on #9791
HI @Nassimprog, @unnati914  is working on this...You could request for a fto assignment here #9083 . Thanks

[2021-06-14 06:31] #9788 closed

[2021-06-14 06:44] first-timers[bot] opened #9794 "Solve 'SQLite3Adapter.represent_boolean_as_integer' deprecation warning on tests"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-14 06:46] cesswairimu commented on #9794
@maximuusS you can take this one up.

[2021-06-14 06:48] maximuusS commented on #9794
Okay, thank you

[2021-06-14 06:50] #9781 closed

[2021-06-14 06:51] cesswairimu commented on #9785
@maximuusS you could work on https://github.com/publiclab/plots2/issues/9083 . thanks

[2021-06-14 06:52] #9785 closed

[2021-06-14 06:54] maximuusS commented on #9785
Thank you

[2021-06-14 06:56] #9739 closed

[2021-06-14 07:02] #9743 closed

[2021-06-14 07:17] cesswairimu commented on #9767
fixed in https://github.com/publiclab/plots2/pull/9775. thanks all

[2021-06-14 07:17] #9767 closed

[2021-06-14 10:50] TildaDares opened #9796 "Change limit and cache expiration date on recently active users query"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-14 10:52] TildaDares commented on #9796
@phyleria Would you like to work on this?

[2021-06-14 10:54] TildaDares commented on #9667
@RuthNjeri Can you break this down for me? It's mentioned in the project description.

[2021-06-14 10:56] 17sushmita opened #9797 "Weekly Community Check-In #107 - Cheat Days are Important!!"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-06-14 10:57] 17sushmita commented on #9762
@cesswairimu, here it is #9797

[2021-06-14 11:41] TildaDares opened #9798 "[Discussion] Refine design of co-authored posts on profile pages"
Presently coauthored posts are displayed separately from normal posts as seen here https://publiclab.org/profile/warren. I suggested changing the query that gets a user's posts (notes, questions and wikis) to also include co-authored posts.

[code]
What does the community think?

@jywarren @RuthNjeri @cesswairimu

[2021-06-14 12:06] cesswairimu commented on #9762
Thanks @17sushmita 🎉🎉

[2021-06-14 12:06] #9762 closed

[2021-06-14 13:47] ebarry commented on #9660
Have we ever created a clear concept for what goes in the Profile dropdown
menu? I'm interested in us making one. I feel that over the years I've been
a part of creating what—in US slang at least— might be called "a junk
drawer" approach -- lots of important bits that don't fit anywhere else yet
we want them handy. Without a clear concept of that menu, i'm hesitatant to
put yet another item there,

[2021-06-14 13:51] virtualpathum commented on #9796
Im a first timer. Can I fix this?

[2021-06-14 14:01] jywarren commented on #9348
Hi all! The banner was originally designed at 49 pixels max height, and has some very carefully written media width breaks to push content down at different sizes. Unfortunately media width selectors in CSS don't account for text length, so as text gets to be more than one line, this approach breaks down. The CSS included in the database as part of the banner code is:

[code]

Unfortunately as thi

[2021-06-14 14:05] jywarren commented on #9348
Here's the current complete database-stored code, which @publiclab/community-reps have the ability to modify (editable at publiclab.org/features)

[code]

It is possible to set this by JavaScript, measuring dynamically the height of the banner. It's a little inefficient , but maybe on the window size change event?

https://github.com/publiclab/plots2/blob/e646cfd248e46fe9cf11a2eb7860bbf29f949b7d/a

[2021-06-14 14:24] BlogThe commented on #9774
I would like to claim this one if possible.

[2021-06-14 15:18] Ha-pixel67 commented on #9797
Haramkhor @anirudhprabhakaran3

[2021-06-14 15:24] Ha-pixel67 commented on #9797
@waridrox kyu be?

[2021-06-14 15:25] Ha-pixel67 commented on #9797
@anirudhprabhakaran3 sala

[2021-06-14 15:32] Ha-pixel67 commented on #9797
Abey kya kar rahe ho

[2021-06-14 15:33] Ha-pixel67 commented on #9797
Sala @anirudhprabhakaran3

[2021-06-14 15:37] Ha-pixel67 commented on #9797
Dekh lunga teko

[2021-06-14 15:38] Ha-pixel67 commented on #9797
@17sushmita behen yeh sala @anirudhprabhakaran3 ko kyu special mention??

[2021-06-14 15:40] Ha-pixel67 commented on #9797
Aaja aaja main hoon pyaar tera

[2021-06-14 15:40] waridrox commented on #9797
@Ha-pixel67, Folks who contribute to the codebase of Public Lab get featured in the weekly check-in...If you do it too, you will also get featured.

[2021-06-14 15:41] Ha-pixel67 commented on #9797
Haan ji bhaiyya main bhi comment kiya. Mujhe bhi dedo na special mention

[2021-06-14 17:12] Nassimprog commented on #9083
I would like to contribute as a first-time contributor

[2021-06-14 18:17] afzal442 commented on #9738
@17sushmita could you help with this?

[2021-06-14 19:03] TildaDares commented on #9796
Hi @virtualpathum, thank you for the interest but this issue is reserved. You can ask for your name to be included in the list of first timers here #9083. Thanks :)

[2021-06-14 19:35] divs-2018 commented on #9777
#9800 - Here is my pull request.
Thanks for the opportunity and the descriptive information on how to proceed with the issue.
Please let me know if I did something incorrectly and how I can fix it.

Thanks!

[2021-06-14 20:06] 17sushmita commented on #9738
Hi @afzal442, Thank you so much for bringing this out. I just checked out the issue. You are in the right direction about this

But, the issue I can see is that this styling is coming from a CSS library we have imported in `application.css`. So, I'm not sure if we can change/remove these lines. But we can do one thing that we add
[code]
in our code. This will override the previous styling of `foot

[2021-06-14 20:22] icarito commented on #9716
The issue had to do with our storage volume hosted at GCS, we are using `gcsfuse` which seems to crash and lock the mountpoint, causing the processes to lock up and stop responding. The proposed solution is to implement Paperclip or use the Google Cloud storage API in other way to upload files https://github.com/publiclab/plots2/issues/9760

[2021-06-14 22:05] icarito commented on #9716
The underlying issue was described as well at https://github.com/publiclab/plots2/issues/9758 - closing this bug as the root cause has been found and a proposal for a permanent fix is at #9760

[2021-06-14 22:05] #9716 closed

[2021-06-15 03:15] virtualpathum commented on #9083
Hi, I also would like to contribute as  a first timer. I prefer Java, Javascript issues if available. Thanks

[2021-06-15 03:21] anirudhprabhakaran3 commented on #9760
What exactly are we storing on Google Cloud? Images and attachments? I don't understand the part about mounting the volume...

[2021-06-15 06:59] abhiprojectz commented on #9083
i would like to contribute.

[2021-06-15 07:34] afzal442 commented on #9738
Thanks! That really makes sense. I was also wondering if we can override the CSS property.
Steps to be taken:
Create a file in this folder https://github.com/publiclab/plots2/tree/main/app/assets/stylesheets namely footer.css and include the CSS tag.
And require it in this file https://github.com/publiclab/plots2/blob/main/app/assets/stylesheets/application.css

Or investigate any proper file to a

[2021-06-15 08:23] BlogThe commented on #9083
I would like to contribute

[2021-06-15 09:09] cgrkzlkn commented on #9738
@17sushmita @afzal442  Thanks for help! Now i understand how we'll change the style of the footer.  Is that okay if we add that CSS tag to [style.css](https://github.com/publiclab/plots2/blob/main/app/assets/stylesheets/style.css) ? Other footer elements are in that file too.

[2021-06-15 11:06] phyleria commented on #9796
Yes I would, thank you

[2021-06-15 13:57] 17sushmita commented on #9738
@cgrkzlkn, Yes, `styles.css` seems good to me. Thank you for investigating!!🎉

[2021-06-15 14:49] jywarren commented on #9760
I think `gcsfuse` is a library which allows Google Cloud Storage to act as a linux-native disk mount, and `fuse` in general is a class of disk-mount interfaces -- for example, i think someone for fun made a `gmail-fuse` library which is able to use your gmail inbox appear as a fuse-based disk on linux devices. Obviously not that efficient 😄

Here, i guess it was just too much of a beta, or somethi

[2021-06-15 14:58] jywarren commented on #9667
Hi @TildaDares -- i think i wrote this line 😅

What i was thinking was, if we fetch some recently used (we'll call them "prioritized") usernames and we want them to float to the top of the results list for convenience, we don't want them to later show up a 2nd time further down the list. So this has a few parts:

1. figure out how to blend the two lists, both as a matter of API (do we do this on t

[2021-06-15 14:59] jywarren commented on #9667
Hope that helps!!!

[2021-06-15 15:08] anirudhprabhakaran3 commented on #9760
It seems as though Paperclip has been depreciated. The official Paperclip GitHub repo advises us to use ActiveStorage.

The RoR docs give instructions to use ActiveStorage along with Google Cloud storage, along with lots of other services, like AWS and Azure. They can be found here: https://guides.rubyonrails.org/active_storage_overview.html#google-cloud-storage-service

We'll have to see how much

[2021-06-15 15:43] jywarren commented on #9776
Re: item 4, just noting:

powertag display: https://github.com/publiclab/plots2/pull/8684

[2021-06-15 16:01] #9769 closed

[2021-06-15 16:13] gettinDrikkieWithIt commented on #9083
Hi, I am a first-time contributor, can you please add my name? Thanks!

[2021-06-15 16:32] ebarry commented on #9776
Great! Nice chatting with you today on the call.
Regarding:
1. I see the concept here, but I do not see a need for two input boxes. Perhaps the combination of "+" which expands to the input box could be improved? For instance, this "+" completely disappears once clicked. Might this turn into a "-" after clicking, allowing the user to hide the input box?
<img width="240" alt="Screen Shot 2021-06-15

[2021-06-15 17:21] jywarren commented on #9760
Thanks @anirudhprabhakaran3 -- we had tried switching to ActiveStorage a while back but it didn't yet support very many backends. Looking at it again now, but... my preference would be to try using Paperclip for a relatively quick fix on this, then scheduling a bigger switch to ActiveStorage later. But let's see what's possible. Thanks!

[2021-06-15 17:24] jywarren commented on #9760
Google storage is supported through Fog Storage: https://github.com/thoughtbot/paperclip#storage

[2021-06-15 17:27] jywarren commented on #9760
And we're on Paperclip `v6.1.0`: https://github.com/publiclab/plots2/pull/3782

[2021-06-15 17:28] jywarren commented on #9760
We'll probably change the storage here: https://github.com/publiclab/plots2/blob/main/config/initializers/paperclip.rb#L1-L10

[2021-06-15 17:37] jywarren commented on #9760
OK - @icarito i started the changeover here: https://github.com/publiclab/plots2/pull/9807

My questions/thoughts:

- [ ] what about moving the existing files over
- [ ] secrets/keys storage, i chose `ENV["GOOGLE_STORAGE_KEY"]` and `ENV["GOOGLE_STORAGE_SECRET"]` but open to whatever
- [ ] Can you set up unstable with the keys following the above naming so we can try this out?
- [ ] what about test

[2021-06-15 17:45] jywarren commented on #9797
Hi folks! @17sushmita I really appreciate this topic. It's not even cheating -- how can we do good work if we don't take care of ourselves! It's so cool to know you are a painter! 🎨 🎨 🎨  I'd love to see your paintings!!

I like riding my bike on a day off, having a picnic, reading a book under a tree.

I think i need to do that -- been a bit too busy recently!

This week i'll be focused on this sw

[2021-06-15 17:57] jywarren commented on #9641
Hi all - thank you for your support! I'm currently working on this in https://github.com/publiclab/spectral-workbench/pull/647 (my top priority) and in https://github.com/publiclab/mapknitter/issues/1489 (2nd priority). I've made progress on the first but slowly trying to eliminate remaining errors, reading the log carefully each time. Any input/help/tips/support appreciated!!!

[2021-06-15 18:11] afzal442 commented on #9774
I think no one took up this. @cgrkzlkn can work on it.

[2021-06-15 18:36] 17sushmita commented on #9774
Hi all we are waiting for @lonwabo-mnyaiza to respond as he asked to be in the first-tmers list and this issue got assigned to him. If he doesn't respond in a while @BlogThe you can take this up.

And as @cgrkzlkn is already working on another issue and this is a first-timers only, let's leave this for a newcomer. Meanwhile, feel free to take a look at other issues here - https://github.com/public

[2021-06-15 18:41] imajit opened #9809 "Dialects in Transifex"
Part of #9686
**Topic:** We currently have 14 languages supported in Public Lab Transifex Team https://www.transifex.com/publiclab/publiclaborg/dashboard/ .
**Problem:** Transifex supports multiple dialects of the same language, but for every dialect, we need to translate all the strings again.
In cases where there is overlap in dialects that is they have the same translation of a word, then in th

[2021-06-15 21:27] ebarry commented on #9776
Ok -- i got more into the history of this project and I more fully appreciate what you've suggested here. Upon reflection, I think my comment from earlier today did not fully meet your question. I think the ideas you're engaging with are a little beyond what we've figured out as of yet. Thank you again for pushing ahead, but i'm wondering if you could give us a couple weeks while some staff / comm

[2021-06-15 21:28] jywarren commented on #9776
Hi @Manasa2850 and @17sushmita, just let me know if you running low on tasks that can be tackled now, given this one will take a little more brainstorming with community reps!

[2021-06-15 21:33] ebarry commented on #9809
Thank you for posting this @imajit! I really appreciate your deep dive into dialects.

Just one small bit of context to add from my side, the user that requested the three new dialects does not exist in the Transifex system, which is confusing—see screenshot. What I take from this is that we may not have a "champion" for these dialects. But that's OK, i approved the three additional Spanishes, and

[2021-06-15 21:36] jywarren commented on #9502
Great, thanks. @noi5e i know you have a little bandwith on this now, did you have a take on this, does it sound OK?

[2021-06-15 21:36] ebarry opened #9812 "Standardize tooltips on row of icons"
**Please describe the desired behavior.**
Describe the solution you'd like.

I'd like to see consistency in the tooltips on this series of icons:
![inconsistent-tooltips](https://user-images.githubusercontent.com/161439/122126709-20c47580-ce00-11eb-8637-aa7d2b1db841.gif)

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.

This occurs on all notes an

[2021-06-15 22:01] first-timers[bot] opened #9814 "Add a "feature" for admins to insert HTML into the new dashboard"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-15 22:35] jywarren commented on #9697
Hi all! Thank you so much @grvsachdeva for running this poll! Much appreciate everyone's input. I'll invite everyone to the `soc` channel for starters. And will assume next week's meeting is OPTIONAL, but I will still be there in case people have questions or want to chat synchronously. Thanks, everyone!

[2021-06-15 22:35] #9697 closed

[2021-06-15 22:56] jywarren commented on #9809
OK, wow this is interesting. So for dialects, if we have the idea of dialects branching off a language that's not the "trunk", that does seem like it could work. @ebarry do we have anyone we can ask about this idea?

[2021-06-16 03:00] Manasa2850 commented on #9776
Hi @ebarry and @jywarren. Thanks for the inputs. For this week, I'll work on
1. Display suggestion made by Liz - having a `-` button.
2. Display issues mentioned in #6593 and #8684
3. Follow button should appear only on normal tags and not on power tags when not following.

For the other sub-issues, we can come back later and work on it when we have some more clarity!

[2021-06-16 03:34] Dovakiin0 commented on #9814
can i claim this?

[2021-06-16 06:44] Shreyas220 commented on #9814
Hi, can i take this up ?

[2021-06-16 14:54] anirudhprabhakaran3 opened #9818 "Regarding auto labelling PRs"
For previous discussions, refer: https://github.com/publiclab/plots2/issues/1236 and https://github.com/publiclab/plots2/pull/9735

Okay, it seems as though labelling is now working! However, GitHub Labels don't seem to support spaces and capitalisation, because of which the `Work in Progress` label is actually `work-in-progress`. Because of this, the bot is unable to remove the previously added l

[2021-06-16 16:28] Shashwat545 commented on #9779
@cesswairimu I have created a PR for the issue. Can you please have a look and let me know if I did any mistakes. Thanks

[2021-06-16 16:38] ahcodes commented on #9684
Hi! I can try working on this but I might need some guidance since I'm a newbie.

[2021-06-16 18:42] TildaDares commented on #9684
@ahcodes Sure happy to help.

A good place to start would be here.
https://github.com/publiclab/plots2/blob/596ff0c8c81d459857cd9e758b26ec419e0ee4a5/app/views/dashboard_v2/_topicCard.html.erb#L36

For some reason the image being returned by the scraped_image method is broken. Try to find out what `src` that method is returning.
https://github.com/publiclab/plots2/blob/596ff0c8c81d459857cd9e758b26e

[2021-06-16 19:49] TildaDares opened #9821 "Turn on username autocomplete in rich editor"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-16 19:51] TildaDares commented on #9821
Reserved for @virtualpathum

[2021-06-16 19:53] TildaDares commented on #9812
@ebarry Would you like a tooltip added to the edit button?

[2021-06-16 19:55] TildaDares commented on #9766
@cesswairimu Should this issue be assigned to someone else since @jdcbautista hasn't responded?

[2021-06-16 19:58] CYBER-BRIX commented on #9766
@TildaDares , @cesswairimu i would really love to work on this issue..!

[2021-06-16 20:01] TildaDares commented on #9766
@CYBER-BRIX Like @cesswairimu said you've already worked on a first-timer-issue. There are other issues without the first-timers-only tag you can work on. Thanks!

[2021-06-16 20:34] lonwabo-mnyaiza commented on #9774
@17sushmita sorry to all for the delayed response, I can have a look at this, thanks for being patient :)

[2021-06-17 04:10] virtualpathum commented on #9821
Hi @TildaDares, Thanks for reserving for me. Im not very familiar with
 ruby/rails. Therefore, kindly assign this to someone else. Sorry for the inconvenience.

[2021-06-17 06:13] TildaDares commented on #9821
Hi @virtualpathum this issue doesn't require a knowledge of RoR. You just have to uncomment a line but if you still don't want to work on it that's fine.

[2021-06-17 08:44] Dovakiin0 commented on #9821
can i do this?

[2021-06-17 14:07] jywarren commented on #9698
I like this idea a lot! It'd be a nice output of the fellowship too!

[2021-06-17 14:11] jywarren commented on #9698
This sounds cool -- sure!

One thing perhaps in terms of prioritization is that the current map at https://publiclab.org/map is really not as useful as we'd hope it to be. I wonder if it's worth a brainstorm of ideas for how to make the experience better. Some ideas that occur to me:

1. progressively load more content as you zoom/pan (or tune the progressive loading that does happen)
2. refine th

[2021-06-17 15:57] ebarry commented on #9698
Great ideas here! These seem like ideal goals for the Fellowship on Geographic Features. +1!

It has occurred to me that in the future we could think about:
- For people who are logged in, but who haven't added their location, we might show an "add your (blurred) location" prompt ? This or something similar might help explain why the map loads on 0,0?
- For people who are not logged in, might our

[2021-06-17 18:08] #9791 closed

[2021-06-17 18:21] #9687 closed

[2021-06-17 18:23] #9794 closed

[2021-06-17 18:25] #9778 closed

[2021-06-17 18:37] cesswairimu commented on #9738
Great collaboration here :tada: :tada: , thanks so much all and sorry I missed this, This is looking great

[2021-06-17 18:40] #9777 closed

[2021-06-17 18:59] saraswathy-krish commented on #9083
Hello,Thanks for doing this and helping first-time contributors out. I am a first-time contributor here and looking for a first-timers-only issue. Please add my name to the list. Thanks!

[2021-06-17 19:02] saraswathy-krish commented on #9774
Hello, I am a first-time contributor here and looking for a first-timers-only issue. I would like to take this up if it is still up for grabs. Thanks!

[2021-06-17 19:36] saraswathy-krish commented on #9814
Hello, I am a first-time contributor here and looking for a first-timers-only issue. Is the issue still up for grabs?Thanks!

[2021-06-17 20:48] 17sushmita commented on #9774
@lonwabo-mnyaiza, are you working on it?

[2021-06-18 14:51] cgrkzlkn commented on #9684
@TildaDares I would like to work on this too, i couldn't manage to debug the project with `byebug`. Any help would be great!

[2021-06-18 15:01] TildaDares commented on #9684
@cgrkzlkn Let's give @ahcodes sometime to work on this. You can search for other issues to work on for now. Thanks!

[2021-06-18 21:21] 17sushmita opened #9827 "Fixes to MYSQL queries driving Subscription Stats page"
Part of larger planning issue #9712

**Fixes to MYSQL queries driving https://publiclab.org/stats/subscriptions , which has known bugs at #7908**

- [ ] Change heading from ‘People who have posted’ to 'People who have contributed' on contributors section of tag information page (FTO)
- [ ] Fix MySQL queries on subscriptions page (access to the database of unstable version may be required)
- [ ] Wr

[2021-06-18 21:25] 17sushmita commented on #7908
Part of #9827

[2021-06-19 06:59] Josiassejod1 commented on #9083
Add me to the list

[2021-06-19 07:13] sab30-webdev commented on #9083
Hello looking for first-time contributions , please add me to the list so I can begin contributing.

[2021-06-19 09:24] 17sushmita commented on #9774
Since there is no update from @lonwabo-mnyaiza, I'm unassigning you with this task. If you want you may work on other issues later.
@BlogThe, Would you like to work on this?

[2021-06-19 15:24] #7908 closed

[2021-06-19 17:04] ahcodes commented on #9684
@TildaDares Thanks for giving me time to go over this but I think it's a bit too advanced for me. Especially since I don't know any Ruby. I think @cgrkzlkn would love to be assigned to this in my place.

[2021-06-19 17:07] lonwabo-mnyaiza commented on #9774
@17sushmita soz, I usually work on these issue on the weekend, I've made the changes and created a PR for this change which can be reviewed: https://github.com/publiclab/plots2/pull/9829

[2021-06-19 19:43] BajajSmriti commented on #9821
If it's not done, can I work on this? @Dovakiin0 @TildaDares

[2021-06-19 19:47] TildaDares commented on #9684
Thanks for trying @ahcodes ❤️. @cgrkzlkn you can go ahead and try.

[2021-06-20 04:20] Diptime commented on #9821
Can I work on this issue ? @TildaDares

[2021-06-20 04:23] Diptime commented on #9814
Hey there. Can I work on this issue ? Looking forward to it .

[2021-06-20 04:58] yannaung commented on #9083
Hi I would like to contribute as a first timer if possible. Is it possible for me to be added to the list?

[2021-06-20 05:29] cgrkzlkn commented on #9684
Thanks @TildaDares , any help with this? I need to debug to find out what is returned from the method.

[2021-06-20 10:09] RuthNjeri commented on #9798
Hi @TildaDares, thanks for sharing your idea. What would be the benefit of this? I guess I am also curious about the initial decision on not including the co-authored posts, maybe @jywarren or @ebarry can shed light on that.

I do see the option of accessing co-authored posts on the sidebar
![Screenshot 2021-06-20 at 13 06 37](https://user-images.githubusercontent.com/7622875/122670028-8f228280-d1

[2021-06-20 10:35] RuthNjeri commented on #9814
Thanks for the interest @saraswathy-krish and @Diptime. @Shreyas220 has already shared a working PR for this issue. Feel free to add your name here if you still haven't found an issue to work on https://github.com/publiclab/plots2/issues/9083#issuecomment-864499674

[2021-06-20 10:35] #9814 closed

[2021-06-20 10:39] Diptime commented on #9083
Hi there ! I'm looking for a "first-timer-only" issue to contribute to. Please add my name to the list !

[2021-06-20 11:11] 17sushmita commented on #9774
Great, thanks for working on it🎉️

[2021-06-20 11:12] daemon1024 commented on #9797
Hey Folks,

Cheat Days are definitely important. I mostly spent my cheat days sight seeing, but nowadays it's mostly listening to music or playing games with friend 😃

I spent my week organizing and prioritizing things. I was a bit overwhelmed by the things I could do and I had put my hands in a lot of directions. A chat with @jywarren helped me figure out a lot of things and I am hopefully in the

[2021-06-20 12:02] #9818 closed

[2021-06-20 12:12] #9738 closed

[2021-06-20 12:20] #9779 closed

[2021-06-20 12:21] RuthNjeri commented on #9083
There's a first-timers issue here to look at https://github.com/publiclab/plots2/issues/9766

[2021-06-20 12:40] sab30-webdev commented on #9766
@TildaDares ,@cesswairimu.  Can I solve this issue ,I haven't contributed , this would be my first time contribution

[2021-06-20 13:08] Diptime commented on #9766
I've been given this issue. :)

[2021-06-20 13:10] AmandeepSingh285 commented on #9782
I have created a pull request. Please review the changes.

[2021-06-20 13:29] Manasa2850 opened #9832 "Change comments in the tag controller"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-20 13:32] Manasa2850 commented on #9083
There's an FTO #9832. Please claim the issue if you want to work on it.

[2021-06-20 13:39] Diptime commented on #9832
I'd like to work on this issue.

[2021-06-20 13:45] 17sushmita commented on #9797
Hi everyone,

I worked on the subscription stats query bug this week and writing tests for it now. Also, I'll collaborate with @Manasa2850 to divide further tasks this week and need some community input to move ahead.

Thanks, @jywarren, and apologies for checking the comment late. I mostly like to do nature paintings. These are some of my paintings which I do in my free time.
<img src="https://us

[2021-06-20 14:04] sab30-webdev commented on #9832
@Diptime you have already taken the issue #9766 ,so let others to contribute

[2021-06-20 14:06] sab30-webdev commented on #9832
@Manasa2850 can I take this

[2021-06-20 14:16] Manasa2850 commented on #9832
Sure @sab30-webdev. Go ahead.

[2021-06-20 15:01] sab30-webdev commented on #9832
Help please , I forked the repo and modified accordingly as stated and created a commit , but when I create a new pull request in original repo the pull request button is disabled

[2021-06-20 15:12] waridrox commented on #9797
Woah!!!!! 😧 These paintings are so true to life 💯 You have some great artwork skills @17sushmita!

Hi all,
So, I've finally managed to make the capture code work on both the old and the new `/v2` URL for Chrome and Firefox and will be pushing it soon on unstable to check for breaking changes if any 🤞. I'm still not able to figure out how to get it work on Safari tho :( Might need some help here...

[2021-06-20 16:51] nehachauhan14 commented on #9821
Can i work on this issue @TildaDares ?
Thanks,
Neha

[2021-06-21 02:37] Diptime commented on #9766
Opened a PR

[2021-06-21 10:31] TildaDares commented on #9821
@BajajSmriti Yes you can work on this.

[2021-06-21 11:11] cesswairimu commented on #9766
Hey @TildaDares I am sorry I missed this...yeah please feel free to reassign an fto if no updates / pr created for  a week.

@sab30-webdev looks like @Diptime already created a PR...please browse through the issues and feel free to ping me if you don't find an issue.
Thanks all

[2021-06-21 11:27] cesswairimu commented on #9797
Hi everyone,  Great theme and beautiful paintings @17sushmita  :tada: :tada:  I feel  like the theme was not fully exhausted because of the moderation we had to do last week..thanks everyone for getting on top of it..maybe we could keep this check-in for another week ? What do folks think?

I mostly take walks or read fiction when I am feeling overwhelmed

[2021-06-21 11:33] cesswairimu commented on #9083
Hi all, adding evryone with no fto yet to the list. Thanks

[2021-06-21 11:35] cesswairimu commented on #9796
Hey @phyleria, please let us you if you are stuck in any way here or there is any way we can help. Thanks

[2021-06-21 12:14] phyleria commented on #9796
Hi @cesswairimu , yes I would  appreciate some help.

[2021-06-21 12:35] cesswairimu commented on #9796
cool,  after forking the project navigate to this file `app/models/user.rb`  and update the lines outlined on step 2 of  the [issue description](https://github.com/publiclab/plots2/issues/9796#issue-920288772)  (replace the lines marked in red with the green ones) you could do this locally or refer [to this]( https://help.github.com/articles/editing-files-in-your-repository/) to edit on github  di

[2021-06-21 13:06] phyleria commented on #9796
Yes, that makes sense, and I’ve completed it. Thanks for your help!

[2021-06-21 19:01] TildaDares commented on #9684
@cgrkzlkn I played around with the code and didn't see anything wrong with it. The image upload allows any kind of file so sometimes a user might add a wrong file or a broken image. If you look at the image pasted above you'll notice that they are from the same user.

@cgrkzlkn @ahcodes Thank you for all the help ❤️

[2021-06-21 19:01] #9684 closed

[2021-06-21 22:01] jywarren commented on #9660
Ah, just to clarify, i wasn't suggesting it go in the menu /instead of/ the profile page.

Let's move ahead with what we have wide agreement on - a link from the profile page. @TildaDares i like the modal concept but i think it might be easier to use a page so that we can easily link to it from multiple places, and also so that there's a URL we can tell people to go to where drafts are listed. Wha

[2021-06-21 22:08] jywarren commented on #9798
Fetching the co-authored posts is a less efficient database query, unfortunately, because we don't have a many-to-many relationship between nodes and users. The `with:USERNAME` powertag serves as our join table, but fetching it is not super efficient. So we've kind of avoided doing this as the default. @TildaDares do you see a way around it or think the performance won't be too bad? Thanks for thi

[2021-06-21 22:17] jywarren commented on #9698
This prompt would be on the /map page itself? If so, it could mirror the logic and style of the button we show on the dashboard, which shows "Add your location" if you haven't yet. I like this!

I think we could, but we often request location as part of the blurred location popup itself, when we do so to save that location to ones' profile. So we would have to think about whether it's redundant to

[2021-06-21 22:32] jywarren commented on #9776
Hi @Manasa2850 thanks! I think that for now the switch between (+) and (-) is not completely necessary. There are some challenges visually to how to make it clear that (-) hides the input box. (and it should really be (x)) So I think we should hold off on that for now.

One thing you may be able to help with if you're looking for additional tasks related to powertags, is [this complex one](https:/

[2021-06-22 03:12] Jayita10 commented on #9083
Hi everyone! I want to start my open source journey and actively looking for "first-timer-only" issue to contribute. Please add my name in the list and guide me with a certain issue. Thanks!

[2021-06-22 09:23] TildaDares commented on #9798
@jywarren I don't see any workaround that would be more efficient.

[2021-06-22 10:54] TildaDares opened #9836 "Standardize tooltips placement"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-22 10:59] TildaDares commented on #9836
@jayita10 Would you like to work on this?

[2021-06-22 11:03] Jayita10 commented on #9836
yes I will work on it

[2021-06-22 11:32] TildaDares commented on #9836
@Jayita10 There's a fork button at the top of this page.

[2021-06-22 11:52] Jayita10 commented on #9836
Hi, please review my work. Thank you! :)

[2021-06-22 11:54] TildaDares commented on #9836
@Jayita10 I can't find your pull request.

[2021-06-22 12:19] Jayita10 commented on #9836
"Jayita10 Merge pull request #1 from Jayita10/Jayita10-patch-1
…
d8521e5
12 minutes ago
Merge pull request #1 from Jayita10/Jayita10-patch-1"

this is showing in my pull request tab.
Please let me know what I did wrong  and what I need to to fix this

[2021-06-22 13:52] TildaDares commented on #9836
If you're editing the file directly from github then you shouldn't make the changes on your own fork. Find the file on this repo and edit it there. @Jayita10

[2021-06-22 14:19] Jayita10 commented on #9836
Please check now

[2021-06-22 16:13] jywarren commented on #9697
Added everyone! https://gitter.im/publiclab/soc or https://matrix.to/#/#publiclab-software:matrix.org

Thanks!!

[2021-06-22 16:53] jywarren commented on #9698
Also noting this issue affecting display of people! https://github.com/publiclab/leaflet-blurred-location-display/pull/123

[2021-06-22 19:53] jywarren commented on #9797
@17sushmita i love these paintings!! Especially the reflections and water effects.

@waridrox what kind of piano do you play? I also play a bit! mostly things i hear, or a little old jazz.

@cesswairimu i wanna know, what do you like reading?

****

Since we're keeping this one open another week, i wanted to share -- i asked folks in today's Outreachy/GSoC call what they hope to learn more about i

[2021-06-22 20:25] jywarren commented on #9668
Hi @Manasa2850 @17sushmita -- i'm going to start brainstorming a bit more here on possible additions to your projects. Please keep in mind, you don't have to take any particular one up if it's not very related. Just look at some of the options and if you're interested, speak up and I can help untangle them and get you plugged in.

1. https://github.com/publiclab/plots2/pull/8043#discussion_r488953

[2021-06-22 20:26] jywarren commented on #9668
Ah and i wasn't sure - did someone already claim this one?

Maybe we need to make the list a the top a checklist so we can check them off?

Thanks, everyone! I really appreciate the teamwork here. Great work!

[2021-06-23 12:36] #9774 closed

[2021-06-23 13:02] 17sushmita opened #9842 "Change 'People who've posted' to 'People who've contributed'"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-23 13:07] 17sushmita commented on #9083
There is an FTO, have a look if you want to work on it #9842.

[2021-06-23 13:11] Jayita10 commented on #9842
I would love to work on it

[2021-06-23 13:21] 17sushmita commented on #9842
Great, go ahead @Jayita10 🚀

[2021-06-23 13:49] Jayita10 commented on #9842
Please review my work @17sushmita
Thank you!

[2021-06-23 19:52] #9821 closed

[2021-06-23 21:42] 17sushmita opened #9850 "Functional and System tests for Preventing first-time-posters to add tags"
Part of #9768

- Functional Tests for testing backend functionality of preventing first-time-posters to add tags
- System tests testing UI functionality of hiding tag form from first-time-posters

[2021-06-24 01:17] Aokison commented on #9083
@cesswairimu Hello! I think I may have been missed on the list. I would still very much like to contribute to an open source project.

[2021-06-24 03:55] cesswairimu commented on #9083
Sorry about that @Aokison, added you. Thanks

[2021-06-24 09:19] lonwabo-mnyaiza commented on #9083
Hi guys, I was wondering how do I contribute more, now that I've dipped my toes?
Should I contribute more to the first-timers issues or are there other tasks that I can pick up?

[2021-06-24 16:50] cubthemagiclion commented on #9842
I would love to work on it too, but has @Jayita10 solved the problem already? Does that mean I can still work on it?

[2021-06-24 22:43] noi5e opened #9853 "IMMEDIATE rich-text input into MAIN works (merged in Fix Rich-Text Cross-Wiring in Comment Forms&nbsp;#9011)"

[2021-06-25 09:39] cesswairimu commented on #9083
hi @lonwabo-mnyaiza,  the next step would be to browse through the `help-wanted` issues and leave a comment on anything that interests you, rem to check if anyone is working on the issue(you can tell this but reading through the comments) if its been a while since the contributor made an update feel free to ask them if there are still working on the issue. We would love your help on these. thanks

[2021-06-25 17:39] TildaDares commented on #9796
Hi @phyleria Do you need help with this?

[2021-06-25 18:19] TildaDares opened #9855 "Awarding barnstar system test failing"
This test usually fails on the first PR workflow run but opening and reopening the PR sometimes fixes it
https://github.com/publiclab/plots2/blob/e646cfd248e46fe9cf11a2eb7860bbf29f949b7d/test/system/post_test.rb#L241-L251

[code]

[2021-06-26 03:05] phyleria commented on #9796
Hi, yes. I tried creating a pull request but it didn't pass the tests.

[2021-06-26 07:45] Jandid opened #9858 "not responding"
i cant go throu

[2021-06-26 08:34] TildaDares commented on #9796
@phyleria Was it after creating the PR that the tests didn't pass on GitHub or you're talking about the tests you ran locally?

[2021-06-26 08:37] phyleria commented on #9796
That was before I created the PR

On Sat, Jun 26, 2021, 11:35 AM Tilda Udufo ***@***.***> wrote:

[2021-06-26 08:38] TildaDares commented on #9796
@phyleria Create the PR and we'll deal with the failing tests together.

[2021-06-26 08:42] phyleria commented on #9796
I have already created the PR

On Sat, Jun 26, 2021, 11:39 AM Tilda Udufo ***@***.***> wrote:

[2021-06-26 13:46] imajit opened #9859 "[Discusssion] Import translated strings from Transifex"
Part of #9686
**Importing Translations**
Transifex allows project integration with github repository. We need to install Transifex app to Public Lab Github organisation and then authorize it. This would keep resources up-to-date by syncing the content on regular basis.
After setting up the integration, we can also automate the merging of strings using Transifex bot. It pulls changes in the repos a

[2021-06-26 13:47] imajit commented on #9859
@jywarren @ebarry @grvsachdeva

[2021-06-27 12:22] #9832 closed

[2021-06-27 14:39] cesswairimu commented on #9797
@jywarren short fiction novels..the last one I read was 'Turtles All the Way Down'

hi all, would anyone like to open next week's check-in?

[2021-06-27 14:45] #9842 closed

[2021-06-27 14:46] cesswairimu commented on #9796
Solved in https://github.com/publiclab/plots2/pull/9857. closing this. Thanks all

[2021-06-27 14:46] #9796 closed

[2021-06-27 15:16] cesswairimu commented on #9742
We free-up FTOs if a week goes by with no updates or replies because we assume they have been abandoned. This is to give other contributors a chance, as these types of issues are high in demand now. If you'd like to try again with a new FTO, we welcome you to!

@Anand-Theertha are you still looking fo an fto? if you feel free to take up this one. Thanks all

[2021-06-27 15:21] #9850 closed

[2021-06-27 15:25] 17sushmita commented on #9768
All subtasks completed✅

[2021-06-27 15:25] #9768 closed

[2021-06-27 15:27] #9782 closed

[2021-06-27 15:55] cesswairimu commented on #9780
We free-up FTOs if a week goes by with no updates or replies because we assume they have been abandoned. This is to give other contributors a chance, as these types of issues are high in demand now. If you'd like to try again with a new FTO, we welcome you to!

[2021-06-27 15:55] cesswairimu commented on #9780
@Nassimprog feel free to take up this one.

[2021-06-27 15:56] cesswairimu commented on #9083
@Nassimprog  you can claim this one https://github.com/publiclab/plots2/issues/9780

[2021-06-27 16:19] cesswairimu opened #9860 "Add rake tasks to gitignore"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-06-27 16:20] cesswairimu commented on #9860
Reserved for @virtualpathum

[2021-06-27 16:20] cesswairimu commented on #9083
@virtualpathum here is one for you https://github.com/publiclab/plots2/issues/9860

[2021-06-27 16:20] gettinDrikkieWithIt commented on #9780
Hi @cesswairimu, can I grab this one if possible? 😄

[2021-06-27 16:27] cesswairimu commented on #9780
hi @gettinDrikkieWithIt , lets give @Nassimprog some time...
You can take this one https://github.com/publiclab/plots2/issues/9836 . Thanks

[2021-06-27 16:28] gettinDrikkieWithIt commented on #9780
Awesome, thank you very much!

[2021-06-27 16:30] gettinDrikkieWithIt commented on #9836
Grabbing this one 😄

[2021-06-27 21:14] Nassimprog commented on #9780
I'll take this one if that's ok, thanks!

[2021-06-28 15:06] cesswairimu commented on #9780
Go ahead @Nassimprog, thanks

[2021-06-28 16:05] cesswairimu commented on #9836
fixed in #9861

[2021-06-28 16:05] #9836 closed

[2021-06-28 18:51] cesswairimu commented on #9858
hi @Jandid  could you please give more context on the issue you are facing. Thanks

[2021-06-28 18:57] cesswairimu opened #9866 "Weekly Community Check-In #108 - Think About Your Audience"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-06-28 18:58] cesswairimu commented on #9797
Moved to https://github.com/publiclab/plots2/issues/9866. Thanks all

[2021-06-28 18:58] #9797 closed

[2021-06-29 13:13] #9780 closed

[2021-06-29 16:15] cesswairimu opened #9871 "Gitpod not working correctly"
There are instances where gitpod is not working well. Sushmita and Jeff has experienced this.
 Not starting automatically, Jeff had to do `bundle install` possibly intermittent

[2021-06-29 16:20] Manasa2850 commented on #3913
@jywarren like it's mentioned in the previous comment, we can either have
1. Clicking on the everything tag should redirect to the /dashboard page.
2. Clicking on the everything tag should take us to a page which explains the details and special power of this tag.
Please do let me know which one would be preferable.

[2021-06-29 16:22] jywarren commented on #3913
Thank you!! I think `Clicking on the everything tag should take us to a page which explains the details and special power of this tag.` sounds ideal. Thanks a lot!!!

[2021-06-29 16:22] jywarren commented on #3913
It could be a wiki page which we create at `/wiki/everything` maybe?

[2021-06-29 18:21] jywarren commented on #9859
Hi @imajit i made you an admin in Transifex. Now I'm going to install the app, thanks!

[2021-06-29 18:25] jywarren commented on #9859
Ah, i think it was already installed!

![image](https://user-images.githubusercontent.com/24359/123848601-e968c500-d8e5-11eb-8ce8-a17bc161fa85.png)

[2021-06-29 18:27] jywarren commented on #9859
And the project is already linked:

![image](https://user-images.githubusercontent.com/24359/123848776-16b57300-d8e6-11eb-82b2-10935958c963.png)

[2021-06-29 18:29] jywarren commented on #9859
Just noting also we went through some of these steps in https://github.com/publiclab/plots2/issues/9481

[2021-06-29 18:29] jywarren commented on #9859
Shall we try updating/syncing Spanish and French as a test-run?

[2021-06-29 18:32] jywarren commented on #9668
Just checking here - i think i heard that @17sushmita @Manasa2850 have discussed some of the remaining tasks, can you just briefly summarize how you've split them up? Thank you!

[2021-06-29 18:36] imajit commented on #9859
Yeah, I think we can get a idea how the bot works from this

[2021-06-29 18:50] Manasa2850 commented on #9668
@jywarren we've written our names next to the issues we've taken!

[2021-06-29 18:56] jywarren commented on #9866
Really nice theme, @cesswairimu -- thanks!

I am always still confused about asynchronous JS styles. Like Promises or async/await. I can puzzle through it and even write code in it, but it's not natural to me.

I also struggle with the constantly changing "proper" way to manage things like dependencies, or "best practices"! They seem to change every year!

[2021-06-29 20:35] jywarren commented on #9668
Ah excellent, thank you!

I also wanted to highlight this one which is UI related. Ruth has been working on it for a little while but the breakpoints are causing us some pain on narrower screens: https://github.com/publiclab/plots2/pull/9708#issuecomment-866317068

If it's something of interest to either of you please feel free to pitch in!

[2021-06-29 20:55] jywarren opened #9873 "Periodic test failures in GitHub Actions CI"
I'm seeing occasional errors that seem to self-resolve when we re-run the tests. I'm not sure the cause. Here's one log I found:

[code]

These can sometimes happen due to timing issues -- because tests run all at once with no time passing in between. We can sometimes resolve them by adding an order clause to the SQL, or by using TimeCop to manipulate the time during tests. Let's collect more data

[2021-06-29 21:21] jywarren commented on #9873
Confirmed the exact same bug blocked https://github.com/publiclab/plots2/pull/9848 - and is blocking lots of dependabot PRs too, so that's a good place to look for this happening!

[2021-06-29 21:24] jywarren commented on #9873
https://github.com/publiclab/plots2/pull/9864/ as well! So, what is the actual error?

It seems related to this line from https://github.com/publiclab/plots2/pull/9165 by @RuthNjeri --

https://github.com/publiclab/plots2/blob/78bf29f75865cb6d0dd5e5f55e3ff24ea707a65a/app/models/tag.rb#L430

No worries, Ruth, it seems super obscure. But we're doing an `update_all` -- could it be blocked by some oth

[2021-06-29 21:25] jywarren commented on #9827
Fixed in https://github.com/publiclab/plots2/pull/9828!

[2021-06-29 21:40] #9718 closed

[2021-06-29 23:14] #9855 closed

[2021-06-30 12:55] imajit commented on #9859
There is an error in the naming convention , the language files are named as `hi-IN` but when I pull it from the Transifex project it returns `hi_IN` , so I think we need to follow the same naming convention or else create the language resource in the Transifex project and then just pull it into our repository.

[2021-06-30 12:57] imajit commented on #9859
I was just testing the sync and somehow messed the resource file, i guess the conflict in file names lead to this :worried: , looking into it

[2021-06-30 14:00] daemon1024 commented on #9873
I wonder if introducing pessimistic locking will help us prevent this race condition.

https://api.rubyonrails.org/classes/ActiveRecord/Locking/Pessimistic.html

[2021-06-30 17:37] imajit commented on #9859
I have added https://github.com/publiclab/plots2/blob/main/config/locales/en.yml to auto-update en.yml file based on this documentation https://docs.transifex.com/projects/updating-content#automatically-updating-source-files

[2021-07-02 12:22] #9766 closed

[2021-07-02 21:58] jywarren commented on #9873
Oh, interesting! So how would that look? Like this?

[code]

@RuthNjeri @cesswairimu , what do you think? I've never done this before! 😅

[2021-07-03 20:49] jywarren commented on #9873
@icarito, would it be OK to lock some tag records in this way while the rows are being updated together? Or would it cause some adverse performance?

I'm wondering if:

1. we should only lock in test mode, to avoid a performance issue in production, or
2. we should just lock in general because we may have this kind of MySQL error happening in production?

We should be able to check for such errors