[2017-07-26 02:22] jywarren commented on #1451
This just got fied by @vishaldeepak -- great!!!

[2017-07-26 02:22] #1451 closed

[2017-07-26 02:40] jywarren commented on #1543
I think so. Can we have that data ready to re-insert the bio fields we may have overwritten, and in the meantime fully investigate both the errors that occurred using staging, and implement a fix? We can probably re-import the bio fields at whatever time we like, however -- doesn't have to wait for the fix.

Also most likely we don't want to change the migration but rather add a new one if needed.

[2017-07-26 03:08] icarito commented on #1549
As we were discussing earlier on the chat, you have the rails console at staging to add the token. Staging is up and running at https://testing.laboratoriopublico.org/ -

[2017-07-26 03:32] icarito commented on #1543
Okay I'll proceed with reloading the missing data, fields `bio`, `token`
and `status`. I'll run it thru staging first.

On 25/07/17 21:40, Jeffrey Warren wrote:

[2017-07-26 04:00] icarito commented on #1543
The process involves restoring the table into a new table with a different name, then performing an `UPDATE` and droping the temporary table.

[2017-07-26 05:30] icarito commented on #1543
Looking it over the data is actually not lost just not migrated either. So I guess crafting a new version of the failed migration https://github.com/publiclab/plots2/commit/fdf19ec637db27f8e6b76049e90ab15f59770e54 would make the missing data appear.

[2017-07-26 05:39] icarito commented on #1543
I was just about to go `UPDATE  rusers,profile_values set rusers.bio=profile_values.value where rusers.id=profile_values.uid` but since this needs a migration in ruby, I kindly request your help in debugging https://github.com/publiclab/plots2/commit/fdf19ec637db27f8e6b76049e90ab15f59770e54 ? I can facilitate or automate any test on staging ;-)

[2017-07-26 05:54] vishaldeepak opened #1550 "Test `test_tag_index(TagControllerTest)` fails"
### What happened just before the problem occurred
Running `rake test` on the master branch seems to be failing one test. `test_tag_index(TagControllerTest)- test_tag_index(TagControllerTest)
test/functional/tag_controller_test.rb:114:in block in <class:TagControllerTest`

[code]

### Browser, version, and operating system
Mac OS Sierra - 10.12.5

[2017-07-26 17:27] ryzokuken commented on #1543
@icarito I'll see what I can do, but honestly, I'm not that good with debugging database stuff.

@jywarren please help.

[2017-07-26 17:42] icarito commented on #1543
Okay with a fresher mind I think we can use my good old SQL here; https://stackoverflow.com/questions/14856856/how-to-write-sql-in-a-migration-in-rails
just need to create a new migration...

[2017-07-26 17:59] icarito commented on #1543
Okay I'm looking at the `rusers` table:
[code]
but the migration said:
[code]
So the action wasn't taken for any users, because `status` is never `!=0`

[2017-07-26 18:25] icarito commented on #1543
I'm trying this:
[code]
and getting this now:
[code]

[2017-07-26 19:38] icarito commented on #1543
Just a note that I implemented the solution in https://github.com/publiclab/plots2/blob/c00234b6357cc6e8d4d52e402955081d9ff55b25/db/migrate/20170704165711_add_user_bio_and_token.rb and it's ongoing in staging, about an hour now...

[2017-07-26 19:48] jywarren commented on #1549
I think this was the bio issue:

That should have been (i think):

My fault!

But I think it may not be worth modifying the migration itself. And we're not aware of other instances besides PublicLab.org which would be damaged by this... perhaps we could run a new migration with the correct bio transfer.

You know, I think the bios are still in the db, just not copied over.

Confirmed -- the bios a

[2017-07-26 19:49] ryzokuken commented on #1549
@jywarren yay! finally.

[2017-07-26 19:58] jywarren commented on #1549
OK, i think we should do this in a migration. @icarito can we do this now without going through staging?

I just opened a PR: #1551

But do we know why the tokens didn't get generated? We can at least confirm if #1551 generates them on the testing server.

@icarito - also, why is staging up at testing...? I thought stable would build to staging.*, unstable to tesitng.*?

[2017-07-26 19:59] jywarren commented on #1549
but i am a bit jetlagged...

[2017-07-26 20:28] jywarren commented on #1543
oh, i didn't see this or a closely related issue was documented separately in #1549, and I posted notes there plus a fix in #1541 -- the stuff in the previous migration to filter out non-latin characters. But also note that the `find_by_` syntax returns just the whole record, not the `value` column, #1541 fixes that at least but may fail on the non-latin characters.

[2017-07-28 00:01] #1549 closed

[2017-07-28 00:16] jywarren opened #1554 "notifications from wiki page comments link to wrong URL"
Hi, @aspriya -- I got a notification from this comment:

https://publiclab.org/wiki/sandbox/comments

It linked me to:

https://publiclab.org/wiki/sandbox#c17108

We should detect if it's a wiki page on this template:

https://github.com/publiclab/plots2/blob/master/app/views/comment_mailer/notify_callout.html.erb#L11

we can check if `node.type == 'page'`

It should link to: https://publiclab.org

[2017-07-28 06:08] viren140290 commented on #1490
@jywarren If I may, I would like to work on this issue.

[2017-07-28 20:48] jywarren commented on #1544
I went into the logs and found the error is:

[code]

That's on this line! https://github.com/publiclab/plots2/blob/master/app/models/tag.rb#L203

[2017-07-29 14:03] jywarren commented on #1549
Fixed finally!

[2017-08-01 12:35] ananyo2012 commented on #1438
@aspriya So we have come the Last Phase of GSoC and the most important part of your Project which includes Inline comments and suggestions feature. I have modified your timeline so that it comes in `Phase 3.1` and `Phase 3.2`. Think of how you can leverage the `inline-markdown-editor` to implement these features. Also there is an issue https://github.com/publiclab/plots2/issues/1554 where I have a

[2017-08-01 20:05] jywarren opened #1560 "Overall tag UI planning issue"
This is a planning issue for @lilliankorinek and @shelbyfirebaugh for RGSoC.

### Project 1

* [x] #496 and #1558 (to solve it) -- a simple list of power tags in a dropdown menu so people don't need to know them ahead of time.

### Project 2: use a `prompt()` to create a custom powertag

* [x] Let's say you want to enter a powertag like `redirect:858` -- to redirect to the node with ID 858 -- but

[2017-08-02 04:01] aspriya commented on #1438
Thanks @ananyo, Yes I'm currently studing the code base of
`inline-mardown-edito` for doing this phase. Once started will send a WIP
PR.

On Tue, Aug 1, 2017 at 6:05 PM, Ananyo Maiti <notifications@github.com>
wrote:

[2017-08-02 06:12] ananyo2012 commented on #1438
Also have a look at https://github.com/publiclab/plots2/issues/1554 any try fixing it in the mean time.

[2017-08-02 15:34] Zengirl2 opened #1561 "Attach file not working correctly on research notes"
If I attach the file, it shows up in edit as code, but the file does not appear when published. The code shows publiclab/photos, and I think that may be the problem, as I'm not uploading a photo but a word doc.

### Relevant URLs

https://publiclab.org/notes/Zengirl2/08-01-2017/how-cafos-factory-farms-are-plaguing-north-carolina-communities-of-color#c17140

### PublicLab.org username
@zengirl2
(to

[2017-08-02 15:41] Zengirl2 commented on #1561
OK I have a fix! The legacy editor does it correctly, so someone just needs to compare that code to the Rich editor to repair it.

[2017-08-03 11:20] jywarren opened #1563 ""Switch to legacy editor" should preserve content of page"
This can be achieved with some JavaScript. The notice is here:

https://github.com/publiclab/plots2/blob/master/app/controllers/editor_controller.rb#L40

But we should probably move it into the HTML template here:

https://github.com/publiclab/plots2/blob/master/app/views/editor/rich.html.erb

Once we do that, we can use `editor.richTextModule.value();` from the [PublicLab.Editor project](https://

[2017-08-03 14:37] jywarren commented on #956
All the major ones are now complete, with the exception of `DrupalUsers` -- and we're slowly switching all uses of that table to `User` -- great!

[2017-08-03 14:44] jywarren commented on #1417
This is complete in ; it now works with: https://github.com/publiclab/plots2/pull/1494

`UserTag.new(uid: user.id, value: "skill:#{value}")`

[2017-08-03 14:44] #1417 closed

[2017-08-03 17:07] steviepubliclab opened #1564 "Deep permalinks not working"
### What happened just before the problem occurred
It looks like the links that are embedded in pages (such as the table of contexts type links) aren't working. These are links that jump the reader to another spot in a page. Here are some examples:

- https://publiclab.org/wiki/organizers-handbook  (with the embedded links such as https://publiclab.org/wiki/organizers-handbook#Getting+started, and

[2017-08-03 17:22] jywarren commented on #1564
Ah, great catch. These are very hard to test for, so we don't automatically
catch it when a new change to the site breaks this.

These are called deep links -- can you change the title? Thanks!!!

On Aug 3, 2017 1:07 PM, "steviepubliclab" <notifications@github.com> wrote:

[2017-08-04 12:46] jywarren commented on #1544
Fixed in #1556, thanks!

[2017-08-04 12:46] #1544 closed

[2017-08-04 15:51] lilliankorinek commented on #1560
Hello! @jywarren We reviewed the javascript prompt() method for Project 2. Would you like the UI to present itself as a popup box? Is there alternate UI that we could explore? We wanted to double check before we move forward. Thanks!

[2017-08-04 17:30] jywarren commented on #1560
I think the `prompt()` is a pretty decent UI for requesting text input (works on phones too, for example), and although we could do more advanced ones, it's a good starting point. Yeah -- can you make an `onClick="..."` to add the tag and then test it out locally? Let's do the [redirect powertag](https://publiclab.org/wiki/power-tags) for this, and if it works, we can expand out to a set of simila

[2017-08-04 17:36] jywarren commented on #1560
I also added a Project 3 with some next steps. Do they look OK? They'll require some problem solving but I think you'll be getting the hang of the PR process by then and we can move faster as well. But hope it's helpful!

[2017-08-04 21:10] #496 closed

[2017-08-04 21:17] ebarry opened #1566 "Replication count works, but examples not shown"
### What happened just before the problem occurred

I visited https://publiclab.org/notes/liz/03-15-2017/host-a-balloon-mapping-workshop and noticed that replications weren't showing up anymore although the count was still 35.

Did something change?

[2017-08-04 21:37] jywarren commented on #1566
No, this is just a bug that cropped up recently and I haven't had time to look into or fix it, apologies. I'll take a look, thanks for opening an issue as I'd forgotten to.

[2017-08-04 22:05] jywarren commented on #1566
So we need to look for rows like this in the tests for this feature:

[code]

The test is here: https://github.com/publiclab/plots2/blob/master/test/integration/node_insert_extras_test.rb#L32

[2017-08-04 22:08] jywarren commented on #1566
Trying to reproduce this in a test at #1567

[2017-08-05 00:08] Pk13055 commented on #1563
Can I pick this up?

[2017-08-05 00:10] jywarren commented on #1563
Yes please!!! That would be great. I'm happy to add any info necessary!

On Aug 4, 2017 8:09 PM, "Pratik Kamble" <notifications@github.com> wrote:

[2017-08-07 13:36] jywarren commented on #1564
Think I've got this one. #1568.

[2017-08-07 13:38] jywarren commented on #1554
Hi, @aspriya -- did you see this? Thanks!

[2017-08-07 13:48] #1564 closed

[2017-08-07 13:49] jywarren commented on #1564
Thank you! Solved, will publish in next day or two.

[2017-08-07 13:50] jywarren commented on #1531
Closing, please open this on the MapKnitter repository, thanks!

[2017-08-07 13:50] #1531 closed

[2017-08-07 15:19] jywarren commented on #1550
This looks like an ordering issue -- the test specifies:

[code]

But `count` seems to be nil in both cases, so it doesn't know how to sort. This happened because in the test data, none of the nodes have been "viewed" -- so they don't have a count (my best guess).

I think we need to simply sort both `tid` with `.sort_by(&:tid)` and they should then be equal. Could you open a pull request with tha

[2017-08-07 15:37] jywarren commented on #1561
Thank you so much for documenting this. The Rich Editor uses the `woofmark` rich text library, and I see that (when i drag in a PDF) it generates the markdown:

[code]

But there's no equivalent way to display that in the "Rich" mode, and upon switching it just disappears. We ought to display a "file" icon and the filename.

Looking through `woofmark` documentation.

[2017-08-07 15:42] jywarren opened #1570 "New user creation fails on staging due to email notification"
### What happened just before the problem occurred

I went to http://staging.laboratoriopublico.org/signup and tried to create a new account.

Because staging has no mail server set up, I got an error, and the logs showed:

[code]

That's on this line:

`@user.add_to_lists(['publiclaboratory'])`

So, i think it's just because it doesn't have a mailer set up. It goes to this line:

https://github.c

[2017-08-07 15:42] jywarren commented on #1543
Just to sum up here, we need to skip the `mail(...)` command if we're on staging if we want to solve this. Reposting the issue to reflect this. The rest of the comments are to an unrelated issue, so i'll make a new one and close this.

Moving to #1570.

[2017-08-07 15:42] #1543 closed

[2017-08-07 15:43] lilliankorinek commented on #1560
Hey @jywarren!

We are off to a great start this morning. Thank you for laying this all out for us, we really appreciate it. Shelby went inside the bootstrap for the dropdown and fixed the dimensions so the dropdown menu is inline with the input box--more like the actual example on bootstrap. How do we push these changes to you? Does an individual PR need to be opened?

Also, we looked over the po

[2017-08-07 15:46] jywarren commented on #1561
OK, these lines generate the attachment markdown syntax:

https://github.com/bevacqua/woofmark/blob/master/src/markdown/linkOrImageOrAttachment.js#L122-L125

I am guessing that we could add a method to parse that into HTML and back, and it would preserve the upload properly. I'll try this.

[2017-08-07 17:54] icarito commented on #1543
Another option which I think would be even better is that, since staging
needs to reflect production, we should set up the environment in such a
way that `mail()` doesn't do anything but also doesn't error out.

On 07/08/17 10:42, Jeffrey Warren wrote:

[2017-08-07 23:10] jywarren commented on #1560
Great to hear it!

Yep!

re: powertags, just start with a few that make sense to you -- I think focusing on just a subset is fine. Say:

* `question:______` (takes a topic name like `dust` or `mining`)
* `parent:_______` (takes a "slug" or URL string like `sandbox` for `/wiki/sandbox`
* `response:_______` (takes a node id)

Starting with any of these is fine!

[2017-08-07 23:11] #1554 closed

[2017-08-07 23:12] jywarren commented on #1543
+1!

On Mon, Aug 7, 2017 at 1:54 PM, Sebastian Silva <notifications@github.com>
wrote:

[2017-08-08 14:26] jywarren commented on #1563
Did you need some help getting started with this? Thanks!

[2017-08-08 14:32] jywarren commented on #1560
so, for `parent` the prompt would say:

Make sense?

[2017-08-09 01:08] #1561 closed

[2017-08-09 01:14] jywarren commented on #1561
I think I've got this! #1574... fingers X.

[2017-08-09 04:49] Pk13055 commented on #1563
@jywarren  Sorry, I got caught up with something else, I'll get started on this, and get back to you if I need some help! Thanks

[2017-08-09 05:27] Pk13055 commented on #1563
What is it exactly? From what I understood, I have to use JS to get the body markdown and add it [here](https://github.com/publiclab/plots2/blob/master/app/controllers/editor_controller.rb#L40). However, I do not see said line on the [html](https://github.com/publiclab/plots2/blob/master/app/views/editor/rich.html.erb), so where am I supposed to append it?

[2017-08-09 14:06] icarito opened #1575 "Fails to precompile assets in production"
### What happened just before the problem occurred
git pull

### Result:
[code]

[2017-08-09 18:12] icarito commented on #1575
This looks related:
https://stackoverflow.com/questions/18929452/block-in-non-options-file-not-found-argumenterror

[2017-08-09 18:15] icarito commented on #1575
If I can't find a simple solution here I'm considering moving forward with containers in production app.

[2017-08-09 18:27] icarito commented on #1575
Even if I can find a solution, I can't prevent this from happening again. That justifies the effort to tie the last loose ends to put plots2 in a Docker container in production: logging, lifecycle management, monitoring. @jywarren @ryzokuken nice tie with `plotsbot` chatops :-) @publiclab/soc

[2017-08-09 18:40] icarito commented on #1575
Here are the gem lists for both production and staging. @jywarren maybe you can figure out why the difference? Thanks!
[gem_list_20170809_staging.txt](https://github.com/publiclab/plots2/files/1212503/gem_list_20170809_staging.txt)
[gem_list_20170809_prod.txt](https://github.com/publiclab/plots2/files/1212506/gem_list_20170809_prod.txt)

[2017-08-09 19:02] jywarren commented on #1575
In meetings today but will try... Gemfile.lock should deal with this
though, no?

On Aug 9, 2017 1:40 PM, "Sebastian Silva" <notifications@github.com> wrote:

[2017-08-09 19:16] icarito commented on #1575
I don't know what the specific issue with Gem is.

Still, aparently compiling assets is a heavy process, it would be better
to "precompile" them off production.

On 09/08/17 14:02, Jeffrey Warren wrote:

[2017-08-09 20:18] jywarren commented on #1575
I think it's possible to do that but I'm not sure how to get the unique
hash to match.

On Aug 9, 2017 2:16 PM, "Sebastian Silva" <notifications@github.com> wrote:

[2017-08-10 01:52] jywarren commented on #1561
Still working on this one. Got stuck on publishing to the live site but should have an update on this in a day or two, thanks for your patience!

[2017-08-10 06:18] icarito commented on #1575
@jywarren okay before I built a whole new edifice to fix this one, I was able to compile assets by reverting to a prior Gemfile / Gemfile.lock:
[code]
Now the server is capable of compiling assets and restarting nginx, and I am much more tranquil. :-)

[2017-08-10 06:18] #1575 closed

[2017-08-10 11:36] jywarren commented on #1575
Hmm what was the gemfile.lock change that caused this? Do we need to check
in a new one?

On Aug 10, 2017 1:18 AM, "Sebastian Silva" <notifications@github.com> wrote:

[2017-08-10 11:40] icarito commented on #1575
Last night, when I was trying this out, I started going back in history
for both Gemfile and Gemfile.lock.

Turns out that Gemfile was just the same and Gemfile.lock has only

[code]

removed (could that make a difference?).

Otherwise, your changes working changes to `test/` was reverted and I
was able to precompile assets.

On 10/08/17 06:36, Jeffrey Warren wrote:

[2017-08-10 13:07] jywarren commented on #1563
Hi, so, I believe we have to set up an onClick listener, since we'll have to get the *latest* body text. So something like:

[code]

But, sometimes people arrive at the /post page with URL get parameters already set. So we may need to think about getting those too:

https://publiclab.org/post?tags=community,web-development,software,plots2,outreach

We can get those using `editor.tagsModule.value()

[2017-08-10 13:08] jywarren commented on #1563
Also, just mentioning @Fastie who originally requested this feature so he knows when it's complete. Hi, Chris!

[2017-08-10 13:31] jywarren opened #1576 "Image upload broken on production (urgent)"
### What happened just before the problem occurred

I dragged an image **into the rich editor** at https://publiclab.org/post, and got an error (500).

Other image upload (such as the main image on the /post page, and presumably the legacy editor) works fine.

The logs show:

[code]

[2017-08-10 14:15] jywarren commented on #1576
Updates - going to put this aside for a couple hours, unfortunately -- reverting to `v0.2.17` (from .18) on `PublicLab.Editor` did not help.

Next - try reverting https://github.com/publiclab/plots2/commits ?

[2017-08-10 15:25] jywarren commented on #1576
Whew, actually reverting to `v0.2.17` DID work -- confirmed just now. SO this is resolved on `plots2` and I will file an issue on PublicLab.Editor: https://github.com/publiclab/PublicLab.Editor/issues/103

[2017-08-10 15:25] #1576 closed

[2017-08-10 15:30] jywarren commented on #1561
Now waiting on https://github.com/publiclab/PublicLab.Editor/issues/103 -- some issue intervened and blocked this for a bit... thanks for your patience!

[2017-08-10 20:02] wizofe commented on #1418
I am interested in helping as it still seems open but I see no activity. Still anything I can do? ta

[2017-08-10 20:09] wizofe commented on #171
@jywarren I can also jump in, if you need me! ta

[2017-08-12 13:42] jywarren commented on #1501
Hi, Stevie - I think we have a fix for this now:

https://publiclab.org/wiki/aerial-imagery-in-the-public-domain?raw=true

Can you give it a try and reopen if you still see issues? Thanks!

[2017-08-12 19:56] jywarren commented on #1418
Hi! Well, the PR in #1437 is not quite there, and we could definitely use help getting it finalized. If you could work starting from the commits in that PR, and follow some of the suggestions I've left in that file, you could open a new PR based on that commit and we can move forward with it.

https://github.com/publiclab/plots2/pull/1437/files#diff-ae2647e0aa24f1474d9192f6cedc811eR10

If you need

[2017-08-12 19:56] jywarren commented on #1418
Also I was hoping @ananyo2012 and @ryzokuken might be able to assist while I'm less available this week; if so, thank you!

[2017-08-12 21:27] jywarren commented on #171
Yes, thanks -- really, at this point anyone who wants may give it a try -- but please try to use #1361 as a starting-off point! Much appreciated!

[2017-08-14 13:31] steviepubliclab commented on #1501
Hi,
I got it to work the first time, and added the word "testing" after
" Structures, while maps include: US Topo and Historical Topo." Link to
viewer [here.](http://viewer.nationalmap.gov/viewer/)"  which worked, but
then when I refreshed the page and went to edit it back it wouldn't let me
do the inline editing and I got this:

[image: Inline image 1]

-Stevie

On Sat, Aug 12, 2017 at 8:42 AM, J

[2017-08-14 19:03] ebarry commented on #1532
i'm not seeing this on my new(er) computer, so will close this (for now at least)

[2017-08-15 22:56] kkavita92 commented on #1550
@jywarren Happy to jump on this if no one is taking a look!

[2017-08-16 12:47] ryzokuken commented on #1550
@kkavita92 sure, give it a try!

[2017-08-18 03:55] kkavita92 commented on #1550
@ryzokuken Thanks, will get back to you with something in a couple of days 👍

[2017-08-21 10:51] jywarren commented on #1550
I wasn't able to reproduce this, so maybe the first thing to check is if you see this error when you run tests at all. If not, and if nobody else can reproduce this, we might close it for now! Thanks!!

[2017-08-22 02:05] lilliankorinek commented on #1560
Hi @jywarren!

Shelby & I have some updates we wanted to share with you + get feedback on.

Shelby successfully coded the `with: username` (which, might have some issues involving the database) and the `style: fancy` tag. Before we move forward coding more, we wanted to share some of the ideas we have discussed regarding the UI design.

We would like to divide the tags into dropdown menus that can

[2017-08-22 02:15] shelbyfirebaugh commented on #1560
here's some screenshots of the powertag-adding process

<img width="1196" alt="screen shot 2017-08-21 at 22 08 17" src="https://user-images.githubusercontent.com/14167695/29545660-89d9b88e-86bd-11e7-9290-24017083023f.png">

upon selecting a powertag that requires input, a new input box appears (i need to fix it so that the title of the tag shows on the dropdown, forgot about that)
<img width="1199

[2017-08-22 10:59] StlMaris123 opened #1584 "Active Scheduling"
This is a continuation of work done during GSOC 2017. To get an idea of what is supposed to be done, take a look at the link below to get the grasp of the workflow from what has been dine previously.

### Relevant URLs

https://github.com/publiclab/plots2/issues/1421

Active job is a dependency that come with Rails 4.2. Below is a breakdown of the tasks to handle:

- [ ] Install ActiveJob dependen

[2017-08-22 14:02] jywarren commented on #1560
Ooh, this looks good, but did you want to try for the simpler "prompt()"
based input first? As a stepping stone? Also, do you think you could put
the power tags dropdown on the right side of the tags input itself?

What about using a Bootstrap Popup which could contain the input? But I
think it could make sense to use the simpler built-in `prompt()` first to
see how it works to require user input

[2017-08-24 13:53] ebarry opened #1587 ""Publish" button inactive on Rich Editor until the markdown button was clicked"
### What happened just before the problem occurred

I was posting a research note, and had added a title, a lead image, body text, and a tag, when i discovered that the "Publish" button was inactive.

I looked over the note, and tried re-doing a couple little things, and noticed that when i clicked the "rich" button back to its state of "markdown" the Publish button reactivated.

However, i just t

[2017-08-24 14:02] jywarren commented on #1587
Hi, liz - I believe this is an incidence of https://github.com/publiclab/PublicLab.Editor/issues/101, which also shows we need more testing. Can you copy this very helpful info over there and close this? Thank you!

[2017-08-25 15:30] jywarren opened #1589 "Notifications for comments on wiki pages - do they go to the right people?"
Looking at @aspriya's new interface for making comments on wiki pages, it's not clear who comments notify. I guess they should notify all authors for that page, and all commenters, no?

https://publiclab.org/wiki/new-concepts-for-oshw-in-indoor-gardening/comments

![screen shot 2017-08-25 at 11 22 14 am](https://user-images.githubusercontent.com/24359/29720345-b0dea6a2-8987-11e7-9672-c54daa07abf9.

[2017-08-25 19:08] mridulnagpal commented on #1416
@jywarren Shall we start with the integration?

[2017-08-25 21:24] jywarren commented on #1416
Sure, how's the display library going?

For interface, I'd like to suggest you try to get the basic input to
display in a partial template, as you originally did, but this time using
the new library!

On Aug 25, 2017 3:08 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-08-25 22:34] jywarren commented on #1501
Hi, Stevie - I went back to the page at https://publiclab.org/wiki/aerial-imagery-in-the-public-domain?raw=true and was able to edit the section you mentioned, removing the word "testing" but then upon saving, i saw an error:

![screenshot 2017-08-25 at 6 32 42 pm](https://user-images.githubusercontent.com/24359/29735028-d3793cc2-89c3-11e7-9207-76a01bc0a364.png)

Reopening this, although we're muc

[2017-08-25 22:34] jywarren commented on #1501
Is that the error you saw too? Your image didn't attach -- actually you can't attach images by email, that might be the problem you've been having.

[2017-08-26 05:05] mridulnagpal commented on #1416
The display library is at a prototype stage now, it builds fine and has some  basic methods.

[2017-08-26 05:29] mridulnagpal commented on #1416
We need to add the leaflet-blurred-location library to npm first, or we just link it from github itself?

[2017-08-26 18:41] shelbyfirebaugh commented on #1560
hey @jywarren , i changed the code to use prompt instead, moved the dropdown to the right side of the input, and added a link to the powertag documentation inside of the dropdown

<img width="1220" alt="screen shot 2017-08-26 at 14 39 18" src="https://user-images.githubusercontent.com/14167695/29744123-672024b0-8a6c-11e7-9c93-f2c13218cec0.png">

we are going to open a new issue for this code right

[2017-08-26 19:04] shelbyfirebaugh opened #1591 "Prompt for Powertag Input"
In reference to project 2 described in #1560

### What We Did

This project was to implement a popup via the javascript prompt() function to request user input for certain powertags.

To test the functionality we used the `style:fancy` powertag (even though it usually does not require user input) and asked the user to supply the type of style desired (in this case fancy is the only option).

<img

[2017-08-26 19:05] shelbyfirebaugh commented on #1591
@jywarren here's where we are so far, let us know if we should add/change anything before we push our code

[2017-08-26 22:46] reallygeek opened #1592 "spectralworkbench online is unaccesible"
When I attempt to go to spectralworkbench.org I get a message "my connection may not be private" and I can't get to the website.
I am using chrome (Version 60.0.3112.101)

[2017-08-27 01:52] icarito commented on #1592
Thanks for reporting! The automatic certificate renewal seems to have
failed without notice. I'll update it now.

On 26/08/17 17:46, reallygeek wrote:

[2017-08-27 02:02] icarito commented on #1592
Okay I've updated the cert. Just leaving a note here that letsencrypt `certbot`'s virtualenv broke somehow and I had to delete it to recreate it. Found a reference to the issue here: https://community.letsencrypt.org/t/cant-use-letsencrypt-auto-importerror-no-module-named--io/2345/8 - will also be checking other sites for this bug. Thanks again, solved now!

[2017-08-27 02:02] #1592 closed

[2017-08-28 21:24] jywarren commented on #1592
thanks Sebastian!!!

On Sat, Aug 26, 2017 at 10:02 PM, Sebastian Silva <notifications@github.com>
wrote:

[2017-08-29 20:54] jywarren commented on #1560
ooh! sorry i'm slow on this, but it looks good! Maybe it could say "What kind of style? (fancy, ...)" to offer known possibilities?

[2017-08-29 20:55] jywarren commented on #1591
Hmm, on your "downcase" error -- look at the request parameters in the error; it looks like for some reason it wasn't actually submitting a username? It just says `with:` -- is that a clue?

[2017-08-30 14:30] steviepubliclab commented on #1501
Hi Jeff,
This was the image I was trying to attach before. I didn't realize these don't transfer from email.
![screen shot 2017-08-14 at 8 29 40 am](https://user-images.githubusercontent.com/7490478/29877650-d463aba4-8d65-11e7-8cd4-c6603a43de7f.png)

[2017-08-30 21:56] jywarren commented on #1416
Can you confirm the Leaflet Blurred Location package.json is up to date and
the version is correct? If so i can publish it.

On Sat, Aug 26, 2017 at 1:29 AM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-08-30 21:59] jywarren commented on #1591
And my apologies for replying slowly!

[2017-08-31 18:01] shelbyfirebaugh commented on #1591
hey @jywarren ! here's some updates. i changed the wording on the style popup:

<img width="1217" alt="screen shot 2017-08-31 at 13 54 46" src="https://user-images.githubusercontent.com/14167695/29937636-349bbb8a-8e54-11e7-8942-cf41e95c35c7.png">

i believe that the `with:username` tag works now. it says that the username doesn't exist, but it's not a big error so i think it really is just because

[2017-08-31 20:27] steviepubliclab opened #1594 "Edit history missing on wiki revisions page"
### What happened just before the problem occurred
I was working on editing the Barnraising page and wanted to grab text from an edit we had on the page in 2016, but it looks like all the revision history from 2016 is missing.

### Relevant URLs
www.publiclab.org/barnraising
https://publiclab.org/wiki/revisions/barnraising

### PublicLab.org username
Stevie

[2017-08-31 21:13] jywarren opened #1595 "Error on posting a new question at /questions/new"
I tried posting:

[code]

The server shows:

[code]

The code around there is:

[code]

[2017-08-31 21:26] jywarren commented on #1595
The error was that the title was too long (tested in legacy form) so #1596 will ensure such errors are reported properly. Then we can close this.

[2017-08-31 21:33] jywarren commented on #1591
This looks fantastic. Do you think it's ready to merge in? We can tackle
organization as a next step.

Couple small things:

can you put a space between "Power Tags" and the caret?

I wonder if just calling that menu "Extras" might be even better? Or one of
the icons from Font Awesome (always fun to pick one: http://fontawesome.io/)

On Thu, Aug 31, 2017 at 2:01 PM, shelbyfirebaugh <notifications@

[2017-09-01 18:43] jywarren commented on #1595
Actually, i see -- we are treating `ActiveModel::Errors` as an array and it doesn't have a `merge` method. Somehow the test isn't catching this but i'm going to look into this and not write the test.

[2017-09-01 19:25] jywarren commented on #1595
OK, think i got this via:

[code]

[2017-09-01 19:37] #1595 closed

[2017-09-01 19:38] jywarren commented on #1595
We should confirm this.

[2017-09-01 19:39] jywarren commented on #1595
Publishing to stable.publiclab.org

[2017-09-01 19:47] mridulnagpal commented on #1416
The version is 1.1.0 and the name is leaflet-blurred-location
Should I change anything?

[2017-09-01 20:11] jywarren commented on #1595
Awesome, confirmed.

[2017-09-01 23:21] jywarren commented on #1416
I trust your call -- should i grab the latest master and publish it? :-)

[2017-09-02 16:00] maxtedford commented on #1589
Do you still want help with this? If so, I'd be happy to take a stab.

[2017-09-04 16:36] kingofpirate commented on #1028
@jywarren I like to contribute on this issue!! Can I?

[2017-09-04 18:05] icarito opened #1598 "Task: Add Passenger to Docker container"
This is a prerequisite to putting docker containers in production in accordance to our [update plan](plots2/issues/new)

[2017-09-04 18:05] icarito opened #1599 "Task: Add Passenger to Docker container"
This is a prerequisite to putting docker containers in production in accordance to our [update plan](https://github.com/jywarren/web/blob/master/update_plan.md)

[2017-09-04 18:05] #1598 closed

[2017-09-04 18:42] ebarry commented on #1566
Here's another example of this known bug, where this activity https://publiclab.org/notes/cfastie/06-09-2017/the-mini-pearl-logger shows a count of one replication but has no link to the content (which is here: https://publiclab.org/anotes/Zengirl2/09-01-2017/mini-pearl-logger-replication)

cc @Fastie @zengirl2

[2017-09-04 18:59] icarito commented on #1599
From https://www.phusionpassenger.com/library/walkthroughs/start/ruby.html
[code]
So maybe we don't need any action at all? I'll check staging and see if it runs passenger.

[2017-09-04 19:07] icarito commented on #1599
Passenger seems installed by the Gem but `rails s` doesn't seem to use it.
[code]

[2017-09-04 19:33] ebarry commented on #1532
I just opened /questions on my new(er) computer and again, the questions do not appear:
<img width="1006" alt="screen shot 2017-09-04 at 3 33 01 pm" src="https://user-images.githubusercontent.com/161439/30037061-5ae56e82-9186-11e7-868d-fbe5d59a8895.png">

[2017-09-04 19:52] ebarry opened #1600 "Request for help updating the dropdown menus on publiclab.org"
There are a few changes to make on the dropdown menus of publiclab.org. I think i could make these myself if someone could show me which files i need. Your assistance requested @publiclab/soc !

First change:
- from the Project menu: remove initiative areas Open Air, Open Land, Open Water

<img width="159" alt="screen shot 2017-09-04 at 3 41 48 pm" src="https://user-images.githubusercontent.com/16

[2017-09-05 04:28] icarito commented on #1599
I just submitted a pull request #1601 to do this, should solve this.

[2017-09-05 05:11] icarito commented on #1599
Although this passed tests and is running in unstable.publiclab.org, it is loggin this every few seconds:
[code]
And Solr seems quite slow but I think it may be only warming up on startup? It shouldn't slow the site down so much.

[2017-09-05 18:23] jywarren commented on #1600
Cool, Liz! also ask on plots-dev!

Specifically, you're asking for which files and line numbers actually set
the content of these menus, right?

On Mon, Sep 4, 2017 at 3:52 PM, Liz Barry <notifications@github.com> wrote:

[2017-09-05 20:16] ebarry commented on #1600
yes, exactly! Thank you.

[2017-09-05 22:38] jywarren commented on #1591
Things going well here? Thanks, and happy to help!

[2017-09-05 23:02] jywarren commented on #1532
that is really weird Liz. Can you confirm this does not occur when you're not logged in (i.e. incognito mode)?

Can you also check on your phone?

I'm changing the title of this issue, as well. This can help make it more readable, especially in list form.

Thanks for reporting!

[2017-09-05 23:03] jywarren commented on #1532
And if you find this is only on laptop or only when logged in, you can refine the title & description accordingly, like `...when logged in` for example.

[2017-09-05 23:04] jywarren commented on #1532
Also created a label called `more-detail-please` for this kind of thing. Thanks!

[2017-09-05 23:08] jywarren commented on #1028
Yes please!

On Mon, Sep 4, 2017 at 12:36 PM, Amit Chambial <notifications@github.com>
wrote:

[2017-09-05 23:20] jywarren commented on #1566
Sorry I've been too slammed to work on this. The pull request is partway there; hope to circle back and come up with some next steps soon.

[2017-09-05 23:21] jywarren commented on #1566
So for anyone looking to help with this, https://github.com/publiclab/plots2/pull/1567 now reproduces the error. We now need to figure out how to fix it, which would then solve the test failure shown in https://github.com/publiclab/plots2/pull/1567.

[2017-09-05 23:23] jywarren commented on #1589
Yes please! We'd love your help and happy to offer tips or support.

On Sat, Sep 2, 2017 at 12:00 PM, Max Tedford <notifications@github.com>
wrote:

[2017-09-06 04:01] Zengirl2 commented on #1566
Hey, just jumping in to correct the link for my post. Should be: https://publiclab.org/notes/Zengirl2/09-01-2017/mini-pearl-logger-replication.

[2017-09-06 04:12] Zengirl2 commented on #1566
I don't know Rails, but just checking the tagging on the @Fastie original post and my post.

- His _Mini Pearl Logger_ post- Response: 14152

- My _Mini Pearl Logger Replication_ post- Replication: 14518

My tag doesn't match the correct number I wrote it for and I'm pretty sure I was on the correct post that I was replicating when I initiated the research note. My number matches @Fastie _Mini Pea

[2017-09-06 07:52] kingofpirate commented on #1028
I am using
[code]
to count users.
And Badge to show number contributor.If contributors are zero then show no badge

[2017-09-06 17:13] icarito opened #1604 "Slow performance in staging"
SOLR logs from staging report this:
[code]
Let's merge the Ruby 2.3 and passenger patches and see how it goes.

### What happened just before the problem occurred

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

To lea

[2017-09-06 17:17] icarito commented on #1604
The worrying bit in the log is `PERFORMANCE WARNING: Overlapping onDeckSearchers=2`

[2017-09-06 17:41] icarito commented on #1599
Fixed in #1603

[2017-09-06 17:41] #1599 closed

[2017-09-06 18:01] maxtedford commented on #1589
Fantastic! I'll dive in here in the coming days and let you know if any questions crop up 👍

[2017-09-06 18:13] jywarren commented on #1589
many thanks!

On Wed, Sep 6, 2017 at 2:01 PM, Max Tedford <notifications@github.com>
wrote:

[2017-09-06 18:19] icarito commented on #1604
Not sure if SOLR needs a little while before starting up, doing experiments, seeing sometimes a large delay from SOLR:
[code]

[2017-09-06 18:42] icarito commented on #1604
I'm not familiar enough with Solr and how we implement it in `plots2`, but here's what I found:
(from https://support.datastax.com/hc/en-us/articles/207690673-FAQ-Solr-logging-PERFORMANCE-WARNING-Overlapping-onDeckSearchers-and-its-meaning ):
[code]

[2017-09-06 18:56] icarito commented on #1604
Looking at Solr logs from production (`pad.publiclab.org`) I see no such warning. However, for me, production feels pretty slow too... is this the same experience for you?

[2017-09-06 18:58] icarito commented on #1604
It's very subjective. Right now I just checked again and it did feel faster in production.

[2017-09-06 20:12] jywarren commented on #1591
Solved in #1605 -- :-)

[2017-09-06 20:12] #1591 closed

[2017-09-06 20:12] jywarren commented on #1591
We'll try to roll this out in the next 2-3 days. Keep an eye out!

[2017-09-06 20:12] jywarren commented on #1591
actually @icarito if you're not super busy, could you roll this and other changes out? Do you know the sequence to merge to stable manually?

[2017-09-07 16:52] jywarren commented on #1604
thanks for looking into this Sebastian - hoping to catch up and read
through carefully later today!

On Wed, Sep 6, 2017 at 2:58 PM, Sebastian Silva <notifications@github.com>
wrote:

[2017-09-07 17:06] icarito commented on #1604
I'm thinking to try launching a container in production and see how it goes, or at least in another not-busy rackspace host, incl. Ruby2.3 and passenger.

[2017-09-07 19:46] icarito opened #1606 "Task: Add email solution to container"
It dawned on me that we'll need plots2 to send email and our current Dockerfile doesn't provide a solution for this. In order to deploy we'll need to make sure we can send emails from the container reliably.

[2017-09-07 19:50] jywarren commented on #1606
ahhhhh yeah

On Thu, Sep 7, 2017 at 3:46 PM, Sebastian Silva <notifications@github.com>
wrote:

[2017-09-07 21:54] jywarren commented on #1028
Hmm, do you think you could open a pull request so we can look at your
changes in context? Thanks!

On Wed, Sep 6, 2017 at 3:52 AM, Amit Chambial <notifications@github.com>
wrote:

[2017-09-08 10:06] kingofpirate commented on #1028
My rake test queries are giving errors and I am not able to remove the errors.I have tried googling it and many more things but it still giving error..My output to `bundle exec rake test:all --trace` is :
https://gist.github.com/kingofpirate/ad0585e5d8ea49d61533dc256c2f7be4

[2017-09-08 12:09] icarito commented on #1606
Actually, we can reuse the host Exim configuration which is already listening locally:
[code]
So the question is how do we tell the ruby app to use SMTP localhost port ? Doing my research...

[2017-09-08 12:14] icarito commented on #1606
From looking at headers from a recent message from plots I see:
[code]
Suggesting we already use SMTP. So it will be a question of giving access to `localhost:25` to the docker container. Reading up....

[2017-09-08 12:24] icarito commented on #1604
Here's one more interesting bit from the logs
[code]

[2017-09-08 12:30] icarito commented on #1604
On the Solr side of things, it's wierd. There's first one query.
[code]
...(notice the 26201 ms gap)...
[code]
The website request is only fulfilled _after_ the **second** query to Solr. Solr itself answers quickly to both queries, but there's a large gap between them. The browser is just showing busy status the full 26+ seconds and then loads the page.

[2017-09-08 12:31] icarito commented on #1604
Maybe we could try this on _staging_ (stable branch).

[2017-09-08 12:31] icarito commented on #1604
By the way, looking at logs at production and trying it, this is definitively not the case in production (although I wish the dashboard page was quicker).

[2017-09-08 15:12] jywarren commented on #1604
Can we cross-ref with the SQL and/or Rails logs for these timestamps?

[2017-09-08 18:12] icarito commented on #1604
Looking at `staging` now:
[code]
is the RAILS log.
The MySQL log will only log slow queries I think, will look for it.

[2017-09-08 18:34] icarito commented on #1604
Here's a picture:
![image](https://user-images.githubusercontent.com/199755/30226084-67318876-949a-11e7-8795-b135d4b1d636.png)

[2017-09-08 18:35] icarito commented on #1604
The one query is just GET http://unstable.publiclab.org/notes/author/warren which only responds 30+ secs later.

[2017-09-08 18:42] icarito commented on #1604
We definitively don't want this performance in production :-/

[2017-09-08 18:44] icarito commented on #1606
It will come down to convince rails to use docker host (IP 172.17.0.1) instead of `localhost` that we use currently. Also possibly setup Exim to listen on `docker0` network interface.

[2017-09-08 18:52] icarito commented on #1604
Note that I'm **not** seeing the warning (`PERFORMANCE WARNING: Overlapping onDeckSearchers=2`) in staging and unstable. The server is otherwise not strained at all in resources.

[2017-09-08 20:31] jywarren commented on #1604
This is strange and are you convinced that this would occur in production
if we published? Not to say we should, but what is the possibility that
this is an artifact of another factor besides the code that's being merged
in? Also prob. worth a look at what commit production is actually currently
running.

Just to note that if we separate the issue and this wouldn't affect
production, we learn some

[2017-09-08 20:34] icarito commented on #1604
Yes, I cannot say whether or not production would be affected. One easy try is to deploy the same commit as is running in production and see if the issue persists. Another approach after could be to dump and copy a new database copy from production into staging.

[2017-09-09 02:10] majdeddine commented on #1418
Hi,
I am interested in helping also, can i give it a try ?

[2017-09-09 02:30] jywarren commented on #1418
Yes please! We're happy to help you along too.

On Sep 8, 2017 10:10 PM, "majdeddine" <notifications@github.com> wrote:

[2017-09-09 19:26] Gauravano commented on #511
Hi @jywarren, I have tried to solve this issue as per specifications and have also added conditional so that this well would be visible to only new users.I have attached image of the well I have added, please review and comment on the design
![issue511](https://user-images.githubusercontent.com/20878070/30243198-4a7e215c-95c2-11e7-877e-e091e20244e6.png)

[2017-09-11 22:22] jywarren opened #1610 "Some kind of "unsubscribe" from Q&A threads"
We're starting to get threads that are long and active enough that people want to unsubscribe, like this one:

https://publiclab.org/questions/warren/09-08-2017/how-do-you-merge-gps-logger-data-into-photographs#answer-385-comment

This level of email notification is actually a fairly new feature and we haven't implemented an unsubscribe yet. GitHub has the "Not Watching/Watching/Ignoring" resoluti

[2017-09-11 22:44] jywarren commented on #1610
@jlev thanks!

[2017-09-12 04:18] icarito commented on #1604
Okay so only now I came up with the time, attention and plan for this.

**01** Deploy to `unstable` whatever and exactly the same git hash version as we have in production, then see if speed improves.

**02** If 01 has no effect, update our mysql dump copy we have in staging from production.

[2017-09-12 04:20] icarito commented on #1604
Note: production is running e9c9ddc09f2f670ce57dc807fcbc9408574b97c8

[2017-09-12 11:02] devaman commented on #1028
@jywarren I have submitted a pull request on this issue.Can you review it...

[2017-09-12 13:30] icarito commented on #1604
Well with e9c9ddc09f2f670ce57dc807fcbc9408574b97c8 unstable is even _slower._ In fact it seems to time out. Checking logs.

[2017-09-12 14:27] icarito commented on #1604
Even after stopping all containers Tycho seems slow. I'm going to reboot it. I'm seeing this in the kernel log:
[code]

[2017-09-12 14:30] icarito commented on #1604
In fact going back in kern.log, all the way to Sept 8, I'm seeing:
[code]

[2017-09-12 14:46] icarito commented on #1604
Following is a clue `mce: [Hardware Error]: Machine check events logged`, i've installed [mcelog](https://askubuntu.com/questions/605369/mce-hardware-error-machine-check-events-logged-appears-in-syslog-what-sho) but examining logs I can't figure out what exactly failed, not sure mcelog is in systemd journal, hopefully `mcelog` will capture more info if it happens again. I expect a reboot will fix

[2017-09-12 14:58] icarito commented on #1604
I just rebooted Tycho. I'm still observing slowness in staging.

[2017-09-12 15:00] icarito commented on #1604
Okay I just entered Mapknitter instance running in Tycho and speed is quite acceptable.
I'm clueless now @jywarren next step according to plan is to update the database dump.
I'll start importing it and we'll see in a couple hours.

[2017-09-12 18:00] GraySkull opened #1612 "Trouble with question "Ask" button"

[2017-09-12 20:09] jywarren commented on #511
Wow, awesome! Have you opened a pull request for this?

It'd be great to see a "close this window" thing like in the alert windows: https://github.com/publiclab/plots2/blob/master/app/views/layouts/_alerts.html.erb#L7

Also, the `###` is supposed to indicate an `<h3></h3>`, does that makes sense? Could you update accordingly? Thanks!

[2017-09-13 02:58] icarito commented on #1604
I have an intuition to shut down any other process including Jenkins and see if `unstable` speeds up.
If so I think we should seriously look at test for collecting performance data in staging and aim to improve some metrics.

[2017-09-13 02:58] icarito commented on #1604
By testing I mean _automatic_ testing.

[2017-09-13 03:02] icarito commented on #1604
By the way, both coments above were _after_ I have updated the database sync from production in staging, and determined it felt slow. That is the same commit, same database contents, slow in staging, ok in production. It would suggest trouble in Tycho, but Mapknitter instance runs fine performance-wise, it seems.

[2017-09-13 03:24] jywarren commented on #1604
I believe there is a built in framework for performance testing in rails
but would have to read up on it...

On Sep 12, 2017 11:02 PM, "Sebastian Silva" <notifications@github.com>
wrote:

[2017-09-13 03:30] icarito commented on #1604
Thanks! I'm trying things out in order. I'll try disabling Solr first. Then I might try to deploy a container to a Rackspace host.

[2017-09-13 03:35] icarito commented on #1604
Okay the hunch payed off. Solr is the culprit. Disabling solr in sunspot.yml makes it fly again.

[2017-09-13 03:36] icarito commented on #1604
So, @jywarren I say green light to deploy, and if we observe slowness, we can disable Solr.

[2017-09-13 03:36] icarito commented on #1604
I'm able to do it in the morning. Phew!

[2017-09-13 09:55] 500swapnil commented on #1570
I would like to take up this issue

[2017-09-13 13:33] jywarren commented on #1570
yes please!

On Wed, Sep 13, 2017 at 5:55 AM, Swapnil Gupta <notifications@github.com>
wrote:

[2017-09-13 14:22] jywarren commented on #1612
Thanks on both suggestions -- and saw you just closed it -- did it start
working? I have seen the "disabled" issue and we are trying to resolve that
- hopefully today. Thanks and please re-open if you still see the issue!

On Tue, Sep 12, 2017 at 2:01 PM, David Robinson <notifications@github.com>
wrote:

[2017-09-13 14:23] #1028 closed

[2017-09-13 14:23] jywarren commented on #1028
Thanks to @devaman for this fix!!!

[2017-09-13 16:20] icarito commented on #1591
Hi Jeff, sorry for the delay. I've been dealing with [slowness in our staging server](https://github.com/publiclab/plots2/issues/1604) but am ready to deploy now. Just looking for the PR and exact commit I should deploy.

[2017-09-13 17:54] 500swapnil commented on #1570
I have changed this line
https://github.com/publiclab/plots2/blob/master/app/mailers/welcome_mailer.rb#L11
Have a look at PR #1613

[2017-09-13 18:15] Gauravano commented on #511
hi @jywarren, no I haven't opened pull request. yes, <h3></h3> tags would be great ,thanks for clearing . The message to be displayed is a long one, so it should be part of the screen a modal or to be displayed at top of screen.

demo1 - Modal :
![check3](https://user-images.githubusercontent.com/20878070/30393180-e629c152-98dc-11e7-8667-ab9e0eb4a5df.png)

demo2 - Top of screen :
![check2](https:/

[2017-09-13 18:36] GraySkull commented on #1612
Well, actually I didnt close it. I could get it to work, randomly it seemed, by opening and closing until it finally let me submit. Sorry, but I couldn't find a pattern.

I thought it was related to tags, since leaving them off seem to work the first time (thanks for adding them to the temp sensor question) .

Dave

Mobile...

[2017-09-13 22:16] jywarren commented on #1612
I'm going to re-open the issue and connect to the almost identical one over in https://github.com/publiclab/PublicLab.Editor/issues/101 -- thank you for reporting!

[2017-09-13 22:19] jywarren commented on #1591
It's live, thanks!

On Wed, Sep 13, 2017 at 12:20 PM, Sebastian Silva <notifications@github.com>
wrote:

[2017-09-14 16:30] jywarren commented on #1612
Attempted fix in publiclab/PublicLab.Editor#104 -- fingers crossed, and we'll hopefully ask folks to give this a try when it publishes.

[2017-09-14 16:35] jywarren commented on #1587
Addressing this (or attempting) in #1612 and https://github.com/publiclab/PublicLab.Editor/issues/101

[2017-09-14 16:35] #1587 closed

[2017-09-14 16:53] jywarren commented on #1612
This attempted fix is now live on publiclab.org, both for the question form at publiclab.org/questions/new and for publiclab.org/post. Can folks give it a try and see if the problem is still there?

Thanks all - @Fastie @steviepubliclab @ebarry as well for previously reporting variations of this bug.

[2017-09-14 16:56] jywarren commented on #1612
I'm still seeing hte issue but will empty my browser cache to double check.

[2017-09-14 18:21] jywarren commented on #1612
I believe I've found the issue; testing one more time before rolling out a new fix.

[2017-09-14 19:29] jywarren commented on #1612
@GraySkull @Fastie @steviepubliclab @ebarry I believe this is now fixed. Closing - and please give it a try and report back please!

Thanks all!

[2017-09-14 19:29] #1612 closed

[2017-09-16 14:00] devaman commented on #1545
I want to help on this but cannot understand the issue!!

[2017-09-17 19:21] Zengirl2 commented on #1561
Cool--if it doesn't work we can always use the older editor.

[2017-09-17 19:23] jywarren commented on #1566
This actually occurs on this line: https://github.com/publiclab/plots2/blob/master/app/views/notes/_responses.html.erb#L26

It's using the `insert_extras` helper, which is older... maybe that's what's broken... https://github.com/publiclab/plots2/blob/master/app/helpers/application_helper.rb#L30

It's also using `response_count` -- https://github.com/publiclab/plots2/blob/f1f9f2cbfa2d9f58e08d246c4

[2017-09-17 19:44] jywarren commented on #1561
I believe this is fixed, if you can try it out!

On Sep 17, 2017 3:21 PM, "Leslie Birch" <notifications@github.com> wrote:

[2017-09-17 22:23] jywarren commented on #1566
OK! Found a deeper bug which may be the cause -- wrote tests for this in https://github.com/publiclab/plots2/pull/1618 and solving there...

[2017-09-18 01:07] Zengirl2 commented on #1561
OK, I tried it by [creating a test note](https://publiclab.org/notes/Zengirl2/09-18-2017/having-fun-testing-attachments), which I can delete later. Issues:

- You need floating text or paperclip icon so people know that you can add docs (right now it only talks about adding images). You could consider copying the text line that appears in the "comments" block. "Drag & drop to add an image or file,

[2017-09-18 15:07] steviepubliclab commented on #1545
Hi!
I can't help with the coding aspect of it (non-coder) but I can try to explain the issue as I meant when I posted it in non-coding terms.

Currently, when someone adds the tag "tool" on to any wiki page right now, the page also becomes represented on this page:
- www.publiclab.org/methods

For example [here's a page](https://publiclab.org/wiki/photo-sharing) with the tag "tool" and you can see

[2017-09-18 16:09] devaman commented on #1545
Thanks! It really helped me a lot.

[2017-09-18 16:19] jywarren opened #1621 "Progressive/iterative improvements to header navbar menu items"
PL staff had a great navbar session and we're moving forward with an agreed-upon basic design, with some follow-ups. Those in parentheses will be discussed in follow-up.

![Screen Shot 2019-09-27 at 3 57 42 PM](https://user-images.githubusercontent.com/24359/65798412-90339680-e13f-11e9-8b18-93fc8770f2d1.png)

## Code Follow-up

* [x] figure out if we can do this in a feature, or at least most of i

[2017-09-18 16:19] jywarren commented on #1600
Starting to address this in #1620, and so:

Merging into #1621

[2017-09-18 16:20] #1600 closed

[2017-09-18 18:04] devaman commented on #1545
I'll change the power tag but then we have to alter all tools tag to methods tag.Should I change the line mentioned by @jywarren?

[2017-09-18 18:52] jywarren commented on #1545
I *believe* the change would just be to change "tool" to "method" on this line, as referenced above:

[code]

[2017-09-18 18:52] jywarren commented on #1545
Thanks!!

[2017-09-18 18:53] jywarren opened #1622 "3-column "trifold booklet" layout option for printing notes + wiki pages"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-09-19 13:35] #1545 closed

[2017-09-19 14:39] jywarren commented on #1566
I believe we may have a fix for this. Waiting on #1618 and then we'll see if #1567 passes too.

[2017-09-19 14:51] jywarren commented on #1566
OK #1618 is resolved! Now seeing if #1567 works too.

[2017-09-19 15:56] #1566 closed

[2017-09-19 15:57] jywarren commented on #1566
Fixed!!

[2017-09-19 16:24] jywarren opened #1624 "Add checkmark icon instead of (Answered) to questions display in pages"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-09-19 16:27] jywarren commented on #171
Hi, folks - has anyone made some more progress on this one? I'd be happy to help out.

[2017-09-19 16:32] jywarren commented on #171
Also we just posted a new first-timers-only issue -- will start posting new ones regularly now: https://github.com/publiclab/plots2/projects/2

[2017-09-19 16:41] jywarren commented on #1506
I believe this may be due to JavaScript encountering an error -- perhaps due to in-page Google includes from YouTube or other embeds? and interrupting the rich editor's loading process.

We could try to reproduce by having a test which introduces an error but confirms that a version of the page is still visible; and/or even displaying an error leading back to the non-inline-editor version.

[2017-09-19 17:43] #171 closed

[2017-09-19 18:33] haleymnatz commented on #1624
Hey @jywarren, can I take this issue?

[2017-09-19 18:35] jywarren opened #1627 "Posting a comment on event showed an error"
### What happened just before the problem occurred

I posted a comment but saw an error message, and it didn't save. My message was:

`Also wanted to point out the growing set of resources on hosting events of different kinds at https://publiclab.org/wiki/host-an-event !!`

The server shows this error:

[code]

https://github.com/publiclab/plots2/blob/master/app/controllers/comment_controller.rb#L

[2017-09-19 18:49] jywarren commented on #1624
Yes please! And we'd be happy to help if you need anything.

On Sep 19, 2017 2:33 PM, "Haley Mnatzaganian" <notifications@github.com>
wrote:

[2017-09-19 19:52] gretchengehrke opened #1629 "Not able to post research note in Rich editor mode, must switch to Legacy editor to publish"
### What happened just before the problem occurred
I have been able to write research notes and get them ready for publication (including adding tags, etc), but when I click on the "Publish" button, nothing happens. I do not receive an error code, and it also does not progress to posting my research note. Instead, nothing happens. If I copy my text and paste it into a new form in the legacy editor

[2017-09-19 19:54] ebarry commented on #1532
When i use an incognito window where I am not logged in, I SEE THE QUESTIONS!
Perhaps relevant is that I use ad-blockers in Chrome?

[2017-09-19 19:55] jywarren commented on #1629
Hi, Gretchen - can you go through these steps right now and take a screenshot of the moment when nothing happens? This will help us narrow things down. Thank you!

[2017-09-19 20:00] jywarren commented on #1532
Can you turn off your ad blocker to test that theory?

Alternatively if you use your phone or Firefox to view the page while logged in, can you check that too?

[2017-09-19 20:56] ebarry opened #1630 "Unexpected email is sent when someone adds a tag to content on publiclab.org"
hi! :D :keyboard:

### What happened just before the problem occurred

Gretchen and I just compared notes and realized we are both getting emails every time anyone (?) adds a tag on any (?) content on publiclab.org

Here's a screenshot of one of the emails i get on this:
<img width="674" alt="screen shot 2017-09-19 at 4 54 31 pm" src="https://user-images.githubusercontent.com/161439/30614974-45b47

[2017-09-19 22:47] haleymnatz commented on #1624
So I've been trying to run the test suite before making the change, but the suite takes almost an hour and has failed (I stepped away and my computer fell asleep). I didn't add solr as this is said to be optional and not recommended, but I see there are a lot of errors (not failures) in the tests with solr. Does this sound correct or did I do something wrong in the installation?

[2017-09-19 23:18] jywarren commented on #1624
Hmm, try opening a pull request and we can take a look at your code
changes! Thisll also run tests for you on the testing server which could be
faster. Thanks!

On Sep 19, 2017 6:47 PM, "Haley Mnatzaganian" <notifications@github.com>
wrote:

[2017-09-20 02:30] jywarren opened #1631 "Display "Is this a question? Click here to post it to our new Questions page" below comments if they include a question mark (?)"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-09-20 02:32] jywarren commented on #1630
Hi, thanks for filing this! But according to your screenshots, you're both following the tag `question:question` -- Gretchen directly and you via the `everything` tag. So it seems you should actually be getting these notifications, based on that information, no?

[2017-09-20 02:35] jywarren commented on #1627
Also affected this page! https://publiclab.org/notes/mathew/5-29-2012/solar-hot-air-balloons#c17374

[2017-09-20 02:38] jywarren commented on #1627
A quick fix would be to just check if `comments.last.nil?` on one of these lines in `node.rb`:

[code]

[2017-09-20 02:40] jywarren commented on #1627
Attempting a fix in https://github.com/publiclab/plots2/pull/1632

[2017-09-20 13:58] ebarry commented on #1532
* i can see it on my phone (android, chrome) while logged in.
* i can see it in Safari whether logged in or not logged in
* (seems like) i do not actually have any adblockers in chrome on this new computer

[2017-09-20 14:00] ebarry commented on #1630
I'm wondering about this, because i do want notifications for every piece of new content, as in a post or comment. At some point a few weeks ago, Gretchen and I both started to get notifications every time someone added a _tag_ on content that already existed from before (and that we already got notifications about).

[2017-09-20 15:33] jywarren commented on #1630
StellaMaris worked on this feature and it's possible that for a few days it was sending twice to the same person, but I believe it's working properly now. Can you carefully document a case where it's not -- i.e. that **someone who is not subscribed to "everything" gets a tag notification for a note they've already been notified of**?

Thanks, that would be very helpful to clarify if there is indee

[2017-09-20 15:37] jywarren commented on #1532
Great, VERY helpful, thanks liz. Can you now try to clear your cache and cookies in Chrome and look again while logged in?

https://support.google.com/accounts/answer/32050?co=GENIE.Platform%3DDesktop&hl=en

We'll get there!

[2017-09-20 16:02] jywarren opened #1634 "Add "coauthorship" credit line to list view of recent activity"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-09-20 16:51] ebarry commented on #1630
Hi Jeff, thanks for helping with this little issue!

Perhaps i am not familiar with the feature as it is intended to work.

For people subscribed to everything, or even to all questions, we never need a notification when a tag is added to content, because we already know about that content courtesy of already being subscribed to "everything" and "all questions".  Can tag notifications be turned of

[2017-09-20 16:52] jywarren commented on #1627
Interesting to note - the comments seem to actually post, just the UI reports an error.

[2017-09-20 16:53] jywarren commented on #1627
#1632 did not resolve it, :-(

[2017-09-20 16:56] jywarren commented on #1627
Huh, different error now!

[code]

[2017-09-20 21:42] gretchengehrke commented on #1629
Hi Jeff,
It worked with a test post. It's not worked the past several times I tried
it, but maybe that means the bug has already been fixed.
Thanks,
Gretchen

On Tue, Sep 19, 2017 at 3:55 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-09-20 22:20] jywarren commented on #1629
Super, very good to hear. Closing this then; pls reopen if it happens again; it could be a nasty bug that only happens sometimes.

[2017-09-20 22:20] #1629 closed

[2017-09-20 22:21] jywarren commented on #1629
and thanks!

[2017-09-21 01:49] jywarren commented on #1630
Yes, we can do that -- can you open a new issue with the title "add an
exception to list of users to be notified upon new tag addition, for those
subscribed to 'everything'" and i can help find that line of code and
propose a change. Thanks!

On Wed, Sep 20, 2017 at 12:51 PM, Liz Barry <notifications@github.com>
wrote:

[2017-09-21 11:39] #1624 closed

[2017-09-22 08:46] priyansh1161 commented on #1622
Hey, I'd like to work on this.

[2017-09-22 11:27] jywarren commented on #1622
That'd be great! Please tell us if you have any questions! Thanks!

On Sep 22, 2017 4:46 AM, "Priyansh Gupta" <notifications@github.com> wrote:

[2017-09-22 12:25] jywarren commented on #1622
Completed in  https://github.com/publiclab/plots2/pull/1636 thanks!!

[2017-09-22 12:25] #1622 closed

[2017-09-22 14:45] fuentesj commented on #1631
Hi Jeff, I'd like to take on this issue if it's still available. I've followed the instructions to get a local copy of the repo on my laptop, and I'm hoping to work on this issue during the following week.

I do have one question at the moment though: Would `comment_controller_test.rb` be the appropriate place to add a test for this issue?

Thank you!

[2017-09-22 14:47] jywarren commented on #1631
Hi, thanks! On this, I think you could, in the functional tests, by
modifying the text of a comment and then scanning the resulting page with
`assert_select` to see if you see your prompt text. Great idea!

On Fri, Sep 22, 2017 at 10:45 AM, Jonathan Fuentes <notifications@github.com

[2017-09-22 15:38] icarito commented on #1604
![image](https://user-images.githubusercontent.com/199755/30752481-05bbd798-9f82-11e7-994a-3d72e23cc391.png)

[2017-09-22 18:48] steviepubliclab opened #1637 "questions not showing up"
I went to the questions page and it looks the material (questions) on that page aren't showing up right now under any of the tabs: https://publiclab.org/questions/

[2017-09-22 22:40] jywarren commented on #1637
Hi, Stevie - can you try this using an incognito tab, and on a different
browser (either your phone or, say, Firefox)? You're on Chrome now, right?

This looks like the issue @ebarry has been tracking down. Mysterious but
we'll get it.

On Fri, Sep 22, 2017 at 2:48 PM, Stevie <notifications@github.com> wrote:

[2017-09-24 17:25] Arimao commented on #1634
I have tried to fix this issue, but I might have failed since I don't have any prior Ruby experience. Here it is.

https://github.com/Arimao/plots2/blob/1634/app/views/dashboard/_node_meta.html.erb

[2017-09-25 15:02] jywarren commented on #1589
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2017-09-25 15:44] ebarry opened #1640 "Add right to edit a co-authored note if username is tagged using "with:USERNAME""
### What happened just before the problem occurred
I'm posting this on behalf of Mimibell who is co-author on a note, and wished to edit it, but the system did not give the account access, although the friendly green announcement said that it did:
![unnamed](https://user-images.githubusercontent.com/161439/30817357-a58915ea-a1e6-11e7-8f43-4603bed2031e.png)

### Relevant URLs

Research Note: https:

[2017-09-25 16:34] jywarren commented on #1640
Thanks, @ebarry ! This is great; it's part of this issue which needed to be broken up into individual issues, so I'll link it: https://github.com/publiclab/plots2/issues/761

I'll also copy in the notes for how to solve this, and if you'd like help reformatting this issue I think we could get it in the queue pretty easily:

### Steps to fix

give co-authors (as denoted by `with:<username>`, [see c

[2017-09-25 16:48] jywarren commented on #1634
Ah, looks like the wrong URL but your pull request is here: https://github.com/publiclab/plots2/pull/1638#issuecomment-331726123

Thanks, we're very happy to help! I should be able to take a look over this soon, and if @publiclab/reviewers can get to it first that's great too.

[2017-09-25 17:26] maxtedford commented on #1589
Hi @jywarren, so sorry this is dragging a bit. I've started on it, and I think I've got a clear grasp on the problem, but I've had a few things come up recently that have diverted my attention temporarily. I should be able to get you a PR by this weekend. Would that work?

[2017-09-25 17:37] icarito opened #1641 "Performance issue optimize query"
On 25/09/17 11:38, Jeffrey Warren wrote:

So two actions required (or one of either?):
  - [ ] refactoring (adding index to model?)
  - [x] remove users with status not 1 (confirm?)

[2017-09-25 17:42] icarito commented on #1641
You mean doing something like DROP FROM rusers WHERE status!=1 ?
Or would a migration be preferable?

[2017-09-25 17:54] jywarren commented on #1525
I think the page for https://publiclab.org/stats/subscriptions is not supposed to be the same as https://publiclab.org/subscriptions -- so https://publiclab.org/stats/subscriptions is broken, not leading to the wrong place.

Yes, i checked our "routes" file and /stats/subscriptions is its own page, which seems broken -- I'll update the title.

We should write a functional test for this page, then

[2017-09-25 17:56] jywarren commented on #1594
Compare this to a "working" wiki page like:

https://publiclab.org/wiki/revisions/opencall

to see what it's supposed to look like! I suspect there's some content on the page which is making it difficult for the revisions template to display, but this bears some looking into... there are just a LOT of revisions. Is this urgent, @steviepubliclab?

[2017-09-25 17:57] jywarren commented on #1589
Absolutely, and thanks for writing back!

On Mon, Sep 25, 2017 at 1:26 PM, Max Tedford <notifications@github.com>
wrote:

[2017-09-25 18:13] jywarren commented on #1641
nono, i just mean adding a filter like `.where(status: [1,4])` -- though this would limit the search (used by admins) to verified accounts. But that should be OK.

### Steps to resolve:

[code]

[2017-09-25 18:14] jywarren commented on #1641
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2017-09-25 18:32] jywarren commented on #1526
The code for the "subscribe" button is here:

https://github.com/publiclab/plots2/blob/master/app/views/tag/show.html.erb#L42-L47

[code]

This could be copied into the tag index page that Liz screenshotted above:

https://github.com/publiclab/plots2/blob/master/app/views/tag/index.html.erb#L16

A possibly simpler implementation is here on the Subscriptions page, that could also be copied in inste

[2017-09-25 19:08] ebarry commented on #1525
Wow great catch!

[2017-09-25 19:51] steviepubliclab commented on #1594
I don't think it's urgent (unless it does something to our licensing to not
have people's edits/additions?) . I couldn't get that link you sent to open
though.
-Stevie

On Mon, Sep 25, 2017 at 12:56 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-09-26 05:07] amitsin6h commented on #1634
@jywarren can I work on this issue for my first time fix

[2017-09-26 13:23] icarito commented on #1641
Here's the top queries for Monday

QUERY TIME - BY MEAN | HITS | SUM | MEAN | STDDEV | MIN | MAX | 95 %TILE
-- | -- | -- | -- | -- | -- | -- | --
publiclab@172.18.0.1: SELECT term_data.* FROM term_data INNER JOIN community_tags ON community_tags.tid = term_data.tid INNER JOIN community_tags node_tags_term_data_join ON node_tags_term_data_join.tid = term_data.tid INNER JOIN node ON node.nid = node_

[2017-09-26 13:40] icarito commented on #1641
Here's a random process list (it varies a lot)
[code]

[2017-09-26 15:09] gretchengehrke opened #1645 "Add "accepted_answers" method to Node model, then add grey checkmark for as-yet unaccepted answers"
### What happened just before the problem occurred
When looking at the new /wiki/hydrogen-sulfide, in a section including a table of things that had been tagged with hydrogen-sulfide, I saw one of my questions included there had been marked "(Answered)". However, I had not marked that question answered since the answer contributed was really more like comment material, and my question still stands

[2017-09-26 15:31] jywarren commented on #1645
Hi, Gretchen - as of last week, any admin or moderator can also mark a question as answered, but we don't track who actually accepted it. (we discussed this in the comdev channel, maybe you missed it) So I'd guess an admin or moderator marked that as answered.

So I don't think this is a bug, but if you want to talk through how the feature works or request a change, that sounds good. (maybe w/ @st

[2017-09-26 15:32] jywarren commented on #1645
Actually, on second thought, i'm going to leave it open so we don't forget to discuss.

[2017-09-26 15:43] gretchengehrke commented on #1645
Hi Jeff,
I actually think it is a bug. If you look at the question itself (the link
is in the issue I filed), there is no indication that an answer has been
accepted. Please take a look.
As for who can accept an answer, I did see that convo. I don't think that's
what is going on here though.
Thanks,
Gretchen

On Tue, Sep 26, 2017 at 11:32 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-09-26 15:47] jywarren commented on #1645
Ah, i see -- you're right, i misunderstood. The current check for whether it's answered is `does it have any answers written`, not `are any answers accepted`. I'm going to rename your issue to clarify this and i think it's a great point of distinction to figure out.

[2017-09-26 16:03] icarito commented on #1604
Okay so although we found a compromised container, this wasn't the culprit of slowness found in staging. Reopening and testing without Solr.

[2017-09-26 16:11] icarito commented on #1604
Setting `disabled = true` in sunspot.yml makes plots run fast in staging. Still no solution.

[2017-09-26 16:35] jywarren commented on #1604
OK, so we're looking at the slowness likely coming from a combination of a)
solr being enabled and b) it not running on the production server (since
solr is enabled there without apparent consequence)

On Tue, Sep 26, 2017 at 12:15 PM, Sebastian Silva <notifications@github.com>
wrote:

[2017-09-26 16:54] icarito commented on #1641
Here's more info for Tuesday early morning, for 8 hours with repeated micro-outages:

REQUEST DURATION - BY MEAN | HITS | SUM | MEAN | STDDEV | MIN | MAX | 95 %TILE
-- | -- | -- | -- | -- | -- | -- | --
WikiController#comments.*/* | 45 | 3m12s | 4.26s | 16.83s | 33ms | 1m53s | 82ms-1m54s
WikiController#popular.*/* | 2 | 7.43s | 3.72s | 3.68s | 1.11s | 6.32s | 1.11s-6.34s
WikiController#liked.*/* |

[2017-09-26 18:22] icarito opened #1648 "Work on some metrics to detect performance degradation in staging before deployment"
### What happened just before the problem occurred
Everything was fine. Then, load warnings, then, service degradation.

This time, suspect for me is recent work on tags. It may be something else. We should detect this before hitting production site.

[2017-09-26 20:07] jywarren commented on #1637
Merging into #1532. Thanks!

[2017-09-26 20:07] #1637 closed

[2017-09-26 22:16] icarito commented on #1641
REQUEST DURATION - BY SUM | HITS | SUM | MEAN | STDDEV | MIN | MAX | 95 %TILE
-- | -- | -- | -- | -- | -- | -- | --
TagController#show.HTML | 7390 | 2h21m30s | 1.15s | 1.88s | 0ms | 54.86s | 18ms-5.48s
NotesController#show.HTML | 1856 | 1h04m48s | 2.10s | 3.07s | 0ms | 56.91s | 22ms-8.75s
UsersController#profile.HTML | 1704 | 1h02m35s | 2.20s | 4.85s | 1ms | 1m44s | 17ms-9.95s
StatsController#inde

[2017-09-26 22:38] jywarren commented on #1641
Hmm, this line from top of Monday's list looks like a potential candidate:

[code]
 at 34.07s average and 26 hits. That might jive with your just-posted list's top culprit, `TagController#show.HTML`, but that only shows 1s average. Still, it's something to do with tags, as per
the query.

It looks like an attempt to get all the tags which are used on any node. This could be the publiclab.org/tags

[2017-09-26 22:39] jywarren commented on #1641
Yes, it's this query: https://github.com/publiclab/plots2/blob/master/app/controllers/tag_controller.rb#L8-L12

[2017-09-26 22:39] jywarren commented on #1641
Let's fix this.

[2017-09-26 22:40] jywarren commented on #1641
Gosh, that's a huge query. It must return all nodes, which is about 5400 as per publiclab.org/stats.

Let me see...

[2017-09-26 22:46] jywarren commented on #1641
OK, making a pull request. Starting with `.select('node.id, node.status, term_data.*, community_tags.*')` to not get the whole node record. Then I'm going to limit this to usages in the past month.

[2017-09-26 22:50] jywarren commented on #1641
OK, adding this too:

`               .where('community_tags.date > ?', (DateTime.now - 1.month).to_i)`

[2017-09-26 22:51] jywarren commented on #1641
If this passes, go ahead and merge, @icarito !

[2017-09-27 14:48] #1631 closed

[2017-09-27 19:41] jywarren commented on #1645
@ebarry sez:

Also, it now no longer says "Answered" but just shows a checkmark, due to a first-timer contribution: https://github.com/publiclab/plots2/pull/1633

![screenshot 2017-09-27 at 3 40 47 pm](https://user-images.githubusercontent.com/24359/30934031-458b024c-a39a-11e7-80b3-6e6e8ed09ece.png)

[2017-09-27 21:22] jywarren commented on #1645
Just a note - the definition (behind the scenes) of "answered" is currently "whether there are any answers" -- we'd maybe need a separate "accepted_answers"

https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L182-L184

[2017-09-28 00:07] jywarren commented on #1456
Recently fixed!

[2017-09-28 00:07] #1456 closed

[2017-09-28 14:49] fuentesj opened #1654 "Automated tests fail due to Solr being enabled in test mode -- should disable it"
### What happened just before the problem occurred
Unfortunately, this issue has always occurred for me on my machine. While some tests do successfully run & pass, many others simply timeout.

### What's the problem?
Oftentimes, I see `Net::OpenTimeout: execution expired` come up in the test output. Based on my understanding, something is trying to open up a HTTP connection when I run the tests lo

[2017-09-28 16:14] jywarren commented on #1416
added integration steps from #1655 !!

[2017-09-29 03:09] makeupsomething commented on #1634
@jywarren @amitsin6h
I will take this if still available

[2017-09-29 03:31] amitsin6h commented on #1526
@jywarren can I work on this issue as my first contribution.

[2017-09-29 03:33] jywarren commented on #1526
Sure, yes please! Happy to help, too.

[2017-09-29 16:43] ViditChitkara commented on #1640
Can I work on it??I am a first timer??

[2017-09-29 19:38] icarito commented on #1641
Okay today we're experiencing the same issue. I've taken a number of measures but can't seem to bring back to normal.
 - I've restarted nginx and mysql
 - I've changed vm.swappiness from 10 to 5
 - I've limited rails passenger_max_pool_size to 4 (reducing memory consumption)
 - I've disabled swap on /dev/xvdc drive only leaving /swapfile

[2017-09-29 19:40] icarito commented on #1641
I'm running analyzers again for today's timeslice, those are from last night until 11:40 AM

[2017-09-29 22:39] icarito commented on #1641
Also tried disabling solr, didn't seem to help.

[2017-09-29 22:57] icarito commented on #1641
Actually, it did help, quite a lot.
![image](https://user-images.githubusercontent.com/199755/31039000-ae97217a-a53f-11e7-83c5-5c3b576a8441.png)
Perhaps it's related to #1604

[2017-09-30 14:06] icarito commented on #1641
After having resorted to disabling Solr yesterday, things went for the most part back to normal. At 21:31 pm EST there was another peak, which I've marked in the following graph.

I purposefully used this one short event to do a detailed log analysis for only a 10 minute timeslice.
Pasting the log analysis on matrix.

![image](https://user-images.githubusercontent.com/199755/31046462-63b3e542-a5be

[2017-09-30 14:07] icarito commented on #1641
Here's MySQL-slow log for the 10 min timeslice above:
https://matrix.org/_matrix/media/v1/download/matrix.org/ZJrqIMZLFhZNsfrZGfZiSquP

And production log analysis:
https://matrix.org/_matrix/media/v1/download/matrix.org/INVaStNeQKpqjirimHorKHzf

[2017-10-01 21:35] maxtedford commented on #1589
Hi @jywarren, I've wrapped up this feature branch, but I've got a quick question about the tests. When I run the full suite I have a ton errors due no connection to the solr engine (this has been the case the whole time, but I'm just bringing it up now to make sure I'm not PR'ing a failing branch). The setup guides in the README seem to indicate that setting up solr is an optional step and is not

[2017-10-02 01:14] jywarren commented on #1589
Ah, no - solr tests and solr itself is actually not recommended for most
contributors! You can run tests without it with just "rake test" -- and in
fact submitting a pull request will run tests automatically on our testing
server so we'd love to see it even if you're not quite done. Early PRs are
really helpful!

Thanks! Exciting!

On Oct 1, 2017 5:35 PM, "Max Tedford" <notifications@github.com> w

[2017-10-02 12:47] jywarren commented on #1645
OK, changed title to suggest the "grey checkbox" could indicate that it's been answered, and "green checkbox" to indicate that at least one of the answers has been accepted.

https://github.com/publiclab/plots2/blob/master/app/models/answer.rb doesn't reflect this clearly, but to check for answers that have been accepted, you can add `.where(accepted: true)` to the ActiveRecord query. So that woul

[2017-10-02 18:50] maxtedford commented on #1589
Sounds good, I'll go ahead and push my changes regardless and will let the CI tests do their thing. I've actually been trying to run the suite locally with `rake test`, but for some reason it seems the test environment is trying connect to a solr server and I'm getting a ton of these errors in succession:

<img width="1679" alt="screenshot 2017-10-02 14 42 47" src="https://user-images.githubuserco

[2017-10-02 18:55] jywarren commented on #1589
hmm, @icarito is managing some server load issues right now but i wonder if
we need to turn "disabled: true" in /config/sunspot.yml -- thanks for
posting this though!!!

On Mon, Oct 2, 2017 at 2:50 PM, Max Tedford <notifications@github.com>
wrote:

[2017-10-02 19:19] maxtedford commented on #1589
Anytime! Would you like me to notify the Google group about my PR, or is simply submitting it adequate?

[2017-10-02 19:22] maxtedford commented on #1589
Also, switching to `disabled: true` in the `sunspot.yml` seems to have done the trick!

[2017-10-02 19:33] jywarren commented on #1589
Oh cool. I saw the PR and will take a look later today! Thanks!

On Oct 2, 2017 3:22 PM, "Max Tedford" <notifications@github.com> wrote:

Also, switching to disabled: true in the sunspot.yml seems to have done the
trick!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/plots2/issues/1589#issuecomment-333637616>,
or

[2017-10-02 19:36] jywarren commented on #1654
@maxtedford, is this what you're seeing?

[2017-10-02 19:44] maxtedford commented on #1654
@jywarren, yes that's what I was experiencing as well.

I've included the `disable: true` flag inside the `sunspot.yml` in #1660, which I believe should fix the problem once it's merged (at least it did for me locally).

@fuentesj, you might try that as well in your local `sunspot.yml` to see if that helps:

![screenshot 2017-10-02 15 44 17](https://user-images.githubusercontent.com/9435299/310959

[2017-10-03 01:09] fuentesj commented on #1654
@maxtedford, that worked for me as well! Thank you! I'll close this issue now.

[2017-10-03 16:17] icarito opened #1661 "Tweak robots.txt to disallow robots in heavy pages"
I am diagnosing performance issues and looking at logs by hand I see quite a few bots reaching heavy pages such as [stats](https://publiclab.org/stats?time=October%2026,%201996%2007:10).

We should tweak [robots.txt](https://publiclab.org/robots.txt) to allow specific pages or hierarchies, disallowing heavy query pages.

The robots.txt file can be found here: https://github.com/publiclab/plots2/bl

[2017-10-03 16:21] icarito commented on #1661
Here's another example:
[code]

[2017-10-03 16:23] icarito commented on #1661
And more:
[code]

[2017-10-03 16:24] icarito commented on #1661
[code]
It is not clear that these are the reason for the slowness, but we should limit robots anyway.

[2017-10-03 20:28] jywarren commented on #1661
+1

[2017-10-03 21:42] jywarren commented on #1654
Hi, all -i'm going to re-open so that we figure out if we ought to disable this by default to make running tests easier for everyone -- we could switch it back for Travis tests, for example.

Thanks!

[2017-10-03 22:04] ebarry opened #1662 "IFTTT integration with twitter.com/mapknitter to post images is broken"
### What happened just before the problem occurred

checked twitter, saw mapknitter tweeting broken images

<img width="507" alt="screen shot 2017-10-03 at 5 03 53 pm" src="https://user-images.githubusercontent.com/161439/31151401-e4c37288-a85c-11e7-839b-7fb1cc2005d8.png">

### Relevant URLs

https://twitter.com/mapknitter

[2017-10-04 18:14] Diksha2008 commented on #1645
Hey @jywarren, I am new to open source. Can I work on this issue for my first time fix?

[2017-10-04 18:32] jywarren commented on #1645
Yes please, we'd love that! Thanks!

On Oct 4, 2017 1:15 PM, "Diksha Manchanda" <notifications@github.com> wrote:

[2017-10-05 13:53] #1589 closed

[2017-10-05 21:00] jywarren commented on #1527
Hi, Liz, I'm closing this until it can be reconciled with the UI design work at https://publiclab.org/notes/siyuan/06-12-2017/a-questions-page-to-encourage-discussions-through-better-ux

Thanks!

[2017-10-05 21:00] #1527 closed

[2017-10-05 21:01] jywarren commented on #1526
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2017-10-05 21:13] jywarren opened #1667 "Add Questions, Answers, and Comments to /stats/range/__ pages"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-10-05 21:14] jywarren commented on #1530
OK, i've broken this into 3-6 pieces and reposted as a first-timers issue: https://github.com/publiclab/plots2/issues/1667

Thanks!

[2017-10-05 21:14] #1530 closed

[2017-10-06 00:25] MelvillesMobyDick commented on #1667
I'm a first-timer and would like to give this one a shot!

[2017-10-06 05:09] jywarren commented on #1667
Yes please! We'd love your contribution and would be happy to help out!

On Oct 5, 2017 6:25 PM, "Andrew Porter" <notifications@github.com> wrote:

[2017-10-06 08:58] Diksha2008 commented on #1563
@jywarren If this issue is still available, can I work on it?

[2017-10-06 13:20] jywarren commented on #1563
Yes please! Thank you!

On Oct 6, 2017 2:58 AM, "Diksha Manchanda" <notifications@github.com> wrote:

[2017-10-06 13:39] #1634 closed

[2017-10-06 16:00] jywarren commented on #1654
Trying to address in #1537.

[2017-10-06 17:06] sagarpreet-chadha commented on #1667
Hey @jywarren sir...can i try this ?

[2017-10-06 17:17] sagarpreet-chadha commented on #1661
Hey...i am a first timer and was reading about web robots and found it interesting...so can i give it a try ?
Thanks in advance .

[2017-10-06 20:40] jywarren commented on #1661
Sure, that'd be great!

On Fri, Oct 6, 2017 at 1:17 PM, Sagarpreet Chadha <notifications@github.com>
wrote:

[2017-10-06 20:58] jywarren commented on #1667
Yes please! we'd be happy to help as you give it a try. Thank you!!

On Fri, Oct 6, 2017 at 1:06 PM, Sagarpreet Chadha <notifications@github.com>
wrote:

[2017-10-08 17:56] #1645 closed

[2017-10-08 17:58] jywarren commented on #1645
Solved by @Diksha2008 in https://github.com/publiclab/plots2/pull/1665 !!!

[2017-10-09 11:42] Diksha2008 commented on #1640
@jywarren Can I work on this issue ?

[2017-10-09 17:51] icarito commented on #1641
Here's a reference to a good resource to debug model: https://www.schneems.com/2017/07/18/how-i-reduced-my-db-server-load-by-80/ looks strangely familiar...

[2017-10-09 19:08] jywarren commented on #1640
Sure, either of you is welcome to do so -- please open a pull request with your changes even before you're done so that you don't overlap work. And I'm happy to help out!

[2017-10-09 19:09] #1563 closed

[2017-10-09 19:11] jywarren commented on #1563
I believe this has been solved, although I'm not sure it'll work for very complex existing body text. If we have trouble with that, we may want to look into submitting a synchronous POST request with the body text instead of trying to include it in the URL GET parameters.

[2017-10-09 19:11] jywarren commented on #1563
And thanks, @Dishka2008! We'll get this published in the next few days!

@icarito if you're comfortable publishing to production please go ahead!

[2017-10-10 21:34] kaid7 commented on #1667
Has someone already completed this? I'd like to give this a shot.

[2017-10-11 08:50] Diksha2008 commented on #1526
@jywarren I would like to work on this issue!

[2017-10-11 15:40] jywarren commented on #1526
Yes please! That would be great!

On Oct 11, 2017 4:50 AM, "Diksha Manchanda" <notifications@github.com>
wrote:

[2017-10-11 18:53] amitsin6h commented on #1667
I was looking for first timer issue can I work on this. @jywarren

[2017-10-11 19:33] jywarren opened #1675 "Question posting error with long title"
### What happened just before the problem occurred

Someone posted a question with a long title; see below for the error log. We should remove the question title length limitation!!

### Relevant URLs

https://publiclab.org/questions/new

[code]

[2017-10-11 19:43] jywarren opened #1676 "/wiki/vermont page broken"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-10-11 19:43] jywarren commented on #1676
@Fastie did you see this issue?

[2017-10-11 19:50] Fastie commented on #1676
I noticed that the page was gone a few weeks ago. I tried not to take it personally, and assumed that it might appear again eventually.

[2017-10-11 22:09] jywarren opened #1677 "Add a "trending topics" display to Activity feed"
We should add a new section to the activity template (see the [Activity section of this page](http://publiclab.org/research)); it'd look like this:

![screenshot 2017-10-11 at 6 00 41 pm](https://user-images.githubusercontent.com/24359/31469445-86708cf8-aeaf-11e7-80b6-527206fee631.png)

We could do this using Bootstrap label styling, like:

[code]

That could live right above this line:

https://g

[2017-10-11 23:12] icarito commented on #1641
@steviepubliclab reported on #publiclab that we're still showing slowness. I'll run the log analyzer for the past couple of days to see where we could optimize again.

[2017-10-11 23:28] jywarren commented on #1641
Ok, thanks!

On Oct 11, 2017 7:12 PM, "Sebastian Silva" <notifications@github.com> wrote:

[2017-10-12 12:44] #1640 closed

[2017-10-12 12:51] Diksha2008 commented on #1526
@jywarren Adding the following code for subscribe button redirects the page to `/subscriptions` when clicked. How could I avoid that? Using AJAX or some unobtrusive js request? How could I implement toggling?Please help!
[code]

[2017-10-12 12:59] jywarren commented on #1526
I think that for now it's all right if it redirects there. We can think about this interaction and do a follow-up issue if it doesn't seem to work for people. Thanks for your attention to detail though!

[2017-10-12 13:03] jywarren commented on #1526
Could you also add a column for "# of people subscribed"? That's generated here on this template:

https://github.com/publiclab/plots2/blob/master/app/views/home/subscriptions.html.erb#L35

The code is:

[code]

[2017-10-12 13:46] sagarpreet-chadha opened #1678 "Search Query Out of Range Error"
### What happened just before the problem occurred
On clicking this link :
<img width="1399" alt="screen shot 2017-10-12 at 7 13 09 pm" src="https://user-images.githubusercontent.com/14952645/31499174-aece084c-af81-11e7-8e08-af5b79d72382.png">

Takes time for loading the page and then (see image):
<img width="1281" alt="screen shot 2017-10-12 at 7 09 12 pm" src="https://user-images.githubuserconte

[2017-10-12 14:07] sagarpreet-chadha commented on #1677
Sir...can i try this ?

[2017-10-12 14:29] jywarren commented on #1677
Yes please! That would be super. It's a bit more complex so please ask if
you get in trouble!

On Oct 12, 2017 10:08 AM, "Sagarpreet Chadha" <notifications@github.com>
wrote:

[2017-10-12 14:41] jywarren commented on #1678
Hi, thanks for reporting this! I see that line is:

`@end = params[:end] ? Time.parse(params[:end]) : Time.now`

Do you know what happens when you run `Time.parse('12-31-2016')? Maybe
we're ordering the month/day incorrectly?

On Thu, Oct 12, 2017 at 9:46 AM, Sagarpreet Chadha <notifications@github.com

[2017-10-12 14:45] jywarren commented on #1678
Yes! Look, this works:
https://publiclab.org/stats/range/01-01-2016/31-12-2016/

Can you submit a fix for that page here?
https://github.com/publiclab/plots2/blob/master/app/views/stats/index.html.erb#L15

On Thu, Oct 12, 2017 at 10:41 AM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2017-10-12 14:54] #1526 closed

[2017-10-12 14:58] jywarren commented on #1667
Solved, i believe, in #1672! Thank you!

[2017-10-12 14:58] #1667 closed

[2017-10-12 17:06] #1678 closed

[2017-10-13 14:52] sagarpreet-chadha commented on #1675
@jywarren sir.....can i take this ?

[2017-10-13 16:11] jywarren opened #1686 "Improve overall load time for front page"
Server response time is 2.1, but full page load takes 9 seconds for the front page -- https://publiclab.org/ or if you're logged in, https://publiclab.org/home.

This is according to this nice tool by Google: https://developers.google.com/speed/pagespeed/insights/?utm_source=analytics&tab=desktop&url=http%3A%2F%2Fpubliclab.org%2F

That page suggests a number of improvements, which we could go thro

[2017-10-13 16:42] jywarren commented on #1675
sure, thank you!!!

On Fri, Oct 13, 2017 at 10:52 AM, Sagarpreet Chadha <
notifications@github.com> wrote:

[2017-10-13 18:50] jywarren commented on #1675
Fixed in #1688!

[2017-10-13 18:50] #1675 closed

[2017-10-14 00:34] jywarren commented on #1677
Solved in #1684 ! Thanks!!

[2017-10-14 00:34] #1677 closed

[2017-10-14 00:41] jywarren commented on #1676
I think we could reproduce this issue by introducing a test using the `notes:_____` tag as described here: https://publiclab.org/wiki/power-tags#List+of+power+tags+useful+for+chapter+pages:

However, since we now have inline tag grids, which are much more powerful and flexible, would you be all right with our deprecating the `notes:____` tag feature?

https://publiclab.org/wiki/power-tags#Inline+p

[2017-10-14 00:50] Fastie commented on #1676
I can't remember what was on the Vermont wiki page or whether I'm the one who put the content there. So I don't have much understanding of these issues, and I can't see the page to refresh my memory. I'm sure any changes you make will be good ones.

[2017-10-14 13:45] sagarpreet-chadha opened #1691 "Overflow of Title in Dashboard"
### What happened just before the problem occurred
As there is no limit on Title length and on the format of title so , a title for example : "This_is_an_example_title_which_will_overflow_in_the_dashboard_" will overflow as seen here :

<img width="1438" alt="screen shot 2017-10-14 at 7 08 17 pm" src="https://user-images.githubusercontent.com/14952645/31576186-9531d02e-b113-11e7-91e0-8eaf82e042ef.

[2017-10-15 04:03] jywarren commented on #1641
Just a few more graphs to look at here:

![screenshot 2017-10-14 at 9 00 40 pm](https://user-images.githubusercontent.com/24359/31581525-0e92eb88-b123-11e7-85c7-36fa74fa4d91.png)

![screenshot 2017-10-14 at 9 01 06 pm](https://user-images.githubusercontent.com/24359/31581526-10313472-b123-11e7-99f3-016c4420a024.png)

[2017-10-15 04:10] jywarren commented on #1641
I'm thinking about whether simply showing more images on the front page may actually be slowing things down. Think about how many of these are due to the new section at the bottom of the home page:

[code]

[2017-10-15 04:12] jywarren commented on #1641
We could test this simply by disabling that bottom section. If this turns out to be the issue, we could:

* enable gzip
* hide this section until you scroll down, and only if you have javascript?

[2017-10-15 13:51] Diksha2008 commented on #610
@jywarren I would like to give it a try!

[2017-10-15 20:31] sagarpreet-chadha commented on #1630
Hey @jywarren sir...can i work on this ? should i open a new issue for this ?

[2017-10-15 20:34] jywarren commented on #1630
Yes please! That would be great. Thanks!

On Oct 15, 2017 1:31 PM, "Sagarpreet Chadha" <notifications@github.com>
wrote:

[2017-10-16 05:26] sagarpreet-chadha opened #1692 "add an exception to list of users to be notified upon new tag addition, for those subscribed to 'everything'"
### What happened just before the problem occurred

This is with reference to issue #1630 .
A user subscribed to 'everything' should not get email when a Tag is added to the content because they were already notified when the content was added .

### Relevant URLs

https://github.com/publiclab/plots2/blob/master/app/mailers/subscription_mailer.rb
https://github.com/publiclab/plots2/blob/master/app

[2017-10-18 12:43] Diksha2008 commented on #1351
I would like to work on this if no one else is ?

[2017-10-18 13:20] jywarren commented on #1351
Yes please!

On Oct 18, 2017 8:43 AM, "Diksha Manchanda" <notifications@github.com>
wrote:

[2017-10-18 18:26] #1691 closed

[2017-10-18 18:39] Diksha2008 commented on #610
@jywarren I hope I can work on this?

[2017-10-18 19:14] jywarren commented on #610
Yes please, that'd be great!

On Wed, Oct 18, 2017 at 11:39 AM, Diksha Manchanda <notifications@github.com

[2017-10-18 21:33] sagarpreet-chadha commented on #1550
<img width="991" alt="screen shot 2017-10-19 at 2 22 05 am" src="https://user-images.githubusercontent.com/14952645/31743188-d4a2c378-b477-11e7-9001-836a45495735.png">

@jywarren sir...while testing i encountered the same test failing . Can i work on this ?

[2017-10-19 00:23] jywarren commented on #1550
Cool, have you tried the remedy I proposed above?

Seems like that could resolve the issue. Please give it a try!

[2017-10-19 01:57] jywarren opened #1698 "Detect if first row of uploaded CSV is time-based, and use as x-axis"
When you use the new shortcode `[graph:____.csv]`, you get a chart like this:

![screenshot 2017-10-13 at 10 21 10 pm](https://user-images.githubusercontent.com/24359/31571702-bba50496-b065-11e7-8bd9-e0c90ca8f718.png)

But the x-axis is by default just `0,1,2,3,4...` by row number. If the first column is time-based -- maybe we can use already-installed `moment.js` to determine this -- let's use it

[2017-10-19 05:33] sagarpreet-chadha commented on #1550
Yes sir you are correct , the remedy solves the problem .

[2017-10-19 19:39] ebarry commented on #1532
No problems lately!
Is it really gone? i don't know. Willing to close for now.

[2017-10-19 19:39] #1532 closed

[2017-10-19 19:51] ebarry opened #1701 "Dropdown menus: remove "Connect", update "Get Involved""
Hello! This is the latest iteration of the dropdown menus based on conversations with Stevie and Margie. Part of https://github.com/publiclab/plots2/issues/1621

1. Remove `Connect` menu entirely.
2. Update `Take Action` menu name to `Get Involved`
3. Adjust the dropdown links under `Get Involved` to:

LINKNAME | LINK
Meet people | /events
Join the discussions | /lists
Chat online | /chat
Browse r

[2017-10-19 20:03] ebarry opened #1702 "Publiclab.org top menu bar: change "Store" and "Donate" to buttons"
Hello! This is the latest update to the top menu bar. Part of https://github.com/publiclab/plots2/issues/1621

Margie (Fundraising Working Group) requested that Donate and Store appear differently from the dropdown menus, specifically as warm-colored buttons.
We should think about how to approach this. Some points:

* Donate and Store links in top menu bar are not dropdown menu items, instead, the

[2017-10-19 20:03] jywarren commented on #1532
:-) feel free to re-open if you see it again!!!

On Thu, Oct 19, 2017 at 12:39 PM, Liz Barry <notifications@github.com>
wrote:

[2017-10-19 20:26] ebarry opened #1703 "Reveal tag subscribers"
Hello!
This issue is broken out from https://github.com/publiclab/plots2/issues/179

Relevant URL: https://publiclab.org/tags

Thanks to the amazing contributor community, publiclab.org/tags has recently received some upgrades, including the addition of a "Follow" button for each listed tag -- this is great!

As part of the community development team, i would like to be able to reach out to these

[2017-10-19 20:37] ebarry commented on #480
i believe that the original issue about active topics has been addressed by https://github.com/publiclab/plots2/issues/1677 in the dashboard.

[2017-10-19 20:37] #480 closed

[2017-10-19 20:43] ebarry opened #1704 "Ability to sort tags alphabetically"
Hello! This issue is broken out from https://github.com/publiclab/plots2/issues/179

There is an ongoing effort to add functionality to https://publiclab.org/tags

Currently, tags are displayed by frequency of use. It would be great to have other ways to sort, most importantly by alphabetical order.

Benefits:
- people interested in air quality could browse all tags beginning with `air-` arguably

[2017-10-19 20:52] ebarry opened #1705 "Create new style:XXXXX powertag for Donate page"
I am posting this on behalf of Margie and the Fundraising Working Group

Margie is looking to change the style of https://publiclab.org/donate in several ways by using a powertag, similar to style:presentation which changes the lead image to full bleed and pushes down the left sidebar, but also including:

- remove left sidebar entirely (like style:blog)
- remove editing bar (like style:fancy)
- c

[2017-10-19 21:01] ebarry opened #1706 "Planning issue to reduce visual overload of left sidebar"
Hello! I'm starting this issue for a discussion of reducing the visual overload of the left sidebar. Thoughts, comments, ideas, needs, goals all welcome!

[2017-10-19 21:04] steviepubliclab commented on #1706
Hello, I have a personal visual preference towards reducing these. For example I worry about giving direct links to new people, that they wont see what I'm trying to direct them to on a page because of all the material in the margin.

[2017-10-20 07:46] Diksha2008 commented on #1703
I would like to work on this!

[2017-10-20 13:54] maxtedford commented on #1570
Hey @jywarren and @500swapnil, I noticed there's an un-merged PR open for this issue. Do you need any more help?

[2017-10-20 15:13] jywarren opened #1707 "Disable front page feed, observe performance, then decide what to do next"
@icarito and I are trying to determine the source of some performance issues, so we're disabling the front-page activity feed for a couple days.

https://github.com/publiclab/plots2/pull/1697

Followup: look at graphs, logs, and consider turning it back on, or further optimizing it!

[2017-10-20 15:41] icarito commented on #1707
Just deployed this. I had just run a reload of the page with network pane developer tools open on my Chromium, and repeated it after deploying. Delay in first request for homepage dropped from 7s to 2.5s on my connection. Will be monitoring graphs over the weekend.

[2017-10-20 18:51] #1351 closed

[2017-10-21 04:24] ianroberts131 commented on #1702
If this is still available, I can take a look over the weekend.

[2017-10-21 12:53] sagarpreet-chadha commented on #1701
Sir can i try this ?

[2017-10-21 12:55] jywarren commented on #1701
That'd be great, thank you!!!!

Please mention @ebarry in your PR, when you open one, and if you could make
a screenshot that'd be great too. Thank you!

On Oct 21, 2017 8:53 AM, "Sagarpreet Chadha" <notifications@github.com>
wrote:

[2017-10-21 12:57] jywarren commented on #1702
Hi, I appreciate the offer of help but we need a little more time to think
through the color scheme before we're ready. If you'd like to submit a pull
request for the buttons themselves, and we can tweak the colors before
merging it, that would be helpful, but I want to be clear this may get
delayed a bit more than the usual issue due to the undecided colors. Thanks
so much though!

On Oct 21, 201

[2017-10-21 15:07] ianroberts131 commented on #1702
Yep that's fine. I can submit a pull request, and then we can iterate on the color scheme until it's final.

[2017-10-21 16:07] ryzokuken commented on #1702
@jywarren I think we're using the standard color scheme that comes with bootstrap v3. If that's the case, we would just use something like the `danger` scheme to convey the idea.

Also, now that we're on this, I would also suggest to switch to bootstrap v4. It's out of alpha and looks very promising, plus it will improve the look and feel of the website quite a bit. We also won't have to take too

[2017-10-21 17:20] sagarpreet-chadha commented on #1704
Sir...can i take this one ?

[2017-10-22 00:43] ianroberts131 opened #1711 "Minor issue with Cloud9 setup instructions"
I recently setup this project on Cloud9, and noticed a small issue with the instructions at https://github.com/publiclab/plots2/wiki/Simple-Installation-for-Cloud9

For item 3, the instructions state to enter `https://github.com/<your-github-username>/plots2.git` before creating the workspace. However, I believe this should be `git@github.com:<your-github-username>/plots2.git`. When I tried the fo

[2017-10-22 06:28] ryzokuken commented on #1711
I think this is because the former uses HTTPS while the one you mentioned uses SSH. Technically, both should work.

[2017-10-22 16:54] ianroberts131 commented on #1711
Interesting, when I tried using HTTPS the first time it didn't work, just tested again and it worked just fine. Nevermind then!

[2017-10-22 16:54] #1711 closed

[2017-10-22 18:23] pdhixenbaugh opened #1713 "Email notifications for questions, etc., Could be better for UX"
The template for alerting users about new answers makes it difficult for the user to see at a glance if the information is relevant.

Improving this would help users return to the PL website after seeing the emails with relevant information at a glance in their inbox.

It might be useful to look at all the email templates and compare them to examples from other way platforms to see if they can be

[2017-10-22 18:29] pdhixenbaugh commented on #1713
![screenshot_20171022-110743](https://user-images.githubusercontent.com/16969821/31864992-226b3026-b71c-11e7-897b-77fe38149107.png)

Here is the information-poor current version, and how it shows up in the inbox

[2017-10-23 16:30] jywarren commented on #1711
Thanks for filing though -- we're definitely interested in catching any
rough spots in the install process!

On Sun, Oct 22, 2017 at 12:54 PM, Ian Roberts <notifications@github.com>
wrote:

[2017-10-23 16:37] jywarren commented on #1713
I like this -- the templates are available in this folder: https://github.com/publiclab/plots2/tree/master/app/views/answer_mailer

There are a few of them, but perhaps we can start with the one to the original author, and work from there:

https://github.com/publiclab/plots2/blob/master/app/views/answer_mailer/notify_question_author.html.erb

This may disrupt peoples' filters a little bit but I t

[2017-10-23 16:38] #1692 closed

[2017-10-23 16:40] jywarren commented on #1570
Hi, @maxtedford -- thanks, I just wasn't sure about if this'd cause silent failures -- see my comment here: https://github.com/publiclab/plots2/pull/1613#issuecomment-329527867

Do you know, or would you like to try to move this forward? We'd appreciate it!

[2017-10-23 16:43] #1703 closed

[2017-10-23 16:53] jywarren commented on #1702
@ryzokuken - what would it take to switch to Bootstrap 4? could you make an
issue with a checklist so we can start preparing for it and possibly
breaking it up into smaller pieces? Would anything immediately break, or is
there a guidance doc with a provided upgrade checklist as some projects
provide?

Thanks!

On Sat, Oct 21, 2017 at 12:07 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-10-23 16:54] jywarren commented on #1707
Cool, how did this turn out? If you can post a graph that'd be super.
Thanks!

On Fri, Oct 20, 2017 at 11:41 AM, Sebastian Silva <notifications@github.com>
wrote:

[2017-10-23 16:54] jywarren commented on #1704
Yes please, that would be fantastic. Thank you so much!

On Sat, Oct 21, 2017 at 1:20 PM, Sagarpreet Chadha <notifications@github.com

[2017-10-23 17:49] ryzokuken commented on #1702
@jywarren I would definitely look more into it and let you know. The checklist idea sounds awesome! Could you make two checklist-based issues (one for Rails 5 and one for Bootstrap 4)?

I would try giving as much feedback and we can, and we would definitely break those changes into a ton of smaller tasks, possibly even FTOs. Let's make these changes gradually into other branches and merge into sta

[2017-10-23 17:51] jywarren commented on #1550
Super, merged!!!

[2017-10-23 17:51] #1550 closed

[2017-10-23 17:52] jywarren commented on #1702
There is already a checklist for Rails 4, which I think may be the first
step. There have been a couple attempts to do it. I think perhaps we have
to power through it in a weekend or something but if you can help
consolidate the currently open issues and PRs around this, that'd be super
helpful!

On Mon, Oct 23, 2017 at 1:49 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-10-23 19:37] Gauravano commented on #1713
@jywarren I would like to take this issue

A few doubts:-
-  The subject needs to be changed or not?
- I guess report to moderators option has to be removed as we are not showing the complete answer to
  the user in the mail and giving him redirect link to the answer of his question.
Please, @jywarren @pdhixenbaugh mention more ideas. Thank You.

[2017-10-23 20:08] icarito commented on #1707
I did check the graphs and they indicate there was no significant improvement. We can re-deploy this then and start looking elsewhere!
![image](https://user-images.githubusercontent.com/199755/31910707-f8634ba4-b803-11e7-871c-95704e6a3a29.png)

[2017-10-24 02:10] JustusFT commented on #1698
Hi, I'm a new contributor and would like to help on this issue. Can I give this a try?

[2017-10-24 02:16] jywarren commented on #1698
Yes please! This is not the easiest first timers issue but I would be happy
to help you out if you run into trouble or need any tips!

On Oct 23, 2017 10:10 PM, "Justus Tumacder" <notifications@github.com>
wrote:

[2017-10-24 03:44] JustusFT commented on #1698
@jywarren The graph in the sandbox page seems to only display the first row data for me.
![screenshot-2017-10-24 public lab sandbox-2 1](https://user-images.githubusercontent.com/7854367/31923745-05b9a022-b8af-11e7-8e71-7e9c656795bf.png)

But it should like this right?
![screenshot-2017-10-24 public lab look at this graph 1](https://user-images.githubusercontent.com/7854367/31923979-b7c06c50-b8b0-

[2017-10-24 04:04] jywarren commented on #1698
oh, that's super! if you'd like to submit a PR for that initial change,
that's great. Thanks!

On Mon, Oct 23, 2017 at 11:44 PM, Justus Tumacder <notifications@github.com>
wrote:

[2017-10-24 04:17] ryzokuken commented on #1318
@jywarren found this. Let's flesh this issue out a little by make a checklist of stuff we need? Also, let's make a `rails-4` branch and ask people to make the PRs taking that branch as base and not `master`.

[2017-10-24 04:49] ryzokuken opened #1716 "Upgrade to Bootstrap 4"
We need to upgrade to Bootstrap 4, and this issue will hold a checklist for the same in the future. For now, we need to consolidate all the tasks we need to perform the migration and make a list of them in here, then break them into small self-contained and easy to solve issues.

Reference:
1. http://getbootstrap.com/docs/4.0/migration/
2. http://www.dotnetcurry.com/javascript/1334/migrating-boots

[2017-10-24 13:01] sagarpreet-chadha opened #1717 "Link To Action stats/subscriptions broken"
This issue refers to #1525 .

### What happened just before the problem occurred

On clicking the link (shown in image)
<img width="1264" alt="screen shot 2017-10-24 at 5 56 14 pm" src="https://user-images.githubusercontent.com/14952645/31942979-ca12c07c-b8e4-11e7-83c9-35eda84b7b67.png">

we get following error :
<img width="481" alt="screen shot 2017-10-24 at 5 59 04 pm" src="https://user-images.

[2017-10-24 15:41] ebarry commented on #1704
Wow!!!! WOW!!!!!

[2017-10-24 15:44] ebarry commented on #1701
WOW i'm so excited about this! Dear @sagarpreet-chadha, on behalf of the many people trying to make Public Lab a place where people can easily get involved, thank you so much for helping with our menus!

[2017-10-24 15:47] ebarry commented on #1706
Perhaps we could take another look at the way related content by other contributors is shown in the sidebar?

Perhaps we could look at the standard sidebar which shows banners, perhaps this type of sidebar use can be removed?

<img width="238" alt="screen shot 2017-10-19 at 4 56 53 pm" src="https://user-images.githubusercontent.com/161439/31953381-0a74ba00-b8b1-11e7-88dc-d2c9731543f7.png">

What d

[2017-10-24 15:49] #610 closed

[2017-10-24 15:51] #1701 closed

[2017-10-24 16:08] jywarren commented on #1704
Solved in #1714!

[2017-10-24 16:08] #1704 closed

[2017-10-24 16:25] jywarren commented on #1641
As of #1697 and #1718, the front page activity feed seems **not to be the issue**. Huh.

Now looking around http://jenkins.laboratoriopublico.org/job/Plots-Stable/200/ -- maybe item #4 on http://jenkins.laboratoriopublico.org/job/Plots-Stable/198/ ?

This is kind of a heavy query:

https://github.com/publiclab/plots2/pull/1608/files#diff-a8eb2425ebeb0814d010864bb014e815R58

We could try disabling

[2017-10-24 16:38] jywarren commented on #1641
Merging in #1719 when ready.

[2017-10-24 18:18] Diksha2008 opened #1721 "Add an indicator for red colored banned users and a hover over the username to check for spammers quickly"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-10-24 20:03] jywarren commented on #1721
This looks great, thanks so much!!! 🎉

[2017-10-24 20:04] jywarren commented on #1721
@sagarpreet-chadha - if you're interested in doing one of these as well, take a look here, it's worthwhile and very exciting when someone shows up to try to solve the issue :-)

[2017-10-24 20:50] ebarry commented on #1705
Here are all our powertags: https://publiclab.org/wiki/power-tags#General+power+tags

`style:blog` doesn't seem to have an effect on the page styling, mysterious.

[2017-10-24 21:01] ebarry commented on #1702
Thanks for everyone's contributions on this, it's given us a lot to think about! Really impressed at how fast you created the buttons, @ianroberts131 and how thoughtfully you designed them after the references that Margie provided of outlined buttons! As Jeff said, we are circling up over here on some design issues. Perhaps we only add emphasis to the Donate button, and leave the Store link as is.

[2017-10-24 21:02] ebarry commented on #1721
Wow @Diksha2008 this is a really super first-timers-only issue -- i wish i could write these as well as you can!!!!!

[2017-10-25 08:39] sagarpreet-chadha commented on #1721
@jywarren sir...Yes sir , I would love to ! Thanks !

[2017-10-25 09:11] sagarpreet-chadha opened #1722 "Search Bar not working when user is not Logged-in"
Hi, this is a [first-timers-only](https://github.com/publiclab/plots2/projects/2) issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're e

[2017-10-25 14:14] ankitbhardwaj78 commented on #1722
i want to work on this issue...

[2017-10-25 14:14] ViditChitkara commented on #1721
@jywarren if this is open could I work on it?

[2017-10-25 14:18] Diksha2008 commented on #1721
@ViditChitkara No, I am not working on it! you can go ahead with it!

[2017-10-25 15:07] jywarren commented on #1722
Hi, this looks great!!! 🎉

[2017-10-25 15:34] #1707 closed

[2017-10-25 15:38] jywarren commented on #1630
Solved in #1692, as far as we can tell! Please report back if that seems not to work, and thanks all!

[2017-10-25 15:38] #1630 closed

[2017-10-25 15:42] ebarry commented on #1630
Thank you!!!!!!!!!!!! @gretchengehrke , check it out -- our issue with receiving extra emails each time someone adds a new tag (considering that we were already getting all notifications anyways) has been solved! Please report back if that seems not to work! thanks everyone.

[2017-10-25 15:52] jameslave commented on #1722
I'll get this fixed. 👍

[2017-10-25 17:49] first-timers[bot] opened #1724 "Update first-timers-issue-template.md"
### ðð¥â First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you ð

[About First Timers Only](http://www.firsttimersonly.com/).

### ðð»ð Hacktoberfest: Trick or Treat!

If you havenât yet, sign up for [Hacktoberfest](

[2017-10-25 17:57] krrohitch commented on #1724
Hi, can I take this issue?

[2017-10-25 18:01] miblake6 commented on #1724
I am interested in claiming this issue. How can I help?

[2017-10-25 18:05] miblake6 commented on #1724
It seems the link to the file is broken, this link may work better for you: [first timers](https://github.com/publiclab/plots2/blob/master/.github/first-timers-issue-template.md)

[2017-10-25 18:15] jywarren commented on #1724
Egads, I'm so sorry -- this was a mistaken post -- it was put up by a bot! But you can look for some real first-timers-only issues here:

https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3Afirst-timers-only

Thank you all!

[2017-10-25 18:15] #1724 closed

[2017-10-25 18:58] jywarren commented on #1713
Hi, I believe @pdhixenbaugh suggested a shorter title so it shows up more readably on small screens, so yes please!

I think we can leave the line about moderators in there for now.

@pdhixenbaugh -- i think we will start to have to moderate answers soon, but perhaps we should open a separate issue up for that, if that's OK?

Thanks!

[2017-10-25 20:12] ebarry opened #1728 "create media@publiclab.org email address"
Dear @icarito and @jywarren
for the purposes of attaching publiclab media accounts to an organization email that it is easy to rotate membership on, please create media@publiclab.org and send it to publiclab-media@googlegroups.com

[2017-10-25 20:27] jywarren commented on #1728
Hi, Liz - unfortunately, addresses like this aren't managed through the website, but through the non-profit's Google Apps account, I'll ping you offline to help get this set up. Thanks!

[2017-10-25 20:27] #1728 closed

[2017-10-25 21:00] pdhixenbaugh commented on #1713
That all sounds like a great way of doing things!

On Oct 25, 2017 11:58 AM, "Jeffrey Warren" <notifications@github.com> wrote:

[2017-10-25 22:22] #1721 closed

[2017-10-25 22:24] jywarren commented on #1698
Ah, this was solved in #1698-- thanks!!!

[2017-10-25 22:24] #1698 closed

[2017-10-25 22:25] jywarren commented on #1717
Hi, this would make a terrific first-timers-only issue!

****

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar en

[2017-10-25 22:26] jywarren commented on #1525
@sagarpreet-chadha offered a solution in #1717; it's been made into a `fto-candidate`. Thanks!

[2017-10-25 22:26] #1525 closed

[2017-10-25 22:27] jywarren commented on #1716
Let's pull out anything from these checklists into our own checklist -- and let's split our checklist into

1. things we can do on the master branch (i.e. that are viable for both Bootstrap 3 and 4, if any)
2. things that we must do all at once

Thanks for getting this started!

[2017-10-25 22:32] jywarren commented on #1716
I added a few items to the checklist.

[2017-10-25 22:33] jywarren commented on #1318
Again, here, we should perhaps make a checklist of things we can do before the upgrade, that are compatible with Rails 3 AND Rails 4. And then a checklist of what has to happen all at once. Make sense?

[2017-10-25 22:40] jywarren commented on #1318
OK, i made a checklist. Some of these may be possible in Rails 3... not sure which. We could get them out of the way on the `master` branch to keep a rails-4 branch smaller.

[2017-10-25 22:52] jywarren commented on #1560
Hi, folks! Hope you're doing well here! I think we can close this out as complete, woohoo!

Just wanted to say that you two did some great work, and we really appreciate it! Do you have any interest in helping to prepare some `first-timers-only` issues yourself, by chance?

There's some guidance on this here, and we'd love to have your involvement: https://github.com/publiclab/plots2/projects/4

F

[2017-10-25 22:53] #1560 closed

[2017-10-25 23:03] jywarren commented on #1706
Great - added some tags here too. I think the first thing we can do is break out an issue to remove the "featured" sidebars that show banners as Liz suggests above. That's a pretty easy one; it's actually run from a "feature" -- so we can wipe it now, if you can get an OK from Margie (since one of those banners is now hers).

For rethinking how related content appears, I can think of a few things.

[2017-10-26 06:33] ViditChitkara commented on #1717
@sagarpreet-chadha are you working on it?
If not, shall I try it?

[2017-10-26 09:56] sagarpreet-chadha commented on #1717
@ViditChitkara...no i am not working on this issue :)

[2017-10-26 10:02] ViditChitkara commented on #1717
Ok, I'll fix it. Thanks for the update @sagarpreet-chadha

[2017-10-26 13:25] ryzokuken commented on #1722
@sagarpreet-chadha This is awesome! May I suggest using more descriptive names instead? For instance, instead of using `#myInput`, perhaps we could use `#input-tags`?

@jywarren wdyt?

[2017-10-26 13:31] ryzokuken opened #1729 "Setup linting in the project"
A lot of the code in the plots2 codebase doesn't exactly conform to a specific set of design guidelines and therefore might be difficult to read and comprehend. Also, because a chunk of the code is unlinted, it opens it up to things like trailing whitespaces which more often than not leads to noise in new PRs when smarter text editors try to auto remove them. I personally believe a good linting se

[2017-10-26 13:45] ryzokuken commented on #1716
@jywarren Added a few things to the checklist. Let's decide over chat what to refactor `panel`s, `thumbnail`s and `well`s into.

[2017-10-26 13:48] ebarry opened #1730 "Pictures in email subscription content are linked to error page"
### What happened just before the problem occurred

I opened an email from do-not reply@publiclab.org. Emails like this are generated by subscriptions to content on publiclab.org. When i clicked on an image in the body of the email, it went to an error page.
This is a bug.

<img width="785" alt="screen shot 2017-10-26 at 9 40 18 am" src="https://user-images.githubusercontent.com/161439/32056159-ec

[2017-10-26 16:41] sagarpreet-chadha commented on #1705
@jywarren sir...can i try this ?

[2017-10-26 17:26] ViditChitkara commented on #1730
@ebarry The problem might be due to an extra "https: " in the bad link.

[2017-10-26 17:46] jywarren commented on #1716
I think the converter above has recommendations on that! wells become
cards, panels too, and thumbnails, they may convert to the new media type,
for < 480px screens?

On Thu, Oct 26, 2017 at 9:45 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-10-26 18:18] #1717 closed

[2017-10-26 18:39] jywarren commented on #1729
I love it! The one thing I'd like to request is that we tweak the actual
text that the linting offers to new contributors, to be extra friendly.
Sometimes such systems will be like "FORMATTING WRONG, FIX IT TO GET
ACCEPTED" (exaggeration of course) and we want something more like:

"Hi! One thing we try to do is format our code consistently and cleanly, so
it's very readable, especially for newcom

[2017-10-26 18:46] jywarren commented on #1705
Thanks @sagarpreet-chadha but I think this needs a bit more information first. @ebarry have you found that you can't achieve this effect by adding both `style:presentation` and `style:fancy` at the same time?

And If that gets partway there but still lacks something, can you narrow down this issue to just what's missing? Thanks!!!

[2017-10-26 18:55] jywarren commented on #1730
Indeed -- the link starts with `https:https:` -- great catch, Vidit!

The template is wrong on this line:
https://github.com/publiclab/plots2/blob/master/app/views/subscription_mailer/notify_node_creation.html.erb#L13

I'll make a FTO issue for this!

On Thu, Oct 26, 2017 at 1:26 PM, Vidit <notifications@github.com> wrote:

[2017-10-26 19:24] first-timers[bot] opened #1732 "Update notify_node_creation.html.erb to fix email image links"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-10-26 20:58] Parmen-C commented on #1732
What do I need to do to claim this issue?

[2017-10-26 21:00] jywarren commented on #1732
Just leaving a comment here is enough -- we'd love your help!

On Thu, Oct 26, 2017 at 4:58 PM, Parmen-C <notifications@github.com> wrote:

[2017-10-27 02:41] ianroberts131 opened #1734 "Move donate button next to join button"
This was brought up while working through #1710, but split into a separate issue due to additional complexities.

Currently, the 'Donate' and 'Store' buttons are hidden once the screen size gets too small. In addition to moving the 'Donate' button over to the right of the 'Join' button, make it responsive so that it doesn't simply hide on smaller windows, but rather moves with the 'Join' button in

[2017-10-27 02:48] first-timers[bot] opened #1735 "Hide sidebar on wiki pages with "sidebar:none" tag"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-10-27 02:49] jywarren commented on #1706
I've introduced a `first-timers-only` issue for overriding tag that completely omits the sidebar, although I'm not sure if it leaves an empty space or moves the main content column over: #1735

[2017-10-27 03:55] ViditChitkara commented on #1732
@jywarren may a I give it a go?

[2017-10-27 13:05] ebarry opened #1736 "apply same button treatment to all tabs on tag pages"
hello everyone!

I noticed that this page https://publiclab.org/tag/pesticides has a very nice display of buttons for "Follow [topic]" "Ask a question about [topic]" and "Subscribe to answer questions on [topic]" that is consistent across most tabs (`Research Notes`, `Questions`, `Wiki pages`, `Maps` ):

<img width="636" alt="screen shot 2017-10-27 at 8 59 37 am" src="https://user-images.githubuse

[2017-10-27 13:25] apgordon commented on #1735
First timer here, claiming this one. I'll give a shout if I hit any snags -- thanks!

[2017-10-27 14:17] apgordon commented on #1735
Hit a snag. I'm trying to run _rake test:all_ before I submit my pull request, but I keep getting errors that I'm missing gems, even after I ran _bundle install_. What am I doing wrong?

[code]

[2017-10-27 14:24] jywarren commented on #1736
Hi, liz - I'm not sure exactly what it is you're seeing differently -- is
it the styling of the `RSS` & `Follow pesticides` buttons on the page:
https://publiclab.org/contributors/pesticides ?

Or do you mean that the tab leading to a separate page is unexpected,
versus the expectation of seeing a tab open in the same tab pane without
reloading the page?

Sorry to not immediately get what you're r

[2017-10-27 14:31] jywarren commented on #1735
Hmm, i haven't seen that before -- interesting. This line stands out to me:

`MSYS2 could not be found. Please run 'ridk install'
or download and install MSYS2 manually from https://msys2.github.io/`

Have you tried doing that and running bundle install again? There seems to be some guidance on this here, as well:

https://stackoverflow.com/questions/46433484/how-do-i-use-the-correct-version-of-ru

[2017-10-27 14:32] jywarren commented on #1735
And another thing you could do if you're interested is to use GitHub's online editor! I use it myself a good bit -- just click the pencil icon here: https://github.com/publiclab/plots2/blob/master/show.html.erb

[2017-10-27 14:32] jywarren commented on #1735
Thanks for tackling this! 🎉

[2017-10-27 14:50] icarito commented on #1641
So in order to continue diagnosing this:
 - We have a number of log analysis on `tycho:/srv/analyzer/`
 - I'm going to track down logs for the week Sept 11th - 18th which is _before_ the performance regression to compare.

[2017-10-27 15:21] ebarry commented on #1706
Quick update, I have emailed Margie to ask her.

[2017-10-27 16:15] apgordon commented on #1735
@jywarren Hmm. Thanks for the ideas. I'll play with rvm later. For now, can I submit my pull request without running that 'rake test:all' command? I wouldn't do that if I just edited using the online editor, anyway. I think I've got the change done correctly, and I have it on its own branch the ticket mentioned.

[2017-10-27 16:16] jywarren commented on #1641
Cached the activity feed query here: https://github.com/publiclab/plots2/pull/1738

[2017-10-27 17:17] #1732 closed

[2017-10-27 17:18] jywarren commented on #1732
Hi, @Parmen-C -- this was just solved in #1737-- but there are more issues available here - we'd love your help!

https://publiclab.github.io/community-toolbox/

[2017-10-27 17:18] jywarren commented on #1730
This was just solved in #1737 -- thanks @ViditChitkara !

[2017-10-27 17:18] #1730 closed

[2017-10-27 17:21] jywarren commented on #1735
Yes, our Travis service will run tests on your work and report back with the results if you open a pull request. Thanks!

[2017-10-27 17:38] ebarry commented on #1730
Thanks @ViditChitkara! Great sleuthing.

On Friday, October 27, 2017, Jeffrey Warren <notifications@github.com>
wrote:

--
--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

[2017-10-27 18:52] sagarpreet-chadha opened #1740 "Confusion in icons of answers and comments in publiclab.org/questions"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2017-10-27 19:23] BrandonShega commented on #1722
I'd like to take on this issue.

[2017-10-27 19:28] jywarren commented on #1740
Looks great! I've marked it as a `first-timers-only` issue and let's keep an ear out for people asking to work on it! Thanks!

[2017-10-27 19:40] ViditChitkara commented on #1730
@ebarry , @jywarren  thanks for your help.

[2017-10-27 19:42] mbrien12 commented on #1740
Hello! Please could I claim this issue? 🖐 I can take a look this evening!

[2017-10-27 19:53] sagarpreet-chadha commented on #1740
Yes @mbrien12...you may work on it ! Thank you !

[2017-10-27 19:53] jywarren commented on #1722
That would be great! we're happy to help!

On Fri, Oct 27, 2017 at 3:23 PM, Brandon Shega <notifications@github.com>
wrote:

[2017-10-27 20:02] BrandonShega commented on #1722
I do have an issue, I followed the instructions on the readme and did everything except for the solr part where it says (optional, not recommended).  When I do `bundle exec rake tests` I get a whole bunch of errors relating to solr.  I'm not sure if you can see them here but here is a link to my c9: [https://ide.c9.io/brandonshega/plots2](https://ide.c9.io/brandonshega/plots2)

[2017-10-27 21:03] first-timers[bot] opened #1741 "Add `insert_extras()` and inline tags to answers"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-10-28 00:13] palewing commented on #1741
Hi, I'd like to work on this issue!

[2017-10-28 00:25] mbrien12 commented on #1740
Hi @sagarpreet-chadha I have been able to setup fine and have local-host running, but when I created a new branch to make the change in I get an error which I can't figure it out. When I go back to master, it runs again but I presume best to make change into a new branch?

Do you have any suggestions of what I can try? Here's the error...
[code]

[2017-10-28 00:46] mbrien12 commented on #1740
Resolved 👆 by re-installing Passenger in the branch, but getting an error when try and push.
I've tried...
`git push --set-upstream origin master`
`git push --set-upstream origin michelle/icons-tooltip-1740`
`git push origin master`

And get message...
```fatal: unable to access 'https://github.com/publiclab/plots2.git/': The requested URL returned error: 403```

How should I push it?

[2017-10-28 00:57] jywarren commented on #1741
Yes please! We're happy to help, too.

On Oct 27, 2017 8:13 PM, "palewing" <notifications@github.com> wrote:

[2017-10-28 11:50] jywarren commented on #1740
Ah, maybe remove origin? That's a reference to the main publiclab
repository, not your copy. But I'm not sure about the syntax for
michelle/... Is michelle how you've named your remote fork?

On Oct 27, 2017 8:46 PM, "Michelle Brien" <notifications@github.com> wrote:

Resolved 👆 by re-installing Passenger in the branch, but getting an error
when try and push.
I've tried...
git push --set-upstream

[2017-10-28 12:27] namangupta01 opened #1744 "Reset password link is incorrect"
Hi.
When user try to reset his password his he gets the wrong link.

[2017-10-28 13:44] jywarren commented on #1722
Hmm, well the usual test command is `rake test` -- maybe adding the `s` made it try to run solr tests also? I /believe/ you should be able to just run `rake test` or `bundle exec rake test` and skip the solr tests. But tell us if that doesn't happen -- we may need to fix something!

Thanks for your help!!!

[2017-10-28 14:14] mbrien12 commented on #1740
I created a new branch from master called `michelle/icons-tooltip-1740`, made the change there and now trying to push the new branch up so can do a PR. Have tried removing origin and stack overflow suggestions on push commands but keep getting...
`remote: Permission to publiclab/plots2.git denied to mbrien12.`

Do I need specific permission?

Also are there any particular PR conventions I should f

[2017-10-28 17:24] sagarpreet-chadha commented on #882
@jywarren sir...may i try this issue ?

[2017-10-30 12:39] BrandonShega commented on #1722
I must be doing something wrong then, I ran that command as well (I think I was the whole time), but I'm still getting solr test failures:

[code]

[2017-10-30 22:15] #1741 closed

[2017-10-30 23:00] #1744 closed

[2017-10-30 23:23] namangupta01 opened #1746 "Mail catching gem"
It would be easy to check mails if we have something that can easily access the mails. One such gem is letter_opener it will open the mail in new tab in development mode. For example it would be easy to reset password in development mode as one new tab will open with the reset password link and many more.

[2017-10-31 02:20] apgordon commented on #1735
@jywarren - I think you can close this ticket.

[2017-10-31 17:37] jywarren commented on #1735
Indeed, thanks!!!

[2017-10-31 17:37] #1735 closed

[2017-10-31 19:07] jywarren commented on #882
Yes, I think so -- actually perhaps we need to more clearly state the purpose here, i think it's been taken a bit out of context.

Aha -- it's part of https://github.com/publiclab/plots2/issues/607 --

[2017-10-31 19:10] icarito commented on #1641
This is a short summary of our current performance story and how it has evolved over time. All graphs show request duration for a complete week.

In September we were in a very good position. Average response times were under 100ms with small peaks during nightly backups:

![image](https://user-images.githubusercontent.com/199755/32244042-4dad4316-be45-11e7-8890-d30b81ddc472.png)

Starting Sept. 1

[2017-10-31 19:12] icarito commented on #1641
[2017-10_analysis.zip](https://github.com/publiclab/plots2/files/1431972/2017-10_analysis.zip)
Here's the log analysis files for past days. I wasn't able to identify an obviously heavy query.

[2017-10-31 19:16] Arvisix commented on #1686
Can I assign this issue to myself?

[2017-10-31 19:19] jywarren commented on #1641
I wonder if these peaks are the queries actually running to generate the
cache, which could happen every 10m. We could slow that down to 20 or 30
minutes to test this?

On Tue, Oct 31, 2017 at 3:12 PM, Sebastian Silva <notifications@github.com>
wrote:

[2017-10-31 19:21] icarito commented on #1641
I think it would be worth it to try!

On 31/10/17 14:19, Jeffrey Warren wrote:

[2017-10-31 20:53] Gauravano commented on #1713
hi @jywarren, please comment on modified template
![issue2_prop1](https://user-images.githubusercontent.com/20878070/32248419-a7b64fcc-beab-11e7-9646-5b2528aa5f87.png)

[2017-10-31 20:55] pdhixenbaugh commented on #1713
Hey! Are you able to take a screenshot of what that would look on a phone?
(Maybe forward it to your phone)

On Oct 31, 2017 1:53 PM, "Gaurav Sachdeva" <notifications@github.com> wrote:

[2017-10-31 20:56] namangupta01 commented on #1713
@Gauravano Already done in pr #1747 and open in issue #1746

[2017-10-31 20:57] jywarren commented on #1641
Can you file a PR based on this?

https://github.com/publiclab/plots2/blob/master/app/controllers/home_controller.rb#L12

https://github.com/publiclab/plots2/blob/master/app/controllers/home_controller.rb#L40

These two lines can be tweaked for timing. Thanks!

Also - i'll be offline due to the Barnraising this friday, so if we could
skip this week's meeting that'd be great, sorry!

On Tue, Oct 31

[2017-10-31 21:00] namangupta01 commented on #1713
@pdhixenbaugh As far as i know this is only for the development mode, so no point to open this on mobile.

[2017-10-31 21:16] jywarren commented on #1686
Sure, I think so! Some of these are in content (not in the codebase itself, so, like images), so if you could simply upload an optimized image in this thread, we can add it. I think we are doing JS/CSS compression... would that be gzip based, @icarito ? And the render-blocking stuff, yes, we should address that.

Thank you!

[2017-11-01 06:30] Gauravano commented on #1713
Hey, @namangupta01 I think you are confusing this issue #1713  with other issue #1747 .This issue is about enhancing template of email sent to the user when someone answers his asked question and it has nothing to do with letter opener gem.I have used letter_opener gem just to show @pdhixenbaugh and @jywarren how new template will look and will remove it once we'll finalize a template.

[2017-11-01 12:12] Gauravano commented on #1713
@pdhixenbaugh as you asked for mobile view here it is

![screenshot_20171101-173145](https://user-images.githubusercontent.com/20878070/32274210-c1efd9fa-bf2b-11e7-92ff-0d23272852aa.png)

![screenshot_20171101-173220](https://user-images.githubusercontent.com/20878070/32274208-c17e825a-bf2b-11e7-8471-d640e808b6bc.png)

![screenshot_20171101-173225](https://user-images.githubusercontent.com/2087807

[2017-11-01 12:20] Gauravano commented on #1627
@jywarren is this issue resolved? According to me, above error is due to invalid email id  or due to id with different settings

[2017-11-01 14:55] margiecohen opened #1749 "Donate Button"
### Please describe the problem (or idea)

The new Donate and Store buttons are a great modification but the blue/purple tone of word Donate is hard to discern. A lighter and more contrasting color (for example, yellow) would make the word Donate stand out better.

### Please show us where to look

https://publiclab.org/

### What's your PublicLab.org username?

### Browser, version, and operating

[2017-11-01 18:55] jywarren commented on #1749
Hi Margie and thanks. I think a different shade of purple/blue could also
work. Perhaps the default Bootstrap blue shade, which we can look up.
This'll take some tests and we can upload some screenshots to discuss a new
color choice.

On Nov 1, 2017 10:55 AM, "margiecohen" <notifications@github.com> wrote:

[2017-11-01 22:12] icarito commented on #1641
I will! Have a great Barnraising!

On 31/10/17 15:57, Jeffrey Warren wrote:

[2017-11-01 22:26] ebarry opened #1751 "@usernames are not linked when they begin a bulleted line"
### Please describe the problem

In a research note, i noticed two usernames were not linked, and so i checked and indeed they are still active accounts

### Please show us where to look

https://publiclab.org/notes/Shannon/07-06-2016/public-lab-code-of-conduct
-- scroll down into the Refinements section, where neither /@klie/ nor /@kanarinka/ are linked

### What's your PublicLab.org username?

l

[2017-11-02 00:12] jywarren commented on #1751
Great catch! Can you add a sample text that's not working and someone
hopefully can write a test for it, and develop a fix?

Here's the line of code we use to find usernames starting with a @ -

https://github.com/publiclab/plots2/blob/master/config/initializers/constants.rb#L2

http://rubular.com is a great site for debugging regular expressions like
this.

On Nov 1, 2017 5:26 PM, "Liz Barry" <no

[2017-11-02 00:52] ebarry commented on #1751
Ah -- left out the important observation, that this is happening after an `asterisk space` combo to make a bullet:

Sample text:

* @kanarinka
* @klie

[2017-11-02 02:19] ianroberts131 commented on #1749
@jywarren I'm happy to take this on once we wrap up #1748

[2017-11-02 13:21] #1722 closed

[2017-11-03 02:22] ianroberts131 commented on #1570
I'm taking a look at this now - will let you know if I figure out a way around this

[2017-11-03 02:41] ianroberts131 commented on #1570
So it looks like there is a way to have Rails raise an error if there is a failed delivery with the following:

`config.action_mailer-raise_delivery_errors = true`

Then, maybe we can write a function that rescues and skips the mailer if there is a delivery failure? Something like this:

[code]

Then, we can write the code as follows:

[code]

I'm admittedly not very familiar with exception handli

[2017-11-03 02:57] icarito commented on #1641
I've merged https://github.com/publiclab/plots2/pull/1755 and deployed it. Set chache timeout to 30m. Let's hope this reduces the load!

[2017-11-04 14:00] jywarren opened #1757 "make listing of "activities" default to wiki slug"
More details coming!

https://publiclab.org/methods

[2017-11-04 19:50] ViditChitkara opened #1758 "Add image extension validation when creating or updating a research note"
![plots2-bug1](https://user-images.githubusercontent.com/22616017/32408784-d2486556-c1c4-11e7-8b0f-38533bca7664.png)
I tried to upload an xlsx file in the file tag and it had no extension type validation, which resulted in a distorted **research note** as shown in the screenshot.
Therefore,while creating or updating a research note, we should validate the image types (jpg,jpeg,png,etc.)

[2017-11-06 05:13] sagarpreet-chadha commented on #1716
@jywarren sir can i start working on this ?
 Also is there any existing branch or should i make a new one ?
Thank You .

[2017-11-06 05:37] ViditChitkara commented on #1729
@ryzokuken , @jywarren are we going to use any linting gem like robocup or something??
Also could you please give me a bit more info about formatting the code, so that I could start working on it

[2017-11-06 06:35] ryzokuken commented on #1729
@viditchitkara take a look at https://github.com/publiclab/plots2/pull/1733. Perhaps we will merge this and then make separate issues for linting each file. Basically, we're planning on solving these issues one file at a time. Let us know if you had anything else in mind.

[2017-11-06 06:37] ryzokuken commented on #1716
@sagarpreet-chadha sure! If there isn't a branch yet, let me know. I'll have one made.

[2017-11-06 06:41] ViditChitkara commented on #1729
Oops I guess I didn't see the PR😅😅

[2017-11-06 06:44] ViditChitkara commented on #1716
@ryzokuken I guess there are so many check boxes which indeed needs a lot of refractoring so can I also contribute to it? @sagarpreet-chadha if you are fine with it?

[2017-11-06 06:45] ViditChitkara commented on #1716
@ryzokuken there isn't any branch named bootstrap-4. If you have made some changes related to this, could you please push them ?

[2017-11-06 06:45] ryzokuken commented on #1716
Sure. This will need a lot of people's efforts.

On Mon 6 Nov, 2017, 12:14 PM Vidit, <notifications@github.com> wrote:

[2017-11-06 18:40] ryzokuken opened #1760 "Chatbox should be closed when clicking outside"
When you open a chat window, you can dismiss the window by re-clicking on the button. The user should be able to dismiss the window by clicking anywhere else on the screen.

[2017-11-06 19:26] sagarpreet-chadha commented on #1760
@ryzokuken...can i work on it ?

[2017-11-06 21:20] ebarry opened #1761 "subscription to tag=everything should also include Answers"
Hi everyone!
### Please describe the problem (or idea)

I am subscribed to "everything" on the Public Lab website, and i've just noticed that i do not get notifications when "answers" are submitted. Can this be added to subscriptions?

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

[2017-11-07 01:57] skilfullycurled commented on #1686
In relaying (what I thought was) a funny story to @ebarry regarding the site, I happened to mention that the site took a *very* long time to load (front page, not logged in).  She pointed me to this issue and thought it might be helpful if I mention the specifics:  it was with Safari (I can find out the version if that would be useful) and we were trying to access the site around 4:00pm.  If it wo

[2017-11-07 02:40] jywarren commented on #1686
Thanks, 4pm Eastern, and can you tell us what day? Is a long time more than
10 seconds, or more like 30 seconds? Thanks for your work to move this
forward, @skilfullycurled!

On Nov 6, 2017 7:57 PM, "skilfullycurled" <notifications@github.com> wrote:

In relaying (what I thought was) a funny story to @ebarry
<https://github.com/ebarry> regarding the site, I happened to mention that
the site took a

[2017-11-07 03:20] skilfullycurled commented on #1686
OMG.  Duh.  Sorry.  It was today (Monday, Nov. 6, 2017).

Browser load times have a way of making it seem as though a second is a year.  While I do not recall the exact amount of time, it was long enough that we thought to interrupt the loading process (e.g. click "x" in the URL bar), tried reloading the page, and even toggled the wifi on and off.  When we interrupted the process, the page display

[2017-11-07 04:58] sagarpreet-chadha commented on #1761
@jywarren sir...can i work on it ?

[2017-11-07 05:02] jywarren commented on #1761
Yes please!!

Here's the code for notifying for new answers.

https://github.com/publiclab/plots2/blob/master/app/models/answer.rb#L36

Compare to similar code for notes in models/node.rb

In that one, "everything' followers are notified.

Thanks!!

On Nov 6, 2017 10:58 PM, "Sagarpreet Chadha" <notifications@github.com>
wrote:

[2017-11-08 06:15] icarito commented on #1686
![image](https://user-images.githubusercontent.com/199755/32533564-5700c264-c41f-11e7-9836-b999c95f1dc4.png)

Hi, I think your experience aligns with one of those moments of peak load that the site has been experiencing for the past month and a half (since Sept 19th). For the long, detailed story, there's lots of info at #1641.

This is telling us that the performance degradation is affecting user

[2017-11-08 06:48] icarito commented on #1641
Here's the top query by sum, from the period affected by Monday's peak reported at #1686.

Query time - by sum | Hits | Sum | Mean | StdDev | Min | Max | 95 %tile
-- | -- | -- | -- | -- | -- | -- | --
publiclab@172.18.0.1: SELECT rusers.* FROM rusers WHERE rusers.persistence_token = :string LIMIT :int | 126 | 12m59s | 6.18s | 1.53s | 5.01s | 17.21s | 5.06s-11.14s
publiclab@172.18.0.1: SELECT users

[2017-11-08 06:49] icarito commented on #1641
[Nov06.zip](https://github.com/publiclab/plots2/files/1452831/Nov06.zip)

Here's the analysis for rails logs and full mysql-slow logs analysis if they shed some more light.

[2017-11-08 06:53] icarito commented on #1641
Adding an index to `persistence_token` will help.

[2017-11-08 21:32] SidharthBansal commented on #1751
I think FINDER = /(^|\s)\@([\w-]+)/ should be replaced by FINDER = /[\u2022,\u2023,\u25E6,\u2043,\u2219]?(^|\s)\@([\w-]+)/  as bullet can be of five types
    Bullet (•)
    Triangular Bullet (‣)
    White Bullet (◦)
    Hyphen Bullet (⁃)
    Bullet Operator (∙)
So, I have used 5 regex coding with it.
I have made a pull request #1764

[2017-11-09 13:56] icarito commented on #1641
I think users are having performance issues. We have two options to restore performance. Either:
  1.  We roll back to plots2 version 2017-09-18, before the performance issues began.
  2.  We migrate to a larger server.

I can do (2) as early as tonight or schedule it for the weekend during lower traffic hours.
@jywarren I think doing it would be a good idea. I think we can consolidate a couple of

[2017-11-09 13:58] icarito commented on #1641
This week's response times:
![image](https://user-images.githubusercontent.com/199755/32608970-0798e4b4-c52c-11e7-83e1-e05ed4f65427.png)
While baseline is better, peaks seem worse, subjectively.

[2017-11-09 15:59] jywarren commented on #1641
I think there's a way to "flex" the server to higher capacity in Rackspaces
control panel but it says it may incur downtime. We could try overnight?

On Nov 9, 2017 7:58 AM, "Sebastian Silva" <notifications@github.com> wrote:

[2017-11-09 16:46] ebarry commented on #1686
Excited that people are working on this! @jywarren and I checked load time on the front page earlier this week and got the result of 6.4 seconds of waiting:

<img width="1275" alt="screen shot 2017-11-09 at 11 43 07 am" src="https://user-images.githubusercontent.com/161439/32617641-7abbb4c8-c543-11e7-8849-ed342b9176d7.png">

[2017-11-09 20:06] icarito commented on #1641
Thanks, I did see that option that comes with the warning: **"Warning: Resizing will take the server offline for minutes or hours depending on server size. Afterwards, you'll have 24 hours to revert the resize if there are problems."**. This did sound a little bit opaque, and the next option to "resize" is actually doubling the cost (but it should fall within range of sponsored hosting).
Thinking

[2017-11-09 22:34] SidharthBansal commented on #1751
Sorry, I checked it but it should be /(^|\s)?@([\w-]+)/
This is my first time.
It is working
![image](https://user-images.githubusercontent.com/20972099/32632938-8642e400-c5cb-11e7-9001-f870fde3a927.png)
I have made a pull request #1765. Tell me if I am wrong anywhere.

[2017-11-09 22:40] jywarren commented on #1751
Awesome! I'll be going through new submissions tomorrow morning; sorry have
been a bit behind with an event we were running! Thanks so much for your
contribution!

On Thu, Nov 9, 2017 at 5:34 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2017-11-10 02:09] icarito commented on #1686
Thanks for the info @ebarry! A quick website is key to user engagement.

[2017-11-10 02:22] icarito commented on #1641
For reliability and user experience I think we should do the server upgrade. I'm up for the task tonight, I can give notice to the mailing lists in advance. I don't like the "minutes or hours" approach to systems upgrade nor having any downtime at all, but if midnight unscheduled maintenance in that time range is fine, then the direct Rackspace upgrade is the simplest as there would be no messing

[2017-11-10 02:24] icarito commented on #1641
@jywarren clarifying, I can do the upgrade completely without your assistance, if doing the Rackspace resize route. A new server would have a different IP and we would need to change DNS records.

[2017-11-10 02:51] jywarren commented on #1641
Yes let's do this. Thank you Sebastian and do please send out a warning,
including to staff@.  Thanks!

On Nov 9, 2017 9:24 PM, "Sebastian Silva" <notifications@github.com> wrote:

[2017-11-10 02:55] icarito commented on #1641
Confirmed then. I'll post announcement with a couple of hours advance warning.

[2017-11-10 05:38] icarito commented on #1641
Resize in progress. Documentation doesn't give details: https://support.rackspace.com/how-to/managing-your-server-resizing-standard-and-general-purpose-servers/

I'll wait it out and confirm. Hopefully this will give us some room to breathe.

[2017-11-10 13:46] jywarren commented on #1641
Cool, are we still on for our meeting today? If you were up very late, I'm
sure you're exhausted. Any initial improvements noticeable?

On Nov 10, 2017 12:38 AM, "Sebastian Silva" <notifications@github.com>
wrote:

[2017-11-10 13:47] jywarren commented on #1641
Let's also add the persistence token index. Good idea.

[2017-11-10 14:18] icarito commented on #1641
Sure, I'm up for the meeting! I'll check graphs, only subjectively it
does feel snappier.

On 10/11/17 08:46, Jeffrey Warren wrote:

[2017-11-10 14:40] jywarren commented on #1641
Yes perhaps we should look at it if fills up again given time.

On Nov 10, 2017 9:23 AM, "Sebastian Silva" <notifications@github.com> wrote:

[2017-11-10 16:31] jywarren opened #1766 "6+ letter navbar searches take over 1 second longer than shorter searches"
We may be switching to Solr soon so that could end this issue, but once search terms get longer than 6 letters, speed goes from <500ms to 1500ms+

Just a note to selves to address this in the future. But @icarito and I are working on it!

![screen shot 2017-11-10 at 11 28 05 am](https://user-images.githubusercontent.com/24359/32668082-99a58f22-c60a-11e7-9174-980e0d2f9b27.png)

[2017-11-10 16:38] #1702 closed

[2017-11-10 16:43] jywarren commented on #1686
We are now getting (in Providence, whereas @ebarry's screenshot is from New Orleans) ~3s time to first byte, rather than 6.

![screen shot 2017-11-10 at 11 42 38 am](https://user-images.githubusercontent.com/24359/32668697-4d17baf2-c60c-11e7-9876-90d37e9c3eaa.png)

[2017-11-10 16:46] icarito commented on #1604
Currently we have a workaround to make staging work better, which is to disable Solr. By merging #1537 this workaround will be by default. The Solr issues can be managed by disabling while we work on the general performance issues.

[2017-11-10 17:00] jywarren commented on #1641
Overall progress on CPU load for past few months -- pretty interesting:

![screen shot 2017-11-10 at 11 54 32 am](https://user-images.githubusercontent.com/24359/32669504-c659ab94-c60e-11e7-8a2a-64101ef5a8ed.png)

The big change on ~ Aug 28 was an index on `rusers.status` -- huuuuuge boost.

Just made optimization for `persistence_token` (added index) - #1767.

[2017-11-10 17:14] jywarren commented on #1686
On the front page, which is the original question here (not the dashboard) -- there are 2-3 images that are 700kb+ that we should probably figure out how to load slower. We currently use a carousel that loads them all at once.

Could we not pre-load them all? Could we just show one and not rotate? Opinions?

[2017-11-10 18:32] jywarren commented on #1713
Hi! Responding in the PR. Thanks everybody!!!

[2017-11-10 18:58] pdhixenbaugh commented on #1713
This looks awesome! The only other thought I have is - could the bracket
prefix be shortened to [PLab] to allow more characters in the preview, but
maybe not :)

On Nov 10, 2017 10:32 AM, "Jeffrey Warren" <notifications@github.com> wrote:

[2017-11-10 23:20] tyricec commented on #1676
Hi, I'm interested in taking this on. Will look at it now.

[2017-11-11 00:04] icarito commented on #1604
Sorry I was confused. #1537 doesn't disable Solr for production. Currently we *do* have Solr off in production. We'll enable it when we merge #1537.

[2017-11-12 20:03] jywarren opened #1769 "Error on adding tag related to tag subscriber email notification"
https://github.com/publiclab/plots2/blob/348334366f6ccf499a80498e5e06667417f8d764/app/mailers/subscription_mailer.rb#L44

[code]

[2017-11-12 20:08] jywarren commented on #1769
This seems to have been due to someone editing their email address manually to something that did not have a domain name -- https://publiclab.org/profile/Tufts_Jumbo to `Tufts_Jumbo` -- don't we validate on profile edit?

[2017-11-12 20:36] jywarren commented on #1769
OK, writing tests for this.

[2017-11-12 20:37] Gabi-Enterprises opened #1770 "Email address not recognised when registering"
Hi - I'm having a problem registering my email address for a new account.

I went to the register page - https://publiclab.org/register, filled in the information and received this error message "Email should look like an email address." I am using a .today domain name for my email address which I believe might be the problem.

Chrome, Version 61.0.3163.100, Mac OS. Also the same result on Chromiu

[2017-11-12 21:57] jywarren commented on #1770
Hi, Gabi! Thanks, this is really helpful. We should add a test for this and see if we can reproduce it. I'm actually having some trouble finding where we check email format, but don't worry, we'll get to the bottom of this!

[2017-11-12 22:23] jywarren commented on #1770
working on this in https://github.com/publiclab/plots2/pull/1771 !!!

[2017-11-12 22:23] jywarren commented on #1769
working on this in https://github.com/publiclab/plots2/pull/1771 !!!

[2017-11-13 13:51] Gauravano commented on #1760
hey @ryzokuken I like to work on this issue

[2017-11-14 00:38] mbrien12 commented on #1740
I have been looking at this again tonight but still no luck.

To summarise steps taken:
1. Setup machine as per readme steps
2. Made change in new local branch called "michelle/icons-tooltip-1740"
3. Then keep getting the same error when I try and push this branch to the repo in order to do a PR. Following syntax of `git push <remotename> <branchname>` as recommended here https://help.github.com/a

[2017-11-14 01:48] jywarren commented on #1746
This is a great idea!! Thank you!!!

[2017-11-14 01:53] #1676 closed

[2017-11-14 01:54] jywarren commented on #1676
This was solved by @tyricec and we should be able to publish the fix in the next few days! Thank you very much @tyricec!!! And to @Fastie for helping diagnose this.

[2017-11-14 01:55] #1769 closed

[2017-11-14 01:55] #1770 closed

[2017-11-14 01:57] jywarren commented on #1627
Hi, I wonder if it was related at all to https://github.com/publiclab/plots2/pull/1771 -- i'd like to try to reproduce this with a test, perhaps? We could deliberately introduce a bad email into a user account and try sending a notification to it...

[2017-11-14 02:01] jywarren commented on #1760
Hi! We'd love if either of you could jump in on this. Thanks!

On Mon, Nov 13, 2017 at 5:51 AM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2017-11-14 02:07] jywarren commented on #1740
Hi, @mbrien12 -- i'm so sorry for my slow response; we had an event two weeks ago and then I've been in meetings and travel since, so I'm just catching up now.

I believe the error is because you're pushing to @publiclab's branch, and not your own. If you push using:

`git push https://github.com/mbrien12/plots2 your-branch-name`

you'll open a new remote branch for yourself, then you can go to ht

[2017-11-14 02:07] jywarren commented on #1740
I think perhaps originally you may have cloned @publiclab's remote branch, where if you do this for another project, you might want to fork it first and then clone from your own remote branch. Make sense?

[2017-11-14 02:08] jywarren commented on #1740
There's also no "correct" process here and are multiple ways to approach branch and remote setup. But this is just how I usually do it so I hope that's helpful!

[2017-11-14 02:31] jywarren commented on #1570
Oh this looks interesting... but could we activate this all only on staging but not on production?

But i guess we are seeing a lot of errors due to unsent emails. I wonder if we should just log email sending errors but not display an error to the user? Or could we bump the error to the `flash` and display it but not return a 500 error? I wonder if we could instead of ignoring it, capture and disp

[2017-11-14 15:43] #1758 closed

[2017-11-14 16:40] #1746 closed

[2017-11-14 17:39] jywarren commented on #882
Hi, @rafael-acerqueira and @sagarpreet-chadha -- looks like this is now wrapped up; i just wanted to say thanks to you both for making this happen!

[2017-11-14 17:39] #882 closed

[2017-11-14 17:39] jywarren commented on #1621
Are we done with the store menu now? And maybe the About menu as well?

[2017-11-14 17:48] ebarry commented on #1419
This is a really great project that I really want to be able to use -- is there anything needed from me to be able to move this forward?

[2017-11-14 17:54] jywarren commented on #1419
If combining answers, comments and notes is a good starting point, we can bump this up and ask a new contributor to take it up.

[2017-11-14 17:55] jywarren commented on #1419
I think we can combine the original issue and my comment here: https://github.com/publiclab/plots2/issues/1419#issuecomment-301337333 and repost it as a first timer issue ! I'll mark it as a candidate

[2017-11-14 18:33] jywarren opened #1773 "Display redirected wiki page at top of /tag/____ pages if redirect exists"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-11-14 18:35] namangupta01 commented on #1773
can i work on it?

[2017-11-14 18:36] jywarren opened #1774 "add contributor_count method to Tag model"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-11-14 18:37] jywarren commented on #1419
Moving a cleaned-up version into a first-timers issue here: #1774

@ebarry - any outreach help with this appreciated! Thanks!

[2017-11-14 18:37] #1419 closed

[2017-11-14 18:38] ViditChitkara commented on #1774
Can I give it a go?

[2017-11-14 19:41] jywarren commented on #1774
Yes please! Thank you!

On Nov 14, 2017 10:38 AM, "Vidit" <notifications@github.com> wrote:

[2017-11-14 19:42] jywarren commented on #1773
That'd be great! Much appreciated!

On Nov 14, 2017 10:35 AM, "Naman Gupta" <notifications@github.com> wrote:

[2017-11-14 19:50] ebarry commented on #1774
Thanks @ViditChitkara ! Happy to give any support we can, we really appreciate your time thinking about this!

[2017-11-14 23:24] jywarren commented on #928
I'd like to propose a subset of this issue, where we make a way to select all nodes which:

1. are authored or coauthored by a given `user_id`
2. are tagged with `tagname` (for example `replication:1234`)

This can be used to list activities completed by a given user, so the format for calling it could be, perhaps:

`Node.tagged_nodes_by_author(tagname, user_id) # nodes by user with given tag`

Th

[2017-11-14 23:24] jywarren commented on #1111
I've been thinking on this and maybe we should just remove that menu for now! Is it really that important?

[2017-11-14 23:43] jywarren opened #1776 "Create a Node.tagged_nodes_by_author method"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting and code pointers, could be a great entry point for a new contributor.

If you're familiar enough with this code, please consider [reform

[2017-11-14 23:56] jywarren opened #1777 "Add "highlights" section to profile page"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-11-14 23:56] jywarren commented on #928
Made the above into #1777 -- just the basic version, no wildcards yet!

[2017-11-14 23:57] mbrien12 commented on #1740
Thanks for your help, I started again by forking it and I've now been able to to push properly and it let's me submit a PR. 🎉

However, have run into another problem now! After running the raker there are quite a few errors. I thought at first it was because the Gemfile had seemed to update some of the version, so reverted back and still have same errors. E.g.
![screen shot 2017-11-14 at 21 54 33]

[2017-11-15 00:00] jywarren commented on #1740
Yes, sorry for that -- we have a fix going in soon, but this is due to `config/sunspot.yml` having `disabled: false` set -- if you set it to `disabled: true` for tests, those errors will go away. Thank you!!!

[2017-11-15 00:04] mbrien12 commented on #1740
Ok PR here https://github.com/publiclab/plots2/pull/1778 let me know if any changes needed?

[2017-11-15 00:08] jywarren commented on #1740
fantastic -- we'll let the tests run and i'll check in soon! Thank you so
much!!!

On Tue, Nov 14, 2017 at 4:04 PM, Michelle Brien <notifications@github.com>
wrote:

[2017-11-15 00:11] jywarren commented on #511
Oops, I wanted to say this is completed and published! Thanks so much to those who helped make it happen!

[2017-11-15 00:11] #511 closed

[2017-11-15 00:12] jywarren commented on #829
That's exactly right!

[2017-11-15 00:13] jywarren commented on #1661
Marking this completed! Thanks!

[2017-11-15 00:13] #1661 closed

[2017-11-15 00:15] #1761 closed

[2017-11-15 03:45] Gauravano commented on #1777
Hey @jywarren , I like to work on this issue

[2017-11-15 05:16] jywarren commented on #1777
Please do! Thank you!!

On Nov 14, 2017 7:45 PM, "Gaurav Sachdeva" <notifications@github.com> wrote:

[2017-11-15 14:22] ebarry commented on #1736
Hi Jeff, it's the second condition you describe:

versus the expectation of seeing a tab open in the same tab pane without
reloading the page?

and i would add, loading in the same tab pane including the same header. Having the header change is visually confusing when navigating by tabs.

[2017-11-15 15:08] ebarry commented on #1502
Let's go back to basics on this issue :)
**What is the goal of visualizing tags?**

For me, visualizing tags is a way to visually depict associated tags, e.g. tags that appear together on the same content. For  great example, see the color-coded clusters in @skilfullycurled 's visualization above. Clustering tags are important because they visually connect the website's presentation of community a

[2017-11-15 15:52] SidharthBansal commented on #1776
May I take this issue?

[2017-11-15 15:55] jywarren commented on #1776
Yes please! That would be great, thank you!

[2017-11-16 01:35] jywarren opened #1779 "Add recently used tags (by current user) to the tagging menu"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-11-16 01:35] jywarren commented on #143
I'm going to adapt this into one where we display the most recently used tags by someone as options on the tags "cog" menu -- we can expand this out to suggested/related tags once we have the interface in place, as I think related tags may be something we can try via Solr?

Closing and opening #1779.

[2017-11-16 01:37] jywarren commented on #96
I'm going to close this now as we haven't used the older barnstar system for a while, but we can now add barnstar types if we like, so happy to open issues for that!

[2017-11-16 01:37] #96 closed

[2017-11-16 01:37] #143 closed

[2017-11-16 01:38] #647 closed

[2017-11-16 01:39] #672 closed

[2017-11-16 01:39] #879 closed

[2017-11-16 01:40] jywarren commented on #700
I believe this is the expected behavior! Closing, thank you!

[2017-11-16 01:40] #700 closed

[2017-11-16 02:52] jywarren commented on #1502
Cool, thanks Liz!

To try for one stab at a narrower feature towards this goal, what if tag pages (floating new name: *topic pages*...!?!) had a list of "Related topics", something like:

Where "related" means that (acknowledging that there are different ways to measure this, and that we want some "computationally efficient" way) these are the tags which most commonly appear on pages that already

[2017-11-16 02:54] jywarren commented on #1502
I cross-posted at https://publiclab.org/questions/tommystyles/10-20-2017/need-your-feedback-on-tag-pages -- what do you think about moving discussion over there until there are specific discrete coding steps (mini projects for code contributors) we can make?

[2017-11-16 16:36] ebarry commented on #1502
ok great! let's go over to that discussion and come back once we have
doable steps.

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Wed, Nov 15, 2017 at 9:54 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-11-16 18:11] Gauravano opened #1780 "Links in mailers are not active"
Hey, @jywarren @ebarry  while I was working on notify_author_question #1763. I found out that many links in different mailers are not active.For example :

Notify Answer Likers
![notify_likers](https://user-images.githubusercontent.com/20878070/32907617-a31de6dc-cb26-11e7-9e46-1c130ea0f75b.png)

Notify Answer Accept
![issue3](https://user-images.githubusercontent.com/20878070/32907679-e4944c1e-cb2

[2017-11-16 18:18] jywarren commented on #1780
I believe that most email clients will actually render those links
actively, and that we had hesitated to make <a href=''> style links for any
email clients that don't render HTML.

Thanks! The other fixes would be great!

On Thu, Nov 16, 2017 at 10:11 AM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2017-11-16 18:27] Gauravano commented on #1780
@jywarren actually all fixes are just to add <a href=""> tag addition only. So what you say should we add <a> tags to all present links or leave them as it is.

[2017-11-16 20:39] ebarry opened #1782 "co-authored content should be shown on co-author's profile"
This issue is a piece of https://github.com/publiclab/plots2/issues/761

### overview

The co-authorship feature is great, and just needs a little bit more tweaking to be AWESOME.

I suggest that co-authored notes should appear not only on the first author's profile, but also on the co-author's profile.

### Please show us where to look

This note is basically me writing about Benjamin Sugar's wor

[2017-11-16 22:40] #1654 closed

[2017-11-16 22:54] jywarren commented on #1782
I think the current answer for rejecting coauthorship would be just to remove the tag, though that may not be ideal. We could later discuss an email notification with a link to remove coauthorship credit if someone chooses. This could just remove the tag. But if it's all right with you, maybe open a separate issue from this one, since that's a whole other discussion and I think we could narrow dow

[2017-11-17 00:33] jywarren opened #1784 "Solr search performance issue with commit rate"
When deploying #1537 we found this error on many requests, and overall site slowdown:

[code]

Error explained here:
https://stackoverflow.com/questions/7512945/how-to-fix-exceeded-limit-of-maxwarmingsearchers

@icarito says:

Let's investigate this. That'd mean we update the index, but don't say commit?

Also note: we've manually disabled solr in `/config/sunspot.yml` for now on production until

[2017-11-17 01:26] ebarry commented on #1782
+1, all this sounds good!!

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Thu, Nov 16, 2017 at 5:54 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-11-17 12:59] sagarpreet-chadha commented on #1782
@jywarren sir , @ebarry mam...can i take this one ?

[2017-11-17 13:17] sagarpreet-chadha commented on #1782
<img width="1251" alt="screen shot 2017-11-17 at 6 43 17 pm" src="https://user-images.githubusercontent.com/14952645/32949066-735e0890-cbc7-11e7-9332-9f1676c2e2a2.png">
I was thinking of making a tab as shown in image . What do you think ?

[2017-11-17 18:02] ebarry commented on #1782
that looks great to me at least! What does @jywarren think?

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Fri, Nov 17, 2017 at 8:17 AM, Sagarpreet Chadha <notifications@github.com

[2017-11-17 18:06] ebarry opened #1785 "Feature request: Spam author banned, but their comment was not removed"
### Please describe the problem (or idea)

I noticed comment spam on this post: https://publiclab.org/questions/plam/03-31-2017/infragrammer-webgl-hsv-vs-standard-equations#a561

<img width="721" alt="screen shot 2017-11-17 at 1 04 08 pm" src="https://user-images.githubusercontent.com/161439/32961799-f899ff62-cb97-11e7-9d2b-b1a355e499e1.png">

And so, as a site moderator, i went to that profile ht

[2017-11-17 18:43] Diksha2008 commented on #1785
I would like to resolve this!

[2017-11-17 19:08] jywarren commented on #1785
This is a feature request - we haven't yet designed a system to moderate
comments or answers, because we don't yet have a "status" field for these.
Right now, comment deletion is manual.

This is important because banning a user should not delete their comments
-- that would be irrevocable.

We could model a "status" system on the node.status system in
/app/models/node.rb so that banning a user ch

[2017-11-17 20:13] jywarren commented on #1782
I like it too - but that row of tabs is starting to wrap. Could we remove the words "Barnstars" and "Comments" and rely on the icons for those, to make more space? And perhaps we could just say "Coauthored" for short?

This is a temporary space-making solution, as we'll be circling back to the profile page pretty soon to try to reorganize it for better information design, and this'll let us addres

[2017-11-18 06:10] sagarpreet-chadha opened #1788 "Emails received even if not answered to node"
### Please describe the problem (or idea)

I have got around 6 emails from PublicLab  .

<img width="1223" alt="screen shot 2017-11-18 at 11 27 06 am" src="https://user-images.githubusercontent.com/14952645/32977472-e79bf0dc-cc53-11e7-933d-7a2b107f0b33.png">

However i have no subscriptions from my account and also not given any answers to any node .
The emails states that i have given answer as s

[2017-11-19 22:34] bentonwong commented on #1779
Hi, is this issue still open to be claimed? If so, I would like to claim it and work on it.

[2017-11-20 04:53] sagarpreet-chadha commented on #1788
And again .
<img width="1234" alt="screen shot 2017-11-20 at 10 22 02 am" src="https://user-images.githubusercontent.com/14952645/33002850-bf748904-cddc-11e7-9496-0b7d40bbd143.png">

[2017-11-20 05:04] sagarpreet-chadha commented on #1788
I think it is due to the fact that in this model function **self.follower()** , we should be checking that **following = true** .
https://github.com/publiclab/plots2/blob/7d4c04a788fff9340a87d8109eec2f2a2d343ad0/app/models/tag.rb#L134
I think i was following 'everything' tag earlier and the database still contains my **user-id** with following = false . What do you think @jywarren sir ?
Thank You

[2017-11-20 16:05] jywarren commented on #1779
Oh, yes please, that would be great and we're happy to help!

On Sun, Nov 19, 2017 at 5:34 PM, Benton Wong <notifications@github.com>
wrote:

[2017-11-20 18:36] SidharthBansal commented on #1776
Should the function be -
def self.tagged_nodes_by_author(tagname, user_id)
	Node.where('term_data.name = ?', tagname)
	    .collect(&:user_id)
end
May I make a pull request?
Thanks

[2017-11-20 18:43] bentonwong commented on #1779
Awesome. I will take a crack at it!

[2017-11-20 23:02] #1751 closed

[2017-11-20 23:39] jywarren commented on #1776
I think you'll need: `.includes(:node_tag, :tag)` to be able to specify any attributes from the `term_data` table (which is accessed through the `tag` model in our app)

but also remember the method is named in a way that it should be expected to return nodes -- so, no need for `collect`ing the user_ids. Rather, we will need to specify another `where` filter to ensure the `node` has the specified

[2017-11-20 23:42] jywarren commented on #1780
Hi, I guess I think we may not have to -- have you signed up for emails on PublicLab.org and checked if any of these are not made into URLs? If that is an issue, I'd be happy to accept a PR -- but it may be worth checking first!

[2017-11-20 23:47] jywarren commented on #1788
yes! so, you had subscribed but then later unsubscribed? Indeed we should check `following == true`! Good catch.

[2017-11-20 23:47] jywarren commented on #1788
@steviepubliclab this may also be related to your issue! @sagarpreet-chadha found another aspect of this we may have overlooked!

[2017-11-21 00:08] bentonwong commented on #1779
Using the suggested query above as is throws an error: "ActiveRecord::StatementInvalid: SQLite3::SQLException: no such column: term_data.uid".

I tried querying NodeTags and it produced some better results:
[code]

Would this be a correct application or does the query still need to be joined with the Tag table?

[2017-11-21 00:39] jywarren commented on #1779
Aha, cool! Very nicely done. NodeTag actually has a helper for `.name` which makes this work, so and your code is much cleaner as a result! Great work! The join is then unnecessary!

[2017-11-21 01:15] bentonwong commented on #1779
Thanks. I implemented the changes.  However, when doing the final rake test:all, I am getting a bunch of errors, such as:

Error: test_should_get_dynamic(SearchesControllerTest): RSolr::Error::ConnectionRefused: Connection refused - {:da
ta=>"{\"delete\":[\"User 7\"]}", :headers=>{"Content-Type"=>"application/json"}, :method=>:post, :params=>{:wt=>:j
son}, :query=>"wt=json", :path=>"update", :uri=

[2017-11-21 01:33] jywarren commented on #1779
Hi, no worries, please open a pull request and we can take a look! To get
past these errors you can set disabled = true in config/sunspot.yml, which
we fixed in a recent change. Sorry it gave you trouble!

On Nov 20, 2017 8:16 PM, "Benton Wong" <notifications@github.com> wrote:

Thanks. I implemented the changes. However, when doing the final rake
test:all, I am getting a bunch of errors, such as:

[2017-11-21 06:14] Gauravano commented on #1780
As for now I have checked only in development by sending SMTP emails but haven't checked closely on PublicLab.org emails so I will check some emails there too and then update you on this issue, sir.

[2017-11-21 10:16] SidharthBansal commented on #1776
Thanks for the advice. I  have made a pull request.
I hope this works
Thanks

[2017-11-21 15:34] #1740 closed

[2017-11-21 16:21] sagarpreet-chadha opened #1793 "Refactoring coauthored notes query into a method in User.rb"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/). This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're e

[2017-11-21 16:30] sagarpreet-chadha commented on #1788
Yes @jywarren sir...i had earlier subscribed and then unsubscribed .
Thanks so much !

[2017-11-21 16:34] jywarren commented on #1793
Hi, awesome! I made some small tweaks to formatting and added some links directly to the code in places.

[2017-11-21 17:19] zhirschtritt commented on #1793
I'd like to take this on!

[2017-11-21 17:50] jywarren commented on #1793
:-) yes please!!!! Is that Zach!??! Hello!

On Tue, Nov 21, 2017 at 12:19 PM, zhirschtirtt <notifications@github.com>
wrote:

[2017-11-21 17:50] #1788 closed

[2017-11-21 17:54] zhirschtritt commented on #1793
This is he!

[2017-11-21 18:20] jywarren commented on #1784
Hi, @icarito -- any updates on this? Thank you and hope you're well!

[2017-11-21 18:31] #1779 closed

[2017-11-21 19:25] icarito commented on #1784
I've not yet tried to figure out when commits happen with Sunspot or how to batch them up or limit them. I'll explore this and update this issue once I can figure out / recommend a fix. Perhaps this is the same thing that is slowing down staging ( #1604 ).

[2017-11-21 20:11] jywarren opened #1795 "Unanswered questions listing is sorted incorrectly"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2017-11-21 21:08] jywarren commented on #1784
Thanks; yes, that could be, i think! Staging has solr enabled, right?

On Tue, Nov 21, 2017 at 2:25 PM, Sebastian Silva <notifications@github.com>
wrote:

[2017-11-21 21:38] icarito commented on #1784
Yes solr is enabled in staging, following `sunspot.yml` production entry
in stable branch.

On 21/11/17 16:08, Jeffrey Warren wrote:

[2017-11-22 15:29] icarito commented on #1784
I'm still trying to figure out how to tweak https://github.com/publiclab/plots2/blob/cf22ee7f002be15e8cf630e15da7687ff5a59a57/config/solr/solrconfig.xml correctly - Here's [the manual](http://archive.apache.org/dist/lucene/solr/ref-guide/apache-solr-ref-guide-5.3.pdf) for our version of Solr (5.3) which we chose to match the Sunspot Gem.

I'm not clear on what our commit strategy is so I'll try tw

[2017-11-22 15:31] icarito commented on #1784
From the manual:

  maxWarmingSearchers
This parameter sets the maximum number of searchers that may be warming up in the background at any given
time. Exceeding this limit will raise an error. For read-only slaves, a value of two is reasonable. Masters should
probably be set a little higher.
<maxWarmingSearchers>2</maxWarmingSearchers>

I'll try setting this to 4.

[2017-11-22 16:47] icarito commented on #1784
I just set maxWarmingSearchers to 4 and dropped / rebuilt the core. Now it's reindexing.

[2017-11-22 17:23] icarito commented on #1784
staging shows for homepage:
[code]

[2017-11-22 17:24] icarito commented on #1784
I'll add DEBUG flag to sunspot.yml.

[2017-11-22 18:29] jywarren opened #1797 "Add "Want to get updates for new blog posts? Click here to subscribe" notice to publiclab.org/blog"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-11-22 19:32] jywarren commented on #1784
It seems pretty fast, at least, faster than before? On staging.

On Wed, Nov 22, 2017 at 12:24 PM, Sebastian Silva <notifications@github.com>
wrote:

[2017-11-25 06:36] acioffi21 commented on #1797
Hello! I would like to claim this. Thank you!

[2017-11-25 14:40] SidharthBansal commented on #1795
May I take this issue?

[2017-11-26 16:37] jywarren commented on #1797
Yes please! We'd love to have your help.

On Sat, Nov 25, 2017 at 1:36 AM, acioffi21 <notifications@github.com> wrote:

[2017-11-26 16:37] jywarren commented on #1795
That'd be super. Thank you!!

On Sat, Nov 25, 2017 at 9:40 AM, Sidharth Bansal <notifications@github.com>
wrote:

[2017-11-26 16:59] jywarren commented on #1784
Could we run a lot of requests in a script to simulate high commit usage, then see if we hit the limit?

[2017-11-26 17:21] SidharthBansal commented on #1795
I have added pull request #1800
Thanks

[2017-11-26 18:59] Gauravano commented on #1773
Hey, @namangupta01  are you working on this issue, otherwise, I would love to take a try on this.

[2017-11-27 03:41] jywarren opened #1801 "Add performance tests for leading pages, like / and /dashboard"
https://github.com/publiclab/plots2/blob/8e6ec5a29a7ebb4c873cf5b953468addc1df6547/test/performance/browsing_test.rb#L10

This is documented at https://rubygems.org/gems/rails-perftest (as of Rails 4, which we're moving to shortly)

@icarito - just a note!

[2017-11-27 15:44] ebarry opened #1802 "Planning issue to improve automated tweets sent by publiclab.org"
### Please describe the problem (or idea)

Currently, our website sends automated tweets for each new note that someone "stars".
This is good, but could be better. Let's discuss here.

For example, a research note such as, https://publiclab.org/notes/joaquinx/11-25-2017/solar-ballon-flight-trajectory-visualization ...

<img width="865" alt="screen shot 2017-11-27 at 10 37 54 am" src="https://user-

[2017-11-27 20:09] jywarren commented on #1318
This is almost complete in #1799

[2017-11-28 16:02] rishabhptr opened #1804 "Dropdown menu not working in /post"
**Please describe the problem (or idea)**

After clicking the share button from dashboard(after login) it redirects to https://publiclab.org/post where the dropdowns in navbar does'nt seem to work.
It is also not working in development.

![screenshot from 2017-11-28 21-18-12](https://user-images.githubusercontent.com/26951824/33329511-ba9a187a-d482-11e7-80b6-cebf46394d71.png)

**Please show us whe

[2017-11-28 16:39] ebarry opened #1805 "Rich Profile tagging: use powertags to connect a person's usernames form other platforms"
### Please describe the problem (or idea)

As mentioned in https://github.com/publiclab/plots2/issues/1802, automated tweeting from our website would be improved if people with PublicLab.org accounts could specify what their usernames on twitter are.

The ability to specify what your username on additional other platforms is as part of your PublicLab profile would help fill in the hard-to-track ga

[2017-11-28 17:12] jywarren commented on #1805
Hi, Liz - I'd recommend either changing this to:

1. `Profile tagging input design work for adding Twitter handle to PL profile` - a narrower case and a specific ask for design help in how this would be input OR
2. `Display Twitter link on profiles if profile tag "twitter:______" exists` -- leaving the input manual for the time being so we know what this will look like once an input interface is d

[2017-11-28 17:14] jywarren commented on #1804
Hi, this is waiting on this PR to be resolved, any help appreciated over
there: https://github.com/publiclab/plots2/pull/1663

It's actually related to an upstream library change, which is still
unresolved. Any help with that much appreciated!
https://github.com/publiclab/PublicLab.Editor/pull/110

On Tue, Nov 28, 2017 at 11:03 AM, Rishabh Singh <notifications@github.com>
wrote:

[2017-11-28 17:43] rishabhptr commented on #1804
Alright! :+1:

[2017-11-28 17:43] #1804 closed

[2017-11-28 17:55] ebarry commented on #1805
ok well #1802 is really the one about Twitter, perhaps we could change that title? This one is about making it possible to add lots of other platforms as well

[2017-11-28 18:05] jywarren commented on #1805
Oh, i think #1802 is too broad to be a discrete solvable issue; so converting this one into a narrow enough issue that someone can pick it up would be a good step forward. Otherwise I worry this is another planning issue, and there's some redundancy with #1802. Does that make sense?

If this is for repeating the Twitter-specific changes on other platforms, then we should probably make one for the

[2017-11-28 18:10] Gauravano commented on #1780
Hi @jywarren sir, you are right regarding this issue that most email clients do render those links and after observing some emails from PublicLab.org it's confirmed.So, I am closing this issue.

[2017-11-28 18:10] #1780 closed

[2017-11-28 18:11] jywarren commented on #1802
Adding a few items here;

* [ ] modify RSS feed that IFTTT.com uses to switch to Twitter handles `IF they exist AND there's a ?twitter=true` in the URL (that way we can use the same template for different platforms if needed) -- I think that code is here: https://github.com/publiclab/plots2/blob/master/app/views/notes/rss.rss.builder
* [ ] some better-designed input form for entering twitter handl

[2017-11-28 18:42] jywarren commented on #1780
OK, thanks for looking into it and for your attention to these important
details!

On Tue, Nov 28, 2017 at 1:10 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2017-11-29 11:18] sagarpreet-chadha commented on #1802
@jywarren sir...can i work on it .

For images i think our rss format is not right .
<img width="916" alt="screen shot 2017-11-29 at 4 40 36 pm" src="https://user-images.githubusercontent.com/14952645/33372487-3beabc08-d524-11e7-9b16-516bbdf07e29.png">
source: http://www.landofcode.com/rss-reference/image-tag.php

Our xml structure is currently :
We may have to add link , title and url sub tags .

[2017-11-29 12:37] sagarpreet-chadha commented on #1802
I was thinking of displaying the twitter (and other) social media platforms links if the power tag twitter:______ exists like this  :

<img width="1440" alt="screen shot 2017-11-29 at 5 36 08 pm" src="https://user-images.githubusercontent.com/14952645/33374445-3ec90c7e-d52c-11e7-9e37-e15d46684376.png">

OR like this :

<img width="1234" alt="screen shot 2017-11-29 at 6 04 32 pm" src="https://user-

[2017-11-29 14:41] jywarren commented on #1802
Looks good!

On Nov 29, 2017 7:38 AM, "Sagarpreet Chadha" <notifications@github.com>
wrote:

[2017-11-29 15:19] steviepubliclab opened #1807 "Edits not shown on questions until after a page refresh"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2017-11-29 15:51] jywarren commented on #1807
Hm, sorry, but do you think you could try the first process one more time,
but refresh the entire page first, then again after pressing publish? I
think this is related to the ability to edit and save without refreshing
the whole page, which is nice feature, but this test can help tell us if
that's the case. Thank you!

On Wed, Nov 29, 2017 at 10:19 AM, Stevie <notifications@github.com> wrote:

[2017-11-29 18:46] jywarren opened #1808 "Move translation helper from sidebar to an "alert" box at top of page"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2017-11-29 18:55] jywarren commented on #1777
This is complete! @Gauravano - when you open a PR, you can add the text `fixes #1234` and it'll auto-close the related issue. Great work on this, are you interested in another? Thanks!

[2017-11-29 18:55] #1777 closed

[2017-11-29 18:57] jywarren commented on #1773
@namangupta01 - if you have any code to start with, we're happy to take a look even if it's not done -- please open a PR and we can help troubleshoot!

[2017-11-29 18:57] jywarren commented on #1774
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2017-11-29 19:12] jywarren commented on #1777
Awesome! And no need to call me "sir" please -- just Jeff will be fine.
Thank you!

On Wed, Nov 29, 2017 at 2:10 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2017-11-29 19:13] ViditChitkara commented on #1774
Hi, actually I am a bit busy with my exams. I'll open a PR ASAP. Applologies for the delay!!

[2017-11-29 19:19] jywarren commented on #1774
no problem and good luck with your exams!

On Wed, Nov 29, 2017 at 2:13 PM, Vidit <notifications@github.com> wrote:

[2017-11-29 19:21] ViditChitkara commented on #1774
Thanks jeff, will surely do it ASAP.

[2017-11-29 20:34] first-timers[bot] opened #1809 "Update show.html.erb to center page content on pages with no sidebar"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'