[2017-11-29 23:49] tzhou3 commented on #1809
can i claim this issue? I don't have a lot of experience but would love to get more

[2017-11-30 00:33] kkavita92 commented on #1808
I can claim this!

[2017-11-30 00:47] jywarren commented on #1808
Yes please! That would be great. Thank you!

On Nov 29, 2017 7:33 PM, "Kavita Kalaichelvan" <notifications@github.com>
wrote:

[2017-11-30 00:48] jywarren commented on #1809
That would be great and we're happy to help!

[2017-11-30 07:06] sagarpreet-chadha commented on #1802
Thank you @jywarren sir !
So i should continue with which design ?

[2017-11-30 16:16] acioffi21 commented on #1797
Hi,
So I'm having a little trouble, kind of a dumb mistake. I accidentally cloned the actual repository instead of my fork to my Cloud9 Workspace, so I'm not really sure how to execute the pull request that way

[2017-11-30 16:26] jywarren commented on #1802
Sorry, was trying to get input from other team members but I think if you could move ahead with the second design, using Fontawesome icons (which we have installed) that'll be great! Thank you!

http://fontawesome.io/

[2017-11-30 16:39] jywarren commented on #1797
Hmm, well you should be able to push to your own fork with `git push
https://github.com/_your_username_/plots2 branch_name` -- hope that helps!

On Thu, Nov 30, 2017 at 11:16 AM, acioffi21 <notifications@github.com>
wrote:

[2017-11-30 16:51] namangupta01 commented on #1773
@Gauravano Yes i am working on this issue! @jywarren I will open the pr soon!

[2017-11-30 20:07] first-timers[bot] opened #1811 "Change text of "Replication" button to "I did this""
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-12-01 00:53] rishabhptr commented on #1811
Hi, can I work on this?

[2017-12-01 14:34] jywarren commented on #1811
Hi folks, it looks like two people started work on this, but https://github.com/publiclab/plots2/pull/1813 was closed -- no worries, there are plenty of issues to go around!

https://publiclab.github.io/community-toolbox/

[2017-12-01 14:34] jywarren commented on #1811
I'll check out #1811 now -- thanks everybody for your help!

[2017-12-01 14:34] #1811 closed

[2017-12-01 14:42] steviepubliclab commented on #1807
Hi there,
Sure. I was able to see the changes when I refreshed the page itself. Then I tried to edit it again (just put "test"at the end and hit publish). That time the page refreshed itself when I hit "accept" and I could see the edit. I hit edit one more time and deleted the word test but that time the page did not show that it accepted my edit when it refreshed itself, but when I hit refresh, i

[2017-12-01 16:46] jywarren commented on #1784
https://stackoverflow.com/questions/29522275/soft-commit-and-hard-commit-in-solr

https://blog.bigbinary.com/2012/10/11/solr-sunspot-websolr-delayed-job.html

[2017-12-01 18:16] jywarren commented on #1807
OK, awesome, this is super helpful. I think we're either:

1. seeing the browser cache the page and not refresh it until the whole
page is refreshed (browsers are getting more aggressive about caching these
days)
2. seeing a failure in the script that's supposed to update the page
/without/ needing a full-page refresh. That's here:

https://github.com/publiclab/plots2/blob/master/app/views/questio

[2017-12-01 18:20] jywarren commented on #1807
Actually, I'm having trouble finding anywhere that the new answer text is supposed to update the page. The code for this for comments (on answers) is here:

https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/question.js#L32-L37

I don't think there's any corresponding "on success" triggering when you save an edit...

An easy fix could just be to remove `data-remote:true` and le

[2017-12-01 23:33] first-timers[bot] opened #1821 "Expand comment entry field to multiple rows"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-12-02 00:20] jywarren commented on #1784
Working on this here: https://github.com/publiclab/plots2/pull/1819

[2017-12-03 06:46] haseebeqx commented on #1821
is this still available?

[2017-12-03 14:52] jywarren commented on #1821
Yes, and we'd love your help!

On Dec 3, 2017 1:46 AM, "Haseeb" <notifications@github.com> wrote:

[2017-12-03 19:22] haseebeqx commented on #1821
isn't https://github.com/publiclab/plots2/commit/9c06d7a7cf98660c47c6810afcbd695c9a5e767e a fix for this.
should this be little more bigger?

[2017-12-04 08:29] shanlter opened #1823 "Find profiles by real person's name"
### Please describe the problem (or idea)

I know some PL members' real name, but I don't know how to find their PL profile, and don't know how to @them...
For example I want to find "Katie Gradowski", I type the name in the searching box, no result. I type "Katie", 5 katies showed, I click their name to view their profile, but none of them is the Katie I want.

This is not only Katie, try "Jeff W

[2017-12-04 14:52] jywarren commented on #1823
Hi, this is a really good point. I can see two issues:

1. some people don't put their real name up -- Katie is actually one of them, although maybe it's an oversight? https://publiclab.org/profile/kgradow1/
2. we don't currently search user profile bios, but we could. Let's open an issue for that -- it'll have to wait until our big search upgrade, but it's definitely a good suggestion!

We could

[2017-12-04 14:54] jywarren opened #1824 "Make user profile bios searchable in new search system"
#1823 suggests this -- we'll have to wait until Solr search is enabled, but we could make the changes here:

https://github.com/publiclab/plots2/blob/master/app/models/user.rb#L16

They'd be similar to the lines in `node.rb`:

[code]

but for the field `bio`, not `body`.

Let's hold on this until the new Solr search system is running!

[2017-12-04 14:55] jywarren commented on #1823
I added an issue for 2) here: #1824 though it may be a bit before the new search system is online and we can take action. Thanks again!

[2017-12-04 17:45] jywarren opened #1825 "Get numerical hashes like #123 to link to notes, not generate tag links"
### Please describe the problem (or idea)

Right now, when you use a hashtag like `#sampling` on PublicLab.org, you get a link to the corresponding tag page, https://publiclab.org/tag/sampling.

If you use a number like `#123`, you likewise get linked to `../tag/123`.

But this would be a good opportunity to link that to the node with matching ID -- like, for example, https://publiclab.org/n/99 fo

[2017-12-04 23:29] jywarren commented on #1802
Solved adding to profile pages in #1816!

[2017-12-04 23:31] jywarren commented on #1805
Complete -- Solved adding to profile pages in #1816!

But we should still make a discrete issue for `a UI for inputting social media usernames into your profile` -- perhaps based on a JavaScript `prompt()`

[2017-12-04 23:31] #1805 closed

[2017-12-04 23:53] jywarren commented on #1821
Ah, sorry, yes this was solved in #1822 -- thanks! My bad! If you're looking for another project, check these out!

https://github.com/publiclab/plots2/labels/first-timers-only
https://github.com/publiclab/plots2/labels/fto-candidates

Thank you!

[2017-12-04 23:53] #1821 closed

[2017-12-05 02:32] shanlter commented on #1823
Thanks for your revise! It looks much clear now.
I put my real name into my bio, make it easier for further searching.
Not only searching bio. I think there are little problem with the username searching.
eg, try "Warren" in the searching box, several users recommend none if them is you; try "Liz", none user recommend result. If I ignore the recommend, just press search button, several research no

[2017-12-05 10:43] sagarpreet-chadha commented on #1825
@jywarren sir...can i take this ?

[2017-12-05 16:01] jywarren commented on #1825
yes please! this has been a goal for a long time and it'd be fantastic to
see it built out! :-)

On Tue, Dec 5, 2017 at 5:43 AM, Sagarpreet Chadha <notifications@github.com>
wrote:

[2017-12-06 14:36] Kevin-Kawai commented on #1490
@viren140290 hey are you still working on this? I would like to help if you would be down.

[2017-12-07 00:10] jywarren opened #1828 "Create new inline grid for wiki pages, with format [wikis:_tagname_]"
## New feature

Our inline power tags let us make grids for activities, like in https://publiclab.org/wiki/activities

Let's make a new one to display lists of wiki pages! It could have the syntax `[wikis:_tagname_]` where `_tagname_` is something like "balloon-mapping" -- so it would show wiki pages tagged with "balloon-mapping", as currently shown on these pages:

* https://publiclab.org/wiki/ta

[2017-12-07 00:13] jywarren commented on #811
One solution in #1828 -- a new `[wikis:_____]` inline powertag. Possible follow-up based on this could completely solve this with another new issue like:

`Create new inline grid for wiki pages, with format [nodes:_tagname_]`

Using almost exactly the same documentation as #1828! @ebarry

[2017-12-07 02:25] bellvat commented on #1801
Hi!
I was wondering if I can help out with performance testing? Or should this be worked on after you guys move to Rails 4?

If you would like to write the tests now, are the steps as follows?:
1. Add rails-perftest gem
2. Write test cases for controllers

Please let me know!
Monica

[2017-12-07 12:34] #1825 closed

[2017-12-07 13:06] Kevin-Kawai commented on #1490
@jywarren Hi, I was checking out this issue and I think I'm a little confused as to the details. Is this more of a "look into" type of issue at the current state?

[2017-12-07 14:14] Kevin-Kawai commented on #232
@jywarren Hi I've been looking around issues trying to find something I can take part in. Is this issue still live? I think I generally understand the task and what to do. If it's still something that needs to get done I'd be super excited to give it a go!

[2017-12-07 14:53] ekeast commented on #1824
Can I claim this? Or are you still waiting until the new Solr search system is running?

[2017-12-07 15:00] jywarren commented on #1490
I think so. I was receiving some emails from the site that were just an
image with no body text. I think we can assess this via testing, but it may
take some more looking into... thanks!

On Thu, Dec 7, 2017 at 8:06 AM, KevinKawai <notifications@github.com> wrote:

[2017-12-07 15:02] jywarren commented on #232
Yes, this would be great -- thank you, we'd love your help!

Take a look at the admin_controller to see the functions we have now. I
think this is a remix of password reset key and password gibberish-izing as
should be reflected in that controller -- thanks!!!

On Thu, Dec 7, 2017 at 9:14 AM, KevinKawai <notifications@github.com> wrote:

[2017-12-07 15:03] jywarren commented on #1824
Hi, the new Solr code is merged into our published code branch, but we are
still troubleshooting performance issues before enabling it on production.
However, I think this change can go forward and does not have to be coupled
to the performance issues! Thank you!

On Thu, Dec 7, 2017 at 9:53 AM, ekeast <notifications@github.com> wrote:

[2017-12-07 15:10] jywarren commented on #1801
We are now on Rails 4.1 and soon to move to 4.2 -- so I think we're ready for this! I think we'll have to "enable" performance tests in the Rakefile, and add that gem. You can probably start with the test that's already there!

Thank you, we'd love the help!

[2017-12-07 15:16] jywarren commented on #1823
The new search system is almost ready; it's just not activated as we're dealing with some performance issues. If you know anyone who does Ruby on Rails or Solr search work, we could use the help! #1784 describes the problem.

Also, a first-time contributor is also now working on #1824 to make the whole bio searchable! So thanks for helping articulate that improvement!

But yes, once Solr is runnin

[2017-12-07 15:17] jywarren commented on #1784
Pretty stuck here -- any ideas or anyone know someone really familiar with optimizing Solr?

[2017-12-07 15:17] jywarren commented on #1784
@ujithaperera maybe?

[2017-12-07 15:20] first-timers[bot] opened #1829 "Improve results of users search"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-12-07 15:22] jywarren commented on #1823
Great, I added an issue at #1829 to address this last suggestion too. Hopefully someone picks it up! If you can tweet it with #FirstTimersOnly people are likely to see it and someone may plug in. Thanks so much!

[2017-12-07 15:26] jywarren commented on #1808
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2017-12-07 15:28] #1782 closed

[2017-12-07 15:29] jywarren commented on #1749
Solved!

[2017-12-07 15:29] #1749 closed

[2017-12-07 15:29] jywarren commented on #1734
Solved! Thanks!

[2017-12-07 15:29] #1734 closed

[2017-12-07 15:30] jywarren commented on #1760
Solved! Thanks!!!!

[2017-12-07 15:30] #1760 closed

[2017-12-07 15:31] jywarren commented on #1716
Complete!!! Now to 4.2...

[2017-12-07 15:32] jywarren commented on #1716
Oops! Wrong one! I meant rails 4!

[2017-12-07 15:32] jywarren commented on #1705
I believe this is complete!

[2017-12-07 15:32] #1705 closed

[2017-12-07 15:34] jywarren commented on #1641
Closing!

[2017-12-07 15:34] #1641 closed

[2017-12-07 15:34] #1533 closed

[2017-12-07 15:35] jywarren commented on #1507
Complete!

[2017-12-07 15:35] #1507 closed

[2017-12-07 15:37] jywarren commented on #1318
Solved!

[2017-12-07 15:37] #1318 closed

[2017-12-07 15:38] #1053 closed

[2017-12-07 15:39] #832 closed

[2017-12-07 16:35] kkavita92 commented on #1829
I can jump in 👍

[2017-12-07 16:36] jywarren commented on #1829
That'd be great!!! Thanks and we're here to help!

On Dec 7, 2017 11:36 AM, "Kavita Kalaichelvan" <notifications@github.com>
wrote:

[2017-12-07 18:35] jywarren commented on #1829
Oops, i found a mistake and corrected it above! `uid DESC` should've been changed to `id DESC` for the User model. This is because of kind of silly old conventions which we're trying to get rid of in favor of a more standardized approach -- so, apologies! Out with `uid` and in with `id`!

Good luck and please reach out if you need pointers. Opening a pull request with your new code also lets us qu

[2017-12-07 19:48] #1793 closed

[2017-12-07 21:58] #1776 closed

[2017-12-07 22:09] jywarren opened #1833 "Expand Tag.tagged_nodes_by_author() method to accept "*" tagname wildcards"
This line shows the new method added by @SidharthBansal --

[code]
https://github.com/publiclab/plots2/blob/e72cb97ce12f81f68b5195c00e5fb6a22ee08f83/app/models/tag.rb#L227-L232

We want to be able to match "wildcard" tagnames like any tag starting with `activity:` -- often denoted with an asterisk (`*`) -- like in this query: https://publiclab.org/tag/activity:*

This isn't such a tough query -- t

[2017-12-07 23:44] bellvat commented on #1801
Hi Jeffrey,

Alright, I'll get started, and will let you know if any questions come up along the way.

[2017-12-08 00:55] Kevin-Kawai commented on #232
@jywarren alrighty sounds great! I'll take a crack at it over the weekend and let you know if I run into any trouble.

[2017-12-08 00:56] Kevin-Kawai commented on #1490
@jywarren alrighty great, I was just wondering because I was able to reproduce it immediately. I'll try a hand full of things to see if I can figure it out. I'll let you know if anything comes to light.

[2017-12-08 10:26] kkavita92 commented on #1829
Great. I'll work on it over the weekend and have a PR for you.

[2017-12-08 14:10] SidharthBansal commented on #1833
I will like to work on this

[2017-12-08 14:14] jywarren commented on #1833
Please! That'd be great and you understand the code already!

On Dec 8, 2017 9:11 AM, "Sidharth Bansal" <notifications@github.com> wrote:

[2017-12-08 14:16] jywarren commented on #1490
Ah, you were able to reproduce the error or the successful full email? If
the error, might you try writing a test for it? Thanks!!!

On Dec 7, 2017 7:57 PM, "KevinKawai" <notifications@github.com> wrote:

[2017-12-08 14:16] jywarren commented on #232
Super. Thanks!

On Dec 7, 2017 7:55 PM, "KevinKawai" <notifications@github.com> wrote:

[2017-12-08 14:17] jywarren commented on #1801
Super! Thanks!

On Dec 7, 2017 6:45 PM, "Monica Sirathanarun" <notifications@github.com>
wrote:

[2017-12-08 16:31] Kevin-Kawai commented on #1490
@jywarren Sorry I meant I wasn't able to recreate the error. But I was only able to spend a little time on it so I'll try some thing and get back to you if the email is an error.

[2017-12-08 16:36] Kevin-Kawai commented on #232
@jywarren Hey I was able to get some time to work on this issue and created a PR #1834. It's incomplete and still a work in progress. I had a bit of trouble with routes not working on my local machine so I had to change them but they are probably correct the way they are so I will change them back.

If you have the chance to look through this and tell me if I'm on the right track that would be gre

[2017-12-08 16:56] jywarren commented on #1801
OK, it looks like we'll have to uncomment this test, as I commented it out recently: https://github.com/publiclab/plots2/blob/master/test/performance/browsing_test.rb#L10

Then I guess we can add in this test as part of the Rakefile, as we do here: https://github.com/publiclab/plots2/blob/master/Rakefile#L16-L22

I think the syntax would be `task :run => ['test:_run']` ?

Note that if you want to

[2017-12-08 16:56] jywarren commented on #1801
Also maybe a good resource: http://railscasts.com/episodes/411-performance-testing?view=asciicast

[2017-12-08 16:57] jywarren commented on #1801
https://github.com/rails/rails-perftest

[2017-12-08 17:18] jywarren commented on #1802
Ah - let's also add Instagram -- based on the changes here, it should be pretty straightforward -- even a first-timers-only issue?

https://github.com/publiclab/plots2/pull/1816

[2017-12-08 17:52] jywarren commented on #1784
I found something interesting. On stable.publiclab.org this has been running fine without the error we saw on production. But I just tried posting a note at stable.publiclab.org/post, and that triggered the same 500 errors on all pages, with the same error we see at the top of this issue:

[code]

So we can now reproduce the error in staging! This is likely because it creates a commit. I think we

[2017-12-08 17:54] jywarren commented on #1784
Tried this in a PR at #1836

[2017-12-08 17:56] jywarren commented on #1784
BTW i'm disabling it on staging for now

[2017-12-08 18:12] jywarren commented on #1784
Oops i need to make a controller/functional test, not a unit test... changing...

[2017-12-08 18:21] jywarren opened #1839 "Adapt TagSelection to UserTag in profile social media features"
@sagarpreet-chadha -- sorry, I think these lines should be using UserTag, not TagSelection:

https://github.com/publiclab/plots2/blob/b46b40c6a68f40f1a883dcf506c1a41fb3096131/app/models/user.rb#L157-L164

My fault!

[2017-12-08 18:29] sagarpreet-chadha opened #1840 "Adding Instagram social media link to profile page"
This has been marked as a good candidate for becoming a first-timers-only issue like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting](https://publiclab.org/notes/warr

[2017-12-08 18:53] sagarpreet-chadha commented on #1839
Oh right...so sorry ! Working on it !
Thank You 👍

[2017-12-08 19:03] zhirschtritt commented on #1828
I'd like to do this one, but does seem quite big! @jywarren If you think this would be okay for me to take on I'll go at it.

[2017-12-08 20:22] bellvat commented on #1801
Hi Jeffrey,

Thank you!

[2017-12-08 20:26] jywarren commented on #1828
I'd say have a go at it! It has a lot of moving parts but if you're OK with
some back-and-forth as we figure it out, I'd love your help. Tnx!

On Fri, Dec 8, 2017 at 2:03 PM, zhirschtirtt <notifications@github.com>
wrote:

[2017-12-08 20:27] jywarren commented on #1490
That sounds great -- many thanks.

On Fri, Dec 8, 2017 at 11:31 AM, KevinKawai <notifications@github.com>
wrote:

[2017-12-08 21:52] jywarren commented on #1839
No problem at all, it was my fault too for not seeing this connection!
Thank you!!

On Dec 8, 2017 1:53 PM, "Sagarpreet Chadha" <notifications@github.com>
wrote:

[2017-12-08 22:38] jywarren opened #1846 "Develop integration tests for all routes based on provided sitemap list"
We recently  had some serious issues in the Rails 4 upgrade when our `config/routes.rb` file changed. I had forgotten, but although we have very thorough functional tests, these don't test our routes, because they bypass the URL routing.

So while all our controller methods worked, the URL routes to access them were messed up. Let's not do that again!

Integration tests test the routes. They're sl

[2017-12-08 23:02] jywarren opened #1848 "Make questions posting page visible when not logged-in, with friendly message"
### Please describe the problem (or idea)

When you click on "ask a question" on the site, but you're not logged in, you see an error page:

https://publiclab.org/questions/new?title=lalalala

We should show the page with a nice prompt to log in or create an account first. The template for this page is here:

https://github.com/publiclab/plots2/tree/master/app/views/editor/questionRich.html.erb

R

[2017-12-08 23:52] bellvat commented on #1801
Hi Jeffrey,

I have made changes to the following in a branch called 'performance-test' [https://github.com/bellvat/plots2/tree/performance-test](url) :
1. Added perftest gem
2. Added ruby prof gem
3. Uncommented code in browsing_test.rb, and changed syntax of line 9 to:
 `  test "browsers" do `, full code here [https://github.com/bellvat/plots2/blob/performance-test/test/performance/browsing_test

[2017-12-09 08:13] spclight commented on #1829
Hi, I'm new here.  Pulled the project but I'm running into a error when i try rake db:setup. Getting an error message:

rake aborted!
SystemStackError: stack level too deep
... plots2/config/environment.rb:5:in `<top (required)>'
... /.rbenv/versions/2.4.1/bin/bundle:22:in `load'
... /.rbenv/versions/2.4.1/bin/bundle:22:in `<main>'

Am I doing something wrong here?

[2017-12-09 15:23] jywarren commented on #1801
Hi! Actually please do open a PR, as this is a great way to collaboratively
debug -- we can get a look at how the code behaves in a standard
environment and both look at the full output when our automatic tests run
using Travis. A great service!

I found that the rake tasks didn't automatically run the performance tests
but maybe I did something wrong. In any case we can do this later and also
jus

[2017-12-09 15:25] jywarren commented on #1801
Hmm, "Stack level too deep" is an error that often relates to a recursively
nested bit of code. So maybe that's a clue but we'll see how the PR runs.

On Dec 9, 2017 10:23 AM, "Jeffrey Warren" <jeff@unterbahn.com> wrote:

[2017-12-09 15:28] jywarren commented on #1829
Oh hmm, that is odd, but we just did a big set of upgrades and I think
there's something funny going on. Thanks for catching this! Can you share
the output of "gem list"? And note what version of Ruby you're using (ruby
-v)?

To share a big file output you can use gist.github.com

Tnx!

On Dec 9, 2017 3:14 AM, "Sng Ping Chiang" <notifications@github.com> wrote:

[2017-12-09 16:07] jywarren opened #1850 "Highlight posting Activities from the dashboard, with guidance"
### Please describe the problem (or idea)

On the site, there are a lot of "Research note" posting buttons. And now Question buttons.

For example on https://publiclab.org/dashboard

Let's help encourage people to post step-by-step, how-to activities, as described on http://publiclab.org/w/activities

The `Share your work` button on the dash should at least feature `Share a step-by-step activity`

[2017-12-09 18:28] spclight commented on #1829
ruby version is ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]
gem list gives me this:

actioncable (5.1.4, 5.0.6, 5.0.4)
actionmailer (5.1.4, 5.0.6, 5.0.4, 4.1.16)
actionpack (5.1.4, 5.0.6, 5.0.4, 4.1.16)
actionview (5.1.4, 5.0.6, 5.0.4, 4.1.16)
active_link_to (1.0.4)
active_model_serializers (0.10.6)
activeadmin (1.1.0)
activejob (5.1.4, 5.0.6, 5.0.4)
activemodel (5.1.4, 5.0.6, 5.0

[2017-12-09 19:14] jywarren opened #1852 "Fix Dangerbot parsing of Travis errors in Rails 4"
Until recently, Dangerbot would repeat out errors and failures in each PR, like in this example:

https://github.com/publiclab/plots2/pull/1708#issuecomment-338683472 (see how Dangerbot actually reproduced the errors in its comment?)

In this recent one (after the Rails 4.1 upgrade), this no longer happens. This PR, which had the error:

[code]

shown here: https://travis-ci.org/publiclab/plots2/b

[2017-12-09 19:16] jywarren commented on #1829
Hmm, are you using RVM, and is it possible to switch to Ruby 2.3.3 to see
if the error goes away?

Thanks so much for helping with this!

On Sat, Dec 9, 2017 at 1:28 PM, Sng Ping Chiang <notifications@github.com>
wrote:

[2017-12-09 19:17] ryzokuken commented on #1829
No, I think they're using Rbenv. I think it works differently.

On Sun 10 Dec, 2017, 12:46 AM Jeffrey Warren, <notifications@github.com>
wrote:

[2017-12-09 19:17] Gauravano opened #1853 "Logout not working"
### Please describe the problem (or idea)
Logout not working, showing 404 every time

[2017-12-09 19:18] #1833 closed

[2017-12-09 19:23] jywarren commented on #761
We are all done here EXCEPT for:

* [ ] sending an email to added coauthors explaning what it means!

This last item could be broken out and described more narrowly, and could potentially be a good one for a first-timers-only issue!

[2017-12-09 19:24] #502 closed

[2017-12-09 19:30] jywarren opened #1854 "Add a new page for tagged content by a single author"
Let's add a new page, similar to the "tag" page like https://publiclab.org/tag/hydrogen-sulfide, but for just one author's work, so:

https://publiclab.org/tag/hydrogen-sulfide/author/warren ?

This'd require:

1. a `config/routes.rb` entry
2. a re-use of the `/app/views/tag/show.html.erb` template with a custom title
3. a new action in `/app/controllers/tag_controller.rb` for, maybe `def show_for

[2017-12-09 19:33] #1774 closed

[2017-12-09 19:33] jywarren commented on #1774
Solved by @ViditChitkara !!! Fantastic.

As a follow-up, do you think it's possible to write a `Tag.contributors` which would collect all the users in an array? If you're interested, we'd LOVE to see this! I think it'd be pretty similar.

[2017-12-09 19:35] jywarren commented on #1774
If we did a `Tag.contributors` we could then use it in this controller method, and show a wider range of people on that page:

https://github.com/publiclab/plots2/blob/f6fe2ea6273e30444bb2ccde131c0ae1bf6c8ea6/app/controllers/tag_controller.rb#L262-L272

[2017-12-09 19:36] jywarren commented on #1853
Oh, good catch! Are you at all interested in submitting a fix? I believe
it's related to this line -- i think it should be `get` not `delete`. I'd
be happy to help you file the fix, and we'd really appreciate it!

https://github.com/publiclab/plots2/blob/f6fe2ea6273e30444bb2ccde131c0ae1bf6c8ea6/config/routes.rb#L37

On Sat, Dec 9, 2017 at 2:17 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2017-12-09 20:22] Gauravano commented on #1853
Actually, there are is one modification possible in Logout from all devices too ...we can display successful logout message there too.What do you say?

[2017-12-09 21:35] ryzokuken opened #1856 "Take care of all unprotected redirects"
As of now, we happen to have a ton of unprotected redirects lurking in our code. They need to be addressed.

Critical issues with our code: https://codeclimate.com/github/publiclab/plots2/issues?severity=critical
About unprotected redirects: https://brakemanscanner.org/docs/warning_types/redirect/

A possible solution could be to manually and explicitly set the `:host` field to `publiclab.org` so

[2017-12-09 22:25] #1809 closed

[2017-12-09 22:54] ryzokuken commented on #1852
The error message gives an insight that this piece of code is being called here to report the error:

[code]

[2017-12-09 23:22] ryzokuken commented on #1852
I tried running on my own computer to check what's wrong, using a modified `Rakefile` containing

[code]

[2017-12-10 03:16] SidharthBansal commented on #1854
I will like to try this one out too!!!

[2017-12-10 05:16] ViditChitkara commented on #1774
Thanks @jywarren!! I am happy to do this but could you tell me on what basis should I select the contributors, like there are many possible ways in which a user could contribute. It would be great help if you give a little more details!Thanks😄😄

[2017-12-10 06:23] Gauravano commented on #1848
I have tried to "ask a question"  but after clicking it's redirecting me to https://publiclab.org/questions and if I further enter question and press ask button then I am redirected to the login page (All this while I am logged out).Kindly give some more details.Thank you.

[2017-12-10 07:07] ryzokuken commented on #1852
Okay, I finally made the last two work. The problem now is, with or without a test failure, no `test/reports` directory is being made. It should be if `CI::Reporter` is working, right?

[code]

[2017-12-10 07:20] ryzokuken commented on #1852
@jywarren Ugh, take a look at this: https://github.com/ci-reporter/ci_reporter/issues/106

[2017-12-10 07:41] tungla commented on #1808
@jywarren could you show me which screen does the side appear? I'd like to claim this issue

[2017-12-10 07:51] spclight commented on #1829
Ah, switching to ruby 2.3.3 works!

[2017-12-10 07:51] ryzokuken commented on #1852
@jywarren I submitted a patch, please take a look.

[2017-12-10 08:12] tungla commented on #1840
I'd like to claim this issue

[2017-12-10 14:19] SidharthBansal opened #1858 "Unwanted arrow symbol on getting started page"
When one hovers over https://publiclab.org/wiki/getting-started like button, a down arrow appears overlapping on the "Like" text
![image](https://user-images.githubusercontent.com/20972099/33805693-0665fb16-dde3-11e7-96b3-a241a726810f.png)

There is no such drop down menu or any background issues as also in localhost:3000 same thing happens
![image](https://user-images.githubusercontent.com/209720

[2017-12-10 14:28] sagarpreet-chadha commented on #1840
Yes please ! Sure !

[2017-12-10 14:46] SidharthBansal opened #1859 "Inconsistencies in tag deletion (investigating)"
### Please describe the problem (or idea)
On the https://publiclab.org/wiki/getting-started I observed some issues
1.Any user can add tags to this page. Like I added "balloon".
2. It automatically tagged with "balloon" and "balloon mapping".
3.There are some tag names with 'X' and some without 'X' for deletion. The tag named "balloon" and "balloon mapping" is not having 'X' to click which I made.

[2017-12-10 15:31] jywarren commented on #1858
Hmm, I think this is a css issue with Bootstrap, maybe... @ryzokuken may be
upgrading to bootstrap 4 soon so I'm not sure if it's worth fixing just
yet? Or we may be able to update bootstrap to the latest 3.x in our
bower.json file.

On Dec 10, 2017 9:20 AM, "Sidharth Bansal" <notifications@github.com> wrote:

When one hovers over https://publiclab.org/wiki/getting-started like
button, a down arro

[2017-12-10 15:33] jywarren commented on #1829
Oh, good to know! Thanks!

On Dec 10, 2017 2:51 AM, "Sng Ping Chiang" <notifications@github.com> wrote:

[2017-12-10 15:35] jywarren commented on #1848
Hi, is this while logged in and is it on your local machine or on
publiclab.org?

Thank you!

On Dec 10, 2017 1:23 AM, "Gaurav Sachdeva" <notifications@github.com> wrote:

[2017-12-10 15:35] jywarren commented on #1854
Awesome!

On Dec 9, 2017 10:16 PM, "Sidharth Bansal" <notifications@github.com> wrote:

[2017-12-10 15:35] jywarren commented on #1853
Good idea!

On Dec 9, 2017 3:22 PM, "Gaurav Sachdeva" <notifications@github.com> wrote:

[2017-12-10 15:38] jywarren commented on #1774
Hi, I think the way you implemented the count works well here too - people who've posted nodes, comments or answers on content with the given tag. Does that make sense? 😁👍

[2017-12-10 15:39] jywarren commented on #1808
Here's one example with the translation sidebar widget:

https://publiclab.org/notes/juncheng09/12-09-2017/instruction-for-sensors

Awesome, thanks!

On Dec 10, 2017 2:41 AM, "tungla" <notifications@github.com> wrote:

[2017-12-10 15:44] ViditChitkara commented on #1774
Yes, it makes sense. However, I'll see if there are more ways of getting contributors which are associated with particular tag, else we could use this only!!!!😃😃

[2017-12-10 15:52] jywarren commented on #1774
Good idea... Maybe wiki page revisions by an author? Under Revision model.

On Dec 10, 2017 10:44 AM, "Vidit" <notifications@github.com> wrote:

[2017-12-10 16:00] ViditChitkara commented on #1774
Cool! So I'll make changes in this method only so that wiki page members are also there along with answerers, etc.!!!!😉😉

[2017-12-10 16:14] jywarren commented on #1774
Super.

On Dec 10, 2017 11:01 AM, "Vidit" <notifications@github.com> wrote:

[2017-12-10 16:19] Gauravano commented on #1848
I have tried this on my localhost as well as on [publiclab.org](publiclab.org)  at both places no error message is coming up and I was just redirected to login page

![peek 2017-12-10 21-43](https://user-images.githubusercontent.com/20878070/33806842-cb53e3f6-ddf3-11e7-9e15-d7a243064798.gif)

[2017-12-10 16:22] Gauravano commented on #1853
Thank you.So can I add this notice to pull #1855

[2017-12-10 17:47] sagarpreet-chadha opened #1860 "Link To deletion of UserTag on profile page broken ."
### Problem

The link to deletion of UserTag on profile page is broken .
I was not able to find any code for deleting the user-tags on profile page .

<img width="911" alt="screen shot 2017-12-10 at 11 15 50 pm" src="https://user-images.githubusercontent.com/14952645/33807654-1d1bd2c8-de00-11e7-880c-4b3fc61214a7.png">

### Thank You

[2017-12-10 18:05] sagarpreet-chadha commented on #1860
@jywarren sir...also i am not able to **unsubscribe** from my subscriptions .
Should i open another issue for that ? is it related to upgradation to rails 4 ?

[2017-12-10 18:20] jywarren commented on #1860
:-/ good catch, yes. Probably. Most of these may be mistakes in the
routes.rb file, some due to put/get method. Thanks!

On Dec 10, 2017 1:05 PM, "Sagarpreet Chadha" <notifications@github.com>
wrote:

[2017-12-10 18:21] jywarren commented on #1853
That would be super. Great idea!

On Dec 10, 2017 11:23 AM, "Gaurav Sachdeva" <notifications@github.com>
wrote:

[2017-12-10 18:21] jywarren commented on #1848
Ah but did you go to /questions/new ? Some buttons on the site lead there.

On Dec 10, 2017 11:20 AM, "Gaurav Sachdeva" <notifications@github.com>
wrote:

[2017-12-10 18:49] jywarren commented on #1860
I think we need integration tests to ensure routes changes don't break things. I have an initial issue up here:

https://github.com/publiclab/plots2/issues/1846

[2017-12-10 19:23] Gauravano commented on #1848
yes, questions/new is giving the error.Can I work on this?

[2017-12-11 03:53] bellvat commented on #1801
Hi Jeffrey,

I have created PR #1861.

Regards,

Monica

[2017-12-11 07:28] SidharthBansal commented on #1858
Also one thing to note, bootstrap is not responsive
![image](https://user-images.githubusercontent.com/20972099/33819888-b65656da-de72-11e7-9f28-f068b8af1c68.png)
I tried to change the list view to grid but it was not able to.
I think the above issue will also be rectified once @ryzokuken upgrade the bootstrap
Or shall I create separate issue for this

[2017-12-11 07:32] tungla commented on #1808
is this the correct position you're aiming to @jywarren?
![image](https://user-images.githubusercontent.com/8103307/33820071-0c53ce0c-de80-11e7-9fdd-6179be75c456.png)

[2017-12-11 07:47] SidharthBansal opened #1863 "User can't enter custom query on Search Page"
On the search page https://publiclab.org/search there are two search fields.
In the lower field if a person types something and clicks on the search icon then it instead of finding the results gets redirected to the search page again.
Also, on pressing enter key, one item from the suggested searches get selected and corresponding search page is rendered. The user is unable to do a custom search. F

[2017-12-11 08:41] ryzokuken commented on #1858
@SidharthBansal I don't think I understand what you meant by this, could you please elaborate?

As of the like text, I'll look into it and submit a patch soon.

[2017-12-11 09:23] ryzokuken commented on #1858
At first look, it's clear that this is a case of mispositioning of the tooltip arrow by bootstrap (it's supposed to be below the tooltip here). That said, things are a little complicated as we know this does not happen *all* the time. It never shows up at localhost for me, and it isn't even consistent across wiki pages on the publiclab website.

Example:

* Getting started has this issue.
<img wid

[2017-12-11 14:40] jywarren commented on #1858
I remember there being some kind of css positioning thing that fixed the
display of popover menus in Bootstrap before. I wonder if this is similar
or if we could search the commit log for "positioning"?

On Dec 11, 2017 4:23 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-12-11 15:32] ebarry opened #1864 "Error posting comment on answer"
### Please describe the problem (or idea)

I received an email with an exciting answer posted.
<img width="725" alt="screen shot 2017-12-11 at 10 31 30 am" src="https://user-images.githubusercontent.com/161439/33838767-7e9e8d02-de5e-11e7-98bd-cfbd7a8a91de.png">

I clicked the link to comment on the answer, and was brought to the correct comment box. I typed a short reply, and clicked submit and go

[2017-12-11 15:34] ebarry commented on #1774
this is a really exciting project -- thank you for helping!

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Sun, Dec 10, 2017 at 11:14 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-12-11 15:43] ryzokuken commented on #1858
@jywarren I'll look that up.

[2017-12-11 17:02] sagarpreet-chadha opened #1866 "Not able to Unsubscribe from subscriptions"
### Please describe the problem (or idea)

Not able to Unsubscribe from my subscriptions .
On clicking unsubscribe button links to `/tag/______`   .
The issue is most probably part of #1846 .

****

## Thank you!

[2017-12-11 17:50] SidharthBansal commented on #1854
@jywarren I was browsing over the tags on the public lab websites. I found that we are able to search research articles with the custom tags but we are not able to search for the contributors related to them with custom tags.
For example, if I need to search for all balloon related notes, I will type publiclab.org/tag/balloon*
it shows 0 contributors but for balloon, there are 16 contributors.
see

[2017-12-11 18:16] SidharthBansal commented on #1859
Also as a user, I am just able to add tags to the questions but I am not able to delete tags which I created in the questions.

[2017-12-11 18:41] sagarpreet-chadha opened #1868 "Node Tags not able to be deleted"
### Please describe the problem (or idea)

Node Tags not able to be deleted .
Same issue as #1867 and #1860 and #1864 and #1863 .

[2017-12-11 19:08] sagarpreet-chadha opened #1870 "Unlike feature not working"
### Please describe the problem (or idea)

Unlike feature not working for any node .

[2017-12-11 20:19] ebarry commented on #1704
Thank you again for this great contribution @sagarpreet-chadha ! I'm explaining this feature to new people joining Public Lab and feeling appreciative that it exists!

[2017-12-11 20:19] jywarren commented on #1808
This looks good, but do you think we could put it in the main (right)
column? And I think we don't need the full header for Translation. It could
just be in a <p> -- "Translate this post" -- how does that sound?

Thanks so much, this is looking great!

On Mon, Dec 11, 2017 at 2:32 AM, tungla <notifications@github.com> wrote:

[2017-12-11 20:20] #1840 closed

[2017-12-11 20:22] jywarren commented on #1864
Gaurav - sure -- i think this relates to changes to the routes file from
the Rails 4.1 upgrade. It's possible the route to make a comment on an
answer has been changed to POST only, not GET, and that we need to either
change it to GET or to modify the commenting code to use POST. Make sense?

Thank you!

On Mon, Dec 11, 2017 at 1:07 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2017-12-11 20:26] jywarren commented on #1854
Indeed, that's a really good point. But wildcard searches can be expensive
to the database. If we can't come up with an optimized way to run a search
for, say, "a*", we might give the database some trouble. Another option is
to just disable the Contributors tag and have a tooltip hint that says
"Contributors cannot be listed for wildcard tag searches" or something.

Great thinking ahead!

On Mon,

[2017-12-11 20:31] jywarren commented on #1839
Solved in 03f068f !

[2017-12-11 20:31] #1839 closed

[2017-12-11 20:38] ebarry commented on #179
ok awesome progress! I'd like to use this issue to keep planning out how to improve /tags, and then we can break out separate issues from this.

Generally, i guess it's worth saying that continued improvement on /tags is important because as Google Groups becomes less and less viable as a platform for hosting discussions, we will be directing people to subscribe to tags/topics on the website they'

[2017-12-11 20:38] #1852 closed

[2017-12-11 20:39] #1868 closed

[2017-12-11 20:40] jywarren commented on #1863
Did #1869 solve this? Hmm, probably not -- how is it related to #1868? Thank you!

[2017-12-11 20:52] jywarren commented on #179
FWIW, the explanation page for power tags is at https://publiclab.org/w/power-tags -- so we could excerpt or link there from a potential /powertags page.

Which tag list are you referring to that ComDev requested -- the one for each page? Or the overall list at /tags?

Manually choosing a subset of "featured tags" seems like something we could/should do in content, not code. If you have the list o

[2017-12-11 20:57] ebarry opened #1873 "Sort tags by what you are subscribed to"
### Please describe the idea

This idea relates to improving the experience of finding topics that you are interested in on publiclab.org and subscribing to the conversation.

The foundation is already in place thanks to this incredible community. When a signed-on person browsing publiclab.org/tags, the `following` button is highlighted right there in line which is awesome!

![screen shot 2017-12-

[2017-12-11 21:01] jywarren commented on #683
Hi, if anyone's still interested in this project, there are some nice next steps forward above (https://github.com/publiclab/plots2/issues/683#issuecomment-279818898) and we'd love some help! Thanks!

[2017-12-11 21:07] jywarren commented on #441
https://publiclab.org/wiki/website-basics and wizard could be done as followup

[2017-12-11 21:11] SidharthBansal commented on #1854
Yeah, the query like 'a*' will be very time-consuming. The second option is better.

[2017-12-11 21:51] SidharthBansal opened #1874 "Auto-locate me not working"
A person is not able to locate his location through auto locate me feature listed
![image](https://user-images.githubusercontent.com/20972099/33855579-570c866c-deeb-11e7-910d-46ac30a6dc59.png)

[2017-12-11 22:32] jywarren commented on #1874
:-/ this is done via IP-based geocoding if you don't have a GPS (mostly just phones have a GPS). So I think it's just not great -- the geocoding is implemented in https://github.com/publiclab/leaflet-blurred-location/ actually so if we wanted to come up with either a way to improve it or a way to warn people when the location won't be accurate, we could open an issue over there. Would you mind?

T

[2017-12-11 22:37] SidharthBansal commented on #1874
ok

[2017-12-11 22:42] SidharthBansal commented on #1874
No problem, there was problem in my gps. Thanks for telling. On mobile phone, working fine.

[2017-12-11 22:43] #1874 closed

[2017-12-11 22:44] jywarren commented on #1874
awesome!

On Mon, Dec 11, 2017 at 5:43 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2017-12-11 22:45] jywarren commented on #1848
Yes please, that'd be great!

On Sun, Dec 10, 2017 at 2:23 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2017-12-11 22:48] jywarren commented on #1856
`redirect_to params.merge(:only_path => true)`

looks great, since that is host agnostic (if people run this on another domain name). `:only_path` means no hosts, right?

This looks great. Would love to tackle these either in pieces or all at once.

[2017-12-11 23:07] SidharthBansal commented on #1874
Sorry for not checking properly

[2017-12-11 23:29] jywarren commented on #1874
no problem at all! Glad it was resolved.

On Mon, Dec 11, 2017 at 6:07 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2017-12-12 05:11] ryzokuken commented on #1856
@jywarren sure. `:only_path` it is, then. Let me know if you want me to fix them all quickly by myself or make multiple issues.

[2017-12-12 05:55] Gauravano commented on #1864
Yes @jywarren this is also due to upgrade, it seems some code is missing from routes so I have fixed this by doing little changes in the comment_controller for now. Thank you.

[2017-12-12 12:45] jywarren commented on #1856
It's up to you! If you'd like to tackle other features, it's great to make
first timer only issues from these...

On Dec 12, 2017 12:11 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-12-12 12:58] ryzokuken commented on #1856
I'm okay with going ahead myself both with this one and the bootstrap 4 migration. The downside of making multiple first-timers is that by the end of `:branch => 'master'` at the end as well? I hope that'll help.

[2017-12-12 13:01] ryzokuken commented on #1856
I could do any of these, if you think making a few extra FTOs is worth the extra time and energy we'd need to spend, then I'm up for it.

[2017-12-12 15:30] jywarren commented on #1856
Actually there's this cool way of making FTOs now which is opening a branch
with the change, starting with "first-timers-" -- and the bot
auto-generates the issue. Usually it takes a little tweaking of the text
once that's done but it's a neat way to set up a change you know should be
made, and invite a first-timer to do it. I think I mentioned this to you --
https://github.com/hoodiehq/first-time

[2017-12-12 16:40] ViditChitkara commented on #1774
@ebarry surely this is exciting and I'm really happy to contribute to this. I have learnt a lot here and would keep contributing to this. Thank you and @jywarren for helping me out.

[2017-12-12 23:17] jywarren opened #1882 "Need CSRF token on main image upload"
### Please describe the problem (or idea)

on http://publiclab.org/post

Uploading a main image is broken right now due to a need for a CSRF token

I think I can solve this one but don't want to forget!

Related to https://github.com/publiclab/PublicLab.Editor

[2017-12-13 04:53] #1882 closed

[2017-12-13 05:50] jywarren opened #1884 "Inconsistent tag deletion buttons"
This may be due to the Rails 4.1 upgrade, but when I create and then try to delete a tag with the `x` button, it doesn't work. However when I refresh the page, I can then delete the tag successfully --

Try it: https://publiclab.org/w/raspberry-pi-spectrometer

The erroring case is the one where the tag button is generated in JavaScript, on the client side, and inserted, probably using code in `/a

[2017-12-13 06:05] ViditChitkara commented on #1884
Can I try and fix this??@jywarren

[2017-12-13 06:08] SidharthBansal opened #1885 "Donate and Store buttons not working"
"Donate" and "Store" button in the header are not redirecting to publiclab.org/donate and store.publiclab.org respectively

[2017-12-13 06:47] jywarren commented on #1885
Very grateful for this catch. Fixes in https://github.com/publiclab/plots2/pull/1886

[2017-12-13 06:52] #1885 closed

[2017-12-13 08:33] tungla commented on #1808
Updated @jywarren. Is that ok?
One problem is i have to use javasciprt to edit HTML of google translate element (to add a <span> to its div). Is it fine to use this approach?
![image](https://user-images.githubusercontent.com/8103307/33929027-95730e64-e01a-11e7-853b-6142a7ff18ef.png)

`<% if @node && (@node.has_power_tag('iso') || @node.has_power_tag('lang')) %>
    <div id="google_translate_eleme

[2017-12-13 09:44] namangupta01 commented on #1856
@jywarren can i take this issue?

[2017-12-13 09:50] namangupta01 commented on #1856
@ryzokuken Thanks 👍

[2017-12-13 19:15] jywarren commented on #1884
sure, give it a try! Thanks!!

On Wed, Dec 13, 2017 at 1:05 AM, Vidit <notifications@github.com> wrote:

[2017-12-14 10:20] SidharthBansal commented on #1418
Hi @jywarren  can I try this?

[2017-12-14 16:24] jywarren commented on #1808
Hmm, interesting! This looks cool -- what does the span add? I also was hoping to get it to display in the main column above the title and main image, but this is looking good! Can you open a pull request with your solution? Thank you!

[2017-12-14 16:28] jywarren commented on #1215
https://bower.io/blog/2017/how-to-migrate-away-from-bower/ - let's start thinking about how to break this down - what can we do to prepare, or can we make a checklist?

[2017-12-14 16:49] jywarren commented on #1418
yes please! there's quite a bit of progress in an existing PR that i think
is linked to from here, see https://github.com/publiclab/plots2/pulls if
not. It'd be great to build on this!

On Thu, Dec 14, 2017 at 5:20 AM, Sidharth Bansal <notifications@github.com>
wrote:

[2017-12-14 16:51] SidharthBansal commented on #1418
OK I will try to add

[2017-12-14 17:58] jywarren opened #1890 "Brief pause in work for the end-of-year & a community-wide survey"
Hi, folks - a couple things to share:

## A brief pause for the year's end

First, I'm going to be away for the next week without much internet and so we won't be doing a lot of merging in of pull requests, but there's been so much good collaboration over the past few months that I'd like to ask everyone to please be extra helpful to one another when I can't be there. Many of you have in the past,

[2017-12-14 17:58] jywarren commented on #1890
@Arimao, @austindenny, @foggy1, @bentonwong, @BobStevens, @calaway, @zenara, @krys2fa, @djmgit, @devinbalkind, @wimpykid26, @EmilyOng, @ffiebig, @gaeun, @haleymnatz, @hklebs, @ILikeEatingPie, @Sh1pley, @jbkimble, @fuentesj, @justinmanley, @whoisjstn, @JustusFT, @yukiisbored, @Kashyap12, @Kevin-Kawai, @logangingerich, @ttluan411, @maxtedford, @meganft, @mbrien12, @Mcosta02, @shapironick, @pyluftig,

[2017-12-14 17:58] jywarren commented on #1890
@acioffi21 @mlendale

[2017-12-14 17:59] ebarry opened #1891 "make a time-bounded version of tag.contributorcount ?"
Hi everyone!
### Please describe the problem (or idea)

In order to show how many unique contributors have been active in a certain period of time, perhaps we could make add a time-bounded version of the tag.contributorcount function

### Please show us where to look

Contributor counts are already looking great on tag pages! Check out how the number count is shown right on the tag page https://pu

[2017-12-14 18:10] ViditChitkara commented on #1891
@ebarry can I give it a go?

[2017-12-14 18:14] ryzokuken commented on #1215
One problem we noticed was that there's no way to configure npm or yarn to install modules in a custom location like we've configured bower to, and that's expected behavior for JavaScript files. Rather, we could use something like Webpack or Poi to compile all the files from `node_modules` and place the compiled minified file someplace we want.

[2017-12-14 18:42] ryzokuken commented on #1215
@jywarren Oh, I just noticed that we don't have to -- just use `Rails.application.config.assets.paths << Rails.root.join('node_modules')` in the initializers

[2017-12-14 20:48] jywarren opened #1892 "cache not expiring in rails 4.1"
This line clears the cache for website features but doesn't seem to be working in rails 4. Maybe the convention has changed?

https://github.com/publiclab/plots2/blob/563371059ac7d33f350d691f3f9182e8bd6f9132/app/controllers/features_controller.rb#L81

[2017-12-14 21:18] SidharthBansal opened #1893 "Like button doesn't show login page if person is not logged in"
### Please describe the problem (or idea)
When a person is logged in he able to like a wiki post but when he or she is not logged in then it does nothing by clicking on the like button.

I expect to redirect to the login form if a person is not logged in and tries to like any wiki.
### Please show us where to look
https://publiclab.org/wiki/lego-spectrometer
The error seems to be in _like.html.erb

[2017-12-14 21:18] SidharthBansal commented on #1893
May I fix it?

[2017-12-14 21:38] ebarry commented on #1891
Wow Vidit, that would be amazing!!! Please give it a go and let us know how
it goes. :D

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Thu, Dec 14, 2017 at 1:10 PM, Vidit <notifications@github.com> wrote:

[2017-12-14 22:47] jywarren commented on #1893
Yes please! Good catch.

On Dec 14, 2017 4:19 PM, "Sidharth Bansal" <notifications@github.com> wrote:

[2017-12-14 22:49] jywarren commented on #1891
It'd be great if it could accept a time start and end as parameters! Like `contributor_count_for(Time.now, Time.now - 1.week)` -- isn't ruby cool?

[2017-12-15 03:18] namangupta01 commented on #1892
Hey @jywarren, can i work on it ?

[2017-12-15 06:08] sagarpreet-chadha commented on #1704
Welcome mam...happy to contribute :)

[2017-12-15 06:31] jywarren commented on #1860
Solved in #1865

[2017-12-15 06:31] #1860 closed

[2017-12-15 06:33] jywarren commented on #1892
That'd be great, thanks a lot!

On Dec 15, 2017 3:19 AM, "Naman Gupta" <notifications@github.com> wrote:

[2017-12-15 09:04] #1884 closed

[2017-12-15 13:46] SidharthBansal commented on #1893
Pull request #1894

[2017-12-15 18:59] Ronaq13 commented on #1873
I would like to work on it.

[2017-12-15 19:04] Ronaq13 commented on #1873
@ebarry : I would like to work on this.

[2017-12-15 20:43] ryzokuken commented on #1856
@namangupta01 any progress on this?

[2017-12-15 20:47] namangupta01 commented on #1856
Yes @ryzokuken working on it!

[2017-12-16 15:44] jywarren commented on #1870
I'm actually seeing the like button feature not working when logged in, on pages like

https://publiclab.org/questions/stevie/12-15-2017/what-are-good-ways-to-capture-outputs-and-notes-at-events

[2017-12-16 19:03] SidharthBansal opened #1896 "Remove the Menu"
### Please describe the problem (or idea)
If a person who is not logged in clicks on the login button and then on language then nothing happens.

The person should be either able to change language or there should be no language button in the login menu in the header. As we already have a language button in the footer.

[2017-12-16 19:08] SidharthBansal commented on #1896
I think this is due to removal of drop-down submenus from bootstraps v3 onwards
See https://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing
We already have a language change option in the footer. For me, it does not make sense to have a button under login for language.

[2017-12-18 17:57] ebarry commented on #175
HI folks! re-opening this issue in case it helps people find the relevant code.

Because people come in to etherpads and leave messages that no one ever reads (see example below, messages from February 2017 and May 2017), we need to update this message to say something like "these pads are here for people to collaborate on but FYI if you are trying to get in touch with public lab, please email pub

[2017-12-20 16:04] steviepubliclab opened #1897 "Move comments to answers in questions"
### Please describe the problem (or idea)

Sometimes on the Q&A feature (www.publiclab.org/questions), people post answers to questions in the comments section. I think it would be good if there was an option to move a comment to an answer, (and maybe vice versa? but I don't think that's as important). I think it will help us curate the information and hopefully make the answers more visible.

[2017-12-21 14:59] SheepD commented on #1850
submitted pr #1898 for review. hopefully i got the context of this issue correctly on the PR

[2017-12-28 08:32] MOSTAMALCO opened #1899 "شراء الاثاث المستعمل بالمدينة المنورة"
شراء الاثاث المستعمل بالمدينة المنورة باعلى الاسعار
شراء الاثاث المستعمل بالمدينة المنورة بافضل الاسعار
هناك فارق شاسع بين سوق الاثاث الجديدي وسوق الاثاث المستعمل من
حيث السعر والطريقة الاثاث الجديد اماكن تواجدة عدة وسعرة باهظ الثمن
اما الاثاث المستعمل اماكن تواجدة قليلة واسعارة بسيطة وفى متناول
الجميع تبحث عمن يشترون الاثاث المستعمل لديك من منزلك انتالان فى قلب الحدث
حقين شراء الاثاث المستخدم  بم

[2017-12-28 08:32] MOSTAMALCO commented on #1899
شراء الاثاث المستعمل بالمدينة المنورة شركة متخصصة فى مجال شراء الاثاث المستعمل بالمدينة المنورة نشترى جميع انواع الاثاث
والعفش المستعمل بالمدينة المنورة بافضل واعلى اسعار السوق نشترى الاثاث المستعمل من مكانة دون داعى للبحث او الذهاب الى
سوق الاثاث المستعمل ( الحراج ) شراء غرف النوم بانواعها شراء الاجهزة الكهربائية شراء اطقم الكنب شراء المكيفات الشاشات الثلاجات
البرادات وغيرها شراء البطرمة والمساند

[2017-12-28 08:33] MOSTAMALCO opened #1900 "نقل عفش بالمدينة المنورة - الابطال"
شركة نقل عفش بالمدينة المنورة نقل اثاث بالمدينة المنورة مع الفك والتركيب والتغليف من والى جميع انحاء المملكة
ارخص شركة نقل اثاث بالمدينة المنورة باسعار مناسبة فك وتركيب جميع انواع غرف النوم والستائر والمطابخ

http://usedfurniturestores.net/%d8%b4%d8%b1%d9%83%d8%a9-%d9%86%d9%82%d9%84-%d8%a7%d8%ab%d8%a7%d8%ab-%d8%a8%d8%a7%d9%84%d9%85%d8%af%d9%8a%d9%86%d8%a9-%d8%a7%d9%84%d9%85%d9%86%d9%88%d8%b1%d8%a9

[2017-12-28 08:33] MOSTAMALCO opened #1901 "شراء الاثاث المستعمل بالمدينة المنورة - الابطال"
شراء الاثاث المستعمل بالمدينة المنورة شركة متخصصة فى مجال شراء الاثاث المستعمل بالمدينة المنورة نشترى جميع انواع الاثاث
والعفش المستعمل بالمدينة المنورة بافضل واعلى اسعار السوق نشترى الاثاث المستعمل من مكانة دون داعى للبحث او الذهاب الى
سوق الاثاث المستعمل ( الحراج ) شراء غرف النوم بانواعها شراء الاجهزة الكهربائية شراء اطقم الكنب شراء المكيفات الشاشات الثلاجات
البرادات وغيرها شراء البطرمة والمساند

[2017-12-28 08:34] MOSTAMALCO opened #1902 "نقل عفش بجدة - الابطال"
نقل عفش بجدة باحترافية عن طريق شركة الابطال لنقل العفش بجدة مع الفك والتركيب والتغليف من والى جميع المملكة مع فريق عمل شركة الابطال ننقل اثاث بجدةبايدى فنيين نجارة على اعلى مستوى منالخبرة فى تركيب  جميع انواع غرف النوم والستائر والمطابخ
متخصصون نقل الاثاث بجدة ارخص الاسعار لنقل الاثاث بجدة تغليف عالى الجودة كراتين لتعبئةغراض المطبخ فنيين تركيب غرف نوم ايكيا
تخصصنا فتميزنا سيارات مجهزة مقفلة مؤمنة

[2017-12-28 08:34] MOSTAMALCO opened #1903 "شراء الاثاث المستعمل بجدة - الابطال"
شرءا الاثاث المستعمل بجدة شراء جميع انواع الاثاث والعفش المستعمل بجميع انحاء جدة بايدى عمالنا وسياراتنا نشترى
منك الاثاث المستعمل بجدة باعلى اسعار السوق دون الحاجة الى الذهاب والمضى ذهاب واياب الى الحراج اتصل بنا تنهى
مهمة بيع الاثاث المستعمل بمنزلك

http://usedfurniturestores.net/%d8%b4%d8%b1%d8%a7%d8%a1-%d8%a7%d9%84%d8%a7%d8%ab%d8%a7%d8%ab-%d8%a7%d9%84%d9%85%d8%b3%d8%aa%d8%b9%d9%85%d9%84-%d8%a8%

[2017-12-28 08:35] MOSTAMALCO opened #1904 "شركة غسيل خزانات بالمدينة المنورة - الابطال"
شركة تنظيف خزانات بالمدينة المنورة 0544543073_المجموعة المثالية[url=https://vimeo.com/103416430]شركة غسيل الخزانات بالمدينة المنورة [/url]
#تنظيف
http://usedfurniturestores.net/%d8%b4%d8%b1%d9%83%d8%a9-%d8%ba%d8%b3%d9%8a%d9%84-%d8%ae%d8%b2%d8%a7%d9%86%d8%a7%d8%aa-%d8%a8%d8%a7%d9%84%d9%85%d8%af%d9%8a%d9%86%d8%a9-%d8%a7%d9%84%d9%85%d9%86%d9%88%d8%b1%d8%a9-%d8%a7%d9%84%d8%a7

https://www.instagram.co

[2017-12-28 08:35] MOSTAMALCO opened #1905 "شركة غسيل كنب بالمدينة المنورة - الابطال"
شركتنا هى شركة تنظيف كنب ومجالس بالمدينة المنورة[url=https://www.youtube.com/watch?v=3-DFsP9k6eQ]غسيل كنب بالمدينة المنورة[/url] [url=https://www.twitter.com/tanzefcoo]غسيل كنب بالمدينة المنورة[/url] [url=https://www.youtube.com/watch?v=3-DFsP9k6eQ]غسيل كنب بالمدينة المنورة[/url] تقوم شركتنا المجموعة المثالية عزيزي العميل اذا كنت تبحث عن مغسلة متنقلة فانت بحاجة الى خدماتنا المجموعة المثالية لغسيل

[2017-12-28 08:35] MOSTAMALCO opened #1906 "شركة مكافحة حشرات بالمدينة المنورة - الابطال"
[url=https://twitter.com/eyadelasmr]شركة مكافحة حشرات بالمدينة المنورة [/url]بتعانى من الحشرات عندك صراصير نمل البق العتة الوزغ الفئران الافاعى عندى اى نوع من انواع الحشرات بيسبب لك القلق والتعب النفسى محتار من بين كل شركات مكافحة الحشرات عندنا الحل المناسب لكل الالام التى تعانى منها من الحشرات لدينا مبيدات المانية ايطالية متخصصون وكيميائيين وعمال ماهرين فى مجال مكافحة الحشرات والقوارض بالمدينة ال

[2017-12-28 08:36] MOSTAMALCO opened #1907 "تركيب طارد الحمام بالمدينة المنورة"
شركة متخصصة فى حماية المبانى من الطيور والحمام متحصصو تركيب الاشواك الاستيل على الشبابيك والبلكونات والدواير وكل الاماكن التى يقف بها الحمام والطيور تركيب حماية للمكيفات لمنع وقوف الطيور 0544543037
https://www.youtube.com/watch?v=1Jgimu1dOQQ
https://twitter.com/blockbirds88
https://www.youtube.com/watch?v=NdiyuNx_7Wk
https://www.facebook.com/taredelhamam/
https://www.facebook.com/taredelhamaam/
ht

[2017-12-28 12:44] #1899 closed

[2017-12-28 12:44] #1900 closed

[2017-12-28 12:44] #1901 closed

[2017-12-28 12:44] #1902 closed

[2017-12-28 12:44] #1903 closed

[2017-12-28 12:44] #1904 closed

[2017-12-28 12:44] #1905 closed

[2017-12-28 12:44] #1906 closed

[2017-12-28 12:44] #1907 closed

[2017-12-29 13:04] seafr opened #1908 "Repetitive code in Users controller (lines 129-144)?"
The code on lines 129-144 in the Users controller seems to be repetitive. Can I move it to a (private) method? Please note that I am new to this.

[2017-12-29 13:42] jywarren commented on #1908
That'd be great, thanks! Perhaps even in /app/models/user.rb?

On Dec 29, 2017 8:04 AM, "Sea" <notifications@github.com> wrote:

The code on lines 129-144 in the Users controller seems to be repetitive.
Can I move it to a (private) method? Please note that I am new to this.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https:/

[2017-12-29 14:07] seafr commented on #1908
OK, in the model then.

[2017-12-29 14:31] jywarren commented on #1908
Awesome, thanks for your help!

On Dec 29, 2017 9:07 AM, "Sea" <notifications@github.com> wrote:

[2017-12-31 20:06] Xavier-J-Ortiz commented on #1797
@jywarren Hello! I'd like to work on this if there's any work left to be done!

Thanks!

[2018-01-02 15:48] jywarren commented on #1890
OK, we'll be getting things going again this week -- a bit of a backlog but I hope we'll be back on track in a few days. Thanks everyone and happy new year!

[2018-01-02 15:48] #1890 closed

[2018-01-02 16:19] jywarren commented on #1797
Oh, sorry for the slow reply on this. It looks like @acioffi21 has some work on this here: https://github.com/publiclab/plots2/pull/1810 and we were just waiting to see a final screenshot before merging. If you can download their code and upload a screenshot on that PR, that'd be really helpful so we can just do a final check before merging this in!

Thank you!

[2018-01-02 17:35] siaw23 commented on #1890
Hi Jeff did you get me email about wanting to mentor this project for GSoC?

On Tue, 2 Jan 2018 at 4:48 PM, Jeffrey Warren <notifications@github.com>
wrote:

--
Kind regards,
Emmanuel M. Hayford.

[2018-01-02 17:41] #1850 closed

[2018-01-02 17:43] jywarren commented on #1890
Ah yes, sorry i've been off for a couple weeks and am working through
emails! Happy new year and much appreciated -- hope to get a reply back to
you today.

On Tue, Jan 2, 2018 at 12:35 PM, Emmanuel Hayford <notifications@github.com>
wrote:

[2018-01-02 21:42] #1729 closed

[2018-01-02 21:43] jywarren commented on #1892
Hi, any progress on this? I'd be happy to help, we need to get this one resolved. Happy new year!

[2018-01-03 16:19] 500swapnil commented on #1892
Could I look into this if it's not resolved yet?

[2018-01-03 16:56] jywarren commented on #1892
Ah, it looks like there's an issue with Rails 4+ adding a "digest" string to the cache key: https://stackoverflow.com/questions/17445994/rails-4-0-expire-fragment-cache-expiration-not-working#17619414

The workaround is to specify `skip_digest` in each use of cache in the views -- we'll have to search through the views to find these. The format for the change would be:

[code]

Hope that helps!

[2018-01-03 17:55] 500swapnil commented on #1892
Yeah that would work. Another shorter solution I found was using regular expressions.
So it would simply be replaced with this
---ActionController::Base.new.expire_fragment("feature_#{params[:title]}")---

[2018-01-03 17:57] 500swapnil commented on #1892
@jywarren I'll create a pull request. Which method do I use? (Regular exp. or adding cache digest)

[2018-01-03 18:45] 500swapnil commented on #1892
Opened a PR #1911

[2018-01-03 19:26] jywarren commented on #1892
Hmm, does this work for sure? Have you tested it out? Cool, thank you!

[2018-01-03 19:26] jywarren commented on #1457
Oh, sorry! yes, closing now.

[2018-01-03 19:26] #1457 closed

[2018-01-03 19:26] jywarren commented on #1457
Thanks!

[2018-01-03 19:37] 500swapnil commented on #1892
I found it here. It passes all the tests and works fine.
https://stackoverflow.com/questions/33499384/expire-fragment-caching-in-rails-4

[2018-01-03 19:40] jywarren commented on #1892
I don't think we have a test that tests out cache expiry, and I'm not sure we were seeing the error `"undefined method `expire_fragment' for #<ItinerarySweeper:0xb5a3510 @controller=nil>"` -- actually we don't see an error when this controller method is run. So I'm just not sure.

I think it's worth a try to merge your PR and see if it works, but if it doesn't then we try the other way?

[2018-01-03 19:42] jywarren commented on #1892
Leaving this open until we confirm that #1911 fixed it.

[2018-01-03 19:51] 500swapnil commented on #1892
Okay that makes sense. I ran all the tests. Didn't know they didnt see cache expiry. Let's see if this fixes it and if not, We'll try the other way.

[2018-01-03 20:45] #1870 closed

[2018-01-03 20:45] jywarren commented on #1870
Fixed!

[2018-01-03 20:48] jywarren commented on #1897
This is a good one -- I think we could make a method in the `comment_controller` called `make_answer` which:

1. creates a new answer
2. copies the text, author, and node ID from the comment
3. saves the answer
4. deletes the comment (but only after checking that the answer is saved)

Then we could add a test for this to be sure -- in https://github.com/publiclab/plots2/tree/master/test/functional

[2018-01-03 20:48] jywarren commented on #1908
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2018-01-03 20:49] jywarren commented on #1896
@ebarry what do you think? Could we simply remove this from the menu? Or should we look into a menu fix?

[2018-01-03 21:19] ebarry opened #1912 "Tweak navbar search autocomplete to not auto-select the first result"
### Please describe the problem (or idea)

Just now, i was trying to search for "tufts" (as in tufts university to find those DIY aerostats and talk to those awesome folks). I typed `tufts` into the search box, and the autosuggest suggested a bunch of stuff with the profile `middtuftxbs` at the top of the list. i hit the Enter key intending to search for tufts but instead that autoselected the fir

[2018-01-03 21:51] Gauravano commented on #1897
hey @jywarren @steviepubliclab, first of all, happy new year, this functionality seems really cool.Can I work on this?

[2018-01-03 22:09] steviepubliclab commented on #1897
Happy New Year, and yeah that would be awesome!
-Stevie

On Wed, Jan 3, 2018 at 3:51 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-01-03 22:14] ebarry commented on #1896
Let's remove it from now. Do we have an issue open for improving our translation process and how we keep the translation up-to-date with the current site?

[2018-01-03 22:16] jywarren commented on #1896
OK, that sounds good -- Sidharth, do you think you could update the issue
title to just remove the menu? Then we could make a first-timers issue from
it if you'd like.

Liz, I don't think we do, but we could talk about that on OpenCall if you
want?

On Wed, Jan 3, 2018 at 5:14 PM, Liz Barry <notifications@github.com> wrote:

[2018-01-03 22:17] rishabhptr commented on #1912
Hey , Can I try this?

[2018-01-03 22:24] ebarry commented on #1896
we'll have to deal with translation sometime. Sooner than later if that
international grant goes through.

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Wed, Jan 3, 2018 at 5:16 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-01-03 22:51] jywarren commented on #1896
Sure, it's not too complicated. If we do it once per month, it'd be about 3
hours of work, i think. Who'd be doing it? These are the sorts of things we
should discuss.

On Wed, Jan 3, 2018 at 5:24 PM, Liz Barry <notifications@github.com> wrote:

[2018-01-03 22:53] jywarren commented on #1912
Yes please! I believe it'll be a configuration of
https://github.com/bassjobsen/Bootstrap-3-Typeahead

which we set up here:

https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/restful_typeahead.js

On Wed, Jan 3, 2018 at 4:19 PM, Liz Barry <notifications@github.com> wrote:

[2018-01-03 22:54] jywarren commented on #1912
Currently it auto-selects the top result. The docs should allow us to disable that behavior!

[2018-01-04 00:58] #1891 closed

[2018-01-04 01:09] SidharthBansal commented on #1896
I have changed the title to Remove the Menu @jywarren.
May I create a first timer issue?

[2018-01-04 01:11] jywarren commented on #1896
please do! I forget, have you before? Either way there's some good guidance
here: https://publiclab.github.io/community-toolbox/ -- awesome!

On Wed, Jan 3, 2018 at 8:09 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-01-04 01:18] SidharthBansal commented on #1896
I have not opened any first timer before. Would like to do it today :-)

[2018-01-04 01:53] SidharthBansal opened #1914 "Remove the Menu"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-01-04 01:59] jywarren commented on #1914
This is looking good - perhaps link directly to the segment of code that must be removed? Awesome!

[2018-01-04 02:43] SidharthBansal commented on #1914
This is the link directly to the code snippet that needs to be removed. https://github.com/publiclab/plots2/blob/91b0a1bdb73aaa4a158fc37641bcf0ede0e4fec0/app/views/layouts/_header.html.erb#L184-L194

[2018-01-04 11:38] sagarpreet-chadha commented on #1846
@jywarren...can i work on it ?

[2018-01-04 18:12] seafr commented on #1908
Hi @jywarren, plz check PR #1909 and get back to me. Unfortunately, it seems there is some problem with it :( The Travis CI build did not succeed.

[2018-01-04 18:55] jywarren commented on #1908
Merged the fix in #1909 -- thanks!!!

[2018-01-04 18:55] #1908 closed

[2018-01-04 22:36] jywarren commented on #1846
Sure, it's a bit of a big one... Go for it! One piece at a time!

On Jan 4, 2018 6:38 AM, "Sagarpreet Chadha" <notifications@github.com>
wrote:

[2018-01-05 01:28] georgepampalis commented on #1914
Hello there! I just started learning how to use GitHub.

Could I try having a go at it ? 😮

[2018-01-05 01:54] SidharthBansal commented on #1914
Yes, go ahead

[2018-01-05 02:32] jywarren commented on #1914
We'd love your help!

On Thu, Jan 4, 2018 at 8:54 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-01-05 05:07] #1893 closed

[2018-01-05 12:11] SidharthBansal opened #1917 "Urls ending with * not working properly"
### Please describe the problem (or idea)
If a person writes a research note with any link with an ending * say https://publiclab.org/tag/activity:*. Then it is not taking * into account

I think, the person should be able to post the url with the ending * so that it can be clickable to the right destination. Selecting tags like this is an important feature in public labs.

### Please show us wher

[2018-01-05 16:59] ver-kat commented on #1914
Very well written issue! I'm looking for my first contribution and you've made it very appealing.

[2018-01-05 18:20] sagarpreet-chadha opened #1918 "Showing a basic user as 'moderator' ."
### Please describe the problem (or idea)

In [/people](https://publiclab.org/people) , basic user is shown as a 'moderator'  .
Also do we have to show normal users the ban buttons ?

<img width="1152" alt="screen shot 2018-01-05 at 11 35 17 pm" src="https://user-images.githubusercontent.com/14952645/34622241-68f67b04-f272-11e7-9a0c-25c9ab87f949.png">

## Thank you!

[2018-01-06 18:09] SidharthBansal opened #1919 "Deleted activities still come on home page"
### Please describe the problem (or idea)
If a person creates a research note and deletes it for some reason, then it still comes on www.publiclab.org/home .
Example
I have by mistake made a research note on public labs instead of localhost:3000 and then I deleted the note. See it appears on home page
![image](https://user-images.githubusercontent.com/20972099/34642524-5d72caf8-f33a-11e7-8679-ab0e

[2018-01-06 18:24] #1919 closed

[2018-01-06 18:25] SidharthBansal commented on #1919
Sorry, actually it is taking few minutes to change the home page. After that it is not showing. Sorry

[2018-01-07 07:26] SidharthBansal opened #1920 "Navbar not working on the /post"
### Please describe the problem (or idea)
The navbar links to drop down menus are not working on https://publiclab.org/post if a user is logged in. Example About, Get Involved and the menu containing the links to log out, log out from all devices etc.
I have tested this on localhost:3000/post and publiclab.org/post. I also tried on the private window.

I expect to see these menus functional on the

[2018-01-07 14:18] SidharthBansal commented on #1917
@jywarren I think we are using rdiscount for the markdowns. I am trying to find if there exists any method by which we can handle these types of custom urls. It will great for users to post links like this in their research notes or other places.

[2018-01-07 15:04] Gauravano commented on #1853
hey @jywarren, I think this issue still persists, it worked fine in development when I changed routes.rb but in production, it's giving different results now.I have checked "Log out from all devices" too, its also not working and rendering an error page. What you say about re-opening this issue ?

[2018-01-07 16:28] jywarren commented on #1853
Hmm, too bad; yes, let's reopen!

On Jan 7, 2018 10:05 AM, "Gaurav Sachdeva" <notifications@github.com> wrote:

hey @jywarren <https://github.com/jywarren>, I think this issue still
persists, it worked fine in development when I changed routes.rb but in
production, it's giving different results now.I have checked "Log out from
all devices" too, its also not working and rendering an error page. Wha

[2018-01-07 18:16] Gauravano commented on #1853
@jywarren I just found that logout is working properly it's just not visible to the user as the website is redirecting us to root after log out as usual and rendering the page from the cache so I believe its due to    #1892 .What you think about this jeff

[2018-01-07 19:40] SidharthBansal opened #1921 "Contributors should not be listed for wildcard tag searches"
### Please describe the problem (or idea)
Contributors count is 0 on the wildcard searches.
See https://github.com/publiclab/plots2/issues/1854#issuecomment-350847619 and https://github.com/publiclab/plots2/issues/1854#issuecomment-350802448

[2018-01-07 19:43] SidharthBansal commented on #1921
Pull request #1922. Sorry, @jywarren I forget to implement the changes which you requested in the comment.

[2018-01-07 22:30] jywarren commented on #1829
Hi @kkavita92 how's it going? Can we be of any help or would you like to share what you've got?

[2018-01-07 22:30] jywarren commented on #1829
Or @spclight !!

[2018-01-08 15:31] jywarren commented on #1853
Ah, isn't this a client-side browser cache though? Perhaps we can add a
timestamp to the redirect URL such as `?_=123456` as we do elsewhere in the
code?

On Sun, Jan 7, 2018 at 1:16 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-01-08 15:34] jywarren commented on #1920
Hmm, that's weird -- I believe it may be due to jQuery being included
twice, but I thought we were on PublicLab.Editor v1.0.0 which isn't
supposed to suffer from that issue. Let me check again.

On Sun, Jan 7, 2018 at 2:26 AM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-01-08 15:38] jywarren commented on #1920
Ah, this is fixed in master but hasn't been published to the site. Doing
that now.

On Mon, Jan 8, 2018 at 10:34 AM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-01-08 15:40] jywarren commented on #1917
Did this end up not being a problem? Thanks!

[2018-01-08 16:01] jywarren commented on #1920
OK, this is fixed in stable; pushing to production site and closing: http://stable.publiclab.org/post

Thanks for catching this!

[2018-01-08 16:01] #1920 closed

[2018-01-08 16:02] SidharthBansal commented on #1917
Yeah

[2018-01-08 16:07] jywarren commented on #1919
I believe this is due to cache expiry, which we're working on, but this makes it more urgent. Thanks!

[2018-01-08 16:10] SidharthBansal commented on #1919
Yeah, I saw swapnil is handling cache expiry in one PR. So,  there was not a need of this issue so I closed this issue. Shall I reopen it?

[2018-01-08 16:11] jywarren commented on #1919
I think we can leave closed; i'm publishing cache changes now and if it
doesn't work we can do a follow-up fix and publish today.

On Mon, Jan 8, 2018 at 11:10 AM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-01-08 16:17] SidharthBansal commented on #1919
Ok

[2018-01-08 16:33] jywarren commented on #1892
OK, it looks like we need `, skip_digest: true do` -- i just published a new version and don't see the cache expiring!

[2018-01-08 16:33] jywarren commented on #1892
This got a bit more urgent as we noticed the activity feed isn't updating -- so i'm going to push through an update. Thanks!

[2018-01-08 16:35] 500swapnil commented on #1892
Do you need me to create a PR? I'll do it now.

[2018-01-08 16:37] jywarren commented on #1892
i think i got it, but thanks a lot!

[2018-01-08 16:38] jywarren commented on #1892
https://github.com/publiclab/plots2/pull/1923

[2018-01-08 16:39] 500swapnil commented on #1892
Okay great!

[2018-01-08 16:44] Gauravano commented on #1853
yes @jywarren you are right its due to client-side browser cache.Just making a commit.Thanks for helping.

[2018-01-08 16:44] #1917 closed

[2018-01-08 16:49] #1892 closed

[2018-01-08 16:49] jywarren commented on #1892
publishing!

[2018-01-08 16:53] SidharthBansal opened #1925 "Redundant "Share your work" on the dashboard"
### Please describe the problem (or idea)
There are 3 Share your work links to the same page on the dashboard. One inside the navbar's menu. Other on sidebar and one in the Activity Section
![image](https://user-images.githubusercontent.com/20972099/34681483-0a5ae772-f4c2-11e7-8abf-3c99d70573af.png)

I don't know whether it is a feature or redundancy that needs to be removed.
### Please show us wh

[2018-01-08 17:00] jywarren commented on #1892
That worked! Great!

[2018-01-08 18:43] SidharthBansal opened #1928 "Wiki Pages can't be sorted by the pageviews"
### Please describe the problem (or idea)
Wiki pages do not get sorted in the descending order on https://publiclab.org/wiki/popular
![image](https://user-images.githubusercontent.com/20972099/34686475-ae584efa-f4d1-11e7-8e9e-56549d859374.png)

[2018-01-08 18:48] SidharthBansal commented on #1928
I think it is due to the .order('views DESC') instead of .order('node.views DESC')
https://github.com/publiclab/plots2/blob/646deeb659cd62064792b4134155717d08a5b5a5/app/controllers/wiki_controller.rb#L309-L318
@jwarren Shall I make a pr for it?

[2018-01-08 19:04] jywarren opened #1929 "Stale pages listing at /wiki/stale"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2018-01-08 19:12] SidharthBansal opened #1930 "Wiki Pages can't be sorted by the name"
### Please describe the problem (or idea)
List of wiki pages is available at https:publiclab.org/wiki. User is not able to sort them according to the name
![image](https://user-images.githubusercontent.com/20972099/34687794-d6e078c6-f4d5-11e7-9ab9-6ee0165d5f48.png)

[2018-01-08 19:27] SidharthBansal opened #1931 "Not able to add subscriptions"
### Please describe the problem (or idea)
On https://publiclab.org/subscriptions by entering the tags and clicking on the add it doesn't add the subscriptions but shows error

[2018-01-08 19:34] SidharthBansal commented on #1931
I think this is a part of #1846 issue

[2018-01-08 19:58] jywarren commented on #1853
thank you!!!

On Mon, Jan 8, 2018 at 11:44 AM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-01-08 20:50] jywarren commented on #1930
Ah, that's unfortunate. Do you think this is related to an issue with the
routes.rb file as per Rails 4.1 upgrade? This was actually implemented not
too long ago. Can you check what controller and action is being used to
generate this page? Thanks for the catch!!

On Mon, Jan 8, 2018 at 2:12 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-01-08 20:51] jywarren commented on #1925
I think we're going to be revisiting the Share your work button pretty soon
but if it's all right I think we'll leave this as is for now. Partly this
is because different people look in different places for things, depending
on their preferences and expectations. And sharing your work is something
we really want people to do!

On Mon, Jan 8, 2018 at 11:53 AM, Sidharth Bansal <notifications@github.

[2018-01-08 20:54] jywarren commented on #1931
Oof, good catch, thank you. We'll need to debug the route for this.

On Mon, Jan 8, 2018 at 2:34 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-01-08 20:54] jywarren commented on #1928
Sure, can you confirm your fix in local testing? Thank you!

[2018-01-08 20:57] jywarren commented on #1925
Thanks so much for thinking through this carefully, though!

[2018-01-08 20:57] #1925 closed

[2018-01-08 20:58] jywarren commented on #1931
Also, if you're interested in preparing this or some of your other recent issues for others to take up, there's some guidance on preparing first-timer issues here: https://publiclab.github.io/community-toolbox/#r=all

Thanks so much!

[2018-01-08 20:59] jywarren commented on #1931
(and just ping me if you feel you want to label one of these for first timers, etc)

[2018-01-08 21:01] jywarren commented on #1918
Hmm, are you sure you're not a moderator? It's this line of code:

https://github.com/publiclab/plots2/blob/646deeb659cd62064792b4134155717d08a5b5a5/app/views/layouts/_header.html.erb#L126

Thanks!

[2018-01-08 21:05] SidharthBansal commented on #1931
yeah thanks

[2018-01-08 21:07] SidharthBansal opened #1932 "View All link on wiki pages"
### Please describe the problem (or idea)
When clicking on the View all link on the left sidebar to know all the contributor, it shows wrong or no contributors even though there exist many contributors on the wiki page.
For example, https://publiclab.org/wiki/plots-staff on the left sidebar shows that atleast there are 3 contributors with their name but on the https://publiclab.org/contributors/pl

[2018-01-08 21:13] jywarren commented on #1914
Hi, @georgepampalis -- looks like you have some code pushed here: https://github.com/publiclab/plots2/pull/1915

@ver-kat -- we have additional issues here, too! https://publiclab.github.io/community-toolbox/#r=all

If none are as well formatted as this we can go in and find one and tidy it up! Thanks!

[2018-01-08 21:14] jywarren commented on #1914
And resolved in #1915 -- thanks to everybody!

[2018-01-08 21:17] jywarren opened #1933 "a UI for inputting social media usernames into your profile"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2018-01-08 21:17] jywarren commented on #1933
@ebarry - broke this out of one of yours re: social media and profiles. Nice and discrete!

[2018-01-08 21:19] jywarren commented on #1932
I believe this should say "Contributors for the topic" somehow more
clearly. Because it's contributors on the tagname, not the wiki page.
You're right, it's ambiguous! Can we rename it for clarity?

On Mon, Jan 8, 2018 at 4:07 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-01-08 21:26] #1848 closed

[2018-01-08 21:27] SidharthBansal commented on #1932
Yeah... Actually, I thought for a moment that it is the tag name but I got a little confused, what exactly it is. As the just next link named "View all" points to /contributors/name_of_wiki_page it makes more ambiguous to find that this is a bug. I think it should be "View all contributors for this wiki page" or something like this.

[2018-01-08 21:30] SidharthBansal commented on #683
@jywarren I will like to contribute to this if no one is working on this.

[2018-01-08 21:31] SidharthBansal commented on #1932
Yeah for sure. I will make a first-timer-issue for it soon

[2018-01-08 21:32] #1896 closed

[2018-01-08 21:33] #1914 closed

[2018-01-08 21:40] jywarren commented on #1932
I think it was based on the idea that a wiki page is likely to have a URL
path that matches a tag name, which is not a strong assumption however. The
hope is also just that we show some people who've posted related work
recently!

On Mon, Jan 8, 2018 at 4:31 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-01-08 21:41] jywarren commented on #683
oooh, this would be tremendous. But it's a big feature! I'm happy to help
support in any case. Thank you!

On Mon, Jan 8, 2018 at 4:30 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-01-08 21:52] SidharthBansal commented on #683
I have started to learn apis and how to use them.
Also, I am nowadays trying to use omniauth at my application 'Event Manager' to do facebook logins etc.
Thanks, @jywarren for your support you help a lot!!!

[2018-01-08 21:57] jywarren opened #1934 "ability to refresh displayed inline maps' displayed data when you pan/zoom"
### Please describe the problem (or idea)

You can embed inline maps using this inline powertag: https://publiclab.org/wiki/inline-maps

The code driving this is here:

https://github.com/jywarren/plots2/blob/184eced60d9d6842cad8df469bb1df2838528522/app/models/concerns/node_shared.rb#L102-L124

And the template is here: https://github.com/jywarren/plots2/blob/master/app/views/map/_leaflet.html.erb

[2018-01-08 21:58] jywarren commented on #683
you too!

On Mon, Jan 8, 2018 at 4:52 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-01-08 22:16] #1853 closed

[2018-01-08 22:34] #1921 closed

[2018-01-08 22:35] SidharthBansal commented on #1932
@jwarren also there are grammar issues here
![image](https://user-images.githubusercontent.com/20972099/34695822-4e7ceea2-f4f2-11e7-9ae5-8ee318bee1f9.png)
See 1 view"s" instead of 1 view

[2018-01-08 22:41] SidharthBansal commented on #1859
@jwarren can you explain to me whether this is a feature?

[2018-01-08 22:59] SidharthBansal opened #1936 "Change text on left sidebar"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-01-08 23:00] SidharthBansal commented on #1932
@jywarren can you please put tags to #1936.
Thanks

[2018-01-08 23:20] guolivar opened #1938 "Error posting an answer"
### Please describe the problem (or idea)

I saw a question that I could provide an answer for so I prepared a lengthy answer on a plain text editor (gedit on CEntOS 7) that I pasted on the "Post an answer" box.
I used formatting and added quite a few links in the text.
I hit "Preview" and I saw the answer the way I wanted with all the links and format displaying correctly. Then I click "Publish"

[2018-01-09 02:47] membrq commented on #1829
Is this issue still up for grabs?

[2018-01-09 08:03] Diksha2008 commented on #1918
https://github.com/publiclab/plots2/blob/9e0f5e6ba58b72390cb7772c9ebbb088d672d4a5/app/views/users/list.html.erb#L8
https://github.com/publiclab/plots2/blob/9e0f5e6ba58b72390cb7772c9ebbb088d672d4a5/app/views/users/list.html.erb#L22
I think this is due to ' = ' instead of '==' on line 8 and 22
@jywarren May I open a PR to resolve this?

[2018-01-09 08:31] sagarpreet-chadha commented on #1918
Nice Catch @Diksha2008 !

[2018-01-09 09:01] Diksha2008 commented on #1931
@jywarren Can I resolve this?

[2018-01-09 09:22] sagarpreet-chadha commented on #1938
@jywarren sir...may i solve this ?

i think this is because of the face that we are exploiting properties of GET request  for posting answers in `answers#create` .
If we change it to POST , then **word-limit** would be removed .
What do you think ?

[2018-01-09 09:38] Gauravano commented on #1934
@jywarren I want to try this one

[2018-01-09 15:39] SidharthBansal commented on #1928
I was wrong, it was not due to "node." thingy.
I checked the views and changed the totalviews to views and finally it worked
![image](https://user-images.githubusercontent.com/20972099/34728836-ff4c24d0-f580-11e7-82e1-bda1296fd9e4.png)

[2018-01-09 16:51] SidharthBansal commented on #1928
Is it due to the issue #1196 ?I guess the error is in the "totalviews". I changed the value of the "views" from the console but the /wiki/popular shows no added number of "pageviews". I tried to change "totalviews" to "views" in the app/views/wiki/_wikis and then it was showing output according to the values of "views" set by the rails console

[2018-01-09 17:06] jywarren commented on #1132
Partial solution here! https://github.com/publiclab/plots2/issues/1340

[2018-01-09 18:51] ebarry commented on #1802
Is this issue still the right place to be working on other aspects of this, such as grabbing the lead image (if exists) and using that as an image in twitter? thanks for any advice!

[2018-01-09 18:59] jywarren commented on #1931
Please - that would be great -- Sidharth, does that sound good? Thanks!

On Tue, Jan 9, 2018 at 4:01 AM, Diksha Manchanda <notifications@github.com>
wrote:

[2018-01-09 18:59] jywarren commented on #1918
Oh, please do -- great catch!

On Tue, Jan 9, 2018 at 3:31 AM, Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-01-09 19:12] ebarry commented on #546
Is it possible that this has been fixed? more recent postings have occurred in Chinese characters and i have not observed any garbled characters.

[2018-01-09 19:25] jywarren commented on #1802
Yes, i think we can indicate which we've checked off the list (profile tagging, instagram) and note the remaining broken-out issues, such as getting lead image fixed and creating a UI for inputting social media handles (which i broke out into https://github.com/publiclab/plots2/issues/1933) -- if we can get the lead description of the issue a bit more organized into a list like this then I can kee

[2018-01-09 19:28] jywarren commented on #1802
Also, @sagarpreet-chadha -- i wonder if we could test this out by pointing an IFTTT.com RSS recipe at a Github Gist of a static RSS feed with the correct `<image>` node properties as you suggest [above](https://github.com/publiclab/plots2/issues/1802#issuecomment-347830345). Then see if it can pick out the image from that -- in a test tweet! Then we could create a FTO for the rss builder template

[2018-01-09 19:39] jywarren commented on #1938
Hi all - thank you very much for sharing this, and thanks @Sagarpreet for
your proposed fix. Can we confirm with a test that creates a very long
answer and open a PR with that, then solve it with the POST method? Thanks
a lot!!!

On Tue, Jan 9, 2018 at 4:22 AM, Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-01-09 19:42] jywarren commented on #1829
Hi, @membrq - I haven't heard from @kkavita92 but willing to accept a pull request -- or to offer assistance -- to anyone here. There are also some new issues up in the `candidates` section here:

https://publiclab.github.io/community-toolbox/#r=all

These aren't quite as well documented but many are pretty close. Plenty of work to go around, and thank you!

[2018-01-09 19:51] jywarren commented on #1859
Hi, you should be able to delete a tag if:

* it's your note or question
* it's your tag

I forget the exact rules for a wiki page, but there are two places to look if it's wrong -- first in the tag controller and second in the markup in /app/views/tags/ for displaying a tag. Actually, a third place is where new tags are just created, they're done in pure javascript without a template. So there co

[2018-01-09 19:57] jywarren commented on #1932
Done, shall we close this one then? Thanks! Great work!

[2018-01-09 20:01] jywarren commented on #1934
hi, this is a big project but i'd be happy to help you tackle it piece by
piece. Thanks and open a PR sooner rather than later! Thanks!!

On Tue, Jan 9, 2018 at 4:38 AM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-01-09 20:19] ebarry opened #1940 "Add map of people to publiclab.org/people"
### Please describe the problem (or idea)

Here are draft steps (still open for edit)

- [x] display the map on the profile page (#1965)
- [x] design a user interface so people can access the "share your location" feature from their profile page (#1965)
- [x] Write up page on location privacy that we link to (use docs that we wrote for guiding the feature: "you can share your location, but only to

[2018-01-09 20:28] ebarry commented on #1930
Great catch! thank you for helping fix this!

[2018-01-09 20:32] jywarren commented on #1928
Hmm, I'm not sure. Can you look for where we increment the view count? It would be under either the wiki controller or potentially a model method in node.rb -- maybe we can diagnose that way. Thanks!!

[2018-01-09 20:50] ebarry opened #1941 "Review autosuggest results for unusual duplicates"
### Please describe the problem (or idea)

I was surprised to see five listings of the same question autosuggested when i typed `sample` into the search box. Is this expected?

<img width="659" alt="screen shot 2018-01-09 at 2 52 54 pm" src="https://user-images.githubusercontent.com/161439/34742610-bf44d55c-f554-11e7-9d52-9ef72f7dfc1b.png">

[2018-01-09 20:57] ebarry commented on #183
This has been completed.

[2018-01-09 20:57] #183 closed

[2018-01-09 21:49] ebarry commented on #302
hi @dbeavers is this still an issue?

[2018-01-09 22:02] jywarren commented on #1940
I think we could start by combining the "questions" and "answers" shown on profile pages: https://publiclab.org/profile/warren into a single column, and displaying a small map in the right-most column.

If the person has a location marked, it can show that location. If not, we can show a link there to enter your location, which would trigger the location selection modal (same as the map marker ico

[2018-01-09 22:02] jywarren commented on #1940
Let's start with a sketch of this interface so we're all on the same page!

[2018-01-10 02:19] membrq commented on #1829
Thanks, I appreciate that! I'll have a look at the `candidates` section as well.

[2018-01-10 02:30] SidharthBansal commented on #1931
@Diksha2008 go for it

[2018-01-10 02:33] SidharthBansal commented on #1932
@jywarren What about the not having condition for pluralisation in the locales? Does it needs to be tackled later on??

[2018-01-10 02:34] SidharthBansal commented on #1930
yeah, happy to help

[2018-01-10 03:22] membrq commented on #1829
Almost done setting up the environment. I followed steps 1-7 and 13, then tried to run `passenger start`. I got the following NoMethod error in localhost:3000.
[code]
Is there something else I need to do before starting the server?

[2018-01-10 03:49] SidharthBansal commented on #1928
Yeah under node.rb, total views is given and it points to issue#1196. Impressionist gem is not working properly since then.

[2018-01-10 03:50] dbeavers commented on #302
I can't find any way to check it now.  Where can I find a page that
generates a .ical file?

On 2018-01-09 15:49, Liz Barry wrote:

[2018-01-10 05:27] ankitbhardwaj78 commented on #1936
can i take this issue..

[2018-01-10 05:29] ankitbhardwaj78 commented on #1933
@jywarren can i take this issue??

[2018-01-10 05:38] SidharthBansal commented on #1859
So, I was thinking right. It is a bug, not a feature.
And yeah it is only in one URL, two tags balloon and balloon-mapping.
One thing more, I am getting 'X' for other users' tag that is not an expected behaviour and that is happening for many wiki pages. That I think is js issue. Will link into both

[2018-01-10 06:11] sagarpreet-chadha commented on #1802
Okay @jywarren ...working on it .

[2018-01-10 06:13] sagarpreet-chadha commented on #1938
Okay @jywarren , Thank You , opening a PR soon .

[2018-01-10 13:03] Diksha2008 commented on #1828
@jywarren I would like to work on this if @zhirschtritt hasn't!

[2018-01-10 14:46] jywarren commented on #1706
Another suggestion: we could use the sidebar space for a table of contents for longer documents.

[2018-01-10 14:48] jywarren commented on #1808
Hi, @tungla -- just checking if you're able to open a pull request with this code. Thanks!

[2018-01-10 14:50] jywarren commented on #1706
Also noting that for pages where no sidebar is desired, there's now a `sidebar:none` powertag: https://publiclab.org/wiki/power-tags

[2018-01-10 15:07] jywarren commented on #1340
For folks wondering, i believe this is available!

[2018-01-10 16:21] ebarry commented on #175
To the existing header on etherpad::

I propose adding a link directly to chat so that we don't have the problem shown above for /lists

Talk page for [wiki page name] | This page allows for synchronized editing by multiple people. [Learn more](https://publiclab.org/wiki/talk-pages). If you are trying to reach someone right now, please visit [publiclab.org/chat](/chat), or call in on any Tuesday a

[2018-01-10 16:24] jywarren commented on #175
I'd be careful w text that you may ever want to change, but we could put a
feature there so you could change it anytime w the features system?

On Jan 10, 2018 11:22 AM, "Liz Barry" <notifications@github.com> wrote:

[2018-01-10 16:24] ebarry commented on #302
hmm i'm not sure. We might not be doing iCal at all anymore, in which case we could also close https://github.com/publiclab/plots2/issues/354

[2018-01-10 16:26] #1757 closed

[2018-01-10 16:27] jywarren commented on #1480
I think #1449 is the best place to start!

[2018-01-10 16:27] #1480 closed

[2018-01-10 16:28] jywarren commented on #1828
Yes I think so! But also consider this one which is similar and very useful!

https://github.com/publiclab/plots2/issues/1340

On Jan 10, 2018 8:03 AM, "Diksha Manchanda" <notifications@github.com>
wrote:

[2018-01-10 16:33] Mujadded commented on #1936
@ankitbhardwaj78 have you started working on it ? or do you have any pull request? if not can I start it?

[2018-01-10 16:42] jywarren commented on #1936
Hi, all! Thanks please do take this up and post a PR -- I think @ankitbhardwaj78 has first take on it if they're interested. But there are PLENTY of issues to go around! Please check out https://publiclab.github.io/community-toolbox/#r=all for more -- much appreciated, thanks everybody!

[2018-01-10 16:43] jywarren commented on #1936
Also, perhaps we should have it say "Contributors on this topic" instead of "Contributors for the topic" -- just a small change but much appreciated!

[2018-01-10 16:46] tungla commented on #1808
Yes @jywarren, gonna open a PR soon, sorry for being late

[2018-01-10 16:58] ebarry commented on #175
it would be great to handle this through a feature

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Wed, Jan 10, 2018 at 11:24 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-01-10 17:19] Mujadded commented on #1929
Hi, @jywarren by  `a list of wiki pages based on which have been untouched the longest` did you mean to sort all pages from oldest to news (the exact opposite of index page) in `https://publiclab.org/wiki/stale` . ( I am sorry if it's a stupid question  :disappointed: )

[2018-01-10 18:10] ankitbhardwaj78 commented on #1936
@Mujadded  i have created the PR ..

[2018-01-10 19:16] ViditChitkara commented on #1340
@jywarren May I have a go at it?

[2018-01-10 19:27] jywarren opened #1951 "Add "Join" button to people lists"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2018-01-10 19:28] jywarren opened #1952 "Change text of tag subscription email to something friendlier"
https://github.com/publiclab/plots2/blob/master/app/mailers/subscription_mailer.rb#L44

Says "New tag added on #{node.title}" -- but maybe something like:

`@person added ______ to the [spectrometry] topic`

@ebarry ideas on the wording here?

[2018-01-10 20:58] JahlHernandez commented on #1951
Hey @jywarren I could give it a shot if that's okay :)

[2018-01-10 20:59] jywarren commented on #1951
That would be super, thanks so much!

On Wed, Jan 10, 2018 at 3:58 PM, Jesús <notifications@github.com> wrote:

[2018-01-10 21:03] JahlHernandez commented on #1951
Perfect, I'll get right to it!

[2018-01-10 21:20] sagarpreet-chadha commented on #1802
@jywarren , the above proposed solution did not worked . However changing various tags in rss i was able to produce images in tweets .

I used the **IFTTT recipe**  : [https://ifttt.com/applets/66362400d-rss-feed-to-post-a-tweet-with-image-and-url](https://ifttt.com/applets/66362400d-rss-feed-to-post-a-tweet-with-image-and-url)
and
link to changed xml format is : [https://github.com/sagarpreet-cha

[2018-01-10 21:27] sagarpreet-chadha commented on #1802
Moreover , the **email id** and **description/content** are also shown in tweets now (in above pic) . Also instead of email-id we can give link to twitter profile of user (not tried though :P) .

[2018-01-10 21:32] jywarren commented on #1802
That'd be great! Thank you so much!

On Jan 10, 2018 4:27 PM, "Sagarpreet Chadha" <notifications@github.com>
wrote:

Moreover , the *email id* and *description/content* are also shown in
tweets now (in above pic) . Also instead of email-id we can give link to
twitter profile of user (not tried though :P) .

—
You are receiving this because you were mentioned.

Reply to this email directly, view it

[2018-01-10 21:32] jywarren commented on #1340
Yes please! We'd really appreciate it.

On Jan 10, 2018 2:18 PM, "Vidit" <notifications@github.com> wrote:

@jywarren <https://github.com/jywarren> May I have a go at it?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/plots2/issues/1340#issuecomment-356706842>,
or mute the thread
<https://github.com/notifications/

[2018-01-10 21:37] jywarren commented on #1940
Oh, this looks cool! If the user has the `blurred:true` tag we should not show a map marker, but if they don't, we can!

We could display a generic map tile with a white button centered over it for people who haven't entered a location yet --

![map](https://a.tiles.mapbox.com/v3/jywarren.map-lmrwb2em/10/257/423.png)

In the middle of the tile, the button could say `Share your location` -- what do

[2018-01-10 21:52] jywarren commented on #1929
I believe so, yes! So I think it could use the same template and possibly
same code, but ordered in reverse. Could that work?

On Jan 10, 2018 12:19 PM, "Mujadded Al Rabbani Alif" <
notifications@github.com> wrote:

[2018-01-10 22:37] Gauravano commented on #1934
Hi @jywarren, I was just considering all the steps as stated by you.I think(not sure) we can change the flow as - instead of making call to API for near points, can't we modify [https://github.com/jywarren/plots2/blob/184eced60d9d6842cad8df469bb1df2838528522/app/models/concerns/node_shared.rb#L102-L124](https://github.com/jywarren/plots2/blob/184eced60d9d6842cad8df469bb1df2838528522/app/models/con

[2018-01-10 22:42] jywarren commented on #1934
Hmm, well you definitely highlighted the code section we want. I think we
could make another function for this (maybe this is what you're saying)
like "Node.near()" or something, call it here, but then also provide a way
the client side can call it too. But this last way of calling it externally
seems like it ought to be via the API, a more universal interface we can
offer to others for use. What

[2018-01-10 22:55] Gauravano commented on #1934
Hmm...making API can definitely be useful for future implications of this feature so ok, I will stick with your above-stated flow and will open pull soon soon for the first part.Also, plz suggest changes in #1935

[2018-01-11 02:11] membrq commented on #1829
Wanted to let you know that I'm no longer getting the above error. Haven't changed a thing since I last tried running the server, but now it's working. I guess the gremlins have forgiven me! :)

[2018-01-11 02:56] Mujadded commented on #1929
Yes 😃  I am taking it then !

[2018-01-11 03:27] membrq commented on #1952
Can I claim when the wording is finalized?

[2018-01-11 03:30] jywarren commented on #1829
Glad to hear it! :-)

On Jan 10, 2018 9:12 PM, "Marie-Élise" <notifications@github.com> wrote:

[2018-01-11 04:13] jywarren commented on #1829
Solved in #1955-- thanks!!!

[2018-01-11 04:13] #1829 closed

[2018-01-11 04:14] jywarren commented on #1952
That'd be great, thanks!!!

On Jan 10, 2018 10:28 PM, "Marie-Élise" <notifications@github.com> wrote:

[2018-01-11 05:06] jywarren commented on #1933
Yes please!!

On Jan 10, 2018 12:29 AM, "Ankit Bhardwaj" <notifications@github.com> wrote:

[2018-01-11 13:23] sagarpreet-chadha opened #1958 "Adding images and decription to tweets"
Hi, this is a [first-timers-only](https://github.com/publiclab/plots2/projects/2) issue. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2018-01-11 13:26] sagarpreet-chadha commented on #1802
I have created FTO issue #1958 , although i think it is a little complicated for first timers .

[2018-01-11 15:59] Mujadded commented on #1929
#1957

[2018-01-11 15:59] Mujadded commented on #1929
@jywarren I have open a pr for this in #1957

[2018-01-11 18:03] #1828 closed

[2018-01-11 18:07] jywarren commented on #1929
Fixed by @Mujadded -- thank you!!!

[2018-01-11 18:07] #1929 closed

[2018-01-11 18:14] jywarren commented on #1802
Great. I'll take a look and add tags!

On Thu, Jan 11, 2018 at 8:26 AM, Sagarpreet Chadha <notifications@github.com

[2018-01-11 18:15] jywarren commented on #1958
This is a multi-step issue, but we're here to help! Please open a pull request with your initial code and feel free to ask for help - we can look it over and provide support.

[2018-01-11 18:37] jywarren commented on #1928
Hmm, but it looks like totalviews is actually incrementing -- visit any recent post and there are counted views -- maybe that comment is out of date? I think impressionist must be working. But `totalviews` is from another table, since that's how Impressionist works. I think we have to look on stack overflow or under the Impressionist docs for how to sort by an impressionist-tracked view count?

I

[2018-01-11 18:39] jywarren commented on #1808
no problem! Thanks!

[2018-01-11 18:54] jywarren commented on #1859
Great!

[2018-01-11 18:55] jywarren commented on #1859
I just adjusted the title accordingly. Thanks!

[2018-01-11 18:56] #1931 closed

[2018-01-11 18:57] jywarren commented on #1932
I'm not that familiar with it, but I'd be inclined to let pluralization be as it is. There is some guidance here, though: https://robots.thoughtbot.com/pluralizing-rails-i18n-translations

[2018-01-11 18:57] jywarren commented on #1932
Can we close this issue if we've broken it up into sub-parts, then? Thank you!

[2018-01-11 19:41] ebarry opened #1960 "Move display of tags to more prominent location on content pages"
### Please describe the problem (or idea)

The idea is to move tags up higher on the page. Some reasons:

* tags are the main way we organize related content on the site
* to help people realize that tags are actually clickable (recently some long time Public Labbers related to me that they had never known tags even existed)
* to encourage people to add tags, and by doing so organize related conte

[2018-01-11 19:47] ebarry commented on #1873
The short story is that this issue requests another way to sort the order that tags are displayed on /tags. Specifically, that the column header "Your Subscriptions" would be clickable with the result that all tags that you are subscribed to go to the top of the list.

[2018-01-11 19:48] jywarren commented on #1873
Great, could you narrow the title description to note this refined issue definition? I think this is nice and discrete and if well-described, we can get it solved -- @Ronaq13 we'd love your help if you're still interested!

[2018-01-11 19:51] jywarren commented on #1873
So:

1. Make a link where it says "Your Subscriptions"
2. Develop a new sorting view, using a new URL perhaps like `/tags/warren` (your username) ? or `/tags/mine`? (preference?)

I can then add links to relevant lines of code so this'll be easier to tackle. Thanks!

[2018-01-11 19:51] jywarren commented on #1873
The wiki page sorting shows a good example of this kind of sorting link: https://publiclab.org/wiki

[2018-01-11 19:55] ebarry commented on #1891
this is awesome! I can see how many unique contributors we have in a given timeperiod, for example  this one: https://publiclab.org/stats/range/10-05-2015/10-05-2016/
thank you so much everyone for working on this!!!

[2018-01-11 20:51] #1932 closed

[2018-01-11 22:07] SidharthBansal commented on #1960
@ebarry May I take this?
I think it will be better to have tag listing below the tabs. That will not compromise with the features of the sidebar.

[2018-01-11 23:21] zhirschtritt commented on #1828
Sorry I dropped off the map on this!

[2018-01-11 23:29] SidharthBansal opened #1961 "Duplication in error messages"
### Please describe the problem (or idea)
I am getting duplicate error_messages on the signup page for email addresses validity

![image](https://user-images.githubusercontent.com/20972099/34786327-dbca2c44-f659-11e7-9384-f1cddb1df569.png)

[2018-01-12 01:36] SidharthBansal opened #1963 "Broken link in API.md"
https://publiclab.org/feed/authorname.rss is broken in the API.md file

[2018-01-12 06:18] ViditChitkara commented on #1891
It was a fascinating task, indeed!

[2018-01-12 07:25] Mujadded commented on #1958
Can i claim it 😀 ?

[2018-01-12 10:20] ViditChitkara commented on #919
@jywarren, @ebarry I want to work on it if it is available!

[2018-01-12 12:12] sagarpreet-chadha commented on #1940
Opened PR #1965 .

[2018-01-12 14:14] ViditChitkara commented on #919
@jywarren I have an idea about this feature.
Just like including inline power tags in the body we could use another syntax For eg:- {Changed title}. We could then use regex to detect this and embed a partial just like question grids, activity grids, etc.
Your thoughts??

[2018-01-12 14:35] jywarren commented on #1912
Hi, @rishabhptr - looks like you opened a branch for this but not yet a PR? Is it ready? Can you open a PR or do you needs some help with that? Thank you!!

[2018-01-12 14:54] rishabhptr commented on #1912
@jywarren Yes, as you suggested there is a flag for autoselect which is true by default and setting it to false does fix the problem.But that caused multiple solr-dependent tests to fail on my local environment.
Not really sure how this change have caused them to fail, should I make a pr to see how these tests go?

[2018-01-12 15:04] jywarren commented on #1912
Yes please -- we're actually removing solr soon, so I don't think it'll be
an issue either way! Thank you!

On Fri, Jan 12, 2018 at 9:54 AM, Rishabh Singh <notifications@github.com>
wrote:

[2018-01-12 15:10] #1897 closed

[2018-01-12 16:19] Mujadded opened #1967 "Unnecessary code in route.rb"
While fixing the issue #1929 an unnecessary line was written in route.rb which have to be removed

**remove:**

` in route.rb`

[2018-01-12 16:20] Mujadded commented on #1967
I am doing it

[2018-01-12 17:10] ViditChitkara opened #1972 "Moderation(ban) links shown to a normal user are not required"
### Please describe the problem (or idea)

When a normal user views contributors' list (/people), there are moderation links which actually have no use to a normal user.
![plots-people-1](https://user-images.githubusercontent.com/22616017/34885818-2935cc84-f7e7-11e7-867e-b59673e76177.jpg)

### Expected Behavior

The column named moderation (consisting links to ban a user) should be visible only to

[2018-01-12 17:20] #1463 closed

[2018-01-12 17:20] #1766 closed

[2018-01-12 17:20] #1784 closed

[2018-01-12 17:20] #209 closed

[2018-01-12 17:30] Diksha2008 commented on #1972
I think this is same as the issue #1918

[2018-01-12 18:16] SidharthBansal opened #1975 "Unnecessary Code in Routes.rb"
The following line needs to be removed, a delete action does not have a get HTTP verb
https://github.com/publiclab/plots2/blob/46c129e6f0f2b4f99c3a982e3d9b58f1b5fc7573/config/routes.rb#L102

[2018-01-12 18:18] jywarren opened #1977 "Add comments to search"
Our new search system is real nice! We have basics of comment search built:

https://github.com/publiclab/plots2/blob/01fac7cda6ab3df0ee9ba492f489edeef741ece9/app/services/typeahead_service.rb#L35-L46

But it needs to be integrated.

We'll need a `search_comments` function similar to this one:

https://github.com/publiclab/plots2/blob/01fac7cda6ab3df0ee9ba492f489edeef741ece9/app/services/typeahead

[2018-01-12 18:36] ViditChitkara commented on #1977
Shall I try?

[2018-01-12 20:15] Gauravano commented on #1934
Hi jeff I have used [https://github.com/publiclab/plots2/blob/01fac7cda6ab3df0ee9ba492f489edeef741ece9/app/models/concerns/node_shared.rb#L122-L146](https://github.com/publiclab/plots2/blob/01fac7cda6ab3df0ee9ba492f489edeef741ece9/app/models/concerns/node_shared.rb#L122-L146) for fetching coordinates, the function given on your repo's link i.e., [https://github.com/jywarren/plots2/blob/184eced60d9

[2018-01-12 20:40] jywarren commented on #1977
Sure, that'd be great! Thanks!

On Fri, Jan 12, 2018 at 2:07 PM, Vidit <notifications@github.com> wrote:

[2018-01-12 20:42] jywarren commented on #1975
Shall we replace it with a `put` so this button still works? And i think we can set the method on that button somehow, can't we? https://github.com/publiclab/plots2/blob/01fac7cda6ab3df0ee9ba492f489edeef741ece9/app/views/wiki/_header.html.erb#L73

[2018-01-12 20:44] #1854 closed

[2018-01-12 20:53] #1912 closed

[2018-01-12 20:53] jywarren commented on #1912
Fixed! Thanks!

[2018-01-12 20:55] #1961 closed

[2018-01-12 20:59] jywarren commented on #1828
no problem! Hope you're well -- and any time you want to work on an issue,
ping me!

On Thu, Jan 11, 2018 at 6:21 PM, zhirschtirtt <notifications@github.com>
wrote:

[2018-01-12 20:59] jywarren commented on #1828
also -- i bought a grain mill. rad.

On Fri, Jan 12, 2018 at 3:57 PM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-01-12 21:00] asahu8 commented on #1951
@jywarren  I am new to this project. I went through the issue description. I see there are two things to be done. 1st: add the link, 2nd: update the redirection after the create is called. Please confirm. Is it still okay if I submit a PR or should I pickup something else? Please advice. :)

[2018-01-12 21:46] jywarren commented on #1934
Aha, true -- thanks! We updated that since.

[2018-01-12 21:49] jywarren commented on #1951
:-) welcome, first of all! If you take a look at @JahlHernandez work perhaps there's one of those parts that they are not addressing yet -- otherwise, there are lots of projects to tackle at https://publiclab.github.io/community-toolbox/#r=all

Thanks a lot!

[2018-01-12 21:58] jywarren commented on #175
Features are implemented like this:

https://github.com/publiclab/plots2/blob/95e517f19881d9f3d2f7101cb60494b60bee9610/app/views/sidebar/_featured.html.erb#L7-L9

We could add one to the end of this line:

https://github.com/publiclab/plots2/blob/95e517f19881d9f3d2f7101cb60494b60bee9610/app/views/talk/show.html.erb#L1

This could use reposting as a clean issue with these links and steps, and would

[2018-01-12 22:01] steviepubliclab commented on #1897
Ohh closed? did it get finished? that would be so awesome!

-Stevie

On Fri, Jan 12, 2018 at 9:10 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-01-12 22:08] Gauravano commented on #1897
yes @steviepubliclab its implemented successfully

[2018-01-12 22:14] steviepubliclab commented on #1897
Awesome!!! thanks so much. going to test it out now.

-Stevie

On Fri, Jan 12, 2018 at 4:08 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-01-12 22:15] jywarren opened #1981 "An amazing week -- thank you all!"
Hi, everybody - i'm just opening an issue to say THANK YOU to everyone who's been coding here recently. ([cross-post on the Public Lab site](https://publiclab.org/notes/warren/01-12-2018/an-amazing-week-of-software-contributing-at-public-lab))

This is one of the most remarkable weeks we've ever had in this project. I had a pretty busy week and was not able to help with every detail over the past

[2018-01-12 22:18] steviepubliclab commented on #1897
Hm I don't see how to do it. I'm looking at this one:
https://publiclab.org/questions/stevie/12-19-2017/what-resources-are-available-to-help-people-monitor-noise-pollution

and hoping to move the comment from Primack into the answers section. Any
ideas?

-Stevie

On Fri, Jan 12, 2018 at 4:14 PM, Stevie Lewis <stevie@publiclab.org> wrote:

[2018-01-12 22:21] jywarren commented on #1897
Sorry, it's not published to the site yet! Late tonight!!!

On Fri, Jan 12, 2018 at 5:18 PM, Stevie <notifications@github.com> wrote:

[2018-01-12 22:23] jywarren commented on #1981
I wanted also to ask if anyone's interested in joining our reviewers group -- we'd like to start using this more a bit as there are lots of PRs and we could use the help in troubleshooting and kindly welcoming new people in and helping their PRs get ready -- @publiclab/reviewers

If you'd like to join this group of "kind welcoming helpers" -- ping me here and I'll add you!

[2018-01-12 22:38] SidharthBansal opened #1982 "Lead Wiki pages on Power tag search"
Urls like www.publiclab.org/tag/balloon-mapping* end up in showing it leads to no wiki pages but balloon-mapping may be a wiki page.
![image](https://user-images.githubusercontent.com/20972099/34898168-a1a2383a-f817-11e7-8c2f-851228d423f6.png)
![image](https://user-images.githubusercontent.com/20972099/34898187-b0a26562-f817-11e7-9e9c-9e569b1a187a.png)
Refer #1872

[2018-01-12 22:47] SidharthBansal commented on #1981
@jywarren I want to

[2018-01-12 22:57] Gauravano commented on #1981
Jeff I also want to join

[2018-01-12 22:59] SidharthBansal commented on #1859
The implementation is ---if the node and the tag belongs to the same user then the javascript will show the alert box and will pass in the controller the node and tag ids, then delete the tag which has some author.
https://github.com/publiclab/plots2/blob/3db7e63c37d10516576a4cf585e1d05584c06682/app/views/tag/_tags.html.erb#L8-L14
https://github.com/publiclab/plots2/blob/3db7e63c37d10516576a4cf585

[2018-01-12 23:02] jywarren commented on #1981
Invited you both to the group!

[2018-01-12 23:07] jywarren commented on #1981
Ah, @seafr you too! I tried to comb through recent comments but I don't know a good view for that actually.

There is a list of everyone who's committed code at the bottom of this page, but it's not including issue creators, reviewers, other folks who make this community work:

https://publiclab.github.io/community-toolbox/

But we're trying to solve that too! https://github.com/publiclab/communit

[2018-01-12 23:08] Gauravano opened #1983 "Cancel button required for ease"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2018-01-13 03:17] Mujadded commented on #1981
@jywarren Can I join join too :) ?

[2018-01-13 05:25] ViditChitkara commented on #1981
@jywarren I want to join too!

[2018-01-13 05:39] sagarpreet-chadha commented on #1981
@jywarren I also want to join 👍

[2018-01-13 05:55] ankitbhardwaj78 commented on #1972
@ViditChitkara can i take this issue??

[2018-01-13 06:13] ViditChitkara commented on #1972
Go ahead @ankitbhardwaj78!!! We are happy to help!

[2018-01-13 07:13] Diksha2008 commented on #1972
@ViditChitkara I totally agree with you!
Maybe @jywarren would have more thoughts on it!

[2018-01-13 07:27] Diksha2008 commented on #1981
@jywarrenI would like to thank you as well for always helping out! Contributing to this project has been truly worthwhile for me!
Also, I would like to join the reviewers group too! :)

[2018-01-13 09:08] ankitbhardwaj78 commented on #1863
@jywarren can i solve this issue .I think this is due to inline form submit action is missing
https://github.com/publiclab/plots2/blob/c6b2d3460d1fb9da28ce5e1cc0944daf690f9415/app/views/searches/new.html.erb#L1-L6
As for header search we have submit action
https://github.com/publiclab/plots2/blob/c6b2d3460d1fb9da28ce5e1cc0944daf690f9415/app/assets/javascripts/searchform.js#L1-L9
I think same We ha

[2018-01-13 11:19] seafr commented on #1981
@jywarren Don't worry about that "issue", I'm learning a lot anyway . Just add me to the reviewers group please.

[2018-01-13 11:29] SidharthBansal commented on #1863
@ankitbhardwaj78 try if you can

[2018-01-13 12:17] SidharthBansal opened #1992 "Email validations missing"
### Please describe the problem (or idea)
A user is able to sign in and use publiclab with email wrong email addresses say bansal@gmail
![image](https://user-images.githubusercontent.com/20972099/34905983-bcee2a1e-f889-11e7-9a6f-7de5683839bb.png)
I have created the account with wrong email

I expect user should get an error message when submitting the wrong email

[2018-01-13 12:18] SidharthBansal commented on #1992
I think we should write REGEX for email validation in the model
Somewhat similar to
  VALID_EMAIL_REGEX = /\A[\w+\-.]+@[a-z\d\-.]+\.[a-z]+\z/i
  validates :email, presence: true, uniqueness: true,
                    length: { maximum: 255 },
format: {with: VALID_EMAIL_REGEX }

[2018-01-13 13:23] sagarpreet-chadha commented on #1981
I agree with @Diksha2008 and @seafr , the learning rate has been exponential for me as well . Thank you !!

[2018-01-13 13:26] SidharthBansal commented on #1981
I also agree with you three. It is a great experience learning a lot here. Thanks a lot !!!

[2018-01-13 14:36] cesswairimu commented on #1983
I would like to contribute to this issue if that is okay

[2018-01-13 14:42] Gauravano commented on #1983
Hi @cesswairimu I am waiting to get input on this issue from @jywarren , once it gets approved its all yours

[2018-01-13 14:55] Gauravano commented on #1981
Well said by all of you guys, Also, I want to give credit to the amazing Publiclab team for their support which is the reason we love to work on each issue with more enthusiasm.

[2018-01-13 15:18] jywarren commented on #1983
Hi! Would the cancel button go back to the wiki page? If so, that sounds
great.

On Jan 13, 2018 9:43 AM, "Gaurav Sachdeva" <notifications@github.com> wrote:

[2018-01-13 15:21] Gauravano commented on #1983
Yes, Cancel button would redirect to the previous page.

[2018-01-13 15:22] Gauravano commented on #1983
So @cesswairimu you can take that issue.If you got stuck anywhere we are here to help.

[2018-01-13 15:22] jywarren commented on #1983
Great!

On Jan 13, 2018 10:21 AM, "Gaurav Sachdeva" <notifications@github.com>
wrote:

[2018-01-13 15:28] siaw23 opened #1994 "Implement Style Guide"
I saw `rubocop` added in `development` group. I think it'll be a good idea to actually add it to to travis too so non-conforming PRs won't pass. In the mean time I'll go ahead and start the implementation first to put things in order. This will take some time. @jywarren

[2018-01-13 15:50] SidharthBansal commented on #1992
Yeah I was also thinking to create it a first timer issue

[2018-01-13 15:55] jywarren commented on #1859
Awesome good work!

On Jan 12, 2018 5:59 PM, "Sidharth Bansal" <notifications@github.com> wrote:

[2018-01-13 16:03] jywarren commented on #1992
👍🎈

On Jan 13, 2018 10:50 AM, "Sidharth Bansal" <notifications@github.com>
wrote:

[2018-01-13 16:03] Mujadded commented on #1975
@jywarren and @SidharthBansal This issue was already addressed #1967  and fixed in a pull request #1968  by me a day before, but this was again reported. Please check

[2018-01-13 16:05] jywarren commented on #1863
:-)

On Jan 13, 2018 6:30 AM, "Sidharth Bansal" <notifications@github.com> wrote:

[2018-01-13 16:32] SidharthBansal commented on #1975
@Mujadded no, I have carefully read your issue before submitting this one. This is not a duplicate issue.
Your issue removes wiki#stale but here it is wiki #delete

[2018-01-13 16:33] jywarren commented on #1994
Hi, @siaw23 -- thanks, this is great to see. I wanted to note that we want to be extra welcoming and helpful to people, so do you think there's a way for this to, rather than showing an angry red X alone, we could have rubocop make friendly suggestions of style, to help people along? This is kind of a stylistic request, but what do you think? Even just not making a super long list of issues all at

[2018-01-13 16:36] Mujadded commented on #218
@jywarren Can I try this ?

[2018-01-13 16:39] jywarren commented on #1981
Also notice @siaw23 and @StlMaris123 plugging in again -- welcome back, you two! Great to see you!

OK, folks, thanks and I'm sending invites. I'm going to work a bit on guidance for how to be a helpful reviewer, but the basics are:

* always be kind and respectful! (remember our [Code of Conduct!](https://publiclab.org/conduct)
* help people to become better coders and don't make them feel bad
*

[2018-01-13 16:41] jywarren commented on #1981
Oh, and if you've completed a PR or two, do consider creating a new `first-timers-only` issue to welcome someone else into our community! There's guidance on this further down on community toolbox:

https://publiclab.github.io/community-toolbox/#r=all

👍 💯 🎉 🎈

[2018-01-13 16:44] siaw23 commented on #1994
well i think there are enough friendly messages like this

So instead we can add this info to the README instead. that's the first thing first-time contributors [should] read anyway. And `rubocop` errors are fairly straight-forward in my opinion. The README can also directly mention who to ask for extra help directly, that way if they are really lost they can mention someone.

[2018-01-13 17:05] Mujadded commented on #1975
@SidharthBansal oh sorry, I read it wrong, the naming confused me . Sorry again and thank you for the correction.

[2018-01-13 17:12] jywarren commented on #1994
OK, -- can you show what it'll look like to people? Like, could you trigger
some errors on your PR to demonstrate?

On Sat, Jan 13, 2018 at 11:44 AM, Emmanuel Hayford <notifications@github.com

[2018-01-13 17:13] jywarren commented on #218
Hi, i'm not sure if it's an issue anymore -- could you test it out on
publiclab.org to confirm? But of course we'd love your contribution!

On Sat, Jan 13, 2018 at 11:36 AM, Mujadded Al Rabbani Alif <
notifications@github.com> wrote:

[2018-01-13 17:15] SidharthBansal commented on #1992
I am adding an fto issue and closing this one. So that it would be beginner friendly.

[2018-01-13 17:15] #1992 closed

[2018-01-13 17:18] Mujadded commented on #218
@jywarren I just tested it out, in search, I typed `dc/baltimore` it redirected to `https://publiclab.org/search/dc/baltimore` which resulted in page does not exist. I will try to fix and close this issue if its ok :smile:

[2018-01-13 17:20] SidharthBansal opened #1996 "Add Email Validation"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-01-13 17:29] siaw23 commented on #1994
now that's rubocop is not added to Travis nothing will show when there's an error. So even if this is merged, people can still create PRs like before, no errors until we add it to CI. The errors will only show locally which they can ignore if they want. Errors will appear on PRs after we add rubocop to Travis. @jywarren

[2018-01-13 17:32] jywarren commented on #1983
Hi, i'm just going to hold back on the first-timers-only label for now, do you think you could look over the guide at https://publiclab.github.io/community-toolbox/#r=all and https://publiclab.org/notes/warren/10-31-2016/create-a-welcoming-first-timers-only-issue-to-invite-new-software-contributors for a bit more on how to format these? Thank you so much!

[2018-01-13 18:14] rishabhptr commented on #1866
@sagarpreet-chadha @jywarren  Similar issue persist if user click subscribe to everything from /subscriptions and tries to click the same button.(on hover it says click to unfollow).

Same is the case for /subcriptions/(tags) page clicking the "following (tag)"  button leads to the same page.Could it be a first-timer-issue?

[2018-01-13 18:31] SidharthBansal opened #1998 "Proper Template missing"
### Please describe the problem (or idea)
The URLs of the type https://publiclab.org/widget/kite don't show any header, footer etc.
![image](https://user-images.githubusercontent.com/20972099/34908914-0cc5c6bc-f8be-11e7-8e9e-4c125f92309d.png)

[2018-01-13 19:05] namangupta01 commented on #1981
@jywarren I also want to join!

[2018-01-13 19:13] Paarmita commented on #1996
@SidharthBansal I would like to do this :)

[2018-01-13 19:16] Paarmita commented on #1936
@SidharthBansal Is this issue still open?

[2018-01-13 19:30] SidharthBansal commented on #1996
Awesome!!! Go ahead!

[2018-01-13 19:33] Gauravano commented on #1983
Will definitely take care of format of FTO issues from now on.Thanks

[2018-01-13 19:34] SidharthBansal commented on #1936
@ankitbhardwaj78 is already working on it. . But there are PLENTY of issues to go around! Please check out https://publiclab.github.io/community-toolbox/#r=all for more -- much appreciated, thanks @Paarmita !

[2018-01-13 19:39] sagarpreet-chadha commented on #1866
@rishabhptr great catch !! It would be a good FTO issue ✌️ 👏

[2018-01-13 19:40] SidharthBansal commented on #1975
@jywarren I managed to delete the line from the routes without compromising the functionality of the button by changing the link_to helper.
It is working fine.I dont think we need put. Do we??
@Mujadded No problem.

[2018-01-13 20:17] sagarpreet-chadha commented on #1934
@jywarren and @Gauravano  , i was wondering if i can do the 2nd and 3rd part of this issue ? This will be exciting !! 😄

[2018-01-13 20:22] ViditChitkara commented on #919
Submitting a pr for this!!

[2018-01-13 20:58] #1795 closed

[2018-01-13 23:27] jywarren commented on #1866
Agreed!!!

On Jan 13, 2018 2:40 PM, "Sagarpreet Chadha" <notifications@github.com>
wrote:

[2018-01-13 23:29] jywarren commented on #218
Super, thanks!!

On Jan 13, 2018 12:19 PM, "Mujadded Al Rabbani Alif" <
notifications@github.com> wrote:

[2018-01-14 00:51] jywarren commented on #1975
Sounds great!!!

On Jan 13, 2018 2:41 PM, "Sidharth Bansal" <notifications@github.com> wrote:

[2018-01-14 00:52] jywarren commented on #1983
Thanks. Once done we can relabel and delete these comments to keep it simple.

[2018-01-14 01:28] #1998 closed

[2018-01-14 01:28] jywarren commented on #1998
Hi! This template is used for embedding on other sites, which is why it
lacks a header or footer. Thanks for the catch though!

On Jan 13, 2018 1:32 PM, "Sidharth Bansal" <notifications@github.com> wrote:

Please describe the problem (or idea)

The URLs of the type https://publiclab.org/widget/kite don't show any
header, footer etc.
[image: image]
<https://user-images.githubusercontent.com/2097209

[2018-01-14 02:56] SidharthBansal commented on #1859
Can you please review the pull request
Thanks

[2018-01-14 04:12] SidharthBansal commented on #1982
@jywarren Would I truncate the power tag like replication from replication:* or shall I not display the wikis on power tag searches?
Just thinking that these power tags, are not just power tags they are in fact powerful regex expressions so, a user who knows a little code can type in replica* for gettling all replication related stuff. So, truncating replica* will give replica which will again sho

[2018-01-14 05:10] sagarpreet-chadha commented on #1934
Okay , working on second one . Thanks .

[2018-01-14 05:25] sagarpreet-chadha commented on #1958
@jywarren , is it live ?

[2018-01-14 05:49] SidharthBansal commented on #1928
Thanks, your hints always works :smile:
![image](https://user-images.githubusercontent.com/20972099/34913183-28db0b2e-f91c-11e7-911b-97e8ff31cf5e.png)
It is working now.
The error was in the controller we are sorting by node.views and the view we are displaying the node. totalviews where totalviews is a node model method.
So, I just changed the controller to sort according to the totalviews model

[2018-01-14 07:27] rishabhptr commented on #1981
@jywarren I would love to join too :smile:

[2018-01-14 12:31] ViditChitkara commented on #919
Yes, this would be in the comment. Currently I have used ( {New Title} ) curly braces instead which could be easily changed according to the design we finalise.

[2018-01-14 13:41] Gauravano commented on #1873
Hi @ebarry @jywarren can I take this issue

[2018-01-14 14:11] ankitbhardwaj78 commented on #1785
@jywarren can i work on this issue??

[2018-01-14 16:21] SidharthBansal commented on #1963
@jwarren I found that it related to users#rss
Can you help me  with this? I don't know rss.
Thanks

[2018-01-14 19:43] ViditChitkara opened #2004 "Broken revision table headings"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2018-01-14 21:46] SidharthBansal opened #2006 "Redundant dashboard2 route"
I found there is a route /dashboard2
  get 'dashboard2' => 'home#dashboard2'
I checked the controller's action it is redirecting to the dashboard.
Does it needs to be removed @jywarren ? Or is there any place we are using it at?

[2018-01-14 23:30] icarito opened #2007 "/methods page not working"
logs show:
[code]
Reported by Chris Diehl

[2018-01-15 01:53] ankitbhardwaj78 commented on #2004
Can i work on this?

On Jan 15, 2018 1:13 AM, "Vidit" <notifications@github.com> wrote:

[2018-01-15 04:14] ViditChitkara commented on #2007
@icarito I will have a look!!

[2018-01-15 04:17] ViditChitkara commented on #2004
That would be great!!

On Jan 15, 2018 7:23 AM, "Ankit Bhardwaj" <notifications@github.com> wrote:

[2018-01-15 12:45] Gauravano commented on #1983
Hi, @cesswairimu have you started working on this issue? If you want I can highlight the relevant files which need to be modified for solving this issue.

[2018-01-15 12:56] Gauravano commented on #1864
Hi @ebarry, Can I close this issue if the problem doesn't exist anymore?

[2018-01-15 13:34] Gauravano commented on #1873
Also, presently '/tags' page has Sort button on top-right of the page for sorting, we can make table heading i.e., name, #uses, and subscriptions as links like in '/wiki' pages.What's your view on this @ebarry I guess it implements your first idea totally.

![new](https://user-images.githubusercontent.com/20878070/34944757-d2d06bf0-fa26-11e7-9871-4f37f81b908f.png)

[2018-01-15 14:13] cesswairimu commented on #1983
@Gauravano  yeah that would be great please. I am still having issues installing the project i shared in gitter my errors

[2018-01-15 15:45] Mujadded commented on #1963
@SidharthBansal and @jywarren I have kinda saw the cause of that error and fixed it in #2009 . I tested it in my local setup it was working fine. Maybe you guys can check if it logically correct 😄 ?

[2018-01-15 16:55] SidharthBansal commented on #1963
@Mujadded yeah it was just an if-else error. Thanks for the catch.

[2018-01-15 17:00] rishabhptr opened #2010 "Not able to unsubscribe after clicking following button of a tag."
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2018-01-15 20:14] seafr commented on #2006
I think if we point both routes to 'home#dashboard' the redirection will be redundant and we can then remove 'home#dashboard2'.

[2018-01-15 20:34] Gauravano commented on #1983
Hey, @cesswairimu I have updated the issue, you can follow up with the link. And, we are working on fixing those errors in #1997.It would be corrected soon.

[2018-01-16 00:05] SidharthBansal commented on #2006
Thanks @seafr

[2018-01-16 10:25] sagarpreet-chadha opened #2013 "Basic/Normal User not able to delete own wiki page"
Hi, this is a [first-timers-only](https://github.com/publiclab/plots2/projects/2) issue. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2018-01-16 12:26] namangupta01 commented on #2010
i want to work on this issue

[2018-01-16 12:27] ankitbhardwaj78 commented on #2013
Can i take this issue??

On Jan 16, 2018 3:55 PM, "Sagarpreet Chadha" <notifications@github.com>
wrote:

[2018-01-16 13:20] sagarpreet-chadha commented on #1934
Hey @jywarren and @Gauravano  , the **JSON format** of the new API is :

<img width="1060" alt="screen shot 2018-01-16 at 6 46 45 pm" src="https://user-images.githubusercontent.com/14952645/34990918-cca2aea6-faed-11e7-8e67-7aabc93f9ed8.png">

To add markers to maps , we will also need **Latitude and Longitude value** of each node .
@Gauravano  Can you also add Latitude and Longitude value of each

[2018-01-16 13:58] namangupta01 opened #2015 "Undesired recaptcha message in production enviroment."
### Please describe the problem (or idea)

When user is signing up there is a recaptcha message as shown in the image:

![screen shot 2018-01-16 at 7 23 38 pm](https://user-images.githubusercontent.com/20709985/34992389-152dfbd0-faf3-11e7-93b4-d2707043a482.png)

I think this is undesired

This message should not be there.
It should look like this:
![screen shot 2018-01-16 at 7 32 01 pm](https://us

[2018-01-16 14:34] jywarren commented on #1449
OK, - this is still a great plan for the API work, though we'll need to update and adapt some sections due to recent work. I also put more links to existing API methods here: https://github.com/publiclab/plots2/pull/2017/files

[2018-01-16 14:36] jywarren commented on #1449
Also need updates regarding the token system https://github.com/publiclab/plots2/pull/1513 for the write-API

[2018-01-16 14:39] jywarren opened #2018 "Documentation of token system for write API"
We now have a token system for people (or bots) to post comments via the API, thanks to @ryzokuken. We just need some documentation now!

API docs live here: https://github.com/publiclab/plots2/blob/master/doc/API.md and there's more work at #1449

We should document:

* where code lives
* example usage
* where tests are (this could be example usage, in fact)

Starting point here: https://github.c

[2018-01-16 14:40] namangupta01 commented on #2018
Hey @jywarren can i work on it?

[2018-01-16 14:49] jywarren commented on #2018
For sure, thank you!

[2018-01-16 15:54] ViditChitkara commented on #928
@jywarren I want to work on the remaining part if it is available??

[2018-01-16 16:29] jywarren opened #2020 "Error when using emojis on wiki pages"
### Please describe the problem (or idea)

I tried to save a wiki page edit using an emoji -- 🎉

But i got an error! The logs show:

"Mysql2::Error: Incorrect string value: `\xF0\x9F\x8E\x89 \x0D... for column 'body' at row 1` on this line:

https://github.com/publiclab/plots2/blob/3df85679c34489ab4bd9a1bf4b0c0deda1ae8654/app/controllers/wiki_controller.rb#L170

Any help appreciated! Emoji are imp

[2018-01-16 16:47] jywarren opened #2021 "Error with OpenID cross-site login via SpectralWorkbench.org"
### Please describe the problem (or idea)

Someone reported this 2 days ago:

### Please show us where to look

https://spectralworkbench.org/ (login)

Perhaps here: https://github.com/publiclab/plots2/blob/master/app/controllers/openid_controller.rb

This may require some careful looking through the logs, and/or some testing locally. I'll try to dig through the server logs to find an error.

[2018-01-16 16:53] jywarren commented on #2021
OK, here's the logs, scrubbed a bit:

[code]

[2018-01-16 16:54] jywarren commented on #2006
Agreed!

On Mon, Jan 15, 2018 at 7:05 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-01-16 16:55] jywarren commented on #1963
Awesome great teamwork!

[2018-01-16 17:00] jywarren commented on #2010
@namangupta01 - you're welcome to tackle this one, but if I recall you've done a `first-timers-only` issue once before; once you're done with this, perhaps you'd like to tackle one of the slightly less fully-documented issues over at https://publiclab.github.io/community-toolbox/#r=all so that a complete newcomer could take the `first-timers-only` issues? Don't under-estimate your expertise! :-)

[2018-01-16 17:01] jywarren commented on #2010
And @rishabhptr -- great first time first timer only issue! 👍 💯

[2018-01-16 17:05] jywarren commented on #1981
Adding you both too. I'm starting to compile more guidance on being a reviewer -- Some resources now at:

* https://publiclab.org/notes/warren/11-08-2016/help-public-lab-s-software-grow-by-joining-a-supportive-team
* https://publiclab.org/developers

[2018-01-16 17:08] sagarpreet-chadha commented on #2013
Yes @jywarren , i would love to help ! Thanks 😄 .

[2018-01-16 17:12] namangupta01 commented on #2010
@jywarren Sure, I will!

[2018-01-16 17:14] membrq commented on #1981
I’d love to join too! Have never been a reviewer before but looking forward to learning. Thanks for the resources @jywarren!

[2018-01-16 17:15] Gauravano commented on #1934
Actually @jywarren I just noted right now that the API I built is fetching all the nodes but what if someone on wiki page used an inline tag like [map: tag:infragram:lat:lon] then, we don't have API for that.So, we need to have 2 different URL for one for notes and one for notes with tag.What do you think?Am I talking right?

[2018-01-16 17:24] jywarren commented on #1873
I like this solution -- it's more compact and consistent. Let's do it!

[2018-01-16 17:26] jywarren commented on #1873
So this issue has 2 parts --

1. the "Your Subscriptions" link to /subscriptions
2. the reorganization of the sorting links from the dropdown menu to just being links on the header items of the table

Maybe @Ronaq13 if you're interested in 1, @Gauravano could take 2? Thanks, all!

[2018-01-16 17:26] #1864 closed

[2018-01-16 17:27] jywarren commented on #1864
Done, thanks!

[2018-01-16 17:30] jywarren commented on #928
That'd be great! @SidharthBansal how does that sound? @SidharthBansal can probably advise if you need any info, as author of the first part: #1831

Thanks!!

[2018-01-16 17:31] jywarren commented on #928
We'd discussed combining the questions and answers items on the profile into one column, and replacing Comments with Activities, since comments is shown on a tab anyways.

The profile page as a whole may get some reorganizing, but once all the code is in there, re-arranging it will be easier!

[2018-01-16 17:32] jywarren commented on #928
And if you do submit a PR, please use `fixes #928` and we'll close this out!

[2018-01-16 17:32] jywarren commented on #1981
Fantastic!!!

[2018-01-16 17:36] jywarren commented on #1934
Good call -- I think you're right, but we can start the implementation on the 1st, more simple type of query, see how it performs, then create a follow-on task for the tag-based ones.

(If you need to split out a new view for the refreshable map, that's fine -- it's probably good to have a simpler implementation present as long as it works very similarly!)

Modularity! :-)

[2018-01-16 17:37] #2007 closed

[2018-01-16 17:37] Gauravano commented on #1934
Ok then @sagarpreet-chadha as per your requirement updating the API for now

[2018-01-16 17:40] jywarren commented on #2015
Hi, @icarito i think we've seen this before -- related to a non-final Recaptcha API key in production. Can you check this out? Thanks!

[2018-01-16 17:52] jywarren commented on #1785
Hi, I think this is a big set of features which we should break into smaller parts. Perhaps we could start by highlighting the poster's comments when you do ban them -- opening the profile page to the comments section? See https://publiclab.org/profile/warren

Currently there's not a way to open directly to the comments section. That's a good self-contained issue. Then a follow-up one could be, pe

[2018-01-16 17:53] jywarren commented on #1958
Not yet - it didn't quite make it by the Friday night update. I'll probably
run an update today too, though! Let's check back in!

On Sun, Jan 14, 2018 at 12:25 AM, Sagarpreet Chadha <
notifications@github.com> wrote:

[2018-01-16 18:00] icarito commented on #2015
I'll try to issue a new key, it was not preserved when we upgraded, it seems.

[2018-01-16 18:01] jywarren commented on #1994
Hi, i see -- so, for now, you're proposing going through in #1993 and resolving the existing ones, then Rubocop would alert people for new ones? Let's do this in stages in any case, maybe section by section in different PRs, so that we don't end up with tough merges.

Thanks!!

[2018-01-16 18:05] jywarren commented on #1982
Ah, i see -- you're totally right. We might be in a strange state if someone saw `/wiki/rep` for `/tag/rep*` -- ok, so let's just not show the lead wiki page for wildcard tags.

We could hard-link to http://publiclab.org/power-tags (or relative, `/power-tags`) -- what do you think of that?

[2018-01-16 18:08] jywarren commented on #1982
Actually this is not relevant just to power tags, but all tags. How about instead of a wiki page, a short description like:

[2018-01-16 18:09] icarito commented on #2015
Thanks for the heads up, much appreciated!
I issued a new API key and was able to eliminate the error.

[2018-01-16 18:09] #2015 closed

[2018-01-16 18:12] #1967 closed

[2018-01-16 18:15] #1975 closed

[2018-01-16 18:17] #1859 closed

[2018-01-16 18:17] siaw23 commented on #1994
Yeah so first stage is this PR. Second will be for me to correct remaining offences. Third will be to add small set of instruction to README. fourth will be to add it to Travis @jywarren

[2018-01-16 18:22] #1977 closed

[2018-01-16 18:23] jywarren commented on #1972
Fixed in #1990! Thanks, all!

[2018-01-16 18:23] #1972 closed

[2018-01-16 18:24] jywarren commented on #1918
Was this resolved in #1990? Or was it the same "kind" of issue but not the exact same code fixes? Thanks, all! Feel free to close if it's resolved!

[2018-01-16 18:32] #2004 closed

[2018-01-16 18:34] #2006 closed

[2018-01-16 18:39] ryzokuken commented on #2018
Sorry for not documenting the feature at that point in time as I was in a haste to complete the tasks on the timeline. Thanks for volunteering to work on it, @namangupta01! I would love to review it once you finish documenting.

[2018-01-16 18:41] jywarren commented on #2018
No problem at all! Teamwork!

[2018-01-16 18:42] namangupta01 commented on #2018
@ryzokuken Thank you! :)

[2018-01-16 18:59] jywarren commented on #1958
OK, it's live now!

[2018-01-16 19:01] ryzokuken commented on #2020
@jywarren take a look at https://stackoverflow.com/a/22464749/5156578. This *should* solve our problem.

[2018-01-16 19:15] #2010 closed

[2018-01-16 19:18] sagarpreet-chadha commented on #1958
*https://publiclab.org/feed.rss* seems to be not working . Looking into it .

[2018-01-16 19:18] jywarren opened #2022 "Multiple Leaflet maps' initializations collide in JavaScript"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2018-01-16 19:35] jywarren commented on #1958
server log:

[code]

[2018-01-16 19:36] jywarren commented on #1958
easy fix! and we should make a functional test for this :-)

[2018-01-16 19:55] SidharthBansal commented on #928
@jwarren, wouldn't it be great if we will use ajax for the remaining buttons so that we can use the same button.
I studied the show action of the tag controller, it is using different urls for different navbars.I think we should either use ajax there too or we should write different urls for all these button on the /note/tag/tagname/author/authorname, /question/tag/tagname/author/authorname etc.
I

[2018-01-16 20:00] Gauravano commented on #1736
Hi @jywarren @ebarry actually while going through this issue I observed there can be many changes possible to https://publiclab.org/contributors/pesticides page like we can remove the text part and
![screenshot from 2018-01-17 01-26-26](https://user-images.githubusercontent.com/20878070/35009421-7b0cc8dc-fb25-11e7-889a-fb059bfbee5b.png)

can add something like this
![insert2](https://user-images.g

[2018-01-16 20:02] SidharthBansal commented on #928
@ViditChitkara May I take this if you dont mind, because I was having some ideas and some suggestions on those pages linked??

[2018-01-16 20:03] jywarren commented on #928
By buttons, did you mean the tabs? sorry, just trying to follow your suggestion in my head!

[2018-01-16 20:04] jywarren commented on #1736
That sounds great!

On Tue, Jan 16, 2018 at 3:01 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-01-16 20:05] SidharthBansal opened #2023 "Contributors for power tag inconsistent"
### Please describe the problem (or idea)
If a person is searching for contributors for a power tag, eg at https://publiclab.org/contributors/replication:* then the user gets no contributors

Either contributors cannot be shown with power tags on this page with a message somewhat like "Please enter a normal tag instead of power tag to get Contributors list" as we have done for the button on the /t

[2018-01-16 20:14] SidharthBansal commented on #1982
The main problem arises with a word, say app*, which has two root words -apple and application... So that will again give us trouble in finding.
One way is to have related tags there. But again, here one problem will arise and that is people have written replication:* and that mean user want all related tags to replication and our tag system is showing all replicaion:* one.  So, there is no point

[2018-01-16 20:27] SidharthBansal commented on #928
@jywarren yeah the tabs for the comment, question, wiki pages, maps, and contributors.

[2018-01-16 20:49] SidharthBansal commented on #2023
@jywarren May I make this as a first timer with the desciption part? As we have discussed

[2018-01-16 20:50] jywarren commented on #2023
Please!

On Tue, Jan 16, 2018 at 3:49 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-01-16 21:20] #1863 closed

[2018-01-16 21:37] #1994 closed

[2018-01-16 23:12] jywarren commented on #314
Dropbox apparently kind of killed Hackpad (https://github.com/dropbox/hackpad/issues/67) so a community fork is at https://github.com/hackpad/hackpad but still no activity past July 2017 -- so I'm not sure we should migrate...

etherpad-lite is still supported by an active community: https://github.com/ether/etherpad-lite, and that's what we currently use.

[2018-01-16 23:29] jywarren opened #2025 "Test GitHub issue"
(This issue was auto-generated from http://ift.tt/2B8W2Ma -- please help to flesh it out and explore the issue, and respond to the original author!) Test GitHub issue<br>
http://ift.tt/2Dhmb1d<br>
<h3>Please describe the problem (or idea)</h3>
<blockquote>
<p>What happened just before the problem occurred? Or what problem could this idea solve?</p>
<p>What did you expect to see that you didn't?</p

[2018-01-16 23:33] #2025 closed

[2018-01-16 23:40] jywarren commented on #1584
This requires Rails 4.2 to continue; in progress at https://github.com/publiclab/plots2/pull/1832 -- thanks, @StlMaris123 !!

[2018-01-16 23:57] jywarren opened #2027 "Display "activity from past day" in a list at /subscriptions/digest"
We have a new feature in the User model called `user.content_followed_in_past_period(time_period)`

https://github.com/publiclab/plots2/blob/c6b2d3460d1fb9da28ce5e1cc0944daf690f9415/app/models/user.rb#L313-L315

Let's adjust this to be `user.content_followed_in_period(start, end)` so we can use it like:

`user.content_followed_in_period(Time.now - 1.day, Time.now)`

And make it not use `self.node.

[2018-01-16 23:58] jywarren commented on #1421
Hi, all! I'm closing this up as it's now reflected in #1584 by @StlMaris123 and #2027 which I just created. Thanks everybody!!!

[2018-01-16 23:58] jywarren commented on #1421
And congrats to @StlMaris123 for completing a great deal of work on this -- just a few more parts to go!

[2018-01-16 23:58] #1421 closed

[2018-01-16 23:59] jywarren commented on #1584
And this will enable automatic sending of digests after #2027 is completed, too!

[2018-01-17 00:02] jywarren commented on #154
I'd like to change this to: `Generate User records for any solo DrupalUsers records in a migration` if this doesn't exist already -- otherwise, we can assume User records are up to date and DrupalUsers email records are out of date. Sound good?

[2018-01-17 00:27] jywarren commented on #1940
I just sorted this a bit and articulated the latter 2 tasks. @sagarpreet-chadha is tackling the first two.

But actually i have a clarification -- on https://publiclab.org/people do we want to show /all/ people? That could rapidly become a lot. Options:

1. all people (this would be ok at first but rapidly too much)
2. just the most recently active ones, as that page already lists?
3. ones near th

[2018-01-17 00:44] jywarren commented on #761
This last item could also be achieved via a comment -- by automatically leaving a comment as we do for the barnstar feature:

https://github.com/publiclab/plots2/blob/dccf61b4cf0aa816a3a906495ea6a0b2d5d847b0/app/controllers/tag_controller.rb#L178-L180

The comment could say `@_author_ has marked @_recipient_ as a co-author.` and everybody on the thread would get email notified.

[2018-01-17 00:52] jywarren opened #2028 "send email to newly added coauthors explaining what it means"
This could actually be relatively simply achieved via a comment -- by automatically leaving a comment as we do for the barnstar feature:

https://github.com/publiclab/plots2/blob/dccf61b4cf0aa816a3a906495ea6a0b2d5d847b0/app/controllers/tag_controller.rb#L178-L180

The comment could say `@_author_ has marked @_recipient_ as a co-author.` and everybody on the thread would get email notified.

This c

[2018-01-17 00:52] jywarren commented on #761
Closing this and moving the remainder to a clean issue over at #2028 with next steps! Thanks, all!

[2018-01-17 00:52] #761 closed

[2018-01-17 00:55] jywarren commented on #302
https://publiclab.org/feed/tag/event:rsvp.ics -- see #354 -- although we could add a new one to make this link more visible.

[2018-01-17 00:57] jywarren commented on #302
I believe this is a duplicate of #354, which was an experimental and unfinished feature -- head over there for next steps!

[2018-01-17 00:57] #302 closed

[2018-01-17 01:01] jywarren commented on #153
Tips on making Google Calendar URLs:

* https://stackoverflow.com/questions/22757908/google-calendar-render-action-template-parameter-documentation

[2018-01-17 01:11] jywarren commented on #1662
Moved this to MapKnitter repository at https://github.com/publiclab/mapknitter/issues/248

[2018-01-17 01:11] #1662 closed

[2018-01-17 01:11] jywarren commented on #683
How are things going? Is it proving to be a tough one? Happy to help!

[2018-01-17 01:12] jywarren commented on #1958
Sorry, TravisCI is stalled for some hours ... waiting for that to come back before publishing!

[2018-01-17 01:13] jywarren commented on #1802
Closing this as #1958 is solved... pending final tests but all looks in order! Thanks all!

[2018-01-17 01:13] #1802 closed

[2018-01-17 01:15] #1981 closed

[2018-01-17 01:17] jywarren commented on #1996
Solving in #1999 -- thank you! (just linking over there)

[2018-01-17 01:19] jywarren commented on #1824
This is complete! Thank you and if you're looking for a place to get involved, please see:

https://publiclab.github.io/community-toolbox/#r=all

Thanks!!!

[2018-01-17 01:19] #1824 closed

[2018-01-17 01:25] jywarren commented on #1823
I just searched for: "liz" "shan" "warren" and got profiles for us three as top results. The new search system is much better. I'm sure there are still ways to improve it -- a search for `katie` doesn't return kgradow1, but that's because she hasn't put her name on her account.

I noticed `kgradow` also doesn't return `kgradow1` but typing the full username works. I'm not sure why, actually. But o

[2018-01-17 01:25] #1823 closed

[2018-01-17 01:27] jywarren commented on #1713
Closing this as we solved the major issue! Thanks, and let's open a new one for any follow-ups you'd like to pursue. :-)

[2018-01-17 01:27] #1713 closed

[2018-01-17 01:31] jywarren commented on #1604
Hi, I think this is resolved as of mysql full text search!

[2018-01-17 01:31] #1604 closed

[2018-01-17 01:32] jywarren commented on #1183
Closing for now -- see https://github.com/publiclab/plots2/milestone/9 for more!

[2018-01-17 01:32] #1183 closed

[2018-01-17 01:33] jywarren commented on #1132
That's almost complete -- resolving now!

[2018-01-17 01:36] jywarren commented on #1119
Worked on breaking this up in https://github.com/publiclab/plots2/issues/2027 and we'll need some of this in there too -- specifically the stuff in my last comment about finding the people who should get notified at a specific time! I think we may want to switch to a profile tag like `digest:daily` or `digest:weekly` and send to everyone once per day using that... not sure.

[2018-01-17 01:39] jywarren commented on #921
This could be done via the write API -- see https://github.com/publiclab/plots2/milestone/11 using a token from the commandline! We could potentially develop a javascript library for this kind of thing.

[2018-01-17 01:42] jywarren commented on #1133
I think I'm going to close this, although thank you for submitting it, because typically forms are considered a security risk to allow in content posting. Thanks!!!

[2018-01-17 01:42] #1133 closed

[2018-01-17 01:43] jywarren commented on #774
I'm going to close this with the suggestion that we approach over-tagging as a moderation issue. But we could open a new issue with the 'These are a lot of tags! Learn about tagging' message if you like -- chime in, thanks!

[2018-01-17 01:43] #774 closed

[2018-01-17 01:45] jywarren commented on #649
I'm going to suggest we address this as a moderation issue. Thank you!!!

[2018-01-17 01:45] #649 closed

[2018-01-17 01:47] jywarren commented on #428
Merging into #1785 -- Thanks!

[2018-01-17 01:47] #428 closed

[2018-01-17 01:51] jywarren commented on #1785
Via #428 -- steps for creating a comment moderation system might include:

- [ ] add `comment.status` column
- [ ] mark all banned users' comments as `status = 0` to unpublish (in a migration [like this one](https://github.com/publiclab/plots2/blob/master/db/migrate/20170726174757_recover_bios_tokens_statuses.rb))
- [ ] add buttons to comments, visible to mods and admins, for spamming and unspammi

[2018-01-17 01:51] jywarren commented on #426
All coming together here! https://publiclab.org/wiki/software-outreach

[2018-01-17 01:51] #426 closed

[2018-01-17 01:52] jywarren commented on #422
Closing due to new rich editor!

[2018-01-17 01:52] #422 closed

[2018-01-17 01:54] jywarren commented on #360
I believe this is actually working -- checked my own login time recently. Thanks!

[2018-01-17 01:54] #360 closed

[2018-01-17 01:54] jywarren commented on #442
This now exists!

[2018-01-17 01:54] #442 closed

[2018-01-17 01:55] jywarren commented on #332
Merging into https://github.com/publiclab/plots2/issues/1119

[2018-01-17 01:55] #332 closed

[2018-01-17 01:57] jywarren commented on #268
We should consolidate using this code: https://github.com/publiclab/plots2/blob/69ff57056de33e6388e40490bb7bfe8be72a7946/app/helpers/application_helper.rb#L3

[2018-01-17 02:01] jywarren commented on #204
This is looking good in the Concerns code! I think we could break out a "versioning for research notes" and recommend an implementation that uses the `node_shared.rb` concern at https://github.com/publiclab/plots2/blob/master/app/models/concerns/node_shared.rb

[2018-01-17 02:03] jywarren commented on #64
Merging into #1119 and some of this was completed already too!

[2018-01-17 02:03] #64 closed

[2018-01-17 02:07] jywarren commented on #13
Oops, sorry, missed this ping! I think we could propose:

* merging https://github.com/publiclab/plots2/blob/master/app/services/typeahead_service.rb and https://github.com/publiclab/plots2/blob/master/app/services/search_service.rb
* using `SearchService.notes(input)` to find related content

However, https://github.com/publiclab/plots2/issues/1706 means we may clean out the sidebars anyways. Wil

[2018-01-17 02:13] #888 closed

[2018-01-17 03:25] Gauravano commented on #2027
Hi @jywarren I want to try this

[2018-01-17 03:43] jywarren commented on #2027
That'd be great! Thanks!

On Jan 16, 2018 10:26 PM, "Gaurav Sachdeva" <notifications@github.com>
wrote:

Hi @jywarren <https://github.com/jywarren> I want to try this

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/plots2/issues/2027#issuecomment-358185213>,
or mute the thread
<https://github.com/notifications/unsu

[2018-01-17 03:48] Gauravano commented on #2028
Can I take this issue ?

[2018-01-17 05:41] Diksha2008 commented on #1785
@jywarren I would like to work on this!

[2018-01-17 11:45] ankitbhardwaj78 commented on #2013
I will do this.. @jywarren

[2018-01-17 14:45] SidharthBansal opened #2029 "Contributors Page with Powertag searches"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-01-17 14:46] #2023 closed

[2018-01-17 14:47] #1933 closed

[2018-01-17 14:50] #1340 closed

[2018-01-17 14:51] ankitbhardwaj78 commented on #2013
@jywarren  and @sagarpreet-chadha  please take a review i have made changes #2030

[2018-01-17 14:57] ankitbhardwaj78 commented on #1941
@jywarren  can i work on this

[2018-01-17 15:51] ViditChitkara commented on #683
@jywarren I would like to contribute to this.
Have some sort of implementation regarding this.

[2018-01-17 15:55] jywarren commented on #1941
Oh, that'd be great. I think we may need to try to replicate the issue in
tests; perhaps by using the word "coqui" multiple times in a single test
node, and seeing if it's returned multiple times?

On Wed, Jan 17, 2018 at 9:58 AM, Ankit Bhardwaj <notifications@github.com>
wrote:

[2018-01-17 15:57] #1982 closed

[2018-01-17 16:00] jywarren commented on #1934
OK, the API step is done and merged! Reopening for the remaining parts :-)

[2018-01-17 16:04] jywarren commented on #683
Oh, you have some code already? Interesting! Well, if @SidharthBansal is ok with it, I guess you can -- let's hear from @SidharthBansal first though. Thanks!

[2018-01-17 16:04] jywarren commented on #683
and thanks!

[2018-01-17 16:10] jywarren commented on #2028
that'd be super. Thank you!

On Tue, Jan 16, 2018 at 10:48 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-01-17 16:27] jywarren opened #2032 "One last problem with the RSS feed"
@sagarpreet-chadha -- the RSS feed is still not working, and i got the server logs for it.

https://publiclab.org/feed.rss

Too bad the functional test https://github.com/publiclab/plots2/pull/2024 didn't catch it, but this shouldn't be too hard to fix either. No worries! 👍

[code]

My suggestion is:

[code]

This should bypass the nil to string conversion.

[2018-01-17 18:05] jywarren commented on #378
Let's start with just a welcome email! Then move on to a confirmation email.

[2018-01-17 18:48] #1936 closed

[2018-01-17 21:31] steviepubliclab commented on #1897
I love this feature - This is so great. :)

On Fri, Jan 12, 2018 at 4:21 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-01-17 21:52] jywarren opened #2037 "How are the questions sorted on the 'Unanswered' tab? (autoposted via PublicLab.org)"
(This issue was auto-generated from http://ift.tt/2B8W2Ma -- please help to flesh it out and explore the issue, and respond to the original author!) by http://ift.tt/2BcbKGm Read more and ask the original author for details at: http://ift.tt/2DmabeX ****
<h3>Please describe the problem (or idea)</h3>
<blockquote>
<p>What happened just before the problem occurred? Or what problem could this idea so

[2018-01-17 21:56] jywarren commented on #2037
It seems to be sorted by "node id" (nid), descending:

https://github.com/publiclab/plots2/blob/1230a735e4882ab476d96816c2b87b818327ab01/app/controllers/users_controller.rb#L116-L118

We could try modifying this to sort answered ones to the top... we'd have to think through how to do that sorting. Do you like sorting by:

1. whether its been answered, and THEN
2. recency

?

[2018-01-17 23:18] #1873 closed

[2018-01-17 23:44] #2032 closed

[2018-01-17 23:45] SidharthBansal commented on #683
I was thinking we can have facebook, twitter, google, and Github. I guess there would be a large population who will be using GitHub at public lab. But I am not sure.
Also, the other thing is... at last after socialization through facebook, twitter, google, and Github, we need to have the integration of these into one single account. By this I mean, even if I am logging into via any of my accounts

[2018-01-17 23:54] SidharthBansal commented on #1960
@jywarren what do you suggest?

[2018-01-17 23:58] jywarren commented on #1960
I think that for the time being we have to hold off on this until we git a bit more design input -- would you be willing to try another issue further down? Thank you!

[2018-01-18 00:01] SidharthBansal commented on #683
@ViditChitkara what do you suggest?

[2018-01-18 00:03] SidharthBansal commented on #2037
I will like to try this.

[2018-01-18 00:55] jywarren commented on #1958
The feed is now working: https://publiclab.org/feed/liked.rss

I just enabled the IFTTT recipe too. Fingers X!

[2018-01-18 01:01] jywarren opened #2042 "List wiki revision authors as contributors on /contributors/tagname pages"
### Please describe the problem (or idea)

I noticed that "Nova" just contributed a revision to the water sensors wiki page: https://publiclab.org/water-sensors

However, they don't appear on the contributors page for that tag: https://publiclab.org/contributors/water-sensors

How hard would it be to add all revision authors to that query?

https://github.com/publiclab/plots2/blob/5bd6efacc416dc2a

[2018-01-18 01:13] jywarren commented on #1958
And i posted a photo and liked it -- this should trigger the script! https://publiclab.org/notes/warren/01-18-2018/pre-order-the-community-written-pocket-guide-to-grassroots-mapping

[2018-01-18 01:15] jywarren commented on #1958
It didn't work! Not sure why:

![screenshot 2018-01-17 at 8 14 58 pm](https://user-images.githubusercontent.com/24359/35075806-2dfbb690-fbc3-11e7-9457-676894ae4b76.png)

[2018-01-18 01:17] jywarren commented on #1958
Error:

[code]

[2018-01-18 01:17] jywarren commented on #1958
I've turned the IFTTT script off for now! I wonder what happened?

[2018-01-18 01:19] jywarren commented on #1958
Ooh, do we need an "enclosure" line? As per https://sagarpreet-chadha.github.io/feed.rss

`<enclosure url="http://www.publiclab.org/system/images/photos/000/023/122/medium/PIC2.jpg" length="78645" type="image/jpeg" />`

[2018-01-18 01:23] jywarren commented on #1958
This looks right, but I'm not sure how to add an `<enclosure>` tag to `rss.builder`

[2018-01-18 01:28] jywarren commented on #1958
OK i got `url=` but not sure if we need type or length -- ? Can we test in your test setup, @sagarpreet-chadha ?

[2018-01-18 01:29] jywarren commented on #1958
I'll be able to re-activate using this: https://ifttt.com/applets/70744657d-rss-feed-to-post-a-tweet-with-image-and-url

[2018-01-18 04:28] ViditChitkara commented on #2042
Also we had written the contributor_count method in tag model and did not use it as shown in the comments:-
https://github.com/publiclab/plots2/blob/c12b0fc5e0b88f5219614ca98d031abfc91979ca/app/controllers/tag_controller.rb#L108-L113
We need to replace that too. What do you say? Shall I submit a patch for this?

[2018-01-18 07:53] sagarpreet-chadha commented on #1958
The image is shown due to `<![CDATA[ <img src='`  and not `<enclosure>`  tag !
We may remove that enclosure tag .

Tested this here : https://github.com/sagarpreet-chadha/sagarpreet-chadha.github.io/blob/d044a8c9a7124909dba78e0e2570b65a35f6d96a/feed.rss#L154

[2018-01-18 09:58] sagarpreet-chadha commented on #1958
@jywarren , you were right it gets auto-truncated 😄 !!

[2018-01-18 14:02] jywarren commented on #1866
Solved in #1867!

[2018-01-18 14:02] #1866 closed

[2018-01-18 14:03] #1918 closed

[2018-01-18 14:04] jywarren commented on #1797
Solved in #1810, thanks!!!

[2018-01-18 14:04] #1797 closed

[2018-01-18 14:07] #1963 closed

[2018-01-18 14:10] jywarren commented on #1958
Reopening -- one more thing, it tries to post an image even if there isn't an enclosure tag... Not sure how to stop this!

We may need to use a default image? But that's not a great solution.

@ebarry @steviepubliclab could we use someone's profile picture?

[2018-01-18 14:11] jywarren commented on #1958
Are you totally sure about enclosure? I think we have to do more testing. And to figure out how to not post an image if there isn't one.

[2018-01-18 14:12] jywarren commented on #1958
This is a tough one! I disabled the ifttt script for now. Thanks for working on it!

[2018-01-18 17:04] sagarpreet-chadha commented on #1958
I agree this is indeed a tricky one , learned a lot though . Thank you !

[2018-01-18 17:46] jywarren commented on #1958
OK, i've hooked it up to https://twitter.com/pl_testing and
https://gist.github.com/jywarren/055bf4471dbdfff6a1ebd21bf15c3c8f; will add
a new item soon and see if it works.

On Thu, Jan 18, 2018 at 12:04 PM, Sagarpreet Chadha <
notifications@github.com> wrote:

[2018-01-18 22:04] kellyjacksonio commented on #2029
I'll give it a shot!

[2018-01-18 22:15] jywarren commented on #2029
awesome, thank you!

On Thu, Jan 18, 2018 at 5:04 PM, kellyjacksonio <notifications@github.com>
wrote:

[2018-01-18 22:17] kellyjacksonio commented on #2029
one question: are you wanting the code in lines 60-62 to be replaced with the wildcard conditional, or do i create another if / else statement prior to lines 60-62?

[2018-01-18 22:46] kellyjacksonio commented on #2029
Alright, gave it my best shot! Please review and let me know what I could have done better

[2018-01-18 23:14] jywarren commented on #683
Hi, I wanted to cite this post I wrote yesterday to encourage you to think about this in separate independent parts: https://publiclab.org/notes/warren/01-18-2018/software-outreach-modularity-is-great-for-collaboration

I believe the easiest and most important initial step is to use the OmniAuth library (https://github.com/omniauth/omniauth) to do a Facebook login (with the `omniauth-facebook` lib

[2018-01-18 23:17] jywarren commented on #683
(edited the top of the issue to narrow things a bit, i hope that's helpful!)

[2018-01-18 23:27] jywarren commented on #153
I have an IFTTT recipe in testing right now -- it works, but who is owner for the PL events calendar? I need to enter that account's info in so events get posted on the correct calendar.

[2018-01-18 23:32] SidharthBansal commented on #683
Yeah fb login can be the first step, actually I read the post after writing the answer to you on this. I am happy to help at step 1.

[2018-01-19 05:14] SidharthBansal commented on #2029
@kellyjacksonio You need to create an if statement before lines 60-62.
Thanks for the pr

[2018-01-19 06:14] Gauravano commented on #1983
Hi @cesswairimu ,the issue about migration is resolved now , you can start working on it again and if you  face any error , you can post it here too.

[2018-01-19 12:49] ArunNairID opened #2049 "404 url :https://publiclab.org/notes/khufkens/04-24-2015/www.khufkens.com"
### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resol

[2018-01-19 17:39] jywarren commented on #2049
Hi, thanks -- i think this may be a typo on the original author's part -- perhaps `http://` was not entered? If you agree, perhaps you can leave a comment on that post. I'm going to close this for now but thanks for reporting! If you're interested in getting involved, please check out:

https://publiclab.github.io/community-toolbox/#r=all

[2018-01-19 17:39] #2049 closed

[2018-01-19 19:01] Gauravano commented on #2028
Hey @jywarren, the method in the tag_controller for solving this issue would work similar to method barnstar.The barnstar method is called by the form which is there in 'views/like/_like' but for making co-author there is no form present, we make co-author as for now by adding tags only, so should I add if statement in create method of tag_controller and redirect to separate method for handling cr

[2018-01-19 19:09] Gauravano commented on #2028
Also, presently automatic comment creation for barnstar take place if the barnstar is generated via Award barnstar form and not by just adding power tag [barnstar: type], so we can also make changes so that comment creation could take place if someone has added barnstar tag.What do you think @jywarren?

[2018-01-19 21:49] jywarren commented on #2042
That'd be great. Just catching up on PRs now!

On Wed, Jan 17, 2018 at 11:28 PM, Vidit <notifications@github.com> wrote:

[2018-01-19 21:50] ebarry opened #2052 "[DRAFT] allow activity writers to create custom response templates"
### Please describe the problem (or idea)

This is an opportunity to allow people who are writing activities, especially teacher types, to customize the template that appears in the research note after clicking the "I did this" button.

[2018-01-19 22:33] jywarren opened #2053 "Looking for mentors for 2018 Summer of Code programs"
Hi, folks! We're now applying for both Rails Girls Summer of Code and Google Summer of Code -- and we need some folks to offer to be mentors for GSoC in particular. (RGSoC has a different system!) Is anyone interested in joining in as a mentor this coming summer? (we would love to have you apply as a participant of course -- either way!)

Here's some info I've collected on mentoring... there's a g

[2018-01-20 11:02] SidharthBansal commented on #1930
@jywarren I have looked at the controller's action but can't find any bug there. I tried to reproduce the error at my localhost but it is working fine in the development mode. But there is an error in the production.
Also, one thing I noticed that the SQL query will sort according to the ASCII encoding ie 0-9 then A-Z then a-z. I don't think that is an issue.

[2018-01-20 11:03] SidharthBansal commented on #1930
In the development mode it is sorting correctly.

[2018-01-20 14:07] ebarry opened #2056 "Need a more graceful "denial of access" when not logged in and trying to click buttons"
### Please describe the problem (or idea)

i was watching a faculty member click the "i did this" button on an activity, and they instantly hit the "not logged in" screen. It is preferable that not-logged-in people be able to see at least some kind of preview of what the response template looked like. Without being able to see what screen the button led to, there wasn't enough of the experience th

[2018-01-20 14:51] cesswairimu commented on #1983
@Gauravano  Thanks a lot it works. I am working on the issue now

[2018-01-20 16:40] ebarry commented on #1930
from what i can observe as a site Admin, I am able to sort wiki pages by name, however there is unexpected behavior:

* two wiki pages that begin with `P` are before numbered pages
* in the midst of numbered pages (usually a date, like 2013), there is the `Barnraising` page

<img width="960" alt="screen shot 2018-01-20 at 11 38 28 am" src="https://user-images.githubusercontent.com/161439/35185718-

[2018-01-20 17:13] Gauravano commented on #1736
Ok, I understood @ebarry what you are trying to say, we have to place a navbar at contributor page at the same position as its present on others pages.I will share a template to replicate same design on contributor page as others pages have.Thanks.

[2018-01-20 17:19] Gauravano commented on #1736
Also, If you want I can reverse the changes on done on this line syntax "180 people have contributed 651 research notes and 10 wiki pages tagged with "spectrometer" in the new template.What you say?

[2018-01-20 19:34] MayankKashyap commented on #2053
Yeah Jeff , I read about it and I can manage easily

[2018-01-20 21:13] siaw23 opened #2057 "node.replace() errors in tests"
So I'm getting to know the project. But I have a few questions.

1. The test results below have some failures, how come this project is passing in Travis on production?
2. How come there are so few tests and how do I see the percentage of test coverage because I think the test coverage is very very small.

[code]

[2018-01-21 00:50] jywarren commented on #2056
one way to do this a little smoother is to, instead of simply linking to
/login, have a modal pop up -- like on https://spectralworkbench.org/ --
although with both login and signup forms in the modal. +1 that OAuth will
make this even better!

On Sat, Jan 20, 2018 at 9:07 AM, Liz Barry <notifications@github.com> wrote:

[2018-01-21 03:38] ebarry commented on #1736
I'm not sure! I did appreciate the sentence construction, but perhaps we
could better make a decision after we standardize the header and see what
everything looks like?
thank you sooooo much

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Sat, Jan 20, 2018 at 12:19 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-01-21 16:04] Gauravano commented on #2027
We want to display the nodes to which user is subscribed to on the digest page or all the nodes created and changed between the start and end time? As changes suggested by you @jywarren in user.content_followed_in_past_period are not sufficient to display nodes subscribed/followed by the user, so I was little confused about the aim of the page.Its ready and working for showing all the nodes in the

[2018-01-21 20:11] namangupta01 opened #2060 "Share this subscription Link"
### Please describe the problem (or idea)

If would be good if we have full subscription link in link share dialog box. As shown in the image.

![screen shot 2018-01-22 at 1 34 39 am](https://user-images.githubusercontent.com/20709985/35198440-fc2261be-ff14-11e7-8224-2d90843bfd1e.png)

It should be like :
![screen shot 2018-01-22 at 1 39 53 am](https://user-images.githubusercontent.com/20709985/35

[2018-01-22 02:01] perfidiousscript commented on #2060
Hi, I'm a first timer but I think I can take this one on.

[2018-01-22 02:19] perfidiousscript commented on #2022
Hi, I'm a first timer and am interested in taking this on.

[2018-01-22 02:55] jywarren commented on #2022
That'd be great, thanks so much! Please tell us if you need any help.

On Jan 21, 2018 9:19 PM, "Sam Moss" <notifications@github.com> wrote:

[2018-01-22 10:14] namangupta01 commented on #1930
@SidharthBansal may i work on it?

[2018-01-22 15:25] steviepubliclab commented on #153
I can't tell who owns it. It doesn't say in the settings as far as I can
tell. Seems like the highest level of access are people who have the status
"*Make changes AND manage sharing" *
-Stevie

On Thu, Jan 18, 2018 at 5:27 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-01-22 15:32] jywarren commented on #1785
Hi, @Diksha2008 that'd be great -- i think we need to start by planning this one out -- it's a big system. let me check with @ebarry and @steviepubliclab about whether we want to prioritize this project now or to ask folks to hold off for a bit. Thanks!!

[2018-01-22 16:30] jywarren commented on #2053
@siaw23 - were you interested as well? Thanks!

[2018-01-22 17:40] jywarren commented on #1570
@icarito can you answer this one? I assume so, but not sure.

[2018-01-22 17:50] #1773 closed

[2018-01-22 17:54] ebarry opened #2063 "Add profile pictures to /people page"
### Please describe the idea

Our existing top level page about Public Lab members is a little bland

<img width="1022" alt="screen shot 2018-01-22 at 12 46 19 pm" src="https://user-images.githubusercontent.com/161439/35235483-43643306-ff72-11e7-8e5e-b5fe49fd9206.png">

The Halt The Harm leader directory is on point for having profile pictures.
<img width="832" alt="screen shot 2018-01-22 at 12 44

[2018-01-22 17:57] icarito commented on #1570
@namangupta01 yes we have a SMTP service listening locally in port 25 _in production_ - but not in staging container.

I'm thinking we should open the port in the staging container to the docker host port 25 (where we either deliver or drop those messages silently). I'll make a ticket for that. Still it'd be nice if the absence of an SMTP service would be treated gracefully.

[2018-01-22 18:00] namangupta01 opened #2064 "Add Turbolinks for faster loading"
### Please describe the problem (or idea)

We can add turbolinks for faster loading of our web-pages.
Turbolinks can make a  Rails app feel faster by using JavaScript to replace the page content when clicking a link.

@jywarren What do you think of this?

[2018-01-22 18:00] icarito opened #2065 "Open port 25 in container to docker host (for SMTP)"
### Please describe the problem (or idea)

Staging container should try to use localhost email facility. Currently it errors (see https://github.com/publiclab/plots2/issues/1570 )

[2018-01-22 18:42] namangupta01 commented on #2064
Just look at the loader on the top of both.
Before applying turbolinks :
![without](https://user-images.githubusercontent.com/20709985/35237903-e951ee98-ffd1-11e7-9c3b-fe12a0559d21.gif)

After:
![with](https://user-images.githubusercontent.com/20709985/35237924-f7acdfd4-ffd1-11e7-8ac3-a36289544eac.gif)

[2018-01-22 19:00] ebarry opened #2068 "Planning issue: Improve various graphs across site"
### Please describe the idea

**Stats graphs appear in many places around the site, so improving these graphs will have a big impact on how people understand activity in Public Lab**

### Background on graphs

The graphs haven't been improved since they were first created some years ago. Stats and graphs of all kinds are important for how the community can see itself, and for the non-profit to do

[2018-01-22 19:02] Gauravano commented on #1418
Hey, @jywarren I can open new first-timers from this or I can solve this too.What you say?

[2018-01-22 19:04] namangupta01 commented on #2068
@ebarry See https://www.chartkick.com/ They have nice graphs.

[2018-01-22 19:13] Gauravano commented on #2068
https://plot.ly/javascript/line-charts/ they also have a nice interface and their graphs satisfy many ideas which you want @ebarry.

[2018-01-22 19:18] ebarry opened #2069 "[DRAFT] Navigate by first letter for /wiki and /tags"
### Please describe the problem (or idea)

There has been so much great improvement made on sorting /wiki and /tags lately -- thank you all so much!!!

I would like to explore more fine grained navigation.
Here's an idea originally proposed in https://github.com/publiclab/plots2/issues/179:

* Add individual letters as well as the number zero to the top of /wiki and /tags like this `0 a b c d e f

[2018-01-22 19:20] namangupta01 commented on #2069
This seems to be a great idea!

[2018-01-22 19:39] namangupta01 commented on #2020
Does this problem also occur in development mode?

[2018-01-22 20:32] siaw23 commented on #2053
yes @jywarren

[2018-01-22 20:44] jywarren commented on #1418
That sounds super!

On Mon, Jan 22, 2018 at 2:02 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-01-22 20:45] jywarren commented on #1418
ah, i mean super to open a first-timers issue. Thanks!

On Mon, Jan 22, 2018 at 3:44 PM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-01-22 20:46] jywarren commented on #2064
Wow! Are there any drawbacks to this? Any surprises or issues we should
look out for?

On Mon, Jan 22, 2018 at 1:42 PM, Naman Gupta <notifications@github.com>
wrote:

[2018-01-22 20:53] biswesh456 commented on #1392
Hi. I am facing the same problem now when I tried to follow the instructions given in readme.
It asks for bundle exec rake db:setup. On typing the command I see the following error:

/Users/bisweshmohapatra/.rvm/gems/ruby-2.4.1/gems/activesupport-4.1.16/lib/active_support/core_ext/numeric/conversions.rb:121: warning: constant ::Fixnum is deprecated
/Users/bisweshmohapatra/.rvm/gems/ruby-2.4.1/gems

[2018-01-22 20:55] Supun94 commented on #2053
@jywarren I also would like to apply as a mentor. Thanks!

[2018-01-22 21:01] jywarren opened #2071 "List people by profile tag at /people/TAGNAME"
We have a great list of people over at http://publiclab.org/people

But now we have profile tags -- see the bottom of: https://publiclab.org/profile/warren

We should be able to view people by what profile tags they've added. So, for example:

`https://publiclab.org/people/air-quality` - for people who've added the tag `air-quality` to their profile.

This could be achieved through a variation of

[2018-01-22 21:04] jywarren commented on #1392
Ah, that's not good!

@StlMaris123 - are you seeing this same issue?

Can anyone post a full log? I think the warnings may not be related, in fact -- just a suspicion!

[2018-01-22 21:09] namangupta01 commented on #2053
@jywarren If possible i would also like to apply as a mentor.

[2018-01-22 21:10] Gauravano opened #2072 "Add more functional tests for each method in Search API"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people f

[2018-01-22 21:11] Gauravano commented on #1418
Moved to #2072 for first-timers

[2018-01-22 21:11] #1418 closed

[2018-01-22 21:11] biswesh456 commented on #1392
On running the rake db:setup I get this:

rake aborted!
Gem::LoadError: You have already activated rake 12.3.0, but your Gemfile requires rake 10.5.0. Prepending `bundle exec` to your command may solve this.

So on using bundle exec I got the above errors.

On searching a bit I have found that rails version might be creating a problem. Is that a possible problem?

[2018-01-22 21:14] namangupta01 commented on #2064
@jywarren I think we don't have to look for any issue because turbolinks by-default come with rails 4 --onwards and since we have upgraded this project from rails 3 to rails 4 thats why we donot have turbolinks by default becuase no turbolinks in rails 3

[2018-01-22 21:26] namangupta01 commented on #2064
Infact Turbolinks uses Pjax which uses Ajax which only loads the body that is changed by making Ajax Calls. It makes the app behave like single page application even the app is not single page application and evantually it also makes it faster as single page applications are and undoubtly, it also create better user experience.

[2018-01-22 21:32] namangupta01 commented on #2064
Github also uses turbolinks thats why we donot see any loader i guess.

[2018-01-22 22:29] jywarren commented on #2063
That'd be super. Thank you!!

[2018-01-22 22:49] siaw23 commented on #2057
not sure if you saw this. @jywarren

[2018-01-22 22:54] jywarren commented on #2057
Hi, sorry i haven't had a chance to respond. Can you offer some more details on your environment? Are you using sqlite for tests?

@publiclab/reviewers is anyone else seeing this on local tests?

As to coverage, you can take a look at our Coveralls report linked from our README -- it shows 90% coverage:

https://coveralls.io/github/publiclab/plots2?branch=HEAD

It isn't perfect, and our tests coul

[2018-01-22 22:57] jywarren commented on #2057
Regarding percentage, we could look at more verbose test output, but ours does show:

[code]

We could try to make our minitest reporters more verbose... see this line in the Gemfile for what we currently use:

https://github.com/publiclab/plots2/blob/41fe0807cf39f05f2a75183313c67c946859510d/Gemfile#L47

[2018-01-23 00:05] jywarren commented on #2057
Aha! I reproduced these errors here in an unrelated PR: https://github.com/publiclab/plots2/pull/2073

I bet this has to do with the latest gems; do any listed in that PR strike you as being possibly responsible for @siaw23's errors, above?

[2018-01-23 00:25] jywarren commented on #2057
Indeed, compare to https://github.com/publiclab/plots2/pull/2074 -- this is a dependency version issue. Let's try to narrow down by changing these gems, which differed between #2073 and #2074:

[code]

[2018-01-23 00:25] jywarren commented on #2057
@siaw23 can you post the output of `gem list` as a gist here?

[2018-01-23 00:35] jywarren commented on #2072
This is looking good, @Gauravano ! Maybe a little more formatting with headers, perhaps? Thank you!

[2018-01-23 00:36] jywarren commented on #1418
:-)

[2018-01-23 00:38] jywarren commented on #2053
Super, have you all read through the materials I posted above? Thanks very much!

[2018-01-23 00:39] jywarren commented on #2064
Wow, cool! Let's test it out on our unstable container. Let me try that out now. unstable.publiclab.org -- it'll take a few minutes to build.

[2018-01-23 00:42] jywarren commented on #2053
If you're interested, please leave your name in the "potential mentors" list on this page next to projects that interest you! Thanks!

https://publiclab.org/wiki/gsoc-ideas

[2018-01-23 01:42] siaw23 commented on #2057
@jywarren i am using mysql for all environments.

and here you can find my gem list: https://gist.github.com/siaw23/a425276adc978fcd66886d412ebea765

i'll try to pull from upstream to see if i get in line with master.

[2018-01-23 03:14] SidharthBansal commented on #2069
Superb idea!!!

[2018-01-23 04:24] rishabhptr commented on #2071
@jywarren Can I try this?

[2018-01-23 04:41] jywarren commented on #2071
Yes please!

On Jan 22, 2018 11:25 PM, "Rishabh Singh" <notifications@github.com> wrote:

[2018-01-23 05:19] ankitbhardwaj78 commented on #1941
yes please @jywarren .I am not able to replicate the issue.

[2018-01-23 06:18] manishkd commented on #2053
@jywarren  how we can add our name in potential mentors list, I can't find out.

[2018-01-23 06:21] MayankKashyap commented on #2053
@jywarren how we can add our name in potential mentors list. I can't find out.

[2018-01-23 12:11] namangupta01 commented on #2069
@ebarry Can i work on it?

[2018-01-23 12:55] biswesh456 commented on #1392
It worked after I changed my ruby from 2.4.1 to 2.2.0. Thanx for cooperating.

[2018-01-23 14:54] jywarren commented on #1392
Great, thank you for fixing this. I left a note at the top for reference and will close. We should try to refactor to support Rails 2.4. @StlMaris123 please note the Rails 2.4 incompatibility!

[2018-01-23 14:54] #1392 closed

[2018-01-23 14:56] jywarren opened #2075 "Errors on running in Ruby 2.4"
We currently support up to Rails 2.3, and you may see errors if you run in Rails 2.4:

https://github.com/publiclab/plots2/issues/1392#issuecomment-359566024

[code]

We should resolve these to become compatible with Rails 2.4!

Thanks @StlMaris123 @biswesh456 for identifying this issue.

[2018-01-23 14:56] jywarren commented on #1392
Left a note in #2075

[2018-01-23 15:04] #2042 closed

[2018-01-23 15:25] jywarren commented on #2028
ah, i see. Yes, i think perhaps we should refactor these to trigger on the tag creation, not on the form submission, for both barnstars and co-authorship.

Do you want to take a crack at this? Thank you!

[2018-01-23 15:26] jywarren commented on #2028
Just watch out because you can't access `current_user` in the models -- they don't "know" about the user session. But we should be able to use the tag creator's uid, right?

[2018-01-23 15:29] jywarren commented on #1070
Yep!

[2018-01-23 15:49] jywarren commented on #2057
Hmm, i see you're on `i18n (0.9.1)` so that doesn't seem like it could be the issue. Anything else stand out for you about the differences between #2073 and #2074?

[2018-01-23 15:50] jywarren commented on #2057
could you try running a diff between your Gemfile.lock and one from both #2073 and #2074, to see what differs?

[2018-01-23 15:53] jywarren commented on #2057
For what it's worth, the section causing the errors is a new revision creation plus a regular expression: https://github.com/publiclab/plots2/blob/ceb7d05404b4619c7fa8cd8cae5e8215798cb02c/app/models/node.rb#L801-L810

[2018-01-23 15:54] jywarren commented on #2053
Sorry, to clarify, you can click the Edit tab on that page and add your name -- you'll need a PublicLab.org login! Thanks!

[2018-01-23 15:58] biswesh456 commented on #2072
Can I claim this?

[2018-01-23 16:33] gretchengehrke opened #2076 "Dashboard overwhelmed with just a few posts on a single topic"
The current PL dashboard (http://publiclab.org/dashboard) can easily become overwhelmed with a single topic or a single person's username if just a few questions, comments, or posts are made. As many people (perhaps especially PL staff) seem to respond to or post several related items in a given website session, the dashboard is quite often flooded with information on one topic, leaving other topi