[2019-03-11 20:33] Tarr22 commented on #4963
Hello, I stumbled upon this thread looking for newbie friendly repos to contribute to. Thanks for giving people in my position an opportunity to get started! I currently use Java but I am open to using other languages.

[2019-03-11 20:35] jywarren commented on #5015
Yeah, see how it got worse and worse:

![image](https://user-images.githubusercontent.com/24359/54155810-4c837480-441b-11e9-90f5-b97a0d886f60.png)

I also see a few requests for profiles, so it's possible that was a root cause (since the users table is so giant) but not sure...

[2019-03-11 20:40] jywarren commented on #5015
It's just not very convincing that the notes api endpoint is the cause - it's a simple and limited query:

https://github.com/publiclab/plots2/blob/1eb99a97f1c0a78e3448cbb0995cedebc30b44d2/app/services/search_service.rb#L48-L51

I'm more inclined to think it could've been caused by another query and we're just seeing the effects but why would the loadtime affect this query and not other controller

[2019-03-11 20:40] Jenniline commented on #4991
Thanks @nazeem1988

On Mon, 11 Mar 2019, 21:19 nazeem1988, <notifications@github.com> wrote:

[2019-03-11 20:41] jywarren commented on #5015
@icarito i think we need to do a deeper look at the long-running mysql queries?

[2019-03-11 20:43] ananyaarun opened #5016 "Make README.md consistent by capitalizing first letter of all bullet points"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-11 20:44] ananyaarun commented on #5016
@gauravano , A simple change in README.md to make it look more structured. I think this makes a good FTO issue as well !

[2019-03-11 20:47] gauravano commented on #4991
Thanks @nazeem1988! I will try to open a new one for you soon. And, I hope, both of you have a nice time contributing and starting your Open Source :globe_with_meridians: journey with us.

Thanks!

[2019-03-11 20:48] #4992 closed

[2019-03-11 20:54] #4822 closed

[2019-03-11 20:54] gauravano commented on #5016
Hey @corbettbw, interested in working on this one?

[2019-03-11 20:58] gauravano commented on #4963
@Tarr22 you can checkout our other repos too at https://github.com/publiclab/ and start with any repo you find interesting. I am also adding your name to above list and would you be ok with HTML,CSS issue in this repo?

[2019-03-11 20:58] madelinejones commented on #5016
Could I possibly claim this one?

[2019-03-11 21:03] madelinejones commented on #4963
I’m an Outreachy applicant and looking for an issue to contribute to. Can you please add my name to the list? :)

[2019-03-11 21:05] gauravano commented on #5016
hey @madelinejones, we would love to have your help with other issues. @corbettbw was looking for an issue to start with for some time so let's give them a chance to work on this.

You can have a look at other issues at https://github.com/publiclab/plots2/issues/ and if find any interesting, then start working on that (if that's not assigned). Also, if you think, a particular issue is little compl

[2019-03-11 21:05] jywarren commented on #4922
Yes, perhaps you can make an issue collecting up in a list a lot of
detailed ones? But be aware that some might be resolved if we completely
revamp the relevant page in this big redesign. Still, several may make good
issues for new contributors! Have you made a first-timers-only issue, or
solved on yourself? https://code.publiclab.org/#r=all

On Mon, Mar 11, 2019 at 2:19 PM Ananya Arun <notificati

[2019-03-11 21:07] icarito commented on #5015
Didn't find anything upon arriving
![imagen](https://user-images.githubusercontent.com/199755/54158074-b4d05700-4417-11e9-9eef-d51c34997477.png)

[2019-03-11 21:07] icarito commented on #5015
I'll run the requests_log_analyzer on the mysql_slow log like in the old days

[2019-03-11 21:08] gauravano commented on #4963
@madelinejones  added your name to the above list and we'll mention you soon. Thanks!

[2019-03-11 21:20] jywarren commented on #4952
awesome, and THANK YOU! We'd love your help in supporting some of the
others making their first contribution. Perhaps you'd be interested to skim
some of these and see if people are stuck? https://code.publiclab.org

On Sun, Mar 10, 2019 at 10:13 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-11 21:28] icarito commented on #5015
I'm seeing a process related to the comment by tweet I think:
[code]
Maybe this is the culprit?

[2019-03-11 21:29] icarito commented on #5015
![imagen](https://user-images.githubusercontent.com/199755/54159339-c2d3a700-441a-11e9-9736-88bfe8f52a86.png)
The regular shape suggests this could be a scheduled task?

[2019-03-11 21:30] icarito commented on #5015
Those processes `ruby /usr/local/bin/bundle exec rails runner -e production Comment.receive_tweet` take a big chunk of CPU

[2019-03-11 21:31] ananyaarun commented on #4922
@jywarren , Sure thats a good idea , perhaps i can take a particular section of the webpage at a time , for example the dashboard, about us sections etc and give a detailed description of the UI/UX changes possible/needed. This can further be discussed on the issue thread and once finalized a PR can be made :)

Regarding FTO issues , i have opened and solved quite a few already.
https://github.com

[2019-03-11 21:32] jywarren commented on #4938
Hi! I wonder if this could help? https://stackoverflow.com/a/52972766

Did you see the full docs here? Thank you! https://apexcharts.com/docs/options/chart/events/#

[2019-03-11 21:33] icarito commented on #5015
![imagen](https://user-images.githubusercontent.com/199755/54159634-6de46080-441b-11e9-8271-ea1e05454269.png)

[2019-03-11 21:37] jywarren commented on #4922
:-) awesome. Thanks so much! And indeed, it'd be great to start copying and
dividing up the specific steps it would take to implement the designs --
making checklists!

On Mon, Mar 11, 2019 at 5:31 PM Ananya Arun <notifications@github.com>
wrote:

[2019-03-11 21:40] jywarren commented on #5015
Great sleuthing! This is then connected to #4962 and specifically the Users query there.

[2019-03-11 21:44] jywarren opened #5018 "First-timers-bot and welcomebot seem not to be working now?"
See how we connected to these bots here: https://github.com/publiclab/plots2/issues/3681

But neither seems to be working at the moment!

I filed an issue here -- https://github.com/hoodiehq/first-timers-bot/issues/212#issuecomment-471336786

and heard back that that logs for first-timers-bot can be found here:

https://zeit.co/deployments/first-timers-bot.now.sh/logs

[2019-03-11 21:49] jywarren commented on #4962
Added UserTag query optimization here:

https://github.com/publiclab/plots2/commit/a7ca3e9250e8b6b5a8317149f3658685462ac134

[2019-03-11 21:50] gautamig54 opened #5019 "Make the hover drop downs in the navbar instead of click."
The main navbar has dropdowns which open when clicked. I suggest that it will be better if there is hover dropdowns as it is more convenient and user friendly.
![Screen Shot 2019-03-11 at 11 02 09 PM](https://user-images.githubusercontent.com/35326753/54160510-bfb9d480-4475-11e9-8346-969af38b919f.png)

[2019-03-11 21:51] gautamig54 commented on #5019
@jywarren I would like to work on this issue if it gets added as one. Thanks!

[2019-03-11 21:51] jywarren commented on #5015
https://github.com/publiclab/plots2/commit/a7ca3e9250e8b6b5a8317149f3658685462ac134 added -- any other way to break down what's taking so much CPU? I'll slow down the job too.

Also set it to 10m intervals instead of 1 minute:

https://github.com/publiclab/plots2/commit/fa39d7a7e294f4352a4fe9daaaafaed2ff3e782f

[2019-03-11 21:52] jywarren commented on #5015
I merged those directly to master. will push to stable now for deployment, once we confirm https://stable.publiclab.org is working?

[2019-03-11 21:55] icarito commented on #5015
Yes sounds great. Every 10 minutes should be fine with the query optimization.

[2019-03-11 21:55] jywarren opened #5020 "Write unit tests for parts of Reply By Tweet feature"
There's a new Reply by Tweet feature, but it needs some unit tests! @namangupta01 maybe you could help people get started on this?

https://github.com/publiclab/plots2/blob/f4d965c94de289ef3244bc7eb3d555ef4edcfbe0/app/models/comment.rb#L347-L441

Any of these methods could use a unit test, in this file: https://github.com/publiclab/plots2/blob/master/test/unit/comment_test.rb

Here's an example of

[2019-03-11 22:00] jywarren commented on #3988
Hi @gauravano -- do you think this might be added to the Translation project?

[2019-03-11 22:04] jywarren commented on #5019
Sure! This'd be great!

On Mon, Mar 11, 2019 at 5:51 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-03-11 22:05] gautamig54 commented on #5019
Thanks @jywarren ! I'll resolve this and file a PR.

[2019-03-11 22:09] jywarren commented on #5019
awesome :-)

On Mon, Mar 11, 2019 at 6:06 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-03-11 22:15] jywarren commented on #4965
So, it's a bit convoluted. Could be easier to read for sure. But basically on line 286, we use a pattern matcher (using Regular Expressions - magical, in my opinion!) to find instances of the short codes we're looking for. This can recognize pretty complex patterns even though the contents change -- the overall pattern is matched.

Then we pick out sub-strings of that pattern using these `Regexp.l

[2019-03-11 22:23] madeofhuman commented on #5008
@gauravano it's just one fix that needs to be applied here, from what I can see. As it is, it'd already an FTO issue.

[2019-03-11 22:26] jywarren commented on #4995
Oh that would be great. You might also make a first-timers-only issue from
it if you're interested! It could be fun to use this to welcome someone
else into the community as well!

On Sun, Mar 10, 2019 at 1:39 PM Ananya Arun <notifications@github.com>
wrote:

[2019-03-11 22:32] jywarren commented on #4989
Hi! Actually those are set using the Features system (in the database) and we'll soon be redesigning the front page anyways. However just this kind of issue affects some other pages where we really need help!

https://publiclab.org/wiki/micro#Events and https://publiclab.org/wiki/coqui#Do+something+with+the+Coqui both show this behavior too;

![image](https://user-images.githubusercontent.com/2435

[2019-03-11 22:37] madeofhuman commented on #5008
Error source:
<img width="1374" alt="Screenshot 2019-03-11 at 9 58 50 PM" src="https://user-images.githubusercontent.com/7345686/54162561-2af3ae80-4456-11e9-8dc1-faf18dd5eee3.png">

Desired outcome:
<img width="1374" alt="Screenshot 2019-03-11 at 10 38 15 PM" src="https://user-images.githubusercontent.com/7345686/54162602-55456c00-4456-11e9-956e-fb42abb7b4bf.png">
<img width="1374" alt="Screenshot

[2019-03-11 22:50] jywarren commented on #5018
@publiclab/reviewers @publiclab/plots2-reviewers this is a bit concerning but I can't see anything wrong!

[2019-03-11 22:54] madeofhuman opened #5021 "Fix hyperlinks not working on profile page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-11 22:56] madeofhuman commented on #5008
@gauravano here it is: https://github.com/publiclab/plots2/issues/5021

[2019-03-11 23:37] gauravano opened #5022 "Welcome, Outreachy aspirants! (Summer- 2019)"
Hello folks from Outreachy - We realized we don't have a main place for you all to ask questions and get support, so we wanted to say WELCOME and create this issue as a discussion zone. Please leave a comment to say hello, in part so we know who's interested in the program! @publiclab/reviewers @publiclab/plots2-reviewers @publiclab/mentors please keep an eye open for opportunities to welcome and

[2019-03-11 23:43] dinaelhanan commented on #4965
@jywarren good seeing you too!  I think I get it, we grab parts of the note that match the button or maps pattern, then use parts of that pattern as btnHref and btnText. This is really going to help me work through it today. I appreciate the explanation!

[2019-03-12 00:06] madeofhuman commented on #5021
@gauravano here's the issue.

[2019-03-12 00:42] jywarren commented on #4965
That's exactly right. Ok, good luck and ask if you get stuck!!!

On Mon, Mar 11, 2019, 7:44 PM d1g1t4ld1n4 <notifications@github.com> wrote:

[2019-03-12 00:44] madeofhuman commented on #5022
Hi! I'm so happy to be here. This community has been really nice and supporting. I'm really excited to have made my first OSS contribution here and I'm looking forward to adding more value to the project. 😄

[2019-03-12 02:11] CleverFool77 commented on #5022
Hey Everyone, I'm Lekhika. It's amazing to be part of this organisation. I mean never been so overwhelmed.
The support given here to first-timers is awesome.
Thanks a lot and looking forward to further guidance in this journey :).

[2019-03-12 02:31] jywarren commented on #4973
Ah, because there was another issue related to module not being defined
that my patch fixed. Thanks!

On Sat, Mar 9, 2019, 1:53 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-12 02:38] Anjalizi commented on #5022
Hello everyone, my name is Anjali.
The journey so far has been great and I am eager to learn more about Public Lab's projects. :smile:

[2019-03-12 05:31] Anjalizi commented on #4543
hi @jywarren. can you help me get started on this issue if this is still open?

[2019-03-12 05:42] CleverFool77 commented on #5019
@jywarren should I do the same for this issue that tag will open on hover not on click. #4987

[2019-03-12 05:52] ananyaarun commented on #4995
@jywarren Sure I'll make this a new FTO issue :)
Also @gauravano just confirming before i open an issue , so the fix for this in the newcomers issue would be to change all tooltips on the page to pop up to the bottom right ?

[2019-03-12 05:56] ananyaarun commented on #5022
Hi everyone, I'm Ananya Arun.
The past few days has been amazing getting to know the public lab community. Working on installation process, Opening solving and reviewing issues has indeed thought me a lot about working together on an open source project. Looking forward to contribute and learn !! :)

[2019-03-12 06:14] divyabaid16 commented on #5010
@gauravano Updated!

[2019-03-12 06:24] divyabaid16 commented on #5020
Can I work on this?

[2019-03-12 06:32] divyabaid16 commented on #5022
Hello everyone, I'm Divya Baid, an outreachy applicant. It was great solving the first issue. I had an amazing experience. I'm looking forward to learning the workflow of this project and solving more issues.

[2019-03-12 06:46] divyabaid16 commented on #4268
@SidharthBansal  Can I work on this issue?

[2019-03-12 06:48] ananyaarun commented on #4995
@jywarren , @gauravano  an interesting finding in this regard. The tooltips are actually not designed in a consistent manner right now. Just noticed both on my local installation and public labs page that most actually pop upward while some pop downwards like these on the Donate page. It is the same comment content that pops up/down on different pages.

![popup](https://user-images.githubuserconte

[2019-03-12 06:56] SidharthBansal commented on #4268
Sure

On Tue, Mar 12, 2019, 12:16 PM Divya Baid <notifications@github.com> wrote:

[2019-03-12 07:10] divyabaid16 commented on #4268
So do I need to use the alert to show the error message or just show it below the field?

[2019-03-12 07:12] SidharthBansal commented on #4268
You can do it anyways.

On Tue, Mar 12, 2019, 12:40 PM Divya Baid <notifications@github.com> wrote:

[2019-03-12 07:14] kuja24 commented on #5022
Hello everyone ! I'm Kuja. I am interested in this project and look forward to make my first contribution

[2019-03-12 07:14] ananyaarun opened #5027 "Pop up messages inconsistent on different sections of the donate page"
## Description
In reference to issue https://github.com/publiclab/plots2/issues/4995
The pop up message on hover along the nav bar on different sections of the Donate page pops up either up or down. The pop ups across sections of donate page even have different height and width of the tooltip.

## Current Behavior

![popup](https://user-images.githubusercontent.com/32260628/54180989-139eda80-44c3-

[2019-03-12 07:23] ananyaarun commented on #5027
@jywarren , @gauravano  I can either fix this problem with one PR to make tooltips consistent across files or i think it would be better to split it into different new comer issues.

[2019-03-12 07:26] cesswairimu commented on #5010
Yes @divyabaid16 its a good first timer issue good catch and thanks :smile: Will get someone to start on this

[2019-03-12 07:26] kuja24 commented on #4990
@gauravano Can I work on this one?

[2019-03-12 07:29] cesswairimu commented on #4963
@nazeem1988 checkout an fto for you #5010

[2019-03-12 07:30] helenatxu commented on #5022
Hello! I am Helena, an Outreachy applicant and I just saw this project and it looks very interesting :)
Looking forward to make my first contribution.

[2019-03-12 07:31] cesswairimu commented on #5010
Issue for @nazeem1988

[2019-03-12 07:32] helenatxu commented on #5010
Hello, can I /claim it?

[2019-03-12 07:36] helenatxu commented on #4972
Hi I am an Outreachy applicant, could I be assigned to this issue to work on? Or maybe you have another issue you could assign me to start working :) Thanks @gauravano

[2019-03-12 07:37] helenatxu commented on #5021
Hi I am an Outreachy applicant, could I be assigned to this issue to work on? Or maybe you have another issue you could assign me to start working :) Thanks @gauravano

[2019-03-12 07:38] cesswairimu commented on #5010
Hello @helenatxu this one is for @nazeem1988, will add on the list and will try and get an issue for you. thanks

[2019-03-12 07:47] cesswairimu commented on #3840
@efuet-flora is getting this error
`Could not find gem 'tzinfo-data x86-mingw32' in any of the gem sources listed in your Gemfile.
Run bundle install to install missing gem`
Using windows OS. Any ideas?

[2019-03-12 08:00] ananyaarun commented on #3646
Hey i would like to take this up. A message like this " There is nobody in our system by that name, are you sure you have the right username?" as seen in other cases would be more suitable in this case.
Also @Dhiraj240 were u able to reproduce this error in ur local installation ?

[2019-03-12 08:00] cesswairimu commented on #5021
@madeofhuman good catch, but to make it a `first-timer-only` you have to give the the actual code to be written and links to where specifically it should be. Please do that on the description or I can help with that, juts let me know. @helenatxu awesome you can take up this issue once its ready

[2019-03-12 08:03] Anjalizi commented on #3322
has this issue been solved yet? if not, please help me get started with this.

[2019-03-12 08:09] Anjalizi commented on #4905
i would like to work on this issue, please help me get started.

[2019-03-12 08:16] shreyateeza commented on #5022
Hello everyone! I am Shreya from India and Outreachy applicant. I have already started contributing to the repo. I look forward to contributing as a part of Outreachy.

[2019-03-12 08:19] shreyateeza commented on #4541
@cesswairimu Is this issue open to working on? If yes, please assign me and help me get started.

[2019-03-12 08:21] shreyateeza commented on #5020
@namangupta01 @jywarren I would like to work on this issue. How can I proceed?

[2019-03-12 08:33] cesswairimu commented on #4541
@shreyateeza checkout #4603 and maybe we can find a mini pr for you to contribute on...​Thanks for the interest

[2019-03-12 08:44] madeofhuman commented on #5021
@cesswairimu It's actually just one line of code that needs to be changed to fix everything. If you look at the screenshot of the error page, it's line 4 of [_tags_popover.html.erb](https://github.com/publiclab/plots2/blob/master/app/views/tag/_tags_popover.html.erb)

[2019-03-12 09:05] cesswairimu commented on #5021
Aha gotcha, thanks @madeofhuman. @helenatxu this is ready you can get started on it...comment below if you get stuck.

[2019-03-12 09:44] gautamig54 commented on #5022
Hello everyone! I am Gautami and I am really looking forward to contribute to public labs.

[2019-03-12 10:26] fabsar commented on #5022
Hello everyone! I am Sargam , an Outreachy Applicant. I am a first timer and really look forward to be a part of this community!

[2019-03-12 11:19] CleverFool77 opened #5030 "The react button goes out of comment card"
## Description
The buttons in the comment card is going out of the card.

## Current Behaviour
![Screenshot from 2019-03-12 22-17-00](https://user-images.githubusercontent.com/26685258/54196164-9edd9780-44e6-11e9-90da-b23061957f07.png)
![Screenshot from 2019-03-12 22-18-47](https://user-images.githubusercontent.com/26685258/54196190-ba48a280-44e6-11e9-8839-c9097f4d9212.png)

## Expected Behaviour

[2019-03-12 11:31] CleverFool77 commented on #5004
@gauravano As this is approved, we can assign a first timer looking for issues.

[2019-03-12 11:34] CleverFool77 commented on #5022
@fabsar, Did you went through all first timers issues ? You can add yourself in #4963. And get yourself a issue assigned. Thanks :)

[2019-03-12 11:57] CleverFool77 opened #5031 "Change the social icons border color"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-12 12:00] CleverFool77 commented on #5031
@gauravano I wasn't able to find the file where update will be done.

[2019-03-12 12:33] richa031 commented on #4963
Hello I want to start contributing to this project and i'm searching for some new-comers-friendly issues. Please help me finding it.

[2019-03-12 12:35] Harshithpabbati commented on #4963
@richa031 add your name to the above list. You will be mentioned soon.
Thanks

[2019-03-12 12:37] shreyateeza commented on #5030
@CleverFool77 I would like to work this issue when validated!

[2019-03-12 12:38] richa031 commented on #4963
@Harshithpabbati thank you for the guidance

[2019-03-12 12:39] shubhscoder opened #5032 "Adding link to sample git workflow in readme"
We have a lot of newcomers coming now, So I think we should include this link ( https://publiclab.org/notes/warren/11-22-2017/use-git-and-github-to-contribute-and-improve-public-lab-software ) This is a beautiful guide (Thanks @jywarren for this) to learn git workflow. In fact I made my first pull request using this guide. So probably this could be helpful for  someone else as well. Also we can ha

[2019-03-12 12:48] SidharthBansal commented on #4905
There is some problem with the role. I guess the banned user comments are
also counted. So please change the model code to have role of normal user
only.
Thanks

On Tue, Mar 12, 2019, 1:39 PM Anjali Jain <notifications@github.com> wrote:

[2019-03-12 12:52] helenatxu commented on #5021
Thank you @cesswairimu!

[2019-03-12 13:04] fabsar commented on #4963
Hello, I am looking for some first timer issue, can someone assign me one?

[2019-03-12 13:09] ananyaarun opened #5033 "Add delete account feature in user profile section"
## Description
Currently Once a user creates an account he/she can never delete it.
There are options to edit profile or log out from all devices etc but not to completely delete the account created.

## Expected Behavior
There should be an option to delete account in the user profile section.

[2019-03-12 13:17] gauravano commented on #5033
hey @ananyaarun, we already have issue for this - https://github.com/publiclab/plots2/issues/2819. If you are interested in implementing this, chime-in there. Thanks!

[2019-03-12 13:17] #5033 closed

[2019-03-12 13:19] CleverFool77 commented on #5033
This would be great to add, coz there might be many users who made accounts and now are not using anymore.
But what about notes and wiki they added?
They won't be deleted right?

[2019-03-12 13:20] gauravano commented on #4963
hey @richa031 and @fabsar, added your name to the above list and will ping you soon with a FTO issue. Thanks!

[2019-03-12 13:22] fabsar commented on #4963
Thank you!

[2019-03-12 13:22] fabsar commented on #5022
Thanks:)

[2019-03-12 13:23] gauravano commented on #5033
We can delete spam accounts and content associated with it. And, in case a normal user want to delete their account, we can pose option for them whether they want their content to remain on our website or not? We have to discuss this further as there might be some content rights, etc in play.

[2019-03-12 13:26] ananyaarun commented on #5033
@gauravano Thanks for pointing it out.
@CleverFool77 Yes Exactly !
The solution of posing an option seems best in this case for a normal user.
But shouldn't the creation of spam accounts not be allowed in the first place ? At least to some level ?

[2019-03-12 13:31] gauravano commented on #5022
CALL FOR OUTREACHY PROPOSALS

Hi everyone,

We've posted a call for proposals here - https://publiclab.org/notes/gauravano/03-12-2019/call-for-outreachy-2019-proposals, where we'd like to ask each of you to open a draft proposal and get some comments on it! Thank you!!

[2019-03-12 13:49] gauravano commented on #4979
Hey @daddyjab, I have added your name to the list  - https://github.com/publiclab/plots2/issues/4963 and will ping you soon with a FTO. Thanks!

[2019-03-12 13:54] gauravano commented on #5032
hey @shubhscoder, nice idea. Would you like to open a FTO for this one? Thanks!

[2019-03-12 13:56] gauravano commented on #5030
Hi @CleverFool77, this issue is already posted as a FTO - https://github.com/publiclab/plots2/issues/4991. So, closing this one and thanks!

[2019-03-12 13:56] #5030 closed

[2019-03-12 14:02] gauravano commented on #5031
Here's the link - https://github.com/publiclab/plots2/tree/master/app/views/home/_social.html.erb. Please complete the issue now. Thanks!

[2019-03-12 14:04] gauravano commented on #5004
@Jaya738 you want to work on this one?

[2019-03-12 14:06] CleverFool77 commented on #5030
Maybe because of different title, I didn't see it in option of similar issues. @gauravano Thanks for pointing it out. :)

[2019-03-12 14:06] CleverFool77 commented on #5031
Thanks you so much @gauravano . I guess this issue can be assigned to a first timer now :)

[2019-03-12 14:10] gauravano commented on #3322
Hey @Anjalizi, users can reply to the email they receive from us and there comments are added to our website in case their email account exist in the database. But, in case email account doesn't exist, then we need to send a email back to the user replying the above-given line.

We receive/poll for emails using mailman. the emails are processed at self.receive_mail method. You have to add check at

[2019-03-12 14:10] CleverFool77 commented on #5031
Another question,
Can we open another first timer issue regarding alignment of Dashboard and  the info written below it.
![Screenshot from 2019-03-12 22-26-37](https://user-images.githubusercontent.com/26685258/54206570-93966600-44fe-11e9-902b-9884aef6ba1a.png)

[2019-03-12 14:18] gauravano commented on #4990
hey @kuja24, this issue is assigned to @coderbeetle as they're waiting for their first-issue for some time. I have added your name to https://github.com/publiclab/plots2/issues/4963 and we'll ping you soon with a FTO. Thanks!

[2019-03-12 14:19] gauravano commented on #3840
Have you checked this -
https://stackoverflow.com/questions/29585373/could-not-find-gem-tzinfo-data-0-x86-mingw32-in-the-gems-available-on-this
?

On Tue, Mar 12, 2019 at 1:17 PM Cess <notifications@github.com> wrote:

[2019-03-12 14:19] gauravano commented on #4990
You can also start with other `help-wanted` issues, and if face doubts, feel free to ask us. Thanks!

[2019-03-12 14:21] jywarren commented on #4920
Hi, what if we just untag `first-timers-only` and tag `fto-in-progress` so that we can have a separate list of PRs that may need help?

Or maybe it's actually a good thing that FTOs continue to appear even if they're being worked on, so that people can see how they are supported and see what it's like to do one. If they all disappeared from that list when claimed, maybe that'd be a bad thing. So,

[2019-03-12 14:24] gauravano commented on #5027
Yes @ananyaarun, breaking in FTO sounds good :+1: Thanks!

Also, please close #4995 after diving in FTO

[2019-03-12 14:36] CleverFool77 commented on #4920
How about using tags assigned or unassigned. ?

[2019-03-12 14:41] gauravano commented on #4977
Thanks, everyone but this issue is not required for now. We'll handle it in re-design project.

[2019-03-12 14:47] bealearnscode commented on #5022
Hi,
I'm Beatrix, an Outreachy applicant. I'm also a cybersecurity student. I haven't contributed to open source in well over a year, so I'm excited to get re-acquainted with the skill and learn more.

[2019-03-12 14:53] richa031 commented on #4963
thank you

[2019-03-12 14:59] shubhscoder commented on #5032
@gauravano before I could open a FTO for this someone made a PR for this one. Actually number of newcomers are increasingly a lot in number. So there are many people who are looking for FTO's. We ll need a lot of FTO's now ! :)

[2019-03-12 15:04] shubhscoder commented on #5032
Yes I will do it. Thank you!

On Tue, Mar 12, 2019, 7:24 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-12 15:30] gauravano opened #5034 "Weekly Community Check-in #13 - "Welcome new contributors!""
Hi everyone!!!

We all at Public Lab  :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and about

[2019-03-12 15:31] gauravano commented on #4917
New check-in open at https://github.com/publiclab/plots2/issues/5034. Thanks everyone!

[2019-03-12 15:31] #4917 closed

[2019-03-12 15:39] gauravano commented on #5034
@cassianoblonski, @Anjalizi, @divyabaid16, @madeofhuman, @gautamig54, @CleverFool77, @ananyaarun, @shreyateeza @arungoel123456 @saumyag33 @aashna27 @Harshithpabbati @marieram @swiatek7 @kaunair  @shreyateeza @TANGL3SIT3S @nazeem1988 @karunagoyalk @Nirvikalpa108 @EngrEric @Anjalizi @GettyOrawo @coderbeetle @corbettbw @govindjeevan @gautamig54 @daddyjab @emestabillo @letnewKid @srujana121 @jazdao @C

[2019-03-12 16:00] Anjalizi commented on #4905
Now it shows **0 comments** on the top and bottom both
![comments](https://user-images.githubusercontent.com/26696144/54215353-c98f1680-450d-11e9-9547-1ece79807b55.PNG)

[2019-03-12 16:11] jywarren commented on #5018
Noting that it works on MapKnitter: https://github.com/publiclab/mapknitter/issues/396

[2019-03-12 16:12] jywarren commented on #4963
Hello @govindjeevan -- I've created one for you here! https://github.com/publiclab/mapknitter/issues/396

[2019-03-12 17:51] gauravano commented on #5031
As we would be doing re-design soon so let's not do this one now. Thanks!

[2019-03-12 17:52] gauravano commented on #5031
@daddyjab you can work on this one. Thanks!

[2019-03-12 17:56] jywarren commented on #4928
We may want to do reverse in some cases but not others, so let's keep doing it manually. Some terms might be related to broader terms but we wouldn't want the reverse.

`valverde: val-verde`

[2019-03-12 17:58] gauravano commented on #5032
@shubhscoder their PR is not on plots2.

[2019-03-12 18:00] jywarren commented on #5020
Hi! I think more than one person could write a unit test since there are
multiple issues here. I've actually just written up about unit tests a bit
in this issue -- perhaps the resources there could help you get started?
https://github.com/publiclab/plots2/issues/3480#issuecomment-471594589

On Tue, Mar 12, 2019 at 4:23 AM Shreya <notifications@github.com> wrote:

[2019-03-12 18:01] jywarren commented on #5027
Great, and i believe you'll find the code for the tooltips in this file!
https://github.com/publiclab/plots2/blob/master/app/views/wiki/_header.html.erb

On Tue, Mar 12, 2019 at 10:25 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-12 18:03] jywarren commented on #5019
Hmm, i guess so - can you open a popover on hover? And would it be hard to
move the mouse into the popover without it closing suddenly when you move
the mouse? If it works smoothly, then sure!

On Tue, Mar 12, 2019 at 1:42 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-03-12 18:04] aggarwal19 commented on #5022
Hello everyone !
I'm Shridhi and I'm looking forward to make my first contribution in this project .

[2019-03-12 18:04] gauravano commented on #5034
Hi everyone!

**Goals for the week:**
1. Completing my PRs and pending reviews in mapknitter
2. Filtering plots2 issues and reviewing PRs
3. Solving issues of Translation project

have a great week :100: :sparkles: :smiley: !

[2019-03-12 18:05] Harshithpabbati commented on #5022
@aggarwal add your name in the above list. You will be mentioned soon.
Thanks.

[2019-03-12 18:17] gauravano commented on #3262
Hey @jywarren,

Didn't get your question. I think we can go with zh_CN as what I get from google searches is that zh_TW is used majorly in Taiwan and zh_CN is kind of most used/general. Sorry my knowledge of languages is not so good? I would like to know on which basis you've chosen the languages present on Transifex and also would you be considering zh_CN on basis of population or which factor?

[2019-03-12 18:24] gauravano commented on #3262
Check this out too - https://stackoverflow.com/a/9713377/7057132 @jywarren

[2019-03-12 18:40] divyabaid16 opened #5035 "Some issues in the tags page"
**Description**

In [https://publiclab.org/tags](https://publiclab.org/tags)
* [ ] In Mozilla Firefox, some of the tags are overlapping each other
* [ ] Cursor in  ```show graph``` when hovered doesn't change to pointer
* [ ] The search bar is spread all across the horizontal screen

![Selection_057](https://user-images.githubusercontent.com/32747809/54226384-bdae4f00-4523-11e9-8ec3-19904bf55a7c.p

[2019-03-12 18:43] grvsachdeva opened #5036 "Add more languages to the language dropdown present in the footer"
Current Language dropdown:

![lang_present](https://user-images.githubusercontent.com/20878070/54226605-32818900-4524-11e9-9106-1b7e33f8d3ac.png)

@jywarren please provide the code of the **footer-notice** feature - https://publiclab.org/features/13824. I will add more languages to the footer and also add a text asking for help, like this

![new_footer_design](https://user-images.githubusercontent

[2019-03-12 18:49] divyabaid16 commented on #5036
I think when we click on the other languages already present other than english, the language of the page doesn't change.

[2019-03-12 18:51] sashadev-sky opened #5037 "Remove Postinstall Script"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-03-12 18:51] gauravano commented on #5036
Only those sentences change whose translations are available in our codebase.

[2019-03-12 18:52] megha070 commented on #5031
@gauravano This side Megha Varshney. I am new to open Source and found this project really interesting please help me !

[2019-03-12 18:53] sashadev-sky commented on #4849
@Souravirus opened an FTO for this via #5037

[2019-03-12 18:58] megha070 commented on #5022
Hello everyone!
This side Megha. I found this project really interesting . Looking forward to contribute to this project.

[2019-03-12 18:59] gauravano commented on #5037
hey @emestabillo, you can start working on this one. Thanks!

[2019-03-12 19:01] gauravano commented on #5022
Hi @megha070!

Are you looking forward for your first contribution as an Outreachy intern?

[2019-03-12 19:02] gauravano commented on #5035
Hi @divyabaid16, would you like to solve this issue or can I open FTO from these?

[2019-03-12 19:03] aggarwal19 commented on #5022
@Harshithpabbati , my name is already mentioned in the list (to get first timer issue) .
Thank you for the guidance .

[2019-03-12 19:05] megha070 commented on #5022
@gauravano yes!

[2019-03-12 19:06] divyabaid16 commented on #5035
You may open FTO and I will try to help those who are solving the issue.

[2019-03-12 19:11] gauravano commented on #69
Hi @jywarren @gonzoearth do you think we can close this issue if there's no another such problem reported after this or if we have improved our system?
Thanks!

[2019-03-12 19:14] gauravano commented on #70
@jywarren I think we can re-post this issue with some more details. Do you think we want to add a suggestion field to the sign-up form where tags would be contained?

Thanks!

[2019-03-12 19:16] gauravano commented on #76
@jywarren could you sum-up what goal we want to achieve here and maybe repost the issue if still required? Thanks!

[2019-03-12 19:17] gauravano commented on #86
@ebarry @steviepubliclab @jywarren any updates regarding this issue? Thanks!

[2019-03-12 19:22] gauravano commented on #90
@jywarren we can try to implement this not now but maybe after resolving all the issues of Translation project. Also, here's a some guidance for this - https://guides.rubyonrails.org/i18n.html#setting-the-locale-from-the-domain-name

Also, here's warning about the approach we currently use -
![our_approach](https://user-images.githubusercontent.com/20878070/54229440-43cd9400-452a-11e9-9b06-d2f3da6

[2019-03-12 19:26] gauravano commented on #104
Hey @jywarren @ebarry @steviepubliclab as most of the goals of the checklist are achieved, how about closing this one and opening separate issues for remaining checklist goals?

Thanks!

[2019-03-12 19:30] gauravano commented on #5022
ok, I have added your name to the list - https://github.com/publiclab/plots2/issues/4963 and we'll ping you soon with a issue. Thanks!

Also, you can see issues at https://github.com/publiclab/plots2/issues/ and if find any issue interesting,  then feel free to ask for help, if required.

[2019-03-12 19:34] gauravano commented on #139
@jywarren so what do you think would be a better approach for solving this, considering our current situation? Thanks!

[2019-03-12 19:35] gauravano commented on #5035
Awesome!

[2019-03-12 19:39] gauravano commented on #5035
@jywarren is popular tags part of a feature? Also, any suggestion regarding the search bar?

[2019-03-12 19:40] gauravano commented on #5035
I guess it's part of **tags-header**.

[2019-03-12 19:49] gauravano commented on #154
Hi everyone, as we have deprecated DrupalUser -https://github.com/publiclab/plots2/pull/2857. I think this can be closed? Feel free to re-open the issue, if required.

Thanks!

cc @jywarren

[2019-03-12 19:49] #154 closed

[2019-03-12 19:54] divyabaid16 opened #5038 "Hidding the visibility of Wiki bar menu on loading"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-12 20:01] gauravano commented on #5038
I don't think it's a good idea as the users might get confused about where to find the editing toolbar

[2019-03-12 20:04] gauravano commented on #157
@jywarren how about opening a new issue for this one? Thanks!

[2019-03-12 20:05] divyabaid16 commented on #5038
Actually, I was trying to make the page consistent with other pages. For example [https://publiclab.org/wiki/stories](https://publiclab.org/wiki/stories)
Because some other pages also have this as hidden.

[2019-03-12 20:10] gauravano commented on #5038
That's because of the `style:presentation` tag present on the wiki.

[2019-03-12 20:15] divyabaid16 commented on #5038
Now I get it!
Should I close the issue then?

[2019-03-12 20:15] gauravano commented on #5038
yes!

[2019-03-12 20:15] #5038 closed

[2019-03-12 20:17] ananyaarun commented on #3646
@jywarren @gauravano , I notice that the error msg of banned user comes only in the case of not entering both username and password. Should we have separate error msgs for the case of
1) entering only username
2) entering only password
3) username not in DB
4) password doesn't match username but username in DB
Also though i see this error in the public labs page i don't seem to be able to reproduc

[2019-03-12 20:29] gauravano commented on #158
Closing this as we have improved many things and this is not an issue now. Thanks!

cc @jywarren

[2019-03-12 20:29] #158 closed

[2019-03-12 20:41] gauravano opened #5039 "No notification for disallowed filetype uploads"
If a user try to upload a png file which is allowed then the upload progresses and completes normally but in case of .gif the progress bar start uploading a file and the get stuck on 100% without showing any failure notification.

So, add the failure notification/warning if the file choosen by user is not acceptable.

File to start with: https://github.com/publiclab/plots2/tree/master/app/views/ed

[2019-03-12 20:41] gauravano commented on #165
Hi everyone! Closing this as I have re-opened it at https://github.com/publiclab/plots2/issues/5039. Thanks!

[2019-03-12 20:41] #165 closed

[2019-03-12 21:17] kuja24 commented on #5039
Is the .gif file not acceptable? Because the array  formats: ['jpg', 'jpeg', 'png', 'gif'], has gif in it ?

[2019-03-12 21:23] gauravano commented on #5039
Check line 76

[2019-03-12 21:24] gauravano commented on #5039
Also, I haven't tried it locally so I may be wrong here.

[2019-03-12 21:45] gautamig54 commented on #5039
@kuja24 gif file is not acceptable as, while uploading only acceptable file uploads are .png, .jpg and .jpeg.
I will try to figure this issue!

[2019-03-12 21:49] madeofhuman commented on #5034
Hi, guys!

**Goals for the week:**
1. Work on two issues
2. Create two first-timer-only issues

Looking forward to everybody being awesome! 👯 🕺

[2019-03-12 21:59] jywarren commented on #86
I think we can close as we are moving to "forum-like" subscriptions and away from google groups!

[2019-03-12 21:59] #86 closed

[2019-03-12 21:59] #69 closed

[2019-03-12 22:59] jazdao commented on #5034
Hi everybody! :)

**Goals for the week:**
1. Work on my FTO issue and create at least one other PR
2. Create an FTO issue or help break one up
3. Post my proposal and leave a comment on someone else's

[2019-03-12 23:16] jywarren commented on #70
I believe we can close this one!

On Tue, Mar 12, 2019 at 3:14 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-12 23:30] jywarren commented on #5022
Hello everyone! I am one of the maintainers of the project and I work for the Public Lab non-profit. You'll probably see me all over and please know you're welcome here! I'm overwhelmed by the amazing mutual support you are all showing. 👍 😄 💯

Our community as you may have guessed runs on kindness and helping one another out 🙌 , so thanks to everyone who's taken their first steps, and ALSO to thos

[2019-03-12 23:36] jywarren commented on #90
Yes, i think that's a good idea. And whoa, ok. We'll have to fix that!

On Tue, Mar 12, 2019 at 3:23 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-12 23:37] jywarren commented on #139
Let's close this and move it to https://github.com/publiclab/plots2/issues/3889 -- we can fix it there!

[2019-03-12 23:37] jywarren commented on #3889
Also noting this potential solution outlined here, using a client-side renderer... a bit complex maybe but just to note a possibility! https://github.com/publiclab/plots2/issues/139#issuecomment-93043149

[2019-03-12 23:37] #139 closed

[2019-03-12 23:41] jywarren commented on #5034
Trying to keep up with the amazing new folks who are energizing our community! My goal is to encourage others to do as @madeofhuman and others have done, which is to show each other support!!!

Noting our community has grown to 486+ people - i actually think possibly our welcome page can't even count everyone anymore as it's broken the API limits? @Rishabh570 or was that solved? https://code.publi

[2019-03-12 23:55] jywarren commented on #157
I'm still not sure how we'd do this... it is easier now with the OAuth
login. Is that as easy as entering your email address? Could we consider
making an "incomplete user record" that can't do anything but receive
emails?

On Tue, Mar 12, 2019 at 4:05 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-12 23:59] jywarren commented on #3262
I meant, how does Transifex, in their defaults, address the issue? I think we are OK using primarily `zh_CN`, but we can revisit if there is interest in supporting both, later. Thank you!

Yes, let's delete and merge! Great!

[2019-03-13 00:09] jywarren commented on #4329
I think we had better keep it to admins only; thank you @gaurav! So yes,
let's change the message.

On Sun, Mar 10, 2019 at 2:40 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-13 00:13] jywarren commented on #4543
Thank you!!!!

Let's add a toggle when sending moderator emails, to look for `user.has_tag('block-node-moderation-emails')` -- then we can add a UI to add that tag!

The moderators to notify are identified in these sections here:

https://github.com/publiclab/plots2/blob/master/app/mailers/admin_mailer.rb#L6-L30

Would you be interested in trying to add some logic to check for the blocking tag, in

[2019-03-13 00:15] jywarren commented on #4989
Yes, though really in the example I gave on the dashboard/research page, we
are not actually cropping the images but hiding the extra edge of the image
to give them the appearance of being cropped. Awesome!

On Mon, Mar 11, 2019 at 9:58 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-03-13 00:38] pdurbin commented on #4329
@jywarren sounds good. Do what a separate issue to fix the 404 (the link to https://publiclab/chat )?

[2019-03-13 03:01] emestabillo commented on #5037
Hi @gauravano ,
Following are screenshots from my dev setup as requested:

`yarn install`

<img width="805" alt="yarn install" src="https://user-images.githubusercontent.com/21008433/54250313-aec29f00-4519-11e9-87e7-46ff9b260107.png">

`passenger start` gives me 502 Bad Gateway nginx/1.15.8

<img width="1145" alt="pstart" src="https://user-images.githubusercontent.com/21008433/54250338-c568f600-45

[2019-03-13 03:02] CleverFool77 commented on #152
https://publiclab.org/notes/lekhidugtal/03-12-2019/create-a-visual-difference-in-wikis-and-notes?_=1552414881

In this, How about making the wikis more centered , like in Medium. And taking  the explore tags beneath. So that User can focus on the information provided in the article.
@jywarren @gauravano

[2019-03-13 03:26] sashadev-sky commented on #5037
@emestabillo I am not sure about resolving that specific error and maybe @gauravano can advice on that but you can definitely just use `rails s` 👍

[2019-03-13 04:37] CleverFool77 commented on #5031
@megha070 you can go through the issue #4963 and get yourself an issue assigned. :)

[2019-03-13 04:40] richa031 commented on #5034
Hello everyone!

**My goals for this week are:**

1. Getting at least 2 issues and work on them beginning with an FTO (please tell me where can I find them)
2. Creating a draft proposal of my outreachy application.

Looking forward to get them done.

[2019-03-13 05:12] CleverFool77 commented on #5031
Oh i didn't see, that you were in the list. Wait a bit and you'll get issue soon. :) Thanks.

[2019-03-13 05:16] CleverFool77 commented on #5034
My goals for this week :
* Create some awesome designs 😍
* Write a blog on the new stuff I learned week.
* Create my outreachy proposal.

And most importantly, keep helping other contributors. I'll try to create five fto issues this week, one more than my last week. 🤗

If anyone is interested, I'm huge in for a debate and discussion in the field of design and technology. 😅😅

And if there are peopl

[2019-03-13 05:26] karunagoyalk commented on #5034
Hey everybody!

My goals for this week are:

1. Work on  issue assigned to me.
2. Creating a proposal of my outreachy application.
Looking forward to get them done.

[2019-03-13 05:28] SidharthBansal commented on #4920
Sure

On Tue, Mar 12, 2019, 8:08 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-03-13 06:01] megha070 commented on #4440
@geekychaser @gauravano I would like to work on this issue as an outreachy applicant.

[2019-03-13 06:09] megha070 commented on #5031
@CleverFool77 Thanks a ton!

[2019-03-13 06:29] divyabaid16 opened #5042 "Change background color of button"
**Description**

In [https://publiclab.org/lists](https://publiclab.org/lists)
Currently, when we hover the ```Suscribe``` button, it changes its background color to the color of its parent container. It should not happen in this way.
![screenshot](https://user-images.githubusercontent.com/32747809/54257617-ebc47b00-4585-11e9-80c9-b6b43862a327.png)

**Expected Behaviour**
- [ ] The background colo

[2019-03-13 07:27] Manvi07 commented on #4440
@geekychaser I am an outreachy applicant. I am new to open source and would like to work on this issue. Kindly assign it to me if it's not resolved yet.

[2019-03-13 07:41] Manvi07 commented on #5004
Hi @CleverFool77
I am an outreachy aspirant and new to open source. I would like to work on this issue. Kindly assign it to me if no one else is working on it.

[2019-03-13 07:46] Manvi07 commented on #4991
Hi @gauravano I am an outreachy applicant and new to open source. I would like to work on this issue. Kindly assign it to me if no one else is working on it.

[2019-03-13 07:52] CleverFool77 commented on #5004
@Manvi07 you can go through the issue #4963 and get yourself an issue assigned. :)

[2019-03-13 08:40] gauravano commented on #4991
Hi @Manvi07, this issue is assigned to @Jenniline and they'll start working on this very soon. You can go through other issues at https://github.com/publiclab/plots2/issues and start working on those you find interesting(which are unassigned).

 If you want we can add your name to the list - https://github.com/publiclab/plots2/issues/4963 and can ping you whenever FTO is ready for you?

Also, do c

[2019-03-13 08:42] #4970 closed

[2019-03-13 09:01] gauravano commented on #4440
Hi @megha070 and @Manvi07, we have removed the icons from the navbar due to resolve UI disruptions - https://github.com/publiclab/plots2/pull/4713 so I think it's better to close this issue for now. Thanks!

[2019-03-13 09:01] #4440 closed

[2019-03-13 09:08] gauravano commented on #5042
I tried the page on Chrome and didn't get this issue but yes Firefox is showing this issue. Thanks @divyabaid16 for reporting this.

[2019-03-13 09:10] gauravano commented on #5042
As the page is a wiki so you can make the changes by editing the code there only

[2019-03-13 09:10] ananyaarun opened #5044 "Change tooltip data placement parameter"
Refer to issue #5027
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you o

[2019-03-13 09:11] ananyaarun commented on #5044
@gauravano , this is one part of issue #5027 . Fixing this would ensure pop up msg is always downwards.

[2019-03-13 09:14] efuet-flora commented on #3840
yes, i have @gauravano

[2019-03-13 09:14] gauravano commented on #4920
I started labeling issues `assigned` and from yesterday and I think it will help in sorting. Regrading bots, I will try to see about them later today. Thanks!

[2019-03-13 09:17] ananyaarun opened #5045 "Add css to set width of tooltip"
Refer #5027
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you

[2019-03-13 09:19] ananyaarun commented on #5045
@gauravano , This is the second part of fixing #5027 . I'm not sure where the new css can be added and some experimenting needs to be done on the width. For now i'm adding css in wiki.css let me know if it should be added in another file.

[2019-03-13 09:40] gauravano commented on #5037
Hi @emestabillo, I tried `passenger start` on my system and it worked fine. I think it has something to do with your passenger setup but not quite sure as I am not a regular user of passenger myself (I use WEBrick most of the time).

I found some links - https://stackoverflow.com/questions/51889368/rails-nginx-passenger-error-phusion-passenger-doesnt-seem-to-be-running?rq=1

https://github.com/phu

[2019-03-13 09:44] gauravano commented on #152
We can try that @CleverFool77

[2019-03-13 09:46] gauravano commented on #4329
Ok, then making a FTO for fixing the alert. @jywarren actually, many pages show  - https://publiclab/chat :see_no_evil:

[2019-03-13 09:49] ananyaarun commented on #4995
Closing this issue as 2 FTO's that fix this have been opened.

[2019-03-13 09:49] #4995 closed

[2019-03-13 09:54] gauravano opened #5046 "Change the alert message shown to when user try to edit"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-13 09:54] gauravano commented on #5046
This issue is created for @letnewKid. Thanks!

[2019-03-13 09:59] Jaya738 commented on #4963
Hi there, I am Jay @Jaya738 . I am interested to work on any first timer issues. I am currently working on web and any issues regarding MQTT or python are also fine.

[2019-03-13 09:59] grvsachdeva opened #5047 "Don't show edit button on research note to moderators"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-13 10:00] gauravano commented on #5047
This issue is created for @srujana121. Thanks!

[2019-03-13 10:01] gauravano commented on #4329
I just created 2 FTO issues for fixing this - one for alert https://github.com/publiclab/plots2/issues/5046 and one for hiding edit button to moderator - https://github.com/publiclab/plots2/issues/5047.

So, closing this one. Thanks @jywarren @pdurbin!

[2019-03-13 10:01] #4329 closed

[2019-03-13 10:09] gauravano commented on #157
I think we can do that. We can create a new table of temporary users which will just contain the required info like name, email, etc.

We can consider to the same in main users table but if in future user try to create account on Public Lab then it could get complex?

[2019-03-13 10:09] gauravano commented on #157
@jywarren

[2019-03-13 10:10] gauravano commented on #139
Great!

[2019-03-13 10:15] ananyaarun commented on #5016
@corbettbw are you working on this one ? Feel to ask ask for help if you get stuck :) Thanks !

[2019-03-13 10:16] gauravano commented on #70
ok, closing this then. Thanks!

[2019-03-13 10:16] #70 closed

[2019-03-13 10:19] gauravano commented on #3646
We can perform proper form validation so the form will be submitted only when all the required fields are provided by the user.

[2019-03-13 10:38] divyabaid16 commented on #5042
@gauravano I couldn't find the edit option on that page. Can you please help me with this?

[2019-03-13 10:52] vansjyo commented on #3895
@ananyaarun I suppose you can reproduce this issue by clicking on "Create a new wiki page" on "/wiki" route. Then you can add the map or test with an image too.

[2019-03-13 10:56] gauravano commented on #4905
moderators may have deleted those comments, that's why count looks normal now.
I checked the code and yes, comments other than status = 1 are also counted. Let's use fetch_comments function which gives comments  as per user status. I created that some time ago, and it can be used here.

@Anjalizi you want to solve this issue or can I create FTOs from here?

Thanks!

[2019-03-13 11:01] ananyaarun commented on #3895
Thanks !! @vansjyo :+1: I'll try that.

[2019-03-13 11:02] emestabillo commented on #5037
Awesome! Thank you for the feedback @gauravano @sashadev-sky !!

[2019-03-13 11:20] EngrEric commented on #4980
@gauravano see what i have
![image](https://user-images.githubusercontent.com/34476840/54275101-17e1fb00-458a-11e9-83e4-4deb04ebc819.png)
![image](https://user-images.githubusercontent.com/34476840/54275202-5081d480-458a-11e9-82e5-d436d8727831.png)

[2019-03-13 11:20] EngrEric commented on #4980
@gauravano  please is there a slack channel here

[2019-03-13 11:36] luanafaustini commented on #4980
Hello,I would like to help with this or any other issue.
@EngrEric can I help you with something? I'm new at HTML and CSS, but I'm sure can try my best.

@gauravano Would you like to create an issue for me?

Thank you!

[2019-03-13 11:48] gauravano commented on #3581
Thank you all for working on this. This issue seems resolved :point_down:

![updated_view](https://user-images.githubusercontent.com/20878070/54276699-f85fc800-45b3-11e9-9003-e19d0cec0393.png)

so closing this.

[2019-03-13 11:48] #3581 closed

[2019-03-13 11:51] rahul2240 opened #5048 "Invitation system"
There should be some way to invite people, I mean if I find public lab interesting then I will want my friends to join it by inviting them i.e a mail will be sent to them showing that I have invited them to join this app with some link and when they click on it, they are redirected to their account with page asking for their password.

[2019-03-13 11:51] gauravano commented on #3515
Closing this as we have achieved this a little back and the centralized file is at https://github.com/publiclab/plots2/blob/master/config/locales/en.yml

Thanks all!

[2019-03-13 11:51] #3515 closed

[2019-03-13 11:55] ananyaarun commented on #5034
Hi everyone !!

My goals for this week are:
- Work on some issues and bugs
- Make a few FTO issues
- Design new UI mockups for the dashboard page and navbar.
- Start working on my proposal draft
- Continue to help and learn from the community :smiley:

[2019-03-13 11:59] gautamig54 commented on #5034
Hello all!

My goals for this week are:

- Resolve 3-4 help-wanted issues on plots2.

- Make few FTO issues.

- Learn more about Ruby on Rails.

- Make a draft proposal for Outreachy.

[2019-03-13 11:59] rahul2240 opened #5049 "Broken print links"
![chrome-capture (1)](https://user-images.githubusercontent.com/25618739/54277232-4fb26800-45b5-11e9-9206-56dbbb49a002.gif)

Links are not working for "Print without page links" and "Print in 3-column layout"

[2019-03-13 12:03] gauravano commented on #3988
Hi @jywarren, we currently don't support the translation of the  database content, which is title in this case, so currently we have no way to provide translation for this.

But, yes, if we implement translation of DB content, then this issue will be automatically solved as then user maybe able to add the title in any language.

Thanks!

[2019-03-13 12:17] gauravano commented on #4189
Hi everyone!

This issue seems to be resolved :point_down:

![solved_issue](https://user-images.githubusercontent.com/20878070/54278274-f0098c00-45b7-11e9-95b7-71aae088f495.png)

This is view from @jywarren's PL profile - https://publiclab.org/profile/warren

So, closing this issue for now. Thanks!

[2019-03-13 12:17] #4189 closed

[2019-03-13 12:23] gauravano commented on #2151
@jazdao you wanna try this?

[2019-03-13 12:24] gauravano commented on #3734
@jywarren do you think we should implement this?

[2019-03-13 12:26] gauravano commented on #3428
@ChinwenduSilvia you wanted to resolve this?

[2019-03-13 12:29] gauravano commented on #28
Should we reopen this @jywarren :see_no_evil: :laughing:

[2019-03-13 12:32] gauravano commented on #4995
Great!

[2019-03-13 12:36] ChinwenduSilvia commented on #3428
Yes, if it's still available

Silvia Agbaetuo
Software Developer (Java)

On Wed, Mar 13, 2019, 1:26 PM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-03-13 12:39] gauravano commented on #4941
Build logs were not showing enough info so I restarted the build - https://travis-ci.org/publiclab/plots2/builds/501925116?utm_source=github_status&utm_medium=notification

[2019-03-13 12:40] gauravano commented on #4941
It failed as the branch - https://github.com/publiclab/plots2/pull/4902 is deleted

[2019-03-13 12:43] gauravano commented on #4941
@jywarren I can't see any way we can see detailed build logs for https://github.com/publiclab/plots2/pull/4902 via Travis. Any idea?

[2019-03-13 12:45] Anjalizi commented on #4543
I'll start working on this.

[2019-03-13 12:51] gauravano commented on #4504
Hey @The-lady-developer, you can work on this, if interested. Thanks!

[2019-03-13 12:52] Anjalizi commented on #4905
I want to solve this issue.

[2019-03-13 13:09] shreyateeza opened #5050 "Change link to Button"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-13 13:14] gauravano commented on #4905
Great, go ahead!

[2019-03-13 13:28] ananyaarun commented on #5050
Hey @shreyateeza , You can follow this [Template](https://github.com/publiclab/plots2/blob/master/.github/ISSUE_TEMPLATE/first-timers-issue-template.md) for creating FTO issues. Thanks :)

[2019-03-13 13:35] ananyaarun commented on #5050
Also looks like this is a note added by @gauravano regarding outreachy , So i don't think it can be changed by others.

[2019-03-13 13:38] shreyateeza commented on #5050
@ananyaarun Yeah I think the same. But this needs to be changed to a button as well.
Also, thanks for sharing the template.

[2019-03-13 13:54] gauravano commented on #3428
It is. Go ahead!

[2019-03-13 14:08] jywarren commented on #5034
Hi, all, @SidharthBansal suggested some video chats from time to time -- maybe once per month? -- and i thought of the idea of themed code meetups - like discussing javascript testing, Rails unit testing, skylight/sentry error tracking, resolving codeclimate "smells", things like that, for topics people may find useful. I know that @cesswairimu and @StlMaris123 have done lots of in-person meetups

[2019-03-13 14:12] jywarren commented on #3840
@efuet-flora posted in the chatroom an issue getting the system started:

![image](https://user-images.githubusercontent.com/24359/54285512-7e5e1d80-4578-11e9-8ee4-c68a308cbf0a.png)

![image](https://user-images.githubusercontent.com/24359/54285503-7900d300-4578-11e9-865d-e7429cac2912.png)

Copying in my response here!

Ah, Hi @efuet-flora -- it's cool you are using Puma, we have an interest in ge

[2019-03-13 14:18] divyabaid16 opened #5051 "Follow button must be aligned in the middle"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-13 14:24] The-lady-developer commented on #5046
Hi @gauravano! Can I work on this?

[2019-03-13 14:25] siddhishree commented on #5050
@shreyateeza  I would like to work on this issue. I am new to the community and haven't made any contribution yet. Can I proceed?

[2019-03-13 14:44] AnthoniaOkafor commented on #5034
Hi everyone

My goals for this week are

- To complete my FTO issue by first identifying and resolving the errors I am having on cloud9, or installing on Windows Operating System which has also been challenging.

- To resolve more FTO isseues

[2019-03-13 15:00] jywarren commented on #5050
Hi, indeed, i think we can ask Gaurav to change it, or perhaps he's marked
me as a co-author and I can do so. Thanks for your help though! Would you
mind closing this one, then?

On Wed, Mar 13, 2019 at 10:30 AM Siddhi Shree <notifications@github.com>
wrote:

[2019-03-13 15:10] Ivilili commented on #5034
Hello,

 My goals for this week are:

-  complete my fto,

- be more active in the community,

- Start working on my proposal draft.

Have a great week everybody!

[2019-03-13 15:24] Ivilili commented on #5022
Hi everyone, my name is Ivana and I'm interested in becoming a contributor to open source. Public Lab seems like a great project and I'm looking forward in helping and contributing in any way I can.

[2019-03-13 15:48] Aarabhi2017 commented on #4990
Hi @gauravano , Could you please  add me as well? I would like to work on a FTO too

[2019-03-13 16:50] gauravano commented on #5051
Hi @luanafaustini, go ahead!

[2019-03-13 16:50] gauravano commented on #5051
@divyabaid16 please add the link to the file which needs to be changed as it's a FTO. Thanks!

[2019-03-13 16:52] gauravano commented on #4990
Hey @Aarabhi2017, added your name too :+1:

[2019-03-13 17:02] gauravano commented on #5034
Nice ideas @SidharthBansal @jywarren!! When can we start this?

[2019-03-13 17:09] gauravano commented on #5050
Closing this issue as @jywarren changed it to button. Thanks!

[2019-03-13 17:09] #5050 closed

[2019-03-13 17:13] gauravano commented on #5046
Hi @The-lady-developer, this issue is assigned to @letnewKid as they were waiting for the FTO issue for a while.

You can start working on https://github.com/publiclab/plots2/issues/4504. I commented there some time ago. Thanks!

[2019-03-13 17:17] gauravano commented on #5048
We can make such system, we can put constraint that only users confirmed account can invite others, etc?

@publiclab/community-reps what do you think about this idea?

[2019-03-13 17:19] gauravano commented on #5049
@rahul2240 thanks for reporting. Would you like to work on solving this or can I create FTO issue from this?

[2019-03-13 17:20] rahul2240 commented on #5049
@gauravano I would love to work on it :smile:

[2019-03-13 17:21] gauravano commented on #5049
Great!

[2019-03-13 17:23] gauravano commented on #4980
Hi @EngrEric, please update your fork as this issue is recently resolved.

@luanafaustini you can start working on https://github.com/publiclab/plots2/issues/5051. Thanks!

[2019-03-13 17:28] rahul2240 commented on #5048
@gauravano I have many ideas related to attracting people and promoting the application just wanted to know if I can write a GSoC proposal on it :sweat_smile:

[2019-03-13 17:29] gauravano commented on #5042
Here you go :point_down:

![Screenshot from 2019-03-13 22-57-04](https://user-images.githubusercontent.com/20878070/54300783-974fe880-45e3-11e9-95fc-e069f1c380c2.png)

[2019-03-13 17:34] gauravano commented on #5048
The above can be achieved in a short time. If you think, it can be a big project by adding more ideas, parts then feel free to write a proposal. Also, it's important to know @publiclab/community-reps thoughts about it as how much prior this implementation is and if they like the idea?

Thanks!

[2019-03-13 17:37] gauravano commented on #4963
Hi @Jaya738, would you be fine with an FTO from any other repo like Mapknitter, Image-sequencer, etc too? Thanks!

[2019-03-13 17:43] gauravano commented on #5044
Hey @ananyaarun, let's put this on halt for now and wait to see how - https://github.com/publiclab/plots2/issues/5045 goes? As I can see edit the edit buttons on wiki and so don't the tooltip view disrupted but yes a newcomer may experience this.

I think adding the CSS may be sufficient?

[2019-03-13 17:44] gauravano commented on #5027
Closing this as @ananyaarun has broken this as FTOs. Thanks @ananyaaru :100: !

[2019-03-13 17:44] #5027 closed

[2019-03-13 17:49] gauravano commented on #5045
@aggarwal19 you can work on this one. Thanks!

[2019-03-13 17:50] CleverFool77 opened #5054 "Add a space in cluttered section of sentence"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-13 17:50] CleverFool77 commented on #5054
I'll update the filename in ten minutes after shifting to linux.

[2019-03-13 17:52] ananyaarun commented on #5044
@gauravano Sure :) Lets see how the fix goes regarding issue #5045 . So maybe that can be used as a FTO issue now ?

[2019-03-13 17:54] gauravano commented on #5044
yes, I labeled #5045 as FTO just some minutes ago

[2019-03-13 17:55] divyabaid16 commented on #5042
@gauravano Actually, I don't know why but I'm not getting an option to edit code in this page.

![Selection_061](https://user-images.githubusercontent.com/32747809/54302538-1bf03600-45e7-11e9-9ac3-6d0754b6ace2.png)

[2019-03-13 17:59] Manvi07 commented on #5022
Greetings everyone!
My name is Manvi Gupta. The Public lab community looks really great and supportive. I would love to contribute to this project. :grinning:

[2019-03-13 18:04] Manvi07 commented on #4963
Hi everyone! I am a Computer science undergrad at Indian Institute of Technology Mandi. I am interested to contribute to this project. It would be great if I could get some first-timer issues to begin with. :grinning:

[2019-03-13 18:09] cesswairimu commented on #5034
Hi everyone :wave:

Nice to meet all new contributors :balloon:
@jywarren I love the idea of a themed video chats and I believe it would be great.

This week's goal.
- Make a couple of ftos
- Implement subscribers over time graph
- Finish of weekly data caching

Great week all

[2019-03-13 18:12] gauravano commented on #4963
Hi @Manvi07 added your name to the list and will ping you soon with an FTO. Thanks!

[2019-03-13 18:26] CleverFool77 commented on #5054
Update has been done, @gauravano Is this a correct fto issue.

[2019-03-13 18:51] jywarren commented on #5018
I thought maybe i figured it out when i saw that our template had been trying to label with `help-wanted` instead of `help wanted` and we deleted the hyphenated version a few months ago -- so i changed it. https://github.com/publiclab/plots2/blob/master/.github/first-timers.yml#L5

But I tried making a new branch named `first-timers-tag-toggle-2` and a new issue wasn't made. Maybe we have to push

[2019-03-13 18:51] luanafaustini commented on #5051
Thanks @gauravano I will be waiting for the link to start!

[2019-03-13 18:52] gauravano commented on #5054
Hey @madelinejones, you can work on this one. Thanks!

[2019-03-13 19:00] jywarren commented on #5018
Think i figured it out! The template was moved in this PR - https://github.com/publiclab/plots2/pull/3941

 i think we can move it back to `.github` and it'll start working again!

[2019-03-13 19:09] jywarren commented on #5018
Hmm, that didn't work...

[2019-03-13 19:12] jywarren commented on #5018
OK logs are showing: https://zeit.co/deployments/first-timers-bot.now.sh/logs

[code]

[2019-03-13 19:18] Ivilili commented on #3534
Hi @publiclab/reviewers, I have few questions about this issue. I've noticed that preview and other  features in Answer are attached to Comment area.
How should I approach this? Should I create new form for answer, because now comment and answer are together in `comments/form`?
Or maybe even integrate answers with comments?

[2019-03-13 19:24] jywarren commented on #5034
:-) well, we are quite busy welcoming all these new people this week.
Perhaps once the pace of outreach drops a little bit, we might start --
say, next week, or in 3 weeks? (2 weeks from now i will be a bit occupied
with another project here in the local office). Any of these topics look
like a good one to start with?

On Wed, Mar 13, 2019 at 2:10 PM Cess <notifications@github.com> wrote:

[2019-03-13 19:43] first-timers[bot] opened #5055 "Hide user tags behind a toggle button"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-13 19:44] jywarren commented on #4963
@richa031 here's one for you! Thank you! https://github.com/publiclab/plots2/issues/5055

[2019-03-13 19:44] jywarren commented on #5055
This one is reserved for @richa031! Thanks!!!

[2019-03-13 19:49] jywarren commented on #5018
Fixed with help from the Hoodie team!!!!!!

[2019-03-13 19:49] jywarren commented on #5018
Reopening to address the Welcomebot issue too.

[2019-03-13 19:54] fabsar commented on #5034
Hi,
my goals for the week are -
1. working on a few FTOs (please help me find them!)
2. Draft my proposal for outreachy

[2019-03-13 19:58] jywarren commented on #5018
Noting that welcomebot seems to have been offline since November 2018? But is still running in MapKnitter: https://github.com/publiclab/plots2/search?o=desc&q=share+demonstrating+the+issue&s=created&type=Issues

Last change to the file was end of November: https://github.com/publiclab/plots2/commits/master/.github/config.yml

aha!

[2019-03-13 20:00] jywarren commented on #5018
OK, testing, but I believe there had been a `+` character added that was causing it to fail. Re-added!

https://github.com/publiclab/plots2/commit/a41bb2f03ea345dffda061af0f24d84cc487aa10

[2019-03-13 20:06] madeofhuman commented on #5021
@helenatxu how are you doing with this? If you're running into any problem, don't hesitate to reach out. 😄

[2019-03-13 20:06] gauravano commented on #5034
@jywarren we can start from April 10 as we would be done with both Outreachy and GSoC applications by then?  We can poll for the topic or maybe start from Rails testing?

[2019-03-13 20:53] gauravano commented on #3534
Hi @Ivilili, I went through the issue myself and it's a bit complex. The preview button calls the function toggle_preview which is located here- https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/editor.js#L103-L134

And, if one observes carefully then will observe that pressing preview button opens the preview of first available empty form. So, something wrong here - https://g

[2019-03-13 21:06] gauravano opened #5056 "Change cursor to pointer on hovering over Print links"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-13 21:07] gauravano commented on #5056
This issue is created for @Ivilili. Thanks!

[2019-03-13 21:08] gauravano commented on #3534
I have created https://github.com/publiclab/plots2/issues/5056 for you. You can claim that.

[2019-03-13 21:18] jywarren commented on #3734
I thought about this for some time and while I appreciate the idea, I think we should focus on other optimizations! Thank you!

[2019-03-13 21:18] #3734 closed

[2019-03-13 21:22] Ivilili commented on #3534
Thank you @gauravano, I will start with new one immediately. It's hard to give up on this one...

[2019-03-13 21:31] Ivilili commented on #5056
Working on it :raising_hand:

[2019-03-13 21:43] gauravano commented on #3534
You can come back to this one anytime after recording your first contribution. Thanks!

[2019-03-14 01:37] madeofhuman opened #5059 "Footer not sticking to the bottom of the screen on pages with little content on large displays"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-14 02:07] divyabaid16 commented on #5051
@luanafaustini I will update the link by today.

[2019-03-14 02:10] madeofhuman commented on #5059
@gauravano @cesswairimu @jywarren what do you think of this?

[2019-03-14 03:02] icarito commented on #5015
Hi, I'm glad we caught that one, but it does seem like the original issue is still with us.
![image](https://user-images.githubusercontent.com/199755/54328039-69b27180-45da-11e9-8d50-24c8f53db7d2.png)
Notice how it took longer and longer to respond. Could it be a limitation of the Full Text search engine?
I think @milaaraujo had a good lead here https://github.com/publiclab/plots2/issues/4661#issu

[2019-03-14 03:58] vansjyo commented on #2151
@SidharthBansal Can I try this if not yet solved?

[2019-03-14 04:42] CleverFool77 opened #5061 "No of comment count is not same"
I came across an interesting stuff. I'm not sure whether its bug or any other thing.

In the recent notes I posted, The comment count it showed on above and the no of comments actually present in the notes were different.

The comment count here is two.
![imageedit_4_7844870068](https://user-images.githubusercontent.com/26685258/54331596-a618b880-4640-11e9-9289-fa9fdd3540e6.gif)
 The comment count

[2019-03-14 04:46] CleverFool77 commented on #5061
@jywarren @gauravano @SidharthBansal What's your views regarding this ?

[2019-03-14 05:42] SidharthBansal commented on #5034
I agree with Jeff, topic of discussion can be milestone related stuff.
If it will be mid of each month or beginning, then it will be easy to
remember. Can we do it on 15 April?
Then we can continue to do on 15 of each month.
Also, we can't stick to beginning of each month as open hours are scheduled
at those times.

On Thu, Mar 14, 2019, 1:36 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-14 05:45] SidharthBansal commented on #2151
Yeah sure Vanshika

On Thu, Mar 14, 2019, 9:28 AM Vanshika Gupta <notifications@github.com>
wrote:

[2019-03-14 05:50] SidharthBansal commented on #5033
Hi there is an existing issue in which account deletion is being discussed. It was created by me. For more discussion you can go there.
Thanks

[2019-03-14 06:01] daddyjab commented on #5031
@CleverFool77 and @gauravano, thank you for creating this issue and assigning it to me.  I will get started working this! - @daddyjab

[2019-03-14 06:43] siaw23 commented on #2151
got for it! @vansjyo 😊🎉

[2019-03-14 07:27] daddyjab commented on #5031
@CleverFool77 or @gauravano:
Will one of you formally assign this issue  #5031 to me ( @daddyjab ) in GitHub?
Its currently still marked as `unassigned`.

Thanks,  @daddyjab

[2019-03-14 07:47] coderbeetle commented on #4990
Ah, sorry I haven't been on here for a few days! An emergency with my cat occurred and I've been busy with frequent visits to the vet. I'll look into the issue very soon! Thank you and sorry for the inconvenience :)

[2019-03-14 08:21] vansjyo commented on #2151
We can replace the 9 with a 10 and I suppose the problem in this issue should be solved. What do you think?

https://github.com/publiclab/plots2/blob/7a0660a3fcbb40250394b68405299c41f894f7f9/app/views/grids/_people.html.erb#L21-L23

[2019-03-14 08:25] siaw23 commented on #5061
Hi @CleverFool77 I think this is not supposed to be happening. Do you perhaps know why it's so? You want to track it down or need some help? 😊

[2019-03-14 08:40] gauravano commented on #5061
Hi @CleverFool77 @siaw23, it's a bug. The comment count differs because at some places, spam, comments which are in moderation are also counted.

This issue is partially reported at #4905 and @Anjalizi has decided to work on this. The part which is not reported in #4905 is the inconsistency in number on /notes page. If you don't mind can I open FTOs for that part?

Thanks!

[2019-03-14 08:58] gauravano commented on #4990
No issue!

[2019-03-14 09:00] gauravano commented on #5031
Actually, GitHub doesn't show names of new contributors on assignees feature and that's why we use `assigned` label on issues to mark.

You can start working on this, irrespective of assignment status. Thanks!

[2019-03-14 09:10] madeofhuman commented on #2298
@jywarren this is still not working. I'd love to pick up this issue?

<img width="707" alt="Screenshot 2019-03-14 at 10 09 52 AM" src="https://user-images.githubusercontent.com/7345686/54344519-5686bc80-4641-11e9-9b4d-5e6c228a7a65.png">

[2019-03-14 10:26] CleverFool77 commented on #5061
@siaw23 Thanks for the response. I guess it was already tracked down in previous issue.
Yeah @gauravano It would be great idea to make fto issue for the bug in /notes section.
Thanks

[2019-03-14 11:28] divyabaid16 commented on #5051
@luanafaustini
You need to change [this](https://github.com/publiclab/plots2/blob/7a0660a3fcbb40250394b68405299c41f894f7f9/app/views/tag/_tags.html.erb#L5) line to
[code]

[2019-03-14 11:44] divyabaid16 opened #5062 "Tags are not closing automatically"
**Description**
I'm not sure whether this issue is reported or not, but I found a small bug with the tags.

The tags are actually acting like a toggle button.
When we click on the tag it remains open and only after clicking on it again, it is closed.

Please find the GIF for the same.

![Peek 2019-03-14 17-06](https://user-images.githubusercontent.com/32747809/54354325-5821a600-467c-11e9-80b5-7885

[2019-03-14 12:03] CleverFool77 commented on #5005
@GettyOrawo Are you still working on this issue. If yes, then you can open a draft PR or you ask for help in group if you came across some problem or If not, then there is no problem. As opensource is always a place where another can start from where you've left and we can assign a different contributor for this.

[2019-03-14 12:04] luanafaustini commented on #5051
Hello, thank you!

https://github.com/luanafaustini/plots2/pull/1#issue-261137935
is this it?

[2019-03-14 12:11] divyabaid16 commented on #5051
Yes @luanafaustini
Since this is an issue for first-timers-only to get familiar with the code base and the organization.

[2019-03-14 12:25] namangupta01 commented on #5020
Hi Shreya, Please go ahead. There are multiple function in comment model.
You can write unit test of each function. And since there are multiple
functions, multiple people can work on it.
Let me know if you have any questions and need help.
Thanks

On Tue, 12 Mar 2019, 23:30 Jeffrey Warren, <notifications@github.com> wrote:

[2019-03-14 12:44] coderbeetle commented on #4990
I made a pull request on the issue, could it please get reviewed? :)

[2019-03-14 13:01] madeofhuman opened #5065 "Signing up for a new account when viewing a user's profile page populates the sign up modal with the details of the currently-viewed user"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-14 13:01] madeofhuman commented on #5065
@gauravano, @jywarren, @cesswairimu please review this. 😄 Thank you.

[2019-03-14 14:43] GettyOrawo commented on #4603
Hey @IshaGupta18 and @cesswairimu just to keep you on the loop I'm still figuring out the @D physics engine and learning a few basics I need to set this up. I hope I am on the right track or should I begin with grouping the data first?

[2019-03-14 15:05] ananyaarun commented on #5033
Sure @SidharthBansal , Thanks :)

[2019-03-14 15:16] fabsar commented on #5059
thank you! will do that.

[2019-03-14 15:24] madeofhuman commented on #2298
@jywarren could you please re-open this issue? I just raised a PR for it. Thanks.

[2019-03-14 15:26] jywarren commented on #157
Hmm, I think we could do this but we would have to search for email users
anyways on signup. So maybe we should store them as users with status=5 or
something? And look them up when people sign up, and use the same uid? What
do you think?

But honestly it seems like a fragile system give you can use oath to signup
in such few steps.

On Wed, Mar 13, 2019, 6:10 AM Gaurav Sachdeva <notifications@git

[2019-03-14 15:48] namangupta01 commented on #4585
Hey @jywarren, can a person participate in GSoC and be mentor of outreachy at the same time? I am asking this because I am interested.
Thanks

[2019-03-14 16:24] #4938 closed

[2019-03-14 16:31] shubhscoder commented on #5034
Finally, I got over with my exam today.
My goals (till Sunday) :
1. Creating atleast 2 First timer issues.
2. Solving atleast 2 issues in plots2.

Also I want to start contributing to Mapknitter, but need some help in setting up. I have tried everything but kindoff stuck now. I have opened a issue (https://github.com/publiclab/mapknitter/issues/397) @sashadev-sky do you have any idea about this?

[2019-03-14 17:14] HarshKhandeparkar opened #5071 "Username Issue"
Hello, I signed up on publiclab.org using github oAuth thinking that it would save my github username as my username or atleast ask for it but it saved the email address as the username. Can I change my username somehow? Or delete my account to create a new one as another user?

[2019-03-14 17:18] CleverFool77 opened #5072 "Popover on tags open on hover instead of click."
Earlier I made a issue #4987 on the popover which closes if it's clicked anywhere on the screen. But after that I saw various other popovers in the code. And also the issue #5019 I realised that even for the tags the popover should open on hover instead of click.
And I asked about the same from mentor.
https://github.com/publiclab/plots2/issues/5019#issuecomment-472115926

I worked on this issue a

[2019-03-14 17:22] CleverFool77 commented on #5072
@gauravano I guess the issue #4987 and PR[ 4994](https://github.com/publiclab/plots2/pull/4994) can be closed now. As the popover would be much more smooth in hover instead of click on tags.

[2019-03-14 17:24] CleverFool77 commented on #5072
I'll be working on the issue :)
Thanks.

[2019-03-14 17:45] ananyaarun opened #5074 "Improve the profile dropdown on navbar"
# Description
Currently to go to users profile , one has to click on the profile option on navbar. This doesn't open up to profiles page though. However leads to another dropdown where user profile can be selected. This is misleading as the drop down has various other options as well one being profile.

# Current Behavior

![presentprofile](https://user-images.githubusercontent.com/32260628/543787

[2019-03-14 17:49] ananyaarun commented on #5074
This is for discussion regarding this. @publiclab/plots2-reviewers any suggestions or comments ?
I feel its misleading to have to see a profile option in the profile dropdown.
- Either clicking on profile should directly take us to users profile page. Other options like subscriptions and edit etc can be present on the users profile page instead of dropdown.
- Else it would be good to change the dr

[2019-03-14 18:05] ananyaarun opened #5076 "Bug in Ordering of research notes"
# Description
On clicking on research notes and applying the recent filter, the notes are not displayed in proper order moreover i noticed the old once show up first.

![order](https://user-images.githubusercontent.com/32260628/54380532-b917a100-46b1-11e9-8ea6-b2cf1cd0b30d.png)

# Expected
The recent research notes should be displayed first.

[2019-03-14 18:07] ananyaarun commented on #5076
If approved i'd like to work on this. Thanks !

[2019-03-14 18:12] CleverFool77 commented on #5074
@ananyaarun Now there is a PR on hover already merged. So I guess this is not that necessary in my opinion. But maybe we can go for `Account` instead of `Profile` in Navbar.

[2019-03-14 18:17] CleverFool77 commented on #5074
I'm interested in working on this :)
Thanks.

[2019-03-14 18:21] ananyaarun commented on #5074
Hey, since i have already made the change in my local , you mind if i continue working on this ?
Thanks :)

[2019-03-14 18:23] CleverFool77 commented on #5076
@ananyaarun The `/notes` url is showing all the notes in recent order but not `/notes/recent`. Interesting :thinking:

[2019-03-14 18:28] CleverFool77 commented on #5074
I thought you asked for suggestions so haven't worked on it . But yeah if you have already started working on it, then keep working :+1: . If you need any suggestions, you can ask here :wink: .

[2019-03-14 18:29] ananyaarun commented on #5074
@CleverFool77 Sure !! :raised_hands:

[2019-03-14 18:44] ananyaarun commented on #5076
Found the code responsible for this. I think changing this to ascending should work.
`def recent
    @title = I18n.t('notes_controller.recent_research_notes')
    @wikis = Node.limit(10)
      .where(type: 'page', status: 1)
      .order('nid DESC')
    @notes = Node.where(type: 'note', status: 1, created: Time.now.to_i - 1.weeks.to_i..Time.now.to_i)
    @unpaginated = true
    render template: 'n

[2019-03-14 18:50] ananyaarun commented on #5076
So in the controller.rb file the order has been given as `DESC` by mistake. I guess changing this to `ASC` would work.

[2019-03-14 19:25] CleverFool77 commented on #5061
Hey @siaw23 I saw you call yourself a rubyist :smile: .So I would like to have some idea regarding some basic on ruby projects to worked on. Till now, I've written some programming codes in ruby. But not a fully-fledged project. I would like to have some insight regarding this. :nerd_face:

I'm designer and developer, and have worked with frameworks of python and Javascript.

[2019-03-14 19:50] luanafaustini commented on #5051
Hi, @divyabaid16 Thank you! I wasn't sure if I had submitted right. Would to like to assign me another task? Can I count this task as a contribution? How can I proceed with? I appreciate your help.

[2019-03-14 20:01] swiatek7 commented on #4871
Hi Everybody

I am sorry for late response, but I had emergencies to take care of and I am completely new to Ruby on Rails.

I was able to find root cause of this bug.
We select **distinct** values, but we count on **not** distinct.

[code]
Unfortunately no soultion I came up with seems to work.

First I found in the documentation that I could provide count argument to paginate function.
[code]
Bu

[2019-03-14 20:02] SKashyapD commented on #4660
thanks @Zengirl2  for providing me resources.
@jywarren please let me know when your are finished and I already working on some prerequisite that will help us in future

[2019-03-14 20:24] divyabaid16 commented on #5051
@luanafaustini have you created the pull request?

[2019-03-14 20:42] luanafaustini commented on #5051
Is the one that I mentioned on the comment above? Should I hit the Merge Pull Request button?

[2019-03-14 20:51] divyabaid16 commented on #5051
Yes @luanafaustini
And then reference the pull request with this issue.

[2019-03-14 20:54] luanafaustini commented on #5051
Thanks @divyabaid16 !

[2019-03-14 21:02] divyabaid16 commented on #5051
@luanafaustini I think you have merged in your remote repo, you must send a pull request in this repository. There must be a button to compare and create a pull request. You must click that.

[2019-03-14 21:42] aggarwal19 commented on #5045
Okay ,I'm working on it .
Thanks

[2019-03-15 01:46] luanafaustini commented on #5051
I'm sorry @divyabaid16 but I am looking everywhere to see what I am missing. At the link that you've sent, I can't click on the pen icon link the tutorial is saying. It says that I "must be on a branch to make or propose changes to this file".

Whenever I change a file of mine is through there, this is the first time that I'm doing to another's person file.

Is it possible that I don't have access

[2019-03-15 01:53] madeofhuman commented on #4174
@jywarren I've raised a PR for this. Could you please go through it and tell me if it's how it's supposed to work? Thanks.

[2019-03-15 04:39] HarshKhandeparkar commented on #5071
@publiclab/plots2-reviewers

[2019-03-15 06:05] cesswairimu commented on #4603
Hey @GettyOrawo I believe you do not need to do that. What you would probably do is remove this line https://github.com/publiclab/plots2/blob/master/app/controllers/stats_controller.rb#L8 so that you can define how data would be displayed. The template is already created here https://github.com/publiclab/plots2/blob/master/app/views/stats/subscriptions.html.erb. `@tags` is a hash of pairs key bein

[2019-03-15 07:12] EngrEric commented on #4980
@gauravano  is there another issue i should work on?

[2019-03-15 07:34] Nirvikalpa108 commented on #3480
Hi @jywarren I just want to say a HUGE thank you for taking the time to set this all out for me, that's incredibly kind of you! I'm looking forward to going through all of the recommended links over the coming days and will let you know once I come across further questions. Thank you!

[2019-03-15 07:51] richa031 commented on #5055
@jywarren thank you so much this would definitely help me.

[2019-03-15 08:29] CleverFool77 opened #5083 "Use full span"
## Description
RIght now, the UI looks inconsistent as the the options are in middle.

## Expected Behaviour
As there are only two options to choose, so we can either align them to one side maybe left or we can let the `ask a question` and `tags` to take whole span and divide it into half among them.

## Screenshot
![Screenshot from 2019-03-08 15-28-47](https://user-images.githubusercontent.com/26

[2019-03-15 08:30] CleverFool77 commented on #5083
I'm interested in working in this issue.

[2019-03-15 09:18] shubhscoder opened #5085 "Multiple broken links on profile page"
The issue can be found here( https://publiclab.org/profile/warren#2/41.0/-71.0/BL1 )

Following are the broken links :
1. Link to questions asked
2. Link to activities posted
3. Link to activities attempted

[2019-03-15 09:49] ananyaarun opened #5086 "Lack of consistency in calender on events page"
# Description
The pop up on clicking on events listed in the calender on events page open differently for different rows.

# Current Behavior
This is how is opens for a bottom row

![bottomrow](https://user-images.githubusercontent.com/32260628/54422978-a3e45600-4735-11e9-8df5-8110e8c73087.png)

This is how it opens for a row on top however

![toprow](https://user-images.githubusercontent.com/3226

[2019-03-15 09:52] ananyaarun commented on #5086
@publiclab/plots2-reviewers , The issue is isn't with size of screen or tag opening based on screen width and height but the difference is seen mainly on where the user clicks. I'd like to try fixing this if approved :) Thanks.

[2019-03-15 12:44] #5032 closed

[2019-03-15 12:46] gauravano commented on #5032
Hey @shubhscoder, @SKashyapD solved the issue so need to open FTO. Thanks!

[2019-03-15 13:11] gauravano commented on #5086
Hey @ananyaarun, the Google calendar is framed into the wiki on this events page so I don't think we have any control over the popups, etc.

Thoughts?

[2019-03-15 13:20] GettyOrawo commented on #4603
Alright this makes perfect sense . Thank you @cesswairimu

[2019-03-15 13:32] ananyaarun commented on #5086
@gauravano , Hmm i see. Then perhaps nothing can be done ? We would have control if we implement the calendar component from scratch ourselves but that would be challenging too ! Do you want me to close this issue for now ?

[2019-03-15 13:37] gauravano commented on #5086
You can see if there are any options we can supply in the iframe tag for changing the popup style, etc but let's close it for now. Thanks!

[2019-03-15 13:38] #5086 closed

[2019-03-15 13:40] gauravano commented on #5085
Hi @shubhscoder, the issue is already reported at  https://github.com/publiclab/plots2/issues/5008 and fix is in progress. So, closing it. Thanks!

[2019-03-15 13:40] #5085 closed

[2019-03-15 13:51] gauravano commented on #5083
Let's try both and see which one looks good? Thanks @CleverFool77!

[2019-03-15 13:53] CleverFool77 commented on #5083
Sure, i"ll gif for images for both of them.

[2019-03-15 13:55] gauravano commented on #4980
have you raised fix for this issue? @EngrEric

[2019-03-15 13:59] CleverFool77 commented on #5086
Aren't google calendar usually like this ? :thinking:

[2019-03-15 14:06] gauravano commented on #5071
please give your username

[2019-03-15 14:22] siaw23 commented on #5071
Perhaps it's not a good idea to ask for his username publicly? Maybe @HarshKhandeparkar should send it to @gauravano privately. If no one writes a fix for this in the coming weeks I'll do it then. Basically we should find a different way to create new users with Omniauth. Now we're grabbing the first (username) parts of their emails; information which some people may not want to expose.

[2019-03-15 14:34] gauravano commented on #5071
I haven't used Github OAuth myself and was not aware of this till now, but email as a username sounded like unbelievable so asked the username. But, yes @siaw23's right, please don't copy the username here. Account deletion feature is not there, it's in discussion here- https://github.com/publiclab/plots2/issues/2819

And, there is no means of changing the username from the website as I can rememb

[2019-03-15 15:13] gauravano commented on #5074
Adding username on navbar sounds good to me. Let's confirm from @jywarren and then you can continue. Thanks @ananyaarun!

[2019-03-15 15:16] gauravano commented on #4987
closing this. Refer https://github.com/publiclab/plots2/issues/5072#issuecomment-472974341. Thanks!

[2019-03-15 15:16] #4987 closed

[2019-03-15 15:23] #5072 closed

[2019-03-15 15:35] gauravano commented on #157
Yes, OAuth really makes signup eassyy. I may be wrong but I think that if anyone is really interested about a event then they can signup?

[2019-03-15 15:44] gauravano commented on #5065
Hey @madeofhuman, it's a privacy issue too :open_mouth: as Email shouldn't be leaked. Let's put this on priority!!!

Also, as it's a FTO, please add code to solve it too. Thanks!

[2019-03-15 15:46] gauravano commented on #5065
@kuja24 you want to work in this one?

[2019-03-15 15:51] gauravano commented on #5062
Hi @divyabaid16, thanks for reporting. The popup on hover is implemented in https://github.com/publiclab/plots2/commit/b24a75e07c2ac0d5e0f629fe17e08d34796547f9.

[2019-03-15 15:51] #5062 closed

[2019-03-15 15:56] EngrEric commented on #4980
@gauravano, no.
What are the steps to raise the fix.
To open a pull request?
Again, I am still having mysql2 issue...

[2019-03-15 16:02] IshaGupta18 commented on #4603
So sorry for missing on this. Yes, I believe this is what has to be done.
Try to keep it super simple in the beginning, just a couple of tag names on
one side of the page! Thanks a lot!

On Fri, Mar 15, 2019, 6:50 PM GettyOrawo <notifications@github.com> wrote:

[2019-03-15 16:06] ananyaarun commented on #4963
@gauravano , There are a few FTO's with no update or work for a week or more now. We can consider reassigning them if required.

[2019-03-15 16:06] gauravano commented on #4963
Yes @ananyaarun, please tag them below. Thanks!

[2019-03-15 16:08] gauravano commented on #4980
Rebase your local branch with master as fix for the issue is already merged

[2019-03-15 16:09] gauravano commented on #5086
:point_right: https://github.com/publiclab/plots2/issues/5086#issuecomment-473280244

[2019-03-15 16:11] jywarren commented on #5074
Ah, the only issue I could think of is that the username is not of a consistent length, and could affect the folding of the navbar at different widths.

What if we changed it for a "person" icon from FontAwesome? https://fontawesome.com/v4.7.0/icons/

Then it would more generally refer to "profile/user stuff" without the expectation of a Profile page exactly. And it would make more space on the na

[2019-03-15 16:13] EngrEric commented on #4980
@gauravano Do I still have to present it as my contribution at outreachy or you will create another one for me.

[2019-03-15 16:14] ananyaarun commented on #4963
These issues can be assigned to a new contributer. :smiley:

- https://github.com/publiclab/plots2/issues/4937
- https://github.com/publiclab/plots2/issues/4940
- https://github.com/publiclab/plots2/issues/3298
- https://github.com/publiclab/plots2/issues/3419

@gauravano Here these can be reassigned according to me, I'll try to keep updating this. Thanks :)

[2019-03-15 16:16] gauravano commented on #4980
You have to solve this or another issue and submit it at outreachy portal

[2019-03-15 16:19] ananyaarun commented on #5074
@jywarren , Thats a valid point regarding length of username. I'll change it to the icon and see how it looks and maybe add a screenshot here ? Thanks for the feedback :)

[2019-03-15 16:19] gauravano commented on #4940
@uimarshall if you need any help, feel free to ask. Thanks!

[2019-03-15 16:20] gauravano commented on #3298
Hey @alonpeer, have you started working on this issue?

[2019-03-15 16:22] EngrEric commented on #4980
Cool, in want to solve this one.
@gauravano thanks for your help so far.
My greatest challenge is to get this run on my local machine.
The fix will not be hard for me.
At least am about 6 months older developer world.

[2019-03-15 16:24] gauravano commented on #4980
Great! Give it a try and if you get stuck on updating PR branch then let me know. Thanks!

[2019-03-15 16:25] gauravano commented on #3419
@alonpeer you can work on this if you're interested.

[2019-03-15 16:44] jywarren opened #5089 "Add followers list to Contributors pages"
We should show 2 columns on pages like https://publiclab.org/contributors/ui; one for people who have posted ("contributors" -- these are already shown on the page) and one for people who are Following the tag/topic. We currently only show followers here:

![Screen Shot 2019-03-15 at 12 38 19 PM](https://user-images.githubusercontent.com/24359/54447193-3d543d80-471f-11e9-845d-f684755d54f9.png)

Le

[2019-03-15 16:48] jywarren opened #5090 "Implement new design for Tags page (needs breaking up)"
Building on #4922, we should work to rebuild the page at https://publiclab.org/tags following this design:

![Screen Shot 2019-03-15 at 12 45 20 PM](https://user-images.githubusercontent.com/24359/54447618-3da10880-4720-11e9-843e-0f9f7ca5c2b8.png)

There's discussion about this here: https://publiclab.org/notes/edie_blues/01-09-2019/the-tags-page-mockup-let-me-know-what-you-think#c22154

The curre

[2019-03-15 16:51] jywarren commented on #3480
thank you too! And good luck - i can help out if you get stuck!!!

On Fri, Mar 15, 2019 at 3:34 AM Amina <notifications@github.com> wrote:

[2019-03-15 16:51] ananyaarun commented on #5089
@jywarren , I'd like to work on this !

[2019-03-15 16:52] jywarren commented on #157
Yes. Let's ping @publiclab/community-reps about this -- it's a substantial
new system to track just emails, but we could do it if it's a priority. Or
we could rely on the newly much easier Login with Twitter/FB/Google process
and close this issue.

On Fri, Mar 15, 2019 at 11:36 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-15 16:53] kuja24 commented on #5065
Yes I would like to work on it. But could you please explain me what exactly has to be done?

[2019-03-15 16:53] jywarren commented on #5089
that'd be super, thank you!

On Fri, Mar 15, 2019 at 12:52 PM Ananya Arun <notifications@github.com>
wrote:

[2019-03-15 17:15] ananyaarun commented on #5074
@jywarren  @gauravano  How does this look ?

![profile](https://user-images.githubusercontent.com/32260628/54449432-0c522800-4774-11e9-94b3-4ee5f0f0bc8e.png)

[2019-03-15 17:22] vansjyo commented on #2151
@SidharthBansal Is there anything more that you are expecting from this fix? If not, I'll open a PR, else please let me know. Thanks.

[2019-03-15 17:31] CleverFool77 commented on #5090
@warren I would love to work on this issue. Can I start with the first part of making it two-column.

[2019-03-15 17:33] jywarren commented on #5090
That'd be super! Thank you -- and note that we're currently on Bootstrap 3,
docs at https://getbootstrap.com/docs/3.3/ -- worth checking out!

On Fri, Mar 15, 2019 at 1:31 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-03-15 17:36] jywarren commented on #5074
oh cool -- but is that a fontawesome icon? In fontawesome, icons are
actually text characters and so they wouldn't push down the bottom of the
navbar; they'd just appear in-line. I think there might be one like `<i
class="fa fa-user"></i>` -- they're displayed inside `<i>` tags, like this:

https://github.com/publiclab/plots2/blob/bfd8b9b1af1e3a198fa30442c666b7edb49425a6/app/views/users/profile.ht

[2019-03-15 17:38] divyabaid16 commented on #5090
@jywarren Should I work on redesigning the search bar?

[2019-03-15 17:38] HarshKhandeparkar commented on #5071
Hello! Thanks for the response. What it actually did was it removed `@site.com` from the email id and used that as a username and the email was the email used in github. I tried to create a new account but it wouldn't let me since the email was used already. What can I do now? The email is actually my father's so I didn't want to share my email publicly. Is there some kind of id I can provide you

[2019-03-15 17:39] CleverFool77 commented on #5074
One icon doesn't match up that well in the navbar of texts. Maybe we can try an icon with text like facebook does?
And did you change the alignment of navbar. It looks shifted towards top with respect to the icon.

[2019-03-15 17:44] HarshKhandeparkar commented on #5071
Currently I am really frustrated as I'm in a situation from which I can only recover by waiting for a PR and I cannot open a PR as I've never used ruby in my life or I would have fixed it myself😂. But this is quite serious🤔 as other users might also fall into this pit. This should be a high priority fix I think. What do you think?

[2019-03-15 17:52] CleverFool77 commented on #5074
This might be a bad suggestion but what if we restrict user to put up username name text to be shown beside fav-icon with 8 characters. It won't be original username rather a username to be shown here on navbar.

[2019-03-15 18:25] jywarren commented on #5090
Sure! But you can probably go ahead with #5832 (i think?) where you've
already begun! Thank you!

On Fri, Mar 15, 2019 at 1:38 PM Divya Baid <notifications@github.com> wrote:

[2019-03-15 18:27] ananyaarun commented on #5074
@jywarren Yes it is a fontawesome icon. I know what the problem is. I gave it a size of 2x as the original one looked too small.
like this -
![profilenew](https://user-images.githubusercontent.com/32260628/54453780-08c39e80-477e-11e9-9e75-0b4685377990.png)
As you can see the alignment of navbar got extended due to the inc in size.
Any thoughts on this size problem ?

[2019-03-15 18:29] ananyaarun commented on #5074
@CleverFool77 , Do you feel the current profile icon looks odd ? Also i feel adding a username name text and restricting it to 8 would unnecessarily confuse a new user when they are trying to create an account.

[2019-03-15 18:30] jywarren commented on #5074
Oh, this looks quite nice though, i think it's good! I don't see the
alignment issue, can you offer more detail?

On Fri, Mar 15, 2019 at 2:28 PM Ananya Arun <notifications@github.com>
wrote:

[2019-03-15 18:36] ananyaarun commented on #5074
Sure, So fontawesome icon has a default size which would look like this

![profilenew](https://user-images.githubusercontent.com/32260628/54454072-a74fff80-477e-11e9-8d12-8640b007dd6b.png)

To make it a little bigger i used the next available size which is basically 33% inc . (then 2x 3x 4x etc follow but that would be too big!)

![bestsize](https://user-images.githubusercontent.com/32260628/54454

[2019-03-15 18:48] gauravano commented on #3262
@jywarren transifex added a new method which is awesommmeeee - https://docs.transifex.com/integrations/transifex-github-integration :100:

[2019-03-15 18:48] jywarren commented on #5071
Hi all - i agree this is not ideal; I think we can probably change @HarshKhandeparkar 's username manually in the db this once (esp. since @HarshKhandeparkar has not posted anything, so there will be no other traces!) but that the next steps are important too. So:

1. @HarshKhandeparkar can you email me your username at jeff@publiclab.org
2. let's make an issue to default to the GitHub username in

[2019-03-15 18:49] gauravano commented on #3262
I am deleting old data and then we can do the setup

[2019-03-15 18:50] jywarren commented on #4660
I think @Zengirl2's idea for core mission is great -- identify specific types of pollution from aerial photos -- and we can start with whatever is a good initial training set.

I added @Zengirl2 to the zooniverse! Thank you!

[2019-03-15 18:51] HarshKhandeparkar commented on #5071
Ok I will mail my username. Btw please don't reply to the mail. Delete the mail if you want. Sorry for the trouble and thank you.

[2019-03-15 18:52] jywarren commented on #4660
There are lots of Hurricane Harvey images linked to from posts on this page: https://publiclab.org/wiki/harvey#Questions -- i hope that helps!

[2019-03-15 18:54] jywarren commented on #5071
that's fine, i promise i will be careful!

On Fri, Mar 15, 2019 at 2:52 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-15 18:55] #5035 closed

[2019-03-15 18:56] HarshKhandeparkar commented on #5071
@jywarren I have sent the email. Please let me know if you have received it. Thanks a lot!

[2019-03-15 18:57] jywarren commented on #5074
OK, that sounds good!

On Fri, Mar 15, 2019 at 2:36 PM Ananya Arun <notifications@github.com>
wrote:

[2019-03-15 18:59] HarshKhandeparkar commented on #5071
Hello, I have actually sent a second email. Please read that as well before making any changes. Sorry.

[2019-03-15 19:00] jywarren commented on #5071
I did it and you should now have the new (second) username. Thank you!

On Fri, Mar 15, 2019 at 2:57 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-15 19:00] jywarren commented on #4585
Yes, that's fine!

On Thu, Mar 14, 2019 at 11:48 AM Naman Gupta <notifications@github.com>
wrote:

[2019-03-15 19:05] HarshKhandeparkar commented on #5071
Btw, how do I sign in? By using github?

[2019-03-15 19:09] SKashyapD commented on #4660
@jywarren That sounds amazing. I will start working on this thing immediately.
Should I make a summer of code proposal for image labelling of Mapknitter using semantic segmentation and tagging.

[2019-03-15 19:13] jywarren commented on #5071
Let me contact you on Gitter. Sorry!

On Fri, Mar 15, 2019 at 3:06 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-15 19:14] HarshKhandeparkar commented on #5071
Uh.. i dont have a gitter account.

[2019-03-15 19:15] jywarren commented on #4660
Sure, if you're interested in submitting a proposal, that would be great!

On Fri, Mar 15, 2019 at 3:10 PM SKashyapD <notifications@github.com> wrote:

[2019-03-15 19:16] jywarren commented on #5071
Sorry, i wanted to send you some additional information as i reset your
password but it sent a confirmation email to the address associated with
the account. :-(

If you can see it, you can go ahead and reset your password. Otherwise I
can send you the reset URL in a private channel. Sorry this was a bit
complex!

On Fri, Mar 15, 2019 at 3:15 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-15 19:18] HarshKhandeparkar commented on #5071
What would the new username be? You can mention it here as it will be public. Sorry though.

[2019-03-15 19:18] jywarren commented on #152
Hm, interesting, i like the centered idea!

On Wed, Mar 13, 2019 at 5:44 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-15 19:20] jywarren commented on #3988
Ah, this isn't technically connected to your project, sorry -- i just meant
that I believe our regex validation is rejecting non-latin characters, and
wondered if you'd be interested in tackling this as well? But we can likely
find someone else to work on it too! Thanks!

On Wed, Mar 13, 2019 at 8:04 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-15 19:20] HarshKhandeparkar commented on #5071
I got the reset email. Thank you! This conversation is really big. I think this issue should be closed and a new one should be opened which specifically addresses this issue.

[2019-03-15 19:26] HarshKhandeparkar commented on #5071
Ok I have changed the password and everything. The username is correct. Thanks a lot. Shall I close this issue?

[2019-03-15 19:28] gauravano commented on #3262
@publiclab/community-reps

I have deleted all the data from transifex.
@jywarren these are languages present now. Good to continue? Any addition or deletion of language?

English, Arabic, Chinese(zh_CN), German, Hindi, Italian, Korean, Portuguese(Brazil)pt_BR, Spanish(es)

[2019-03-15 19:40] gauravano commented on #3262
@jywarren I sent the Transifex installation request to plots2. I think we cam install it now. Also, there are 2 join requests pending on Transifex account -
![transifex_req](https://user-images.githubusercontent.com/20878070/54457695-19791200-4788-11e9-9e55-a5cb2f4a12ed.png)

One is old(2017) and another is by a contributor who told in an issue that they can help in translation so I gave them our

[2019-03-15 19:43] divyabaid16 opened #5092 "Reapeating of templates while editing"
**Description**
While using the template to share the work, on changing the option of the ```Templates```, the option that is selected is appended after the current option.

It must not happen in this way instead it must be overridden while changing the ```Templates``` from the drop-down menu.

In the page [https://publiclab.org/post?&legacy=true](https://publiclab.org/post?&legacy=true)

Please f

[2019-03-15 19:44] divyabaid16 commented on #5092
@publiclab/reviewers Is this issue correct?
If yes, then I would like to work on this!

[2019-03-15 19:50] jywarren commented on #5071
Yes, please go ahead -- and can you copy in the checklist i'd posted? Thank
you!

On Fri, Mar 15, 2019 at 3:27 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-15 19:52] jywarren commented on #3262
I guess accept all, no? Approving now!

On Fri, Mar 15, 2019 at 3:41 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-15 19:54] HarshKhandeparkar commented on #5071
What checklist?

[2019-03-15 19:56] HarshKhandeparkar opened #5094 "User owmloading not found"
I got this error when I opened my profile

I have used the website for the first time so please correct me if I have asked something wrong. Also my images were not posting on comments and even on profile image. Is this some internet problem or something else?

@publiclab/plots2-reviewers

[2019-03-15 19:58] #5094 closed

[2019-03-15 19:59] HarshKhandeparkar opened #5095 "Mysterious error message "User owmloading not found" shown"
I got this error when I opened my profile
![Screenshot_20190316_012912](https://user-images.githubusercontent.com/34770591/54458837-f56b0000-478a-11e9-9144-738ea5616b24.jpg)

I have used the website for the first time so please correct me if I have asked something wrong. Also my images were not posting on comments and even on profile image. Is this some internet problem or something else?

[2019-03-15 20:04] steviepubliclab commented on #104
Wow this is an old thread.. sure whatever you think works best!

[2019-03-15 20:06] jywarren commented on #5071
Ah i guess just the issue here: https://github.com/publiclab/plots2/issues/5071#issuecomment-473402485

[2019-03-15 20:06] #5071 closed

[2019-03-15 20:06] gauravano commented on #3262
Have you approved Transifex app install permissions @jywarren ?

[2019-03-15 20:07] divyabaid16 commented on #5042
@gauravano I'm unable to find the file where I have to edit. Can you please help me with this?

[2019-03-15 20:11] ananyaarun opened #5096 "Issue with opening website on Internet Explorer (Needs Info/testing)"
# Description
Although most technical user of the public lab website don't usually use Internet Explorer, I noticed that Opening publiclab.org on this browser has issues.
- The Get Involved and About us section doesn't open on clicking.
- Only Donate and Store pages function as desired.

# Possible Solution
After more testing, if this is actually the case maybe a msg/alert can be given to the user

[2019-03-15 23:24] sashadev-sky commented on #4920
@gauravano I was going to offer it to you because I didn't want to impose on your issue but I saw you asked 6 days ago so I just went for it to speed things up. Please review and let me know your thoughts. I made a few updates

@jywarren I used a saved reply instead of the FTO bot so i'm not sure about the status of the bots. @gauravano were you going to look into this or are you referring to look

[2019-03-16 00:15] sashadev-sky commented on #5034
Hi all!

This week I have been:

- Working on making updates to the Leaflet.DistortableImage library that will be eventually merged into Mapknitter
- Contributing to community building efforts by updating guidelines for first-timers-only issues with @gauravano as per this week's theme 🎉

Thanks!

[2019-03-16 00:46] #4314 closed

[2019-03-16 03:13] Fastie opened #5099 "/tag/topic/author/username url is broken"
URLs like this are not working.

https://publiclab.org/tag/riffle/author/cfastie

[2019-03-16 04:28] CleverFool77 commented on #5083
@gauravano Following are the images -
For the aligned tabs to left
![Screenshot from 2019-03-15 21-04-16](https://user-images.githubusercontent.com/26685258/54470669-de033580-47d1-11e9-993c-fc1cd183936d.png)
![Screenshot from 2019-03-16 09-56-01](https://user-images.githubusercontent.com/26685258/54470670-e2c7e980-47d1-11e9-9c65-31eb0c4c07a1.png)

For the tabs divided in half
![Screenshot from 201

[2019-03-16 04:28] CleverFool77 commented on #5083
Which one look better ? :thinking:

[2019-03-16 04:32] sashadev-sky commented on #5092
@divyabaid16 hey, good find! Yes please feel work on this and thank you for your help :) I am assigning you now

[2019-03-16 04:43] CleverFool77 commented on #5090
@jywarren  Is this what the first part says ?
![Screenshot from 2019-03-16 10-11-38](https://user-images.githubusercontent.com/26685258/54470792-1c99ef80-47d4-11e9-9e75-632a2ea0ca25.png)

[2019-03-16 04:56] sashadev-sky commented on #4937
@AnthoniaOkafor Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks! We are starting to request that contributors show some sort of activity towards a first-timers-only issue after claiming it within a week because there is high demand for them. (whether that is asking for more time, help, opening a PR, etc.)

[2019-03-16 05:00] CleverFool77 commented on #5090
@jywarren Is it possible for a same person to work on other parts too ?
If yes, then I would like to go for second part too. :)

[2019-03-16 05:04] sashadev-sky commented on #4963
@gauravano just saw this for the first time, woah! I have been working to solve issues in a different repo but this reminded me about FTOs and I will definitely help out whenever I can with creating issues for people on this list.. also feel free to @ me if you need help creating ones asap

[2019-03-16 05:31] CleverFool77 commented on #5031
@daddyjab Are you still working on this issue ? If yes, then you can open a draft PR or you ask for help in group if you came across some problem or If not, then there is no problem. As opensource is always a place where another can start from where you've left and we can assign a different contributor for this.

[2019-03-16 05:32] CleverFool77 commented on #5004
@Jaya738 Are you still working on this issue. If yes, then you can open a draft PR or you ask for help in group if you came across some problem or If not, then there is no problem. As opensource is always a place where another can start from where you've left and we can assign a different contributor for this.

[2019-03-16 05:33] CleverFool77 commented on #5054
@madelinejones Are you still working on this issue. If yes, then you can open a draft PR or you ask for help in group if you came across some problem or If not, then there is no problem. As opensource is always a place where another can start from where you've left and we can assign a different contributor for this.

[2019-03-16 05:53] AnthoniaOkafor commented on #4937
Hello @sashadev-sky. I'll open a PR today. Thanks

[2019-03-16 06:27] mgroovyank commented on #5065
@kuja24 Are you doing it?

[2019-03-16 06:44] kuja24 commented on #5065
yes I'm working on it

[2019-03-16 06:49] kuja24 commented on #5065
@gauravano @jywarren @cesswairimu
I went through the setup installations instructions in the README file. I have successfully cloned the repository but I'm not able to run the bundle command to set it up locally .Please help solving this error
![image](https://user-images.githubusercontent.com/36929301/54471825-9e464900-47e5-11e9-81d8-d9f4d2913037.png)

[2019-03-16 06:53] kuja24 commented on #5065
I searched on the internet for the error.Do I need to install Ruby first?

[2019-03-16 06:58] avsingh999 commented on #4688
@yash98gupta  I think It would be better if we can also add transitions when clicking for hiding.
sorry for late reply.
 thanks : )

[2019-03-16 08:09] daddyjab commented on #5031
Hi @CleverFool77,
I expect to work it early next week - hit a peak in the day job :)

[2019-03-16 08:23] CleverFool77 commented on #5031
Sure @daddyjab. :)

[2019-03-16 08:26] sagarpreet-chadha opened #5101 "Not able to update my own post/note"
### Problem faced :

While updating my proposal on publiclab.org , after doing all the changes when i click the submit button - the spinner on button continues to rotate but no request is send to Server **[In rich wiki mode].**

While in legacy wiki mode , i am getting this error :
<img width="865" alt="Screenshot 2019-03-16 at 1 52 14 PM" src="https://user-images.githubusercontent.com/14952645/54

[2019-03-16 08:30] sagarpreet-chadha commented on #5101
JS Console logs :
<img width="1437" alt="Screenshot 2019-03-16 at 1 59 59 PM" src="https://user-images.githubusercontent.com/14952645/54472752-e40a0e00-47f3-11e9-8295-bbbeba68ad45.png">

[2019-03-16 08:41] sagarpreet-chadha commented on #5101
<img width="415" alt="Screenshot 2019-03-16 at 2 10 23 PM" src="https://user-images.githubusercontent.com/14952645/54472835-57604f80-47f5-11e9-9274-bafdb069fe92.png">

[2019-03-16 08:43] madeofhuman commented on #5065
@kuja24 run the command `ruby -v` and tell me what you see

[2019-03-16 09:00] cesswairimu commented on #4972
Hi @karunagoyalk how is this coming along?

[2019-03-16 09:02] kuja24 commented on #5065
The term 'ruby' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the
spelling of the name, or if a path was included, verify that the path is correct and try again.
This is what I get

[2019-03-16 09:04] madeofhuman commented on #5065
That's okay. It means you do not have ruby instaled on your system. Here's how we're going to install it with RVM:

[2019-03-16 09:56] shubhi2000 commented on #5059
@fabsar are you working on this issue?

[2019-03-16 09:57] ananyaarun commented on #3340
@gauravano , i recently worked on login form validation can i work on this ? Adding a required field to this will ensure a null form is not submitted .

[2019-03-16 09:59] fabsar commented on #5059
Yes, I am working on it.

[2019-03-16 10:14] karunagoyalk commented on #4972
@cesswairimu hey! Actually i faced some problem while installing and building the project.But I am trying , i will get back to you in some time with PR

[2019-03-16 10:53] sashadev-sky opened #5102 "Fix spacing & capitalization in dashboard activity"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-03-16 11:00] sashadev-sky commented on #4963
@megha070 just opened a new FTO issue for you... please claim it if you're interested #5102

[2019-03-16 11:02] sashadev-sky commented on #5102
currently claimed by @meghana-07

[2019-03-16 11:28] gauravano commented on #5059
hey @shubhi2000, if you are looking for first-timer issue, then we can add your name to the - https://github.com/publiclab/plots2/issues/4963 list and can ping you when a new issue is opened?

[2019-03-16 11:29] gauravano commented on #3340
Go ahead @ananyaarun! Thanks :+1:

[2019-03-16 11:31] cesswairimu commented on #4972
Okay cool. rem to checkout https://github.com/publiclab/plots2/issues/3840 to see if there is an error you are getting that was solved there or add a comment with your error and we can try and help

[2019-03-16 11:48] gauravano commented on #5083
I think tabs divided in half. Let's confirm from @jywarren. Thanks @CleverFool77 !

[2019-03-16 12:03] vansjyo opened #5103 "Clicking on Publish Note shows buffering icon"
When I click on Publish on the link for "Publish", it shows a buffering icon and does not publish the note. I am using Mozilla Firefox browser and this was an issue while publishing my draft Outreachy proposal on this [ link
![Screenshot from 2019-03-16 17-18-55](https://user-images.githubusercontent.com/25532570/54474941-53422b00-4811-11e9-9f58-1f0051e0bf3c.png)
](https://publiclab.org/post?n=173

[2019-03-16 12:10] gauravano commented on #4920
Hey @sashadev-sky PR looks good, just a minor change required. @jywarren fixed the welcome bot, here the message - https://github.com/publiclab/plots2/pull/5079#issuecomment-473271789 :smile: .

yes, we need suggestions for new bots which can help us.

[2019-03-16 12:15] sashadev-sky opened #5104 "Fix Pluralization Conditionals"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-03-16 12:18] sashadev-sky commented on #4963
@Aarabhi2017 just opened a new FTO issue for you... already holding it for you but please claim it there #5104 😊

[2019-03-16 12:19] sashadev-sky commented on #5104
currently claimed by @Aarabhi2017

[2019-03-16 12:22] gauravano commented on #5096
Confirmed by running the website on Internet Explorer via browserling. Dropdowns are not working. Thanks @ananyaarun for reporting.

[2019-03-16 12:27] gauravano commented on #5042
Hey @divyabaid16, sorry you have to face trouble here. Actually, editing privileges are limited to those contributors who have posted some work on publiclab.org. here's the code for the wiki - https://gist.github.com/gauravano/b1bdf4c95f7d781b47d50c06699b7ab5. You can do the changes and try it locally and  after that I will update the page as per your code. Sounds good?

Thanks for working on this

[2019-03-16 12:31] gauravano opened #5105 "Powertagging the profile"
This list is copied from https://github.com/publiclab/plots2/issues/104 and so feel free to refer to https://github.com/publiclab/plots2/issues/104 discussion for further information. Thanks!

## User interfaces

- [ ] indicate interest in being contacted about particular topics or related to your expertise, possibly connected to the new Q & A feature of what you are subscribed to
- [ ] prompts to

[2019-03-16 12:31] gauravano commented on #104
Thanks @steviepubliclab! Opened new issue at https://github.com/publiclab/plots2/issues/5105 . Thanks!

[2019-03-16 12:31] #104 closed

[2019-03-16 12:37] gauravano commented on #2151
Yes @vansjyo, feel free to open a PR. Thanks!

[2019-03-16 12:43] jywarren commented on #5103
Hi I'm sorry you had trouble! How long did you wait for it to spin? I wonder if it an issue of the server taking far too long to complete the request, we should look up the skylight logs for this action. Apologies again, and please feel free to email your proposal to jeff@publiclab.org for now!

[2019-03-16 12:44] AnthoniaOkafor commented on #4937
Hi @sashadev-sky. I have successfully resolved my FTO issue and pushed it to my fork. However I already opened a PR last week. Do I open a new PR or continue with my first PR? https://github.com/publiclab/plots2/pull/4961#issue-259593726
 If I'm continuing with the first PR are there changes to be made anywhere in it? Thanks

[2019-03-16 12:45] gauravano commented on #5103
@jywarren here's a similar issue - https://github.com/publiclab/plots2/issues/5101. Seems something wrong with editor?

[2019-03-16 12:55] EngrEric commented on #4937
@AnthoniaOkafor, congrats on opening your PR.
Am still finding it difficult to run the repo locally so that I will start working.
Are you on windows or Linux?
Again am in Lagos, will want to sync with you to put me through.

[2019-03-16 13:05] shubhi2000 commented on #5059
Yes, I am a first-timer and am looking for an issue. Please add my name to
it. Thanks.

On Sat 16 Mar, 2019 4:58 pm Gaurav Sachdeva, <notifications@github.com>
wrote:

[2019-03-16 13:07] madeofhuman commented on #5103
@gauravano I'm experiencing this issue too when trying to submit my proposal. Let me see if I can look into it.

[2019-03-16 13:23] Danielshow commented on #5099
@Fastie, I checked this just now and it seems to be working [https://publiclab.org/tag/riffle/author/cfastie](https://publiclab.org/tag/riffle/author/cfastie`)

[2019-03-16 14:07] siddhishree commented on #5034
Hello everyone!
My goals for the coming week are:
1) work on a few FTOs
2) submit my application for outreachy.
Hope this week is a productive one for me and you guys too! Cheers!

[2019-03-16 14:37] CleverFool77 opened #5109 "[Need Discussion/Reporting Issue]The editor opens if a question/note is submitted"
## Description
This is what I faced. In my local host, if I'll ever post a question or submit the note then my editor opens in a new window.
I'm using vscode, so if I'll post three questions in thee different tabs then I'll have four windows of vscode open along with the original one in which I was already working.

[2019-03-16 14:48] siddhishree commented on #4963
Hello, I am an outreachy applicant and new to open source. Its been a while since I have been looking for a good first issue but most of them have already been assigned. Can you please add my name to the above list and assign me with a good first issue?

[2019-03-16 14:51] divyabaid16 commented on #5105
@gauravano Can I work on the first and second task?

[2019-03-16 15:05] AnthoniaOkafor commented on #4937
Hey @EngrEric, thanks. My laptop runs on Windows but I run the app on Cloud9. If you are finding it challenging running it locally, you could try Cloud9.

[2019-03-16 15:06] cesswairimu commented on #4963
HI @siddhishree added your name to the list. Thanks!

[2019-03-16 15:38] Fastie commented on #5099
I see that it works for me in Bing but not in Chrome or Firefox.

[2019-03-16 16:17] #3524 closed

[2019-03-16 16:21] jywarren commented on #5083
I agree with Gaurav! Thanks!!!

On Sat, Mar 16, 2019, 7:49 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-16 16:22] fabsar commented on #5059
thank you @shubhi2000 ! All the best to you too!!

[2019-03-16 16:27] #5074 closed

[2019-03-16 16:28] megha070 commented on #5102
I would like to take this up.

[2019-03-16 16:32] fabsar commented on #5059
I learnt about the language and figured out what changes the given issue may require but I am unable to find the code file for the page with the issue. Please help out! Thanks!

[2019-03-16 17:14] CleverFool77 commented on #5109
I'm using actual browser @madeofhuman :)

[2019-03-16 17:41] shubhi2000 commented on #5059
In the description of this issue, there is a link to stylesheets folder in the Update section. In that folder, many css files are given. Out of those, the file having footer styling is style.css .

[2019-03-16 17:44] fabsar commented on #5059
Oh Okay! Thank you :)

[2019-03-16 18:56] namangupta01 commented on #4962
@jywarren all the sentry issues are related to the outbound requests i.e the request that is going out from the server to fetch the data and our system is not able to get the response.

[2019-03-16 19:06] namangupta01 commented on #4962
Can you try for the query ` Client.search(ENV["TWEET_SEARCH"])` in rails console and check if that it is getting some response or not. If it not then there will be something to be done with server configuration.

[2019-03-16 19:12] EngrEric commented on #4937
@AnthoniaOkafor but cloud9 is now on AWS and it is not free i think.
i will want to sync with you for guidance. this is my mail ericbest960@gmail.com, am expecting mail from you thanks

[2019-03-16 19:13] sashadev-sky commented on #4589
closed via #4852

[2019-03-16 19:13] sashadev-sky commented on #4589
closed via #4852

[2019-03-16 19:13] #4589 closed

[2019-03-16 19:15] rexagod commented on #4585
If that's the case, @jywarren, then I'd love to have an opportunity to be an Outreachy mentor as well! This is really exciting! :smile:

Thanks!!

[2019-03-16 19:30] gauravano commented on #5105
Go ahead @divyabaid16. Thanks!

[2019-03-16 20:02] gauravano opened #5111 "Fix number of comments in _node_comment partial"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-16 20:03] gauravano commented on #4963
Hey @Manvi07 here's a issue for you - https://github.com/publiclab/plots2/issues/5111

[2019-03-16 20:04] gauravano commented on #5111
This issue is created for @Manvi07. Thanks!

[2019-03-16 20:07] gauravano commented on #4937
Hey @EngrEric, we can send you an invite to Cloud9. It would be free to use then.

cc @jywarren.

[2019-03-16 20:13] gauravano commented on #4937
Also, I remember you mentioned about the mysql error in gitter error . If you are still having that same issue then you can update your local master branch by
`git checkout master` - to checkout master branch
`git pull https://github.com/publiclab/plots2 master` - to update your local branch

After that, you can update your feature-branch i.e., branch on which you have worked on using
`git checkou

[2019-03-16 20:34] gauravano opened #5112 "Fix number of comments in _node_meta partial"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-16 20:35] gauravano commented on #4963
Hey @siddhishree, here's an issue for you - https://github.com/publiclab/plots2/issues/5112

[2019-03-16 20:35] gauravano commented on #5112
This issue is created for @siddhishree. Thanks!

[2019-03-16 20:41] siddhishree commented on #5112
Thanks @gauravano. I'll be working on this.

[2019-03-16 20:57] AnthoniaOkafor commented on #4937
Ok @gauravano, I'll do just that. Many thanks

[2019-03-16 20:58] sashadev-sky opened #5113 "Comment Likes Does Not Work"
Find a comment on any page on the PL website and you will find that clicking its like button results in a POST request to show a 'noty notification' (a green popup to the right saying 'Reacted'! or 'Unreacted!') and does not send any request to actually "like" the comment or update the comment's like button UI to show it has been liked:

Here is an example page:
https://publiclab.org/questions/Ori

[2019-03-16 21:00] sashadev-sky commented on #5113
@jywarren Do you think this is descriptive enough for someone to take on this issue with everything in mind from the last one I did or can I improve it?

[2019-03-16 21:03] sashadev-sky commented on #4920
@gauravano can we also explore bot that tells us when no activity has occurred for a week

[2019-03-16 21:08] gauravano commented on #4920
Actually, some time ago @siaw23 suggested about https://github.com/probot/stale. How about starting with it?

[2019-03-16 21:09] ananyaarun commented on #4927
Hey @skilfullycurled Can i work on this issue ?

[2019-03-16 21:12] sashadev-sky commented on #4920
@gauravano I'm not sure if it we want it autonomously closing things. For example I am currently working on an issue that @jywarren created 4 years ago. I think would be better if it just let us know?

[2019-03-16 21:12] sashadev-sky commented on #4920
welcome bot looks great!

[2019-03-16 21:14] gauravano commented on #4920
we can configure probot to just label the old issue/PR as `stale` or `abandoned` and not close it https://github.com/probot/stale#usage

[2019-03-16 21:15] gauravano commented on #4920
Checking welcome bot features..

[2019-03-16 21:19] sashadev-sky commented on #4937
@AnthoniaOkafor if the changes you make are still relevant to the first PR you opened then continue pushing them there. All you have to do is add the changes to that branch and push it `git push origin <yourBranchName> and it'll update there!

Otherwise you create a new branch for a different feature or something addressing a different issue and push that up. Work on one branch will not effect wor

[2019-03-16 21:19] gauravano commented on #4920
Welcome bot https://github.com/apps/welcome is built with probot :smile: and offers only limited functionality

[2019-03-16 21:21] sashadev-sky commented on #4937
@AnthoniaOkafor I think @gauravano has been following your original PR closer so he can confirm but it looks like he wants you to push your changes there

[2019-03-16 21:28] sashadev-sky commented on #4920
@gauravano yeah that sounds good. Maybe we should have a full discussion about all the options we discover and then create a proposal which bots to use and why / how. I can't work on that at the moment but definitely in a few weeks would love to help out!

[2019-03-16 21:31] gauravano commented on #4937
@AnthoniaOkafor check here - https://github.com/publiclab/plots2/pull/4961#issuecomment-473578125

[2019-03-16 21:37] gauravano commented on #4920
Hmm, we can start with probot for now or wait for @Harshithpabbati's research over the bots. As for plots2  probot seems good.

Let's see what @jywarren @siaw23 thinks.

[2019-03-16 22:24] ananyaarun opened #5114 "Wrong error msg for incorrect password during login"
# Description
The issue of not allowing null fields either for username or password during login was taken care of in https://github.com/publiclab/plots2/pull/5087 , But when a user enters a correct user name (ie present in db) followed by an incorrect password, Instead of a msg saying wrong password this pops up.
![loginerror](https://user-images.githubusercontent.com/32260628/54482362-3ab12f80-4

[2019-03-16 22:24] CubikMan47 commented on #4963
Hello, I would like to contribute to this project, could I be added to the list? Thanks!

[2019-03-16 22:28] ananyaarun opened #5115 "Wrong error msg during signup"
# Description
Similar to issue #5114 , while workin on #3340 , I found that entering a different paddword in the confirm password section when compared to the password section gives this error msg which is misleading to a common user
![signuperror](https://user-images.githubusercontent.com/32260628/54482383-c88d1a80-4868-11e9-987a-eeebe71db509.png)

# Solution
The error msg should be changed

[2019-03-16 22:30] ananyaarun commented on #5115
I'd like to work on this. Or if the fix is easy should i make this an FTO ? @gauravano

[2019-03-16 22:30] ananyaarun commented on #5114
I'd like to work on this. Thanks :)

[2019-03-17 00:19] jywarren commented on #5113
I think this is good, although maybe a link to the Js code driving the
button would be nice to add! Thanks!

On Sat, Mar 16, 2019, 5:01 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-03-17 01:40] sentry-io[bot] opened #5118 "ActiveRecord::RecordNotUnique: Mysql2::Error: Duplicate entry '0' for key 'index_node_vid': INSERT INTO `node` (`type`, `title`,..."
Sentry Issue: [PLOTS2-2F](https://sentry.io/organizations/publiclab/issues/938338583/?project=1410626&referrer=github_integration)

[code]

[2019-03-17 01:41] jywarren commented on #5103
I believe this is linked to #5118 I just opened from sentry.io... let's investigate there!

[2019-03-17 01:41] jywarren commented on #5103
Thanks for adding information!

[2019-03-17 01:47] jywarren commented on #5118
Not sure why but this is now failing due to non unique vid. We don't assign vid until the next few lines so it's the default that's causing trouble.

https://github.com/publiclab/plots2/blame/master/app/models/node.rb#L621

Could be some error created a vid of 0 and now we can't assign that (even briefly) before getting a new valid vid. Odd because this all happens in a transaction so it should ne

[2019-03-17 02:01] jywarren commented on #5118
I've just found a stray node draft with `vid=0` and i changed that. @sagarpreet-chadha i'm not sure how this happened but it was linked to a draft of yours which now seems to be without a revision record (although it had been set to 0, strangely).

It's here: https://publiclab.org/notes/sagarpreet/03-16-2019/gsoc-proposal-lel-2-0-and-work-on-leaflet-blurred-projects but it seems to be a duplicate

[2019-03-17 02:02] jywarren commented on #5103
Hi, all - i believe I've fixed a database issue documented in #5118, and if I'm right, this may be resolved. I've left some follow-up steps to address how this originally happened but if the immediate issue is fixed, please report back and close this issue. Thanks so much for carefully documenting it and looking into it.

[2019-03-17 04:34] vansjyo commented on #5103
@jywarren @gauravano It works now. Its just that it doesn't show any kind of message to notify. Thanks @jywarren for looking into it.

[2019-03-17 04:35] Harshithpabbati commented on #4920
@gauravano I am trying to configure the sysbot which have many features removing the features which we don't need. But as of now I can't work as I am in my home town. I willl start from tuesday.

[2019-03-17 04:36] #5103 closed

[2019-03-17 04:39] SidharthBansal commented on #3340
Yeah sure

On Sat, Mar 16, 2019, 3:27 PM Ananya Arun <notifications@github.com> wrote:

[2019-03-17 05:59] Julius26 commented on #4963
Hello I would like to contribute to FTO issues in ruby on rails,   I'll highly appreciate if someone adds my name to the list. Thank you

[2019-03-17 06:29] Manvi07 commented on #5111
I have created the pull request. Please go through it.

[2019-03-17 06:42] aggarwal19 commented on #5045
Okay ,I'm working on it .
Thanks

[2019-03-17 06:54] divyabaid16 opened #5122 "Add a space between words"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-17 07:01] divyabaid16 opened #5123 "[Discussion] Include social weblinks"
**Description**

Currently, there are no social weblinks in [https://publiclab.org/dashboard](https://publiclab.org/dashboard).

I think that there must be social weblinks like facebook, Instagram, Twitter, Youtube etc, on this page too to grow outreach.

Even after login, these should be the scope for these weblinks.

[2019-03-17 07:06] fabsar commented on #5059
I am unable to setup the environment for testing the code and the changes I made to it. I followed the instructions given for standard installation. I cannot get through with the 4th step. It says permission denied when I try to run the command gem install bundler. it gives the following error:ERROR:  While executing gem ... (Gem::FilePermissionError)
    You don't have write permissions for the /

[2019-03-17 07:16] CleverFool77 commented on #5122
@divyabaid16 The issue is already existing #5054

[2019-03-17 07:17] IshaGupta18 commented on #5090
@CleverFool77 I would like to help out here! Let me know if you are stuck anywhere, we can work it out together!

[2019-03-17 07:18] CleverFool77 commented on #5123
@divyabaid16 Social links to share dashboard ?
As much I know, The notes and wikis already have social web links to share :thinking: .

[2019-03-17 07:27] divyabaid16 commented on #5123
@CleverFool77
Actually, I was not talking about the links to share.
A link to view the social pages. :rocket:

[2019-03-17 07:33] divyabaid16 commented on #5122
@CleverFool77   Oh, I just missed it, thanks for the information :smile:

[2019-03-17 07:36] #5122 closed

[2019-03-17 07:50] IshaGupta18 commented on #4603
Hey @GettyOrawo ! How's the work going on in this one, just checking in to see if you need any help!

[2019-03-17 07:52] CleverFool77 commented on #5123
I'm unable to understand. :sweat_smile:
Can you elaborate a bit ?

[2019-03-17 07:57] fabsar commented on #5059
I have made a pull request. kindly review it @gauravano . Thanks!

[2019-03-17 08:03] CleverFool77 commented on #5115
@ananyaarun If the password is same, Are you able to form an account in local ? I tried but I'm unable to make an account :thinking:

[2019-03-17 08:07] cesswairimu opened #5125 "Remove Authlogic deprecation warning for email validation"
Main issue #4624
created specifically for @CubikMan47
### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### 📋 Step by Step

- [ ] 🙋 **Claim this issue**: Comment below. If someone else has claimed it, ask if they've opened a pull request already and if they're stuck -- maybe you can help them solve a prob

[2019-03-17 08:08] cesswairimu commented on #4963
@CubikMan47 just opened an issue for you #5125

[2019-03-17 08:17] ananyaarun commented on #5115
@CleverFool77 , Yes i can create multiple accounts in my local by entering the right details. You must have initially created an account you r working with right now right ? What problem are u facing ? Can u add a screenshot If possible ?

[2019-03-17 08:18] ananyaarun commented on #5115
Also there are some required conditions like username should be atleast 3 characters and password must be 8 minimum. Make sure you follow these as well :)

[2019-03-17 08:35] CubikMan47 commented on #5125
Alright, thanks!

[2019-03-17 08:35] cesswairimu opened #5126 "Remove asset not present deprecation warning"
Main issue #4624
created specifically for @Julius26
### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### 📋 Step by Step

- [ ] 🙋 **Claim this issue**: Comment below. If someone else has claimed it, ask if they've opened a pull request already and if they're stuck -- maybe you can help them solve a proble

[2019-03-17 08:35] CubikMan47 commented on #4963
Thank you!

[2019-03-17 08:36] cesswairimu commented on #4963
Hi @Julius26, here is an fto for you #5126

[2019-03-17 09:04] CleverFool77 commented on #5115
I did gave correct info but it still says,, you are spam and  not human :cry:

[2019-03-17 09:09] CleverFool77 commented on #5115
And I'm working with admin always.

[2019-03-17 09:37] karunagoyalk commented on #4972
Hey! cesswairimu I have mailed for Free invite for cloud9, But I did not get any response yet!

[2019-03-17 09:39] CleverFool77 commented on #5115
@ananyaarun I got my mistake :).

[2019-03-17 10:07] cesswairimu commented on #4972
Hey @karunagoyalk Not sure who approves this but let me find out. Did you have installations problems? Maybe you can edit it on github and I will help add the screenshot for you?

[2019-03-17 10:36] IshaGupta18 commented on #4690
I am so sorry I missed your comment @siddhishree . Please feel free to work on this issue. We would love your help here!

[2019-03-17 10:36] CleverFool77 commented on #5090
I'll ask you for sure @IshaGupta18 :)

[2019-03-17 10:48] Nirvikalpa108 opened #5128 "Remove instruction to install bower from pre-reqs"
Hi guys 😃

Should we remove bower from the list of pre-reqs and change this to yarn?
https://github.com/publiclab/plots2/blob/master/doc/PREREQUISITES.md

I noticed this has been mentioned [here](https://github.com/publiclab/plots2/issues/3840#issuecomment-436428141) by @jywarren, but the documentation change has not been implemented yet?

Let me know and I can raise a PR.

Thank you ❤️

[2019-03-17 10:49] SidharthBansal commented on #5022
Three optional suggestions to SoC students
If you were a GCI mentor please mention it in your proposal. We will give extra credit to these long term collaborators.
Second, it will be great to have a conference or seminar at your university about Public Lab and the programs which are held here. It is optional. No compulsion at all.
Thirdly, help each other in writing their proposals by giving sugge

[2019-03-17 10:49] SidharthBansal commented on #4892
Three more optional suggestions:
If you were a GCI mentor please mention it in your proposal. We will give extra credit to these long term collaborators.
Second, it will be great to have a conference or seminar at your university about Public Lab and the programs which are held here. It is optional. No compulsion at all.
Thirdly, help each other in writing their proposals by giving suggestions und

[2019-03-17 10:51] SidharthBansal commented on #5034
Three optional suggestions for all SoC applicants:
If you were a GCI mentor please mention it in your proposal. We will give extra credit to these long term collaborators.
Second, it will be great to have a conference or seminar at your university about Public Lab and the programs which are held here. It is optional. No compulsion at all.
Thirdly, help each other in writing their proposals by givi

[2019-03-17 10:52] SidharthBansal commented on #5034
Hi @gauravano can we have next checkin at MK or SWB or IS?
Let's do things in rotations. Different checkins in different repos. To will help us to bind the teams across different projects.

[2019-03-17 10:53] SidharthBansal commented on #5034
My exams got over yesterday so I am back to help you all. Please tag me in case anyone needs some help.
Thanks

[2019-03-17 10:55] Nirvikalpa108 commented on #3840
Hi guys, I am installing the repo for the first time locally. I've been through the pre-reqs, but I have a question about rvm. So, I already have rbenv installed locally. Can I have rvm too? I've googled this and it seems like this is not a good idea from what I've learnt online. Please can you confirm? What would you advise if I'm already using rbenv on other projects and therefore cannot remove

[2019-03-17 11:07] SidharthBansal commented on #4914
At the time when you created mk and linked it to plots2 have you checked the authentication system at local host somehow? Or was it done on the production branch directly?

[2019-03-17 11:08] SidharthBansal commented on #4914
SWB installed. Installing plots2 and MK. Hope MK errors will be solved soon.

[2019-03-17 11:29] CleverFool77 commented on #5090
Hi @IshaGupta18,
 I was working on the part of showing iframe. So should I write the code again along with ajax or should I show the graph generated in graph.html here.

[2019-03-17 11:44] ananyaarun opened #5130 "Correct Spam moderation message"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-17 11:47] Nirvikalpa108 commented on #3840
Hi guys, when I try to run a unit test in my console on Mac, I get the following error message about my Ruby version not being the same as the one specified in my Gemfile:

[code]

I googled this error and indeed the error message is true, because I checked the gemfile and indeed it specifies 2.4.4 and when I run `ruby -v` in the console, it returns 2.6.1

However, I'm confused about which stackov

[2019-03-17 11:53] ananyaarun opened #5131 "Fix broken link in contributing.md"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-17 11:54] cesswairimu commented on #3840
Hi @Nirvikalpa108 you need to install ruby-2.4.4, If you are using rvm use `rvm install ruby-2.4.4` after installation is done do `rvm use ruby-2.4.4` then run `bundle install` again.

[2019-03-17 11:54] ananyaarun commented on #5131
I noticed this link was broken a few hours ago when the FTO template was updated. This can be fixed by a first timer in CONTRIBUTING.md file. Thanks :)

[2019-03-17 12:07] gauravano commented on #5130
Semicolon seems fine here? No?

[2019-03-17 12:09] ananyaarun commented on #5130
I'm not sure but feel a comma or fullstop would suit better ?

[2019-03-17 12:35] gauravano commented on #5034
@SidharthBansal yes, we can try check-in in another project this time. Let's do it in Image-Sequencer? Anyone interested in opening the next check-in?

[2019-03-17 12:41] Harshithpabbati commented on #5034
@gauravano I will do  it if anyone is not interested.

[2019-03-17 12:47] HarshKhandeparkar commented on #5034
@publiclab/is-reviewers anyone interested in doing a check-in in image-sequencer?? @subhahu123 is a new contributor, would you like to do this?

[2019-03-17 12:50] gauravano commented on #5022
Hi everyone,
### Update:
We have one more project for this Outreachy round:

**Project 2. Extend Leaflet Environmental Layers with new layer menu and layer addition workflow**:
 https://www.outreachy.org/may-2019-august-2019-outreachy-internships/communities/public-lab/#extend-leaflet-environmental-layers-with-new-layer

GitHub issue: https://github.com/publiclab/leaflet-environmental-layers/issue

[2019-03-17 12:54] gauravano commented on #5128
Hi @Nirvikalpa108, sure, go ahead!

[2019-03-17 12:54] karunagoyalk commented on #4972
Hey! @cesswairimu I have done the editing on github! please help me in adding screnshot.

[2019-03-17 13:01] gauravano commented on #5115
Let's do form validation first and then we can resolve this one?

[2019-03-17 13:14] gauravano commented on #5059
Hey @fabsar, try with sudo?

[2019-03-17 13:18] gauravano commented on #5123
@divyabaid16 at /home links are present :point_down:
![Screenshot from 2019-03-17 18-48-03](https://user-images.githubusercontent.com/20878070/54491535-43941680-48e5-11e9-917c-81202ea8c5e0.png)

[2019-03-17 13:23] gauravano commented on #5102
This issue and https://github.com/publiclab/plots2/issues/5054 looks similar.

[2019-03-17 13:39] VinneyJ commented on #4963
Hey there, am looking for first-timer issue. Kindly help please.

[2019-03-17 13:46] gauravano commented on #4963
@VinneyJ you can work on https://github.com/publiclab/plots2/issues/5131

[2019-03-17 13:52] VinneyJ commented on #4963
Thank you @gauravano . I'd also appreciate a lot if am added to the list too. If possible :)

[2019-03-17 13:53] #5111 closed

[2019-03-17 13:57] ananyaarun commented on #5022
@gauravano , I had a question , so does this mean one of the Public Lab projects will be dropped for this round ? Since the outreachy website mentions only 1 intern while there are 2 projects for Public Labs Community listed. Or is this subject to change ?

[2019-03-17 13:59] ananyaarun commented on #5115
@gauravano , Sure.
Here are the PR's for login and signup form validation corrections.
- https://github.com/publiclab/plots2/pull/5087
- https://github.com/publiclab/plots2/pull/5116
You can take a look at it whenever you are free :) Thanks!

[2019-03-17 14:06] gauravano commented on #4920
take your time @Harshithpabbati and thanks for working on this one

[2019-03-17 14:06] divyabaid16 commented on #5123
I was thinking that we should include these links on this page since this is the most visited one.
Or we can even add the links in the footer section.
What are your views on this @gauravano @CleverFool77

[2019-03-17 14:13] CleverFool77 commented on #5123
Main site is most visited I guess, dashboard is for those who login. So even if we'll share the links.. First that person have to login to see it. If a person is logged in then we see research url I guess.

[2019-03-17 14:19] gauravano commented on #5114
Sure, go ahead @ananyaarun

[2019-03-17 14:32] VinneyJ commented on #5131
working on it.

[2019-03-17 15:03] skilfullycurled commented on #4927
@ananyaarun absolutely!  I was just trying it out because @jywarren made some suggestions but it's completely open.  I should have been more specific whether I was actually taking it on or not.  I'm terrible with CSS so I look forward to seeing the solution!

[2019-03-17 15:12] gauravano commented on #5109
Any chance it can be related to letter opener gem?

[2019-03-17 15:14] divyabaid16 opened #5132 "Add few more steps to installation instructions"
**Description**
Many of us while installing the project faced a common problem of
```Your Ruby version is 2.x.x, but your Gemfile specified 2.4.4```
Can we add instructions to install the ruby version 2.4.4 using `rvm` or `rbenv` etc before `bundle install` ?

For example:
`rvm install ruby-2.4.4`
`rvm use ruby-2.4.4`

[2019-03-17 15:16] divyabaid16 commented on #5132
@publiclab/reviewers can this be an issue to be worked upon?

[2019-03-17 15:22] gauravano commented on #5109
Also, you were running the server from vscode terminal?

[2019-03-17 15:26] CleverFool77 commented on #5109
No @gauravano I run server in system's terminal and use vscode for editor only.

[2019-03-17 15:27] CleverFool77 commented on #5109
I came across another problem, when I was trying to upload picture in my profile locally. The uploading process was taking more than minutes of time and after that it showed failed.

[2019-03-17 15:45] #5092 closed

[2019-03-17 15:46] #5051 closed

[2019-03-17 16:51] divyabaid16 commented on #5123
You're right @CleverFool77 :smile:
Actually, this issue came in my mind thinking that most of the pages have small social icons even on the footer which was not present here.

[2019-03-17 18:26] CubikMan47 opened #5133 "Rails tests failing"
Hi. I was trying to setup plots2 on my local machine, in order to complete my first-timer issue (#5125), but ran into a problem. I successfully installed all the [prerequisites](https://github.com/publiclab/plots2/blob/master/doc/PREREQUISITES.md), and followed all the [installation steps](https://github.com/CubikMan47/plots2#standard-installation) until step 11, when the `rails test -d` command f

[2019-03-17 18:31] cesswairimu commented on #4972
cool, on it

[2019-03-17 18:41] cesswairimu commented on #4972
Hey @karunagoyalk  could you create a new branch.
go here
![Screenshot from 2019-03-17 21-38-51](https://user-images.githubusercontent.com/17081074/54496164-50246900-48fd-11e9-9432-d8e3e609972a.png)

and type `fix-download-buttons` when the create blue highlight comes click on it..so we can make a pull request from that branch. Thanks

[2019-03-17 19:00] cesswairimu commented on #5133
Hey @CubikMan47 I believe you are using sqlite3. We are experiencing these errors due to multiple databases we are using mysql for production and somehow some tests fail while using sqlite3. You could ignore this for now you can checkout more discussion on this here https://github.com/publiclab/plots2/issues/4896. Thanks.

[2019-03-17 19:31] CubikMan47 commented on #5133
Alright, thanks

[2019-03-17 19:31] #5133 closed

[2019-03-17 20:13] fileames commented on #5130
I'm interested in working on this issue

[2019-03-17 20:38] divyabaid16 opened #5137 "Use co-authored instead of coauthored"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-17 20:51] alonpeer commented on #3419
Ok, I'm starting to work on this.

[2019-03-17 21:06] divyabaid16 commented on #3371
Can I work on this issue?
I found out a solution!

[2019-03-17 22:46] corbettbw commented on #5016
Yes! I will give it a try, sorry for the delay!

[2019-03-17 23:28] alonpeer opened #5140 "Missing questions in dev seeds break tags notes page"
The seeds for local development do not contain any nodes which are attached to a "question" tag (`Node.questions == []`).
This has a side-effect of breaking a page such as http://localhost:3000/tag/five, which one would expect to return the "Blog Post" node, but instead nothing is returned.
The reason is that in `tag_controller` [the list of questions is fetched](https://github.com/publiclab/plots

[2019-03-18 00:07] alonpeer commented on #3531
I believe this is happening because the actual number of views is the sum of `node.views` and `node.legacy_views`, while the `ORDER BY` part of the queries only takes `node.views` into account. I cannot verify my guess, since I don't have access to the production DB, and I'm only partially familiar with the system.

I see two possible fixes:

1. Replace `.order('views DESC')` with `.order('(views

[2019-03-18 00:28] SidharthBansal commented on #3371
Sure

On Mon, Mar 18, 2019, 2:36 AM Divya Baid <notifications@github.com> wrote:

[2019-03-18 01:46] An0u commented on #5126
Has anyone opened a pull request on this and is working on it already?

[2019-03-18 01:57] An0u commented on #5137
I'd like to work on this

[2019-03-18 02:11] An0u commented on #4176
Is this issue still open?

[2019-03-18 02:29] kuja24 commented on #5065
hey @gauravano @jywarren
I'm working on the issue. I will update you about the status tonight.

[2019-03-18 04:23] CleverFool77 commented on #4963
@gauravano There is no response in two issues assigned five days ago. So Is it possible to assign a new person for this. I already asked for update two days ago.
#5054
#5004
#5005

[2019-03-18 04:41] kuja24 commented on #5065
I installed windows subsystem for linux . I had added the feature and i am able to see bash in the search option but i'm not able to open it.
![image](https://user-images.githubusercontent.com/36929301/54507172-23f10280-4966-11e9-9205-30a79fdcec98.png)

[2019-03-18 06:00] Jaya738 commented on #4963
@gauravano of course I am ok with any repo ..i just need to work on a First timer issue

[2019-03-18 06:02] HarshKhandeparkar commented on #4963
@Jaya738 would you like your name to be added in https://github.com/publiclab/image-sequencer/issues/842? This is a js repo

[2019-03-18 06:03] Jaya738 commented on #4963
@HarshKhandeparkar yes. Thank you , I will work on it

[2019-03-18 06:06] HarshKhandeparkar commented on #4963
Great!!

[2019-03-18 07:49] cesswairimu commented on #5126
Hey @An0u this one @Julius26 is working on it.If you are looking for an fto leave a comment here #4963 and we will get an issue for you soon

[2019-03-18 08:33] fabsar commented on #5059
Hey! I could run gem install bundler but bundle update isn't working now

[2019-03-18 08:59] CleverFool77 commented on #5105
@gauravano Can I work on rest parts ?

[2019-03-18 11:18] letnewKid commented on #5046
Thanks, Gauravona.

[2019-03-18 11:25] swiatek7 commented on #4871
Hi @gauravano
I managed to find the solution for this issue and I opened PR :)

[2019-03-18 11:25] Jaya738 commented on #5130
I would like to work on this issue

[2019-03-18 11:51] ananyaarun commented on #5130
@gauravano , Can this issue be worked on ?
@fileames , @Jaya738 , Thanks for your interest !! Pls comment over [Here](https://github.com/publiclab/plots2/issues/4963) we will assign you an issue as soon as possible. :smiley:

[2019-03-18 12:00] ananyaarun opened #5150 "Center align the question form"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-18 12:06] ananyaarun commented on #5150
@publiclab/plots2-reviewers , Maybe this can make a good FTO for a newcomer.

[2019-03-18 13:34] karunagoyalk commented on #4972
Hey @cesswairimu I have created the branch,as per you suggested me to do!

[2019-03-18 13:39] gauravano commented on #5130
Hi @fileames, you can start working on this one. Thanks!

@Jaya738 I will create a new one for you.

[2019-03-18 13:52] gauravano commented on #5105
Go ahead @CleverFool77!

[2019-03-18 13:53] gauravano commented on #5059
what output you're getting on running `bundle update`?

[2019-03-18 13:55] #5016 closed

[2019-03-18 13:56] fileames commented on #5130
Thanks. Should i add anything like a comma after removing the semicolon?

[2019-03-18 14:00] gauravano commented on #5034
Hey @Harshithpabbati, you need to open check-in in Image-sequencer. Thanks!

[2019-03-18 14:01] Harshithpabbati commented on #5034
Yeah I will do it in few minutes.

[2019-03-18 14:05] gauravano commented on #5150
Could you check @ananyaarun  if this change will affect other views like /post, /post?template=event , etc or not. As while creating research note we show instructions on the left side so this change may look good on the questions page but not /post?

[2019-03-18 14:13] cesswairimu commented on #4972
Awesome seen it...one last thing I want you to make the pull request. just go here https://github.com/karunagoyalk/plots2/tree/Fix-download-buttons then click the `Compare` button on the right side. Then just click the `create pull request` green button then we are set

[2019-03-18 14:15] gauravano commented on #4963
@Jaya738 see here - https://github.com/publiclab/plots2/issues/5004

[2019-03-18 14:16] #5054 closed

[2019-03-18 14:16] gauravano commented on #5054
closed as it is similar to https://github.com/publiclab/plots2/issues/5102

[2019-03-18 14:17] gauravano commented on #5054
and contributor has already give a :+1: there. Thanks @CleverFool77 for creating the issue :100:

[2019-03-18 14:19] gauravano commented on #4963
hey @CleverFool77, thanks for going through the issues. I have updated the status https://github.com/publiclab/plots2/issues/4963#issuecomment-473765415

[2019-03-18 14:22] ebarry commented on #5034
This idea to rotate through the various repos is a wonderful idea!

What would be a good process to follow for repos that aren't scaffolded yet, like https://github.com/publiclab/SmART-Form  , in order to include them in the rotation? A particular sticking point is that Smart Form no longer has a leading code contributor present in the Public Lab community because the grant expired and the academi

[2019-03-18 14:25] karunagoyalk commented on #4972
Hey @cesswairimu what is this?
![Screenshot](https://user-images.githubusercontent.com/16883717/54536976-b7065880-49b7-11e9-80d7-248ddb806fee.png)

[2019-03-18 14:27] ebarry commented on #4614
Hi all, we'll be closing this survey this week, so please add your feedback in the next day or so to help us improve together!

[2019-03-18 14:32] Harshithpabbati commented on #5034
Ok now where do i open the check in???

[2019-03-18 14:40] gauravano commented on #5065
Ah, I haven't run bash on windows,but may find some help here - https://github.com/publiclab/plots2/issues/3840 also. And, if needed you can ask for cloud9 invite from us. Thanks!

[2019-03-18 14:41] karunagoyalk commented on #4972
@cesswairimu Hey! I am new to open source, please help me , what to do here as I have not added any Screenshot
![Screenshot from 2019-03-18 20-09-45](https://user-images.githubusercontent.com/16883717/54538275-fcc42080-49b9-11e9-8414-5073f0d570e7.png)

[2019-03-18 14:44] GettyOrawo commented on #4603
Hey @IshaGupta18 I just put up a starting PR. I was able to group the stats in a simple table. I just hard-coded values into the empty @tags hash on the stats_controller, subscription action just so I'd be able to test cause in development, there are no subscriptions.
Next I need to write tests for the same just to make sure it'll work for all of them.

![subscription-stats](https://user-images.gi

[2019-03-18 14:47] gauravano commented on #5137
hey @An0u, change need to be done at  https://github.com/publiclab/plots2/blob/6507b559b61f3228dbbd795ecbd972b6da2eabba/app/views/users/profile.html.erb#L48

[2019-03-18 14:47] sentry-io[bot] opened #5153 "ActionView::Template::Error: undefined method `name' for nil:NilClass"
Sentry Issue: [PLOTS2-2T](https://sentry.io/organizations/publiclab/issues/941576917/?project=1410626&referrer=github_integration)

[code]

[2019-03-18 14:48] gauravano commented on #4176
yes @An0u

[2019-03-18 14:53] jywarren commented on #5140
This is a great catch and much appreciated! Would you be interested in
submitting a pull request with the change? Thank you!

On Sun, Mar 17, 2019, 7:28 PM welcome[bot] <notifications@github.com> wrote:

[2019-03-18 14:58] ananyaarun commented on #5150
Sure @gauravano , I'll test it and get bk to u.

[2019-03-18 14:59] jywarren commented on #5132
Sure, this'd be helpful I think! Want to open a pull request? Thanks!

On Sun, Mar 17, 2019, 11:16 AM Divya Baid <notifications@github.com> wrote:

[2019-03-18 14:59] ananyaarun commented on #5130
@fileames , U can add a fullstop or comma whichever you feel suits better. Thanks !

[2019-03-18 15:10] divyabaid16 commented on #5132
Ya, I will open up the pull request.

[2019-03-18 15:13] CleverFool77 commented on #4614
Filled it <3

[2019-03-18 15:14] alonpeer commented on #5140
@jywarren already did! 😄 See: https://github.com/publiclab/plots2/pull/5141
I just need to fix some rubocop stuff there 🤖

[2019-03-18 15:20] SidharthBansal commented on #5132
Great

On Mon, Mar 18, 2019 at 8:40 PM Divya Baid <notifications@github.com> wrote:

[2019-03-18 15:22] cesswairimu commented on #4972
I will add it for you just now...awesome creating a pull request :tada:

[2019-03-18 15:43] cesswairimu commented on #4972
Hey @karunagoyalk added the screenshot and left a comment. You can edit this by going here https://github.com/publiclab/plots2/pull/5152/files an then hit the edit ![kaykay](https://user-images.githubusercontent.com/17081074/54542659-4a865c00-49ad-11e9-846b-284121e32a06.png)
and change line 33 to `<div class="col-md-4 col-md-offset-1">` after that just commit then we are ready. Thanks

[2019-03-18 15:46] SidharthBansal commented on #5034
Great Idea Liz. We will include it to in the rotations.

On Mon, Mar 18, 2019 at 8:02 PM Harshith pabbati <notifications@github.com>
wrote:

[2019-03-18 15:46] SidharthBansal commented on #5034
Thanks Liz

On Mon, Mar 18, 2019 at 9:16 PM Sidharth Bansal <
bansal.sidharth2996@gmail.com> wrote:

[2019-03-18 15:52] karunagoyalk commented on #4972
@cesswairimu Hey! thanks alot for helping me in creating my first PR.I have done the final editing, Can you please have a look,Let me know!

[2019-03-18 16:06] karunagoyalk commented on #4972
@cesswairimu Hey! Can you assign me some other issue to work on?

[2019-03-18 16:07] jywarren commented on #3531
Hi, i also think 3 is the most ideal, but i think i remember we hesitated
because the views column is re-calculated and it could be overwritten. But
if we can be extra sure this won't happen, then I'm fine with the idea of
merging it in. Thank you so much!

On Sun, Mar 17, 2019 at 8:08 PM alonpeer <notifications@github.com> wrote:

[2019-03-18 16:11] ananyaarun commented on #4916
@thefifthisa R u still working on this ? Else I'd love to take this up. Thanks :)

[2019-03-18 16:13] divyabaid16 opened #5156 "Issue in search results of two or more words"
We search with the input as two or more words, the first result seems to be fine but when I click the same or another button again such `All content` or `Notes` etc, the search bar and the results seems to include a plus sign `+` between the input words.

**Current behaviour:**
![plissue2](https://user-images.githubusercontent.com/32747809/54544847-6d713a00-49c6-11e9-97d1-c13ece8ee09d.gif)

**Expe

[2019-03-18 16:16] jywarren commented on #5156
Yeah i noticed this - would love help fixing it! Perhaps we should look at
the searches_controller.rb file?

On Mon, Mar 18, 2019 at 12:14 PM Divya Baid <notifications@github.com>
wrote:

[2019-03-18 16:18] alonpeer commented on #3531
@jywarren great!
What would be the best way of verifying that `views` does not get recalculated?
And what would be the best way for me to pair with someone on this?

[2019-03-18 16:23] jywarren commented on #3531
Hi! As to verifying, i think probably I would look carefully through the
code for anywhere that writes to the views column. I don't know another way
to do it, but there should only be a few spots where this is done, maybe
even just one.

As to pairing, I'd suggest asking in our chatroom at
https://publiclab.org/chat (you can use Gitter as a default, it's quite
easy) and perhaps someone there would

[2019-03-18 16:33] cesswairimu commented on #4972
Hey @karunagoyalk you can through these issues https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22 and see if there is an issue you can work on. Feel free to ping  me if you get stuck. Also I would suggest you install the code locally or have it set on C9 for easier testing.

[2019-03-18 16:40] jywarren commented on #5090
Yes, i think multiple people can work in parallel and/or collaborate!

For the iframe, we already show the graph as we wanted at /stats/graph, so
I think we can just include it using an iframe instead of ajax. Does that
make sense?

On Sun, Mar 17, 2019 at 7:30 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-03-18 16:43] jywarren commented on #5118
Oddly we are still seeing this issue in Sentry as you can see in the last comment here, although I don't know if others are experiencing the issue? New posts have gone up since then...

[2019-03-18 17:02] jywarren commented on #4962
Yes, it is -
https://gist.github.com/jywarren/ed5ce5c2256ac35487715223c1a46452

Hmm, what log should we look in?

On Sat, Mar 16, 2019 at 3:07 PM Naman Gupta <notifications@github.com>
wrote:

[2019-03-18 17:37] #5034 closed

[2019-03-18 17:38] #5112 closed

[2019-03-18 17:39] Harshithpabbati commented on #5034
A new check in is posted please go through that
https://github.com/publiclab/image-sequencer/issues/883
This time it is in image-sequencer and next time lets change the repo.
Thanks

[2019-03-18 17:43] CleverFool77 commented on #5090
@jywarren Something like this -
![Screenshot from 2019-03-18 23-09-50](https://user-images.githubusercontent.com/26685258/54551078-4d944300-49d3-11e9-8295-5441db654eb2.png)

I haven't given margin yet.

[2019-03-18 17:44] gauravano commented on #5123
We can think of adding social links to the footer

![footer](https://user-images.githubusercontent.com/20878070/54551091-54bb5100-49d3-11e9-85ac-79304bde37a0.png)

I guess they would look good on the extreme bottom-right maybe? We can try different positions?

Let's ask @publiclab/community-reps what they think about it. Thanks!

[2019-03-18 17:48] gautamig54 opened #5158 "Different Read more buttons for the Public Lab blog and the articles"
It will be a convenient UI change. Using different colour buttons or style will be helpful.

![Screen Shot 2019-03-18 at 11 16 32 PM](https://user-images.githubusercontent.com/35326753/54551378-ffcc0a80-49d3-11e9-8dba-9a8f7899b6b1.png)

[2019-03-18 17:50] CleverFool77 commented on #5158
Is it similar to #4990 ? :thinking:

[2019-03-18 17:52] gautamig54 commented on #5158
@CleverFool77 yes! Thank you for mentioning.

[2019-03-18 18:08] gauravano commented on #5022
We would be taking 2 interns 1 for each project. @ananyaarun

[2019-03-18 18:21] #5125 closed

[2019-03-18 18:31] gauravano commented on #5158
Closing it as it's a duplicate of #4990. Thanks!

[2019-03-18 18:31] #5158 closed

[2019-03-18 18:32] HarshKhandeparkar commented on #4963
The link to fto template was broken so i fixed it.

[2019-03-18 18:34] #5130 closed

[2019-03-18 18:35] gautamig54 opened #5161 "Suggested password fixed on the screen on scrolling"
![Webp net-gifmaker](https://user-images.githubusercontent.com/35326753/54554438-71a75280-49da-11e9-8855-c47e2383b112.gif)

[2019-03-18 18:35] gautamig54 commented on #5161
@gauravano Can this be a valid issue?

[2019-03-18 19:01] EngrEric commented on #4937
@gauravano  i have used cloud9 to setup still same problem.
i think am doing something wrong, i need help please. this is really delaying me.

[2019-03-18 19:05] gautamig54 commented on #5090
Can I be of any help here? It would be great if I can contribute! Thanks

[2019-03-18 19:12] CleverFool77 commented on #5090
@jywarren @gauravano Can we have first PR merged first because I guess all other changes will be dependent on first. [PR link](https://github.com/publiclab/plots2/pull/5100)
@gautamig54 You can start with any of the part of this issue. But now the further parts will be dependent on each other I guess. :thinking:

[2019-03-18 19:18] CleverFool77 commented on #5090
@gautamig54 Right now, I'm working on stats graph PR to be shown in second column. If you are interested you can go for third part :wink:

[2019-03-18 19:21] gautamig54 commented on #5090
@CleverFool77 Okay! I'll start with the 3rd one! Thanks!

[2019-03-18 19:44] gauravano commented on #5161
Can you give a more detail @gautamig54? Like, how and where you are thinking of placing it? Thanks!

[2019-03-18 20:02] #5056 closed

[2019-03-18 20:10] gautamig54 commented on #5161
It shouldn't be fixed on the screen. It should not be visible once the screen is scrolled down or upwards!

[2019-03-18 20:12] divyabaid16 commented on #5090
Should I complete the last task? Can I start with that part?
Thanks!

[2019-03-18 20:25] jywarren commented on #4920
The new expandable section is nice - i also tweaked the formatting a bit:

![image](https://user-images.githubusercontent.com/24359/54561099-36852f00-499a-11e9-809b-929da0ee619a.png)

https://github.com/publiclab/plots2/pull/5077#issuecomment-474078660

I think we can expand similar helpful sections in other parts of welcomebot. What about a section linking to a page showing how to go through Trav

[2019-03-18 20:35] #3419 closed

[2019-03-18 20:36] divyabaid16 opened #5162 "Change cursor to pointer in choose an image"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-18 20:36] jywarren commented on #4920
ha ha! Nice:

![image](https://user-images.githubusercontent.com/24359/54561828-f45ced00-499b-11e9-9ece-839d7635ef48.png)

[2019-03-18 21:10] #3480 closed

[2019-03-18 21:10] divyabaid16 opened #5163 "Cursor at username must also be disabled"
**Description**
Even though the username can't be edited in https://publiclab.org/profile/edit
Still, we are able to click on the field username.
The cursor must be changed to `not-allowed` here.

Screenshot:
![Selection_078](https://user-images.githubusercontent.com/32747809/54563728-f5b80500-49ef-11e9-972a-d5f258edfdc5.png)

[2019-03-18 21:13] jywarren commented on #2509
Again apologies, some of this has now been fixed and I'm going to merge into #2206 for the remaining. Many thanks! 👍

[2019-03-18 21:13] #2509 closed

[2019-03-18 21:14] jywarren commented on #2206
OK we've made progress on this but are now seeing a `vid` related bug in Sentry, linking the issue now...

[2019-03-18 21:15] jywarren commented on #5101
Hmm, could it be related to this Sentry bug i've highlighted in https://github.com/publiclab/plots2/issues/2206#issuecomment-474103918? Can we move any 'inline rich wiki editing' portion of this there, and have this issue be for legacy wiki editing with the normal "edit" button? Thank you for reporting!!!

[2019-03-18 21:16] jywarren commented on #2206
OK 2 thoughts - this could be related to the previous `vid` issue in https://github.com/publiclab/plots2/issues/5118 - we should look at whether the `replace` function is creating bad `vid`s?

[2019-03-18 21:17] jywarren commented on #2206
Oh hmm, it's not the `vid` but some other duplicate key:

[code]

[2019-03-18 21:19] jywarren commented on #5101
Ah wait, this is unrelated, sorry! @sagarpreet-chadha is editing a note, not a wiki! I think i've seen this somewhere else though as well. Maybe the person did not open an issue? Changing the title here in any case and will try to find it in Sentry for logs....

[2019-03-18 21:24] sentry-io[bot] opened #5164 "Error on new user potentially trying to use emoji in their profile bio?"
Sentry Issue: [PLOTS2-8](https://sentry.io/organizations/publiclab/issues/924202857/?project=1410626&referrer=github_integration)

[code]

[2019-03-18 21:26] jywarren commented on #5101
Aha - is it possible you were pasting emoji in? Linking the Sentry issue now, but potentially we could resolve with either showing a more useful error, OR solving https://github.com/publiclab/plots2/pull/3007

[2019-03-18 21:31] jywarren commented on #5034
Thank you @Harshithpabbati ! I've also left a note at the top of here so we can still pin this issue to the `plots2` issues list and people can still find their way to your new check-in. 👍 🎉

[2019-03-18 21:39] jywarren commented on #5022
Oh, actually where does it say only one intern? I believe we have reserved one spot and may potentially get assigned a second but are not yet sure of it. Thank you!

[2019-03-18 21:48] #4972 closed

[2019-03-18 22:05] jywarren commented on #5090
Oops didn't mean to close the whole thing! Re-opening now - and thank you for collaborating!

[2019-03-18 22:07] jywarren commented on #5090
Oh, oops, ok - so, i see, there's a sequence. It looks like @CleverFool77 has already started #5100 and could we finish up the iframe stuff there before merging it (typically 2 PRs would be great, but these are so tied to one another -- it didn't make sense to me to merge the first one and then publish a page which is halfway empty, you know?) so then we can get the basic page merged at once, then

[2019-03-18 22:10] jywarren commented on #5090
If we want to add a new item which is 'zooming the tags graph' i think it's possible perhaps using this documentation: http://js.cytoscape.org/

and this code? -- https://github.com/publiclab/plots2/blob/master/app/views/tag/graph.html.erb

[2019-03-18 22:10] #5037 closed

[2019-03-18 22:33] jywarren commented on #5123
In the footer sounds good!

On Mon, Mar 18, 2019 at 1:45 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-18 22:34] EngrEric commented on #4937
@gauravano  thanks for bearing my disturbances i got it working now.
thank you

[2019-03-18 22:59] jywarren commented on #3262
yes, i did! did you see?

On Fri, Mar 15, 2019 at 4:07 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-18 23:08] #5126 closed

[2019-03-19 00:52] EngrEric commented on #4980
@gauravano i have fixed this issue.
this is my solution.
please take a look at it

[2019-03-19 02:14] CleverFool77 commented on #5090
@jywarren I'll add the iframe in same pr with another commit.
Reagrding zooming feature, it was needed because my local graph doesn't have much data.
Thanks

[2019-03-19 03:42] divyabaid16 commented on #5090
Yes, you're absolutely right @CleverFool77.
So what I will do is convert the table into the  card ui (as I have already made the changes) and send a PR for that. And then we can collaborately work with further additions in the UI. Sounds good?
Thanks!

[2019-03-19 03:49] CleverFool77 commented on #5090
That's great @divyabaid16 :wink:

[2019-03-19 03:57] IshaGupta18 commented on #5090
Okay so I am very sorry I couldn't reply to you @CleverFool77 . I will be more helpful from there on. Amazing work is being done here! Let me know if I can help. Thanks everyone!

[2019-03-19 03:57] jywarren commented on #5090
Awesome everyone, thanks!

On Mon, Mar 18, 2019, 11:50 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-03-19 03:59] CleverFool77 commented on #5090
We would surely need your help in future @IshaGupta18 :wink:

[2019-03-19 04:31] IshaGupta18 commented on #4966
How's the work going in on this one @GettyOrawo ? Checking in to see if you need any help!

[2019-03-19 05:03] CleverFool77 commented on #5105
@jywarren @gauravano How about building profile page first ?, because then we can ensure the placements of these new features too.

[2019-03-19 05:16] Priyak5 commented on #4980
Hello! I would like to work on this if not solved or any other first timer issue. I have experience in HTML and CSS through school projects and will try my best.
@gauravano  is there any issue I can work on?
Any help is appreciated!
Thank you!

[2019-03-19 05:34] CleverFool77 commented on #5090
@divyabaid16 Do ping me after you are done with basic structure of cards :wink: . We'll collaborate and work it out together :smile:

[2019-03-19 05:55] divyabaid16 commented on #5090
Ya sure @CleverFool77
I would love to work it with you :smile:

[2019-03-19 05:59] CleverFool77 commented on #4730
Is this issue available :thinking: ? @gauravano @jywarren

[2019-03-19 06:26] ananyaarun opened #5170 "Ordering of notes by no of likes not working"
# Description
The notes when displayed in sorted order by no of likes, ie in /notes/liked, the notes appear in random order neither asc nor desc wrt likes.

![likes](https://user-images.githubusercontent.com/32260628/54584566-badcbe00-4a3d-11e9-9d51-074d79c6e785.png)

This is a problem i see in my local installation as well.

# Expected
The notes must be sorted based on desc order of no of likes.

[2019-03-19 06:28] ananyaarun commented on #5170
@gauravano , This is an issue i found while looking at #5076 . I'd like to fix this too after #5088 is tested and fixed.

[2019-03-19 06:28] CleverFool77 commented on #5170
Will you be working on this if approved ?

[2019-03-19 06:30] ananyaarun commented on #5170
@CleverFool77 ,yes :)

[2019-03-19 06:37] CleverFool77 opened #5171 "Provide margin in tooltip"
## Description
Fix the tooltip UI.

![Screenshot from 2019-03-19 11-59-51](https://user-images.githubusercontent.com/26685258/54585099-2ecb9600-4a3f-11e9-8c98-e2efde5e6c05.png)

[2019-03-19 06:37] CleverFool77 commented on #5171
I'm interested in working in this :)

[2019-03-19 08:22] cesswairimu commented on #4603
Sorry @GettyOrawo I didn't give you enough direction given this is your first issue. Posting a few pointers here. Just saw your pull request..so `@tags` in the stats controller comes as hash so no need to do this .`@tags = @tags.group_by{|k,v| v}.map{|k,v| {k => v.map{|x| x.join("-")}}}` What we could do here is just remove this line https://github.com/publiclab/plots2/blob/master/app/controllers/

[2019-03-19 08:31] cesswairimu commented on #4603
As for testing we have seeded data for some tags e.g everything, blog, test...you could have a user subscribe to some of these tag and you should see some data on `/stats/subscriptions`. Usernames are admin, moderator and user. all passwords are `password`.
If that is not enough for testing you can push your branch to unstable by running this command `git push -f https://github.com/publiclab/plots

[2019-03-19 08:53] IshaGupta18 commented on #5171
Hey @CleverFool77 actually that's not the problem here. There's a problem in the popover only and I am trying to fix it, it's not exactly a border-margin issue. This button was made for multiple tag subscription.

[2019-03-19 08:54] CleverFool77 commented on #5171
Thanks for mentioning this out @IshaGupta18 :)

[2019-03-19 08:55] CleverFool77 commented on #5113
@sashadev-sky @jywarren Is this issue available. ?

[2019-03-19 08:58] IshaGupta18 opened #5173 "Align "Dashboard" text with the welcome text on dashboard"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-19 09:02] GettyOrawo commented on #4603
Oh yes, makes perfect sense.
So the code on the controller is for grouping the stats into the common numbers, for instance stats with 1 will be ["amanda-1", "grace-1"] stats with 43 will be ["cess-43", "isha-43"] so that all stats with common subscription numbers are together.

[2019-03-19 09:07] CleverFool77 commented on #5171
Sure :+1: @IshaGupta18

[2019-03-19 09:20] CleverFool77 opened #5174 "Implement shortcut key to change focus over searchbar"
## Description
Currently, The users need to take the cursor to search bar and then type and enter it. Instead user can directly use shortcut key to change focus over to the search bar. And then type.
Thus, removing the requirement of mouse for while searching.

[2019-03-19 09:22] CleverFool77 commented on #5174
@publiclab/reviewers Is this issue correct ?

[2019-03-19 09:22] CleverFool77 commented on #5174
If approved, then I would like to work on this.
thanks :).

[2019-03-19 09:31] GettyOrawo commented on #4603
Oh yes, makes perfect sense.
This code will display names with their subscription numbers.
[code]
like:
 <table>
        <tr>
            <th> Tag </th>
            <th> Number of Subscribers </th>
        </tr>
            <tr>
                <td> ircam</td>
                <td> 23</td>
            </tr>
            <tr>
                <td> quabec</td>
                <td> 144</td>

[2019-03-19 09:33] cesswairimu commented on #4603
Aha awesome! I see your display looks so much better :balloon: . We can refactor later. Thanks

[2019-03-19 09:41] CleverFool77 commented on #5174
How about ctrl+shift+s @HarshKhandeparkar . It's not used anywhere.

[2019-03-19 09:43] CleverFool77 commented on #5174
alt are reserved by different OS'es in different way and shift isn't used much.
So this could be most preferred one.

[2019-03-19 09:47] IshaGupta18 commented on #4603
Amazing work done here @GettyOrawo ! Feel free to ask for help! @cesswairimu once this is done, we'll start making groups like class intervals.

[2019-03-19 09:48] HarshKhandeparkar commented on #5174
Is typing alt+shift+f easy? Can it be done with 3 fingers of the same hand?

[2019-03-19 09:55] CleverFool77 commented on #5174
@HarshKhandeparkar Using `alt` for shortcut keys isn't preferred as different OS reserve `alt` shortcut keys in their own way hence it might be possible some users wont be able to use the `search` shortcut key. Using `ctrl+shift+f` looks good to me and it is well withing comfort of pressing with same hand.
We might have considered using `ctrl+shift+s` but it is the shortcut key to open debugger me

[2019-03-19 09:58] HarshKhandeparkar commented on #5174
I guess opera uses it for in-built search.
You can check here https://defkey.com/what-means/ctrl-shift-f

[2019-03-19 09:59] CleverFool77 commented on #5174
@HarshKhandeparkar How about overriding the keys ?

[2019-03-19 10:01] HarshKhandeparkar commented on #5174
I don't think that is possible.

[2019-03-19 10:02] HarshKhandeparkar commented on #5174
Also how will you implement this? Using JavaScript?

[2019-03-19 10:08] GettyOrawo commented on #4603
Alright thank you too.

[2019-03-19 10:11] CleverFool77 commented on #5174
@HarshKhandeparkar yes, overriding shortcut keys via javascript is completely possible.

[2019-03-19 10:17] HarshKhandeparkar commented on #5174
Then it's ok i think. Just ask @publiclab/plots2-reviewers first though.

[2019-03-19 10:18] CleverFool77 commented on #5174
@HarshKhandeparkar The applications like facebook,twitter,gmail, slack, zulip etc. override the in browser keys like `ctrl+s` with their in application shortcut keys to provide a better user experience.
And considering publiclab has notes ,blog ,subscribe and many more features. This would be very helpful in future course.

[2019-03-19 11:17] CleverFool77 opened #5175 "Shift the formatting toolbar while creating a note at the top of the editor."
## Description
The toolbar is at the bottom of the editor which makes it difficult for a user to do the required formatting. In case of a huge article it will lead to a lot of scrolling which is not a good user experience as for every formatting option, the user needs to scroll down.
It's much better to implement the formatting toolbar at the top and make it sticky so that if the user scrolls down

[2019-03-19 11:18] CleverFool77 commented on #5175
@publiclab/plots2-reviewers Is this issue correct.
If approved, then I would like to work on this. :)
Thanks !!

[2019-03-19 11:22] siddhishree commented on #5173
Hello @IshaGupta18 , can i work on this issue?

[2019-03-19 11:44] IshaGupta18 commented on #5173
Sure @siddhishree go right ahead! Let me know if you need any help!

[2019-03-19 11:56] sashadev-sky commented on #5113
@CleverFool77 hey it is! All yours! You have enough information to get started but I’ll post some more things that might help you shortly

[2019-03-19 12:04] sashadev-sky commented on #5102
@gauravano good find! Ok @meghana-07 never responded here so its all yours @megha!

[2019-03-19 12:13] shubhi2000 commented on #4963
I am looking for a FTO. Please add my name to the list.

[2019-03-19 12:43] gauravano commented on #4963
Done @shubhi2000!

[2019-03-19 12:49] gauravano commented on #5175
@jywarren @rexagod isn't this implemented a while back? Have we reverted it?

[2019-03-19 12:56] msarfrazanwar commented on #5162
Hey, I would like to work on this.

[2019-03-19 12:57] gauravano commented on #5174
I think it's a good idea. @publiclab/community-reps what do you think?

[2019-03-19 13:04] karunagoyalk commented on #4922
@gauravano Hey! can you assign me any issue for this project!

[2019-03-19 13:11] divyabaid16 commented on #5162
Yes, you may go ahead.
If any help is needed do not hesitate to ask.

[2019-03-19 13:22] gauravano commented on #4730
hey @CleverFool77, there is a PR open to fix this. I asked the contributor - https://github.com/publiclab/plots2/pull/4795#issuecomment-474364475 , if they don't confirm/complete the PR in 7 days, then you can take it. Thanks!

[2019-03-19 13:30] #5163 closed

[2019-03-19 13:34] gauravano commented on #4980
Hi @Priyak5, I have added your name to https://github.com/publiclab/plots2/issues/4963#issue-418960660 and will ping you soon with a new/appropriate issue. Thanks!

[2019-03-19 14:55] CleverFool77 commented on #4730
Thanks @gauravano for the info. :)

[2019-03-19 14:56] ananyaarun commented on #5022
@jywarren , the outreachy website shows 1 intern 2 projects. Hence i was wondering if one will have to be dropped. But i think this is subject to change as you suggested.

[2019-03-19 15:05] divyabaid16 commented on #5090
I agree with @CleverFool77 as the first issue involves dividing the column into two and the rest of the UI is designed according to `col-md-6`.

[2019-03-19 15:24] madeofhuman commented on #5153
I'd like to work on this. @gauravano @jywarren

[2019-03-19 15:44] CleverFool77 opened #5177 "Interested people option besides RSVP for event"
## Description
Whenever the person creates a event. There is only one option given which RSVP for attending event.
Rather there should be another feature for those people who are interested but unsure that whether they'll attend event or not.

[2019-03-19 15:44] CleverFool77 commented on #5177
@publiclab/plots2-reviewers Is this issue correct ?
If yes, then I would like to work on this.
Thanks. :)

[2019-03-19 15:45] jywarren commented on #5153
oh that'd be great! Is there enough information to work with?

On Tue, Mar 19, 2019 at 11:25 AM CJ Odina <notifications@github.com> wrote: