[2019-09-27 21:12] jywarren commented on #3064
For sure, thanks!

On Fri, Sep 27, 2019 at 4:08 PM Stevie <notifications@github.com> wrote:

[2019-09-27 22:25] jywarren commented on #3501
Closing as we've wrapped our search project!

[2019-09-27 22:25] #3501 closed

[2019-09-27 22:25] jywarren commented on #3273
Closing in favor of that issue!

[2019-09-27 22:25] #3273 closed

[2019-09-27 22:26] jywarren commented on #5286
I think this is complete, thank you!!!

[2019-09-27 22:26] #5286 closed

[2019-09-27 22:26] jywarren commented on #3497
This is complete! Thanks all!

[2019-09-27 22:26] #3497 closed

[2019-09-27 22:27] jywarren commented on #6347
Screenshot of watching the results return and not match!

![image](https://user-images.githubusercontent.com/24359/65805666-73ee2480-e154-11e9-9fc7-9b84d9f01008.png)

[2019-09-27 22:28] jywarren commented on #6273
Linking with #3040, and closing now!

[2019-09-27 22:28] #6273 closed

[2019-09-27 22:32] jywarren commented on #5817
Closing this now!

[2019-09-27 22:32] #5817 closed

[2019-09-27 22:34] jywarren commented on #6097
I believe this is complete now. Any last follow-ups?

[2019-09-27 22:39] jywarren commented on #5890
I think we're almost done here too, just need to ensure sorting works! I crossed out a couple we're not doing.

[2019-09-28 05:33] drmehedi opened #6349 "10 Best inversion table 2018 reviews and buying guide"
We have done statistical surveying and discover the best 10 best inversion tables in 2018 to enable you to spare time. We have considered numerous sites, master feeling, wellbeing site, recordings, explore papers to choose the Top best reversal table. Here are the best moderate reversal tables that give you the best outcome. Individuals come here for the best inversion table 2018 buying guide.

ar

[2019-09-29 19:29] pydevsg commented on #6238
I am interested to become Code in Mentor this year.

[2019-09-29 19:31] pydevsg commented on #6278
Can you please share me access to the document @sashadev-sky , so that I too can share my valuable response for the scoring system as well.

[2019-09-29 19:37] pydevsg commented on #6278
As many of you have already shared the opinions, I think the scoring system could be as follows.
Easy(typo errors, small bug fixes) - 10 points , deadline 2 day within the time interval he or she is assigned the task.
Medium( a minor feature with a small bit lines of code ) - 20 points , deadline 3 days within the time interval he or she is assigned the task.
Hard( a major feature ) - 30 points ,

[2019-09-29 19:46] pydevsg commented on #6285
I am excited to be part of the Outreachy program and work as a mentor for public labs.

[2019-09-29 21:16] pydevsg commented on #6238
I will fill this form very soon. Currently making issue.

[2019-09-29 21:19] CoderJolly commented on #6202
Making PR !!  #6351

[2019-09-29 22:12] #6202 closed

[2019-09-29 23:15] pydevsg opened #6352 "Fix back to top button for mobile view"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-09-29 23:34] CoderJolly commented on #6278
Sure @sashadev-sky , pls add me

[2019-09-30 03:46] CleverFool77 commented on #6097
I guess this is ready.
Thanks @jywarren !!!

[2019-09-30 03:47] shiv-1998 commented on #6352
Hi can I work on this?

[2019-09-30 04:21] shiv-1998 commented on #6352
I've raised a PR for the same.

[2019-09-30 05:05] pydevsg commented on #6352
Change your PR a bit and add the Issue Number with it and then your 1st PR will be merged 😄

[2019-09-30 09:31] dylmye commented on #6320
Hello, would it be alright for me to have a crack at this? :)

[2019-09-30 11:21] pydevsg commented on #5382
@gauravano  and @Anupam-dagar can you please assign this issue to me.

[2019-09-30 11:41] newbazz commented on #5382
@pydevsg yes you can start working on this, i dont think this issue has any prs, you can file one and refer to this issue.

[2019-09-30 12:39] AdityaShD commented on #6345
Hi!! Can i work on this issue?
Thanks

[2019-09-30 12:40] IshaGupta18 commented on #6345
Please go ahead. Let us know if you need any help!!

On Mon, Sep 30, 2019, 6:09 PM Aditya Sharma <notifications@github.com>
wrote:

[2019-09-30 14:20] dylmye commented on #6320
I had a quick look anyway, and it looks like the `d-md-inline` class (which adds the CSS prop `display:inline` in the media query `min-width: 768px`) is the cause. Is there any particular reason for using this class / the `d-none` class for screens smaller than 768px?

Reproduced on FFX and Chrome

[2019-09-30 14:27] jywarren commented on #6320
Not to my knowledge -- if you'd like to file a fix we'd be very grateful!
If you could include screenshots at different widths that would be great.
Thanks!

On Mon, Sep 30, 2019 at 10:20 AM Dylan Myers <notifications@github.com>
wrote:

[2019-09-30 14:30] #6097 closed

[2019-09-30 14:32] dylmye commented on #6320
Sure thing! Is it alright if I submit it tomorrow so it's accepted under Hacktoberfest?
Thanks

[2019-09-30 15:34] StlMaris123 commented on #6346
Hi @jywarren on plots2/test/functional/wiki_controller_test.rb, we are passing the param `alphabetic`, which translates to `/wiki?order=alphabetic`. It does not have any effect on the ordering, can we modify the test to test sort instead.
Also is it okay to add sort in desc?

[2019-09-30 16:08] jywarren commented on #6320
Of course!

On Mon, Sep 30, 2019, 10:32 AM Dylan Myers <notifications@github.com> wrote:

[2019-09-30 16:08] jywarren commented on #6346
Oh that's a great idea. Sounds good! Thanks!!!

On Mon, Sep 30, 2019, 11:35 AM StellaMaris Njage <notifications@github.com>
wrote:

[2019-09-30 16:38] jywarren commented on #6340
Yes please, this would be great!

On Mon, Sep 30, 2019 at 5:31 AM newbazz <notifications@github.com> wrote:

[2019-09-30 16:44] pydevsg commented on #5382
Okay I am taking this issue will come with a PR very soon.

[2019-09-30 19:28] pydevsg commented on #5382
@newbazz , @Anupam-dagar and @gauravano I have submitted a PR please review and merge it.

[2019-09-30 20:01] pydevsg commented on #6239
Can I refer some issues for GCI, @SidharthBansal . I am willing to mentor GCI this year.

[2019-09-30 20:01] pydevsg commented on #6294
#6239

[2019-09-30 20:02] pydevsg commented on #6294
#6238

[2019-09-30 20:03] pydevsg commented on #6294
#6239

[2019-09-30 20:05] pydevsg commented on #6294
@jywarren , I think we can add this issue for GCI task list, with medium tag.

[2019-09-30 21:28] cesswairimu commented on #6270
Moved to https://github.com/publiclab/webjack/issues/119. Thanks all :heart:

[2019-09-30 21:28] #6270 closed

[2019-10-01 02:12] Askat08 commented on #6352
Hi there, may I take this up?

[2019-10-01 05:18] garg3133 commented on #6352
@pydevsg Sorry! But I'm unable to understand how can the fix given by you solve the problem? The back to top button is causing problems in small screens (360px width as shown in screenshot), right! But the change you have suggested will decrease the size of back to top button for screens bigger than 400px as you have written "min-witdh:400px" in the media query.

I think it should be "max-width:40

[2019-10-01 06:35] pydevsg commented on #6352
@garg3133 Thankyou very much for your valuable correction, actually it will be max-width not min-width, I agree with you. I fixed it but there was a small typo from my side.

[2019-10-01 06:44] pydevsg commented on #6352
Hi @Askat08, a PR has already been given for this issue you can check for first timers issues and fto from - [code.publiclab.org](https://code.publiclab.org)

[2019-10-01 12:11] tauhir commented on #6206
Hi! I'd like to be given an FTO issue, please.

[2019-10-01 13:00] augustozanellato commented on #6206
Me too!

[2019-10-01 14:34] jywarren commented on #6294
Awesome! I can tag it if you want to add it? Thanks!

On Mon, Sep 30, 2019 at 4:06 PM Sudipto Ghosh <notifications@github.com>
wrote:

[2019-10-01 15:16] moki298 commented on #6340
Ok, I found around 6000 violations across the entire repository, I don't want to do this in a single issue/PR as it would be cumbersome for the reviewers, any thoughts on that? @jywarren @newbazz

Is it any better if we do this single directory at a time? Also, how can I test locally once I do any changes? Is there a defined workflow for this?

[2019-10-01 15:25] pydevsg commented on #6294
Yes, do tag it with gci and medium

[2019-10-01 15:44] pydevsg commented on #2053
Hello @SidharthBansal , I have gone through the guidelines and I am willing to a part of the GCI program as a mentor of PL.

[2019-10-01 16:03] moki298 commented on #6347
I am claiming this, will update on this asap, currently I am setting up the environment for this.

[2019-10-01 16:37] gauravano commented on #6206
Hi @tauhir @augustozanellato, I have added the names of both of you. You will be assigned an FTO issue soon. Thanks!

[2019-10-01 16:46] gauravano commented on #6285
Hi everyone, I wouldn't be able to mentor Outreachy round this time, but would be just a message away(https://gitter.im/gauravano) in case any help is required.

All the best to everyone applying 💯

[2019-10-01 17:29] ebarry opened #6359 "Tiny Typo fix!"
Hello!
### Please describe the problem (or idea)

As reported by @joyofsoy, when someone publishes their draft, the text has a typo “Your work is now visible publically”.  "Publically" should be spelled "publicly".

This may be in the general "Publish" popup message also, but we are not sure. Is there a way to search for that typo?

"Publically" should be spelled "publicly"

### Please show us whe

[2019-10-01 17:48] ebarry commented on #6306
Fantastic!

[2019-10-01 18:01] ananyaarun commented on #6206
Here is an FTO https://github.com/publiclab/plots2/issues/6359
@tauhir You can take this one !!

[2019-10-01 18:01] ebarry opened #6360 "Small text change on Login/Signup modal"
**Please describe the desired behavior.**

This is a request by @joyofsoy to slightly edit the wording on the Login/Signup modal which currently reads:

to

The hyperlink should be on the word "here".

**Additional context**

The text appears in both of these situations, as shown in screenshots below:

<img width="643" alt="Screen Shot 2019-09-25 at 4 06 10 PM" src="https://user-images.githubuserc

[2019-10-01 18:12] amilaneni99 commented on #6360
Hi, I would like to give this a shot. Thanks

[2019-10-01 18:19] ebarry opened #6361 "Tiny clean-up of the header on publiclab.org/notes/... content"
Hello! Thank you for considering this request from @joyofsoy !

**Please describe the desired behavior.**

### Viewing at all widths

@joyofsoy suggests that we consider deleting the line: "Read more: publiclab.org/n/#####"
as the short link is already available above. It should not appear no matter what width the browser screen is.

For example, visit https://publiclab.org/notes/Bronwen/09-26-201

[2019-10-01 18:21] ebarry commented on #6360
Thanks! This closed issue may contain helpful code links for the Login/Signup Modal: https://github.com/publiclab/plots2/issues/2866

[2019-10-01 18:31] Redm0nd commented on #6359
Hi,

I have a fix for this on my fork, is it okay if i raise a PR?

[2019-10-01 18:39] ananyaarun commented on #6206
Here is another one https://github.com/publiclab/leaflet-environmental-layers/issues/238
@augustozanellato You can take this !!

[2019-10-01 18:40] ebarry commented on #6361
This is all covered in https://github.com/publiclab/plots2/issues/5956

[2019-10-01 18:40] #6361 closed

[2019-10-01 18:41] ebarry commented on #5956
@joyofsoy, check out this issue which comprehensively redesigns the header on notes and wikis -- that redundant line "read more: publiclab.org/n/######" will definitely be removed.

[2019-10-01 19:01] CoderJolly commented on #5382
PR #6356

[2019-10-01 19:04] CoderJolly commented on #6165
Could someone reference the PR number regarding this issue so that he can be reviewed and this issue be closed. Thanks 😄 😄

[2019-10-01 19:05] amilaneni99 commented on #6360
Hey @ebarry I've created a PR. It would be great if you review it. Thanks!

[2019-10-01 19:20] jywarren commented on #2535
Hi! I know it's been a while, but curious if you're still interested in taking this one up? Thanks!

[2019-10-01 19:21] jywarren commented on #3064
https://github.com/publiclab/plots2/issues/2535  may be this issue!? If so, we can close this?

[2019-10-01 19:41] camillesk commented on #6340
I'm interest to help on this issue! I thin we can fix by directories, setting a maximum of files that we can change in which PR

[2019-10-01 20:16] ebarry commented on #6163
I'm so excited to have this bug fixed! I need to add tags to Profile Pages every day as part of community organizing. Thanks for working on this! I really appreciate it :D

[2019-10-01 20:21] jywarren commented on #2535
We're going to close this up, actually, and I'll post a follow-up to #3064 with our next-steps! Thanks!

[2019-10-01 20:21] #2535 closed

[2019-10-01 20:28] jywarren opened #6367 "Revamp/deprecate tag aliasing, migrate aliases to new tags"
We have 3 scenarios which relate tags to one another:

1. "incidental need to show 2 topics"
        - all good: https://publiclab.org/search?q=water+education, https://publiclab.org/search?q=water-education
        - https://booleanstrings.com/2018/03/08/the-full-list-of-google-advanced-search-operators/
2. "these are the same"
3. "this belongs under that"

Our current "tag aliasing" system is ve

[2019-10-01 20:29] jywarren commented on #3064
Reworking this into a plan to do some auto-tagging! https://github.com/publiclab/plots2/issues/6367

[2019-10-01 20:29] #3064 closed

[2019-10-01 20:29] jywarren commented on #880
Closing and moving into https://github.com/publiclab/plots2/issues/6367

[2019-10-01 20:29] #880 closed

[2019-10-01 20:29] jywarren commented on #918
Reworking this into a plan to do some auto-tagging! #6367
--

[2019-10-01 20:29] #918 closed

[2019-10-01 20:30] jywarren commented on #3868
This could be implemented with a similar system to #6367, actually!

[2019-10-01 20:32] ebarry commented on #6367
This is great!

[2019-10-01 20:32] seabl commented on #6165
#6168

[2019-10-01 23:52] seabl commented on #6345
@publiclab/reviewers
This issue has been claimed by @AdityaShD but we already have a PR for it by another contributor (#6368). Maybe we need a **taken** label in a vivid color for claimed issues to avoid this in the future.

[2019-10-02 04:00] globefire commented on #6359
is it open @ebarry  @seabl ?

[2019-10-02 10:15] sharmamansi commented on #6337
Hi, @jywarren I'm getting trouble with proceeding in this issue whatever I thought would work is not correct i guess.  So can you please tell me how to start.

[2019-10-02 10:29] maniac-tech commented on #6320
Is there any update on the PR or the issue here @jywarren ?

[2019-10-02 10:45] iamprakash13 commented on #6345
is this open?

[2019-10-02 10:58] samagragupta opened #6372 "Space between image and header"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-02 11:07] dylmye commented on #6320
@maniac-tech I'm pushing up my fix this lunch, I was busy yesterday, apologies

[2019-10-02 11:31] 0sf commented on #6372
I would love to work on the issue.

[2019-10-02 11:50] rimildeyjsr commented on #6372
@samagragupta - Can I take this up?

[2019-10-02 13:54] KMustakas88 commented on #6372
Hello, is there a PR for this already? I would like to contribute. @samagragupta @rimildeyjsr

[2019-10-02 14:50] nstjean commented on #6285
Hello all! I am applying to be an Outreachy Intern. I'm very excited to be here and contribute! I love how you have first time only issues to help people get started.

[2019-10-02 14:53] pydevsg commented on #6285
All the best @nstjean , we are always here to help you out :)

[2019-10-02 17:54] stefanosu commented on #6372
Hi, I would like to contribute to this has this been claimed by someone else already? @samagragupta @rimildeyjsr

[2019-10-02 18:38] nstjean commented on #3840
I've never worked in Ruby before. I just installed on Windows, which was a bit of a challenge! I ended up installing Ubuntu on Windows and going through that. I ran into some roadblocks but Google found me solutions.

One of note, in case anyone else has the issue: When I used `passenger start` I got a "address already in use" error. There was nothing else running on Port 3000 and changing the por

[2019-10-02 18:41] nstjean commented on #6206
I am looking for one too!

[2019-10-02 18:45] IshaGupta18 commented on #6206
Hey! We'll be creating some FTOs really soon! In the meantime, you can set
up different repos!

On Thu, Oct 3, 2019, 12:11 AM Natalie St Jean <notifications@github.com>
wrote:

[2019-10-02 19:02] nstjean commented on #5795
Is this needed now? This link says that codeclimate should support rubocop-performance:
https://github.com/codeclimate/codeclimate-rubocop/issues/166

Let me know and I'll create a pull request.

[2019-10-02 19:11] stefanosu commented on #5305
Hello I would like to take up this issue if it's still available?

[2019-10-02 19:16] stefanosu commented on #6096
Hello, @gauravano is this issue still available?

[2019-10-02 19:33] jywarren commented on #6285
Welcome, @nstjean!

On Wed, Oct 2, 2019 at 10:54 AM Sudipto Ghosh <notifications@github.com>
wrote:

[2019-10-02 20:16] skai-ste commented on #5407
Hi, I’m an Outreachy applicant, could I work on this issue?

[2019-10-02 20:43] stefanosu commented on #6206
Hi, @gauravano I'm eager to start working on FTO issues as well thanks in advance.

[2019-10-02 21:02] discombobulateme commented on #5333
Hey all :) I'm an Outreachy applicant, would like to make a contribution. Is this issue still open?

[2019-10-02 21:17] alexido19 commented on #6318
Can I contribute to this ?

[2019-10-02 21:22] alexido19 commented on #6176
Can I research on this ?

[2019-10-02 21:25] aRealCyborg commented on #6372
Is this already taken?

[2019-10-02 21:45] CoderJolly commented on #6345
A PR has been raised already, @iamprakash13 pls look for more

[2019-10-02 21:49] CoderJolly commented on #5305
Sorry @stefanosu the changes are already in the code, please look for more first-timer issues, I am closing this one. Thanks 😄

[2019-10-02 21:49] #5305 closed

[2019-10-02 22:06] CoderJolly commented on #5407
Hi @skai-ste, as @vaibhavmathur13 hasn't responded for more than a week, you can work on it.
Please mention the issue number while raising the PR. Thanks 😄 😄

[2019-10-02 23:50] alexido19 commented on #6251
@sashadev-sky can I work on this one ?

[2019-10-02 23:59] alexido19 commented on #6206
@gauravano I'm looking for a first timer issue too

[2019-10-03 00:37] aRealCyborg commented on #6372
I need help to find out how to claim this issue or start working on the fix, This is my first time but I think I can do this. And should i use it in the Launcher

[2019-10-03 00:42] aRealCyborg commented on #6372
$FILENAME
I click on this and it does not  give me a file or something you want to help fix

[2019-10-03 04:07] kvenkman commented on #5426
#6381 Submitted a PR here

[2019-10-03 04:49] IshaGupta18 commented on #5333
Hey, could you try checking if the issue still occurs, and if it does, go
ahead!

On Thu, Oct 3, 2019, 2:32 AM Paloma Oliveira <notifications@github.com>
wrote:

[2019-10-03 05:58] discombobulateme commented on #5333
Hi @IshaGupta18 ! I do not have access to this specific page, cannot check if the issue is still going on :/ should I need special permission?

[2019-10-03 06:03] discombobulateme commented on #5333
Hi @IshaGupta18 and all, I checked the issue in multiple screens and seems totally fixed :) could someone please close the issue? Or is there something else to fix? (I found no bug in this page)

[2019-10-03 06:11] discombobulateme commented on #6155
Hello all :) I'm a current Outreachy applicant, but also quite fan of PublicLab project. I'm am also currently renewing PyLadies Berlin design and StyleGuide with special attention to accessibility. I took a look at your StyleGuide proposition and found those are super good points to work on design, but missed some accessibility guidelines. Is there something I could do module-contribute in this m

[2019-10-03 06:12] IshaGupta18 commented on #5333
We'll close it then if it's not seen again! Please look for some other
issue to work on. Thank you!

On Thu, Oct 3, 2019, 11:33 AM Paloma Oliveira <notifications@github.com>
wrote:

[2019-10-03 06:19] discombobulateme commented on #6314
Hello, I would love to contribute to this issue, is it still available? Just need some guidance on which pages to check, all on Plot2?

[2019-10-03 08:10] Linda-Ikechukwu commented on #6285
Hello everyone. I'm Linda, approved for the contribution phase of the outreachy internship and can't wait to make my first contribution through the first time issues 😊

[2019-10-03 10:26] mathyoudawson opened #6384 "Add package.json and yarn.lock to git-ignore"
When installing the application locally the following files were modified.
They shouldn't be checked into git as far as I know

[code]

Setting us the application locally including running redis locally through `bundle exec sidekiq`

The aforementioned files showing in git status

### Please show us where to look
git status

### Browser, version, and operating system

****

## Thank you!

Your hel

[2019-10-03 13:06] deboragaleano commented on #5882
Hi, I'm an Outreachy applicant and would like to claim this issue if it's not taken. Thanks so much!

[2019-10-03 14:32] vaibhavmathur13 commented on #5407
Hi @CoderJolly , I have solved the issue, I will raise the PR by today.

[2019-10-03 14:40] steviepubliclab opened #6387 "multiple page tab bars"
I was on this page https://publiclab.org/questions/tag/pm?page=2 scrolling through questions, when I saw it has two scroll bar arrows to toggle between pages:
<img width="1008" alt="Screen Shot 2019-10-03 at 10 34 56 AM" src="https://user-images.githubusercontent.com/7490478/66136860-25b0a980-e5ca-11e9-823d-002b44c0ef4a.png">

[2019-10-03 16:34] nstjean commented on #6387
I'll take this on. :)

[2019-10-03 16:48] CoderJolly commented on #5407
Ok, thanks for doing it !! 😄 😄

[2019-10-03 16:53] CoderJolly commented on #6372
As @rimildeyjsr was the first one to comment, so the issue is assigned to @rimildeyjsr

[2019-10-03 16:55] CoderJolly commented on #6387
Sure @nstjean , pls go ahead. Feel free to ask anything. 😄 😄

[2019-10-03 17:07] skai-ste commented on #5407
Hi again, all good. Could you recommend other issue I could look in to?

[2019-10-03 17:52] discombobulateme commented on #5426
Hello :) may I be assigned to contribute on this issue?

[2019-10-03 17:59] jywarren commented on #5882
Sure, this may take some investigating and trial and error! But you can look at how the location input works on a regular post, and we may need to make some code changes to ensure it works in this context as well! Here's an example of a page where it works:

https://publiclab.org/notes/warren/03-01-2019/build-a-sound-generating-coqui-conductivity-sensor

[2019-10-03 19:02] IshaGupta18 commented on #5426
I think someone has already submitted a PR on this, could you please find
some other issue to work on? Thank you

On Thu, Oct 3, 2019, 11:22 PM Paloma Oliveira <notifications@github.com>
wrote:

[2019-10-03 19:11] anthony-zhou commented on #6305
I would like to work on this.

[2019-10-03 19:53] moki298 commented on #6347
@jywarren This has been fixed, please check #6379

[2019-10-03 20:42] profread commented on #6372
hi has this been assigned to someone else

[2019-10-03 21:36] Linda-Ikechukwu commented on #4120
Hi, outreachy intern here. Is this issue still open? Can I be assigned to it?

[2019-10-03 21:37] dinaelhanan commented on #6294
i'll be finishing this up this weekend. Setting up my local dev environment took longer than expected :/

[2019-10-03 22:08] pydevsg commented on #6294
Go ahead @dinaelhanan :rocket:

[2019-10-03 22:24] Linda-Ikechukwu commented on #5191
Hi, has this issue been resolved, if not can I be assigned to it? . I'm an outreachy intern.

[2019-10-03 22:26] Linda-Ikechukwu commented on #5059
Hi, has this issue been resolved, I would love to work on it. I'm an outreachy intern..

[2019-10-03 22:35] Linda-Ikechukwu commented on #4940
Hi, is this still open I would love to work on this.. I'm an outreachy intern applicant

[2019-10-03 22:38] Linda-Ikechukwu commented on #3298
Hi, has this issue been resolved, Can I work on it? I'm an outreachy intern applicant

[2019-10-03 22:40] Linda-Ikechukwu commented on #4980
Hi, this issue is still open, can I take it up? I'm an outreachy intern applicant

[2019-10-04 00:18] nstjean commented on #3840
I wanted to update this and say it ended up not working on Windows no matter what I tried with Windows Subsystem for Linux. I spent today creating a dual boot system and installing Ubuntu to have a clean, happy install the way it should be.

[2019-10-04 02:06] nstjean opened #6389 "Turn off redis dependency in development mode"
Right now in development mode we get a redis error on certain actions. The one I got today was `Redis::CannotConnectError in AdminController#publish`
It would be great if we could turn off the dependency in development!

![FireShot Capture 001 - Action Controller_ Exception caught - localhost](https://user-images.githubusercontent.com/49460529/66176002-f9c51080-e629-11e9-8d1a-0dd6bea10041.png)

[2019-10-04 02:25] mathyoudawson commented on #6389
Currently action cable is dependent on Redis. I believe you can use different adaptors but making the application less prod-like in development sounds risky.

You can run this locally after installing redis by running `bundle exec sidekiq`
On mac you can use brew to install redis through `brew install redis`, then run `brew services start redis`.

After Redis is running locally run sidekiq `bundle

[2019-10-04 03:50] rimildeyjsr commented on #6372
@samagragupta @CoderJolly - Hey, just one question, the image above which space has to be created is the one referenced by `main-image` in the `show.html.erb` right?

Adding a top margin gets me this

<img width="1440" alt="Screenshot 2019-10-04 at 9 18 51 AM" src="https://user-images.githubusercontent.com/10229595/66179842-1b54e500-e688-11e9-880a-906f01fba402.png">

Just want to make sure it is t

[2019-10-04 04:18] AdityaSatnalika commented on #6320
Pushed and Created a pull request for the Fix of the problem . Branch #Bug_Plots2_6320

[2019-10-04 06:38] CleverFool77 commented on #5333
Hi @IshaGupta18 If this one is fixed. Then I'll close it.
Thanks !!

[2019-10-04 06:38] #5333 closed

[2019-10-04 06:40] CleverFool77 commented on #5191
Hi @Linda-Ikechukwu Can you check that whether there is change in development in latest fetched changes? If not, then you can move forward or else this issue would close down.

Thanks !!

[2019-10-04 07:05] CleverFool77 opened #6390 "Addition of questions and comments in topic cards in profile page"
### Description
We have notes added to the topic cards for that particular tag. We need Questions/comments too. So we need to add this. There are two portions -
- [ ] First we need to add questions and comments in cards
- [ ] Second we need to add the no of questions/comments for that topic in the cards
Similar as notes given below.

![Screenshot from 2019-10-04 12-11-18](https://user-images.githu

[2019-10-04 09:31] discombobulateme commented on #6340
@moki298 woooow that's an impressive work :)
How reliable is using  rubocop? Does it works like a filter than if should be manually checked? Would love to learn how to use it and cooperate :)

[2019-10-04 13:02] jywarren opened #6391 "Convert any remaining mixed content (http/https) to prepare for Chrome change"
Chrome will soon start blocking any http content loaded from an https page - not just scripts and iframes, but images, etc.

https://www.bleepingcomputer.com/news/google/google-chrome-to-gradually-start-blocking-mixed-content-by-default/

We did this for iframes and scripts a while back but we should plan to scan for any `http://` in our codebase and fix it! It could make for good first timer issu

[2019-10-04 13:03] seabl commented on #6096
@stefanosu yes it is. Please feel free to claim it. Thanks.

[2019-10-04 13:49] Akashutreja commented on #6206
Hey I am looking for FTO issues, thanks

[2019-10-04 14:19] steviepubliclab commented on #6320
Thank you!!

[2019-10-04 14:28] SerwaddaUG commented on #6372
Hello here, i  would like to contribute any information rendered will be of high appreciation

[2019-10-04 14:36] AdityaSatnalika commented on #6320
Hey I am Not Able to push the code as its showing permission denied

On Fri, Oct 4, 2019, 7:49 PM Stevie <notifications@github.com> wrote:

[2019-10-04 15:18] jywarren commented on #5059
Hi! Would you mind creating an account on PublicLab.org and checking on the
publiclab.org/settings page? Uploading a screenshot to confirm would also
be helpful to verify if it's been fixed! Thank you!

On Thu, Oct 3, 2019 at 6:27 PM Linda Ikechukwu <notifications@github.com>
wrote:

[2019-10-04 15:19] jywarren commented on #4940
Hi, if nobody has replied for a while (which seems right) we'd love your
help! Are there any open PRs for it?

On Thu, Oct 3, 2019 at 6:36 PM Linda Ikechukwu <notifications@github.com>
wrote:

[2019-10-04 15:21] jywarren commented on #6389
Thank you for the clarification and the link to #2779!

Is this reflected in the Readme? If not, perhaps we could do that, and then
close this up?

Another option is to research a "mock" redis, which could allow running
locally while not needing to install Redis, but it depends on the balance
of how easy it is to install for newcomers vs. how useful it is in
development. Thanks!!!

On Thu, Oct 3,

[2019-10-04 16:48] deboragaleano commented on #6391
Could I claim this issue? Thanks!

[2019-10-04 16:59] nstjean commented on #6387
So I've identified the problem - the `asked-tab` and `answered-tab` are both showing at all times even though only one is marked active. I can easily update the CSS to hide the inactive one, but there are further problems:
1. The tabs at the top of the page don't work to switch the active group.
2. There are no questions in the "answered" section, only in the "asked" section
3. The paginator for t

[2019-10-04 17:21] anna-dorigo commented on #6306
Hi Guys!

Im glad you guys liked it! Sorry I was away for a week, do you guys have a format in mind?

![](https://user-images.githubusercontent.com/1304609/65522905-7a14a480-deb9-11e9-9ca6-33ef2e105027.png)

I hope to make the pull request this weekend.

[2019-10-04 17:30] stefanosu commented on #6096
So if I understand this correctly we want to be able to use the user.is_new_contributor method to toggle to display the message?  @seabl @jywarren

[2019-10-04 17:37] moki298 commented on #6340
@camillesk @discombobulateme thanks for your interest. I believe we should break this into smaller issues. But I am waiting for comments from the @jywarren @newbazz to know what they think about this as I am new to this repo and ruby world. I would like to wait and see for a week or so and then I would start breaking this into smaller issues.

Meanwhile, it would be great if you have the environme

[2019-10-04 18:57] nstjean opened #6393 "Add link to view question page"
The page for viewing a question has text at the top says
[user] is asking a question about [tag-name]
The tag name should be a link to the page that lists all questions under that tag name.

For instance, on this page:
[https://publiclab.org/questions/wmacfarl/09-25-2019/how-can-we-relate-water-quality-sensor-measurements-to-oil-gas-pollution](url)
![FireShot Capture 003 - 🎈 Public Lab_ How can we

[2019-10-04 19:26] CoderJolly commented on #5407
Sure !! @skai-ste , mention your name at #6206 , a First-Timer Issue will be allotted to you soon

[2019-10-04 20:49] jywarren commented on #6306
We could go for red or blue, either works for me! Thanks a lot!

[2019-10-04 20:52] jywarren commented on #6305
Hi @anthony-zhou -- we'd love help with it. Did you want to open a pull request? Thanks!

[2019-10-04 20:53] jywarren commented on #6320
Hi @AdityaSatnalika perhaps you need to fork the project and push to your own fork?

Thanks @dylmye !

[2019-10-04 20:55] jywarren commented on #6337
Hi, can you open a pull request with what you've tried so far? Thanks!

[2019-10-04 20:55] jywarren commented on #6285
Welcome, @Linda-Ikechukwu !

[2019-10-04 20:55] gauravano commented on #6387
If you have a good understanding of related code then go ahead for solving all parts, as you need to increase complexity bit by bit. Thank you!

[2019-10-04 20:57] jywarren commented on #6318
Hi @alexido19 - it looks like @CleverFool77 has this one, but maybe you'd be interested in helping with another issue? Maybe part of this one? https://github.com/publiclab/plots2/issues/5956

[2019-10-04 21:07] steviepubliclab commented on #6323
for 1- yes, but I actually I think I meant something more complicated than this. Like if someone's working in the questions form, can we take the power tags out and have the system added it on the the back end -- so people would just add regular tags and they would turn into the power tags whenever you're submitting from the questions template. I think people don't realize they need to do "questio

[2019-10-04 21:20] nstjean commented on #6387
Ok, I'll go ahead and try it! I am new to Ruby but this will be a good challenge.

[2019-10-04 21:25] gauravano commented on #6384
It depends on project to project and community to community. Some prefer to track and some not. I  will say, it should be responsibility of the user to add changes which they wanna make in a commit. And, package.json, package-lock.json and yarn.lock require changes occasionally as we need to update dependencies, so I'll say not to add them to gitignore.
You can add test.sqlite-journal in there. @j

[2019-10-04 21:29] gauravano commented on #6387
Oh, I hope, it's not your first issue, because you might wanna try an easier issue first.

[2019-10-04 21:35] anthony-zhou commented on #6305
Yes

[2019-10-04 21:36] moki298 opened #6395 "drop down overlap in navigation bar"
The dropdowns in the navigation bar overlaps, check the below screenshot

![Screen Shot 2019-10-04 at 5 37 30 PM](https://user-images.githubusercontent.com/21165330/66241738-b6bc7900-e6cd-11e9-82e0-c9538434348f.png)

### Steps to recreate:

- Navigate to https://publiclab.org/
- Click on 'Get Involved' in the navigation bar, the relevant dropdown should appear
- Now without clicking anything move

[2019-10-04 21:37] eprotagoras commented on #6393
Hi, could I try my hand at this? This would be my first contribution here!

[2019-10-04 21:53] gauravano commented on #6206
Welcome, @nstjean @stefanosu @alexido19 @Akashutreja added your names and we'll try to assign you issues as soon as possible. Thanks!

[2019-10-04 21:55] gauravano commented on #6359
Hi @globefire, this issue is reserved for @tauhir as they showed their interest in getting an issue assigned. But, we'd be happy to create a issue for you if you want. Thanks!

[2019-10-04 21:56] gauravano commented on #6359
Also, @tauhir are you working on this as I can't see your PR tagged here. Thanks!

[2019-10-04 22:57] MysticNas commented on #6395
Hey, id  like to work on this project as a outreachy applicant. Would it count as a contribution? thank you

[2019-10-04 23:01] moki298 commented on #6395
@MysticNas I don't know much about Outreachy, you should talk with your mentors regarding that, but you are always welcome to make contributions to this repo. Please make a PR and refer this issue if you want to work on this. Thanks.

[2019-10-05 01:17] fadib commented on #6206
Hey all, I'm looking for a first-timers-only issue, thanks!

[2019-10-05 03:27] AdityaSatnalika commented on #6320
Will Do that . But how will I create a pull request then ?

On Sat, Oct 5, 2019, 2:23 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-10-05 06:49] mathyoudawson commented on #6384
@gauravano Sounds reasonable! Happy to just add `test.sqlite-journal` or close the issue/PR

[2019-10-05 08:48] discombobulateme commented on #6340
Thanks @moki298 ! I'll do it within the next hour ;)

[2019-10-05 09:08] discombobulateme commented on #6395
I would love to contribute on that :) can I make a PR?

[2019-10-05 09:34] deboragaleano commented on #5882
I just realized that it's written in Ruby and I'm not familiar with it yet (just saw that the label said JS). In this case, I should leave this issue to another applicant ;)

[2019-10-05 09:50] deboragaleano commented on #6391
Hi @jywarren. I just did a standard GitHub search and it gives me 78 code results, see below:

![Screen Shot 2019-10-05 at 11 36 40](https://user-images.githubusercontent.com/36022831/66253187-9e4b6d80-e764-11e9-9394-ecf7d0b14ca9.png)

Here are some examples of code links that I found (there are more, of course!):

https://github.com/publiclab/plots2/blob/7c9d0637170ec8d39be8f773c6761a225ce7cf87/s

[2019-10-05 11:27] discombobulateme commented on #6395
Actually I am a bit lost @moki298 can you give me a little help? That's the first time I'm contributing to a big collaborative project. I forked plots2 and cloned it to my local computer. How do I access this file to work on it? I don't understand the process to tell the community I'm working on it.

[2019-10-05 11:52] samagragupta commented on #6285
Count me in!
Hey, I am interested to be an Outreachy Mentor! Let's do this!

[2019-10-05 11:54] samagragupta commented on #6238
When will I receive the response of the form I have filled for GCI Mentor?

[2019-10-05 13:29] discombobulateme commented on #6395
Hum... and I understand that this is not under plots2, at least I couldn't find the file, could you @MysticNas ?

[2019-10-05 15:58] #6027 closed

[2019-10-05 16:01] jywarren commented on #6002
All good now!

[2019-10-05 16:01] #6002 closed

[2019-10-05 16:07] jywarren commented on #5958
I believe this is no longer required as per the new profile page design! Thanks!!

[2019-10-05 16:07] #5958 closed

[2019-10-05 16:08] jywarren commented on #5949
Complete!!!

[2019-10-05 16:08] #5949 closed

[2019-10-05 16:15] nstjean commented on #6387
Ok what I'll do is split it up. I'll solve the first part of this, the easy issue, and do a pull request for practice. Then I'll look into what needs to be done for getting the tabs working as a separate issue. :)

[2019-10-05 16:15] gauravano commented on #6384
yeah remove the test.sqlite-journal from repo and add it to gitignore. Thanks!

[2019-10-05 16:30] gauravano commented on #6387
Sounds great!

On Sat, Oct 5, 2019 at 9:45 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-10-05 16:31] jywarren commented on #5295
Closing this up as it's complete now! Thanks!!

[2019-10-05 16:31] #5295 closed

[2019-10-05 16:33] jywarren commented on #5180
Hi, this was thoroughly overhauled recently and looks great now! Thanks all!

[2019-10-05 16:33] #5180 closed

[2019-10-05 16:40] #4448 closed

[2019-10-05 16:41] jywarren commented on #4406
I think we need to set the data-method to delete in the a tag here!

[2019-10-05 16:44] jywarren commented on #4034
Closing as we've merged comments and answers now! Thanks!

[2019-10-05 16:44] #4034 closed

[2019-10-05 16:46] jywarren commented on #3895
I believe this is complete, thanks all!

[2019-10-05 16:46] #3895 closed

[2019-10-05 16:46] jywarren commented on #3627
I believe this is no longer needed as the profile page has changed! Thanks all!

[2019-10-05 16:46] #3627 closed

[2019-10-05 16:47] jywarren commented on #3530
I believe this is fixed now, thank you!

[2019-10-05 16:47] #3530 closed

[2019-10-05 16:49] jywarren commented on #3390
Ah, this was completed long ago, thanks!!!

[2019-10-05 16:49] #3390 closed

[2019-10-05 16:50] jywarren commented on #3359
Hi! I'm going to close as we don't have access to do much on store pages, as it's not an open source codebase. :-(

Thanks though!

[2019-10-05 16:50] #3359 closed

[2019-10-05 16:51] jywarren commented on #3059
Going to close now! Thanks!

[2019-10-05 16:51] #3059 closed

[2019-10-05 16:52] jywarren commented on #2871
Closing this for now, thanks!

[2019-10-05 16:52] #2871 closed

[2019-10-05 16:52] jywarren commented on #2752
Closing for now, thank you!

[2019-10-05 16:52] #2752 closed

[2019-10-05 16:54] #2256 closed

[2019-10-05 16:57] jywarren commented on #2103
Closing in favor of new style guide based design! Thanks!

[2019-10-05 16:57] #2103 closed

[2019-10-05 17:26] jywarren opened #6399 "Make "choose one" link in comment forms appear underlined"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

This one is reserved for Outreachy (#6285) applicants!

If that's you, we're interested in helping you take the first step and can answer question

[2019-10-05 17:28] jywarren commented on #6285
Hi all! I've created a `first-timers-only` issue for Outreachy folks in particular. Please check it out here, and I'll make a few more in the next day or two!

https://github.com/publiclab/plots2/issues/6399

[2019-10-05 17:32] jywarren opened #6400 "Make "log in" look like a link in login prompt in comments section"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

This one is reserved for Outreachy (#6285) applicants!

If that's you, we're interested in helping you take the first step and can answer question

[2019-10-05 17:33] jywarren commented on #6285
Here is another! https://github.com/publiclab/plots2/issues/6400

[2019-10-05 17:51] crtlf commented on #6399
Hey @jywarren !
I'm new to PRs, I'll be happy to make this one.

[2019-10-05 18:24] jywarren commented on #3298
Hi, yes please! I believe @meinou's solution works, but it may need to be re-integrated into the new tag page template. You can find their code here, and if you'd like to build on that solution but in the new template, that's great! Thank you!

https://github.com/meinou/plots2/pull/1/files

[2019-10-05 20:14] Mgosi commented on #6400
Hi!
I would like to contribute. Could you assign me this issue? I will try to finish it as soon as possible.
Thanks!
Mahesh

[2019-10-05 20:22] ananyaarun commented on #6400
Hey @Mgosi ,
Are you an outreachy applicant ?
This issue is reserved for outreachy applicants as of now.

[2019-10-05 20:39] CoderJolly commented on #6387
Sorry, for replying late but I think @gauravano cleared your doubt.

You can create a PR for the initial problem and the make an issue regarding the remaining !! 😄 😸

[2019-10-05 20:43] tauhir commented on #6359
@gauravano I'm working on this now, thanks.

[2019-10-05 21:29] giovannyg commented on #6400
Hi, I'd like to participate. I started investigating about open source contribution a couple of days ago, now I'm looking for my first contribution as an starting point. Thanks.

[2019-10-05 22:18] Mgosi commented on #6400
Oh! ok. I'm not a Outreachy applicant. Thats alright then.

[2019-10-06 00:47] seabl commented on #6096
@stefanosu Yes, exactly!

[2019-10-06 05:28] newbazz commented on #6340
this is a good first step towards refactoring the ruby code, I would like someone to mention **run the linter rubycorp before making a pull request** in the contributing guidelines as well.

[2019-10-06 09:19] Ruchika06 commented on #6400
Hi! I would be happy to try this one as an outreachy applicant

[2019-10-06 10:34] simonastefan commented on #6163
After the recent tagging changes I can't reproduce the tag issue on notes mentioned by @gauravano above; seems to be fixed.
@ebarry happy to be of help. There is a PR open and ready for the profile tags.

[2019-10-06 11:24] skai-ste commented on #6206
Hi, I am looking for First-Timer issue too, thank you!

[2019-10-06 14:58] ananyaarun commented on #6400
Hey @Ruchika06 , Sure go ahead !

[2019-10-06 16:54] Ruchika06 commented on #6285
Hello everyone. I'm Ruchika, I got my initial Outreachy application approved and I have also created my first PR with public labs. I'm new to this community so, please guide my way further towards contributing.Looking forward to do so.

[2019-10-06 16:56] IshaGupta18 commented on #6285
Hey! Can you link us to your first PR and the issue corresponding to it?
You should contribute more to any of our repositories to become familiar
with the codebase.

On Sun, Oct 6, 2019, 10:24 PM Ruchika Sharan <notifications@github.com>
wrote:

[2019-10-06 17:01] Ruchika06 commented on #6285
Sure M'am,
PR Link:https://github.com/publiclab/plots2/pull/6403
This solves issue #6400
M'am could you please reference me any repositories and issues which will help me dive deep into the code-base.
Thank You

[2019-10-06 17:47] IshaGupta18 commented on #6285
Firstly, please don't call me ma'am, you can refer by name or GitHub
username!

Secondly, the PR looks good, try going through our repos to find the one
with which you might get comfortable, matching the tech stacks and setting
them up, you can contribute there. In the meantime, we will open up more
issues in some repos! Let us know if you have any problem setting up the
repos

On Sun, Oct 6, 2019

[2019-10-06 17:56] Ruchika06 commented on #6285
Certainly, Thank you

[2019-10-06 18:44] sagarpreet-chadha commented on #6285
I remember back in 2017, i also used to address @jywarren with sir and @ebarry with maam :P  Took me some time to call them with their first name :smile: !

[2019-10-06 19:58] deboragaleano commented on #4990
I believe this issue is still open and I would like to work on this, I'm an Outreachy applicant.

[2019-10-07 03:23] guptadiksha307 commented on #6400
Hi! I am diksha and I am an outreachy applicant. I want to make changes in this code. can I? or this issue is already fixed?

[2019-10-07 03:54] samagragupta commented on #6285
@jywarren  what is the procedure for becoming an Outreachy mentor?

[2019-10-07 05:05] cesswairimu commented on #6206
@nstjean you can take this one https://github.com/publiclab/mapknitter/issues/1050 . Thanks

[2019-10-07 05:36] cesswairimu commented on #6206
@stefanosu here is one for you https://github.com/publiclab/mapknitter/issues/1057

[2019-10-07 06:31] mahimahans111 commented on #6206
Hi, I got my initial application of Outreachy approved and I am looking for a first-Timer issue. Please help!

[2019-10-07 06:49] cesswairimu commented on #6206
@mahimahans111 I have added your name to your to the list.. we will try to get you an issue soon

[2019-10-07 15:36] jywarren commented on #6246
Initial implementation here: #6409, but will take some test corrections and debugging to get right, and also will require some manual testing in production.

[2019-10-07 15:42] JeffOgah commented on #6206
Hello, I'm looking for a FTO too

[2019-10-07 15:51] jywarren opened #6411 "Refactor JS functions add_tag() and create add_comment() for pure JS API"
We have a JavaScript function to add tags, here:

https://github.com/publiclab/plots2/blob/86ea8ba5efafad0fcb0befadb399c5a84e0bf786/app/assets/javascripts/tagging.js#L1-L13

However, it uses the on-page HTML tag form to do this. We should be able to do this directly using AJAX without using an HTML form.

Secondly, we should implement the same functionality for an `add_comment('Comment body here')

[2019-10-07 16:34] SidharthBansal opened #6412 "Welcoming Hack October Fest participants to Public Lab"
Public Lab is delighted to organize Hack October Fest 2019 in all the repositories of Public Lab.
Public Lab is a collaborative organiz.ation. 🤝 We at Public Lab, believe in making relationships with people by creating a friendly and generous atmosphere ❤️
This is the first time Public Lab is participating in Hack October Fest. So, Public Lab is eagerly searching for contributors

# Hack October F

[2019-10-07 16:48] SidharthBansal commented on #6238
@samagragupta you can expect a response till end of November.

**Attention:** Deadlines is updated to **15 November** as GCI is shifted this year.

Thanks all

[2019-10-07 17:02] SidharthBansal commented on #6285
Hi @samagragupta
Here is a direct link to the mentor application form i think -
https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/public-lab/refine-geographic-ui-and-js-integration-for-public/cfp/mentor/submit/

[2019-10-07 17:07] SidharthBansal commented on #4406
@gauravano I think both of them have abandoned this task.

[2019-10-07 17:10] SidharthBansal commented on #6206
@JeffOgah I have added your name to your to the list.. we will try to get you an issue soon

[2019-10-07 17:23] SidharthBansal commented on #6278
@Sasha Boginsky <sboginsky17@gmail.com> It will be great if you can give
comment access to all the viewers.
I think we should make hard as 40 points as it takes a lot of time and
effort. Great work Sasha

On Mon, Sep 30, 2019 at 5:05 AM Harman Jolly <notifications@github.com>
wrote:

[2019-10-07 17:24] SidharthBansal commented on #6239
Yeah sure.
Go ahead!

On Tue, Oct 1, 2019 at 1:31 AM Sudipto Ghosh <notifications@github.com>
wrote:

[2019-10-07 17:31] nstjean opened #6413 "Update color on hover of flag button on questions page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-07 17:31] starkblaze01 commented on #6285
Hi all!! A few applicants have been asking about the Outreachy eligibility rules. Here is the link for the rules: https://www.outreachy.org/docs/applicant/#eligibility. Please go through it and take care of the geographical region of your school because students of the Southern Hemisphere will only be eligible for the December to March round as per rules.
Good Luck with your applications!

[2019-10-07 17:40] nstjean commented on #6412
Fun!!

[2019-10-07 17:42] nstjean commented on #6206
I created a FTO for anyone else to use. Hope I did it correctly!
https://github.com/publiclab/plots2/issues/6413

[2019-10-07 17:57] susanreenesaa commented on #6413
hello, can you assign this to me, please?
I am a first-time outreachy applicant

[2019-10-07 17:59] nstjean commented on #6413
Go for it @susanreenesaa ! Let me know if you have any trouble.

[2019-10-07 18:00] cesswairimu commented on #6206
@alexido19  here is an issue for you https://github.com/publiclab/mapknitter/issues/1065

[2019-10-07 18:03] ananyaarun commented on #6400
Hey @guptadiksha307 , welcome to PL :)
This issue already has a PR, you can comment [here](https://github.com/publiclab/plots2/issues/6206) to get another FTO for yourself.
Thanks !!

[2019-10-07 18:14] #6359 closed

[2019-10-07 18:14] cesswairimu commented on #6206
@Akashutreja here you go https://github.com/publiclab/mapknitter/issues/1066

[2019-10-07 18:37] cesswairimu commented on #6206
@fadib here is an issue https://github.com/publiclab/mapknitter/issues/1067

[2019-10-07 18:46] #6347 closed

[2019-10-07 18:49] IvetaHron commented on #6206
Hello! I am Outreachy applicant and I am looking for Firts-Timers issue. Thank you for you help.

[2019-10-07 18:53] #6321 closed

[2019-10-07 18:56] anthony-zhou commented on #6305
@jywarren How can I test the pages offline to see whether my changes are working? (This is my first time contributing)

[2019-10-07 19:14] jywarren opened #6415 "Add co-authored posts to profiles"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-07 19:20] KotovSyndrome commented on #6415
Hi guys, may I grab this one for my first OSS contribution?

[2019-10-07 19:25] jywarren commented on #3246
Hi, I'm adding the `add-code-links` label to this, but i also had some follow-up questions.

I can think of some uses for tag pages for power tags; one I just used was http://publiclab.org/tag/with:warren, to see all posts I've made. It could also be useful to see all microscope activities with http://publiclab.org/tag/activity:micro - so I am wondering if it's a more generalizable solution to:

1

[2019-10-07 19:28] jywarren commented on #3219
I think I'm going to close this as the UI seems a bit too complex...! Thanks!

[2019-10-07 19:28] #3219 closed

[2019-10-07 19:33] jywarren commented on #784
Closing this as either too vague or done 😂

[2019-10-07 19:33] #784 closed

[2019-10-07 19:54] moki298 commented on #6340
Ok, I will go ahead and start breaking this into smaller issues, @discombobulateme @camillesk  please find the appropriate issues tagged on this topic and start working on them. Please let me know if you are stuck with something. Thanks.

[2019-10-07 20:06] jywarren commented on #5890
@CleverFool77 were you interested in wrapping up the sorting issue, or at least breaking it out into a new issue under the same milestone that is a bit more thoroughly documented? Then we can close this out!

[2019-10-07 21:15] jywarren commented on #6415
Yes please! Thanks!

On Mon, Oct 7, 2019, 3:21 PM Payam Katoozian <notifications@github.com>
wrote:

[2019-10-07 21:17] jywarren commented on #6305
You can add a tag to a page by logging in and clicking the + icon in the
sidebar, and then view the tag page for that tag! Like /tag/test for the
tag "test". Does that make sense?

On Mon, Oct 7, 2019, 2:57 PM anthony-zhou <notifications@github.com> wrote:

[2019-10-07 21:22] moki298 opened #6416 "Resolve rubocop lint offenses inside /app/api/channels"
Referenced from #6340

To do:
- Use rubocop to resolve the linting errors from the ruby files inside the /app/api/channels directory
- Check #6340 for more information

[2019-10-07 21:24] moki298 opened #6417 "Resolve rubocop lint offenses inside /app/controllers"
Referenced from #6340

To do:
- Use rubocop to resolve the linting errors from the ruby files inside the /app/controllers directory
- Check #6340 for more information

[2019-10-07 21:36] kryptocodes commented on #6417
I would like to work on this

[2019-10-07 21:52] moki298 commented on #6417
Great @kryptocodes , please go ahead. Refer this issue when you create a PR, let me know if you need some help. Thanks.

[2019-10-07 21:58] susanreenesaa commented on #6413
thank you. although I am still having challenges installing the application dependencies on my computer

[2019-10-07 22:20] Linda-Ikechukwu commented on #6206
Hi, I am an Outreachy applicant and i would love to be assigned a FTO isuue. Thanks

[2019-10-08 02:18] crisner commented on #6206
Hi I am an Outreachy applicant. I haven't made any contributions to publiclab yet and I am looking for an issue in the frontend to start contributing. Thank you.

[2019-10-08 02:21] snpd25 commented on #4406
Hey @SidharthBansal , if no one is working on this issue, can I give it a try?

[2019-10-08 02:33] crisner commented on #6285
Hello everyone! My name is Renisha Christie. I am an Outreachy applicant and I am new to publiclab. Looking forward to make my contributions to the project.

[2019-10-08 03:55] vishakhanihore commented on #6206
Hello, I am an outreachy applicant. I would be glad if I could get a `Good First Issue` or `FTO`

[2019-10-08 04:49] chidexebere commented on #6413
Hello @susanreenesaa are you still having issues? I am available to help

[2019-10-08 05:31] WulfPlasma commented on #6415
I can work on this right away if needed

[2019-10-08 06:02] WulfPlasma commented on #6415
Finished

[2019-10-08 07:06] shailzaa commented on #6206
Hi. I am new to open source and I am looking for a FTO issue.

[2019-10-08 07:13] cesswairimu commented on #6206
@IvetaHron @Linda-Ikechukwu @crisner @vishakhanihore @shailzaa I have added your names on the list.

[2019-10-08 07:15] cesswairimu commented on #6206
@skai-ste you can work on this one https://github.com/publiclab/plots2/issues/5047

[2019-10-08 07:30] kolja-lucht commented on #5306
I was wondering if this issue is still up for grabs? I'd be happy to help out here, since I'm looking for my first chance for an open source contribution :)

[2019-10-08 09:17] susanreenesaa commented on #6413
yes @chidexebere I am still having issues.  on completing to install dependencies. I have posted the issue on the public chat. though no feedback yet.  I am trying to set up the db using  (rake db:setup) command but i keep getting this error (Could not find nokogiri-1.10.4 in any of the sources) even after running `bundle install` to install missing gems.

[2019-10-08 09:18] susanreenesaa commented on #6413
![image](https://user-images.githubusercontent.com/49034794/66383419-a0603700-e9c5-11e9-9136-9ef0d5ead651.png)

[2019-10-08 13:46] nstjean opened #6420 "Tag page needs cleaning up"
I would really like to clean up [https://publiclab.org/questions/tag/question:general](url) but I want to make sure I know what the intention is! Once I get some direction I will handle this issue.

First I noticed that the Asked/Answered buttons at the top don't work - are they supposed to function the same as the "Recently Asked" and "Unanswered" tabs on [http://localhost:3000/questions/unanswer

[2019-10-08 15:16] nstjean commented on #6411
I'll try this out!

[2019-10-08 16:22] #3919 closed

[2019-10-08 16:58] jywarren opened #6421 "Clarify default ordering on /tag/_____ pages in UI"
We currently show pages like https://publiclab.org/tag/water-quality with content sorted by revision timestamp, descending, as in this code:

https://github.com/publiclab/plots2/blob/cc10a02951110f0fed4ae9c15da13c7817ae5e40/app/controllers/tag_controller.rb#L95

[code]

![image](https://user-images.githubusercontent.com/24359/66415966-cb00be80-e9ca-11e9-9758-6749e2b83413.png)

Let's turn "by views

[2019-10-08 17:06] nstjean commented on #6411
So to check in, what we are doing for that tag form is accepting whatever value is sent in and instead of loading it into the HTML form and submitting the form it is instead sending a POST request via AJAX, right?

`$.ajax({
      async: false,
      type: 'POST',
      url: $('#tagform').attr('action'),
      data: "name+" + tagname
    })`

The URL of the POST request I either have to grab from

[2019-10-08 18:38] jywarren opened #6424 "Show "x" to unfollow vs. "unfollow" button depending on page"
We recently made it possible to "unfollow" a topic from a topic card, by pressing the `x` in the upper right corner:

![image](https://user-images.githubusercontent.com/24359/66423096-f4c0e200-e9d8-11e9-863b-8723b76805bc.png)

This replaces the former button labelled `unfollow` (here, in an older screenshot, it says `unsubscribe`):

![image](https://user-images.githubusercontent.com/24359/66422208

[2019-10-08 18:49] crisner commented on #6206
@cesswairimu Thank you for adding me to the list! I got the go ahead on an issue on the leaflet environment layers repo and I am working on it. You can take my name off the list, Thanks.

[2019-10-08 18:51] cesswairimu commented on #6206
Awesome thanks for letting me know @crisner

[2019-10-08 19:10] cesswairimu commented on #6173
Hi @ebarry @jywarren, I am trying to reformat this to be a fto need some clarity though...The link we are editing is it `Add a wiki page` button in the screenshot about and from the example should it link to `/tag/microscope`? Thanks

[2019-10-08 19:47] cesswairimu commented on #6206
@Lisa-Caton here is an issue for you https://github.com/publiclab/plots2/issues/5795

[2019-10-08 19:58] cesswairimu commented on #6206
@pkayres  here is your issue https://github.com/publiclab/plots2/issues/5137

[2019-10-08 20:17] cesswairimu commented on #5191
@Linda-Ikechukwu, it seems like this is not  fixed yet..Go ahead and work on it. Thanks

[2019-10-08 21:25] briannadeg commented on #6413
I would like to do this please

[2019-10-08 21:56] #3868 closed

[2019-10-08 22:52] susanreenesaa commented on #6413
I have finished resolving the error. I am now working on the issue. Thanks for the help

[2019-10-09 00:23] danielwheeler1987 commented on #6424
Howdy, i can help with this?

[2019-10-09 05:53] saivoleti17 commented on #6206
Hi I'm new to Open source, looking for an FTO.

[2019-10-09 06:34] cesswairimu commented on #6206
Hi @saivoleti17 added your name to the list

[2019-10-09 06:43] vishakhanihore commented on #6206
Any issue for me?

On Wed, 9 Oct, 2019, 12:05 Cess, <notifications@github.com> wrote:

[2019-10-09 06:44] cesswairimu commented on #4916
This was fix. closing it. Thanks all

[2019-10-09 06:44] #4916 closed

[2019-10-09 07:25] cesswairimu commented on #6206
@JeffOgah here you go https://github.com/publiclab/plots2/issues/6080

[2019-10-09 10:50] susanreenesaa commented on #6413
I have created a pull request for the issue

[2019-10-09 11:05] chrisnorwood commented on #6206
I'd love to start contributing to open source.  Are there any issues I can work on?

[2019-10-09 11:44] pkayres commented on #5137
Hey thanks I'll take a whack at this!

[2019-10-09 12:14] Lisa-Caton commented on #5795
Hi there, I would like to take this issue (as a first-timers-only) :)

[2019-10-09 12:20] jywarren commented on #6424
That would be great, thank you!

On Tue, Oct 8, 2019, 8:24 PM Daniel Wheeler <notifications@github.com>
wrote:

[2019-10-09 12:34] IvetaHron commented on #5690
Hello, I am Outreachy applicant and I would like to work on this issue.  Can you assign this to me, please?

[2019-10-09 12:46] susanreenesaa commented on #6314
the issue was closed @discombobulateme

[2019-10-09 13:10] rkpattnaik780 commented on #5113
@sashadev-sky I am looking forward to work on this issue. What if we just increase the size of icons representing the expressions the current user has already reacted? We might need some extra data from back-end as well, I am not sure if the back-end is already checking whether current user has reacted to a given comment.

[2019-10-09 13:13] DanielKlys7 commented on #6206
I'd love to work on some open source in JavaScript and maybe in React!

[2019-10-09 15:08] cesswairimu commented on #5795
@Lisa-Caton go ahead its all yours

[2019-10-09 15:20] cesswairimu commented on #6395
Hi @moki298, I am not able to replicate this, could you please tell me which OS and browser you are using...or just give it a try again and let me know if the bug is still there? Thanks

[2019-10-09 15:34] moki298 commented on #6395
I can still see this happening in my browser. My environment details:
- Chrome Version: 77.0.3865.90
- Mac Version: macOS Sierra 10.12.6

You need to do a left mouse click on 'Get Involved' tab first and then hover your mouse on to 'About us' to recreate this.

[2019-10-09 18:12] namangupta01 commented on #6138
Hi @jywarren, I was digging into this. But found nothing wrong. Also, this not working on production but working on staging and unstable may be due to some other issue on the machine configuration or inbound traffic? What do you think?

[2019-10-09 19:07] jywarren commented on #6138
Hmm. @icarito, can we compare the nginx configuration to that on stable to
try to see why this isn't working?

On Wed, Oct 9, 2019, 2:13 PM Naman Gupta <notifications@github.com> wrote:

[2019-10-09 20:34] Lisa-Caton commented on #5795
great - I'll get started asap! Thanks so much.

[2019-10-09 21:21] anthony-zhou commented on #6305
Thanks - that makes sense. I've spent the past few days trying to install and run the project locally and I just got it to work.
However, when I try to add a tag, an error message is shown: "Incomplete response received from application." The tag is not added. Also, the site runs very, very slowly. Are these common problems and do you know a way I could fix them?

[2019-10-09 21:56] anthony-zhou commented on #6305
The site looks correct, although I wasn't able to add tags to the posts I made locally. I opened a pull request with my changes. Let me know if anything should be fixed or improved!

[2019-10-10 00:17] jywarren commented on #6199
Ah, the fix didn't work in profile pages but it did on /tags!

[2019-10-10 00:21] Diegoafv commented on #6206
Looking for one!

[2019-10-10 04:42] danielwheeler1987 commented on #6424
@jywarren I have a PR ready locally... can you grant me permission to push it up? Ty.

[2019-10-10 13:09] susanreenesaa commented on #5215
I am taking up this issue

[2019-10-10 14:18] saramace commented on #6206
I also would love to start contributing to open source! Let me know if there is anything I can do as a first issue.

[2019-10-10 14:24] debck opened #6435 "Remove "scroll to top" arrow key"
Please Note:  **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more**

### Problem

We can find that the scroll-to-top arrow key also appears when we are at the top of the page.
[here](https://publiclab.org/)

![Screenshot (21)_LI](https://

[2019-10-10 14:39] moki298 opened #6436 "Resolve rubocop lint offenses inside /app/helpers"
Referenced from #6340

To do:

Use rubocop to resolve the linting errors from the ruby files inside the /app/helpers directory
Check #6340 for more information

[2019-10-10 15:25] Lisa-Caton commented on #5795
I think I am stuck. When I did the pr it looks like my branch isn't passing checks with my submission. [https://github.com/publiclab/plots2/pull/6437](url) I've only added the 2 lines to the code. And when I ran `rubocop --require rubocop-performance` it ran without errors on my terminal. (`92 files inspected, 126 offenses detected`) Since I am able to run the working command locally, I'm not sure

[2019-10-10 16:27] nstjean commented on #6391
@deboragaleano Can you do a replace -> replace all in your text editor program? I know VSCode has that option.

[2019-10-10 18:53] JeffOgah commented on #6080
Made changes as requested. PR opened here https://github.com/publiclab/plots2/pull/6439

[2019-10-11 05:16] cesswairimu commented on #6400
Hi @Ruchika06 seems like you made a PR to your fork

[2019-10-11 05:22] cesswairimu commented on #5795
Hi @Lisa-Caton I will take a look

[2019-10-11 05:42] cesswairimu opened #6440 "Make stats page constistent"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-11 05:43] cesswairimu commented on #6206
@IvetaHron  here is an issue for you https://github.com/publiclab/plots2/issues/6440

[2019-10-11 06:31] cesswairimu commented on #6440
Reserved for @IvetaHron

[2019-10-11 06:40] lojosmit commented on #6440
Good day @cesswairimu. I am not sure I understand how this works? This is an open issue for all to action? Could you please elaborat?
if possible could you please review change and accept?

[2019-10-11 07:10] cesswairimu commented on #6440
Hello @lojosmit, sorry..we are having folks who are applying for Outreachy  and they have a deadline to beat so they ask here #6206 for a first-timer issue do that they can get started on the repo and have an equal chance. So we are creating issues specifically for them as they ask for one.

[2019-10-11 07:11] cesswairimu commented on #6440
But since you already worked on it its fine I will try and create another issue for @IvetaHron. No worries. Thanks @lojosmit

[2019-10-11 08:27] lojosmit commented on #6440
Apologies. I guess I should have asked first. I just got excited to see an issue which was not taken yet. But Thanks for allowing me to contribute.

[2019-10-11 08:29] lojosmit commented on #6206
Hi, if possible could I please be granted an issue to resolve. I would like to do this from the CLI to get used to running and commiting locally. Much appreciated.

[2019-10-11 11:38] IvetaHron commented on #6206
Hi @cesswairimu, thank you for creating a first-timers-only issue for me, but @lojosmit solved it already. Would you possibly have another one, that I can start working on it? Thank you.

[2019-10-11 11:55] lojosmit commented on #6440
@cesswairimu Could you please guide me on how to get the pull request into master branch?

[2019-10-11 12:23] Linda-Ikechukwu commented on #5047
I'll like to work on this issue seeing as no pull requests has been made. Can I?

[2019-10-11 13:46] jywarren opened #6444 "Add cache-busting string to comment moderation action"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-11 13:48] jywarren commented on #6206
Here is one for @vishakhanihore ! https://github.com/publiclab/plots2/issues/6444 Thank you!!!

[2019-10-11 13:48] jywarren commented on #6444
This is for @vishakhanihore ! Than you!

[2019-10-11 13:51] guptam123 commented on #6440
Hey, @cesswairimu can I work on the issue?

[2019-10-11 14:38] cesswairimu commented on #6440
Hi @guptam123, @lojosmit is working on this

[2019-10-11 14:43] cesswairimu commented on #6440
@lojosmit, there was a checkbox on opening a PR, I guess you deleted it...I will add it back on your Pull request for you and you can follow the steps as described...fell free to ping me if by any chance you need more clarity. Thanks

[2019-10-11 14:46] guptam123 commented on #6440
@cesswairimu I'm sorry, I have made a PR. Should I close the PR?

[2019-10-11 15:25] nstjean opened #6446 "Vertically center align menu button and title in header"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-11 15:29] nstjean commented on #6206
Here is one @shailzaa https://github.com/publiclab/plots2/issues/6446

[2019-10-11 15:31] nstjean commented on #6446
This is for @shailzaa :) Thank you!

[2019-10-11 15:56] shailzaa commented on #6446
Thanks. I'll start working on this.

[2019-10-11 16:56] ivaibhavkr commented on #6446
I'm really interested in this this issue. Can I claim it?

[2019-10-11 17:27] nstjean commented on #6446
Hi @ivaibhavkr ! Someone is already working on this issue, but you can sign up to get a first time issue here if you would like: https://github.com/publiclab/plots2/issues/6206 Thanks and welcome!

[2019-10-11 18:50] #6305 closed

[2019-10-11 19:20] SidharthBansal commented on #6238
I have made the eligible candidates as part of GCI group. In case you are not added yet, please feel free to contact me.

[2019-10-11 19:41] kyebrowning commented on #6206
I'd like to be added to the list. Open to anything but have familiarity with JavaScript, CSS and HTML if that matters.

[2019-10-11 20:05] deboragaleano commented on #6391
Hi @nstjean, yes sure, thanks for your message. I use VSCode so I'll try to a replace :)

[2019-10-11 20:32] cesswairimu opened #6449 "Remove old home page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-11 20:33] cesswairimu commented on #6449
This issue is created specifically for @IvetaHron

[2019-10-11 20:33] cesswairimu commented on #6206
@IvetaHron sorry about that...here is another issue https://github.com/publiclab/plots2/issues/6449

[2019-10-11 20:38] jon-flores commented on #6206
Hi there, I'm looking into some FTO issues. Would love to help contribute to open source projects.
Let me know if there's anything I can do!

Thank you

[2019-10-11 20:39] cesswairimu commented on #6206
Hello  @chrisnorwood, @DanielKlys7, @Diegoafv, @saramace, @kyebrowning @jon-flores. I have added your names in the list will try and get ypu issues as soon as possible. Welcome

[2019-10-11 21:00] cesswairimu commented on #6449
Sorry wrong repo

[2019-10-11 21:00] #6449 closed

[2019-10-11 21:12] cesswairimu commented on #6206
@saivoleti17 here https://github.com/publiclab/mapknitter/issues/1086. Thanks

[2019-10-12 06:16] SidharthBansal commented on #6238
This is the link to the GCI group https://github.com/orgs/publiclab/teams/gci/members
Please ping me if you are not a member. You will not get invites.

[2019-10-12 07:02] textuallyactive commented on #6206
Hey! Can you add me too? I'm quite new to OSS, though I've contributed a few times before. Thanks.

[2019-10-12 10:48] Lafexlos commented on #6206
Hey all! I'd love to be given an FTO issue, please.
Worked with GitHub but never contributed to open-source projects and created PRs before.

[2019-10-12 11:12] IshaGupta18 commented on #5004
We're going to open this up to new contributors -- thanks so much for your help, and please speak up if you'd like to continue! New contributors - this is now available to claim. Thanks, all!

[2019-10-12 11:12] IshaGupta18 commented on #6285
https://github.com/publiclab/plots2/issues/5004 here's one!

[2019-10-12 11:13] IshaGupta18 commented on #6285
https://github.com/publiclab/plots2/issues/5360 another one!

[2019-10-12 11:13] IshaGupta18 commented on #5360
We're going to open this up to new contributors -- thanks so much for your help, and please speak up if you'd like to continue! New contributors - this is now available to claim. Thanks, all!

Isha Gupta @IshaGupta18 Oct 05 23:16

[2019-10-12 11:14] IshaGupta18 commented on #5388
We're going to open this up to new contributors -- thanks so much for your help, and please speak up if you'd like to continue! New contributors - this is now available to claim. Thanks, all!

[2019-10-12 11:14] IshaGupta18 commented on #6285
#5338 is also open now I think!

[2019-10-12 14:56] anushtha1011 commented on #6206
hey i am looking for a First time issue and would like my name to be added to the list

[2019-10-12 16:10] anna-dorigo commented on #6306
Hi Guys!

I was finally able to submit the pull request. This is the final view of the UI:

<img width="1079" alt="Screen Shot 2019-10-12 at 11 48 13 AM" src="https://user-images.githubusercontent.com/1304609/66704356-298aad00-ece9-11e9-9065-2c7a5fa09988.png">

Fingers crossed everything will go smoothly!

P.D. my pleasure!! thank you so much for the opportunity!!

[2019-10-12 16:27] Anjalizi commented on #6412
@gauravano @SidharthBansal when will applications for google code in mentors be open?

[2019-10-12 16:49] #6306 closed

[2019-10-12 16:56] #5475 closed

[2019-10-12 17:42] jywarren commented on #6304
Hi, how is this coming along, did you need any help? Thanks!

[2019-10-12 20:56] anthony-zhou commented on #6421
I'd be interested in working on this issue. To clarify, does this mean there will be two separate dropdown menus next to each other, one showing showing 'by last updated' by default and the other showing 'by type'?

[2019-10-13 06:50] susanreenesaa opened #6454 "update dashboard.css by removing the empty rulesets"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-13 07:19] steric85 commented on #6454
Hello @susanreenesaa
I am interested in this issue. Can I claim it?

[2019-10-13 08:48] steric85 commented on #6454
@susanreenesaa Please review https://github.com/publiclab/plots2/pull/6455 :)

[2019-10-13 09:05] AdityaShD commented on #6121
is this issue still open? I would like to work on it.

[2019-10-13 10:06] ChamuMutezva commented on #6206
Looking for a First time issue. Preferably anything in the range of html, css, javascript, typescript and angular

[2019-10-13 10:23] Keecheril-Jobin opened #6456 "first-timer"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-13 13:22] susanreenesaa commented on #6395
i can also see that issue in my browser( using Google Chrome)

[2019-10-13 13:24] susanreenesaa commented on #6395
i would like to try and solve allocate it to me. Send me the route to the files to edit. thank you

[2019-10-13 14:04] ebarry commented on #6306
This looks so good! Thank you @anna-dorigo !

[2019-10-13 14:06] coolsonu39 commented on #6456
Hi, I want to work on this but not sure which file need to be updated. Can you please clarify?

[2019-10-13 14:08] ChamuMutezva commented on #6456
Hi. Can you please clarify a bit more , because i cannot pick what to do from the instructions

[2019-10-13 15:31] adinalini commented on #6456
Can I claim this?

[2019-10-13 18:01] anikerr commented on #6206
I am looking for an FTO, please. JavaScript would be awesome, but also happy to do HTML or CSS fixes. Thank you!

[2019-10-13 21:19] ericlarosa commented on #5914
@jywarren is help still needed here?

[2019-10-14 04:15] susanreenesaa commented on #6454
@steric85. Sorry for the delay. I don't have the right to merge your pull request. but if you are an outrechy applicant, you can ask your mentor to make a pull request or ask on the public channel.
@ishaGupta already reviewed your pull request so if you can access the merge button, click it to merge your request. if not ask for help as I suggested above. thanks

[2019-10-14 04:19] SidharthBansal commented on #6412
They are open

On Sat, 12 Oct 2019, 9:57 pm Anjali Jain, <notifications@github.com> wrote:

[2019-10-14 05:57] cesswairimu commented on #6395
Thanks @moki298... @susanreenesaa sure go ahead..The file is https://github.com/publiclab/plots2/blob/master/app/views/layouts/_header.html.erb. Thanks all

[2019-10-14 06:01] steric85 commented on #6454
@susanreenesaa Thanks for the response.
I don't have the access to merge. Also, I am not an outrechy applicant.
@IshaGupta18 Can you please help here?

[2019-10-14 06:20] auralshin commented on #6435
Is This issue Still open

[2019-10-14 06:38] auralshin commented on #6435
I am interested, want to claim it

[2019-10-14 06:44] cesswairimu opened #6461 "Add a windows installations"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-14 06:44] cesswairimu commented on #6461
@chrisnorwood Here is an issue

[2019-10-14 06:45] cesswairimu commented on #6206
@chrisnorwood here is one https://github.com/publiclab/plots2/issues/6461

[2019-10-14 06:53] cesswairimu commented on #6206
@Diegoafv, here is one in mapknitter https://github.com/publiclab/mapknitter/issues/1094

[2019-10-14 06:59] cesswairimu commented on #6206
@DanielKlys7 here is one https://github.com/publiclab/Leaflet.DistortableImage/issues/409. Leaflet.Distortable project is pure js and you could find more js issues there...I don't think we have a react project yet but there are a bunch of js ones. Or you can browse on plots2 for issues with the tag `javascript` .Thanks

[2019-10-14 08:21] mai-am commented on #6461
Hi, can I complete this task? :)

[2019-10-14 08:27] cesswairimu commented on #6461
@mai-am, this one is assigned..

[2019-10-14 09:29] Anjalizi commented on #6412
how can I apply to become one?

[2019-10-14 11:27] chrisnorwood commented on #6461
Excellent! I'll hop on this a couple hours when I finish up work ! Thanks a bunch :)

[2019-10-14 11:29] pydevsg commented on #6456
@Keecheril-Jobin what kind of issue are you going to solve in this, can you specify it would be better for the first timers.

[2019-10-14 12:52] #6456 closed

[2019-10-14 14:14] snpd25 commented on #5615
@jywarren , can I work on this?

[2019-10-14 14:35] snpd25 commented on #5908
@jywarren , I would like to work on it. But will require some help to get started on it. Thanks :)

[2019-10-14 15:15] nstjean commented on #6390
Hi, I'd like to work on this. :)

[2019-10-14 18:29] SidharthBansal commented on #6412
Just solve any 3 issues.
You can start with FTOs

On Mon, Oct 14, 2019 at 2:59 PM Anjali Jain <notifications@github.com>
wrote:

[2019-10-14 18:40] SidharthBansal commented on #6435
@auralshin go ahead!

[2019-10-14 18:44] rajatagarwal457 commented on #6461
claiming

[2019-10-14 18:45] megha070 commented on #6399
@jywarren I would like to take this up.

[2019-10-14 18:55] megha070 commented on #6206
Hey All!
I am looking for some FTO issues, kindly assign me one.

[2019-10-15 03:43] Anjalizi commented on #6412
I have solved 2 issues in the past namely #5025 and #5012. will it be acceptable if I just solve a third one?

[2019-10-15 04:07] SidharthBansal commented on #6412
Just ensure them to be in October month.
Date of raising all prs should be Oct.

On Tue, 15 Oct 2019, 9:13 am Anjali Jain, <notifications@github.com> wrote:

[2019-10-15 05:16] yagosansz commented on #6206
Hello,
Any FTO issues up for grabs?

Thanks!

[2019-10-15 06:12] aman-k334 commented on #6206
Hey ! I would like to work on FTO issue too.

[2019-10-15 09:37] cesswairimu opened #6470 "Weekly Community Check In 36: Create a first-timer issue"
#### Hi everyone :wave:

We all at Public Lab :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past we

[2019-10-15 09:39] cesswairimu commented on #6470
@gauravano@milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012@SidharthBansal @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18@CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23@ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publi

[2019-10-15 09:44] cesswairimu commented on #6470
@ananyaarun @ananya @publiclab-mimi @ananya @hc-barker @starkblaze01 @asquare@pdurbin @HarshKhandeparkar@newbazz @aSquare14 @vaarigupta @alonpeer @aashna27 @harshithpabbati @jesus-montano@cryptoclidus @mohamed-elalem @konolga @gowtham5699@jywarren @ebarry @steviepubliclab @StlMaris123,  @tauhir, @augustozanellato, @nstjean, @stefanosu, @alexido19, @Akashutreja, @fadib, @skai-ste, @mahimahans111, @

[2019-10-15 10:20] saivoleti17 commented on #6206
Can i have any FTO issue?

[2019-10-15 10:42] elshaek commented on #5004
Hi, I would like to work on this, but looking at a previous comment, it seems like the code is not in the codebase. How can I get access to the code?

[2019-10-15 10:45] vaibhavmatta commented on #6470
Hello all.!
I am Contributing since 1.5 months at Publiclab Image Sequencer.
Right now I am working on New modules i.e.
1. Sharpen Image Module
2. Radial Blur Module
3. Cartoonify Image Module
Simultaneously, I am studying about Plots2 as well and planning to start Contributing in this project as well.

Goals for this week :
1. Make PR for atleast two modules I am working on.
2. Find out more bugs

[2019-10-15 11:27] vaibhavmatta commented on #6238
@SidharthBansal @jywarren @gauravano
I am already Contributing at Publiclab, do I need to follow all the steps to get mentorship invite or should I just fill the form for application?
Thanks

[2019-10-15 12:24] SidharthBansal commented on #6238
Please fill the form

On Tue, 15 Oct 2019, 4:57 pm VAIBHAV MATTA, <notifications@github.com>
wrote:

[2019-10-15 12:26] vaibhavmatta commented on #6238
@SidharthBansal What should I fill in the place of required links for FIRST TIMERS ISSUE and HELP WANTED ISSUES..! I haven't worked on issues SPECIFICALLY. I just take and random issue, Claim it and start working on it.

[2019-10-15 12:28] SidharthBansal commented on #6470
Vaibhav it's really nice to see your enthu for GCI. I really appreciate the work you are doing as Image Sequencer
You can fill the form with details.
It will be really great if you can open up as many ftos as you can for GCI and general public.
We want 150+ unsolved ftos asap. Ftos can be in any pl repo.

[2019-10-15 12:31] vaibhavmatta commented on #6470
@SidharthBansal
Alright, I should focus on Making FTO issues now. I've already made a list for all the new ftos I observed while working on Project.
I am filling the form and I think I should not solve any first timer only issue in order to clear mentor requirements and I should only focus on Completing the target of 150+ new ftos.
Please add me to Mentor's Group.

email : er.vaibhavmatta@gmail.co

[2019-10-15 12:37] SidharthBansal commented on #6238
Are 2 prs merged?
Have you created a fto issue. If not go ahead and create one

On Tue, 15 Oct 2019, 5:56 pm VAIBHAV MATTA, <notifications@github.com>
wrote:

[2019-10-15 12:38] SidharthBansal commented on #6470
Please fill the mentorship form. Will add you soon.

On Tue, 15 Oct 2019, 6:01 pm VAIBHAV MATTA, <notifications@github.com>
wrote:

[2019-10-15 12:41] vaibhavmatta commented on #6238
@SidharthBansal
I've already created 3 fto issue. Will be creating 2 more today.!
By now, I was performing tests on other's prs and giving reviews and making new issues. I am already working on three new modules and they are really time taking. No PRs made till now from my side.

[2019-10-15 12:44] vaibhavmatta commented on #6238
It's been 2 months since I am researching on those modules.. I can't leave them in between. They will bring more ftos with them.

[2019-10-15 12:48] vaibhavmatta commented on #6470
Alright.! Should I write NULL in the place of 'First time issue solved' and 'Help Wanted Issue solved' because I think it is for the new members applying for Mentorship ryt?

[2019-10-15 12:59] vaibhavmatta commented on #6238
@SidharthBansal
No matter how much time these modules are taking but I can ensure that these Contributions will be QUALITY CONTRIBUTIONS.

I don't want to break that flow of working on Image Processing Modules. Still if you want me to focus on Quantity and make atleast two PRs before the Mentorship Deadline, It would be okay with me.

[2019-10-15 13:06] Him010 commented on #6206
Hey I am looking for FTO issues, thanks

[2019-10-15 13:23] cesswairimu commented on #6440
yes please @guptam123 , there is another PR of the same fix. Please look for another issue u an't find one ping me...Thanks

[2019-10-15 13:40] SidharthBansal commented on #6238
I can understand your concern. But rules are same for everyone. 2prs are
needed in any pl repository so that we know you have contributed and have
gone through entire workflow.
Regulations are uniform for all contributors. I hope you will not mind in
submitting two small prs. That will take less time I guess.

On Tue, 15 Oct 2019, 6:30 pm VAIBHAV MATTA, <notifications@github.com>
wrote:

[2019-10-15 13:40] SidharthBansal commented on #6238
You can write your previous prs. If no prs yet from all times then please
do 2 prs.
I know it's wierd. But this is min threshold for technical mentors.

On Tue, 15 Oct 2019, 7:09 pm Sidharth Bansal, <bansal.sidharthcode@gmail.com>
wrote:

[2019-10-15 13:41] SidharthBansal commented on #6470
You have to tell the link to the prs.

On Tue, 15 Oct 2019, 6:18 pm VAIBHAV MATTA, <notifications@github.com>
wrote:

[2019-10-15 13:58] megha070 commented on #6412
@SidharthBansal can you please assign me some FTO issue?

[2019-10-15 16:06] pydevsg commented on #6238
@SidharthBansal I have filled the form.Can you please add me to that group.

[2019-10-15 16:15] SidharthBansal commented on #6238
Sure

On Tue, 15 Oct 2019, 9:36 pm Sudipto Ghosh, <notifications@github.com>
wrote:

[2019-10-15 16:17] pydevsg commented on #6238
Thanks @SidharthBansal

[2019-10-15 16:36] pydevsg commented on #6470
Great @vaibhavmatta , I was going through image-sequencer and will soon contribute with you in this project. I will look upon few modules and will create some ftos in  it.

[2019-10-15 16:46] vaibhavmatta commented on #6470
@pydevsg Sure Mate.! We really need contributors in Image Sequencer. Have a look on its readme.md and Contributing document. Study about image processing algorithms on net. Feel free to DM me on Gitter or Tag me anytime you need help. I will send you some links which can help you alot.

[2019-10-15 16:58] ebarry opened #6473 "Remove hard redirect from /wiki/games"
### Please describe the problem (or idea)

I was attempting to create a lead wiki page for https://publiclab.org/tag/games. The "Learn More" button should lead to https://publiclab.org/wiki/games but instead it goes to the page https://publiclab.org/getting-started . This is strange behavior.

Please figure out what is causing the hard redirect from https://publiclab.org/wiki/games to https://publ

[2019-10-15 16:59] ebarry opened #6474 "Change one piece of content from "question" to "note" type"
can we change this from a "question" type of content to a note? https://publiclab.org/questions/maxliboiron/07-19-2018/how-to-analyze-plastics-forensically

Thank you!

[2019-10-15 17:04] ebarry opened #6475 "Fix image size so that sidebar is not printed on top of image"
### Please describe the problem (or idea)

Images are being displayed too large on our website, such that the sidebar is being printed on top of them. Example:
<img width="1180" alt="screen_shot_2019-10-15_at_12 31 33_pm" src="https://user-images.githubusercontent.com/161439/66852994-470b8100-ef4c-11e9-8fec-167e029191b6.png">

### Please show us where to look

https://publiclab.org/questions/maxli

[2019-10-15 17:54] nstjean commented on #6470
Hi! I'm really happy to be here! So far I've opened two FTO issues. Right now what I'm working on are these two PRs: https://github.com/publiclab/plots2/pull/6422 and https://github.com/publiclab/plots2/pull/6472 . It's been a good challenge for me, and I've learned a lot about Rails, system tests, and ActiveRecord queries. I do need some info before I can move forward with them, however. Hopefull

[2019-10-15 18:06] vaibhavmatta commented on #6470
@nstjean it's really nice. You are on the right path. Just a tip for you, Focus on Quality Contributions over Quantity Contributions.

Please open as many fto issues as you can.

Rest, you can ping me up on gitter or tag me up wherever you feel stuck.
Happy Coding.!

[2019-10-15 18:20] pydevsg commented on #6470
Sure @vaibhavmatta :+1:

[2019-10-15 18:42] #6440 closed

[2019-10-15 18:42] ebarry opened #6476 "Banned user still showing up as a "top answerer""
### Please describe the problem (or idea)

I was on this page: https://publiclab.org/questions/pataxte/11-14-2018/any-pole-photos-of-community-gardens and saw a profile name in the sidebar that turned out to be a banned user:

<img width="1182" alt="Screen Shot 2019-10-15 at 2 39 27 PM" src="https://user-images.githubusercontent.com/161439/66859702-ceabbc80-ef59-11e9-9c89-6e0b1e7243ba.png">

I exp

[2019-10-15 18:45] #6461 closed

[2019-10-15 19:39] IvetaHron commented on #6391
Hi @deboragaleano, do you need any help with this issue?

[2019-10-15 20:44] ebarry opened #6477 "Short code to make a button deletes the rest of page content"
### Please describe the problem (or idea)

I added the short code to make a button `[button:Post Your Event!:https://publiclab.org/post?template=event&tags=event&title=Event+name+and+time]` which worked great except that it deleted the rest of the page content!

Example:
<img width="1044" alt="Screen Shot 2019-10-15 at 4 39 23 PM" src="https://user-images.githubusercontent.com/161439/66868071-a416

[2019-10-15 22:19] aisayo commented on #6206
Hello, I am a beginner and would like to find FTO issues, Thank you!!

[2019-10-16 04:31] sashadev-sky commented on #6278
sorry for the delay! just added you guys to all the docs @pydevsg @CoderJolly
@SidharthBansal I think we were trying to avoid having it public, but pretty sure anyone can invite anyone else to it. 40 points seems a little unfair, also assuming you are referring to an `impossible` issue I wouldn't go higher than 15pt (hard x 3). I bumped it up to that in the doc!

[2019-10-16 05:41] pydevsg commented on #6278
Thanks for adding me to the docs.
I think we should atleast provide 10 points for the `hard` issues .
Apart from that I think the naming convention should be changed from `impossible` to other tag.If a GCI student solves some `easy` issues and then check there are some `impossible` issues then surely he would be afraid and would take away himself/herself from trying it.
Correct me if I am wrong so

[2019-10-16 05:46] pydevsg commented on #6278
The `impossible` issues can be renamed to `technical_features` issues or some relevant but not `impossible` . Would like to have opinions on this from others as well. @SidharthBansal , @CoderJolly , @newbazz @IshaGupta18

[2019-10-16 07:24] SidharthBansal commented on #6278
Hi Sudipto. Thanks for your concern about the nobody willing to take the
impossible tasks.
They were proposed to be named as impossible as the existing community
couldn't solve it. They are not necessarily features. So technical features
will be inadequate label.

Regarding points, I think there should be fair difference bw points.
Impossible specially should have 2x hard score as nobody will be a

[2019-10-16 08:37] newbazz commented on #6278
Yes, I also dont think that renaming the issues will help. Renaming will not change the nature of the issue, but yes i think we can partially give them points for the `impossible` issues.

[2019-10-16 09:36] CoderJolly commented on #6278
Thanks for the access @sashadev-sky. 😄 👍 🎉

[2019-10-16 10:00] deboragaleano commented on #6391
Hi @IvetaHron, I've been having issues with my computer so this may take a while. If you want to go ahead, please do ;)
Thanks!

[2019-10-16 13:09] pydevsg commented on #6352
@shiv-1998 please provide a screenshot and complete the issue.

[2019-10-16 13:46] bbborisk commented on #6340
I would like to start work on #6417 if it is OK?

[2019-10-16 13:50] newbazz commented on #6340
you can comment on that issue, and wait for the current assignee to get back to you.

[2019-10-16 13:51] bbborisk commented on #6340
Thanks!

[2019-10-16 13:51] bbborisk commented on #6417
Hello! Could i contribute as well?

[2019-10-16 14:06] #6413 closed

[2019-10-16 16:02] boolean5 commented on #6206
Hi all, I am an Outreachy applicant and I'm very interested in Public Lab's project. I would also like to work on an FTO issue if that's possible. Thanks in advance.

[2019-10-16 16:30] Anjalizi commented on #6446
could you please assign me an FTO?

[2019-10-16 16:41] moki298 commented on #6417
@bbborisk sure go ahead and create a PR.

[2019-10-16 17:44] jywarren opened #6481 "Change button text color to white"
![Screenshot_20191016-134205](https://user-images.githubusercontent.com/24359/66944281-e008cd80-f01a-11e9-891d-bfdf1c7c88a5.png)

Here the Follow button in the drop-down has black text but it should be white. Would someone be willing to make this change or to craft a first timers only issue from it?

****
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.

[2019-10-16 17:47] jywarren commented on #6481
The file for this should be in:

https://github.com/publiclab/plots2/blob/master/app/views/tag/_dropdown_subscribe.html.erb

And it's viewable on pages like: https://publiclab.org/tag/dust

[2019-10-16 17:51] jywarren opened #6482 "Use clear:both css to stop text collision"
This occurs on pages like https://publiclab.org/tag/dust :

![Screenshot_20191016-134418](https://user-images.githubusercontent.com/24359/66944615-85bc3c80-f01b-11e9-9c15-36152c2c42ff.png)

The code for this is right around here:

https://github.com/publiclab/plots2/blob/2852f71d63a14912b4700db3d1d8874be95327ce/app/views/tag/show.html.erb#L61

****

This has been marked as a good candidate for bec

[2019-10-16 17:58] ebarry commented on #6360
Thank you so much @amilaneni99 !!! I really appreciate it!
I just read the PR thread and wish to thank you and @seabl both for making this happen!

[2019-10-16 18:04] jywarren commented on #6482
Another way to do this would be to use a narrow Bootstrap row, and the `col-6` classes in the [Bootstrap grid system](https://getbootstrap.com/docs/4.3/layout/grid/), to get the left-hand and right-hand features to stack nicely on narrower screens.

[2019-10-16 19:04] steviepubliclab opened #6483 "questions and research notes with comments left justified and condensed on bottom"
Hello!
I'm working in a chrome browser Version 77.0.3865.120 (macOS Mojave 10.14.6). On all the Research Notes that have any comments on the bottom, if my screen is pulled out to full window size, the text underneath the comments is left justified and condensed into a single narrow column.  For example on this page:
https://publiclab.org/questions/nstarli/10-08-2019/bad-ndvi-results-from-pi-noir-w

[2019-10-16 19:28] IvetaHron commented on #5360
Hi, I would like to work on this issue. Could you please assign it to me?

[2019-10-16 19:41] IvetaHron commented on #6391
Hi @deboragaleano, thank you. I will start to work on it tomorrow. I will keep you posted.

[2019-10-16 21:23] simonastefan commented on #6476
The banned user also appears in the comments. Should the user comments be removed as well?

[2019-10-17 13:30] nstjean opened #6484 "Use bootstrap columns to stop text collisions on small screens"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-17 13:31] nstjean commented on #6484
This is a re-post of issue https://github.com/publiclab/plots2/issues/6482 as a FTO

[2019-10-17 13:32] nstjean commented on #6482
This has been re-posted here https://github.com/publiclab/plots2/issues/6484
@publiclab/reviewers this can be closed.

[2019-10-17 13:51] phoenixking25 commented on #6481
@jywarren I want to work on this!

[2019-10-17 13:52] IshaGupta18 commented on #6481
Go ahead!

On Thu, Oct 17, 2019, 7:21 PM Anuj Sharma <notifications@github.com> wrote:

[2019-10-17 13:58] nstjean commented on #6206
@kyebrowning Here's one for you https://github.com/publiclab/plots2/issues/6484

[2019-10-17 13:58] nstjean commented on #6484
Given to @kyebrowning

[2019-10-17 14:34] phoenixking25 commented on #6484
interested

[2019-10-17 14:46] jywarren commented on #6482
Thank you!!

[2019-10-17 15:05] davemenninger commented on #6340
Should we be looking at everything in the `.rubocop_todo.yml` or just what `.rubocop.yml` reports?

`rubocop -c .rubocop_todo.yml -a` fixes a large proportion of issues automatically...

[2019-10-17 15:24] stefanosu commented on #6470
Hi, all is it possible to work on more than one issue at a time? If so I would like to work on another issue thank you very much.

[2019-10-17 15:30] pydevsg commented on #6470
Ask the issue creator and reviewers to review your first issue @stefannibrasil , if its alright then you can work on the second.

[2019-10-17 15:50] nstjean opened #6486 "Fix users page dropdown alignment"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-17 15:51] nstjean commented on #6206
@saramace Here's an issue for you: https://github.com/publiclab/plots2/issues/6486

[2019-10-17 15:51] nstjean commented on #6486
Reserved for @saramace

[2019-10-17 16:20] nstjean commented on #6446
Hi @Anjalizi ! The best place to find a FTO is in this thread: https://github.com/publiclab/plots2/issues/6206 If you post your request there they will add you to the list!

[2019-10-17 17:01] SidharthBansal commented on #6470
If Stefanos is done with the issue and it is not yet reviewed. Then however
you can take second issue.
Thanks

On Thu, Oct 17, 2019 at 9:01 PM Sudipto Ghosh <notifications@github.com>
wrote:

[2019-10-17 17:03] SidharthBansal commented on #4120
@Linda-Ikechukwu go ahead.

[2019-10-17 18:28] IvetaHron commented on #6470
Hello everyone! My name is Iveta and I am Outreachy applicant too. I am very happy to be here and I would like to contribute to the project as much as I can. It is my first time ever contributing to the project, so it feels confusing a little bit, but community here is amazing and very supportive. I have made my first PR and I am looking forward to work on this project more.

[2019-10-17 18:43] IvetaHron commented on #6285
Hello everyone! My name is Iveta and I am Outreachy applicant. I am happy to be here and be part of this awesome and helpful community. I am new to PublicLab, as I am new to GitHub in general too. I am looking forward to make my contributions to the project.

[2019-10-17 19:40] pydevsg commented on #6470
I will reference here or comment on some issues to help you till then go through `first-timers-issues` and  `help wanted` issues. @stefanosu :)

[2019-10-17 19:42] pydevsg commented on #6470
Great @IvetaHron . Feel free to ask questions when you need to me as well as in the gitter channel.

[2019-10-18 00:27] saramace commented on #6486
Thanks! I will work on this tomorrow night! I look forward to contributing

[2019-10-18 07:59] vaibhavmathur13 commented on #6475
I would like to work on this issue. Could you assign me this?

[2019-10-18 15:43] susanreenesaa commented on #6395
okay @cesswairimu . let me give it a try. thanks

[2019-10-18 16:39] sudoshweta commented on #6285
Hi everyone! I am Shweta Singh, recent graduate from IIT Roorkee, India. I am an Outreachy Applicant. I want to contribute to this project.

[2019-10-18 16:45] SidharthBansal commented on #6285
Oh great Shweta. You can start with FTO

On Fri, Oct 18, 2019 at 10:09 PM Shweta Singh <notifications@github.com>
wrote:

[2019-10-18 17:18] ananya218 commented on #6415
Can I work on this as my first OSS contribution ??

[2019-10-18 18:20] reginareynolds commented on #6206
Hi, I've dabbled in open source before but I haven't contributed to this codebase yet. I would also like to throw my name into the hat of people looking to get a FTO issue! 😄

[2019-10-19 07:47] ivaibhavkr commented on #6206
Hi!
I'd like to contribute to an FTO issue.
Kindly add me to the list.

[2019-10-19 08:18] jywarren opened #6493 "Add links to Contributors and Followers on tags pages"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-19 09:39] luksari commented on #6493
Hi, can I claim it to contribute to this issue?

[2019-10-19 09:40] #6454 closed

[2019-10-19 11:22] vaibhavmathur13 commented on #6475
@gauravano @IshaGupta18

[2019-10-19 11:28] vaibhavmathur13 commented on #6475
@ebarry Are you still working on this issue?

[2019-10-19 11:38] debck opened #6494 "Remove the empty ruleset from style.css"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-19 11:45] mihdas commented on #6494
Hi! Would love to work on this!

[2019-10-19 11:45] #6484 closed

[2019-10-19 11:48] mihdas commented on #6494
@debck

[2019-10-19 11:50] debck commented on #6494
Yes sure @mihdas . Go ahead

[2019-10-19 11:58] mihdas commented on #6494
@debck opened a pull request for your review

[2019-10-19 12:41] susanreenesaa opened #6496 "adding dropDown arrow on Nav dropdown links"
continuation of pull request #6395
**FOCUS AT THE PUBLICLAB NAVBAR **
**mainly at Get Involved** and **About Us  page links**
currently, the webpage at http://localhost:3000 or https://publiclab.org/  looks like below
![image](https://user-images.githubusercontent.com/49034794/67144241-5d337d00-f27d-11e9-9984-052b4dbeb5f9.png)
But it would be great if the viewer is to be able to know that the navb

[2019-10-19 13:58] teemukaaria commented on #6493
Hi @jywarren , could I claim this?

[2019-10-19 14:32] cesswairimu commented on #6206
Sorry guys, I was not able to use my laptop, out of charge, new country, different sockets, charger not compatible :expressionless: ...Anyway,thanks all for getting the ftos going @nstjean :+1: , will add the new names to the list . Thanks all

[2019-10-19 14:44] lucasnogueira commented on #6493
Hi @teemukaaria, did you start to work on it already? I had but I forgot to comment here LOL. If you have already no worries though, I will grab another one :)

[2019-10-19 15:12] teemukaaria commented on #6493
@lucasnogueira Yeah, I kind of already started working on this, but if you already have the complete solution just go ahead and make a pull request.

[2019-10-19 15:28] debck commented on #6475
@vaibhavgeek You can work on this.

[2019-10-19 16:01] Sanatan-Shrivastava commented on #6493
Hi @jywarren , I am interested in fixing this, please acknowledge me with the links to followers and contributors page.
Is this the correct link to followers page?
Link: https://publiclab.org/contributors/followers

[2019-10-19 19:25] cesswairimu commented on #6494
Awesome @debck :heart:

[2019-10-19 21:02] cesswairimu opened #6498 "Correct grammar typo in windows installations."
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-19 21:02] cesswairimu commented on #6498
@boolean5  here is an fto for you. Thanks

[2019-10-19 21:08] cesswairimu commented on #4603
Closing this...we are at a better display and also same discussion going on here https://github.com/publiclab/plots2/issues/5260. Thanks all

[2019-10-19 21:08] #4603 closed

[2019-10-19 21:26] cesswairimu commented on #6470
Thanks all for the awesome work you are doing :tada:
#### A note to the Outreachy applicants
Remember to also record your contributions on the Outreachy website too...I know most of you have already worked on a first-timer issue, If you need more explanation on a second issue that you have identified feel free to ping the author or any of the mentors so we can support you as much as possible and g

[2019-10-19 22:18] saramace commented on #6486
I think I fixed it and it is ready for review. Let me know if I messed up, and I can try and fix it.

#6492

[2019-10-20 03:33] IshaGupta18 commented on #6454
I am so sorry I missed this mail, hope this is resolved now? Feel free to
text me on Gitter for help too!

On Sat, Oct 19, 2019, 3:10 PM Harman Jolly <notifications@github.com> wrote:

[2019-10-20 05:41] tuannyruiz commented on #6498
Can I get this one? :)

[2019-10-20 06:59] auralshin commented on #6496
I want to take this

[2019-10-20 08:42] satcasm commented on #6498
i want to contibute

[2019-10-20 08:46] satcasm commented on #6498
have you opened a pull request??

[2019-10-20 08:50] satcasm commented on #6498
I was to contribute in it.. can I??

[2019-10-20 09:16] #6486 closed

[2019-10-20 09:43] #6493 closed

[2019-10-20 10:27] cesswairimu commented on #6498
Hi @satcasm, @tuannyruiz is already working on this one.. Thanks

[2019-10-20 10:38] satcasm commented on #6498
@cesswairimu actually I am a complete noob . So can you please tell me how can i help @tuannyruiz or contribute in it... :)

[2019-10-20 11:13] jywarren opened #6501 ""Feature maintainers" groups to collaboratively manage site features"
We've been working towards a more shared model of maintainer responsibilities, and I've been discussing this on and off with folks like @cesswairimu @IshaGupta18 @gauravano @SidharthBansal and @sashadev-sky, some of us especially in the last few days.

Here at the Google Summer of Code mentor summit, I learned of a cool feature in GitHub called Code Owners, which can automatically generate a revie

[2019-10-20 11:16] jywarren commented on #6501
Each team might have it's own "mission" and "priorities" even - like, for commenting:

* ensure commenting is error-free
* improve and refine commenting
* maintain commenting from a mobile phone
* maintain comment-by-email
* simplify and clean commenting code

Commenting might have its own label as well. But the primary responsibility would be to merge comment-related PRs.

[2019-10-20 11:23] cesswairimu commented on #6498
No worries @satcasm... seems like @tuannyruiz already completed the task...I will add your name [here](https://github.com/publiclab/plots2/issues/6206) and ping you when I get a first timer  issue that you can work on. Welcome to PublicLab :smile:

[2019-10-20 11:25] jywarren commented on #6501
So that we better understand how the system works, I set up @publiclab/comment-maintainers and added @cesswairimu and we will try it out to understand the limitations and features the CODEOWNERS system has (PR at https://github.com/publiclab/plots2/pull/6502/)

[2019-10-20 11:44] susanreenesaa commented on #6496
@auralshin. this is a first-timer only issue. so if u have solved other first-timer issues before, you may leave it for a first-timer on the publiclab platform. but if you would like to take it, I dont have the right to assign it to you so copy the URL and ask in the group chat for someone to assign it to you. thanks

[2019-10-20 11:53] cesswairimu commented on #6206
@jon-flores here is one https://github.com/publiclab/mapknitter/issues/1098

[2019-10-20 12:54] satcasm commented on #6498
gracias

[2019-10-20 12:59] preetiy commented on #6206
Hello! I would like to contribute to the FTO issues. Please add me to one.

[2019-10-20 14:01] #6498 closed

[2019-10-20 14:03] #6080 closed

[2019-10-20 14:45] boolean5 commented on #6206
Hi @cesswairimu, you suggested issue #6498 for me but someone got there before me and resolved it. Can you please remove the check next to my name on the list, as I'm still waiting for an FTO? Thanks!

[2019-10-20 15:05] jywarren commented on #6475
Hi @vaibhavmathur13 we'd love your help here. We usually have a css max width set but maybe it's not set up like that on the questions page template? Maybe best to compare to the regulate notes template which I don't think suffers from this issue!

[2019-10-20 16:07] susanreenesaa commented on #6496
hello @auralshin. ask anyone in the group chat to help you review the issue so that you can merge it

[2019-10-20 16:32] susanreenesaa commented on #6501
I think that this is a great idea. because we will be assured that every merged PR has no effect on the project's code. I am basing this on the fact that I have just join open-source software (public lab). but I realized that when I assign my self an issue (first-timer
-only), then I also have the right to merge PR after its revied( though I am not sure if also before being reviewed I can merge it

[2019-10-20 16:44] cesswairimu commented on #6481
Yeah the text is already white...also on the the live site. Or maybe its support for a different browser? I tried with firefox and chrome

[2019-10-20 17:43] AdityaShD commented on #6473
Hello @ebarry , Can i work on this issue?
Thanks

[2019-10-20 17:49] AdityaShD commented on #6473
Can someone assign me the issue please:)

[2019-10-20 18:29] phoenixking25 commented on #6481
@cesswairimu i used firefox. If you also tried it on chrome then it needs to be tested just only for IE and safari. But i am using ubuntu can't do that.

[2019-10-20 19:34] AxelleDRouge commented on #6494
hi I would like to work on this, is this still open?

[2019-10-20 20:48] susanreenesaa commented on #6483
I would like to solve this bug. but I need more information on what is expected. for example, is the output supposed to be full screen  (output related to questions and the buttons on the page)?
then I also realized that related questions do disappear when the screen is minimized. are they supposed to be displayed on that page

[2019-10-20 20:49] susanreenesaa commented on #6483
I want to give it a try. if I fail, I will ask for help. so assign it to me, please

[2019-10-21 07:07] himanshunikhare commented on #6494
Is this still open?

[2019-10-21 11:24] debck commented on #6494
The issue is already solved in #6495

[2019-10-21 11:24] #6494 closed

[2019-10-21 12:03] debck commented on #6481
Yes, I tried with safari and it was black.

[2019-10-21 14:20] nstjean commented on #6501
Oh I really like this idea! I think organizing by function rather than folder is a better approach, because like you said it allows the group to really be familiar with the full stack of that section and best understand how it all works together. It's easier for someone to be an "expert" on a small section rather than waiting for them to become familiar with the entire codebase.

[2019-10-21 14:40] rojasTob commented on #6206
Hi. I would like to contribute. Is there an FTO issue available? Please, assign me to one.

[2019-10-21 14:48] rojasTob commented on #6415
Hi @jywarren. This issue is still opened, Can I work on this?

[2019-10-21 15:10] rojasTob commented on #6436
Hi. Can I take this one?

[2019-10-21 15:32] rojasTob commented on #6483
Hi @steviepubliclab Can I work with this one?

[2019-10-21 17:24] jywarren commented on #1621
Initial start at #6508!

[2019-10-21 18:14] moki298 opened #6509 "Resolve rubocop lint offenses inside /app/mailers"
Referenced from #6340

To do:

Use rubocop to resolve the linting errors from the ruby files inside the /app/mailers directory
Check #6340 for more information

[2019-10-21 18:16] moki298 commented on #6436
@rojasTob this is work in progress here #6442, please check #6509 a similar issue or feel free to work on other available issues of your interest.

[2019-10-21 19:38] rojasTob commented on #6509
Hi @moki298. I'm going to work on this one.

[2019-10-21 20:14] ebarry commented on #6475
Thank you @vaibhavmathur13 for working on this!

[2019-10-21 20:44] susanreenesaa opened #6511 "Inactive fa fa-eye icon on login page and popup screen"
The fa fa-eye icon on both the login page and popup screen is inactive( it doesn't not show any effect when clicked nor does it show the password)
**url**
http://localhost:3000/login# and http://localhost:3000/login
or
https://publiclab.org/login and https://publiclab.org/login#
![image](https://user-images.githubusercontent.com/49034794/67241290-d4266c80-f45b-11e9-8e8c-d40e6574d248.png)
![image](

[2019-10-22 09:58] aman-k334 commented on #6470
Hey,I also wanted to contribute to FTO issues. Can I get assigned to any open FTO Please.

[2019-10-22 11:41] cesswairimu commented on #6481
@debck, would you be interested in fixing this, since some of us cannot replicate?. Thanks

[2019-10-22 14:58] vaibhavmatta commented on #6470
@aman-k334 We would love to have your Contributions. You can pick up any FTO issue and ask if anyone is already working on it. If no one else claimed that issue, just put a comment that you want to claim it and start working on the issue.
Thanks 😊

[2019-10-22 16:04] debck commented on #6481
sorry @cesswairimu But I am a windows OS user. I just checked the error from one of my friends MacOS.

[2019-10-22 16:20] nstjean opened #6516 "Fix icon hover color on "like" buttons"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-22 16:23] nstjean commented on #6206
Here's one for @textuallyactive https://github.com/publiclab/plots2/issues/6516

[2019-10-22 16:24] nstjean commented on #6516
This is reserved for @textuallyactive

[2019-10-22 16:29] ebarry opened #6517 "hashtags being read strangely on previews shown on tag pages:"
### Please describe the problem (or idea)

When visiting https://publiclab.org/tag/community, i saw this which appears strange:
<img width="461" alt="Screen Shot 2019-10-22 at 12 22 01 PM" src="https://user-images.githubusercontent.com/161439/67307929-45e7d000-f4c7-11e9-9508-a1dbc38bd620.png">

When i clicked through to the wiki: https://publiclab.org/wiki/community , i see this which is fine:
<im

[2019-10-22 16:29] sap143 commented on #6516
I wanted to start my journey in contributing to open source.

[2019-10-22 16:32] nstjean commented on #6516
Hi @sap143 ! This issue is reserved for someone, but you can add your name to the list here: https://github.com/publiclab/plots2/issues/6206 :) Welcome!

[2019-10-22 16:34] publiclab-mimi commented on #6517
I see this as well, both on Safari and on Chrome, but only for the tag page related to community.

[2019-10-22 16:35] sap143 commented on #6206
Hi I also want to contribute.Please, assign me to one.

[2019-10-22 16:38] sap143 commented on #6516
Thanks You
Added my name to the list #6206

[2019-10-22 16:50] nstjean opened #6518 "Fix icon color on btn-outline-secondary buttons"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-22 16:51] nstjean commented on #6518
This issue is reserved for @Lafexlos

[2019-10-22 16:51] nstjean commented on #6206
Here is one for @Lafexlos https://github.com/publiclab/plots2/issues/6518

[2019-10-22 17:16] nstjean opened #6519 "What color should toolbar buttons be?"
Currently the toolbar when you are typing a comment looks inconsistent:
![FireShot Capture 025 - 🎈 Public Lab_ Do stinkbugs actually stink_ - localhost](https://user-images.githubusercontent.com/49460529/67311691-0a043900-f4ce-11e9-817c-23b458362bc4.png)

What do you think the color should be? Grey?
![FireShot Capture 023 - 🎈 Public Lab_ Do stinkbugs actually stink_ - localhost](https://user-image

[2019-10-22 18:24] mehnazyunus commented on #6511
Hi, I'd like to claim this issue

[2019-10-22 19:30] Resolution-1 commented on #6519
I want to work on this

[2019-10-22 20:21] nstjean commented on #6519
@Resolution-1 Sure! First let's find out what everyone thinks the color should be. :) It should be able to be corrected with a couple classes in the style.css file.

[2019-10-23 02:38] Oscar-Gallardo commented on #6519
I believe it should be black as it would contrast better with the background.

[2019-10-23 05:50] giantthinker commented on #6206
Hi, I also want to contribute.

[2019-10-23 07:08] cesswairimu commented on #6481
Gotcha...no worries thanks for investigating I will update the issue to  include the OS

[2019-10-23 08:20] AxelleDRouge commented on #6206
Hi, I also would like to contribute, please

[2019-10-23 08:28] avinash080 commented on #6518
is issue open , I am new here .plz tell me I want to participate in hacktoberfest

[2019-10-23 08:36] Lafexlos commented on #6518
hello @avinash080 I already submitted a PR for this.
Best of luck with finding suitable issues for yourself.

[2019-10-23 08:37] avinash080 commented on #6516
is this issue open?

[2019-10-23 09:05] avinash080 commented on #6446
Hi is the issue open ? I am new here . so i want to make contributions

[2019-10-23 09:36] avinash080 commented on #5045
hi is this issue still open??

[2019-10-23 10:23] RaquelFilipaMendes commented on #6206
Hi, I wanted to start my journey in contributing to open source.

[2019-10-23 12:27] textuallyactive commented on #6516
Thank you. Would do a PR as soon as I get access to a laptop. Cheers!

[2019-10-23 12:49] nstjean commented on #6516
@avinash080 Sorry, someone is already working on this issue. If you would like to be assigned an issue you can add your name to the list here: https://github.com/publiclab/plots2/issues/6206

[2019-10-23 13:00] nstjean commented on #6519
@Resolution-1  So I saw that in the wiki posting screen the buttons were all black, so let's go with that to be consistent.

What you need to do is for `.navbar-text` and `.btn-toolbar` you need to set the text color to `#222` and for the hover it needs to be set to white. You can put the css in [style.css](https://github.com/publiclab/plots2/blob/master/app/assets/stylesheets/style.css)

If you n

[2019-10-23 13:02] nstjean commented on #6511
@mehnazyunus Great! Let us know if you need help!

[2019-10-23 13:02] avinash080 commented on #6206
Hi, i wanted to start my contribution plz add my name in list

[2019-10-23 13:07] avinash080 commented on #6206
hi , I also want to contribute to open source

[2019-10-23 13:07] avinash080 commented on #6516
@nstjean  ok so plz tell me if there's any issue open . this is my first time on github.

[2019-10-23 13:19] nstjean commented on #6516
@avinash080 We will let you know in the other thread. :) Thanks for being here and for being patient!

[2019-10-23 13:58] krystelufe commented on #6516
I am an outreachy applicant . Pls I need a first timer issue to start working on. thanks

[2019-10-23 17:23] aviveller commented on #6206
Hello

I would love to try my first contributing,

Thank you

[2019-10-23 18:58] AudreySchmook commented on #6206
Looking for a FTO, please and thanks!

[2019-10-23 21:38] ahrocha96 commented on #6206
Hi, I'm looking to contribute! Thanks so much!

[2019-10-23 21:38] jayg98 commented on #6206
Hello, I would appreciate the opportunity to contribute! Thanks!

[2019-10-23 22:15] YuetChan commented on #6206
Hi, I would like to contribute to the project. Thank you!

[2019-10-24 08:39] infy815 commented on #6206
Hi, I would like to contribute. I could help in design, javascript and react

[2019-10-24 15:14] MarieSell commented on #6206
Hi, I would like to contribute my first time! Thank you, for this exciting opportunity.

[2019-10-24 16:09] textuallyactive commented on #6516
Done!
However, I don't know who to tag for reviewing. Thank you for everything again!

[2019-10-24 17:24] nstjean opened #6531 "Change new contributor link to bootstrap italic instead of i tag"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-24 17:25] nstjean commented on #6206
Here is one for @anushtha1011 https://github.com/publiclab/plots2/issues/6531

[2019-10-24 17:26] nstjean commented on #6531
Reserved for @anushtha1011

[2019-10-24 17:33] nstjean opened #6532 "Change text color under common tags image"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-24 17:34] nstjean commented on #6206
Here is one for @ChamuMutezva https://github.com/publiclab/plots2/issues/6532

[2019-10-24 17:34] nstjean commented on #6532
Reserved for @ChamuMutezva :)

[2019-10-24 19:10] nyjackson commented on #6206
Hi, I'm also ike to participate! Thank you for this opportunity! I am familliar with Python, Java and C++.

[2019-10-24 19:16] Thebohemiangeek commented on #6206
Hey i would like to participate, im familiar with Js and Python.

[2019-10-24 19:23] srlhyo commented on #6532
@ChamuMutezva, let me know if you need help with the issue. I am help!

[2019-10-24 19:29] ebarry commented on #6475
We learned by discussing in chat with @vaibhavmatta and @vaibhavmathur13 that different screen widths must be tested in order to see this error. Try reducing the zoom level to simulate a larger screen size, as there is no error at all when the screen is narrow. The goal is to make sure that the Webpage looks good with all the screen and window dimensions :D

[2019-10-24 19:33] ebarry commented on #6473
Yes! please go ahead with this if you do not have another one, thank you! cc @cesswairimu

[2019-10-24 19:38] #2692 closed

[2019-10-24 19:47] ebarry commented on #2097
I still see this on my dashboard -- does everyone? Perhaps this is something we should clean up as part of preparing for our subscription campaign, let's see what @jywarren says. @steviepubliclab and @joyofsoy, can you check on yours as well?

[2019-10-24 19:50] ChamuMutezva commented on #6532
@nstjean , thanks for the consideration. i have made the changes

[2019-10-24 19:50] #1505 closed

[2019-10-24 20:38] ebarry commented on #2056
Hi @SidharthBansal , i remember how epic #4132 was! wow! The new modals are really lovely, i continue to appreciate them!

Is there a currently open issue for being returned to the particular content page you were on when you logged in? Right now, after attempting to interact on a page, then logging in, i get dropped back to the front page:

![login](https://user-images.githubusercontent.com/16143

[2019-10-24 20:43] cesswairimu commented on #6206
@anikerr here is one https://github.com/publiclab/plots2/issues/5185 ...the tests may fail after the addition just ping me and I will help. Thanks

[2019-10-24 20:47] cesswairimu commented on #3673
This is not appearing anymore must have been fixed with another patch. Thanks all and closing this

[2019-10-24 20:47] #3673 closed

[2019-10-24 21:13] cesswairimu commented on #6473
Hey @AdityaShD , would be interested in editing this to become a first-timer-only issue and assign to one of the folks looking for a new issue? just wondering or you can go ahead and solve it, whatever you prefer.Thanks @ebarry and @AdityaShD

[2019-10-24 21:18] loranazarenko commented on #5137
Hello! Can i work with this issue?

[2019-10-24 23:23] CodeMeKathy commented on #6206
Hi! I am new to this codebase and have not previously contributed.  I would very much like to contribute to an FTO issue. I am most familiar with HTML, CSS, JS, and front-end frameworks.

[2019-10-25 02:00] SidharthBansal commented on #2056
This issue was resolved last year. But it came back 4 months ago again.
I opened one issue to fix it but couldn't get time to complete it due to my research journal work.
Sorry for delay. Will complete it asap
As this is duplicate issue, i m closing it up

[2019-10-25 02:00] #2056 closed

[2019-10-25 05:42] daningenthron commented on #4940
Hi @jywarren, if this is still open I would be happy to push a PR, I have it set up locally with the button working correctly - let me know!

[2019-10-25 07:58] jywarren opened #6534 "Planning issue to revive JavaScript i18n-js translation"
Re #3262, we have pure js translation set up here:

https://github.com/publiclab/plots2/blob/5c0d96274bd0be15feba69d8f30093082402ace5/app/assets/javascripts/application/i18n/translations.js#L2

I'm wondering if we can compile our Ruby translations into this file too? This will help with user generated content like features, which will soon include the navbar and other key areas of the site.

[2019-10-25 08:01] jywarren commented on #6534
It seems that this gem (already installed) can autogenerate the translations.js file on the fly?

https://github.com/fnando/i18n-js/blob/master/README.md#rails-app-with-asset-pipeline

Bears some testing!

[2019-10-25 08:01] jywarren commented on #6534
This is cool and can build on @gauravano's work!

[2019-10-25 08:11] jywarren commented on #5737
Ok just confirming that any `t(...)` can be replaced with a new, special `translations(...)` method in Ruby, as in this comment by @gauravano?

If so, @publiclab/gci I think this would make a lot of really nice GCI tasks!

[2019-10-25 08:12] jywarren commented on #5651
Hi @gauravano do you think this would work? It seems an easy addition and I'm happy to make it!

[2019-10-25 08:25] jywarren commented on #5737
Finding instances of the old t() method is a little harder than I thought, as the GitHub search doesn't work, so I think a "grep" based search in Linux would work but it's not as easy to do:

[code]

It should return lines like this one!

https://github.com/publiclab/plots2/blob/d653be356eafa7f6181fb05e2d1e3ac46a2199e5/app/views/notes/show.html.erb#L42

[2019-10-25 09:57] loranazarenko commented on #5388
Hello! Can i work with this issue?

[2019-10-25 11:02] kay-ogunbo commented on #6531
Team,
Can i take this on?

[2019-10-25 13:16] jywarren commented on #6534
OK, I found that we can:

1. delete `/app/assets/javascript/application/i18n/translations.js`
2. delete the "only JS" line from `/config/i18n-js.yml` so that all translations are automatically copied from Ruby locale files in `/config/locales/` into an autogenerated `translations.js` file which is already loaded into the client side environment
3. use `I18n.missingBehaviour='guess';` to make I18n

[2019-10-25 13:22] kb54 commented on #6531
Can I work on this?

[2019-10-25 14:18] loranazarenko commented on #6206
Hello, I'm from Outreachy and I am looking for a FTO issue. Thanks.

[2019-10-25 14:25] mehnazyunus commented on #6206
Hi, I'm looking for a first-timers issue! I've worked with HTML. CSS, JS, Python. Open to learning Ruby.

[2019-10-25 14:29] #6360 closed

[2019-10-25 16:10] nstjean commented on #5737
I am having success in Visual Basic Code by searching for `\st\(` - space t (

[2019-10-25 16:12] starkah commented on #6532
Team,
Can I take this on if this hasn't been done yet?

[2019-10-25 16:17] nstjean opened #6538 "Change function t to translations in comments/comments"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-25 16:21] starkah commented on #6206
Hello,
I would love to be added to this list as I'm a first timer too who is looking for a place to start.

[2019-10-25 16:26] nstjean commented on #6532
@starkah A pull request has already been submitted for this. :relaxed:  I'll be posting more FTOs today!

[2019-10-25 16:33] mehnazyunus commented on #6538
Hi, I would like to claim this issue!

[2019-10-25 16:36] nstjean opened #6539 "Change function t to translations in users/new"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-25 16:37] nstjean commented on #6538
@mehnazyunus Thanks, go ahead!

[2019-10-25 16:41] nstjean opened #6540 "Change function t to translations in wiki/methods"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-25 16:46] nstjean opened #6541 "Change function t to translations in users/edit"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-25 16:49] nstjean opened #6542 "Change function t to translations in users/_spamaway"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-25 17:14] WojciechPreficz commented on #6542
Hi,
@nstjean I can work ok it.

[2019-10-25 17:15] KornelCygan commented on #6541
Hi @nstjean  I just want to take this issue

[2019-10-25 17:18] marcin-wicha commented on #6539
Hi! I'd like to claim this one.

[2019-10-25 17:23] mehnazyunus commented on #6538
Hi @nstjean,
I have opened a PR, but the Travis build is failing, please advise.

[2019-10-25 17:36] mahoyen commented on #6540
Hi,
So it's only changing two lines?

I can do that!

-Markus

[2019-10-25 17:48] nstjean opened #6547 "Change function t to translations in comments/_edit"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-25 17:51] ricardosantosdev commented on #6547
Can I work on it?

[2019-10-25 17:52] nstjean opened #6548 "Change function t to translations in comments/_edit - 2nd half"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-25 17:53] nstjean commented on #6548
Someone else is making edits on the first half of the page. If anyone gets errors about conflicts please let me know!

[2019-10-25 17:53] nstjean commented on #6547
@ricardosantosdev Sure! Let me know if you have any troubles.

[2019-10-25 17:57] nstjean opened #6549 "Change function t to translations in comments/_comments - 1st half"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-25 18:01] nstjean opened #6550 "Change function t to translations in comments/_comments - 2nd half"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-25 18:02] nstjean commented on #6206
@megha070 One for you! https://github.com/publiclab/plots2/issues/6549

[2019-10-25 18:02] nstjean commented on #6549
Reserved for @megha070

[2019-10-25 18:03] nstjean commented on #6550
Reserved for @yagosansz

[2019-10-25 18:03] nstjean commented on #6206
@yagosansz Here's one for you: https://github.com/publiclab/plots2/issues/6550

[2019-10-25 18:03] nstjean commented on #6206
@aman-k334 Here's one for you: https://github.com/publiclab/plots2/issues/6548

[2019-10-25 18:04] nstjean commented on #6548
Reserved for @aman-k334

[2019-10-25 18:13] nstjean opened #6551 "Change function t to translations in dashboard/_comment_moderate"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-25 18:13] nstjean commented on #6206
@saivoleti17 And one for you! https://github.com/publiclab/plots2/issues/6551

[2019-10-25 18:14] nstjean commented on #6551
Reserved for @saivoleti17

[2019-10-25 18:29] jaywahr commented on #6551
@nstjean how can I get on a "wait list" to get a `first-timers-only` issue? Thank you.

[2019-10-25 18:37] nstjean commented on #6551
Hi @jaywahr - our list is located here: https://github.com/publiclab/plots2/issues/6206 Just post and your name will get added to the list! We'll get new issues up soon!

[2019-10-25 18:52] jaywahr commented on #6206
@nstjean May you please add me to the wait list 😃 Thank you!

[2019-10-25 19:04] ricardosantosdev commented on #6547
I sent the PR, what happens now?

[2019-10-25 19:57] rojasTob commented on #6550
Hi @nstjean. I would like to help too, I was looking for an unassigned issue, but I couldn't find it.

[2019-10-25 20:15] loranazarenko commented on #5137
Hello, I'm an outreachy applicant and I am looking for a FTO issue if possible. I would like to contribute to this project. Thanks.

[2019-10-25 20:42] susanreenesaa commented on #6511
@try to follow the links that I put above because there may be different models with the login fa fa-eye but this issue I only checked on those url's
http://localhost:3000/login# and http://localhost:3000/login
or
https://publiclab.org/login and https://publiclab.org/login#.
if it's okay, may @nstjean  and @vaibhavgeek  can help me verify that because on my side they are inactive

[2019-10-25 20:44] susanreenesaa commented on #6511
please the issue is on the stated URl. this url (http://0.0.0.0:3000/) is different so it has no issue

[2019-10-25 20:52] Johnalex-hub commented on #6547
Please can I also work on this?

[2019-10-25 20:54] ricardosantosdev commented on #6547
I'm going up a possible fix now

[2019-10-25 23:17] nstjean commented on #6547
@ricardosantosdev PRs will be reviewed by others and then eventually merged by those with permissions to do so!

[2019-10-25 23:30] nstjean commented on #6540
@mahoyen Note that it should be `translation`, not translations!

[2019-10-25 23:40] nstjean commented on #6511
I am using Chrome on Linux and the fa-eye button isn't working on localhost:3000/login
When I click the Login button it seems to depend what page I'm on when I click on it. If I'm on the main page of localhost:3000 it works as intended, but not if I'm on localhost:3000/login when I click on the Login button.

On publiclab.org I have the same results.

[2019-10-26 05:29] ricardosantosdev commented on #6547
I don't understand when I sent the plural function as translations didn't pass the tests, as singular has passed. After feedback, now plural has not passed the test.

[2019-10-26 06:04] siaw23 commented on #5615
Please go for it. I don't see anyone working on this @snpd25 🙂

[2019-10-26 06:05] govgoel commented on #6206
I would love to do my first contribution as I am a first timer too and I am familiar with C++,python,Django Please add me to the waitlist looking for to start soon.

[2019-10-26 09:09] Anjalizi commented on #6550
Hi @nstjean. Do assign me an issue as well.

[2019-10-26 09:11] Anjalizi commented on #6206
Looking for an FTO.

[2019-10-26 11:26] mehnazyunus commented on #6511
What I meant was that since both URLs use the same html file, and one works and not the other, am I right in concluding that the issue is not with the html file?
@nstjean any pointers to where I can start hunting for the bug?

[2019-10-26 12:10] AdityaShD commented on #6473
Hey @cesswairimu , Can I add steps for solving the issue for first timers. Would love to do that.
Thanks.

[2019-10-26 16:48] anuk79 commented on #6206
Hi, I would like to contribute to the project and work on FTO issue.
I am familiar with Javascript, React, Typescript, Css, Html
Thank you!

[2019-10-26 17:23] cesswairimu commented on #6473
That would be great..thanks so much @AdityaShD  just hit the edit button on the description or just add a comment below...here is the template format you can copy from  https://github.com/publiclab/plots2/issues/new?assignees=&labels=first-timers-only&template=--first-timers-only.md&title= . Thanks

[2019-10-26 23:35] nstjean commented on #6547
@ricardosantosdev That was my mistake! Apparently the singular form is correct.

[2019-10-27 06:37] crisner commented on #6206
@Him010 Here's an issue [#272](https://github.com/publiclab/leaflet-environmental-layers/issues/272) in [publiclab/leaflet-environmental-layers](https://github.com/publiclab/leaflet-environmental-layers).

[2019-10-27 06:48] crisner commented on #6206
Here's is another issue in the LEL project, [issue #271](https://github.com/publiclab/leaflet-environmental-layers/issues/271). Anyone looking to contribute please comment on the issue if you would like to work on it. Thank you!

[2019-10-27 07:13] ajitsinghkaler commented on #6206
Hi, I would like to be assigned a FTO.
I am familiar with Javascript, Angular, Typescript, CSS, Html.

Thankyou.

[2019-10-27 08:45] cesswairimu commented on #6206
@ajitsinghkaler take this one https://github.com/publiclab/leaflet-environmental-layers/issues/271, thanks so much @crisner

[2019-10-27 09:13] cesswairimu commented on #6206
Hey @RaquelFilipaMendes @avinash080  @aviveller @AudreySchmook @ahrocha96 @jayg98 @YuetChan @infy815 @MarieSell @nyjackson @Thebohemiangeek @loranazarenko @mehnazyunus @starkah @jaywahr @govgoel @Anjalizi @anuk79 @ajitsinghkaler. Welcome to Publiclab :balloon:, I have added your names to the list  please be patient as we find issues for you. In the meantime, you can browse through the issues and i

[2019-10-27 09:38] cesswairimu commented on #6551
@saivoleti17 already have a fto here https://github.com/publiclab/mapknitter/issues/1086 ... @boolean5 you can solve this. Thanks all

[2019-10-27 09:39] cesswairimu commented on #6206
@boolean5 you can solve this one https://github.com/publiclab/plots2/issues/6551. Thanks

[2019-10-27 11:02] Anand-Theertha commented on #6206
Hello! I am looking for making some contributions as well. :D

[2019-10-27 11:23] boolean5 commented on #6551
Thank you @cesswairimu. I'm on it.

[2019-10-27 11:52] Aj163 commented on #6206
Hi, I am looking for First-Timer issue!

[2019-10-27 11:53] boolean5 commented on #6551
Now I see that @saivoleti17 has already submitted a PR  (#6555) for this issue. I think it would be fair to let them complete their work. Please, let me know if any help is needed.

[2019-10-27 13:17] crisner commented on #6206
@cesswairimu Please assign another issue for @ajitsinghkaler . @YuetChan seems to have commented on the issue first. Thanks!

[2019-10-27 13:36] ajitsinghkaler commented on #6206
No problem just remove the tick from my name @cesswairimu and add it to @YuetChan

[2019-10-27 13:42] cesswairimu commented on #6551
Cool no worries

[2019-10-27 17:26] cesswairimu commented on #6206
Cool @crisner, done...thanks all

[2019-10-28 05:50] Anand-Theertha commented on #6551
Hello! I saw this issue under "No one assigned". Does this mean I can work on it even though it has been reserved for somebody?

[2019-10-28 09:02] gauravano commented on #5737
Hi @jywarren @nstjean, yeah, `t(..)` can be replaced by `translation(...)`. The code for translation is in `helpers/application_helper.rb`.

**NOTE:** After replacing, testing that view is necessary as it may not work for complex blocks live div, span, etc.

And, if corner cases need to be handled, then one can change the helper definition.

All the instances can be found from RubyMine too or any

[2019-10-28 12:59] adersh-m commented on #6206
Hi all, I'm also looking for FTO... Its my first time contributing to Open source projects..

[2019-10-28 13:42] jywarren opened #6569 "Write functional test for batch spamming notes/authors"
Here is the Ruby code that finds the corresponding nodes by `nid` and bans their authors AND spams the nodes:

https://github.com/publiclab/plots2/blob/50164b13d612be00c5f700bb302af103a881e63c/app/controllers/admin_controller.rb#L316-L334

We should write a test to confirm the correct users are getting banned. This could be a functional test for the path: `/spam/batch/1,2,3`

It could be based on

[2019-10-28 13:46] jywarren commented on #6517
This is a tough one. Some vocal users had requested the ability to use "MathJax" equations, which is a way to write out scientific expressions, and these are typically presented between ` characters. This has been used on the site on a number of posts.

But the ` character is used in Markdown (which drives formatting on our site) to indicate a quoted text, and is commonly used for tags, because it

[2019-10-28 14:15] SidharthBansal commented on #6541
Go ahead!

[2019-10-28 14:18] rojasTob commented on #6340
Hi @davemenninger, finally what file did you run for this issue? .rubocop_todo.yml or .rubocop.yml ?

[2019-10-28 14:30] jywarren commented on #5615
Hi, all - we are soon to replace the home page, so perhaps best we close this! Thank you both however!!!

[2019-10-28 14:30] #5615 closed

[2019-10-28 14:36] jywarren commented on #6473
I believe this may be a really tough one, perhaps related to a database record. I'm going to look into it and try to resolve it in a console to the production server! Sorry @AdityaShD but we'd love to have your help with another issue. Thanks!

[2019-10-28 14:36] #6473 closed

[2019-10-28 14:37] SrRokie commented on #6400
Hello, I would like to contribute, can you assign me or is someone already doing it?

[2019-10-28 14:38] #6346 closed

[2019-10-28 14:55] crisner opened #6570 "Clicking the 'follow' button on a tag does not change it to 'unfollow'"
### Please describe the problem (or idea)

On clicking the follow button, the button text does not change. Only after the page is refreshed the button changes from 'follow' to 'unfollow'.
![publiclab org_tags_page=2 (1)](https://user-images.githubusercontent.com/29401459/67688341-b1e2a080-f9bf-11e9-8ef8-168c76614be8.png)

I expected the button to show the text 'unfollow' instead of 'follow' when c

[2019-10-28 15:06] moki298 commented on #6340
You should be using `.rubocop.yml` file to resolve the lint offenses, not `rubocop_todo.yml`.

[2019-10-28 15:21] wmacfarl opened #6571 "Website doesn't reload after posting a question"
### Please describe the problem (or idea)

I posted a question using the "rich Questions" form.  When I clicked submit, the submit button turned into the spinning "waiting" icon and stayed there and the website did not reload and go back to my dashboard like it normally does.

![image](https://user-images.githubusercontent.com/757598/67691062-5808b900-f974-11e9-9de3-12f57af9907d.png)

I did this t

[2019-10-28 16:12] jywarren commented on #6571
Hi @icarito i wonder if this relates to email notifications sending, as it
seems familiar. Can you check the outgoing email queue to see if there is
any problem with the mailing?

On Mon, Oct 28, 2019 at 11:22 AM welcome[bot] <notifications@github.com>
wrote:

[2019-10-28 16:22] debck opened #6572 "Make the SignUp popup responsive"
#### Please describe the problem (or idea)

When you open https://publiclab.org/ in your mobile browser and click on the `Sign Up` button from the menu, a pop up modal appears which is not responsive.

![dek](https://user-images.githubusercontent.com/33368759/67696338-b1043b80-f9cc-11e9-9a4e-63a2e4f3783a.jpeg)

The modal should be responsive like the login modal.

### Please show us where to look

[2019-10-28 16:24] jywarren commented on #6570
Hi, great catch! I think we need to bust the browser cache by inserting a
random number to the redirected-to URL. THis is done in some other
controllers, so it'd be fantastic to add this (using a timestamp to get a
unique URL) like this:

https://github.com/publiclab/plots2/blob/master/app/controllers/subscription_controller.rb#L121

Would you be interested in helping to solve this?

It should be

[2019-10-28 16:48] cesswairimu commented on #6400
Hey @SrRokie, @Ruchika06 is working on this..kindly browse for another issue. Thanks

[2019-10-28 17:13] crisner commented on #6570
@jywarren Thanks! Yes, I would like to give this one a try!

the page not updated, does it have something like "?_12231415" at the end
of the URL?

No. The URL remains the same as in https://publiclab.org/tags?page=2. Is it supposed to redirect to something like https://publiclab.org/subscriptions?_=1572282692?

[2019-10-28 18:32] phoenixking25 opened #6573 "Undefined keyword in the toast/notification popup."
### Please describe the problem (or idea)

* Open the target link without any previous login and click on follow button, so it will pop up the dialog box to ask for new login and at the same moment the toast/notification popup with the text
UndefinedClick here to manage your subscriptions.

### Please show us where to look

https://publiclab.org/tags?page=2 ( without logging in )

![Screenshot fro

[2019-10-28 18:35] #4940 closed

[2019-10-28 18:38] jywarren commented on #4990
My apologies for the slow response; we would love your help with this. Thank you!

@coderbeetle i'm sorry we didn't get this completed with you. If you circle back we'd be happy to help you find another issue to work on!

[2019-10-28 18:52] jywarren commented on #6570
Hm. It should go to https://publiclab.org/tags?page=2&_=1572282692
actually. Does this happen the same if you press "follow" from
https://publiclab.org/tags and not from https://publiclab.org/tags?page=2 ?

On Mon, Oct 28, 2019 at 1:13 PM Renisha Christie. A <
notifications@github.com> wrote:

[2019-10-28 20:44] cee-elle commented on #6206
Hi, I'm also looking for my first contribution, please let me know if anything comes up!

[2019-10-28 20:57] icarito commented on #6571
Hi @jywarren I checked the mail queue and found 24 mails in queue. The majority are towards the `tutanota.com` domain and only one to the `scryptmail.com` domain. Most queued emails are from the last 3 days except for two of them.

It could be that our smtp mail gateway (googlemail) has brief interruptions of service or service saturation. We get alerts almost every day for a brief period of minut

[2019-10-29 02:49] crisner commented on #6570
Yes. The same happens even from https://publiclab.org/tags. It does not go to the expected URL.

[2019-10-29 05:20] crisner opened #6574 "Profile dropdown menu gets cut off on smaller screens"
### Please describe the problem (or idea)

The dropdown menu, from profile picture on the top right corner, gets cut off on smaller screens in mobile devices. On further investigation with the device mode in chrome dev tools, it looks like the menu begins to get cut off when the device height goes under 735px.
<p><span>
<img src="https://user-images.githubusercontent.com/29401459/67738988-cf9f1c80

[2019-10-29 08:58] crisner commented on #6570
I have been tinkering with the code a bit. Looks like we are not sending back any json information here:
https://github.com/publiclab/plots2/blob/3dad8ad6afe62eb4aec5c89ccf94d4d0c09aac26/app/controllers/subscription_controller.rb#L65-L69

that needs to be read here:
https://github.com/publiclab/plots2/blob/3dad8ad6afe62eb4aec5c89ccf94d4d0c09aac26/app/assets/javascripts/async_tag_subscriptions.js#L

[2019-10-29 13:18] nstjean commented on #6551
Hi @Anand-Theertha ! There is already a pull request for this issue. We'll be making more first-time-only issues!

[2019-10-29 14:03] cesswairimu commented on #6470
Moved to https://github.com/publiclab/image-sequencer/issues/1280. Thanks all

[2019-10-29 14:03] #6470 closed

[2019-10-29 14:07] jywarren opened #6575 "Drop custom template for question listings in favor of standard notes template"
We have this custom template:

https://github.com/publiclab/plots2/blob/master/app/views/questions/_new_question.html.erb

For pages like this, displaying questions:

https://publiclab.org/tag/question:water-quality

However, we've really refined the regular listings here, visually:

https://publiclab.org/tag/water-quality

So, let's just use the same template, instead of switching. The template a

[2019-10-29 14:08] #6390 closed

[2019-10-29 14:56] moki298 commented on #6340
@jywarren @newbazz can you please have a look at all the pending PR's and comment/merge them.

[2019-10-29 17:12] neeraj3029 commented on #6372
@samagragupta I would like to work on it, can you assign it to me?

[2019-10-29 17:13] samagragupta commented on #6372
@neeraj3029 Go on 🚀

[2019-10-29 18:47] #6320 closed

[2019-10-29 20:51] ardelapaz commented on #6206
I'm looking for my first issue. React preferred, but anything Javascript or Ruby is okay too.

[2019-10-29 21:52] jywarren commented on #6574
Ah, very helpful, thanks! And, it's not possible to drag/scroll the screen
to access the menu content that went off the edge?

Thanks!

On Tue, Oct 29, 2019 at 1:21 AM Renisha Christie. A <
notifications@github.com> wrote:

[2019-10-30 00:01] ricardosantosdev commented on #6547
@nstjean Alright, I'll fix the PR again, thanks for the feedback

[2019-10-30 02:33] crisner commented on #6574
Yes. I can see the scrollbar moving when I scroll the screen but the menu seems to be fixed making the content that are off the edge inaccessible.

[2019-10-30 05:43] susanreenesaa commented on #6511
@vaibhavmatta  can you please help out @mehnazyunus  to locate the exact file to edit. thanks

[2019-10-30 05:45] susanreenesaa commented on #6483
its okay @steviepubliclab  you can work on it. if you get any issue log it on the public chat and anyone available will help. thanks

[2019-10-30 06:19] vaibhavmatta commented on #6511
@susanreenesaa I will search for the file once and tell if I  am able to find it or not. Thanks 🙂

[2019-10-30 12:44] jamiemccarville commented on #6549
I would be interested in working on this and I am wondering if it is still available for a PR?

[2019-10-30 17:29] jywarren commented on #6474
Yes, you can remove the tag `question:_____`

[2019-10-30 17:29] #6474 closed

[2019-10-30 17:30] ebarry commented on #6474
thanks! DONE. :)

[2019-10-30 17:45] crisner commented on #6570
@jywarren I have created a pull request with changes made to the code that fixes the issue and have attached some gifs for review. Thanks!

[2019-10-30 18:23] vaibhavmathur13 commented on #5480
Hey @gauravano @divyabaid16 @IshaGupta18
Is this issue still open?

[2019-10-30 19:53] SidharthBansal commented on #6238
I have started the process of sending the mentor invites. Kindly accept the invites and start making tasks on the GCI dashboard.
Thanks
Sidharth

[2019-10-30 21:00] steviepubliclab commented on #6483
Hi all, I apologize in my lack of response here! Anyone is welcome to work on it.
@Susanreenesaa or @rojasTob --I'm sorry!

Either way, just post your work in a PR as you go!

[2019-10-30 21:06] nstjean opened #6579 "Making FTO issues from translation function"
Here's a list of all the template files that have the t(...) function. They all need to be changed into translation(...). They are great for first-time-only issues! Just mark it off or leave a comment so we can mark it off to keep track.

- [x] app/views/comments/_comments.html.erb #6549  #6550
- [x] app/views/comments/_edit.html.erb #6547  #6548
- [ ] app/views/comments/_form.html.erb
- [ ] app/v

[2019-10-30 21:12] nstjean commented on #6549
@jamiemccarville Since it hasn't been started after several days, you can go ahead!

[2019-10-30 21:13] nstjean commented on #6550
Open for whomever wants to do this.

[2019-10-30 21:14] nstjean commented on #6548
Open for whomever wants it.

[2019-10-30 21:16] nstjean commented on #6206
I have two issues that no one responded to. If you want to claim one just leave a comment on it before working on it. Thanks!

https://github.com/publiclab/plots2/issues/6550

https://github.com/publiclab/plots2/issues/6548

[2019-10-30 21:20] aviveller commented on #6548
@nstjean I will take it

[2019-10-30 21:24] loranazarenko commented on #6550
i

I would take it

[2019-10-30 23:21] loranazarenko commented on #6550
Done!

[2019-10-31 00:28] stefanosu commented on #6579
Hey, @nstjean is this still available to work on??

[2019-10-31 02:39] sagarpreet-chadha commented on #6238
Awesome Sidharth, please send the invite to me as well :) Thanks!

On Thu, 31 Oct 2019, 01:23 Sidharth Bansal, <notifications@github.com>
wrote:

[2019-10-31 08:17] jaywahr commented on #6579
@nstjean please assign any issue to me. I will help out 😃

[2019-10-31 08:35] jaywahr commented on #6548
@nstjean i would love to take it

[2019-10-31 09:01] shubhankarsharma00 commented on #6575
I will like to work on this one.

[2019-10-31 10:53] vaibhavmatta commented on #6238
@SidharthBansal @jywarren I've successfully made my first task but it is not published yet. I think it will be automatically published on December,2 .

[2019-10-31 10:55] vaibhavmatta commented on #6238
**### Note for all the Mentors**

No blogs and no personal info can be asked in GCI from students nor mentors. Please don’t ask students to write any blog or to give any personal information .

😊 Thanks

[2019-10-31 14:32] ebarry commented on #6246
Would this also resolve this earlier issue about allowing moderators to control their own email settings where their other email settings are controlled? https://github.com/publiclab/plots2/issues/4543

[2019-10-31 14:44] SidharthBansal commented on #6238
Thanks Vaibhav for reminding mentors about this.

[2019-10-31 14:45] ebarry opened #6584 "Planning issue: Hide profile bio content unless users have had some content approved"
**Please describe the desired behavior:**

This is a planning issue to review the issue of spammy bio content in profile pages.

**Problem:** many users create spam profiles with live links to illegal and harmful activities, links which may live on for years on our infrastructure. There is currently no "Gate" on creating profiles with bio content that instantly goes live.

**Proposal:** to allow n

[2019-10-31 14:48] SidharthBansal commented on #6391
Thanks for your PR.
I will review it in a minute

[2019-10-31 16:16] jywarren commented on #6584
Here is the code displaying bio content!

https://github.com/publiclab/plots2/blob/4d6bcd4dc35ec3bc291330dd715973651cea4697/app/views/users/profile.html.erb#L62

We can wrap it in a conditional, but what exactly do we check:

1. that the user has at least one post that is published: `Node.where(status: 1, uid: profile_user.id)` (i think?)
2. OR, that the user has at least one comment that is publi

[2019-10-31 16:34] jywarren commented on #6391
This is all really good work. Noting that for some uses you can use "//
publiclab.org/..." and omit "http:" or "https:" and it will default to the
one that's being used on the page you're on.

Also, let's continue to do this in relatively small pieces rather than a
huge find/replace of the whole codebase - that way we can diagnose when/if
things go wrong piece by piece. Thanks to everyone! Great w

[2019-10-31 16:55] #4645 closed

[2019-10-31 17:16] ebarry commented on #6584
These two approaches sound really great!

[2019-10-31 17:18] ebarry commented on #6476
Yes, comments by a banned user should be hidden from the site. Thanks @simonastefan !

[2019-10-31 17:30] cesswairimu commented on #2627
Hi @ebarry, on it...thanks

[2019-10-31 18:55] #6549 closed

[2019-10-31 19:09] jywarren commented on #6550
Hi! @loranazarenko - unfortunately i think you may have opened the PR against your own branch, instead of against publiclab/plots2 - and so when it merged, it didn't update our shared project. Can you try opening a new one against https://github.com/publiclab/plots2/ 's `master` branch? Thank you!

[2019-10-31 19:10] jywarren commented on #6246
No, this does not affect that issue, thanks!

[2019-10-31 19:35] loranazarenko commented on #6550
Oh! Sorry! I will change it.

[2019-10-31 20:21] cesswairimu commented on #2627
We added the page  for first-timer contributions which I believe was the main essence of creating this issue https://publiclab.org/tag/first-time-poster ..Another issue though that occurs in the process was an error https://github.com/publiclab/plots2/issues/2665 on emojis on new wiki page creation which has a pull request here https://github.com/publiclab/plots2/pull/3007 ...I will test on the we

[2019-10-31 20:24] cesswairimu commented on #6206
@reginareynolds @ivaibhavkr , could you take the above :point_up: mentioned respectively? Thanks

[2019-10-31 20:38] cesswairimu commented on #6475
@ebarry could you please give the resolution of the screen you used...I have tried reducing zoom level and I cannot replicate.. @vaibhavmathur13  is having the same issue too. Thanks

[2019-11-01 03:27] ivaibhavkr commented on #6206
I'll like take #6548
Thanks!

[2019-11-01 03:44] jairus-crabb commented on #6542
hi @nstjean is there any open issues I can work on? I haven't been able to find any but would love to contribute if anything pops up, i'm a first-timer!

[2019-11-01 04:36] preetiy commented on #6550
Hey can I take this issue?

[2019-11-01 05:38] cesswairimu commented on #6206
cool. thanks

[2019-11-01 14:35] nstjean commented on #6542
Hi @jairus-crabb ! Welcome! I will be creating some more in the next couple of days. You add your name or check on this post https://github.com/publiclab/plots2/issues/6206 to be notified.

[2019-11-01 14:37] nstjean commented on #6550
Hi @preetiy ! This issue already has a pull request, but I will be making more in the next couple of days. You can add your name on this post https://github.com/publiclab/plots2/issues/6206 to be notified. Thanks!

[2019-11-01 16:37] nicoleiocana commented on #6206
I would enthusiastically like to be added to your FTO list. I am proficient with the ruby language, the Rails 5 framework, Bootstrap 4. I have slight experience with JavaScript (jQuery & React libraries).

[2019-11-01 18:08] steviepubliclab opened #6592 "Posting from tag pages not tagging properly"
Hello!
I was trying to post a new research note from a tag page (https://publiclab.org/tag/oil-and-gas-water-trio)  using this button:
<img width="935" alt="Screen Shot 2019-11-01 at 2 07 08 PM" src="https://user-images.githubusercontent.com/7490478/68045915-05e7d080-fcb1-11e9-84c7-afab8d68d5cb.png">

But the note it created didn't have the tag for the page:
<img width="940" alt="Screen Shot 2019-

[2019-11-01 20:35] steviepubliclab opened #6593 "Disambiguating tags from power tags"
Hello,
Starting a thread here on the role of tags vs. power tags on Public Lab, and how they show up to users.

### Background:
We've been working on the tagging infrastructure a good bit on Public Lab recently. Some of the goals of tags on the website are

1)  to help people more easily navigate the website,
2) to make it so people can more easily "follow" topical material on the website, and
3)

[2019-11-01 21:41] jywarren opened #6594 "Allow data-url image upload using file input (from Infragram)"
This is a project I'm working on to allow Infragram images to be posted to PublicLab.org easily. They are, for better or worse, data-urls. So i want to make a JS call or a URL that opens https://publiclab.org/post with some parameters (GET or POST) that then make the editor open with the image already set as the lead image.

https://stackoverflow.com/questions/4998908/convert-data-uri-to-file-then

[2019-11-01 22:00] subhahu123 commented on #6285
Hey, I am super interested to be an Outreachy Mentor! @jywarren @gauravano

[2019-11-01 22:25] klaffert commented on #6206
Hi, I would like to be added to the FTO list -- I am looking for issues with HTML, CSS, Javascript, Ruby or React.

Thanks!

[2019-11-01 22:32] klaffert commented on #6444
@jywarren Is this being worked on? Thanks!

[2019-11-01 22:33] klaffert commented on #6509
@rojasTob Hi, do you need any help on this one?

[2019-11-01 22:33] klaffert commented on #6539
@marcin-wicha Hi, do you need any help on this one?

[2019-11-02 04:23] samagragupta commented on #6285
@subhahu123 Where is the form?

[2019-11-02 06:47] swathi-0901 commented on #6540
hey, can I work on this issue? This is my first contribution to public lab :)

[2019-11-02 10:52] SidharthBansal commented on #6238
All mentors are requested to make tasks on the GCI dashboard, We have to create and publish at least 50 ftos and 200 other issues before end of this month to participate in GCI.
Publishing of tasks is by Jeff or Me. You all just create the tasks and mention as many mentors as possible in the tasks.
Thanks

[2019-11-02 11:04] SidharthBansal commented on #6238
I will request Sunny Dhoke and Tushar Saini are requested to fill the form again. Things are missing.
I have sent an invitation to all other people. Please accept the invitation and start making the tasks.

Thanks for filling the forms.

[2019-11-02 11:07] SidharthBansal commented on #6238
INSTANCE COUNT means the number of students who can do the task.
For example, mock-up designs can be asked from multiple students.
If a task is multiple instance count, then make sure that task will not create conflicts among students.

[2019-11-02 11:09] SidharthBansal commented on #6238
@vaibhavmatta please write github issue number at the GCI dashboard.

[2019-11-02 11:17] shubhscoder commented on #6238
I am interested in mentoring. I have worked with public labs before, got a chance to fix a few bugs. Thanks

[2019-11-02 11:44] cesswairimu commented on #6285
Hey @subhahu123 @samagragupta, thanks for the interest of being a mentor... @subhahu123 after filling the form you can go ahead look for the Publiclab project and click a button I believe is  `co-mentor this project`(if you have not done that yet) or something close and Jeff will approve your request. @samagragupta just go ahead to outreachy.org and sign up to participate as a mentor, and then fol

[2019-11-02 11:46] cesswairimu commented on #6238
Hi @shubhscoder , great, please fill the form provided in the description. Thanks

[2019-11-02 11:47] subhahu123 commented on #6238
@cesswairimu  @jywarren  @SidharthBansal  I m Interested in mentoring

[2019-11-02 11:55] subhahu123 commented on #6238
@cesswairimu done with form also

[2019-11-02 11:58] cesswairimu commented on #6238
Awesome @subhahu123, thanks

[2019-11-02 12:34] #6531 closed

[2019-11-02 12:46] #5690 closed

[2019-11-02 12:58] #6518 closed

[2019-11-02 14:23] nstjean opened #6596 "Change function t to translation in comments/_form"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-02 14:32] nstjean opened #6597 "Change function t to translation in dashboard/_activity"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-02 14:35] nstjean opened #6598 "Change function t to translation in dashboard/_comment_moderate"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-02 14:42] nstjean opened #6599 "Change function t to translation in dashboard/_header"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-02 14:44] nstjean opened #6600 "Change function t to translation in dashboard/_node_comment"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-02 14:46] nstjean opened #6601 "Change function t to translation in dashboard/_node_meta"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-02 14:49] nstjean opened #6602 "Change function t to translation in dashboard/_node_moderate"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-02 14:51] nstjean opened #6603 "Change function t to translation in dashboard/_node_question"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-02 14:55] nstjean opened #6604 "Change function t to translation in dashboard/_node_wiki"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-02 15:06] nstjean commented on #6579
Hi @stefanosu and @jaywahr ! I added a note to the post with some info!

[2019-11-02 17:27] nstjean commented on #6206
I created some more FTOs!
https://github.com/publiclab/plots2/issues/6604
https://github.com/publiclab/plots2/issues/6603
https://github.com/publiclab/plots2/issues/6602
https://github.com/publiclab/plots2/issues/6601
https://github.com/publiclab/plots2/issues/6600
https://github.com/publiclab/plots2/issues/6599
https://github.com/publiclab/plots2/issues/6598
https://github.com/publiclab/plots2/is

[2019-11-02 17:32] nicoleiocana commented on #6604
I'd appreciate it if I was assigned this issue.

[2019-11-02 18:32] SidharthBansal commented on #6238
Great. I will send invites to you all in few days

On Sat, 2 Nov 2019, 5:28 pm Cess, <notifications@github.com> wrote:

[2019-11-02 18:39] nstjean commented on #6604
@nicoleiocana Ok, you go ahead!

[2019-11-02 18:41] jywarren commented on #6206
Oh my gosh that's amazing!!!

On Sat, Nov 2, 2019, 1:27 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-11-02 18:48] govgoel commented on #6596
I would like to work on this issue

[2019-11-02 18:53] MarieSell commented on #6601
Hi nstjean,
I would like to make my first contribution with #6601
Thank you for taking care! :)

[2019-11-02 18:54] nstjean commented on #6601
Hi @MarieSell Go ahead! :)

[2019-11-02 18:55] nstjean commented on #6596
@govgoel Go ahead!

[2019-11-02 18:55] klaffert commented on #6603
Would love to take this one on!

[2019-11-02 19:02] aviveller commented on #6598
can i take it?

[2019-11-02 19:04] nstjean commented on #6598
Go ahead @aviveller !

[2019-11-02 19:04] nstjean commented on #6603
@klaffert Hi, go ahead!

[2019-11-02 19:06] nstjean commented on #6540
@swathi-0901 Hi! This issue already has a pull request submitted. You can check on this thread for new first-timers-only issues: https://github.com/publiclab/plots2/issues/6206

[2019-11-02 19:48] govgoel commented on #6596
I created a PR for this

[2019-11-02 19:50] govgoel commented on #6602
I will like to work on this issue

[2019-11-02 20:25] ajitsinghkaler commented on #6600
Would love to contribute on this

[2019-11-02 20:30] nstjean commented on #6600
Great @ajitsinghkaler - go ahead!

[2019-11-02 20:34] nstjean commented on #6602
@govgoel These are reserved for people who have never done a Pull Request before and I see you've already submitted one on a different issue.

The next step would be looking to make a FTO for someone else, or finding a small issue that you can work on. If you go to https://code.publiclab.org/ you can scroll down to "What's next?". You can also find info here https://github.com/publiclab/plots2 . W

[2019-11-03 03:30] nicoleiocana commented on #6592
Can you offer some insight as to how you replicated the error? When I go to the url you provided: [https://publiclab.org/tag/oil-and-gas-water-trio](url) my screen does how have the "New Post + " button. It shows this:

![publiclab_url](https://user-images.githubusercontent.com/44947175/68079960-8f7dc800-fdaf-11e9-9d07-4d3b88fa3db6.PNG)

[2019-11-03 09:05] #6538 closed

[2019-11-03 09:45] MarieSell commented on #6601
Hi @nstjean ,
#6601 is similar to #6606, which I made yesterday; so I will leave it for someone else.

[2019-11-03 09:53] #6600 closed

[2019-11-03 09:54] #6548 closed

[2019-11-03 09:55] #6550 closed

[2019-11-03 09:56] #6604 closed

[2019-11-03 09:57] #6596 closed

[2019-11-03 09:58] #6540 closed

[2019-11-03 11:58] AnubhavMadhav commented on #6238
Hello,
I am interested to become Google Code-in Mentor, and will complete the mentioned steps as soon as possible.
Thankyou

[2019-11-03 12:36] SidharthBansal commented on #6238
Great Anubhav

On Sun, Nov 3, 2019 at 5:28 PM Anubhav Madhav <notifications@github.com>
wrote:

[2019-11-03 12:59] pravalikavis commented on #6597
Hi, I would like to take up this

[2019-11-03 13:48] SidharthBansal commented on #6238
I have sent mentor invite for GCI mentor and added people to https://github.com/orgs/publiclab/teams/gci/members
All mentors are requested to accept the invite from Google and chime into discussions at GCI group.

Those who are not member of any of these groups then please email me at bansal.sidharthcode@gmail.com or contact me at gitter PM.

[2019-11-03 13:53] subhahu123 commented on #6238
@SidharthBansal haven't got any mail from google ?

[2019-11-03 13:57] susanreenesaa commented on #6574
@jywarren I think this issue is as a result of the fixed top navigation bar. I have looked at pages https://publiclab.org/donate, https://publiclab.org/, https://publiclab.org/chat and https://publiclab.org/dashboard, they all have the same problem. bez their bar is fixed. this also occurs even on the desktop when the screen is minimized to mobile phone size.
However, for pages like https://github

[2019-11-03 14:05] SidharthBansal commented on #6238
Check your email now!

On Sun, Nov 3, 2019 at 7:23 PM subhahu <notifications@github.com> wrote:

[2019-11-03 14:09] subhahu123 commented on #6238
Got it , thanks

[2019-11-03 14:32] SidharthBansal commented on #6238
Great!

On Sun, Nov 3, 2019 at 7:39 PM subhahu <notifications@github.com> wrote:

[2019-11-03 14:44] susanreenesaa commented on #6572
@debck. hope you are doing good.
Using google chrome.
I have tried to see this problem on a very small phone. to see the issue, but the signup page is working very well (very responsive). maybe the only issue that I see is that on clicking the signup button, the popup is not obvious because it's only is seen after scrolling down (popup pops up way below the screen). Therefore one can be mistaken t

[2019-11-03 14:58] nstjean commented on #6572
@debck What mobile browser are you using, so we can recreate the issue?

[2019-11-03 15:03] nstjean commented on #6601
@MarieSell Yes, thank you for commenting!

This issue is open to anyone who needs a first issue!

[2019-11-03 15:06] nstjean commented on #6597
@pravalikavis Hi, go ahead!

[2019-11-03 18:28] #6570 closed

[2019-11-04 02:33] klaffert commented on #6603
@nstjean All done. Let me know if there's any feedback and thanks!

[2019-11-04 04:16] snpd25 commented on #6477
@ebarry , It will be helpful if you can post how your complete code looks like.

[2019-11-04 14:08] nstjean commented on #6549
I have checked this on stable, there are no problems.

[2019-11-04 15:43] jywarren commented on #6575
We'd love your help! Actually we're looking to delete the independent
template and to eliminate the conditional which switches questions onto
it's own template. Does that make sense?

[2019-11-04 15:45] steviepubliclab commented on #6592
Are you logged into a Public Lab account? You might not see the button if
you're not logged in.

On Sat, Nov 2, 2019 at 11:30 PM nicoleiocana <notifications@github.com>
wrote:

[2019-11-04 15:49] nicoleiocana commented on #6592
Yes. I just clicked on the link on my mobile, logged in, then refreshed the
page. The page still doesn't show the "New Post +" button.

On Mon, Nov 4, 2019, 7:46 AM Stevie <notifications@github.com> wrote:

[2019-11-04 16:13] steviepubliclab commented on #6592
Ok, I'm not sure then. I still see it. If it's helpful, I'm using chrome on
a desktop.

On Mon, Nov 4, 2019 at 10:49 AM nicoleiocana <notifications@github.com>
wrote:

[2019-11-04 16:22] jywarren commented on #6592
Hi all - you can see the "New Post" button only if you are following the
tag. So, if you press Follow then reload the original page, you should see
it. The New post button should have the params
"/post?tags=oil-and-gas-fellowship-trio" -- maybe that's not set up right?

Thanks!

On Mon, Nov 4, 2019 at 11:14 AM Stevie <notifications@github.com> wrote:

[2019-11-04 16:23] jywarren commented on #6574
Ah, interesting. Is it possible we could set the CSS for some element to
"overflow: scroll" to resolve this?

On Sun, Nov 3, 2019 at 8:58 AM reenesa <notifications@github.com> wrote:

[2019-11-04 17:02] steviepubliclab opened #6675 "Contributor count on tag pages not reflecting number of contributors"
I was looking for the number of posts and contributors to this tag (https://publiclab.org/tag/oil-and-gas) and saw that the number was listed here as Zero:
<img width="1155" alt="Screen Shot 2019-11-04 at 11 59 38 AM" src="https://user-images.githubusercontent.com/7490478/68140986-b72d7700-fefa-11e9-8fb5-d078f501daf3.png">

But there are actually 73 contributors and 38 posts. This can be found her

[2019-11-04 17:17] ebarry commented on #6675
great catch!

[2019-11-04 17:19] ebarry commented on #3845
Will the author of a note or question held in moderation receive a notification if a moderator comments on their post? As a moderator, i do occasionally comment on a post while it is held in moderation in cases where i have a question about the content. I hope the author would get notification that I commented. I hope that no one mentioned in the note would get a notification. How does this sound?

[2019-11-04 17:20] #3667 closed

[2019-11-04 17:23] ebarry commented on #497
Hi @Fastie , you've been right for so many years on this issue! Slowly we are catching up and we now have a plan to hide ALL content from ANY new profile created until that profile has submitted some content that has been approved by a moderator. I'm closing this issue in favor of the current plan and take this opportunity to say that we appreciate you Chris!

Current Plan: https://github.com/publ

[2019-11-04 17:23] #497 closed

[2019-11-04 17:28] ebarry commented on #6279
So i believe the layout issues have been thoroughly documented elsewhere. Still unresolved is what happened to the comments that were previewed on the Dashboard but never displayed on the research note. Although i have not experienced this happening again, this issue is still open.

[2019-11-04 17:30] ebarry commented on #2178
I believe this entire issue can be closed because an entire new interface with new links has rolled out.

[2019-11-04 17:30] #2178 closed

[2019-11-04 18:50] jywarren commented on #6675
So, here are the queries used for the `0 posts by 0 contributors | 0 followers` area:

https://github.com/publiclab/plots2/blob/8128a3053f9a145599ed58db27cf2d2ad50ca500/app/views/tag/show.html.erb#L57-L61

Here's somewhere they seem to be counting correctly, in the lower right of the main image:

https://github.com/publiclab/plots2/blob/8128a3053f9a145599ed58db27cf2d2ad50ca500/app/views/tag/show/_

[2019-11-04 18:51] jywarren commented on #6592
This is suffering from the same problem as #6675! I've put a solution there, and this would make a great FTO!

Short version: we should replace `tag.name` with `params[:id]`!

****
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some

[2019-11-04 19:01] nicoleiocana commented on #6592
Can this be assigned to me? I am currently working on the fix, except to simplify the code, I:

replaced tag.name with @title since it is referenced in the if-statement.

This fix passed my first test (the current issue #6592). I am now testing to see if my refactored code passes the following:

Since we didn't use tag.name and there are no references to the @tag instance variable in the show.html

[2019-11-04 19:10] nicoleiocana commented on #6675
I would also like to piggy-back off of @jywarren to mention that the entire show.html.erb code should be refactored to include the instance variable @title since the tag_controller.rb file has `@title = params[:id]`. Since we should be practicing DRY, it is redundant to have `params[:id]` in the show.html.erb file when it was passed along as the @title instance variable from the tag_controller.rb.

[2019-11-04 19:21] jywarren commented on #6592
Hi, `@title` may not be the correct capitalization, i think... and it was
originally intended to be used as the page title. Would you mind switching
to `params[:id]`?

I would like to remove @tag in the tag controller but there may be other
places it's used. Can we do that in a separate PR so as not to mix that
change up with this one? Thanks!

We'd love to have your help, thanks a lot!

On Mon, N

[2019-11-04 19:23] jywarren commented on #6675
Hi, ah, i see - so @title is used to set the HTML document title field, so
I am a little hesitant about using it for this logic just as it's currently
named for a different purpose -- it could cause some confusion. If we'd
like to independently use a new instance variable like @tagname, that could
work, but it may not save us much code. Thanks a lot!

On Mon, Nov 4, 2019 at 2:11 PM nicoleiocana <n

[2019-11-04 19:25] jywarren commented on #3845
Yes they do get a notification!

On Mon, Nov 4, 2019 at 12:20 PM Liz Barry <notifications@github.com> wrote:

[2019-11-04 19:30] nicoleiocana commented on #6592
Hello. The `@title = params[:id]` from the tag_controller.rb in the show method (sorry, I should've specified this) returns the exact tag name string, so it is the correct capitalization (or not depending on the tag name). Therefore, regarding only the show method, it would make sense to delete the `@tag = Tag.find_by(name: params[:id])` in the tag_controller.rb because:

1. It was returning nil;

[2019-11-04 19:56] nicoleiocana commented on #6675
You are very welcome. I totally agree with you...... trust me. But since this isn't my code, I didn't want to edit out their usage of certain definitions; I was just using what they gave me. I'll submit this PR using @title, then, if someone wants to refactor the code to redefine @title to mean something else, I'll just let them have that responsibility. =)

[2019-11-04 20:12] sentry-io[bot] opened #6678 "Wiki edit error: NoMethodError: undefined method `vid=' for true:TrueClass"
Sentry Issue: [PLOTS2-FC](https://sentry.io/organizations/publiclab/issues/1314246227/?referrer=github_integration)

[code]

[2019-11-04 20:13] jywarren commented on #6678
This came up while trying to edit this page:

https://publiclab.org/wiki/water-quality-sensor

[2019-11-04 20:13] jywarren commented on #6678
Aha - it relates to the main image:

[code]

[2019-11-04 20:15] jywarren commented on #6678
Strangely i re-uploaded the same main image and now it works fine. Hmm. Closing but let's watch this!

[2019-11-04 20:15] #6678 closed

[2019-11-04 20:23] nicoleiocana commented on #6592
@jywarren
You were totally right. Deleting the @tag instance variable didn't pass the tests. I kept it, only added the `@title` in the show.html.erb file for the "New Post +" issue and submitted that PR. Thanks for the insight, I appreciate it.

I'll make a PR for #6675 and refactor the code; in particular, editing out all of the `tag.name`'s and replacing them with `@title`'s.

[2019-11-04 20:41] jywarren commented on #6592
This sounds good, however I don't want people to begin assuming @title
means tagname here, as that is not true for the rest of the codebase. I'd
really appreciate if you could use params[:id] as that is more generic and
will create less confusion, and if you'd like, we can develop a new naming
scheme that'll make even more sense in a separate PR. My other concern is
that I'd like to be sure any re

[2019-11-04 20:47] jywarren commented on #6444
It doesn't look like it - we'd love your help! Thanks!

[2019-11-04 20:47] jywarren commented on #6444
Oops, closed by accident! 😄

[2019-11-04 21:41] jairus-crabb commented on #6599
Hello! Has anyone claimed this issue??

[2019-11-04 23:21] nstjean commented on #6599
@jairus-crabb No one else has, you are welcome to it!

[2019-11-05 08:33] SidharthBansal commented on #6238
@keshav234156 @vaibhavmatta please make sure that the tasks are properly made on the GCI dashboard. I saw minor mistakes like typos, title mistakes, URL missing or mentors missing in the tasks.
Please add all the mentors related to that repository in that task.
(No need to add me nor Jeff as we will get emails for each task.)
Thanks
Sidharth

[2019-11-05 08:34] SidharthBansal commented on #6238
Can anyone help in creating the welcoming and installation tasks on the dashboard? We can make instance count as 100 for them.

[2019-11-05 08:40] vaibhavmatta commented on #6238
@SidharthBansal , I will do it.!

[2019-11-05 09:25] keshav234156 commented on #6238
@SidharthBansal yeah there was typo in title in 1 of the task and i have corrected it.Was there any other mistake in that task?I am not able to add mentors in my tasks. Could you please tell how to add mentors in task?

[2019-11-05 10:31] SidharthBansal commented on #6238
You can add mentors by adding their names in the mentor field at the bottom of the form

[2019-11-05 13:28] nishantwrp commented on #6602
@nstjean I'd like to work on this issue

[2019-11-05 14:27] nicoleiocana commented on #6592
I completely agree with you on all points. Let me break down my logic to see if it is parallel with your notions:

The confusion occurs for @title when the original code for the show.html.erb in the tag folder utilizes here:
`<h1 style="margin-top:6px;"><%= @title %></h1>`
versus
` <% if current_user && current_user.following(@title) %>`
Like you mentioned, we should keep the logic of the header t

[2019-11-05 15:11] gptshubham595 opened #6681 "Remove redundant comment count"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-05 15:18] gptshubham595 commented on #6681
@SidharthBansal review for first timer

[2019-11-05 15:29] gptshubham595 opened #6682 "Just adjust / Resize Image"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-05 15:33] jywarren commented on #6592
Yes, that's exactly right! Thank you so much for working through this! I also think this applies for https://github.com/publiclab/plots2/pull/6677, what do you think?

[2019-11-05 15:44] #6415 closed

[2019-11-05 16:02] nstjean commented on #6602
@nishantwrp Welcome! Go ahead!

[2019-11-05 16:03] nobeeakon commented on #6682
Hi there, I would like to contribute. First time contributing

[2019-11-05 16:12] nicoleiocana commented on #6592
Yes, you are right. Since I submitted a PR for the similar issue more recent than this one, my comment above applies as of now:

In particular, the `@title` instance variable only refers to the HTML headers where applicable.

You are very much welcome. =)

[2019-11-05 16:22] gptshubham595 commented on #6682
@nobeeakon  Go on

[2019-11-05 16:41] jywarren commented on #6682
Hi all - thanks so much @gptshubham595 for posting this. Unfortunately this page is part of a 3rd party web system and is not part of our open source code, so we can't make modifications to it. Anything under "store.publiclab.org" is like this. So unfortunately i'll have to close this -- but we'd love to help you both find another from the "fto-candidates" label? https://github.com/publiclab/plots

[2019-11-05 16:41] #6682 closed

[2019-11-05 16:41] jywarren commented on #6682
Thank you both! ❤️

[2019-11-05 16:50] debck commented on #6572
I was using chrome browser in my phone

[2019-11-05 17:09] nstjean commented on #6572
@susanreenesaa I see what you mean about the sign up popup being located below the screen! The login popup doesn't have the same problem.

@debck Thanks for responding! I'm checking on chrome and not having an issue. Can you check again and see if you're still seeing the problem?

[2019-11-05 17:25] gptshubham595 opened #6684 "Scroll to top should be hidden before"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-05 17:31] gptshubham595 opened #6685 "Remove redundant text written twice: MADE: time"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-05 17:37] debck commented on #6572
Yes, I am still finding it. The login popup is working good. But for the
signup modal, it appears little downwards and scrolling it I still see as
in the screenshot above.

On Tue, 5 Nov 2019, 10:49 pm Natalie St Jean, <notifications@github.com>
wrote:

[2019-11-05 17:38] gptshubham595 opened #6686 "Remove redundant text written twice: Read More Blog"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-05 17:49] 123abhay commented on #6685
@gptshubham595  should i take this

[2019-11-05 17:52] gptshubham595 commented on #6686
@123abhay  go for it

[2019-11-05 17:52] gptshubham595 commented on #6685
@123abhay go for it

[2019-11-05 17:52] gptmanoj commented on #6684
@gptshubham595 should i opt for this?

[2019-11-05 17:53] gptshubham595 commented on #6684
@gptmanoj go for it

[2019-11-05 17:57] ebarry commented on #6278
Have we chosen a scoring system for gci students? If so, perhaps should we close this issue?

[2019-11-05 18:06] gptshubham595 commented on #6598
May I take this issue
as it around  days and not solved

[2019-11-05 18:07] gptshubham595 commented on #6599
May I take this issue
as it around  days and not solved

[2019-11-05 18:08] gptshubham595 commented on #6601
@nstjean
May I take this issue
as it around 3 days and not solved

[2019-11-05 18:08] gptshubham595 commented on #6602
May I take this issue
as it around 3 days and not solved

[2019-11-05 18:10] gptshubham595 commented on #6603
May I take this issue
as it around 3 days and not solved

[2019-11-05 18:28] jywarren commented on #6684
Hi @gptshubham595 I'd like to suggest we hold off on labeling these as `first-timers-only` just yet, as the full formatting of an FTO should include links to where the code is in the project, like this:

https://github.com/publiclab/plots2/blob/e3f1150402a3a16905281f69e1af484e81841d3e/app/models/node.rb#L644-L646

You can read more about how to create full FTO issues here!

https://code.publiclab.

[2019-11-05 19:53] susanreenesaa commented on #6574
let me try it out.

[2019-11-05 20:36] Devang-25 commented on #6603
@nstjean Can I claim this one?
I have already committed and pulled 3 requests.
Let me know.

[2019-11-05 20:42] crisner opened #6688 "Success notification upon clicking the follow button when user is not signed in"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-05 20:45] crisner commented on #6688
@jywarren @cesswairimu Came upon this bug and figured it would make a good FTO. Please let me know if that is not the case or if there are any changes to be made in the issue description. Thank you.

[2019-11-05 21:04] nstjean commented on #6603
@gptshubham595  @Devang-25 There is already a pull request submitted for this issue.

@Devang-25 These FTO issues are for people who have never submitted a Pull Request before. You can look at https://code.publiclab.org/ (scroll down to "What's next?") for some suggestions on what your next steps can be!

[2019-11-05 21:06] nstjean commented on #6599
@gptshubham595 This issue was requested by @jairus-crabb just 22 hours ago.