[2018-09-05 14:01] shubhscoder commented on #3236
@ebarry do you wish to be redirected to the page shown in the screenshot below after clicking on "+Add one now" ?
![wikinewpage](https://user-images.githubusercontent.com/18489285/45098234-329e6780-b142-11e8-8feb-536dd1cb51a2.png)

If yes then I think I can fix this!

[2018-09-05 16:41] jywarren opened #3297 "Progress spinners on Leaflet Blurred Location"
Hi, @mridulnagpal - i've been trying to get the spinner to appear when clicking "Locate me" -- as in the latest demo: https://publiclab.github.io/leaflet-blurred-location/examples/

but haven't been able to get it working. Also, the geolocation itself seems not to be working? Maybe there's an issue overall with the button now? Would you mind taking a look?

[2018-09-05 17:00] jywarren commented on #3236
Hi! I think the idea is that when going to a page like
/wiki/some-page-name, and that wiki page doesn't exist, that it shows the
form and prompts you to make that page. This is how it used to work --
non-existent pages showed a form to create that specific page. We must've
unintentionally changed this in our tag redirects -- i attempted a fix here
but it didn't work: https://github.com/publiclab/p

[2018-09-05 17:04] jywarren commented on #3276
Ah, just a note on `Removal of image from the footer as we are removing localisation and internationalisation` -- we're not removing it, but we are going to be working on it more in #3262

Almost caught up on all this, thanks for your patience!

[2018-09-05 17:10] jywarren commented on #3296
Thanks, we're working on this one! https://github.com/publiclab/plots2/issues/3236

[2018-09-05 17:10] #3296 closed

[2018-09-05 17:10] jywarren commented on #3296
With in-progress fix here: https://github.com/publiclab/plots2/pull/3189

[2018-09-05 17:12] jywarren commented on #3236
Does this make sense @shubhscoder -- that we'd display the template for `/wiki/new` but on the URL for `/wiki/________` (where `______` is a non-existent wiki page)?

[2018-09-05 17:17] jywarren commented on #3192
I think here, we should be displaying this action: https://github.com/publiclab/plots2/blob/master/app/controllers/tag_controller.rb#L168

Can you try going to this page on your local copy to see what the error is and copying in the error here?

https://publiclab.org/questions/tag/test/author/admin

A few other combinations of username and tag name (`admin` and `test`) might help narrow in on the

[2018-09-05 18:26] shubhscoder commented on #3236
In file app/views/tag/show.html line number 36 where href points to something weird. I think it should link to wiki/new/

[2018-09-05 18:37] shubhscoder commented on #3236
Yeah I think that should work @jywarren .

[2018-09-05 18:38] jywarren commented on #3236
So, i think it should link to /wiki/<%= params[:id] %> so that it prompts
you to create a new page at that address. But it's what happens at that
address that's broken, and that should be worked out at the lines of code
in my pull request -- take a look!

On Wed, Sep 5, 2018 at 2:26 PM Shubham Sangamnerkar <
notifications@github.com> wrote:

[2018-09-05 18:39] jywarren commented on #3168
I'm not sure -- i think probably when we apply and are accepted, we can
invite mentors. That's how it works for GSoC.

On Tue, Sep 4, 2018 at 8:02 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-05 18:39] jywarren commented on #3236
super -- thank you!

On Wed, Sep 5, 2018 at 2:39 PM Shubham Sangamnerkar <
notifications@github.com> wrote:

[2018-09-05 18:40] jywarren commented on #3278
Hi, anyone is free to take this one up and you don't need it to be assigned to you. But please open a pull request and link to it from here, so other people know you've started work on it. Thank you so much for your help!

[2018-09-05 18:41] shubhscoder commented on #3236
No problem. Are there any more such issues that can be worked out ?

[2018-09-05 18:45] jywarren commented on #3236
Ah, sorry, i mean to say that my PR /attempts/ to solve the problem in this way, but I encountered some errors and test failures and think I did it wrong. I'd LOVE some help resolving those if you want to take my PR as a starting point?

[2018-09-05 18:55] shubhscoder commented on #3236
Yeah sure I can try that!
If you simply link it to wiki/new then it would open up the post edit window without any default information and that is not desired right?

We want it to autofill the create page textbox with params[:id] i.e the name of wiki page that was requested and not found ?

Please correct me if I haven't misunderstood the issue. Thanking you. :)

[2018-09-05 20:04] jywarren commented on #3236
That's right. I think we /could/ redirect to /wiki/new?title=_____ to offer
default info... so /wiki/newpagename would redirect to
/wiki/new?title=newpagename if that page doesn't already exist.

On Wed, Sep 5, 2018 at 2:57 PM Shubham Sangamnerkar <
notifications@github.com> wrote:

[2018-09-05 21:06] k-sau commented on #3093
![screenshot from 2018-09-06 02-29-19](https://user-images.githubusercontent.com/7109945/45120767-bb39f980-b17c-11e8-9533-25066805e72c.png)
hey @jywarren , Is this look better now ?
https://github.com/publiclab/plots2/blob/4015e70ca5270e8312b6b340e81c7cd1155880e8/app/views/questions/_questions.html.erb#L17
I just cut and pasted this above line to line 26. I hope doesn't broke anything.

regardless

[2018-09-05 22:05] jywarren commented on #3093
Yes, this looks super. This then is in the same place so it's not
unexpected when people look at questions.

On Wed, Sep 5, 2018 at 5:06 PM Kumar Saurabh <notifications@github.com>
wrote:

[2018-09-05 22:12] CoderJolly commented on #3278
This has issue has been completed. Pls close this issue @jywarren and thanks for your support

[2018-09-05 22:18] jywarren commented on #3278
Aha - oops! Thanks @CoderJolly -- can you link us to the PR where it was completed and then I'll close it out?

[2018-09-05 22:26] jywarren commented on #3278
Wow, that also means no more first timers only issues are open! I'll solve that now.

[2018-09-05 22:28] CoderJolly commented on #3278
No problem @jywarren , I was just looking for some beginner issues(easy ones) bt not first-timers so that I can really do something here except first-timers

[2018-09-05 22:39] first-timers[bot] opened #3298 "Add range buttons to /tag/____ page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-05 22:42] jywarren commented on #2439
Adding a new FTO for the range buttons! https://github.com/publiclab/plots2/issues/3298

And the others here could make good FTOs as well 👍

[2018-09-05 22:43] jywarren commented on #3278
https://github.com/publiclab/plots2/issues/3298 is a new first-timer issue!

But actually if you're interested in some slightly more advanced ones to take on next, there's a list at the bottom of this big issue that could be a place to start: https://github.com/publiclab/plots2/issues/2439

Leave a comment there and see if Vidit will help you choose one! I'm happy to support too.

[2018-09-05 22:46] CoderJolly commented on #3278
ok, nt a problem @jywarren. What comment do u want me to leave ?

[2018-09-05 23:09] jywarren commented on #3278
well, if any of the checkboxes at the bottom look like a task you'd like to
tackle, please ask there!

On Wed, Sep 5, 2018 at 6:47 PM Harman Jolly <notifications@github.com>
wrote:

[2018-09-05 23:15] jywarren commented on #3285
Hmm, interesting! What would be one example of a project -- maybe one like
a number of the sub-issues of this?
https://github.com/publiclab/plots2/issues/2439

On Sat, Sep 1, 2018 at 7:45 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-05 23:17] jywarren commented on #3278
thank you too!

On Wed, Sep 5, 2018 at 7:15 PM Harman Jolly <notifications@github.com>
wrote:

[2018-09-05 23:19] jywarren commented on #3283
Wow, very cool! Actually i wonder if it could be implemented via the Notifications API - that way it can work on phones too:

https://github.com/publiclab/plots2/issues/2497

Or is this what action cable does? I'm not familiar with it!

[2018-09-05 23:20] jywarren commented on #3279
that's right -and it's not just the one note, but that sidebar section
that's coded seems never to be activated anymore -- no posts show a list of
responses.

Eventually we want to add more automated systems for adding these tags! but
there are quite a few already tagged manually :-)

On Sat, Sep 1, 2018 at 8:44 AM Gabriel <notifications@github.com> wrote:

[2018-09-06 01:51] SidharthBansal commented on #3285
Yeah we will break the project into smaller issues and sub issues like you did in #2439.
If you are OK with this approach we can try to break #3283.

[2018-09-06 02:47] yangmichaelkcs commented on #3298
Can I try this?

[2018-09-06 11:57] AmanGarg97 commented on #3298
Hey! I made a PR for this issue ( PR #3300 ).Please review this. Thanks!

[2018-09-06 13:01] arteteco opened #3301 "Pagination is broken in home page"
Hi all,

That'show to reproduce the bug:

* go to https://publiclab.org
* Go at the pagination, at the bottom. It will by default have the 2 selected.
* click on any page number
* The results of the blog entries do not change, and you are still on page 2.

It is quite frustrating, and I frankly have no idea of why that is happening.

Tested with

Chromium Version 68.0.3440.75 (Developer Build) bui

[2018-09-06 14:43] k-sau commented on #3093
I just did but my Gemfile.lock also got updated. Is that an issue?

[2018-09-06 17:59] SidharthBansal commented on #3168
@jywarren do we participate in outreachy?? I saw your posts about outreachy once

[2018-09-06 18:01] SidharthBansal commented on #3301
Issue earlier reported in #2173

[2018-09-06 18:01] SidharthBansal commented on #3301
Thanks @arteteco for reporting the issue. We are trying to fix it as soon as possible.
Thanks for your patience and thanks for making an issue.

[2018-09-06 18:17] jywarren opened #3303 "@mentions can break URLs that include a @ character"
We have a great system which turns instances of `@______` into a link, just like on GitHub (like @jwarren). However, it breaks for string like:

`[From the Bayou to the Bay: Voices of Gulf Resistance](https://medium.com/@350/from-the-bayou-to-the-bay-voices-from-the-gulf-f6707c7ecff3)"`

I believe even without the Markdown link syntax, that URL would break:

https://medium.com/@350/from-the-bayou-

[2018-09-07 14:31] jywarren commented on #3168
We'd like to but haven't yet done so. Maybe this year...?

On Thu, Sep 6, 2018 at 2:00 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-07 15:55] #3272 closed

[2018-09-07 16:04] SidharthBansal commented on #3168
Let me search and post the timeline....I want public lab will participate in every program held in yr

[2018-09-07 16:30] SidharthBansal commented on #3168
GCI applications are open now. Gentle ping to apply there @jywarren
Thanks

On Fri, Sep 7, 2018, 8:01 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-09-07 16:31] jywarren opened #3305 "Planning issue for import of Google Groups to db Nodes"
This is a doozy, so watch out! Long term project, no immediate action needed.

We have (and can generate anytime) a full export of Google Groups content to `.mbox` format using Google Takeout. It's all public information except peoples email addresses.

Someday, we may want to import all of these as nodes, back-dated using the timestamp data, to make them searchable in PublicLab.org. This might in

[2018-09-07 16:32] SidharthBansal commented on #3168
This is outreachy page. Applications are open soon. May I create a new
issue for this @jywarren?
https://www.outreachy.org/apply/project-selection/

On Fri, Sep 7, 2018, 9:58 PM Sidharth Bansal <bansal.sidharth2996@gmail.com>
wrote:

[2018-09-07 16:38] SidharthBansal commented on #3168
I think we need to apply before 12 sep in outreachy
www.outreachy.org/communities/cfp/

See the timeline

On Fri, Sep 7, 2018, 10:02 PM Sidharth Bansal <bansal.sidharth2996@gmail.com>
wrote:

[2018-09-08 05:42] icarito commented on #3040
Hi,
I just wrote a naive test in Ruby for the first time:
[code]
The idea would be to put this or something close to it into a rails route.
Then we can use our current (Rackspace) monitoring tools to check that the route always returns PASS.
I just need to figure out where to put this!
:-D

[2018-09-08 06:48] icarito commented on #3261
Here I've tried again with the exact same commit and it worked in Jenkins too. Merging https://github.com/publiclab/plots2/pull/3306/files should work and not affect production!

[2018-09-08 09:32] cthulhu-uu commented on #3303
Hello, I would like to work on this issue.

[2018-09-08 09:51] gauravano commented on #3303
Hi @cthulhu-uu , that would be awesome. Please go ahead and if you have any questions feel free to ask here. Thanks!

[2018-09-08 10:47] cthulhu-uu commented on #3303
Thanks so much! I did have a question to help clarify the requirements:

The issue description says that we need to make it so that the mention doesn't detect a name if it doesn't have a whitespace preceding it, but the test case that the author wrote says "@warren/@warren" should work, which seems to contradict the issue description.

So that I may narrow down my testing (sorry, still new to prog

[2018-09-08 16:58] jywarren commented on #3303
I think the @jywarren/@jywarren case is extra difficult - ideally it does
match both - but also it's a rare case. If you don't find a good solution
to cover this case we can open a follow up issue with it because it's
pretty rare, and focus on the much more common case that the issue mainly
describes. Thank you!

On Sat, Sep 8, 2018, 6:47 AM cthulhu-uu <notifications@github.com> wrote:

[2018-09-08 17:30] yash98gupta commented on #3298
can i try ? i am new to open source

[2018-09-08 17:33] jywarren commented on #3247
This was solved, thanks!!!

[2018-09-08 17:33] #3247 closed

[2018-09-08 17:36] #2941 closed

[2018-09-08 17:45] #219 closed

[2018-09-08 17:48] jywarren commented on #3298
Hi Yash, it looks like there's already a start to this one.
@publiclab/reviewers does anyone have a new FTO issue to share for Yash?

On Sat, Sep 8, 2018, 1:31 PM Yash <notifications@github.com> wrote:

[2018-09-10 14:49] jywarren commented on #2304
yes - this list is almost complete; but there are lots of small follow-ons and variations that could also help. Patrick suggested: `moderating a user would also moderate all their comments` and we can add that to this list.

The feature of holding all first-time comments for moderation would also be a bit of a project but we can add it to the list too if folks think it's time for that.

[2018-09-10 15:12] ebarry commented on #3284
Wow interesting. Can someone explain what bounties mean?

I would like to relate this concept to the concept that is currently in my head, which is --- Broadly in Public Lab (as in the environmental research part), we try to reward all contributions equally, to overturn some of the exclusivity that builds up in domains of expertise.

Thank you for any explanations you can add!!!! <3!

[2018-09-10 15:27] jywarren commented on #3284
Yes, I've been thinking hard on this one for a few days, and my main worry would be that some people might consider certain types of work to be "worth more" in a way that might not be fair, even by mistake or oversight. It's a tough thing to figure out what is worth more or less or what's easier or harder for people.

Definitely there are some tasks that just involve lots and lots of lines of code

[2018-09-10 15:29] tech4GT commented on #3284
Hi @ebarry
Actually bounties are like points that you get on completion of a task. So the bigger the task the more the points(bounty). The idea is to create labels on GitHub issues which will clearly tell the contributors how much points they will get on solving that issue. We can then take our descision based on the points earned rather than number of issues solved. This should be more fair to pe

[2018-09-10 15:31] tech4GT commented on #3284
@jywarren you are right, we would have to be very careful while setting the bounties. This should not be a problem if bounties are set on a project by mentors who are very well versed with it, what say?

[2018-09-10 15:32] SidharthBansal commented on #3284
@jywarren your concern is right. I thought about this thing. For me may be
technology t1 is tough and technology t2 is easy but for other guy it may
be opposite. So, I agree that hard and easy are relative terms.
Just trying to make the competition transparent to students

On Mon, Sep 10, 2018, 8:57 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-09-10 15:36] SidharthBansal commented on #3284
I will say that we can have 2 categories or three. Like very basic category
in which 50 points (/bounties/score) is given to candidate. 250 who does a
fairly big task.
Usually people make many small one liner edits at many places and the no of
commits for them is higher than those who did a big patch of 500 lines. So,
the judging criterion should be fair.

Like front end images can be 50, implemen

[2018-09-10 15:37] jywarren commented on #3040
If it's executable, we could put it in a public folder and bypass Rails,
just running it in Ruby... would that help at all?

On Sat, Sep 8, 2018 at 1:43 AM Sebastian Silva <notifications@github.com>
wrote:

[2018-09-10 15:38] SidharthBansal commented on #3284
My main focus is how will we decide the winner. This decision should be
transparent and fair as per the spirit of competition. We can do this
either by bounty system or by simply lines of code or by number of PRS
merged+ number of issues opened.

On Mon, Sep 10, 2018, 9:05 PM Sidharth Bansal <bansal.sidharth2996@gmail.com>
wrote:

[2018-09-10 15:44] gauravano commented on #2304
Hi @jywarren, here's the new checklist for the follow-up parts of this issue.
[ ] Holding first-time comments for moderation
[ ] Moderation of user affecting his comments

@publiclab/community-reps please add more parts to this checklist and please give thumbs up :+1:  to those parts which you think are ready to be implemented. I would be happy to break each part of the checklist further down to s

[2018-09-10 16:21] jywarren opened #3308 "[notes:question:_____] inline grids break by encoding emojis from :question:"
We have a great system which recognizes short codes for emojis, turning `:question:` into ❓ just like on GitHub!

But when we try to use inline power tags like:

`[notes:question:website]`

...which is supposed to show a list of notes tagged with `question:website` -- it turns that into:

`[notes❓website]`

We need to change the emoji substitution code to not run within `[ ]` square brackets!

I p

[2018-09-10 21:32] jywarren commented on #3168
Ah, thanks, i'll note this but it may require fundraising!

For Code-In, i'm registering, but it asks:

**Is your organization prepared to provide between 150 and 500 tasks for students to complete?**

Are we??? 😄 🚀

[2018-09-10 22:32] gauravano commented on #3168
We are prepared for sure :smile: :+1: :100:

![typing_image](https://user-images.githubusercontent.com/20878070/45327825-c921bd00-b576-11e8-8731-e53392005c36.gif)

(Image source - [liz's profile](https://publiclab.org/profile/liz))

[2018-09-11 07:38] sagarpreet-chadha commented on #3168
Yes we can easily achieve the lower limit 😄 !

[2018-09-11 20:46] jywarren commented on #3168
Haha, ok you folks. We'll do it. But remember!!

Requirements:

1. provide a pool of tasks for contestants to choose from, which are publicly published by the Organization;
2. make available five (5) or more individuals responsible for helping contestants integrate with the Organization’s community ("mentors");
3. assign mentors (and alternates in case such mentor becomes unavailable) to monitor t

[2018-09-11 20:50] Souravirus commented on #3168
Ok we can do it.

[2018-09-11 21:33] ebarry commented on #2120
hi @publiclab/soc , could we bump up this issue for the Google Code In? It's nice and discreet.

[2018-09-11 21:37] Souravirus commented on #2120
Yeah sure @ebarry

[2018-09-11 21:41] jywarren commented on #3168
Great -- the application is also asking to see: 25 example tasks. Are we organizing them at this issue? https://github.com/publiclab/plots2/issues/3276#issuecomment-418078725

Can we make a list of 25 that are not posted as FTOs yet?

[2018-09-11 21:42] jywarren commented on #3168
They say: `Be sure to include tasks from all 5 categories.`

and linked to https://developers.google.com/open-source/gci/help/org-sample-tasks

[2018-09-11 21:43] jywarren commented on #3168
I believe this is the last thing to prepare for the application. 6 days to go before it's due!

[2018-09-11 21:49] gauravano commented on #3168
@jywarren should we make a list of 25 tasks in a document or should we create 25 issues?

[2018-09-11 21:59] jywarren commented on #3168
does this page explain their preference?
https://developers.google.com/open-source/gci/help/org-sample-tasks

On Tue, Sep 11, 2018 at 5:49 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-09-11 22:37] Souravirus commented on #3168
So, that means they just want to see the 25 tasks somehow. So, I think making 25 issues with GCI tag on them will do with a description that "reserved for GCI only".

[2018-09-11 22:41] gauravano commented on #3168
The examples given at the page (linked above ) list small challenges so if we are going to keep that level of tasks then creating a separate issue is not required.

I meant that whoever would be adding the task at #3276 should also add relevant tags too.

[2018-09-12 01:16] SidharthBansal commented on #3168
We can create list in #3276 and open respective issues when gci starts with
gci label.

And yeah we will meet the requirements for sure

On Wed, Sep 12, 2018, 4:11 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-09-12 02:07] icarito opened #3311 "Avoid nginx compilation step"
In https://github.com/publiclab/plots2/pull/3288 we added an explicit compilation step.
I believe we should be using binaries either from Debian or Phusion, not recompiling every time.
This would speed up testing and deployment.

[2018-09-12 02:37] milaaraujo opened #3312 "Search page: Comparing search modes (boolean and natural)"
Hey everybody! After working on the API, Stéfanni and I are now trying to improve the Search page (results and design). Recently I opened a PR (#3309 ) to add the boolean mode option to the search view. Now I need your help to compare the different search options in the page (https://publiclab.org/search):
![desenho sem titulo 3](https://user-images.githubusercontent.com/4355017/45398614-c6b47700-

[2018-09-12 15:06] ebarry commented on #3236
Would this be a good issue for Google Code In? Or maybe we're already on the way to wrangling it ourselves......

[2018-09-12 15:17] jywarren commented on #3168
OK well lets start in #3276 and if we find it gets out of control then we can start breaking them into their own issues. How about that as a path? OK -- 5 days to go! Also note that @ebarry is starting to mark some that could be included in the list. I'll make a `gci-candidate` tag so we can track those too.

[2018-09-12 15:18] jywarren commented on #3236
@shubhscoder I think that's up to you -- have you begun work on this one? We'd love your help!

[2018-09-12 21:37] first-timers[bot] opened #3314 "Change settings for sidebar map display"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-13 03:32] jywarren commented on #3314
That'd be awesome! Thanks!

On Sep 12, 2018 11:20 PM, "Blanca Sanchez" <notifications@github.com> wrote:

I'd like to claim this!

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/plots2/issues/3314#issuecomment-420870444>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AABfJ-U5c

[2018-09-13 03:55] #3314 closed

[2018-09-13 03:56] jywarren commented on #3314
Maybe you'd be interested in trying this one?

https://github.com/publiclab/plots2/issues/3188

[2018-09-13 13:30] steviepubliclab commented on #2304
Hi!  Sorry missed this one. Yes - I think we need to moderate first time comments. A lot of them have been some pretty bad spam lately!

Thanks
-Stevie

[2018-09-13 14:28] sagarpreet-chadha opened #3316 "Use of common JS functions on /maps page ."
https://publiclab.org/maps/  --page uses the LEL library .

https://github.com/publiclab/plots2/blob/master/app/views/map/index.html.erb

Common functions to use/setup this library are written here :

https://github.com/publiclab/plots2/tree/master/app/assets/javascripts

#### Lets use these common functions !

Example use of these functions are done here :

https://github.com/publiclab/plots2/blo

[2018-09-13 14:38] ebarry commented on #3152
Hi @kryptc , great to meet you!
I see what you are saying, that the main /stats page does not actually display Total Contributors over the lifespan of the website. I think you are completely right about that.

Perhaps we could add the display of Total Contributors to the main stats page?

[2018-09-13 14:40] ebarry commented on #1717
Hi! Thank you for fixing this!
I'm wondering if this is what this page is supposed to look like?

<img width="833" alt="screen shot 2018-09-13 at 10 39 27 am" src="https://user-images.githubusercontent.com/161439/45495476-531d8180-b741-11e8-8141-43b302eb3b60.png">

[2018-09-13 15:13] ebarry commented on #3087
THIS IS AWESOME
THANK YOU SO MUCH
I HAVE BEEN HOPING FOR THIS SINCE 2012

[2018-09-13 17:31] sagarpreet-chadha commented on #3276
Hi @SidharthBansal...I added some tasks .
I was wondering if we should break these tasks especially UI Design into sub-tasks .

I guess we can break them into many sub parts . What do you think ?

[2018-09-13 18:28] first-timers[bot] opened #3317 "Add comment templates to comment form"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-13 19:05] jywarren commented on #1717
I don't remember this page, but from the code history it looks like it was intended to show as succinctly as possible how many subscribers there were for different tags, as per a request you made in 2016. That does seem like how the page is supposed to look! My guess is that it was part of a very big (#964) set of changes and we didn't block out time to do an interface since it answered an urgent

[2018-09-13 19:11] jywarren commented on #2304
for ` Moderation of user affecting his comments` that means /all/ their comments are moderated when you moderate the user?

I think this is good. But I think we may need to make the 'moderate comment' button NOT ban the user... or we need two buttons -- ban the user entirely AND all their comments, OR moderate just the one comment.

This is a lot of extra work! I really appreciate it and I wonder

[2018-09-13 19:50] gauravano commented on #2304
Yes, breaking both the parts into further parts is better. I would be starting with `Moderating first-timer comments` system. Thanks @jywarren @steviepubliclab !

[2018-09-13 20:06] jywarren commented on #3276
Just adding a few here that can be merged with the above:

* [ ] make username/email form appear side by side with Oauth user registration
* [ ] display of an SVG at the URL `/profile/status/_ID_` for a `user` with `id` of `_ID_`, showing the `user.status` as one of these two SVGs: https://gist.github.com/jywarren/ea0523a09f6f8660486b14eeea15de95
* [ ] display if someone's been banned or is still

[2018-09-13 20:34] jywarren commented on #1487
I'm marking this as a good candidate because folks looking to get involved can read over the original solution in #2657 which was completed in #2674, and reapply this to other places where we could use a flag button.

Can folks identify places where this is still needed? We can start linking to the corresponding templates and get this completely wrapped up!

[2018-09-13 21:11] jywarren commented on #2304
THANK YOU!!!

[2018-09-13 21:12] jywarren commented on #3276
Some that could be broken out of `break-me-up` issues  -- a LOT of good material there -- (https://github.com/publiclab/plots2/labels/break-me-up):

* [ ] additional work on the Checklists system: https://github.com/publiclab/plots2/issues/2452
* [ ] some Bootstrap 4 work? https://github.com/publiclab/plots2/issues/1716

[2018-09-13 21:19] jywarren commented on #3168
OK folks, so I added a bunch of tasks to #3276 with links to code. I think we're getting close to 25, but please check out https://github.com/publiclab/plots2/labels/break-me-up for some good candidates to add.

Then we'll have to start adding code links, and other information so they aren't too bare or too complex. For now we can do it in comments so you know who has added them. At the end we can

[2018-09-14 00:42] SidharthBansal commented on #3276
Go ahead @sagarpreet edit the list.
@jywarren we can add the tasks into the list by Editting the list this way we will not have long conversation in this issue
Thanks all

[2018-09-14 02:02] debrachoo commented on #3317
Can I try this?

[2018-09-14 06:08] SidharthBansal opened #3319 "SoC Ladder Documentation"
Write documentation on how to start contributing to Public Labs for SoC.
Make a list of repositories included in Public Labs. Explain the steps included in the program.
``
We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.
``

[2018-09-14 09:12] SidharthBansal commented on #3283
Helpful links
https://gorails.com/episodes/in-app-navbar-notifications
https://www.youtube.com/watch?v=87fBAWc25Sk
I am trying to learn this stuff first. @siaw23 if you know the notification stuff we can move according to your strategy.
Thanks all

[2018-09-14 09:32] SidharthBansal commented on #3276
@sagarpreet-chadha go ahead and write down the tasks as many as you can. We need atleast intial 150 tasks and atleast 25 open issue till december for gci. Also, we have to keep in mind the elderly fellows who want to contribute so we need even more tasks.

[2018-09-14 09:57] SidharthBansal commented on #3276
* [ ] follow these steps:
1. publiclab.org/post You will be redirected to login page
2. Login
3. Redirected to dashboard
Expected Behavior Redirected to /post.
* [ ] Remove extra space at bottom of /post
![image](https://user-images.githubusercontent.com/20972099/45542650-2300dc00-b830-11e8-89df-d66847e43dad.png)
* [ ] Removal of 1 horizontal line
![image](https://user-images.githubusercontent.com

[2018-09-14 14:04] first-timers[bot] opened #3321 "Add label for "replied by email" icon"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-14 14:11] jywarren opened #3322 "Bounce non-user email replies and errors so they don't "disappear silently""
We should bounce back a reply email with either:

`Your reply did not get posted because we couldn't find an account on PL.org` (phrased more friendly and with a prompt to sign up?)

or if some other error occurred, just:

`There was an error and your comment couldn't be posted`

This could be broken into 2 emails -- and two issues.

Currently, the logic for processing the email is here:

https://

[2018-09-14 14:12] jywarren commented on #3322
It does seem possible that we could use the syntax `ActionMailer::Base.mail(from: "me@example.com", to: "you@example.com", subject: "test", body: "test").deliver` to just reply directly in the `mailman_server` file!

[2018-09-14 14:16] jywarren opened #3323 "Add "Reply to this email to post a response" to various email templates"
Now that we have the fabulous new reply by email system and it's running pretty reliably, we should actually tell people that they can respond by email!

A message like in the title could fit in multiple places.

![image](https://user-images.githubusercontent.com/24359/45554427-62b1ce80-b804-11e8-8cde-33a7bd5404b2.png)

The various comment templates where we need to add this message (which could b

[2018-09-14 14:45] gauravano opened #3324 "Add dropdown icon adjacent to the navbar items where required"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

We used to have buttons in the Navbar some time back which clearly guide people to explore options but with links in the Navbar, a site visitor may think of them as a direct link. So

[2018-09-14 14:49] DanilParshukov commented on #3321
Hello, could I take this issue?

[2018-09-14 15:26] gauravano commented on #3321
Hi @DanilParshukov that would be great. Thanks!

[2018-09-14 15:50] jywarren commented on #3324
There were also some additional changes removing icons which we may want to
re-add, for example to replace "Dashboard" with a house icon and "Profile"
with a person icon. This keeps things more compact, and we had buttons for
Store and Donate too...

The commit that changed this was here:
https://github.com/publiclab/plots2/commit/8252c2164feaed620e4fcd9a7d0f4df8ff87f1b6#diff-faf6482c7d306c24c4e64

[2018-09-14 16:00] jywarren commented on #3284
I like this to keep the labels more minimal -- and to think about the kinds of work that makes it a "big" one -- imagine they do one of this list, two of the list, or three of:

1. code change (<10 lines)
2. code change (10+ lines)
3. back-and-forth discussion with community for input
4. install and take a screenshot of the feature
5. write a test
6. write documentation

This not as a formal rule

[2018-09-14 16:12] SidharthBansal commented on #3284
So this means we will have an excel list type of spreadsheet where we will assign points to folks?

[2018-09-14 16:15] SidharthBansal commented on #3284
We also need to think of a feasible way to evaluate. If we will assign points for community bonding then this would be really tough for us to keep a check.

[2018-09-14 16:33] SidharthBansal opened #3325 "Redundant "Share Your Work" on dashboard page"
```We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.```

### Please describe the problem (or idea)
There are 3 Share your work links to the same page on the dashboard. One inside the navbar's menu. Other on sidebar and one in the Activit

[2018-09-14 16:41] SidharthBansal opened #3326 "Make table of contents consistent with contents"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)
The table of content shows links which appear nowhere in serial order.
![image](https://user-images.githubusercontent.com/20972099/45563398-

[2018-09-14 16:45] SidharthBansal opened #3327 "Remove Dashboard from the dropdown menu"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)
We have redundant Dashboard link under profile nav bar. We need to remove it.
![image](https://user-images.githubusercontent.com/20972099/45

[2018-09-14 16:54] SidharthBansal commented on #3317
Yes go ahead.

[2018-09-14 16:55] gauravano opened #3328 "Change navbar links to icons"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

To make the Navbar more compact replace the following navbar links:
1. `profile` link with the icon of the person
2. `Dashboard` link with the house icon
3. We want to hear about thi

[2018-09-14 17:00] gauravano commented on #3324
Opened separate issue at #3328 for icons @jywarren. I just added 2 points and 3rd point would be innovation from a GCI student. Also, do you think we should clean these comments?

[2018-09-14 17:50] stefannibrasil commented on #3312
@publiclab/maintainers @publiclab/support @publiclab/reviewers we would love to know what you think of this, we are working on the /search page and we think you are gonna like it, but we need your help with this first, if possible :))))

it will only take like 10min, max, we promise :cake:

[2018-09-14 18:01] jywarren commented on #3324
sure, go ahead!

On Fri, Sep 14, 2018 at 1:01 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-09-14 18:02] jywarren commented on #3326
I prefer to have critical information still on the README, and additional
info linked out to. Thanks!

On Fri, Sep 14, 2018 at 12:42 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-14 18:03] jywarren commented on #3325
I think we can remove the white button but leave the remaining 2. The
navbar appears on every page, for example, so is for a slightly different
purpose. Thanks!

On Fri, Sep 14, 2018 at 12:33 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-14 18:12] jywarren commented on #3284
Sure, i think this is reasonable. Just trying to come up with a quick way to evaluate "task size"

[2018-09-14 18:16] SidharthBansal commented on #3326
@jywarren I agree with you. I just want to say that we can make table of content somewhat similar to the listing which we provide. Like we can modify the table of contents to have direct links on the page first and then the indirect links so that the document is more readable.
Thanks

[2018-09-14 18:20] #3055 closed

[2018-09-14 18:47] Souravirus commented on #3276
- [ ] Auto-complete not working on 'post' page (described in #2795)
- [ ] Views and number of comments of post is not seen on small screen (described in #2397)
- [ ] Making a moving forward link or button on https://publiclab.org/stats page (described in #2650)

[2018-09-14 19:20] jywarren commented on #3317
Actually @debrachoo -- i had another idea -- to try to change this line:

[code]

To:

[code]

This should both make it possible to specify a template by the page URL instead of its id, AND have it default to 'nil' if nothing's found. Make sense? Thanks for your help!

[2018-09-14 19:27] jywarren commented on #3276
I thought we can post them in comments, but then before we submit, we can combine them all in the top and delete the comments. That way we can coordinate.

OR maybe even better, we can have a new issue compiling everything and close this issue so the conversation is preserved? We can do this sunday night or monday.

[2018-09-14 19:30] gauravano commented on #3276
Should we also add tags with each task? @jywarren

[2018-09-14 19:31] jywarren commented on #3276
yes please!

[2018-09-14 19:31] jywarren commented on #3273
I haven't seen this happen recently...

[2018-09-14 19:48] bajajerk commented on #3168
I am interested to become mentor

[2018-09-14 19:53] gauravano commented on #3276
![digest_week](https://user-images.githubusercontent.com/20878070/45569530-633a7b80-b87d-11e8-81da-fc767f4dfd4d.png)

Hi @SidharthBansal actually this button is a part of Vidit's project, I guess, he placed it there for testing. @ViditChitkara do we need it anymore

[2018-09-14 20:11] gauravano commented on #3276
Just copying this link here for reference https://developers.google.com/open-source/gci/help/org-sample-tasks . Also, everyone we need to add category and tags as per this link.

[2018-09-14 20:17] jywarren commented on #3273
OK noting that this `mailman` monitoring project is ongoing here: https://github.com/publiclab/plots2/issues/3208

[2018-09-14 20:33] gauravano opened #3331 "Moderating first-timer comments"
We currently moderate first-timer question, note for preventing spam. Now, comments are also becoming a issue, so it's decided in #2304 that we would be implementing the similar moderation system as that of nodes for comments too.

- [x] Check if the user is a first-time commenter or not, if the user has published a note before then he/she
shouldn't be considered as the first-time commenter. Make

[2018-09-14 20:58] jywarren commented on #3311
On my last publish to production just now, I see it compiled nginx twice -- once just before `Step 1/19`, and once on `Step 19/19 : RUN passenger-config compile-nginx-engine --connect-timeout 60 --idle-timeout 60`... odd!

[2018-09-14 21:07] jywarren opened #3332 "Explore Jemalloc improvement to Ruby for reducing memory usage"
In some tests, `sidekiq` showed a 45% reduction in memory use with this switch:

https://medium.com/@adrienjarthon/ruby-jemalloc-results-for-updown-io-d3fb2d32f67f

https://pawelurbanek.com/optimize-dokku-deployment-speed

[2018-09-14 21:13] jywarren commented on #2969
Stevie mentioned:

[code]

[2018-09-15 07:01] DanilParshukov commented on #3321
Please review https://github.com/publiclab/plots2/pull/3334

[2018-09-15 07:39] geekychaser commented on #3323
@jywarren may i do this?

[2018-09-15 07:59] geekychaser commented on #3168
I want to become GCI mentor

[2018-09-15 13:11] bronwen9 opened #3336 ""Revisions" tab on Spam Moderation page leads to error."
The page at this link: [](https://publiclab.org/spam/revisions) seems to be missing at the moment.

[2018-09-15 15:27] jywarren commented on #3323
Please! that would be great!

On Sat, Sep 15, 2018, 3:39 AM Rishabh kr bothra <notifications@github.com>
wrote:

[2018-09-15 19:40] SidharthBansal commented on #3328
Hi @gauravano can you please break this into 2 different issues. So that two people can work on it.
Thanks

[2018-09-15 21:11] gauravano commented on #3328
Hi @SidharthBansal, I think it's fine as it is, as the issue just need replacing links with icons at some places, its already an easy task :sweat_smile: . What do you say?

[2018-09-16 02:40] SidharthBansal commented on #3328
Ok

[2018-09-16 14:48] sagarpreet-chadha opened #3337 "LEL library not working on plots2 !"
Console showing following error :

<img width="1438" alt="screen shot 2018-09-16 at 8 14 42 pm" src="https://user-images.githubusercontent.com/14952645/45597661-34dbae00-b9ed-11e8-9f39-c0b8c319ee5c.png">

**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publicl

[2018-09-16 20:27] gauravano opened #3338 "Display of an SVG at various places to show if user is banned or active"
Display if someone's been banned or is still active in moderator emails (https://github.com/publiclab/plots2/blob/master/app/views/admin_mailer/notify_node_moderators.html.erb) using the SVG at the above URL so moderators can tell if something's already been moderated without opening a link

SVG preferred: https://gist.github.com/jywarren/ea0523a09f6f8660486b14eeea15de95

[2018-09-16 20:30] gauravano opened #3339 "Remove redundant code"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Move files from https://github.com/publiclab/plots2/tree/master/app/views/comment/ to https://github.com/publiclab/plots2/tree/master/app/views/comments/ to consolidate these very si

[2018-09-16 20:38] gauravano opened #3340 "Sign-up Form Validation message correction"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

# Problem

When a user tries to submit an empty sign up form, and also does not check off the recaptcha box, This output is shown:

![image](https://user-images.githubusercontent.com

[2018-09-16 20:46] gauravano commented on #3276
## Code
- [ ] Change navbar links to icons (described in #3328 )
- [ ] Add dropdown icons adjacent to navbar links where required (described in #3324 )

[2018-09-17 11:34] siaw23 commented on #3283
I think the first link is using AJAX. There's a better way. We should use web sockets with Action Cable instead, comes with Rails 5. The second link is something completely different, just plain flash messages. That's not what we want. Are you going to build this or a GCI student again? One important thing worth defining is for WHICH events do we want the notifications? I think that needs to be sp

[2018-09-17 11:38] SidharthBansal commented on #3283
@jywarren can you please tell whether we need this feature or not? And what
all will we need to include in notifications?
Also do we make it into smaller subtasks for gci or take this project
entirely differently?

OK we can implement it with action cables.
Thanks folks

On Mon, Sep 17, 2018, 5:04 PM Emmanuel Hayford <notifications@github.com>
wrote:

[2018-09-17 13:49] jywarren commented on #3283
Hi, please check out the link I shared to the Notification API - it uses
neither AJAX nor web sockets, and is built into the UI of many smartphones
and OSs now. I believe it /may/ use AJAX or web sockets to fetch, but I
think it makes the most sense as the UI of this system.

Can you look at how this might integrate with a back-end? Is the interest
in Action Cable to avoid polling the server to "c

[2018-09-17 14:45] maciejmyslinski commented on #3327
I'd love to take over this one.
Today I speak about Open Source at meet.js Kraków meetup to encourage peeps to engage.
I'd like to show them live how to contribute using this ticket as an example.
Thank you for creating this opportunity! ❤️

[2018-09-17 14:52] SidharthBansal commented on #3327
Hi this issue is specially designed for google code in students. So it will be best if you could try any other first timer issue where gci candidate label is not present.
Thanks

[2018-09-17 15:02] maciejmyslinski commented on #3327
There are no other opportunities in this repo. But no problem, OS world is huge. I'll find something.

[2018-09-17 15:56] jywarren commented on #3284
I am going to make `small` `medium` `large` tags to help us if we need. This can be a hybrid - consider both lines of code, but also when needed, use these tags to help recognize kinds of work that aren't reflected in the lines of code. Maybe the student did a lot of research outside, or talked a lot with community to investigate a problem. Maybe they are making FTOs or something else which doesn'

[2018-09-17 16:01] jywarren commented on #3284
Closing as I've updated the main description on the task list issue!

[2018-09-17 16:01] #3284 closed

[2018-09-17 16:38] first-timers[bot] opened #3341 "Add a "welcome" feature to the sidebar for non-logged-in people"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-17 16:38] jywarren commented on #3327
Here you go! https://github.com/publiclab/plots2/issues/3341

[2018-09-17 16:39] jywarren commented on #3341
We store the text content in the database, so all we need to insert here is the feature code snippet itself!

[2018-09-17 16:39] jywarren commented on #3341
This one is for @maciejmyslinski !

[2018-09-17 16:42] jywarren commented on #3168
Hi, all! Thanks for your interest! Our task list is coming together here: https://github.com/publiclab/plots2/issues/3276

Please add lines of code if you can! And, we'd like to ask all prospective mentors to complete a first-timers-only issue before GCI begins, so you know how our workflow goes. Can mentors who have done one before work with mentors who are new to ensure this?

I think it will ma

[2018-09-17 16:44] jywarren commented on #3276
I also want to highlight that some example tasks were like this:

https://codein.withgoogle.com/archive/2015/organization/4777925899452416/task/4744391868547072/

[code]

This means that when we create the tasks, we can generate "multi-use" tasks that refer to an issue list, to save time filing new tasks. We should try to use tags to direct people to "first-timers" vs. "next-step" sized issues. Ma

[2018-09-17 16:50] SidharthBansal commented on #3276
Hi Jeff...we already have a great mechanism for directing people towards heavier tasks. When the mentors feel like student has done enough task you generally guide folks to do help me tagged issues. Similarly we can guide gci folks.

[2018-09-17 16:52] SidharthBansal commented on #3276
I will say we can have two categories as you told in the above comment
1. Gci candidate for normal to big sized gci tasks
2. Gci candidate and first timer tasks these tasks for first timers gci folks.
This will reuse our existing labels at public labs.

[2018-09-17 19:58] jywarren commented on #3276
That sounds great. I'm also interested in if we could make a task to paste
links to lines of code for new issues, as a task itself?

On Mon, Sep 17, 2018, 12:52 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-17 21:06] first-timers[bot] opened #3342 "Add twitter handle request to Welcomebot's Thank You message"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-17 21:09] jywarren commented on #1381
I've moved this to a new `first-timers-only` issue here, because we can rely on Welcomebot to do this:

https://github.com/publiclab/plots2/issues/3342

Thanks!

[2018-09-17 21:09] #1381 closed

[2018-09-18 01:18] SidharthBansal commented on #3276
Yeah if issue is fto and gci candidate labelled then we will paste the code links else if it is only gci Candidate we may or may not paste code links.

[2018-09-18 12:12] jywarren commented on #3321
Thanks! This was solved by @danilparshukov -- fantastic work! 👍 👍 👍

[2018-09-18 12:12] #3321 closed

[2018-09-18 16:38] gauravano commented on #3168
Congratulations, everyone :tada: :smile: ! Public Lab is officially announced as a Google Code-in participating organization. https://codein.withgoogle.com/organizations/public-lab/.

To all the new contributors, we hang out most of the time in Gitter chatroom - https://gitter.im/publiclab/publiclab. Feel free to join in there.

Thanks!

[2018-09-18 16:41] SidharthBansal commented on #3168
Awesome news

On Tue, Sep 18, 2018, 10:10 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-09-18 16:46] #3323 closed

[2018-09-18 17:05] namangupta01 commented on #3168
Congratulations everyone!

On Tue, Sep 18, 2018 at 10:13 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-18 17:09] namangupta01 commented on #3276
Hi guys! Sorry for not being active from past month....This sounds great that public lab is selected for Google-Code-in finally. I would create some issues from my work of reply-by-email to comment for Code-in tasks.
Thanks

[2018-09-18 17:29] sagarpreet-chadha commented on #3168
Great news...so exciting ❣️

[2018-09-19 05:27] AMI1995 commented on #3341
Hi can i work on this if its not already being worked on that is. :)

[2018-09-19 14:25] aSquare14 opened #3348 "Locale Deustch doesn't work in Footer"
### Please describe the problem (or idea)

Scrolled to the footer. Clicked on the Language Dropdown at Extreme Right. Selected Dutch as my preferred locale.

I expected the page to be translated to dutch but it was still english. The Dutch locale doesn't work.

### Please show us where to look

https://publiclab.org/?_=1537367148

### What's your PublicLab.org username?
asquare14

### Browser, ver

[2018-09-19 14:40] aSquare14 opened #3349 "Search option duplicated in PublicLab Store"
### Please describe the problem (or idea)

Search the store option is repeated in Header using :mag: and has a link in footer as well. It might be confusing to the user as to what both search options do.

Expected both to search for different things, but they search the store. Removing the Search link from footer would be a good enhancement. We can remove https://store.publiclab.org/search as sear

[2018-09-19 14:44] aSquare14 opened #3350 ""About us" confusing in Public Lab Store"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)

"About us" in header redirects us to https://publiclab.org/wiki/kits which is basically about public lab.
"About us" in footer redirects to

[2018-09-19 14:51] aSquare14 opened #3351 "Typo "Twittern" at end of each post. It should be "Twitter""
### Please describe the problem (or idea)

At the end of every article/blog post. There are options of like or tweet. Twitter is written as Twittern.

![selection_006](https://user-images.githubusercontent.com/22938709/45761216-6ea8f080-bc49-11e8-9170-09f3a6686533.png)

### Please show us where to look

https://publiclab.org/notes/warren/07-06-2018/new-accessibility-features-for-making-aerial-maps

[2018-09-19 17:11] aSquare14 opened #3352 "Pagination does not work on home page"
### Please describe the problem (or idea)

Pagination doesn't work.

The same page gets rendered whereas the next page should get rendered.

### Please show us where to look

https://publiclab.org/home?page=3

### What's your PublicLab.org username?
asquare14

### Browser, version, and operating system
Chrome. Ubuntu 16.04

****

## Thank you!

Your help makes Public Lab better! We *deeply* apprec

[2018-09-19 17:15] aSquare14 opened #3353 "Typo. "uing" should be "using""
### Please describe the problem (or idea)

_You can aslo share the link to your answer **_uing_** the Share button present below the answer._
This line has a typo.

Change uing to using.

### Please show us where to look

https://publiclab.org/wiki/public-lab-q-and-a
Last line

### What's your PublicLab.org username?
asquare14

### Browser, version, and operating system
Chrome. Ubuntu 16.04

****

[2018-09-19 17:20] aSquare14 opened #3354 "Typo. "Monate" should be "Months" on licenses,wiki/board page."
### Please describe the problem (or idea)

![selection_007](https://user-images.githubusercontent.com/22938709/45769827-5db6aa00-bc5e-11e8-90eb-08b64dee3221.png)

Months expected, showing Monate

### Please show us where to look

https://publiclab.org/wiki/licenses
https://publiclab.org/wiki/board

### What's your PublicLab.org username?
asquare14

### Browser, version, and operating system
Chrome

[2018-09-19 17:31] gauravano commented on #3348
Hi @aSquare14, some months back, we decided to remove the German language from our website due to the number of cases of wrong translations. I guess the language button in footer was a leftover. Thanks for reporting the issue and if you want to solve it, you are most welcome. If you need any help, feel free to ask. Thanks!

[2018-09-19 17:35] gauravano commented on #3350
Hi, @aSquare14 nice catch! Let's confirm about this from @jywarren @publiclab/community-reps before proceeding further. Thanks!

[2018-09-19 17:38] aSquare14 opened #3355 "Exploring layouts for the dashboard"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)

The dashboard lists out all the questions. I noticed that there are lots of gaps (empty white boxes) between a few questions. This behaviou

[2018-09-19 17:46] gauravano commented on #3351
Hmm, this one is strange.

Ok. I got it. If I am not wrong, you were trying Deutsch language from the footer as mentioned by you in #3348. You noticed no changes in the website but actually minor changes were there, like `tweet --- > Twittern`. So, if you select English again, you will notice that there is no typo. Thanks!

[2018-09-19 17:47] aSquare14 opened #3356 "Add FAQs page. Add link to same in footer."
### Please describe the problem (or idea)

It would be cool to have an FAQ page where some of the frequently asked questions about Public Labs could be listed.

### What's your PublicLab.org username?
asquare14

### Browser, version, and operating system
Chrome. Ubuntu 16.04

****

[2018-09-19 17:49] gauravano commented on #3354
Hi @aSquare14, I guess this issue is relevant to https://github.com/publiclab/plots2/issues/3351#issuecomment-422895982 . Sorry for the inconvenience.

[2018-09-19 17:50] aSquare14 commented on #3351
Yes ! I guess Internationalization needs to be improved !

[2018-09-19 17:53] aSquare14 commented on #3348
@gauravano Thanks but I'd like to leave this for GCI candidates :) Will work on help-wanted or fto.

[2018-09-19 17:57] gauravano commented on #3348
That's great! I guess for making this issue a GCI candidate, the relevant line of code should be added. What do you think?

[2018-09-19 17:59] Souravirus commented on #3353
Nice catch @aSquare14. Do you want to solve it or mark it as a gci-candidate issue?

[2018-09-19 17:59] aSquare14 commented on #3348
Yes. I am busy with my midsems + RGSoC till September end, so I can do it after 30 Sept . I also plan to work on a few issues after that. :smile:  Is that ok ? Also, if you're free, please feel free to improve this issue :yellow_heart:

[2018-09-19 18:00] gauravano commented on #3351
Agreed! I think this issue can be closed now. What do you think?

[2018-09-19 18:01] #3351 closed

[2018-09-19 18:01] #3354 closed

[2018-09-19 18:02] gauravano commented on #3353
Hi, @aSquare14 @Souravirus actually that typo was in the wiki page and not in the code. Thanks!

[2018-09-19 18:03] Souravirus commented on #3353
Hmm right @gauravano.

[2018-09-19 18:03] aSquare14 commented on #3353
@Souravirus  GCI-candidate task if updating wiki counts as one :P

[2018-09-19 18:06] gauravano commented on #3348
Actually, I am also in-between my sessional exams but don't worry I will improve this issue as soon as I get some time. All the best for you exams and thanks!

[2018-09-19 18:07] Souravirus commented on #3353
Yeah we have many easy tasks but this is more than easy. So, it can be done now in my opinion.

[2018-09-19 18:08] gauravano commented on #3353
Agreed @Souravirus :sweat_smile: . Feel free to close this issue after editing it. Thanks!

[2018-09-19 18:10] Souravirus commented on #3353
Done.  Closing this !!

[2018-09-19 18:10] #3353 closed

[2018-09-19 18:41] Souravirus commented on #2944
Yeah the links submitted in the issue are working. So, closing this for now.

[2018-09-19 18:41] #2944 closed

[2018-09-20 03:00] aSquare14 opened #3358 "Continue to add to Wiki page for repeatable "Community Support Tasks" usable in Google Code-In"
### Please describe the problem (or idea)

Wiki was last updated in 2016. We should update it with tasks for 2018 or write TBA. (To Be Announced)

### Please show us where to look

https://github.com/publiclab/plots2/wiki/Google-Code-in-Tasks

### What's your PublicLab.org username?

asquare14
****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and im

[2018-09-20 03:06] aSquare14 opened #3359 "Display message in collections in Public Lab Store"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**
### Please describe the problem (or idea)

In the collections, collections that do not have any product (eg. photography) should have a message displayed below the heading _"Sorry, th

[2018-09-20 04:26] SidharthBansal commented on #3350
@jywarren If you agree with this then we can open up 2 first timer gci candidate issues for these links.
Thanks

[2018-09-20 04:30] SidharthBansal commented on #3358
@jywarren @aSquare14 was insisting to be a gci-mentor. I told her to solve some ``first-timer-only`` issues at public labs. Then try to solve some ``help-wanted`` issues at public labs. This way she will be know about the workflow at Public labs. Then she could start opening ``fto`` issues and help new comers.
Is there any other thing she needs to do for being mentor??

@aSquare14 can you please s

[2018-09-20 04:31] aSquare14 commented on #3358
I can send a PR but what should the content be. I think, I'll let @jywarren review the issue once and then send a PR !

[2018-09-20 04:36] SidharthBansal commented on #3348
Hi I reported this error. But due to some reason @jywarren told that we need not to solve this issue.
Can @jywarren you explain the reason once again to @aSquare14 ?

Thanks folks

[2018-09-20 04:49] SidharthBansal commented on #3359
@aSquare14 I am having difficulty in reproducing the error.
I tried following and got this
![image](https://user-images.githubusercontent.com/20972099/45796521-91c1b780-bcbe-11e8-938f-baf1188e2830.png)
can you please help in explaining about the error?

[2018-09-20 04:58] SidharthBansal commented on #3358
yeah great.

[2018-09-20 05:03] SidharthBansal commented on #3356
I think that this task needs to be done by someone who knows a lot of public labs. Most probably @jywarren , @ebarry @icarito or @steviepubliclab . GCI candidates will not be much aware of Public Lab's stuff.
This task is creating a wiki page instead of a github document on publiclab.org/wiki/faqs, I guess.

Nice suggestion. I really love your suggestion.
Thanks

[2018-09-20 05:06] SidharthBansal commented on #3355
We need to properly think what will be the gci issue. @aSquare14
There are multiple options:
1) We can ask folks to give their UI designs for the issue. Have instance count on the issue as say 10. Then choose the best one.
2) Give a template/ design and ask the students to implement it.

[2018-09-20 05:07] aSquare14 commented on #3355
Giving them a template sounds better. That will be according to the maintainers of the site and will cause less confusion I believe.

[2018-09-20 05:11] SidharthBansal commented on #3349
Can you please give me a screenshot? I am unable to detect the error.
Sorry

[2018-09-20 05:13] SidharthBansal commented on #3355
Let's take views form jeff first.

[2018-09-20 05:14] aSquare14 commented on #3359
It is not related to search.  Just a UI enhancement.
1. Go to Photography section in collections.
2. You will notice it has no products listed.
3. Instead of displaying a hyperlink saying "See more Photography", we should display "Sorry, there are no products in this collection."

In the picture below, we need to update the message.
![screenshot from 2018-09-20 10-45-13](https://user-images.github

[2018-09-20 06:03] SidharthBansal commented on #3349
Yeah great catch.

[2018-09-20 06:03] aSquare14 commented on #3359
I think it would be better suited for GCI candidate :+1: Thanks.

[2018-09-20 06:04] SidharthBansal commented on #3349
![image](https://user-images.githubusercontent.com/20972099/45798866-16193800-bcc9-11e8-94d2-eb9403171529.png)

This page has three.

[2018-09-20 06:06] SidharthBansal commented on #3349
If you are creating a gci-candidate then please mention all the steps in the pr body. Also add relevant code links.
Let's that @jywarren opinion on this. I think we should remove the footer ``search`` link.
This could be marked as both ``first-timers-only`` and ``gci-candidate``. What do you say jeff?

[2018-09-20 06:14] SidharthBansal commented on #3359
Can you please make  issue like https://github.com/publiclab/plots2/issues/3342? and close this one. Also link this conversation there.
We need to be much more friendly to the newcomers. Follow a similar template. Provide the necessary code links.
Also, I want to tell that we have 2 kind of ``gci-candidate`` issues
1) Issues labelled with ``gci-candidate`` these are little advanced to be solved
2)

[2018-09-20 06:17] aSquare14 commented on #3359
Okay. Will do !

[2018-09-20 10:54] aSquare14 commented on #3301
@SidharthBansal  I investigated this. This issue can be closed. I am opening a new issue with proper details.
Pagination doesn't work when not logged in. This is because to view the other pages, you need to be logged in. Remove Pagination in  https://publiclab.org/ when the user is not logged in.
After logging in, pagination works fine on the home page.
P.S - This could be a good issue for GCI

[2018-09-20 11:02] aSquare14 opened #3360 "Pagination Component needs to be removed from home page if user is not logged in."
### Please describe the problem (or idea)

In references to issues #3301, #2173.

- Pagination is NOT broken in the home page. It redirects to the home page (correct behaviour) if a user is not logged in. This is because to view the other pages, you need to be logged in.
- It works perfectly if the user is logged in. Because after logging in,URL changes to  /dashboard.
- We should just remove the

[2018-09-20 12:16] SidharthBansal commented on #3360
Can you please turn this to a first timer issue?

[2018-09-20 12:35] jywarren commented on #3168
Folks who'd like to be invited as mentors: please complete a [first-timers-only](https://publiclab.github.io/community-toolbox/#r=all) issue -- and note which you've completed here and I'll add you to the mentors group!

[2018-09-20 12:37] jywarren commented on #3168
Also, if I don't already have your email please send it to jeff@publiclab.org so I can send the invite. Thanks!

[2018-09-20 13:11] vchrombie commented on #3168
Hey, I am interested in GCI mentoring. Can someone help me with this?

[2018-09-20 13:24] geekychaser opened #3361 "Change senders name for emails"
### Please describe the problem (or idea)
![image](https://user-images.githubusercontent.com/24489162/45821275-65318e00-bd06-11e8-960c-f90ff7571d0c.png)
I got the mail from notifications sounds ambiguous to me

Instead of notifications, ``Public Lab`` should be present.

Instead of notifications, ``Public Lab`` should be present.

### What's your PublicLab.org username?
geekychaser

### Browser, v

[2018-09-20 13:35] geekychaser opened #3362 "Typo at welcome message"
### Please describe the problem (or idea)
The welcome note is a lengthy sentence. Also, there is an extra comma before and.
See
![image](https://user-images.githubusercontent.com/24489162/45821692-775ffc00-bd07-11e8-8ac8-42a0822bed15.png)

We can have nice formated text like
[code]

### What's your PublicLab.org username?

geekychaser

### Browser, version, and operating system

mozilla firefox, u

[2018-09-20 13:38] SidharthBansal commented on #3362
Like we have #3341.

[2018-09-20 13:39] geekychaser commented on #3362
Yeah sir. I contacted you at gitter chat. Ok I will try my level best to open up the issue.
Thanks @SidharthBansal sir.

[2018-09-20 13:40] SidharthBansal commented on #3362
@geekychaser no need to call me sir. Sidharth is ok.
Thanks

[2018-09-20 13:52] geekychaser opened #3363 "Typo at welcome message"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-20 13:53] geekychaser commented on #3362
I have opened a new issue #3363. Is it ok?

[2018-09-20 13:54] SidharthBansal commented on #3362
Yeah it looks good to me.
Let @jywarren review it.
We have moved to #3363 so closing this issue now.

[2018-09-20 13:54] #3362 closed

[2018-09-20 13:54] geekychaser commented on #3362
Thanks @SidharthBansal

[2018-09-20 13:58] aSquare14 commented on #3341
I'd like to claim this issue !

[2018-09-20 14:27] aSquare14 commented on #3363
I'll do this ! Thanks @SidharthBansal

[2018-09-20 14:31] aSquare14 commented on #3341
@AMI1995 Sorry for the confusion. All the best working on it :smile: I'll work on a different issue :)

[2018-09-20 14:36] SidharthBansal commented on #3363
@aSquare14 has claimed the issue first on the gitter chat. So this issue is assigned to her.
@vchrombie you can try any other issue.
Thanks

[2018-09-20 14:43] geekychaser commented on #3168
@SidharthBansal , @jywarren sir I have created a fto (#3363) and also solved a fto(#3335) with your help @SidharthBansal . My email is geekychaser@gmail.com. Can you please add me to the mentors group and send me an invite link for GCI mentor

[2018-09-20 15:07] Souravirus commented on #3168
Those who want to be invited for GCI Mentor, please follow these steps:

- solve a first-timers issue

- solve a help-wanted issue

- make a first-timers issue

- fill this form
https://docs.google.com/forms/d/e/1FAIpQLScSBS-ddZN2H-lviUJbKlbV2VwP21fdIutXOCBzigRhmXJybw/viewform?usp=sf_link

Thank you

[2018-09-20 15:49] geekychaser commented on #1336
Hi can I work on this?

[2018-09-20 16:05] jywarren commented on #3342
Thanks for solving this one!

[2018-09-20 16:05] #3342 closed

[2018-09-20 16:07] jywarren commented on #3360
Hi! A few extra bits of into and formatting would be very helpful to make this a proper first timers only issue. Would you mind using this as a model?

https://github.com/publiclab/plots2/issues/3363

There's more guidance on writing first timers only issues at code.publiclab.org as well.

Thank you so much!!!!!

[2018-09-20 16:15] aSquare14 commented on #3360
Sure ! I'll format all the issues opened by me over the weekend ! :)

[2018-09-20 18:16] YashishDua opened #3366 "[Typo and UI Fix] in first time sign in at Dashboard Screen"
Pop up component error on the dashboard screen. [Text and its UI]
![screen shot 2018-09-20 at 10 54 18 pm](https://user-images.githubusercontent.com/20666950/45836624-ff0b3200-bd2a-11e8-87a6-c8f0b6a28709.png)

When a user signs up for Public Lab and is landed on the home screen, pop up is shown at the top which has two errors:
1. Typo in text
Existing Text: You have successfully signed in. Please

[2018-09-20 22:29] #3363 closed

[2018-09-20 23:44] aSquare14 commented on #3168
@Souravirus In the google form email address is being asked for twice :smile:

[2018-09-21 02:08] Souravirus commented on #3168
Yeah right, just fill it for now. @SidharthBansal can you correct the Google form ?

[2018-09-21 02:16] SidharthBansal commented on #3168
Hi @all first timer issues are those which are specifically labelled as first timers. While the others are help wanted. So @aSquare14 you need to edit your form after making a help-wanted pr.
I have edited the form thanks

[2018-09-21 02:34] SidharthBansal opened #3367 "Should redirect to the same page after signup"
### Please describe the problem (or idea)
A person is on the /wiki and then signs up. The person is redirected to the dashboard

I should be redirected to the wiki page after log in.

Hint use return_to field

[2018-09-21 02:34] geekychaser commented on #3367
May I take this?

[2018-09-21 02:35] SidharthBansal commented on #3367
You are really quick rishabh....
Why not???
Take it...If you need help just ping any of us at pl.
Thanks for contributing here at pl.

[2018-09-21 02:35] geekychaser commented on #3367
OK. Working on it.

[2018-09-21 02:51] bkocsis3 commented on #3366
I'm very new to this, but could I give it a try?

[2018-09-21 03:35] SidharthBansal commented on #2592
Yeah, you can work on it. I will be busy till 3rd October due to mid semester exams. Please contact @jywarren or @publiclab/reviewers for queries
Best of luck

[2018-09-21 04:44] igniteeng000 commented on #3361
Please assign #3361 to me

[2018-09-21 04:54] SidharthBansal opened #3368 "Like button doesn't show login page if person is not logged in"
### Please describe the problem (or idea)
When a person is logged in he able to like a wiki post but when he or she is not logged in then it does nothing by clicking on the like button.

I expect to redirect to the login form if a person is not logged in and tries to like any wiki.
### Please show us where to look
https://publiclab.org/wiki/lego-spectrometer
The error seems to be in _like.html.erb

[2018-09-21 05:01] SidharthBansal commented on #3361
@igniteeng000 go ahead

[2018-09-21 05:04] SidharthBansal commented on #3361
There are two issues
1) [Public Lab] should not be present in the message title
2) Instead of notifications, text should be ``Public Lab``

[2018-09-21 05:15] YashishDua commented on #3366
@bkocsis3 Yes, you can! It's for the first timers only.

[2018-09-21 05:31] SidharthBansal commented on #3366
@bkocsis3 go ahead.
Just remember that this issue has two parts. So solve them one by one.
Happy coding

[2018-09-21 05:50] bajajerk commented on #3361
@SidharthBansal
I want to work on this issue

[2018-09-21 05:54] SidharthBansal commented on #3361
There are two sub issues in this issue. So you both can work on it.

1.[Public Lab] should not be present in the message subject @igniteeng000 you do this part
2.Instead of ''notifications'', text should be ''Public Lab'' @bajajerk you do this part

[2018-09-21 05:56] SidharthBansal commented on #3361
Thanks Rishabh for making this issue.
Thanks venu for asking to do this issue at gitter chat.

[2018-09-21 05:57] SidharthBansal commented on #3361
@bajajerk if you help just ping us

[2018-09-21 05:57] igniteeng000 commented on #3368
Please assign #3368 to me

[2018-09-21 06:05] SidharthBansal commented on #3368
Hi @igniteeng000 you can work on this after completion of your first timer issue.
This is assigned to you.

[2018-09-21 06:17] igniteeng000 commented on #3368
It's working fine. Please correct me if I am wrong.

[2018-09-21 06:23] igniteeng000 opened #3370 "Pop up menu is not updated without page refresh."
### Please describe the problem (or idea)
When we click on the like button on any wiki page while being logged in and then checks by clicking on the button nearby to check the list of people who have liked it, it does not show us our name. On refreshing the page it does show our name. It requires ajax call to show an updated list without refreshing the page.

![like4](https://user-images.githubuse

[2018-09-21 06:41] igniteeng000 opened #3371 "Add feature to unable adding a blank tag in subscriptions"
### Please describe the problem (or idea)
In subscriptions, one can also add a blank tag which a user cannot unsubscribe.

Unable to remove blank tag
![subs](https://user-images.githubusercontent.com/25272573/45864308-39aab400-bd97-11e8-851d-5b4357ed1024.PNG)

### Please show us where to look

https://publiclab.org/subscriptions

### What's your PublicLab.org username?
igniteeng000

### Browser, v

[2018-09-21 06:43] avsingh999 commented on #3371
@igniteeng000  I want to work on this  issue please assign me

[2018-09-21 06:53] igniteeng000 commented on #3371
Sure

[2018-09-21 07:03] SidharthBansal commented on #3368
You need to click on like when you are not logged in. It should go to sign up page. After signing up. It should go to wiki page again
Is it working fine??
On my PC it is not.

[2018-09-21 08:06] avsingh999 opened #3372 "Don't delete login session"
### Please describe the problem (or idea)
when I click on logout it's successfully logout but after logout when goes to this url
https://publiclab.org/dashboard It's automatically login.

if I logout from my browser then I goes to this url   https://publiclab.org/dashboard It's should be redirect to login  /  Signup page

### Please show us where to look
fiirst logout from your browser then
https:

[2018-09-21 08:18] bajajerk commented on #3361
@SidharthBansal  I have figured out that 'notifications' is rendered from comment_mailer.rb , line 4

 default from: "notifications@#{ActionMailer::Base.default_url_options[:host]}"
Should i change this or think of some other way.

[2018-09-21 08:19] avsingh999 commented on #3368
@SidharthBansal  It's working fine.

[2018-09-21 08:24] YashishDua opened #3373 "Welcome Dialog appearing on every refresh for first sign in users"
The welcome message has appeared when a user first time enters the dashboard after sign up.
However, even if you cancel the dialog and refresh again, the message comes back again!
![screen shot 2018-09-21 at 1 01 07 am](https://user-images.githubusercontent.com/20666950/45869199-77aed480-bda5-11e8-8e3b-f934b375303a.png)

What should happen?
When a user explicitly cancels the welcome message dialog

[2018-09-21 08:59] namangupta01 opened #3374 "UI :: Add css to reply by email thread button"
#### With the merge of https://github.com/publiclab/plots2/pull/2669 we have a reply by email feature. And reply by email is stable and working, so now we can start working on some ui improvement for it.
Starting with the basic improvement:
Email thread button on any comment page is a link on clicking which whole conversation thread open-up but the way link looks can be improved with a tooltip say

[2018-09-21 09:02] shivani-kapania commented on #3374
Hi, I'm Shivani Kapania and I'm a final year student at BVCOE, New Delhi. May I try this issue?

[2018-09-21 09:04] namangupta01 commented on #3374
Yes! Go Ahead. Fell free to ask if you need some help.

[2018-09-21 09:05] shivani-kapania commented on #3374
Definitely.

[2018-09-21 09:12] the-prolific-coder commented on #3366
Can multiple people work on this issue? I'd like to try it too!

[2018-09-21 09:28] avsingh999 opened #3375 "Improve in questions page when search questions by topic"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contribut

[2018-09-21 09:30] vchrombie commented on #3373
Can I work on this issue?

[2018-09-21 09:34] namangupta01 commented on #3373
Yeah go ahead!

[2018-09-21 09:38] namangupta01 commented on #3366
Hi @the-prolific-coder, this is not a big issue so it would be difficult for two people to work on it.
Please look for the other issues.

[2018-09-21 11:39] SidharthBansal commented on #3368
Are you checking it on publiclab or on local host?

On Fri, Sep 21, 2018, 1:50 PM Avkaran Singh <notifications@github.com>
wrote:

[2018-09-21 11:44] avsingh999 commented on #3368
bubliclab

[2018-09-21 11:53] SidharthBansal commented on #3368
@publiclab/reviewers can anyone please check the behaviour??
And help them. It is not going to login page on my PC.

[2018-09-21 11:53] SidharthBansal commented on #3368
I am little busy this week with mid sems

[2018-09-21 14:17] igniteeng000 commented on #3368
on publiclab.org

[2018-09-21 16:18] SidharthBansal commented on #3370
@igniteeng000 will you like to work on this?

[2018-09-21 16:19] SidharthBansal commented on #3371
@avsingh999 also write a test with your patch.
Thanks both of you

[2018-09-21 17:16] icarito commented on #3208
So it appears mailman crashes whenever POP3 mail checking fails (this could happen for a number of reasons and happens every now and then). I've made a patch to automatically restart it: https://github.com/publiclab/plots2/pull/3376 . It'd be even better if mailman could catch the error and not have to crash and restart. But nevertheless it should work!

[2018-09-21 19:44] avsingh999 opened #3378 "Improve popup's of tags"
### Please describe the problem (or idea)
When I click on tags button It's showing popup but some tags popup looks like this.
popup's not showing completely

![tagiverlap](https://user-images.githubusercontent.com/25536022/45902559-6f39b680-be04-11e8-932b-5885fa3c21a6.png)

![mustebe](https://user-images.githubusercontent.com/25536022/45902594-837db380-be04-11e8-8bfe-6cc8d99a28cd.png)

### Please

[2018-09-21 19:58] avsingh999 commented on #3325
@SidharthBansal  can I work on this issue?

[2018-09-21 20:36] YashishDua opened #3379 "Liking a question must be allowed from the list item only"
The user can mark the question inappropriate or spam from the list while not even entering into that question. If a user can flag from outside then there should be a feature to like that question also from outside.
![screen shot 2018-09-22 at 2 01 13 am](https://user-images.githubusercontent.com/20666950/45904821-d018bd00-be0b-11e8-9fa3-198e52bcde36.png)

Either flagging as spam should not be allo

[2018-09-21 21:20] jywarren opened #3381 "Narrow TypeaheadService search to just the most recent revision of each Node"
https://github.com/publiclab/plots2/blob/1a7f332b3dc9cdc901c93104ab373cb44d28a2fa/app/models/node.rb#L40

This searches all revisions, of which there are about 30,000 -- but there are only about 1,200 wiki pages. We should be able to do full text searches (or really just any query of `revisions`) against only 1200 records, not all 30,000 -- the rest are old revisions.

Let's think about how we mig

[2018-09-21 21:28] bkocsis3 commented on #3366
Awesome, thanks!

[2018-09-21 21:57] jywarren opened #3382 "Turn off ip_address records in impressionist gem, switch to request_hash"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all),

[2018-09-21 22:20] jywarren opened #3383 "Require ReCaptcha before OAuth login?"
At https://publiclab.org/signup, we require ReCaptcha before you can make an account:

![image](https://user-images.githubusercontent.com/24359/45908509-f36f4800-bdca-11e8-857d-705ed470547e.png)

However, it's not required if you log in using your Twitter/Facebook/Google/Github login. Could we make that an extra step, to try to reduce automated spam? Or is it futile because all our spammers are ac

[2018-09-21 22:33] jywarren commented on #3374
Great! I think it could use styles like a padding of 3-4 px, maybe a
border-radius to give it a rounded look, and a very light grey background
color... what do you think? See how it looks in Gmail!

On Fri, Sep 21, 2018 at 5:05 AM shivani-kapania <notifications@github.com>
wrote:

[2018-09-21 22:33] jywarren commented on #3374
![image](https://user-images.githubusercontent.com/24359/45908881-d63b7900-bdcc-11e8-9d39-61d1c5970943.png)

[2018-09-21 22:37] jywarren commented on #3360
I wonder if we could direct to http://publiclab.org/research?page=2 if
you're not logged in?

On Thu, Sep 20, 2018 at 12:17 PM Atibhi Agrawal <notifications@github.com>
wrote:

[2018-09-21 22:40] jywarren commented on #3373
Ah - this is because the message is tied to the signup date - if you've signed up recently. Perhaps we could set a javascript localstorage value to recognize if you've turned it off?

https://github.com/publiclab/plots2/blob/cdef0bd7978836212c112f2295b4561d3f6a57f0/app/views/dashboard/dashboard.html.erb#L1-L17

https://developer.mozilla.org/en-US/docs/Web/API/Storage/LocalStorage could help flag i

[2018-09-21 22:43] jywarren commented on #2592
I love the solution:

I think, if you're not logged in, instead of submitting the text and going to a new page, it could reveal a compact "log in" area similar to https://publiclab.org/signup -- but preserve the content of the question you asked with a `return_to` parameter, which could lead to a prefilled question form like this:

https://publiclab.org/signup?return_to=/questions/new?title=My%20T

[2018-09-21 22:55] jywarren opened #3384 "Ensure OAuth login preserves `return_to` parameter and goes there after logging in"
In our regular signup process at https://publiclab.org/signup, we can set the destination AFTER signup using a `return_to` parameter, like this:

https://publiclab.org/signup?return_to=/post?title=My Title

This nice URL can even set a title on the post you are prompted to create! It works with this hidden input:

`<input type="hidden" name="return_to" value="/post?title=My Title" />` (code here:

[2018-09-21 22:59] jywarren commented on #3363
Fantastic!!!!! 👍 🎉

[2018-09-21 23:00] jywarren commented on #3168
@geekychaser fantastic job creating a FTO and welcoming a new person into the community! Great work! I'm sending you a mentor invite. Will check the form as soon as I get into the responses -- @SidharthBansal if you could share again that'd be great. Thanks!

[2018-09-21 23:05] jywarren commented on #3168
I've also added all current mentors to @publiclab/mentors -- and will continue doing so as we add people. Thanks! 👍 🐶 🎈 😄

[2018-09-22 00:46] SidharthBansal commented on #3382
Can we make this entry level gci candidate too?

[2018-09-22 00:56] bkocsis3 commented on #3366
This is a very noob question, but how do I find the file pertaining to this issue?

[2018-09-22 00:57] SidharthBansal commented on #3325
Sorry, you cannot work on this. The issue which are labelled with gci candidate can only be worked by Google Code In Students in the period of GCI.
You can try other issues.
Thanks

[2018-09-22 01:01] SidharthBansal commented on #3366
https://github.com/publiclab/plots2/blob/cdef0bd7978836212c112f2295b4561d3f6a57f0/app/controllers/user_sessions_controller.rb#L53
This might help

[2018-09-22 01:16] SidharthBansal commented on #3168
I have shared the link. Have you got the emails of people who have filled the form

[2018-09-22 02:14] SidharthBansal commented on #3358
Hi We had a discussion, we need to include that if a candidate makes a first timer issues OR help others in first timer issues like helps in travis tests, provide code links OR bug reporting OR suggestions
If a person does similar kind of helping tasks then the candidate will be rewarded.

[2018-09-22 02:56] jywarren commented on #3168
Echoing an idea from [the chatroom](https://publiclab.org/chat):

💥

[2018-09-22 03:00] SidharthBansal commented on #3168
@jywarren #3358

[2018-09-22 03:03] SidharthBansal commented on #3358
@jywarren will you mind updating the document, this document  is the most crucial element. All @aSquare14 and I am having exams so cant do it till 1st october. She told on gitter that her exams are till 30th. My are till 1st. This issue is of atmost priority for GCI.

[2018-09-22 03:26] jywarren commented on #3379
Liking is usually done in javascript -- https://github.com/publiclab/plots2/blob/master/app/views/like/_like.html.erb

[2018-09-22 03:28] SidharthBansal commented on #3383
I think all spammers have an account which is related to their spamming work. This will create a barrier for good people to enter pl.
So, I am in opinion to not have recaptcha for OAuth.

[2018-09-22 03:34] stefannibrasil opened #3386 "Update profile url on Search profiles view"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-22 03:45] #3361 closed

[2018-09-22 03:46] jywarren commented on #3361
Thanks all! @bajajerk I believe there are more available at https://code.publiclab.org and we'd love your help!

[2018-09-22 03:55] jywarren commented on #3375
Ah - interesting! We just published some big search changes. Can you try again?

[2018-09-22 04:04] jywarren commented on #3354
could this also have been a German localization issue? Thank you!

On Wed, Sep 19, 2018 at 1:21 PM Atibhi Agrawal <notifications@github.com>
wrote:

[2018-09-22 04:09] jywarren commented on #3354
Ah, i see it's already resolved. Great!

[2018-09-22 04:14] jywarren commented on #3348
Ah yes - so, the issue I believe is simply that there are almost no German
(Deutche) translations available. I'd like to explore ways to have
untranslated strings on the site appear with a small globe icon to prompt
people to attempt a translation:

https://github.com/publiclab/plots2/issues/3262

Also - this will only translate the website static text, not the content of
the site. So perhaps this

[2018-09-22 04:15] jywarren commented on #3350
Hmm, I think maybe we need input from the Kits initiative lead @bronwen9 to make this decision.

[2018-09-22 04:19] jywarren commented on #3349
Unfortunately, the store website is run separately from the main
PublicLab.org site, and we don't really control the code, it is just a
store template. So I think we have to restrict our attention to the Rails
application only. Thank you for your suggestions though!!!!!

On Thu, Sep 20, 2018 at 2:07 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-22 04:19] SidharthBansal commented on #3349
So we need to close this issue?

[2018-09-22 04:20] jywarren commented on #3355
I'm interested in this! Thanks for the suggestion! Can you point to another
site layout as an example of how to solve this? Maybe paste in a screenshot
from another site? Thank you!

On Thu, Sep 20, 2018 at 1:14 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-22 04:32] abhishek71994 commented on #3386
I would like to work on this.

[2018-09-22 04:42] namangupta01 commented on #3374
Yup gmail button looks good

[2018-09-22 05:18] rbhatia46 commented on #3386
I would like to work on this.

[2018-09-22 05:34] avsingh999 commented on #3375
@jywarren  No it's showing same error

[2018-09-22 06:28] rbhatia46 opened #3387 "Improving the back-to-top button"
### Please describe the problem (or idea)
The Back-to-top button is present at the end of the webpage and is static there. Instead it can be present at the bottom-right corner of the screen all the time whenever someone scrolls down the page to make the user expirience better.

![](https://image.ibb.co/cXR92U/Capture.png)

There should have been a back-to-top button all the time at the bottom righ

[2018-09-22 09:41] Paarmita commented on #3317
@SidharthBansal Is it done, or Can I take this?

[2018-09-22 12:01] SidharthBansal commented on #3317
@Paarmita someone is working on this. You can't work on this.  Try other issues.
Thanks

[2018-09-22 12:06] SidharthBansal commented on #3386
@abhishek71994 go ahead.
@rbhatia46 try other issues.

[2018-09-22 13:02] igniteeng000 commented on #3370
yes, assign me

[2018-09-22 13:39] SidharthBansal commented on #3370
Great go ahead

[2018-09-22 14:37] avsingh999 opened #3388 "redundant trending topics"
### Please describe the problem (or idea)
In dashboard page there is a  trending topics But here is one trending topics  iterate 4 times
![taring](https://user-images.githubusercontent.com/25536022/45918335-15d49480-bea3-11e8-9fa2-b2d0c3769099.png)

### Please show us where to look

https://publiclab.org/dashboard

### What's your PublicLab.org username?

### Browser, version, and operating system

[2018-09-22 16:10] Paarmita commented on #3168
I'm interested to become GCI mentor

[2018-09-22 16:27] YashishDua opened #3390 "[Facebook Like] allowed on question while logged in from Google Auth"
The user is allowed to Facebook Like the question when logged in from Google Auth and even count of likes updates.

![screen shot 2018-09-22 at 9 49 23 pm](https://user-images.githubusercontent.com/20666950/45919381-10327b00-beb2-11e8-93d4-0379132f3f67.png)

![screen shot 2018-09-22 at 9 49 37 pm](https://user-images.githubusercontent.com/20666950/45919390-1b85a680-beb2-11e8-87c5-6657c569ab73.png)

[2018-09-22 16:30] abhishek71994 commented on #3386
https://github.com/publiclab/plots2/pull/3389

Please check this PR @SidharthBansal @stefannibrasil

[2018-09-22 16:37] SidharthBansal commented on #3387
Will you like sending a fix to this?

[2018-09-22 16:40] rbhatia46 commented on #3387
Sure I will give it a shot!

[2018-09-22 16:42] SidharthBansal commented on #3388
Can you turn this into a first timer issue?
Add code links as we do in ftos eg #3386.
This will be really helpful to us.

Also mark the issue as ``Only for google code in`` students.
This issue is already reserved for GCI students as per list in #3276.
Please have a look on the list. The issues in the list are for only GCI folks

Thanks

[2018-09-22 16:45] SidharthBansal commented on #3388
Are you looking forward to be a Google Code in mentor @avsingh999 ?
If so please fill the form https://docs.google.com/forms/d/e/1FAIpQLScSBS-ddZN2H-lviUJbKlbV2VwP21fdIutXOCBzigRhmXJybw/viewform

[2018-09-22 16:45] SidharthBansal commented on #3390
Are you looking forward to be a Google Code in mentor @avsingh999 ?
If so please fill the form https://docs.google.com/forms/d/e/1FAIpQLScSBS-ddZN2H-lviUJbKlbV2VwP21fdIutXOCBzigRhmXJybw/viewform

[2018-09-22 16:48] SidharthBansal commented on #3387
Are you looking forward to be a Google Code in mentor @rbhatia46 ?
If so please fill the form https://docs.google.com/forms/d/e/1FAIpQLScSBS-ddZN2H-lviUJbKlbV2VwP21fdIutXOCBzigRhmXJybw/viewform
If you have not completed the things listed in the form. Do them and be a mentor.
Help people to contribute to OSS. If you want to do so.

[2018-09-22 16:57] avsingh999 commented on #3388
@SidharthBansal  Thank you

[2018-09-22 17:01] rbhatia46 commented on #3387
Yes, @SidharthBansal I am interested in being one! I had a look at the form. I cannot get any unassigned first-timer issue at the moment. For the help-wanted issue, I am onto this one and sure I will look into it and create a first-timer issue soon. And yeah I would love to help people contribute to Open Source as much as I can, thanks! 😁

[2018-09-22 17:05] SidharthBansal commented on #3387
OK...THANKS

[2018-09-22 17:06] first-timers[bot] opened #3391 "Update new.html.erb"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-22 17:07] jywarren commented on #3387
Hi! I just made a new one for you here! Check it out:
https://github.com/publiclab/plots2/issues/3391

On Sep 22, 2018 1:02 PM, "Rahul Bhatia" <notifications@github.com> wrote:

Yes, @SidharthBansal <https://github.com/SidharthBansal> I am interested in
being one! I had a look at the form. I cannot get any unassigned
first-timer issue at the moment. For the help-wanted issue, I am onto this
one an

[2018-09-22 17:09] rbhatia46 commented on #3387
Thank you so much @jywarren ! I will have a look and solve it soon!

[2018-09-22 17:12] SidharthBansal commented on #3168
@Paarmita https://github.com/publiclab/plots2/issues/3168#issuecomment-423219024

[2018-09-22 17:13] SidharthBansal commented on #3387
Please claim the task at the #3391.
Thanks

[2018-09-22 17:18] rbhatia46 commented on #3391
I am working on this as assigned by @jywarren referenced in #3387

[2018-09-22 17:38] bajajerk commented on #3387
@SidharthBansal  Can you assign a first timer issue to me too

[2018-09-22 17:50] SidharthBansal commented on #3388
jeff has already made it in #3188

[2018-09-22 17:50] #3388 closed

[2018-09-22 18:08] SidharthBansal commented on #3370
Duplicate #2153 so closing #2153

[2018-09-22 18:08] #2153 closed

[2018-09-22 18:14] SidharthBansal opened #3393 "Edit readme file to include SoC details."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-22 18:15] SidharthBansal commented on #3393
@bajajerk are you willing to take this as you mentioned in #3387.

[2018-09-22 18:16] SidharthBansal commented on #3387
@bajajerk #3393 thanks

[2018-09-22 18:29] bajajerk commented on #3393
@SidharthBansal
I would love to work on this .

[2018-09-22 18:30] SidharthBansal commented on #3393
Please add the appealing text.
So that more people will love to contribute here.

[2018-09-22 18:57] avsingh999 opened #3395 "Imporve publiclab.org page"
### Please describe the problem (or idea)
when we are not logged in then we can access this page  https://publiclab.org/
There are two problems I find in this page
- Public lab Blog posts are not in the proper way, one blog post read more button collapse

![blogpost](https://user-images.githubusercontent.com/25536022/45920731-63aec400-bec6-11e8-908e-c8a752a032fd.png)

- The second one is there is

[2018-09-22 20:16] YashishDua commented on #3373
If the user closes explicitly then it should not be shown afterward.
Apart from this, we can show the dialog for certain days when the user signs up.

[2018-09-22 20:18] YashishDua commented on #3379
@jywarren Thanks for sharing the resource. I will take up this issue.

[2018-09-22 20:27] SidharthBansal commented on #3395
Thanks for reporting bugs

[2018-09-22 20:40] SidharthBansal commented on #3378
Are you willing to try to fix it?

[2018-09-22 20:48] #3391 closed

[2018-09-22 20:50] jywarren commented on #3373
That sounds great!

On Sat, Sep 22, 2018, 4:17 PM droider <notifications@github.com> wrote:

[2018-09-22 23:14] stefannibrasil commented on #987
closed via #3357

[2018-09-22 23:16] #987 closed

[2018-09-22 23:16] #2421 closed

[2018-09-22 23:35] #3241 closed

[2018-09-22 23:38] #3312 closed

[2018-09-22 23:42] milaaraujo opened #3396 "Remove dynamic_serch"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-23 00:09] stefannibrasil opened #3397 "Show the most recent profiles on search/profiles page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-23 05:12] vchrombie commented on #3373
I have tried using ruby but again I am stuck with this error.
"Your Ruby version is 2.3.1, but your Gemfile specified 2.4.4"

[2018-09-23 05:35] SidharthBansal commented on #3378
OK so I am making this as a gci issue as you are working on others.
Thanks

[2018-09-23 05:37] SidharthBansal commented on #3396
Will you mind labelling this as gci candidate for google code in?
Thanks

[2018-09-23 05:43] avsingh999 commented on #3378
yes

[2018-09-23 07:35] gauravano commented on #3373
Hi, @vchrombie you have to install ruby version `2.4.4` and then switch current version to it. I hope you are using rvm. If you have any doubts, feel free to ask. Thanks!

[2018-09-23 07:48] gauravano commented on #3397
Hi @DamonClark, that would be great. Thanks!

[2018-09-23 08:11] avsingh999 commented on #3371
@SidharthBansal  @igniteeng000  This issue can not see on local machine but on publiclab.org we can see this issue ? Now

[2018-09-23 09:00] rbhatia46 commented on #3387
@SidharthBansal Need a small help here, can you help me locate the HTML for that button. I tried to look at several ERBs in the views but could not find it.
Thanks

[2018-09-23 09:28] neel1998 commented on #3396
I would like to work on this one.

[2018-09-23 09:43] SidharthBansal commented on #3396
Go ahead

[2018-09-23 09:45] neel1998 commented on #3396
I am new to open source ..So can you give me a head start..

[2018-09-23 11:44] rbhatia46 opened #3403 "Open Store in Navbar in a new tab"
```We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.```

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebas

[2018-09-23 13:05] SidharthBansal commented on #3403
This issue needs input from @bronwen9
As discussed in #3350. This issue can't be claimed before their input.

[2018-09-23 13:28] jywarren commented on #3403
I think this one is ok! Bronwen is at a workshop all today so I can give
👍🏽 for her!

On Sun, Sep 23, 2018, 9:05 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-23 14:51] ViditChitkara opened #3404 "Digest email bug"
The digest emails are currently not being sent.
`ArgumentError: wrong number of arguments (given 0, expected 1)` is shown on Sidekiq dashboard (https://publiclab.org/sidekiq/retries).

[2018-09-23 15:18] gauravano commented on #3396
Hi @neel1998, welcome to the awesome world of Open Source and Public lab, please see these https://github.com/publiclab/plots2#installation instructions and then start with this issue by making a separate branch. Feel free to ask if you have any doubt. Thanks!

[2018-09-23 17:05] jywarren commented on #3404
I dug up the log for this on the server too!

[code]

Key section:

[code]

It looks like we are asking for a parameter in `peform(frequency)` but when it's called it's not getting the parameter

https://github.com/publiclab/plots2/blob/cda8e40bf9edcc58e0beb3c2b5ead872a3e7f327/app/jobs/digest_mail_job.rb#L4

Vidit, do you know where `perform()` is called from and why it doesn't have a `frequency`

[2018-09-23 17:09] #3386 closed

[2018-09-23 17:11] #3393 closed

[2018-09-23 17:14] jywarren commented on #3388
But we could really use help with solving #3188! Thanks!

On Sat, Sep 22, 2018 at 1:50 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-23 17:28] sukhbir-singh commented on #3168
I am interested in becoming Google Code-In mentor. :smiley:

[2018-09-23 17:30] first-timers[bot] opened #3405 "Add "next step" to welcomebot message on pull requests"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-23 17:33] mcblake commented on #3405
I would like to do this!

[2018-09-23 17:50] jywarren commented on #3405
Please do! We'd love your help.

On Sun, Sep 23, 2018, 1:34 PM Cameron Blake <notifications@github.com>
wrote:

[2018-09-23 17:51] jywarren commented on #3404
If you can identify the change we should make to fix it, and it's only a
few lines, then yeah, I think it'd make a great FTO!

On Sun, Sep 23, 2018, 1:23 PM Vidit <notifications@github.com> wrote:

[2018-09-23 17:52] bajajerk opened #3406 "Generalise the different routes on profile page."
### Please describe the problem (or idea)

![screen shot 2018-09-23 at 11 10 29 pm](https://user-images.githubusercontent.com/29681232/45931119-adf77a00-bf86-11e8-987d-aeddaed205ab.png)

This is from https://publiclab.org/profile/YOUR_USERNAME .
Observed it Chrome , MAC.

[code]
 should be of same color and type like others , also others are clickable besides the fact that they are zero too.

[2018-09-23 17:54] bajajerk commented on #3406
@jywarren  @SidharthBansal
Please check if its needed

[2018-09-23 17:57] Paarmita commented on #3298
@jywarren Is this issue still open to work on?

[2018-09-23 18:00] Paarmita commented on #3341
@SidharthBansal Can I take up this?

[2018-09-23 18:02] Paarmita commented on #3374
@namangupta01 Can I work on this?

[2018-09-23 18:03] jywarren commented on #3298
Hi, it looks like @AmanGarg97 is working on it in #3347 - but having some trouble. If you could test their code and upload a screenshot that'd be very helpful - and if you can help them figure out their install issues we'd also be grateful!

[2018-09-23 18:08] namangupta01 commented on #3374
Hey @Paarmita, @shivani-kapania is already working on this issue.
So you look for other issues to work on. And as far as i remembered you have already contributed to this project so please look for others issue then instead of doing `first-timers-issue`. If you need help in finding the issue then let me know.
Thanks !

[2018-09-23 18:11] Paarmita commented on #3374
@namangupta01 Yes, plz help in finding one?

[2018-09-23 18:13] namangupta01 commented on #3374
Have you worked with `sidekiq`?

[2018-09-23 18:17] namangupta01 commented on #3374
Okay then let me find some first-timers-issue.

[2018-09-23 18:58] ViditChitkara commented on #3404
I guess, there isn't any syntactical error. But the cronjobs are not updating according to schedule.rb.
@icarito do we need to specify environment in makefile when we deploy the latest code?

I did `whenever --update-crontab --set environment=development` to make the it work. I believe the same command needs to be done in the makefile with production instead.

https://github.com/publiclab/plots2/b

[2018-09-23 19:07] jywarren commented on #3404
Hmm, were you able to get past the "0 parameters where expected 1" error?

On Sun, Sep 23, 2018, 2:59 PM Vidit <notifications@github.com> wrote:

[2018-09-23 19:13] avsingh999 opened #3407 "List and Grid View in Questions"
### Please describe the problem (or idea)
In  https://publiclab.org/questions/ page if we select list view then All questions show in lists but if  i refresh the page or move to another page then It's changing to again  Grid view

If we select view that should be fixed every time untill unless user change that view

### Please show us where to look

https://publiclab.org/questions/

### What's you

[2018-09-23 19:15] avsingh999 commented on #3406
@bajajerk  @jywarren  @SidharthBansal  If it's needed I would like to work on it

[2018-09-23 19:15] namangupta01 commented on #3407
Nice issue @avsingh999 , i think we can do this by using localstorage.

[2018-09-23 19:16] ViditChitkara commented on #3404
yeah I tested locally with
`
every 1.minutes do
	runner "DigestMailJob.perform_async"
end
`
and
`
every 1.minutes do
	runner "DigestMailJob.perform_async(0)"
end
`

The same error occurred for the first one and worked perfectly for the latter one.

[2018-09-23 19:16] namangupta01 commented on #3374
@Paarmita you can try #3407

[2018-09-23 19:29] ViditChitkara commented on #3404
Its actually there in the code, right here:-
https://github.com/publiclab/plots2/blob/2522459bfdc21068df2e0e808a8addc6726808e0/config/schedule.rb#L31-L37
but the problem I guess is that, the crontab isn't updated after this code was deployed. It still assumes that no argument is passed with the function. Does this make sense?

[2018-09-23 19:33] avsingh999 opened #3408 "CERN Open Hardware License 1.1. page not found"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)
when click on this CERN Open Hardware License 1.1 then It's goes to no page found  and there is back button not work
![licence](https://user

[2018-09-23 19:34] jywarren commented on #3404
Ah, ok! Cool, do we track the crontab settings in git or is there a
reference to compare the production settings against?

Super it looks like you've got this going. Thanks!

On Sun, Sep 23, 2018, 3:30 PM Vidit <notifications@github.com> wrote:

[2018-09-23 19:46] avsingh999 opened #3409 "Don't search for " " (spacebar character) in navbar typeahead search"
### Please describe the problem (or idea)
In header there is search, It's searching also space which is not good.
![search](https://user-images.githubusercontent.com/25536022/45932253-3d0c8e00-bf97-11e8-99b1-f54c5d9a2bc8.png)

first char in search cann't be space

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?
999_avsingh999

### Browser, vers

[2018-09-23 19:47] Paarmita commented on #3407
@avsingh999 grid view is the default, so when we refresh or move to a new page, local storage must be in its default view. Correct me if I'm wrong?

[2018-09-23 19:52] jywarren commented on #3407
Hi! I think unfortunately that we'll be removing this switch feature soon
because the list view is not very compact. But if you'd like to modify it
to use a table view instead of a grid view, that could work!

A related and very high priority issue we've been trying to solve for 2
years is this one, if you want to give it a try!

https://github.com/publiclab/plots2/issues/1097

Thanks for your hel

[2018-09-23 19:53] avsingh999 commented on #3409
@jywarren I want to work on this If it's required

[2018-09-23 20:01] avsingh999 opened #3410 "Improve methods page button placement"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Instance count 1
Field: Training

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to fo

[2018-09-23 20:15] Paarmita commented on #3407
@jywarren Yes list view has a lot of white spaces. Can u plz specify how table view would look like?
And does these view changes are through local storage?

[2018-09-24 00:42] SidharthBansal commented on #3341
No someone is working on it.
Please try other issues
Thanks

[2018-09-24 01:03] first-timers[bot] opened #3411 "Update README.md"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-24 01:04] jywarren commented on #3408
Good find! Can you find an up to date link to the OHL 1.1 ? We can make a first-timers-only issue for this!

[2018-09-24 02:01] SidharthBansal commented on #3358
This page is for new comers on how to start contributing at pl. We will list how shall new comer proceed. They need to do two ftos and then other gci tasks. Gci list is in 3276 etc. We need to tell them.
If we will prepare a nice document and give them link to it then this will reduce significant work of mentors.

[2018-09-24 02:41] igniteeng000 commented on #3411
Please assign me, i am working on it.

[2018-09-24 04:05] rishabhptr commented on #3168
@jywarren Is the call for mentor still open? Would love to be a mentor 😄

[2018-09-24 04:09] ViditChitkara commented on #3404
I guess we can't directly view the cronjobs which are scheduled. It can be viewed by logging on the server only. All we need to do is make the update-crontab command run on production. Needs some more digging though. Will look into it.

[2018-09-24 07:45] avsingh999 commented on #3409
@jywarren please review about this issue

[2018-09-24 07:54] avsingh999 commented on #3408
@jywarren I think  that link is https://publiclab.org/wiki/cern-ohl-11

[2018-09-24 07:56] avsingh999 commented on #3408
@jywarren  please assign me if this is right because I don't have  any pr

[2018-09-24 08:03] igniteeng000 commented on #3168
I am interested in becoming gci mentor.

[2018-09-24 08:58] shivani-kapania commented on #3374
@namangupta01 can you assign me a help-wanted issue next?

[2018-09-24 09:01] shivani-kapania commented on #3374
@namangupta01 hi, can you pls assign me a help-wanted issue next?

[2018-09-24 14:17] namangupta01 commented on #3374
It seems that all the issues are assigned but I will create some. You can
try from them.

On Mon, Sep 24, 2018, 2:31 PM shivani-kapania <notifications@github.com>
wrote:

[2018-09-24 14:43] first-timers[bot] opened #3414 "Update welcome message to newcomers in WelcomeBot configuration"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-24 14:46] shivani-kapania commented on #3374
Okay, thanks! 👍

[2018-09-24 14:48] jywarren commented on #3168
Yes, it still is, thank you! Please use the form to apply and we're happy
to answer questions!

On Mon, Sep 24, 2018 at 4:04 AM Ashutosh Kumar <notifications@github.com>
wrote:

[2018-09-24 15:40] gauravano commented on #3414
Hi @nwyll, welcome to the awesome world of Open Source and Public Lab. Feel free to proceed with the issue. Thanks!

[2018-09-24 15:50] jywarren opened #3416 "Invent clever way to trigger notification when a first-timer finishes a pull request"
We have a great set of first-timers-only issues at https://code.publiclab.org, and a welcomebot to thank people when they're successfully closed:

![image](https://user-images.githubusercontent.com/24359/45962859-e41d1400-bfef-11e8-91a0-dd9927d6433d.png)

(see https://github.com/publiclab/plots2/pull/3392#issuecomment-423772382)

We can find closed pull requests where WelcomeBot has responded usin

[2018-09-24 15:58] gauravano commented on #3416
So, it would be like a thank you message in form of Email or a tweet? People may not mention their twitter handle, so if we wanna be sure that they got our message, Emailing them from PL domain would be nice :)

[2018-09-24 16:18] jywarren commented on #3416
the WelcomeBot message now asks people for their twitter handle, so the
ideal is that this is triggered when they respond to /that/ prompt. But it
would still be VERY useful to just see all closed PRs that were that
person's first PR, which the above link shows via the API. I just can't
think of a simple way to trigger a message of any kind from that API
result... :-/

On Mon, Sep 24, 2018 at 12:0

[2018-09-24 16:19] #3374 closed

[2018-09-24 16:40] first-timers[bot] opened #3419 "Add ability to sort tag pages by likes/view counts"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-24 16:40] jywarren commented on #3419
This one is for @nwyll!

[2018-09-24 16:40] jywarren commented on #3414
Here you go @nwyll ! https://github.com/publiclab/plots2/issues/3419

[2018-09-24 16:40] #3414 closed

[2018-09-24 16:42] jywarren commented on #3419
If you have the code running on your own machine, once this is implemented, you should be able to test it out by going to:

http://localhost:3000/tag/test?order=likes

Once it's finally done and published, it'll appear at:

https://publiclab.org/tag/test?order=likes

[2018-09-24 16:52] avsingh999 opened #3421 "Login page background is transparent on mobile screens"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contribut

[2018-09-24 16:53] avsingh999 commented on #3419
@jywarren  can i work on this issue

[2018-09-24 17:09] avsingh999 opened #3422 "Searched people profile not link proficiently"
### Please describe the problem (or idea)
when searching people it's search perfect but

![search1](https://user-images.githubusercontent.com/25536022/45967076-82d65e80-c04a-11e8-87d0-dfaaeee732cb.png)

when I click on that people It's going to this page

![search2](https://user-images.githubusercontent.com/25536022/45967033-64706300-c04a-11e8-8315-4e23c9f5e9a3.png)

when I click on searched peopl

[2018-09-24 17:10] avsingh999 commented on #3422
@jywarren  It's looking for newcommer

[2018-09-24 17:33] nwyll commented on #3419
Thanks, Jeffery. I will get on this one.
    On Monday, September 24, 2018, 6:42:13 PM GMT+2, Jeffrey Warren <notifications@github.com> wrote:

If you have the code running on your own machine, once this is implemented, you should be able to test it out by going to:

http://localhost:3000/tag/test?order=likes

Once it's finally done and published, it'll appear at:

https://publiclab.org/tag/test?o

[2018-09-24 17:34] stefannibrasil commented on #3422
hi, thank you, I already created an issue and someone already fixed it, here #3420, just waiting for it to be merged!

sorry for the inconvenience, it will be live soon :)

[2018-09-24 17:45] avsingh999 commented on #3422
@stefannibrasil  thanks

[2018-09-24 17:45] #3422 closed

[2018-09-24 18:01] stefannibrasil commented on #3409
If you are willing to help, go ahead, that would be amazing! :)

this is something that we began here, so it may help take a look at [this commit](https://github.com/publiclab/plots2/pull/3357/commits/d57183f6869bad4289a6ca7c4061218e0701907f) first

[2018-09-24 18:03] #3215 closed

[2018-09-24 18:05] #3229 closed

[2018-09-24 18:06] jywarren commented on #1938
Solved long ago, sorry forgot to close this one!

[2018-09-24 18:06] #1938 closed

[2018-09-24 18:06] #607 closed

[2018-09-24 18:07] jywarren commented on #3406
I think we'll have to make a new display of `Answers by an author` - a list page, perhaps. I think we don't have that page yet, and are generally planning to merge answers with comments, so perhaps we should hold off on this for now!

@bajajerk if you want to make a new issue, please check out this template to learn how to craft one for newcomers! Thank you!

https://publiclab.org/n/13667

[2018-09-24 18:07] #3406 closed

[2018-09-24 18:10] jywarren commented on #3421
Great catch! This is a good one for a new contributor to try to fix!

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar eno

[2018-09-24 18:11] jywarren commented on #3410
Great catch! This could be a great issue for a newcomer to solve!

****

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar

[2018-09-24 18:13] jywarren commented on #3408
Actually this is stored in the database, not the code, so I've gone ahead and fixed it with the link you've supplied. Great work! If you're interested, please check out https://code.publiclab.org for another issue! Thanks!

[2018-09-24 18:21] shivani-kapania commented on #3421
@avsingh999 I tried it on Safari for my mobile. I clicked on the login tab and no action is being performed. It's not redirecting.

[2018-09-24 18:22] first-timers[bot] opened #3423 "Change welcome bot message to ask people to create their own first-timers-only issue"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-24 18:31] avsingh999 commented on #3421
@shivani-kapania  you should slide to down or up  after click on login

[2018-09-24 18:33] avsingh999 commented on #3423
@jywarren  I want to work

[2018-09-24 18:33] jywarren opened #3424 "[Welcoming] Help add code links to existing issues"
As part of our ongoing work to welcome newcomers, and to produce more welcoming [first timers only issues](https://code.publiclab.org), we need to add URLs leading to specific lines of code, to many issues.

This will help newcomers get started in a codebase they may not be familiar with! 🔍 🕵️

### Find issues needing code links

To help out, find issues tagged with `add-code-links`:

https://gith

[2018-09-24 18:36] jywarren commented on #3168
I've made a "reusable" issue for adding code links to issues, to help prepare them. It's a good (small) one for newcomers, but also one which really helps to prepare issues for first-timers!

https://github.com/publiclab/plots2/issues/3424

Someone want to add a recurring task for this?

[2018-09-24 18:37] jywarren commented on #3168
We can do the same for "Help someone troubleshoot their pull request" and "Draw a mockup for a design problem" linking to https://github.com/publiclab/plots2/pulls and https://github.com/publiclab/plots2/labels/design, respectively!

[2018-09-24 18:47] namangupta01 opened #3425 "Simple UI improvement for blockquote responses in reply by email comment"
For conversation threads, when we click on the toggle button, the reply comments show up in a larger font size than the original comments.

So we can have some basic improvement in this such as:
 Border padded blockquotes with a light background colour and a smaller font size to differentiate with the original comments.

![whatsapp image 2018-09-24 at 11 45 23 pm](https://user-images.githubusercon

[2018-09-24 18:50] namangupta01 commented on #3374
See https://github.com/publiclab/plots2/issues/3425, if you want to try that.

[2018-09-24 18:52] shivani-kapania commented on #3374
Okay, let me take a look at it.

[2018-09-24 18:53] shivani-kapania commented on #3425
Hello, yes I'd like to try this issue. Thanks a lot! 👍

[2018-09-24 18:59] namangupta01 opened #3426 "Expand reply-by-email feature For outlook"
```We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.```

Currently in `reply-by-email` feature we support parsing of email for google, yahoo and the domains that are using google service.
And as this feature is working stable, we can add

[2018-09-24 19:05] namangupta01 opened #3427 "Move an integration test to integration test folder which is present in Unit test file [PART 1]"
```We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.```

Currently some integration tests are present in unit test folder, so we can move them from this folder and add them to integration test folder.
https://github.com/publiclab/plots2/

[2018-09-24 19:13] namangupta01 opened #3428 "Move an integration test to integration test folder which is present in Unit test file [PART 2]"
Currently some integration tests are present in unit test folder, so we can move them from this folder and add them to integration test folder.
https://github.com/publiclab/plots2/blob/faa03523b35ccaddd26f4bfc00a2c0bcce591b5b/test/unit/comment_test.rb#L321

[2018-09-24 19:16] namangupta01 opened #3429 "Move an integration test to integration test folder which is present in Unit test file [PART 3]"
```We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.```

Currently some integration tests are present in unit test folder, so we can move them from this folder and add them to integration test folder.
https://github.com/publiclab/plots2/

[2018-09-24 19:18] namangupta01 opened #3431 "Move an integration test to integration test folder which is present in Unit test file [PART 4]"
```We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.```

Currently some integration tests are present in unit test folder, so we can move them from this folder and add them to integration test folder.

https://github.com/publiclab/plots2

[2018-09-24 19:21] namangupta01 opened #3432 "Move an integration test to integration test folder which is present in Unit test file [PART 5]"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Currently some integration tests are present in unit test folder, so we can move them from this folder and add them to integration test folder.
https://github.com/publiclab/plots2/bl

[2018-09-24 19:22] namangupta01 opened #3433 "Move an integration test to integration test folder which is present in Unit test file [PART 6]"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Currently some integration tests are present in unit test folder, so we can move them from this folder and add them to integration test folder.

https://github.com/publiclab/plots2/b

[2018-09-24 19:35] namangupta01 opened #3435 "Add remaining unit tests for reply-by-email feature functions in comment model"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

There are some functions in `reply-by-email` feature in comment model for which there are no unit tests.
We can add them in test/unit/comment_test.rb

https://github.com/publiclab/pl

[2018-09-24 19:39] namangupta01 opened #3436 "Add unit tests for Outlook reply-by-email feature"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

This is dependent on https://github.com/publiclab/plots2/issues/3426
After the completion of https://github.com/publiclab/plots2/issues/3426, we can add unit tests for this feature a

[2018-09-24 19:40] namangupta01 opened #3437 "Add integration tests for outlook in reply-by-email feature"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

This is dependent on #3426
After the completion of #3426, we can add integrations tests for this feature as well

[2018-09-24 19:45] namangupta01 commented on #3425
Go ahead!

[2018-09-24 19:54] jywarren commented on #2755
Here are some issues that could be broken out this week!

* [ ] I think we may want to remove the auto-added asterisk on this line, and treat "boolean search" as an expert search type: https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L39
* [ ] add a link to more info on boolean searches like http://booleanblackbelt.com/2008/12/basic-boolean-search-operators-and-query-modifiers-ex

[2018-09-24 19:56] #3396 closed

[2018-09-24 19:58] jywarren commented on #3423
Please go ahead!

On Mon, Sep 24, 2018 at 2:34 PM Avkaran Singh <notifications@github.com>
wrote:

[2018-09-24 20:15] jywarren commented on #3437
This is related to filtering all signature types, here! https://github.com/publiclab/plots2/issues/3218

[2018-09-24 20:18] jywarren commented on #3404
I can log in and look - but what should i be looking for? @icarito would
you mind trying to coordinate with Vidit on this one? Thanks!

On Mon, Sep 24, 2018 at 12:10 AM Vidit <notifications@github.com> wrote:

[2018-09-24 20:35] jywarren commented on #2969
I've tracked this error a bit more. It's on line 926 of this file:

https://publiclab.org/lib/jquery-file-upload/js/jquery.fileupload.js

[code]

That's part of this library we use: https://github.com/blueimp/jQuery-File-Upload

[2018-09-24 21:05] avsingh999 opened #3439 "Success sign when Password match with Confirmation password"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)
This is a feature request  in Sign up (https://publiclab.org/register) Page when we sign up and  fill details but No success  message sign w

[2018-09-24 21:27] jywarren commented on #2969
Interestingly this doesn't happen at https://publiclab.github.io/PublicLab.Editor/examples/ -- the progress bar is shown properly. They should be running at the same version... maybe there's some problem with the interaction between the editor and the main PublicLab.org site code?

[2018-09-24 21:28] avsingh999 opened #3440 "Make "Test Digest Email" button on profile page viewable to admins only"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)
In user profile page there is a Button Test Digest Email. It's not looking good .
add some style

![button](https://user-images.githubuserco

[2018-09-24 21:34] avsingh999 commented on #3367
It's redirecting after login to same  wiki page

[2018-09-24 21:57] first-timers[bot] opened #3441 "fix image upload for #2969"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-24 22:07] mcblake commented on #3405
I did not realize I was supposed to ask for a review. I am sorry!

[2018-09-24 22:08] first-timers[bot] opened #3442 "turn Google Maps API key into environment parameter"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-24 22:09] jywarren commented on #2969
I believe I've figured this out and created a first-timers-only issue to fix it! 👍 🎉

https://github.com/publiclab/plots2/issues/3441

[2018-09-24 22:09] #2969 closed

[2018-09-24 22:13] jywarren commented on #3440
this'd be great. It could use the class names `class="btn btn-default"`
like the others there. Can you help point at the lines of code that need to
be changed as in https://github.com/publiclab/plots2/issues/3424 ?

On Mon, Sep 24, 2018 at 5:28 PM Avkaran Singh <notifications@github.com>
wrote:

[2018-09-24 22:13] jywarren commented on #3439
cool... is there a library that can help us do this?

On Mon, Sep 24, 2018 at 5:05 PM Avkaran Singh <notifications@github.com>
wrote:

[2018-09-24 22:14] jywarren commented on #3405
Ah, it's not 100% required but helps us stay organized. If you've already solved a first-timers issue, maybe you could take on some of this task?

https://github.com/publiclab/plots2/issues/3424

Thanks!!!

[2018-09-24 22:16] jywarren commented on #3358
Perhaps this is a page to nicely organize things like this?
https://github.com/publiclab/plots2/issues/3424

On Sun, Sep 23, 2018 at 10:02 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-24 22:35] jywarren commented on #3375
Ah, I see -- can you reformat this issue to be like this one? https://github.com/publiclab/plots2/issues/3409

The title especially can help! Thanks!

[2018-09-24 22:54] jywarren commented on #3331
Thank you! I think potentially displaying comments as greyed-out until they are approved? This is related to your last item.

Both on individual notes, questions, wiki pages (these share templates i think) but also at /comments

Also, potentially have a /comments option which shows as-yet-unapproved comments? Like `/comments?status=unapproved` maybe?

[2018-09-24 22:54] jywarren commented on #3331
Thanks and sorry it took me a while to respond!!! 👍

[2018-09-25 00:56] msarit commented on #3442
I would like to tackle this issue please!

[2018-09-25 01:38] Souravirus commented on #3168
Hi @ebarry can you tell when is the date of the open hour as it is not specified. Is it on the first Monday of October as usual or some other day?

[2018-09-25 02:04] SidharthBansal commented on #3358
Yeah this page will contain links to these kind of documents.
As soon as gci candidate comes and asks for help we can give this wiki page link.
This wiki page will guide students 90%. Rest 10% students can be guided on gitter chat. This action will reduce the work of mentors telling students about things.

This wiki page will have link to installation, then to first timers, then to help wanted inc

[2018-09-25 02:10] Souravirus commented on #3358
Yeah I understand you. So, instead of listing out tasks in that wiki page. We can tell people how to start, how to contribute and things like that. Nice idea @SidharthBansal

[2018-09-25 02:14] Paarmita commented on #3341
@jywarren Thanks! I'm stuck in installing the project locally, after resolving it I can start working on it.

[2018-09-25 02:38] jywarren commented on #3341
great! If it helps, ask in the chatroom and folks may be able to help you
get it installed! https://publiclab.org/chat

On Mon, Sep 24, 2018 at 10:14 PM Paarmita Bhargava <notifications@github.com>
wrote:

[2018-09-25 02:40] jywarren commented on #3168
I think yes, it should be this coming Monday!

On Mon, Sep 24, 2018 at 9:39 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-09-25 02:56] jywarren opened #3443 "Optimize users query in Srch API"
Looks like we're seeing some site slowdowns due to a search query:

[code]

```SELECT  DISTINCT `rusers`.* FROM `rusers` INNER JOIN `node` ON `node`.`uid` = `rusers`.`id` INNER JOIN `node_revisions` ON `node_revisions`.`nid` = `node`.`nid` WHERE (MATCH(bio, username) AGAINST(? IN BOOLEAN MODE)) AND (rusers.status = ?) ORDER BY node_revisions.timestamp DESC LIMIT ?```

You can see it appearing in S

[2018-09-25 02:58] jywarren commented on #3443
Maybe the match against bio and username together is a heavy query... but we are narrowing by status... what if we also said `node.status = 1` so we exclude users who have only unapproved posts (mostly spammers)? That could make a difference.

I think we could make a first-timers issue of that if we can get a link to the line of code where this query is made!

[2018-09-25 03:04] rbhatia46 commented on #3168
@jywarren, I have completed the form and all the prerequisites and would like to be a mentor. Please check. Thanks!

[2018-09-25 03:17] milaaraujo commented on #3443
Well, I really don't know... Do you have an estimate of how many users are spammers? But the lines of code are: https://github.com/publiclab/plots2/blob/136b448931f49d8c0baa8bbf79936bcf00e94ad7/app/services/search_service.rb#L37-L40

But maybe we could try to search only by username in the search/all endpoint? I can open a PR with this modification now, so we can see if this helps.

[2018-09-25 03:56] jywarren commented on #3443
We've had some strong requests to retain searching by bio, so i'd like to
try to keep that in. There are roughly 300k spammers so I think this could
make a difference, although not all of them have nodes... I think it's
worth a try!

Thanks for the code links. If the node.status filter doesn't work we can
consider other options.

On Mon, Sep 24, 2018 at 11:17 PM Camila Araújo <notifications@github

[2018-09-25 04:07] milaaraujo commented on #3443
Yep, we have a lot of spammers. Well, I opened two PR with the different suggestions. I was hoping to compare the two and see which one really works. But you can just ignore my PRs and use  #3445 to open a first-timer issue if you want. :)

search/all/(profile): search only by username as default #3444
Profiles method only join nodes where(node_revisions.status = 1) #3445

[2018-09-25 05:30] SidharthBansal commented on #3442
@msarit please go ahead

[2018-09-25 05:32] SidharthBansal commented on #3440
I think this button needs to be removed. @viditchitkara used to test the features in Gsoc. So may be we don't need it now?

[2018-09-25 05:50] SidharthBansal commented on #3411
Yeah go ahead

[2018-09-25 05:51] SidharthBansal commented on #3411
Oh I see your PR
You are so quick

[2018-09-25 05:52] SidharthBansal commented on #3419
@avsingh you are assigned another fto. #3423 After completing that you can explore various help wanted issues at public lab.

This issue is assigned to @nwyll by Jeff.

We want more people to work at public labs so we generally assign a single fto to a single person.
Thanks

[2018-09-25 05:56] ViditChitkara commented on #3440
It has got some bugs too. Shouldn't it be available for admins or some smaller grp of users only??

[2018-09-25 05:59] avsingh999 commented on #3419
No problem but @SidharthBansal  i have send pr to this issue #3423

[2018-09-25 05:59] SidharthBansal commented on #2866
We can ask students to give designs for login modal in gci. Then we can break this into code segments.
This issue has instance count of 10

[2018-09-25 06:00] avsingh999 commented on #3423
@jywarren  close this issues pr #3434 has been merged

[2018-09-25 06:04] SidharthBansal commented on #3423
Actually there is an automated system to close the issues when PRS are merged.
You need to put "Fixes #issue_no" in the PR body at the first line. This will result in closing of issues upon merge.
So please use it from next time
Thanks

[2018-09-25 06:04] #3423 closed

[2018-09-25 06:06] avsingh999 commented on #3440
@jywarren in this file   line 221
https://github.com/publiclab/plots2/blob/1b3cd0802d5a16436602afc373f56e1ae2ade2f1/app/views/users/profile.html.erb

[2018-09-25 06:06] SidharthBansal commented on #3440
So instead of changing the style of the button we can display the button only to admins and moderators. We can create nice gci issues for them and their respective tests. Let's see what Jeff says

[2018-09-25 06:07] SidharthBansal commented on #3440
Nice catch @avsingh999

[2018-09-25 06:07] avsingh999 commented on #3440
@SidharthBansal  thank you

[2018-09-25 06:12] avsingh999 commented on #3440
@SidharthBansal @jywarren should i add access group to the button.

[2018-09-25 06:17] SidharthBansal commented on #3440
No you don't need to add access button to it.
Instead we need to
1. Write code in the view files that this button is only visible to admins or moderators.
We don't want this button to be shown to general public.
2. We need to write test that this button is seen by admin
3. We need to write test that this button is seen by moderators
4. We need to write test that this button is not seen by normal u

[2018-09-25 06:18] SidharthBansal commented on #3440
Will you want to work on this?

[2018-09-25 06:32] SidharthBansal opened #3447 "Redundant list/grid view in question section on mobiles"
### Please describe the problem (or idea)
![screenshot_20180925-115741](https://user-images.githubusercontent.com/20972099/45996622-72f66300-c0ba-11e8-9b21-628fcfbd053a.png)
Notice that the buttons to change grid and list view doesn't work on mobiles but they work on laptops etc.

We need to remove the buttons from small screen views

### Please show us where to look

https://publiclab.org/questio

[2018-09-25 06:33] Souravirus commented on #3416
Hi @jywarren, can't we ask for their twitter handle when the first-timer open the pull request. So, that we get notified and then later thank them in twitter when the PR gets merged.

[2018-09-25 06:37] SidharthBansal commented on #3447
Sorry I didn't see that issue for this is already created.

[2018-09-25 06:37] #3447 closed

[2018-09-25 06:40] Souravirus commented on #3424
I am adding this issue to the task list in #3276 under the section **Outreach/Research: community management, marketing, or studying problems and recommending solutions**

[2018-09-25 07:35] avsingh999 commented on #3440
yes I want to work on it

[2018-09-25 07:37] SidharthBansal commented on #3440
OK go ahead. This issue is broken into sub issues as listed above. So do things part by part. We highly focus on modularity.
Thanks

[2018-09-25 07:48] geekychaser commented on #3358
@SidharthBansal @aSquare14 can i prepare documentation for "how to start contributing" , as your exams are going on?

[2018-09-25 07:51] SidharthBansal commented on #3358
Yeah go ahead. Documentations require many updates so @aSquare14 can also add changes to it when she gets free.
As you are new to pl, please read the above comments and #3276, #3424 and other similar issues.
Don't forget to add them into the PR.
Thanks @geekychaser

[2018-09-25 07:53] SidharthBansal commented on #3358
Also, there is a possibility that gci students will contribute before the event. So this doc is really important. So go ahead.

[2018-09-25 08:35] SidharthBansal commented on #3421
Create a different issue for this.
Thanks
Create separate issues for separate bugs

[2018-09-25 08:43] avsingh999 commented on #3421
ok

[2018-09-25 08:51] avsingh999 opened #3449 "Improve navbar for short resolution or mobile view Part 1"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)
there are also changes in nav bar,

- Click on get Involved

 in this section when  get Involved Drop down then It's also show Donate option

[2018-09-25 09:00] geekychaser opened #3450 "Enhance readability of text in small screens"
```We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.```

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contrib

[2018-09-25 09:19] geekychaser opened #3451 "Remove extra horizontal line"
```We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.```

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contrib

[2018-09-25 11:41] Paarmita commented on #3341
@SidharthBansal I added the code in app/views/sidebar/_related.html.erb but where can I see the feature I added?

[2018-09-25 11:59] gauravano commented on #3441
Hi @ibrahimelbanna, we would be happy to have your help. Thanks!

[2018-09-25 12:58] avsingh999 commented on #3449
@SidharthBansal  But I  was thinking this is in navbar so I did this

[2018-09-25 13:13] avsingh999 opened #3452 "Improve navbar for short resolution or mobile view Part 3"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contribut

[2018-09-25 13:14] avsingh999 opened #3453 "Improve navbar for short resolution or mobile view Part 2"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contribut

[2018-09-25 13:15] avsingh999 commented on #3449
@SidharthBansal  Now look I have created 3 issues

[2018-09-25 13:15] SidharthBansal commented on #3450
Great work @geekychaser
Thanks for making ftos.

[2018-09-25 13:21] SidharthBansal commented on #3276
Please add
```We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.```
to each ``gci `` task which you create.
Thanks

[2018-09-25 13:25] SidharthBansal opened #3454 "Increase consistence of nav bars"
```We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.```
Instance count 1
### Please describe the problem (or idea)
On small screen devices we get inconsistent nav bars
![whatsapp image 2018-09-25 at 6 44 57 pm](https://user-images.github

[2018-09-25 13:28] SidharthBansal commented on #3449
Awesome.

[2018-09-25 13:31] SidharthBansal commented on #3367
@avsingh999 thanks for your help
I got this error when I was initially at /wiki and then I logged in.
I was redirected to dashboard.

I am not talking of /wiki/_____. That issue was solved by me in month of feb or earlier.

[2018-09-25 13:32] SidharthBansal commented on #3367
I checked it. I am facing this error. @geekychaser can you please check whether this is arising at your machine?
Thanks all

[2018-09-25 13:38] SidharthBansal opened #3456 "Render wiki pages on notes/popular"
### Please describe the problem (or idea)
When one clicks on the ``wiki`` on /notes/popular the person is redirected to a new page.

Instead the person should be shown list of items below wiki nav bar

### Please show us where to look

https://publiclab.org/notes/popular

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Publi

[2018-09-25 13:40] SidharthBansal commented on #3454
May be we can highlight the selected nav bar in rectangular form or any other way so that it will not create ambiguity to users

[2018-09-25 13:42] SidharthBansal commented on #3456
Refer #2293. This pr shows how the like page was integrated into the /profile/username page.
Thanks.

[2018-09-25 13:48] SidharthBansal opened #3457 "Redundant Search on Public Lab in Header dropdown"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Instance count 1
Field: Training

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to fo

[2018-09-25 14:21] jywarren commented on #3341
You should be able to on any note -- so, try either
localhost:3000/dashboard and click on one, OR localhost:3000/wiki and click
on one of the pages shown there. It should appear, but only if you're not
logged in!

On Tue, Sep 25, 2018 at 7:42 AM Paarmita Bhargava <notifications@github.com>
wrote:

[2018-09-25 14:46] jywarren opened #3458 "[Welcoming] Review & troubleshoot a newcomer's pull request"
(Work in progress! Please help!)

As part of our ongoing work to welcome newcomers, and to produce more welcoming [first timers only issues](https://code.publiclab.org), we need to help them make well-formatted pull requests, and troubleshoot the issues they encounter.

This will help newcomers get started in a codebase they may not be familiar with! 🔍 🕵️

### Find open pull requests

https://gith

[2018-09-25 14:50] geekychaser opened #3459 "Fix the image size"
### Please describe the problem (or idea)
Instagram images are not of equal size at Public Lab store.
![issue](https://user-images.githubusercontent.com/24489162/46022389-1e75d680-c100-11e8-922d-a17f6880749c.jpeg)

All the images should be of equal sizes.

### Please show us where to look

https://store.publiclab.org/

### What's your PublicLab.org username?
geekychaser

### Browser, version, and

[2018-09-25 15:02] jywarren commented on #3459
Hi, unfortunately the store is not part of our codebase, but is run from
another application where we don't have as much control. There's plenty to
do however in https://github.com/publiclab/plots2/labels/break-me-up,
https://github.com/publiclab/plots2/labels/fto-candidate, and
https://github.com/publiclab/plots2/labels/planning, so perhaps you could
close this one and try to break out some small

[2018-09-25 15:04] SidharthBansal commented on #3459
Btw great catch. You are doing a good job in creating fto issues and reporting bugs @geekychaser

[2018-09-25 15:26] SidharthBansal opened #3460 "[Welcoming] Suggest new changes & Report Bugs"
Contributors can help with our ongoing work to [welcome newcomers](https://code.publiclab.org) by reporting bugs they find, suggestions they have, or troubleshooting the issues they encounter. This will help newcomers get started in a codebase they may not be familiar with! 🔍 🕵️

### Find a bug or a suggestion

Whether it is on the publiclab.org main website, or in its editor or any other reposito

[2018-09-25 15:58] first-timers[bot] opened #3462 "Add sorting button options to tag show template"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-25 16:00] jywarren commented on #3462
This will have to be merged AFTER https://github.com/publiclab/plots2/issues/3419 -- thanks!!!

[2018-09-25 16:01] jywarren commented on #3450
Hi this looks great! However, to be a `first-timers-only` issue it does need a link to the code -- see https://github.com/publiclab/plots2/issues/3424

Then we can relabel it with `first-timers-only` -- thanks!!!

[2018-09-25 16:07] geekychaser commented on #3459
okay sir

[2018-09-25 16:07] #3459 closed

[2018-09-25 16:08] shivani-kapania opened #3463 "Option of selecting Deutsch language not working"
### Please describe the problem (or idea)

I selected Deutsch language from the footer of my dashboard.

I expected to get the page translated into Deutsch language whereas that didn't happen.
<img width="1268" alt="screen shot 2018-09-25 at 9 35 09 pm" src="https://user-images.githubusercontent.com/29448581/46027269-11aab000-c10b-11e8-8101-961f217d175f.png">

<img width="1267" alt="screen shot 20

[2018-09-25 16:12] jywarren opened #3464 "Header navbar runs out of space and covers content"
Our new header is very nice, but it needs to collapse a bit earlier; we use Bootstrap: https://getbootstrap.com/docs/3.3/

![screen shot 2018-09-25 at 12 07 09 pm](https://user-images.githubusercontent.com/24359/46027518-0a0fea80-c0bc-11e8-8009-c15002d78f41.png)

We should have it collapse into the "minimal" look earlier:

![screen shot 2018-09-25 at 12 11 13 pm](https://user-images.githubusercont

[2018-09-25 16:21] shivani-kapania commented on #3464
Hey! Could you please elaborate on the issue? All the header tabs need to be combined into one drop-down menu?

Thanks!

[2018-09-25 16:24] geekychaser opened #3465 "Link 'balloon-mapping' to a new tab in PL Editor"
```We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.```

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contrib

[2018-09-25 16:26] jywarren commented on #3416
ah, good idea! And good FTO -- have you used first-timers-bot yet?

https://github.com/hoodiehq/first-timers-bot

the file is under /.github/config.yml

On Tue, Sep 25, 2018 at 2:34 AM Sourav Sahoo <notifications@github.com>
wrote:

[2018-09-25 16:28] SidharthBansal commented on #3465
Nice catch and nice fto.

A few suggestions

This is quick guide for adding code links https://github.com/publiclab/plots2/wiki/Google-Code-In-Tasks#help-add-code-links-to-existing-issues

I guess you copied

from previous issue

Also, make sure to write that it should redirect to new page. Write this in fto.

Please add descriptive title to your issue

[2018-09-25 16:31] geekychaser opened #3466 "Link 'water-quality' to a new tab in PL editor"
```We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.```

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contrib

[2018-09-25 16:38] geekychaser commented on #3465
okay @SidharthBansal , i have updated the issue.
thanks for guidance

[2018-09-25 16:46] jywarren commented on #3466
Ah, sorry! I think this may need to be closed in favor of:

"Clicking suggested tag names should enter them into the tag input" -- and
on this repository: https://github.com/publiclab/PublicLab.Editor/

Would you mind closing and opening one over there?

On Tue, Sep 25, 2018 at 12:40 PM Rishabh <notifications@github.com> wrote:

[2018-09-25 16:47] jywarren commented on #3465
Ah, sorry! I think this may need to be closed in favor of:

"Clicking suggested tag names should enter them into the tag input" -- and
on this repository: https://github.com/publiclab/PublicLab.Editor/

Would you mind closing and opening one over there?

However, I agree also with Sidharth's comments. Thanks for your help!

On Tue, Sep 25, 2018 at 12:38 PM Sidharth Bansal <notifications@github.com

[2018-09-25 16:47] jywarren commented on #3325
Thank you!!!

On Tue, Sep 25, 2018 at 12:32 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-25 16:49] jywarren commented on #3331
Awesome!

On Tue, Sep 25, 2018 at 10:29 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-09-25 16:50] geekychaser commented on #3466
okay sir , closing it and opening one over there.

[2018-09-25 16:50] #3466 closed

[2018-09-25 16:50] SidharthBansal commented on #3421
@avsingh999 can you please change this into a first timer issue and close this one.
Also add relevant code links
Thanks

[2018-09-25 16:51] #3425 closed

[2018-09-25 16:54] jywarren commented on #3453
Ah, is this related to https://github.com/publiclab/plots2/issues/3464 ?

Thanks!

[2018-09-25 16:55] SidharthBansal commented on #3463
Please see #3348 Thanks

[2018-09-25 16:55] #3463 closed

[2018-09-25 16:55] geekychaser commented on #3465
okay sir , closing the issue and opening the same over there.

[2018-09-25 16:55] #3465 closed

[2018-09-25 16:55] msarit commented on #3462
I'd like to tackle this issue - thanks! 🙏

[2018-09-25 16:55] SidharthBansal commented on #3463
Thanks for reporting bug

[2018-09-25 16:55] jywarren commented on #3451
Can you add some code links please? https://github.com/publiclab/plots2/issues/3424 Thank you!!! 👍 👍 👍

[2018-09-25 16:56] jywarren commented on #3464
Hi, if you check out how headers work in Bootstrap docs, they're pretty
clever, and can auto-collapse. But setting when this happens seems a little
more complex. See what the docs say and I'm open to proposals for
solutions! Thank you!

On Tue, Sep 25, 2018 at 12:31 PM shivani-kapania <notifications@github.com>
wrote:

[2018-09-25 16:58] jywarren commented on #3454
Do you mean the black top navbar or the tabs? Sorry, not quite sure what
you're pointing at? Thanks!

On Tue, Sep 25, 2018 at 9:41 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-25 16:59] Souravirus commented on #3416
Yeah I have used it while creating first-timers issues. I will make a fto issue.

[2018-09-25 16:59] jywarren commented on #3443
if you'd like to push your PRs to unstable to test them out, that could
work -- leave the network monitor pane open and see how long they take on a
full database? But i could also start by merging #3445 -- your call!

On Tue, Sep 25, 2018 at 12:07 AM Camila Araújo <notifications@github.com>
wrote:

[2018-09-25 17:01] jywarren commented on #3466
great! Thank you!!!

On Tue, Sep 25, 2018 at 12:57 PM Rishabh <notifications@github.com> wrote:

[2018-09-25 17:04] SidharthBansal commented on #3465
I think that @geekychaser is right. We want to open a specific tag as
listed on the editor. We don't want to open a page to search tags. We are
giving people an example on how tags pages are listed.
jeff you are also right in alternative sense.
Can you please rethink once @jwarren?
Thanks

On Tue, Sep 25, 2018 at 10:24 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-09-25 17:07] SidharthBansal commented on #3454
Following nav bars
* Popular
* Recently asked
* Recently answered
etc.
They are not aligned properly
Also, I face problem in detecting which nav bar is selected right now. We can change the front end a little bit to enhance which button is selected.

[2018-09-25 17:16] jywarren commented on #3462
that'd be great, however, if you've already solved a first-timers-only
issue, we ask that you consider some "candidates" or other issues you can
find on http://code.publiclab.org. Thanks!

On Tue, Sep 25, 2018 at 1:02 PM Arit Amana <notifications@github.com> wrote:

[2018-09-25 17:19] jywarren commented on #3465
Maybe we could also have it say "Click to add a recent tag" to make it less ambiguous? But first we'll have to make it work properly! :-)

[2018-09-25 17:34] msarit opened #3469 "Usefulness of "Figaro" Gem (update to Issue)"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Usefulness of Figaro Gem

This issue is being updated to reflect the conversation below. Initially, the issue called for the removal of the Figaro gem (used to conceal sensitive

[2018-09-25 17:36] msarit commented on #3462
Oh yes! I will do so - instead of hogging more first-timers issues 😂 Thanks Jeffrey.

[2018-09-25 17:39] jywarren commented on #3469
Amazing! I'm going to hold off on marking it as a `first-timers-only` issue for a few days because we are having a bit more interest than we're able to respond to quickly! That way we can space these out a little bit. Thank you so much!

In the meantime we would /love/ a little help reviewing and refining others' pull requests - https://github.com/publiclab/plots2/issues/3458

Thanks again!

[2018-09-25 17:40] msarit commented on #3469
Perfect! I shall do so. You have no idea the rush I'm experiencing contributing to this project lol! You have designed a contribution system that is **so warm and inviting** to first-timers. Thank you Jeffrey 🙏

[2018-09-25 17:47] jywarren commented on #3469
😅 🙌   I'm SO GLAD to hear it! We're really trying to help people step into leadership roles too, partly because it's the right thing to do but partly because it takes a lot of energy to keep the welcoming going strong. So it's really nice to hear good feedback! THANKS!

[2018-09-25 17:48] jywarren commented on #3469
But also -- pace yourself! don't burn out! 👍

[2018-09-25 17:50] msarit commented on #3469
Absolutely - thanks for the advice and support 🙏

[2018-09-25 17:51] avsingh999 commented on #3453
no this is not related this only when a resolution is sort  or like mobile view

[2018-09-25 17:53] SidharthBansal commented on #3469
Hi @msarit I did the work relating to figaro in my gsoc evaluation. We need an easy way to test OAuth providers in the development mode.
So, figaro gives us an easy way to do so. If we will keep it It will be great.
Thanks

[2018-09-25 17:55] msarit commented on #3469
@SidharthBansal Ahh alright then. I opened the issue on advice from @jywarren but your explanation makes sense - sorry about that 👍

[2018-09-25 17:56] jywarren commented on #3469
Ah, interesting @SidharthBansal -- Hmm, so could we adapt this to add a comment explaining what it's used for -- potentially with a link to where related code lives?

[2018-09-25 17:57] jywarren commented on #3453
ah, but mine is too - it's when the navbar gets too crowded and pushes into
a 2nd line. Can you elaborate a bit on yours so people can tell it apart?
Thanks!

On Tue, Sep 25, 2018 at 1:51 PM Avkaran Singh <notifications@github.com>
wrote:

[2018-09-25 18:06] asiedubrempong commented on #3462
I'd like to take this up as my first PR

[2018-09-25 18:06] jywarren commented on #3462
Please go ahead, @asiedubrempong !!

[2018-09-25 18:09] shivani-kapania opened #3470 "List of trending topics features only one topic"
**All the trending topics in the user's dashboard are the same. Even if one topic, "spectrometer" here is top trending, still the remaining list should feature other topics (as is the case with most websites).**

<img width="768" alt="screen shot 2018-09-25 at 10 43 58 pm" src="https://user-images.githubusercontent.com/29448581/46033580-30657280-c11c-11e8-983e-2ec6ac483098.png">

Hi, this is a [fi

[2018-09-25 18:30] DamonClark commented on #3464
@jywarren I think you may need to add a css` @media `rule in order to get this resolved. Although there is a chance you can make a smaller change to the `_header.html.erb `file and get it working. I am happy to work on this issue, but I have a feeling its going to need some css to fix it.

[2018-09-25 18:33] SidharthBansal opened #3471 "Create Mentorship Guidelines document"
[Help wanted in editting the issue]

### Please describe the problem (or idea)
Create Mentorship Guidelines document at docs/Programs/Mentorship. We will give link to this document to all the potential NEW mentors so that they will be able to understand our system in 5-10 minutes.

The crowd at public lab is increasing. The number of mentors this year is quite large than we had previous years. The

[2018-09-25 18:33] SidharthBansal commented on #3471
@rbhatia46 showed interest to write this piece of literature.
Thanks

[2018-09-25 18:35] Souravirus commented on #3416
@jywarren just wanted to ask if we want to add the message of Twitter handle on the first-timers-issue or the welcome-bot opening message.

[2018-09-25 18:36] jywarren opened #3472 "Explore request timing optimizations for typeahead search and username/tag autocompletion"
Our nice typeahead search is SUPER! (Thanks @milaaraujo @stefannibrasil !!)

I think we could speed it up a bit and also have it be a little less jittery by using a throttling strategy.

See how when you type the word "balloon" it makes 5 different queries?

![screen shot 2018-09-25 at 2 30 33 pm](https://user-images.githubusercontent.com/24359/46034894-c1fac300-c0cf-11e8-9734-ac266f4bd5ec.png)

W

[2018-09-25 18:36] Souravirus commented on #3416
In my opinion, this message should be on the welcome-bot opening message.

[2018-09-25 18:38] rbhatia46 commented on #3471
Okay I am working on it.

[2018-09-25 18:39] milaaraujo commented on #3443
Well, if `node.status = 1` excludes users who have only unapproved posts (mostly spammers), I think merging #3445 will not hurt!

[2018-09-25 18:42] asiedubrempong commented on #3462
#3473

[2018-09-25 18:53] jywarren commented on #3469
@msarit so, if you want to adapt this one to add that extra comment for clarity, it could still make a good FTO!

[2018-09-25 19:01] shivani-kapania commented on #3373
Hi @vchrombie are you still working on this?

[2018-09-25 19:14] SidharthBansal commented on #3469
Ok then we will add the gem again if there will be trouble.
Figaro is used in development. So, I can work by installing figaro at plots
2 local server.
So, as jeff insists, we can reopen the issue

On Wed, Sep 26, 2018 at 12:23 AM Jeffrey Warren <notifications@github.com>
wrote:

[2018-09-25 19:29] SidharthBansal commented on #3410
You can create a new one with first timer only template as Jeff asked you. Then we will close this one.

[2018-09-25 19:30] first-timers[bot] opened #3475 "Make maps appear on any wiki page with coordinates"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Instance count 1
Field: Training

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to fo

[2018-09-25 19:32] avsingh999 commented on #3421
Sure @SidharthBansal

[2018-09-25 19:36] SidharthBansal commented on #3421
Also we want people to complete one piece of work assigned to them before we give them another task. Just a small suggestion. We don't want to burden developers

[2018-09-25 19:40] first-timers[bot] opened #3476 "Auto-add a leaflet map to wiki pages tagged with "place""
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Instance count 1
Field: Training

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to fo

[2018-09-25 19:44] jywarren opened #3477 "Leaflet map shows error for "full screen" functionality"
https://publiclab.org/puerto-rico

[code]

this shows up in the JavaScript console! I think maybe @sagarpreet-chadha has a suggestion on this?

[2018-09-25 19:45] jywarren commented on #3477
There should be a code file in `/app/assets/javascripts/...` named leaflet something!

[2018-09-25 19:47] jywarren opened #3478 "API method may have changed for location data? Map won't show data"
https://Publiclab.org/puerto-rico shows a map for which there are a few errors in loading data:

https://publiclab.org/api/srch/locations?srchString=18,-66 is the call; it shows a 404. I think @stefannibrasil and @milaaraujo changed the URLs so maybe that's the issue?

The code for the request is here:

https://github.com/publiclab/plots2/blob/4610d1f646ef328e0c336ee0bf7aee7fe9102016/app/views/map

[2018-09-25 19:48] avsingh999 commented on #3421
Please remove add-code-links label I have added file link with line  number

[2018-09-25 19:50] SidharthBansal commented on #3421
You need to paste permanent links. Please add them. Code lines should be visible in the issue body.

[2018-09-25 19:51] jywarren opened #3479 "Related tags is accessing some spam records"
We have a great new feature where you can call `Tag.related(tag_name)` and you get a list of tags that've been used on a page alongside the tag you pass in.

https://github.com/publiclab/plots2/blob/4610d1f646ef328e0c336ee0bf7aee7fe9102016/app/models/tag.rb#L305-L318

However, as you can see on this page: https://publiclab.org/tag/country

Some tags shown are actually from spam content. So we need

[2018-09-25 19:57] jywarren opened #3480 "Add a unit test for the Tag.related method"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2018-09-25 20:04] avsingh999 opened #3481 "Remove useless code"
### Please describe the problem (or idea)
In this file, there is a useless code "Related topics " which is not showing this page  https://publiclab.org/methods this is good for First-time-only

https://github.com/publiclab/plots2/blob/5c0d96274bd0be15feba69d8f30093082402ace5/app/views/wiki/methods.html.erb

![remove1](https://user-images.githubusercontent.com/25536022/46039688-0156fd00-c12c-11e8-9

[2018-09-25 20:05] avsingh999 commented on #3481
Good for First-time-only

[2018-09-25 20:05] ebarry opened #3482 "Create view of publiclab.org/tags that excludes powertags"
Hi everyone,
I wanted to begin with how wonderful it is to use the page https://publiclab.org/tags. I frequently use this page to discover new tags, to make sure i'm adding relevant tags to connect content to other content, and to see how many people are subscribed to each tag in order to compare to how many people are subscribed to a mailing list about the same topic (mailing lists were what we u

[2018-09-25 20:07] SidharthBansal commented on #3421
List all gci tasks in #3276

[2018-09-25 20:09] stefannibrasil commented on #3478
yep, [that changed!](https://publiclab.org/api/srch/taglocations?srchString=18,-66) it's called now `taglocations`.  Sorry for this!
if someone is willing to do this, it can be solved by changing it to:

` $.getJSON("/api/srch/taglocations?srchString="+s , function(data){ `

otherwise, I can fix it now, @jywarren

[2018-09-25 20:15] stefannibrasil commented on #3170
I added this to the Testing docs file #3483

[2018-09-25 20:15] #3170 closed

[2018-09-25 20:15] jywarren opened #3484 "Tag searching at https://publiclab.org/tags/event: is under-reporting tags"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

We have a great way to show a list of tags starting with a string; so for https://publiclab.org/tags/parent:, it's tags starting with `parent:`

See how that page only shows like 5 t

[2018-09-25 20:17] jywarren commented on #3484
Here's how to cache in case that helps!

https://github.com/publiclab/plots2/blob/4610d1f646ef328e0c336ee0bf7aee7fe9102016/app/models/tag.rb#L306-L307

[2018-09-25 20:40] jywarren commented on #3469
@msarit if you can retitle and adjust this issue to be about putting in a comment to explain, that'd be great! Thanks all!

[2018-09-25 20:41] #3443 closed

[2018-09-25 20:41] jywarren commented on #3443
OK awesome -- let's try it and see what happens. Thanks!

On Tue, Sep 25, 2018 at 2:40 PM Camila Araújo <notifications@github.com>
wrote:

[2018-09-25 20:43] jywarren commented on #3416
that sounds great. Let's do it!

On Tue, Sep 25, 2018 at 2:37 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-09-25 20:47] jywarren commented on #3470
Hi, unfortunately, I wonder if this may take a little more experimentation
than may be appropriate for a first-timers issue?

I've tried to document the issue here:
https://github.com/publiclab/plots2/issues/3188

But I believe it may require some deeper digging that could be a good match
for someone a little more advanced!

On Tue, Sep 25, 2018 at 2:10 PM shivani-kapania <notifications@github.com

[2018-09-25 20:48] jywarren commented on #3481
I agree -- would you like to try formatting it as one? Thank you!!!

On Tue, Sep 25, 2018 at 4:05 PM Avkaran Singh <notifications@github.com>
wrote:

[2018-09-25 20:50] jywarren commented on #3478
This could be a great first-timers-only issue, but we are holding off on
making new ones for now, so fto-candidate will be fine! (we're getting a
bit inundated with newcomer requests and want to be sure we hold some back,
and that we don't get too overloaded to support people well)

Thanks!

On Tue, Sep 25, 2018 at 4:09 PM Stefanni <notifications@github.com> wrote:

[2018-09-25 20:53] SidharthBansal commented on #3410
#3457

[2018-09-25 20:54] first-timers[bot] opened #3485 "Updating Welcome message while opening a PR"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-25 20:58] SidharthBansal commented on #3421
You have to format one issue first and then apply the suggestions to others.
So can we choose this issue first. Then we will do other things. Is it fine with you?

[2018-09-25 20:58] Souravirus commented on #3416
@jywarren I have made a new first-timers-issue #3485. Please see this. Just wanted to ask can we make a gci-candidate issue or leave it as a normal first-timers-issue.

[2018-09-25 20:59] SidharthBansal commented on #3421
One person has to take atmost 2 issues at a time. After completing them you can do more work. We don't want to burden you all.

[2018-09-25 21:02] SidharthBansal commented on #3481
He will do #3421 first. I am suggesting him changes there. We need to teach people about our system.
Each newcomer can take 2 issues at a time atmost. Later on after 4-5 months they can take multiple issues.
Moving slowly with all the newcomers. Hoping this will help them to teach about our workflow.
Thanks

[2018-09-25 21:02] SidharthBansal commented on #3481
@avsingh999 you can surely work on this issue after completion of #3421.

[2018-09-25 21:08] SidharthBansal commented on #3410
Do this issue after you have created issue for #3421. Don't hurry up. We all are there to help you.

[2018-09-25 21:39] ibrahimelbanna commented on #3441
Thanks @gauravano for giving me a chance

[2018-09-25 21:52] msarit commented on #3469
@jywarren Ok Jeffrey I'll get on this tonight. Sorry Ive been home with my family the last few hours 😅

[2018-09-25 21:53] ibrahimelbanna commented on #3485
I want to work on this problem

[2018-09-25 22:02] geekychaser opened #3487 "Remove '=' from header"
### Please describe the problem (or idea)

![issues](https://user-images.githubusercontent.com/24489162/46045870-9c57d300-c13c-11e8-98f5-94b4d6ddbe8f.png)

It shows "= view previous version of this page".
this = needs to remove

### Please show us where to look

https://publiclab.org/wiki/gsoc

### What's your PublicLab.org username?
geekychaser

### Browser, version, and operating system
Chrome b

[2018-09-25 22:03] geekychaser commented on #3487
@SidharthBansal can i solve this?

[2018-09-25 22:20] SidharthBansal commented on #3487
Go ahead
Thanks for bugs reporting

[2018-09-25 22:27] ibrahimelbanna commented on #3441
I have finished  and make the pull request

[2018-09-25 22:40] jywarren commented on #3469
no rush! Thanks a lot!

On Tue, Sep 25, 2018 at 5:52 PM Arit Amana <notifications@github.com> wrote:

[2018-09-25 22:43] jywarren commented on #3416
maybe best mark it as fto-candidate and gci-candidate for now... we have so
many newcomers it's getting a little tough to manage!

On Tue, Sep 25, 2018 at 4:59 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-09-25 23:00] jywarren opened #3488 "Analysis of load times from different parts of the world"
This will be an ongoing issue... a data collection activity!

Using https://www.dotcom-tools.com/website-speed-test.aspx, I timed the Public Lab site from different parts of the world, as compared to BoingBoing.net, which was reported to be fast-loading in China:

| PublicLab.org | BoingBoing.net |
|------|------|
| AVG: 1st VISIT 4.7 sec | AVG: 1st VISIT 14.0 sec |
| AVG: 2nd VISIT 3.7 sec | AVG:

[2018-09-25 23:10] jywarren commented on #3488
Running it again, I see:

| PublicLab.org | BoingBoing.net |
|------|------|
| 1st req average: 11.1 sec | 15.3 sec |
| 2nd req average: 8.9 sec | 17.6 sec |
| New York    | New York                |
| 2.9 sec     |  10.6 sec               |
| 2.0 sec     |  8.2 sec                |
| Hong Kong   | Hong Kong               |
| 7.6 sec     |  13.6 sec               |
| 6.4 sec     |  14.5 sec

[2018-09-25 23:12] jywarren commented on #3488
https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fpubliclab.org%2Fresearch can help but isn't regionally specific!

[2018-09-25 23:16] vchrombie commented on #3373
Hey @shivani-kapania, I am actually busy with my exams. if you are interested in fixing, you can do it. :)

[2018-09-26 01:16] msarit commented on #3469
@SidharthBansal would you please send me a link to the code that's relevant to this issue? Thanks!

[2018-09-26 02:51] milaaraujo opened #3490 "Boolean Full-Text Searches - add a link to more info on boolean searches"
The boolean full-text search has the capability to support operators such as **+**, **-** and **\***. We are using the boolean full-text search [here](https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L39-L44), but with an auto-added asterisk:
[code]
So we need help to:
* [x] remove the auto-added asterisk on this line, and treat "boolean search" as an
expert search type. - Done (

[2018-09-26 03:50] AMI1995 commented on #3341
@SidharthBansal @jywarren  My apologies. My laptop had a few issues and was unable to do any work the past couple of days. Please let me know if i can take up another issue. So sorry for the delay in my response.

[2018-09-26 03:53] AMI1995 commented on #3457
@SidharthBansal  I would like to claim this!

[2018-09-26 03:57] daningenthron commented on #3472
Hi, I'd be interested in working on this - would you prefer to format it as an FTO first?

[2018-09-26 06:16] ibrahimelbanna commented on #3441
https://github.com/publiclab/plots2/pull/3486
fixes #0000

[2018-09-26 06:52] Souravirus commented on #3416
Ok I will

[2018-09-26 07:00] Souravirus commented on #3485
Sorry but we are planning this for the Google code-in students. You can try other easy issues available.

[2018-09-26 07:40] SidharthBansal commented on #3457
We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.
You can try other issues.
Thanks

[2018-09-26 11:06] ibrahimelbanna commented on #3485
@Souravirus  ahhh okay I want to get more involved

[2018-09-26 14:40] first-timers[bot] opened #3493 "Suggest a GIF making program to share screenshots with in welcome message"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

****

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't con

[2018-09-26 16:10] shivani-kapania commented on #3373
Alright, I'd like to take this issue. Thanks! 👍

[2018-09-26 16:17] shivani-kapania commented on #3470
Oh, I hadn't seen #3188 earlier.

I agree, this issue might require some deep digging. I'll close this issue, thanks for informing! 👍

[2018-09-26 16:17] #3470 closed

[2018-09-26 17:20] sunilsj99 commented on #3476
Can i take this issue, if it is not assigned anyone ??

[2018-09-26 17:35] sunilsj99 commented on #3476
@jywarren  I have created the PR , can you review it !

[2018-09-26 18:02] jywarren commented on #3470
thank you!!!

On Wed, Sep 26, 2018 at 12:22 PM shivani-kapania <notifications@github.com>
wrote:

[2018-09-26 18:11] #3476 closed

[2018-09-26 18:58] ibrahimelbanna commented on #3493
I want to work on this

[2018-09-26 19:17] jywarren commented on #3493
Please do, thank you! We'd love your help.

On Wed, Sep 26, 2018 at 2:59 PM ibrahimmohamed <notifications@github.com>
wrote:

[2018-09-26 19:34] #3441 closed

[2018-09-26 20:04] ebarry opened #3496 "Monday October 1: Live Video Call for all involved in Google Code In!"
Dear all,
Exciting times!
Preparations for Google Code In are in full swing!

Let's take the opportunity to meet together on video this Monday at October's Open Hour (see https://publiclab.org/openhour). We can say hello, introduce ourselves, and build camaraderie as we head into this busy period of asynchronous collaboration.

WHEN:
Monday October 1
8:30AM Vancouver, 11:30am NYC, 9pm India (and a

[2018-09-26 21:04] ebarry opened #3497 "Add an editable Feature for publiclab.org/methods"
### Please describe the problem (or idea)

The topics at the top of https://publiclab.org/methods occasionally become out of date. Sometimes certain environmental issues suddenly get a lot of media attention, and we want to be able to update the topics quickly to help people connect to information they are seeking.

This idea is to create an Admin-editable feature for which topics are listed at th

[2018-09-26 21:40] ebarry commented on #3297
I just confirmed this bug by clicking that button on https://publiclab.org/wiki/new-town-creek.
There is no visible response when the button is clicked.

![no-spinner](https://user-images.githubusercontent.com/161439/46110925-36f2f900-c1b3-11e8-9723-5b79e73d5197.gif)

[2018-09-26 21:45] mcblake commented on #3424
Hi! I tried looking into adding the links for #3451, however, I am not entirely sure where to look within the various files/folders and had little luck. Any tips?

[2018-09-26 21:52] jywarren commented on #3297
hi Liz - could you highlight this one to Google Code-In mentors at
https://github.com/publiclab/plots2/issues/3168 and we'll see if we can get
it chopped up and in front of someone? Please do link to
https://github.com/publiclab/leaflet-blurred-location which is where the
docs and demo are running, which are working properly!

On Wed, Sep 26, 2018 at 5:40 PM Liz Barry <notifications@github.com> wr

[2018-09-26 21:55] jywarren commented on #3424
Hi, @mcblake -- thanks! It looks like you may need to ask the author of that issue what page on PublicLab.org they've taken a screen shot of. I wasn't able to see that exact view anywhere... but if it's at the bottom of a list of notes, and above the pagination widget, maybe it's this? https://github.com/publiclab/plots2/blob/7896dfa2fab442088022400fb676aae289a120f4/app/views/notes/_notes.html.erb

[2018-09-26 21:56] jywarren commented on #3424
For what it's worth, i think that was a tough one to find links for. Many others may be easier!

[2018-09-26 22:03] mcblake commented on #3424
Would a comment be the most appropriate way of asking the author?

[2018-09-26 22:27] jywarren commented on #3424
yes, go ahead! :-)

On Wed, Sep 26, 2018 at 6:04 PM Cameron Blake <notifications@github.com>
wrote:

[2018-09-26 22:45] jywarren opened #3498 "Planning for expanded community stats system"
**We are preparing this for a project proposal with Outreachy.org for this winter. It's a work in progress, but we're happy to answer questions below! 😄**

This project builds on the existing community metrics system viewable at http://publiclab.org/stats, which provides statistics and insights into community trends and activity, similarly to GitHub Pulse (https://github.com/publiclab/plots2/pulse

[2018-09-26 22:55] mcblake commented on #3451
Hi! I am looking to add links to this issue. What page did you find this problem on? @geekychaser

[2018-09-26 22:59] ebarry opened #3499 "Add the display of Total Contributors "for all time" to the main stats page"
Reposting a cleaned up issue for @kryptc ! Taken from https://github.com/publiclab/plots2/issues/3152 and part of broader project at https://github.com/publiclab/plots2/issues/3498

The https://publiclab.org/stats page shows a lot of wonderful information such as

I would like to see the **total number of unique contributors for all time.** Exactly as is shown https://publiclab.org/stats/range/1-1

[2018-09-26 23:00] ebarry commented on #3152
Re-stated issue here: https://github.com/publiclab/plots2/issues/3499

[2018-09-26 23:00] #3152 closed

[2018-09-27 02:51] milaaraujo opened #3501 "Search results: Change profile sorting to "recent" i.e. "by most recent note/wiki post""
In the search [page](https://publiclab.org/search/profiles/example/), when we select the "profiles" tab it would be more interesting if the results were sorted by the most recent users first.

The `/api/srch/profiles` already has the parameter `sort_by`. One possible solution would be to change this [line]( https://github.com/publiclab/plots2/blob/master/app/views/search/profiles.html.erb#L10) so

[2018-09-27 03:16] milaaraujo opened #3502 "Edit list style of Search profiles results"
Edit table-styling on https://publiclab.org/search/profiles/balloons/ to match https://publiclab.org/people (https://getbootstrap.com/docs/3.3/).

We would like the list of users in /search/profiles/search string/ to be formatted in the same way of /people list.

Code links:
- /search/profiles/: https://github.com/publiclab/plots2/blob/master/app/views/search/profiles.html.erb
- /people: https://g

[2018-09-27 03:24] milaaraujo opened #3503 "Edit list style of Search tags results"
Edit table-styling on https://publiclab.org/search/tags/balloons/ to match https://publiclab.org/tags (https://getbootstrap.com/docs/3.3/).

[2018-09-27 03:26] milaaraujo opened #3504 "Add explanatory text for 'Tags' option on the search"
Add more explanatory text for what the `Tags` option on the search page is actually searching/displaying: https://publiclab.org/search/tags/balloons/

[2018-09-27 03:32] milaaraujo opened #3505 "Add explanatory text for 'Profiles' option on the search"
Add more explanatory text for what the Profiles option on the search page is actually searching/displaying: https://publiclab.org/search/profiles/balloons/. Right now it is searching by username and bio.

[2018-09-27 03:41] milaaraujo opened #3506 "Profiles search page: search by user tag"
Right now, the Profiles option on the search page (https://publiclab.org/search/profiles/balloons/) is searching for users by username and bio.

In the endpoint, we would like to add the option to also search for user tags. [Here](https://github.com/publiclab/plots2/blob/master/app/api/srch/search.rb#L85) we already have the parameter/value `field=username`, it is used when we want to search only

[2018-09-27 03:44] milaaraujo opened #3507 "Explore how to organize search results ( Notes, Wikis, and Questions )"
Explore a combined display of Notes, Wikis, and Questions since they are all Node types: https://publiclab.org/search/balloon.

[2018-09-27 03:50] milaaraujo commented on #2755
Hey @jywarren, I moved all your points to individual issues here: https://github.com/publiclab/plots2/projects/6

[2018-09-27 06:35] avsingh999 commented on #3168
I am interested in becoming Google Code-In mentor.

[2018-09-27 06:45] SidharthBansal commented on #3168
Please fill up the form given in above comments.
Thanks

[2018-09-27 06:48] avsingh999 commented on #3168
@SidharthBansal I have already filled that form

[2018-09-27 08:09] sunilsj99 commented on #3476
@jywarren  for google code in , what else can i do !! can you help me!!

[2018-09-27 08:33] gauravano opened #3509 "Method to check if user has commented for first-time or not"
(This issue is a part of issue #3331 )

There is a method in https://github.com/publiclab/plots2/blob/master/app/models/user.rb#L343 to check if a user is a first-time poster or not. But, this method checks only for nodes(question, research note, etc).

You have to make a method by the name `first_time_commenter` and write it's definition as to check if user has commented before or not. Note - You

[2018-09-27 13:31] jywarren commented on #3348
Sure, maybe we could just hide it for now?

There is a translation issue which we could begin to work on. One part
thatd make for lots of good starter issues is to start consolidating the
translation files into just one file... We could make one task per
translation!

On Sep 27, 2018 9:23 AM, "Gaurav Sachdeva" <notifications@github.com> wrote:

Hi @jywarren <https://github.com/jywarren> , great id

[2018-09-27 13:43] gauravano commented on #3348
@jywarren do you mean -  we should restore previously removed translation files with lots of FTOs?

[2018-09-27 14:34] shivani-kapania opened #3511 "Remove 'D' from USD$ in footer"
### Please describe the problem (or idea)

I scrolled to the footer.

USD$ instead of US$

<img width="1280" alt="screen shot 2018-09-27 at 7 48 45 pm" src="https://user-images.githubusercontent.com/29448581/46153254-61ff4a80-c290-11e8-8d00-6391048b0d63.png">

### Please show us where to look

[https://publiclab.org/](https://publiclab.org/)

### What's your PublicLab.org username?

shivanikapania

[2018-09-27 14:36] avsingh999 commented on #3457
Can you @SidharthBansal  provide markup for this template?

[2018-09-27 15:00] shivani-kapania opened #3512 "Update en.yml file"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-27 15:09] gauravano commented on #3511
Hi @shivani-kapania, as footer is a feature and only admins can edit the feature from PL website directly, let's ask @jywarren for proceeding with this issue. Thanks!

[2018-09-27 15:12] shivani-kapania commented on #3511
@gauravano yes, I read your comment on #3348 which is why I didn't use the first timers template for this. 👍

[2018-09-27 15:41] jywarren commented on #3348
Actually i think we could try some of the steps here:
https://github.com/publiclab/plots2/issues/3262

for one, we should move each language into one big file. but it'll take a
while, but we can do it as individual tasks, what do you think?

On Thu, Sep 27, 2018 at 9:44 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-09-27 16:00] jywarren opened #3513 "Add screenshots or GIFs to open pull requests to illustrate new features"
_This is a work in progress... any help appreciated!_

As part of our ongoing work to welcome newcomers, this will help them get started in a codebase they may not be familiar with! 🔍 🕵️

With so many [new contributors](https://code.publiclab.org) (yay! 🙌) we need help reviewing newly submitted code!

(see [more issues like this here](https://github.com/publiclab/plots2/wiki/Google-Code-in-Tasks))

[2018-09-27 16:40] jywarren opened #3515 "[multiple-use issue!] Move a translation text into a centralized file"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2018-09-27 16:42] jywarren commented on #3262
I've broken out the "move translations" issue into a multiple-use issue good for newcomers! https://github.com/publiclab/plots2/issues/3515

[2018-09-27 16:54] aakashbansal commented on #3512
Hey! I would like to claim this issue . Can I start working on it ?

[2018-09-27 17:02] shivani-kapania commented on #3512
Hey, yes sure. Go ahead! 👍

[2018-09-27 17:02] gauravano commented on #3348
Looking awesome! hopefully, it would be done soon :smiley: .

[2018-09-27 17:35] geekychaser commented on #3451
@mcblake this is on home page i.e "https://publiclab.org/" .  You need to open this on your mobile phone

[2018-09-27 18:56] stefannibrasil opened #3517 "Typeahead inconsistencies"
We use this [dependency](https://github.com/bassjobsen/Bootstrap-3-Typeahead) to for our navbar and search typeahead results. But we have some problems that we need to investigate:

- [ ] Depending on the query, the results are not grouped by category (Notes, Profiles, Questions, etc.). That leads to some duplicated categories being returned. When we get the JSON from the call, we see that the res

[2018-09-27 19:18] stefannibrasil commented on #3507
This would prevent some duplicated results because sometimes the user searches for a query that is a Note AND a question. I think we could unify them all by calling a single method `find_nodes`.

[2018-09-27 19:19] stefannibrasil opened #3518 "Refactor API search class"

[2018-09-27 20:48] #3518 closed

[2018-09-27 21:01] jywarren commented on #3168
Many tasks that repeat are being made and collected here: https://github.com/publiclab/plots2/wiki/Google-Code-In-Tasks

This is looking great!

[2018-09-27 21:34] stefannibrasil opened #3520 "API v2: Planning Issue"
@milaaraujo and I worked part-time on the API on our [Rails Girls Summer of Code](https://github.com/publiclab/plots2/projects/5) program. We were able to remove some duplicated code and refactor the whole [Search](https://github.com/publiclab/plots2/projects/6) feature.

But we couldn't finish it all and to leave a documentation for future work, there are some improvements that can be made:

- [

[2018-09-27 21:35] stefannibrasil commented on #2755
Moving all the API planning/discussion to #3520

[2018-09-27 21:35] #2755 closed

[2018-09-27 21:36] stefannibrasil commented on #1449
moved to #3520

[2018-09-27 21:36] #1449 closed

[2018-09-27 22:37] jywarren commented on #3520
This is great. Could you drop some code links into each item, and an
example of using criteria? Thanks!!!

On Thu, Sep 27, 2018, 5:35 PM Stefanni <notifications@github.com> wrote:

[2018-09-27 22:54] stefannibrasil commented on #3397
closed via #3420

[2018-09-27 22:54] #3397 closed

[2018-09-28 02:56] tech4GT commented on #3496
👍

[2018-09-28 05:28] SidharthBansal commented on #3496
Who all are willing to join the meet from @publiclab/mentors but there names are not listed by @ebarry please leave a comment.
I will be present at the desired timings. Thanks

[2018-09-28 07:38] jywarren commented on #3475
Please go ahead, and thanks!!

On Thu, Sep 27, 2018, 10:24 PM Vishal Katiyar <notifications@github.com>
wrote:

[2018-09-28 08:06] avsingh999 commented on #3421
@SidharthBansal  I have edited please look

[2018-09-28 10:00] vishalka98 opened #3522 "Email validation is not working on edit profile page"
### Please describe the problem (or idea)

on updating profile page email validation is not working.

### Please show us where to look
![emil](https://user-images.githubusercontent.com/31175911/46201769-96c3de00-c332-11e8-8ed6-5c4a4db6d2de.PNG)

https://publiclab.org/profile/"username"/edit

### What's your PublicLab.org username?
caiptanamerica234

### Browser, version, and operating system
windo

[2018-09-28 10:09] igniteeng000 commented on #3522
Great catch. Thanks

[2018-09-28 10:11] igniteeng000 commented on #3522
@jywarren email can be changed to anything. Users can also login with the incorrect email also. Please take a look.

[2018-09-28 10:36] vishalka98 opened #3523 "There is no save button on edit profile page if you once save wrong"
### Please describe the problem (or idea)
There is no button on edit profile page if you save wrong format email or password and confirm-password not match.You can't go back or forward and can't change anythong at that time.

![screenshot 7](https://user-images.githubusercontent.com/31175911/46203721-4c456000-c338-11e8-804b-ec559ece575a.png)

I want a button on profile edit page ,because if once w

[2018-09-28 11:18] igniteeng000 opened #3524 "Continuous like button press shows unexpected behavior"
### Please describe the problem (or idea)
When like button is pressed continuously it shows unexpected behaviour. Like may go to negative values also. On refreshing page problem is solved.

![like](https://user-images.githubusercontent.com/25272573/46205140-3e460e00-c33d-11e8-93a5-3abbd0a0e771.gif)

### Please show us where to look

https://publiclab.org/notes/warren/10-31-2016/create-a-welcoming-

[2018-09-28 11:37] igniteeng000 opened #3526 "Highlight selected tab"
```We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.```

### Please describe the problem (or idea)
It will be good if the selected tab is highlighted.

![tab](https://user-images.githubusercontent.com/25272573/46206110-9f231580-c340-11e8