[2019-04-20 06:02] SidharthBansal commented on #5550
Deadline to fill the form is 23 April.

[2019-04-20 06:05] CleverFool77 opened #5552 "Add tooltip in revision history table buttons"
## Description
The image below consists of various buttons but these buttons doesn't have tooltips.
For eg - It's difficult to understand the purpose of two sidearrows button which stands for raw version of content. And many more.
In the second column of grid. The comparison of revision history has previous and next arrows but it doesn't have tooltip.
![Screenshot from 2019-04-20 11-08-51](https:/

[2019-04-20 06:09] sashadev-sky commented on #5550
@SidharthBansal Ohh ok i didn't realize the dates were later! Maybe you should put that in the issue description? I know people will figure it out if they click on a link to read about it but to make it obvious?

[2019-04-20 06:13] CleverFool77 opened #5553 "Admin can ban itself"
## Description
Hi @jywarren This is one of the unique issue that I found.
While trying out the the revision history and the exploring button.
I clicked on the ban button of revision history and as I was logged in as admin. And the button ban which I clicked was of the change done by me only. So when I clicked on the button, I got the message `the instant is removed and user is banned`, Thus I bann

[2019-04-20 06:14] SidharthBansal commented on #5550
Yeah, I have edited the issue. Thanks
Are you willing to be a mentor for that program? Then please fill up the form. It will be great to have your help.
Thanks Sasha.

[2019-04-20 06:19] SidharthBansal commented on #5550
@sashadev-sky please reply to https://github.com/publiclab/plots2/issues/5550#issuecomment-485061518 so that I can resolve your doubts.

And I am really sorry in case you felt that I have been less encouraging. I will try to be more helpful and encouraging.

[2019-04-20 06:23] sashadev-sky commented on #5550
@SidharthBansal I am very confused about both of your comments! Would you like to message me on Gitter and we can clarify?

[2019-04-20 06:28] CleverFool77 commented on #5553
@publiclab/plots2-reviewers What's your opinion regarding this ?
Thanks !!

[2019-04-20 06:33] SidharthBansal commented on #5550
Sure. Interacting you on gitter so that your doubts about GSoD is resolved.
Thanks Sasha.

[2019-04-20 08:28] Divy123 commented on #5550
@SidharthBansal I have not much been into technical writing. Written three articles on medium but I want to be a part.
Can you please guide me how should I proceed?

[2019-04-20 08:40] SidharthBansal commented on #5550
Please fill up the form for the mentor. Indicate all the repos there.
Thanks

On Sat, Apr 20, 2019, 1:58 PM Slytherin <notifications@github.com> wrote:

[2019-04-20 10:15] sashadev-sky commented on #5550
@SidharthBansal you want us to comment the repository we chose here?

[2019-04-20 10:20] SidharthBansal commented on #5550
Yeah

On Sat, Apr 20, 2019, 3:45 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-04-20 10:25] sashadev-sky commented on #5550
@SidharthBansal I made a checklist in the issue description so everyone can see easily. I couldnt make the checkboxes work right lol please help fix them

[2019-04-20 10:28] sashadev-sky commented on #5550
@SidharthBansal Ok I  got it by putting an invisible name variable. Does that work for you? (See above)

[2019-04-20 10:39] sagarpreet-chadha commented on #5550
I think @jainaman224 was also interested in becoming mentor for plots2 ? Did you fill the form ?

@Divy123 ...i think this will help you get started https://developers.google.com/season-of-docs/docs/get-started/ 😄 ! If you wish to become a mentor , you may fill the form and write your name in the issue description (similar to how @sashadev-sky has done 👍 ).

Thank you 🎈 !

[2019-04-20 10:48] SidharthBansal commented on #5550
Thanks Sasha.

[2019-04-20 10:51] gautamig54 opened #5554 "Fix typo in user dropdown in navbar"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-04-20 10:53] gauravano commented on #5554
![pvd_booking](https://user-images.githubusercontent.com/20878070/56456350-98192e80-6388-11e9-8cfd-2a57fdf11d76.png)

[2019-04-20 10:54] gautamig54 commented on #5467
@gauravano I have pushed a PR for this issue. Kindly have a look. Thanks!

[2019-04-20 11:37] gautamig54 opened #5555 "Filter subscriptions to the existing tags or notes"
Currently, I am able to subscribe the tags that don't even exist by typing them to the enter tags input section.

![Screen Shot 2019-04-20 at 5 05 48 PM](https://user-images.githubusercontent.com/35326753/56456772-a2d6c200-638e-11e9-8c81-578515d820b2.png)

I think we should filter out such tags and display an alert message saying that the tag/note does not exists and thus cannot be subscribed to.

[2019-04-20 11:39] gautamig54 commented on #5555
@publiclab/plots2-reviewers What do you think about this?

[2019-04-20 11:41] IshaGupta18 commented on #5555
So you are able to just add the tag or subscribe to it? If you are able to
subscribe to it, then this is an actual problem. We can work on this
together if you like.

On Sat, Apr 20, 2019, 5:09 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-20 11:42] gautamig54 opened #5556 "Change the alert message to "already subscribed""
When a user subscribe to the tag which already exists, the alert message says the "you are not following ###" instead it should say that "you have already subscribed to the tag".

![Screen Shot 2019-04-20 at 5 12 14 PM](https://user-images.githubusercontent.com/35326753/56456819-5e97f180-638f-11e9-8272-4fac87a1ddff.png)

[2019-04-20 11:43] gautamig54 commented on #5555
@IshaGupta18  I think we are able to subscribe to it.

[2019-04-20 11:48] IshaGupta18 commented on #5555
Yes we are! Okay we can brainstorm on it together, on how to go about it.
What do you think?

On Sat, Apr 20, 2019, 5:13 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-20 13:13] Divy123 commented on #5550
Thanks @sagarpreet-chadha @SidharthBansal . I have filled the above form and added my name above.
Would love to be a part. :tada: :tada:

[2019-04-20 13:17] SidharthBansal commented on #5550
Awesome

On Sat, Apr 20, 2019, 6:43 PM Slytherin <notifications@github.com> wrote:

[2019-04-20 14:01] Mridul97 commented on #5550
Hey guys, I would love to be a part of Google Season of Docs and have filled the form given above!! :tada: :tada:

[2019-04-20 14:09] SidharthBansal commented on #5550
Can you please indicate the repository which you have filled?

On Sat, Apr 20, 2019, 7:31 PM Mridul97 <notifications@github.com> wrote:

[2019-04-20 14:38] igniteeng000 commented on #5550
@SidharthBansal I understand mapknitter codebase well. So, I would love to become a mentor for mapknitter. Can I fill the form for that repository or repositories are limited to these 3 only?

[2019-04-20 14:48] Mridul97 commented on #5550
I have filled Image Sequencer project.

[2019-04-20 15:00] SidharthBansal commented on #5550
@igniteeng000 repositories are only these three.
Please mention plots2 as it is similar to the MK.

[2019-04-20 15:05] igniteeng000 commented on #5550
@SidharthBansal I think I can help in LEL then because it is also similar to MK.

[2019-04-20 15:06] SidharthBansal commented on #5550
Sure I thought you are looking for rails related project.

On Sat, Apr 20, 2019, 8:35 PM Ashutosh Kumar <notifications@github.com>
wrote:

[2019-04-20 15:10] igniteeng000 commented on #5550
I am more biased to a map project 😄.

[2019-04-20 15:11] sagarpreet-chadha commented on #5550
@Mridul97 awesome :tada:

@igniteeng000 ...You can mentor any of the above project in which you feel comfortable 😄 !

[2019-04-20 15:12] SidharthBansal commented on #5550
It completes depends on your interest.
Once you have filled the form then please indicate it above.
Thanks for being a mentor.

On Sat, Apr 20, 2019, 8:40 PM Ashutosh Kumar <notifications@github.com>
wrote:

[2019-04-20 16:32] geekychaser commented on #5550
Thanks all I would love to mentor for Plots2

[2019-04-20 16:34] SidharthBansal commented on #5550
Awesome

On Sat, Apr 20, 2019 at 10:02 PM Rishabh Bothra <notifications@github.com>
wrote:

[2019-04-20 17:01] IshaGupta18 commented on #5550
I am going with plots2! This will be fun!

[2019-04-20 17:06] SKashyapD commented on #5550
I also would like to help out for mapknitter can you suggest me any project
or something

On Sat, 20 Apr, 2019, 8:42 PM Sidharth Bansal, <notifications@github.com>
wrote:

[2019-04-20 17:08] SKashyapD commented on #5550
*I would also like to help out for Mapknitter can you suggest me any
project or something

On Sat, 20 Apr, 2019, 10:36 PM saurabh dubey, <sauvzi13397@gmail.com> wrote:

[2019-04-20 17:09] gautamig54 commented on #5550
I would like to help with plots2!

[2019-04-20 17:11] SidharthBansal commented on #5550
@SKashyapD you can go with Public Lab plots2  project I guess.

SKashyapD

On Sat, Apr 20, 2019, 10:39 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-20 17:15] ananyaarun commented on #5550
I would love to help with LEL or plots2 !!

[2019-04-20 17:19] SidharthBansal commented on #5550
Fill it which ever you wish to.

On Sat, Apr 20, 2019, 10:46 PM Ananya Arun <notifications@github.com> wrote:

[2019-04-20 17:28] jainaman224 commented on #5550
Hey,
I have filled form for plots2. I would love to mentor this project.

[2019-04-20 17:53] ValeriaCobianISW commented on #5556
Hi, Is somebody working on it? I would like to contribute 👍 @gautamig54

[2019-04-20 17:59] namangupta01 commented on #5556
Go ahead @ValeriaCobianISW !!

[2019-04-20 18:13] gautamig54 commented on #5556
@ValeriaCobianISW I am already working on this issue. I will ask for your help if need be.  Thanks for checking in this.

[2019-04-20 18:14] gautamig54 commented on #5556
@ValeriaCobianISW You can work on FTOs to begin with. Thanks!

[2019-04-20 18:15] namangupta01 commented on #5556
Oh! if @gautamig54 is working on this. Here's is the list of `fto` https://github.com/publiclab/plots2/issues?q=is%3Aopen+is%3Aissue+label%3Afto-candidate. You can check this out.

[2019-04-20 18:19] ValeriaCobianISW commented on #5556
Oh! Thanks, I´m going to check that, thank you 😄

[2019-04-20 18:36] ValeriaCobianISW commented on #5547
Hi, I´m new in open source contribution, I would like to work in this issue. Is somebody working in it? @gautamig54

[2019-04-20 18:42] ValeriaCobianISW commented on #5554
Hi, I´m going to work on this issue 😄

[2019-04-20 18:43] gautamig54 commented on #5554
Great @ValeriaCobianISW !

[2019-04-20 19:01] sashadev-sky commented on #5550
@ananyaarun @jainaman224 I added more spaces in the PR description so you can add your names. mention me or @SidharthBansal  after you fill out the form if you cant edit the space to add your name

[2019-04-20 19:22] CoderJolly commented on #5550
Hey,
I have filled form. I would love to mentor this project.

[2019-04-20 19:38] jainaman224 commented on #5550
@sashadev-sky I can't edit PR description 😞

[2019-04-20 19:40] IshaGupta18 commented on #5550
There you go @jainaman224 !

[2019-04-20 19:43] jainaman224 commented on #5550
Thanks @IshaGupta18

[2019-04-20 20:45] SidharthBansal commented on #4759
I think @shubhscoder is busy with some work. So, I have started working on it.

[2019-04-20 20:48] ValeriaCobianISW commented on #5554
Hi @gautamig54, it's done!
Can you review it? Thanks! 😄

[2019-04-20 21:13] SidharthBansal commented on #4759
I have completed working on the changes. Submitting test for it now. Thanks @shubhscoder for giving it a direction.

[2019-04-20 22:08] ValeriaCobianISW commented on #5520
Are you working on this @bronwen9 ? I would like to contribute :smile:

[2019-04-20 22:21] ValeriaCobianISW commented on #5418
Hi @avsingh999 , are you still working on this issue? I would like to contribute with this :D @gauravano

[2019-04-21 01:36] sashadev-sky commented on #5550
@CoderJolly great!! Which project did you select so I can put your name on the checklist?

[2019-04-21 02:29] avsingh999 commented on #5418
@gauravano Sorry for that I am busy in my institute work(Projects) So I can't take this right now.
thanks : )

[2019-04-21 05:51] avsingh999 commented on #5550
@SidharthBansal I have filled for LEL project and I would like help in LEL
thank you :smiley:

[2019-04-21 06:22] Paarmita commented on #5550
@SidharthBansal I would like to help with Image Sequencer and have filled the form for it. 😀

[2019-04-21 08:32] gautamig54 commented on #5554
@ValeriaCobianISW Great work! Now you can start with the help-wanted issues. Thanks!

[2019-04-21 08:33] gautamig54 commented on #5547
@ValeriaCobianISW This issue was opened for @z119. Thanks!

[2019-04-21 08:35] gautamig54 commented on #5386
@publiclab/plots2-reviewers Kindly review these changes. Thanks!

[2019-04-21 09:02] gautamig54 commented on #5556
@IshaGupta18 codebase for subscriptions page is not in the repo I think. How can I go about making this change?

[2019-04-21 09:26] elzatch4219 commented on #5554
Hey i wish to do help and start contribution

[2019-04-21 10:07] gauravano commented on #3387
Hi @ckairen, reviewing your PR. Thanks! (And, apologies for the delay!)

[2019-04-21 10:19] #3387 closed

[2019-04-21 10:22] #5462 closed

[2019-04-21 10:24] gauravano commented on #5047
Hi @z119, you can work on this one. Thanks!

[2019-04-21 10:32] gauravano commented on #5464
We can start on other parts here. Thanks!

[2019-04-21 10:37] divyabaid16 commented on #5464
What are other parts to be worked upon?
I would love to contribute here.
Thanks!

[2019-04-21 10:38] gauravano commented on #4966
Reviewing!!

[2019-04-21 10:41] IshaGupta18 commented on #5089
@gauravano kindly review my revised PR!

[2019-04-21 10:41] gautamig54 commented on #5464
Let us come up with design mockups and then divide the tasks accordingly. What say @CleverFool77 @divyabaid16 @IshaGupta18?

[2019-04-21 10:49] SidharthBansal commented on #5550
Thanks everyone for fulfilling the basic requirements of the Google Season of Doc Application.

[2019-04-21 10:50] gautamig54 commented on #5352
Can we resume this issue and complete our assigned tasks?

[2019-04-21 10:53] divyabaid16 commented on #5352
I think that all are connected. So before the review of #5449, we can't move on with the next one @gautamig54
Thanks!

[2019-04-21 11:01] CleverFool77 commented on #5551
Hi @jywarren @gauravano What's your opinion regarding this ?
Thanks !!!

[2019-04-21 11:07] SidharthBansal commented on #4759
This issue has three sub issues
1. User has signup through OAuth provider and does not have pl account
2. User has signup through OAuth provider & has PL account
3. Signup through signup form
All three are rectified in the pr.

[2019-04-21 11:25] CleverFool77 opened #5565 "Remove the redundant table row"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-04-21 11:25] SidharthBansal commented on #4760
Ability to go directly to `/subscribe/multiple/tag/tag1,tag2` and correctly enter and login has 2 parts
1. Login based on Oauth - rectified in #5560
2. Login based on login form - debugging it right now. Trying to open up a PR soon.

[2019-04-21 11:26] gautamig54 commented on #5352
Since #5449 is about adding the read more link, we can still move ahead with the sidebar. What say @divyabaid16 ?

[2019-04-21 11:30] IshaGupta18 commented on #5352
I'll take on my part in just a couple of days!

On Sun, Apr 21, 2019, 4:56 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-21 11:42] gautamig54 commented on #5352
@gauravano  Can I work on designing the header for the blogs page as per the above design?

[2019-04-21 12:51] gautamig54 commented on #5352
I have implemented the blog2 header. How about this?

![Screen Shot 2019-04-21 at 6 21 26 PM](https://user-images.githubusercontent.com/35326753/56470277-257c8180-6462-11e9-9974-2c7c578e54f2.png)

![Screen Shot 2019-04-21 at 6 20 42 PM](https://user-images.githubusercontent.com/35326753/56470284-2b726280-6462-11e9-833e-d4aab0fe7817.png)

[2019-04-21 15:07] #4966 closed

[2019-04-21 15:28] rexagod commented on #5550
Just filled out the mentor's form for LEL, and am really excited for the first ever GSoD! Thank you everyone for making this possible! :+1:

[2019-04-21 15:33] gauravano commented on #5486
Although, the user normally visit dashboard after login but yeah it wouldn't hurt to add a button on profile. W

[2019-04-21 15:34] gauravano commented on #5486
@publiclab/community-reps what do you think?

[2019-04-21 15:36] gauravano commented on #5487
I think the previous view is also fine but I am not good in judging designs so let's ask @jywarren. Thanks!

[2019-04-21 15:37] gauravano commented on #5487
Hey @gautamig54 go ahead. Thanks!

[2019-04-21 15:44] gautamig54 commented on #5487
@gauravano The code base for events page is not provided. How should I proceed?

[2019-04-21 15:57] gauravano commented on #5352
I don't think, we need to show header as we have navbar. But, we can keep the heading and logo I guess. @jywarren thoughts?

[2019-04-21 15:58] monsij commented on #5565
Interested! @CleverFool77

[2019-04-21 15:59] gauravano commented on #5352
Okay #5449 merged!

[2019-04-21 16:01] gautamig54 commented on #5352
@gauravano I have referred the About, Method, Research and RSS from the current blogs page. The contents are different from what we have in navbar.

![Screen Shot 2019-04-21 at 9 32 40 PM](https://user-images.githubusercontent.com/35326753/56472504-d0019e00-647c-11e9-8ec8-b1388170d2a7.png)

[2019-04-21 16:04] gauravano commented on #5352
@divyabaid16 @atjustbeinghumaid currently the blog shown is hard coded. Now, you need to show the research notes in blogs. You can refer to the logic of current blog page.

Oh, I didn't noticed it :eyes:. Then, it makes sense, thanks @gautamig54!

[2019-04-21 16:31] CoderJolly commented on #5550
I have selected Plots2

[2019-04-21 16:59] divyabaid16 commented on #4707
Hey!!
I have completed all the prerequisites. Can I be added to this group?
Thanks!

[2019-04-21 17:02] IshaGupta18 commented on #5556
Hey! Let me look into it and ill get back to you!

On Sun, Apr 21, 2019, 2:32 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-21 17:02] IshaGupta18 commented on #5464
That would be great!

On Sun, Apr 21, 2019, 4:12 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-21 17:44] divyabaid16 commented on #5550
I would like to help with plots2! @SidharthBansal

[2019-04-21 18:29] jywarren commented on #4732
Added: `looks like maybe updated wiki pages are included? For now let's just show notes` (#5568)

[2019-04-21 19:06] CleverFool77 commented on #5565
Go forward @monsij

[2019-04-21 21:46] jainaman224 commented on #4707
I have completed the prerequisites. Please add me to the group.

[2019-04-21 22:09] ckairen commented on #5383
Hi @gauravano, is there a way for us to setup the local environment so that it looks just like the publiclab.org? because some js features aren't included and it's kind of hard to test those out when the local environment doesn't have that implemented. thank you!

[2019-04-21 23:05] gauravano commented on #5550
I am interested in mentoring the plots2. Filled the form. Thanks!

[2019-04-21 23:12] #5273 closed

[2019-04-21 23:14] SidharthBansal commented on #5550
great

On Mon, Apr 22, 2019 at 4:35 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-04-22 00:47] ValeriaCobianISW commented on #5418
Okay, I’m going to work in this issue for now 🙌🏼 Is it okay?

[2019-04-22 00:56] ValeriaCobianISW commented on #5554
Hey @elzatch4219 , you can search issues here: https://github.com/publiclab/plots2/issues?q=is%3Aopen+is%3Aissue+label%3Afto-candidate
This issue was resolved. 😀

[2019-04-22 03:56] skilfullycurled commented on #5490
Hey all,  let me know if there is anything that I can do to try and diagnose the situation beyond simply telling you what dates aren't work.  I just figured since I'm using the interface, I might as well be of some use!

[2019-04-22 05:41] icarito commented on #4561
Hi! We didn't dig further into this but I just got some insight analyzing our backup practices:
![imagen](https://user-images.githubusercontent.com/199755/56484849-3b586980-6497-11e9-93d7-f2ca6e2da3ed.png)

By FAR our largest burden is the rsessions table.
Can we cut it out somehow into a log perhaps?

That would help performance I believe.

[2019-04-22 09:15] SidharthBansal commented on #4963
https://github.com/publiclab/mapknitter/issues/559 is a rails and html css issue. If anyone is looking forward to contribute then please join in
Thanks all

[2019-04-22 10:41] gautamig54 opened #5576 "Remove the duplicate link to the child wiki pages on the sidebar"
Can we remove the link to the sub pages of a wiki page on the sidebar since we already have a list of sub pages on the wiki page?

![Screen Shot 2019-04-22 at 4 01 05 PM](https://user-images.githubusercontent.com/35326753/56496946-2a503c80-6519-11e9-8056-d9ba2b235655.png)

![Screen Shot 2019-04-22 at 3 57 02 PM](https://user-images.githubusercontent.com/35326753/56496955-320fe100-6519-11e9-8d8f-8e

[2019-04-22 10:55] IshaGupta18 commented on #4732
Okay, so I think there are a couple of more bugs with the email digest.

![image](https://user-images.githubusercontent.com/40794215/56497444-232a2e00-651b-11e9-804e-b4e79753e0dc.png)

(Like the date problem and the links at the bottom)

 I am gonna work on them as well as the ones you have added here @jywarren, just some refining is needed I think, and a little more integration with the parts we

[2019-04-22 11:10] shreyateeza commented on #5550
I have filled the form for plots2. @SidharthBansal

[2019-04-22 11:17] gautamig54 opened #5577 "Aligning stats page"
Currently, the date input part on the stats page looks a bit broken.

![Screen Shot 2019-04-22 at 4 46 06 PM](https://user-images.githubusercontent.com/35326753/56498155-270b7f80-651e-11e9-9f20-7d8032e630c9.png)

[2019-04-22 11:17] SidharthBansal commented on #5550
Great folks

On Mon, Apr 22, 2019, 4:40 PM Shreya <notifications@github.com> wrote:

[2019-04-22 14:55] 40404notfound commented on #5415
Hi, @jywarren @IshaGupta18 , I just added a test case in #5579  for exposing the bug in #5410. The new test should be able to distinguish a buggy one from a correct one.

[2019-04-22 15:25] jywarren commented on #5550
Hello, all, and thank you -- I'm completing the application now, and it asks for an ideas page. I've started off some rough ideas that need more detail here: https://publiclab.org/wiki/gsod-ideas

Please if you're interested, add some ideas and detail to that page! We can also discuss the ideas here, but should get some initial text in there before the deadline tomorrow. Thank you!

[2019-04-22 15:34] ebarry commented on #5527
Would love to see this one tackled! In the meantime, i'm editing out tags generated in error that end in a dangling hyphen like `simple-` `purple-` because they are adding noise to our tag search results, and our autosuggested tags.

[2019-04-22 17:22] Rishabh570 commented on #5550
I'm also interested in mentoring LEL, filled the form. Thanks!

[2019-04-22 17:29] jywarren commented on #3262
Hi @gauravano shall we update this and wrap it up? I think we are basically almost there, no? Thank you!!!

[2019-04-22 18:02] eplata31 commented on #5527
Hi, I'd love to help with this one

[2019-04-22 19:03] gauravano commented on #3262
Hi @jywarren, yes, we are almost done. Give me a day to create a checklist and I guess, I will update the research notes posted by Liz, we can then, start using multiple languages.

Thanks!

[2019-04-22 19:14] gautamig54 commented on #4707
@jywarren @gauravano I guess I have completed all the prerequisites required to be a part of this group. I would love to help new contributors in their issues and PRs and also reviewing them.
Kindly add me to this group.
Thanks!

[2019-04-22 19:25] gauravano commented on #4707
Hi @divyabaid16 @jainaman224 @gautamig54 added you all to the @publiclab/plots2-reviewers :tada: :+1:

Thanks!

[2019-04-22 19:29] #5492 closed

[2019-04-22 19:32] gauravano commented on #5527
Hi @eplata31, that's great :tada: . Thanks!

[2019-04-22 19:34] gauravano commented on #5550
Added your name @Rishabh570. Thanks!

[2019-04-22 19:35] gauravano commented on #5550
The page looks great @jywarren, should we fill the names of mentors from the above list to wiki or wait for the Organization announcement? Thanks!

[2019-04-22 20:09] gauravano commented on #4963
Added @Devdrod and @becomingajunior to the list. Thanks @ananyaarun!

[2019-04-22 20:12] gauravano commented on #5532
:+1: :tada:

[2019-04-22 20:13] gauravano commented on #5501
Great! Thanks @ehamamrah!

[2019-04-22 20:21] #5501 closed

[2019-04-22 20:23] #5502 closed

[2019-04-22 20:27] gauravano commented on #5502
Hi @z119 @SamueleM97, will mention you shortly after creating issues for you. Thanks!

[2019-04-22 20:38] gauravano opened #5582 "Change text to "logged in as""
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-22 20:38] gauravano commented on #5582
This issue is created for @z119. Thanks!

[2019-04-22 20:40] gauravano commented on #5502
@z119 you can solve this one #5582 (@sashadev-sky thanks for highlighting the subject)

[2019-04-22 20:44] gautamig54 commented on #5582
@gauravano I opened the same issue #5554 as suggested by @sashadev-sky. It has been solved.
I created an issue #5547 for @z119.

[2019-04-22 20:46] #5582 closed

[2019-04-22 20:46] gauravano commented on #5582
Oops! Thanks for pointing @gautamig54 :+1:

[2019-04-22 21:29] gauravano commented on #5383
Hi @ckairen, some parts of publiclab.org like footer, header of tags page, etc are stored in the database. We call them features, like here https://github.com/publiclab/plots2/blob/app/views/sidebar/_user.html.erb#L5 and there are many. So, you can also create a feature by logging in as admin and then going over at /features page and creat a feature with same title as name in the code.

Also, publ

[2019-04-22 21:30] gauravano commented on #5383
Hi @Isssabel, you started working on this issue? Thanks!

[2019-04-22 21:32] ckairen commented on #5383
Hi @gauravano, the one that we (me and @Isssabel) want to simulate is the subscribe + button. Now on local environment, the supposedly hidden list is not hidden and the button doesn't work.

[2019-04-22 21:36] gauravano commented on #5383
this is not related to feature or environment. Try running `yarn install`

This is my view

![Screenshot from 2019-04-23 03-05-23](https://user-images.githubusercontent.com/20878070/56533137-b8a5dc00-6574-11e9-9ad8-fdc18950fd45.png)

[2019-04-22 21:37] ckairen commented on #5383
@gauravano we did run yarn install, but it still doesn't show. Is there a specific package that we should install?

[2019-04-22 21:38] gauravano commented on #5383
this is strange. Can you copy the errors from the console?

[2019-04-22 21:39] ckairen commented on #5383
Here it is
<img width="491" alt="Screen Shot 2019-04-22 at 5 39 08 PM" src="https://user-images.githubusercontent.com/38804567/56533421-9769cf00-6525-11e9-9bd2-15160e8f65da.png">

[2019-04-22 21:40] gauravano commented on #5383
I think, it's related to jQuery

[2019-04-22 21:41] gauravano commented on #5383
you master branch is up-to-date with the publiclab/plots2?

[2019-04-22 21:42] ckairen commented on #5383
yes it is.

[2019-04-22 21:44] gauravano commented on #5383
![Screenshot from 2019-04-23 03-12-46](https://user-images.githubusercontent.com/20878070/56533673-c60f9600-6575-11e9-9a13-b0b6d01ab2bb.png)

Please reset it to make even with `master` as something might be there

[2019-04-22 21:46] ckairen commented on #5383
ok I'll try to do that
and just a side note, I've already successfully implemented the html injection https://github.com/publiclab/plots2/issues/3608 , can I claim the issue?

[2019-04-22 21:49] gauravano commented on #5383
Ah, as you have already solved a issue and this one is a FTO so you might want to try a complex one? @Isssabel and you are working on this collaboratively?

[2019-04-22 21:52] ckairen commented on #5383
For #3608 it doesn't seem to be a FTO issue? (and yes @Isssabel is working on #5383 but was stuck on trying to recreate the subscribe+ button)

[2019-04-22 21:54] gauravano commented on #5383
Okay :sweat_smile:, you can work on a FTO. Although, contributors start from FTO and then move on to complex ones but go ahead!

[2019-04-22 21:54] gautamig54 commented on #5383
@ckairen Are you using Safari? Even I used to get certain UI issues on safari, therefore I switched to Chrome.

[2019-04-22 21:57] ckairen commented on #5383
@gautamig54  I'm using chrome.
@gauravano @Isssabel  would work on this FTO, I'm just trying to solve the setup problem with her. Thank you for your understanding.

[2019-04-22 21:59] siaw23 commented on #4969
@jywarren yeah that's perfect!

[2019-04-22 22:45] #5090 closed

[2019-04-22 22:47] siaw23 commented on #5553
IMHO I don't think it and admin should be able to ban themselves. There might be cases where this is done accidentally.

[2019-04-22 22:47] #5548 closed

[2019-04-22 22:49] huytn12 commented on #5582
claimed

[2019-04-22 22:49] siaw23 commented on #5552
I don't think that's a next/previous button. Doesn't that stand for 'code'?

[2019-04-22 22:52] #5415 closed

[2019-04-22 22:54] gauravano commented on #5582
Hi @huytn12, this one is closed but you can find other issues at https://code.publiclab.org and in case you didn't see any unclaimed, feel free to comment here - https://github.com/publiclab/plots2/issues/4963

Thanks!

[2019-04-22 22:56] gauravano commented on #5553
Agree with @siaw23!

[2019-04-22 23:16] #4759 closed

[2019-04-22 23:17] #4914 closed

[2019-04-22 23:17] #4893 closed

[2019-04-22 23:18] #5521 closed

[2019-04-22 23:30] #4760 closed

[2019-04-22 23:40] SidharthBansal opened #5585 "System test for Preserve `return_to` param when switching from /login to /signup"
Write System test for Preserve `return_to` param when switching from /login to /signup

[2019-04-22 23:40] SidharthBansal commented on #5585
As per @jywarren 's suggestion

[2019-04-22 23:57] jywarren commented on #3262
awesome!!

On Mon, Apr 22, 2019 at 3:04 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-04-23 00:07] SidharthBansal commented on #5585
@jywarren in which file we have to write the new tests?

[2019-04-23 00:11] SidharthBansal commented on #5585
Also, as per theory, system tests should have non-functional requirements also to be tested like latency and related stuff. But I am unsure whether we are incorporating them here or not.
Actually, I am a student of Software Engineering so I am taught each phase of Software Development Life Cycle as a subject. So, just trying to collaborate the work which we learn at university and work which we im

[2019-04-23 01:50] SidharthBansal commented on #5585
Getting the following error

        https://chromedriver.storage.googleapis.com/index.html and place it somewhere on your PATH.
        More info at https://github.com/SeleniumHQ/selenium/wiki/ChromeDriver.

@jywarren it will be great if you can tell the link of the post from where you set up the system tests. I think we need to document the prerequisites of system tests(selenium server, chrome b

[2019-04-23 02:31] ckairen commented on #5383
@gautamig54 @gauravano  The problem seems to be fixed when I switched to Windows system, as you can see in the gif in my pull request. Not sure why this is the case though.

[2019-04-23 02:31] stefannibrasil commented on #5182
HI all, I did a walk-through on the unstable branch and the only difference that I noted was a space missing after the Log in button in the Log in modal. Other than that, looks good to me :shipit:

[2019-04-23 02:44] Souravirus commented on #5182
Hi @stefannibrasil, I am really sorry that the unstable branch was currently not holding the bootstrap 4 changes as there were other commits pushed to it. So, can you please see the changes again sometime later.
Thank you!!

[2019-04-23 02:48] Souravirus commented on #5182
Ok I have pushed the changes. Please see it again after some time. Thank you!!

[2019-04-23 03:32] CleverFool77 commented on #5552
Hi @siaw23
I guess they are for next and previous code comparison.

[2019-04-23 03:32] #4969 closed

[2019-04-23 03:32] CleverFool77 commented on #5553
Hi @siaw23 @gauravano I tried on second image. And I did ban myself. Then I changed my status from db.
Thanks !!

[2019-04-23 04:25] siaw23 opened #5592 "ActiveRecord::StatementInvalid: Mysql2::Error"
https://sentry.io/share/issue/0abeb7d376b2479a9ebbdd9f64d04a50/

Two possible solutions to this:

1. Sanitise (scrub) data before they are saved to DB.
2. Set the encoding at DB level to accommodate values that trigger this error.

Anyone wants a shot at this?

[2019-04-23 04:30] siaw23 commented on #5553
OK so this behaviour is not normal I think. Definitely a user shouldn't be able to ban themselves. As to what's done when a user is banned (with their changes) I think @jywarren can chime in on this one.

[2019-04-23 04:51] sentry-io[bot] opened #5593 "ActionView::Template::Error: Mysql2::Error: Unknown column 'node.legacy_views' in 'field list': SELECT `community_tags`.`tid` ..."
Sentry Issue: [PLOTS2-6K](https://sentry.io/organizations/publiclab/issues/995768362/?project=1410626&referrer=github_integration)

[code]

[2019-04-23 08:40] CleverFool77 commented on #5551
@publiclab/plots2-reviewers What's your opinion regarding this.
Thanks !!!

[2019-04-23 08:51] gauravano commented on #5445
Okay, I tried image uploading at different pages:
1. Working on comments
2. Not working on wiki pages for images and GIFs(as Liz reported)
3. Working on research notes with drag and drop only

Thanks!

[2019-04-23 09:15] gauravano commented on #5306
Reviewing..

[2019-04-23 09:23] gauravano commented on #5276
@supriya-kotturu please copy the link to your PR here or add `Fixes #5276` in the PR comment so it gets tagged here. Thanks!

[2019-04-23 09:27] gauravano commented on #5276
Ok, so your PR is closed https://github.com/publiclab/plots2/pull/5292. I reopened it.

[2019-04-23 09:46] #5276 closed

[2019-04-23 10:23] gauravano commented on #5514
Hey @divyabaid16, please see https://github.com/publiclab/plots2/pull/5166. Also, if you're interested, you can help in completing that PR too. Thanks!

[2019-04-23 10:26] gauravano commented on #5517
Is it required as I don't think there's any issue with normal tooltip? Thanks!

[2019-04-23 10:34] gauravano commented on #5480
I think we can just add tooltip to the icon and we would be good? Thanks!

[2019-04-23 11:15] divyabaid16 commented on #5514
@gauravano so this issue doesn't need to be solved as in #5516 we are just removing the background on hover.
Also, should I create a new PR for solving #5166 as per the suggestions you have asked for ?
Thanks!

[2019-04-23 12:02] divyabaid16 commented on #5514
@gauravano so this issue doesn't need to be solved as in #5516 we are just removing the background on hover.
Also, should I create a new PR for solving #5166 as per the suggestions you have asked for ?
Thanks!

[2019-04-23 14:52] IshaGupta18 commented on #5556
I think this is the one, do correct me if I am wrong!

[2019-04-23 16:50] SidharthBansal opened #5600 "Redirect user to the same page after multi tag subscription"
I think we should redirect the user to the same url after multi tag subscription, instead of /subscriptions so that the user will remain on the current research note or wiki page. Implemented the same in the pr.

[2019-04-23 17:01] #4368 closed

[2019-04-23 17:33] stefannibrasil commented on #5182
oh, okay :v:

The front page is looking weird. Maybe someone pushed other commits again?
The carousel is not working and all of the static content (social media icons, questions button, etc.) are not showing.

### Some spaces to be added:
 * between the nodes and the pagination buttons (front page);
 * after node types buttons on /search page;
 * between nodes results ( the read more button is att

[2019-04-23 17:34] #4669 closed

[2019-04-23 19:49] ValeriaCobianISW commented on #5418
Hi, this issue is done! @gauravano
Asking for feedback :D

[2019-04-23 19:53] gauravano commented on #3298
@z119 as you have started working on another FTO, I am reassigning it to someone else. Thanks!

[2019-04-23 19:54] gauravano commented on #3298
Hi @Devdrod, you can work on this FTO, if interested. Thanks!

[2019-04-23 19:57] gauravano commented on #5536
Yes, it's tough to find out issues. How about using a bot for assigning issues? Also, we currently use `claimed` , `assigned` labels for FTOs.

[2019-04-23 20:00] gauravano commented on #5536
Also, see https://github.com/publiclab/plots2/issues/5237 Thanks!

[2019-04-23 20:05] #5532 closed

[2019-04-23 20:07] gauravano commented on #5541
@ViditChitkara I think you can better guide here. Thanks!

[2019-04-23 20:27] michelmarechal commented on #5516
Hey! I'm a first timer in open source and I'd love to contribute to this issue.

[2019-04-23 21:46] UNnamed66 commented on #5565
This is my first time to make a contribution to the open source community. I was wondering if I can also give it a shot.

[2019-04-23 21:56] gauravano commented on #5565
Hi @UNnamed66, we would love to have your help, but this one is already claimed so please look for other issues at https://code.publiclab.org/#r=all and if you can't see any issue unclaimed, then feel free to comment at https://github.com/publiclab/plots2/issues/4963 and we'll create an issue for you.

Thanks!

[2019-04-23 22:00] gauravano commented on #5514
you mean #5166 right?

Actually, you can collaborate on already existing PR. Thanks!

[2019-04-23 22:01] gauravano commented on #5516
Hi @ValeriaCobianISW, sorry for late reply. Sure, go ahead with the issue. Thanks!

[2019-04-23 22:04] gauravano commented on #5516
Hi @michelmarechal, we would love to have your help too, you can find more FTO issues at https://code.publiclab.org/#r=all, and in case you don't see any issue unclaimed then feel free to comment at #4963 and we'll create a new one for you.

Thanks!

[2019-04-23 22:24] UNnamed66 commented on #4963
Hi, I would like to make my first contribution to the community, is there any issue available? Thanks!

[2019-04-24 03:26] ValeriaCobianISW commented on #5516
Thank you @gauravano , I'm going to resolve this issue 😄

[2019-04-24 03:30] jywarren commented on #5229
Update- really want to fix this, i think it's related to this error:

[code]

On:

https://github.com/publiclab/plots2/blob/099a1aba9af851c7dd53504395513ab9a4c1ac12/app/assets/javascripts/dragdrop.js#L45

[2019-04-24 03:32] jywarren commented on #5229
Right now, only drag/drop seems broken. You can select an image to upload without drag/dropping it.

[2019-04-24 03:34] jywarren commented on #5229
For writing a system test for this, we could explore:

* https://stackoverflow.com/questions/32880524/how-do-you-test-uploading-a-file-with-capybara-and-dropzone-js
* https://web.archive.org/web/20170730200309/http://blog.paulrugelhiatt.com/rails/testing/capybara/dropzonejs/2014/12/29/test-dropzonejs-file-uploads-with-capybara.html

[2019-04-24 03:34] jywarren commented on #5520
Hi @ValeriaCobianISW we would /love/ your help with this!!!!

[2019-04-24 10:12] SidharthBansal commented on #5600
@gauravano @ebarry @jywarren please tell whether we need this feature or not. I have created a PR for this with modified tests. If you folks like it then please merge it else we can close both issue and the pr.
Thanks

[2019-04-24 10:35] IshaGupta18 commented on #5553
Yes, I think so too @siaw23, let's wait for his suggestion on this one, then we can probably just add a condition to remove the ban option for the current user.

[2019-04-24 10:41] sashadev-sky commented on #4963
@UNnamed66 you can work on https://github.com/publiclab/Leaflet.DistortableImage/issues/198! Please ignore the comments under it about the git flow to follow (that was for another user who has done an FTO before so I was creating something new for them to try) and just follow the PR description :)

[2019-04-24 11:47] gauravano commented on #5182
- [ ] ![Screenshot from 2019-04-24 17-15-54](https://user-images.githubusercontent.com/20878070/56657052-ae8af700-66b4-11e9-8428-337a6ef90b05.png)

@Souravirus can I commit directly on your PR to resolve some bugs? Thanks!

[2019-04-24 12:15] gauravano commented on #5182
@Souravirus I have opened a PR against your bootstrap-4 branch - https://github.com/Souravirus/plots2/pull/1

[2019-04-24 13:17] michelmarechal commented on #5516
Sure thing @guravano. I'll do that :)

[2019-04-24 13:49] #5378 closed

[2019-04-24 13:50] gauravano commented on #5404
Fixed in #5402. Thanks!

[2019-04-24 13:50] #5404 closed

[2019-04-24 14:17] CleverFool77 opened #5609 "Add ellipsis to tag if the tag length exceeds the dropdown."
## Description
![Screenshot from 2019-04-24 19-45-37](https://user-images.githubusercontent.com/26685258/56666453-8fe32b00-66c9-11e9-86d7-3db859ffef97.png)

Tha tags with large no of characters might go out of dropdown. So we can limit the size of tags from going out of dropdown by putting ellipsis after some characters ?
Thus making the ui consistent.

Thanks !!!

[2019-04-24 14:20] CleverFool77 opened #5610 "Add ellipsis to tag if the tag length exceeds certain limit of charcters"
## Description
![Screenshot from 2019-04-24 19-49-01](https://user-images.githubusercontent.com/26685258/56666718-05e79200-66ca-11e9-9a8c-497e2f34c4f5.png)

Tha tags with large no of characters can be limited with certain amount of characters so it does not cause overflow in horizontal direction.

Thanks !!!

[2019-04-24 14:23] CleverFool77 commented on #5610
@publiclab/plots2-reviewers What's your opinion regarding this.
I'm interested in working in this.
Thanks !!

[2019-04-24 14:23] CleverFool77 commented on #5609
@publiclab/plots2-reviewers What's your opinion regarding this.
I'm interested in working in this.
Thanks !!

[2019-04-24 16:09] ViditChitkara commented on #5541
Hi @CleverFool77 and @gauravano . We are actually removing this tab after the recent comments/answer merge. Will be simply naming it as "commented". Thanks!!

[2019-04-24 16:16] ViditChitkara commented on #5229
Will have a look

[2019-04-24 16:19] gauravano commented on #5541
Cool!

On Wed, Apr 24, 2019 at 9:39 PM Vidit <notifications@github.com> wrote:

[2019-04-24 17:35] ValeriaCobianISW commented on #5516
This issue is done @divyabaid16 @gauravano ,asking for feedback :D

[2019-04-24 18:34] gauravano commented on #5554
Hey @elzatch4219, you can also look for issues at https://code.publiclab.org/#r=all and in case, you don't see any other issue unclaimed, feel free to comment at #4963 and we'll create an FTO for you. Thanks!

[2019-04-24 18:35] #5554 closed

[2019-04-24 18:39] gauravano commented on #5516
Hey @ValeriaCobianISW, we allow only one FTO per contributor but as you have done the work, so we'll consider it but please don't claim/solve anymore FTO issues. Thanks!

[2019-04-24 18:40] CleverFool77 commented on #5541
I'll be closing this issue as this will be resolved soon.

[2019-04-24 18:40] #5541 closed

[2019-04-24 18:52] ValeriaCobianISW commented on #5516
Sure @gauravano, thank you.

[2019-04-24 20:57] #1716 closed

[2019-04-24 21:17] jywarren opened #5612 "Collect and solve Bootstrap 4 follow-up fixes"
Hi, we have finally upgraded to Bootstrap4 in #3937. Thanks @Souravirus for your awesome work :tada: :100:

Let's team up to look at the newly updated Bootstrap 4 UI https://stable.publiclab.org and compare to https://publiclab.org -- and note issues below.

Please report the issue below by leaving a comment and don't open a separate issue so that we can keep everyone synced :arrows_counterclockwi

[2019-04-24 21:28] Souravirus commented on #5612
Hi @jywarren, here is the updated gist for the updated carousel
https://gist.github.com/Souravirus/1f70b1ec63da1adaa686ccff7186ab2f

[2019-04-24 21:36] Souravirus commented on #5612
The main image button is appearing fine in firefox.
![image](https://user-images.githubusercontent.com/17192149/56695612-18cc8780-6707-11e9-8192-3936f0506e27.png)
There might be some differences with the browser. Seeing this.

[2019-04-24 21:37] #5182 closed

[2019-04-24 21:37] gauravano commented on #5182
Moving to #5612

[2019-04-24 21:37] gauravano commented on #5182
Thanks everyone!!

[2019-04-24 21:40] jywarren commented on #5612
OK thanks @Souravirus and thanks @gauravano, i thought we should start a new one 🙌

[2019-04-24 21:42] ValeriaCobianISW commented on #5520
Sure, I'm going to work on this issue :D

[2019-04-24 21:43] jywarren commented on #5520
Please let us know if you need help with anything. Thank you so much!

[2019-04-24 21:46] gautamig54 commented on #5612
I would love to contribute in this issue! Thanks!

[2019-04-24 21:56] gauravano commented on #5612
@jywarren just edited the issue :sweat_smile:. Also, adding @stefannibrasil and @sashadev-sky's observations from #5182. Thanks!

[2019-04-24 21:59] gauravano commented on #5612
Issues reported by @stefannibrasil
------
oh, okay :v:

The front page is looking weird. Maybe someone pushed other commits again?
The carousel is not working and all of the static content (social media icons, questions button, etc.) are not showing.

### Some spaces to be added:
 * between the nodes and the pagination buttons (front page);
 * after node types buttons on /search page;
 * between n

[2019-04-24 22:04] gauravano commented on #5612
Most welcome @gautamig54 !!

[2019-04-24 22:43] SidharthBansal commented on #5550
I think we can close this issue as the deadline is passed. I think the list of mentors will be announced by Google. Let's wait @gauravano

[2019-04-24 22:43] #5550 closed

[2019-04-24 23:06] jywarren opened #5614 "Pop up subscription modal /after/ opening multi-tag subscription modal"
@SidharthBansal just looking to wrap this up; am I right that we can remove the login modal part of this segment:

https://github.com/publiclab/plots2/blob/7744d91e9bf03544da2f38e7e66056b6f20162e0/app/views/tag/_subscribe_button.html.erb#L12

and add the `requireLogin` class to this line?

https://github.com/publiclab/plots2/blob/7744d91e9bf03544da2f38e7e66056b6f20162e0/app/views/tag/_tags_popover

[2019-04-24 23:12] jywarren commented on #5614
system test could be like:

[code]

[2019-04-25 00:54] tahnok commented on #4487
Sorry to jump in here randomly, but as someone who uses a password manager (specifically, LastPass) this feature is very inconvenient. Any chance this issue could be opened up for discussion again and possibly reverted? I believe a fair number of people use password managers

[2019-04-25 01:15] siaw23 opened #5615 "Paginator on home page not working."
When you scroll down on https://publiclab.org/, there's a paginator that's not working. Maybe someone would like to look at this?
![Screenshot 2019-04-25 at 03 09 59](https://user-images.githubusercontent.com/4806407/56703249-49f98780-6708-11e9-9f78-380a05a04d77.jpg)

[2019-04-25 06:49] Souravirus commented on #5612
The issue you reported with the input button is happening in google chrome
![image](https://user-images.githubusercontent.com/17192149/56715097-51df1900-6754-11e9-87cd-dc9829645134.png)

[2019-04-25 06:57] IshaGupta18 commented on #5614
I'll do this @jywarren since this was assigned to me but I was unable to do it because of the major issue we were facing of rendering the popover of the Subscribe button. I sincerely apologize for all the delay and will wrap this one up ASAP! Thanks a lot for your patience!

[2019-04-25 07:40] sashadev-sky commented on #5609
@CleverFool77 This makes me think maybe more importantly we should limit the size of usernames? Figure out what conventionally would be the number limit to set and set that, then check if we need the ellipsis or even just add it anyway just in case.

What are your thoughts?

[2019-04-25 07:47] sashadev-sky commented on #5610
@CleverFool77 hi! Please see my comment on your other similar issue, #5609.

I think imposing a limit on tags would be a little more complex to think about, though, so I am edging on just going with the ellipsis here as you mention and not implementing my suggestion for #5609.

What do you think? Feel free to put one reply for both comments here so that our conversation isn't split between two pag

[2019-04-25 10:38] CleverFool77 commented on #5610
I've @sashadev-sky , I haven't tried it yet but there is a css property which can help limit the overflow of characters with ellipsis. I was thinking of using that for now.
I think this property could be the solution .
Though I'll explore and seee more.
I'm having exams right now, so it might take sometime to work upon this.
Thanks !!

[2019-04-25 10:48] IshaGupta18 commented on #5614
@jywarren @SidharthBansal I am not very sure that doing this is working out, I saw this behavior before as well

![image](https://user-images.githubusercontent.com/40794215/56730422-9b8c2b80-6775-11e9-8ee2-f533a950c4c6.png)

When the user is logged out, on clicking on the button, the login modal should pop-up, right? That's not happening here. Please correct me if I am wrong here. Thanks a lot!

[2019-04-25 11:11] gautamig54 opened #5618 "Significance of "Read more" button on home page"
The "Read more" button on homepage directs the user to /blog page.

![Screen Shot 2019-04-25 at 4 40 18 PM](https://user-images.githubusercontent.com/35326753/56731651-9ed4e680-6778-11e9-904b-e12ab09451f4.png)

We also have a link "More of the blog" which also directs the user to /blog page

![Screen Shot 2019-04-25 at 4 40 52 PM](https://user-images.githubusercontent.com/35326753/56731697-c2982c8

[2019-04-25 11:12] gautamig54 commented on #5618
@publiclab/plots2-reviewers Is this issue correct?
We can remove the "Read more" link here.
If approved, I'll update it to FTO issue. Thanks!

[2019-04-25 11:31] gautamig54 opened #5619 "Align /stats page content"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-04-25 14:39] IshaGupta18 commented on #5614
Also, I had to use JS to dynamically render the popover to the subscribe button, so that could also clash with the requireLogin class (although that is not the reason why it's not showing up).  What do you think should be done here?

[2019-04-25 15:12] IshaGupta18 commented on #5614
@jywarren @SidharthBansal I think I have found a fix to this, although it might be a little unconventional (because of the dynamic rendering)

Also, to have similar behavior we have right now with the if condition, we need to add the class to the Subscribe+ button so that the modal pops up if the user clicks on the Subscribe+ button. I hope that's cool?

[2019-04-25 15:20] maciejduda1 commented on #5619
Hello, I will gladly help.

[2019-04-25 15:33] IshaGupta18 commented on #5614
Here's my PR (without the test for now), kindly review and let me know what else can be done here! Thanks a lot!

[2019-04-25 16:51] gautamig54 commented on #5619
Great @maciejduda1 !!

[2019-04-25 17:09] gauravano opened #5622 "Test install-script for codenvy"
We updated install-script in mapknitter to support codenvy in https://github.com/publiclab/mapknitter/pull/420 following the shutdown notice of cloud9 by June 30, so we need to create a new wiki guiding users to codenvy just like https://github.com/publiclab/plots2/wiki/Simple-Installation-for-Cloud9 and after that make changes in Readme too.

Any suggestions and help is welcome. Thanks!!

[2019-04-25 17:41] gauravano commented on #5622
@publiclab/plots2-reviewers @kaustubh-nair @sashadev-sky @alaxalves @cesswairimu

[2019-04-25 20:54] eplata31 commented on #5527
Hello, I have made some advance and now I'm wondering if it should also accept low dash, something like `purple_air`? or just `purple-air`?

[2019-04-25 21:18] gauravano commented on #5527
Hi @eplata31, as hyphens are commonly used so solving that is the primary goal but if you can make regex for underscore `_` too, that would be great!

Thanks!

[2019-04-25 23:09] eplata31 commented on #5527
l created a PR, asking for a review :D

[2019-04-26 01:58] skilfullycurled opened #5624 "Idea For Keeping a List of Weekly Check-ins"
I love the idea that we move the weekly check-in around.  While I know it's predicated on giving other repo's exposure, it's also a fun surprise to see where it will be each week.

Having said that, I do find it difficult to find the previous check-ins.  Also, the [documentation states](https://github.com/publiclab/plots2/blob/master/doc/CHECKINS.md) that the [current](https://github.com/publiclab

[2019-04-26 10:24] gauravano commented on #5624
Yeah, creating a central issue sounds great. We will keep that issue pinned to plots2. Would you like to create that issue or should I?

Thanks!

[2019-04-26 12:46] steviepubliclab opened #5626 "Template deleting materials"
Good morning!
I went to the  "post an activity" button from the dashboard :

<img width="1069" alt="Screen Shot 2019-04-26 at 8 39 36 AM" src="https://user-images.githubusercontent.com/7490478/56808280-19e0e000-67ff-11e9-97ce-5a1d5e5ce7a8.png">

and I started filling out a template:

<img width="962" alt="Screen Shot 2019-04-26 at 8 42 02 AM" src="https://user-images.githubusercontent.com/7490478/

[2019-04-26 14:10] gauravano commented on #5626
I tried to reproduce this bug in production but wasn't able to :confused:. Also, noting that as we are using template while creating activity so it would be tough to reproduce in the development as first the template has to be copied and then changes in the code should be made.

cc/  @rexagod @jywarren any idea if it's related to some old bug? Thanks!

[2019-04-26 15:13] steviepubliclab commented on #5626
Here's a gif of it. (a link if below does not embed: https://gph.is/g/ap8xzBa)

<div style="width:100%;height:0;padding-bottom:63%;position:relative;"><iframe src="https://giphy.com/embed/THNZVqReriOtxF30qQ" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/THNZVqReriOtxF30qQ">via GIPHY</a></p>

[2019-04-26 15:15] gauravano commented on #5555
Okay, one case is where irrespective of the presence of tag, user wants to get subscribed (Just a random thought). @jywarren this case should be considered? If no, then, we are good to go here. Thanks!

[2019-04-26 15:18] skilfullycurled commented on #5624
I'll do it.  There's something very satisfying about creating the only issue that will never close.  Or, wait.  It'll still work if I close it, no?  Then there will be something very satisfying about solving my own issue.

[2019-04-26 15:19] gauravano commented on #5624
haha, it will never close :sweat_smile:

[2019-04-26 15:20] gauravano commented on #5624
Let me know, if you need help in navigating  checkins.

[2019-04-26 15:20] skilfullycurled opened #5627 "Weekly Community Communication #1 🙋‍♀️🙋🙋‍♂️"
Welcome!  Below you will find links to our weekly community check-ins.   Feel free to introduce yourself, ask questions in the current one, and explore past check-ins to get a feeling for the community.

### Where to communicate this week:

**Issue Link:** https://github.com/publiclab/plots2/issues/9526 🎉
**Theme:**  -  99 by @TildaDares
🙌🙌🙌🙌🙌🙌🙌🙌🙌🙌🙌

### Upcoming Check-in:
* [ ] 101

### Check-in

[2019-04-26 15:24] gauravano commented on #5626
Ok, this is really helpful @steviepubliclab. Issue reproduced. @jywarren please move this issue to  PL.Editor. Thanks!

[2019-04-26 15:45] skilfullycurled commented on #5624
Seems like the initial info at the top of the check in is pretty standard and customized each week.  Can the issue number be added to the standard part?

[2019-04-26 15:46] gauravano commented on #5386
Hi @gautamig54, sorry for delay here.

Ok, with the bootstrap upgrade, this feature needs improvement as previous code and updated code give empty view
![Screenshot from 2019-04-26 21-12-36](https://user-images.githubusercontent.com/20878070/56819824-306f5180-6868-11e9-95d6-b78bbfa2171f.png)

Actually, we might want to review all the features @Souravirus @jywarren @publiclab/plots2-reviewers. As w

[2019-04-26 15:49] skilfullycurled commented on #5624
I'll work on going through the previous ones later.  Could you add labels to it?  I don't want to pollute it with this thread but you'll find it if you search, is:issue:"community check-in".  I'll also change the link in the wiki at some point.

[2019-04-26 16:26] gauravano commented on #5624
Done!

[2019-04-26 16:29] skilfullycurled commented on #5624
Awesome!  Now we don't have to change the links.  Although it would have made a good FTO.  ; )

<img width="560" alt="Screen Shot 2019-04-26 at 12 28 37 PM" src="https://user-images.githubusercontent.com/950291/56822402-f037b100-681e-11e9-90e9-f523b85a16ad.png">

[2019-04-26 16:58] ValeriaCobianISW commented on #5520
Hi, @jywarren I resolved this issue, I would like to get feedback :+1:

[2019-04-26 17:16] divyabaid16 commented on #5514
Okay @gauravano I will do this within few days.
Thanks :)

[2019-04-26 17:56] #5520 closed

[2019-04-26 18:06] Souravirus commented on #5386
Yeah it's fine @gauravano.

[2019-04-26 18:35] Souravirus commented on #5612
Hi @jywarren that input button problem is now solved. Here is the screenshot of it:
![image](https://user-images.githubusercontent.com/17192149/56828907-fad66280-687f-11e9-93f6-e3b5897c4f6c.png)
I am pushing the fixes in #5613.

[2019-04-26 19:18] #5619 closed

[2019-04-26 20:06] jywarren commented on #5316
I found this great Capybara cheatsheet!!! https://gist.github.com/zhengjia/428105

[2019-04-26 21:05] skilfullycurled commented on #5450
@gauravano, sorry, for some reason I didn't see this response.  That's good info, and it would be easy enough to break up the spam into individual words and sliding window word pairs to gather a list of the top most frequent words.  Interestingly, in the tag graph I posted, I removed a clustering which was about escorts.  I assumed that was not one of our new DIY initiatives.

I have a question ab

[2019-04-26 21:43] jywarren commented on #5555
Hmm, how does it currently happen -- does it create the tag and subscribe
to it? Since anyone can make tags, what happens if you subscribe to
'unique-tag' and then tag a post with the same tag?

On Fri, Apr 26, 2019 at 11:16 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-04-26 22:17] jywarren commented on #5612
Awesome, thanks!!!!

On Fri, Apr 26, 2019, 2:35 PM Sourav Sahoo <notifications@github.com> wrote:

[2019-04-27 11:45] gautamig54 commented on #5386
@gauravano I uploaded the feature on localhost and seem to work fine.

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/35326753/56849269-0b361e00-6910-11e9-96ab-2a4a2556233f.gif)

[2019-04-27 12:23] gautamig54 opened #5629 "Link "Public Lab" on navbar to the home page instead of dashboard"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-04-27 13:47] gautamig54 commented on #5352
@gauravano @jywarren Can you review #5567 so that we can start with the other things on the list. Thanks!

[2019-04-27 15:59] elzatch4219 commented on #5629
Is somebody else working on this

[2019-04-27 17:55] gautamig54 commented on #5629
@elzatch4219 It is still not claimed. You can go ahead with this one!

[2019-04-28 05:13] IshaGupta18 commented on #5629
Please go ahead @elzatch4219  and do let us know if you're stuck!

[2019-04-28 08:53] gauravano commented on #5551
Nice catch @CleverFool77. Thanks!

[2019-04-28 09:31] gauravano commented on #5487
@gautamig54 the page is a wiki page and the table appears on the page is due to shortcode [notes:event]
 and code for the table actually grid is here - https://github.com/publiclab/plots2/blob/master/app/models/concerns/node_shared.rb#L77

Thanks!

[2019-04-28 09:43] gauravano commented on #5576
Hi @gautamig54, the list is present in the wiki because of shortcode
[code]
In case, where the shortcode is not used by author, the list wouldn't appear so it's fine to have the link in the sidebar. Thanks!

[2019-04-28 09:43] #5576 closed

[2019-04-28 16:45] IshaGupta18 commented on #5484
@gautamig54 what is the progress on this issue? Can we think of something and split the work?

[2019-04-28 18:33] jywarren commented on #5316
And, I seem to see a chrome plugin that can generate -- even "record" capybara tests based on your interactions!

https://github.com/polarblau/capycorder/

We could use this to quickly generate tests.

[2019-04-28 18:34] namangupta01 commented on #5316
This seems interesting, I also want to contribute on this one.

[2019-04-28 19:46] gauravano commented on #5618
Also, pagination doesn't seem to work. Let's make it working first as only then it will be good to remove the "read more" button. Thanks!

[2019-04-28 19:48] gauravano commented on #5618
Actually the issue for pagination is already open at #5615

[2019-04-28 22:40] siaw23 commented on #5618
Looks to me like the "Read Me" is out place. @gautamig54 can you please update to an FTO for @bolad?

[2019-04-29 07:14] gauravano commented on #5624
The check-ins would be tagged in the issue 5624 but I was thinking should we make a list of previous check-ins like:

**Previous Check-ins:**
1.
2.
...

**Current check-in:** link ..

What do you think?

[2019-04-29 08:07] avsingh999 opened #5633 "[suggestion] zoom image when clicking on image"
I would like to suggest a new feature to add when clicking on the image then image zoom Like Medium.
thank you : )

[2019-04-29 08:08] avsingh999 commented on #5633
@publiclab/reviewers @jywarren @SidharthBansal @gauravano @sashadev-sky  what do you think. please review me
thanks : )

[2019-04-29 08:39] gautamig54 commented on #5618
@siaw23 Actually, I think removing read more button should be better as we already have pagination. But the pagination is not working. I am trying on this one.
Once the pagination works, I will open an FTO for removing the "Read More" button.
Thanks!

[2019-04-29 13:50] skilfullycurled commented on #5624
Works for me!

[2019-04-29 13:51] skilfullycurled commented on #5624
(closing issue, but happy to re-open!)

[2019-04-29 13:51] #5624 closed

[2019-04-29 17:18] eplata31 commented on #5527
Hi @gauravano I'm getting fails from these two test `test_first-timer_moderated_note_(status=4)_shown_to_author_in_list_view_with_notice` and `test_first-timer_moderated_note_(status=4)_shown_to_moderator_with_notice_and_approval_prompt_in_list_view`, I don't now why since i didn't modify something that interacts with these test, can you help me?

[2019-04-29 19:12] #5223 closed

[2019-04-29 21:21] skilfullycurled commented on #3889
Hi, I want to report what might be related, which is that I have the same issue as #139.  I created an [activity](https://publiclab.org/notes/bsugar/04-29-2019/part-i-how-to-create-a-relational-diagram-of-the-public-lab-database) using the rich text editor, and when I published it, this is how it rendered.
![Screen Shot 2019-04-29 at 5 20 20 PM](https://user-images.githubusercontent.com/950291/569

[2019-04-30 06:49] sashadev-sky commented on #5633
I didn't know how Medium does it so here is a link to a medium article for everyone for quick reference: https://elemental.medium.com/femtech-startups-are-finally-innovating-for-menopause-5d16bd1fdb3d. You can click on the image to zoom once (image proportionally takes up entire viewport) and a following click would toggle this (unzoom), or just on scroll it unzooms for you automatically.

Compare

[2019-04-30 07:52] benfanderson commented on #4963
Hi, I am looking to contribute to any FTO on HTML and CSS. Thanks!

[2019-04-30 10:30] gautamig54 commented on #5633
We already have a similar feature. On clicking on an image, it opens up separately. Then we can simply use control-plus or control-minus to zoom in and zoom out. So is this feature required?

![ezgif com-video-to-gif (3)](https://user-images.githubusercontent.com/35326753/56956142-ed132c80-6b60-11e9-802a-18aea3e07ce2.gif)

[2019-04-30 11:26] avsingh999 commented on #5633
Hi @gautamig54 @sashadev-sky I was thinking about these images in the notes https://publiclab.org/notes/Bronwen/04-29-2019/prototyping-a-tablet-microscope-like-the-cell-phone-microscope-but-bigger

example.
![pub26](https://user-images.githubusercontent.com/25536022/56958743-c9ec7b00-6b68-11e9-921e-b4a5915a594d.png)

[2019-04-30 11:31] avsingh999 commented on #5633
@sashadev-sky yeah, you are right It's not more useful but I was giving my Idea to better UI for PL.
thank you : )

Sorry for the late reply I am busy in my end sem exam.

[2019-04-30 11:34] avsingh999 commented on #5633
@sashadev-sky @gautamig54  If you think it's not important and not useful you can close this issue.
thanks :smile:

[2019-04-30 11:35] gauravano commented on #5592
+1 for sanitizing data

[2019-04-30 12:02] AnthoniaOkafor commented on #5622
While installing Plots2 on Codenvy, some commands do not run:

$ rvm install ruby-2.4.4 returns bash: rvm: command not found
$ npm install -g yarn returns bash: npm: command not found
$ yarn install returns bash: yarn: command not found.
Rails 5.0.1 and ruby ruby 2.4.4p296 (2018-03-28 revision 63013) [x86_64-linux] are pre-installed but rvm is not.
I continued without using the commands above unti

[2019-04-30 12:03] sashadev-sky commented on #5633
Personally, I think it is an improvement on the UI. if you want to take this on, I say go for it. It looks a lot nicer than opening a new a tab with the image in my opinion.

So, if you want to take this on, I will assign you to it! but if this is just an issue to float around, I don't think it is worth it to do such as we already have so many issues in plots2 to resolve.

But I am totally with th

[2019-04-30 12:11] #5418 closed

[2019-04-30 12:34] gauravano commented on #4487
Hi @tahnok, for sure, we can't deny this fact that many people use password managers, so let's ask @publiclab/community-reps @publiclab/plots2-reviewers about their views. Thanks!

[2019-04-30 13:19] gauravano commented on #5450
No issue!

Ok, so you can explore all the things at admin_controller.rb. Garbage icon
refers to delete I guess as we use another icon for spam. can you put image
so I can tell exactly? There's no option to delete user for now. But, yes,
there's an option to delete a note so you'd be deleting the spam note on
clicking the garbage icon.

On Sat, Apr 27, 2019 at 2:35 AM skilfullycurled <notifications

[2019-04-30 13:40] gauravano commented on #5555
Yes!

It works fine as we check for the existence of tag while adding.

Also, while experimenting with tags, I found that when I try to subscribe to same tag again it shows "you are now following tagname" but in subscription_controller we handle such cases so we need to fix that too.

Thanks!

[2019-04-30 13:43] gautamig54 commented on #5555
Yes @gauravano. Regarding the already subscribed tag, I've created another issue #5556.
If a user is already subscribed, it will show already subscribed instead of the present message.

[2019-04-30 13:44] gautamig54 commented on #5517
okay @gauravano. I'll close this issue as it is not required. Thanks!

[2019-04-30 13:44] #5517 closed

[2019-04-30 13:55] #5552 closed

[2019-04-30 14:00] gauravano commented on #5556
Please add a test too, if possible. Thanks!

[2019-04-30 14:01] gauravano commented on #5555
Yes, it's a bug, I have edited your issue a bit just now. Thanks for pointing!

[2019-04-30 14:07] gauravano commented on #4963
Hi @benfanderson, just added your name to the above list and we'll mention you soon on a issue. Thanks!

@publiclab/plots2-reviewers if you see any inactive FTO, please drop the link here or mention the people waiting for FTO. Thanks!

[2019-04-30 14:14] #5456 closed

[2019-04-30 14:16] gauravano commented on #5624
Thanks @skilfullycurled. i will add the previous check-in list in some days. Thanks!

[2019-04-30 14:27] gauravano commented on #5622
Please try running  `yarn install`.

[2019-04-30 15:35] divyabaid16 commented on #5333
I'm not getting this issue now @CleverFool77 and sorry for the late reply.
Thanks!

[2019-04-30 18:03] SKashyapD commented on #4660
@skilfullycurled it will be great

[2019-04-30 22:50] jywarren commented on #5311
Just a note that we don't seem to be seeing these emails sent when using
`deliver_later` and are still debugging this... we'd love the PRs but are
probably not going to merge them until we finish debugging it! But thanks
for the help!!!

On Tue, Apr 30, 2019 at 8:45 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-05-01 05:22] IshaGupta18 commented on #4732
@jywarren #5638 is my PR for the broken date issue as shown above, kindly review and let me know if its good to go. Thanks!

[2019-05-01 05:42] SidharthBansal commented on #4963
https://github.com/publiclab/mapknitter/issues/574 is the new html-css fto. Please feel free to claim it if you are willing to do some frontend work. Thanks

@benfanderson you can claim and send a pull request to it if you want thanks

[2019-05-01 12:26] siaw23 opened #5641 "SimpleCov over Coveralls"
Coveralls is reporting a test coverage of 91% which is wrong. SimpleCov on the other hand reports a coverage of 79.94% and shows the test coverage results right after the test. It also shows which parts of the codebase is not covered so we can cover it.

![Screenshot 2019-05-01 at 14 24 45](https://user-images.githubusercontent.com/4806407/57016914-eb0ea380-6c1c-11e9-84f3-1d7584727502.jpg)

I thin

[2019-05-01 13:05] IshaGupta18 commented on #4732
So I have seen that all the links (after being updated to full path) are breaking somewhere and hence, both authors' and notes' images are being broken. Could someone tell me why we need to keep the full path because by keeping the original paths, the images seem to work just fine? Thanks!

[2019-05-01 14:03] jywarren commented on #4732
Whoa, that's odd because i'm seeing digests like this:

![image](https://user-images.githubusercontent.com/24359/57020756-509c6900-6bf8-11e9-82e8-b30fe90432f9.png)

Which is not perfect but better than what you seem to be receiving?

[2019-05-01 14:08] jywarren commented on #5641
This looks good! We have started using CodeCov in `image-sequencer`, do you
want to consider that too?
https://github.com/publiclab/image-sequencer/pull/1047#issuecomment-487310279

On Wed, May 1, 2019 at 8:26 AM Emmanuel Hayford <notifications@github.com>
wrote:

[2019-05-01 14:26] IshaGupta18 commented on #4732
Yeah, I think so, but in my mail box, the links ( the "click here" links at the bottom) and the images seem to be broken:
![image](https://user-images.githubusercontent.com/40794215/57021926-3b045f00-6c4b-11e9-936e-4b088d9207ce.png)

What do you think should be done?

[2019-05-01 14:28] IshaGupta18 commented on #4732
And also, I think we can open up an FTO for the` date in the heading` checkpoint, because the PR #5331 is for the path links part of this issue. Please correct me if I am wrong?

[2019-05-01 14:43] jywarren commented on #4732
hmm, this is so weird! Are you sure that email is from our production
server? Thanks Isha!!!

On Wed, May 1, 2019 at 10:28 AM Isha Gupta <notifications@github.com> wrote:

[2019-05-01 14:52] IshaGupta18 commented on #4732
This comes from the production right?
![image](https://user-images.githubusercontent.com/40794215/57023094-c4696080-6c4e-11e9-9b7a-6980fed34e38.png)

This is really weird.

[2019-05-01 17:33] skilfullycurled commented on #5450
@gauravano that's perfect actually.  We can continue deleting spam content, but since I'll have the email, I'll still be able to associate them with a user later.

[2019-05-01 21:47] skilfullycurled commented on #5450
@jywarren here's the [gist](https://gist.github.com/skilfullycurled/86bbe5b8d7a459f7e73ad4f228356142) you requested:

[2019-05-01 22:13] jywarren opened #5647 "Liking/emoji response updates for Bootstrap 4"
Just noting that in Bootstrap 4, the emoji response systems need a little styling help!

https://stable.publiclab.org/notes/warren/03-04-2019/testing-post#c17743

![image](https://user-images.githubusercontent.com/24359/57033248-6ae73e80-6c1a-11e9-8097-dba48ec169d6.png)

[2019-05-01 22:26] jywarren commented on #5229
System test is going well for selecting a file, but we would have to add one for dragging in a file. Selecting is working on the production site right now, just not dragging.

[2019-05-02 04:57] IshaGupta18 commented on #5260
@jywarren #5648 is my PR for the 1st subtask. Kindly have a look at it and let me know if its good to go or not. Thanks!

[2019-05-02 10:09] gautamig54 commented on #4963
#5547 and #5407 are open FTOs. They were claimed earlier but since there is no activity in them for the past 2 weeks, therefore anyone can claim them again and get started with their journey to Public Lab.
Thanks!!

[2019-05-02 10:13] becomingajunior commented on #5547
Hi there - I’d like to claim #5547 if I can. Please let me know if ok to start work on this. Thank you!

[2019-05-02 10:14] gautamig54 commented on #5547
Sure! Go ahead @becomingajunior. Good luck!!!

[2019-05-02 10:45] gautamig54 commented on #5615
I was trying out this issue and in order to check if my solution works, I created certain blog post (notes with blog tag). Those blogs are appearing on the blogs page but not on home. Is it hard-coded?
If not then how should I generate notes on the home page?

[2019-05-02 14:40] Souravirus commented on #5612
Reopening this issue as some of the bugs were not solved.

[2019-05-02 15:20] jywarren commented on #5612
Thanks, @Souravirus -- i'm trying to paste in your gist for the front-page carousel, and the Features system is a little strange looking; it also errors when I try to make a new feature:

![image](https://user-images.githubusercontent.com/24359/57086503-3b910a00-6ccc-11e9-8600-87eaa59ad33f.png)

I know you're in exams, so if anyone else is able to help out with this, that'd be great!

[2019-05-02 15:23] jywarren commented on #5612
Looks like there are pretty minimal changes to the form:
https://github.com/publiclab/plots2/commit/7744d91e9bf03544da2f38e7e66056b6f20162e0#diff-d218cc0d572a2c87e465b2f68f3a20f8R5

I'll open a PR for a functional test for this!

[2019-05-02 15:36] sentry-io[bot] opened #5649 "error saving features in stable"
Sentry Issue: [PLOTS2-6Y](https://sentry.io/organizations/publiclab/issues/1008438877/?project=1410626&referrer=github_integration)

[code]

[2019-05-02 15:36] jywarren commented on #5649
Thank you Sentry! This was caught in stable, actually!

Follow-up from https://github.com/publiclab/plots2/issues/5612

[2019-05-02 15:40] jywarren commented on #5649
Aha! I think there's a stray entry in the stable database -- a `node` record with `vid=0`. This could also be stopping #5605 on stable and not in tests!

[2019-05-02 16:26] jywarren commented on #5649
Solved!!!

[2019-05-02 16:26] #5649 closed

[2019-05-02 17:34] jywarren commented on #5612
I'm also having trouble dragging an image onto a wiki edit page; it returns an error on this line of dragdrop.js:

`($D.selected).find('#create_progress').eq(0).show();`

`Uncaught TypeError: Cannot read property 'find' of undefined`

I wonder if `$D.selected` was affected somehow? This is the kind of thing a system test (#5316) will help prevent!

[2019-05-02 17:37] jywarren opened #5650 "Dragging image into wiki pages is broken"
I'm having trouble dragging an image onto a wiki edit page; it returns an error on this line of dragdrop.js:

`($D.selected).find('#create_progress').eq(0).show();`

`Uncaught TypeError: Cannot read property 'find' of undefined`

I wonder if `$D.selected` was affected somehow? This is the kind of thing a system test (#5316) will help prevent!

Noting this could be linked to #5229

[2019-05-02 18:51] gauravano opened #5651 "Translation prompt improvement"
Currently, we show Translation prompts on /subscriptions page, some on /dashboard and /blog page.

Conditions for translation prompt:
1. translated_string.length > 3 - If translated string has length greater than 3
2. current_user &.has_tag('translation-helper') - User has tag `translation-helper` on their profile
3. !translated_string.include?("translation missing") - There shouldn't be "translat

[2019-05-02 18:52] gauravano commented on #5651
@jywarren @ebarry @steviepubliclab

[2019-05-02 18:54] jywarren commented on #5651
Ooh, good observations!

A couple ideas.

1. We might limit the # of prompts to 5 per page, using css pseudo
selectors.
2. We could exempt any string that includes < or > for now?

On Thu, May 2, 2019, 2:51 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-05-02 18:56] Souravirus commented on #5612
Hi @jywarren, I see the carousel is fixed but there are some other problems there too like:
- [ ] No space after the carousel and the social icons
- [ ] Carousel is not changing
- [ ] There is a newline after the problem, collaboration, and the solution sections.

[2019-05-02 18:56] jywarren commented on #5615
Hmm, Gautami, that should be working... Is it possible it's caching? But
that would only happen in production mode. Hmmmmm. I'm a bit stumped! Can
you try running the query from the controller in the rails console to see
if it returns correctly there?

On Thu, May 2, 2019, 6:46 AM Gautami Gupta <notifications@github.com> wrote:

[2019-05-02 19:43] gauravano commented on #5651
Ok. Sounds good!

selectors.

Will give it a try.

Also, we want to show prompt only if a translation is not present for the current language in which we're browsing the website. Right?
Thanks!

[2019-05-02 20:01] SidharthBansal opened #5652 "Planning Issues: Cross Domain Session Management for MK & SWB"
Sequence of workflow:
* [x] Step 1: Review and merge publiclab/spectral-workbench#454
* [x] Step 2: Break the remaining frontend into ftos
https://github.com/publiclab/mapknitter/issues/574#issuecomment-489552018
and https://github.com/publiclab/spectral-workbench/issues/448
* [x] Step 3: Review + debug all below PRs
* [x] wait until MK is ready to be published to production and PL Bootstrap is co

[2019-05-02 20:09] SidharthBansal commented on #5652
@jywarren it will be great if you can change https://github.com/publiclab/spectral-workbench/blob/9f9ca3cf759678e00b3283054cdf78d51d364d43/app/controllers/sessions_controller.rb#L5 and https://github.com/publiclab/mapknitter/blob/ccd6317f7752dc5c86259c40d4854cee423bfe85/app/controllers/sessions_controller.rb#L7 to ``localhost:3000/people`` at YOUR LOCAL BRANCH and test the system instead of unstab

[2019-05-02 22:04] jywarren commented on #5316
OK! With help from Capycorder, I completed a system test of posting at `/post` -- it's really cool, and goes through the steps of:

1. logging in
2. filling out the posting form
3. pressing `Publish`
4. confirming that the page now shows the post

See it here:

https://github.com/publiclab/plots2/blob/e190eae1ce7bf215b99b6efe7f828e17deb3213e/test/system/post_test.rb#L10-L34

We can use this as an

[2019-05-02 22:17] jywarren commented on #5650
Yes! It's the same as this: https://github.com/publiclab/plots2/issues/5229#issuecomment-481370671

[2019-05-02 22:21] jywarren commented on #5229
A system test could look like:

[code]

[2019-05-02 23:40] scw248 commented on #5647
Hi @jywarren, could I give this one a try?

[2019-05-03 00:06] scw248 commented on #5647
@jywarren actually, as I've played around with this, I realized this is a bit beyond me.  Thanks for posting, and best of luck!

[2019-05-03 14:23] jywarren commented on #5229
Hi @ViditChitkara -- we really need some help with the `($D.selected).find('#create_progress').eq(0).show(); ` error; are you able to put some time into this to resolve issues related to the new reply-to-comment code? Thank you!

[2019-05-03 14:37] ViditChitkara commented on #5229
Yes, doing it today!

[2019-05-03 14:48] jywarren commented on #5229
awesome, thank you. I started a system test here but it can be kept
separate: https://github.com/publiclab/plots2/pull/5655 thank you!!!

On Fri, May 3, 2019 at 10:38 AM Vidit <notifications@github.com> wrote:

[2019-05-03 14:49] ViditChitkara commented on #5229
Cool!

[2019-05-03 15:49] SidharthBansal commented on #5652
Step 2 to 4 needs to be executed one after another without delay whenever you feel that it is suitable time.

[2019-05-03 15:52] SidharthBansal commented on #5652
I have already pushed the changes to MK and plots2. I am not able to push the changes to the SWB. As there is no unstable branch at SWB.

As written earlier, unstable.publiclab.org gets routed to publiclab.org by openid so it's better to test thing at your local @jywarren. Also, please see the dbms dump at the rails server to know what's going on at the dbs of MK, Plots and SWB.

Thanks.

[2019-05-03 16:28] jywarren commented on #5647
OK, thanks in any case! We'd be happy to have another contribution from
you, and if you'd like we can help you find one?

On Thu, May 2, 2019 at 8:07 PM Stephen-Wright <notifications@github.com>
wrote:

[2019-05-03 16:30] jywarren commented on #5612
Yes, I gave it a try, but didn't get it all the way! Here's the code:
https://gist.github.com/jywarren/3128766b5739555e6096aa12b27ab754

And i forget if you're an admin on unstable, but I put it here:
https://stable.publiclab.org/features/14908/edit?t=1556900971

I'll try again soon, we'll have to resolve this before publishing! Thanks!

On Thu, May 2, 2019 at 4:29 PM Sourav Sahoo <notifications@g

[2019-05-03 17:31] ValeriaCobianISW opened #5656 "Message "the comment couldn't be saved" appears in dashboard."
**You can reproduce this bug with the next steps:**
-Go to notes and try to publish a 'blank' comment.
-Go to dashboard and the error message will appear in the top of the page.

![PRNew](https://user-images.githubusercontent.com/26575531/57152516-96883700-6d88-11e9-87a7-a3ab1882992e.gif)

**Improvements:**
-Section comments: Evaluate when is something in the text area if anything is in the text a

[2019-05-03 17:47] ValeriaCobianISW commented on #5656
@gauravano @jywarren   What do you think about evaluating in the comment section about the content in the text area,? For example, the 'publish' button will be enabled only when the text area has text.

[2019-05-03 21:56] ViditChitkara commented on #5229
I think I found a solution. Need to do some testing though. Will be pushing
it soon.
Thanks

On Fri, May 3, 2019, 8:18 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-04 15:52] #5229 closed

[2019-05-04 15:56] gauravano commented on #5656
yes, disabling the Publish button in case of empty text area sounds good. Thanks!

[2019-05-04 17:00] Souravirus commented on #5612
I don't think I am admin in unstable as I can't see the link.

[2019-05-05 09:39] sashadev-sky opened #5658 "Tag variable is missing from search input"
<img width="874" alt="Screen Shot 2019-05-05 at 5 36 03 AM" src="https://user-images.githubusercontent.com/41092741/57191839-da4d7e80-6ef7-11e9-8eb7-b981fc64b9ae.png">

Should say, "Sorry, no map is tagged with <%= params[:id] %>. ..."

- <%= params[:id] %> isn't rendering
- remove the word "tag" at the end to shorten the message and improve its grammar

code link:
https://github.com/publiclab/plo

[2019-05-05 20:17] Souravirus commented on #5612
Hi @jywarren, since the previous carousel was powered by slick right? Then why didn't it worked with Bootstrap 4. What do you think about this?

[2019-05-05 20:19] jywarren commented on #5612
You know, i think if necessary we can freeze the carousel, and just show an
image as a short term fix. Just saying if that's easier! I thought the
block at this point was the rest of the page lower down, however. I will
take a look tomorrow!! Thank you!!

On Sun, May 5, 2019, 4:17 PM Sourav Sahoo <notifications@github.com> wrote:

[2019-05-05 20:34] Souravirus commented on #5612
Yeah I can try this fix. Thanks!!

[2019-05-05 22:20] jywarren commented on #5612
awesome!!!

On Sun, May 5, 2019 at 4:34 PM Sourav Sahoo <notifications@github.com>
wrote:

[2019-05-06 11:19] Souravirus commented on #5612
@jywarren  I have improved the homepage and kept only one image instead of the carousel.
Here is the gist https://gist.github.com/Souravirus/7bb63f9188f955d85e856ea14e47caff
Thank you!!

[2019-05-06 14:26] jywarren commented on #5612
It looks great, Sourav, thanks. I may mess with the white text a bit but it's already not perfect...

https://stable.publiclab.org/home

I notice that there are now only 2 columns where we used to show 4;

![Screen Shot 2019-05-06 at 10 18 52 AM](https://user-images.githubusercontent.com/24359/57231507-a2723400-6fe8-11e9-9888-2c4cb9156a9d.png)

do we need to change a style in `views/notes/_notes.h

[2019-05-06 14:49] Souravirus commented on #5612
Hmm this seems fishy, let me see it.

[2019-05-06 15:05] Souravirus commented on #5612
Hi @jywarren, actually there was a mistake by me while doing the update. I have changed col-md-3 col-lg-6 which has been corrected to col-lg-3. So, now everything will appear fine.
Thank you!!

[2019-05-06 20:26] gauravano opened #5664 "Follow-up on Survey result discussion"
Require more information, tagging @rexagod

- PROPOSAL: keep a page describing all the repos. Other repos besides SmartForm are also still single contributor, and we can do something about them +1

- PR can drop a survey link everytime a PR gets merged
- hold monthly discussion of results over gitter+1
- it should have 4-5 questions+1
- DECISION Liz will make sure this happens with Gaurav et al

[2019-05-06 20:30] gauravano commented on #5664
Hi @ebarry @publiclab/plots2-reviewers @publiclab/reviewers @publiclab/is-reviewers, these are some of the proposal which we got in our call and there are many more, so let's take them down one at a time. Just for ref, here's the notes - https://pad.publiclab.org/p/developers

Thanks!

[2019-05-06 23:34] jywarren commented on #5633
I was thinking about this, and I think we might think about the following case:

Many images now use a URL schema like: `![filename.jpg](/i/12345.jpg)` - this in Markdown. That's what our `images_controller` currently puts out. What if we auto-recognized that style, and, using only JavaScript, linked such images (if not already linked) to their full-res originals, which in this case would be at: `

[2019-05-06 23:49] jywarren opened #5667 "Compiling a "how we work" document (esp for Outreachy/SoC)"
Following up on the call today we have many good ideas for how to better organize and present our "cooperation style" and workflows. Some are good recommendations. Some we might choose to adopt more officially. Almost all bear some discussion. I want to try to make a list here, choose maybe 5 or so of the top that have most consensus, and start with those -- we can refine/revise/revisit later as w

[2019-05-06 23:55] jywarren commented on #5022
Thank you, everyone - we've been extremely grateful and lucky to work with all of you. As you may have heard our projects with Outreachy were announced today and I wanted to express our gratitude for all of your presence, your work, your skills, and your spirit. Not everyone's project was selected but that does NOT mean we felt your proposals and your work were anything less than tremendous. 💯 We

[2019-05-06 23:55] #5022 closed

[2019-05-07 01:03] jywarren opened #5668 "Email receiving (reply by email) not working"
I just confirmed this and we need to do a bit of investigation on this, cc @icarito @namangupta01 thanks!

[2019-05-07 01:05] jywarren commented on #5668
Hmm, I see 120 mailers enqueued, could it be related?

https://publiclab.org/sidekiq/queues

[2019-05-07 03:29] skilfullycurled commented on #5664
@gauravano, I compiled all of the proposals with their line numbers and put them at the end of those call notes at line 298.  Unfortunately, I hadn't thought about what would happen to the line number accuracy if someone wrote anything at the top think, but hopefully they can always serve at least as a general location.

[2019-05-07 03:44] sashadev-sky commented on #5667
Hi!
Here are some ideas I have, feel free to add them to the list if you like them @jywarren:
1) I got this idea directly from the GSoC mentor guide, and its more of an idea to implement on PL's side rather than the student, but for Github releases I was thinking we could start listing specific bug fixes and giving credits to those who fixed them. An example of a repo that does this is [https://gi

[2019-05-07 04:02] ValeriaCobianISW commented on #5656
Hi @gauravano this issue is done, asking for review!!

[2019-05-07 05:08] sashadev-sky commented on #5610
@CleverFool77 ok cool, I think the overflow css property is a good place to start, and then consider for the other issue also implementing a limit on length in the first place or opening an issue for it would be a good idea. Does that sound good?

[2019-05-07 07:33] SidharthBansal commented on #5667
We can plan for weekly video calls to increase the team spirit. If mentors are less available than we can have it alternate weeks.
What do you all say?

[2019-05-07 08:22] sagarpreet-chadha commented on #5667
Really liked the idea of giving credits in the github release page @sashadev-sky :smile:  , especially as this will give recognition and motivation to people .

A good thing about most of the SoC students is that they are already contributing for a while now and have grasp of how things work in our community  , hence we can jump directly to implementation discussion part and maybe start coding ear

[2019-05-07 08:26] sagarpreet-chadha commented on #5667
@SidharthBansal ...yes great idea ! This way we can keep track of work in other projects as well OR maybe get some new insights on how we can make mentor-student communication more seamless ?
 I am always up for video/voice calling :100:  .

[2019-05-07 13:25] publiclab-mimi opened #5670 "Sidebar now missing on dashboard"
<img width="1192" alt="Screen Shot 2019-05-07 at 8 20 54 AM" src="https://user-images.githubusercontent.com/48802639/57302731-76ff5000-70a1-11e9-8bf8-eb2950ae8efe.png">

Logged on this morning and noticed that the sidebar that's usually there to encourage me to write a post/ask a question/like us on facebook is missing. I've noticed this in both safari and chrome. it doesn't appear whether I am lo

[2019-05-07 13:48] IshaGupta18 opened #5671 "Basic UI design for file upload for Sensor Data Library"
So commencing the summer of code here's the very basic thing to start with for the Sensor Data project:

Designing the UI for file upload:

I plan to design it something like this:

![image](https://user-images.githubusercontent.com/40794215/57304177-7a73f500-70fc-11e9-8418-7d362e506920.png)

I hope the design is okay @namangupta01 . If you have any suggestions, please chime in!

Since the file is

[2019-05-07 13:49] IshaGupta18 commented on #5671
@jywarren @namangupta01 @SidharthBansal @gauravano is this okay for starters?

[2019-05-07 14:16] jywarren commented on #5670
Hi, Mimi - i think it somehow got pushed to the bottom:

![image](https://user-images.githubusercontent.com/24359/57306587-1841d280-70b1-11e9-82c9-7fee4310c293.png)

Thanks for catching it, i wonder if it somehow has to do with the lack of image for the blog post? I'll try adding one there to see.

[2019-05-07 14:18] SidharthBansal commented on #5671
Great start Isha.
Just wanna know which functionality is built till yet?
A. Upload with link
B. Drag file.
In case both of them are implemented it is great start. If something is left, then we can work at the back end first and then come back here. What do you suggest Isha?

[2019-05-07 14:21] IshaGupta18 commented on #5671
Right now, I am generating a model and controller file for csvfiles, so that I have a basic MVC structure ready, then I am gonna start building the 2 things you have listed. I have created this issue so that I can get a consensus on what everyone thinks and can start the work! Thanks a lot!

[2019-05-07 14:32] SidharthBansal commented on #5671
UI looks perfect to me. You should now start focusing on the back end.

[2019-05-07 14:34] IshaGupta18 commented on #5671
The UI isn't designed yet, this is the wireframe, I have to design it first!

[2019-05-07 14:36] SidharthBansal commented on #5667
There are two things to consider Sagar, will the calls group calls or 2
people calls or both?

On Tue, May 7, 2019, 1:57 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-05-07 14:39] SidharthBansal commented on #5667
Sasha I liked your idea a lot. Initially we tried the system of credits at
time of GCI, but we have to do a lot of overhead work. Like deciding which
PR should be given how much credits and so on. We ultimately closed that
issue as we wanted positive support instead of competition.
In case we want to implement this then we need to decide a lot of
parameters. We can reopen the previous issue. What

[2019-05-07 14:44] SidharthBansal commented on #5671
Cool. What will you place in the buttons, if  back end is not created? I
mean to say, its better to complete the back end and then front end.

On Tue, May 7, 2019, 8:04 PM Isha Gupta <notifications@github.com> wrote:

[2019-05-07 14:44] publiclab-mimi opened #5672 "Getting logged out when attempting to make a new Wiki"
Having some issues creating a new Wiki page, but only in Chrome. When I'm logged in and press "Create a new wiki" at the page shown below...

<img width="1170" alt="Screen Shot 2019-05-07 at 9 41 02 AM" src="https://user-images.githubusercontent.com/48802639/57308813-95b71400-70ac-11e9-93e7-d5782abb6d54.png">

I'm redirected to a page asking me to log in.

<img width="1184" alt="Screen Shot 2019-0

[2019-05-07 14:51] IshaGupta18 commented on #5671
Yes!
So this is the basic MVC I have created for the CSVfiles
This is what the table looks like:

![image](https://user-images.githubusercontent.com/40794215/57309149-320d0500-7105-11e9-8de6-aa08f90ef08f.png)

The controller
![image](https://user-images.githubusercontent.com/40794215/57309069-0a1da180-7105-11e9-8798-19ede4a53bcc.png)

The model:

![image](https://user-images.githubusercontent.com/

[2019-05-07 14:53] SidharthBansal commented on #5671
I guess it is right way. Where is the pr?

On Tue, May 7, 2019, 8:21 PM Isha Gupta <notifications@github.com> wrote:

[2019-05-07 14:56] jywarren commented on #5670
Looks like that did it! Thanks again for helping catch this!!!

![image](https://user-images.githubusercontent.com/24359/57309816-b8e6c100-70b6-11e9-8c0a-3e6d86c48dac.png)

[2019-05-07 14:56] #5670 closed

[2019-05-07 15:02] IshaGupta18 commented on #5671
Here's the PR for the first half of this issue! Thanks a lot!

[2019-05-07 15:11] #5259 closed

[2019-05-07 15:21] jywarren commented on #5671
Hi, Isha! I wanted to note my suggestion on your proposal here from today: https://publiclab.org/notes/IshaGupta18/03-04-2019/gsoc-proposal-sensor-data-upload-and-display-library

I think actually we may want to set aside the integration portion for later -- and even then, I think the current ability to upload CSVs using the normal file upload is pretty reasonable.

I encourage you to think about

[2019-05-07 15:22] jywarren commented on #5671
So, for one, you could create a very minimal UI on an HTML page in a new repository, and start iterating on that quite quickly, without yet thinking about integration. That'll let you get started real fast!

I can make a new repository and give you and @namangupta01 admin rights to it for now. What name?

`publiclab/data-grapher` to keep it simple for now? Or something more fun?

[2019-05-07 15:27] IshaGupta18 commented on #5671
Oh this name's good. This would be great! Let's get started then! Thanks a lot.

[2019-05-07 15:28] IshaGupta18 commented on #5671
And so what do you think about the PR I have made above. That is done just for uploading the CSV files against the current user. Is that okay?

[2019-05-07 15:33] jywarren commented on #5671
Well, I think that since users can currently already upload CSVs, the main thing we really need is a way to view all CSVs uploaded by a user. So, this may be a controller action, not a whole new table, you know?

I've made https://github.com/publiclab/simple-data-grapher/ and made @namangupta01 and @IshaGupta18 admins on it.

It publishes to https://publiclab.github.io/simple-data-grapher/ when yo

[2019-05-07 15:34] jywarren commented on #5671
I love the design at top. You could open an issue there and begin copying your proposal steps into it, and also @namangupta01 can, and you could start seeing what parts of your proposals overlap and where you both want to start work on it!

[2019-05-07 15:36] jywarren commented on #5667
I've also added a Planning Issues section above!

[2019-05-07 15:36] IshaGupta18 commented on #5671
Oh, actually I thought that by making a new table, it would be easier to handle the library because a lot of stuff is to be done on the uploaded files, like I mentioned in the proposal. But that be okay if we don't wanna use that.

[2019-05-07 15:38] IshaGupta18 commented on #5671
About the new repo, thank you so much for giving us an entire workspace. Although, I am not sure how to begin working on it. I created the PR above, so that a view on a route say `/data-grapher` could be rendered, where the design will be implemented. Could you please explain how that can be done through the new repo?

[2019-05-07 15:39] jywarren commented on #5671
I think let's start with the existing infrastructure, and see how far we
can go that way, and consider an expansion as a follow-up once a lot of the
other portions of the project are running? There is always a balance to be
considered between new systems adding complexity and efficient re-use of
existing systems. But since the existing system provides the most basic
needed functions, I think we ca

[2019-05-07 15:42] IshaGupta18 commented on #5671
So this means that I can create this design here in plots2 for now, before moving it up to the new repo?

[2019-05-07 15:46] jywarren commented on #5671
I think you can start by making an index.html file in the new repository,
and including in the necessary files. Take a look over projects like
https://github.com/publiclab/PublicLab.Editor,
https://github.com/publiclab/webjack/, and
https://github.com/publiclab/inline-markdown-editor/ and ask questions of
some of the folks above to get a sense of how you can work in a stand-alone
library like this

[2019-05-07 15:55] IshaGupta18 commented on #5671
Oh okay, I can start with index.html and see how it goes. I did read up about the editor while writing the proposal, and I saw that the basic functioning of views and controllers is in plots2 itself and the library's stylesheets and scripts are imported to apply to the files in plots2, that's why I decided to begin building something on the same line.
https://github.com/publiclab/plots2/blob/maste

[2019-05-07 16:14] jywarren commented on #5671
That's right! Yes, and that file corresponds to this demo file:
https://github.com/publiclab/PublicLab.Editor/blob/master/examples/index.html
which
is designed to be functional even without a parent app. Great!

On Tue, May 7, 2019 at 11:55 AM Isha Gupta <notifications@github.com> wrote:

[2019-05-07 16:16] jywarren commented on #5672
Hi, Mimi! I think this is because we require people to post a note first,
before a wiki page. But the error message is getting lost somehow!

So, we should follow-up by finding out what happened to the message (and
why you're getting logged out!)

You can post a question and that counts, and should let you then post a
wiki page (as a quick work-around). Thanks!

On Tue, May 7, 2019 at 10:45 AM pub

[2019-05-07 16:24] publiclab-mimi commented on #5672
I've posted questions and was logged in, but it still send me through this loop.

[2019-05-07 16:27] jywarren commented on #5672
Hmm, it seems unlikely that there's a difference, but now that you've also
posted a note, could you try one more time, to see if maybe questions
aren't included in the check? Thanks, Mimi!

On Tue, May 7, 2019 at 12:24 PM publiclab-mimi <notifications@github.com>
wrote:

[2019-05-07 16:40] publiclab-mimi commented on #5650
I'm currently unable to click to upload or drag an image onto a wiki page. I'm not sure if it's related. I'm not getting an error, just no response no matter how long I let the webpage sit open and "think" about it.

[2019-05-07 16:44] publiclab-mimi opened #5674 "Problems with parent powertag"
I want to make this page (https://publiclab.org/wiki/student-led-community-science-in-the-classroom-a-curriculum) the parent page for this page (https://publiclab.org/notes/mimiss/05-07-2019/workshop-i-how-do-communities-respond-to-environmental-problems)

but I'm having trouble with the powertag.

I think it should be parent:student-led-community-science-in-the-classroom-a-curriculum but it doesn

[2019-05-07 16:46] publiclab-mimi commented on #5672
Still having this problem but only in Chrome. Posted wiki then research note this morning in Safari with no issue.

[2019-05-07 16:49] jywarren opened #5675 "new tags page cards need updating to Bootstrap 4"
Hi, @divyabaid16 -- in follow-up to https://github.com/publiclab/plots2/pull/5384, i notice the new Bootstrap 4 project broke your work, i'm sorry!

![image](https://user-images.githubusercontent.com/24359/57317546-55648f80-70c6-11e9-80b4-957da1d39704.png)

I think it should be a minor fix. Would you mind giving it a try using the docs at http://getbootstrap.com to see the new card CSS?

Thank you

[2019-05-07 16:49] jywarren commented on #5675
https://stable.publiclab.org/tags

[2019-05-07 16:50] jywarren commented on #5672
Oh strange! Um. Can you try Chrome in incognito mode?

On Tue, May 7, 2019 at 12:46 PM publiclab-mimi <notifications@github.com>
wrote:

[2019-05-07 16:54] jywarren commented on #5229
Confirmed this works on stable server!

[2019-05-07 17:10] publiclab-mimi commented on #5672
In incognito it works fine!

[2019-05-07 18:44] jywarren commented on #5612
Found a couple small ones here; one is a feature we will probably get rid of, but it uses the tag `tabbed:notes` to display tabs; compare this page (https://stable.publiclab.org/wisconsin) to the one on PublicLab.org:

![image](https://user-images.githubusercontent.com/24359/57324746-79c86800-70d6-11e9-9fd3-f4c21500dd45.png)

The other is small; i see this in a few places, but the button groups ar

[2019-05-07 18:55] jywarren commented on #5672
So strange. If you see it happening still in normal Chrome, try clearing
your cache to see if that helps. Apologies for the trouble!

On Tue, May 7, 2019 at 1:11 PM publiclab-mimi <notifications@github.com>
wrote:

[2019-05-07 18:56] jywarren commented on #5674
Oh, is it possible that having /both/ `series:_____` and `parent:______` is
causing one to show instead of the other? Could you try removing
`series:_____` for now to see if the parent tag alert shows up instead?
Either way, we can look into the code for this section and fix this. Thanks!

On Tue, May 7, 2019 at 12:44 PM publiclab-mimi <notifications@github.com>
wrote:

[2019-05-07 19:10] publiclab-mimi commented on #5674
Unfortunately removing the series tag didn’t fix the parent page problem

[2019-05-07 20:01] IshaGupta18 commented on #5671
Also, about the PR, should we do the new table thing, so that the code remains a little more maintainable and modular, instead of grouping everything about files in one place. It could probably be a little more efficient too. What do you all think? We can discuss over it!

[2019-05-07 20:03] IshaGupta18 commented on #5671
I am actually asking this because once we'll have to integrate like in PL editor, we would need boundaries like the editor controller, model, and view which couple well together. I wanted to achieve something similar here, might help in maintaining uniformity too. Your views?

[2019-05-07 20:04] Souravirus commented on #5612
![image](https://user-images.githubusercontent.com/17192149/57329335-34855400-7131-11e9-9382-ffc7f1e4542a.png)
Here is the error I am getting while logging in to localhost. So, this is the error @jywarren

[2019-05-07 20:22] jywarren opened #5676 "Seeking input on a draft style guide for Public Lab"
Hi, everyone!!!

For a long time, folks making new pages and interfaces at PublicLab.org have not had much (if any) guidance or direction, and, understandably, have brought their own ideas to the project. This is great initiative, but we could do a better job setting some clear design conventions, and the whole site would benefit from some more consistency.

Lis Sylvan and I have been working on a

[2019-05-07 20:29] jywarren commented on #5612
hmm, uh oh! Um, i just merged a PR that passed tests addressing this. Did
something go wrong with the merge?

On Tue, May 7, 2019 at 4:05 PM Sourav Sahoo <notifications@github.com>
wrote:

[2019-05-07 20:30] jywarren commented on #5612
Huh... it should be available, no?
https://github.com/publiclab/plots2/search?q=logged_in_as

On Tue, May 7, 2019 at 4:05 PM Sourav Sahoo <notifications@github.com>
wrote:

[2019-05-07 20:31] jywarren commented on #5612
https://github.com/publiclab/plots2/blob/d55c716621d8072d0ffcd51b46c6b2b240ce5f4d/app/helpers/application_helper.rb#L3

On Tue, May 7, 2019 at 4:30 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-05-07 20:31] jywarren commented on #5612
Ack, helpers are available to views but not by default to controllers. We
will need to change where we do this from controllers...

On Tue, May 7, 2019 at 4:30 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-05-07 20:39] jywarren commented on #5612
OK i'm going to copy this method into application_controller for now, just
to solve this.

On Tue, May 7, 2019 at 4:31 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-05-07 20:41] jywarren commented on #5612
but i want to catch this in a test -- and know why it didn't work!
https://github.com/publiclab/plots2/pull/5677

On Tue, May 7, 2019 at 4:39 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-05-07 21:11] jywarren opened #5678 "/inline-maps page showing some errors"
https://publiclab.org/wiki/inline-maps seems to be stalling and erroring a bit, and I know @sagarpreet-chadha has worked on this before, so I feel bad bringing it up again, but there are some

I see a few things going on which I think is what makes this so complicated.

1. This is inconsistent, but I'm seeing a lot of the maps on that page greyed out, as if they're stalling while loading
2. Oddly,

[2019-05-07 21:11] jywarren commented on #2254
Is this still open?

[2019-05-07 21:26] jywarren commented on #4138
Hi, all! @cesswairimu is this perhaps already done? If not, what would be the next step here? Thanks a lot!

[2019-05-07 21:26] #2068 closed

[2019-05-07 21:26] jywarren commented on #2068
Closing this!!!!

[2019-05-07 21:26] jywarren commented on #837
In the new design, we will be showing topic areas instead of individual posts, so this should be resolved! Thanks!

[2019-05-07 21:26] #837 closed

[2019-05-07 22:03] jywarren commented on #5671
Hi, Isha - I think there are pros and cons, for sure, and yeah, let's discuss! Let's continue thinking about it, but the important part is that we can proceed in a stand-alone library for now, without the decision about a separate table needing to block progress. So there's no rush to come to a decision in a hurry.

Let's also be sure our discussion of the plots2 storage is in a good location, not

[2019-05-07 22:04] jywarren commented on #5671
Also noting that this model is quite short and simple: https://github.com/publiclab/plots2/blob/master/app/models/image.rb

We could develop a new controller but use the same model, as one option.

[2019-05-07 22:38] jywarren opened #5679 "Reduce redundancy in inline grids file"
This file is very well tested, but has LOTS of redundancy:

https://github.com/publiclab/plots2/blob/master/app/models/concerns/node_shared.rb

CodeClimate gives a great overview of the level of code duplication here:

https://codeclimate.com/github/publiclab/plots2/app/models/concerns/node_shared.rb

Here you can see that we have tests covering all but the `notes_thumbnail_grid` code, which shoul

[2019-05-07 22:45] jywarren opened #5680 "Integrate a Prompt button into inline maps"
Some of our inline grids, like `[activities:________]` generate a "prompt" button to add another node with these tags (docs at https://publiclab.org/wiki/power-tags#Inline+power+tags):

![image](https://user-images.githubusercontent.com/24359/57337505-93c67280-70f7-11e9-85ee-1ce1d0f190e7.png)

That's driven from this function: https://github.com/publiclab/plots2/blob/master/app/models/concerns/nod

[2019-05-07 22:53] jywarren commented on #766
This is a cool one - started on it here! https://github.com/publiclab/plots2/pull/5681

[2019-05-07 23:24] jywarren commented on #5612
OK, fixed it! https://stable.publiclab.org/dashboard -- still not sure how this didn't get caught by tests... maybe it's because we run the tests with ApplicationHelper included? I'll try to write a system test for the dashboard!

[2019-05-07 23:31] jywarren commented on #5612
OK, dashboard system test here: https://github.com/publiclab/plots2/pull/5682

[2019-05-08 00:38] sashadev-sky commented on #4963
New FTO in Leaflet.DistortableImage (JavaScript library): https://github.com/publiclab/Leaflet.DistortableImage/issues/248

@benfanderson @SamueleM97 @becomingajunior

[2019-05-08 04:02] IshaGupta18 commented on #5671
I agree with you, let's have a more organized discussion on it but keep the work going and not let this block the work. But once we get flowing, I think it will be good to land on a decision, because we will be needing it to save a CSV file against a user and then taking the rest of the work from there on. Thanks a lot!

[2019-05-08 04:53] jywarren opened #5683 "Timing failures in system tests"
We're seeing intermittent test failures due to Capybara not waiting long enough; now:

[code]

We can individually set a wait parameter but maybe better to set it system wide...

### PRs that are stuck:

* #5654
* #5655
* https://github.com/publiclab/plots2/pull/5681
* https://github.com/publiclab/plots2/pull/5526 (this takes 1137.86s to build... system tests are only 20s)
    * 24m: screenshots t

[2019-05-08 05:45] sagarpreet-chadha commented on #5678
More details here : https://github.com/publiclab/plots2/issues/4722

I made a copy of this page as a `note` of the main `wiki` page here : https://publiclab.org/notes/sagarpreet/01-30-2019/inline-map-testing  and this note is working fine .

I am investigating on why the same content is not working on the `wiki page` : https://publiclab.org/wiki/inline-maps . Most probably it is due to external JS

[2019-05-08 06:34] sagarpreet-chadha commented on #2254
Hi @jywarren ,
Yes this is solved : you can check here : https://publiclab.org/notes/sagarpreet/01-30-2019/inline-map-testing .
Okay currently inline maps are not showing on `/wiki` pages but it related to LEL (https://github.com/publiclab/plots2/issues/5678) . Closing this 😄 !!!

[2019-05-08 06:34] #2254 closed

[2019-05-08 06:40] IshaGupta18 commented on #5671
@jywarren @namangupta01 I am happy to tell you that the basic UI for file upload is ready in the `simple-data-grapher' and you can view it on https://publiclab.github.io/simple-data-grapher/upload_file.html. This is just the basic one, I'll be coming up with the toggle navbar and the rest of the 2 panels, once the parsing function is implemented! Thanks a lot!

[2019-05-08 06:57] Souravirus commented on #5612
![image](https://user-images.githubusercontent.com/17192149/57355726-4f38e680-718c-11e9-8a96-abc4c3e082db.png)
@jywarren, In the homepage, these items are overlapping, can you please send me the homepage features again, I will correct them.
And nice to hear that the dashboard is working fine.
:smile:

[2019-05-08 14:00] jywarren opened #5684 "Convening teams + planning issues for Outreachy/Summer of Code"
Hi, all! We have some more guidance coming for folks in our summer programs #5667 -- but I also want to encourage people to begin getting to know one another, and looking at who will be working together this summer.

Some of you are pretty much on a team together on one project, like @alaxalves and @kaustubh-nair -- although how you share the work needs to be planned out -- and others will be work

[2019-05-08 14:37] jywarren commented on #5672
I believe this Sentry issue is related; not sure why it's intermittent...

[code]

Error on this line... it can't find the template???

https://github.com/publiclab/plots2/blob/5ce073cc2628c9e08a1e84ad53b0a965a3004421/app/controllers/wiki_controller.rb#L145

It should find this: https://github.com/publiclab/plots2/blob/master/app/views/wiki/edit.html.erb

[2019-05-08 14:38] jywarren commented on #5672
Whoa!!! `:formats=>[:gif]` ???

It matches the timeframe:

![image](https://user-images.githubusercontent.com/24359/57383756-5c020e00-717d-11e9-8141-a0bbbab9f617.png)

[2019-05-08 14:39] jywarren commented on #5672
Oh, this is probably not it. The path for this Sentry error is: `https://publiclab.org/wiki/owmloading.gif`

[2019-05-08 15:05] jywarren commented on #5675
awesome!!!

On Wed, May 8, 2019 at 9:52 AM Divya Baid <notifications@github.com> wrote:

[2019-05-08 15:33] namangupta01 commented on #5671
Hi @jywarren and @IshaGupta18, sorry for not replying. I have my exams going on and also had one today.
Have created the basic project structure for the project. Have a look.

[2019-05-08 15:50] jywarren commented on #5652
OK, testing now, i hope... let's see how it goes! Thanks!

[2019-05-08 15:51] jywarren commented on #5652
Also, how are we on the oauth prompt UI on MapKnitter? Thanks!

[2019-05-08 15:58] jywarren commented on #5652
I noticed these branches' `sessions_controller.rb` are pointed at https://unstable.publiclab.org - can you adjust that in SWB? I haven't checked MK but let's be sure there too.

[2019-05-08 16:12] jywarren commented on #5652
SWB looks good, even in not-quite-finished state:

![image](https://user-images.githubusercontent.com/24359/57390489-7989a480-718a-11e9-8485-10536a724a72.png)

[2019-05-08 16:15] jywarren commented on #5678
ok, awesome! Thanks so much, Sagarpreet!

On Wed, May 8, 2019 at 1:46 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-05-08 16:47] SidharthBansal commented on #5652
Query 1:Hi, for the mapknitter I pushed the changes to unstable mapknitter with unstable.mk in sessions controller.
In the SWB, I don't know where I have to push.
Query 2:Also, in the plots2, openid is using around 9 redirects from different controllers to different controllers, so when we move from the unstable.mk to unstable.pl it gets redirected to pl somehow.
So, I will ask you to set up and t

[2019-05-08 16:50] SidharthBansal commented on #5652
Frontend is broken into ftos and is implemented by folks. So, we don't need to worry much there. We have really supportive community Jeff this year. :smile:

[2019-05-08 16:54] SidharthBansal commented on #5652
For testing at local please follow https://github.com/publiclab/plots2/issues/5652#issuecomment-489143992. Thanks

[2019-05-08 17:03] SidharthBansal commented on #5652
Click on login on the header
OR
go to localhost:3002/login
Both will work.
Frontend is going separately in other prs. I made frontend is separate pr as those prs does not need us to run 3 server simultaneously.

[2019-05-08 17:05] SidharthBansal commented on #5652
Done for both MK and SWB

[2019-05-08 17:22] jywarren commented on #5668
https://github.com/publiclab/plots2/blob/10dcec31fb3dc51484e7a1523d5aa56b025b5f16/script/mailman_server#L6

[2019-05-08 17:23] jywarren commented on #5668
Noting:

[code]

the place is /srv/plots_container/plots2/log/mailman.log

[2019-05-08 17:46] CoderJolly commented on #5629
Generated PR #5686

[2019-05-08 17:54] jywarren commented on #5652
OK, i'm almost installed all gems and running the local tests, i'll follow that, thank you.

I clicked `Log in` in SWB in the above screenshot and was directed to:

http://localhost:3001/session/new?authenticity_token=5BKc7Cnm5kaWKslIv%2BcDMsg5ciDXYRBbmF7CgYLf2G8%3D&back_to=%2F&return_to=%2F

[code]

[2019-05-08 17:56] jywarren commented on #5652
OK, looks like it's getting nil for `identity_url` - did I do something wrong?

[code]

[2019-05-08 17:57] SidharthBansal commented on #5652
Ensure two things. First, the plots2 server is running simultaneously at
localhost: 3000. Second, user session controller should have local
host:3000 instead of publiclab.org at MK and SWK.
Then it will work.

On Wed, May 8, 2019, 11:24 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-08 17:59] SidharthBansal commented on #5652
Also ensure that all the three repos have my PRS. In case either of three
will not have my PR then it will not work

On Wed, May 8, 2019, 11:26 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-08 18:02] jywarren commented on #5668
OK, logs show:

[code]

aha:

[code]

[2019-05-08 18:03] jywarren commented on #5668
`I, [2019-05-06T21:19:41.081599 #1]  INFO -- : Got new message from 'mailer-daemon@googlemail.com' with subject 'Delivery Status Notification (Failure)'`

Let's also think of how we could be catching this with a monitoring system?

[2019-05-08 18:03] jywarren commented on #5652
I believe I have all those conditions true... let me double-check...

[2019-05-08 18:04] jywarren commented on #5652
oh haha, hadn't started local mysql. 😅

[2019-05-08 18:06] SidharthBansal commented on #5652
No problem. Its like time consuming to set and operate these 3 servers
simultaneously. But happy to learn how to execute processes when
applications are running concurrently.

On Wed, May 8, 2019, 11:34 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-08 18:09] jywarren commented on #5668
OK @icarito found:

[code]

[2019-05-08 18:10] jywarren commented on #5668
This line:

https://github.com/publiclab/plots2/blob/07490f26b82cf8e14bb612caf86ec9b9f1d52f95/app/models/comment.rb#L265

[2019-05-08 18:20] jywarren commented on #5311
OK, we are seeing these `deliver_later` pile up in sidekiq!

https://publiclab.org/sidekiq/queues/mailers

![image](https://user-images.githubusercontent.com/24359/57398173-5e279500-719c-11e9-8cf4-fdf521d6971f.png)

[2019-05-08 18:21] SidharthBansal commented on #5652
In case you find any other difficulty in setting it up, then pls feel free
to ping me.
Also, I will request you to check the server logs for all the three repos
before merging those PRS.

On Wed, May 8, 2019, 11:36 PM Sidharth Bansal <bansal.sidharthcode@gmail.com>
wrote:

[2019-05-08 18:22] SidharthBansal commented on #5652
I mean server log for your local when the request of open id is executed
correctly.

On Wed, May 8, 2019, 11:51 PM Sidharth Bansal <bansal.sidharthcode@gmail.com>
wrote:

[2019-05-08 18:22] patcon commented on #5667
Here are some related comments -- :mag: facts, :heart: feelings, and :bulb: ideas:

- :mag: [`OWNERS` is a file format](https://github.com/bkeepers/OWNERS) for declaring who's accountable for sections of repo.
  - :mag: There is [a `probot-owners` plugin](https://github.com/bkeepers/probot-owners) that @mentions any GitHub member into PRs based on the `OWNERS` file.
- :mag: GitHub has a separate [

[2019-05-08 18:48] gauravano commented on #5676
The guide looks great @jywarren :tada:. We can create a .md file of style guide too once we're done with draft?

Thanks!

[2019-05-08 19:08] gautamig54 commented on #5629
@CoderJolly Great work! Welcome to PL.

[2019-05-08 19:31] gauravano commented on #5667
*.Participating in Check-Ins instead of blogging, unless you have something bigger to announce?

I think, we can ask for 2 blogs per month as that would also help the SOC interns in reflecting back on their work, experience and would also help others in knowing the project better.

Hmm, interesting. We can try this.

Yes!

waiting :smile:

Agree!

Yes, we have `gsoc`, `outreachy`, `summer-of-code`

[2019-05-08 19:38] jywarren commented on #5676
I think so! I was going to start by hosting it on the PL wiki, but yeah,
that's an option too!

On Wed, May 8, 2019 at 2:49 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-05-08 19:40] jywarren commented on #5671
Good luck with your exams!!!

On Wed, May 8, 2019 at 11:34 AM Naman Gupta <notifications@github.com>
wrote:

[2019-05-08 19:51] jywarren commented on #5622
Did this work for you, @AnthoniaOkafor ? Thanks!

[2019-05-08 19:53] gautamig54 commented on #5667
Great ideas @jywarren @sashadev-sky @SidharthBansal @gauravano !!
I guess we can start by identifying mentors and our fellow applicants with whom we will be collaborating through this summer. Maybe create a separate Gitter rooms for each project with mentors and soc applicants concerning that project. We have to make the best use of the Community bonding period.
Also, each team can decide upon a c

[2019-05-08 21:08] jywarren commented on #5311
So, I think this may actually be all good, but just we're never actually triggering the job.

https://api.rubyonrails.org/classes/ActionMailer/MessageDelivery.html#method-i-deliver_later

OK, more on this here: https://stackoverflow.com/a/51642031

We need: `config.active_job.queue_adapter = :sidekiq`

https://gist.github.com/maxivak/690e6c353f65a86a4af9#configure-sidekiq

I'm not sure if `config.

[2019-05-08 21:08] jywarren commented on #5311
If it passes, i'll merge into stable, and we can publish along with the big Bootstrap upgrade; we'll see how it does in production, since these emails are not critical!

[2019-05-08 21:10] jywarren commented on #5311
Also good docs: https://blog.morizyun.com/ruby/library-sidekiq-job-queue-active-job.html

[2019-05-08 21:16] jywarren commented on #5668
OK! I got a very complete log out:

Key section:

[code]

AND

[code]

Comment.rb line 209:

[2019-05-08 21:17] CoderJolly commented on #5629
Still taken ?

[2019-05-08 21:18] jywarren commented on #5668
And noting - this is intermittent! This comment went through 2 days ago: https://publiclab.org/notes/warren/05-06-2019/a-big-welcome-to-our-outreachy-gsoc-team-for-2019#c24034

[2019-05-08 21:19] jywarren commented on #5668
I think this `MySQL client is not connected` error is the issue; i scanned the entire log and got:

[code]

[2019-05-08 21:30] jywarren commented on #5652
Great. Finally getting time to do this fully.

* [x] log in from SWB > PL with existing account
* [ ] log in from SWB > PL with no existing account

This is really nice:

![image](https://user-images.githubusercontent.com/24359/57409253-d0f13a00-71b5-11e9-9661-e1cd5b5f1bb1.png)

However, the URL shows: `http://localhost:3000/dashboard` (which is still plots2). If I manually get the session `openid

[2019-05-08 21:39] jywarren commented on #5612
Ah! Our signup spamaway quiz is a little funky!

![image](https://user-images.githubusercontent.com/24359/57410173-1d3d7980-71b8-11e9-8bd5-ac4356360eb8.png)

And here's the front page! https://gist.github.com/jywarren/3128766b5739555e6096aa12b27ab754

Thanks, @Souravirus !!!

[2019-05-08 21:40] jywarren commented on #5612
Lol i gave away the answers 🐷 🐻 🐰 ✍️

[2019-05-08 21:40] jywarren commented on #5652
Solved and pushed a commit!

[2019-05-08 21:42] jywarren commented on #5652
I can't test OAuth login from SWB locally, because locally i am not approved:

![image](https://user-images.githubusercontent.com/24359/57410368-a0f76600-71b8-11e9-934c-14880086cb29.png)

@SidharthBansal is there any way to test that?

[2019-05-08 22:33] SidharthBansal commented on #5652
Please check looking forward email for keys and passwords. Thanks

On Thu, May 9, 2019, 3:12 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-08 23:12] jywarren commented on #5652
I'm trying on GitHub with the right env keys now, and it did lead me through the GitHub OAuth approval, which was great. But I got this error:

[code]

So, we should display that, i think?

[2019-05-08 23:15] jywarren commented on #5652
Great, it works for unique emails! 🎉

Moving my checklist here:

* [x] log in from SWB > PL with existing account
* [x] log in from SWB > PL with no existing account
* [x] log in from SWB > PL with GitHub account
* [ ] need to display validation errors

[2019-05-08 23:31] jywarren commented on #5612
Hmm, I'm actually seeing some formatting issues for the whole signup form:

![image](https://user-images.githubusercontent.com/24359/57414837-cc358180-71c7-11e9-90ae-0f8b44cdf51e.png)

@IshaGupta18 @CleverFool77 I think you both have worked with this file, and may be familiar with it. Would either of you like to try refactoring it to work well in Bootstrap 4?

[2019-05-08 23:32] jywarren commented on #5612
https://github.com/publiclab/plots2/blob/master/app/views/users/_create_form.html.erb

[2019-05-08 23:33] jywarren commented on #5652
Great! All tested and good! I just want to check about showing an alert for the validation error, but otherwise this looks great.

[2019-05-08 23:33] jywarren commented on #5652
Tremendous job on getting it all right, Sidharth!

[2019-05-08 23:34] jywarren commented on #5652
It's SUCH a smooth process compared to before!!!

[2019-05-08 23:35] jywarren commented on #5652
So, we need to wait then until MapKnitter's new version publishes to production before actually doing this deployment. We haven't yet actually published MapKnitter for quite a while. This will also give us time to finish up the UI as well. Does this sound good then?

[2019-05-08 23:51] SidharthBansal commented on #5652
Great

On Thu, May 9, 2019, 5:05 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-08 23:53] jywarren commented on #2254
awesome!!!

On Wed, May 8, 2019 at 2:34 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-05-09 04:24] SidharthBansal commented on #5652
Actually these three PRS needs to be merged and deployed to production
simultaneously. Other work can be done after these PRS get merged. They can
be merged and deployed at any time. So,
I think UI should be done in separate PRS. What do you think?

On Thu, May 9, 2019, 5:21 AM Sidharth Bansal <bansal.sidharthcode@gmail.com>
wrote:

[2019-05-09 04:36] icarito commented on #5668
Here's all errors for the last week:
[code]
Most of the errors would have to have happened last week but not this one.
How can I reproduce?

Another thing, we are using a gmail mailbox? Could some of the email be trapped in SPAM folder?
Or worse: https://www.tablix.org/~avian/blog/archives/2019/04/google_is_eating_our_mail/

[2019-05-09 04:42] icarito commented on #5668
I just tried replying to a notification and the comment went thru:
https://publiclab.org/notes/warren/05-07-2019/introducing-a-draft-style-guide-for-public-lab?_=1557376882#

[2019-05-09 04:47] icarito commented on #5668
I tried logging into Gmail but it rejects me because I'm in a different geographic location and doesn't recognize my device.

[2019-05-09 05:05] icarito commented on #5668
Last week we were low on RAM until we did some adjustments perhaps this made the connections timeout?
Perhaps the email processing should check the database connection before downloading email?

[2019-05-09 06:48] Dhiraj240 commented on #4585
This year I applied as a participant for coala where I applied for 2 projects but I was unable to get a slot there. I had in mind to apply for Public Lab as a backup for "spectral workbench proposal" but it was hectic for me and that laziness shattered me.
Although I have applied as a mentor now at the above form, next year I will keep these things in mind..

[2019-05-09 08:11] sk9331657 commented on #4585
@jywarren I am so sorry for being inactive in the past months. I had some other commitments, however I am free now and would love to be a mentor. Thank you for giving me another opportunity. I have filled up the form.

[2019-05-09 08:34] rbhatia46 commented on #4585
@jywarren  I also apologize as I was busy with end-sem exams. Thanks for another opportunity. I have filled up the form. Kindly check.

[2019-05-09 09:19] aSquare14 opened #5690 "Add guidelines for opening fto or first timers issue in the README"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-05-09 09:29] aSquare14 opened #5691 "Change subscribe button in dashboard to hover instead of popover"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-05-09 12:51] geekychaser commented on #4585
@jywarren Sorry for being inactive from last two months as I was not able to apply as student this year due to some commitments but i would definitely love to mentor and have completed the requirements.

[2019-05-09 15:02] SidharthBansal commented on #4585
No problem. I hope you all were able to complete your commitments
completely.

You can still fill in the mentorship forms. Thanks

On Thu, May 9, 2019, 6:21 PM Rishabh Bothra <notifications@github.com>
wrote:

[2019-05-09 15:45] CleverFool77 opened #5693 "Fix the profile icon with bootstrap4 class"
## Description
Due to recent bootstrap4 upgrade, the profile icon class of bootstrap3 is not working anymore.
It would be great to have it back to circle like we earlier it.
We can use `rounded-circle` class of bootstrap4 instead of `img-circle` in bootstrap3.

Thanks !!!

[2019-05-09 16:52] jywarren commented on #5683
I've set `Capybara.default_max_wait_time = 8` in #5526, but we're still seeing intermittent failures. We could set it to 12 or 15 or 20, but this would start to really make looooooong Travis runs. This one was already 18 min 3 sec: https://travis-ci.org/publiclab/plots2/builds/530045458

[2019-05-09 17:05] dinaelhanan commented on #5647
I'd be happy to take this one :)

[2019-05-09 17:09] jywarren commented on #5647
Awesome!!!!!!! Hi!!!!!

On Thu, May 9, 2019, 1:05 PM d1g1t4ld1n4 <notifications@github.com> wrote:

[2019-05-09 17:33] jywarren commented on #5693
yes! awesome.

On Thu, May 9, 2019 at 11:46 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-05-09 17:38] jesus-montano commented on #5691
can I check this issue?

[2019-05-09 17:40] jywarren commented on #5652
Great, noting that since https://github.com/publiclab/spectral-workbench/pull/455 is merged, we shouldn't publish Spectral Workbench until this checklist is completed.

[2019-05-09 17:52] aSquare14 commented on #5691
Sure. Go ahead.

On Thu, May 9, 2019, 11:08 PM jesus-montano <notifications@github.com>
wrote:

[2019-05-09 17:56] SidharthBansal commented on #5652
Yeah, I mean to say this. We will deploy changes to the SWB when all 3 prs are merged. Before that we should not set them to production.

Sorry, I used wrong word. I should use `deploy` instead of `merge`. Apologies. You did correctly.
We are doing things correctly in correct order.

[2019-05-09 18:12] ebarry opened #5695 "[inline maps] current Max Zoom Level not enough to show entire country"
Hello!!!!!
@sagarpreet-chadha i was hoping to connect on this idea :)

In our inline maps, precision (number of digits after the decimal) determines the zoom level that the map loads on, but India (and other countries) are so big, you can't chop off any more digits. So here's what publiclab.org/india looks like:
![image-2](https://user-images.githubusercontent.com/161439/57476226-12d8b980-7264-11e

[2019-05-09 18:15] jywarren commented on #5695
this is awesome

On Thu, May 9, 2019 at 2:12 PM Liz Barry <notifications@github.com> wrote:

[2019-05-09 18:21] SidharthBansal commented on #5652
Just wanna know one thing, can we merge all the 3 prs and deploy them later simultaneously when the time comes (after bootstrap prs are merged)?
We are not deploying things so this will not break any consistency. What do you suggest Jeff?

[2019-05-09 18:35] SidharthBansal commented on #5684
Thanks Jeff. Let's plan things out.

[2019-05-09 18:38] eplata31 commented on #5680
Can I start working on this?

[2019-05-09 18:39] jywarren commented on #5680
oh, that would be great! It's a little complex but I'm happy to help out!

On Thu, May 9, 2019, 2:38 PM Enrique Plata <notifications@github.com> wrote:

[2019-05-09 18:42] jywarren commented on #5652
Hmm, maybe! But how long can we wait, maximum?

On Thu, May 9, 2019, 2:22 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-05-09 18:42] jywarren commented on #5652
I mean like worst case scenario :-)

On Thu, May 9, 2019, 2:41 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-05-09 18:42] CoderJolly commented on #5565
Still open, or any PR received ?

[2019-05-09 18:43] SidharthBansal commented on #5684
Hi @publiclab/soc team, all the participants are requested to open Planning issues like we did last summer.
For one project we can open up one planning issue. Example for `MK Rails Upgrade` we will have one planning issue in the MK repository where @kaustubh-nair  and @alaxalves will coordinate.
We can follow this approach for all the projects.
Like Naman and Gautami for `Notification System`
Nama

[2019-05-09 18:45] #5489 closed

[2019-05-09 18:47] kaustubh-nair commented on #5684
Sounds awesome.
@alaxalves and I will have a discussion over the weekend and put up the schedule and division of work on the planning issue accordingly.

[2019-05-09 18:49] SidharthBansal commented on #5652
We can wait as much as we want. We just need these 3 prs to be merged at any time before deployment(plots, mk, & swb). Does this makes sense?

[2019-05-09 18:52] CoderJolly commented on #5305
Shall i close this issue @gauravano , the changes are already there in code ?

[2019-05-09 18:53] SidharthBansal commented on #5676
Hi, that's awesome.
I think it will be better to use `wiki` feature of the Public Lab. In case we will create style guides for each repository then it will have redundancy. And redundancy is tough to manage.

[2019-05-09 18:55] SidharthBansal commented on #5684
That will be simply awesome!!!
You can discuss and interact at the planning issue. Update the header of the issue as you progress through out the project

[2019-05-09 18:59] SidharthBansal commented on #5684
@publiclab/soc also, we used the `Milestones`. Milestones are used to acertain the progress of the project. So, please add all your issues/prs/ftos into the milestone so that we can evaluate your progress by just reading the milestones.
You can use `gsoc` or `outreachy` label on the issues and prs.
Don't forget to break the planning issue into individual issues and link them to the main planning i

[2019-05-09 18:59] SidharthBansal commented on #5684
https://github.com/publiclab/plots2/issues/2676 and https://github.com/publiclab/plots2/issues/2388 can help you folks.

[2019-05-09 18:59] jywarren commented on #5652
yep, thanks! Just trying to coordinate all the scheduling and proper
checking :-)

On Thu, May 9, 2019 at 2:50 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-05-09 19:04] SidharthBansal commented on #5652
No hurry!!! Take your time Jeff.
Reviewing some PRs and issues. Trying to coordinate and make groups for people in the meantime.
I hope this will help you a little.
Thanks

[2019-05-09 19:05] dinaelhanan commented on #5647
@jywarren hi! where would I find the code for this? thanks!

[2019-05-09 19:08] eplata31 commented on #5680
cool! I will contact you if I get stuck. Thanks!

[2019-05-09 19:17] jywarren commented on #5647
I believe here:
https://github.com/publiclab/plots2/blob/master/app/views/notes/_comment.html.erb

It looks a bit complex! Perhaps @viditchitkara can help on this too?

On Thu, May 9, 2019 at 3:06 PM d1g1t4ld1n4 <notifications@github.com> wrote:

[2019-05-09 19:17] jywarren commented on #5652
thank you!

On Thu, May 9, 2019 at 3:04 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-05-09 19:19] SidharthBansal commented on #5612
Awesome Work
It is EPIC

[2019-05-09 19:21] jywarren commented on #4585
Thank you all so much! I'll review the form shortly and add you to the projects you've selected. Thanks so much!

[2019-05-09 19:27] CoderJolly commented on #5295
Generated PR #5698

[2019-05-09 19:31] #5443 closed

[2019-05-09 19:47] Souravirus commented on #5612
@jywarren, that button in the sidebar which discontinues is actually a dropdown, so, I cannot append it with other buttons. So, what should I do? I guess other buttons are working fine but this one discontinues.

[2019-05-09 19:48] jywarren commented on #5612
hmm. in Bootstrap 3 there was an example for this scenario. What about
this? https://getbootstrap.com/docs/4.3/components/button-group/#nesting

On Thu, May 9, 2019 at 3:47 PM Sourav Sahoo <notifications@github.com>
wrote:

[2019-05-09 19:52] Souravirus commented on #5612
Ok checking it out.

[2019-05-09 19:55] CoderJolly commented on #4585
@jywarren I was not able to apply as student this year due to some commitments, bt I woul love to mentor. Thanks

[2019-05-09 19:56] sk9331657 commented on #4585
Welcome @CoderJolly .

[2019-05-09 19:56] #5658 closed

[2019-05-09 20:04] Souravirus commented on #5612
Here is the homepage updated for small screens https://gist.github.com/Souravirus/7bb63f9188f955d85e856ea14e47caff

[2019-05-09 20:28] Souravirus commented on #5612
![image](https://user-images.githubusercontent.com/17192149/57484448-aba02100-72c6-11e9-8acb-4aa44b6e5fda.png)
Ok buttons fixed

[2019-05-09 20:28] jywarren commented on #5612
awesome! Added to stable, it works perfectly.

On Thu, May 9, 2019 at 4:04 PM Sourav Sahoo <notifications@github.com>
wrote:

[2019-05-09 20:28] jywarren commented on #5612
awesome!!!

On Thu, May 9, 2019 at 4:28 PM Sourav Sahoo <notifications@github.com>
wrote:

[2019-05-09 20:43] jywarren commented on #5668
Hmm, do you think the `MySQL client is not connected` is in addition to or unrelated to potential Gmail  `Got new message from 'mailer-daemon@googlemail.com' with subject 'Delivery Status Notification (Failure)'`?

That Gmail one failed 76 times, which is not a ton: https://gist.github.com/jywarren/6d91238c79bc6c8c37a956642c9bf3c9

OK, looking at the dates, this is really interesting. The MySQL er

[2019-05-09 20:45] jywarren commented on #5668
The email I'd mentioned:

[code]
Was within a few minutes of the last Gmail message:

[code]

But actually not on the same day (5/6) as any of the recent errors you copied in:

[code]
C

[2019-05-09 20:46] subhahu123 commented on #4585
@jywarren  I'm interested and love to mentor this year

[2019-05-09 20:48] jywarren commented on #5668
First, i think we can say this is intermittent, BUT I'm not sure how many people reply by email in any case, so it could be a high proportion of these failing.

Should I try opening the gmail account to retrieve a full mailer daemon message?

[2019-05-09 21:00] jywarren commented on #5668
So, many of the failures in Gmail are, i think, ppl who signed up with a bad email address:

[code]

So, looking for my own to see how it failed...

[2019-05-09 21:02] jywarren commented on #5668
OK, here's mine that failed to arrive: https://gist.github.com/jywarren/c24b6cff6567015e42a5fff4a8ee70b8

It seems not to have errored within Gmail!

[2019-05-09 21:06] jywarren commented on #5668
https://gist.github.com/jywarren/325aede29f9b24508ba5a685b40fa144 is another that failed.

26 and 30th of April - so 4/26 and 4/30 in the logs:

        Fri, 26 Apr 2019 12:35:28 -0700 (PDT)
        Tue, 30 Apr 2019 15:59:34 -0700 (PDT)

[2019-05-09 21:07] jywarren commented on #5668
Do they correlate with any of these?

[code]
[code]

[2019-05-09 21:09] jywarren commented on #5668
I dunno, i think our server is UTC... so

April 26 19:35:28
April 30 22:59:34

[2019-05-09 21:11] jywarren commented on #5668
So, what might we do --

1. set a retry block around it
2. keep monitoring?

Can we get an alert when this error occurs?

[2019-05-09 21:14] jywarren commented on #5668
[code]

[2019-05-09 21:16] jywarren commented on #5668
OK, added 3 retries: https://github.com/publiclab/plots2/commit/2bc7b498ef3a05bc090ef26f316a30ec0104bcc6

I'd still like to alert on this. Can we insert some kind of alert?

[2019-05-09 21:18] jywarren commented on #5668
We could try to set a delay between retries, but we might need ActiveJob for that, and it seems a little tough. Like, https://guides.rubyonrails.org/active_job_basics.html#create-the-job

[2019-05-09 21:31] jywarren commented on #5667
Hi @ananyaarun @CleverFool77 -- i know Outreachy has a specific requirement of blogging which we probably cannot convert into "replies in the weekly check-in". However if you'd blog at PublicLab.org with a `outreachy-2019` tag, that'd be great. You can see some of @cesswairimu's posts along these lines, and you are free to copy your weekly check-in comments into the blog, so you don't have to writ

[2019-05-09 21:33] jywarren commented on #5667
And @gautamig54 we are typically trying not to fragment the community too much by making lots of Gitter rooms, but perhaps we can start by just using the existing room and then if people want to break off into the `soc` room (which is a bit noisy) for very long, in-depth discussions, that'd work? https://gitter.im/publiclab/soc

Or we can make a side room for long discussions, if people feel they'

[2019-05-09 21:34] jywarren commented on #5667
@sashadev-sky tried out the naming ppl in releases idea here: https://github.com/publiclab/Leaflet.DistortableImage/releases -- it looks very cool!

[2019-05-09 21:52] jywarren commented on #5683
https://stackoverflow.com/questions/36732120/capybara-rspec-test-takes-a-long-time-to-execute-why says that 3rd party javascript loading can take a lot of time, though I don't know why.

apparently we can turn on debug mode in capybara-webkit (maybe selenium? dunno) and see the output to see what's taking so long.

this wasn't too helpful: https://stackoverflow.com/questions/37005387/poltergeist-c

[2019-05-09 21:53] jywarren commented on #5652
OK, we are going to try to do this tomorrow.

[2019-05-09 22:01] ananyaarun commented on #5667
@jywarren Sure sounds great :smiley:  !!
We can blog at both publiclab.org like @cesswairimu did :tada: and our own blogging site.
I would be creating a blog atleast once in 2 weeks for outreachy and perhaps we can use that at the publiclab site as well with the outreachy-2019 tag.

[2019-05-10 03:04] icarito commented on #5668
I can only think of sending an email but I imagine using plots notification system to notify users subscribed to a `system` tag would be better (more generic).

[2019-05-10 07:29] sagarpreet-chadha commented on #5695
Hi @ebarry , thanks for pointing out this issue 😄 .

So let me explain how zoom is calculated currently (then we can discuss what other algorithm we should use) :

-  So `latitude` value is in float is converted to string and its length is calculated  and then `6` is added to this value .

**For example** in our case : 29  ---> 29.0 ---> "29.0" ---> length : 4 (including decimal) ---> zoom : 4+6 =

[2019-05-10 08:21] dinaelhanan commented on #5647
@jywarren @ViditChitkara  that would be awesome!

[2019-05-10 10:13] CleverFool77 commented on #5684
Hi @jywarren and @SidharthBansal
I had a question.
Me and @gautamig54 will be working on UI.
So Should I open an issue containing all the division of works in checklists where we will look into the matter regarding coordination ?

[2019-05-10 10:20] sagarpreet-chadha commented on #5684
Hi @CleverFool77 ,
Yes please go ahead . I also did the same during my gsoc :) https://github.com/publiclab/plots2/issues/2671

[2019-05-10 11:37] ViditChitkara commented on #5647
I think the container of 'emojis' is at this line [here](https://github.com/publiclab/plots2/blob/f044a99f40baadf96ce9e334a42476ce8db71996/app/views/notes/_comment.html.erb#L79). I think the positioning of this div has to made relative to its parent div. Then you may want to set top and bottom property of this div accordingly.
[Here is a good article](https://css-tricks.com/absolute-relative-fixed

[2019-05-10 11:58] aSquare14 commented on #5684
May I suggest using the Projects feature in GitHub. Issues directly move
from Todo to done as soon as it is closed, and you can move them to work in
progress too. I think it'll help to keep track of issues more efficiently.
Let me know if you need help setting it up. :)

On Fri, May 10, 2019, 3:50 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-05-10 13:09] AnthoniaOkafor commented on #5622
Rails 5.1 and above have been integrated with yarn,  I ran `rake yarn:install` because `yarn install` would not be recognised. But I'm still getting same errors as the one in the above photo.

[2019-05-10 13:10] SidharthBansal commented on #5684
@aSquare14 thanks for the suggestion. I think that feature requires things to be given by mentors. We need to give rights to create projects to the students if we want them to be listed under projects. @jywarren  what you think is better option
Milestones/Projects?

[2019-05-10 14:02] aSquare14 commented on #5684
If I'm not wrong  I think anyone can create a project as long as they're
added to the org :)

On Fri, May 10, 2019, 6:40 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-05-10 14:15] SidharthBansal commented on #5684
What is difference between milestones and project?
Can you please indicate advantages and disadvantages for both?
Thanks

On Fri, May 10, 2019, 7:33 PM Atibhi Agrawal <notifications@github.com>
wrote:

[2019-05-10 15:02] steviepubliclab commented on #5650
Same issue here on /air-quality

[2019-05-10 15:04] publiclab-mimi commented on #5650
I also tried this post clearing-cache, in a different browser, and on a different computer. Still no image uploading working for me.

[2019-05-10 15:51] aSquare14 commented on #5684
@SidharthBansal  Found this great answer on stackoverflow ! Do give it a read https://stackoverflow.com/questions/39591795/what-is-the-difference-relationship-between-github-projects-and-milestones

[2019-05-10 17:23] SidharthBansal commented on #5684
Awesome!!!
I think projects is a better option.

On Fri, May 10, 2019 at 9:21 PM Atibhi Agrawal <notifications@github.com>
wrote:

[2019-05-10 18:20] jywarren commented on #5650
This was fixed in #5657 for comment image uploading, but the fix didn't apply to wiki page image upload. Checking why now; I believe it is failing on `$E.wrap` in:

[code]

That's here: https://github.com/publiclab/plots2/blob/a3e40c5cb20e94653de20a74e0ac9553c87f0d3a/app/assets/javascripts/editor.js#L43

It's initialized here:

https://github.com/publiclab/plots2/blob/a3e40c5cb20e94653de20a74e0ac9

[2019-05-10 18:35] jywarren commented on #5650
Yes!!! This changed, re-assigning `$E.textarea` to fix `reply-to-comment` functionality:

https://github.com/publiclab/plots2/pull/5321/files#diff-fd61d47ff16a49707d50fa5f9ae7c5f5R32

We need to make an exemption for wiki image upload.

[2019-05-10 18:47] jywarren commented on #5650
Filed a fix, which I tested, at #5703!

[2019-05-10 18:47] jywarren commented on #5650
Thanks, all!

[2019-05-10 19:07] #5650 closed

[2019-05-10 20:32] jywarren commented on #5683
Noting re: Sebastian's idea on the build taking too long; when i see 1137s to do `docker build`, i see:

[code]

[2019-05-10 20:35] icarito opened #5705 "Improve overall testing speed"
Also check #5683

[2019-05-10 21:22] SidharthBansal commented on #5652
Thanks @jywarren for merging all the three PRs.

[2019-05-10 23:14] jywarren commented on #5652
OK, we weren't able to complete this; a range of issues held us back on MapKnitter; we fixed a number of bugs and configuration issues, but ultimately ran out of time for today. We've scheduled to try again on Monday at 4pm ET (8pm UTC).

We got the point where we are testing that MapKnitter exports work on this map: http://mapknitter-stable.laboratoriopublico.org/maps/test--226

We completed upgr

[2019-05-11 04:02] SidharthBansal commented on #5652
Great
Best of luck

On Sat, May 11, 2019, 4:44 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-11 10:09] gauravano commented on #5684
Yeah, using GitHub projects is a better option. We already have many projects - https://github.com/publiclab/plots2/projects :smiley:.

[2019-05-11 10:24] CleverFool77 commented on #5684
Hi everyone.
So Should I create project under the name Outreachy 2019, In which I'll open various tasks like people section , questions section etc ?

[2019-05-11 11:37] gauravano commented on #5684
Hi, please use name relevant to project like UI redesign , etc

Gaurav Sachdeva

On Sat 11 May, 2019, 3:54 PM Lekhika Dugtal, <notifications@github.com>
wrote:

[2019-05-11 12:13] gautamig54 commented on #5684
@CleverFool77 The idea sounds great. You can open issue saying "UI improvements - Summer 2019" or something like this and we can start the discussions and divide the work for different webpages.
@namangupta01, we can open a project for "Notification System" and start the discussion and divide the work accordingly.

[2019-05-11 12:22] SidharthBansal commented on #5684
Go ahead Gautami

On Sat, May 11, 2019, 5:43 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-05-11 16:28] AdityaShD commented on #5047
is this issue open, If not I would like to work on it.

[2019-05-11 16:29] CleverFool77 commented on #5684
Hi @gautamig54 and everyone
I just opened the project for UI improvements. Now all the new cards and checklists will be added there.
@gautamig54 I guess we can start off with our checklists.
How do we divide them ?
Should I divide the whole project into sections of people, question, dashboard , tags etc.
And every section into further todos parts?
It would be great to hear some suggestions regardi

[2019-05-11 16:33] SidharthBansal commented on #5684
Best way to do things is without restriction in the way you wish to do.
Once different teams are set up, teams can look in each others team and
find good portions which they can adopt.
This approach will give us a quick start with great future enhancements.

On Sat, May 11, 2019, 9:59 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-05-11 16:34] AdityaShD commented on #5407
hey! @gauravano , can you please add me to #4963 , I am a first timer and would like to start contributing.

[2019-05-11 17:10] CleverFool77 opened #5707 "UI Improvements Planning Issue : People Section"
## Description
The basic Card UI of people section is already on halfway.
Now the further improvements are left.
As we were told during proposal that we should start off with easier ones first. And they should be given beginning of time in timeline. So we will start off with people section first which is the easiest.
The final UI for the people's page :

![Screen Shot 2019-05-19 at 2 41 35 AM](htt

[2019-05-11 17:17] CleverFool77 opened #5708 "UI improvements Planning Issue : Searchbar and Search Results page"
New Searhbar ?
Hi @jywarren Regarding this, I wanted to ask that What would be new design of searhbar.
Should it be something like below ?
![ff](https://user-images.githubusercontent.com/26685258/57572907-93eba880-743e-11e9-9849-774cbda22c7c.png)
cc : @gautamig54
Checklists
#### Searchbar
- [ ] Add further after discussion regarding UI

#### Search Results
- [ ] two column @CleverFool77
- [ ] Pill

[2019-05-11 20:52] namangupta01 commented on #5684
Ya sure Gautami, Can we discuss after 16 may? I have my exams going on.
Thanks!!

On Sat, May 11, 2019 at 5:43 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-05-11 20:59] SidharthBansal commented on #5684
Best Of Luck Naman.

[2019-05-12 01:58] sashadev-sky commented on #5667
@jywarren Yes I really like it because 1) It's good documentation 2) We can give credit especially to people that completed an FTO!

[2019-05-12 17:26] AdityaShD commented on #4963
Hi!! I would like to work on any FTO. Thanks!

[2019-05-12 20:18] skilfullycurled commented on #5693
@CleverFool77, this would make a perfect FTO.  Would you like me to create an official FTO with the header?  I think I found the [place](https://github.com/publiclab/plots2/blob/fe2ffd6d71b9c5fc7c4ff09bb9d770ce30f4fe78/app/views/layouts/_header.html.erb#L96) you were talking about so I could give the instructions.  Or, I could put it here and then edit the top comment.

[2019-05-12 20:43] dinaelhanan commented on #5647
@ViditChitkara I've made an attempt in the above PR, please check it out when you've got the time. Thanks!

[2019-05-12 21:10] skilfullycurled commented on #5524
Hi everyone, circling back on this since I'm doing some planning on some work I'd like to try to do this summer.

This doesn't replace the caching issue, but I thought one way to get around download overload is by creating pre-made csv/json files for every six months.  It's not like the data is going to change.

If people are into it, should I make a new issue or keep it here?  I could use some di

[2019-05-12 21:12] skilfullycurled commented on #5490
Hi, returning to this conversation since I'm trying to plan a bit for the summer.  Can I be of help on this? And if so, what would be the most systematic way to figure out which dates are causing the problem.  And also, how can I avoid taking down the whole site?  Do people use unstable?

[2019-05-13 05:12] SidharthBansal commented on #5684
Please link milestone/projects/planning issues here.

[2019-05-13 07:52] CleverFool77 commented on #5693
Hi @skilfullycurled
Its not about finding the place. We have so many first timer only. But there should be a step after first timers only.
That's why I specified the change, but I wanted candidate to find the file and line themselves and do the change. By not giving the file directly, they can search through the codebase and get more familiar with it. This could a step after some people are done w

[2019-05-13 12:56] gautamig54 commented on #5707
@CleverFool77 Let's first start with the questions page as was mentioned by @jywarren.
Also, The six pages mentioned earlier only need to be redesigned?
We have the blog page remaining as well. The task was divided amongst lot of us, but since we are suppose to work towards UI implementation, can we complete the blog2 page as well?

[2019-05-13 13:15] SidharthBansal commented on #5684
https://github.com/publiclab/mapknitter/issues/305

[2019-05-13 13:26] SidharthBansal commented on #5684
https://github.com/publiclab/mapknitter/issues/593
@divyabaid16 @vidit here is issue for you. You asked me to open for you. Please feel free to make it as per your project requirements.
Best of luck

[2019-05-13 13:34] skilfullycurled commented on #5693
@CleverFool77, sorry, I think I was unclear in my comment.  Oh internet.  : )

I edited my former comment to remove the change.

Please take the following as clarification of my own comments.  My experience is that sometimes being really specific and writing a lot can come off as argumentative and that's not what I'm trying to do at all.  With regard to the length, I write a lot either way ; )

As

[2019-05-13 13:59] skilfullycurled commented on #5693
In a related story, I do have a suggestion for the FTO:

From my own experience, even though I know how MVC works, finding a template in the PLOTS code base is a pretty big hunt. There are 30+ folders of views, and you have to have general knowledge of a templating language and how partials work and then jump from view to view.  That could be frustrating for an FTO.  I have some ideas in a range o

[2019-05-13 14:59] sidntrivedi012 commented on #5684
@jywarren @SidharthBansal Opened the Planning issue in Spectral-workbench.js for the Spectral Workbench Capture project. Please review. https://github.com/publiclab/spectral-workbench.js/issues/92

I will be adding more details shortly. I am currently somewhat busy due to my university exams which will be ending on 22nd May. Though, I will try to keep up with the work to be done and going on here.

[2019-05-13 15:29] SidharthBansal commented on #5684
Awesome!!!
Best of luck to you all!!!
I have my exams till 19th(on Sunday too!!!).
My university wants us to study even at weekends.. lol...hahaha

[2019-05-13 16:24] ebarry commented on #4928
colorimetry: colorimetric
colorimetric: colorimetry

colorimeter: colorimeters
colorimeters: colorimeter

[2019-05-13 16:26] jywarren opened #5714 "Tag counts aren't updating - and reworking Related Tags query"
I think we're prioritizing related tags on the `count` field, but don't actually

https://github.com/publiclab/plots2/blob/fe2ffd6d71b9c5fc7c4ff09bb9d770ce30f4fe78/app/models/tag.rb#L362-L375

We have a `run_count` method here, but it's never called:

https://github.com/publiclab/plots2/blob/fe2ffd6d71b9c5fc7c4ff09bb9d770ce30f4fe78/app/models/tag.rb#L36-L39

Let's do 2 things

- [ ] fix `run_count

[2019-05-13 16:32] jywarren commented on #5714
So, #5715 solves the co-occurence, but when should we re-count tallies? Whenever a tag is made?

[2019-05-13 16:33] jywarren commented on #5714
We'd add `tag.run_count` then...

[2019-05-13 16:52] jywarren commented on #5708
Hi! This is looking great. I think more is coming via @ebarry but just wanted to note this great search results page design by @IshaGupta18 here:

![](https://lh4.googleusercontent.com/m4CcAKOzFQhZEZF0B3Cv-f8SPUiOLLP4CUoLcZCVdgI118SPCzbB1hKs2B27nWKwbv7SenR3-AGwiMgSf7_vG9apjeNpadPfDHPCO41cStmzqMs9wlqmxfTIBEAJXaX5uaRO3ssj)

https://publiclab.org/notes/IshaGupta18/03-22-2019/outreachy-19-proposal-pub

[2019-05-13 16:54] jywarren opened #5716 "Try to intercept search terms from a Custom Google Search"
We're looking at whether an embedded Google search would be useful for really deep text searching on the site. But if we did this, we'd have to be able to access the search terms so we could also display things like related tags, and potentially use the URL hash to save the search results page in a URL for copy/pasting/permalinking. So I found this code segment that seems promising:

[code]

https

[2019-05-13 18:02] eplata31 commented on #5527
Hi, I noticed the fixture I created was the problem so I modified it and now all the test are green :+1:

[2019-05-13 18:26] jywarren commented on #5716
OK full docs at: https://developers.google.com/custom-search/docs/element#overview

This works:

[code]

But only if cse is already loaded... working on this...

[2019-05-13 18:51] skilfullycurled commented on #5095
If it helps diagnose the problem, I've had this recently as well.  For me, it reveals itself after clicking on a link to see a filtered list of my content from my profile.

For example: `https://publiclab.org/tag/activity:*/author/bsugar`

Doesn't effect any functionality.

Firefox 66.0.3
macOS 10.12.6

[2019-05-13 19:36] jywarren commented on #5716
OK it now works with `search.getInputQuery()` at: https://publiclab.org/wiki/search

[2019-05-13 19:39] jywarren commented on #5716
So, we should be able to either:

1. use that to show tag search results
2. insert a search param with `search.prefillQuery('coqui')` and `search.execute()` to run it, using a GET param

[2019-05-13 19:40] jywarren commented on #5716
URLs already generate like this: https://publiclab.org/wiki/search?q=coqui

[2019-05-13 19:42] jywarren commented on #5716
[code]

[2019-05-13 19:43] #5714 closed

[2019-05-13 19:51] jywarren opened #5719 "Tag search improvements"
We have a proposal (me and @ebarry) to make the typeahead search primarily tag search, the way it is on https://publiclab.org/tags, and have the full page search be where you get content and people results (see https://github.com/publiclab/plots2/issues/5708 as well!)

Parts of this:

* [ ] Adding related terms for exact matches: if you enter "coqui" and there's a `coqui` tag, AND there are not ma

[2019-05-13 19:53] jywarren commented on #5708
Also noting relation to #5719!

[2019-05-13 19:55] jywarren commented on #5719
Here's where we could insert extra "related" tag results if there are very few results:

https://github.com/publiclab/plots2/blob/7f7c88e2f05ae19b409b8388f497a0ec8bd9c7fb/app/api/srch/search.rb#L272-L290

[2019-05-13 22:45] skilfullycurled commented on #5714
Responding to the ["heads up"](https://github.com/publiclab/plots2/pull/5715#issuecomment-491959499) from @jywarren.  Jeff, thank you!!  Two clarifying questions because I'm not quite sure what your heads up entailed.

When you wrote:

[code]
These seem like just counts.  I would expect a co-occurence to look something like this (sorry I don't know the Ruby structure)
[code]

[2019-05-13 22:45] skilfullycurled commented on #5714
I guess that's just one question...

[2019-05-13 22:55] jywarren commented on #5714
Yes that's right, the group_by command (obscurely) creates a count of
incidence of each tag.

On Mon, May 13, 2019, 6:46 PM skilfullycurled <notifications@github.com>
wrote:

[2019-05-13 22:57] skilfullycurled commented on #5714
Okay, I'm not clear how that handles the co-occurrence but feel free to leave the explanation for another time.  I'm sure you have plenty of other things to do.  Not urgent.

[2019-05-14 00:41] jywarren commented on #5714
Its bc it's only fetching data for related tags to a single tag, not to all tags. So instead of returning all the groupings, it's returning just a list of tags that have co-occurred with the given tag. So, they are just counts of how many times they've co-occurred. Thanks!

[2019-05-14 00:43] jywarren commented on #5527
Oh this is awesome!!!

[2019-05-14 00:44] #5527 closed

[2019-05-14 00:47] jywarren commented on #5490
No, unstable and stable are both fine to hammer on as much as you'd like!

As to how to debug, i'm not sure... we could try to pull logs for when it happens. Wait - let me link some Sentry issues and see if they shine any light?

[2019-05-14 00:49] skilfullycurled commented on #5714
I see.  Awesome!  Looking forward to seeing it play out and thanks for including me!

[2019-05-14 00:54] jywarren commented on #5714
i'm eager too! As mentioned in the chatroom we've pushed back the big publication by one more day after some hours of debugging. But it should be live on https://stable.publiclab.org/tags now!!!

[2019-05-14 00:59] skilfullycurled commented on #5490
@jywarren, not sure if I did this right, but I just signed up for Sentry and requested access.  I wasn't sure what permissions to request so I just requested the default ones that sentry provided for me.  Let me know if I need to change anything.

[2019-05-14 00:59] skilfullycurled commented on #5490
(also, thanks!)

[2019-05-14 01:01] jywarren commented on #5490
Hmm, weird that you can't see the error log, it's supposed to be public! But, ok here it is:

[code]

But i'm not convinced this is for the same page: It says this is for:

https://publiclab.org/stats/tags

[2019-05-14 01:15] skilfullycurled commented on #5490
Just accepted the invite, this is awesome, thank you!

[2019-05-14 03:46] skilfullycurled commented on #5490
Well, I've spent a fair amount of time with Sentry and and Skylight and I can't seem to find an error that is registered when I recreate the error on the site with the dates in question.  I even turned on a VPN so that I could be confident that I would see the correct IP address but nothing appears in the events log in Sentry.  Something might be happening in Skylight but I can't figure out how to

[2019-05-14 14:52] CleverFool77 commented on #5708
HI @jywarren
The design of search results UI looks great.
I haven been thinking about results of search, and had similar design UI for that.
I've updated the issue regarding search results UI and added todos checklists.
What I am curious about the searhbar.
Is there gonna be a new minimal search UI like google or we'll have a searchbar in navbar only.

[2019-05-14 15:10] CleverFool77 commented on #5707
Hi @gautamig54 Actually, People section has most of the part done.
So, I was thinking of completing the section one by one.
But yeah if it was suggested by @jywarren , We can go with questions page first.
I'll open a new issue for questions page and break them into parts.
regarding blog2, I'll go and look into the matter that How much parts is already done.
I have some project evaluations and othe

[2019-05-14 16:58] jywarren commented on #5708
I think we've worried about the redundancy of the navbar search with the
in-page search box. What do you think is a good way forward?

On Tue, May 14, 2019 at 10:53 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-05-14 17:01] IshaGupta18 commented on #5708
Thank you for the appreciation!

On Tue, May 14, 2019, 10:28 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-14 17:51] ebarry commented on #4928
hot-spot: hot-spots
hot-spots: hot-spot

microscope: microscopes
microscopes: microscope

PS Is there a way to automatically relate a word with the same word that just has an "s" on the end? Asking for a friend!

[2019-05-14 18:36] ebarry commented on #4928
plastic: plastics
plastics: plastic

radiation: radioactive
radioactive: radiation

superfund-site: superfund
superfund: superfund-sites

spectra: spectrum
spectrum: spectra

[2019-05-14 21:36] jywarren commented on #5707
Hi, all! I was thinking, based on the new style guide that is rapidly coming to completion, what if we focused on 2 things: first, looking for any remaining Bootstrap 4 issues to fix, and 2nd, implementing the "content card" sections of the style guide and moving them into a common area like `app/views/content/_person.html.erb`, `app/views/content/_post.html.erb` and `app/views/content/_topic.html

[2019-05-14 22:16] pdurbin opened #5722 "Public lab as an example of a community that uses the Searchable Linkable Open Public Indexed (SLOPI) communication style"
Hello! I'm following up on a conversation I just had with @jywarren at https://gitter.im/publiclab/publiclab?at=5cdb3667e7f42160fa8cb9c0

I'll repeat it here for context. :smile:

pdurbin	If you're waiting, is now a good time for me to explain my crazy idea? :)

jywarren	sure, but i may be pulled away, just warning!

pdurbin	Cool. Just tell me to stop and I can pick up later. Have you heard of FAI

[2019-05-15 02:19] jywarren commented on #5652
Deployment is complete! All live now.

I did find one odd thing. When logging in via GitHub OAuth from MapKnitter, i keep getting directed to Spectral Workbench's dashboard. The sequence is this:

1. go to MK.org and press github oauth button
2. log into github
3. directed to (logged in) PL.org/dashboard
4. went to SWB, logged in with github button
5. got back to SWB dash
6. tried to open MK.org b

[2019-05-15 02:21] jywarren commented on #5652
Repeated just using GH OAuth to log in from MapKnitter. I got sent to PL.org/dashboard.

Good news is that `Log in with PL.org` is working for both MK and SWB. That's perfect. Looks like there are some oddities with Oauth login however.

[2019-05-15 02:23] jywarren commented on #5652
The Github OAuth redirect from MK took a while and I was able to copy this URL while it was loading (after the logging into GH step):

https://github.com/login/oauth/authorize?client_id=0ea2dd560523729ee8d8&redirect_uri=https%3A%2F%2Fpubliclab.org%2Fauth%2Fgithub%2Fcallback&response_type=code&scope=user%3Aemail&state=de44729c9fc96127586a05a33950d825d11e29a3a49a7d29

I just did the same with SWB (p

[2019-05-15 02:24] jywarren commented on #5652
On Twitter OAuth from SWB, I got to this page and got stuck in an infinite refresh loop:

![image](https://user-images.githubusercontent.com/24359/57744386-01921180-7697-11e9-9bd5-7f5cd561b3d6.png)

[2019-05-15 02:25] jywarren commented on #5652
Same for MK using Twitter OAuth:

![image](https://user-images.githubusercontent.com/24359/57744425-2090a380-7697-11e9-9625-25c5796b77ea.png)

I don't have a FB account so didn't test that.

[2019-05-15 02:27] jywarren commented on #5652
Using Google Oauth login from SWB got me to PL.org/dashboard. Interestingly it redirected through this URL: `https://accounts.youtube.com/accounts/SetSID`.

Google OAuth from MK.org also got me logged into PL.org and left at the dashboard.

[2019-05-15 02:29] jywarren commented on #5652
OK, so to sum up:

1. both OpenID logins to PL.org work fine!
2. Google Oauth logs into PL.org but leaves you at the dashboard
3. GitHub OAuth logs into PL.org but leaves you at the dashboard
4. Twitter OAuth gets into an infinite refresh loop

This is pretty good, @SidharthBansal ! It looks like just some minor things to work out, but overall I'm really happy with how this went!

[2019-05-15 02:32] jywarren commented on #5652
Oh, and also clicking PL button at SWB and /creating/ a new account worked fine too! Same with MK.

[2019-05-15 02:37] jywarren commented on #5311
Confirmed! With the code publication we did tonight, this `deliver_later` system is now working! We can start the rest of the controller conversions now. 🎉

[2019-05-15 02:38] #5311 closed

[2019-05-15 04:30] SidharthBansal commented on #5652
I also tried the same. It is really weird behaviour.
I will check whats going on after my NLP exam today.
Apologies for the errors. Will fix it at the evening.

[2019-05-15 04:32] SidharthBansal commented on #5652
Please check the fields which are completed.
Thanks

[2019-05-15 11:19] sashadev-sky commented on #4963
@AdityaShD you can work on this one: https://github.com/publiclab/Leaflet.DistortableImage/issues/260

I will mention you there. Thanks :)

[2019-05-15 11:34] sashadev-sky commented on #4963
Also another FTO open for grabs: https://github.com/publiclab/Leaflet.DistortableImage/issues/261

[2019-05-15 13:28] alaxalves opened #5725 "Include chrome-driver in our docker image"
Why installing Chrome Driver in our container every Travis build time, when we could just include this in the Dockerfile, generate a docker a Docker image and shorten our Travis build time duration.

I'd like to do the same work here that I have suggested in the following:
https://github.com/publiclab/mapknitter/issues/604
https://github.com/publiclab/mapknitter/issues/598

[2019-05-15 13:49] jywarren commented on #5725
Would this improve the time it currently is taking to download and install
chrome? This seems to be breaking our builds a lot and driving build time
to 18-24 minutes... pretty wild! But the system tests themselves aren't
accounting for the extra time; it seems to be in downloading and building
Chrome. I'd love a PR for this if it's related! This is a pretty critical
issue for plots2 right now. But

[2019-05-15 13:53] jywarren commented on #5652
OK, collecting all leftover checklist items:

* [ ] testing all three for OAuth login (GH/Google for leaving you at the dashboard)
* [ ] figure out Twitter OAuth refresh loop
* [ ] MK production recaptcha key
* [ ] need to display validation errors in MK/SWB (see above)

Thanks, and good luck with your exam!!!!

[2019-05-15 14:01] alaxalves commented on #5725
Actually it would reduce the time a lot, because everytime the build downloads chrome-drive. And with this we could make the driver already available in our docker image. Another thing that would reduce is do what I have suggested in https://github.com/publiclab/mapknitter/issues/604. The build time would be shortened to something like a `docker pull` command duration.

[2019-05-15 16:45] jywarren opened #5726 "Comment stats counting spam comments?"
I don't believe comment stats count spam, but looking at this line in the range action I'm not sure, @cesswairimu  maybe we should take a look?

https://github.com/publiclab/plots2/blob/b8011954823c2e76cd53e2113353c5dcd5bd46cc/app/controllers/stats_controller.rb#L28

Also this line?

https://github.com/publiclab/plots2/blob/b8011954823c2e76cd53e2113353c5dcd5bd46cc/app/models/comment.rb#L44-L47

Sh

[2019-05-15 16:47] jywarren commented on #5726
I think the addition would be, in both places, `.where(status: 1)`

We may want to follow-up with notes, wikis too.

[2019-05-15 16:48] jywarren commented on #5726
Ah, and we'd have to add the "status" field to the select as well, so `.select("timestamp, status")`

[2019-05-15 16:55] cesswairimu commented on #5726
Yeah would be worth checking, doing that now. Thanks Jeff

[2019-05-15 17:03] cesswairimu commented on #5726
For notes we have this `published` scope that we use to filter the status of 1 https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L102, https://github.com/publiclab/plots2/blob/master/app/controllers/stats_controller.rb#L18...yeah would be great to add the same for comments and wikis. Adding those nowThanks Jeff

[2019-05-15 18:44] SidharthBansal commented on #5652
I am back. I have exam on 19th May(even sunday)... haha...my university
wants us to study 7 days. (which we never do!!! lol)
As there is a gap for 3 days, I will do some of the above minor issues in
between and study one day before the exam.
Thanks for wishing me luck.

On Wed, May 15, 2019 at 7:24 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-15 18:51] SidharthBansal commented on #5652
I have minimised the comments resolves so that we can focus on the remaining part. I guess @jywarren you are okay with this. We can still read them any time we wish to do so.

[2019-05-15 20:00] cesswairimu opened #5728 "Stats page bug"
A couple of things looking off on the stats page https://publiclab.org/stats. Font a little huge, back and front arrows not aligned correctly plus wierd gray background, needs more spacing between the sections, question asked vs question answered bar graph not showing one side percentage

[2019-05-15 20:11] ebarry commented on #4928
diagram | diagrams | diagramming <-- how to associate a cluster?

noise: sound
sound: noise

[2019-05-15 21:03] CleverFool77 commented on #5707
Hi @jywarren
This looks like great Idea.
But I wanted to ask that How should I divide the work in todos and milestones which was mentioned by siddharth in one of the issues of planning.

[2019-05-15 22:49] jywarren commented on #5684
This is looking great, folks! I've been trying to go in and give deeper comments on each project's planning issues every couple days. I just did this here: https://github.com/publiclab/leaflet-environmental-layers/issues/168

Actually i'm noticing that there are a lot of projects this year which will be getting started in a separate repo outside `plots2` but with the intention of re-integrating la

[2019-05-15 23:12] skilfullycurled commented on #5726
Oh, just read @jywarren's note in the chat.  @cesswairimu, seems like this is taken care of now or do you need someone to work on it?

[2019-05-15 23:35] skilfullycurled opened #5729 "tag_controller.rb returns UnknownFormat when lat/long tag has decimal point"
Hi,

Clicking on a lat/long tag with a decimal does not work and takes you to a blank page.

For example, [lat:29](https://publiclab.org/tag/lat:29) does work but [lat:29.933161522177404](https://publiclab.org/tag/lat:29.933161522177404) does not.

Here's the [bug report](https://sentry.io/organizations/publiclab/issues/1026849287/events/070a254ec432484c9085872ede07b3a6/?environment=production&pro

[2019-05-15 23:57] pdurbin commented on #5722
LOL at @ebarry saying, "Wow things are getting SLOPI around here" -- https://gitter.im/publiclab/publiclab?at=5cdb61265d48a24fd0cc66fa :smile: :tada:

I don't mean to nag anyone but does Public Lab have a roadmap? Does have a public Travis or Jenkins for QA/CI? Is there a list of what's going on with UI/UX this week or this month from designers or people who care about design? I think for Q&A Publ

[2019-05-16 01:01] aSquare14 commented on #4585
@jywarren by when will rest of us be notified and assigned the projects ? So that we can start helping ! :D

[2019-05-16 07:02] cesswairimu commented on #5726
@skilfullycurled yes I opened a PR, not sure if that will reduce all the spam comments, but it might reduce them a bit. Will ping you if something comes up. Thanks

[2019-05-16 07:07] sk9331657 commented on #4585
@jywarren When will rest of us be notified and assigned the projects ? So that we can start helping students! :D

[2019-05-16 08:16] SidharthBansal commented on #4585
You can start helping ppl. We will send notifications in batches

On Thu, May 16, 2019, 12:37 PM SHUBHAM KUMAR <notifications@github.com>
wrote:

[2019-05-16 08:36] aSquare14 commented on #4585
Cool. Thanks.

On Thu, May 16, 2019, 1:46 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-05-16 08:51] SidharthBansal commented on #5652
https://github.com/publiclab/plots2/issues/5652#issuecomment-490684753
@jywarren asked me to add validation errors, but can you please explain it why we are needing them
?
We display validation errors on pl.org website related to form. For provider validationsare shown on their website. So, we don't require them at SWB or MK

[2019-05-16 10:08] SidharthBansal commented on #5652
@jywarren the following are also working fine.
* [ ] User is logged in at PL and tries to login at MK through Twitter(Twitter is logged in)
* [ ] User is logged in at PL and tries to login at MK through Facebook(Facebook is logged in)
* [ ] User is logged in at PL and tries to login at MK through Github(Github is logged in)
* [ ] User is logged in at PL and tries to login at MK through Google(Goog

[2019-05-16 10:17] SidharthBansal commented on #5652
# Other flows to be tested OR giving errors for MK
Consider PL is not logged in for sure. User will use provider buttons at MK directly

* [ ] User is not logged in at PL and tries to use Google Provider
Google Provider already linked to some account. Then that account is logged in at PL and MK
* [ ] User is not logged in at PL and tries to use Google Provider
Google Provider is not linked to any

[2019-05-16 10:19] SidharthBansal commented on #5652
# Other flows to be tested OR giving errors for SWB
Consider PL is not logged in for sure. User will use provider buttons at SWB directly

* [ ] User is not logged in at PL and tries to use Google Provider
Google Provider already linked to some account. Then that account is logged in at PL and MK
* [ ] User is not logged in at PL and tries to use Google Provider
Google Provider is not linked to an

[2019-05-16 10:22] SidharthBansal commented on #5652
In above 70+ test cases, all should land to the MK or SWB.
They all are similar but little different. So, we need to ensure all of them.

[2019-05-16 11:49] Dhiraj240 commented on #4585
Alright !!

[2019-05-16 11:51] sk9331657 commented on #4585
@SidharthBansal  Thanks

[2019-05-16 14:07] ebarry commented on #4928
booklet: publication
publication: booklet

[2019-05-16 19:02] SidharthBansal commented on #5652
On clicking on the icons on the SWB the following error comes SOMETIMES
![image](https://user-images.githubusercontent.com/20972099/57879958-38089180-783b-11e9-9086-91f7a9b1fcfd.png)

I really don't know why it is SOMETIMES.
I have invested 7 hours trying to debug it but in vain.

[2019-05-16 19:06] SidharthBansal commented on #5652
@jywarren SWB have errors in its own login system too.
I tried to go to swb.org/login and it made me redirect to swb.org/.

[2019-05-16 19:09] SidharthBansal commented on #5652
@jywarren I think we merged something which we should not anywhere. When I tried the 3 oauth branches we created it was working fine. But after the merging them to master, when we run these servers on the localhost, errors are coming.
@jywarren please see https://github.com/publiclab/plots2/pull/5640. I don't know why there are **45 files** .
Even if you have merged the master changes into this br

[2019-05-16 19:21] SidharthBansal commented on #5652
I checked there is no overlapping area in that PR with the changes you introduce. Trying to get what happened and where.

[2019-05-16 19:35] SidharthBansal commented on #5652
When we will deploy the code of PL next time? I think my little PR will work out many test cases.

[2019-05-16 19:48] SidharthBansal commented on #5652
@jywarren found this error in SWB
![image](https://user-images.githubusercontent.com/20972099/57882440-56718b80-7841-11e9-9162-37bd1f7cfeba.png)

google ask me to refer
a2bd770f6d3b402dfb70ae24460014bf44c41abe
![image](https://user-images.githubusercontent.com/20972099/57882422-4659ac00-7841-11e9-92f6-6869c1e81bb3.png)
Trying to debug it. It has been 8-9 hours today. Very tough to know what has ha

[2019-05-16 20:27] skilfullycurled commented on #2590
@patcon:

🔍 your emoji based argumentation method is awesome!!
💡 It's like the emoji based non-violent communication technique
❤️ it's great because tone is so hard to capture these days.

I was asked by @pdurbin if I had thoughts on the matter and essentially @patcon's second [comment](https://github.com/publiclab/plots2/issues/2590#issuecomment-385269885) captures them.  In particular the ease o

[2019-05-16 21:41] jywarren commented on #2590
I'd LOVE help trying to solve the Slack auto-invite thing! I've failed like
three times :-(

On Thu, May 16, 2019 at 4:27 PM skilfullycurled <notifications@github.com>
wrote:

[2019-05-16 21:47] jywarren commented on #5652
Oh goodness, first - thank you! I think given that people can log in with
PL.org and the other methods are new, we are no longer at extreme urgency -
one thing we could do is to hide the OAuth logins that /don't/ work, for
now. So, you can focus on your exams too.

Second, the validation - it's a small thing, not high priority. I think it
was that when logging in with OAuth and when it uses your e

[2019-05-16 21:58] jywarren commented on #4617
Hi, @EKMallon we just published a bigger revision to the comment image upload system, and are working on other parts of this now as well. Would you be willing to give it another try and tell us if we fixed a bug that helps you or if there is still an open issue? Thank you!

[2019-05-16 21:59] jywarren commented on #4776
Hi @CleverFool77 @gautamig54 would this be an issue you might be able to add to your summer project plan? Thank you!

[2019-05-16 21:59] SidharthBansal commented on #5652
It was really one line pr. So, I merged it. if else condition.

The error is either from PL or from Github or from MK we need to check this first. No flow have 2 email addresses. So switching is not possible.
I think these validation errors are in the HTTPS response which we get from app(MK/GH/PL not sure).

It will be great if you can check the link once again. There is something which we are mis

[2019-05-16 22:02] SidharthBansal commented on #5652
Please review it tomorrow or next week in your free time. No hurry.

I have merged #5731 in plots2. I think we will not require to hide the icons. Major issues will be resolved by this PR, I guess. Localhost is working for major portions now.

[2019-05-16 22:04] #2189 closed

[2019-05-16 22:05] jywarren commented on #2529
This now works! Closing, thanks for your offer @500swapnil !

[2019-05-16 22:05] #2529 closed

[2019-05-16 22:07] jywarren commented on #5244
Is this still open, just wondering?

[2019-05-16 22:08] jywarren opened #5732 "Uploading main image on wiki pages is not working"
In follow-up to https://github.com/publiclab/plots2/issues/5650, uploading an image to a wiki page as the "main" image is causing a JS error:

[code]

In this "drop zone":

![image](https://user-images.githubusercontent.com/24359/57890305-4a67d880-7805-11e9-8c50-a8dd8281ecc8.png)

This seems VERY similar to the fix for #5650; the error is on this line:

[code]

That's odd, though, this fix should'

[2019-05-16 22:09] jywarren commented on #5118
Closing for now.

[2019-05-16 22:09] #5118 closed

[2019-05-16 22:09] jywarren commented on #4962
Hi @namangupta01 -- any updates on this? Thank you!

[2019-05-16 22:11] jywarren commented on #4670
Closing to move to #5015!

[2019-05-16 22:11] #4670 closed

[2019-05-16 22:13] jywarren commented on #5015
This is still not ideal: https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1557960900/23h15m/endpoints/Srch::Search%20%5BGET%5D%20srch%2Fnotes

[2019-05-16 22:16] jywarren commented on #5015
And still mysterious what is actually taking up this time! Almost all of it is memory allocations, and before the query even runs! (although after a VERY fast `rsessions` query runs... could it be that?)

[2019-05-16 22:35] jywarren commented on #4585
Hi! My apologies, i had meant to add everyone already but will block out
some time to go through tomorrow. Thanks for your patience! It's been v
busy with all these projects starting up -- and the big launch of the
Bootstrap 4 site!

On Thu, May 16, 2019 at 7:52 AM SHUBHAM KUMAR <notifications@github.com>
wrote:

[2019-05-16 22:44] jywarren commented on #5667
How are we feeling on all these? Perhaps we could start to choose some items from above to move into the README or another markdown doc? Thanks, all! Very cool!

[2019-05-16 22:45] jywarren commented on #5667
@alaxalves note the discussion here on which rooms to use: https://github.com/publiclab/plots2/issues/5667#issuecomment-491076876

How does this sound to you? Thank you!!!

[2019-05-16 22:56] jywarren commented on #5707
Well, it sounded like people wanted to try using Projects, or planning issues with checkboxes and lists. You could do either. The main thing is to move a lot of the items from your proposals into GitHub somewhere so they can be updated as you go and boxes checked and issues closed bit by bit. Milestones are another way to manage this. I don't really have a strong preference as long as each team ca

[2019-05-16 22:58] jywarren commented on #5728
Yes, this probably needs a little post Bootstrap-4 work!

On Wed, May 15, 2019 at 4:01 PM Cess <notifications@github.com> wrote:

[2019-05-16 23:06] gautamig54 commented on #5684
@CleverFool77 Thanks for opening a project for UI improvements. I think it is better to have a separate issue for each page which can be added in the to-do list for the project. Also, I will open up an issue which will list down the pages which we need to focus on or any other UI improvements and we can discuss our summer plan there. It will be helpful for an organised start to the project as our

[2019-05-16 23:08] jywarren commented on #5684
Gautami this sounds super!

On Thu, May 16, 2019 at 7:07 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-05-16 23:20] gautamig54 commented on #5684
I have opened a project for the Notification System. @namangupta01 Can you have a look at it and add if I missed something. Also, should I create an issue for the Notification System project for discussions?

[2019-05-17 02:25] sashadev-sky commented on #5667
@jywarren @everyoneelse I'm happy to add whatever you guys would like to the README. just let me know!

[2019-05-17 06:50] SidharthBansal commented on #5684
We can have discussion in the planning issue itself. At the beginning of
issue, you can have the editable checklist.
Thanks

On Fri, May 17, 2019, 4:50 AM Gautami Gupta <notifications@github.com>
wrote:

[2019-05-17 13:54] #5726 closed

[2019-05-17 15:33] konolga commented on #4963
Hi!! Looking to contribute to any FTO. Thanks!

[2019-05-17 15:54] ValeriaCobianISW commented on #5656
Hi @gauravano , can you review the pull request?

[2019-05-17 16:35] SidharthBansal commented on #5667
It will be great to divide this issue into some minor issues so that we can discuss the various possibilities we proposed in this issue.
I feel there are many brilliant ideas in this issue which we should plan for.

[2019-05-17 16:39] SidharthBansal commented on #5627
Can anyone from @publiclab/soc update this?

[2019-05-17 16:41] skilfullycurled commented on #5627
@SidharthBansal, I'm not in soc (I don't think) but what type of updating are you referring to?

[2019-05-17 16:42] aSquare14 commented on #5667
That's a great idea Siddharth.

On Fri, May 17, 2019, 10:05 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-05-17 16:42] eplata31 commented on #5680
Hi guys! I'm sorry but due to college and some other projects I'm not having as much time as I would like to dedicate to this problem :( so if anyone wants to take on this please go ahead. I will try to provide help later on.

[2019-05-17 16:42] skilfullycurled commented on #2590
Okay, I'll re-look into it.

[2019-05-17 16:48] Harshithpabbati commented on #5627
@SidharthBansal  This was already updated right ? And will be updated after next check-in.

[2019-05-17 16:52] SidharthBansal commented on #5627
@Harshithpabbati oh sorry. I misread it. It is correct. thanks all

[2019-05-17 16:58] skilfullycurled commented on #5729
A think I found a solution.  Here is a stack overflow question that addresses the same [Lat/Long](https://stackoverflow.com/a/2648750) problem by adding `:requirements =>  { :param_name => pattern_regex }` like so:

[code]

Alternatively, there is this Lat/Long stack overflow question which suggests making sure the URL [ends in a slash](https://stackoverflow.com/a/50249265), but I assume it's not

[2019-05-17 17:41] Divy123 commented on #5684
@aashna27 , @publiclab/mentors I have added the project for Image Sequencer here:
https://github.com/publiclab/image-sequencer/projects/2
 Aashna you can add your set of issues as well by breaking them up as suitable for you. Also we can collaborate upon and keep on breaking some issues as suitable.

[2019-05-17 18:11] CleverFool77 commented on #5684
Hi @gautamig54 .
That's exactly what I followed. I tried keeping different issue for each section.
And In each section , I added further checklists based on division of work.
We'll be adding these issues in todos of projects. It would make the process convenient and easy
Thanks !!!

[2019-05-17 18:20] CleverFool77 opened #5733 "UI Improvements PLanning Issue : Questions Page"
cc : @gautamig54

![PublicLab_mockups](https://user-images.githubusercontent.com/26685258/57947963-f8ef4480-78fd-11e9-9724-a30711ca27ae.jpg)

#### Checklists

- [x] Create shadow questions page @CleverFool77
- [x] first design block with some relevant information @CleverFool77
- [x] card of text area for questions with buttons and post options @gautamig54
- [x] featured questions cards   @CleverFo

[2019-05-17 18:21] CleverFool77 commented on #5733
Hi @jywarren @gautamig54
Is division of checklists for questions section correct ?

[2019-05-17 19:35] namangupta01 commented on #5684
Hi @gautamig54, I have added some tasks in the project and will add some soon.

[2019-05-17 19:38] SidharthBansal commented on #5652
https://github.com/jywarren/spectral-workbench/commit/a2bd770f6d3b402dfb70ae24460014bf44c41abe.patch this commit is present here https://github.com/publiclab/spectral-workbench/commit/a2bd770f6d3b402dfb70ae24460014bf44c41abe but i don't know why it doesn't have ``session_request missing`` keyword.

[2019-05-17 19:41] SidharthBansal commented on #5652
Point to note
![image](https://user-images.githubusercontent.com/20972099/57952119-da8f4600-7909-11e9-92a9-3dd3500f1b75.png)
THis is for MK and we are able to login with the GH perfectly fine.

[2019-05-17 19:42] SidharthBansal commented on #5652
![image](https://user-images.githubusercontent.com/20972099/57952157-f5fa5100-7909-11e9-8a79-8135c9833cef.png)
This is for SWB but we are not able to do the login successfully.

[2019-05-17 19:48] SidharthBansal commented on #5652
Problem is here with SWB
![image](https://user-images.githubusercontent.com/20972099/57952405-bed86f80-790a-11e9-9069-b4d3f8ceb34f.png)

[2019-05-17 19:53] SidharthBansal commented on #5652
![image](https://user-images.githubusercontent.com/20972099/57952554-3ad2b780-790b-11e9-8fcb-8dbdf70a3f06.png)
Please check the image carefully @jywarren. In the identity url we stored HTTS://PUBLICLAB.ORG/openid/user_name.
Now I came to know what's going on with these 3 environments(unstable, prod and dev). We use localhost:3000/openid/username for the development, which is different and hence 2

[2019-05-17 20:27] SidharthBansal commented on #5652
**Query Resolved** it was really tough this time. It took 2 days to resolve validation query.
![image](https://user-images.githubusercontent.com/20972099/57954036-6e174580-790f-11e9-830b-3edc73005b0b.png)

Try the following.
1. Login with SWB with PL any provider with help of localhost connected in user_session_controller
2. Login with SWB with PL any provider with help of publiclab connected in u

[2019-05-17 20:30] SidharthBansal commented on #5652
But I have never saved arrays in the database. I think we cannot do it. Yeah we can't do it.

[2019-05-17 20:35] SidharthBansal opened #5734 "Validation Error Email already taken"
**Query**
I'm trying on GitHub with the right env keys now, and it did lead me through the GitHub OAuth approval, which was great. But I got this error:

[code]

So, we should display that, i think?

**Query Resolved**
 it was really tough this time. It took 2 days to resolve validation query.
![image](https://user-images.githubusercontent.com/20972099/57954036-6e174580-790f-11e9-830b-3edc73005b0b

[2019-05-17 20:37] jywarren commented on #5612
just adding a few more here:

* [ ] the upper-right profile picture used to be circular
* [ ] the drag to upload lead wiki image zone used to be higher up, if there is not yet an image set - basically in line with the top of the textarea
* [ ] the editing tools button groups seem to be a little too close to each other

![image](https://user-images.githubusercontent.com/24359/57954677-95472600-78c1

[2019-05-17 20:37] SidharthBansal commented on #5652
refer https://github.com/publiclab/plots2/issues/5734

[2019-05-17 20:45] SidharthBansal commented on #5734
One solution is to change identity_url to array type which is not possible.
Other solution(which will give you pain many times) is to delete all the users from MK and SWB which have identity_urls with `localhost:` instead of `https://publiclab.org`.

[2019-05-17 20:52] SidharthBansal commented on #5734
For a normal user(who never uses localhost), this issue is trivial. This issue is one of the corner/ edge case where the person is both user and developer. Then only they will have two identity urls for same PL account.(localhost:3000/openid/bansal.. and publiclab.org/openid/bansal...).

Let's assume, I am a developer not playing with the login systems of PL, SWB and MK then this corner case will

[2019-05-17 20:58] SidharthBansal commented on #5734
The rarest species(you, me and may be 2-3 in future who will play with login systems) let's discuss this in detail Jeff.

Consider production env, MK and SWB will always have
![image](https://user-images.githubusercontent.com/20972099/57955566-e4b64200-7913-11e9-87fe-510332cf89da.png)
publiclab in the production. So, in the production database we will always store identity_url for the public lab.

[2019-05-17 21:03] SidharthBansal commented on #5734
Also, on further thinking, I came to know that

This will not be needed. Only the rarest species have to do this kind of stuff on their own PC. No production involvement.

But it will be great if @jywarren you can check that we don't have any user with the identity_url containing `localhost:`.
I bet we will never have such accounts in the production db.

[2019-05-17 22:53] alaxalves commented on #5667
Well I have been using Gitter's publiclab/publiclab for a quite time now and I like the idea of "keeping everybody together" xD. It's better for me that way because I can interact with mostly everybody from the publiclab community - I think - and I can my questions answered very quickly. If it a topic that concerns more to gsoc we could use the publiclab/soc channel as you suggested.

Anyway I vou

[2019-05-18 04:00] CleverFool77 commented on #5733
Hi @gautamig54 I'll start off with assignment.

[2019-05-18 05:45] CleverFool77 commented on #5708
Hi @jywarren ,
Maybe we can just have search option in navbar which would link to another page.
At newpage, we can have minimal search bar like google and we can do various `search by` option , there itself.
What do you think about this ?

[2019-05-18 05:47] CleverFool77 commented on #5708
Hi @gautamig54
As I can see gsoc starts later than outeachy and you have exams too.
So I'll begin the work for design. I have done assignments for checklists for myself.
Thanks !!

[2019-05-18 07:45] SidharthBansal commented on #5652
I assume the system will be corrected once you deploy plots2 again. I checked Google, GH and FB are working fine.
I am not able to login to pl.org with twitter. Are you also facing the same problem?
I think there is a problem with the twitter app which we created, in case you are also not able to login to pl.org from twitter provider. We may need to update it.

[2019-05-18 10:00] namangupta01 commented on #4962
Oh Sorry, for missing this out!
Working on it now.
Thanks

On Fri, May 17, 2019 at 3:39 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-18 12:57] pdurbin commented on #5722
Over at https://gitter.im/publiclab/publiclab/archives/2019/05/15?at=5cdcaba756271260f96b34d4 I learned from @skilfullycurled about Public Lab's use of Sentry. It looks like Sentry was added in pull request #4944 to address this issue: Tracking errors in production #4903

I'm still on the fence about whether my spreadsheet should be about open source projects or communities. Public Lab is both. Al

[2019-05-18 13:28] gauravano commented on #5667
Hi @publiclab/soc,

As many of you have opened a planning issue for your projects and started collaborating with each other so let's make a doc containing links to all the planning issues of all projects so that mentors and other contributors can browse for your work quickly :smile: . I have created a wiki at  https://github.com/publiclab/plots2/wiki/Summer-of-Code-2019-projects , please go ahead,