[2017-01-31 13:25] ananyo2012 commented on #1026
@Connerh92 Sure you can take this up

[2017-01-31 16:23] mridulnagpal commented on #1070
@jywarren how do we start on the next one?

[2017-01-31 16:32] jywarren commented on #1070
So I think we'll need to start using the Google Geocoding API, so look into the links from the above list, especially the form here:

https://github.com/publiclab/plots2/blob/master/app/views/users/_tags_form.html.erb#L101

You can try this search-location-by-text interface here: https://publiclab.org/profile/info/warren (but with your own username)

[2017-01-31 17:29] jywarren commented on #1183
Hm, it's interesting -- I think though for this kind of stuff, we'd only (as a starting point) need ActionMailer and ActionJob. At most basic, this could just be using ActionMailer to receive and parse incoming messages.

We should plan out a set of tests to ensure we can actually receive emails, and then send a set of test emails through the system to prove that it's receiving and parsing through

[2017-01-31 17:40] mridulnagpal commented on #1183
@jywarren Yeah seems legit.

[2017-01-31 18:01] jywarren commented on #1026
Yes, and happy to help if you need any input! Thanks!

On Tue, Jan 31, 2017 at 8:25 AM, Ananyo Maiti <notifications@github.com>
wrote:

[2017-01-31 18:18] steviepubliclab commented on #827
sounds good to me.

[2017-01-31 20:18] drfigs commented on #1086
First time trying to contribute.  Is anyone else working on this issue? If no-one I would love to give it a try

[2017-01-31 22:22] jywarren commented on #1086
Please do -- it sounds like nobody's made much progress on it yet, but I'm happy to help anyone who's taking a crack at it! Please open a pull request and ping in here if you do!

[2017-01-31 23:14] drfigs commented on #1086
I opened the pull request #1086 adding ?=123 to comment controller #1227 . I would appreciate any feedback

[2017-02-01 15:51] #830 closed

[2017-02-01 16:01] jywarren commented on #1181
Great -- solved in #1187. Thank you!

[2017-02-01 16:02] #1181 closed

[2017-02-01 17:27] jywarren commented on #1086
Fixed in #1227! Thanks!

[2017-02-01 17:27] #1086 closed

[2017-02-01 17:48] jywarren opened #1230 "Email notify all followers of a tag if a new comment includes #tagname"
Needs some fleshing out, but the comment notify code is here:

https://github.com/publiclab/plots2/blob/master/app/models/comment.rb#L97-L112

1. We'd want to scan for tags, which we already do when displaying, here: https://github.com/publiclab/plots2/blob/master/app/models/comment.rb#L43
2. We should make a method like `def notify_tag_followers`, where we collect those tags
3. we'd want to searc

[2017-02-01 18:54] drfigs commented on #1230
I would like to try with this issue.

[2017-02-01 19:09] jywarren commented on #1230
Please do! Perhaps you could start by using this `followers` method to
collect tag followers:

https://github.com/publiclab/plots2/blob/849d00aa4e2f057783eda90b1d1d52b64065525d/app/models/tag.rb#L134-L140

I think a test is actually the best first step; similar to this one, a test
that confirms that a user who wouldn't otherwise be notified gets one if
they're following the appropriate tag:

https

[2017-02-03 16:27] jywarren commented on #171
Hi, @FlameFractal -- GCI has wrapped up and this one is still up for grabs -- we'd love to have your contribution here if you're still interested!

[2017-02-04 00:31] imsarath commented on #1196
@jywarren , Is this issue fixed ? If not, can i pick it up ?

[2017-02-04 11:18] yukiisbored opened #1236 "Danger: Add wip label for PRs that doesn't comply"
I think it's a great idea for danger to add a `wip` label for PRs that doesn't comply with the guideline and won't check it unless the `wip` label is removed. If it complies with the guideline, add a `pending review` label.

[2017-02-04 12:44] VishalRocks commented on #1026
Hi I saw this issue open, can I solve this?

[2017-02-04 17:42] mridulnagpal commented on #1070
@jywarren Okay so I studied the code for the API but how do I implement it for this one?

[2017-02-05 04:44] djmgit commented on #1198
Hi, I would like to work on this issue

[2017-02-05 04:56] ryzokuken commented on #1198
@djmgit Sure, feel free to ask in case you need any help.

[2017-02-05 21:40] devinbalkind commented on #1144
Can we get more characters in the "preview" field - which is the tool's description? Looks like the current count is around 100 characters. 500 would be good. Thanks.

[2017-02-06 16:14] jywarren commented on #1047
Progress in #1235, should be published this week for trying it out...

[2017-02-06 16:17] steviepubliclab commented on #1047
Great news!

[2017-02-06 17:36] jywarren commented on #1047
http://testing.laboratoriopublico.org/methods/mining shows initial styling work, though the actual results aren't complete.

[2017-02-06 18:01] jywarren commented on #1144
Hi, @devinbalkind - would you be willing to add a parameter to the `body_preview` method here, to make that possible?

https://github.com/publiclab/plots2/blob/master/app/models/drupal_node_revision.rb#L127

[2017-02-06 19:42] ebarry commented on #1047
Wow looking amazing!

Quick thoughts on the wording:
- can we choose either techniques or methods for the sentence? gives us
more characters to add in "and advocacy" at the end of the sentence.
- "browse many of them" -- why not just "browse them"

*Public Lab's community collaboratively develops many different techniques
and methods for DIY environmental monitoring.*

*Browse many of them here an

[2017-02-06 20:08] djmgit opened #1239 "drag and drop prompt in the edittor going down behind publish button in mobile view"
When viewing the mobile version of the site, the drag and drop prompt is going behind the publish button. As a result of which the entire label 'Drag & drop to add an image or file, or choose one' cannot be viewed properly. The container should be made responsive, that is the height of the container should increase when the screen width reduces

[2017-02-06 20:14] djmgit commented on #1239
A screen shot of the problem :
![screenshot from 2017-02-07 01-43-45](https://cloud.githubusercontent.com/assets/16368427/22664493/f107908e-ecd6-11e6-9bc6-1d79ba432bf9.png)

[2017-02-06 20:52] devinbalkind commented on #1144
Tried. Let me know if that works.

Thanks.

[2017-02-06 21:12] jywarren commented on #1070
Hi, Mridul - why don't you try copying in the key portions of the form from the other document, and we'll see how it runs?

[2017-02-06 21:31] jywarren commented on #1239
great catch! reading your PR now. Thank you!

On Mon, Feb 6, 2017 at 3:14 PM, Deepjyoti Mondal <notifications@github.com>
wrote:

[2017-02-06 21:34] jywarren commented on #1047
Thanks, I just made up text so feel free to propose more thorough rewrites as well! Help with text is ALWAYS welcome!

I have to say, i'm thinking hard about how "methods" sounds a bit intimidating, which is why i mixed in other usages. If you can help make "methods" sound like something anyone can post or share, and not a SCIENTIFIC TERM (per se), I'd love to integrate new text.

[2017-02-06 22:06] jywarren commented on #1196
It is not fixed yet -- yes, that'd be great. Tell me if you need help diving in!

[2017-02-06 22:06] jywarren commented on #1236
+1!

[2017-02-06 22:07] jywarren commented on #1026
Perhaps @Connerh92 is still working on it? If not, you can find more problems to solve here:

https://github.com/publiclab/plots2/projects/2?fullscreen=true

thank you!!!

[2017-02-06 23:52] drfigs commented on #1230
Hi,
I tried to follow your steps, but I am getting little confused.
first, I created a record to tags.yml and tag_selection.yml ...so user bob (uid =1) now follows the tag "Ballon" (tid = 17).

I created a test that makes sure we are calling the right mailer method CommentMailer.notify_tag_followers(user, tag)....on the test is missing to check the message body!

I am having troubles in:
  1) wher

[2017-02-07 08:52] shardulparab97 commented on #1198
@djmit are you still working on this issue.
I also wanted to give it a try!

[2017-02-07 14:33] steviepubliclab commented on #277
Hi there,
This old issue seems to be happening again.
Here are a couple examples of where it was in the past but is no longer working.
- https://publiclab.org/wiki/pm
- https://publiclab.org/wiki/people-of-the-new-orleans-urban-waters-project

Thanks!

[2017-02-07 17:01] djmgit commented on #1198
@shardulparab97 yeah I am still working on it, will be sending a PR soon (was busy with some other stuff) :)

[2017-02-07 17:06] jywarren commented on #277
Thank you, solved in https://github.com/publiclab/plots2/pull/1238 -- should publish today!

[2017-02-07 19:27] jywarren commented on #1198
Shardul - do check out this page for other issues you can work on --
including the "fto-candidate" ones:
https://github.com/publiclab/plots2/projects/2?fullscreen=true

Thank you!

On Tue, Feb 7, 2017 at 12:01 PM, Deepjyoti Mondal <notifications@github.com>
wrote:

[2017-02-07 19:29] #1239 closed

[2017-02-07 20:41] mathewlippincott opened #1248 "Grids not displaying"
Activities, Questions, and other grids don't appear to be displaying:
Two examples, MiniVol and Spectrometry:
https://publiclab.org/wiki/spectrometry
https://publiclab.org/wiki/minivol

![screen shot 2017-02-07 at 12 39 22 pm](https://cloud.githubusercontent.com/assets/1203280/22710549/977ac548-ed32-11e6-9081-7d422936b8a2.png)
![screen shot 2017-02-07 at 12 39 13 pm](https://cloud.githubuserconten

[2017-02-07 20:43] jywarren commented on #1248
Thks for the thorough report, v helpful.

Should be related to this line and similar ones:

https://github.com/publiclab/plots2/blob/master/app/models/concerns/node_shared.rb#L60

On Feb 7, 2017 3:41 PM, "mathew lippincott" <notifications@github.com>
wrote:

Activities, Questions, and other grids don't appear to be displaying:
Two examples, MiniVol and Spectrometry:
https://publiclab.org/wiki/spec

[2017-02-07 20:53] jywarren commented on #1248
Test to reproduce added in #1248, once confirmed I'll file a fix.

[2017-02-07 23:34] mathewlippincott opened #1250 "Dropdown menu not dropping, chrom & firefox on mac"
I'm trying to access the dropdown menu for print/code/etc. options, but it won't open up. Same problem in Chrome and Firefox

Chrome: Version 55.0.2883.95
Firefox: 51.0.1

![screen_shot_2017-02-07_at_3_29_34_pm](https://cloud.githubusercontent.com/assets/1203280/22716408/ceb99d46-ed4a-11e6-8110-7260dd83f060.png)

![screen shot 2017-02-07 at 3 30 07 pm](https://cloud.githubusercontent.com/assets/12

[2017-02-08 00:23] #1248 closed

[2017-02-08 05:23] shardulparab97 commented on #683
I would like to give this issue a try.

[2017-02-08 19:05] drfigs commented on #1230
@jywarren any feedback on this?

[2017-02-08 21:29] mridulnagpal commented on #1070
@jywarren What is our API_KEY for geocoding API?

[2017-02-08 23:09] jywarren commented on #1070
I think we can't share that out publicly, but you should be able to get your own. But now that I think about it, i'm not sure it's required anymore! Are you sure?

[2017-02-09 00:45] mridulnagpal commented on #1070
How do I import the autocomplete method if I can't import the object google? Is there any other way to Import google?

[2017-02-09 07:08] shardulparab97 commented on #683
Could we make use of omniauth?

[2017-02-09 16:13] jywarren commented on #1250
Hi, could you open your javascript console and paste in any errors you see here? Thank you!

[2017-02-09 16:17] jywarren commented on #1250
I believe this may be resolved now in any case!

[2017-02-09 16:17] jywarren commented on #1250
Pls reopen if you see it persisting. Thanks!

[2017-02-09 16:17] #1250 closed

[2017-02-09 16:20] jywarren commented on #1070
Hi, Mridul, perhaps we should open a new issue for this, as we're making a very long comments thread on this more general issue. But i looked and apologies, it looks like the Google Maps API and key are shown here: https://github.com/publiclab/plots2/blob/master/app/views/users/info.html.erb#L8

[2017-02-09 16:29] mridulnagpal opened #1256 "Placename autocompletion (break me up) like MapKnitter new map form #1070"
### What happened just before the problem occurred

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.or

[2017-02-09 17:10] jywarren commented on #1230
I'm sorry i was slow responding! I'll take a look at the pull request now. Thank you!!!

[2017-02-09 18:28] mathewlippincott commented on #1250
Yes, it appeared to be fixed as of yesterday afternoon, thanks!

[2017-02-10 19:36] djmgit commented on #422
@jywarren I would like to work on this issue. How should I proceed?

[2017-02-10 20:10] ebarry commented on #984
Wow this is great! Does anyone know the status on open aerial map (or contemporary version of that project) which was serving out our actual archive of the imagery itself?

[2017-02-12 11:15] shanlter commented on #984
I am so terribly sorry that I started the question, but missed all your replies since I didn't login github. This is awesome! I checked the maps in China, something wrong, I report  here:
https://mapknitter.org/maps/testt fake image
https://mapknitter.org/maps/kunlun3 fake image
https://mapknitter.org/maps/test1--11 fake image
https://mapknitter.org/maps/hailongtun--4 fake image
https://mapknitter

[2017-02-12 16:53] mridulnagpal commented on #1256
@jywarren I have posted a PR please have a look

[2017-02-14 08:07] icarito commented on #1112
This is the latest attempt, I got up to 39.14%.
[code]

[2017-02-14 08:23] icarito commented on #1112
Trick learned, to avoid to reindex the entire database while debugging the solr schema (that is, the `searchable` block in the model):
[code]
It is possible to limit to indexing a single model. First argument is the batch size.

[2017-02-14 13:49] jywarren commented on #1112
Was it possible to disable boost for the revisions table? I could submit a
commit if that'd help.

On Feb 14, 2017 3:23 AM, "Sebastian Silva" <notifications@github.com> wrote:

[2017-02-14 13:54] icarito commented on #1112
Yes but now I'm looking at a different error on the same table:

[code]

I'm trying to slice the body_text as I did with DrupalNode, but I'm
still getting the same error.

[code]

My working changes are in /srv/plots_branch1, I've not committed yet.
I posted some notes as I went along at http://pad.publiclab.org/p/wwg

On 14/02/17 08:49, Jeffrey Warren wrote:

[2017-02-14 14:02] icarito commented on #1112
It worked with:
`body.to_s.gsub!(/[[:cntrl:]]/,'').to_s.slice(0..2500)`
But that only indexes the beginning. In theory 32766 characters are possible but I'm not sure how it's counting (some articles have japanese or chinese which is longer than UTF8).

[2017-02-14 15:29] jywarren opened #1260 "Display "you are a coauthor" alert on pages where you are listed as a coauthor"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-02-14 15:32] jywarren commented on #1198
Hi, @djmgit -- just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks! If you push up a PR, it's helpful to see even if it's not complete, and we may be able to offer input.

[2017-02-14 16:29] jywarren commented on #1112
Hmm, well let's leave a good note and we can circle back later and narrow
it down to improve the percentage of text were indexing. For now truncating
seems like a good stopgap until we get the index to complete. Thanks!

On Feb 14, 2017 9:03 AM, "Sebastian Silva" <notifications@github.com> wrote:

[2017-02-14 16:35] icarito commented on #1112
Agreed, I'm going to push to the fix_solr branch. I got it to index
truncated to the 10000th character.

I'm not sure if this is a design limit of Solr.

:-/

On 14/02/17 11:29, Jeffrey Warren wrote:

[2017-02-14 17:07] jywarren commented on #422
Hi! See how on this line, we're putting in the markdown for the image: https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/dragdrop.js#L68

But that's only run on completion of upload, not on initial upload. It's in the "done" function.

If we could instead move that line into the `start` function, that'd insert the markdown immediately: https://github.com/publiclab/plots2/blob/

[2017-02-14 20:01] jywarren commented on #683
Hi, sorry for my late reply -- looking at it now: https://github.com/omniauth/omniauth

So would we then be able to install multiple of these "strategies" to support FB, Twitter, Google, etc?

https://github.com/omniauth/omniauth/wiki/List-of-Strategies

Thanks for writing back!

[2017-02-14 21:35] jywarren commented on #683
If you'd like to add those gems and open a pull request, I'd love to review, thanks!

[2017-02-14 21:43] jywarren commented on #984
There is indeed a lot of fake stuff, but it's hard to screen that out. We could try showing only maps by non-anonymous users, would that help?

[2017-02-14 21:48] jywarren commented on #984
OK, I"m going to try not showing anonymous authors. Let's see if it runs in the change I just submitted in #234, and I can publish it if so. Thanks!

[2017-02-14 22:21] #1256 closed

[2017-02-15 08:38] aspriya commented on #1260
Hello jywarren, i would like to work on this one. As i'm new to open source, doing this will help me to get on track fast.

So i have read some guides in publiclab.com and according to that forked and cloned the plots2 repository to my local machine. What should I do after that?. Maybe I shall install according to the guides in README.md?

[2017-02-15 14:12] jywarren commented on #1260
That's right - you want to get to the point where you can run `rake test`
and see everything pass successfully. Thank you for taking this on!

On Wed, Feb 15, 2017 at 3:38 AM, Ashan Priyadarshana <
notifications@github.com> wrote:

[2017-02-15 17:17] aspriya commented on #1260
I installed it correctly and all tests pass. But there are about 4 DEPRECATION WARNING. Hope that's not a big issue for me to continue.
I can understand the question and appreciate any directions to look for. Right now i'm trying to understand notes controller (specially it's show action) and show.html.erb

thanks.

[2017-02-15 17:25] jywarren commented on #1260
No, the deprecation warnings are fine, we're working on them but they won't
stop you.

OK, please feel free to reach out here or on our Gitter channel for help!
https://gitter.im/publiclab/publiclab

On Wed, Feb 15, 2017 at 12:17 PM, Ashan Priyadarshana <
notifications@github.com> wrote:

[2017-02-15 19:15] jywarren commented on #1026
@Connerh92, are you still working on this? If not, @VishalRocks,  you can probably give it a try!

[2017-02-15 19:17] jywarren commented on #1230
Just for reference, I left comments over in the pull request at #1245

[2017-02-15 21:43] jywarren commented on #1005
We now have early prototype editable subsections:

https://publiclab.org/wiki/sandbox?raw=true

[2017-02-15 21:46] jywarren opened #1264 "Insertable inline functions (grids, prompts, etc)"
We now have early prototype editable subsections:

https://publiclab.org/wiki/sandbox?raw=true

Now we ought to have a way to insert some of our new features (inline power tags) as outlined in

https://publiclab.org/wiki/power-tags#Prompts

This could look like a button with a dropdown of options;

* prompt for input
* display grid of tagged notes
* display activities by tag
* display Q&A

The opt

[2017-02-15 21:50] jywarren opened #1265 "Integrate Rich Editor into "edit subsections" code"
We now have early prototype editable subsections:

https://publiclab.org/wiki/sandbox?raw=true

(testing being added in #1263)

We should be able to edit the subsections using the rich editor:

https://github.com/publiclab/PublicLab.Editor/

Similarly to how we use it here:

https://github.com/publiclab/plots2/tree/master/app/views/editor/rich.html.erb

Since it takes a lot of resources to boot up

[2017-02-16 21:57] steviepubliclab opened #1268 "/lists page bug"
### What happened just before the problem occurred
The graph that was previously on the www.publiclab.org/lists page isn't working. We have moved it to this page for now: https://publiclab.org/wiki/lists-growth, but we still can't get it to load properly.

### PublicLab.org username: stevie

[2017-02-18 15:55] jywarren commented on #1260
Solved in #1267! Thank you!!

[2017-02-18 15:55] #1260 closed

[2017-02-18 22:10] jywarren commented on #793
I'm resolving this in javascript, in a series of pull requests today. Thanks!!!

#1274, #1271, #1272, #1273

[2017-02-18 22:10] #793 closed

[2017-02-18 22:11] jywarren commented on #1264
Solved in #1274

[2017-02-18 22:11] #1264 closed

[2017-02-19 19:01] jywarren commented on #1268
Adjusted title and additionally it was causing some havoc with deep links which are appended to each header on the page content. I saw it adding a new link icon every second or two, in an endless loop. But the new page it's on does not have headers, so you'd have to add one back in to see this behavior.

Worth putting this on a completely unrelated page on another site to see if it loads there!

[2017-02-20 08:59] mridulnagpal opened #1278 "Panning map to selected place #1070"
### What happened just before the problem occurred

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.or

[2017-02-20 14:04] mridulnagpal commented on #1070
@jywarren What's next?

[2017-02-20 19:35] VishalRocks commented on #1026
I have done it..but how to test it in local? I tried url localhost:3000/map/northern-virginia-community-college-sterling-virginia/03-07-2014

[2017-02-20 20:01] wvward commented on #1026
And glad others picked up where I left off (the beginning)! :)

On Feb 20, 2017 1:35 PM, "Vishal Sharma" <notifications@github.com> wrote:

[2017-02-20 20:47] jywarren commented on #1026
Hi all!

To test, start by opening a pull request and we can add a test then. Sound
good?

On Feb 20, 2017 3:01 PM, "wvward" <notifications@github.com> wrote:

[2017-02-20 22:44] jywarren commented on #1278
Solved in #1279!

[2017-02-20 22:44] #1278 closed

[2017-02-20 22:45] jywarren commented on #1070
HI, @mridulnagpal - I notice that the update doesn't happen until you deselect the search form box, do you think you could make it happen upon selecting a place?

Next up will be a method to get the northwest corner of the current box, then working down the list above. I've been checking them off as we go!

Thanks!

[2017-02-21 14:22] JayTanna opened #1281 "I am not able to chat with the community"
### What happened just before the problem occurred

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.or

[2017-02-21 16:42] ryzokuken commented on #1281
Could you provide any additional information regarding this issue?

[2017-02-21 20:00] jywarren commented on #1265
done in #1282

[2017-02-21 20:00] #1265 closed

[2017-02-22 01:29] icarito commented on #1265
Wow, this looks nice. I tried it in the sandbox.
I see two issues:
 - "Expanding sections" headers don't appear to be editable.
 - "Expanding sections" are not expanding anymore. Instead they are expanded by default and clicking the expansion widget "triangle" does nothing.
 - While probably useful, it may be confusing to have more than one or two rich editor subsections open at once.
Let me know

[2017-02-22 15:17] VishalRocks commented on #1026
Sure..this is the pull request https://github.com/publiclab/plots2/pull/1285

[2017-02-22 17:47] meganft commented on #1211
Hi @jywarren is this still a pending issue?

[2017-02-22 18:12] jywarren commented on #1211
Hi, this is, but I think we need to more clearly specify what we want to do --

This could be a good first step, though, and if you can upload a screenshot with your pull request, that would be great!

On the other hand, there are also lots of great issues to be tackled that are a little more organized, at:

https://github.com/publiclab/plots2/labels/first-timers-only

https://github.com/publiclab

[2017-02-22 18:15] jywarren commented on #1026
Great, solved over there!

[2017-02-22 18:15] #1026 closed

[2017-02-23 17:39] ryzokuken commented on #1209
@jywarren Coming back to this issue. Sorry for the delay.

[2017-02-23 18:55] ryzokuken commented on #1209
@jywarren Thanks our last little endeavour, all the tests passed. I added the test for bad formatted dates, and it fails as expected.

[code]

should we now try to handle this invalid date exception inside the function that calls `strptime` or inside `node.add_tag` itself? The second one sounds much better as users won't be able to add invalid dates in the first place, thus freeing us from the has

[2017-02-23 19:28] steviepubliclab opened #1289 "icon drop down not working on wiki pages"
### What happened just before the problem occurred
Seems like the man icon on the right side of the page does not have the drop down function working on wiki pages.

For example:
- https://publiclab.org/wiki/barnraising-2015
- https://publiclab.org/wiki/frac-sand

### PublicLab.org username
stevie

[2017-02-23 21:58] jywarren commented on #1209
Let's do it on tag creation. But we should manually check that when you create a note with a bad tag, you get some kind of notification.

Let's add a validation to the tag.rb model, which should fail this line in `node.add_tag`:

https://github.com/publiclab/plots2/blob/master/app/models/drupal_node.rb#L666

[2017-02-24 00:03] jywarren commented on #1281
Hi, I think we saw your message but you were gone by the time we replied; sorry! I'm closing this now but if you have a specific question, please ask!

[2017-02-24 00:04] #1281 closed

[2017-02-24 00:04] jywarren commented on #1289
Fixed in https://github.com/publiclab/plots2/pull/1288, thank you for reporting!

[2017-02-24 00:04] #1289 closed

[2017-02-24 03:52] ryzokuken commented on #1209
Line number 666? :stuck_out_tongue: Will look into it now.

[2017-02-24 16:17] meganft commented on #1211
Thanks! I went ahead and did some work on it so I will screenshot my PR to see if it's in the direction you were thinking.

[2017-02-24 19:43] steviepubliclab commented on #1289
Fixed? or something people are looking at somewhere else? Looks like all the dropdowns on the wiki pages aren't working right now.

[2017-02-24 23:50] jywarren commented on #1289
Fixed, at least it works for me... I just tested. Can you try in an
incognito window? Maybe you need to clear your cache?

On Feb 24, 2017 2:44 PM, "steviepubliclab" <notifications@github.com> wrote:

[2017-02-25 17:44] jbkimble commented on #1198
@jywarren Does this problem still need fixing?  I'm looking to get into open source work and I could put in a PR over the next day if this issue still needs fixing.

[2017-02-25 17:46] jbkimble commented on #171
@jywarren Does this issue still need someone to look at it?  I'd be happy to work on this over the next several days.  Thanks!

[2017-02-25 19:43] cpdavngr commented on #793
Sorry I didn't get this done sooner. The random numbered divs made this a bit tricky and I was working on a way to identify them by type without making adjustments to the rest of the divs on the page.

[2017-02-25 19:52] jywarren commented on #793
No problem at all! I suddenly realized that just expanding open if it's too
long would solve a lot of problems for this issue and make implementation
simpler and easier to maintain. If you're looking for another one to
tackle, please see our help-wanted issues!

On Feb 25, 2017 2:43 PM, "Ralph M." <notifications@github.com> wrote:

[2017-02-25 19:53] jywarren commented on #171
It seems to still be open, please take a try!

On Feb 25, 2017 12:46 PM, "Jon Kimble" <notifications@github.com> wrote:

[2017-02-25 19:57] jywarren commented on #1198
I think @djmgit is still working on it in #1237, but there are a lot of other issues we'd be very grateful for your help on:

https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3Afto-candidate

[2017-02-25 22:37] jbkimble commented on #171
@jywarren Awesome, I'm on it!

[2017-02-26 18:19] StlMaris123 commented on #299
Hello, i would like to work on the issue

[2017-02-26 18:33] jywarren opened #1293 "Redirected pages not listed in wildcard tag listing"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2017-02-26 18:39] jywarren commented on #299
That would be great, and we'd love to have your help! Happy to answer questions and help you get started. Thanks!

[2017-02-27 08:07] StlMaris123 commented on #299
I have updated the constants.rb file, i just needed some help on how i will do the tests. Thanks

[2017-02-27 09:05] StlMaris123 commented on #1293
I will take up the issue

[2017-02-27 16:57] jywarren opened #1298 "Redirects to non-existent pages should fail gracefully"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2017-02-27 17:03] jywarren opened #1299 ""redirect" power tags to non-existent pages should not be creatable"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2017-02-27 17:33] athityakumar commented on #683
Can `devise` gem be used here for implementing the "login with social media account" functionality?

[2017-02-27 18:38] ananyo2012 commented on #683
@athityakumar You don't need `devise` to implement this. `devise` is itself is an complete authentication solution. We have `authlogic` for that already. You need to use gems like `facebook-omniauth` (for facebook login) and similar for google and twitter.

[2017-02-27 18:43] athityakumar commented on #683
Oh, ok. Can I be assigned this issue if it hasn't been already assigned? I'll go through the codebase, make the changes and send a PR by Mar 10th.

[2017-02-27 18:51] ananyo2012 commented on #683
Yeah sure go for it!

[2017-02-27 22:36] jywarren opened #1300 "Refactor wiki revisions to use external jsdiff library"
### Problem

We have two diff libraries, one older one that's used on wiki revision pages:

https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/jsdiff.js

(used here: https://github.com/publiclab/plots2/blob/master/app/views/wiki/revisions.html.erb#L109)

and one more maintained, externally included one we'd like to shift to:

https://github.com/publiclab/plots2/blob/master/app/

[2017-02-27 23:44] jywarren commented on #511
Hi, are either @mayank-mittal or @dristybutola still interested in trying this one out? We'd love to help if you've gotten stuck.

[2017-02-27 23:45] jywarren commented on #1028
Hi all -- @manish310794 or @mridulnagpal - are folks stuck on this one or want to give it another try? We're happy to help!

[2017-02-27 23:46] jywarren commented on #956
Hi, folks, we're getting really close here, with Tag, Comment, and Counter dealt with. If folks want to tackle the next one, now is a good time! I was thinking either `DrupalNodeRevision => Revision` or `DrupalNodeCommunityTag => UserTag` would be a good next step.

[2017-02-28 00:39] dristybutola commented on #511
Hi @jywarren , I am going to start work on this :), can I?

[2017-02-28 03:45] shardulparab97 commented on #683
Yes @jywarren , it would allow us to implement login through more sites as the need arises.

[2017-02-28 14:27] ryzokuken opened #1301 ""redirect" power tags to non-existent pages should not be creatable"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from p

[2017-02-28 14:29] ryzokuken commented on #1301
@jywarren I felt the issue was pretty easy to solve as-is. However, I've tried adding a few specifics. Please check if it satisfies the requirements for a good fto issue. Will add the fto label whenever you're okay with it.

[2017-02-28 14:33] jywarren commented on #1301
+1, looks great!

[2017-02-28 14:35] ryzokuken commented on #1298
@jywarren There's nothing extra I think this issue needs in order to be a good FTO issue (I mean, that one single line of code is enough to catch the exception) if you're okay with it, I would suggest adding FTO specific stuff to this issue itself as it doesn't need any restructuring or extra specifics that are required to solve it.

[2017-02-28 15:24] aspriya commented on #214
@jywarren So as you have stated above, GSoC 2017 has arrived and I could be working on this. I already created a feature branch for this and doing some experiments with mailman gem. And i'm checking for other solutions that could be used also.
thanks.

[2017-02-28 16:18] ryzokuken opened #1303 "Bot for Publiclab"
# Bot for Publiclab

## Why

Being an active and welcoming open source community, Publiclab requires a chatbot for a variety of purposes, including the automation of some critical but uninteresting jobs.

Some examples include:

- Normal chatbot functionality (greeting new users, fetching some important data real quick, etc) (can be expanded to add features as and when required)
  - We could add a

[2017-02-28 16:19] ryzokuken commented on #1303
@jywarren Please look into this. I didn't know where else to put this up :stuck_out_tongue: I will keep adding stuff as and when it comes up.

[2017-02-28 17:30] ebarry opened #1304 "/questions page does not show any questions"
### What happened just before the problem occurred

I visited https://publiclab.org/questions/ and no questions are shown.
Seems like when i click back and forth between "Recently asked" and "Recently answered", the yellow question blocks flicker for an instant before the page is just blank again. I wonder if this is happening for anyone else?

### Relevant URLs

https://publiclab.org/questions/

[2017-02-28 18:38] jywarren commented on #1303
Hi, Ujjwal - I think you could share this just as it is as a research note
-- i think lots of people will have ideas and input over there, and I
certainly do!

On Tue, Feb 28, 2017 at 11:18 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-02-28 19:11] ebarry commented on #1304
Thanks @ryzokuken upon your encouragement i tried all the tabs again, and then restarted my computer in case the problem was somehow in me running out of memory (i really have excessive #s of tabs going right now).

Unfortunately, the problem is persisting!
Each tab does somewhat helpfully still seem to show the results pagination navigation.

[2017-02-28 19:24] ryzokuken commented on #1304
@ebarry Did you switch browser tabs? There are quite a few tabs (five, to be precise) in the questions list itself. Try switching them. Maybe the recently asked questions don't show up but the recently answered ones do?

[2017-02-28 20:55] jywarren commented on #1299
Merging into #1301, thanks!

[2017-02-28 20:55] #1299 closed

[2017-02-28 21:27] jywarren commented on #1304
This is a known issue related to how the questions page uses session
storage; related:

https://github.com/publiclab/plots2/issues/897
https://github.com/publiclab/plots2/pull/929

I think we need to reorganize and break up some of these issues so this
gets solved!

On Tue, Feb 28, 2017 at 2:24 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-02-28 22:52] jywarren commented on #214
Oh, excellent! Please checkout
https://publiclab.org/notes/warren/02-28-2017/call-for-proposals as well.

On Feb 28, 2017 10:24 AM, "Ashan Priyadarshana" <notifications@github.com>
wrote:

[2017-03-01 03:54] Ellimist22 commented on #1301
I would like to have a go at this

[2017-03-01 06:23] ryzokuken commented on #1304
@jywarren Let's talk this over and try to fix this in parts. Maybe we could get a few FTOs out of this?

[2017-03-01 14:48] ryzokuken commented on #1301
@Ellimist22 Sure! In case you face any issues, please feel free to ask over here or in our Gitter channels. Goodluck!

[2017-03-01 16:44] #1209 closed

[2017-03-01 16:48] jywarren commented on #299
Found your PR in #1297 -- will comment over there, thanks!

[2017-03-01 16:56] jywarren commented on #1293
Yes please, we appreciate it!

[2017-03-01 16:57] jywarren commented on #511
Yes, please do, if you're able -- much appreciated!

[2017-03-01 18:39] dristybutola commented on #511
So, I am working on this issue  :)

[2017-03-01 18:41] jywarren commented on #1304
Agreed. I would super love to start by creating a parallel URL based system for searching/sorting questions, so that when entering tags, instead of in the session, it's represented in the URL.

Once we build and test that (which should be pretty simple) we can then just strip out the session stuff and default to that.

But is there a reason not to use the existing questions-by-tags listings at, fo

[2017-03-01 18:42] jywarren commented on #511
Super. Thanks!

[2017-03-01 19:23] ryzokuken commented on #1304
Yeah, I mean, not storing data in the session but rather rendering the questions on-the-fly using data in the URL (sorry if I'm misunderstanding you) seems not only the easier task, but quite natural. Let's work on this.

Regarding the older listings, we would need to make a newer way of listing questions anyway, but maybe we could keep this one as well (for now, atleast). It would not be a nice t

[2017-03-01 19:27] steviepubliclab commented on #1289
Seems to be working now. Thanks!
-Stevie

On Fri, Feb 24, 2017 at 5:50 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-03-01 20:00] ryzokuken commented on #1293
@jywarren Could you please make sure if he's working on it and remove the fto-candidate label if that's the case? Cutting down on fto-candidates. Thanks.

[2017-03-01 20:04] ryzokuken commented on #1190
@jywarren Here's the reformatted counterpart: https://github.com/publiclab/plots2/issues/1198
Feel free to close this issue.

[2017-03-01 21:00] ryzokuken commented on #1028
@manish310794, @mridulnagpal Any of you guys working on this issue?

[2017-03-01 21:08] ryzokuken commented on #1303
Could you please talk with the other maintainers and other concerned individuals and tell me if I could pick up the bot as a GSoC project? Are they even willing to give it a shot? (with or without the GSoC tag)

If they agree, then I suppose we should make a formal design document for the project and finalize a few specifics before we narrow down the choices and choose the features we'd focus on.

[2017-03-01 22:44] pdhixenbaugh opened #1307 "[request] Add post tags (and other info) to mod mail"
### Relevant URL
[app/mailers/admin_mailer.rb ](https://github.com/publiclab/plots2/blob/fd0b8d65c3005e082115271aa0d666a78708fd0d/app/mailers/admin_mailer.rb)

### Description
Two independent suggestions for improving mod mail:
1. Include post's tags
2. Include newly created account content

When moderators get an email notifying them of a new poster, or a post reported as spam, this email does no

[2017-03-02 02:36] jywarren commented on #1304
Well, currently since it uses sessions, the /questions page doesn't go to a unique url, so we could just direct folks to `/questions/tag/<tagname>` using the form, right? Or do I misunderstand you?

[2017-03-02 04:50] ryzokuken commented on #1307
We could make these additions to the mails being sent. Does the post contain details about (or a reference) to the user, though?

[2017-03-02 05:04] ryzokuken commented on #1304
Okay, I got you. Also, don't know if it's happening to anyone else, but I was unable to remove the selected tags in the session by clicking on the cross. The page just re-rendered without the tag actually being removed. All these problems would be solved and searching would be further simplified should we choose to use the redirection method instead.

[2017-03-02 09:32] pdhixenbaugh commented on #1307
Curious about what @jywarren will say. In the meantime, you can see from this example email below that there is a reference to the user in the email, but perhaps not in the content of the post? Not sure if that helps.

The example (redacted so the spammers won't win):
[code]
(end of mod email)

[2017-03-02 12:36] ryzokuken commented on #1307
@pdhixenbaugh Thanks for the reply. I got an excellent overview of what the current layout of the mail is. I would look into the mailer's code to see what we can do.

[2017-03-02 14:08] ryzokuken commented on #1307
@pdhixenbaugh https://github.com/publiclab/plots2/blob/master/app/mailers/admin_mailer.rb#L48-L60 is the part when mail for spam posters is composed. However, it doesn't seem evident how the content is being generated. Will look more into this.

[2017-03-02 14:16] ryzokuken commented on #1307
Okay, I admit I had no idea that mailers in RoR worked exactly the same way as controllers do. Found the corresponding view (https://github.com/publiclab/plots2/blob/master/app/views/admin_mailer/notify_node_moderators.html.erb). @pdhixenbaugh please tell me what other details would be helpful in the mail. I would try make a PR right away. Thanks.

[2017-03-02 14:54] jywarren commented on #1303
Hi Ujjwal, I pinged some of our community development team and will put out
an email to organizers too.

On Mar 1, 2017 4:08 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-03-02 16:06] ryzokuken commented on #1303
@jywarren Thanks :)

[2017-03-02 17:09] ryzokuken commented on #1307
@pdhixenbaugh I'm working on this as we speak. Meanwhile, could you please send me a screenshot of one sample mail so that I can understand exactly how it's rendering? I can see the raw HTML code but it's pretty nondescript.

[2017-03-02 18:17] jywarren commented on #1005
This is now complete and additional work ongoing at https://github.com/publiclab/inline-markdown-editor. Woohoo! 🎈

[2017-03-02 18:18] ryzokuken commented on #1307
@pdhixenbaugh @jywarren Made a PR. Please look into it and give feedback if possible.

[2017-03-02 21:37] steviepubliclab commented on #1047
Can we add the category "community-organizing" Will capture methods like "working with the media" and "public comment"

[2017-03-02 21:49] jywarren commented on #1293
Hi, @StlMaris123 - would you like me to assign this issue to you, or are you working on another (I think i've seen your PR on another)? Thanks!

[2017-03-02 21:58] jywarren commented on #1028
@ryzokuken i think perhaps we should tidy this one up and clear the comments so it can be taken on by someone new, if we don't hear from them.

[2017-03-02 21:58] #1190 closed

[2017-03-02 22:05] jywarren commented on #1198
Hi, @jbkimble - I just asked @djmgit if they're still working on this, but if they're not (or don't respond for a day or two), and you're interested, you could start with their pull request in #1237 and work from there. I've left some comments on next steps there.

[2017-03-02 22:16] jywarren commented on #1307
Wow @ryzokuken you work fast! This looks perfect and your PR passes all tests: #1308. I'm merging it now and closing this. Thanks @pdhixenbaugh for filing it and @ryzokuken for solving it, all in one day!

[2017-03-03 01:22] mridulnagpal commented on #1028
I am a liitle tied up right now. You can surely work on this

On 03-Mar-2017 3:28 AM, "Jeffrey Warren" <notifications@github.com> wrote:

[2017-03-03 11:20] MayankKashyap commented on #1198
Hi, I also want to work on this issue. Can I ?

[2017-03-03 11:37] ryzokuken commented on #1198
@MayankKashyap You definitely can, in case @jbkimble does not (and @djmgit as well) respond to it, and it might take some time. Meanwhile, you can try any other of our first-timers-only issues (if it's your first time contributing to open source software) or dive into one of the help-wanted issues otherwise. Thanks :)

[2017-03-03 11:58] StlMaris123 commented on #1293
Yes, I will work on both. If i encounter any challenge i will get to you

[2017-03-03 18:08] ebarry commented on #1307
Awesome!

[2017-03-03 18:25] jywarren commented on #1047
Rad stevie's PR to do this is at #1312. Merging in a moment.

[2017-03-03 18:30] steviepubliclab commented on #1047
Woot! -- Merge Pull Request! 🎉

On Fri, Mar 3, 2017 at 12:25 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-03-03 20:54] jywarren commented on #1293
Great!

[2017-03-04 05:47] MayankKashyap commented on #1198
OK @ryzokuken

[2017-03-04 15:12] ryzokuken commented on #1307
As the PR was merged, closing this one.
@pdhixenbaugh If you require any changes or additions, please feel free to open another issue or reopen this one.

[2017-03-04 15:12] #1307 closed

[2017-03-04 17:20] ryzokuken commented on #1304
@jywarren I narrowed down https://github.com/publiclab/plots2/blob/master/app/views/tag/_sorting.html.erb#L17-L48 as the part where the session-based tag selection happens. Is that it? If that's the case, maybe we could remove all the session management code and replace it with a simple redirect to `/questions/tag/#{query}` instead?

[2017-03-04 17:23] ryzokuken commented on #1303
@jywarren What's the status on this? I am sorry if I'm insisting way too much, it's just because the more I research about it, the more I want to work on it already. I wonder if I can even wait till 30th of May :stuck_out_tongue:

But anyway, we would have to do quite a lot of work (including making a complete detailed design document) depending the outcome of this proposal.

[2017-03-04 18:27] ryzokuken commented on #1300
@jywarren I will look into this.

[2017-03-04 18:49] ryzokuken commented on #1300
@jywarren Could you help me with the URLs where I would see the two in action? I would otherwise have to search manually where the partial is being rendered.

[2017-03-04 18:58] ryzokuken commented on #1300
@jywarren `wiki#diff` takes two params but the route is just `wiki/diff` and takes no params.

[2017-03-04 19:18] ryzokuken commented on #1236
I looked into Danger's documentation, and don't know if there's a possible way to add/remove labels. However, its fairly easy to check for labels, so the part where Danger does not check PRs labelled "WIP" could be easily achieved. The job of adding labels could, however, be performed by the bot. @jywarren What do you say?

[2017-03-04 19:19] ryzokuken commented on #1215
@jywarren Closing this for now, as we have no immediate plans for making the switch.

[2017-03-04 19:22] ryzokuken commented on #1196
@imsarath Are you currently working on this?

[2017-03-04 22:43] jywarren commented on #1304
Sure, that sounds great. Thanks!!!

On Sat, Mar 4, 2017 at 12:20 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-03-04 22:44] jywarren commented on #1303
Hi, Ujjwal - i think if you could describe in detail one or two small
instances of bots in the research note with stevie and liz, like scripts,
as I had asked, I think that's a good next step. Thanks!

On Sat, Mar 4, 2017 at 12:23 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-03-04 22:45] jywarren commented on #1236
Sure, that sounds good!

[2017-03-05 02:45] ryzokuken commented on #1303
I guess you mentioned scripts before. From script, do you mean like... A Python or Ruby script? Or a set of sample interactions between the bot and a user?

[2017-03-05 04:59] lalithr95 opened #1318 "Update to Rails 4"
We need to update to rails 4, as current version we use is rails 3 and doesn't have any official support from rails.

Current rails version is rails 5 and has support for 5 and 4. This can be one of the medium size projects in migration all the gems and conventions to rails 4.2 .

cc: @jywarren

****

See http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-3-2-to-ra

[2017-03-05 05:08] ryzokuken commented on #1318
@lalithr95 This one has been in the talks for quite some time. If you are willing to work on this, please coordinate with @jywarren. We decided that the exam period (just before GSoC) would be an appropriate time to do this.

[2017-03-05 06:37] ryzokuken commented on #1230
@drfigs What is the status on this? Just making sure you're not stuck or anything.

[2017-03-05 10:45] Khamba commented on #1301
Hi, has this issue been solved? Otherwise I would like to work on this.

[2017-03-05 11:52] Khamba commented on #1198
Hi, I am a new contributor so please forgive if I have made a silly mistake in my debugging here.

I tried to implement the solution given but couldn't get the test to pass. Upon further investigation, I think the reason it didn't pass was that [on this line in answer model](https://github.com/publiclab/plots2/blob/master/app/models/answer.rb#L29), the `current_user` and the `author` are the [same

[2017-03-05 19:38] Khamba commented on #1198
A possible solution:

Since the email is to be delivered to the question' author and not the answer's author, replace [this line](https://github.com/publiclab/plots2/blob/master/app/controllers/answers_controller.rb#L13)

`@answer.answer_notify(current_user)`

to

`@answer.answer_notify(@node.author)`

and then I can write a test accordingly.

[2017-03-05 21:17] MayankKashyap commented on #1293
@jwarren I want to work on this. Can I..?

[2017-03-05 21:28] MayankKashyap commented on #106
@jywarren u would like to take this issue , because I think no one work on it

[2017-03-05 21:28] MayankKashyap commented on #106
I*

[2017-03-05 21:29] MayankKashyap commented on #106
I mean to say that , I would like to work on this issue

[2017-03-06 18:36] jywarren commented on #1318
In addition there is a pull request open already; perhaps that's a good
place to start but it must be rebased due to more recent changes in the
master branch.

On Mar 5, 2017 12:08 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-03-06 18:37] jywarren commented on #1303
Sorry, ambiguous vocabulary! I meant a script like in theater, and had left
an example on your research note. Can we shift the discussion over there
please? Thank you!

On Mar 4, 2017 9:46 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-03-06 18:38] lalithr95 commented on #1318
Reference: https://github.com/publiclab/plots2/pull/1160

[2017-03-06 19:18] jywarren commented on #1300
Hmm, sorry, can you elaborate on your question a bit? This one:

Is used in:

https://github.com/publiclab/plots2/blob/master/app/views/dashboard/_wiki.html.erb

However, it's called in, not as a partial, but using a JavaScript method here:

https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/dashboard.js#L166

That triggers the partial to be rendered just by itself, using this

[2017-03-06 19:51] #299 closed

[2017-03-06 20:35] MayankKashyap commented on #106
@jywarren can i work on this issue.?

[2017-03-06 21:56] jywarren commented on #106
Yes I think you're right, and GCI is now over for a few months. Please go ahead, and thanks!

[2017-03-06 22:15] jywarren commented on #1301
Hi, I believe @Ellimist22 has submitted a fix in #1309 -- thanks! You can find other issues on https://github.com/publiclab/plots2/projects/2 and https://github.com/publiclab/plots2/labels/help-wanted

[2017-03-06 22:19] jywarren commented on #1198
@Khamba -- I think you're right that the author of the **question** and not of the **answer** should be notified, especially if the trigger is that the answer is posted -- then the author of the answer certainly knows that they are posting something, and don't need a notification.

Can you create a pull request with your solution? Is it based on #1237 -- which is a partial solution already?

[2017-03-06 22:23] jywarren commented on #1293
@StlMaris123 - are you currently working on this, and if not, could @MayankKashyap give it a try? But there are plenty to go around, so Mayank, if you have already claimed another please let @StlMaris123 have a try at this. Thanks, all!

[2017-03-06 22:51] #1211 closed

[2017-03-06 22:53] jywarren commented on #1211
Thanks, @meganft!

[2017-03-07 03:28] Khamba commented on #1198
Yes, I will get start working on a solution and submit a pull request. Thank you.

[2017-03-07 04:14] MayankKashyap commented on #106
OK @jwarren , I am working on it

[2017-03-07 06:23] StlMaris123 commented on #1293
@jwarren <https://github.com/jwarren> yes am on it, i just finished the
other issue so am on this one now. Am sorry for taking too long

On Tue, Mar 7, 2017 at 1:23 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-03-07 20:39] MayankKashyap opened #1323 "Problem for first timers to manage coordination between Ruby version and Gemfile Specified"
### What happened just before the problem occurred
Since the version of Gemfile Specified is 2.1.2 and first timer's Ruby version may be different. So when we run the server it always show error **Your Ruby version is 2.3.1, but your Gemfile specified 2.1.2**
(2.3.1 is my Ruby version). And server doesn't work.

### How it can be solved.
It can be solved by removing ruby version lines from gemfile

[2017-03-08 01:58] ananyo2012 commented on #1175
See PR #1324 regarding this.

[2017-03-08 04:02] mridulnagpal commented on #1323
@MayankKashyap Just install rvm to manage ruby versions
https://rvm.io/rvm/install

[2017-03-08 04:11] MayankKashyap commented on #1323
@mridulnagpal , I have a solution in which we don't need to install rvm, I talked with Warren and he told me that send a pull request by solving this problem

[2017-03-08 04:12] MayankKashyap commented on #1323
And today I sent an PR for that

[2017-03-08 04:24] mridulnagpal commented on #1323
Sounds cool. 👍

On 8 March 2017 at 09:42, Mayank Kashyap <notifications@github.com> wrote:

[2017-03-08 05:19] ananyo2012 commented on #1323
Thanks for reporting this. Solution in #1324

[2017-03-08 11:19] #1323 closed

[2017-03-08 16:04] #1175 closed

[2017-03-08 16:22] icarito commented on #1175
If this solution works for new developers, it shouldn't conflict with production.

[2017-03-08 17:34] ananyo2012 commented on #1175
@icarito Yes this should work pretty well. And also we don't need the application to be version specific.

[2017-03-08 20:20] #1047 closed

[2017-03-09 07:37] StlMaris123 commented on #1293
Hello @jywarren , how about this test?
 test "should show a featured wiki page at top, if it exists" do
    tag = tags(:test)

    get :show, id: node(:organizers).slug

    assert_select '#wiki-content', 1
end

[2017-03-09 07:37] StlMaris123 commented on #1293
is there a relationship between it and what am supposed to test?

[2017-03-09 13:11] MayankKashyap commented on #106
Hey, anyone tell me how I can check whether the wikipage is updating or not.?

[2017-03-09 18:17] arkokoley commented on #1063
@ebarry Has this issue been resolved yet? I would like to take on this, if its still open.

[2017-03-09 18:18] arkokoley commented on #1028
Is this issue still open? I'd like to help out.

[2017-03-09 18:21] ebarry commented on #1063
@jywarren is there anything else going on that affects our ability to move on this?

[2017-03-09 19:24] ryzokuken commented on #1028
@arkokoley It is, I suppose. Feel free to come back here or on our Gitter should you need any help. Thanks.

[2017-03-10 12:07] icarito commented on #1112
Solr was able to reindex as per the changes in `fix_solr` branch. Not sure what we can consider a good note, I guess we can document it? Closing this one.

[2017-03-10 12:07] #1112 closed

[2017-03-10 20:44] pdhixenbaugh opened #1328 "Posting a new question - funniness with editors"
### Steps to reproduce

0. While logged into public lab (e.g. from dashboard)
1. Use the "Share Your Work" button to ask a question
2. Type the question (notice that it's in the legacy editor) using markdown features such as bullet points
3. (Notice: the powertag "question:question" is pre-populated)

### What I expect to happen:
- Question is posted in the formatting I expect

### What actually h

[2017-03-10 23:31] 500swapnil commented on #683
@jywarren I have already contributed to wiki pages and integrating the PublicLab Rich editor on plots2 and have good experience with it. Can I take this up as my GSoC 2017 project?

[2017-03-11 16:43] ryzokuken commented on #1328
@jywarren Any idea why this might be happening?

[2017-03-12 07:48] Khamba commented on #1230
Hi, I have a question about this:

Should tag followers receive an email on both [node comment create](https://github.com/publiclab/plots2/blob/master/app/controllers/comment_controller.rb#L18) and [answer comment create](https://github.com/publiclab/plots2/blob/master/app/controllers/comment_controller.rb#L50) or only one?

Thank you.

[2017-03-12 10:24] Khamba opened #1331 "Regex for hashtags does not detect :"
Hi,

The current regex for hashtags is `/(\s)\#([a-zA-Z0-9_-]+)/` which fails on tags such as question:spectrometer ([like here](https://github.com/publiclab/plots2/blob/master/test/fixtures/tags.yml#L23)).

If the core contributors think this should be changed, I want to submit a fix for this.

Thanks.

[2017-03-13 04:02] jywarren commented on #1331
Yes please! Great catch. Would it be possible to write a test for this as
well?

On Mar 12, 2017 6:24 AM, "Saurabh Sikchi" <notifications@github.com> wrote:

[2017-03-13 04:18] Khamba commented on #1331
I am on it.

[2017-03-13 04:39] Khamba commented on #1331
@jywarren Where should the tests for this go?

[2017-03-13 15:11] #904 closed

[2017-03-13 15:14] jywarren commented on #1331
I think we have a new test suite for constants -- and unit tests are faster
to run anyways:
https://github.com/publiclab/plots2/blob/master/test/unit/constants_test.rb

you can run just unit tests, quickly, with `rake test:units` -- does this
make sense? Thanks!

On Mon, Mar 13, 2017 at 12:39 AM, Saurabh Sikchi <notifications@github.com>
wrote:

[2017-03-13 15:25] Khamba commented on #1331
Makes complete sense. Thank you very much.

[2017-03-13 16:26] jywarren commented on #683
Hi, you can definitely propose this as a project here:
https://publiclab.org/notes/warren/02-28-2017/call-for-proposals -- but I
think it's possible you may need to add some other tasks if this ends up
not taking a great deal of time?

Thanks!

On Fri, Mar 10, 2017 at 6:31 PM, Swapnil Gupta <notifications@github.com>
wrote:

[2017-03-13 16:29] jywarren commented on #1230
Hmm, it's a good question. I think perhaps just node comment create -- that way people are presented with the opportunity to subscribe to that question (node), but it's opt-in to hear the answers.

Two thoughts on that:

1. we might want to put a "subscribe to hear answers" link in the email notification for the node creation, to present this options (that'd be a good stand-alone issue to add sepa

[2017-03-13 18:05] jywarren opened #1332 "API calls for tags returning "null" -- need better test to diagnose"
### What happened just before the problem occurred

https://publiclab.org/api/srch/tags?srchString=ball returned:

[code]

https://github.com/publiclab/plots2/wiki/API covers this usage, as does https://publiclab.org/api/swagger_doc.json

I'm not sure what's going on here, but we do test this out here:

https://github.com/publiclab/plots2/blob/master/test/functional/restful_search_test.rb#L89

We

[2017-03-13 18:33] jywarren opened #1333 "Publishing a new wiki page after getting a validation error fails"
### What happened just before the problem occurred

I went to a new page, like https://publiclab.org/wiki/newpage

Then I entered info, but left the body blank, and pressed Publish. I got an error and a URL of:

https://publiclab.org/wiki/create?id=newpage

Then, I added text in the body, and hit Publish again, but I got a 404 error on this URL:

https://publiclab.org/wiki/update/14008

This seems

[2017-03-13 18:35] jywarren commented on #1332
This may also, later, allow this to be updated and completed: https://github.com/publiclab/plots2/pull/595

[2017-03-13 22:00] drfigs commented on #1230
Sorry guys, but I got slammed with other stuff. @Khamba @aspriya    please go ahead. I started a pull request with some test on it that you may want to reuse it.

[2017-03-13 23:00] 500swapnil commented on #683
@jywarren Okay I will start working on the proposal. Any suggestions on what other tasks I can add?

[2017-03-13 23:56] jywarren commented on #683
Perhaps some parts of the Geographic features -- there's a lot there and
perhaps even if you don't take on that whole project, you could coordinate
with another student to take on some of that, esp. that relates to user
profiles (since you'll be touching that system).

On Mon, Mar 13, 2017 at 7:00 PM, Swapnil Gupta <notifications@github.com>
wrote:

[2017-03-14 11:18] amiedes commented on #1333
Hello @jywarren!

I was able to reproduce this issue on my machine and I'd like to give it a try. I don't have yet experience with the plots2 project but I do know some Rails and testing with RSpec.

Do you think this is a good issue for a newcomer to try?

Thanks!

[2017-03-14 13:08] anyangocynthia commented on #683
@jywarren I would like to coordinate with @500swapnil on that project if its possible

[2017-03-14 14:26] jywarren commented on #683
@anyangocynthia we'd love to have your contributions -- and there is plenty of work to go around :-)

For those in this thread who haven't yet, please to take a look at [our welcome page](https://github.com/publiclab/plots2/projects/2) and perhaps give one of our [help wanted issues](https://github.com/publiclab/plots2/labels/help-wanted) a try as a first step. Thank you!

[2017-03-14 15:14] #1331 closed

[2017-03-14 15:21] jywarren commented on #1333
Yes, I think it's a reasonable one, and I'm happy to help you out. Our test suite is not as full featured as RSpec, but it's the one build in in Rails. Take a look at the existing integration tests for an example! Thank you!

[2017-03-14 16:50] jywarren opened #1336 "Have Dangerbot help people narrow down the output of TravisCI failures"
We have a Dangerbot script here: https://github.com/publiclab/plots2/blob/master/Dangerfile

It looks for certain content in pull requests and provides feedback -- like this:

https://github.com/publiclab/plots2/pull/1335#issuecomment-286455837

![image](https://cloud.githubusercontent.com/assets/24359/23911897/8f1e40d0-08b4-11e7-8118-0625dab211b2.png)

(http://danger.systems/)

We should see if w

[2017-03-14 17:57] amiedes commented on #1333
I've been investigating the bug and I think I've found the potential cause of the problem.

I think there is an error in the execution flow of the creation of a new wiki article. What is happening is the following:

1. When an attempt is made to create a wiki page, a POST request is submitted to `/wiki/create`, resulting in the execution of the `WikiController#create` method.
2. When the wiki arti

[2017-03-14 18:18] jywarren commented on #1333
Ah! I think we had previously assumed that if the node.path was not set,
the node had not been saved. Could we alternatively change that conditional
so that we check if it's saved -- more directly?

(also noting that based on your investigation, an integration test might
not have caught this, since it doesn't directly use the forms generated on
a page, but simply submits a second query according t

[2017-03-14 19:51] jywarren opened #1337 "Some recently edited methods pages don't sort to the top of /methods"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2017-03-14 19:53] amiedes commented on #1333
@jywarren  You've made me realise it's simpler to change the conditional inside the template, so I decided to take your approach. 😄

You are right about that the integration tests did not catch this, but they ended up pointing me in the right direction so starting by writing them has been a useful advice 😄 . I've decided to include them in the PR as they can be handy for the future.

I've opened a

[2017-03-14 20:25] jywarren opened #1339 "Enable A/B testing for wiki pages on PublicLab.org"
## Problem

We're looking to test out some new page designs vs. existing pages in a simple A/B type way. The site uses Google Analytics, so we can see how people interact with the sites; we just need a way to direct equal proportions of people to one page or another. This could be

## Proposed solution

We could do this with [power tags](https://publiclab.org/wiki/power-tags) -- similarly to the `

[2017-03-14 20:57] jywarren opened #1340 "ability to exclude tags from an inline grid with new syntax"
## Problem

Using [inline power tags](https://publiclab.org/wiki/power-tags#Inline+power+tags), you can insert a table of content based on tags into a wiki page (see [these examples](https://publiclab.org/wiki/photo-monitoring)), with the synatx:

`[notes:balloon-mapping]`

But sometimes you want to show something with one tag, but excluding another tag, like "displaying questions about balloon ma

[2017-03-15 08:59] ryzokuken commented on #1303
@jywarren @steviepubliclab @ebarry Put this up here as well, our own Markdown renderer has not been working properly.

[2017-03-15 15:21] amiedes commented on #1337
I've noticed that the different methods are indeed sorted by last updated, but within each page. This makes me think that maybe the problem is that methods are being paginated before being sorted. 🤔

I've submitted [this PR](https://github.com/publiclab/plots2/pull/1341), but I'm unsure about how to test it because there are no seeds in the development database related to *"methods"*  and I don't

[2017-03-16 17:41] jywarren commented on #1337
Yes, we can merge this in and see how it does on staging, which has a copy of live data. But if you want to write a test, just add the tags "tool" and "method" to two wiki pages, and they should get listed (also fixtures are in `/test/fixtures/node.yml` - and I think we could try to reproduce this situation.

Thanks!

[2017-03-16 20:21] jywarren commented on #956
Very exciting work by @aayushgupta1 knocked the top (and biggest) item off the list here. Only a few more to go, `DrupalNodeCommunityTag` and `DrupalNodeRevision`!!

[2017-03-16 21:48] #1230 closed

[2017-03-16 23:09] #897 closed

[2017-03-16 23:09] #1304 closed

[2017-03-16 23:11] jywarren commented on #897
Closed, hooray!

[2017-03-16 23:20] #1198 closed

[2017-03-16 23:21] #1301 closed

[2017-03-16 23:24] #1333 closed

[2017-03-17 02:01] jywarren commented on #1028
Hi, @arkokoley, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2017-03-17 02:58] jywarren commented on #1337
OK, just published to the site -- and it looks like the reordering didn't change this particular issue, so I'm re-opening. No worries, though -- we'll figure it out!

https://publiclab.org/methods?page=2

Can we run through the same exact query from this line, in a test, and test the expected order? https://github.com/publiclab/plots2/blob/master/app/controllers/notes_controller.rb#L14-L18

[2017-03-17 06:18] niroshannrsh opened #1344 "Error Occur "rake db:setup " Installation Guideline"
I have followed installation guide line for setup plot2 on my local machine.
When executing `rake db:setup
`
Shows following error

Then i have tried with

`bundle exec rake db:setup`

Shows following error

My operating system is Ubuntu 16.04

Any one can help me for overcome this problem .?

[2017-03-17 11:20] Khamba commented on #1344
Hi,

Have you done a bundle install in the directory?

[2017-03-17 16:31] MayankKashyap commented on #1344
Hi, please run *gem install rails*  before bundle install

[2017-03-17 23:45] mathewlippincott opened #1345 "Question links not functioning"
### What happened just before the problem occurred
I clicked on a question link and received "There was an error. Are you sure you have the right address?"

It appears to apply to all questions.  While they appear on the dashboard, questions page, etc, all links are dead:
https://publiclab.org/questions

[2017-03-18 00:26] jywarren commented on #1345
Fixed, thanks for reporting - filed in #1346!

[2017-03-18 16:29] vaibhavgeek opened #1347 "Allow login from username or email"
Currently, the user can login from only his username. Email address and Username both are unique entities. I think it would be better for users if they can login from their email as well.

[2017-03-18 19:31] siaw23 commented on #1347
are you planning to work on this or i should take it?

[2017-03-18 19:32] siaw23 opened #1348 "Ruby style guide"
There are many violations against the Ruby style guide. Is it OK to fix these violations using tools such as Rubocop? I can slowly complete this because there are over 10K violations.

[2017-03-18 21:29] jywarren commented on #1348
Hi! Perhaps you could start with just a smaller section of code so we can
see how in depth the changes are, then gradually work up to a more
comprehensive change? Thank you!

On Mar 18, 2017 3:33 PM, "Emanuel" <notifications@github.com> wrote:

[2017-03-19 05:19] siaw23 commented on #1348
yes of course. i'm working on it. will make a PR in a couple in few hours. @jywarren

[2017-03-19 05:55] siaw23 commented on #1348
This is just a small set of fixed violations. Please let me know if it can be merged or if there's that needs fixing... @jywarren

[2017-03-19 07:49] vaibhavgeek commented on #1347
I am done with the code. I will create a pull request soon enough.

[2017-03-19 07:51] siaw23 commented on #1347
ok then :)

[2017-03-20 15:00] steviepubliclab opened #1351 "Logout remotely"
Hi there,
I'm putting in a low priority feature request for the ability to manage log-ins from the dashboard. I've had a situation recently where I was logged in on a different computer at a conference and accidently forgot to logout. I think this means that computer keeps my log in. I'm interested in being able to manage/logout from other computers from my profile or the dashboard!

### PublicLab

[2017-03-20 19:00] StlMaris123 commented on #1293
Hello Jeffrey,
please shed some light on Redirected pages not listed in wildcard tag
listing #1293. I am having trouble understanding the problem part. I will
really appreciate your help. Thank you.
Warm regards,
Stella.

On Tue, Mar 7, 2017 at 9:23 AM, stellamaris njage <
stellamarisnjage@gmail.com> wrote:

[2017-03-20 21:30] 500swapnil commented on #683
@jywarren Ok so I will add this feature and some of the features given in issue #1070 in my project proposal?

[2017-03-21 09:36] siaw23 commented on #1348
@jywarren please check my latest PR. it works on just one controller file with the changes. any thoughts? before i get to work on the whole code base it'll be nice to have such things put in place. make room for clean and more understandable code. can i go ahead? also please give me your thoughts on me doing the upgrade to Rails 4 AND the implementation of Twitter/Facebook login so I can submit th

[2017-03-21 09:59] siaw23 commented on #1351
something like an option to "Logout from all other devices"?

[2017-03-21 14:06] steviepubliclab commented on #1351
yeah that would do the trick!
-Stevie

On Tue, Mar 21, 2017 at 4:59 AM, Emanuel <notifications@github.com> wrote:

[2017-03-21 14:10] siaw23 commented on #1351
@steviepubliclab i can implement this but my priority now would be first completing my GSoC goals if i'm selected. so let's see. if after that no one has written code for it. i'll do it.

[2017-03-21 16:29] vaibhavgeek commented on #1347
@steviepubliclab Awaiting your comments.

[2017-03-21 18:07] jywarren commented on #1293
Hi, @StlMaris123 -- my sincere apologies for responding so slowly to this. I must've missed it and am reading it over now. Thank you so much for your patience!

[2017-03-21 18:11] jywarren commented on #1293
Hi, so, we're looking to test something very similar [to this test](https://github.com/publiclab/plots2/blob/master/test/functional/tag_controller_test.rb#L160-L167):

[code]

But with an additional parameter, `:node_type`, so we check for wiki pages, not notes:

[code]

Can you try that out and see if you get an error when you run the test? If so, that's the error we've identified and we should s

[2017-03-21 18:19] StlMaris123 commented on #1293
Thanks. Working on it now

[2017-03-21 18:21] #1298 closed

[2017-03-21 19:02] #1348 closed

[2017-03-21 19:06] StlMaris123 commented on #1293
Hi @jywarren the tests are passing locally

[2017-03-21 19:13] jywarren commented on #1293
Hmm, I suppose that means we haven't​completely reproduced the bug. Are you
sure there exists a wiki page in the tests that fairly closely matches the
one described in the bug report? Are we asserting the right things?

On Mar 21, 2017 3:06 PM, "StellaMaris Njage" <notifications@github.com>
wrote:

[2017-03-21 19:42] StlMaris123 commented on #1293
I think there is a difference between the two tests.One tests for a featured wiki page if it exists while the other one tests for a wiki page after the wikd card

[2017-03-21 20:59] steviepubliclab commented on #1347
Hi there,
Wow this is great. I know those who review code aren't available right now, so maybe hold tight for a bit. Really exciting though, thanks for working on this!

Best

[2017-03-21 20:59] steviepubliclab commented on #1351
Sounds great! Thanks for looking into it.

[2017-03-22 13:14] ryzokuken commented on #1340
@jywarren: The regexp pattern works: http://regexr.com/3fiva. Will work on this.

[2017-03-22 13:33] siaw23 commented on #1344
@niroshannrsh have you been able to fix this?

[2017-03-22 16:20] steviepubliclab commented on #1047
Hi again on this issue. I was looking at the page and wondering if there's
another category we're missing related to conducting research. Some of the
methods I think would fall under it are:
- https://publiclab.org/wiki/literature-review
- https://publiclab.org/wiki/health-effects-lit-review
- https://publiclab.org/wiki/start-enviro-monitor-study

I don't think these are captured in the other cate

[2017-03-25 01:45] aspriya commented on #106
@MayankKashyap , are you still working on this one. As I'm hoping to contribute for Wiki Discussion idea in GSoC, I'm just fixing issues related to it.

[2017-03-25 02:47] aspriya commented on #326
@jywarren, I would like work in this one. But Could you explain little bit more.

[2017-03-27 16:38] Sh1pley commented on #171
@jywarren Hi there,  would be interested in taking this on. If it isn't otherwise claimed as in progress.  Didn't see a PR up that matched. Thought I'd ask.

[2017-03-28 15:33] jywarren opened #1358 "MathJax interferes with Markdown fences"
### What happened just before the problem occurred

@Khamba [posted some code](https://publiclab.org/notes/Khamba/03-13-2017/gsoc-proposal-email-notifications-overhaul) with code fences, like:

[code]

You can see the original raw markdown code here: https://publiclab.org/notes/raw/14004

But the mathjax library we've added parsed it and tried to evaluate it as a latex math expression, and caused

[2017-03-28 20:52] jywarren commented on #106
Hi, yes apologies for my slow reply. What exactly do you want to check?

On Mar 24, 2017 9:45 PM, "Ashan Priyadarshana" <notifications@github.com>
wrote:

[2017-03-28 20:52] jywarren commented on #171
Yes please! Thank you!

On Mar 27, 2017 12:38 PM, "Jesse Shipley" <notifications@github.com> wrote:

[2017-03-28 21:22] jywarren commented on #1347
Merged, thanks!

[2017-03-28 21:22] #1347 closed

[2017-03-28 21:26] #1339 closed

[2017-03-28 21:56] #106 closed

[2017-03-29 17:21] Sh1pley commented on #171
@jywarren got it all installed locally and ran tests, got one failure:
<img width="1518" alt="screen shot 2017-03-29 at 11 19 26 am" src="https://cloud.githubusercontent.com/assets/12022194/24467441/ae1b9c94-1471-11e7-81eb-8be5574bf834.png">

Is this something I should just press on from (known issue) or something that is broken on my side?
seems from the error message that its a fail based on exp

[2017-03-30 20:38] aki94 commented on #171
hi sorry for being late i want to apply for gsoc and looking for first time bug is there any ?  which i can take?

[2017-03-31 03:18] Sh1pley commented on #171
Hey, thank you for the email. I am excited to get started with Open Source. I am a student at the Turing School of Software & Design, and have been learning back end Rails apps for the last 6 months. I dove into the code base and see how the author .find_by_id and status is used in the users controller. I see that rss is a separate route, but a little foggy on implementing the rss to ignore a bann

[2017-03-31 12:24] jywarren commented on #171
Hi, Jesse, it does look like an ordering issue. I wonder if it's related to
timestamps, perhaps? Does it happen every time you run tests?

We may be able to ignore it if it does not happen on tests on our TravisCI
testing service once you submit a commit, but we should probably pin down
the problem anyways.

As to where to screen for banned users, I believe RSS feeds are assembled
in the feeds con

[2017-04-01 04:16] Sh1pley commented on #171
@jywarren Yeah same fail on each run. I will look past it and work on the RSS card, and like you said let Travis and his all seeing-ness catch it, if its actually an issue.

[2017-04-01 04:35] Sh1pley commented on #171
@jywarren Also one more question. Is there a possible banned user that I can try and send a request to /feed/:author to see what the current response is. And I am assuming that the desired response is just 404 if specified author has been banned? like it/they never existed?

thanks again.

[2017-04-03 00:31] jywarren commented on #171
Hi, thanks -- looks like Travis doesn't care, so maybe we should open a separate issue. It is odd though! The test is here: https://github.com/publiclab/plots2/blob/master/test/functional/tag_controller_test.rb#L117 and maybe there's something to do with sqlite ordering... sometimes these kinds of failures can be quite subtle.

Anyhow I see your changes at #1361 -- thanks! I think a 404 would be p

[2017-04-03 00:31] jywarren commented on #171
And if you haven't written tests before, i'm happy to help you out with that too!

[2017-04-03 00:33] Sh1pley commented on #171
Yeah, of course I'll write a couple tests. Better late than never!

On Sun, Apr 2, 2017, 6:31 PM Jeffrey Warren <notifications@github.com>
wrote:

[2017-04-03 21:20] ffiebig commented on #1332
I would like to tackle this, but I feel like I feel some guidance.

[2017-04-04 00:36] jywarren commented on #1332
Hi, @ffiebig -- thanks, we'd love your help and are happy to support you in digging into this bug. I think the first step would be to clone and boot up the project on your own system -- have you tried that yet? The README is a great place to begin there.

Thanks!

[2017-04-04 01:04] ffiebig commented on #1332
Hey @jywarren, yes, as a matter of fact I do, in a Cloud9 workspace.

I tried digging into it, started by trying to write a test that expects search results to be returned in the response. My test-fu is not good and I got lost when I tried to decide on how to check for the presence of the results in the response.

[2017-04-04 15:01] jywarren commented on #1332
OK - can you try adding and committing your attempted test, and I can take
a look and provide feedback? If you open a pull request I can comment
inline on your code. Thanks!

On Mon, Apr 3, 2017 at 9:04 PM, Felipe Fiebig <notifications@github.com>
wrote:

[2017-04-05 00:18] #1345 closed

[2017-04-05 14:55] jywarren commented on #1344
Hi, all - I'm going to close this but if @niroshannrsh continues to have trouble we can re-open. Thanks!

[2017-04-05 14:55] #1344 closed

[2017-04-05 14:56] jywarren commented on #1102
Merge into #1318 --

[2017-04-05 14:56] #1102 closed

[2017-04-05 14:58] #1005 closed

[2017-04-05 14:58] jywarren commented on #896
Going to close this as we're separately containerizing Solr.

[2017-04-05 14:58] #896 closed

[2017-04-05 14:59] jywarren commented on #854
We'll be addressing this in #1176

[2017-04-05 14:59] #854 closed

[2017-04-06 15:53] aspriya commented on #1358
I would like to help for this. Will start reading `MathJax` documentation and inform about suggestions.

[2017-04-06 17:44] aspriya commented on #1358
According to this post we may need change the CDN
https://www.mathjax.org/cdn-shutting-down/

[2017-04-06 17:49] jywarren commented on #1358
awesome, thanks!

On Thu, Apr 6, 2017 at 11:53 AM, Ashan Priyadarshana <
notifications@github.com> wrote:

[2017-04-06 17:53] jywarren commented on #1358
Ah -- can you look on npmjs.org to see if we can just include it directly?

On Thu, Apr 6, 2017 at 1:44 PM, Ashan Priyadarshana <
notifications@github.com> wrote:

[2017-04-06 18:57] aspriya commented on #1358
Yep, it's there.
https://www.npmjs.com/package/mathjax

[2017-04-10 18:11] RainmanJS opened #1374 "Code Tag Not Working as Expected"
### What happened just before the problem occurred

Page does not display code correctly.

### Relevant URLs

https://publiclab.org/n/14103

### PublicLab.org username

jesseslone

(to help reproduce the issue)

### Browser, version, and operating system

Safari, latest beta of macOS

For bug reports, fill out the above template; for feature requests, you can delete the template.

To learn how to

[2017-04-10 19:22] jywarren commented on #1358
oh great -- well, we should be able to link to it either by its name or by
direct URL in https://github.com/publiclab/plots2/blob/master/bower.json --
and then change the URL that had been pointing to the CDN version. Can you
give that a try?

On Thu, Apr 6, 2017 at 2:57 PM, Ashan Priyadarshana <
notifications@github.com> wrote:

[2017-04-13 11:17] aspriya commented on #1358
Oh found the issue. We are using RDiscount to render the markdown in published notes. And the issue is current `rdiscount gem` version does not support fencing code blocks with ```. Found these details using following  articles.
[article 1](http://tedwise.com/markdown/) :Here in Code section it says nothing about fecing code blocks with \`\`\`.
[article 2](https://ikiwiki.info/todo/Fenced_code_blo

[2017-04-13 11:46] aspriya commented on #1358
Doing that solved the issue. now it is rendering correctly as follows.
![selection_111](https://cloud.githubusercontent.com/assets/13878973/25003406/dcb1db16-206c-11e7-81e8-8f8e21ff4145.png)

[2017-04-13 13:29] jywarren commented on #1358
Fantastic!!! Great work!

On Apr 13, 2017 7:46 AM, "Ashan Priyadarshana" <notifications@github.com>
wrote:

[2017-04-13 13:31] #1358 closed

[2017-04-14 19:54] ryzokuken commented on #13
@jywarren PING

[2017-04-14 20:01] ryzokuken commented on #19
@jywarren Closing this because we support login by both email and username

[2017-04-14 20:01] #19 closed

[2017-04-14 20:05] ryzokuken commented on #4
@jywarren Are we planning on working on this?

[2017-04-14 20:09] ryzokuken commented on #42
@jywarren Another one dealing with spam. Maybe we should actually make a big issue inviting discussion regarding dealing with spam. Ever since I became a mod on the website, I realized just how much spam you people have to comb through. Kudos.

[2017-04-14 20:10] ryzokuken commented on #64
@jywarren What's the status on the daily digests?

[2017-04-16 16:57] Sh1pley commented on #171
@jywarren Hey sorry for the lack of progress. Jumping into those tests now, had a chance to look into the fixtures files.. don't see any reason I can't write a few tests for this specific thing.

[2017-04-19 14:36] jywarren commented on #1340
Hi, @ryzokuken -- awesome, thanks! Are you still working on this one? I know you had exams :-)

[2017-04-19 14:45] #1332 closed

[2017-04-19 14:46] ryzokuken commented on #1340
Oh, I had totally forgotten this one. Will look into this ASAP.

[2017-04-19 14:46] jywarren commented on #1340
oh, awesome! I'm catching up on PRs and merging a bunch, checking in on issues, and just came across this. Thanks!

[2017-04-19 16:13] jywarren commented on #171
OK, no problem, i just left some comments on your pull request!

[2017-04-19 20:13] ffiebig commented on #1374
This might be related to #1358, the fix came with #1377

[2017-04-20 15:23] ebarry opened #1379 "Remove dead link from dropdown menu"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-04-20 16:53] jywarren commented on #1379
Hi, Liz - can you add (and I can help) things as per this? https://publiclab.org/notes/warren/10-31-2016/create-a-welcoming-first-timers-only-issue-to-invite-new-software-contributors

[2017-04-21 15:20] ebarry commented on #1379
alright, i think i fixed it, let me know.

[2017-04-21 17:35] jywarren commented on #1379
perfect!!!

[2017-04-22 18:02] morrme commented on #1379
🙋🏾 I'd like to help . Thanks for making these available!

[2017-04-22 22:27] jcotillo commented on #1379
@morrme are you claiming this issue?

[2017-04-23 00:56] jcotillo commented on #1337
Hi all! I'm going to work on this 😃

[2017-04-23 02:09] morrme commented on #1379
@jcotillo yes,

[2017-04-23 16:07] #1379 closed

[2017-04-23 20:52] morrme commented on #980
The files seem to have been changed since this issue was created.

[2017-04-24 15:51] jywarren commented on #1337
Oh, super! Tell us if you need anything! Probably best to look over the earlier fix and try to develop a theory of why this is happening, and reproduce it with a good test. Then open a PR and then try for a fix!

[2017-04-25 18:25] ebarry opened #1381 "Add "This has been merged!" alert to chatbot"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2017-04-25 18:34] ryzokuken commented on #1381
Hey, @ebarry! I read the word "chatbot" and jumped on it :P Will try to reformat this one.

[2017-04-25 18:43] jywarren commented on #1381
Hi, Liz - just a note - I just added a prefix to the intro so that people wandering across this before it's ready don't YET think that it's a first-timers-only issue. This can be removed once it's ready.

[2017-04-25 18:43] jywarren commented on #1381
And i added my standard "help make this an FTO issue" preamble

[2017-04-25 18:45] jywarren commented on #1381
And added a suggested text for requesting a Twitter handle

[2017-04-25 22:14] kaametza opened #1382 "link to Public Lab's chat doesn't work (on 404, not logged in)"
### What happened just before the problem occurred
Looking for a pad page I made a mistake and got to a page that doesn't exist. I tried to access the chat link and I didn't get any response from the website. I do have Ublock installed and active.

### Relevant URLs

https://publiclab.org/SLMission

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating syst

[2017-04-26 17:19] icarito opened #1383 "Add Makefile"
### What happened just before the problem occurred

Today I was re-reading the README.md and found this:
[code]
Which looks much like `.travis.yml`, `install_cloudnine.sh` and parts of `Dockerfile`. It hit me that @ryzokuken also said, we could collapse all of these into a Makefile with different build targets.
These come to mind
[code]
I'm sure we'll come up with a few for containers as well.
I'l

[2017-04-26 19:26] ryzokuken commented on #1383
With a little help from your side, I could definitely implement this. What do you say?

[2017-04-26 19:28] ryzokuken commented on #1337
Hey, @jcotillo! What's the status on this? If you require any assistance from our side, feel free to ask for help or hop on to one of the chatrooms.

[2017-04-26 19:30] ryzokuken commented on #1028
Hey, @arkokoley! What's the status on this? If you require any assistance from our side, feel free to ask for help or hop on to one of the chatrooms.

[2017-04-26 21:05] jcotillo commented on #1337
Hi @ryzokuken! Thanks for the offer! Where are the chatrooms? I was able to reproduce the bug locally and I suspect that it's due how it's including the associated model...still testing though. I also never worked with fixtures or done functional testing so there is a bit of learning curve there for me. I will throw more time into it this weekend though and will reach out if I have any questions!

[2017-04-27 11:21] ryzokuken commented on #1337
Hey, @jcotillo! Thanks for your patience and hardwork. You can join our Matrix chatroom at #publiclab:matrix.org (if you prefer Riot, you can just join at https://riot.im/app/#/room/#publiclab:matrix.org).

Also, we have a Gitter channel at https://gitter.im/publiclab/publiclab.

We also have #publiclab on OFTC's IRC servers.

You can contact us by whichever way you find convenient. As all the cha

[2017-04-27 12:28] ebarry opened #1385 "single typo in a link to the Advanced Search url"
### What happened just before the problem occurred

So, i've landed on this wrong link many times over the past 6 months, probably because i'm always searching for weird stuff on publiclab.org. Finally, i sorted out how to reproduce this bug:

- go to publiclab.org
- type an unlikely search term into the search text box, click enter
![screen shot 2017-04-27 at 8 20 20 am](https://cloud.githubuserc

[2017-04-27 17:41] icarito commented on #1383
Sure, please start if you want and we can tweak it! We should update documentation in the same PR I guess.

[2017-05-01 14:51] kirangp commented on #1381
Hi @ebarry @jywarren Can I work on this?

[2017-05-01 19:05] ryzokuken commented on #1381
Sure, @kirangp. Feel free to ask for help in case you get stuck anywhere.

[2017-05-01 20:45] steviepubliclab opened #1391 "comments on dashboard "activity" section not paginating"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-05-03 03:15] icarito opened #1392 "`rake db:setup` fails for new development environment"
**NOTE** some issues may occur on Rails 2.4; please use <=2.3 (see comments below)

### What happened just before the problem occurred
Tried to create development environment.

### Relevant URLs
README.md, install_cloud9.sh

In cloud9 vm, Ubuntu 14.04, impossible to `rake db:setup`
Same thing reported on OS X EL Capitan version 10.11.6, ruby 2.3.1.
Fails with missing mysql2 gem.
Following instruct

[2017-05-03 03:16] icarito commented on #1392
[code]

[2017-05-03 03:34] icarito commented on #1392
NikhilAgrawal reports same issue on "OS X EL Capitan version 10.11.6"

[2017-05-03 16:30] jywarren commented on #1392
@nagrawal3 - can you upload your Gemfile.lock also to https://gist.github.com and share it with us so we can debug?

[2017-05-03 19:41] steviepubliclab opened #1393 "Code of Conduct on bottom bar"
I was wondering if someone could add a link to the Public Lab Code of Conduct on the bottom bar of the Public Lab pages?

Here's a link to the Code of Conduct: https://publiclab.org/conduct

Maybe it would fit best under the links list? Or maybe the Creative Commons piece.

@ebarry do you think it needs supporting text? For example: "The code of conduct applies to all spaces managed by the Public

[2017-05-04 00:26] nagrawal3 commented on #1392
@jywarren link to Gemfile.lock https://gist.github.com/nagrawal3/e2a21af5f62a5039de9bd01c1d5031be

[2017-05-04 09:35] kirangp commented on #1381
Thanks @ryzokuken So as per my understanding I need to update the Dangerfile so that chatbot . Can you tell me how can I test this chatbot locally?

[2017-05-04 20:44] jywarren commented on #1392
Hmm, that's so odd, since `mysql2` is shown in the `Gemfile.lock`. Could you try `bundle exec rake db:setup`? Sometimes you have to get access the gems via bundler explicitly.

[2017-05-04 20:45] jywarren commented on #1392
And also the output of `gem list` would be helpful!

[2017-05-05 00:12] nagrawal3 commented on #1392
@jywarren I had tried running `bundle exec rake db:setup` but still getting same error.

List of all local gems installed https://gist.github.com/nagrawal3/779bb4c7d8fde152afe49224873e45bd

[2017-05-05 14:27] jywarren commented on #1392
Hmm, that's odd -- and even this shows `mysql2 (0.4.6)` -- hmmmmm. Let me
look a bit deeper.

On Thu, May 4, 2017 at 8:12 PM, Nikhil Agrawal <notifications@github.com>
wrote:

[2017-05-05 14:32] jywarren commented on #1381
Hmm, i'm not sure how to test it locally, but it may be that if you open a
pull request with the new changes, it will run the new (proposed) version
of the chatbot on the PR itself -- i know it does this for changes to the
tests in Travis. It's worth a try!

On Thu, May 4, 2017 at 5:35 AM, Avinash Prasad <notifications@github.com>
wrote:

[2017-05-05 14:48] jywarren commented on #1392
And can you tell us:

1. what your database.yml looks like (be sure to remove your passwords!)
2. are you sure you ran `bundle install --without production mysql` as listed in https://github.com/publiclab/plots2/#installation ?

Thank you so much for working through this with us; we really appreciate your patience.

[2017-05-05 14:49] jywarren commented on #1392
And for reference, the closest I've gotten on a similar issue is: http://stackoverflow.com/questions/9714965/how-to-resolve-please-install-the-mysql-adapter-gem-install-activerecord-mysql#10326485

[2017-05-05 17:39] jywarren commented on #1392
Just reminder to self that we're working on this in https://ide.c9.io/icarito/plots2-vanilla

[2017-05-05 17:43] icarito commented on #1392
That c9 instance ran out of space and I damaged the install by removing `~/.local/share/heroku`.
I will start afresh.

[2017-05-05 18:57] jywarren commented on #1393
Thanks, this is very quick to do bc of our features work (a first-timer
added a feature to the footer a while back, I believe). Once you have final
text, ping me and I'll add it!

On Wed, May 3, 2017 at 3:41 PM, steviepubliclab <notifications@github.com>
wrote:

[2017-05-06 15:07] nagrawal3 commented on #1392
@jywarren I made sure that I am running the `bundle install --without production mysql` command. I am getting the same error, after doing bundle install in above manner.

I also tried adding `config.assets.initialize_on_precompile = false` in application.rb file as mentioned in the reference you mentioned above (http://stackoverflow.com/questions/9714965/how-to-resolve-please-install-the-mysql-ada

[2017-05-08 14:09] jywarren opened #1395 "Add new functional tests to each method in Search API"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-05-08 23:55] morrme commented on #1395
aww, I think I've contributed already 😭  but this would be awesome to learn more about. If no other first timers come after a certain amount of time, do issues like these open up to others?

[2017-05-09 03:48] icarito commented on #1392
I reproduced this on Debian 8.

[2017-05-09 04:18] icarito commented on #1392
Okay I managed to run `rake db:setup`!
The issue is in the file `config/initializers/abstract_mysql2_adapter.rb`
This file is requiring MySQL but rightfully not finding it.
It worked for me simply moving the file away and running `rake db:setup`.

[2017-05-09 04:18] icarito commented on #1392
Just a note that I had previously I had removed and regenerated Gemfile.lock.

[2017-05-09 13:13] orcutt989 commented on #1395
I'd like to contribute, but I am struggling to get plots2 set up on a fresh Ubuntu 12.04 LTS box. I am going to try again and report back with where its failing.

[2017-05-09 13:54] jywarren commented on #1392
Hi all, can you try to pull from master again and try once more? I believe @icarito has solved this!

[2017-05-09 14:40] StlMaris123 commented on #1392
The tests are now running but there is a funny message that is being displayed before a task is run
 `Not running mysql today.
`

[2017-05-09 15:26] jywarren commented on #1395
Hi, @morrme -- there are a number of "almost ready for first-timers" issues at https://github.com/publiclab/plots2/labels/fto-candidates -- ones we haven't yet done a final formatting on. Please grab one there! There's also some guidance at https://github.com/publiclab/plots2/projects/2. Thanks!!!

@orcutt989 -- there was a fix submitted for a common `mysql` error this morning -- try refetching th

[2017-05-09 15:46] orcutt989 commented on #1395
Stuck at rake db:setup
[code]

[2017-05-09 15:53] morrme commented on #1395
@jywarren they're all claimed at the moment but thanks anyway!

[2017-05-09 16:38] jywarren commented on #881
Let's not do this, since we're rethinking the UI of sidebars!

[2017-05-09 16:38] #881 closed

[2017-05-09 16:42] jywarren commented on #1395
Oh really? Wow, that's kind of great to hear, i guess -- but you can also
sort by "last updated" and find those that haven't been touched for months.
There are several -- and in general, if nobody's responding, you might as
well take it up!

https://github.com/publiclab/plots2/issues?q=is%3Aopen+label%3Afto-candidate+sort%3Aupdated-asc

Also, if you like, tell me what kinds of things you'd like to

[2017-05-09 16:45] orcutt989 commented on #1395
@jywarren I don't know if this is possible, but I know feature extensions are a valuable skill to have.

[2017-05-09 16:49] jywarren commented on #1395
Also, there are a few issues that could be broken off of these:

https://github.com/publiclab/plots2/issues/761
https://github.com/publiclab/plots2/issues/956

On the last one, perhaps the `DrupalNodeRevision => Revision` is a good project? I don't think it'd be too hard, though it does take some use of the `grep` command to find and then replace across lots of files.

@orcutt989 -- not sure what

[2017-05-09 16:50] orcutt989 commented on #1395
@jywarren Yes! Issue was resolved, just getting it set up now.

Feature extensions - meaning new things that you want to implement or improve.

[2017-05-09 16:54] jywarren commented on #1382
I'm sorry to hear this -- which chat link did you mean, and on what page? https://publiclab.org/SLMission is not a valid URL -- did you mean https://publiclab.org/wiki/SLMission? Hmm, but that also doesn't exist. Hope we can help!

[2017-05-09 16:56] jywarren commented on #1374
Thanks @ffiebig -- it's possible. I looked at the page and it seems OK now -- I'm going to close this since it probably happened before #1377 was published? But @RainmanJS if you see something wrong that I missed, please re-open and help us pin it down. Thanks for reporting!!

[2017-05-09 16:56] #1374 closed

[2017-05-09 17:01] jywarren commented on #1393
Done, using the text you provided, thanks!

![image](https://cloud.githubusercontent.com/assets/24359/25862865/85a07ae4-34b7-11e7-85e0-4a6f4d08e978.png)

[2017-05-09 17:01] #1393 closed

[2017-05-09 18:02] RainmanJS commented on #1374
Thanks, looks good.  I'll have to get my next version up now.

[2017-05-09 20:05] jywarren commented on #920
This is now complete due to the featuring of wiki content at the top of tag pages!

[2017-05-09 20:05] #920 closed

[2017-05-09 20:08] jywarren commented on #1382
Hi, I believe it is working now, see attached screenshot. But if you can share a link to a page where it isn't, please re-open, and thanks!

BTW, there is also chat available at http://publiclab.org/chat.

![screenshot 2017-05-09 at 4 06 59 pm](https://cloud.githubusercontent.com/assets/24359/25870311/ac71bd1c-34d1-11e7-85fd-31a03337b30f.png)

[2017-05-09 20:08] #1382 closed

[2017-05-09 20:19] icarito commented on #1382
Hi,

I tested it and still the "Open Chatroom" button doesn't change the page
(it does start loading and finishes, but doesn't display anything).

Here's a link to reproduce:
https://publiclab.org/not_working_open_chatroom_button

On 09/05/17 15:08, Jeffrey Warren wrote:

[2017-05-09 20:26] jywarren commented on #1382
Ah, i see! the button on the 404 page itself! at /public/404.html.

Fixing this now, then.

On Tue, May 9, 2017 at 4:19 PM, Sebastian Silva <notifications@github.com>
wrote:

[2017-05-09 20:38] jywarren commented on #1382
OK, this'll be much better:

![image](https://cloud.githubusercontent.com/assets/24359/25871565/f94dd6d0-34d5-11e7-888f-070936443808.png)

[2017-05-09 21:06] jywarren opened #1405 "Fix "like" list URL on notes and wiki pages"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-05-09 21:08] jywarren commented on #1328
Hi, I looked through this and I believe strict Markdown needs a space between each `*` and the item following it, so:

[code]

Not all Markdown is equal, but we use the CommonMark spec: http://commonmark.org/

The rich editor does produce this, although it uses (allowable) hyphens: `-` instead of asterisks.

I'm going to close this, and I think the rich Question form (which is an issue, can't reca

[2017-05-09 21:08] #1328 closed

[2017-05-09 21:55] jywarren opened #1406 "Display a description field for tags, if it exists"
****

Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2017-05-10 00:43] nagrawal3 commented on #1392
Even I am able to see message `Not running mysql today.`

[2017-05-10 01:27] icarito commented on #1392
Yes, the message is accurate and harmless but if it is distracting we should remove it.

[2017-05-10 20:14] steviepubliclab opened #1413 "Dashboard post a question link character limit"
### What happened just before the problem occurred
I noticed that when I select "share your work" ->"ask a question" on the dashboard (https://publiclab.org/dashboard) there is a stricter character limit on the question than if I post on /questions. It's hard to post a question under the shorter character limit.

[2017-05-10 21:15] jywarren commented on #1413
whoa, really?

The dash sends you to
https://publiclab.org/questions/new?tags=question:question&template=question&redirect=question

/questions sends you to:
https://publiclab.org/questions/new?title=&tags=question%3Ageneral&template=question&redirect=question

they're very similar... can you explain how it enforces the limit? Do you
see an error, does it not let you type, what happens?

Thanks!

[2017-05-10 21:26] steviepubliclab commented on #1413
Hi,
It won't let you publish it when you hit publish and you get this bar: [image:
Inline image 1]

On Wed, May 10, 2017 at 4:15 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-05-10 23:25] jywarren commented on #1413
@ananyo2012, I wonder if this is touching your validation code on question length. Is it a requirement we could remove easily?

[2017-05-11 00:23] itroman commented on #1385
Happy to fix this if it's open.

[2017-05-11 00:31] jywarren commented on #1385
Yes please! We are happy to help if you run into trouble.

On May 10, 2017 8:23 PM, "Robert Roman" <notifications@github.com> wrote:

[2017-05-11 04:31] #1385 closed

[2017-05-11 10:15] kristapuciitis commented on #1405
Hello, I would like to take this issue. First timer, never contributed to any github project.

[2017-05-11 13:11] orcutt989 commented on #1405
@jywarren I can close my pull request if @kristapuciitis wants to take a whack at it.

[2017-05-11 16:28] jywarren commented on #1028
Just a note to folks - as we haven't heard back from people, this is up for grabs!

[2017-05-11 17:05] jywarren commented on #1070
OK, lots just moved over to: https://github.com/publiclab/leaflet-blurred-location/issues/1 -- this will continue, though `plots2`-side issues will remain here.

[2017-05-11 17:49] jywarren commented on #1070
OK, i'm now closing this and will open a new one for those `plots2`-side functions we'll need!

[2017-05-11 17:49] #1070 closed

[2017-05-11 18:14] jywarren commented on #984
Closing this now, and it'll be addressed in publiclab/mapknitter#234. Thank you!

[2017-05-11 18:14] #984 closed

[2017-05-11 18:22] jywarren opened #1416 "Long-term Geographic Features planning"
This is not a regular issue, but is a long-term tracking issue for all Geographic features. It's related to work on this repository and to https://github.com/publiclab/leaflet-blurred-location/issues/1

****

# Release v0.1 - bare bones minimal useful release

1. [x] inline maps: [map:content:lat:lon] or [map:nodes:lat:lon] (just nodes)
2. [x] load half a degree box around map center - started wit

[2017-05-11 18:44] jywarren opened #1417 "Remove key:value features of UserTag"
This is a complex issue that needs to be broken up into discrete tasks.

****

The `UserTag` system is nice - and we need it -- but it should work more like `NodeTag`:

https://github.com/publiclab/plots2/blob/master/app/models/user_tag.rb

https://github.com/publiclab/plots2/blob/master/app/models/node_tag.rb

`NodeTag` links `Nodes` to `Tags`. `Tag` stores tag names as strings, and each is uniqu

[2017-05-11 18:53] StlMaris123 commented on #396
Hello @jywarren, could this issue be broken down a little bit. looks a little bulky to me.

[2017-05-11 19:08] jywarren commented on #396
I agree. Do you want to try to make a checklist in the comments here, and
propose a way to break it up? I think perhaps just getting an experimental
ActiveJob (ActionJob?) task running and passing all tests would be a good
first step. Then one which sends an email regularly (although this could be
annoying, but we could create a Gmail rule to filter it out) -- that way we
can confirm that emails a

[2017-05-11 20:16] StlMaris123 commented on #396
Yes. I'll send the breakdown tomorrow morning.

On 11 May 2017 22:08, "Jeffrey Warren" <notifications@github.com> wrote:

[2017-05-11 22:03] jywarren commented on #1405
Yes, @orcutt989 that would be great, thank you. There are a number of https://github.com/publiclab/plots2/labels/fto-candidate issues available that we'd love you try. The `first-timers-only` issues take a while to create, so we'd love to preserve them. Thank you!

@kristapuciitis  we'd love to have a contribution from you!

[2017-05-11 22:42] #1383 closed

[2017-05-12 06:05] StlMaris123 commented on #396
We could divide them into two tasks:
1. **No edits for over an hour**
- Acceptance tests
- Send only one email if no edits have occurred within an hour.

2. **Several subsequent edits**
-  Acceptance tests
- Send only one email for all subsequent edits

However, I just thought we could have one email once a wiki page is created. We could have two links:
- edit link
- submit final

One can keep edi

[2017-05-13 15:22] anniemiko commented on #1405
Hi @jywarren I've never submitted a pull request and would love to try this one out if it's still open/available. Thanks!

[2017-05-13 15:32] jywarren commented on #1405
Yes please! We'd love to have your contribution and are happy to help.

On May 13, 2017 11:22 AM, "Andrea Baty" <notifications@github.com> wrote:

[2017-05-13 15:33] jywarren commented on #1405
Ah, I see there are a couple people interested. Happy to accept changes from both but there are also others available. I'll make one more now.

[2017-05-13 15:35] jywarren commented on #1405
Just posted this one as a first-timers-only issue too; plenty of work to go around :-)

https://github.com/publiclab/plots2/issues/1406

[2017-05-13 15:44] anniemiko commented on #1405
Thank you @jywarren - I will start on #1406 then!

[2017-05-13 15:46] anniemiko commented on #1406
I'd like to claim this as my first open source PR. Thanks for the opportunity!

[2017-05-13 16:15] jywarren commented on #1406
Super, and thanks!

On May 13, 2017 11:46 AM, "Andrea Baty" <notifications@github.com> wrote:

[2017-05-13 18:05] ujithaperera commented on #396
Hi @StlMaris123,

BTW I am Ujitha Perera. I also agree with the @jywarren . I feel that first we should make sure that active Job is up and running. Since this is a new module to the code base, have to create new active Jobs without affecting to the current functionalities.

And since we are using rails 3.2 active jobs don't support by default. hence we have to add active jobs as a gem to the code

[2017-05-14 13:43] StlMaris123 commented on #396
Hello Ujitha,
 I am not familiar but i will have a look at them.

On 13 May 2017 21:05, "Ujitha Perera" <notifications@github.com> wrote:

[2017-05-14 16:21] #1395 closed

[2017-05-14 16:49] jywarren opened #1418 "Add more functional tests to each method in Search API"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-05-14 17:06] jywarren opened #1419 "add Tag.contributor_count method"
We need a generalized tag-based method, like `Tag.contributor_count(tagname)` for counting contributors. It'd also be great to count commenters, answerers, etc! It could start with this code: https://github.com/publiclab/plots2/blob/master/app/controllers/tag_controller.rb#L216-L219

It could go in the Tag model: https://github.com/publiclab/plots2/blob/master/app/models/tag.rb

[code]

We'd of co

[2017-05-14 18:26] david-days commented on #1419
I think a quick-and-dirty version would be the results of a query like:

`
select count(du.userid)
  from DrupalTag dt
  inner join DrupalCommunityTag dct on dt.tagid = dct.tagid
  inner join DrupalUser du on dct.userid = du.userid
  where dt.tag_name = :tagname

`

OTOH, going through the DrupalNode table would be more likely to ensure that there was a definite link to authors, as opposed to any

[2017-05-14 20:06] david-days commented on #1419
meh...probably have that backwards, and need to start from the DrupalUser table.  Still, I think it's the route to go.  Will see what I can come up with tonight.

[2017-05-14 20:22] jywarren commented on #1419
I think we could do a few chained queries, and combine and `.uniq` the results. Like:

[code]

We should write the test first, though!

[2017-05-14 21:11] david-days commented on #1419
Agree.  I can work the code and the tests.  The finicky issue is getting a "true" answer and/or adjusting the test data set so that it will work.

[2017-05-15 06:50] StlMaris123 commented on #396
@jywarren Please help me in breaking down the tasks into more distinct steps.

[2017-05-15 15:55] ananyo2012 commented on #1419
It will be good if we can list out the things that we want to display in contribution count. Here are the things I thought of
- Total no of research notes, wiki pages and questions with that tag
- No of followers of that tag
- Top 5 contributors on that topic. Here is a sample screenshot of how it is done in stackoverflow
![screencapture-stackoverflow-tags-javascript-info-1494863078487](https://cl

[2017-05-15 16:48] ananyo2012 commented on #1336
I can take this up. [danjer-junit](https://github.com/orta/danger-junit) enables to post failed tests in danger. It also reports jasmine test failures. Investigating how to  implement it.

[2017-05-15 16:51] jywarren commented on #1336
:-) awesome!

On Mon, May 15, 2017 at 12:48 PM, Ananyo Maiti <notifications@github.com>
wrote:

[2017-05-15 17:01] ananyo2012 commented on #1413
Checking it now

[2017-05-16 22:56] jywarren commented on #396
Hi, @StlMaris123 - i'll reply to this soon, sorry i've been tied up!

[2017-05-19 13:34] jywarren opened #1421 "Planning issue for Email Notifications GSoC project"
This issue is to help plan out the stages of @StlMaris123's summer project on Email Notifications. Let's try to break this into phases so that Stella can tackle this project in self-contained sections that can come online one by one, starting with basic issues and moving on to more complex ones that build on earlier work.

Ideally we'll be able to see earlier phases come online at PublicLab.org, a

[2017-05-19 13:36] jywarren commented on #396
Hi, @StlMaris123  -- sorry for the delay but I've posted a proposed 2-phase plan to attempt the above as well as the next step. Check out #1421 and tell me what you think!

[2017-05-20 03:24] tz-hmc opened #1426 "When accessing a page that doesn't exist, the page that shows has two footers?"
### What happened just before the problem occurred

Playing around with cloned copy of PublicLab, realized the double footer bug I found was also on the actual PublicLab website. There's also two navbars, one that covers the other one? But it doesn't show, so I guess it's not really something that needs fixing. But the two footers appear one after another.

![screen shot 2017-05-19 at 8 10 05 pm](

[2017-05-20 05:05] tz-hmc opened #1427 "Multiple chatroom windows show, after chatroom icon is opened, closed, then opened again"
### What happened just before the problem occurred
Chatroom icon was clicked once to open, clicked again to close, and clicked one more time.
![screen shot 2017-05-19 at 10 00 49 pm](https://cloud.githubusercontent.com/assets/21372809/26273177/25e9d584-3cdf-11e7-8733-fce9cd00d959.png)
^ You can see the second box here.

### Relevant URLs
https://publiclab.org/

### PublicLab.org username
n/a

###

[2017-05-20 17:33] snhardin commented on #1406
Hi! I've never contributed to an open source project before. May I work on this issue?

[2017-05-21 13:20] jywarren commented on #1406
If nobody's responded for a while then you're welcome to!

On May 20, 2017 1:33 PM, "Scott Hardin" <notifications@github.com> wrote:

[2017-05-21 14:07] StlMaris123 commented on #1421
Thank you so much @jywarren This is a great place to start.

[2017-05-22 15:41] jywarren commented on #1421
I think each one could plausibly be done in a week, maybe less -- what do you think? Maybe the second one in 3 days? But you tell me, we want to leave room for you to figure things out if you run into trouble.

[2017-05-24 02:33] SwordShieldMouse commented on #1391
I'd like to try to work on this!

[2017-05-24 05:14] ananyo2012 commented on #1391
Sure go on ahead! If you want any help you can comment here or ask us in [our chatroom](https://chat.publiclab.org/)

[2017-05-24 15:42] ananyo2012 commented on #1427
Thanks for reporting. I am on it

[2017-05-24 15:43] ananyo2012 commented on #1426
Thanks for reporting. We will fix it soon

[2017-05-25 15:28] mlendale commented on #1418
Hi,
Is it ok if I take this one?

[2017-05-25 15:37] jywarren commented on #1418
Yes please, and we're happy to help you out with it!

On May 25, 2017 11:28 AM, "mlendale" <notifications@github.com> wrote:

[2017-05-25 15:42] #1391 closed

[2017-05-25 16:08] #1426 closed

[2017-05-25 16:08] #1427 closed

[2017-05-25 16:32] aspriya opened #1434 "Dropdown does not work with parameter raw=true"
### What happened just before the problem occurred
Without login in I was reading a wiki page which had a query string parameter `raw=true`. And then only remembered I should login to see some features of inline-markdown-editor work. But the dropdown link does not work for me to login. Once logged in without the parameter, it still does not work with `raw=true` parameter.

### Relevant URLs

https

[2017-05-25 17:55] snhardin commented on #1406
Cool! I think my solution works. I just submitted a pull request for this issue.

[2017-05-25 19:56] #1406 closed

[2017-05-26 04:40] StlMaris123 commented on #1421
@jywarren Is it possible to have a call? There are some things I would like to get clear before embarking on the issue

[2017-05-26 06:59] StlMaris123 commented on #1421
@jywarren Is it possible to have a call? There are some things I would like to get clear before embarking on the issue

[2017-05-26 13:52] ujithaperera commented on #1421
Yeah I also think that it is a good idea to have a small voice call and clear all the doubts. then it'll be more productive to boost up the first task.

[2017-05-26 13:58] checkresultsonline opened #1436 "universityresultonline"
### What happened just before the problem occurred

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.or

[2017-05-26 15:39] ananyo2012 commented on #1436
Gosh isn't spamming obvious in github issues these days! Closing this one.

[2017-05-26 15:39] #1436 closed

[2017-05-27 20:24] ananyo2012 commented on #1434
After quite a bit of searching I observed that if I remove the `PublicLab.Editor.js` the dropdown works fine. The Editor is somehow blocking the bootstrap dropdown. Same thing happens in the `/post` page to. @jywarren Can you have a look at this ?

[2017-05-27 20:26] jywarren commented on #1434
Ohhhh yes this came up before -- since publiclab.editor includes jQuery,
the listeners for clicks run twice so its opened and closed at the same
time. I had been trying to develop a way to get the editor to detect if
jQuery were already loaded, and no reload it, but didn't come up with a
solution. I believe I had a pull request open for it, let me look.

On May 27, 2017 4:24 PM, "Ananyo Maiti" <no

[2017-05-27 20:31] jywarren commented on #1434
I guess I never opened one. I had been testing code at the point where I do
the "require('jquery')" step but couldn't get tests to pass. It seemed like
quite a tough problem!

On May 27, 2017 4:26 PM, "Jeffrey Warren" <jeff@unterbahn.com> wrote:

[2017-05-27 20:31] jywarren commented on #1434
But we should open an issue over there and ask for help!
https://github.com/publiclab/PublicLab.Editor/issues

On May 27, 2017 4:30 PM, "Jeffrey Warren" <jeff@unterbahn.com> wrote:

[2017-05-27 20:38] ananyo2012 commented on #1434
Ok I will open an issue there and link to this one. So this can be closed here.

[2017-05-27 20:38] #1434 closed

[2017-05-27 20:46] jywarren commented on #1434
Thanks Ananyo!!!

On May 27, 2017 4:38 PM, "Ananyo Maiti" <notifications@github.com> wrote:

Ok I will open an issue there and link to this one. So this can be closed
here.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/publiclab/plots2/issues/1434#issuecomment-304475316>,
or mute the thread
<https://github.com/notificatio

[2017-05-29 18:11] aspriya opened #1438 "Planning issue for Wiki Discussion GSoC project"
### Why
Wiki pages are web pages that anyone can create or edit. PublicLab use them to collect information, documentation and instructions on projects. At present users can create wikis, edit them and associate tags with them. But users can not add comments to this, can not make suggestions, can not tag a user for a special part in the wiki. Wikis can made more interactive by implementing these fe

[2017-05-30 12:13] StlMaris123 commented on #1421
I am fully available. Tell me when we can schedule one

On Fri, May 26, 2017 at 4:52 PM, Ujitha Perera <notifications@github.com>
wrote:

[2017-05-30 18:12] aspriya opened #1440 "Adding a Comment button for subsections in wiki pages"
### Feature
This regarding the Long term project `Wiki Discussion`. A wiki page can broken down into subsections and can be edit per subsection basis. As the project describes, a wiki should be more interactive. Users having the ability to comment on section basis of is one step for acheiving that.

### Relevant URLs
A detailed description of the procet can be found in following links
https://gith

[2017-05-30 20:18] skilfullycurled opened #1442 "set up scraper for Public Lab's twitter account"
Github issue:
### background

Twitter is a microblogging platform launched in 2006 (no, no, jk jk, for real now)...

Twitter gives limited access to your timeline events. For instance, here's what the exported archive looks like when viewed in a browser -- it only shows what you tweeted or retweeted, not the activity on each tweet or what other people are talking about you:

And here is what analy

[2017-05-30 20:36] ebarry commented on #1442
great! thanks for posting, i added in screenshots above.

[2017-05-31 02:23] jywarren commented on #1421
Yes, I'd be happy to. I'll be available on Thursday, but it may have to wait until Monday for us to find a time as I'm currently on a trip. What times are you free on Thursday? Thanks!

[2017-05-31 02:28] jywarren commented on #1438
I'm thinking some rearranging could make sense so that we don't have to merge in a non-functional comment button before the commenting functionality is ready.

So, what's the first step in getting a commenting form to appear? Let's think through where we'd want to make the form ([template here](https://github.com/publiclab/plots2/blob/master/app/views/comments/_form.html.erb)) appear.

Even before

[2017-05-31 02:29] jywarren commented on #1438
Also see how ` Make a table to store comments for a perticuler wiki page` may already exist in the comment controller, since comments are attached to `nodes` and we may not have actually ever prevented them from being made on Wiki nodes, instead of just Note nodes?

[2017-05-31 02:31] jywarren commented on #1438
Let's break out the suggestions into its own phase -- that's a lot more complex than just comments, right?

Then let's have the first phase be backend Comments functionality, and the second be Commenting interface (that way the interface comes online only after the backend already works!).

How does that sound? Thanks!!!

[2017-05-31 03:36] StlMaris123 commented on #1421
Whole day on Thursday

On Wed, May 31, 2017 at 5:23 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-05-31 11:22] aspriya commented on #1438
Wow thanks for you feedback @jywarren. Yes phases in that way seems more logical and accurate. Will rearachge the above check list and will start writing tests as you mentioned. Thanks again.

[2017-05-31 12:06] aspriya opened #1443 "Add tests to check commeting functionality of wiki pages"
### Feature

This is regarding the Long term project __Wiki Discussion__. A wiki page can broken down into subsections and can be edit per subsection basis. As the project describes, a wiki should be more interactive. Users having the ability to comment on section basis of is one step for acheiving that. It is good to follow TDD approach, so writing test is a good start.

### Relevant URLs

A deta

[2017-05-31 12:39] ujithaperera commented on #1421
Thursday means next Thursday(8th) right ?. I'm in +5.30 GMT time zone.
After 7.00 pm, I am available for a voice call. Since US and Sri Lanka have
around 12 hours time difference, 7.00pm for Sri Lanka would be early in the
morning for US, I guess. And would like to know time difference for Stella
also. Then we can arrange appropriate time to have the call.
On Wed, May 31, 2017 at 9:06 AM StellaMar

[2017-05-31 15:35] jywarren commented on #1421
I'm in, -4 GMT I believe - boston, in the US. So perhaps early Friday
(before noon) could work? How about 10 et?

http://everytimezone.com/#2017-6-2,120,cn3

On May 31, 2017 8:39 AM, "Ujitha Perera" <notifications@github.com> wrote:

[2017-05-31 15:40] ebarry commented on #179
I'm also interested in seeing who is subscribed to tags, for instance, there's an icon indicating that 79 people are subscribed to "everything" generated on publiclab.org, and as part of the community development team, i would like to be able to reach out to these folks. Can this icon be activated?

![screen shot 2017-05-31 at 11 37 23 am](https://cloud.githubusercontent.com/assets/161439/26640506

[2017-05-31 20:43] orcutt989 commented on #1405
I'll grab this again.

[2017-05-31 22:48] puan0601 commented on #1418
I'd also like to help unless you're almost finished

[2017-05-31 23:10] mlendale commented on #1418
You are welcome to help as I will be out for a couple of days.

2017-06-01 0:48 GMT+02:00 Anton Pugach <notifications@github.com>:

[2017-05-31 23:18] jywarren commented on #1418
Yes, I've made a couple suggestions and I think it's possible to open a
pull request against the existing pull request. Happy to help you do this!

On May 31, 2017 7:10 PM, "mlendale" <notifications@github.com> wrote:

[2017-06-01 14:36] StlMaris123 commented on #1421
Hi Jeff, 10:00 AM is okay

On Wed, May 31, 2017 at 6:35 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-06-01 15:35] kristapuciitis commented on #1405
You can take it, I won't solve this issue. Sorry for inconvenience.

[2017-06-01 16:41] #1293 closed

[2017-06-01 17:53] jywarren commented on #1421
10am would be really great, i'll look for you then, @ujithaperera is that OK?

[2017-06-01 18:20] jywarren commented on #1421
I also made some additional suggestions and edits to break up into additional phases. @StlMaris123 - what do you think of these changes? See how I'm making it into as small components as possible so we can publish the code and try it out incrementally and step by step, rather than having to have all the parts running all at once?

[2017-06-01 18:30] austindenny commented on #1028
@jywarren I can take a stab at this if still open

[2017-06-01 19:24] jywarren commented on #1028
Super, please do, esp. as I don't think there's been activity on it
recently. We're happy to help!

On Thu, Jun 1, 2017 at 2:30 PM, Austin Denny <notifications@github.com>
wrote:

[2017-06-01 19:31] jywarren commented on #1438
Good note from #1443 -- (https://github.com/publiclab/plots2/pull/1444#discussion_r119707141) excerpted here:

This also resolves one of the items in the checklist of using the same column for all comments. See how @ananyo2012 added an `aid` column to the comments table here: https://github.com/publiclab/plots2/blob/master/db/migrate/20160616035549_add_aid_to_comments.rb

You could do the same to

[2017-06-01 20:52] jywarren commented on #1438
I'd also like to suggest a 1.5 "mini phase" which could be:

* [ ] make a Question button which opens (in a new window) a form to post a question, using the `extraButtons` array
  * plus a function which runs on the element (see documentation for inline-markdown-editor) to add an `href` to the button leading to `/questions/new?tags=____` with some related tags.
  * We can insert the tags using `<%

[2017-06-01 21:23] jywarren commented on #1442
I added a `help-wanted` label, but if you think this isn't ready for input from folks, you could switch it to a `break-me-up` one. Could be good to also note exactly what twitter account, i.e. https://twitter.com/publiclab

[2017-06-02 00:03] skilfullycurled commented on #1442
Thanks @jywarren, awesome idea, didn't know we had that!

There isn't a priority on having this feature fully integrated into the site so I think right now I'm imagining that this could be done in stages, something like the following:

1. I write something in Python which would create csv's of data for internal usage.
2. Ruby code is added to put csv's into the database.
3. Ruby code is added to r

[2017-06-02 07:11] StlMaris123 commented on #1421
Hi, I a ready for the call

On Thu, Jun 1, 2017 at 9:20 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-06-02 08:09] ujithaperera commented on #1421
Yes Jeff, I am available. Can you please create an google calender event
and share with me. Then it would be a great help for me to understand exact
time and date in my local.

On Fri, Jun 2, 2017 at 12:41 PM StellaMaris Njage <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2017-06-02 08:56] ananyo2012 commented on #1442
Hi all! If we are thinking about generating statistics about our tweets and social media there is already an opensource server application at https://github.com/loklak/loklak_server. It seems to be most appropriate solution as we can deploy our own server with it and enables to collect and share a large number of tweets. We can look into it further to know its usage and other features.

[2017-06-02 11:22] skilfullycurled commented on #1442
This will be awesome if it works!

I'm so glad you pointed it out.  I can't tell you how much data I've missed out on gathering because I was too lazy to go to the computer to set up a script.

And...

They have a Python API!

I'll give it a run on my own machine when I get a chance.

[2017-06-02 14:02] jywarren commented on #1421
hi, all, i'm in the chatroom now!

[2017-06-02 14:02] jywarren commented on #1421
https://riot.im/app/#/room/#publiclab:matrix.org or chat.publiclab.org

[2017-06-02 14:08] jywarren commented on #1421
Hmm, it looks like we didn't manage to sync timezones. I could try again on Monday though. This would be the same as the time I linked to above -- please click the link to see: http://everytimezone.com/#2017-6-5,120,cn3

The chart says it's 7:30PM  in +5.5 (@ujithaperera), and 5:00PM in +3 (@StlMaris123). Will that work?

Can you read over teh changes I made in the plan above, before then, and wri

[2017-06-02 14:10] jywarren commented on #1438
If you can add the above "mini phase" in, that'd be great, also I'm adding some links to where relevant code can be found for some of the checklist above.

[2017-06-02 14:11] ujithaperera commented on #1421
Actually I am available now. I joined to the chat room. but still finding a way to connect to you

[2017-06-02 14:17] jywarren commented on #1421
ah ok, but is StellaMaris available? It's evening there now.

[2017-06-02 14:18] ujithaperera commented on #1421
she said that she is available. But it's looks like she is not in the chat room right now.

[2017-06-02 14:26] jywarren commented on #1421
It looks like she may have joined at 10am at her local time, and is probably offline now (as should be, on a friday night -- you too!) But will Monday work for you at the time I linked to above?

[2017-06-02 14:28] ujithaperera commented on #1421
yes :) . I'm available on Monday.

[2017-06-02 14:33] jywarren commented on #1438
Oh noooo! I was doing a big edit of the issue, adding links to relevant lines of code, but then lost it all when the page refreshed! Ughhhhh. Ok, will start over.

[2017-06-02 14:36] aspriya commented on #1438
Oh no! :face_with_head_bandage:

[2017-06-02 14:37] jywarren commented on #1438
learned my lesson yet again. I'm doing it in smaller chunks now and saving each time.

[2017-06-02 14:43] StlMaris123 commented on #1421
😊, True that. I thought it was 10:00 AM my local time

On Fri, Jun 2, 2017 at 5:28 PM, Ujitha Perera <notifications@github.com>
wrote:

[2017-06-02 14:51] jywarren commented on #1421
sorry Stella, we won't ask you to join a call right now, it's too late! See
you monday?

On Fri, Jun 2, 2017 at 10:43 AM, StellaMaris Njage <notifications@github.com

[2017-06-02 14:53] jywarren commented on #1438
Starting to think about documenting your plan not only for yourself and me, but for other people you could recruit to contribute, can you continue fleshing out links to relevant code and documentation in your checklist, trying to think about how it looks to a newcomer? For example, where you reference `extraButtons`, you might link to the corresponding docs in https://github.com/publiclab/inline-m

[2017-06-02 15:03] StlMaris123 commented on #1421
5 PM, my local time?  It is fine .

On Fri, Jun 2, 2017 at 5:51 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-06-02 15:06] jywarren commented on #1421
super, see you both then! Let's try for the Riot chatroom I linked to
above, it's open source and has an experimental video chat feature :-)

On Fri, Jun 2, 2017 at 11:03 AM, StellaMaris Njage <notifications@github.com

[2017-06-02 15:31] jywarren commented on #1442
Hi, @skilfullycurled -- just thoughts on these:

Do you need to store additional data in the PublicLab.org database? Or is this part of a gradual plan to integrate this effort with the automated processes already on the site?

If you can share a python script or even pseudocode of the kind of processing you're doing, we can help shape a set of issues to accomplish this, either in a separate script

[2017-06-02 15:34] jywarren commented on #1442
Yes, although Ruby is nice, i guess there doesn't seem to be anything strongly motivating us to actually integrate this function with the PublicLab.org codebase -- it could be run as a standalone system at a subdomain or in a folder, and not have to add the complexity of integration, right? I def. appreciate the interest in a public facing tool, though!

loklak does look really great!

[2017-06-02 16:16] jywarren commented on #1438
OK! I finished rearranging a bit - even broke out a 2.5 section to separate basic commenting from inline commenting. This means you can tackle the project in smaller pieces and each phase leaves you with something working :-)

Make sense? If there are other places you can add links to code, please do, and perhaps help other students in GSoC organize their own projects a bit in this way!

[2017-06-02 18:48] skilfullycurled commented on #1442
I'll not respond to your first comment since your second comment captures it exactly.  As long as the dev team is okay with it running as a standalone feature then no, there's no reason to integrate it.  That would lower the complexity for everyone for sure.

So I think the plan then is to build out something separate (loklak or otherwise) that can deliver data through a feed so that in the future

[2017-06-03 02:36] aspriya commented on #1438
Sure, will do @jywarren , thanx a bunch!

[2017-06-03 18:02] david-days opened #1449 "Planning Issue: Expand, Coordinate, and Test API"
### Goals

GSoC 2016 introduced RESTful services to the plots2 system.  Since then, there have been several fundamental changes to the site, as well as new projects and goals for GSoC 2017.  This issue is intended to cover cleanup of work from 2016, as well as add new capabilities for further development.

Additionally, the existence and usage of the RESTful services (current and future) is rather

[2017-06-03 18:07] david-days commented on #1449
@jywarren, I'm already working on the Phase 1 part, and should be submitting that soon.  Fortunately, the work that @ujithaperera  and I did last year already laid the foundation.  Once that part is finished, I'll be able to move fairly quickly through the next 2 phases.  My overall goal is to work with @StlMaris123 in particular on the email subsystem, while keeping an eye on the rest of the work

[2017-06-05 13:34] StlMaris123 commented on #1421
Is our meeting still on? It should be in about 30 minutes

On Fri, Jun 2, 2017 at 6:06 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-06-05 13:35] ujithaperera commented on #1421
hi @StlMaris123 ,

I'm available.

[2017-06-05 14:02] jywarren commented on #1421
We are coordinating in the chat room: https://riot.im/app/#/room/#publiclab:matrix.org

[2017-06-05 14:02] StlMaris123 commented on #1421
https://hangouts.google.com/call/z5kfgkkhzfggxbpmubk76ysrjqy

On Mon, Jun 5, 2017 at 4:35 PM, Ujitha Perera <notifications@github.com>
wrote:

[2017-06-05 15:44] ujithaperera commented on #1449
hi @david-days , thank you very much for re organizing to make this RESTful services to bring valuable end. I really appreciate it. give me some time to catch up the things you are planing ahead. I am still finding a place to begin my contribution. Thank you.

[2017-06-06 04:28] StlMaris123 opened #1451 "Adjust subscription_mailer to use rusers table"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who **either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.**

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-06-06 15:17] aspriya opened #1453 "Inline question button which opens a form to post a question in a wiki"
### Feature

This is regarding the Long term project Wiki Discussion. A wiki page can broken down into subsections and can be edit per subsection basis. As the project describes, a wiki should be more interactive. One step for acheving interactivity is letting readers to ask questions. It's more meaningful if a reader can ask questions per section of a wiki page.

### Relevant URLs

A detailed des

[2017-06-06 16:17] ebarry opened #1454 "small discussion list feed error on /dashboard"
### What happened just before the problem occurred

I checked the dashboard, and clicked the tab for "Discussion Lists" and saw an error message:
![screen shot 2017-06-06 at 11 15 03 am](https://user-images.githubusercontent.com/161439/26839760-a0fb372c-4aa9-11e7-91be-e383465bc3a2.png)

### Relevant URLs

https://publiclab.org/dashboard

### PublicLab.org username

(to help reproduce the issue) li

[2017-06-06 16:50] jywarren commented on #1451
Oh, this is fantastic. Thank you, @StlMaris123 !! Labeling now.

[2017-06-06 18:04] ananyo2012 commented on #1449
Hey guys I am in for help too! Since the Bot Project would need the API I would really want to be a part of this. I will look in how the API is set up and Swagger documentation.

[2017-06-06 18:35] jywarren commented on #1449
This is so great. The only request I'd make is that we attempt to work as
much as possible in small PRs which we merge to master in discrete, tested
chunks. Each PR should be small enough that reviewers can read through it,
understand the single function or improvement it adds, and see how the
tests confirm this. That'll enable us to closely track the master branch.
David, do you think that's feas

[2017-06-06 18:48] jywarren commented on #1453
😄 🎈 🎉  Want to assign this to yourself? And you can make a Milestone to collect all your sub-issues if you want. Ask me if you don't have access.

[2017-06-06 19:45] david-days commented on #1449
I think it's feasible and desirable.  I've got a plan (subject to better ideas, changes, or just "huh...never thought of that") that I can talk through.

I already have a PR (Pull Request #1450 ) for adding the Swagger front end.  It already shows the documentation from the work that Ujitha and I did last year.  This would go a long way towards getting everyone on the same page.

For some reason,

[2017-06-07 01:16] jywarren commented on #1449
Great, i left some comments over there and look forward to this!

[2017-06-07 01:18] jywarren commented on #1449
Also be aware that Jasmine cannot test the Rails responses, the way it's set up (and the convention) is that we decide what the API boundary between the front and backends are, and we use static or mocked responses to test each of the two, rather than testing both in an integrated way. This makes sense because it holds both front and backend to the strict promised API by testing each against a sta

[2017-06-07 15:47] cmacaulay commented on #1451
@jywarren have you claimed this issue? 😄

[2017-06-07 16:39] jywarren commented on #1451
Nope, please go for it, we're happy to help you with it! I was just
expressing enthusiasm :-)

On Wed, Jun 7, 2017 at 11:47 AM, Casey Macaulay <notifications@github.com>
wrote:

[2017-06-07 18:17] cmacaulay commented on #1451
wonderful, I'll get started!

[2017-06-08 12:58] StlMaris123 opened #1456 "Problem with new research note form "Steps left""
### FEATURE
When creating a new research note, the publish button is not activated unless you upload image as the last object.

### Relevant URLS

https://publiclab.org/post

### Implementation
Le the user fill in the fields as they appear.  Not fill in the fields and the have to re-upload the image for the publish button to be activated.

[2017-06-09 11:28] StlMaris123 opened #1457 "Make Bootstrap "Pop-over" area close when clicking outside"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2017-06-09 16:04] jywarren commented on #1457
Do you know how this might be done, or could you add a few more hints? It's a Bootstrap element: https://getbootstrap.com/

The "popover" code is actually on this line: https://github.com/publiclab/plots2/blob/master/app/views/like/_like.html.erb#L10

[2017-06-12 12:48] StlMaris123 commented on #1457
I think it can be tackled used `popover` js function

[2017-06-12 21:47] jywarren commented on #1457
This is great -- i've marked it as `help-wanted` and if you'd like to upgrade it by adding the checklist and other helpful notes, we can make it a `first-timers-only` at some point.

[2017-06-12 21:48] jywarren commented on #1457
I did also change the title to try to make it a bit more descriptive to a newcomer, and added a section to the top mentioning how it could be "upgraded". Thanks!

[2017-06-12 22:58] jywarren commented on #1456
Do you think we could have it display some kind of tip or notice like `Please add an image to illustrate your post!` ?

[2017-06-12 23:00] jywarren commented on #1456
Hmm, i just tested this and realized there may be a bug, not related to the image -- the first time I tried, i saw `1 of 2 steps` left, but then i typed more in the title field and got to `0 of 2 steps left` -- without uploading an image. Maybe the triggering is a bit off?

Do you think you could add an issue to the editor repository, at https://github.com/publiclab/PublicLab.Editor?

Screenshot f

[2017-06-12 23:01] jywarren commented on #1456
Thanks for posting this, @StlMaris123 !!!

[2017-06-12 23:09] jywarren commented on #1443
Complete in #1444 🎉

[2017-06-12 23:09] #1443 closed

[2017-06-12 23:10] jywarren commented on #1438
Marked 1.5 as done, great work! If #1453 is ready to merge, you're ready for Phase 2 :-)

[2017-06-12 23:11] jywarren commented on #1438
Also, i rearranged to put the test issue first in Phase 2, since it's also linked to the following item.

[2017-06-12 23:12] jywarren commented on #1438
Phase 2 will be fun since you'll be able to publish it to the live site pretty soon and ask people to try it out!

[2017-06-12 23:14] jywarren commented on #1438
Also added a bit on functional testing the email notifications for wiki comments :-)

[2017-06-12 23:35] jywarren commented on #1421
I adjusted the line:

adding the unit test idea. Model methods like the one you're working on should be unit testable. Thanks!

[2017-06-13 07:22] StlMaris123 commented on #1457
I also feel it cab be a nice first timer's issue.

On Tue, Jun 13, 2017 at 12:47 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-06-13 20:19] jywarren commented on #1303
Hi, @ryzokuken - did you want to close this and redirect it to https://github.com/publiclab/plotsbot/ ?

[2017-06-13 20:24] jywarren commented on #1451
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2017-06-13 20:25] jywarren commented on #1442
I guess I can remove the `help-wanted` label for now if you're investigating loklak_server as an option?

[2017-06-13 20:38] jywarren commented on #1135
For the time being I'm going to close this because the galleries now simply open the image at full resolution in a new window. Thanks!

[2017-06-13 20:38] #1135 closed

[2017-06-13 20:40] jywarren commented on #1454
Fixed! https://publiclab.org/dashboard

[2017-06-13 20:40] #1454 closed

[2017-06-14 07:47] ryzokuken commented on #1303
Yes, definitely.

[2017-06-14 07:48] ryzokuken commented on #1303
This has been resolved. A new repository has been created for the bot at https://github.com/publiclab/plotsbot/

The bot currently lives in #publiclab-testing in OFTC IRC network

[2017-06-14 07:48] ryzokuken commented on #1303
This has been resolved. A new repository has been created for the bot at https://github.com/publiclab/plotsbot/

The bot currently lives in #publiclab-testing in OFTC IRC network

[2017-06-14 07:48] #1303 closed

[2017-06-14 14:37] jywarren commented on #179
Hi, Liz, can you break this out into a separate issue? We'd be happy to
help you find the relevant lines of code and mark it a `help-wanted` or
figure out if it could be a FTO issue.

On Wed, May 31, 2017 at 11:40 AM, Liz Barry <notifications@github.com>
wrote:

[2017-06-14 17:42] ebarry opened #1460 "tagpages not automatically linking to wiki pages of same name"
### What happened just before the problem occurred

I created https://publiclab.org/wiki/china and assumed it would automatically appear on https://publiclab.org/tag/china but It didn't. I clicked the button on that page to choose a wiki page to "link", and that action automatically navigated me to the china page, yet still it wasn't "linked".

### Relevant URLs (in pairs)

https://publiclab.org/t

[2017-06-15 17:53] shubham7saxena commented on #1451
has the issue been taken? If not, I'd love to get started.

[2017-06-15 18:07] jywarren commented on #1449
Hi, David! After #1450, I'd like to propose starting with unit tests for `SearchService` and `TypeaheadService`:

* https://github.com/publiclab/plots2/blob/master/app/services/search_service.rb
* https://github.com/publiclab/plots2/blob/master/app/services/typeahead_service.rb

Not every sub-method, but the public ones, like:

* `textSearch_all`
* `textSearch_tags`
* `textSearch_notes`
* etc

Sin

[2017-06-15 18:26] jywarren opened #1463 "Planning issue for Search integration"
* [x] #1466 -- done!

Start hooking up Solr Node.search to various things, one at a time:

1. Solr Typeahead?
    * [ ] Add Node.search with toggle to: https://github.com/publiclab/plots2/blob/master/app/services/typeahead_service.rb#L56 (doing in #1537)
1. Start stripping back different search interfaces from: https://github.com/publiclab/plots2/blob/master/config/routes.rb#L143-L152
    * [x] Re

[2017-06-15 20:42] david-days commented on #1449
@jywarren ,

Sounds like exactly what we need.  I'm going to try to make the changes to #1450  tonight, and then work on the test coverage (also updating comments that will appear in the Swagger UI, add references to the implemented JS clients, etc).

Sounds like we have a plan moving forward.

[2017-06-15 21:17] jywarren commented on #1449
Awesome -- as much as possible, let's do this in separate PRs! Good luck --
i'm hammering away at Solr config, but making progress!

On Thu, Jun 15, 2017 at 4:42 PM, David C Days <notifications@github.com>
wrote:

[2017-06-15 21:44] jywarren commented on #1463
Initial done in #1464

[2017-06-15 22:04] jywarren commented on #1463
#1467 for one more

[2017-06-16 13:27] alanunruh commented on #1405
Hi @jywarren :wave: - Wondering if this is still open? If so, I'd love to implement the solution to this issue. (Noob/first time contributor here....)

[2017-06-16 13:28] jywarren commented on #1405
Yes it is! We'd be very happy to have your contribution.

On Jun 16, 2017 9:27 AM, "Alan Unruh" <notifications@github.com> wrote:

[2017-06-16 13:41] alanunruh commented on #1405
Great, I'll take it!

[2017-06-18 17:45] jywarren commented on #1451
Not sure -- @cmacaulay are you still working on this one? Take your time -- and @shubham7saxena if you're looking for a project, please check out https://github.com/publiclab/plots2/labels/fto-candidate for some that are close but not quite at a level for first-time contribution, and we're happy to help you get into one.

[2017-06-19 16:00] jywarren commented on #1438
How are things going? I added another small request here: https://github.com/publiclab/inline-markdown-editor/issues/5 which will be a good intro to JavaScript testing too.

Then let's start with phase 2!!! Exciting!

[2017-06-19 16:02] jywarren commented on #1438
Now that you have good familiarity with these different systems, i think phase 2 will go quite quickly. Just remember to submit separate PRs for each checklist item!

[2017-06-20 21:11] steviepubliclab opened #1475 "Autosave on rich wiki"
I've lost a lot of work from unpublished wiki pages that have crashed when my computer closed or otherwise gone missing. I'm interested in having an autosave feature on the rich wiki project.

[2017-06-20 21:50] jywarren commented on #1475
Sorry, I think the feature is actually to add the rich editor to the
/wiki/new page -- the rich editor already has autosave!

On Jun 20, 2017 5:11 PM, "steviepubliclab" <notifications@github.com> wrote:

[2017-06-21 18:11] steviepubliclab opened #1476 "locked pages inline editing"
Hi there,
Following along the inline wiki editing project @aspriya is working on and had a thought. There are a few pages Public Lab has locked so others can't edit them, for example the "[about Public Lab](https://publiclab.org/about)" page. Is there a way to make sure these don't have the inline editing feature?

-Stevie

[2017-06-22 16:56] ryzokuken opened #1480 "What's the status on the API"
I looked around in the current set of issues but couldn't find one with the roadmap for the plots2 API. What's the current status on the API? Can one register for an API key?

Specifically, I was concerned about the functionality of commenting on a research note.

[2017-06-22 17:05] jywarren commented on #1480
I believe there's some notes about making API tokens ... Could be on one of
your planning issues from a while ago.

But basically we need to create a new db field for storing token strings.
These can be randomly generated alphanumeric, and stored in rusers.

But how would we store it on the bot side? Do we need some storage?

On Jun 22, 2017 12:57 PM, "Ujjwal Sharma" <notifications@github.com> wro

[2017-06-22 17:11] ananyo2012 commented on #1480
As per https://github.com/publiclab/plots2/wiki/API we don't need an API key as of now. Do we need to have a API token?

[2017-06-22 17:32] ryzokuken commented on #1480
@jywarren the bot's personal API key will be stored as an environment variable.

@ananyo2012 all users need to have a unique key using which they can make comments etc in their own name.

[2017-06-22 17:49] jywarren commented on #1480
+1

On Thu, Jun 22, 2017 at 1:32 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-24 20:34] #1460 closed

[2017-06-24 20:34] ebarry commented on #1460
Jeff (using Liz's computer) -- Sorry, i meant to open a PR but I hit the wrong key.

[2017-06-24 20:35] ebarry commented on #1460
Checks running at https://travis-ci.org/publiclab/plots2/builds/246633774

[2017-06-24 21:41] DrynnBavis commented on #1451
Hey, have any other tasks available?

[2017-06-25 16:28] bassdeveloper commented on #1457
Can I contribute?

[2017-06-25 16:30] jywarren commented on #1457
Yes please!

On Jun 25, 2017 12:28 PM, "Rishabh Chakrabarti" <notifications@github.com>
wrote:

[2017-06-26 14:33] skilfullycurled commented on #1442
Sure.  Although for those who stumble upon this thread, as always, help is welcome!

[2017-06-26 19:50] jywarren commented on #1451
It sounds like this one is not being actively worked on, so please take it up! Thanks!

[2017-06-28 08:56] icarito opened #1484 "Main search broken"
### What happened just before the problem occurred
I wanted to look for info on GSoC projects. Typed `gsoc` on search bar. Did not click on any of the typeahead items offered. Instead, submitted form. Reached 500 error page.

### Relevant URLs

https://publiclab.org/search/gsoc

### Logs attached

This is from production:
[code]

[2017-06-29 09:39] scosbet commented on #1337
Hi all! Is anyone actively looking at this? Happy to give it a whirl if nobody is on it...

[2017-06-29 18:33] jcotillo commented on #1337
@scosbet i never figured it out! something to do with drupal tables....wasn't as easy as I expected >.< feel free to take it :)

[2017-06-29 18:52] #1484 closed

[2017-06-29 18:53] ryzokuken commented on #1337
@scosbet: If @jcotillo is okay with it, you can feel free to try this one out.
@jcotillo: What went wrong though? Did you try talking to the people at the IRC channel?

[2017-06-29 21:00] scosbet commented on #1337
Thanks @jcotillo! You mentioned you were able to recreate it locally before. Are you able to give me some more details on how you did that?

I had a brief go yesterday while familiarising myself with the code but couldn't seem to recreate it easily. Thanks!

[2017-06-29 22:51] Zengirl2 opened #1487 "Need Flag Option for Spam: Research Notes, comments, wiki pages"
I recently spotted a spam research note for an escort service. I didn't have the admin to delete it, but it would be great if there was a flag option. That way a reader could flag it so a moderator could take it down.

[2017-06-30 22:35] jywarren commented on #1487
Thanks, Leslie! I was hoping we coudl do this pretty easily just by having
the flag icon button go to:

We can reform this into a First-Timers-Only issue!

On Thu, Jun 29, 2017 at 6:51 PM, Leslie Birch <notifications@github.com>
wrote:

[2017-06-30 23:34] jywarren commented on #1337
Folks just a heads up that in a new PR (#1488), we're moving to a more complex version of this page, but the base code is the same -- these four lines:

https://github.com/publiclab/plots2/blob/master/app/controllers/notes_controller.rb#L13-L16

Will be displaced by these four lines:

https://github.com/publiclab/plots2/blob/master/app/controllers/wiki_controller.rb#L346-L349

So this shouldn't di

[2017-07-01 13:37] jywarren opened #1490 "Emails about new research notes lack body text"
### What happened just before the problem occurred

A new note was posted, but it only included the lead image, and nothing else from the post:

[code]

This template is here: https://github.com/publiclab/plots2/blob/master/app/views/subscription_mailer/notify_node_creation.html.erb

This line is supposed to print the body text:

[code]

Compare to how it's printed out in a note on the site:

[cod

[2017-07-02 08:21] scosbet commented on #1337
It seems like the problem is around the pagination so having removed it in that PR the issue seems to be resolved for the methods page.

However, the similar code is being used in the places method of the notes_controller so it's still an issue there.

I've managed to recreate the problem locally so will do my best to get to the bottom of it and put a fix in place.

[2017-07-03 13:38] jywarren commented on #1337
Awesome, thank you! If there's enough repeated code we could make a new
issue for the node model and unit test it.

On Jul 2, 2017 4:21 AM, "Scott Nisbet" <notifications@github.com> wrote:

[2017-07-04 14:12] jywarren commented on #1480
I'm not at all familiar with how to provide a wrote API  using the grape swagger libraries.  our API is read only at the moment. Can one of you look up and link to some docs on write apis, and change the title of this post to reflect a need for a write API?

[2017-07-04 14:13] jywarren commented on #1453
Complete!

[2017-07-04 14:13] #1453 closed

[2017-07-04 14:13] ryzokuken commented on #1480
Sure, will do. Also, I was thinking that if we haven't completed the API,
we could try and use GraphQL in order to get webhooks for posts and comments

On Tue 4 Jul, 2017, 7:42 PM Jeffrey Warren, <notifications@github.com>
wrote:

[2017-07-04 16:28] jywarren commented on #571
Merging into new geographic features!

[2017-07-04 16:28] #571 closed

[2017-07-04 16:29] #992 closed

[2017-07-04 20:29] jywarren commented on #1480
I'm interested but one thing at a time! I'm really eager to get the bot
integration with the existing API, and in unit and functional testing our
API. We should also build it out with more - many things could be routed
through the API to reduce complexity of code.

On Jul 4, 2017 10:13 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-07-04 21:19] ryzokuken opened #1498 "Fix mysql2 dependency issue"
There's a problem regarding dependencies for mysql2.

Whenever I run any command (starting with `rake db:setup`), they fail; yielding the following error message: `Gem::LoadError: mysql2 is not part of the bundle. Add it to your Gemfile.`

Here's the trace:

[code]

I realized, that inside `config/environment.rb`, we call: `Plots2::Application.initialize!`. This in turn calls the initializers insi

[2017-07-04 21:25] ryzokuken commented on #1498
@jywarren sorry, a patch for this had already been submitted and this issue was resolved. I was accidentally using an older version of the codebase.

[2017-07-04 21:25] #1498 closed

[2017-07-05 04:52] aspriya opened #1499 "Tags are not setting correctly"
### What happened just before the problem occurred
In the new beta inline rich wiki editor of wiki pages, when the question button of a subsection is clicked, a new tab opens to post a question. But it is not setting correct tags correctly.

[2017-07-05 16:38] steviepubliclab opened #1501 "inline edit not publishing"
### What happened just before the problem occurred
Gilbert and I were attempting to edit this wiki page with the new inline editor: https://publiclab.org/wiki/aerial-imagery-in-the-public-domain. We were looking to add the section on remote sensing below the Landsat Imagery section.

We clicked the green edit button and scrolled down to the Remote Sensing section, clicked the edit button, added th

[2017-07-05 18:47] ebarry commented on #480
Bumping this up as it connects to the current discussion on how to see community activity

[2017-07-05 19:00] ebarry opened #1502 "Please add this tag visualization to the top of /tags"
This is a request for someone with access to editing special pages to add this visualization of tags from the beginning of time to November 2016 to the top of publiclab.org/tags

https://www.dropbox.com/s/s78g3ufhsav5xzo/plots_tag_graph_256_filtered.png?dl=0
![plots_tag_graph_256_filtered](https://user-images.githubusercontent.com/161439/27880158-04412cd4-6192-11e7-8aef-84a3841fda2f.png)

CC:
@gre

[2017-07-05 19:24] jywarren commented on #1502
Hi, Liz - i'm a bit reluctant to put a static graphic like this in our permanent codebase, but maybe a suggestion could be that we display a "feature" (like our banners) on the top of that page, and then admins could display whatever they want there. Would that work?

[2017-07-05 19:27] jywarren commented on #1502
It would go above or below this line: https://github.com/publiclab/plots2/blob/master/app/views/tag/index.html.erb#L4

And look like:

[code]

[2017-07-05 19:28] jywarren commented on #480
This is a pretty big project. Can we think about how to come up with some capacity and a timeline to tackle it?

[2017-07-05 20:04] ebarry commented on #1502
Well, i don't so much want to decorate that page as i want to add "insight at a glance" .
A different point, but maybe relevant as to why i'd suggest adding a graphic visualization is that this tag page still doesn't have any sorting capabilities to see "recent" or "popular" much less to see either of those by geography.

[2017-07-05 20:15] ebarry commented on #480
I don't necessarily want to do this project, but just wanted to bring past ideas like this together when talking about creating something new like a board for "requests for help" of presenting what "supporting tasks" need doing to people looking to contribute.

In fact, if our other systems for helping route people into and through Public Lab have superseded this particular idea, let's close it.

[2017-07-05 20:37] jywarren commented on #480
I think we've put a lot of time into https://publiclab.org/methods which is now looking pretty good!

![screen shot 2017-07-05 at 4 34 08 pm](https://user-images.githubusercontent.com/24359/27883787-cbbaa166-619f-11e7-909f-1083b4115e3e.png)

This is sorted due to most recent update, so our immediate needs are somewhat met there.

Also https://publiclab.org/stats is far more powerful now than when

[2017-07-05 20:44] skilfullycurled commented on #1502
There are actually python gephi bindings which we could use to generate it dynamically.  I'm actually working on a javascript network visualization right now, so let me see how that works out.  If it goes well, then I can translate what I did into a python script which can generate the data structure to then be visualized in javascript.

[2017-07-05 21:02] jywarren commented on #1502
Hi, all - i think a generated graph would be great, and is something we could put in the permanent code.

@ebarry i'm not saying this is decoration and not content, i'm more saying this would go out of date quickly, and also our goal is to store /no/ content in our codebase -- only infrastructure. So this is just a way to implement it -- does my proposed solution sound OK?

re ` this tag page stil

[2017-07-05 21:38] shelbyfirebaugh opened #1503 "project setup passenger issue"
hello! i'm brand new to both ruby and open source, so i've run into some problems downloading publiclab locally.

### What happened just before the problem occurred
i've gone through all the setup instructions, but when i run `passenger start` this error appears on localhost:3000:

[code]

i realized that i don't think i actually have passenger installed, so i am working on installing apache2 now.

[2017-07-05 21:39] shelbyfirebaugh commented on #1503
@jywarren here's where i'm at so far! i hope this helps

[2017-07-05 21:55] ryzokuken commented on #1503
@shelbyfirebaugh try `cp config/database.yml.sqlite.example config/database.yml`

[2017-07-05 22:00] ryzokuken commented on #1503
If you ran `bundle install --without mysql2 production`, passenger must be installed.

[2017-07-05 22:05] shelbyfirebaugh commented on #1503
okay, now localhost:3000 looks like this:

<img width="1299" alt="screen shot 2017-07-05 at 18 04 15" src="https://user-images.githubusercontent.com/14167695/27887006-85d4ee6a-61ac-11e7-9423-bed7212b44c1.png">

[2017-07-05 22:07] ryzokuken commented on #1503
Also do `cp db/schema.rb.example db/schema.rb` and run `rake db:setup` again. That should do the trick.

[2017-07-05 22:09] shelbyfirebaugh commented on #1503
that worked! thank you so much!

[2017-07-05 22:13] ryzokuken commented on #1503
@shelbyfirebaugh feel free to hop on our chatroom, using either matrix (https://riot.im/app/#/room/#publiclab:matrix.org), Gitter (https://riot.im/app/#/room/#publiclab:matrix.org) or IRC (chat.publiclab.org) (or #publiclab on OFTC from any IRC client). You are more likely to find help in there :smile:

[2017-07-05 22:29] #1503 closed

[2017-07-05 23:22] lilliankorinek opened #1504 "Hosting Locally-- ActiveSupport::Duration can't be coerced into Float"
### What happened just before the problem occurred

I followed the directions for installation found here: https://github.com/publiclab/plots2/.

1. An error occurred after running rake db:setup. The following was listed:

[code]
I suspect the issue arises from "LoadError: cannot load such file -- bundler/setup"?

2. After running bundle exec the issue continued. This time I ran into new errors:

[2017-07-05 23:48] shelbyfirebaugh commented on #1405
hello @jywarren ! if this issue is still unresolved i would be interested in taking it on so that i can get to know your github workflow

[2017-07-06 03:22] icarito commented on #1504
Hi,
I suspect the reason is that you have a system with a newer Ruby. Currently Plots runs with Ruby 2.1.2. Here are the [prerequisites](https://github.com/publiclab/plots2/wiki/Prerequisites). You may use rvm to install it.
Perhaps we should put a note about it in the main instructions. :confused:

[2017-07-06 05:45] ryzokuken commented on #1504
@lilliankorinek try prefixing all of your `rake` commands with `bundle exec`. If they still fail, post the new error log and hopefully we'll help you out. This is a common issue which happens with mismatched rake versions. I would strongly advise you to use tools like rvm and hardcode the versions of the tools you use to the ones we recommend, as unmatched versions may also cause problems later on

[2017-07-06 05:49] ryzokuken commented on #1405
Hi @shelbyfirebaugh!
It has been 20 days since @alanunruh took this up, so it would be safe to for you to pick this up as we haven't really heard from him since then. If it turns out that @alanunruh is infact working on it, we could help you look for another simple issue to get your hands on.

Needless to say, if you face any problems with solving it, please feel free to ask here, on the PR thread

[2017-07-06 10:50] alanunruh commented on #1405
Hi @shelbyfirebaugh, @ryzokuken & @jywarren!

I've completed this issue and it has already been merged https://github.com/publiclab/plots2/pull/1468.

[2017-07-06 12:27] ryzokuken commented on #1405
Thanks looks awesome, @alanunruh!

@shelbyfirebaugh it seems there was an oversight on our part and this issue was not closed. I am closing this now. Try looking for another first-timers-only issue at https://github.com/publiclab/plots2/issues?q=is%3Aopen+is%3Aissue+label%3Afirst-timers-only

[2017-07-06 12:27] #1405 closed

[2017-07-06 13:38] ebarry opened #1505 "Find place to put link to advanced formatting?"
Making a note that whenever i need to find our guide on formatting, i have to leave the page i'm on, go to publiclab.org/post, click "legacy editor" and click the link in the sidebar for advanced formatting.

That is a bit much.

Let's brainstorm other places we can put the link to https://publiclab.org/wiki/authoring-help#Advanced+formatting

[2017-07-06 14:43] lilliankorinek commented on #1504
@ryzokuken Thank you so much! I'll try it now and report back if the problems continue. Again, thank you so much for your help!

[2017-07-06 14:55] ebarry commented on #1505
Also, i'd like to update what our div class definitions are. Right now the color is indicated by word choices that is not widely in use on publiclab.org:
info = blue
success = green
alert = yellow
error = red

i think we should just have blue=blue etc.
--------------------------------
from https://publiclab.org/wiki/authoring-help#Advanced+formatting

####Alert Flags

<div class="alert">Learn more

[2017-07-06 15:04] ebarry opened #1506 "inline editor deletes content sometimes"
### What happened just before the problem occurred

I clicked the new edit button on https://publiclab.org/wiki/sandbox so that the page shifted to https://publiclab.org/wiki/sandbox?raw=true and most of the content disappeared. Removing the URL extension restores the regular page content.

![screenshot 2017-07-06 at 11 04 04 am](https://user-images.githubusercontent.com/161439/27917732-e59ba68e-6

[2017-07-06 15:05] shelbyfirebaugh commented on #1405
no problem, i'll check out more issues soon.

thank you!
shelby

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ujjwal Sharma <notifications@github.com>
Sent: Thursday, July 6, 2017 8:27:56 AM
To: publiclab/plots2
Cc: shelbyfirebaugh; Mention
Subject: Re: [publiclab/plots2] Fix "like" list URL on notes and wiki pages (#1405)

Thanks looks awesome, @alanunruh<http

[2017-07-06 15:09] jywarren opened #1507 "Merge tag_test.rb into /test/unit/tag_test.rb and ensure following == true"
This is a followup issue for @StlMaris123 --

I noticed that the unit test you created at

https://github.com/publiclab/plots2/blob/master/test/models/tag_test.rb

really should be copied into the existing unit test file:

https://github.com/publiclab/plots2/blob/master/test/unit/tag_test.rb

This should be pretty easy, since they're the same format, you can just move the tests into the end of the

[2017-07-06 15:25] jywarren commented on #1421
I made some updates to, and added detail to, Phase 2, and reviewed this with @ujithaperera -- as soon as #1481 and #1507 are complete, we can start on those!

[2017-07-06 15:30] jywarren commented on #1506
Thanks for reporting! I changed the title to reflect that the content was hidden, not deleted.

[2017-07-06 15:34] jywarren commented on #1506
And for reference, I believe that page is one of our most complex Frankenstein pages, and that something on it must be crashing the inline editor, which has to do some serious juggling to divide up a page into editable segments.

In theory the inline editor (based on https://github.com/publiclab/inline-markdown-editor) is supposed to "give up" and leave content untouched, but obviously this isn't

[2017-07-06 15:50] jywarren commented on #1505
Hi, Liz - these class names are Bootstrap styles, from
http://getbootstrap.com/css/ - it gets a little complicated to be forking
that project and modifying it, so I guess I'd like to suggest an inline
power tag (essentially a Markdown extension) for alert messages; something
like `[alert] Your message would go here [/alert]` and `[alert:green] Your
message would go here [/alert]`, instead of openi

[2017-07-06 20:33] ebarry commented on #1505
OK i deleted my 2nd comment, now this issue is only about where to put the link to Advanced Formatting so that it doesn't distract people who aren't writing in markdown, or worse -- html.

[2017-07-06 23:13] ryzokuken commented on #1215
@jywarren I recently noticed that the bower package now throws a warning:

[code]

Also, there's a big banner on bower's website that says the same. Maybe now would be a good time to start thinking about a possible upgrade path to yarn? Even npm5 is good enough, I feel.

[2017-07-06 23:20] jywarren commented on #1215
agreed!

On Thu, Jul 6, 2017 at 7:13 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-07-06 23:35] jywarren commented on #1504
http://rvm.io is pretty easy to install!

[2017-07-06 23:36] jywarren commented on #1503
Many many thanks to @ryzokuken and @shelbyfirebaugh for working through this! Fantastic to see that it was resolved.

[2017-07-06 23:39] jywarren commented on #1499
Solved!

[2017-07-06 23:39] #1499 closed

[2017-07-06 23:44] jywarren commented on #1501
Great, thank you very much!

I reproduced this and found the JavaScript console error:

[code]

This occured on editing anything below the line `Please add to this list!` -- and there are some odd `###` header issues there, so I wonder if that's related.

[2017-07-06 23:59] jywarren commented on #1501
The first subsection that does not seem editable is:

[code]

I changed that to:

[code]

and it still didn't work below that line.

OK, i see two errors. One is that the error message itself isn't being displayed. The second is that the replacement isn't happening properly. Looking into this.

[2017-07-07 00:00] jywarren commented on #1501
It should be replacing:

[code]

with

[code]

But isn't. Looking at https://github.com/publiclab/plots2/blob/master/app/controllers/wiki_controller.rb#L327-L343

[2017-07-07 00:02] jywarren commented on #1501
Ahhh, so this is the actual request:

[code]

[2017-07-07 00:04] jywarren commented on #1501
Here it is -- the before/after are being URL encoded differently: https://gist.github.com/jywarren/b10ec26bf6f491d26204f0812be6450e/revisions

![screenshot 2017-07-06 at 8 04 17 pm](https://user-images.githubusercontent.com/24359/27937594-5747a652-6286-11e7-820f-d5cf00af8bfb.png)

[2017-07-07 16:22] jywarren commented on #496
http://getbootstrap.com/components/#input-groups-buttons-dropdowns

[2017-07-07 16:28] jywarren commented on #496
https://publiclab.org/wiki/power-tags

One-word input:

[code]

[code]

[2017-07-08 07:56] scosbet commented on #1337
Good news:
I have figured out what the problem is and am pretty sure I've fixed it in [this PR](https://github.com/publiclab/plots2/pull/1512)

In short, the query used to retrieve the nodes isn't correct. During pagination the first thing it does is get the most recent 30 distinct node ids based on node_revision timestamp, however as there are multiple timestamps for each node the 'distinct' part

[2017-07-08 14:18] #1337 closed

[2017-07-08 20:05] ryzokuken commented on #1504
@lilliankorinek you never let us know what happened :sweat_smile:

[2017-07-09 12:37] bassdeveloper commented on #1506
@jywarren, I would like to take this up.

[2017-07-09 17:11] jywarren commented on #1506
Please give it a try! I think it might be a bit complex though...
interactions between the inline-markdown-editor project and the plots2
codebase.

On Jul 9, 2017 8:37 AM, "Rishabh Chakrabarti" <notifications@github.com>
wrote:

[2017-07-09 21:36] lilliankorinek commented on #1504
@ryzokuken The recommendations you offered helped solve it! Bundle Exec was the answer, but only after I ensured the prerequisites were downloaded.

Thank you for directing me to the prerequisite page. I was able to read through Jasmine and get a better understanding of what I needed. The website can be hosted locally on my machine! Thank you Thank you

[2017-07-09 21:49] jywarren opened #1515 "[priority] Non-latin characters blocking latest database migration"
This is being actively worked on by @jywarren and @icarito --

The latest database migration causes this error on the staging server:

[code]

See log here: http://jenkins.laboratoriopublico.org/job/Plots-Staging/lastFailedBuild/console

Attempted fix in https://github.com/publiclab/plots2/pull/1514 didn't work; that skipped records for which:

[code]

What else can we do to screen usernames like

[2017-07-09 21:50] jywarren commented on #1515
Actually pasting that string into my console freezes my console... so it's hard to test out manually...

[2017-07-09 21:56] jywarren commented on #1515
We could try:

[code]

http://rubular.com/r/mnDI7lS96P

That seems a bit weird but would probably work? (https://stackoverflow.com/questions/21272853/regex-detecting-all-japanese-characters-in-a-string-and-wrapping-the-substrings)

Or maybe:

[code]

via https://stackoverflow.com/questions/7200321/rails-detect-foreign-characters#7201988

[2017-07-09 22:27] jywarren commented on #1515
Yeah to revert back the db I did:

[code]

[2017-07-09 22:32] jywarren commented on #1515
Trying again in #1517

[2017-07-09 22:51] jywarren commented on #1515
and again in #1518. What misery!

[2017-07-09 23:38] jywarren commented on #1515
Hooray! Fixed in #1518!
http://tycho.media.mit.edu:8080/job/Plots-Staging/150/

Whew!

[2017-07-09 23:38] #1515 closed

[2017-07-10 04:11] bassdeveloper commented on #1506
I'll give it a shot.

[2017-07-10 05:01] icarito commented on #1515
@jywarren - I wasn't at the monitor as this evolved. Encoding issues are **hard**! So glad this was caught in staging and not in production!

[2017-07-10 05:04] icarito commented on #1515
And congratulations on solving it!

[2017-07-10 05:31] ryzokuken commented on #1504
@lilliankorinek that's awesome. I am closing this one then, if you face any further issues, please feel free to ask on the chatroom or open another issue.

[2017-07-10 05:32] #1504 closed

[2017-07-10 07:41] StlMaris123 commented on #1507
Are two fixtures okay for the test?

[2017-07-10 11:38] jywarren commented on #1507
Sure!

On Jul 10, 2017 3:41 AM, "StellaMaris Njage" <notifications@github.com>
wrote:

[2017-07-10 13:48] jywarren commented on #1515
:-)

On Jul 10, 2017 1:04 AM, "Sebastian Silva" <notifications@github.com> wrote:

[2017-07-10 22:25] jywarren commented on #1501
Chipping away at this, Stevie - thanks for your patience!

[2017-07-10 23:08] steviepubliclab commented on #1501
No worries! Thanks for working on it.
-Stevie

On Mon, Jul 10, 2017 at 5:25 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-07-11 18:51] ryzokuken opened #1521 "Add bio and token to seed data"
Currently, the bio for the seed data is set to `nil` instead of `''`.

@jywarren what went wrong?

![screenshot-2017-7-11 action controller_ exception caught](https://user-images.githubusercontent.com/13121330/28084975-fb694c80-6697-11e7-8e0f-6ff0eb6043d8.png)

[2017-07-11 21:58] jywarren commented on #1506
@bassdeveloper -- sounds like you couldn't reproduce this? @ebarry can you help @bassdeveloper identify what happened, or confirm if it's not an issue? Thanks!

[2017-07-11 22:04] jywarren commented on #1521
Hi, @ryzokuken - we had quite a bit of trouble with this one over the
weekend, and found that mysql did not like default values on blob/text
columns. I think that the easiest way to address this may be to replace
`@profile_user.bio` with `@profile_user.bio || ''`, unfortunately? Do you
have another suggestion?

On Tue, Jul 11, 2017 at 2:51 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-07-12 14:28] ebarry opened #1525 "/stats/subscription page is broken"
#There is an incorrect link at the top of https://publiclab.org/stats that needs updating.
The text "subscription stats" goes to a non-existent page (https://publiclab.org/stats/subscriptions) ~but it should link to https://publiclab.org/subscriptions~

![screen shot 2017-07-12 at 10 26 40 am](https://user-images.githubusercontent.com/161439/28122608-ad531e4a-66ec-11e7-91a3-8ad877182d5a.png)

Than

[2017-07-12 14:31] ebarry commented on #1525
Update: now i'm not sure. /subscriptions only shows personal subscriptions attached to the user account that's logged in. The page is not publicly visible, and it's not comprehensive for subscriptions across the entire site.

[2017-07-12 14:53] ebarry opened #1526 "add ability to subscribe to tags from publiclab.org/tags"
Currently, publiclab.org/tags shows number times a tag is in use.

![screen shot 2017-07-12 at 10 36 03 am](https://user-images.githubusercontent.com/161439/28123048-f3f8b4bc-66ed-11e7-9928-e2cae3e7bd5d.png)

Let's add two columns:
1.) for subscribing to a tag,
2.) for subscribing to answer questions about this tag. Code for this already exists on question pages, see: https://publiclab.org/questio

[2017-07-12 15:01] ebarry opened #1527 "delete search form from sidebar on publiclab.org/questions"
There seems to be a redundant text entry box in the sidebar of /questions.
Depending on what we figure out about this, i propose removing it.

See this video showing how I try to type water into both text boxes and am offered too many options:
<a href="https://publiclab.org/system/images/photos/000/021/102/original/Q_A-interface.mov"><i class="fa fa-file"></i> Q_A-interface.mov</a>

[2017-07-12 15:18] ryzokuken commented on #1521
@jywarren yes, that sounds pretty good, tbh. I will submit a PR with the change soon.

[2017-07-12 15:58] ebarry opened #1530 "add two new queries to publiclab.org/stats"
Add new query types to https://publiclab.org/stats

* comments
* answers
* questions

Keep in mind that the date range of these queries has to be adjustable by URL, for instance see https://publiclab.org/stats/range/10-05-2015/10-05-2016/

Solving this will require customizing the mysql queries.

Here's what @icarito has already written towards this:
* for comments: mysql> select count(*) from com

[2017-07-12 16:02] ebarry opened #1531 "Figure out why "map of maps" link stopped working"
Seems like https://mapknitter.org/map/map has stopped working.
It should generate a point map of all the maps in mapknitter.org
This display is known to be heavy, perhaps my computer cannot render it.

![mapofmaps](https://user-images.githubusercontent.com/161439/28127299-0610e1fe-66fa-11e7-8afa-551ac51cd3c8.png)

[2017-07-12 16:04] ebarry opened #1532 "/questions page not showing any questions when logged in"
I have this problem most of the time -- but not all the time -- when trying to use the publiclab.org/questions interface. Does this happen to anyone else?

<a href="https://publiclab.org/system/images/photos/000/021/103/original/Q_A_bug.mov"><i class="fa fa-file"></i> Q_A_bug.mov</a>

[2017-07-12 16:05] jywarren commented on #1531
Ah, sorry, but this is for the MapKnitter repository - can you move it over there? Thanks!

[2017-07-12 16:05] jywarren commented on #1530
Template is: https://github.com/publiclab/plots2/blob/ea5aa0f2ec08849107afec0fa546a270ae3d968d/app/views/stats/index.html.erb

Controller where queries can be added: https://github.com/publiclab/plots2/blob/ea5aa0f2ec08849107afec0fa546a270ae3d968d/app/controllers/stats_controller.rb#L26

Should be something like:

[code]

[2017-07-12 16:18] jywarren commented on #1501
Hi, Stevie, can you try it out at:

http://staging.laboratoriopublico.org/wiki/aerial-imagery-in-the-public-domain?raw=true

for several different sections? This ended up being multiple bugs intertangled, so I think we've solved some but not all, so feedback on specifically which sections work or don't would be helpful. Thanks!

[2017-07-12 16:40] icarito opened #1533 "Solr fallbacks issues"
### What happened just before the problem occurred
I set firewall from staging to solr indexer to DROP (as if Solr was accepting connections but not responding). This caused timeouts and Gateway errors 500 in the app.
Then I set the firewall to REJECT (as if the port was closed). This seems to work better,

### Relevant URLs
staging can simulate closed port by stopping the solr container `docker-c

[2017-07-12 18:09] ebarry commented on #1530
More info from the evaluation team, we'll be needing to answer these at the end of the year (every year):
* how many activities were replicated how many times? how many unique people replicated something?
* how many questions, how many answers, AND **how many unanswered questions (if any?)**

### Full text from the evaluation team:

Metric 2:  Increase in collaboration, novel engagement, and commu

[2017-07-12 18:23] jywarren commented on #1527
Just a note that the sidebar form does a distinct thing from the main
input, which is to display listings of questions by tag, rather than search
for individual questions matching the search term.

Not saying it's not reasonable to rework this interface, just clarifying
the current design.

Thanks!

On Jul 12, 2017 11:01 AM, "Liz Barry" <notifications@github.com> wrote:

[2017-07-12 18:35] steviepubliclab commented on #1501
Hi Jeff, Can we do this on the sandbox instead of a page we use?
-Stevie

On Wed, Jul 12, 2017 at 11:18 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-07-12 19:14] jywarren commented on #1501
This link is to a shadow site called "staging" so it won't affect the main
site! no worries :-)

On Wed, Jul 12, 2017 at 2:35 PM, steviepubliclab <notifications@github.com>
wrote:

[2017-07-13 05:28] ryzokuken opened #1535 "Change README to use Makefiles to simplify project setup"
I made a Makefile for the `development` environment in a PR (https://github.com/publiclab/plots2/commit/577086ac864ff937492b791fe4d858ff1dd7a418) and totally forgot. We should change the README to instruct newcomers to use the Make commands instead, as they will be simpler and more fool-proof (low probability of skipping something out).

[2017-07-13 12:19] vishaldeepak commented on #1451
Hi, I would like to contribute if its not being done by anyone else

[2017-07-13 13:21] steviepubliclab commented on #1501
Hi Jeff,
Thanks for clarifying. RIght now I can't get the inline editor button to
work at all. When I click it the page reloads, but it doesn't show any
inline editing options.

Best,
Stevie

On Wed, Jul 12, 2017 at 2:14 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-07-13 13:41] ananyo2012 commented on #1535
Are we still using a specific version of ruby? If not we can drop that part.

On 13-Jul-2017 10:58 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-07-13 13:46] ryzokuken commented on #1535
Some people have reported problems while using newer versions of ruby.

On Thu 13 Jul, 2017, 7:11 PM Ananyo Maiti, <notifications@github.com> wrote:

[2017-07-13 13:55] jywarren commented on #1501
Hi, Stevie, are you sure? Which button did you press? I just tried a couple on staging and they worked:

![screenshot_20170713-095251](https://user-images.githubusercontent.com/24359/28169780-5e51f76a-67b1-11e7-875e-1af96b57b722.png)

[2017-07-13 14:00] steviepubliclab commented on #1501
I clicked the green pencil 4 times. Haven't seen a pencil to edit after any
of the paragraphs:

[image: Inline image 2]

On Thu, Jul 13, 2017 at 8:55 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-07-13 14:09] jywarren commented on #1501
Hmm your image didn't attach... You went to this page?

  http://staging.laboratoriopublico.org/wiki/aerial-imagery-in-the-public-domain?raw=true

It should already be running the inline edito, no green pencil needed . You do need to hover your mouse over a paragraph to show the inline editor buttons.

Do you see the yellow alert box saying "this is the beta inline..."?

[2017-07-13 15:25] jywarren commented on #1451
Hi, i haven't seen a pull request from anyone yet, so I think it is
available! Happy to help anyone who's stuck on this!

On Jul 13, 2017 8:19 AM, "VISHAL DEEPAK" <notifications@github.com> wrote:

[2017-07-13 17:41] #1521 closed

[2017-07-14 10:53] vishaldeepak commented on #1451
sure, i'l get at it right away

[2017-07-15 13:30] ryzokuken opened #1540 "rvm install 2.1.2 fails with error 2"
Whenever I try to install ruby 2.1.2 on my Antergos installation, `rvm install 2.1.2` fails with the following error:

[code]

[2017-07-16 00:17] ryzokuken commented on #1540
@jywarren
[code]

I think this is now high time we migrated to something new.
This version fails to build on my system with an updated version of openssl anyway.

[2017-07-16 03:26] ananyo2012 commented on #1540
I guess the Ruby version should not be relevant with installation. We even removed the Ruby version line from Gemfile for this reason as per I remember.

[2017-07-16 19:44] jywarren commented on #1540
Yes, agreed; what version should we switch to, and also where is the reference to 2.1.2 in the codebase? Thanks!

[2017-07-16 21:40] ryzokuken commented on #1540
I don't really think there's an explicit reference to version 2.1.2 inside the codebase, however, we ask contributors on the README to install version 2.1.2 and this version is known to work perfectly for our use case. Maybe we're also using the same version in production?

Re:Migration, I think strongly that we should migrate to Rails 5 because it will be supported for a longer time and I think w

[2017-07-16 21:42] ryzokuken commented on #1540
That said, I did figure out a way to solve this and successfully installed Ruby 2.1.2 on my machine. The steps I used were:

[code]

closing this as the issue is finally solved.

@jywarren should I document this somewhere for people who face similar issues until we complete the migration?

[2017-07-16 21:42] #1540 closed

[2017-07-17 08:18] vishaldeepak commented on #1451
@jywarren Hi, I am a bit confused in what needs to be done.

_1.-Covert all user.name to user.username_
So basically just change to `user.username` in that file where it says `user.name`
_2.-add a def name method to alias /app/models/user.rb_
Are we looking to create a method `name` in `user.rb` that acts as alias to `attr_accessible :username`. In that case the solution would be a one liner `alia

[2017-07-18 00:14] jywarren opened #1543 "New user creation on staging"
### What happened just before the problem occurred

I went to http://staging.laboratoriopublico.org/signup and tried to create a new account.

I got an error, and the logs showed:

[code]

That's on this line:

`        @user.add_to_lists(['publiclaboratory'])`

So, i think it's just because it doesn't have a mailer set up. It goes to this line:

https://github.com/publiclab/plots2/blob/master/app

[2017-07-18 00:16] ryzokuken commented on #1543
@jywarren I think it's the same issue, we will probably need to look into it though. Mine showed some problem with the User model.

[2017-07-18 00:55] jywarren commented on #1543
I'm not convinced it is -- I just deployed to production, and made a new
user successfully! https://publiclab.org/profile/warren111

The bio saved properly. So I think we can close that PR.

But the token did not -- can you open a new issue? It just shows blank for
some reason, not sure why.

On Mon, Jul 17, 2017 at 8:16 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-07-18 00:56] ryzokuken commented on #1543
Okay, I will. Will also try making a user for plotsbot again on staging.

On Tue 18 Jul, 2017, 6:25 AM Jeffrey Warren, <notifications@github.com>
wrote:

[2017-07-18 00:58] jywarren commented on #1543
I actually think you won't be able to -- due to the email not being
connected up. But you can try on an old note on PublicLab.org where only
you and I are following -- look at the oldest notes in my history!

On Mon, Jul 17, 2017 at 8:56 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-07-18 00:58] ryzokuken commented on #1543
Okay.

On Tue 18 Jul, 2017, 6:28 AM Jeffrey Warren, <notifications@github.com>
wrote:

[2017-07-18 01:05] jywarren commented on #1451
Hi, @vishaldeepak -- i'm hoping some @publiclab/soc folks can help you as well, as I'm about to be traveling!

But but yes, you are correct. I haven't used `alias_attribute` but if that works, that's great!

[2017-07-18 01:50] ryzokuken commented on #1543
@jywarren One note though: I see this on staging while making a new user.

https://screenshots.firefox.com/YgXRFqn89tMF2k8r/staging.laboratoriopublico.org

[2017-07-18 01:51] ryzokuken commented on #1543
Meanwhile: making a user on the production website, will only post comments to super old thread after you agree to it.

[2017-07-18 02:15] jywarren commented on #1543
Great. Yes on staging we used the ReCaptcha test string. It still works but
it doesn't stop any bots.

On Jul 17, 2017 9:51 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-07-18 16:12] ujithaperera commented on #1421
hi @StlMaris123 , unfortunately we were unable to windup the session properly.
FYI, I can not find a method called `subscriptions` in `node` model. This is the reference I have used.
[https://github.com/publiclab/plots2/blob/master/app/models/node.rb](https://github.com/publiclab/plots2/blob/master/app/models/node.rb)

may be this update still in your local. Anyway I was talking about, `subscripti

[2017-07-18 17:01] steviepubliclab opened #1544 "Can't add the "tool" tag on a methods page"
### What happened just before the problem occurred
I was working on the new /wiki/microscope page and when I went to add the tag "tool" I got this error.

![screen shot 2017-07-18 at 11 53 23 am](https://user-images.githubusercontent.com/7490478/28329801-c59e4ab0-6bb0-11e7-9a50-682b9c189a1e.png)

[2017-07-18 17:02] steviepubliclab opened #1545 "Power tag change from "tool" to "method""
I was wondering if we could switch the tag that compiles materials on the /methods page to "method" instead of "tool"

www.publiclab.org/methods

[2017-07-18 17:41] lilliankorinek commented on #1451
@vishaldeepak How is the solution going?

[2017-07-18 22:08] jywarren commented on #1421
In Rails you can pass time as values such as `1.weeks` or `3.months` -- weird but true. And then you can make queries like in these methods:

https://github.com/publiclab/plots2/blob/master/app/controllers/stats_controller.rb#L14

However watch out because some models (from previous Drupal system) do not have native Rails-style timestamps. And the naming is a bit inconsistent. Check out the link a

[2017-07-18 23:35] jywarren commented on #1545
Can help more soon but the line of code the change is needed on is here!

https://github.com/publiclab/plots2/blob/master/app/controllers/wiki_controller.rb#L355

On Jul 18, 2017 1:03 PM, "steviepubliclab" <notifications@github.com> wrote:

[2017-07-19 14:20] vishaldeepak commented on #1451
il send it in a few hours

[2017-07-19 17:33] DoReMiFaSoLaTiDo commented on #1418
Hello:

Seems all the search endpoints [:all, :profiles, :notes, :questions, :tags] have been tested. Is there any new functionality in the pipeline or anything else to do here? Thanks

[2017-07-19 17:41] DoReMiFaSoLaTiDo commented on #171
@jywarren, please may I know if this is still open or @Sh1pley has delivered on the test and implementation?

[2017-07-20 18:02] StlMaris123 commented on #1421
Hello Jeff, Ujitha,
@Ujitha, Based on https://github.com/publiclab/
plots2/blob/master/app/models/node.rb, we are checking whether the
particular tag object has any subscriptions. This is the tag we are saving
on line:
https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L662

On Wed, Jul 19, 2017 at 1:08 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-07-21 03:15] ujithaperera commented on #1421
@StlMaris123 If your are getting correct results, your implementation process doesn't matter. I just wanted to let you know about following attribute.
Okay then. Hope you all done with phase 1. If you have any additional updates, you can push them also. then @jywarren and me can review them also.
Let's create a new PR for the phase 2. Then we can start our conversation in new PR.

[2017-07-24 23:15] shapironick opened #1549 "Profile bio information deleted?"
### What happened just before the problem occurred
 I went to my profile to get the URL to link it to another project and found that my profile had no bio. I had updated it a month or so ago.

### Relevant URLs
https://publiclab.org/profile/nshapiro
I also went to gretchen's and saw she didn't have anything either.

### PublicLab.org username
nshapiro
(to help reproduce the issue)

### Browser, ve

[2017-07-25 11:29] jywarren commented on #1549
@ryzokuken could this be related to the migration we ran? We can recover
all bios from backups, but it was the same commit as the token -- just a
note.

Nick, sorry, looks like there was an error in a recent update. I'm
traveling right now but will take a look asap.

On Jul 25, 2017 1:15 AM, "Nick Shapiro" <notifications@github.com> wrote:

What happened just before the problem occurred

I went to

[2017-07-25 14:40] shapironick commented on #1549
No worries on my end. Just wanted to let you know.  I actually kind of like the "you are what you post to pl" minimalism.

Sent on the move

[2017-07-25 15:21] ryzokuken commented on #1549
@jywarren I think so. There's also a persistent issue with the tokens I'm trying to solve. I'll try to crack this ASAP.

Thanks @shapironick for bringing this to our notice and for your patience.

[2017-07-25 17:37] icarito commented on #1549
This looks like it has something to do with the failing migration we had a couple of weeks ago, here's the [migration file](https://github.com/publiclab/plots2/blob/c00234b6357cc6e8d4d52e402955081d9ff55b25/db/migrate/20170704165711_add_user_bio_and_token.rb) as it ran in production and more information on the topic at https://github.com/publiclab/plots2/issues/1515

[2017-07-25 17:54] icarito commented on #1549
@ryzokuken it sounds related, yes. Note I've given you full access to staging, including Jenkins, ping me if you need some help with the container setup ;-)

[2017-07-25 17:59] ryzokuken commented on #1549
I would need help debugging this. The saddest part seems to be the fact that I'm sort-of stuck because of the token issue.

[2017-07-25 18:13] icarito commented on #1543
This, combined with #1549, makes me think that we made a wrong migration. Note that there was a change to the model to accomodate the migration https://github.com/publiclab/plots2/commit/fdf19ec637db27f8e6b76049e90ab15f59770e54 I'm not experienced with rails, but sounds to me like we need to recover data from backups from 16 days ago?

[2017-07-25 18:20] icarito commented on #1549
@ryzokuken kudos on asking for help. I'm terribly bad at asking when stuck.

If we'll need to recover the columns from a backup, then it could take a little while to recover the exact date and construct and sql incantation to update each record.

In the meantime, can I offer to help you add a token manually if it will facilitate your testing?

I think I did a db dump just before this migration, so

[2017-07-25 18:35] ryzokuken commented on #1549
@icarito please help me add a token to the plotsbot account manually for the time-being. I think adding the token manually now and going ahead with the project instead of waiting around for a global fix would be good fior my project as the second evaluation is here already. Meanwhile, we will also keep working on this, but "the show must go on".

Please either write in brief how I could setup a to

[2017-07-26 02:17] jywarren commented on #171
Hi, @Sh1pley - what do you think? good start over at https://github.com/publiclab/plots2/pull/1361 -- any chance to wrap it up, and can we help you out? Or could @DoReMiFaSoLaTiDo pick up where you left off?

Thanks!