[2020-09-30 03:57] sagarpreet-chadha commented on #8440
I heard that we can even ask them (hacktoberfest) to plan a tree instead of receiving swags, is that true?

I plan to work on number of issues mostly in PL.editor this week :smile:
Will try to open FTO’s as well labelling hactoberfest 👍

[2020-09-30 04:12] cesswairimu commented on #8440
@sagarpreet-chadha  that's true :tada:

[2020-09-30 06:35] Tlazypanda commented on #8426
Yes, I also think we should create some issues out of this :sweat_smile: for hacktoberfest mayve we can maintain the list of functions in which this has been implemented in the issue description

[2020-09-30 09:52] Tlazypanda opened #8443 "Add pagy for blog route"
**Please describe the desired behavior.**
Pagy is a pagination gem used for its peak performance over other pagination tools. As mentioned #8426  we have been trying to migrate our codebase from will_paginate to pagy gem and would love your help with it! :tada:

Here is how you may implement pagy for this: -

- Select action `blog` under `home_controller`
- Since here pagination is already impleme

[2020-09-30 09:53] Tlazypanda commented on #8443
Hey @jywarren @cesswairimu I was hoping we can use this as a template for creating hacktoberfest pagy issues but I think it might not be that clear :sweat_smile: can you check it out once? Thanks :v:

[2020-09-30 10:00] cesswairimu commented on #8443
I think it is clear enough, plus we could customize each issue based on what we are changing

[2020-09-30 10:02] Tlazypanda commented on #8443
Ohh yes that's what I had in mind too :sweat_smile: so should I add the hacktoberfest label to it then?

[2020-09-30 10:45] cesswairimu commented on #8443
yeah looks good

[2020-09-30 11:47] Tlazypanda commented on #8443
Hey @avats-dev  maybe we can use this as a template to create more issues for hacktoberfest if you are interested? Thanks :v:

[2020-09-30 15:13] 91097 commented on #6435
I am also interested I want to claim. how can I claim it can anyone help me please.

[2020-09-30 15:32] cesswairimu commented on #6435
Hi @91097, this issue has already been solved. I am adding your name here #7683  and we will ping you when we get a first-timer-issue for you. Thanks

[2020-09-30 18:25] cesswairimu commented on #7684
Thanks @avats-dev,  seems like the PR reference the same PR and not an issue, sometimes its easy to miss that esp if you already know what the issue fixes. Closing this. Thanks

[2020-09-30 18:25] #7684 closed

[2020-09-30 18:32] #8277 closed

[2020-09-30 18:33] cesswairimu commented on #8278
solved in #8372 Thanks again @renugasaraswathy :1st_place_medal:

[2020-09-30 18:33] #8278 closed

[2020-09-30 18:37] cesswairimu commented on #7558
Yeah the file has the changes. @Medlineme4 l believe you did a fto but feel free ping me if you need one. Thanks all. closing this

[2020-09-30 18:37] #7558 closed

[2020-10-01 01:22] avats-dev commented on #8443
Sure, looks good. :+1:

[2020-10-01 01:38] tyler-wel commented on #8443
@Tlazypanda
Heya! I've been able to work with pagy a bit and may be able to take a shot at helping migrate. Cool if I could get assigned?

[2020-10-01 02:10] avats-dev opened #8444 "Add pagy for questions route"
**Please describe the desired behavior.**

Pagy is a pagination gem used for its peak performance over other pagination tools. As mentioned #8426 we have been trying to migrate our codebase from will_paginate to pagy gem and would love your help with it! tada

Here is how you may implement pagy for a single action: -

 * Select action `index` under [`questions_controller`](https://github.com/publi

[2020-10-01 02:56] tyler-wel commented on #8444
@avats-dev
Hey avats! I also commented on the blog routes issue, but I would love to take a shot at implementing this. I've worked with pagy at least once, and just got the repo setup locally 👍  #hacktoberfest

[2020-10-01 03:19] avats-dev commented on #8444
Hey @tyler-wel , you're welcome to help us migrate to pagy. You are free to open a PR to resolve this or you can open similar issues for routes that still don't have migrated.

Thanks 👍

[2020-10-01 04:26] Tlazypanda commented on #8443
Hey @tyler-wel , sure go ahead! Happy Hacktoberfest 🎉

[2020-10-01 04:48] tyler-wel commented on #8443
@Tlazypanda
I'm actually having trouble finding out where the blog action is actually being hit 🤔 ....
Nothing in the routes file points to `home#blog` and using some puts statement nothing gets logged.
Going to `localhost:3000/blog` is routing to `tag#blog` as far as I can tell.

Adding the `pagy()` bit to the `#blog` actions inside the `tags` controller seems to be the correct controller / route

[2020-10-01 05:51] Tlazypanda commented on #8443
Hey @tyler-wel Ohh yes that seems correct! :sweat_smile: must have got the wrong controller in a hurry. Please go ahead with this: :100:

[2020-10-01 16:24] urvashigupta7 commented on #7896
Hi, I would like to work on this issue 😊

[2020-10-01 18:28] jywarren commented on #7896
Hi, we'd love help with this -- but it may be a bit tangled and difficult to figure out. We do have comment error handling for asynchronous comment submissions, but it may require some digging into code at /app/assets/javascript/ to find where that code is and a look at the Rails controller at /app/controllers/comments_controller.rb (i think?) to see why it's not sending back an error that the cli

[2020-10-01 20:30] dannyflatiron commented on #7728
Hello, is this issue still available? I would like to contribute

[2020-10-01 20:59] chanukya-y commented on #6923
hi @jywarren , i would like to claim this issue

[2020-10-02 01:30] tyler-wel commented on #7530
So I take it progress hasn't been made? If no one is currently looking at it, I can try and take a look 😄

[2020-10-02 01:40] avats-dev commented on #7530
That would be awesome, thanks for stepping up on this. :rocket:

[2020-10-02 07:09] urvashigupta7 commented on #7896
Hi, what I can see is when we create a new comment successfully it responds with this javascript [file](https://github.com/publiclab/plots2/blob/main/app/views/comments/create.js.erb) and then notyNotification displays notification that comment has been successfully added. However, when we send empty body it falls inside rescue [portion](https://github.com/publiclab/plots2/blob/main/app/controller

[2020-10-02 07:18] cesswairimu opened #8448 "Welcome Outreachy Aspirants Winter 2020"
# :tada: Welcome Outreachy applicants for Winter program :tada:

We are so excited to have you here :heart: . This is a discussion issue for all of you. Please say hello in a comment below, so we get to know you. Ask any questions that you might have here and we will be sure to answer them as soon as possible. If you would like to checkout our large community you can find us on gitter https://gitt

[2020-10-02 16:18] #8171 closed

[2020-10-02 19:52] #8443 closed

[2020-10-02 20:03] #8444 closed

[2020-10-02 20:28] #7618 closed

[2020-10-02 20:59] bodhisha commented on #8316
Hey, Can I work on this? Or is anyone currently on this? @arteevraina

[2020-10-03 01:47] arteevraina commented on #8316
Yes, you can work if you are able to reproduce it @bodhisha

[2020-10-03 02:32] tyler-wel commented on #7530
Note on the issue

https://publiclab.org/questions/
Questions are displayed correctly with one pagination bar

https://publiclab.org/questions/tag/camera
Displays two pagination bars

Seems to be a problem with the tags routing

[2020-10-03 02:52] tyler-wel commented on #7530
Both `_questions.html` and `_answered.html` are rendering their `@pagy` pagination.

`_tab_content` has the below `users/answered` partial rendering even though the tab is not active. Also, it seems as if `@answered_questions` exists at this point, but there is no mention of `@answered_questions` inside of `_answered.html`
[code]

@jywarren I see you did the initial install of pagy and I was wonde

[2020-10-03 07:58] oedbro commented on #5306
Can this issue be closed? When looking at the code it seems like this has been solved.

[2020-10-03 08:01] Hassanelashram commented on #4504
@gauravano Seems like this is still open, i'll make a PR now with the alert changes if that's fine?

[2020-10-03 08:18] Hassanelashram commented on #4504
@gauravano -> https://github.com/publiclab/plots2/pull/8452

[2020-10-03 08:23] oedbro commented on #6340
I was going to create a new issue for this, but got a bunch of issues with the .rubocop_shopify_styleguide.yml. Can I begin by fixing those issues?

[2020-10-03 08:28] Ritesh055 commented on #7728
Hey, is this issue available?

[2020-10-03 14:25] nicoleiocana commented on #7728
@dannyflatiron Hi. I apologize for the late reply. Yes, this issue is still open. It is all yours! Best of luck.

[2020-10-03 19:38] gauravano commented on #5306
Thanks for highlighting @oedbro. Yes, it's already solved. Closing the issue :)

[2020-10-03 19:38] #5306 closed

[2020-10-03 19:49] gauravano commented on #7896
Nice catch @urvashigupta7. I can see @PrakharSharma41 also claimed this issue. Let's check with them if they have started working on this one? Maybe you both can collaborate to solve this issue. Thanks!!

[2020-10-03 19:50] gauravano commented on #6923
Go ahead @chanukya-y :)

[2020-10-03 19:56] gauravano commented on #8431
That's weird. Let's ignore the alignment issue then. Maybe something wrong with my browser :P. @avats-dev if you want you can place all 3 buttons in a single row. I think, separate row for each button would not look good and take more space too. What do you think @ebarry @cesswairimu?

[2020-10-04 01:53] urvashigupta7 commented on #7896
Thanks @gauravano 😊.  @PrakharSharma41 Are you still working on this?

[2020-10-04 07:46] theBstar commented on #8431
I can see the issue occurring on Chrome 85. I can raise the fix for this. Can you please assign the issue to me?

[2020-10-04 08:18] avats-dev commented on #8431
@theBstar you're good to go. :+1:  Can you also shift them all in a single row and check if it better than this? Thanks.

[2020-10-04 08:54] cesswairimu commented on #8431
Yeah I agree @gauravano if they could fit on a single row that would be super. @theBstar I have assigned you the issue. Thanks

[2020-10-04 09:34] ishaanmehta4 commented on #6851
Is this issue open for contribution?
I am new to open source contributions, and would want to work on it for hacktoberfest.

[2020-10-05 04:17] renugasaraswathy opened #8453 "Add followers and following page links in user profile page"
There are pages for displaying list of user's followers and list of people whom the user is following.

Followers URL - https://publiclab.org/people/{username}/followers (https://publiclab.org/people/liz/followers)
Following URL - https://publiclab.org/people/{username}/following (https://publiclab.org/people/liz/following)

Please raise a pull request to add links to these pages in the user's pro

[2020-10-05 04:25] BatoolMM commented on #8453
Would you mind if I give it try? Can you assign it to me, please?

[2020-10-05 06:52] SyahirahWanMin commented on #8453
Hi, please assign this task to me as well

[2020-10-05 08:16] renugasaraswathy commented on #8453
Hi @cesswairimu, could you help in assigning the issue?

Thanks

[2020-10-05 08:27] cesswairimu commented on #8453
sure thing, done. @SyahirahWanMin  @BatoolMM already claimed this issue. Thanks

[2020-10-05 12:21] renugasaraswathy commented on #4406
Hi @gauravano @geekychasser,  I would like to work on this issue. Could you assign it to me? Thanks.

[2020-10-05 13:28] urvashigupta7 commented on #7896
Hi @gauravano , @jywarren. Should I open a pull request as Prakhar hasn't replied yet?

[2020-10-05 14:39] urvashigupta7 commented on #7840
Hi, I would like to work on this :)

[2020-10-05 16:42] cesswairimu commented on #7896
@urvashigupta7 go ahead. Thanks

[2020-10-05 18:36] gauravano commented on #7840
Hi @urvashigupta7, you can work on it. Also, saw your comment here - https://github.com/publiclab/plots2/issues/7896#issuecomment-703750493.

As you have a good understanding of the project, I would suggest solving #7896 and converting this one into an FTO issue and welcome/help whoever claims the issue. What do you think? Although, you're very welcome to solve both too :)

Thanks!

[2020-10-05 18:40] gauravano commented on #4406
Hi @renugasaraswathy, go ahead. Thanks!

[2020-10-06 05:24] ananyaarun commented on #6851
Sure @ishaanmehta4 , Go ahead !

[2020-10-06 09:43] urvashigupta7 commented on #7840
Sure @gauravano. Will do as you suggested :)

[2020-10-06 11:03] Tlazypanda opened #8459 "Search tags returns improper tag links"
### Please describe the problem (or idea)
While working on pagination for search#tags in #8458 noticed that the search query yields improper and weird tags.

https://publiclab.org/search/tags/one

![image](https://user-images.githubusercontent.com/24359/95669987-36d4b480-0b54-11eb-9e7e-9e21246b6e25.png)

[2020-10-06 14:29] ebarry commented on #8459
Wow. How did you get this result @Tlazypanda ? What did you type in, and where, and what did you click to arrive at this page?

[2020-10-06 14:45] cesswairimu opened #8460 "Reverting signup validation PR related to failing test"
(update from @jywarren) -- So @cesswairimu noted that this seems related to https://github.com/publiclab/plots2/pull/7768/ and we are looking to revert https://github.com/publiclab/plots2/pull/7768/ now:

****

This test is failing in the last few PRs. did we change this url or what is happening?
![Screenshot from 2020-10-06 17-38-20](https://user-images.githubusercontent.com/17081074/95216742-1bd

[2020-10-06 14:55] cesswairimu commented on #8460
Found that the test was added on https://github.com/publiclab/plots2/pull/7768 checking locally why the url is not working

[2020-10-06 15:25] jywarren commented on #7621
Yes, they do change. They are not displayed by default but anyone doing this will be able to open them to check. I think it's good enough, thanks all!!!

[2020-10-06 15:25] #7621 closed

[2020-10-06 15:29] jywarren commented on #8460
Wow Cess, one step ahead of me! Just found this in #8383. Amazing!

[2020-10-06 15:35] jywarren commented on #8225
Hi @avats-dev can you open up a PR with your code and we can try it out in GitPod to see what's up? Thanks!!

[2020-10-06 15:43] jywarren commented on #7896
Yay, thanks all! Good to see you @gauravano !!

[2020-10-06 15:55] jywarren commented on #8380
Hi all! For reference, here is a snap of the current PDF styling (top of first page) on the left, vs. the previous one which is a little broken but has fonts that are a little closer to the online version of the page:

![image](https://user-images.githubusercontent.com/24359/95225853-40fc5900-07ca-11eb-95e2-372e74633bb8.png)

I think the current one is looking great! Perhaps a little more vertical

[2020-10-06 18:01] namangupta01 commented on #8356
Yeah sure! I will work on it.

[2020-10-06 18:01] cesswairimu commented on #8460
So there is a bug, the signup page if you do not check the captcha or check the animals checkbox it throws the spam detection error but actually the account is already created. That is why the test is failing. I think something broke. I am thinking we revert  that commit so that we unblock everyone else as we figure out what's happening. what do you think @jywarren ?
Looping in @shreyaa-s too
![si

[2020-10-06 18:22] cesswairimu opened #8463 "Signup page captcha validation bug"
So there is a bug, the signup page if you do not check the captcha or check the animals checkbox it throws the spam detection error but actually the account is already created. That is why the test is failing. I think something broke
Looping in @shreyaa-s too
![sign-up](https://user-images.githubusercontent.com/17081074/95241721-d8879900-0816-11eb-91ac-9c93411ed134.gif)

_Originally posted by @ces

[2020-10-06 18:40] ebarry commented on #8380
+1 those ideas would be great @jywarren: change text to Junction Light, add more vertical line spacing, and removing the black outlines around images.

As far as the information shown at the top, i tend to like to keep the evidence of "collaborative editing" even when using the content as simple printed handouts. I would vote to keep the "Last edited by" and "## revisions" but maybe lay them out m

[2020-10-06 18:41] jywarren commented on #8356
omg that would be great! Thanks @namangupta01 and so glad to see you! Perhaps we can add a small system test assertion for that to protect it as well.

[2020-10-06 18:53] jywarren commented on #8460
Ah i see. Yes, ok, let's revert https://github.com/publiclab/plots2/pull/7768 and resolve related bugs and circle back to re-examine. Thank you @cesswairimu and ccing @shreyaa-sharmaa (shreya's new handle) in relation -- no worries, this is good to have caught! Note the tests we changed in #8461 as a result, we'd want to revert those back too...

[2020-10-06 18:59] jywarren commented on #8460
Ah, sorry, i see Cess created #8463 -- moving there now.

[2020-10-06 18:59] #8460 closed

[2020-10-06 18:59] jywarren commented on #8463
Strange, I don't see any changes to server-side validation in https://github.com/publiclab/plots2/pull/7768/files, and I'm wondering if that was actually the issue that caused this? Let me walk through the validation steps on the server side for failing captcha, one step at a time.

[2020-10-06 19:00] jywarren commented on #8463
My orig response was:

However maybe this error existed earlier somehow?

[2020-10-06 19:04] cesswairimu commented on #8460
cool,  creating the PRs for the reverts. thanks

[2020-10-06 19:04] shreyaa-sharmaa commented on #8463
The ID creating even when spam test was not passed? This existed before too. I remember having a conversation about this with `@VladimirMikulic`. I'll try finding that Github thread for reference.

[2020-10-06 19:09] shreyaa-sharmaa commented on #8463
https://github.com/publiclab/plots2/issues/7618#issuecomment-602606103 here's the comment that I remembered.
So sorry for the trouble that PR caused. It worked fine when I added it. I'll see what I missed.

[2020-10-06 19:13] jywarren commented on #8463
Thanks @shreyaa-sharmaa and no worries -- even if it did start with that PR i don't think you're at fault, there's something on the server side validations happening and I don't think you touched that! We're also coordinating in the chatroom too just FYI - https://gitter.im/publiclab/publiclab. THANK YOU for looking in here and don't stress. Also isn't it way late there? Get some sleep, no worries

[2020-10-06 19:18] jywarren commented on #8463
Also noting that /signup shows all validations red on initial load:

![image](https://user-images.githubusercontent.com/24359/95249688-140a6f00-07e7-11eb-9c6c-d91c918eccec.png)

Which is also not ideal but probably unrelated... i'll spin that out into a new issue just after this!

[2020-10-06 19:24] jywarren commented on #8463
Just noting that indeed #7768 was the first instance of the system test failure, /after/ merging, so it may be related to auto-merging of the files -- https://travis-ci.com/github/publiclab/plots2/jobs/394444026#L2486

[2020-10-06 19:47] jywarren commented on #8463
Just one change to `/app/views/users/_create_form.html.erb` on June 1st -- https://github.com/publiclab/plots2/commits/main/app/views/users/_create_form.html.erb

[2020-10-06 19:54] shreyaa-sharmaa commented on #8463
It is related. Can be traced to this one line https://github.com/publiclab/plots2/blob/0c3dc208cf5017bad581c356fbcf00f482a5a75e/app/assets/javascripts/validation.js#L49 . Adding a condition for validating form on page reload only if all fields are filled should do the trick.

[2020-10-06 19:55] jywarren commented on #8463
ah ok thank you @shreyaa-sharmaa -- will spin that out as its own issue. Confirming what @cesswairimu noted too though wiht more docs, we should write a system test for this:

![image](https://user-images.githubusercontent.com/24359/95253428-584c3e00-07ec-11eb-893f-a6c6e1c206de.png)

the spam validation doesn't stop the user from being created:

![image](https://user-images.githubusercontent.com/2

[2020-10-06 19:57] shreyaa-sharmaa commented on #8463
@jywarren @cesswairimu how can I help?
The system tests passed locally and I was hoping they would give some idea where to start looking for the error.

[2020-10-06 19:59] jywarren commented on #8463
Hi Shreyaa - could you try getting a version of the system test running on the current code, and checking against that error Cess found - that submitting the signup form but failing the spam validation still creates a user?

https://github.com/publiclab/plots2/blob/8c9c39da0152d5a965e7eb77697c056ca3d45111/test/system/signup_form_test.rb has your orig system test code. i'm tsting this manually now

[2020-10-06 20:04] jywarren commented on #8463
i'm checking if we have a corresponding integration test
aha, we actually only test the "leave it empty" box, not the spam detection itself... https://github.com/publiclab/plots2/blob/main/test/integration/signup_flow_test.rb

[2020-10-06 20:14] jywarren commented on #8463
https://github.com/publiclab/plots2/blob/cf434b421a8d40c4cc9376a26ced7c83f5e89381/app/controllers/users_controller.rb#L18-L19 is the issue, i think.

User creation does not fail if you fail spamaway -- it's not part of user validation, but is instead part of controller logic. Yes!!!

This issue predates. so we need to:

1. patch this in the controller
2. test against it with functional tests like

[2020-10-06 20:15] shreyaa-sharmaa commented on #8463
I'm not sure if it was a mistake on my end or the url changed, but entering a taken email in the signup modal redirects to `/register` and I had mentioned `/signup`. It's probably the former.

[2020-10-06 20:15] shreyaa-sharmaa commented on #8463
Yeah sure. Should I define another system test?

[2020-10-06 20:16] shreyaa-sharmaa commented on #8463
Looks like I'm a little slow on catching up. Is there anything else I'm missing out on?

[2020-10-06 20:17] jywarren commented on #8463
I believe it's because the results of a validation failure are on a different action which lives under the `/register` route, even though it actually uses the same template as `/signup` -- so hopefully unrelated!

Yeah that would be great -- maybe a system test asserting no change in count of users... see how I did that in the integration test I wrote?

https://github.com/publiclab/plots2/pull/846

[2020-10-06 20:18] jywarren commented on #8463
I don't think so, thanks @shreyaa-sharmaa !!!

Then, we can re-instantiate your original client-side validation code, and ensure that the new tests aren't affected. It's still not clear to me exactly what broke, to be honest... but as long as we test existing functionality thoroughly and don't change those tests, re-adding your validation changes should be perfectly fine!

[2020-10-06 20:21] jywarren commented on #8463
What's interesting about the test @cesswairimu  changed is that it really should be `/register`, right? Is this a timing issue, and possibly even unrelated to the spam validation issue we found?

https://github.com/publiclab/plots2/commit/367ef5002ae9da0143dd03945b2a08bcfba4b06b#diff-08ffcd32abee9382e25ec89ed0109c5eR19

Here's an idea - in system tests, if you add a CSS selector assertion, it will

[2020-10-06 20:27] #7896 closed

[2020-10-06 20:30] cesswairimu commented on #8463
Yeah it's redirecting to /register but it's a post URL so maybe we need to also do a proper redirection after failure

[2020-10-06 20:30] shreyaa-sharmaa commented on #8463
So if I'm understanding it right, I register a user, leave the spam blank and check if the user count is created?

[2020-10-06 20:35] jywarren commented on #8463
That's right, @shreyaa-sharmaa !

Also, awesome, this integration test just caught that: https://github.com/publiclab/plots2/pull/8467/files

Filed the fix too. So any test added to this should not trigger it.

@shreyaa-sharmaa i wonder if you just want to re-add your own test with:

1. the `User.count` assertion
2. nothing that depends on the new code you'd added in https://github.com/publiclab/p

[2020-10-06 20:36] jywarren commented on #8463
https://github.com/publiclab/plots2/blob/8c9c39da0152d5a965e7eb77697c056ca3d45111/test/system/signup_form_test.rb#L8-L29

[2020-10-06 20:37] jywarren commented on #8463
OK, will merge https://github.com/publiclab/plots2/pull/8467 once it passes and then leave this page open with the follow-ups of re-adding @shreyaa-sharmaa's code!

[2020-10-06 20:37] jywarren commented on #8463
Thanks, all!

[2020-10-06 20:42] shreyaa-sharmaa commented on #8463
I'll add this test before heading off and follow back with the fixes tomorrow.

[2020-10-06 21:17] shreyaa-sharmaa commented on #8463
Linking both here https://github.com/publiclab/plots2/pull/8469 https://github.com/publiclab/plots2/pull/8470

[2020-10-06 21:46] jywarren commented on #8244
Sorry, this was completed long ago and is live! Closing!

[2020-10-06 21:46] #8244 closed

[2020-10-06 21:47] #8077 closed

[2020-10-06 21:49] jywarren commented on #8282
Hmm, i like the docker idea, but perhaps this should be spun out into its own issue? Thank you!

Regarding the fork issue you highlighted, should we say "fork this first and then go to this Gitpod URL" with something like https://gitpod.io/#https://github.com/YOURUSERNAME/plots2/ ?

[2020-10-06 22:09] #8270 closed

[2020-10-06 22:17] jywarren commented on #8125
Hi all, I clarified this [in the LEL issue](https://github.com/publiclab/leaflet-environmental-layers/issues/393), as `TRI layer data source (EPA server) refusing connection with a CORS policy; actually overloaded or offline` -- which is unfortunately probably just due to the current EPA being a hellhole.

[2020-10-06 22:19] jywarren commented on #8325
Wondering if @SidharthBansal is able to try this out to confirm? Thanks for reporting -- this can be a tough one to maintain as it's hard to run tests on an offsite service integration like Twitter's OAuth. Hope we can figure it out!

[2020-10-06 22:20] jywarren commented on #8325
@Anurag2012 if you are still available, would you be able to try creating an account on PublicLab.org using your twitter account?

[2020-10-06 22:40] jywarren opened #8470 "Improved styling of posts in map popups on /map pages"
The map popups on https://publiclab.org/map look like this right now:

![image](https://user-images.githubusercontent.com/24359/95267553-8721de80-0803-11eb-957f-aa174fba585a.png)

I think we can refine the popups that are shown on maps. The best thing would be if they appeared as they do on pages like this: https://publiclab.org/tag/water-quality -- these use the `.card` style from Bootstrap -- ht

[2020-10-06 22:42] jywarren commented on #6993
I believe this is all complete! Closing!!!

[2020-10-06 22:42] #6993 closed

[2020-10-06 22:43] jywarren commented on #6801
Closing this as I believe these are all complete! Thanks, all!

[2020-10-06 22:43] #6801 closed

[2020-10-06 22:44] jywarren commented on #6307
Completed and closing!!!

[2020-10-06 22:44] #6307 closed

[2020-10-06 22:46] jywarren commented on #7062
Closing as we've solved emoji database issues!

[2020-10-06 22:46] #7062 closed

[2020-10-06 22:46] jywarren commented on #7469
Closing as we've solved emoji database issues now!!!

[2020-10-06 22:46] #7469 closed

[2020-10-06 22:52] avats-dev commented on #8282
Yeah @jywarren that would be better and we can also add the alternative to just use an add-on in case you want it to be much easier.
Also, we should have another separate issue for the docker one and maybe this [dockerfile](https://github.com/publiclab/plots2/blob/main/Dockerfile) is valid and would help, but I'm not sure.

[2020-10-06 23:07] jywarren commented on #4094
OK, dealing with checkboxes! And, noting we have to remove a ton of old Answers code here:

https://github.com/publiclab/plots2/search?q=answer

Finally, i believe the migration of old answers to comments has preserved the stats. However, [this display](https://publiclab.org/stats) will have to be modified to count comments, rather than answers:

![Screen Shot 2020-10-06 at 7 06 37 PM](https://use

[2020-10-06 23:07] avats-dev commented on #8225
sure!

[2020-10-06 23:11] jywarren commented on #8463
Both completed! Now, just to re-add the original JS validation code and ensure it does not show an error on initial pageload.

[2020-10-06 23:26] jywarren commented on #3484
Closing as this now works! https://publiclab.org/tag/event:*

[2020-10-06 23:26] #3484 closed

[2020-10-06 23:28] jywarren commented on #3248
This is an iteration of https://github.com/publiclab/plots2/issues/7334 which is now solved!

[2020-10-06 23:28] jywarren commented on #6825
This is an iteration of #7334 which is now solved!

[2020-10-07 02:06] renugasaraswathy commented on #4406
Hi @gauravano @publiclab/reviewers, just realised that the label "hac**koct**oberfest" used in this repo is incorrect. As per [Hacktober's update](https://hacktoberfest.digitalocean.com/hacktoberfest-update), the label is "hacktoberfest".

Thanks

[2020-10-07 02:46] jywarren commented on #6825
Ah, i'm seeing only 2 now but 3 are listed in the tab; reopening for a closer look - could be a "ghost node" or something... an irregular record of some kind, like in https://github.com/publiclab/plots2/issues/7334#issuecomment-662115491

![Screen Shot 2020-10-06 at 10 45 22 PM](https://user-images.githubusercontent.com/24359/95281619-a29de100-0825-11eb-9f07-104e22741059.png)

[2020-10-07 02:48] jywarren commented on #3248
Hmm, not looking right on live site, reopening... could it be we need to update `tag.run_count` as in https://github.com/publiclab/plots2/issues/8244#issuecomment-668856800?

[2020-10-07 02:52] jywarren commented on #6825
Oh wait, the live site didn't pull the latest changes. Need to recheck the current commit on the live site and this could indeed be solved...

[2020-10-07 02:52] jywarren commented on #3248
Oh wait, the live site didn't pull the latest changes. Need to recheck the current commit on the live site and this could indeed be solved...

[2020-10-07 04:18] jywarren commented on #6825
OK, it published now and it worked! 4 and 4!

[2020-10-07 04:18] #6825 closed

[2020-10-07 04:19] jywarren commented on #3248
All good now it's properly published!

[2020-10-07 04:19] #3248 closed

[2020-10-07 06:05] Tlazypanda commented on #8459
Hey @ebarry under the /search/tags route for searching tags with a query term so the query I searched for was one :sweat_smile:

[2020-10-07 09:34] Sagarpreet opened #8475 "Ensure formatting toolbars on comments appear in all variations"
Quoting @jywarren from https://github.com/publiclab/PublicLab.Editor/issues/490#issuecomment-668635935

The other issue is that when submitting a comment, new comment forms are inserted with AJAX, and they may or may not have the toolbar. What we're looking for is for all comment boxes to have the toolbar, consistently. Let's move this all into its own issue and we can plan it out?

## TODO:

Make

[2020-10-07 13:52] cesswairimu commented on #8463
awesome :tada:  thanks @jywarren . Sorry @shreyaa-s I reverted your changes while it was an existing bug. Thanks to your tests we caught it :+1:

[2020-10-07 14:04] ebarry commented on #231
This is a stretch goal that is still relevant as there are unmet needs for presenting and browsing Public Lab data. Acknowledging that while this is a large project for which the organization would need to seek funding, and there might not be any activity soon, please do not close.

[2020-10-07 14:05] cesswairimu commented on #8057
Hey @Tlazypanda  how are you doing?  Did you want to move the documentation to the PL website or maybe make a markdown for it on the repo. Whats do you think? Thanks

[2020-10-07 14:09] ebarry commented on #260
While this is an old issue, the concepts being discussed here are still active and i do not want to bury this record. Removing 'stale' label. Thanks!

[2020-10-07 14:12] ebarry commented on #4880
Hi all, this has been marked as 'stale', but perhaps with this diagram we can consider this 'solved' and worthy of closing on that account? @gauravano what do you think?

[2020-10-07 14:14] cesswairimu commented on #8194
@Tlazypanda I think we finished replacing all of these. Closing this. Thanks all

[2020-10-07 14:14] #8194 closed

[2020-10-07 14:18] ebarry commented on #6501
Ok this is an active idea, and we have @jywarren and @sashadev-sky working on defining Feature Suites this fall and using them for prioritization and project scoping so we need to keep this open and further promote these maintainer groups.

[2020-10-07 14:25] cesswairimu commented on #8019
This is a great. It would be great to have it documented somewhere. Maybe on the website or the soc onboarding doc. What do think @jywarren @sagarpreet-chadha

[2020-10-07 14:28] cesswairimu commented on #7683
@91097 here is a fto for you https://github.com/publiclab/plots2/issues/6551

[2020-10-07 14:35] cesswairimu commented on #7667
I will close now since its not a bug. Thanks all

[2020-10-07 14:35] #7667 closed

[2020-10-07 14:39] ebarry commented on #3246
This will be less of an issue, but still something we should address so people don't "get lost" in our plumbing.

[2020-10-07 14:41] urvashigupta7 opened #8478 "Wrong text input gets selected while using toolbar on comments"
While trying to add new comment  when any of the option is choosen from toolbar the changes are displayed in different text input.

![ezgif com-video-to-gif (6)](https://user-images.githubusercontent.com/41363633/95346113-1c42d700-08d9-11eb-87e9-d018b8cd15bb.gif)

### where to look

https://publiclab.org/questions/Cogreg/09-20-2020/how-do-i-test-home-made-fertilizer

[2020-10-07 14:43] ebarry commented on #6501
I'm interested in the progression of someone completing a Summer of Code or Outreachy project through which they've developed expertise and institutional knowledge of particular features, and how they would join a team. Do we need to add a moment to review, check in with people, and add some people who wish to stay involved to teams at the end of each summer? Other ideas?

[2020-10-07 14:43] cesswairimu commented on #7622
Closing this. Thanks all

[2020-10-07 14:43] #7622 closed

[2020-10-07 14:55] cesswairimu commented on #7632
Closing this. @publiclab/designers please feel free to reopen this if you feel its a design we could change. Thanks all

[2020-10-07 14:55] #7632 closed

[2020-10-07 15:03] cesswairimu commented on #7775
Oh wow @shreyaa-s @shreyaa-sharmaa you had caught this a while back. Must have missed it. I believe @jywarren  fixed this on https://github.com/publiclab/plots2/pull/8467. Closing this. Thanks all

[2020-10-07 15:13] ebarry commented on #5048
This is a good idea contributed by the community, about an area where PublicLab.org could absolutely improve -- our newcomer welcoming and onboarding. Social ties are critical. This comment will remove the 'stale' label, thanks.

[2020-10-07 15:20] Tlazypanda commented on #8380
Hey @jywarren let's keep this open since @ebarry 's suggestion is still left to implement 😅

[2020-10-07 15:20] #7075 closed

[2020-10-07 15:20] Tlazypanda commented on #8380
Can you help me out with how should we go about @ebarry  suggestion? 😅 Thanks I don't have an eye for design so help appreciated 💯

[2020-10-07 15:25] #7502 closed

[2020-10-07 15:30] #7756 closed

[2020-10-07 15:32] ebarry commented on #8448
Welcome Outreachy applicants! We're excited that you're here. Do you have any questions?

[2020-10-07 15:38] Sagarpreet commented on #8478
Correct!
Always the first comment editor is changed. This is because if do not have any `id` associated to each comment editor.

[2020-10-07 15:40] ebarry commented on #6228
I don't think we have ever announced or prominently linked to this feature -- let's figure out how to promote this! By commenting, i have removed the 'stale' label.

[2020-10-07 15:48] ebarry commented on #1442
#TwitterAintDead

[2020-10-07 15:53] ebarry commented on #6155
I think this issue has actually been completely resolved, @jywarren is it safe to close?

[2020-10-07 15:55] ebarry commented on #5695
Oh, we definitely need to see this through, and we're almost there! Great work so far on the sidebar maps, let's also fix the inline map display 😃

[2020-10-07 15:58] ebarry commented on #76
Commenting to remove the 'stale' label -- we don't want to lose the old images.

[2020-10-07 16:00] #7531 closed

[2020-10-07 17:29] cesswairimu commented on #2120
I believe this feature has been live for a while now. Closing this

[2020-10-07 17:29] #2120 closed

[2020-10-07 17:42] cesswairimu commented on #6395
This was fixed recently I can't seem to find the PR but the bug is fixed. Thanks all. closing this

[2020-10-07 17:42] #6395 closed

[2020-10-07 17:47] cesswairimu commented on #5622
Gitpod is working perfctly on plots2. I think we could stick to that for now. I believe the mapknitter setup worked fine though, we could refer to the implementation there if we need it in future.  Closing this. Thanks all

[2020-10-07 17:47] #5622 closed

[2020-10-07 17:51] cesswairimu commented on #5325
closing this. Thanks all

[2020-10-07 17:51] #5325 closed

[2020-10-07 17:53] cesswairimu commented on #5018
Looks like we forgot to close this. Thanks all

[2020-10-07 17:53] #5018 closed

[2020-10-07 18:00] cesswairimu commented on #4849
Run `yarn install` and `yarn update` to resolve this.
Thanks all

[2020-10-07 18:00] #4849 closed

[2020-10-07 19:08] FrankieMFerreira commented on #8448
Hello! I just want to thank you all for your contribution towards making this an open and friendly community!

[2020-10-07 20:36] jywarren commented on #8448
Hi everyone! I'm so excited to meet you all! My name is Jeff, he/him/his, and I'm in Rhode Island, on the US east coast. I like cooking and woodworking 🍜 🛠️  and helping newcomers get situated with our community!

I've been mentoring with Outreachy since 2017, and it's always been a wonderful experience! Several Outreachy alums are with us as regular contributors still, and a lot of awesome work h

[2020-10-07 20:44] burianovata commented on #8470
Hi! I'm Outreachy applicant.  Can you assign this issue to me, please?

[2020-10-07 21:03] ana-vela commented on #8448
Hello! I'm looking forward to making contributions to PublicLab! What a welcoming environment so far!

[2020-10-07 21:04] jywarren commented on #8470
Sure, go ahead! Thank you!!!

[2020-10-07 21:05] jywarren commented on #8470
Did you need help finding the template files?

[2020-10-07 22:12] Oghenebrume50 commented on #8448
Hello Everyone and awesome mentors :slightly_smiling_face: , I am looking forward to contributing and doing amazing work with Public lab during the course of this internship and afterwards

[2020-10-07 22:23] skilfullycurled commented on #1442
Liz is right.  We can't let these bots dictate what we're not going to work on!  They disrupt our faith in institutions. Sow discord and spread misinformation.  But to quote former President George W. Bush:  _'...There's an old saying in Tennessee...Fool me once, shame on ... shame on you. Fool me... You can't get fooled again!'_. So, I'll be damned if I'm going to let some bot waltz in here and s

[2020-10-07 23:12] Annysah commented on #8448
Hello, I'm Anisat Akinbani and I must it feels so welcoming to be here. I would love to be a part of the Public Lab project and really looking forward to making contributions!!.

[2020-10-07 23:19] jywarren commented on #8448
Welcome all! And not to put her on the spot but Cess is an Outreachy alum! 🔥

[2020-10-08 02:22] tyler-wel commented on #7530
@jywarren Upon testing a little more and clicking on the "Asked" and "Answered" tabs on the `questions/tag/` screen, it seems like those two tabs are not working correctly. Nothing changes upon clicking on them. In this case "Test" has been commented on, and "Test2" has not been commented on

![image](https://user-images.githubusercontent.com/49186122/95407628-851d6400-0958-11eb-9b21-4d3a588fe7ea.

[2020-10-08 02:29] urvashigupta7 commented on #8448
I started my Opensource journey with PublicLab. This was the first org I contributed to. Thankyou all for being so welcoming always. Looking forward to make more contributions ❤️🎉

[2020-10-08 03:05] avats-dev commented on #8199
@jywarren any updates?

[2020-10-08 05:48] Tlazypanda commented on #8448
Hello everyone :wave: It's so great to have you all here! :tada: Here are some common queries answered in the previous Outreachy season for your reference:-

https://github.com/publiclab/plots2/issues/7617#issuecomment-601110786 Thank you all! :v:

[2020-10-08 07:51] nibble0101 commented on #8448
Hi. My name is Joseph, an outreachy applicant. Interested in contributing to this project.

[2020-10-08 08:46] burianovata commented on #8470
@jywarren yes please. This is my first time working with Ruby project, so it's a bit confusing to understand file structure.

I need to find `leaflet.css`  that contains popup styles. I found out it is included by this line:
https://github.com/publiclab/plots2/blob/5a2155a8f269ff20e134fd296ddaf35fb748c180/app/views/map/_mapDependencies.html.erb#L1
But there's no `leaflet/dist` folder in the projec

[2020-10-08 09:25] cesswairimu commented on #7702
Closing this thanks @avats-dev

[2020-10-08 09:25] #7702 closed

[2020-10-08 10:09] GabriellaAmah commented on #8448
Hello everyone, My name is Gabriella and i am an Outreachy applicant. i look forward to working with the maintainers and contributors of this project.

[2020-10-08 11:57] Annysah commented on #7703
@cesswairimu,
I'm Anisat Akinbani an Outreachy Applicant and I would love to work on this issue.

[2020-10-08 11:58] jywarren commented on #7703
Please go ahead! We'd love your help!!

On Thu, Oct 8, 2020, 7:57 AM Anisat Akinbani <notifications@github.com>
wrote:

[2020-10-08 12:34] Iamhafsah commented on #6851
Hi. I see that this issue is still open. can I work on it for the Outreachy internship?

[2020-10-08 12:36] Iamhafsah commented on #6446
Hi. Can I work on this for the outreachy internship?

[2020-10-08 12:39] ebarry commented on #1442
Hey Benjamin, what's our working definition of "_active_"? 😃

[2020-10-08 12:39] jywarren commented on #6851
that would be great! Thanks so much for your help, and let us know if you
need anything!

On Thu, Oct 8, 2020, 8:34 AM Emekoma Hafsah <notifications@github.com>
wrote:

[2020-10-08 12:40] jywarren commented on #6446
Hi! If you want to start with #6851, that'd be great! Thanks for you help
and if you'd like another issue after, please let me know!

On Thu, Oct 8, 2020, 8:36 AM Emekoma Hafsah <notifications@github.com>
wrote:

[2020-10-08 12:43] ebarry commented on #6987
Wow, this seems like it is important to fix. @AnshitaVishwa, how are things going now? I see you had a PR that got stale, but we remain grateful for any contributions you are called to make to Public Lab. Thank you!

[2020-10-08 12:52] Iamhafsah commented on #8448
Hi all. I'm Hafsah, an Outreachy applicant. I m so excited to be here, and I look forward to contributing to this project.

[2020-10-08 13:27] Shreets commented on #8448
Hello everyone, I am Shreeti- an Outreachy applicant and I am super psyched to be starting my open source contribution with Public Lab. Can't wait to work with and learn from this community and the mentors. Cheers!

[2020-10-08 13:31] Shreets commented on #4993
Hey @jywarren , i am an Outreachy applicant. I would like to work on this issue if it is still open. Could you please assign it to me.
if not, I am willing to be assigned an open issue that need being resolved.
Thanks!

[2020-10-08 13:39] Shreets commented on #4993
Hello
i am an Outreachy applicant. I would like to work on this issue if it is still open.
I shall be picking this issue to work on
Thanks!

[2020-10-08 13:46] urvashigupta7 commented on #8373
Hi @AgyeyaMishra. Are you still working on this issue? I would like to take this us if you are not no longer working on this

[2020-10-08 14:52] #7970 closed

[2020-10-08 14:58] Annysah commented on #5031
Hello, I'm Anisat Akinbani an Outreachy Applicant.
Is this issue still open, I will like to contribute?

[2020-10-08 14:59] jywarren commented on #6055
This is complete! Thanks, all!

[2020-10-08 14:59] #6055 closed

[2020-10-08 15:00] jywarren commented on #4120
This is resolved now, thank you!

[2020-10-08 15:00] #4120 closed

[2020-10-08 15:01] jywarren commented on #3090
I believe this is complete! Thank you!!!

[2020-10-08 15:01] #3090 closed

[2020-10-08 15:08] jywarren commented on #6767
Sorry about the stalebot message here, it was a mistake! 😅

[2020-10-08 15:08] jywarren commented on #6085
Sorry about the stalebot message here, it was a mistake! 😅

[2020-10-08 15:08] jywarren commented on #5450
Sorry about the stalebot message here, it was a mistake! 😅

[2020-10-08 15:08] jywarren commented on #5352
Sorry about the stalebot message here, it was a mistake! 😅

[2020-10-08 15:09] jywarren commented on #4660
Sorry about the stalebot message here, it was a mistake! 😅 Can't seem to delete due to a GitHub API issue... strange. Carry on!

[2020-10-08 15:09] jywarren commented on #4323
Sorry about the stalebot message here, it was a mistake! 😅

[2020-10-08 15:09] jywarren commented on #3262
Sorry about the stalebot message here, it was a mistake! 😅

[2020-10-08 15:09] jywarren commented on #956
Sorry about the stalebot message here, it was a mistake! 😅 This is still open!

[2020-10-08 15:16] Shreets commented on #4993
Hello, I am an Outreachy applicant and I am picking this issue.

[2020-10-08 15:49] Cadreia commented on #8470
@jywarren Please can you assign this issue to me? I'm an Outreachy intern applicant and would like to work on it

[2020-10-08 16:19] jywarren commented on #4993
Great, thank you so much!

On Thu, Oct 8, 2020, 11:17 AM Shreeti Upreti <notifications@github.com>
wrote:

[2020-10-08 16:46] RuthNjeri commented on #8448
Hi, PublicLab team and Outreachy applicants!
I'm Ruth Waiganjo, an Outreachy applicant, I'm looking forward to learning and collaborating with you all :)

[2020-10-08 16:51] gauravano commented on #5031
Hi @Annysah, I think the PR for this issue was closed mistakenly as the issue seems solved to me at https://github.com/publiclab/plots2/pull/5425

@jywarren @cesswairimu can you please verify?

@Annysah you can claim some other FTO meanwhile, status of this one is clarified. Thanks!

[2020-10-08 16:55] Annysah commented on #5031
Okay...Thank you!

[2020-10-08 17:00] cesswairimu opened #8489 "Replace .count on app/views/search to .size"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-08 17:00] cesswairimu commented on #8489
reserved for @Annysah

[2020-10-08 17:02] AgyeyaMishra commented on #8373
Hi @urvashigupta7! Please go ahead. I am not working on this issue for the time being.

[2020-10-08 17:06] jywarren commented on #8470
Hi @Cadreia - @burianovata is currently working on this one. If you'd like, we can make you a new issue?

@burianovata I believe `/lib/leaflet/dist/leaflet.css` is a dependency from the external `leaflet` library, which gets installed with the `yarn` utility. So it wouldn't show up unless you run `yarn install`. However, being external, we can't edit it in our codebase, but you could override it.

[2020-10-08 17:09] gauravano commented on #4880
Hi @ebarry,  just saw the awesome diagram. I think that serves the purpose so opened a follow-up issue at https://github.com/publiclab/community-toolbox/issues/395.

Thanks for highlighting this issue :)

Also, please chip-in at  https://github.com/publiclab/community-toolbox/issues/395

[2020-10-08 17:12] RuthNjeri commented on #8448
Hi, @cesswairimu I'm trying to figure out which issue to pick up, most issues have been already assigned.. are there issues you could point me to? I'm okay if it's not a `first-timer-only` issue

[2020-10-08 17:15] cesswairimu commented on #8448
Hi @RuthNjeri , sure, let me find one for you.

[2020-10-08 17:15] ebarry opened #8490 ""# more" link not working in tags sidebar listing on nodes pages"
### Please describe the problem

The underlined link text in the sidebar that indicates that there are a certain number of additional tags on a piece of content is clickable, but is not actually a link
<img width="117" alt="Screen Shot 2020-10-08 at 1 13 08 PM" src="https://user-images.githubusercontent.com/161439/95491806-252eb980-0968-11eb-8c9d-db045e593a9f.png">

I expected that this would expa

[2020-10-08 17:24] ebarry commented on #4880
Great, thanks @gauravano ! It's so great to hear from you. I commented over there as well.

[2020-10-08 17:31] swarajpure commented on #8490
Can I work on this?

[2020-10-08 17:34] cesswairimu commented on #8490
Go ahead @swarajpure. Thanks.
The file that renders this tag sidebar is https://github.com/publiclab/plots2/blob/main/app/views/tag/_tagging.html.erb

[2020-10-08 17:37] ImagineZero0 commented on #8489
Hey..
I just wanted to know how does one Claim the issue to start contributing?

[2020-10-08 17:40] cesswairimu commented on #8448
@RuthNjeri  checkout this one https://github.com/publiclab/plots2/issues/6685 and leave a comment there if you would be interested to work on it

[2020-10-08 17:45] burianovata commented on #8470
@jywarren it makes sense! Thank you for such detailed explanation. I keep on with this issue.

[2020-10-08 17:45] RuthNjeri commented on #6685
@cesswairimu, thank you! You can assign this to me, I'd like to work on it.

[2020-10-08 17:49] cesswairimu commented on #8489
Hi @ImagineZero0, first you check if anyone has commented saying `working on this issue` or smth like that. If not leave a comment saying you are working on that issue. If they commented a while back and no pull request is linked ask them if they are still working on it. hope that answers your question

[2020-10-08 17:50] Cadreia commented on #8448
Hi @cesswairimu , I'm an Outreachy Applicant and would like to work on an issue. Please can you create one and assign it to me? It's my first contribution.

[2020-10-08 17:53] ImagineZero0 commented on #8489
Thank you for your informative reply....
Seems like someone is already working on this issue currently so I would just for some other issue..
Thanx again for your answer, this seems a little confusing for the first time really..

[2020-10-08 17:55] jywarren commented on #8177
Just a thought -- we could just make all the `.group()` clauses conditional on development mode maybe, as a short term fix for Outreachy folks?

https://github.com/publiclab/plots2/blob/5a2155a8f269ff20e134fd296ddaf35fb748c180/app/controllers/tag_controller.rb#L22

[2020-10-08 17:58] cesswairimu commented on #8448
Hi @Cadreia, let me find you one

[2020-10-08 18:03] cesswairimu commented on #6685
great done

[2020-10-08 18:16] gauravano commented on #4880
Same here Liz. Feeling good to be able to spend time here.

[2020-10-08 18:38] ebarry commented on #8490
Thanks @swarajpure !
Feel free to ask any questions, i may not have described the issue very well.
Clicking the underlined text is supposed to show the blue lozenges of the tags. Then clicking the "circle+" is supposed to open the input box to add more tags. This is right, isn't it @jywarren ?

[2020-10-08 18:42] cesswairimu opened #8496 "Remove C9 installations from readme"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-08 18:43] cesswairimu commented on #8496
Reserved for @Cadreia

[2020-10-08 18:43] cesswairimu commented on #8448
@Cadreia here you go https://github.com/publiclab/plots2/issues/8496

[2020-10-08 18:54] RuthNjeri opened #8497 "Update The Prerequisite File To Show The Correct Ruby Version"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-08 18:54] RuthNjeri commented on #8497
@cesswairimu I have created the issue mentioned in the chat. Let me know if it looks okay or if I should add/remove any details.

[2020-10-08 18:59] cesswairimu commented on #8497
Looks great, I have moved the implementation part to the `Update` part. Thanks

[2020-10-08 18:59] cesswairimu commented on #8448
There is this open issue if anyone else is looking for one https://github.com/publiclab/plots2/issues/8497

[2020-10-08 19:24] Annysah commented on #8489
Hello @cesswairimu,
I'm so excited, I have completed the task you assigned.
Can I get a review?

[2020-10-08 19:26] Annysah commented on #8489
I will also love to take up more issues please!

[2020-10-08 19:32] cesswairimu commented on #8489
@Annysah I see you created multiple PRs, we usually create one pull request per issue. Could you please update all the files on one of the pull requests. Do let me know if you need any help with that

[2020-10-08 19:38] Annysah commented on #8489
Oh, please how do I go about updating all the files in a PR?

[2020-10-08 19:41] cesswairimu commented on #8489
Sure are you editing on the web or locally?

[2020-10-08 19:42] Annysah commented on #8489
I am editing on the web

[2020-10-08 19:49] cesswairimu commented on #8489
cool. Lets use this branch https://github.com/Annysah/plots2/tree/patch-6.

- Click on https://github.com/Annysah/plots2/tree/patch-6/app/views/search
- Click on the file _questions.html.erb. On the top right you will see the pencil icon,  click to the correct line.
- Add a message on the `commit changes` text box then click the commit changes.

The changes should reflect on this pull request http

[2020-10-08 19:55] kofosu2289 commented on #8448
Hello everyone, I am an Outreach applicant and am very excited to begin my contributions to this organization. Everyone seems to be so welcoming!

[2020-10-08 19:57] kofosu2289 commented on #8497
@cesswairimu I am an Outreachy applicant and just introduced my self in the man issue thread for applicants. Can I be assigned this issue?

[2020-10-08 20:01] cesswairimu commented on #8497
Hi @kofosu2289, yeah sure go ahead

[2020-10-08 20:07] kamzzy commented on #7683
hello please is there any task left am an outreachy applicant

[2020-10-08 20:08] cesswairimu commented on #7683
Hi @kamzzy, we will try and find you one asap.

[2020-10-08 20:10] RuthNjeri commented on #6685
@cesswairimu I don't think this issue is still valid, the `notes` partial has been refactored since this issue was created. When I create a test note, there is no redundancy with the Made: section.

The main branch shows that the line of code suggested in this issue is currently in the [card](https://github.com/publiclab/plots2/blob/main/app/views/notes/_card.html.erb#L55) partial and no longer in

[2020-10-08 20:11] kamzzy commented on #7683
thanks

[2020-10-08 20:18] Annysah commented on #8489
![1](https://user-images.githubusercontent.com/52763841/95508568-1fa69300-09ab-11eb-8acb-92db7ce61619.PNG)
@cesswairimu I'm a bit confused what can I edit in this file _questions.html.erb. because it does not have the .count?

[2020-10-08 20:21] cesswairimu commented on #8489
oh sorrry I meant ` _questions_blank.html.erb`

[2020-10-08 20:21] cesswairimu commented on #8489
here https://github.com/Annysah/plots2/blob/patch-6/app/views/search/_questions_blank.html.erb

[2020-10-08 20:22] Annysah commented on #8489
Thank you!

[2020-10-08 20:23] cesswairimu commented on #6685
Oh yeah you are right. You can edit on that file. Thanks

[2020-10-08 20:36] RuthNjeri commented on #6685
Is that line of code still redundant? I guess I can’t pinpoint how it is
redundant

On Thu, Oct 8, 2020 at 11:24 PM Cess <notifications@github.com> wrote:

--
Kind regards,
Ruth

[2020-10-08 20:38] cesswairimu commented on #6742
This has to be edited from the live db hence not available for fixing in development mode. Closing this. Thanks all.

[2020-10-08 20:38] #6742 closed

[2020-10-08 20:38] Annysah commented on #8489
@cesswairimu Thank you so much for the reviews.
Can I get a review? here is the link to the corrections: https://github.com/publiclab/plots2/pull/8491/files

[2020-10-08 20:41] cesswairimu commented on #2588
The comments count are displayed correctly on the profile page currently and the link also works. Closing this. Thanks everyone

[2020-10-08 20:41] #2588 closed

[2020-10-08 20:41] kofosu2289 commented on #8497
@cesswairimu I took a quick look at the plots Git workflow page and just need to make sure I understand one thing properly. when I am pulling from the source (and rebasing to make sure my local branch is up to date), am i supposed to be using the master branch or the main branch?

[2020-10-08 20:47] cesswairimu commented on #1807
So currently the refresh is happening. Maybe it was fixed on another issue. Closing this. Thanks all

[2020-10-08 20:47] #1807 closed

[2020-10-08 21:02] cesswairimu commented on #8489
Awesome :tada: on it, now you could close all the other pull requests and leave this one https://github.com/publiclab/plots2/pull/8491. Thanks

[2020-10-08 21:14] #7700 closed

[2020-10-08 21:14] jywarren commented on #7700
Thank you @avats-dev !! Would you like to be a collaborator and be able to close these yourself? Thanks!

[2020-10-08 21:14] jywarren commented on #7700
If so pls reach out over Gitter!

[2020-10-08 21:15] #7219 closed

[2020-10-08 21:15] #7135 closed

[2020-10-08 21:17] jywarren commented on #7138
Hi @winstoniskandar - sorry for the slow reply -- that's actually a wiki page, so if you'd like you can make the change yourself! Thanks a lot for catching that - would you like to? If so please feel free to re-open this issue. Thanks again! 🎉

[2020-10-08 21:17] #7138 closed

[2020-10-08 21:18] #7387 closed

[2020-10-08 21:20] cesswairimu opened #8500 "Replace .length with .count on app/views/users/likes.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-08 21:20] cesswairimu commented on #8500
Reserved for @kamzzy

[2020-10-08 21:20] jywarren commented on #6923
Hi @chanukya-y - just noting that there is a good start in https://github.com/publiclab/plots2/pull/6934 that you could build on!

[2020-10-08 21:20] cesswairimu commented on #7683
@kamzzy here you go https://github.com/publiclab/plots2/issues/8500

[2020-10-08 21:22] jywarren commented on #7513
I believe this is completed, thank you!

[2020-10-08 21:22] #7513 closed

[2020-10-08 21:24] cesswairimu commented on #8497
Yes you are pulling from `upstream main`  assuming this is the publiclab/plots2 remote. The base branch is `main`. Thanks

[2020-10-08 21:25] jywarren commented on #6871
Hi folks, just noting that there was a very good start to this in https://github.com/publiclab/plots2/pull/7259 which could be build upon if someone else would like to take this up!

[2020-10-08 21:29] first-timers[bot] opened #8501 "Add "Home" tooltip to "Public Lab" link in navbar"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-08 21:32] jywarren commented on #8501
This one is reserved for an Outreachy applicant! Thanks!

[2020-10-08 21:33] jywarren commented on #6852
Created an FTO in https://github.com/publiclab/plots2/issues/8501!

[2020-10-08 21:33] #6852 closed

[2020-10-08 21:33] jywarren commented on #8448
Made a new one in https://github.com/publiclab/plots2/issues/8501 if anyone is looking for one!

[2020-10-08 21:35] jywarren commented on #6685
I think the person was saying it was just telling the "time ago" twice. So, maybe we can remove the "Made:" version? Thanks!

[2020-10-08 21:36] jywarren commented on #6598
This one is still available! Thanks, all!

[2020-10-08 21:36] jywarren commented on #6598
Especially for Outreachy folks!

[2020-10-08 21:38] jywarren commented on #8448
I believe https://github.com/publiclab/plots2/issues/3440 and https://github.com/publiclab/plots2/issues/6598 are still available too! Please mention you're part of Outreachy when you claim them. And... if it's a pretty old issue, there is always a chance it's already complete or obsolete, so just be aware in case you get confused! Always feel free to ask if you get stuck :-) 🤝 🙌 🎉

Thanks, folks!

[2020-10-08 21:38] cesswairimu commented on #6685
Its showing the time on view mode, and also on  clicking the three dots like so
![Screenshot from 2020-10-09 00-27-02](https://user-images.githubusercontent.com/17081074/95516224-994c7a00-09c7-11eb-9569-ae90fe659831.png)

[2020-10-08 21:46] FrankieMFerreira commented on #8501
I would like to claim this one if thats okay! (Outreachy applicant here)

[2020-10-08 21:54] jywarren commented on #6501
This is not stale, there seems to have been an error with the GitHub API and we can no longer delete stalebot messages, so please disregard! Thanks!

[2020-10-08 21:59] jywarren commented on #8501
that's great! Thank you!

On Thu, Oct 8, 2020 at 5:47 PM FrankieMFerreira <notifications@github.com>
wrote:

[2020-10-08 22:08] ebarry commented on #8501
Yes! Excited to see this implemented, many people want this feature.

[2020-10-08 22:46] ana-vela commented on #6598
Hello! I'm an Outreachy applicant, and I can take this one on if it is still available. Thanks!

[2020-10-08 22:48] noi5e commented on #3440
@jywarren I'm an Outreachy applicant. Can you assign me to this issue please? :)

[2020-10-08 22:49] jywarren commented on #3440
awesome! Please go ahead! Thanks!

On Thu, Oct 8, 2020, 6:48 PM noi5e <notifications@github.com> wrote:

[2020-10-08 22:50] jywarren commented on #6598
Super, thank you!

On Thu, Oct 8, 2020, 6:46 PM Ana Vela <notifications@github.com> wrote:

[2020-10-08 22:55] kofosu2289 commented on #8497
@cesswairimu I have opened a pull request to fix this issue. Could you take a look at it?

[2020-10-08 23:57] skilfullycurled commented on #1442
That's just the point!  Again, to quote GWB, [we're] the decider!

It seems like this will take some active discussion, so let's either file another issue here, or put it on the agenda for an open call.  We have to stay pro-active on being pro-active.

In the meantime (and I say this with sincerity) what is it that we still want from this?  Is this still simply about data?  Are there new metrics (

[2020-10-09 05:24] RuthNjeri commented on #6685
That makes sense, thanks @jywarren and @cesswairimu. I'll remove the "Made"

[2020-10-09 05:49] Karska-dev commented on #7728
Hi! I would like to work with this as outreachy applicant. Could you please assign it?

[2020-10-09 05:53] Karska-dev commented on #7449
Hi, @jywarren! Should this issue be closed already? Or it's still available?

[2020-10-09 06:52] urvashigupta7 commented on #8373
Hi I noticed that when we add a new question it is redirected to dashboard. Instead, it should be redirected to the newly added question I also observed that this behavior is due to  [this](https://github.com/publiclab/plots2/blob/main/app/controllers/application_controller.rb#L160) condition being evaluated as true. I want to confirm if node status- 0 is for spams? If this the case we can change

[2020-10-09 06:54] urvashigupta7 commented on #8373
@jywarren Can you please give your views on this?

[2020-10-09 10:03] nibble0101 commented on #8478
Hi @Sagarpreet . Outreachy applicant here. Can I take a  look at this?

[2020-10-09 10:04] dldisha commented on #8501
Can I do this? (Outreachy applicant)

[2020-10-09 10:46] dldisha commented on #8501
Please review it. Thank you!

[2020-10-09 10:57] amarachi-nwokocha commented on #2220
Hey @ryzokuken Id like to take on this issue, Im a first timer so Ill need additional links and information on how to tackle this and

[2020-10-09 10:59] amarachi-nwokocha commented on #3681
Hey @jywarren  Id like to take on this issue, Im a first timer so Ill need additional links and information on how to tackle this

[2020-10-09 11:09] amarachi-nwokocha commented on #8500
@cesswairimu please can i work on this i'm an outreachy applicant with sound knowledge of html css and bootstrap but little  knowledge regards javascript please i need your help

[2020-10-09 13:15] TravisGM92 commented on #6416
Can I start working on this issue?

[2020-10-09 13:44] gauravano commented on #2220
Hi @amarachi-nwokocha, please go through the above discussion specifically https://github.com/publiclab/plots2/issues/2220#issue-294140740 and https://github.com/publiclab/plots2/issues/2220#issuecomment-364591640

I believe all information is covered in them. You can ask your doubts if you want more clarity on specific point. Thanks!

[2020-10-09 14:10] gauravano opened #8507 "Spam moderation digest settings not working"
Hi, I am receiving spam moderation emails even when I opted out from the notifications dashboard

<img width="1680" alt="moderation_email" src="https://user-images.githubusercontent.com/20878070/95593358-34e0f780-0a67-11eb-810d-5e35d404d44d.png">

Looks like some issue with Backend logic handling.

[2020-10-09 15:24] damiecode commented on #8448
Hello Everyone, My name is Damilola and I look forward to working with you.

[2020-10-09 15:26] damiecode commented on #8500
@cesswairimu can I claim this issue? @amarachi-nwokocha have you opened a pull request?

[2020-10-09 15:50] GabriellaAmah commented on #8448
@jywarren seems like the  all issue you put up has been taken. Please could you provide another

[2020-10-09 16:04] nicoleiocana commented on #7728
Hey Outreachy participants! @dannyflatiron , @Ritesh055 , @Karska-dev  - it seems that 10 days ago, @jywarren stated that @swarajpure would be assigned to this particular issue. Unless I am reading his reply incorrectly, maybe he can offer some insight as to the progress of concluding a resolution for this problem. Best of luck!

[2020-10-09 16:16] jywarren opened #8508 "Change function t to translation in app/views/notes/_card.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-09 16:17] jywarren commented on #7728
Hello, all, to avoid confusion, I'm going to re-create this issue at https://github.com/publiclab/plots2/issues/8508 and @swarajpure has still claimed it. Please check in at #8448 to get a new issue if you're still looking for one! Thanks, everyone, I'm closing this up now. Sorry for the confusion!

[2020-10-09 16:17] #7728 closed

[2020-10-09 16:18] jywarren commented on #8508
Hi @swarajpure, are you still interested in working on this issue? I've moved it here -- thank you!

[2020-10-09 16:43] GabriellaAmah commented on #8508
@jywarren  can i work on this,  i am an outreachy applicant

[2020-10-09 16:45] jywarren commented on #8508
Hi @GabriellaAmah if @swarajpure does not respond in the next 24 hours, then that's fine, we'd love help! And to either of you, we're happy to open a new issue as well.

[2020-10-09 16:45] jywarren commented on #8508
Thank you both!

[2020-10-09 16:51] first-timers[bot] opened #8510 "Delete answer_selection.rb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-09 16:52] first-timers[bot] opened #8511 "Delete answer_test.rb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-09 16:53] jywarren commented on #8510
Hi! Just a warning that this may cause issues with the Answer tests, in https://github.com/publiclab/plots2/blob/main/test/unit/answer_test.rb -- but that should be resolved by https://github.com/publiclab/plots2/issues/8511! Happy to help out with this in any case!

[2020-10-09 16:53] jywarren commented on #8510
This also helps to complete this larger issue: https://github.com/publiclab/plots2/issues/4094

[2020-10-09 16:53] jywarren commented on #8511
This also helps to complete this larger issue: https://github.com/publiclab/plots2/issues/4094 as we are getting rid of the unique Answer model and all corresponding code!

[2020-10-09 16:54] jywarren commented on #8508
I've just made a new issue in https://github.com/publiclab/plots2/issues/8510 for @GabriellaAmah if you'd like to claim that one - just say "i'd like to work on this and I'm with Outreachy" in there and you can go ahead!

[2020-10-09 16:55] first-timers[bot] opened #8512 "Delete answer.rb (start with deleting related code)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-09 16:56] jywarren commented on #8512
This also helps to complete this larger issue: #4094 as we are getting rid of the unique Answer model and all corresponding code!

This issue will also depend on #8511 to be completed before a pull request with this change will work -- because in that issue, we remove the tests that detect the presence of this code. I'm happy to help with this if any Outreachy folks would like to take it up!

[2020-10-09 16:56] jywarren commented on #8510
I believe @gabrielrumiranda from Outreachy may be taking this!

[2020-10-09 16:56] jywarren commented on #8511
This is open to any Outreachy applicants in #8448! Thanks!

[2020-10-09 16:57] jywarren commented on #8448
Hi @GabriellaAmah I've just made #8510 for you! And #8511 and #8512 are both now open as well. Thanks, all!

[2020-10-09 17:04] #8497 closed

[2020-10-09 17:06] damiecode commented on #8511
@jywarren I want to work on this issue.

[2020-10-09 17:06] jywarren commented on #8448
Great job @RuthNjeri for creating your own issue and welcoming/supporting someone else! https://github.com/publiclab/plots2/pull/8502

Folks who've completed their first contribution are welcome to try this out :-)

We also have some "candidates" that may make for good `first-timers-only` issues -- see https://github.com/publiclab/plots2/labels/fto-candidate -- and we often mark those with this fo

[2020-10-09 17:07] #6685 closed

[2020-10-09 17:08] #8501 closed

[2020-10-09 17:09] GabriellaAmah commented on #8510
Hello i am from outreachy and i would like to take this

[2020-10-09 17:12] nibble0101 commented on #8512
@jywarren. Can I work on this?

[2020-10-09 17:20] sagarpreet-chadha commented on #8510
Yes @GabriellaAmah that would be great 🎉

[2020-10-09 17:22] sagarpreet-chadha commented on #8512
Hey @nibble0101 , that would be great 🎉
Let us know if you need some help with this issue 😄

[2020-10-09 17:24] kamzzy commented on #7683
thanks

[2020-10-09 17:27] cesswairimu opened #8513 "[Planning] New Dashboard Implementation Project (Outreachy)"
This is an edit update made by @RuthNjeri:

# Break Down

## All Posts Page

- [X] Optimize the notes page that will display 'All posts' https://github.com/publiclab/plots2/issues/8828
- [X] Write functional and unit tests for the notes page https://github.com/publiclab/plots2/issues/8828
- [x] Implement the design for the 'All Posts' page (/notes)..refer to these [notes](https://github.com/public

[2020-10-09 17:31] sagarpreet-chadha commented on #8478
Hey @nibble0101 , yes we would like your help 👍
So this is a little big issue, you may want to break this down 😄
Also let’s wait for @jywarren approval before we start because we might want to spin off a separate library for comment editor and solving here may not be useful now.

[2020-10-09 17:35] cesswairimu opened #8775 "OLD CLOSED Comment Editor Overhaul Issue"
# MOVED PLANNING ISSUE HERE -> #9069

I've decided to move my planning issue to a fresh issue page, mostly for issues of readability. Sorry for any confusion this causes! - @noi5e

[2020-10-09 17:41] kamzzy commented on #8500
i have created a pull request for issue 8500. please what is the next step

[2020-10-09 17:43] cesswairimu commented on #8500
No worries @kamzzy. I will get another one for @amarachi-nwokocha . Thanks

[2020-10-09 17:44] Cadreia commented on #8496
@cesswairimu please can you review my pull request

[2020-10-09 17:46] kamzzy commented on #8500
thanks your very helpful

[2020-10-09 17:46] sagarpreet-chadha commented on #8448
Hi everyone! Very happy to meet you all!
My name is Sagarpreet, he/him/his, and I am from Bangalore, India. I like travelling, playing football and coding :)

I've been mentoring with Outreachy from a long time now, and I always learn new exciting things each time from the interns!
Very excited for this round of Outreachy! The projects this time are also challenging yet fun to solve 😄 🚀 Thank you

[2020-10-09 17:47] #8500 closed

[2020-10-09 17:48] sagarpreet-chadha commented on #8511
Hey @damiecode , that would be great 😄
Let us know if you need any help in this issue 💯

[2020-10-09 17:55] stacytonui commented on #8513
Hello, I'm an outreachy applicant, new to FOSS and I'm interested in some of these tasks...

[2020-10-09 17:59] #8496 closed

[2020-10-09 18:00] cesswairimu opened #8516 "Remove Cloud9 Scripts"
I have noticed that there are other references to Cloud9 in:
[Rake Tasks](https://github.com/publiclab/plots2/blob/main/lib/tasks/cloud9.rake)
and
[Bash Script](https://github.com/publiclab/plots2/blob/main/install_cloudnine.sh)

## Todo
Lets remove these two files https://github.com/publiclab/plots2/blob/main/lib/tasks/cloud9.rake and https://github.com/publiclab/plots2/blob/main/install_cloudnin

[2020-10-09 18:03] cesswairimu commented on #8516
@Sagarpreet @jywarren do you see any use of these scripts in future or should we remove them? Thanks

[2020-10-09 18:09] cesswairimu commented on #8513
Hello @stacytonui, this is  a list of tasks for the main project that will be worked on during the internship period. Some of these feature are still in discussion. I would suggest you browse through other issues. Please do let me know if you can't find anything I will help you find smth. Thanks

[2020-10-09 18:11] nibble0101 commented on #8512
@sagarpreet-chadha  Thanks will get right to it.

[2020-10-09 18:16] swarajpure commented on #8490
Thank you @ebarry !
Do I necessarily have to have linux environment for ruby? I use windows.

[2020-10-09 18:28] cesswairimu commented on #8490
@swarajpure we do have windows installation guidelines here https://github.com/publiclab/plots2#windows-installation  do let us know if you are having any trouble with the installations. Thanks

[2020-10-09 18:32] nibble0101 commented on #8513
Hi @cesswairimu I am yet to understand those tasks completely because I am still trying to acquaint myself with the codebase and the entire interface. I assume by now  a complete draft of the design has been put together. I am requesting if you do have the design, make it accessible . TBH I am really struggling with the wall of text. A combination of  visual and text will go a long way at onboardi

[2020-10-09 18:46] cesswairimu commented on #8513
Hi @nibble0101 ,  feel free to ask any questions you might have about the project after you checkout the code base. As per designs we encourage the interns to come up with the design during the proposal drafting part on the PL website. During the implementation the mentors will discuss with the interns on different ways  to improve on the designs had during the proposals. You can checkout some pre

[2020-10-09 18:52] nmoras commented on #7683
A newcomer here. Would like to contribute. Please do let me know if there are any FTOs.

[2020-10-09 19:58] bcanty92 commented on #6851
is Add on hover effects to the link "Public Lab" on navbar #6851 still available ? if so I would like to claim it .

[2020-10-09 20:00] stacytonui commented on #8513
@cesswairimu Thanks for the clarification and I'd really appreciate help finding an unassigned issue.

[2020-10-09 20:15] damiecode commented on #5592
Hi, @gauravano @jywarren I want to work on this issue.

[2020-10-09 20:16] cesswairimu commented on #8513
@stacytonui cool, finding one for you in a few

[2020-10-09 20:26] cesswairimu opened #8518 "Replace .count and .length to .size on app/views/dashboard"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-09 20:32] cesswairimu commented on #8518
Reserved for @stacytonui

[2020-10-09 20:39] cesswairimu opened #8519 "Replace .length and .count with .size on app/views/admin/"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-09 20:40] cesswairimu commented on #7683
Hi @nmoras you can work on this one https://github.com/publiclab/plots2/issues/8519.

[2020-10-09 20:43] cesswairimu commented on #8513
@stacytonui here you go https://github.com/publiclab/plots2/issues/8518

[2020-10-09 21:09] xaylax commented on #8519
Hello! I'd be interested in taking this issue :)

[2020-10-10 00:44] FrankieMFerreira commented on #7194
Please review it. Thank you for your time.

[2020-10-10 00:57] frantizek commented on #8519
seems that @xaylax has already claim it, however if needed I would also like to claim the issue.
Thanks.

[2020-10-10 02:47] Karska-dev commented on #6391
Hi! Can I work with this?

[2020-10-10 02:47] carrimaxx commented on #7683
Hello everyone! I'm an Outreachy internship applicant, I know HTML, CSS, and JavaScript. Thank you for making this very beginner-friendly (especially to first-time contributors like myself) and for making it well-structured! I would be happy to contribute to any FTOs! Thank you in advance!

[2020-10-10 02:49] Karska-dev commented on #6173
Hello! I would like to work with this one.

[2020-10-10 03:18] stacytonui commented on #8518
Thanks! Working on it

[2020-10-10 03:41] xaylax commented on #8519
Hello! Just created a PR regarding this issue: https://github.com/publiclab/plots2/pull/8522
This PR is part of my hacktoberfest tally, so I would really appreciate it if it could be merged preferably before the deadline so it can count for hacktoberfest! Thanks so muchhh :)))

[2020-10-10 04:05] avats-dev commented on #7449
@Karska-dev this is resolved, feel free to check out new ones. Also, @jywarren this should be closed as you found and merged the PR above. Thanks :+1:

[2020-10-10 04:06] avats-dev commented on #7683
@carrimaxx, you can go for #6444 .

[2020-10-10 04:42] avats-dev opened #8524 "[discussion] Add support for docker"
**Please describe the desired behavior.**
We currently support installation and development using local environment and **gitpod** (which in turn uses docker). So, we should add support for local development using `docker`, as it eases up the process on many fronts.

[2020-10-10 04:44] avats-dev commented on #8282
Closing this one as `c9` is resolved in #8515
For docker, follow up on #8524

[2020-10-10 04:44] #8282 closed

[2020-10-10 07:09] Asu1996 commented on #8448
Hello! I am Asutosh from India. I am an Outreachy Applicant and look forward to contributing here. Thank you.

[2020-10-10 12:17] wassaysardar2k commented on #8519
Can i work on it?

[2020-10-10 13:25] Asu1996 commented on #8513
Hello. I am an Outreachy Applicant and want to contribute in Javascript and Bootstrap.
I am also interested in working on Reactjs as mentioned in the project description on Outreachy page.

[2020-10-10 13:44] Asu1996 commented on #8512
Can i do this? i am new here.

[2020-10-10 14:08] carrimaxx commented on #7683
Thank you, @avats-dev!

[2020-10-10 14:12] carrimaxx commented on #6444
Working on this, thanks @avats-dev!

[2020-10-10 14:25] Emmahchinonso commented on #8448
hi, i'm chinonso an outreachy applicant from nigeria, please how do i go about setting up my local environment..

[2020-10-10 16:17] Cadreia commented on #8448
Hello, @Emmahchinonso the information you'll need for that is found in the repository's README file. You can find it at https://github.com/publiclab/plots2/blob/main/README.md

[2020-10-10 16:26] gauravano commented on #5651
Hi @jywarren, sorry missed your question. Thanks for stalebot for highlighting the mention 😄.

This can work, have to be tried. I am not sure because **translation_helper** lies in application_helper so would we able to persist 🤔

[2020-10-10 16:39] tawahpeggy commented on #8448
Hi All, My name is Tawah Peggy Che. I recently completed the coursework for a BEng in Computer Software Engineering and will like to get in to open source not just to boost my career and gain experience but also to contribute to free and open-source projects. since my initial application for outreachy was approved I looked through current Outreachy projects and the Public Lab   Project #2 ( New Da

[2020-10-10 17:51] carrimaxx commented on #6444
@avats-dev I may need a little help. I have successfully forked and cloned the repo. I did the following to make sure my copy of the repo is updated: **git remote add upstream git@github.com:publiclab/plots2.git**, then **git fetch upstream**.   However, while trying to execute the **git fetch upstream** command, I get this error:

[code]

[2020-10-10 18:59] Asu1996 commented on #7683
Hello. I am Asutosh. I am an Outreachy Applicant. I want to contribute in Javascipt and Bootstrap.
I also want to contribute in Reactjs (mentioned specifically in the project description)
Can i get a 'first-timers-only' issue too? as most of them are already being worked on.
Thank you.

[2020-10-10 19:40] mhtien commented on #7683
Hello All! My name is My Hoa and I am an Outreachy Applicant, I would also like to contribute to this. I am familiar with Javascript and know a bit of ReactJS. I've never contributed to an open source project before so it would be great if I could get a first time only issue to start off with 😄 many thanks!

[2020-10-11 02:35] avats-dev commented on #5059
@jywarren this is not resolved yet. From what I've seen in above screenshots, previously there was no **topics** section and hence now it is hard to see this generally but if you zoom out, then it's visible. I'm adding a screenshot here for reference.
![Screenshot from 2020-10-11 08-00-14](https://user-images.githubusercontent.com/35889327/95668956-3100c280-0b98-11eb-9292-520be94056ec.png)

Also,

[2020-10-11 02:36] avats-dev commented on #7683
@Asu1996 I've mentioned you on #5059 , you can try that one.

[2020-10-11 02:43] avats-dev commented on #7683
@mhtien you can go for #3298.

[2020-10-11 03:48] jywarren commented on #5873
Hi, i believe this has been merged into the Flag-as-spam system built in this past summer's new Spam Dashboard in #7885 -- closing! Thanks!

[2020-10-11 03:48] #5873 closed

[2020-10-11 03:49] jywarren commented on #3350
Closing this one up, thank you!!!

[2020-10-11 03:49] #3350 closed

[2020-10-11 03:50] jywarren commented on #3360
The new home page no longer has pagination, so I'm going to close this up! Thanks!

[2020-10-11 03:50] #3360 closed

[2020-10-11 03:51] jywarren commented on #3379
We will be renewing the dashboard as part of Outreachy this winter, and this feature will no longer be needed - but thank you for the idea!!!

[2020-10-11 03:51] #3379 closed

[2020-10-11 03:52] jywarren commented on #3428
I'm going to close this up because these are arguably still unit tests... but happy to discuss!

[2020-10-11 03:52] #3428 closed

[2020-10-11 03:54] jywarren commented on #3712
Closing this up as this no longer occurs in the latest version!

[2020-10-11 03:54] #3712 closed

[2020-10-11 03:55] #8394 closed

[2020-10-11 04:04] first-timers[bot] opened #8530 "Display topic cards on tags search results page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-11 04:07] jywarren commented on #8459
Hi @Tlazypanda that's great, i guess that page is not linked to and so was overlooked in later design refinements. I've created an FTO covering this and will make one to add this to the sidebar links for types of search as well. https://github.com/publiclab/plots2/issues/8530

[2020-10-11 04:07] #8459 closed

[2020-10-11 04:07] jywarren commented on #8459
Thanks!

[2020-10-11 04:10] nmoras commented on #7683
@cesswairimu sorry, i missed this issue can I claim a new one?

[2020-10-11 04:11] first-timers[bot] opened #8531 "add tags search to type-specific searches sidebar links"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-11 04:12] jywarren commented on #8531
This is building on https://github.com/publiclab/plots2/issues/8530!

This will improve the sidebar "type" selector on the left side of pages like https://publiclab.org/search/tags/one

![image](https://user-images.githubusercontent.com/24359/95670205-67b5e900-0b56-11eb-96e4-5906a91fa41e.png)

[2020-10-11 04:14] jywarren commented on #8448
Hello folks who've just joined! I've made a new first-timers-only issue -- please claim it by leaving a comment at https://github.com/publiclab/plots2/issues/8531

@Emmahchinonso - the easiest way to begin is to try using GitPod, which has a preset standard environment. It's a web-based system but very good - i use it myself quite a bit to work on this project. You can find a link near the top of

[2020-10-11 04:16] jywarren commented on #5352
Hi all, we are still looking to spin out issues from this! https://publiclab.org/blog2 now exists, and so we are now mostly copying in content and functions from https://publiclab.org/blog to the new page -- we'd love help!

The templates are:

1. https://github.com/publiclab/plots2/blob/main/app/views/tag/blog.html.erb (old)
2. https://github.com/publiclab/plots2/blob/main/app/views/tag/blog2.htm

[2020-10-11 04:18] jywarren commented on #8448
Folks who've completed a first-timers-only issue - if you're interested, there may be some interesting tasks related to creating our new blog template -- you can read more at the very bottom of https://github.com/publiclab/plots2/issues/5352#issuecomment-706647406! We'd love help, and if you're looking for a new challenge, that's a great spot to start!

[2020-10-11 04:18] Asu1996 commented on #5059
Thank you. @avats-dev

[2020-10-11 04:21] #8519 closed

[2020-10-11 04:22] jywarren commented on #5005
That's right, thank you @gauravano -- moving over to #8431 then! Thanks all!

[2020-10-11 04:22] #5005 closed

[2020-10-11 04:25] #7194 closed

[2020-10-11 04:26] #8463 closed

[2020-10-11 04:49] dldisha commented on #8531
Thank you @jywarren for assigning me this issue. Yes, I would like to claim this issue and do it asap.

[2020-10-11 04:52] Error404m commented on #8530
Hey, Can I fix this issue ??

[2020-10-11 05:53] Cadreia commented on #5352
@jywarren I would like to work on this issue. Can I proceed?

[2020-10-11 06:28] damiecode commented on #5352
@jywarren I would like to work on this issue too. @Cadreia  can we divide it?

[2020-10-11 06:32] neilpais commented on #8531
hey i'd like to claim this issue if it hasn't been completed

[2020-10-11 07:09] Asu1996 commented on #5059
I am not getting any text in the footer? Also how do you delete a feature after adding them from /features?
Thank you.

[2020-10-11 07:13] Emmahchinonso commented on #8448
@jywarren i have gotten gitpod running, please what next

[2020-10-11 08:25] wassaysardar2k commented on #8531
@jywarren i would like to work on it.

[2020-10-11 08:26] wassaysardar2k commented on #8530
Hey, can i work on this issue?

[2020-10-11 08:40] Emmahchinonso commented on #8530
@jywarren please has this issue been assigned yet?

[2020-10-11 09:14] Tlazypanda commented on #8511
Closed via #8517

[2020-10-11 09:14] #8511 closed

[2020-10-11 10:09] khadija-nur commented on #7683
Hi everyone 👋 I'm Khadija, an outreachy applicant and I would like to contribute to this project. I have experience with JavaScript and a little knowledge of ReactJs and Bootstrap. It would be wonderful if I could be assigned a first-time-only issue please as I'm new to open source, Thank you in advance 🌻

[2020-10-11 11:38] mhtien commented on #7683
@avats-dev  thank you 😄

[2020-10-11 11:41] mhtien commented on #3298
Hi, just to let you know that @avats-dev has suggested I can attempt this 😄 hope that's ok!

[2020-10-11 18:26] akp2603 commented on #7758
@cesswairimu if this issue is still open, please let me know, would like to help.
cc: @Tlazypanda @renugasaraswathy

[2020-10-11 19:53] RuthNjeri commented on #5352
@Cadreia , @damiecode hi 👋🏾 , I'd like to tag in as well.. as a suggestion, maybe we could start with copying in the content, for example, the:

1. This is basic html layout
2. Recent Post
3. Categories

Do not have content, we can each create an issue for it then begin working on it if @jywarren approves.
In addition, just in case anyone else needs to work on something,

4. The Public Lab Logo at

[2020-10-11 19:54] shubhangikori commented on #8448
Hello everyone, I am Shubhangi Kori. I am an outreachy applicant. And looking forward to contributing to the project.

[2020-10-11 20:18] jywarren commented on #3298
Hi! That's great! I wanted to suggest we could add a divider below the options in the `Sort by` dropdown, and put these Range options at the bottom of the dropdown?

![image](https://user-images.githubusercontent.com/24359/95689183-156bdb00-0bdd-11eb-9b6d-864ed0566d5f.png)

That dropdown can be found here! https://github.com/publiclab/plots2/blob/main/app/views/tag/show/_sort.html.erb

[2020-10-11 22:15] dldisha commented on #8530
Hey @jywarren, I would like to claim this issue and do it asap.

[2020-10-11 23:13] #8531 closed

[2020-10-11 23:50] shubhangikori commented on #5191
Hey! Can I work on this issue?

[2020-10-11 23:54] shubhangikori commented on #5045
Hey! If this issue is still open, can I work on it?

[2020-10-12 02:20] tawahpeggy commented on #6072
hello team i am successfully running plots2 project on my ubuntu OS machine but i get the following error
![Screenshot from 2020-10-12 03-18-09](https://user-images.githubusercontent.com/40355086/95698412-c30cd780-0c39-11eb-85a7-15a6d3f48c7f.png).
please can someone help me out?

[2020-10-12 06:53] mhtien commented on #3298
Hey @jywarren ! This sounds like a cool idea! Could I get some clarification on what the range options are meant to show? Should the range options be 'by month' and 'by year' and if so how does the user know this? Thank you 😃

[2020-10-12 07:36] Cadreia commented on #5352
@RuthNjeri that's a great idea. But like you said, we need @jywarren to approve this.
Also, I noticed an issue with mobile responsiveness. The content of the page exceeds the width of the screen on mobile devices.

[2020-10-12 08:02] Cadreia commented on #7683
Hi, @avats-dev line 99 of the README file says "Your Ruby version is 2.x.x, but your Gemfile specified 2.4.4" whereas the Gemfile rather specifies the version 2.6.6. Can I create a "fto-candidate" issue that rectifies that?

[2020-10-12 08:34] avats-dev commented on #7683
@Cadreia sure. Create a fto for the same and you can also check for other redundancies like this and combine them into one issue. Thanks :+1:

[2020-10-12 08:39] avats-dev commented on #8518
This has been resolved, needs to be closed. @publiclab/maintainers .

[2020-10-12 08:44] avats-dev commented on #7683
@khadija-nur you can go on and try #4980 .

[2020-10-12 08:44] avats-dev commented on #7683
@khadija-nur you can go on and try #4980 .

[2020-10-12 09:35] shallom-dot commented on #8448
Hello everyone,I'm Roseline, an outreachy applicant. I'm really excited to be here. Thankyou for being so welcoming.

[2020-10-12 09:39] Cadreia commented on #7683
Okay, @avats-dev. Will do

[2020-10-12 09:50] shallom-dot commented on #6851
Hello @ananyaarun please  assign this issue to me. Thank you!

[2020-10-12 11:36] cesswairimu commented on #6173
Hi @Karska-dev we would love your help. Go ahead

[2020-10-12 11:47] cesswairimu commented on #8513
Hi @Asu1996 , here is the js project  https://github.com/publiclab/PublicLab.Editor . planning issue for that is [here](https://github.com/publiclab/PublicLab.Editor/issues/630)

[2020-10-12 12:18] sagarpreet-chadha commented on #8516
Correct, it is safe to remove 👍

[2020-10-12 12:44] cesswairimu commented on #8440
Moved to https://github.com/publiclab/PublicLab.Editor/issues/634. Thanks everyone :tada:

[2020-10-12 12:44] #8440 closed

[2020-10-12 12:55] RuthNjeri commented on #8115
Hi @cesswairimu, if this is still valid, can you assign it to me?

[2020-10-12 12:57] RuthNjeri commented on #8516
Hi @cesswairimu, I'll switch this to an FTO and add it to the Outreachy Welcome issue..

[2020-10-12 12:58] RuthNjeri commented on #8516
oops, I can't switch the labels, let me post the link

[2020-10-12 13:05] cesswairimu commented on #8516
Thanks @sagarpreet-chadha . @RuthNjeri I will switch that for you. Thanks

[2020-10-12 13:11] RuthNjeri commented on #8448
Hi everyone, if you are still looking for a first-time issue you can comment on this issue https://github.com/publiclab/plots2/issues/8516 to get assigned.

[2020-10-12 13:19] #8489 closed

[2020-10-12 13:20] shallom-dot commented on #8516
Claimed

[2020-10-12 13:23] shallom-dot commented on #8516
Hello @cesswairimu what do I need to do concerning this issue.? Please can you work me through? Thank you

[2020-10-12 13:26] cesswairimu commented on #8516
Great  @shallom-dot  :tada: I have explained on the description under `Todo` let me know if it still doesn't make sense. Thanks

[2020-10-12 13:28] shallom-dot commented on #8516
Alright.. thankyou

On Mon, Oct 12, 2020, 2:26 PM Cess <notifications@github.com> wrote:

[2020-10-12 13:29] cesswairimu commented on #8463
Should we create a follow-up for removing the errors on initial pageload?

[2020-10-12 13:35] shallom-dot commented on #8516
Hello @cesswairimu  I still have no idea about this issue

[2020-10-12 13:38] cesswairimu commented on #8516
No worries. What yu need to do is delete these file /lib/tasks/cloud9.rake and install_cloudnine.sh . Makes sense?

[2020-10-12 13:43] shallom-dot commented on #8516
Yes it does... But I don't know how to install😣😣

[2020-10-12 13:52] cesswairimu commented on #8516
No prob, we have installation guidelines here https://github.com/publiclab/plots2#installation

You can also [edit files directly in your browser](https://help.github.com/articles/editing-files-in-your-repository/) and open a pull request from there.
Feel free to reach out if stuck

[2020-10-12 13:56] shallom-dot commented on #8516
Alright.. thankyou

[2020-10-12 14:02] cesswairimu commented on #5191
Hi @shubhangikori yes you could work on it. But lets leave the alignment as left aligned. I see we are using left alignment for all of our search boxes. This is what you need to do for this issue.

### Update
**Todo:** Change this line  https://github.com/publiclab/plots2/blob/master/config/locales/en.yml#L662  to enter_tags: "Enter tags"

Thanks

[2020-10-12 14:07] cesswairimu commented on #5059
Hi @Asu1996, the contents of the footer are loaded in prod only. You could try  adding content on this file to get some content locally https://github.com/publiclab/plots2/blob/main/app/views/layouts/_footer.html.erb. Thanks

[2020-10-12 14:10] cesswairimu commented on #7758
Yes the issue is still open @akp2603. We would love your help. Thanks

[2020-10-12 14:11] cesswairimu commented on #8518
Solved in https://github.com/publiclab/plots2/pull/8523. Thanks all

[2020-10-12 14:11] #8518 closed

[2020-10-12 14:20] cesswairimu commented on #8115
Hi @RuthNjeri, looks like @renugasaraswathy fixed this one too while updating the designs https://github.com/publiclab/plots2/pull/8372 :tada: This can be seen at https://publiclab.org/people/liz/followers

[2020-10-12 14:22] RuthNjeri commented on #8115
oh alright @cesswairimu, I'll keep looking..if you happen to find one that I could work on that's not a First-time issue, feel free to tag me.

[2020-10-12 14:22] cesswairimu commented on #8115
Maybe we can discuss on ways to improve this further maybe order the page, maybe order the list  in asc or maybe load  15 or 20 per page in a new issue?

[2020-10-12 14:25] cesswairimu opened #8542 "Maybe we can discuss on ways to improve this further maybe order the page, maybe order the list in asc or maybe load 15 or 20 per page in a new issue?"
Maybe we can discuss on ways to improve this further maybe order the page, maybe order the list  in asc or maybe load  15 or 20 per page in a new issue?

_Originally posted by @cesswairimu in https://github.com/publiclab/plots2/issues/8115#issuecomment-707151501_

[2020-10-12 14:27] RuthNjeri commented on #8115
Thanks, I'll join the discussion in the new issue

[2020-10-12 14:31] RuthNjeri commented on #8542
Yes, ordering the page in asc order is a good idea, also, I noticed that when I click the last page for Liz's followers, a notification pops up that a user has been banned, however, I didn't click on any user, just the page number(12)..this could be another issue?

![Screenshot 2020-10-12 at 17 29 06](https://user-images.githubusercontent.com/7622875/95758132-b6779600-0cb0-11eb-837c-682428e42824.p

[2020-10-12 14:35] cesswairimu commented on #8542
I can't see that error on my end. I tried even when logged out would  you mind refreshing and see if you will still  get the error?

[2020-10-12 14:36] cesswairimu commented on #8115
Created a follow-up here https://github.com/publiclab/plots2/issues/8542. Closing this, thanks all

[2020-10-12 14:36] #8115 closed

[2020-10-12 14:41] RuthNjeri commented on #8542
@cesswairimu I'm not seeing the error now, I think refreshing the page made it clear.

I think adding an avatar for the followers and following list is good too, also, we can add their bio if present, beneath the names..

I am curious, if a user has been banned, should they still show up as following a user or being followed?

[2020-10-12 14:47] cesswairimu commented on #8542
I agree removing banned users from the list would be ideal
I am thinking adding bio below might make the list a bit longer... maybe we could display the bio on hover?

[2020-10-12 14:49] dldisha commented on #8542
@cesswairimu I think we should add a count of the number of followers and following too in the respective tabs itself.

One more suggestion, can we add the remove follower button beside each user?

[2020-10-12 14:50] cesswairimu commented on #7683
no worries @nmoras let me find one for you.

[2020-10-12 14:53] Asu1996 commented on #5059
Yes sir. I have solved the issue. and did a PR. But it's not reviewed yet. Thank you. #8537

[2020-10-12 14:56] cesswairimu opened #8543 "Update check-in template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-12 14:56] dldisha commented on #8542
One more update/suggestion that I would like to add is that instead of showing bio on hover can we show each follower/following name under their username in an italic grey text format?

[2020-10-12 14:57] cesswairimu commented on #8543
This is reserved for @nmoras

[2020-10-12 14:57] cesswairimu commented on #7683
@nmoras here https://github.com/publiclab/plots2/issues/8543

[2020-10-12 14:58] RuthNjeri commented on #8542
@dldisha adding a count for followers/following is a great idea, since it is not displayed on a user's profile, unless it is shown, @cesswairimu is the followers/following link on a page somewhere or is it typed on the URL bar? I haven't seen it on this user's profile
![Screenshot 2020-10-12 at 17 54 52](https://user-images.githubusercontent.com/7622875/95760905-42d78800-0cb4-11eb-8da0-1821fbcf00d

[2020-10-12 15:02] Janetsomehow commented on #8448
Hi everyone i am an outreachy applicant

[2020-10-12 15:08] jywarren commented on #8198
Just updating that page is increasingly used across the site, again thanks to @Tlazypanda - it's probably worth tracking specific skylight traces on routes that use pagy now, esp since last Tuesday's live site publication.

Also here is a slow route! /methods takes many seconds in worst case scenario:

https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1602493440/6h/endpoints/WikiController%23m

[2020-10-12 15:11] jywarren commented on #7973
Thanks! Closing!!

[2020-10-12 15:11] #7973 closed

[2020-10-12 15:12] #7965 closed

[2020-10-12 15:14] jywarren commented on #7811
I'm going to close this in preparation for the new dashboard being created! Thank you though!!

[2020-10-12 15:14] #7811 closed

[2020-10-12 15:17] jywarren commented on #7575
I believe this was resolved in https://github.com/publiclab/plots2/pull/7715! Thanks!

[2020-10-12 15:17] #7575 closed

[2020-10-12 15:26] nmoras commented on #8543
Thank you @cesswairimu working on it

[2020-10-12 15:52] cesswairimu opened #8544 "Replace .count with .size on the profileCard partial"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-12 15:54] cesswairimu commented on #8544
@amarachi-nwokocha here you go

[2020-10-12 16:06] amarachi-nwokocha commented on #8544
I'm working in this

[2020-10-12 16:06] amarachi-nwokocha commented on #8544
Thanks cess

[2020-10-12 17:09] #5045 closed

[2020-10-12 17:17] jywarren opened #8545 "Refactor error messages in Ruby on Rails forms to get rid of "dynamic_form" gem"
We use the `dynamic_form` gem in many places for reasons that we can't even remember -- so if we try to remove that gem, as we did in https://github.com/publiclab/plots2/pull/4575, tests fail.

Let's go through the uses of this gem everywhere we can find it and replace it with a more modern and standard form syntax! They look like this, using the `error_messages` property of the `form_for` block:

[2020-10-12 17:26] jywarren commented on #5059
Addressing and closing this in #8537, apologies, folks! Thank you all!!!

[2020-10-12 17:26] #5059 closed

[2020-10-12 17:28] first-timers[bot] opened #8546 "Update/modernize form error display for Map forms"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-12 17:30] jywarren commented on #8546
Hi, this is reserved for @Asu1996 to claim if wanted! If it is not claimed in 48 hours, others are welcome to claim it by leaving a comment here and linking to their pull request. Thank you!

[2020-10-12 17:33] jywarren commented on #8545
I've made a first-timers-only issue from one of these! See how it looks to perform one of these updates by seeing this commit:

https://github.com/publiclab/plots2/commit/eada0c0970ebf1bcce1e6dcf384dc43813e9384a

[2020-10-12 17:39] stacytonui commented on #8545
Hey can I try working on this?

[2020-10-12 17:40] #8453 closed

[2020-10-12 17:42] jywarren commented on #8545
Hi @stacytonui -- sure, can you choose one from the checklist above, and open a pull request with that one file change, similar to https://github.com/publiclab/plots2/commit/eada0c0970ebf1bcce1e6dcf384dc43813e9384a ? And link to it from here? Thank you so much!

[2020-10-12 17:50] stacytonui commented on #8545
Okay let me work on the first one

[2020-10-12 18:03] diorshelton commented on #8448
Hey everyone! I'm an Outreachy applicant searching for a first-time issues. I'm looking forward to contributing as well as learning. 🙂

[2020-10-12 18:03] khadija-nur commented on #4980
@avats-dev Thank you for assigning me 👍

[2020-10-12 18:05] Cadreia opened #8547 "Change the Ruby version from 2.4.4 to 2.6.6 in README"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-12 18:15] Annysah commented on #8547
Hello @Cadreia, I would love to work on this!

[2020-10-12 18:17] jywarren commented on #8373
Hi! I think this sounds right - thank you @urvashigupta7 and we'd love a fix for this! Perhaps you'd like to make a first-timers-only issue from it? Just be aware that a test may fail if we change the behavior, and that it may have to be adjusted as well.

Thank you!!!

[2020-10-12 18:17] #7840 closed

[2020-10-12 18:24] jywarren commented on #8530
Solved, thank you!!!

[2020-10-12 18:24] #8530 closed

[2020-10-12 18:24] Cadreia commented on #8547
@Annysah, seems to me you're already a contributor. Please can we reserve this for first timers only?

[2020-10-12 18:55] cesswairimu commented on #8542
Just noting after  https://github.com/publiclab/plots2/pull/8462 the links are added on the profile page

[2020-10-12 19:04] amarachi-nwokocha commented on #2220
done @gauravano please check my pull request https://github.com/amarachi-nwokocha/plots2/pull/1 and merge if its ok your feedback is highly appreciated .. i'm always open to correction

[2020-10-12 19:13] stacytonui commented on #8545
@jywarren apologies for the first PR, my repo wasn't synced with the main one

[2020-10-12 19:42] dharmelolar commented on #8547
Hello, @Cadreia please can I work on this?

[2020-10-12 19:48] Cadreia commented on #8547
Yes, @dharmelolar. Go ahead!

[2020-10-12 20:23] noi5e commented on #3440
Okay, I got the site up and running locally, and it looks like this issue has been taken care of already:

<img width="1440" alt="Screen Shot 2020-10-12 at 1 17 04 PM" src="https://user-images.githubusercontent.com/4361605/95787187-d9dd1980-0c8d-11eb-8307-2b391d299d83.png">

Maybe close this issue? However I did notice that the "More User Info" modal on the Profile page doesn't work in Firefox, so

[2020-10-12 21:08] noi5e commented on #8545
@jywarren I'd like to work on the second one in plots2/app/views/users/_edit_form.html.erb if you can reserve it for me :) Will make a PR.

[2020-10-12 21:20] diorshelton commented on #8545
I'm going to give this a shot with #6283

[2020-10-12 21:57] stacytonui commented on #5352
I'd also love to take part in this.

[2020-10-13 00:17] diorshelton commented on #8545
https://github.com/diorshelton/plots2/pull/1#issue-501891635

[2020-10-13 00:54] urvashigupta7 commented on #8373
Sure @jywarren Will do that 😄

[2020-10-13 03:43] jywarren commented on #8545
Hi, @diorshelton - I'd love your help - but unfortunately the map/edit.html.erb file is the one I opened up a "first-timers-only" issue for and reserved for @asu1996 here - https://github.com/publiclab/plots2/issues/8546

Would you be willing to take on a different one from the list, or from the search results above? Your code looks great! Thank you for your understanding!

@noi5e I'll check out y

[2020-10-13 03:46] jywarren commented on #8545
Hi @noi5e - are you working on this in https://github.com/publiclab/plots2/pull/8553 ? Need any help with the errors you're seeing? No worries, I'm here to support!

[2020-10-13 04:16] Cadreia commented on #8545
Hi, @jywarren can I work on question.html.erb?

[2020-10-13 06:18] swarajpure commented on #8490
I guess I will pass this one. Commenting myself so that somebody else can take it up and fix it instead of you guys waiting up for me. Didn't wish to ghost.

Sorry for the inconvenience caused.

[2020-10-13 06:59] dharmelolar commented on #8547
Thank you

[2020-10-13 07:23] cesswairimu commented on #3440
Thanks @noi5e, closing this

[2020-10-13 07:23] #3440 closed

[2020-10-13 07:27] #5191 closed

[2020-10-13 07:31] cesswairimu commented on #8490
no worries, thanks @swarajpure

[2020-10-13 07:34] RuthNjeri commented on #8542
I see, so the suggestion @dldisha shared on adding the count on the followers/following page is valid since it hasn't been implemented on that PR...

[2020-10-13 07:39] noi5e commented on #8545
@jywarren Yes, will reply to you in the PR, thank you!

[2020-10-13 08:32] stacytonui commented on #8542
Suggestion: maybe reduce the column size a bit(col-6) still in the centre..so that you could add other links/activity on each side.
Yes the user avatar would be a good idea

[2020-10-13 08:34] akp2603 commented on #7758
@cesswairimu would love to love with the backend part of it. Can you assign me the issue?

[2020-10-13 09:32] khadija-nur commented on #4980
Hi @avats-dev it seems like this issue has already been resolved
- The link text colour has an increased opacity on hover - it no longer has the background colour change
![Screenshot (6)_LI](https://user-images.githubusercontent.com/59174800/95843006-20d71780-0d3f-11eb-9706-7a297695c299.jpg)

[2020-10-13 09:42] fiona-byte commented on #8448
Hello everyone, I'm Chiamaka and I'm an Outreachy applicant. I'd love to be part of the Public Lab project and I'm looking forward to making contributions.

[2020-10-13 11:42] Sagarpreet opened #8560 "Add a new /preview route to open editor preview in new tab"

[2020-10-13 11:42] Sagarpreet commented on #8560
More details here: https://github.com/publiclab/PublicLab.Editor/issues/490#issuecomment-669930675

[2020-10-13 11:55] fiona-byte commented on #7683
Hello Everyone, My name is Chiamaka and I am an Outreachy Applicant. I would like to contribute to this project. I am familiar with HTML, CSS, Bootstrap, Javascript and ReactJS. I've never contributed to an open source project before so it would be great if I could get a first time only issue to start off with.

[2020-10-13 11:59] Nbde20 commented on #8546
Hi, can I work on this?

[2020-10-13 14:33] ebarry commented on #8511
Exciting that this has been wrapped up! Thanks @damiecode ! Do you have a Twitter handle we could thank you on?

[2020-10-13 15:02] jywarren commented on #8448
@Emmahchinonso that's great you've gotten GitPod running! Now you can try completing a `first-timers-only` issue -- we are creating them as fast as we can, but they're listed at https://code.publiclab.org !

[2020-10-13 15:06] Cadreia commented on #8448
Sure! I'd love to. Just so I'm clear, am I creating an entirely new issue from #8490?

[2020-10-13 15:10] jywarren commented on #8560
For this, i'm thinking we could make a notes controller method for `preview` and then in the templates, we could do a `@ node.title || params[:title]` substitution for both `title` and `body` --

https://github.com/publiclab/plots2/blob/3664a280d660f6f059fbadfcd38f059129f7645f/app/views/notes/show.html.erb#L23

https://github.com/publiclab/plots2/blob/3664a280d660f6f059fbadfcd38f059129f7645f/app/v

[2020-10-13 15:43] sagarpreet-chadha commented on #8560
Okay @jywarren that makes sense 👍
We have to add another button in /post editor page that will open a new tab and call this route, right?

[2020-10-13 15:44] jywarren commented on #8547
Hi @Cadreia this looks great! Thank you!!!

[2020-10-13 15:51] #8543 closed

[2020-10-13 15:51] ebarry commented on #8507
Thanks for reporting this @gauravano ! I'm very interested in improving the moderation experience.

[2020-10-13 15:59] jywarren commented on #7828
Hi all - I'd like to close this one because i think it adds some complexity which we'd have to add tests for, and I'm just not sure it's worth the extra effort to maintain. I appreciate the thinking that went into it however! Thanks!!!

[2020-10-13 16:01] jywarren commented on #8448
Hi - yes, you can make a new one, copying in the essential info and
creating the welcoming step-by-step format, and then I'm happy to label it
and close the old issue! Thank you!

On Tue, Oct 13, 2020 at 11:07 AM Audrey <notifications@github.com> wrote:

[2020-10-13 16:06] jywarren commented on #3298
Hi @mhtien - see how the links provided above:

`+    <a class="btn btn-default btn-sm" href="?start=<%= (@start || Time.now - 1.month).to_formatted_s(:long) %>&end=<%= (@end || Time.now).to_formatted_s(:long) %>">month</a>`

include time ranges? The routes to do this already exist, actually:

https://publiclab.org/tag/water-quality?start=01-12-2019&end=20-08-2020

I think perhaps the text of the

[2020-10-13 16:07] jywarren commented on #8545
Yes, that would be great!!!

[2020-10-13 16:12] #5904 closed

[2020-10-13 16:46] khadija-nur commented on #7683
Thanks @avats-dev However, it seems like the issue has already been resolved. I have added a video of how the current site looks and more information on the website.

[2020-10-13 17:03] carrimaxx commented on #6444
Hello, @avats-dev and @jywarren!
I was assigned this and tried using Gitpod to try and fix this issue, however when I examined line 154 (it is on line 164 now), it doesn't say `redirect_back(fallback_location: root_path) ` anymore, but instead was changed to `redirect_to @comment.node.path + '?_=' + Time.now.to_i.to_s `.
I admittedly can not tell if this is a good alternative to the `request.env['

[2020-10-13 17:11] first-timers[bot] opened #8561 "Fix translation helper functions and leave helpful notice to future coders"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-13 17:13] jywarren commented on #8448
I've just made a new first-timers-only issue at https://github.com/publiclab/plots2/issues/8561 - please leave a comment there to claim it! Thank you!

[2020-10-13 17:15] jywarren opened #8562 "Fix string translation errors in notes page dropdowns"
We're having problems with the translation helpers within Bootstrap Popovers, as you can see here:

![image](https://user-images.githubusercontent.com/24359/95892753-fbed9f00-0d54-11eb-80fb-6ad39a0897f2.png)

This is a variant of the issue at https://github.com/publiclab/plots2/issues/7798

To reproduce, change the language to one where the translation string doesn't exist, using: https://publicla

[2020-10-13 17:15] #8562 closed

[2020-10-13 17:15] jywarren commented on #8561
Please see this issue for background and context on this! https://github.com/publiclab/plots2/issues/8562

And yes, @alvesitalo please go ahead! Thank you!

[2020-10-13 17:19] first-timers[bot] opened #8563 "Fix translation helper function and add explanatory note"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-13 17:20] jywarren commented on #7882
Created an FTO for this!

[2020-10-13 17:20] #7882 closed

[2020-10-13 17:21] jywarren commented on #7798
Hi all, i've just created 2 FTOs with examples of this going wrong - check out the above links! In both cases, I left an explanatory note to future coders. Both are reproducible on the live site right now! Thanks @Tlazypanda and apologies for responding slowly! Also cc'ing @gauravano ❤️

[2020-10-13 17:21] jywarren commented on #8563
I'm happy to help with this one for Outreachy folks!

[2020-10-13 17:22] jywarren commented on #8448
And another here! https://github.com/publiclab/plots2/issues/8563

[2020-10-13 17:39] cesswairimu commented on #7758
Great, go ahead.

[2020-10-13 18:02] cesswairimu opened #8564 "Weekly Community Check-In # - Topic"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-10-13 18:02] #8564 closed

[2020-10-13 18:16] fiona-byte commented on #8563
@jywarren, I'd love to work on this

[2020-10-13 20:30] jywarren commented on #7798
Another instance i had to revert due to poor rendering -- #8565

And, noting a couple bad renders here at https://stable.publiclab.org/tag/water-quality -- (click https://stable.publiclab.org/change_locale/es first to turn on translations to see this)

![image](https://user-images.githubusercontent.com/24359/95912799-4d0b8c00-0d71-11eb-8f2b-f955a936be33.png)

[2020-10-13 20:37] jywarren opened #8566 "(multiple issues) Fix UI flow and debug dashboard location input form"
We have a feature where you can add your location from the dashboard -- https://publiclab.org/dashboard (while logged in):

![image](https://user-images.githubusercontent.com/24359/95913284-fd799000-0d71-11eb-9477-e84f5b7dd7e0.png)

You click "Add your location" and a modal popup appears, prompting you:

![image](https://user-images.githubusercontent.com/24359/95913323-0cf8d900-0d72-11eb-9236-853e

[2020-10-13 20:44] ebarry commented on #8561
Thanks for picking this up @alvesitalo !

[2020-10-13 20:50] ebarry commented on #8431
Can someone check if this changes based on if they are viewing the website in another language? I now see that i'm experiencing the same bug that Gaurav highlighted in my browser that is set to a different language. @jywarren — i think this is maybe related to the other translation stuff.

[2020-10-13 21:43] noi5e commented on #8545
@jywarren - Looks like there are two instances in post.html.erb:

https://github.com/publiclab/plots2/blob/a5915411c504b8074235292ab49cfe1efc6f784d/app/views/editor/post.html.erb#L66

https://github.com/publiclab/plots2/blob/a5915411c504b8074235292ab49cfe1efc6f784d/app/views/editor/post.html.erb#L72

Happy to give these a shot if that's okay!

[2020-10-13 22:30] tawahpeggy commented on #8448
any first timers issue for me? i havent been able to lay hands on any.

On Tue, Oct 13, 2020 at 6:22 PM Jeffrey Warren <notifications@github.com>
wrote:

[2020-10-13 22:37] tawahpeggy commented on #8563
@fiona-byte have you started already? if yes, have you encoutered any worry  i could be of help.

[2020-10-13 22:40] fiona-byte commented on #8563
Yes, I have

[2020-10-13 22:43] tawahpeggy commented on #8563
okay great, happy coding.

[2020-10-14 06:27] damiecode commented on #8511
My Twitter handle is @iamlildamski. Thank you

[2020-10-14 06:31] Namank123 commented on #8547
Hello, @Cadreia can I work on this?

[2020-10-14 06:37] nk183 commented on #8547
Hello, @Cadreia can I still work on this?

[2020-10-14 06:40] nk183 commented on #8563
@jywarren, can I still work on this?

[2020-10-14 06:41] cesswairimu commented on #8563
Hi @nk183 , seems like @fiona-byte is already working on this one.

[2020-10-14 06:49] Cadreia opened #8571 "Fix "# more" link so that it expands to show more tags"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-14 06:51] nk183 commented on #8571
Hello, @Cadreia please can I work on this?

[2020-10-14 06:51] Cadreia commented on #8571
Hi, @jywarren. I've created this "first-timers-only" issue out of #8490. Can you close #8490 now?

[2020-10-14 06:54] Cadreia commented on #8571
@publiclab/reviewers can you please get this issue labelled?

[2020-10-14 06:54] cesswairimu opened #8572 "Replace .length with .size in views/editor/newsletter"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-14 06:55] cesswairimu commented on #8572
Reserved for @tawahpeggy

[2020-10-14 06:56] cesswairimu commented on #8448
@tawahpeggy  you can claim this one  https://github.com/publiclab/plots2/issues/8572

[2020-10-14 06:58] tawahpeggy commented on #8572
Ok thanks @cesswairimu

On Wed, Oct 14, 2020, 7:55 AM Cess <notifications@github.com> wrote:

[2020-10-14 07:11] Cadreia commented on #8571
Sure, @nk183. Go ahead. Please let me know if you face any difficulties with this!

[2020-10-14 07:32] #8547 closed

[2020-10-14 07:34] cesswairimu commented on #8431
oh yeah, I can see it when I change the language

[2020-10-14 08:15] Tlazypanda opened #8573 "Add pagy for followers route"
**Please describe the desired behavior.**
Pagy is a pagination gem used for its peak performance over other pagination tools. As mentioned #8426  we have been trying to migrate our codebase from will_paginate to pagy gem and would love your help with it! :tada:

Here is how you may implement pagy for this: -

- Select action `followers` under `users_controller`
- Since here pagination is already i

[2020-10-14 08:15] Tlazypanda opened #8574 "Add pagy for following route"
**Please describe the desired behavior.**
Pagy is a pagination gem used for its peak performance over other pagination tools. As mentioned #8426  we have been trying to migrate our codebase from will_paginate to pagy gem and would love your help with it! :tada:

Here is how you may implement pagy for this: -

- Select action `following` under `users_controller`
- Since here pagination is already i

[2020-10-14 08:17] Tlazypanda commented on #8573
Hey @cesswairimu @jywarren I am not sure what labels should we add here? :sweat_smile: since it's not a fto but they still have the code changes marked so I am adding help wanted for now

[2020-10-14 08:27] KarenEfereyan commented on #8448
Good day everyone. My name is Karen. Im an outreachy applicant. Im looking forward to working with bright minds like you all. Im on the lookout for first timer issues. Kindly tag me to any available one.

[2020-10-14 08:30] KarenEfereyan commented on #8516
Well done @shallom-dot

[2020-10-14 08:32] KarenEfereyan commented on #8448
I love the sound of that. 🤣🤣

[2020-10-14 08:33] KarenEfereyan commented on #8448
@cesswairimu I can't find any first time issue. Can you create one for me?

[2020-10-14 08:34] KarenEfereyan commented on #8572
@tawahpeggy, I was late🤣🤣🤣. Well done ma'am

[2020-10-14 08:35] KarenEfereyan commented on #8571
@nk183 you were earlier. 🤣🤣🤣 well done

[2020-10-14 08:36] KarenEfereyan commented on #8561
@jywarren is this issue open or closed?

[2020-10-14 08:39] KarenEfereyan commented on #8573
@Tlazypanda can i take this up? Although I'll need help

[2020-10-14 08:49] shallom-dot commented on #8516
Hello Karen... How are you? Okay I'm yet to start my issue.can you help me
out?

[2020-10-14 08:51] stacytonui commented on #8574
Hello, can I work on this issue?

[2020-10-14 08:52] KarenEfereyan commented on #8516
Absolutely. we can take a look At it together. Have you made A fork of the repo?

[2020-10-14 08:55] KarenEfereyan commented on #8516
Absolutely. We can tackle it together. Have you made a fork of the repo? https://github.com/publiclab/plots2#installation
This can help. Do you use a window or a Linux is? There. Are installation guidelines for both

[2020-10-14 08:56] shallom-dot commented on #8516
No I haven't... This is my first time in something like this. I really
don't know how things work.

[2020-10-14 08:59] shallom-dot commented on #8516
Windows.

On Wed, Oct 14, 2020, 9:55 AM Efereyan Karen Simisola <
notifications@github.com> wrote:

[2020-10-14 09:24] KarenEfereyan commented on #8516
First, you'd need to make a fork of the repository. This implies that we are making a copy of the original repo which becomes ours to use. To do that, click the big fork button at the top right of the repository

[2020-10-14 09:25] Tlazypanda commented on #8573
Hey @KarenEfereyan go ahead 🎉 here to help!!

[2020-10-14 09:26] Tlazypanda commented on #8574
Hey @stacytonui go ahead 🎉

[2020-10-14 09:27] shallom-dot commented on #8516
Okay.... I'm on it

On Wed, Oct 14, 2020, 10:24 AM Efereyan Karen Simisola <
notifications@github.com> wrote:

[2020-10-14 09:32] shallom-dot commented on #8516
Hello Karen... I've done that.

[2020-10-14 09:33] KarenEfereyan commented on #8516
![Screenshot_20201014-103158](https://user-images.githubusercontent.com/56835876/95971058-9a870800-0e08-11eb-876d-c04053ec55f7.png)
If you are right, you should have something like this.. You see how it Says at the bottom that the repo was forked from publiclab/plots?

[2020-10-14 09:36] shallom-dot commented on #8516
Yes that's it.

On Wed, Oct 14, 2020, 10:34 AM Efereyan Karen Simisola <
notifications@github.com> wrote:

[2020-10-14 09:38] nk183 commented on #8571
how do I iterate over  tags when "circle +" is expanded

[2020-10-14 09:40] KarenEfereyan commented on #8516
Next step. Clone the forked repo to your computer. This allows you to make changes or additions to the codebase. To do that you need to use a git command called git clone.  Inside any folder of your choice on your computer, I suggest the github folder inside the documents folder to do this, open command prompt (CME) or powershell or gitbash. Anyone you have and run the following following command.

[2020-10-14 10:25] khadija-nur commented on #8566
Hi can I work on this issue?

[2020-10-14 10:35] nk183 commented on #8571
where is "add a tag"  functionality

[2020-10-14 11:22] KarenEfereyan commented on #8516
@shallom-dot how far? Sorry I had to quickly run an errand

[2020-10-14 11:42] shallom-dot commented on #8516
Alright.. yeah! I've forked the repo. What's next?.

[2020-10-14 11:48] stacytonui commented on #8574
Thanks @Tlazypanda I've linked the PR.  Kindly review it

[2020-10-14 12:05] Cadreia commented on #8571
That has already been implemented. All that you have to do is to replace the line of code highlighted in red with that in green, so that the user can click on either the link(# more) or the (+) button to reveal the rest of the tags

[2020-10-14 12:27] KarenEfereyan commented on #8516
This is the next step @shallom-dot

[2020-10-14 12:42] alvesitalo commented on #8561
@KarenEfereyan It will be closed when the open pull request is merged

[2020-10-14 12:44] shallom-dot commented on #8516
Everything? Or just number 2?

[2020-10-14 13:03] KarenEfereyan commented on #8516
Just number 2. We are done with step 1

[2020-10-14 13:13] shallom-dot commented on #8516
Okay... Thanks. So what's next?

[2020-10-14 13:14] shallom-dot commented on #8516
Keren I really appreciate your help. To be honest. I was at the verge of giving up because I wasn't sure what to do. Thankyou

[2020-10-14 13:17] KarenEfereyan commented on #8542
Suggestions :
 1. It might be great to allow for some padding between the user icon and the users' name.  Looks a little bit too muddled up. It might benefit from some breathing space.
2. It would be great if there could be a small span that shows the count of followers and following. Maybe just beside the following and follower text with a little left padding separating them
3. I think there shou

[2020-10-14 13:21] KarenEfereyan commented on #8516
Don't thank me yet. Thank me when we have successfully made the PR and it gets merged. The nest step will be to Install the dependencies. Hold on a little while I try to figure that part out.

[2020-10-14 13:26] shallom-dot commented on #8516
Alright...

[2020-10-14 13:29] nk183 commented on #8571
@Cadreia ,I have made the pull request please review

[2020-10-14 13:30] asadkhalid305 commented on #8448
Hello everyone!

My name is Asad and I am a professional JavaScript developer.

It's good to see so welcoming environment here especially for people who are interested to start contributing in open source. Though, I am one of those who really want to contribute so thus I am looking forward for issues to start working on.

Kindly tag me on some issues I can start working on since I found all existi

[2020-10-14 13:31] nk183 commented on #8571
@Cadreia ,I have made the pull request  #8579   please review

[2020-10-14 13:50] gauravano commented on #7798
Hi @cesswairimu @Tlazypanda, you're not able to see the globe icons because your profile doesn't have `translation-helper` tag. It is the first condition checked in the code.

`if current_user&.has_tag('translation-helper')`.

This wiki - https://publiclab.org/wiki/translation contains join the translation group button which is also doing the same thing, Adding the tag to the user profile.

I also

[2020-10-14 14:02] ebarry commented on #8546
Hi @Asu1996 , hope all is well 🌳. Are you on deck to do this issue? Please reply today to meet the 48 hours offer 💚 from @jywarren 2 days ago 😊

[2020-10-14 14:23] tawahpeggy commented on #8566
@khadija-nur have you started working on this issue already? if yes we  can work on it together since the issue's description is kind of lengthy. why don't we use this issue as a means of starting our pair pogramming journey.

[2020-10-14 15:03] aissshah commented on #8566
This looks interesting and I would like to team up as well! @khadija-nur @tawahpeggy

[2020-10-14 15:59] khadija-nur commented on #7617
Hi @Tlazypanda can I claim this issue?

[2020-10-14 16:16] Cadreia commented on #4905
Hi, @jywarren. Is this issue still open? Because I checked, and the number of comments at the top which were inconsistent with that at the bottom have been removed. I would like to work on this, but I don't really understand what is expected to be done here

[2020-10-14 16:40] khadija-nur commented on #8566
That'd be great @tawahpeggy I'm available to work on it tomorrow evening. @mhtien will you be available then?

[2020-10-14 16:43] RuthNjeri commented on #8560
Hi @sagarpreet-chadha I'd like to try this out...please assign it to me.

[2020-10-14 16:46] khadija-nur commented on #8566
Sorry I've already started working on it with others @tawahpeggy Hopefully another issue comes up soon

[2020-10-14 17:55] sagarpreet-chadha commented on #8560
Hey @RuthNjeri , sure go ahead! I was just going to start on this myself :)
You may start with a different route /preview and pass the form details as body params and render the preview.
Let me know if you need any help 😄
Meanwhile I will ask @ebarry or @jywarren on where exactly we have to show this preview button, we can take that separately. Thanks 💯

[2020-10-14 17:58] sagarpreet-chadha commented on #8560
This will be pretty interesting feature, we will also make sure that we write proper tests for this 😄
Let me know if you get stuck somewhere and maybe open the PR sooner in WIP state so we can track status, or you may open once you feel comfortable. No worries 😄

[2020-10-14 19:01] RuthNjeri commented on #8560
@sagarpreet-chadha thanks! I'll definitely reach out throughout!

[2020-10-14 20:20] nmoras commented on #8543
@jywarren thank you so much. I couldn't find out how to fix it without making another PR request. anyways thank you so much  for FTOs.

[2020-10-14 21:00] tawahpeggy commented on #8566
Ok no problem.
Hopefully I'll find an issue

On Wed, Oct 14, 2020, 5:46 PM khadija <notifications@github.com> wrote:

[2020-10-14 21:37] Aman2632 commented on #8571
@Cadreia can i work on it please

[2020-10-14 21:56] akp2603 commented on #7758
Hi @cesswairimu, it seems like I dont have the permission to raise a pull request against the repository. Can you please check?

[2020-10-14 22:49] tawahpeggy commented on #6314
i will like to work on this issue if it is still open

[2020-10-15 01:38] Karska-dev commented on #6173
So, if I get it right. This card:

![Screen Shot 2020-10-14 at 6 31 19 PM](https://user-images.githubusercontent.com/4979096/96062948-bb248180-0e4b-11eb-84cb-77934baa7b86.png)

should look exactly like this one:

![Screen Shot 2020-10-14 at 6 31 28 PM](https://user-images.githubusercontent.com/4979096/96063079-fa52d280-0e4b-11eb-8d6d-954e462e80d5.png)

Please, correct me where I am wrong!

[2020-10-15 02:58] nk183 commented on #8571
I have made some commits please review, @Cadreia

[2020-10-15 04:07] nk183 commented on #8571
@Cadreia ,  I have created another pull request please review

[2020-10-15 07:54] cesswairimu commented on #7683
Hi @aissshah, we will try and get a  first-timer-issue for you as soon as possible

[2020-10-15 08:13] cesswairimu commented on #7758
Hey @akp2603 that is strange, could you please send the link of the branch you want to make a branch from

[2020-10-15 09:37] Cadreia commented on #6551
Hi, @cesswairimu I would love to work on this

[2020-10-15 10:17] cesswairimu commented on #6551
Go ahead @Cadreia, thanks

[2020-10-15 10:21] cesswairimu commented on #6551
@Cadreia, I see you have you already contributed to a first-timer issue. Would you mind leaving this one to a new contributor? and you could browse through the issues with the label `help-wanted` or `bug`

[2020-10-15 10:28] Cadreia commented on #6551
@cesswairimu okay, I'll do that. But I just linked a pull request for it. Do I close it?

[2020-10-15 10:59] tawahpeggy commented on #7798
i am intrested to work on this issue if possible.

[2020-10-15 11:28] tawahpeggy commented on #7454
i will like to check this issue out and work on it, if possible because i see its still open

[2020-10-15 11:30] tawahpeggy commented on #7321
i will like to work on this issue if possible

[2020-10-15 11:34] tawahpeggy commented on #7321
@cesswairimu please assign this issue to me @tawahpeggy

[2020-10-15 11:36] tawahpeggy commented on #7321
i will also look at the 2 issues mentioned under this one by @jywarren  and @cesswairimu.

[2020-10-15 12:12] akp2603 commented on #7758
Hi @cesswairimu agreed. But I am not even able to push my local branch. Let alone raise a pull request.
[code]
This is the message I am getting. Guess you have to give me the push access.

[2020-10-15 15:05] RuthNjeri commented on #8560
Hi, @sagarpreet-chadha I'm working on understanding the task, I have a couple of questions..

The preview tab is meant for this editor page, right?
<img width="939" alt="Screenshot 2020-10-15 at 18 00 49" src="https://user-images.githubusercontent.com/7622875/96147927-6c8ceb00-0f10-11eb-9d5d-a1df0da821b3.png">

And from this form, I'll pass the params to the preview route when the params have valu

[2020-10-15 16:05] Cadreia commented on #7758
Hi, are u sure you're online? Check your internet connection

On Thu, Oct 15, 2020, 1:12 PM Aashish Passrija <notifications@github.com>
wrote:

[2020-10-15 16:15] akp2603 commented on #7758
Hi @Cadreia , yes pulling the code from master works. Pushing to other repos works too. The issue is with this repo only.

[2020-10-15 16:28] Cadreia commented on #7758
@akp2603 it looks like you are trying to push to the main repository instead of your forked version. Did you fork the publiclab/plots2 repo before making changes to the code?

[2020-10-15 16:49] Sagarpreet commented on #8560
Hey @RuthNjeri ,
Correct we will have a Preview button here, on clicking we will open a new tab and send all the information entered in the form (including image URL)  in a POST request `/preview`.

Now corresponding to this route we will implement a controller function in `Notes controller`, action name can be `preview`.
This action will render a template/view (`something.html.erb`), right?

For

[2020-10-15 17:22] tawahpeggy commented on #5352
I will like to be part of those working on this issue

[2020-10-15 17:23] RuthNjeri commented on #8560
@sagarpreet-chadha thanks, that helps a lot, I'm curious why the preview action should be defined in the NotesController...how does that relate to the EditorController?

[2020-10-15 17:51] HitIt007 commented on #8572
Can I work on this project??

[2020-10-15 17:52] akp2603 commented on #7758
@Cadreia Ahh thanks, I had been pushing directly to other repos. Your comment helped. Raised the PR now. Thanks for the help again. 👍

[2020-10-15 17:56] Sagarpreet commented on #8560
The `editor_controller` has actions defined related to rendering of 2 types of editor:
1. Rich view editor
2. legacy editor
Hence the name `editor_controller` makes sense, right?

On the other hand `notes_controller` has 1 action in which we are interested that is `show`, which renders the actual POST made using editors (actual POST means rendering HTML).
`Node` is a general nomenclature used in p

[2020-10-15 18:32] cesswairimu commented on #8572
Hi @HitIt007 ,  this issue is already assigned to @tawahpeggy

[2020-10-15 18:34] cesswairimu commented on #7321
Go ahead @tawahpeggy, thanks

[2020-10-15 18:35] cesswairimu commented on #6551
Yeah you could just close it if you are okay with that... thanks a lot 💯

[2020-10-15 18:59] ebarry commented on #6173
HI @Karska-dev ,
Thanks for working on this one!

This situation is where there's a power tag in the form `key:value` where `value` already has a dedicated wiki page.

In your example, you are showing the tag page for the powertag `activity:translation`. There is a page publiclab.org/wiki/translation, so the `activity:translation` card should:

1. pull the preview text from publiclab.org/wiki/tran

[2020-10-15 19:15] RuthNjeri commented on #8560
Thanks, I'll use this info and start out with the first task and create a PR for it...

[2020-10-15 19:32] noi5e commented on #6391
Hi, I just wanted to give a heads-up and say that I'm going to make some FTO issues out of this one...

There are still a few places in the codebase with `http` links. Some of them seem to be irrelevant to this issue. _(Like, one of them seems to be a footer in an automated email from the server, and there are a few that are simply Ruby and JS commented code snippets.)_

However there are a few I'

[2020-10-15 19:36] tawahpeggy commented on #8572
I am done with this issue already.its just waiting on @cesswairimu to check
the PR and merge.

On Thu, Oct 15, 2020, 7:32 PM Cess <notifications@github.com> wrote:

[2020-10-15 20:13] gauravano commented on #2220
Hi @amarachi-nwokocha, you need to open PR against https://github.com/publiclab/plots2. Your current PR is against forked repo.

[2020-10-15 20:23] noi5e opened #8587 "Change http:// to https:// in several places (Fix for #6391)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-15 20:26] tawahpeggy commented on #7321
Ok @cesswairimu thanks for the go ahead.

On Thu, Oct 15, 2020, 7:34 PM Cess <notifications@github.com> wrote:

[2020-10-15 21:05] yashmohan100 commented on #8587
Hi @noi5e , Can i work on this issue ?

[2020-10-15 21:09] yashmohan100 commented on #8587
I have taken the first option
- [ ] **drupal_content_type_map.rb**:
https://github.com/publiclab/plots2/blob/76f000c8dcc82576910590f9699c92256179c20e/app/models/drupal_content_type_map.rb#L32-L34

[2020-10-15 21:11] noi5e commented on #8587
@yashmohan100 Please go ahead!

[2020-10-16 00:12] Kennygrace commented on #8587
Hello @noi5e, Please I would like to take up the second option on this issue

[2020-10-16 01:54] Kennygrace commented on #8448
Hi everyone, I'm Kennygrace,  I'm happy to be here, looking to learn and contribute to this community

[2020-10-16 02:30] sagarpreet-chadha commented on #8587
Sure @Kennygrace 😄

[2020-10-16 04:47] amanda-ariyaratne commented on #8587
@noi5e I would like to work on the third option

[2020-10-16 06:55] amanda-ariyaratne commented on #8587
Hello, I've made the required change on the file plots2/app/views/admin_mailer/notify_moderators_of_comment_spam.html.erb

When trying to open a pull request I get the warning Can't automatically merge. I am attachig a screenshot here. I did not make any other changes in the code.
![Screenshot](https://user-images.githubusercontent.com/28347418/96222670-516eb980-0faa-11eb-9e1e-2ead621f58fc.png)
![

[2020-10-16 07:40] KarenEfereyan commented on #8573
@Tlazypanda @cesswairimu I have linked the PR and made necessary changes. Can you please review?

[2020-10-16 07:41] KarenEfereyan commented on #8375
Is this done?

[2020-10-16 09:55] fiona-byte commented on #7123
Hi @anthony-zhou, can I work on this issue?

[2020-10-16 10:29] Shreets commented on #7508
Hello,
I am Outreachy Applicant and I would like to claim this issue.
Thanks

[2020-10-16 11:51] MinervaLong commented on #8587
Hello, @noi5e I would like to work on the fourth option, thank you.

[2020-10-16 12:41] urvashigupta7 commented on #8373
Hi @jywarren . I was trying to check if the changes suggested above produces any test failure. I have not made any change yet but  tests are failing when I try to run them locally using **rails test** command. Am I doing something wrong??

[2020-10-16 13:31] urvashigupta7 commented on #8373
Now i know [this](https://github.com/publiclab/plots2/blob/main/app/controllers/application_controller.rb#L160) line is to ensure that if a user is not author of the post or a moderator or admin, they cannot see a moderated post.

[2020-10-16 13:39] Shreets commented on #7508
Hi @cesswairimu,
I figured that this issue should be solved with addition of `data-method="delete"` to the following tag

https://github.com/publiclab/plots2/blob/8d2efcb96e9643a74957d5cdde208f21d01360fb/app/views/tag/show/_user_controls.html.erb#L11

However, what is stopping this from working is use of `e.stopPropagation()` as follows in the code:

https://github.com/publiclab/plots2/blob/8d2efc

[2020-10-16 13:59] publiclab-mimi commented on #8490
Hi all. I wanted to note that this broken link is especially troublesome if you’re not logged in to the website, as I’m only able to see the functional “+” button if I’m logged into Public Lab. So for food who may not have a username, they’re unable to access any tags that are in the collapsed menu.

[2020-10-16 14:18] ebarry commented on #8448
Here's an issue that has code links and is high priority: https://github.com/publiclab/plots2/issues/8490

[2020-10-16 14:20] ebarry commented on #8571
Thank you for creating this @Cadreia !!!!

[2020-10-16 14:39] #8571 closed

[2020-10-16 14:50] #8574 closed

[2020-10-16 15:04] #3298 closed

[2020-10-16 15:07] #4993 closed

[2020-10-16 15:08] #8563 closed

[2020-10-16 15:10] #8544 closed

[2020-10-16 15:41] urvashigupta7 opened #8595 "Avoid displaying same message twice when a new research note is posted"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-16 15:43] urvashigupta7 commented on #8373
@jywarren I have created new [first-timer-issue](https://github.com/publiclab/plots2/issues/8595). Please take a look. Thanks !! :smile:

[2020-10-16 16:15] JonathanKreiter commented on #8595
Hi urvashigupta7, I would love to claim this issue if possible! :)

[2020-10-16 17:03] DhrutikPatel commented on #8587
Hello, @noi5e I would like to do PR on fifth option

[2020-10-16 17:39] MadhaviG97 commented on #8587
Hi, I would like to work on the sixth option

[2020-10-16 17:41] alvesitalo commented on #8587
Hi @noi5e , I would like to work on the seventh option

[2020-10-16 18:58] khadija-nur opened #8598 ""Sort by likes" button in Agriculture and Air Quality topics does not sort correctly"
### _Sort by likes_ does not work in agriculture and air quality topics

- When you go to "https://publiclab.org/tag/air-quality" or "https://publiclab.org/tag/agriculture"
and click on _sort by_ drop down menu then filter _by likes_ button the posts appear randomly
instead of being in a descending order depending on the number of likes they have

- see below:
- After filtering, the first post has

[2020-10-16 19:07] Shivratna commented on #8595
Hello @urvashigupta7 ,  I would like to work on this too. Hey @JonathanKreiter have you opened a pull request already ?😁

[2020-10-16 19:24] saitgulmez commented on #8448
Hi,
I'm Mehmet,  an applicant of Outreachy Dec 2020 internship program. I'm interested in open source projects and would like to join to this community.

[2020-10-16 19:45] saitgulmez commented on #6206
Hi,
I'm looking for an FTO related #css #js #html #bootstrap.  If there is any openned issue related these skills, could you please assign me.
Thanks in advance.

[2020-10-16 19:57] varun-b-g commented on #8595
Hi @urvashigupta7. I would like to work on this issue.

[2020-10-16 20:23] RuthNjeri commented on #8560
Hi @sagarpreet-chadha 👋🏾

I'm working on creating a manual node.. I am thinking of defining one in the node model file, similar to the [new_note](https://github.com/publiclab/plots2/blob/main/app/models/node.rb#L676) but without saving any details, since it creates the revision and author.

But I am not sure why revision is needed, because the body in the show view is defined as
`  <%= raw auto_li

[2020-10-16 20:57] jywarren commented on #6391
Just noting this is a great idea, and plenty of places to do this! For some cases, you can use `//` instead of `https://` and it will just default to whatever the current page is using. But that won't work in, for example, an email template.

Anyways, this is awesome, thanks!!!

[2020-10-17 05:19] urvashigupta7 commented on #8595
Since @JonathanKreiter commented first, let us just give him chance to give it a shot first :smile:. Please feel free to ask any questions.

[2020-10-17 06:04] Tlazypanda opened #8601 "Replace .length with .size in app/views/wiki/_header.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-17 06:13] varun-b-g commented on #8595
Yeah sure @urvashigupta7

[2020-10-17 06:46] sonylomo commented on #8601
Can you assign this to me?

[2020-10-17 06:49] Tlazypanda commented on #8601
@sonylomo go ahead :tada:

[2020-10-17 07:13] sonylomo commented on #8601
I've made a PR 😁. How do you link the PR to this issue?

[2020-10-17 07:36] sonylomo commented on #8601
Can you please add "hacktoberfest-accepted" label to my PR too?

[2020-10-17 08:33] Sagarpreet commented on #8560
Yes @RuthNjeri , you are going in the right direction 👍

Can you check this PR: https://github.com/publiclab/plots2/pull/8604, I have added a lot of TODO's (9-10 todo's 🙈 ) and you will get idea of how I am thinking of mocking the `model functions like has_power_tag` and others.
I want to use '/show' view file only for making 'previews' because it will be easy to maintain and in this way we will h

[2020-10-17 09:44] RuthNjeri commented on #8560
Thanks @Sagarpreet I'll look at the PR and add my contributions to it.. in my case, I had just defined the preview action with some minor changes on the show template, you've done a much better job breaking down what is required. I'll first try and understand the PR then begin asking/adding onto it..

[2020-10-17 11:52] kapoor2427 commented on #8601
@Tlazypanda  can you assign this to me?

[2020-10-17 14:05] harsh863 commented on #4776
hey @jywarren , can i work on this?

[2020-10-17 14:10] alvesitalo commented on #8598
Hey, can I work on this?

[2020-10-17 14:44] DhrutikPatel commented on #8601
hello, @Tlazypanda can I do this ?

[2020-10-17 15:31] jywarren commented on #8560
Hi all! this is awesome. Just to answer @RuthNjeri's Q about revisions, the body of all posts (nodes) is stored in a Revision record, so we have to mock that too. Unfortunately for us in this case, i believe the saving of both revision and node is interconnected, and in our case, we don't want to save either.

https://github.com/publiclab/plots2/blob/737f6fa9fc85774526689f0e90356f96bd6cc1a2/app/mo

[2020-10-17 19:28] #8573 closed

[2020-10-17 19:31] jatin-kumar-123 commented on #8601
Hello Tlazypanda... Can I work on this?

[2020-10-17 19:58] cesswairimu commented on #8373
FTO https://github.com/publiclab/plots2/issues/8595  thanks for converyting this to an fto @urvashigupta7 . Closing this. Thanks everyone :+1:

[2020-10-17 19:58] #8373 closed

[2020-10-17 20:05] cesswairimu commented on #8587
Maybe we should separate each file changes to individual issues  for review and merging purposes(we have automatic closure of issue once a linked PR is merged) @noi5e would you like to separate these? please ping me if you need any help. Thanks a lot for opening this :100:

[2020-10-17 20:19] edward-hong commented on #8448
Hi I'm Edward an applicant of Outreachy. This projects intrigues me and seems very first-timer friendly. I look forward to working with all of you!

[2020-10-17 20:20] noi5e commented on #8587
@cesswairimu Okay, got it. I think I'll have some time later today or tomorrow to make separate issues.

[2020-10-17 20:21] cesswairimu commented on #8587
Thanks @noi5e

[2020-10-17 20:24] edward-hong commented on #7683
Hi I'm an Outreachy applicant looking to contribute I'm proficient in HTML/CSS and Javascript and looking to learn Ruby. I would like to be assigned a first issue. looking forward to working with you!

[2020-10-17 21:57] gh-reshad commented on #8601
Hello @Tlazypanda ... is the issue still open? Can I work on it?

[2020-10-17 22:14] Galaxy-Coding commented on #8601
Can I work on this?

[2020-10-17 23:14] frankiefab100 commented on #8601
I would love to work on it

[2020-10-18 13:40] Cadreia commented on #6279
@jywarren, please I would like to work on this issue.

[2020-10-18 14:14] gauravano commented on #5047
Hi @Tlazypanda, sorry missed your message. Thanks to Stalebot :).

Yes, this issue is still valid as per the current state of the codebase. Notes controller allows only admin and co-authors to edit the node and not moderator so showing **Edit** button is inconsistent with backend API.

Thanks!!

[2020-10-18 15:19] SajjadAhmad14 commented on #8601
Love to contribute to this issue as this would be my first ever contribution to open source!

[2020-10-18 19:36] bugravirgomercury commented on #8601
Can I claim this issue? First time I'm contributing.

[2020-10-19 00:04] amarachi-nwokocha commented on #6767
please can i work on this @jywarren and @cesswairimu ??

[2020-10-19 00:11] amarachi-nwokocha commented on #6767
and where can ifind the codes for this page the console is quite confusing

[2020-10-19 08:14] IjayAbby commented on #8448
Hello Everyone I feel honored by the welcome wishes from the mentors and community at Public Lab. I am Ijay an Outreachy applicant would love @cesswairimu & @jywarren   to kindly tag me to any available first timer issues to work on.

[2020-10-19 09:01] cesswairimu opened #8613 "Change emoji on weekly-check-in"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-19 09:02] cesswairimu commented on #8613
Reserved for @aissshah

[2020-10-19 09:02] cesswairimu commented on #7683
@aissshah here you go https://github.com/publiclab/plots2/issues/8613

[2020-10-19 09:09] cesswairimu opened #8614 "Replace .length with .size on views/home/home.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-19 09:09] IjayAbby commented on #7683
Hello everyone!
I am  an outreachy applicant, looking to contribute.
Would appreciate being assigned a first-timers issue.

[2020-10-19 09:09] cesswairimu commented on #8614
Reserved for @edward-hong

[2020-10-19 09:09] cesswairimu commented on #7683
@edward-hong  here is one for you  https://github.com/publiclab/plots2/issues/8614

[2020-10-19 09:13] cesswairimu opened #8615 "replace .length with .size on /home/subscriptions"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-19 09:13] cesswairimu commented on #8448
@IjayAbby  here you go https://github.com/publiclab/plots2/issues/8615

[2020-10-19 09:14] cesswairimu commented on #8615
Reserved for  @IjayAbby

[2020-10-19 09:17] cesswairimu commented on #7683
@IjayAbby  here https://github.com/publiclab/plots2/issues/8615 you go

[2020-10-19 09:21] cesswairimu commented on #8598
Hi @alvesitalo, we would love your help. Go ahead . Thanks

[2020-10-19 09:31] IjayAbby commented on #7683
Working on it @cesswairimu

[2020-10-19 09:34] cesswairimu commented on #6767
Go ahead @amarachi-nwokocha. Thanks

[2020-10-19 09:44] cesswairimu commented on #8448
Hello everyone, its great to have you all here and  hope everything is going on well. If you still haven't got a first-timer issue to work on please let us know and we will try to find you one. The application deadline is 2 weeks away, this would be a good time to start drafting a [proposal](https://publiclab.org/notes/cess/10-02-2020/call-for-proposals-outreachy-winter-2020) to give mentors a cha

[2020-10-19 10:04] IjayAbby commented on #7683
@cesswairimu  kindly review this on https://github.com/publiclab/plots2/pull/8616

[2020-10-19 10:19] Prathamesh-Shanbhag commented on #7683
Hey Everyone I am new to this and would like some help with some good first issues?

[2020-10-19 12:00] Sagarpreet commented on #8448
Agreed with @cesswairimu , it is good time to start writing your draft proposals and share with us sooner to get better reviews and then you will have plenty of time to incorporate the changes if any in your proposals 😄

[2020-10-19 12:05] urvashigupta7 commented on #5758
Hi @jywarren. I would like to work on this. :)

[2020-10-19 13:17] ebarry commented on #8598
Thank you for reporting this @khadija-nur -- this is a valuable contribution! 🤝
and thank you @@alvesitalo for putting in some work to fix this 😃

[2020-10-19 13:38] ebarry commented on #8587
Thank you @noi5e ! Excellent signposting for the community.

[2020-10-19 13:43] ebarry commented on #4980
Thanks for everyone's work on this, this issue is fully resolved, and i'm going to close it. Thanks all!

[2020-10-19 13:43] #4980 closed

[2020-10-19 13:55] ebarry opened #8618 "Remove emoji left by banned user accounts"
### Please describe the problem (or idea)

I was reading a post on publiclab.org, and was inspired to leave an emoji. When i scrolled down to see if the emoji was there, i noticed a couple other people had left emoji, and one of them had a suspiciously spammy username: dariensmith000

<img width="223" alt="Screen Shot 2020-10-19 at 9 48 42 AM" src="https://user-images.githubusercontent.com/161439/

[2020-10-19 13:56] RuthNjeri opened #8619 "Weekly Community Check-In # 79 - Draft Your Outreachy Proposal"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-10-19 13:59] RuthNjeri commented on #8448
Hi everyone!
Thanks for the reminder @cesswairimu and @sagarpreet-chadha

It's this week's focus in the weekly [check-in](https://github.com/publiclab/plots2/issues/8619)

[2020-10-19 14:06] ebarry commented on #5031
I would also like to clarify this issue. Seems like @daddyjab added the borders in their pull request from last year, but i don't see it integrated on the site. If we no longer want different borders, that's fine, we should just clearly stop work on this if so and close this issue. @jywarren thanks :)

[2020-10-19 14:13] ebarry commented on #5360
I believe this has been fixed along the way when the menu was updated to offer the option to sort "by last updated":
<img width="205" alt="Screen Shot 2020-10-19 at 10 10 32 AM" src="https://user-images.githubusercontent.com/161439/96462240-5c685a80-11f3-11eb-9cd2-23ffce5212fe.png">

In this gif i show https://publiclab.org/tag/indoor-air-quality, with correctly sorted "last updated" results:
![so

[2020-10-19 14:13] #5360 closed

[2020-10-19 14:25] ebarry commented on #8619
Happy October everyone 🎃
I am going back through old first-timers-only issues and closing them when the original issue has already been resolved for some reason such as the design of the page changing and eliminating the issue in that way. It's really encouraging to see so much energy in the repos, and so much energy going to orient and guide newer contributors and reviewing their contributions.

[2020-10-19 14:28] Cadreia commented on #8619
@cesswairimu, I would love to create next week's check-in, if it's okay.

[2020-10-19 14:50] ebarry commented on #6391
Thanks @noi5e ! Looks like your new issue got a lot of uptake with 5+ contributors writing code towards it, thank you for unblocking these contributions!
Once that issue is closed, let's be sure to come back here and close this one too :)

[2020-10-19 14:50] jhalak27 commented on #8615
Hey, I am new here. Can I work on this?

[2020-10-19 14:53] jhalak27 commented on #8614
Hey, I am new here. Can I work on this?

[2020-10-19 14:55] RuthNjeri commented on #8560
Thanks for the clarification @jywarren, it's beginning to make much more sense now..

[2020-10-19 14:59] jhalak27 commented on #7683
Hey, I am new here and I am trying to participate in hacktober fest. If possible could I be assigned any good first issue? I am proficient in c++ and familiar with Python, JavaScript, React, HTML, CSS. Looking forward to it!

[2020-10-19 15:27] cesswairimu commented on #8601
Fixed in https://github.com/publiclab/plots2/pull/8602/files

[2020-10-19 15:27] #8601 closed

[2020-10-19 15:27] stacytonui commented on #8619
Thankyou!! @RuthNjeri
Also Thankyou @cesswairimu and @jywarren who have made the whole contribution process very easy esp to first time contributors like me

[2020-10-19 16:31] Shreets commented on #8619
Thank you very much @RuthNjeri for this great check-in!
It was real awesome to get first crack at open source with Public Lab.
Thanks to @cesswairimu , @jywarren for being vigilant to our calls for help and for creating ever-so-encouraging environment for us to work and learn in.
Really appreciate it!

@Cadreia - good luck with the check-in next week :)

[2020-10-19 16:39] amarachi-nwokocha commented on #2220
hi @gauravano i dont really get the meaning of your comment but i changed the link on my pull request please take a look if im right a feedback would be great here is the link to the pull request : https://github.com/amarachi-nwokocha/plots2/pull/1
Thanks.

[2020-10-19 16:45] divijabsingh commented on #8615
hi this is my first claim. I'd love to start my open source journey by working on this issue.

[2020-10-19 17:16] Cadreia commented on #8619
@Shreets Thanks!

[2020-10-19 17:48] tejaswini22199 commented on #8587
Hey @noi5e  is there any box that is not merged yet? or all the 6 files have been modified?

[2020-10-19 17:50] tejaswini22199 commented on #6598
Hey @nstjean  can I work on this issue ?

[2020-10-19 17:57] Suhas1998 commented on #8613
Hi, Im first time trying to contribute. Is this issue still open for me to work on?

[2020-10-19 18:04] cesswairimu commented on #8614
Hey @jhalak27, this is assigned to someone else. Thanks

[2020-10-19 18:06] cesswairimu commented on #8615
Hi @jhalak27 and @divijabsingh sorry, someone is already working on this issue. I will add your names #7683 and we will ping you when we get a fto for you. Thanks

[2020-10-19 18:07] #8615 closed

[2020-10-19 18:09] cesswairimu commented on #8619
Sure thing @Cadreia thanks :tada:

[2020-10-19 18:13] cesswairimu commented on #8613
Hey @Suhas1998 , this is reserved for @aissshah, adding your name here #7683  and will ping when we get a issue for you. Thanks

[2020-10-19 18:19] aissshah commented on #8613
Hi @cesswairimu very happy to work on this!
Thank you so much

[2020-10-19 18:21] cesswairimu commented on #7683
Hi @jhalak27, could you kindly checkout https://github.com/publiclab/PublicLab.Editor/issues/628 see if its smth you would be interested on working on?  The Editor is a javascript project you could find more js issues there. Thanks

[2020-10-19 18:25] cesswairimu commented on #8618
@RuthNjeri would you like to give this a try?

[2020-10-19 18:33] ana-vela commented on #6598
Hi, @tejaswini22199 ! This issue fix is in progress. I'm adding @jywarren as well in case we need any clarification. Thanks!

[2020-10-19 18:33] mlcomeau commented on #8546
Hello, first-time contributor here, can I work on this? Thanks!

[2020-10-19 18:40] cesswairimu commented on #8587
Reopening

[2020-10-19 18:43] #8426 closed

[2020-10-19 18:57] cesswairimu commented on #8401
Noting that this has re-appeared again
[code]

[2020-10-19 19:14] RuthNjeri commented on #8618
Thanks @cesswairimu, I am currently working on this one https://github.com/publiclab/plots2/pull/8620
I'll leave this one for someone else to pick up, if I'll finish the one I am working on, I'll pick this up if it is not yet assigned.

[2020-10-19 20:34] mscreation28 commented on #8587
Hey @noi5e I am trying to to do my first pull request. Can you assign me this task if any left and tell me what to change in reopened issue?

[2020-10-19 21:31] dldisha commented on #8619
@RuthNjeri, great work creating this week's check-in :tada:

[2020-10-19 21:35] #6155 closed

[2020-10-19 21:38] edward-hong commented on #8614
Hi @cesswairimu thank you for assigning this to me I will start working on this immediately

[2020-10-19 21:41] first-timers[bot] opened #8623 "Remove "tags" icon from tag input"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-19 22:22] tawahpeggy commented on #8623
i will work on this issue

[2020-10-19 22:45] tawahpeggy commented on #7321
@cesswairimu i have studied the issue stated here but i have reasons to
think it has been sorted out already cause reply to comment by email is
working fine. except i havent gotten the point why the issue was written.
please any help will be appreciated.

On Thu, Oct 15, 2020 at 9:26 PM PEGGY TAWAH <tawahpeggy98@gmail.com> wrote:

[2020-10-19 23:27] jywarren commented on #8572
Hi @tawahpeggy - can you link us to the PR you've created? Thank you!

[2020-10-19 23:28] jywarren commented on #8623
Hi @tawahpeggy - as you've completed a `first-timers-only` issue at https://github.com/publiclab/plots2/issues/8572, would you like to help someone else take this up as their very first one? Maybe one of the people who has asked for an issue in the chatroom in the past couple days?

Thank you so much!!

[2020-10-19 23:28] first-timers[bot] opened #8624 "Remove "tags" icon from tag input"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-19 23:29] first-timers[bot] opened #8625 "Remove map marker button from tags input"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-19 23:30] #8624 closed

[2020-10-19 23:30] jywarren commented on #8624
Oops duplicate of #8623 !

[2020-10-19 23:40] shrena-patel commented on #8625
I would like to take this one please :)

[2020-10-19 23:41] jywarren commented on #6767
Hi @amarachi-nwokocha i want to say i think it happens in this `content` div:

https://github.com/publiclab/plots2/blob/e03f05e8a7f9d14674d5e1cf179ff376a4efaba6/app/views/wiki/show.html.erb#L37-L43

The styles for it should be in:

https://github.com/publiclab/plots2/blob/main/app/assets/stylesheets/style.css#L47

I hope that helps!! Thank you!

[2020-10-19 23:42] jywarren commented on #8625
That'd be great, please go ahead and be sure to link to your pull request as soon as you create one! Thanks!

[2020-10-19 23:53] shrena-patel commented on #8625
Thanks, will do.

Just to check, I have forked the repo and edited the file in github rather than cloning the repo and creating a branch for the issue - is that okay? I just followed what the instructions said. Also, are the tests the checklist refers to just the green 'able to merge' text? This is my first open source contribution in case you can't tell! Thanks :)

[2020-10-20 00:38] Prathamesh-Shanbhag commented on #7683
Hey @cesswairimu I think you missed out on my comment ,please check? Thanks!

[2020-10-20 01:02] shrena-patel commented on #8625
Link to pull request for review: https://github.com/publiclab/plots2/pull/8627

[2020-10-20 01:14] alvesitalo commented on #8598
Hi everyone, I tested locally with some posts but I can't see any problem with sorting by likes. Have you experienced this issue? @ebarry @cesswairimu

[2020-10-20 01:14] KarenEfereyan commented on #8619
Thank you so much to the entire team at Public Lab. Working with you all has been awesome. A big shout out to the mentors for their unending support. Another big shout out to all the contributors on this project. You all are amazing. @RuthNjeri I would like to create the check in for next week, although I am not particularly sure what it'll involve but I'm counting on the support of everyone.

[2020-10-20 02:54] jywarren commented on #8625
Yes, that's fine, and thanks for the link, i'll hopefully review tomorrow! You should be able to start up the project with your changes by clicking the "Gitpod" button, too, in your PR! Great work!

[2020-10-20 03:21] kimcheung commented on #8623
Hi! Can I take this on?

[2020-10-20 04:12] urvashigupta7 commented on #5758
![Screenshot from 2020-10-20 09-41-57](https://user-images.githubusercontent.com/41363633/96539374-8899df00-12b8-11eb-8544-04d52090860f.png)
 I guess this looks perfect. @jywarren :thinking:

[2020-10-20 05:07] bibbudata commented on #7683
@cesswairimu I am trying open source for the first time, any way you can put me in the list? Thanks!

[2020-10-20 05:17] AnneThor commented on #8448
Hello! My name is Anne and I'm an outreachy applicant looking for a first time issue, is there anything out there for me? :)

[2020-10-20 06:01] noi5e opened #8629 "Change http to https in drupal_content_type_map.rb"
🔊  **NOTE:** _(This issue is a part of Issue #8587 and has been claimed at the time of writing this issue. However, there are several places in the codebase where this change needs to happen, and issues haven't been made for each instance yet. If you are a first-time contributor, please refer to #8587 for more info on how to find instances of 'http' in the codebase. From there, you can make your o

[2020-10-20 06:03] noi5e commented on #8629
@cesswairimu @jywarren, please assign @yashmohan100 to work on this issue, they claimed it in #8587.

[2020-10-20 06:07] noi5e opened #8630 "Change http to https in notify_moderators_of_spam.html.erb"
🔊  **NOTE:** _(This issue is a part of Issue #8587 and has been claimed at the time of writing this issue. However, there are several places in the codebase where this change needs to happen, and issues haven't been made for each instance yet. If you are a first-time contributor, please refer to #8587 for more info on how to find instances of 'http' in the codebase. From there, you can make your o

[2020-10-20 06:09] noi5e commented on #8630
@cesswairimu @jywarren , @Kennygrace needs to be assigned to this issue, they have an open PR at https://github.com/Kennygrace/plots2/pull/1.

I decided not to type up extensive issue notes if the contributor already has an open PR, I thought it would be overkill since it seems as if they don't need the help.

[2020-10-20 06:10] noi5e opened #8631 "Change http to https in notify_moderators_of_comment_spam.html.erb"
🔊  **NOTE:** _(This issue is a part of Issue #8587 and has been claimed at the time of writing this issue. However, there are several places in the codebase where this change needs to happen, and issues haven't been made for each instance yet. If you are a first-time contributor, please refer to #8587 for more info on how to find instances of 'http' in the codebase. From there, you can make your o

[2020-10-20 06:11] noi5e commented on #8631
@cesswairimu @jywarren, please assign @amanda-ariyaratne to this issue. They have an open PR at https://github.com/publiclab/plots2/pull/8593.

I decided not to type up extensive issue notes if the contributor already has an open PR, I thought it would be overkill since it seems as if they don't need the help.

[2020-10-20 06:15] noi5e opened #8632 "Change http to https in _history.html.erb"
🔊  **NOTE:** _(This issue is a part of Issue #8587 and has been claimed at the time of writing this issue. However, there are several places in the codebase where this change needs to happen, and issues haven't been made for each instance yet. If you are a first-time contributor, please refer to #8587 for more info on how to find instances of 'http' in the codebase. From there, you can make your o

[2020-10-20 06:16] noi5e commented on #8632
@cesswairimu @jywarren Please assign @MinervaLong to this issue.

[2020-10-20 06:17] noi5e opened #8633 "Change http to https in db/seeds.rb"
🔊  **NOTE:** _(This issue is a part of Issue #8587 and has been claimed at the time of writing this issue. However, there are several places in the codebase where this change needs to happen, and issues haven't been made for each instance yet. If you are a first-time contributor, please refer to #8587 for more info on how to find instances of 'http' in the codebase. From there, you can make your o

[2020-10-20 06:18] noi5e commented on #8633
@cesswairimu @jywarren please assign @MadhaviG97 to this issue, their open PR is at https://github.com/publiclab/plots2/pull/8597.

I decided not to type up extensive issue notes if the contributor already has an open PR, I thought it would be overkill since it seems as if they don't need the help.

[2020-10-20 06:22] sleekyom commented on #8632
Can i take the task if it's still available?

[2020-10-20 06:25] noi5e commented on #8587
@cesswairimu Okay, I opened new FTO issues for 5 out of the 6 instances (in the 6th instance, the PR was already merged). Hope that helps the organization a little bit.

Any first-time contributor that's reading this and still looking for an FTO issue: I believe that there are **still** instances of http left in the codebase that need to be converted to https. Please read the initial notes I poste

[2020-10-20 06:27] noi5e commented on #8632
@sleekyom, @MinervaLong was the first to claim it in #8587, but I think if it's still open in 48 hours, comment again?

[2020-10-20 06:30] noi5e commented on #8618
@cesswairimu I'd like to give this a try if possible!

[2020-10-20 06:34] sleekyom commented on #8632
Sure!
Thanks

[2020-10-20 07:27] jwalit21 commented on #8587
hey @noi5e..

Till i've found these 2 new issues in files where we might have to change http to https based on how you have explained in GIF.
Those files are  **1. notes_controller_test.rb**  **2. critical_path_css.yml**

I'm a first-timer, and i want to contribute in this project.
so can you please confirm that the issues i founded i correct and valid or not?

And if it is **valid** then can you

[2020-10-20 07:48] cesswairimu commented on #8623
Go ahead @kimcheung , thanks

[2020-10-20 07:53] cesswairimu commented on #7321
Hey @steviepubliclab @ebarry could you please confirm if this is still happening in production? Thanks

[2020-10-20 07:55] cesswairimu commented on #8598
@alvesitalo yeah, it is happening in production if you go to https://publiclab.org/tag/agriculture" and select sort by likes you will see the second and third post may have more likes than the first one. I will test locally see if I can replicate

[2020-10-20 08:02] cesswairimu commented on #7683
Hey @Prathamesh-Shanbhag, I already added you to the list :smiley: @bibbudata sure thing added. Thanks all

[2020-10-20 08:38] bibbudata commented on #8633
@noi5e if it is still available can i take it up? #7683

[2020-10-20 08:43] cesswairimu commented on #8629
For some reason I can't see @yashmohan100 when I search on the assignee tab, but its all your @yashmohan100 and I have labelled it as assigned. Thanks so much @noi5e

[2020-10-20 08:45] cesswairimu commented on #8630
Sounds good, thanks @noi5e

[2020-10-20 08:46] cesswairimu commented on #8618
Go ahead @noi5e, thanks

[2020-10-20 08:49] #8614 closed

[2020-10-20 09:07] MinervaLong commented on #8632
Hello @noi5e @jywarren @cesswairimu   I'm still interested in this issue, please could you assign it to me? Thank you :)

[2020-10-20 10:31] StlMaris123 commented on #8542
How about using a grid?

[2020-10-20 11:57] fiona-byte commented on #8619
Thank you @RuthNjeri for creating this week's check-in.
I really want to appreciate the mentors and the entire Public Lab team for their support.
A big shout out to @cesswairimu and @jywarren for creating a really friendly environment to learn and also for their unending encouragement.

Thank you! 🎉

[2020-10-20 12:30] RuthNjeri commented on #8619
Thank you @KarenEfereyan, @Cadreia already mentioned she would like to create next week's check-in, maybe you could do it the week after? Also, when drafting one, you can always consult @cesswairimu she is really helpful in giving feedback.

[2020-10-20 12:35] RuthNjeri commented on #5627
Hi @skilfullycurled 👋🏾

You could add @Cadreia for the upcoming check-in (80) and @KarenEfereyan for the next one (81) 🎉 🎉

[2020-10-20 12:56] christyram99 commented on #7683
Hello everyone, my name is Ramaiah. I would like to contribute. Assign me any first time good issue.

[2020-10-20 13:44] kamzzy commented on #8619
thank you everyone that made it easier for first timers like me to contribute to open source

[2020-10-20 14:08] tawahpeggy commented on #8623
Hello @kimcheung i don't know but i have searched your name on the publiclab's chatroom on guitter but i didnt find. are you part of it? if not, here is the link: https://gitter.im/publiclab/publiclab please join.

[2020-10-20 14:35] jywarren commented on #8598
Hi all, thanks @khadija-nur for finding this, and @alvesitalo for looking deeper - it seems like it may be pretty intermittent, which can be really tough to debug.

I wonder if we are sorting by cached likes count versus a count "on the fly" - see the model for tracking and caching likes at:

https://github.com/publiclab/plots2/blob/27a3839154e0cec071860448f99697f9c831042c/app/models/node.rb#L1039

[2020-10-20 14:37] jywarren commented on #8598
I'll spin out that last idea about filtering banned users from `cached_likes` into its own issue. It's just a one-line change too!

[2020-10-20 14:41] first-timers[bot] opened #8639 "Filter spam users from `node.cached_likes` calculations"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-20 14:43] jywarren commented on #8598
I spun that out into a first-timers-only issue at https://github.com/publiclab/plots2/issues/8639 !

I could do the same for the template change above too, if it's helpful?

[2020-10-20 14:55] jywarren commented on #8566
Hi all! Thank you so much for your help. I think this may best be completed in a few different parts:

* [ ] clicking "Save" doesn't apparently do anything, because you're just dropped back on the dashboard: let's ensure we add a `flash[:notice]` telling the user that the location was saved! Or, it may require the use of the `noty` helper to make an alert appear in pure Javascript: https://github.

[2020-10-20 15:18] kimcheung commented on #8623
PR: https://github.com/publiclab/plots2/pull/8638

[2020-10-20 15:19] jywarren commented on #5490
https://stable.publiclab.org/stats?start=20-07-2010&end=20-10-2020 is still returning a 404 `Page does not exist` error, so i will leave this open for reference! Thanks!

[2020-10-20 15:27] jywarren commented on #5490
And noting @skilfullycurled's note on a "workaround date range" in https://github.com/publiclab/plots2/issues/5904#issuecomment-502881778 -

this in #6050 means that the "all time" option will be **only going back to Jan 1, 2014**.

Next steps summarized by @skilfullycurled here:

https://github.com/publiclab/plots2/pull/6050#issuecomment-519218641

[2020-10-20 15:36] jywarren commented on #5490
OK, just an update in looking for `NodeTag` records with no associated `Tag` record as @skilfullycurled mentioned in #6050, I found these `tids` to look at:

[code]

indeed:

[code]

I'll try figuring out which is missing.

[2020-10-20 16:11] tawahpeggy commented on #8623
great work on your first PR @kimchueng. keep up, the sky is your starting
point.
now that you have completed your FTO start a hunt to search for other non
FTO issues here:
https://github.com/publiclab/plots2/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22.
a common mistake is to forget that the issues page is paginated and we
may tend to check just the first, when there are up to  8 pages.

[2020-10-20 16:16] jywarren commented on #5490
https://stable.publiclab.org/stats?start=20-07-2010&end=20-10-2020 still shows a 404, so i'll keep looking for extra `NodeTag` records with no associated `Tag` record.

[2020-10-20 16:21] kimcheung commented on #4112
Looks like this is still open, can I take it?

[2020-10-20 16:46] jywarren opened #8641 "Questions vs. Answers bar chart not appearing on tag stats pages like /tag/air-quality/stats"
https://publiclab.org/tag/air-quality/stats shows the Questions Answered vs. Unanswered heading, but seems to need a tweak to its controller code to match the version at https://publiclab.org/stats

Here is the working code for /stats:

https://github.com/publiclab/plots2/blob/27a3839154e0cec071860448f99697f9c831042c/app/controllers/stats_controller.rb#L44-L45

And it shows up like this:

![Screen

[2020-10-20 16:56] tawahpeggy commented on #8448
Hello @AnneThor  this is a first timer issue: https://github.com/publiclab/plots2/issues/8625 check if its still available and you can work on it if its okay by @jywarren. incase you encounter any problems you can ping me.

[2020-10-20 17:12] AnneThor commented on #8625
Hi @jywarren! I was directed to this issue as a good first-timers issue (I'm an outreachy applicant), but it looks like it is already resolved? Do you have anything else available? Thanks!!

[2020-10-20 17:14] jywarren opened #8642 "Discrepancy in tag stats CSV download counts and tab labels on /tag/air-quality"
Jeanette from the PL staff noted a discrepancy - when downloading a CSV and summing notes, questions, and wikis, the totals Jeanette got are:

`From /stats: notes = 206; questions = 97; wikis = 42`

However this was for a range of: https://publiclab.org/tag/air-quality/stats?utf8=%E2%9C%93&start=01-01-2010&end=14-10-2020&commit=Go

These don't match the tab totals shown at https://publiclab.org/ta

[2020-10-20 17:27] jywarren commented on #8642
The explanatory text currently says:

So the text could be expanded to:

[2020-10-20 17:28] jywarren commented on #8642
Link to "deprecating tag aliasing" - https://github.com/publiclab/plots2/issues/6367

[2020-10-20 17:47] jywarren commented on #6446
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2020-10-20 17:49] jywarren commented on #6851
Hi! Unfortunately it looks like this was completed! I'm going to close it but please see https://code.publiclab.org for more!

![image](https://user-images.githubusercontent.com/24359/96624656-066ee200-12db-11eb-839c-c30f0e08fe91.png)

[2020-10-20 17:49] #6851 closed

[2020-10-20 17:51] jywarren commented on #8619
It's so wonderful to see you all! SO MUCH appreciation for those who've taken their first step -- and to those who've helped someone else do the same! Thank you @RuthNjeri for opening this and for the excellent 🥇🥇🥇🥇🥇

It's also wonderful to see people volunteering to open check-ins. We often coordinate in https://github.com/publiclab/plots2/issues/5627 (which is usually pinned but we replaced it w

[2020-10-20 17:53] jywarren commented on #8448
Hi Anne - I've just created one at https://github.com/publiclab/plots2/issues/8639 if you leave a comment there you can claim it!

[2020-10-20 18:02] AnneThor commented on #8639
Hi @jywarren, thank you for getting back to me so quickly! I would love to take this one! Much appreciated :)

[2020-10-20 18:14] first-timers[bot] opened #8644 "Add more explanatory text to tag stats pages"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-20 18:17] IjayAbby commented on #8644
@jywarren working on this.

[2020-10-20 18:28] noi5e commented on #8632
@MinervaLong okay good to know you're still interested... You already reserved this in the other thread, so please go ahead and work on your pull request! And leave a comment here or in Gitter if you need help.

[2020-10-20 18:31] noi5e commented on #8633
Hi all, @MadhaviG97 claimed this issue in the other thread, and submitted a PR, so I believe their PR should take priority. @jywarren

[2020-10-20 18:34] noi5e commented on #8587
@jwalit21 Awesome, that's great! I'll leave it to @jywarren and @cesswairimu to decide if they want the changes to be made in those files...

Also, I encourage you to make your own FTO issue. (I'm pretty new to this codebase and only just recently completed my own FTO issue). More info here: https://publiclab.org/notes/warren/10-31-2016/create-a-welcoming-first-timers-only-issue-to-invite-new-soft

[2020-10-20 18:55] RuthNjeri opened #8646 "Discussion: Update .rubocop_shopify_styleguide.yml"
When I run `rubocop -a app/controllers/notes_controller.rb` or `rubocop -a <any other file>` I receive a series of errors from that show that the `.rubocop_shopify_styleguide.yml` has obsolete configurations.

Should it be updated?

![Screenshot 2020-10-20 at 21 46 14](https://user-images.githubusercontent.com/7622875/96631069-88342f00-131e-11eb-97c9-0cffd3764fa3.png)

Hi, this is a [first-timers-

[2020-10-20 18:56] RuthNjeri commented on #8646
Tagging @jywarren and @cesswairimu in the discussion above.

[2020-10-20 19:25] h20190907 commented on #8646
Please assign this issue to me. I am new to the open-source community and looking forward to opportunities to contribute. Thanks in advance!

[2020-10-20 19:49] saitgulmez commented on #7683
Hi,
i'm Mehmet, an applicant of Outreachy. Could you please add me to the list above and assign me first time good issue.

[2020-10-20 19:55] Kennygrace commented on #8630
@noi5e  This is what I worked on, and I made a  PR already, should I do it again?

[2020-10-20 19:55] Muskan-Malhotra commented on #8630
May I take up this issue if it is available?

[2020-10-20 20:00] Muskan-Malhotra commented on #8629
May I contribute to this issue?

[2020-10-20 20:00] saitgulmez commented on #8448
Hi
 i'm Mehmet, an applicant of Outreachy and i really get stuck to find an
issue to deal with. Could you please assign me any issue that i can do?

Thanks in advance

On Tue, Oct 20, 2020 at 8:54 PM Jeffrey Warren <notifications@github.com>
wrote:

[2020-10-20 20:13] #8623 closed

[2020-10-20 20:23] noi5e commented on #8630
@Kennygrace no definitely don't do it again! I've linked to your PR here, so hopefully @jywarren or someone else will review it and merge it soon.

[2020-10-20 20:41] tawahpeggy commented on #8448
Hi Mehmet Sait Gülmez welcome to publiclab. be patient and watchful a
mentor will soon open a first timers only issue for
you. @jywarren @cesswairimu

On Tue, Oct 20, 2020 at 9:01 PM Mehmet Sait Gülmez <notifications@github.com>
wrote:

[2020-10-20 21:04] alvesitalo commented on #8598
Cool, it is. Thank you for clarifying this bug @jywarren

[2020-10-20 21:21] jywarren commented on #5490
Hmm, i tried a bunch of ways like https://stackoverflow.com/questions/5319400/want-to-find-records-with-no-associated-records-in-rails, but didn't have much success --

[code]

I also just tried collecting ALL NodeTag `tids` and subtracting all valid Tag `tids`, which took a while:

[code]

So, doesn't that mean all NodeTags have valid `tids`?

Maybe we should look in Sentry for another kind of er

[2020-10-20 21:27] jywarren commented on #5490
Ah! was looking in the wrong directory! Got it!

[code]

[2020-10-20 21:29] jywarren commented on #5490
https://stable.publiclab.org/stats?start=20-01-2013&end=20-01-2014 now works!

[2020-10-20 21:30] jywarren commented on #5490
https://publiclab.org/stats?start=20-01-2013&end=20-01-2014 now works too!

https://stable.publiclab.org/stats?start=20-01-2010&end=20-01-2020 ... loading it... it'll take a while...

[2020-10-20 21:31] jywarren commented on #5490
Yes, https://stable.publiclab.org/stats?start=20-01-2010&end=20-01-2020 now works too. Thanks, all - and should we make "all time" now really go back to 2010, @cesswairimu ?

https://github.com/publiclab/plots2/pull/6050 - maybe we could modify this as an FTO and close this issue now?

[2020-10-21 03:18] kimcheung commented on #4112
PR posted https://github.com/publiclab/plots2/pull/8640

[2020-10-21 04:27] AnneThor commented on #8639
@jywarren let me know if there are any issues with that! :)

[2020-10-21 09:02] nk183 commented on #8644
can I work on this if still open?

[2020-10-21 09:03] nk183 commented on #8646
can I work on this issue ?

[2020-10-21 09:13] IjayAbby commented on #8619
I really want to appreciate the mentors and the entire Public Lab team for their support.
A big shout-out to @cesswairimu and @jywarren for coordinating together to ensure no one is left behind on the on-boarding process and always replying on-time to any concerns any of us had. They also created friendly first-timer issues which make it easier for anyone to take part regardless of your experience

[2020-10-21 11:08] cesswairimu commented on #5490
This is great :tada:  yeah that will be awesome. Creating an fto. Thanks Jeff.

[2020-10-21 12:01] cesswairimu opened #8652 ""All time" stats"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-21 12:02] cesswairimu commented on #8448
@saitgulmez you can checkout this one https://github.com/publiclab/plots2/issues/8652

[2020-10-21 12:07] cesswairimu commented on #5490
I've created an fto https://github.com/publiclab/plots2/issues/8652.

I also think it would be a much faster to do `.size`  on all data when getting 'all time' stats instead of using the where range clause _(where timestamp btn 2010..NOW()_. I will create a follow-up for that after the fto is done.  Thanks everyone, closing this

[2020-10-21 12:07] #5490 closed

[2020-10-21 12:30] cesswairimu opened #8654 "Count all-time stats without where clause"
Following up  #https://github.com/publiclab/plots2/issues/5490 and https://github.com/publiclab/plots2/issues/8652
The instance variables here
https://github.com/publiclab/plots2/blob/fc11ad2b1b03aab6e3f313e8eab1d701cae49714/app/controllers/stats_controller.rb#L28-L47

The range currently is
https://github.com/publiclab/plots2/blob/fc11ad2b1b03aab6e3f313e8eab1d701cae49714/app/controllers/stats_con

[2020-10-21 12:35] cesswairimu commented on #8587
Great :tada: , thanks @noi5e  :tada:  @jwalit21 I will check if the hyperlinks can be changed on the tests and revert. Thanks

[2020-10-21 12:36] cesswairimu commented on #8652
Reserved for @saitgulmez

[2020-10-21 12:41] cesswairimu commented on #5627
Upcoming
----------------

80th: @Cadreia
81st: @KarenEfereyan

Thanks @RuthNjeri

[2020-10-21 12:52] cesswairimu commented on #8630
@Kennygrace, it seems you made the pull request on your repo, you can create one on plots2. Thanks

[2020-10-21 12:52] cesswairimu commented on #8630
You can use this link https://github.com/publiclab/plots2/compare/main...Kennygrace:Kennygrace-patch-1

[2020-10-21 13:16] adi-mohan commented on #8516
Hi @KarenEfereyan ! May I work on this issue?

[2020-10-21 13:18] cesswairimu commented on #8572
I just merged another PR that fixes this https://github.com/publiclab/plots2/pull/8576. Sorry @tawahpeggy   I will get another issue for you. Closing this. Thanks all

[2020-10-21 13:18] #8572 closed

[2020-10-21 13:24] cesswairimu commented on #8516
Hi @adi-mohan go ahead.
@shallom-dot  we are releasing this for @adi-mohan to work on since its been a week already. We understand you might be busy with other things just ping us next time you want to contribute. Thanks

[2020-10-21 13:27] #4112 closed

[2020-10-21 13:39] #8632 closed

[2020-10-21 13:39] cesswairimu commented on #8632
Thanks everyone :tada:

[2020-10-21 13:48] RuthNjeri commented on #8646
Hi @nk183, the issue hasn't been given a "go ahead" yet by @jywarren and @cesswairimu, it's still a discussion..
If approved, @h20190907 will be assigned since he reached out first...however, in the meantime, both of you can mention that you are looking for an issue to work on  [here](https://github.com/publiclab/plots2/issues/8448#issuecomment-713519173)

[2020-10-21 13:56] khadija-nur commented on #8566
Thanks for the additional info @jywarren, they're super helpful

[2020-10-21 13:58] #8639 closed

[2020-10-21 14:09] cesswairimu commented on #8644
@IjayAbby  would you mind leaving this one to a first-time contributor since you have already tackled a first-time issue.

[2020-10-21 14:48] cesswairimu commented on #8646
Hey thanks @RuthNjeri for opening this. Yeah we can try it out with one file see how travis and codeclimate will behave.

@h20190907 you can go ahead lets start with file Ruth suggested notes_controller.
@nk183  you could keep an eye on how this goes if successful we can move to other files.

Thanks everyone

[2020-10-21 14:51] bhamster07 commented on #8619
Thanks so much to everyone for all the fantastic work! As one of the Public Lab staff who uses the website everyday, I greatly appreciate all that you're doing ❤️

[2020-10-21 15:37] saitgulmez commented on #8448
Hi,
I'll definitely check it. At first, i tried to compile github sources codes
on Ubuntu 18.04 but i got some problems with gem,ruby and so on. Now i'll
do build source codes on windows 10  (Even i'm using Ubuntu more than 10
years and get used to it). Thank you.

On Wed, Oct 21, 2020 at 3:02 PM Cess <notifications@github.com> wrote:

[2020-10-21 16:14] cesswairimu commented on #8448
Hi @saitgulmez, its much easier to develop with Linux. If you would like to give Ubuntu installations another try we could help, there is a thread [here](https://github.com/publiclab/plots2/issues/3840) that has almost all the issues encountered when installing and their solutions if you have a new error you can post it there or on the chat. If you are doing first-time installation [this](https://

[2020-10-21 16:29] IjayAbby commented on #8644
@cesswairimu  it is okay and @nk183  you can go ahead and work on the issue.

[2020-10-21 16:41] cesswairimu commented on #8644
Thanks @IjayAbby, I see @nk183  has also contributed before, let me find another person looking for a fto. Thanks you both :heart:

[2020-10-21 16:44] cesswairimu commented on #8572
@tawahpeggy  you could claim this https://github.com/publiclab/plots2/issues/8644. Thanks

[2020-10-21 21:27] h20190907 commented on #8646
Thanks a lot, @cesswairimu @RuthNjeri, I will start working on this, and will keep posting the updates here

[2020-10-22 01:38] tawahpeggy commented on #8325
i came accross this issue and tried to find out more.when i tried to login  to publiclab.org using my twitter account it landed me here:
![Screenshot from 2020-10-22 02-31-59](https://user-images.githubusercontent.com/40355086/96807657-096aef00-140f-11eb-8807-becf31d58019.png). same with creating an account.i guess somehing is serriously wrong,i am trying to find out what it is.

[2020-10-22 03:45] ps9793 commented on #8644
Can I work on this issue ?

[2020-10-22 04:27] nk183 commented on #8448
Hello! I'm looking for a first time issue, is there anything out there for me?

[2020-10-22 04:38] cesswairimu commented on #8644
Go ahead @ps9793, thanks

[2020-10-22 04:39] ps9793 commented on #8644
okay, thanks

[2020-10-22 10:02] SARVESHKHANDELWAL commented on #8633
Can i work on this issue???

[2020-10-22 12:06] KarenEfereyan commented on #8448
We should be able to find something for you. @jywarren @cesswairimu any new timer issues up for grabs?

[2020-10-22 12:09] KarenEfereyan commented on #8652
@saitgulmez an issue has been reserved for you. Kindly take it up