[2021-01-18 18:43] #9020 closed

[2021-01-18 18:47] #9021 closed

[2021-01-18 18:54] #9018 closed

[2021-01-18 19:00] jywarren opened #9032 "Onboard reviewers team members through welcomebot or something?"
I love when people begin reviewing and supporting each other, and maybe we could do some more to make visible the invitation to do this, as have @Manasa2850 and @coder645 recently. Could we put it in our welcomebot message? Somewhere else? In our Readme? Other ideas? Let's brainstorm a bit and try to make more explicit invites to this, since we love it when people join this activity.

Here's a pos

[2021-01-18 19:04] jywarren commented on #8775
Hi @noi5e i'm not sure if you saw this or fixed this already but i noticed this on our comments - there seems to be an unnecessary grey bar under the form:

![image](https://user-images.githubusercontent.com/24359/104954235-deeceb80-5995-11eb-9bd2-342017758e28.png)

Also, i think some of the spacing around the emojis is a little off. See how it seems like it has white padding on top and bottom, es

[2021-01-18 19:05] #8965 closed

[2021-01-18 19:23] RuthNjeri opened #9033 "Add Translations To The Questions Index Page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-18 19:25] RuthNjeri commented on #9023
Hi @jensanchez459 you can work on this one https://github.com/publiclab/plots2/issues/9033
Just comment on that issue if you want to begin working on it.

[2021-01-18 19:25] jywarren commented on #9004
I wonder, once all system tests are in place, would an actual React component be plausible here? I don't have much experience with React, do you? I'm mainly just curious how integration would work and if it would be worth it. Curious to hear your thoughts! I like what you're planning on here, thanks!

[2021-01-18 19:28] jywarren commented on #5113
Just adding some context here, i believe the reactions system was built over the previous comment liking system, and we had hoped that the 👍 reaction would replace "liking" -- in fact, i think i recall that previously made "likes" were converted to 👍 retroactively!

I wonder also if the interface "like" buttons @sashadev-sky had seen are now gone too?

Does that mean that this issues is mostly com

[2021-01-18 19:34] RuthNjeri opened #9034 "Ensure The Trending Method Does Not Fail If Subscriptions is Empty"
This is part of #8513

Ensure the @tag_subscriptions doesn't make the trending function fail if it is empty.
Refer to this comment https://github.com/publiclab/plots2/pull/9030#discussion_r559734612

[2021-01-18 19:50] noi5e commented on #9004
@jywarren I do have an okay amount of React experience. I see that there is a Rails React gem... It's worth looking into in a deeper way, but I have a feeling it would require rewriting the entire codebase in React, like v3 of the entire site. I've never heard of, for example, using React for just the comments form on a website... Maybe this does happen, maybe it doesn't, but I'm only familiar wit

[2021-01-18 19:52] noi5e commented on #8775
@jywarren Definitely, I have noticed those too! Adding to my to-dos.

[2021-01-18 21:00] HarshKhandeparkar commented on #9032
What is usually the landing page for a new contributor?

[2021-01-18 21:12] #9013 closed

[2021-01-18 21:26] jywarren commented on #9004
I believe it is possible to run just one component, and we've been interested in that as a proof of concept before trying to do the entire site... but really, that's out of scope unless you finish early and are really interested in it, so no worries!

I hear you re: reused scripts. I think it's possible to explore copying the scripts and splitting their use cases instead of trying to retain the co

[2021-01-18 21:45] YusufAbdelaziz commented on #9033
Can I work on this?

[2021-01-19 08:46] cesswairimu commented on #9032
hi @HarshKhandeparkar , mostly they use the toolbox https://code.publiclab.org/ and then we have the welcome bot messages that when they open an issue, make a PR and when a PR is merged https://github.com/publiclab/plots2/blob/main/.github/config.yml .Great idea @jywarren  +1 on adding it in the readme and check-in ..not sure if this is possible but I will check it out, maybe after someone does th

[2021-01-19 09:13] RuthNjeri commented on #8957
Has been merged through https://github.com/publiclab/plots2/pull/9030/commits/bb5545c900b612e28d958eb9e3edb2650f088a63

[2021-01-19 09:13] #8957 closed

[2021-01-19 09:13] RuthNjeri commented on #9033
Hi @YusufAbdelaziz yes you can.. I have assigned it to you..

[2021-01-19 09:16] RuthNjeri commented on #9023
Hi @jensanchez459 I assigned the issue to someone else since it was up for several hours before you claimed it...but not to worry, I have a lot of new First Timer Issues I am yet to make. Please let me know once you are available and I will create one for you. Thanks!

[2021-01-19 09:19] RuthNjeri commented on #8992
Hi @jywarren that looks great! I'll test it out and let you know if it causes any trouble on narrow screens. Thanks!

[2021-01-19 09:22] RuthNjeri commented on #8966
Thanks for sharing your thoughts on the issue @jywarren I'll reread the points you've shared to understand... and comment on my thoughts as well...

I think this is also a good time to plug in this issue..where we are removing empty topics on the screen https://github.com/publiclab/plots2/issues/8964 I think it also relates to the discussion happening here....

[2021-01-19 09:33] daemon1024 commented on #9032
It would be great if we could thank the reviewer.

I was going through the GitHub API, It doesn't seem like there's anything specific related to reviewers but we can thank everyone who all participated in the discussion. Maybe exclude the current review team and the PR author and ask them refer to a particular issue if they interested in joining xyz team.

[2021-01-19 11:36] YusufAbdelaziz commented on #9033
I've made a PR, could you please check it?

[2021-01-19 14:17] RuthNjeri commented on #9033
Sure..on it..

[2021-01-19 14:38] RuthNjeri opened #9039 "Add Mobile Responsiveness to The Follow Text Section at The Bottom of The Page"
This is part of #8513

Add mobile responsiveness to the  Follow Text section at the bottom of the page

[2021-01-19 14:48] ebarry commented on #8992
I"m excited to see this, i think it will be great 🌟

[2021-01-19 15:23] RuthNjeri opened #9040 "Continued: Add Translation To The Questions Index Page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-19 15:24] ebarry commented on #8966
Great breakdown of these issues! Glad to speak about these slowly and carefully while letting other work advance.

### Comment activity

Comment activity has become central to community life on publiclab.org. Comment activity is where the largest number of people interact with each other. Notes that may gain high readership but do not spur activity in the comments have less interaction in my book.

[2021-01-19 16:52] RuthNjeri commented on #8966
Hi @jywarren ...just got done rereading the notes you shared...
For `this topics are currently by most recent note created timestamp, i believe`...I am not sure if this is the case, because we currently use the `current_user.subscriptions.include(:tag)` to display the list of topics on the dashboard...and I checked the `new_note` method in the node.rb file, it does not update a tag or tag_subscrip

[2021-01-19 17:40] 1liale commented on #9040
Hi it's my first time contributing to open source, I would be interested in helping out.

[2021-01-19 17:40] cesswairimu commented on #8858
As I mentioned, I was checking into these and found  that this text
https://github.com/publiclab/plots2/blob/f82a11c17404bae7b4307313b6890ca3169e8c90/test/system/editor_test.rb#L17
is no longer rendered on that page...causing a couple of these to fail...also a lot of names, divs and ids have changed as  @noi5e  mentioned above
Also a couple of these scenarios are tested here https://github.com/pub

[2021-01-19 18:00] icarito opened #9042 "smtp_test won't work with smtp+tls"
In our migration we are planning to switch to delilvering mail directly to the google SMTP instead of a local MTA.
We have the (SMTP Test)[https://github.com/publiclab/plots2/blob/main/app/controllers/admin_controller.rb#L377] which is meant to monitor the status of this SMTP service (by pinging publiclab.org/smtp_test regularly).

We should assess whether this monitoring is necessary and if/how w

[2021-01-19 19:42] noi5e commented on #8858
This may or may not be related, but I was asking in the meeting today... Is it even possible to access the legacy editor through `/wiki/edit` or `/wiki/new` (or even anywhere else on the site?)

- [/wiki/new on stable](https://user-images.githubusercontent.com/4361605/105083617-07362200-5a4a-11eb-84d5-bb09974dd639.png)
- [/wiki/edit on stable](https://user-images.githubusercontent.com/4361605/1050

[2021-01-19 20:25] jywarren commented on #8858
Agreed though let's remove what's redundant and trim the rest, if possible!

[2021-01-19 20:55] cesswairimu commented on #8858
Wonderful! that totally explains it Jeff

[2021-01-19 21:52] ebarry commented on #8858
the one bit i'm sure of is that `/features/new` is fine as is. it's just a special editor where site admins can write html and stuff for special places.

[2021-01-19 23:15] noi5e commented on #9004
Leaving a note here about the places where `dragdrop.js` (renamed to `editorToolbar.js` in my latest PR) is required:
- `app/views/admin/assets.html.erb` - used for an integration test (says Jeffrey)
- `app/views/editor/post.html.erb`- this is the legacy editor
  - still used live for editing notes, but not by default (must pass `legacy=true` parameter into the URL)
- `app/views/editor/question.ht

[2021-01-20 02:35] jywarren commented on #8858
Thanks for investigating this one Cess! Great job!

[2021-01-20 02:39] jywarren commented on #8964
Hi @RuthNjeri i'm sorry i ran out of time today... i will be sure to go through this tomorrow afternoon. Thanks for your patience!

[2021-01-20 02:41] jywarren commented on #8858
@noi5e did Cess's comments in the chatroom clarify things? I think sharing screenshots of both states will help disambiguate, if not.

What do you think of leaving these tests off? Or, of how they might be redundant with tests you're writing?

[2021-01-20 03:22] jywarren commented on #8964
I actually really like the idea of `adding a display: none on a topic card that has 0 notes`

however, one way we could improve on this perhaps is to use a class like https://getbootstrap.com/docs/4.4/utilities/display/#hiding-elements -- and maybe an extra class like `has-no-posts`, solely as an indication of /why/ we're hiding it. So, if the two classes are used next to one another, our custom c

[2021-01-20 03:24] jywarren commented on #8964
and, do you think pagination will be a big problem? I mean, only if you get a whole page of hidden topics, perhaps? or some confusion if there's a page where most are hidden and you see a "next page" link even though you're only seeing like 3 topics? This seems like a pretty unlikely scenario... but just to be thorough, we could consider showing a simple bar like `Water quality | no recent posts`

[2021-01-20 04:13] RATED-R-SUNDRAM commented on #8839
I would like to work on this issue

[2021-01-20 06:49] pawan-nirpal-031 commented on #9033
Hello Folks, I am a complete beginner to open-source and Github contributions, I'd like to start contributing with this beginner-friendly project, `https://github.com/publiclab/plots2/blob/2b2bd90290f22d5a5ff709b25b1a40e11094db7e/config/locales/en.yml`
This file is asking me to indent lines 661 and 662, but I suppose I have to be on a branch to be able to make any changes to the file, I was wonder

[2021-01-20 07:42] pawan-nirpal-031 commented on #9040
I am making progress, thankful to this project.

[2021-01-20 10:08] SakakibaraMako commented on #9009
@Manasa2850 yeah, i will finish it asap.

[2021-01-20 10:40] Manasa2850 commented on #9009
Sure @SakakibaraMako. Please let me know if you need any help. Thanks!

[2021-01-20 10:58] gauravahlawat81 commented on #8984
I think the issue is there only in local environment, I have checked on publiclab.org and I can easily search the place name without any issue. Others may confirm, but I think this issue is there because the keys or any valid credentials are not stored in local and are used in deployed apps only, though I might be wrong here :worried:

[2021-01-20 11:14] gauravahlawat81 commented on #8598
Hey @jywarren , I was trying to reproduce this error in my local environment, but I couldn't do it. The post were all sorted correctly and I observed the same [here](https://publiclab.org/tag/agriculture?order=likes), I wonder if this issue is solved now or are am I missing something else here ? :thinking:

[2021-01-20 13:32] RuthNjeri commented on #9040
Hi, @pawan-nirpal-031 I have just seen your comment on https://github.com/publiclab/plots2/issues/9033#issuecomment-763379793 .... Please have a look at these steps on how to edit files from an editor...also, have a look at the ReadMe file on steps to set up the repository and contributing steps.. https://github.com/publiclab/plots2/blob/main/README.md

Please comment here or share any issues you

[2021-01-20 13:33] RuthNjeri commented on #9033
Hi @pawan-nirpal-031 I have shared some links from your original comment here https://github.com/publiclab/plots2/issues/9040#issuecomment-763608031

[2021-01-20 15:17] 1liale commented on #9040
@RuthNjeri  hey sorry if this is a dumb question but just to clarify, you would like me to keep the YAML file as it is but do the same translation done for "ask_a_question" in the html file for items from "ask_a_question" to "liked"?

[2021-01-20 16:09] RuthNjeri commented on #9040
Hi, @1liale that's a great question!

Yes, keep the file as it is and only add the "ask_a_question" to "liked"...I added the other items because I thought this https://github.com/publiclab/plots2/pull/9038 would be merged first... The yaml file should look this way

[code]

I have updated the issue description to reflect this...thanks for asking...let me know if you have other questions...

[2021-01-20 16:15] RuthNjeri commented on #8839
Thanks @RATED-R-SUNDRAM, I have assigned it to you

[2021-01-20 17:02] cesswairimu commented on #8984
@gauravahlawat81 you could be right, some google apis do not work well if you are using `http://`  @Manasa2850  could you please try replicating on https://stable.publiclab.org/dashboard. Thanks all

[2021-01-20 17:36] noi5e commented on #8858
@jywarren I have greater clarity about legacy vs rich text editor now!

I don't think system editor rich-text editor will affect my work much. It seems like the rich-text editor is using separate JavaScripts? I'm more trying to catch instances of the legacy editor.

Regarding this issue: yes, we can leave the tests off, if it makes sense. I agree, it seems like these tests just became inaccurate a

[2021-01-20 18:01] RuthNjeri commented on #8964
Thanks for the feedback, I like your suggestion of using two classes... I could also add a comment just in case...

I can test out the pagination issue by manipulating some data locally and see what happens...
Also, I think because this is just version 2, we can begin with the hidden class...I could also add a link of this issue in the comment just in case an alternative is needed and we could imp

[2021-01-20 18:18] ebarry commented on #9002
Dear Sebastian, are you saying we are being disrupted by a time-traveling bot from the Future searching for activity in 2024? Serious Inquiry 😜

To respond to Jeff's initial suggestions in this issue, could we combine 1 and 3 into a combined approach?

[2021-01-20 18:27] RuthNjeri commented on #9034
Hi @jywarren...please have a look at a comment I've shared based on this task.. it is in response to your original concern https://github.com/publiclab/plots2/pull/9030#discussion_r561180855

[2021-01-20 21:51] dongskyler opened #9055 "Language translation in footer not functional"
### Please describe the problem (or idea)

The language translation button in the footer is not functional. No matter what language is selected, English is presented. In other words, the "language" button does not do anything substantial. However, selecting a language does append a query parameter to the URL, such as `https://publiclab.org/?_=1611179421`. But the language of the website remains En

[2021-01-20 22:29] dongskyler commented on #8375
There are still many old stable branches. Did the bot close any branch at all?

[2021-01-20 23:32] jywarren commented on #9032
Oh that's cool, like, the welcomebot message would have a section that says `Reviewers: Thank you for...` or something?

However, we want people who are already reviewing but aren't yet officially reviewers... so we could say `Everyone who helped out: we'd love to have you join our reviewers team!` or something.

[2021-01-20 23:36] #8992 closed

[2021-01-20 23:42] jywarren commented on #9004
Hi @noi5e i was just thinking today it might be a good idea to soon begin drawing a diagram of the code files and how they interrelate -- say, rectangles for views and circles for JS files, or something... you could do a "current state snapshot" diagram and then this could be a tool to help design your ideal structure. One thing this can help you figure out as well is how self-contained and indepe

[2021-01-21 01:34] jywarren commented on #8775
I also was wondering after the speed optimizations of https://github.com/publiclab/plots2/pull/9045, i remember that Skylight shows that actually posting a comment on PublicLab.org can take quite a while... and I thought we had optimized somewhat but not as much as we'd hoped. Do you still find it to be a slow load time to post a comment? I wonder if that's also a way to improve system test runtim

[2021-01-21 06:09] 1liale commented on #9040
![image](https://user-images.githubusercontent.com/38883331/105286659-bf67e580-5b84-11eb-96ea-a1e58d9f78fc.png)  @RuthNjeri  Do I also add (recently_commented: "recently commented") to the en.yml file? Otherwise the translation isn't referencing anything

[2021-01-21 06:18] RuthNjeri commented on #9040
Good catch @1liale, please add it...

[2021-01-21 06:28] 1liale commented on #9040
Hi @RuthNjeri could you review my PR. I hope that's how you wanted it but let me know if there's any issues that need fixing.

[2021-01-21 06:35] Manasa2850 commented on #8984
Oh yes you're right @cesswairimu and @gauravahlawat81. It's a bug seen locally. It works fine in https://stable.publiclab.org/dashboard
I'll make sure to check in publiclab.org from next time onwards before creating an issue.
Thanks to both of you!!

[2021-01-21 08:42] SakakibaraMako commented on #9009
@Manasa2850 Hi, I just created a pull request. But I'm not sure if i did it correctely as well as well what I should do next.

[2021-01-21 17:48] gauravahlawat81 commented on #8984
@Manasa2850 can we close this issue then ? :thinking:

[2021-01-21 17:52] jywarren commented on #8858
OK. Let's close this and if there are opportunities to rebuild those tests that's fine as well. Thanks, all!

[2021-01-21 17:52] #8858 closed

[2021-01-21 18:01] cesswairimu commented on #8858
Thanks Jeff, should I create an issue to add a link to the beta editor or we are good for now?

[2021-01-21 18:44] noi5e commented on #8775
@jywarren Yes! I definitely think that time to post comments is very slow! (also, time to react to a comment)

Interesting to learn about Skylight and what it does. I wonder what exactly is causing the slowdown, do you think it might be the ActiveRecord query?

[2021-01-21 23:21] noi5e commented on #9004
@jywarren Good idea BTW to draw some diagrams.

Unrelated but just wanted to give an update here. I want to acknowledge most of the PRs linked here aren't actually doing much refactoring in `editor.js`, but they ARE slowly building up to that. I'm trying to get all my ducks in a row and do some major reorganization so the work in `editor.js`, when I get to it will go smoother:

So far, here's what

[2021-01-22 04:39] RATED-R-SUNDRAM commented on #9055
I would like to work on fixing this bug

[2021-01-22 08:34] coder645 commented on #9055
Please go ahead.
Cheers!

[2021-01-23 19:13] noi5e opened #9069 "Comment Editor Overhaul Project [Outreachy]"
### **_(Last updated Saturday January 23rd)_**

Here's a planning issue that I made to cover my 13-week internship with Outreachy and Public Lab!

I will update this comment at least once a week to show my progress. I'm also compiling issues relevant to the Comment Editor in this already existing [Milestone](https://github.com/publiclab/plots2/milestone/28).

## `Week Eight`
I'm starting to work o

[2021-01-23 19:16] #8775 closed

[2021-01-23 19:19] noi5e commented on #9069
I copied the contents of my old planning issue over here... I thought it would be nice for the late-stage of the internship to have things be more readable here.

If you need to look at the old issue for any reason, it's here: #8775.

[2021-01-23 19:32] noi5e commented on #8775
# MOVED PLANNING ISSUE HERE -> #9069

I've decided to move my planning issue to a fresh issue page, mostly for issues of readability. Sorry for any confusion this causes! - @noi5e

[2021-01-24 03:29] noi5e commented on #5113
@jywarren Doing some research on this.

## Liking Notes
The code in `like.js` seems to apply to liking research notes (not liking **comments** on research notes).

For example this function here does some eventHandling on `#like-button-1234`
https://github.com/publiclab/plots2/blob/38e37eb20602d799ab935e4e281f32782e856fda/app/assets/javascripts/like.js#L14-L25

Which is an ID that appears here:
ht

[2021-01-24 18:54] noi5e commented on #5113
Just browsed #4852, it seems like that PR was fixing a problem with likes via debouncing (liking a note was triggering a million likes and dislikes, [GIF here in this note](https://github.com/sashadev-sky/PL-notes/blob/master/likes.md))

I think this issue can be closed... It really seems like the problem's been solved since it was created? Liking notes AND liking comments work as expected, they s

[2021-01-24 18:57] noi5e commented on #5113
@jywarren Last note, in reference to this comment:

I think that was done in 2018 in this PR #2869, so that was already in place by the time this issue was made.

Can you review and close this issue if you think that's appropriate?

[2021-01-24 21:32] noi5e commented on #5113
I just did a little more browsing to make absolutely **certain** that things are working like they should be. I still think they are! Just leaving a trail here so that others can follow.

Clicking on the star button to like a **note** calls the following (event attached to `#like-button-1234`):
https://github.com/publiclab/plots2/blob/38e37eb20602d799ab935e4e281f32782e856fda/app/views/like/_like.h

[2021-01-24 23:24] noi5e opened #9071 "Display Notification for Emoji Reactions on a Comment"
What do you all think about having a Noty Notification displayed when user reacts to a comment?

### Expected
**For example**, [here is a **video** that shows notification when user DELETEs a comment](https://user-images.githubusercontent.com/4361605/105646033-6339e580-5e52-11eb-9574-e535a9abe792.mov).

An image of **Delete Notification** below:
<img width="1431" alt="Screen Shot 2021-01-24 at 2 4

[2021-01-24 23:24] noi5e commented on #9071
### What to Change
Here's where the comment view sends a request to make a user reaction on a comment:
https://github.com/publiclab/plots2/blob/38e37eb20602d799ab935e4e281f32782e856fda/app/views/notes/_comment.html.erb#L83-L92

Particularly these two lines are making an `<a href>` tag that sends a request to `/comment/like`:
https://github.com/publiclab/plots2/blob/38e37eb20602d799ab935e4e281f3278

[2021-01-25 03:27] noi5e opened #9072 "[Bug] Attach Rich-Text & Image Upload Events on FRESH, Newly Created Comment Forms"
Clicking on rich-text (bold, italic, etc.) buttons and image upload (both select & drag-and-drop) will not work on FRESH newly-created comment forms created by posting a comment. Image of comment form for more context:
<img width="824" alt="Screen Shot 2021-01-24 at 7 18 32 PM" src="https://user-images.githubusercontent.com/4361605/105657403-29c8a080-5e79-11eb-9721-9ff4e1cf7500.png">

[Video of Th

[2021-01-25 03:46] noi5e commented on #9072
The fix for this is described in the jQuery docs [here](https://api.jquery.com/on/) _(scroll down to **Delegated event handlers**)_.

Basically, we have to attach the event not on `.rich-text-button`, but on the PARENT of `.rich-text-button`.

I need to do a little research on what's the best parent element. We could theoretically attach the event on anything all the way up to `document` itself, b

[2021-01-25 06:25] RATED-R-SUNDRAM commented on #9071
I would like to work on this issue

[2021-01-25 09:52] hector4213 commented on #9009
Could i claim this issue?

[2021-01-25 15:01] antorobo commented on #8942
hi!
i am new here, can i work on an open issue?

[2021-01-25 17:24] noi5e commented on #9071
@RATED-R-SUNDRAM go for it! comment on this page or in chat if you'd like help with anything!

[2021-01-25 17:38] Manasa2850 commented on #9009
Hey @hector4213. Thank you!
We already have a pull request made for this issue. Would you like to work on another first timers issue?

[2021-01-25 19:10] cesswairimu opened #9077 "Weekly Community Check-In #89 - Create FTOs"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-01-25 19:14] cesswairimu commented on #8931
This was a great discussion...thanks all :heart:

Moved to https://github.com/publiclab/plots2/issues/9077

[2021-01-25 19:14] #8931 closed

[2021-01-25 20:29] hector4213 commented on #9009
Yes please if you don't mind! I'd like to get a feel for contributing to open source projects! Should I close my pull request?

[2021-01-26 15:04] #8839 closed

[2021-01-26 15:15] cesswairimu commented on #8910
Hi @harshdhonchak, we free-up FTOs if a week goes by with no updates or replies because we assume they have been abandoned. This is to give other contributors a chance, as these types of issues are high in demand now.
If you'd like to try again with a new FTO, we welcome you to!

@vishnu-muthuswamy  if you are still looking for an issue feel free to take up this one. Thanks all

[2021-01-26 15:16] cesswairimu commented on #8942
Hi @antorobo  yeah sure, will ping you when a new fto comes along. Thanks

[2021-01-26 15:19] cesswairimu opened #9083 "Request & make "first-timer-only" issues for newcomers"
(This issue is in continuation of #7683  )

Hi everyone!

We, at Public Lab, are known for welcoming new contributors into the Open Source world but a number of times, newcomers were not able to find first-timers-only issues to start their journey or face troubles making their first contribution with us.

Reasons being:

Lack of first-timers-only issues
Struggle in finding the good issue to start

[2021-01-26 15:20] cesswairimu commented on #7683
Moving this to https://github.com/publiclab/plots2/issues/9083 since the thread is getting too long. Thanks everyone :heart:

[2021-01-26 15:20] #7683 closed

[2021-01-26 15:22] cesswairimu commented on #9077
New first-timer planning issue is here https://github.com/publiclab/plots2/issues/9083

[2021-01-26 15:25] #9009 closed

[2021-01-26 15:30] cesswairimu commented on #9039
Looks like the link on the PR was broken...Fixed in https://github.com/publiclab/plots2/pull/9065 Thanks Ruth

[2021-01-26 15:30] #9039 closed

[2021-01-26 19:10] jywarren commented on #9077
Thanks Cess for the new first-timer issue!

I'm focused on helping out with Outreachy issues for the rest of the day! https://github.com/publiclab/plots2/labels/outreachy

[2021-01-26 19:34] jywarren commented on #5113
This all looks right, and esp the part about:

as that is specific to liking individual comments, not just notes. Sounds good to me and THANK YOU SO MUCH for digging through this so thoroughly!!!

[2021-01-26 19:34] #5113 closed

[2021-01-26 21:37] #8964 closed

[2021-01-26 22:33] #8838 closed

[2021-01-27 13:53] RuthNjeri commented on #9077
Thanks for opening this up @cesswairimu 🎉
If I create an FTO issue, should I link it to #9083?

[2021-01-27 13:55] RuthNjeri commented on #9034
Retagging you on this @jywarren 😄  I think my comment notification was lost in the noise of other notifications....

[2021-01-27 14:13] RuthNjeri commented on #9083
Hi @antorobo 👋🏾  There's an unclaimed issue here https://github.com/publiclab/plots2/issues/8508 if you would like to work on it, Just comment on the issue that you would like to work on it/are working on it so that we know it's assigned to you.

[2021-01-27 18:14] RuthNjeri opened #9090 "Translations In The Comment Section"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-27 18:23] RuthNjeri opened #9091 "Translation in the _form file in the Comment Section"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-27 18:40] ckduane commented on #9091
@RuthNjeri Hello! Can I work on this issue?

[2021-01-27 18:42] RuthNjeri opened #9093 "Translation in the Comment Index Section"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-27 18:45] RuthNjeri commented on #9091
Hi @ckduane thank you for reaching out. I'll assign it to you.

[2021-01-27 19:21] DarinJoshua-dev commented on #8910
Hello, have resolved the issue and have requested a pull request, thank you!

[2021-01-28 08:52] Antonio-Riccelli commented on #9093
Hi there,
I'm looking to make my first contribution. If nobody else is working on this, could I have it assigned to me?

Many thanks

[2021-01-28 10:23] RATED-R-SUNDRAM commented on #9090
I am working on it

[2021-01-28 13:44] RuthNjeri commented on #9093
Hi @Antonio-Riccelli thanks for reaching out!
I'll assign it to you. Feel free to reach out if you face any problems

[2021-01-28 17:15] DarinJoshua-dev commented on #8910
Please Review my PR, thank you

[2021-01-28 17:20] harshdhonchak commented on #8910
On Thu, 28 Jan 2021 at 10:45 PM, Darin Joshua D <notifications@github.com>
wrote:

Really sorry for the delay . I was out for something .
I am really looking forward to work on new issues . So if there are some
issues for the beginners issue please let  me know .
Thanyou

[2021-01-28 17:24] DarinJoshua-dev commented on #8910
Oh, no problem, sure looking forward to working on new issues too...
Thank you

[2021-01-28 17:29] cesswairimu commented on #9077
@RuthNjeri yeah, I see you've already got the hang of it and thanks for fto :tada:

[2021-01-28 17:46] cesswairimu commented on #8910
No worries @harshdhonchak  totally understand adding your name here #9083  and we will ping you if one comes along. Thanks

[2021-01-28 17:49] #8910 closed

[2021-01-28 18:34] #9090 closed

[2021-01-28 18:38] #9091 closed

[2021-01-29 03:47] harshdhonchak commented on #9093
Can i also work on this , please !

[2021-01-29 05:03] harshdhonchak commented on #9093
There is some issue with my PR .Sir can you please help me

[2021-01-29 07:38] Antonio-Riccelli commented on #9093
Thank you, @RuthNjeri. I think I have done everything right and submitted the pull requests.

Let me know if my submission is incorrect and there is something I should change.

[2021-01-29 13:10] RuthNjeri commented on #9093
Hi, @harshdhonchak thanks for reaching out. @Antonio-Riccelli already began working on the issue and has created a PR for it, you can check the issues to see if there is another First Timer Only issue to pick up. Once I create one I can also tag you to pick it up. Just make sure that you don't begin working on an issue if someone else has already begun working on it.

You can always comment on any

[2021-01-29 13:11] RuthNjeri commented on #9093
Hi @Antonio-Riccelli, that's great! I'll have a look at it

[2021-01-29 13:31] RuthNjeri commented on #9033
Closing this issue, it has been fixed through https://github.com/publiclab/plots2/pull/9038

[2021-01-29 13:31] #9033 closed

[2021-01-29 13:35] RuthNjeri commented on #9034
Here is the implementation just incase you are not able to find it quickly...
[
![Screenshot 2021-01-29 at 16 35 03](https://user-images.githubusercontent.com/7622875/106281240-01adb880-6250-11eb-8f9b-6f8dfd3dc53b.png)
](url)

[2021-01-29 14:28] RuthNjeri commented on #8966
Hi @jywarren, I checked whether the topic cards are displayed according to the most recently updated, and discovered that they are not.

I created a new research note within the test tag and when I reloaded the page, it was not at the top of the list.

Before

![Screenshot 2021-01-25 at 16 55 15](https://user-images.githubusercontent.com/7622875/106283037-74b82e80-6252-11eb-85b8-bf14f47eb426.png)

[2021-01-30 00:12] jywarren commented on #9034
Ah, how exactly can I help here? Have you tried triggering such an error, maybe in a unit test? if so maybe we can see if we can skip this based on what happens? Thanks Ruth!!

[2021-01-30 00:12] jywarren commented on #9034
And sorry for missing this!!

[2021-01-31 05:10] #8825 closed

[2021-01-31 07:59] #8942 closed

[2021-01-31 08:51] Manasa2850 opened #9105 "Fix the `New page` alignment issue"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-31 08:52] Manasa2850 commented on #9105
Before:
![before](https://user-images.githubusercontent.com/43354059/106379092-a571a280-63cf-11eb-840f-83a4224c9893.png)

After:
![after](https://user-images.githubusercontent.com/43354059/106379099-ab678380-63cf-11eb-83a6-81024d0c3597.png)

[2021-01-31 22:29] BenUnyolo commented on #9105
Hi there. Please could I claim this as my first issue?

[2021-02-01 03:53] Manasa2850 commented on #9105
Hi @BenUnyolo. Sure, please go ahead!

[2021-02-01 13:37] RuthNjeri commented on #9034
That makes sense, I'll add a unit test.

[2021-02-01 17:15] shivam-2311 commented on #9105
hi is the issue is still open?

[2021-02-01 17:46] cesswairimu commented on #9077
Hi all, would anyone like to open this week's check-in?

[2021-02-01 17:49] shivam-2311 commented on #9105
i am not able to understand the issue can you please explain me again.

[2021-02-01 19:21] noi5e commented on #9004
Giving more updates here. There's a lot going on in the last 3 new PRs.

### 1. PR #9104: Refactor editor.js with OOP

#### Before this PR
- Export the comment editor as a global variable (`$E = {}`) from `editor.js`
- When we need the comment editor on a page, 'initialize' it (`$E.initialize();`).

#### After this PR
- `editor.js` now contains a reusable class (`class Editor {}`)
- When a comment

[2021-02-01 19:33] noi5e commented on #9004
### 2. PR #9104: Refactor editor.js with OOP
A lot of things happened in this PR.

#### Change Main Comment Form's ID to `#text-input-main`
I started by changing the main comment form's HTML ID from `#text-input` to `#text-input-main`.  This was a small change, but important because it needs to match the other comment form IDs for state management:

- **REPLY**:
  - `text-input-reply-123`
  - `com

[2021-02-01 19:54] noi5e commented on #9004
### 3. PR #9108: Prune Editor State Management
This was a satisfying PR to write!

The state management seemed robust enough that we could get rid of workarounds like `$E.refresh`:
https://github.com/noi5e/plots2/blob/97247e30289dfb27f93446b84d036ad9811e7983/app/assets/javascripts/editor.js#L36-L42

And `$D.selected`:
https://github.com/noi5e/plots2/blob/97247e30289dfb27f93446b84d036ad9811e7983/ap

[2021-02-02 04:04] noi5e opened #9112 "Weekly Community Check-In #90 - Modifying Expectations"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-02-02 04:21] noi5e commented on #9112
So the theme is about **times when we had to _Modify Our Expectations_**. I'll start.

I was just looking at the schedule that I made when I applied to be an Outreachy Intern with Public Lab:

1. Week 1: Write System Tests
2. Week 2: Write System Tests
3. Week 3: Find, Solve, and Write Up Critical Bugs
4. Week 4: Find, Solve, and Write Up Critical Bugs
5. Week 5: Image Upload
6. Week 6: Image Uplo

[2021-02-02 06:30] cesswairimu commented on #9077
Moved to https://github.com/publiclab/plots2/issues/9112. Thanks all

[2021-02-02 06:30] #9077 closed

[2021-02-02 13:59] RuthNjeri commented on #9112
haha @noi5e 3 overflow weeks? haha... I discovered along the way that there were small issues that came up in addition to the other issues that I needed to solve, also, writing up an FTO issue was not as simple as I thought it would be, because you need to write up an issue that makes it easy for a beginner to contribute. It was difficult breaking up an issue that touches multiple files which woul

[2021-02-02 15:26] jywarren commented on #9002
Hi all, just returning here to note that if we implemented (1) we'd almost certainly avoid all bots, as they can't easily create user accounts. Would just the very initial `/stats` page being public be enough? because we can cache that page very hard, so that's easy enough -- it's when people begin viewing or downloading arbitrary date ranges (ones we can't predict or cache) that we get in trouble

[2021-02-02 15:41] Sagarpreet commented on #9112
Hey @all,
Very good theme @noi5e 😄 Always add a buffer period in all your plans in case anything unexpected happens :P

TODO this week: I plan to catch up with Outreachy interns first! Happy coding 🎉

[2021-02-02 15:46] ebarry commented on #9002
1+3 sounds great Jeff, thank you so much for making these paths forward (and thanks Sebastian too!!!!!)

Precaching all monthly data, which is like 10 years x 12 months = 120 datasets, sounds great.
Can we limit custom download ranges to account privilege levels "mod" or "admin"? We can provide the email address to moderators@publiclab.org on the /stats page for researchers who wish to access the

[2021-02-02 18:11] jywarren commented on #6126
I'd like to narrow this to any remaining instances of `deliver_now` which uses ActionMailer and can be deferred; except where it happens in tests. In tests, we need it to happen immediately, but if it's not in the `/test/` folder, we should change `deliver_now` to `deliver_later`:

https://github.com/publiclab/plots2/search?q=deliver_now

I see instances in:

* app/models/comment.rb
* app/models/u

[2021-02-02 18:27] jywarren opened #9114 "Filter out moderators who've checked "Do you want to be notified by a email for moderation emails?" in /settings"
Looks like we missed a couple email notifications in  https://github.com/publiclab/plots2/issues/6282 -- easy fix though!

Any line which collects moderator emails in this file (and elsewhere) we should go through and filter out any one which has a tag opting out of moderator email notifications!

Those are the ones which have a tag like `notifications:noemail` or `no-moderation-emails` (confirmed

[2021-02-02 21:46] ebarry commented on #9002
sounds great Benjamin!

[2021-02-02 23:43] noi5e commented on #9112
@RuthNjeri Thanks!!! I've also been wanting to come up with a good FTO issue. It's a bit of a struggle to pick a good one. I want it to be a cool learning experience, but if it brings up merge conflicts and failed tests, I know that it can be intimidating, and I might not have the time to coach them through it. But then again, if it wasn't for FTO issues, I wouldn't be here.

@Sagarpreet Thanks fo

[2021-02-03 00:25] ParseSnip commented on #9105
Hi issue still open?

[2021-02-03 01:27] jesus-mont commented on #8508
this still is an open issue?  I'd like to work on it

[2021-02-03 12:28] crookshanks003 commented on #8508
Is this still open?? I would like to work on this

[2021-02-03 17:02] RuthNjeri opened #9120 "Footer Message In Development Environment"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-03 17:02] RuthNjeri commented on #9120
@jywarren the message looks like this locally

![Screenshot 2021-02-03 at 19 54 43](https://user-images.githubusercontent.com/7622875/106782034-c7328a00-665a-11eb-9a14-7971872e2d2e.png)

[2021-02-03 17:15] HaardikBhagtani commented on #9120
Can I work on this issue?

[2021-02-03 17:16] RuthNjeri commented on #9120
Hi @HaardikBhagtani yes, you can! Thanks

[2021-02-03 17:56] noi5e commented on #9112
I do have an opinion on that!!! We need to change it. And that's a perfect FTO issue! I'll make some of those!

[2021-02-03 18:01] icarito opened #9121 "How is assets/application-08768cdbfbde532afe88f0b458bc1767de7799ff598f2d54f6b0229e2f76e703.css compiled?"
I'm running `rake assets:precompile` but this file is not being generated, however it is being requested.
Looking in production, this file is dated Nov 18th 2019, whereas the rest of the assets are dated Dec 30th 2020.

[2021-02-03 18:15] HaardikBhagtani commented on #9120
Done. Created PR.

[2021-02-03 22:26] jywarren commented on #9069
TY for the ordered list of merges!!!!!

[2021-02-03 22:36] jywarren commented on #8513
Hi Ruth!!! I'm loving the dashboard on stable, and I am noticing a few things that emerge when its run on a real database too!

![image](https://user-images.githubusercontent.com/24359/106818309-1c17d580-6646-11eb-9879-135bfdfd7201.png)

See how power tags (i.e. those with `key:value` format) are showing up in trending? I wonder if we can filter those out. And also, can we make a special case for

[2021-02-03 22:37] jywarren commented on #8513
For such filtering, perhaps we could base on some of this work -- https://github.com/publiclab/plots2/issues/6924 or https://github.com/publiclab/plots2/pull/4232

[2021-02-03 23:27] jywarren commented on #9121
Huh... that should be what's generated, but what are the other files being generated?

you know, i wonder if that's a special one we kept because it is linked to from our static 500.html (and 404, 403) error pages?

Ah no... that's just /assets/application.css. view-source:https://publiclab.org/404

But some scenario like that maybe... can we scrape PL pages or otherwise investigate where the requ

[2021-02-03 23:31] jywarren commented on #9120
This is great! @RuthNjeri  we can also do one for `home-intro` -- that shows up in the main body of the front page; we could use a text like:

[code]

and stuff like that!

https://github.com/publiclab/plots2/blob/97247e30289dfb27f93446b84d036ad9811e7983/app/views/home/home.html.erb#L1-L3

@HaardikBhagtani I'll review yours now! Thanks!

[2021-02-03 23:32] #9120 closed

[2021-02-04 02:12] madhhuurrii commented on #6446
Hii @jywarren, can i work on this issue ?

[2021-02-04 02:14] madhhuurrii commented on #6446
Hii @jywarren, can I work on this issue as a first timer?

[2021-02-04 05:44] #9034 closed

[2021-02-04 06:44] RuthNjeri commented on #9112
Great! The names should also be updated in the `config/initializers/assets.rb` assets.rb file, I find that it is something that might be missed with all the Rails magic happening....

[2021-02-04 06:51] RuthNjeri commented on #8967
The style guide has some nice templates that can be used to integrate a bit more imagery
https://publiclab.org/notes/warren/05-07-2019/introducing-a-draft-style-guide-for-public-lab (and https://publiclab.org/wiki/ui)

The last image looks great so far, but a more in-depth discussion will continue here
<img width="660" alt="Screenshot 2021-02-04 at 09 50 26" src="https://user-images.githubusercont

[2021-02-04 06:52] RuthNjeri commented on #8513
That sounds great @jywarren, I'll create an issue to work on that.

[2021-02-04 06:54] RuthNjeri opened #9125 "Filter Out Power Tags"
![image](https://user-images.githubusercontent.com/24359/106818309-1c17d580-6646-11eb-9879-135bfdfd7201.png)

Filter out the power tags (i.e. those with `key:value` format) showing up in trending. And also, make a special case for filtering out `first-time-poster` since that by definition will likely be the most used but not that useful in a search?

For such filtering, perhaps we could base on so

[2021-02-04 07:21] #8840 closed

[2021-02-04 18:14] RuthNjeri commented on #9120
@jywarren that makes sense, I'll create that issue too.

[2021-02-04 18:42] RuthNjeri opened #9128 "Home Intro Message In The Development Environment"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-04 18:57] RuthNjeri opened #9129 "Change Location Notification Position"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-05 03:46] noi5e opened #9131 "[Discussion] Refactor Save & Recover in Comment/Legacy Editor Form"
Just submitted a PR that refactors `editor.js`'s save & recover methods.

Here's the old version of `save` and `recover`:
https://github.com/publiclab/plots2/blob/2188e0a4d9430e0c8f9f60db00cb54bd74d6ef94/app/assets/javascripts/editor.js#L112-L117

Basically, `editor.js` sets an eventHandler here below. Any time the user types into a textarea, `$E.save` runs:
https://github.com/publiclab/plots2/blo

[2021-02-05 11:06] joshuaretallick commented on #9129
Hi! I would like to have a crack at this :-)

[2021-02-05 11:20] joshuaretallick commented on #9129
Hi I have submitted a pull request, hope I followed the correct procedures!

[2021-02-05 13:16] RuthNjeri commented on #9129
Hi @joshuaretallick, thanks for picking it up! I'll have a look at it.

[2021-02-05 14:00] sinn22 commented on #9128
Hi!  I would like to do it!

[2021-02-05 14:10] imajit commented on #7122
@jywarren @nstjean can I work on this?

[2021-02-05 14:49] RuthNjeri commented on #9128
Hi @sinn22, thanks! I've assigned the task to you, I'll have a look at your PR.

[2021-02-05 15:39] #9125 closed

[2021-02-05 15:40] #9128 closed

[2021-02-05 20:02] #9014 closed

[2021-02-05 20:04] #8804 closed

[2021-02-05 20:04] jywarren commented on #3527
I believe this is now resolved due to #4094 and recent work on the commenting system, thank you!!!

[2021-02-05 20:04] #3527 closed

[2021-02-06 04:06] noi5e commented on #9131
My PR #9132 refactors the save and recover methods like so:
https://github.com/publiclab/plots2/blob/0811c5ed2b302c5861e81509cf6ae8d62067b031/app/assets/javascripts/editor.js#L118-L125

The unique comment form ID string is embedded in the localStorage key, so lookup can be done based on comment form!

[2021-02-06 04:38] noi5e commented on #9131
### Discussion Point 1: When/How to Save User Input?
The old way of saving user input happened like this. As soon as a comment form was selected, this eventListener was attached:
https://github.com/publiclab/plots2/blob/6ded8c4321e854b623411c7b36e9a45c2a8a36f4/app/assets/javascripts/editor.js#L35
https://github.com/publiclab/plots2/blob/6ded8c4321e854b623411c7b36e9a45c2a8a36f4/app/assets/javascrip

[2021-02-06 04:52] noi5e commented on #9131
### Discussion Point 2: What Do We Signal to User?

Given all of the above... I think it's worth talking about as a community how we want `save` and `recover` to behave.

#### If the `save` button is useless, maybe we can just delete it?
Maybe it could be replaced by flashing saving as a notification, either in the comment, or via Noty Notification:

<img width="653" alt="Screen Shot 2021-02-05 at

[2021-02-06 05:16] noi5e commented on #9004
#9110 writes getter methods for `editor.js`.

#9132 refactors save and recover methods, and in the process, all of `$E`'s methods and properties are referred to with `this.property` and `this.method();`, NOT `$E.property` OR `$E.method();`

Closing this issue!

[2021-02-06 05:16] #9004 closed

[2021-02-06 19:33] Manasa2850 commented on #4932
@jywarren I would like to work on this!

[2021-02-06 19:34] Manasa2850 commented on #4932
@jywarren I would like to try this!

[2021-02-06 20:15] noi5e opened #9140 "camelCase JavaScript Asset Filenames"
See this [comment thread](https://github.com/publiclab/plots2/pull/9113#discussion_r568730680).

Some of the JS assets use `camelCase` naming convention, while others use `underscore_filename` convention:
<img width="294" alt="106628319-b9adcf00-658a-11eb-8af8-c780e5bcdc57" src="https://user-images.githubusercontent.com/4361605/107128576-a6914c80-6873-11eb-8ef0-908cf62e47fe.png">

Let's standardiz

[2021-02-06 22:12] noi5e opened #9141 "camelCase advanced_search.js filename"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-06 22:20] noi5e opened #9142 "camelCase async_tag_subscriptions.js filename"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-06 22:24] noi5e opened #9143 "camelCase atwho_autocomplete.js filename"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-07 03:22] noi5e opened #9144 "camelCase comment_expand.js filename"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-07 03:27] iamayushdas commented on #9144
Claimed!

[2021-02-07 03:39] noi5e opened #9146 "camelCase header_footer.js filename"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-07 03:54] noi5e opened #9147 "camelCase leaflet_helper.js filename"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-07 04:01] noi5e opened #9148 "camelCase main_image.js filename"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-07 04:04] noi5e opened #9149 "camelCase noty_notification.js filename"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-07 04:11] noi5e opened #9150 "camelCase restful_typeahead.js filename"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-07 04:21] noi5e opened #9151 "camelCase submit_form_ajax.js filename"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-07 04:28] noi5e opened #9152 "camelCase textbox_expand.js filename"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-07 17:25] StellaWanja commented on #9146
Hi! I would like to work on this issue

[2021-02-07 17:28] noi5e commented on #9146
@StellaWanja go for it! It's yours!

[2021-02-07 22:50] StreakSharn commented on #9151
Hi, I'd like to start contributing - can I try this?

[2021-02-07 23:39] noi5e commented on #9151
@StreakSharn yes, please, go ahead!

[2021-02-07 23:54] StreakSharn commented on #9151
Should I branch this, or commit directly to master?

[2021-02-08 00:01] noi5e commented on #9151
@StreakSharn make a separate branch please!

[2021-02-08 00:04] StreakSharn commented on #9151
Do I need permissions to make a branch?

[2021-02-08 02:46] noi5e commented on #9151
@StreakSharn You can either make your commits directly to main (through the GitHub site), or fork the repo and use the terminal to make a pull request... I do the second one! There are instructions in the write-up for this PR under "Step by Step."

Let me know if you have any questions! I can walk you through things if you need help.

[2021-02-08 03:20] StellaWanja commented on #9146
Hi. I've created a pull request. Hope I have followed the correct procedures.

[2021-02-08 04:19] Nagsenwaghmare commented on #9152
Hey ! I started working on this issue

[2021-02-08 06:49] #7390 closed

[2021-02-08 09:06] cesswairimu commented on #9112
Hey all, would anyone like to open this week's check-in?

[2021-02-08 09:34] Manasa2850 commented on #3469
This has been solved via issue #9009 and PR #9058

[2021-02-08 09:34] #3469 closed

[2021-02-08 09:47] StreakSharn commented on #9151
It should be made now?

[2021-02-08 14:51] RuthNjeri opened #9158 "Weekly Community Check-In #91 - Breaking Down Tasks"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-02-08 14:51] RuthNjeri commented on #9112
Hi @cesswairimu I've created one [here ](https://github.com/publiclab/plots2/issues/9158)

[2021-02-08 14:51] #9112 closed

[2021-02-08 14:55] RuthNjeri opened #9159 "Change Nearby Location To View on A Map"
This issue is part of #8513

It will fix:

- [ ] Ensure that the `nearby location` button is displayed once a user enters their location with a button to `view on a map`

[2021-02-08 15:07] cesswairimu commented on #9158
Thanks @RuthNjeri 🎉

[2021-02-08 15:13] RuthNjeri opened #9160 "Update Tag Model Timestamp if An Activity Is Created or Modified"
This is part of https://github.com/publiclab/plots2/issues/8513

This task completes part of  https://github.com/publiclab/plots2/issues/8966

A new timestamp column should be created in the Tag model. This timestamp will be updated each time an activity: comments, research notes,  or wikis have been created or modified.

The new timestamp column will be used to order the topic cards in dashboard

[2021-02-08 18:50] ebarry commented on #7908
Just came across this myself today on https://publiclab.org/stats/subscriptions. Compare the difference between what's listed at that URL vs on the Tag's own page:

- <img width="305" alt="Screen Shot 2021-02-08 at 12 39 11 PM" src="https://user-images.githubusercontent.com/161439/107267104-6e753f80-6a14-11eb-8a6a-0487f6262f06.png">
- <img width="476" alt="Screen Shot 2021-02-08 at 12 39 20 PM" sr

[2021-02-08 19:01] noi5e commented on #9146
@StellaWanja You did great! I don't have merge permissions on this repository, so we'll just have to wait for someone who does. Shouldn't take too long.

[2021-02-08 22:03] ebarry commented on #1144
hey @devinbalkind http://recola.org/knowledge-api/ is down

[2021-02-08 22:07] devinbalkind commented on #1144
It's abandoned. If someone wants to use it or do something related to it let me know.

[2021-02-08 22:45] ebarry commented on #1144
ok thanks Devin.
--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Mon, Feb 8, 2021 at 5:08 PM Devin Balkind <notifications@github.com>
wrote:

[2021-02-09 04:02] noi5e commented on #9158
Thanks @RuthNjeri! I appreciate this topic. I've been trying to do my best to keep my PRs nice and small, I know I've been guilty of doing some big ones in the past.

Part of it was just learning to be more comfortable with Git workflow. Once I understood what a `git rebase` was, I saw that I didn't have to solve everything in one PR... Instead, if I get stuck in one PR, I can open a second PR to

[2021-02-09 07:56] #9040 closed

[2021-02-09 07:58] #9093 closed

[2021-02-09 10:59] #9146 closed

[2021-02-09 13:28] kgradow1 opened #9164 "Video media not playing on the site: Continuing issues with Bucket Monitor Toxic Tours page"
https://publiclab.org/notes/A_SCH/11-08-2020/draft?_=1604861928#

Hi all, Annie Schillo posted this bug awhile ago and I am checking up on it.

This page is supposed to host four separate “toxic tour videos,” but they are not appearing. When we try to create a new page, we are unable to post or link videos. Can you let me know the status of this fix? It’s been down for probably a month or so and w

[2021-02-09 13:29] kgradow1 commented on #9164
I am @kgradow1 and she is @A_SCH
\

[2021-02-09 13:29] kgradow1 commented on #9164
I am @kgradow1 and she is @A_SCH
\

[2021-02-09 13:29] kgradow1 commented on #9164
I am @kgradow1 and she is @A_SCH
\

[2021-02-09 13:29] kgradow1 commented on #9164
I am @kgradow1 and she is @A_SCH
\

[2021-02-09 15:57] #9072 closed

[2021-02-09 15:58] pleasestopp commented on #9150
Hello, I'm starting to work on this issue

[2021-02-09 16:04] sagarpreet-chadha commented on #9150
Yes sure  go ahead 😃

[2021-02-09 16:33] jywarren commented on #9158
I'm always amazed at how relatively easily Git resolves conflicts, @noi5e -- its kind of magic!

In breaking down my own work, my guide is to think of the amount of time it takes to "get in the zone" or really more like "get back into the mental state it requires to take the next step" -- because i tend to switch quickly between tasks a lot, like a magpie, and if it takes a long while to get back

[2021-02-09 16:39] jywarren commented on #8513
Hi @RuthNjeri i have some very small style related changes that should be a really easy tweak, but wanted to note them here if you'd be willing to give them a look?

![image](https://user-images.githubusercontent.com/24359/107395599-f6b61c00-6aca-11eb-8061-833ae6b8ffc3.png)

I was hoping we could:

1. make `Add your location to see work near you | About location privacy` and `View all posts` be th

[2021-02-09 16:46] RuthNjeri commented on #8513
Hi @jywarren those changes are totally doable... I'll look into them...I'll also investigate the trending topics issue

[2021-02-09 18:13] jywarren commented on #8966
Reading through this now, thanks @RuthNjeri !!!

@ebarry @RuthNjeri i'm thinking on the way the tag cards will try to display most recent updated content, and had an idea -- what if a small "new" badge appears next to the "2 notes | 5 wikis" bottom-left items corresponding to what was the new content? We could do a couple small queries to check, perhaps a Tag method called most_recent_activity_typ

[2021-02-09 19:04] jywarren commented on #8513
thank you!!

On Tue, Feb 9, 2021 at 11:46 AM Ruth <notifications@github.com> wrote:

[2021-02-09 19:16] #9151 closed

[2021-02-09 19:49] RuthNjeri opened #9166 "Sidebar Styling New Dashboard"
This is part of https://github.com/publiclab/plots2/issues/8513

It will fix styling issues raised in https://github.com/publiclab/plots2/issues/8513#issuecomment-776072401

[2021-02-09 19:53] RuthNjeri opened #9168 "Trending Issues Not Loaded"
This is part of #8513

In some cases, there are not trending tags being loaded...
See point 3 in https://github.com/publiclab/plots2/issues/8513#issuecomment-776072401

[2021-02-09 20:09] jywarren commented on #1502
While looking into this for a possible Summer of Code project this upcoming summer, I found the community detection bug, which was subtle -- data was in a nested object like `{data: { DATA }}` rather than just `{ DATA }`. Fixed in https://github.com/publiclab/plots2/pull/9169 !

[2021-02-09 20:09] RuthNjeri opened #9170 "Aria Hidden Attribute For Blog Images"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-09 20:10] jywarren commented on #1502
![image](https://user-images.githubusercontent.com/24359/107422350-e6ad3500-6ae8-11eb-87af-62099d142a62.png)

[2021-02-09 20:10] jywarren commented on #1502
That's just with our test data; full fix will be visible in the stable server once we merge it and it rebuilds; probably 30m or so.

[2021-02-09 20:16] RuthNjeri opened #9171 "Aria Hidden Attribute For Topic Card"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-09 20:20] RuthNjeri opened #9172 "Tab Index For Pinned Blog"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-09 20:24] jywarren commented on #8966
So Ruth, I guess I'm warming up to your idea of tracking the exact item that caused the Tag timestamp to get updated. I had thought maybe we could approach the idea more slowly but since there's been added emphasis on including comments, perhaps we'd better seriously consider this. I wonder if you added a second column to `Tag` alongside the new timestamp in #9165, for a pointer to the exact recor

[2021-02-09 20:34] #9166 closed

[2021-02-09 20:42] noi5e commented on #9131
Side note: I noticed that `localStorage` behaved inconsistently while I was making these revisions to save & recover.

### Ideal: Visiting `/`, Then Navigating to Node
1. Visit the homepage at `localhost:3000`
2. Navigate to `localhost:3000/questions/path/to/question`
3. Scripts, when saving to `localStorage` save to `localhost:3000` as expected
4. Everything works as expected!

### Buggy: Navigat

[2021-02-09 21:09] jywarren commented on #9131
Hmm. one thing I thought of wrt the localstorage issue is that it can sometimes happen that we try to execute JS before a page is finished loading, and in test environments perhaps this is harder to notice? But it's just a guess.

I like the solution you did with unique IDs. But noting that possibly this could prevent recovery on a page which no longer exists, or a comment which no longer exists?

[2021-02-09 21:25] jywarren commented on #1502
Nice there we go:

![image](https://user-images.githubusercontent.com/24359/107430629-693af200-6af3-11eb-9556-795b041a3a7c.png)

https://stable.publiclab.org/tags (remember this will go down for 10m each time we merge a new change)

[2021-02-09 21:31] noi5e opened #9175 "[Discussion] Rewrite Comment Editor with React"
Let's see how this wild experiment goes! I installed React & Webpack on a development branch, and I'm going to see if I can reproduce the Comment Editor using React.

Doing all my work in Draft PR #9176 and in the branch at `react-comments`

The purpose of this is to figure out:

1. Does React offer any significant advantage in terms of state management? As we've seen, Comment Editor state can get

[2021-02-09 22:08] noi5e commented on #9175
Installation went smoothly, which is nice! Here's what I have so far on the `upstream`/`react-comments` branch:

1. Visit any note (not question or wiki) page, and pass in the parameter `react=true` in the URL.
2. `Hello React!!!` is rendered instead of the comment editor!

<img width="720" alt="Screen Shot 2021-02-09 at 2 06 33 PM" src="https://user-images.githubusercontent.com/4361605/107434940-

[2021-02-09 22:26] noi5e commented on #9175
Lots of errors in CI for the draft PR #9176:

<img width="998" alt="Screen Shot 2021-02-09 at 2 23 56 PM" src="https://user-images.githubusercontent.com/4361605/107436575-903cf800-6ae2-11eb-95da-b9e6b6af460a.png">

The errors refer to `/public/packs-test/manifest.json`, which exists, but is `.gitignore`d locally. This probably doesn't exist in the testing environment, so that's what's causing the

[2021-02-10 07:18] deve1212 commented on #2552
_PASSENGER_FORCE_HTTP_SESSION=true passenger start -p 3000 this command helped me to resolve the issue

[2021-02-10 15:36] jywarren commented on #9004
Just carefully reviewed these updates and wanted to say this was a great process and congrats for finishing it up!

[2021-02-10 15:51] RuthNjeri commented on #8966
@jywarren that sounds like a great idea...it's pretty straightforward..we'll see how it looks and performs after the implementation.

[2021-02-10 20:20] ebarry commented on #5095
👻 This just happened again.
I was on https://publiclab.org/profile/liz
and clicked "292 research notes"
then arrived at https://publiclab.org/notes/author/liz where the "ghost" appeared:
<img width="925" alt="Screen Shot 2021-02-10 at 3 18 13 PM" src="https://user-images.githubusercontent.com/161439/107566971-728b9380-6bb3-11eb-91c1-3f59de3e3f29.png">

[2021-02-11 02:08] manchere commented on #9172
Hi, I would like to work on this issue.

[2021-02-11 04:10] jmfcomo commented on #9171
Hoping to do this.  I would love to learn how Github works, and this seems to be a good way to do so.  I will likely be asking for help.

[2021-02-11 04:16] jmfcomo commented on #9171
I think that I have finished this.  Please let me know if I've done it correctly.

[2021-02-11 06:54] Yuta-KTD commented on #9170
Hi!
Is anyone else working on this one?
If not, I'd like to.

[2021-02-11 07:02] Yuta-KTD commented on #9170
Also, I'd like to report an unrelated matter.
The

link in the issue body is broken.

Is [this](https://app.egghead.io/courses/how-to-contribute-to-an-open-source-project-on-github) the correct link?

[2021-02-11 08:07] Vishruta-Patil commented on #9149
Hi , I would like to work on this issue, can you suggest me ways to get started ?

[2021-02-11 08:13] #9141 closed

[2021-02-11 08:16] #9171 closed

[2021-02-11 08:30] RuthNjeri commented on #9171
Thanks for picking it up @jmfcomo 😄  and congratulations on merging your first PR with us 🎉

[2021-02-11 08:31] RuthNjeri commented on #9170
Hi @Yuta-KTD, thanks for reaching out, I've assigned the issue to you...

[2021-02-11 08:33] RuthNjeri commented on #9170
Yes the link is broken, but you can have a look at the contribution guidelines on our [README](https://github.com/publiclab/plots2/blob/main/README.md#developers)

[2021-02-11 08:38] RuthNjeri commented on #9172
Hi @manchere, thanks for reaching out, I have assigned it to you.

[2021-02-11 11:08] larabee7777 commented on #9148
Hi I would like to help :)

[2021-02-11 16:22] redwan-mahmud commented on #9147
Hey can i claim this issue, I am trying to get into open-source and build experience slowly. ?

[2021-02-11 16:45] redwan-mahmud commented on #9147
Hey I am done updating the issue - #9186,#9187,#9188.

[2021-02-11 17:17] redwan-mahmud commented on #9147
I am not really sure why tests for #9187 and #9188 are failing. I did update the file names

[2021-02-11 22:18] manchere commented on #9172
Thank you!

[2021-02-11 23:17] noi5e commented on #9147
@redwan-mahmud Thanks for this!!!

You didn't need to open up a second and third PR. Only one PR is necessary to fix this issue. I closed the other two PRs. #9187 and #9188 were failing because in those PRs, you didn't rename `leaflet_helper.js` to `leafletHelper.js`.

It looks like #9186 failed because something went wrong with the tests. I think it was unrelated to the changes you made. I'm re-r

[2021-02-12 13:18] Yuta-KTD commented on #9170
Hi!
I've completed my task! Please confirm.

[2021-02-12 13:19] Yuta-KTD commented on #9170
Thanks for letting me know.
I checked those guidelines.

[2021-02-13 08:23] Vishruta-Patil commented on #9149
can I start working on this issue

[2021-02-13 08:40] katiebankhead commented on #9143
Hi, I'd like to claim this issue! 🙋‍♀️

[2021-02-13 14:28] shadowoflight commented on #9143
Hi, I have completed the issue and going to open a pr regarding the same.

[2021-02-13 14:30] gauravahlawat81 commented on #9143
@shadowoflight Please open up a PR and we'll be able to help you in a better way :+1:

[2021-02-13 14:31] shadowoflight commented on #9143
@gauravahlawat81  I am trying to but I am facing an error while trying to push my changes . Error : remote: Permission to publiclab/plots2.git denied to shadowoflight.
fatal: unable to access 'https://github.com/publiclab/plots2.git/': The requested URL returned error: 403

[2021-02-13 14:31] shadowoflight commented on #9143
Please help me out on the same

[2021-02-13 14:55] shadowoflight commented on #9143
I have raised a pr , requesting for review

[2021-02-13 15:00] shadowoflight commented on #9172
Is the issue active , if @manchere is not working on it, can I go ahead and complete this issue @RuthNjeri

[2021-02-13 16:22] harshdhonchak commented on #9170
Is anyone working on this @RuthNjeri . if not I would like to work on this .

[2021-02-13 17:06] manchere commented on #9172
yes, working on it

[2021-02-13 18:33] manchere commented on #9172
@RuthNjeri I am facing some issues setting up my environment, so I have unassigned to allow others to work on the issue.

[2021-02-13 19:13] Manasa2850 commented on #4622
@cesswairimu I'm reopening this issue since we have 2 more instances where `error_messages` needs to be removed.
Thanks!

[2021-02-13 20:52] noi5e commented on #9148
@larabee7777 Sorry for the late response! It's yours, go ahead! Let us know if you need any help making the PR :)

[2021-02-13 20:57] noi5e commented on #9149
@Vishruta-Patil Excellent! Yes, you can start working on this issue. Please look under "Step by Step" for guides on how to make a pull request. And definitely comment if you have any specific questions! :)

[2021-02-14 08:19] shadowoflight commented on #9071
@noi5e  can I work on this issue if @RATED-R-SUNDRAM is not working on this?

[2021-02-14 08:31] shadowoflight commented on #9172
Made a pr, requesting review @RuthNjeri

[2021-02-14 08:42] noi5e commented on #9071
@shadowoflight Good question! @RATED-R-SUNDRAM Do you still want to work on this issue? Are you stuck anywhere and need help? If you don't want to work on this anymore, are you okay with @shadowoflight taking it over?

[2021-02-15 05:21] shadowoflight commented on #9071
Since @RATED-R-SUNDRAM has no response it will be fair enough if I take up the issue and start working @noi5e

[2021-02-15 08:58] RuthNjeri commented on #9170
Hi @harshdhonchak, yes, @Yuta-KTD has already raised a PR on it.

[2021-02-15 09:00] noi5e commented on #9071
@shadowoflight Go ahead!

[2021-02-15 15:43] larabee7777 commented on #9148
Thank you so much and please don't worry about time, we are all so busy so squeezing things in can get tough sometimes and in any case I appreciate any help I can get :)

[2021-02-15 16:32] larabee7777 commented on #9148
@noi5e Done, please review when you get a chance thanks :)

[2021-02-15 16:36] #9160 closed

[2021-02-15 16:44] #9147 closed

[2021-02-15 17:02] #9143 closed

[2021-02-15 17:36] RuthNjeri opened #9203 "Add New Comment Bullet If New Comment Exists On A Topic Card"
This is part of https://github.com/publiclab/plots2/issues/8513 and https://github.com/publiclab/plots2/issues/8966

Add a new comment bullet on a topic card if a new comment exists.

`2 notes | 5 wikis | • new comment`

[2021-02-15 20:30] noi5e commented on #9144
@iamayushdas I'm closing your PR and freeing up the issue for someone else to work on. Let me know if you want to continue working on this, or would like some help! :)

[2021-02-15 20:37] noi5e commented on #9148
@larabee7777 Thanks for making this commit. Hmm... It looks like you forked the repo, which is good.

After you make a commit, the next step is to make a pull request. Here's a tutorial which will teach you about that workflow, I recommend you go through it: http://jlord.us/git-it/

Even though this tutorial uses the command line, you can make all your changes via GitHub's website if you prefer.

[2021-02-16 01:21] nphan03 commented on #9172
Hi all,
Is this still available for contribution? If so, please let me know
Thanks

[2021-02-16 05:05] noi5e commented on #9175
This is coming along nicely. I have a list component that is able to iterate over an array of `comment` objects:
<img width="718" alt="Screen Shot 2021-02-15 at 8 55 49 PM" src="https://user-images.githubusercontent.com/4361605/108020016-52ebd500-6fd0-11eb-95b1-df2a5d3ab6e2.png">

As you can see, the rendering is very weird with `<p>comment text</p>`. It probably has something to do with encoding

[2021-02-16 05:32] shadowoflight commented on #9172
@nphan03 I have already raised a pr for the same, you might like to work on other issues open, thanks.

[2021-02-16 08:43] cesswairimu opened #9205 "Weekly Community Check-In #92 - Let's talk BurnOut"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-02-16 08:47] cesswairimu commented on #9158
Moved to https://github.com/publiclab/plots2/issues/9205 thanks all

[2021-02-16 08:47] #9158 closed

[2021-02-16 09:17] noi5e commented on #9175
### `Accessing comment.author`
@jywarren Maybe you can help me here? I'm trying to write the React equivalent of the code here in the `notes/_comment` partial (looking up the author of the comment):
https://github.com/publiclab/plots2/blob/ff75433297e13775353e4a4e9ca38abc78d85cac/app/views/notes/_comment.html.erb#L18-L30

The problem is that the React state of `comment` looks like this in my app:

[2021-02-16 09:24] #9142 closed

[2021-02-16 09:26] #9152 closed

[2021-02-16 09:47] manchere commented on #9144
@noi5e Hi I would like to work on this issue

[2021-02-16 09:49] noi5e commented on #9144
@manchere Great, go ahead!

[2021-02-16 09:50] manchere commented on #9144
@noi5e thank you!

[2021-02-16 10:41] larabee7777 commented on #9105
Hi @Manasa2850,  I'd like to claim this if it is still open thanks :)

[2021-02-16 11:13] Manasa2850 commented on #9105
Hi! We already have a pull request for this. Would you like to take up some other issue?
Thanks!

[2021-02-16 11:15] larabee7777 commented on #9105
Yes you can assign something, else I will just continue looking thanks so much :)

[2021-02-16 11:32] Manasa2850 commented on #9105
@larabee7777 please feel free to comment and start working on any of the [help wanted](https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) issues that someone else is not working on. Thanks!

[2021-02-16 11:56] larabee7777 commented on #8512
Do you need help here?

[2021-02-16 11:58] larabee7777 commented on #8749
I am available to be assigned

[2021-02-16 12:31] Manasa2850 commented on #9105
Closing this issue since it's not really a first timer issue (with reference to [this comment](https://github.com/publiclab/plots2/pull/9111#discussion_r568681524)). Sorry about that!

[2021-02-16 12:31] #9105 closed

[2021-02-16 17:45] jywarren commented on #9175
OK, so i'm thinking on how to "pack" the association (which in this case is not a real relation but just a query for `User.find(uid)` in `concerns/comments_shared.rb` -- and the example i can think of is in MapKnitter:

https://github.com/publiclab/mapknitter/blob/3d8906e7f1babde58a8500c9d62895c7c7924be3/app/models/warpable.rb#L34-L49

This packs up whatever you want into a Hash format, which can

[2021-02-16 17:59] jywarren commented on #5095
Just an update - reading the above again, i see that "owmloading.gif" means "open weather map loading" and not a mis-spelling of "downloading" - lol!

https://github.com/buche/leaflet-openweathermap/blob/master/example/leaflet/owmloading.gif

https://github.com/publiclab/leaflet-environmental-layers/pull/473/ attempted to add it locally within LEL, which could work. I'll try that again, but we can

[2021-02-16 18:05] noi5e commented on #9175
@jywarren Thanks, yeah that is helpful! I think that will help once I get a better idea of what things need to be in the massive `state` object that Rails hands off to React.

I thought of another small question. Take a look at these lines I posted above from the new React revision:
https://github.com/publiclab/plots2/blob/ff75433297e13775353e4a4e9ca38abc78d85cac/app/views/notes/show.html.erb#L128

[2021-02-16 18:32] #9170 closed

[2021-02-16 19:06] jywarren commented on #5095
Progress at https://github.com/publiclab/leaflet-environmental-layers/pull/504 once we get tests running again via GitHub actions for that repo! Then we'll bump the version and re-release.

[2021-02-16 19:19] #9144 closed

[2021-02-16 19:22] jywarren commented on #9175
Hmm, interesting, so what are you aiming to do with the line `comment.merge({ "commentText" => comment_text })`? this would be a change only after the comment is fetched from the database and before it's rendered to the view, but it's not a persistent change. You can overwrite `comment.commentText` but you need to then run `comment.save` (assuming `comment` is a full Ruby/ActiveRecord object) for

[2021-02-16 19:23] #9203 closed

[2021-02-16 19:24] #9148 closed

[2021-02-16 19:48] RuthNjeri commented on #9205
Thanks for this @cesswairimu!

I know burnout could happen in different ways, I am not sure how to describe it. One thing I do to avoid it is ensuring that I do not overexert myself in work. Sometimes I catch myself when I want to do some extra work and tell myself to just leave it for tomorrow because work never ends. Other times, I try my best to avoid working 'after' hours because it could easi

[2021-02-16 20:25] RuthNjeri commented on #8966
This has been completed in #9165 and #9203

[2021-02-16 20:25] #8966 closed

[2021-02-16 20:32] RuthNjeri commented on #8967
Hi @ebarry, I remember you suggested this issue during a past meeting,

@jywarren shared one above, where we could load the images of individual posts within a topic card..
![Screenshot 2021-02-16 at 23 31 11](https://user-images.githubusercontent.com/7622875/108118274-2955ab00-70af-11eb-8618-64a262d91478.png)

Let me know what you think of this... I could draft it locally and share what it would

[2021-02-16 22:39] #5095 closed

[2021-02-17 00:24] noi5e commented on #9175
It's like this:

1. `comment` right out of the box is I believe an `ActiveRecord` object. I can read values from it, but I can't write anything to it (ie. `comment[:commentText] = "string"` returns error)
2. So that's why I transform it into a Hash object here: `comment = comment.as_json`
3. And then add a new key =>  value pair here: `comment.merge({ "commentText" => comment_text })`

I'm sure th

[2021-02-17 00:33] jywarren commented on #9175
Ok, do you want to permanently write to the record, so it's saved in the database, or just to the temporary copy in memory, and it's ok if the comment doesn't retain the change?

[2021-02-17 00:37] noi5e commented on #9175
The second! 😊 Definitely don't want to save anything to the database, I just want to package up everything that React needs in a JSON `state` object. This requires translating the ActiveRecord thingies into objects I can write values into.

[2021-02-17 00:39] jywarren commented on #9175
Yes then your code looks good! I had to do something similarly odd to achieve the same in the mapknitter code but there are multiple ways to do it and you're right that the hard part is getting around the inability t write arbitrary attributes in Ruby.

[2021-02-17 00:40] jywarren commented on #9175
And i don't know what the most legible or standard way of doing this is but since it looks a bit odd maybe we should leave a comment like "temporarily add in extra attribute to a copy of the record in memory" or something?

[2021-02-17 00:42] noi5e commented on #9175
Yeah, definitely going to make comments all over the place. After I make some decent progress, I'll move this all to the controller and just make a fresh Hash object to hold all the JSON. Similar to the MapKnitter example. I think that will be a lot easier to read.

[2021-02-17 15:33] first-timers[bot] opened #9209 "Remove deprecated "--without" flag while bundling"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-17 16:08] cesswairimu opened #9211 "Sprockets error on gitpod"
- Gitpod  is showing the `Sprockets::FileNotFound in Home#home` on launching the browser
- Running yarn install from the gitpod terminal then refreshing the web page fixes the issue but we do have this command in the gipod docker file...maybe separate it and run it as separate?

Recent deprecation of  `bundle install --without production ` which is part of the script that also has the `yarn instal

[2021-02-17 19:22] jywarren commented on #4617
Closing this for now, but if the issue persists, please re-open! Our comment editor has been mostly rewritten so I believe this should be resolved. Thanks.

[2021-02-17 19:22] #4617 closed

[2021-02-17 19:38] jywarren commented on #3869
I believe this is complete now in our new test setup - using chromedriver! https://github.com/publiclab/plots2/blob/main/.github/workflows/tests.yml#L89

[2021-02-17 19:38] #3869 closed

[2021-02-17 19:40] jywarren commented on #4291
I bet this is now complete due to fixes by @noi5e !! Closing, but re-open if I'm wrong! Thanks!

[2021-02-17 19:40] #4291 closed

[2021-02-18 00:18] rohanhere commented on #9209
I would like to claim this issue.

[2021-02-18 00:30] rohanhere commented on #9209
Would someone please review this?

[2021-02-18 08:07] pydevsg commented on #9209
@rohan2599 reviewed, your PR will be merged soon 🎉

[2021-02-18 10:25] manchere commented on #8808
@jywarren I would like to work on this please

[2021-02-18 13:49] larabee7777 commented on #9140
Hi do you need help here?

[2021-02-18 14:42] #9172 closed

[2021-02-18 14:44] jywarren commented on #9172
Hi @manchere did you need some help with your local setup? You can check out #3840, and folks in the chatroom are often happy to help out too! https://gitter.im/publiclab/publiclab

[2021-02-18 15:04] RuthNjeri commented on #9168
Hi @jywarren, About the trending topics not showing up for you, I tested this on the stable site and initially, nothing showed up for me as well..
![Screenshot 2021-02-16 at 23 46 00](https://user-images.githubusercontent.com/7622875/108375984-8a968f00-7213-11eb-9111-c9c2c9e3c51c.png)

Then I noticed, the trending code, only shows topics that have a post within the past month. So I created a post

[2021-02-18 18:34] noi5e commented on #9140
@larabee7777 You've already completed one of these first-timer-only issues (#9148). I think generally each person gets only one FTO issue.

If you're looking for another way to contribute, you could browse through our [help wanted issues](https://github.com/publiclab/plots2/labels/help%20wanted). OR you could also help someone else get through their own FTO issue. maybe the two open issues above?

[2021-02-18 19:51] larabee7777 commented on #9140
Ah ok I see thanks so much I will check out the other issues :)

[2021-02-18 19:58] noi5e commented on #9205
Yeah, thanks for posting this @cesswairimu! It's a really important topic.

I like to track my time using the [Pomodoro technique](https://en.wikipedia.org/wiki/Pomodoro_Technique). Tracking and budgeting my time helps me feel less anxious about getting things done... I can look at a goal and say to myself, _"Oh, that will take around 3 days"_, which somehow takes a lot of the stress out of work.

[2021-02-18 20:00] noi5e commented on #9149
@Vishruta-Patil How's it going? Just checking in to see if you'd like any help with this task :blush:

Feel free to ask any questions about anything!

[2021-02-18 20:33] jywarren opened #9215 "Activity timestamp errors related to new dashboard"
Hi, @RuthNjeri i'm seeing this interesting error while testing out fixes for the "owmloading" bug on the latest main branch - i tried entering the tags `lat:32,lon:-90` into the tag input form and it turned grey but didn't add the tags. I checked the logs and saw this:

[code]

Not sure -- i think we have to run a migration and we haven't yet? That column seems not to exist yet. Any thoughts on th

[2021-02-18 20:58] #9211 closed

[2021-02-18 21:55] jywarren commented on #5095
Final fix in https://github.com/publiclab/plots2/pull/9208, whew.

[2021-02-19 01:11] noi5e commented on #9175
<img width="640" alt="Screen Shot 2021-02-18 at 5 05 19 PM" src="https://user-images.githubusercontent.com/4361605/108442212-7ea6cf00-720b-11eb-849e-cf7985dbfd26.png">

Coming along nicely! I am now generating initial React props in the `notes#show` controller, where they belong:
https://github.com/publiclab/plots2/blob/1fe4e518e342a7aff57e15d02d6d98660a5b9933/app/controllers/notes_controller.rb#L

[2021-02-19 05:33] RuthNjeri commented on #9215
Hi @jywarren I am trying to test this on the stable site https://stable.publiclab.org/  and everything seems to be working as expected(the tags bumping up a topic card when a new post is added...)

Are you testing this out locally? Your suggestion to add it in the schema.rb.example makes sense because in the installation steps outlined in the README we have this statement

`Run cp db/schema.rb.exa

[2021-02-19 14:43] jywarren commented on #9215
I saw this in GitPod, so i'm not sure... i am remembering that there are 2 processes -- one from a fresh empty database where we just build it with `rake db:setup` and `rake db:seed` (i think) and another where it's a pre-existing database and we run `rake db:migrate`. So the migration you wrote is fine for a live existing database but in GitPod it's trying to instantiate one all at once from the

[2021-02-19 14:43] #9215 closed

[2021-02-19 15:30] jywarren commented on #9175
Ah, i see - view helpers, makes sense - so we could also have the option to replace the time-related ones with JS-driven equivalents, but... a little harder to test efficiently i suppose. Although we'd be doing system tests anyways, right?

The extras, yeah, i don't see another way. Well, there are ways to use view helpers within a controller! It's:

[code]

I think... Just in case that's helpful!

[2021-02-19 15:31] jywarren commented on #9175
As to the encoding, i bet it's being escaped at some level due to not being marked as safe HTML. In .erb files, you can use `<%=raw ... %>`, i wonder if there's an equivalent to stop escaping "unsafe" content in your workflow?

[2021-02-19 15:34] jywarren commented on #9175
One thing to think on here is how complex is the integration between the React client side code and the parent app. The fewer places we have to integrate the better; there should ideally be just a single "handoff point" where the thing is constructed, and all the params are being inserted.

Here's an example:

https://github.com/publiclab/plots2/blob/59299496d03dad4eac3ef8c0ff7d0b29c099c0e4/app/as

[2021-02-19 15:35] #9209 closed

[2021-02-19 15:43] jywarren commented on #9175
OK, i left a bunch of comments in your PR, hope they are helpful!!!

[2021-02-19 15:46] jywarren commented on #9205
OMG i should really try pomodoro just for the "stand up take a break" thing. Tuesday I didn't move my body at all! It was not a good feeling.

One thing I've really learned during the past year is that I have waves of energy and also lethargy, and that i have to learn to be attuned to my body and mind and to go with it when i feel it, but not force it when I don't, if I can help it. So, sometimes

[2021-02-19 15:47] #9159 closed

[2021-02-19 16:07] cesswairimu commented on #5095
Wow finally!!!  this is awesome :tada: :tada:

[2021-02-19 16:25] first-timers[bot] opened #9218 "Remove repetition"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-02-19 16:44] gblend commented on #9218
Can I work on this please?

[2021-02-19 17:42] Manasa2850 commented on #9218
Sure @gblend. Will assign it to you!

[2021-02-19 18:19] cesswairimu opened #9219 "Call for Summer of Code(soc) mentors 2021!!"
Hi everyone :wave:
We are applying to  [GSoC](https://summerofcode.withgoogle.com) and [Outreachy](https://www.outreachy.org/) and we are looking for folks interested in mentoring both of these programs this coming summer. We have participated in both during the past few years.

Read some of last year's proposals for Outreachy  [here](https://publiclab.org/notes/liz/03-09-2020/call-for-outreachy-2

[2021-02-19 18:57] cesswairimu commented on #9205
Thanks everyone for sharing.
This sneaks up on me every now and then, I do not have a well laid out plan of avoiding it yet...I have this not so good habit-- when I get started on a task I just don't know when to stop esp if I am in the "zone". Working from home has made it worse because when previously leaving the office would mean I am done from the day..now I just lose track of time... I will

[2021-02-19 19:33] jywarren commented on #9219
Sending appreciation and gratitude to past mentors @CoderJolly @subhahu123 @ananyaarun @starkblaze01 @govindgoel @sidntrivedi012 @debck @SidharthBansal @sagarpreet-chadha @pydevsg @blurry-x-face @Divy123 @emilyashley @sidntrivedi012 @subhahu123!

And we are happy to answer questions about what mentoring is like. Thanks for posting, @cesswairimu !!

[2021-02-19 19:33] jywarren commented on #7360
@cesswairimu just posted the 2021 call for mentors here! https://github.com/publiclab/plots2/issues/9219 -- thank you all!!

[2021-02-19 19:34] jywarren commented on #9219
cc @publiclab/is-maintainers @publiclab/comment-maintainers @publiclab/is-ui-maintainers @publiclab/is-cli-maintainers

[2021-02-19 19:37] RuthNjeri commented on #9219
This is amazing!! I would love to transition into mentoring the next round of applicants! I have learnt a lot through the mentorship provided and would like to do the same for others.

[2021-02-19 22:11] #8566 closed

[2021-02-20 11:49] avats-dev commented on #8911
Hi @Kaushal-Dhungel, I am explaining where you went wrong while submitting the PR:
- you forked this repo and created a branch and updated that with the required changes
- now you opened a PR against your main branch, while it should be the main branch of original **plots2** repo so that we can review and merge the PR here

So, go to your feature branch where you made the changes and open a PR wit

[2021-02-20 23:59] vuon0029 commented on #9218
Hi, I am new. Can I help with this issue?

[2021-02-21 10:22] rpeb commented on #9218
I can work on this if this is still open.

[2021-02-21 11:55] ghostoverflow commented on #9150
Can I work on this?

[2021-02-21 17:44] noi5e commented on #9150
@ghostoverflow, yes you can! I haven't heard from @pleasestopp in a while, so feel free to submit a pull request. You'll probably run into the same issues that they did in their PR, so just refer to theirs if you need some help. And you can also leave a comment!

[2021-02-21 19:58] imajit commented on #7507
@jywarren @cesswairimu i would like to work on this

[2021-02-21 20:11] ghostoverflow commented on #9150
Thanks, I'm going to start work on it

[2021-02-21 23:38] noi5e commented on #9175
Both super-helpful to know, thank you! Will revisit these later.

I hear you, and I think it looks pretty good so far. If I integrate the view helpers into the controller that 'bundles up' React state. That means there essentially is just one "handoff point." From that point forth, after the state is handed off to the React app, there's no more front-end interaction between the Rails parts and the

[2021-02-22 00:16] noi5e commented on #9175
Pushed a few more commits, here's what it's looking like now:
<img width="581" alt="Screen Shot 2021-02-21 at 12 15 35 PM" src="https://user-images.githubusercontent.com/4361605/108643235-81e5c900-745e-11eb-8e32-4c3492b5fa51.png">

### `State Management: Toggling Reply Form`
I'm starting to work with [state management](https://reactjs.org/docs/state-and-lifecycle.html) a little more, using [React

[2021-02-22 00:25] noi5e commented on #9175
### `React Context: Comment Toolbars`
The other major change is state management for the comment toolbar. These are the buttons in the top-right corner of each `Comment` (not to be confused with the editor toolbar):
1. Edit Comment
2. Mark Comment as Spam
3. Delete Comment
4. Leave Emoji Reaction

These are deceptively complex buttons. Each one of them renders or doesn't render based on several co

[2021-02-22 00:34] noi5e commented on #9175
### `Next Steps`
These commits mark a milestone. Basically, this work shows that React can render the **R**ead part of **CRUD** and display comments from the server.

I'm going to start working on making interactive forms (which can be a little quirky in React). Then we'll see about form submission, which handles the **C**reate, **U**pdate, and **D**elete parts.

If I can pull that off 🤞 then it's

[2021-02-22 00:46] noi5e commented on #9219
Second that, would be interested in becoming a mentor as well!

[2021-02-22 00:51] CoderJolly commented on #9219
This is amazing @jywarren & @cesswairimu. I appreciate your concern and I offer the same gratitude to @publiclab/mentors @publiclab/maintainers @publiclab/comment-maintainers @publiclab/is-maintainers @publiclab/is-ui-maintainers @publiclab/is-cli-maintainers as well !!

Cheers 🎊 👍🏻

[2021-02-22 05:32] akshay4n commented on #9149
@noi5e Hi! Is this issue still open? Would like to work on it.

[2021-02-22 05:34] noi5e commented on #9149
@akshay4n Yes, please, go ahead!

[2021-02-22 06:08] cesswairimu commented on #7507
That's great @imajit 🎉... kindly check out Jeff's comment, that is what we would like to implement on this issue for now. Thanks

[2021-02-22 06:13] akshay4n commented on #9149
I tried changing name of the file, generated a Pull Request. It ended up in some errors.

[2021-02-22 12:57] ucusita commented on #8749
Hello, I would happy to try this.

[2021-02-22 13:04] ucusita commented on #9149
Hello, i´m interested in work in it

[2021-02-22 13:31] ucusita commented on #9150
Hello, can I work in this too?

[2021-02-22 15:24] SharmaTanish commented on #6446
Hi @nstjean  ! I am very exited to work on this issue , if it is still open . I have learnt web development from coding ninjas and all my basic concepts are clear also made Major project using CSS ( uploaded on linkedin ) . I am very hardworking and have scored 94.2% in 12th . You can also go through my linkedIn profile - https://www.linkedin.com/in/tanish-a54b771b3 .
Looking forward for your repl

[2021-02-22 17:23] RuthNjeri commented on #6446
Hi @SharmaTanish thanks for reaching out, I have assigned it to you

[2021-02-22 17:46] noi5e commented on #9149
@ucusita This issue will be solved pretty soon I think. Here's a [link to our other first-timer issues](https://github.com/publiclab/plots2/issues?q=is%3Aopen+is%3Aissue+label%3Afirst-timers-only)

[2021-02-22 18:14] RuthNjeri commented on #8955
This was discussed in the last meeting as currently not a priority for the new dashboard. It can be implemented after the new dashboard has been tested with rounds of feedback.

[2021-02-22 18:14] #8955 closed

[2021-02-23 05:02] noi5e commented on #9175
<img width="483" alt="Screen Shot 2021-02-22 at 8 59 53 PM" src="https://user-images.githubusercontent.com/4361605/108804091-2d6f4600-7551-11eb-8252-a8de64e15b74.png">

Today we have non-functional `textarea` and publish & preview buttons. Now to hook them up to React state, then after that AJAX form submission!

[2021-02-23 06:53] SharmaTanish commented on #6446
Thank you @RuthNjeri for replying . Please tell me what to do and how ?

[2021-02-23 07:17] noi5e commented on #9175
<img width="836" alt="Screen Shot 2021-02-22 at 11 14 33 PM" src="https://user-images.githubusercontent.com/4361605/108812348-ceff9300-7563-11eb-9ad1-25c9fa852100.png">

The `CommentForm` component is now hooked up to React's state. So, typing in `textarea`s updates state. I wrote a `handleSubmit` function that will `console.log` state.

Now to work on form submission! This is the first time the f

[2021-02-23 07:33] #9218 closed

[2021-02-23 07:39] #9149 closed

[2021-02-23 07:51] #7122 closed

[2021-02-23 16:19] RuthNjeri commented on #6446
@SharmaTanish you can begin by going through the contribution guidelines and steps here https://github.com/publiclab/plots2#contributing

[2021-02-23 16:31] #9150 closed

[2021-02-23 16:58] jywarren commented on #8513
Hi Ruth - i noticed something and tried to fix it but I failed; due to these lines, the dashboard map doesn't quite load (and actually everywhere else too!) upon page load - it only loads some data once you interact with the map. I tried expanding the event listener and other strategies for a deferred load once the whole page is ready, but wasn't able to get it to work.

https://github.com/publicl

[2021-02-23 17:12] ebarry commented on #8967
thank you! Yes, @publiclab/community-reps have requested to see more images on the dashboard -- thank you for testing out some ideas!

[2021-02-23 17:13] jywarren commented on #9168
OK, i think we can say this is just OK. Thank you!!!

[2021-02-23 17:13] #9168 closed

[2021-02-23 18:05] cesswairimu opened #9229 "Weekly Community Check-In #93 - SoC Preparation"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-02-23 18:07] cesswairimu commented on #9205
Moved to https://github.com/publiclab/plots2/issues/9229. Thanks all

[2021-02-23 18:07] #9205 closed

[2021-02-23 19:21] RuthNjeri commented on #8513
Hi @jywarren I'll have a look at this and let you know what I find...

[2021-02-23 19:47] jywarren commented on #8967
it may be worth thinking about how this looks with lots of these on a page -- could we try using the mockups doc to insert real images and stack 3 of these so we can see what it would look like?

https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit#slide=id.g5a6cac5901_0_0

[2021-02-23 20:06] jywarren commented on #8401
I believe this is actually part of #8865 and should be solved there! Thanks!

[2021-02-23 20:06] #8401 closed

[2021-02-23 20:21] jywarren commented on #2201
My reading was that https://github.com/publiclab/leaflet-blurred-location-display/pull/102/ shows popups for grid (blurred) people. I think that should solve it, as we would no longer show points for blurred locations anyways.

[2021-02-23 20:21] #2201 closed

[2021-02-23 20:41] #7918 closed

[2021-02-23 21:20] jywarren opened #9232 "Calendar "datepicker" integration as tagging widget or wizard for notes"
We have a calendar widget in the legacy post form at https://publiclab.org/post?legacy=true, which appears when you click `This is an event`:

![Screen Shot 2021-02-23 at 3 46 15 PM](https://user-images.githubusercontent.com/24359/108905935-4c6fe580-75ee-11eb-8258-da9de0b9c4ec.png)

We should be able to, instead of integrating this with the new Editor code, make it appear at the bottom of a post,

[2021-02-23 21:33] cesswairimu commented on #9219
**Update:** All interested kindly fill in [this form](https://docs.google.com/forms/d/e/1FAIpQLSempLUqWxIUDlaTM4V9dHtCPwU6AbHOBLuJpPYwCzqJunkiYg/viewform) for better planning. Thanks

[2021-02-23 21:50] ebarry opened #9233 "Date error on post in moderation queue"
### Problem Description

A comment that appears in the https://publiclab.org/spam2 queue an hour ago (shown in the screenshot as the top comment), when clicked, says it was posted `51 years ago`.

<img width="1000" alt="screen_shot_2021-02-23_at_4 05 31_pm" src="https://user-images.githubusercontent.com/161439/108912924-4b8f8180-75f7-11eb-9473-826f57754cb4.png">

I expected to see a more recent ti

[2021-02-23 23:21] noi5e commented on #9140
Okay, I think with the two PRs that got merged today, we can close this issue!!! Thanks to everyone who made their first PRs and helped us with this! @Hari-tn67 @katiebankhead @shadowoflight @manchere @StellaWanja @redwan-mahmud @larabee7777 @akshay4n @ghostoverflow @StreakSharn @Nagsenwaghmare 🏆 🎉 🍾

If any of you would like to help out some more, or get more experience in open source, check out

[2021-02-23 23:21] #9140 closed

[2021-02-23 23:22] noi5e commented on #9071
@shadowoflight How is it going with this issue? Were you able to find a way to get the app set up locally or on GitPod? Please let me know if there's any way I can help 😄

[2021-02-24 05:49] noi5e commented on #9175
I had a go at having `CommentsContainer` do an jQuery AJAX request, and the results were... Weird and unexpected?

The request is successful. The comment gets inserted into the database. The weirdness begins when the Rails server sends back its 200 response. `create.js.erb` runs some JavaScript to insert the new comment into the DOM.

All of the old comments are still built with React. BUT the new

[2021-02-24 15:20] ebarry commented on #8967
I created a blank slide on page 30 right after the dashboard mockups on 26-29: https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit?pli=1#slide=id.gbfcece396c_1_0

[2021-02-24 17:06] RuthNjeri commented on #8513
Hi @jywarren I looked at the console when the dashboard is loading and noticed this error
![Screenshot 2021-02-24 at 20 01 15](https://user-images.githubusercontent.com/7622875/109036940-3429c480-76db-11eb-94d3-7d71db716f16.png)

In the _mapDependencies file, the heatmap.js has been listed before the leaflet-heatmap.js
https://github.com/publiclab/plots2/blob/03e9b2717153cbfe8d42c4ee795d2919ef0aa2

[2021-02-24 17:14] RuthNjeri commented on #8513
I don't think that's the issue, I loaded the site in incognito and the heatmap.js file was present
![Screenshot 2021-02-24 at 20 13 59](https://user-images.githubusercontent.com/7622875/109038503-da29fe80-76dc-11eb-983a-6d6c482b6e94.png)

[2021-02-24 18:05] imajit commented on #9232
Can I work on this?

[2021-02-24 18:53] RuthNjeri commented on #8513
Hi @jywarren I am trying to find a way to test this locally since Google does not load the maps in development mode...
what steps were you using to test this locally?

I have looked into JQuery event listeners like .ready and .load attached to the document/ they window...but I think you have already tried this?

My current challenge is testing this locally...

[2021-02-24 19:16] jywarren commented on #8513
I'm not sure i tried all the jquery listener combinations, just the Leaflet
ones. Hmm, i thought it was possible to turn on the map but ... hmm do we
need a local Google or Mapbox API key? I believe either would be free to
sign up for: https://docs.mapbox.com/help/glossary/access-token/

https://developers.google.com/maps/documentation/javascript/get-api-key

I wonder though... either we need to i

[2021-02-24 20:38] RuthNjeri commented on #8513
I tried testing it out on Gitpod and noticed the map is still not loaded,
<img width="739" alt="Screenshot 2021-02-24 at 23 23 48" src="https://user-images.githubusercontent.com/7622875/109062555-21be8380-76f9-11eb-9728-82134f56a06d.png">
This is also the case for localhost
<img width="492" alt="Screenshot 2021-02-24 at 23 24 04" src="https://user-images.githubusercontent.com/7622875/109062597-2f7

[2021-02-24 20:57] RuthNjeri commented on #8513
Also, I think allowing the Gitpod url in the mabxox and Google map account is difficult because the URL that loads the site on Gitpod is always changing..

I think allowing local host is better... not sure of the format but I've seen this post describe how to do it for Google maps https://stackoverflow.com/questions/39329874/googlemaps-api-key-for-localhostand this one for map box https://docs.map

[2021-02-25 08:03] RuthNjeri commented on #9232
Hi @imajit thanks for reaching out. I have assigned it to you. Let us know if you have any questions.

[2021-02-25 16:26] ebarry commented on #9158
I like this "magpie" Jeff concept

[2021-02-25 17:30] #9129 closed

[2021-02-25 20:54] noi5e commented on #9175
Okay, so posting a comment, and posting a comment reply now works:

https://user-images.githubusercontent.com/4361605/109215768-7816db00-7768-11eb-8230-0f298e61f1de.mov

That takes care of **C** and **R** in **CRUD** (displaying comments, posting comments & comment replies). Now onto editing comments!

[2021-02-26 07:40] #4622 closed

[2021-02-26 14:24] RuthNjeri commented on #9229
Thanks, @cesswairimu! I'll begin creating a few FTOs from Monday next week...

[2021-02-26 14:36] madhhuurrii commented on #6923
Hii @jywarren , can I work on this issue as a first timer?

[2021-02-26 16:17] RuthNjeri commented on #8967
Thanks Liz, I'll try creating the images to compare the designs and update you and Jeff once I am done.

[2021-02-26 16:33] mishra2019 commented on #4504
@gauravano Seems like this is still open, can  i make a Pull Request now with the alert changes if that's fine?

[2021-02-26 16:37] mishra2019 commented on #4688
@avsingh999 it  seems like this is still open, can i work on this issues

[2021-02-26 20:19] Manasa2850 commented on #6871
I would like to work on this!

[2021-02-26 21:01] jywarren commented on #8513
Ah, but i thought it'd be ok if it's just changing subdomains. But maybe i
have to add *.gitpod.io -- let me try that.

On Wed, Feb 24, 2021 at 3:57 PM Ruth <notifications@github.com> wrote:

[2021-02-26 21:02] jywarren commented on #8513
Is it just google or also mapbox?

On Fri, Feb 26, 2021 at 4:01 PM Jeffrey Yoo Warren <jywarren@gmail.com>
wrote:

[2021-02-26 22:00] RuthNjeri commented on #8513
Thanks! It will help a lot with the testing... I tried creating my own API keys with map box but the URLs are so specific and somehow different..I'd need to create some more specific URLs with the Mapbox...

if Google is allowed, we won't see the 410 'gone' message on the console...so that would be easy to tell...

[2021-02-27 16:15] jywarren commented on #8513
OK, the google one is done and added, and I checked; we don't have URL origin limits on our MapBox keys so that one should be OK. Tell me how it works!

[2021-02-28 18:32] PavitKaur05 commented on #9083
Hello, I am a first-time contributor here and looking for a first-timers-only issue. I would be really glad if I could be helped in finding one. Please add my name to the list. Thanks!

[2021-02-28 23:07] noi5e commented on #9175
😌 Whew, a lot of hard but satisfying work to get edit forms up and running. Here the latest updates:
- clicking on the pencil icon now toggles the Edit Comment form.
- Edit Comment form's `<textarea>` has a default value of `rawCommentText`
  - I had to do a lot of things behind the scenes with React state to make this work, which is typical of React & forms.

If the user edits the text, but cance

[2021-03-01 08:56] cesswairimu commented on #9083
Hi @PavitKaur05 , sure thing, added your name to the list and will ping you when one is available. Thanks

[2021-03-01 09:06] cesswairimu commented on #9229
Hi all, lets keep this for another week as we continue the preparations. Thanks

[2021-03-01 15:14] RuthNjeri commented on #8513
Hi @jywarren I am testing it now,
I no longer see the Google map "gone" message...but I see several for the mapbox...I don't know if this is an issue yet..

But on `v2/dashboard` the map is being loaded with the needed markers
![Screenshot 2021-03-01 at 17 56 58](https://user-images.githubusercontent.com/7622875/109516057-d4576300-7ab8-11eb-8663-32c46d3ddcb0.png)
![Screenshot 2021-03-01 at 17 57 3

[2021-03-01 16:02] jywarren commented on #8513
Hi Ruth, what I'm seeing is that the maps load with no layers enabled, so nothing can be seen until they're manually turned on.

But even when I turn on the "PL People" layer, i don't see any markers until I interact with the map in some way.

I'm not actually sure but i thought perhaps the fact that no layers are "on" upon initial load might have been new. I remember only that i had to interact w

[2021-03-01 16:06] jywarren commented on #8513
But this is odd. I realize that the PL People layer is part of the LEL library: https://github.com/publiclab/leaflet-environmental-layers/blob/2f3723a12e70009120500f3b7603680ec7d3cbe8/src/PLpeopleLayer.js#L41-L49

So why do we have markers set up for it here?
 https://github.com/publiclab/plots2/blob/b2742cc63d0584dfadb13fa701c6c74b5951ec24/app/assets/javascripts/leafletHelper.js#L26-L52

We can m

[2021-03-01 16:34] fannyibz commented on #9083
Hello 👋,  I am a first-time contributor too. Could you also add my name to the list. Thanks a lot 😊

[2021-03-01 17:07] jywarren commented on #9229
Phew, thanks Cess -- we are almost ready to share our ideas page, hopefully will do so tomorrow!!! Thanks @RuthNjeri as well!!!

[2021-03-01 17:22] RuthNjeri commented on #8513
Thanks, Jeff! Initially, I thought it was about the map itself, I now understand it has to do with the markers...I finally understand what the "bug" is and where I need to start digging...

No need to move it to another issue yet, unless we need to break it down...I'll keep posting what I find...thanks!

[2021-03-01 17:23] jywarren commented on #9175
This is awesome to see, Will. Thanks for keeping the updates coming!!!

[2021-03-01 17:26] noi5e commented on #9175
@jywarren Thank you!! 🙏 If you get a chance, can you try merging the `rails g` commands? I tried to do it in the PR, but I think I don't have access to change Git workflows. See https://github.com/publiclab/plots2/pull/9176#issuecomment-784806141

[2021-03-01 17:32] cesswairimu commented on #9233
thanks for reporting this Liz, I will edit the description a bit and convert this to a fto.

[2021-03-01 17:45] cesswairimu commented on #9083
@PavitKaur05 here you go https://github.com/publiclab/plots2/issues/9233
Hi @fannyibz I've added your name to the list

[2021-03-01 17:46] cesswairimu commented on #9233
Reserved for @PavitKaur05

[2021-03-01 17:53] PavitKaur05 commented on #9083
Thanks, @cesswairimu I will start working on it.

[2021-03-01 18:16] cesswairimu commented on #8854
I was testing this locally to break it to a ftos, it looks like the issue is already fixed. Could someone also confirm the same is the case on their end... @noi5e  maybe you solved it somewhere in your project..

[2021-03-01 18:25] noi5e commented on #8854
@cesswairimu Hmm!! I think someone else did 😅

[2021-03-01 18:25] first-timers[bot] opened #9243 "Update readme http links to https"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-01 18:26] noi5e commented on #8854
@cesswairimu Someone could write a test for this, if I don't get to it? That's a little too complicated for an FTO, but I think writing tests can teach applicants a lot. Also maybe we shouldn't close this issue until a test is written

[2021-03-01 18:26] cesswairimu commented on #9083
@fannyibz here is one for https://github.com/publiclab/plots2/issues/9243 thanks

[2021-03-01 18:28] cesswairimu commented on #9243
Reserved for @fannyibz

[2021-03-01 18:45] cesswairimu commented on #8854
@noi5e I agree, I will update this to be more of a test-writing issue. Thanks

[2021-03-01 19:57] govindgoel commented on #9071
@shadowoflight are you working on this

[2021-03-01 20:15] jywarren commented on #8854
Hmm, i'm not sure -- maybe the test can come first to confirm if it's really fixed?

Because we can only filter upon usage, not in the `has_many` definition, it seems, and I don't see a `.where.not(status: 0)` on these:

https://github.com/publiclab/plots2/blob/ebf57e0cdd1dcc9d5cc884a15e7cd5b5bbe78390/app/views/notes/_comments.html.erb#L8

https://github.com/publiclab/plots2/blob/401874455490c6300

[2021-03-01 20:17] jywarren commented on #8854
ah and i guess on those `includes()` ones, it would have to be named, so maybe... `.where('comments.status != 0')` ?

Yes i think that's correct, see usage here:

https://github.com/publiclab/plots2/blob/672d63ab11c2159e28d2cc502c47a3b3c83730b9/app/models/node.rb#L1114

[2021-03-01 21:43] noi5e commented on #9175
Finally figured out what was causing the comment HTML to not be displayed properly. Jeffrey was right in this comment https://github.com/publiclab/plots2/issues/9175#issuecomment-782149976, [React doesn't set HTML in code](https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml) to protect from browser attack.

So comments display properly now. Yay! 🎉
<img width="566" alt="Screen Shot 2

[2021-03-01 21:51] lagunasmel commented on #9083
Hi! I'm a first-time contributor and an applicant with Outreachy. Would you please add my name to the list for any first-time issues? Thank you! 😊

[2021-03-02 03:53] noi5e commented on #9175
Okay, editing comment forms now works!

It wasn't too hard, but this change exposes a couple of more complications that will take some more work to unravel 🥳

https://user-images.githubusercontent.com/4361605/109593756-69ad2400-7ac6-11eb-8f5a-2ab9698d7d76.mov

1. As you can see, the Edit Comment form remains open even after updating. This needs to change. It's not a simple fix, however. To do this

[2021-03-02 08:55] first-timers[bot] opened #9245 "http to https on note_controller test"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-02 08:56] cesswairimu commented on #9083
Hi @lagunasmel here you go https://github.com/publiclab/plots2/issues/9245. welcome

[2021-03-02 08:57] cesswairimu commented on #9245
Reserved for @lagunasmel

[2021-03-02 09:05] 17sushmita commented on #9083
Hi! I have set up the project locally and looking for a first-timers-issue to start contributing with PublicLab. Could you also add my name to the list? Thanks!

[2021-03-02 11:32] fannyibz commented on #9243
@cesswairimu
I have an issue. I did a pull request. Everything was ok. I clicked on "close pull request" (stupid idea!) and I reopened it. Then my pull request had one error:
 => tests / unit-tests (pull_request) Failing after 1m — unit-tests

I don't understand why.
Could you help me please?
Thanks a lot.

[2021-03-02 12:11] cesswairimu commented on #9243
Left a comment...thanks

[2021-03-02 12:18] cesswairimu opened #9247 "Intermittent failing tests on github actions"
We have a few tests that fail on PRs but pass on retry...lets collect them here and try to solve them all.
Feel free to edit this and add a test you encounter behaving this way

[code]

[2021-03-02 14:22] RuthNjeri opened #9248 "Questions: _form.html.erb Translation"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-02 14:25] lagunasmel commented on #9245
@cesswairimu Working on it! Thank you :)

[2021-03-02 14:37] RuthNjeri opened #9249 "Questions: _questions_shadow.html.erb translation"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-02 14:54] RuthNjeri opened #9250 "Questions: _recent_questions_shadow.html.erb Translation"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-02 15:08] RuthNjeri opened #9251 "Questions: index_shadow.html.erb Translation"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-02 16:12] RuthNjeri opened #9254 "Questions: show.html.erb Translations"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-02 21:49] jywarren opened #9257 "Discussion and Q&A of Outreachy + GSoC ideas 2021"
Hi all! We've completed our ideas list for Outreachy and Google Summer of Code 2021, and we are sharing it here for discussion. We often find that key info needs to be added or expanded upon to help people understand the projects, and are going to try discussing them all here (or in "breakout issues" if this gets too long) this year.

The official listing is at https://publiclab.org/wiki/gsoc-idea

[2021-03-02 21:57] jywarren commented on #9229
OK, and i've posted the full Ideas list for Outreachy/GSoC 2021 at #9257 to make a space for in-depth discussion of these ideas -- please feel free to ask questions or offer ideas there! Thanks all!

[2021-03-02 22:05] jywarren commented on #9219
Thank you all!!!! 🎉 🎉 🎉 🎉

[2021-03-02 22:50] jywarren commented on #9175
OK did this and didnt yet remove `      run: ./public/lib/.bin/webpack-dev-server` but we can do that too if we need to, just ping me again!

[2021-03-03 00:50] noi5e commented on #9175
Thank you! I don't think it's going to solve the weirdness in the PR right now, but I do have a feeling we're going to have to remove the `webpack-dev-server` part just because that's something I'm not doing locally.

[2021-03-03 03:15] eynglv commented on #9254
Hi, Can I take this? This would be my first contribution!

[2021-03-03 05:53] noi5e commented on #9175
I moved the piece of state that handles whether or not the reply or edit forms are visible into the `CommentsContainer` component. This component is the highest-level component, so this means that I can do things like:
- toggle a comment form closed when a new comment is published
- do the same when a comment is updated

https://user-images.githubusercontent.com/4361605/109758588-a9483e80-7ba0-11e

[2021-03-03 08:45] cesswairimu commented on #9254
Hi @eynglv and thanks for your interest,  are you an Outreachy applicant? this is specifically reserved for Outreachy applicants ...if not, kindly browse through other issues and feel free to ping me if you still can't find anything  and I will help you find one. Thanks

[2021-03-03 08:47] #9233 closed

[2021-03-03 09:31] #9243 closed

[2021-03-03 12:57] 17sushmita commented on #9249
Hi, I would like to try this for my first contribution. I'm an outreachy applicant.

[2021-03-03 13:10] aohslund commented on #9251
I'd like to claim this!

[2021-03-03 13:40] RuthNjeri commented on #9249
Hi @17sushmita thank you for reaching out! I've assigned it to you. Let me know if you have questions.

[2021-03-03 13:45] RuthNjeri commented on #9251
Hi @aohslund thanks for working on this, are you applying for summer of code?

[2021-03-03 14:25] jywarren commented on #9175
Wow, pretty interesting. I am wondering if, towards the end (or even now if it would help your process?) it could be useful to do a Google Slides diagram of the different components, how they fit into one another, and what properties or actions each component has.

In the new version, would you pass a unique ID as a property to the comment for each reply, and separately fetch all replies, and re-t

[2021-03-03 15:38] Manasa2850 opened #9260 "Create a notification switch for new posts on topics a user follows"
Continuing the work done in #9240, I would like to add a notification switch which allows users to select / deselect email notifications that indicate whenever new posts have been created on topics they follow.

[2021-03-03 17:23] RuthNjeri commented on #8513
Hi, @jywarren 👋🏾  I've gotten a few answers...I think....

On initial page load, this function `setupLEL`  is the first to load and calls `displayMapContent(map, markers_hash, options.mainContent);`  at the end of the function.
https://github.com/publiclab/plots2/blob/30a6a38865dbcfb63d8eda6bcc54130491b0689b/app/assets/javascripts/leafletHelper.js#L116

The `displayMapContent` function needs the `

[2021-03-03 17:38] RuthNjeri commented on #8513
Also, I found this line of code confusing `line 153`  `mainContent = (mainContent === "content") ? null : mainContent; `
if the mainContent is set to "content", we switch it to `null` or else we use `mainContent` ? shouldn't it be
`mainContent = (mainContent === "content") ? mainContent:null;`
https://github.com/publiclab/plots2/blob/30a6a38865dbcfb63d8eda6bcc54130491b0689b/app/assets/javascripts/

[2021-03-03 17:57] #6871 closed

[2021-03-03 18:54] 17sushmita commented on #9114
Hi @jywarren , Can I work on this issue.

[2021-03-03 18:58] Prahitha commented on #9254
Hi, I am an Outreachy applicant and am looking for some first-timers-only issues to start with. I'd like to take this if it's not assigned yet. Thanks.

[2021-03-03 19:07] cesswairimu commented on #9254
Hi @Prahitha, please go ahead. thanks

[2021-03-03 20:21] govindgoel commented on #9071
@noi5e Can you assign this to me

[2021-03-03 20:50] 17sushmita commented on #8542
These sub-tasks can be performed to enhance the Followers/Following page-

- Removing banned users from followers/following list (This generates an error notification that user has been banned.' and if we go on any other pager after it the error generated is flashed) ** high-priority
- Show count of followers/following along with Tab name `Followers` or `Following`.
- Instead of a using whole row

[2021-03-04 03:58] eynglv commented on #9254
Hi, @cesswairimu  I actually am also an Outreachy applicant! Are there other first-timers-only issues I could work on?

[2021-03-04 04:09] noi5e commented on #9071
@shadowoflight, You mentioned that you hadn't started working on this because of exams. Can you please let us know when you'll be ready to start this?

[2021-03-04 06:40] cesswairimu commented on #9164
Hi @kgradow1  and thanks for opening this..we will look into it. Thanks

[2021-03-04 06:44] cesswairimu commented on #9114
Go ahead @17sushmita . Thanks

[2021-03-04 06:50] first-timers[bot] opened #9264 "Replace http to https on license page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-04 06:51] cesswairimu commented on #9264
Reserved for @@eynglv

[2021-03-04 06:52] cesswairimu commented on #9254
Hi @eynglv, I have reserved one for you here https://github.com/publiclab/plots2/issues/9264 . thanks

[2021-03-04 07:24] MohammedHamzaMalik commented on #9264
Hello, I am new to open source and I would like to contribute here.

[2021-03-04 07:54] MohammedHamzaMalik commented on #9264
Hello, I have solved the issue and opened a pull request.

[2021-03-04 11:36] Manasa2850 commented on #1846
@jywarren I would like to take this up and add tests for the rest of the routes. Thanks!

[2021-03-04 15:18] jywarren commented on #9002
OK, just circling back here, we've heard initial support in favor of 1 and 3, but then also now support in favor of 2 - shall we prioritize?

1. If we begin by locking /stats completely to only logged-in users (1) that's relatively easy and means we can turn off our password protection.
2. then we refine by locking only sub-pages, and re-opening just /stats to the public
3. finally we circle back

[2021-03-04 18:53] Manasa2850 opened #9268 "Add en.yml translations for users/settings.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-05 05:40] eynglv commented on #9264
HI! just submitted a pull request!

[2021-03-05 10:02] #9264 closed

[2021-03-05 10:26] OmLakshmi commented on #9268
I would like to claim this issue

[2021-03-05 13:12] Manasa2850 commented on #9268
Sure @OmLakshmi you can work on this

[2021-03-05 14:58] manchere opened #9271 "Footer overlaps tag note & three dot menu"
### Please describe the problem (or idea)

When accessing a tag, the footer overlaps the three dots menu when it is open.
This hides some of the options on the three dots menu behind the footer.
<img width="1283" alt="Screenshot 2021-03-05 at 2 30 40 PM" src="https://user-images.githubusercontent.com/11008910/110131350-f6572b00-7dc1-11eb-886c-767189ce6d9e.png">

I expected the three dots menu to a

[2021-03-05 15:59] jywarren commented on #3488
Update:

![image](https://user-images.githubusercontent.com/24359/110139092-a9169180-7da0-11eb-85ca-43196b9c38cf.png)

NYTimes for comparison:

![image](https://user-images.githubusercontent.com/24359/110139257-d95e3000-7da0-11eb-8423-3efc440e4e03.png)

****

Beijing is actually timing out for all websites right now, so i'll try Hong Kong or something else:

Repeated with Hong Kong:

![image](http

[2021-03-05 20:00] MohammedHamzaMalik commented on #9250
Hello, I would like to solve this issue as a first time contributor. Do I need to be assigned to this issue or can I just submit a PR when I finish?

[2021-03-07 15:52] Hassanelashram commented on #533
@jywarren Could you give a scenario where two merged hashtags would be used ?
I get the general idea of displaying results that contained 2 hashtags simultaneously but from where would the users be able to click on those ?

[2021-03-08 09:08] RuthNjeri commented on #9250
Hi @MohammedHamzaMalik thank you for reaching out. This issue is reserved for an applicant of Google summer of code. Will you be applying to it?

[2021-03-08 09:52] MohammedHamzaMalik commented on #9250
Yes, I will be applying for it.

[2021-03-08 09:53] RuthNjeri commented on #9250
Great! I have assigned it to you. Let me know if you have any questions..

[2021-03-08 10:06] MohammedHamzaMalik commented on #9250
Thanks.

[2021-03-08 12:26] #9245 closed

[2021-03-08 12:28] #9249 closed

[2021-03-08 14:39] cesswairimu opened #9274 "Weekly Community Check-In #94 - Congratulations winter 2020 Outreachy interns"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-03-08 14:40] cesswairimu commented on #9229
Moved to https://github.com/publiclab/plots2/issues/9274. Thanks everyone

[2021-03-08 14:40] #9229 closed

[2021-03-08 14:58] pydevsg commented on #9274
Awesome 👏
Congratulations @RuthNjeri and @noi5e 🎉 🚀

[2021-03-08 15:24] Manasa2850 commented on #9274
Congrats @RuthNjeri and @noi5e! :tada: :partying_face:

[2021-03-08 17:34] RuthNjeri commented on #9274
Thanks, everyone!

[2021-03-08 18:13] RuthNjeri opened #9277 "New Dashboard Transition Tasks"
Hello 👋🏾

The new dashboard implementation is almost 100% complete https://github.com/publiclab/plots2/issues/8513 🎉
There are a few tasks, listed below, that will need to be implemented and discussed as the new dashboard replaces the old dashboard.

- [x]  Moving the old dashboard to `/v1/dashboard` once the new Dashboard has been approved (possible FTO issue) #8843
- [x]  Remove old Dashboard te

[2021-03-08 18:19] RuthNjeri opened #9278 "Replace/Rename Dashboard V2 References"
This is part of the transition tasks needed to replace the old dashboard with the new dashboard https://github.com/publiclab/plots2/issues/9277

After the old dashboard files have been removed, the new dashboard will be updated to the main dashboard by:

1. Renaming all routes from `v2/dashboard` to `dashboard`
2. Rename the folder `views/dashboard_v2` to `dashboard`
3. Rename the `dashboard_v2` a

[2021-03-09 17:05] jywarren commented on #9274
Congrats!!!! It's amazing to see everything up at https://publiclab.org/v2/dashboard/ and even more at https://stable.publiclab.org/v2/dashboard/. I'll republish the site now -- it'll take a couple hours -- and we'll see even more updates on the live site!!!

[2021-03-09 18:03] SidharthBansal commented on #9274
Congrats @RuthNjeri and @noi5e! 🎉 🥳

[2021-03-09 18:10] SidharthBansal commented on #5627
I think it will be a great idea to move a new thread once 100 weekly Community Communications are completed. What do you suggest?

[2021-03-09 18:28] #8513 closed

[2021-03-09 18:32] #6896 closed

[2021-03-09 18:33] jywarren commented on #5707
This is basically done! Thanks, all!

[2021-03-09 18:33] #5707 closed

[2021-03-09 18:35] YogeshSharma01 commented on #9257
**This is My Proposed Idea**

**User Interface Improvement**

**Part of: https://github.com/publiclab/community-toolbox**

**Description:** This project is a platform dedicated to community growth and getting insights on organization-wide activities. So, we need to improve the User Interface for the whole project in order to make it more friendly for especially for
[new comer](https://code.publicl

[2021-03-09 18:45] jywarren commented on #5695
Just summarizing this relatively complex last step; inline maps are driven by inline short codes like this:

`[map:layers:content:44.5:-90.1:fracTrackerMobile,aqicnLayer,openaq,toxicReleaseLayer,skyTruth]`

(docs at https://publiclab.org/wiki/inline-maps)

...where the map is described in type (layers) type of content (all content, or 'content' as opposed to 'people') latitude, longitude, and laye

[2021-03-09 18:51] jywarren commented on #7346
I'm now seeing this on /unearthing-pvd:

[code]

I believe that's actually a 404 error not CORS: the URL directly gives: `The requested URL /enviro/efservice/tri_facility/pref_latitude/BEGINNING/41/PREF_LONGITUDE/BEGINNING/71/rows/0:300/JSON was not found.`

I'll open an issue based on https://github.com/publiclab/plots2/pull/8887 for the tile error i'm seeing and let's circle back here.

[2021-03-09 18:56] pydevsg commented on #5627
Yes, agreed with @SidharthBansal 😅

[2021-03-09 19:05] #1846 closed

[2021-03-09 19:08] #8470 closed

[2021-03-09 19:29] pydevsg commented on #9219
Count me in with @SidharthBansal 😃 .
I am willing to mentor this year as well and help folks in their projects. 🎉

[2021-03-09 19:41] manchere commented on #9271
@pydevsg all right thanks, can you assign me to this issue, please?

[2021-03-10 06:16] sahilsaha7773 commented on #9248
I want to work on this issue

[2021-03-10 13:41] waridrox commented on #9071
Hey @noi5e, meanwhile can I try to solve this :)

[2021-03-10 14:22] waridrox commented on #9278
@RuthNjeri can I try as my first contribution to the org 😄 ?

[2021-03-10 17:13] noi5e commented on #9071
@govindgoel If you want this issue it's yours. Can you claim it in the next 24 hours? If I don't hear from you, I'll assign it to @waridrox

[2021-03-10 17:29] govindgoel commented on #9071
@noi5e I can start working on this.

[2021-03-10 17:45] RuthNjeri commented on #9278
Hi @waridrox thank you for reaching out...
This issue is still pending... but you can begin working on other issues listed in the issues section.

[2021-03-10 18:22] #9248 closed

[2021-03-11 05:02] waridrox commented on #9278
Sure, thanks for the update!

[2021-03-11 05:56] cesswairimu opened #9283 "Welcome GSoC applicants and call for proposals 🎉🙋‍♀️🙋🙋‍♂️"
Hello :wave: and welcome to PublicLab :balloon:
--------

We are glad to have you here. This year, we  are participating in Google Summer of Code(GSoc) as an independent org.
This is a discussion issue for all of you. If you would like to checkout our large community you can find us on gitter https://gitter.im/publiclab/publiclab and also we do weekly check-ins where folks say what they are workin

[2021-03-11 06:37] dhanmoni commented on #9283
Hi, myself Dhanmoni Nath, full-stack software developer student with 3+ years of development experience, I'm looking forward to contributing to publicLab and learn new stuff!

[2021-03-11 06:47] dhanmoni commented on #9283
I have a doubt, only the 6 project ideas that are listed under 2021 ideas will be available for GSoC 2021, right? Will the 2020 ideas available, especially the Editor repair and fortification project?

[2021-03-11 06:59] YogeshSharma01 commented on #9283
Hi, @cesswairimu and @jywarren myself Yogesh Sharma, I have introduced my proposed idea can we consider it for GSoC 2021, and also I'm confused that can we introduced more than one idea?

[2021-03-11 07:13] sahilsaha7773 commented on #9283
Hi! I am a first-year CSE undergrad student with experience in full-stack web dev. I was also one of the winners in GCI 2018. I am really excited to contribute to public lab and be a part of this amazing community!

[2021-03-11 07:18] waridrox commented on #9268
Hey @Manasa2850, since there is no further update upon this issue, can I try as my first contribution to the org :)

[2021-03-11 07:22] cesswairimu commented on #9283
@dhanmoni yeah only the ideas listed under 2021 will be considered.
@YogeshSharma01 the ideas are already present to GSoC and we cannot add any more as of this moment...what applicants normally do is look at the idea list and draft a proposal around any of the projects. Thanks

[2021-03-11 07:23] Manasa2850 commented on #9268
Hi @waridrox. Sure you can work on this!

[2021-03-11 07:23] waridrox commented on #9268
Thanks a lot 😄

[2021-03-11 11:22] YogeshSharma01 commented on #9283
@cesswairimu Okay Thanks

[2021-03-11 16:00] jywarren commented on #9283
Hello all, and welcome! Thanks for introducing yourselves. I work with Cess at Public Lab and have mentored here for some years. I also drafted the ideas list and am happy to answer questions! Thanks all!!!

[2021-03-11 16:04] jywarren commented on #9283
Also, noting this issue where we've listed our project ideas -- where we can dig into the details and do some Q&A specific to the ideas: https://github.com/publiclab/plots2/issues/9257

Thanks, all!!!!!

[2021-03-11 16:06] jywarren commented on #9257
Hi Yogesh, we will note this idea and discuss with our @publiclab/community-reps however as @cesswairimu noted in #9283 our default policy is to consider primarily ideas from our ideas list. But I appreciate your attention to the community toolbox project which is indeed very important to our community! 🎉

[2021-03-11 18:12] sahilsaha7773 opened #9285 "Form UI Change in different screens"
### Please describe the problem (or idea)

#### What happened just before the problem occurred? Or what problem could this idea solve?
In mobile view, there is no space between the two forms which makes the overall UI look bad.

![Screenshot from 2021-03-11 23-22-30_3](https://user-images.githubusercontent.com/35343652/110832560-75b49500-82c1-11eb-9aaf-3c53e51abb85.png)

When the user is not logge

[2021-03-11 18:21] pydevsg commented on #9285
Thanks for opening this up @sahilsaha7773 .
Can you please tell me your proposed UI change?

[2021-03-11 18:28] sahilsaha7773 commented on #9285
This is how it should look after fixing. These changes will make the UI look better for all devices.

![Screenshot from 2021-03-11 23-54-31](https://user-images.githubusercontent.com/35343652/110835720-2b351780-82c5-11eb-97f9-f78ec30f02fc.png)
![Screenshot from 2021-03-11 23-53-53](https://user-images.githubusercontent.com/35343652/110835725-2cfedb00-82c5-11eb-8bdc-6d18ddc4c5d0.png)

[2021-03-11 18:43] pydevsg commented on #9285
Go ahead @sahilsaha7773 and fix this issue.

[2021-03-11 20:16] daemon1024 opened #9287 "Webpage crashes on closing `map-intro` popup in firefox"
### Please describe the problem (or idea)

On the map route, when you try to close the `map-intro` popup the webpage crashes. This is limited to firefox browser and seems to be working fine on chromium based browsers.

The rest of the webpage should function normally even after closing it.

### Please show us where to look

https://publiclab.org/map

### What's your PublicLab.org username?

barun1

[2021-03-11 20:24] daemon1024 commented on #9287
https://user-images.githubusercontent.com/47106543/110850450-cdf59200-82d5-11eb-8ae2-9d29ecc39c8d.mp4

Screen cast showing the error :)

[2021-03-11 22:04] adedejisalim commented on #9083
Hi,  I am a first-time contributor here and looking for a first-timers-only issue. I would be glad if my name could be added to the list so I can be helped with getting one. Thank you !

[2021-03-12 07:37] abhishek-geek commented on #9283
Hey @cesswairimu and @jywarren
I'm Abhishek and i have experience in Javascript, Node, React and HTML/CSS. Most of the project idea for 2021 GSOC needs some Ruby on Rails, and i don't have any experience in that.
Would it be any problem while working on the projects.
I am totally looking to be a part of this community
Thanks.

[2021-03-12 07:55] Anupam-USP commented on #9268
Hello @Manasa2850, Is this issue still open or can I contribute in this?

[2021-03-12 07:57] Anupam-USP commented on #9254
Hey @eynglv, I am new to open source and searched about "outreachy" but not able to find its meaning. May I know what it is?

[2021-03-12 08:01] Anupam-USP commented on #8911
I want to claim this issue and try to fix it. May I?

[2021-03-12 14:46] saikeshari commented on #9283
Hi @cesswairimu  and @jywarren ,
I am Sai Keshari, a second-year undergrad in Delhi Technological University (DTU).
I am proficient in frontend Web development, particularly in ReactJS. I have also made several projects.
I am fascinated by project ideas in Public Labs and would like to contribute to it as part of my GSoC'21 participation and also would like to continue contributing as I find Publi

[2021-03-12 16:58] Manasa2850 opened #9290 "Sorting based on edits / page views / likes shows only 1 row on the first page of wikis"
### Please describe the problem (or idea)
When we sort wikis based on `title` or `last edited`, it works fine and shows the same number of rows on the first page before and after sorting.
However, if we sort based on `edits`, `pages views` or `likes`, it shows only one row on the first page.

### Please show us where to look
https://publiclab.org/wiki

![ezgif com-video-to-gif](https://user-images

[2021-03-12 17:44] cesswairimu commented on #9283
Hi @abhishek-geek, hi @saikeshari yeah all the projects we have this round do require some Ruby on Rails, we have had interns before who had no prior Ruby on Rails experience, so that is not a prob..what you could do is start looking at rails during the application period...and start solving some issues on the project so that you can get a hang of it...
@saikeshari  you can checkout https://code.p

[2021-03-12 17:54] ebarry opened #9292 "Bad bug in /post editor"
### The problem

While entering text into publiclab.org/post, two issues happen:
1. when clicking into EITHER the title box OR the tag box, the cursor "jumps" /relocates itself to the the top left of the body text box
2. the Publish button is not operable

https://user-images.githubusercontent.com/161439/110978833-da0f3d00-8331-11eb-82b3-baa73b938755.mov

1. I expected to be able to type a title,

[2021-03-12 17:54] #9268 closed

[2021-03-12 17:56] cesswairimu commented on #9285
This is great :tada: thanks @sahilsaha7773 and @pydevsg  :tada: :tada:

[2021-03-12 18:05] abhishek-geek commented on #9283
Thankyou @cesswairimu
Looking forward to some good first issue. And meanwhile I'll start learning rails.

[2021-03-12 18:07] #9254 closed

[2021-03-12 18:50] cesswairimu commented on #9254
Hi @Anupam-USP, Outreachy is remote paid internship for people underrepresented in tech...you can find more details here https://www.outreachy.org/ thanks

[2021-03-12 19:15] gaurav2699 commented on #9251
Hey! Is this issue still open? I'd like to work on this

[2021-03-12 19:15] Manasa2850 opened #9293 "Add translations in users/settings.html.erb (1)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-12 19:26] saikeshari commented on #9293
Can you please assign it to me. I have gone through the codebase and would like to make these simple changes to get started.

[2021-03-12 19:29] Manasa2850 commented on #9293
Hi @saikeshari assigning this to you!

[2021-03-12 19:41] #9285 closed

[2021-03-12 20:00] Manasa2850 opened #9295 "Add translations in users/settings.html.erb (2)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-12 20:07] Manasa2850 opened #9296 "Add translations in users/settings.html.erb (3)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-12 22:27] daemon1024 commented on #9083
@adedejisalim here is one for you https://github.com/publiclab/plots2/issues/9295 😄

[2021-03-12 22:32] daemon1024 commented on #1416
Is this the meta issue for https://publiclab.org/wiki/gsoc-ideas#Geographic+features+refinements ? I wanted to discuss the proposed features, would this be the correct thread to get insights on it?

[2021-03-13 05:20] abhishek-geek commented on #9295
Hey @Manasa2850
I would like to work on this issue
Thanks.

[2021-03-13 05:58] adedejisalim commented on #9295
Worked on the issue already, Thanks.

[2021-03-13 06:14] gaurav2699 commented on #9296
Hey! I would like to claim this.

[2021-03-13 06:19] gaurav2699 commented on #9283
Hello, I am Gaurav Singh, a 2nd-year Information technology student from the National Institute of Technology Karnataka. I really loved the work you guys are doing. I have experience in Ruby on Rails hence would love to contribute to Public Lab. Thank you.

[2021-03-13 08:16] himanshujaidka commented on #9296
I would like to work on this issue

[2021-03-13 10:30] gaurav2699 commented on #9295
Hello, if this issue is open then I would like to work on this issue

[2021-03-13 12:50] guptadiksha307 commented on #9296
Hi, I guess no pull request is merged for this issue. I would like to work on this issue if it's still open.

[2021-03-13 13:06] gaurav2699 commented on #9083
Hi, I am a beginner contributor and I am looking for some easy issues to get started with. I would really appreciate if anyone can help me with this. Also, I am a GSoC applicant.

[2021-03-13 13:10] gaurav2699 commented on #9271
Hello, since there are no pull requests linked with the issue, I would like to work on this issue or help out @manchere  if he is stuck somewhere

[2021-03-13 13:19] Manasa2850 commented on #9296
Hi @guptadiksha307 @himanshujaidka a [PR](https://github.com/publiclab/plots2/pull/9298) has already been made for this issue. Will ping you both when another first timers issue is available!

[2021-03-13 13:39] Anurag5086 commented on #9296
Is it still open? I would like to work on this.

[2021-03-13 13:54] sahilsaha7773 commented on #9292
Hello! I tried to reproduce this bug on Chromium 89.0.4389.82, but couldn't do so, for me the publish button is operable and the cursor didn't jump when I clicked on the title or tag box. Could you please confirm if I am checking it wrong?

https://user-images.githubusercontent.com/35343652/111032265-5472b680-8431-11eb-8f7e-3761f778ca07.mp4

[2021-03-13 19:50] 17sushmita commented on #8542
pinging @cesswairimu @jywarren to review the above comment. Thanks

[2021-03-14 04:36] jcads commented on #9083
Hi, could you also add me to the list? Thanks!

[2021-03-14 05:22] pydevsg commented on #9083
Hi, @gaurav2699 and @jcads adding you to the list, will share a fto once I come across it.

[2021-03-14 07:11] cesswairimu commented on #8542
HI @17sushmita so sorry I missed the first ping, I love the sub tasks..you can go ahead...
a banned user has a `status: 0 `...feel free to reach out if you need more clarifications on this. Thanks

[2021-03-14 07:37] 17sushmita commented on #8542
Thank You!! will start working on it today.

[2021-03-14 09:23] gaurav2699 commented on #9290
Hey @Manasa2850, I have just started out contributing to open source and already contributed to a first-timers issue. I want to try out this issue.

[2021-03-14 10:49] SharmaTanish commented on #6446
The index.html file is not same as the official webpage of publiclab !
Where is the HTML file which opens the page in which we have this issue ?
The index.html file looks like :
![Screenshot (1121)](https://user-images.githubusercontent.com/75024552/111065693-f6051100-84e0-11eb-8af3-95eefbf8a996.png)

[2021-03-14 10:49] SharmaTanish commented on #6446
@RuthNjeri ?

[2021-03-14 12:43] Manasa2850 commented on #9290
Hi @gaurav2699 sure you can work on it.
Even I'm not able to see the bug locally. I observed this on https://publiclab.org/wiki. Maybe @cesswairimu or @jywarren can give us more inputs on this.

[2021-03-14 13:03] jcads commented on #4990
Can I still work on this issue?

[2021-03-14 18:19] Manasa2850 opened #9302 "Remove 'place' and 'tool' node types in wiki_controller.rb"
With reference to #714

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. No

[2021-03-14 18:25] Manasa2850 opened #9303 "Remove 'place' and 'tool' node types in tag_controller.rb"
With reference to #714

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. No

[2021-03-14 19:44] nlao1 commented on #9303
Hi, can I take this?

[2021-03-14 20:05] nlao1 commented on #9303
Hi, can I try this?

[2021-03-15 04:26] jcads commented on #9302
Can I work on this one?

[2021-03-15 04:28] Manasa2850 commented on #9302
Sure @jcads you can work on it!

[2021-03-15 07:51] jcads opened #9307 "Remove references to "place" and "tool" node types in tag.rb"
## In reference to #714.

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do.

[2021-03-15 08:00] jcads commented on #9307
@17sushmita you can work on this one.

[2021-03-15 08:28] SidharthBansal opened #9308 "Change deliver_now to deliver_later"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-15 08:28] SidharthBansal commented on #9308
Part of #6126

[2021-03-15 08:31] SidharthBansal opened #9309 "Change deliver_now to deliver_later"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-15 08:31] SidharthBansal opened #9310 "Change deliver_now to deliver_later"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-15 08:31] SidharthBansal opened #9311 "Change deliver_now to deliver_later"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-15 08:32] SidharthBansal opened #9312 "Change deliver_now to deliver_later"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-15 08:32] SidharthBansal opened #9313 "Change deliver_now to deliver_later"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-15 10:54] 17sushmita commented on #9307
Thank You for the response but I already contributed to a fto issue. I reached out to the issue myself and that could be the case my name was still listed in issue #9083. Should I open a PR for this or leave this for other first timers.

[2021-03-15 12:44] 17sushmita commented on #9287
I'm not able to reproduce the error. It is working fine on my browser. Can you give more context?

[2021-03-15 12:49] vivek-30 commented on #9257
## About me -

### Name  - Vivek Singh
### Github Handle - [vivek-30](https://github.com/vivek-30)
### Email - vikky30singh@gmail.com
Education - B-Tech (Computer Engineering) [currently in 2nd Year]

## Project Description -

As we all are aware of Image Sequencer, a very cool and efficient sequencer which works in a very constructive manner with support of many strong modules and well protected

[2021-03-15 13:03] DBailie96 commented on #9313
Hi, I'd like to work on this!

[2021-03-15 17:55] daemon1024 commented on #9287
@17sushmita which browser are you using 🤔 I have mentioned my browser version in the issue description and as I said it's working fine on chromium based browsers/.

[2021-03-15 18:03] govindgoel commented on #9283
Hi everyone, I am Govind Goel an undergraduate student from Amrita Vishwa Vidyapeetham, Amritapuri Campus. I have been working on different projects and contributing to Public Lab and it has been a great journey till now :)
Thank You.

[2021-03-15 18:16] kyleecodes commented on #9308
I'll be happy to solve this issue! We are just changing the name -- correct?

[2021-03-15 18:24] RuthNjeri commented on #6446
Hi @SharmaTanish, please allow me to get back to you on this by Tomorrow/Wednesday.

[2021-03-15 21:40] noi5e commented on #9175
A few significant updates:
- I undid comment nesting for state that I mentioned here: https://github.com/publiclab/plots2/issues/9175#issuecomment-789455319
  - replies are now NOT nested within their parent comments
  - much less recursion everywhere, much less complication in terms of passing props down. for example, `setTextAreaValues` is now no longer passed down 5-7 components
  - the trade-o

[2021-03-15 21:58] thedaysob commented on #9312
I'd like to work on this issue!

[2021-03-15 22:41] daemon1024 commented on #8242
If all we want to do is filter the nodes without `question` we can use something like
[code]

Referencing the docs [here](https://api.rubyonrails.org/v6.1.3/classes/ActiveRecord/QueryMethods/WhereChain.html#method-i-not)

cc @jywarren

[2021-03-16 08:30] cesswairimu opened #9318 "Weekly Community Check-In #95"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-03-16 08:31] cesswairimu commented on #9274
Moved to https://github.com/publiclab/plots2/issues/9318 , see you all on the open call later today

[2021-03-16 08:31] #9274 closed

[2021-03-16 08:36] cesswairimu opened #9319 "Following/followers page: remove bannned users and show count"
- Removing banned users from followers/following list (This generates an error notification that user has been banned.' and if we go on any other pager after it the error generated is flashed) ** high-priority
 - Show count of followers/following along with Tab name Followers or Following

[2021-03-16 08:48] #9319 closed

[2021-03-16 08:58] #9251 closed

[2021-03-16 09:03] cesswairimu commented on #9302
Hi @Manasa2850 hi @jcads , I am not sure why we had the two types here or its some deprecated types that we do  not use anymore...tagging @jywarren  to confirm its okay to remove these. Thanks you both

[2021-03-16 09:08] #9296 closed

[2021-03-16 09:10] Manasa2850 commented on #9302
Hi @cesswairimu. According to #714, we don't use these two types anymore.

[2021-03-16 09:14] cesswairimu commented on #9292
Thanks so much @sahilsaha7773 , I am not able to replicate it either
@ebarry did the issue persists after the browser was updated.. if not, is it possible to get the chrome version Purl was using before? thanks

[2021-03-16 09:15] cesswairimu commented on #9302
Gotcha, thanks for that

[2021-03-16 09:16] #9302 closed

[2021-03-16 09:19] cesswairimu commented on #9307
@17sushmita please lets leave it for a first-timer, I will mark your name on the list thanks...Thanks a lot @jcads  for opening this

[2021-03-16 09:26] 17sushmita opened #9320 "Followers/Following Page: Enhance Follower/following list"
Enhance the follower/following list at  https://publiclab.org/people/liz/followers

-  Instead of a using whole row for a user, reduce the width and use a grid or card for each user.
-  Show profile image along with follower/following name. If there is no profile image use gravatar.

[2021-03-16 09:34] #9303 closed

[2021-03-16 09:35] #9293 closed

[2021-03-16 09:44] #9295 closed

[2021-03-16 14:10] jywarren commented on #9292
Hi, this seems to be a variant of a bug we couldn't reproduce a few weeks ago, reported by @steviepubliclab and seconded by @RuthNjeri - however none of us were able to reproduce it even on a real-time walkthrough. That makes this pretty tough, but I have a hunch that there's some text in the body text area that is related.

So my guess is (and let's try to refine this so we can reproduce it) --

[2021-03-16 14:12] jywarren commented on #9292
(i relayed this to more PL staff as well!)

[2021-03-16 14:45] jywarren commented on #9292
Noting @RuthNjeri's notes on this were:

[2021-03-16 14:58] #7485 closed

[2021-03-16 15:09] #9320 closed

[2021-03-16 15:34] #4932 closed

[2021-03-16 16:07] #9114 closed

[2021-03-16 19:47] jywarren commented on #9290
Hi, this is a good catch, but I wonder how we can find this bug in more detail. I wonder - should we try writing a functional test for it, by building on these tests?

https://github.com/publiclab/plots2/blob/c9349cae8af3e8ed2e27c77d9e35173a6cfa9194/test/functional/wiki_controller_test.rb#L20-L32

Could we try to open a PR that "catches" the bug by counting the # of results on each page?

Thank yo

[2021-03-16 19:51] jywarren commented on #9307
Hi @jcads really nice FTO here! Thanks!!

[2021-03-16 20:03] jywarren commented on #9247
Hmm, some might be https://github.com/publiclab/plots2/pull/8865

actually a number of these are the same as we're seeing in https://github.com/publiclab/plots2/pull/9314 -- let me check in with that person too...

[2021-03-16 20:04] jywarren commented on #9247
I think these related to email notifications may have begun with https://github.com/publiclab/plots2/pull/9269, but odd that they're intermittent...

[2021-03-16 20:15] jywarren commented on #9287
Aha, this is the code - it's actually kept in the database --

[code]

I guess this doesn't work in non-chrome? What should we change it to? Thank you for catching this!!!!

[2021-03-16 20:18] jywarren commented on #9247
Hmm. No fixtures have these user tags so the logic doesn't seem wrong:

https://github.com/publiclab/plots2/blob/main/test/fixtures/user_tags.yml

https://github.com/publiclab/plots2/blob/c9349cae8af3e8ed2e27c77d9e35173a6cfa9194/app/mailers/admin_mailer.rb#L150

[2021-03-16 20:22] jywarren commented on #9247
I tried refining those tests to confirm an email is generated at all:

[code]

However i think we may need to wrap them in enqueue statements too, if the emails are getting sent later.

[2021-03-16 20:27] jywarren commented on #9247
Noting that i don't know if the `perform_enqueued_jobs` part makes sense, since we have not yet converted most email sending code to `deliver_later` - that's in this PR:

https://github.com/publiclab/plots2/pull/9314

[2021-03-16 20:58] daemon1024 commented on #9287
I can see that it is considered a bad idea to execute javascript code in href.

[2021-03-16 21:00] jywarren commented on #9292
OK excellent! Purl was able to share a text that caused this: https://gist.github.com/jywarren/6e62b472b94a1bd83cc5a7653b9b70ed

Let's test this out and see.

Hmm, that didn't trigger it for me.

Aha, though! I see that @ebarry's video shows some links. So i followed what @RuthNjeri said and tried making a link, then clicking the title. This reproduced the bug:

![editor](https://user-images.githu

[2021-03-16 21:01] daemon1024 commented on #9287
I can turn this into an FTO if you approve this change :)

[2021-03-16 21:05] jywarren commented on #9292
I think it's plausible it's linked to this new code:

https://github.com/publiclab/PublicLab.Editor/blob/cf1fc4a9c4b70afaede856bac214e27388ab6cfa/src/modules/PublicLab.CustomInsert.js#L43-L65

in the Custom Insert code. That has several `.focus()` calls.

[2021-03-16 21:06] jywarren commented on #9247
This section seems like it could relate to `nids`:

[code]

#8865

[2021-03-16 21:13] icarito opened #9322 "Reduce time to first boot application container"
Over time, to reduce waiting times in testing, we've delayed passenger and other dependencies to container initialization time, rather than build time.
It's become enough that the website is visibly down when rebooting the app.
We should look at ways to reduce this time without affecting test times.

[2021-03-16 21:25] icarito commented on #9322
![Uploading imagen.png…]()
Roughly taking 5 minutes atm.

[2021-03-16 21:58] jywarren commented on #9247
attempted to adjust sort order there... `test "search question at /search/questions/question" do`

[2021-03-16 22:05] jywarren commented on #9292
Moving this to the Editor repo and testing there in GitPod.

[2021-03-16 22:31] #9247 closed

[2021-03-16 22:31] jywarren commented on #9247
I think i got it, fingers X!!!

[2021-03-16 23:06] jywarren commented on #9322
There's the Bootsnap library... designed for that... https://github.com/Shopify/bootsnap

However, it can be tough to set up. But i think we use it in MapKnitter! What do you think?

[2021-03-16 23:10] jywarren commented on #9164
Hi, it looks like there is only one video there, can you share links to the other videos you'd like to put there and we can try to help get them embedded?

Thanks!

[2021-03-16 23:21] jywarren opened #9324 "even after NID test fixes, a unit test is intermittently failing :-("
Even after these NID fixes, this still went wrong:

[code]

I wonder if that's a different issue, non-NID?

_Originally posted by @jywarren in https://github.com/publiclab/plots2/issues/8865#issuecomment-800676438_

[2021-03-16 23:22] jywarren commented on #9175
This is really awesome, just wanted to say, thanks @noi5e!!!!

[2021-03-16 23:23] kgradow1 commented on #9164
Hi Jeff, please see attached.

https://www.youtube.com/watch?v=5LAJ3_Zvsg4

https://www.youtube.com/watch?v=FxYbXTV5MT4

https://www.youtube.com/watch?v=5z4MXCkV6S0

https://www.youtube.com/watch?v=ICrQHCq89pk

Thank you for looking into this!

On Tue, Mar 16, 2021 at 7:10 PM Jeffrey Warren ***@***.***>
wrote:

[2021-03-16 23:32] icarito commented on #9322
Looks nifty but I don't think that's what we need. I haven't measured but I suppose the majority of the time is spent at https://github.com/publiclab/plots2/blob/main/start.sh#L5-L13 initialization time. Perhaps some of this can be folded back to Dockerfile or there's another way...

[2021-03-17 01:49] cesswairimu commented on #9247
Thanks Jeff! :tada:

[2021-03-17 10:29] vivek-30 commented on #9257
@jywarren sir could you please provide a feedback for this proposal.

[2021-03-17 15:21] manishaag7 commented on #9308
I would like to solve this issue. I am new to open source and I have applied to outreachy program.

[2021-03-17 15:25] manishaag7 commented on #9310
I would like to work on the issue.

[2021-03-17 15:43] manishaag7 commented on #9283
Hello everyone, I am a 3rd year student . I have basic knowledge of HTML, CSS, Javascript . I know ruby on rails and made a simple website using youtube tutorial. I would like to contribute and I am completely new to open source. Thank you!

[2021-03-17 15:47] manishaag7 commented on #9307
Can I solve this issue? I am new to open source.

[2021-03-17 16:19] waridrox commented on #9071
Since there is no further update on this, @noi5e could you please assign it to me, I would like to at least try and see if this can be resolved. Thanks :)

[2021-03-17 16:41] noi5e commented on #9071
@waridrox Go ahead and start working on it! You can submit a PR linking this issue. Thanks.

[2021-03-17 18:05] govindgoel commented on #9071
I am working on it the issue I faced @noi5e is with ajax call i am able to put a notyNotification but while remvoing the reacted emoji, it still shows reacted with in the notification ideally it should show removed the particular emoji, there is some issue with the post request i'm currently looking into it. And I should have followed up early :/

[2021-03-17 18:12] waridrox commented on #9071
No worries 👍 pls continue...

[2021-03-17 18:36] noi5e commented on #9071
@govindgoel Ah okay! Sorry about that, I wasn't sure if you were working on it. @govindgoel, definitely continue working on it. I'm happy to help you too! Don't hesitate to leave a comment about what you find.

[2021-03-18 05:16] jcads commented on #9307
@manishaag7 go ahead! Let me know if you have any questions.

[2021-03-18 09:05] Manasa2850 commented on #9290
@jywarren I'm not able to make a PR to catch that bug since I don't see it locally. I observed it on https://publiclab.org/wiki. It would be great if someone who's observing this locally too, could make the PR.
Thanks!

[2021-03-18 09:10] gaurav2699 commented on #9290
@jywarren any reason why this bug is not replicated locally?

[2021-03-18 09:12] manishaag7 commented on #9307
@jcads I have to change one line in each file or look in the whole file and change everywhere wherever applicable?

[2021-03-18 11:11] 17sushmita opened #9326 "Follower/Following page: hovercard on follower/following user profile"
Enhance the follower/following list at https://publiclab.org/people/liz/followers

-  on hover to a profile, the user's bio or follower/following count shows up

[2021-03-18 14:24] sentry-io[bot] opened #9328 "Error in WikiController: AbstractController::DoubleRenderError: Render and/or redirect were called multiple times in this action."
Sentry Issue: [PLOTS2-16F](https://sentry.io/organizations/publiclab/issues/2281499861/?referrer=github_integration)

[code]

[2021-03-18 14:26] jywarren commented on #9328
Hi @noi5e I noticed this error in Sentry after the recent publish to live site. I was wondering if it could be related to some of your new code?

https://sentry.io/share/issue/d051f88028e74c839ac869162ea7eee7/

It apparently affects this page: https://publiclab.org/wiki/betelgeuse-star-%09spectrum/comments

I haven't checked if all wiki comment pages are affected. The URL there looks weird though

[2021-03-18 17:24] noi5e commented on #9328
@jywarren Sure thing! Will take a look today

[2021-03-18 17:58] cesswairimu commented on #7507
Reopening  this tests implementation remaining.

[2021-03-18 18:02] noi5e commented on #9328
@jywarren I think this is a URL issue. https://publiclab.org/wiki/betelgeuse-star-%09spectrum/comments leads to a 404

If you look at that URL turns out that `%09` is HTML encoding for a horizontal tab. 🤔 That's weird, wonder how that got in there.

If you take out the `%09` it does lead to a valid page: https://publiclab.org/wiki/betelgeuse-star-spectrum/comments

Here's the `wiki#comments` metho

[2021-03-18 18:10] noi5e commented on #9328
@jywarren Also check this out, if I visit `/wiki/pokemon/comments` in development (which doesn't exist for me locally), I get the same error:
<img width="1024" alt="Screen Shot 2021-03-18 at 11 05 34 AM" src="https://user-images.githubusercontent.com/4361605/111675070-f4d22d80-87d9-11eb-9c18-48252fef82ea.png">

Interestingly, visiting just `/wiki/pokemon` (no `/comments`), leads here, with no erro

[2021-03-18 18:31] cesswairimu commented on #9290
This is really weird..I think it has smth to do with pagination -- the no. of elements per page not being clearly defined, on the website I have noticed when you sort with title the number per page reduces to 8, if you go to page 2 its 3 etc the number per page keeps shifting...locally  I cannot replicate too but also it doesn't paginate for me...I created upto 20 wikis and they are all showing on

[2021-03-18 18:48] jywarren commented on #9328
OK, i think we are OK then, i'll close this. We often get some uptick in issues after publishing latest code, so I try to be vigilant but this just seems like someone accidentally entered misencoded text as a URL or maybe a bot did it...

Thank you so much for looking into it. 🎉

[2021-03-18 18:48] #9328 closed

[2021-03-19 04:55] jcads commented on #9307
@manishaag7 just 1 line in each file.

Just follow the diff above and you're good.

[2021-03-19 05:11] #9313 closed

[2021-03-19 06:47] varous commented on #9312
Hi I'd like to get involved with this and claim this issue.

[2021-03-19 07:37] BondaSaim commented on #9312
Hello There,
May I claim this issue ?

[2021-03-19 07:59] BondaSaim commented on #9283
Hello @cesswairimu and @jywarren ,
I am Bonda Saim, a sophomore at the National Institute of Technology, Warangal
I have been working on Data Science, Machine Learning, Android Application Development, Web Development and Game Development for the past few years.
I am working as a part-time Software Solution Architect at iDataMachine, an Australian AI startup company.
I also have worked on research

[2021-03-19 08:54] gaurav2699 commented on #9290
Hey, @cesswairimu @jywarren I made a PR for this which should fix this issue. Basically, I specified the number of items on every page to be 10. If I could replicate this bug in my local development then I would be really sure if this bug is fixed but hopefully, it does. Please review

[2021-03-19 10:42] YogeshSharma01 commented on #9311
Hi, @SidharthBansal and @cesswairimu  Can I work on this?

[2021-03-19 10:44] YogeshSharma01 commented on #9277
@RuthNjeri Can I work on this?

[2021-03-19 11:43] CipherGirl commented on #9309
Hi! I'm GSoC aspirant, claiming this issue.

[2021-03-19 16:10] RuthNjeri commented on #6446
Hi, @shaibrown5 the header is displayed in the /dashboard URL...
You need to log in or create an account to view it https://publiclab.org/dashboard

If you have set up the database locally using the instructions on the README on the repo, you can login using
,,,
username: user, password: password
username: moderator, password: password
username: admin, password: password
,,,

Let me know if this m

[2021-03-19 16:12] RuthNjeri commented on #9318
Thanks @cesswairimu 😄

Here is my presentation for anyone who would like to access it https://docs.google.com/presentation/d/1QD7PFCg3woBqfXVvndP6_Yj38TRwhbFeXNp920sF3pU/edit?usp=sharing

[2021-03-19 16:34] RuthNjeri commented on #9277
Hi,  @YogeshSharma01  Thank you for reaching out. This issue is still pending, please have a look at our weekly check-in, where you can work on some issues posted that we need urgent help on https://github.com/publiclab/plots2/issues/9318

[2021-03-19 17:05] 17sushmita commented on #9164
Hi @kgradow1 , I think there is an issue with the embedding code you're pasting. I tried to copy the code of the video you provided and it is working fine and I saw from the browser debugger that your embedding code of video is this -
[code]
and what I copied from youtube was this
[code]
Ignoring the `\=""` after allowfullscreen, you can see the difference in the url you copied, just check `src` a

[2021-03-19 17:08] waridrox commented on #9164
Yeah another workaround if using markdown syntax is to embed the youtube link using this syntax

`[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/YOUTUBE_VIDEO_ID_HERE/0.jpg)](https://www.youtube.com/watch?v=YOUTUBE_VIDEO_ID_HERE)
`

[2021-03-19 17:39] waridrox commented on #9164
But I think @17sushmita's solution is better :D

[2021-03-19 21:28] govindgoel commented on #9278
@RuthNjeri I can start working on this.

[2021-03-20 07:07] Manasa2850 opened #9334 "Sorting is not working in the search/profiles page"
### Please describe the problem (or idea)
Sorting is not working in the profiles page

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/43354059/111862082-e40bee00-8978-11eb-9af1-acd207321d31.gif)

### Please show us where to look

https://publiclab.org/search/profiles/r?sort=last_activity

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helpi

[2021-03-20 07:08] Manasa2850 commented on #9334
@jywarren @cesswairimu I would like to work on this!

[2021-03-20 07:23] cesswairimu commented on #9334
Go ahead @Manasa2850 thanks :tada:

[2021-03-20 12:51] SharmaTanish commented on #6446
I have installed "ruby" as well as "rails" in my system but still I am not able to run ".html.erb" file on browser as it shows code language is not supported or defined .
Also I have enabled "Windows for Linux" setting for "bash" but still I am not able to install "rvm" .
@RuthNjeri please help me out of this ( also I have created publiclab account as well ) ?

[2021-03-20 15:12] kgradow1 commented on #9164
Hi all, the issue we are having is that after we embed the code, the
editing functions of the page disappear and we are locked out of future
edits.

Here is the page prior to embedding the videos (no video, just text):

[image: image.png]

And here is the page afterwards  (it looks like this is also true in the
example above)

[image: image.png]

This is the code I attempted to embed:

<iframe wid

[2021-03-20 15:13] kgradow1 commented on #9164
In the second example, the video is posted, but the editing functions are
now gone.

I can back out of this page back to the editing window (prior to the video)
but if I post the video and then migrate away from the page, I am now
locked out.

This was the problem we were initially having.

On Sat, Mar 20, 2021 at 11:11 AM Katie Gradowski ***@***.***>
wrote:

[2021-03-20 15:19] kgradow1 commented on #9164
Additionally, when I try to embed all four videos in sequence, I lose the
editing functions and get the following error:
[image: image.png]
An error occurred. Please try again later. (Playback ID: 59e_zbvWgVkg7S32)

This is the full text of the page, including the code I tried to embed:

<iframe width="560" height="315" src="
https://www.youtube.com/embed/5LAJ3_Zvsg4" title="YouTube video player"

[2021-03-20 15:21] kgradow1 commented on #9164
Sorry, sent too soon!

This is the full text of the page, including the code we are trying to
embed:

When it comes to environmental campaigns, the more communities are informed
about what they are being exposed to, the better they are able to then
advocate for reform. As a result, it’s important to learn both how to
identify what you are smelling, as well as what the potential health
effects are.

[2021-03-20 15:22] kgradow1 commented on #9164
The text posts without a problem.

But when we try to embed the four videos, we get an error message on the
videos and are additionally locked out of the editing features.

If it's possible to just create a new page, that might be the best
solution.  Annie tried to do this, though, and ran into the same problem.

On Sat, Mar 20, 2021 at 11:20 AM Katie Gradowski ***@***.***>
wrote:

[2021-03-20 18:12] hiteshcmonga commented on #9312
Hey @cesswairimu @SidharthBansal, I noticed that @BondaSaim  didn't make the PR. I have made the changes and please review it or let me know if anything else is required that needs to be done to make my first commit

[2021-03-20 18:15] govindgoel opened #9338 "Sorting is not working on wiki/tag/ page"
### Please describe the problem (or idea)

Sorting is not working as expected on wiki/tag/ page

https://user-images.githubusercontent.com/52847415/111881393-3fb89480-89d6-11eb-8e7e-0f905c148a06.mov

### Please show us where to look
Example:
https://publiclab.org/wiki/tag/agriculture

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve thi

[2021-03-20 18:16] govindgoel commented on #9338
@cesswairimu I would like to work on this issue

[2021-03-20 18:16] govindgoel opened #9339 "Implement auto scroll in languages dropdown"

[2021-03-20 18:41] govindgoel commented on #9339
@cesswairimu can you tell your opinion on this.
Thanks

[2021-03-20 19:14] YogeshSharma01 commented on #9257
Hi, @cesswairimu  here Translation system refinements I guess the only users who have an account on Transifex those users can only translating the website into different languages using Transifex, and also only in production mode, we can see the footer? Actually, what are the parameters we need to refine here?
Thanks

[2021-03-20 21:29] BondaSaim commented on #9312
Hello @cesswairimu @SidharthBansal, I have requested to be assigned to this issue 2 days ago,
I didn't make the PR because I didn't receive any response.
If @hiteshcmonga has already worked on it, I could take up the other open issues

Also, I have a doubt regarding claiming to work on an issue
Could you kindly let me know, If I can make a PR without actually being assigned to the fix the issue.

[2021-03-20 22:15] BondaSaim commented on #9312
Hello @cesswairimu @jywarren @SidharthBansal
My PR at #9340 is failing the unit test and throws the following error:

ERROR UserTest#test_send_digest_email (3.40s)
Minitest::UnexpectedError: ActiveJob::SerializationError: Unsupported argument type: ActiveRecord::Relation
app/models/user.rb:368:in send_digest_email' test/unit/user_test.rb:237:in block in class:UserTest'

I believe this is due passi

[2021-03-20 22:18] BondaSaim commented on #9309
Hello @CipherGirl,
If you haven't worked on the PR yet, I would like to take this issue

[2021-03-20 22:52] BondaSaim commented on #9309
Hello @SidharthBansal, @cesswairimu and @jywarren

My PR is failing at functional-tests with the following errors:

=ERROR NotesControllerTest#test_co-author_can_publish_the_draft (100.35s)
Minitest::UnexpectedError: NoMethodError: undefined method subject' for nil:NilClass test/functional/notes_controller_test.rb:905:in block in class:NotesControllerTest'

ERROR NotesControllerTest#test_draft_aut

[2021-03-21 03:47] noi5e opened #9342 "Fix "Insert Header" Toolbar Button Responsive Styling"
In the legacy editor, the "Insert Header" toolbar button's icon completely disappears when you resize the window.
Specifically, if the window's width is greater than 700px and less than 1000px.

## Video
(The Header button is the H in the video below)

https://user-images.githubusercontent.com/4361605/111892783-b005ec80-89bb-11eb-81e6-14d68b3a9422.mov

## How to Reproduce
Go to any place that uses

[2021-03-21 04:02] waridrox commented on #9342
Can I try it please ?

[2021-03-21 04:04] noi5e commented on #9342
@waridrox Nice, that was fast! Go ahead, just post a comment here if you get stuck.

[2021-03-21 05:06] YogeshSharma01 commented on #9257
Hi, @jywarren and @cesswairimu as only in production mode we can select any language but at localhost, it shows me Spanish to follow on the Twitter button how can I change it to English now?
![Sample](https://user-images.githubusercontent.com/51679200/111894533-4d4f3800-8a31-11eb-8292-15bb08738ad9.png)

[2021-03-21 05:38] jcads commented on #6230
As there haven't been any updates regarding this issue, I guess I can take this up.

[2021-03-21 12:30] 17sushmita commented on #8854
May I work on writing tests for this?

[2021-03-21 14:10] imajit commented on #5633
@cesswairimu @jywarren  I think when one clicks on the image, we can have something similar to https://getbootstrap.com/docs/4.0/components/modal/ to pop up the image. Can I work on this?

[2021-03-21 14:35] waridrox commented on #9342
You know what they say - sometimes the answer is right in front of you...

https://github.com/publiclab/plots2/blob/07a243da39702501d0f5d4de8a3683a24d680a38/app/views/editor/_toolbar.html.erb#L29-L43
In this case, code at line 40 was applying an unnecessary span element which was conflicting with the styles. Removing that simply resolved the issue :D

_No functionality is hindered after the change

[2021-03-21 17:18] noi5e commented on #8854
@17sushmita Yes, definitely, please go ahead, that would be much appreciated!

[2021-03-21 17:29] CipherGirl commented on #9309
@BondaSaim you can take this up as you already created PR.

[2021-03-21 17:32] waridrox opened #9344 ""New Page" button misaligned slightly under wiki section in dashboard"
### Problem

There's a minor misalignment for the 'New Page' button for large screen sizes in the wiki section under dashboard.

### Please show us where to look

https://publiclab.org/research
Navigate to wiki section.
<img width="377" alt="Screenshot 2021-03-21 at 9 57 01 PM" src="https://user-images.githubusercontent.com/58583793/111913798-80c3ae00-8a95-11eb-8592-1383de651ba3.png">

### What's

[2021-03-21 18:30] 17sushmita commented on #8854
@jywarren What does this mean by saying this message seems wrong? Is it not supposed to be displayed when moderator tries to mark the comment as spam? Kindly give a little more context to it.

[2021-03-21 18:59] noi5e commented on #8854
@17sushmita I'm a little confused by that too. I think maybe Jeffrey meant that text was appearing in yellow in the image below, instead of `Moderate first-time comment`? If so, that does seem wrong.

![102243313-05b48f80-3ec9-11eb-919a-d2dd39d84c45](https://user-images.githubusercontent.com/4361605/111917115-75dc2f80-8a3b-11eb-9c0b-a0548bd47f0a.png)

While we wait for clarification, you can still

[2021-03-21 19:27] Priyaraj17 commented on #9339
Can I work on this issue?

[2021-03-21 19:28] Priyaraj17 commented on #9334
Is this issue still open? May I work on it?

[2021-03-21 19:28] Priyaraj17 commented on #9326
May I please work on this issue?

[2021-03-21 19:36] govindgoel opened #9346 "Improper image width on donate page"
### Please describe the problem (or idea)
Fix image width on donate page

<img width="956" alt="Screenshot 2021-03-22 at 12 24 50 AM" src="https://user-images.githubusercontent.com/52847415/111918182-ecb01180-8aa9-11eb-9548-269b65efe90b.png">

### Please show us where to look

https://publiclab.org/donate

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping

[2021-03-21 19:43] 17sushmita commented on #8854
@noi5e , Thanks a lot for helping out 😃️!! I need one more clarification. Do I need to create a new file for comment reply tests or make changes in maybe [/plots2/test/functional/admin_controller_test.rb](https://github.com/publiclab/plots2/blob/main/test/functional/admin_controller_test.rb) or [/plots2/test/system/spam2_test.rb](https://github.com/publiclab/plots2/blob/main/test/system/spam2_test

[2021-03-21 19:49] govindgoel commented on #9339
@Priyaraj17 This has to be reviewed meanwhile you can claim a first timer issue
https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3Afirst-timers-only

[2021-03-21 19:54] 17sushmita commented on #9326
@Priyaraj17 , I've already linked a PR for this issue. You might want to take up any `first-timers issue` labelled issue to start with 😄️

[2021-03-21 20:16] noi5e commented on #8854
@17sushmita I'm not 100% sure on this, but I'm thinking `/test/functional/comment_controller_test.rb`. The other place I was thinking was a unit test for comments. Thoughts from anyone else?

In the meantime, feel free to start working on this while we wait for others to weigh in.

[2021-03-21 20:46] 17sushmita commented on #8854
Thanks, I started writing the tests, but one thing I observed is that even after marking the comment as spam, it does show up and according to the software it is correct because while marking it spam, it generates a warning as mentioned by @jywarren above "Are you sure? The user will no longer be able to log in or publish, and their content will be hidden **except comments**." but, is it really ap

[2021-03-22 00:28] jcads commented on #9287
Can I work on this one?

[2021-03-22 04:12] BondaSaim commented on #9309
Thank you @CipherGirl,
Also, do you have any idea on the error I have posted ?
I am new to ruby and not sure if the error is directly in my PR or is due to some linked internal error.

[2021-03-22 04:36] jcads opened #9348 ""Environment data" tooltip in '/map' route is unrecognizable/hidden"
"Environment data" tooltip in '/map' route is unrecognizable/hidden due to the banner.
![image](https://user-images.githubusercontent.com/50954098/111940843-b48ceb00-8b0a-11eb-9493-f25b4430cffa.png)

Can be found in: https://publiclab.org/map

## Suggested fix
Add `close` option to banners so that we can see the top section of the map.
![image](https://user-images.githubusercontent.com/50954098/11

[2021-03-22 05:12] BondaSaim commented on #9310
Hello @manishaag7
If you haven't worked on the PR yet, I would like to take this issue

[2021-03-22 05:50] BondaSaim commented on #8508
Hello @jywarren, I am a Gsoc Applicant,
I'd like to work on this

[2021-03-22 07:31] jcads commented on #6230
Already fixed in https://github.com/publiclab/plots2/pull/6515.

[2021-03-22 08:16] RuthNjeri opened #9350 "Weekly Community Check-In #96 - Understanding Your Users and The Product"
Hi everybody! 👏

 I hope you had a wonderful weekend 🌴

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about thei

[2021-03-22 08:16] #9318 closed

[2021-03-22 08:25] RuthNjeri commented on #9350
During my Outreachy contribution period with Public Lab, I was interested in hearing from the Public Lab community specifically the end-users, I would read some research notes posted on the site and once joined an air quality open call.
It was great to see that the code contributions I wrote translated into something that was benefiting the community. I think that once in a while it's important to

[2021-03-22 09:04] jcads commented on #9164
@kgradow1 I tried embedding the videos you linked in the text above and it's working fine for me.

_draft:_
![image](https://user-images.githubusercontent.com/50954098/111964819-fc723900-8b2f-11eb-81ae-547416e42534.png)

_preview_
![image](https://user-images.githubusercontent.com/50954098/111964955-24619c80-8b30-11eb-8310-914747532a7d.png)

videos and are additionally locked out of the editing fe

[2021-03-22 09:14] jcads commented on #9287
Can we manually change this code?

[2021-03-22 09:41] Priyaraj17 commented on #8508
Is this issue open? May I work on it?

[2021-03-22 09:43] Priyaraj17 commented on #5047
Is this issue open? May I work on it?

[2021-03-22 09:51] Priyaraj17 commented on #9348
May I work on it?

[2021-03-22 09:52] Priyaraj17 commented on #9339
@govindgoel Okay Thanks.

[2021-03-22 09:54] Priyaraj17 commented on #4990
Is this issue still open? May I work on it.

[2021-03-22 09:55] Priyaraj17 commented on #9326
@17sushmita Sure. Thanks

[2021-03-22 10:01] manishaag7 commented on #9310
I have not worked on this @BondaSaim

[2021-03-22 12:00] BondaSaim commented on #8508
Hello @jywarren,
My PR for this issue is failing with error: ```undefined method `translation' for #<#<Class:0x000055ce30b1f9c8>:0x000055ce3486c330>```
but I can find the method at app/helpers/application_helper.rb

Could you kindly help me with this, as I am new to ruby.
Thanks in advance

[2021-03-22 12:23] kgradow1 commented on #9164
I'm using Chrome.

It's still broken for me, unfortunately.

It looks like it's posted as a draft, maybe that has something to do with
it?

[image: image.png]

[image: image.png]

On Mon, Mar 22, 2021 at 5:05 AM John Rafael ***@***.***>
wrote:

[2021-03-22 13:35] RuthNjeri commented on #9278
Hi @govindgoel, this issue is blocked. Please have a look at today's weekly check-in to see what other issues you can pick https://github.com/publiclab/plots2/issues/9350

[2021-03-22 13:38] RuthNjeri commented on #6446
Hi @SharmaTanish, please share some screenshots.

Also, are you running the application locally on your terminal `rails s` for the rails server and `redis-server` for the redis server?

There is a comprehensive installation guide https://github.com/publiclab/plots2#installation that describes the proper installation steps. Have you gone through it?

[2021-03-22 14:10] RuthNjeri commented on #9324
Hi @jywarren 👋🏾

The only difference I see is with the date of the `.select` and the date within the `.select` of the graph logic.
In the `tag_selection_test` the expected count is retrieved from the database using this query:

https://github.com/publiclab/plots2/blob/07a243da39702501d0f5d4de8a3683a24d680a38/test/unit/tag_selection_test.rb#L8-L10

the expected count is then matched with the query

[2021-03-22 14:48] gaurav2699 opened #9352 "Duplicate wiki title gives duplicate URLs"
If two titles are made with the same name in https://publiclab.org/wiki, the URL path generated for both of them becomes exactly the same, hence the wiki that is created later is unreachable because the URL will always go to the wiki which is created earlier.

https://user-images.githubusercontent.com/28591708/112008493-87acf800-8b4b-11eb-85d2-b9b0f866c67e.mp4

### Please describe the problem (or

[2021-03-22 14:59] gaurav2699 commented on #9352
An easy solution for this could be to append the nid to the URL. @cesswairimu @jywarren will that be sufficient. If yes, then can I work on this issue?

[2021-03-22 15:12] gaurav2699 commented on #9257
Since it's mentioned that the first two projects are for Outreachy applicants, so its better that a GSoC candidate doesn't choose the first two projects. Am I right?

[2021-03-22 17:31] SharmaTanish commented on #6446
Is it necessary to have dual bot , i.e .  both Ubuntu along with windows I have , to run .html.erb file ?
@RuthNjeri

[2021-03-22 19:26] noi5e commented on #8854
I don't think so!

This text you mention is pretty interesting:

It makes me think that maybe back in the day, we didn't moderate comments. I think that piece of text is just outdated.

Whatever the case I think we all agree that we definitely should filter all comments! So we can avoid the spambots that @jywarren [originally mentioned](https://github.com/publiclab/plots2/issues/8854#issue-7677834

[2021-03-22 19:32] 17sushmita commented on #8854
@noi5e That was a very clear explination. I too tested very similar on my local system and results were same which made me think so. So, I'll first work to remove the spam comments and then write test for it if it is fixed or not.

[2021-03-22 19:39] noi5e commented on #8854
As an aside, it looks like comment replies don't currently appear in admin's spam moderation dashboard:

<img width="744" alt="Screen Shot 2021-03-22 at 11 40 21 AM" src="https://user-images.githubusercontent.com/4361605/112048229-6cba9380-8b0b-11eb-940e-0b3c82adf20a.png">

And if user cisco posts a comment reply, it doesn't make them show up in Active Users:

<img width="458" alt="Screen Shot 202

[2021-03-23 01:03] noi5e opened #9353 "Display Notification When User Likes Research Note"
## `Description`

Let's display a notyNotification when a user likes a research note. And also a second notification when the user **dislikes** a research note.

See [this thread](https://github.com/publiclab/plots2/issues/5113#issuecomment-766284817) for more context.

## `Why Do This?`
Here's a video of what happens when a user likes a research note:

https://user-images.githubusercontent.com/43

[2021-03-23 01:43] jcads commented on #9353
Can I work on this one?

[2021-03-23 01:49] noi5e commented on #9353
@jcads Yeah, go for it! Post a comment here if you need any pointers, or if you need some help. :)

[2021-03-23 07:09] Priyaraj17 commented on #9312
Is this issue still open? May I work on it?

[2021-03-23 09:53] govindgoel commented on #9312
@Priyaraj17 There is already an open PR on this issue.
Thanks