[2021-12-03 08:12] Tlazypanda commented on #10546
Found this pretty detailed article covering everything: https://formidable.com/blog/2020/publish-npm-packages/

[2021-12-03 09:50] TildaDares commented on #10467
Since there has been no response from @diorshelton I'm reassigning this.

@SteveSayantan If you're still interested in working on this, I'll assign you.

[2021-12-03 10:39] #10248 closed

[2021-12-03 10:48] TildaDares commented on #10550
Hi @Jyoti-prakash-rout, welcome to Public Lab🎈. There's an open issue you can work on in #10207.
If you have any questions/issues or feel like introducing yourself to the community, you can join the [Gitter channel](https://gitter.im/publiclab/publiclab). We also look forward to working with you😃.

[2021-12-03 10:52] rhonall commented on #10467
If this issue is still available, I would like to work on it. Thanks :)

[2021-12-03 11:04] Tlazypanda commented on #10546
Found this awesome tool as well to make the publishing process simpler - https://github.com/sindresorhus/np
cc @jywarren @TildaDares

[2021-12-03 22:37] #10166 closed

[2021-12-03 22:38] jywarren commented on #9334
Hi! We don't require issues to be assigned, you can go ahead and start on it, thanks a lot @KarishmaVanwari!!

[2021-12-03 22:38] jywarren commented on #9334
Did you need any support finding the right file where the query is made?

[2021-12-04 11:41] KarishmaVanwari commented on #9334
I could not replicate this locally. I can only see a single user  - `user` . And yes, it would be quite helpful if I get to know the file where the query is made please. @jywarren
Thanks!

[2021-12-05 14:31] tichnas commented on #10219
Hi @TildaDares @jywarren

Is this issue still open? If yes, I'd love to work on it :)

Thanks

[2021-12-07 04:50] SteveSayantan commented on #10467
I have already been assigned with one FTO issue @TildaDares

[2021-12-07 07:38] TildaDares commented on #10467
Hi @rhonall, you’ve already been assigned an FTO. Contributors are allowed to work on only one first timer issue. Thank you!

[2021-12-07 07:39] TildaDares commented on #10467
Good to hear that @SteveSayantan 🎉

[2021-12-07 11:01] TildaDares opened #10555 "Weekly Community Check-In #126 - Something New That You've Learned"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-12-07 11:03] TildaDares commented on #10531
Moving to #10555. Thanks everyone!

[2021-12-07 11:03] #10531 closed

[2021-12-07 11:11] NARUDESIGNS commented on #10555
Thank you @TildaDares
I learnt from you that LGTM means Looks Good To Me lol.

[2021-12-07 13:30] Georjane commented on #10555
oh wow, I just learned this too now! 😄 thanks for this amazing topic for this week's check-in.
Also, I was wondering what **plots** stand for? @TildaDares. I guessed Public Lab Outreachy Software... 🤔 😃

[2021-12-07 15:29] jywarren commented on #10486
For list item 1, this line is a great hint - it shows how you can collect all comments for a tag:

https://github.com/publiclab/plots2/blob/d2a89b0a22289341431faa09e8a8f355e44a0cef/app/models/tag.rb#L249

I believe it is 3 sequential but not nested SQL queries, so not too inefficient.

- One to fetch all `tids` for a tagname (in case there are duplicate tagnames, which really shouldn't happen anyw

[2021-12-07 16:43] ebarry commented on #10555
Happy first week of December to all!
Something I learned about recently was this open data model for sharing hardware designs: https://www.internetofproduction.org/open-know-how

[2021-12-07 16:51] madhhuurrii commented on #10555
Thank you for tagging me, I would love to contribute more in coming days!
Recently I bought a ukelele and have started learning it (as a complete beginner).

[2021-12-07 16:58] ShivamJhaa commented on #10555
This week I learned about testing with karma and jasmine and also came to know about gitpod, how awesome this tool is for contribution.

[2021-12-07 17:15] jywarren commented on #10548
Thanks for reporting!

Yes @TildaDares, good catch, that seems likely. We don't have good test protection for this feature actually, and I was trying to do some tests in #10517. That'd give us better reliability across this set of features.

OK awesome, let's go for `window`, thanks!

[2021-12-07 17:19] NARUDESIGNS commented on #10555
Oh, I also learnt the basics of Jasmine and Jest test syntax (most of which are similar) and then I learnt about BDD (behaviour-driven development) and TDD (test-driven development). I started to learn this because I've been asking @jywarren too many questions about tests the past few days lol.
At first, I was too worried about it (I still am a little tbh) but I believe I'd get comfortable with it

[2021-12-07 17:25] jywarren commented on #10549
Hi @ebarry - the `project:featured` tag does indeed dynamically populate the front page posts; the feature only controls the styling a bit. Thanks @anirudhprabhakaran3 for checking too!

The reason it didn't work immediately is because the front page is heavily cached, so time must pass before you see the effects. Probably 24 hours? Or at least an hour? I can check if you like. Closing this now an

[2021-12-07 17:25] #10549 closed

[2021-12-07 18:30] jywarren commented on #10012
No, this is for unbanned users, so it's visible to everyone. But it helps mods to identify followers of spam tags.

[2021-12-07 18:37] ebarry commented on #10548
cool sleuthing @TildaDares !!! catching two unexpected behaviors, so great!

[2021-12-07 19:03] #10548 closed

[2021-12-07 20:31] jywarren commented on #10555
I love this! 🎸

@NARUDESIGNS never too many questions 🎉

@ShivamJhaa yeahhhhhh gitpod has really been a revolution!

I've been learning a lot recently - i enrolled in Korean language school. I know a lot of Korean words from my family but it feels great to be learning whole sentence structures and more!

[2021-12-08 06:27] yuueu commented on #10467
Hi. If this issue is still available, I would like to give it a go. Thank you.

[2021-12-08 07:16] TildaDares commented on #10467
Hi @yuueu, yes you work on this issue.

[2021-12-08 09:17] yuueu commented on #10467
Hi @TildaDares I've made a PR. Could you have a look at it?

[2021-12-08 09:53] #10467 closed

[2021-12-08 20:17] ebarry commented on #8731
I think the question card formatting is fixed now:
<img width="1152" alt="Screen Shot 2021-12-08 at 3 17 22 PM" src="https://user-images.githubusercontent.com/161439/145278204-276e7c29-a0d8-4d00-ba2c-e5f90352c428.png">

[2021-12-09 15:25] TildaDares commented on #10043
Resolved in #10359

[2021-12-09 15:25] #10043 closed

[2021-12-09 15:26] TildaDares commented on #8731
@ebarry It was resolved in #10359

[2021-12-11 06:25] sakshi-2412 commented on #10207
Is this issue still open? I would like to work on it

[2021-12-11 07:29] TildaDares commented on #10207
Hi @sakshi-2412, yes this issue is open. I’ll assign you

[2021-12-11 14:18] #10207 closed

[2021-12-11 14:19] #10550 closed

[2021-12-12 14:39] sakshi-2412 opened #10566 "Add remove profile photo button"
Right now, if a user has uploaded a profile photo, there is no way to remove it ( set it back to default ).

**Please describe the desired behavior.**
There should be delete button to remove user's profile photo in the edit profile form.

Also, if a user uploads a photo, the same is not shown in the edit profile form till the window is reloaded.

https://user-images.githubusercontent.com/85152262/

[2021-12-13 08:41] TildaDares commented on #10566
@sakshi-2412 Brilliant observation! You are free to open a PR. Thanks!

[2021-12-14 15:21] #10486 closed

[2021-12-14 15:23] jywarren commented on #10486
I believe this is completed thanks to @TildaDares --

![image](https://user-images.githubusercontent.com/24359/146026960-62a64ea6-fd25-4eb3-acf8-831ebac2b812.png)

We'll test it in stable and it should go live in the next few days.

[2021-12-14 15:24] jywarren commented on #10486
The only thing left perhaps is that we don't display the comments page under the standard tag page header as shown above. Once you click "Comments" we just display a page of comments. I'd like to try rendering the comments below a tag page header as above, and will open a new issue for that!

[2021-12-14 15:25] jywarren opened #10570 "Display topic comments below a tag page header with tabs"
@TildaDares completed #10486 in #10559, and it looks great.

The only thing left is that this doesn't display the comments page under the standard tag page header as shown above. Once you click "Comments" we just display a page of comments. I'd like to try rendering the comments below a tag page header as above, and will open a new issue for that!

_Originally posted by @jywarren in https://github

[2021-12-14 15:32] jywarren commented on #10486
Great, added it here! https://github.com/publiclab/plots2/issues/10570

[2021-12-15 06:54] TildaDares commented on #10153
If anyone's looking for a non-FTO issue to work on, there's one in #10570

[2021-12-16 14:26] billymoroney1 commented on #10153
Hi there, looking to get started in open source! I primarily use HTML/CSS/JS/Python but am learning Ruby as well. (I also have experience with React). I have the repo installed locally and am down for front- or back-end issues

[2021-12-16 14:48] TildaDares commented on #10153
Welcome to Public Lab @billymoroney1 🎈.
We don’t have a first-timers-issue now but we have an issue open in #10570 that requires HTML, CSS and Ruby. I’ll be happy to provide you with any assistance you need if you decide to work on it.

[2021-12-16 14:50] billymoroney1 commented on #10570
can i give this a whirl?

[2021-12-16 18:26] TildaDares commented on #10570
Sure @billymoroney1! If you need any help, just reach out.

[2021-12-16 21:01] billymoroney1 commented on #10570
@jywarren hey jeffrey, i'm learning Ruby/rails as I go here and I'm a bit stumped: I've updated "def comments" in plots2/app/controllers/tag_controller.rb to:

`def comments
    tids = Tag.where(name: params[:id]).collect(&:tid)
    nids = NodeTag.where('tid IN (?)', tids).collect(&:nid)
    @pagy, @comments = pagy(Comment.where(nid: nids).order('timestamp DESC'), items: 24)
    @node_type == "com

[2021-12-17 17:26] TildaDares commented on #10570
@jywarren We might need to generate `comments` in `Tag#show` like it was done for contributors and questions. `app/views/tag/show.html.erb` needs a lot of variables that aren't initialized in `Tag#comments` like `@wiki`, `@related_tags`, `@wildcard`. We might have to copy most of the code from `Tag#show` to 'Tag#comments` if we want it to look like the normal tag show page.

[2021-12-17 17:29] billymoroney1 commented on #10570
@TildaDares thank you, i'll look around and give that a try

[2021-12-17 17:29] TildaDares commented on #10570
@billymoroney1 You aren't missing anything. There are a couple of things missing from `Tag#comments`.

[2021-12-17 18:42] #10330 closed

[2021-12-17 21:31] billymoroney1 commented on #10570
still tinkering with this, it seems like even with the code from Tag#show copied into Tag#comments, it's triggering an error on this final conditional:

[code]

[2021-12-17 21:47] TildaDares commented on #10570
@billymoroney1 You could try wrapping `<% unless @node_type == 'comments` %> around this line to prevent it from rendering that partial
https://github.com/publiclab/plots2/blob/27e92b74c2b352a2c208ee2a90da743464541620/app/views/tag/show.html.erb#L168

[2021-12-18 16:14] unnati914 commented on #10546
could I work on this?

[2021-12-21 05:00] Tlazypanda commented on #10153
Hi all looking for First timer issues to contribute we have some open at our spectral workbench repository https://github.com/publiclab/spectral-workbench/issues/811 https://github.com/publiclab/spectral-workbench/issues/812 https://github.com/publiclab/spectral-workbench/issues/813 https://github.com/publiclab/spectral-workbench/issues/814 https://github.com/publiclab/spectral-workbench/issues/81

[2021-12-21 23:17] billymoroney1 commented on #10570
Thought I would give an update - sorry this one is taking so long! Been running into new problems

Since Tag#show is in the same controller, I changed Tag#comments to

[code]

And I no longer get an error, but views/tag/show/_nav_tabs.html.erb is not working as I'd hoped

Instead of seeing the 5 tabs with their respective counts, I'm triggering the else block in _nav_tabs, which shows 4 tabs with

[2021-12-22 06:29] TildaDares commented on #10570
@billymoroney1 I think you need to add a tab for `comments` after this line in the else clause
https://github.com/publiclab/plots2/blob/27e92b74c2b352a2c208ee2a90da743464541620/app/views/tag/show/_nav_tabs.html.erb#L91-L95

[2021-12-22 16:16] billymoroney1 commented on #10570
@TildaDares I think I got it working

https://res.cloudinary.com/dg3qyoyme/image/upload/v1640189531/captures/Capture_pb6o9f.jpg

The one thing I'm not sure about is why @contributor_count seems to come through as nil here in _nav_tabs.html.erb when going to Tag#comments:

[code]

It looks like the value should already be set to 0 if @contributor_count is nil in Tag#show, but I added the "|| 0" in

[2021-12-22 16:37] TildaDares commented on #10570
@billymoroney1 Can you open a PR for this so that I can better understand the code you added? Thanks!

[2021-12-22 17:05] billymoroney1 commented on #10570
@TildaDares Done - was my first PR so let me know if I'm missing anything!

[2021-12-22 19:38] sakshi-2412 commented on #6511
Hey all! I would like to work on this issue. I think in the login page, the form is also rendering due to the login popup, so it is creating a conflict. The console shows-

![show password](https://user-images.githubusercontent.com/85152262/147145431-80cf3c7c-c8c8-40ad-86ff-60d145e863d3.png)

We can add a check in views/layouts/_signupLoginModal.html.erb to render the login modal only if the curre

[2021-12-22 22:37] jywarren commented on #10219
Hi @tichnas i believe @max-keviv is working on it in https://github.com/publiclab/plots2/pull/10569 now. If you'd like another issue to work on, have you completed one at https://code.publiclab.org yet? Thank you!

[2021-12-22 22:46] jywarren commented on #10309
Hi @KarishmaVanwari we'd love that! I think the list is now limited:

https://publiclab.org/events

See these lines:

https://github.com/publiclab/plots2/blob/2895fbf25592039ab4f71f290d5a56f3fede1798/app/models/concerns/node_shared.rb#L388

https://github.com/publiclab/plots2/blob/2895fbf25592039ab4f71f290d5a56f3fede1798/app/models/concerns/node_shared.rb#L30

However, that may mean that if the to

[2021-12-22 22:46] #10566 closed

[2021-12-22 22:53] jywarren commented on #10570
Looks great - here is the PR link: https://github.com/publiclab/plots2/pull/10586

[2021-12-23 07:43] sakshi-2412 commented on #6511
Can I open a PR for the same?

[2021-12-23 14:57] sakshi-2412 commented on #3523
Is this issue still open? I am not able to reproduce this error, I think it has been resolved already 🤔

[2021-12-24 07:39] TildaDares commented on #6511
Hi @sakshi-2412, you can go ahead and open a PR. Feel free to reach out if you need any assistance.

[2021-12-25 07:49] #10219 closed

[2021-12-26 08:09] sakshi-2412 commented on #9450
@jywarren I think the problem is related with <%= image_tag(...)%>, replacing it with <img .../> solves this issue which is strange since both are using the same source url 🤔

[2021-12-26 15:52] sakshi-2412 commented on #3523
@TildaDares can you please confirm, thanks!

[2021-12-26 19:01] TildaDares commented on #3523
Hi @sakshi-2412, yes this has been resolved. Thanks for informing me!

[2021-12-26 19:01] #3523 closed

[2021-12-27 05:28] sakshi-2412 commented on #9593
@waridrox is this issue open? I think it has been resolved

[2021-12-27 10:43] TildaDares commented on #9593
Hi @sakshi-2412, yes this has been resolved in #9634. Thanks!

[2021-12-27 10:43] #9593 closed

[2021-12-27 10:50] TildaDares commented on #10015
Hi @KarishmaVanwari, if you're still interested in working on this, I can assign it to you.

[2021-12-27 17:15] sentry-io[bot] opened #10595 "NoMethodError: undefined method `match?' for nil:NilClass"
Sentry Issue: [PLOTS2-1NE](https://sentry.io/organizations/publiclab/issues/2836854866/?referrer=github_integration)

[code]

[2021-12-28 05:53] sakshi-2412 commented on #5361
@TildaDares can I work on this issue?
Also, is there a need to have a show password button in the signup form? as confirm password and show password are alternatives to each other, I am not sure if they should be used together. We can have a show password icon for current password in the edit profile form.

[2021-12-28 06:01] sakshi-2412 commented on #5361
I realised that form field validation is not working in the edit profile form. #6331 has a possible solution. Can I take that up too?

[2021-12-28 06:51] TildaDares commented on #5361
@sakshi-2412 You're right about not needing a show password icon on the signup page since we have `confirm password` for that.

@sakshi-2412 You can work on form field validation in the edit form page. Thanks!

[2021-12-28 06:54] TildaDares commented on #5361
@sakshi-2412 Maybe you create a new issue specifically for the problem you're trying to solve to create better documentation of the problem.

[2021-12-28 07:16] debarati-06 commented on #10153
Hey, Thankyou for the information above. I would love to contribute to Public Labs and also aim for GSoC 2022.
My tech stack include HTML, JS, CSS, Vue.js . I'm interested in front-end web development, please assign me any FTO issue to contribute in Public Lab
Looking forward to your reply!

[2021-12-28 07:52] TildaDares commented on #10153
Welcome to Public Lab 🎈 @debarati-06. There's a first-timer issue you can work on in publiclab/spectral-workbench#812.

[2021-12-28 12:32] sakshi-2412 commented on #5361
Yes, I'll create a new issue! Thanks

[2021-12-28 12:59] sakshi-2412 opened #10597 "Edit profile form field validation and password visibility"
**Please describe the desired behavior.**

This issue is related with #5361 . Feature requests in the edit profile page-
1. Show password icon for "Current Password" field.
2. Real-time form field validation ( code for the same was added but due to some errors it had to be deleted, #6331 talks about the bug and gives an alternate solution which can be implemented )

[2021-12-28 16:04] jywarren commented on #9618
I don't think this one is happening any more! Closing, thank you!!

[2021-12-28 16:04] #9618 closed

[2021-12-28 16:11] #10595 closed

[2021-12-28 18:17] #6511 closed

[2021-12-30 16:06] khushalbhardwaj-0111 commented on #10153
Hi 👋🏼 Khushal Bhardwaj here, looking for some first timer issues want to be a part of this amazing community. I'm interested in Python and Javascript, please assign me FTO issue.

Waiting for it 😄.

[2021-12-30 16:53] TildaDares commented on #10153
Hi @khushalbhardwaj-0111, welcome to Public Lab. There's a first-timer issue in https://github.com/publiclab/spectral-workbench/issues/813 you can work on.

[2021-12-30 17:56] KarishmaVanwari commented on #10015
Hi @TildaDares , I am still interested to work on this issue. You can assign me.

[2021-12-30 18:06] TildaDares commented on #10015
Awesome! I’ll assign it to you

[2021-12-31 04:20] khushalbhardwaj-0111 commented on #10153
Hi @TildaDares I just asked to assign that issue  to me, thanks for the info 🙂.

[2022-01-04 14:36] AshSmah commented on #10153
Hello, Thankyou for the information above.
I am new to open source and i am for a FTO.
So,if you could help me, I would be realy greatfull, the languages i know are C , C++ and a little bit of java.

[2022-01-04 21:31] jywarren commented on #10218
Sorry folks just to clarify here, it's OK to begin working without formally assigning, because we often get contributions from folks not listed part of the org (because they're new) and so we usually skip assigning to smooth the process. Sorry for the ambiguity!

[2022-01-04 21:33] jywarren commented on #9946
I just wanted to say that in #10123 we are doing quite well now. I think it's possible we can call this "solved" but if we want to really push performance, we could keep it open and/or try other strategies. But maps are super useful and plenty dense now!

[2022-01-04 21:34] jywarren commented on #10186
Hi all! Just closing this up for the year! Thank you!!!!!

[2022-01-04 21:34] #10186 closed

[2022-01-04 21:49] jywarren commented on #10016
Thanks for your help on this @max-keviv i'm happy to help you find another task if you'd like. For now I'm going to try making the change in a new PR! I want to say the change could be made quite deep in the models, here:

https://github.com/publiclab/plots2/blob/907ed8c8603065f4618ea181a89dc8c0b5e79686/app/models/tag.rb#L64-L77

[2022-01-04 22:09] jywarren commented on #10016
But, as I was about to change the ordering to `created_at DESC` I realized I think @ebarry is probably thinking recency in terms of having become a follower or contributor, rather than user creation date. So we have to put the order clause on the Node query, not the User query. Thinking on this, and on the corresponding query for followers...

Unfortunately, as I think about it, for date of becomi

[2022-01-04 22:11] #9983 closed

[2022-01-04 22:40] jywarren commented on #10016
I want to say maybe we can use `.pluck()` -- https://rubyinrails.com/2014/06/05/rails-pluck-vs-select-map-collect/

[2022-01-04 22:59] jywarren commented on #10016
Attempting at https://github.com/publiclab/plots2/pull/10618 for contributors. For followers, we'll look at:

https://github.com/publiclab/plots2/blob/04f8ae98a9bb4bffc7b4fe29ca857f312489a21d/app/models/tag.rb#L163-L169

[2022-01-04 23:46] jywarren commented on #10016
On careful consideration, I don't think we can reliably sort followers in this way. I think the best we can do is just sort by the join date of the user, not the follow date. The issue is that we can't apply a database sort function with these two sequential queries and still get an ActiveRecord collection to return. We could try to craft a single query with multiple joins, but it would be a prett

[2022-01-05 03:40] jywarren commented on #10016
With input from @ebarry I think we're going to do this the simpler way and avoid adding a lot more complex code. For reference here is the diff of https://github.com/publiclab/plots2/pull/10618/

![image](https://user-images.githubusercontent.com/24359/148157015-99ab7aeb-6c4b-4a2e-a7fb-bda69613c70f.png)

For what it's worth, I think we can be clever about how we float comments to the top, for exam

[2022-01-05 03:41] jywarren commented on #10016
Note that above, we're relying on `User.where(id: uids)` to sort in the order we give `uids` - which is likely but not guaranteed.

[2022-01-05 07:01] TildaDares commented on #10570
@jywarren Do tag comments need the sort functionality?

[2022-01-05 10:56] nawed2611 commented on #4688
Hey! Is this issue still open? I wanted to work on it.

[2022-01-05 15:11] anirudhprabhakaran3 commented on #10545
Hello, @jywarren !

I installed `traceroute` and ran it, and I got this output.

[code]

I think we can go and see what these particular routes and controller actions do. If we need them, we can bring them back, or deprecate them slowly.

[2022-01-06 10:59] TildaDares opened #10625 "Update `First-timers issue template` link in markdown files"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-01-06 11:00] TildaDares commented on #10153
Welcome to Public Lab 🎈 @AshSmah. There's an open FTO issue in #10625 that you can work on.

[2022-01-06 11:01] TildaDares commented on #10625
Reserved for @AshSmah.

[2022-01-06 11:38] AshSmah commented on #10625
Hello,
can i work on this issue ?

[2022-01-06 13:10] TildaDares commented on #10625
Sure @AshSmah, I'll assign it to you.

[2022-01-06 22:43] jywarren commented on #10016
So based on testing #10618, it looks like MySQL doesn't care at all what order we pass in `uids`, it just orders them by how they're in the database. That makes that whole PR useless, so let's just try using reversed order of join date as a rough proxy for what we're trying to accomplish. That'll just be 2 lines of code.

[2022-01-06 22:46] jywarren commented on #10016
great, moving to https://github.com/publiclab/plots2/pull/10629

[2022-01-07 15:23] NARUDESIGNS opened #10631 "Weekly Community Check-In #127 - Productivity"
# OUTREACHY WEEKLY CHECK-IN
### Hi everybody!** 👏
We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work

[2022-01-09 12:33] sakshi-2412 commented on #9450
@jywarren @TildaDares can I work on this issue if no one else is?

[2022-01-09 16:40] TildaDares commented on #9450
Hi @sakshi-2412, sure you can take this up.

[2022-01-10 07:09] Georjane commented on #10631
Thank you very much @NARUDESIGNS for these productivity tips. 🙏🏽  I would definitely try it out this week.

Personally what I do to be productive is to write down my tasks and goals for the day at the start of the day then I can track my progress and measure my productivity at the end of each day.
Also, I love working in the early hours of the day say 3 am...I tend to be more productive at that ti

[2022-01-10 08:15] mittal-parth commented on #10308
Can I work on this? @TildaDares @Jon-Jos

[2022-01-10 08:37] Tahree22 commented on #10308
Hello, can I work on this issue?

[2022-01-10 09:31] TildaDares commented on #10308
Hi @mittal-parth, you can work on this. But, before you open a PR, can you add a screenshot of the UI changes you made after correcting the problem in this issue? Thanks!

[2022-01-10 10:06] TildaDares commented on #10555
Thanks everyone! Moved to #10631

[2022-01-10 10:06] #10555 closed

[2022-01-10 12:56] mittal-parth commented on #10308
Sure @TildaDares!
How does this look?

https://user-images.githubusercontent.com/76661350/148769265-e637d03e-4c3e-45b2-85c5-758dc1714d59.mp4

[2022-01-10 13:01] TildaDares commented on #10308
Looks good @mittal-parth. You can open a PR.

[2022-01-10 19:34] jywarren commented on #10570
I think we are OK without them at least for now. But if you are interested, we could try!

[2022-01-10 20:52] TildaDares commented on #10570
I agree with you @jywarren. We don't need them for now.

[2022-01-10 22:20] TildaDares opened #10636 "Hide sort dropdown for tag comments"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-01-10 22:22] TildaDares commented on #10153
There's an open issue in #10636 for anyone who hasn't worked on an FTO.

[2022-01-11 00:32] DhruvGala commented on #10636
I'd like to try this

[2022-01-11 01:25] TildaDares commented on #10636
Hi @DhruvGala, go ahead!

[2022-01-11 19:30] RishiKumarRay commented on #10636
I want to do this

[2022-01-11 20:27] jywarren commented on #10631
Hi @NARUDESIGNS - thanks for a great topic! I'm not a Pomodoro practitioner myself but I love the idea, and how it emphasizes the importance of rest. Sometimes we feel like we need to be pushing all the time, but that's not actually the way to be our best. Also, from my experience, folks who use Pomodoro are just nice people. Not scientific data, but my experience. 😄 🍅  I wonder if it is causative

[2022-01-11 20:40] tejaswari7 commented on #10153
Hi, I'm Tejaswari Bhamare, I'm new to open source and would like to contribute. Please assign me FTO issue

[2022-01-11 21:11] #10597 closed

[2022-01-12 16:35] sakshi-2412 commented on #5361
@TildaDares I think this issue can be closed now😃 ( solved by #10604 )

[2022-01-12 16:54] #5361 closed

[2022-01-12 17:02] #10625 closed

[2022-01-12 22:55] TildaDares opened #10649 "Update Labels for Issues and PRs"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-01-12 22:57] TildaDares commented on #10153
Hi @tejaswari7, welcome to Public Lab 🎈. There's an open issue in #10649 you can work on.

[2022-01-12 22:57] TildaDares commented on #10649
Reserved for @tejaswari7.

[2022-01-13 04:23] RishiKumarRay commented on #10649
can you create a issue for me too

[2022-01-13 04:57] tejaswari7 commented on #10649
I would like to take this issue

[2022-01-13 07:51] TildaDares commented on #10649
Hi @RishiKumarRay, as soon as an FTO issue is ready, I’ll let you know.

[2022-01-13 08:48] lamamyf commented on #10153
Hi,
I am new to open source contribution and I'd like to contribute. Please assign me any FTO issue.

[2022-01-13 09:54] #9271 closed

[2022-01-13 10:00] TildaDares commented on #9271
Resolved in #10247

[2022-01-13 10:06] tejaswari7 commented on #10649
hi @TildaDares just created a pull request.

I think I messed up while creating the pull request

[2022-01-13 10:37] TildaDares opened #10651 "Add strings to Translation file - `_tab_content.html.erb`"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-01-13 10:38] TildaDares commented on #10651
Reserved for @RishiKumarRay

[2022-01-13 10:38] TildaDares commented on #10649
@RishiKumarRay There's an issue reserved for you in #10651

[2022-01-13 11:00] tejaswari7 commented on #10649
hi @TildaDares
created PR #10652

[2022-01-13 11:27] TildaDares commented on #10651
Hi @SehgalNeeraj, this issue has been reserved for someone. You can leave a comment in #10153 and as soon as an FTO is available, I'll assign you. Thanks!

[2022-01-13 11:29] RishiKumarRay commented on #10649
Thankyou @TildaDares i will soon send a pr

[2022-01-13 11:30] RishiKumarRay commented on #10651
I will be working on this , thanks

[2022-01-13 14:43] #9450 closed

[2022-01-13 20:17] TildaDares opened #10655 "Add strings to Translation File - `_advanced_tagging.html.erb` (1)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-01-13 20:20] TildaDares opened #10656 "Add strings to Translation File - `_advanced_tagging.html.erb` (2)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-01-13 20:21] TildaDares commented on #10153
Hi @lamamyf @SehgalNeeraj, there are issues for you to work on in #10655 and #10656

[2022-01-13 20:21] TildaDares commented on #10656
Reserved for @SehgalNeeraj

[2022-01-13 20:23] TildaDares commented on #10636
Resolved in #10637

[2022-01-13 20:23] #10636 closed

[2022-01-14 00:48] caio546 commented on #10655
I'm new to open source and I'd like to try this!

[2022-01-14 06:09] geethika1129 commented on #10153
Hi , I am new to open source and looking for a FTO issue to contribute . Please assign me a FTO issue . Thanks in advance!!

[2022-01-14 06:19] SehgalNeeraj commented on #10656
Thanks @TildaDares , I am picking this !

[2022-01-14 10:54] SehgalNeeraj commented on #10656
@TildaDares  Please review the PR

[2022-01-14 16:19] mittal-parth commented on #3279
I think this is working now? Do correct me if I am missing something

![Screenshot 2022-01-14 214850](https://user-images.githubusercontent.com/76661350/149548944-273642e3-7ab9-4752-b446-393e7abbdc93.jpg)

[2022-01-14 18:22] mittal-parth commented on #5908
@jywarren So what I understand from this is that we need to make /subscriptions/digest work - by creating a common template for email digest and settings digest? (In my testing /subscriptions/digest never showed my subscribed topics - always asked to subscribe to some more topics)

[2022-01-15 10:27] RishiKumarRay commented on #10651
Generated Pull request #10661 @TildaDares please do review

[2022-01-16 09:44] RaviAnand111 commented on #10153
Hey everyone, I would also like to contribute to plots2, Can you please assign me a FTO issue so I can learn more.
ThankYou

[2022-01-16 12:59] sakshi-2412 commented on #9338
Can I work on this issue, if nobody else is?

[2022-01-16 13:09] govindgoel commented on #9338
@KarishmaVanwari Any updates on this ?

[2022-01-17 09:04] RishiKumarRay commented on #10651
@TildaDares Hi , I would like to ask , my pull request hasn't merged yet ? Although i see a ready to merge label there ? I am bit confused , can you tell me

[2022-01-17 10:00] TildaDares commented on #10651
Hi @RishiKumarRay, there’s nothing wrong with your PR so you don’t have to worry about merging. Thank you!

[2022-01-18 07:48] sakshi-2412 commented on #9055
As mentioned in #9405, the button is functional however very few things get translated. So, ig this issue should be closed. @TildaDares can you please confirm? Thanks!

[2022-01-18 07:58] sakshi-2412 commented on #8984
Is this issue still there? 🤔

[2022-01-18 08:46] TildaDares commented on #9055
@sakshi-2412 The problem is not with the button. Some texts have not been translated to that language so some of them are still in English. So, you’re right about closing it. Thanks!

[2022-01-18 08:46] #9055 closed

[2022-01-18 09:24] TildaDares commented on #8225
I think this issue has been resolved since body content is correctly aligned in both stable and live site.

[2022-01-18 09:24] #8225 closed

[2022-01-18 09:33] #7763 closed

[2022-01-18 09:36] #7762 closed

[2022-01-18 09:54] #7518 closed

[2022-01-18 10:13] TildaDares commented on #7454
Resolved in #9588

[2022-01-18 10:13] #7454 closed

[2022-01-18 10:19] allprogrammers commented on #10153
Hello everyone, I am trying to contribute to the open source community. Can you please assign me a FTO issue?

Thanks

[2022-01-18 10:23] TildaDares opened #10665 "Work on old issues"
There are a couple of old issues that are yet to be resolved. If you’ve worked on an FTO issue or want to work on something more challenging, leave a comment on the issue and I’ll assign you.

- [ ] #8356
- [ ] #8242
- [ ] #8019
- [ ] #7543

[2022-01-18 13:40] allprogrammers commented on #10665
Hello, can you please assign one of these to me? I have experience with git but haven't worked on and FTO but i would like to give it a go.

thanks

[2022-01-18 13:50] allprogrammers commented on #7543
Hello, I would like to work on this.

[2022-01-18 14:05] sakshi-2412 commented on #7543
Hey! I would like to work on this issue

[2022-01-18 15:45] #9219 closed

[2022-01-18 17:21] Tlazypanda commented on #10153
Just noting here folks that the following First Timers only issues are open in the Spectral workbench repo for contribution:
https://github.com/publiclab/spectral-workbench/issues/854 https://github.com/publiclab/spectral-workbench/issues/855 https://github.com/publiclab/spectral-workbench/issues/856 https://github.com/publiclab/spectral-workbench/issues/857 https://github.com/publiclab/spectral-w

[2022-01-18 17:27] TildaDares opened #10666 "Link to translation system docs on readme page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-01-18 17:36] TildaDares opened #10667 "Remove dash showing up in questions card"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-01-18 18:09] RaviAnand111 commented on #10153
Thanks @Tlazypanda, I will try to find a good issue and contribute, thanks for sharing. 👍🏻

[2022-01-18 18:15] Vinayakam19 commented on #10667
I'd like to try this!

[2022-01-18 18:24] YarinLevi5 commented on #10666
I would like to do this

[2022-01-18 18:35] TildaDares commented on #10666
Hi @YarinLevi5, I’ll assign you.

[2022-01-18 18:36] TildaDares commented on #10667
Hi @Vinayakam19, I’ll assign this issue to you. Thanks!

[2022-01-18 19:10] mittal-parth opened #10668 "Weekly Community Check-In #128 - There is always a first time, for everything"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-01-18 19:42] ebarry commented on #10668
I had a first this week, switching off Google Chrome to the Brave browser! Very happy so far with the additional privacy features.

[2022-01-18 19:56] Vinayakam19 commented on #10667
@TildaDares could you review this PR #10669 ?
All checks are successful.

[2022-01-18 23:24] jywarren commented on #10668
Hi @mittal-parth thank you so much, and what a nice topic for the week! My first was making lasagna from freshly made pasta. It was delicious! 🍝

I hope to have a first of building a small shed in my mom's backyard - so that's my aspirational first! 🪚 🛠️ 😅

[2022-01-18 23:27] #10308 closed

[2022-01-19 03:12] mittal-parth commented on #10668
Nice to hear that @ebarry ! I should also give it a try I think!

[2022-01-19 03:16] mittal-parth commented on #10668
Thank you @jywarren !! 💙
That sounds mouth watering! 😋
My aspirational first would be to participate in my first hackathon. I wish you luck with building the small shed!
Oh I see you were talking about creating different releases - must have been helpful there.

[2022-01-19 04:55] Georjane commented on #10668
Hahaha 😄 my first for this week was giving my baby solids. I tried giving him cereals for the first time which he kind of resisted but I guess he will get use to it with time.

And a first for me on PublicLab for this week was contributing to an npm package, spectral-workbench.js 🚀

[2022-01-19 05:40] nishant23122000 commented on #10153
Hii, Nishant here, I want to start contributing to FTO, I have the skill set of Data Structure, Algorithm, React, Java, Angular, Node. and also ready to learn any new skills.

[2022-01-19 06:27] sakshi-2412 commented on #10668
I learned about docker this week, how awesome it is!🥺
( Also, thanks to Public Lab, I love the idea of weekly community check-ins - they are encouraging and thoughtful✨)

[2022-01-19 06:41] TildaDares commented on #10153
Welcome to Public Lab @nishant23122000. You can pick one of the issues that have not been claimed from this comment https://github.com/publiclab/plots2/issues/10153#issuecomment-1015639288. Thanks!

[2022-01-19 06:44] TildaDares commented on #10631
Moved to #10668. Thanks everyone!

[2022-01-19 06:44] #10631 closed

[2022-01-19 06:47] #10667 closed

[2022-01-19 06:51] #10651 closed

[2022-01-19 06:52] #10655 closed

[2022-01-19 09:50] RaviAnand111 commented on #10668
This week was so much fun, I learned alot of things, jquery, javascript and much more.
First for me was :
1. I learned to use `git restore` and `git revert` for first time.
2. I also have started to learn "how to play chess" in this week.

Thanks to @NARUDESIGNS  and @TildaDares for teaching me.
Being part of this community is awesome.

[2022-01-19 10:00] NARUDESIGNS commented on #10668
Thank you very much @mittal-parth
My first with Public Lab was actually a lot of things so I'd just skip those and talk about stuff I used for the first time this week.
For this week, it was my first time using git suggestion, thanks to @TildaDares. It was also my first time running the codebase on Gitpod environment. Public Lab is a beautiful community, I've been learning ever since I got here!

[2022-01-19 10:02] #10666 closed

[2022-01-19 12:53] jywarren commented on #10668
Interesting, actually what is git suggestion, I'm not familiar with that!

[2022-01-19 13:06] anirudhprabhakaran3 commented on #10668
So interesting to read about everyone's new experiences! My college semester started this week, and i'm ambivalent about what I think of it 😅 . I started learning a new web framework, Phoenix (based on Elixir) and started learning React! In the non-tech world, I have started reading Anna Karenina. Looking forward for a great time 😄

[2022-01-19 15:36] mittal-parth commented on #10668
So cool to hear everyone's experiences! 🥺
As @sakshi-2412 mentioned, I also like this idea of community check-ins. its a great way to bond! ✨

[2022-01-19 15:37] mittal-parth commented on #5908
@TildaDares I would like to work on this if my understanding is correct. Thanks!

[2022-01-19 15:46] TildaDares commented on #5908
@mittal-parth Yeah your understanding is correct. You can work on it!

[2022-01-20 15:08] #10656 closed

[2022-01-21 07:11] sakshi-2412 commented on #7543
I tried to understand the function of this popover, and I think the expected behaviour is that after hovering over the spam button, `dashboard/flag_list` should be rendered as a popover which gives two options - report the question via mail or become a moderator. Is this so?

Attaching code snippet below -
https://github.com/publiclab/plots2/blob/36780424bf48bbf338564e8c9c69ee6c750f6822/app/views/

[2022-01-21 11:45] govindgoel commented on #10668
I learned this week about the Turing awards and went through the contributions of the 2009 winner.
To know more: https://amturing.acm.org/award_winners/thacker_1336106.cfm

[2022-01-21 12:33] TildaDares commented on #7543
Hi @sakshi-2412, [Boostrap's docs](https://getbootstrap.com/docs/4.0/components/popovers/#:~:text=template,the%20.popover%20class.) says that this is what a data-template should look like
`<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>`.
So whatever content we want to place in `.popover-body` should be in `data-co

[2022-01-21 14:37] sakshi-2412 commented on #7509
I would like to take up this issue!

[2022-01-21 14:46] sakshi-2412 commented on #7543
Thanks! I'll start working on this then😄

[2022-01-22 14:40] anirudhprabhakaran3 commented on #8242
Hi! Can I look into this?

[2022-01-22 17:25] anirudhprabhakaran3 commented on #956
Hello! Can I try looking into this?

[2022-01-22 17:27] anantraghuvanshi commented on #10153
Hey guys, I am Anant and I would like to contribute to FTO. I have learned Node, Express, MongoDB, React, HTML, CSS, and bootstrap and would love to learn newer technologies as well.

[2022-01-23 18:20] sakshi-2412 commented on #7543
Hey @TildaDares  I think this bug is related to bootstrap, a popover within a dropdown doesn't work the way we want it to. I tried out a few combinations of the same ( https://codepen.io/ash_24/pen/PoJMMbE ), but didn't get the expected results.
So, I changed the popover to a multi-level dropdown with some custom styling. Does it look fine?

https://user-images.githubusercontent.com/85152262/15069

[2022-01-24 16:11] HeZean commented on #10153
Hi there, I'm Chris and I'll be so grateful if you could assign me a FTO. I use C/C++, Java, Python and a little bit Golang, btw I'm really interested in GSoC '22, hopefully this could be a *great first step* to it 😃

[2022-01-24 18:14] TildaDares commented on #7543
That looks fine @sakshi-2412

[2022-01-24 18:20] TildaDares commented on #10153
Welcome to Public Lab @anantraghuvanshi and @HeZean 🎈. There are open FTO issues for you to work on in https://github.com/publiclab/spectral-workbench/issues/862 and https://github.com/publiclab/spectral-workbench/issues/861. Happy contributing✨

[2022-01-24 20:00] anantraghuvanshi commented on #10153
@TildaDares thanks a lot, looking forward to working on these and if required I will ask for help.

[2022-01-25 07:07] saikmusunuri commented on #10153
Hey, @TildaDares, I'm a beginner and student in the Software Development course. I want to contribute for the first time. Can you please assign me a simple FTO issue.

[2022-01-25 07:54] sakshi-2412 commented on #7543
Okay thanks! I'll open a PR soon✨

[2022-01-25 09:08] TildaDares commented on #10153
Hi @saikmusunuri, welcome to Public Lab 🎈. There’s an open issue to work on in https://github.com/publiclab/spectral-workbench/issues/860.

[2022-01-25 09:47] #10649 closed

[2022-01-25 15:11] govindgoel commented on #8242
@anirudhprabhakaran3 yeah go ahead!!

[2022-01-25 15:19] govindgoel commented on #7543
@sakshi-2412 can you please test it once that it works well with i18n translation for the text. Also, one more question is there an option to unflag the post after marking it as spam as of now ?

[2022-01-25 18:14] sakshi-2412 commented on #7543
Hey @govindgoel .. No, margin between the buttons is removed🤔 ( we check the same by clicking "Switch On Translation" right? )
![image](https://user-images.githubusercontent.com/85152262/151034394-8518583b-f8e3-4da0-bef2-a489f097dcf1.png)

Also, there is no option to unflag the post as "Flag post to moderators" button redirects you to a mail that can be sent to the moderators.

[2022-01-25 18:26] govindgoel commented on #7543
Okay yeah, it will redirect to mail, yeah you can check by switching language. You can maybe leave for now and we can test this later on . Thanks.

[2022-01-25 20:20] jywarren commented on #5908
Great question, @mittal-parth -- we have to do that because links in the emails won't be served at publiclab.org, so we can't use relative links. But for this page, it will be at PublicLab.org, so we can just skip the hostname/root and start with `/` to form URLs, and they'll be interpreted as relative links by the browser. Does that make sense?

Regarding wiki.latest.title, I think that's the bes

[2022-01-26 00:45] jywarren opened #10677 "Profile pictures on profile pages aren't loading"
Reported by @ebarry  - pages like https://publiclab.org/profile/warren aren't loading their profile images - they're stuck pre-lazyload (https://github.com/tuupola/lazyload)

Running `$("img").lazyload();` doesn't work (it does for other lazyload images)

`$("img.rounded-circle").lazyload();` also doesn't, although for both of these `$("img.rounded-circle")` and `$("img").lazyload();` the element

[2022-01-26 02:13] mittal-parth commented on #5908
Yes @jywarren that makes sense. However, I still don't know how we can ensure the links switch for the Web page and the email from the *same template*.

Ok cool. Thank you!

[2022-01-26 11:10] mohdabbas955 commented on #4688
hello,is this issue still open ? I want to work on it @avsingh999

[2022-01-26 11:33] TildaDares commented on #4688
Hi @mohdabbas955, yes you can work on this.

[2022-01-26 18:00] mittal-parth commented on #5908
Hi @jywarren !
This is how the subscriptions/digest was intended to be (with slight modifications to some redundant stuff)

![image](https://user-images.githubusercontent.com/76661350/151217532-51e0a486-2b5a-493e-89f7-4011c6fb1dee.png)

This is how the current mailer looks like

https://user-images.githubusercontent.com/76661350/151217912-35af5f68-4ea0-4a1b-b612-d2f65bbd821e.mp4

Few questions:
Wh

[2022-01-26 19:11] jywarren commented on #5908
I think as long as it's clear how things are sorted, we don't need to implement sorting on the page. I think likes/pageviews can be removed. Last edited... i wasn't sure, sometimes people edit something old, and then it shows up again, so then it wouldn't be quite right to call it "Published" would it? Or could it say "Last published"?

Thank you!

[2022-01-27 08:32] aritroCoder commented on #10153
Hello, I am Aritra, new to open source development. I have made a few contributions to small projects before and I know Javascript and frontend development using HTML, CSS or React. Please suggest and assign me a good first issue on javascript or frontend to start with.

[2022-01-28 00:33] aliciapaz commented on #8356
Hey, @TildaDares I'd like to work on this.

I was trying to reproduce the error but I didn't know how really (since it's an email feature)

[2022-01-28 04:24] mittal-parth opened #10682 "Weekly Community Check-In #129 - The truth about the Internet"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-01-28 07:25] TildaDares commented on #10668
Moved to #10682. Thanks everyone!

[2022-01-28 07:25] #10668 closed

[2022-01-28 07:51] TildaDares commented on #8356
Hi @aliciapaz, [Mailman](https://github.com/mailman/mailman) is the gem used for the `reply by email` feature but it's hard to get any recent/helpful documentation on how to use it.

I tried running the command in [our documentation](https://github.com/publiclab/plots2/blob/main/doc/EMAIL.md#how-to-start-reply-by-email-to-comment-feature) for the feature but I'm getting this error

[code]

This is

[2022-01-28 07:57] TildaDares commented on #8356
@jywarren Since [Action Mailbox](https://guides.rubyonrails.org/action_mailbox_basics.html) has more documentation and support, can we think of switching to it instead of using mailman?

[2022-01-29 12:19] Ash-KODES commented on #10677
hey,can i work on this?

[2022-01-30 07:49] sakshi-2412 commented on #7410
I would like to work on this issue. This should be done for every link tag with `target="_blank"` attribute right?

[2022-01-31 05:44] sakshi-2412 commented on #7410
@govindgoel can you confirm please. Thanks!

[2022-01-31 17:45] ebarry commented on #9977
Does this PR resolve this issue?
Thinking about this being project scoping season, it would be great to go ahead and commit the work we've done previously to streamline onboarding.

[2022-01-31 19:10] #3636 closed

[2022-02-01 00:31] jywarren commented on #8356
Gosh this has been broken for some time. I have been wanting to try debugging with Sebastian but we have been doing a series of big migrations of other systems to Google Cloud. I want to say we should be able to get mailman working again but it's a good point about Action Mailbox being more supported. How big of a project do you think the transition would be?

[2022-02-01 00:33] jywarren commented on #10545
Oh wow that's a big list! Thank you!!!

[2022-02-01 00:34] jywarren commented on #10665
Great idea surfacing these. I think we have some additional ones in #10545 and https://github.com/publiclab/plots2/issues/956 !

[2022-02-01 06:02] govindgoel commented on #7410
@sakshi-2412 I think we can check if it is done before or not else work on this. Thanks

[2022-02-01 08:02] govindgoel commented on #10677
@jywarren I checked this and seems to be similar to https://github.com/publiclab/plots2/pull/10645.
In `profile.html.erb` we have image_tag here also, in local it is working fine but not in production as I can check.
 ```<%= image_tag(@profile_user.profile_image(:medium), class:'rounded-circle', id:'profile-photo', style:"width:50%;margin-bottom:20px;") %>```

[2022-02-01 18:11] jywarren opened #10686 "Bring "embed button" function from notes grids to thumbnail grids"
Grids (as in ) have a small "embed" button in the bottom right corner - almost invisible! But a small grey `</>` icon or something similar:

![image](https://user-images.githubusercontent.com/24359/152025208-d52d226c-4879-48b8-b867-c127fe89a2fe.png)

Let's port that function over to the "thumbnail image grids" as shown in https://publiclab.org/wiki/coqui (this page has both types actually):

![ima

[2022-02-01 19:40] #7543 closed

[2022-02-01 19:52] TildaDares opened #10687 "Format text in malito body"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-02-01 19:53] TildaDares commented on #10153
Welcome to Public Lab @aritroCoder 🎈. There's an open issue to work on in #10687.

[2022-02-01 19:54] TildaDares commented on #10687
Reserved for @aritroCoder

[2022-02-02 05:39] Suprajashetty commented on #10687
I'd like to try this

[2022-02-02 06:21] sakshi-2412 commented on #10686
@jywarren I would like to work on this

[2022-02-02 06:34] sakshi-2412 commented on #7410
Yes I checked, and `rel="noreferrer"` is not added for almost all of the link tags with `target="_blank"` attribute. I'll make a PR soon. Thanks ✨

[2022-02-02 07:10] TildaDares commented on #10687
Hi @Suprajashetty, this issue has been reserved for @aritroCoder. If we don’t get any response from them, I’ll assign it to you.

[2022-02-02 15:59] Ash-KODES commented on #10153
please assign me FTO Issue!
Thankyou

[2022-02-03 10:08] Alvinkariuki commented on #10153
Hi, I'm Alvin and I would very much like to contribute to FTO

[2022-02-03 10:17] TildaDares commented on #10687
Assigning @Suprajashetty since there has been no response from @aritroCoder

[2022-02-04 13:35] #10687 closed

[2022-02-04 13:36] #7509 closed

[2022-02-04 22:38] lokcito commented on #10153
Hello everybody, I would like to contribute with the project. I'm exciting to be  *FTO*  :D could I be assigned in some issue?

[2022-02-04 23:12] jywarren commented on #10686
We'd love your help! Have you completed a first-timers-only issue from https://github.com/publiclab/plots2/issues/10153 or https://code.publiclab.org? Thank you!

[2022-02-05 19:18] elliefoote commented on #10153
Hi there! I'm just starting out in open source and I'd love to contribute to your project. Please let me know an issue that I can help with as a first-timer.

[2022-02-06 14:40] sakshi-2412 commented on #10686
Yes I have completed my first-timers issue. I'll start working on this one. Thanks 😄

[2022-02-07 07:21] TildaDares opened #10694 "Link to Author's Profile on Profile Cards"
Hi, this is is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especia

[2022-02-07 07:22] TildaDares commented on #10694
Reserved for @Alvinkariuki

[2022-02-07 07:24] TildaDares commented on #10153
Hi @Alvinkariuki, there's an issue reserved for you in #10694

[2022-02-07 07:24] TildaDares commented on #10153
Hi @Alvinkariuki, there's an issue reserved for you in #10694

[2022-02-07 07:24] TildaDares commented on #10153
Hi @Alvinkariuki, there's an issue reserved for you in #10694

[2022-02-07 07:28] kirti1211c commented on #10153
Hey @TildaDares ! Can you please reserve an issue for me too?
Thank You!

[2022-02-07 08:22] TildaDares opened #10695 "Move followers/following to bio section on user profile page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-02-07 08:23] TildaDares commented on #10695
Reserved!

[2022-02-07 15:21] Mik-27 commented on #10153
Hey! I am a newbie to open source and would like to contribute to an FTO issue. Please let me know if there is any first-timer issue available.

[2022-02-07 18:25] TildaDares commented on #10695
Reserved for @kirti1211c

[2022-02-07 18:26] TildaDares commented on #10153
Hi @kirti1211c, there’s an issue reserved for you in #10695

[2022-02-07 18:52] ebarry opened #10700 "Change information hierarchy on Profile Pages to feature user-generated content, not group content"
Context:
Hi everyone, last week i attended a few meetings with Fellows at Public Lab, and found out that they were having difficulties finding or navigating to content they had created, specifically their Project Pages, which are really important wiki pages.

Currently, Profile pages offer blue links to Research Notes and Questions under the map, and a link to wikis in the right sidebar. This seem

[2022-02-07 18:52] DhruvGala commented on #10695
Let me know if any help is needed. Thanks

[2022-02-07 18:54] TildaDares commented on #10695
Hi @DhruvGala, you can leave a comment in #10153 so that when there’s an open FTO to work on, you’ll be notified. Thanks!

[2022-02-07 18:56] kirti1211c commented on #10695
@TildaDares I have made a PR for this. It would be great if you could review it.

[2022-02-07 18:56] DhruvGala commented on #10153
Hi, I'm new to open source and would like to help with any new issues that I can work on. Thanks.

[2022-02-07 20:04] TildaDares commented on #10695
Hi @kirti1211c, I can’t find your PR.

[2022-02-08 09:32] TildaDares commented on #10153
Hi @Ash-KODES, there's a small non-FTO issue you can work on in #9418. I can guide you if you need any help.

[2022-02-08 09:35] Ash-KODES commented on #10153
Thankyou! @TildaDares I m on it:)

[2022-02-08 10:17] Alvinkariuki commented on #10694
Thank you, I have claimed the issue

[2022-02-08 15:11] kirti1211c commented on #10695
@TildaDares Can you see it now? It is showing me on https://github.com/publiclab/plots2/pull/10703

[2022-02-08 17:27] KarishmaVanwari commented on #10309
Hey @jywarren , it would be great if you could help me figure out the template. I can now work on this issue.

[2022-02-08 17:44] KarishmaVanwari commented on #5260
@jywarren @IshaGupta18 Could you please clarify which issue is to be worked on now since it seems most have been already tackled?

[2022-02-08 20:38] KarishmaVanwari commented on #4406
Hey @geekychasser @grvsachdeva , can I take up this issue, if it's open?

[2022-02-09 09:25] TildaDares opened #10707 "Display new contributor welcome message only if commenter is not author of post"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-02-09 09:25] TildaDares opened #10708 "Display new contributor welcome message only if commenter is not author of post"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-02-09 09:25] TildaDares commented on #10708
Reserved for @lokcito

[2022-02-09 09:35] TildaDares opened #10709 "Remove unused variables from views (part of #10708)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-02-09 09:36] TildaDares commented on #10709
Reserved for @Mik-27

[2022-02-09 09:36] TildaDares commented on #10709
Reserved for @Mik-27

[2022-02-09 09:38] TildaDares commented on #10153
@lokcito and @Mik-27 there are open FTO issues for you to work on in #10708 and #10709

[2022-02-09 10:23] TildaDares commented on #7498
Resolved in #9989

[2022-02-09 10:23] #7498 closed

[2022-02-09 11:31] Mik-27 commented on #10709
I am getting some errors in the tests. But I think it is because of #10708 issue changes that are not implemented.

[2022-02-09 14:25] TildaDares commented on #10709
@Mik-27 You’re right. When the PR for the previous issue is merged, we’ll rerun the tests. Thanks?

[2022-02-09 15:05] adi611 commented on #10707
Please assign me this issue.

[2022-02-09 15:37] TildaDares commented on #10707
Hi @adi611, I’m sorry this issue is a duplicate of #10708 and that issue has been reserved. You can leave a comment in #10153 and as soon as an issue is open I’ll assign you. Thank you!

[2022-02-09 15:37] #10707 closed

[2022-02-09 15:43] adi611 commented on #10153
Hey! I am new to open source and would like to contribute to an FTO issue. Please let me know if there is any.

[2022-02-09 17:06] #5908 closed

[2022-02-09 18:34] TildaDares commented on #10153
Hi @DhruvGala, there's an open FTO for you to work on in https://github.com/publiclab/PublicLab.Editor/issues/796.

[2022-02-09 23:17] lokcito commented on #10708
@TildaDares , thank you assign to me the Issue.
I've just create a pull request: https://github.com/publiclab/plots2/pull/10714

[2022-02-10 09:07] KarishmaVanwari commented on #4688
@mohdabbas955 Are you still working on this issue? If not, I'd like to take it up @TildaDares .

[2022-02-10 09:21] TildaDares commented on #4688
Unassigning @mohdabbas955 since there have been no updates.

[2022-02-10 16:23] #10708 closed

[2022-02-11 05:07] cesswairimu commented on #4406
Hi @KarishmaVanwari, The page has gone through some revamps and has fixed most of the issues discussed above is how it is currently:
![Screenshot from 2022-02-11 07-50-01](https://user-images.githubusercontent.com/17081074/153540080-2ecd4c93-6de2-4ea6-b452-4da87a1ce95a.png) The `unfollow` button still redirects to subscriptions page and  we would love your help on this. Thanks

[2022-02-11 17:25] TildaDares commented on #4688
@KarishmaVanwari The JS code is in https://github.com/publiclab/plots2/blob/c1280156f6ecbfe5dc27b5c2f516f3eb7243d878/app/assets/javascripts/sidebar.js#L1-L13

HTML Code:
https://github.com/publiclab/plots2/blob/c1280156f6ecbfe5dc27b5c2f516f3eb7243d878/app/views/sidebar/_question.html.erb#L5

[2022-02-11 17:27] TildaDares commented on #4688
This is what it looks like presently: https://publiclab.org/questions/Softconcept_Africa/09-29-2016/question-put-some-dustduino-in-africa

You have to view it in small screen mode to see the dropdown.

[2022-02-12 04:08] anirudhprabhakaran3 opened #10720 "Make scrollbars optional, or add custom scrollbars"
### Please describe the problem (or idea)
In the wiki pages, the tables have scrollbars attached at both horizontal and vertical axes, even though they perform no function in this case.
<img width="615" alt="image" src="https://user-images.githubusercontent.com/76864239/153695955-95f0712f-1d6f-4a90-80bd-057aaf4f0c04.png">

By making the scrollbars either optional based on the content, or making so

[2022-02-12 12:40] KarishmaVanwari commented on #10720
Hey @anirudhprabhakaran3 can you please assign me this issue ?

[2022-02-12 12:54] anirudhprabhakaran3 commented on #10720
Hmm, I don't think I can assign this issue, but I think @KarishmaVanwari can work on it since she brought it to our attention. @adi611 you can look into other issues available!

[2022-02-12 12:58] KarishmaVanwari commented on #10720
Yes, I'm on it. Thanks @anirudhprabhakaran3 !!

[2022-02-12 13:32] cesswairimu commented on #10720
Great collaboration here :tada:   @KarishmaVanwari  I have assigned you the issue. @adi611 please do let me know if you can't find another issue one and I can help find you one. Thanks all

[2022-02-12 20:57] KarishmaVanwari commented on #10720
Thank you @cesswairimu!!

[2022-02-13 10:59] KarishmaVanwari commented on #4688
Okay, thank you so much @TildaDares!

[2022-02-14 09:40] cesswairimu opened #10723 "Weekly Community Check-In #130 - Web 3"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-02-14 10:11] #10709 closed

[2022-02-14 10:20] cesswairimu commented on #10720
more info:  These lists are  generated using in-line power tags that can be added by an author when making a wiki, research notes etc more info on these and how they are used can be found [here](https://publiclab.org/wiki/power-tags#Inline+power+tags)

[2022-02-14 15:17] RaviAnand111 commented on #10723
I got really interesting about Web3 and tried to explore it watched some videos on youtube, organised some webinars for my college club so everyone can learn about the Web3. I think I have got the basics of what web3 is and how it works, I know react.js so I am thinking of creating some dapps. So to do that I am trying to learn about wallets and how to connect them to your website and how to host

[2022-02-14 15:29] NARUDESIGNS commented on #10723
I spoke to @Tlazypanda about web3 because I'm also interested in learning about it. She was kind to point me in the right direction but I'm yet to fully begin learning about it. Other than that, I've been focusing more on learning Data structures and algorithms as well as studying interview/resume tips.

[2022-02-14 22:10] Ash-KODES commented on #10723
I just attended a WEB3 bootcamp at girlscript foundation!

[2022-02-14 22:27] Ash-KODES commented on #9418
can you explain me the issue a bit  more?
@TildaDares

[2022-02-15 02:25] anirudhprabhakaran3 commented on #10723
Hello! I haven't had much time to try out the Web3 stuff - to be completely honest, I haven't even wrapped my head around the very concept of it 😅 I will have to look into it.

If there are any resources that you all recommend for a complete beginner, please drop them below! Thank you!

[2022-02-15 04:37] mittal-parth commented on #10723
Hi! I would agree with @anirudhprabhakaran3. Haven't explored enough about Web3 yet. But definitely looking to do it in the future!

[2022-02-15 07:31] TildaDares commented on #9418
@Ash-KODES The reason for the error is because the `notes_for_tags` method is missing from the User model. What you need to do is create the `notes_for_tags` method in `user.rb`. The method will be something like:

A few things will have to change like removing the `@pagy` and `pagy` variables/method call. I hope that helps.

[2022-02-15 11:11] Georjane commented on #10723
Wow 💯  very interesting concept @cesswairimu 👍🏽

I don't know much about web 3. 😞  I have heard a couple of people talk about it and all that I could grasp out of it was that it's a big deal and it is the future or the present I would say 😄
Now that you mentioned it, I would definitely do some research on it. Thank you! 🙏🏽

[2022-02-15 16:02] TildaDares opened #10726 "Correct wrong alignment of social media icons on profile page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-02-15 16:02] TildaDares commented on #10726
Reserved for @elliefoote

[2022-02-15 16:03] TildaDares commented on #10153
Hi @elliefoote, there's an open FTO issue for you to work on in #10726.

[2022-02-15 16:39] elliefoote commented on #10153
Thanks! I'm on it 👍

[2022-02-15 17:22] elliefoote commented on #10726
Thanks @TildaDares! I made the change and made a pull request here: #10727. I think I did it correctly but please tell me if I missed something!

[2022-02-15 21:04] jywarren commented on #10686
Hi @sakshi-2412 would you like some support on this? I'm happy to and please reach out in the chatroom at https://gitter.im/publiclab/publiclab as well if you'd like some help!

[2022-02-16 06:04] sakshi-2412 commented on #10686
Hello @jywarren sorry for the delay caused. I had some family emergency. I will surely reach out to you if I want some help, I will be updating you soon with my work. Thanks! 😄

[2022-02-16 14:56] #10726 closed, assigned to elliefoote

[2022-02-16 15:28] jywarren commented on #10723
Hi all - i also haven't yet gotten familiar with web3 besides seeing it talked about a lot on Twitter 😄

I guess I've been hesitant about blockchain tech due to the environmental costs which we know will impact less privileged folks as a result. But I know there are some "very low footprint" options there. But maybe my question is first, what problem solving abilities does blockchain bring to, for

[2022-02-16 15:53] cesswairimu opened #10728 "Call for Summer of Code mentors 2022!"
Hi all :wave:
We have applied to [GSoC](https://summerofcode.withgoogle.com/) and we have been accepted to [Outreachy](https://www.outreachy.org/) :tada: .   We are hereby looking for folks interested in mentoring both or either of these programs, this coming summer. We have been participating in both programs  for  a several years now.

Outreachy internship period this year is 30th May - 26th Aug

[2022-02-16 18:34] sakshi-2412 commented on #10686
@jywarren I did the following things - added the embed button to thumbnail grids using partial template and removed it from notes and wikis list.

https://user-images.githubusercontent.com/85152262/154328227-7a55c80e-597a-4636-a5c5-38c8db8190b3.mp4

I couldn't understand the usage of passing className variable in the template. It is used in this line
`setupGridSorters(".<%= className %>-<%= random

[2022-02-17 18:10] TildaDares opened #10729 "Unfollow Tags in Topic Cards on User Profile Page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-02-17 18:11] TildaDares commented on #10729
Reserved for @adi611

[2022-02-17 18:11] TildaDares commented on #10153
Hi @adi611, there's an issue reserved for you in #10729.

[2022-02-17 22:24] A-BMT02 commented on #10729
I'd like to try this!
This is my first time contributing to open source . I'll try my best.
Wish me luck!

[2022-02-17 22:28] TildaDares commented on #10729
Hi @A-BMT02, this issue has been reserved for someone. You can leave a comment in this issue #10153 and we'll assign an FTO to you as soon as one is ready. Thank you!

[2022-02-17 23:05] A-BMT02 commented on #10729
Alright @TildaDares
I have no idea what an FTO is but ill be waiting .
Thank you .

[2022-02-18 05:46] debck commented on #10728
Hi All, I would love to be a mentor this time and help with the projects, :tada:
Thanks 💯

[2022-02-18 07:03] TildaDares commented on #10729
@A-BMT02 An FTO means First-Timers Only issue.

[2022-02-18 10:49] cesswairimu opened #10730 "Profile's followers/following improvements"
This a follow up to  https://github.com/publiclab/plots2/issues/10695 . Which added these links for followers and following links like so
![Screenshot from 2022-02-18 13-42-25](https://user-images.githubusercontent.com/17081074/154667960-8b1eeee0-fce4-4f0a-922d-5a178e90aab3.png)

on this page https://stable.publiclab.org/profile/liz

some improvements suggested here are:
-  Deactivate the link to

[2022-02-18 10:50] cesswairimu commented on #10730
Hi @kirti1211c, feel free to claim this if interested. Thanks

[2022-02-18 22:58] A-BMT02 commented on #10153
Hello , I would like an issue to be assigned to me

[2022-02-19 16:45] cmcgee0308 commented on #10153
Hi there! I'm a first timer and new to open sources. I have some experience with Python and C++. I would love to be added please!

[2022-02-20 06:08] cesswairimu commented on #10723
Thanks all, would anyone like to open next week's check-in?

[2022-02-20 06:34] RaviAnand111 commented on #10723
Hey @cesswairimu, I would like to open next week's check-in.

[2022-02-20 06:45] cesswairimu commented on #10723
awesome :tada: thanks @RaviAnand111. You could open it anytime on monday and feel free to ping me incase of anything. Thanks!

[2022-02-20 07:51] cesswairimu commented on #9977
From the PR , it looks like it will resolve it, I will follow up to have it merged. Thanks

[2022-02-21 14:17] Midas847 commented on #10153
Heyo, I am sort of a first time contributor and would like to know more about this project. I have experience with javascript, mainly React.I also have experience with Node, C++.

[2022-02-21 17:00] cesswairimu commented on #10723
Hi @RaviAnand111, please do let me know if you need any help with the check-in. Thanks again :)

[2022-02-21 23:45] jywarren commented on #10686
Hi, I believe we use className to provide unique identifiers for both css and JavaScript functions, so I would pass it in just in case. But if that doesn't make sense I'm happy to review more closely!

I'm sorry to hear of your emergency and please take as much time as you need, no worries.

[2022-02-22 06:58] sakshi-2412 commented on #10686
Oh okay I understand it now. Thanks for your help. I will open a PR soon :sparkles:

[2022-02-22 09:54] TildaDares commented on #10153
Welcome to Public Lab @Midas847, @cmcgee0308, @A-BMT02, there are issues for you to work on in https://github.com/publiclab/spectral-workbench/issues/860, https://github.com/publiclab/spectral-workbench/issues/858, https://github.com/publiclab/spectral-workbench/issues/856

[2022-02-22 14:53] RaviAnand111 opened #10734 "Weekly Community Check-In #131 - Health"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-02-22 15:08] #10723 closed

[2022-02-22 17:32] RaviAnand111 commented on #10734
I myself go on run every morning and try to do exercise after that, but as now colleges are open it is hard to do that. I like to do meditation and read books to exercise my mind. I also go for walk in the evening sometimes, usually I get lazy and skip it 😝 .

Can you guys please share your stories too if possible ?
@TildaDares @jywarren @cesswairimu

Thank You

[2022-02-23 07:15] TildaDares commented on #10734
Thank you for this wonderful check-in topic @RaviAnand111. I like to read books or listen to music and if I'm feeling really good, I take walks. I also got a bicycle recently so I ride when I have the chance.

[2022-02-23 10:10] mittal-parth commented on #10734
Very true @RaviAnand111!
I dance for keeping myself fit as it exercises the entire body! 🕺🏼 I meditate so as to maintain my mental health; *try* to take breaks and walk a little to avoid long durations of sitting; do some exercises for the eyes because we tend to abuse them a lot 😓

[2022-02-23 13:18] sakshi-2412 commented on #10734
Such a nice topic @RaviAnand111✨ I do meditation or listen to music to keep my mind fresh. More than anything else, I am a bit concerned about my eyes, so I have started doing eye exercises recently just as @mittal-parth said. Don't want to have specs🤷‍♀️

[2022-02-23 19:52] KarishmaVanwari commented on #4688
Hey @TildaDares , I've raised a PR #10735 . Please do have a look. Thanks!

[2022-02-23 21:48] KarishmaVanwari commented on #5556
Is this issue open? If yes, I'd be glad to work on it. Thanks!
@gautamig54 @IshaGupta18

[2022-02-25 16:21] jywarren commented on #10734
Thank you for this check-in and for this excellent topic. I love hearing how you all tend to your health! I usually bicycle but not in the ❄️ ❄️ ❄️  so i am feeling the need to do more to move my body these days. I also practice meditation and want to make more regular time for it! I often listen to ["singing bowl" audio recordings](https://soundcloud.com/massageasmr/tibetan-singing-bowl-studio-se

[2022-02-25 17:45] Manasa2850 commented on #10728
Hello everyone,
I would like to be a GSoC / Outreachy mentor this time! Thank you :smiley:

[2022-02-25 22:13] jywarren commented on #10728
Thanks all, we SO appreciate the support!!!

[2022-02-26 08:21] TildaDares commented on #10729
Hi @adi611, do you need any help with this?

[2022-02-26 12:54] janvi01 commented on #10153
Hey, I would like to contribute, please can you assign me. Thanks!

[2022-02-26 21:00] first-timers[bot] opened #10740 "Center lead images on wiki pages"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-02-26 21:02] jywarren commented on #10740
This will affect pages like https://publiclab.org/wiki/environmental-estrogen-testing ! Which currently look like this - see how the lead image is not centered?

![image](https://user-images.githubusercontent.com/24359/155858927-309f228b-435c-4c5c-8e80-1163ed7aae48.png)

[2022-02-26 23:20] Jonathan-Foo commented on #10740
Hi, I would like to try this!

[2022-02-27 05:38] Syed-Ansar commented on #10740
I am interested. Please assign it to me.

[2022-02-27 09:13] TildaDares commented on #10740
Hi @janvi01, you can take this up.

[2022-02-27 09:37] pydevsg commented on #10728
Hello all,
Hope everyone is doing good.
I would love to continue mentoring students in GSoC this year as well :)

[2022-02-27 09:54] janvi01 commented on #10740
Thanks, Please review my PR. @TildaDares

[2022-02-27 15:10] cesswairimu commented on #10734
Thanks again @RaviAnand111 for the check-in. Great theme :heart:

I do simple small stretch and full body exercises from chloe ting's channel, I also journal,  read fiction and history materials.
I also love dancing alone in the house :smile:

[2022-02-27 15:11] cesswairimu commented on #10734
Would anyone like to open next week's check-in?

[2022-02-28 05:12] sakshi-2412 commented on #10734
Hey @cesswairimu I would love to open this week's check-in

[2022-02-28 05:51] cesswairimu commented on #10734
Awesome,🎉🎉 thanks @sakshi-2412

[2022-02-28 07:49] #10740 closed

[2022-02-28 08:03] #10729 closed

[2022-02-28 08:09] sakshi-2412 opened #10743 "Weekly Community Check-In #132 - A healthier world"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-02-28 09:05] #10734 closed

[2022-03-01 00:03] TildaDares opened #10744 "Subheadings within a page are hidden under fixed banner when internal links are used"
When a subsection link is clicked, the heading of the subsection is hidden behind the fixed header. Example below:

https://user-images.githubusercontent.com/63427719/156079164-5be4fe47-d40c-43e0-aa98-6e75260638c5.mov

This can be corrected with CSS.

Original comment by @ebarry

[2022-03-01 04:46] mittal-parth commented on #10743
Well said and kudos to your efforts towards environmental conservation @sakshi-2412! ✨
 Perhaps not as many steps as you take but I try to save and reuse water as much as possible!

[2022-03-01 10:15] TildaDares commented on #10153
If anyone would like to work on a non-FTO issue, there's one in #10744. The issue requires only HTML and CSS.

[2022-03-01 10:17] Ash-KODES commented on #10744
Can I work on this?
@TildaDares

[2022-03-01 10:52] TildaDares commented on #10744
Sure @Ash-KODES

[2022-03-01 12:47] sakshi-2412 commented on #10743
Glad to hear that @mittal-parth 🎉🎉

[2022-03-01 17:31] jywarren commented on #10744
Just noting these two old issues that may be helpful context! #2512 #1568

I think one way we tried to solve this was to add -100 top positioning to each heading:

https://github.com/publiclab/plots2/pull/2512/files#diff-463e60e626241c46963af84593cec984ba6276eefa33d87e1c866706351ede41R65-R70

We also tried adding margin or padding to the floating navbar, i think, as that's what's causing the offse

[2022-03-03 00:25] jywarren commented on #10743
Thanks for this really nice theme @sakshi-2412 I really appreciate it. I've been aiming to use as many natural materials as possible in my art practice - plain wood, paper, etc instead of plastics and synthetics. It's better for our health as well!

❤️ 🎉 🌲

[2022-03-03 07:29] shubhangi013 commented on #10153
Hey! please assign me an issue :)

[2022-03-03 07:29] shubhangi013 commented on #10153
Is this still open?

[2022-03-03 10:17] TildaDares commented on #10153
Hi @shubhangi013, that issue is no longer available but there's one in #10730 if you're interested.

[2022-03-03 11:37] #9278 closed

[2022-03-03 16:29] TildaDares opened #10754 "Discussion and Q&A of Outreachy + GSoC ideas 2022"
Hi everyone, we've put together an ideas list for Outreachy and Google Summer of Code(GSOC) 2022 and we're sharing it here for discussion.

The Outreachy and GSOC projects have been accepted. The official ideas list can be found at https://publiclab.org/wiki/gsoc-ideas#2022+Ideas. We're using this medium to discuss or suggest possible refinements to the projects.

Also watch out for Welcome issues

[2022-03-03 16:37] shubhangi013 commented on #10730
I'd like to work on this issue!

[2022-03-04 04:53] anirudhprabhakaran3 commented on #10754
Thank you @TildaDares ! I think I would be interested on working on the legacy code depreciation. Along with the issues mentioned there, I think we can add https://github.com/publiclab/plots2/issues/10545 to the depreciation task as well. I've listed all the unused routes and actions. We can go through them methodically and eliminate the ones that we don't need, or refactor and rewrite the ones th

[2022-03-04 07:43] yuktea commented on #10754
Awesome @TildaDares ! The Infragram.org project sounds really cool.

[2022-03-04 11:41] AbihaFatima commented on #10153
Hi, I am a beginner contributor here and I am looking for some easy issues to get started with. Can you please add my name to the list for any FTO issues?
Thank you!  :)

[2022-03-04 12:39] mittal-parth opened #10755 "Images on /wiki are not center aligned"
### Please describe the problem (or idea)
After the recent change in the look of the `/wiki` page via #10731, the images in the _Image_ column are not center aligned.

![image](https://user-images.githubusercontent.com/76661350/156764957-572fce90-4eba-44dc-98b7-f812a90cec91.png)

The relevant code can can be found in [this file](https://github.com/publiclab/plots2/blob/main/app/views/wiki/_wikis.h

[2022-03-04 13:21] TildaDares commented on #10153
Hi @AbihaFatima, there's an easy issue you can work on in https://github.com/publiclab/plots2/issues/10755. It's not an FTO but it's easy to figure out if you know HTML/CSS. Leave a comment there and I'll assign you.

[2022-03-04 13:32] sakshi-2412 commented on #10743
wow that is awesome 🎉🎉😮 @jywarren

[2022-03-04 13:42] AbihaFatima commented on #10755
@TildaDares I would like to work on this. Thanks!

[2022-03-04 14:40] TildaDares commented on #10755
Go ahead @AbihaFatima

[2022-03-05 10:42] KarishmaVanwari commented on #10720
@cesswairimu @anirudhprabhakaran3
I've created a PR #10756 , please have a look. Apologies for the delay.

[2022-03-05 11:15] KarishmaVanwari opened #10757 "Make the little `v` button a little larger on question page"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-03-05 11:28] KarishmaVanwari commented on #6575
@jywarren @TildaDares Can I take up this issue?

[2022-03-05 11:32] KarishmaVanwari commented on #6304
Is this issue open? @jywarren @ebarry @IshaGupta18

[2022-03-05 11:53] KarishmaVanwari commented on #9407
Can I work on this issue, if it needs to be implemented? @TildaDares

[2022-03-06 11:30] cesswairimu commented on #10743
I try to avoid plastic or reuse it as much as possible, plastic is its a real problem here in Kenya :facepalm:

[2022-03-06 11:31] cesswairimu commented on #10743
Would anyone like to open next week's check-in?

[2022-03-06 12:44] cesswairimu commented on #9600
unpinning to pin the call for mentors for a month or so. Thanks

[2022-03-06 12:48] cesswairimu commented on #10728
Thanks @Manasa2850 @debck  and @pydevsg  and everyone planning to mentor :tada: :tada:
The discussion issue for this year's project has been opened [here](https://github.com/publiclab/plots2/issues/10754) thanks @TildaDares  :heart:

[2022-03-06 12:53] cesswairimu commented on #10730
Hello @shubhangi013, we would love your help!
Please go ahead. Thanks

[2022-03-06 12:55] shubhangi013 commented on #10730
Yeah.. trying to set plots2 on my local system but I'm facing some errors. They're being discussed in the Gitter.

[2022-03-06 12:58] cesswairimu commented on #10720
No worries @KarishmaVanwari and no apologies needed we encourage contributors to contribute when they can and most of our contributors come and go as they wish or based on how their schedules are, so please no need to apologize :slightly_smiling_face: taking a look now and thanks for working on this :heart:

[2022-03-06 13:01] cesswairimu commented on #10730
Cool :+1: left a comment, please let us know if it helps or any further errors you face, thanks

[2022-03-06 13:52] KarishmaVanwari commented on #10720
Thank you so much @cesswairimu!! ❤

[2022-03-07 04:28] sakshi-2412 commented on #10743
@cesswairimu That's very considerate of you 🤗✨✨

[2022-03-07 08:15] janvi01 opened #10759 "Sign up modal goes down"
### Please describe the problem (or idea)
Sign up modal goes down for screen size (width ~ 350 - 600)

https://user-images.githubusercontent.com/34344234/156975889-75ecb340-8afd-4bff-a93c-20af4c0d19cd.mov

### Please show us where to look

https://publiclab.org
dropdown -> sign up option

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this

[2022-03-07 09:33] TildaDares commented on #6575
Hi @KarishmaVanwari, we decided to revert back to the normal question template https://github.com/publiclab/plots2/pull/10359. I think we can close this one now.

[2022-03-07 09:33] #6575 closed

[2022-03-07 09:37] TildaDares commented on #10153
Hi everyone, there's an easy issue available in https://github.com/publiclab/plots2/issues/10757. Leave a comment there if you'd like to work on it. Thanks!

[2022-03-07 09:47] TildaDares commented on #6304
Hi @KarishmaVanwari, it still is.

[2022-03-07 09:56] TildaDares commented on #9407
You can take this up @KarishmaVanwari

[2022-03-07 14:12] AbihaFatima commented on #10757
Hello👋, I was wondering if I could work on this issue if it hasn't been been reserved for anybody else. Thanks! :)

[2022-03-07 16:03] TildaDares commented on #10757
Sure @AbihaFatima

[2022-03-07 17:56] ebarry commented on #10744
Thanks for working on this @Ash-KODES ! How's it going?

[2022-03-08 17:39] jywarren commented on #10754
Hi everyone - after talking through it with
fellow coordinator/mentors @TildaDares and @cesswairimu I wrote up a detailed README of the Infragram project, detailing how it's designed and organized:

https://github.com/publiclab/infragram/blob/main/README.md

I'll keep adding but check it out!

[2022-03-08 19:42] jywarren commented on #10754
Update: I went through and expanded the Infragram README a LOT: https://github.com/publiclab/infragram I know it's a ton of information but I hope it's helpful!

[2022-03-08 20:59] cesswairimu opened #10764 "Weekly Community Check-In #133 - Congratulations Outreachy Interns Winter 2021 :tada: :tada:"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-03-08 21:12] cesswairimu commented on #10743
Moved to https://github.com/publiclab/plots2/issues/10764. Thanks everyone

[2022-03-08 21:46] Forchapeatl commented on #10759
I would love to work on this issue

[2022-03-08 21:54] NARUDESIGNS commented on #10764
Thank you!
Big thanks to @jywarren @TildaDares for your support and lessons and time. I appreciate you.
Thanks to @Georjane and @RaviAnand111 as well

I still plan to be a contributor to PublicLab and I'd try to keep at it.
I'm glad PublicLab was a major part of my Outreachy experience!

[2022-03-08 22:49] jywarren opened #10765 "Two translation helper errors on profile pages"
The Translation helper is supposed to insert a little globe icon for some users, where you can contribute missing translations.

Learn about the translation system at:

* https://publiclab.org/wiki/translation
* https://github.com/publiclab/plots2/blob/main/doc/Translation_System.md

Unfortunately it is broken in a few places:

![image](https://user-images.githubusercontent.com/24359/157337778-ba2

[2022-03-09 05:37] janvi01 commented on #10759
Hey, @TildaDares if you can assign this to @Forchapeatl.
Thanks!

[2022-03-09 07:50] KarishmaVanwari commented on #10765
@jywarren I am unable to see this error on https://publiclab.org/profile/warren (screenshot below), even though I've joined the translation team.
![image](https://user-images.githubusercontent.com/78212650/157396259-27ff924b-695a-4d4e-9622-be288e6861b0.png)

[2022-03-09 08:03] TildaDares commented on #10759
Hi @Forchapeatl, sure go ahead.

[2022-03-09 08:22] TildaDares commented on #10765
@KarishmaVanwari You need to change the site's language to one that doesn't have a lot of translations. For example: Deutsch

[2022-03-09 14:18] jywarren commented on #10700
Hi, this was actually the way the profile pages were redesigned, but we found that cross-tagging of posts caused either repetitive listing of the same post under multiple topics, OR upon fixing that, the omission of some topics the user is participating in because we did not show a post more than once (i.e. once the first topic was shown with a post, the second topic the same post was tagged with

[2022-03-09 17:08] Forchapeatl commented on #10744
Hi everyone. Under the assumption of @Ash-KODES  being  preoccupied with other important matters, Please may I work on this issue?

[2022-03-09 17:27] Ash-KODES commented on #10744
Sorry,got busy with university exams..
will be making a PR in next 12 hours,if not done then you can definetly work on the issue.

[2022-03-09 18:42] ebarry commented on #10700
Could we use our *grid* style to showcase cards of notes, questions, comments, and wikis?

Maybe show the topics that someone is active in as a list, rather than using the *topic card* UI on profile pages.

[2022-03-09 19:28] Forchapeatl commented on #10744
Okay , I don't mind you fixing the issue ,please take your time. I just thought you forgot . I'm sorry.

[2022-03-09 19:34] garimavs commented on #10153
Hello! Can I work on this issue?

[2022-03-10 06:52] Varshini-k-02 commented on #10153
Hi, I'm new to open source world and would love to contribute to any FTO issues hoping that it will be a great start for my GSoC'22 application. I can contribute in HTML, CSS

[2022-03-10 08:05] KarishmaVanwari commented on #9407
Hey @TildaDares, it seems that this issue has already been fixed, since I tried to signup with the username that already exists and it shows:
![image](https://user-images.githubusercontent.com/78212650/157615941-14271ae6-2811-4cd4-baae-639ed3c083a3.png)

Please confirm!

[2022-03-10 08:06] KarishmaVanwari commented on #10765
Okay, thank you @TildaDares

[2022-03-10 08:29] TildaDares commented on #9407
You are right @KarishmaVanwari. I think we can close this now. Thanks!

[2022-03-10 08:29] #9407 closed

[2022-03-10 08:43] TildaDares opened #10772 "Follow and New Post buttons are stacked on each other when there's a lot of text"
On the user's profile page, the `New Post` and `Follow` buttons are stacked on top of each other when there's a lot of text. It would be nice if the buttons could go below the text when there's an overflow.

<img width="659" alt="Screenshot 2022-03-10 at 09 39 53" src="https://user-images.githubusercontent.com/63427719/157621888-865fb5d3-1ac3-49f6-aaf4-6ba5c9b07e04.png">

You can see this demonstr

[2022-03-10 08:49] TildaDares opened #10773 "User social media links deletion is hard to find"
A contributor is unable to delete or remove their social media links from their profile after it has been added. You can only reset to an empty profile/link but the icons will still be displayed on the profile page. An improvement/solution would be to add cancel icons to each social media icon so that profile users can unlink their social media.

<img width="1201" alt="Screenshot 2022-03-10 at 09

[2022-03-10 08:50] Varshini-k-02 commented on #10772
Hi @TildaDares, Can I work on this issue? I have my name tagged in this list in #10153, so am I eligible to solve this?

[2022-03-10 08:51] TildaDares commented on #10772
Hi @Varshini-k-02, go ahead. Thanks!

[2022-03-10 09:04] TildaDares opened #10774 "Change User Unfollow Button to Neutral Color"
The user `Follow` and `Unfollow` buttons have the same color and this can be confusing for contributors.

<img width="324" alt="Screenshot 2022-03-10 at 09 59 57" src="https://user-images.githubusercontent.com/63427719/157627069-850f0a9a-5ed1-4a6d-b069-163e895acafb.png">

A grey color like this would show the difference between the two buttons.

<img width="125" alt="Screenshot 2022-03-10 at 10 01

[2022-03-10 09:15] TildaDares commented on #10153
HI @garimavs, that issue has been taken but you can work on #10774

[2022-03-10 09:44] garimavs commented on #10774
I would like to work on this @TildaDares. Thank you!

[2022-03-10 09:59] TildaDares commented on #10774
Go ahead @garimavs

[2022-03-10 10:24] Georjane commented on #10764
Thank you very much @cesswairimu 🥳
I appreciate my incredible mentors @jywarren @TildaDares @Tlazypanda for all the support and patience ❤️
This is just the beginning of my coding journey with PublicLab

[2022-03-10 10:30] Forchapeatl commented on #10773
Please May I work on this Issue ?

[2022-03-10 10:40] TildaDares commented on #10773
Hi @Forchapeatl, sure you work on this.

[2022-03-10 10:52] TildaDares commented on #10773
This task involves:

- [ ] Add the cancel icon to the social media icons (the cancel button should only be shown to admins/moderators and the profile users.
https://github.com/publiclab/plots2/blob/cc104ae472ddbb18aa94cc7f0ade0fa455c23cff/app/views/users/profile.html.erb#L100-L121

- [ ] Delete the user_tag by doing something like this with the cancel icon
https://github.com/publiclab/plots2/blob/

[2022-03-10 10:53] TildaDares commented on #10773
The tasks look like a lot so if you need assistance, please feel free to reach out.

[2022-03-10 11:57] Forchapeatl commented on #10773
Okay, thank you

[2022-03-10 13:25] Syed-Ansar commented on #10754
Hey! @jywarren @cesswairimu @TildaDares
Outreachy & GSoc project : Infragram.org full-screen UI design + Video

For designing a new interface instead of Bootstrap 4. Is it better to use Tailwind CSS as it has Control Over Styling, Better Responsiveness, Additional Features likes in-built animations so on. Isn't it a good Idea ?

[2022-03-10 17:48] jywarren commented on #10764
Thank you @Georjane @NARUDESIGNS so much, we are so happy you chose to work with us! And thanks to my co-mentors @Tlazypanda @TildaDares @cesswairimu !!!

[2022-03-10 20:05] KarishmaVanwari commented on #10765
Hey @TildaDares, can I try my hands on this issue?

[2022-03-10 20:09] KarishmaVanwari commented on #10677
Hey @jywarren @govindgoel, can I take up this issue?

[2022-03-10 20:15] KarishmaVanwari commented on #10082
Hey @jywarren, can I work on this issue?

[2022-03-10 20:23] shubhangi013 commented on #10730
I've successfully set up the project and can now work on this issue. Thanks for guidance

[2022-03-10 20:32] TildaDares commented on #10765
Go ahead @KarishmaVanwari

[2022-03-11 04:06] Varshini-k-02 commented on #10772
Hi @TildaDares. Actually I need help with erb file. I'm having trouble in making changes in the actual file while I can make changes when I inspect the card in the browser. Basically how can I make changes in the actual erb file? Please help out with some resources. I'm new to Ruby on rails.

[2022-03-11 04:57] mehul89 commented on #10757
hello @TildaDares I was like to work on this issue pls assigned me
this is my first contribution

[2022-03-11 06:33] AbihaFatima opened #10776 "Display some text if image is not available in the /wiki page"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-03-11 07:08] mehul89 commented on #10153
Hello, I am a beginner contributor here and I am looking for some easy issues to get started with. Can you please add my name to the list for any FTO issues?
Thank you! :)

[2022-03-11 07:35] Sakshamgupta90 commented on #10776
Hello @AbihaFatima
I want to work on this issue.

[2022-03-11 08:52] TildaDares commented on #10757
Hi @mehul89, someone is already working on it. I can see you’ve left your name in the first-timers list so as soon there’s an issue for you I’ll ping you.

[2022-03-11 09:21] garimavs commented on #10774
Hello @TildaDares, I'm facing some installation issues. I have mentioned the same in our Gitter community, will it be possible for someone from the organization to have a look at it?

[2022-03-11 10:45] Nishmaxcoder commented on #10757
Hello @TildaDares
I was wondering if I could work on this issue if it hasn't been reserved for anybody else. Thanks! :)

[2022-03-11 11:29] KarishmaVanwari commented on #10309
Hey @jywarren @TildaDares, could you please help me figure out which template can I put in the code?

[2022-03-11 11:37] garimavs commented on #10774
Kindly ignore the mentioned comment, but can you help me with the screenshot, because I'm unable to get to that page.

[2022-03-11 11:38] KarishmaVanwari commented on #6304
@TildaDares I've opened a PR #10778. Please have a look!

[2022-03-11 12:08] KarishmaVanwari commented on #10218
Hey @jywarren @brunoocasali I've opened a PR #10779. Please have a look. Thanks!

[2022-03-11 12:09] TildaDares commented on #10757
Hi @Nishmaxcoder, this issue has been reserved. You can leave a comment in #10153 and we’ll assign you to an issue when one is available.

[2022-03-11 12:40] mehul89 commented on #10757
so mam tell me  what can I do now

[2022-03-11 12:42] mehul89 commented on #10757
so pls tell me what can I do now

[2022-03-11 13:26] TildaDares commented on #10772
@Varshini-k-02 If you want to a new class, you can just add in the style tag here:
https://github.com/publiclab/plots2/blob/cc104ae472ddbb18aa94cc7f0ade0fa455c23cff/app/views/tag/_topicCard.html.erb#L63-L73

If you want to change the styling of the container div, you'll find it here:
https://github.com/publiclab/plots2/blob/cc104ae472ddbb18aa94cc7f0ade0fa455c23cff/app/views/tag/_topicCard.html.erb

[2022-03-11 13:27] TildaDares commented on #10776
Hi @Sakshamgupta90, go ahead.

[2022-03-11 17:02] #10774 closed

[2022-03-12 02:43] Forchapeatl commented on #10773
@TildaDares , please I need some help.   I followed the instructions on the [https://github.com/publiclab/plots2/#installation](https://github.com/publiclab/plots2/#installation) at the final stage of running the server I my terminal has been on this stagefor a while , Please is this the required display ? Because localhost:3000 doesn't  respond .
![image](https://user-images.githubusercontent.com

[2022-03-12 08:09] TildaDares commented on #10773
Have you tried restarting the server?

[2022-03-12 08:39] #10720 closed

[2022-03-12 08:59] #10759 closed

[2022-03-12 10:14] NamanKothari5 commented on #10776
add alt="Not Available" in the img tags the issue will be resolved

[2022-03-12 14:34] #10755 closed

[2022-03-12 22:25] Forchapeatl commented on #10773
I restarted and it works fine now. Thank you

[2022-03-13 04:14] mehul89 commented on #10776
you are right @NamanKothari5

[2022-03-13 09:25] Forchapeatl commented on #10773
Please for your review on this UI below.
![image](https://user-images.githubusercontent.com/24577149/158052177-469e25fa-c5e7-416c-a1ac-b6d7bf516616.png)
The Problem is the delete bage doen't make the delete request properly as  I don't know how to extract the tag value. I have highlighted the in the image above
my code
` <a href="/profile/tags/delete/3?name=<%=tag.name%>"><span style=" color: whit

[2022-03-13 14:42] TildaDares commented on #10773
@Forchapeatl The first thing you should is to change the `social_link` method here to `get_last_value_of_power_tag`
https://github.com/publiclab/plots2/blob/cc104ae472ddbb18aa94cc7f0ade0fa455c23cff/app/controllers/users_controller.rb#L167-L170 and change the variables to something like `@twitter_username`

[2022-03-13 14:43] TildaDares commented on #10773
Then in your view file, all you need to do is add
`<a href="/profile/tags/delete/3?name=<%= @twitter_username %>"><span style=" color: white; position: absolute; display: block; " class="badge badge-primary mb-1">x</span></a>`

[2022-03-13 16:28] Forchapeatl commented on #10773
Noted, Thank you.

[2022-03-13 17:08] mittal-parth commented on #10754
Thank you @TildaDares, @jywarren!!
Refining user interfaces across PublicLab seems interesting to me. However, I have a few questions:
1. Could you elaborate a little on interlinked navigation?
2. Is the random generator supposed to be something like a _suggestions_ page?
3. In my experience, searching on the navbar search box titled _Search on Public Lab_, always leads to the query search page. D

[2022-03-13 22:09] jywarren commented on #10754
Hi @Syed-Ansar i appreciate the idea however as we are using Bootstrap across many PL projects, it's really helpful to have consistency - it means it's much easier for people working on one piece of our software to transition to another without learning a new skill set. So I think we prefer to stick with Bootstrap -- I hope that makes sense!

[2022-03-14 13:23] Forchapeatl commented on #10773
Someone please help me I can't get the value of `user.id`
![image](https://user-images.githubusercontent.com/24577149/158180707-27ccb96f-e8e7-4092-9cc4-21601af52d33.png)

[2022-03-14 14:31] Ash-KODES commented on #10744
Please Review :)
@jywarren

[2022-03-14 14:34] Forchapeatl commented on #10773
Noted, thank you

[2022-03-14 18:33] Forchapeatl commented on #10773
The front end works fine
Problem is The "delete method" is not functioning as expected please have a look at the deployed demo [http://194.163.138.111/profile/user](http://194.163.138.111/profile/user)
 Please this is the fontend code snippet
`      <% if @twitter.nil? == false %>
      <span>
       <a aria-label="Delete tag" data-confirm="Are you sure you want to delete it?" class="tag-delete" d

[2022-03-14 18:46] ebarry commented on #10700
**Offering a vision for discussion:**
our profile pages should feature people's work in card or gallery format, similar to a profile page in instagram.

**Reference:**

- our "Card" style: (scroll down to see on this slide) https://docs.google.com/presentation/d/1-XHlVn3KQxSjS5WzHgc1l1qvFwqUC5f3-7GXugUP9u4/edit#slide=id.g5926e39f86_0_116
- our "Gallery Of Items" style: https://docs.google.com/pres

[2022-03-15 06:48] cesswairimu commented on #10764
Hi all, lets keep this for another week. Thanks all

[2022-03-15 07:59] mehul89 commented on #10776
I would like to work on this issue. 🙂 @TildaDares

[2022-03-15 14:43] Forchapeatl commented on #10773
@TildaDares  Please  help me , Please have a look at the demo this demo  [http://194.163.138.111/profile/user](http://194.163.138.111/profile/user).The tag delete controller is not responding, The tag seems to reapear after deleting.

[2022-03-15 14:59] jywarren commented on #10754
Hi  @mittal-parth! Thanks for these questions!

Yes --

So basically i believe the ideas is that there are three different pages with closely related content, and the community team wants it to be easier and more obvious how to get from one to the other. The three are (for just one example of a grouping):

1. https://publiclab.org/micro - the "home page" for our microscope kit (alternative maybe h

[2022-03-15 15:17] first-timers[bot] opened #10784 "Lower node title validation to 2 characters"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-15 17:33] Forchapeatl commented on #10773
@TildaDares  Noted thank you

[2022-03-15 17:58] jywarren commented on #10765
Hi @KarishmaVanwari how did that go, were you able to reproduce this? I can try to help if not!

[2022-03-15 18:45] mehul89 commented on #10784
hii @jywarren can I work on this issue

[2022-03-15 22:45] #4688 closed

[2022-03-16 08:35] Forchapeatl commented on #10773
How may I refresh  div without reloading the webpage.
Tag is deleted succefully but the social icon disappears only after the entire page is reloaded.

https://user-images.githubusercontent.com/24577149/158548807-a92833c5-7735-4d92-8e24-719b5d4a27fa.mp4

[2022-03-16 09:10] TildaDares commented on #10773
Hi @Forchapeatl, can you open a PR and then we'll go from there?

[2022-03-16 09:20] Forchapeatl commented on #10773
Okay

[2022-03-16 09:34] TildaDares commented on #10784
Hi @mehul89, you can work on an issue as long as it hasn't been claimed.

[2022-03-16 09:38] TildaDares commented on #10153
Hi everyone there's an easy issue to work on in https://github.com/publiclab/plots2/issues/10772 for anyone who's interested in using HTML/CSS.

[2022-03-16 09:39] Ash-KODES commented on #10772
Can I work on it?
@TildaDares

[2022-03-16 09:46] TildaDares commented on #10772
Sure @Ash-KODES, go ahead!

[2022-03-16 10:42] Forchapeatl commented on #10773
@TildaDares I'm sorry it took so long to open the PR . I was trying to record my screen to make the PR more comprehensive. But my screen recorder had some malfuctions. I'm sorry it took so long.

[2022-03-16 14:53] Forchapeatl commented on #10677
Please May I take this issue?

[2022-03-16 14:57] Forchapeatl commented on #8356
Please may I work on this issue ?

[2022-03-16 15:28] Forchapeatl commented on #5553
Please may I work on this issue ?

[2022-03-16 16:23] Ash-KODES commented on #10754
hello @jywarren,I have few doubts regarding Gsoc projects ideas hope you can help:)
1.what does "Project size: 350h OR could be split into 2 175h projects" this means?does it mean that it can have two candidates working on it?
2.Will every Gsoc idea that is mentioned from publiclab's end,will have a chosen candidate?
3.Can I write my ideas by opening a issue in the respected Repo?

[2022-03-16 16:37] mehul89 commented on #10784
ok 👍 @TildaDares

[2022-03-17 13:42] Yavnikaa commented on #10754
Hii @jywarren @TildaDares !
I am a third year undegraduate student at IITR and would love to work on the Infragram Project or the Refine User Interfaces across PublicLab.org one. Can you please guide me on how to start and contribute?

[2022-03-18 11:15] stephaniequintana commented on #8508
@jywarren, Hi, Jeffery - I want to claim this issue. I, too, am a newbie - this will be my very first contribution(!!!) - and an Outreachy applicant... Would you please assign it to me?

[2022-03-18 13:07] KarishmaVanwari commented on #10218
Hey @jywarren @brunoocasali I've opened another PR #10793. Please review. Thanks!

[2022-03-18 13:36] KarishmaVanwari commented on #6304
@TildaDares I've created another PR #10778. Please review. Apologies for the inconvenience.

[2022-03-18 14:21] first-timers[bot] opened #10795 "Add link to React documentation"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-18 14:36] ebarry opened #10796 "Placeholder: something unexpected about the order of how questions are shown on tag pages"
More coming soon on this issue, but basically, when on a Tag Page and then clicking on the questions tab , it is surprising behavior that the most recent questions are not shown first.

[2022-03-18 15:02] TildaDares commented on #10153
Hi @Sandip-2001, someone is already working on that. If the person needs help I’ll ping you. Thank you!

[2022-03-18 15:29] TildaDares commented on #10795
Hi @Forchapeatl, we normally leave issues like these for people who have not made any contributions to this project. If you’re looking for another issue to work on, you can work on https://github.com/publiclab/plots2/issues/9418. Thanks!

[2022-03-18 15:30] TildaDares commented on #10795
Reserved for @Sandip-2001

[2022-03-18 15:31] TildaDares commented on #10153
Hi @Sandip-2001, there’s an issue you can work on in #10795

[2022-03-18 15:34] KarishmaVanwari commented on #9418
Hey @TildaDares, can I take up this issue?

[2022-03-18 15:36] TildaDares commented on #10776
Hi @Sakshamgupta90, do you need any help with this?

[2022-03-18 15:37] #10757 closed

[2022-03-18 15:42] TildaDares commented on #9418
Hi @KarishmaVanwari, go ahead! Thank you.

[2022-03-18 15:44] TildaDares commented on #10795
Hi @TuhinBanerjee31, welcome to Public Lab 🎈. This issue has been reserved for someone but I can add your name to our first timers list. As soon as there’s an issue available I’ll ping you.

[2022-03-18 15:46] TuhinBanerjee31 commented on #10795
Okay. I will be waiting. Till I will try to find some other issues. Thank You!

[2022-03-18 15:57] mittal-parth opened #10797 "Add class to center wiki.scraped_image in wikis template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-18 15:58] mittal-parth commented on #10797
Hi @TildaDares you can add this to the first-timers-only issue list. Thank you!

[2022-03-18 16:27] TildaDares commented on #10797
Reserved for @TuhinBanerjee31

[2022-03-18 16:27] TildaDares commented on #10797
Thanks @mittal-parth!

[2022-03-18 16:30] TildaDares commented on #10153
Hi @TuhinBanerjee31 there’s an issue for you to work on in #10797. Thanks!

[2022-03-18 17:01] TuhinBanerjee31 commented on #10797
Thank You!

[2022-03-18 17:26] TildaDares commented on #10730
@Forchapeatl if you’re interested the last item on the enhancements list has not been completed

[2022-03-18 18:16] TuhinBanerjee31 commented on #10797
Done. Anyone review it. Thank You!

[2022-03-18 19:49] Yavnikaa commented on #10153
Hey! I am an Outreachy aspirant. Would love to contribute ;)

[2022-03-18 20:51] KarishmaVanwari commented on #10765
Hey @jywarren, I was still unable to reproduce the error, could you please help me out?

[2022-03-19 05:07] Sandip-2001 commented on #10795
Thanx for assigning me...

[2022-03-19 07:00] TildaDares commented on #10765
@KarishmaVanwari Was if on the live site or your local environment that you couldn’t reproduce the bug?

[2022-03-19 08:18] pydevsg commented on #10754
Hi, @Yavnikaa
Please go through - https://github.com/publiclab/infragram/blob/main/README.md to get insight on the project.
You can take `first-timers-only` issue from the issues section to get started.

[2022-03-19 12:39] BeeBombshell commented on #10153
Hi Everyone, I am an open-source enthusiast and a frontend developer, looking forward to contributing to the Public Lab Community and participating in **Outreachy'22**... 😊

[2022-03-19 12:46] BhavyaT-135 commented on #10153
Hey Everyone 👋 , I am currently pursuing my B. Tech. from Delhi University, India. I am passionate about open-source programming and I'm hoping to become a part of the Public Lab community. Further, I'd like to contribute towards becoming a part of GSoC '22.

[2022-03-19 13:29] Sakshamgupta90 commented on #10776
Hi @TildaDares, sorry for the delay. Yes, I was facing the issue while cloning the repository in my local system, I have tried a lot but, it was not installed properly!

[2022-03-19 14:17] TildaDares commented on #10776
Okay can you show us the error in the public lab chat?

[2022-03-19 15:45] Sakshamgupta90 commented on #10776
Sure, I have send it.

[2022-03-20 12:47] KarishmaVanwari commented on #10765
@TildaDares On the live site. I've successfully reproduced the bug locally.

[2022-03-20 14:28] KarishmaVanwari commented on #9418
Hey @TildaDares, I've opened a PR #10801. Please have a look. Thanks!

[2022-03-20 18:06] Sakshamgupta90 commented on #10776
@TildaDares would you please help me with the installation part. I got stucked.

[2022-03-20 19:09] reeshi-18 commented on #10153
Hello everyone, I am Reeshita Paul, persuing my BTech from IIT Roorkee. I am a full stack developer and an open source enthusiast. I am highly enthusiastic to contribute to the Public Labs community as the skillset listed is in accordance with my skillset. Further I am looking forward to contribute to this community as a part of GSoc'22. Please guide me and add me to the list of people for FTO iss

[2022-03-20 19:11] reeshi-18 commented on #10784
I want to take up this issue and start contribution

[2022-03-20 20:00] TildaDares commented on #10776
@Sakshamgupta90 Have you installed all of the prerequisites? https://github.com/publiclab/plots2/blob/main/doc/PREREQUISITES.md

[2022-03-20 20:01] TildaDares commented on #10784
Hi @reeshi-18, someone is already working on this. You can leave your name in #10153 and we’ll ping you as soon as there’s an issue for you to work on. Thank you!

[2022-03-21 00:18] adriancf-br commented on #10795
Hello,
Thanks for this opportunity and for your time in providing this experience for me to learn about conttibutinf for open source community.

May I work on this?

[2022-03-21 06:41] cesswairimu commented on #10764
Moved to https://github.com/publiclab/mapknitter/issues/1615. Thanks all

[2022-03-21 06:41] #10764 closed

[2022-03-21 07:40] TildaDares commented on #10795
Hi @adriancf-br, this issue has been assigned but you can leave your name in #10153 and I'll ping you when there's an issue for you to work on. Thank you!

[2022-03-21 07:50] #10795 closed

[2022-03-21 07:55] #10797 closed

[2022-03-21 08:12] Sandip-2001 commented on #10153
is there any open issues that I can work with???

[2022-03-21 08:13] Sandip-2001 commented on #10153
it will be great if it's related to frontend...

[2022-03-21 09:38] cesswairimu commented on #10754
Hi @Ash-KODES, I will try to answer your questions:

1: Those are the number of hours that will approximately be required to complete the project.  And  yes, it means we could have 2 interns working on the same project.
2: No necessarily, it will depend on which projects are selected by GSoC and the number of slots that will be allocated to PublicLab by GSoC. It is however safe to say, any accepte

[2022-03-21 14:26] KarishmaVanwari commented on #10730
Hey @TildaDares, can I work on this issue?

[2022-03-21 15:32] KarishmaVanwari commented on #10730
@TildaDares @cesswairimu I've opened a PR to fix the odd pagination issue at #10806. Please have a look. Thanks!

[2022-03-21 15:51] Sakshamgupta90 commented on #10776
@TildaDares I haven't installed sqlite3, is it necessary to install it?
I have tried to install it but sudo command doesn't work in git bash what to do?
![Screenshot (161)](https://user-images.githubusercontent.com/84325475/159299212-13d786b3-a842-4e8f-9346-ddd102c8c966.png)

[2022-03-21 17:21] k-latwal15 commented on #10153
Hello, i am new and looking to make contribution to the OS . I am skill in frontend HTML CSS JAVASCRIPT. kindly add me to the list for the upcoming issues

[2022-03-21 17:31] Sakshamgupta90 commented on #10776
Okay

[2022-03-21 22:09] TildaDares opened #10808 "Resolve failing tests resulting from the change made in #10784"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-21 22:10] TildaDares commented on #10808
Resolved for @Yavnikaa

[2022-03-21 22:11] TildaDares commented on #10153
Hi @Yavnikaa, there's an issue reserved for you in #10808

[2022-03-21 23:18] Yavnikaa commented on #10808
Thanks! Will raise the PR by morning. :))

[2022-03-22 02:32] saikmusunuri commented on #10153
Hey @TildaDares, can you please assign me an issue to contribute. Thanks

[2022-03-22 11:46] Yavnikaa commented on #10808
Done! Looking forward to the review.
Can I take up a more significant issue now? Pls assign me anything available. I am fluent with frontend, and would love to try my hands at backend :))

[2022-03-22 13:10] adriancf-br commented on #10153
Hi @TildaDares,
Could you please assign me an issue.

[2022-03-22 15:27] TildaDares opened #10811 "Add Navbar to Error Page - 404.html"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-22 15:30] TildaDares opened #10812 "Add Navbar to Error Page - 422.html"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-22 15:32] TildaDares opened #10813 "Add Navbar to Error Page - 500.html"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-22 15:34] TildaDares opened #10814 "Add Navbar to Error Page - 502.html"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-22 15:36] TildaDares opened #10815 "Add Navbar to Error Page - 503.html"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-22 15:37] TildaDares commented on #10811
Reserved for @saikmusunuri

[2022-03-22 15:38] TildaDares commented on #10812
Reserved for @BeeBombshell

[2022-03-22 15:39] TildaDares commented on #10813
Reserved for @BhavyaT-135

[2022-03-22 15:39] TildaDares commented on #10814
Reserved for @reeshi-18

[2022-03-22 17:34] BeeBombshell commented on #10812
Hi @TildaDares, Thank you for assigning me this issue. I'll start working on it immediately... 😊

[2022-03-22 17:49] saikmusunuri commented on #10811
Thank you, @TildaDares. I will start working on it.

[2022-03-22 18:06] BhavyaT-135 commented on #10813
Hi @TildaDares, thank you for the opportunity. Will submit the PR as soon as possible.

[2022-03-22 18:42] jywarren commented on #4936
Folks are still experiencing this so I'm re-opening and we should try to:

1. compile working solutions (even if not working for everyone)
2. organize how to diagnose and what to try (for different environments)
3. add a link to our READMEs etc to come here (or a fresh issue) to troubleshoot

Thanks all, for helping to figure this out! If you can leave a comment here please note:

1. what exactly

[2022-03-22 18:46] jywarren commented on #4936
OK so the core issue we're focusing on is `"mysql2 is not part of bundle" error while running rails server` -- which also can occur when running `passenger start`. If you have a different error or a different but similar variation of this, please let us know with some details!

This does not affect GitPod, so a quick fix is to use GitPod (as in the README) as a workaround.

This has especially aff

[2022-03-22 19:20] #6072 closed

[2022-03-22 19:21] #5036 closed

[2022-03-22 19:39] Sakshamgupta90 commented on #10815
@TildaDares Can I work on this?

[2022-03-22 19:46] k-latwal15 commented on #10815
I am taking this issue #10815

[2022-03-22 20:19] jywarren commented on #4936
### Solutions:

1. We saw this resolve for some people after this change was made:

https://github.com/publiclab/plots2/pull/4984/files (runs `require 'active_record/connection_adapters/mysql2_adapter'` only if `ActiveRecord::Base.connection.adapter_name == "Mysql2"`

2. Some people bypassed by using `passenger start` or the simple webrick server with `rails server webrick`

3. Adding `gem 'active

[2022-03-22 20:51] jywarren opened #10817 ""Show more" button on tables of notes not useful any more; adapt or remove"
We have a button/link to "show more" after a certain number of entries in a table, as shown in pages like https://publiclab.org/embed/grid/question:infragram

<img width="725" alt="image" src="https://user-images.githubusercontent.com/24359/159573223-ac8b7b36-3f2f-4520-953d-70b42aa88c4d.png">

This is only after scrolling all the way to the bottom. But now that we have scrolling of this type, we d

[2022-03-22 20:55] reeshi-18 commented on #10814
Thank you @TildaDares. Will make the PR asap

[2022-03-22 20:58] KarishmaVanwari commented on #10677
@jywarren @govindgoel @TildaDares I've opened a PR #10802. Please have a look. Thanks!

[2022-03-22 21:16] jywarren commented on #3961
I believe this is resolved now through testing in https://github.com/publiclab/plots2/issues/3961#issuecomment-475900811, closing now! I also think that if we do see an error like this in the future, we will be able to track it using Sentry.io

[2022-03-22 21:16] #3961 closed

[2022-03-22 21:26] first-timers[bot] opened #10818 "Add tooltip to flag count to explain the number"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-22 21:27] jywarren commented on #10818
I created this one! Because when you view the following page, the count shown after "PUBLISHED" in the Status column is ambiguous. This tooltip will help explain that it's a count of how many flags the node has!

<img width="1171" alt="image" src="https://user-images.githubusercontent.com/24359/159579040-31f6c4cb-5b4a-44b1-ab70-6bf750490e19.png">

[2022-03-22 21:40] first-timers[bot] opened #10819 "Add "created" to clarify spam page entries"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-22 21:44] adriancf-br commented on #10817
May I work on this Issue?

[2022-03-22 21:53] adriancf-br commented on #10819
Hello,
I would like to work on this issue.

[2022-03-22 22:00] jywarren commented on #10819
Hi @adriancf-br please go ahead. The code can be viewed (by admins) at this address:

`/spam2/comments/filter/flagged/30`

<img width="519" alt="image" src="https://user-images.githubusercontent.com/24359/159583449-605a0a5a-56ba-42c0-a870-4824616e7aab.png">

[2022-03-22 22:01] adriancf-br commented on #10819
Thanks. I wil give my best.

[2022-03-22 22:01] jywarren commented on #10819
And please note I modified the changes above to just make the first one, so be sure to refresh this page before starting!

[2022-03-22 22:02] adriancf-br commented on #10819
Ok, thanks for this!

[2022-03-22 22:03] first-timers[bot] opened #10820 "add "unflag" tooltip to clarify button"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-22 22:03] jywarren commented on #10819
And reach out in the chatroom if you have trouble! gitter.im/publiclab/publiclab

[2022-03-22 22:04] jywarren commented on #10820
<img width="1219" alt="image" src="https://user-images.githubusercontent.com/24359/159583897-5f0f5af1-9d71-46da-b168-bbe6d6ebe37d.png">

This will add a little helpful hint to the above view, viewable in local environments at `/spam2/comments/filter/flagged/30`

Reach out in the chatroom if you need help! https://gitter.im/publiclab/publiclab

[2022-03-22 22:30] TildaDares commented on #10818
Reserved for @adriancf-br

[2022-03-22 22:32] TildaDares commented on #10153
Hi @adriancf-br, there’s an issue for you to work on in #10818

[2022-03-22 22:33] TildaDares commented on #10817
Hi @stephaniequintana, I know you’re looking for another FTO to work on. This could be a good place to start.

[2022-03-22 22:35] adriancf-br commented on #10819
Where I found to make this change is at line #91 not at line #88 as described. Is it correct or mey I got a mistake.

[2022-03-22 22:36] TildaDares commented on #10818
Ah @adriancf-br, I see you’re already working on #10819. That’s great, I’ll leave this for someone else to work on then.

[2022-03-22 22:50] jywarren commented on #10820
This is reserved for @stephaniequintana!

[2022-03-22 23:15] jywarren opened #10823 "People lists have unnecessary "Show 2 more" entry"
We show lists of people on some pages, like: https://publiclab.org/wiki/translation#Translation+prompts

This is driven by code in this file:

https://github.com/publiclab/plots2/blob/e646cfd248e46fe9cf11a2eb7860bbf29f949b7d/app/views/grids/_people.html.erb#L22

However, the highlighted line shows how, after a certain # of people, we show the text "Show X more". However we now show the whole list,

[2022-03-22 23:16] jywarren opened #10824 ""Notes" tab missing from question page"
Our topic pages have tabs for "notes" and "questions":

https://publiclab.org/tag/infragram

<img width="1006" alt="image" src="https://user-images.githubusercontent.com/24359/159574042-7312b33e-8a79-4858-9271-b05a00dfddee.png">

When the questions tab is open, you can get back to notes with the notes tab:

https://publiclab.org/questions/tag/infragram

<img width="874" alt="image" src="https://us

[2022-03-22 23:46] DreRootz opened #10825 "First Timers Issue"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-03-23 02:31] stephaniequintana commented on #10820
@jywarren Thank you, Jeffrey. I'm going to continue on this evening with troubleshooting the local install and will put fresh eyes on this tomorrow. I appreciate you setting this one aside for me.

[2022-03-23 02:34] stephaniequintana commented on #10817
@TildaDares THANK YOU! @jywarren has assigned one to me. After working on that one I will definitely come back here to see what I can do to help.

[2022-03-23 05:39] stephaniequintana commented on #4936
tl;dr I aborted the process of setting up `mysql` as my database (reasons below), but was still unable to setup the environment due to ???

I do want to preface that my original issue was installing `rvm` on my Mac w/zsh - it was a tangled mess due to `cacertificates` and hidden files. I finally found a quick fix so please reach out to me if you're experiencing the same.

It is at (and due to) the

[2022-03-23 06:23] pydevsg commented on #10824
Nice catch @jywarren 😃
I agree with the same, we should remove the conditional wrapping .

[2022-03-23 06:29] TildaDares commented on #10825
Hi @DreRootz, what issue did you intend to open with this?

[2022-03-23 06:34] TildaDares commented on #10824
Hi @pydevsg, this issue doesn’t really follow the formatting that FTOs usually have. I think it would be best to leave it as an `fto-candidate` instead.

[2022-03-23 06:40] TildaDares commented on #10825
Hi @DreRootz, I’m going to remove the fto-candidate label now but when you’ve figured out what this issue is for, ping me and I’ll add it again.

[2022-03-23 06:43] TildaDares commented on #8508
Removing the first-timers-only label until the issue is resolved.

[2022-03-23 06:46] #10811 closed

[2022-03-23 06:47] TildaDares commented on #10812
Hi @BeeBombshell, you need to push those changes to publiclab/plots2 and not your fork.

[2022-03-23 06:48] TildaDares commented on #10813
Hi @BhavyaT-135, you need to push the changes to `publiclab/plots2` and not your fork.

[2022-03-23 07:12] Sakshamgupta90 commented on #10814
@TildaDares can I work on this?

[2022-03-23 07:29] saikmusunuri commented on #10818
Hey @TildaDares, can I please work on this issue. I would like to contribute to this.

[2022-03-23 07:45] TildaDares commented on #10818
Hi @saikmusunuri, contributors are only allowed to work on one `first-timers-only` issue. You can take a look at our issues labeled `fto-candidate`
https://github.com/publiclab/plots2/labels/fto-candidate. They are good issues for people who have solved an FTO.

[2022-03-23 09:04] Yavnikaa commented on #10817
@TildaDares @jywarren can I take this up?

[2022-03-23 09:21] TildaDares commented on #10817
Hi @Yavnikaa, go ahead!

[2022-03-23 10:14] Yavnikaa commented on #10817
I think it's a better idea to altogether remove the button since there are pages like https://mapknitter.org/#3/19.13/-80.59/ , where we need to figure out where should we redirect the user to. So shall I proceed by removing this button and the associated javascript completely?

[2022-03-23 10:43] KarishmaVanwari commented on #10823
Hey @jywarren, can I take up this issue?

[2022-03-23 14:00] jywarren commented on #4936
Hi @stephaniequintana this is really helpful and thorough note taking, thank you. In sqlite, are you able to run everything normally in development mode, or are you not yet sure of that? We used to use sqlite in development more often, but over time we began using more mysql features such as fulltext searching. However, I believe at least some of those features are isolated with conditionals; this

[2022-03-23 14:05] jywarren opened #10827 ""unauthenticated git protocol on port 9418" error when installing"
This error happens either in GitHub Actions CI (the automated tests on each PR) or when running `rails webpacker:install && rails webpacker:install:react && rails generate react:install` during setup.

If seen during `yarn install` the error looks like this:

[code]

[2022-03-23 14:10] jywarren opened #10828 "Why do we need to add manifest.js as part of install process?"
Just making a space to discuss/resolve this question; there's a note I added to our installation issue at https://github.com/publiclab/plots2/issues/3840 which recommends doing this step. But I noticed we don't do it as part of the [Gitpod setup](https://github.com/publiclab/plots2/tree/main/.gitpod.yml) or the [GitHub Actions tests](https://github.com/publiclab/plots2/blob/main/.github/workflows/

[2022-03-23 17:41] ebarry opened #10830 "Legacy /map/ nodes on publiclab.org need updating"
I ran into this old content type when speaking with one of the earliest contributors to Public Lab. Map content in URLs formatted like `/map/`

- They display, but can't be edited
- They have authors, but this is hardcoded and not linked to publiclab.org author profiles
- They can be "liked" but the icon for liking is duplicated on the other side of the content, and only the "wrong" one works.
- T

[2022-03-23 17:48] ebarry commented on #10830
More on map nodes:
Here's what happens when i try to edit the content to update it to correct inaccuracies that the original author told me about.

![editing-map notes](https://user-images.githubusercontent.com/161439/159763405-7511a871-7ac7-4216-a8f8-83560f31bf99.gif)

What i would change if i could :
- add two authors
- edit title for accuracy

[2022-03-23 18:11] BhavyaT-135 commented on #10813
Hey @TildaDares, I've opened the Pull Request. Sorry for the inconvenience. :)

[2022-03-23 18:31] jywarren commented on #4936
No worries @stephaniequintana it's very helpful to know of these barriers in our install process. I'm going to follow up with the question "is this webpack step necessary for local development" and I think i can research that question.

I found from your very helpful log that the webpack step runs `yarn` which is why it results in a similar error:

[code]

I'll have to see why the forced protocol

[2022-03-23 18:33] jywarren commented on #10827
Wow if you feel like you have a good lead on it, for sure - just be aware it may be a pretty convoluted one! But i appreciate any help we can get :-)

Noting that this idea of forcing https with `git config --global url."https://github.com/".insteadOf ssh://git@github.com/` did not seem to work in https://github.com/publiclab/plots2/issues/4936#issuecomment-1076682541 - and we have a log there to

[2022-03-23 18:34] jywarren commented on #10827
@Forchapeatl have you encountered this error yourself? if so, did `git config --global url."https://github.com/".insteadOf ssh://git@github.com/` change anything for you?

[2022-03-23 19:06] ishikajn8126 commented on #10824
Hey @jywarren!
I would like to work on this!

[2022-03-23 19:16] ishikajn8126 commented on #10153
Hey @TildaDares, I'm an Outreachy aspirant, I'm looking forward to get started with some first-timer issue.

[2022-03-23 19:28] TildaDares commented on #10824
Hi @ishikajn8126, please go ahead. If you need any assistance, feel free to reach out.

[2022-03-23 20:15] Forchapeatl commented on #10827
@jywarren , I encounted it about 18 hours ago , this were the actual commands that worked for me `git config --global url."https://".insteadOf git://`  referenced in  [https://stackoverflow.com/a/70666585](https://stackoverflow.com/a/70666585) .

[2022-03-23 20:16] saikmusunuri commented on #10818
Thank you, I'll check them out.

[2022-03-23 20:24] jywarren commented on #10827
Oh wonderful, and you were able to bypass this error as a result? I think we can insert that in our GitHub Actions script here to ensure this doesn't happen in our tests anymore.

It'd have to go in multiple steps of https://github.com/publiclab/plots2/blob/main/.github/workflows/tests.yml

but instead we could put it in this file just once, which is run repeatedly in each step of tests.yml: https

[2022-03-23 20:24] jywarren commented on #10828
And specifically could we skip this in development mode? Where we presumably don't need to run webpack at all?

[2022-03-23 20:28] Forchapeatl commented on #10827
yes, of course.

[2022-03-23 21:03] ebarry commented on #10830
Crossposting a comment i left in the chat, /map/ type nodes aren't covered by the google search.
If they do not have tags (and most don't as they pre-date our extensive use of taging), the Google search seems to not search their title or body content.

[2022-03-24 03:07] #10813 closed

[2022-03-24 05:44] ishikajn8126 commented on #10824
Sure, thanks.

[2022-03-24 08:27] #10812 closed

[2022-03-24 20:21] #10819 closed

[2022-03-24 20:51] cesswairimu opened #10840 ":rainbow: Welcome Outreachy Summer 2022 Aspirants and call for Proposals :tada: :woman_technologist: :raising_hand: :man_technologist:"
# :tada: Welcome Outreachy applicants Summer 2022  :tada:

Hi!  :wave: and welcome to PublicLab :balloon: We are glad to have you here :heart: . This is a discussion issue for all of you with the mentors. Please say hello in a comment below, so we get to know you. Ask any questions that you might have here and we will be sure to answer them as soon as possible. We do weekly check-ins, where our la

[2022-03-25 01:42] Forchapeatl commented on #10827
![image](https://user-images.githubusercontent.com/24577149/160036605-670169b8-24f1-4b76-b739-32541dcccc32.png)
@jywarren , SSH seems not to be maintained any more , may  I have your permision to change the
 ` ssh://git@github.com/` instance to `git://github.com/`  ?
hence the proposed code
`  - name: Reconfigure git to use HTTP authentication`
`    run: >`
`      git config --global url."https://

[2022-03-25 16:45] sarxxt commented on #10815
@TildaDares can I take this issue #10815

[2022-03-25 16:53] TildaDares commented on #10818
Hi @sarxxt, go ahead. Thanks!

[2022-03-25 17:27] padmajabhol commented on #10153
Hi, I was accepted for my initial outreachy application, I looked into a few beginner-friendly issues but most of them were taken and I didn't want to create duplicate PRs 😅. Is it okay if the maintainers assign a future issue to me?
I have been doing frontend and infrastructure-related work in quite some open-source organizations.

[2022-03-25 17:30] TildaDares commented on #10153
Hi @padmajabhol, congratulations on your application acceptance 🎉🎉. I’ll add your name to the list and when there’s an issue for you to work, we’ll ping you.

[2022-03-25 17:46] moazzammoriani commented on #10840
Hi, I can't wait to get started! I have found that open source is increasingly taking over my life in the best possible way. I hope to accelerate this process and also learn as much as I can along the way!

[2022-03-25 17:51] moazzammoriani commented on #10153
@TildaDares could you also add me to the list? I also just got through with my initial application for outreachy just now (yay!).

[2022-03-25 18:07] girija0707 commented on #10840
Hello team, extremely delighted and looking forward to working with amazing folks 😄

[2022-03-25 18:10] KarishmaVanwari commented on #10754
Hey @jywarren @TildaDares @cesswairimu! Refine User Interfaces across PublicLab.org project seems interesting to me. I have a couple of queries regarding this project:
1.  Could you please clarify what is the category tree to be built for?

2. Could you please explain the process of becoming a moderator? And what are the prerequisites for the same, if any?

[2022-03-25 18:25] BeeBombshell commented on #10840
Hi Everyone, I am an open-source enthusiast and a frontend developer, looking forward to contributing to the Public Lab Community and participating in Outreachy'22... 😊

[2022-03-25 19:05] girija0707 commented on #10153
Hello, my initial application outreachy application is accepted and actively looking to working on a beginner friendly issue, it would be great if maintainers can assign me on a first timer issue 😊

[2022-03-25 19:49] akanbifatimah commented on #10840
Hi Everyone, My name is Fatimah, an outreachy applicant summer 2022 and I am glad to be here, looking forward to working on this project

[2022-03-25 20:06] akanbifatimah commented on #10820
Good day all, I will like to be assigned this issue

[2022-03-25 20:27] padmajabhol commented on #10840
Hello everyone! I'm Padmaja. A second year engineering undergrad from India. I have been contributing to open source since a year with organisations that use os softwares to fight climate change. I have been accepted to the initial outreachy round and I'm really excited to open my contributions to Publiclab!

[2022-03-25 20:29] akanbifatimah commented on #10153
Hello @TildaDares could you please assign me to a first timer issue, I am an outreachy summer 2022 applicant.

[2022-03-25 21:05] BRB3D commented on #10153
Hello, I just passed the first round for the Outreachy program and I'm am actively looking to contribute with one issue if there are still issues to assign.

[2022-03-25 21:24] illyShelly commented on #10823
Hello @jywarren, could I work on this as Outreachy participant :)

[2022-03-25 21:40] illyShelly commented on #10840
Hello guys. My name is ILONA. I am originally from the Czech Republic (Europe). I studied Economics and worked for a while in that field. However, my dream is to pursue to work in IT finally :) I attended coding Bootcamp a few years ago and was part of the Portugal Startup programme. Unfortunately, Covid stopped everything. So now I got this opportunity to come back into coding. I hope it helps me

[2022-03-25 22:20] TildaDares commented on #10823
Hi @KarishmaVanwari, sure go ahead!

[2022-03-25 22:21] TildaDares commented on #10823
Hi @illyShelly, you can leave a comment in #10153 and we'll look for an issue for you to work on.

[2022-03-25 22:23] #10814 closed

[2022-03-25 22:31] TildaDares commented on #10825
Hi @DreRootz, I'll be closing this issue but feel free to open it when you’ve figured out what this issue is for. Thanks!

[2022-03-25 22:31] #10825 closed

[2022-03-25 22:32] MaxPerdomo commented on #10153
HI EVERYONE! I too was accepted into the currently ongoing Outreachy round. I'm super excited to begin contributing to open source!

@TildaDares please add my name to the list?  ❤️✨  :)

[2022-03-25 22:32] TildaDares commented on #10772
Hi @Ash-KODES, any updates on this? Feel free to ask for help if you need it.

[2022-03-25 22:45] LontchiFrank commented on #10153
Hello everyone, my initial application  in outreachy is accepted and wish to be assigned to a first timer issue

[2022-03-25 22:58] PythonCoderUnicorn commented on #10840
Hello everyone my name is Zane Dax , Transgender Non-Binary from Canada, with a Bachelor's degree in Public Health and really looking forward to having a mentor and learning so much. I want to be a positive impact on this project

[2022-03-26 02:55] enelesmai commented on #10840
Hello! My name is Selene, I'm an Outreachy applicant  'Summer 2022 and I will be happy to contribute to this beautiful project <3

[2022-03-26 04:10] AbihaFatima commented on #10840
Hey Everyone! I am Abiha, an Outreachy'22 applicant. Looking forward to contribute to the Infragram project :)

[2022-03-26 06:30] girija0707 commented on #10840
Hello everyone, I'm a little confused😅 I found infragram very interesting to work on, but should I wait to be assigned with first-timer issue or can I create an issue for infragram can someone help me with my query

[2022-03-26 06:44] cesswairimu commented on #10840
Hello and welcome everyone :tada:  nice to e-meet all of you. I am Cess pronouns she/her. I am one of the PublicLab mentors and I am also an Outreachy alumni.  I wanted to add that the mentors and the code community is ready to help everyone during this application process. So please ask any questions you may have.

hi @girija0707, if you already found an issue to create or one to work on you can

[2022-03-26 07:08] cesswairimu commented on #10840
Also a heads up:  if you are installing the ``plots2` project on your local, maybe consider using sqlite3 for database
. On step **7** choose the second option,

As we are having issues reported by folks using `mysql2`

[2022-03-26 07:10] daluclemas commented on #10840
Hi guys. Super excited to be working on this

[2022-03-26 07:18] girija0707 commented on #10840
Ok will keep that in mind 👍

[2022-03-26 08:19] Yousiph1 commented on #10840
Hi, I am Yussif an Outreachy applicant, nice to meet you all.

[2022-03-26 09:22] barcha47 commented on #10840
Hellow everyone, I am behroze aslam,an Outreachy applicant, front-end developer from northen areas pakistan, excited to work with mentors and contribute in this project.

[2022-03-26 09:30] barcha47 commented on #10153
Hello everyone, i am an  Outreachy applicant summer 2022, i would like to work on first timer issue, if there's any issue to assign please let me know

[2022-03-26 10:13] Ms-Error commented on #10840
Hi Everyone! I am Pranavi, an Outreachy applicant , Looking forward to contribute to the Infragram project.

[2022-03-26 10:29] Ms-Error commented on #10153
Hello Everyone, I am an outreachy summer 2022 applicant. Looking forward to contributing to this project, please assign me to a first-timer issue.

[2022-03-26 11:04] stephaniequintana commented on #10840
Hi, everyone! I just want to introduce myself to the group - and celebrate us all being accepted to Outreachy! 🎆 Congrats to everyone here 🥳 I'm Stephanie, a self-taught developer and a complete newbie to Open Source. I've already completed an f-t-o issue so please feel free to reach out to me if you have questions or would like any help. Just by being here we're all taking an exciting step forwar

[2022-03-26 11:09] girija0707 commented on #10840
Heey I'm interested in contributing to infragram can you please tell how to proceed with it, do I need to clone the repository, run it and find bugs myself or do I need to install any environment for that?

[2022-03-26 11:56] stephaniequintana commented on #10840
@girija0707, on the pulbliclab/infragram [README.md](https://github.com/publiclab/infragram) you'll find the complete installation instructions. You'll want to start there to get started on your proposal. At the top of that page is a [link to the issues](https://github.com/publiclab/infragram/issues). I'm finding that most of the issues are currently on hold as they will be solved once an intern h

[2022-03-26 12:03] girija0707 commented on #10840
Thanks a ton for your help and guidance .I'll go through all the links you've mentioned, excited to work with this amazing community✨☺️

[2022-03-26 12:55] P3lumi commented on #10840
Hello everyone, I am Toriola Pelumi, Outreachy 2022 applicant, from Lagos, Nigeria. I'm a full stack developer and a first time open source contributor. I really look forward to learning, interacting and making contributions

[2022-03-26 13:16] stephaniequintana commented on #10820
@akanbifatimah, I apologize for not having commenting earlier that I was in fact working on the issue. At this point, I have initiated a PR on that has been accepted. Per @TildaDares, there is bug in the code, unrelated to the issue, that is preventing all the tests to pass, but this issue itself has been resolved. If you're still looking for an issue, definitely reach out to the team and let them

[2022-03-26 13:19] pranayrauni commented on #10153
Hi @TildaDares , my initial application for Outreachy 2022 summer internship is approved. I'm looking to contribute on First-Timer Issue. Please assign me an FTO issue.

[2022-03-26 13:28] akanbifatimah commented on #10820
Hi @stephaniequintana thank you for letting me know.  I have reached out to the team and i have been added to the queue

[2022-03-26 14:12] akanbifatimah commented on #10153
@TildaDares ,Thank you for adding me to the queue. I want to know if there is anything I can do pending the time I am assigned a good first-issue

[2022-03-26 14:16] diyawaghmare commented on #10840
Hi everyone, I'm Diya and I'm an Information Technology student from India. I am deeply interested in both FOSS and Web Development and can't wait to contribute to Public Lab's Infragram project as an Outreachy applicant while interacting with the awesome community! 😁

[2022-03-26 14:21] kachifako commented on #10153
Hello @TildaDares I am a 2022 applicant. I would like to be assigned a first-timer issue. Thank you

[2022-03-26 14:29] akanbifatimah commented on #10754
Hi @jywarren @cesswairimu @TildaDares @pydevsg , My name is Fatimah an outreachy summer 2022 applicant , I am looking forward to contributing to 'Infragram.org full-screen UI design' project. I am currently on windows OS, I want to ask if I need to get a Linus OS for this project in seeting up my working environment.

I look forward to your response,thank you.

[2022-03-26 14:51] divyangana009 commented on #10153
Hello @TildaDares , I am an outreachy summer 2022 applicant. Looking forward to contributing to this project, please assign me to a first-timer issue

[2022-03-26 14:56] pranayrauni commented on #10840
Hi, I'm Pranay, an undergrad student from India. My outreachy initial application is approved. I'm looking to contribute to PublicLab. Please guide me. Thanks.

[2022-03-26 14:57] akanbifatimah commented on #10840
@pranayrauni this was very helpfull for me, you should check it out

[2022-03-26 15:26] divyangana009 commented on #10772
Hi, @TildaDares  Can I work on it? Complete newbie(Outreachy applicant)

[2022-03-26 16:33] anushkachauhxn commented on #10153
Hello @TildaDares, I am an Outreachy Summer 2022 applicant. I have worked with HTML, CSS, Javascript, Bootstrap 4 and ReactJS. Please assign me a first timer issue. Looking forward to contribute! (Also, if anyone would like to collaborate on an issue with me, please contact me!!)

[2022-03-26 16:40] anushkachauhxn commented on #10840
Hi everyone! I'm Anushka from India. I'm so excited to be a part of this community as an Outreachy applicant. Let's have an amazing time here! 😁😁

I've worked with HTML, CSS, JavaScript, Bootstrap 4 and ReactJS. I'm currently learning MongoDB, ExpressJS and NodeJS.

If anyone would like to connect with me, here's my [LinkedIn](https://www.linkedin.com/in/anushka-chauhan/). Please send me an invite

[2022-03-26 16:43] Annysah commented on #10153
Hello @TildaDares,
I am Anisat, an outreachy summer 2022 applicant.
Please, kindly assign me a first-timer issue.
Thank you!

[2022-03-26 16:50] pranayrauni commented on #10840
Thanks. I have installed infragram on local machine. I'm looking for first-timer issue to be assigned to me.

[2022-03-26 17:26] iMohsinali commented on #10153
Hello @TildaDares I am  Mohsin Ali.2022 Outreachy applicant. I would like to be assigned a first-timer issue. Thank you

[2022-03-26 17:36] TildaDares commented on #10772
Hi @divyangana009, I’m waiting on @Ash-KODES reply but in the meantime you can leave a comment in #10153 and we’ll ping you when there’s an issue available. Thanks!

[2022-03-26 17:42] Ash-KODES commented on #10772
@divyangana009 please go ahead:)
actually I am little busy...apologies

[2022-03-26 17:52] divyangana009 commented on #10772
@TildaDares  ok! Thanks ma'am

[2022-03-26 18:06] shefali12-ab commented on #10840
Hii Everyone, I'm Shefali Kanojia an Outreachy applicant, I am familiar with frontend web technologies and I'm looking forward to contribute in designing new interface for Infragram and participate in outreachy'22.

[2022-03-26 18:35] shefali12-ab commented on #10153
Hey, @TildaDares I am Shefali, an outreachy applicant. please add me in a queue for the good first issue. Currently, I am exploring the project and would love to work on a first-timer issue.

[2022-03-26 20:21] Prachi-22-81 commented on #10840
Hello Everyone! I am Prachi Gupta, an Outreachy'22 applicant from India. Looking forward to contribute to the Infragram project. Excited to be here :)

[2022-03-26 21:37] adeola-dev commented on #10153
Hello @TildaDares I am Adeola, an outreachy applicant. I wouldlove to be assigned a first-timer issue. I am a UI/UX designer with an experience in technical writing. Thanks..

[2022-03-26 21:54] Forchapeatl commented on #4396
I experienced this same issue  I forgot to run step 6 of the installation instructions. Everything worked fine after running it
`cp db/schema.rb.example db/schema.rb`
It is step 6 of the installation [https://github.com/publiclab/plots2#installation](https://github.com/publiclab/plots2#installation)

[2022-03-26 22:24] Kemifrank commented on #10153
Hello @TildaDares  I'm Ikemesit an outreachy applicant. I would love to be assigned a first-timer issue. I'm front end web developer.
Thanks

[2022-03-26 22:27] Hydriah commented on #10153
Hello @TildaDares, i am  hydriah a front-end web developer. Can  you please assign me to a first timer issue, I am an outreachy summer 2022 applicant.

[2022-03-26 22:46] Kemifrank commented on #10840
Hi Everyone, I'm Ikemesit from Nigeria, I'm looking forward to working on this project

[2022-03-26 22:58] Kemifrank commented on #10754
Hello @jywarren @TildaDares I'm Ikemesit Frank from Nigeria. I will love to work on the Infragram.org full-screen UI design.
Can you please guide me on how to get started

[2022-03-27 03:34] Arup-Deb commented on #10153
Hey! I am Arup Deb new to the open-source world and would like to contribute. My preferred languages are c/c++, HTML, CSS, javascript, and beginner at React JS. Please add me to the list. Please let me know if there's any way I can get involved and how to start contributing.

[2022-03-27 04:26] arpit-maurya commented on #10153
Hi @TildaDares , I like contribute in this community, please add me as contributor in that List. (Excited to Contribute in Repo)

[2022-03-27 04:30] BlueDragn commented on #10840
Hi everyone, I am Anshuman from India an Outreachy applicant.excited to work with you all

[2022-03-27 04:43] BlueDragn commented on #10153
Hi   @TildaDares , I am looking for First-Timer Only Issue but can't find one.Please assign me one so that i can begin my contribution. thank you.

[2022-03-27 04:55] anirudhprabhakaran3 commented on #10827
I am not facing this error while running yarn install. I do get a warning, but don't get an error.

![Screenshot from 2022-03-27 10-20-50](https://user-images.githubusercontent.com/76864239/160267260-bf0869e5-77b2-4177-ab7b-fef4c8d405b3.png)

[2022-03-27 05:30] smyww4 commented on #10153
Hello， @TildaDares, I am Echo, an outreachy applicant. I am looking for a first-timer issue, could you please assign me one? Thank you very much.

[2022-03-27 05:36] agrani29 commented on #10840
Hello everyone, I am Agrani Verma, an undergrad at IIT Roorkee, India and an Outreachy'22 applicant. Talking about my skill set, in the development field, I am proficient in HTML, CSS, Javascript, and React and in the designing field, I have a good knowledge of UI/UX, Figma, and a designer/developer tool webflow. I have worked on some self projects but never contributed to any open source before d

[2022-03-27 05:39] smyww4 commented on #10840
Hello everyone! I am Echo, I have tried coding with c++ and python, and I am also learning javascript now. I am very interested in the second project, but currently lacking experience, I plan to learn more Ruby on Rails skills in the coming month, and if anyone can give me suggestions, I would appreciate it!

[2022-03-27 05:40] arpit-maurya commented on #10840
I'm Frontend developer and open source enthusiast.  I am proficient in HTML, CSS, Javascript, React ,Bootstrap,Redux,Context API, and many more stack in frontend developer in the designing field, Glad to be here 😁 Thanks and happy contributing ❤

[2022-03-27 06:04] TildaDares commented on #10754
Hi @akanbifatimah, you don't need a Linux OS to work on the infragram project.

[2022-03-27 06:13] daluclemas commented on #10153
Hello @TildaDares , good morning. Please I would like to be assigned an issue. Thanks and God bless.

[2022-03-27 06:19] TildaDares commented on #10754
Hi @Kemifrank, welcome to Public Lab🎈. @stephaniequintana has added a helpful comment that can help you get started
https://github.com/publiclab/plots2/issues/10840#issuecomment-1079670539

Also, you can introduce yourself in our welcome issue for Outreachy applicants in #10840. Thank you!

[2022-03-27 06:26] TildaDares commented on #10817
Hi @Yavnikaa, that sounds good. Go ahead!

[2022-03-27 06:27] TildaDares commented on #10776
Hi @Sakshamgupta90, any updates? Do you need any help with this?

[2022-03-27 06:38] Sakshamgupta90 commented on #10776
Hi @TildaDares, no I don't need any help Thanks:). I will solve this issue soon.

[2022-03-27 06:55] #10818 closed

[2022-03-27 07:09] TildaDares opened #10844 "Work Together To Install plots2 on your Local Machine(Setup)"
Also a heads up:  if you are installing the `plots2` project on your local, maybe consider using sqlite3 for database
. On step **7** choose the second option,

As we are having issues reported by folks using `mysql2`

_Originally posted by @cesswairimu in https://github.com/publiclab/plots2/issues/10840#issuecomment-1079627068_

[2022-03-27 07:14] TildaDares commented on #10844
Leave a comment here with the details of the errors you're facing. Thank you!

[2022-03-27 07:52] Prakashh21 commented on #10153
Hello @TildaDares , I am an Outreachy Applicant , I am looking for First-Timers-issue, please assign me one ! Thankyou !

[2022-03-27 07:55] barcha47 commented on #10823
Hello there, i am an Outreachy applicant, can i work on this issue?

[2022-03-27 08:04] codeamic commented on #10153
Hi @TildaDares could you please assign me an FTO issue?looking forward to to contributing

[2022-03-27 08:12] barcha47 commented on #10823
Hi, @TildaDares , i am Outreachy applicant summer 2022, can contribute some to this issue?

[2022-03-27 08:27] Prakashh21 commented on #10840
Hi I'm Prakash , an undergrad from india , This is my first Time in opensource, as far as my skills are concerned I'm competent in HTML, CSS , Javascript  and React , looking forward to make my first contribution to openSource Thanks !!

[2022-03-27 08:37] sarxxt commented on #10840
hello! I am Sara (outreachy applicant) I am looking forward to contribute to PublicLab.

[2022-03-27 08:51] TildaDares commented on #10823
Hi @barcha47, I believe @KarishmaVanwari is already working on this. Thanks!

[2022-03-27 09:02] VictoriaAjala commented on #10153
Hi @TildaDares , I'm looking forward to contributing to an FTO issue, kindly add me to the list.  Thank you!

[2022-03-27 09:14] kunmi02 commented on #10153
Hi @TildaDares , I am Azeez. an outreachy applicant. I am looking for a First-Timers-issue to work on. My core stack is Ruby and Ruby on Rails

[2022-03-27 10:29] agrani29 commented on #10153
Hi @jywarren and @TildaDares, I am Agrani Verma, an outreachy applicant. I am looking for a First-Timers-issue to work on. Kindly assign me one as soon as you get one. Thank you so much in advance.

[2022-03-27 10:34] chepyego commented on #10840
Hello everyone ,am Jemimah from Kenya Outreachy applicant I am looking forward to contribute to this project

[2022-03-27 11:04] illyShelly commented on #10153
Hello all 👋 and @TildaDares, @noi5e . I wanted to work on issue which was taken in the end, so as you recommended me I am here to ask for my first-time ever one :) I have some knowledge of Ruby (RoR) and Python and HTML, CSS3 with a bit of JS. Please, add me to the list as well.

[2022-03-27 11:13] P3lumi commented on #10153
Hello @TildaDares, I am Pelumi, my preferred languages are HTML, CSS, JavaScript, Bootstrap and C#. I have been able to set up the environment locally. I am open to working on First Timers Issues as this will be my first time contributing to Open Source. Kindly assign one to me. Thank you

[2022-03-27 11:17] akanbifatimah commented on #10844
HI @TildaDares , I have been able to run infragram on my local machine , do I need to install plot2 in order to work on this project

[2022-03-27 11:24] TildaDares commented on #10844
Hi @akanbifatimah, no you don't have to install plots2.

[2022-03-27 11:28] akanbifatimah commented on #10844
alright,Thank you

[2022-03-27 11:49] TildaDares opened #10845 "Display Dropdown on Small Screens Only"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-27 11:50] TildaDares commented on #10845
Reserved for @ishikajn8126

[2022-03-27 11:57] TildaDares opened #10846 "Add `Learn More About Barnstars` link"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-27 11:58] TildaDares commented on #10846
Reserved for @padmajabhol

[2022-03-27 12:09] Linjelium11 commented on #10840
Hi everyone, I am Iman, a self-taught developer from Malawi. As an Outreachy applicant, I am looking forward to contributing to this project.

[2022-03-27 12:12] akanbifatimah commented on #10846
oh.

[2022-03-27 12:21] codeamic commented on #9945
Hey  @TildaDares please can i work on this?

[2022-03-27 12:36] srishtiwadhwa commented on #10840
Greetings everyone , I am srishti wadhwa , an undergrad from India . I am new to open source and very excited to work on the project [Design a new full-screen user interface for Infragram.org] . As an outreachy applicant I hope to connect with everyone and the mentors as well.

[2022-03-27 12:45] JosueKinda commented on #10153
Good afternoon to everyone. I code in html, css, JavaScript and Ajax. Please I wish to be assigned an issue

[2022-03-27 13:03] Sakshamgupta90 commented on #10776
Hi @TildaDares , I just want to know that is this line correct?Anything more to add or change?
![Screenshot (166)](https://user-images.githubusercontent.com/84325475/160282682-d14f85a0-7eed-4c8a-b0f3-c7e1ebb93c5e.png)

[2022-03-27 13:08] Sakshamgupta90 commented on #10776
Hi @TildaDares , Is this line correct? And anything more to add or change?
![Screenshot (168)](https://user-images.githubusercontent.com/84325475/160282857-ba4a59a2-bab3-452d-9217-187408fd90d6.png)

[2022-03-27 13:09] TildaDares opened #10847 "Add Margin to Email Notifications Settings"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-27 13:10] TildaDares commented on #10847
Reserved for @moazzammoriani

[2022-03-27 13:18] kunmi02 commented on #10847
Will love to work on this issue if  it is still open after 24hrs

[2022-03-27 14:40] TildaDares opened #10849 "Fix Translation Error on Profile Pages - Part of #10765"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-27 14:40] TildaDares commented on #10849
Reserved for @girija0707

[2022-03-27 14:58] girija0707 commented on #10849
Thank you for assigning this issue 😊

[2022-03-27 15:04] TildaDares opened #10850 "Change translation key for distance_of_time_on_words"
Hi everyone, we are having translation errors with our user profile page on publiclab.org. This issue and #10849 are meant to resolve part of the issue in #10765. There are a series of translation files that their translation keys that need to be changed. I would have created separate FTOs for them but the changes are the same and would seem repetitive. I'll list the files that need changes and th

[2022-03-27 15:10] TildaDares commented on #10765
Hi @jywarren, @KarishmaVanwari, `distance_of_time_in_words` can translate on its own when you pass in the scope method. So we don't need to pass that method into the translate function. I created an FTO to fix that in #10849. Also, some of the translation file keys use `distance_in_words` instead of `time_ago_in_words` so I created an issue in #10850 to resolve that too. I think when these issues

[2022-03-27 16:08] Hydriah commented on #9945
can i create a FTO on this?

[2022-03-27 16:14] TildaDares commented on #9945
Hi @codeamic, @Hydriah, yes you can create issues from this.

[2022-03-27 16:33] Hydriah commented on #9945
@TildaDares ok thanks

[2022-03-27 16:57] Morai-C commented on #10847
please i"m new here.. i'll like to work on this issue if it's still available..

[2022-03-27 17:12] Morai-C commented on #10845
i'd like to try this if it's not been worked on yet or if it's still available

[2022-03-27 17:14] moazzammoriani commented on #10847
Done with this. Please feel free to review the pr whenever you get the time :).

[2022-03-27 17:55] AmenuveveDordor commented on #10840
Hi everyone, I am Dordor Amenuveve(Outreachy 22' applicant) a student currently pursuing a degree in information Technology management. This is my first time contributing to open source and I am so excited to begin.

[2022-03-27 18:00] rohaid-bakh commented on #10153
Hello @TildaDares , I am an Outreachy applicant and am comfortable with HTML, CSS, and Javascript. I would love to make a contribution here and am looking for a first-timers issue to work on. Thank you!

[2022-03-27 18:23] TildaDares commented on #10845
Hi @Morai-C, this issue has been reserved but you can request for one in #10153. Thanks!

[2022-03-27 18:28] #10846 closed

[2022-03-27 18:42] AmenuveveDordor commented on #10153
Hello everyone and @TildaDares I am an Outreachy 22' applicant and my preferred languages are html, css and bootstrap with a bit of JavaScript. I would like to be assigned to a first-timers issue

[2022-03-27 19:12] Morai-C commented on #10153
Hello Everyone, i am an outreachy applicant and i'd like to contribute to the open source community.. my preferred Languages are Html, Css, Bootstrap. i would like to be assigned a first-timers issue. @jywarren   @noi5e

[2022-03-27 20:26] on2onyekachi commented on #10840
Hello 👋everyone! I'm Onyekachi Okwuolisa, an Outreachy applicant. As a frontend Developer I'm expericed with HTML, CSS,  React.js,  Node.js and Javascript.  This is my first time contributing to open source project and hope to put in the best in this. Excited to be part of this community.

[2022-03-27 20:34] Morai-C commented on #10840
Hello everyone i'm Chukwudi Emordi, an Outreachy Applicant. My Preferred languages are Html, Css, Bootstrap, a little knowledge on React Native, a bit of React.js and Next.js too. This is my first time contributing to an open source project it's overwhelming, something worth exploring, learning new things and most importantly helping the community grow.. i'm glad to be here

[2022-03-27 20:53] rohaid-bakh commented on #10840
Hello everyone! I'm Rohaid Bakheet and I'm an Outreachy applicant. I can code with HTML , CSS, JavaScript, and C#. I'm looking forward to contribute and I'm excited to learn on my first open source project!

[2022-03-27 21:07] on2onyekachi commented on #10153
Hi 👋.  I'm Onyekachi Okwuolisa. I would love to be assigned a FTO issues as an Outreachy applicant.  I'm experienced in HTML, CSS, JavaScript, Bootstrap , amd React.js.

[2022-03-27 23:23] Morai-C commented on #10153
Hello @TildaDares,
 I am CHukwudi, an outreachy summer 2022 applicant.  Please, kindly assign me a first-timer issue to work on. Thank you!

[2022-03-28 02:27] PeculiarE commented on #10840
Hello everyone!!! It's good to be here. I'm Peculiar Erhisohwode, an Outreachy applicant. I'm looking forward to making really quality contributions to the community and rubbing minds with everyone.

[2022-03-28 03:02] PeculiarE commented on #10153
Hiya @TildaDares .....I'm Peculiar Erhisohwode, an Outreachy applicant for the May 2022 cohort. Please, I am a new contributor and would love to be assigned an FTO issue. Thank you!

[2022-03-28 05:00] archijaiswal commented on #10153
👋Hi @TildaDares. I would love to be assigned a FTO issue as an Outreachy applicant. I'm experienced in HTML, CSS, JavaScript, Bootstrap,React.js and UI/UX. Do tell me if there's something I could help you with in the meantime.(Also, if anyone would like to collaborate on an issue with me, please contact me!!)
Thank you !

[2022-03-28 07:16] #10849 closed

[2022-03-28 07:18] #10847 closed

[2022-03-28 07:23] TildaDares commented on #10776
Hi @Sakshamgupta90, the alt text should be `None` and instead of using a style attribute, use a class instead. I think Bootstrap has the `font-italic` class. Thanks!

[2022-03-28 07:42] ishikajn8126 commented on #10845
Thanks for assigning me this issue! Will report back soon.

[2022-03-28 08:03] Sakshamgupta90 commented on #10776
Hi @TildaDares, If boostrap is there so why need to use class. If Simply I will write `<img alt="None" ">`  will it be wrong?

[2022-03-28 08:05] kunmi02 commented on #10840
Hello Everyone. My name is Azeez. an Outreachy applicant. I am looking forward to making my first contribution

[2022-03-28 08:08] TildaDares commented on #10776
@Sakshamgupta90 you won't be using an `img` tag. You'll probably use  a `p` tag. So the change would be something like:
`<p class="font-italic">None</p>`

[2022-03-28 08:13] Sakshamgupta90 commented on #10776
Okay, sorry I get confused. Thank You!

[2022-03-28 08:23] TildaDares opened #10859 "Add mysql2 warning to README"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-28 08:23] TildaDares commented on #10859
Reserved for @Annysah

[2022-03-28 08:28] wisdomekpotu commented on #10153
Hello🖐️ @TildaDares @jywarren , I am Wisdom Ekpotu, an Outreachy applicant for the May 2022 cohort. I have experience in **HTML, CSS, JavaScript, Bootstrap, Reactjs**. I have Successfully set up the environment locally. I am a new contributor here and would love to be assigned an **FTO issue**. Thank you!

[2022-03-28 08:53] buildwithallan commented on #10840
Hello everyone, I am Allan an outreachy applicant. I am very excited to be here. I am looking forward to learn from you all and to contribute to publiclabs

[2022-03-28 09:01] wisdomekpotu commented on #10840
Hello Everyone, I am wisdom Ekpotu, an Outreachy applicant. It's good to be here.  This is my first time contributing to an open-source project and I am excited to be part of this community.

[2022-03-28 09:32] ernestmusong commented on #10153
Hello everyone, I've been redirected to introduce myself on this page. Don't know if I'm in the right place?
If thus, then I'm Musong, a frontend developer eager to contribute and willing to learn.
If I'm in the wrong place, please direct me. Thanks.

[2022-03-28 09:40] Annysah commented on #10859
Thank you! @TildaDares, I will get to work.
I'll definitely reach out when I have questions.

[2022-03-28 09:40] Ifetakuro commented on #10815
Hello @TildaDares can I still apply for this issue?

[2022-03-28 09:45] Ifetakuro commented on #10153
Hello @TildaDares @jywarren. I have experience in HTML,CSS, JavaScript and Bootstrap. I am a new contributor and I am looking forward to  work my first issue.

[2022-03-28 09:49] siddhi-244 commented on #10153
Hello, Myself Siddhi Bhanushali.  I am applying to Gsoc this time and would live to contribute to this project.  I know html,css,js,node,express,sql,mongodb,react(currently learning)

[2022-03-28 10:08] ernestmusong commented on #10153
Hello @TildaDares , I'm Musong Ernest, an Outreachy applicant, a frontend developer eager to contribute to open source and willing to learn. Please asign me a FTO issue.

[2022-03-28 10:20] PeculiarE commented on #10153
@ernestmusong Here's to request for an FTO issue (which I see you've done already, yay!). To introduce yourself, go here: https://github.com/publiclab/plots2/issues/10840

[2022-03-28 10:29] ernestmusong commented on #10153
Ok thanks

[2022-03-28 10:43] ernestmusong commented on #10840
Hello, I'm Musong Ernest from Cameroon, an Outreachy applicant, a frontend developer eager to contribute to open source and willing to learn. I'm grateful to be here.

[2022-03-28 11:18] Albert-Debbarma commented on #10815
hello @TildaDares  can you assign me a new issue?

[2022-03-28 11:22] Albert-Debbarma commented on #10153
Hi there @noi5e
I  am an #outreachy applicant .  I want to start contributing to the community starting with FTO issues. Please add me to the list .

[2022-03-28 12:23] nuilewis commented on #10840
Hello everyone,
I'm Nuikweh Lewis, a recently accepted Outreachy applicant from Cameroon. And I'm super excited to work with you all, and I look forward to contributing. I'm primarily a designer, but I code too.

[2022-03-28 12:30] nuilewis commented on #10153
Hello everyone, I'm Nuikweh Lewis, an Outreachy and I would like to contribute to a First Timer Issue. I'm great at design and also comfortable with HTML & CSS

[2022-03-28 12:57] buildwithallan commented on #10153
Hello, I am Allan an Outreachy applicant. I have been able to set up the environment successfully and will love to be assigned a first-timers issue. Thank you

[2022-03-28 13:09] Linjelium11 commented on #10153
Outreachy applicant, please assign me to an FTO

[2022-03-28 14:13] aniruddhabagal commented on #10415
Hi @TildaDares I saw that this issue is inactive. Can I work on this ?

[2022-03-28 14:28] TildaDares commented on #10415
Hi @ASamedWalker, there are a few problems with this issue we're trying to resolve.

[2022-03-28 14:32] RuthAtem commented on #10153
Hi Everyone. Hi @TildaDares @jywarren. I'm a software developer with experience in Bootstrap. Please I'm applying for Outreachy will love to be assigned issues to contribute.

[2022-03-28 14:55] #10827 closed, assigned to nobody

[2022-03-28 14:58] NastehaAbdulhakim commented on #10840
Hello Everyone, I am Nasteha, an Outreachy applicant summer 2022 and I am glad to be here, looking forward to contributing to public Lab project of Design a new full-screen user interface for Infragram.org

[2022-03-28 15:36] Somya-Singhal commented on #10153
Hi @TildaDares, I am an outreachy applicant, can my name also be added to the list of first timer issue?

[2022-03-28 17:02] on2onyekachi commented on #10820
Hi, @stephaniequintana you mentioned there's a bug preventing all the tests from pass. was it the bug that was resolved ? or the initial issue raised?.

[2022-03-28 17:49] ShivraniAJ commented on #10153
Hi everyone! I am Shivrani undergrad student from India. I'm selected as an outreachy initial applicant. I am glad to be a part of this amazing community . Please assign first-timers only issue.

[2022-03-28 17:51] stephaniequintana commented on #10820
@on2onyekachi, the initial issue raised has been resolved.

If you like, you can view the pull request [here](https://github.com/publiclab/plots2/pull/10839). In the comments you'll find that the issue itself has been approved and unrelated code is causing the test to fail.  Else, from the PR page [here](https://github.com/publiclab/plots2/pulls), you can see that the status of the PR has been cha

[2022-03-28 17:52] Zinkeng commented on #10153
Hello @TildaDares , I am an outreachy applicant for the May 2022 cohort. Please I would love to be assigned a first-timers issue to work on. Thank you!

[2022-03-28 18:50] NastehaAbdulhakim commented on #10153
Hello everyone! I am Nasteha third year student from Somalia. I'm selected as an Outreachy initial applicant. I am glad to be a part of this amazing community . Please assign first-timers only issue.

[2022-03-28 18:53] AbihaFatima opened #10862 "Enhance the Lock icon with tooltip support on /events page"
Currently the locked icon on [events](https://publiclab.org/events) page doesn’t support tooltip while hovering over, like all other icons.

![plots2-events](https://user-images.githubusercontent.com/70844041/160466553-1c794168-b183-4336-b2eb-c46d27f172d5.png)

[2022-03-28 18:54] AbihaFatima commented on #10862
@TildaDares
May I start working on this?

[2022-03-28 18:57] TildaDares commented on #10862
Hi @AbihaFatima, yeah go ahead. Thanks!

[2022-03-28 19:00] TildaDares commented on #10850
We usually reserve issues for 24 hours but since I didn't mention this before, I'll still leave them assigned to you for another 24 hours. So if you haven't claimed the issue assigned to you, I'll have to reassign it. Thanks!

[2022-03-28 19:55] cor100 commented on #10153
Hi everyone! I'm Cynthia from NYC, and an outreachy applicant. I'm excited to contribute to the community and I hope to learn more skills during my time here!

[2022-03-28 19:56] cor100 commented on #10840
Hi everyone! I'm Cynthia from NYC, and an outreachy applicant. I'm excited to contribute to the community and I hope to learn more skills during my time here!

[2022-03-28 20:08] BRB3D commented on #10850
Hi thanks tilda, I’m working on it today.
Regards José Islas

Sent from my iPhone

On Mar 28, 2022, at 3:00 PM, Tilda Udufo ***@***.***> wrote:

﻿

We usually reserve issues for 24 hours but since I didn't mention this before, I'll still leave them assigned to you for another 24 hours. So if you haven't claimed the issue assigned to you, I'll have to reassign it. Thanks!

—
Reply to this email dir

[2022-03-28 21:08] KarishmaVanwari commented on #10823
Hey @TildaDares, I've raised a PR #10863. Please have a look. Thanks!

[2022-03-28 23:14] EECvision commented on #10153
Hi everyone! I am Emmanuel from Nigeria. I am an Outreachy initial applicant passionate about contributing to open source projects. I am experienced in HTML, CSS, Javascript, and general UI frameworks. Can you assign an FTO issue to me? Thanks.

[2022-03-29 04:31] untari commented on #10844
Hi @TildaDares I'm participating on outreachy, do we have to contribute to the project that listed for the outreachy, or we can contribute to other repo too? Thanks!

[2022-03-29 04:39] cesswairimu commented on #10844
Hi @untari, you can contribute to other repos too. thanks

[2022-03-29 05:08] cesswairimu opened #10865 "Add a link to check-in ideas on weekly check-in template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-29 05:16] cesswairimu commented on #10153
hi @shefali12-ab, Here https://github.com/publiclab/plots2/issues/10865 is an issue for you.

[2022-03-29 05:16] untari commented on #10844
Hi @cesswairimu, noted with thanks!

[2022-03-29 05:17] cesswairimu commented on #10865
reserved for  @shefali12-ab

[2022-03-29 05:18] ginabeki commented on #10840
Hi everyone, My name is Gina an Outreachy applicant from Nairobi, Kenya. Happy to be here and to contribute to the community.

[2022-03-29 05:19] untari commented on #10153
Hi, I would like to be on the list of FTO, please. Thanks

[2022-03-29 05:42] untari commented on #7407
hi @vinitshahdeo it's this issues still open to be fixed/improve ?

[2022-03-29 05:54] Tanushka11 commented on #10153
Hii @TildaDares, I am an Outreachy applicant, I know HTML, CSS, javascript, can you please assign me FTO issues to work upon, Thank you.

[2022-03-29 06:50] EECvision commented on #10865
Hi, I would like to work on this issue if it is still available. Thanks

[2022-03-29 07:07] EECvision commented on #10824
Hi @TildaDares, I am an outreachy applicant. Please can I work on this issue if it is still open?

[2022-03-29 07:11] Tanushka11 commented on #10840
Hello everyone, I am Tanushka lalwani, currently in the second year of my college from India and I am an outreachy applicant and new to open source, I am familiar with frontend development and I am finding a project regarding Designing a new full-screen user interface for Infragram.org very interesting. Hence, really looking forward to contributing to this project while collaborating with this com

[2022-03-29 07:44] AineTim commented on #10153
Hello @TildaDares & everyone, I'm an Outreachy applicant with experience in HTML, CSS, Bootstrap, JS and responsive design. Already setup the development environment and now waiting on any FTO available, thanks

[2022-03-29 08:28] stephaniequintana commented on #10844
@ishikajn8126, it appears we may have run into the same issue. My Mac would not download `rvm` or `rbenv` due to an SSL certificate problem. In addition to the errors you mentioned, I received the following when I tried to run `curl -L https://get.rvm.io | bash -s stable`.

![Screen Shot 2022-03-22 at 4 30 10 PM](https://user-images.githubusercontent.com/81270711/160566557-5237d698-363e-4ee8-9b8d-

[2022-03-29 08:37] stephaniequintana commented on #10824
Hi, @ishikajn8126 - I'm just dropping a quick line to see if you would like any help on this issue. If so,  @EECvision just commented that he would like to work on it, too. I can also help if you would like. Please feel free to reach out to either of us.

For me, the biggest hurdle was getting my environment setup. I see [here](https://github.com/publiclab/plots2/issues/10844#issuecomment-10807152

[2022-03-29 08:43] sakshi-2412 commented on #10840
Hello everyone! This is Ashlesha Dixit, got my initial application for Outreachy accepted. I had been contributing to Public Lab for a few months and will continue to do so. I am excited for the mapknitter project. Looking forward to contribute and learn!! :sparkles:

[2022-03-29 10:31] marshatiisa commented on #10153
Hey. I am Marsha Tiisa, an Outreachy applicant and would like to get an FTO issue. Thanks @cesswairimu @TildaDares

[2022-03-29 10:47] stylebytemi commented on #10153
Hello, I am Temiloluwa, kindly assign me FTO issue. Thank you.

[2022-03-29 10:51] Grace229 commented on #10840
Hello everyone, I'm Grace Itiung, an Outreachy Applicant, I'm a Frontend Developer, I don't have any experience in contributing to open source but I'm willing to learn all it entails and I'm excited to join this community.

[2022-03-29 10:58] shefali12-ab commented on #10865
@cesswairimu Thank you for assigning,I will work on this issue.

[2022-03-29 11:24] stylebytemi commented on #10840
Hello, I am Temiloluwa Adewale, an Outreachy applicant from Nigeria. I look forward to meeting new people across the world, making an impact and having a great experience in the contribution stage.  Strength: HTML, CSS, Bootstrap, JavaScript,  React and git.

[2022-03-29 11:49] ginabeki commented on #10153
Hello @TildaDares @jywarren. I'm an Outreachy applicant.
I want to start contributing to the community starting with FTO issues.
My preferred languages are HTML, CSS, SASS, Bootstrap, Git, Javascript and NodeJS. Please add me to the list. Thank you!

[2022-03-29 12:02] kunlefash commented on #10153
Hello. I am a new contributor and it's my first time using pull request. How do I get a FTO issue

[2022-03-29 12:09] kunlefash commented on #10840
Hello. I'm a Fasakin Adekunle. I'm a software developer that is skilled in HTML/CSS, Javascript(React).I look forward to being an active member of this community. Thank you

[2022-03-29 12:09] wisdomekpotu commented on #10865
Hi @EECvision this issue has been reserved but you can request for one in https://github.com/publiclab/plots2/issues/10153. Thanks!

[2022-03-29 12:10] vaishnavi4444 commented on #10153
I am an outreachy applicant. I am looking for first FTO issues. I am confortable with HTML,CSS and javascript. Please add me to the list. Thanks!

[2022-03-29 12:14] kunlefash commented on #10845
I'm really interested in this project

[2022-03-29 12:16] kunlefash commented on #10815
I'm interested in contributing to this project.

[2022-03-29 12:34] IndrarajBiswas commented on #10153
Howdy, I'm Indraraj, I'm looking to contribute to INFRAGRAM. It would be amazing if I can get a first time issue.

[2022-03-29 13:21] shefali12-ab commented on #10153
thank you, you can assign this issue to me. I would like to work on it.

[2022-03-29 13:53] Zinkeng commented on #10845
I will like to work on this if it has not yet been resolved

[2022-03-29 14:42] Emmyd2022 commented on #10840
Hello Everyone,
My name is Emeka and i an quite new to opensource and github but i am excited to be here.
I look forward to leraning and making my contributions are required

[2022-03-29 14:48] harshithatnbr commented on #10840
Hello Everyone! Hello Everyone !! I am Harshitha and my initial application got accepted by outreachy. I am very much intrested in contributing to public lab community and I am intrested in contributing to MapKnitter.org Spam Management system. I am excited about my open source journey!!
Thankyou.

[2022-03-29 14:52] harshithatnbr commented on #10153
Hello Everyone !! I am Harshitha and my initial application got accepted by **outreachy.**  I am intrested in contributing to  [MapKnitter.org](http://mapknitter.org/) Spam Management system. Please assign me FTO issue.

Thankyou!!

[2022-03-29 15:25] Garimak1204 commented on #10840
Hi Everyone! I am Garima, an Outreachy applicant. Super excited to contribute to the Infragram project.

[2022-03-29 15:32] Garimak1204 commented on #10153
Hi there!!
I want to start contributing to the community starting with FTO issues. I am a newbie to opensource. My preferred languages are HTML, CSS, Javascript. Please add me to the list .

[2022-03-29 17:14] jywarren commented on #10824
@ishikajn8126 have you completed a first-timers-only issue already? If you have, perhaps you'd like to try reposting this issue as a first-timers-only issue for someone else?

However, otherwise please go ahead and thanks everyone for offering support! 🎉

[2022-03-29 17:27] jywarren commented on #10153
Hi all, thank you for your patience as we have a lot of requests. @PeculiarE just created one for @adeola-dev here: https://github.com/publiclab/community-toolbox/issues/542

[2022-03-29 17:33] #10773 closed

[2022-03-29 17:37] jywarren commented on #8356
Hi @Forchapeatl I worry this is a really gigantic project -- say, "switching to Action Mailbox" for example, or even the kind of deep digging it might take to debug mailman, since we use multiple Docker containers to run this. Does some part of it look like a smaller piece you could try taking on?

[2022-03-29 17:39] #10730 closed, assigned to nobody

[2022-03-29 17:43] #10218 closed

[2022-03-29 17:59] PeculiarE commented on #10153
You're welcome @jywarren. It was a pleasure doing so as well as a nice way to learn my way around the codebase 😊😊

[2022-03-29 18:18] AnanyaGarg28 commented on #10153
Hi everyone!
I am an Outreachy applicant and a newbie to open-source. I am proficient in C/C++, HTML, CSS, Bootstrap, Tailwind CSS, Javascript and Nodejs. Working on the first-timers-only issues would boost my confidence to continue contributing to such projects. Please add me to the list!

[2022-03-29 18:18] TildaDares commented on #10850
Hi @HilaryDev, @LontchiFrank, @divyangana009 are you interested in working on this?

[2022-03-29 18:51] TildaDares commented on #10815
Hi @k-latwal15, do you need any help with this?

[2022-03-29 18:54] t-gandhi-19 commented on #10840
Hello Everyone! I am Tarushi Gandhi, an Outreachy Applicant and I am excited about this project. I am new to open source and always eager to learn and contribute.

[2022-03-29 18:58] ishikajn8126 commented on #10824
Hey @stephaniequintana @jywarren!! I'm facing some issue in my environment setup, I'm working on it, will open a PR as soon as I get it ready..

[2022-03-29 19:14] TildaDares commented on #10773
A good follow-up would be to show the cancel button only to logged in users, admins/moderators and profile users. You could even create an FTO for it.

All you have to do is insert the code for the cancel button in an if statement:

[code]

[2022-03-29 19:24] ishikajn8126 commented on #10844
Hey @TildaDares, yeah i seem to have skipped the prerequisities...
Got that issue resolved now!

[2022-03-29 19:26] ishikajn8126 commented on #10844
Hey @stephaniequintana! Thanks a lot for offering support!!
I got that issue resolved!

[2022-03-29 19:48] naman-luthra commented on #10153
Hey Everyone,
I am Naman. I want to contribute for GSOC. I am skilled in HTML, CSS, JavaScript, Tailwind CSS, Bootstrap, C/C++ and SQL. I am new to open source and would like to start with FTO issues to gain some experience towards contributing. Please add me to the list.

[2022-03-29 19:51] jywarren commented on #10153
Hi all, I just made 2 issues in Infragram and am reserving them for @Kemifrank https://github.com/publiclab/infragram/issues/260 and @Hydriah https://github.com/publiclab/infragram/issues/259

Thank you!

[2022-03-29 20:14] naman-luthra commented on #10840
Hey Everyone,
I am Naman. An aspiring GSOC applicant, wanting to contribute to the Infragram.org full-screen UI and video upload project. I am skilled in HTML, CSS, JavaScript, Tailwind CSS, Bootstrap, C/C++ and SQL.

[2022-03-29 20:14] AnanyaGarg28 commented on #10840
Hi everyone! I am Ananya, an Outreachy applicant. I am new to open-source. I am proficient in C/C++, HTML, CSS, Javascript, Tailwind CSS, Bootstrap with an eye for design. It excites me to work on creating a new user interface for the full screen UI Design Infagram project listed by Public Lab. Looking forward to great learning and contributing!

[2022-03-29 20:14] jywarren commented on #10754
Hi all! I'm posting questions I've heard via email and DM (minus names but thank you to those who reached out for asking these great questions!) and my answers to them, here. I'm happy to go into more detail on them too so let me know your questions!

Hi, you can apply for either; some ideas we listed have a recommended size but we want to know from you what size you think it will be. We won’t be

[2022-03-29 20:19] jywarren commented on #10754
A few more! Thank you for your patience as we get through your questions.

If you haven’t already, the best place to begin is to request a first-timer issue at https://github.com/publiclab/plots2/issues/10153. Once you’ve done that, we encourage folks to try making a first-timers-only issue for someone else! And to begin digging more into the open issues, asking for clarifications, and, in the cas

[2022-03-29 20:19] Forchapeatl commented on #10844
@TildaDares   I was able to resolve this issue [4396](https://github.com/publiclab/plots2/issues/4396) . The error occurs when step 6 of the installation guide is skipped.

[2022-03-29 20:22] Forchapeatl commented on #10824
@ishikajn8126 some screenshots of the issue would be helpful. Can you share the issue with us.

[2022-03-29 20:23] jywarren commented on #3840
Thank you @TildaDares -- ok, so we are now moving this over to https://github.com/publiclab/plots2/issues/10844 - please see there for more!

[2022-03-29 20:23] #3840 closed

[2022-03-29 20:36] jywarren commented on #10828
My understanding is that `bin/webpacker-dev-server` does everything we need when running this locally in development mode:

https://github.com/publiclab/plots2/blob/9100482ba080bdc77d0befbe46b3316a97dc0863/config/webpacker.yml#L1

A lot of this was explored in extreme depth in https://github.com/publiclab/plots2/pull/9176

And some docs here although not relevant to this issue so much: https://git

[2022-03-29 20:40] jywarren commented on #10828
So the above comment on `webpack-dev-server` seems wrong; we don't run it in GitPod. It's supposed to be handled by

https://github.com/publiclab/plots2/blob/f118e4594ca64a7abd5a7c41e71c63eea0e7d7f1/.gitpod.yml#L31

and i think it is occasionally recently not working because THAT command has failed due to:

- https://github.com/publiclab/plots2/issues/10827

If we resolve that, our webpack issues

[2022-03-29 20:41] jywarren commented on #10828
That is, the answer is:

We do NOT need to add manifest.js in the install process in development mode. This error is a result of the git:// protocol issues we're resolving in https://github.com/publiclab/plots2/issues/10827. Closing!

[2022-03-29 20:41] #10828 closed

[2022-03-29 20:42] jywarren commented on #4936
Also @stephaniequintana i wanted to point out that I found the webpack steps were not necessary in installation -- see details at https://github.com/publiclab/plots2/issues/10828 but basically the cause of these errors was https://github.com/publiclab/plots2/issues/10827, and once we solve that completely we shouldn't see the webpack error again!

[2022-03-29 20:46] jywarren commented on #10827
Just noting that I'm getting this result when in a pull request, I am pretty sure I pulled in the change you made and also I tried running it manually:

[code]

Aha - i didn't run `git config --global url."https://github.com/".insteadOf git://github.com/` but will try that now!

[2022-03-29 20:46] jywarren commented on #10827
Hmm, odd! I still get:

[code]

[2022-03-29 20:51] jywarren commented on #10827
I think the key section of the error is:

I think i need to scrub the yarn.lock file too. I'm hoping this is just leftover stuff in a PR from before this transition but it may be necessary to do this a few times until most of our PRs are based on clean yarn.lock files.

[2022-03-29 20:53] jywarren commented on #10827
Oh wait. At some point, the application began booting normally and I didn't notice 😭

I guess some of the above steps worked. Sadly I'm not sure which ones! If I see this error again I will check after each step to see what worked.

[2022-03-29 21:00] #10686 closed

[2022-03-29 21:03] stephaniequintana commented on #4936
@jywarren - Thank you for sharing that with me, it absolutely made my day!
...and reading through those comments is like watching rocket surgery (yes, rocket surgery!) - KUDOS to you and @Forchapeatl 🥳  I have now developed knowledge envy.