[2016-09-22 17:05] jywarren commented on #837
Thanks, Gretchen -- I think this needs to be broken out into several
distinct issues and will circle back to help flesh them out, though if you
have time, please go for it:

* comment count on dashboard does not reflect "answers"
* new "answers" don't appear on dashboard, or bump original Q back up in
timeline (we could use the template shown on https://publiclab.org/questions
-- which is here:
ht

[2016-09-22 17:07] jywarren commented on #828
Sure, that sounds great. Also the PR will initially fail (as they should),
which it'd be nice to confirm as the Travis service runs them on your PR
when you post. Thanks!

On Thu, Sep 22, 2016 at 12:56 PM, Steven Jones <notifications@github.com>
wrote:

[2016-09-22 18:15] jywarren commented on #714
Yes -- that's right! And note to self that we'll have to triple-check that
all `tool` and `place` pages have been converted over before merging this.
Thanks!

On Wed, Sep 21, 2016 at 2:35 PM, Nick Staggs <notifications@github.com>
wrote:

[2016-09-22 19:37] icarito commented on #832
I did not find the duplicate `rake db:setup` but it would be best to join both apt-get commands and drop the icedtea7-plugin which is not required

[2016-09-22 20:05] jywarren commented on #832
ah, i already removed it and tested it, thanks -- maybe it resulted during
a rebase conflict. Oh, and somehow I didn't realize the icedtea7 plugin
wasn't required... must've mistakenly used that from a Stack Overflow
example. We should remove it from the Docker setup but also from the README
(i just updated that as well).

On Thu, Sep 22, 2016 at 3:37 PM, Sebastian Silva <notifications@github.com>

[2016-09-23 14:03] jywarren opened #839 "Display alert on "candidate" activity posts with prompt to "adapt" them"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-09-25 21:33] sandyvern commented on #716
Hi! I would like to attempt to fix this issue. This is my first attempt at contributing to a project other than fixing typos...but would like to give it a try.

[2016-09-25 21:58] jywarren commented on #716
Hi, Sandy -- we'd be very happy to have your contribution; please feel free
to ask for input or help if you need it. Thanks!

On Sun, Sep 25, 2016 at 5:33 PM, Sandy <notifications@github.com> wrote:

[2016-09-26 02:57] Squawk09 commented on #711
Hello,

I just started working in Ruby and have been looking for an open source project to contribute to.  Could you please mark this issue as in-progress.  I believe I can handle this issue.  Thanks for making a project that seems very open and friendly to new contributors!

[2016-09-26 16:10] jywarren opened #840 "Use I18n gem to internationalize application_controller"
That controller includes lots of "you were logged in/out" type messages which are pretty key for most users.

https://github.com/publiclab/plots2/blob/master/app/controllers/application_controller.rb

There are instructions in the README and examples in other controllers for how to implement I18n here -- any help appreciated!

[2016-09-26 18:40] jywarren commented on #711
Very glad to hear it! Welcome! I've marked it as `in-progress`.

I'm curious (we're trying to improve on reaching out to first time contributors) -- how did you hear about our project?

[2016-09-26 19:45] shapironick opened #841 "cue replications display with `activity:*` in addition to `seeks:replications` tag"
### What happened just before the problem occurred

I was on the https://publiclab.org/wiki/open-air page and wanted to be able to click the replications number in order to see the replications that occurred under this activity. As replications increase it would be great to be able to see all of the different iterations/replications.

### Relevant URLs

https://

### PublicLab.org username

nshapi

[2016-09-26 19:50] jywarren commented on #841
That's a great idea -- would it link down to the replications section, then?

On Mon, Sep 26, 2016 at 3:45 PM, shapironick <notifications@github.com>
wrote:

[2016-09-26 19:53] ebarry commented on #841
We're talking in person here so let me add in that it could be any collection, even like how search results show, or like tag results: https://publiclab.org/tag/open-air

[2016-09-26 19:54] jywarren commented on #841
hmm, not sure I follow that but i'm sure you'll flesh this out as you go.
Tnx!

On Mon, Sep 26, 2016 at 3:53 PM, Liz Barry <notifications@github.com> wrote:

[2016-09-26 20:05] shapironick commented on #841
It would be great for the "2 replications" number to link to a new page
that aggregates those two replications and all subsequent ones. does that
make sense? you were imagining a link down lower in the page? that could
work! it could also get messy, is my only hesitancy.

On Mon, Sep 26, 2016 at 3:54 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-09-26 20:21] shapironick commented on #841
ah i see there is something like it on the bottom of the OG note for the
activity
https://publiclab.org/notes/nshapiro/09-26-2016/build-a-plant-based-air-purifier

is that what you were saying could be linked to? makes sense!

On Mon, Sep 26, 2016 at 4:05 PM, Nick Shapiro <shapiro.nick@gmail.com>
wrote:

[2016-09-26 20:32] jywarren opened #842 "permalinks to specific answers in Q&A"
Our new Q&A system is great, and people are starting to post questions and answers:

https://publiclab.org/questions

On research notes, you can click on the "time posted" text to get a deep link (using a `#hash` at the end of the URL) to the comment -- opening that link will auto-scroll down to that comment:

In this example, "15466" is the comment id. The code for this can be found here:

https:

[2016-09-26 20:36] jywarren opened #843 "List of who pressed "like" should be shown on each answer in Q&A"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-09-26 20:45] ebarry opened #844 "numbered list items separated by newlines begin over again at 1"
### What happened just before the problem occurred

The how-to steps on @shapironick https://publiclab.org/notes/nshapiro/09-26-2016/build-a-plant-based-air-purifier used a numbered list, but the numbering was wrong --> each numbered step had an image following the text, after which the numbering would begin again at 1.

As an admin, i went in and added parentheses around each number, like this:

[2016-09-26 20:46] jywarren commented on #792
Hi, @ananyo2012 -- hope you're well! Are you still working on this one or is it open for newcomers? I may make it into a `first-timers-only` post.

[2016-09-26 20:49] jywarren commented on #844
That's actually standard Markdown behavior -- I've never really liked it.
But it's in the spec: http://spec.commonmark.org/0.25/#list-items

But maybe the solution could be: I think each step should be a header
anyways, because then it gets a link. We could scaffold this with a
template to sidestep the numbering lists thing. So:

### Step 1: dot your Is

### Step 2: cross your Ts

On Mon, Sep 26,

[2016-09-26 20:57] jywarren commented on #832
In development mode, I'm getting:

[code]

I think this could be due to having started a second Solr instance for development, on top of the one I'm running for testing. This could be a common gotcha which we could build into the rake tasks...

[2016-09-26 21:04] jywarren commented on #832
Yes -- that seems to have been the error -- and I had to shut **both** solr instances down and start up the right one before it worked.

[2016-09-26 23:34] Squawk09 commented on #711
I saw it on up-for-grabs.net.

[2016-09-27 01:35] ananyo2012 commented on #792
Hi Jeff! Sorry I couldn't be around these days. Just wait a bit. I will be
working on it today.
ᐧ

On Tue, Sep 27, 2016 at 2:16 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-09-27 04:03] Squawk09 commented on #711
When I launch the project in cloud9 and go to create an account after pressing the log in button, it throws an error.  Do you know a way around this? I just want to quickly test my solution.

Thanks!

[2016-09-27 06:03] ananyo2012 commented on #792
@jywarren My tests are failing due to a problem starting the Solr server. I followed the steps given in the readme. But I installed the v8 of all the java packages i.e. openjdk-8-jre, openjdk-8-jdk, icedtea-8-plugin since I recently updated my Ubuntu system to Ubuntu 16.04 Xenial and the v7 packages for java weren't available. Is this due to the differnt version in my java packages?

[2016-09-27 06:29] ananyo2012 commented on #792
Ok I installed openjdk-7-jre and openjdk-7-jdk using a ppa. But still unable to install icedtea-8-plugin.

[2016-09-27 07:27] ananyo2012 commented on #832
Ok seeing the discussion here the icedtea-7-plugin isn't required. But I am getting the same error as Jeff mentioned in the previous comment.

[2016-09-27 07:31] ananyo2012 commented on #832
Ah thanks Jeff! Sorry I didn't follow this before. I was having the same problem. Tests are running smoothly now. I think we should add this to the readme.

[2016-09-27 07:33] ananyo2012 commented on #792
Problem solved seeing #832

[2016-09-27 08:07] ananyo2012 commented on #832
@jywarren Should I remove the icedtea-7-plugin from the Dockerfile and Readme and update the readme with the test case as well?

[2016-09-27 13:23] jywarren commented on #832
Yes please!

[2016-09-27 14:02] jywarren commented on #711
Ah - i believe we haven't completed the update of the Cloud9 installation
steps following the recent Solr upgrade -- it's on our priority list,
however: https://github.com/publiclab/plots2/issues/832

In the meantime, you can actually just open a pull request marked with
"(testing)" before the title, and it'll run your changes on our TravisCI
service, and show you the output. That will run the tes

[2016-09-27 14:08] ananyo2012 commented on #832
Removed icedtea-7-plugin and updated the readme in #846

[2016-09-27 14:24] #792 closed

[2016-09-27 14:36] jywarren commented on #716
Closed in #845! Thanks, Sandy!

[2016-09-27 14:36] #716 closed

[2016-09-27 14:53] jywarren commented on #832
Thanks!!!!

On Tue, Sep 27, 2016 at 10:08 AM, Ananya Maiti <notifications@github.com>
wrote:

[2016-09-27 16:55] ryzokuken commented on #843
I'd love to work on this, as this issue was tagged `help-wanted`. However, I might run into some problems (being new to open source development) and might need help.

[2016-09-27 17:01] ryzokuken commented on #843
https://github.com/publiclab/plots2/blob/master/app/views/answer_like/likes.js.erb

Renders the star based on if the `answer` is `liked_by` the `current_user`, I'd look into the `liked_by` function, maybe it has a list of people who have liked it already and all that's required is to display that list.

[2016-09-27 17:15] ryzokuken commented on #771
I could help with this, considering a bower package exists for the library.

[2016-09-27 17:21] jywarren commented on #843
We'd love your help and are happy to offer any assistance you might need.
Thanks a lot!

Just curious -- we're trying to improve our outreach to new contributors --
how did you happen to hear about us?

Thanks!

I think that's a good place to start!

On Tue, Sep 27, 2016 at 1:01 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-09-27 17:21] jywarren commented on #771
oh great -- yes, that would be super. Thanks!

On Tue, Sep 27, 2016 at 1:15 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-09-27 17:27] ryzokuken commented on #771
i was thinking about solving this problem this way:

1. adding the `angular-i18n` package to `bower.json`
2. removing the library folder
3. changing the part where it looks for the library in `public/javascripts` to `bower_modules/ ...`

@jywarren what do you say?

[2016-09-27 17:29] ryzokuken commented on #843
@jywarren I got to you from up-for-grabs.net

It's great that you've been using the help-wanted tag to help newcomers get up to speed with this project.

[2016-09-27 17:43] ryzokuken commented on #708
Hey @jywarren! Among other's I'd like to claim this issue as my first one, thus maintaining the sanctity of the `first-timers` tag. (If there's no problem with that)

[2016-09-27 18:09] jywarren commented on #725
Yes, this was solved in #788! Thanks, closing now, sorry!

[2016-09-27 18:09] #725 closed

[2016-09-27 18:15] jywarren commented on #708
:-) that would be great, thanks!

On Tue, Sep 27, 2016 at 1:43 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-09-27 19:07] neeleshn commented on #708
Hey,

I am a first timer too. Can only person claim an issue or many people can claim the same issue at once?

Thanks,
Neel.

[2016-09-27 19:08] jywarren commented on #708
Hi! We'd prefer each first timer take a distinct issue -- there ought to be
enough to go around! Thanks!

On Tue, Sep 27, 2016 at 3:07 PM, Neelesh Nidadhavolu <
notifications@github.com> wrote:

[2016-09-27 19:46] jywarren opened #847 "Show notice on accepted Answers prompting them to be adapted into Activities"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-09-27 19:52] jywarren commented on #786
how to mark with success/failure: `replication:success` vs. `replication:unsuccessful` tag, who gets to mark it as such, how success condition is described/tested/debated

[2016-09-27 19:53] jywarren commented on #786
Gretchen's idea -- mini-quiz, maybe based on original activity author's framing.

[2016-09-27 19:54] jywarren commented on #786
Positive discursive interactions to reach consensus on this.

[2016-09-27 20:38] mathewlippincott commented on #753
Found another note missing, this one from Chris Fastie, and of a similar vintage:
https://publiclab.org/notes/cfastie/6-3-2012/nrg-images-cover-crop-trials

It appears in searches but you can't access the link:

![screen shot 2016-09-27 at 1 36 49 pm](https://cloud.githubusercontent.com/assets/1203280/18890812/a26fb9ce-84b7-11e6-9c73-b17665736add.png)

[2016-09-27 20:42] mathewlippincott commented on #639
found another missing image, this one from Pat Coyle's note:
https://publiclab.org/notes/patcoyle/04-07-2014/using-free-sfm-tools-for-automatic-volume-calculation

the image should be here:
https://i.publiclab.org/system/images/photos/000/003/542/original/ss_of_selected_edges_filled_maybe.tiff

[2016-09-27 21:23] jywarren commented on #771
yes, that sounds right -- though we should check that it gets picked up properly on this line of application.js, which is where it's referenced when its compiled into the final js used on the production site: https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/application.js#L35

Thanks!

[2016-09-27 22:07] sandyvern commented on #842
Hi! I would like to give this a go please.

[2016-09-28 01:47] jywarren commented on #842
That would be great! As always, we're happy to offer input if you get stuck!

On Sep 27, 2016 6:07 PM, "Sandy" <notifications@github.com> wrote:

[2016-09-28 05:20] ryzokuken commented on #708
@jywarren I'm having some issues installing the dependencies on cloud9 using `./install_cloud9.sh`.

I'll try setting up the project in my local machine. As this issue just involves removing the block `<%= "Question: " if params[:template] == "question" && @node && @node.title == nil %>` from the file, should I try removing this in the editor and committing the changes? **Warning:** Although I don

[2016-09-28 05:43] ryzokuken commented on #708
Apparently, I cannot connect to the Drupal users database. The problem is in `drupal_user.save!` in `/app/models/user.rb`.

[2016-09-28 08:44] ananyo2012 commented on #708
Ah ok this is a solr related issue since. We haven't still added the steps in the readme for the cloud9 installation. Please follow the [installation steps](https://github.com/publiclab/plots2#installation). Follow the steps 8,9,10 before start the server and that should start the server successfully.

[2016-09-28 08:48] ananyo2012 commented on #832
@jywarren A lot of new contributors have come up in recently and they are facing problems in working up with the cloud9 installation. I can work on the cloud9 installation issues and building the rake tasks if you insist Jeff!

[2016-09-28 14:24] numeroteca opened #850 "Wrong link to revisions page in the wiki"
### What happened just before the problem occurred
When trying to see the revisions of this wiki page https://publiclab.org/wiki/aerial-photography the link provided in the tab was wrong: https://publiclab.org/wiki/revisions/aerial-photography--2 instead of the correct one https://publiclab.org/wiki/revisions/aerial-photography

[2016-09-28 14:59] jywarren commented on #708
yes -- apologies -- we're working on the Solr install steps for Cloud9 (thanks to Ananyo!) and will have better instructions there soon.

@neeleshn -- if you'd like to pick up another, there should be a number of issues available at https://github.com/publiclab/plots2/labels/first-timers-only -- I'd be happy to help you choose one! Thanks!

[2016-09-28 15:02] jywarren commented on #708
Also -- if you've made the changes you think should work, and you want to try running the tests to see if everything still runs fine, you can submit your changes in a pull request with "IN PROGRESS" in the title -- and our TravisCI service will run all the tests and show you the output. I know this is not /quite/ as good, but if it's a simple change, it's fine with us!

You can learn more about op

[2016-09-28 15:03] ryzokuken commented on #708
@jywarren @ananyo2012 `passenger start` runs the server on port 3000 while c9 expects apps to run on port 8080. Is there some way I could specify it to use 8080?

[2016-09-28 15:09] jywarren commented on #708
Hmm, well you can say `passenger start -p 8080` -- but I don't remember
that being necessary!

On Wed, Sep 28, 2016 at 11:03 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-09-28 16:34] ananyo2012 commented on #708
@ryzokuken Yes the command for starting server in cloud9 is `rails s -b $IP -p $PORT`

[2016-09-29 00:59] neliojrr commented on #718
I would like to do this if possible. Will be my first contribution! =)

[2016-09-29 01:16] jywarren commented on #718
That would be great! Please reach out if you need any assistance. Thanks!

On Wed, Sep 28, 2016 at 8:59 PM, Nélio Carneiro <notifications@github.com>
wrote:

[2016-09-30 00:33] neliojrr commented on #718
Well... I need a help. When I create a question and then I run `has_power_tag('question')` return always false. I looked at SQL query generated by `has_power_tag('question')` and noticed that it consults `community_tags` and `term_data` columns, but nothing new was inserted there. Am I doing something wrong?

[2016-09-30 01:16] ananyo2012 commented on #718
Uh that shouldn't be the case. `has_power_tag('question')` should return true for a question. `has_power_question()` returns a boolean value for a node. If the node is a question it returns true otherwise false. Questions are nothing but nodes that have a `question:foo` tag. So you see when you call `has_power_tag('question')` it checks whether the node has a tag name with `question:` prefix as yo

[2016-09-30 02:26] ykl7 commented on #831
@jywarren Hey Jeffrey, I'm facing some problems in testing right now. So, it could take some time. Sorry for the delay.

[2016-09-30 03:45] ananyo2012 commented on #831
@ykl7 Can you say what problems are you facing? Is it due to a RSolr error? We recently updated our readme. Please have a look at the [Testing](https://github.com/publiclab/plots2#testing) section of the readme once more.

[2016-09-30 04:06] ananyo2012 commented on #832
@jywarren I was thinking if could somehow start and stop the solr server along with the rails server it would be great. Basically what we have to do is find a way to run a rake task while starting a stopping the rails server.

[2016-09-30 04:44] ykl7 commented on #831
@ananyo2012 actually, I'm having problems with my Cloud9 environment. I'll look at the [Testing](https://github.com/publiclab/plots2#testing) section as well before I push any changes

[2016-09-30 05:41] ananyo2012 commented on #831
One more thing you need to install the java libraries which is given in the [Search](https://github.com/publiclab/plots2#search) installation instructions. We haven't yet included it in the cloud9 installation script. But we will be doing it soon.

[2016-09-30 05:56] ykl7 commented on #831
@ananyo2012 thanks for the heads-up. I'll do that as well and ask you guys if there are any more problems.

[2016-09-30 15:23] jywarren opened #854 "Advanced search not working"
### What happened just before the problem occurred

At https://publiclab.org/searches/new, entering "dustduino" and pressing the search button results in:

@ujithaperera and @david-days -- any ideas? all tests pass, so is there an issue in the controller? Does it work in your development environments?
### PublicLab.org username

warren, also @steviepubliclab reported as well
### Browser, version,

[2016-09-30 15:24] jywarren commented on #854
Also - do we need to run `rake sunspot:reindex RAILS_ENV=production` -- because that yielded a 404 error for me (note to @icarito):

[code]

[2016-09-30 17:00] david-days commented on #854
I think it's a routes.rb issue.  Pushing the search button without any entered values sends you to:

https://publiclab.org/search/

But line 137 is commented out, and all the following routes are looking for a match with something after "search/".

I would recommend moving line 137 `match 'search' => 'searches#new'` to the last entry for search.  This would make the default no-param page go to the

[2016-09-30 17:14] jywarren commented on #854
But I did enter a value in the input. Let me try this locally and see what's happening.

[2016-09-30 17:26] jywarren commented on #854
I see:
[code]

[2016-09-30 17:45] jywarren commented on #854
I'm going to try to write (failing) tests to reproduce these errors, and open a PR.

[2016-09-30 18:17] jywarren commented on #831
Thanks, @ykl7 - please ping us if you have continuing trouble -- and perhaps we could look at your cloud9 install if you grant us access and we can help troubleshoot there. Apologies for the added search-based testing process.

Another option is to open a pull request with your new commits, and let our new TravisCI service run the tests for you. But this will only give you feedback on things we ha

[2016-09-30 18:18] jywarren commented on #831
Although once you open a PR, others (like me) can pull in your changes and test them out ourselves as well, so that's a way forward too. Thanks for your patience!

[2016-09-30 18:23] jywarren commented on #718
Hi, @neliojrr  -- how did you create the question? Are you doing it as part of a test?

There's a test for posting a new question here: https://github.com/publiclab/plots2/blob/master/test/functional/notes_controller_test.rb#L280-L290

You could add an assertion to the end of that test, like:

[code]

That would fail until your changes to the message are added, then it would pass.

[2016-09-30 18:28] jywarren commented on #854
OK -- here is the now-failing test in a PR: https://github.com/publiclab/plots2/pull/856

[2016-09-30 18:34] sandyvern commented on #842
Hi again! I have attempted to fix my original correction but not sure if the test rerun?...or if I need to open another pr?...or maybe my code is just still wrong, which a very valid possibility! :-)

[2016-09-30 18:39] jywarren commented on #842
OK -- taking a look in the PR at #849 -- thanks!

[2016-09-30 19:12] ebarry opened #857 "Rename /tools to /methods, add redirect and change page title"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-09-30 22:13] jywarren commented on #765
This is now live, congrats and thanks again! Please ping us and check out https://github.com/publiclab/plots2/labels/help-wanted if you're looking for a new challenge!

[2016-09-30 22:13] #765 closed

[2016-09-30 22:14] jywarren commented on #793
Hi - don't want to rush you -- but just want to make sure you're not stuck here; if there's anything I can to to make suggestions, please ping me. Thanks!

[2016-09-30 22:15] jywarren commented on #828
Hi, @sjones88 - just checking in to make sure you aren't stuck; if you just haven't had time there's no rush. Thanks!

[2016-09-30 22:52] jywarren commented on #800
This needs additional work for tests that return no results. I'll see what I can do!

[2016-09-30 22:52] jywarren commented on #797
Hi, ananyo -- shall we try writing a unit test for this?

[2016-09-30 23:34] Fastie commented on #797
I posted a comment on [this question](https://publiclab.org/questions/liz/09-28-2016/what-are-important-aspects-to-consider-about-replication-on-the-website-and-in-the-community), but the comment did not display in Chrome. Then I posted the same comment again, and it still did not display. The page indicated that there were two comments, but did not let me see them. Then I posted the same comment

[2016-09-30 23:46] Fastie commented on #797
This link: https://publiclab.org/questions/liz/09-28-2016/what-are-important-aspects-to-consider-about-replication-on-the-website-and-in-the-community#anwer-0-comment

does not allow the comment to be displayed. This is the link from the dashboard if you click "1 comments."

This link: https://publiclab.org/questions/liz/09-28-2016/what-are-important-aspects-to-consider-about-replication-on-the-we

[2016-10-01 00:27] ananyo2012 commented on #797
Ok this issue occured earlier. This is due to the anchor link after the
link. I will take a look at this.
ᐧ

On Sat, Oct 1, 2016 at 5:16 AM, Fastie <notifications@github.com> wrote:

[2016-10-01 01:32] ananyo2012 commented on #832
@jywarren I am a bit stuck on this. Is there any way to find whether the solr server is already running? We have to put a condition to start the solr server in the test environment only if it is not already running. Otherwise rake is aborted due to the already running solr server. Similarly we need to stop the solr server in development only if it is running.

[2016-10-01 03:00] jywarren commented on #842
Completed in #849 -- thanks again!

[2016-10-01 03:00] #842 closed

[2016-10-01 19:58] jywarren commented on #831
Hi - thanks, closed in #859

[2016-10-01 19:58] #831 closed

[2016-10-01 20:04] jywarren commented on #832
Hmm, i'm not sure -- doing some searches for "detect solr running" -- but perhaps while you work on this, I could -- in parallel -- see if it's possible to skip Solr dependent tests and have a `rake test:nosolr` task for that.

[2016-10-01 20:05] jywarren commented on #832
Unit tests may be omitted: http://stackoverflow.com/questions/2927405/how-to-skip-certain-tests-with-testunit#2940755

Looking for same with functional tests.

[2016-10-01 20:08] jywarren commented on #832
[This](http://stackoverflow.com/questions/6744747/how-to-find-whether-solr-server-is-running-or-not?rq=1) is saying that you could just ping the solr service via wget, for example...

[This is saying](https://mail-archives.apache.org/mod_mbox/lucene-solr-user/201010.mbox/%3C4CC6ACA1.2020405@yahoo.de%3E) that you can check `/admin/ping` using wget. I mean, this'd assume that the client has wget to

[2016-10-01 20:11] jywarren commented on #832
Alternatively, we could actually move the Solr tests in `searches_controller_test.rb` into `/test/solr/`, and run them with a separate `rake test:solr` command -- based on [this way of running a single test](http://stackoverflow.com/questions/274349/ddg#7986304):

`ruby -I test test/functional/whatevertest.rb`

[2016-10-02 00:02] jywarren commented on #832
Notes:
* disable solr entirely in test mode: https://github.com/sunspot/sunspot/commit/b2dfd0e74d79c66915dafbdfff3c2ce1d364611b
* set Sunspot's session to a StubSessionProxy: http://stackoverflow.com/questions/5864470/disable-solr-during-database-rebuild (this could be used to make it not depend on the Solr service while running tests)
* ref'd in another issue, this is a gem allowing selective on/

[2016-10-02 00:05] jywarren commented on #832
Whoa, i think setting `disabled:true` in sunspot.yml works -- i moved the `searches_controller_test` into its own folder, and will try to trigger that one with its own `rake test:sunspot`

[2016-10-02 00:26] jywarren commented on #832
Got some more help here: http://flavio.castelli.name/2010/05/28/rails_execute_single_test/

Opened #861 which moves solr-dependent tests into a managed `rake test:solr` task, and adds it to the set run in `rake test:all` but not in `rake test`

[2016-10-02 03:53] ryzokuken opened #862 "Remove sudo from `sudo npm install -g bower`"
In [README.md](https://github.com/publiclab/plots2/blob/master/README.md#L101) sudo should be removed from the command `sudo npm install -g bower` as it is considered a bad practice.

### References (to name a few):

* https://docs.npmjs.com/getting-started/fixing-npm-permissions
* https://coderwall.com/p/t2mc9g/don-t-sudo-npm
* https://jesse.sh/sudo-npm-install/
* https://johnpapa.net/how-to-use-

[2016-10-02 03:56] ryzokuken commented on #862
@jywarren could i fix this one myself? :grinning:

[2016-10-02 08:33] ryzokuken opened #863 "gem mysql2 throws error while performing `bundle install`"
**PROBLEM:** The mysql2 gem throws an error during installation. Here's a short log.

[code]

**SOLUTION:**

`sudo apt install libmysqlclient-dev` OR `sudo yum install mysql-devel`

[2016-10-02 08:36] ryzokuken commented on #863
@jywarren Was setting up the project locally, and this is one of the few issues I found. Maybe I could help improve the documentation a little?

[2016-10-02 15:05] jywarren commented on #862
yes, please, that would be great!

[2016-10-02 15:07] jywarren commented on #863
Hi - we've considered creating a second README for prerequisites -- perhaps
this and other platform-specific tips could go there? Thanks!

[2016-10-02 15:09] jywarren commented on #863
I also think that this is a pretty common error to run into when using mysql. (BTW, isn't sqlite a simpler viable option?) So if there's simply an up to date guide we could link to on installing it, that might be best, rather than keeping our own docs up to date.

[2016-10-02 15:36] ryzokuken commented on #863
The thing is -- the ruby gem requires the library in your system. I'd highly suggest either adding the library to the list of prerequisites or maybe work on making automated shell scripts for installation on different environments. Eg. I'd only need to run `sudo ./install_ubuntu.sh`. I think that'd be a great thing to work on.

[2016-10-02 16:35] rafael-acerqueira commented on #607
Hi ! I Sent a pull request #864 to this issue. I don't have a lot of experience in contribute, so if I made something wrong, let me know !

[2016-10-02 16:49] neliojrr commented on #718
Ok! All the tests with the new messages are passing... but when I'm doing a manual testing (running local) I still can't see the new messages that I added. I'll show my code than we can discuss about.

[2016-10-03 00:05] rafael-acerqueira commented on #817
Hi ! I have a doubt here. Should I test if moderated_spam appear in dashboard results? But if it's moderated it doesn't appear in dashboard, right ? It status is 0.

[2016-10-03 00:43] jywarren commented on #817
That's right, thanks! Status 0 should not appear.

On Oct 2, 2016 8:05 PM, "Rafael Aquino" <notifications@github.com> wrote:

[2016-10-03 09:22] rafael-acerqueira commented on #817
Ok. I'm new in tests, sorry about this. The ideia here is I have to check if unmoderated_spam_revision appear on the dashboard. But the instance variable that is used in the view contains wikis and revisions:
https://github.com/publiclab/plots2/blob/master/app/controllers/home_controller.rb#L86

So, I'm having difficult in doing this test. I know that I need create a list of revisions with status

[2016-10-03 19:51] jywarren commented on #607
Great, thank you - I'll review soon and get back to you!

On Oct 2, 2016 12:35 PM, "Rafael Aquino" <notifications@github.com> wrote:

[2016-10-03 19:51] jywarren commented on #817
Could you iterate through the list in the instance variable, and do a two
part conditional on each item that asserts that a) if it's a revision, then
b) it's status is 1?

On Oct 3, 2016 5:22 AM, "Rafael Aquino" <notifications@github.com> wrote:

[2016-10-03 21:42] mzishtiaq commented on #840
Hi, I am a fresh junior developer, hoping to contribute to open source and learn some more by doing so. I suppose I could give it a go and hopefully, contribute something useful to this wonderful project, with your assistance. :)

[2016-10-03 23:21] sandyvern commented on #818
Hi! I would like to give this a shot, please.

[2016-10-04 02:15] ananyo2012 commented on #863
@ryzokuken Actually the thing is we use sqlite for development. mysql is used in production and the gem has been grouped under production. So while installing gems in development use `bundle install --without production` as mentioned in the [Installation](https://github.com/publiclab/plots2#installation) section. That will work smoothly.

For installing the prerequisites follow the [Prerequisites]

[2016-10-04 04:52] ryzokuken commented on #863
@ananyo2012 I did use `--without production`. I guess it just skips the production group and as mysql also has its own group, that's why it's being installed. Anyway, its still throwing the Solr error in my local PC as well as Cloud9. I have sent the log on the gitter channel. Please help me fix it so that I can contribute to the real thing rather than make PRs for the README :P

[2016-10-04 04:55] ananyo2012 opened #869 "question tag doesn't show up while posting a question"
### What happened just before the problem occurred

While posting a question by clicking the `Ask Question` link the `question:question` power tag doesn't appear which used to appear earlier. This should be present else the user might forget to add that tag and the note won't be published as a question since for a note to be a question it must have a `question :topic` power tag
### Relevant URLs

[2016-10-04 04:57] ananyo2012 commented on #863
Uh ok let me check the gitter channel

[2016-10-04 05:06] ananyo2012 commented on #863
OK we recently made some PRs #861 and #868 that should fix these issues both in development as well as in cloud9. But for now can you sequentially mention the steps right from the start so that I can catch what should be the issue.

[2016-10-04 05:19] ryzokuken commented on #863
I'll give you the exact history when I reach home tonight. But AFAIK I followed the steps on the README sequentially

[2016-10-04 13:30] ryzokuken commented on #863
@ananyo2012 Here's my exact `history`:

[code]

[2016-10-04 16:45] ananyo2012 commented on #863
Ok I see a lot of repeated steps. According to the error log you gave earlier migrations were running fine. The problem was in seeding the data. So presently you should start the solr server before running db:setup. So these should be the steps for a fresh copy after installing all prerequisites.
[code]

For testing you should stop the solr server in development using `rake sunspot:solr:stop`. The

[2016-10-04 16:50] ananyo2012 commented on #863
@ryzokuken I suggest you too look at our [help-wanted](https://github.com/publiclab/plots2/labels/help-wanted) issues. There are a lot of them. Perhaps if you are stuck which one to start with I can help select one.

[2016-10-04 16:59] ryzokuken commented on #863
@ananyo2012 I have definitely been thinking of taking the plunge as soon as I successfully setup the project.

According to my interpretation of your guidelines, I'd `rm -rf plots2/`, re-clone the repo and try these commands in exactly this order.

Thanks.

[2016-10-04 17:13] ananyo2012 commented on #863
@ryzokuken No you dont have to remove the repository entirely. Just ensure all solr instances are stopped and just remove the development.sqlite and test.sqlite files. Ad if you have copied the database.yml and schema.rb files just skip those steps.

[2016-10-05 01:23] jywarren commented on #862
Addressed in #866 (just linking to the PR)

[2016-10-05 01:25] jywarren commented on #718
Great -- i'll check it out there -- note I'm a bit slow at the moment but thanks very much for your work on this!

[2016-10-05 01:26] jywarren commented on #818
That would be super. Thanks a lot -- and please note -- apologies, but I'm currently in a staff retreat and am a bit slower at responding this week.

[2016-10-05 01:28] jywarren commented on #840
We would love it if you took a crack at this issue -- thank you so much! I'm happy to help if you run into trouble, and please note that I'm a little less responsive than usual this week as we're having a staff retreat. Also -- if you run into a *lot* of trouble, there are a range of more thoroughly documented issues at https://github.com/publiclab/plots2/labels/first-timers-only

Thanks again!

[2016-10-05 01:31] jywarren commented on #863
Apologies for the difficulties with the solr installation -- they're new, and we're doing our best to work through them in the PRs Ananyo linked to above. We definitely hope to have the install process ironed out and simpler within the next week and a half, so thank you for your patience.

Also, thanks to Ananyo for helping out here -- I'm currently in a week long staff retreat and am a little les

[2016-10-05 01:36] jywarren commented on #800
I wasn't able to reproduce this on publicla.org and think perhaps it's been fixed already!

[2016-10-05 01:36] #800 closed

[2016-10-05 01:36] ryzokuken commented on #863
Thanks @ananyo2012! That seemed to have worked like a charm. I will run some more tests and come back here.

[2016-10-05 01:49] sandyvern commented on #818
Awesome...I will get to work then! And yay for staff retreats! Enjoy!

[2016-10-05 10:59] mzishtiaq commented on #840
Thank you for the positive response, this looks achievable and I can give it a shot. I hope you're having a good time at the staff retreat, enjoy. :)

[2016-10-05 14:09] jywarren commented on #797
Solved the original 'multiline comment' issue in #867 - can you rename this issue or open a new one to reflect the new issue Chris has identified? Thanks.

[2016-10-05 14:31] jywarren commented on #607
Apologies for my slowness here - we're currently in a staff retreat and I'm not as able to respond to contributions. I just wanted to say thanks for your PR and we're very grateful for your contribution -- we should be able to review and merge a little later this week.

[2016-10-05 15:49] sandyvern commented on #818
Hi Jeff!  Trying to work on this and running into a little bit of trouble when trying to rebase (following the new directions you sent this morning)...

Inserting error from trying to rebase below:

`sandyvern:~/workspace/plots2 (moderating-a-wiki-revision) $ git rebase master
First, rewinding head to replay your work on top of it...
Applying: changed span to link & changed to answer.id
Using inde

[2016-10-05 17:04] jywarren commented on #818
Ah, ok - so now it says there's a conflict in:

CONFLICT (content): Merge conflict in app/views/questions/_answer.html.erb

So if you go in that file, you can choose the versions of each conflicting
line you want to keep. I think it'd be helpful to find a quick tutorial on
resolving conflicts in git rebases... once you do that, you can "git rebase
--continue" and it should complete.

On Oct 5, 201

[2016-10-05 17:05] jywarren commented on #818
Here's a good guide!
https://help.github.com/articles/resolving-a-merge-conflict-from-the-command-line/

On Oct 5, 2016 10:04 AM, "Jeffrey Warren" <jeff@unterbahn.com> wrote:

[2016-10-05 17:16] ryzokuken commented on #863
EDIT: Solr is up and running, but when I try posting a question, another error pops up. Here's the message.

[code]

[2016-10-06 13:38] mzishtiaq commented on #840
Hi, I have made some progress and used I18n gem for the following:
* "You must be logged in to do that."
* "You must be logged in to access this page"
* "You must be logged out to access this page"
* "The author of that note has been banned."
Just wanted to ask if these were the only ones you wanted? And could you help me out with German translation, please? :)

[2016-10-06 18:05] sjones88 commented on #828
Hi @jywarren, I've been busy lately, but I'm going to work on this today. One issue I ran into was creating a fixture for testing the new 'redirect' power tag. Any insight you could provide would be helpful. Thanks!

[2016-10-09 07:57] ryzokuken commented on #863
I see you guys have a `Dockerfile`. If it's running properly, we won't need to setup dependencies and stuff again and again.

[2016-10-09 16:37] jywarren commented on #863
Sorry for the radio silence. I hope to have a look at this thread again
today or tomorrow-- back from our staff retreat now. Thanks!!!

On Oct 9, 2016 3:57 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-10-09 18:17] jywarren commented on #840
Thanks! If you want to push a pull request with "in-progress" in the title, with any progress you've made, we're happy to provide input and help you as you work.

I think we could post a new issue asking for German translation and pointing at your new english file -- it'll fall back to English for those we don't yet have.

Also, we're hoping to improve our outreach to new contributors -- would you

[2016-10-09 18:20] jywarren commented on #828
Hi, Steven - sorry, I was in a staff retreat and just catching up now. Yes
-- can you push a PR so I can see your code? To add a tag, you need to make
a fixture entry on fixtures/tags.yml AND fixtures/community_tag.yml -- not
the most intuitive due to remaining legacy database structure and naming
conventions we should try to get rid of at some point (and this could use a
good, descriptive new iss

[2016-10-09 18:21] jywarren commented on #818
Back from staff retreat and hopefully can chip in more here; please ping me if you get stuck! -- thanks!

[2016-10-09 20:01] #862 closed

[2016-10-09 20:07] jywarren commented on #863
Hi, Ryzokuken - could you rebase on top of the latest master and open a pull request? Then I can see the error and the exact diffs against my version (where tests are passing). I'm not sure there is a test for posting a question, so if we're not catching the double render error you see, we should add one to properly catch that error. I looked around in here and didn't see a question posting test:

[2016-10-09 21:04] mzishtiaq commented on #840
No problem, I had already completed the English file and also created the 'de' file for German translations, however, I only have empty strings there at the moment. I'll pull down master and rebase it again to solve any conflicts and then I'll open a pull request.

I found you through [up-for-grabs]:http://up-for-grabs.net/#/tags/rubyonrails, you're pretty much the only open source project under '

[2016-10-09 23:39] jywarren opened #873 "Disappearing/appearing comment issue"
**Update:** found how to reproduce this by adding a `#url-hash` to the end of the URL, which causes comments not to be shown, oddly. See [comment below](https://github.com/publiclab/plots2/issues/873#issuecomment-253338536).

Reporting from @Fastie, and seemingly distinct from now-solved #797 --

I think this probably needs some tests written. It could be a page caching issue -- @Fastie, did you g

[2016-10-09 23:39] jywarren commented on #797
Moving to a new issue in #873 and closing this one.

[2016-10-09 23:39] #797 closed

[2016-10-09 23:43] jywarren commented on #817
Hi, just checking if you needed any additional help with this one -- please feel free to submit a PR with "in-progress" as well if you'd like to share your code so far. My thought was something like:

[code]

[2016-10-09 23:53] Fastie commented on #873
A neat url for a question displays comments on the question. So this url displays comments:
https://publiclab.org/questions/liz/09-28-2016/what-are-important-aspects-to-consider-about-replication-on-the-website-and-in-the-community

But if that url is extended to specify a comment or comments like this:
https://publiclab.org/questions/liz/09-28-2016/what-are-important-aspects-to-consider-about-rep

[2016-10-10 04:25] jywarren commented on #718
Done! Thanks a lot!

[2016-10-10 04:25] #718 closed

[2016-10-10 04:42] jywarren commented on #832
@icarito - is it possible to cache the java install, as that's failing in TravisCI pretty often. Although perhaps we should add priority to the plan to separate the Solr components into a separate docker instance, or use a pre-loaded one or something? I'm not familiar with how that works but could add it to this to-do list.

[2016-10-10 08:04] ryzokuken commented on #863
@jywarren: merged my local master with upstream/master.
Here's the error:
[code]
in
[code]

[2016-10-10 15:13] jywarren commented on #863
It's odd since I'm not seeing that test failure -- but the solution is pretty easy:

[code]

Just after line 143 of `app/controllers/application_controller.rb`

[2016-10-10 15:23] ryzokuken commented on #863
@jywarren did yours throw an issue too?

[2016-10-10 15:48] jywarren commented on #863
It's odd, no -- but I've merged a good bit of code since, so you might want to rebase on top of the latest master and try again. https://travis-ci.org/publiclab/plots2/builds/ shows tests on all recent PRs and the latest master.

[2016-10-10 16:06] ryzokuken commented on #863
@jywarren I will. Also, line 143 was already `redirect_to "/"` ...? I added a `return` after that but to no avail. I also added a return after a `redirect to "/"` higher above the function, but still no.

This is another reason to use containers. That way, we'd all use the same environment, and the same environment would be used in production so you won't ever have a "doesn't work here" issue. Als

[2016-10-10 16:10] jywarren commented on #863
Hi - can you push up a pull request with your latest code? That way we are
using identical containers, and can look at exactly what code differs
between your branch and master -- and see how tests run on both in
identical environments. Thanks for your hard work on this!

On Mon, Oct 10, 2016 at 12:06 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-10-10 16:14] ryzokuken commented on #863
@jywarren Github does not allow me to create a PR because my master is identical to your master. Maybe ill try running tests locally?

[2016-10-10 16:17] jywarren commented on #863
Huh - are you developing in the master branch? You should be able create a
PR based on a named feature branch, with your additional changes; see
https://publiclab.org/wiki/contributing-to-public-lab-software#A+sample+git+workflow
and use `git status` to check what branch you're currently on.

On Mon, Oct 10, 2016 at 12:14 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-10-10 16:19] ryzokuken commented on #863
I was just checking if the repo was working properly in master.

Just another check:
I do a `passenger start` to start the server. That's it, right? Maybe I'm missing something... Upto the point I typed this, all tests were passing.

[2016-10-10 16:23] jywarren commented on #863
Hmm, well if you push up a PR, I can pull it to my local and see what's
going on. You or I can also add a test to run through that section of code,
to try to trigger the same error in a test -- that'll help us be on the
same page.

On Mon, Oct 10, 2016 at 12:19 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-10-10 16:23] ryzokuken commented on #863
Okay... I'll do that right now

[2016-10-10 16:26] ryzokuken commented on #863
cannot create a PR still...
![screenshot from 2016-10-10 21-56-08](https://cloud.githubusercontent.com/assets/13121330/19243245/71063b88-8f34-11e6-9aea-389075a76a84.png)

[2016-10-10 16:30] jywarren commented on #863
That's so odd -- are you sure you've run `git push origin sample-branch` so
there's a copy of your branch on Github's servers?

On Mon, Oct 10, 2016 at 12:26 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-10-10 16:31] ryzokuken commented on #863
there is... that's why I could compare it in the first place...

[2016-10-10 16:39] jywarren commented on #863
It seems like, viewing
https://github.com/ryzokuken/plots2/tree/sample-branch, there are no new
commits there. Are your changes committed locally before you're pushing up?
No worries, we'll solve this!

On Mon, Oct 10, 2016 at 12:31 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-10-10 17:31] sandyvern commented on #818
Sorry for the delay....had some technical difficulties just with gh...but just submitted pr.

[2016-10-10 19:27] sjones88 commented on #828
Here's the PR: https://github.com/publiclab/plots2/pull/875

[2016-10-10 19:43] #818 closed

[2016-10-11 12:10] ashwinvasudevan opened #876 "Not able to create account and sign into the forum."
### What happened just before the problem occurred
Tried to create an account, after filling out the captcha, I received
"There was an error. Are you sure you have the right address?"

### Relevant URLs

https://publiclab.org/register

### PublicLab.org username
Tried to create an account, that's when the error occurred.

(to help reproduce the issue)

### Browser, version, and operating system
Ch

[2016-10-11 13:45] prabhagharan commented on #834
Hi,

I am super new to Rails and open source contribution, thought of learning Rails by contributing to some open source project so landed here.
This my first ever pull request. https://github.com/publiclab/plots2/pull/877
Let me know if I am missing something.

[2016-10-11 15:47] jywarren commented on #876
Hi, we had a hiccup this morning but it should be resolved now -- can you give another try? Thanks for your patience.

If that doesn't work, please re-open this issue and we can have another look. Thanks for reporting.

[2016-10-11 15:47] #876 closed

[2016-10-11 16:11] cpdavngr commented on #793
Hi,

No issues so far. I just had big class load for school over the past few weeks and wasn't able to work on this much. I should be able to revisit it now. Thanks!

-Ralph

[2016-10-11 19:01] #834 closed

[2016-10-11 19:13] ebarry opened #878 "History graph for wildcard tag display should not be displayed"
Seen on https://publiclab.org/tag/question:*
The graph at the top of activity over time seems not to be populated:

![screen shot 2016-10-11 at 3 11 35 pm](https://cloud.githubusercontent.com/assets/161439/19284795/583ece62-8fc5-11e6-8e4b-7dd18417f5bc.png)

****

@jywarren sez: This is because wildcards (`*`) are not real tags, so the graph should not really be shown at all. The following code (on

[2016-10-11 19:30] jywarren opened #879 "Display # of answers per question on /questions page"
On https://publiclab.org/questions, the # of comments is shown, but not the # of answers.

The per-question template is here: https://github.com/publiclab/plots2/blob/master/app/views/dashboard/_node_question.html.erb

If we wanted to show it at the bottom of each box, that's cool. But if we wanted to show it alongside questions, we might use this sub-template: https://github.com/publiclab/plots2/

[2016-10-12 16:09] jywarren opened #880 "tag aliases and subscriptions interaction"
We're working on a tag aliasing system, but that doesn't yet touch on email notifications -- but it could and should!

https://github.com/publiclab/plots2/pull/871

a key use re: `spectrometer` vs. `spectrometry` tags

[2016-10-12 16:49] jywarren opened #881 "List related activities/questions in sidebar on activity/questions pages"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-10-12 19:33] rafael-acerqueira opened #882 "Resolution more compact and structurally well-organized for Banning (spam) users drop the liked count on wiki pages"
This looks like it'd work -- and I can def. pull it in. But I wonder if we could do even better. Would you be willing to try something a little more compact and structurally well-organized as a followup?

I'm thinking:

A. Write a test that:

1.has a user like a node, and then check that the like count is increased ban the user, and check that the like count is decreased

B. Replace the like recal

[2016-10-12 19:34] jywarren commented on #882
Great, tagged and thanks!

[2016-10-12 20:17] rafael-acerqueira commented on #817
I have this:
<pre>
    @wikis = DrupalNode.where(type: 'page')
    revisions = DrupalNodeRevision.joins(:drupal_node)
                                .where('type = (?)', 'page')
                                .where('node_revisions.status = 1')
    @wikis = @wikis + revisions </pre>

If the first conditional is true, I would have assert_select (".wiki"). In the second conditional I didn't unders

[2016-10-12 20:52] jywarren commented on #873
Actually i wonder if this could be also two issues - one cache related -- i tried going back to a page I'd just answered a question on: https://publiclab.org/questions/glenc/10-12-2016/lightweight-air-quality-sensors-for-a-weather-balloon and didn't see the answer. But on refresh it appeared (which suggests my browser had just cached the version without, before I answered) and persisted.

However,

[2016-10-12 21:03] jywarren commented on #873
Yes! Similarly I can't see the comments when going to this URL: https://publiclab.org/questions/warren/09-13-2014/riffle-coqui-hot-cold-tapwater-test#answer-comment-15619

Which I got to via the email notification -- in this template: https://github.com/publiclab/plots2/blob/master/app/views/comment_mailer/notify_note_author.html.erb#L9

However without the `#url-hash` at the end, comments do show

[2016-10-12 21:04] jywarren commented on #817
oh -- i may have just written the false argument in the wrong place. Thanks for fixing it -- this looks good!

[2016-10-12 22:12] rafael-acerqueira commented on #817
Please check my pull request #883

[2016-10-12 22:50] pdhixenbaugh commented on #869
This affected me as well, and led me to create a few research notes when I thought I was creating questions.

Can we add a sentence somewhere saying something like "Ask a question by tagging this post "question:topic" replacing topic with a tag the question relates to." ?

# PublicLab.org username

pdhixenbaugh

# Browser, version, and operating system

Firefox 49 on Windows 10.

[2016-10-12 23:47] jywarren opened #884 "Interface design problem: help people distinguish between "answers" and "comments" on questions"
### What happened just before the problem occurred

It's not totally clear, as some of these could be legit "answers", but it seems to me that there's simply a threaded discussion happening in this "question" post:

https://publiclab.org/questions/stoft/09-15-2016/what-mechanical-specs-can-and-should-plab-spectrometers-meet

I think some good UI/UX design work could help here. Threaded conversatio

[2016-10-13 12:34] prabhagharan commented on #879
Seems it already displays answers count at https://publiclab.org/questions , please correct me if my interpretation is wrong.

https://github.com/publiclab/plots2/blob/master/app/views/dashboard/_node_meta.html.erb#L8

[2016-10-13 17:13] jywarren opened #885 "Editing a question and pressing Publish results in an error"
### What happened just before the problem occurred

I was on this note, which is now a question:

https://publiclab.org/questions/warren/09-13-2014/riffle-coqui-hot-cold-tapwater-test

It started as a note, but was "converted" to a question by adding a `question:____` tag

I pressed edit and got to this URL:

https://publiclab.org/notes/edit/11140?t=1476305825&redirect=question&template=question

[2016-10-13 17:30] jywarren commented on #657
Hi, this was bumped up in priority by @icarito, who needs it to set up test containers for our deployment process; I'm sorry to do it but I've gone ahead and implemented a first pass, in PR #886. Thanks -- we'd love to have your contribution elsewhere, and there are plenty of important issues still at https://github.com/publiclab/plots2/labels/help-wanted.

[2016-10-13 17:30] #657 closed

[2016-10-13 18:20] jywarren commented on #817
Merged, thanks!!

[2016-10-13 18:20] #817 closed

[2016-10-13 20:41] jywarren commented on #821
Duplicate with #754

[2016-10-13 20:41] #821 closed

[2016-10-13 20:42] jywarren commented on #841
I believe we have a fix for this forthcoming, thanks! Changing title.

[2016-10-13 21:09] jywarren opened #888 "Feature Q&A and Activities in many more places"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-10-13 21:26] jywarren commented on #879
Oh, indeed -- apologies. Perhaps we need to show both answers and comments, somehow? Because until looking closer, I thought the icon indicated comments, which is why i created this issue.

[2016-10-13 21:37] jywarren commented on #850
Thanks, Pablo! This is a duplicate with #816-- hope to find someone to tackle it soon! I'll mark it as "priority".

[2016-10-13 21:37] #850 closed

[2016-10-14 10:33] prabhagharan commented on #879
Yeah we can show both, just a minor change. Also I think texts can be used instead icons so it will be more readable.

Will look like:
In /research screen:
![screen shot 2016-10-14 at 3 53 19 pm](https://cloud.githubusercontent.com/assets/211298/19384525/42c64f92-9227-11e6-92a6-088531bd1a7f.png)

In /questions screen:
![screen shot 2016-10-14 at 3 52 58 pm](https://cloud.githubusercontent.com/asse

[2016-10-14 15:16] jywarren commented on #879
I think text is nice but on a smartphone there's probably not room. Can we
use Bootstrap tooltips to disambiguate instead of text links? Thanks for
thinking through this!

On Oct 14, 2016 6:33 AM, "prabhagharan" <notifications@github.com> wrote:

[2016-10-14 15:33] #708 closed

[2016-10-14 16:29] jywarren opened #891 "Tags don't appear in note edit form textarea"
### What happened just before the problem occurred

When at https://publiclab.org/notes/edit/13560 or other times I'm editing a note with tags, I don't see the tags in the tag input-- in this case, it's actually empty.

The code for that input is on this line: https://github.com/publiclab/plots2/blob/master/app/views/editor/post.html.erb#L100

I think we should write a functional test for this, bu

[2016-10-14 16:40] jywarren commented on #841
Done in #890!

[2016-10-14 16:40] #841 closed

[2016-10-14 16:46] shapironick commented on #841
Fantastic! thanks!

On Fri, Oct 14, 2016 at 12:40 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-10-14 19:21] pdhixenbaugh commented on #816
Manually editing the URL sometimes gets you to the revision page, e.g. https://publiclab.org/wiki/revisions/riffle/ however clicking on past revisions shows the current revision instead... e.g. https://publiclab.org/wiki/revisions/riffle/17279 (It should be the very first revision)

[2016-10-15 03:43] ryzokuken commented on #771
@jywarren I had started to work on this, when I realized how everyone switched from bower to npm sometime ago, and how recently, everyone's been switching from npm to yarn.

yarn is a library built by facebook and google (I read this on the internet, don't know how true this is, but it was definitely built by facebook). I request you to read [this article](https://scotch.io/tutorials/yarn-package-

[2016-10-15 14:47] jywarren commented on #771
Hi - I think we tend to move a little slower than the typical library, in
part because it takes some time to ensure that a new system works given the
complexity of our site. But I'll definitely read it over, and just note
that integrating either npm or bower with the Rails asset pipeline is a
little complex, and took a while to get right. I'm open to discussions of
upgrading to Yarn, but there are

[2016-10-15 17:06] ryzokuken commented on #771
@jywarren I totally understand. Please look over [http://www.hpcs.cs.tsukuba.ac.jp/~tatebe/lecture/h23/dsys/dsd-tutorial.html](this library). It comes with Rails support. Shall I add this one?

[2016-10-17 02:58] jywarren opened #894 "README links to API"
I want to begin using the awesome new APIs @david-days put together -- David, can you link to the Grape API index pages so I can start solving things like #595, and others can begin using them? Also, do those cover the internal APIs we can begin using within the codebase? Thanks!

[2016-10-17 03:04] jywarren opened #895 "advanced search returns "Required parameter missing: search""
When going to https://publiclab.org/searches/new (the advanced search page), and entering a search term, I see:

I believe this is because the parameter `search` is required on this line: https://github.com/publiclab/plots2/blob/master/app/controllers/searches_controller.rb#L89

However, the form that generates the request does not supply that parameter:

https://github.com/publiclab/plots2/blob/m

[2016-10-17 05:31] david-days commented on #895
@jywarren

I'll take a look. I've been playing around with the site's URLs and the form submission, and the behavior is definitely not what is expected.  Part of the issue seems to be that it's automatically redirecting to some of the fallback options in routes.rb (which would explain why the test is not erroring--it's getting an answer, but we're not checking that the response is correct.).

[2016-10-17 05:38] david-days commented on #895
@ujithaperera @jywarren

I also noticed that the ["advanced" form](https://github.com/publiclab/plots2/blob/master/app/views/searches/advanced.html.erb#L9) is putting out a different submission than the ["new" form](https://github.com/publiclab/plots2/blob/master/app/views/searches/_form.html.erb#L1)--this seems to be where the "searches" in your example url is coming from, @jywarren

[2016-10-17 05:40] david-days commented on #894
Wll do!  And yes--I still owe you a write-up and how-to on using the Grape and internal APIs.

[2016-10-17 13:03] jywarren opened #896 "Solr "exceeded limit of maxWarmingSearchers=2" error"
### What happened just before the problem occurred

I made a comment, as user 'tester', on a note, and got an "error" in the comment form.

Then, the dashboard stopped responding -- got a 500 error. The comment sent, though!

The logs show:

[code]

@icarito, @ujithaperera, @david-days - do we need to increase that setting?

I found that restarting Solr worked, though I still got a 500 on the dash

[2016-10-17 13:04] jywarren commented on #896
Actually, I'm now redirected properly to /dashboard, but see a 500 error there now.

[2016-10-17 13:05] jywarren commented on #896
And now looking normal again. Hmm.

[2016-10-17 13:07] jywarren commented on #896
OK - is it possible we're making "too many commits at once" and why now, but not earlier? http://wiki.apache.org/solr/FAQ#What_does_.22exceeded_limit_of_maxWarmingSearchers.3DX.22_mean.3F

[2016-10-17 13:25] jywarren commented on #895
Are both needed, or is one deprecated? I'm most interested in whichever is
shown when you click "advanced search" from a regular search. I believe
that link redirects to https://publiclab.org/searches/new, no?

On Mon, Oct 17, 2016 at 1:38 AM, David C Days <notifications@github.com>
wrote:

[2016-10-17 13:36] icarito commented on #896
Hi,
I'm seeing extremely slow response when loggin in. Probably related? I'm on IRC.

[2016-10-17 13:37] jywarren commented on #896
i have to move -- 10m, but will join you soon. htop didn't show too much resource usage...

[2016-10-17 13:39] icarito commented on #896
it's slow but it responded correctly now

[2016-10-17 13:39] icarito commented on #896
CPU is back to normal now...

[2016-10-17 13:41] david-days commented on #896
It was running slow last night when I was testing out the search capabilities.  No errors (other than expected), but not the normal crisp response I was used to.

[2016-10-17 13:41] jywarren opened #897 "Append keywords in questions tag filter as GET URL parameters"
At https://publiclab.org/questions, when you add a "filter" of a given tag, the URL is not changed -- the added tag filters are stored in the session.

It's important that the keywords should be be appended to the url instead of being stored in the session. The routing should be more like:

`https://publiclab.org/questions/spectrometry`

and for multiple tags, perhaps:

`https://publiclab.org/ques

[2016-10-17 13:41] icarito commented on #896
Any interaction on Solr seems to send the CPU on an intensive task. If I log in or log out, site slow to respond and Solr process consumes 100% CPU.

[2016-10-17 13:46] icarito commented on #896
There are currently 37 solr processes running in the server. Is this normal Solr behaviour?

[2016-10-17 13:49] icarito commented on #896
Yes it looks so because they are all children of one master Solr java process.

[2016-10-17 13:52] jywarren commented on #896
I'm back at a more solid internet connection and joining IRC. I wonder if an index flush would be a good idea, since the biggest thing that happened in the last 12 hours is that I reindexed.

[2016-10-17 13:55] jywarren commented on #896
http://daniel.hepper.net/blog/2010/11/howto-clear-solr-index/ says:

`curl http://localhost:8983/solr/update?commit=true -d  '<delete><query>*:*</query></delete>'`

to flush the index.

[2016-10-17 13:59] jywarren commented on #897
@ananyo2012 -- any chance you could take this one on? I understand if you're busy!!!

[2016-10-17 14:14] jywarren commented on #896
We set up an ssh tunnel to the Solr admin and deleted the core, which had 300k+ docs, and unrequired Solr in production.

Currently investigating deleting old sessions from mysql -- hoping that will lighten the load on Solr. There are some 300k+ session records.

[2016-10-17 14:15] ananyo2012 commented on #897
Sure Jeff I can work on this. In fact I was just onto other issues as well.

Uh sorry to say it here I recently sent you a mail. Do have a look at it.
ᐧ

On Mon, Oct 17, 2016 at 7:29 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-10-17 15:13] jywarren commented on #897
Thanks and i got your email -- chatting w/ other staff about it today and
we appreciate your interest!

On Mon, Oct 17, 2016 at 10:15 AM, Ananya Maiti <notifications@github.com>
wrote:

[2016-10-17 15:27] jywarren commented on #896
We will circle back once session records are flushed, and check in after some sysadmin work on this. Thanks for patience.

[2016-10-17 18:08] jywarren opened #898 "Images in emails are relative-path"
This is a followup to #893 and the earlier #886. Self-assigning!

Also here: https://spectralworkbench.org/dashboard

[2016-10-17 18:35] jywarren commented on #895
I tried to make a change (probably wrong) and attempted to build out a test that'd catch this here: https://github.com/jywarren/plots2/commit/57b3923e3f569ad09f6779d355ec0d9882cc7527 -- feel free to pull in that commit or copy from it.

[2016-10-17 20:10] jywarren opened #899 "Signup sequence overhaul"
The signup interface is perhaps our most important design of the entire site -- if people can't get past it, all participation/contribution is limited. Let's take a thorough look at it, esp. the captcha, which we've heard reports of folks getting stuck at.

The captcha of the signup sequence looks like this now:

![screen shot 2016-10-17 at 4 13 09 pm](https://cloud.githubusercontent.com/assets/24

[2016-10-17 20:18] jywarren commented on #899
The questions could also say, for example:

[2016-10-17 20:21] ebarry commented on #899
Let's also connect this train of thought with the idea of adding a question
at Registration related to evaluation

--

+1 336-269-1539
@lizbarry <http://twitter.com/lizbarry>

On Mon, Oct 17, 2016 at 4:18 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-10-17 20:28] jywarren commented on #683
https://github.com/binarylogic/authlogic#authlogic-add-ons

[2016-10-17 20:40] jywarren commented on #683
Is facebook more important than the rest? I'm not 100% sure but this looks good for FB: https://github.com/studybyte/authlogic_facebook_connect

I'm not sure if it makes it more complicated if we then later try to add Twitter, or google... but can look into this. I added this as an item in the WWG prioritization for PL staff to discuss, but we could in theory create a set of `help-wanted` issues f

[2016-10-17 21:13] jywarren commented on #771
Sorry, is that the right link?

On Sat, Oct 15, 2016 at 1:06 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-10-18 14:54] steviepubliclab commented on #899
Hi there a few questions:

- I like the evaluation question idea but for the spam filter aspect, the
person would have to choose only the one option right?
- I like to COC thing too, do we have a link on the page to it?
- I was just reading that the yes/no questions are easier for spambots to
get past than typed answers. How successful has this system been?
-What about the google system that shows

[2016-10-18 15:16] jywarren commented on #899
person would have to choose only the one option right?

Yeah, I'm hesitant to mix a spam filter with evaluation questions... that sounds complicated from a study design perspective.

We don't, but can. What would the wording be? Perhaps similar to and/or alongside the "you agree to open source" text at the bottom. I suggest something starting with "A respectful space is essential if we're to work

[2016-10-18 15:18] jywarren commented on #898
Fixed in #900!

[2016-10-18 16:03] steviepubliclab commented on #899
Hello,

RE wording on COC. I like the idea of including it on the bottom.  How
about this, most of it is strait from the COC:
"The code of conduct applies to all spaces managed by the Public Lab
community and non-profit, both online and in person."

With a link? Could it come up in a new tab so people don't loose the login
page?

-Stevie

On Tue, Oct 18, 2016 at 10:16 AM, Jeffrey Warren <notificat

[2016-10-18 16:52] steviepubliclab opened #903 "Reverse order of comments display on question pages"
Just expressing a preference for the comments on the questions page to post the most recent **on the bottom instead of the top** -- so in chronological, instead of reverse-chronological order.

This would help make it consistent with the rest of the commenting features on Public Lab and is the natural way we read, at least in english :)

(related to #884, an overall UI design issue for Q&A)

The c

[2016-10-18 17:05] jywarren opened #904 "New form design for asking questions"
Currently we re-use the basic note posting form at https://publiclab.org/post for questions. We should revise this to be more specific to, and helpful for, question asking.

Questions are often asked by people new to Public Lab, who will need extra clarity and context. Here's a design which addresses this:

![screen shot 2016-10-18 at 12 44 10 pm](https://cloud.githubusercontent.com/assets/24359/1

[2016-10-18 17:06] jywarren commented on #904
@carolineh101 - I know you're busy, but curious if this issue is of interest to you! @steviepubliclab and I did some design work on it and it'd be a really key improvement to the Q&A system. Thanks!

[2016-10-19 07:04] carolineh101 commented on #904
I'd love to work on this issue!  However, given that I'm in school, it may take a while before I have updates on it – would that be ok?

[2016-10-19 15:31] jywarren commented on #904
Sure -- would it help if we tried to break it into pieces -- say, one for
separating out the question form, another for the actual design work, maybe
a third for testing the template redirect, for example?

On Wed, Oct 19, 2016 at 3:04 AM, Caroline Ho <notifications@github.com>
wrote:

[2016-10-19 17:36] ebarry opened #906 "Problem with moderation notifications."
### What happened just before the problem occurred

Notifications are repeating in their email delivery, again and again, as of today around 11AM.
![screen shot 2016-10-19 at 1 35 43 pm](https://cloud.githubusercontent.com/assets/161439/19530238/0e865d7a-9601-11e6-9801-a18f59c9d2a8.png)

[2016-10-19 18:11] ebarry commented on #906
I have not received any further notifications since 1:30pm today, so not sure if this is fixed?

[2016-10-19 18:13] icarito commented on #906
I've not investigated still. I received the duplicates as well.

On 19/10/16 13:11, Liz Barry wrote:

[2016-10-20 07:35] carolineh101 commented on #904
Yes, that would definitely help!

[2016-10-20 12:57] jywarren commented on #906
Hi, Liz - do you mean that you get each one twice? This may be because you
are both subscribed to moderators@ AND your'e a moderator on plots2. Can
you check the message details on each to see if that's the case? And can
you make the title a bit more specific -- like "duplicated moderation
emails"

On Wed, Oct 19, 2016 at 2:13 PM, Sebastian Silva <notifications@github.com>
wrote:

[2016-10-20 13:37] ebarry commented on #906
OK, so i think that there were just so many posts (almost 40) with extremely similar titles that i thought i was getting duplicates, but actually i don't think they were. I would close this issue now.

[2016-10-20 15:37] jywarren commented on #898
Not fixed -- still getting relative-path emails :-(

fixed in widgets, like on the SpectralWorkbench.org dashboard, though!

[2016-10-20 15:56] steviepubliclab opened #909 "Invite to Barnraising!"
Hi there,
New issue alert :).

Just wanted to invite everyone who has been working on, or following, the Public Lab codebase to the annual event we have coming up November 11-13th. Come and meet the community who's using this code!

![screenshot 2016-08-31 at 12 13 53 pm](https://cloud.githubusercontent.com/assets/7490478/19565365/2df88916-96ac-11e6-808a-8faa8afba4ec.png)

About the event::

The "

[2016-10-20 16:10] ananyo2012 commented on #909
An issue for Invitation! :blush: This is really something innovative @steviepubliclab Thanks for the invitation Stevie. Hope I could attend but having my University exams around that time and some Visa issues! Hope to attend it some day in future! :blush:

[2016-10-20 19:05] jywarren opened #910 "Separate Question posting form template from regular /post form"
In #904, we're tackling the re-design of the note posting form. But to implement the re-design, we'll need some routing changes.

**If you'd like to do this before #904, you can just copy the template at `/app/views/editor/post.html.erb` to `/app/views/editor/question.html.erb` and the redirects will be in place -- the actual template redesign in #904 can then follow.**

First, we should make a ne

[2016-10-20 19:06] jywarren commented on #904
OK -- I broke out the routing tasks with some extra steps into #910!

[2016-10-21 02:33] #891 closed

[2016-10-21 14:38] jywarren commented on #885
This is still a problem -- should check the line number of the error again after recent code changes. I want to update that note with:

[code]

[2016-10-21 17:04] jywarren commented on #898
Fix submitted in #912; looks good there.

[2016-10-21 17:04] #898 closed

[2016-10-21 18:02] jywarren opened #913 "UI design work on note Edit button"
To make more space in mobile display, we moved the "Edit" button from research note headers into the "utilities" dropdown next to the `Follow` button on pages like this:

https://publiclab.org/notes/pdhixenbaugh/10-20-2016/blink-an-led-write-a-sketch-and-build-a-breadboard-circuit-for-the-riffle

Though you have to be an admin to edit someone else's post, or see the button, i've screenshotted it h

[2016-10-24 19:13] jywarren commented on #801
Solved in #917!

[2016-10-24 19:13] #801 closed

[2016-10-24 19:15] jywarren commented on #826
I believe this is fixed in #917!

[2016-10-24 19:15] #826 closed

[2016-10-24 19:26] jywarren opened #918 "Get parent tags to display child tag content in graphs"
We've just created a [tag aliasing system](https://publiclab.org/wiki/power-tags#Tag+aliasing) in #871, so that content tagged with `spectrometer`, which has a tag.parent of `spectrometry`, appears on the `spectrometry` (parent) tag page:

https://publiclab.org/tag/spectrometry

However, the graph shown on that page does not show `spectrometer`-tagged content, just the listing below does. Let's fi

[2016-10-24 19:33] jywarren opened #919 ""Suggest a new title" feature to make friendly suggestions of more descriptive titles"
This would need some UI design work, but the idea is that it'd be a comment which could actually have a button on it that says something like:

Then that button would directly replace your title. Curious what people think of this idea -- it'd likely need both a new controller action in the [notes controller](https://github.com/publiclab/plots2/tree/master/app/controllers/notes_controller.rb), and

[2016-10-24 21:01] mathewlippincott commented on #814
This would be very helpful for standardized field reports or data reports.

I could create a template for a flight report, for instance.  when someone goes to replicate a flight with a piece of equipment, they could be prompted for standard categories such as:

Weather
Date
Location
Kite
other equipment
payload
notes and observations

I imagine this would give us a start towards @gretchengehrke's

[2016-10-24 22:26] nickstaggs commented on #714
@jywarren could you assign this to me?

[2016-10-24 22:34] jywarren commented on #714
Absolutely -- done! Thanks!!

[2016-10-25 13:42] ebarry commented on #919
Seems like I see this idea from multiple perspectives, one of them is that this is essentially a type of in-line commenting that helps us help each other granularly improve our communication.

At first though, reading this does kind of rub me the wrong way because i do love personal / idiosyncratic expression ... but i then i kind of come around to this idea for helping each other clarify our phra

[2016-10-25 16:57] #906 closed

[2016-10-25 17:15] jywarren commented on #128
I think this is fixed and tested against, but please re-open if not!

[2016-10-25 17:15] #128 closed

[2016-10-25 17:15] jywarren commented on #29
Rich editor will solve this!

[2016-10-25 17:15] #29 closed

[2016-10-25 17:16] #43 closed

[2016-10-25 17:32] jywarren commented on #133
Deprecated feature!

[2016-10-25 17:32] #133 closed

[2016-10-25 17:33] jywarren commented on #105
Hi, Liz - could we close this due to the Eval project, at least for now?

[2016-10-25 17:34] jywarren commented on #174
Solving this in Rich Editor project, thanks! https://github.com/publiclab/PublicLab.Editor/

[2016-10-25 17:34] #174 closed

[2016-10-25 17:34] jywarren commented on #166
fixed in new dashboard!

[2016-10-25 17:34] #166 closed

[2016-10-25 17:34] jywarren commented on #161
Addressing this in Rich Editor, thanks! https://github.com/publiclab/PublicLab.Editor/

[2016-10-25 17:34] #161 closed

[2016-10-25 17:35] jywarren commented on #151
Folding into Rich Editor project, thanks! https://github.com/publiclab/PublicLab.Editor/

[2016-10-25 17:35] #151 closed

[2016-10-25 17:37] jywarren commented on #249
This'll be partially addressed in the new Rich Editor, but we may also want to switch to a more compatible Markdown renderer as in https://github.com/publiclab/plots2/issues/139

[2016-10-25 17:38] jywarren commented on #100
Reforming this as a `first-timers-only` issue! ([see here](https://publiclab.org/wiki/developers#Preparing+issues+for+newcomers))

[2016-10-25 17:50] jywarren commented on #100
Hi, Bryan -- mind if I delete our comments to make this look a little less intense to a first-timer?

[2016-10-25 18:47] jywarren commented on #739
Believe this is unnecessary -- image upload now working. Closing!

[2016-10-25 18:47] #739 closed

[2016-10-25 19:26] jywarren opened #920 "UI redesign of tag list page"
https://publiclab.org/tag/riffle doesn't highlight the central https://publiclab.org/wiki/riffle page --

@pdhixenbaugh @ebarry

Also suggestion of "pinning" content to the top of the tag page.

[2016-10-25 20:22] jywarren opened #921 "Ability to repost github files as research notes/activities"
It's possible to use relative links in Github repository README files, and convert them into absolute links using the latest commit hash. Example:

Version-static README: https://github.com/OpenWaterProject/riffle_328/blob/84f5294/README.md#quick-start -- this could be an activity on Public Lab.
- raw Markdown version: https://raw.githubusercontent.com/OpenWaterProject/riffle_328/84f5294/README.md

[2016-10-25 21:47] ebarry commented on #919
Hi @pdhixenbaugh here's the issue about helping to improve titles that we mentioned on the open call earlier today!

[2016-10-26 16:06] ZettStai commented on #100
Hi, I'd like to try this one. Let me set up the repo locally and test and I can start working on it.

[2016-10-26 16:10] jywarren commented on #100
That would be great, thanks and please ask if you run into trouble!

On Oct 26, 2016 12:06 PM, "ZettStai" <notifications@github.com> wrote:

[2016-10-27 23:06] jywarren commented on #885
Found the issue here!

Closing and fixed render error too.

[2016-10-27 23:06] #885 closed

[2016-10-27 23:13] jywarren opened #925 "Publish button on an edited note when seeing save errors doesn't do anything"
I was on this note, which is now a question:

https://publiclab.org/questions/warren/09-13-2014/riffle-coqui-hot-cold-tapwater-test

It started as a note, but was "converted" to a question by adding a question:____ tag

I pressed edit and got to this URL:

https://publiclab.org/notes/edit/11140?t=1476305825&redirect=question&template=question

I wanted to save this longer thread:

After making thi

[2016-10-28 11:02] ryzokuken commented on #771
@jywarren If you could help me narrow down the bower package we need, I could perhaps fix this.

[2016-10-28 12:24] alexey-klimuk commented on #903
Hi guys, I've just created pull request for this issue https://github.com/publiclab/plots2/pull/926

[2016-10-28 16:29] manish310794 commented on #918
@jywarren What if the hierarchy goes like this `spectometry` <- `spectometer` <- `sub-category`? Will the `spectrometer` tag page show content with tags `spectometer` and `sub-category` as well?

[2016-10-28 16:37] jywarren commented on #918
Hi! No, I think only one level... To do more could lead us to circular and
infinite queries, right?

Thanks!

On Oct 28, 2016 9:29 AM, "Manish Agarwal" <notifications@github.com> wrote:

[2016-10-28 16:43] manish310794 commented on #918
Yes, you are right. It might lead to circular queries since it not a strict category-sub-category system.

[2016-10-28 17:02] jywarren commented on #903
Great, thanks -- I'll check it out!

On Oct 28, 2016 5:24 AM, "Alexey" <notifications@github.com> wrote:

[2016-10-28 17:09] jywarren commented on #771
So I think this would work: https://github.com/fnando/i18n-js which you could reference directly.

[2016-10-28 21:56] jywarren commented on #903
Solved today, thanks a lot!

[2016-10-28 21:56] #903 closed

[2016-10-28 22:05] jywarren commented on #812
I re-enabled the first of the two tests after finding a bug -- see this change: https://github.com/publiclab/plots2/commit/91f586424fcc69175c1d237b6f07861fca671c64#diff-21c596e0afdbbb7a1a6c95f3ad6c9d87R6

The newly activated (and passing) test is at https://github.com/publiclab/plots2/commit/91f586424fcc69175c1d237b6f07861fca671c64#diff-f27a7eeed9f169d823fb7849563a7878R22

But actually it's not re

[2016-10-28 22:07] jywarren commented on #840
Oops, sorry forgot to close this! Fixed in https://github.com/publiclab/plots2/commit/43222cd31f306344e0fcfca04c996ba96f160ff0

Thanks again and take a look at this if you're looking for a new challenge!

https://github.com/publiclab/plots2/labels/help-wanted

[2016-10-28 22:07] #840 closed

[2016-10-28 23:02] jywarren opened #928 "Display completed/replicated Activities on profile pages"
We now have "activities" that people can do on the PublicLab.org site: https://publiclab.org/notes/liz/08-30-2016/check-out-these-activity-grids

As people view them, they're prompted to post their results, kind of like a replication: https://publiclab.org/notes/stoft/09-16-2016/stability-upgrade-mockup-for-plab-spectrometer-3-0

This is my replication of the above activity, for example: https://p

[2016-10-28 23:04] jywarren commented on #485
Are there other design priorities we're not capturing in the new activity grids, related to this post? I'm going to close it, but we may want to think through overall UI design for tool/technique pages, perhaps along the lines of the 3-column layout above, or at least thinking about what to do with the sidebar.

[2016-10-28 23:04] #485 closed

[2016-10-28 23:04] jywarren commented on #642
I believe this is completed since we made Solr not required for testing or development, thanks!!

[2016-10-28 23:04] #642 closed

[2016-10-28 23:05] #925 closed

[2016-10-29 09:52] ryzokuken commented on #771
Okay, so here's what I've been thinking about:
1. add the package to bower dependencies (involves updating `bower.json`
2. remove the file from the codebase
3. update the assets pipeline to use the one located in `bower_modules/` rather than 'public/javascripts/'
Sounds okay?

[2016-10-30 00:05] jywarren opened #931 "List recent code contributors in footer, using "name-your-contributors" script"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-10-30 00:30] jywarren commented on #931
Left a bug report when ran out of memory while running name-your-contributors: https://github.com/RichardLitt/name-your-contributors/issues/15

[2016-10-30 18:18] jywarren commented on #931
I like this -- we should make a sub-template called `_footer_contributors.html.erb` and include it in the appropriate section of the footer with a message like:

Is there a way also to specifically invite, using [Outreachy's](https://www.gnome.org/outreachy/) language, "women (cis and trans), trans men, and genderqueer people, Black/African American, Hispanic/Latin@, American Indian, Alaska Native

[2016-10-30 18:19] jywarren commented on #931
Perhaps we could use the shorter text from their front page in the footer text:

[2016-10-30 18:44] jywarren commented on #771
Yes, that's perfect! I'm not sure we run any tests against the module, but
that could be an additional followup we could post as a new issue if you're
inspired to.

On Sat, Oct 29, 2016 at 2:52 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-10-30 19:04] jywarren opened #932 "Include one-line outreach-oriented note in email footers"
Currently, emails look something like (depending on if they're questions, comments, notes, etc):

[code]

A typical email (for a new note) is generated here: https://github.com/publiclab/plots2/blob/master/app/views/subscription_mailer/notify_node_creation.html.erb

We could include a line at the bottom using the Features system, using the `feature()` helper:

[code]

Then the actual text could be

[2016-10-30 19:07] jywarren commented on #722
This was fixed in #778 thanks to @ap916, thanks a lot for your contribution -- forgot to close it!

[2016-10-30 19:07] #722 closed

[2016-10-30 21:04] jywarren commented on #843
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2016-10-30 21:11] jywarren commented on #843
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2016-10-30 21:12] jywarren commented on #879
Hi, @prabhagharan - just checking, did you open a PR for this, or were you interested in doing so? Thanks!

[2016-10-30 21:13] jywarren commented on #100
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2016-10-30 21:14] jywarren commented on #711
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? I believe we've fixed the cloud9 install process, so hopefully that's no longer a problem.

Thanks!

[2016-10-30 21:15] jywarren commented on #776
Completed!

[2016-10-30 21:15] #776 closed

[2016-10-30 21:16] jywarren commented on #793
Hi, Ralph - just wanted to say we've added some more JavaScript tests to the `rake spec:javascripts` suite, and I don't think that'll affect your work, but just a heads up. And please do reach out if you get stuck, thanks!

[2016-10-30 21:33] jywarren opened #933 "Make "contributors" tab on tag listing pages"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from p

[2016-10-30 21:34] jywarren commented on #714
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2016-10-31 02:28] jywarren commented on #918
Hi, were you interested in taking this issue on? I'd be happy to offer some more input if so.

[2016-10-31 03:58] ryzokuken commented on #843
I'd get on this ASAP after the bower issue is closed. Thanks for reminding me :)

[2016-10-31 04:04] jywarren opened #934 "Add questions count to profile page"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from p

[2016-10-31 04:16] jywarren opened #935 "Create a @user.questions method to return a user's questions"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from p

[2016-10-31 04:25] ykl7 commented on #932
@jywarren mind if i take this one?

[2016-10-31 04:30] jywarren commented on #607
This works, but there's some other issue at play -- on [the Barnraising page](https://publiclab.org/barnraising) I now see the correct number (6) show for a moment, then change to 17! I think there's some odd caching going on in the count requested by JavaScript:

https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/like.js

And perhaps we should try to rework the liking code her

[2016-10-31 04:34] jywarren commented on #932
That would be great, but we may be waiting on a fix from the library that
would generate this...

On Oct 30, 2016 9:25 PM, "ykl7" <notifications@github.com> wrote:

[2016-10-31 04:35] ykl7 commented on #932
I could wait for the library fix if needed. If it is not resolved, I'll look into it.

[2016-10-31 04:48] jywarren commented on #932
OK -- I'd like to use the library, as manually including names could be
quite onerous every time we publish. Thanks, and if you're looking for a
challenge in the meantime, I've added some new help-wanted issues.

On Sun, Oct 30, 2016 at 9:35 PM, ykl7 <notifications@github.com> wrote:

[2016-10-31 05:04] ykl7 commented on #932
That sounds good

[2016-10-31 05:13] manish310794 commented on #918
@jywarren Yes I am interested to take this up.

[2016-10-31 11:40] ryzokuken commented on #771
@jywarren, The library page (https://github.com/fnando/i18n-js) describes the rails-y way to do it (by adding it to the Gemfile). As the library existed on the bower package index, I'm pretty sure it can be installed using bower too. Which one of the two ways would you like me to add the library to the project?

[2016-10-31 14:09] jywarren commented on #918
Super! Tell me if you need anything and thanks!

On Oct 31, 2016 1:13 AM, "Manish Agarwal" <notifications@github.com> wrote:

[2016-10-31 14:11] jywarren commented on #771
I slightly prefer bower, as that's what we've done for most of the other
JavaScript assets. Thanks!

On Oct 31, 2016 7:40 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-10-31 14:13] ryzokuken commented on #771
Sure thing, I'm on it.

[2016-10-31 14:27] ryzokuken commented on #771
@jywarren I understand that there aren't any unit tests for this, but is there any way I could test if the module works on my local environment before pushing my changes to the repository?

[2016-10-31 14:47] jywarren commented on #771
Yes, using jasmine tests -- I believe the readme has a section on them?

On Oct 31, 2016 10:27 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-10-31 14:59] ebarry commented on #931
I respect Outreachy and could be convinced to take their word for it but i was surprised to see the demographic categories from the US Census being used as welcoming text.

[2016-10-31 15:04] ZettStai commented on #100
I'm still trying to set this up locally on my Mac, but I'm running into issues with Solr. Since this is my first issue, would it be better to use a Cloud9 environment instead?

[2016-10-31 15:04] ryzokuken commented on #771
They do.

[2016-10-31 15:15] ryzokuken commented on #771
`rake spec:javascript` does not work. Also, it does not appear in `rake --tasks`

[2016-10-31 15:26] jywarren commented on #931
I don't think the US Census uses all of those terms, and I know Outreachy spent a good deal of time testing out this language with people. Do you have suggestions to change it, or would you like to contact the Outreachy team for more on their reasoning and process?

[2016-10-31 15:42] ebarry commented on #931
I wonder if ConductCom would be interested in inquiring with Outreachy about this?

the terms Black/African American, American Indian, Alaska Native, Native Hawaiian, and Pacific Islander people seem like a federal United States viewpoint, these exact terms are from the 2010 US Census with the clarification that Hispanic/Latin@ is an ethnicity not a race category https://www.census.gov/quickfacts/

[2016-10-31 15:44] ebarry commented on #931
I am going to reach out to ConductCom about this.

[2016-10-31 15:59] jywarren commented on #931
This is Outreachy's US program, yes!

On Oct 31, 2016 11:42 AM, "Liz Barry" <notifications@github.com> wrote:

[2016-10-31 16:52] jywarren commented on #771
I believe it's rake spec:javascripts or rake specs:javascript, but I just
took a red eye flight and my brain isn't working that well. We should make
a more standard alias like rake test:javascript or something.

On Oct 31, 2016 12:40 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-10-31 16:55] jywarren commented on #100
That could work -- but in the latest version solr is no longer required for
development or testing... Do you have the latest version?

Thanks!!!

On Oct 31, 2016 11:11 AM, "ZettStai" <notifications@github.com> wrote:

[2016-10-31 16:57] ryzokuken commented on #771
@jywarren I believe it is `rake spec:javascript` because:
1. The README says so
2. Neither of the others work anyway
3. `rake test:all` also calls the exactly the same command

This had been working earlier when I ran tests on my local machine. I have no idea what went wrong. Maybe some other contributor can run a quick check and tell me if it is a local issue.

[2016-10-31 17:17] jywarren commented on #771
Can you open a pr so we can see it run on the TravisCI test instance?

On Oct 31, 2016 12:57 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-10-31 17:18] ryzokuken commented on #771
definitely.

[2016-10-31 19:23] ruan-brandao commented on #935
Hello! I wanna do this!

I'll clone the project and start working on this. I'll post any questions I have here on this thread, ok?

[2016-10-31 19:26] ebarry commented on #935
That would be absolutely super, Ruan! A bunch of us are here and can help
discuss, etc.

--

+1 336-269-1539
@lizbarry <http://twitter.com/lizbarry>

On Mon, Oct 31, 2016 at 3:23 PM, Ruan Brandão <notifications@github.com>
wrote:

[2016-10-31 20:31] sandyvern commented on #910
Would it be ok if I give this one a go?

[2016-10-31 20:33] ebarry commented on #910
HI Sandy! Great to hear from you again :D
of course it would be! What do you need from us?

[2016-10-31 20:38] sandyvern commented on #910
Not sure yet, as I haven't entirely checked things out...but will let you know if I run into trouble :-)

[2016-10-31 21:13] ebarry commented on #725
Hi @nickstaggs! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org,

[2016-10-31 21:14] ebarry commented on #722
Hi @ap916! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org, stevi

[2016-10-31 21:14] ebarry commented on #719
Hi @sjones88! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org, st

[2016-10-31 21:14] ebarry commented on #718
Hi @neliojrr! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org, st

[2016-10-31 21:15] ebarry commented on #717
Hi @cpdavngr! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org, st

[2016-10-31 21:16] ebarry commented on #716
Hi @sandyvern! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org, s

[2016-10-31 21:16] ebarry commented on #715
Hi @RodCardenas! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org,

[2016-10-31 21:17] ebarry commented on #708
Hi @ryzokuken! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org, s

[2016-10-31 21:17] ebarry commented on #701
Hi @ykl7! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org, stevie

[2016-10-31 21:18] ebarry commented on #681
Hi @carolineh101! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org

[2016-10-31 21:18] ebarry commented on #329
Hi @ykl7! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org, stevie

[2016-10-31 21:19] ebarry commented on #309
Hi @franktank! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org, s

[2016-10-31 21:19] ebarry commented on #272
Hi @jiteshjha! Thank you again for your valuable contribution to Public Lab  -- in your original First-Timers-Only issue as well as in GSOC!!! I would like to invite you to join us in a video conference to say a few words about what you contributed as a First TImer and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which i

[2016-10-31 21:20] ebarry commented on #247
Hi @sudheesh001! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org,

[2016-10-31 21:20] ebarry commented on #240
Hi @chongr! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org, stev

[2016-11-01 00:18] mathewlippincott commented on #753
Another missing note, this one much more recent:
https://publiclab.org/notes/Ecta64/04-24-2016/high-wind-range-tailless-sled-kite-design

This one does not appear in Ecta64's profile.  Its only record is a [link from one of my notes](https://publiclab.org/notes/mathew/05-02-2016/stormy-o-weathers-horned-allison-towards-a-kite-wind-speed-meter).
![screen shot 2016-10-31 at 5 14 55 pm](https://cloud

[2016-11-01 01:20] gcttong commented on #934
working on it!

[2016-11-01 02:31] gcttong commented on #934
OK submitted the pull request!

[2016-11-01 02:44] gcttong commented on #933
I can do this one!

[2016-11-01 04:12] ryzokuken commented on #708
Hey @ebarry! Firstly, thanks for the invitation. However, I'd like to mention that I'm just a kid wanting to contribute to the project. Also, 1:00 PM EDT is 10:30 PM in my timezone and I'd most probably be having school the next day, so I don't really know if I'd be able to attend this.

[2016-11-01 04:37] #934 closed

[2016-11-01 04:37] #933 closed

[2016-11-01 06:03] darshan934 commented on #100
Hi, I'd like to work on this. All i need is to make a pull request and change/add/delete code to fix the issue right?
This is my first time contributing to OpenSource, hence i apologize if my questions sound stupid.
Thanks :)

[2016-11-01 08:04] ryzokuken commented on #100
@darshan934 I guess @ZettStai is working on this. Take a look at [other first timer issues](https://github.com/publiclab/plots2/issues?q=is%3Aopen+is%3Aissue+label%3Afirst-timers-only) to find one that suits you.

[2016-11-01 08:06] darshan934 commented on #100
@ryzokuken alright, thank you for your quick response :)

[2016-11-01 14:04] ebarry commented on #708
Hi @ryzokuken, there are no age limits on being awesome!
If it works for your schedule considering school the next day, and if it works for your family, you are most welcome to join us. Feel free to have a family member get in touch with me directly with any questions -- liz@publiclab.org

[2016-11-01 14:27] ebarry opened #941 "Sort the order of activities in an Activity Grid by Likes"
### What happened just before the problem occurred

The activity grid at https://publiclab.org/wiki/translation#Activities+for+people+who+want+to+translate
is not sorting by likes. As i write this issue, one of the three notes has 1 like, the others have 0 likes. Yet, at page load, the grid doesn't list the note with the 1 like above the notes with 0 likes.

It is already possible to simply click

[2016-11-01 14:36] jywarren commented on #941
This would make a good help wanted issue; relevant lines of code are:

https://github.com/publiclab/plots2/blob/master/app/models/drupal_node.rb#L770

And especially: https://github.com/publiclab/plots2/blob/master/app/helpers/application_helper.rb#L74

Can you explain more of why it should sort that way, and tag this?

[2016-11-01 14:52] ebarry commented on #941
The number of "likes" on activities is a proxy measure of how popular/accessible an activity is. The most "liked" activities would be great places for new people to start, and because of that should be featured close to the top of the grids that they are in. Read all about activities and why we're using these sortable grids to organize them here: https://publiclab.org/notes/liz/08-30-2016/check-ou

[2016-11-01 15:06] ebarry commented on #933
Hi @gcttong! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org, ste

[2016-11-01 15:11] ryzokuken commented on #708
Thanks @ebarry, I'll try my best.

[2016-11-01 17:00] #941 closed

[2016-11-01 17:02] ebarry commented on #941
Hi @foggy1! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org, stev

[2016-11-01 17:06] ebarry commented on #100
Hi @ZettStai ! Thank you for reaching out to Public Lab! I would like to invite you to join us in a video conference to say a few words about what you found engaging about the Public Lab community and/or this particular github issue. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else emai

[2016-11-01 17:09] ebarry commented on #934
Hi @gcttong! Thank you again for your valuable contribution to Public Lab. I would like to invite you to join us in a video conference to say a few words about what you contributed and how your experience was. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email liz@publiclab.org, ste

[2016-11-01 17:10] ebarry commented on #935
Hi @ruan-brandao! Thank you for reaching out to Public Lab! I would like to invite you to join us in a video conference to say a few words about what you found engaging about the Public Lab community and/or this particular github issue. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else e

[2016-11-01 17:10] ebarry commented on #711
HI @Squawk09, thank you for reaching out to Public Lab! I would like to invite you to join us in a video conference to say a few words about what you found engaging about the Public Lab community and/or this particular github issue. The event is https://publiclab.org/openhour, and it’s coming right up on November 7th, at 1pm EDT which is UTC/GMT -4.

Please feel free to respond here, or else email

[2016-11-01 17:23] foggy1 commented on #941
@ebarry I'd be happy to join!

[2016-11-01 18:24] jywarren commented on #753
thanks for reporting -- will look into this first thing tomorrow.

On Mon, Oct 31, 2016 at 5:18 PM, mathew lippincott <notifications@github.com

[2016-11-01 20:04] carolineh101 commented on #681
Hi @ebarry, thank you for inviting me to participate in the video conference!  Unfortunately, I have class at this time and will not be able to join in.

[2016-11-01 20:39] sandyvern commented on #910
I opened a 2nd pull request as I set up a Cloud9 workspace rather than trying to work locally. Let me know if you want me to close the first one. Also it looks like the testing didn't pass....I think it is the test edit...I wasn't sure about the last part about "probably remove the `assert_select` line" cause there are 2 `assert_select` . So not sure if both of those lines are not needed or not?

[2016-11-02 01:14] ruan-brandao commented on #935
Hi @ebarry. Unfortunately, I won't be able to attend to the Open Hour :disappointed:

[2016-11-02 05:05] ZettStai commented on #100
@jywarren I tried reinstalling without Solr, but I'm still having issues on my mac. I was able to successfully deploy on cloud9 though after running the script a couple of times (the database didn't fully set up the first time for some reason). The tests complete now, but it says 0% passed. If that's expected, I'll go ahead and start working on this tomorrow. Sorry for the delay.

[2016-11-02 14:30] jywarren opened #946 "Error on some map pages"
### What happened just before the problem occurred

Went to: https://publiclab.org/map/landfill-incinerator-saugus-massachusetts/2011-10-10

The server error is:

[code]

should be pretty easy to fix with (i think):

[code]

or, we could try making it simpler... open to ideas here:

[code]

and we should create some test fixtures for this!

[2016-11-02 14:32] jywarren opened #947 "Some profiles show error"
### What happened just before the problem occurred

Got an error on some profile pages, we should make better test fixtures!:

https://publiclab.org/profile/fomifed

[code]

[2016-11-02 14:42] jywarren commented on #100
Hi, ZettStai - if you paste the test output into a Gist at gist.github.com,
I can take a look; or, you can give me access to your cloud9 server to take
a look there. Thanks for your work to get this up and running!

On Wed, Nov 2, 2016 at 1:05 AM, ZettStai <notifications@github.com> wrote:

[2016-11-02 17:17] #753 closed

[2016-11-02 17:17] #946 closed

[2016-11-02 17:17] #947 closed

[2016-11-02 18:56] jywarren opened #949 "incorrect "question:generalspectrometer" tag gets added to questions from somewhere"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-11-02 23:17] ajessee commented on #935
@jnaftali and I will start working on this issue.

[2016-11-02 23:20] dixonscottr commented on #711
Hi, @jdollete, @mr-jungchoi and I will be working on this tonight

[2016-11-02 23:38] genericlady commented on #895
I'll give this a shot

[2016-11-03 00:11] Jefferson-Faseler commented on #100
I have my environment running, I think I will try to tackle it.

[2016-11-03 00:14] ajessee commented on #949
@jnaftali and I would like to take a crack at this. We will open two pull requests, one with the simple solution of adding a comma, and another with a solution that we think might work.

[2016-11-03 04:49] ZettStai commented on #100
@jywarren Here's the test output: https://gist.github.com/ZettStai/5675160a5b0e28d36d112eef1cc9b40c

[2016-11-03 14:16] genericlady commented on #895
The problem is with `search` since it's being required as part of the ruby strong params. I don't know if it's missing from the form or missing from the search params hash. I didn't have time to finish debugging it since everyone was leaving the meetup and I got there late. bon chance!

[2016-11-03 19:35] jywarren commented on #753
Updates: the original Hello Kitty post is working now: https://publiclab.org/notes/eymund-diegel/10-26-2012/hello-kitty-watchdog-patrols-gowanus-canal-skies (not actually sure what the solution was unless Sebastian was able to do something with encodings... but happy)

I got an email notification for this one but don't see the comment here anymore; maybe it was a mistake? But in any case, the URL

[2016-11-03 20:03] mathewlippincott commented on #753
The Ecta64 notes-- I deleted my comment on this issue because I emailed Ecta64 and he indicated that he'd deleted the earlier notes (so not a bug).  He had concerns about the kite's stability.  I pushed him to re-post and annotate rather than delete, hence the contemporary date on the new URL.

[2016-11-03 20:11] jywarren commented on #895
Thank you!

Looking at this again, I've pulled out that test I wrote in my last comment and created a pull request for it here: #952.

It looks like the code now in the PR should generate a `search` parameter from the form, and that the test matches that expectation as well. The query https://publiclab.org/searches?search=flame also now does not error, but returns no results, which for the time be

[2016-11-03 20:12] jywarren commented on #753
Awesome, thanks!!

On Nov 3, 2016 4:03 PM, "mathew lippincott" <notifications@github.com>
wrote:

[2016-11-03 20:41] jywarren commented on #895
The PR still fails, due to:

[code]

Looking at the code again, line 20 of `searches_controller.rb` uses the `search_params` method, here:

https://github.com/publiclab/plots2/blob/master/app/controllers/searches_controller.rb#L89

[code]

This is odd to me -- we require the `search` parameter, but permit `:key_words` -- what's the difference? It looks to me that `:key_words` is what's actually us

[2016-11-03 20:51] jywarren commented on #895
I pushed a new commit to #952 to see how that works.

[2016-11-03 21:08] jywarren commented on #100
Hi, @Jefferson-Faseler -- it looks like @ZettStai got this one and finished it up in #951 -- but if you're looking for another challenge, we'd love to have your involvement in another `first-timers-only` issue here:

https://github.com/publiclab/plots2/labels/first-timers-only

Or a more general help-wanted issue: https://github.com/publiclab/plots2/labels/help-wanted

We may not have a huge # of

[2016-11-03 21:09] #100 closed

[2016-11-03 21:12] jywarren commented on #949
We'd love your help on this and are happy to offer any assistance you might need. Thanks a lot!

Just curious -- we're trying to improve our outreach to new contributors -- how did you happen to hear about us?

[2016-11-03 21:13] jywarren commented on #711
Also, just wanted to say we've just fixed/updated our cloud9 install script, so if you were seeing an error, it shouldn't happen now (just tested this myself). Thanks and apologies for the install issue!

[2016-11-04 10:25] ryzokuken commented on #932
@ykl7 Still working on it?

[2016-11-04 11:23] ryzokuken commented on #899
or we could use Google's [reCAPTCHA API](https://www.google.com/recaptcha/intro/index.html).

[2016-11-04 13:17] ykl7 commented on #932
@ryzokuken I was told to wait for a library fix by @jywarren . If that fix doesn't work, I'll do it, but no word yet.

[2016-11-04 13:17] ryzokuken commented on #932
okay, cool.

[2016-11-04 15:15] ZettStai commented on #100
@jywarren I saw one of your first-timers-only issues on Twitter @first_tmrs_only

@ebarry Thank you for inviting me. Unfortunately I won't be able to make attend, but I appreciate being invited

Thank you both for the opportunity. The instructions were very clear and I was almost overthinking it. Hope to contribute more in the future!

[2016-11-04 15:29] jywarren commented on #899
We had trouble with the previous version of their API, in that spammers
were getting through. But perhaps the new version works better -- it's
worth a try, esp. if it makes it easier for people to create accounts.

On Fri, Nov 4, 2016 at 7:23 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-11-04 15:34] jywarren commented on #932
Hi, all -- the issue, in case you want to take a crack at it, is this one: https://github.com/RichardLitt/name-your-contributors/issues/15

If we can get that to work, I think we can move forward with this!

[2016-11-04 15:35] jywarren commented on #932
Ack, apologies, I'd mixed up two issues!!! #931 depends on name-your contributors, not this. This is ready to be worked on, @ykl7 -- apologies for the mixup! I'm looking at too many issues these days with all of your excellent contributions coming in so fast! :-)

[2016-11-04 15:37] ryzokuken commented on #932
No worries, @jywarren :grin:

Keep up the good work!

[2016-11-04 15:38] ryzokuken commented on #899
@jywarren Please look into it and tell me if we're okay with giving it a try.

[2016-11-04 15:40] jywarren commented on #899
I tried to look for data on success rates over time or at least in comparison between the old and new versions of reCaptcha -- that'd be the greatest mark of success I'd look for. If you can find any data on this, please share!

[2016-11-04 15:43] jywarren opened #955 "Move comment input box to bottom of comments list on Questions pages"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-11-04 15:44] jywarren commented on #955
@ryzokuken - if you're looking for a new issue, I wonder if you'd be willing to try converting this to a `first-timers-only` issue? https://publiclab.org/notes/warren/10-31-2016/create-a-welcoming-first-timers-only-issue-to-invite-new-software-contributors

This helps us broaden our contributor base!

[2016-11-04 15:46] ryzokuken commented on #955
@jywarren I could definitely try.

[2016-11-04 15:57] ryzokuken commented on #955
@jywarren Correct me if I'm wrong

https://github.com/publiclab/plots2/blob/master/app/views/questions/show.html.erb#L52-L70 is the comment form.

https://github.com/publiclab/plots2/blob/master/app/views/questions/show.html.erb#L72-74 render the comments partial.

All this issue involves is swapping the position of those.

[2016-11-04 15:59] jywarren commented on #955
That's right, and this makes it an ideal `first-timers-only` issue -- it's
also not a critical bug, so we can afford to wait a few days (or even
weeks) for it to be fixed. Keeping a good supply of first-timers issues is
a key strategy of ours in continuing to recruit new contributors!

Thanks!

On Fri, Nov 4, 2016 at 11:57 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-11-04 16:00] ryzokuken commented on #955
@jywarren Yeah, I realized that. I'll write a small markdown file for the issue description and come back to you as it would be my first issue.

[2016-11-04 16:02] ryzokuken commented on #931
@jywarren Using `GITHUB_OGN_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX name-your-contributors publiclab --since=2016-01-01T00:00:00Z` gives the following output.

[code]

Considering my own name was included, I assume the tool worked as needed.
I suppose all we need to do now is to parse this list and render a few random names from the list on the page?

[2016-11-04 16:02] jywarren commented on #955
you can also tag it with `fto-candidate` so I can take a look over it
before it goes up on the list in front of actual first-timers -- we're
treating that as our "queue" since it does take extra effort to finalize
one of these with full formatting.

Thanks a lot!!

On Fri, Nov 4, 2016 at 12:00 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-11-04 16:03] ykl7 commented on #932
@jywarren I'll try to get this done over the weekend and send a PR as soon as possible

[2016-11-04 16:03] jywarren commented on #931
OMG!!! WOW

I should try running it with the same command... don't know why it didn't
work for me. THANKS!

On Fri, Nov 4, 2016 at 12:02 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-11-04 16:04] ryzokuken commented on #931
@jywarren I'm sure you'll take care of the Access Token. I did not reveal it for security reasons, I'm sure you'd understand.

[2016-11-04 16:07] jywarren commented on #931
yes - i'd tried to save the token in my `.bash_profile` but maybe it didn't work. How long did it take you to run this?

[2016-11-04 16:09] ryzokuken commented on #931
a lot of time, actually. Not much over the network, but a lot of it while computing data after it had downloaded. It did make me re-think if we're really going to use it in production. (Imagine this running everytime the server renders)

[2016-11-04 16:11] jywarren commented on #931
I'm trying to run it now, just for October. The 85 yours returned is too
long anyways to put in the footer!

On Fri, Nov 4, 2016 at 12:09 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-11-04 16:12] ryzokuken commented on #931
I did have an idea though, we could cleverly transform this into "Contributors this month", running the command and saving the list once every month on the server and using that list to render the contributors for the following month, which would significantly make it faster (we're only fetching data we already saved)

[2016-11-04 16:38] jywarren commented on #931
We could use a Feature, and not actually include the names in the codebase -- the same as in #932 -- that way we don't have to do it at the same time as committing new code.

[2016-11-04 16:47] jywarren commented on #897
I've created a start to this in #929 -- and key sections are:

Controller logic: https://github.com/publiclab/plots2/blob/master/app/controllers/tag_controller.rb#L238-L268

The form itself is here: https://github.com/publiclab/plots2/blob/master/app/views/tag/_sorting.html.erb#L26-L46

[2016-11-04 17:03] #935 closed

[2016-11-04 17:26] jywarren opened #956 "Deprecate Drupal legacy database structures/naming"
This used to be a Drupal site (back in https://github.com/jywarren/plots days!)

This is a complex, multi-part issue which should be broken up into smaller issues, but just to provide an overview:

The legacy Drupal stuff is almost eliminated, but is confusing for new contributors -- mostly at this point it's:

## The word Drupal on some models

We could rename `DrupalNode` to `Node`, for example,

[2016-11-04 17:30] Squawk09 commented on #711
Hi,

Yes I got distracted with work. I plan on pushing a commit for this bug over the weekend.

THanks!

[2016-11-04 17:41] jywarren commented on #897
@ryzokuken - if you're looking for new projects, this is also a key one I've been having trouble with. It seems to be related to a recurrence (for me) of bug #638, where no questions are shown:

![screenshot](https://cloud.githubusercontent.com/assets/7490478/17214737/f94b83ce-549f-11e6-97fb-a88004b71a0b.png)

[2016-11-04 17:44] jywarren commented on #837
I believe the "comment count on dashboard does not reflect answers" issue is being resolved here: https://github.com/publiclab/plots2/pull/940

This would be a great issue to flesh out with next steps; should questions with new answers be "bumped back up" in the feed, or should we display answers to questions in the dashboard feed (and would this cause clutter?).

[2016-11-04 17:47] jywarren commented on #700
I'm reading this over again and I'm not sure it's clear what the correct expected outcome is, Ananyo -- could you clarify? Do you not think it should go to a new post form? I thought that was intended -- that if there's no existing matching question, it prompts you to ask the question yourself?

[2016-11-04 17:48] jywarren commented on #221
Complete as of Activity Grids and Response prompts!

[2016-11-04 17:48] #221 closed

[2016-11-04 17:48] jywarren commented on #346
Done as of inline power tagging: https://publiclab.org/wiki/power-tags#Inline+power+tags

[2016-11-04 17:48] #346 closed

[2016-11-04 17:50] jywarren commented on #372
I believe `(a)callout` formatting now works, but renaming to be more specific about emails.

[2016-11-04 17:51] jywarren commented on #194
I'd like to close this as something we've achieved (with even greater flexibility) using inline tags: https://publiclab.org/wiki/power-tags#Inline+power+tags -- but open to re-evaluating, please re-open if you want to refine this!

[2016-11-04 17:51] #194 closed

[2016-11-04 18:10] jywarren commented on #607
Indeed, here are all the places that `cached_likes` is used, and I think really any time we increment or decrement it, we should just be counting all the `node_selections` instead of adding/subtracting one:

[code]

The like controller should just call a model method like `node.like(user)` or `node.unlike(user)` -- and we can test those out in the unit tests.

[2016-11-04 20:18] jywarren commented on #931
I think that with #932's code example, and a Feature named "recent-contribtuors", we could turn this into a pretty actionable `first-timers-only` issue, or someone who's recently joined the project could take it on!

[2016-11-05 03:25] ryzokuken commented on #897
@jywarren Sure, I'll look into it.

[2016-11-05 14:31] ryzokuken opened #957 "Change the bundler install statement in README and the cloud9 installation script to effectively avoid installation of the mysql2 gem"
@jywarren So I had been having this problem since ever that `bundle install --without production` was not avoiding the mysql2 gem from being downloaded. This wouldn't be as big a problem in cloud9 as mysql is installed by default in that environment and it wasn't being used in development anyway, but in my local machine, it threw an error as the `libmysql` package wasn't installed. Usually, I'd ju

[2016-11-05 17:03] jywarren commented on #957
I ALSO noticed this recently!!! Great problem solving.

I think the original idea was to make **both** the distinction between production/dev and between the user's ability to just choose what DB they like, whether they're running development or not. But you're right, it adds confusion.

I like your quick solution for now - `bundle install --without mysql production` and indeed this would make a g

[2016-11-06 10:21] ryzokuken opened #958 "Move comment input box to bottom of comments list on Questions pages"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from p

[2016-11-06 10:24] ryzokuken commented on #958
@jywarren I tried my best. Please tell me if there's anything I could do to improve the quality of this question and any others I make in the future. Also, if you find the issue up to the mark, tag it as required.

[2016-11-06 10:32] jywarren commented on #955
Made into first-timers-only issue in #958

[2016-11-06 10:32] #955 closed

[2016-11-06 10:34] ryzokuken commented on #955
Cleaned up that one.
Was the content and everything okay? I added a prerequisites section but rather filled it with places where you could learn stuff so that it doesn't feel intimidating.

[2016-11-06 10:35] jywarren commented on #955
Yes it looks great! Thanks!

On Nov 6, 2016 5:34 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-11-06 10:37] ryzokuken commented on #955
:grinning: Don't mention it. Looking forward to making a few more in the course of the week. I have 2 issues in mind (one of which I already posted as an `fto-candidate`), after which I'll just look up other `fto-candidate`s.

[2016-11-06 11:41] ykl7 commented on #932
@jywarren Does this have to be added at the bottom of each email sent or will it be just for a new note creation?

[2016-11-06 12:14] ryzokuken opened #959 "Change the bundler install statement in README and the cloud9 installation script to effectively avoid installation of the mysql2 gem"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from p

[2016-11-06 12:16] ryzokuken commented on #959
@jywarren Here's another one. Please tag it and close the other issue if you find it up to the mark.

[2016-11-07 04:07] ashleypt commented on #958
Hi, I'd love to do this as I'm learning rails! :)

[2016-11-07 04:13] ryzokuken commented on #958
@ashleypt Sure! You can post any queries you have here.

[2016-11-07 12:14] jywarren commented on #958
Hi! I don't think `rake db:migrate` is necessary -- which instructions did you see that in? `rake db:setup` should be enough. But if we out incorrect instructions up, we should fix it!

[2016-11-07 12:35] ashleypt commented on #958
@jywarren Ah! Sorry, I'm used to running rails db:migrate or rake db:migrate - didn't catch the db setup. It's working now, should have the issue fixed quickly :)

[2016-11-07 12:46] ashleypt commented on #958
All fixed :) https://github.com/publiclab/plots2/pull/960

[2016-11-07 13:27] ryzokuken commented on #958
@ashleypt Just curious --- were the installation instructions unclear in any way?

[2016-11-07 13:30] ashleypt commented on #958
@ryzokuken no but you put the wrong link to the developers page in your initial comment on the issue - /developers instead of /wiki/developers :)

[2016-11-07 13:31] ashleypt commented on #958
@ryzokuken maybe do a better job specifying which steps are optional - like installing jdk for solr. that could be my next pull request!

[2016-11-07 13:35] ryzokuken commented on #958
@jywarren I had been thinking about keeping things simple by keeping only the necessary stuff inside the installation section, segregating the optional stuff completely. Will talk about this on OpenHour, perhaps? BTW, its today, right? 1PM ET?

[2016-11-07 13:40] ashleypt commented on #958
@ryzokuken here's a pull request to fix the readme. ill take on any additional readme changes you might want as well

https://github.com/publiclab/plots2/pull/961

[2016-11-07 13:47] ryzokuken commented on #958
@ashleypt Wonderful! If this is discussed today, I'll let you know anything which gets decided. Another thing I had in mind was to segregate the optional steps involving the configuration of solr which currently reside in the installation section, to perhaps a new section like "Solr Configuration (Optional)".

[2016-11-07 14:50] sdosemagen opened #962 "publiclab.org/stats page text updates"
### What happened just before the problem occurred

I'm trying to gather stats from the publiclab.org/stats page. When I click on "year" "month" or "week" the numbers change, but the base text says for the 1st line "posted in the past week" or "posted in the past month". I think the numbers are correct, it's just that the text doesn't correlate so I'm not positive.

### Relevant URLs

https://publ

[2016-11-07 14:54] ryzokuken commented on #962
Confirmed this. The stats are changing but the text does not seem to change accordingly. Will look into it.

[2016-11-07 15:08] ebarry commented on #962
I'm taking a look at this as well, sitting here next to Shannon.
I think it might be a presentation issue VS incorrect queries.
Like, when i click "year" to see it go back a year farther, the numbers do change but the text explaining what the numbers are now showing -- "Looking back from November 07, 2016 15:02." -- is too high on the page.

Also, the numbers for how many people "joined" are very

[2016-11-07 15:12] ryzokuken commented on #962
Yeah, I realized that. The links dont set the date to a week ago/a month
ago/a year ago but rather keeps adding/subtracting to that value.

On Mon, Nov 7, 2016, 8:38 PM Liz Barry <notifications@github.com> wrote:

[2016-11-07 15:12] sdosemagen opened #963 "Raw data from stats page"
For the https://publiclab.org/stats page I'd like to either be able to download the raw data as a .csv (privacy considerations here?) and/or to potentially hover over a graph and be able to see the numbers per week.

[2016-11-07 15:12] icarito commented on #962
On 07/11/16 10:08, Liz Barry wrote:

This is the main problem that is making the migration to Solr indexer
difficult.

I have setup a testing instance of our website with a backup database,
but am at the moment still having issues with Solr crashing before
finishing to index.

Hopefully the Solr storm will be over and we can use this testing
instance to quickly diagnose and fix such issues.

Regar

[2016-11-07 15:18] ebarry commented on #962
Hi Sebastian, on that problem of spam users, would it be helpful for me to give you a list of common spam links present in profiles to do a mass deletion?

[2016-11-07 15:46] ebarry opened #964 "What is the URL to query a date range on the stats page?"
The /stats page is really great, https://publiclab.org/stats

It offers some ability to customize the date range you are looking for by clicking "Try [one year], [one month], or [one week] further back." Clicking on any of those adds a query to the URL based on the exact current time and date, such as

https://publiclab.org/stats?time=December%2031,%202015

Helpfully, clicking the button for [one

[2016-11-07 15:52] ebarry commented on #962
Hi @icarito I'm going to start a thread on web@publiclab.org for us to work on this, and let this issue return to being about the text on the /stats page ! :D

[2016-11-07 15:59] icarito commented on #962
Thanks Liz, sorry for the topic hijack!

On 07/11/16 10:52, Liz Barry wrote:

[2016-11-08 04:02] jywarren commented on #932
I think we could do it for all emails, thanks!

On Nov 6, 2016 6:41 AM, "ykl7" <notifications@github.com> wrote:

[2016-11-08 09:35] wenyichen commented on #959
hey, can I work on this?

[2016-11-08 10:37] aayushgupta1 commented on #958
Hi, I would love to contribute to this. I am learning rails at the moment.

[2016-11-08 11:04] aayushgupta1 commented on #958
Hey, I made some changes for the comments section. Can someone check it and respond to the pull request?

[2016-11-08 13:28] jywarren commented on #959
Yes, of course, and thanks!

On Nov 8, 2016 4:35 AM, "Wenyi Chen" <notifications@github.com> wrote:

[2016-11-08 13:49] #959 closed

[2016-11-08 14:01] jywarren commented on #949
Fixed in #969; please see here for another challenge if you're looking for one!

https://github.com/publiclab/plots2/labels/help-wanted

Thanks!!

[2016-11-08 14:01] #949 closed

[2016-11-08 14:04] jywarren commented on #958
Merged in #960! Thanks!

[2016-11-08 14:04] #958 closed

[2016-11-08 14:07] aayushgupta1 commented on #956
@jywarren I would like to work on this as no one is currently working on this. Could you just explain a bit more?

[2016-11-08 14:12] jywarren commented on #956
This is a pretty big and complex one, but I think you could try doing a
piece of it. For example, changing all instances of "DrupalComment" to
"Comment". Do you have a good tool (text editor, command line utility) for
doing find/replace across lots of files?

You'd also want to change "drupal_comment" to "comment" where that happens
as well. And it'll be likely to fail some tests when you first do

[2016-11-08 14:13] aayushgupta1 commented on #958
Welcome!

[2016-11-08 14:15] aayushgupta1 commented on #956
Okay. Thanks @jywarren . Which text editor would you suggest? Also if I am able to change it all, will there be any failures?

[2016-11-08 14:24] jywarren commented on #956
If you change everything in /app and /test, I think it will be ok but I
don't know for sure.

What system are you on? On a Linux system there's some combination of "sed"
that can be used... But it's a bit obscure to use. Search for "sed replace
across files" on stack overflow?

Perhaps the Atom editor can do this?

https://atom.io/

On Nov 8, 2016 9:15 AM, "Aayush Gupta" <notifications@github.com>

[2016-11-08 14:37] ashleypt commented on #956
@jywarren Hi I can take on changing stuff to use User instead of DrupalUsers if @aayushgupta1 is just changing the other stuff. let me know if you have any tips on how to do it and then ill figure it out :)

@aayushgupta1 I highly recommend Visual Studio Code as a text editor on Windows, Mac, and Linux. Atom is a close second but I prefer Code because it is much ligher, has better git integration

[2016-11-08 15:36] jywarren commented on #956
Wow you two -- this sounds good, and the key here is the tests -- these
namings are so thoroughly peppered throughout the codebase, that:

a) if we break things, tests should show it
b) but only if our tests are really thorough!

We've come a LONG way on tests, and now have hundreds (!) but just a heads
up that this is an ambitious project to take on. But I'm here for you! I
might recommend that y

[2016-11-08 16:08] aayushgupta1 commented on #956
@ashleypt Sure. I will take up the drupal_node to node part. @jywarren can you check out line 291. If I remove drupal from there, what do I insert?

[2016-11-08 16:11] aayushgupta1 commented on #956
@jywarren It's a great comfort to know that we have you support and look forward to work with you and @ashleypt .

[2016-11-08 16:32] jywarren commented on #956
Oops, line 291of what file? I'm on my phone so could you link directly?
Thanks! 🛬

On Nov 8, 2016 11:11 AM, "Aayush Gupta" <notifications@github.com> wrote:

[2016-11-08 16:37] aayushgupta1 commented on #956
@jywarren https://github.com/publiclab/plots2/blob/master/app/models/drupal_node.rb#L291

[2016-11-08 16:39] jywarren commented on #956
@ashleypt perhaps you should try drupalcomments or drupaltags first, as DrupalUsers is extra complex and let's get the easier ones first to ensure this whole process works!

[2016-11-08 16:40] jywarren commented on #956
Ah you can leave that, it's a method parameter, not a column or model name. Good question!

[2016-11-08 16:41] jywarren commented on #956
All right though I have to sign off for a while so good luck and I'll check in soon.

[2016-11-08 16:44] aayushgupta1 commented on #956
@jywarren I changed it. But it's giving an error because of some rake db:setup. Shall I forward you the code so that you can update it.

[2016-11-08 16:44] aayushgupta1 commented on #956
@ashleypt Is yours working?

[2016-11-08 16:47] jywarren commented on #956
The best place for me to look over your changes is in the PR -- thanks!

On Nov 8, 2016 11:44 AM, "Aayush Gupta" <notifications@github.com> wrote:

[2016-11-08 16:57] jywarren opened #971 "Add "try the new Rich Editor" message to /post page"
### Relevant URLs

https://publiclab.org/post

Rich editor URL: https://publiclab.org/editor

The /post template is here: https://github.com/publiclab/plots2/blob/master/app/views/editor/post.html.erb

An `<div class="alert alert-success">Text</div>` with the text and link inside would be perfect.

Perhaps it should say "beta Rich Editor"!

[2016-11-08 17:19] aayushgupta1 commented on #956
Okay I'll raise that request again @jywarren

[2016-11-08 17:38] aayushgupta1 commented on #956
@jywarren  PR request #972

[2016-11-08 18:13] sandyvern commented on #956
@jywarren If you need an extra person to work on other aspects of this lik:e drupalcomments or drupaltags I would be happy to jump in.

[2016-11-08 20:41] jywarren opened #973 "Feature lead image and first paragraph of text from a wiki page on the corresponding tag index page"
We have great tag-based listing pages, such as:

https://publiclab.org/tag/balloon-mapping
https://publiclab.org/tag/spectrometry

However, they just kind of dump a bunch of recent content from the site onto the page, without much context. But many of these tag names have a corresponding top-level wiki page; for example:

https://publiclab.org/wiki/balloon-mapping
https://publiclab.org/wiki/spectr

[2016-11-08 23:09] ebarry opened #974 "Techniques for dealing with the high number of spam users"
Let's gather our thoughts about the hundreds of thousands of spam users on publiclab.org, and MAKE A PLAN(S)! They clog up the database and make it hard to do community development.

Here are some ideas that once discussed could be broken out into separate, doable issues:

* come up with a view/listing of users (say, at /spam/listingtype, visible to moderators & admins only) that uses some metric

[2016-11-08 23:57] ashleypt commented on #956
@jywarren ok i guess ill take drupalcomments since my first bug was fixing a comment form :P

@sandyvern so you can work on tags I guess?

[2016-11-09 00:34] sandyvern commented on #971
@jywarren Is anyone working on this one? The fto-candidates need to be written up in first-timer-only format? Creating a new pr or editing this one?

[2016-11-09 00:36] jywarren commented on #971
You can make a new one and close this one, or just solve it yourself --
either way! Thanks!

On Nov 8, 2016 6:34 PM, "Sandy" <notifications@github.com> wrote:

[2016-11-09 13:02] aayushgupta1 commented on #956
@jywarren then I'll work on nodes

On 09-Nov-2016 5:27 AM, "ashleypt" <notifications@github.com> wrote:

[2016-11-09 16:17] ryzokuken commented on #973
@jywarren Would you prefer me breaking this into multiple fto issues or approaching this myself?

[2016-11-09 16:24] ryzokuken commented on #973
Also, I suppose you guys are making changes to the `DrupalNode` model. Do I wait for that issue to be solved? (It seems to be far from being merged as it is also a big issue, so maybe I could quickly fix this one first)

[2016-11-09 16:48] ryzokuken commented on #973
@jywarren I'm getting a `undefined method `latest' for #<DrupalNode::FriendlyIdActiveRecordRelation:0x007f27488e8890>
`. You sure `@wiki` has a `latest` method?

[2016-11-09 21:11] jywarren commented on #956
Thank you friends, I'm sorry, there's a lot going on at the moment, and our
annual conference is beginning. But I'll do my best to find a moment to
review and provide feedback. Thanks.

On Nov 9, 2016 7:03 AM, "Aayush Gupta" <notifications@github.com> wrote:

[2016-11-10 01:56] ananyo2012 opened #977 "Broken design for question comment section"
This is related to the fix in #958. Here is the screenshot of the comment section now.
![design](https://cloud.githubusercontent.com/assets/10486343/20161565/3f7092aa-a715-11e6-92f7-546e38577b59.png)
The color of the comment section div should be same. Also the "View more comments" button is placed at the bottom after the comment input box. Since comments are arranged in the ascending order of the

[2016-11-10 03:22] ashleypt commented on #956
@aayushgupta1 mentioned since you're on nodes
@jywarren so far I've changed everything but there's a problem with node_shared.rb where you define a method "comments". Ordinarily it just does self.drupal_comments and there's no infinite recursion, but it causes infinite recursion when we rename the model to comments. see this line of code:

https://github.com/publiclab/plots2/blob/72e4820017a4ec485

[2016-11-10 05:33] ananyo2012 opened #979 "Change caption of Ask a question button in research note"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**. If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/plots2/labels/help-wanted) issue

[2016-11-10 11:31] icarito opened #980 "Change DB schema from using parsed to native column"
Changed the DB schema in Node to point at the native column name instead of alias.

Solr is having issues with the (huge) users database in production and this has been identified as related.

Part of the problem may be that it's not really an alias - it does some extra timestamp parsing:

https://github.com/publiclab/plots2/blob/ceb7d05404b4619c7fa8cd8cae5e8215798cb02c/app/models/node.rb#L270-L27

[2016-11-10 12:02] icarito commented on #980
When trying the naive approach of replacing `updated_at` for `changed` in `drupal_node.rb` like this:
[code]
I get the following error when reindexing:
[code]

[2016-11-10 14:44] ananyo2012 commented on #22
Closing this one as validation check exists. Also confirmed in local.

[2016-11-10 14:44] #22 closed

[2016-11-10 16:40] ananyo2012 opened #981 "Map page showing error"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-11-10 18:43] jywarren commented on #973
Don't wait on the DrupalNode changes, we have to work synchronously.

Oh, add a .first to the end of the `@wiki = ...` line!

Yes it could be broken up or you could do portions yourself... Here's a sketch!!

![tmp_21030-img_20161110_123529127263263](https://cloud.githubusercontent.com/assets/24359/20189532/33c6f33a-a743-11e6-95ab-bf99a10fda20.jpg)

[2016-11-10 18:43] jywarren commented on #973
Thanks!

[2016-11-11 01:11] ananyo2012 opened #982 "Adjust pagination and remove map description from /maps page"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**. If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/plots2/labels/help-wanted) issue

[2016-11-11 01:15] ananyo2012 commented on #28
@btbonval Now what do you want to mean by this?

[2016-11-11 01:20] ananyo2012 commented on #60
Closing this one since tag suggestions are autocomplete now.

[2016-11-11 01:20] #60 closed

[2016-11-11 02:00] ananyo2012 commented on #86
@ebarry This will be a tough one as you have to set email address alias for each group and for that you have to co-ordinate with all the admins of each group. But it might be easier if admin of each groups are same. Here is how to add a domain alias to a G suite: https://support.google.com/a/answer/53295?hl=en and after that we need to add the email aliases of each group: https://support.google.co

[2016-11-11 02:07] ananyo2012 commented on #90
@jiteshjha Is this something that you completed during your Internationalization project?

[2016-11-11 02:17] ananyo2012 commented on #96
@jywarren Can this be closed now? Barnstars are now listed in https://publiclab.org/wiki/barnstars with the correct links in the format mentioned above

[2016-11-11 02:21] ananyo2012 commented on #98
@jywarren Can you verify that this isn't happening now?

[2016-11-11 02:28] ananyo2012 commented on #99
I think this can be closed now. Here is the code that finds tag suggestions https://github.com/publiclab/plots2/blob/master/app/controllers/tag_controller.rb#L172-L175 Presently tags are queried by matching the tagname and upto a maximum of 10 tag suggestions

[2016-11-11 02:33] ananyo2012 commented on #103
Closing this one as this is not relevant here. Reopen if needed

[2016-11-11 02:33] #103 closed

[2016-11-11 14:18] ananyo2012 commented on #982
@abhishekzambre Sure go on with it. Tell if you face any problem. I have checked the first step. Move on with the next steps.

[2016-11-11 14:33] ananyo2012 commented on #104
I think most of these are covered in the Rich Profiles Project by @lalithr95. Can this be closed now perhaps opening a new issue for the left out points.

[2016-11-11 14:37] ananyo2012 commented on #105
@jywarren Perhaps I can add this as an Google Code-in task as an outreach Activity if you would recommend. Though I am unaware of the Eval Project.

[2016-11-12 05:34] abhishekzambre commented on #982
@ananyo2012 I have done setup on cloud9. After performing repository setup, I tried to run "rake test", and getting below message at the end. It is saying 0% passed. Is it expected?

-----------------------------------------------------------------------------------------------------------------------------------------
69 tests, 200 assertions, 0 failures, 0 errors, 0 pendings, 0 omissions, 0 noti

[2016-11-12 07:27] ananyo2012 commented on #982
@abhishekzambre Yes it is all right. Unless anything fails and it shows 0 errors or 0 failures all tests pass successfully.

[2016-11-12 07:29] ananyo2012 commented on #106
@jywarren Some idea on this?

[2016-11-12 07:37] ananyo2012 commented on #119
Also it would be good if the event could be directly modified using the calender. Presently if we want to change the event date we have to edit the date in the power tag itself.

[2016-11-12 07:41] ananyo2012 commented on #120
Closing this as it is no longer happening.

[2016-11-12 07:41] #120 closed

[2016-11-12 07:43] ananyo2012 commented on #125
Oh this issue is really great. We should try to do this.

[2016-11-12 07:49] ananyo2012 commented on #131
@jywarren Can you check this once more? I think this is the reason causing #981

[2016-11-12 07:52] ananyo2012 commented on #132
testing a comment

[2016-11-12 08:24] abhishekzambre commented on #982
@ananyo2012 I have fixed the issue. And raised pull request as well. Please check and mark steps accordingly.

Thank you for the help till now.

[2016-11-12 22:04] jywarren commented on #982
Thank you so much -- we'll review and offer next steps soon!

[2016-11-13 18:27] shanlter opened #984 "Is there a comprehensive map of all stitched maps?"
### What happened just before the problem occurred

I need to see the multiple maps that i have stitched, and others have stitched, together on a single map.
I visited publiclab.org/archive. There are two problems with this overview map: The map markers are out of date (don't show more recent maps), and the "map of maps" does not show the actual aerial maps.

I need to see all the aerial maps toge

[2016-11-14 09:00] ryzokuken commented on #973
@jywarren Exactly what I had in mind. I'd try utilizing bootstrap's responsive grid to make it look better.

Sorry that I hadn't been active for some days, I was busy organizing a Drupal Camp (YAY) but I'm free now and will work on this. Thanks :)

[2016-11-14 15:05] jywarren commented on #984
Would you like to see them as "dots" on a map, as the current /archive page
shows? I think we could do this on MapKnitter.org without too much trouble,
but there'd be lots of maps that are only partially complete, as it's hard
to tell when authors consider them "complete" -- what do you think?

Also, with some hundreds of maps, would we want to show every one, or just
the most recent 100 or so? (f

[2016-11-14 15:08] jywarren commented on #973
Super and I see and commented on your PR. Sorry I was also unable to help in the past week due to our annual conference (the Barnraising: https://publiclab.org/barnraising). Back now!

[2016-11-14 15:14] jywarren commented on #982
Closed, thank you!!!

[2016-11-14 15:14] #982 closed

[2016-11-14 21:09] jywarren commented on #106
We could display a notice if a wiki page hasn't been edited in more than 6
months, and say "wiki pages need help from contributors like you" or
something...

On Sat, Nov 12, 2016 at 2:29 AM, Ananya Maiti <notifications@github.com>
wrote:

[2016-11-14 21:11] jywarren commented on #105
I think this is one for @ebarry, but if she feels there's a way to break it
up, that's possible. We've just finished the Barnraising though, so perhaps
we need to circle back on this one when we're less behind on things.

On Fri, Nov 11, 2016 at 9:37 AM, Ananya Maiti <notifications@github.com>
wrote:

[2016-11-14 21:14] jywarren commented on #104
Yes, I think we need to articulate clear tasks for:

* designing an interface for entering topical interests or available gear
* implementing the design in the drawing at
https://github.com/publiclab/plots2/pull/650 in a template
* connecting the template to a location tag controller
* writing tests for above (maybe first)
* designing a display for above data (one of several possible displays)

On

[2016-11-14 21:33] jywarren commented on #90
I believe this was left unresolved, and has a related PR at #720, but I
don't know if there is starting code there. If Jitesh could link to
available guides/resources about using subdomain in this way, that would be
great.

I also believe there (maybe in #720) was a possible conflict with another
use of subdomains (for regions like nyc.publiclab.org) articulated in #720
but we could reconcile both

[2016-11-14 21:47] jywarren commented on #96
This is up to @ebarry and @steviepubliclab -- depends if we want to
reconcile the legacy vs. tag-based barnstars. Thanks!

On Thu, Nov 10, 2016 at 9:17 PM, Ananya Maiti <notifications@github.com>
wrote:

[2016-11-14 22:05] jywarren commented on #956
Ahhh, great find and good troubleshooting to figure out the reason. I'm thinking:

`.order("timestamp #{direction}")` is the only additional thing the `comments` method does in `node_shared.rb`

So, we could potentially delete the entire method and just let calls to `comments` go directly to the native `comments` instead of the custom method we'd written. But we'd need to search for any usage of `

[2016-11-14 22:07] jywarren commented on #956
Actually, looking more closely through the above, the only line which is actually using that method is:

[code]

[2016-11-14 22:08] jywarren commented on #956
You're really close then, great! Keep up the good work and apologies again for my slow response -- [the Barnraising](https://publiclab.org/barnraising) (our annual conference) just ended and I'm finally catching up. Normally i'll be responding much faster to issues and I appreciate your patience.

[2016-11-14 22:19] jywarren commented on #98
We need a more comprehensive overhaul of comment tallying, and I've written this up here:

https://github.com/publiclab/plots2/issues/607#issuecomment-257211982

I'll close this here and elaborate there.

[2016-11-14 22:19] #98 closed

[2016-11-14 22:31] jywarren commented on #607
We should break this up into separate issues:

* develop `node.like(user)` and `node.unlike(user)` methods, based on (and replacing) https://github.com/publiclab/plots2/blob/master/app/controllers/like_controller.rb#L35-L71 which:
  1. are unit tested
  2. create a new `NodeSelection` entry: `NodeSelection.where(user_id: user.uid,
nid: self.id).first_or_create`
  3. count `NodeSelection`s for this

[2016-11-14 23:27] jywarren commented on #99
Here are the existing indices -- and I think we'll be relying on the solr search system for tag searches in the future, so I think we'll be OK to close this either way -- but curious if the name-based index here does the trick:

https://github.com/publiclab/plots2/blob/master/db/schema.rb.example#L371-L373

[2016-11-14 23:27] #99 closed

[2016-11-14 23:32] jywarren commented on #131
This is probably independent -- the error could be solved by adding a `if @node.map` conditional before calling `@node.map.tms`.

Good first-timers issue!

[2016-11-14 23:46] jywarren commented on #981
Here's the error! (mixed up with some other errors in the logs) -- should be a pretty easy first timers issue by adding a test for `if node.map` before using `node.map.authorship`

[code]

[2016-11-15 00:04] jywarren opened #987 "Planning issue for advanced search UI"
This needs to be broken up into several sub-issues, some of which could be `first-timers-only` candidates:

https://publiclab.org/search/dynamic is a new search system based on the [RESTful API](https://github.com/publiclab/plots2/#api), but it has some rough edges.

* [ ] some items appear more than once (need a uniqueness parameter somewhere?)
* [ ] limiting # of results and paginating with `.pa

[2016-11-15 00:11] jywarren commented on #146
I think this could be doable as a variant of the table-based display of inline grids, which is currently done here: https://github.com/publiclab/plots2/blob/master/app/helpers/application_helper.rb#L32-L58

We'd just use a paginated 3-column display of these node templates: https://github.com/publiclab/plots2/blob/master/app/views/dashboard/_node_default.html.erb

[2016-11-15 00:21] jywarren commented on #164
This'll work in the new dynamic search page, which we're in final refinements of now in #987, thanks!

[2016-11-15 00:21] #164 closed

[2016-11-15 00:22] jywarren commented on #171
I think it'd be using a `User.where(status: 1, username: params[:author])` call!

[2016-11-15 00:23] #182 closed

[2016-11-15 00:24] jywarren commented on #28
I think Bryan was keeping a sense of humor in our GitHub issue tracker. Maybe we can keep this one for humorous posterity?

[2016-11-15 00:24] jywarren commented on #142
I believe we can now do this with inline tags: https://publiclab.org/wiki/power-tags#Inline+power+tags

[2016-11-15 00:24] #142 closed

[2016-11-15 16:00] #909 closed

[2016-11-15 16:12] jywarren commented on #894
Added!

[2016-11-15 16:12] #894 closed

[2016-11-15 16:14] jywarren commented on #863
Was this figured out then? Sorry, just want to close out old issues, but feel free to open a new one about your specific issue if it's unresolved. Thanks!!

[2016-11-15 16:14] #863 closed

[2016-11-15 16:14] jywarren commented on #895
Resolved!!

[2016-11-15 16:14] #895 closed

[2016-11-15 16:30] jywarren commented on #297
Was thinking this could be done as an ASCII cast, using asciicinema, from a standard Cloudnine instance, as outlined in the README.

[2016-11-15 16:33] ananyo2012 commented on #297
@jywarren Can be given as Google Code-in task?

[2016-11-15 16:35] jywarren commented on #297
Sure!

On Nov 15, 2016 10:33 AM, "Ananyo Maiti" <notifications@github.com> wrote:

[2016-11-15 17:39] jywarren opened #988 "Add new authoring template for blog posts"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from p

[2016-11-15 17:39] jywarren commented on #305
Closing this issue and opening a new one for the template! #988

[2016-11-15 17:39] #305 closed

[2016-11-15 17:40] jywarren commented on #305
And I'll make a new one at #989 for the "link to research notes or the dashboard".

[2016-11-15 17:47] jywarren opened #989 "Link to /research page from the blog"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from p

[2016-11-15 18:45] jywarren commented on #278
Closing unless we see this again -- duplicate posts should be screened for by now.

[2016-11-15 18:45] #278 closed

[2016-11-15 18:46] jywarren commented on #271
Closing this, it doesn't seem to be a problem.

[2016-11-15 18:46] #271 closed

[2016-11-15 19:00] jywarren opened #990 "Replace "user map" link with "people" link in header menu"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-11-15 19:02] jywarren opened #991 "Better explanatory text for /people page"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-11-15 19:13] jywarren commented on #873
@ananyo2012 - any idea why the use of a `url.com/path#hash` at the end of a URL would cause comments not to show? Or a next step we could add here to make it easier to solve?

[2016-11-15 19:18] jywarren commented on #395
Completed! See https://publiclab.org/wiki/translation

[2016-11-15 19:18] #395 closed

[2016-11-15 19:20] jywarren commented on #736
We should try running a query in the production console to test how many wiki pages don't have a slug that matches their path.

[2016-11-15 19:26] jywarren commented on #771
oops, this was solved in #936- closing! Thanks again!

[2016-11-15 19:26] #771 closed

[2016-11-15 20:01] jywarren commented on #641
The issue is that if an admin tries to moderate a spam page from an email link, but is not logged in, it'll just redirect them to plain https://publiclab.org because it doesn't know they're an admin. We can't show a notification there. And there's some obscure sequence of logging in but then being redirected to a non-logged-in page... anyways this will almost never happen, closing.

[2016-11-15 20:01] #641 closed

[2016-11-15 20:06] jywarren commented on #232
If only admins can do this, I think it should be OK to use something like `(rand * 100000000000).to_i` for the password and key generators... or is there a stronger way to generate these?

I'd like to break this up into smaller pieces:

* random pwd and key generating functions
* a method contained in user.rb: https://github.com/publiclab/plots2/blob/master/app/models/user.rb  called `def force_re

[2016-11-15 20:08] jywarren commented on #835
I'd like to defer to #793 for now, and follow up with more after we see how that works. Thanks!

[2016-11-15 20:08] #835 closed

[2016-11-15 23:04] jywarren commented on #869
Where did you click the Ask a Question button? Just want to track on what pages this problem is occurring, and the matching code.  Thanks!

[2016-11-15 23:06] jywarren commented on #869
Pages like this? https://publiclab.org/notes/imvec/11-15-2016/fresh-air-collector

That seems to lead to: https://publiclab.org/post?template=question&tags=question:generalcalibration,sensors,open-air,response:13706

The `question:generalcalibration` tag is a bug already fixed but not published, but it does seem to be making a question form, no? So you must be seeing this on another page?

[2016-11-16 04:40] pdhixenbaugh commented on #869
It was so long ago, I'm not sure which page I created a question from. You
can look at my posts and their tags if that can be a clue. If I notice it
happen again I will note the page

On Nov 16, 2016 12:06 PM, "Jeffrey Warren" <notifications@github.com> wrote:

[2016-11-16 17:30] jywarren opened #992 "Solr test failures"
On running tests, I see the following, though that doesn't cause a Travis failure:

[code]

See [full build here](https://github.com/publiclab/plots2/commit/50a33054d80c2f50d1377a0a8b53b005bf454aa7#diff-66694174e90422724c8c508d12a0f225L89).

The first error is on this line: https://github.com/publiclab/plots2/blob/master/test/solr/searches_controller_test.rb#L48

By looking at the corresponding co

[2016-11-16 17:30] jywarren commented on #992
https://travis-ci.org/publiclab/plots2/builds/176433885

[2016-11-16 17:31] #973 closed

[2016-11-16 21:54] jywarren commented on #869
I think we could try to find it with `grep -r Ask app` -- marking as a help-wanted issue!

[2016-11-17 01:14] jywarren commented on #992
@icarito - sorry, i know you're working on Solr things, but I noticed that this set of tests failed, and I can fix them -- but they didn't actually trigger a failure of TravisCI -- is there something we need to do to ensure they cause a failure?

[2016-11-17 05:49] rodomvp commented on #989
I'm going to take a shot at this - first time contributing to open source so I'll do my best to solo it but I'll ask any clarifying questions that I need.

[2016-11-17 13:35] jywarren commented on #989
Super! Many thanks!

On Nov 17, 2016 12:49 AM, "Vincent Rodomista" <notifications@github.com>
wrote:

[2016-11-17 17:35] jywarren commented on #989
Closed in #993!

[2016-11-17 17:35] #989 closed

[2016-11-17 18:15] jywarren commented on #837
Hi, @gretchengehrke - thoughts on this?

Should questions with new answers be "bumped back up" in the feed, or should we display answers to questions in the dashboard feed (and would this cause excess clutter?).

[2016-11-17 21:11] jywarren commented on #963
OK -- i'll begin breaking this out into sub-issues that'd have to be done before we could achieve this; is there a timeline you're hoping for, or can we enter this in the software-outreach queue for newcomers to tackle?

****

Currently, data is presented inline like:

[code]

Steps would be:

* [ ] move the collection of data into its own controller method such as `def compile_stats` using these

[2016-11-17 21:15] jywarren commented on #962
Hi, can you change this and/or repost with a recommendation for wording that would make this more clear?

Sounds like @ebarry has a suggestion, above, and I'd like to provide folks with a clear path forward so this issue doesn't get stuck. Thanks!

[2016-11-17 21:22] jywarren commented on #964
There is not currently a date range feature.

This could be added by making the `params[:time]` parameter into `params[:end]`, and adding a `params[:start]` which defaults to, for example, timestamp 0, for example.

The code for this is here:

https://github.com/publiclab/plots2/blob/master/app/controllers/notes_controller.rb#L13-L17

But it raises other questions; would the 52-week periods still

[2016-11-18 10:11] ananyo2012 commented on #132
Reopening this one as it is still valid. I have also added this as an google code-in Task.

[2016-11-18 16:21] jywarren opened #994 "Add First Timers landing page to prominent README position"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2016-11-18 16:50] jywarren commented on #844
issue moved to here: https://github.com/publiclab/PublicLab.Editor/issues/59

[2016-11-18 16:50] #844 closed

[2016-11-18 20:26] steviepubliclab commented on #899
Had another incident lately with people having trouble creating a UN.
anyone have other thoughts on reCaptcha ? Seems like an easier system than
asking people questions.

On Fri, Nov 4, 2016 at 10:40 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-11-18 21:37] jywarren commented on #899
I'm mostly worried about the effectiveness of reCaptcha, since if it
doesn't work as well, there'll be increased work for moderators --
potentially a lot of increased work. If anyone has data on the new "just
check the box" reCaptcha system's effectiveness, we'd have more ability to
move forward on this.

On Fri, Nov 18, 2016 at 2:26 PM, steviepubliclab <notifications@github.com>
wrote:

[2016-11-18 21:51] jywarren commented on #225
I'm not convinced that it's realistic to have this much in a template/prompt for people to post case studies -- but willing to discuss. For now I'm going to close this and merge it into the simpler blog template Stevie developed in #988.

[2016-11-18 21:51] #225 closed

[2016-11-18 21:54] jywarren commented on #977
Hi, Ananyo - could you break this one up and link to relevant areas of the code? Thanks!

[2016-11-18 22:00] jywarren commented on #796
This is fixed, closing!

[2016-11-18 22:00] #796 closed

[2016-11-18 22:20] jywarren opened #996 "Entering bad info (like blank title/body) in rich editor leads to error"
### What happened just before the problem occurred

I went to https://publiclab.org/editor, entered a title and body, deleted them, then hit "publish".

I think what's happening is that the request is a jQuery ajax request, as here: https://github.com/publiclab/PublicLab.Editor/blob/master/src/PublicLab.Editor.js#L118

But we're trying to catch it with an `xhr` conditional:

`          if request.

[2016-11-18 22:21] jywarren commented on #119
Closing in favor of https://github.com/publiclab/PublicLab.Editor/issues/70, thanks!

[2016-11-18 22:21] #119 closed

[2016-11-18 23:15] Vehikite-John commented on #994
I would like to claim this issue. This is my first time contributing, so I may have some questions along the way, but I'll at least work on getting the repo set up on my laptop. I'll keep you posted on my status.

[2016-11-20 22:47] DanielGeoffreyHodgkins commented on #979
I found this project through https://twitter.com/yourfirstpr looking to do some open source development, would it be possible to claim this issue?

[2016-11-20 22:55] jywarren commented on #979
We'd love your help on this and are happy to offer any assistance you might need. Thanks a lot!

[2016-11-21 16:17] jywarren commented on #992
I'm thinking that since I removed `params.require(:search)` I should've added it to the `permit` list. Or removed it. Attempting fix in #997.

[2016-11-21 16:39] ananyo2012 opened #998 "Calculate view count of a page"
Presently view counts are calculated by simple page refreshes which is a little wobbly. So page views are non-unique. We need to create view counts that are unique with respect to a specific IP or user. One way to do this is by using the [impressionist](https://github.com/charlotte-ruby/impressionist) ruby gem.

[2016-11-21 17:07] jywarren commented on #998
Hi, Ananyo -- I believe there's another issue open for this, but without
the specific gem recommendation you've made here. Would you mind looking
around a little for it (i think it was by jitesh or perhaps another GSoC
student) and merging? Thanks!

On Mon, Nov 21, 2016 at 10:39 AM, Ananyo Maiti <notifications@github.com>
wrote:

[2016-11-21 17:17] ananyo2012 commented on #998
Ok sure Jeff. Will close this after I find that.

[2016-11-21 18:55] ananyo2012 opened #999 "**[Weekly/ Monthly Digest for publiclab.org](https://github.com/publiclab/plots2/wiki/Google-Code-in-Tasks#weekly-monthly-digest-for-publiclaborg)**"
**Task type**: Code

[2016-11-21 18:56] #999 closed

[2016-11-21 20:07] jywarren opened #1000 "Old "report" content URLs broken"
"Report" pages are an old type of node which we've deprecated, but it looks like some of the old URLs no longer work:

https://publiclab.org/report/adjustable-555-based-shutter-trigger-circuit

This looks like it's in: https://github.com/publiclab/plots2/blob/master/app/controllers/legacy_controller.rb#L60

And we no longer use `DrupalUrlAlias`, so this line is causing the error:

[code]

The reco

[2016-11-21 20:15] jywarren opened #1001 "Separate map template out into a unique partial"
Small Leaflet maps are currently shown in sidebars here (scroll to bottom, look at left side):

https://publiclab.org/search/lima

The code driving that is here:

https://github.com/publiclab/plots2/blob/master/app/views/sidebar/_related.html.erb#L80-L108

We should make a template helper like`render_map(lat, lon, items)` which accepts an array of items that have `.lat` and `.lon` methods, so we c

[2016-11-22 05:40] wimpykid26 commented on #988
Hello, since this issue is for newcomers, can I work on this ?

[2016-11-22 12:05] imsarath commented on #994
Hello,
I'd like to work on this issue.
Could you please mark it as `in-progress` ?

[2016-11-22 12:15] 500swapnil commented on #599
I would like to work on this problem

[2016-11-22 15:20] jywarren opened #1003 "Some remaining unsynced wiki.slug & wiki.path fields"
We rearranged how wiki `slug` and `path` fields worked some months ago, and there are some remaining mismatches, which we need to resolve either manually or with a migration.

I've listed all wiki nodes where these don't match here:

https://gist.github.com/jywarren/7ef1e5ff0c9b59e4e6aac1dc8ce17377

If a wiki has slug `hello-world`, it's supposed to have a path of `/wiki/hello-world`.

So all of t

[2016-11-22 15:41] jywarren commented on #1003
Almost done with this -- just /wiki/spectrometer and /wiki/balloon-mapping remain.

[2016-11-22 15:45] jywarren commented on #1003
These still have the following error when I try to edit their slugs:

[code]

I think we have to remove these indices:

[code]

On these lines: https://github.com/publiclab/plots2/blob/master/db/schema.rb.example#L157-L159

[2016-11-22 15:51] jywarren commented on #1003
Opening a PR for this in #1004.

[2016-11-22 15:53] jywarren commented on #988
We'd love your help on this and are happy to offer any assistance you might need. Thanks a lot!

Just curious -- we're trying to improve our outreach to new contributors -- how did you happen to hear about us?

[2016-11-22 15:53] jywarren commented on #994
We'd love your help on this and are happy to offer any assistance you might need. Thanks a lot!

Just curious -- we're trying to improve our outreach to new contributors -- how did you happen to hear about us?

[2016-11-22 15:53] jywarren commented on #599
We'd love your help on this and are happy to offer any assistance you might need. Thanks a lot!

Just curious -- we're trying to improve our outreach to new contributors -- how did you happen to hear about us?

[2016-11-22 17:32] jywarren opened #1005 "Editing subsections of nodes"
This is a planning issue, not yet complete, to eventually be broken up into sub-issues.

### Idea

To make editing wikis easier, we're interested in making it possible to edit just one section; sections could be divided as block elements, so any header, paragraph, list, blockquote, or image would become a subsection.

Subsections could have an "edit" link next to them, which opens an inline editor

[2016-11-22 18:41] jywarren commented on #816
I've revised #736 to cover these issues, and also did some migrations in #1003 which may resolve at least the riffle page. Thanks!

[2016-11-22 18:41] #816 closed

[2016-11-22 18:42] jywarren commented on #711
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2016-11-22 18:43] jywarren commented on #932
Hello -- how's this going? We could definitely start with just one email, to confirm that it works, then open a new issue to build on your first step. How does that sound?

[2016-11-22 19:33] steviepubliclab commented on #991
where did the idea for putting /people on the menu come from? I think we
should continue our menu redesign talk before we start adding things on it.
This page isn't my favorite way of showing people and activity on the site,
I think the upcoming geography and dashboard activity will do this better.
It's sort of feels like an uncomfortable ranking list of users.

On Tue, Nov 15, 2016 at 1:02 PM, Je

[2016-11-22 20:30] jywarren commented on #991
It's a long standing request which I'm trying to get checked off the list. If that's not a priority, we can cancel the request and remove that addition from #990 (this issue is just for the explanatory text, not the menu). But please check with other staff before commenting on #990 to that effect, thanks!

[2016-11-22 23:21] jywarren commented on #956
How are folks doing on these issues? Hope all's well and I'm happy to make a suggestion of next steps if it's helpful!

[2016-11-22 23:52] jywarren opened #1007 "Move /blog links into the same <p> tag so they appear on a single line"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2016-11-23 03:21] imsarath commented on #994
I was looking for interesting rails projects on first-time-users-only and stumbled onto public lab when i saw the word "DIY".

[2016-11-23 03:31] Kashyap12 commented on #1007
Hi can I take this up?

[2016-11-23 03:38] ykl7 commented on #932
That sounds good, I was trying to do the same in the last PR I opened, to get one working then work on the rest.

[2016-11-23 03:41] jywarren commented on #1007
We'd love your help on this and are happy to offer any assistance you might need. Thanks a lot!

Just curious -- we're trying to improve our outreach to new contributors -- how did you happen to hear about us?

[2016-11-23 06:37] Kashyap12 commented on #1007
via Twitter handle @first_tmrs_only

[2016-11-23 08:20] 500swapnil commented on #599
I was looking for issues on github with label first-timers-only.

[2016-11-23 08:43] 500swapnil commented on #599
I am having trouble installing the prerequisites asked. Can I submit PR without those?

[2016-11-23 09:40] Kashyap12 commented on #1007
Hi @jywarren , I have made a pull request on the above issue, but I guess I ve messed up in creating a branch , I submitted the PR from my master, please let me know if you can merge the PR. Thanks :)

[2016-11-23 12:35] wimpykid26 commented on #988
I was browsing through previous year's GSOC projects and happened to come across this !. Also, a friend of mine (who also contributes to this project) told me about this.

[2016-11-23 14:06] ananyo2012 commented on #28
:smile: Sure!

[2016-11-23 14:09] ananyo2012 commented on #86
@ebarry Your thoughts on this?

[2016-11-23 14:16] ananyo2012 commented on #998
No such issue open @jywarren. So we can go on with this.

[2016-11-23 15:28] jywarren commented on #599
Yes, definitely -- the PR will trigger a build on our automated test
server, which will run your code, and we'll both be able to see the output.
However, you won't be able to see if it's correct unless you write a
specific test for it. Still, this is a pretty minimal HTML change, so I
think it'll be fine. Thanks!

On Wed, Nov 23, 2016 at 2:43 AM, 500swapnil <notifications@github.com>
wrote:

[2016-11-23 15:30] 500swapnil commented on #599
I have sent a PR. Please have a look #1008

[2016-11-23 15:35] jywarren commented on #1007
Super -- i see that in #1010 -- thanks. Looking there.

[2016-11-23 15:41] Kashyap12 commented on #1007
So can it be merged, or did I mess up somewhere ? @jywarren

[2016-11-23 15:43] #994 closed

[2016-11-23 15:47] jywarren commented on #994
Thanks a lot -- we really appreciate your contribution! 👍 🎈

[2016-11-23 15:48] jywarren commented on #988
OK, looking at your PR now. Thanks!

[2016-11-23 15:52] #988 closed

[2016-11-23 15:53] jywarren commented on #988
Thanks a lot! 🎉 🎈

[2016-11-23 15:56] jywarren commented on #86
Liz is traveling in China at the moment, and we're about to have a holiday
this week in the US -- so she probably won't be able to reply until
Monday/Tuesday at the earliest. Thanks!

On Wed, Nov 23, 2016 at 8:09 AM, Ananyo Maiti <notifications@github.com>
wrote:

[2016-11-23 15:57] jywarren commented on #998
Ah, i finally found it! Sorry, when I'd mentioned it I wasn't at my computer and couldn't search thoroughly. Here it is -- we can close it and just direct people to this one, if you like?

https://github.com/publiclab/plots2/issues/425

[2016-11-23 15:59] jywarren commented on #599
Thanks, sorry I missed that at first -- i left one more request there, it's very close.

[2016-11-23 16:00] jywarren commented on #1007
It can be merged -- it's your choice at this point. I made a request for a slight reformatting, but it's a stylistic change, not a functional one. Shall I merge, or would you like to tweak the indentations?

Thanks!

[2016-11-23 16:31] jywarren commented on #956
Sounds like @ashleypt is making progress, as updated in #978. Thanks!

[2016-11-23 16:36] jywarren opened #1012 "Add "first-timers-only" badge to our README"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-11-23 17:14] avi-jain commented on #1012
Hello, I'd like to take this up. Will submit a PR soon
Thanks!

[2016-11-23 17:30] jywarren commented on #1012
Hello -- this is actually going to be part of the Google Code-In program,
so although we would love to have your contribution, I wonder if you might
choose one from this longer list, which is not marked `gcin` -- that would
be great!

Thank you!

On Wed, Nov 23, 2016 at 11:14 AM, Avi Jain <notifications@github.com> wrote:

[2016-11-23 17:34] avi-jain commented on #1012
Oh alright. Sure! 👍

[2016-11-23 17:38] jywarren commented on #1012
awesome 🚀

On Wed, Nov 23, 2016 at 11:34 AM, Avi Jain <notifications@github.com> wrote:

[2016-11-23 18:12] Kashyap12 commented on #1007
I would love to see it get merged :) @jywarren

[2016-11-23 19:01] jywarren commented on #1007
Great, i'll do it now. Thanks!

[2016-11-23 19:32] #1007 closed

[2016-11-23 19:43] jywarren commented on #910
I logged into the Cloud9 workspace, and ran "rake test" and got:

[code]

So maybe I'm not seeing the same state you were looking at 22 days ago... anyhow, happy to help now (or just after Thanksgiving, of course!)

[2016-11-23 19:51] jywarren opened #1014 "Redirect /post to /editor unless it's an event post"
We're pretty much ready with our new rich editor (at https://publiclab.org/editor) except for event posting, so we should set a redirect now in the editor_controller, unless someone specifically wants the old one. So let's rename the `post` action to `legacy`:

Then, make a new `post` method which checks if we definitely want the legacy version, and if not, redirects to the new editor.

But since

[2016-11-23 19:52] ananyo2012 commented on #86
Oh ok its alright. Will wait for her reply.

[2016-11-23 19:59] jywarren commented on #775
@ananyo2012 , perhaps this'd be a good GCI candidate?

[2016-11-23 19:59] jywarren commented on #897
@ananyo2012, perhaps this'd be a good GCI candidate, esp. if you're familiar with this code?

[2016-11-23 20:10] ananyo2012 commented on #775
Yes this involves work on CSS and designing as well. A good GCI candidate.

[2016-11-23 20:15] ananyo2012 commented on #897
Yes this is a good one. Holds importance for improving the sort feature. I can improve documentation for this issue and then we can add this as a task.

[2016-11-23 20:55] #599 closed

[2016-11-23 22:15] mridulnagpal commented on #979
I would like to work on this issue

[2016-11-23 22:16] mridulnagpal commented on #711
I would like to work on this issue

[2016-11-23 22:17] Pk13055 commented on #991
I would like to work on this issue.

[2016-11-23 22:18] 500swapnil commented on #981
I

[2016-11-23 22:18] mridulnagpal commented on #1014
I would like to work on this issue

[2016-11-23 22:19] mridulnagpal commented on #1001
I would like to work on this issue

[2016-11-23 22:20] 500swapnil commented on #981
I would like to work on this issue

[2016-11-23 22:56] ashleypt commented on #956
Hey guys, I just about finished with my PR for refactoring DrupalComment and I wanted to give what I did and some issues I encountered in case that might help!

@aayushgupta1 @sandyvern

first of all keep in mind the rails naming conventions: a model is non-plural and capitalized in camel case like this: Comment, or DrupalComment. For instances of those models, we have all lowercase names, for exa

[2016-11-23 23:14] jywarren commented on #1014
We'd love your help on this and are happy to offer any assistance you might need. Thanks a lot!

Just curious -- we're trying to improve our outreach to new contributors -- how did you happen to hear about us?

[2016-11-23 23:14] jywarren commented on #1001
Great, we'd love to have your help on this!

[2016-11-23 23:15] jywarren commented on #981
Super, yes please! And happy to help.

On Nov 23, 2016 5:20 PM, "500swapnil" <notifications@github.com> wrote:

[2016-11-24 00:50] mridulnagpal commented on #990
I would like to work on this issue

[2016-11-24 00:59] mridulnagpal commented on #990
#1018

[2016-11-24 01:07] 500swapnil commented on #981
How do I test locally, the changes I have made?

[2016-11-24 01:32] 500swapnil commented on #981
PR #1019

[2016-11-24 03:25] ananyo2012 commented on #998
Sure I will close this one and redirect to that one.

[2016-11-24 03:25] #998 closed

[2016-11-24 04:48] mridulnagpal commented on #1014
I heard about it from a friend of mine

[2016-11-24 04:58] mridulnagpal commented on #1014
In which file do I change the following ?

[2016-11-24 04:59] mridulnagpal commented on #857
I would like to work on this issue

[2016-11-24 05:18] mridulnagpal commented on #857
#1020

[2016-11-24 05:50] mridulnagpal commented on #881
I would like to work on this issue

[2016-11-24 06:52] 500swapnil commented on #957
I would like to work on this issue

[2016-11-24 06:57] 500swapnil commented on #957
Will replacing this in Gemfile

"run with `bundle install --without production` or `bundle install --without mysql` to exclude this
group :mysql, :production do"

with

"run with 'bundle install --without mysql  production' to exclude this
group :mysql, :production do"

And the changes in README.environment work?

[2016-11-24 08:49] mridulnagpal commented on #878
I would like to work on this issue

[2016-11-25 09:44] Pk13055 commented on #920
@jywarren I would like to contribute; can you give me some headers (what changes in particular, etc)?

[2016-11-25 14:46] 500swapnil commented on #754
I would like to help with this issue. Can u explain further on how?

[2016-11-25 17:29] jywarren commented on #991
Hi, @Pk13055 - we need some input from Stevie and Liz, linked to above, before we can move forward on this, so if you could take a look at other available issues at https://github.com/publiclab/plots2/labels/help-wanted or https://github.com/publiclab/plots2/labels/fto-candidates, that would be great, thank you!

[2016-11-25 17:31] jywarren commented on #711
Hi, @mridulnagpal - it sounds like @Squawk09 could be stuck on this, so perhaps you could take it on if they're not ready to submit a fix. But it also looks like you've found some other issues to work on, so @Squawk09, feel free to take a bit longer on this and I'm happy to help.

[2016-11-25 17:32] jywarren commented on #979
Hi, @mridulnagpal - it looks like you've found some other issues to work on -- let's let @DanielGeoffreyHodgkins take a bit longer on it. @DanielGeoffreyHodgkins - happy to help if you've gotten stuck or need any pointers. Thanks!

[2016-11-25 17:33] DanielGeoffreyHodgkins commented on #979
Hi, @jywarren my workload has ramped up in recent days and I don't think I'll be able to get round to this in reasonable time. Sorry for wasting your time!

[2016-11-25 18:06] jywarren commented on #1014
Hi, responded in your pull request. Thanks!!!

[2016-11-25 18:13] Pk13055 commented on #979
Is this issue still up for grabs?

[2016-11-25 18:21] jywarren commented on #881
I think you have a couple issues already in progress, so why don't we hold off on this one until your other pull requests are complete. But after that, we would love to have your help with this! Thanks and we appreciate your hard work and energy!

[2016-11-25 18:37] jywarren commented on #754
Maybe a good place to begin here would be to look over this test, which lays out what we expect to happen in that template:

https://github.com/publiclab/plots2/blob/master/test/integration/node_insert_extras_test.rb#L40-L53

Here, we're adding the tag `activity:test` for purposes of testing. So we'd then want this new code to also display a link (an `<a>` tag) pointed at a page which bears the ta

[2016-11-25 18:38] jywarren commented on #754
Oh, and see how the `assert_select` statements look for specific HTML elements? That's how we can add the new expectation.

[2016-11-25 18:40] jywarren commented on #979
I believe so -- and @DanielGeoffreyHodgkins, no waste of time at all, good
luck with your work and if you find yourself with more time, we'd love to
see you again sometime. Thanks!

On Fri, Nov 25, 2016 at 12:13 PM, Pratik Kamble <notifications@github.com>
wrote:

[2016-11-25 18:49] jywarren commented on #920
I believe this has improved as of #973, but I'd like to see the graph labelled, and more space added above it (it currently overlaps the "read more" text in some screensizes).

I also wonder if "Research Notes" could be made into "Recent updates" and a new tab could be added for Activities, listing an [activity grid](https://publiclab.org/notes/liz/08-30-2016/check-out-these-activity-grids) automa

[2016-11-25 18:49] jywarren commented on #920
Thanks, by the way!!!

[2016-11-25 19:14] jywarren commented on #990
Closed in #1018!

[2016-11-25 19:14] #990 closed

[2016-11-25 19:16] jywarren commented on #981
Completed, thanks! 🎉

[2016-11-25 19:16] #981 closed

[2016-11-25 21:38] saakuffo commented on #806
I think I have a handle on this. Incoming PR.

[2016-11-26 01:11] jywarren commented on #806
Perfect, thank you so much! 🎉 🎈 👍

[2016-11-26 01:12] #806 closed

[2016-11-26 03:26] 500swapnil commented on #754
Yeah it sounds great. I will have a look

[2016-11-27 06:10] ryzokuken commented on #957
@jywarren Wasn't this fixed?

[2016-11-27 09:02] mayank-mittal commented on #511
So do i only have to create a container which displays this message and add it to the dashboard.html.erb? if it is can i take this one.

[2016-11-27 14:25] jywarren commented on #957
Yes, it was! I guess we didn't link from the PR. Thanks!

[2016-11-27 14:25] #957 closed

[2016-11-28 04:18] jywarren commented on #511
We'd have to also check if the user is new -- i.e. have they signed up in the past week, for example? And put that in a conditional. Something like:

[code]

I *think* that'd work, but you probably need to test it out!

Thanks a lot!

[2016-11-28 14:22] jywarren opened #1026 "Map page breaks with no @node.map.tms check"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2016-11-28 14:22] jywarren commented on #131
Reformatted this issue into #1026, closing this one now!

[2016-11-28 14:22] #131 closed

[2016-11-28 16:14] kadosa commented on #979
Hi! I'd be happy to pick this one up, if Pk13055 is not working on it already..

[2016-11-28 20:18] jywarren opened #1027 ""make a lead page for this topic" button on tag pages"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-11-28 20:24] jywarren opened #1028 "Add contributors count to tag pages"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-11-28 22:24] jywarren commented on #979
Please do -- we haven't heard back yet. And anyone who's still looking for issues, many of these are close to `first-timers-only` type issues, but are either lacking formatting or a few extra bits of info.

https://github.com/publiclab/plots2/labels/fto-candidate

I'm happy to fill in the blanks if you find one that you like.

[2016-11-28 23:12] wvward commented on #1026
I'd like to contribute to this issue.  I've read through the README & requested an invite to C9.io.

[2016-11-28 23:16] jywarren commented on #1026
Oh that would be so super, thank you will! Don't hesitate to ask if you
need any help.

On Nov 28, 2016 6:12 PM, "wvward" <notifications@github.com> wrote:

[2016-11-28 23:47] kadosa commented on #979
Ok, I've forked the repo and got everything set up. Now just need to figure out the right copy. I think 'Ask a related question' and 'Ask about $topic' is fine. Not sure how you go about selecting the correct German translation, I speak the language but I'm not native. My proposition would be 'Stellen Sie eine verbundene Frage' and 'Fragen Sie anderen bezüglich $topic'.

The current code does not

[2016-11-29 07:08] Pk13055 commented on #979
I'm sorry, I was shifting town. I've changed the caption, but can't seem to find the tooltip text

[2016-11-29 14:09] manish310794 commented on #1027
@jywarren I have made the required changes in my local. Can you help me with creating a pull request. I have created a new branch in my local for this issue. When I am trying to push that branch to your repository, it return 403 (Unauthorized) error.

[2016-11-29 16:50] jywarren commented on #1027
Hmm, can you tell me the exact steps you take? Do you have your own fork?

Perhaps you have to push to: `git push https://github.com/manish310794/plots2.git feature-branch-name`

If you can share your exact console steps I can help out, thanks!

[2016-11-29 17:14] ashleypt commented on #761
I'll be happy to break this issue up. Additionally, each piece of it is something I'd like to work on, especially the first two.

[2016-11-29 17:14] ashleypt commented on #830
On this issue I'll be happy to break it up and assist the newcomers with each sub-issue when they get stuck.

[2016-11-29 17:41] jywarren commented on #761
Super - yeah, i think the first step is to actually open a new issue for one of these, link to lines of code, and clearly (if briefly) state the distinct problem and proposed solution, with a link back to this "overview" issue. Thank you!

[2016-11-29 17:43] jywarren commented on #761
And #825 includes test fixture data which create coauthor tags, as well as a test which will fail until the right-to-edit is added. So it's a great place to start!

[2016-11-29 18:12] jywarren commented on #956
Just wanted to say that @ashleypt's changes were just merged (#978), passing all tests. Thanks and looking forward to tackling the remaining parts of this!

[2016-11-29 18:15] jywarren commented on #956
In particular, @aayushgupta1  - your PR looked really good, so if you wanted to resubmit just the DrupalNode part, I'd love to see it!

[2016-11-29 19:27] jywarren commented on #1027
Great? Closed in https://github.com/publiclab/plots2/pull/1029

[2016-11-29 19:27] #1027 closed

[2016-11-30 07:40] ykl7 commented on #1014
@jywarren @mridulnagpal If this is still open, would you mind if i had a look at it?

[2016-11-30 08:25] manish310794 commented on #1028
@jywarren I am interested to take this up.
I need some context here though.

- We need to show the contributors count for the tag or the wiki page?
- If there is no wiki page for that tag, where will the count be shown?
- Is contributor count dependent on the notes displayed? If so, then how?

[2016-11-30 13:15] ananyo2012 opened #1033 "Welcoming Everyone in Public Lab's gitter channel !"
Hey everyone! This issue is for inviting everyone to our gitter channel. Sorry for making this as an issue but didn't find a good way to mention you all. Join our gitter channel at https://gitter.im/publiclab/publiclab

@carolineh101 @chongr @ryzokuken @sandyvern @ykl7 @ashleypt @gcttong @ap916 @500swapnil @rafael-acerqueira @sofiaclara93 @saakuffo @justinmanley @hklebs @RodCardenas @cpdavngr  @sj