[2020-01-21 19:45] jywarren commented on #7320
Hi, i think this could be linked to https://github.com/publiclab/PublicLab.Editor/issues/307, and I think @VladimirMikulic may have filed a fix for it. If so, we may just need to bump the version in the Editor and get the latest version into plots2 here?

[2020-01-21 19:47] jywarren commented on #7320
I'm sorry i think perhaps it was @IgorWilbert !

[2020-01-21 19:50] jywarren commented on #6990
I think this may have been published on the GCI task dashboard but not yet taken up or solved. Perhaps @Uzay-G or @VladimirMikulic may be interested in it, if there is any time left, or we can boost it another way!

[2020-01-21 19:50] jywarren commented on #6990
Ah and yes, I think you have ID'ed another issue about it not posting at all, and will post that. Can you forward me both emails so I can collect all relevant info just in case? Thanks!

[2020-01-21 19:52] jywarren opened #7321 "Reply to comment by email not working"
Reporting re: @steviepubliclab and possibly related to #5668 -

![image](https://user-images.githubusercontent.com/24359/72838046-905f2100-3c5d-11ea-985c-ab291ea165e1.png)

This is a priority issue, and cc'ing @icarito to see if we can check the mail queue in general, or otherwise track this message?

[2020-01-21 19:52] jywarren commented on #6990
Posted it here! https://github.com/publiclab/plots2/issues/7321 Thank you!!!

[2020-01-21 20:04] VladimirMikulic commented on #7320
@jywarren I haven't filed a fix for it, yet.

[2020-01-21 21:33] jywarren commented on #7281
Thank you so much for the research.

1. If the popup content is being loaded with @sagarpreet-chadha's fix
2. then we could try to extend leaflet's popup, make the fix there and use it until we figure it out.

So let's try out @sagarpreet-chadha's fix? Agreed that we can fix this way. Has anyone had a chance to look this up on the Leaflet repo? I can if you can describe the issue in once sentence

[2020-01-21 21:54] Uzay-G commented on #5652
Alright :+1:. Number 2 is an error when logging in through MK or SWB?

[2020-01-21 21:54] Uzay-G commented on #6990
I will investigate to try and debug the error :+1:

[2020-01-21 21:57] Uzay-G commented on #6990
Testing the comment filter on the gist you provided fails.

[2020-01-21 22:08] jywarren commented on #6990
Are we able to add a new filter step that scrubs the content in our own comment emails? Perhaps, looking for standard text from one or all of these templates? https://github.com/publiclab/plots2/tree/master/app/views/comment_mailer

[2020-01-21 22:10] Uzay-G commented on #6990
Yeah that could work. But maybe could you explain what the `.+` in the regex does? I understand the grouping of the results but the use of  `.+`  confuses me. Thanks!

[2020-01-22 02:28] jywarren commented on #5450
Hi, it would be even easier to provide the feed in json, if that could
work? Csv is also possible but takes some work to encode. Thanks!

On Sun, Jan 12, 2020, 3:04 PM Benjamin Sugar <notifications@github.com>
wrote:

[2020-01-22 02:38] skilfullycurled commented on #5450
Yes, whatever is easiest for you so long as it’s in a format which is machine readable, preferably without having to write our own parser!

Oh, and no classless HTML.

Don’t think I didn’t see your hand moving for that button @jywarren!

: P

[2020-01-22 04:35] SidharthBansal commented on #5652
Yes

On Wed, 22 Jan 2020, 3:24 am Uzay-G, <notifications@github.com> wrote:

[2020-01-22 06:45] Uzay-G commented on #5652
Oh wait. I actually have noticed a problem. I could not find the session error but currently, logging in through MK or SWB with oauth redirects to dashboard. Normal login does not.

I am going to setup the multi-oauth system again locally to see if I have the same problem :+1:

[2020-01-22 07:49] NitinBhasneria opened #7325 "Header for small devices after dropdown improvement."
![Screenshot from 2020-01-22 13-15-19](https://user-images.githubusercontent.com/44112080/72875272-edb8a800-3d19-11ea-81e1-31a2215530f3.png)

### Please describe the problem (or idea)

Actually, when we click on menu and then on community or tools it has a dropdown but this dropdown does not go after a further click on any of those due to which it looks wired and little bad
for the header menu.

W

[2020-01-22 07:50] NitinBhasneria commented on #7325
@SidharthBansal @jywarren @nstjean Please review this issue.

[2020-01-22 07:55] #7325 closed

[2020-01-22 09:33] SidharthBansal commented on #5652
You found the problem. Great! Let's fix this

On Wed, Jan 22, 2020 at 12:15 PM Uzay-G <notifications@github.com> wrote:

[2020-01-22 14:59] crisner commented on #6887
Requested changes made for PR[#353](https://github.com/publiclab/leaflet-environmental-layers/pull/353) for issue[#347](https://github.com/publiclab/leaflet-environmental-layers/issues/347) and is ready for review.

[2020-01-22 15:07] crisner commented on #6887
I would also like some inputs on PR[#356](https://github.com/publiclab/leaflet-environmental-layers/pull/356)

[2020-01-22 15:16] jywarren commented on #6799
Yes, i wanted to agree also that we want the background image to be edge-to-edge the whole time. The Froala code achieves this, as shown on our front page!

In the meantime, our pages are degrading a bit, some change must have affected the styling and now they are pretty bad!

https://publiclab.org/tag/annual-report

![image](https://user-images.githubusercontent.com/24359/72906277-f56b5300-3cff-1

[2020-01-22 16:25] CoderJolly commented on #6808
Hello Everyone !!
Just wanted to remind all GCI Students that you need to fill the forms pertaining to the **Grade sheet** & **Mentor Evaluation** as together they carry **10 points** 💯

_GRADESHEET_ FOR STUDENTS https://docs.google.com/forms/d/1e60ybBZNaJ_Aai_pJHIzFL4gxMVsVngZBUYw3gK_1dE/edit?ts=5df7b8f8

_MENTOR_ EVALUATION FORMS BY STUDENTS https://docs.google.com/forms/d/1DO5U3APs6nyOorHWIvz5j

[2020-01-22 16:35] #6246 closed

[2020-01-22 17:09] Uzay-G commented on #5652
The redirection is working for MK locally. Maybe we haven't deployed to
production for fixes to take effect?

On Wed, Jan 22, 2020 at 10:33 AM Sidharth Bansal <notifications@github.com>
wrote:

[2020-01-22 17:33] nstjean commented on #3090
I think I've solved the testing issues in https://github.com/publiclab/leaflet-blurred-location/pull/235

And then once that fix is published I'll post the PR for showing the PLpeopleLayer. It's still really slow, though, which you can see here: https://publiclab.github.io/leaflet-blurred-location-display/examples/ If you scroll up to the UK/Europe it takes a long while for markers to show up. Is

[2020-01-22 18:57] SidharthBansal commented on #5652
Yeah we haven't deployed plots2 yet.
You can try to complete the system test task until the GCI deadline. We can
come back here again :-)
Let's focus on it.

On Wed, Jan 22, 2020 at 10:39 PM Uzay-G <notifications@github.com> wrote:

[2020-01-22 19:42] nstjean commented on #6993
Do we want notes, wikis and people showing on `/map/`? Or just `/map/wikislug/`?

[2020-01-22 19:58] nstjean commented on #6887
Question about the map page here: https://github.com/publiclab/plots2/issues/6993#issuecomment-577352894

Adding PLpeopleLayer to LEL: https://github.com/publiclab/leaflet-environmental-layers/pull/361 [WIP]

https://github.com/publiclab/leaflet-blurred-location/pull/235 ready for merge

[2020-01-22 20:31] NitinBhasneria commented on #6799
Yea I will give it a try

[2020-01-23 05:11] sagarpreet-chadha commented on #6887
Reviewed above PR's. Thanks!

On Thu, 23 Jan 2020, 01:28 Natalie St Jean, <notifications@github.com>
wrote:

[2020-01-23 07:11] mantinone commented on #6597
Hey, it looks like this issue is still open.

Can I claim it?

[2020-01-23 07:18] SidharthBansal commented on #6808
Is here anyone interested to mentor GSoC or outreachy or rails girl summer of code?

We will be opening the call for mentors shortly

[2020-01-23 08:27] Uzay-G commented on #6808
I think it could be interesting but I am not sure I have enough experience.

On Thu, Jan 23, 2020, 08:18 Sidharth Bansal <notifications@github.com>
wrote:

[2020-01-23 09:33] SidharthBansal commented on #6808
You can give it a try. We are there to help you

On Thu, 23 Jan 2020, 1:57 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-23 12:08] keshavsethi opened #7333 "Text Overflow in People section"
In https://publiclab.org/people Text for some people is more than div size.
Refer to following Image
![Screenshot from 2020-01-23 17-33-45](https://user-images.githubusercontent.com/36025262/72983321-0488f880-3e07-11ea-8bfd-5f2a92912754.png)

[2020-01-23 12:22] keshavsethi opened #7334 "Wrong wiki count in Dropdown by type"
In https://publiclab.org/contributors/newsletter dropdown by type Wiki pages is showing 3 but on clicking it shows only 1
Image is shown below
![Screenshot from 2020-01-23 17-47-30](https://user-images.githubusercontent.com/36025262/72984149-0653bb80-3e09-11ea-91e5-5c905567f5a1.png)

[2020-01-23 12:26] keshavsethi commented on #7334
If we click on by Views button then it shows all 3 but again if try to sort all 3 of them by title it again shows 1 newsletter

[2020-01-23 14:21] nstjean commented on #6597
@mantinone Yes go ahead!

[2020-01-23 15:58] chinmay021 commented on #6730
@gptshubham595 @nstjean  can i work on it? I would like to get started with this. I am totally new to Github and Open Source contributions.

[2020-01-23 15:58] nstjean commented on #7289
So it looks like that was the idea, eventually, but that it was never coded in so it's just some "example tags" hardcoded in.

I'm looking through https://github.com/publiclab/plots2/blob/master/app/models/tag.rb which is the model for Tag. I don't see any functions that get all tags from the database. What you'd need to do is add a function like all_tags_by_popularity and in it you'd use ActiveQu

[2020-01-23 16:04] nstjean commented on #6730
@chinmay021 Go ahead!

[2020-01-23 19:12] VladimirMikulic commented on #6808
@SidharthBansal we have to be mature (18) to be mentors, right?

[2020-01-23 21:55] chinmay021 commented on #6730
#7337 created a PR . please review

[2020-01-23 22:29] jywarren commented on #7226
Hi, has this begun working again? I just received a digest, so I hope everything is OK now?

[2020-01-23 23:09] SidharthBansal commented on #6808
Please refer guidelines

On Fri, 24 Jan 2020, 12:42 am Vladimir Mikulic, <notifications@github.com>
wrote:

[2020-01-23 23:09] SidharthBansal commented on #7226
Have you deployed ?
Then it should work

On Fri, 24 Jan 2020, 4:00 am Jeffrey Warren, <notifications@github.com>
wrote:

[2020-01-23 23:24] mantinone commented on #6597
Okay, I believe I'm ready for review.

I noted that the lines mentioned in the description didn't match up with the lines in the file, but I'm guessing that might just be an issue with the browser.  The file looks as expected in Atom.

I realized after submitting that I didn't create a branch for this.  I just used the browser edit function.  Should I redo this pull request with a branch?

[2020-01-24 07:54] SidharthBansal commented on #6808
Mentors are requested to fill the form
https://docs.google.com/forms/d/1UcmXtNEVjZW6fozpW_9gWduRpnfVNG816JTswx85_VA/edit asap
DEADLINE 27 January 18 IST
Thanks all. We have expedited the process :-)

[2020-01-24 07:56] SidharthBansal commented on #5627
Mentors are requested to fill the form
https://docs.google.com/forms/d/1UcmXtNEVjZW6fozpW_9gWduRpnfVNG816JTswx85_VA/edit asap
DEADLINE 27 January 18 IST
Thanks all

[2020-01-24 12:26] sssash18 opened #7342 "Sorting of activity not working"
### Please describe the problem (or idea)

The sorting of activity on dashboard id only present visually and is not working.

The activity must only show the option selected in sort list
**Current Behaviour**
![Untitled_ Jan 24, 2020 5_47 PM](https://user-images.githubusercontent.com/57896905/73069021-aaee0000-3ed2-11ea-9789-3ec52f45f91e.gif)
**Expected Behaviour**
![Untitled_ Jan 24, 2020 5_52 PM

[2020-01-24 12:27] sssash18 commented on #7342
@publiclab/reviewers @SidharthBansal  Can I start working on this?

[2020-01-24 12:32] sssash18 commented on #7071
@sagarpreet-chadha  Can I do this  if shipcy is not active ?

[2020-01-24 13:10] SidharthBansal commented on #7342
Cool

On Fri, 24 Jan 2020, 5:57 pm Suyash Choudhary, <notifications@github.com>
wrote:

[2020-01-24 13:19] crisner commented on #6887
PR[#356](https://github.com/publiclab/leaflet-environmental-layers/pull/356) for issue[#123](https://github.com/publiclab/leaflet-environmental-layers/issues/123) ready for review. Thanks!

[2020-01-24 14:46] jywarren commented on #7281
Popups work:

* https://publiclab.org/map
*

[2020-01-24 15:00] jywarren commented on #6910
Just noting here - possible additional issue which we believe is solved, but linking:

- markers don't appear at all now; could be linked to the fix -- https://github.com/publiclab/plots2/pull/7299 - this is the LEL bump that was causing testing errors, we talked about default loading
- https://publiclab.org/notes/warren/11-16-2019/mashapaug-pond - example of this in sidebar map

[2020-01-24 15:11] jywarren commented on #7281
setContent usages:

* https://github.com/publiclab/leaflet-environmental-layers/blob/7cf1aa1b19e9b3728901465255d13ab3f028a786/src/layercode.js#L61
* just HTML

* https://github.com/publiclab/leaflet-environmental-layers/blob/38c1c65b598f8469b2511fc35b110968fac8a31c/src/unearthing.js#L56
* passing in just HTML

appendChild used: https://github.com/publiclab/leaflet-environmental-layers/search?q=app

[2020-01-24 15:17] jywarren commented on #7281
Goals:
* tracking exactly where setContent attempts to pass in an object
* how different maps' popups are constructed in different places - consistency of instantiating LEL on for example "plots2/app/views/map/_peopleLeaflet.html.erb"
* used in 3 places - 2 are on the people page: https://github.com/publiclab/plots2/search?q=peopleLeaflet
* 1 is on the inline people maps: https://github.com/public

[2020-01-24 15:32] jywarren commented on #7281
Ah, and also, to see if upstream Leaflet is tracking any related issue, it seems not, but here is my search: https://github.com/Leaflet/Leaflet/search?q=setContent+popup&type=Issues

[2020-01-24 15:36] jywarren commented on #7281
To my last comment, I searched a bit more, and Leaflet specifies only HTML as the parameter: https://leafletjs.com/reference-1.4.0.html#popup-setcontent

I think we need to find where we're passing in `popup._content` instead of just HTML, as Sagarpreet had pointed out. Maybe we're doing this in `plots2` on the people page?

That would be somewhere in this JS file, i think? https://github.com/publ

[2020-01-24 15:39] jywarren commented on #6910
I think i found the event handlers:

https://github.com/publiclab/plots2/blob/23e83cdc51a8496f23db932054cbe25ee329e821/app/assets/javascripts/leaflet_helper.js#L109-L140

[2020-01-24 15:46] nstjean commented on #6910
I can fix this, I had to do something similar on `/map/`. I'll make a PR

[2020-01-24 15:46] jywarren commented on #7281
Also, i've tried to put a range of good example maps on this page and ensure that stable/production are both showing the same content:

https://stable.publiclab.org/wiki/inline-maps

https://publiclab.org/wiki/inline-maps

[2020-01-24 17:03] crisner opened #7344 "Fix layer control not loaded on map page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-24 17:07] sentry-io[bot] opened #7345 "ActionView::Template::Error: undefined method `comments_viewable_by' for #<Node:0x00007fa5a9af7228>"
Sentry Issue: [PLOTS2-KA](https://sentry.io/organizations/publiclab/issues/1470765984/?referrer=github_integration)

[code]

[2020-01-24 17:09] jywarren commented on #7345
Hmm. This started happening on Sentry, but this method does exist!

https://github.com/publiclab/plots2/blob/aa3b8644e365080e264e73590529ff03bb63cb08/app/models/node.rb#L1087

[2020-01-24 17:10] jywarren commented on #7345
It looks like it affects this page on production: https://publiclab.org/notes/B-winters/12-14-2018/revised-3d-printable-mini-spectrometer

[2020-01-24 17:11] jywarren commented on #7345
Here's where we use it!

https://github.com/publiclab/plots2/blob/aa3b8644e365080e264e73590529ff03bb63cb08/app/views/notes/_comments.html.erb#L3

[2020-01-24 17:11] tawandamoyo commented on #7344
I'd like to work on this please.

[2020-01-24 17:14] jywarren commented on #7345
Somehow this second error could also be related???

[code]

[2020-01-24 17:18] SidharthBansal commented on #5652
SWB working perfectly fine now. No redirecting back to publiclab.org :tada:

[2020-01-24 17:20] SidharthBansal commented on #5652
mapknitter working perfectly fine now 🚀

[2020-01-24 17:20] #5652 closed

[2020-01-24 17:24] crisner commented on #7344
Yes, please go ahead!

[2020-01-24 17:43] Uzay-G commented on #5652
:rocket: :tada:

[2020-01-24 18:13] SidharthBansal commented on #6808
It was really nice working with you all in GCI.
Let's move to SoC programs now.
Closing this.
Thanks

[2020-01-24 18:13] #6808 closed

[2020-01-24 18:14] SidharthBansal commented on #6239
@VladimirMikulic @Uzay-G are you willing to refactor this folks?

[2020-01-24 18:16] SidharthBansal commented on #6239
Open up a new issue with ONLY changes that are needed.
You can do it after 30 January whenever you are free and if you want to do.
By 30th January we will submit the GCI results. 🚀
To be fair, we decided cool down period for this week. 👍

[2020-01-24 18:35] VladimirMikulic commented on #6239
Of course @SidharthBansal.
If I understand you correctly, you want us to finish the unsolved issues?

[2020-01-24 18:38] Uzay-G commented on #6239
No I think he wants us to open a new reactors issues with potential tasks
for the next gci. I'd love to work on it :+1:

On Fri, Jan 24, 2020, 19:35 Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-24 18:44] SidharthBansal commented on #6239
I think it will be great to refactor the list as @Uzay-G said before finishing this list @VladimirMikulic
I know you are really interested to close all the above issues. But I will not allow you to work for some days 🎉 You all should relax and enjoy. You all did a great job!

[2020-01-24 18:55] jywarren commented on #7345
This seems to be working again after the latest publication! https://publiclab.org/questions/Meculus/01-05-2020/microscope-not-focusing-right#c26193

[2020-01-24 18:55] #7345 closed

[2020-01-24 19:15] NitinBhasneria commented on #6799
@jywarren I have found the solution of the edge-to-edge background image. I first tried the Froala design as on the front page. But using this will disturb many CSS classes and the given Froala design is also little unuseful of these tag pages, as this has extra buttons and all the things and many errors are coming. **Instead of this we can change some little CSS and page can be made like front pa

[2020-01-24 20:24] gabrielbaldao commented on #7334
Can I try fix this?

[2020-01-24 21:14] nstjean commented on #7281
So it looks like only the last map on the page has working popups.

This is when I click on a marker on the top map:

![🎈 Public Lab: Inline Maps - Google Chrome_028](https://user-images.githubusercontent.com/49460529/73104218-f0ef9780-3ec3-11ea-8e0e-99887588f9ae.png)

This is when I click on a marker on the bottom map:

![🎈 Public Lab: Inline Maps - Google Chrome_028](https://user-images.githubus

[2020-01-24 21:53] nstjean commented on #7281
If I put multiple maps in the same template (with unique variable names) they work.

![FireShot Capture 234 - 🎈 Public Lab_ Plain Inline Maps - localhost](https://user-images.githubusercontent.com/49460529/73106582-b983e980-3ec9-11ea-9b71-d8118f38c972.png)

The exact same code pasted into separate templates is throwing the error. I think it might be because of the separate ruby function calls here

[2020-01-24 22:44] moskeyombus commented on #6855
I haven't been able to make any meaningful progress here.  Ultimately, the issue is far more complex than I originally thought.  There is a massive block of logic in the `tags#show` method that will apply filters and load a set of tags based on what you're viewing.  There is an entirely separate block of code that determines the counts in the 'by Type' dropdowns (`Tag.find_nodes_by_type`).

The lo

[2020-01-24 22:51] jywarren opened #7346 "Location modal not working on some pages"
Let's deal with this on Monday! 😅

![image](https://user-images.githubusercontent.com/24359/73109758-1be0e800-3ed2-11ea-8278-cae1462c3221.png)

On https://publiclab.org/wiki/unearthing-pvd the `Add a location` button doesn't seem to work, so I wonder if it's interacting somehow with some of our other mapping code?

I see this error, though, which could be involved:

[code]

[2020-01-24 23:00] jywarren commented on #7281
Great observation! Thanks @nstjean !!

[2020-01-25 01:35] crisner commented on #7281
Great catch @nstjean! :tada: :rocket: :rocket:
Could be related to the unique id?

[2020-01-25 01:56] nstjean commented on #7281
@crisner I thought so too but changing them didn't make a difference!

[2020-01-25 05:49] govindgoel opened #7347 "Change the function t to translations in app/views/notes/_draft_notes.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-25 05:50] govindgoel commented on #6579
@nstjean Another fto #7347

[2020-01-25 07:35] urvashigupta7 commented on #7333
I would like to work on this issue.

[2020-01-25 07:40] yogeshjdeshmukh commented on #7347
Can I work on this issue if no one is assigned yet?

[2020-01-25 08:41] govindgoel commented on #7347
@yogeshjdeshmukh  Go ahead!

[2020-01-25 08:47] keshavsethi commented on #7334
yes, you can try this but before doing this get it reviewed by @SidharthBansal @nstjean @jywarren

[2020-01-25 10:34] crisner commented on #7281
Just posting this link on a similar issue here as a note: https://gis.stackexchange.com/questions/66193/multiple-instance-of-leaflet-on-page#comment130672_76494

I'll edit this comment to add other similar issues that I find as a reference here.

[2020-01-25 11:37] sssash18 opened #7350 "A large gap between 'Tools' and 'About Us' in navbar"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-25 12:51] CaseyPitman commented on #7350
I’m just getting started. I’d be happy to take this one.

[2020-01-25 12:55] sssash18 commented on #7350
@CaseyPitman  go ahead with it.

[2020-01-25 14:08] NitinBhasneria commented on #7168
@jywarren I would like to work on this.
I have an idea, instead of scrolling we can add button for zoom in the maps.
What is your review?
thanks

[2020-01-25 14:13] NitinBhasneria commented on #7127
@jywarren @SidharthBansal This is not a valid issue need to be closed.

[2020-01-25 14:31] SidharthBansal commented on #7127
Why this needs to be closed?

[2020-01-25 14:33] NitinBhasneria commented on #6941
@jywarren @CodeSarthak If this issue is not yet solved I would like to wrok on this?

[2020-01-25 14:33] SidharthBansal commented on #7334
Sure. Please provide a fux

[2020-01-25 14:44] NitinBhasneria commented on #6851
@ananyaarun @SidharthBansal Is their is need of hover now. If yes please tell so that I can fix it.

[2020-01-25 15:44] nstjean commented on #7168
@NitinBhasneria There should already be zoom in and out buttons on the maps. :) We just need to turn off the scrollwheel!

[2020-01-25 18:56] NitinBhasneria commented on #7168
@nstjean so should I make this happen?

[2020-01-25 18:58] NitinBhasneria commented on #7127
because fixes of this issue has already been merged. @SidharthBansal

[2020-01-26 06:20] debck commented on #7127
Yes it was fixed here https://github.com/publiclab/plots2/pull/7102

[2020-01-26 09:05] SidharthBansal commented on #6808
Those candidates who are ineligible for GSoC mentorship can become part of reviewers team. So, no worries :-)

[2020-01-26 09:06] SidharthBansal commented on #6808
Also, check Outreachy and Rails Girl Summer of Code mentorship eligibility criterion. Maybe you will fit there

[2020-01-26 09:06] VladimirMikulic commented on #6808
Mark me for reviewers team :+1:

[2020-01-26 09:59] SidharthBansal commented on #6808
Please send a request. I or @cesswairimu or @jywarren will accept

[2020-01-26 11:31] sssash18 opened #7353 "Introducing "new" tag for new activity cards"
**Please describe the desired behavior.**
Describe the solution you'd like.
It will be good if we put a new tag in user's activity which are added after the user's last login.
**Current Behaviour**
![Screenshot 2020-01-26 at 4 59 50 PM](https://user-images.githubusercontent.com/57896905/73134525-5925b100-405d-11ea-9133-1b084c9d0577.png)

**Expected Behaviour**
![Screenshot 2020-01-26 at 4 54 10 PM

[2020-01-26 11:31] sssash18 commented on #7353
@publiclab/reviewers  @SidharthBansal  What are your views on this?
I would like to implement this.

[2020-01-26 12:59] VladimirMikulic commented on #6808
Thanks, @SidharthBansal. Where should I send it? Thanks.

[2020-01-26 13:06] sashadev-sky commented on #7347
@govindgoel was just wondering why did we start updating all of these? can u point me to some documentation about it please if you have :)

[2020-01-26 14:12] NitinBhasneria commented on #6801
@gptshubham595 @SidharthBansal I would like to work on this issue.

[2020-01-26 14:59] NitinBhasneria commented on #6155
@jywarren Is there some more task left for this issue. If yes please tell and assign them to me.

[2020-01-26 14:59] govindgoel commented on #7347
@sashadev-sky  Apology as I don't have any stuff related to this.

[2020-01-26 16:47] NitinBhasneria commented on #6072
Is this issue still need some help? @CleverFool77 @jywarren @gautamig54

[2020-01-27 05:49] SidharthBansal commented on #4707
@VladimirMikulic @Uzay-G are interested I guess

[2020-01-27 05:50] SidharthBansal commented on #4707
@cesswairimu @jywarren can you please add these folks

[2020-01-27 06:09] SidharthBansal commented on #6801
Oh great.
Coordinate with Sagar and Cess on this

On Sun, 26 Jan 2020, 7:42 pm Nitin Bhasneria, <notifications@github.com>
wrote:

[2020-01-27 12:00] sssash18 opened #7355 "Popup doesn't disappears on 'Manage Subscriptions page'"
### Please describe the problem (or idea)

The share popup on manage subscriptions page does not diappears on clicking somewhere else on the screen.This creates inconvenience for the user
![Untitled_ Jan 27, 2020 5_27 PM](https://user-images.githubusercontent.com/57896905/73173140-af145a80-412a-11ea-9e63-4d55dbe971a5.gif)

### Please show us where to look

https://publiclab.org/ ...

### What's yo

[2020-01-27 12:01] sssash18 commented on #7355
@publiclab/reviewers Please share your views on this

[2020-01-27 12:20] VladimirMikulic commented on #4707
:+1:

[2020-01-27 12:30] crisner commented on #7281
@nstjean, when you are looking into this issue I think it would be better to pass in the baselayer as done here:
https://github.com/publiclab/plots2/blob/aa3b8644e365080e264e73590529ff03bb63cb08/app/views/map/map.html.erb#L103-L106

in the functions here:
https://github.com/publiclab/plots2/blob/aa3b8644e365080e264e73590529ff03bb63cb08/app/assets/javascripts/leaflet_helper.js#L94-L107

and here:
h

[2020-01-27 12:37] crisner commented on #7281
Also, here are couple of issues I found that could be related.
- https://stackoverflow.com/questions/19186428/refresh-leaflet-map-map-container-is-already-initialized
- https://github.com/axyjo/leaflet-rails/pull/82

[2020-01-27 13:23] JanviMahajan14 commented on #7355
Hi @sssash18 i am new in open source . Can I work on this issue?

[2020-01-27 13:46] sssash18 commented on #7355
@JanviMahajan14 If you are new to publiclab ,I would recommend you to first do a "first timers only issue " first and get familiar with the environment. That would help you a lot.Thanks

[2020-01-27 14:24] NitinBhasneria commented on #6801
@sagarpreet-chadha @cesswairimu Can I work?

[2020-01-27 14:42] ritikasource commented on #7344
Hey, can I claim this issue if it's still available?

[2020-01-27 14:43] imajit commented on #7355
Hey I think the same problem is there when you click topics button
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/38528640/73183810-6e740b80-4141-11ea-9dd2-8abf6fdfa150.gif)

[2020-01-27 14:50] crisner commented on #7344
@tawandamoyo, are you working on this issue?

@ritikasource, let's wait for @tawandamoyo's confirmation. Meanwhile, you can take a look at other issues you can work on. Thanks! 🙂

[2020-01-27 14:51] ritikasource commented on #7344
I will surely go through the other ones, thankyou.

[2020-01-27 15:26] jywarren opened #7357 "View on a map from notes pages results in "NaN" in URL"
Hi @nstjean - i think maybe this is an unintended effect, but I see "view on a map" on pages like this:

https://publiclab.org/notes/warren/11-16-2019/mashapaug-pond

But it leads to this URL, probably because we aren't getting a proper slug from it, since it's not a wiki page?

https://publiclab.org/map#NaN/41.79/-71.43

But, I'm not sure about that. I guess we should be using `node.id` on notes,

[2020-01-27 15:29] jywarren commented on #7346
Hi @nstjean just checking in about this as well, i'd super appreciate some help on this if you have a moment. I noticed this seems to be the case on both the wiki page above, and also on my dashboard. I can open a separate issue for that; it seems also odd because I already have a location on my profile - let's check if there is conditional logic on that template and we'll break it out as a separa

[2020-01-27 15:29] jywarren commented on #7346
Thanks!

[2020-01-27 15:32] nstjean commented on #7357
Ohh I think it's because there's no zoom saved for that page! I'll have to hardcode a default zoom level. I'll get a PR for this today!

[2020-01-27 15:32] jywarren commented on #7357
Oh, awesome. Thank you so much!

[2020-01-27 15:34] nstjean commented on #7346
Hmmm. I'll take a look. There were two FTOs posted regarding the button, I'll check to make sure both were merged!

[2020-01-27 15:34] jywarren commented on #7346
Ah, ok, thanks!

[2020-01-27 15:43] nstjean commented on #7346
Ahh here it is. A PR was never submitted for this! https://github.com/publiclab/plots2/issues/7266 . This is only for the Dashboard, though. It should be working on Wiki pages. I'll keep looking.

[2020-01-27 15:52] nstjean commented on #7346
It looks like that console error is stemming from this code here:

https://github.com/publiclab/plots2/blob/aa3b8644e365080e264e73590529ff03bb63cb08/app/views/like/_like.html.erb#L157-L209

It's happening if you click anywhere on the page, not just the button.

[2020-01-27 15:57] nstjean commented on #7346
It does look like that error is interfering though. Here is the same issue:
https://stable.publiclab.org/wiki/inline-maps
Possibly it is the inline maps triggering an error there somehow.

[2020-01-27 16:21] crisner commented on #7281
This is awesome @nstjean! 🎉  🎉 🎉
I was going in the same direction today morning(my time). Tried removing them using developer tools in chrome and didn't work. Probably because I didn't touch the sidebar's dependencies as it was from a different template.

Amazing work!! 🚀 🚀 🚀

[2020-01-27 16:48] nstjean commented on #7266
@9916103020 are you still working on this? I'm sorry I didn't see your question. This can be edited without installing anything. :)

[2020-01-27 17:10] CodeSarthak commented on #6808
Count me in for reviewers team too

[2020-01-27 17:13] jywarren opened #7359 "Refresh page upon adding location tags"
I heard from someone who was confused as to why the map didn't appear upon adding location tags, so I think we should initiate a page refresh when that happens -- what do you think, @nstjean @crisner -- does this makes sense? We could just do this in JS after hearing a success for the tag POST?

Thanks! Just a thought that this might be a better user experience!

[2020-01-27 17:15] jywarren commented on #5695
I'll rename this for clarity, thanks. Original issue solved.

[2020-01-27 17:18] jywarren commented on #6799
Hi, thanks so much! Can you open a PR with this so I can take a look at your changes? I think a non-Froala design is OK, but one reason I also liked Froala is that the HTML code was much simpler too.

Thank you!

[2020-01-27 17:20] Uzay-G commented on #6808
Yeah I would love to be a part!

On Mon, Jan 27, 2020 at 6:10 PM Sarthak Aggarwal <notifications@github.com>
wrote:

[2020-01-27 17:20] nstjean commented on #7359
Yes I agree! I think it should refresh after adding any power tag, because things like `place:xx` will change the view of the page as well.

[2020-01-27 17:21] CodeSarthak commented on #6941
Yes, @NitinBhasneria sure, go ahead.

[2020-01-27 17:33] jywarren opened #7360 "Call for Summer of Code 2020 mentors!"
With [Outreachy](https://outreachy.org) and [Google Summer of Code](http://summerofcode.withgoogle.com) 2020 coming up, we're looking ahead to who may be interested in mentoring for these programs. We have participated in both [during the past few years](https://publiclab.org/notes/warren/08-21-2018/congratulations-on-a-great-2018-summer-of-code), and while we are not guaranteed spots, we are plan

[2020-01-27 17:34] jywarren commented on #4585
Hi, all! New call for mentors for 2020 is up here! https://github.com/publiclab/plots2/issues/7360

[2020-01-27 17:36] jywarren commented on #5667
Hi, all! New call for SoC mentors for 2020 is up here! https://github.com/publiclab/plots2/issues/7360

[2020-01-27 17:36] jywarren commented on #6238
Hi, all! New call for SoC mentors for 2020 is up here! https://github.com/publiclab/plots2/issues/7360

[2020-01-27 17:36] jywarren commented on #6285
Hi, all! New call for SoC mentors for 2020 is up here! https://github.com/publiclab/plots2/issues/7360

[2020-01-27 17:36] jywarren commented on #2053
Hi, all! New call for SoC mentors for 2020 is up here! https://github.com/publiclab/plots2/issues/7360

[2020-01-27 17:36] jywarren commented on #3168
Hi, all! New call for SoC mentors for 2020 is up here! https://github.com/publiclab/plots2/issues/7360

[2020-01-27 17:37] IshaGupta18 commented on #4585
Hey! Would love to be a mentor! I think i fulfill all the criterias, and I
have a couple of ideas for Google Summer of Code for simple-data-grapher,
maybe we could take that into account? Thanks a lot, can't wait for Summer
of Code this year!

On Mon, Jan 27, 2020, 11:04 PM Jeffrey Warren <notifications@github.com>
wrote:

[2020-01-27 17:39] IshaGupta18 commented on #7360
Hey! Would love to be a mentor! I think i fulfill all the criterias, and I
have a couple of ideas for Google Summer of Code for simple-data-grapher,
maybe we could take that into account? Thanks a lot, can't wait for Summer
of Code this year!
On Mon, Jan 27, 2020, 11:03 PM Jeffrey Warren <notifications@github.com>
wrote:

[2020-01-27 17:49] Divy123 commented on #7360
Hi! I would be more than excited to be a mentor for Google Summer of Code 2020. I fulfill all the above criteria, and am well aware about the practices of PL. Last year, my experience as a GSoC student has been mesmerising, and this time, I want to join the mentor team to help others code for a good cause. I am well aware of IS as project and have some ideas that can be taken into account this yea

[2020-01-27 17:52] SidharthBansal commented on #7360
I am free this summer. I can mentor plots2, MK, SWB. Trying to get started with Editor, IS and LDI so that I can help there too :-)

[2020-01-27 18:05] SidharthBansal commented on #6808
Hi, all! New call for SoC mentors for 2020 is up here! #7360
<https://github.com/publiclab/plots2/issues/7360>
Please comment on the reviewers team thread for reviewers team inclusion.
Thanks all

On Mon, Jan 27, 2020 at 10:50 PM Uzay-G <notifications@github.com> wrote:

[2020-01-27 18:07] SidharthBansal commented on #6808
Refer #4707

On Mon, Jan 27, 2020 at 11:34 PM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2020-01-27 18:11] nstjean commented on #7346
I think this is related: https://github.com/publiclab/plots2/issues/7355

[2020-01-27 18:31] tawandamoyo commented on #7344
Yeah, I'm working on it 🙂

[2020-01-27 18:52] govindgoel commented on #7360
Hi! I would like to be a mentor for Google Summer of Code 2020. I fulflll
the criteria mentioned above and till now working with PL I understood the
workflow also and I will definitely be working with great enthusiasm for
the upcoming GSOC.

[2020-01-27 19:05] vinitshahdeo opened #7361 "Missing Email & Website info in Author field of package.json"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-27 19:06] jywarren opened #7362 "Add "status" field to /comments page, viewable by admins/moderators only"
https://publiclab.org/comments has tools to spam individual comments, shown to admins, here:

https://github.com/publiclab/plots2/blob/aa3b8644e365080e264e73590529ff03bb63cb08/app/views/comments/_comments.html.erb#L36-L47

Let's add a small indicator of the current status of the comment there too, as it's ambiguous!

Let's have the status shown just above lines 37 and 40 in this code excerpt, with

[2020-01-27 19:28] nstjean commented on #6887
publiclab/leaflet-blurred-location#235 - ready for merge

https://github.com/publiclab/leaflet-environmental-layers/pull/361 - ready for merge

https://github.com/publiclab/plots2/pull/7358 - should be ready, travis failed and needs to be restarted

Would like feedback in LEL:
https://github.com/publiclab/leaflet-environmental-layers/issues/364
https://github.com/publiclab/leaflet-environmental-la

[2020-01-27 19:28] debck commented on #7360
Hello! I would also love to be a mentor!
I think I fulfill all the criteria and being part of the PL community and also being a mentor in GCI, I am well aware of the practices followed and can certainly contribute more. Really excited if I can be a part of the mentoring team.

[2020-01-27 19:38] ananyaarun commented on #7360
I Would love to be a mentor too! I think i fulfill all the criteria, and will be glad to help out students this summer :tada:

[2020-01-27 19:59] pydevsg opened #7364 "Weekly community Check-In #46 - "End of GCI , start for SoCs.""
Hi everyone 👋

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their

[2020-01-27 20:17] #7357 closed

[2020-01-27 20:19] pydevsg commented on #7364
@jywarren , @cesswairimu , @SidharthBansal , @gauravano and @ebarry

[2020-01-27 20:22] JanviMahajan14 commented on #7361
Hi @vinitshahdeo . Can I take up this issue?

[2020-01-27 20:31] pydevsg commented on #7364
@CodeSarthak , @Uzay-G , @VladimirMikulic , @HarshKhandeparkar , @chen-robert , @LeoDog896, @anthony-zhou and all other GCI students , take a bow :clap:

[2020-01-27 20:36] pydevsg commented on #7364
Mentors - @ananya , @keshav234156  , @IshaGupta18 , @pydevsg , @debck , @rexagod , @sidntrivedi012 , @divyabaid16 , @subhahu123

[2020-01-27 20:44] pydevsg commented on #7364
@Tlazypanda, , @pcube99, @nstjean, @imajit, @nicoleiocana, @simonastefan, @dependabot-preview[bot], @giovannyg, @jywarren, @NitinBhasneria, @seabl, @priyanka-choubey, @anthony-zhou, @hknowlton, @Bhanu-mbvg, @pythongiant, @EmirVatric, @KateAnn19, @daemon1024, @abdiclear, @Electrickal, @crisner, @shipcy, @sunguru98, @keshavsethi, @gxite

@Rishabh570 @sashadev-skyl @vaibhavmatta @shubhscoder @aSquare

[2020-01-27 20:49] cesswairimu commented on #7364
Great :tada: thanks for opening this @pydevsg

[2020-01-27 20:50] VladimirMikulic commented on #7364
Thank you very much @pydevsg :+1:

[2020-01-27 21:19] Uzay-G commented on #7364
Thanks @pydevsg! It's been a fun competition and I'm really glad I participated with PL :+1:

[2020-01-27 22:12] steviepubliclab commented on #6855
oh wow! ok thank you for figuring that out and for trying! I'll leave this open incase anyone feels like they can take it on, or has new ideas on it.

[2020-01-27 22:22] jywarren commented on #7359
ah, good thought! can you point to the code where we submit these? I think you did a lot of great work to consolidate this code and perhaps it's a one-line change!

[2020-01-27 22:29] jywarren commented on #7281
Awesome!!!!! 🎉 🎉 🎉 🎉

So glad you found this! This really seems correct. Let's try it out! Fantastic! 💥

[2020-01-28 01:45] mdjaved1 commented on #7361
Hi @vinitshahdeo  I would like to take up this issue as well if its possible

[2020-01-28 04:28] z-arnott commented on #6829
Hi, does this still need to be done?
If so, I'd like to work on it! :)

[2020-01-28 05:19] vinitshahdeo commented on #7361
@JanviMahajan14 @mdjaved1 Thanks for showing your interest. I just had a look at your profile. You guys don't seem to be beginners. **Can we please keep this issue for absolute beginners?**

[2020-01-28 05:52] 07ATUL commented on #7350
I would like to do it is this issue open Now?

[2020-01-28 06:18] sssash18 opened #7367 "Changing styling of "New page" button on dashboard sidebar"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-28 06:45] vinitshahdeo commented on #7360
@jywarren Hello, I'd love to mentor for GSOC 2020! I've gone through the criteria and working on the same.

[2020-01-28 07:06] JanviMahajan14 commented on #7367
hi @sssash18 i am new to codebase. Csn I fix this?

[2020-01-28 07:16] JanviMahajan14 commented on #7361
@vincegando Sure! :+1:

[2020-01-28 07:24] sssash18 commented on #7367
@JanviMahajan14  Yeah, go ahead!

[2020-01-28 07:36] crisner commented on #7359
Sounds good to me.

[2020-01-28 07:50] SidharthBansal commented on #7360
Great

On Tue, 28 Jan 2020, 12:15 pm Vinit Shahdeo, <notifications@github.com>
wrote:

[2020-01-28 08:12] Odisseuss commented on #7361
Hello @vinitshahdeo. This would be my first ever contribution on an open source project. Can i take up the issue?

[2020-01-28 08:16] vinitshahdeo commented on #7361
@Odisseuss Thanks for showing your interest. You can take up this issue but if you feel like you can take up other issues, I'd recommend you leave this as you're not new to GitHub. I'm targeting someone who's an absolute beginner. Anyways, you can proceed with this issue if this is going to be your first-ever contribution.

[2020-01-28 08:20] Odisseuss commented on #7361
@vinitshahdeo Okay, i will search for something more suitable, and leave this for real beginners :).

[2020-01-28 08:30] Odisseuss commented on #7355
Hello @sssash18, has anyone taken up the issue yet?

[2020-01-28 08:36] pydevsg commented on #7364
Thanks evreyone :smile:

[2020-01-28 09:18] zerozeynep commented on #7361
Hi, @vinitshahdeo can i take it up?

[2020-01-28 09:20] CodeSarthak commented on #7364
Thanks a lot this amazing community which has given me more than I could give it 😄

[2020-01-28 09:23] vinitshahdeo commented on #7361
Hello @zerozeynep, Thanks for your interest. I viewed your profile, you're capable of resolving a few better issues. I've opened this for absolute beginners. Mind finding some other issue for you, and leave it for beginners?

[2020-01-28 11:59] Tlazypanda commented on #7122
@jywarren is this issue still available?

[2020-01-28 12:05] sssash18 commented on #7355
@Odisseuss It's not taken yet,are you willing to do it?

[2020-01-28 12:06] Tlazypanda commented on #6421
@jywarren Can I take this up?

[2020-01-28 12:15] sssash18 opened #7368 "Including a margin in by type button"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-28 12:25] imajit commented on #7355
@sssash18 i would like to work on this if no one has claimed it .

[2020-01-28 12:26] Odisseuss commented on #7355
@sssash18 would be glad to

[2020-01-28 13:45] crisner commented on #6887
Feedback needed for PR [#367](https://github.com/publiclab/leaflet-environmental-layers/pull/367)

[2020-01-28 15:20] jywarren commented on #6953
Hi @sharmamansi - sorry for the slow reply - so, we have these three conditions, and they are currently wired up in the 2 files I reference above under "CODE". But the conditions are wrong. Can you propose new logic for these templates that would rely on the values as proposed in the 3 rules above? The values are referenced as so:

* wiki pages with `lat:____`/`lon:____` tags: `@node.has_power_tag

[2020-01-28 15:23] jywarren commented on #6421
OH, that would be super. Thank you!!!

[2020-01-28 16:04] jywarren commented on #6887
Thanks all! Looked through these!

[2020-01-28 16:07] jywarren commented on #7364
@CodeSarthak never! everyone gives and gets here! 🙌

Glad to see you all!

[2020-01-28 16:09] #7281 closed

[2020-01-28 16:09] theOpetunde commented on #7368
Hello,

Following your instruction to post a comment:
I'm a first-timer open source contributor and would like to claim this issue. Thank you

[2020-01-28 16:12] nstjean commented on #7364
I wish I could have spent more time with the CGI students, what great work was accomplished!!

[2020-01-28 16:17] nstjean commented on #6887
https://github.com/publiclab/leaflet-blurred-location-display/pull/95 - bumps LBL, ready for merge

[2020-01-28 17:05] #6910 closed

[2020-01-28 17:29] NitinBhasneria commented on #6799
@jywarren kindly review this, by this the image now edge to edge.
The disappearance of the image will be fixed in other PR.
Thanks

[2020-01-28 17:48] nstjean commented on #7359
This is the function that is called when tags are successfully added:
https://github.com/publiclab/plots2/blob/f6e37826002aef04843a6f448c3dedef5ae2e35b/app/assets/javascripts/tagging.js#L71-L89

I believe `tag[0]` is the tag name.
We can check for specific power tag names: `if (!!tag[0].split(':')[0].match(/^(lat|lon|place)$/)) { }`

[2020-01-28 18:30] keshavsethi commented on #7362
@jywarren I have created a PR for this issue, please review

[2020-01-28 18:44] nstjean commented on #6887
https://github.com/publiclab/leaflet-environmental-layers/pull/368 - bumps LBL and also bumps the version number for LEL so that the changes can get pushed down to plots2. Ready for merge.

[2020-01-28 19:07] NitinBhasneria commented on #6941
As on the hover the drop-down is in down portion and on click the, the value becomes true and drop down goes to upper portion. So, I need to fix the onclick() function. @CodeSarthak

[2020-01-28 19:34] jywarren commented on #3488
Linked to https://github.com/publiclab/plots2/issues/1686 and https://github.com/publiclab/plots2/issues/5937

[2020-01-28 19:58] dragonwarp commented on #7361
Can I claim this issue?

[2020-01-28 19:58] nstjean opened #7376 "Map control buttons cover up the nav message window"
I noticed today that the buttons on maps are peeking out overtop of the message at the top of the screen. Everything slides below the navbar, as it should, but not under the message that's above the navbar:
https://publiclab.org/wiki/inline-maps

![FireShot Capture 245 - 🎈 Public Lab_ Inline maps - publiclab org](https://user-images.githubusercontent.com/49460529/73299959-2c4cd780-41de-11ea-8c58-5

[2020-01-28 20:03] emilyashley opened #7377 "Copy existing label descriptions from documentation into github label description field."
Found this [awesome label documentation](https://github.com/publiclab/plots2/blob/master/doc/LABELS.md) when onboarding with @jywarren today.

Making a little issue note for myself as I'm doing some repo onboarding and housekeeping to include some of these descriptions into the description field provided by github [here](https://github.com/publiclab/plots2/labels) so this knowledge & understanding

[2020-01-28 20:10] emilyashley commented on #7377
Ok copied the existing ones over :+1: Leaving this issue open for a day or two incase additional comments arise.

[2020-01-28 20:16] nstjean commented on #7347
@sashadev-sky Here is the original post about it: https://github.com/publiclab/plots2/issues/5737

[2020-01-28 20:20] nstjean commented on #7168
@NitinBhasneria If you feel like this is something you can do, then go ahead and try it! Just ask for help if you get stuck!

[2020-01-28 21:01] Uzay-G commented on #6239
Hey @SidharthBansal I am working on refactoring this now and I had a question. I think it would be useful to just group tasks by type (design, code, outreach) instead of by repository. What do you think?

[2020-01-28 21:24] alti21 commented on #7368
Hi,

I am a first timer and I would like to work in this issue, thanks!

[2020-01-28 21:29] alti21 commented on #7376
Hi, I am a first timer, can I fix this?

[2020-01-29 03:29] sssash18 commented on #7368
@alti21 , actually @theOpetunde has already claimed it ,so please try some other fto.Thanks for your interest.

[2020-01-29 03:33] sharmamansi commented on #6953
Thanks @jywarren  I will open a or shortly.

[2020-01-29 03:59] NitinBhasneria commented on #7168
Ok thnx @nstjean I will try.

[2020-01-29 04:05] sssash18 commented on #7355
@Odisseuss has already approached it before.You could try other issues available.Thanks for your interest

[2020-01-29 04:06] sssash18 commented on #7355
Yeah you can go ahead

[2020-01-29 05:14] DevanshCodes commented on #7360
Hey, I saw the ideas for SoC this year for publiclab. I would like to know if 'community-toolbox' will be there in the GSoC project this year, I would really like to work on that one. Thanks :)

[2020-01-29 05:19] vinitshahdeo commented on #7361
@dragonwarp Yes, please go ahead.

[2020-01-29 09:11] SidharthBansal commented on #6239
Idea accepted. Great thinking
Thanks

On Wed, 29 Jan 2020, 2:31 am Uzay-G, <notifications@github.com> wrote:

[2020-01-29 10:10] SidharthBansal commented on #6829
Yes you can work on it
Thanks

[2020-01-29 10:30] sssash18 commented on #7353
@SidharthBansal @jywarren Please share your views on this?I would like to do it.

[2020-01-29 11:58] CodeSarthak commented on #6941
Hey @NitinBhasneria, as Jeff already mentioned above, report the edits on the issue itself and he'll fix it from the admin panel. Thank you.

[2020-01-29 13:45] crisner opened #7381 "Sidebar map layers not working"
### Please describe the problem (or idea)

The sidebar map can't seem to find the overlay maps.

Expected to see layer data on the map. It throws the following error instead:
`
Uncaught TypeError: Cannot read property '_leaflet_id' of undefined
    at stamp (LeafletEnvironmentalLayers.js:12112)
    at NewClass.removeLayer (LeafletEnvironmentalLayers.js:18597)
    at NewClass.onRemove (LeafletEnvir

[2020-01-29 13:48] crisner commented on #7381
@nstjean, do you have any idea what the problem could be? The other maps in the page seem to be working.

[2020-01-29 13:51] nstjean commented on #7381
I wonder if it is also caused by this issue:
https://github.com/publiclab/plots2/issues/7346

[2020-01-29 13:53] crisner commented on #7381
I wonder. The issue was reported on 25th. The map was working fine then.

[2020-01-29 13:54] nstjean commented on #7381
Hmm. Maybe it was because I moved the map dependencies to the header? I'll take a look and see if I can narrow it down.

[2020-01-29 13:57] theOpetunde commented on #7360
Hi,
I'd love to apply to your organization as an outreachy intern. I started contributing to the organization's project and I believe I can help meet some of the goals outlined for this year's summer of code. Please let me know the guidelines I need to follow to make this a reality. thank you.

[2020-01-29 13:59] crisner commented on #7381
Great! We also seem to be missing these scripts from the header:
[code]
I am assuming we are getting the following error because of that:
`Uncaught ReferenceError: HeatmapOverlay is not defined`

[2020-01-29 14:12] nstjean commented on #7381
So it looks like it's not (just) the sidebar maps, the same error is with inline maps too: https://stable.publiclab.org/wiki/inline-maps

I'll add those references to the map dependencies. I'm not sure how we weren't getting the error before!

[2020-01-29 14:20] crisner commented on #7381
The layers seem to be working fine in the inline maps though. It is only throwing the 'HeatmapOverlay' error.

[2020-01-29 14:21] nstjean commented on #7381
Oh wow. I added them and I'm getting a `Cannot read property '_layerAdd' of undefined` and it's loading everything in the maps at once.

![Peek 2020-01-29 09-20](https://user-images.githubusercontent.com/49460529/73364489-ab8ee980-4278-11ea-9e68-c20ce2ab3a59.gif)

![FireShot Capture 248 - 🎈 Public Lab_ Inline Maps - localhost](https://user-images.githubusercontent.com/49460529/73364511-b3e72480-42

[2020-01-29 14:24] nstjean commented on #7381
Oh I see what you're saying. I checked, I can get the layers to load in the sidebar on that page?

![FireShot Capture 249 - 🎈 Public Lab_ Mashapaug Pond - publiclab org](https://user-images.githubusercontent.com/49460529/73364793-2b1cb880-4279-11ea-9570-a499dd8dc0b6.png)

[2020-01-29 14:27] crisner commented on #7381
The inline maps are set to add everything at once. We can turn that off by not using include. We would have options to turn that off when we bump LEL version here. Not sure why we are getting the 'undefined' error.

[2020-01-29 14:27] crisner commented on #7381
So the sidebar works for you?

[2020-01-29 14:29] nstjean commented on #7381
Ahh ok.

It does... sort of. It's showing the layers but throwing a lot of errors. There is definitely something weird interacting, and I suspect it's the popup() error. I'll have to take the code apart to tell. I'll dig into it.

[2020-01-29 14:31] crisner commented on #7381
This is what I am getting. The markers don't show up for me.
![image](https://user-images.githubusercontent.com/29401459/73365171-d6f1f280-42d1-11ea-9e1c-839462e5e4d9.png)

You may be right. It could be the popup() error interfering.

[2020-01-29 14:34] nstjean commented on #7381
Now it's not working for me either. Very odd.

![🎈 Public Lab: Mashapaug Pond - Google Chrome_029](https://user-images.githubusercontent.com/49460529/73365599-856a4900-427a-11ea-8b3e-de4988b1fe4f.png)

[2020-01-29 14:42] crisner commented on #7381
By the way, it doesn't look like all the layers on these maps in https://github.com/publiclab/plots2/issues/7381#issuecomment-579776828  were included. It shouldn't load all the layers.

[2020-01-29 14:45] nstjean commented on #7381
I'll take a closer look at that too.

[2020-01-29 15:10] jywarren commented on #7377
Thank you! So great!

[2020-01-29 15:48] #7277 closed

[2020-01-29 17:03] SidharthBansal commented on #6808
**Google Code In 2019-20 Mentorship Prize Results**
Hello everyone, this year was EPIC :rocket:. Over 127 students participated and 35 mentors participated this year :tada:. Around 11 repositories participated this year 💯 . We completed the `Login/Sign Up and Oauth` Milestone and `System Tests` 🎖  for entire plots2 repository with the help of @VladimirMikulic and @Uzay-G. Addition to this, please

[2020-01-29 17:04] SidharthBansal commented on #7360
**Google Code In 2019-20 Mentorship Prize Results**
Hello everyone, this year was EPIC :rocket:. Over 127 students participated and 35 mentors participated this year :tada:. Around 11 repositories participated this year 💯 . We completed the `Login/Sign Up and Oauth` Milestone and `System Tests` 🎖  for entire plots2 repository with the help of @VladimirMikulic and @Uzay-G. Addition to this, please

[2020-01-29 17:05] SidharthBansal commented on #7364
**Google Code In 2019-20 Mentorship Prize Results**
Hello everyone, this year was EPIC :rocket:. Over 127 students participated and 35 mentors participated this year :tada:. Around 11 repositories participated this year 💯 . We completed the `Login/Sign Up and Oauth` Milestone and `System Tests` 🎖  for entire plots2 repository with the help of @VladimirMikulic and @Uzay-G. Addition to this, please

[2020-01-29 17:10] VladimirMikulic commented on #6808
Wow, just wow! I didn't even look at insights. This is crazy :smile:
Good work everyone.

[2020-01-29 17:21] IshaGupta18 commented on #7364
This is just amazing! Congratulations to all the mentors!!! :tada:  Let's begin GSoC and Outreachy with a bang and make it an even bigger success this year! :heart:

[2020-01-29 18:01] keshavsethi commented on #7376
@nstjean can i try this if it is still open

[2020-01-29 18:05] vinitshahdeo opened #7383 "Adding Twitter Follow + License Badge in README.md"
- It always a good idea to have a **Twitter Follow** badge in `README.md`. It might help us to redirect our repo visitor's traffic to our Twitter a/c which might end up increasing the Twitter family.

- Having a license badge at the beginning of `README.md` is helpful for new comers.

[2020-01-29 18:11] nstjean commented on #7353
That looks pretty neat. How would you calculate which to show as "new"?

[2020-01-29 18:13] sssash18 commented on #7353
@nstjean I will compare the time of last login and the time of post created.
if time of post created > time of last login "new"  tag will be shown.

[2020-01-29 18:15] nstjean commented on #7353
Sounds great. I like it. But I'll let the others give an opinion. :)

[2020-01-29 18:16] sssash18 commented on #7353
@nstjean Thanks for your approval. Let's wait for other members views.

[2020-01-29 18:19] Uzay-G commented on #7364
:+1:! It's been awesome working on GCI with you all! :tada:

[2020-01-29 18:23] SidharthBansal commented on #7353
I am in favour of it. Let's ask @jywarren
What is github username for Emily?

[2020-01-29 18:27] sssash18 commented on #7353
"@emilyashley" is the username.

[2020-01-29 18:44] sssash18 opened #7384 "Clicking on "print without page links" freezes the popup"
### Please describe the problem (or idea)

The popup as shown below freezes as we click on print with page links.
**Current Behaviour**
![Untitled_ Jan 30, 2020 12_13 AM](https://user-images.githubusercontent.com/57896905/73386790-796f9d00-42f5-11ea-9d3a-49bc797d969a.gif)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, a

[2020-01-29 18:48] debck commented on #7364
Congratulations @keshav234156 and @ananyaarun and all other mentors. It was really an awesome experience 🎉 🎉

[2020-01-29 18:48] jywarren commented on #7364
Hooray!!!! 💯 thanks so much to everyone who made this GCI wonderful! 🎉 🙌

[2020-01-29 19:00] DevanshCodes commented on #7360
Some tasks which I am thinking of focusing on are
1.) Implementing 'Hall of fame' issues list function.
2.) Writing adapter for Gitlab and other system.
3.) Working on 'Community Toolbox for any open source project'
4.)And I was also thinking of working on the UI/UX of the page, it looks good but there's lot of scrolling which can be reduced and improve the UX.

[2020-01-29 19:07] nstjean commented on #7381
Ok I'm ignoring the heatmap includes right now, because that causes more errors that need fixing.

The `popover` error seems to be affected by where in the layout the mapDependencies are included... specifically this dependency for LEL:
https://github.com/publiclab/plots2/blob/fdc44a4d06ff605cd8d8d5435b56e6ecea2fdbc4/app/views/map/_mapDependencies.html.erb#L6

Here is the line in the code that see

[2020-01-29 19:09] NitinBhasneria commented on #6941
The dropdown style of this should be changd from this:
**style="position: absolute;will-change: transform;transform: translate3d(0px,-423px, 0px);top: 0px;left:** **0px;
to:
"style="position: absolute;will-change: transform;transform: translate3d(0px, 30px, 0px);top: 0px;left: 0px;"**

[2020-01-29 19:23] nstjean commented on #7381
Traced the issue down to setupInlineLEL, these lines:
https://github.com/publiclab/plots2/blob/027b7c293edfbf3688146820361f2ff7cfc83e83/app/assets/javascripts/leaflet_helper.js#L105-L107

[2020-01-29 20:29] nstjean commented on #7381
Digging into LEL code...
The error happens on this line:
https://github.com/publiclab/leaflet-environmental-layers/blob/c69ad9a84b99734dc394b9ad34b6c23b3b67fb47/src/AllLayers.js#L220
And specifically only with toxicReleaseLayer (so far that I can tell) and only when it is on the screen. If that layer triggers whatever-it-is error, then no other maps will work right either, including sidebar maps.

[2020-01-29 21:01] subhahu123 commented on #7364
@jywarren  Is community-toolbox project in included in this year gsoc ?
i was an applicant for that last year but didn't got chance in it ....

[2020-01-29 21:16] CoderJolly commented on #7364
Congratulations @keshav234156 and @ananyaarun for being the top performers !!! 🎉🎉
Special thanks to all maintainers @jywarren @cesswairimu @gauravano for being at the judging panel 💯. And lastly @SidharthBansal for being an awesome admin at GCI👍.

[2020-01-30 06:27] tylor23a opened #7387 "高利貸"
[高利貸](https://www.ezchance.com.tw/)
--

[2020-01-30 08:05] crisner commented on #7381
Some layers seem to be creating a script tag with jquery('https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js') as its source and this is being appended to the head of the HTML file the source lives in. This seems to be creating a conflict here in plots2 just as the mapDependencies did. Here are the lines from one of the layers:
https://github.com/publiclab/leaflet-environmental-layer

[2020-01-30 08:09] crisner commented on #7381
The issue with the layers in the sidebar map seems to be because the map dependencies were removed. Adding it back seems to work but is not an option as we would encounter the same issues for which it was removed to begin with. Looking for ways to make it work.

[2020-01-30 09:09] Dhiraj240 commented on #7364
Congratulations to the winner @keshav234156  and our mentor @ananyaarun and everyone associated with it.

[2020-01-30 09:47] crisner commented on #7381
So, it look like the people map and the side map have no issues with adding layers to the view when they are the only maps on the page.
- https://publiclab.org/notes/joyofsoy/10-04-2019/introduction-to-cranston-print-works
- https://stable.publiclab.org/people#lat=22.9&lon=-77.7&zoom=2&layers=Grey-scale

But when there are multiple maps they can't seem to get the map dependencies.
- https://public

[2020-01-30 10:37] PIYUSHgoyal16 commented on #7367
Hi @sssash18 I want to solve this issue. Should I go ahead?

[2020-01-30 11:03] sssash18 commented on #7367
@PIYUSHgoyal16 actually this issue is already claimed ,please try some other fto .Thanks for your interest.

[2020-01-30 11:49] crisner commented on #7381
I have created this issue [#372](https://github.com/publiclab/leaflet-environmental-layers/issues/372) to address the jquery related errors that are coming from duplicate script tags that link to a jquery source. I am not getting errors when using LEL in an HTML file even though the script tags are duplicated. Are we getting the errors here because Ruby doesn't like source file links to be repeate

[2020-01-30 12:57] JanviMahajan14 commented on #7367
Hi @sssash18 . I am not able to check the boxes while creating the PR . Can you help me with this?

[2020-01-30 13:03] sssash18 commented on #7367
@JanviMahajan14 just put 'x' in checkbox as shown :- '[x]'.

[2020-01-30 13:12] JanviMahajan14 commented on #7367
Thanks @sssash18

[2020-01-30 13:50] nstjean commented on #7381
Nice catch!! I think we do need to address this in LEL like you posted.

Why are layers adding dependencies anyways? Shouldn't that be something that is added globally in LEL? We'd still have to do the check if it already existed, but I feel like it shouldn't be something that the layers themselves are doing.

[2020-01-30 13:52] nstjean commented on #7381
Because the sidebar maps are working when there's no inline maps I feel pretty confident that when we fix the dependency error in LEL it will also fix this. At the very least I think we should wait until the other issue is fixed.

[2020-01-30 14:03] sssash18 opened #7390 "Sorting does not work in digest"
### Please describe the problem (or idea)

Sorting doe not work in digest
**Current Behaviour**
![sorting](https://user-images.githubusercontent.com/57896905/73456131-5ac1e280-4397-11ea-8a9d-5fcc23756e92.gif)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public

[2020-01-30 14:04] sssash18 commented on #7390
@publiclab/reviewers I would like to implement this.Can I proceed?

[2020-01-30 14:09] crisner commented on #7381
Yes. I am working on the fix in LEL.

[2020-01-30 14:25] NitinBhasneria commented on #6941
@jywarren @CodeSarthak please review

[2020-01-30 14:42] nstjean commented on #7376
Hi @alti21 have you completed a first-timers-only issue yet? We highly recommend doing one of those first so you can get familiar with how pull requests work!

[2020-01-30 14:43] nstjean commented on #7376
@alti21 Ok I just checked, you haven't done a PR yet. So do you feel comfortable jumping in to tackle this? If so you may attempt it, just ask for help if you need it!

[2020-01-30 14:52] nstjean opened #7391 "Password confirmation box in wrong place"
On the Edit Profile page `/profile/edit` I see username, email, Change your password, Current password, and Confirmation.

Confirmation says "Retype your password to confirm". But this is next to "Current password". So what are we confirming, the new password or the old one? We should be confirming the new one, to make sure the user knows what they typed in is correct. The old password is being ch

[2020-01-30 14:54] nstjean commented on #7391
I tested it out, the logic is checking the value against the new password. So the box just needs to be moved!

Also I noticed that the tab order is incorrect and needs to be fixed.

[2020-01-30 16:17] emilyashley commented on #7377
Cool, closing :)

[2020-01-30 16:17] #7377 closed

[2020-01-30 16:43] crisner commented on #6887
The following PRs are ready to be reviewed and merged
- PR[#373](https://github.com/publiclab/leaflet-environmental-layers/pull/373) for issue[#372](https://github.com/publiclab/leaflet-environmental-layers/issues/372)
- PR[#375](https://github.com/publiclab/leaflet-environmental-layers/pull/375) for issue[#374](https://github.com/publiclab/leaflet-environmental-layers/issues/374)

[2020-01-30 16:44] DouglasLutz commented on #7391
@nstjean I can work on this one

[2020-01-30 17:00] nstjean commented on #7391
@DouglasLutz Go for it! :+1:

[2020-01-30 17:25] neelesh17 commented on #7367
I would like to work on this issue, is it still open

[2020-01-30 18:10] #7391 closed

[2020-01-30 18:23] SidharthBansal commented on #2413
The invalid profile also comes with some posts, wikis, comments, and likes. So, we need to delete those details too. Hence, we need to complete the proposed https://github.com/publiclab/plots2/issues/2819. Then, we can use it as a subroutine in the spam management system to delete useless profiles.

Targetting general feature proposed in this issue will enable Public Lab to eliminate user profiles

[2020-01-30 18:40] #6597 closed

[2020-01-30 18:41] SidharthBansal commented on #7390
Great Catch. Please go ahead

[2020-01-30 18:47] #7384 closed

[2020-01-30 18:51] #7367 closed

[2020-01-30 18:59] SidharthBansal commented on #7353
Thanks for pinging Emily

[2020-01-30 19:00] SidharthBansal commented on #7127
Can we close this now?
Thanks all

[2020-01-30 19:00] SidharthBansal commented on #6851
I am in favour of hovering effect

[2020-01-30 19:02] #6421 closed

[2020-01-30 19:12] Uzay-G commented on #7017
Closed in https://github.com/publiclab/plots2/pull/7018!

[2020-01-30 19:12] #7017 closed

[2020-01-30 19:30] VladimirMikulic commented on #5480
Duplicate of #7177. The issue has been resolved. Thanks, everyone for working on this.

[2020-01-30 19:30] #5480 closed

[2020-01-30 19:33] #6692 closed

[2020-01-30 19:45] nstjean opened #7395 "Sidebar is interfering with full-width inline maps"
The section where the sidebar exists - even if there's nothing in the sidebar covering the map - is interfering with use of the map. I click and drag the map to the left side, but not under the sidebar. It is also affecting the new map menu, it disappears when I move my mouse under the sidebar.

![Peek 2020-01-30 14-40](https://user-images.githubusercontent.com/49460529/73484306-0f93d980-436f-11ea

[2020-01-30 19:46] nstjean commented on #7395
@crisner You can take a look too! It's odd that the menu problem didn't happen with the old menu, but it does with the new one!

[2020-01-30 19:55] nstjean commented on #3090
I'm making good progress here! Right now in the inline maps we have some that specify layers to display on page load, and some that don't.
- no layers specified -> display no LEL layers but add all LEL layers to the layer menu
- specify layers -> display those layers on the map and add only those layers to the menu
Example: https://stable.publiclab.org/wiki/inline-maps scroll down to "Maps with pr

[2020-01-30 19:57] nstjean commented on #7395
I noticed that on https://stable.publiclab.org/wiki/inline-maps if you scroll down to "Maps with preset layers" you do see the same problem with the layer menu disappearing when you move the mouse. So maybe it's only a problem for maps that have specific layers in the menu, but if the menu has the entire list it's ok?

[2020-01-30 20:39] alti21 commented on #7376
I would like to attempt it, yes. Thanks!

[2020-01-30 20:48] nstjean commented on #7376
Ok! Just let me know if you have trouble!

On Thu, Jan 30, 2020, 3:39 PM Altemush Bhatti <notifications@github.com>
wrote:

[2020-01-30 21:13] jywarren opened #7397 "Cross-wired zoom and layer issues on inline maps"
Hi, sorry, i'm just noticing some oddness with the unearthing layer here:

https://publiclab.org/wiki/onecranston#location

![image](https://user-images.githubusercontent.com/24359/73490814-4839b000-437b-11ea-8afd-d4aca5bae7e0.png)

It seems that the zooming and layer loading are a little cross-wired. Like, i zoom but the unearthing layer doesn't. Could this have something to do with this PR, or s

[2020-01-30 21:16] alti21 commented on #7376
i am actually having trouble installing it locally, will I be able to install the prereqs on windows?

[2020-01-30 21:26] alti21 commented on #7376
Actually I will leave this issue, as I do not have experience with Ruby

[2020-01-30 21:28] nstjean commented on #7376
Okay! This repository doesn't play nice with Windows, I tried but ended up installing Linux to work on. Many of our other repositories are Javascript, you can take a look!

[2020-01-30 21:28] nstjean commented on #7376
@keshavsethi Do you still want to try this out?

[2020-01-30 22:28] dragonwarp commented on #7361
It seems I managed to format the pull according to the standards set forward in this project. Are the standards, speaking in a strictly rough way, similar across projects or are they unique for every particular open source project?

[2020-01-30 22:49] Shubhangi2901 commented on #7194
I can claim the issue if still open @anthony-zhou

[2020-01-31 07:08] crisner commented on #7397
The unearthing layer zooms well when I zoom on the map. However, I had issues with zooming the map. It is because two baselayers are loaded on the tile pane causing conflict.
One from here,
https://github.com/publiclab/plots2/blob/3bffa3b78c29049b1940070912a8ca5dc7776c4e/app/assets/javascripts/leaflet_helper.js#L98

And one from within LEL which defaults to using a default baselayer if one is not

[2020-01-31 07:27] crisner commented on #3090
Do you mean to specify the layers, load only them to the layer menu but not displayed by default on the map? That is you want the same behaviour from the second point mentioned above but without displaying the maps by default on the page. If this is what you meant, there is an option `addLayersToMap `, that you can pass in LEL that decides if the layers should be displayed by default on the map wh

[2020-01-31 07:34] crisner commented on #7381
We are having the same issues on top maps as well. Check here: https://publiclab.org/wiki/onecranston#location
I guess they are connected.
https://github.com/publiclab/plots2/blob/dee871eb20eedf78cf6b01a5e9c7b2c5446de9eb/app/views/sidebar/_related.html.erb#L46-L50

[2020-01-31 07:44] crisner commented on #7395
It seems to be a z-index issue. I used a z-index of -1 for the sidebar element with the class 'col-lg-3 d-print-none' and the mouse interacts normally with the map. The problem is the sidebar would then be hidden behind the map where it intersects. One solution is to reduce the width of the map so that it wouldn't intersect with the sidebar.

[2020-01-31 09:12] SidharthBansal commented on #7194
Sure

On Fri, 31 Jan 2020, 4:19 am Shubhangi Prasad, <notifications@github.com>
wrote:

[2020-01-31 10:21] NitinBhasneria commented on #7127
Yes @SidharthBansal

[2020-01-31 10:21] NitinBhasneria commented on #6851
Ok so I will be working on this @SidharthBansal

[2020-01-31 10:31] crisner commented on #7397
This is a gif of the issue on localhost which is what I encountered when I checked out the inline map in https://publiclab.org/wiki/onecranston#location. This is the same as issue[#376](https://github.com/publiclab/leaflet-environmental-layers/issues/376).
![baselayer-problem](https://user-images.githubusercontent.com/29401459/73531204-f1e27500-443f-11ea-89e8-ee65af92756b.gif)

Depending on how we

[2020-01-31 12:35] #7333 closed

[2020-01-31 13:14] urvashigupta7 opened #7402 "Ensure the user card height is equal for all"
If the user does not have badges and profile picture the user card will shrink.
![Screenshot from 2020-01-31 18-42-00](https://user-images.githubusercontent.com/41363633/73541821-683fa100-4459-11ea-9c01-87ea30bd6b12.png)

#### We need to make the user card size equal for all.

[2020-01-31 14:10] sagarpreet-chadha commented on #3090
Yes awesome

[2020-01-31 14:15] nstjean commented on #3090
@crisner No, what I mean is loading ALL available layers to the menu, but turning on two of the layers to display just like it does when you use addLayersToMap.

[2020-01-31 14:18] nstjean commented on #7397
Yes, we will be removing those baselayers in plots2 as soon as the newest LEL version is in plots2!

[2020-01-31 14:21] nstjean commented on #7395
I think we would like the map itself behind the sidebar, but the popup menu in front of it.

[2020-01-31 14:29] crisner commented on #7395
I'll take a look at changing the menu's z-index.

[2020-01-31 14:30] sagarpreet-chadha commented on #3090
Oh okay, why do you want to do this?

Yes i guess we can do it.

[2020-01-31 14:32] crisner commented on #3090
This might not be good for user experience because loading all layers can slow down the page and the users will be left stuck with no choice to remove it from the map.

[2020-01-31 14:32] cesswairimu commented on #6801
Hey @NitinBhasneria, thank you for the interest...This a planning issue and most of the issues discussed are in progress/assigned to other collaborators..let me know if you need help finding another issue. Thanks

[2020-01-31 14:34] jywarren commented on #7397
Hi all, what do you think our schedule is for a new LEL? We could push one through by mid-day today? cc @emilyashley on this fix, just so you see the full lifecycle of a bug => fix => publication, which should be pretty fast!

Thanks, all!

[2020-01-31 14:34] crisner commented on #3090
@nstjean, What did you have in mind? I mean is there a reason you don't want users to have access to turning off those layers?

[2020-01-31 14:35] cesswairimu commented on #7364
Hats off :tada: :tada: :tada:  to all the gci students and mentors for the amazing work you have done. You all made gci successful and fun. Thanks

[2020-01-31 14:38] nstjean commented on #3090
I think my explanation must be getting confused. I don't mean turning on all the layers. I mean having only the two layers being turned on and visible on the map, but having the other layers available in the menu if the user wants to turn it on.

For example, say in the page only the Unearthing layer is specified. And the user wants to share it to their page, but they also want to add the pfasLaye

[2020-01-31 14:42] SidharthBansal commented on #7364
Who is going to open next weekly check-in for community reports?

On Fri, 31 Jan 2020, 8:05 pm Cess, <notifications@github.com> wrote:

[2020-01-31 14:59] #7127 closed

[2020-01-31 14:59] #6828 closed

[2020-01-31 14:59] #6829 closed

[2020-01-31 15:07] crisner commented on #3090
Ah! you can have all the layers added to the menu if you don't pass in the include option. In LEL we use the url hash to determine which layer we want to load on the map by default. Maybe something like that can be done here in plots2?
Or how about this we could add another option in LEL and add some logic into it to get this done. It depends on if we want to keep the current style of displaying o

[2020-01-31 15:09] SidharthBansal commented on #6851
Great

On Fri, Jan 31, 2020 at 3:51 PM Nitin Bhasneria <notifications@github.com>
wrote:

[2020-01-31 15:09] crisner commented on #3090
This won't help inline maps. So scratch out what I said about using the url hash.

[2020-01-31 15:10] SidharthBansal commented on #6851
Sorry this is a first timer issue. You cannot work on it as it is for people new to Public Lab community
@VladimirMikulic i will require some help. Please edit the GCI issues. Remove the line reserved for GCI and add `first-timer-issue` and other related labels as soon as you get some time.
Thanks

[2020-01-31 15:11] nstjean commented on #3090
I'll think about how best to do this! We basically just have to initialize a regular map and then turn on a few layers. Maybe an option in LEL would be best. I think the `include` param makes sense for including ONLY a set number of layers. But we could have one called `display` maybe that is in the same format, listing which layers to turn on?

[2020-01-31 15:12] SidharthBansal commented on #6851
Also, we need to hide the unwanted comments as these issues are now for generic population(including SOC aspirants)
SoC = Outreachy + Google Summer of code

[2020-01-31 15:13] VladimirMikulic commented on #6851
@SidharthBansal I am on it :+1:

[2020-01-31 15:14] nstjean commented on #7381
I'm not surprised, they are all using the same code. Hopefully this fix will solve it all.

[2020-01-31 15:15] VladimirMikulic commented on #6882
@Uzay-G what happened to yours PRs?

[2020-01-31 15:17] VladimirMikulic commented on #3454
This has been fixed in #4201 & #4248. Closing this.

[2020-01-31 15:17] #3454 closed

[2020-01-31 15:18] SidharthBansal commented on #6882
I think he is busy somewhere. Take your time @Uzay-G

On Fri, Jan 31, 2020 at 8:45 PM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-31 15:18] SidharthBansal commented on #3454
Great you have power to close issues :-)

On Fri, Jan 31, 2020 at 8:47 PM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-31 15:19] SidharthBansal commented on #6851
Thanks

On Fri, Jan 31, 2020 at 8:43 PM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-31 15:35] #7361 closed

[2020-01-31 15:56] jywarren commented on #3090
I like this `include` `display` convention! Sounds awesome, and thanks for thinking through this distinction!

[2020-01-31 15:57] jywarren commented on #3090
And yes, to be honest I think across all maps on PL we want all layers to be /available/ but only some to be /shown/. So this distinction can be really helpful for such variations. Thank you!!!

[2020-01-31 16:01] nstjean commented on #7395
It doesn't appear that z-index is the issue. I've changed the z-index of the sidebar, of the map menu, and the only thing that works is removing the sidebar column entirely.

![🎈 Public Lab: Inline Maps - Google Chrome_001](https://user-images.githubusercontent.com/49460529/73554042-02cbc000-4419-11ea-9d19-93c3afc6aaa1.png)

[2020-01-31 16:22] nstjean commented on #3090
Ok great! I'll add this to LEL today.

[2020-01-31 16:38] crisner commented on #7395
Curious. Where did you added the z-index to? Did you try it out with the developer tools or in a css stylesheet. In the screenshot it doesn't look like the style is applied.

[2020-01-31 16:40] crisner commented on #7395
I tried it out in the developer console and it works. Maybe I should take a look at it locally. But only z-index less than 0 works.

[2020-01-31 16:48] nstjean commented on #7395
In the developer console and in a stylesheet, but I didn't try less than 0 because I don't want the sidebar to have issues with other things on the page.

[2020-01-31 16:52] crisner commented on #7395
Ah. Anything above -1 will not work unfortunately. We could grab the layer menu in a global css stylesheet and change  its z-index there.

[2020-01-31 16:59] nstjean commented on #7395
If that works I think that's a better option

[2020-01-31 17:15] Tlazypanda commented on #6806
@SidharthBansal I think this issue is resolved since the links now display the revision correctly :sweat_smile:

[2020-01-31 17:17] Tlazypanda commented on #6781
@jywarren can I take this up?

[2020-01-31 18:02] emilyashley opened #7406 "2020 Community-wide survey! This is for YOU 🎉🎈"
## Community Survey
We've been putting together a community survey with @ebarry, @jywarren, @SidharthBansal, @sagarpreet-chadha  more on behalf of the Public Lab non-profit, and I'd like to ask everyone to take a few minutes to fill it out.

We put a lot into making our community a welcoming place, but we need to better understand what works and what doesn't.

So please, give us your thoughts in t

[2020-01-31 18:06] vinitshahdeo opened #7407 "Donation Banner is not dismissible"
Ideally, **the banner should be dismissible**. The non-dismissible banner does not provide good UX. The donation banner present in the header is persistent.

<img width="1440" alt="Screenshot 2020-01-31 at 8 51 28 PM" src="https://user-images.githubusercontent.com/20594326/73562945-34c53c80-4482-11ea-8541-7b9240c26f3d.png">

There can be two ways to improve UX for this:

- **_Disappearing the bann

[2020-01-31 18:07] Uzay-G opened #7408 "[WIP] GCI 2020 Check List"
This is a staging area. Each task has (or will soon have) a link to a full issue including relevant lines of code, screenshots, and other helpful information as we prepare them for solving

 # Coding

   * [ ]  complete 'sortable headers' implementation following pattern in #2352 **hard**
   * [ ]  additional work on the Checklists system: #2452 **easy**
   * [ ]  calculate "answered" rate for que

[2020-01-31 18:15] SidharthBansal commented on #7408
Please check the task. Check their availability. Categorize them as hard
medium etc.

On Fri, 31 Jan 2020, 11:37 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-31 18:17] SidharthBansal commented on #6781
Hi, this issue is does not require any code. Please find any other issue. I
think @Uzay-G has labelling rights and can help with this. And close this
up!

On Fri, 31 Jan 2020, 10:47 pm Sneha Mishra, <notifications@github.com>
wrote:

[2020-01-31 18:17] #6806 closed

[2020-01-31 18:17] SidharthBansal commented on #6806
Thanks

[2020-01-31 18:20] Uzay-G commented on #7408
I have checked all for availabilty and will add difficulty

On Fri, Jan 31, 2020, 19:15 Sidharth Bansal <notifications@github.com>
wrote:

[2020-01-31 18:22] Tlazypanda commented on #2377
@jywarren @skilfullycurled This seems quite interesting! Would love to contribute to this :heart:  and take it up as part of my proposal. :v: Keep me in the loop! :smile:

[2020-01-31 18:22] jywarren commented on #7397
Great, is this closed now?

[2020-01-31 18:32] sssash18 opened #7409 "Introducing gap in between "Give" and edit"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-31 18:38] SidharthBansal commented on #7408
Please close previous two issues for task lists.
I will be less available for some days. Little busy with publishing
something. But will be happy to help intermittently. So expect delayed
replies.

On Fri, 31 Jan 2020, 11:50 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-31 18:40] Tlazypanda commented on #6693
@SidharthBansal is this issue still available?

[2020-01-31 18:52] vinitshahdeo opened #7410 "Links to cross-origin destinations are unsafe"
[code]

When you link to a page on another site using the `target="_blank"` attribute, you can expose your site to performance and security issues:

- The other page may run on the same process as your page. If the other page is running a lot of JavaScript, your page's performance may suffer.

- The other page can access your window object with the `window.opener` property. This may allow the othe

[2020-01-31 19:17] nstjean commented on #7397
Should be fixed with the new LEL, not sure if you want to close it now or wait!

[2020-01-31 19:22] Uzay-G commented on #7014
Refactored in #7408

[2020-01-31 19:22] #7014 closed

[2020-01-31 19:22] Uzay-G commented on #6239
Refactored in #7408

[2020-01-31 19:22] #6239 closed

[2020-01-31 20:06] SidharthBansal commented on #7406
@jywarren , @cesswairimu , @SidharthBansal , @gauravano and @ebarry
@CodeSarthak , @Uzay-G , @VladimirMikulic , @HarshKhandeparkar , @chen-robert , @LeoDog896, @anthony-zhou and all other GCI students
@ananyaarun , @keshav234156 , @IshaGupta18 , @pydevsg , @debck , @rexagod , @sidntrivedi012 , @divyabaid16 , @subhahu123

[2020-01-31 20:06] SidharthBansal commented on #7406
@Rishabh570 @sashadev-skyl @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publiclab/image-seq

[2020-01-31 20:06] SidharthBansal commented on #7406
@Tlazypanda, , @pcube99, @nstjean, @imajit, @nicoleiocana, @simonastefan, @dependabot-preview[bot], @giovannyg, @jywarren, @NitinBhasneria, @seabl, @priyanka-choubey, @anthony-zhou, @hknowlton, @Bhanu-mbvg, @pythongiant, @EmirVatric, @KateAnn19, @daemon1024, @abdiclear, @Electrickal, @crisner, @shipcy, @sunguru98, @keshavsethi, @gxite

[2020-01-31 20:07] SidharthBansal commented on #7364
@emilyashley

[2020-01-31 20:08] SidharthBansal commented on #6693
Please check the website

[2020-01-31 20:45] Uzay-G commented on #7406
Submitted!

[2020-01-31 20:52] SidharthBansal commented on #7408
Please ensure that separate issues are linked and/or made for each of them.
Also, let anyone do it. We need to refactor it again at time of GCI 2020

[2020-01-31 20:59] Uzay-G commented on #2377
@skilfullycurled I have been a bit busy with GCI but I will be happy to work on this when I have time :+1:

[2020-01-31 21:07] blurry-x-face commented on #7406
Submitted 😄

[2020-02-01 02:30] Tlazypanda commented on #7406
Submitted! :smile:

[2020-02-01 05:26] imajit commented on #7406
Submitted !

[2020-02-01 06:06] sagarpreet-chadha commented on #7406
Done 🎉 😄

[2020-02-01 06:27] NitinBhasneria commented on #6801
Yea @cesswairimu If you have some issues for me pls suggest.

[2020-02-01 07:19] sssash18 commented on #7406
Submitted!

[2020-02-01 10:27] govindgoel commented on #7406
Done!!

[2020-02-01 15:10] CoderJolly commented on #7406
Done 🎉

[2020-02-01 15:52] #7383 closed

[2020-02-01 15:55] HashTalmiz commented on #7409
Hey, can i claim this?

[2020-02-01 15:59] sssash18 commented on #7409
Yes @HashTalmiz go ahead with it .

[2020-02-01 16:11] HashTalmiz commented on #7409
Done! Requesting Review. Have I done it right?

[2020-02-01 18:43] niravasher commented on #7406
Done :smile:

[2020-02-02 04:44] crisner commented on #6887
PR[#380](https://github.com/publiclab/leaflet-environmental-layers/pull/380) for issue[#379](https://github.com/publiclab/leaflet-environmental-layers/issues/379) ready for review.

[2020-02-02 05:34] z-arnott opened #7415 "Missing Hamburger Menu Icon on Mobile"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-02 05:47] krsudhanshu commented on #7415
can I claim this issue?

[2020-02-02 08:01] z-arnott opened #7416 "Translation Missing for Navbar Items"
### Please describe the problem (or idea)

What happened just before the problem occurred? Or what problem could this idea solve?

All the items in the Community and Tools drop down menus are affected. Newsletter under the About Us menu is also affected.

Why this is happening:

The translation keys are missing for other menu items.

### Please show us where to look

![image](https://user-images.g

[2020-02-02 08:18] z-arnott commented on #7416
I'd be happy to add the missing translation keys as well if needed, but I wasn't sure how they should be formatted.

[2020-02-02 08:29] keshavsethi commented on #7406
Done !!

[2020-02-02 13:25] #7409 closed

[2020-02-02 13:34] z-arnott commented on #7415
@krsudhanshu go ahead!

[2020-02-02 13:48] redahaq commented on #5191
Hi @CleverFool77 , has this issue been resolved? If not I'd love to work on it. Thank you.

[2020-02-02 16:23] keshavsethi commented on #7376
@nstjean I have open a PR, Please review it
Thanks

[2020-02-02 18:16] vinitshahdeo opened #7420 "Link for MAINTAINERS.md is broken in README.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-02 18:28] #7402 closed

[2020-02-03 00:52] kraken-coder commented on #7415
@krsudhanshu have you open a pull request?

[2020-02-03 12:11] sssash18 opened #7421 "Removal of edit and new feature button for non admins"
### Please describe the problem (or idea)

Their is no need according to me to display the new features button and edit button and then inform the user that only admins can perform that action.
It would be better if we just remove those buttons.
**Current Behaviour**
![Screenshot 2020-02-03 at 5 41 05 PM](https://user-images.githubusercontent.com/57896905/73652225-63bef680-46ac-11ea-9fcf-4cb5b7965

[2020-02-03 12:13] sssash18 commented on #7421
@SidharthBansal @nstjean @Uzay-G @VladimirMikulic Please provide your views on this.
I would like to work this out.Thanks

[2020-02-03 12:24] VladimirMikulic commented on #7421
Displaying a blank page is not a great UI. I would stick with the current layout. @SidharthBansal @Uzay-G?

[2020-02-03 12:29] sssash18 commented on #7421
@VladimirMikulic Actually on my local machine their are no features Only the 'edit' column and 'new issue' button would be removed for nonadmins

[2020-02-03 13:38] rehasantiago commented on #7420
Fixed this in #7422

[2020-02-03 14:24] crisner commented on #7395
Adding a z-index to the inline map or the map controls is not working.

[2020-02-03 14:28] crisner commented on #7395
Also to note, looks like the simple layer control works best for sidebars. We will need to make sure to set this option to true for sidebars in the LEL code when it is bumped here.

[2020-02-03 14:35] nstjean commented on #7395
Yes, I agree. The browser menu is too big... we may have to make the simple menu look a little nicer - maybe make it look like a very stripped down version of the browser menu - but it's not a priority right now.

[2020-02-03 14:37] nstjean commented on #7395
That's unfortunate. I was afraid that would happen. That's odd though, that z-index doesn't affect its behavior... it's clearly a z-index issue.  There must be some reason the sidebar is sticking on top.

[2020-02-03 14:43] crisner commented on #7395
I had expected media queries to kick in but it looks like it does not in the inline maps. 😕 It seems to be working fine even when I am using multiple maps in the example pages in LEL. Do you think it is because the maps are nested inside other divs?

[2020-02-03 15:02] nstjean commented on #7395
It's this! We delete this line and it works.
[code]

[2020-02-03 15:04] nstjean commented on #7395
We can change the value of that z-index to 10 and it will work... anything above 0, it seems.

[2020-02-03 15:12] nstjean commented on #7395
So the issue is either the sidebar goes completely behind the full-width-sidebar, or the sidebar goes completely in front of it. I can't seem to get the map background to be behind the sidebar, with the browser menu in front of it. It's going by the map's main z-index compared to the sidebar's main z-index. the z-index of the browser menu only affects its positioning compared to items within the m

[2020-02-03 15:16] nstjean commented on #7395
See Stacking Contexts: https://philipwalton.com/articles/what-no-one-told-you-about-z-index/

[2020-02-03 15:29] steviepubliclab opened #7423 "Can't get to page two on spam interface"
Hello,
I'm working on moderation, and I can't figure out how to get to the second page of the spam filter dashboard. I think there are more sitting in moderation on the second page. Here's a link:

https://publiclab.org/spam

[2020-02-03 15:47] CodeSarthak commented on #6941
Can you please attach a screenshot with the updates? Thank you.

[2020-02-03 16:01] crisner commented on #7395
Thanks for sharing. I never would have guessed!:astonished:  I assume they have different stacking contexts then? Guess it needs a lot more digging into.

[2020-02-03 16:03] nstjean commented on #7395
Yes, going by what's in that article they do. :( So the map is going to be treated like one big object in the page's layers.

[2020-02-03 16:11] govindgoel opened #7424 "Remove app/views/notes/_tagged_notes.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-03 16:14] crisner commented on #7395
Well, that's disappointing. 😞

[2020-02-03 17:26] nstjean commented on #7395
Ok I CAN make this work. But it involves turning off the following:

.inline-fullwidth-content {
  z-index:0 !important;
}
.leaflet-pane {
    z-index: 400;
}

This stays:
.leaflet-control {
    z-index: 800;
}

And this gets downgraded to 200 (above 0 and less than 800):
.sidebar-panel {
    z-index: 200;
}

This works because the map itself didn't get assigned a context. So now the sidebar and t

[2020-02-03 17:29] nstjean commented on #7395
![Peek 2020-02-03 12-28](https://user-images.githubusercontent.com/49460529/73675585-b682b900-4680-11ea-8adf-325918cc6396.gif)

[2020-02-03 17:48] crisner commented on #7395
This is great! With this fix do the media queries work?

[2020-02-03 17:48] nstjean commented on #7395
I don't think so.

[2020-02-03 17:49] keshavsethi opened #7426 "Margin Issue with Sign Up modal"
Sign up modal is not responsive for smartphones
![Screenshot from 2020-02-03 23-16-11](https://user-images.githubusercontent.com/36025262/73677079-87e5fc00-46db-11ea-8b02-cfa2274bc82c.png)

Please Review
Thanks

[2020-02-03 17:59] nstjean opened #7427 "LEL Map layer menu - media queries not working properly in plots2?"
Here's a pic of a menu in the LEL example map:

![FireShot Capture 276 - Leaflet Environmental Layers - ](https://user-images.githubusercontent.com/49460529/73677596-99e88000-4684-11ea-8bcd-9ebe104877e5.png)

Here's a pic of a menu on a plots2 inline map:

![FireShot Capture 274 - 🎈 Public Lab_ Map - localhost](https://user-images.githubusercontent.com/49460529/73677629-a8369c00-4684-11ea-8df3-527

[2020-02-03 18:01] eric-muchiri commented on #7420
I'll take this

[2020-02-03 18:36] emilyashley commented on #7224
Opened it here: https://github.com/publiclab/plots2/issues/7406

Closing this planning issue. Thank you!

[2020-02-03 18:36] #7224 closed

[2020-02-03 18:47] crisner commented on #7427
I just realised I didn't copy over the updated css file which is why media queries didn't work when I checked. Could it be possible the updated css file from LEL isn't linked here?

[2020-02-03 19:02] emilyashley opened #7429 "Weekly community Check-In #47 - "2020 Contributor Community Survey is Live!""
Hi everyone 👋 I'm Emily Ashley and I wanted to introduce myself -- I'll be working part-time with Public Lab as their staff Full Stack Developer in the New Orleans office  ✨💻 Excited to be here, contribute, and learn more about the community and the awesome folks that make it all that it is! 🙌🙌

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share abou

[2020-02-03 19:17] SidharthBansal commented on #7364
Moved to #7429

[2020-02-03 19:17] #7364 closed

[2020-02-03 19:19] cesswairimu commented on #7429
@rehasantiago, @urvashigupta7, @HashTalmiz, @vinitshahdeo, @nstjean, @dragonwarp, @z-arnott, @VladimirMikulic, @NitinBhasneria, @Tlazypanda, @JanviMahajan14, @sssash18, @mantinone, @DouglasLutz, @seabl, @dependabot-preview[bot], @jywarren, @crisner, @Uzay-G, @shaibrown5, @kostogls, @pcube99, @imajit, @nicoleiocana, @simonastefan, @giovannyg, @priyanka-choubey, @anthony-zhou, @hknowlton, @Bhanu-mbv

[2020-02-03 19:20] cesswairimu commented on #7429
@Rishabh570 @sashadev-skyl @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publiclab/image-seq

[2020-02-03 19:45] cesswairimu commented on #7420
closed in https://github.com/publiclab/plots2/pull/7422

[2020-02-03 19:45] #7420 closed

[2020-02-03 19:56] SidharthBansal commented on #7429
Hi everyone,
Emily, we are glad to have you onboarded. She will be helping us in many projects for SoC especially, Printability of posts and wiki pages AND Leaflet Environmental Layers (LEL): time slider UI. :rocket:

I will be mentoring only plots2, mk and swb related projects 👍

[2020-02-03 22:50] jamescapps commented on #7424
I would like to claim this issue.

[2020-02-03 22:57] jamescapps commented on #7424
I have completed this.  It needs a review.

[2020-02-04 02:21] NitinBhasneria commented on #6941
Yea, will attach shortly.

On Mon, 3 Feb, 2020, 9:17 pm Sarthak Aggarwal, <notifications@github.com>
wrote:

[2020-02-04 06:44] cesswairimu commented on #7420
closed in #7422

[2020-02-04 06:46] Tlazypanda opened #7431 "Fix the spacing in the read more button"
The read more button under the methods url has a spacing issue.
The padding/margin needs to be fixed so that the read more text doesn't overflow out of the button.

![image](https://user-images.githubusercontent.com/33183263/73720405-e1841000-4747-11ea-8828-633c39087f0a.png)

### Please show us where to look

https://publiclab.org/methods

## Thank you!

[2020-02-04 06:46] Tlazypanda commented on #7431
@jywarren can you approve this? Can I take this up?

[2020-02-04 10:08] theOpetunde commented on #7415
Have you been able to solve this?

[2020-02-04 11:55] crisner opened #7432 "Outreachy Project Recap: summary, planning & discussion"
# Completed tasks
## Plots2

- Map layer permalinks get overwritten on page open (issue #6889) PR[#293](https://github.com/publiclab/leaflet-environmental-layers/pull/293)
- Add a zoom:xx power tag for map zoom along with lat and lon when saving location #7019 PR #7020
- Enable embedded maps in wiki pages, notes and questions
- Add prompt to Dashboard (/dashboard) to add user location, if user doe

[2020-02-04 11:56] crisner commented on #7432
# Tasks awaiting review/feedback
- Edit documentation in README for more clarity #354 PR[#367](https://github.com/publiclab/leaflet-environmental-layers/pull/367)
- Fix duplication of jquery script tags PR[#373](https://github.com/publiclab/leaflet-environmental-layers/pull/373)
- Refactor code in layers to replace jQuery with XHR PR[#383](https://github.com/publiclab/leaflet-environmental-layers/

[2020-02-04 11:58] crisner commented on #7432
# Bugs Fixed
## Plots2
- On /map/ if you type in lat=0&lon=115 it does not show you the right location IN #7046
- Fix error at /map/ with no layers are specified #7046
- Fix map at top of profile and add zoom value #7089
- Permalinks on /map/ should show current location in URL hash even when using default data IN #7061
- Fix navbar covering top of /map/ #7189
- addTag javascript function does not

[2020-02-04 12:00] crisner commented on #7432
# Tasks left
_Remaining tasks from the checklist here https://github.com/publiclab/plots2/issues/6887#issuecomment-561287047_

- Write UI tests

- Display optional legends for each layer [#103](https://github.com/publiclab/leaflet-environmental-layers/issues/103)

- Stop displaying spinners if a layer fails to load for 10 seconds (issue [#290](https://github.com/publiclab/leaflet-environmental-lay

[2020-02-04 12:02] crisner commented on #7432
# Tasks awaiting review/feedback
- Edit documentation in README for more clarity #354 PR[#367](https://github.com/publiclab/leaflet-environmental-layers/pull/367)
- Fix duplication of jquery script tags PR[#373](https://github.com/publiclab/leaflet-environmental-layers/pull/373)
- Refactor code in layers to replace jQuery with XHR PR[#383](https://github.com/publiclab/leaflet-environmental-layers/

[2020-02-04 12:09] crisner commented on #7432
# Tasks to finish up the completed tasks
_We may need to prioritize these over the others_
## Plots2
- Fix sidebar map errors #7381 _in progress_ - [_**Priority:** high_]
- Check media queries for layers menu on the LEL instances
- Fix errors related to jquery conflict over in LEL _awaiting review/feedback_ - [_**Priority:** high_]
- Sidebar is interfering with full-width inline maps PR[#7425](htt

[2020-02-04 12:18] crisner commented on #7432
Other planning issues/ideas list that we had bookmarked:
- https://github.com/publiclab/leaflet-environmental-layers/issues/334
- https://github.com/publiclab/plots2/issues/6993
- https://github.com/publiclab/plots2/issues/6801
- https://github.com/publiclab/leaflet-environmental-layers/issues/134

[2020-02-04 12:25] crisner commented on #7432
@nstjean, I have narrowed down some tasks here https://github.com/publiclab/plots2/issues/7432#issuecomment-581877979 and marked high priority so that we can focus on completing them first. For tests in LEL I think we should prioritize testing for the one-liner code first. What do you think? Any other tasks that need to be under this list especially in plots2?

[2020-02-04 12:54] crisner commented on #7432
Moved the low priority task from here to here https://github.com/publiclab/leaflet-environmental-layers/issues/334.

[2020-02-04 12:55] imajit opened #7433 "Back Button takes User back to Dashboard even after logging out"
There is no check to stop user from getting back to Dashboard after logging out.
![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/38528640/73746445-38570d00-477b-11ea-9258-b6adbb452922.gif)
Process I do in the gif
 - I logged into my account and then 'Logout of all devices'.
 - After that I click on 'Back' button of browser and I can go back to my dashboard even after I have

[2020-02-04 12:56] imajit commented on #7433
I would like to work on this issue .

[2020-02-04 13:25] alaxalves commented on #7429
Hello everyone, I've started working on Spectral Workbench. My goal is to standardize its practices and tool pattern the same as we've done with Plots2 and Mapknitter. Spectral Workbench is an important module for the PL ecosystem and I've realized that it pretty outdated, and present several deprecated modules. I already have some PRs on review at:
- https://github.com/publiclab/spectral-workbenc

[2020-02-04 13:40] nstjean commented on #7432
Yes I agree, I think testing for the one liner code first would be good because that's pretty much what we are using in plots2 - or will be using shortly. I'll go through it all and see if anything needs to be added to the high priority list.

[2020-02-04 14:03] sssash18 opened #7434 "A user able to follow itself"
### Please describe the problem (or idea)

After creating the post the user is able to follow itself. This should not happen.
**Current Behaviour**
![Untitled_ Feb 4, 2020 7_29 PM](https://user-images.githubusercontent.com/57896905/73751417-14002e00-4785-11ea-8966-47c962d13366.gif)

A user must not follow itself

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicL

[2020-02-04 14:04] sssash18 commented on #7434
@publiclab/reviewers @SidharthBansal  @VladimirMikulic @Uzay-G  What are your views on it?I would like to solve this.Thanks

[2020-02-04 14:34] krsudhanshu commented on #7415
nope!
I haven't open a pull request

[2020-02-04 14:38] krsudhanshu commented on #7415
Whenever I click on $FILENAME it opens a blank page. Can somebody guide me in this.

[2020-02-04 14:40] starkblaze01 commented on #7360
I would love to be part of SWB-js project.

[2020-02-04 15:13] nstjean commented on #7432
I have updated the Plots2 list above for what's left to do for this project.

[2020-02-04 15:22] Uzay-G commented on #7434
This is a good idea @sssash18! We should do it

[2020-02-04 15:28] krsudhanshu commented on #7415
Hi there! I did a pull request, but I think it went wrong can someone guide me!
Thanks!!

[2020-02-04 16:07] nstjean commented on #7406
Done :)

[2020-02-04 16:10] nstjean commented on #7429
So glad to have you, Emily!!

I'm still working on my Outreachy project with @crisner , getting all the maps working correctly, adding features to LEL, and integrating data from plots2 into our maps!

[2020-02-04 16:12] nstjean commented on #7427
Oh yes. Quite possibly. I guess like the other items we'll have to wait and see how it behaves after the LEL version update.

[2020-02-04 16:41] HarshKhandeparkar commented on #7406
Filled ✍️

[2020-02-04 17:17] nstjean commented on #6887
https://github.com/publiclab/plots2/pull/7425 ready for review and merge

[2020-02-04 18:12] VladimirMikulic commented on #7434
:+1:

[2020-02-04 18:28] SidharthBansal commented on #7426
Are you willing to help us with this issue?
Similarly for log in modal?

[2020-02-04 18:28] SidharthBansal commented on #7408
@Uzay-G any progress on this?

[2020-02-04 18:29] SidharthBansal commented on #7320
@VladimirMikulic are you willing to fix it?

[2020-02-04 18:29] SidharthBansal commented on #7315
@Uzay-G @cesswairimu @VladimirMikulic is it fixed now?

[2020-02-04 18:30] SidharthBansal commented on #7215
@Uzay-G are you willing to do it?

[2020-02-04 18:31] SidharthBansal commented on #7320
@VladimirMikulic also kindly update the issue title so that folks can easily detect the issue from the title.
Thanks all

[2020-02-04 18:32] VladimirMikulic commented on #7315
Yes, it is :)

[2020-02-04 18:32] Uzay-G commented on #7215
Yes I do it :smile:

On Tue, Feb 4, 2020, 19:30 Sidharth Bansal <notifications@github.com> wrote:

[2020-02-04 18:35] SidharthBansal commented on #7215
Thanks

[2020-02-04 18:42] VladimirMikulic commented on #7320
@SidharthBansal I've tried to reproduce the issue, but the template works fine for me.
@steviepubliclab can you confirm that issue is still present? We had some changes in the editor.

[2020-02-04 18:49] z-arnott commented on #7415
Hi @krsudhanshu can you edit your PR with the issue number, #7415 !

And tag publiclab/reviewers in a comment on the PR for them to check it

Thanks :)

[2020-02-04 18:50] SidharthBansal commented on #7320
@VladimirMikulic can you please check the production ?
If issue is not present then we can close this

[2020-02-04 18:52] cesswairimu commented on #7315
We still have some tests that fail and pass during restart...forgot to update the one I saw yesterday here. I will keep this one open for now. Thanks

[2020-02-04 18:53] VladimirMikulic commented on #7320
I've checked in production and locally and wasn't able to reproduce it.

[2020-02-04 18:53] #7320 closed

[2020-02-04 18:53] VladimirMikulic commented on #7315
Which one was it? Thanks.

[2020-02-04 18:54] cesswairimu commented on #7315
Found one
[code]

[2020-02-04 18:55] VladimirMikulic commented on #7315
Oh, it's that one? Unfortunately, only admins can fix it. It's the DB connections problems, not the test ones :)

[2020-02-04 18:58] cesswairimu commented on #7315
oh cool, I will take a look

[2020-02-04 19:02] #7395 closed

[2020-02-04 19:38] SidharthBansal commented on #6882
@Uzay-G any progress here?

[2020-02-04 20:20] SidharthBansal commented on #7360
Mayank are you willing to participate as a student or mentor?
One person can either be student or mentor

On Tue, Feb 4, 2020 at 8:10 PM Mayank Pathela <notifications@github.com>
wrote:

[2020-02-04 20:21] SidharthBansal commented on #7429
Great Natalie

On Tue, Feb 4, 2020 at 9:40 PM Natalie St Jean <notifications@github.com>
wrote:

[2020-02-04 20:21] SidharthBansal commented on #7429
and @crisner

On Wed, Feb 5, 2020 at 1:51 AM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2020-02-04 21:15] Uzay-G commented on #7215
I will do it without faker because @jywarren said, we want to keep installation simple.

[2020-02-04 21:15] Uzay-G commented on #7215
I will do it without faker because @jywarren said, we want to keep installation simple.

[2020-02-04 21:15] Uzay-G commented on #7215
I will do it without faker because @jywarren said, we want to keep installation simple.

[2020-02-04 21:34] SidharthBansal commented on #7215
So we need to close this?
I am also in favour of closing it as said earlier

[2020-02-04 21:38] Uzay-G commented on #7215
No I am going to add seeds without faker

[2020-02-04 21:50] SidharthBansal commented on #7215
ok cool

[2020-02-05 07:35] starkblaze01 commented on #7360
Hi, I don't think I would be eligible as a student as by the time acceptance date I will be graduated. I would serve as a mentor.

[2020-02-05 08:37] SidharthBansal commented on #7360
You can do as a student if at time of enrollment you are student

On Wed, 5 Feb 2020, 1:05 pm Mayank Pathela, <notifications@github.com>
wrote:

[2020-02-05 08:58] starkblaze01 commented on #7360
😅 Okay, thanks. But it might also happen that my current internship end-date will overlap with GSoC. SO applying for the student will be tough.

[2020-02-05 09:18] SidharthBansal commented on #7360
You can choose. We will love to have you as mentor or student

On Wed, Feb 5, 2020 at 2:28 PM Mayank Pathela <notifications@github.com>
wrote:

[2020-02-05 10:33] krsudhanshu commented on #7415
hey @z-arnott i am not able to tag them.
Updated the issue number to #7415 .

[2020-02-05 13:35] starkblaze01 commented on #7360
Thanks 😄!

[2020-02-05 14:28] steviepubliclab opened #7440 "Batch first time posters on spam page."
Hi all,
I've been having an issue with spam moderation this week where first time posters are posting multiple times from the same account and continuing to be held in moderation. So far, these have all been spam accounts. Wondering if there is a way to batch posts together from new users until they go through moderation instead of needing to mark each post as spam from the wiki page: https://publ

[2020-02-05 14:36] steviepubliclab commented on #7423
I was able to get to the second page by adding ?page=2 in the url, but this page will need buttons to do this in the future

[2020-02-05 15:37] Uzay-G commented on #6882
No I am a bit stuck on this one

[2020-02-05 16:23] icarito opened #7441 "Users are unable to post Questions"
The logs show an error with a non unique index: `index_node_vid`
[code]

[2020-02-05 16:25] icarito commented on #7441
This seems to be a reincidence of issue https://github.com/publiclab/plots2/issues/7062 - looking at how it was fixed then it seems there's a draft note with `index_node_vid`=0 causing this issue.

[2020-02-05 18:43] sssash18 opened #7442 "Admin able to ban itself"
### Please describe the problem (or idea)

It is observed that a admin is able to block itself.It could be dangerous in cases when their is just one admin and it is blocked.
**Current Behaviour**
![Untitled_ Feb 6, 2020 12_06 AM](https://user-images.githubusercontent.com/57896905/73872013-ea263480-4874-11ea-8d9c-ff79baa50825.gif)

### Please show us where to look

https://publiclab.org/ ...

### W

[2020-02-05 18:44] sssash18 commented on #7442
@SidharthBansal @Uzay-G @VladimirMikulic Please provide your views on it.Can I proceed with it?

[2020-02-05 18:59] VladimirMikulic commented on #7442
I've just encountered that behaviour. It would be appreciated if you could fix it :)

[2020-02-05 21:42] keshavsethi commented on #7426
yes Sure, i will do this

[2020-02-06 11:00] SidharthBansal commented on #5450
@keshavsethi is interested in spam. Please take a look on this issue Keshav

[2020-02-06 11:00] SidharthBansal commented on #2413
@keshavsethi is interested in spam. Please take a look on this issue Keshav

[2020-02-06 11:01] SidharthBansal commented on #974
@keshavsethi is interested in spam. Please take a look on this issue Keshav

[2020-02-06 11:01] SidharthBansal commented on #2819
@keshavsethi is interested in spam. Please take a look on this issue Keshav

[2020-02-06 14:31] icarito commented on #7441
I deleted the invalid draft and this allowed posting again. I'll be working on the underlaying issue #3007

[2020-02-06 14:31] #7441 closed

[2020-02-06 17:51] #7433 closed

[2020-02-06 18:25] #7442 closed

[2020-02-06 18:53] cesswairimu commented on #7432
Awesome :rocket:

[2020-02-06 19:15] Tlazypanda commented on #7431
@VladimirMikulic @cesswairimu @SidharthBansal can I work on this?

[2020-02-06 19:18] cesswairimu commented on #7431
Hey @Tlazypanda , yeah sure, good catch. thanks

[2020-02-06 21:58] steviepubliclab commented on #2413
Hi Sidharth,
Are you recommending we delete profiles and material older than 3 years off
PublicLab.org? I don't think I could get behind that one. That's a lot of
important material, a lot still relevant and a lot for legacy.
Maybe that's not what you mean though, can you clarify?

On Thu, Jan 30, 2020 at 1:23 PM Sidharth Bansal <notifications@github.com>
wrote:

[2020-02-06 22:56] SidharthBansal commented on #2413
I meant folks who have not contributed at all AND are inactive for 3 years+

Your worries are right. We can have a good user with just a one post about
something really important and is inactive since six years. So we will not
delete that user.

While deleting a user profile, we need to check about users comments, wiki
pages and research papers they created. If they don't exist then we can
delete

[2020-02-07 09:16] crisner commented on #7432
cc: @sagarpreet-chadha

[2020-02-07 12:08] sagarpreet-chadha commented on #7432
Just Wowoww :)

[2020-02-07 12:53] NitinBhasneria commented on #7168
@nstjean can you please tell me where is the code of map situated? I cant find it.

[2020-02-07 14:26] steviepubliclab commented on #2413
Hi Sidharth,
For inactive profiles, do you mean that page or the user themselves? A lot
of profile pages are bare, and a lot of the older ones that have material
are spam, so it's hard to say!

I think the idea of deleting inactive users is interesting, and helpful if
it decreases the database load. But one risk I see if we continue on this
line into the future, is that we might delete people who

[2020-02-07 15:07] SidharthBansal commented on #2413
We need to see a lot of things here.
Technologically if we delete a profile that means we delete a user. This
means user has many linkings like comments, subscriptions, likes, wikis,
research posts etc. We need to think about it.
Also, there will be one more thing, profile deletion can be done by user
itself as they don't want a pl account in future OR by moderators. Example,
I wrote spam comments

[2020-02-07 19:03] nstjean commented on #7168
This is the file that has the fullwidth inline map:
https://github.com/publiclab/plots2/blob/master/app/views/map/_inlineLeaflet.html.erb

You'll have to find in Leaflet how to turn off scrollwheel zoom, I think they must have a setting for it. Here's the docs:
https://leafletjs.com/reference-1.6.0.html

And then you'll use that setting when the map is created on the page with `L.map`

[2020-02-07 19:33] harshithpabbati commented on #7360
Hi everyone,

Don't we have any project ideas on image sequencer for GSoC ?

I have a suggestion for a project on image sequencer to rewrite everything on reactjs freshly and have testing for every component.

Is this a good idea ?

[2020-02-07 19:33] harshithpabbati commented on #7360
@jywarren what do you say ?

[2020-02-07 19:48] #7298 closed

[2020-02-07 20:36] alaxalves commented on #7360
For me it's a great idea. But it sounds like way more than a 3 months project.

[2020-02-08 11:25] pydevsg commented on #7360
Interested to work on this @harshithpabbati , if you guide me through your mentorship.

[2020-02-08 11:32] harshithpabbati commented on #7360
@pydevsg I am interested in applying as a Student for GSoC 2020. Since @jywarren asked me suggest idea over here, so I did 😅

[2020-02-08 11:36] pydevsg commented on #7360
Okay @harshithpabbati

[2020-02-08 16:50] govindgoel opened #7449 "Change the function t to translations in app/views/notes/tools_places.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-08 18:55] baonguyen0111 commented on #7449
Hi, I'm new to open-source stuff. Can I claim this?

[2020-02-09 05:17] govindgoel commented on #7449
@baonguyen0111  Go ahead!!

[2020-02-09 07:02] sagarpreet-chadha commented on #7168
Yes it is straightforward, just pass  {scrollWheelZoom: false} in options in `L.map` instantiation!
https://leafletjs.com/reference-1.6.0.html#map-scrollwheelzoom

[2020-02-09 07:39] sagarpreet-chadha commented on #7395
@nstjean @crisner  @cesswairimu
I think i remember adding these lines long long time back!
https://github.com/publiclab/plots2/issues/7395#issuecomment-581456175

Can you guy verify if the Autosuggest bar in LBL model is working? I had added because the autosuggest bar was rendering below the map. Thanks!!!

[2020-02-09 09:36] 3ng7n33r commented on #7449
Hey, new here too. Should you want to pass it on or need a second pair of eyes, let me know.

[2020-02-09 10:23] #7376 closed

[2020-02-09 10:23] govindgoel commented on #7449
@3ng7n33r  you can claim this one #6754

[2020-02-09 10:26] #7434 closed

[2020-02-09 10:37] #7368 closed

[2020-02-09 10:40] DevanshCodes commented on #7360
I've added more points for Community-Toolbox project:

`Adding New features:

1.)	Implementing 'Hall of fame' issues list function, and addition of the ‘Hall of fame issues’ list at bottom.
2.)	Modal View of the contributors, hovering or clicking on the avatars, will show their Commits, contributions and issues.
3.)	Adding gitter integration so that the newcomer doesn’t have any trouble finding th

[2020-02-09 11:04] 3ng7n33r commented on #6754
Hello,
I would like to claim this one.
BR

[2020-02-09 12:05] kamal-kaur04 commented on #6754
@nstjean I apologize for being inactive. I didn't that this is not merged in Public Lab repo. Can I send a pull request for this issue?

[2020-02-09 15:33] NitinBhasneria commented on #7168
@sagarpreet-chadha Can you suggest where I can find the code for this..?

[2020-02-09 15:49] #7350 closed

[2020-02-09 15:49] sssash18 commented on #7353
@SidharthBansal any update on this?

[2020-02-09 16:02] #7305 closed

[2020-02-09 20:14] cesswairimu commented on #7429
Thanks everyone for filling the survey and if you haven't yet please do.

Anyone interested in opening next week's check-in?

[2020-02-09 20:39] skilfullycurled commented on #5450
Hey @keshavsethi,

That’s great!  @Uzay-G is interested as well.  There’s plenty to do.  Give this thread a read, it has a lot of good resources you’ll need.

There are a few things that need to be done or could be done:

It would be really helpful to excitement with a quick way to sort spam from the past users (see above).  Doesn’t have to involve machine learning.  We’ll also need to send out le

[2020-02-09 20:47] SidharthBansal commented on #7429
I think we can include gci student result there?
Any gci student wishing to participate?

On Mon, 10 Feb 2020, 1:44 am Cess, <notifications@github.com> wrote:

[2020-02-09 21:16] VladimirMikulic commented on #7429
Sorry I didn't understand the "participate" part. Participate in SOC?

[2020-02-09 21:27] SidharthBansal commented on #7429
You can participate in next community check-in

On Mon, 10 Feb 2020, 2:46 am Vladimir Mikulic, <notifications@github.com>
wrote:

[2020-02-09 21:51] VladimirMikulic commented on #7429
I don't think that it would be appropriate that I open this check-in since it will include GCI results and I was a student. Some could say it's a conflict of interest. Maybe some newcomer could do this?

[2020-02-09 21:57] nstjean commented on #7429
I can do it!

[2020-02-09 21:59] VladimirMikulic commented on #7429
Thanks, @nstjean.

[2020-02-10 02:56] guptadiksha307 commented on #7449
Hi, I'm very keen to work on this issue. May I?

[2020-02-10 03:26] guptadiksha307 commented on #7415
Hi, Is this issue open?

[2020-02-10 04:24] harshithpabbati commented on #7360
@publiclab/is-reviewers what do you guys say ?

[2020-02-10 04:30] keshavsethi commented on #7440
Can I try this out?? @SidharthBansal @steviepubliclab @nstjean , we can group all the comments/posts of particular user and then with a drop down we can view all the comments of that user.

[2020-02-10 05:23] govindgoel commented on #7449
@guptadiksha307  This is already assigned you can claim this one #6734

[2020-02-10 09:22] SidharthBansal commented on #7429
Agreed!

On Mon, 10 Feb 2020, 3:29 am Vladimir Mikulic, <notifications@github.com>
wrote:

[2020-02-10 09:24] ataata107 commented on #7360
I too would like to add some project ideas for IS

1. Adding tensorflow.js to IS so as to run trained fully convolutional network directly on browser
2. Dockerizing the whole project
3. Right now IS only lets us visualise the steps sequentially. What if we could add a functionality in browser where we could visualise multiple steps at the same time( making IS in browser tree like data structure)

[2020-02-10 09:47] 3ng7n33r commented on #6734
Hello,
can I claim this one?
BR

[2020-02-10 11:48] cesswairimu commented on #7429
Awesome, thanks @nstjean

[2020-02-10 13:25] NitinBhasneria opened #7454 "Displaying of go to top button"
At the top of webstie the go to top button should not be displayed which is displaying in this case.

![Screenshot from 2020-02-10 18-53-07](https://user-images.githubusercontent.com/44112080/74153446-a5184e80-4c36-11ea-9664-b00f9326b6d3.png)

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issu

[2020-02-10 13:25] NitinBhasneria commented on #7454
@VladimirMikulic @SidharthBansal please review this.

[2020-02-10 13:28] VladimirMikulic commented on #7454
That would be a very nice UI improvement :+1:
@NitinBhasneria you are doing great work!

[2020-02-10 13:38] nstjean commented on #6734
@3ng7n33r Yes go ahead!

[2020-02-10 13:41] nstjean commented on #7429
@cesswairimu @SidharthBansal If there is any information about CGI that I should include can you email it to me? Or should I just post a regular check in?

[2020-02-10 13:50] cesswairimu commented on #7429
@nstjean nope, gci is over now...you could just mention the survey is still open for the folks that have note filled yet. Thanks

[2020-02-10 13:51] nstjean commented on #7429
Ok!

[2020-02-10 14:01] Rishabh570 commented on #7406
Done :v:

[2020-02-10 14:33] nstjean commented on #7429
New check-in open https://github.com/publiclab/leaflet-environmental-layers/issues/394

[2020-02-10 14:33] #7429 closed

[2020-02-10 17:58] NitinBhasneria commented on #7454
Looks like the js file scroll-func.js is not linked so we have to link this file.
@VladimirMikulic do you have some idea where to link this file?

[2020-02-10 18:35] NitinBhasneria opened #7456 "change function t to translation in app/views/tag/show.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-10 18:36] NitinBhasneria commented on #6579
@nstjean another fto #7456

[2020-02-10 18:37] NitinBhasneria opened #7457 "change function t to translation in app/views/wiki/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-10 18:40] NitinBhasneria opened #7458 "Need css improvement in https://publiclab.org/methods"
PROBLEM
As we can see the padding of the open box not good the read more had been overflow, hence padding needs to be improved.

![free-image-resizer-cropper](https://user-images.githubusercontent.com/44112080/74179087-be36f480-4c62-11ea-96db-8719623cb984.png)

Where to look
https://publiclab.org/methods
## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine a

[2020-02-10 18:41] NitinBhasneria commented on #7458
@VladimirMikulic @nstjean @SidharthBansal please review?

[2020-02-10 19:01] VladimirMikulic commented on #7458
This is in progress on #7446.

[2020-02-10 19:01] VladimirMikulic commented on #7458
Whoops, accidentally reopened it.

[2020-02-10 19:01] #7458 closed

[2020-02-10 19:22] keshavsethi commented on #7440
@SidharthBansal Please give review on this PR

[2020-02-10 19:40] keshavsethi opened #7460 "Select all button in spam page"
At first Select all button selects all the elements of table but if it is pressed again and again it get disabled as shown
![Screenshot from 2020-02-11 01-06-53](https://user-images.githubusercontent.com/36025262/74183569-3bfefe00-4c6b-11ea-964d-1ba188cb1458.png)

/spam/wiki and /spam
Thanks

[2020-02-10 20:35] NitinBhasneria commented on #7460
@keshavsethi can I work on this issue?

[2020-02-10 21:46] SidharthBansal commented on #7360
Hello all,
We are glad to have your responses. We love it.
GSoC and Outreachy both enable students to propose their own ideas and post a proposal on their own idea OR choose one from the proposed idealist from the organisation.
The ideas which are present in the idealist are priority milestones for Public Lab. Still, we are open to new ideas for all repositories. :-)
I don't have specialization in

[2020-02-10 21:55] VladimirMikulic commented on #7360
:+1:

[2020-02-10 22:51] Uzay-G commented on #7360
I also don't have good knowledge with those repos, but what would be the purpose of adding a neural network to IS?

[2020-02-10 23:13] VladimirMikulic commented on #7454
I see what is the problem. The file `scroll-func.js` is in the root folder.
You should move it to `plots2/app/assets/javascripts`.

After you do that, add an entry in `plots2/app/assets/javascripts/application.js` to make it compile with other scripts.
You could as well format the `scroll-func.js` properly.

Thank you.

[2020-02-11 02:09] neelesh17 commented on #7457
I would like to try this issue.

[2020-02-11 04:31] JordanTFite commented on #7456
I'd like to claim this!

[2020-02-11 06:32] SidharthBansal commented on #7360
I know about neural networks and ml stuff. Can help there !

On Tue, 11 Feb 2020, 4:21 am Uzay-G, <notifications@github.com> wrote:

[2020-02-11 07:34] NitinBhasneria commented on #7454
yea, I got it thnx.

[2020-02-11 11:06] ananyaarun commented on #7360
Yes adding some ml algorithms to IS is a great idea !! Would love to mentor this project :)

[2020-02-11 11:49] sssash18 commented on #7360
Hey folks , I am interested in the project of site wide accessibilty for PublicLab.org as my GSoC project.I was preparing my proposal for it I thought to just discuss some of my ideas for it.The following are my ideas:-
1. Generating automatic alt text for images by using microsoft computer vision gem.
2. Using ARIA to label buttons and form fields, using aria-live for alert messages.
3. Performin

[2020-02-11 12:07] ataata107 commented on #7360
@Uzay-G @SidharthBansal @ananyaarun Thanks for your interest. As IS is mainly about image to image translation, deep learning would much further increase the overall capability.

One example would be the following
![image](https://user-images.githubusercontent.com/32903329/74235335-c50e4780-4cf4-11ea-832f-4bff8513009f.png)
In the above given image we could convert the left image into the style of

[2020-02-11 14:26] NitinBhasneria commented on #7360
Hey, what is think I as there are so many errors in UI and also a bit messy, for improving this I have an idea to replace the codes of bootstrap and write your own CSS as this will be more flexible.

I would like to participate as a student in GSoC.

[2020-02-11 14:51] guptadiksha307 commented on #7362
Hi, I'm new to open source and I would like to contribute to this issue. May I?

[2020-02-11 17:08] SidharthBansal commented on #7362
There is an outstanding PR. Can you please find any other issue?

[2020-02-11 17:25] saurabhkanswal commented on #7360
hello,
@jywarren @emilyashley @sagarpreet-chadha @SidharthBansal  can you please describe more about this idea https://publiclab.org/wiki/gsoc-ideas#Leaflet+Environmental+Layers+(LEL):+time+slider+UI
As of now all i can understand is that the idea is about adding timeline feature in LEL library.
something like this:
![timeline](https://user-images.githubusercontent.com/26677033/74261246-f56bdb00-4

[2020-02-11 18:12] sagarpreet-chadha commented on #7360
Hey @saurabhkanswal , i have to discuss this with @emilyashley and @jywarren but i am sure the project will not be only to implement this slider as it is already a solved problem. Thanks!

[2020-02-11 18:24] jywarren opened #7469 "Bypass emoji trouble by filtering and converting emoji"
For a short-term fix to #3007 and related issues where note and wiki saving fail due to emoji in the title and body, I propose we filter the emoji out and replace them with their `:smiley:` :smiley: text equivalents, which are auto-filtered back into emoji on display.

This should work for emoji, although not for other unicode which aren't working on the site.

Code here based on this example: htt

[2020-02-11 18:50] geekychasser commented on #7469
@jywarren can i try this ?

[2020-02-12 02:55] snpd25 commented on #7123
@anthony-zhou can I work on this issue?

[2020-02-12 04:23] snpd25 commented on #7120
@nstjean May I work on it? How to reproduce this issue?

[2020-02-12 04:56] NitinBhasneria commented on #7359
@jywarren I would like to work on this issue. May I ?

[2020-02-12 05:01] NitinBhasneria commented on #7296
@Uzay-G Is this issue available?

[2020-02-12 05:11] NitinBhasneria commented on #6993
@jywarren If this issue is incomplete I would
like to do try this .

[2020-02-12 05:16] NitinBhasneria commented on #6871
@jywarren Can I work on this issue?

[2020-02-12 05:19] kushaggarwal commented on #6871
Hello
I have already submitted a pull request regarding the same

[2020-02-12 05:52] NitinBhasneria commented on #6871
@kushaggarwal then you should edit your pr and write the issue number their in fixes.

[2020-02-12 06:06] kushaggarwal commented on #6871
Okay will do so
Thank you

[2020-02-12 08:07] #7362 closed

[2020-02-12 08:15] keshavsethi commented on #7423
@steviepubliclab can I try this out ??

[2020-02-12 08:21] keshavsethi commented on #6476
Is this Issue still open??
@priyanka-choubey @jywarren

[2020-02-12 10:24] Uzay-G commented on #7296
Sorry, this was fixed in #7292

[2020-02-12 10:24] #7296 closed

[2020-02-12 12:46] NitinBhasneria commented on #7334
@gabrielbaldao are you doing this or can I proceed?

[2020-02-12 13:00] NitinBhasneria commented on #6941
![Screenshot from 2020-02-12 18-29-50](https://user-images.githubusercontent.com/44112080/74337107-b0e64b00-4dc5-11ea-8af9-a9eb64027470.png)

[2020-02-12 13:00] NitinBhasneria commented on #6941
@CodeSarthak you can see I bought the dropdown to original place.

[2020-02-12 14:07] CodeSarthak commented on #6941
Looks good to me. Good job @NitinBhasneria 👍

The changes can be made @jywarren

[2020-02-12 14:34] keshavsethi opened #7473 "page number shown is more than actual number of pages"
In https://publiclab.org/comments?page=495 after this next page doesn't exist but page buttons are still shown upto 600 which are of no use.

![Screenshot from 2020-02-12 19-58-26](https://user-images.githubusercontent.com/36025262/74344497-bbf3a800-4dd2-11ea-8d5b-1c1bd519e1e1.png)

[2020-02-12 15:11] sanjana091001 commented on #7473
can I work on this?

[2020-02-12 15:55] snpd25 commented on #6767
@crisner Can I work on this issue?

[2020-02-12 16:26] ckchu8 commented on #6855
I was able to find and reproduce the problem. The show action in the controller and the find_nodes_by_type method in the model look for term_data parents differently. I can't do a full refactor, but I can clean it up a little. Can I take this issue?

[2020-02-12 17:20] nstjean commented on #7456
@JordanTFite Go ahead!

[2020-02-12 17:31] nstjean commented on #7457
Hi! Thanks for posting new FTOs @NitinBhasneria :tada: I noticed that there are more instances of `t` in this file, can we update this issue to replace all of them? @neelesh17 You did a great job making the pull request, can you update it to include all of the `t` functions? Thanks!!

[2020-02-12 18:12] NitinBhasneria opened #7475 "change function t to translation in app/views/wiki/edit.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-12 18:23] nstjean commented on #7421
@sssash18 You can go to http://localhost:3000/features/new and create a bunch of fake features so it will show up on your computer. I think it would be a great idea to remove the edit and create new button, since non-admins won't get access anyways.

[2020-02-12 18:47] #7460 closed

[2020-02-12 18:50] jywarren commented on #7469
Wow that would be super! Please do!

[2020-02-12 18:52] cesswairimu commented on #6767
Hey @snpd25, you could confirm if this is still happening...I think we solved it on another issue but kindly check. If its still an issue you can go ahead. Thanks

[2020-02-12 19:01] #7071 closed

[2020-02-12 19:03] #7355 closed

[2020-02-12 19:10] cesswairimu commented on #7415
Great catch @z-arnott, Thanks

[2020-02-12 19:11] #7415 closed

[2020-02-12 19:29] cesswairimu commented on #7312
Hey @NitinBhasneria, I am not clear on the issue here..could you please elaborate? thanks

[2020-02-12 20:12] Nevenem commented on #7475
I would like to claim this issue.

[2020-02-12 20:26] erickcsh commented on #3479
I want to work on this one. Is it still open?

[2020-02-12 20:33] #7456 closed

[2020-02-13 02:24] neelesh17 commented on #7473
I wanna try this Issue.

[2020-02-13 05:19] NitinBhasneria commented on #7475
@Nevenem go ahead

[2020-02-13 05:22] NitinBhasneria commented on #7312
@cesswairimu Actually there was a slight line on the header due tlh wrong media query limit. As you can see the screenshot.

[2020-02-13 05:34] NitinBhasneria commented on #6825
@jywarren Is this issue closed.

[2020-02-13 05:43] NitinBhasneria commented on #6534
@jywarren Are this tasks still need to be done. If yes, may I try please?

[2020-02-13 08:55] chirag-wadhwa commented on #6727
Heya, can I work on this issue...

[2020-02-13 08:56] chirag-wadhwa commented on #6704
Heya, can I work on this issue...

[2020-02-13 09:52] keshavsethi commented on #7426
@cesswairimu can we merge this??

[2020-02-13 11:38] sssash18 commented on #7421
Thanks @nstjean for your help.
Kindly review the changes.

[2020-02-13 13:45] nstjean commented on #6704
@chirag-wadhwa Go ahead!

[2020-02-13 13:46] nstjean commented on #6727
@chirag-wadhwa I just assigned a different issue to you, so we can leave this open for someone else. :)

[2020-02-13 16:15] NitinBhasneria opened #7482 "Sign up and login popup margin error"
PROBLEM
when you open the signup or login in small devices you will see that sign up and login popup ahs unequal and wired top margin although in some devices it is perfect.

To see:
go to the site go to inspect and then responsive select different mobiles devices there you will be the problem

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve

[2020-02-13 16:16] NitinBhasneria commented on #7482
@VladimirMikulic @cesswairimu @jywarren please approve this I will be working on this then.

[2020-02-13 16:22] VladimirMikulic commented on #7482
This has been a long time issue. You definitely have my approval.

[2020-02-13 16:41] govindgoel commented on #7449
@baonguyen0111  Are you still working on this??

[2020-02-13 16:49] govindgoel opened #7483 "Change the function t to translation in app/views/sidebar/_list.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-13 17:41] EvgenyNikolaevich commented on #7483
Hello there,
I'll take it, please=)

[2020-02-13 17:48] keshavsethi commented on #7482
@NitinBhasneria @VladimirMikulic I have made a PR in #7448
Can you please review this ?
Thanks

[2020-02-13 17:55] NitinBhasneria commented on #7482
@keshav234156 let the pr be merged then we will check through.
Although the changes you have made are right but this problem has been changed many a times so will check it.

[2020-02-13 17:55] keshavsethi commented on #7473
@VladimirMikulic @jywarren @SidharthBansal @cesswairimu Is this a valid issue??

[2020-02-13 18:00] EvgenyNikolaevich commented on #7483
I'm waiting for permission for pushing=)

[2020-02-13 18:02] keshavsethi commented on #7482
@NitinBhasneria Sure!!
Thanks!!
btw its @keshavsethi :)

[2020-02-13 18:48] chirag-wadhwa commented on #6704
Heya, the function t has already been replaced with translation in the above mentioned lines in the file wiki/_wikis.
Is there anything else to be done in the file???

[2020-02-13 18:54] nstjean commented on #6704
Oh sorry! It looks like this issue was posted twice. Let me find another file for you to edit.

[2020-02-13 18:58] nstjean opened #7484 "Change the function t to translation in notes/_responses.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-13 18:58] nstjean commented on #7484
@chirag-wadhwa This is for you!

[2020-02-13 18:59] chirag-wadhwa commented on #6704
No worries,
Thanks...

[2020-02-13 18:59] sssash18 opened #7485 "Sorting in features page"
**Please describe the desired behavior.**
Describe the solution you'd like.
Currently there is no kind of sorting on features page .It would be benficial if we could sort features based on title or last edited.

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.

[2020-02-13 19:00] sssash18 commented on #7485
I would like to implement this @SidharthBansal  @cesswairimu

[2020-02-13 19:12] nstjean commented on #7432
I finally got the tests done! This is so exciting. :laughing: https://github.com/publiclab/leaflet-environmental-layers/pull/397

I had to fix a bug with the initialized param values: https://github.com/publiclab/leaflet-environmental-layers/pull/396 (merged)

I also did a little clean-up while I was in there: https://github.com/publiclab/leaflet-environmental-layers/pull/401

Now all I need is fo

[2020-02-13 19:20] chirag-wadhwa commented on #6704
Heya, can I work on the issue #6727 ???

[2020-02-13 19:21] VladimirMikulic commented on #7473
What happens when you click the "next" (`->`) button while you are on page 495?

[2020-02-13 19:23] VladimirMikulic commented on #7482
@NitinBhasneria it can't be merged before it has been checked :)

[2020-02-13 19:29] sssash18 opened #7487 "<br> tag in useremail"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-13 19:35] nstjean commented on #6704
I made this one for you :) https://github.com/publiclab/plots2/issues/7484

[2020-02-13 19:55] omizrahi99 commented on #7487
Hey! Can I claim this issue?

[2020-02-13 19:56] nstjean commented on #6993
Hi @NitinBhasneria This is a project I am almost done with. :) Thanks for offering to help, though!

[2020-02-13 19:57] nstjean commented on #7359
@NitinBhasneria Go ahead! If you need help just let me know.

[2020-02-13 20:05] nstjean commented on #7120
Hi @snpd25 ! Sure!
You can reproduce the issue by logging in as `admin`, visiting /profile/user and then clicking on the `Tags` button, then the `+` button, then the location button as shown here:
![Selection_059](https://user-images.githubusercontent.com/49460529/74473504-b8632e00-4e71-11ea-9692-6862e449c454.png)
In the pop-up screen select a location and save it.

When I tried it just now it act

[2020-02-13 20:14] nstjean commented on #7168
So here is the code where L.map is called:
https://github.com/publiclab/plots2/blob/d4f803c1dba59f91c5d8eb6e21b9e2c218b94372/app/views/map/_inlineLeaflet.html.erb#L32-L38

you'll have to add an option in the list
`scrollWheelZoom: false`

[2020-02-13 20:19] #6704 closed

[2020-02-13 20:20] nstjean commented on #7483
@EvgenyNikolaevich Go ahead! Thanks!

[2020-02-13 20:21] nstjean commented on #6754
@kamal-kaur04 Go ahead!

@3ng7n33r You can do this one: https://github.com/publiclab/plots2/issues/6756

[2020-02-14 05:14] crisner commented on #7432
Other tasks in the priority list as discussed here https://github.com/publiclab/leaflet-environmental-layers/issues/399#issuecomment-584999376 _[Awaiting feedback]_

1) Once a layer is added to the map let the layer be visible both on the map and the layer menu but keep the layer from requesting data if the map is not intersecting with the layer's extents. _[**Priority:** high]_

2) The layers tha

[2020-02-14 06:11] NitinBhasneria commented on #7168
Thnx @nstjean

[2020-02-14 06:12] NitinBhasneria commented on #7482
I will check it bt today @keshavsethi @VladimirMikulic

[2020-02-14 07:07] NitinBhasneria commented on #7359
ok, I will be working on this.
thanks @nstjean

[2020-02-14 07:14] NitinBhasneria opened #7490 "change function t to translation in app/views/wiki/_header.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-14 07:14] NitinBhasneria commented on #6579
@nstjean  new FTO #7490 and #7475

[2020-02-14 08:52] chirag-wadhwa commented on #7484
I have made the changes and created a pull request. Please review it.
Thanks...

[2020-02-14 10:37] andysyme commented on #7490
I'd like to claim this issue...

[2020-02-14 11:03] sssash18 opened #7493 "change function t to translation in app/views/notes/_responses.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-14 11:04] sssash18 commented on #6579
@nstjean Made new fto #7493

[2020-02-14 11:11] sssash18 opened #7494 "Change function t to translation in app/views/notes/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-14 11:40] NitinBhasneria commented on #7490
@andysyme Nice work!

[2020-02-14 11:45] geekychasser commented on #7469
Following Observations
- Emoji not working in title of research notes
- Emoji not working in title of wiki
- Emoji not working in title of revision
- Emoji not working in body of revision

Although emojis are working in body of wiki and research notes. Can you please share link of the methods used in body of wiki and research notes for emotification ? I will use it for the titles.
After debugging

[2020-02-14 12:01] crisner commented on #7432
Tests for the demo page ready for review: https://github.com/publiclab/leaflet-environmental-layers/pull/400

[2020-02-14 14:30] keshavsethi commented on #7473
![Screenshot from 2020-02-14 19-58-55](https://user-images.githubusercontent.com/36025262/74539764-98f8fd80-4f64-11ea-9f44-5c579af355b9.png)

[2020-02-14 14:36] robin-natale commented on #6206
Hi I would like to become an open contributor. looking for an FTO on #css #js #html #bootstrap  :)

[2020-02-14 14:49] steviepubliclab commented on #6855
Go for it!! Thank you

[2020-02-14 14:50] steviepubliclab commented on #7423
yes! thank you

[2020-02-14 14:52] NitinBhasneria commented on #7359
by adding the location.reload(true); in the code given by you @nstjean it will work fine.
What do you think?

[2020-02-14 14:53] nstjean commented on #7359
Yes, that sounds good!

[2020-02-14 15:00] NitinBhasneria commented on #6571
@nstjean I think here is also the same problem with reloading. What do you think?

[2020-02-14 15:02] nstjean commented on #6571
@NitinBhasneria While this is a page load issue, the code for posting a question is very different than the code for adding tags. So I think this is a separate problem.

[2020-02-14 15:03] NitinBhasneria commented on #6571
oh I see ok thanks @nstjean

[2020-02-14 15:06] chirag-wadhwa commented on #7484
Heya, the issues with the pull request have been solved. All the five tests have been passed. Please check it out and review it.

Thanks...

[2020-02-14 15:11] ckchu8 commented on #6855
Great thank you! 😄 I think I have a PR ready for review!

[2020-02-14 18:23] chirag-wadhwa commented on #4120
Can I take up this issue, if it's still open ?

[2020-02-14 20:07] steviepubliclab opened #7498 "Change post date on draft to publish date"
When someone starts a post on Public Lab it captures the date of the draft was started. Then when it's finally published, it holds the original date. This means it doesn't show up on the top of the feed and new posts end up buried in the history. can we change this so that the data it is published is what is used rather than the date the draft started. here's an example of a post I'm talking about

[2020-02-15 03:50] crisner commented on #6206
@robin-natale Here's an FTO for you. https://github.com/publiclab/leaflet-environmental-layers/issues/369

[2020-02-15 06:58] snpd25 commented on #7120
@nstjean , I entered lon tag, saved a location and pressed enter. But it the location info didn't get saved, I don't know if I am doing anything wrong. But this is what is happening/home
![Peek 2020-02-15 12-21](https://user-images.githubusercontent.com/32434989/74583594-9347fa00-4fee-11ea-807e-32380a5d022a.gif)

[2020-02-15 09:00] imajit commented on #7498
Hey ! can I work on this ?

[2020-02-15 15:49] keshavsethi commented on #7423
@steviepubliclab @SidharthBansal @nstjean  Please review this PR
Thanks!!

[2020-02-15 16:03] keshavsethi opened #7502 "checkbox select all"
select all is not working properly in /dashboard
![Screenshot from 2020-02-15 21-30-15](https://user-images.githubusercontent.com/36025262/74591071-a7b1e400-503a-11ea-982f-e6d74c062f53.png)

Thanks!!

[2020-02-15 16:08] keshavsethi opened #7503 "Add location button on hover"
Background of Add location button on hover becomes white as shown in the image
/people
![Screenshot from 2020-02-15 21-35-31](https://user-images.githubusercontent.com/36025262/74591136-6ff76c00-503b-11ea-9123-1fde62ff79e0.png)

Thanks!!

[2020-02-15 16:29] NitinBhasneria commented on #6304
@nstjean I don't know how to check whether the person is following or not. Do you know how to check?

[2020-02-15 16:32] kamal-kaur04 commented on #6754
Thank you @nstjean
There are some errors in sending pull requests. Please help me in fixing that.

[2020-02-15 16:34] NitinBhasneria opened #7504 "Followers button is not working well"
When we click on follower it is expected to show the followers list instead it just reload.

![Screenshot from 2020-02-15 22-02-48](https://user-images.githubusercontent.com/44112080/74591573-f82b4080-503e-11ea-97f7-136ae1fcc73a.png)

We have to make it scroll to the followers list.
here

![Screenshot from 2020-02-15 22-04-22](https://user-images.githubusercontent.com/44112080/74591596-24df5800-50

[2020-02-15 16:35] NitinBhasneria commented on #7504
@nstjean @SidharthBansal review it please.

[2020-02-15 16:42] keshavsethi opened #7505 "list view not working"
List view in https://publiclab.org/questions?page=1 is not working.
It remains in grid view on clicking list view button as shown
![Screenshot from 2020-02-15 22-07-44](https://user-images.githubusercontent.com/36025262/74591686-0037b000-5040-11ea-9d09-2be5c46c9a91.png)

Thanks !!

[2020-02-15 16:44] govindgoel commented on #7490
@NitinBhasneria  Kindly update the issue as there are much more lines where function needs to be changed

[2020-02-15 17:44] keshavsethi commented on #7504
Hey @NitinBhasneria please refer to PR #7331
It is kind of similar to issue mentioned.
@SidharthBansal @nstjean

[2020-02-15 18:08] sssash18 opened #7506 "Showing number of results found in email search"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-15 18:20] sssash18 commented on #7503
@keshavsethi  I would like to do it.

[2020-02-15 18:21] sssash18 commented on #7503
@keshavsethi I would like to convert this issue to a fto. Can I proceed?

[2020-02-15 18:38] sssash18 opened #7507 "Enhance the unban functionality"
### Please describe the problem (or idea)

Currently if a user is banned the admin has to go to it's profile to unban the user.I would be better if the admin is provided with the unban option in the dropdown itself.
**Current Behaviour**
![Untitled_ Feb 16, 2020 12_05 AM](https://user-images.githubusercontent.com/57896905/74593363-6298ac80-5050-11ea-97d2-01539100ca1d.gif)

### Please show us where

[2020-02-15 18:38] sssash18 commented on #7507
@SidharthBansal @nstjean @cesswairimu @VladimirMikulic I would like to solve this one.Thanks

[2020-02-15 18:53] NitinBhasneria commented on #7504
@keshavsethi
yea but webpage should not reload then.
It's ok that after your pr no scroll will be needed but there should also no need of reloading then.

[2020-02-15 18:54] NitinBhasneria commented on #7504
What are your views @jywarren @nstjean

[2020-02-15 18:55] sssash18 opened #7508 "Unsubscribe button does'nt work"
### Please describe the problem (or idea)

Unsubscribe button in dropdown does not actually unsubscribes a user
**Current Behaviour**
![Untitled_ Feb 16, 2020 12_23 AM](https://user-images.githubusercontent.com/57896905/74593588-c58b4300-5052-11ea-865c-79996875ab01.gif)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and

[2020-02-15 19:24] keshavsethi commented on #7503
@sssash18 yeah,make it first timer issue:)

[2020-02-15 19:24] VladimirMikulic commented on #7507
@sssash18 the is issue is unclear. In your case, the user has already been banned.

[2020-02-15 19:27] sssash18 commented on #7507
@VladimirMikulic I think now it's fine.Sorry for the inconvenience.

[2020-02-15 19:28] VladimirMikulic commented on #7507
:+1:

[2020-02-15 19:31] sssash18 commented on #7507
@VladimirMikulic Is this not a good idea as you closed the issue .

[2020-02-15 19:35] VladimirMikulic commented on #7507
@sssash18 you said that it works fine now and I closed this.

[2020-02-15 19:38] sssash18 commented on #7507
@VladimirMikulic Actually I edited the title of issue and informed you that it's fine.

[2020-02-15 19:44] VladimirMikulic commented on #7507
This is an issue, right?

[2020-02-15 20:35] keshavsethi opened #7509 "pop up css not working"
pop over in subscription styles are not working properly in  https://publiclab.org/subscriptions
1)multiple popups  together
2)z-index wrt header
3)tweet button css
4) overlapping
![Screenshot from 2020-02-16 01-58-03](https://user-images.githubusercontent.com/36025262/74594829-b14e4280-5060-11ea-8665-7985482c2e7e.png)
@VladimirMikulic @SidharthBansal @nstjean
Thanks!!

[2020-02-15 20:51] keshavsethi commented on #7505
@VladimirMikulic @SidharthBansal @nstjean Is this a valid issue?? can i try this?

[2020-02-16 00:48] pierrecazaubon commented on #7506
Hi, I'd like to claim this issue!

[2020-02-16 04:27] sssash18 commented on #7506
@pierrecazaubon Go ahead to solve it!

[2020-02-16 04:28] sssash18 commented on #7507
Yes it is a issue @VladimirMikulic .Thanks for reopening.

[2020-02-16 04:33] sssash18 commented on #7509
@keshavsethi  issue #7355 already mentions this problem in it regarding this popup

[2020-02-16 05:38] snpd25 commented on #6767
@cesswairimu , @crisner , Still the horizontal scroll is required, i.e, the link-text does not break to fit the page. So shall I add `overflow-wrap: break-word;` to `pl-content` class to style.css file ?

[2020-02-16 08:23] #7426 closed

[2020-02-16 08:31] #7421 closed

[2020-02-16 12:26] sssash18 opened #7512 "Change of hover color on 'add location button'"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-16 12:31] #7503 closed

[2020-02-16 14:44] NitinBhasneria commented on #7508
@sssash18 are you working on this?

[2020-02-16 15:00] NitinBhasneria opened #7513 "Useless blank space"
there is a useless blank space that needs to be removed in the user page.

![Screenshot from 2020-02-16 20-22-59](https://user-images.githubusercontent.com/44112080/74607009-0dfe3b80-50fb-11ea-8751-5f9b8179e3ef.png)
after clicking this comes
Where to look
https://publiclab.org/profile/radimir_cacic09
![Screenshot from 2020-02-16 20-22-58](https://user-images.githubusercontent.com/44112080/74607019

[2020-02-16 15:12] saurabhkanswal opened #7514 "navbar making it hard to choose layers"
it's hard to choose layer because navbar is covering the button on top-right most corner on map.
![navbar1](https://user-images.githubusercontent.com/26677033/74607206-d8f2e880-50fc-11ea-9a52-0092748b80bc.gif)
![navbar3](https://user-images.githubusercontent.com/26677033/74607208-dbedd900-50fc-11ea-995e-f4b1fa8243b5.PNG)

[2020-02-16 15:17] NitinBhasneria opened #7515 "Error in wiki edit"
When we see in first pics it shows 3 research notes and 5 wiki edits while
![Screenshot from 2020-02-16 20-36-50](https://user-images.githubusercontent.com/44112080/74607134-12772400-50fc-11ea-9b64-dffb19c74adc.png)
On this page it shows 5 research notes and also no wiki edits are shown here.
![Screenshot from 2020-02-16 20-34-43](https://user-images.githubusercontent.com/44112080/74607132-0be8ac8

[2020-02-16 15:19] NitinBhasneria commented on #7515
@nstjean @cesswairimu Review this issue please.

[2020-02-16 15:20] NitinBhasneria commented on #7513
@nstjean @cesswairimu Review this issue please.

[2020-02-16 15:22] sssash18 commented on #7508
@NitinBhasneria if you want , you can work on it.Thanks

[2020-02-16 15:29] cesswairimu commented on #7482
solved in https://github.com/publiclab/plots2/pull/7448 . closing this

[2020-02-16 15:29] #7482 closed

[2020-02-16 15:49] cesswairimu commented on #7507
This is actually not a bug its designed like that, you have to go the profile to unban a user. Maybe we can have a discussion if we need to change that.

[2020-02-16 15:52] sssash18 commented on #7507
@cesswairimu won't it be little inconvenient for the admin to go to the user's profile and then unban it?

[2020-02-16 15:52] ccyccyccy commented on #7512
Hi I would like to claim this issue.

[2020-02-16 15:53] sssash18 commented on #7512
@ccyccyccy go ahead!

[2020-02-16 15:53] cesswairimu commented on #7507
Having the unban button there could cause being clicked accidentally

[2020-02-16 15:55] sssash18 commented on #7507
@cesswairimu to prevent that I have included a alert dialog box in my PR.

[2020-02-16 16:01] cesswairimu commented on #7513
@NitinBhasneria, the link provided above does not show any such space...kindly check again

[2020-02-16 16:03] NitinBhasneria commented on #7513
No, but we have to click on three dots for that kindly click and also check the screenshots @cesswairimu

[2020-02-16 16:05] cesswairimu commented on #7513
Gotcha..go ahead

[2020-02-16 16:35] ccyccyccy commented on #7512
@sssash18 Is `hover="this.style.background='grey';";"` a typo? Seems like it should be `hover="this.style.background='grey';"` instead, without the double `;"`

[2020-02-16 16:48] sssash18 commented on #7512
Yes it is a typo Thanks for rectifying.

[2020-02-16 17:07] NitinBhasneria commented on #7508
Ok will be working on it.

[2020-02-16 17:50] tasbihaasim commented on #7506
I'd like to claim this issue

[2020-02-16 21:56] imajit opened #7518 "Lock floating toolbar for formating in public lab posts"
The toolbar that allows user to format the text in 4th step of [post](https://publiclab.org/post) is not useful in other steps. So I feel locking it to 4th step instead of having a floating one would be a good idea.
![ezgif com-video-to-gif(4)](https://user-images.githubusercontent.com/38528640/74613352-a2849000-5133-11ea-9fbe-8ff2c90e4b85.gif)

[2020-02-17 02:12] neelesh17 commented on #7518
Can i claim this issue?

[2020-02-17 05:24] baonguyen0111 commented on #7449
sorry i'm not anymore

[2020-02-17 07:07] Tlazypanda commented on #7360
@jywarren I can't find publiclab project listed at the outreachy website.Do I need to look somewhere else for the project?

[2020-02-17 08:25] imajit commented on #7518
@publiclab/designers can you please review this

[2020-02-17 09:28] theOpetunde commented on #7494
Hi, I'd like to claim this issue

[2020-02-17 11:20] sssash18 commented on #7494
Sure @theOpetunde Go ahead to solve it!

[2020-02-17 11:27] govindgoel commented on #7449
This issue is open and no one is assigned.

[2020-02-17 11:43] 3ng7n33r commented on #7449
I would take it to get a bit more practice.
BR

[2020-02-17 13:10] govindgoel commented on #7449
@3ng7n33r  You have already solved a first-timers-only issue kindly checkout the issues with help wanted label or you can also have a look [here](https://code.publiclab.org) under the candidates section.

[2020-02-17 13:48] Michaellin250 commented on #7502
Can I work on this bug? :)

[2020-02-17 13:59] NitinBhasneria commented on #7508
https://github.com/publiclab/plots2/blob/8d2efcb96e9643a74957d5cdde208f21d01360fb/app/views/tag/show/_user_controls.html.erb#L9-L12
this is the code @nstjean @cesswairimu do you find any error in this?

[2020-02-17 14:48] NitinBhasneria opened #7523 "Problem in code"
There is something missing due to which the <i > line is not working.
![Screenshot from 2020-02-17 19-25-04](https://user-images.githubusercontent.com/44112080/74663832-8f6cd100-51c2-11ea-8ddf-d7f67e558cba.png)

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances

[2020-02-17 14:51] #7523 closed

[2020-02-17 15:04] govindgoel opened #7524 "Change the function t to translations in app/views/wiki/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-17 15:23] robin-natale commented on #7524
@govindgoel  Can i be assigned please?

[2020-02-17 15:26] robin-natale commented on #7493
@sssash18  Can I claim this issue?

[2020-02-17 15:26] sanjana091001 commented on #7473
@keshavsethi where can I get the code for this?

[2020-02-17 15:27] govindgoel commented on #7475
Please update the issue
https://github.com/publiclab/plots2/pull/7478#pullrequestreview-359814954

[2020-02-17 15:32] nstjean commented on #7514
Hi, what page is this on? Can you post a link to it? The maps are supposed to show up positioned after the navbar, not below it.

[2020-02-17 15:36] nstjean commented on #7518
I do agree that it shouldn't be floating all over the page. I think the reason it was floating was so that it was always visible when the edit box is really long and you're scrolling through things. But perhaps we could hide it when the edit box isn't visible?

[2020-02-17 15:40] nstjean commented on #7515
That does look like something isn't being calculated right - either the number isn't, or the page isn't loading the proper info. Do you want to look into what's going on?

[2020-02-17 16:05] nstjean commented on #7493
@robin-natale Go ahead!

[2020-02-17 16:07] saurabhkanswal commented on #7514
hey @nstjean here is the link: https://publiclab.org/map/#3/10/1
also a arrow button not showing above map, which look a little bit odd.
![anaa](https://user-images.githubusercontent.com/26677033/74669595-7ddcf680-51cd-11ea-8014-24728e99fd56.PNG)

[2020-02-17 16:15] govindgoel commented on #7524
@robin-natale  You have already made the pr for a first-timers-only issue now you can explore the help-wanted issues and you can have a look [here](https://code.publiclab.org/) also.

[2020-02-17 16:16] robin-natale commented on #7493
@nstjean Hey should be all done now. Did not find any changes to be made on line 47. Could i ask you for a review? Many Thanks 👍

[2020-02-17 16:18] robin-natale commented on #7524
@govindgoel Sure Thanks 👍  I will take a further look now!

[2020-02-17 16:36] DouglasLutz commented on #7515
@nstjean in the route `/profile/:name` the `n wiki edits` is getting the number of revisions made by the user, while in `/wikis/author/:name` it is listing the wikis created by the user.
About the research notes, in `/wikis/author/:name` is showing more because it's getting all research notes and in profile only the notes with status of 1.

I can open a PR changing this.

[2020-02-17 17:01] nstjean commented on #7120
You'll have to delete any lat and lon tags before trying to add a location.

[2020-02-17 17:02] nstjean commented on #7505
Yes this is an issue I noticed before! You can certainly take a look at it and see if you can fix it!

[2020-02-17 17:04] nstjean commented on #7513
@chirag-wadhwa asked me if I could find them an easy issue to try as their first step after a FTO. This looks pretty simple with just HTML and CSS. Do you mind letting them try this one?

[2020-02-17 17:24] NitinBhasneria commented on #7513
No not a problem but some js will be included in this to check if github or twitter icon is there or not.
If you want to assign this to someone you can.

[2020-02-17 17:40] imajit commented on #7518
I agree hiding it when edit box is not visible can solve the issue. Also the last four buttons in the toolbar also do not have a grey background, even that needs to be fixed . @nstjean I would like to work on this issue and  @neelesh17 I have actually started working on the issue but you can help me if I'm stuck :relaxed:

[2020-02-17 17:42] nstjean commented on #6754
@kamal-kaur04 Can you share some information on that? What are you doing when you get the errors? What do the errors say?

[2020-02-17 17:43] nstjean commented on #6304
That is a good question. Let me take a look!

[2020-02-17 18:02] NitinBhasneria commented on #6304
I have made a pr for this just have a look.
@nstjean

[2020-02-17 18:51] sailahonkanen commented on #7524
Hey, I'd like to claim this issue!

[2020-02-17 19:13] keshavsethi commented on #7509
@sssash18 , Thanks for mentioning that issue but there are few more things which are not covered in that PR like z index wrt top banner, tweet button css etc

[2020-02-17 19:30] nstjean commented on #7515
Ok. I'm not sure what was originally intended. But here are my thoughts.

On http://localhost:3000/wikis/author/user
I think we could say "Wiki pages by user - 2 wiki pages created and 11 wiki edits starting 3 months ago"

on http://localhost:3000/notes/author/user
It should say "Notes by user - 7 research notes starting 5 months ago" - remove the number of wiki edits

[2020-02-17 19:32] nstjean commented on #7515
The only problem will be that http://localhost:3000/wikis/author/user doesn't show all 11 wiki edits, as it only shows wiki pages that were created by that user, not ones that they edited but were created by someone else. That's something that could maybe added to the page later?

[2020-02-17 19:41] govindgoel commented on #7524
@sailahonkanen  Go ahead!!

[2020-02-17 19:58] nstjean commented on #7513
@NitinBhasneria Thanks! You are doing excellent work!

[2020-02-17 19:59] nstjean commented on #7518
Sounds like a good plan!

[2020-02-17 20:00] nstjean commented on #7504
I see the same problem with both of those links: contributors and followers. We do not need them to be links, since they are right there on the page at the top.

[2020-02-17 21:01] sailahonkanen commented on #7524
Should be all changes done. Please review it.

[2020-02-17 21:05] cesswairimu commented on #7508
Yeah..I think the problem here is its doing a `GET` instead of a `delete` try adding `data-method="delete"`

[2020-02-17 21:09] DouglasLutz commented on #7515
Sure, the query for http://localhost:3000/wikis/author/user is wrong.

Looking again into this I found that when someone review/edit a wiki post it is added to the wiki's authors so by wiki edits I think its supposed to get all wikis where the user is one of the authors.

I can change this query and show the right wikis in the page.

[2020-02-17 21:10] nstjean commented on #7515
Ok perfect!

[2020-02-17 21:13] cesswairimu commented on #7473
Hi all...I don't think this is a pagination error..I think we might be having some data on some of the older comments that we can't display as of now...maybe there was changes in column or smth. Let us hold this until we can see what the error is from sentry maybe? Not sure I have access to that. Check on unstable this error does not occur which might be a proof is a data issue. https://stable.pub

[2020-02-17 21:21] #7512 closed

[2020-02-17 21:29] Tlazypanda opened #7529 "Missing css files in assets.rb file"
While trying to find a fix for the padding problem in the dropdown menu for `_card.html.erb` file,I noticed that some files are not included in`assets.rb` such as `notes.css` and some other css files.Thus the likely padding and ui issues across the app can just be fixed by importing these.

Am I missing something here ...are these css files imported from any other place? Not really sure can you he

[2020-02-17 21:30] Tlazypanda commented on #7529
@jywarren @SidharthBansal @VladimirMikulic can you have a look and point me in the right direction? Not really sure if this inference is right :sweat_smile:

[2020-02-17 21:58] VladimirMikulic commented on #7529
You are right! `notes.css` is neither compiled nor referenced with `stylesheet_link_tag`.

[2020-02-18 04:53] NitinBhasneria commented on #7508
@cesswairimu actually I have already tried adding data-method="delete" but nothing happened

[2020-02-18 07:04] cesswairimu commented on #7508
oh :thinking: ,maybe we can try rails link...using `<%= link_to method: :delete  %>`?

[2020-02-18 08:05] Tlazypanda commented on #7529
@VladimirMikulic should I add the missing css files to `assets.rb` then and open a pr for the same?

[2020-02-18 08:09] VladimirMikulic commented on #7529
You could build upon this PR. No need for separation.

[2020-02-18 08:15] Tlazypanda commented on #7529
Ohh okay should I add all the missing css files then or are some of them not in use/inactive now? Can you let me know about the same @VladimirMikulic Thanks a ton! :smile:

[2020-02-18 09:16] VladimirMikulic commented on #7529
All that are required, but not present in `assets.rb` or `application.css` :)

[2020-02-18 11:16] keshavsethi opened #7530 "page number buttons are displayed twice"
In https://publiclab.org/tag/question:general
here page numbers are displaying twice as shown:
![Screenshot from 2020-02-18 16-42-55](https://user-images.githubusercontent.com/36025262/74731492-175be500-526e-11ea-8692-73f84813ba96.png)

[2020-02-18 11:20] keshavsethi opened #7531 "remove headers when table is empty"
Here in https://publiclab.org/wiki/tag/question:general?sort=page_views
Header can be removed when table is empty. A message can be displayed that table is empty.
![Screenshot from 2020-02-18 16-47-49](https://user-images.githubusercontent.com/36025262/74731762-b680dc80-526e-11ea-9e14-1582a6bb08db.png)

[2020-02-18 14:00] keshav234156 opened #7532 "Including Bootstrap in plots2/editor"
Bootstrap files are not included in plots2 Editor leading to various style issue like inconsistency in style of the toolbar , quoted text and code doesn't show the style

[2020-02-18 14:04] neelesh17 commented on #7530
Can I claim this issue?

[2020-02-18 14:19] nstjean commented on #7514
Ok I took a look at this and I believe this won't be an issue when the latest changes get published to publiclab. I added a fix for the map position here: https://github.com/publiclab/plots2/pull/7189
I'm not sure why it's not showing up on the live site. If you want you can check out the code I added in that PR and look to see if it exists in the live site or not. Maybe it's already live but ther

[2020-02-18 14:22] NitinBhasneria commented on #7508
No, @cesswairimu It is working same with this... as <a ....

[2020-02-18 14:25] crisner commented on #7432
## Update
These tasks that were awaiting feedback or in progress in https://github.com/publiclab/plots2/issues/7432#issuecomment-581876031 have been completed/merged
- Edit documentation in README for more clarity [#354](https://github.com/publiclab/leaflet-environmental-layers/issues/354) PR[#367](https://github.com/publiclab/leaflet-environmental-layers/pull/367)
- Fix duplication of jquery scri

[2020-02-18 14:26] Bhanu-mbvg commented on #7532
I would like to work on this issue

[2020-02-18 14:28] cesswairimu commented on #7508
okay, I will take a closer look at it later and let you know if any success

[2020-02-18 14:29] NitinBhasneria opened #7533 "No text appearing in mobile view."
When we click on the button by type or by sort the dropdown appears in which the text is not appearing, there is space where the text can be shown but still, no text appears making it wired in looks.

![text](https://user-images.githubusercontent.com/44112080/74744739-c1486b00-5288-11ea-9039-647dc7d9612e.jpeg)
![text1](https://user-images.githubusercontent.com/44112080/74744746-c3122e80-5288-11ea-

[2020-02-18 14:39] NitinBhasneria opened #7535 "Issue in dropdown while scrolling"
When we click in ... in card body, we see the dropdown in perfect CSS but
![Screenshot from 2020-02-18 20-06-43](https://user-images.githubusercontent.com/44112080/74745712-48e2a980-528a-11ea-9850-
9adda530ab13.png)

when we scroll up and down and then click on ... we get this.
![Screenshot from 2020-02-18 20-06-48](https://user-images.githubusercontent.com/44112080/74745700-45e7b900-528a-11ea-96e

[2020-02-18 14:43] NitinBhasneria commented on #7535
@nstjean @cesswairimu review this.

[2020-02-18 14:44] NitinBhasneria commented on #7533
@cesswairimu @nstjean review this please.

[2020-02-18 14:57] nstjean commented on #7533
I definitely see an issue on http://localhost:3000/questions/tag/question:general
Feel free to fix it!

[2020-02-18 14:59] NitinBhasneria commented on #7533
Ok thanks @nstjean

[2020-02-18 15:00] nstjean commented on #7535
That's interesting. Go ahead!

[2020-02-18 15:04] NitinBhasneria commented on #7535
Ok thanks @nstjean

[2020-02-18 17:24] EvgenyNikolaevich commented on #7483
May be you have some ideas
I still cannot push my branch to upstream.
[code]

[2020-02-18 18:05] nstjean commented on #7483
@EvgenyNikolaevich So what you are going to do is fork this repo to your own account. Then you create a branch in your own fork, and push the changes up with `git push origin branch-name`. Once it's pushed up to your fork then you can create a pull request so that we can merge it into the publiclab repo. :)

[2020-02-18 19:44] VladimirMikulic commented on #7532
Hi @Bhanu-mbvg. Thank you for the interest, but we already have the PR that resolves this.

[2020-02-19 05:19] cesswairimu commented on #7315
[code]

[2020-02-19 08:10] sssash18 opened #7537 "Change t to translation in _new_question.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-19 08:14] sssash18 opened #7538 "Change t to translation in _related.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-19 08:15] sssash18 commented on #6579
@nstjean Made new ftos #7538, #7537

[2020-02-19 09:31] avidler commented on #7537
Hello,
Please could I give this one a try?
Many thanks.

[2020-02-19 10:25] sssash18 commented on #7537
Yeah @avidler  go ahead!

[2020-02-19 11:51] avidler commented on #7537
I think this is done. Please let me know if I have overlooked anything.

[2020-02-19 14:31] priyanshbalyan commented on #7538
Hey I'm taking this issue and have opened a PR for it.

[2020-02-19 15:04] NitinBhasneria commented on #7513
@nstjean have you assigned it to someone or should I solve this.
Thanks

[2020-02-19 15:07] urvashigupta7 commented on #7531
I would like to work on it.

[2020-02-19 16:02] nstjean commented on #7381
LEL has been updated to 2.2.1 and bad news... still getting errors on map pages on local:

![🎈 Public Lab: Plain Inline Maps - Google Chrome_060](https://user-images.githubusercontent.com/49460529/74849920-512cfa00-5307-11ea-9d4a-9476b7b02349.png)

I'll be digging into it to see what's going on.

[2020-02-19 16:57] crisner commented on #7381
😟 The jQuery errors are because the fix is not in the published version yet. Not sure about the blurred location. About the toxic release layer, there is some issue with their API. We can ignore TRI for now.

[2020-02-19 17:28] nstjean commented on #7381
Ok. I'm making small changes to make everything work properly from 2.2.1. Obviously we're going to have to make another new version of LEL soon to make sure we get the rest of those fixes! But it's looking good on my computer. PLpeople is throwing some errors, but it is mostly working which is lovely!

[2020-02-19 17:35] nstjean commented on #7381
![🎈 Public Lab: Map - Google Chrome_062](https://user-images.githubusercontent.com/49460529/74858999-3ad96b00-5314-11ea-97da-b7d25e37a598.png)

![FireShot Capture 297 - 🎈 Public Lab_ List - localhost](https://user-images.githubusercontent.com/49460529/74859028-42007900-5314-11ea-9a28-dd6b87ba1ce2.png)

![FireShot Capture 298 - 🎈 Public Lab_ Inline Maps - localhost](https://user-images.githubuserco

[2020-02-19 18:46] nstjean commented on #7397
This is all fixed with LEL updated!

[2020-02-19 18:46] #7397 closed

[2020-02-19 19:15] Ruben80 commented on #7487
Can I help with this issue?

[2020-02-19 19:35] nstjean commented on #7513
@NitinBhasneria I have not heard back so go ahead.

[2020-02-19 20:12] #7359 closed

[2020-02-19 20:24] keshavsethi commented on #7530
Here Asked and Answered buttons are not working as well thatswhy answered questions are not rendered on clicking thus that div  remain empty and it shows two pagination as shown below
![Screenshot from 2020-02-20 01-52-47](https://user-images.githubusercontent.com/36025262/74872728-d3f39a80-5383-11ea-96d6-bed98218806b.png)
@cesswairimu @SidharthBansal @VladimirMikulic @nstjean can you please revie

[2020-02-19 20:29] VladimirMikulic commented on #7530
This is in fact an issue. @neelesh17 you can take this if that's fine by @keshavsethi.

[2020-02-19 20:32] cesswairimu commented on #7530
Great catch. Thanks

[2020-02-19 20:33] keshavsethi opened #7543 "popover stays on screen after clicking spam"
In some tag link like  https://publiclab.org/questions/tag/air-quality
on clicking on spam button a popover appears which stays there even after clicking. It gets removed only after scrolling as shown
![Screenshot from 2020-02-20 01-58-29](https://user-images.githubusercontent.com/36025262/74873332-0225aa00-5385-11ea-9c6f-824741f6fb3f.png)

Thanks

[2020-02-19 20:45] keshavsethi opened #7544 "Editor toolbox sticking at footer"
In https://publiclab.org/post?tags=newsletter

On Scrolling down toolbox of editor sticks at bottom  of footer as shown
![Screenshot from 2020-02-20 02-11-05](https://user-images.githubusercontent.com/36025262/74874325-cab7fd00-5386-11ea-82b0-8ff930850e17.png)
@cesswairimu @VladimirMikulic @nstjean Please review
Thanks!!

[2020-02-19 20:49] keshavsethi commented on #7530
@VladimirMikulic actually I was working on this but if @neelesh17 has started this then it is fine :)

[2020-02-19 20:49] StlMaris123 commented on #7360
This year, I will commit my time to mentor the interns

[2020-02-19 20:50] VladimirMikulic commented on #7544
Fixed in https://github.com/publiclab/PublicLab.Editor/pull/395

[2020-02-19 20:50] #7544 closed

[2020-02-20 16:16] AyanChoudhary opened #7548 "Horizontal Scroll on HomePage"
A horizontal scroll appears on the home screen which is likely a UI error. The horizontal scroll should not have been there.
https://publiclab.org/
![Screenshot from 2020-02-20 21-40-28](https://user-images.githubusercontent.com/45792768/74955162-3b642580-542a-11ea-9f1a-61925f7ac8c4.png)

I would like to work on this

[2020-02-20 16:37] publiclab-mimi opened #7549 "Website Login not Working on Mobile"
### Please describe the problem (or idea)

When trying to login (on apple devices for sure, haven't tried on a different phone) the login dialog box opens, but when you type in your UN & PW then press login nothing happens. The screen refreshes and brings you back to the dialog box. There isn't a message and if you close the box you are not logged in.

I expected to be able to log in

### Please s

[2020-02-20 16:47] AyanChoudhary commented on #7549
Can I take this up?

[2020-02-20 17:04] AyanChoudhary commented on #7549
I checked this issue, but everything is working fine in my local installation.

[2020-02-20 17:05] publiclab-mimi commented on #7549
What cell phone are you on and what operating system? I'm a few days into this issue and had four students with issues on phones as well, maybe it's a browser compatibility thing? But I think I've logged onto the website on my cell phone before.

[2020-02-20 17:05] AyanChoudhary commented on #7505
@keshav234156 Are you still working on this? If not can I take this?

[2020-02-20 17:17] AyanChoudhary commented on #7549
I am on chrome on iPhone 6/7/8 as the testing screen for my local installation. I guess you are running into some API fault in which the app is not able to confirm your login and thus is redirecting you to the login dialog box.

[2020-02-20 17:17] AyanChoudhary commented on #7549
I would like to look into this if you can share some more details.

[2020-02-20 17:26] AyanChoudhary opened #7551 "Implement Masonry to display question cards"
**Please describe the desired behavior.**
Describe the solution you'd like.

The present display of cards does not make efficient use of the screen space and looks quite unappealing, with random spaces between rows.

![Screenshot from 2020-02-20 22-51-50](https://user-images.githubusercontent.com/45792768/74961319-e3cab780-5433-11ea-8cda-8b4b0a8df0c8.png)

To improve this we can use the masonry pa

[2020-02-20 17:27] AyanChoudhary commented on #7551
@nstjean @cesswairimu can you review this issue, please?

[2020-02-20 17:30] publiclab-mimi commented on #7549
I’m on an iPhone X, I’ve screenshotted some details, dropping below:

![B1E80017-C7DA-4C67-A4D9-E6DEA338835F](https://user-images.githubusercontent.com/48802639/74961770-37a5b400-53d4-11ea-9bfe-20987094b6a0.jpeg)

Students I don’t have phone access for, but one on an iPhone 8 and others on iPhone X. I can see about making a screen recording.

[2020-02-20 17:45] AyanChoudhary opened #7552 "Login Dialog in Mobile View"
### Please describe the problem (or idea)

The position of the login dialog box in the mobile view is wrongly configured.

On trying to login through a mobile view the dialog box opens out of position.

The dialog was exected to be in the center but has a wrong positioning.

![Screenshot from 2020-02-20 23-09-42](https://user-images.githubusercontent.com/45792768/74962880-c21eff80-5436-11ea-8e14-6

[2020-02-20 17:45] AyanChoudhary commented on #7552
@nstjean @cesswairimu please review this issue.

[2020-02-20 17:57] Ruben80 commented on #7538
Can I help with this issue?

[2020-02-20 18:09] Ruben80 commented on #7537
Hi, can I help?

[2020-02-20 22:24] dburugupalli commented on #7537
Hi, can i help with this issue ?

[2020-02-21 00:43] dburugupalli commented on #7506
Hi, I have raised a PR for the same. @sssash18 can you review it ?

[2020-02-21 06:31] crisner commented on #7432
Adding this here to include to the list of priority tasks.
- Show a "didn't load" broken icon next to a layer if it fails to fetch data [#410](https://github.com/publiclab/leaflet-environmental-layers/issues/410)

[2020-02-21 09:06] SidharthBansal commented on #7360
This year PL is under DIAL for GSoC so our priority will be towards the idea-list. However, we are open to ML and React too. Both of these domains will take more time than summer for completion, I guess

 @sssash18  I liked your ideas. Please start with the proposal

[2020-02-21 09:15] SidharthBansal commented on #7485
Great

[2020-02-21 09:21] SidharthBansal commented on #4120
Sure

[2020-02-21 09:22] SidharthBansal commented on #7334
Go ahead

[2020-02-21 09:22] SidharthBansal commented on #6871
Great

On Wed, Feb 12, 2020 at 11:36 AM kush aggarwal <notifications@github.com>
wrote:

[2020-02-21 09:24] Tlazypanda commented on #7360
@SidharthBansal is publiclab going to participate in the summer round of Outreachy I can't seem to find the project on their website?

[2020-02-21 09:27] #7423 closed

[2020-02-21 09:28] SidharthBansal commented on #7360
Please ping Emily and Jeff. I have not received emails for GSoC nor
Outreachy for 2 months.
Thanks

On Fri, Feb 21, 2020 at 2:54 PM Sneha Mishra <notifications@github.com>
wrote:

[2020-02-21 09:31] Tlazypanda commented on #7360
@emilyashley @jywarren  is publiclab going to participate in the summer round of Outreachy I can't seem to find the project on their website?

[2020-02-21 11:02] sssash18 commented on #7360
Thanks @SidharthBansal for your approval. I will post the proposal soon.

[2020-02-21 14:44] crisner commented on #7432
### PRs ready for review/merge:
- Combine layer metadata into a single file PR[#385](https://github.com/publiclab/leaflet-environmental-layers/pull/385)
- Improve test timings in current cypress tests PR[#412](https://github.com/publiclab/leaflet-environmental-layers/pull/412)
- Improve layer menu's filtering and layer displaying features PR[#409](https://github.com/publiclab/leaflet-environmental

[2020-02-21 16:24] rexagod commented on #7360
@SidharthBansal If I haven't missed the deadline, I'd love to mentor for Editor fortification! I think I qualify the criteria and also certainly have a good insight into this one from back in the day when Jeff and I used to debug the code there. Thanks!

[2020-02-21 16:33] nstjean opened #7556 "Research why loading nearbyPeople Srch API is so slow to load"
In our maps we are now loading data from `https://publiclab.org/api/srch/nearbyPeople?nwlat=10.0&selat=0.0&nwlng=0.0&selng=10.0`
This code is located here: https://github.com/publiclab/plots2/blob/master/app/api/srch/search.rb#L333

Accessing this API takes a lot longer than it should. For example, it takes 19.43s to load:

![FireShot Capture 304 - API Tester - apitester com](https://user-images.g

[2020-02-21 16:34] nstjean commented on #7556
I suspect that we are going to have to use less search params in order to get the speeds we want. The problem is I'm not sure how we can test those params without pushing and merging the changes to the live site, and that's going to be a really slow iteration. Anyone want to look into this?

[2020-02-21 17:12] dburugupalli commented on #7556
@nstjean i could like to try this one. I think the issue could be because of the greater number of params located. Due to which, it takes a larger amount of time to load and process the data.

[2020-02-21 17:16] nstjean commented on #7556
@dburugupalli Go for it!

[2020-02-21 19:44] nstjean commented on #7552
I thought I saw this issue before, but I can't find any mention of it. Maybe this here: https://github.com/publiclab/plots2/issues/7482

You can look into what the problem is. It does need to be fixed!

[2020-02-21 21:14] nstjean commented on #7432
PR Ready for review/merge: https://github.com/publiclab/plots2/pull/7545
@cesswairimu @SidharthBansal

[2020-02-21 21:35] nstjean commented on #7551
I think it would be really nice to have equal borders around the boxes. Is masonry a rails package?

[2020-02-22 07:56] #7381 closed

[2020-02-22 08:51] fluffypanda47 commented on #7537
Hi, can I help ?

[2020-02-22 08:53] fluffypanda47 commented on #7494
Hi can i help?

[2020-02-22 15:30] sagarpreet-chadha commented on #7432
Hey, i have reviewed the above PR's :)

@crisner , can you point me to the PR where you have integrated the cypress. Thanks!!!
Just a heads up -> I am planning to work on integrating Cucumber tests to cypress soon. This will make LEL more awesome 😄

[2020-02-22 15:32] sagarpreet-chadha commented on #7556
Yes we need to decrease the time taken by that query. Thanks!

[2020-02-22 16:30] crisner commented on #7432
Thanks!!

Awesome! Can't wait! 🎉 😄

This is the PR where I set up Cypress [#400](https://github.com/publiclab/leaflet-environmental-layers/pull/400) and this is the PR where I set cypress up with Travis CI [#403](https://github.com/publiclab/leaflet-environmental-layers/pull/403)

[2020-02-22 19:20] sssash18 opened #7557 "Change t to translation in _dashboard.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-22 19:22] sssash18 opened #7558 "Change t to translation in _events.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-22 19:22] sssash18 commented on #7494
@fluffypanda47  Actually a PR is already linked to this issue. Do try #7557

[2020-02-23 05:46] sagarpreet-chadha commented on #7360
I will also participate as mentor this year 🎈

[2020-02-23 15:45] AyanChoudhary commented on #7551
Yes masonry comes as a Rails package as well

[2020-02-23 20:14] sssash18 commented on #7360
@SidharthBansal @jywarren
Will it be fine if I include accessibility testing by axe-matchers gem using RSpec as part of my GSoC project on Site wide accessibility?

[2020-02-23 23:10] Lucyferos commented on #7558
Hello I would like to help with this issue but I don't really know what should I do. Can you give me some instructions?

[2020-02-24 02:53] SidharthBansal commented on #7360
Subhash I think it will be fine.
Thanks all for your support

On Mon, 24 Feb 2020, 1:44 am Suyash Choudhary, <notifications@github.com>
wrote:

[2020-02-24 06:58] #7537 closed

[2020-02-24 07:00] #7493 closed

[2020-02-24 07:00] #7524 closed

[2020-02-24 07:01] #7494 closed

[2020-02-24 07:05] SidharthBansal commented on #7408
@Uzay-G

[2020-02-24 07:08] SidharthBansal commented on #7552
@cesswairimu is it same as #7448?
If so then let's close this

[2020-02-24 07:10] SidharthBansal commented on #7549
@AyanChoudhary how are you logging in ?
through fb/google/twitter/github or login form?
do you have an existing account?
are you logging in through publiclab.org or any other website ?

[2020-02-24 07:12] AyanChoudhary commented on #7549
I was logging in the development environment through the login form.

[2020-02-24 07:21] SidharthBansal commented on #7360
**SOC mentors are requested to fill https://docs.google.com/forms/d/1OFjj_2d4BnntXEy6bddWoKNOeBqvnJCLeGwOFORajZI/edit before 30th March 2020**

[2020-02-24 07:34] SidharthBansal commented on #7549
how did you set up development environment on your phone?

On Mon, Feb 24, 2020 at 12:42 PM Ayan Choudhary <notifications@github.com>
wrote:

[2020-02-24 11:19] sssash18 commented on #7558
@Lucyferos You can do this issue , just make a new PR with code changes in the file linked in the issue.Thanks

[2020-02-24 13:26] AyanChoudhary commented on #7549
I did not set it up on my phone. I configured my browser to work in mobile mode.

[2020-02-24 14:12] nstjean commented on #7551
Very neat!

[2020-02-24 15:13] saurabhkanswal commented on #7360
hey @sagarpreet-chadha any update on the idea https://publiclab.org/wiki/gsoc-ideas#Leaflet+Environmental+Layers+(LEL):+time+slider+UI
thanks:)

[2020-02-24 18:47] micaelagimenez commented on #7558
Hello, I'd like to contribute to this issue.

[2020-02-24 22:20] nstjean opened #7561 "Questions don't show a sidebar map when they have a location"
If you look at a note here you'll see that it has a sidebar map:
https://stable.publiclab.org/notes/warren/07-09-2018/test

![FireShot Capture 311 - 🎈 Public Lab_ Test - stable publiclab org](https://user-images.githubusercontent.com/49460529/75196351-c8102b80-5729-11ea-9629-04dd09ca0c5a.png)

But when a question has a location it doesn't show anything:
https://stable.publiclab.org/questions/gretc

[2020-02-25 10:38] SidharthBansal commented on #7549
ok.
what is the problem?

On Mon, Feb 24, 2020 at 6:56 PM Ayan Choudhary <notifications@github.com>
wrote:

[2020-02-25 14:47] steviepubliclab commented on #7498
Great!   Sounds good.

[2020-02-25 15:10] sagarpreet-chadha commented on #7360
Hey,
Yes let me contact @emilyashley and discuss this. Thanks for the patience :smile:

[2020-02-25 18:56] nstjean commented on #7432
PR ready for review/merge in LBLD: https://github.com/publiclab/leaflet-blurred-location-display/pull/96

PR ready for review/merge in LEL: https://github.com/publiclab/leaflet-environmental-layers/pull/401

@cesswairimu @sagarpreet-chadha @SidharthBansal

[2020-02-25 20:33] cesswairimu commented on #7552
oh yeah its the same... @AyanChoudhary seems like we resolved this in the above issue and PR mentioned above in the last two comments.
Thanks everyone and closing this

[2020-02-25 20:33] #7552 closed

[2020-02-25 20:35] cesswairimu commented on #7551
mmh I am not so sure about this...I will flag this as a discussion issue and we can ping Jeff when he comes back. Thanks

[2020-02-25 20:36] cesswairimu commented on #7551
Also pinging @publiclab/designers

[2020-02-26 04:43] skilfullycurled commented on #6962
Hi, just wanted to notify everyone that I tried out the interface and it was actually very speedy, in the order of seconds.  The user I was looking up only signed on a few weeks ago, and it's almost midnight EST, but still, it was nice to know the site won't implode for the most frequent use case.

[2020-02-26 17:07] Uzay-G commented on #7408
@SidharthBansal should I create issues labeled `gci-candidate`?

[2020-02-26 18:05] sssash18 opened #7563 "Change t to translation in _range.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-26 22:33] Digiox commented on #7563
Hey, I claim this issue ! :)

[2020-02-27 04:06] sagarpreet-chadha commented on #7432
I will review today. Thanks

[2020-02-27 07:40] Tlazypanda opened #7565 "Padding is not right in notes page"
# Please describe the problem (or idea)
When we switch the view in notes page,the padding is not right.

![image5](https://user-images.githubusercontent.com/33183263/75422121-dc3e6d80-5961-11ea-8526-31af1d440d4d.png)

### Please show us where to look

/notes/recent

## Thank you!