[2019-03-30 17:05] btbonval commented on #28
I don't remember opening this. It looks like I missed about 4 years of notifications. I'm only seeing these comments after getting a notification it was closed.

Fascinating.

[2019-03-30 17:17] Zengirl2 commented on #4660
@SKashyapD Where can I view the work on the Zooniverse project (besides the screen grab earlier)? Would I have received an invite? Also, I think if I remember correctly Zooniverse can include our project on Zooniverse (rather than just a public project)--that's how you get a lot of action on it. Have you decided which way you are going to categorize it?

[2019-03-30 17:29] Zengirl2 commented on #4660
@SKashyapD I sent a note to my contacts at Zooniverse letting them know you are working on a project. Also, my user name on Zooniverse is @Zengirl2 as well. :)

[2019-03-30 17:33] Priyak5 commented on #4963
@gauravano I am applying for the Outreachy internship, can you help me with the column where it says "Outreachy internship project timeline".
The description says to discuss it with the mentor.
Thank You!

[2019-03-30 17:55] jywarren commented on #4660
I think I sent you an invite, @zengirl2!

On Sat, Mar 30, 2019, 1:30 PM Leslie Birch <notifications@github.com> wrote:

[2019-03-30 19:02] SKashyapD commented on #4660
@jywarren I have sent you my summer of code proposal on your email and I want to hear your feedback.
Since we are pressed for time.

thank you.

[2019-03-30 19:06] gauravano commented on #4963
That's awesome @sashadev-sky!

[2019-03-30 19:08] gauravano commented on #4963
Hey @Priyak5, please post your proposal at publiclab.org, see https://publiclab.org/notes/gauravano/03-12-2019/call-for-outreachy-2019-proposals for reference. You can start a timeline there and I or maybe another Outreachy mentor will chime-in with suggestions. Thanks!

[2019-03-30 19:11] gautamig54 opened #5312 "Confusion between star and like buttons"
There are different options to star and like(which requires facebook login) a note or a wiki. On hovering the star button, it shows a message saying "like to get updates".
Also, on the profile's page there is a tab for "Liked" posts which actually refers to the starred post.
I would suggest to differentiate both these operations. The like(facebook) button can remain as it is and we can star any po

[2019-03-30 19:12] gautamig54 commented on #5312
@gauravano Kindly review this issue. Thanks!!

[2019-03-30 19:16] Mridul97 commented on #4585
Hi @jywarren ,

I would like to be a mentor with public lab for GSoC. I have completed all the requirements.

Thank you!

[2019-03-30 19:34] SKashyapD commented on #4660
@Zengirl2 to edit the project you can go through this [link](https://www.zooniverse.org/lab/8623l) too.
what are the criteria to get selected as zooniverse project?
which type of categorization you are talking about? categorization of dataset?

[2019-03-30 20:14] IshaGupta18 opened #5313 "Removing Like condition from multi-tag subscribe button"
Just a little change to #5246 .
Removing the condition whether the user has liked a node or not and displaying the multi-tag subscribe button irrespective of this.

[2019-03-30 20:52] gautamig54 opened #5315 "Break lines under the "Dashboard""
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-03-30 20:53] gautamig54 commented on #5315
@gauravano kindly review this issue and if acceptable, label it as FTO. Thanks!!!

[2019-03-30 21:17] ananyaarun commented on #5315
@gautamig54 refer to https://github.com/publiclab/plots2/issues/4977
There is an issue for this and a PR currently, but since this is a change in UI design and the dashboard will be redesigned soon it was put on hold :)

[2019-03-30 21:19] gautamig54 commented on #5315
Oh! okay. Thanks @ananyaarun

[2019-03-30 21:19] #5315 closed

[2019-03-30 23:06] jywarren commented on #4782
I think we should be good to merge this, since it only affects admin emails. We can try it out before reapplying this to other email systems. I've opened a new issue to repeat this process in other parts of the codebase:

https://github.com/publiclab/plots2/issues/5311

[2019-03-30 23:06] #4782 closed

[2019-03-30 23:26] Zengirl2 commented on #4660
@jywarren and @SKashyapD - when I log into Zooniverse it is not showing that I'm connected to any projects. Jeff, I remember seeing where you said you were going to invite me, but I don't remember getting any email about it. Can you see what name you used to add me?

@SKashyapD what I was talking about as far as whether this is a Zooniverse project or private project is listed under [lab policies]

[2019-03-30 23:28] stoic-plus commented on #4963
Hello, I am a ruby / rails developer (intermediate in JS as well) - looking for a FTO issue. Please let me know how I can help!

[2019-03-31 02:18] mahmodHammad commented on #5289
i cant find this divs at app/views/wiki/show.html.erb ! any hint?
![fq](https://user-images.githubusercontent.com/41790090/55283840-dc0daa80-536b-11e9-8eac-f2b7cab44621.PNG)

[2019-03-31 02:22] mahmodHammad commented on #5289
https://github.com/publiclab/plots2/blob/master/app/views/wiki/show.html.erb

is this  the right file?

[2019-03-31 02:56] jywarren opened #5316 "Brainstorm a list of critical full-stack system tests we should add"
Once https://github.com/publiclab/plots2/pull/4888 is merged (done!), we'll have system tests running in Travis! This means we can test a full running application on each PR, including javascript, ruby, and everything. We've had some recurring and difficult-to-test issues come up over the past few years, and this is a chance to monitor those delicate and highly integrated scenarios with tests!

He

[2019-03-31 03:00] #5179 closed

[2019-03-31 03:03] #3683 closed

[2019-03-31 03:45] jywarren commented on #2209
This was solved!

[2019-03-31 03:45] #2209 closed

[2019-03-31 03:46] #5132 closed

[2019-03-31 03:48] #4937 closed

[2019-03-31 03:50] #5174 closed

[2019-03-31 03:52] #5296 closed

[2019-03-31 06:17] Priyak5 commented on #4963
@gauravano I have drafted my initial proposal in the link you provided. Can you please review it ?
Thank you.

[2019-03-31 07:39] gauravano commented on #5297
Hey @divyabaid16, we can discuss on adding that to note page also, but let's first resolve the bug. Thanks!

[2019-03-31 07:49] gauravano commented on #5303
But, in the snippet added by you @jywarren, we are changing the status back to normal and that's how it's working locally.

[2019-03-31 07:52] gauravano commented on #5286
How about writing a research note?

[2019-03-31 08:04] gauravano commented on #5123
yes, it's ready @jywarren for copying in.

[2019-03-31 08:05] gauravano commented on #5308
Great!

[2019-03-31 08:24] gauravano opened #5317 "Wiki index ordering"
Our wiki page (https://publiclab.org/wiki) has various sorting options but not all of them work well. So, we need help with fixing this page.

Also, I think we can do some fix to the design of the page too, not major changes but some minor fixes like controlling width. etc so the column headings don
t take another row.

![Screenshot from 2019-03-31 13-42-00](https://user-images.githubusercontent.c

[2019-03-31 08:24] gauravano commented on #259
Ok, closing this one as I have reopened the issue at https://github.com/publiclab/plots2/issues/5317. Thanks!

[2019-03-31 08:24] #259 closed

[2019-03-31 08:28] gauravano commented on #5042
Ah, I knew it was wiki  - https://github.com/publiclab/plots2/issues/5042#issuecomment-472525598 but wrote feature mistakenly :see_no_evil: . Making changes in **wiki**

[2019-03-31 08:41] gauravano commented on #5042
Ok, I changed the page. here's new look https://publiclab.org/lists

![Screenshot from 2019-03-31 14-09-06](https://user-images.githubusercontent.com/20878070/55286825-91694e00-53be-11e9-893a-97a503e8bd22.png)

Thanks @divyabaid16 :100: for changes! Also, @jywarren @divyabaid16 please check the page once just to be sure that we haven't breaked anything there as its one of the important wiki page.

[2019-03-31 08:41] #5042 closed

[2019-03-31 08:42] gauravano commented on #5275
Nice idea @divyabaid16!

[2019-03-31 08:44] gauravano commented on #5275
Actually, @jywarren's referred wiki looks complete help page in itself. So, I think we can just add a link to that wiki with the text help on our website?

[2019-03-31 08:52] gauravano commented on #326
Yes, that makes sense. As we would be showing this feature alert only when `alert` tag and alert body exists as feature. So, by which name should we check in the features list for such alerts? Something like `alert-[nodeid]`?

[2019-03-31 09:24] GettyOrawo commented on #5229
Hello guys. Sorry I've been relatively passive on this issue. Was wondering what could be causing this. Thanks @jywarren  and @ViditChitkara would love to see the PR for this and how you solve it or maybe work with you and learn from it. :slightly_smiling_face:

[2019-03-31 09:48] GettyOrawo commented on #5317
Hey @gauravano . Need help with this? I'm available to help

[2019-03-31 11:06] gauravano commented on #5312
I think we can use "starring" and "liking" interchangeably. But, it would be better to ask who spend the most time on website like @publiclab/community-reps

[2019-03-31 11:17] gauravano commented on #5289
Hey @mahmodHammad, yes the file you mentioned is the right one and that't the file mentioned in the issue description too.

See around https://github.com/publiclab/plots2/blob/master/app/views/wiki/show.html.erb#L76-L78

[2019-03-31 11:20] gauravano commented on #5316
This seems awesome @jywarren! I will go through the ruby on rails guide first as I haven't written any system test till now :see_no_evil:

[2019-03-31 11:34] gauravano commented on #4963
hey @stoic-plus, I have added your name to the above list and we'll mention you soon on an FTO issue. Thanks!

[2019-03-31 11:42] gauravano commented on #4963
@Priyak5 will see your proposal in some hours. Thanks :+1:

[2019-03-31 11:43] gauravano commented on #5317
That would be great @GettyOrawo!

[2019-03-31 11:45] #5313 closed

[2019-03-31 12:20] jywarren commented on #326
Well we could make it be the name of the feature, no? Then it'd be more
readable. Thanks!

On Sun, Mar 31, 2019, 4:53 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-31 12:20] jywarren commented on #5286
Sounds great!!!

On Sun, Mar 31, 2019, 3:53 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-31 13:01] starcruizer commented on #4963
Hello, I am looking for a first timer only issues. Can someone assign an issue to me as well? Preferably in HTML

[2019-03-31 13:26] GettyOrawo opened #5318 "edit comment text-box to contain text to be edited"
This is a little refactor to the comment section.

On clicking the edit icon as shown in the GIF below, it would be right for the edit text-box to contain text that is to be edited rather than have an empty text box as though creating a new comment.

The placeholder text is also a bit misleading, seems that placeholder text belongs to 'reply to this comment' text-box.

![edit-bug](https://user-ima

[2019-03-31 13:29] GettyOrawo commented on #5318
I've realised that if we reload the page, then it works okay... but on the first edit it doesn't.

![edit-okay](https://user-images.githubusercontent.com/17080976/55289674-10b44d00-53d2-11e9-8515-b734a7ceb0bd.gif)

[2019-03-31 14:16] GettyOrawo commented on #5317
:smile:  Alright, on it. I'll update on my progress,

[2019-03-31 14:53] ananyaarun commented on #5318
@GettyOrawo , Update the issue template to follow this
https://github.com/publiclab/plots2/blob/master/.github/first-timers-issue-template.md
Its just easier for newcomers to follow and get started :)

[2019-03-31 15:29] namangupta01 commented on #5263
Already opened in issue #5199 and fixed in #5238.

[2019-03-31 15:29] #5263 closed

[2019-03-31 16:01] #5272 closed

[2019-03-31 16:07] #5019 closed

[2019-03-31 16:10] starcruizer commented on #5059
hey  @gauravano can you please add my name to the - #4963 list and can ping me when a new issue is opened?

[2019-03-31 17:15] jywarren commented on #5316
😄

Example test:

[code]

[2019-03-31 19:02] ananyaarun commented on #5317
@gauravano , there is something wrong with the ordering of notes and wikis as pointed out.
I found these bugs too https://github.com/publiclab/plots2/issues/5170
https://github.com/publiclab/plots2/issues/5076
and while fixing them i observed some inconsistencies in their codes especially wrt acs and desc order for both wikis and notes. It seems to work the reverse way of what is expected.
Here is

[2019-03-31 20:30] dinaelhanan commented on #5308
@jywarren just checking if I have this right: we want to make the activities shortcode to display the activity button, link, and note below it that you linked the code snippet to. Should I do this by adding a return that includes the activity button, link, and note below it or do I have to use `output +=
'<p><a href='/post?tags=activity:<%= tagname %>,<%= tagname %>,seeks:replications&title=How%20

[2019-03-31 20:43] Alecg956 commented on #4963
Hello, I am a computer science student at the University of Michigan looking to make a few open source contributions for a class project.  I would be interested in being added to the list, but I was curious if anyone could chime on if this would be doable in a two week time frame?

[2019-04-01 01:09] kylebess9 commented on #5318
I'd like to try and give this a try. Can I give it a shot?

[2019-04-01 03:39] divyabaid16 commented on #5311
Can I work on this?

[2019-04-01 04:40] namangupta01 commented on #5311
Go ahead

On Mon, 1 Apr 2019, 09:09 Divya Baid, <notifications@github.com> wrote:

[2019-04-01 07:01] GettyOrawo commented on #5318
Thanks @ananyaarun . I have updated it. Is that better?

[2019-04-01 07:17] GettyOrawo opened #5325 "setup bulma for plots2"
Bulma is a CSS framework that requires the least CSS code. I work with bulma a lot and most of its styling is done through the multiple classes that are predefined by the framework. I feel it'll be a really good idea to intergrate it. What do you guys think? @jywarren , @gauravano , @IshaGupta18 , @ananyaarun , @cesswairimu and anyone else?

[2019-04-01 07:18] GettyOrawo commented on #5325
[bulma.io](https://bulma.io/)

[2019-04-01 08:11] ananyaarun commented on #5318
Yes !! Thanks a lot :)

[2019-04-01 08:16] ananyaarun commented on #5325
Wow!! this is the first time i'm coming across this, seems interesting :)
But i think in the next few months we will be building on the Bootstrap 4 UI library to implement new HTML templates within the Ruby on Rails website. (Under the outreachy UI project)

[2019-04-01 08:18] GettyOrawo commented on #5317
@ananyaarun  from the referenced  issues, those were mostly targeting the notes section, specifically code in the ```notes_controller.rb``` but this particular one is for the wikis page https://publiclab.org/wiki  .

[2019-04-01 08:37] GettyOrawo commented on #5317
Then @gauravano I was wondering for the design being enhanced a little, do we actually need the wiki url besides the wiki title yet when you click on the wiki title it takes you to the same url.. maybe we could do away with the url column which will in turn create enough room for the other column titles not to spill to the next line. What do you think?

[2019-04-01 09:14] GettyOrawo commented on #5318
Hey @kylebess9 sure! are you available to work on this? if so feel free to ask for all the help you need.

[2019-04-01 10:11] gauravano opened #5327 "Feature alerts on nodes"
We want to display feature alerts on the nodes, such that:

If a admin add a powertag `alert:featurename` then the feature will be shown as alert on that node.

This can be achieved by:
- [ ] Adding a condition here https://github.com/publiclab/plots2/blob/master/app/views/notes/show.html.erb#L3-L10 for powertag `alert:featurename`.
- [ ] Drop a line about this power tag at https://publiclab.org/w

[2019-04-01 10:13] gauravano commented on #326
Oh, I thought, we want different alert for each node but yeah, using the name is better as we would be using same alert for multiple nodes.

I have created new issue at https://github.com/publiclab/plots2/issues/5327. Closing this now. Thanks!

[2019-04-01 10:13] #326 closed

[2019-04-01 10:22] gauravano commented on #4963
Hi @starcruizer @Alecg956,  added your names to the list :+1: .

@Alecg956 yes, you would be done with your first-contribution in 2 weeks. Also, if you want a little complex issue, then feel free to ask. Thanks!

[2019-04-01 10:24] gauravano commented on #5059
Just added :+1:

[2019-04-01 10:56] starcruizer commented on #5059
Thankyou @gauravano

[2019-04-01 11:12] divyabaid16 commented on #5311
Hi! I had a small confusion. I wanted to know whether I should change it for each controller only?
Or do I need to change the test so that the tests do not fail?

[2019-04-01 12:03] lohitha02 commented on #5230
Is anyone still working on this?

[2019-04-01 12:37] jayshree1602 commented on #4963
Hey! @gauravano I am looking up for a FTO issues. If any, kindly assign it to me. I would be glad to learn more. Thanks!

[2019-04-01 12:55] jayshree1602 commented on #5230
Hey! I would like to work for the issue. Kindly let me know if help needed. Thanks.

[2019-04-01 13:14] Alecg956 commented on #4963
@gauravano A slightly complex issue would be great!  Thanks for the response.

[2019-04-01 13:22] shivam15 commented on #5305
HI I would like to contribute too

[2019-04-01 13:23] shivam15 commented on #5270
is it already done? if not i would like to try it

[2019-04-01 13:33] jayshree1602 commented on #4940
Hey! @gauravano the issues I am finding are mostly claimed, kindly help me out in finding one . Thanks.

[2019-04-01 13:53] jywarren commented on #5101
Hi @sagarpreet-chadha just wondering if this ended up being related to emoji -- i copied in a Sentry error too. If so, could we merge this into #3007 and the related db encoding issues? Thank you!

[2019-04-01 14:02] jywarren commented on #2206
@gauravano, just adding code links to try to narrow this down:

Replace in the wiki controller:

https://github.com/publiclab/plots2/blob/cfb50b99f655ed5d991e987b0a0e2f96ea734b41/app/controllers/wiki_controller.rb#L361-L385

and test:

https://github.com/publiclab/plots2/blob/cfb50b99f655ed5d991e987b0a0e2f96ea734b41/test/functional/wiki_controller_test.rb#L441-L455

`node.replace` in node model (m

[2019-04-01 14:03] jywarren commented on #2206
I think it's running `new_revision` here:

https://github.com/publiclab/plots2/blob/cfb50b99f655ed5d991e987b0a0e2f96ea734b41/app/models/node.rb#L600-L606

but the `vid` should be auto-incrementing...

https://github.com/publiclab/plots2/blob/cfb50b99f655ed5d991e987b0a0e2f96ea734b41/app/models/revision.rb#L3

[2019-04-01 14:06] jywarren commented on #4963
Hi @Alecg956 if you are looking to try catching a bug we're looking at, we could use help on https://github.com/publiclab/plots2/issues/2206 -- but it's not set up as a first-timers-only issue, where we guide each step. Either way - perhaps you could take a FTO and then move on to #2206 if you solve it fast?

Thank you!!!

[2019-04-01 14:09] Alecg956 commented on #4963
Hi @jywarren, for the class we are required to actually write and attempt to submit a PR within the two week period, so I am not sure if that issue will fit (let me know).  For now we will wait for assignment on our first issue, let me know if you can think of any other issues that would work!  Thanks.

[2019-04-01 14:32] jywarren commented on #5317
I think this is a good idea!!

On Mon, Apr 1, 2019 at 4:38 AM GettyOrawo <notifications@github.com> wrote:

[2019-04-01 14:50] jywarren commented on #5042
Heads up to @publiclab/community-reps ! Thanks all, this looks great!

[2019-04-01 14:50] CleverFool77 opened #5333 "Fix the horizontal scrolling"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-04-01 14:51] CleverFool77 commented on #5333
@publiclab/plots2-reviewers Is this issue correct ?

[2019-04-01 14:56] CleverFool77 commented on #5327
Hi @gauravano ,
I'm interested in working on this issue.

[2019-04-01 14:57] CleverFool77 commented on #5327
And can I know what does it mean by showing the alert on `that` node ?

[2019-04-01 15:29] jywarren commented on #5123
Done! Thank you!!!

[2019-04-01 15:29] #5123 closed

[2019-04-01 15:31] CleverFool77 opened #5334 "Information and links in comment is going out of comment card"
## Description
The links are going out of comment card.
Maybe we can fix the no of characters in the card ? and put it inside a container
![Screenshot from 2019-04-01 21-00-06](https://user-images.githubusercontent.com/26685258/55339880-28b6ca00-54c1-11e9-9aa2-e81c8c0070cb.png)

[2019-04-01 15:44] divyabaid16 commented on #5243
Hii!
While looking into this, I tried to change the file [/app/views/users/_photo.html.erb](https://github.com/publiclab/plots2/blob/master/app/views/users/_photo.html.erb).
Here, I have added the ```destroy``` function as the event listen onClick of the button.
Is it something like this:
[code]
I am not sure how to call this function.
I took help from [here](https://github.com/blueimp/jQuery-File

[2019-04-01 16:24] ibnjunaid commented on #5333
@CleverFool77 this issue isn't valid for mobile displays.

[2019-04-01 16:35] gauravano commented on #5123
Icons are looking great on website footer :smile: :100:

On Mon, Apr 1, 2019 at 8:59 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-04-01 16:44] CleverFool77 commented on #5333
@ibnjunaid Can I have some insight regarding this. That How it isn't valid for mobile displays ?
I didn't see to understand. :sweat_smile:

[2019-04-01 16:57] jywarren commented on #5334
We could do "overflow:hidden" in css perhaps?

On Mon, Apr 1, 2019 at 11:31 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-04-01 16:59] jywarren commented on #5243
I think we may need a new route in config/routes.rb to achieve this? Thank
you!

On Mon, Apr 1, 2019 at 11:45 AM Divya Baid <notifications@github.com> wrote:

[2019-04-01 17:00] ibnjunaid commented on #5333
I mean page the issue you are suggesting isn't showing up on my phone. The webpage is smooth there with content not expanding more than the viewport but that your issue is valid on a large screen.

Any idea why this happens ??

[2019-04-01 17:39] AnthoniaOkafor commented on #4963
Can I have another FTO please?

[2019-04-01 17:41] HarshKhandeparkar commented on #4963
Sorry but you can only solve one FTO. If you have solved one, you are no longer a first timer. Congrats you have made your first contribution to PublicLab OSS. You can try solving an issue with the `small` label.
Thanks.

[2019-04-01 17:54] AnthoniaOkafor commented on #4963
Ok. Thank you

[2019-04-01 17:58] jywarren commented on #4963
Hi!!! There are also a lot of issues marked 'fto-candidate' which are small
but haven't been reformatted to be an FTO yet!
https://github.com/publiclab/plots2/labels/fto-candidate

Thank you so much!

On Mon, Apr 1, 2019 at 1:55 PM Anthonia Okafor <notifications@github.com>
wrote:

[2019-04-01 18:08] gauravano commented on #5327
Sure, go ahead!

Suppose, I added tag `alert:hello-world` on my research note, so it should show the feature hello-world in the alert when we open that research note. Clear?

Thanks!

[2019-04-01 18:39] SKashyapD commented on #4660
Please check your email you may have received the respective email, because your username is same in the project @Zengirl2 .

[2019-04-01 18:46] almereyda opened #5336 "Consider upgrading Etherpad Lite with CodiMD"
To have Markdown present all along the textual production chain, it could be interesting to check out https://github.com/codimd/server for a contemporary replacement of Etherpad Lite.

via #314

/cc @gauravano @jywarren

[2019-04-01 18:46] IshaGupta18 commented on #5089
Yes, it does! I am sorry I missed out on your comment here. I'll get on with it ASAP. Thanks!

[2019-04-01 18:52] CleverFool77 commented on #5333
@ibnjunaid Ahhh Now I get it.
Regarding the cause of this -
We can fix the css property for his

[2019-04-01 18:53] CleverFool77 commented on #5334
@jywarren I would like to work upon this issue.
Thankss !!

[2019-04-01 18:55] CleverFool77 commented on #5334
Oh yess.. How come i forgot that . I would like to try this out.

[2019-04-01 19:16] gauravano commented on #5334
Go ahead!

On Tue, Apr 2, 2019 at 12:25 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-04-01 19:20] CleverFool77 opened #5337 "fix distortion in social media pill"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-04-01 20:21] SKashyapD commented on #4660
For categorization of the project @jywarren may tell better about it
do we have enough volunteer for classification task?

[2019-04-01 20:28] jywarren commented on #5334
:-)

On Mon, Apr 1, 2019 at 3:17 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-04-01 20:41] kylebess9 commented on #5318
I am available. I will start working on it today. If I need any help, should I just comment here?

[2019-04-01 20:51] ebarry commented on #4567
oh thanks @gauravano , just retroactively fixed it! 0_0

[2019-04-01 21:01] Zengirl2 commented on #4660
@SKashyapD Hey, just got the email today. Will look at the project tonight when I get home :unicorn:

[2019-04-01 22:20] jywarren opened #5339 "Pagination missing on tag pages"
Unfortunately we must've made a change to the pagination affecting these lines:

https://github.com/publiclab/plots2/blob/cfb50b99f655ed5d991e987b0a0e2f96ea734b41/app/views/notes/_notes.html.erb#L74-L75

There used to be pagination on pages like this:

https://publiclab.org/tag/balloon-mapping/

But it's not showing up! Not sure why -- but we'd really love help solving this one!!!

[2019-04-01 22:48] jywarren commented on #5318
That's perfect, thank you!

On Mon, Apr 1, 2019, 4:41 PM kylebess9 <notifications@github.com> wrote:

[2019-04-01 22:52] jywarren commented on #28
:-) hi Bryan!!!

On Sat, Mar 30, 2019, 1:05 PM Bryan Bonvallet <notifications@github.com>
wrote:

[2019-04-01 22:53] jywarren commented on #4585
Hi all! Thanks so much, and if folks could continue to add their names to
the gsoc-ideas page as well, well have an idea of who would be best paired
with which projects!

🙌🏽🎉

On Sat, Mar 30, 2019, 3:17 PM Mridul97 <notifications@github.com> wrote:

[2019-04-01 23:44] dinaelhanan commented on #5308
@jywarren just checking if I have this right: we want to make the activities shortcode to display the activity button, link, and note below it that you linked the code snippet to. Should I do this by adding a return that includes the activity button, link, and note below it or do I have to use output += '[insert button code that you lined in that first code snippet]' @gauravano thoughts?

[2019-04-02 00:26] first-timers[bot] opened #5340 "Add time and link to email digest header"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-02 00:31] first-timers[bot] opened #5341 "Add link to title in email digest and remove body text"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-02 00:32] jywarren commented on #4732
Making new ones for Markdown and for the date in the title!

https://github.com/publiclab/plots2/issues/5340 and https://github.com/publiclab/plots2/issues/5341 !

[2019-04-02 00:33] jywarren commented on #4963
#5340 and #5341 are for @stoic-plus and @starcruizer!

[2019-04-02 00:33] jywarren commented on #5341
@starcruizer this one is for you!!! 🎉

[2019-04-02 00:33] jywarren commented on #5340
@stoic-plus this one is for you!!! 🎉

[2019-04-02 00:52] jywarren opened #5342 "Tag popovers don't disappear when tags are deleted"
Follow up on #5072 -- when you delete a tag, we need to hide the popover first!

![image](https://user-images.githubusercontent.com/24359/55368461-efca2580-54bf-11e9-8c44-8e5dea70f3ff.png)

I'd love some help with this!

https://github.com/publiclab/plots2/blob/master/app/views/tag/_tagging.html.erb

[2019-04-02 00:53] jywarren commented on #5342
Hi @CleverFool77 would you be interested in taking a look at this? Thank you so much!

[2019-04-02 01:40] jywarren opened #5343 "Emoji reactions are no longer showing authors"
Hi @ViditChitkara -- i noticed this on comments... maybe due to the refactor?

![image](https://user-images.githubusercontent.com/24359/55369907-813c9600-54c6-11e9-9bca-aabf9bbadf4f.png)

I'd love some help getting this fixed! And please don't be discouraged by the bugs here, this was a really big refactor so they're bound to happen 😄

One thing we might do now, is to write a system test for some

[2019-04-02 04:35] atjustbeinghumaid commented on #5341
I'd like to contribute in this issue 🙋‍♂️🙋‍♂️

[2019-04-02 04:41] starcruizer commented on #5341
@atjustbehindhumaid dude I'm already assigned 😅 to the issue.

[2019-04-02 05:04] starcruizer commented on #5341
I'm already assigned for the issue @atjustbeinghumaid . Post your name in #4963 for getting assigned.

[2019-04-02 05:08] ViditChitkara commented on #5343
Hi @jywarren , that's quite odd. I think this might be a specific case where authors are not showing with the emoji. Oh I think I got it, it shows the authors after refreshing. The reason might be, we are dynamically adding the emoji but, associated js.erb doesn't cater for the tooltip which shows the authors. Is that what might be happening?
Also, could you share the link to the comment in the sc

[2019-04-02 07:23] GettyOrawo commented on #5317
It's interesting that the project uses Drupal. What is the main reason for this @jywarren or @gauravano ? I personally haven't worked with Drupal before.

[2019-04-02 07:36] dimpho0101 commented on #4963
Hi Im new here. Im looking for a first time issue. Preferably something in JS. Thanks in advance

[2019-04-02 09:08] GettyOrawo commented on #5317
The PR is up would love your reviews. Thanks.  #5326  :tada:

[2019-04-02 10:00] CleverFool77 commented on #5342
Sure Jeff :)
I'll look into this.

On Tue, 2 Apr 2019, 06:23 Jeffrey Warren <notifications@github.com wrote:

[2019-04-02 10:25] CleverFool77 commented on #5285
Hi @divyabaid16 @jywarren I didn't get notification and hence the delay.
But here it is.
These are some of the bunch of threads where some discussions/designs regarding ui of profile section is going on -
*  https://publiclab.org/notes/lekhidugtal/03-13-2019/ui-wireframe-for-profile-page#comments
* https://github.com/publiclab/plots2/issues/4423
* https://docs.google.com/presentation/d/1TCZoTfuham

[2019-04-02 13:46] jywarren commented on #4585
@jainaman224 just checking, have you gone through the requirements listed above? Thank you so much!

[2019-04-02 14:02] gauravano commented on #5337
Strange, I am not getting this issue.
![Screenshot from 2019-04-02 19-30-31](https://user-images.githubusercontent.com/20878070/55408576-e99a7e80-557d-11e9-8041-1e304754f02f.png)

Browser: Chrome

[2019-04-02 14:14] divyabaid16 opened #5345 "Add title to the first column"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-02 14:14] first-timers[bot] opened #5346 "Refactor answers_controller with simpler user role check"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-02 14:15] gauravano commented on #4963
Hi @dimpho0101, you can start working on https://github.com/publiclab/plots2/issues/5346. Thanks!

[2019-04-02 14:16] gauravano commented on #5346
This issue is created for @dimpho0101. Thanks!

[2019-04-02 14:21] jywarren commented on #5343
ah, ok! yes, so i think we can activate it with `$().tooltip('selector')`
where the selector is something narrow enough to only affect the newly
added HTML? This is in a reply to a comment, i believe on one of the
proposals but perhaps you could find it relatively quickly here?
https://publiclab.org/comments

Thank you!

On Tue, Apr 2, 2019 at 1:08 AM Vidit <notifications@github.com> wrote:

[2019-04-02 14:22] first-timers[bot] opened #5347 "Refactor comment_controller with simpler user login/role check"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-02 14:23] gauravano commented on #4963
Hey @Alecg956, you can work on #5347 . Thanks!

[2019-04-02 14:24] divyabaid16 opened #5348 "[Discussion] Showing a modal on hover on Author's name"
**Description**
Currently, the research note says ``` by divyabaid16  | March 28, 2019 11:26 | 62 views | 6 comments |```
I would like to suggest that upon hover on the author name, a modal showing basic details of the profile must appear.
Similar to what we have in GitHub.

[2019-04-02 14:24] jywarren commented on #5342
thank you!!!

On Tue, Apr 2, 2019 at 6:01 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-04-02 14:24] gauravano commented on #5347
This issue is created for @Alecg956. Thanks!

[2019-04-02 14:30] dimpho0101 commented on #5346
Thank you :) @gauravano  I am starting to work on it now

[2019-04-02 14:35] gauravano commented on #5346
Great :+1:

On Tue, Apr 2, 2019 at 8:00 PM Dimpho Jessica Putu <notifications@github.com>
wrote:

[2019-04-02 15:19] CleverFool77 commented on #5337
I guess it was because of browser zoom issue.
But while going through this, I found this.
This was not present yesterday though.
![Screenshot from 2019-04-02 20-45-53](https://user-images.githubusercontent.com/26685258/55414351-8cf09100-5588-11e9-8268-b34cc2a7ece4.png)

Everything is shifted and aligned to left.

[2019-04-02 15:32] CleverFool77 commented on #5337
Maybe it was because of browser zoom issue. Mine is usually at 110%
but while going through this issue. I found this.
My dashboard seems to load in two way -
Sometimes it's like this -
One -
![Screenshot from 2019-04-02 20-45-53](https://user-images.githubusercontent.com/26685258/55414706-48192a00-5589-11e9-8ec6-360deb125a17.png)

Two -
![ezgif-2-4deee28dacde](https://user-images.githubusercontent

[2019-04-02 18:13] atjustbeinghumaid commented on #4963
Hello!
I am looking to contribute to OSS
Can anyone assign me an issue?
Preferably in C++,Java,HTML,Python,Django
I am novice to moderately skilled
Thanks!

[2019-04-02 18:23] jywarren opened #5352 "Blog redesign next steps and discussion"
We're looking to improve the blog template again with some design inspiration from this WordPress template:

![image](https://user-images.githubusercontent.com/24359/55426342-8cd59e80-5552-11e9-8db9-790e69428668.png)

We'd like to keep it really minimal but want to:

* add a sidebar including recent posts
* show only the first 300px of the post content, with a `Read more` button that toggles the r

[2019-04-02 18:25] jainaman224 commented on #5343
@jywarren @ViditChitkara Can I work on this?

[2019-04-02 19:04] atjustbeinghumaid commented on #5352
Hello!
I am interested in contributing
What needs to be done?

[2019-04-02 19:09] jainaman224 commented on #4585
@jywarren Sorry, I will submit PR this week.

[2019-04-02 19:31] jainaman224 commented on #5181
@jywarren I want to work on this.

[2019-04-02 19:33] IshaGupta18 commented on #5089
@jywarren #5353 is my PR for this issue. Kindly have a look at it. Thanks a lot!

[2019-04-02 19:51] stoic-plus commented on #5340
Thanks so much!

[2019-04-02 19:57] stoic-plus commented on #4963
Quick question, probably wrong place for it, are these tests supposed to be failing?

[code]

This first one has this error

[code]
* I'm curious if this is a gem?

[code]

Everything else is passing. Not sure if these are because of issues on my end or if they are supposed to be failing

[2019-04-02 20:09] Zengirl2 commented on #4660
@SKashyapD I had a chance to look at the project and it is coming along fine. I noticed that when I chose to mark an image, that it did not give me another image once I had completed. Was this because it is not yet live? Or have you not attached a file of images yet? Anyway, here's my comments:

- If this is just a test, it is fine that it is not a full blown Zooniverse project. Just sending the l

[2019-04-02 20:11] madhavsarpal100 commented on #5345
Hii @divyabaid16 , I am new to FOSS community and would like to work on this first-timers-only issue. I really like the concept of DIY environmental investigation at publiclab and would like to contibute to this community in the future. May I work on this issue?

[2019-04-02 20:14] namangupta01 commented on #5345
Hi @madhavsarpal100, go ahead! Let us know if you need any help.

[2019-04-02 20:21] madhavsarpal100 commented on #4585
Hii!!, I would like to be a mentor for Summer of Code 2019. I like the Public Lab  and am looking forward to be a part of this amazing community.

[2019-04-02 20:24] madhavsarpal100 commented on #4585
and also I am working on the requirements for becoming a mentor and would soon meet them.

[2019-04-02 20:25] madhavsarpal100 commented on #5345
Thanks!!

[2019-04-02 22:24] jywarren commented on #4585
Hi everyone! Just to get organized, please if you are planning on being a mentor this year, fill out this form, which also includes dates of unavailability so that we can coordinate, especially in very busy parts of the summer. Thanks to @SidharthBansal for creating the form:

https://docs.google.com/forms/d/e/1FAIpQLSd-4xwxlCdYFGYklds3sTb21LR1nlF5oWJnLA73LZlGyWag3g/viewform

[2019-04-02 22:24] jywarren commented on #4585
And thanks, @jainaman224 and @madhavsarpal100 -- great to hear!

[2019-04-03 01:44] shapironick opened #5354 "comments on questions not editiable despite edit button"
### Please describe the problem (or idea)

I tried to edit this comment because i misspelled the second word.

But it just sent me to a screen where I could @ myself to alert myself of the need to edit??? idk
Here's a gif of what it looked like:

![Can't edit](https://user-images.githubusercontent.com/7503343/55446937-be208f80-558f-11e9-8652-2e3059e339bb.gif)

I expected to see the text of the com

[2019-04-03 03:20] atjustbeinghumaid commented on #5345
Hey!
I've made the reqd changes and made a PR!
Anything more to be done?

[2019-04-03 04:16] CleverFool77 commented on #4730
Sorry, I missed out the mention in this issue. I'll start working soon.
Thankss @gauravano

[2019-04-03 04:22] CleverFool77 commented on #4730
Hi @gauravano
As Mentioned by warren in above comment.
So I need to put a short info and provide the link to code of conduct ?

[2019-04-03 04:38] jainaman224 commented on #5343
After https://github.com/publiclab/plots2/blob/master/app/controllers/comment_controller.rb#L209 adding

[code]

After https://github.com/publiclab/plots2/blob/master/app/views/comments/like_comment.js.erb#L12 adding

[code]

Fixed the issue.

[2019-04-03 05:06] ViditChitkara commented on #5343
@jainaman224 that's really cool!! Could you open a PR for this. Thanks!

[2019-04-03 06:15] CleverFool77 commented on #5352
Let's break this issue into various parts 🤔
And we can have awesome collaboration with all the contributors in this.
😀

[2019-04-03 06:19] IshaGupta18 commented on #5352
yes, I think that would be great!

[2019-04-03 06:20] IshaGupta18 commented on #5352
I could go with the first one if that's okay @jywarren !

[2019-04-03 08:10] GettyOrawo commented on #5354
hey @shapironick this looks like a similar issue to #5318 that's already being worked on. What do you think?

[2019-04-03 08:36] atjustbeinghumaid commented on #5345
Better now?

[2019-04-03 09:35] divyabaid16 commented on #5352
I can go up with the second one!

[2019-04-03 09:49] atjustbeinghumaid commented on #5352
I'll go with anything that makes me learn something new and gets your work done 😃

[2019-04-03 10:41] msarfrazanwar commented on #5162
Has anyone build this project on Windows because after doing some searching I think rvm is not available for windows. @divyabaid16

[2019-04-03 12:33] gauravano commented on #5230
Hey @techchic, are you working on this one? If you need any help, feel free to ask. Thanks!

If @techchic don't reply within 3 days, @lohitha02 feel free to start with this one.

[2019-04-03 12:36] gauravano commented on #5305
hi @shivam15, I can add your name to https://github.com/publiclab/plots2/issues/4963 if you want? Thanks!

[2019-04-03 12:38] gauravano commented on #5270
Hey @sanunes, have you started with this issue? Otherwise, we have to re-assign this one. Thanks!

[2019-04-03 12:39] gauravano commented on #4940
Hey @jayshree1602, you can start with this one as @uimarshall hasn't replied. Thanks!

[2019-04-03 12:40] shapironick commented on #5354
Yes I think your right! also your documentation is waaaaaay better

[2019-04-03 12:55] #5274 closed

[2019-04-03 12:59] gauravano commented on #5336
@jywarren thoughts? This one is quite active. Thanks @almereyda!

[2019-04-03 13:02] gauravano commented on #5333
Hey @CleverFool77 can you also add the code snippet required to solve the issue? Also @ibnjunaid, you can solve this one if interested. Thanks!

[2019-04-03 13:18] shivam15 commented on #5305
sure

[2019-04-03 13:33] gauravano commented on #5348
Hmm, we can do this. I think,it will be good. @jywarren thoughts?

[2019-04-03 13:44] gauravano commented on #5337
@CleverFool77 social media pills are distorted in any of the above cases?

[2019-04-03 13:53] gautamig54 commented on #5312
Sorry for the late reply.  @gauravano should I start a discussion on @publiclab/community-reps regarding the starring and liking issue?

[2019-04-03 13:55] gautamig54 commented on #5286
@gauravano @jywarren I am working on writing a research note suggesting few ideas on how to translate publiclab web pages.

[2019-04-03 14:07] gauravano commented on #5352
Ok. Let's make a checklist.
 - [ ] Create HTML layout and set up a temporary route for the page - @CleverFool77
 - [ ] Listing blogs on the left. Also, design the post similar to the above design. @divyabaid16 and @atjustbeinghumaid

- [ ] List recent posts in the sidebar. Design as above. - @IshaGupta18
- [ ] Show recent tweets of Public Lab in the sidebar.   - @CleverFool77

Add more to the chec

[2019-04-03 14:09] gauravano commented on #5181
Go ahead @jainaman224!

[2019-04-03 14:17] gauravano commented on #4963
Hey @atjustbeinghumaid, added your name to the list. Will mention you soon on a FTO issue. Thanks!

[2019-04-03 14:22] gauravano commented on #4963
Hey @stoic-plus, please mention the PR  where you're getting the errors. In case, you are getting errors locally, then feel free to raise PR, we can see tests status there only.

Thanks!

[2019-04-03 14:35] #5341 closed

[2019-04-03 14:37] gauravano commented on #4730
Yes @CleverFool77. Thanks!

[2019-04-03 16:04] jainaman224 commented on #5181
@jywarren
Url is updated due to https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L140 use of `Time.now` but we are using `node.created_at` as publish time. Which can't be changed.
In Node model there is no publish time. So, how should I approach it?

[2019-04-03 16:25] jainaman224 opened #5360 "Fix notes ordering in recent notes"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-03 16:34] jainaman224 commented on #5360
Order of notes should be descending according to date. It is ascending currently.
![Screenshot 2019-04-03 at 10 02 41 PM](https://user-images.githubusercontent.com/13117482/55496315-613edb00-565c-11e9-9bf5-8f2348ca5251.png)

[2019-04-03 16:41] namangupta01 commented on #5360
Nice catch 🎉 !

[2019-04-03 16:56] sanunes commented on #5270
Please re-assign. Thank you.

[2019-04-03 16:58] CleverFool77 opened #5361 "Form field validation and password visibility"
## Description
While signup and editing the profile, there is need to write the password and confirm it by writing it again.
There is no way to check whether the password written in both of the field is same unless the submit button is pressed.
And while writing in form, we have no way to know that the data we wrote in field is in correct format.

**Instead we can have these two features in passwo

[2019-04-03 16:59] gauravano commented on #5360
@atjustbeinghumaid you can start working on this one. Thanks!

[2019-04-03 16:59] CleverFool77 commented on #5361
@publiclab/plots2-reviewers What's your opinion regarding this issue ?
Can we implement this ?

[2019-04-03 17:01] gauravano commented on #4963
@atjustbeinghumaid here's a issue https://github.com/publiclab/plots2/issues/5360 for you. Created by @jainaman224 :tada:

[2019-04-03 17:01] IshaGupta18 commented on #5361
Yes even I thought of something similar, like to keep a strength checker for passwords. I think these 2 can be integrated?

[2019-04-03 17:02] Alecg956 commented on #4963
@gauravano you can reassign my issue and take me off the list for now, I am actually not able to do any work for the next 2 weeks

[2019-04-03 17:03] gauravano commented on #4963
Sure @Alecg956! Also, let us know, whenever you want to solve an issue with us, we'll be happy to add your name again. Thanks!

[2019-04-03 17:04] shivam15 commented on #5270
can u assign this to me?

[2019-04-03 17:05] CleverFool77 commented on #5352
Thanks for breaking up this issue @gauravano .
I'll begin with first part of this issue. :smiley:

[2019-04-03 17:06] CleverFool77 commented on #5361
yeah, password validation for matching and strength checking

[2019-04-03 17:07] IshaGupta18 commented on #5361
If approved, can we work on this together?

[2019-04-03 17:08] CleverFool77 commented on #5337
No, I didn't came across the distortion after I fixed the zoom issue.
@gauravano .I guess this issue will be closed.

[2019-04-03 17:15] CleverFool77 commented on #5361
Sure :smiley:

[2019-04-03 17:16] jainaman224 commented on #5347
@gauravano Can I take this issue as Alec is busy?

[2019-04-03 17:31] gauravano commented on #5347
Sure, go ahead!

[2019-04-03 17:44] CleverFool77 commented on #4730
Hi @gauravano I made a PR with the changes suggested in comments.

[2019-04-03 17:46] CleverFool77 commented on #5333
Sure @gauravano I'll update it :smiley:

[2019-04-03 17:51] jainaman224 commented on #5347
I think we can refactor at https://github.com/publiclab/plots2/blob/master/app/controllers/comment_controller.rb#L134-L137 as well.

[2019-04-03 20:01] jainaman224 opened #5364 "Add closing bracket at notes partial."
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-03 20:06] jainaman224 opened #5365 "Fix closing tags in header partial."
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-03 22:15] madhavsarpal100 opened #5366 "Another modal pops up while dealing with one modal after hovering on tags"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-03 22:55] madhavsarpal100 commented on #5366
@gauravano , please review this and add first-timers-only ,CSS, javascript label. Thanks!!

[2019-04-03 23:22] sashadev-sky commented on #4963
Hi guys! New FTO up for grabs in the Leaflet.DistortableImage repo: https://github.com/publiclab/Leaflet.DistortableImage/issues/189

(I post these here because it is a smaller repo - so they can be discovered)

[2019-04-04 01:47] shayna34 commented on #4963
Hello! I am new to open source and would love to be added to this list! I'm most comfortable with C++, but I have also used JavaScript (with HTML/CSS) and Python and am willing to learn anything else. Thanks!

[2019-04-04 03:35] sashadev-sky commented on #4963
@shayna34 Hi welcome! I have just added you to the list. I will also make you an FTO in the Leaflet.DistortableImage repo shortly if you want to work on that! It is a JavaScript library

[2019-04-04 03:48] sashadev-sky commented on #4963
@shayna34 ok you can work on this issue https://github.com/publiclab/Leaflet.DistortableImage/issues/190 :)

[2019-04-04 04:40] sashadev-sky commented on #5180
@ananyaarun yes do you want to open this? Maybe to remove the "or" but add some <br> tags or margins or so? I can't take this on now but I would play around with it a little bit and find what looks good before opening an FTO

[2019-04-04 05:25] stephenmasih commented on #4963
Hello, i am looking for first timers issues only. @gauravano Please assign.

[2019-04-04 10:37] mahmodHammad commented on #5289
is my pull request accepted?

[2019-04-04 10:40] gauravano commented on #4963
Hey @stephenmasih, added your name to the above list and we'll mention you soon on a FTO issue. Thanks!

[2019-04-04 11:34] atjustbeinghumaid commented on #5360
Why are the tests failing?
Can anybody help?

[2019-04-04 11:38] ibnjunaid commented on #5333
@CleverFool77 I m waiting for your directions .

[2019-04-04 12:38] jainaman224 commented on #5360
Hey, Just create a PR. It is failing because PR is not created. Have a look at https://travis-ci.com/atjustbeinghumaid/plots2/builds/107054288#L4217.

[2019-04-04 13:49] #5343 closed

[2019-04-04 13:58] gauravano commented on #5345
Hey @divyabaid16, thanks for the awesome FTO.

 Just want to suggest that, it's good either to delete this part or to update the file link and Repo link properly.

[2019-04-04 14:09] gauravano commented on #5162
Hey @msarfrazanwar, you can follow https://gorails.com/setup/windows/10 for setting up rails on your system. Thanks!

[2019-04-04 14:27] gauravano commented on #5354
Hi @shapironick @GettyOrawo, as the issue is already open for this bug, how about closing this issue? Thanks!

[2019-04-04 14:36] #5347 closed

[2019-04-04 15:00] gauravano commented on #5312
Let's wait for some more time. @jywarren will reply soon here. Thanks!

[2019-04-04 15:07] gauravano commented on #5286
Actually, @jywarren found some old pages - https://publiclab.org/wiki/translation. Lol, I found some more - https://publiclab.org/tag/translation

Maybe we can organize and update them a bit and we will be all good to start a campaign?

@jywarren @ebarry

Thanks all!

[2019-04-04 15:41] divyabaid16 commented on #5345
Oh!! My bad.
Thanks @gauravano

[2019-04-04 17:21] jainaman224 commented on #4585
@jywarren
My completed requirements:

1. [Solved first-timers issue](https://github.com/publiclab/plots2/pull/5363)
2. [Solved help-wanted issue](https://github.com/publiclab/plots2/pull/5357)
3. [Created a first-timers issue](https://github.com/publiclab/plots2/issues/5360)

[2019-04-04 17:56] sateslayer commented on #5031
@daddyjab are you still working on this?

[2019-04-04 17:56] #5342 closed

[2019-04-04 17:59] IshaGupta18 commented on #5361
So I believe you have completed it all by yourself!

[2019-04-04 18:00] gauravano commented on #5318
Hey @GettyOrawo, thanks for opening the issue, but we consider first-timers issue one, where we also provide the solution code snippet to the first-timer or that requires basic HTML change.

Could you please add the code which can solve the issue? Thanks!

[2019-04-04 18:17] stephenmasih commented on #4963
Thank you @gauravano for adding me

[2019-04-04 18:18] gauravano commented on #5270
Yes @shivam15, go ahead :+1:

[2019-04-04 18:20] gauravano commented on #5352
Great!

[2019-04-04 18:21] gauravano commented on #5337
Ok. Let's close it for now. If we come across this issue again, then we can investigate the code. How does that sound? Thanks!

[2019-04-04 18:21] #5337 closed

[2019-04-04 18:26] gauravano commented on #4963
@stephenmasih you can work on #5364. Created by @jainaman224 :tada: Thanks!

[2019-04-04 18:28] gauravano commented on #5364
@stephenmasih you can work on this one. Thanks!

[2019-04-04 18:28] stephenmasih commented on #5364
Thank you @gauravano

[2019-04-04 18:35] #5354 closed

[2019-04-04 18:39] gauravano commented on #5361
Nice ideas @CleverFool77 @IshaGupta18. Go ahead! Thanks!

[2019-04-04 18:47] CleverFool77 commented on #5361
@IshaGupta18 I just completed one part for now.

[2019-04-04 18:49] IshaGupta18 commented on #5361
Could you please mention which one, so that I can work on the other one?
Thanks!

On Fri, Apr 5, 2019, 12:17 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-04-04 18:55] CleverFool77 commented on #5361
Hey Isha, the issue itself isn't big enough to divide.
Earlier while creating this issue , I thought that form validation and password matching would be two different parts. But as I explored I realised, they are in the same category using jquery-validation which makes everything easier.
So earlier which was supposed to be two different parts, in end, they become one. :sweat_smile:

[2019-04-04 21:46] #5156 closed

[2019-04-04 21:53] #4730 closed

[2019-04-04 22:31] krmayer commented on #5366
I'm working on this!

[2019-04-05 01:55] kylebess9 commented on #5318
So the issue seems to appear when you post and remain on the page and request to edit the posted comment. The comment box does not seem to remember or pull the original comment. However, when you refresh or return to the page, the edit box works just fine and shows the comment that is to be edited. Can this issue still be solved through the comment controller? I'm new to this project so I'm not 10

[2019-04-05 07:22] Anupam-dagar opened #5373 "Show default profile image in signup form."
Currently a user has a default profile picture if a profile picture is not set but the same default image doesn't show up on signup page, instead a grey circle is shown.
![Screenshot from 2019-04-05 12-51-34](https://user-images.githubusercontent.com/21174572/55611618-ab7ea400-57a3-11e9-866a-936b38453df1.png)

[2019-04-05 07:49] CleverFool77 commented on #5225
Hi everyone,
I seem to miss out the mention in this issue.
Sorry for the delay.
I would like to test this issue out.

[2019-04-05 07:58] CleverFool77 commented on #5225
Hi @jywarren @gauravano ,
I'm working on the issue https://github.com/publiclab/plots2/issues/5361 with PR https://github.com/publiclab/plots2/pull/5368 based on form validation.
That PR adds realtime form-validation and prevents submission of form until each field is valid and hence, prevents losing of data.
I would like to work on realtime username validation check.

[2019-04-05 09:32] Julius26 commented on #4892
Hello..If I publish a draft on public lab I should do the same on Gsoc website as well?

[2019-04-05 10:54] Anupam-dagar commented on #5309
@jywarren It looks fine to me. Can you point out the issue if it persists in the image.
![Screenshot from 2019-04-05 16-23-39](https://user-images.githubusercontent.com/21174572/55622938-39b45380-57bf-11e9-9e77-86cd6bfc8578.png)

[2019-04-05 13:56] CleverFool77 commented on #5333
Hi @ibnjunaid
Today, I'm not getting this issue on my localhost.
So before that , can you try this on your localhost and check if the issue persists.

[2019-04-05 14:36] jywarren commented on #4585
Thanks all!

Just a note - we now have 22 proposals https://publiclab.org/notes/warren/02-28-2019/call-for-summer-of-code-2019-proposals

I could definitely use some help reviewing and providing feedback and input. You can see some good examples of input on the oldest proposals, and it's OK to simply cite/quote some of those sections if you think it's useful for newer proposals. We can also ask pe

[2019-04-05 15:12] CleverFool77 commented on #4966
Hi Is this issue available @gauravano ?

[2019-04-05 15:27] CleverFool77 commented on #5339
Hi @jywarren ,
According to you, what could be the reason this :thinking:

[2019-04-05 16:07] jywarren commented on #5352
You all are awesome!!!! 🎉 🎉 🎉 🎉

we could put the new version at /blog2 for now!!!

[2019-04-05 16:23] CleverFool77 commented on #5361
Hi Isha, the password visibility part is still left.
If you're interested, you can work on it.
Thanks !!

[2019-04-05 16:26] sameersidd commented on #5365
Hello. Is this issue still open? I'd like to fix this

[2019-04-05 16:38] CleverFool77 opened #5378 "traceback of error from server is shown in webpage"
## Description
While working on the issue https://github.com/publiclab/plots2/issues/5327
I found this.
It showed the traceback of error from server on the webpage. And after I refreshed it, the tag was added.
The gif shows the steps to reproduce it -

![ff](https://user-images.githubusercontent.com/26685258/55642796-1dc8a600-57ef-11e9-93f0-33ba3e1b0226.gif)

[2019-04-05 16:39] CleverFool77 commented on #5378
@publiclab/plots2-reviewers What's your opinion regarding this issue ?

[2019-04-05 16:49] dinaelhanan commented on #5352
This is an awesome idea, I had my real look-through public lab last weekend and I was thinking about how slightly overweening it must be for people not familiar with it. This is definitely going to help

[2019-04-05 17:03] jywarren commented on #5378
Ah, i think this is where it's trying to fetch the result of an AJAX
request to add a tag, and displaying the response inline --

https://github.com/publiclab/plots2/blob/master/app/views/tag/_tagging.html.erb

It's supposed to catch errors here, but it seems it's not doing so...
https://github.com/publiclab/plots2/blob/c97968aa6bce38dbb2d66548ee05cae0dc4cdc23/app/assets/javascripts/tagging.js#L63

[2019-04-05 19:36] #5334 closed

[2019-04-05 20:29] atjustbeinghumaid commented on #5360
I have made a PR
Pls check and tell me if I have done it right
Suggestions are always welcome

[2019-04-05 20:32] atjustbeinghumaid commented on #5360
Just realized I made the changes in the master branch
Will create a descriptive branch name and do it again

[2019-04-05 21:10] jywarren commented on #5373
Hi, this is super! Thank you so much! I did want to note to @CleverFool77 that we should get our first-timers-only issues into full format before tagging them as such -- you can read more about the process here! https://publiclab.org/n/13667 Thanks so much to you both! 👍

[2019-04-05 21:11] jywarren commented on #5373
And if you are not quite ready to make it a full first-timers-only issue, you can always use the `fto-candidate` label!

[2019-04-05 21:13] jywarren commented on #5366
Hi, this is super! Thank you so much! I did want to note that we should get our `first-timers-only` issues into full format -- including actual step-by-step code changes -- before tagging them as such -- you can read more about the process here! https://publiclab.org/n/13667 Thanks so much to you both! 👍

And if you are not quite ready to make it a full first-timers-only issue, you can always use

[2019-04-05 21:13] jywarren commented on #5365
Please go ahead, thank you!!!

[2019-04-05 21:22] jywarren commented on #5339
I'm not totally sure... i think it could involve some experimentation with
the @paginated = false logic to try to figure it out, locally!

On Fri, Apr 5, 2019 at 11:28 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-04-05 21:24] jywarren commented on #4892
you can, sure! Or you can wait until the deadline -- just don't miss it!

On Fri, Apr 5, 2019 at 5:33 AM Mutunga <notifications@github.com> wrote:

[2019-04-05 21:26] jywarren commented on #5309
Oh, i reverted it -- you can test it out yourself by adding the button
shortcode to a wiki page, and then you'll see that the whole page is
replaced, not just the button shortcode... does that make sense? Thanks!!!

On Fri, Apr 5, 2019 at 6:55 AM Anupam Dagar <notifications@github.com>
wrote:

[2019-04-05 21:34] #5262 closed

[2019-04-05 21:46] jywarren commented on #5090
https://github.com/publiclab/plots2/pull/5239 complete - now just the card UI!

[2019-04-05 21:50] atjustbeinghumaid commented on #5373
Hello!
I'm interested in contributing!
Please assign me to this issue

[2019-04-05 22:41] jywarren commented on #5348
oh that would be cool!

On Wed, Apr 3, 2019 at 9:34 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-04-06 02:59] divyabaid16 commented on #5348
Can I start implementing it?

[2019-04-06 03:00] divyabaid16 commented on #5090
I will send the PR for this part by today.
Thanks!

[2019-04-06 04:55] sameersidd commented on #5365
Please review the PR

[2019-04-06 05:08] Aarabhi2017 commented on #5364
@gauravano Hi Gaurav, I would like to work on a first timer open issue as a Outreachy intern. Please advise me on how to go about finding one.
Thanks,
Aarabhi

[2019-04-06 06:12] Anupam-dagar opened #5382 "Tooltip for visibility of bar in wiki pages missing."
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-06 08:25] CleverFool77 commented on #5352
Hi @jywarren @gauravano
I'm bit confused regarding the basic html layout for blog2
Do I have to create a dummy layout like this ? or make changes to layout of `blog.html.erb` in `/blog2` route !!

![Screenshot from 2019-04-06 13-52-46](https://user-images.githubusercontent.com/26685258/55666940-42fef800-5873-11e9-8d9a-61aa3e4a2e50.png)

[2019-04-06 10:38] gautamig54 opened #5383 "Close the "Subscribe+" popover by clicking anywhere on the screen"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-04-06 11:23] sashadev-sky commented on #4963
Hi! New FTO available: https://github.com/publiclab/Leaflet.DistortableImage/issues/195

[2019-04-06 13:26] CleverFool77 commented on #5378
Hi @jywarren I would like to. Fix this issue.

[2019-04-06 13:36] divyabaid16 opened #5385 "Add likes in /grids/_wiki.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-06 14:03] dinaelhanan commented on #5308
@jywarren  looking for clarification on my above comment so I can get working on this :)

[2019-04-06 14:12] #5289 closed

[2019-04-06 14:12] gauravano commented on #5289
Yes @mahmodHammad!

[2019-04-06 14:23] #5364 closed

[2019-04-06 14:43] gautamig54 opened #5386 ""more" should be changed to "less" in the tags page"
I think this is the database accessed feature and thus not available in the codebase.
On the tags page, even after clicking on "more" it still remains the same and does not changes to "less".
Also the positioning of "more" once clicked should be after the tags and not in between them.

![Screen Shot 2019-04-06 at 8 05 32 PM](https://user-images.githubusercontent.com/35326753/55670987-609a8480-58a8

[2019-04-06 15:01] gauravano commented on #5318
Hey @kylebess9, the comment addition on page without happens due to AJAX and at that time this script is run https://github.com/publiclab/plots2/blob/master/app/views/comments/create.js.erb so if you inspect the difference between the normal comment which is rendered at the time of page load and this one, you might hit the solution.

Seeing in comment_controller will surely provide you the inside

[2019-04-06 15:04] gauravano commented on #5225
@steviepubliclab @jywarren can you try the signup again and update the status? Thanks!

[2019-04-06 15:09] gauravano commented on #5225
That's great @CleverFool77. Also, if you hit the block while validating captcha, you can refer PR https://github.com/publiclab/plots2/pull/4444/ where @kevinzluo did great work. We were not prepared at that time for that but I think, now we are. Thanks!

[2019-04-06 15:36] jywarren commented on #5386
We could also hide the "more" link, which could be even simpler! Thanks!

On Sat, Apr 6, 2019, 10:44 AM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-06 15:41] jywarren opened #5387 "Make exception for `/` opening search when in a textbox"
Hi @CleverFool77 -- the new `/` feature to open the search box is AWESOME!!!

One funny thing though, i did notice it works when typing a / into a comment box. So maybe we should except text inputs and textareas from this binding? What do you think?

[2019-04-06 15:43] gauravano commented on #5373
Hey @atjustbeinghumaid, this issue has a PR at #5374. But, we would love to have your help with other issues. Are you done with FTO? Thanks!

[2019-04-06 16:07] #5373 closed

[2019-04-06 16:11] gauravano commented on #5333
I am getting this issue!

[2019-04-06 16:20] gauravano commented on #4966
yes @CleverFool77!

[2019-04-06 16:29] gauravano commented on #5360
Hey @atjustbeinghumaid, the above mentioned PR is open at your forked repo, not against publiclab/plots2.

Thanks!

[2019-04-06 17:13] gautamig54 opened #5388 "Reduce the font-weight of the contents in the tags buttons"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-04-06 17:15] gautamig54 commented on #5386
Yes @jywarren we can remove it as well!

[2019-04-06 17:15] CleverFool77 commented on #5387
Ahhhhhh, looks like i missed some cases.
Damn I should have tested this before.
I would push a fix for it.
Thanks @jywarren :smiley:

[2019-04-06 17:35] ananyaarun commented on #5180
@sashadev-sky sure will do it :)

[2019-04-06 17:40] SKashyapD commented on #4660
@Zengirl2 I have fixed that problem now it is working properly. please look up to it again.
1. I will make a tutorial as soon as possible, and I will add more images too.
   Can you provide an exemplary tutorial anything which can help to make the tutorial better?
2. I have done some research during the making of summer of code proposal for why we are doing it, so can I add few things @jywarren?
3

[2019-04-06 17:53] gauravano commented on #5366
Removing FTO label for now and we can add it again when issue provides solution code snippet. Thanks!

[2019-04-06 18:01] gauravano commented on #5348
Yes @divyabaid16!

[2019-04-06 18:06] #5365 closed

[2019-04-06 18:14] gautamig54 commented on #5339
I pulled the recent code and the curly braces for the .content(lines 61-63) was missing due to which the code written after it wasn't working which involves pagination as well.

[2019-04-06 18:14] gauravano commented on #5364
Hi @Aarabhi2017, you can find FTO issues at https://code.publiclab.org/#r=all and if you can't see any unclaimed or unassigned issue, then feel free to comment at   https://github.com/publiclab/plots2/issues/4963 and we'll make one for you.

Isn't Outreachy applications closed? Anyway, we would love to have your help.

Thanks!

[2019-04-06 18:31] #5345 closed

[2019-04-06 18:38] gauravano commented on #5352
I'm bit confused regarding the basic html layout for blog2
Do I have to create a dummy layout like this in blog2.html.erb?

This one!

[2019-04-06 18:43] gauravano commented on #5383
Hey @gautamig54, although the issue is simple so don't require exact code snippet but could you add hint in the issue body? Thanks!

[2019-04-06 18:45] gauravano commented on #5378
Great!

[2019-04-06 18:55] gautamig54 commented on #5352
I would love to contribute to this task.
I'll take up second and the third task. Adding social media links to the sidebar and showing only the first 300px of the post content, with a Read more button that toggles the rest to be visible.

[2019-04-06 19:02] gauravano commented on #5388
Hey @gautamig54, can you make the issue more readable by using the exact template provided at https://github.com/publiclab/plots2/blob/master/.github/first-timers-issue-template.md .Also, please add link where the newcomer can test the changes. Thanks!

[2019-04-06 19:14] gauravano commented on #5386
@gautamig54 you want to solve this one? I can give you code for the feature and you can make the changes and test that by creating feature locally?

Thanks!

[2019-04-06 19:24] gautamig54 commented on #5388
@gauravano I have updated the issue. Thanks!

[2019-04-06 19:25] gautamig54 commented on #5386
@gauravano Sure! I would love to work on this issue. Thanks!

[2019-04-06 20:13] atjustbeinghumaid commented on #5352
I previously assumed that the changes have to be made to the original blog file
Thank you @CleverFool77 for making things clear

[2019-04-06 20:18] divyabaid16 opened #5389 "Search option must not be disabled"
**Description**
Currently, in [https://publiclab.org/settings](https://publiclab.org/settings) the search option at the navbar is disabled.
GIF for the same:
![Peek 2019-04-07 01-47](https://user-images.githubusercontent.com/32747809/55674817-2dbbb500-58d7-11e9-842f-b6499db894e2.gif)

I am not completely sure whether this is done purposely or it is an error.

[2019-04-06 20:37] gautamig54 commented on #5383
@gauravano I have added a hint in the issue body. Thanks!

[2019-04-07 00:12] Isssabel commented on #5385
Hi! I'm currently doing a project for my class which is to contribute to open source projects, and I would like to try and work on this issue. Can I claim this issue?

[2019-04-07 00:15] Isssabel commented on #5383
Hi! I'm currently doing a project for my class which is to contribute to open source projects, and I would like to try and work on this issue. Can I claim this issue?

[2019-04-07 00:37] ckairen commented on #3387
Hi, I'm currently a student and would like to contribute to this issue as part of my class project. Can I claim this issue?
It's my first time contributing to open source so there might be some small errors in trying to do pull requests and forking and all that, but I'll definitely try me best to not make dumb mistakes. (you may or may not already noticed my partner isssabel claiming some other is

[2019-04-07 02:07] ckairen commented on #3608
Hi, I'm a student currently working on a class project/assignment that encourages us to contribute to an open source github repo. I checked the website and this issue doesn't seem to be fixed yet. I would like to give this a shot and see if I can help with coming up with a solution. Can I claim this issue?
(This is my first time contributing to an open source project so if I violated any github is

[2019-04-07 04:45] CleverFool77 commented on #5333
Is it because of different screen size?

[2019-04-07 04:59] divyabaid16 commented on #5385
Go ahead @Isssabel
Thanks!

[2019-04-07 08:47] CleverFool77 opened #5396 "Disabled form fields on edit profile page in responsive mode"
## Description
The form fields are disabled in tablet mode. They don't respond to any clicks.
Although it's working fine on mobile and desktop versions.

![edit](https://user-images.githubusercontent.com/26685258/55681081-bd954980-593f-11e9-8fae-7afd07691b32.gif)

[2019-04-07 11:02] gautamig54 opened #5397 "Display error message in the edit profile form if the email is nil or does matches the email pattern"
When we enter the blank email, there was no error message saying that the email field is nil and is required. Also, no error message when the email pattern is not matched.
Moreover, when the above two requirements fail, the changes made are not saved and the "save" button gets disabled and gets replaced by a fa-spinner, due to which a user has to reload a page to make the changes again.

![Screen

[2019-04-07 13:27] IshaGupta18 commented on #5361
Sure, would love to take on it!

On Fri, Apr 5, 2019, 9:53 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-04-07 13:44] steviepubliclab commented on #5225
Hey!! It works 👍

Thanks so much!! That's awesome. :)

[2019-04-07 14:03] CleverFool77 commented on #5225
Hi @gauravano , So regarding the username validation check, should I create a new issue, as this issue is based on data being lost.
Or should  I directly work on the username-validation check while referencing this issue.

[2019-04-07 16:36] gautamig54 commented on #5352
@jywarren I think, the main post should also have the tags and like/spam/follow buttons displayed as well.

![Screen Shot 2019-04-07 at 10 07 31 PM](https://user-images.githubusercontent.com/35326753/55686648-6912be00-5981-11e9-8994-ecaf3c437c71.png)

I would like to take up this task. Thanks!

[2019-04-07 16:52] gautamig54 opened #5400 "Adding a In-app Navbar Notification feature."
I think it is a good idea to add a notification feature on the navbar like facebook. Notifications can be related to if someone liked/commented a user's post etc.
Something like this:

![Screen Shot 2019-04-07 at 10 23 29 PM](https://user-images.githubusercontent.com/35326753/55686816-8e083080-5983-11e9-82c6-94b9caea2737.png)

[2019-04-07 16:57] gautamig54 commented on #5400
There are a lot of gems available in rails for that like :

- [Notifications](https://github.com/rails-engine/notifications)

- [ActivityNotification](https://github.com/simukappu/activity_notification)

- [PublicActivity](https://github.com/chaps-io/public_activity)

If this gets approved, I would like to work on that! Thanks!

[2019-04-07 17:21] namangupta01 commented on #5400
Hi @gautamig54, very nice idea. I already had a discussion about this with @jywarren, @SidharthBansal and then included in my GSoC proposal. Here's the link https://publiclab.org/notes/namangupta/03-02-2019/soc-proposal. Have a look! Any feedback is welcome.

Thanks

[2019-04-07 17:22] divyabaid16 commented on #5352
Hi, @gautamig54 actually I and @atjustbeinghumaid are doing the second one and @IshaGupta18 is going up with the third one. So I guess you can take up https://github.com/publiclab/plots2/issues/5352#issuecomment-480608025 if it is approved.
We will surely ask you for your help.
Thanks :smile:

[2019-04-07 17:28] divyabaid16 opened #5401 "Shift search bar towards left (Remove any extra space)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-07 17:46] sashadev-sky commented on #4963
Another one! FTO: [publiclab/Leaflet.DistortableImage/issues#198](https://github.com/publiclab/Leaflet.DistortableImage/issues/198)

[2019-04-07 17:52] sashadev-sky commented on #4963
everyone's names are checked off  🎉 🎉 so proud to have gotten a system down for this and keeping it running. Really great work @gauravano and thank you for organizing this page ❤️Additionally thank you to everyone for creating FTOs!! @jywarren

[2019-04-07 18:07] gauravano commented on #4963
Really awesome work everyone :100: :tada: !!!

I think we would be starting a list of available FTO issues soon here as we have 3-4 unclaimed FTO issues :smile:

[2019-04-07 18:40] bronwen9 opened #5403 "Forward slash in comment moves cursor to search box."
### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resol

[2019-04-07 18:42] bronwen9 commented on #5403
I noticed that when typing the text of a comment, using the forward slash moves the cursor away from the comment field and places it into the search box, so that it is not possible to use a forward slash in the body of a comment.

[2019-04-07 19:04] CleverFool77 opened #5404 "Bug in `with:` and `with` powertag"
while working on this issue https://github.com/publiclab/plots2/issues/5378
I found that error if `with` is added then it added @empty as author in comment box.
And if `with:` is added, then it doesnt give warning to add username as `:` is used but instead it gives traceback error

### To-do
* If `with` is added then don't add @empty as author in comment box
* If `with:` is added then give warning

[2019-04-07 19:09] daddyjab commented on #5031
Hi, @sateslayer ,
Yes, working on this one, and I expect to complete it today. - daddyjab

[2019-04-07 19:10] CleverFool77 commented on #5404
I'm interested in working on this issue if approved.
Thanks !!!!

[2019-04-07 19:11] CleverFool77 commented on #5404
@publiclab/plots2-reviewers What's your opinion regarding this issue.
I'm interested in working on this issue.
Thanks !!!

[2019-04-07 20:17] jywarren opened #5405 "Error page when entering wrong password, then right password"
When I enter the wrong password from any page's Login modal, i get a 'wrong password' message, which is good.

![image](https://user-images.githubusercontent.com/24359/55689285-a3179c00-5950-11e9-9485-5523eab68670.png)

But then I enter the right one, and i see an error page!

![image](https://user-images.githubusercontent.com/24359/55689281-9bf08e00-5950-11e9-93c5-2a812325caa2.png)

[2019-04-07 20:17] jywarren commented on #5182
Hi!! Ok, going through a lot of small and big things here, but just want to say 🎉 this is AMAZING @Souravirus !!!

* [ ] If we could get a little more space between the search bar and the next menu, that'd be great:

![image](https://user-images.githubusercontent.com/24359/55689220-f806e280-594f-11e9-9607-15082f48e562.png)

* [ ] I think the "show password" button that @CleverFool77 made is gettin

[2019-04-07 20:24] gautamig54 commented on #5401
@divyabaid16 Same issue was earlier opened by @CleverFool77 #5191.

[2019-04-07 20:24] jywarren commented on #5182
* [ ] I see this in a few places where a btn group is kind of not smoothly grouped, like on the dashboard:

![image](https://user-images.githubusercontent.com/24359/55689311-ed991880-5950-11e9-9383-1358e75265be.png)

* [ ] And after pressing the "Wiki" tab, but also the "New page" button:

![image](https://user-images.githubusercontent.com/24359/55689316-01dd1580-5951-11e9-9e53-0feeb1a91824.png)

[2019-04-07 20:25] jywarren commented on #5182
Feel free to check/resolve mine as they get solved. Thanks again!!!

[2019-04-07 20:53] gautamig54 commented on #5352
Oh okay @divyabaid16. Thanks!

[2019-04-07 20:54] gautamig54 commented on #5386
@gauravano Can you share the code with me so that I can start working on this issue. Thanks!

[2019-04-07 20:56] 40404notfound commented on #5405
Can I work on this?

[2019-04-07 21:02] gautamig54 commented on #5405
I think this issue arises because there is no index action defined in the user-sessions controller.
It can be solved by creating an index function in user-sessions controller and directing the user to the dashboard from here.
What do you think about this @jywarren ?

[2019-04-07 21:05] gautamig54 commented on #5405
@40404notfound What are your thoughts on this? It will be great to have your opinion as well!

[2019-04-07 21:50] gautamig54 opened #5407 "Add a tooltip on hover to the refresh dashboard icon"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-04-07 22:02] Zengirl2 commented on #4660
Hey @SKashyapD--your images are working correctly now :tada:

1. Great example of a [similar project and tutorial](https://www.zooniverse.org/projects/vrooje/planetary-response-network-and-rescue-global-caribbean-storms-2017) (it has already completed but you can still view it)

2. Tutorial Details - I know some important things we were talking about identifying was sheen on water from oil spills,

[2019-04-08 00:51] jywarren commented on #5405
That sounds like a great solution; where do you see it directing to an
index action? Thanks!!!

On Sun, Apr 7, 2019 at 5:06 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-08 01:02] jywarren commented on #4585
We are in the last 2 days before the deadline, folks, and I would really appreciate some reviewing help, especially with the applications that have come in in the final days. Thanks everyone, we're almost there!!!

[2019-04-08 09:32] Swati-rachamalla commented on #5407
does the issue claim by anyone?

[2019-04-08 09:44] #5389 closed

[2019-04-08 09:44] Swati-rachamalla commented on #4963
hi..i am interested in contributing, is any issue available?

[2019-04-08 10:03] gauravano commented on #5383
Hi @Isssabel, sure, go ahead :+1:

[2019-04-08 10:08] gauravano commented on #3387
Hi @ckairen, go ahead with the issue! And, don't worry about making mistakes, we all learn and grow from them. Feel free to ask your doubts by commenting below.
(And, yes, I noticed Isssabel, they've claimed other issue. Great to see both of you and would be awesome if more people wanna  start and contribute with us :)

 Thanks!

[2019-04-08 10:12] gauravano commented on #3608
Hi @ckairen, you can start with #3387 and maybe come back here after completing that. And, your comment for claiming was really nice. Thanks!

[2019-04-08 10:19] gauravano commented on #5383
hey @Isssabel, I just saw that you claimed https://github.com/publiclab/plots2/issues/5385 so removing `claimed` label from here as you can work on only one FTO issue for a repo but you can help us with other non-FTO issues for sure after completing the claimed one. Thanks!

[2019-04-08 10:31] gauravano commented on #5396
@CleverFool77 would you like to solve this one? Thanks!

[2019-04-08 11:31] gauravano commented on #5225
Yes, go ahead! Thanks @CleverFool77! Closing this one now.

[2019-04-08 11:31] #5225 closed

[2019-04-08 11:56] gauravano commented on #5385
Hey @Isssabel, another contributor @Atifirshad has raised PR against this issue. Although, it's against our workflow, but I think we can give them a chance to complete work if you don't mind? Maybe you can work on #5383 if you haven't started working on this one? Thanks!

[2019-04-08 12:13] gauravano commented on #5404
That would be great @CleverFool77. Thanks!

[2019-04-08 12:13] gautamig54 commented on #5405
When I do the same procedure of first entering the wrong password and then entering the right one in my local system, it shows an error that index action is not defined in User-sessions controller.
I would like to work on this bug. Thanks!

[2019-04-08 12:23] gauravano commented on #5403
Hi @bronwen9, this issue is solved in #5395 and will be merged and hit the production soon. Thanks for notifying!

cc/ @jywarren

[2019-04-08 12:23] #5403 closed

[2019-04-08 12:25] 40404notfound commented on #5405
@gautamig54  Hi, I discovered the same issue. I am quite new to this project and I am still learning the project organization. I would love to help in solving this issue.
Can I have a chance to fix this? Thanks!!
![image](https://user-images.githubusercontent.com/32965363/55723688-a73acc80-59d7-11e9-8f21-e5c369721a5e.png)

[2019-04-08 12:27] gautamig54 commented on #5405
Sure! Go ahead with this. Do ask if you are stuck anywhere :)
Welcome to Public Labs and hope to see many contributions from you!

[2019-04-08 12:37] gauravano commented on #5401
Thanks @gautamig54 for the update. Closing this one. Thanks @divyabaid16!

[2019-04-08 12:37] #5401 closed

[2019-04-08 12:40] gauravano commented on #5386
Here you go @gautamig54 - https://gist.github.com/gauravano/55b91e7c92ed7593249eda422ded1405 Thanks!

[2019-04-08 12:44] gauravano commented on #5386
You can refer https://github.com/publiclab/plots2/pull/5124#issuecomment-474531131 if you want to know how to create feature. Feel free to ask if you get stuck. Thanks!

[2019-04-08 13:08] gauravano commented on #5407
Hi @gautamig54, the issue contains text from your previous issue. Please remove that. thanks!

@Swati-rachamalla not yet. You can work on this, if interested. Thanks!

[2019-04-08 13:09] gauravano commented on #4963
Hi @Swati-rachamalla, you can work on  #5407. Thanks!

[2019-04-08 13:45] 40404notfound commented on #5405
@jywarren @gautamig54
Hi, I followed @gautamig54  's suggestion and makes the pull request. Looks like the issue is gone now! Thanks a lot for @gautamig54's great hint!

[2019-04-08 13:55] CleverFool77 commented on #5396
Sure @gauravano
Thanks !!

[2019-04-08 14:04] jywarren commented on #5405
oh awesome! Can you link us to your PR from here? Thanks so much for your
help!

On Mon, Apr 8, 2019 at 9:46 AM 40404notfound <notifications@github.com>
wrote:

[2019-04-08 14:08] 40404notfound commented on #5405
@jywarren Sure, here you go! https://github.com/publiclab/plots2/pull/5410

[2019-04-08 14:11] ebarry commented on #5336
Great to meet you @almereyda ! Quite an impressive number of organizations that you belong to, you are a power collaborator! What brought you to Public Lab and have you worked with CodiMD before? Welcome!

[2019-04-08 14:47] #5405 closed

[2019-04-08 14:51] jywarren commented on #5318
I wonder if it relates to this textarea command on line 7! Would you like to try removing that to see?

https://github.com/publiclab/plots2/blob/4c6ecb2325b326f451b2a5cc90f9feaedb7475a7/app/views/comments/create.js.erb#L1-L7

From the blame view, it seems like an old line of code. I'd bet it was originally meant to empty the comment input box so that once you post your comment, you no longer see w

[2019-04-08 14:53] jywarren commented on #5318
Also -- just wanted you to know that we usually include exact step-by-step lines of code to change when posting a first-timers-only post. So don't feel bad if this one is pretty tough, it's a bit more complex than what we usually put up for first-timers. But we can help you through it!

If you'd like to try another that's a bit simpler first, that's also fine, and we can help you find one! Just te

[2019-04-08 15:07] Souravirus commented on #5182
Hi @PritiShaw if you want to contribute to these issues you can just contribute to this PR. Thank you!!

[2019-04-08 16:13] Souravirus commented on #5182
Hi @jywarren, that show password button is getting wrapped because the `form-control-feedback` class is outdated in Bootstrap 4. So, should just append it to the input box?

[2019-04-08 16:17] jywarren commented on #1159
Tried an implementation here: https://github.com/publiclab/plots2/pull/5411 but we should test it out...

[2019-04-08 16:21] jywarren commented on #5182
Ah, yes, i guess so. Thanks!

On Mon, Apr 8, 2019 at 11:08 AM Sourav Sahoo <notifications@github.com>
wrote:

[2019-04-08 16:21] jywarren commented on #4962
Aha, i found an error in Sentry that could help us? Want to take a look?

[2019-04-08 16:30] brjinks commented on #5388
Hi can I claim this issue?

[2019-04-08 16:31] namangupta01 commented on #4962
Yeah, why not. Are you talking about https://sentry.io/organizations/publiclab/issues/976905758/?project=1410626&referrer=github_integration ?

[2019-04-08 16:39] namangupta01 commented on #4962
Till the point of retrieving tweets, code is working fine, i just had a look at http://publiclab.org/cron_log.log

[2019-04-08 17:51] Isssabel commented on #5385
Hi @gauravano, I will work on #5383!

[2019-04-08 19:38] skilfullycurled commented on #5268
Hey all,

Just checking in.  Would it be possible to have the csv's without it being implemented in the stats download page?  I didn't mean to imply that it'd be an enhancement although I think it will be a good one in the end.

I promise to [make something cool](http://www.mapequation.org/assets/img/neuroAlluvial2001-2007.svg) out of it that you won't soon forget.  And by "soon" I mean definitely

[2019-04-08 20:07] jywarren commented on #5268
Oh sorry @skilfullycurled i didn't see this. A few thoughts that may help move it along:

1. We should link to the outputs of the new stats downloads from https://publiclab.org/api
2. I wonder if this is as simple as making a new route/action in this controller:

https://github.com/publiclab/plots2/blob/4c6ecb2325b326f451b2a5cc90f9feaedb7475a7/app/controllers/stats_controller.rb#L103-L106

But for

[2019-04-08 20:08] skilfullycurled commented on #5268
Yes!  May I try to be the first timer...?

[2019-04-08 20:09] jywarren commented on #5268
And if so, you could chime in on the Weekly Check-In to see if anyone's interested in picking this up!

https://github.com/publiclab/leaflet-environmental-layers/issues/164

Oh, certainly! So, ill make it now.

[2019-04-08 20:12] skilfullycurled commented on #5268
Was the leaflet part an accident?

[2019-04-08 20:12] DGibbons1 commented on #5382
Hi @gauravano. I would like to claim this issue.

[2019-04-08 20:14] jywarren commented on #5268
no, actually, we have a rotating community check-in that moves from project to project, to build cross-repo cohesion! 😄

[2019-04-08 20:17] skilfullycurled commented on #5268
Ohhhhhhh...that's the link to the check in.  Sorry, wasn't immediately clear from the URL.  Okay.  Gotcha.  Working on adding some info to a different issue from some things I've learned data wise, so I'll check in on the check in soon.

[2019-04-08 20:17] skilfullycurled commented on #5268
I mean, right after.

[2019-04-08 20:20] first-timers[bot] opened #5412 "add CSV tag and node_tag stats downloads"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-08 20:20] jywarren commented on #5412
This one is for @skilfullycurled!

[2019-04-08 20:23] jywarren commented on #5268
If you want to claim this yourself, you can go ahead -- i've reserved it for you: https://github.com/publiclab/plots2/issues/5412

I opened another PR with the follow-up changes, but that's a nice one to try out as a first-timers-only issue. We can close this then to move over there!

[2019-04-08 20:23] #5268 closed

[2019-04-08 20:24] #1159 closed

[2019-04-08 20:28] jywarren opened #5415 "Add test to protect login bug solution"
https://github.com/publiclab/plots2/pull/5410 was a great solution for the bug identified in #5405, but I'd like to write a test to prevent this from happening again. It could be a system test:

#5316

Or it could be an integration test, something like this:

https://github.com/publiclab/plots2/blob/3bef69c5927d91373d76049303b2f531c62814e2/test/integration/login_flow_test.rb#L15-L26

Basically we

[2019-04-08 20:29] jywarren commented on #5415
@40404notfound would you be interested in this one at all? We'd love your help! Thanks again!

[2019-04-08 20:32] avsingh999 opened #5416 "Tooltip in legacy Editor need improvement"
https://publiclab.org/post in this page when clicking on `Rich` or `Markdown`,  tooltip z index make bad behavior. I think must be some improvement here
![publ22](https://user-images.githubusercontent.com/25536022/55754872-43fa7a00-5a6b-11e9-8095-4a31b432af5d.png)
![publ23](https://user-images.githubusercontent.com/25536022/55754873-43fa7a00-5a6b-11e9-8f7e-136ae5a3fe46.png)

thank you

[2019-04-08 20:32] IshaGupta18 commented on #5412
@skillfullycurled we would love for you to solve this one! And don't hesitate to ask for help! Thanks.

[2019-04-08 20:41] IshaGupta18 commented on #5339
Hey @gautamig54 could you tell a bit more precise about this, this could probably be the breaking point in the code and could help in fixing this bug? Thanks!

[2019-04-08 20:50] avsingh999 opened #5418 "improve comment section in notes"
when we click on publish button in the comment But the comment is blank and the total comment is count But after refresh page is working fine. more can see in the gif below
![pub7](https://user-images.githubusercontent.com/25536022/55755863-d0a63780-5a6d-11e9-93ad-e9b0377c1226.gif)

thank you : )

[2019-04-08 21:49] jywarren commented on #5416
Agreed! Great catch! Transferring to the editor project --

[2019-04-08 23:16] #5387 closed

[2019-04-08 23:32] #5270 closed

[2019-04-08 23:43] 40404notfound commented on #5415
@jywarren Sure! I am very glad to help.

[2019-04-08 23:44] ckairen commented on #3387
Hi @gauravano I'll start on #3387 first then before I attempt the HTML injection prevention. Thank you for the fast response!

[2019-04-08 23:49] jywarren commented on #5400
Thanks all! We can actually leave this open until it's solved, thanks for opening it. But we can mark it "after Notifications API is built" so we prioritize it only after that. Sound good? 🎉

[2019-04-08 23:57] gautamig54 commented on #5400
Yes, @jywarren. Perfect idea!

[2019-04-09 00:09] jywarren commented on #4962
Yes, the sentry error shows line 427 of this file:

https://github.com/publiclab/plots2/blob/01c7ace23c5a408c1ab07d082174f694bd5cd52d/app/models/comment.rb#L420-L427

So i wonder if it's failing to get this URL mentioned in Sentry: `SocketError: Failed to open TCP connection to t.co:443 (getaddrinfo: No address associated with hostname)`

That's the shortcode for Twitter.

https://github.com/publi

[2019-04-09 00:12] jywarren commented on #4962
https://twitter.com/PublicLab/status/1105873695782957057

[2019-04-09 00:16] jywarren commented on #4962
Sample from the log around this tweet: https://twitter.com/PublicLab/status/1102611975949950981

[code]

[2019-04-09 00:19] jywarren commented on #4962
You replied to this and it didn't get copied back, right? https://twitter.com/PublicLab/status/1105873695782957057

[2019-04-09 00:20] jywarren commented on #4962
I just replied there too, let's see! Shall we log out the text it's searching for a URL in? Maybe it gets cut off?

[2019-04-09 00:23] jywarren commented on #4962
Lets console out more of this section, and see what it's getting! I think we may need to look specfically for `"https://"+Rails.root` ?

[2019-04-09 00:35] jywarren opened #5419 "Improve speed of basic API search function"
Right now, going to https://publiclab.org/search and typing "india" and pressing submit takes a long time.

https://oss.skylight.io/app/applications/GZDPChmcfm1Q/recent/6h/endpoints/Srch::Search%20%5BGET%5D%20srch%2Fall

https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1554726720/12h/endpoints/Srch::Search%20%5BGET%5D%20srch%2Fall

4 seconds to 51 seconds...

Much of this is searching `rusers

[2019-04-09 00:36] jywarren commented on #5419
![image](https://user-images.githubusercontent.com/24359/55765476-ed2a7b80-5a3d-11e9-9a86-5cc8b496e8c5.png)

[2019-04-09 03:41] jywarren commented on #5352
#5394 merged! 🎉

[2019-04-09 03:45] jywarren commented on #5308
Hi! Sorry, i was slow!

I think you should be able to copy in the HTML from the `plots2/app/views/grids/_notes.html.erb` lines I highlighted into the grid template. But we will also have to make a new shortcode for `[activities:grid:coqui]` -- make sense? So these new HTML lines would only activate if it were there `activities` variant of the grid shortcode.

Thanks!

[2019-04-09 03:47] jywarren commented on #5230
I think @jayshree1602 solved this in https://github.com/publiclab/plots2/pull/5331/ -- thank you!

If everyone could try to comment in when the take up an issue, we can coordinate a little better, but thanks to everyone who helped fix this! @lohitha02 if you're still looking for a project, we can find one for you!

[2019-04-09 03:47] #5230 closed

[2019-04-09 04:58] aragort commented on #5407
Hi! @Swati-rachamalla did you completed the request? I' am new and I don't know how to check if you need help

[2019-04-09 05:10] sashadev-sky commented on #5182
This is not specific to any version of Bootstrap, but please note in PR #5372 we found and resolved a bug with Bootstrap that is yet to be fixed even in V.4. It is that checkboxes do not vertically align with their text for certain OS's. There is now a stylesheet in plots2 specifically to explain and override this bug: [https://github.com/publiclab/plots2/blob/master/app/assets/stylesheets/btsp_ch

[2019-04-09 05:34] icarito opened #5422 "Allow setting database details by env vars"
This will allow pushing container to docker registry and use it in production.

[2019-04-09 05:54] sashadev-sky opened #5423 "Cross-Browser Compatibility With `input type=file`"
The issue is, Firefox ignores the line-height property set for `input type=file` while Chrome doesn't. The resulting difference can be seen here:

[https://publiclab.org/post](https://publiclab.org/post)

here is my view on MacOS 10.14.3 and Chrome: - pretty off
<img width="290" alt="Screen Shot 2019-04-09 at 1 44 10 AM" src="https://user-images.githubusercontent.com/41092741/55775941-085eb080-5a6

[2019-04-09 06:20] sashadev-sky commented on #5182
Also another thing: the styling Bootstrap applies to `input[type=file]` does not prevent cross-browser inconsistencies with the alignment of input[type=file] buttons and the text printed next to them. I added another css file to address that (please see PR #5424 and the issue it references)

[2019-04-09 09:17] GettyOrawo opened #5426 "Limit extra long wiki titles"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-09 09:21] Souravirus commented on #5182
Hi @sashadev-sky, can we include these after the upgrade or someone can take up this task and put the classes where they are required and I can merge them? What do you think about this?

[2019-04-09 09:21] GettyOrawo commented on #5426
@publiclab/reviewers

[2019-04-09 09:53] HarshKhandeparkar commented on #5426
@publiclab/plots2-reviewers

[2019-04-09 10:46] CleverFool77 opened #5427 "Add comment if the user is removed as co-author from note"
## Description
I noticed that we add a comment if the person is added as co-author for a note.
But there is no way to show that the user is deleted as co-author from note unless looked into the tags.
So we can add a comment showing that the `user is removed as co-author from note` from just like it's done while adding a user to note as co-author.

[2019-04-09 10:46] CleverFool77 commented on #5427
@publiclab/plots2-reviewers What's your opinion regarding this issue.
Thanks !!

[2019-04-09 11:43] GettyOrawo commented on #5426
Thank you :slightly_smiling_face:

[2019-04-09 13:52] CleverFool77 opened #5429 "Realtime username validation while signup"
## Description
Continuing on to https://github.com/publiclab/plots2/issues/5225
This issue aims to provide realtime username validation.
As soon as the user tabs on next field or out of focus for the username field. The query will be given to check whether username is available.

[2019-04-09 13:57] sentry-io[bot] opened #5430 "Image uploading bug: ArgumentError: comparison of String with 3145728 failed"
Sentry Issue: [PLOTS2-5F](https://sentry.io/organizations/publiclab/issues/978176428/?project=1410626&referrer=github_integration)

[code]

[2019-04-09 13:58] sentry-io[bot] opened #5431 "@user_tag undefined in user_tag deletion controller"
Sentry Issue: [PLOTS2-5E](https://sentry.io/organizations/publiclab/issues/978132636/?project=1410626&referrer=github_integration)

[code]

[2019-04-09 13:58] sentry-io[bot] opened #5432 "ActionView::Template::Error: undefined method `user' for #<User:0x00007f7cace1df90>"
Sentry Issue: [PLOTS2-4M](https://sentry.io/organizations/publiclab/issues/960161543/?project=1410626&referrer=github_integration)

[code]

[2019-04-09 15:11] jywarren commented on #5430
Images file size are stored as strings:

[code]

[2019-04-09 15:36] ebarry commented on #5203
Who would be able to mark a comment accepted via a green check mark? A) Only the original questioner? B) The original questioner + site moderators? C) Anyone logged into the site?

I find that i am in favor of B but interested in a discussion

[2019-04-09 15:42] ViditChitkara commented on #5203
@ebarry , Even I'm in favour of B. Let's hear from others though and then I think we can go forward with this.

[2019-04-09 15:49] #5432 closed

[2019-04-09 16:36] #5430 closed

[2019-04-09 17:21] gautamig54 opened #5435 "Not able to write '/' in editor (triggers search bar shortcut)"
I am not able to write '/' in an editor as '/' is set as shortcut for the search bar.

[2019-04-09 18:14] jywarren commented on #5229
Hmm, @ViditChitkara I still can't seem to drag an image into a comment form - i just tried here: https://publiclab.org/notes/vibhordelgupta/04-09-2019/soc-proposal-image-sequencer-broadening-avenues

Would you be able to take a look and see what's going on?

I see this error;

[code]

[2019-04-09 18:15] jywarren commented on #5229
It's referring to this line in `dragdrop.js`:

[code]

[2019-04-09 18:15] jywarren commented on #4617
Also, shall we close this one? https://github.com/publiclab/plots2/issues/4771

[2019-04-09 18:16] jywarren commented on #5229
Also, shall we close these? https://github.com/publiclab/plots2/issues/4617 https://github.com/publiclab/plots2/issues/4771

[2019-04-09 18:17] jywarren commented on #5435
I think this was solved in today's update! Thank you!!!

On Tue, Apr 9, 2019 at 1:22 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-09 18:33] ViditChitkara commented on #5229
Okay, will have a look!

[2019-04-09 18:35] ViditChitkara commented on #5229
I think we may close the issue after I fix this. Seems they are related to image uploading.

[2019-04-09 19:29] atjustbeinghumaid commented on #5360
I have made a pr pls check it

[2019-04-09 19:34] sashadev-sky commented on #5182
@Souravirus they aren't a big deal so can be included at any point. One of them is already merged and i'm building on it in PR #5421 to apply to every checkbox because I realized all of the check boxes on the site are slightly unaligned for certain users

[2019-04-09 19:35] EKMallon commented on #4617
Just tried again. I was able to upload a 12k png file to a new comment in
the thread, but was not able to edit an older comment to add a 112kb jpeg
file.

Now wondering if the problem was related to file size/format limits in the
first place?

Anyway I will just live with it since there's not much attention on that
old note anyway. So close the ticket.
Probably should start another Research Note a

[2019-04-09 20:55] Fastie commented on #5099
These URLs are now working in Chrome. Thanks.

[2019-04-09 23:41] jeremypurser commented on #5426
Hi! Could I claim this?

[2019-04-10 05:10] kaustubh-nair opened #5436 "Prevent multiple builds for internal PRs on travis"
Similar to what has been done in Mapknitter https://github.com/publiclab/mapknitter/issues/490

This hogs up on resources unnecessarily, so it would be better to build only once for a PR.
Since all our PRs are only to the main and unstable branch, we can restrict travis to build only for them by adding,

[code]

[2019-04-10 07:29] divyabaid16 opened #5439 "Change curson to pointer in /signup page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-10 07:45] divyabaid16 commented on #5439
Changes need to be done in the file :app/views/users/_create_form.html.erb

[2019-04-10 08:33] divyabaid16 opened #5440 "Improve the layout of the search bar"
On changing the screen size, the search bar looks like:
![Selection_129](https://user-images.githubusercontent.com/32747809/55860720-866aa680-5b92-11e9-8b06-c1dc4c9e8f55.png)

It must be properly aligned.

[2019-04-10 08:57] divyabaid16 opened #5442 "Improve share function"
![Selection_132](https://user-images.githubusercontent.com/32747809/55865600-56280580-5b9c-11e9-8e54-93d16b601567.png)

Changes need to be made:
- [ ] The link shared on twitter is not correct, it must share the correct tag link.
- [ ] Implement share by facebook also (In subsequent PRs)

[2019-04-10 09:33] gautamig54 commented on #5419
Since Public Labs has a lot of data for a search query, we can thing about using a search engine like ElasticSearch or Solr with Sunspot.
I have mentioned the detailed implementation of Solr with Sunspot in my GSoC proposal:
https://publiclab.org/notes/gautami_gg/04-09-2019/gsoc-proposal-notification-system-and-ux-improvements?_=1554885329
What do you think about it @jywarren ?

[2019-04-10 09:40] gautamig54 opened #5443 "Simplify raw SQL queries to reduce the response time of web pages"
I came across a lot of raw and complicated SQL queries which can be simplified. The response time of the web pages is very slow. It takes about >10-15 secs to load a web page without cache.
Also, a lot queries have been repeated which can be replaced by instance variables or helper functions.
Let's work on simplifying queries and help improving the user experience.

[2019-04-10 09:48] gautamig54 commented on #5435
okay @jywarren. I'll close this issue
Thank you!

[2019-04-10 10:21] alonpeer commented on #5317
Ordering by views count will get fixed once these PRs are merged: #5338 and #5307.

[2019-04-10 10:27] alonpeer commented on #5317
@GettyOrawo I don't have a lot of context on the Drupal choice, however the README says:

So this was originally a Drupal project, and the DB schema was kept when it was rewritten in Rails. AFAIK there's no more Drupal code around (which makes sense, since it's PHP, and probably hard to run in parallel to Ruby).

[2019-04-10 14:22] jywarren commented on #5317
Thanks, i'll check out these PRs today! Sorry to be slow!

Regarding Drupal, yes, there are just a few leftover traces of Drupal in
our database table names and a few other bits and pieces. We're still
working to remove and simplify them all! We have an overall planning issue
for this here: https://github.com/publiclab/plots2/issues/956

And a couple individual projects towards this goal here and

[2019-04-10 14:50] jywarren commented on #76
I've looked pretty hard at this and I wanted to be able to suggest something like:

[code]

But I think remote URL loading is off by default in Paperclip now, for security reasons: https://github.com/thoughtbot/paperclip#usage

So, I think we have to figure out how to convert image files using `drupal_main_image.file.path` local path into Rails-native Image records.

We can then run this on all re

[2019-04-10 15:03] jywarren commented on #5419
Hi Gautami! Thank you!!! We've actually tried to run Solr/Sunspot but
epically failed, and found that it was very difficult to keep running
stably. We're currently using MySQL full-text search, and I am hoping we
can find a way to optimize that; are there indices we can add, or other
ways to speed it up?

Solr/Sunspot integration ended up being incredibly complex, and not very
well supported. I re

[2019-04-10 15:52] jywarren commented on #76
OK, I've collected `nids` for all nodes which have a `DrupalMainImage` record: https://gist.github.com/jywarren/c9ca204d69a833c4d423eee4170ab423

There are over 1000, unfortunately. And for each, we need to check that there is not already a `node.main_image_id` record (13 of them do have this) because that means a new main image was added in the new system and we can ignore those.

[2019-04-10 16:01] ebarry opened #5445 "Reporting that gif upload *within allowable size* is not working"
Dear all,
Just a small bug to report.
Based on experiments with this gif (~2.5MB, under the current 3MB cap):
![air-sensor-near-fire--](https://user-images.githubusercontent.com/161439/55894473-266f0280-5b88-11e9-9714-f945378af5fc.gif)
That i have attempted to upload through drag-n-drop and through Choose A File button (both attempted multiple times) on this page: https://publiclab.org/simple-air-

[2019-04-10 16:04] alonpeer opened #5446 "Number of "wiki edits posted in the last week" is wrong"
When visiting `/dashboard`, one can see a count of wiki edits from the past week. This number does not match the number of wiki pages found when scrolling through the list on `/wiki`. The number of recently edited items on `/wiki` is significantly lower (in the example below it's 2 vs. 125 on the dashboard).

![Apr-10-2019 18-03-54](https://user-images.githubusercontent.com/451791/55894770-1290c40

[2019-04-10 16:21] IshaGupta18 commented on #5442
Hey @divyabaid16 I think we may need to discuss this a little more and do the best we can to implement this. Thanks a lot!

[2019-04-10 16:23] IshaGupta18 commented on #5439
Hey @divyabaid16 could you delete this comment so that users don't think that this issue is claimed as it is marking 2 checkboxes? Thanks!

[2019-04-10 16:37] divyabaid16 commented on #5439
@IshaGupta18 done!!!
Deleting this too :smile:

[2019-04-10 16:45] skilfullycurled commented on #5412
Adding in the other pieces that @jywarren wrote about in the original issue #5268

Oh sorry @skilfullycurled i didn't see this. A few thoughts that may help move it along:

1. We should link to the outputs of the new stats downloads from https://publiclab.org/api
2. I wonder if this is as simple as making a new route/action in this controller:

https://github.com/publiclab/plots2/blob/4c6ecb2325b3

[2019-04-10 17:07] almereyda commented on #5336
Hey Liz, please don't take the labels for granted signs of activity. Most of them are deprecated and have phased out. CodiMD is in use with many communities that I know. If you need references, I can compile a list of other instances.

[2019-04-10 17:37] skilfullycurled commented on #5412
Thanks @IshaGupta18!

Okay, I made the changes.  Right now it's set to [draft pull request](https://github.com/skilfullycurled/plots2/pull/1) but I'm not sure if that was the correct thing to do for reasons that I explained in the comments of the request.

A follow up question, is it better to have conversations about the changes in the pull request or in this issue thread?

For example I have two

[2019-04-10 17:41] skilfullycurled commented on #4660
I saw machine learning and I wanted to chime in.  Of the [original list](https://github.com/publiclab/plots2/issues/4660#issuecomment-455753906) that @SidharthBansal compiled from the different source of requests, I wanted to add that we had been discussing the tag recommendation tangentially on the website (the code part of the conversation which has moved to Github).  At any rate, to @jywarren's

[2019-04-10 18:32] skilfullycurled opened #5450 "Idea: Temporary Fix For User Registration Spam"
Hi,

I've looked at a lot of notes about spam, and it seems there are a few solutions in progress, but I couldn't see any full implementation.  If there is, please close.  This comment could also be merged with, https://github.com/publiclab/plots2/issues/3798, https://github.com/publiclab/plots2/issues/2819, https://github.com/publiclab/plots2/issues/4321, https://github.com/publiclab/plots2/issue

[2019-04-10 18:57] jywarren commented on #5450
This is great, thanks so much! I wanted to ask a couple things that needn't
block but could ease the way forward potentially --

1. is there a way we could warn real people in a nice way that they've been
banned and can appeal it, so if we know that we're likely to have
mis-banned, for example, 5 of 5000 (or whatever) accounts, those 5 people
have recourse? Because I think that'd potentially be wo

[2019-04-10 20:43] #5436 closed

[2019-04-10 20:58] Souravirus commented on #5182
Hi @jywarren, the New page button is appearing fine in my browser. Here is the screenshot
![image](https://user-images.githubusercontent.com/17192149/55913114-776f0d00-5c01-11e9-93d7-c228c06a6b7e.png)

[2019-04-10 21:54] skilfullycurled commented on #5450
I'm sure, especially if they haven't posted any content since then their isn't any loss of contribution. Off the cuff maybe we just say the account is on hold until we hear from them.  Something like, "Our system has flagged your profile as potentially being spam.  We have placed temporary hold on your account.  We apologize if this is in error.  If it is, to remove the hold, please reply to this

[2019-04-10 23:54] #5440 closed

[2019-04-11 00:02] jywarren commented on #5308
So, I think you'll want to make a copy of the `activities_grid` method here: https://github.com/publiclab/plots2/blob/master/app/models/concerns/node_shared.rb#L190-L221

called `activities_thumbnail_grid` -- where you'll change this line:

`    body.gsub(/(?<![\>`])(\<p\>)?\[notes\:grid\:(\S+)\]/) do |_tagname|`

to

`    body.gsub(/(?<![\>`])(\<p\>)?\[activities\:grid\:(\S+)\]/) do |_tagname|`

[2019-04-11 00:02] jywarren commented on #5308
To be honest, we should eventually refactor `node_shared.rb` because it has a ton of unnecessary redundancy! But let's do things one at a time!

[2019-04-11 00:22] MattMski commented on #5439
I want to work on this, can i claim it

[2019-04-11 03:02] sashadev-sky opened #5456 "README.environment outdated"
This file:
https://github.com/publiclab/plots2/blob/master/README.environment

This is an issue as it's outdated, as well as a personal question:

Issue:
- Do we want to keep the `README.environment` file? If so, we should update it. If not, we should move the last bit of information on `login credentials` somewhere else.

Question:
- Is `README.environment` a current convention for Rails reposito

[2019-04-11 03:02] sashadev-sky commented on #5456
@jywarren I ask a quick question here can you please get back to me about it when you have a moment? Thank you!

[2019-04-11 04:28] GettyOrawo commented on #5426
sure @jeremypurser ! :smile:

[2019-04-11 05:21] GettyOrawo commented on #5446
hey @alonpeer I could take this up and try fixing it

[2019-04-11 06:09] msarfrazanwar commented on #5162
Hi, On the last step of setting up the database it says "mysql2 not found, include it in the gem file". It is not working even after install it separately.  @divyabaid16 @gauravano

[2019-04-11 06:13] alonpeer commented on #5446
@GettyOrawo thanks, but I already fixed it 😄 --> #5447

[2019-04-11 08:12] divyabaid16 commented on #5162
What is your ruby version?
Is it 2.4.4?

[2019-04-11 09:48] GettyOrawo commented on #5429
Hey @CleverFool77 this seems so interesting to do. I can help you out if you still held up.. :smile_cat:

[2019-04-11 10:21] SidharthBansal commented on #5243
Great Catch guys!

[2019-04-11 11:03] ananyaarun opened #5458 "Remove 'or' between buttons on tags page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-11 11:04] ananyaarun commented on #5458
This is an FTO issue based on the discussion on https://github.com/publiclab/plots2/issues/5180
will create another issue to add color to the subscribe button.

[2019-04-11 12:00] CleverFool77 commented on #4966
I would like to work on this. @gauravano
thanks !!

[2019-04-11 12:41] SidharthBansal commented on #4892
Best of luck all of you for the results. Closing this issue now.

[2019-04-11 12:41] #4892 closed

[2019-04-11 13:04] SidharthBansal commented on #5412
Hi, please make the pull request at publiclab/plots2 instead of skilfullycurled/plots2?
Let's do things in baby steps.

[2019-04-11 13:04] SidharthBansal commented on #5412
Best of luck :+1:

[2019-04-11 13:07] SidharthBansal commented on #5458
Awesome!

[2019-04-11 13:17] skilfullycurled commented on #5412
I think I need to turn my baby steps into infant steps.  When I make the pull request from publiclab/plots2 my branch doesn't show up as an option.  I can make a pull request in my own repository and choose the following options.  It shows plots2 in the upper left hand corner.  I'll try that...
<img width="1124" alt="Screen Shot 2019-04-11 at 9 16 30 AM" src="https://user-images.githubusercontent.

[2019-04-11 13:26] gautamig54 commented on #5386
@gauravano  I have added the feature as mentioned by you. Should I create a PR for the same?

[2019-04-11 13:29] gautamig54 commented on #5386
@gauravano I don't have admin access. So how am I supposed to create a new feature? I have solved the above issue. Thanks!

[2019-04-11 13:29] skilfullycurled commented on #5412
Okay, test failed but it's easy to see why.  Will fix.

[2019-04-11 13:53] skilfullycurled commented on #5412
I closed the other pull request thinking I could go back to the branch on my fork, make the changes, and then start a new one pull reqeust.  Unfortunately, I am unable to commit my changes.  Here's what the top and bottom of the page look like.

<img width="1118" alt="Screen Shot 2019-04-11 at 9 38 38 AM" src="https://user-images.githubusercontent.com/950291/55962611-401f5100-5c3f-11e9-94d4-c36c97

[2019-04-11 14:23] skilfullycurled commented on #5412
Okay, well I tried reading up on everything and the PR request page said to:
`Add more commits by pushing to the skilfullycurled-tag-stats branch on skilfullycurled/plots2.`
So I did that.  The error seems to be fixed on my end.  That is, when I go to the page and into the editor, the trailing white space that was causing the problem is no longer there.  So, maybe that's why I can't commit because

[2019-04-11 14:25] MagdalenaBiernacka commented on #5458
HI, I would like to try and work on this issue. Can I claim this issue?

[2019-04-11 14:30] skilfullycurled commented on #5412
Ah, actually, I think I got it.  I made the change before the test on a different file was done.  In between making the change on the first failed test, and it finishing the tests for the other file, there was a new error.  I fixed it and it's re-running the tests.

[2019-04-11 14:36] ananyaarun commented on #5458
Sure @MagdalenaBiernacka Go ahead !!
You can go through readme.md for installation instructions to get started.

[2019-04-11 15:29] GettyOrawo commented on #5317
oh yes, makes sense now.. Thank you.

[2019-04-11 15:33] skilfullycurled commented on #5412
Checks all passed now!

I left a note for [at]publiclab/reviewers.

Anything else I can slash should do?

[2019-04-11 16:47] ananyaarun commented on #5180
@sashadev-sky , @gauravano  how would this look ?
![newlook](https://user-images.githubusercontent.com/32260628/55975374-7690b680-5ca7-11e9-93c6-29e309b2dd9d.png)

[2019-04-11 16:47] ananyaarun commented on #5180
@sashadev-sky , @gauravano  how would this look ?
![newlook](https://user-images.githubusercontent.com/32260628/55975374-7690b680-5ca7-11e9-93c6-29e309b2dd9d.png)

[2019-04-11 19:44] ananyaarun opened #5462 "Add css to 'Subscribe to answer questions' button"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-11 19:45] ananyaarun commented on #5462
Another issue based on the discussion here https://github.com/publiclab/plots2/issues/5180

[2019-04-11 23:39] dinaelhanan commented on #5308
@jywarren ohhh I get it now! the local parameter part is what chooses which code to display based on the code you originally linked (_notes.html.erb) and the rest is pretty much the same since this is just another shortcode for creating a activities button instead of using the notes inline tag. I've made additions based on what I understand at #5463 . Thanks for the help!

[2019-04-12 01:54] johnmidavis commented on #5462
Forked and branched and fixed. I am having no luck passing the tests in the original or modified.

[2019-04-12 06:15] zootechdrum commented on #5407
Has anyone claimed this request? I would like to jump on this. I am new to contributing to open source projects.

[2019-04-12 06:27] ananyaarun commented on #5462
Which test documentation ? Have you been able to install public Labs locally ? feel free to ask any question/help @johnmidavis :)

[2019-04-12 06:29] CleverFool77 opened #5464 "Redesigning the signup form"
## Description

Conitnuing on with https://github.com/publiclab/plots2/pull/5374#issuecomment-480515954
It was noticed that there is lots of space below the form fields of email.

![gg](https://user-images.githubusercontent.com/26685258/56016465-f6efff80-5d19-11e9-8b24-45a217328b9f.png)

And Many other details.
eg -
* We are scrolling in modal ?
* The signup form fields are inconsistent

![Screens

[2019-04-12 06:31] SidharthBansal commented on #5464
Go ahead!! :+1:

On Fri, Apr 12, 2019, 11:59 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-04-12 08:06] CleverFool77 opened #5466 "Non unique id"
## Description
It gives console error that there is non unique ids.
I found this issue while working on https://github.com/publiclab/plots2/issues/4966 which was resolved in https://github.com/publiclab/plots2/pull/5465.
I found one issue earlier https://github.com/publiclab/plots2/issues/2237 which was resolved. But now the bug still persists.

![Screenshot from 2019-04-12 13-17-46](https://user-

[2019-04-12 08:07] CleverFool77 commented on #5466
@publiclab/plots2-reviewers What's your opinion regarding this ?
I would like to work on this.
Thanks !!!

[2019-04-12 08:13] divyabaid16 commented on #5466
Even I have the same issue @CleverFool77

[2019-04-12 09:48] CleverFool77 commented on #5464
Sure @SidharthBansal
I would like to have some great ideas regarding new signup form from you ?
@divyabaid16 @ananyaarun @gautamig54

cc : @jywarren @gauravano

[2019-04-12 09:50] CleverFool77 commented on #5466
Seems like it's not just me.
Thanks @divyabaid16 for reporting.

[2019-04-12 09:54] gautamig54 commented on #5464
Yes, @CleverFool77  Its a great idea. How about something like this?

![Screen Shot 2019-04-12 at 3 34 28 PM](https://user-images.githubusercontent.com/35326753/56028933-e8641100-5d36-11e9-8774-8ece571c0411.png)

[2019-04-12 13:04] #5396 closed

[2019-04-12 13:17] gautamig54 opened #5467 "Remove URL column from the wiki table"
Since a user can directly visit any wiki by clicking on the name which is the link to the wiki, I think that the URL column in the wiki's table is redundant.
Removing the URL column will provide space for the other columns which for now look crowded.

![Screen Shot 2019-04-12 at 6 46 33 PM](https://user-images.githubusercontent.com/35326753/56040132-5cacad80-5d53-11e9-9246-d2f249916a29.png)

[2019-04-12 13:23] gautamig54 commented on #5467
@gauravano @jywarren If approved I would work on spacing the columns!

[2019-04-12 15:01] #5423 closed

[2019-04-12 15:27] gauravano commented on #5388
Hi @brjinks, sure :+1:

[2019-04-12 15:28] gauravano commented on #5388
@jywarren any suggestion for font-weight?

[2019-04-12 15:28] gauravano commented on #5385
That's great! Thank you @Isssabel!

[2019-04-12 15:30] gauravano commented on #5382
Hi @DGibbons1, sure go ahead!

[2019-04-12 15:39] gauravano commented on #5418
Seems like we are updating the count via AJAX without checking its creation. you want to work on this @avsingh999? Also, nice catch!

thanks!

[2019-04-12 16:06] SidharthBansal commented on #5464
Let's first of all correct the issues pointed above. We can redesign it
later on.

On Fri, Apr 12, 2019, 3:24 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-12 16:07] IshaGupta18 commented on #5464
I think that would be a good idea. We can break it up and divide it!

On Fri, Apr 12, 2019, 9:36 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-04-12 17:05] gauravano commented on #3387
Great!

[2019-04-12 17:05] johnmidavis commented on #5462
I have successfully installed locally and am able to log in and do ad hoc testing.

I am working through [TESTING.md:](https://github.com/publiclab/plots2/blob/master/doc/TESTING.md)

There is an issue running 'rails test -d' repeatedly - the database is not reset.  There is a rake task 'test:db' which does clean the database so this is obviously known. I can run db:drop and db:setup every time fo

[2019-04-12 18:39] AnthoniaOkafor commented on #5311
@jywarren @namangupta01 please can I have an fto_candidate issue on Ruby. Thanks

[2019-04-12 18:44] divyabaid16 commented on #5311
@AnthoniaOkafor if you want you can solve this issue for any controller.
Thanks!

[2019-04-12 19:07] gauravano commented on #5360
Hi @atjustbeinghumaid, you are required to attach the screenshot there, after installing the repo - https://github.com/publiclab/plots2/pull/5393#issuecomment-480586942.

Thanks!

[2019-04-12 19:29] gauravano commented on #5439
Hi @MattMski, sure. I saw you already raised a PR :smile:. Reviewing it! Thanks!

[2019-04-12 19:31] #5439 closed

[2019-04-12 20:05] AnthoniaOkafor commented on #5311
Ok, I will. Thanks

[2019-04-12 21:18] johnmidavis commented on #5462
rake db:setup dies here

-- create_table("impressions", {:force=>:cascade})
rake aborted!
ActiveRecord::StatementInvalid: Mysql2::Error: Specified key was too long; max key length is 3072 bytes: CREATE TABLE `impressions` (`id` bigint NOT NULL AUTO_INCREMENT PRIMARY KEY, `impressionable_type` varchar(255), `impressionable...
[dbsetup.err.txt](https://github.com/publiclab/plots2/files/3075208/dbset

[2019-04-12 21:18] gautamig54 commented on #5339
Is this issue solved?

[2019-04-13 04:52] ananyaarun commented on #5462
@gauravano any idea why the above error is happening ?

[2019-04-13 06:24] ananyaarun commented on #5458
Hey @kingingcole I see ur PR, Good job !!
But next time pls get yourself assigned before taking up an issue, since i guess @MagdalenaBiernacka wanted to work on this one and had claimed it before.
@MagdalenaBiernacka I'll find another FTO for you Thanks :)

[2019-04-13 06:26] ananyaarun commented on #5467
Yes, I feel it can be removed too.
Can we make this an FTO if approved ? @gautamig54

[2019-04-13 07:48] gautamig54 opened #5470 "Fix the search's submit button on the Tags page."
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-04-13 08:01] gautamig54 commented on #5467
If this issue gets approved, @ananyaarun I was planning to redesign the spacing between the columns.
What do you think about it?

[2019-04-13 08:54] CleverFool77 opened #5471 "Show something instead of empty table"
## Description
If a user has not subscribed to a topics then the webpage shows empty table.
Instead we can have webpage show that some sentence showing `No results found` or `you haven't subscribed to any topic` maybe.
I did a similar issue https://github.com/publiclab/plots2/issues/5188 and resolve it in  https://github.com/publiclab/plots2/pull/5189

![Screenshot from 2019-04-13 14-11-44 (1)](ht

[2019-04-13 08:55] CleverFool77 commented on #5471
@publiclab/plots2-reviewers What's your opinion regrading this issue.
I'm interested in working in this.
Thanks !!

[2019-04-13 09:59] gauravano commented on #5471
Sounds great! Also, `You haven't subscribed to any topic yet` is apter than other one. Maybe, we can also add a link from where a user can subscribe to tags or we can add, `You haven't subscribed to any topic yet. Changes in any subscribed tagged research note/wiki from last week appears in this table.`

text suggestions welcome! Also, mentioning @jywarren. Thanks!

[2019-04-13 10:01] gauravano commented on #5470
Hi @gautamig54, please drop a hint for the solution or solution code snippet as it's an FTO. Thanks!

[2019-04-13 10:02] ConiWright commented on #4115
hey is this issue still open for the crowd? id like to take it to my hands

[2019-04-13 10:06] gauravano commented on #5467
Mentioning @publiclab/community-reps. Although removing URL will make space but I think, URL is added for fastening the process of copying links. maybe we can add a copy link button as a column instead(with copy URL icon)?

Thanks!

[2019-04-13 10:21] CleverFool77 commented on #5466
Hi @gauravano This Issue doesn't have pull request.
This one was referenced.
Thanks !!!

[2019-04-13 10:55] IshaGupta18 commented on #5471
Sounds lovely, if you will not mind , can I work on this issue? This is
because I have worked a lot with subscriptions here and would really like
to help in making it better. I will surely take guidance from you on how to
go about it but I really want to take a stab at it. Thanks a lot!

On Sat, Apr 13, 2019, 3:29 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-04-13 10:59] gauravano commented on #5466
oh! Thanks for correcting labels. Also, would you like to try https://github.com/publiclab/plots2/issues/4771? Thanks!

[2019-04-13 11:02] SidharthBansal commented on #4759
@shubhscoder is there any update on this? I really loved your sequence. In case you have opened up a PR then please link it here so that we can review and help you better.

[2019-04-13 11:17] SidharthBansal commented on #4893
It is present for all the routes.

[2019-04-13 11:17] SidharthBansal commented on #4893
Also present on all the branches as we have observed this error for the first time and code is missing.

[2019-04-13 11:27] gauravano commented on #5450
First of all, really awesome analysis @skilfullycurled!

"We have the best..."
"He will give you great service"
"We have been around for..."
"Our service can give you..."

I was given moderator privilege a year back for testing purposes but after some time I have to redirect all the moderation emails to the bin as they were just filling up my inbox and also time issue. But, I observed that most of

[2019-04-13 11:29] avsingh999 commented on #5418
sure

[2019-04-13 11:46] gauravano commented on #5325
I checked out the website of bulma framework. Yes, the framework offers many things like easy syntax, cards, etc - https://bulma.io/alternative-to-bootstrap/ but at the same time, I think, it's good for projects which are just starting or are very new. /

We are about to merge Bootstrap 4 upgrade on the production soon - https://github.com/publiclab/plots2/pull/3937, so I don't think we would like

[2019-04-13 11:50] gauravano commented on #5304
Hi @vcavallo, we have fixed the follow tag button and also Subscribe button works now and allow you to subscribe to multiple tags at the same time.

Closing this issue now. Feel free to reopen it if you find it not working or anything left.

Thanks!

[2019-04-13 11:50] #5304 closed

[2019-04-13 12:02] gauravano commented on #5303
Hi @bronwen9 @jywarren, unban user seems to work now. Try on https://publiclab.org/profile/rajat (created by me so feel free to test).

@jywarren I checked the history of users_controller, admin_controller and models/user.rb but haven't seen any specific change which fixed it. Do you think it could be profile specific?

Thanks!

[2019-04-13 12:17] gauravano commented on #5193
We already have this for nav search bar. Any other search bar, you're talking about?

Also, have anyone started with https://github.com/publiclab/plots2/issues/5193#issuecomment-474905205?

Thanks!

[2019-04-13 12:21] gauravano commented on #4969
Hey @GettyOrawo, are you working on this one? Thanks!

[2019-04-13 12:25] gauravano commented on #4919
Hi everyone, let's move forward with this unless we want to have more contributors' opinion on this one. Also, if we decide on closing polls, do copy the result in #4896 and let's continue the discussion there only.

Thanks!

[2019-04-13 12:31] gauravano commented on #4669
Hey @rahul2240, we did some fixes in OAuth flow sometime ago so can you try to login again?

Thanks!

[2019-04-13 12:33] gauravano commented on #4573
hey @SidharthBansal, would you like to check this issue as it's April and we should make sure that deprecation doesn't break anything? Thanks!

[2019-04-13 12:34] CleverFool77 commented on #5193
Hi @gauravano
Oh!! I seem to miss out . Should I add it in similar way like done in shortcut keys for `search` ?

[2019-04-13 12:35] SidharthBansal commented on #4573
I have already checked this. We should close this issue now.
Everything working great

On Sat, Apr 13, 2019, 6:03 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-04-13 12:36] CleverFool77 commented on #5466
Hi @gauravano I'll go for comment one first.
For this issue, I guess we need to have many of the PRs regarding username and signup form merged first. As it will create merge conflicts.
Thanks !!

[2019-04-13 12:37] gauravano commented on #5193
I think it's already implemented like @jywarren mentioned so there might be a bug, which we need to solve.

Thanks!

[2019-04-13 12:39] gauravano commented on #4573
ok, thanks for update @SidharthBansal.  Also, thank you @esylvan for opening the issue.

[2019-04-13 12:39] #4573 closed

[2019-04-13 13:28] CleverFool77 commented on #5193
Hi @gauravano . Just fixed the issue on https://github.com/publiclab/plots2/pull/5473

[2019-04-13 14:46] stoic-plus commented on #5340
Just checking in. I am graduating from a bootcamp this coming Thursday! Very busy but I promise I have not forgotten this and will get to it the following weekend!

[2019-04-13 14:54] Souravirus commented on #5182
@jywarren, just wanted to say the dropdown which is moving out of the screen can be accessed with the slider at the bottom. Also, it is done by default by Bootstrap. Talking about the map modal, it is also the default size of the Bootstrap modal. So, should we leave them as it is?

[2019-04-13 15:10] bronwen9 opened #5474 "Page number buttons missing from profiles."
It seems as though it's not possible to navigate past the first page of results under profiles and search results (some tabs affected).

In profiles:

Page numbers *not available* under Research Notes and Mapknitter

Page numbers *are available* under Comments, Questions, Liked

![notenav](https://user-images.githubusercontent.com/8331717/56081464-9de8a000-5ddb-11e9-916c-95cc337a7752.gif)

in sear

[2019-04-13 19:01] johnmidavis commented on #5462
The bug is related to a style applied to one button - defined in erb versus another where the html is in the local yml file, with a different style.

The database error, which is preventing me from running Test and Dev against MySql rather than SQLite, to hopefully pass test before creating a pull request.

[2019-04-13 19:48] steviepubliclab opened #5475 "Include "coauthored" notes on profile pages (via `with:authorname` powertag)"
Hi, I was recently looking on a profile page of someone I've coauthored some work with. (www.publiclab.org/profile/pat). Because she's listed as a coauthor, it's not showing up on the front page of her profile. Can we merge the tabs where people are authors and coauthors so they all show up under the primary tab?

[2019-04-13 22:32] johnmidavis commented on #5462
![Screenshot-after](https://user-images.githubusercontent.com/1994470/56085953-612f9f80-5e01-11e9-97ff-f5c533d4d6b0.png)
![Screenshot-before](https://user-images.githubusercontent.com/1994470/56085954-612f9f80-5e01-11e9-8165-bdcead55befe.png)

[2019-04-13 22:34] johnmidavis commented on #5462
**BEFORE**
![Screenshot-before](https://user-images.githubusercontent.com/1994470/56085968-94722e80-5e01-11e9-8440-2668a5349f97.png)

**AFTER**
![Screenshot-after](https://user-images.githubusercontent.com/1994470/56085974-a48a0e00-5e01-11e9-90ff-614621cd7b1f.png)

[2019-04-13 23:01] #5474 closed

[2019-04-14 09:45] gautamig54 commented on #5467
Yes @gauravano. We can have a copy link button because the current URL does not gives the entire wiki address as well. But I think instead of making a separate column for that, we can add an icon or something similar beside the title which when clicked on, copies the address.
What do you think about this?

[2019-04-14 09:59] gautamig54 commented on #5470
@gauravano Can I solve this issue?

[2019-04-14 10:06] gautamig54 commented on #5386
@gauravano How am I suppose to create a new feature? Thanks!

[2019-04-14 11:31] Souravirus commented on #5182
I have made the map modal to a larger size. Here is the screenshot.
![Screenshot from 2019-04-14 16-58-23](https://user-images.githubusercontent.com/17192149/56092234-f6509800-5ed6-11e9-8c29-cbe20a656e71.png)

[2019-04-14 11:51] bronwen9 commented on #5303
Hi-

I went to check the profile for the person that had originally raised this
issue so I could tell them it had been reinstated, but it still doesn't
seem possible to unban it. Can we do something else for this person? It
seems a shame for their posts to be hidden.

Thanks!

On Sat, Apr 13, 2019 at 8:02 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-04-14 16:01] gauravano commented on #5162
Hey @msarfrazanwar, can you paste the error here? Thanks!

[2019-04-14 23:15] ckairen commented on #3387
Hi @gauravano I've submitted my PR, please let me know if I'm doing it correctly or not. : )

[2019-04-15 02:33] z119 commented on #5047
Unsure if this issue is open or not. If not, I'd like to request to claim this issue.

[2019-04-15 09:24] divyabaid16 opened #5480 "Interchange font icons in password visibility"
**Description**
It is a small bug.
In the password visibility, the font-awesome icons must be interchanged.
I.e ```fa-eye``` must be shown when the text fields are visible.
![Selection_140](https://user-images.githubusercontent.com/32747809/56121657-3888e080-5f8e-11e9-9ad5-472c06ab64b7.png)

[2019-04-15 10:56] gautamig54 opened #5484 "Significance of a footer in the editor"
I want to know the significance of the footer on the edit/write post editor. I feel it is redundant there and can be removed.

![Screen Shot 2019-04-15 at 4 25 02 PM](https://user-images.githubusercontent.com/35326753/56127634-3d07c600-5f9b-11e9-851e-5d28a783a38d.png)

[2019-04-15 10:57] gautamig54 commented on #5484
@IshaGupta18 @CleverFool77 @divyabaid16 What do you think about this?

[2019-04-15 11:27] Souravirus commented on #5182
Hi @jywarren, the subscribe button is even not working in the original public lab website in the tags page. So, there is a problem with it already in the main repository. So, we can open another issue for that. Also, with that, all the issues are solved. Please see to this.
Thank you!!

[2019-04-15 12:21] Souravirus opened #5485 "Follow button not showing the user is subscribed on the /subscriptions page"
Reported on #5182
The subscribe button is actually working in the backend but it's not being shown to the user. Also, the user count is not increased after clicking the follow button.

The page is [this](https://publiclab.org/tags#) and here is the screenshot.
![image](https://user-images.githubusercontent.com/17192149/56131857-421e4280-5fa6-11e9-8abd-a738c6de25a2.png)

[2019-04-15 13:40] gauravano commented on #5303
Hi @bronwen9, sorry for the inconvenience, and yes, we can change the status by another medium for now. @jywarren can you please change that user's status to 1 from the console for now? Also, please copy the prod logs here of unbanning activity for that user before changing the status from console(for debugging).

Thanks!

[2019-04-15 13:51] #5429 closed

[2019-04-15 14:15] bronwen9 commented on #5303
I'll add that when I click "unban", I get a popup saying that the user has
been unbanned, but the status remains unaffected. Thanks for your help!

On Mon, Apr 15, 2019 at 9:40 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-04-15 14:27] IshaGupta18 commented on #5484
I think you might be right, although we can work on a combined footer
design for the entire site so that only the most relevant information is
put up there. What do you think?

On Mon, Apr 15, 2019, 4:27 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-15 15:23] #5188 closed

[2019-04-15 15:40] #4979 closed

[2019-04-15 15:42] gauravano commented on #4966
Great!

[2019-04-15 15:56] CleverFool77 commented on #4966
Hi @gauravano I opened a PR https://github.com/publiclab/plots2/pull/5465 for this issue.
thanks !!!

[2019-04-15 15:57] gauravano commented on #5386
You can pass the updated code via a gist or any other way and I will update the feature as only admins has access to features. Thanks!

[2019-04-15 17:15] gautamig54 commented on #5386
https://gist.github.com/gautamig54/12362644c1a45e001833de955cb8a83b
@gauravano Please review the changes. Thanks!

[2019-04-15 17:17] gautamig54 commented on #5386
The updated change looks like this :

![Screen Shot 2019-04-15 at 10 47 30 PM](https://user-images.githubusercontent.com/35326753/56152130-80305c00-5fd0-11e9-996f-d69c75563075.png)

[2019-04-15 17:19] gautamig54 commented on #5484
Yes @IshaGupta18, redesigning a footer to accommodate relevant information is a great idea!
But I still think having a footer in editor is kind of redundant. What do you think?

[2019-04-15 17:23] gautamig54 opened #5486 "Link to "share your work" on the profile page"
I think there should be a link to add a new note or wiki by the user on their profile. This will avoid a user to go back to the dashboard for the same.
It will be convenient for the user.

[2019-04-15 17:24] gautamig54 commented on #5486
@gauravano @jywarren What do you think about this issue?
If approved, I would like to work on this. Thanks!

[2019-04-15 17:54] gautamig54 opened #5487 "Add pagination to the recently posted events"
On the events page, when a user clicks on "show more" link under Recently posted events, it opens a long list of events with a table consisting of increased inter row spaces and no pagination. This makes the page look inconsistent.

Before:
![Screen Shot 2019-04-15 at 11 22 40 PM](https://user-images.githubusercontent.com/35326753/56154124-71987380-5fd5-11e9-915d-49fde1a01b6a.png)

After:
![Screen

[2019-04-15 18:29] jywarren commented on #5303
Hi all, thanks for looking into this. It was confusing because we have tests for this confirming it was working, and it did work for other users. But not for this account.

I had tried a couple times without success to unban, so I followed @gauravano's suggestion of doing this in the rails console (in the database), but that also failed. I looked further and saw that the account did not have a pas

[2019-04-15 18:33] divyabaid16 commented on #5485
If this issue is open to be worked upon, I would like to give it a try. Thanks!

[2019-04-15 18:35] ebarry commented on #4614
Final Report is live! Thanks everyone! Please add your comments here to this thread for what we are inspired to do/change as a result of reading: https://publiclab.org/notes/liz/04-15-2019/report-2019-software-contributors-survey

[2019-04-15 18:43] bronwen9 commented on #5303
Thanks for figuring that out! I'll let the person know.

On Mon, Apr 15, 2019, 2:29 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-04-15 18:50] HarshKhandeparkar commented on #4614
Yaay! I have been waiting for this forever.

[2019-04-15 18:54] jywarren commented on #5303
I've tried hard to find a way to distinguish spam accounts, but couldn't. I did notice about 820 were made long long before the rest, so I just batch unbanned all 820; there was a high incidence of usernames I knew, and I think any attempts to spam would've been long since passed. There are, i believe, some real users among the remaining banned set of ~800, but we can now unban them using the prof

[2019-04-15 18:54] jywarren commented on #5303
Thanks, all!

[2019-04-15 18:54] #5303 closed

[2019-04-15 19:01] HarshKhandeparkar commented on #4614
@ebarry can we add countrywise demographic survey? Like we can list some of the big countries in radio buttons and if the country of the person is not listed, they can enter it in a separate input? How does that sound?

[2019-04-15 19:31] IshaGupta18 commented on #5484
Yes I think we could keep the disclaimer in a text and make a small panel
for publish and draft button. What do you think?

On Mon, Apr 15, 2019, 10:49 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-15 19:36] gautamig54 commented on #5484
@IshaGupta18 I don't understand what you mean by disclaimer in a text. Can you please explain? Thanks!

[2019-04-15 19:37] IshaGupta18 commented on #5470
@gautamig54 do you not want to keep this as an FTO and solve it yourself?

[2019-04-15 19:40] gautamig54 commented on #5485
The user count is increased on refreshing the page. Also, we can add a toggle button for following or unfollowing a tag. Currently, the "follow" button also changes to "following" when the page is refreshed.

[2019-04-15 19:44] gautamig54 commented on #5485
@divyabaid16 Can we divide the issue?
I can create a toggle button for following or unfollowing a tag and you can work upon the incrementing the user count without needing to refresh the tag.

[2019-04-15 19:46] IshaGupta18 commented on #5484
Like the disclaimer text in the footer can be displayed like normal text
somewhere in the page. Does that make sense?

On Tue, Apr 16, 2019, 1:06 AM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-15 19:46] gautamig54 commented on #5470
@IshaGupta18 I have solved the issue and pushed a PR for the same. Thanks!

[2019-04-15 19:48] IshaGupta18 commented on #5470
Okay great!

On Tue, Apr 16, 2019, 1:16 AM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-15 19:55] gautamig54 commented on #5484
Yes, I understand! Thanks for explaining. I agree with you.
Adding to what you said, the current editor has a history of edited notes, together with disclaimer text publish and draft button, we can add history as well.
I would love to work on this issue!
Thanks @IshaGupta18 for your input!

[2019-04-15 20:03] sashadev-sky commented on #4963
Hi! new FTO: https://github.com/publiclab/Leaflet.DistortableImage/issues/211

[2019-04-15 20:04] IshaGupta18 commented on #5484
Not a problem! Since it could involve a little variation, would you want to
split this up with me, if approved? What do you say?

On Tue, Apr 16, 2019, 1:25 AM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-15 20:36] gauravano commented on #5407
Hi @aragort, as @Swati-rachamalla has not responded from a week, you can work on this one.

@Swati-rachamalla in case, you need new issue to work on, feel free to ask, there are many open FTOs. Thanks!

[2019-04-15 20:38] gauravano commented on #5407
Hi @zootechdrum, you can see other FTO issues at https://github.com/publiclab/plots2/issues?q=is%3Aopen+is%3Aissue+label%3Afirst-timers-only. In case, you don't see any unclaimed, feel free to comment at https://github.com/publiclab/plots2/issues/4963

Thanks!

[2019-04-15 20:45] #5397 closed

[2019-04-15 20:49] namangupta01 commented on #4962
Yes! I am going to make pull request with `puts` statement at various points.

[2019-04-15 20:52] gauravano commented on #5339
No @gautamig54!

[2019-04-15 20:56] jywarren commented on #5339
Hi all! I think I may have solved this over the weekend... Could you check
the latest code? Thank you!!!!

On Mon, Apr 15, 2019, 3:52 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-04-15 20:57] #5458 closed

[2019-04-15 21:04] gauravano commented on #4115
Hey @DannyBoris, sure, go ahead!

[2019-04-15 21:25] ananyaarun opened #5489 "change key to subscribe_to_answer"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-15 21:27] ananyaarun commented on #5489
@MagdalenaBiernacka., Do you want to work on this ? Thanks !!

[2019-04-15 21:34] ar03 commented on #5489
@ananyaarun  If this isn't claimed by anyone, I am looking to start contributing! This or another FTO! Thanks

[2019-04-15 21:35] gauravano commented on #5193
:+1:

On Sat, Apr 13, 2019 at 6:58 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-04-15 21:36] gauravano commented on #5340
We will be looking for your PR @stoic-plus!! Thanks :smile: !

[2019-04-15 21:38] gauravano commented on #5340
And, congrats on your bootcamp graduation :tada:

[2019-04-15 21:48] gauravano commented on #5462
Hi @johnmidavis, sorry for the inconvenience, we are having discussions to decide on database - https://github.com/publiclab/plots2/issues/4896. We would love to have your thoughts there too.

Regarding the failure of tests, you can ignore them and create a PR. But, if you're facing error in setup too, like in running `rake db:setup`, then we can discuss and try to solve that?

Thanks!

[2019-04-15 21:57] dinaelhanan commented on #5456
@sashadev-sky from what I've looked up/read README.enviroment is usually where environment variables used by the program is listed, no? (see [this](https://afni.nimh.nih.gov/pub/dist/doc/program_help/README.environment.html) link) if that is true, then our README.environment is unnecessary/wrong and we can just add the login credentials [here](https://github.com/publiclab/plots2/blob/Coveralls-tes

[2019-04-15 21:58] gauravano commented on #5467
Sounds great!

On Sun, Apr 14, 2019 at 3:15 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-15 21:59] johnmidavis commented on #4896
@gauravano I would like help any way I can to help here.

[2019-04-15 22:00] gauravano commented on #4896
your preference of db - https://github.com/publiclab/plots2/issues/4919

[2019-04-15 22:10] gauravano commented on #5475
Hi @steviepubliclab,

You mean a tab with name "All", showing all notes(authored and co-authored)?

Thanks!

[2019-04-15 22:19] sashadev-sky commented on #5456
@dinaelhanan I'm really not sure! This is the only one I have ever seen before and it's clearly not in use so I don't have a good grasp on their use case.

But if you think it should be removed I will make a PR for this. I don't want to put file deletion in an FTO, I feel like for a 1st PR conceptually that could be a bit confusing.

[2019-04-15 23:19] skilfullycurled opened #5490 "Stats downloading returns "Page does not exist" for dates prior to early 2013"
I was trying to download stats from the beginning of the site (which was sometime in 2010) until July of 2016 and I received a "Page does not exist" error.  I did some experimentation and while I'm not sure of the exact date before which this occurs, I can say it is sometime between 01-01-2013 and 01-07-2013 (in stats page date format DD-MM-YYYY).  For what it's worth to the diagnosis of the probl

[2019-04-15 23:38] ar03 commented on #4963
Looking to contribute, familiar with RoR. Thanks!

[2019-04-15 23:44] sashadev-sky commented on #4963
@ar03 Hi, Welcome! You can work on #5104, I will mention you there too 👍

[2019-04-15 23:44] sashadev-sky commented on #5104
Reassigned to @ar03

[2019-04-16 00:21] ar03 commented on #5104
@sashadev-sky I have made the changes, do I commit them to my local repo and then raise a PR?

[2019-04-16 00:52] sashadev-sky commented on #5104
@ar03 Yes thank you! Make sure you made your changes on a new branch, and then push to that branch `git push origin <branch_name>`. Then when you visit the plots2 main repo page you will see an option to create a PR.

[2019-04-16 02:30] divyabaid16 commented on #5485
Sure!!

[2019-04-16 03:13] mnino commented on #5388
Hello,

I am new to open source, so thank you for helping people like me take the first step.  I see that Brjinks has claimed this issue, but I was wondering if this issue is still open.  If so, I would like to help.

[2019-04-16 05:26] divyabaid16 opened #5492 "Add tooltip to icons"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-16 05:56] GettyOrawo commented on #5487
Hey @gautamig54 will you be working on  this? If not, I would love to :slightly_smiling_face:

[2019-04-16 06:02] GettyOrawo commented on #5492
Hey @divyabaid16 this is so interesting will you be working on this?

[2019-04-16 06:14] divyabaid16 commented on #5492
Hey @GettyOrawo
I have just now updated the issue and I guess it is a first timers issue.
Thanks! :tada:

[2019-04-16 07:35] gautamig54 commented on #5487
Hi @GettyOrawo! The issue has not been approved and I would like to give it a shot. Will definitely look up for your help if I get stuck. Thank you!

[2019-04-16 07:36] gautamig54 commented on #5467
Thanks @gauravano! I will get started on this issue.

[2019-04-16 07:38] gautamig54 commented on #5484
Sure @IshaGupta18. Let's work on this together.
@jywarren kindly give your reviews on this issue, so that we can start working on this. Thanks!!

[2019-04-16 09:05] gauravano commented on #5339
Yes @jywarren, the pagination bar is visible at publiclab.org/tags. So, let's close this one. And, thanks for solving @jywarren!!

[2019-04-16 09:05] #5339 closed

[2019-04-16 14:20] ebarry commented on #5445
Reporting that this is ongoing, thanks!

[2019-04-16 14:26] Devdrod commented on #5489
@ananyaarun  I will love to start contributing to this project, first timer with a bit of knowledge on JS,HTML,CSS and REACT.

[2019-04-16 14:40] brjinks commented on #5388
@gauravano does a font-weight of 400 work?

[2019-04-16 14:47] gautamig54 commented on #5388
Even I tried with font-weight of 400, it seems pretty good!

[2019-04-16 15:09] gautamig54 commented on #5485
Should the user be allowed to delete their subscription from the tags page directly?
There is a separate page for managing subscriptions which provides the user an option to unsubscribe a particular tag.
Considering this, If a user follows a certain tags and wishes to unfollow it, we can direct the user directly to the "Manage Subscriptions" page rather than the tag specific page.
What do you thin

[2019-04-16 16:36] becomingajunior commented on #5489
Looks like this is already claimed, but checking in just in case it's not.  Thanks publiclab for making something available for first-timers to work on! Am hunting for a first time contribution to a project.

[2019-04-16 17:26] ebarry commented on #4614
Yes @HarshKhandeparkar, we could do that. Probably would help standardize the answers!

[2019-04-16 19:11] Souravirus commented on #5485
Yeah that would also be great. Thank you for working on it.

[2019-04-16 19:29] divyabaid16 opened #5497 "Tooltip doesn't disappear"
**Description**'
Tooltip doesn't disappear when I click on like button.
![Peek 2019-04-17 00-50](https://user-images.githubusercontent.com/32747809/56238381-01a8ec80-60ac-11e9-9c89-efd19c7d9b4d.gif)

This is a bug that needs to be fixed.

Thanks!

[2019-04-16 20:12] IshaGupta18 commented on #5415
@40404notfound how's the work going in on this one? Just checking in in case you are stuck!

[2019-04-16 20:15] IshaGupta18 commented on #5276
@supriya-kotturu how's it going? Let me know if you're stuck!

[2019-04-16 21:11] #5104 closed

[2019-04-17 01:11] 40404notfound commented on #5415
@IshaGupta18  Thanks a lot ! I just had an extremely busy week so I had to postpone my plan in fixing this issue.  Don't worry. I am definitely going to fix this in a few days.

[2019-04-17 02:07] jillpena commented on #5306
🏁 Done and looking for a review :)

[2019-04-17 05:35] z119 commented on #3298
Is this issues still open? If so, i m interested in claiming it

[2019-04-17 14:05] gautamig54 commented on #5485
I have written a code for changing the text from "follow" to "following" when clicked. But, it only works once. I will have to refresh the page again for the click to work again. It can be because the query is set to work only for one action. What do you think about this @divyabaid16?

[2019-04-17 15:34] divyabaid16 commented on #5485
@gautamig54 I guess you will need to make changes in routes.rb
Also, I would like to give one more suggestions, if we could auto refresh the page during certain interval of time like suppose 5 mins so that all the update in the page can be visible and there will be no need to refresh the page in certain inrerval.

[2019-04-17 16:32] ananyaarun commented on #5489
since there has been no response from @MagdalenaBiernacka , @ar03 you can claim this one :)
@Devdrod and @becomingajunior we shall find another fto for u soon!!
U can meanwhile comment on this issue to find an FTO https://github.com/publiclab/plots2/issues/4963
Thanks :)

[2019-04-17 16:41] ananyaarun commented on #4963
@gauravano  kindly add @Devdrod and @becomingajunior to this list. Thanks!!

[2019-04-17 16:47] skilfullycurled commented on #3498
Hey all, so I implementing downloads for [tags and the accompanying term data](https://github.com/publiclab/plots2/issues/5412), second review in progress!

I'd really like to build on what I've learned, and I was hoping I could do so by implementing some other download options so that I can practice more complex versions of the process of required changes the FTO provided (routes, controllers, vi

[2019-04-17 16:51] supriya-kotturu commented on #5276
I have fixed the typo the very next day and created a pull request

Sai Supriya

On Wed 17 Apr, 2019, 1:45 AM Isha Gupta, <notifications@github.com> wrote:

[2019-04-17 17:01] cesswairimu commented on #3498
@skilfullycurled just saw your PR looking great :+1: . Yeah it would be good to open another issue for that discussion as we did for the other features and add the link at the top of this issue and some description as a checklist.

[2019-04-17 17:05] skilfullycurled commented on #3498
Thanks @cesswairimu!  Okay, will do.  As an aside, I also posted an [issue](https://github.com/publiclab/plots2/issues/5490) for a problem I was having with the downloads, but forgot to mention the issue here (or reference it there).

[2019-04-17 17:10] cesswairimu commented on #5490
Will take a look at why this is happening thanks @skilfullycurled

[2019-04-17 17:21] ar03 commented on #5489
@ananyaarun I did just complete an FTO if you want to pass this one all to someone else.

[2019-04-17 17:21] eplata31 commented on #5492
Hi! I am a beginner on open source and I would like to work on this issue if it is not assigned yet

[2019-04-17 17:28] gautamig54 opened #5501 "Change the location of "joined # time ago" on the profile page"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-04-17 17:34] ar03 commented on #5497
@divyabaid16 @IshaGupta18 Mind if I work on or alongside for this one?

[2019-04-17 17:38] gautamig54 opened #5502 "Add colour to the unfollow button on profile page"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-04-17 17:55] jywarren commented on #4928
[code]

[2019-04-17 18:03] jywarren commented on #4928
Added all these in a batch: #5503

Noting that we're not sure about how to do multiple word additions; for example:

[code]

So I'm asking over here: https://github.com/yohasebe/lemmatizer/issues/7

[2019-04-17 18:54] z119 commented on #5502
If no one has yet, I'd like to claim this issue

[2019-04-17 18:55] cesswairimu commented on #5490
@skilfullycurled when did you receive the error when submitting the date ranges or the data was returned fine and this occurred when you were trying to "download as"?

[2019-04-17 18:59] skilfullycurled commented on #5490
No, @cesswairimu, it was the search itself that returned the error.

[2019-04-17 19:16] SKashyapD commented on #4660
Sorry for the delay @Zengirl2
1. I started working on the tutorial and thanks for the resources.
2. For drawing mining I selected polygon because it will help us to map mining area better(you can draw any required shape).
3. In classification section I will add an extra section for notes like this.
4. I will update the few section of the project to make it appealing.
5. Thanks for the bio @Zengirl

[2019-04-17 19:17] jywarren commented on #4125
Closing this although this is only the test -- we need the solution to finally merge #4149 - thank you!!! 🎉

[2019-04-17 19:17] #4125 closed

[2019-04-17 19:23] ckairen commented on #3608
Hi @gauravano, I've made my PR for #3387 (https://github.com/publiclab/plots2/pull/5479) and I'd like to claim this issue for html injection. I noticed the system bot asked me to create a feature branch instead when doing a PR, I'll try my best to do so but still might have some problems. (most of my past projects don't need branches because they are being done with at most two teammates)

[2019-04-17 19:27] SKashyapD commented on #4660
Thanks @skilfullycurled for taking initiative. you can check this it may help [recommendify
](https://github.com/asmuth/recommendify)

[2019-04-17 19:49] cesswairimu commented on #5490
Aha! gotcha this is strange because dates before that are working and after that are working Did a little digging and the culprit is `25-04-2013` any range before that or after that works which is strange. @jywarren any idea if anything happened to the system on this date?

[2019-04-17 20:04] skilfullycurled commented on #5490
Oh, I forgot about that date.  @cesswairimu, we're never supposed mention that date or even speak about what happened on it.  It's sort of the Voldemort of dates.

But seriously folks.

Very interesting.

I'll download around it.

[2019-04-17 20:05] cesswairimu commented on #5490
Aha gotcha sorry will delete the comment

[2019-04-17 20:09] cesswairimu commented on #5490
@skilfullycurled maybe we can close this now since its not a code issue?

[2019-04-17 20:11] z119 commented on #4963
Request to participate, interested in #5502. Thanks for your help.

[2019-04-17 20:17] ebarry commented on #4614
Dear everyone,
Upon the well-considered advice of @gauravano , let's host a meeting to discuss the contents of the Report (link above in comments):

The following poll offers dates for the next two weekends (as recommended by @gauravano) as well as for Thursday May 2. Note: there are no weekdays offered in the coming week because the staff have an in-person week-long meeting where we cannot have a

[2019-04-17 20:41] ehamamrah commented on #5501
Would love to reserve it, working on it.

[2019-04-17 20:56] ehamamrah commented on #5502
@z119 are you working on it? I would love to claim it.

[2019-04-17 22:11] cesswairimu commented on #5480
Hi @divyabaid16,
Here are my thoughts  for this.
So my understanding the font-awesome "eye" is working as logic-like and not showing current state...say if you are not showing the password you have the "eye icon" button(option) which translates to show password. If you are showing the password have the "crossed eye icon"(option) which translates to "hide password". What do you think? Thanks

[2019-04-17 23:16] jywarren commented on #5490
lol are you folks having too much fun in here? Voldemort dates? 🔮 🤐 🙊 I hope Cess has seen Harry Potter and knows you're joking? Cess, @skilfullycurled has a strange sense of humor please don't hold it against him.

No but for real, thanks for looking into this. I'm sure it was a tough one to track down esp. given the mysterious date.

[2019-04-17 23:21] cesswairimu commented on #5490
:laughing: :laughing:

[2019-04-17 23:24] skilfullycurled commented on #5490
Oh my gosh.  @cesswairimu, I'm so sorry.  So sorry.  I feel terrible.  I was hoping to convey I was kidding when I said "but seriously folks".  PS: @jywarren, I'll have you know that all the people who consistently laugh at my jokes think I have a great sense of humor.

[2019-04-17 23:26] skilfullycurled commented on #5490
Actually, on a legitimately serious note, I'll try to be a little more clear humor.  I've seen enough furrowed brows to readily admit that my sense of humor can be confusing even in person because I would have said that with a completely straight face.

[2019-04-17 23:29] cesswairimu commented on #5490
@skilfullycurled no its fine blame it on having english as my second language :laughing:

[2019-04-17 23:38] skilfullycurled commented on #5490
I appreciate that.  In the meantime, I should probably learn to chill out just a bit when I first meet people.

It looks like you actually deleted the comment with the date, so for the record and people seeing this trying to track down a bug, it was April 25, 2013 I think...?  Also, I'd still like to know if there's a reason!  What I really thought was funny was that there would be one specific da

[2019-04-17 23:45] jywarren commented on #5490
OK, we are synced up now I feel. Thank you Cess for being understanding and
thank you Benjamin for the same!

I do feel that date must be haunted! And, no worries Benjamin, i love your
sense of humor!

On Wed, Apr 17, 2019 at 7:39 PM skilfullycurled <notifications@github.com>
wrote:

[2019-04-17 23:49] skilfullycurled commented on #5490
And I am a great admirer of yours, too!

[2019-04-18 00:06] #5412 closed

[2019-04-18 00:12] jywarren commented on #4660
Hi @SKashyapD -- can you help me find your SoC proposal? Did it get posted?

[2019-04-18 01:02] divyabaid16 commented on #5492
Go ahead!! @eplata31
Do let me know if you need any help.
Thanks!

[2019-04-18 01:06] SKashyapD commented on #4660
hey, Jeff
Yes, It got posted on Public lab website [SoC proposal](https://publiclab.org/notes/sauvzi13397/04-03-2019/mapknitter-aerial-image-labelling-to-detect-environmental-issues-using-machine-vision?_=1554334687).
Is there any trouble or something?

Thank you!

[2019-04-18 01:48] skilfullycurled commented on #4660
No, no, thank you for taking the initiative on an ML thread, @SKashyapD!  I'm not sure I'll be able to take that much more initiative on the implementation of a tag recommendation system since I don't have lots of experience in programming with Ruby, however, I really want to second your idea of having a server for this.

One thing I would like to do is to piggy back on your initiative and eventua

[2019-04-18 02:58] sashadev-sky opened #5510 "BrowserStack logo"
BrowserStack (cross-browser UI testing) offers a free package for OSS communities: https://www.browserstack.com/open-source?ref=pricing

It is a 3 step process, and the application was already submitted, but we still need to do step 2:

I guess we should get this done ASAP as for some reason they request it before you apply.

Need to decide:
1) Where do we put this
   - this depends partially on h

[2019-04-18 03:00] sashadev-sky commented on #5510
Mentioning some people initially but anyone should provide input! @jywarren @ebarry @divyabaid16 @gauravano @icarito

[2019-04-18 03:07] icarito commented on #5510
IMHO if we need to, the location should be the Github Readme, honestly it doesn't fit the main site not just aesthetically but - I believe - we should only actively promote libre technologies.

[2019-04-18 03:12] z119 commented on #5489
I'm interested in claiming this

[2019-04-18 03:37] sashadev-sky commented on #5510
@icarito I was thinking that too. Where would we put it though, do you have any good examples in mind? I almost feel like a logo in the README is promoting it more than site footer because of prominency

[2019-04-18 03:42] sashadev-sky commented on #5510
@icarito should I just wait for a response to the application and ask if I can put it in a project wiki page? I can put together a wiki referencing different libraries and tools we use and put it there?

[2019-04-18 05:25] divyabaid16 commented on #5480
Hey @cesswairimu !!
Good to hear from you :smile:
Let me give the example of Gmail here,
![Selection_143](https://user-images.githubusercontent.com/32747809/56338512-f0550280-61c7-11e9-920b-ea75ae80e1b2.png)

When the "eye" is open, the password is visible.
To ease the process we can also add the tooltip that when "open eye" is shown, we can write ```hide password``` so that upon clicking that, th

[2019-04-18 06:04] divyabaid16 commented on #5485
@gautamig54 Regarding this, a new layout of tags page was proposed by @jywarren in issue #5090
In this, the user can unsubscribe directly.

[2019-04-18 08:02] gautamig54 commented on #5497
There was the same issue in all the wiki pages also. I have solved it for them as the code base for events page is not available.

[2019-04-18 08:05] IshaGupta18 commented on #5497
@arO3 if you can resolve for events page, go ahead!

On Thu, Apr 18, 2019, 1:32 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-18 08:07] gautamig54 commented on #5497
@IshaGupta18 I have made changes in the app/views/like/_like.html.erb which solves for all the pages, I guess including events and wiki pages.

[2019-04-18 08:23] IshaGupta18 commented on #5497
Oh okay, please confirm and get the PR reviewed so that this issue can
be resolved! @arO3 we would love your help on other issues!

On Thu, Apr 18, 2019, 1:37 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-18 08:28] gautamig54 commented on #5497
@IshaGupta18 maybe @ARO3 can work on adding a timestamp to each tooltip. Should I open an issue for the same?

[2019-04-18 08:29] IshaGupta18 commented on #5497
Yes that would be great! Go right ahead. Thanks a ton!

On Thu, Apr 18, 2019, 1:58 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-18 08:50] divyabaid16 opened #5514 "Decrease margin to css hover"
Hover does not cover the entire thing. Some portion of the book icon is not aligend with css.
![Peek 2019-04-18 14-19](https://user-images.githubusercontent.com/32747809/56348875-058c5a00-61e5-11e9-85d6-c6f7abcbc0c4.gif)

[2019-04-18 09:01] divyabaid16 opened #5516 "Change cursor to pointer on choosing main image"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-18 09:32] gautamig54 opened #5517 "Adding timestamp to the tooltip"
Add timestamps to tooltips on hover to the like section on events or wiki pages. Timestamps mean that the tooltip will close after the set time even if the cursor is on the button.

![Screen Shot 2019-04-18 at 3 03 55 PM](https://user-images.githubusercontent.com/35326753/56351570-058f5880-61eb-11e9-990f-daaec5e3861b.png)

[2019-04-18 09:33] gautamig54 commented on #5517
This issue is for @ARO3. Thanks!

[2019-04-18 10:35] CleverFool77 commented on #5480
Hi @divyabaid16
As I said here earlier https://github.com/publiclab/plots2/pull/5481#issuecomment-483187988

Google has a single login i.e gmail, drive, docs etc all have a same login page.
This methodology is only followed by Google and as per design choice the general convention can be the current one which is implemented. We here have a choice to either follow Google or the general convention (

[2019-04-18 11:10] Souravirus commented on #5182
Hi @jywarren, now every bug is solved except the one about the follow button on the tag page which was already present and was not due to bootstrap 4. I have also made the dropdown alignment correct. Here is the screenshot of it.
![image](https://user-images.githubusercontent.com/17192149/56357199-a33d5480-61f8-11e9-8966-0d52263de76c.png)

Please see to this.

[2019-04-18 11:13] CleverFool77 commented on #5516
Hi @divyabaid16
Can you point out the relevant changes required.
Thanks !!!

[2019-04-18 11:16] CleverFool77 commented on #5333
Hi @divyabaid16 @gautamig54 I found this issue earlier but unable to reproduce it now.
Can I know from you guys whether this issue still persist?
Thanks !!

[2019-04-18 11:58] SamueleM97 commented on #5502
I wuold like to claim it.

[2019-04-18 12:07] ehamamrah commented on #5502
@SamueleM97 it's already claimed and pull request opened
[](https://github.com/publiclab/plots2/pull/5505)

[2019-04-18 13:00] GettyOrawo commented on #5316
Nice :small_airplane:  So every test will have it's own test file under `plots2/test/system/` ?

[2019-04-18 14:33] SidharthBansal commented on #4760
The login flow works well for the OAuth providers. There is some problem with the
1. Login Form
2. SignUp form
3. Shifting between logging and signup should have retention of return_to params.

[2019-04-18 15:09] bronwen9 opened #5520 "Comment Editing Seems Broken"
It doesn't look like comment editing is working properly-- when I click into a comment to edit, it appears as though all of the original content has been removed-- if I click onto "save" on a blank edit the original content *does* repost to the page.

![editcomment](https://user-images.githubusercontent.com/8331717/56370903-14194800-61ca-11e9-9bae-a533b3b9a561.gif)

[2019-04-18 15:16] SidharthBansal opened #5521 "Return_to param retention on invalid username"
After entering wrong username the person loses the return_to param in the url.

[2019-04-18 15:16] SidharthBansal commented on #5521
I am working on this.

[2019-04-18 16:45] jywarren commented on #5316
Hi, @GettyOrawo -- i think we can put multiple tests in each file!

[2019-04-18 16:49] jywarren commented on #5316
Also, i believe it's possible to use anything from Capybara's DSL (domain specific language?) -- https://github.com/teamcapybara/capybara#the-dsl

It mentions attaching files: https://github.com/teamcapybara/capybara#interacting-with-forms

`attach_file('Image', '/path/to/image.jpg')`

And evaluating javascript functions: https://github.com/teamcapybara/capybara#scripting

`result = page.evaluate_

[2019-04-18 16:50] ebarry commented on #4928
urban-planning: urban-design
urban-design: urban-planning (happy to discuss as once upon a time this was my field, but pragmatically think these should be joined for Public Lab)

soil: dirt
dirt: soil
community-engagement: communityengagement
communityengagement: community-engagement
marine: water
water: marine

[2019-04-18 16:57] skilfullycurled opened #5524 "Stats Download And Site Overload"
Hi, last night, after we had sorted out the date issue with #5490, I went to download the rest of the data.  While I was downloading 2/26/13 - 07/01/16, all of the downloads went smoothly, except when I downloaded the users, it took a very long time (relative to other downloads of users I've done) and it broke the site.  (For what it's worth to diagnosis, before I did that, I had tried to download

[2019-04-18 17:01] jywarren commented on #5316
Attempted to use a JS function in https://github.com/publiclab/plots2/pull/5525!

[2019-04-18 17:10] jywarren commented on #5316
And tried using `attach_file` here to test comment image upload! https://github.com/publiclab/plots2/pull/5526

[2019-04-18 17:31] gautamig54 commented on #5386
@jywarren Kindly review the change. Thanks!

[2019-04-18 17:35] gautamig54 commented on #5484
@IshaGupta18 Can we start on this one?

[2019-04-18 17:37] IshaGupta18 commented on #5484
Hey, actually I am starting with my end sems tomorrow, they are kinda
consecutive, could you wait just for a couple of days? Or you could split
it up and assign me a part and I'll execute it ASAP. What do you think?
Thanks a lot for your patience!

On Thu, Apr 18, 2019, 11:05 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-18 17:39] gautamig54 commented on #5484
Yes, sure. I'll think about the design and split it up. All the best for you semester exams :)

[2019-04-18 17:40] IshaGupta18 commented on #5484
Thanks a lot, just let me know of the design, we can brainstorm it, and
then do the code. What say?

On Thu, Apr 18, 2019, 11:09 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-18 17:40] gautamig54 commented on #5484
Sure!!

[2019-04-18 17:48] skilfullycurled commented on #5524
Some other info:  Basically, sometime between 4/26/13 and 1/1/14 we either became immensely popular, or we had a ridiculously large number of spam signups.

Some figures:

**1/1/2013:** 1356998400
**4/24/2013:** 1366847999
**UID Range:** 59296 - 59296
**Users:** 12020

**4/25/2013:** 1366848000
**4/25/2013:** 1366934399
**UID Range:** 59297 - 59626
**Users: 330**

**4/26/2013:** 1366934400
**1/1/2

[2019-04-18 17:54] skilfullycurled commented on #5490
Well, not great news.  https://publiclab.org/stats?start=01-01-2012&end=01-01-2013&commit=Go

[2019-04-18 18:03] skilfullycurled commented on #5490
Oh, also, the users.csv download for 01-01-2013 until 25-04-2013 is returning both incorrect data and incomplete data.  It returns 154 users and those users are random from UID 1 to 58354.

[2019-04-18 18:15] jywarren opened #5527 "Match hyphens in node content when scanning for hashtags"
Since #532, when people post new pages, notes, questions, etc, the site scans the body content using this matcher:

https://github.com/publiclab/plots2/blob/b61ca7d0d9415e23659cf3fd93976349fc3488b4/app/models/revision.rb#L53-L58

It matches using this REGEX:

https://github.com/publiclab/plots2/blob/b61ca7d0d9415e23659cf3fd93976349fc3488b4/config/initializers/constants.rb#L4

And it tags the node

[2019-04-18 18:22] jywarren commented on #4760
If it helps to make a system test for this, perhaps we can narrow down the
issue one step at a time?

On Thu, Apr 18, 2019 at 10:33 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-04-18 18:23] ebarry commented on #4928
ewb: engineers-without-borders
engineers-without-borders: ewb

pole-aerial-photography: pap
pap: pole-aerial-photography

global-climate-change: climate-change
climate-change: global-climate-change

urbanwater: urbanwaters
urbanwaters: urbanwater

[2019-04-18 18:45] SidharthBansal commented on #4760
Sure, resolving (1) right now. Thanks

[2019-04-18 20:04] jywarren commented on #5524
Just on the performance/slowness portion, it could be useful to look at
https://oss.skylight.io/app/applications/GZDPChmcfm1Q/recent/6h/endpoints
and see if it lines up with your queries? and looping in @icarito too!

On Thu, Apr 18, 2019 at 1:48 PM skilfullycurled <notifications@github.com>
wrote:

[2019-04-18 20:06] jywarren commented on #5524
Hmm, that could have been either in the final days of the Drupal site, or
before/after some change in our login sequence!

On Thu, Apr 18, 2019 at 4:04 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-04-18 20:26] skilfullycurled commented on #5524
Here's the [time period](https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1555547760/26m/endpoints?sortKey=endpoint.responseTime%3Adesc).

Maybe this [request](https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1555547760/26m/endpoints/UsersController%23list?responseType=html) (2.1 min) was for searching/aggregating the users so the website charts and figures could be updated, and then thi

[2019-04-18 20:27] #1196 closed

[2019-04-18 21:41] jywarren commented on #5182
Oh this is super. Let's do one more pass and then... go for it? @sagarpreet-chadha @gauravano @SidharthBansal @cesswairimu @stefannibrasil @milaaraujo @ViditChitkara can you try this out and highlight any serious issues?

We will surely have a few days where things get broken a lot, but we can minimize it with one last final check!!! 👀

[2019-04-18 21:42] jywarren commented on #5182
@Souravirus will you be pretty available next week if we merged and published this, to help with fixes? Thank you SO MUCH for all of this.

[2019-04-18 21:46] #3531 closed

[2019-04-18 21:53] jywarren commented on #5484
Hi all! Thank you! I think with the fixed-bottom footer that has the
Publish button, the site-wide standard footer does look confusing. We could
decide that this /post page is the only page on the site where we don't
display it, and wrap it in a conditional tied to the `params[:action]` and
`params[:controller]`, maybe? Or to the route, although i don't know how to
access that in the views.

I'd a

[2019-04-18 21:56] #3122 closed

[2019-04-18 22:02] gautamig54 commented on #5484
Hi @jywarren. I am working on this issue. I think its better if we remove the fixed-bottom footer for editor.
We can then decide where to place the Publish button, history button and draft button.
What do you think?

[2019-04-18 23:23] SrinandanPai commented on #5259
@jywarren I am a ROR developer and I am new to open source. I would like to work on this.

[2019-04-19 00:21] becomingajunior commented on #5489
Thanks!

[2019-04-19 01:42] Souravirus commented on #5182
Yeah I will be available the next week. Thanks!!

[2019-04-19 04:44] ananyaarun commented on #5489
@z119 , Pls wait to be assigned an issue before claiming and working on it next time.
But good work with this one :)
Thanks!!

[2019-04-19 05:42] SidharthBansal commented on #5259
We will love to have your help

On Fri, Apr 19, 2019, 4:53 AM Srinandan Pai <notifications@github.com>
wrote:

[2019-04-19 06:02] divyabaid16 commented on #5510
Well, I would suggest it to put somewhere in the readme (at the bottom)
![Selection_149](https://user-images.githubusercontent.com/32747809/56409433-aab33b00-6296-11e9-87d3-f677bff16fb8.png)
 here:

[2019-04-19 06:18] divyabaid16 opened #5532 "Add hyperlink to Whenever in Readme.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-19 11:58] alonpeer commented on #3298
Hi @z119, I believe this issue is still open. Go ahead!

[2019-04-19 14:17] SidharthBansal commented on #4760
Solving #5521 first.

[2019-04-19 16:31] kaustubh-nair opened #5536 "Make issues on github easier to find"
Plots2 has a lot of issues. Most of the times I have to scan through a lot of open issues to find one that I can solve, since a lot of them are already taken. I think it would be a good idea for reviewers to add the contributor as an 'Assignee' so that new issues are easier to find.

Also they can periodically check if the contributor has been inactive and remove them as an 'Assignee' (We can also

[2019-04-19 17:35] akashraja commented on #5532
Picking this work...

[2019-04-19 19:04] jywarren opened #5540 "Test failure for mentioned users in note"
[code]

[2019-04-19 19:05] CleverFool77 opened #5541 "unanswered cards in answered tab"
## Description
I noticed that even if someone comments down on a question, but it's not answered. Then it is still being shown in `recently answered tab` though there is `no answer tag`.
For eg - Image below.
![Screenshot from 2019-04-20 00-29-49](https://user-images.githubusercontent.com/26685258/56439437-a7a26400-6303-11e9-9107-33bf4d26b88b.png)

So I had a question. If we consider all the tags

[2019-04-19 19:05] CleverFool77 commented on #5541
@publiclab/plots2-reviewers What's your opinion about this ?

[2019-04-19 19:22] namangupta01 commented on #5540
Let me have a look at this

On Sat, 20 Apr 2019, 00:34 Jeffrey Warren, <notifications@github.com> wrote:

[2019-04-19 19:24] namangupta01 commented on #5540
Yesterday, before merging is passed all the tests and also passed on my pc.

[2019-04-19 19:26] namangupta01 commented on #5540
Oh! I see I added the wrong test. My mistake. Sending a pr.

[2019-04-19 19:31] namangupta01 commented on #5540
@jywarren Fixed! Have a look.

[2019-04-19 19:44] eplata31 commented on #5492
Hi @divyabaid16! it is done! Asking for a review
thanks for the opportunity!

[2019-04-19 19:53] ebarry commented on #4614
We've got a clear choice: Sunday 10:30-11:30 PM India time, 1-2 PM East Coast US time.

Topic: Public Lab Software Contributors 2019 Survey Report: Discussion
Time: Apr 21, 2019 10:30 PM India Time / 1:00 PM Eastern Time US and Canada
Place: https://zoom.us/j/346913422
Notes: https://pad.publiclab.org/p/developers

### Ahead of time:

* Please enter the discussion topics you wish to discuss on the

[2019-04-19 20:04] stefannibrasil commented on #5182
Is there a PR with the changes? I could take a look, for sure! :v:

[2019-04-19 20:05] stefannibrasil commented on #5182
This doc was really helpful when  was doing the same on MapKnitter -> https://getbootstrap.com/docs/4.0/migration/

[2019-04-19 20:31] jywarren commented on #5456
Indeed we can remove this. I think it was stashed here long ago. If you'd like to move the login info that'd be great!

[2019-04-19 20:34] jywarren commented on #5510
Sure, at the bottom of the README sounds great!

[2019-04-19 21:12] ValeriaCobianISW commented on #5516
Is somebody working on this issue? I would like to contribute :+1:

[2019-04-19 22:05] jywarren commented on #5182
Yes indeed! https://github.com/publiclab/plots2/pull/3937/  Thanks!

On Fri, Apr 19, 2019 at 4:06 PM Stefanni <notifications@github.com> wrote:

[2019-04-19 22:07] #5540 closed

[2019-04-19 22:08] jywarren commented on #5540
thanks a million!!!

On Fri, Apr 19, 2019 at 3:31 PM Naman Gupta <notifications@github.com>
wrote:

[2019-04-19 23:31] sashadev-sky commented on #5456
@jywarren Ok on it!

[2019-04-20 02:52] jywarren commented on #4928
Noting that as of the latest https://github.com/yohasebe/lemmatizer we can now have spaces in the right-hand terms:

https://github.com/yohasebe/lemmatizer#resolving-abbreviations

Thanks to @yohasebe!!!!! ❤️

[2019-04-20 02:53] #5470 closed

[2019-04-20 03:11] #5497 closed

[2019-04-20 04:19] gautamig54 opened #5546 "Restrict the wiki page edit to only author and admins"
Currently, anyone who is logged in can edit a wiki page. I think it should be restricted to author and admins only.

[2019-04-20 04:20] gautamig54 commented on #5546
@publiclab/plots2-reviewers What are your views on this issue?
If approved, I would like to work on this. Thanks!

[2019-04-20 04:29] sashadev-sky commented on #5502
@ehamamrah Thank you for the PR! It will be reviewed shortly. Please note that typically if you see someone has requested to claim it, they have at least a week to open a PR or even comment some update regarding it until another user can open a PR for it.

So this one should have been for @z119. Noting this not to scold you or anything but just so that you know the workflow and also so that @z119

[2019-04-20 04:32] sashadev-sky commented on #4963
new FTO in LDI: https://github.com/publiclab/Leaflet.DistortableImage/issues/228

[2019-04-20 04:32] sashadev-sky commented on #4963
@z119 the FTO you were interested in in plots2 was taken as I commented there. Sorry for that! I will create you a new one

[2019-04-20 04:33] gautamig54 commented on #5502
@sashadev-sky I'll create another one for @z119.

[2019-04-20 04:42] gautamig54 opened #5547 "Remove duplicate link to wiki pages on notes page"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-04-20 04:44] gautamig54 commented on #5547
@publiclab/plots2-reviewers Kindly review this issue.
@z119 I have opened this issue for you. If this gets approved you can carry on with this.
Drop a comment if stuck. Thanks!

[2019-04-20 04:52] sashadev-sky opened #5548 "Upgrade `sass-rails` to `sassc-rails`"
The gem `sass-rails` has been deprecated in favor of `sassc-rails`. They work exactly the same except file names will now be called `name.scss` instead of `name.css.scss`. The update is simple and conflict free.

[2019-04-20 05:04] sashadev-sky commented on #5502
@gautamig54 sounds good! For an FTO I recommend changing this to _logged in as_ - or removing the logged in as part altogether and just having it say "moderator"

<img width="1024" alt="Screen Shot 2019-04-20 at 1 02 39 AM" src="https://user-images.githubusercontent.com/41092741/56452979-197cac80-6308-11e9-94da-da186f2f4a94.png">

Will you make one out of this?? I will if you don't want to!

[2019-04-20 05:09] sashadev-sky commented on #5182
This will have no changes on Bootstrap upgrades at all but I wanted to post here that I made a PR to upgrade sass-rails to `sassc-rails` (it really doesn't change anything at all except a few file names so it is safe to merge in my opinion!) . Please see here: #5548

[2019-04-20 05:13] sashadev-sky commented on #5102
closed via #5421

[2019-04-20 05:13] #5102 closed

[2019-04-20 05:32] sashadev-sky commented on #5547
@gautamig54 few things to update to make a better FTO:
-  link the production site notes page showing the UI issue you are trying to change
-  add a permalink after asking to remove the wiki pages tab showing exactly what code should be removed

[2019-04-20 05:33] SidharthBansal opened #5550 "Call for Mentors for Google Season of Docs"
Hi all, :open_hands:
I think yeah, it's pretty close timing on the mentor recruitment side for Google Season Of Docs .

**Deadline to fill the form is 23 April.** If we can get 2 mentors for each of plots2, image-sequencer, and LEL, that'd be great.

 So please fill  https://docs.google.com/forms/d/e/1FAIpQLSe-JjGvaKKGWZOXxrorONhB8qN3mjPrB9ZVkcsntR73Cv_K7g/viewform asap

**Please write the reposit

[2019-04-20 05:35] sashadev-sky commented on #5546
@gautamig54 the definition of a wiki inherently means that anyone can collaborate or edit it, so I am going to close this issue! The one restrictions we have on wikis is that a user must have posted their own or a research note first before editing other wikis (this is for spam prevention)

[2019-04-20 05:35] #5546 closed

[2019-04-20 05:35] gautamig54 commented on #5547
@sashadev-sky I'll update the FTO. Thanks!

[2019-04-20 05:36] SidharthBansal commented on #5550
2 mentors is the minimum requirement. We will highly appreciate if we will have more mentors.
It is completely independent program from other SoC programs which we have at PL.

[2019-04-20 05:36] gautamig54 commented on #5502
@sashadev-sky I'll open the issue. Thanks!

[2019-04-20 05:39] SidharthBansal commented on #5550
cc
@jywarren @sashadev-sky @SKashyapD @publiclab/reviewers @publiclab/is-reviewers @publiclab/plots2-reviewers @publiclab/soc @gauravano @Souravirus @sagarpreet-chadha @gautamig54 @CleverFool77 @ishan909 @IshaGupta18 /cc
@kunalvaswani123 @thesparks @faithngetich @DakshGondaliya @mohitRJranjan @milaaraujo @kevinzluo
@stefannibrasil @gauravano @ViditChitkara @tech4GT @mridulnagpal @namangupta01 @sag

[2019-04-20 05:39] SidharthBansal commented on #5550
@publiclab/leaflet-environmental-layers-guides @Paarmita @vishalka98 @publiclab/reviewers @Divy123 @pomyo @bhavayAnand9 @ovipa017-xamk @Mridul97 @avsingh999 @Rishabh570 @subhahu123 @aSquare14 @Radhikadua123 @faithngetich @quinn-codes-synthesis @amychan331 @mardelvalle @narnt @hydro-m @love-opensource @romanrodriguez @shubhangi-chauhan

[2019-04-20 05:41] SidharthBansal commented on #5550
@mohitRJranjan @milaaraujo @kevinzluo
@stefannibrasil @gauravano @ViditChitkara @tech4GT @mridulnagpal @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab @ebarry @jywarren, @sagarpreet-chadha, @JonathanXu1, @uzorjchibuzor, @eli6, @ValentinaTironi, @rexagod, @sashadev-sky, @IshaGupta18, @dinaelhanan, @cesswairimu, @dependabot[bot], @oorjitchowdh

[2019-04-20 05:41] gautamig54 commented on #5502
@sashadev-sky I'll open the issue. Thanks!

[2019-04-20 05:44] SidharthBansal commented on #5550
@Divy123 @bhavayAnand9 @Mridul97 @avsingh999 @Rishabh570 @aSquare14 @Radhikadua123 @quinn-codes-synthesis @amychan331 @mardelvalle @narnt @hydro-m @love-opensource @romanrodriguez @shubhangi-chauhan @Dhiraj240 @geekychaser @codeIriss @CoderJolly @rishabhc32 @chirag-singhal @Saurabh19126848_twitter @IgorWilbert @dhruvgupta167 @vrk99 @pdurbin @dave-light @rexagod @geekychaser @shubhscoder @shubhangi

[2019-04-20 05:45] gautamig54 commented on #5502
@sashadev-sky I have a doubt here. It is actually like "<username> - logged as moderator/admin" and for users who are not logged in as moderators or admins it just shows the username.
In the localhost it shows so is because the username is also moderator, whereas the logged as part is the user role.
What do you think?

[2019-04-20 05:46] Souravirus commented on #5182
Hi @stefannibrasil, you can see the changes [in the unstable branch.](https://unstable.publiclab.org/). Thank you !!

[2019-04-20 05:47] sashadev-sky commented on #5502
Oh!! Ok then lets just make it "logged in as" and keep it. Thank you for looking into this 👍 👍

[2019-04-20 05:52] sashadev-sky commented on #5550
I might just stick to GSoC because I want to be focused on whatever project I get and I think my project will be in LDI, which is not listed here. (this is pending don't for sure know my project as of now)

But I was thinking for people that become GSoC mentors for a project that is listed here, they could easily also help out with this and the two would even compliment each other to help the ment

[2019-04-20 05:54] CleverFool77 opened #5551 "Revert on current revision history"
## Description

As we know that `revert` button in revision history reverts the content of wiki to that instant of change in history.
But I noticed that In revision history , even the current instant of change has `revert` button in there, which should not be there. As Submitting the revert on current version makes a new instant of current instant again. And clicking on it again and again takes it

[2019-04-20 05:54] sashadev-sky commented on #5547
@gautamig54 cool mention me when to look at it again thank you!

[2019-04-20 05:55] CleverFool77 commented on #5551
@publiclab/plots2-reviewers
What's your opinion regarding this ?
Thanks !!

[2019-04-20 06:01] SidharthBansal commented on #5550
Hi Sasha,

I did not get you.

project I get

Please stay focussed on the GSoC. GSoD will be in September to December
period. So, it will be later on. So, if you wish you can mentor both the
programs.

Which repository's project is it?

On Sat, Apr 20, 2019 at 11:23 AM Sasha Boginsky <notifications@github.com>
wrote: