[2019-05-18 15:39] gauravano commented on #5647
Hi @dinaelhanan, I just saw this issue and realized that I have attempted this issue at https://github.com/Souravirus/plots2/pull/1 and it was merged in big bootstrap PR too, but I guess somehow my changes were overwritten, so I have opened a new PR at https://github.com/publiclab/plots2/pull/5736 solving this. As you can see in the image at #5736, there is still scope for improvement in it like h

[2019-05-18 19:17] ananyaarun commented on #5244
@jywarren It works now just tried it !!
Perhaps it was a problem from my side at that time.
I shall close this issue
Thanks!

[2019-05-18 19:17] #5244 closed

[2019-05-18 20:46] gauravano commented on #4758
Hi @jywarren, can we close this or you like to discuss the possibility of Public Lab mobile app here? Maybe, we can think about the mobile app for the next GSoC or Outreachy round? Thanks!

[2019-05-18 20:49] gauravano commented on #5733
Great start here!! I can see some planning issues for your project. Is there any central planning issue where links to all the sub-planning issues can be found or we can discuss general project direction, goal priority, etc? Thanks!

[2019-05-18 20:54] gauravano opened #5737 "Translation project completion"
Here's the list of remaining tasks of Translation project:

- [ ] Translation prompt improvement - https://github.com/publiclab/plots2/issues/5651
- [ ] Updating all the Translation wikis/notes on the publiclab.org
- [ ] Adding documentation for Translation
- [ ]

cc @jywarren

[2019-05-18 21:16] gautamig54 commented on #5707
@CleverFool77 You are right! Completing people's sections seems like a great start. I have updated the issue. Also, I was thinking if we could add a search feature here. It seems relevant and necessary to add search feature. What do you think about it?

[2019-05-18 21:22] gautamig54 commented on #5708
@CleverFool77 I am done with my exams. Let's start with the UI implementation. Let's take it one by one. I will get started with the people's page. Thanks!

[2019-05-18 21:24] gautamig54 commented on #5733
@CleverFool77 division of work is perfect. Let's get started on with it!

[2019-05-18 21:28] gautamig54 commented on #5733
@gauravano We can refer to #4922 as central planning issue.
Should I reopen it or make a new one?
Thanks!

[2019-05-18 21:34] gauravano commented on #5733
please open a new one. You can copy the goals from #4922 . Thanks!

[2019-05-18 22:36] gautamig54 opened #5739 "UI implementation project discussion and planning"
This issue is regarding the planning and discussion for the UI improvement project for summer 2019. This will contain an overview of the project.
The pages to focus on are :
- [ ] Dashboard
- [x] People's page https://github.com/publiclab/plots2/issues/5707

![Screen Shot 2019-05-19 at 2 41 35 AM](https://user-images.githubusercontent.com/35326753/57975640-67113580-79ea-11e9-8831-7eec17144f9d.png)

[2019-05-18 22:42] gautamig54 commented on #5739
@jywarren @gauravano It is a general issue related to UI implementations. We will also be creating separate issues for each page and create a checklist there itself.
@CleverFool77 Kindly add if I missed out something.
Thanks!

[2019-05-19 01:03] CleverFool77 commented on #5708
Hi @gautmig54 After the card part the people page is not clear right now. How about starting with questions page first. That section is most clear. Then we can gradually discuss people page in sideways and work while planning.

[2019-05-19 01:16] CleverFool77 commented on #5739
Hi @gautmig54
I just updated the people section and added some more checklists.
I have started off the assignment.
Could you look at it.
Thanks.

[2019-05-19 08:11] ahmadkarlam commented on #4963
Hello, I'm learning to contribute at Open Source. Is there anything I can help ?

[2019-05-19 10:56] CleverFool77 commented on #5739
I'll link all the issues here.
Thanks !

[2019-05-19 11:02] CleverFool77 commented on #5707
Hi @gautamig54
Which search are you talking about ?
I'm not clear regarding that.
Thanks !!!!!

[2019-05-19 11:06] gautamig54 commented on #5707
Search feature as in where anyone can search for a member on the page. Like we have a search feature on tags page. You get it @CleverFool77 ??

[2019-05-19 11:14] gautamig54 commented on #5707
@CleverFool77 I also see a change in the margins due to which there is a change in card design from vertical to horizontal.

![Screen Shot 2019-05-19 at 4 45 38 PM](https://user-images.githubusercontent.com/35326753/57981448-47fbbd80-7a55-11e9-881e-e8f1be1dcf3d.png)

![Screen Shot 2019-05-19 at 4 45 47 PM](https://user-images.githubusercontent.com/35326753/57981454-4df19e80-7a55-11e9-8f0a-d4494e3e

[2019-05-19 11:24] CleverFool77 commented on #5707
Let's discuss regarding search feature with @jywarren .
@gautamig54 Actually regarding card design. There were two designs. So I went for vertical for now.
But now as we are adding new features. I'll fix it. I have added it in checklist.

[2019-05-19 11:37] gautamig54 commented on #5707
@CleverFool77 So you will be changing the margins as well??

[2019-05-19 11:46] gautamig54 commented on #5739
Also, can we add blogs page and editor in this project as well?
What do you think @CleverFool77 ??

[2019-05-19 12:47] CleverFool77 opened #5741 "Upgrade editform as per bootstrap4"
#### Currently
![editform](https://user-images.githubusercontent.com/26685258/57982363-2e14a780-7a62-11e9-8752-0dd4e6cb7209.gif)

#### Description
Due to usage of bootstrap3 classes and features, The UI has distorted as now we are using bootstrap4.
Fix the UI as per bootstrap4.

[2019-05-19 12:51] CleverFool77 commented on #5693
I read your comments. :smile:
Let's see if someone solves it in here as `fto-candicate` label without files.
If not, then I'll update the location and make it a first-timers only.
Thanks for expressing your opinion with such patience.
I got to know a lot.
Thanks !!!

[2019-05-19 13:14] CleverFool77 commented on #5707
Hi @gautamig54
I guess you have to wait a bit as first #5740 need to get reviewed and merged. How about doing the work in Questions Page like me.
As I told you earlier. I'm taking two issues sideways. As some parts or portions of some issues are dependent on each other and it might make us to stop for a while as we are unable to move further.
Thanks !!!

[2019-05-19 13:17] aSquare14 commented on #5739
@gautamig54  Great work with the issue ! Well-detailed. When you have the designs for dashboard ready link it here ! :)

[2019-05-19 13:18] CleverFool77 commented on #5733
Hi @jywarren @gauravano
As most of the portions in Design issues are dependent. So I'm taking two issues sideways. As some parts or portions of some issues are dependent on each other and it might make us to stop for a while as we are unable to move further.
I just opened one PR for beginning the work for People section #5740 . And till it would get reviewed and merged. I wanted to begin the work

[2019-05-19 13:27] CleverFool77 commented on #5739
Just a bit, I guess there are still some changes going on in design of dashboard.
But no worries. We'll add it eventually.
But till then, we can add the latest design of dashboard yet.
How about that ?
Regarding blogs page and editor page. There are still some people working on them. maybe we should wait for while and if there is no progress, we can add it in our todos and complete it.
Thanks !!!

[2019-05-19 13:47] CleverFool77 commented on #5733
HI @jywarren @gauravano
I wanted to ask that Is first section of questions page not available in plots2 code ?

![Screenshot from 2019-05-19 19-17-26](https://user-images.githubusercontent.com/26685258/57983036-c31b9e80-7a6a-11e9-9f5b-4c0192ba363c.png)

[2019-05-19 13:51] pdurbin commented on #5722
I just noticed "check if the site is running slowly" in the Public Lab footer. It looks like this...

<img width="641" alt="Screen Shot 2019-05-19 at 9 41 01 AM" src="https://user-images.githubusercontent.com/21006/57982962-43fe7a00-7a1a-11e9-9683-c9425da58125.png">

... and links to https://oss.skylight.io/app/applications/GZDPChmcfm1Q/recent/6h/endpoints which looks like this:

<img width="1141"

[2019-05-19 15:09] alaxalves commented on #5725
After we close https://github.com/publiclab/mapknitter/issues/604 we could get into this.

[2019-05-19 15:10] namangupta01 opened #5742 "Notification System using Web Sockets (Action Cable)"
For Notification System, we need to Implement WebSockets using Action Cable which is implementing WebSocket.
Here's the checklist of all the task lists.
- [ ]  Basic Setup of Action Cable.

[2019-05-19 15:12] namangupta01 commented on #5742
@gautamig54, @jywarren  Have a look. I am adding tasks related to Notification Using WebSockets here. Feel free to add.

[2019-05-19 15:13] namangupta01 opened #5743 "Basic Implementation and setup of Action Cable into Plots2"
For implementing Notification using WebSockets, we need to implement ActionCable.
Let's set up the action cable into the project.

[2019-05-19 17:20] CleverFool77 commented on #5708
Hi @jywarren
I was going through the searh results UI section.
I did some chnages to code and did this (below)
![Screenshot from 2019-05-19 22-48-17](https://user-images.githubusercontent.com/26685258/57985637-5dd6a600-7a88-11e9-9167-2a2d51906e9f.png)

Is pill size correct or is there need to chnage this.
Should the design be like this only ? I need suggestion so that I can move forward.
Thanks !!

[2019-05-19 18:36] gautamig54 commented on #5739
@CleverFool77 Sounds great!!!
@jywarren can add the design of the dashboard once it is ready.
Thanks!

[2019-05-19 18:46] gautamig54 commented on #5742
@namangupta01 I had a question here. Will we implement a notification system on the website, like a separate page which has all the notifications?

[2019-05-19 18:51] namangupta01 commented on #5742
Yes, we will be going to implement that also. In fact, we should discuss it. Would you like to work on the UI part, design and all of that?

[2019-05-19 18:52] namangupta01 commented on #5742
Can you create an issue for it? So that we along with @jywarren can discuss about it?

[2019-05-19 18:54] gautamig54 commented on #5708
@CleverFool77 I think it will look better if you can reduce the pill size and shift the left column downwards.

[2019-05-19 18:58] namangupta01 opened #5745 "Notification wall"
We also can have a place where a user can see all the notification just like facebook, Quora, twitter etc.

Let's discuss @gautamig54 and @jywarren !

[2019-05-19 18:59] gautamig54 commented on #5742
Sure @namangupta01, I would love to work with its UI part. I will open an issue for the same.
Also, will we create the notification system for the comments only as mentioned in the to-dos by you. And currently, we get mails regarding the comments only. That's why I was thinking of expanding the notification system to adding features like following an user or starring etc. What do you think about t

[2019-05-19 18:59] namangupta01 commented on #5742
@gautamig54 Opened an issue #5745. Have a look.

[2019-05-19 19:01] namangupta01 commented on #5742
Yeah! That seems interesting. We can add different type of notifications -- as you have mentioned.

[2019-05-19 19:03] gautamig54 commented on #5745
Yes @namangupta01. I was talking about this only. This will give a better way for users to track their feed and activities. There are various gems which we can use to implement this. I have mentioned them in #5400
@jywarren What do think about this?

[2019-05-19 19:06] gautamig54 commented on #5742
Cool! Let's wait for @jywarren and @gauravano to give their thoughts about this.
So, should we start with action cable implementation first or this one? According to me, starting with implementing this feature is better if are planning to add different types of notifications. What say @namangupta01 ??

[2019-05-19 19:12] namangupta01 commented on #5742
I think we both can divide our work here and work simultaneously. You working on this feature and me on the web socket integration? And also help out each other in between. What do you say?

[2019-05-19 19:14] gautamig54 commented on #5707
Yes @CleverFool77. Even I will follow the same strategy and work on two tasks simultaneously. I will implement the Add location option as it is not related to the cards design.

[2019-05-19 19:14] namangupta01 commented on #5742
I mean you working on Notification Wall feature? What do you think?

[2019-05-19 19:16] gautamig54 commented on #5742
That sounds great @namangupta01! I will get started with the notification wall!

[2019-05-19 19:17] gautamig54 commented on #5745
I will come up with a mock up design of the notification wall in a day or two.

[2019-05-19 19:22] namangupta01 commented on #5745
Cool!

On Mon, May 20, 2019 at 12:48 AM Gautami Gupta <notifications@github.com>
wrote:

[2019-05-19 21:57] gauravano commented on #5733
I just opened one PR for beginning the work for People section #5740 . And till it would get reviewed and merged. I wanted to begin the work in Questions Page.

Sounds great!

I think the image tagged by you at https://github.com/publiclab/plots2/issues/5733#issuecomment-493756709 is kind of example of what a question looks like or it's more like representing that one can ask questions and collabo

[2019-05-19 23:51] gauravano commented on #4963
Hi @konolga and @ahmadkarlam, added your name to the above list and we'll mention you soon on FTO issues. Also, you can go ahead and try to find the unclaimed or outdated FTO issues from https://code.publiclab.org/#r=all. Thanks!!

[2019-05-20 00:27] #5516 closed

[2019-05-20 01:40] sashadev-sky commented on #5627
@skilfullycurled hi! I wrote a [research note](https://publiclab.org/notes/sashadev-sky/05-16-2019/public-lab-s-contribution-framework-deep-dive-2019?_=1558316207) this week and I mentioned your work to improve PL's checkins :)

I mentioned you then realized that's not your PL account handle - do you have one? You should consider making one; I would love to give you credit!

[2019-05-20 02:39] skilfullycurled commented on #5627
@sashadev-sky!  I'm [bsugar](https://publiclab.org/profile/bsugar#2/33.0/-84.0/BL1)!!  This is my comment [here](https://publiclab.org/notes/sashadev-sky/05-16-2019/public-lab-s-contribution-framework-deep-dive-2019?_=1558316207#c24171).  I must not have noticed my own handle because I wasn't expecting my github account on PL.

It's such a great piece.  What makes PL "work" is something that I fin

[2019-05-20 02:41] skilfullycurled commented on #5627
Oh, @sashadev-sky, feel free to "resolve" these comments after you read them.  I don't think I have those permissions.

[2019-05-20 02:58] AnshitaVishwa commented on #5360
@gauravano I would like to work on this issue. can i continue with this issue?

[2019-05-20 04:09] sashadev-sky commented on #5627
@skilfullycurled aw that's really sweet!! Glad to include you - listing them here is a great idea.

I just updated this today, which is probably why you didn't see it before. I will update it to use your correct handle right now

[2019-05-20 05:39] sashadev-sky commented on #4963
@konolga you can work on https://github.com/publiclab/mapknitter/issues/621. Thank you!! I'll mention you there too :)

[2019-05-20 07:00] sagarpreet-chadha commented on #4963
Hi everyone ,
If anyone is up for some research work , we have this FTO issue up in leaflet-environmental-layers:  https://github.com/publiclab/leaflet-environmental-layers/issues/53 .
Thanks 😄 !

[2019-05-20 07:00] CleverFool77 commented on #5707
Hi @gautamig54
yes, you can start off with location as it doesn't seem related.
thanks !!!

[2019-05-20 07:08] CleverFool77 commented on #5708
Hi @gautamig54 So should it be 3/4 of what it is right now ?
![Screenshot from 2019-05-20 12-37-18](https://user-images.githubusercontent.com/26685258/58002447-06721d80-7afc-11e9-83e3-5ca32beae049.png)

[2019-05-20 07:42] sagarpreet-chadha commented on #4963
And these FTO's are also up for grab :smile: :

- https://github.com/publiclab/leaflet-environmental-layers/issues/176

- https://github.com/publiclab/leaflet-environmental-layers/issues/177

- https://github.com/publiclab/leaflet-environmental-layers/issues/178

[2019-05-20 09:19] IshaGupta18 commented on #5708
Hey this looks pretty great!

[2019-05-20 10:15] gautamig54 commented on #5708
@CleverFool77 The original width of the pill looks better. Maybe you can try altering the height of the pills and also centre align the text in the them.

[2019-05-20 13:47] #5565 closed

[2019-05-20 13:51] jywarren commented on #5683
So: after connecting with @icarito on this, our best theory right now is that actually the slowdown in overall test run is from installation of `google-chrome-stable`, not from actually running the system tests.

However, we are also seeing system test failures which seem timing related.

HYPOTHESIS: Potentially, whatever is causing `google-chrome-stable` to take so long to install is slowing down

[2019-05-20 13:54] jywarren commented on #5683
@alaxalves with your experience in Docker, would you be able to offer any insights here? Noting that @icarito has been working the overall test run speed in https://github.com/publiclab/plots2/pull/5730/

Thanks, all, this is becoming a bit urgent as many PRs are failing due to these issues! Many thanks for your work on this. Also mentioning @publiclab/plots2-reviewers @publiclab/soc to just make

[2019-05-20 14:47] alaxalves commented on #5683
@jywarren What I have suggested in https://github.com/publiclab/mapknitter/pull/605 improves our build time, since everything is run in parallel. Regarding the variable `Capybara.default_max_wait_time`, during a Rails 5 upgrade in [Noosfero](https://gitlab.com/noosfero/noosfero) we have switched our driver from Firefox to Chrome, and we have set this variable to `60`. Check it out: https://gitlab.

[2019-05-20 14:56] CleverFool77 commented on #5708
Hi @gautamig54 Thanks for your opinion.
let's wait for @jywarren's  view regarding this.
Then I'll proceed further and fix it.
Thanks.

[2019-05-20 15:25] subhahu123 commented on #4585
@jywarrren  when will list of mentors be announced ?

[2019-05-20 16:13] jywarren commented on #5708
Hi! need to catch up here... sorry! Hopefully today, and @ebarry has input too. But wanted to link in this side-issue where we are thinking that the typeahead search might only return tag results, as shown in the mockup:

![Screen Shot 2019-05-13 at 12 51 33 PM](https://user-images.githubusercontent.com/24359/58036275-b6de2280-7af8-11e9-94fe-dca46af6c84c.png)

That's covered in this issue: https:/

[2019-05-20 16:19] jywarren commented on #5708
Hi, the pills look good; are they using the standard Bootstrap vertical navs with pills? https://getbootstrap.com/docs/4.3/components/navs/#vertical

In general, using the defaults with as little extra CSS as possible will be great to keep our long-term maintenance low. But this is looking great. We will be wanting also to begin to show fewer types in the nav - just "Content" and "People" -- altho

[2019-05-20 16:21] jywarren commented on #820
Moving to "featured search" at https://github.com/publiclab/plots2/issues/5708, and we can break this out again into a new issue once it's thought through!

[2019-05-20 16:23] jywarren commented on #5708
For featured results, we could:

1. keep a text document with `searchterms` and `nids` in 2 columns, or comma-separated
2. use tags like `featured-search:searchterm` -- but this is kind of ugly and wouldn't work for search terms that include punctuation or spaces
3. we could keep the text document in a Feature: https://github.com/publiclab/plots2/blob/master/doc/DATA_MODEL.md#features

[2019-05-20 16:31] ebarry commented on #3707
Hi! Circling around to this with an update. As we consolidate an approach to Search, we have highlighted this issue in: https://github.com/publiclab/plots2/issues/5708#issuecomment-491901862

In the new approach, typing in a search term will show you any exact match tags as well as related tags on all searches, and then clicking on any of those will show you all the content tagged with that tag. I

[2019-05-20 16:31] #3707 closed

[2019-05-20 16:42] jywarren commented on #1184
Just tried this via JS and it didn't seem to register anything on live Google Analytics:

[code]

![image](https://user-images.githubusercontent.com/24359/58037988-bf385c80-7afc-11e9-9082-0630c534364a.png)

[2019-05-20 16:55] jywarren commented on #1184
OK, i was able to get it to work with this:

`tracker = ga.getAll()[0];tracker.send("pageview", "search/JEFF", "Test GA");` using:

https://developers.google.com/analytics/devguides/collection/analyticsjs/accessing-trackers

https://stackoverflow.com/questions/15744042/events-not-being-tracked-in-new-google-analytics-analytics-js-setup#40761709

[2019-05-20 17:24] CleverFool77 commented on #5708
hi @jywarren
regarding pills, I used standard bootstrap4 classes.
As you said that according to new style guide, there would be fewer options which is `content` and `people`.
So should I code the UI for new style guide with fewer options, Or should I follow the method which is still being followed which has 6-7 options ?
regarding other parts, me and @gautamig54 will add them as checklist in this

[2019-05-20 18:38] jywarren commented on #5683
Whoa, 60 seconds? Well, we can try this, but formerly I thought this had been causing the really long build times. Now that we are thinking it could actually be an issue with installing `google-chrome-stable`, maybe this is reasonable?

[2019-05-20 18:49] jywarren commented on #5683
OK, trying `Capybara.default_max_wait_time = 60` in #5681 -- hold on to your seats!

[2019-05-20 19:21] gauravano commented on #3897
Hi @shriyakaneriya @niravasher, can we close this issue? Thanks!

[2019-05-20 19:23] jywarren commented on #5683
Hmm. It seems to have had a positive effect since i'm seeing more tests pass - like #5748, but some don't, like https://github.com/publiclab/plots2/pull/5654

[2019-05-20 19:24] #1184 closed

[2019-05-20 19:35] jywarren opened #5749 "Translation prompts interrupting some button HTML"
![Screen Shot 2019-05-20 at 3 33 49 PM](https://user-images.githubusercontent.com/24359/58046935-bce1fc80-7b14-11e9-8777-131bd2dd6148.png)

#5651 related -- @gauravano this is on the /subscriptions page -- will this be addressed via the "not ones with HTML in them" adjustment? Thanks!

[2019-05-20 19:38] jywarren commented on #5612
OK, and one more here -- the footer seems to be all in one column - we're almost there!

![image](https://user-images.githubusercontent.com/24359/58047092-3d086200-7b15-11e9-9d29-fb4859bc10b7.png)

[2019-05-20 19:38] jywarren commented on #4925
I think this'll be a very quick fix!

[2019-05-20 19:40] jywarren commented on #5612
Fixed the footer! It was in a feature!

[2019-05-20 19:41] jywarren commented on #5618
Hi @gautamig54 I agree that the Read Me button can be removed!

[2019-05-20 20:06] gauravano commented on #5749
Hi @jywarren, I have raised a PR for Translation prompt improvement - https://github.com/publiclab/plots2/pull/5738 and that will solve this issue. A system test is failing so, I am going through system test and will resolve it ASAP. Thanks!

[2019-05-20 20:56] jywarren commented on #2020
https://github.com/publiclab/plots2/pull/3007

[2019-05-20 20:56] jywarren commented on #2665
Thinking that this may be fixed in https://github.com/publiclab/plots2/pull/3007 and/or with a follow-up applying this to nodes.

[2019-05-20 21:11] jywarren commented on #5612
Questions page profile images seem to be inflated:

https://publiclab.org/questions/stevie/05-20-2019/what-happens-to-the-simple-air-sensor-when-the-battery-pack-runs-low#answer-0-comment-24212

![image](https://user-images.githubusercontent.com/24359/58052225-43510b00-7b22-11e9-8632-861a5216135f.png)

[2019-05-20 22:22] gauravano commented on #5749
Solved in #5783

[2019-05-20 22:22] #5749 closed

[2019-05-20 22:24] gauravano commented on #5651
Reopening as limiting the prompt number on screen part is remaining @jywarren

[2019-05-20 22:41] jywarren commented on #4585
I'm sending invitations now! I did note that the form wasn't as specific as the requirements listed at the top -- it just asked for 2 FTO URLs. But actually the first is one you SOLVED and the second one is one you POSTED for someone else to solve. I'd love if those who didn't add the 2nd type could either re-fill the form or leave a comment here with the extra URL. Thanks!

[2019-05-20 22:49] #5547 closed

[2019-05-20 22:56] jywarren commented on #4585
OK, i went through the list - thanks all! Once you accept I'll add you to the right teams and assign projects (and this can be changed too, later!)

I held off on 2-3 because of the ambiguity in the form, for which I apologize - if people who didn't get an invite could check and really look to be sure they've /created/ a first-timers-only issue, and reviewed someone else's PR, and provide those li

[2019-05-20 23:40] jywarren commented on #5612
And another small but important one -- as the navbar gets narrower, we had it set up to bump items into the dropdown menu, but they aren't displaying properly now;

![image](https://user-images.githubusercontent.com/24359/58058453-0cd1bb00-7b37-11e9-8805-c2107ae7fd58.png)

[2019-05-20 23:55] jywarren commented on #766
Reopening this to repeat for other types of grids after testing in https://stable.publiclab.org !

now, it only works in `[notes:______]`

[2019-05-21 00:08] jywarren commented on #766
Cool! It kind of works, although it's not pulled to the top:

![image](https://user-images.githubusercontent.com/24359/58059467-05acac00-7b3b-11e9-8235-b6e58b2a070e.png)

[2019-05-21 00:08] jywarren commented on #766
https://stable.publiclab.org/wiki/sandbox

[2019-05-21 00:11] jywarren commented on #766
Hmm, not sure why it's not at the top:

https://github.com/publiclab/plots2/blob/d0c98e201b46eb9283e687588ec835228dafb998/app/models/concerns/node_shared.rb#L129

[2019-05-21 00:13] jywarren commented on #766
Aha! oops, i used `pinned` in the view but `pin` in the model!

[2019-05-21 00:13] jywarren commented on #766
Yep - ok, fixing!

![image](https://user-images.githubusercontent.com/24359/58059616-bfa41800-7b3b-11e9-993b-e3f1b2be8a48.png)

[2019-05-21 00:16] jywarren commented on #766
Fixed in https://github.com/publiclab/plots2/commit/4ac6e9adfff3523608425f37c7f635346003a40a !!!

[2019-05-21 00:17] jywarren commented on #766
Now, let's re-apply #5681 to the other grids in:

https://github.com/publiclab/plots2/blob/master/app/models/concerns/node_shared.rb

That'll require the same changes to these templates!

https://github.com/publiclab/plots2/blob/master/app/views/grids/

[2019-05-21 00:21] alaxalves commented on #5683
Installing `google-chrome-stable` definitely is a big cause to the long builds duration. Those random failing tests might also be related to this:
![image](https://user-images.githubusercontent.com/19597045/58059863-28dc5900-7b45-11e9-8803-c7f40c4e3be5.png)

@jywarren I could work on this if you want, but I'd freeze my work on Mapknitter for a while. What do you say?

[2019-05-21 00:22] jywarren commented on #4732
Almost there now! I think we need to adjust image aspect ratio:

![image](https://user-images.githubusercontent.com/24359/58059923-f4649f00-7b3c-11e9-9e6c-af0c76276ffd.png)

Also, i confirmed, posts are getting included day after day, so I'm not sure why but maybe it's sending for any revisions, or something?

[2019-05-21 00:25] jywarren commented on #766
And, we should add a "pin this post" to the tagging menu, so this is easier to do!

[2019-05-21 00:26] jywarren commented on #5683
Well, it's your call -- we'd love your help on this, but if you feel it'd
compromise your other work, I totally understand! But I'm fine with it if
you are ok spending a little time on this? Thank you, in any case!

On Mon, May 20, 2019 at 8:22 PM Álax de Carvalho Alves <
notifications@github.com> wrote:

[2019-05-21 00:41] alaxalves commented on #5683
@jywarren This week I'll take a look a this, I'd like get this train rolling and start some DevOps improvements in here too. No problemo. :smile: :muscle:

[2019-05-21 03:58] Dhiraj240 commented on #4585
@jywarren Thank You, sir, I have received it and accepted it too. Waiting to get the "spectral workbench" project get assigned.
Also, I used different email id while accepting which is dhirajcoolssharma@gmail.com
Sorry for doing this as in the earlier one I opted as a student so I had to use another one.

[2019-05-21 04:34] sk9331657 commented on #4585
@jywarren  Sir , I am waiting for the invitation .

[2019-05-21 06:11] rbhatia46 commented on #4585
@jywarren Thanks for the invite. I have used a different email address(16ucs149@lnmiit.ac.in) to signup as a mentor. I am looking forward to help with the projects associated with Image Sequencer.

[2019-05-21 06:51] AnshitaVishwa commented on #5346
@gauravano  i would like to work on this issue. I am new to public lab.

[2019-05-21 07:43] SidharthBansal commented on #5684
Great

On Sat, May 18, 2019, 1:05 AM Naman Gupta <notifications@github.com> wrote:

[2019-05-21 08:10] ananyaarun commented on #5346
@dimpho0101 are you still working on this issue :) ?
Else @AnshitaVishwa can take it up.
Do let us know.
Thanks :)

[2019-05-21 08:12] CleverFool77 commented on #5733
Hi @gauravano According to new design , we can have it to not have as a feature. What do you say. Let's wait @jywarren's view.
Regarding gif feature of showing typing and posting process. You mean in first section ?

[2019-05-21 08:15] CleverFool77 commented on #5612
Referencing the Issue https://github.com/publiclab/plots2/issues/5741 .
- [ ] updating forms as per bootstrap4

[2019-05-21 08:32] gautamig54 commented on #5733
@CleverFool77 I think, the description is the latest question asked by the logged in user and the link to the responds. The image is the profile image of the user. It is a valid feature. If a user hasn't asked any questions, we can show as no question asked in the description.

[2019-05-21 08:38] gautamig54 commented on #5708
I have added the other features in the checklist.
@CleverFool77 Let's discuss them and get to work!
Thanks!

[2019-05-21 09:18] gautamig54 commented on #5707
Also, alignment of the left and right column is required.

![drawisland](https://user-images.githubusercontent.com/35326753/58083864-68ec1c00-7bd7-11e9-8992-aad1a6c889b5.png)

[2019-05-21 10:22] CleverFool77 commented on #5707
Thanks for mentioning @gautamig54 I guess `people` text went out of column grid. That's why it wasn't algined.
 I'll fix it.
Thanks !!

[2019-05-21 10:28] CleverFool77 commented on #5733
Ohh I thought the description is information based of community building like You Ask a questions here and etc.
First, I did thought it's profile picture but now I'm thinking what would be use putting of profile picture here.
So I wanted to someone to clear doubt.
Thanks !!!

[2019-05-21 10:29] CleverFool77 commented on #5708
Great :+1:

[2019-05-21 10:55] CleverFool77 commented on #5707
Oh I just went through it and realised that it's due to margin-top in map. I'll fix it. Thanks !!!

[2019-05-21 11:51] CleverFool77 commented on #5612
Hi everyone, I would like to some of the follow-up fixes for bootstrap4.
Thanks !!!

[2019-05-21 13:48] #5705 closed

[2019-05-21 14:15] gauravano commented on #5733
Same thought. Let's wait for @jywarren.

[2019-05-21 14:25] dannomayer commented on #4963
Hi,

Interested in contributing, preferably back end logic. Thanks!

[2019-05-21 15:27] jywarren opened #5758 "Fix "3 column print format" post Bootstrap"
in #1622 we did this, and it's worked really well, but post Bootstrap 4 update it needs some work.

We're catching follow-up issues one by one in #5612, but this is a big enough one that I thought we should open an independent issue.

![image](https://user-images.githubusercontent.com/24359/58106255-cec7ac00-7bb5-11e9-9e6d-911f681c2c7d.png)

I would guess we need to tweak these files:

https://git

[2019-05-21 15:28] jywarren commented on #5758
For reference, they used to print in nice 3-column PDFs for making brochures, like this!

![image](https://user-images.githubusercontent.com/24359/58109404-92974a00-7bbb-11e9-95a5-2f6d4e6dab36.png)

[2019-05-21 15:29] gautamig54 commented on #5707
@CleverFool77 I have implemented the add location button.
You can now start with the tags and I will start with the ellipses.
Thanks!

[2019-05-21 15:38] CleverFool77 commented on #5707
Hi @gautamig54
Great Work !!!!
I'll start off with tags then :smiley:
Thanks !!

[2019-05-21 15:40] jywarren commented on #5612
Hi, we'd love your help! Especially with the navbar, actually, as that
affects every page!

On Tue, May 21, 2019 at 7:52 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-05-21 15:47] jywarren commented on #5707
This is looking great - and noting that all the extra text on the people
card, once replaced with the tags, could then be moved to a popover menu
under the "..." button, how does that sound? And, perhaps we should only
show 3 tags -- the 3 most popular tags people are subscribed to (so, like,
based on # of subscribers?)

If we find that this causes slow page loads, we could cache the tags people
a

[2019-05-21 15:51] gautamig54 commented on #5707
Yes @jywarren, I am working on creating the ellipses which has member's other details. We have added it to the checklist. Thanks!

[2019-05-21 15:52] CleverFool77 commented on #5707
Sure @jywarren It would great to have some links regarding the example of caching.
Thanks !!

[2019-05-21 16:00] jywarren commented on #5707
Here's a good example of a template cache that expires in a set amount of
time:

https://github.com/publiclab/plots2/blob/eafff3811de4e7c19d49fbb2968a38ebeed7830f/app/views/home/home.html.erb#L8

So, you do need to set a globally unique key for the cache, and I would
recommend using the username in it, so it's unique per-user. Make sense?
This is also a good resource:
https://guides.rubyonrails.or

[2019-05-21 16:03] ebarry commented on #4928
filter: filtering
filtering: filter

filter: filtration
filtration: filter

filtration: filtering
filtering: filtration

[2019-05-21 16:04] jywarren commented on #5708
Let's aim for the 2 types. This will require some controller changes as
well, though! Do you feel like you're able to read through how the
controller works to provide different types, and the API documentation to
show notes+questions+wikis together as "content"? @milaaraujo
and @cesswairimu may know more about these and could potentially offer some
input?

On Mon, May 20, 2019 at 1:24 PM Lekhika D

[2019-05-21 16:06] jywarren commented on #4928
Hi Liz, i believe all of these will be covered by lemmatization, thanks!

On Tue, May 21, 2019 at 12:04 PM Liz Barry <notifications@github.com> wrote:

[2019-05-21 16:16] jywarren commented on #5733
Hi all! Let's do everything above the "What's your question" form as a feature, so it can be tweaked. We'll assume the speech bubble and profile image is a static image for now (can work on this later, and we'd love help making that, but it can be prototyped and saved in a Gist for copying into the Features system).

The form below should actually be a questions form. But we can look to the one at

[2019-05-21 16:23] CleverFool77 commented on #5733
Hi @jywarren
Regarding first section, I'll write the code and share it in the link of gist here.
So the first section would have a static image and some information like `Ask the community` in right side of it. What would be there after clicking the Learn more link ? Should it be linked to wiki ?
Thanks !!!!

[2019-05-21 18:27] jywarren commented on #5708
Aha! https://github.com/publiclab/plots2/blob/439d3ce4feed3fdef5323b679ed2b04c8bc93179/app/services/search_service.rb#L29

[2019-05-21 18:39] gautamig54 commented on #5733
@CleverFool77 There is a wiki regarding Q and A (https://publiclab.org/wiki/public-lab-q-and-a). You can link "learn more" to that.
Thanks!

[2019-05-21 19:03] gautamig54 commented on #5733
I am starting with the questions input form and I had a few doubts.
The "Next" option will link to the questions editor like the "continue" in the present ui?
and what are the other options here?
Thanks!

[2019-05-21 19:50] simonastefan commented on #3840
Hello all, if anybody else runs into errors when running the tests right out of the box with the default SQLite in development (I currently get `4 failures, 10 errors`)  consider switching to [MariaDB/MySQL](https://github.com/publiclab/plots2/blob/master/doc/TESTING.md#how-to-run-plots2-with-mysql-on-development-and-test-environments). That fixed all of them for me.

Some of the errors are clear

[2019-05-21 20:05] cesswairimu commented on #3840
Thanks @simonastefan for sharing your fix. Yes, some tests are failing while using SQLite3. There is a discussion of defaulting to one DBMS in the near future for all the envs to avoid this [here](https://github.com/publiclab/plots2/issues/4896). Glad you were able to setup a db that works for you :tada:

[2019-05-21 21:02] ebarry commented on #4928
fossil-fuel: oil-and-gas
oil-and-gas: fossil-fuel

[2019-05-21 21:35] jywarren commented on #5714
This is not live yet -- probably late this week!

[2019-05-21 21:37] jywarren commented on #766
Doing this in https://github.com/publiclab/plots2/pull/5760, although it only tests `nodes` so we should expand the tests, as in:

https://github.com/publiclab/plots2/blob/2c272510bf2389e45280ab6f0af920af29de214a/test/unit/node_shared_test.rb#L14-L25

[2019-05-21 22:23] gauravano commented on #4963
Hi @dannomayer, I've added your name to the above list and we'll mention you as soon as task matching your preference pops up. Also, as many of the FTO tasks are the frontend issues or documentation, so maybe you would be interested in taking up a little bit complex task? If that so, let me know the language or framework you prefer. Thanks!

[2019-05-22 00:10] jywarren commented on #5733
I think ideally, "next" might just post it? What do you think?

On Tue, May 21, 2019 at 3:04 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-05-22 00:12] jywarren commented on #5739
Just noting - more soon here, sorry! but that the tag page is probably going to be much updated based on the style guide! There's a design at page 8 - what do you think?

https://docs.google.com/presentation/d/1-XHlVn3KQxSjS5WzHgc1l1qvFwqUC5f3-7GXugUP9u4/edit?ts=5cab5403#slide=id.g5926e39f86_0_189

![image](https://user-images.githubusercontent.com/24359/58138539-a4510f80-7c04-11e9-85d1-8d0de80ae4

[2019-05-22 00:13] jywarren commented on #5739
And, I can't find it right now but I believe there's an issue open for updating the /tags page to Bootstrap 4 as well!

[2019-05-22 00:26] jywarren commented on #766
Wow, #5760 is done - no extra tests, but let's try it out on stable!

[2019-05-22 00:26] jywarren commented on #766
Also noting we may want a related feature of `pinned people` -- lead organizers, say, using a `userTag`... to be discussed!

[2019-05-22 00:34] jywarren commented on #5719
Noting that tag search uses this path: https://publiclab.org/tag/suggested/balloon

https://github.com/publiclab/plots2/blob/d55c716621d8072d0ffcd51b46c6b2b240ce5f4d/app/controllers/tag_controller.rb#L376-L391

[2019-05-22 00:48] jywarren commented on #766
This works great. Unfortunately it doesn't pin separately for `[questions:balloon-mapping]` and `[activities:balloon-mapping]` and `[notes:balloon-mapping]`. `pin:balloon-mapping` pins to all three. We should fix that in `node_shared.rb` by tweaking the `tagname` variable???

[2019-05-22 00:58] jywarren opened #5761 "Slow cache generation on profile API endpoint"
Related to #4561!

https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1558392120/1d/endpoints/Srch::Search%20%5BGET%5D%20srch%2Fprofiles

![image](https://user-images.githubusercontent.com/24359/58139871-bcc42880-7c0a-11e9-85cc-cc87c7ec9806.png)

https://stackoverflow.com/questions/27574861/slow-cache-read-on-first-cache-fetch-in-rails

So.. after some research, it seems like maybe... we should

[2019-05-22 01:00] jywarren commented on #5761
If this works, we may want to re-examine this too: https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1558464720/6h/endpoints/Srch::Search%20%5BGET%5D%20srch%2Fcontent

[2019-05-22 02:40] #5725 closed

[2019-05-22 05:04] aSquare14 commented on #5684
@SidharthBansal  Can you please add me to the reviewers chat on gitter so that I can discuss a few things with you all ! :)

[2019-05-22 06:44] CleverFool77 commented on #5675
Hi @divyabaid16
Are you still working on this Issue. If not, I would like to add this to summer tasks as me and gautami are working on design and updates.

[2019-05-22 06:51] CleverFool77 commented on #5739
https://github.com/publiclab/plots2/issues/5675 This one is tags page update issue.
I pinged the assignee, as soon as there is reply. The work will start on bootstrap upgrade.
After that we will work tags page based on above design.
Thanks !!!

[2019-05-22 07:46] divyabaid16 commented on #5675
Okay you may add this :)

[2019-05-22 08:50] CleverFool77 commented on #5733
Is first section should be something like this ?
Image attached below
![Screenshot from 2019-05-22 14-18-58](https://user-images.githubusercontent.com/26685258/58160776-bda59a80-7c9c-11e9-96b4-a08f0f12a851.png)
Thanks !!

[2019-05-22 10:59] CleverFool77 commented on #5675
I'll take this one then.
Thanks !!
cc : @gautmig54

[2019-05-22 15:30] jywarren commented on #5761
It's down to ~2.6s in stable without caching, versus ~3.5s in production with caching. I think that's promising but let's see how it does in production as well, and monitor Skylight to see if the cache generation line drops, and overall speed improves.

[2019-05-22 18:58] jywarren commented on #1159
Filed a follow-up to try to ensure the returned URL is the original size if it's a big gif, also broke out `is_big_gif` as a method: https://github.com/publiclab/plots2/commit/76ee978074d3f03b708dd2498bc1ce5ea13aa120

[2019-05-22 19:11] ebarry opened #5768 "Text boxes on the Profile Edit page are too small since Bootstrap update"
I was originally going to file an issue about gif upload on Profile Pages, but when i went to edit mine, i saw that the recent site update had made the text boxes on the Edit Profile too small for a prolific writer and gif uploader like myself, specifically:

- the Bio Text box cannot be expanded to the right

![profile-editing-since-update](https://user-images.githubusercontent.com/161439/5820168

[2019-05-22 19:20] jywarren commented on #5768
Thanks for reporting - linking to
https://github.com/publiclab/plots2/issues/5612 as well!

On Wed, May 22, 2019 at 3:12 PM Liz Barry <notifications@github.com> wrote:

[2019-05-22 19:40] dinaelhanan commented on #5741
this is directly related to #5768 . I want to work on this, but do know where I should look to make these changes?

[2019-05-22 19:51] jywarren commented on #5733
Ooh! Looks good! Are we going to try developing this at a "shadow" page
while all the pieces come together? Like /questions2 ? Then once it's
complete, copy it over the original? What do you think?

Thanks a lot, this is awesome!!!

On Wed, May 22, 2019, 4:51 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-05-22 20:08] steviepubliclab commented on #5612
Hi all! thanks for all the work on this. Wow!!

One suggestion, I've been finding since the update that I'm reducing the zoom on my Public Lab windows to 75% so I can see enough on one page to make out what's going on. Anyone else experiencing this? Is there a way to decrease the font size?

[2019-05-22 20:12] publiclab-mimi opened #5770 "Profile Page Issues"
Hey guys, two bugs to report on the Profile Page since the update.

From the Profile Page, I'm not able to use the tabs to get over to things that I've coauthored or to drafts. I encountered this problem first on Safari, switched to Chrome, same issue. Hovering over the button shows the url: https://publiclab.org/profile/mimiss#draft or https://publiclab.org/profile/mimiss#coauthored but going dir

[2019-05-22 20:23] publiclab-mimi commented on #5770
Linking over to #5612

[2019-05-22 20:35] jywarren commented on #5770
Thanks for reporting, Mimi!

On Wed, May 22, 2019 at 4:24 PM publiclab-mimi <notifications@github.com>
wrote:

[2019-05-22 20:36] jywarren commented on #5741
Thank you!!! This will be in these files, I believe:

https://github.com/publiclab/plots2/blob/master/app/views/users/_edit_form.html.erb

https://github.com/publiclab/plots2/blob/master/app/views/users/profile.html.erb

Awesome!

On Wed, May 22, 2019 at 3:40 PM d1g1t4ld1n4 <notifications@github.com>
wrote:

[2019-05-22 20:37] jywarren commented on #5739
So rad, you folks! Thanks for getting organized!

On Wed, May 22, 2019 at 2:52 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-05-22 20:47] jywarren commented on #5732
Hi @ViditChitkara would you be able to look at this to see if it also relates to the comment upload code change? I think we've fixed this almost everywhere, but this is still causing issues... thank you!

[2019-05-22 22:37] pdurbin commented on #5722
Nice! @jywarren just posted a roadmap: https://publiclab.org/notes/warren/05-22-2019/draft-of-a-public-lab-software-roadmap-comments-welcome ! I'm going to go add it to my spreadsheet, the one linked from https://github.com/good-labs/slopi-communication/issues/2

[2019-05-23 01:47] dinaelhanan commented on #5741
@jywarren I did some reading [on the bootstrap migration doc](https://getbootstrap.com/docs/4.0/migration/). Are the the change we're looking for?
- Sizing classes must be on the parent .input-group and not the individual form elements.
- "Added a new sm grid tier below 768px for more granular control. We now have xs, sm, md, lg, and xl. This also means every tier has been bumped up one level (so

[2019-05-23 12:17] gauravano commented on #5733
Yes, shadow page would be great :smile:. We will surprise users once it's ready :sweat_smile:

[2019-05-23 12:20] gautamig54 commented on #5739
I have updated this issue with the tag/tag_name page design. Thanks!

[2019-05-23 12:22] gautamig54 commented on #5675
@CleverFool77 I see you have fixed the cards here. Great work!
Any other help needed here?

[2019-05-23 12:38] gautamig54 opened #5773 "Align the broken line under the graph on the tags page."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-05-23 12:47] CleverFool77 commented on #5733
Hi @jywarren @gauravano @gautamig54
We'll proceed with shadow page from now onwards.
I want to ask, that as the first section is feature. So sharing it on gist would be enough. Or there is need to do further changes.

[2019-05-23 12:49] CleverFool77 commented on #5675
This one is done. But I need bit of help in one of the PR where I have added `needs help` label on it.

[2019-05-23 12:52] gautamig54 commented on #5675
Oh great! I see that the active map is not been highlighted(the labels under the graph). I'll fix that.

[2019-05-23 13:05] gauravano commented on #5733
You can test whether the feature is compatible with the rest of the page by testing on stable.publiclab.org. As creating a feature requires admin access to the website, so if you're cool with testing on stable, @jywarren can make you admin at stable.publiclab.org?
Also, just to remind, stable.publiclab.org builds from `master` branch.
Thanks!

[2019-05-23 13:15] gautamig54 commented on #5733
@jywarren Currently, we have a "continue" button which directs the user to the question's editor. It not only takes the questions but also its description and the tags. So how can we use the "next" button directly for posting a question?
One thing we can do is adding columns for question description and tags on the same page itself, without directing to the editor.
What do you think?

[2019-05-23 13:19] gautamig54 commented on #5733
@CleverFool77 The design looks great. Since we will be working on the shadow page, we can add the code to the shadow page itself, even if its a static feature. What say?

[2019-05-23 14:37] rarrunategu1 opened #5774 "Inclusion of lat and lon on API profile search query"
The following issue on mapknitter requires this update to be able to return a profile user's location if they have added it on their profile
https://github.com/publiclab/mapknitter/issues/626

[2019-05-23 14:40] rarrunategu1 commented on #5774
With Jeff's help I already have the changes made on a separate branch to submit a pull request for review

[2019-05-23 14:44] rarrunategu1 opened #5775 "Exact username MATCH addition on API profile search query"
We need to ensure that the API profile search query returns exact match on username as well.  Right now, if a common name is entered in the search query it will return other names and not the exact query we're calling.

[2019-05-23 15:05] AnshitaVishwa commented on #5346
@ananyaarun  shoud i start working on it?

[2019-05-23 15:31] publiclab-mimi opened #5777 "Print in 3-Column Layout Buggy"
Hello again friends! I've learned that we have a bit of an issue with printing from the website in the 3 column layout format.

<img width="226" alt="Screen Shot 2019-05-23 at 10 24 59 AM" src="https://user-images.githubusercontent.com/48802639/58265591-95be4180-7d45-11e9-8ca0-3aef7b3d3ec6.png">

On Safari, the option to print in 3 column layout doesn't do anything different from a regular print.

[2019-05-23 15:32] publiclab-mimi commented on #5777
Also linking to #5612 because I think it may be related.

[2019-05-23 16:12] ananyaarun commented on #5346
@AnshitaVishwa sure I think u can go ahead :)

[2019-05-23 18:31] jywarren commented on #5777
Hi! Thanks! I actually opened this already here, i'm going to merge these! https://github.com/publiclab/plots2/issues/5758

[2019-05-23 18:31] #5777 closed

[2019-05-23 19:17] jywarren commented on #766
And - follow-up -- pinning for comments!

[2019-05-23 20:22] jywarren commented on #5683
I believe this is solved. I'm no longer seeing it happening! We can re-open if it happens again. Thanks!!!

[2019-05-23 21:53] jywarren commented on #5316
Noting this for some AJAX methods: https://stackoverflow.com/questions/36536111/waiting-for-ajax-with-capybara-poltergeist

[2019-05-23 21:54] jywarren commented on #5316
also

[code]

[2019-05-23 22:05] jywarren commented on #766
Separated out questions activities and such!

[2019-05-23 22:14] jywarren commented on #5733
Ah, ok, so for now let's redirect to the full questions form. we may try to
think through another flow later. I think tagging is not central as new
users may need help tagging after publishing anyways, but you're right we
have to think of the "title" vs. "body" of the question. So, either we'll
have to add a title zone to the front /questions page, or perhaps we could
ask people to "sum up your qu

[2019-05-23 22:16] #5675 closed

[2019-05-23 23:10] jywarren commented on #5652
OK, publication is almost complete on production after i triggered it an hour or so ago. We should loop back and check these!

[2019-05-24 01:45] jywarren commented on #5739
Hi all! Your recent changes are live!!! They look great!!!

https://publiclab.org/tags

https://publiclab.org/people

Stay tuned in the chatroom to hear when publications happen - great work!

[2019-05-24 01:47] sentry-io[bot] opened #5782 "SyntaxError: /app/app/views/grids/_notes.html.erb:53: syntax error, unexpected keyword_else, expecting keyword..."
Sentry Issue: [PLOTS2-9C](https://sentry.io/organizations/publiclab/issues/1040964972/?referrer=github_integration)

[code]

[2019-05-24 01:51] jywarren commented on #5782
Believe I fixed this here!

https://github.com/publiclab/plots2/commit/90fd7f5828dd2056ad6c084bf562a40f9077c2ff

[2019-05-24 01:51] #5782 closed

[2019-05-24 03:51] milaaraujo commented on #5739
This looks good! The project is very well organized.

I have not introduced myself yet, but my name is Camila! I was a participant in Rails Girls Summer of Code in 2018 and since then I have been a contributor to the project. I have worked mostly on the Search API (https://github.com/publiclab/plots2/projects/6 and https://github.com/publiclab/plots2/projects/8). And I will be Lekhika's co-mentor!

[2019-05-24 04:43] aSquare14 commented on #5739
I would also like to mentor this project. Any place for an additional
mentor? :)

On Fri, May 24, 2019, 9:21 AM Camila Araújo <notifications@github.com>
wrote:

[2019-05-24 05:15] jcolborn-dropdeadgames commented on #5758
Hello. I would like to handle this issue if it is available.

[2019-05-24 06:32] CleverFool77 commented on #5741
Hi @dinaelhanan regarding this,
As you can see in the code, The form is inside `row` class of bootstrap4. The first two textboxes area are included into grid section of `col-md-6`. But after that, the text boxes below are not set as per the grid.
What we can do it is We can provide. A class of `col-md-12` inside `row` class. And for every next row of textareas which include them inside `col-md-12`

[2019-05-24 12:15] simonastefan commented on #5773
Hello! I would like to handle this if it's not assigned. Thanks!

[2019-05-24 12:31] CleverFool77 commented on #5773
Hi,
You can start off with work.
Thanks !!!

[2019-05-24 12:48] ViditChitkara commented on #5732
Hi @jywarren , I'll have a look at it.

[2019-05-24 14:26] CleverFool77 commented on #5739
Hey, Nice to meet you.
This is Lekhika @CleverFool77
I would be glad for your help here.

Here is the link of project . I have added some stuff and tried to make it more organised.
https://github.com/publiclab/plots2/projects/10
The project feature of GitHub shows the progress of project very well.
Thanks !!!

[2019-05-24 15:51] jywarren opened #5789 "DB optimization on dashboard queries"
Pasting in chatroom chatter:

[code]

Seems like a portion of this split a query into multiple queries, and it's impacting load time on the dashboard: https://github.com/publiclab/plots2/pull/5461

https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1558661640/13h23m/endpoints/HomeController%23dashboard?responseType=html

![image](https://user-images.githubusercontent.com/24359/58340563-29614200

[2019-05-24 15:53] jywarren commented on #5789
@gautamig54 don't worry about it, this was a very obscure query but it was trying to fetch and exclude a whole bunch of nodes in just a single query, so splitting it out into an iterator ended up pulling every node and running a conditional on each one, which I think caused the slowdown. Let's see if reverting it fixes this, but we can still look at ways to simplify it! Thanks!!!

[2019-05-24 16:12] jywarren commented on #5739
Hi all! Is there an updated place to list out some refinements and goals for the /tags page? It's looking tremendous. I see a few formatting tweaks perhaps to the way author images are shown:

![image](https://user-images.githubusercontent.com/24359/58341673-c2915800-7e1c-11e9-9f82-c5b3feb63663.png)

And I know @ebarry has suggested that we hide (by default) topics that include `:` because these a

[2019-05-24 19:58] jywarren commented on #5761
You know, it's really not clear. Cache generation is gone, but overall more requests seem to be running slowly:

https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1558703340/6h41m/endpoints/Srch::Search%20%5BGET%5D%20srch%2Fprofiles

![image](https://user-images.githubusercontent.com/24359/58353480-98e82900-7e3c-11e9-921e-a0baeb113e61.png)

There's still a mysterious `GET srch profiles` line f

[2019-05-24 19:59] jywarren commented on #5761
It's certainly not fast to run this: https://publiclab.org/api/srch/profiles?query=warren

[2019-05-25 04:00] AnshitaVishwa commented on #5346
@ananyaarun the changes that are required to be done are already done in the file. But still this issue isn't closed.

[2019-05-25 05:59] icarito commented on #5761
maybe the mysql-slow-logs and some log analyzer can give insight...

[2019-05-25 08:48] ananyaarun commented on #5346
@AnshitaVishwa Yes you are correct. Thanks !!
You can work on any new comer issue in this LEL repository :) https://github.com/publiclab/leaflet-environmental-layers/issues/189
@gauravano I think this issue has been solved in another PR

[2019-05-25 09:32] gauravano commented on #5346
Sorry, @AnshitaVishwa. Looks like another contributor changed the statement for all the files - https://github.com/publiclab/plots2/pull/5660. As @ananyaarun said, please have a look at other FTO issues. Thanks!

Thanks, @ananyaarun for notifying!

[2019-05-25 09:32] #5346 closed

[2019-05-25 15:18] SidharthBansal commented on #5652
Please send the server logs.
Kindly follow:
1. Public Lab is not logged in
2. Click on Google on MK.
Please place the screeshot of the server output here.

[2019-05-25 15:18] SidharthBansal commented on #5652
One error is now it is triggering
https://github.com/publiclab/plots2/blob/d06f59460edf0424a6edbfc4000ac8444145fc5d/app/controllers/openid_controller.rb#L78
this line not the ``Signed in `` line.

[2019-05-25 15:45] SidharthBansal commented on #5652
https://github.com/publiclab/plots2/issues/5652#issuecomment-495925964
please follow these steps after pushing https://github.com/publiclab/plots2/pull/5791 to prod. I am really sorry about the trouble you are facing. As this is only happening on prod we need to bear with it until it gets resolved.

[2019-05-25 15:46] SidharthBansal commented on #5734
@jywarren can we close this issue?

[2019-05-25 15:48] SidharthBansal opened #5792 "Twitter OAuth not working"
Hi all,
I am facing logging into Twitter. Is there anyone else facing the same trouble?
It is going in infinite loop.
@gauravano @ebarry @aSquare14 @publiclab/reviewers .
Thanks in advance for helping.

[2019-05-25 16:47] jywarren commented on #4880
Circling back here after I gave a diagram a try!

https://publiclab.org/notes/warren/05-22-2019/draft-of-a-public-lab-software-roadmap-comments-welcome

![](https://publiclab.org/system/images/photos/000/032/413/original/Screen_Shot_2019-05-22_at_5.37.11_PM.png)

It's not comprehensive. But it's designed to help people get an "at a glance" view of the majority of our active projects. I left out so

[2019-05-25 17:07] namangupta01 commented on #4880
Yayy! `simple data grapher` is on the way! @jywarren @IshaGupta18 🎉

[2019-05-25 17:09] jywarren opened #5793 "Add timestamps to tag_selection and node_tags tables"
We need a new migration to add `created_at` and `updated_at` to these two tables; this will help solve https://github.com/publiclab/plots2/issues/4925, but also will help us add ordering to our pinned nodes (https://github.com/publiclab/plots2/issues/766), so that they are pinned in order -- first pinned is first displayed:

https://github.com/publiclab/plots2/blob/35e10a2eeabdf5afce7bb67704548435

[2019-05-25 17:54] jywarren opened #5794 "Resources for writing modular libraries"
Hi all, I've been chatting with a bunch of people starting up self-contained modular libraries for their projects this summer, and think we could collect some great readings and guidance on this interesting and somewhat complicated topic. This is also in line with the new [draft Roadmap](https://publiclab.org/notes/warren/05-22-2019/draft-of-a-public-lab-software-roadmap-comments-welcome)!

I've b

[2019-05-25 17:56] jywarren commented on #5794
@ananya and @MargaretAN9 may also be interested here!

[2019-05-25 17:57] jywarren commented on #5794
And perhaps @publiclab/mentors !

[2019-05-25 18:30] emctackett commented on #5679
I would like to try working on this if that's alright. :smile:

[2019-05-25 19:38] jywarren commented on #5679
Oh please! That would be great!!

On Sat, May 25, 2019, 2:31 PM Elizabeth Tackett <notifications@github.com>
wrote:

[2019-05-26 02:11] icarito commented on #5761
http://tycho.media.mit.edu/log_20190525/mysql-slow.html
http://tycho.media.mit.edu/log_20190525/production.html

Here for reference - need deeper dive, on first look I could not pinpoint it.

[2019-05-26 08:48] aSquare14 commented on #4585
@jywarren Signed up as well !

[2019-05-26 11:15] gautamig54 commented on #5789
Sure @jywarren. We can definitely try reverting and see if it makes a difference. Actually, the loading time for the dashboard in my system decreased when I manipulated the query.
Thanks!

[2019-05-26 18:20] cesswairimu opened #5795 "Fix Rubocop performance deprecation warning"
### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### 📋 Step by Step

- [ ] 🙋 **Claim this issue**: Comment below. If someone else has claimed it, ask if they've opened a pull request already and if they're stuck -- maybe you can help them solve a problem or move it along!

**Problem**:

Performance cops

[2019-05-26 18:22] cesswairimu commented on #4963
@dannomayer or anyone else interested here is a first-timer-issue #5795

[2019-05-26 21:17] cesswairimu commented on #5728
### Solution
On https://github.com/publiclab/plots2/blob/master/app/views/stats/_range.html.erb
- Change `h5`'s  to `h6`'s.
- Change  `h4`'s to `h5`' s.
- Change `class="btn btn-secondary"` to `class="btn btn-default"` on line 118, 127, 134, 140,151, 162, and 169.
- Move https://github.com/publiclab/plots2/blob/master/app/views/stats/_range.html.erb#L114 after the `<% end %> `on line 112
- Change

[2019-05-26 21:37] gauravano commented on #5792
Hi @SidharthBansal,

I haven't logged in to publiclab.org via Twitter so documenting accordingly --
The page kept loading for nearly a minute or two and then I was redirected to /research so not logged in. I tried logging-in using Twitter again but no success, this time it was something like infinite loop as you mentioned but without any reload time.

Then, I refreshed the page and tried logging i

[2019-05-26 21:42] gauravano commented on #5775
Hi @rarrunategu1, thanks for reporting. Would you like to improve the search API? Thanks!

[2019-05-26 22:30] #5773 closed

[2019-05-26 22:57] NrujalSharma commented on #5691
hey is it still unsolved, I would like to give it a try.

[2019-05-27 02:48] kodyclemens commented on #5795
I'd be happy to tackle this issue.

[2019-05-27 06:20] jesus-montano commented on #5691
I did a pull request weeks ago but nobody answers me

[2019-05-27 07:24] aSquare14 commented on #5691
@jesus-montano sorry. Sometimes PRs get missed due to high number of PRs. Please give me the link your PR !

[2019-05-27 08:33] sk9331657 commented on #4585
@jywarren  @SidharthBansal Waiting for mentor ship invitation. Will love to help Gsoc Students as I helped GCI students.

[2019-05-27 11:42] siaw23 commented on #5793
What are the two tables?

[2019-05-27 11:58] jywarren commented on #5793
I believe it's tag_selection and term_node!

[2019-05-27 12:14] Esh08 commented on #5795
Hey, I'm a first time user of GitHub and would love to know if I can assist you in any way? @kodyclemens

[2019-05-27 14:51] cesswairimu commented on #5708
Wow awesome designs and great collaboration going on here @gautamig54 @CleverFool77 :tada:
The controller is  https://github.com/publiclab/plots2/blob/master/app/controllers/search_controller.rb and the apis that serve this are found here https://github.com/publiclab/plots2/blob/master/app/services/ Feel free to ping me if you have any questions tough I guess @milaaraujo and @stefannibrasil unders

[2019-05-27 15:05] CleverFool77 commented on #5708
Sure @cesswairimu
Right now, I'm going through it.
If I came across any issues. I'll surely ping you and others
Thanks !!!!

[2019-05-27 15:38] jesus-montano commented on #5691
no problem!!!! this is the link
https://github.com/publiclab/plots2/pull/5696

[2019-05-27 16:17] CleverFool77 commented on #5708
Hi @jywarren According to new style guide. There will be only fewer options consist of `people` and  `content` . So Is this new pill `content` alias for `All content` tab of earlier design or Is it specific pill consisting of some information including notes and other  ? And other options should be removed ?
cc : @gautamig54
Thanks !!!

[2019-05-27 16:17] rarrunategu1 commented on #5775
Yes. thank you.

[2019-05-27 16:22] CleverFool77 commented on #5708
And Hi once again @jywarren
I wanted to ask that what would be specific point to consider a result as a `featured result`.
I mean kinda the distinction which will be used to consider a `feature result`.

[2019-05-27 16:29] CleverFool77 commented on #5733
Hi @jywarren Should we do something like this ? Dividing text area ?
![Screenshot from 2019-05-27 21-57-18](https://user-images.githubusercontent.com/26685258/58431228-79663000-80ca-11e9-8383-a65a2bc4d9f8.png)

This is followed by quora.
Though I'm not too sure about this.
Either we can do this, or in else in a simplest way. Redirect looks like good option.

[2019-05-27 16:54] gauravano commented on #5775
Great!

[2019-05-27 17:16] gautamig54 commented on #5707
Hi! I have implemented the ellipses. I have modified the design a bit as I thought this looks better.

![Screen Shot 2019-05-27 at 10 46 57 PM](https://user-images.githubusercontent.com/35326753/58432661-175cf900-80d1-11e9-8bdd-7d64c77c7ee0.png)

![Screen Shot 2019-05-27 at 10 47 06 PM](https://user-images.githubusercontent.com/35326753/58432663-1d52da00-80d1-11e9-85e4-00fccf82c368.png)

How about

[2019-05-27 17:27] CleverFool77 commented on #5707
Hi, @gautamig54
The Design looks great.
But How about shifting the icon for this popover to right-bottom ? And How about we use horizontal icon for this ?

[2019-05-27 17:32] gautamig54 commented on #5707
Yea, that was the original design. I modified it a bit. Generally user's information is beside the user's name, that's why I changed it this way.
The tags will be coming in the sub info and it won't intersect with the ellipsis.
Also, I had problem with the padding. Like, "Active # days ago" isn't in the same line. I am working on it.
Let's wait for @jywarren's view on this.
Thanks @CleverFool77 !!

[2019-05-28 03:46] kodyclemens commented on #5795
@Esh08 Unfortunately I think this issue may have to wait as Codeclimate does not yet support the new gem, which is resulting in failing tests.

[2019-05-28 11:28] #5774 closed

[2019-05-28 12:10] gauravano commented on #4585
Hi @sk9331657, as mentioned by @jywarren please check that you've got all the details correct. Thanks!

[2019-05-28 12:22] SidharthBansal commented on #5792
I tried to login through Twitter. It is working fine here.
Twitter pages are not handled by PL. Twitter handles it. So, even if it is working one time AND all the links which comes in the infinite loop are of twitter domain, we are having consistent source code at PL.

@jywarren are you still facing this issue?
I am not facing this issue any longer. I tried it today and yesterday.

[2019-05-28 12:23] SidharthBansal commented on #5652
When are you planning to publish the source code next time to prod?

[2019-05-28 12:24] SidharthBansal commented on #5652
We can check these test cases that day. All above test cases are working fine on the localhost. I checked it yesterday.

[2019-05-28 13:19] dinaelhanan commented on #5741
@CleverFool77 I think it I get, your explanation is clear :) Thanks for clearing that up

[2019-05-28 13:45] simonastefan commented on #5258
Hello, I would like to solve this issue.

[2019-05-28 15:22] jywarren commented on #5684
Just noting this, sorry for slow reply -- the reviewers room is at
https://gitter.im/publiclab/reviewers ! I believe it's public!

On Wed, May 22, 2019 at 1:04 AM Atibhi Agrawal <notifications@github.com>
wrote:

[2019-05-28 15:28] dinaelhanan commented on #5741
Hi @CleverFool77 thanks for the explanation! You really did clear it up. Please see the PR I just opened to see if I did it correctly. Thanks!

[2019-05-28 15:41] Souravirus commented on #5612
Hi @CleverFool77 really nice work here. Keep it up!!

[2019-05-28 17:34] jywarren commented on #5652
Great, we'll be publishing any minute!

On Tue, May 28, 2019 at 8:25 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-05-28 18:12] AnshitaVishwa commented on #5728
@cesswairimu and @jywarren I want to work on this issue. Should i start working on it?

[2019-05-28 18:15] cesswairimu commented on #5728
Hi @AnshitaVishwa, Benjamin was interested in this.
@skilfullycurled did you already get started on this or can @AnshitaVishwa go ahead?

[2019-05-28 18:15] jywarren commented on #5761
We reverted it today -- had been seeing some memory issues and although it's not clearly linked, this was a high load endpoint and it wasn't any faster than it had been.

[2019-05-28 18:15] #5761 closed

[2019-05-28 18:55] jywarren commented on #766
Hmm, the activity pinning isn't working...?

[2019-05-28 18:57] jywarren commented on #766
https://publiclab.org/notes/liz/03-15-2017/host-a-balloon-mapping-workshop isn't appearing pinned at https://publiclab.org/balloon-mapping

[2019-05-28 19:02] skilfullycurled commented on #5728
Hi everyone, I was out of town and just got back yesterday so I haven't had a chance to work on it.  @AnshitaVishwa, why don't we check back in this Friday and if I haven't been able to start work on it, then I'll pass it along to you.  Would that work?

[2019-05-28 19:27] rarrunategu1 commented on #5775
@gauravano I'd like to test some code but I need to test a username amongst usernames.  I only have the admin signed in with no users to search.  I would like to create a situation with usernames on the system and searching a particular name.  I tried creating some users on rails console but then realized that it wouldn't give me a user "lot" search.  Any suggestions you could help me with?

[2019-05-28 20:41] jywarren commented on #5775
Hi Rose, can you clarify what you mean by a user "lot" search? Thanks!

On Tue, May 28, 2019 at 3:28 PM rarrunategu1 <notifications@github.com>
wrote:

[2019-05-28 20:45] gauravano commented on #5684
@jywarren actually the reviewers' group is an invite-only group. I just added you @aSquare14 to the group.     Welcome :tada: !!

[2019-05-28 23:37] rarrunategu1 commented on #5775
Hi @jywarren , I meant like a bunch of users.  A search in a "lot" of users....probably not the best word to use.

[2019-05-29 00:09] skilfullycurled commented on #5793
@jywarren, this is great, will this actually be a return to the previous way that tags were entered in the database?  At least prior to 2016, tags did have timestamps for the first time they were created, and I believe a time stamp for when they were added to a node.  I'll have to look to see if this would change anything to the tags download feature which right now downloads all of the term_nodes

[2019-05-29 01:03] skilfullycurled commented on #5728
156, 170

[2019-05-29 01:03] aSquare14 commented on #5684
Thanks.

On Wed, May 29, 2019, 2:15 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-05-29 02:07] skilfullycurled commented on #5728
Correction to task list: add L156 and switch L169 for L170 in the following:

[2019-05-29 02:37] skilfullycurled commented on #5728
Also, @cesswairimu, take a look at the attached image, what do you think about making the text in red look like the text in green? This would require:

I think this would require deleting the [title attribute in the chart] (https://github.com/publiclab/plots2/blob/989001db25cb20d9d1d559468c45efe4857f5488/app/views/stats/index.html.erb#L241)

Unfortunately, there does not seem to be a way to make t

[2019-05-29 03:05] skilfullycurled commented on #5728
Also, @cesswairimu, take a look at the attached image, what do you think about making the title text in the charts more consistent.

![Screen Shot 2019-05-28 at 11 04 01 PM](https://user-images.githubusercontent.com/950291/58526424-eba74500-819c-11e9-9727-d8adf941a1d3.png)

I've been playing around and it would require the following changes (I'm using the chart in [index.html.erb](https://github.c

[2019-05-29 04:32] divyabaid16 commented on #4963
Hi, @Esh08 I have added your name to the list, whenever a first-timers issue will be created, we will assign it to you.
Thanks!

[2019-05-29 05:36] sashadev-sky commented on #4963
@Esh08 you can work on https://github.com/publiclab/Leaflet.DistortableImage/issues/250! I will mention you there :)

[2019-05-29 06:28] Esh08 commented on #4963
Hey! Thanks for the opportunity, Reading the info, looks like I have a
week, I'll try my best. Will keep you posted:)

On Wed, May 29, 2019 at 11:06 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-05-29 07:06] AnshitaVishwa commented on #5770
@jywarren i would like to work on this issue.

[2019-05-29 07:59] cesswairimu commented on #5728
Wow @skilfullycurled the center alignment looks great :tada: :tada: . Yeah sure lets go ahead and have the proposed version. Thanks

[2019-05-29 17:24] #5732 closed

[2019-05-29 17:28] CleverFool77 opened #5804 "Fix the profile icon with bootstrap4 class"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-05-29 17:29] CleverFool77 commented on #5693
Closing as opened this one https://github.com/publiclab/plots2/issues/5804

[2019-05-29 17:41] skilfullycurled commented on #5728
@cesswairimu, I made the proposed changes but had another idea with regard to consistency.  I promise this will be the last one for this issue! : )

What do you think about moving the Q&A bar from above the download buttons to the area with the other charts?

<img width="769" alt="Screen Shot 2019-05-29 at 1 29 32 PM" src="https://user-images.githubusercontent.com/950291/58578699-62812400-8217-11e

[2019-05-29 17:52] #5693 closed

[2019-05-29 18:43] cesswairimu commented on #5728
Yeah @skilfullycurled yeah that would be great and am open to more changes no worries :smile:.
Actually you do not need to move the code from that file you can just move https://github.com/publiclab/plots2/blob/master/app/views/stats/_range.html.erb#L26-L28 to after line 181.

Also for the width diff we could change the div to something like
[code]
or tweak the width percentage https://github.com/

[2019-05-29 18:51] skilfullycurled commented on #4094
Hey everyone,

Wanted to circle back on this because in working on the stats page, I remembered that this topic has been under discussion.

Regarding the "how to mark something as answered" issue, I think the best idea is number 6, using a check mark.  I can't recall how the previous incarnation worked but I think instead of having a binary state of "answered" it would be better to have a count of

[2019-05-29 18:51] AnkitMishra17 commented on #5804
I'd be happy to take on this issue.

[2019-05-29 18:52] CleverFool77 commented on #5804
Great @AnkitMishra17 :smiley:

[2019-05-29 19:04] skilfullycurled commented on #5728
Thanks @cesswairimu, I obviously hadn't thought of that!  Since I already moved it do you have any objection to putting it with the other charts in index.html.erb (or moving the other charts to _range.html.erb)?  After I moved it, I thought it might be good to have them all in the same place.

I'll try your div suggestion regarding the width.  I already tried the width percentage but the problem i

[2019-05-29 19:35] cesswairimu commented on #5728
Gotcha, I remember there was a graph offset feature for the axis maybe that could help. Cannot rem correctly how that worked but you give it a try https://apexcharts.com/docs/options/xaxis/

[2019-05-29 20:02] gautamig54 commented on #5742
Hi @namangupta01, I am starting with implementing the in-app notification system. I was thinking of using activity_notification gem for this purpose. What do you think about this?

[2019-05-29 20:08] gautamig54 commented on #5733
Let's redirect to the question's form for now. But I think, it will be feasible to have title and description separately on the /questions page and submit the question from here itself, without needing to go to the questions form.

[2019-05-29 20:13] jywarren commented on #5728
Hi all, really cool seeing this discussion and collaboration! Keep up the
awesome work!

On Wed, May 29, 2019 at 3:36 PM Cess <notifications@github.com> wrote:

[2019-05-29 20:13] #5612 closed

[2019-05-29 20:15] #5691 closed

[2019-05-29 20:25] gautamig54 commented on #5733
Great! #5787 is merged. I am getting started with the question's title area.
Great work @CleverFool77!!!

[2019-05-29 20:25] CleverFool77 commented on #5733
Sure @gautamig54 :smile:

[2019-05-29 20:27] namangupta01 commented on #5742
activity_notification seems to be very interesting. Go ahead 👍

[2019-05-29 20:27] namangupta01 commented on #5742
And also we ask @jywarren , @gauravano for the suggestions?

[2019-05-29 21:26] gautamig54 commented on #5733
How is this? Should I add blue margin to the text area?

![Screen Shot 2019-05-30 at 2 58 31 AM](https://user-images.githubusercontent.com/35326753/58592631-80d23880-8286-11e9-974d-4f94ddf88c02.png)

[2019-05-29 22:04] gautamig54 commented on #5707
@CleverFool77 the tags are exceeding the card boundaries. Can you check this.

![Screen Shot 2019-05-30 at 3 34 40 AM](https://user-images.githubusercontent.com/35326753/58594658-e117a900-828b-11e9-83b7-1b4bbbed59ab.png)

[2019-05-29 22:08] jywarren commented on #5707
This is looking cool, thanks all! Actually i've been making further
refinements to the card designs and button styles in the style guide. I'd
love some input (comments, ideas, critique) from both of you now that
you've had a week or so working more deeply in this!
https://publiclab.org/notes/warren/05-07-2019/introducing-a-draft-style-guide-for-public-lab

On Wed, May 29, 2019 at 6:05 PM Gautami G

[2019-05-29 22:09] jywarren commented on #5258
Awesome! Looking at your PR now!

[2019-05-29 22:21] jywarren commented on #5733
Hm, well, let's go with whatever bootstrap defaults use. Maybe the "What's
your question?" title could be one size larger, so h2 if it was h3, or h3
if it was h4?

Looking really nice!

On Wed, May 29, 2019 at 5:27 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-05-29 22:22] faizaanshah commented on #4963
Hi! I want to work on react-native or any other Node.js library if there is some issue?

[2019-05-29 22:22] gautamig54 commented on #5733
Thanks @jywarren!
I'll make the changes.

[2019-05-29 22:25] jywarren commented on #5770
Oh this would be great! Thank you!

On Wed, May 29, 2019 at 3:07 AM AnshitaVishwa <notifications@github.com>
wrote:

[2019-05-29 22:47] jywarren commented on #766
This seems right, though...

https://github.com/publiclab/plots2/blob/b27e2ff4ffe340dd0869e077daf1efdb2013884c/app/views/grids/_notes.html.erb#L40

Aha! it was in the wrong section. Fixed in https://github.com/publiclab/plots2/commit/49d58c35881da845540e33a772c4870f3e22b0b7

[2019-05-29 22:50] jywarren opened #5807 "Pinning for comments"
We implemented pinning in grids, which is cool! https://github.com/publiclab/plots2/issues/766

![image](https://user-images.githubusercontent.com/24359/58059616-bfa41800-7b3b-11e9-993b-e3f1b2be8a48.png)

Now, let's look at how we did that and consider how to pin comments as well, so really important comments can be pinned to the top of a list.

[2019-05-29 22:50] jywarren commented on #5807
Here's where we did the initial implementation of pinning! https://github.com/publiclab/plots2/pull/5681

[2019-05-29 22:51] jywarren commented on #766
Closing this out now to be addressed in other issues!

[2019-05-29 22:51] #766 closed

[2019-05-29 22:53] jywarren commented on #1063
So, we have a "suggested title" feature in comments, although I worry it is fragile and maybe broken? I wonder if we should close this and open an issue for fixing the suggested title comment feature and protecting it with a system test! I'm going to close this and if you're interested, please do this!

![image](https://user-images.githubusercontent.com/24359/58596677-003e1880-8243-11e9-9d99-9353d

[2019-05-29 22:53] #1063 closed

[2019-05-29 22:56] jywarren commented on #786
Moving into a new issue -- comment suggestions -- with this idea, closing original (though I asked in staff slack if we want to revisit how "replications" are represented). Thanks!

[2019-05-29 22:56] #786 closed

[2019-05-29 22:57] jywarren opened #5808 ""Suggested comments" (like saved replies in github)"
Building on #786, I'm opening a new issue for a set of "suggested comments" that could be shown maybe like this, or perhaps further refined in design before implementation:

![screen shot 2018-12-05 at 5 37 30 pm](https://user-images.githubusercontent.com/24359/49548679-82610c00-f8b4-11e8-8e68-8328d007d694.png)

(this is like #373, but simpler)

Something like this -- using code like:

[code]

Not

[2019-05-29 22:57] jywarren commented on #786
Noting new issue "Suggested comments" at https://github.com/publiclab/plots2/issues/5808

[2019-05-29 22:59] jywarren commented on #768
This keeps breaking! Good candidate for #5316 !

[2019-05-29 22:59] jywarren commented on #5316
Noting this would be a good feature to fix and then protect with a system test! https://github.com/publiclab/plots2/issues/768

[2019-05-29 23:01] gautamig54 commented on #5742
Sure! Let's wait for @jywarren and @gauravano inputs on this.

[2019-05-29 23:02] jywarren commented on #4632
I believe this is complete! Closing!

[2019-05-29 23:02] #4632 closed

[2019-05-29 23:20] gauravano commented on #5742
Hi @namangupta01 @gautamig54, your work division looks great and clear. Also, activity_notification gem is fine as it's an active project. Thanks!

[2019-05-30 00:19] jywarren commented on #5793
Huh - i wonder how that got changed -- i think we simplified the tables but
perhaps didn't preserve these features when we should've! But yes, this
would be super.

On Tue, May 28, 2019 at 8:09 PM Benjamin Sugar <notifications@github.com>
wrote:

[2019-05-30 00:33] gautamig54 commented on #5707
@jywarren I was going through the style guide and found a new design for the /people page.

![Screen Shot 2019-05-30 at 6 04 37 AM](https://user-images.githubusercontent.com/35326753/58600058-90f71180-82a0-11e9-9ee7-98781e565935.png)

Should we redesign the page according to this design?

[2019-05-30 00:55] gautamig54 commented on #5733
I have a doubt for the further implementation of this page.
In the featured questions section, we are initially displaying just the two of them(mostly top two). But there are a lot of featured questions. How are we going to display the rest of them?
One thing that can be done is directing to a separate page which has all the featured questions which needs to be created and designed as we currently

[2019-05-30 02:00] skilfullycurled commented on #5793
Yeah, there used to be a table called "tags" which was [removed in a commit](https://github.com/publiclab/plots2/commit/eff8a442a6b51a7d00fc462d5e039c82e1b4ea52#diff-4ef680bc0c8c6ec87925705fae6c0a1cL360) October 8, 2016 (I think).

[2019-05-30 04:08] CleverFool77 commented on #5733
Hi @jywarren I have been wondering the same thing that what would be considered main distinction to get these two feature questions ?

[2019-05-30 04:10] CleverFool77 commented on #5707
Hmmm @gautamig54 @jywarren  Any suggestions How should we deal with it ?
* Restricting tagname maybe ?
* add ellipses at overflow maybe ?

[2019-05-30 04:14] jywarren commented on #5707
Hi Gautami! The new design is not totally done yet. One thing I heard from
people was that they prefer a smaller map which expands when you click it,
so the page is not as overwhelmed by the map. It's not a huge change,
really, but I'd love to hear your thoughts on it.

On Wed, May 29, 2019, 8:34 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-05-30 08:28] AnkitMishra17 commented on #5804
Generated PR #5811

[2019-05-30 11:26] gauravano commented on #5737
Updating Translation wikis/notes:
1. https://publiclab.org/wiki/translation - Updated. @jywarren I have replaced the video here as the old video was not available anymore. The current video is more like an introduction to Transifex so if you want I can record a video of translation activity with Public Lab as an example? or, check out https://www.youtube.com/user/TransifexInc/feed and suggest a vi

[2019-05-30 13:35] ebarry commented on #5737
hi @gauravano i have made you a co-author of that note, please edit as you see fit! Thanks!

[2019-05-30 15:04] gauravano commented on #5737
Thanks, @ebarry !!

[2019-05-30 16:56] gauravano commented on #5737
Hey @publiclab/community-reps, I have did some changes to Language dropdown and also added new languages, check it out :point_down:

![footer_translate_design](https://user-images.githubusercontent.com/20878070/58649483-d875b000-8329-11e9-85fa-d1e7a6f2bfc2.gif)

What do you think about this design? If you like it, I will update the feature. Thanks!

[2019-05-30 17:09] ebarry commented on #5737
i like it, and look forward to a future moment when we make the language option more visible :)

[2019-05-30 18:52] AnshitaVishwa commented on #5618
@gauravano and @jywarren  may I start doing work on this issue?

[2019-05-30 19:11] gauravano commented on #5737
I am thinking of an enhancement -- Suppose a user browses a website from China then using their location we can show this language menu to them in the notice or somewhere at top of the website? What do you think @jywarren @ebarry?

Also, I have updated https://publiclab.org/notes/liz/10-26-2016/how-to-join-public-lab-s-transifex-project note with the latest screenshots.

@ebarry there are some mor

[2019-05-30 19:17] gauravano commented on #5618
Go ahead @AnshitaVishwa!!

[2019-05-30 19:22] ebarry commented on #5728
Hi all,
Loving this page and the graphs look great!

On the "Choose a Start Date" interface, could we add the exact start date of our website as a "quick pick" OR perhaps make an option to choose "for all time" as the period of inquiry? I'm causing errors by guessing at the start date when i just need a "for all time" result.

Also, the lead text is "5638 research notes have been posted by 1437 co

[2019-05-30 19:26] ebarry commented on #5490
I have also encountered this error when attempting to guestimate the start date for our website so that i could view data "For All Time".

I'm wondering if it's really a bug or perhaps maybe it could be solved by people not having to guess when we started logging data for our website?

If it's the latter, here's an idea:
On the "Choose a Start Date" interface, could we add the exact start date of

[2019-05-30 20:54] jywarren commented on #5737
Are the dropdown changes in a feature, and do they need to be added to the live site? Cool!

One thing if you haven't already, is to clearly show people how to enable the "see translation prompts everywhere" setting -- which, ok it was a while ago -- i think was driven from a profile tag? We could advertise this and get some language growth going, then consider switching it from an opt-in to an op

[2019-05-30 20:58] jywarren commented on #5794
Also just noting this really great big PR which involves a lot of reorganizing along these lines: https://github.com/publiclab/simple-data-grapher/pull/29

Great work @IshaGupta18 @namangupta01 @rexagod !

[2019-05-30 21:02] gauravano commented on #5737
yes! Here's the gist - https://gist.github.com/gauravano/1124fff46ae156537e6fb712bff9e980

@jywarren yes, currently profile tag enables the translation prompts. Yes, I am thinking of writing a note. What do you think? For making it easy to enable translation prompts, we can add a button on the profile page or somewhere else?

Thanks!

[2019-05-30 23:08] gauravano commented on #4963
Hi @faizaanshah, there is no react-native library as of now, but we have many cool JavaScript libraries - https://github.com/publiclab?utf8=%E2%9C%93&q=&type=&language=javascript . Check them out and let us know if you like any and want to contribute on that. Thanks!

[2019-05-30 23:47] #5647 closed

[2019-05-31 00:08] gauravano commented on #5733
Having a separate page for featured questions is a nice idea. Let's ask @publiclab/community-reps about the need of such page? The top two featured questions can be the most recent one's like we do for the blog. Thanks!

[2019-05-31 01:02] skilfullycurled commented on #5728
Hey @ebarry, yes, will do, I'll probably move them into new issues since I'm almost finished with this one and it was more about fixing the design changes that came from the bootstrap update.

Looks like you edited your text but regarding the download "for all time" part, that's in the works via downloadable pre-built 6 mo. csv's.  Also, there are some dates in there which for some reason cause an

[2019-05-31 01:06] skilfullycurled commented on #5728
@ebarry two issues you might be interested in are #5524 and #5490.  If you have any info/opinions on either please write in.  Especially the page causing errors issues.  I'm trying to track down any dates which are a problem.  If you look in the one about that, you'll see there's a date in there which we know is one which causes issues.  I think it's April 25, 2013...or maybe the 24th...

[2019-05-31 07:40] jywarren commented on #5737
So, with the right profile tag, should I be seeing the prompts on every
page?

On Thu, May 30, 2019 at 5:16 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-05-31 07:50] jywarren commented on #5737
Footer updated! Wow!

On Thu, May 30, 2019 at 5:15 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-05-31 08:19] jywarren commented on #5737
sure, yeah! Also, the "people" grid feature on this page could be used to
prompt people to add that profile tag to themselves:

[people:PROFILETAGNAME]

https://publiclab.org/wiki/education#Education+group

On Thu, May 30, 2019 at 5:02 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-05-31 08:49] gauravano commented on #5737
page?

Only on pages where I replaced default `t` helper with custom `translation` helper like this https://github.com/publiclab/plots2/blob/master/app/views/dashboard/dashboard.html.erb#L47 . I will document it and some more things today.

prompt people to add that profile tag to themselves:

@jywarren you added such button here - https://publiclab.org/wiki/translation a month ago. Should we add

[2019-05-31 15:51] jywarren commented on #5737
LOL omg i totally did. So, no problem.

Ah ok re: t vs. translation -- are we going to roll this out across all
templates on a schedule? Thanks, sorry i was out of sync with you and even
myself :-P

On Fri, May 31, 2019 at 4:49 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-05-31 16:01] jywarren commented on #5708
Yes, that's right!

We're planning to make a system whereby some results can be automatically displayed at the top if a certain set of keywords is input. It'll be a little bit like "pinning" them, but we will probably not use tags to accomplish it. Probably we'll have a set of key/value pairs we'll make editable, so like:

[code]

We'd then want to make sure they weren't /also/ shown in the result

[2019-05-31 16:32] gauravano commented on #5737
We need to change `t` to `raw translation` in views. We can do it wherever we want. Currently, they are on /blog, /dashboard and /subscriptions. I can add them everywhere. What do you think about that?

Thanks!

[2019-05-31 16:40] skilfullycurled commented on #5490
Got some more info from @ebarry, but @ebarry, it would be great to have the dates that you tried.  My interpretation from our conversation is that you want to see the stats (at least in the two sentences) for all time.  There are two known issues (this one, and #5524), which might be the problem but depending on the specifics of your issue, it could be a new third one.

I've requested dates outsid

[2019-05-31 16:43] skilfullycurled commented on #5490
Oh, I should add, even if it did work, the user spam issue would make any user figures wildly incorrect by at least ~350,000.

[2019-05-31 18:36] #5203 closed

[2019-05-31 23:42] skilfullycurled commented on #5728
Okay, well, I tried both of the things you suggested @cesswairimu, but for various reasons they did not work (happy to elaborate if you'd like).

What did work is `align="right"` and then a `width: '91%'` in the chart like so (note: the 100% inside the bar looks off center but this will change when there are actually answers to the questions):

[code]

[code]

![Screen Shot 2019-05-31 at 7 30 07 P

[2019-06-01 06:12] SidharthBansal commented on #5652
I have checked around 25 flows. They are functioning properly.

[2019-06-01 11:46] CleverFool77 commented on #5733
Hi @jywarren I was working on th features questions section fr questions page. So I wanted to ask that Is **`popular` _questions tab_** in questions page right now is the **`future features questions`** section for **`shadow_question` page** ? Or is it something else ?

[2019-06-01 16:35] jywarren opened #5817 "Memory issues (leak?) investigation"
We're seeing a persistent memory issue since one week ago on Saturday, and I'm compiling information about it here to investigate.

Wondering if it's related to this controller method for the dashboard.

https://www.skylight.io/app/applications/GZDPChmcfm1Q/1559320320/1d/endpoints/HomeController%23dashboard?responseType=html

[2019-06-01 16:37] jywarren commented on #5817
Noting @icarito's comment:

And this graph:

![mdmmflaoadbbjepe(1)](https://user-images.githubusercontent.com/24359/58751224-f3e7d480-8469-11e9-9057-3910b9457d18.png)

[2019-06-01 16:39] jywarren commented on #5817
We're seeing a lot of SMTP test errors too:

[2019-06-01 17:27] michelelong commented on #5382
@DGibbons1, @gauravano is this still being worked on or may I fix this?

[2019-06-01 20:10] pdurbin commented on #2596
Nowadays there's a prominent "Software Projects" item under "Get Involved" (screenshot below) so perhaps this issue can be closed? What do you think @Be-ing and others?

![Screenshot from 2019-06-01 16-08-22](https://user-images.githubusercontent.com/21006/58753072-a9755080-8487-11e9-9b8a-f8766e40e41e.png)

[2019-06-01 20:11] #5804 closed

[2019-06-01 20:59] gauravano commented on #5382
Hi @michelelong, there's a PR for this issue at #5414. I have asked the contributor to update on the status of the PR but am not sure whether they want to leave the issue or give the final push. Anyway, you don't have to wait. You can see other FTO issue at https://code.publiclab.org. I will also mention you if I see any. Thanks!

[2019-06-01 21:13] gauravano commented on #2596
Oh, that's an old issue. Thanks, @pdurbin for updating. If further outreach is required, we can create a feature on /home and list our GitHub org there with some text?

[2019-06-01 22:23] rexagod commented on #5794
Hey all! I think personally, these two books (mentioned below) were probably the best resources, not only for modules, but JS in general. Do check out Kyle's other books if you have the time, to be completely familiar with the gotchas, workaround, and the internal precise workings. Also, completely agreeing with @jywarren on ponyfoo, a nice blog to follow!

https://github.com/getify/Functional-Lig

[2019-06-01 23:07] gauravano opened #5819 "Need for more chatrooms?"
Hi, as we were discussing in the Gitter channel about the need of more chatrooms for organising conversations better and at correct place, let's consider all the scenarios.

Convo from Gitter:
---------

Also, just to confirm, the opencall happens on recurring Tuesdays, right?

We don't have separate room till now, but we are ready to form one if there's requirement

I think maybe we need to get o

[2019-06-01 23:10] gauravano commented on #5819
We can create more Gitter rooms. But. let's think for what cases we need more rooms--

1. Project-specific room -- I think, we don't need this type as it's good to have transparent and open discussions about the project. It will also help other contributors to be in-sync with the SoC projects.

2. Repo specific reviewers group -- We can think about this type. But, I think, the current reviewer's g

[2019-06-02 03:05] icarito commented on #5817
Yes load is very high too. From the `htop` and especially `iotop` it appears `mailman` is quite active. It's the culprit for sure! Prior to May 22th we ran it a few times a day - if we can run it every few minutes minute or so (not every second!) - it would be fine!
[code]
![imagen](https://user-images.githubusercontent.com/199755/58756200-0b9a7980-84b9-11e9-9cde-4f66277ddda0.png)

[2019-06-02 03:11] icarito commented on #5817
The log is filled with cycles of these, no error:
[code]

[2019-06-02 03:25] icarito commented on #5817
Looks like mailman is crashing and being immediately respawn!

[code]
I've decided to stop this container for tonight in order to monitor the effect on performance.

[2019-06-02 03:28] Be-ing commented on #2596
Looks good to me :+1:

[2019-06-02 03:28] #2596 closed

[2019-06-02 08:22] starkblaze01 commented on #5819
I think Repo specific discussion group will be great, keeping all the discussions related to Repo at one place will be also easy for others to the gist of what's going on related to that repo if they are left behind and easy to find which is usually hard because of conversation flooding in a single group. We can discuss the general ideas in plots2 itself and Repo specific discussions could be done

[2019-06-02 16:37] michelelong opened #5820 "Tooltips for interface consistency and clarity on wiki and blog"
![follow-tools](https://user-images.githubusercontent.com/50340123/58764241-5d2f1c80-852a-11e9-87aa-a02c98403a3f.png)

Similar to closed issue #2115 and open issue #5382.
The follow buttons and tools dropdown don't have tooltips on mouseover.

[2019-06-02 19:55] michelelong opened #5821 "Change absolute link to methods on the dashboard"
![dashboard-absolute](https://user-images.githubusercontent.com/50340123/58766494-02ef8500-8545-11e9-8c03-9247b7f631c4.png)

**Problem**: When working locally, an absolute link to "Exploring projects" on the dashboard goes to the actual website instead of loading the local methods page.

**Solution**: Change link to relative.
![absolute-link](https://user-images.githubusercontent.com/50340123/5876

[2019-06-02 21:06] rexagod opened #5822 "[PROPOSAL] Organizing Gitter chatspace"
Hi all! I was recently encouraged to open this issue by @gauravano after sharing my thoughts on opening a separate room for Public Lab's Outreachy community for a better and focused overall engagement among the same. However, agreeing to @jywarren's statement above, I believe that this can actually be a part of a bigger issue we are currently facing in out gitter chatspace, namely, isolation and f

[2019-06-02 21:11] rexagod commented on #5822
Okay so I'll start. Some changes I'd recommend are:

- Move updates from 'soc' to 'updates' room. That way the SoC room could be utilized for SoC-specific discussions, while the lobby could be used for sharing all sorts of general ideas.
- As above, a separate room for all Outreachy discussions.

Maybe we could formulate a composed plan out of all the ideas that get posted here and try it out for

[2019-06-02 21:14] rexagod commented on #5822
@gauravano Can we pin this for more views?

[2019-06-02 21:21] gauravano commented on #5822
Hey @rexagod, I thought you forgot about it and so I opened a issue yesterday - https://github.com/publiclab/plots2/issues/5819 :sweat_smile:

[2019-06-02 21:44] gauravano commented on #5821
Hi @michelelong, great catch. If you are interested in solving this please make a PR. Thanks!!

[2019-06-02 21:51] gauravano commented on #5820
hey @michelelong, again great catch! Dropping the link to file here - https://github.com/publiclab/plots2/blob/master/app/views/like/_like.html.erb in case you're interested in solving this one :smile:. Also, do you think, it would be good if we open dropdown on hover?

Thanks!!

[2019-06-02 22:15] rexagod commented on #5822
No problem, @gauravano!

Closing this in favor of #5819! 👍

[2019-06-02 22:15] #5822 closed

[2019-06-02 22:57] gauravano commented on #5822
Don't forget to add your comments to #5819 @rexagod. And, sorry for the inconvenience.

[2019-06-02 23:09] michelelong commented on #5820
Yeah, I can fix this one.
I wouldn't have it dropdown on hover. It's annoying when you move the mouse around in the middle of the screen and stuff you didn't mean to open keeps popping up.

[2019-06-03 04:54] reiningc commented on #5046
Hey @gauravano, can I work this issue?

[2019-06-03 13:22] jywarren commented on #5817
I think we may also look at what gems updatea were merged in the days leading up to this code publication. Thanks!

[2019-06-03 13:23] jywarren commented on #5817
That's so weird about mailman, I will look at the config but I don't remember any changes to the rate.

[2019-06-03 13:25] jywarren commented on #5817
Oh you know what? We set it to retry 3 times. Maybe these are overlapping now? It could at least have increased the rate of attempts since it retries 3 times for every scheduled run.

https://github.com/publiclab/plots2/blob/faf66c0b15473add33c10c47d57a6e7cc46ea669/script/mailman_server#L32

[2019-06-03 13:26] jywarren commented on #5817
Ok modified it for 20 seconds, which should mean max a retry every 5 seconds --

https://github.com/publiclab/plots2/commit/a40ea5650f2ce9ec80ee2324cea2d8c9bd98e382

That'll be the same rate as before when we added retries.

[2019-06-03 13:28] jywarren commented on #5668
Also linking to some related issues https://github.com/publiclab/plots2/search?q=mailman&type=Issues

[2019-06-03 13:32] jywarren commented on #5668
I also added a MySQL rails query so that if there is a problem connecting to MySQL, it doesn't empty the mail queue first, so hopefully if it fails the emails are not lost or skipped.

https://github.com/publiclab/plots2/commit/05ec8a29b19e33090604cc070319ff5686abd6ce

[2019-06-03 13:56] jywarren commented on #5683
I'm going to re-open because I am seeing intermittent system test failures, like this:

The error is: https://travis-ci.org/publiclab/plots2/jobs/540748689#L3885

[code]

Now, this means we're not logged in, but it's not reliably reproducible. So, I think it's likely that it's a timing/timeout issue!

[2019-06-03 14:32] ananyaarun commented on #4963
New FTO up for grabs at LEL
https://github.com/publiclab/leaflet-environmental-layers/issues/195
Thanks !

[2019-06-03 14:46] jywarren commented on #5774
Just noting that this code is live! https://publiclab.org/api/srch/profiles?query=Gauravano

[2019-06-03 14:49] jywarren commented on #5775
Hm, so if you wanted to you could make a variety of users following the seeds.rb example:

https://github.com/publiclab/plots2/blob/05ec8a29b19e33090604cc070319ff5686abd6ce/db/seeds.rb#L12-L20

This segment of code generates a bunch of tags:

https://github.com/publiclab/plots2/blob/05ec8a29b19e33090604cc070319ff5686abd6ce/db/seeds.rb#L83-L85

So maybe something like:

[code]

[2019-06-03 14:50] jywarren commented on #5775
Then you should be able to search for `user` and get like 20+ results!

[2019-06-03 15:14] jywarren commented on #5708
Actually sorry, to clarify:

Actually we are going to just show "people" in the one tab and then flatten "notes, questions and wiki pages" (all of them based on the Node model, after all) into a combined single display called "Content".

I'm especially thinking of this method:

https://github.com/publiclab/plots2/blob/master/app/services/search_service.rb#L58-L60

Instead of this method:

https://

[2019-06-03 15:17] jywarren commented on #5708
And, noting on

There's a page here which successfully demonstrates this -- using a wiki -- https://publiclab.org/wiki/search

[2019-06-03 16:24] rexagod commented on #5822
Will do, @gauravano, and no problem! 👍

[2019-06-03 16:42] #5442 closed

[2019-06-03 20:15] aSquare14 opened #5828 "Weekly Community Check-In #24 (Learning from Public Lab)"
Hi everybody :smiley: !

We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our _weekly goals and the awesome work_ we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past

[2019-06-03 20:16] aSquare14 commented on #5627
https://github.com/publiclab/plots2/issues/5828

[2019-06-03 20:41] gauravano commented on #5828
@mohitRJranjan @milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @geekychaser @shubhscoder @sidntrivedi012 @SidharthBansal @cesswairimu @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1, @uzorjchibuzor, @eli6, @re

[2019-06-03 20:41] gauravano commented on #5828
@mohitRJranjan @milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @geekychaser @shubhscoder @sidntrivedi012 @SidharthBansal @cesswairimu @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1, @uzorjchibuzor, @eli6, @re

[2019-06-03 20:41] gauravano commented on #5828
@publiclab/community-reps @subhahu123 @An0u @Jaya738 @mgroovyank @shreyateeza @TANGL3SIT3S @nazeem1988 @karunagoyalk @Nirvikalpa108 @cassianoblonski @EngrEric @Anjalizi @GettyOrawo @coderbeetle @corbettbw @govindjeevan @gautamig54 @daddyjab @emestabillo @letnewKid @srujana121 @jazdao @ChinwenduSilvia @aggarwal19 @Jenniline @madelinejones @helenatxu @richa031 @fabsar @kuja24 @megha070 @Aarabhi2017

[2019-06-03 20:41] gauravano commented on #5828
@Priyak5 @techchic @ananya @hc-barker @edwd42 @PritiShaw @themonster2015 @supriya-kotturu @AnthoniaOkafor @scheleon @mahmodHammad @santushk @jillpena @stoic-plus @starkblaze01 @aSquare14 @vaarigupta @alonpeer @madeofhuman @ibnjunaid @aashna27 @harshithpabbati @mmmelissa @rarrunategu1 @daz @UNnamed66 @GauravJ3 @Greg-Tarr @Sanscripter @hodbadger @alaxalves @becomingajunior @monsij @dhruvgupta167 @vr

[2019-06-03 20:46] gauravano commented on #5828
@jesus-montano @michelelong

[2019-06-03 20:57] jywarren commented on #5817
OK, now working on analysis after a few hours:

![Screen Shot 2019-06-03 at 4 36 39 PM](https://user-images.githubusercontent.com/24359/58833115-600b3980-861e-11e9-9044-9dbe446323d2.png)

Overall looks good. But, on closer look, it's ramping up in load time:

![Screen Shot 2019-06-03 at 4 37 03 PM](https://user-images.githubusercontent.com/24359/58833141-6a2d3800-861e-11e9-85ab-9811aebf76c0.png)

[2019-06-03 21:12] jywarren commented on #5817
shall i comment out the rescue/retry code entirely?

maybe the hanging waiting for mysql to pick up is actually taking up threads?

I'll try this. Site is almost unresponsive.

I removed the `retry` here: https://github.com/publiclab/plots2/commit/faa5a12e86bf7944dca43134f649947f03ca96a6

Deploying... it'll take a while.

[2019-06-03 21:42] jywarren commented on #5795
Thanks! That's too bad - maybe we can mark the PR with that and then merge it hopefully down the road once it is supported? Thank you for your help!!!

[2019-06-03 21:51] jywarren commented on #5828
Hi, all! After last week's discussion on having an Open Call for Code tomorrow, this time seems to have been the most selected:

![image](https://user-images.githubusercontent.com/24359/58836571-22f77500-8627-11e9-9903-79478abeda67.png)

That will be this time in any timezone: https://everytimezone.com/s/95c1968c

(referencing @gauravano in [this comment](https://github.com/publiclab/leaflet-blurr

[2019-06-03 21:58] Divy123 commented on #5828
Did I just miss the open call. It's showing 1 am IST on Tuesday.

[2019-06-03 22:04] jywarren commented on #5828
Yikes! Maybe I did it on the wrong day - it should be 12:30 PM tomorrow - so in about 18.5 hours!

Let me double check the time link. Sorry!

[2019-06-03 22:05] jywarren commented on #5828
Oops! Indeed i made a mistake. Sorry!!! This is the correct one: https://everytimezone.com/s/96b47522

I'll update the link above too just so people don't press the wrong one. This is in ~18 hours, right?

[2019-06-03 22:09] jywarren commented on #5683
These two PRs are reliably not passing their system tests:

https://github.com/publiclab/plots2/pull/5824 + https://github.com/publiclab/plots2/pull/5825

[2019-06-03 22:12] jywarren commented on #5737
Yes, let's do the `t` to `translation` conversion now, I'm pretty happy with how this is working, and people can turn it on and off via profile tags anyways! Thanks, this is AWESOME Gaurav!

I think this sounds good but i think we can detect the languages settings of the user's browser, rather than guessing based on location. That way if someone doesn't speak one of the primary languages of a coun

[2019-06-03 22:13] jywarren commented on #5737
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language maybe?

[2019-06-03 22:44] jywarren opened #5829 "Username with a space in it needs better validation error message"
This is small but important - someone wrote in saying they got a "username invalid" message when trying to sign up; I tried, and realized that if you enter a space in a username, it says "invalid" but doesn't say why.

![Screen Shot 2019-06-03 at 6 42 29 PM](https://user-images.githubusercontent.com/24359/58839342-78378480-862f-11e9-8714-43dba7180a4f.png)

We should offer a validation error messag

[2019-06-03 22:50] jywarren opened #5830 "Tag search generates incorrect URLs"
We added a filter to add hyphens to tag searches, but when typing into https://publiclab.org/tags, it generates poorly formed tag queries, like `balloon mapping` generates:

https://publiclab.org/tag/suggested/balloon/-/gm

It should instead be generating: https://publiclab.org/tag/suggested/balloon-mapping

Hmm, this seems to be the culprit line:

https://github.com/publiclab/plots2/blob/faa5a12e

[2019-06-03 22:52] #5830 closed

[2019-06-03 22:52] jywarren commented on #5830
Made a fix in https://github.com/publiclab/plots2/commit/9609697c108ab2e4891942005e1882d12689592f

[2019-06-03 23:23] gauravano commented on #5737
Sure, headers are always helpful. I will start on this enhancement after updating the notes/wikis related to translation. @jywarren @ebarry so can I go ahead and update the research notes using my admin privileges?

[2019-06-03 23:39] gauravano commented on #5775
Or, you can test on unstable? You can do changes, push them on `unstable` and your code will be live at https://unstable.publiclab.org after building. As unstable has lot of data, it would be like testing in the production.

And, @jywarren's approach is there too. Also, we can use https://github.com/stympy/faker for generating fake data in seeds.rb too. Hmm, it's something which we can do for all

[2019-06-03 23:43] gauravano commented on #5820
Hmm, makes sense. But, don't you think that dropdown icon is self-explaining that there's a sub-menu present. Do we really need to add a title for that?

[2019-06-04 00:41] gauravano commented on #5829
![Screenshot from 2019-06-04 06-11-02](https://user-images.githubusercontent.com/20878070/58843317-959c3b00-868f-11e9-9d10-e8608d33901e.png)

@jywarren is this message good?

[2019-06-04 00:50] alaxalves commented on #5683
@jywarren Apparently https://github.com/publiclab/plots2/pull/5825 is failing because there's a `end` missing somewhere.

[2019-06-04 01:00] #5821 closed

[2019-06-04 01:08] gauravano commented on #5046
Hi @reiningc, go ahead!

[2019-06-04 01:12] cryptoclidus commented on #5828
Hello!
I will try to make it to the call tomorrow. Last week I cloned the spectral-workbench.js repository and started to try to understand it. Doing that, I ended up installing and learning how to use node.js (from the w3schools tutorial), which is really really awesome! My goal this week is to get a better understanding of how the spectral-workbench.js is organized and to be able to run it as-is

[2019-06-04 02:40] jywarren commented on #5817
Hmm it really doesn't seem solved... https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1559577660/8h13m/endpoints

[2019-06-04 03:15] michelelong commented on #5820
Yes, the dropdown caret makes it clear there is a submenu, but there isn't a hint as to what can be found in the submenu like the print options. It should probably have a more descriptive tooltip than just "tools" if it is going to have one or I can remove it if you prefer.

[2019-06-04 04:33] jywarren commented on #5817
Ok I wonder if the container setup affected the mailman container at all? Because at this point we've reverted all the likely stuff from the mailman script.

[2019-06-04 06:34] Divy123 commented on #5828
Can someone pleasse help me with the link to the open call?

[2019-06-04 06:49] starkblaze01 commented on #5828
https://publiclab.org/wiki/open-call

[2019-06-04 06:50] starkblaze01 commented on #5828
Hi, I will try my best to make it on time.
Sorry, for the inconvenience.

[2019-06-04 07:12] ananyaarun commented on #5828
Hi Everyone !!
I'm Ananya an outreachy intern with Public Lab, working on Leaflet Environmental Layers repository.
Here is the jist of my project https://github.com/publiclab/leaflet-environmental-layers/issues/173

## Update on last week's progress -

### FTO's created by me
- https://github.com/publiclab/leaflet-environmental-layers/issues/195

### Progress of my project

here are some issues/PR

[2019-06-04 10:42] CleverFool77 commented on #5707
Hi @jywarren
This thing about small map which expands looks cool idea. Because we usually don't prefer a big map spanning over the huge area on page rather a small open which we can span when we specifically want to look over it.
I guess we should implement this

[2019-06-04 11:18] jywarren commented on #5737
Yes please go ahead! You can add yourself as co-author too!

On Mon, Jun 3, 2019, 7:23 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-06-04 11:19] jywarren commented on #5829
Yeah!!! Thanks!!

On Mon, Jun 3, 2019, 8:42 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-06-04 13:43] suretrust commented on #5829
@jywarren is anyone working on this? I'd like to work on it.

[2019-06-04 13:53] jywarren commented on #5817
OK, overnight it peaked and went back down a bit. But our problematic ones are still quite high, with peaks at about 20 seconds:

![image](https://user-images.githubusercontent.com/24359/58884477-837dc500-86ae-11e9-8991-9a20343dc4cf.png)

[2019-06-04 13:53] jywarren commented on #5817
The stats range calls are taking up to 40+ seconds!

[2019-06-04 13:54] jywarren commented on #5817
They're also taking forever on cache generation:

![image](https://user-images.githubusercontent.com/24359/58884626-c6d83380-86ae-11e9-92c4-fbf8e8b35585.png)

Could we be seeing an issue with the cache read/write?

[2019-06-04 13:55] jywarren commented on #5817
@icarito could there be like an issue on the read/write io or something on cache generation? I'm just not sure why it would take this long to pack all the data into the cache.

[2019-06-04 15:25] jywarren commented on #5829
@suretrust that would be awesome, thank you!!!

[2019-06-04 15:30] jywarren commented on #5829
@suretrust this is also the kind of thing that would be great to have a test for. Have you written Rails tests in the past? Here's an example of functional testing of validations:

https://github.com/publiclab/plots2/blob/89432eeb3e780cf3953f11fc6971f5574a410d2a/test/functional/users_controller_test.rb#L243-L256

We might also check the actual error message, although that could take some experimen

[2019-06-04 15:34] jywarren commented on #5683
Oof! Thanks @alaxalves! 🎊  i had assumed I hadn't touched any system test code and was so used to system tests not working... but my changes are to one of the only features we actually have system tests for, so this is a perfect use case for system tests! 🎉

[2019-06-04 15:38] jywarren commented on #5683
OMG and the other is also a true system test failure! Wow, closing again. It's so pleasant to have ones tests fail due to real bugs! 😆

[2019-06-04 15:38] #5683 closed

[2019-06-04 15:41] suretrust commented on #5829
@jywarren thanks, I'll surely ask for help if I get stuck. :)

[2019-06-04 15:55] michelelong commented on #5828
Thanks to your welcoming project I have created my first issues, made my first pull requests and had a PR merged this week. I have been looking to make a contribution for a long time, but wouldn't find a comfortable place to learn how to do it.

Thank you all for making an effort to include everyone.

[2019-06-04 16:15] jywarren commented on #5739
Hi all! Just noting that the individual tag pages are starting to get a bit... extra broken 😂

https://publiclab.org/tag/pi-camera

![image](https://user-images.githubusercontent.com/24359/58895669-766ad100-86c2-11e9-9535-39085113d3a5.png)

Maybe it's worth bumping up the priority of that project a little bit, or at least implementing a short term fix?

[2019-06-04 16:24] CleverFool77 commented on #5739
Hi @jywarren How about doing the short term fix first for now ?

On Tue, Jun 4, 2019 at 9:45 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-06-04 17:56] CleverFool77 commented on #5819
Hi @gauravano Can we poll maybe between various way. So everyone can choose maybe ?
Though According to me the project specific group looks like a great idea.
By this, we can continue on the conversation in chatroom in future too. Thus if a new contributor came across any problem. It would be preferred write their issues in chatroom of that specific group where we have only those people who are wo

[2019-06-04 18:56] jywarren commented on #5739
That sounds great. Thanks Lekhika!

On Tue, Jun 4, 2019, 12:25 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-06-04 19:07] jywarren commented on #5828
Oh no, @ananya i hope you're feeling better!

@michelelong welcome!!! So glad you have found a place here! Awesome! 🎉

[2019-06-04 19:17] jywarren commented on #5828
Hi everyone, the Code Open Call went well!

Notes here (you may need to scroll down): https://pad.publiclab.org/p/opencall

People are very into the idea of doing it weekly. Would the same time work for enough people each week?

Even if not everyone can, I encourage @publiclab/mentors to offer a time to meet at least every 2 weeks!

[2019-06-04 19:19] jywarren commented on #5828
@rexagod it was great hearing about your project. Can you link us there? The demo is cool! Do you have plans to make a headless test suite too, and/or a demo that is visually interactive? Thanks!

[2019-06-04 19:19] jywarren commented on #5828
And copying in the section on brainstorming on the reviewing process and also more regular calls!

[code]

[2019-06-04 19:31] jywarren commented on #5828
I heard a 👍 from @IshaGupta18 and @rexagod on next week same time -- anyone else?

[2019-06-04 19:33] CoderJolly commented on #5828
Count me in, wasn't aware of the call taking place. Will surely love to attend next time @jywarren

[2019-06-04 20:00] jywarren commented on #5817
Leaky gems -- check off if we're OK

- [ ] celluloid > 0.16.0, < 0.17.2
- [ ] csspool < 4.0.3
- [ ] grape < 0.2.5
- [ ] oj < 2.12.4
- [ ] redcarpet < 3.3.3
- [ ] redis = 3.3.0
- [x] sidekiq < 3.5.1
- [ ] sidekiq-statistic
- [ ] therubyracer < 0.12.2
- [ ] zipruby <= 0.3.6

Non-leaky but memory issues in any case:

- [ ] activeadmin
- [ ] axlsx
- [ ] delayed_job >= 4.06
- [ ] libxml-ruby < 2.9.0 wi

[2019-06-04 20:26] gautamig54 commented on #5707
Yes @jywarren even I think smaller map is a better idea. It takes up half the page, due to which the space below the map is wasted. It will help optimising the page. We can definitely go with this!

[2019-06-04 20:44] gautamig54 commented on #5707
@CleverFool77 I played around a bit with font-size and padding. How do the cards look now?

![Screen Shot 2019-06-05 at 2 15 53 AM](https://user-images.githubusercontent.com/35326753/58912423-a0120f80-8737-11e9-82ea-8a21734650e7.png)

![Screen Shot 2019-06-05 at 2 16 02 AM](https://user-images.githubusercontent.com/35326753/58912440-a7d1b400-8737-11e9-96a1-4b9599fc961e.png)

[2019-06-04 20:52] gautamig54 commented on #5733
Yes @CleverFool77. For now we can refer featured questions as the present popular questions. Meanwhile, I will start working for the recent questions and the tags section.

[2019-06-04 21:17] gautamig54 commented on #5739
I am working on this one!

[2019-06-04 21:18] jywarren commented on #5707
ok, glad we have some consensus on small map design! One question I had was, when you expand it, should it open to cover the whole page, or should it direct you to a new page at, for example, publiclab.org/maps (although at the location and with the same layers showing?)

[2019-06-04 21:20] gautamig54 commented on #5707
How about a modal, not covering the entire page?

[2019-06-04 21:38] jywarren commented on #5707
Hm, can we make a mockup of what that might look like? Thanks!

On Tue, Jun 4, 2019 at 5:21 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-06-04 22:19] gauravano commented on #5829
Hi @jywarren, I spent some time with this one and I think we can incorporate translations here - https://stackoverflow.com/questions/808547/fully-custom-validation-error-message-with-rails We can further divide the messages - https://stackoverflow.com/questions/17935597/ruby-on-rails-i18n-want-to-translate-custom-messages-in-models for simplifying for user.

I have raised https://github.com/public

[2019-06-04 22:55] gauravano commented on #5737
Thanks, @jywarren for confirming! Also, don't you think what I am currently doing is somewhat similar to @steviepubliclab's note -  https://publiclab.org/notes/stevie/05-24-2019/idea-to-distribute-tasks-for-a-reserach-area-review. But, I think, it'll cover only wikis but if that covers research notes too, then co-authors would be added or the reviewers need to be given admin privileges :thinking:.

[2019-06-04 23:34] rexagod commented on #5828
Thank you, @jywarren! I'm assuming by demo you mean the [matcher-core's demo](https://matcher-core.rexagod.now.sh/demo/), right? Anyway, talking about `matcher-cli`, yes, it's a headless testing utility for locally (and travis-friendly too 🎉) testing out your `matcher-core` configs, i.e., it starts a local server and deploys your current configs on the [specified port](https://github.com/rexagod/m

[2019-06-05 00:01] rexagod commented on #5828
Also, in response to this week's check-in,

New: https://github.com/publiclab/mapknitter/issues/663#issuecomment-498852814
Ongoing: (all listed here) https://github.com/publiclab/inline-markdown-editor/issues/72

CLI and Core are already on their `v1.0.0` releases and I'll be publishing them *very* soon. Refer above comment for more details.

Developing matcher UI using leaflet and finalize a dete

[2019-06-05 00:19] alaxalves commented on #5795
@kodyclemens @jywarren CodeClimate currently only supports rubocop ~> 0.52.0. We had this same issue with mapknitter at https://github.com/publiclab/mapknitter/pull/547

[2019-06-05 00:25] alaxalves commented on #5828
Something I have leaned from contributing with PublicLab projects was about the Rails Asset Pipeline. During some upgrades I've done/have been doing on Mapknitter, I got to learn a lot about it. Also I have learned about the tool Gitter, something that I have never even heard about. Pretty nice tool though.

[2019-06-05 01:26] SidharthBansal commented on #5828
From PL, I learnt modularity, testing, mentorship,  and various prod environments. These I can't understand without PL. Thanks

[2019-06-05 01:28] SidharthBansal commented on #5828
@alaxalves I think you forget to mention the updates. Please do it in your free time here.
Thanks

[2019-06-05 01:36] alaxalves commented on #5828
This week I worked a lot with Rubocop settings and patches. At https://github.com/publiclab/mapknitter/pull/547 and https://github.com/publiclab/mapknitter/pull/661. I have also fixed our issue that made Travis use the production environment. So now Travis is using the test environment as it should. Right now I'm working on some issue regarding CodeCov @kaustubh-nair has identified (I'll open a PR

[2019-06-05 07:30] CleverFool77 commented on #5739
In the features question, the picture is the profile picture of the person who asked the question ?

[2019-06-05 09:48] CleverFool77 commented on #5739
Did you mean short term fix ? Sure then.
thanks !!

[2019-06-05 10:18] divyabaid16 commented on #5828
Hello everyone!
Hope everyone is doing great!

My update on last weeks progress:

Issues created:
https://github.com/publiclab/mapknitter/issues/638
https://github.com/publiclab/mapknitter/issues/644

FTO'S created:
https://github.com/publiclab/mapknitter/issues/639
https://github.com/publiclab/mapknitter/issues/647

PR's worked upon:
https://github.com/publiclab/mapknitter/pull/645
https://github

[2019-06-05 11:56] CleverFool77 commented on #5708
Hi @jywarren I was working on search section today. So I wanted to ask that Is people tab alias for profiles ?

[2019-06-05 13:04] CleverFool77 commented on #5739
Hi @gautamig54 It would be great if you can add your work which is done or is in progress in project cards. It would help a lot in checking the work progress. And arrange or sort it with time. So that we can the latest one above.
Thanks !!

[2019-06-05 13:14] CleverFool77 commented on #5739
No worries :3 I already added.

[2019-06-05 14:29] CleverFool77 opened #5839 "Fix the new question form"
## Description
The UI is distorted due to bootstrap4 upgrade.
maybe we can work on this.
For eg -
* The toolbox regression.
* The field for tags look different from other fields.
* The flash notice width maybe ?

![gg](https://user-images.githubusercontent.com/26685258/58964309-4c9dd100-87cc-11e9-916a-3dae7e9f26b9.gif)

[2019-06-05 14:31] jywarren commented on #5817
I'm still seeing this massive cache generation time for `stats_controller#range` and wondering if we need to tweak where cache is stored. It looks like the default is file storage (and I checked, we have cache files in `/plots2/tmp/cache/`. Would we be helped at all by switching to in-memory caching or `memcached`, both of which are apparently pretty simple changes?

https://guides.rubyonrails.org

[2019-06-05 14:35] jywarren commented on #5817
Also looking at https://www.skylight.io/support/performance-tips

[2019-06-05 14:39] jywarren commented on #5817
I'll look at the email configuration now but if it doesn't yield anything I'll merge this, turning off the `begin/rescue` loop: #5840

[2019-06-05 15:06] rarrunategu1 commented on #5775
Hello, I'm having a little trouble testing on unstable.  I pushed to unstable and checked the website listed but I don't notice anything changing at all.  All I have to do is push it and then check the website right?  My apologies this is all new to me.

[2019-06-05 16:39] jywarren commented on #5817
OK our next step for https://github.com/publiclab/plots2/pull/5841 is to develop a monitoring strategy for if mailman goes down.

[2019-06-05 16:48] jywarren commented on #5817
Deploying with the new email credentials, AND the `begin/rescue` removal. However, **I think it's worth redeploying with the `begin/rescue` re-instated** if the memory leak is solved, because it could have been the email credential issues.

[2019-06-05 18:09] bronwen9 opened #5842 "Email auto replies are auto-posting to research notes."
### This has happened before, but email auto replies are showing up as comment responses in threads on the site.

This particular email posted about 70 times, and contains information about the poster's personal schedule as well as contact information for another person.

![AutoReplyPost](https://user-images.githubusercontent.com/8331717/58979199-7ab6ed00-879b-11e9-8dea-448238f51796.gif)

Can we d

[2019-06-05 18:18] ebarry opened #5843 "Notes from banned author still published"
Here's a mystery:

This author is rightfully banned: https://publiclab.org/profile/c329163204

However, this note from this author still appears on the website:
https://publiclab.org/notes/c329163204/05-23-2019/the-separation-essence-of-different-chromatography

Let's figure out where this bug is!

[2019-06-05 18:20] bronwen9 commented on #5842
This is actually an issue on 2 posts-- the 2nd post is here: https://publiclab.org/notes/eustatic/05-24-2019/balloon-map-of-south-bonfouca-cel-usfws-planting-with-pies-and-toes

Worth noting that the email posting to the comments has a pretty clear "do not share" note at the bottom.
<img width="490" alt="Screen Shot 2019-06-05 at 2 19 28 PM" src="https://user-images.githubusercontent.com/8331717/5

[2019-06-05 18:24] ebarry commented on #5708
hi @CleverFool77 , yes what you mapped is correct:

[2019-06-05 18:29] CleverFool77 commented on #5708
Hi @ebarry
I pushed the latest changes to https://github.com/publiclab/plots2/pull/5747

![Screenshot from 2019-06-05 20-29-10](https://user-images.githubusercontent.com/26685258/58980422-ee81e580-87ed-11e9-820a-523b5f41e76f.png)

[2019-06-05 18:31] ebarry commented on #5708
Such nice looking work @CleverFool77 !
I was just looking back at the checklist at the very top of this document, and wondering if we could update our priorities now that a couple weeks have gone by?

[2019-06-05 18:37] CleverFool77 commented on #5708
Sure @ebarry We were working on other sections. So this section got delayed. Right now, we are working on questions section. Now we'll proceed with the search section and Both of them would go side by side.

[2019-06-05 18:38] CleverFool77 commented on #5708
Hi @ebarry You can go though the progress of project here https://github.com/publiclab/plots2/projects/10 and suggest us that which section parts can be prioritised.
Thanks !!

[2019-06-05 18:43] michelelong commented on #5843
When I visit the site, **not logged in**, through those links I don't see the note or author profile. I get the main site and a pink notice at the top that the author/note was banned.

[2019-06-05 18:54] jywarren commented on #5817
Latest error:

[code]

[2019-06-05 18:56] ebarry commented on #5708
Thank you, that project board looks cool.

From your checklist above, i suggest we prioritize this:
- [ ] try the search by google option and display results of google search

So that the main Search page result can look like this:

<img width="559" alt="Screen Shot 2019-06-05 at 2 39 47 PM" src="https://user-images.githubusercontent.com/161439/58981291-1a767a00-87a0-11e9-9d43-cb9c76806c50.png">

[2019-06-05 18:57] jywarren commented on #5817
Fixed that! https://github.com/publiclab/plots2/commit/c02b5600fa512108d44b9163f44764a9552bbb73

[2019-06-05 19:02] ebarry commented on #5843
oh! this is great information! It must have been because i was a moderator that i could see that!
I am surprised that comments can still be submitted to banned posts, but that's not really a problem so i'll close this issue! Thanks @michelelong ! and Welcome.

[2019-06-05 19:02] #5843 closed

[2019-06-05 19:09] CleverFool77 commented on #5708
The by type search seems to be a new design. Thanks @ebarry
I'll soon push the the changes with new designs.
I wanted to ask that Does `Places` and `tags` would be included in `By type` search ?

[2019-06-05 19:23] jywarren commented on #5708
Hi, all - noting that the code for running the Google-backed search is at
https://publiclab.org/w/search running already, and if you use a parameter
`q` you can initiate it with a search term, like:
https://publiclab.org/w/search?q=balloon

The code to make this work can be found on the "raw" view of that page:
https://publiclab.org/notes/raw/19093 (i had just been prototyping it in a
wiki page)

[2019-06-05 19:25] jywarren commented on #5842
Linking to previously opened issues at #3218 #4562 !

[2019-06-05 19:27] jywarren commented on #5842
And just to update on the status here, the original fix at #3218 didn't work, or worked for only some autoreplies. I'm closing that in favor of this issue.

#4562 was not followed up on, but I found some resources for how to identify an auto-reply email here: https://github.com/publiclab/plots2/issues/4562#issuecomment-458547740

https://stackoverflow.com/questions/1027395/detecting-outlook-autore

[2019-06-05 19:27] jywarren commented on #4562
Moving to #5842 !

[2019-06-05 19:27] #4562 closed

[2019-06-05 19:28] jywarren commented on #3218
Moving to #5842 !

[2019-06-05 19:28] #3218 closed

[2019-06-05 19:29] jywarren commented on #5842
And copying in the probably helpful notes from one of them:

[code]

[2019-06-05 19:31] jywarren commented on #5842
Apparently we can read the headers like: `email.headers["Message-ID"]` -- so for the above:

* `email.headers["Auto-Submitted"] != "no"`
* `email.headers["X-Autoreply"]`
* `email.headers["X-Autorespond"]`
* `email.headers["Precedence"] == "auto_reply"`

[2019-06-05 19:32] jywarren commented on #5842
So we'd modify this line:

https://github.com/publiclab/plots2/blob/04d5bbca4f47066e9628c1dc78e9961ef32c20f7/app/models/comment.rb#L263-L266

[2019-06-05 19:37] jywarren commented on #5842
This is going to be difficult to test out. We can do it manually. But we should try to collect several full autoreply emails from different sources and put them in our fixtures: https://github.com/publiclab/plots2/tree/master/test/fixtures/incoming_test_emails

[2019-06-05 19:37] jywarren commented on #5842
@bronwen9 if you can fwd me some that would be very helpful

[2019-06-05 19:38] jywarren commented on #5842
Tests should be easy to write against real captured email samples. I added `Comment.is_autoreply(mail)` which we can use.

[2019-06-05 19:42] jywarren commented on #5842
Here is our Outlook test; we could add one more for an Outlook-generated auto-reply:

https://github.com/publiclab/plots2/blob/4a31189ea8cba15ebe166bfbd3ae2367e0d8cebf/test/integration/incoming_mail_parsing_test/outlook_parsing_test.rb#L3-L18

Similarly with Google and Yahoo auto-replies: https://github.com/publiclab/plots2/tree/4a31189ea8cba15ebe166bfbd3ae2367e0d8cebf/test/integration/incoming_ma

[2019-06-05 19:49] jywarren commented on #5842
OK, so our next steps would be:

* [ ] to capture sample auto-reply emails from Gmail, Outlook, and Yahoo, and add them to our fixtures, as, for example: `test/fixtures/incoming_test_emails/outlook/autoreply_incoming_outlook_email.eml`
* [ ] unit test with `Comment.is_autoreply(Mail.read('test/fixtures/incoming_test_emails/outlook/autoreply_incoming_outlook_email.eml'))` -- let's put this in https

[2019-06-05 20:03] cesswairimu commented on #5775
Hey @rarrunategu1 :wave: , I checked the latest commits on unstable https://github.com/publiclab/plots2/tree/unstable and your changes do not seem to be there...maybe you pushed to your fork...
You can run this command to force push to plots2/unstable `git push -f https://github.com/publiclab/plots2 HEAD:unstable` after about 20 mins your changes should be visible on https://unstable.publiclab.org

[2019-06-05 20:29] cesswairimu commented on #5828
Hi all :wave:,

I am calling for anyone with a moment to spare to kindly take a look at the upgraded version of mapknitter (Rails 4) on http://mapknitter-unstable.laboratoriopublico.org/. If you come across any bugs or any broken parts please leave a comment at https://github.com/publiclab/mapknitter/issues/668. Thanks in advance :heart:

It was great seeing all those who made it to the call yeste

[2019-06-05 20:47] jywarren commented on #5817
ug, finally relaly publishing the comment.rb fix....

[2019-06-05 20:49] #5046 closed

[2019-06-05 20:54] jywarren commented on #5733
I think featured questions could be managed through a tag like `featured` which is added. So then we could show just 2-3 on this page, then have a link to "more featured questions" which goes to, for example, https://publiclab.org/questions/tag/featured

How does this sound?

We are looking to be able to highlight really good questions that are especially representative of environmental issues, an

[2019-06-05 20:55] jywarren commented on #5733
So, the curators (like @publiclab/community-reps) would look for questions that are clearly phrased, address an environmental issue, and maybe that have been really well answered, so as to model for the community what it looks like also to get good answers. These examples would help to shape participation on the site by modeling our ideal interactions!

[2019-06-05 20:58] ebarry commented on #5708
Hi @CleverFool77, thanks for writing back!

i'm not sure about `places`.

For `tags`, also not sure, but maybe for now, let's explore offering the Tag Search through the Search Bar:

Looking closely, very closely, at the mockup, it can be seen that typing a word into the search bar triggers autosuggested tags. Then there are four ways to advance:

1) from the dropdown, choose a tag which goes to t

[2019-06-05 21:03] rarrunategu1 commented on #5775
Do I need to have permission to push?  I changed my remote to publiclab/plots2 and attempted pushing the information but I'm getting this error.

remote: Permission to publiclab/plots2.git denied to rarrunategu1.

[2019-06-05 21:09] gauravano commented on #5775
Hi @rarrunategu1, yes, you need permission for pushing to unstable. tagging @jywarren if he can provide permission right now.

Also, if you want to test your work right now, feel free to pass the link to your PR and I can push that to `unstable` for you.

[2019-06-05 21:18] rarrunategu1 commented on #5775
I did a pull request to go into the unstable branch.  @gauravano would you please let me know when I can check it?  I really appreciate all your help with this.

[2019-06-05 21:29] gauravano commented on #5775
I have pushed it as you can see your PR merged. You can see your PR building https://jenkins.laboratoriopublico.org/job/Plots-Unstable/lastBuild/console and it'll take 10-15 mins to build. After that, head over to http://unstable.publiclab.org for testing your work

[2019-06-05 22:25] gauravano commented on #5775
@rarrunategu1 your work is live at unstable.publiclab.org and just to confirm, the last commit in this - https://jenkins.laboratoriopublico.org/job/Plots-Unstable/lastBuild/changes list of commits is your's, right?

[2019-06-05 22:33] jywarren commented on #4094
Hi @ViditChitkara -- noticing there's a lot of now-unnecessary answer code in comment.rb -- https://github.com/publiclab/plots2/blame/master/app/models/comment.rb#L223 -- is this part of our plan to clean up as well? Thank you!

@skilfullycurled thanks, sorry i want to circle back to this too, but getting at some of the refactoring first --

[2019-06-05 22:34] jywarren commented on #4094
And @ViditChitkara forgive me, i am almost certain i am missing a comment you made on this recently. But wanted to link what @skilfullycurled asked about "checkmark response" meaning "answer" and wonder if on this PR we might not be better off changing the `question.answers` code to, instead of fetching `Answer` records, to just fetch comments with such a checkmark response, in a new version of `d

[2019-06-05 22:36] jywarren commented on #4550
I think we can resolve this now because all answers are now comments themselves, because of #4094 !

[2019-06-05 22:36] #4550 closed

[2019-06-05 22:49] gauravano commented on #5385
Solved in #5399

[2019-06-05 22:49] #5385 closed

[2019-06-05 22:53] jywarren commented on #5775
my apologies on permissions, adding them now.

On Wed, Jun 5, 2019 at 6:25 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-06-05 23:00] jywarren commented on #5817
OK, we're waiting to see if the email queue flushes out and we see some return to normalcy then...

[2019-06-05 23:00] jywarren commented on #5817
I left a comment on https://publiclab.org/notes/mimiss/06-04-2019/workshop-viii to test

[2019-06-06 00:24] ManethKulatunge commented on #5629
Hi! Can I claim this issue?

[2019-06-06 00:28] ManethKulatunge commented on #5340
Hi, can I claim this issue if it is not resolved?

[2019-06-06 00:36] jywarren commented on #5708
Hi, just noting that tags will be omitted in favor of showing tags on each
search results page along the top in blue pills, as in the mock-up.

On Wed, Jun 5, 2019, 4:59 PM Liz Barry <notifications@github.com> wrote:

[2019-06-06 00:37] jywarren commented on #5708
Places at the moment will be a type of wiki page, so should be omitted in
favor of that display. So places and tags can just be left out!

On Wed, Jun 5, 2019, 8:36 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-06-06 00:47] gauravano commented on #5340
Hi @ManethKulatunge,  go ahead!

[2019-06-06 00:54] jywarren commented on #5839
Yes, let's make this as smooth and simple as possible!

Some of these changes we can also port back to the main /post form which
especially looks bad in mobile devices. Thanks!

On Wed, Jun 5, 2019, 10:29 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-06-06 00:55] jywarren commented on #5737
Huh yes it is related! Ok, awesome.

On Tue, Jun 4, 2019, 6:56 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-06-06 00:58] #5258 closed

[2019-06-06 01:07] rarrunategu1 commented on #5775
Hello, unfortunately I still don't have permission.
![image](https://user-images.githubusercontent.com/29240939/58999836-cbe3d280-87d5-11e9-9a09-4eb41c6c19a6.png)

[2019-06-06 01:14] ManethKulatunge commented on #5407
I would like to claim this if no one is working on it. Thankyou!

[2019-06-06 01:18] jywarren commented on #5775
Hmm, Gaurav is this how you do it?

On Wed, Jun 5, 2019, 9:07 PM rarrunategu1 <notifications@github.com> wrote:

[2019-06-06 01:25] gauravano commented on #5775
Yes! Adding a guide in our docs too - https://github.com/publiclab/plots2/pull/5847

[2019-06-06 01:27] sashadev-sky opened #5848 "Wiki vs .md files in repo"
I wanted to bring to attention issue #4337 and ask why we moved all of our documentation out of Wikis and into .md files at some point?

I really like the Wiki interface! It makes documentation a lot easier to follow because you're not reading in .md syntax. And also easier to organize and remind people what's available because the topics are shown right there (instead of in a folder squished betw

[2019-06-06 01:28] jywarren commented on #4094
Yes, here's the checkmarks issue!!!

https://github.com/publiclab/plots2/pull/5261#issuecomment-497994927

[2019-06-06 01:28] sashadev-sky commented on #5848
Tagging some people that might be interested in this discussion @SidharthBansal @skilfullycurled @gauravano @jywarren

[2019-06-06 01:44] gauravano commented on #5848
Hmm, one explanation which comes to my mind is the fact that having documentation in the folder structure makes it more visible, whereas wiki option is kind of hidden at the top. Most new contributors try to understand the codebase by directly going through the readme so need to put links to wiki there. But, the same goes for documentation.

Actually, we can discuss here what things are more suita

[2019-06-06 01:53] jywarren commented on #5819
Sure a poll sounds nice. Gaurav remember how the poll with responses
worked? :-)

On Tue, Jun 4, 2019, 1:57 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-06-06 02:25] #5820 closed

[2019-06-06 02:48] gauravano commented on #5819
Yeah, we can open a poll for sure. But, I want to mention that if any @publiclab/soc is facing communication issues or they think that having a separate project-specific room or repo-specific room will fasten and would be convenient for them and the work, then we just need to poll between **repo-specific** & **project-specific** room as your convenience is a priority for us. What do you think @jyw

[2019-06-06 05:31] sashadev-sky opened #5850 "Recently Commented Tab on questions page does not align"
<img width="915" alt="Screen Shot 2019-06-06 at 12 56 49 AM" src="https://user-images.githubusercontent.com/41092741/59009405-70c4d680-87fb-11e9-8fa3-1e70ea331467.png">

[2019-06-06 05:55] sashadev-sky commented on #5848
@gauravano I was thinking the more we move out of the Rails app the better because there are so many files at this point

[2019-06-06 06:44] CleverFool77 commented on #5708
Hi @jywarren @ebarry I wanted to ask that regarding google search, it should be link as per the UI and then the results from google search will be displayed in second column of UI ?

[2019-06-06 10:26] #5850 closed

[2019-06-06 10:54] CleverFool77 commented on #5708
Hi @ebarry @jywarren

I was trying out the code, So I wanted to ask instead of search box, I should have `Try with Google search` link which would have action of google search (Similar to UI which you posted above ) ? And the other results for `intra search` would be hidden when google search results are shown ?

![Screenshot from 2019-06-06 16-20-59](https://user-images.githubusercontent.com/2668

[2019-06-06 13:15] CleverFool77 commented on #5839
Hi @jywarren I went through the code for question-form. I seem to see a class called `ple-guide` but cant see the usage. I guess its the info which we were showing earlier on first column of grid ?

[2019-06-06 14:26] jywarren commented on #5839
Yes, I think so, more used in the regular post form.

On Thu, Jun 6, 2019, 6:15 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-06-06 14:28] CleverFool77 commented on #5839
So Should I remove it from question form as it doesn't have any usage here ?

[2019-06-06 14:34] CleverFool77 commented on #5739
Just made few arrangements in project for better categorisation of work.
https://github.com/publiclab/plots2/projects/10
Thanks !!

[2019-06-06 14:36] jywarren commented on #5708
Hmm, can you show a quick mock-up? I was hoping Google search would seem
like the "default" to people for the time being. I think it's a little odd
that navbar search would still exist but we could see how it works... it'll
offer tag search results and then offer to continue in the Google search
with the "view all results" entry, so even if it's a little odd I think
people will still be routed eve

[2019-06-06 14:38] jywarren commented on #5839
I think so. I thought perhaps it was necessary for some reason but if it
works fine without then all good!

On Thu, Jun 6, 2019, 7:29 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-06-06 14:40] jywarren commented on #5819
Yes I guess just repo vs project. I think we should not split outreachy
from gsoc, as there are many benefits to being well connected.

For updates we can suggest it's a best practice but not require it?

On Wed, Jun 5, 2019, 7:49 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-06-06 14:42] IshaGupta18 commented on #5819
I think project specific chatrooms will be a great idea!

On Thu, Jun 6, 2019, 8:10 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-06-06 14:42] jywarren commented on #5848
@icarito has mentioned this because docs in the repo means you have them
offline, and also because I've found that wiki docs are disconnected enough
that we often miss when they are made. But I don't have a strong opinion
except that I generally don't wish for docs to be split up. Thanks!!

On Wed, Jun 5, 2019, 10:56 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-06-06 14:57] CleverFool77 commented on #5708
Hi @jywarren
I did add screenshot in comment above.
How do you want Google search to be ? default be like ? Similar to `Try your search with Google` as it appears in UI and then get the Google results ?
or `View All entry` be a button leading to action of custom google search

[2019-06-06 15:04] jywarren commented on #5708
Oh I see, sorry! So, let's try to not show "Google" unless it is a lot of work to remove it. How does that sound?

[2019-06-06 15:12] CleverFool77 commented on #5708
Ohkk!! I'm still pretty confused about the UI , so I'll show the mockup first then let's see and do the further changes.

[2019-06-06 16:34] michelelong commented on #5770
I can fix the broken tabs to authored/coauthored/drafts if no one is doing it yet.

[2019-06-06 17:11] CleverFool77 commented on #5770
Sure @michelelong You can go forward. and Do ping if you came across any problem.
Thanks !1

[2019-06-06 17:46] CleverFool77 commented on #5839
Hi @jywarren I went through code, Fixed some widths and other and came with results. The first column of grid which is class of `ple-guide` is empty. I guess it's because same code is used for other forms like `/post`. But in other forms there is info being showed in this first column where as its empty in questions form.
You can see the gap in the screenshot below.
![Screenshot from 2019-06-06 23

[2019-06-06 18:58] skilfullycurled commented on #5848
Thanks for inviting me @sashadev-sky.  Actually, when I first started out I found the fact that the documentation was located in the codebase confusing.  This was/is exacerbated by the fact that the github home page does not have a link to the documentation except for a specific link to the documentation for the email.  I just did a search for "doc" but maybe it has a different name?

I agree with

[2019-06-06 19:22] ebarry commented on #5708
Thank you @CleverFool77 !!!

[2019-06-06 19:46] gautamig54 commented on #5707
How about something like this @jywarren @CleverFool77

![Screen Shot 2019-06-07 at 1 18 25 AM](https://user-images.githubusercontent.com/35326753/59061761-d8ddf000-88c1-11e9-9d9f-22c526fa0ebb.png)

[2019-06-06 19:49] gautamig54 commented on #5707
@CleverFool77 regarding the exceeding of the tags from the card, I think adding ellipsis at overflow is a better option than restricting the tag name.

[2019-06-06 19:50] jywarren commented on #5839
If it doesn't break the question form then that's fine to remove. Let's
keep it simple!

On Thu, Jun 6, 2019, 10:47 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-06-06 19:59] gautamig54 commented on #5739
Hey, I was trying to upload an image to the tag wiki page to check the changes for this issue but wasn't successful. It shows a server error, saying "Could not run the `identify` command. Please install ImageMagick. excluded from capture: Not configured to send/capture in environment 'development' "
Any suggestions how to resolve this?

[2019-06-06 21:39] jywarren commented on #5739
Yes! If you follow prerequisites installation steps in the readme, you can
get the dependencies required to do thumbnail image generation that image
upload requires. Thanks!

On Thu, Jun 6, 2019, 12:59 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-06-06 22:04] jywarren commented on #5707
I think the modal idea has promise. Why don't we take this approach: we
start by simply sending people to a common map page at a fixed url. But we
continue to prototype modal and other means of loading a map without
reloading a page, and refine that gradually as it would be a bit more
complex. This will also give us time to do more user testing. And, if we
send to a fixed url we can do so to a spe

[2019-06-06 22:33] rarrunategu1 commented on #5775
Thank you @gauravano.  I've added my review.  @jywarren I still don't have permission to push.  I'm stuck right now because my next step also has to do with the questions Iisted on my review on #5847

[2019-06-06 22:57] gauravano commented on #5775
You want to push more commits?

[2019-06-06 23:14] gauravano commented on #5819
React with the corresponding emojis to give your opinion:

1. Repo-specific room (Separate groups for each of the repo, starting from Mapknitter, Image-Sequencer, LDI, LEL -- Long term/permanent groups) :heart:
2. Project-specific room (Separate groups for each of the Summer of code project -- temporary/archived after the end of SoC) :+1:
3. SoC group (Group which will consist of all mentors and S

[2019-06-07 00:29] rarrunategu1 commented on #5775
yes, unfortunately the  commit I pushed did not achieve what I wanted it to.

[2019-06-07 00:43] cryptoclidus commented on #5819
Another option could be a two chat split: general / projects, but I'm voting for an existing option!

[2019-06-07 09:31] Souravirus opened #5857 "Long tags in People page are overflowing"
@CleverFool77 @gautamig54 The recent changes in the people page has made the tags overflow in the People page. Please see to it.
![image](https://user-images.githubusercontent.com/17192149/59095002-0e6ff100-8935-11e9-977a-11e96f2bce64.png)

[2019-06-07 10:15] CleverFool77 commented on #5857
Hi @Souravirus Thanks for pointing it out.
This matter is in our notice. We had discussion regarding this and are looking into it and will fix it soon.
Thanks !!

[2019-06-07 15:12] #5340 closed

[2019-06-07 15:14] #5857 closed

[2019-06-07 15:52] #5609 closed

[2019-06-07 16:36] CleverFool77 commented on #5610
As the PR is merged , So I'll close this Issue.
Thanks !!!

[2019-06-07 16:36] #5610 closed

[2019-06-07 19:41] skilfullycurled commented on #5819
Am I correct in thinking that a gitter room is not the same as a slack channel?  If not, does Riot have an equivalent?  I have some thoughts on this but they might not be relevant given the structure of what is being discussed.

[2019-06-07 19:43] skilfullycurled commented on #5728
@cesswairimu, when you have a moment, can I get your feedback on my solution above?  That will allow me to either switch it back or keep it so that I can complete the PR request.  At your leisure.  Thanks!

[2019-06-07 20:00] skilfullycurled commented on #4138
Hey everyone, wanted to ask a follow up question:  suppose you want to view (not download) a years worth of data.  Does 365 daily caches help the issue of wanting to view a years worth of data?  Or, would easing the load of a years worth of data require a cache for that year?  I ask because I'm wondering to what extent this will address a part of the issue @cesswairimu referenced in #5524 regardin

[2019-06-07 20:05] cesswairimu commented on #5728
Sorry @skilfullycurled didn't see this... :point_up: the graphs looks great. Am good with your fix. Thanks

[2019-06-07 20:13] skilfullycurled commented on #5524
Bringing in @icarito as comeuppance for (not entirely unfounded) accusations of stats misuse on the 27th of May, 2019.  ; )

Kidding aside, wondering about the idea of pre-packaged 6 mo json/csv's downloads.  This doesn't take care of the other problem of when someone just wants to view large sets of data which I've brought into the discussion on [here](https://github.com/publiclab/plots2/issues/4

[2019-06-07 20:14] skilfullycurled commented on #5728
Awesome, thanks for your help @cesswairimu, will push commits to my branch and update PR request.

[2019-06-07 20:15] cesswairimu commented on #5728
Great :+1:

[2019-06-07 21:20] rexagod commented on #5819
@skilfullycurled [I'd rather not recommend Riot anyway](https://www.reddit.com/r/privacy/comments/bca2k2/matrix_riot_hacked_for_the_second_time_stay_away/), but yes, it does have that functionality (wrt. gitter rooms).

[2019-06-07 21:27] skilfullycurled commented on #5819
@rexagod, thanks for responding to my question.  My question was poorly worded and not very specific.  I confused Gitter as being synonymous with Riot since that was what I was using (thanks for the tip by the way!).

More directly, I'm wondering what we mean by "chatrooms" in this conversation.  Do chatrooms refer to a specific feature in Gitter which is different than what one thinks of when the

[2019-06-07 21:52] rexagod commented on #5819
No, not a gitter-specific feature, but vaguely similar to channels. I take it that you've used the publiclab lobby in the past, right? That's a "chatroom", and that is (chatroom, not the lobby) what's being referred to here.

[2019-06-07 23:22] skilfullycurled commented on #5819
I think I see now.  Did a bit more [digging](https://gitter.zendesk.com/hc/en-us/articles/200178951-Gitter-communities-and-rooms) and it sounds like [although a room can be a channel](https://developer.gitter.im/docs/rooms-resource), in general, Channels in Gitter are subsets of rooms.  Thanks, that really helped me to understand what was guiding the choices in the poll.

[2019-06-08 04:25] icarito commented on #5817
Hi @jywarren I've been giving this a second look and have a theory.

First here is a graph for RAM use for the past 3 months:
![imagen](https://user-images.githubusercontent.com/199755/59141879-51a08300-897a-11e9-91d8-48619a0edb15.png)

It is apparent from this graph that we have been growing in memory consumption for the past three months!

I went back a whole year:
![imagen](https://user-images.

[2019-06-08 11:06] gautamig54 commented on #5707
Great work with the tags overflow @CleverFool77.  It will be good if you could display the the entire tag on hover over the tags. What say?

[2019-06-08 11:44] gautamig54 commented on #5739
Thanks @jywarren I got working now. I was some macOS issue.

[2019-06-08 12:34] gautamig54 commented on #5739
@jywarren Do you want the wiki/tag content below the image like this?

![Screen Shot 2019-06-08 at 6 04 26 PM](https://user-images.githubusercontent.com/35326753/59147312-8f9fb480-8a17-11e9-9ba9-3a46507f4ed0.png)

Or like the divided page where half of it belongs to the picture and half for its content. The problem with that is it works fine with smaller images but with larger images as in https:/

[2019-06-08 12:51] gautamig54 commented on #5741
@CleverFool77 @dinaelhanan I see this issue is still pending. If no one is working on this, I would like to take up. Thanks!

[2019-06-08 13:16] CleverFool77 commented on #5739
Hi @gautamig54 Can you just look into this small bug. The `Continue` button is going out of card.

![Screenshot from 2019-06-08 15-31-14](https://user-images.githubusercontent.com/26685258/59147793-b2cd6280-8a1d-11e9-937d-25c7c4564816.png)

[2019-06-08 13:39] gautamig54 commented on #5739
@CleverFool77 I'll solve this one. Thanks!

[2019-06-08 13:54] gautamig54 commented on #5739
I have raised a PR for the above bug #5860
Thanks for pointing this!

[2019-06-08 14:11] SidharthBansal commented on #5828
Hi, I have observed some SoC fellows not answering much on threads where they are mentioned. Also, they are not giving updates here. It will be really nice if you all can join in and we can come across your progress.
These checkins help mentors to judge how much effort you wrote and you are able to put in. We focus on the efficiency of our mentees so that we can discuss and improve it.
Without it,

[2019-06-08 14:14] SidharthBansal commented on #5828
I am highly busy for June and July. Will be active from August onwards.
But you can still ping me on my personal email address in case of any help. Even if anyone have stress issues, please consult with the mentors. We are there to help you. :-)
Thanks

[2019-06-08 15:40] jywarren commented on #5828
Hi, everyone - i just submitted initial feedback from mentors for our Outreachy fellows. Congratulations!

I wanted to share that I wrote this blog post a few years ago after our first really big summer of code, and some of the "lessons we learned" we are still learning :-)

https://opensource.googleblog.com/2016/12/google-summer-of-code-2016-wrap-up_21.html

Below is the original draft which is a

[2019-06-08 15:41] jywarren commented on #5828
@publiclab/soc take a look!

[2019-06-08 16:09] CleverFool77 commented on #5733
Hi @jywarren @gautamig54
I was working on the features question section. I wanted to know that what's the info being shown below the question in the cards ?

[2019-06-08 16:42] IshaGupta18 commented on #5828
@jywarren this is lovely blog post! Really informative.

My updates on the GSoC Sensor Data Project:

We merged a very big PR https://github.com/publiclab/simple-data-grapher/pull/29 which implements the class structure in the code. This PR, however, needs further breaking down and some more set-up help in the local environment (https://github.com/publiclab/simple-data-grapher/issues/33)

I have b

[2019-06-09 02:27] icarito commented on #5817
I'm still leaning towards memory exhaustion due to app/site growth, which is causing high IO load due to swap memory "thrashing" to disk.
I've checked our `passenger-memory-stats` from the web container and think that we can further reduce the process pool:
![imagen](https://user-images.githubusercontent.com/199755/59154272-2f6b3b80-8a34-11e9-83a7-44c0334e14b8.png)

I will try this as a first move

[2019-06-09 02:54] icarito commented on #5817
I found that in Feb 2018 we [had calculated](https://github.com/jywarren/web/issues/132) that we could run 11 processes (because our app took 500mb to run).
The formula is:
[code]
*but* we are also running Skylightd, plus a process for fetching tweet comments, plus Sidekick, and also want to run mailman process.
The majority of RAM use is in the web container:
![imagen](https://user-images.githubu

[2019-06-09 03:46] icarito commented on #5817
First optimization done.
Promising first 30 minutes!
![imagen](https://user-images.githubusercontent.com/199755/59154753-46635b00-8a3f-11e9-87b7-51e660e4a148.png)

[2019-06-09 05:22] jywarren commented on #5817
Ooh!

On Sat, Jun 8, 2019, 8:47 PM Sebastian Silva <notifications@github.com>
wrote:

[2019-06-09 12:42] Rishabh570 commented on #5828
Hi everyone :smiley:,
I hope everyone's doing great!

The project I'm working on is `community-toolbox` :computer: and my project's milestones can found [here](https://github.com/publiclab/community-toolbox/projects/1).

## Updates

- ### Work done

  - Refactored the project to make it modular and more readable with proper name conventions. ( [link](https://github.com/publiclab/community-toolbox/

[2019-06-09 13:58] aSquare14 commented on #5828
Thanks Rishabh Rawat ! :)

On Sun, Jun 9, 2019, 6:12 PM Rishabh Rawat <notifications@github.com> wrote:

[2019-06-09 14:43] kaustubh-nair commented on #5828
Hi everyone :)
I've learnt a lot while working with Publiclab.
In the past few months I've learnt about so much about testing, docker, travis and the rails asset pipeline :smile:

Updates for the Mapknitter rails upgrade project

## Work done
[Add tests for controllers](https://github.com/publiclab/mapknitter/pull/615)
[Add tests for models](https://github.com/publiclab/mapknitter/pull/610)
## Cur

[2019-06-10 14:11] publiclab-mimi opened #5863 "Adding automatic watermarks to MapKnitter Images"
Hello team! I'm working on a project that involves downloading a number of images from MapKnitter. I want to be sure that the original poster gets credit, so I've been adding watermarks to each of the image. While this is doable via image sequencer, I'm wondering if there's a way we can add automated watermarks with the original posters handle and maybe the MapKnitter url. Ideally, this watermark

[2019-06-10 15:15] gauravano commented on #5828
Hi, anybody interested in opening this week's check-in?

[2019-06-10 15:35] ebarry commented on #5828
Hi all, I can repost this when someone opens our this week check-in but here for now:

Welcoming reminder that tomorrow we will convene for the 2nd Edition of Code Open Call!

Time: Jun 11, 2019 12:30 ET / 16:30 UK / 22:00 India

Link: https://zoom.us/j/440795826

Notes will be here: https://pad.publiclab.org/p/opencall (use the upper right hand button to add your name and choose your color!)

We

[2019-06-10 16:23] jywarren commented on #5739
For the quick fix to the /tag/____ page image issue, we originally had the image and text quite small; i think just setting the image to 100% width solves it for now:

![image](https://user-images.githubusercontent.com/24359/59209975-8713bf00-8b7a-11e9-908f-be441366333f.png)

However, for the broader fix to this page, we should look to the style guide! https://publiclab.org/notes/warren/05-07-2019

[2019-06-10 16:41] jywarren commented on #5863
Hi Mimi! Thanks! I have a semi-working version for development testing here:

[code]

This can be run in a bookmarklet for testing, but the core Image Sequencer code is:

[code]

This just prompts for a name and then overlays it into /all/ images in the upper left corner.

However, we're tracking a bug in https://github.com/publiclab/image-sequencer/issues/1098 that is causing this to fail. Once w

[2019-06-10 16:47] jywarren commented on #5863
and just noting that we /do/ have ImageSequencer installed in this `plots2` codebase, so it should be possible to instantiate as above!

[2019-06-10 16:53] jywarren commented on #5863
Once https://github.com/publiclab/image-sequencer/issues/1098 is resolved, we can circle back here; the watermarking may not always work on all backgrounds, but if we use `grey` color it'll work on many of them. Someday we can make it context sensitive and use white on dark images and dark on white, or use outlining, but for now, we can aim to:

1. assume uploader should be credited
2. add `CC-BY-

[2019-06-10 16:54] jywarren commented on #5863
And, so you can see how it'll work:

https://sequencer.publiclab.org/examples/#steps=text-overlay{text:@warren|font:arial|color:white}

[2019-06-10 16:54] jywarren commented on #5863
That outputs this:

![image](https://user-images.githubusercontent.com/24359/59211838-dfe55680-8b7e-11e9-8504-aeb3fdfebf22.png)

[2019-06-10 18:05] ViditChitkara commented on #4094
Sure, I'm refactoring this as well. I think removing this will involve a lot of tests failing so will need to refactor them as well. So yes, this is a part of our code clean up. Great!! This is very exciting.

Also, applologies for the late reply, was out of station for a few days.😅😅

[2019-06-10 18:38] #5728 closed

[2019-06-10 19:30] gautamig54 commented on #5739
@jywarren Is this fine for the smaller images for now?

![Screen Shot 2019-06-11 at 1 02 12 AM](https://user-images.githubusercontent.com/35326753/59221150-3c2e9180-8be4-11e9-9fa4-31b427b873a9.png)

[2019-06-10 20:04] gautamig54 opened #5865 "Change colour for the featured tags on /questions page"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-06-10 20:44] jywarren commented on #5817
OK, so mitigations list would be:

* [x] reduce process pool
* [ ] reduce `rusers`
* [ ] switch to memcached
* [ ] ...

[2019-06-10 20:48] jywarren opened #5867 "Reply-by-email emails sent repeatedly in loop"
Related to #5817 we noticed that some comments were getting posted over and over; we're not sure why, but we should look closely at this section of code; we've had to turn off `mailman` to stop this from going on forever (100s of repeated emails):

https://github.com/publiclab/plots2/blame/master/app/models/comment.rb#L262-L292

@namangupta01 can you poke around a little to see if you can see if a

[2019-06-10 20:54] jywarren commented on #5867
Could be related to https://github.com/publiclab/plots2/issues/5668 as well... just to connect these two...

[2019-06-10 20:57] jywarren commented on #5450
Let's start to narrow towards an initial pass, starting with the easiest to deal with. I think the order might be, easiest to hardest:

* [ ] users who have not posted any node, comment, like, or subscription and have not logged in ever
* [ ] users who have created spammed content older than 6 months ago (so have had a chance to appeal)
* [ ] users who have not posted any node, comment, like, or s

[2019-06-10 21:17] skilfullycurled commented on #5793
@jywarren, I've been researching migrations to see if this was something I could help on.

It seems like there is an internet consensus (n=3) that in Rails 5+ adding created_at and updated_at is done in the following [manner](https://stackoverflow.com/a/46521142/6023530) (also see [this](https://medium.com/@ebrugulec/add-timestamps-to-existing-table-in-db-rails-5-9e185cfab37e) and [this](https://m

[2019-06-10 21:43] skilfullycurled commented on #5450
I think the factors you're considering are really smart.  Perhaps it would be good for me to confirm their implications by getting some figures.  On the extreme, if say, item 2 only contains 5 users, then it won't be a good test group.

Some follow-up questions/thoughts:

1) I'm not clear how criteria 1 and 3 are different.  My interpretation is that if 1 is a subset of 3.  If you're looking for f

[2019-06-10 22:07] jywarren commented on #5450
Hi @skilfullycurled -- thanks! Yeah, if it requires confirmation from a person, we can't write a query for it, true. I guess the additional factor could prove useful further down the list as we get all the low-hanging fruit, and if we get past the point where we can easily write discrete queries... maybe. We could imagine a time window where we say `leave a comment on this post before _____ date a

[2019-06-10 22:08] jywarren commented on #5450
I think we've attempted to collect stats on some of these variations in the past but am not sure where. In an issue. If we could pull the Rails queries for these that'd be useful... hmm.

[2019-06-10 22:13] jywarren commented on #5867
OK, noting that we have /always/ had the `begin/rescue` loop enabled, since this feature was first implemented in https://github.com/publiclab/plots2/commit/fad88fd72c9d08f5591bf4c0cab402160eb9ea54#diff-331c6244d78f698043a2591c25d75d1e

until recently. @namangupta01 how do we mark mail as 'processed'? Is there some way that mail is not getting removed from the inbox?

[2019-06-10 22:15] jywarren commented on #5867
Is it possible we had been attempting to fetch the same email, and then it queued up somewhere like a zillion times, and we are still (at ~150 copies) making our way through that queue, and could flush it? Or are we really seeing a loop here?

[2019-06-10 22:28] skilfullycurled commented on #5450
Thanks for the clarifications!  One remaining: I think one of us is misunderstanding either my first question or your answer to it, although either way your answer brings up an excellent point.

To clarify my first question, I was just wondering if items 1 and 3 differ or by just doing item 3 we will also be doing item 1?

To me they read:

1) Not A, B, C, or D
3) Not A, B, C, and D or not D

[2019-06-10 22:32] skilfullycurled commented on #5450
Oh, on your third point responding to my "is_spam" question, what I meant was do you know off hand what field in our database connotes that something was marked as spam?

[2019-06-10 23:13] jywarren commented on #5450
Ah yes, um for nodes, it's `status == 0` and for users too, i believe!

[2019-06-10 23:15] jywarren commented on #5450
@skilfullycurled maybe your question is about the checkbox checklist, and not the criteria? I think that may be my confusion? If so, then yeah you are correct, (3) contains (1) but (1) is easier to determine as it's only one column, and we may get an immediate win from that. Hope that's what you're asking!

[2019-06-10 23:15] jywarren commented on #5450
Whereas (3) is a join!

[2019-06-10 23:36] icarito commented on #5867
It could be! I tried loggin into notification@publiclab.org mailbox but it didn't let me because it didn't recognize my location - I had the same idea in mind - maybe you have better luck?

[2019-06-11 00:34] skilfullycurled commented on #2590
Okay!  So indeed, there have been a number of updates to this problem since we last looked into it.

Here are some options which I'm listing in the order of effort it would take for us to implement.  As you might imagine, less effort equals less control over process and data.  Apps/Bots require permission to a lot of the data in the channel.  I have excluded any options which do not explicitly sta

[2019-06-11 00:42] skilfullycurled commented on #5450
@jywarren, yes, exactly we're in Q&A sync now.  : )

Okay.  I'll add this to a list of things. If the month of June were a server, it was recently moved to the subdomain "unstable" so I'll try to work on it as I can.

[2019-06-11 06:31] gauravano commented on #5828
Hi everyone, new check-in is at https://github.com/publiclab/simple-data-grapher/issues/41. Thanks!

[2019-06-11 06:31] #5828 closed

[2019-06-11 14:26] sentry-io[bot] opened #5870 "ArgumentError: You have passed User object to #or. Pass an ActiveRecord::Relation object instead."
Sentry Issue: [PLOTS2-AN](https://sentry.io/organizations/publiclab/issues/1066426221/?referrer=github_integration)

[code]

[2019-06-11 14:31] jywarren commented on #5870
Hi @rarrunategu1 Sentry reported this error today from our live site... could it potentially relate to your code changes? Just checking! Thanks!

[2019-06-11 14:37] rarrunategu1 commented on #5870
yes, sorry I didn't mean to push that to my branch.  I'll change it.  It was only supposed to be for testing purposes.

[2019-06-11 17:52] phoenixbird357 commented on #5450
Hey there!

First of all, let's clarify some points.

Because we don't want them to *share* spam content anywhere on our portal. If someone creates spam account with spam bio or anything but doesn't share spam content, then it won't hurt us. We can just think of them as just another fake account and ignore them.

But if they share any spam content, that's red flag. We *must* develop some way to bl

[2019-06-11 19:54] namangupta01 commented on #5867
This is very strange. I think I need to figure out in more depth how mailman works internally and what we can do to resolve this.

[2019-06-11 21:24] skilfullycurled commented on #5450
@phoenixbird357, these are very good considerations.  Thank you and @jywarren for taking a step back and asking how the implications of these questions will effect design.

**Note:** _The original post does place an emphasis on future detection, but this issue is also about past detection for reasons I cover below._

The stats page provides user data in raw terms and over time, and that data might

[2019-06-11 21:25] skilfullycurled commented on #5450
For future spam detection, I found this ruby gem [invisible captcha](https://github.com/markets/invisible_captcha) which seems pretty easy to implement.

[2019-06-11 21:33] skilfullycurled commented on #5450
@phoenixbird357, I see what you're saying now.  You're not talking about moderators, you're talking about when users mark something as spam.  Hold on, I want to see this in action...

[2019-06-11 21:45] skilfullycurled commented on #5450
Okay, I just tried it out and I'm not sure what will happen when I receive the email.  Not sure how often things have been flagged in the past but I imagine that it's exceedingly rare since in order for it to be in a position to be flagged, it first must be approved by a moderator and it's spam like nature has to be so subtle as to be mistaken for a legitimate post.  So it's possible that's an edg

[2019-06-11 22:02] phoenixbird357 commented on #5450
Oh, I'm not sure what's used for "writing grants or presentations" but I feel that should be based on weekly active users through some analytics service, not based on no. of users because apart from the spam users, there are fake and inactive accounts.

By this, do you mean "users report some number of posts as spam in a span of a minute" ?

Oh ? I thought this was about blocking spam from the hum

[2019-06-11 23:05] skilfullycurled commented on #5450
The grants and presentations was just an example, the stats page is still being built out so we can't say what we might need an accurate account of users for.  However the stats are tabulated, we still need to remove ~6 years (max, probably less) of past spam users.  It also strains the server to go through unnecessary users which is an ongoing problem (#5524).

Some of the following responses may

[2019-06-12 00:27] skilfullycurled opened #5873 "Fix Flag Mailto Text (Potential FTO)"
I think this will make a good FTO but I could use some feedback on this first.

The [mailto flagging text](https://github.com/publiclab/plots2/blob/964be1f16ae2546efa47fab5ffcc0eceb679c993/app/views/comments/_comments.html.erb#L33) uses string concatenation which then creates an email which includes the pluses.
[code]
So either it needs to be rewritten with spaces or %20's or put inside template t

[2019-06-12 00:37] nhughey commented on #5865
Hi,  i'd like to claim this issue and submit a pull request. First time contributer here.

[2019-06-12 12:55] #5101 closed

[2019-06-12 12:57] AkshayChoulwar commented on #5865
Hi I also want to work on this can u assign it to me I am the first timer only :)

[2019-06-12 13:00] sagarpreet-chadha opened #5874 "Add PLpeopleLayer from LEL ."
I have earlier worked on this issue here : https://github.com/publiclab/plots2/pull/5358/files but this was added directly and not as a layer in LEL 😄 !

https://github.com/publiclab/leaflet-environmental-layers/pull/206 adds PLpeopleLayer to LEL 🗺 !

- [ ] Let's update LEL code here in plots2 .

- [ ] Default layer on /people page should be set to PLpeopleLayer .

### Thanks :)

[2019-06-12 14:36] jywarren commented on #5873
Hi! If we can agree on some new text, that sounds great. Also, maybe you can demonstrate that a different encoding works properly? I think we had set this up so that mails triggered in development pop up in a new window using some testing gem trickery... but it's been a while! I think if we use spaces, there was some problem with that. But what you could do is create a few links with such `mailto:

[2019-06-12 15:02] jywarren commented on #4094
Circling back here, sorry for delay!

I'd love some new ideas on where to make these prompts. Maybe we can think in terms of the new Style Guide. Some pages have real issues with info overload and competing for attention, like the tag pages. The Style guide may be a good place to address this as those changes will all be implemented this summer, I hope! We can check with @CleverFool77 and @gautami

[2019-06-12 15:44] skilfullycurled commented on #5873
Sounds like a good plan @jywarren.  Probably because it is, indeed, a plan.

We can discuss in another issue but here's where I'm headed.  Right now the tool tip reads `Flag as spam' and the email text , _"looks like spam or needs to be moderated"_  I wonder if the tool tip should be generalized to `Flag  for moderation` and if the text might include a numbered list of potential reasons (spam, vio

[2019-06-12 16:33] CleverFool77 commented on #5739
Hi @jywarren @gautamig54
As we can see that as per the progress of project. People and tags section is almost done. Questions page is 3/4th done i guess.  We are working on search section part right now. So should I open a new planning issue for a new section as we can look over the planning and break up parts of the new section while continuing the work on current one. So if yes, which section sh

[2019-06-12 16:49] jywarren commented on #5316
We now have screenshots generating in system tests!!!! And pasting into PR comments: https://github.com/publiclab/plots2/pull/5868

[2019-06-12 17:04] skilfullycurled commented on #4094
You've really captured the reasoning behind my ideas @jywarren, which is the tension between letting people know all of the exciting things they can do on the site/how a specific feature works and information overload.  And, I totally understand the quandary of development resources/priorities vs.  implementing the ideal version of a feature.

Here are a few possibilities of varying complexity for

[2019-06-12 17:39] #5577 closed

[2019-06-12 17:40] #5471 closed

[2019-06-12 18:24] jywarren opened #5882 "Add your location on /people page doesn't work?"
Just checking @gautamig54 @CleverFool77 on this page: https://publiclab.org/people

I clicked "Add your location" but perhaps because we're not on the profile page, when i clicked "save" in the modal, it didn't seem that my location was actually saved. Can you check on this and confirm? Thank you, this page is looking better and better!

[2019-06-12 18:36] namangupta01 commented on #5867
So, I have found a resolution here. We are storing `message_id` in comment table which stores the `message_id` of the mail received. `message_id` is unique for every mail so the problem of getting posted the same mail will be resolved after using the condition of `message_id`.

[2019-06-12 18:57] cesswairimu commented on #5793
Thanks @skilfullycurled, for pointing the other table for me. @jywarren could you please explain a little for me how/where we use `term_node` table  so I can see how I can integrate it in getting subscriptions stats thanks

[2019-06-12 19:18] jywarren commented on #5867
Oh, that's great. Thanks for looking into it! I wonder why it wasn't
happening before but at least this will prevent it from happening again.

On Wed, Jun 12, 2019 at 2:37 PM Naman Gupta <notifications@github.com>
wrote:

[2019-06-12 19:22] jywarren commented on #4094
These all sound great! Would you like to open new issues for them? Thanks!

On Wed, Jun 12, 2019 at 1:05 PM Benjamin Sugar <notifications@github.com>
wrote:

[2019-06-12 19:24] ViditChitkara commented on #4094
Use an introductory modal where the features are explained along with a link to the questions help page and a "Got it" button to dismiss the modal and add a cookie to prevent it from displaying each time (example sans cookie))
How/where ever the introductory text goes, we could add a button that says "Take a tour!" which initiates a tour of the features using a library such as bootstraptour or int

[2019-06-12 19:28] ViditChitkara commented on #4094
Yeah a separate issue would be great!! I'd like to help on this!! Seems like an interesting discussion.

[2019-06-12 19:32] namangupta01 commented on #5867
I will be creating a pr for this super soon.

On Thu, 13 Jun 2019, 00:48 Jeffrey Warren, <notifications@github.com> wrote:

[2019-06-12 20:14] skilfullycurled commented on #4094
Great, thanks for the feedback everyone!

I'll create something about UI changes (?) and maybe we can add a discussion tag and then split them up further.

@ViditChitkara, I agree that would be ideal.  I think both are pretty easy to implement programmatically, it's just that the tour will take more time to design the steps.

Okay.

See you soon in a new issue!

[2019-06-12 22:30] jywarren opened #5886 "Checking on test running in parallel processes"
Hi @alaxalves after the changes to our tests (https://github.com/publiclab/plots2/pull/5751) which split system tests out, I am trying to find the test output for normal tests. It should be after this line:

https://travis-ci.org/publiclab/plots2/jobs/544942636#L3984

This is the last time we changed this: https://github.com/publiclab/plots2/commit/c9f91d31a8f10e815b54795086197ac5fd00511f

Here's

[2019-06-12 22:30] jywarren commented on #5886
And sorry to keep tagging you in on this project - i appreciate your expertise on these configurations!

[2019-06-13 00:19] jywarren commented on #5739
Let's start working on the /tag/_____ page! That really needs some work.
And then perhaps the profile page which is also quite a mess? Then we
circle back to the dashboard! How does that sound?

On Wed, Jun 12, 2019 at 12:33 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-06-13 00:20] jywarren commented on #5867
thank you naman!!!

On Wed, Jun 12, 2019 at 3:32 PM Naman Gupta <notifications@github.com>
wrote:

[2019-06-13 01:59] alaxalves commented on #5886
No problem at all @jywarren I'm just happy to help. Check out https://github.com/publiclab/plots2/pull/5884, I'll investigate this issue there.

[2019-06-13 04:21] CleverFool77 opened #5889 "UI Improvements Planning Issue : tag/tagname page"
#### Current Design
![ezgif-4-efcfcf93f14c](https://user-images.githubusercontent.com/26685258/59403385-0e9e3f80-8dc0-11e9-81b2-3189d78f579e.gif)

#### Draft mockup design
![PublicLab mockups](https://user-images.githubusercontent.com/26685258/59403573-c59abb00-8dc0-11e9-8950-7612725da532.png)

#### New style guide design

![Public Lab Style Guide Draft](https://user-images.githubusercontent.com/2

[2019-06-13 04:23] gautamig54 commented on #5739
That sounds great @jywarren. I'll open up issues for the individual tags page and the profile page.
Thanks!

[2019-06-13 04:24] CleverFool77 commented on #5889
Hi @gautamig54 @jywarren I saw two designs as per earlier draft and new style guide. So may I know which one will be the one that will be implemented ?

[2019-06-13 04:36] gautamig54 opened #5890 "UI Improvements Planning Issue : Individual tags page"
Next we start with the implementation of individual tags page.

<img width="497" alt="Capture" src="https://user-images.githubusercontent.com/35326753/59403744-8e78d980-8dc1-11e9-8590-79db2b0c62ac.PNG">

**Checklist**

- [x] Divide the page into three sections(Main image and the introduction card, sidebar with map, activity cards) @gautamig54
- [x] Adjust the main image and add the number of peopl

[2019-06-13 04:43] gautamig54 commented on #5890
I had a few doubts regarding the design.
Not all tags have a wiki page due to which there will be no background image. What should be the design in that case?
Where should we add the related tags section?
Also, I would like to suggest to add the list of sub-pages for a parent tag here on its main page itself.

[2019-06-13 04:44] gautamig54 commented on #5890
@jywarren @CleverFool77 @gauravano @SidharthBansal
Let's get started on this. Thanks!

[2019-06-13 04:50] gautamig54 commented on #5889
Haha @CleverFool77 We opened the issues at the same time. I have added the checklists according to the new design. Look at #5890

[2019-06-13 04:51] gautamig54 commented on #5889
I think we need to implement the new style guide design.

[2019-06-13 04:52] gautamig54 commented on #5882
Yes @jywarren, I will look into this issue.

[2019-06-13 04:53] gautamig54 commented on #5865
Sure @AkshayChoulwar.  You can go ahead with this one. Thanks and welcome to PL!!

[2019-06-13 04:59] nhughey commented on #5865
Hi, is there anything I can do to help as well?

[2019-06-13 05:03] CleverFool77 commented on #5708
Hi @gautamig54 Can you look over some of the parts for search section here ?
Thanks !!!

[2019-06-13 05:04] CleverFool77 commented on #5890
Ohk. Seems like the Issues ave been divided here. So I'll close the earlier issue that I made then.
Thanks !!

[2019-06-13 05:04] #5889 closed

[2019-06-13 05:06] CleverFool77 commented on #5890
The new style guide design looks good but there are many features that we are yet to place in it Like gautami mentioned in the comment.

[2019-06-13 05:10] gautamig54 commented on #5890
@CleverFool77 I have assigned the tasks to us. You can change it according to your preference. Thanks.
And let's wait for @jywarren comment on the doubts we have.

[2019-06-13 05:17] gautamig54 commented on #5708
Sure! I will take up the # of results and the sort by issues.
Sorry for missing this one out.
Thanks!

[2019-06-13 05:47] gautamig54 opened #5891 "UI Improvements Planning Issue : Profile Page"
<img width="314" alt="Capture" src="https://user-images.githubusercontent.com/35326753/59406255-17484300-8dcb-11e9-8de4-46c4161b370a.PNG">

**Checklist**

- [x] Divide page into two sections @CleverFool77
- [x] Add location map @CleverFool77
- [ ] Add the tags
- [ ] Add edit option, add tags option button to show info @CleverFool77
- [ ] Add the type dropdown as in the individual tags page sorting

[2019-06-13 05:59] CleverFool77 commented on #5891
Hi @gautmig54
Let's wait a bit for profile page. We still have questions, search and tags page right now. We'll. Move on to this when they are on verge of completion. What do. You say.
Thanks!!

[2019-06-13 06:01] CleverFool77 commented on #5890
Hi @gautamig54 do the assignment alternativily. So that it's easier to work and it's faster.

[2019-06-13 06:01] gautamig54 commented on #5891
Yea you're right. I just opened up this issue. We can  work on this one later.

[2019-06-13 06:03] gautamig54 commented on #5890
I'll do it. I will also write the detailed tasks and divide accordingly.

[2019-06-13 06:27] gautamig54 commented on #5708
I have updated the issue.
@CleverFool77 I was thinking whether we really need to sort the activity using name or people. I mean we are already dividing the tag's activity into types like wikis, questions and notes. We can utilize this space for displaying the related tags.
What do you say?

[2019-06-13 06:28] gautamig54 commented on #5890
I have updated the issue.
@CleverFool77 I was thinking whether we really need to sort the activity using name or people. I mean we are already dividing the tag's activity into types like wikis, questions and notes. We can utilize this space for displaying the related tags.
What do you say?

[2019-06-13 07:04] CleverFool77 commented on #5890
I'm not sure regarding sorting @gautamig54 . But that yeah your point does makes sense. As we already distinction based on wikis, questions and notes.
Lets wait a bit for @jywarren.
Hi @gautamig54 I added nearby user search option to map on add map part. As Both of them are related and addition of map looked very small task.
Thanks !!

[2019-06-13 07:08] CleverFool77 commented on #5890
Hi @gautamig54 Are we going to do this in shadow route or in similar route.
According to me, The new UI won't break everything as it was happening in Questions page. As the new UI was totally different from earlier. So we needed shadow route before to test.
But here the new design is just a refined and better way of earlier. The position is almost same with some changes to nav tabs to dropdown. Th

[2019-06-13 07:18] gautamig54 commented on #5890
I am not sure about the shadow page. We are dividing the page into 3 sections. You think that might affect the current page?

[2019-06-13 07:58] CleverFool77 commented on #5890
As you can see, the page right now is already divided into two sections. Just divide the second section into columns for cards and maps.
https://publiclab.org/tag/air-quality
What do you say ?
And we can have sorting by `views` and `likes` instead of places ?

[2019-06-13 08:12] CleverFool77 commented on #5890
Hi @gautamig54 Lets wait for @jywarren regarding the shadow or original route.

[2019-06-13 08:15] gautamig54 commented on #5890
Maybe we can manage on the original page itself. Let's wait for @jywarren's views.

[2019-06-13 14:34] CleverFool77 commented on #5708
Hi @jywarren I wanted to ask that as per the documentation https://developers.google.com/custom-search/docs/element, the search can be triggered either through searchbox or url in programmatic execution .
Is `searchresults-only` tag from `componentConfig` which is triggered by a `<a>` tag has `Try the search with Google` line ?

So we need to execute the `params[:query]` for which we are doing sea

[2019-06-13 15:53] jywarren commented on #5886
OK, it looks like #5885 now has tests enabled, and quite a few are failing. I'm going to revert the original test break I did intentionally, and start to try to address the remainder so we get back to a state where all tests are running and reporting properly, and passing.

[2019-06-13 16:32] jywarren commented on #5890
I think given the state of the tag page now (pretty bad) we might as well do this without a shadow page, and that might mean we do things that are going to disrupt, later in the process (like we try to order it so that the things we do first will be an improvement on the current page, rather than do something that'll need a fix later on and leave the page in a broken state) Make sense?

I think we

[2019-06-13 16:33] jywarren commented on #5890
Exciting!!!!! This will be great. We can ask people for input as we go and the new auto screenshots feature can also let us work on this a lot in a set of PRs even before merging. In fact, it should be possible for PRs to be opened against other PR branches, so that we can see the page evolve in the screenshots before doing a larger merge... what do you think?

[2019-06-13 16:34] jywarren commented on #5890
Or we can progressively merge PRs into the master branch. Either way. Whatever works for you all!

[2019-06-13 16:34] #5770 closed

[2019-06-13 16:37] jywarren commented on #5708
Yes, and I think that's what we're doing via the `q=` param! as in https://github.com/publiclab/plots2/issues/5708#issuecomment-499220582

Sorry i'm not quite sure I follow, what are you looking to do? Trigger the search from JavaScript?

[2019-06-13 17:02] gautamig54 commented on #5890
This is a good idea. We can start of with improvising the main image display together with the main tag card. This is more like an enhancement.

Light grey sounds good!!

Regarding the sub topics, we can add it on the sidebar. Maybe below the related tags?

[2019-06-13 17:34] CleverFool77 commented on #5890
Hi @gautamig54 Are you starting off with first part then ?

[2019-06-13 17:40] gautamig54 commented on #5882
Yes @jywarren Add your location on people's page does not saves the user's location. I am not clear about how to go about this. When a user adds a location on the profile page, they cannot change it unless they explicitly delete the lat: and the lon: tags. Maybe that's why we are not able to update the location.
We have @map_lat and @map_lon variables defined in the profile function of the users c

[2019-06-13 17:49] gautamig54 commented on #5890
Yea, I am beginning with the first part

[2019-06-13 17:51] gautamig54 commented on #5890
So we are not leaving any marginal space for the image?

[2019-06-13 17:52] CleverFool77 commented on #5890
You'll be leaving col-2 for map right ?

On Thu, Jun 13, 2019 at 11:19 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-06-13 17:54] gautamig54 commented on #5890
I was thinking of col-3 for the maps.

[2019-06-13 17:54] CleverFool77 commented on #5890
Let' work on other understand and directly applicable parts first and till that we can discuss regarding image.

[2019-06-13 17:56] CleverFool77 commented on #5890
It would make activity cards way too small. Les see. how about posting both the col-2 and col-3 rough mockup. Then we'll decide ?

[2019-06-13 17:58] gautamig54 commented on #5890
Sure! we can try both.
Also, Since the main layout of the website has a set marginal space, let's keep it that way only and implement. If we need to remove the space,  we can do it later.

[2019-06-13 18:38] rarrunategu1 commented on #2552
@publiclab/solvers
I'm running into this error when trying to run plots 2 locally with ubuntu.  I'm not running an application at that address.  I've shut down any processes and ran a command that should've given me any running processes and from what I can tell it doesn't seem anything is running.

![image](https://user-images.githubusercontent.com/29240939/59458298-22f63280-8de8-11e9-8827-1137e4

[2019-06-13 18:42] gautamig54 commented on #5890
![Screen Shot 2019-06-14 at 12 13 37 AM](https://user-images.githubusercontent.com/35326753/59458840-f8809580-8e38-11e9-94a6-ce36a874e58a.png)

![Screen Shot 2019-06-14 at 12 14 04 AM](https://user-images.githubusercontent.com/35326753/59458850-00403a00-8e39-11e9-9976-6c145273a699.png)

col-3 looks fine.
And the division of page looks fine?

[2019-06-13 18:45] gautamig54 commented on #5890
I did not change much of the content on the page. It will be gradually take its place as we move ahead with other tasks. Like, Tag name, its description, stats, rss, follow/unfollow will be in the main tags card which I will implement after you manage the image.

[2019-06-13 18:52] jywarren commented on #2552
OK! you can try to run `passenger stop -p 3001` or whatever port number, to find and kill any stray processes, and if that doesn't work, you may look for `3001.pid` or something similar in the local directory -- because maybe there's no process already running, and you just need to remove the lock file?

Finally, i think i remember when we were looking at Windows "WSL" setup that if it doesn't thi

[2019-06-13 19:34] jywarren commented on #5890
I tried adding the "related tags" area in the sidebar in the style guide:

![image](https://user-images.githubusercontent.com/24359/59461983-a9167700-8df0-11e9-8c13-f569664bac87.png)

[2019-06-13 20:11] michelelong opened #5895 "Dropdown checkbox filters on dashboard"
I noticed on the dashboard the dropdown checkboxes to filter which updates should show doesn't work. I can PR to fix this if you like.
![filter-dropdown](https://user-images.githubusercontent.com/50340123/59464389-e9282a80-8ded-11e9-8208-69b8019f6ca9.png)

[2019-06-13 20:24] jywarren commented on #5895
Oh that would be great! Thank you!

On Thu, Jun 13, 2019 at 4:11 PM Michele <notifications@github.com> wrote:

[2019-06-13 20:28] jywarren commented on #5882
One thing you can do is modify the controller for this path:
https://publiclab.org/profile/tags/create/1?name=lat:12.41,lon:13

It's under this controller:
https://github.com/publiclab/plots2/blob/master/app/controllers/user_tags_controller.rb

We can have new ones replace previous ones, maybe? You can submit multiple
tags with it, as above!

On Thu, Jun 13, 2019 at 1:40 PM Gautami Gupta <notifica

[2019-06-14 03:22] ramstore07 commented on #5865
Hey there! is the issue still open? first timer here :)

[2019-06-14 04:02] gautamig54 commented on #5890
It looks good @jywarren. We'll implement it. Thanks!

[2019-06-14 05:13] gautamig54 commented on #5733
@jywarren Can you share a gist of "featured questions" features? We have to add it next. Thanks!

[2019-06-14 10:59] CleverFool77 commented on #5890
Hi @jywarren @gautamig54
Is this what we need for image absolute positioning.

#### without wiki image
![Screenshot from 2019-06-14 16-23-40](https://user-images.githubusercontent.com/26685258/59504580-e5190d00-8ec0-11e9-81bb-c9f6386bd6c7.png)

#### with wiki and image
![Screenshot from 2019-06-14 16-24-06](https://user-images.githubusercontent.com/26685258/59504583-e5b1a380-8ec0-11e9-8c20-93bc704

[2019-06-14 11:10] gautamig54 commented on #5890
This looks great @CleverFool77.
Can you try reducing the height of the image as it is covering more than half a page? What do you think?

[2019-06-14 11:10] CleverFool77 commented on #5890
Ahh the screenshot is of smaller part actually. Wait I'll put full screen screenshot.

[2019-06-14 11:14] CleverFool77 commented on #5890
This is full screen. Should I reduce the height ?
![Screenshot from 2019-06-14 16-44-00](https://user-images.githubusercontent.com/26685258/59505644-a6d11d00-8ec3-11e9-8256-509d42928cf1.png)

[2019-06-14 11:16] gautamig54 commented on #5890
I think this fine. Looking great!

[2019-06-14 11:16] CleverFool77 commented on #5890
Cool. :+1: :+1:

[2019-06-14 12:07] cesswairimu opened #5904 "Add 'all time' option for stats"
I have also encountered this error when attempting to guestimate the start date for our website so that i could view data "For All Time".

I'm wondering if it's really a bug or perhaps maybe it could be worked around by people not having to guess when we started logging data for our website?

If it's the latter, here's an idea:
On the "Choose a Start Date" interface, could we add the exact start d