[2020-10-22 12:10] KarenEfereyan commented on #8652
@cesswairimu @nk183 is a new contributor and is looking for a first-timer issue. Can you please create one for her? or him?

[2020-10-22 12:14] KarenEfereyan commented on #8646
@RuthNjeri what exactly is rubocorp?

[2020-10-22 12:55] #8595 closed

[2020-10-22 13:08] cesswairimu opened #8661 "Codeclimate failing"
Codeclimate failing on PRs since about 8 hours ago.
The error is "Code Climate encountered an error attempting to analyze this pull request"
We haven't changed any configs on codeclimate recently

![Screenshot from 2020-10-22 16-04-37](https://user-images.githubusercontent.com/17081074/96875949-7f5b6e80-1480-11eb-9451-3c5d5a71aece.png)

[2020-10-22 13:12] cesswairimu commented on #8661
codeclimate bot reported this on email

[code]

[2020-10-22 13:17] RuthNjeri commented on #8646
Hi @KarenEfereyan, Rubocop is usually used to format the code, or ensure that you are using the correct coding standards usually described in a config file within the app files for example `rubocop.yml`

If for instance you want to autocorrect a particular file, maybe the indentation is off or your method names are wrong, you can run Rubocop on that file and it will correct it for you.. you can re

[2020-10-22 13:26] RuthNjeri commented on #8513
Hi, @cesswairimu can one use this as a reference in drafting the proposal?

[2020-10-22 13:40] #8546 closed

[2020-10-22 13:46] cesswairimu commented on #8513
@RuthNjeri yeah, def

[2020-10-22 13:48] cesswairimu commented on #8652
I see @nk183 already worked on a first-timer issue here https://github.com/publiclab/plots2/pull/8581

[2020-10-22 13:50] cesswairimu commented on #8652
You could browse our other issues if you are looking for another issue. Feel free to ping me if you need more context on an issue. Thanks

[2020-10-22 13:56] cesswairimu commented on #8661
cc @sagarpreet-chadha @jywarren  who are great with bots

[2020-10-22 13:58] cesswairimu commented on #8633
Hi @SARVESHKHANDELWAL, looks like @MadhaviG97 is already working on this one. Thanks

[2020-10-22 15:15] #8644 closed

[2020-10-22 15:45] #8516 closed

[2020-10-22 15:51] cesswairimu commented on #8661
Its all good now, rebasing existing PRs seems to solve it and its working fine on new PRs. Closing this

[2020-10-22 15:51] #8661 closed

[2020-10-22 20:43] shivarajloni commented on #7683
Hello everyone, my name is shivaraj,
I would like to contribute.
Assign me any first-time-contributor, assign me a good issue.

[2020-10-22 20:44] shivarajloni commented on #8652
hey! can i contribute

[2020-10-23 00:16] Kennygrace commented on #8630
I've done it @cesswairimu

[2020-10-23 04:23] urvashigupta7 opened #8670 "Drag and drop feature of comment editor does not work properly when editing a comment"
When a file is uploaded using drag and drop feature it gets added in different text box.
### Steps to reproduce bug :
 * Add file in comment box using drag and drop (Don't post new comment just add the file)
*  Try editing any existing comment, the file will get added in wrong textbox

![ezgif com-video-to-gif (8)](https://user-images.githubusercontent.com/41363633/96956087-db6fd280-1514-11eb-83c9

[2020-10-23 08:21] L-crypt commented on #8652
hey! I am a first timer , can I contribute on this one if possible?? Thanks in advance.

[2020-10-23 08:40] cesswairimu commented on #8652
Hey all, I see @shivarajloni commented first. You can go ahead @shivarajloni .
@L-crypt I will ping you when I find an issue. Thanks

[2020-10-23 11:59] #8652 closed

[2020-10-23 16:55] jayaram2000 commented on #8587
Hey, I'm new to open source and would love to contribute. Are there any open issue?

[2020-10-23 17:21] nstjean commented on #8641
I'll take a look at this. :)

[2020-10-23 17:37] fiona-byte commented on #8619
Hi @jywarren and @cesswairimu,
I noticed a something on the Public Lab website. I think the scroll-to-top button should be hidden when the page is at the top and should be displayed when the page is moved down a little. A little animation could be added to make this look better

[2020-10-24 11:33] cesswairimu commented on #8619
Hey @fiona-byte, good catch, thanks. We have a issue for this here https://github.com/publiclab/plots2/issues/7454 if you would like to work on it. Thanks

[2020-10-24 11:35] KarenEfereyan commented on #8670
@cesswairimu is this something i can take up?

[2020-10-24 11:37] KarenEfereyan commented on #8646
Nice. Similar to lint rules in yarn, right? Thanks for explaining

[2020-10-24 12:23] cesswairimu commented on #8670
Hi, thanks @urvashigupta7 for opening this, I tested locally and it works fine. @KarenEfereyan could you please check on https://stable.publiclab.org/  could be its fixed but its not deployed yet. If you find the issue on stable you can go ahead. Thanks all

[2020-10-24 12:29] cesswairimu commented on #7504
This is fixed now. Closing this. Thanks all

[2020-10-24 12:29] #7504 closed

[2020-10-24 12:31] cesswairimu opened #8674 "Double pagination on tags questions"
Double pagination here https://publiclab.org/questions/tag/blog,
we should have a single pagination

![Screenshot from 2020-10-24 15-32-04](https://user-images.githubusercontent.com/17081074/97081932-6d0f3b00-160e-11eb-925c-15151bbc0b3a.png)

[2020-10-24 12:42] Cadreia commented on #8674
Can I work on this?

[2020-10-24 12:46] cesswairimu commented on #8674
Go ahead @Cadreia, thanks

[2020-10-24 12:49] #8630 closed

[2020-10-24 12:56] Cadreia commented on #8674
@cesswairimu Alright. I also noticed on large screens, paginated numbers still exist when there's no content to display

[2020-10-24 13:19] urvashigupta7 commented on #8670
Hi @cesswairimu. I am unable to add images while editing the comment on [https://stable.publiclab.org/ ](https://stable.publiclab.org/ ). It just shows never-ending **uploading**

![Screenshot from 2020-10-24 18-49-21](https://user-images.githubusercontent.com/41363633/97082753-a608d900-1629-11eb-9401-749e5f4379a0.png)

[2020-10-24 14:27] fiona-byte commented on #8619
I'd love to work on it. Thank you @cesswairimu

[2020-10-24 15:06] cesswairimu commented on #8670
Great investigation, Thanks @urvashigupta7, would you like to work on this  or should @KarenEfereyan give it a try

[2020-10-24 18:16] gauravano commented on #2220
Hi @amarachi-nwokocha, you raised the PR against your own repository. If you look at this PR -https://github.com/publiclab/plots2/pull/8651 which is also opened by you, you'll notice that you've raised it against Publiclab main branch, whereas https://github.com/amarachi-nwokocha/plots2/pull/1 is against your own repository which will change code of your repository and not Public Lab project.

**C

[2020-10-25 06:19] fiona-byte commented on #7454
Hi @NitinBhasneria if this issue is still open, I'd love to work on it

[2020-10-25 09:44] evansusu commented on #8587
hi I'd like to make changes to db/seeds.rb:

[2020-10-25 09:49] KarenEfereyan commented on #8670
@urvashigupta7 would you like to work on it? Thanks cess

[2020-10-25 10:49] urvashigupta7 commented on #8670
@KarenEfereyan You can try this out 😄 Thanks!!

[2020-10-25 15:34] evansusu commented on #8587
Hi which ones still need to replaced?

[2020-10-25 18:59] IjayAbby commented on #8513
Hello, @cesswairimu  I have a question, while drafting the proposal I should come up with a design that I think will work for the project then work on my suggested changes during the internship?
Meaning I am free to try out something so long as it doesn't affect the code, right?

[2020-10-25 22:58] KarenEfereyan commented on #8670
@cesswairimu could you please assign this to me?

[2020-10-25 23:00] KarenEfereyan commented on #8670
I see that you are a competitive programmer. I have been long interested in that. Could you tell me more about it?

[2020-10-26 04:57] amanda-ariyaratne commented on #8631
Hello, I have opened a [pull request](https://github.com/publiclab/plots2/pull/8593) to this issue linking the issue [#8587](https://github.com/publiclab/plots2/issues/8587).
It is awaiting review.

[2020-10-26 04:59] amarachi-nwokocha commented on #2220
hi  Gaurav  i'm new to using git hub and ive been trying to delete one of
the pull request i made but its not working i'll check again and get back
to you please i am truly  ill work on it again thank you

[2020-10-26 05:20] amarachi-nwokocha commented on #2220
![Capture 1](https://user-images.githubusercontent.com/63500921/97136351-30009100-1753-11eb-8a51-87663c8091f5.PNG)
hi this is what i am getting when i try to change it i am confused please help me out

[2020-10-26 05:27] amarachi-nwokocha commented on #2220
the pull request https://github.com/amarachi-nwokocha/plots2/pull/1

[2020-10-26 07:06] cesswairimu commented on #8587
Hi @evansusu, these all have been assigned to people. Thanks

[2020-10-26 07:37] cesswairimu commented on #8513
hello @IjayAbby , yeah  sure  exactly

[2020-10-26 07:38] cesswairimu commented on #8670
Go ahead @KarenEfereyan

[2020-10-26 08:11] Cadreia opened #8676 "Weekly Community Check-In # - Outreachy Application (Winter 2020) Ends Soon!"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-10-26 08:43] cesswairimu commented on #8619
Moved to https://github.com/publiclab/plots2/issues/8676 . Thanks everyone

[2020-10-26 08:43] #8619 closed

[2020-10-26 08:48] cesswairimu commented on #8676
Thanks @Cadreia :tada:
Next check-in: @KarenEfereyan

[2020-10-26 10:09] RuthNjeri commented on #8676
Thanks for posting this @Cadreia 🎉
@cesswairimu I have posted my first draft but it seems  I need to wait for the moderators to approve the post so that it's published.. does that take long?

[2020-10-26 10:49] cesswairimu commented on #8676
Hi @RuthNjeri nope, it shouldn't take long. Pinging @ebarry and she will approve it when she gets a min. Thanks

[2020-10-26 11:14] fiona-byte commented on #8676
Thank you for posting this @Cadreia

[2020-10-26 12:08] yashmohan100 commented on #8629
is is still open ?? sorry i was away for a week. will contribute for sure

[2020-10-26 12:19] urvashigupta7 commented on #8670
Sure @KarenEfereyan . I would be happy to help. Let us just connect on [twitter](https://twitter.com/urvashi_g07), we can discuss about this there.

[2020-10-26 12:50] tawahpeggy commented on #8325
i finally tracked down the issue. its not a problem in the code base its in the registration of the twitter application. a call back url wasnt added and twitter register it as a desktop application and gave it a pin instead of a url and now it is seeing the app as a desktop instead of a web app  which makes it misbehave sometimes.@jywarren, @cesswairimu please we will need to change the twitter ap

[2020-10-26 14:53] stacytonui commented on #8676
Thank you @Cadreia

[2020-10-26 16:14] urvashigupta7 commented on #8676
@Cadreia Thanks!! 😄

[2020-10-26 17:23] cesswairimu commented on #8629
Yes its still, go ahead. Thanks

[2020-10-26 17:29] #7508 closed

[2020-10-26 17:46] nstjean commented on #3840
Hi! I'm still getting the same error when clicking on a Question in my local dev environment.

![FireShot Capture 222 - Action Controller_ Exception caught - localhost](https://user-images.githubusercontent.com/49460529/97208497-8f7d9180-1791-11eb-9d57-b71c1d260683.png)

I've tried re-installing everything and it's still happening. Anyone else run into this?

[2020-10-26 17:54] cesswairimu commented on #8676
@RuthNjeri and anyone else already drafting their proposals I am so sorry I had linked the wrong template on the call for proposal post  https://publiclab.org/notes/cess/10-02-2020/call-for-proposals-outreachy-winter-2020 . I have updated to the correct template which has pointers and subheadings that you could follow to make a more comprehensive proposal. Please consider clicking the `draft a pro

[2020-10-26 17:58] nstjean commented on #3840
Ok I've fixed it! I had to change this line:
https://github.com/publiclab/plots2/blob/72f175fb89d40fbd8f403333ea71c49722150cae/Gemfile#L27
to this:
`gem 'impressionist', '~>1.6.1'`

Per the instructions for impressionist, their version 2 is for Rails 6 and we are currently using 5.2.3
https://github.com/charlotte-ruby/impressionist#installation

[2020-10-26 18:01] #8561 closed

[2020-10-26 18:10] IjayAbby commented on #8676
@Cadreia  thank you.
Good job on such a great work!!

[2020-10-26 18:11] IjayAbby commented on #8676
@cesswairimu thank you for the heads up!

[2020-10-26 18:12] IC1101Virgo commented on #8613
Hello @cesswairimu can I work on this? 😃

[2020-10-26 19:19] RuthNjeri commented on #8676
Thanks for the clarification @cesswairimu, I've reposted it.. I'm currently waiting for the moderator to approve the post. I have deleted the previous one I made. The post is not active right now, will it help if I share the link to it?

[2020-10-26 19:20] MinervaLong commented on #8676
Thank you @Cadreia My next goal is step 2 (Help someone else out) with my newbie skills :)

[2020-10-26 19:25] tawahpeggy commented on #8676
Great job @Cadreia, @cesswairimu please i'll like to do the next check-in after @KarenEfereyan.

[2020-10-26 19:46] fiona-byte commented on #8676
Thanks for the clarification @cesswairimu. I'd love to do the next check-in after @tawahpeggy

[2020-10-26 21:00] gauravano commented on #2220
Hi @amarachi-nwokocha, you'll get it, don't worry. We're all learners. here :)

Once a PR is open, you can only change the base branch which I see in the above screenshot you tried to do.

There are 2 ways to solve it:
1. You can create PR by visiting your branches and starting PR from there. In your case, as you already have this PR open so you'd see View PR instead of Create Pull request. So, yo

[2020-10-27 00:13] noi5e commented on #8618
@jywarren @cesswairimu

Hi! I've been researching this issue and would like some feedback on the best way to move forward please.

To start, it looks like users are banned in app/models/user.rb:

https://github.com/publiclab/plots2/blob/45fe39a6439e4f3683ccaa9f34ab1970a0f2199d/app/models/user.rb#L300-L306

The method decrease_likes_banned that's called above only decrements cached_likes, and nothi

[2020-10-27 01:37] jywarren commented on #8325
Ahhh amazing detective work here! Just notifying @SidharthBansal who built this system to stay synced... I will try to look into this tomorrow! Thank you so much @tawahpeggy !

[2020-10-27 04:40] shreyaa-sharmaa commented on #7454
Hey @tawahpeggy @fiona-byte!
This issue was already solved in #6944 (merged might not be in production yet) and then in #7466.
You can check out the linked PR for more context. Maybe you can help finding the errors in that PR to get that merged.

All the best!

[2020-10-27 05:15] Shreets commented on #8676
Thank you @Cadreia  for the check in. Congratulations to all the contributors!

I have posted my proposal but it is yet to be approved by the moderators.

Please find it here : https://publiclab.org/notes/shreeti_019/10-26-2020/outreachy-proposal-new-dashboard-implementation-project?_=1603679253

[2020-10-27 05:35] cesswairimu commented on #8676
I will ping the moderators for approval. Thanks everyone

[2020-10-27 05:52] tawahpeggy commented on #8325
Thanks @jywarren. looking forward to work with @SidharthBansal so this issue can be clossed once and for all.

[2020-10-27 10:46] fiona-byte commented on #7454
Thanks a lot @shreyaa-sharmaa

[2020-10-27 10:49] cesswairimu commented on #8618
Great investigation @noi5e  :1st_place_medal:
to get all a users likes you could use `self.likes` on the user_model

I agree it would be good to keep the users likes - there was a recent case where a number of contributors were unintentionally banned so it would be safe to not delete these. Maybe we could soft-delete using the [paranoia](https://github.com/rubysherpas/paranoia)  gem then after unb

[2020-10-27 10:58] cesswairimu commented on #8613
Hi @aissshah,  we free-up FTOs if a week goes by with no updates or replies because we assume they have been abandoned. This is to give other contributors a chance, as these types of issues are high in demand.
If you'd like to try again with a new FTO, we welcome you to!

Hi @IC1101Virgo  you can go ahead and work on this. Thanks all

[2020-10-27 11:00] aissshah commented on #8613
Ok @cesswairimu thanks for letting me know.

[2020-10-27 11:13] #8641 closed

[2020-10-27 11:40] cesswairimu commented on #7454
@fiona-byte  you can check on https://stable.publiclab.org/  I am checking too

[2020-10-27 11:43] cesswairimu commented on #7454
Looks like its still displaying, @shreyaa-sharmaa  @fiona-byte  could you please confirm..stable has all the changes on main

[2020-10-27 12:12] shreyaa-sharmaa commented on #7454
Hey @cesswairimu I can see that too.

@NitinBhasneria 's PR for the same mentions that it wasn't visible at all then? Strange. :thinking:

[2020-10-27 13:12] cesswairimu commented on #7454
Yeah that's strange. @NitinBhasneria any ideas what could have gone wrong?

[2020-10-27 13:27] IC1101Virgo commented on #8613
@cesswairimu Thank you! 😄

[2020-10-27 13:32] fiona-byte commented on #7454
Hey @cesswairimu, I can see that too. I'm looking to see what has gone wrong

[2020-10-27 14:32] IC1101Virgo commented on #8613
@cesswairimu Hello 😃 I have made the PR 💃
Please review and tell me if something needs change 🙉
Thank you!

[2020-10-27 15:00] ebarry commented on #8325
Thanks for reporting this @jasonmj and for working on it @tawahpeggy and @SidharthBansal 🐬

[2020-10-27 15:01] #8613 closed

[2020-10-27 15:07] jywarren commented on #5490
Awesome, thanks Cess!

[2020-10-27 16:18] jywarren commented on #8618
Hi all - this is a complex one. Just offering some maybe helpful links into code segments that could be relevant:

* tests for this collection of names: https://github.com/publiclab/plots2/search?q=reacted%20with
* user reactions map: https://github.com/publiclab/plots2/blob/f04bd05f08cb8f60a25c22f3fcda5d8a141cf378/app/models/comment.rb#L220-L234

Note how that last bit of code relies on a `likes`

[2020-10-27 17:09] first-timers[bot] opened #8682 "Update email notifications to exclude tags subscriptions if none are present"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-27 17:10] jywarren commented on #8682
This would be good for Outreachy folks!

[2020-10-27 17:20] tawandamoyo commented on #8682
I would love to work on this

[2020-10-27 17:21] jywarren commented on #8676
Hi all! Thank you so much @Cadreia for posting this. I continue to love the medals given out 😄 ❤️

I just went in and left some comments and clarifications and questions to the proposals, now that @ebarry approved them! They are all looking wonderful and I hope what I've responded is helpful. Please feel free to ask any clarifications!

[2020-10-27 17:31] Cadreia commented on #8676
Thanks, everyone. It was a pleasure creating this week's check-in. Good luck, @KarenEfereyan on that for next week!

[2020-10-27 19:56] tawahpeggy commented on #8325
Thanks @ebarry.  the work isn't complete yet though

[2020-10-27 20:53] jywarren commented on #8325
Hi all! I think we probably need @SidharthBansal to help us unravel this one. You can find a huge amount of info about the Twitter OmniAuth setup at https://github.com/publiclab/plots2/issues/2676 -- i'll copy the list here:

* Add omniauth-twitter gem #2686
* Set up developers app #2893
* Docker file changes #2947
* Add OmniAuth Configuration to initializer #2948
* OAuth testing hash #2961
* Writ

[2020-10-27 20:53] jywarren commented on #8325
Also - is this an intermittent issue or is this affecting ALL twitter login attempts? Thank you!

[2020-10-27 21:26] jywarren commented on #6593
Working on quite a few more of these in https://github.com/publiclab/plots2/pull/8684

[2020-10-28 02:53] jubaan commented on #8682
I want to claim this open issue, has someone already claimed it? or making a PR for it? @tawandamoyo @jywarren

[2020-10-28 05:21] urvashigupta7 opened #8687 "User name appears twice in the profile page"
Make sure username doesn't  appear twice.

![Screenshot from 2020-10-28 10-47-36](https://user-images.githubusercontent.com/41363633/97395671-6f71dd80-190b-11eb-9870-fb026f973239.png)

[2020-10-28 05:21] urvashigupta7 commented on #8687
Hi @cesswairimu. Should I convert this into fto?

[2020-10-28 10:51] Suiiyush commented on #8629
If anyone has not claimed this yet then can I work on this issue?
I am a first timer this will be my first contribution on Github

[2020-10-28 11:11] Suiiyush commented on #6551
Hey If it is not already assigned to anyone can I work on this issue

[2020-10-28 11:15] Suiiyush commented on #8687
Hey, I would really like to work on this issue can I?

[2020-10-28 11:45] urvashigupta7 commented on #8687
Sure @Suiiyush. Go ahead. Let me know if you need any help 😄

[2020-10-28 12:46] Suiiyush commented on #8687
@urvashigupta7 Sorry, I cannot find the concerned html file can you point out where it is located?😅

[2020-10-28 12:48] urvashigupta7 commented on #8687
[here](https://github.com/publiclab/plots2/blob/main/app/views/users/profile.html.erb) it is

[2020-10-28 14:58] Suiiyush commented on #8687
I tried to install ruby and ruby on rails, but i dont get it how to see the changes I make to the concerned .erb file 😔 pls help.

[2020-10-28 15:00] urvashigupta7 commented on #8687
@Suiiyush Have you set up the project locally?

[2020-10-28 15:39] Suiiyush commented on #8687
Um I forked it, the  I cloned it on my computer, I installed the ruby and rails, besides this i have no idea what to do

[2020-10-28 15:41] urvashigupta7 commented on #8687
Try to follow installation procedure written in readme.md and let me know if you encounter any problem

[2020-10-28 16:27] yashmohan100 commented on #8629
Hi @Suiiyush , i am working on this. @cesswairimu has told me to do some changes...i am still figuring them out.
Thanks !!

[2020-10-28 17:36] RuthNjeri opened #8690 "Rename The Draft Method To Save_Draft For Clarity"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-28 17:43] RuthNjeri commented on #8448
There's a first timer issue available if anyone is looking for one..
https://github.com/publiclab/plots2/issues/8690

[2020-10-28 17:44] sagarpreet-chadha commented on #8690
Awesome! Thanks for opening this issue 🎉

[2020-10-28 21:03] first-timers[bot] opened #8691 "Update like count methods on tag pages"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-28 21:04] jywarren commented on #8448
Hi all! Just a reminder!

Please be sure to file your proposal on the Outreachy website as well as [on our PublicLab.org page](https://publiclab.org/notes/cess/10-02-2020/call-for-proposals-outreachy-winter-2020). You can use a lot of the same text. See Outreachy's text below!

====

In order to be eligible to be selected as an Outreachy intern, each applicant must:

1. Fill out an initial applica

[2020-10-28 21:07] jywarren commented on #8676
Hi all! Just a reminder!

Please be sure to file your proposal on the Outreachy website as well as [on our PublicLab.org page](https://publiclab.org/notes/cess/10-02-2020/call-for-proposals-outreachy-winter-2020). You can use a lot of the same text. See Outreachy's text below!

====

In order to be eligible to be selected as an Outreachy intern, each applicant must:

1. Fill out an initial applica

[2020-10-28 21:08] jywarren commented on #8598
I just did that over at #8691 - thanks @alvesitalo!

[2020-10-28 21:08] jywarren commented on #8691
Hi this is reserved for @alvesitalo - thanks!

[2020-10-28 23:01] tawahpeggy commented on #8325
hello @jywarren thanks for your timely reply and sorry for reaching you just now,i wanted to first of all study the resources you posted above before replying so we can get a solution as soon as possible.
the issue isn't intermittent as it will persist if not resolved.
i have gone through all the links and resources in your comment above and my thoughts are clear, the call back URL was added succe

[2020-10-28 23:46] Guambo commented on #8690
Hey! I'd like to take this for my first open source contribution if it's available!

[2020-10-29 02:33] saitgulmez commented on #8690
Hi,
I would like to take this issue. I have not made any contribution  on any open source project yet.

[2020-10-29 03:03] alvesitalo commented on #8691
Done! @jywarren

[2020-10-29 04:25] amarachi-nwokocha commented on #2220
Hi @gauravano  I have done it here Is the link to the new PR https://github.com/publiclab/plots2/pull/8694  Thank you

[2020-10-29 04:42] amarachi-nwokocha commented on #6767
Hi cess   i have made the changes here is my pull request https://github.com/publiclab/plots2/pull/8695 please review it. Thank you .

[2020-10-29 05:04] Suiiyush commented on #8687
So I am trying to install ruby version 2.3.0 since the my bundle requires it, so when I try to install that ruby version through rvm but it gives me an error message

`Error running './configure --prefix=/c/Users/Suyash/.rvm/rubies/ruby-2.3.0 --disable-install-doc --enable-shared',
please read /c/Users/Suyash/.rvm/log/1603945690_ruby-2.3.0/configure.log
There has been an error while running config

[2020-10-29 06:44] melawlah commented on #8690
Hello, I will like to contribute to this project. Can I go ahead?

[2020-10-29 07:10] saitgulmez commented on #8690
Hi, i have  created my first pull request with this issue.

[2020-10-29 09:11] tawahpeggy commented on #8325
@SidharthBansal please how did you handle signing up via social links and roles like moderator and admin?
@jywarren please i will wish to have @SidharthBansal's personal email address or something i can contact him directly through if possible.

[2020-10-29 09:14] KarenEfereyan commented on #8676
@Cadreia amazing job this week. I hope I'll be able to do half as good as you did next week. Hahaha

[2020-10-29 11:13] KarenEfereyan commented on #5627
Waow, I love this initiative by Public Lab. I am definitely going to go through all the previous checkins when I'm less busy. @cesswairimu when exactly is mine due?

[2020-10-29 11:15] KarenEfereyan commented on #8394
@jywarren this graphic is really cool

[2020-10-29 11:20] akp2603 commented on #7758
Hi @cesswairimu the PR has been pending approval and merging. Sorry to bother, but the hacktoberfest deadline is quite close now. Can you please get it reviewed? Thanks :)

[2020-10-29 11:34] KarenEfereyan opened #8698 "RICH MARKDOWN EDITOR SHOULD HAVE A PREVIEW BUTTON"
Currently, I am trying to draft my proposal for contributing to this project. I am greeted with the option of using the legacy editor or the rich markdown editor. I automatically opted for the rich markdown editor since the legacy editor is deprecated and would soon fall out of support. But the rich markdown editor has no preview button. I am unable to take a look at the changes I made before publ

[2020-10-29 11:36] cesswairimu commented on #7758
Hey @akp2603, sure, I see @jywarren left some comments I will ping Jeff to do a review again. Thanks

[2020-10-29 11:40] cesswairimu commented on #8676
@KarenEfereyan  you can create it on Sunday evening or Monday morning. Thanks

[2020-10-29 11:41] cesswairimu commented on #5627
Next week's checkin @KarenEfereyan

[2020-10-29 11:47] cesswairimu commented on #8325
@tawahpeggy I know @SidharthBansal might be busy, here are a few documentation on the auth system that might give you more context https://github.com/publiclab/plots2/blob/b1c57446d016f8cd0ec149a75298711270e1643e/doc/LOGIN_SYSTEMS.md#how-to-setup-login-modal-on-various-locations and https://publiclab.org/notes/bansal_sidharth2996/08-07-2018/gsoc-multi-party-auth-system

[2020-10-29 11:50] cesswairimu commented on #8687
@Suiiyush  actually I believe we are using ruby-2.6.6. Could you try running `rvm install 2.6.6`

[2020-10-29 11:54] cesswairimu commented on #8687
I just saw from your log you might be using Windows..if so, please do consider using an installer https://rubyinstaller.org/downloads/

[2020-10-29 12:11] cesswairimu commented on #8629
Hi @yashmohan100  I didn't realize you were having prob with that.
Here are steps you can follow to easily create a branch on the web

- Navigate to https://github.com/yashmohan100/plots2.
- Click on the branch dropdown, that brings a search bar.
- Type the name of the new branch, e.g `change-http-to-https`
- Click on the *create branch* text that appears below
- Once created, it will bring you a

[2020-10-29 12:16] cesswairimu commented on #6551
Hi @Suiiyush,  It looks like this has been solved already https://github.com/publiclab/plots2/blob/50164b13d612be00c5f700bb302af103a881e63c/app/views/dashboard/_comment_moderate.html.erb#L4-L8 . Closing this. Thanks everyone.

[2020-10-29 12:16] #6551 closed

[2020-10-29 12:25] tawahpeggy commented on #8325
Okay @cess thanks very much i will look at them ASAP

On Thu, Oct 29, 2020 at 12:48 PM Cess <notifications@github.com> wrote:

[2020-10-29 12:29] Suiiyush commented on #8687
okay so `rvm install 2.6.6` generates the log file I sent above.
I installed Ruby 2.6.6 from the link you sent
Now when i change directory to plots2 folder in Git Bash it still shows warnings given below

`$ cd plots2
RVM used your Gemfile for selecting Ruby, it is all fine - Heroku does that too,
you can ignore these warnings with 'rvm rvmrc warning ignore /c/Users/Suyash/desktop/firsttimer/plots

[2020-10-29 12:35] cesswairimu commented on #8687
Which windows version are you using or rather if press the home button and search ruby or rails, do you see a shell you can run from there, if so try using that and do `ruby -v` to see which version you have

[2020-10-29 13:29] Suiiyush commented on #8687
okay ruby does show up in search but when i search ruby on rails nothing shows up

![Screenshot (1338)](https://user-images.githubusercontent.com/73515280/97580028-cc0eee80-1a18-11eb-9641-ba9822475bf4.png)

[2020-10-29 14:02] Suiiyush commented on #8687
Okay I did a complete fresh install of everything I can see the ruby 2.6.6 installed through command prompt

[2020-10-29 14:27] cesswairimu commented on #8687
great, you all set now?

[2020-10-29 14:47] yashmohan100 commented on #8629
Actually, I was having issue with rebase and what you meant by it ?

[2020-10-29 15:09] KarenEfereyan commented on #5627
Yes ma'am

[2020-10-29 16:11] RuthNjeri commented on #8690
Hi @Guambo, and @melawlah you can reach out [here](https://gitter.im/publiclab/publiclab) or [here](https://gitter.im/publiclab/publiclab) to request for a first-timer issue.

Hi @saitgulmez thanks for creating the PR to fix it, please add a link of this issue in the PR you have created. @cesswairimu please assign this issue to @saitgulmez, he's already implemented it [here](https://github.com/pub

[2020-10-29 16:41] cesswairimu commented on #8629
Oh I see, I think rebasing will have an issue in your case because you are using the main branch.
Though you could try doing `git rebase -i upstream/main` _assuming your remote for publiclab/plots2 is upstream, save and exit and push your branch

[2020-10-29 16:46] #8690 closed

[2020-10-29 16:46] cesswairimu commented on #8690
Thanks everyone

[2020-10-29 17:03] cesswairimu commented on #8687
mmh :thinking: try running this `gem install libv8 -v '3.16.14.19' --source 'https://rubygems.org/'` if it succeeds try to bundle install again

[2020-10-29 17:09] Suiiyush commented on #8687
ahh I think I need to add a system variable since my cmd still does not recognize the python --version command the python installer does not add a path variable automatically, I will try both and get back to you

[2020-10-29 17:09] #8691 closed

[2020-10-29 18:50] KarenEfereyan commented on #6072
Seems a variable name that starts with the symbol @ is not valid

[2020-10-29 21:25] tawahpeggy commented on #6072
ohhh girl sorry about that, i have had this error like 10 times, in fact anytime i run passenger start i run into the error i dont know how i managebly by pass it all the time. but i re-setup my database using this commands.
1. cp db/schema.rb.example db/schema.rb
2. cp config/database.yml.sqlite.example config/database.yml
3. rake db:setup
try and if it doesnt work tell me so we try something els

[2020-10-30 11:18] yashmohan100 commented on #8629
thanks. i will do this by today evening.

On Thu, 29 Oct 2020 at 22:11, Cess <notifications@github.com> wrote:

[2020-10-30 11:32] Suiiyush commented on #8687
okay so I added the path variable and the python error is gone but its something else now 😔

`Fetching libv8 3.16.14.19
Installing libv8 3.16.14.19 with native extensions
Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

current directory:
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/libv8-3.16.14.19/ext/libv8
C:/Ruby26-x64/bin/ruby.exe -I C:/Ruby26-x64/lib/ruby/2.6.0 -r
./siteconf2020

[2020-10-30 13:45] cesswairimu commented on #8687
mmh I found this solution on [stackoverflow](https://stackoverflow.com/questions/23536893/therubyracer-gemextbuilderror-error-failed-to-build-gem-native-extension) that has a number of thumbs up..do you mind trying it?

[2020-10-30 14:12] cesswairimu commented on #7758
@akp2603, looks like Jeff may not be available I will go ahead review and merge the PR so that your contribution can be counted and I will keep this open just incase Jeff needs some follow up to  be done on this. I will ping him next week. Thanks for the patience.

[2020-10-30 14:48] #5758 closed

[2020-10-30 15:17] #8682 closed

[2020-10-30 15:34] #8510 closed

[2020-10-30 15:51] first-timers[bot] opened #8702 "Delete answer_selection_model file"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-10-30 19:39] icarito opened #8707 "Ruby interpreter crashes on starting up with docker container"
I'm trying to run Plots2 container without docker-compose.

I'm running it like this: `docker run --rm -ti -e PORT=18000 gcr.io/public-lab/plots2:nofs bash`
And it seems like the ruby interpreter crashes!
I tried upgrading base operating system from stretch to buster, same result.
Similar error is found when running under Google Cloud Run, but it's impossible to retrieve the backtrace. This is the

[2020-10-30 20:00] kamzzy commented on #8702
hello,
I would like to know if I can handle this task, although I have already done a first-timer task

[2020-10-30 20:28] jywarren commented on #8702
Hi @kamzzy - thank you but I believe something may have gone wrong with the creation of this one -- the task should be to delete the file itself, not just empty it. Also, we tend to prefer if folks do only a single first-timers-only issue because then they may be able to move on to a more complex issue like one of these: https://github.com/publiclab/plots2/labels/fto-candidate

... or to help some

[2020-10-30 20:47] kamzzy commented on #8702
Thanks for your response, I would like to help someone with there first-timers-only issue, Kindly point me to the right direction. Thanks

[2020-10-30 20:50] kamzzy commented on #8702
Thanks for your response, I would like to help someone with there first-timers-only issue, Kindly point me to the right direction. Thanks

[2020-10-31 04:16] Suiiyush commented on #8687
I went through soo many threads on Github and Stack Overflow, I think these solutions are for OS X and Ubuntu, I read that Lib V8 dosent have windows support yet

[2020-10-31 06:32] noi5e commented on #8587
@evansusu @jayaram2000 Even though these six instances have already been claimed by other people, there are still other places which have http instead of https.

You can search for http in plots2 like so:

![](https://user-images.githubusercontent.com/4361605/96181359-b95ccb80-0ee8-11eb-811e-8be766753dd0.gif)

If you find a place that needs the change, leave a comment here and let us know! You can

[2020-10-31 08:54] IjayAbby commented on #8513
Hello @cesswairimu kindly provide me feedback on my proposal link at https://publiclab.org/notes/inyangasi4/10-30-2020/outreachy-proposal-public-lab-new-dashboard-implementation-project.

[2020-11-01 02:30] YubaNeupane commented on #8587
Can I fix this issue?

[2020-11-01 02:33] YubaNeupane commented on #8702
Can I try to fix this task?

[2020-11-01 12:25] jayaram2000 commented on #8587
@noi5e  Can I take up  ***openid_test.rb*** file?

[2020-11-01 12:31] IC1101Virgo commented on #8633
Heya! Can I work on this issue? 😸

[2020-11-01 14:49] bhakodia commented on #8702
Hi , I would like to work on this as a beginner ,can I work on it ?

[2020-11-02 14:37] KarenEfereyan opened #8709 "Weekly Community Check-In #81 - Do That Which Scares you"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-11-02 15:26] ebarry commented on #8709
Thanks @KarenEfereyan !
And thanks to everyone who has been part of the very high activity in these recent weeks ⛑
See all the posted Outreachy proposals here: https://publiclab.org/tag/outreachy-2020-winter-proposals

[2020-11-02 22:19] tawahpeggy commented on #8709
Wow girl am so proud of you.thanks alot for this great work.i tap grace to
be successful too this coming weekend.💪💪💪💪

On Mon, Nov 2, 2020, 4:26 PM Liz Barry <notifications@github.com> wrote:

[2020-11-02 22:36] tawahpeggy commented on #8709
i have three goals this week:
kill a presentation i have within the week,
finish my proposal and submit.
and then do a great check in. i'll need all the help i can get though, cause i've never done this before.

[2020-11-03 07:32] cesswairimu commented on #8709
Hi @KarenEfereyan thanks a bunch for opening this :tada:  we normally name the check-in according to the theme of the week...I've updated it. thanks again

[2020-11-03 08:33] RuthNjeri commented on #8709
Thanks, @KarenEfereyan! I'll definitely keep contributing.

[2020-11-03 11:10] KarenEfereyan commented on #8709
Amen sis. You've got this

[2020-11-03 11:11] KarenEfereyan commented on #8709
I'll hold you accountable. ON what days are they due? I know that the next check in is due on the 9th.

[2020-11-03 15:58] tawahpeggy commented on #8709
Lets just give all of them a due date of  9th nov 2020

[2020-11-05 17:16] jywarren commented on #8702
Hi @kamzzy thank you so much. Please take a look at recent ones at https://code.publiclab.org/ and see if anyone is stuck? Feel free to reach out in our chatroom at https://gitter.im/publiclab/publiclab if you need help!

@YubaNeupane @bhakodia if you are still interested, please go ahead! If you leave a comment "i'm starting work on this" and link to a pull request, we can be sure there isn't red

[2020-11-06 07:25] up16 commented on #8702
Can I take this up, if no one has made a pull request yet?

[2020-11-06 20:07] jywarren commented on #8709
Love the energy here! Thank you so much @KarenEfereyan @tawahpeggy @RuthNjeri @cesswairimu @ebarry for the great energy! I've been reading the proposals and it's amazing to see people's excellent work; we're so grateful.

This has been a stressful week for many reasons. Good luck and my best wishes for your goals! Good luck with your presentation @tawahpeggy !!!

We're almost there, folks! ❤️ 🙌 🎉

[2020-11-08 13:53] shreyaa-sharmaa commented on #7454
Any updates @fiona-byte?

[2020-11-08 17:16] tawahpeggy opened #8718 "[publiclab/plots2] weekly community Check-In #82-We Rise By Lifting Others! (#8710)"
Hello Everyone! tada hand

We all at Public Lab balloon learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and

[2020-11-08 21:26] tawahpeggy opened #8719 "Weekly community Check-In #82-We Rise By Lifting Others!"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-11-08 21:42] #8718 closed

[2020-11-09 04:03] KarenEfereyan commented on #8719
Yay! Way to go girl! This is beautiful! Well done! Personally, this last week has been hectic for me. On average, my area gets not more than 5hours of electricity daily. It has really had a negative impact on my productivity levels and what I've been able to do. But I'm not giving up. I'll keep pushing.

[2020-11-09 08:04] tawahpeggy commented on #8719
thanks dear, you are right , cause the day we stop pushing we become leaving corpses. its not always easy but we have to always strive to be better.i have a friend in nigeria who always complains about electricity shortage too. don't bother just make and move over to cameroon :laughing:

[2020-11-09 09:05] VladimirMikulic commented on #8719
@KarenEfereyan @tawahpeggy props to you both for striving and not giving up. I wish you the best and feel free to `@me` for the review :)

[2020-11-09 09:42] KarenEfereyan commented on #8719
I love the sound of that. I just renewed my passport. Send my ticket fair and ill be on my way😂😂😂

[2020-11-09 09:43] KarenEfereyan commented on #8719
Thank you. Ill be sure too. Right now battery low. 😭😭😭😭

[2020-11-09 11:30] fiona-byte commented on #8719
Yaay, this is beautiful.. Way to go girl!!! 🚀🚀

[2020-11-09 13:27] RuthNjeri commented on #8719
Thanks for sharing your story @tawahpeggy 😄
My goal this week is to get a PR that I've been working on for a while get merged, help out with some reviews, and possibly create an issue...

[2020-11-09 16:00] jywarren commented on #7321
Let's close this up for now, thank you! If it recurs we can re-open. Thank you!!!

[2020-11-09 16:00] #7321 closed

[2020-11-09 16:04] jywarren commented on #8325
Hi @tawahpeggy i believe @SidharthBansal was referring only to local testing and the difference between `localhost` and `127.0.0.1` - which are usually but not always equivalent. My understanding is that login via twitter begins by visiting `/auth/twitter` - but it's hard to test because the app is configured primarily for the production server, and not for our testing servers or local hostnames l

[2020-11-09 16:05] jywarren commented on #8325
Also noting that i was able to log in via Twitter at https://stable.publiclab.org/ as `@jywarren` (on twitter). I wonder is this error only occurring for /new/ accounts? Or, is it only occurring for accounts which aren't new but have not previously been associated with a Twitter account? That may help us narrow down the specific issue. Thank you!

[2020-11-09 16:06] jywarren commented on #8325
We could try by creating a new Twitter account and trying to open a PL account using it...?

[2020-11-09 21:09] tawahpeggy commented on #8719
thank you all for your positive remarks. i love the sound of that @RuthNjeri, we've got our eyes on you.

[2020-11-10 07:12] cesswairimu commented on #8709
Moved to https://github.com/publiclab/plots2/issues/8719. Thanks everyone :heart:

[2020-11-10 07:12] #8709 closed

[2020-11-10 07:14] cesswairimu commented on #8719
Hello all :wave:
Thanks @tawahpeggy  for opening this :tada:
Hope everyone is doing well, great week ahead everyone

[2020-11-10 08:16] IC1101Virgo commented on #8719
Hey Everyone!
I would like to thank you all for giving me the opportunity to grow. I want to further work on more issues and learn new things. I am new but I'll learn and get there soon 😄
I hope I would get guidance to grow!
You guys are great 🥰
Thank you again 🌹

[2020-11-10 09:09] KarenEfereyan commented on #8719
Yay! You're welcome dear. Stay amazing

[2020-11-10 12:13] #8633 closed

[2020-11-10 12:21] #8702 closed

[2020-11-10 16:00] sentry-io[bot] opened #8726 "ActionView::Template::Error: undefined method `created_at' for nil:NilClass"
Sentry Issue: [PLOTS2-K2](https://sentry.io/organizations/publiclab/issues/1443166966/?referrer=github_integration)

[code]

[2020-11-10 16:00] jywarren commented on #8726
![image](https://user-images.githubusercontent.com/24359/98698346-ea8fb680-2343-11eb-9f2b-bb2eb87ff8ff.png)

Since efa7744d

[2020-11-10 16:22] #8726 closed

[2020-11-10 16:34] jywarren commented on #8344
OK! Gonna try using `sanitize_sql`!

[2020-11-10 16:40] jywarren commented on #8344
OK, for reference, this was hard to trace, but:

https://github.com/publiclab/plots2/blob/5e4028744e04e317203dcf9f05056d5204c1bfd7/app/api/srch/search.rb#L101

https://github.com/publiclab/plots2/blob/5e4028744e04e317203dcf9f05056d5204c1bfd7/app/services/search_service.rb#L243

https://github.com/publiclab/plots2/blob/f6f4a6db4ef2fd3a59cdf07023ea2815e006f667/app/models/user.rb#L402

That line has

[2020-11-10 16:48] jywarren commented on #8344
Noting that we have a similar error for a blank query, just added the Sentry link. Hopefully sanitize_sql will deal with both but if not we can also try to catch that.

[2020-11-10 16:50] sentry-io[bot] opened #8728 "NoMethodError: undefined method `tags' for nil:NilClass"
Sentry Issue: [PLOTS2-9Q](https://sentry.io/organizations/publiclab/issues/1045083736/?referrer=github_integration)

[code]

[2020-11-10 16:56] jywarren commented on #8344
Building on docs at https://api.rubyonrails.org/classes/ActiveRecord/Sanitization/ClassMethods.html and https://github.com/rails/rails/issues/28947#issuecomment-480061990

But, none of these actually escape the `@` symbol... ugh -- maybe related to https://bugs.mysql.com/bug.php?id=74042 for usage inside a fulltext MATCH query!

[2020-11-10 16:58] jywarren commented on #8344
... so, i think we just have to manually escape it for this fulltext MATCH search mode specific to MySQL...

[2020-11-10 17:08] frankiefab100 commented on #8719
Hi everyone! I'm glad to be part of this community. A PR I made last month just got merged and I look forward to making more contributions and positive impact.

[2020-11-10 17:14] #8728 closed

[2020-11-10 17:21] #8344 closed

[2020-11-10 17:32] jywarren opened #8731 "metadata to display on question cards - design discussion"
Just breaking out a discussion from https://github.com/publiclab/plots2/pull/8479#discussion_r518358655 on what to display on each card style. Right now, we show a pretty minimal card (re style guide https://publiclab.org/style-guide) for regular posts/notes:

![image](https://user-images.githubusercontent.com/24359/98708918-b5896100-234f-11eb-9e32-5eddcd4c4e73.png)

This is driven by the followin

[2020-11-10 17:40] KarenEfereyan commented on #8719
Yay. Yippie. Congrats

[2020-11-10 19:00] #5352 closed

[2020-11-10 19:39] jywarren commented on #8731
OK, so let's just swap in the standard `_card.html.erb` template, having checked on this with @ebarry! We can make an FTO from this by just modifying:

https://github.com/publiclab/plots2/blob/5c239014abe3cc46fad82f33ce0382f928f3789a/app/views/questions/_questions.html.erb#L5-L12

****

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com

[2020-11-10 22:56] tawahpeggy commented on #5627
hello @all please i think there has been a mixup with adding recent checK-ins to the check-in list.
there is @RuthNjeri :Weekly Community Check-In # 79 - Draft Your Outreachy Proposal #8619
@Cadreia :[publiclab/plots2] Weekly Community Check-In #80 - Outreachy Application (Winter 2020) Ends Soon! (#8676)
@KarenEfereyan :[publiclab/plots2] Weekly Community Check-In #81 - Do That Which Scares you (#

[2020-11-10 23:03] tawahpeggy commented on #8325
A twitter application you mean. i have already created one using my twitter account. we could use to test that @jywarren .should i email you the secret tokens and keys so you try that since i dont have access to do that.
it is worth noting that this once happened to me during my final year project actually and changing the twitter application didnt solve the problem. lets still try we might get a

[2020-11-11 00:45] sentry-io[bot] opened #8732 "ActionView::Template::Error: nil can't be converted to a Time value"
Sentry Issue: [PLOTS2-12M](https://sentry.io/organizations/publiclab/issues/2021003854/?referrer=github_integration)

[code]

[2020-11-11 00:45] jywarren commented on #8732
follow up of #8726

[2020-11-11 14:28] up16 commented on #8687
@Suiiyush if you are not working on this, can I take this up?

[2020-11-11 16:01] jywarren commented on #8325
Ah, no i just meant we have at least four scenarios i can think of:

1. person has a twitter account but not PL.org - uses Twitter account to create their PL.org account upon login
2. person has a PL account but has not associated a Twitter account; tries to log in with the Twitter account and it is or isn't matched to their existing PL.org account, using... email address match? (this i think we h

[2020-11-11 16:20] jywarren commented on #8325
I couldn't find the twitter handle, and i think the log is just too old. I recommend doing this in GitPod to try to find the error!

[2020-11-11 16:24] jywarren commented on #5627
Oh, are we off by one? I reformatted your comment to match the above format. Is that correct now, and shall I copy it up to the top? Thank you @tawahpeggy !!!

[2020-11-11 16:27] jywarren commented on #5627
OK, i changed it, how does it look up top now? Thanks again!!!

[2020-11-11 16:38] jywarren commented on #8719
Hi, everyone! I've been loving the themes of these check-ins. And so glad to have everyone supporting one another here.

O. M. G. this is... an image to imagine, for sure... 💦  🏊  😂

I was pretty low-key yesterday (tuesday is my usual work day) and mostly chased a few bugs i saw in our Sentry.io monitoring system. Small ones but nice to solve a few!  https://github.com/publiclab/plots2/pull/8729 a

[2020-11-11 17:02] #8732 closed

[2020-11-11 17:05] jywarren commented on #8325
Hm. in Gitpod, i see:

![image](https://user-images.githubusercontent.com/24359/98841429-18ddc680-2416-11eb-8760-8db9d395c9b6.png)

Maybe we lack the tokens etc to run this all in GitPod.

I'll try searching the log for `/auth/twitter/callback`, as well as Sentry.io, our monitoring system.

[2020-11-11 17:59] jywarren commented on #8325
I just linked a Sentry issue with `Faraday::SSLError SSL_connect SYSCALL returned=5 errno=0 state=SSLv3/TLS write finished` but it only occurred once, and is for Google OAuth, not twitter. Seems unrelated but that's all I found on Sentry.

[2020-11-11 17:59] KarenEfereyan commented on #8670
@cesswairimu @urvashigupta7  things have been tough on my side recently. Can you help me to tackle this issue?

[2020-11-11 18:04] jywarren commented on #8325
OK, made a new Twitter account:

![image](https://user-images.githubusercontent.com/24359/98847542-69592200-241e-11eb-9645-3b787301a8d4.png)

Huh, i got back here, with "the user has been banned":

![image](https://user-images.githubusercontent.com/24359/98847596-7bd35b80-241e-11eb-93f5-3b8e7f31d92a.png)

[2020-11-11 18:05] KarenEfereyan commented on #8731
@jywarren like I observed the cards aren't of the same height which is a lot inconsistent in itself. It would be great to add related tags in case the user searches by tags but if the tags become more than 3 and break into a new line, then it'd be too cluttered so maybe we could reduce the tags to the 3 most related? Then only the number of comments and maybe the link icons really matter. Maybe we

[2020-11-11 18:11] jywarren commented on #8325
OK, i got logs for that attempt:

[code]

Strangely it means the user would seemingly be banned - not sure which though. Here's the test which confirms this behavior:

https://github.com/publiclab/plots2/blob/c60aaabb56c018962c76abf3f5f2d114f8492d15/test/functional/user_sessions_controller_test.rb#L270-L280

[2020-11-11 18:12] jywarren commented on #8325
Let me see if the user record was actually created... maybe it's... via line 204 of the user_sessions_controller here?

https://github.com/publiclab/plots2/blob/c60aaabb56c018962c76abf3f5f2d114f8492d15/app/controllers/user_sessions_controller.rb#L52-L57

[2020-11-11 18:13] KarenEfereyan commented on #8731
I could cone up with a quick design of how I think the cards should look while incorporating gray and smaller meta text size and black colored author. I don't think adding more padding would totally solve the issue of inconsistent card heights. The length of the title is always a factor. Instead, it might be good to explicitly set a maximum number of characters for the title and maybe add a read m

[2020-11-11 18:17] jywarren commented on #8325
OK, i think possibly bc I created a Twitter account with no email address (just a phone number) it failed to find someone to associate because it used a nil email to search?

OK! Yes! I added an email to my new twitter account, and now i got an error, hopefully it's the same as the orig. poster!

[2020-11-11 18:19] jywarren commented on #8325
[code]

OK! There we go!

[2020-11-11 18:29] jywarren commented on #8325
https://github.com/publiclab/plots2/blob/4fadc4521e6f9b365b3e181f23234fda671430d4/app/models/user_tag.rb#L25-L28 is the section of code throwing this `allocator undefined for Proc` message:

https://stackoverflow.com/questions/9735188/typeerror-allocator-undefined-for-proc-when-working-with-a-model-object-in-a-ra

https://github.com/collectiveidea/delayed_job/issues/478 suggests that an object can

[2020-11-11 18:38] jywarren commented on #8325
And this last Sentry error notes a problem if there's no email provided:

[code]

OK, so MANY issues related to if Twitter doesn't provide an email. Let's try to write a test for that scenario, AND for the scenario with the `allocator undefined for Proc` error.

For the second one, if `create(value: "oauth:" + auth['provider'] + ":" + auth['uid'], uid: uid, data: auth.to_hash)` fails, maybe it's t

[2020-11-11 18:48] jywarren commented on #8325
https://github.com/publiclab/plots2/blob/f905c7a01e6824881d55c208c927f008e6fb8bd0/doc/LOGIN_SYSTEMS.md#testing notes that we can modify the test environment to simulate that, in https://github.com/publiclab/plots2/blob/main/config/environments/test.rb:

Attempting these changes in https://github.com/publiclab/plots2/pull/8734 !!

[2020-11-11 19:14] KarenEfereyan commented on #8731
![card](https://user-images.githubusercontent.com/56835876/98853965-35035700-245a-11eb-9aa4-ffae166c17f8.png)
This is a rough design of how it'd look. Still some things to deliberate on.
1. The tags compose characters of different lengths, how do we deal with that. I think for questions asked, what's important is the person who asked the question, when it was asked and replies to the question, hop

[2020-11-11 20:55] jywarren commented on #8325
Hmm, interesting, just saw another Twitter Sentry issue, i just linked it -- `Failed to open TCP connection to api.twitter.com:443 (getaddrinfo: Temporary failure in name resolution)`. Probably unrelated but good to keep in mind.

[2020-11-11 21:15] tawahpeggy commented on #8325
Wow you have indeed done alot of research Sir. thats wonderful. let me start from some where and possibly catch up with you :smile:

[2020-11-11 21:27] tawahpeggy commented on #5627
thanks for helping out @jywarren  theres still some mixup, Audrey and karen has same check-in Titles :smile: . is it possible for me to make the corrections instead of stressing you out over and over?

[2020-11-11 22:12] KarenEfereyan commented on #5627
No we didnt. @Cadreia raised an issue around outrrachy applications coming to an end. Kindly refer to the issue numbers

[2020-11-12 01:01] KarenEfereyan commented on #8670
@urvashigupta7 i'm unable to replicate the issue. I dragged and dropped files several times and afterward went ahead to edit comments and there are no irregularities. Or am i mistaken?

[2020-11-12 03:47] urvashigupta7 commented on #8670
Hi @KarenEfereyan. Edit comment does not work on https://stable.publiclab.org/ but I see edit comment works fine locally. But I am facing the issue I tried to show in the gif above.

[2020-11-12 07:16] tawahpeggy commented on #5627
yep @KarenEfereyan theres a mixup in the check-in list that needs to be corrected .your check-in title is same with @Cadreia

[2020-11-12 07:20] Suiiyush commented on #8687
@up16 yes, ask the other two participents

[2020-11-12 07:23] KarenEfereyan commented on #8670
Oh okay. Thanks so much

[2020-11-12 16:38] cesswairimu commented on #5627
My bad, updated that...Thanks everyone :heart:

[2020-11-13 07:54] Nhang-sach-an-an opened #8739 "Nhang sạch An An"
Thương hiệu [Nhang Sạch thảo mộc An An](https://nhanganan.com/) uy tín hàng đầu Việt Nam được Đài VTV và VTC giới thiệu, khuyến khích sử dụng để bảo vệ sức khỏe, giảm ô nhiễm môi trường.
--
Địa chỉ: 230 – Ngô Thì Nhậm, phường Trung Đô, thành phố Vinh, tỉnh Nghệ An
Website: https://nhanganan.com/
SĐT: 0922433333
Gmail: nhangsachthaomocanan@gmail.com

[2020-11-13 21:13] tawahpeggy commented on #8325
Sorry @jywarren I haven't been on ma feet for some days cause I wasnt
feeling too well. Felt better after visiting a Dr and taking some
medications. Will definitely start the work tmr hopefully.

On Wed, Nov 11, 2020, 9:55 PM Jeffrey Warren <notifications@github.com>
wrote:

[2020-11-15 10:38] akshitagupta15june opened #8742 "Request for joining the organisation"
Request for joining the organisation

[2020-11-15 14:07] pkdiv commented on #8742
Hi @akshitagupta15june , I want to start contributing to open source, so I would like to claim the issue.

[2020-11-15 14:12] akshitagupta15june commented on #8742
I would like to join the organisation

[2020-11-15 20:25] KarenEfereyan commented on #8731
@jywarren @cesswairimu ??

[2020-11-16 16:34] cesswairimu commented on #8742
Hi @akshitagupta15june thanks for checking  us out...have you contributed to any PublicLab projects? We usually add folks who are contributors..if not and you would like to contribute check issues here https://code.publiclab.org/

[2020-11-16 16:50] cesswairimu commented on #8676
forgot to close this. thanks all

[2020-11-16 16:50] #8719 closed

[2020-11-17 14:27] Hassanelashram commented on #8687
Hey guys when running docker-compose build i get ->
[code]

any idea why and how to set up my container to run the app locally ?

[2020-11-17 17:08] jywarren commented on #2928
I just tested this again since we finished upgrading the database for emoji unicode, by sending a reply to : https://publiclab.org/notes/warren/10-04-2018/reply-by-email-a-new-way-to-use-publiclab-org

`Testing emojis in reply by email! 🎉🙌❤`

It should process in a few minutes, let's see!

[2020-11-17 18:00] jywarren commented on #8731
Hi @KarenEfereyan I'm so sorry i missed this. Sometimes I don't see a comment for a few days as my main work day is Tuesdays. Thank you for your careful work on this! I think in discussion with @ebarry we settled on the default display (the very top screenshot) as suitable for questions as well. So I think that makes it relatively simple to move forward on!

I do think your idea of trying to get t

[2020-11-17 18:09] jywarren commented on #8731
I think we can break this into a few pieces and hopefully welcome some newcomers in in the process. I suggest:

* [ ] add a `app/models/node.rb` method `node.is_question?` so we can tell if it's a question.
* [ ] add a conditional based on `node.is_question?` so we switch between `Post` and `Question` in this section:
https://github.com/publiclab/plots2/blob/5c239014abe3cc46fad82f33ce0382f928f3789

[2020-11-17 18:13] jywarren commented on #8731
Actually for the above line item 3 -- changing the template -- couldn't we just eliminate this whole block and make line 9 accept `|| @node_type == 'question' ` as well?

https://github.com/publiclab/plots2/blob/903a1623638aab99b2ad9bec3b628416818c6f95/app/views/tag/show/_tab_content.html.erb#L20

@Cadreia maybe this could simplify your work in https://github.com/publiclab/plots2/pull/8689 as well

[2020-11-17 18:15] jywarren commented on #8739
Marked this as spam, thank you!

[2020-11-17 18:36] KarenEfereyan commented on #8731
I thought as much. Its okay. I can understand how busy you must be

[2020-11-17 18:38] KarenEfereyan commented on #8731
Sure. I can do either. Maybe create an FTO out of it. I'll need help with that though because I've never created one before

[2020-11-17 18:53] tawahpeggy commented on #8731
@KarenEfereyan Its quite simple to create an FTO issue, just check at the top of any issue already created, click on new issue (the green button at the top right corner of the page ) then select fto and follow the steps as describe on the template.its exactly same as creating a check-in ,just that different templates are used.

[2020-11-17 18:54] jywarren commented on #8731
I'm eating lunch right now but also happy to help out in the chatroom if you're looking into doing this! https://gitter.im/publiclab/publiclab

[2020-11-17 18:56] KarenEfereyan commented on #8731
I'll be out of power on my phone soon.I'll look into it tomorrow and contact you @jywarren and @tawahpeggy if I have issues. BTW @jywarren enjoy your lunch

[2020-11-17 19:20] jywarren commented on #8731
OK @KarenEfereyan and thank you @tawahpeggy -- i've completed the first item, and so now the second can be done as a stand-alone. Then 3. If you need help faster next time, please do reach out in the chatroom as I should get a notification faster then!

Thanks, everybody!

[2020-11-17 19:31] jywarren commented on #8490
Hi, just noting this was solved in https://github.com/publiclab/plots2/issues/8571 by @nk183 in a first-timers-only issue created by @Cadreia -- thank you all!!!

[2020-11-17 19:31] #8490 closed

[2020-11-17 19:33] jywarren commented on #5923
This was solved, thanks all! https://github.com/publiclab/plots2/blob/main/app/controllers/users_controller.rb#L3

[2020-11-17 19:33] #5923 closed

[2020-11-17 19:37] #5185 closed

[2020-11-17 19:37] first-timers[bot] opened #8749 "Add a test for 'should redirect to dashboard when logging in from /login'"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-11-17 19:38] jywarren commented on #8749
This should resolve https://github.com/publiclab/plots2/issues/5185! Thanks!

[2020-11-18 11:34] tawahpeggy commented on #8731
anytime @KarenEfereyan

[2020-11-18 22:34] ebarry commented on #8731
Thank you for all your help @KarenEfereyan
<https://github.com/KarenEfereyan> @tawahpeggy
<https://github.com/tawahpeggy> @jywarren <https://github.com/jywarren> !
--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Wed, Nov 18, 2020 at 6:35 AM TAWAH PEGGY CHE NICO <
notifications@github.com> wrote:

[2020-11-20 13:28] tawahpeggy opened #8758 "Weekly Community Check-In # - Topic"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-11-20 21:28] tristan-hunt commented on #8749
Hey I'd like to work on this if it's available.

[2020-11-23 05:49] tawahpeggy opened #8760 "Weekly Community Check-In #84 - See Beyond its Flaws"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-11-23 06:18] KarenEfereyan commented on #8760
You did this week too? Super nice Tawah. Thanks

[2020-11-23 13:22] tawahpeggy commented on #8760
yea i did dear @KarenEfereyan  thanks. hope you are good.
also did you encounter any issues while creating the issues??.

[2020-11-23 15:09] fiona-byte commented on #8760
This is beautiful

[2020-11-23 15:19] fiona-byte commented on #8760
@tawahpeggy I'd love to work on next week's check-in

[2020-11-23 16:20] KarenEfereyan commented on #8760
Congrats to you @RuthNjeri you deserve the internship position. Enjoy the internship. I'll try harder next time

[2020-11-23 16:21] cesswairimu commented on #8760
Thanks @tawahpeggy :tada: and  thanks @fiona-byte do let me know if you need help next week

[2020-11-23 16:39] #8560 closed

[2020-11-23 17:11] cesswairimu commented on #2220
Hey all, I  believe the file that was to be changed on this issue is https://github.com/publiclab/plots2/blob/main/test/integration/I18n_test.rb.. however it looks like we do not have any code currently maintained with that format stated above... Closing this, thanks all

[2020-11-23 17:11] #2220 closed

[2020-11-23 17:30] #8629 closed

[2020-11-23 17:35] cesswairimu commented on #8587
@jwalit21 sorry this skipped my mind. Replacing the test looks like it would be okay. Feel free to create an issue for that. Thanks

[2020-11-23 17:37] cesswairimu commented on #8758
@tawahpeggy I think you might have created this by mistake. Closing this

[2020-11-23 17:37] #8758 closed

[2020-11-23 18:51] RuthNjeri commented on #8760
Thanks, @KarenEfereyan :)...if you re-apply in the future, I'll be happy to share any feedback...

[2020-11-23 18:54] KarenEfereyan commented on #8760
I'll be sure to. Enjoy your internship😍😍😍

[2020-11-23 19:35] cesswairimu commented on #8448
Thank you everyone for applying with PublicLab. We had great proposals from all you and had a huge spike on contributions last month all thanks to you,  we got two slots but we would have loved to take in more..For those who did not get selected, please know that we are extremely grateful for your work with us to date and that we welcome you to continue being part of this community. Thank you for

[2020-11-23 19:40] tawahpeggy commented on #8760
A big congratulations to you @RuthNjeri i wish you best of luck on your internship.you were actually the best candidate for the position :100: :clap: :partying_face: :partying_face:  :partying_face:

[2020-11-23 20:03] RuthNjeri commented on #8760
Thank you for the kind words @tawahpeggy :) and thanks for sharing your wonderful stories during the weekly Check-ins, I hope I'll still see you contributing 😃

[2020-11-23 22:19] tawahpeggy commented on #8760
ofcourse you will public Lab has become home for me within this short time

you are very welcome @RuthNjeri, ofcourse you will still see me around, Public Labs has become a home for me within this past few weeks.

[2020-11-23 22:23] tawahpeggy commented on #8760
you are very welcome @RuthNjeri, ofcourse you will still see me around, Public Labs has become a home for me within this past few weeks.

[2020-11-23 22:28] tawahpeggy commented on #8758
Yes I did cess sorry about that and  thanks for clossing it :100:.

[2020-11-24 04:45] sashadev-sky commented on #5794
I read the article you linked and it was very helpful! Should we add it to the Roadmap?

[2020-11-24 04:51] sashadev-sky commented on #4920
Going to close this discussion as we implemented the solution!

[2020-11-24 04:51] #4920 closed

[2020-11-24 10:27] stacytonui commented on #8760
Nice work @tawahpeggy, your check-ins are an interesting read and Congrats @RuthNjeri You deserve it!!

[2020-11-24 17:37] first-timers[bot] opened #8765 "move flag-node button outside of admin-only zone in menu"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-11-24 17:38] jywarren commented on #8765
I'm happy to help with this one!

[2020-11-24 18:14] jywarren commented on #8749
Hi @tristan-hunt yes it is! Please go ahead and open a pull request and I'm happy to help out.

[2020-11-24 19:08] jperk224 commented on #8765
I'd like to take this one please to work on over the next few days to get accustomed to the workflow to contributing to this project.  Thanks

[2020-11-24 19:49] jywarren commented on #8760
Hi @tawahpeggy thank you so much for a beautiful check-in. It's deeply appreciated and I'm glad to hear you are finding some positives in this tough time. Your post gave me a chance to take a big deep breath on a busy day!

Many congrats to @RuthNjeri @noi5e and everyone who worked so hard these past weeks. We will be participating in Outreachy every round we can get into the program and we hope t

[2020-11-24 20:21] first-timers[bot] opened #8767 "add extra explanatory text to moderation button tooltips"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-11-24 21:10] first-timers[bot] opened #8768 "trigger images to load on https://publiclab.org/blog2, adjust margin"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-11-24 21:10] jywarren commented on #8768
I'm happy to help with this one!!!

[2020-11-24 21:11] jywarren commented on #8765
That sounds great, @jperk224 -- thanks! I'll take a look at your PR!

[2020-11-24 21:11] #8765 closed

[2020-11-24 21:39] jywarren opened #8769 "wiki tag pages not showing content"
None seem to work! https://publiclab.org/wiki/tag/balloon-mapping Checking recent work on that page...

don't think it's related to: https://github.com/publiclab/plots2/pull/8422/ or https://github.com/publiclab/plots2/pull/7334...

[2020-11-24 21:41] jywarren commented on #8769
Recent work: https://github.com/publiclab/plots2/commits/main/app/views/tag/show/_tab_content.html.erb

[2020-11-24 21:41] jywarren commented on #8769
maybe https://github.com/publiclab/plots2/commits/main/app/controllers/tag_controller.rb too...

[2020-11-24 21:44] jywarren commented on #8769
Could be this, just after the fix? https://github.com/publiclab/plots2/commit/5a2155a8f269ff20e134fd296ddaf35fb748c180#diff-fa310984bb45c16a84319a20b65c5d3832a1a8e7ec48aab0a0a95f16402443fe

[2020-11-24 21:57] tawahpeggy commented on #8760
Thanks @jywarren, your mentoring skills are top notch, i learnt a lot from you this past weeks and working with you has been awesome so far,  learning more from you is what i can't afford to miss out on.

[2020-11-24 22:09] #8769 closed

[2020-11-24 22:19] xEt3 commented on #8768
Hey, I would like help with this problem

[2020-11-24 22:29] jywarren commented on #8698
Hi @KarenEfereyan I believe we will have the ability to add this shortly as we finish up https://github.com/publiclab/plots2/pull/8620 -- thank you very much for your suggestions and apologies for any trouble you may have had!

[2020-11-24 22:35] jywarren commented on #8698
Ah, my mistake! I believe this should now be running on the live site!!! Closing now! Thanks, everyone!

[2020-11-24 22:35] #8698 closed

[2020-11-24 22:35] renancleyson-dev commented on #8767
I would like to work on this issue.

[2020-11-27 02:04] jperk224 commented on #3840
Hi, I am getting the below errors when trying to run `bundle install --without production mysql`

[code]

The out file gives me this:

[code]

When I run `gem install critical-path-css-rails -v '4.1.0' --source 'https://rubygems.org/'`

I get the same error.

Am I missing a dependency or do I need to run this as `sudo`?  I did some searching on this page and around the web but cannot seem to pinpo

[2020-11-27 07:05] cesswairimu commented on #3840
Hi @jperk224 ,
Do you have node installed already?  you could try installing it first with `sudo apt-get install nodejs` then try to run bundle install after that

[2020-11-27 14:02] jperk224 commented on #3840
Hi @cesswairimu , thanks for writing back!  Yes I do have node installed- do I need a particular version?  Sorry if this was listed on the [prerequisites](https://github.com/publiclab/plots2/blob/main/doc/PREREQUISITES.md) page and I missed it?  I thought I had walked through all of those cleanly.

I have 10.19.0

[code]

[2020-11-27 14:19] cesswairimu commented on #3840
no particular version...any version should be good...

does `npm install` or `yarn install` run successfully?

[2020-11-28 02:12] jperk224 commented on #3840
Thanks @cesswairimu ! I think that was it, I was missing npm.  Apologies I thought I had it but WSL was looking to node in Windows and wasn't seeing npm.  Thanks for the help!

[2020-11-28 18:12] cesswairimu commented on #8401
Keeping this open as we monitor https://github.com/publiclab/plots2/pull/8774 for a while

[2020-12-01 06:02] cesswairimu commented on #8760
Hi @fiona-byte how is the check-in coming along?  please let me know if you need any help.

[2020-12-01 06:04] cesswairimu commented on #8448
Thanks everyone once more for applying with us and Congrats @RuthNjeri  and @noi5e :tada: :tada:

[2020-12-01 06:04] #8448 closed

[2020-12-01 15:46] #8625 closed

[2020-12-01 16:15] #8674 closed

[2020-12-01 16:26] #6173 closed

[2020-12-01 16:35] jywarren commented on #8325
@tawahpeggy I had missed this email but wanted to re-iterate my wish for your health and safety. I'm glad you're feeling better.

I'm circling back to say I have created a test and new procedures for when someone tries to use Twitter in [scenarios 1-3](https://github.com/publiclab/plots2/issues/8325#issuecomment-725506700) (i believe) above, and a test for at least one of those scenarios (i believ

[2020-12-01 16:35] #8325 closed

[2020-12-01 16:36] jywarren commented on #8325
If there are further issues here we may want to create a test for a Twitter user with no `uid`? Though I'm not sure how that could happen.

[2020-12-01 16:54] jywarren commented on #8199
Hi @jywarren i'm so sorry! Yes, this is confirmed, we'd love help with it! My apologies for slow reply. If you can't get a hold of me it may be easier in the chatroom https://gitter.im/publiclab/publiclab (due to volume of notifications). Apologies!

[2020-12-01 16:57] jywarren commented on #8767
Hi @xEt3 - thanks i saw you created a commit to fix this issue, but hadn't yet created a pull request, so I made one for you! It looks great!

[2020-12-01 17:02] jywarren commented on #8670
Hello all, thank you for investigating and documenting this so carefully. I'm going to edit the title to add some specificity that this is during editing a comment. It may also be different depending on if the edited comment was just made (with no page refresh) or if it was there already, since newly made comments are inserted using JavaScript instead of being built-in at the time the page is prep

[2020-12-01 17:02] jywarren commented on #8670
and linking to #8775

[2020-12-01 17:03] jywarren commented on #8775
Noting this example of cross-wired comment boxes during image upload to a comment being edited (not newly written): https://github.com/publiclab/plots2/issues/8670

[2020-12-01 17:04] xEt3 commented on #8767
Hi @jywarren thanks so much, I thought it would be generated automatically, thanks for the lesson and for your time :smile:

[2020-12-01 17:05] jywarren commented on #8768
Hi @xEt3 - that would be wonderful, thank you! If you'd like to open a pull request we'd love to help you get started.

[2020-12-01 17:08] first-timers[bot] opened #8789 "Narrow some CSS definitions to affect only the blog page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-12-01 17:10] crmsnbleyd commented on #8789
Hello, I'd like to help with this issue

[2020-12-01 17:13] jywarren commented on #6420
Closing this now as we've made a ton of progress! Thank you!!

[2020-12-01 17:13] #6420 closed

[2020-12-01 17:14] jywarren commented on #4349
Fixed in #8689 ! Thank you!!!!

[2020-12-01 17:14] #4349 closed

[2020-12-01 17:14] jywarren commented on #7530
Fixed in #8689 ! Thank you!!!!

[2020-12-01 17:14] #7530 closed

[2020-12-01 17:14] jywarren commented on #6387
Fixed in #8689 ! Thank you!!!!

[2020-12-01 17:14] #6387 closed

[2020-12-01 17:16] xEt3 commented on #8768
I just did it , thanks for the help :ok_hand: @jywarren

[2020-12-01 17:18] Tlazypanda opened #8791 "Weekly Community Check-In #85 - Outreachy is here!!!"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-12-01 17:19] jywarren commented on #2037
This was resolved, thank you!!!

[2020-12-01 17:19] #2037 closed

[2020-12-01 17:19] #4094 closed

[2020-12-01 17:26] jywarren commented on #6444
Hi, @carrimaxx - i'm so sorry for the slow reply; i believe that means this was already completed, and I'm sorry about that. If you're still interested in taking on a first-timers-only issue, there is now one at #8789 which you're welcome to claim! My apologies and thank you for your help!

[2020-12-01 17:26] #6444 closed

[2020-12-01 17:40] #8475 closed

[2020-12-01 17:42] jywarren commented on #7885
OK, closing this now, and I'll add a clarifying placeholder or tooltip to that search box, thank you!!!!!!

[2020-12-01 17:42] #7885 closed

[2020-12-01 17:44] jywarren commented on #8513
Hi! Just adding this UI flow issue which I believe will still be important on the new version of the Dashboard! Thanks!!!

UI flow issue for adding location from dashboard: https://github.com/publiclab/plots2/issues/8566

[2020-12-01 17:45] Sagarpreet commented on #8791
Happy coding to Outreachy interns 🎉

[2020-12-01 19:01] cesswairimu commented on #8760
Moved to https://github.com/publiclab/plots2/issues/8791. Thanks all

[2020-12-01 19:01] #8760 closed

[2020-12-01 19:12] jywarren commented on #7717
I'm just noting that i reconfigured CodeClimate to leave in-line suggestions and it is pretty nice! It is limited to 5, i think, so it's not overwhelming. It looks like this:

![image](https://user-images.githubusercontent.com/24359/100785830-38498d00-33df-11eb-8fb1-404448fdfdee.png)

Maybe this is a nice way for this to work as well?

https://github.com/publiclab/plots2/pull/8527#pullrequestrevie

[2020-12-01 21:00] KarenEfereyan commented on #8760
Hi @cesswairimu . I'll do this week's check in on behalf of @fiona-byte. She has some health related issues but she'll be back soon. She said to tell you

[2020-12-01 21:24] jywarren commented on #8791
Thanks @Tlazypanda! this is so great. A big welcome to @RuthNjeri and @noi5e and thanks again to everyone who participated so far.

[2020-12-01 21:24] skele-666 commented on #8789
Hi, I'd love to work on this :)

[2020-12-01 21:36] jywarren opened #8793 "Start migrating off of Travis to GitHub Actions or CircleCI"
In-depth discussion here: https://www.jeffgeerling.com/blog/2020/travis-cis-new-pricing-plan-threw-wrench-my-open-source-works

I'm going to try opening a PR using an alternative... i think the parallel jobs may be tough!

https://circleci.com/docs/2.0/migrating-from-travis/#section=getting-started - `Organizations on our free plan get 400,000 credits per month for open source builds.`

https://do

[2020-12-01 21:56] jywarren commented on #8793
Oof, our .travis.yml file is quite large:

https://github.com/publiclab/plots2/blob/main/.travis.yml

[2020-12-01 22:22] #8768 closed

[2020-12-01 22:35] jywarren commented on #8793
Using https://github.com/marketplace/actions/setup-chromedriver and https://github.com/marketplace/actions/start-mariadb

[2020-12-01 22:36] jywarren commented on #8793
also see https://docs.github.com/en/free-pro-team@latest/actions/guides/creating-redis-service-containers

[2020-12-01 22:37] jywarren commented on #8793
https://github.com/ruby/setup-ruby#versioning

[2020-12-01 22:51] jywarren commented on #8793
DB connection issues... over socket... ok, following this now: https://github.com/mirromutth/mysql-action/issues/2

[2020-12-01 23:03] jywarren commented on #8793
May need to follow these steps for DB connection: https://docs.knapsackpro.com/2019/github-actions-ci-config-for-ruby-on-rails-project-with-mysql-redis-elasticsearch-how-to-run-parallel-tests

[2020-12-01 23:07] jywarren commented on #8793
Looking at this first, then will try the above: https://github.community/t/github-actions-cant-connect-to-mysql/17885/2

[2020-12-01 23:08] jywarren commented on #8793
Yes!! `Mysql2::Error::ConnectionError: Access denied for user 'root'@'localhost' (using password: YES)`

[2020-12-01 23:30] jywarren commented on #8793
:-/// now i can't get back to that 'access denied' state, unfortunately. I'm now seeing:

[code]

[2020-12-02 02:02] cesswairimu commented on #8760
Hey @KarenEfereyan, no worries, @Tlazypanda already opened one, thanks.
Quick recovery to @fiona-byte 💜

[2020-12-02 03:38] noi5e commented on #8775
Here's a planning issue that I made to cover my 13-week internship with Outreachy and Public Lab!

I plan on updating this comment at least once a week to show my progress. I know it looks a little sparse right now! Still learning the ropes of the Public Lab ecosystem 😅. I will be adding more as I uncover it through research and PRs.

I also plan on compiling issues relevant to the Comment Editor

[2020-12-02 05:36] RuthNjeri commented on #8791
Thanks for the warm welcome!

[2020-12-02 05:52] noi5e commented on #8791
Yes, thanks for welcoming us in as interns!

[2020-12-02 18:31] jywarren commented on #8793
OK, now ditching MariaDB we have gotten to running unit tests! Some cleanup to do, then very probably work on the system tests and chromedriver/screenshotting?

https://github.com/publiclab/plots2/runs/1488071276?check_suite_focus=true

We're also now seeing the MySQL 5.7 errors so we'd have to upgrade or adapt, or move back to MariaDB: #8251  https://github.com/publiclab/plots2/issues/8177 https:

[2020-12-02 19:01] RuthNjeri commented on #8513
Hi @publiclab/comment-maintainers I have updated the planning of the tasks needed, please provide feedback especially on the `Seeking Clarity / Approval` section. Thank you..

[2020-12-03 14:22] jywarren commented on #8793
ERROR["test_tag_show", #<Minitest::Reporters::Suite:0x00005632abd53f20 @name="TagControllerTest">, 79.24153970600003]
 test_tag_show#TagControllerTest (79.24s)
Minitest::UnexpectedError:         ActionView::Template::Error: couldn't find file 'jquery-lazyload/jquery.lazyload.js' with type 'application/javascript'

[2020-12-03 14:38] jywarren commented on #8793
FAIL["test_that_pinned_notes_with_\"pinned:foo\"_tags_appear_at_the_top_of_[nodes:foo]_inline_tables", #<Minitest::Reporters::Suite:0x000055e98b024160 @name="NodeSharedTest">, 3.0618341420000093]
 test_that_pinned_notes_with_"pinned:foo"_tags_appear_at_the_top_of_[nodes:foo]_inline_tables#NodeSharedTest (3.06s)
        Expected: 1
          Actual: 0
        test/unit/node_shared_test.rb:24:in `bl

[2020-12-03 14:41] jywarren commented on #8793
that's an odd one to fail...

[2020-12-03 15:30] jywarren commented on #8793
Later maybe we can skip Google Cloud Storage for screenshots and instead use artifacts: https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/downloading-workflow-artifacts

[2020-12-03 17:23] jywarren commented on #8793
OK, doing well here... now need Redis?

[code]

[2020-12-03 18:49] RuthNjeri commented on #8513
Hi 👋🏾  In the dashboard activity partial, we pass in the activity and notes...
I'm curious as to why we paginate the notes and not the activity...
<img width="784" alt="Screenshot 2020-12-03 at 21 47 52" src="https://user-images.githubusercontent.com/7622875/101073922-36cfbe80-35b1-11eb-8dd6-efafa64c76aa.png">

Also, my current understanding as to what all posts mean is the activity section of the

[2020-12-04 04:38] pedrodimarco commented on #8789
Hi! I'm a first-timer, I would like to work on this

[2020-12-04 05:41] jywarren commented on #8793
Looks like we have an intermittent unit test failure here:

[code]

[2020-12-04 05:41] jywarren commented on #8793
Redis is installed now, testing the connection...

[2020-12-05 07:46] sagarpreet-chadha commented on #8789
Hi @skele-666 , sure go ahead 😄
Hi @pedrodimarco , you can take another FTO issue or if you don’t find one, let us know we will make on for you 😄

[2020-12-05 18:20] jywarren commented on #8793
Huh, after a couple restarts to get past the intermittent unit test failure, I see a functional test that is also related to tags, but otherwise not sure it's related?

[code]

[2020-12-06 07:05] sagarpreet-chadha commented on #8775
Hi @noi5e , the planning issue looks great.
Which issue are you currently working on? Can you point me to the PR if any, also let me know if you are stuck somewhere or meed some clarity. Thanks 😄

[2020-12-06 07:28] sagarpreet-chadha commented on #8513
@RuthNjeri to have pagination in View, we either have to use notes or activity, but it seems activity is super set of notes:
https://github.com/publiclab/plots2/blob/cbb807ba8e2302f09dafc0060475aa118e34c2c6/app/controllers/home_controller.rb#L139

So it makes more sense to use activity, but I think I am missing something.

Also noting the PR you are currently working on:
https://github.com/publicl

[2020-12-06 07:50] noi5e commented on #8775
@sagarpreet-chadha Thank you for checking in with me! Since posting this, been writing my blogpost for Outreachy (in bits and pieces, almost done), researching and working on a PR for 8618, and brushing up on Rails-- which I don't have a strong background in, but have been learning a lot this week. Worked 2 days at my other job so am feeling a little behind, but did a lot of catch-up today and wil

[2020-12-06 15:28] jywarren commented on #8775
Hi @noi5e i believe the "wiki comments" route is distinct from the "notes" one - both wikis and notes are variants of Node - but should be pretty similar.

It's been a while since I looked at this area of code, but typically Rails will have a controller action for each route, but the exception is when they are resourceful routes: https://guides.rubyonrails.org/routing.html#resource-routing-the-rai

[2020-12-06 15:40] jywarren commented on #8513
Ah, i think the issue was that since in this context "activity" is all types, as Sagarpreet says -- not to be confused (as i was for a sec) with the "Activities" type of note, which is like a note whose content is a kind of activity guide for people (a tutorial, i guess).

The issue is that because we are mixing the Rails "Comment" and "Node" types, we can't paginate a mixed set, as far as I know

[2020-12-06 15:54] jywarren commented on #8513
Hi, on the other clarifications, let me go through them one by one:

* `the sort by functionality in the 'All Posts' page is not needed` -- i think by recency makes sense here, since it's supposed to be the "firehose" of all content. I don't think it's critical to have other sortings, although it might be interesting. But in general, i think we want to push people into the topics themselves, so us

[2020-12-07 07:55] noi5e commented on #8775
@jywarren Thanks so much for that very helpful and detailed writeup!!! It really helped me figure out a lot of things about the codebase. Still a lot to learn. I made a tentative PR for a test-- with a lot of questions.

[2020-12-07 14:36] RuthNjeri commented on #8513
Thanks for the clarifications @jywarren  and @Sagarpreet ... it's becoming much more clearer now..
For the sorting in the 'All Posts' section, my current assumption is that sort by recency will be done at the controller level.

[2020-12-07 16:43] gauravahlawat81 commented on #8687
Hey @urvashigupta7 , could you please do me a favour and tell me how can I reproduce this error ?
Thanks!

[2020-12-07 16:46] urvashigupta7 commented on #8687
@gauravahlawat81 Go on profile page and switch to mobile mode. You will be able to see the error :) thanks

[2020-12-07 16:49] gauravahlawat81 commented on #8687
Yeah, I figured it out by looking at the image you provided. Thanks for helping me

[2020-12-07 16:55] jywarren commented on #8513
Yes, that's right. You can see in the current Tag Controller "show" action that the different sortings are all done there. Thanks, @RuthNjeri !!!

[2020-12-07 17:04] RuthNjeri commented on #8513
@jywarren I also think that because the pages needed for the All Posts section, i.e the questions page, comments, wiki, and notes, can all display the content sorted according to recency the code for this will no longer be needed...

![Screenshot 2020-12-07 at 20 02 19](https://user-images.githubusercontent.com/7622875/101380922-31cb8180-38c7-11eb-8b54-ac4bf75282a1.png)
![Screenshot 2020-12-07 at

[2020-12-07 17:14] jperk224 commented on #4178
Hi, I'm looking for a decent `fto-candidate` issue to work on.  Is this one available for grabbing?

[2020-12-07 17:17] jywarren commented on #8242
Hi, just noting this again as a good one to optimize. I think we can instead of using `qids` as a filter, we can just port in the standard way to filter by `like question:` as @Tlazypanda suggested.

https://github.com/publiclab/plots2/blob/92834ead6c53d6d9431bb99024d4044b282518be/app/controllers/tag_controller.rb#L131-L139

Here's how we should do it:

https://github.com/publiclab/plots2/blob/cbb

[2020-12-07 17:19] gauravahlawat81 commented on #8687
![Screenshot from 2020-12-07 22-48-11](https://user-images.githubusercontent.com/36696399/101382853-6eef3e00-38de-11eb-9fdf-bedfcd9efc7b.png)
Will this be fine ?

[2020-12-07 17:22] jywarren opened #8803 "Stop using old inefficient `set_sidebar` method"
We used to use `set_sidebar` a lot because it was a standard way to show sidebars across the site. But that old style sidebar is essentially completely gone, and we should remove it from any remaining pages. The code is very inefficient and it's causing 25+ second load times.

The function itself is here, and you can see why it's so inefficient! it's super long and just makes tons of queries for s

[2020-12-07 17:22] urvashigupta7 commented on #8687
I guess username below the profile pic will look better

[2020-12-07 17:26] jywarren opened #8804 "Remove all "answered_questions" code from app/controllers/tag_controller.rb"
We no longer use this code, so we'd love some help just removing all of it! I believe, but am not 100% sure, that tests should pass even after we do this.

https://github.com/publiclab/plots2/blob/92834ead6c53d6d9431bb99024d4044b282518be/app/controllers/tag_controller.rb#L141-L142

Thanks for any help on this!!!!

[2020-12-07 17:26] jywarren commented on #8804
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2020-12-07 17:31] jywarren commented on #8242
So it might be like:

[code]

The tough part here is the query for notes that excludes questions. We may need a custom query, something like this???

https://stackoverflow.com/a/711671

[code]

It may need some experimentation to get this right!!!

[2020-12-07 17:35] jywarren commented on #8242
I think this is our top target for optimization now! It affects all tag pages, i believe.

[2020-12-07 17:36] jywarren commented on #8198
OK - identified and traced this route that needs major optimization. It affects all tag pages so performance should improve site-wide if we can take it on!

https://github.com/publiclab/plots2/issues/8242

However, it will require some tough SQL "exclude records" query writing. We'd love help with it if you're good at SQL or ActiveRecord!!!

[2020-12-07 17:59] gauravahlawat81 commented on #8687
![Screenshot from 2020-12-07 23-27-40](https://user-images.githubusercontent.com/36696399/101386959-d52a8f80-38e3-11eb-8816-46e13e7d5830.png)
How's this ?

[2020-12-07 18:10] jywarren commented on #8513
That's great -- yes, and "the code for this will no longer be needed..." you mean the code in this pull request? OK, yes!

I think one reason /notes got lost is that it's not linked to from anywhere I know of. I think making it a feature from the dashboard will make it far more visible and the page redesign unifying the Notes+Questions+Wikis+Comments pages will be really great for site cohesivenes

[2020-12-08 02:36] urvashigupta7 commented on #8687
@gauravahlawat81 It looks great 💯

[2020-12-08 07:11] cesswairimu commented on #8791
moved to https://github.com/publiclab/mapknitter/issues/1474. thanks al ot everyone :tada:

[2020-12-08 07:11] #8791 closed

[2020-12-08 16:04] gauravahlawat81 commented on #8598
Hey @jywarren . I was trying to reproduce this issue in my development environment, but I ran into some unexpected error. I can't find the nav link to 'Topics' when I try to run it locally.
![Screenshot from 2020-12-08 21-32-08](https://user-images.githubusercontent.com/36696399/101507959-23e83000-399d-11eb-928a-70c860506130.png)

[2020-12-08 19:02] jywarren commented on #8793
That's an ordering issue. I'll sort both arrays to fix.

[2020-12-08 19:35] jywarren opened #8808 "Non-project wiki page mysteriously appearing in project pages listing"
This page: https://publiclab.org/wiki/name-your-project-here

is appearing in a list of pages tagged with `project`:

https://publiclab.org/wiki/projects#Example+Project+Pages

![image](https://user-images.githubusercontent.com/24359/101532388-77895800-3962-11eb-95ce-c36b2e9fdc2b.png)

Very oddly, it happens when we run the matching db query:

[code]

Working from this code which returns the "Name

[2020-12-08 19:37] jywarren commented on #8793
We need to address the unit test failure above, it's intermittent but pretty common- this line of code:

But, when we pass it, we now get to system tests!!!! Many of those fail with:

[code]

[2020-12-08 21:59] jywarren commented on #8793
Wow actually just 4 CSS errors like above, which could be... timing? Not sure...

then here are the remainder of the system tests, which seem odd; a couple "wrong # of arguments" and then the rest to do with ActionCable setup: `No messages sent with...`

[code]

[2020-12-09 01:21] jperk224 commented on #8804
@jywarren I would like to work on this. I've been hunting for `fto-candidate` issues to work on to get more familiar with the repo and been having trouble finding ones that seem to be up for grabs?

[2020-12-09 04:17] jywarren commented on #8793
OK, tried to add redis port to `config/cable.yml`

[2020-12-09 04:28] jywarren commented on #8793
Going to try a stricter usage of chromedriver as in:

[code]

per https://github.com/marketplace/actions/setup-chromedriver?version=v1.0.1

[2020-12-09 08:17] noi5e opened #8810 "System Tests: Comments [Outreachy]"
@jywarren @cesswairimu @sagarpreet-chadha I could use a little guidance on how to write tests for async comment testing. I realized that I don't fully understand what _async_ means in this context.

[This planning Google Doc](https://docs.google.com/document/d/1hOqa4tC0jqEuSaur1zKMtnxnknkARui3HTKqO3AUFMA/edit) mentions it on page 14:

That's talking about this kind of action _(except for the weird

[2020-12-09 12:54] icarito opened #8811 "Emails failing to send due to action mailer error"
### Please describe the problem (or idea)

Trying to trigger email sending causes 500 error.
Sentry reports:
[code]
Possibly the `:authentication` parameter in `production.rb` can't be blank string?

Will attempt hotfix in production by commenting out the `:authentication` line.

[2020-12-09 13:19] #8811 closed

[2020-12-09 13:39] jywarren commented on #8401
That fix looks awesome!!

[2020-12-09 13:41] jywarren commented on #8793
OK, moving into the PR for the remaining issues, to start a little cleaner. Thanks!

[2020-12-09 15:51] jywarren commented on #8810
Yes, this sounds like a good workflow. One thing that may simplify things
(worth trying) is that Capybara, which runs our system tests, automatically
waits a bit until it can find a CSS match for an assertion in a test. So,
if you do the action and then do a CSS assertion, it'll wait until the
action has completed and the page is finished loading/reloading to try the
assertion. I think there's a t

[2020-12-09 17:17] first-timers[bot] opened #8814 "change route to get 'tags/:id' => redirect('/tag/:id')"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-12-09 17:17] jywarren commented on #8814
I'm happy to help with this!!

[2020-12-09 17:23] gauravahlawat81 commented on #8225
@jywarren Any updates on this ? The placeholder is aligned but publish button is still disabled. I checked it at [https://stable.publiclab.org/post](url) ,[https://publiclab.org/post](url) and in my development mode too. Any idea how it can be solved ? Thanks.

[2020-12-09 17:54] jywarren opened #8815 "Tag visualization loading issues, probably related to rate limiting"
The visualization at https://publiclab.org/tags usually shows a graph of interconnected topics to the right side, but it's not loading now. The iframe containing it is pointed at https://publiclab.org/tags/stats/graph?limit=50

I looked at routes.rb and found a similar looking route at: https://publiclab.org/stats/graph

However it's blocked by password, i think because of @icarito's work to prote

[2020-12-09 18:50] icarito commented on #8815
I've made an exception for the password protection of the `/stats` route for `/stats/graph` and now the graph is displaying.

[2020-12-09 18:50] #8815 closed

[2020-12-10 17:46] SudhanshuBlaze commented on #8814
Please let me work with this. I've been wanting to contribute to my first Open source project.

[2020-12-11 11:03] gauravahlawat81 opened #8825 "Wrong Password Label in Login Page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-12-11 13:28] gauravahlawat81 commented on #8825
@jywarren Can you review this issue ?

[2020-12-11 15:07] RuthNjeri commented on #8825
Hi @gauravahlawat81 thanks for opening this up...you might be right, I also think it should only be `Password`

[2020-12-11 15:09] RuthNjeri commented on #8814
Hi @SudhanshuBlaze thanks for choosing to take this up, I have assigned it to you. Feel free to reach out here if you have any questions.

[2020-12-11 15:34] RuthNjeri commented on #8804
Hi, @jperk224 thank you for reaching out. I've assigned the issue to you. Feel free to ask any questions here if you need any clarification

[2020-12-11 16:58] RuthNjeri opened #8828 "All Posts Route"
This is part of the Dashboard implementation https://github.com/publiclab/plots2/issues/8513

It will:
- [ ] Optimize the notes page that will display 'All posts'
- [ ] Write functional and unit tests for the notes page

[2020-12-11 17:08] RuthNjeri opened #8829 "All Posts Design"
This issue is part of https://github.com/publiclab/plots2/issues/8513

It will fix:
- [ ] Implement the design for the 'All Posts' page (/notes)..refer to these [notes](https://github.com/publiclab/plots2/pull/8800#issuecomment-740052184).

[2020-12-11 17:18] RuthNjeri opened #8830 "Implement Mobile Responsiveness on The All Posts Page"
This is part of the Dashboard implementation #8513

It will:
- [ ] Implement/Ensure mobile responsiveness in the 'All Posts' page
- [ ] Implement/Ensure mobile responsiveness in the Research notes section
- [ ] Implement/Ensure mobile responsiveness in the Questions section
- [ ] Implement/Ensure mobile responsiveness in the Wiki pages section
- [ ] Implement/Ensure mobile responsiveness in the  C

[2020-12-11 19:11] RuthNjeri opened #8831 "Create Another Dashboard URL"
This issue is part of #8513

It will fix:

- [ ] Create the new 'Dashboard' URL `/dashboard2`

[2020-12-11 19:15] RuthNjeri opened #8832 "[Outreachy] Implement New Dashboard Design"
This issue is part of #8513

It will fix:

- [ ] Implement the new Dashboard design..refer to these [notes](https://github.com/publiclab/plots2/pull/8800#issuecomment-740052184)

[2020-12-11 19:38] RuthNjeri opened #8833 "Implement Mobile Responsiveness on The Dashboard"
This issue is part of #8513

It will fix:

- [x] Ensure that the dashboard page is mobile responsive by also collapsing the `Follow more topics` sidebar

[2020-12-11 19:46] RuthNjeri opened #8834 "Pin Blog On the Dashboard"
This issue is part of #8513

It will fix:
- [ ] Display the Blog topic pinned at the top of the dashboard topics list
- [ ] Ensure that the Blog topic card does not have an X to dismiss it

[2020-12-11 19:48] RuthNjeri opened #8835 "Blog Update Subscriptions"
This issue is part of #8513

It will fix:

- [x] Allow user to subscribe to blog updates via the blog topic card by email

[2020-12-11 19:51] SudhanshuBlaze commented on #8814
@RuthNjeri thank you for assigning it to me.
Did the changes.
+  get 'tags/:id' => redirect('/tag/:id')

[2020-12-11 19:52] RuthNjeri opened #8837 "Display Topics on The Dashboard"
This issue is part of #8513

It will fix:
- [x] Display a list of topics a user has subscribed to excluding the blog..refer to [this](https://github.com/publiclab/plots2/issues/8513#issuecomment-739520535) for more insight.
- [x] Add a link to the 'All Posts' page on the Dashboard page

[2020-12-11 19:56] RuthNjeri opened #8838 "Implement Typeahead on The Dashboard Topics Search"
This issue is part of #8513

It will fix:

- [ ] Implements a typeahead search on the 'Follow more topics section'

[2020-12-11 19:59] RuthNjeri opened #8839 "Add Admin Features on The Dashboard"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-12-11 20:01] RuthNjeri opened #8840 "Add Location To The Dashboard"
This issue is part of #8513

It will fix:

- [ ] Ensure that the `nearby location` button is displayed once a user enters their location with a button to `view on a map`
- [ ] Ensure that the 'Add location' button is working as expected.

[2020-12-11 20:03] RuthNjeri opened #8841 "Add Trending Topics To The Bottom Of The Dashboard"
This issue is part of #8513

It will fix:

- [x] Add trending topics at the bottom of the page

[2020-12-11 20:04] RuthNjeri opened #8842 "Allow User To Subscribe To New Topics"
This issue is part of #8513

It will fix:

- [ ] Enable a user to add or remove new subscribed to topics using AJAX

[2020-12-11 20:06] RuthNjeri opened #8843 "Replace Old Dashboard With New Dashboard"
This issue is part of #8513

It will fix:
- [ ] Removing the old Dashboard once the new Dashboard has been approved (possible FTO issue)

[2020-12-12 12:37] SudhanshuBlaze commented on #8814
Please review and merge it.

On Fri, 11 Dec 2020, 8:39 pm Ruth, <notifications@github.com> wrote:

[2020-12-13 01:34] jperk224 commented on #8804
Thanks @RuthNjeri !  Can you please confirm which tests I should verify still pass after removing these `answered_questions` references? I see `tag_selection_test.rb`, `tag_test.rb`, and `user_tag_test.rb`.  Is it all or any of them or am I looking in the wrong place?  Thank you.

[2020-12-13 03:45] noi5e commented on #8618
Coming back to this issue just now... I know it may be only tangentially related to the Comment Editor :sweat_smile: (I picked this issue up before I was selected as an Outreachy Intern). Thanks for the thorough and helpful comments as always @jywarren!

It does seem like the fix is best done in the definition for `user_reactions_map` mentioned above: https://github.com/publiclab/plots2/blob/f04bd

[2020-12-13 03:46] noi5e commented on #8618
**Is there a way to filter out users with status:0 from the beginning in this database query?**
https://github.com/publiclab/plots2/blob/f04bd05f08cb8f60a25c22f3fcda5d8a141cf378/app/models/comment.rb#L221

I've tried this query, but it throws an error:
`likes_map = likes.where.not(emoji_type: nil).joins(:user).where.not(status: 0).group_by(&:emoji_type)`

Otherwise, I'll probably do this fix the l

[2020-12-14 12:33] RuthNjeri commented on #8804
Hi @jperk224 I see there's also `tag_controller_test.rb`

[2020-12-14 12:35] RuthNjeri commented on #8814
Hi @SudhanshuBlaze have you linked the issue number on the pull request description? It usually helps in tracking which PR relates to which issue.

[2020-12-14 16:16] SudhanshuBlaze commented on #8814
Done.

On Mon, 14 Dec 2020, 6:05 pm Ruth, <notifications@github.com> wrote:

[2020-12-14 20:11] jywarren commented on #8513
Wow @RuthNjeri just appreciating your breakout-issues and lists with links to each issue! Amazing organizational work here! Much appreciated 🎉

[2020-12-14 22:10] jywarren commented on #8810
perhaps the 2 levels of testing here are:

1. the one you've proposed -- posting a comment and without a page refresh, replying to it
2. trying some other action upon a newly created (by AJAX/JS) comment form - like uploading an image - and ensuring that it appears in the correct box and not in any others

My thought is that it's good to keep in mind that we want to be confirming the "normal" beha

[2020-12-14 22:18] jywarren commented on #8775
Also looking to clarify these:

I couldn't actually find this in https://pad.publiclab.org/p/outreachy - where did it come from? It sounds vaguely familiar... sorry!

Maybe this is a good candidate for the kind of "standard suite of tests" we could automatically run on multiple variants of the comment editor, when we re-organize the test code? I wonder if that would catch it, or perhaps it's just

[2020-12-14 22:32] noi5e commented on #8775
Thanks @jywarren definitely helpful... I think the points you were looking for are in [this Google doc](https://docs.google.com/document/d/1hOqa4tC0jqEuSaur1zKMtnxnknkARui3HTKqO3AUFMA/edit?disco=AAAAKAmatIk)

[2020-12-15 06:12] RuthNjeri commented on #8513
Thanks! @cesswairimu pointed me in the right direction with this 😄

[2020-12-15 16:23] #8814 closed

[2020-12-15 16:34] jywarren opened #8854 "Hide replies to comments that have been spammed or aren't yet moderated"
It looks like replies to comments are not filtered for spam. We should see this message:

“Are you sure? The user will no longer be able to log in or publish, and their content will be hidden except comments.” seems wrong

Example of this happening: https://publiclab.org/notes/bhamster/09-02-2020/public-lab-virtual-event-on-all-things-microplastics

See this reply to a comment:

![image](https://u

[2020-12-15 18:49] noi5e commented on #8854
This seems somewhat in my wheelhouse! I can break it down into sub-issues at a moment when I feel ahead of my work.

[2020-12-16 02:45] jywarren opened #8858 "Turn editor tests back on after getting them to pass (Outreachy related)"
To finish moving off Travis and into GitHub Actions in https://github.com/publiclab/plots2/pull/8795/, I turned off all 4 tests in `/test/system/editor_test.rb`

Here's the commit:

https://github.com/publiclab/plots2/pull/8795/commits/8bbbaf8baa061428b0ae7d221ae5831cff06cd76

We just need to turn them back on and figure out why they aren't passing; here are the errors:

[code]

[2020-12-16 03:43] jywarren opened #8859 "Resolve intermittent test failure at test/unit/node_shared_test.rb"
in followup to #8795, we have an intermittent test failure show below; it seems to be new in GitHub actions CI and wasn't happening in Travis before #8795

[code]

☹️  Restarted it tho!

https://github.com/publiclab/plots2/blob/80648fea3af7075d4834d22a837fa5d5f0aa5ec3/test/unit/node_shared_test.rb#L14-L25

Update: i added some extra assertions higher in this test using `node.has_tag` to try to bet

[2020-12-16 03:43] #8793 closed

[2020-12-16 03:52] jywarren commented on #8858
Hi @Uzay-G - i hope you're well - i've turned off these tests as i couldn't get them to work in Github Actions... do you have any ideas or suggestions as to why we aren't seeing them working? I remember you added them originally. I've moved the file to:

https://github.com/publiclab/plots2/blob/6e0d55f3d4f542a2a28c139abdc9964ec42c0d98/test/system/editor_test.rb#L15-L80

Thank you!

[2020-12-16 13:04] bajajvinamr commented on #8789
Can i be assigned to this?

[2020-12-16 17:29] #8859 closed

[2020-12-16 17:34] jywarren opened #8864 "Many revisions fixtures have nid = 1 and are causing intermittent test failures"
Follow-up to #8862 --

It looks like MANY of the revisions fixtures have nid = 1 -- that must be the underlying problem. I think we have to given them all unique nids, because notes are not supposed to have more than 1 revision! also... they dont have timestamps set so they are probably getting initialized with almost identical timestamps, which could account for the intermittent failures!

https:

[2020-12-16 18:15] jywarren commented on #8789
Hi, if nobody else is currently working on it, we'd love your help! Thank you!

[2020-12-17 03:39] apmarshall opened #8866 "[Security] Credentials Stored in Clear"
### Please describe the problem (or idea)

There appears to be a GitHub app key/secret pair stored in the clear in [/config/application.yml](https://publiclab.org/config/application.yml). They appear to be real, but could be "sample" values. Assuming they are real, they should be protected in some way. For example, using [GitHub Secrets](https://docs.github.com/en/free-pro-team@latest/actions/refe

[2020-12-17 09:12] #8789 closed

[2020-12-17 09:17] #8631 closed

[2020-12-17 16:39] gauravahlawat81 commented on #7675
Hey @ebarry, I might need your help.

[code]
I tried solving this issue using the above regex pattern,and it successfully ignores the starting `/` but doesn't do well when the forward slash is at the end. Refer to the screenshot below.

![First](https://user-images.githubusercontent.com/36696399/102516010-694ee080-40b4-11eb-9960-db8dc67c551c.png)

![Screenshot from 2020-12-17 22-07-48](https://use

[2020-12-17 17:52] gauravahlawat81 commented on #7675
Update

```([^`\w]|^)(?<!\/)\@([\w-]+)\b(?!\/)``` Seems to be working correctly.Can  you please confirm if this regex is correct or not @ebarry ?

[2020-12-17 18:36] #8828 closed

[2020-12-17 21:43] jywarren opened #8868 "Intermittent database failures in MySQL on Github Actions"
probably worth trying to search for this issue in relation to github actions, or maybe in the mysql github action:

[code]

_Originally posted by @jywarren in https://github.com/publiclab/plots2/issues/8860#issuecomment-747706371_

[2020-12-17 21:46] noi5e commented on #8868
Got this error on my most recent PR at #8860:
<img width="1024" alt="Screen-Shot-2020-12-17-at-1 00 05-PM" src="https://user-images.githubusercontent.com/4361605/102547002-5bc23800-406d-11eb-9538-8cdc8c6c3afa.png">

Restarted the tests 3 times and it worked on the third... However it might be concerning because of the high-frequency. @jywarren mentioned that @RuthNjeri may have also run into this

[2020-12-17 22:10] noi5e commented on #8618
Read through some docs, brushed up on my queries, and now I seem to be getting somewhere with this:

`likes_map = likes.joins(:user).select(:emoji_type, :username).where("emoji_type IS NOT NULL AND status = 1").group_by(&:emoji_type)`

I know that really it should be `user.status != 0`, but Rails throws an error on that for some reason.

The full query which needs to retrieve:
- `:emoji_type` and

[2020-12-18 03:16] jywarren commented on #6773
Now on GitPod!

[2020-12-18 03:16] #6773 closed

[2020-12-18 04:54] noi5e commented on #8810
@jywarren Thanks for the pointers earlier this week BTW. I'm working on a test right now for editing a _freshly posted_ comment.

We already have one test for editing an _existing_ comment. This test works manually via JQuery, selecting CSS elements and clicking on them:

[code]

I thought I would go the other route by skipping the manual part, and instead doing a direct POST request to /comment/u

[2020-12-18 10:05] noi5e commented on #8618
Making good progress here:
`likes_map = likes.joins(:user).select(:emoji_type, :username, :status).where("emoji_type IS NOT NULL").where("status IS NOT 0").group_by(&:emoji_type)`

I was getting confused earlier because of slight differences between `.joins` and `.includes` that I was previously unaware of. For example, you can refer to `like.user` on a query made with `.includes`. However with qu

[2020-12-18 13:56] cesswairimu opened #8873 "CI failing on db setup on some PRs"
This is happening for a few PRs alone...I can't find any relation with the PRs affected

**Some of these PRs**

- https://github.com/publiclab/plots2/pull/8869
- https://github.com/publiclab/plots2/pull/8819
-

Full error message here https://github.com/publiclab/plots2/pull/8819/files

Wierd thing this is I created a new PR here https://github.com/publiclab/plots2/pull/8871 with the same changes

[2020-12-18 13:58] #8873 closed

[2020-12-18 14:01] #8829 closed

[2020-12-18 14:06] #8687 closed

[2020-12-18 15:17] gauravahlawat81 commented on #7675
@jywarren Can you confirm this ?

[2020-12-18 16:24] RuthNjeri commented on #8830
I think, for now, the all posts page `/notes` is responsive..
The other pages(/comments, /questions, /wiki) I suspect will require a redesign, I think responsiveness will be handled in each individual page redesign, what do you think @jywarren ?

[2020-12-19 21:42] jywarren commented on #8868
OK, thanks @noi5e i will prioritize this on Tuesday!

[2020-12-19 21:51] jywarren commented on #8868
OK, and clarifying, we're using the built-in MySQL service that comes with the Github Actions containers... here are some resources:

* https://github.com/actions/virtual-environments - the repo for Actions stuff like the mysql service
* https://firefart.at/post/using-mysql-service-with-github-actions/ (includes example for possible switch back to MariaDB)

[2020-12-19 21:53] jywarren commented on #8868
Trying MariaDB here: https://github.com/publiclab/plots2/pull/8874

[2020-12-20 14:23] symrin commented on #8587
@noi5e Can I take the **user_tags.yml** file, and make the change there?

[2020-12-21 00:15] noi5e commented on #8810
I more research on the edit comment flow, logged a lot of variables to the console. Still don't understand why I don't get a page & comment reload when I simulate a POST request to comment#update, instead of manually clicking on buttons.

It's also not that urgent. There is already one update comment test for wikis... Upon thinking about it some more, I think it makes sense that most of the system

[2020-12-21 09:55] jperk224 commented on #8804
I am still planning to look at this/review it.  I haven't had a much time the last few days as I had hoped.  If someone is eager to take this on immediately let me know and it can be reassigned, else I hope to get to it soon!

[2020-12-21 11:13] cesswairimu commented on #8587
Hi @symrin, you can take it up as a trial issue...not sure it will affect the tests. If you are up to so the changes and do the PR and see if the tests will be all good please go ahead. Thanks

[2020-12-21 11:22] cesswairimu commented on #8866
Thanks @apmarshall for opening this, cc @icarito and @jywarren

[2020-12-21 11:53] cesswairimu opened #8877 "Weekly Community Check-In #87 - Everybody Struggles"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-12-21 12:24] #8618 closed

[2020-12-21 13:18] RuthNjeri commented on #8877
Hi @cesswairimu 😄

It's interesting that when I find myself struggling, I easily forget everybody struggles too...a struggle that comes to mind is when I wanted to order the notes on Public Lab according to the most liked and views and couldn't get a working query. I was able to get a lot of help from you (Thank you!) in thinking through it and eventually solving it... It's always a good idea to r

[2020-12-21 15:11] icarito commented on #8866
Hi @apmarshall
Thanks for the heads up. @jywarren and I will look into this.

[2020-12-21 20:11] noi5e commented on #8877
@cesswairimu Thanks for writing this check-in! As an intern, I've struggled a bit (okay a lot) learning some things about Rails, but also web development in general. 😥 I guess it's part of the learning process! It's satisfying when I can find the answer, like figuring out a riddle. It just happened this week for me when I was also writing a query in #8618, so satisfying to figure that out!

Like R

[2020-12-21 20:14] jywarren commented on #8810
Hi, @noi5e -- just a quick response here, sorry i didn't get to this on Friday. A few ideas here, and you may know better than I which is most helpful:

* I believe in some places one needs to follow redirects?
* To get the alert, we need to either refresh the page to get the Ruby-based `flash` version, or to generate it in JS (there are a couple ways). Is https://github.com/publiclab/plots2/blob/

[2020-12-21 20:29] jywarren commented on #8810
OK, with regard to the `flash[:notice]` style alerts, these only get rendered when the page is refreshed - it persists the message to the next page render -- so /after/ the `render` statement, or after a `redirect` statement.

I don't see a way that `sendFormSubmissionAjax` is set up to make a message... hmm. Aha! Ok, so it's triggering an event called  `ajax:success` upon completion; that activat

[2020-12-22 00:46] noi5e commented on #8810
@jywarren I appreciate those clarifications! That's a great tip to debug JS in the browser console. I didn't even think about that but of course it makes sense.

Even though I know to focus more on manual testing, I'll look at this to get a better general understanding of mechanics... I'm sure I'll get more insight. Thanks again.

[2020-12-22 02:39] noi5e commented on #8810
Okay, finally have some insight, making AJAX requests in the browser console was indeed super-helpful.

Here's what my simulated AJAX request looks like when it's received by the Rails console:
[code]

Here's what a typical AJAX request looks like when received via the edit comment form, as normal:
[code]

🤦 GET vs POST! Luckily config/routes.rb can accommodate both GET and POST requests to /comme

[2020-12-22 10:54] sagarpreet-chadha commented on #8877
Hi everyone, I was not much active last week. I will try to catch up with the status in today's Outreachy meeting 😄

[2020-12-22 15:35] first-timers[bot] opened #8883 "Adjust blog entry image spacing"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-12-22 15:36] jywarren commented on #8883
I'm happy to help with this! It should leave things looking less like this (on https://publiclab.org/blog2):

![image](https://user-images.githubusercontent.com/24359/102905722-8fbca500-4441-11eb-89d3-9b78b587b9e7.png)

and more like this:

![image](https://user-images.githubusercontent.com/24359/102905660-7fa4c580-4441-11eb-8b91-d1ec473c3c32.png)

A small change but very nice to have it centered

[2020-12-22 15:47] first-timers[bot] opened #8884 "Convert dropdown items to nav items (tabs) on tag author list pages"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-12-22 15:49] jywarren commented on #8884
I'm happy to help with this one! I noticed that pages like this:

have the tabs all stacked up instead of horizontal: https://publiclab.org/tag/outreachy-2020-winter-proposals/author/ruthnwaiganjo

![image](https://user-images.githubusercontent.com/24359/102906908-4a00dc00-4443-11eb-8881-e50095b69346.png)

It should look like this after this change (although without the blue counts, I believe!):

[2020-12-22 16:47] jywarren commented on #8810
Ah! The token is required for Rails POST routes, i believe, perhaps especially ones sent by JavaScript... i forget exactly how it's tracked but the idea is to prevent random JS scripts from sending such requests outside the scope of a page where they're intended. So perhaps we just aren't triggering any security in the way we're using it right now?

Oof, it looks like that's left over from our att

[2020-12-22 17:26] Sagarpreet commented on #8830
I like the idea 💯

[2020-12-22 18:11] RuthNjeri commented on #8830
Thanks @Sagarpreet! I'll close this issue.

[2020-12-22 18:11] #8830 closed

[2020-12-22 23:07] jywarren commented on #8868
Looks like this may actually have to do with the sassc gem -- https://github.com/ffi/ffi/issues/739

Indeed, our trace is more fully: https://gist.github.com/jywarren/a78bae4dc2af226d3d95d0bda625fb09

noting we're on sassc 2.2.1, not 2.2.0... still...

Seems like this error: https://github.com/sass/sassc-ruby/issues/146#issuecomment-527103083

[2020-12-22 23:20] jywarren commented on #8707
Hi Sebastian! I'm seeing the same issue in GitHub Actions about 80% of runs -- working the issue in https://github.com/publiclab/plots2/issues/8868 and it's linked to the `sassc-ruby` lib in https://github.com/sass/sassc-ruby/issues/146

[2020-12-22 23:29] jywarren commented on #8868
OK - will try these two options before `bundle install`:

* `RUN gem install sassc -- --disable-march-tune-native`
* `bundle config force_ruby_platform true`

[2020-12-23 01:06] jywarren commented on #8868
The solution was `upgrading sassc-ruby to v2.4.0` !!! Awesome #8889

[2020-12-23 01:17] #8868 closed

[2020-12-23 02:51] tirlochanarora16 commented on #8883
Hey, Can I work on this??

[2020-12-23 02:54] tirlochanarora16 commented on #4688
Hey, can I work on this issue?

[2020-12-23 19:49] jywarren opened #8893 "Address test failures in GitPod"
We see a range of errors but nothing we haven't seen already. Maybe some would be solved by #8864?

[code]

_Originally posted by @jywarren in https://github.com/publiclab/plots2/pull/8856#issuecomment-749659409_

[2020-12-23 20:45] jywarren commented on #8893
Let's copy in tests that are still failing... looks like:

* action cable tests (we solved this in GitHub Actions using Redis, and redis is running in GitPod, so maybe just miconfigured?)
* some "wrong number of arguments" familiar from github actions migration in https://github.com/publiclab/plots2/pull/8795
* some "undefined method [] for nil"
* some Username already taken validation errors

Ful

[2020-12-23 23:09] #8831 closed

[2020-12-24 05:13] viraldevpb commented on #8883
I would like to work on this can u please assign it to me?

[2020-12-24 06:28] jatincse commented on #8883
Please assign this task to me,I would like to work on this .

[2020-12-26 04:01] viragz158 commented on #8884
Hi Team,
I would like to work on this.
Thanks

[2020-12-27 05:52] noi5e commented on #8670
I'm researching this bug right now, and I can consistently reproduce it. Here are some instructions for those curious:

Steps to Reproduce Bug
1. Upload an image to the main comment form (at the bottom of page).
2. Open an edit comment form.
3. Upload an image to the edit comment form.
4. The image doesn't end up in edit form (expected behavior). Instead it ends up in the main comment form (actual

[2020-12-27 06:11] OmLakshmi commented on #8767
Can I work on this, if it isn't assigned to anyone

[2020-12-29 07:46] cesswairimu commented on #8877
Keeping this open for this week too, Ruth has offered to open next week's one :tada: ...Thanks everyone and nice week ahead :heart:

[2020-12-29 11:47] RuthNjeri commented on #8877
Thanks @cesswairimu. Happy holidays everyone!

[2020-12-29 15:42] sentry-io[bot] opened #8901 "ArgumentError: no time information in "change_locale" in tag controller"
Sentry Issue: [PLOTS2-T6](https://sentry.io/organizations/publiclab/issues/1802130614/?referrer=github_integration)

[code]

[2020-12-29 16:09] jywarren commented on #8901
https://github.com/publiclab/plots2/blob/cd59bfc8b603a200a739fc4d3b043e24148c2630/app/controllers/tag_controller.rb#L90

[2020-12-29 16:25] jywarren commented on #8901
Args are showing as:

[code]

so that's the problem... The full URL is:

This is malformed. Where's it coming from? It started 3 days ago and is being hit heavily - like, 250x per hour.

Aha, it's a bot - `browser` field is `Python-urllib 3.8`

Hmm. so it seems not a huge issue as it's a malformed URL that we aren't likely offering real users.

[2020-12-29 16:25] jywarren commented on #8901
But we could block it, maybe?

[2020-12-29 16:30] jywarren opened #8902 "Long (52s) load times for rss endpoints - optimization needed"
We're seeing 52 second load times for an RSS endpoint, it's this controller action:

https://github.com/publiclab/plots2/blob/cd59bfc8b603a200a739fc4d3b043e24148c2630/app/controllers/tag_controller.rb#L406-L429

it causes this query, even though it looks totally limited to 20 records:

[code]

![image](https://user-images.githubusercontent.com/24359/103298974-87c4ae00-49c9-11eb-99fc-0cb6778c6f41.p

[2020-12-29 16:35] jywarren commented on #8902
Could it be this?

https://github.com/publiclab/plots2/blob/cd59bfc8b603a200a739fc4d3b043e24148c2630/app/views/tag/rss.rss.builder#L11-L13

Let's try in GitPod to reproduce that query.

[2020-12-29 16:57] jywarren commented on #8902
OK, so this does trigger the query:

[code]

However it's not the full query - it doesn't join in `users` or `user_tags` -- odd! Also doesn't take 52 seconds.

[2020-12-29 17:23] jywarren commented on #8902
I'm wondering if it's something in the template... https://publiclab.org/feed/tag/spectrometry.rss definitely takes a really long time to load, unlike any of the queries tested above. Also, in GitPod, the logs show;

[code]

Aha - ok it's this line:

https://github.com/publiclab/plots2/blob/cd59bfc8b603a200a739fc4d3b043e24148c2630/app/views/tag/rss.rss.builder#L8

[2020-12-29 17:25] jywarren commented on #8902
Aha  it was to remove n+1 queries: https://github.com/publiclab/plots2/pull/8306

However, it then includes a very very large table join. So, i think we should move back to the `n+1` model, cc @Tlazypanda -- what do you think?

[2020-12-29 17:28] jywarren commented on #8902
Reverting the change in https://github.com/publiclab/plots2/pull/8903 and noting in original PR too!

[2020-12-29 17:58] Tlazypanda commented on #8902
Ohh @jywarren let's revert for now :sweat_smile:  and will investigate more to find if there is a more feasible way of doing this :thinking:

[2020-12-29 20:35] #8902 closed

[2020-12-29 23:02] #8884 closed

[2020-12-30 15:40] jywarren commented on #8883
Hi all, apologies for not replying, my notifications are a bit messed up. We'd love help from any of you, please feel free to open a pull request and begin your contribution there, and be sure to link to it from here so we can see it! Thanks!!!

[2020-12-30 15:43] jywarren commented on #8767
Hi @OmLakshmi I'm sorry but @OmLakshmi is already working on this one. If you're interested I can try making a new one for you? Please reach out in the chatroom if you're interested! https://gitter.im/publiclab/publiclab

[2020-12-30 16:54] Manasa2850 commented on #8883
I would like to work on this!

[2020-12-31 06:04] harshdhonchak commented on #8749
Hey , I would like to work on this if its available.

[2020-12-31 06:08] harshdhonchak commented on #8448
Hello! I'm looking for a first time issue, is there anything out there for me?

[2020-12-31 07:34] first-timers[bot] opened #8910 "Change http to https"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-12-31 07:38] cesswairimu commented on #8910
Reserved for @harshdhonchak

[2020-12-31 07:47] first-timers[bot] opened #8911 "Map index change - http to https"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-12-31 07:50] first-timers[bot] opened #8912 "Secure urls in rss builder"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-12-31 07:53] first-timers[bot] opened #8913 "Update tool places urls"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-12-31 08:01] first-timers[bot] opened #8914 "Update tags rss http to https"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-12-31 08:02] first-timers[bot] opened #8915 "Update rss_for_tagged_with_author.rss.builder"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-12-31 08:06] first-timers[bot] opened #8916 "Update http to https on users map"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-12-31 08:17] cesswairimu commented on #8587
All the issues broken out from here have all been solved and merged :tada: :tada:... Thanks a lot everyone and many thanks to @noi5e  for opening this and helping all the new comers :raised_hands: :raised_hands:

I have opened some more ftos for the remaining instances on app/views... and linking back to the main issue [here](https://github.com/publiclab/plots2/issues/6391) for further discussions

[2020-12-31 08:17] #8587 closed

[2020-12-31 08:19] cesswairimu commented on #8448
Hello @harshdhonchak, I have reserved one for you here https://github.com/publiclab/plots2/issues/8910 thanks

[2020-12-31 08:23] #8883 closed

[2020-12-31 08:48] cesswairimu commented on #8825
Thanks you both, yeah its a bug... @gauravahlawat81 would you like to work on this? I am also okay with converting it to a first-timer issue
Looks like this floating label is what causing the prob, removing it may do the trick
https://github.com/publiclab/plots2/blob/b1786ae59fc0e80e2442b2b2ffff6c9595001a94/app/views/user_sessions/_form.html.erb#L35-L34
Thanks again

[2020-12-31 08:56] #8767 closed

[2020-12-31 09:03] cesswairimu commented on #8742
Closing this. @akshitagupta15june please feel free to reach out in the [chat room](https://gitter.im/publiclab/publiclab) if you have any further question . Thanks

[2020-12-31 09:03] #8742 closed

[2020-12-31 09:05] gauravahlawat81 commented on #8825
Yeah @cesswairimu , please convert it into FTO. Thanks !

[2020-12-31 09:23] cesswairimu commented on #8825
Done..thanks

[2020-12-31 09:34] cesswairimu commented on #7683
Hi all, anyone still looking for an issue there are a few new ones here https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3Afirst-timers-only kindly leave a comment saying you are working on the issue before you get started. Thanks everyone

[2020-12-31 12:17] Silby17 commented on #8916
I would like to take on this issue

[2020-12-31 12:47] Manasa2850 commented on #8199
@jywarren I would like to work on this

[2020-12-31 14:21] #8916 closed

[2020-12-31 16:24] EricJB77 commented on #8915
I'd like to work on this one please

[2020-12-31 16:33] gauravahlawat81 commented on #8803
Hey @jywarren , I would like to work on this!

[2020-12-31 16:38] Kaushal-Dhungel commented on #8911
I have submitted a PR for this issue.

[2021-01-01 18:21] musavveer opened #8922 "TEST"
### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resol

[2021-01-01 18:21] #8922 closed

[2021-01-02 19:48] salitaba commented on #8914
I'm contributing this project.

[2021-01-03 06:13] noi5e opened #8926 "Issue: Add Unique HTML IDs to Comment Forms to Fix Image Upload Cross-Wiring Issues"
## `Description`
Creating a fresh issue page for this complex bug that appears in many forms. See #8670 and #8478 for two examples of this bug in action. Also see current PR #8897 (awaiting review) that fixes a small piece of this bug.

Comment editor functions are cross-wired:
- Click on a main comment form, and upload an image.
- Open an edit comment form and upload an image.
- **Expected Behavi

[2021-01-03 21:28] jctan commented on #8912
I'll take up on this issue

[2021-01-03 22:07] jctan commented on #8912
PR has been created! please review

[2021-01-04 13:06] RuthNjeri opened #8931 "Weekly Community Check-In #88 - Tools, Tips, & Tricks"
Hello and Happy New Year! 🎉

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week a

[2021-01-04 13:07] RuthNjeri commented on #8877
This week's check-in https://github.com/publiclab/plots2/issues/8931

[2021-01-04 13:07] #8877 closed

[2021-01-04 14:12] Manasa2850 commented on #6225
@jywarren I would like to try this!

[2021-01-04 14:17] nikolettatheodwrou commented on #8913
hello i would like to take this..it's my first time working on open source software!

[2021-01-04 14:19] nikolettatheodwrou commented on #8913
hello i would like to take this..it's my first time working on open source software!

[2021-01-04 14:49] gauravahlawat81 commented on #8287
Hey @jywarren , you were right. Removing the last `div` did solve this problem. As you mentioned, if the user was not logged in, we were left with an extra div which was causing the issue.

[2021-01-04 15:17] farhanalws4u commented on #8914
could i try this contribute?

[2021-01-04 17:08] gauravahlawat81 commented on #8287
### Sidebar for non logged in users
![Screenshot from 2021-01-04 22-35-46](https://user-images.githubusercontent.com/36696399/103560096-35115780-4edd-11eb-8310-54fdfcc3411e.png)

### Sidebar for logged in users

![Screenshot from 2021-01-04 22-37-37](https://user-images.githubusercontent.com/36696399/103560249-77d32f80-4edd-11eb-86e5-8b7ab5c06601.png)

[2021-01-04 17:09] gauravahlawat81 commented on #8287
Should I create a PR or we will be converting this into FTO ? @cesswairimu what do you think ?

[2021-01-04 20:53] noi5e commented on #8864
Currently working on this, will push changes to the branch in PR #8865

[2021-01-05 02:00] noi5e commented on #8893
Doing some more research on these. Here's the test failing at `test/unit/api/search_service_test.rb:56`:
https://github.com/publiclab/plots2/blob/9c409ec6bee43b95dfe52191cb5069f4199a4524/test/unit/api/search_service_test.rb#L49-L57

If I `puts result` I get:
[code]

This seems like a simple fix, just change the query to "Blog post alias title", or the assertion to expect 2 results. Will make a PR

[2021-01-05 03:26] yasht01 commented on #8913
Hey @nikole24, have you already made a PR?

[2021-01-05 04:03] noi5e commented on #8893
Never mind, I closed my PR. I think the test above fails locally but passes on GitHub CI because locally I'm using SQLite, and CI is using MySQL. The test depends on a query using [Node.search](https://github.com/publiclab/plots2/blob/9c409ec6bee43b95dfe52191cb5069f4199a4524/app/models/node.rb#L26) that probably behaves differently depending on the environment.

I haven't looked yet, but I think t

[2021-01-05 08:43] cesswairimu commented on #8931
Happy new year everyone :tada: :tada:
I use a terminal called terminator,it has this split screen feature that is really great esp for folks using command-line editors, you could have you server running on one side and have your editor on the other.
![Screenshot from 2021-01-05 11-31-38](https://user-images.githubusercontent.com/17081074/103624739-0205ad00-4f4b-11eb-846b-f06de515bc68.png)
 Its als

[2021-01-05 09:46] cesswairimu opened #8937 "Refactor old `error_messages` usage in features forms"
Update the forms in app/views/features/

Errors should instead be in format:

[code]

[2021-01-05 09:47] cesswairimu commented on #4622
Doing a breakdown here
--------------------------------------
 Features template - https://github.com/publiclab/plots2/issues/8937

[2021-01-05 09:52] cesswairimu commented on #8937
Closed in https://github.com/publiclab/plots2/pull/8923

[2021-01-05 09:52] #8937 closed

[2021-01-05 09:54] cesswairimu commented on #8287
@gauravahlawat81  you can go ahead and create a PR for this...thanks

[2021-01-05 10:00] #8912 closed

[2021-01-05 10:04] #8915 closed

[2021-01-05 10:07] #8914 closed

[2021-01-05 10:09] #3429 closed

[2021-01-05 10:09] gauravahlawat81 commented on #8287
@cesswairimu I have created the PR. Thanks !

[2021-01-05 10:14] Uzay-G commented on #8931
I use [neovim](https://neovim.org) as my editor. I find it really nice because it's very lightweight and yet very extendable while running in the terminal.

![image](https://user-images.githubusercontent.com/52892257/103634005-c963d480-4f46-11eb-8b3c-df513558f83d.png)

I'm thinking about getting a better setup for handling my terminal windows as @cesswairimu has, but I haven't worked on it yet.

I

[2021-01-05 15:35] Manasa2850 opened #8940 "Add errorMessage partial in wiki/edit.html.erb"
This issue is a part of #4622. The errorMessage partial has been merged in PR #8923

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first

[2021-01-05 15:37] Manasa2850 commented on #8940
@cesswairimu this issue requires changes to be made to 2 files since changes made to the view work only when changes are made to the controller. Hope that's fine for a first timer issue.
I'd be happy to help anyone who picks up this issue!

[2021-01-05 17:37] jywarren opened #8941 "/tags is (wrongly) alphabetically sorted...? need to better define defaults to see if there are issues"
https://publiclab.org/tags?sort=followers&order=asc doesn't seem to sort by # of uses -

do wiki edits/tags bump these up, or count?

what if we show wiki count?

Possibly related to https://github.com/publiclab/plots2/pull/8935 cc @RuthNjeri

[2021-01-05 17:44] wambugucoder commented on #8940
Hey,I'd love to pick up this issue

[2021-01-05 17:45] wambugucoder commented on #8940
Hey,I'd love to pick up this issue .

[2021-01-05 17:53] jywarren commented on #8941
Aha! i believe its just alphabetic, for all 3 sortings. I bet we added an `order()` twice and the one we want is getting overloaded perhaps.

a second issue may be that it's showing 0 posts for some topics that def. have one note

[2021-01-05 17:56] cesswairimu commented on #8940
Yeah, that looks good @Manasa2850 ,...thanks a bunch for opening this

@wambugucoder we would love your help. Please go ahead. Thanks

[2021-01-05 18:01] Manasa2850 commented on #8940
Awesome @wambugucoder! :smiley: Let me know if you need any help!

[2021-01-05 18:42] Manasa2850 opened #8942 "Add errorMessage partial in editor/question.html.erb"
This issue is a part of #4622. The errorMessage partial has been merged in PR #8923

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first

[2021-01-05 19:05] harshap922 commented on #8942
@Manasa2850 Created a pull request

[2021-01-05 19:23] wambugucoder commented on #8940
Already created a pull request

[2021-01-05 19:47] jywarren commented on #8941
maybe https://github.com/publiclab/plots2/pull/8586 ???

[2021-01-05 20:07] noi5e commented on #8858
It looks like the views at wiki#show and wiki#edit have changed a lot since this test was written. Here's the screenshot from the test:

![failures_test_check_markdown_editor_features_are_functional](https://user-images.githubusercontent.com/4361605/103693587-637b4b00-4f4e-11eb-8ead-94def7fdba09.png)

The pencil's selector is now `#edit-btn`, not `a[data-original-title='Edit this wiki page.']`.

[2021-01-05 20:27] jywarren commented on #8941
Yes, looks like @akp2603's changes may be related? @cesswairimu would you mind checking this out?

noting that https://publiclab.org/tags?sort=uses&order=desc seems to work fine!

[2021-01-05 20:28] jywarren commented on #8941
Aha! https://publiclab.org/tags?sort=followers&order=desc works! But the link is to https://publiclab.org/tags?sort=followers&order=asc -- `desc` vs `asc`!!! So let's have the default go to `desc` instead?

[2021-01-05 20:33] jywarren commented on #8941
https://publiclab.org/tags?sort=name&order=asc - is what's shown when viewing https://publiclab.org/tags --

and, default view at https://publiclab.org/tags should be sorting by `desc` uses, i believe? Or is it most recently used? @publiclab/community-reps do you remember? Thanks, all!

[2021-01-05 20:35] jywarren commented on #8941
Aha, linking to https://github.com/publiclab/plots2/issues/7758 !

[2021-01-05 20:35] jywarren commented on #7758
Noting there may be some follow-up on defaults being discussed here! https://github.com/publiclab/plots2/issues/8941

Thanks, all!

[2021-01-05 20:36] jywarren commented on #8941
I think the next step may be to make a little table of all the defaults in each state...

[2021-01-05 20:40] ebarry commented on #8941
this would be really great documentation to have on hand!
--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Tue, Jan 5, 2021 at 3:36 PM Jeffrey Warren <notifications@github.com>
wrote:

[2021-01-05 20:44] jywarren opened #8945 "Post not appearing on tag cards"
https://publiclab.org/tag/classroom-community-science shows 1 note, but https://publiclab.org/tags shows none:

![image](https://user-images.githubusercontent.com/24359/103696493-71d85f80-4f6c-11eb-8a03-156a692c2278.png)

[2021-01-05 20:45] jywarren commented on #8945
It shows up on the mini tag card here on the note page itself, in the sidebar:

![image](https://user-images.githubusercontent.com/24359/103696879-178bce80-4f6d-11eb-840f-d07779adb95e.png)

Could it be a caching issue?

[2021-01-05 20:52] jywarren commented on #8945
Solving the incorrect count in #8946, but we still need to get the post to appear in the card...

[2021-01-05 20:56] jywarren commented on #8945
Aha, never mind - it's not appearing because it was already shown higher on the page. cc @ebarry and @RuthNjeri  that we're correcting the count here but that the post not appearing in a listing is because we prevent posts from appearing twice on a page using this line of code:

https://github.com/publiclab/plots2/blob/71a25ec28bf6c75ad20e101f478cefca7b4354e4/app/views/tag/_topicCard.html.erb#L15-

[2021-01-05 21:32] ebarry commented on #7675
I wish i could confirm either way but i'm not familiar with regex, sorry for my delayed response, and THANK YOU for working on this!

[2021-01-05 21:54] jywarren commented on #7675
Works perfectly! https://rubular.com/r/jfKfgjdqi00qy4

![image](https://user-images.githubusercontent.com/24359/103704067-a4875580-4f76-11eb-81ae-51ab06863ecb.png)

This can now be inserted at `constants.rb` -- it'd make a good first-timers-only issue too!

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.pu

[2021-01-05 21:57] ebarry commented on #7675
Thanks for reviewing this @jywarren! Thank you Gaurav Ahlawat for doing
this!
--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Tue, Jan 5, 2021 at 4:55 PM Jeffrey Warren <notifications@github.com>
wrote:

[2021-01-06 01:12] noi5e commented on #8931
Wow, really impressed that @cesswairimu and @Uzay-G use command-line editors, I've always been intimidated by those... That's inspiring me to learn.

I use VSCode like @RuthNjeri, and I like it a lot! It's interfacing with Git is really useful... I can click a button to stage/unstage changes, and handle merge conflicts in the editor. I think it saves a lot of time vs typing in the command line.

<

[2021-01-06 07:07] gauravahlawat81 commented on #7675
@ebarry Could you please convert it into FTO, so that others can solve it ? Thank!

[2021-01-06 07:48] cesswairimu commented on #7675
great job @gauravahlawat81 I can do that for you...or maybe you would like to try and convert this yourself?...I am happy to help where stuck..what do you think?

[2021-01-06 07:50] gauravahlawat81 commented on #7675
Yeah sure, I would like to convert it by myself. How do I do that ?

[2021-01-06 07:50] gauravahlawat81 commented on #7675
Should I create a new issue or edit this one ?

[2021-01-06 07:54] cesswairimu commented on #7675
Great :tada:, yeah  creating a new one would be simpler, when you click on new issue here https://github.com/publiclab/plots2/issues/new/choose select the `First timer Only Issue` and it will prefill a template...after this line where you have ``**Update** the file [$FILENAME]($BRANCH_URL) in the `$REPO` repository (press the little pen Icon) and edit the line as shown below.`` indicate the file t

[2021-01-06 07:55] gauravahlawat81 commented on #7675
Alright, thanks @cesswairimu , I will give it a try!

[2021-01-06 08:00] #8940 closed

[2021-01-06 08:08] gauravahlawat81 commented on #7675
@cesswairimu How do I generate the diff ?

[2021-01-06 08:21] cesswairimu commented on #7675
Not sure if there is another way of doing it...the way I do it is using the first-timer-bot
So with this approach what you do is navigate to the file that you want to edit in this case I believe is  https://github.com/publiclab/plots2/blob/main/config/initializers/constants.rb and click on the edit button(pencil icon), make the changes that are needed, then the text-box below this `Create a new br

[2021-01-06 08:29] #8287 closed

[2021-01-06 08:32] gauravahlawat81 opened #8947 "External links containing an `@` at symbol currently parse as public lab usernames"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-06 08:33] gauravahlawat81 commented on #7675
I have created the issue, though I had to use a different approach. Please see if everything is fine there, and if something needs to be changed, do let me know.

[2021-01-06 08:37] cesswairimu commented on #7675
The issue is perfect..thanks again

[2021-01-06 09:02] cesswairimu commented on #8941
Yeah sure thing, will take a look

[2021-01-06 09:18] frappelatte28 opened #8948 ""Scroll back to top button" should not be there when we already are on top."
### Please show us where to look
![PublicLab_issue1](https://user-images.githubusercontent.com/64382399/103751359-2b4b3980-502e-11eb-8354-1eba62fa7a40.png)

### What's your PublicLab.org username?

pjilowa

### Browser, version, and operating system

Google Version 87.0.4280.88 (Official Build) (64-bit)

****

[2021-01-06 09:26] cesswairimu commented on #8942
@harshap922 kindly link this issue on your PR. thanks

[2021-01-06 09:30] cesswairimu commented on #8910
Hi @harshdhonchak, are you still working on this? if not, kindly let us know so we can free this up for other contributors. Thanks

[2021-01-06 09:40] harshdhonchak commented on #8910
On Wed, 6 Jan 2021 at 3:01 PM, Cess <notifications@github.com> wrote:

Yeah i am working on this issue and will soon make a pull request .
Thanks

[2021-01-06 10:01] cesswairimu opened #8949 "Inconstitent test failures with different databases"
We have  a bunch of failures that happen in dev mode when using sqlite3. This is a planning issue to slowly rewrite these so they can pass on both databases. There was this conversation about the same a while back  [here](https://github.com/publiclab/plots2/issues/2712)
  I will also link a couple of discussions related to these... here is one this about [defaulting to one DBMS](https://github.com

[2021-01-06 10:01] frappelatte28 commented on #8947
I want to work on this issue. This would be my first contribution to Public lab.

Can I start working on this issue? @gauravahlawat81 @cesswairimu

[2021-01-06 10:06] cesswairimu opened #8950 "Welcome Bot Updates"
### Welcome Bot Updates

- Maybe remove the part where we ask folks for their twitter handle `It would be great if you can tell us your Twitter handle so we can thank you properly `? since we don't do this anymore

- Add a link to weekly community communication issue by Benjamin  where we have   `Please find the link pinned in the issue section`?
- Maybe also include the link to the gitter channel

[2021-01-06 10:25] cesswairimu commented on #8947
We would love your help @frappelatte28 , go ahead. Thanks

[2021-01-06 11:16] Sagarpreet commented on #8931
Hey @RuthNjeri , @cesswairimu , @noi5e (and everyone 😄 )
Happy new year 🎉
Can you ping the PR's that you are working on or are up for review here? My notifications are messed up right now. Thanks 💯

[2021-01-06 11:31] frappelatte28 commented on #8948
Can I raise a PR on this issue? @gauravahlawat81

[2021-01-06 11:57] cesswairimu commented on #8941
So based on the code we have 3 ways of sorting i.e _uses_, _followers_ and _names_ and based on each selected we don't check the number of uses (unless sort=uses) so even https://publiclab.org/tags?sort=name&order=desc doesn't order according to the number uses
what do you think @jywarren should we change that to also order by the number uses for _followers_ and _names_ ? if so, do we also keep th

[2021-01-06 12:00] gauravahlawat81 commented on #8948
Hey @frappelatte28 , thanks for looking into this, great spot! But I am also a newbie like you in PublicLab community, so you will have to ask @cesswairimu for this. He will be able to guide you in a better way. Cheers and welcome to Public Lab.

[2021-01-06 12:05] frappelatte28 commented on #8948
Thanks @gauravahlawat81:-)

[2021-01-06 12:29] cesswairimu commented on #8948
hey @frappelatte28, yeah this an issue and we would love your help...we already an issue and some discussions going on here https://github.com/publiclab/plots2/issues/7454 also there was an attempt to fix that didn't work [here](https://github.com/publiclab/plots2/pull/6944) that might be helpful..feel free to get started on it

Thanks you both :heart:

[2021-01-06 14:17] #8199 closed

[2021-01-06 19:39] RuthNjeri opened #8953 "Resolve Odd Line Folding"
This issue is part of #8513

It will fix:

- [ ] Ensure that the topic cards are aligned to resolve odd line folding..refer to this for more information.

[2021-01-06 19:41] RuthNjeri opened #8954 "Display Welcome Text For New User on Dashboard"
This issue is part of #8513

It will fix:

- [ ] Display Welcome text and suggestion for a new user on the Dashboard

[2021-01-06 19:44] RuthNjeri opened #8955 "Follow/Unfollow a Topic Asynchronously"
This issue is part of #8513

It will fix:

- [ ] Follow a Topic asynchronously on the dashboard page

[2021-01-06 19:53] RuthNjeri opened #8956 "Add Featured Topics On The Dashboard"
This issue is part of #8513

It will fix:

- [ ] Add featured topics at the bottom of the page and at the Follow More Topics Section.

[2021-01-06 19:54] RuthNjeri opened #8957 "Remove Already Subscribed Topics in The Trending Section"
This issue is part of #8513

It will fix:

- [x] Removing already subscribed topics in the trending section

[2021-01-06 23:31] Rekiahhinton commented on #8947
Hi! I want to work on this issue as well if I am needed. This would be my first contribution to open source @cesswairimu @gauravahlawat81

[2021-01-06 23:32] Rekiahhinton commented on #8947
Hi! Have you opened a pull request or are you stuck on something? Perhaps I can help you if you need it, thanks!

[2021-01-07 04:23] Manasa2850 opened #8959 "Add errorMessage partial in user_sessions/_form.html.erb"
This issue is a part of #4622. The errorMessage partial has been merged in PR #8923

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first

[2021-01-07 04:25] Manasa2850 commented on #8947
@Rekiahhinton I've made another first timers issue #8959. You can work on that!
Welcome to PublicLab :tada:

[2021-01-07 08:02] cesswairimu commented on #8941
The 'count' used  is the count value of that tag as in the db

[2021-01-07 09:44] first-timers[bot] opened #8961 "Update installation docs on db choice"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-07 11:58] TharindaDilshan commented on #8961
Hi, I'd like to work on this.

[2021-01-07 12:29] RuthNjeri opened #8964 "Remove Empty Topics From The Dashboard (Outreachy)"
This is part of https://github.com/publiclab/plots2/issues/8513
Refer to https://github.com/publiclab/plots2/pull/8935#issuecomment-754906297

That will remove empty topics from the dashboard.

[2021-01-07 12:31] RuthNjeri opened #8965 "Ensure Follow Text at The Top and Bottom of The Page Links to /subscriptions"
This is part of #8513

Ensure Follow Text at the top and  bottom of the page links to /subscriptions

Add mobile responsiveness to the section

[2021-01-07 12:32] TharindaDilshan commented on #8961
Please review and merge

[2021-01-07 12:37] RuthNjeri opened #8966 "[Outreachy] Bump up dashboard topics on activity (notes, wikis, comments)"
This is Part of https://github.com/publiclab/plots2/issues/8513

When a wiki is added or edited or when a comment is added bump up the topic card. Only display the name of the wiki in the list and not any kind of individual edit tracking.

Refer To https://github.com/publiclab/plots2/pull/8935#issuecomment-755508002

Look into re-using @activity from the previous dashboard method

[2021-01-07 12:44] RuthNjeri opened #8967 "Ways To Integrate a Bit More Imagery On The Dashboard"
This is Part of #8513

Refer To https://github.com/publiclab/plots2/pull/8935#issuecomment-755508002

Ways to integrate a bit more imagery on the new dashboard

[2021-01-07 16:32] RuthNjeri opened #8970 "Remove Overlap Between The RSS Icon and The Sort Button"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-07 18:54] Iulia-H commented on #8970
I'd like to take the issue.

[2021-01-07 19:00] Manasa2850 commented on #3703
@jywarren @cesswairimu I would like to work on this!

[2021-01-07 19:10] cesswairimu commented on #3703
Great 🎉 please go ahead. Thanks

[2021-01-07 23:23] gucci-ninja commented on #8959
Hi! Can I take on this one? It's my first time contributing to an open source project :open_mouth:

[2021-01-08 01:13] gucci-ninja commented on #8959
I worked on it for a little bit and some tests are failing. Lots of `undefined method 'errors' for nil:NilClass` errors. I also couldn't find a `@user_session` defined in the controller so that might be causing it. Can I get some help?

[2021-01-08 05:11] coder645 commented on #8959
Could we close this issue for now and reopen once the corresponding PRs are merged?
Sorry @Manasa2850 and @gucci-ninja for not mentioning this earlier.
Cheers!

[2021-01-08 07:27] Manasa2850 commented on #8959
Okay @coder645 I'm closing this now. Thanks!

[2021-01-08 07:27] #8959 closed

[2021-01-08 07:51] first-timers[bot] opened #8974 "Align div in error message template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-08 08:07] #8961 closed

[2021-01-08 08:11] first-timers[bot] opened #8975 "Grammar fixes on Readme"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-08 08:17] cesswairimu commented on #7675
FTO link https://github.com/publiclab/plots2/issues/8947

[2021-01-08 08:47] cesswairimu commented on #8959
Hi @gucci-ninja, there are these new ftos https://github.com/publiclab/plots2/issues/8974 and https://github.com/publiclab/plots2/issues/8975 if you are still looking for another fto. Thanks

[2021-01-08 09:00] #8947 closed

[2021-01-08 09:49] cesswairimu commented on #8913
Hey @yasht01, there a couple of new first-timer-issues available if you are still looking for one. Thanks

[2021-01-08 09:50] #8913 closed

[2021-01-08 09:58] cesswairimu commented on #7675
Fixed in https://github.com/publiclab/plots2/pull/8972 Thanks everyone

[2021-01-08 09:58] #7675 closed

[2021-01-08 10:12] EricJB77 commented on #8974
Can I take this one?

[2021-01-08 11:12] gauravahlawat81 commented on #8974
Yeah please go ahead @EricJB77

[2021-01-08 12:03] nikole24 commented on #8913
thanks for this first issue, it was really helpful for starting!:)

[2021-01-08 12:27] slaterp commented on #8975
Hello, I am interested in getting involved in open source and have not contributed to a project before, could I claim this?

[2021-01-08 13:15] coder645 commented on #8975
Hey dude @slaterp it's completely chill. You can go ahead and contribute to this.
Cheers!

[2021-01-08 13:18] coder645 commented on #8974
@gauravahlawat81 please note that this issue is only for first timers.
@EricJB77 since you've already got a PR merged you can go ahead and work on any of the `help wanted` issues. But not first timer ones please. Let's reserve them for the newcomers :slightly_smiling_face:
Cheers!

[2021-01-08 13:24] gauravahlawat81 commented on #8974
Oh I didn't know that he had already got a PR merged, thanks for bringing it into my notice @coder645

Sorry for the confusion @EricJB77

[2021-01-08 13:26] coder645 commented on #8974
@gauravahlawat81 no worries bud!
But please check before confirming to folks. Cheers!

[2021-01-08 13:27] gauravahlawat81 commented on #8974
Yup, surely I will keep it in mind, thanks! :100:

[2021-01-08 14:22] frappelatte28 opened #8977 "Contact us section displays at both center and footer"
### Please describe the problem (or idea)
Average users tend to look for social media links in the footer as compared to anywhere else. We might not need two sections containing social media links. If I am going in the right direction I guess we can delete one section that is in the center.

### What's your PublicLab.org username?
pjilowa

![public_lab2](https://user-images.githubusercontent.com/6

[2021-01-08 14:25] frappelatte28 commented on #8977
What do you think @cesswairimu Should we remove one section that is in the center or do we need both of them.

[2021-01-08 15:28] ebarry commented on #7675
Thank you all!
Very neat workflow
--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Fri, Jan 8, 2021 at 4:59 AM Cess <notifications@github.com> wrote:

[2021-01-08 16:28] gauravahlawat81 commented on #8566
I would like to work on this issue if it's not assigned to someone else. CC: @jywarren

[2021-01-08 18:36] EricJB77 commented on #8974
Oh ok. I was thinking I could do another one just to get the process down but no worries. I'll check the ones marked help wanted instead. Thanks for the quick  response and sorry for the confusion

[2021-01-08 18:46] cesswairimu commented on #8977
I will let @ebarry chime in here...thanks @frappelatte28 for opening this

[2021-01-08 20:22] gucci-ninja commented on #8974
Hey can I try this one?

[2021-01-08 21:32] #8832 closed

[2021-01-08 21:37] taylorrobertss commented on #8975
Can I make any contributions to this?

[2021-01-08 22:25] #8670 closed

[2021-01-08 22:31] jywarren commented on #8941
Yes, i agree the sort by name should be default `a-z` so `asc` -- good call. But the default for `uses` and `followers` should be `desc`, AND the default state of `/tags` (with no params) should be `uses` `desc`. Does that make sense?

Thanks, @cesswairimu !!!

[2021-01-08 22:36] #8945 closed

[2021-01-08 22:47] jywarren commented on #8177
I thought these would now be resolved in GitPod due to #8856, but /people is still showing:

[code]

[2021-01-08 22:48] jywarren commented on #8893
Also noting issues in #8177 are still present... odd...

[2021-01-08 23:26] jywarren commented on #8513
Hi @RuthNjeri just noting that @noi5e wrote up some thoughts on system vs. unit testing here: https://publiclab.org/notes/noi5e/01-08-2021/everybody-struggles-outreachy-public-lab-internship-blog-1 which I appreciated and added to! It might be a good thing to keep in mind as you continue building out the dashboard. For example, what are overall, integrated behaviors we could write system tests for

[2021-01-08 23:35] jywarren commented on #8177
I tried following @icarito's suggestion for `TRADITIONAL` or `NO_AUTO_CREATE_USER,STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION` above, but the line we've figure out how to change GitPod values with only splices out `ONLY_FULL_GROUP_BY` rather than sets the full value:

[code]

So that didn't work -- so i tried setting the full string but I got `Variable 'sql_mode' can't be set to the value of 'NO_AU

[2021-01-08 23:56] jywarren commented on #8177
Otherwise we can make a new attempt to turn off grouping in development mode, or just in GitPod maybe... following the example in https://github.com/publiclab/plots2/pull/8499/files but with our new `pagy` pagination...

ok that didn't work -- https://github.com/publiclab/plots2/pull/8979

[2021-01-09 08:45] RuthNjeri commented on #8513
Thanks @jywarren 😄
I'll definitely have a look at it.

[2021-01-09 15:41] Uzay-G commented on #8513
Hmm, that's pretty cool - I didn't know you could do that in Rails.

[2021-01-09 19:03] noi5e commented on #8513
@jywarren Hahaha!!! Oh boy, I love testing 😂 😂 😂 . Jokes aside though, that is actually pretty cool that they pulled off unit testing for views.

[2021-01-09 20:47] #8975 closed

[2021-01-09 21:00] cesswairimu commented on #8941
yeah makes sense :+1:

[2021-01-09 22:34] YuvalOS commented on #8974
Hi, can I claim this issue?

[2021-01-10 02:34] pratheekcr commented on #8975
Hi, can I make any contributions to this ticket, please? I am first timer as well.

[2021-01-10 03:43] noi5e commented on #8975
Hi @taylorrobertss and @pratheekcr it looks like this particular issue was merged by @slaterp.

There may be more grammar fixes that need to be done in [README.md](https://github.com/publiclab/plots2/blob/main/README.md), I recommend you take a look and make a new issue if you see anything!

You can also see issues that are reserved for first-timers [here](https://github.com/publiclab/plots2/label

[2021-01-10 04:01] vishnu-muthuswamy commented on #8910
Hi! Has @harshdhonchak made a pull request yet for this issue? I am willing to help, if it is needed. I hope to be a first time contributor as well!

[2021-01-10 06:02] cesswairimu commented on #8974
@gucci-ninja please go ahead, ... @YuvalOS will ping you when another first-timer issue is available. Thanks all

[2021-01-10 06:06] cesswairimu commented on #8825
@YuvalOS could you maybe like to work on this?

[2021-01-10 11:06] YuvalOS commented on #8825
yes please :)

[2021-01-10 11:09] cesswairimu commented on #8825
Go ahead, thanks

[2021-01-10 12:59] Manasa2850 commented on #3703
@jywarren @cesswairimu I'm not quite sure what needs to be done here. The profile displays the number of `Followers` and `Following`. Clicking on that gives the list of people who are followers/following.
![temp](https://user-images.githubusercontent.com/43354059/104123521-ab94d600-5371-11eb-80ca-507046ff58d0.png)

Could you please let me know what exactly I need to do?
Thanks in advance!

[2021-01-10 13:14] Manasa2850 opened #8984 "Search by place name not working in the Add Location popup"
### Please describe the problem (or idea)
Clicking on `Add a Location` gives a popup. One of the options there is `Search by place name`. This doesn't seem to be working.

![temp](https://user-images.githubusercontent.com/43354059/104123885-9751d880-5373-11eb-9c40-32506c837911.png)

### Browser, version, and operating system
Firefox, Ubuntu 16.04

****

## Thank you!

Your help makes Public Lab be

[2021-01-10 13:15] Manasa2850 commented on #8984
@jywarren @cesswairimu any idea why this might be happening?
Thanks!

[2021-01-10 16:41] gauravahlawat81 commented on #8566
@jywarren When we  click `Add location` on dashboard, the location doesn't get saved, but when we go on the profile page and the location isn't added yet, `Share your Location` will prompt you to add the location first,after adding location, it indeed saves the location. This seems weird and I will be looking into this deeply!

[2021-01-10 16:59] YuvalOS commented on #8825
Well I am bit stuck.. how do I start? I tried to open either  $FILENAME or plots2/app/views/user_sessions/_form.html.erb mentioned above.
$FILENAME just take me to the main repository with no issues opened, and I also can't edit the **_form.html.erb**  - in the instructions it says: ( _press the little pen Icon_ ) but when I try to press it highlighted: "you must be on a brunch to make or propose

[2021-01-10 17:00] gauravahlawat81 commented on #8825
Hey @YuvalOS did you fork the plots2 repo and setup your development environment ?

[2021-01-10 17:23] cesswairimu commented on #8825
Or maybe you could try editing from your fork https://www.github.com/YuvalOS/plots2/tree/main/app%2Fviews%2Fuser_sessions%2F_form.html.erb

[2021-01-10 19:14] YuvalOS commented on #8825
Actually I haven't forked yet.
@cesswairimu how come I see this fork? I didn't did it myself

[2021-01-10 19:19] YuvalOS commented on #8825
And regarding fixing the issue -
Do I just need to removed the marked line (line 35)?
or replace it with another one?

[2021-01-10 19:22] khanshadan commented on #8974
Hey, would really appreciate it anyone let's me claim this issue.

[2021-01-10 19:35] cesswairimu commented on #8825
Yes just removing it. Thanks

[2021-01-10 20:28] YuvalOS commented on #8825
Hi @cesswairimu, I've just committed. Did I do it right?
Next time I want to edit code via development environment. Do you have guys a link to a guide which explain how to setup one?

[2021-01-10 21:00] gucci-ninja commented on #8974
@cesswairimu should I make the PR to the main branch?

[2021-01-11 07:51] #8974 closed

[2021-01-11 08:10] cesswairimu commented on #8975
@coder645 polite reminder to kindly refrain from using gender identifying names unless you know the preferred pronouns of the contributor so that we can keep being welcoming and respectful...I've edited your comment a bit ...Thanks a lot for all the amazing work you are doing, highly appreciated  :heart:.

[2021-01-11 11:12] Manasa2850 commented on #8566
@jywarren clicking on the `Share your Location` button in the profile page does not do anything. (4th item in your checklist)
I would like to take this up and try to fix it.

[2021-01-11 11:21] coder645 commented on #8566
@Manasa2850 sure go ahead! Good luck!

[2021-01-11 11:25] gauravahlawat81 commented on #8566
Hey @Manasa2850 , thanks for the help, I have already started working on this and I would love to collaborate! :+1:

[2021-01-11 11:27] Manasa2850 commented on #8566
Awesome @gauravahlawat81! I just saw your PR regarding saving the location.
Could I work on enabling the `Share your Location` button from the profile page?

[2021-01-11 11:28] coder645 commented on #8566
Sure @Manasa2850 please go ahead and take that up!
Cheers!

[2021-01-11 11:29] Manasa2850 commented on #8566
Thanks @coder645. I'll start working on it then!

[2021-01-11 11:34] gauravahlawat81 commented on #8566
Sure no problem, I am currently working on displaying `Nearby Activity` button if the location exists!

[2021-01-11 12:25] mohitdmak commented on #8957
Is this issue resolved or available?

[2021-01-11 13:14] Manasa2850 commented on #8984
![temp](https://user-images.githubusercontent.com/43354059/104186803-f4659100-543c-11eb-819c-fae24ad03dce.gif)

[2021-01-11 13:57] RuthNjeri commented on #8513
Hi @jywarren 😄

I finally read Will's (@noi5e) blog which was amazing! I definitely learnt a thing or two about system tests..
I've read the blog on ViewComponent. I do think that having view components would be a great thing to have in improving reusability with the views.... I am not sure if I am sold on unit testing the views yet 😅 ... I used RSpec a while back and when they discontinued contro

[2021-01-11 14:19] gauravahlawat81 commented on #8566
@Manasa2850 could you please help me with writing tests for the code that I have written till now ? It seems to me that you are very well versed with writing tests! :smile:

[2021-01-11 14:24] gauravahlawat81 commented on #8566
We can work together on this and I will get to learn a lot from you, I believe! :nerd_face:

[2021-01-11 15:53] coder645 commented on #8566
@gauravahlawat81 I can help you with that mate!

[2021-01-11 16:03] gauravahlawat81 commented on #8566
Thanks @coder645 !

[2021-01-11 16:05] Manasa2850 commented on #8566
Sure @gauravahlawat81. I'm not an expert in this too but I'll definitely try to help!

[2021-01-11 16:10] gauravahlawat81 commented on #8566
@Manasa2850 Couldn't find you on gitter, what's your username there ?

[2021-01-11 16:15] coder645 commented on #8566
@gauravahlawat81 please be respectful of others.
Not everyone who contributes here is there on Gitter.

[2021-01-11 16:41] RuthNjeri opened #8992 "Add Number of Wikis to The Topic Card"
This is Part of #8513

Add the number of wikis to the topic card

Refer To #8935 (comment)

[2021-01-11 17:04] coder645 commented on #8566
@cesswairimu could we have some sort of mechanism / code of conduct to ensure people (here @gauravahlawat81 and maybe some other time myself) don't make disrespectful comments and then delete it?
Cheers!

[2021-01-11 17:12] cesswairimu commented on #8566
We do have a code of conduct, you can find it in the documentation... thanks

[2021-01-11 17:15] coder645 commented on #8566
@gauravahlawat81 I suggest that you take a look at that and not make disrespectful comments from next time onwards.
Cheers!

Thanks @cesswairimu :+1:

[2021-01-11 19:24] sagarpreet-chadha commented on #8984
Hey @Manasa2850 , thanks for reporting this 😄
It seems like issue with google autocomplete and geocode api.
Can you update the issue description by adding screenshot of browser console? Thanks 💯

[2021-01-11 20:17] #8926 closed

[2021-01-12 05:29] noi5e commented on #8478
Starting to work on this one! Just made a PR to add unique IDs to the toolbar buttons. After that, I think it will be a very similar fix to the image upload cross-wiring issues (linked above in this issue)

[2021-01-12 09:07] cesswairimu commented on #8931
Hey all :wave:  lets keep this great theme for another week to give other folks time to share their tools.

A big welcome to new contributors
  @gucci-ninja, @slaterp,  @nikole24, @frappelatte28, @TharindaDilshan, @Manasa2850, @gauravahlawat81, @wambugucoder, @salitaba, @EricJB77, @jctan :tada:  linking them to our current check-in ( we do check-ins each week ,its a place to say hi, ask for help i

[2021-01-12 09:19] cesswairimu commented on #8566
Great collaboration here @Manasa2850 @gauravahlawat81  :tada: :tada:

[2021-01-12 15:16] RuthNjeri opened #8997 "Update Posts Count and Ensure that The Topic Cards Do Not Double Display Notes"
This issue is part of #8513

It will fix:

Ensure that the Topic Cards do not double display notes by using shown_nids in the TopicCard view
Replace Tag.count with the method that calculated the total number of notes in a post see #8946

[2021-01-12 15:33] RuthNjeri commented on #8834
Implemented in https://github.com/publiclab/plots2/pull/8935

[2021-01-12 15:33] #8834 closed

[2021-01-12 15:34] jywarren commented on #8931
Wow, color-coding brackets is really useful @RuthNjeri!

Hmm, well i use vim, i guess i like it because i can use it to edit files on remote servers and my fingers know a consistent set of commands...

I have gradually added color coding and such to help me see things, i keep my vim color settings (and other settings) here: https://github.com/jywarren/init

and it has this embarrassingly named vim

[2021-01-12 15:34] RuthNjeri commented on #8833
Implemented in https://github.com/publiclab/plots2/pull/8935

[2021-01-12 15:34] #8833 closed

[2021-01-12 15:35] RuthNjeri commented on #8835
Implemented in https://github.com/publiclab/plots2/pull/8935

[2021-01-12 15:35] #8835 closed

[2021-01-12 15:37] RuthNjeri commented on #8837
Implemented in https://github.com/publiclab/plots2/pull/8935

[2021-01-12 15:37] #8837 closed

[2021-01-12 15:37] RuthNjeri commented on #8841
Implemented in https://github.com/publiclab/plots2/pull/8935

[2021-01-12 15:37] #8841 closed

[2021-01-12 15:42] #8953 closed

[2021-01-12 15:43] jywarren commented on #8513
Ah, we've never migrated to RSpec but that's really interesting to hear -- thanks for the link!

[2021-01-12 15:48] jywarren commented on #8513
Actually we've often had problems with functional tests (of our controllers) missing problems with routes. System tests has helped plug this hole, but they are resource intensive. We instead tried to write simple integration tests for all major pages - https://github.com/publiclab/plots2/blob/main/test/integration/public_pages_test.rb

https://relishapp.com/rspec/rspec-rails/docs/request-specs/req

[2021-01-12 15:51] jywarren commented on #8810
I think we're actually pretty good here, what do you think @noi5e? What other system tests are you planning to add, if any? Thank you!

[2021-01-12 15:59] RuthNjeri commented on #8513
The way I see it, with system tests being resource-intensive, we end up being specific on what to include as the system test unless we have a separate repo dedicated to QA 😅  . With the specificity in mind, the integration tests will fill in the gaps to 'atleast' test what system tests have not covered...

[2021-01-12 16:25] jywarren commented on #8177
Another option is to switch to MariaDB in GitPod -- like how we did here: https://github.com/publiclab/plots2/pull/8874

[2021-01-12 17:00] noi5e commented on #8810
@jywarren Yeah, I agree. I think I have enough of an idea of how to proceed from here. Will just be adding system tests for bugs as they appear. Closing this issue for now at least.

[2021-01-12 17:00] #8810 closed

[2021-01-12 19:04] jywarren opened #8999 "Small style adjustments for new dashboard"
@RuthNjeri this looks amazing!

![image](https://user-images.githubusercontent.com/24359/104360174-a903bf00-54de-11eb-9b02-332e4e3b8270.png)

Just noting a few small things to refine --

* [x] some small text is in Junction Light (the font) and i wonder if we can standardize the size and font -- i think it's Arial -- in the same sans-serif where we see `90 Following` in our tag cards. See how on G

[2021-01-12 19:13] #8316 closed

[2021-01-12 19:54] RuthNjeri commented on #8999
Thanks @jywarren, that all makes sense. I remember having a tough time standardizing the font family...

[2021-01-12 20:15] #8941 closed

[2021-01-12 21:03] ebarry commented on #3246
So progress has been made here, but i believe the "wires are still crossed".

https://publiclab.org/tag/micro looks like this:

<img width="1185" alt="Screen Shot 2021-01-12 at 3 55 43 PM" src="https://user-images.githubusercontent.com/161439/104373804-f0924700-54ee-11eb-9ae1-b69f091b8fb8.png">

https://publiclab.org/tag/activity:micro looks like this:

<img width="979" alt="Screen Shot 2021-01-12

[2021-01-12 21:09] RuthNjeri commented on #8931
I'm just rereading this message now 😅 , I think you were able to fix the notifications? Or can I tag you in a comment if I need any reviews in future PRs?

[2021-01-12 21:35] noi5e commented on #8931
I've got to check out vim!!! I missed that message too, @Sagarpreet thanks for checking out some of my PRs in the meantime.

Just going to drop the link to my planning issue here #8775. I've been updating it every day for the past week, and I usually leave a link to my open PRs there too. (none open right now, but maybe later today)

[2021-01-12 23:17] #8177 closed

[2021-01-12 23:18] jywarren commented on #8177
We ultimately solved this by fixing the syntax of the core SQL query itself! There may be some leftover queries to fix but this method worked. And now we should be more compatible with mysql/mariadb versions!

[2021-01-12 23:39] jywarren opened #9002 "Stats page overload mitigation, passwording next steps discussion"
Just creating a coordination and discussion space for folks here -- I think there may be an info gap so just want to describe as much as I can so folks all know what's happening and we can identify any next steps.

It looks like the route https://publiclab.org/stats has experienced some very heavy loads due to bots, and in order to preserve our site, we've placed a password in front of that page.

[2021-01-13 03:37] noi5e opened #9004 "[Discussion] Refactor Comment Editor Using OOP"
I wanted to open up an issue to collect ideas/observations I've had about the comment editor's state management. I'll leave this issue open for a few weeks to collect thoughts as they come up (if that's okay). I'm hoping this will help us to conceptualize a code overhaul.

To start with, I wanted to give a bug as an example:

**[Video of this bug in action](https://user-images.githubusercontent.co

[2021-01-13 20:04] #8999 closed

[2021-01-13 20:27] icarito commented on #9002
Hi,
I find it hard to understand what went on with the stats page.
Is it some random bot(s) going on a loop by pursuing links?
Is it a denial of service attack?
Is it some legitimate use?
Hoping it is the first option, then having the stats page only for logged in users would be a good choice to start as it seems like it would be the least effort!

[2021-01-13 20:31] #8970 closed

[2021-01-13 21:27] RuthNjeri commented on #8954
Closed via https://github.com/publiclab/plots2/pull/9006

[2021-01-13 21:27] #8954 closed

[2021-01-13 21:46] RuthNjeri commented on #8964
Hi @jywarren 👋🏾
I spent some part of the day racking my brain on how to approach this issue, I'll appreciate any input you have on this... So how the topics are displayed currently, is that;

1. We first collect all the subscriptions a user has. `current_user.subscriptions(:tag).includes(:tag).where.not(tid: exclude_tids)` which returns an array of tag selections...
[code]
2. From the tag selectio

[2021-01-13 22:43] skilfullycurled commented on #9002
A few quick :roll_eyes: notes :

1. While the impetus for this discussion is certainly a new problem, these issues (particularly the first two) may be useful in seeing related problems we've dealt with in the past, cause we ruled out, solutions we tossed around, and the reasoning behind our decisions at that time.

Stats Download And Site Overload: #5524
Raw data from stats page: #4654
Planning fo

[2021-01-14 01:13] #8997 closed

[2021-01-14 07:13] Manasa2850 commented on #3469
@jywarren I would like to open a FTO issue for this. Thank you!

[2021-01-14 07:54] Manasa2850 opened #9009 "Comment explaining the usefulness of "Figaro" gem"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-14 08:04] SakakibaraMako commented on #9009
Hello, I want to do this if it is available.

[2021-01-14 08:37] Manasa2850 commented on #9009
@SakakibaraMako sure! Please go ahead :+1:

[2021-01-14 10:22] #8803 closed

[2021-01-14 14:40] ebarry commented on #9002
Thank you all for engaging with this! Have we ascertained if the main issue is that some bot/person is entering a lot of date ranges and making the visualizations redraw, or if it's that some bot/person is entering a lot of date ranges AND downloading the data?

[2021-01-14 15:38] icarito commented on #9002
Hi Liz,
I believe that if a bot hits the stats page it's unlikely to render the visualization as it is not a browser, however the load is caused by the heavy queries on the database, as any visualization is rendered client-side on the user's browser.

[2021-01-14 16:48] icarito commented on #9002
In looking at this one example of the problematic requests, it strikes me as odd that they are targeting a future date:
[code]

In following the link, the following section draws my attention:
![imagen](https://user-images.githubusercontent.com/199755/104615050-d70c0f00-5656-11eb-91b0-5b286b9d34fd.png)

Could it be that the bot is following the anchor link `<a href...`:
![imagen](https://user-imag

[2021-01-14 17:47] RuthNjeri commented on #8964
Also just realized that even if I remove empty tags before sending them to the view, there is a possibility that a topic might end up empty because of the shown_nids... we prevent the double display of nodes within the topic cards so what if a topic has nids that have already been displayed? They end up empty... so the `display:none` option is looking pretty viable now 😅

[2021-01-14 18:28] alaxalves commented on #6225
Since we do not use Travis anymore, I'm closing this :)

[2021-01-14 18:28] alaxalves commented on #6225
CC https://github.com/publiclab/plots2/pull/8951#issuecomment-755919080

[2021-01-14 18:28] #6225 closed

[2021-01-14 20:30] SavneetKaur01 commented on #9009
Hi, I want to try it .

[2021-01-15 05:07] Manasa2850 commented on #9009
Hi @SavneetKaur01. I think @SakakibaraMako might be working on this.
I'll create another first timers issue for you!

[2021-01-15 05:19] Manasa2850 opened #9013 "Add @node and @revision in the questions controller"
This issue is a part of #8942
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you

[2021-01-15 05:20] Manasa2850 commented on #9013
Reserved for @SavneetKaur01

[2021-01-15 05:20] Manasa2850 commented on #9009
@SavneetKaur01 you can work on #9013

[2021-01-15 06:56] SavneetKaur01 commented on #9009
@Manasa2850 Sure. Thanks

[2021-01-15 07:37] cesswairimu opened #9014 "Remove sidebars from templates"
We removed the sidebar methods in the controllers here https://github.com/publiclab/plots2/issues/8803. This is a follow up to identify and remove the instances where the sidebar is being rendered...we expect some tests to fail, so this might involve some rewriting of tests

[2021-01-15 12:32] #7006 closed

[2021-01-15 12:44] RuthNjeri commented on #8992
Hi @ebarry and @jywarren I am looking into how I'll add the number on the top card.
Should the total number of wikis and notes be included in the posts section like below and how it currently is on the site
![Screenshot 2021-01-15 at 15 42 55](https://user-images.githubusercontent.com/7622875/104728700-5b8a8a80-5748-11eb-93ff-cbdb7f8b2da7.png)

Or should it use this other approach of separating th

[2021-01-15 13:02] RuthNjeri commented on #8966
Hi @ebarry and @jywarren 😄

For this issue, currently, we have no specific order in which the topics are displayed on the dashboard. I am assuming, it should be according to the most recently updated based on this issue's requirement...

Research notes are different from wikis and if comments and wikis bump up a topic, should research notes also bump up a topic as well?

Also, currently, we post t

[2021-01-15 17:36] imajit opened #9017 "UI bugs in create post"
In the  [post](https://publiclab.org/post) section, section 4 of Share your work and the bottom bar one with publish button left most button show a clock like button.
![Screenshot from 2021-01-13 00-59-50](https://user-images.githubusercontent.com/38528640/104759454-f5245d00-5785-11eb-9f5b-9d08ea65805d.png)

[2021-01-15 17:48] Manasa2850 commented on #9014
@cesswairimu I would like to try this out!

[2021-01-16 06:29] anumi1999 commented on #7703
Hi, Are there any issues left for first-timers? I would also like to contribute

[2021-01-16 14:18] #9017 closed

[2021-01-16 20:05] noi5e opened #9018 "Bug: Progress Bars Don't Show for Edit Comment CLICK-to-Upload Image"
**Steps to Reproduce:**
1. Open up an edit comment form.
2. Upload an image by clicking on the button in the toolbar.
3. The rich-text image link does appear in the correct form.
4. However, even though the upload proceeds correctly, the progress bars don't show.

[Video Showing Buggy Behavior, and Ideal Behavior](https://user-images.githubusercontent.com/4361605/104821473-f50d7700-57f0-11eb-950d-

[2021-01-17 10:10] anumi1999 commented on #8942
Hi, I also want to contribute in your project.

[2021-01-17 10:43] anumi1999 commented on #7683
Hello Everyone,
I would like to contibute in HTML, CSS , Javascript. I would like to start as first time contributor.

[2021-01-17 10:49] #8478 closed

[2021-01-17 11:01] cesswairimu commented on #8825
Hey @YuvalOS sorry for the late reply.....  seems like you submitted the Pull request on your repo...you need to create one on publiclab/plots2...you can use this [link](https://github.com/publiclab/plots2/compare/main...YuvalOS:YuvalOS-patch-2) and just click on `Create pull request` button. Thanks

[2021-01-17 11:03] cesswairimu commented on #9014
Great :tada:  assigned it to you . Thanks

[2021-01-17 11:14] first-timers[bot] opened #9020 "Add check-in link in welcome bot message"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-17 11:15] cesswairimu commented on #9020
Reserved for @anumi1999

[2021-01-17 11:16] cesswairimu commented on #7683
Hi @anumi1999 here you go https://github.com/publiclab/plots2/issues/9020

[2021-01-17 11:20] cesswairimu commented on #8942
We would love your help @anumi1999 . Created a first-timer issue for you here https://github.com/publiclab/plots2/issues/9020 .thanks

[2021-01-17 12:09] FCardellino commented on #9020
I would like to cliam this issue. I'm new in this so I don't know if already someone claimed it. I can´t any comment about it

[2021-01-17 12:13] anumi1999 commented on #9020
Working on it

[2021-01-17 12:37] anumi1999 commented on #9020
Made PR. Please review.

[2021-01-17 12:41] coder645 commented on #9020
@FCardellino go ahead and make a PR.
Cheers!

[2021-01-17 12:57] cesswairimu commented on #9020
@anumi1999  is already working on this one .. @FCardellino I will ping you when another fto is available. Thanks all

[2021-01-17 13:47] first-timers[bot] opened #9021 "Remove twitter handle request"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-17 13:48] cesswairimu commented on #9021
@FCardellino would you be interested with this one?

[2021-01-17 14:16] akshay399 commented on #9021
May I do this?

[2021-01-17 14:19] FCardellino commented on #9021
Okey, I will do it!

[2021-01-17 14:22] cesswairimu commented on #9021
cool, go ahead @FCardellino, hi @akshay399  pinging you in another issue in the next few

[2021-01-17 14:38] FCardellino commented on #9021
I made the PR, but not sure I'm doing it right.

[2021-01-17 14:44] first-timers[bot] opened #9023 "Link to gitter on welcome msg"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-17 14:44] first-timers[bot] opened #9024 "Link to gitter on welcome msg"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-01-17 14:45] cesswairimu commented on #9024
Duplicated issue. closing this

[2021-01-17 14:45] #9024 closed

[2021-01-17 14:46] cesswairimu commented on #9023
@akshay399 would you like to work on this one?

[2021-01-17 14:51] cesswairimu commented on #9020
@anumi1999  looks like you made a PR to your repository...please do so on this publiclab repo...going here https://github.com/publiclab/plots2/ should give you a prompt to create a PR..feel free to ping me if stuck. Thanks

[2021-01-17 15:53] anumi1999 commented on #9020
Can you please check it once? I am a newbie so. Thanks

[2021-01-17 15:56] akshay399 commented on #9023
yep on it

[2021-01-17 15:56] cesswairimu commented on #9020
Its perfect now :tada:

[2021-01-17 16:06] FCardellino commented on #9021
I think I'm done. Could you review it? Thanks!

[2021-01-17 16:12] akshay399 commented on #9023
done

[2021-01-17 20:37] jensanchez459 commented on #9023
Can I work on this?

[2021-01-18 02:58] fpolica91 commented on #9013
Hey I can help with this

[2021-01-18 04:49] Manasa2850 commented on #9009
Hi @SakakibaraMako are you working on this?

[2021-01-18 04:57] Manasa2850 commented on #9013
Hi @fpolica91. A PR has already been made for this issue. We will ping you when another first timers issue is available
Thanks!

[2021-01-18 17:59] jywarren commented on #8992
Hi @RuthNjeri - thank you, why don't we do: `2 notes | 4 wikis` as the format? Removing the >> will trim space, and this keeps it pretty short still. Will the extra text cause us trouble on narrow screens?

Thanks!

[2021-01-18 18:03] jywarren commented on #8966
Hi, i think this may be a pretty complex issue, because wikis, notes, and comments all may have different ideal sorting, and so a query incorporating them all may be challenging. But let's slowly work through ideas without letting it block other tasks!

My thoughts are currently:

1. topics are currently by most recent note created timestamp, i believe
2. adding most recent wiki update (not publis

[2021-01-18 18:17] #8956 closed

[2021-01-18 18:32] jywarren commented on #9023
Hi @jensanchez459 @akshay399 has taken this one up but I'll make a new one for you!

[2021-01-18 18:32] #9023 closed