[2016-06-14 18:03] jywarren commented on #16
I'll just close it now, since it's pretty old anyhow. Someone can re-open if it causes more trouble! Thanks!

[2016-06-14 18:03] #16 closed

[2016-06-14 18:55] ananyo2012 commented on #549
#555 closes covers first two tasks and #566 covers the remaining tasks. Closing this issue. I will open a new one for implementing commenting system for Q & A page.

[2016-06-14 18:56] #549 closed

[2016-06-17 15:40] jywarren opened #592 "Comments don't appear on questions, and answers don't appear on notes"
### What happened just before the problem occurred

I responded to this note: https://publiclab.org/notes/AndrewJamesLaplante/06-12-2016/question-how-to-rename-a-set

Then i found it at the new https://publiclab.org/questions -- as https://publiclab.org/questions/AndrewJamesLaplante/06-12-2016/question-how-to-rename-a-set

And responded to it there too. But comments don't appear on questions, and

[2016-06-17 17:52] ananyo2012 commented on #592
@jywarren Yes currently there are two versions. Please don't use the developing Q & A system for responding to questions. The previous Questioning system isn't scraped off yet and the work on Q & A isn't completed yet. The commenting system is still in progress. After it gets complete I will replace all the links to questions to the new Questions page url.

[2016-06-17 17:53] ananyo2012 commented on #592
I did it so that user can still use the current Questioning system doesn't gets hampered while the development is in progress.

[2016-06-17 17:56] ananyo2012 commented on #592
Also email subscriptions aren't working now. I will work on them after the mid term evaluations.

[2016-06-17 18:27] jywarren commented on #592
That's fine - maybe an alert notice at the top of these pages is a good
idea until the features are ready to use? Thanks!
On Jun 17, 2016 1:56 PM, "Ananya Maiti" <notifications@github.com> wrote:

[2016-06-17 19:39] ananyo2012 commented on #592
Well I didn't include any link in the topmost navigation bar for visiting
the questions. So is it necessary? I think regular users won't be bothered.
ᐧ

On Fri, Jun 17, 2016 at 11:57 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-06-17 19:53] jywarren commented on #592
Yeah, I guess it'll be fine. I just worry about I'll formed data getting
into the database and mucking up your future work... just paranoid I guess.
:-)

Will comments and answers both be possible, in your plan? Or will questions
allow only answers?
On Jun 17, 2016 3:39 PM, "Ananya Maiti" <notifications@github.com> wrote:

Well I didn't include any link in the topmost navigation bar for visiting
t

[2016-06-17 20:55] ananyo2012 commented on #592
Well Thanks anyways Jeff! :smiley: Yeah Questions will have both comments and answers as per the new design. Once I complete my initial work I will post a research note on this.

[2016-06-17 21:06] jywarren commented on #592
Super, thanks again and I'll be a bit less in touch next week, then offline
the week after. Great work!

On Fri, Jun 17, 2016 at 4:55 PM, Ananya Maiti <notifications@github.com>
wrote:

[2016-06-23 19:31] ebarry commented on #360
It would be great to get this working.

[2016-06-23 20:06] ebarry commented on #571
Hi Lalithr95!
@steviepubliclab and I really enjoyed testing out your profile power tagging feature!

@jywarren, @steviepubliclab and i are looking ahead to the design of the profile page, and thinking how to prompt people to fill out the information -- wondering, is there the option to move the powertagging display to the center of the profile, or does it have to stay in the sidebar?

Generally, S

[2016-06-23 20:15] ananyo2012 commented on #360
@ebarry Can you tag this with a help wanted tag so that it will be easier to filter? I can probably look into this soon.

[2016-06-23 21:58] ananyo2012 commented on #175
@ebarry Please have a look at this so that it can e closed.

[2016-06-24 01:48] ananyo2012 commented on #14
I also tested this and it didn't replicate the bug. @jywarren Can this be closed now?

[2016-06-24 09:20] jywarren commented on #440
There is -- `RUBYOPT=W0 rake test:units` -- but we should perhaps reduce the warnings, too?

[2016-06-24 09:32] jywarren commented on #440
Other options available here: http://stackoverflow.com/questions/5591509/suppress-ruby-warnings-when-running-specs

[2016-06-25 06:12] #14 closed

[2016-06-29 12:30] ebarry commented on #217
I've seen MUCH less spam in the last 6 months -- has some other improvement had an effect on this?

[2016-06-29 12:31] ebarry commented on #179
Also see:
https://github.com/publiclab/plots2/issues/480

[2016-06-29 12:33] ebarry commented on #179
Also see: https://github.com/publiclab/plots2/issues/480 which calls for a new page /topics because this page is so poor.

[2016-06-29 19:32] gretchengehrke commented on #485
Hi @ebarry ,
I'm working on filling out the info in the sandbox-tool for each tool. Can you please provide a list of wiki pages for which you'd like this section added? I'm not sure what the most relevant or up-to-date wiki page is for some of the tools. Thanks!! Also, do you want this info at the top of the page for each wiki? Or elsewhere? Thanks!

[2016-06-29 19:46] ebarry commented on #485
The full set would be what's on https://publiclab.org/tools

But for now, could you pick the minimum set required to put this template
idea through its paces, and then report back how it's working and what you
suggest?

Then we can make a revision, Jeff can make a nicelooking template and we
can go from there...

--

+1 336-269-1539
@lizbarry <http://twitter.com/lizbarry>

On Wed, Jun 29, 2016 at

[2016-06-29 22:59] ebarry opened #599 "add admin tools to the Login menu"
(@jywarren reformatted this on @ebarry's behalf):

Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that

[2016-07-01 16:29] ebarry commented on #485
also @jywarren, regarding the graphic sketch you posted earlier in this thread, look at the clarity of the info-design in http://openrov.dozuki.com/Guide/Guide+6+-+Finishing/68 (HT @sdosemagen)

[2016-07-02 07:55] ananyo2012 commented on #7
@jywarren Hey Jeff I solved this issue in #600. I found that this problem was occurring only for wiki pages since the wiki title was not updated with each revision. But I had to update the title so as to update the wiki url. So this issue has to be closed once #600 gets merged. I think I can find other issue that can be labeled as `first-timer-only` issue and probably make one if found.

[2016-07-02 19:05] chongr commented on #240
going to start this today, it looks like it is still unresolved

[2016-07-05 15:28] ebarry commented on #599
updated!

--

+1 336-269-1539
@lizbarry <http://twitter.com/lizbarry>

On Tue, Jul 5, 2016 at 10:37 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-07-05 19:34] jywarren commented on #485
Yeah, i love it! +1 also thinking about prompt forms for "i build this!"
etc. "i built this" tags could be profile tags.

On Fri, Jul 1, 2016 at 12:29 PM, Liz Barry <notifications@github.com> wrote:

[2016-07-05 19:38] jywarren commented on #599
Hm, i don't see any change... did it not save?

This is a pretty easy fix -- could you make this into a "help-wanted" issue ([formatting guidelines](https://publiclab.org/wiki/developers#Contributing+for+non-coders)) and link to the code for the menu content, in this file: https://github.com/publiclab/plots2/blob/master/app/views/sidebar/_post_button.html.erb#L19-L31

[2016-07-05 19:44] jywarren commented on #7
Super, that would be great. Maybe helping Liz make #599 into a first-timers only, since it's just moving html markup around, with one Ruby conditional inside?

[2016-07-05 19:44] #7 closed

[2016-07-06 00:18] mathewlippincott opened #602 "IRC on Publiclab.org not connecting"
Can't seem to connect to IRC.  get this message.  looks like a 3rd party issue not necessarily on publiclab.org

Status
[17:10] qwebirc v0.92
[17:10] Copyright (C) 2008-2012 Chris Porter and the qwebirc project.
[17:10] http://www.qwebirc.org
[17:10] Licensed under the GNU General Public License, Version 2.
[17:10] -dibasic.oftc.net- *** Looking up your hostname...
[17:10] -dibasic.oftc.net- *** C

[2016-07-06 00:34] jywarren commented on #602
@icarito - i'm not familiar with how oftc's webchat connects, but it sounds like their service is offline or some policy has changed -- can you take a look?

[2016-07-06 01:20] icarito commented on #602
It appears to have been a temporary issue, it is working now.

[2016-07-06 15:26] jywarren opened #604 "Extract javascript from profile page into app/assets/profile.js"
The user profile page's javascript is all inline -- we should take a crack at moving as much as possible into a new javascript file, and passing any necessary variables into a `profile()` function to simplify the profile page javascript?

The profile page is here: https://github.com/publiclab/plots2/blob/master/app/views/users/profile.html.erb

We can shorten it by half and separate out the inline

[2016-07-06 19:33] klie1 opened #606 "expand co-authorship features with right-to-edit"
### What happened just before the problem occurred

- I'm already logged in

- I click on "Edit" in the drop down box of the [specific note that I want to edit](https://publiclab.org/notes/Shannon/07-06-2016/public-lab-code-of-conduct)

- I get a pop up that says “Please be aware that you are editing someone else/“

![screen shot 2016-07-06 at 2 13 57 pm](https://cloud.githubusercontent.com/assets

[2016-07-06 19:41] jywarren opened #607 "Banning (spam) users doesn't drop the liked count on wiki pages"
https://publiclab.org/barnraising had 14 likes with spammers, but I banned them all, so there should only be ~5 now. But maybe the cached_likes is not properly recalculated?

Like counts are listed in the upper right box -- to the right of the title, marked with a star icon.

`user.ban` is here: https://github.com/publiclab/plots2/blob/master/app/models/drupal_users.rb#L45

Perhaps this belongs in

[2016-07-07 01:07] lalithr95 commented on #604
Sure, yeah I will move profile inline js to new file.

[2016-07-07 13:59] ananyo2012 commented on #592
@jywarren This can be closed now. I will post a research note on it as soon as you publish the changes on the site.

[2016-07-07 14:14] jywarren commented on #592
Great. As the Barnraising event is this weekend, I'm not sure it it'll
happen until Tuesday, but we'll see. Thanks!
On Jul 7, 2016 9:59 AM, "Ananya Maiti" <notifications@github.com> wrote:

[2016-07-07 14:18] #592 closed

[2016-07-14 03:40] #532 closed

[2016-07-14 03:45] jywarren opened #610 "Listing of recent likes"
In #309, we see that spam users are liking things in order to get link visibility. We can ban them, and #309 will make their usernames disappear from page like listings, but there is no master listing of likes, organized by time, so that we can occasionally skim it for spammers. Like spam is accumulating.

A page at `/likes` listing all recent likes would be great, also showing a `ban` button for

[2016-07-15 17:18] ebarry commented on #395
Hi @jiteshjha as your work has progressed, do you have any input on ways to organize translation efforts?

[2016-07-16 19:05] ebarry opened #613 "cursor position on etherpad unreliable"
### What happened just before the problem occurred

i started working on a new pad, and it was fine until i pasted in a link.
Then the cursor started losing its position, and typing new letters would insert before the actual insertion point. This effect worsened until i stopped typing completely and without touching the keyboard at all I watched the blinking cursor move itself backwards in a line

[2016-07-17 19:48] jiteshjha commented on #395
Hello!

I have two ideas for organizing translation efforts. First -- we can
utilize Github Pull Request system to allow anyone to submit translations.
This method has a downside -- The interested community member must be
familiar with Github. Second -- We can create a series of spreadsheet with
the website content on it, with each website text against various columns
for different languages. This

[2016-07-18 12:22] jywarren commented on #613
Hi, can you please file this on the etherpad-lite issue tracker? Thanks!

On Jul 16, 2016 3:05 PM, "Liz Barry" <notifications@github.com> wrote:

[2016-07-18 12:24] #613 closed

[2016-07-18 13:10] ebarry commented on #613
done: https://github.com/ether/etherpad-lite/issues/2224

[2016-07-18 13:18] jywarren commented on #613
Thanks!

On Mon, Jul 18, 2016 at 8:10 AM, Liz Barry <notifications@github.com> wrote:

[2016-07-18 16:01] jywarren opened #617 "Markdown-based table display in comments works in preview but not publish"
### What happened just before the problem occurred

I entered a table with format:

[code]

### Relevant URLs

https://publiclab.org/notes/rmeister/07-18-2016/webjack-test-without-arduino#c14960

This worked in preview but not in rendered markdown. This has been reported before but we're looking forward to making all Markdown drive off the same engine soon, with the Rich Editor/Wiki projects, whic

[2016-07-18 23:03] jywarren commented on #606
This is because coauthoring is a very primitive system at the moment -- it really just affects the author credit line. I think you were able to edit because you're an admin, not because you're a co-author. But we can and should improve this system and we could check for co-author status both when clicking the edit button (no pop-up) and when viewing the edit page and thirdly when saving (coauthors

[2016-07-21 15:18] klie1 opened #621 "Can't "like"/star a Research Note"
### What happened just before the problem occurred

I clicked the star to "like" a note, and there was no response.  I attempted this on two different browsers, and also after logging out and back in again.  I also attempted on Stevie's account and computer, and there was no response for her either.
![screen shot 2016-07-21 at 10 13 55 am](https://cloud.githubusercontent.com/assets/20325934/170280

[2016-07-21 19:12] jywarren commented on #621
@ananyo2012 - could this relate to the work you were doing on like incrementing? And would this be covered by the test you submitted? If not, let's track and write a test for this interaction too!

[2016-07-21 21:58] mathewlippincott opened #622 "can't edit research notes in chrome or firefox"
I edited an already published research note and then hit "publish" and nothing happened (chrome). Attempted again in firefox, same result.  "preview" doesn't work either.

This is the note:
https://publiclab.org/notes/mathew/07-21-2016/openflexure-microscope-high-resolution-assembly

### PublicLab.org username
mathew
(to help reproduce the issue)

### Browser, version, and operating system
Firefox

[2016-07-21 22:57] jywarren commented on #621
Fixed! @ananyo2012 it was unrelated, see #623

[2016-07-21 22:57] #621 closed

[2016-07-21 22:58] jywarren commented on #622
Fixed, thanks for reporting! See #623 for details.

[2016-07-21 22:58] #622 closed

[2016-07-21 22:59] jywarren opened #624 ""google" library not loaded; stopping other JS on all pages"
### What happened just before the problem occurred

Several JS-driven features stopped working after this; there are three issues to look into.

1. First, does this code (https://github.com/publiclab/plots2/blob/abf4ba8017f94c5efea52ad7c13d35aa68434e0a/app/assets/javascripts/location_tags.js) need to be loaded on every page?
2. Why isn't the 'google' library loading for many pages... or is it that

[2016-07-22 02:00] ananyo2012 commented on #621
@jywarren Great work Jeff! Was getting a hard time figuring it out. Yes I will try to add some javascripts tests for it.

[2016-07-22 02:07] ananyo2012 commented on #624
@jywarren Yes we need good client side tests for these. Will add some more javascript tests to test all javascript functions work correctly. Keeping a close look at this issue.

[2016-07-22 02:52] jywarren commented on #624
Super. I like the idea of loading all libs in one test and then doing an
assertion at the end to confirm that there are no exceptions thrown. But I
don't recall if we can automatically include *all* javascripts referenced
from application.js... can we?

On Thu, Jul 21, 2016 at 10:07 PM, Ananya Maiti <notifications@github.com>
wrote:

[2016-07-22 03:04] ananyo2012 commented on #624
Yes Jeff we can just include application.js and that will just include all other js libs included in it. It is same as the asset pipeline. Then we just have to make some simple assertions on it.

[2016-07-22 03:15] lalithr95 commented on #624
It worked for me locally, probably asset compilation in production lead to the issue. Thanks for the immediate fix. I included library for only pages which required (mostly location tag and people map). I will look into jasmine, test suite for JS action is a good idea. I made a PR for user follow feature in progress. #625

[2016-07-22 04:44] ananyo2012 commented on #624
@lalithr95 The jasmine tests were failing before the fix. Have to figure it out.

[2016-07-22 05:27] ananyo2012 commented on #577
@jywarren Uh Jeff can you give your final verdict on this so that it can be closed. To make you remember the final proposal is to just to maintain a updated schema.rb.example and remove the development.sqlite.example file. For setting up a new database a user just has to rename the schema.rb.example to schema.rb and run `rake db:setup`. That's all. Explanation can be found above.

[2016-07-22 14:44] jywarren commented on #577
Hi Ananyo -- sorry, I'm eager to wrap this up too.

I hear what you're saying, and I think this could work, but the sqlite.example file was to reduce complexity for first-time contributors.

To demonstrate that this works, could you create a new Cloud9 script, and confirm that it runs successfully following [exactly the steps in the Readme](https://github.com/publiclab/plots2/#simple-installation-

[2016-07-22 14:46] jywarren commented on #577
@icarito -- possibly related -- if we modify this, might the Cloud9 script I mentioned be a basis for a Dockerfile, or could we use a Dockerfile instead of this in conjunction with Cloud9 or a similar service? (Sandstorm.io or something?)

[2016-07-22 14:57] jywarren commented on #624
We should look into triggering the Jasmine tests to run alongside `rake
test` -- there's an example here:
https://github.com/websocket-rails/websocket-rails/commit/b903ef14fceaa709ddc1c11073116d73ad088bfd#diff-52c976fc38ed2b4e3b1192f8a8e24cffR31

However, this would require phantomjs on the local machine. I think this is
reasonable, but it's a big extra dependency. What are your thoughts?

On Fri,

[2016-07-22 15:17] jywarren commented on #524
I'm going to put it in the "Research" menu for now, and close this. Open to other suggestions.

[2016-07-22 15:17] #524 closed

[2016-07-22 16:28] jywarren commented on #204
@ananyo2012 used the Concerns feature in recent Rails to consolidate some common methods among comments, nodes, and answers. This seems like a powerful way to begin slimming down some of our models.

[2016-07-22 16:29] jywarren commented on #204
https://github.com/publiclab/plots2/commit/60abae5655a91ba300524ad049f1e080ea68741f

[2016-07-23 03:53] ananyo2012 commented on #624
Yes its a good idea to run both rails tests and jasmine tests with a single command. Well we can add some documentation in the readme for phantomjs installation. That would make it easier to follow.

[2016-07-24 00:16] jiteshjha commented on #395
Hello!

Transifex is a web-based translation platform, which offers free license to
open source organizations -- and it's easy to use and automate! I have
created a publiclab website translation project and sent invitations for
admin role. Please let me know if you haven't received any invite mail. I
have added only header translation file to check the workflow on the
website, I'll add more files

[2016-07-25 19:54] Fastie opened #635 ""Responses to this note:" does not display in sidebar"
### What happened just before the problem occurred
Another note is a response to this note, but no message is displayed to that effect.

### Relevant URLs
There is a response note to this note:
https://publiclab.org/notes/cfastie/12-21-2014/holiday-beverage-whodunit
This note is a response to the above note:
https://publiclab.org/notes/cfastie/12-24-2014/potent-potable-puzzle

The response note **

[2016-07-25 20:32] ananyo2012 commented on #635
@Fastie The `seeks:responses` tag was somehow removed. I added it back. Please check now. Currently this tag is used to collect any responses to a research note.

[2016-07-26 17:43] jywarren commented on #635
Hi, I think actually the issue is not the seeks:responses tag, but the following line:

https://github.com/publiclab/plots2/commit/9ced93988d6329b2044bfcaa72c5dbd43815ee8b#diff-77c36730d14905eeed787a672e334dacL45

Previously the condition was `<% responses = @node.responses if @node %>` and then `<% if @node && responses.length > 0 %>`, not a `node.has_power_tag()` at all. I must've miscopied that

[2016-07-26 20:40] ananyo2012 commented on #635
Ok sorry the issue was referring to the title text of the response for "Responses to this note:". I was thinking of the response not showing in the notes page.

[2016-07-26 20:46] #577 closed

[2016-07-26 20:55] ananyo2012 commented on #577
@jywarren Thanks Jeff for considering this!

[2016-07-26 21:03] jywarren commented on #635
we should test for both! :-)

On Tue, Jul 26, 2016 at 4:40 PM, Ananya Maiti <notifications@github.com>
wrote:

[2016-07-26 21:04] jywarren commented on #577
Thanks for tackling it! I love every step we can do to make contribution easier.

[2016-07-26 21:14] jywarren commented on #624
OK, and once #633 is merged, will any and all JS tests fail if there are any syntax errors in the JS code from `application.js`? I think that's what Ananyo is saying, no?

I'm having some trouble getting phantomjs to be recognized by my local Jasmine setup. Hang on and I'll try to figure it out.

[2016-07-26 21:24] jywarren commented on #624
it was because the Phantomjs gem is not for all architectures, and is actually marked as alpha; I changed the default to not use the phantomjs gem, but your own phantomjs binary.

Now I get this error -- can you try setting `spec/javascripts/support/jasmine.yml` line 52 to `use_phantom_gem: false` and running `rake spec:javsacript` to see if this is just my setup being odd (chromeos/crouton runnin

[2016-07-26 21:24] jywarren commented on #624
[code]

[2016-07-27 14:56] jywarren commented on #554
Design discussion also happening here: https://publiclab.org/notes/ananyo2012/07-25-2016/progress-of-the-expanded-q-a-project

[2016-07-27 16:22] ebarry commented on #524
https://publiclab.org/comments Looks great, but it doesn't seem ready to be
in the dropdown menu. The sorting on /comments is unclear -- it isn't
listed by recent, but there's no discernible other way that it is ordered
or option to change how it's ordered. Can we remove it from the dropdown
menu?

Comments do looks great on the dashboard:

* can the icon on the grey comment boxes lead to
https://

[2016-07-27 16:32] jiteshjha opened #637 "Missing template : "home/comments""
### What happened just before the problem occurred
The comments sub-section for any profile page could not be loaded because of the change #525.
Error(console) : Missing template: home/comments partial

### Relevant URLs

https://publiclab.org/profile/warren#comments

Screenshot :
![screenshot from 2016-07-27 21 58 47](https://cloud.githubusercontent.com/assets/10262106/17183506/6d1bbb1c-5445-11e6

[2016-07-27 16:33] jiteshjha commented on #637
https://github.com/publiclab/plots2/blob/master/app/controllers/users_controller.rb#L205 should be changed.

[2016-07-27 16:37] jywarren commented on #524
Before moving it from the navbar, we need a new place to put the link -- and I don't think the icon link location is intuitive enough.

Sorting has been fixed, though -- it just hasn't reached the live site yet. It'll be reverse chronological.

[2016-07-27 16:38] jywarren commented on #637
ah, good catch! Thanks, do you think you could fix and submit a test for
this as well?

On Wed, Jul 27, 2016 at 12:33 PM, Jitesh Kumar Jha <notifications@github.com

[2016-07-27 16:44] ananyo2012 commented on #637
@jywarren Can you wait on it for a bit. I have addressed this issue in #628. See I have mentioned it here: https://github.com/publiclab/plots2/pull/628#discussion_r71965866

[2016-07-27 16:45] jywarren commented on #637
Oh, super. Thanks Ananyo. Sorry I missed that and thanks for catching it
here. So many PRs and contributions, which is great, but sometimes hard to
follow!

On Wed, Jul 27, 2016 at 12:44 PM, Ananya Maiti <notifications@github.com>
wrote:

[2016-07-27 16:53] ananyo2012 commented on #637
Yeah it is in fact hard to follow with so may PRs. I am trying to address any view related issue in the Q & A system in #628

[2016-07-27 18:10] ananyo2012 commented on #624
@jywarren Well I am not getting any error like the one you got. Its running perfectly.

[2016-07-27 18:52] jywarren commented on #624
I actually think my computer just runs out of memory when running this, but will look into it. I think pending the last few changes in #633 this can be closed -- can you just confirm that all assertions will run *after* all js files are included, as we specify above in # 3?

[2016-07-28 05:44] ananyo2012 commented on #624
@jywarren Fixed the problem of google library not loading in #633 commit df89edc.

[2016-07-28 05:51] ananyo2012 commented on #624
The problem was here: https://github.com/publiclab/plots2/blob/master/app/views/users/info.html.erb#L1. This should be included in the `application.html.erb` file before the `location_tag.js` loads. I also removed the `location_tag.js` from the application.js file and included it in the `info.html.erb` file in the user views since I don't think we need to load it in every page.

[2016-07-28 06:14] ananyo2012 commented on #624
@jywarren What I found out that if any any of the js files included in the application.js fails to load all the tests include in jasmine spec file fails. This is because of asset compilation which includes everything in application.js and treats it as a single file.So basically we don't need to include any initialization tests for those files included in application.js

[2016-07-28 06:37] ananyo2012 commented on #624
For those js files not included in the application.js simply including them using `require` in the spec file would be enough. If all files load properly all tests should pass otherwise all tests would fail.

[2016-07-28 08:52] ananyo2012 commented on #440
@jywarren Is this problem still happening? I don't see these warnings in my cloud9 machine.

[2016-07-28 13:48] lalithr95 commented on #624
@ananyo2012 Thanks for fix, I'll figure out why location_tag file is causing issue. @jywarren I suspect https://github.com/publiclab/plots2/blob/master/app/views/users/info.html.erb#L1 token in URL is causing the issue. Also it one of my token, can you replace it and set ENV variable under PublicLab token ?

Thanks !

[2016-07-28 13:50] steviepubliclab opened #638 "New "Questions" interface not showing questions"
Hi @ananyo2012
Was wondering if you can help me figure out what's going on with my browser and the /questions page.

### What happened just before the problem occurred
I was testing out the new "Questions" interface. I went to the URL and got this screen where none of the questions were visible:
![screen shot 2016-07-28 at 8 44 46 am](https://cloud.githubusercontent.com/assets/7490478/17214737/f94

[2016-07-28 14:01] ananyo2012 commented on #638
@steviepubliclab Does the same happen for the Popular and liked urls?

[2016-07-28 14:08] steviepubliclab commented on #638
yes.

[2016-07-28 14:09] ananyo2012 commented on #638
Ok trying to figure out the problem.

[2016-07-28 14:20] jywarren commented on #440
If not then let's close this; the Jun 24th link is helpful if it recurs. Thanks!

[2016-07-28 14:20] #440 closed

[2016-07-28 14:26] jywarren commented on #180
@lalithr95 working on this in #625

[2016-07-28 14:34] jywarren commented on #624
Hi, Lalith - there's a way to create a "config.yml" file to be included, as
here:
https://github.com/publiclab/mapknitter/blob/master/config/config.yml.example

However, that adds an additional requirement to the install process. Is
there no other way around it, or is there a way to fall back to a service
that doesn't require an API key? Will anything fail for new contributors
who have just instal

[2016-07-28 14:38] jywarren commented on #624
For reference, the config can be accessed using:

APP_CONFIG = YAML.load_file("#{Rails.root}/config/config.yml")[Rails.env]

then, in code, using:

APP_CONFIG["google_maps_api_key"]

On Thu, Jul 28, 2016 at 10:34 AM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2016-07-28 21:38] mathewlippincott opened #639 "Old photo uploaded to publiclab.org missing"
I'm editing the [PET Bottle Rig wiki page](https://publiclab.org/wiki/pet-bottle-rubber-band-rig), and noticed that an image wasn't displaying. It appears to be missing on the server.

The listed image URL is:
https://publiclab.org/sites/default/files/P1050339.jpg

[2016-07-28 21:51] icarito commented on #639
Possible pointer to tweak configuration:
http://stackoverflow.com/questions/12848549/error-310-too-many-redirects-with-nginx-rails-3
I'll have a look in production. Thanks.

[2016-07-29 01:08] #602 closed

[2016-07-29 15:43] jywarren commented on #639
That's odd. It was uploaded in the old Drupal system, but those files
should be preserved statically. A similar photo in the same directory is
loading fine:
https://publiclab.org/sites/default/files/5392220652_9524633600_o.jpg which
suggests that it's not a configuration issue.

Sebastian, can you do a file system search for "P1050339.jpg" to see if
it's just misfiled? Thanks.

On Thu, Jul 28, 201

[2016-07-29 15:47] icarito commented on #639
I searched for P1050339 in the plots2 server filesystem and did not find it. I checked in archive.publiclab.org to, not found.

[2016-07-29 16:13] jywarren commented on #639
Seems like it's been missing for a while -- it's not clear if it was there
in 2013 via the Wayback machine, but some of the other images were. We have
some older copies of the entire site I can look through, though. Sebastian,
do you know what the oldest backup you have is?

On Fri, Jul 29, 2016 at 11:47 AM, Sebastian Silva <notifications@github.com>
wrote:

[2016-07-29 16:53] icarito commented on #639
I found a copy in tycho server at /media/hiro/earth/oldbackup/html/sites/default/files/P1050339.jpg dated Jan 1 2013.

[2016-07-29 16:56] jywarren commented on #639
Hmm, is there a safe and tidy way to copy over any missing images in
/sites/default/files/*? Rsync?

On Fri, Jul 29, 2016 at 12:53 PM, Sebastian Silva <notifications@github.com>
wrote:

[2016-07-29 17:19] jywarren commented on #624
I also want to think about how to get the Google API include only on the pages where it's required. Mentioned this here: https://github.com/publiclab/plots2/pull/633#discussion-diff-72827695 with an approach with a `yield` call in the header. Circle back when David Days and Ujitha's code is merged.

[2016-07-30 11:58] jywarren opened #641 "silent login redirect on "moderate spam" action for admins"
### What happened just before the problem occurred

I logged in, but was redirected to front page with no logged in indication (page showed logged out). Then, links to pages which require login were also redirected to dashboard and said Successfully logged in. But it seems the actions the URL initiated (spam management) did go through, and the incorrect flash message was a cached page or was maybe

[2016-07-30 12:01] jywarren commented on #641
And hitting refresh in the incorrect notice page did finally show the right thing. It does seem like caching.

[2016-07-30 14:36] jywarren commented on #641
This is on latest Firefox for Android; couldn't reproduce on desktop chrome.

[2016-07-30 14:40] jywarren commented on #641
Also can't reproduce on Firefox 47 on Ubuntu.

[2016-07-30 14:43] jywarren commented on #641
Whoa, ok, neither on same Firefox Android 47 as original issue, when in incognito mode I go to /post

Trying the original URL, which was https://publiclab.org/moderate/spam/13314

[2016-07-30 14:44] jywarren commented on #641
Hmm, neither with that, although the status of that note has changed so it's not the same sequence exactly.

[2016-07-30 14:49] jywarren commented on #641
Ok, I believe I was able to reproduce by, in a fresh incognito window, going to: https://publiclab.org/notes/vertwscobes/07-30-2016/http-www-fitnessbywill-com-testo-vital (I'm an admin) -- and did it in desktop chrome. So it's probably not a Firefox issue.

[2016-07-30 14:52] jywarren commented on #641
I want to test if Ananyo's header login fix from this past week resolves this -- it's in the master branch, though it's not published yet.

[2016-07-30 15:33] jywarren commented on #641
OK, no longer urgent. The issue is that we don't distinguish between not-admin and not-logged-in, and in the `AdminController#mark_spam` method we redirect to the note, which is not accessible to non-logged-in users: https://github.com/publiclab/plots2/blob/master/app/controllers/admin_controller.rb#L101

Then in `NotesController#show`, we run the a method from `application_controller` -- https://

[2016-07-31 10:22] ujithaperera opened #642 "Unable to access several pages without starting solr server."
In solr with default settings, it gives `RSolr error` which redirect us to a error page because of there is no any solr instance up and running. There should be a way to avoid this error massage and run the project without solr errors. Yes, obviously solr search won't work without a solr connection. But all other pages should work properly.

![screen shot 2016-07-31 at 3 24 04 pm](https://cloud.gi

[2016-08-01 14:14] jywarren commented on #642
Great. Is it possible to do it either in the Search class you've created
(to modularize all search functionality) or by creating a wrapper around
Solr? Are there examples of doing this already out there, maybe on Stack
Overflow?

Thanks, Ujitha!

On Sun, Jul 31, 2016 at 6:22 AM, Ujitha Perera <notifications@github.com>
wrote:

[2016-08-02 15:37] jywarren opened #646 "add "related:12345" powertag which email notifies author of related post"
Also, `response:12345` should also notify the author of the original post. See [this page](https://publiclab.org/wiki/power-tags#Automated+power+tags,+not+for+manual+adding) for more on Power Tags, but basically adding `response:12345` where 12345 is the `nid` of a node, makes it appear in the sidebar of both nodes. Examples: https://publiclab.org/tag/response:*

Could be done in `DrupalTag:subscr

[2016-08-02 16:52] ujithaperera commented on #642
Yes searched in stackOverflow also. I found few answers and I tried them. but still this issue exists.
when we mention, steps to run solr server as installations steps, he/she can follow this steps and avoid this error. In that perspective this is not going to be an issue anymore. what do you think @jywarren  ?

[2016-08-02 17:19] jywarren commented on #642
I think it adds a significant additional step to initial installation which we should try to make optional if it's not too much trouble. For example, if you could ask another student to try installing Solr, to see how easy it is, using your instructions, that's helpful info.

Can you trace where this request is being made? On the `save` method, but how does Solr intercept the `save` method, and ca

[2016-08-02 17:31] ujithaperera commented on #642
Okay, then I can deliver information about solr under different topic. Let's say 'For solr advanced search (optional)' .

yes we have to trace all the callbacks and incoming parameters. Then let me double check again to find a clue to proceed with

[2016-08-02 17:48] jywarren commented on #642
Where is Solr actually activated, and where do you 'make it aware' of the
different models to index? That's the place to start. Great!

On Tue, Aug 2, 2016 at 1:31 PM, Ujitha Perera <notifications@github.com>
wrote:

[2016-08-02 19:27] david-days commented on #642
I've been pondering this, and it occurs to me that we may be able to add a section to the Gemfile that specifically deals with solr.  Then, as with the --without production, --without test, etc. users can install and skip these additional requirements.

Thoughts?

[2016-08-02 19:31] jywarren commented on #642
Ah, that would be fantastic. If we don't include the gems when we `bundle
install`, is there nowhere else in the code we need to "switch off" solr?

On Tue, Aug 2, 2016 at 3:27 PM, david-days <notifications@github.com> wrote:

[2016-08-02 20:34] david-days commented on #642
Well, without any other mitigation, the first effect would be that the functions that use solr (perhaps restricted to advanced search) would simply fail.  If a developer is working on location data (or rich editor, or internationalization, or anything that doesn't use advanced search), this would remove the overhead of solr with the understanding that the certain functionality would not be availab

[2016-08-02 21:23] jywarren commented on #642
I'd love try/catches, as an optimal solution. If we don't include the solr
gems, tests will fail, right?

Thanks!

On Aug 2, 2016 4:34 PM, "david-days" <notifications@github.com> wrote:

[2016-08-03 02:39] david-days commented on #642
I'm still new to Ruby testing (and that's part of the reason this last PR is taking so long), but it looks like you can set environmental values in the application, install, or runtime to handle test exclusions, as per [this page](http://jasontruluck.org/blog/testing/rspec/tricks/2013/06/06/Conditional-Exclusion-In-Rspec.html).

It's an extra couple of steps for the installation process, but I thi

[2016-08-03 03:33] jywarren commented on #642
Oh, that makes sense and is a relief to hear. It can be a challenge to
balance high level features with ease of installation, and I hope we don't
have to bend over backwards to find a compromise.

Thanks!

On Aug 2, 2016 10:39 PM, "david-days" <notifications@github.com> wrote:

[2016-08-03 03:52] david-days commented on #642
I will try to work with Ujitha on this step--he knows the install process for solr, and I can help with a bit of guidance if he needs it regarding where to put the test exclusion code.  We'll also add relevant sections to the install instructions on the README.md, as well.

[2016-08-03 16:42] jywarren commented on #642
+100000000 thanks all!

On Aug 2, 2016 11:52 PM, "david-days" <notifications@github.com> wrote:

[2016-08-03 19:15] jywarren opened #647 "error on starting new question with punctuation in title"
### What happened just before the problem occurred

@ananyo2012 - I typed "How do i ..." and pressed enter on /questions
### Relevant URLs

https://publiclab.org/questions_search/How%20do%20I%20...

Can you check that out? Maybe write a test for it, too? Thanks!

[2016-08-03 19:43] ujithaperera commented on #642
Thank you very much @david-days. I totally forgot this basic Gemfile configurations. This is a great solution for this kind of new implementations. You saved me.

@jywarren Thank you for being helpful. i really appreciate

[2016-08-03 20:10] david-days commented on #642
Not a problem--it's something I'm learning with respect to Ruby, but I've used this kind of mechanism many times over the years (httpd, Tomcat, IIS, C#, etc), so it was just a matter of finding out how Ruby/Rails does the same thing.

[2016-08-03 21:01] jywarren opened #648 "streamlined publishing assistance through guided comments"
@ebarry

[2016-08-03 21:05] jywarren commented on #648
For those subscribed to a tag like `request:assistance`, these could appear in the commenting box to suggest common helpful responses and tips for people drafting an experiment, question, hardware mod, etc.

Commenter would then be able to edit the comment before hitting "post".

@ebarry, we might call for input from community for what these responses could be for different types of posts.

[2016-08-03 21:38] ujithaperera commented on #642
Yeah ! Thank you for sharing your experiences with me. I always learn something new from you.

[2016-08-03 23:36] mathewlippincott opened #649 "block display of barnstars awarded by banned users"
I recently banned a spammer, user [zonawin:](https://publiclab.org/profile/zonawin)
![screen shot 2016-08-03 at 4 29 20 pm](https://cloud.githubusercontent.com/assets/1203280/17385457/ab2b07ee-5997-11e6-8f52-75f56ffbc010.png)

I found this spammer because they awarded me a Barnstar for [my research note](https://publiclab.org/notes/mathew/07-11-2016/sample-prep-for-passive-particle-monitors).  I w

[2016-08-04 02:29] jywarren commented on #648
I.e. if a post is marked "experiment" or "request:assistance" or something, a menu might appear people signed up as reviewers which contains prewritten suggested responses which can be elaborated on -- in the comment field.

[2016-08-04 13:03] jywarren commented on #649
Yeah, I agree it will take some thought. We also see spam accounts just
liking things to drive traffic/links to their profile pages, but without
showing up anywhere else. Maybe need input from @ebarry on this one.

On Aug 3, 2016 7:36 PM, "mathew lippincott" <notifications@github.com>
wrote:

[2016-08-08 19:18] ananyo2012 commented on #647
@jywarren This seems to be a general issue with the search query. The search box in the navbar also shows similar behaviour. Trying to fix this.

[2016-08-09 09:58] jywarren opened #656 "Remove "moderators@publiclab.org" from mailers in dev mode"
https://github.com/publiclab/plots2/blob/9cb76917efcff9c2d91ed2e403dc2417cd7c0bb1/app/mailers/admin_mailer.rb#L9

Otherwise running tests can inadvertently email the actual moderators list :-)

We could use a value set at the top of the page using `Rails.env`.

I think we should send to "test@publiclab.org" instead.

http://api.rubyonrails.org/classes/ActionMailer/Base.html shows how to set a defa

[2016-08-09 11:17] jywarren opened #657 "Replace instances of "publiclab.org" with Rails.root"
In an effort to make this system more broadly usable by other communities, we should use `Rails.root` or `Rails.root.to_s` instead of any instance of the string `"publiclab.org"` in this codebase. This should be a fairly straightforward find/replace.

[2016-08-10 08:18] ananyo2012 commented on #656
@jywarren I think this isn't required. Rails smartly handles tests and doesn't send any mails to the real world. Rather all mails are stored as array objects. See these lines in environments/test.rb https://github.com/publiclab/plots2/blob/master/config/environments/test.rb#L27-L30

[2016-08-10 08:22] ananyo2012 commented on #656
Ok sorry Jeff I thought you were referring mails sent while running Rails tests. You actually meant tests sent during development environment. Should have seen the title of the Issue more clearly. :-)

[2016-08-10 08:56] jywarren commented on #656
No problem -- yes, I think this may come up from time to time. Another way to do it would be to use `Rails.root` as the domain name of the email destination.

Finally, we may want to include "defaults" and "custom settings" for things like the moderators email, in a config.yml file.

[2016-08-10 13:37] ananyo2012 commented on #656
@jywarren I think the best thing to do is to set the Action Mailer delivery_method to `:file` in development. This way all the mails in development would go to the `tmp/mails` directory. Even a good way to monitor the mails in development environment. I have included the fixes in #659.

[2016-08-10 14:31] blakeyoder commented on #657
Mind if I take this one?

[2016-08-10 14:40] jywarren commented on #657
Please do! And I'd be happy to answer any questions or offer input, though
this one is pretty simple. Thanks!

On Aug 10, 2016 3:31 PM, "Blake Yoder" <notifications@github.com> wrote:

[2016-08-10 14:59] blakeyoder commented on #657
Awesome - been in Ruby and RoR for about 2 years now. Looking to get involved with an open source project. This will be my first commit to an open source project :)

[2016-08-10 15:36] ujithaperera commented on #642
@jywarren this issue is still exists in our solr implementation. @david-days and me are are working on this. can you please hold PR #652 until we post a fix.

[2016-08-10 17:43] jywarren commented on #642
Yep!

On Aug 10, 2016 4:37 PM, "Ujitha Perera" <notifications@github.com> wrote:

[2016-08-10 17:44] jywarren commented on #656
Oh great, thanks!

On Aug 10, 2016 2:37 PM, "Ananya Maiti" <notifications@github.com> wrote:

[2016-08-10 20:57] ebarry commented on #657
awesome to hear from you @blakeyoder !

[2016-08-11 17:13] david-days commented on #642
@jywarren ,

Ujitha and I have been through the code and the setup for solr and plots2 with a fine-toothed comb, and I believe that the easiest and best solution for this issue is what Ujitha originally proposed--adding the solr installation and run commands to the PLOTS2 README.md.  This would simply add a small section to the setup process and one command to the installation/run section of the g

[2016-08-12 09:53] jywarren commented on #656
I'm going to close this as it's essentially complete pending confirmation and final merge in #659. Thanks all!

[2016-08-12 09:53] #656 closed

[2016-08-12 18:12] jywarren commented on #642
Ok, I will try following the new instructions early next week on my ARM7
laptop, but not sure how smoothly that'll go. In the meantime we should see
how easy it is to install by asking some other students to try it out.
Thanks for looking into this!

On Aug 11, 2016 6:13 PM, "David C Days" <notifications@github.com> wrote:

[2016-08-15 12:54] jywarren commented on #240
Ah, completed in #601! Forgot to close it here -- thanks @chongr !

[2016-08-15 12:54] #240 closed

[2016-08-16 23:06] jywarren opened #667 ""answer has been accepted" email has a typo"
The word "author" was not replaced by a username or link. @ananyo2012 could you look into this? Not super urgent but let's get a fix in, thanks!

[2016-08-16 23:07] jywarren opened #668 "Profile page erroring after answering question"
https://publiclab.org/profile/warren

I just asked and answered a question: https://publiclab.org/questions/warren/08-16-2016/does-the-new-question-feature-work

Several projects have touched this page, so it could be something for @ananyo2012, @lalithr95, or @jiteshjha to look at? I'm checking the logs.

[2016-08-16 23:09] jywarren commented on #668
Found this error, so it looks like possibly @ananyo2012 could figure it out?

[code]

[2016-08-16 23:10] ananyo2012 commented on #667
@jywarren Well I actually did it on purpose as you can see it clearly mentions "the question author" i.e. whoever is the author of the question. Nevermind I will replace it with the actual author name.

[2016-08-16 23:10] jywarren opened #669 "Profile page erroring when not logged in"
In an incognito window, open any profile page, like:

https://publiclab.org/profile/liz

I see this error in the logs:

[code]

[2016-08-16 23:13] jywarren commented on #669
I believe this is @lalithr95's addition -- I'm issuing an urgent fix for this, as I think it's actually been deployed for a little bit. @lalithr95 -- can you write a test for this case? Just a simple functional test to ensure profile pages load when not logged in.

[2016-08-16 23:13] jywarren commented on #667
Sorry, Ananyo -- hang on a sec, there's a more urgent bug I'm working on
but I apologize if I misfiled this.

On Tue, Aug 16, 2016 at 7:10 PM, Ananya Maiti <notifications@github.com>
wrote:

[2016-08-16 23:14] ananyo2012 commented on #668
@jywarren Yes none of the profile pages are working now. Needs an urgent fix. Trying to fix this asap.

[2016-08-16 23:15] jywarren commented on #669
Actually line 42 of the public_pages_test (in integration tests) should have caught this. I'm not sure why it didn't?

[2016-08-16 23:15] jywarren commented on #668
Thanks! I'm also issuing an urgent fix for #669 so I can publish yours too.

[2016-08-16 23:19] jywarren commented on #669
On closer inspection, this is not urgent, as it largely overlaps with #668. However, once `params[:preview]` check is disabled, it *would* become urgent. I'm issuing this fix now, in any case.

[2016-08-16 23:19] jywarren commented on #669
So the integration test would have caught it but there were two overlapping bugs. Closing!

[2016-08-16 23:19] #669 closed

[2016-08-16 23:19] lalithr95 commented on #669
@jywarren I'm writing fix. You can merge best?

[2016-08-16 23:20] jywarren commented on #669
Already good, merging now. Thanks!

[2016-08-16 23:22] jywarren commented on #669
And resolved in #670.

[2016-08-16 23:22] jywarren commented on #668
Hi, @ananyo2012 -- i'll watch out for a new PR and can merge when you're ready.

[2016-08-16 23:22] lalithr95 commented on #669
Cool Thanks ! Deployed ?

[2016-08-16 23:24] jywarren commented on #669
Not yet -- waiting for ananyo's fix and we'll post both together.

On Tue, Aug 16, 2016 at 7:22 PM, Lalith Rallabhandi <
notifications@github.com> wrote:

[2016-08-16 23:25] jywarren commented on #667
You're correct, apologies again, I was just filing these issues as quickly as I could and misread it. Closing; this is not a bug! Great work, Ananyo!

[2016-08-16 23:25] #667 closed

[2016-08-16 23:29] lalithr95 commented on #669
Okay, We should probably start with any of the exception tracking systems, https://rollbar.com/ is good to start with. They allow free account for 1 project. We get these exception way before (after deploy) than  we discover.

What do you think ?

[2016-08-16 23:31] jywarren commented on #669
Hmm, interesting! I'm not familiar with it and will check it out.

We should also have continuous integration testing with TravisCI soon.

On Tue, Aug 16, 2016 at 7:29 PM, Lalith Rallabhandi <
notifications@github.com> wrote:

[2016-08-16 23:32] lalithr95 commented on #669
Yeah cool 👍

[2016-08-16 23:45] jywarren commented on #668
Ah, that's an `I18n` error. @jiteshjha - if you're around, maybe we can coord on Gitter.

[2016-08-16 23:47] jywarren commented on #668
aha i see #671 now

[2016-08-16 23:50] #668 closed

[2016-08-17 00:07] ananyo2012 commented on #554
@jywarren I think this can be closed now with merging of #628. We can perhaps make a new issue with design ideas in future.

[2016-08-17 10:09] ananyo2012 opened #672 "Tag sort needs refresh to work properly"
### What happened just before the problem occurred

Well I don't know why this is happening. When I try to add a new tag or remove a tag from the Tag sort in the questions page the results doesn't get sorted and neither the tags are displayed at the beginning. After I do a page refresh then after it starts working correctly. Same goes for the Clear all tags. Though I see it working perfectly in de

[2016-08-17 13:42] ananyo2012 commented on #319
@jywarren Well this Issue already is related to User streaks. But the ideas have changed over time. Making a new issue would lead to a redundancy? So should I make a new one on User streaks and then this should be closed or we can update this one?

[2016-08-17 14:01] jywarren commented on #319
We could close this one and link to a new one which briefly summarizes the current state -- that way it'll be more readable but still linked here.

But also, we might consider that since this requires some overall design thinking, not really just coding, that we could leave it as-is (or with a brief status summary at top) since it might be too early for a coder to take on.

[2016-08-17 14:01] jywarren commented on #554
Agreed! 👍

[2016-08-17 14:01] #554 closed

[2016-08-17 14:04] ananyo2012 opened #673 "Should a new type: question introduced for question nodes?"
This is related to the discussion in the plots-dev list on the similar topic. Here is the link: https://groups.google.com/forum/?hl=en#!topic/plots-dev/evzUcvLiQVI. Now that the new Q & A system is live on the publiclab.org website it's time to think over this issue.

In the current Q & A system questions are actually notes power tagged with a `question:foo` tag. So the create, update, delete acti

[2016-08-17 14:06] jywarren opened #674 "stray flash message "Your preference has been saved" shows on a page after editing location tags"
### What happened just before the problem occurred

I went to `/editor`, and saw the message `Your preference has been saved` -- but I hadn't been editing the location tags since yesterday. I think this line:

https://github.com/publiclab/plots2/blob/eb2cc80f1c12abb1ebbf701079205c39065e8f55/app/controllers/users_controller.rb#L255

...needs work -- flash messages are displayed only after a redirec

[2016-08-17 14:07] ananyo2012 commented on #319
Ok I will ensure that there is enough references regarding this.

[2016-08-17 14:54] jywarren opened #676 "Deep-linking to a collapsed comment on a Question page doesn't show the comment"
https://publiclab.org/questions/AndrewJamesLaplante/06-12-2016/question-how-to-rename-a-set#answer-comment-15148

@ananyo2012  -- this is because the comment is hidden -- can we detect that there's a hashed "deep link" and open it?

[2016-08-17 14:54] jywarren opened #677 "Comments on answers don't appear in the main Dashboard comment feed"
https://publiclab.org/questions/AndrewJamesLaplante/06-12-2016/question-how-to-rename-a-set#answer-comment-15148

@ananyo2012 - not sure how this is set up, but would you mind taking a look? Thanks!

[2016-08-17 14:56] jywarren commented on #672
I'm looking at this now, but a quick note is that I think you can remove the "banners" from the left sidebar, so the sort interface is easier to find.

[2016-08-17 15:03] jywarren commented on #672
Hm, when I type in "drone" and press enter, the page refreshes and I see the one question tagged "drone" -- so it seems to work for me?

I'm curious, though, maybe we should use the URL instead of a session, if we're already going to be refreshing the page? We could do `/questions/drone` or `/questions/tag/drone`?

[2016-08-17 15:36] steviepubliclab commented on #638
I'm still having a problem with this on chrome, but it seems to be working on my Safari.

[2016-08-17 15:36] jywarren commented on #638
wonder if this is related to sessions in
https://github.com/publiclab/plots2/issues/672 ?

stevie can you try looking in chrome in incognito mode?

On Wed, Aug 17, 2016 at 11:36 AM, steviepubliclab <notifications@github.com>
wrote:

[2016-08-17 15:52] steviepubliclab commented on #638
It does show up in my incognito window. Strange.

On Wed, Aug 17, 2016 at 10:36 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-08-17 16:21] Fastie opened #678 "Answers to Questions are truncated at 255 characters"
### What happened just before the problem occurred
I posted an answer to a question

### Relevant URLs

https://publiclab.org/questions/shubham/08-17-2016/how-to-neutralize-remove-the-source-s-spectra-to-obtain-absorption-spectra
### PublicLab.org username
cfastie
(to help reproduce the issue)

### Browser, version, and operating system
chrome, windows

[2016-08-17 16:23] Fastie opened #679 "Drag and dropping photos fails in comments on questions"
### What happened just before the problem occurred
dragged a photo into a comment (not an answer) to a question

### Relevant URLs

https://publiclab.org/questions/shubham/08-17-2016/how-to-neutralize-remove-the-source-s-spectra-to-obtain-absorption-spectra

### PublicLab.org username
cfastie
(to help reproduce the issue)

### Browser, version, and operating system
chrome, windows

[2016-08-17 16:26] Fastie opened #680 "Submitting an answer to a question opened a note from 2010"
### What happened just before the problem occurred
I clicked submit to post an answer to a question. I was taken to this note:
https://publiclab.org/notes/warren/12-14-2010/plant-spectral-timelapse-7hrs
 with this error:
"Only the author of the comment can edit it."

### Relevant URLs

https://publiclab.org/questions/shubham/08-17-2016/how-to-neutralize-remove-the-source-s-spectra-to-obtain-absorp

[2016-08-17 16:28] ananyo2012 commented on #638
@steviepubliclab was having this problem before the changes were published. Don't think this is related to #672

[2016-08-17 16:31] ananyo2012 commented on #679
@Fastie actually I have designed the comments for asking any clarifications or conversation. It just has limited markdown support. For detailed explanations like using images please choose to answer.

[2016-08-17 16:33] Fastie commented on #679
That's a fine solution, except that everywhere else at publiclab.org you can drop an image (and other types of files) into a comment. So this introduces some inconsistency.

[2016-08-17 16:34] ananyo2012 commented on #680
@Fastie Solving this asap

[2016-08-17 16:37] Fastie commented on #680
This only happened once and at other times submitting an answer worked normally (except for the truncation). I'm sorry I don't have better information about what might have caused this, but it seemed like a clue that something was weird.

[2016-08-17 16:37] ananyo2012 commented on #679
Yes actually Q & A pages have a slightly different structure than other notes and wiki pages. You can see the answer editor in the Q & A pages supports the toolbar which is unlike to the comment editor in notes pages where the toolbar is absent. I will sum up a complete documentation on the Q & A pages in a wiki soon.

[2016-08-17 16:41] jywarren commented on #638
I just meant that it could relate to sessions, so I wonder if a broader fix
to sessions could resolve both?

On Wed, Aug 17, 2016 at 12:28 PM, Ananya Maiti <notifications@github.com>
wrote:

[2016-08-17 16:43] jywarren commented on #678
Maybe the answer body text is being stored in a string column instead of a text column?

[2016-08-17 16:48] ananyo2012 commented on #678
Yes that might be the case. Just looking at it. Fixing all the issues sequentially.

[2016-08-17 17:31] ananyo2012 opened #681 "Make "Answering" HTML Responsive for smartphone use"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either haven't **contributed to our codebase before, or even folks who haven't contributed to open source before**. If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted issues](https://github.com/publiclab/plots2/labels/help-wanted

[2016-08-17 19:33] lalithr95 commented on #674
I'll fix this, flash need to be updated in redirect.

[2016-08-17 19:34] lalithr95 commented on #674
Thanks for the invite to PublicLab 👍  🎉

[2016-08-17 20:19] jywarren opened #682 "Wiki pages broken where title and path did not match, or where path did not include "wiki""
https://publiclab.org/openhour for example, which is now available at https://publiclab.org/wiki/openhour

Other pages like https://publiclab.org/wiki/about are affected because it's title was "About Public Lab" and so its new URL is https://publiclab.org/wiki/about-public-lab

This is high urgency; many, including some of our most important pages. are affected.

This is related to the `friendly_i

[2016-08-17 20:26] jywarren commented on #682
I can confirm that [the test here](https://github.com/publiclab/plots2/blob/master/test/functional/wiki_controller_test.rb#L88) did not actually test the format of the root level path.

And the error on the server log is:

[code]

[2016-08-17 20:42] jywarren commented on #682
OK, I believe it's because due to the new `friendly_id` system, root-level wiki routing never reaches this line, and so is not directed to the `def root` method in the wiki controller: https://github.com/publiclab/plots2/blob/master/config/routes.rb#L278

[2016-08-17 20:45] jywarren commented on #682
I'd also like to peg `friendly_id` to a version -- tests were passing on my dev machine at `v4.0.10.1`.

[2016-08-17 20:54] jywarren commented on #682
I actually am having trouble recreating this condition on my development machine, because if I set `node.path = '/about'` then save it, it doesn't actually change the path, probably due to some friendly_id filter:

[code]

I have to go, i have a phone call for 30 mins and will return to this after.

[2016-08-17 21:00] ebarry opened #683 "Add "Log in with Facebook" for new accounts"
(later following up with twitter/other social media)

OmniAuth is a great starting point: https://github.com/omniauth/omniauth

Let's begin with Facebook!

See these "strategies" to support FB, Twitter, Google, etc:

https://github.com/omniauth/omniauth/wiki/List-of-Strategies

****

@steviepubliclab - starting this issue here :)

[2016-08-17 21:50] carolineh101 commented on #681
Hello, I'd like to help out with this issue!

[2016-08-17 22:01] jywarren commented on #681
Oh, that'd be great! Please do, and feel free to reach out for any
assistance you need. Thanks!

On Wed, Aug 17, 2016 at 5:50 PM, Caroline Ho <notifications@github.com>
wrote:

[2016-08-17 22:03] jywarren commented on #683
can you elaborate? You mean "log in with Facebook", right?

On Wed, Aug 17, 2016 at 5:00 PM, Liz Barry <notifications@github.com> wrote:

[2016-08-17 22:23] jywarren commented on #682
Ack! Mistake -- the above server log was for `/wiki/receipts`. The request for `/receipts` was:

[code]

I think the new migration here: https://github.com/publiclab/plots2/blob/master/db/migrate/20160816094642_seed_slugs_column.rb#L3 caused the url to change. Checking.

[2016-08-17 22:27] jywarren commented on #682
The `/receipts` page is nid 4181. Unfortunately the page slug has been changed to match the title:

[code]

[2016-08-17 22:31] jywarren commented on #682
This is not just root level wiki pages; `/wiki/organizers` was changed to `https://publiclab.org/wiki/public-lab-organizers`. I believe the migration mentioned above has made all slugs match titles, which broke many existing URLs. I think this may not even be a root wiki issue, but a batch migration renaming issue.

[2016-08-17 22:49] jywarren opened #684 "Peg `friendly_id` to a version, as v4 and v5 are not compatible"
tests were passing on my dev machine at `v4.0.10.1`

[2016-08-17 22:55] jywarren commented on #682
I believe all previous paths were lost with the migration. Looking into a script to recover all previous wiki page URLs -- there are 1014 wiki pages.

Maps also seem to be broken: https://publiclab.org/map/barataria-site-abh2-barataria-bay-louisiana/07-25-2014

[2016-08-17 22:56] jywarren commented on #682
I'm considering what it would take to do a full reversion of `friendly_id` code, since there are multiple issues here.

[2016-08-17 22:57] david-days commented on #682
Looking at models/drupal_node.rb right now--I had to dig through this url-matching setup to figure out how to make searches work

[2016-08-17 22:59] jywarren commented on #682
We have good database backups, so we'll be able to recover any lost data; that's not a big deal. Of 1014 wiki pages, probably only a couple dozen have different titles from their paths.  Structurally though, removing `friendly_id` which was merged about a dozen PRs back, would be challenging.

[2016-08-17 23:05] jywarren commented on #682
I'm checking out the maps issue now before taking next steps

[2016-08-17 23:11] jywarren commented on #682
All right; my action plan is:

1. find how many wiki pages either lacked the word "wiki" (were root-level) or had titles different from their paths, and store a copy
2. resolve map routes issue
3. find how to change the current URL of a node
4. find how to stop a `save` from changing a path
5. decide whether to excise `friendly_id` code to accomplish 2, 3 and 4
6. code around `friendly_id` or exci

[2016-08-17 23:32] jywarren commented on #682
Also looking here: http://stackoverflow.com/questions/24454926/unable-to-change-url-path-after-updating-attributes-with-friendly-id#24466172

[2016-08-18 00:18] jywarren commented on #682
* I've figured out how to modify the code to manually set `node.path`, and let it remain preserved across `node.save`s.
* I'm recovering all previous node paths from a database dump from 7/28/16, and have confirmed that no wiki pages were retitled or created with non-matching title/paths since then.

[2016-08-18 00:40] jywarren commented on #682
Fixes enabling recovery of wiki paths (in followup script) here: #685

[2016-08-18 00:45] jywarren commented on #682
Moving map issue to it's own issue: #686

[2016-08-18 00:46] jywarren opened #686 "Maps not loading following friendly_id changes"
https://publiclab.org/map/barataria-site-abh2-barataria-bay-louisiana/07-25-2014 is not loading, as are other maps.

Oddly, tests didn't catch this, so we need better tests.

[code]

Will fix tomorrow after recovering #682.

[2016-08-18 01:01] jywarren commented on #682
Next steps will be:

1. run query in rails console on recovery database to find all wiki pages whose title does not match their path
2. generate a nested array of `[[nid, path]]` for copy/paste
3. switch to live db and iterate over, and set path for each nid and save
4. confirm https://publiclab.org/wiki/about, https://publiclab.org/openhour, https://publiclab.org/wiki/organizers

[2016-08-18 02:20] ananyo2012 commented on #682
I am really very sorry Jeff! It was a very big mistake from my part. I had
missed it out. What I should have have done was to save all the previous
urls in the history module and then only change the slugs! I big mistake
from my part!
ᐧ

On Thu, Aug 18, 2016 at 4:01 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-08-18 02:29] jywarren commented on #682
That's OK -- don't worry about it. I think only 10-20 pages are affected
and we have a good database backup to work from. I want to think about how
we can improve our tests and even our testing procedure to catch things
like this in the future. But also -- read over my fixes -- is it OK for
`friendly_id` to simply not update on title change? Or will we have to make
more significant changes? All te

[2016-08-18 02:43] carolineh101 commented on #681
I'm having a bit of trouble with the tests after installment – when I run `rake test:all`, I get "0% passed."

[2016-08-18 02:47] ananyo2012 commented on #681
@carolineh101 Yes you will see see 0% passes. That's fine. Just see you get all green and no errors during test.

[2016-08-18 02:47] carolineh101 commented on #681
Ok, thanks!

[2016-08-18 02:47] jywarren commented on #681
Try just "rake test" -- it's unlikely you've made changes which would
affect JavaScript anyhow.

On Aug 17, 2016 10:43 PM, "Caroline Ho" <notifications@github.com> wrote:

[2016-08-18 02:54] ananyo2012 commented on #686
@jywarren Actually all fixtures in test have the same name and url. So tests didn't catch this. But many pages in the production already had different titles and urls. So we missed this case and that caused the Havoc!

[2016-08-18 03:26] ananyo2012 commented on #682
@jywarren Yes some more changes are needed at the controllers since they too find the nodes using the friendly_id slug. I will be seeing that. But I think the easiest solution would be if possible is to change the title according to the previous url. That would save the slugs in the friendly_id slug table. And then we can change to new title any time and the old urls would redirect to the new ones

[2016-08-18 03:46] carolineh101 commented on #681
How would you like the layout to look?  Currently, I have only changed the design so that the edit and delete buttons are within the container, as seen below.

![screen shot 2016-08-17 at 8 42 38 pm](https://cloud.githubusercontent.com/assets/17236117/17761347/36e609d6-64bb-11e6-8f34-fd81711c1ada.png)

[2016-08-18 03:54] ananyo2012 commented on #681
Can you somehow adjust the view so that the edit and delete buttons comes just beside the comments as in larger screen widths and the comment body wrap in multiple lines?

[2016-08-18 03:55] jywarren commented on #682
OK, I've reset the wiki paths from a recovered database, thanks to @skillfullycurled. All the ones I mentioned seem to work except /wiki/organizers. I'm not sure what's up with that one.

[2016-08-18 04:00] jywarren commented on #682
I'm not sure what's up with the organizers page; it was in the list I generated of wiki pages whose titles did not match their paths in the pattern `/wiki/parameterized-pagename` -- I'm posting that list here: https://gist.github.com/jywarren/11f32f5ea891ad9bfe5807210a3400ef -- `[1805,"Public Lab organizers","/wiki/organizers"]`

[2016-08-18 04:01] jywarren commented on #682
Perhaps this is still a `friendly_id` issue. The error is:

[code]
However, I can see the record:
[code]

[2016-08-18 04:01] jywarren commented on #682
Can you take a look, Ananyo? I'm going to sleep! phew

[2016-08-18 04:07] ananyo2012 commented on #682
Yeah I am on it Jeff! Have some rest. I will figure what the problem is.

[2016-08-18 04:29] ananyo2012 commented on #682
This is because the finding is still based on slugs. Need to revert to finding nodes by path. Please hang on a bit. I am going to send in a PR soon.

[2016-08-18 06:03] carolineh101 commented on #681
How does this look? I added media queries to resize the comment width depending on screen size (no change to original layout if not a phone, using Bootstrap's "xs" definition of 768 pixels or fewer).

iPhone 6s test
![screen shot 2016-08-17 at 10 58 52 pm](https://cloud.githubusercontent.com/assets/17236117/17763562/4a78595a-64ce-11e6-963b-2aed723c3739.png)

iPhone 4s test
![screen shot 2016-08-17

[2016-08-18 06:33] ananyo2012 commented on #681
Oh this looks perfect! Can you now make the comment form responsive too? It should follow the same logic. Make the profile icon the textarea and submit button in the same line. You should also take care that the edit form aligns as well which is basically the same form. You can perhaps use a different Submit icon for smaller screen widths so that it fits well.

[2016-08-18 07:29] ananyo2012 commented on #681
@jywarren How about using this icon http://fontawesome.io/icon/reply/ for submit button at smaller screen widths?

[2016-08-18 08:57] ananyo2012 commented on #684
Yes indeed it is. But friendly_id 5.0 isn't compatible with Rails 3. By default the compatible version is friendly_id 4 and that is what get installed with `bundle install`. I don't think we need to mention the version no.

[2016-08-18 13:50] jywarren commented on #681
Sounds great. I'm curious if you were able to put the CSS into a
comments.css file -- if not, no worries and it's fine to do that later. But
it'll help keep the more complex CSS work compartmentalized.

Great work, Caroline! When you're ready, please open a pull request from a
named feature branch and we can look over the code. Happy to offer input on
that process too.

On Aug 18, 2016 3:29 AM, "A

[2016-08-18 13:51] jywarren commented on #681
Also, I'm curious how you came across the project? We're doing our best to
make our code welcoming to new contributors and it helps to know what's
working :-)

On Aug 18, 2016 9:50 AM, "Jeffrey Warren" <jeff@unterbahn.com> wrote:

[2016-08-18 13:54] ebarry commented on #681
Hi Caroline @carolineh101 <https://github.com/carolineh101>! Great to meet
you :D

--

+1 336-269-1539
@lizbarry <http://twitter.com/lizbarry>

On Thu, Aug 18, 2016 at 9:51 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-08-18 14:05] jywarren commented on #684
Maybe we can just leave a comment in the gemfile for future notice, when we
do a rails 4 port.

On Aug 18, 2016 4:57 AM, "Ananya Maiti" <notifications@github.com> wrote:

[2016-08-18 14:07] jywarren commented on #686
Oh, so the map failure is the same issue, and this map simply didn't have
the same name as its URL? Does your pr fix this then too?

Thanks!

On Aug 17, 2016 10:54 PM, "Ananya Maiti" <notifications@github.com> wrote:

[2016-08-18 14:09] jywarren commented on #682
Thanks.

On Aug 18, 2016 12:29 AM, "Ananya Maiti" <notifications@github.com> wrote:

[2016-08-18 14:10] jywarren commented on #682
Also, do you think we have to amend the migration that saved all nodes?
It's a slim chance but if someone else ever runs that again, on the live or
another instance, it could cause trouble again. Maybe best to either
comment it out or add the history generating command before it.

On Aug 18, 2016 10:08 AM, "Jeffrey Warren" <jeff@unterbahn.com> wrote:

[2016-08-18 14:18] ananyo2012 commented on #682
Actually the migration just resaves all nodes. Now that we have comment out
the update_path method it won't cause any problems
ᐧ

On Thu, Aug 18, 2016 at 7:40 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-08-18 14:20] ananyo2012 commented on #686
Yes the PR reverts all the friendly_id finders in the controllers. But you
also have to import the notes and maps as well that were having a url and
title mismatch. Sorry again Jeff! It was really a big fault missing this
out.
ᐧ

On Thu, Aug 18, 2016 at 7:37 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-08-18 14:21] jywarren commented on #682
Yes, but if anyone has a previous version of the codebase running (we don't
know of any, but it's possible) they might upgrade through this process.
It's a really rare possibility but I'd like to be thorough.

Also just thinking through all the different follow-ups we should do after
last night. Thanks!

On Aug 18, 2016 10:18 AM, "Ananya Maiti" <notifications@github.com> wrote:

[2016-08-18 14:24] jywarren commented on #686
Oh ok, I'll look at doing that today, it could occur if someone edited
their note title after publishing.

No worries! This can happen in big upgrades, we have good backups, and
nothing was lost. Let's just think hard about better tests to catch things
like this.

For example, would the tests have caught this since we don't run the
migration between test fixture creation and test assertions? Maybe

[2016-08-18 14:33] ananyo2012 commented on #686
Yes we just have to write better tests for that. I wrote one this time to
detect this behavior. I think Migrations do run everytime while running the
test suite to construct the test database with the fixture data. Every time
when tests run a fresh database is constructed. We just have to think of
all edge cases that might occur.
ᐧ

On Thu, Aug 18, 2016 at 7:54 PM, Jeffrey Warren <notifications@gi

[2016-08-18 14:41] ananyo2012 commented on #682
Ok then we should probably remove the migration?
ᐧ

On Thu, Aug 18, 2016 at 7:51 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-08-18 14:42] ebarry opened #689 "Can't create new wiki page by typing in direct URL"
### What happened just before the problem occurred

attempted to create new wiki page by typing in a direct URL.
I was able to create a new page by going to https://publiclab.org/wiki/new

### Relevant URLs

https://publiclab.org/wiki/community-development-projects

### PublicLab.org username

liz

### Browser, version, and operating system

Chrome, OSX 10.11.3

[2016-08-18 14:53] jywarren commented on #689
We also don't have a test for this. https://publiclab.org/wiki/community-development-projects now exists, but https://publiclab.org/wiki/community-development-projects2 does not (for testing) -- any non-existing page should display a form for a new page of that name.

Liz, didn't it used to put the title in the title field? We could do this better than we had, too -- like a "deparameterize" -- `/w

[2016-08-18 15:08] ebarry opened #690 "Lost wiki page for foldable-spec"
### What happened just before the problem occurred

Attempted to follow link to https://publiclab.org/wiki/foldable-spec from where it was linked on /spectrometry

### Relevant URLs

https://publiclab.org/wiki/foldable-spec
https://publiclab.org/wiki/spectrometry

### PublicLab.org username

liz

[2016-08-18 15:11] jywarren commented on #686
I'm not sure about this -- https://publiclab.org/map/chandeleur-islands-louisiana/05-24-2011 has the name "Chandeleur Islands, Louisiana", which parameterizes to `chandeleur-islands-louisiana` -- so why is the page broken? I may merge in #687 and keep chasing this after if it's not fixed by that.

[2016-08-18 15:12] jywarren commented on #682
I'll do it in merging #687, just to be sure. Checking that now.

[2016-08-18 15:12] jywarren commented on #682
Can you work on https://github.com/publiclab/plots2/issues/689 in the meantime?

[2016-08-18 15:19] jywarren opened #691 "Clean up commented code from fixes in #687 and #685, other followups"
* [x] scan through [changed files in 687](https://github.com/publiclab/plots2/pull/687/files) for commented code, and remove
* [x] same for [685](https://github.com/publiclab/plots2/pull/685/files)
* [x] remove "save all nodes" migration just in case
* [x] write tests to prevent this in future (list these here if not already done)

[2016-08-18 15:19] jywarren commented on #682
Also, let's make a checklist for cleaning up commented code after this: #691

[2016-08-18 15:21] jywarren commented on #690
That's odd, it's represented in the list I re-imported: `[5215,"Foldable
Mini-Spectrometer","/wiki/foldable-spec"]` -- will check the logs. Liz,
when you submit things, can you say exactly what you see, like "not found"
or "error" -- it helps us solve things a bit quicker. Thanks!

On Thu, Aug 18, 2016 at 11:08 AM, Liz Barry <notifications@github.com>
wrote:

[2016-08-18 15:52] jywarren commented on #686
OK -- found that the map path issue may be the ordering of year/month/day:

[code]

[2016-08-18 15:52] jywarren commented on #686
Some early maps I think used the wrong format. We need to preserve original URLs, so I'll import those too from the backup db.

[2016-08-18 15:58] jywarren commented on #686
OK -- this still doesn't load but I think it's to do with the slugs needing to be regenerated? https://publiclab.org/map/chandeleur-islands-louisiana/2010-05-09

[code]

[2016-08-18 15:58] jywarren commented on #686
But old mismatched map paths are now imported.

[2016-08-18 16:03] jywarren commented on #682
As ananyo pointed out this also affects nodes; I'm importing previous node paths and one way that they differ is that month is sometimes presented in `DD-M-YYYY` format instead of the now-standard `DD-MM-YYYY` format. See here the old record as I'm importing it, and the new record after the faulty migration:

[code]

[2016-08-18 16:09] jywarren commented on #682
Old notes paths now imported. This page still doesn't work, but maybe will pending #687: https://publiclab.org/notes/warren/12-7-2010/toy-spectrometers-arrived

[2016-08-18 16:11] ananyo2012 commented on #689
@jywarren Ok trying to fix this one too

[2016-08-18 16:13] ananyo2012 commented on #690
I think this will also get fixed with #687

[2016-08-18 16:13] ebarry commented on #689
yes @jywarren, this method did used to  take what had been typed into the URL bar and use it as the page title. It would be cool to bring that feature back better than ever.

[2016-08-18 16:16] ananyo2012 commented on #686
Yes the finders in the controllers are still using the slugs. This will be fixed with #687

[2016-08-18 16:17] jywarren commented on #682
OK, with #687, that page and https://publiclab.org/wiki/organizers are back up. Also https://publiclab.org/openhour and https://publiclab.org/about. Great!

[2016-08-18 16:17] #682 closed

[2016-08-18 16:18] ananyo2012 commented on #691
Actually I wanted to keep the code commented in case we wanted to revisit it in future.

[2016-08-18 16:18] jywarren commented on #686
OK -- i think we need to look at this more closely -- https://publiclab.org/map/chandeleur-islands-louisiana/2010-05-09 and https://publiclab.org/map/chandeleur-islands-louisiana/05-24-2011 still don't load.

[2016-08-18 16:19] jywarren commented on #691
That's fine, but we should leave informative comments next to it, so people know what it is and where to find discussion on github. Thanks!

[2016-08-18 16:19] ananyo2012 commented on #691
Ok sure we can do that. You can assign this one to me.

[2016-08-18 16:21] jywarren commented on #686
The record for the first one in the db is:

` => #<DrupalNode nid: 194, vid: 4500, type: "map", language: "", title: "Chandeleur Islands, Louisiana", uid: 1, status: 1, created: 1303858064, changed: 1471535805, comment: 2, promote: 1, moderate: 0, sticky: 0, tnid: 0, translate: 0, cached_likes: 1, drupal_comments_count: 1, drupal_node_revisions_count: 21, path: "/map/chandeleur-islands-louisiana/2

[2016-08-18 16:22] jywarren commented on #686
That's odd, the slug doesn't match. I will check if that was the case in the original backup db.

[2016-08-18 16:22] jywarren commented on #686
The original record was:

` => #<DrupalNode nid: 194, vid: 4500, type: "map", language: "", title: "Chandeleur Islands, Louisiana", uid: 1, status: 1, created: 1303858064, changed: 1405863560, comment: 2, promote: 1, moderate: 0, sticky: 0, tnid: 0, translate: 0, cached_likes: 1, drupal_comments_count: 1, drupal_node_revisions_count: 21, path: "/map/chandeleur-islands-louisiana/2010-05-09", main_i

[2016-08-18 16:28] ananyo2012 commented on #686
Ok I have made a mistake again! Problem is in this method: https://github.com/publiclab/plots2/blob/master/app/models/drupal_node.rb#L673-L675. The maps are found by this: https://github.com/publiclab/plots2/blob/master/app/controllers/map_controller.rb#L19

[2016-08-18 16:28] jywarren commented on #686
OK, here's the problem: `date` was, in maps, not the `created` field, transformed, as shown here:

` "/map/#{self.title.parameterize}/#{Time.at(self.created).strftime("%m-%d-%Y")}"`

It's actually supposed to be the date the map was crafted by its creator, not the publication date of the record. So that data is currently uniquely saved in the path, and can't be generated (it was originally generat

[2016-08-18 16:29] jywarren commented on #686
Great -- so we need to regenerate the slugs, but based on the `path`, not the `created` timestamp.

[2016-08-18 16:31] ananyo2012 commented on #686
Just hang on a sec Jeff! I am sending a PR soon along with a test. No tests for maps right now!

[2016-08-18 16:37] jywarren commented on #686
Yep. I'm thinking though that the `friendly_id` slug generation code is here: https://github.com/publiclab/plots2/blob/master/app/models/drupal_node.rb#L37

suggest:

[code]

[2016-08-18 16:38] jywarren commented on #686
It has to account for new maps, and also maps where there's a pre-existing `path` and we're just "upgrading" the record with a slug.

[2016-08-18 16:39] jywarren commented on #690
Fixed!

[2016-08-18 16:39] #690 closed

[2016-08-18 16:43] ananyo2012 commented on #686
Ok I will keep this in mind in case we need to  revisit this in future. For now we just need to `find_map` method since the slugs are not currently used now. They are just populated with the node data.

[2016-08-18 16:51] jywarren commented on #691
Great. Maybe we can consolidate all `friendly_id` possible followup and a summary of the current state in one issue, including the maps slugs change [referenced here](https://github.com/publiclab/plots2/issues/686#issuecomment-240781745).

[2016-08-18 17:11] jywarren commented on #686
OK i'm stepping out for lunch but will keep an eye open. Thanks!

[2016-08-18 18:37] carolineh101 commented on #681
I worked on making the comment form responsive.  Here's how it looks at the moment:

iPhone 6s test
![screen shot 2016-08-18 at 11 28 59 am](https://cloud.githubusercontent.com/assets/17236117/17785860/512b25a2-6537-11e6-909a-94214aaa64e4.png)

Mac test
![screen shot 2016-08-18 at 11 29 27 am](https://cloud.githubusercontent.com/assets/17236117/17785861/51343782-6537-11e6-81eb-68e8d546d0fe.png)

@

[2016-08-18 18:51] ananyo2012 commented on #681
Oh this really looks good now! Nice to meet you too @carolineh101 ! We are having more and more contributors in plots2! Just to be sure can you confirm that that the comment box has the expandable feature as you type in for smaller screen width? Probably post a screenshot how it looks now?

I was thinking that perhaps we should remove the profile icon beside the comment textarea as it looks quite

[2016-08-18 19:31] jywarren commented on #686
Great, merged -- and all good, it seems! https://publiclab.org/map/chandeleur-islands-louisiana/2010-05-09 https://publiclab.org/map/barataria-site-abh5-east-barataria-bay-louisiana/07-25-2014

[2016-08-18 19:31] #686 closed

[2016-08-18 19:32] jywarren commented on #686
Thanks @ananyo2012 for the quick fixes! Just need to wrap up #689 and #691 now.

[2016-08-18 19:50] ananyo2012 commented on #684
Ok I will do it.

[2016-08-18 20:02] ananyo2012 commented on #680
Ok I figured out what might have have occurred. Problem was in this line: https://github.com/publiclab/plots2/blob/master/app/views/comments/_edit.html.erb#L1. The form action is decided by the controller. What might have happened is you submitted an answer and soon after that you pressed the edit button of the answer and pressed submit. Since initially the created answer was due to a ajax request

[2016-08-18 20:04] ananyo2012 commented on #680
Anyways this is addressed in PR #692 and will be fixed soon!

[2016-08-18 20:07] ananyo2012 commented on #679
@jywarren Should we close this since I intended to use comments for conversations or clarifications in Q & A pages?

[2016-08-18 20:18] ananyo2012 commented on #678
Addressed in #692

[2016-08-18 20:18] ananyo2012 commented on #684
Include in #692

[2016-08-18 21:01] ananyo2012 commented on #689
@jywarren I think this is solved now. I typed in a wiki page in the url https://publiclab.org/wiki/a new wiki page and it is taking me to the new wiki editor. Obviously it only happens when I am logged in. @ebarry Can you confirm this is solved?

[2016-08-18 21:08] ananyo2012 commented on #691
@jywarren I think tests included in #685, #687, #693 should suffice. What do you think?

[2016-08-18 21:29] ananyo2012 commented on #677
@jywarren Actually comments for answers don't show up since they don't have a direct parent. They are related through the answers. I will add answer comments in dashboard as well but will slightly change the view for this.

[2016-08-18 21:37] carolineh101 commented on #681
Expanding seems to work:

![screen shot 2016-08-18 at 2 33 17 pm](https://cloud.githubusercontent.com/assets/17236117/17791596/cac92d28-6550-11e6-964d-0afec5d79d3f.png)

Would you like me to remove the profile icon beside both comment text areas, or only from one of them?  And would you like it removed only for phone screen widths or for all widths?

[2016-08-18 21:45] jywarren commented on #689
Great, agreed, it works: https://publiclab.org/wiki/foofoo

Sorry, i haven't checked -- is there a test for this now?

[2016-08-18 22:10] jywarren commented on #691
It's the end of the day here so I think I'll go through these carefully
tomorrow along with the other PRs, but I'm sure you've been thorough.
Thanks!

On Thu, Aug 18, 2016 at 5:08 PM, Ananya Maiti <notifications@github.com>
wrote:

[2016-08-18 22:23] jywarren commented on #681
Maybe only for the narrowest widths -- and only beside the inputs, but both
of them... thanks, Caroline! A little left/right padding on the top bar
just below "1 Answers" would also be great. But you know, it's also fine to
just call this one complete and file a PR... we don't want to ask you to
bite off too much in a single issue! Very happy to have your contribution.

On Thu, Aug 18, 2016 at 5:3

[2016-08-18 22:24] jywarren commented on #680
Great sleuthing!

On Thu, Aug 18, 2016 at 4:04 PM, Ananya Maiti <notifications@github.com>
wrote:

[2016-08-18 22:39] carolineh101 commented on #681
Ok! Does this look good? If so, I'll go ahead and submit a PR.

![screen shot 2016-08-18 at 3 37 56 pm](https://cloud.githubusercontent.com/assets/17236117/17793108/d7d3634a-6559-11e6-91dc-ae84a16ebeb8.png)

[2016-08-18 22:40] jywarren commented on #681
Yeah, looks great!

On Aug 18, 2016 6:39 PM, "Caroline Ho" <notifications@github.com> wrote:

[2016-08-18 23:01] carolineh101 commented on #681
I've created a pull request!

[2016-08-18 23:49] BeckiC opened #697 "Some legacy wiki URLs not preserved"
### What happened just before the problem occurred

Tried to click the menu bar link for the "How we're funded" page. There is now no content.

### Relevant URLs

https://publiclab.org/wiki/how-public-lab-funded

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete t

[2016-08-19 04:00] ananyo2012 commented on #697
@jywarren Jeff could you see this. I think this one is affected too.

[2016-08-19 04:28] ananyo2012 commented on #681
@carolineh101 This looks great now! :+1:

[2016-08-19 06:03] ananyo2012 commented on #689
Uh just checking it.

[2016-08-19 06:18] ananyo2012 commented on #689
Test included in #695

[2016-08-19 06:20] ananyo2012 commented on #637
Closing this solved in #628

[2016-08-19 06:20] #637 closed

[2016-08-19 06:32] ananyo2012 opened #699 "Implementing User Streaks in User Profile Page"
A lot of discussion has already been made on User Streaks in #319 and #539. The current status of User streaks is that a a fire icon is shown beside comments for an User on a streak. This is how it looks
![user_streaks](https://i.publiclab.org/system/images/photos/000/016/847/original/streak_v1.png)
The detailed definition of User streaks can be found on https://publiclab.org/wiki/streak.

Relevan

[2016-08-19 07:14] ananyo2012 opened #700 "Questions search redirects to the post page when no search results found"
### What happened just before the problem occurred

When I am trying to search a question by typing in the search title in the question search box(and then pressing enter) in the question page it redirects to the post page if no search results are found. This is not happening if the search result exists.

This is certainly not a Ruby related problem as I didn't put any redirects in either of the a

[2016-08-19 07:15] ananyo2012 commented on #700
I am missing something here. This can be made into a `first-timer-only issue` in case i can figure out what is happening.

[2016-08-19 08:57] ananyo2012 opened #701 "Login/Logout Flash messages show in Deutsch even when language is set to English"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**. If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/plots2/labels/help-wanted) issue

[2016-08-19 09:16] ananyo2012 commented on #672
Well there is already a `/tag/drone` page that is managed by the tags controller. We should then append tag parameter in url like `/questions?tag=drone,spectrometer`. Actually using session was much convenient since it can be used over any pages or urls like liked and popular pages too. This is hard to fix since I am not getting any problems in development. Maybe there are any setting for session

[2016-08-19 12:46] ananyo2012 commented on #175
@jywarren Can this be closed now? I see the Talk page being remodeled now with specific text.

[2016-08-19 12:49] ananyo2012 commented on #307
This can be closed with #345 being merged

[2016-08-19 12:49] #307 closed

[2016-08-19 12:50] ananyo2012 commented on #319
@jywarren I have created a new issue linking this at #699. We can perhaps close this now if you approve.

[2016-08-19 12:55] ananyo2012 commented on #481
This isn't Happening now. Confirmed at the same link given above. We can perhaps write a javascript test later for this. The JavaScript label will be reminder for that. Closing this for now.

[2016-08-19 12:55] #481 closed

[2016-08-19 13:07] jiteshjha commented on #701
Nice catch @ananyo2012 ;
In https://github.com/publiclab/plots2/blob/master/config/locales/controllers/user_sessions_controller/de.yml#L3 , 'en' must be changed to 'de' -- I think this can qualify as a first-timer bug? Thanks!

[2016-08-19 14:23] ananyo2012 commented on #547
Yes the image is being uploaded but the name is displayed incorrectly as you can see in this test research note https://publiclab.org/notes/ananyo2012/08-19-2016/testing-out-a-note-within-chinese-characters-in-main-image. This is weird as the same image shows up when you upload it in the body.

[2016-08-19 14:31] ananyo2012 commented on #547
This is the ASCII format of the image name: `%E5%9B%BE%E7%89%8717.jpg`. if you paste this name beside the image path i.e. https://i.publiclab.org/system/images/photos/000/017/679/original/%E5%9B%BE%E7%89%8717.jpg you will be able to see the uploaded image. But somehow the name is displayed incorrectly in the note. The name of the image is fetched by `@node.main_image.path(:original)` as you can se

[2016-08-19 15:14] jywarren commented on #700
Hi, Ananyo -- if there's not a clear path to a solution, maybe we should
make it a `help-wanted` issue, rather than a `first-timers-only` one. And
if you'd like me to take a look, i'm happy to later today.

On Fri, Aug 19, 2016 at 3:15 AM, Ananya Maiti <notifications@github.com>
wrote:

[2016-08-19 15:17] ananyo2012 commented on #700
@jywarren Yes I have labeled it as a help wanted issue. Yes it would be great if you take a look. I have added the link to the areas that effects it.

[2016-08-19 15:30] jywarren commented on #672
Hmm, yes i think session store can be set to 'cookie' or 'file' for
different environments, in `/config/environments/x.rb` ... i haven't much
experience with it though.

On Fri, Aug 19, 2016 at 5:16 AM, Ananya Maiti <notifications@github.com>
wrote:

[2016-08-19 15:32] jywarren commented on #319
Perfect!

[2016-08-19 15:32] #319 closed

[2016-08-19 15:34] jywarren commented on #701
Yes, that would be great. Feel free to edit this one or post a new one and
close this, linking to it. Thanks!

On Fri, Aug 19, 2016 at 9:07 AM, Jitesh Kumar Jha <notifications@github.com>
wrote:

[2016-08-19 15:39] ananyo2012 commented on #701
Yeah I can edit this one and remove other comments to cleanup.

[2016-08-19 15:50] jywarren commented on #697
Hi, Becki - I'm not sure exactly why this happened, but I see that https://publiclab.org/wiki/how-we-are-funded exists, and my records show that that was the original URL:

`[657,"How Public Lab is Funded","/wiki/how-we-are-funded"]`

I'm trying to figure out if there were some pages with 2 URLs -- such as happened with the `/lists` vs. `/wiki/mailing-lists` pages. It used to be that some pages re

[2016-08-19 16:42] ykl7 commented on #701
@jiteshjha you mind if i take this one? minor bug to fix

[2016-08-19 16:45] jiteshjha commented on #701
Sure @ykl7. Let me know if you need any assistance. :)

[2016-08-19 18:21] #680 closed

[2016-08-19 18:49] #676 closed

[2016-08-19 18:49] #677 closed

[2016-08-19 18:54] #701 closed

[2016-08-19 18:55] jywarren commented on #681
Closed in #696. Thanks again!

[2016-08-19 18:55] #681 closed

[2016-08-19 18:59] jywarren opened #705 "compact display of barnstars on /profile/ pages"
We'd like to see if barnstars could be displayed in a more compact way on profile pages like https://publiclab.org/profile/warren or https://publiclab.org/profile/cfastie.

Barnstar display code is currently here: https://github.com/publiclab/plots2/blob/master/app/views/users/profile.html.erb#L144-L149

But keep in mind this is only for the smaller "list-style" barnstars -- the big ones with cust

[2016-08-19 19:00] jywarren commented on #167
Closing this for better-formatted/documented #705 for the remaining issue.

[2016-08-19 19:00] #167 closed

[2016-08-19 19:01] jywarren commented on #236
This will now be possible with the `[notes:tagname]` inline powertag, in #703. Closing.

[2016-08-19 19:01] #236 closed

[2016-08-19 19:06] jywarren commented on #215
I'm going to close this since we're not sure about implementing it. If it comes back up we can re-open. Thanks!

[2016-08-19 19:06] #215 closed

[2016-08-19 19:06] ananyo2012 commented on #236
Uh I think the wrong PR is linked.

[2016-08-19 19:07] jywarren commented on #256
Merging this into #441 which has more examples.

[2016-08-19 19:07] #256 closed

[2016-08-19 19:09] jywarren commented on #159
I believe this is largely complete now via @jiteshjha's work; I'm going to close it here, although there are ongoing issues related to adding additional languages, coordinating translation, and completing translation integration. Thanks!!!

[2016-08-19 19:09] #159 closed

[2016-08-19 19:12] jywarren commented on #368
I'm going to mark this complete based on @ananyo2012 's excellent work this summer - I know there are a few leftovers but largely it's live.

[2016-08-19 19:12] #368 closed

[2016-08-19 19:13] jywarren commented on #162
I believe this is addressed (or at worst needs to be updated and reposted) in the new Q&A system by  @ananyo2012. Thanks!

[2016-08-19 19:13] #162 closed

[2016-08-19 19:18] jywarren commented on #236
You're right! Sorry, #702. :-) good catch!

[2016-08-19 19:23] jywarren commented on #624
Closing this now, as I believe it's complete.

[2016-08-19 19:23] #624 closed

[2016-08-19 19:23] #678 closed

[2016-08-19 19:25] jywarren commented on #679
I think so -- perhaps if we do a comments overhaul using the new rich editor code, we could revisit, and this could be revised to be a proposal for such a new feature.

[2016-08-19 19:25] #679 closed

[2016-08-19 19:29] #684 closed

[2016-08-19 19:29] #689 closed

[2016-08-19 19:29] jywarren commented on #691
I'm going to close this, thanks!

[2016-08-19 19:29] #691 closed

[2016-08-19 19:30] jywarren commented on #674
complete in #688

[2016-08-19 19:30] #674 closed

[2016-08-19 19:31] jywarren commented on #657
Hi, Blake - just checking if there's any help we can offer. Note that there've been a lot of new commits merged into the code recently so you may need to watch out when rebasing. Thanks again!

[2016-08-19 19:33] blakeyoder commented on #657
Jeffrey, thanks for checking in. I got the app working on my local machine the other day and will go through this over the weekend. Been swamped by life lately. Thanks for the heads-up on all the merges

[2016-08-19 19:37] jywarren commented on #657
no problem and good luck!

On Fri, Aug 19, 2016 at 3:33 PM, Blake Yoder <notifications@github.com>
wrote:

[2016-08-19 21:10] jywarren commented on #635
Fixed this but haven't written the tests yet. I'll close in any case.

[2016-08-19 21:53] #604 closed

[2016-08-19 22:02] jywarren commented on #635
Hmm, the fix did not resolve the issue -- we should do the unit test for `node.responses`.

[2016-08-19 22:03] #393 closed

[2016-08-19 22:05] ananyo2012 commented on #646
Ok this should be an easy fix. So you wan't an email notification on note creation if that tag is present? A new mailer view and action should do it.

[2016-08-19 22:06] jywarren commented on #274
I believe this is a browser behavior that I'm not sure we can easily fix -- that browsers "keep" only the initial state of a page, not the final state before you left. I've noticed this on many sites, so I think we should close this (and potentially re-open on a browser's issues feed). Thanks!

[2016-08-19 22:06] #274 closed

[2016-08-19 22:06] jywarren commented on #328
This is working!

[2016-08-19 22:06] #328 closed

[2016-08-19 22:07] #220 closed

[2016-08-19 22:08] jywarren commented on #173
Done!

[2016-08-19 22:08] #173 closed

[2016-08-19 22:09] jywarren commented on #180
Done!

[2016-08-19 22:09] #180 closed

[2016-08-19 22:11] #52 closed

[2016-08-19 22:12] jywarren commented on #49
Done!

[2016-08-19 22:12] #49 closed

[2016-08-19 22:16] ananyo2012 commented on #220
@jywarren This is not yet implemented. Should we keep this open as it is quite a valid point!

[2016-08-19 22:36] jywarren commented on #646
Yep! And we should consider how to display related notes. Maybe same place
as "response" notes?

On Aug 19, 2016 6:05 PM, "Ananya Maiti" <notifications@github.com> wrote:

[2016-08-19 22:37] jywarren commented on #220
Sure, although the new friendly id stuff may change things?

On Aug 19, 2016 6:16 PM, "Ananya Maiti" <notifications@github.com> wrote:

[2016-08-19 22:39] jywarren opened #708 "Remove "Question:" from question editor input title (creates double "Question:" in displayed title in question page)"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**. If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/plots2/labels/help-wanted) issue

[2016-08-19 22:41] ananyo2012 commented on #646
Yes we can just make one more section for displaying it probably we can call it "Mentioned notes"

[2016-08-19 22:43] ananyo2012 commented on #220
Well yes if we implement that again it may cause certain problems but we can solve that by some thinking!

[2016-08-19 22:45] jywarren commented on #646
Well, the related tag could be in the body of the post or just in the tag
field, so maybe we should just say "related notes".

On Aug 19, 2016 6:41 PM, "Ananya Maiti" <notifications@github.com> wrote:

[2016-08-19 22:46] ananyo2012 commented on #708
Yeah that can be the case. But probably the reverse. Since the title is upto the user.  User can change it. Better that we don't give the "Question:" word preexisting in the text field.

[2016-08-19 22:47] ananyo2012 commented on #646
But there is already a term called "Related notes" for notes tagged with same tags.

[2016-08-20 02:39] carolineh101 commented on #705
Hello, I'd like to help out with this!

[2016-08-20 04:39] ananyo2012 commented on #705
@jywarren Before starting with this it would be great if you could re-upload the barnstar images in the wiki page with the similar image name as the title since I don't see similar image paths for the images. This will help in this automation.

[2016-08-20 05:05] ananyo2012 commented on #705
Yes I think it will be better if we make a Separate section named Barnstars just beside the "Liked" section. It can contain The barnstars listed serially with their awarding information. Something in this format.

|  Barnstar          | Info                | Notes awaded for                               |
| -------------------- | ----------------- | -----------------------------------------------

[2016-08-20 06:18] carolineh101 commented on #705
I have created a tab for the barnstars:

![screen shot 2016-08-19 at 11 15 34 pm](https://cloud.githubusercontent.com/assets/17236117/17829425/f075adb8-6662-11e6-828c-c7848893414f.png)

However, I'm not sure how to test my code – the barnstars wiki page doesn't seem to be available in development, so I can't add barnstars to the profile.

[2016-08-20 06:31] ananyo2012 commented on #705
You can just download the barnstar images and use it for work when offline. When online you can just use the libk of the images in image src. But before that add some dummy data by creating some notes and award barnstars to the users. You can Award barnstars to a user in a note in the dropdown at the top left side of the note beside the like button. Here is a snap
![barnstar](https://cloud.githubu

[2016-08-20 06:36] carolineh101 commented on #705
Ah, I see now.  Thanks!

[2016-08-20 06:38] carolineh101 commented on #705
Seems to work!  This is the current formatting I have:

![screen shot 2016-08-19 at 11 37 42 pm](https://cloud.githubusercontent.com/assets/17236117/17829521/07451fda-6666-11e6-9531-6d11ecd946d9.png)

[2016-08-20 06:43] ananyo2012 commented on #705
Yes Now listing the barnstars in tabular form as I mentioned. One thing you have to keep in mind that a user can be awarded the same barnstar in different notes and by different people. The table should list the barnstar image only once and the instances where they were should go in the last column with a text similar to "by [user] for their worked published on [note title]"

[2016-08-20 13:36] jywarren commented on #705
Hi, all -- just a note but maybe you figured this out already -- the formatting you showed looks perfect, @carolineh101, and the larger custom-graphics barnstars are an older system you don't have to worry about right now -- you shouldn't need any custom images (they're only for the older system).

So, no need for these right now, that's a separate issue (#265) for those older barnstars:

![screen

[2016-08-20 13:39] ananyo2012 commented on #705
Ok then we can just go with the Barnstar name. What do you say?

[2016-08-20 13:46] jywarren commented on #705
Sorry, Ananyo, where do you mean? The newer system still has custom names, just not custom images. But maybe I misunderstand?

[2016-08-20 14:04] ananyo2012 commented on #705
I mean instead og using the Barnstar images we should just show the Barnstar name in the table

[2016-08-20 14:05] jywarren commented on #705
the table as it's shown right now in Caroline's screenshot looks perfect.
The yellow "star" icon is all we need -- if this is a pic of the code, then
it looks ready for a PR!

On Sat, Aug 20, 2016 at 10:04 AM, Ananya Maiti <notifications@github.com>
wrote:

[2016-08-20 14:10] ananyo2012 commented on #705
I have edited the table. Now it should be clear. Though I love the Barnstar icons! They are great! In fact I was thinking of putting a Barnstar icon of the Basic Barnstar which was awarded to me by Stevie in my Profile Page! :blush:

[2016-08-20 14:13] ananyo2012 commented on #705
Ok you want just that? Actually I was thinking of consolidating it as I showed in the Table I made above. My idea is showing the Barnstar name only once and list all the instances that were awarded for the same Barnstar.

[2016-08-20 14:21] jywarren commented on #705
Yes, the custom barnstars are super nice, but we haven't figured out yet how to integrate them into the system. But we're not getting rid of them -- #265 is devoted to figuring that out.

[2016-08-20 14:21] jywarren commented on #705
I'm fine with either a list or a table, I leave it up to Caroline. Thanks!

[2016-08-20 14:22] jywarren opened #709 "Comments shown twice on dashboard"
https://publiclab.org/dashboard

I think this could relate to the new changes to the Dashboard comment code by @ananyo2012 but I'm not sure -- would you mind taking a look?

Thanks!

[2016-08-20 14:29] jywarren opened #710 "Question & Answer comment box width issue"
### What happened just before the problem occurred

On https://publiclab.org/questions/Anmar/08-19-2016/question-calibration-issues the comment box is pretty narrow, and I wonder if the `media` CSS selector is working properly? I'm on latest Chrome (on a Chromebook):

![screenshot 2016-08-20 at 10 28 06 am](https://cloud.githubusercontent.com/assets/24359/17831788/f6371d0a-66c0-11e6-9553-5c3b97091

[2016-08-20 14:34] jywarren commented on #646
It's true -- but do you think `related:12345` should then be referred to as
"mentioned" instead, somehow? OK how about we rename the current same-tags
list as "Similar notes" and the new section will be "Related notes"?

On Fri, Aug 19, 2016 at 6:47 PM, Ananya Maiti <notifications@github.com>
wrote:

[2016-08-20 14:35] ananyo2012 commented on #710
Ok I am not facing this but will have a look.
ᐧ

On Sat, Aug 20, 2016 at 7:59 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-08-20 14:37] ananyo2012 commented on #710
But I am facing it here:
https://publiclab.org/questions/shubham/08-18-2016/question-can-i-upload-csv-files-on-spectralworkbench-for-calibration-and-other-purposes.
Weird!
ᐧ

On Sat, Aug 20, 2016 at 8:05 PM, Ananyo Maiti <ananyoevo@gmail.com> wrote:

[2016-08-20 14:38] ananyo2012 commented on #709
Ok just looking at it

[2016-08-20 14:43] jywarren opened #711 "Login prompt on Question comment area does not redirect back after login"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**. If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/plots2/labels/help-wanted) issue

[2016-08-20 14:43] jywarren commented on #710
Maybe worth trying in incognito vs. plain modes?

[2016-08-20 17:24] carolineh101 commented on #705
I think I'm going to go ahead and submit a PR!

[2016-08-20 18:30] ananyo2012 commented on #711
Yes this is a simple fix. I will make it a first-timer issue.

[2016-08-20 22:49] jywarren opened #714 "Remove references to "place" and "tool" node types"
These are now completely gone from the database, and we can remove that code. All those types have been converted to "page" and we can just use "page" in those queries now.

There are instances in a few places, including:

https://github.com/publiclab/plots2/blob/master/app/controllers/wiki_controller.rb#L267

for example. Other file that include these are:

https://github.com/publiclab/plots2/blo

[2016-08-21 12:33] ananyo2012 commented on #710
Fixes in #713

[2016-08-21 12:33] ananyo2012 commented on #709
Fixes in #713

[2016-08-21 12:35] ananyo2012 commented on #646
@jywarren Yes we can definitely do that.

[2016-08-21 13:10] ananyo2012 opened #715 "Put count of tag subscribers in a green alert box in question post page"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**. If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/plots2/labels/help-wanted) issue

[2016-08-21 13:20] ananyo2012 opened #716 "Remove pipe symbols from autocomplete results in /questions pages"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**. If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/plots2/labels/help-wanted) issue

[2016-08-21 13:36] ananyo2012 opened #717 "Remove banners from sidebar of /questions page"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**. If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/plots2/labels/help-wanted) issue

[2016-08-21 14:31] ananyo2012 opened #718 "Flash messages don't show correct information when posting questions"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**. If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/plots2/labels/help-wanted) issue

[2016-08-21 14:34] ananyo2012 commented on #718
@jiteshjha Can you see if any further clarification is required in this as it is also covered under internationalization. Please feel free to edit this.

[2016-08-21 14:52] jiteshjha commented on #718
I added a small Internationalization example -- This reminds me of writing a research note on the whole I18n procedure tonight. Thanks! You may delete these comments now.

[2016-08-21 16:58] ananyo2012 opened #719 "Research notes template shows while editing a question"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**. If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/plots2/labels/help-wanted) issue

[2016-08-21 17:23] ananyo2012 commented on #309
Closing this as this has been solved. Though curious on whether tests are completed on this.  #498 will be a reminder for this as it contains some useful code related to this.

[2016-08-21 17:23] #309 closed

[2016-08-22 14:59] Fastie commented on #635
This series of notes: https://publiclab.org/tag/eos_m
all have response:xxxxx powertags, but only one of them (https://publiclab.org/notes/cfastie/02-25-2016/kapvolution) displays the related notes in the sidebar.
I can't see any obvious reason why that note should be different, but there must be one.
That one note is the oldest of the four, and it is a response to a much older note.

[2016-08-22 20:18] jywarren opened #721 "Expand on the "inline powertags" table gen to create Activity grids"
I've got this one -- the columns will be:

Replications will count responses to the note. Purpose is the title. The others will just display the powertag value with the key  matching the column name, like `time:10h`.

This will replace the manually created table here: https://publiclab.org/wiki/spectrometry

Order by chronological use... maybe by # of replications, but may need to "pin" some to th

[2016-08-22 20:41] jywarren opened #722 "Talk page should display title, instead of path, of the parent page"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**. If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/plots2/labels/help-wanted) issue

[2016-08-22 22:31] klie1 opened #724 "[urgent] Broken page"
### What happened just before the problem occurred

I clicked on the blog link to "Introducing the Environmental Evidence Project" from the Dashboard, pictured here:
![screen shot 2016-08-22 at 5 28 11 pm](https://cloud.githubusercontent.com/assets/20325934/17873909/e3869a72-688d-11e6-8782-ea72d34f6b3d.png)

And it brought me to this error message:
![screen shot 2016-08-22 at 5 27 33 pm](https://c

[2016-08-22 23:41] jywarren opened #725 "display only paragraph text, not headings, in note previews on dashboard and elsewhere"
Hi, this is a `first-timers-only issue`. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**. If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/plots2/labels/help-wanted) issue

[2016-08-22 23:42] jywarren commented on #724
Thanks, I'm on this one!

[2016-08-23 15:59] mathewlippincott opened #727 "duplicate wiki page paths"
this page is no longer displaying-- thought I'd report it since you've had trouble with some wiki links recently:
https://publiclab.org/wiki/passive-pm

[2016-08-23 17:44] ananyo2012 commented on #727
@jywarren Another missing data I guess. Can you have a look at it?

[2016-08-23 18:15] jywarren commented on #727
Hi, I'm seeing this error:

[code]

I think this is due to the record having a nil `slug` -- perhaps that link should be based on `path` and not `slug`? Ananyo, could you try for a fix?

We're still resolving a major rebase of the new search controller (maybe another day), but if this is very urgent, I can do a hotfix now that'll be overwritten by a later commit. What do you think, @mathewlippinco

[2016-08-23 18:18] jywarren commented on #727
OK, i did a quick fix -- but no commit yet -- I just turned `slug[0,50]` into `slug.to_s[0,50]`.

[2016-08-23 18:19] jywarren commented on #724
Temporary fix issued, but pending a big rebase/merge to do a final fix and test in #726.

[2016-08-23 19:22] ananyo2012 commented on #727
@jywarren Yes actually it was previously based on path by the `path` method but now it is the value of the slug column. But the slug column should have been generated. Since every time a new record is created or the title is change the slug is regenerated according to this https://github.com/publiclab/plots2/blob/master/app/models/drupal_node.rb#L26-L28

[2016-08-23 20:01] jywarren commented on #727
Maybe since the slug column usage has changed, we should scan the codebase
for instances of slug and add to_s? Or add a test that runs a slug = nil
node through various pages? The former sounds better.

On Aug 23, 2016 3:23 PM, "Ananya Maiti" <notifications@github.com> wrote:

[2016-08-23 22:30] mathewlippincott commented on #727
I figured it pointed to some larger issue and might effect other pages-- I wouldn't invest in re-posting this page so much as solving whatever brought it down, which seems to be what y'all are doing.

[2016-08-24 13:25] jywarren commented on #727
@ananyo2012 - there's extensive use of `slug` on that view, and I think we need to either change calls of `slug` to a new name that returns `path.split('/').last` or run a batch script to restore original slugs to ensure these all work. As this is related to the `friendly_id` work (and I'm currently working on the big search rebase) could you take a look and at least solve this page? Thanks!

[2016-08-24 13:26] jywarren commented on #727
Oh and @mathewlippincott - the page is back up, we're just looking at followup fixes for any related issues.

[2016-08-24 13:30] jywarren commented on #724
Closing this as fixed in #726.

[2016-08-24 13:30] #724 closed

[2016-08-24 15:03] #635 closed

[2016-08-24 15:05] jywarren opened #728 "Re-add sort_by_tags_test tests after major rebase"
I removed the tests in this file during a major rebase; the issue was with the `session[:tags]` call in both returning `nil`. I apologize, but we really needed to get this merge done, so I was hoping @ananyo2012 could take a look at the changes in [the PR I merged](https://github.com/publiclab/plots2/pull/652#issuecomment-242095143) and double check to see why the session is returning empty.

Than

[2016-08-24 17:05] ananyo2012 commented on #727
Well the slug does keeps the updated title. And every time we change a record it is resaved. So do we really need to change it?

[2016-08-24 17:38] #705 closed

[2016-08-24 17:46] #709 closed

[2016-08-24 17:46] #710 closed

[2016-08-24 17:56] jywarren commented on #727
Actually the following pages lack a `slug` -- how did that happen, and how shall we generate them?

`["Guides", "London UK", "air quality class 6", "air quality class 7", "Air Quality Class 7", "Air Quality Class 6", "water-quality", "hometesting-environmental-estrogens-bibliography|Bibliography", "hometesting-environmental-estrogens-bibliography|Bibliography", "Initiatives", "Initiatives", "Intel

[2016-08-24 17:59] jywarren commented on #727
Though many of those pages (testing manually) work fine: https://publiclab.org/wiki/water-quality

[2016-08-24 18:04] jywarren commented on #727
I could just run something like:

[code]

in the console?

[2016-08-24 19:38] jywarren commented on #721
solved in #729

[2016-08-24 19:38] #721 closed

[2016-08-24 20:10] ananyo2012 commented on #727
Ok what i see is there are pages with the same title. Pages with duplicate
title aren't allowed now.That's why the slug didn't get updated for these
pages.
ᐧ

On Wed, Aug 24, 2016 at 11:34 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-08-24 20:13] jywarren commented on #727
Ah, good observation. I'll go through those and find which is the "real"
node, and/or rename one if both have real content.

On Aug 24, 2016 4:10 PM, "Ananya Maiti" <notifications@github.com> wrote:

[2016-08-24 20:16] ananyo2012 commented on #727
Previously nodes with same path were allowed that's why some of the records
still exist with the same paths. But you can't resave these records now
since validation check will fail anyways.
ᐧ

On Thu, Aug 25, 2016 at 1:40 AM, Ananyo Maiti <ananyoevo@gmail.com> wrote:

[2016-08-24 20:45] ananyo2012 commented on #727
Yes you can just rename the path and title for the duplicate entries and
resave all entries that will solve this problem.
ᐧ

On Thu, Aug 25, 2016 at 1:46 AM, Ananyo Maiti <ananyoevo@gmail.com> wrote:

[2016-08-24 22:05] david-days opened #731 "500 errors on first few letters of typeahead search. Number of letters causing error is inconsistent"
### Problem Description

Entering typeahead values in the search form input at the top of the publiclab.org executes an AJAX call to the RESTful endpoint providing typeahead services.  Entering the first few letters of the search value ("ab" of "abc" or "tra" of "trai") returns a 500 error on the RESTful call.  Continuing to enter the value ("abc" or "trai") functions normally and as expected.

It

[2016-08-25 01:20] david-days commented on #731
Testing bug fix now:

Added code to client side javascript to limit AJAX queries to 3 or more characters
Added validation code to typeahead.rb RESTful service to validate query string length
Added limit code to return top 5 matches of each typeahead query (5 for each tag, 5 for notes, 5 for users, etc. or 5 X each for the "all" query)

Looking good, @jywarren.  If tests pass, will push this up ver

[2016-08-25 16:40] jywarren commented on #672
Hi, Ananyo -- just tried entering a tag ('spectrometer') on /questions and got redirected to:

https://publiclab.org/tag/add_tag?return_to=%2Fquestions&name=spectrometer

Is this related to the above issue, or is it a distinct one I should file an issue for?

Thanks!

[2016-08-25 16:59] ananyo2012 commented on #672
@jywarren Ok i see this is a routing problem. See these two line https://github.com/publiclab/plots2/blob/master/config/routes.rb#L152 and https://github.com/publiclab/plots2/blob/master/config/routes.rb#L168. The first one should not be present. This is not related to this is issue but in fact this is the reason why tests were failing for the sort_by_tags integration test during the search api me

[2016-08-25 20:18] jywarren opened #736 "Replace all uses of wiki.slug in favor of wiki.path"
We no longer use `node.slug` and it's redundant with the `node.path` field, so we should remove all instances from the codebase. Here they are:

[code]

Note that each time, we can't just use `path` -- If a wiki has slug `hello-world`, it's supposed to have a path of `/wiki/hello-world`. So we should make a new method on `DrupalNode` like:

[code]

And then replace all of the above instances of `n

[2016-08-25 20:36] jywarren commented on #727
Ugh, still working on this; had a really ugly revert needed resulting in this page having the wrong updated timestamp: https://publiclab.org/wiki/london-uk

This is really painstaking work, so I should take it very slow. Only 6 records remain that are affected.

[2016-08-25 22:27] jywarren commented on #727
I think for the remainder, the process should be:

1. Check the wayback machine for the `nid` of the one that was shown by default before this migration: https://web.archive.org/web/20150316102923/https://publiclab.org/wiki/water-quality
2. Check that the other (presumably duplicate) node has only one revision, which is older than the `node.changed` timestamp for the original node
3. Delete the du

[2016-08-25 23:17] jywarren opened #739 "send CSRF token with rich editor inline image upload"
Pending resolution of https://github.com/publiclab/PublicLab.Editor/pull/43

I believe this is why inline images aren't uploading -- error log here: https://gist.github.com/jywarren/79c20afff0131d290a972933c7be77fb

I'm working on this -- this is just a note to self about details.

[2016-08-26 02:18] nickstaggs commented on #725
I would like to claim this, is there a timeline you guys are looking for? I could definitely complete it in the next week but I can expedite the process and finish by the end of the weekend if need be.

[2016-08-26 15:08] jywarren commented on #727
Fixed `london-uk`, looking at last six now.

[2016-08-26 15:30] jywarren commented on #727
OK, all duplicate records of wiki pages resolved. @ananyo2012 - anything else you'd like to tidy up on `friendly_id` work besides the `slug` issues I've outlined? I'm closing this now.

[2016-08-26 15:30] #727 closed

[2016-08-26 15:32] jywarren commented on #725
Hi, @nickstaggs - great to hear it -- no, no urgency here. We're glad to have your contribution and please reach out if you have any trouble. Thanks!

[2016-08-26 16:32] ananyo2012 commented on #727
Well we can revert the slug column and friendly id slug table too if you
say. But is there any simpler way to do this rather than writing a new
migration to revert the changes?

ᐧ

On Fri, Aug 26, 2016 at 9:00 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-08-26 16:42] david-days commented on #725
@nickstaggs - If you have any issues with the RegEx, let me know.  I'm not an expert on regex, but I've been working with it long enough to figure out how to (crudely) get what I need.

If you come up with any improvements or see a better way to do this, I'm all ears--having a good preview of content from the database could be used in lots of different places.

[2016-08-26 17:09] nickstaggs commented on #725
Anytime @jywarren - could you assign the issue to me. @david-days - thanks a lot I'll let you know if I run into any issues or if I think of anyways to optimize the RegEX. I'm going to dive in and give you guys a status report at the end of the weekend.

[2016-08-26 17:14] jywarren commented on #725
sure -- doing that now.

You could also -- just as a possibility -- make a "preview" method in the `/app/models/drupal_node.rb` file which makes the truncated version available to everyone:

[code]

or get fancy and have a length parameter:

[code]

Just some ideas, hope they're helpful!

[2016-08-26 17:25] jywarren commented on #725
Ah, i think to assign to you, you have to be a collaborator, so i sent you an invite. Not totally necessary but happy to do it if you click "accept" on the invite. Thanks!

[2016-08-26 17:29] jywarren commented on #727
Hmm, I think that if we want there to be an unbreakable relationship
between slug and path, we should make sure all existing nodes follow that
(some notes still don't, and we could follow up on that). I'm mostly
worried about code cleanliness to future contributors here, and if there's
ambiguity about slug vs. path we should at least provide good documentation
for guidance.

On Fri, Aug 26, 2016 a

[2016-08-26 21:16] jywarren opened #741 "Make a "suggestions" comment type that can be "accepted" by the author"
It might reference a specific line in the original note, and once accepted, could then be minimized in the comments section, like:

`@ebarry accepted a suggestion from @jywarren 3 days ago`

This would be a little like inline comments on commits in Github (example [from here](https://github.com/publiclab/plots2/pull/713#discussion-diff-75769674))

![screenshot 2016-08-26 at 5 15 53 pm](https://clo

[2016-08-28 18:22] lalithr95 opened #743 "Redirect to profile page of user on username search"
### What happened just before the problem occurred

When I search for lalithr95 in search text field it displays autocomplete of usernames which match /lalithr95/ Clicking on any of the autocomplete suggestion should redirect to profile page of user.

Currently this doesn't happen. This is could be an interesting issue to get started with codebase.
<img width="1051" alt="username" src="https://clo

[2016-08-28 18:33] lalithr95 opened #744 "Add CSRF protection in entire application - Long term project"
### What happened just before the problem occurred
This could be added as sub-project for next GSOC.
Most of the forms used in PublicLab doesn't contain csrf token parameter as we don't use rails form helpers `form_tag` `form_for`

It could be nice to replace `<form ` tag with `form_tag` with will add csrf token automatically. Once if you can get work with one form and get it working, it would be

[2016-08-28 22:55] david-days commented on #743
@lalithr95 ,

@jywarren and I were just discussing this particular behavior on another thread.  This is due to my implementation of the typeahead script, and we can change this behavior for the general typeahead for all typeahead results (go to URL if exists).

@jywarren , would you like to change the behavior across the board, switch to bootstrap-typeahead, or something in between?

[2016-08-29 03:39] nickstaggs commented on #725
Hey guys, hope you had good weekend. A few things:
1. Could I please get the permissions to fetch from upstream to keep my clone up to date?
2. I was wondering what the output to rake test:all is supposed to look like, I got this

237 tests, 554 assertions, 0 failures, 0 errors, 0 pendings, 0 omissions, 0 notifications
0% passed

or something very similar for all the sections, there were no failur

[2016-08-29 13:33] jywarren opened #745 "Codify 'builds' and 'replications' with powertag and prompt"
https://publiclab.org/wiki/sandbox#Upgrade+grid

Shows the new Upgrade grids, but "replications" and "builds" are tallying `response:<id>`-tagged responses to the listed upgrade. We should switch this to `built:<id>` and (for activity grid) `replication:<id>`

We can also make any post tagged as `activity:<tagname>` or `upgrade:<tagname>` display a `Replicate this` or `Build this` button. Ideas on

[2016-08-29 14:24] jywarren commented on #744
Hi, Lalith - will this be a `help-wanted` tag? Maybe we should add links to
CSRF token controller code. I also believe that rails.js (
https://github.com/rails/jquery-ujs) has csrf token functions built in.

Note also that a CSRF token is sent with inline image uploads on the old
system, at https://publiclab.org/post/ --

https://github.com/publiclab/plots2/issues/739 shows how I'm trying to
ensur

[2016-08-29 14:47] jywarren commented on #725
Hi, Nick - I don't think you need special permission to fetch from upstream
master -- just `git pull https://github.com/publiclab/plots2.git master` --

as to the tests, you'll need phantomjs to run the final (javascript) tests,
as described here:
https://github.com/publiclab/plots2/#phantomjs-for-javascript-tests

However, as your code doesn't touch JavaScript, I wouldn't worry about
running thos

[2016-08-29 15:17] jywarren commented on #743
I'm going to mark this as closed, as we're already working on typeahead changes that'll resolve it. But thanks, Lalith!

[2016-08-29 15:17] #743 closed

[2016-08-29 18:28] jywarren commented on #485
I wanted to put out the idea of showing `# activities` and `# upgrades` in the list view, and/or just below the header of a method page. Maybe something like that openROV page:

![screenshot 2016-08-29 at 2 21 01 pm](https://cloud.githubusercontent.com/assets/24359/18062215/e115efb6-6df3-11e6-9e64-20372738683f.png)

[2016-08-29 18:29] jywarren opened #746 "add initial templates to rich editor"
At https://publiclab.org/editor/ -- and think about how they should be supplied. Maybe in `/app/assets/`?

[2016-08-29 21:40] mathewlippincott opened #747 "node revisions in sidebar use node, not revision date"
I pulled up [a research note of mine](https://publiclab.org/notes/mathew/06-24-2016/aerial-photography-rigging-needs) and noticed that the "Recent Wiki Pages" sidebar appeared to be displaying older content, and that it had a suspicious number of updates exactly 13 days ago.

![screen_shot_2016-08-29_at_2_27_41_pm](https://cloud.githubusercontent.com/assets/1203280/18068377/e30a64ee-6df5-11e6-8179

[2016-08-30 02:37] jywarren commented on #747
oh, good eye -- @ananyo2012's migration updated all records to generate new
slugs 13 days ago, so strictly speaking this is accurate. But perhaps we
could use the latest revision's timestamp instead. For notes, however, we
may need to recover pre-existing updated_at records from the previous db,
but we could check if notes' revisions were affected (maybe not?)

On Mon, Aug 29, 2016 at 5:40 PM, mat

[2016-08-30 16:25] jywarren opened #749 "node.responses(key = 'response') for distinguishing note replication/build/response types"
I've got this one!

[2016-08-30 16:40] jywarren opened #750 "finalize `status` and `category` names and prompts for guided tagging"
Just need final tweaks and explanatory links for:

We also need "category" and "goal" powertags, then that's it.

I'm not so sure about these, but if they have hover popups that explain more, maybe?

[2016-08-30 16:45] jywarren opened #751 "display author and time on hover of tags"
We should use a [Bootstrap tooltip](http://getbootstrap.com/javascript/#tooltips) to display who and when tags were created, for each tag element in the list:

![screenshot 2016-08-30 at 12 43 39 pm](https://cloud.githubusercontent.com/assets/24359/18098255/6a98237e-6eaf-11e6-8af7-df0f5fde2d34.png)

The tooltip could be attached to this span: https://github.com/publiclab/plots2/blob/master/app/vie

[2016-08-30 16:50] ebarry commented on #747
yeah i see this on the spectrometry pages, and think it would be very
helpful to have the "real" dates.

--

+1 336-269-1539
@lizbarry <http://twitter.com/lizbarry>

On Mon, Aug 29, 2016 at 10:37 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-08-30 17:12] jywarren commented on #749
Complete and tested in 9ae6d56.

[2016-08-30 17:12] #749 closed

[2016-08-30 17:48] jywarren opened #752 "sort activity grids by likes"
These are currently sorted by updated timestamp:

https://github.com/publiclab/plots2/blob/master/app/helpers/application_helper.rb#L71

but activity grids should be sorted by `like_count` -- see them in action here:

https://publiclab.org/wiki/sandbox#Activity+grid

[2016-08-30 17:54] mathewlippincott opened #753 "A note of Eymund's not available"
one of [Eymund's notes](https://publiclab.org/notes/eymund-diegel/10-26-2012/hello-kitty-watchdog-patrols-gowanus-canal-skies) on the Hello Kitty rig is unavailable, however it shows up in his [profile](https://publiclab.org/profile/Eymund):

![screen shot 2016-08-30 at 10 51 56 am](https://cloud.githubusercontent.com/assets/1203280/18100460/f5310948-6e9f-11e6-891a-968100908699.png)

I was wonderi

[2016-08-30 18:18] jywarren opened #754 ""Browse other activities" next to "replicate this" prompt"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-08-30 20:28] #752 closed

[2016-08-30 22:30] jywarren commented on #648
This is now made possible with the prototype activity grid guided tags system: https://publiclab.org/notes/liz/08-30-2016/check-out-these-activity-grids

We could expand this to cover other cases, but we'd need a script - prob via a community input process led by @ebarry et al.

[2016-08-31 02:50] jywarren commented on #745
complete as of today!

[2016-08-31 02:50] #745 closed

[2016-08-31 02:56] jywarren opened #761 "expand co-authorship features with right-to-edit, etc"
This issue is a combination of several smaller, [self-contained issues](https://github.com/publiclab/plots2/labels/break-me-up) which are inter-related. You can help by:

- choosing one and breaking it out into its own issue (leaving a comment here to reference back)
- solving one of these sub-issues
- helping to flesh out sub-issues so that they're easier to solve
- helping to break up the larger

[2016-08-31 02:58] jywarren commented on #606
Closing and redirecting to a new issue #761.

[2016-08-31 02:58] #606 closed

[2016-08-31 02:58] jywarren commented on #741
We might want to reference a line number, but if the post is edited, it could go out of date. Do we need note revisions?

[2016-08-31 03:01] jywarren commented on #731
Solved in #733

[2016-08-31 03:01] #731 closed

[2016-08-31 03:02] jywarren commented on #728
@ananyo2012 - if you have a chance to re-add these (or if you already have) I'd love to close this out. Thanks!

[2016-08-31 03:04] jywarren commented on #697
Hi, Becki - we've changed the header link, so I'm going to close this; if there are other links elsewhere pointed at the old URL, please ping me and we can pursue a deeper fix. Thanks for reporting!

[2016-08-31 03:04] #697 closed

[2016-08-31 03:05] jywarren commented on #647
Just checking if you've made progress with this or if I can help out. Thanks!

[2016-08-31 03:05] jywarren commented on #638
Just checking if you've made progress with this or if I can help out. Thanks!

[2016-08-31 03:49] carolineh101 commented on #751
Hello, I'd like to help out with this!

[2016-08-31 03:51] ananyo2012 commented on #728
Yes Jeff I have already added these. You can close this one now.
ᐧ

On Wed, Aug 31, 2016 at 8:32 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-08-31 03:53] #728 closed

[2016-08-31 04:00] ananyo2012 commented on #638
Just hold on a bit Jeff. I haven't figured it out yet. I will respond to
this as soon as I figure out something.
ᐧ

On Wed, Aug 31, 2016 at 8:35 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-08-31 04:01] ananyo2012 commented on #647
This one too. Will be responding to this soon.
ᐧ

On Wed, Aug 31, 2016 at 8:35 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-08-31 04:04] jywarren commented on #751
Super! This is extra important given the recently posted work on Activity
grids (https://publiclab.org/notes/liz/08-30-2016/check-out-
these-activity-grids) -- very glad to have your help on it!

On Tue, Aug 30, 2016 at 11:49 PM, Caroline Ho <notifications@github.com>
wrote:

[2016-08-31 05:18] carolineh101 commented on #751
I've created the tooltips – what are the components I need to retrieve the creator and date created?

![screen shot 2016-08-30 at 10 17 23 pm](https://cloud.githubusercontent.com/assets/17236117/18116822/a45c743e-6eff-11e6-893d-cedd222531c7.png)

[2016-08-31 13:41] jywarren commented on #599
Hi @ebarry - could you take a look at reformatting this one? Thanks!

[2016-08-31 14:06] jywarren opened #762 "Design stronger entry point for Questions system on dashboard"
This is a design problem -- current dashboard at https://publiclab.org/dashboard only features questions in the activity feed and under the upper-right `Share your work` prompt. We should bring them to forefront more.

Maybe we replace the wiki sidebar with a questions sidebar + prompt?

[2016-08-31 14:32] jywarren opened #763 "answer text remains in textarea after submission"
On a page like https://publiclab.org/questions/PeterDH/05-13-2016/question-how-do-i-get-the-calibration-user-interface, after submitting an answer, the answer textarea still has my answer text. It should be empty after a successful submission.

The answering template code is here: https://github.com/publiclab/plots2/blob/master/app/views/questions/_answer.html.erb

The form itself is here: https:/

[2016-08-31 14:42] ap916 commented on #722
Hi, I would like to work on this issue. Do you have a deadline in which it should be done ?
I don't have much experience with Ruby so I may need to brush up a bit.

[2016-08-31 14:55] jywarren commented on #747
Found that node timestamps were changed, but not revision timestamps (I believe). Attempting non-migration fix to display revision timestamps instead of updated node ones. I believe this'll be an easy fix, but fingers X.

[2016-08-31 14:59] jywarren commented on #753
Whoa, odd error:

[code]

I think we've seen encoding errors before, I'll check.

[2016-08-31 15:05] jywarren commented on #753
Indeed: https://github.com/jywarren/plots2/issues/102 and https://github.com/jywarren/plots2/issues/196, but no clear solution. Reading up.

[2016-08-31 15:18] jywarren commented on #747
Resolved, thankfully!

[2016-08-31 15:20] jywarren commented on #722
Great! No, no deadline -- and please do ask if you need any help. Thanks!!!

On Wed, Aug 31, 2016 at 10:42 AM, Abhishek Pandey <notifications@github.com>
wrote:

[2016-08-31 15:53] jywarren commented on #751
There's a long chained method for `author`, which in full is `<%= tag.drupal_node_community_tag.first.author.username %>`

However, you could improve this situation quite a bit by making a method in `app/models/drupal_tag.rb` like:

[code]

then, the template would just need: `<%= tag.author.username %>`.

For the date, you can use `Time.at(t.drupal_node_community_tag.first.date)` -- which convert

[2016-08-31 16:29] jywarren opened #765 "Redesign /tools page to incorporate # of activities, contributors"
The tools page at https://publiclab.org/tools could better integrate data from the new activity grids, which would be relevant to new visitors:

https://publiclab.org/notes/liz/08-30-2016/check-out-these-activity-grids

We could show, for each tool, instead of the text summary:

[code]

based on the count of activities using the same logic as in `application_helper.rb`:

https://github.com/publicl

[2016-08-31 16:30] jywarren commented on #765
@carolineh101 - if you're interested in a slightly bigger project, I wonder if this is something you'd like to take a look at? @steviepubliclab and @ebarry are also interested in this and could probably provide some input if so.

[2016-08-31 16:38] mathewlippincott commented on #741
this is a fantastic idea.  we see in our google docs collaborations that people feel more comfortable with comments and suggestions than direct edits.

[2016-08-31 17:41] carolineh101 commented on #751
Thank you, that was very helpful!  How does this look?

![screen shot 2016-08-31 at 10 35 33 am](https://cloud.githubusercontent.com/assets/17236117/18139708/66639f32-6f67-11e6-8bfd-64e76e6c9c2c.png)

[2016-08-31 18:09] jywarren commented on #751
Looks great! Maybe make the username bold, so it stands out a bit more?
Then I think it's good!

On Wed, Aug 31, 2016 at 1:41 PM, Caroline Ho <notifications@github.com>
wrote:

[2016-08-31 18:57] jywarren opened #766 "pin:_tagname_ powertag to pin items to tops of inline-grids that match the tag"
adding a `pin:balloon-mapping` tag would push an item to the top of any inline grid with a matching tag, for example an inline grid like `[wikis:balloon-mapping]` or `[notes:balloon-mapping]`.

To pin to a `[activities:balloon-mapping]` activities grid, you'd use: `pin:activities:balloon-mapping`.

This'd allow us to curate the FAQs, Activity Grids etc, as in https://publiclab.org/notes/liz/08-30-

[2016-08-31 20:27] ebarry commented on #750
@gretchengehrke let's work on this tomorrow once you are back! Friday afternoon HEDWIG session!

[2016-08-31 20:40] jywarren opened #768 "Sorting of activity grids when header titles clicked"
The Activity Grids (https://publiclab.org/notes/liz/08-30-2016/check-out-these-activity-grids) could be sortable using jQuery, when you click on the header. For example, you could click on `difficulty` and it'd sort by difficulty, ascending or descending.

I don't know if we could easily make it so you'd click and see only one type, though. That'd be a more complex interface.

But this would basic

[2016-08-31 21:48] steviepubliclab opened #769 "talk page text missing"
### What happened just before the problem occurred
I went to the organizer's page talk pad, and the text that use to be there is missing.

### Relevant URLs
https://publiclab.org/talk/public-lab-organizers
### PublicLab.org username
stevie
(to help reproduce the issue)

### Browser, version, and operating system
Chrome, os: X El Capitan

For bug reports, fill out the above template; for feature re

[2016-08-31 23:08] carolineh101 commented on #751
Ok! Does this look good? If so, I'll submit a pull request.

![screen shot 2016-08-31 at 4 08 03 pm](https://cloud.githubusercontent.com/assets/17236117/18149495/36324aec-6f95-11e6-8f06-9ddc07afc372.png)

[2016-08-31 23:14] jywarren commented on #751
Perfect. Thanks! Please rebase on top of the latest master and I should be
able to merge.

On Aug 31, 2016 7:09 PM, "Caroline Ho" <notifications@github.com> wrote:

[2016-08-31 23:44] carolineh101 commented on #751
Ok, I've created a pull request!

[2016-09-01 00:17] ebarry commented on #769
This is what the talk page used to be: https://publiclab.org/talk/organizers

Not sure why the link went to /public-lab-organizers

On Aug 31, 2016 5:48 PM, "steviepubliclab" <notifications@github.com> wrote:

[2016-09-01 02:29] jywarren opened #771 "move I18N library into bower dependency"
This library is included directly in the codebase:

https://github.com/publiclab/plots2/blob/master/public/javascripts/i18n.js

...but we should instead include it in our `bower.json` file and include it in our application.js file: https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/application.js

then `bower update` will include it.

[2016-09-01 02:41] jywarren commented on #768
Solved in #772

[2016-09-01 03:21] jywarren commented on #747
Reopening -- this reappeared on the FAQ grids -- 15 days: https://publiclab.org/wiki/spectrometry#Frequently+Asked+Questions

[2016-09-01 04:12] jywarren commented on #768
Ah! It's because some grids have a colon in their classname, like `notes-questions:dssk` -- we need to swap that for a dash.

[2016-09-01 15:21] jywarren commented on #753
This is very odd. I can run:

[code]

in the rails console on the production server, with no error, and its encoding is `#<Encoding:UTF-8>`. I'm not sure why this would be happening?

[2016-09-01 15:29] #747 closed

[2016-09-01 15:37] jywarren commented on #753
Very odd, also -- attempted to paste the content of this note back into the note editing form at https://publiclab.org/notes/edit/4649, and save, which failed (same error?), but pasting the content into the bottom of the sandbox wiki works fine: https://publiclab.org/wiki/sandbox

Is the database column itself ascii encoded?

[2016-09-01 15:47] jywarren commented on #768
Haha, strangely, it's almost random now: https://publiclab.org/wiki/spectrometry#Frequently+Asked+Questions

[2016-09-01 15:48] jywarren commented on #768
But activity grids are not: https://publiclab.org/wiki/desktop-spectrometry-kit-3-0#Upgrades

Notes grids sorting needs some work.

[2016-09-01 15:49] jywarren commented on #768
Also, multiple notes grids (i guess of the same tag?) will get mixed up: https://publiclab.org/wiki/desktop-spectrometry-kit-3-0#Frequently+Asked+Questions so we could insert a random suffix in the class name

[2016-09-01 15:53] jywarren commented on #753
Going to try cloning the record into a new one, preserving all columns, and deleting old one to get a fresh record. Else may have to look at reading the encoding in MYSQL? http://stackoverflow.com/questions/30598514/ruby-on-rails-utf8-encoding-problems-in-mysql-from-activerecord

[2016-09-01 16:22] jywarren commented on #753
Wow, this is a real doozy. I can /sometimes/ save a new revision with blank content, but sometimes that doesn't work either, resulting in:

[code]

There doesn't seem to be a pattern, though, and when I paste in the original content again, it breaks. I tried replacing all the quotation marks to ensure they weren't special characters, but that didn't work either.

[2016-09-01 17:23] skilfullycurled opened #774 "Proposal: Place Limitations on the Number of Tags in a Post"
Hey all,

Doing some data analysis work on tag co-occurrences and ran into the classic folksonomy problem of posts with many many tags.

Folksonomies are great for eliciting tags that might not otherwise be devised, allowing the community to define it's own categories instead of a top-down approach, and for personal self expression.  That said, they also have the potential drawback of diluting the

[2016-09-01 18:20] jywarren commented on #325
done in new Activity Grids!

[2016-09-01 18:20] #325 closed

[2016-09-01 18:23] jywarren opened #775 "Separate display of power tags from normal tags"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-09-01 18:50] jywarren commented on #769
Fixed, in that the tab link now goes to 'organizers' and not 'public-lab-organizers' -- and both pads are still available on the links above. Thanks for reporting!

[2016-09-01 18:50] #769 closed

[2016-09-01 18:57] jywarren commented on #753
On the advice of:

I inserted these lines in `/config/environment.rb` and restarted:

[code]

The post then showed up (with "hello" as its body), but when I edited and pasted in the original text, it showed the same error. So I removed those lines and restarted again. Now it's shown once again: https://publiclab.org/notes/eymund-diegel/10-26-2012/hello-kitty-watchdog-patrols-gowanus-canal-skies

T

[2016-09-01 19:10] icarito commented on #753
Sure I'll have a look tonight.

Encodings tend to be a complex issue. I've had good results by staying with utf-8 all the way.

[2016-09-01 19:23] jywarren commented on #753
Early in our sites history we weren't all but should be now, and oddly when
I run body.encoding, it reports utf-8!

On Sep 1, 2016 3:17 PM, "Sebastian Silva" <notifications@github.com> wrote:

Sure I'll have a look tonight.

Encodings tend to be a complex issue. I've had good results by staying with
utf-8 all the way.

—
You are receiving this because you commented.

Reply to this email directly,

[2016-09-01 21:16] ap916 commented on #722
Using `@node.latest.title` is giving me this error :
`ActionView::Template::Error: undefined method `title' for nil:NilClass`

[2016-09-01 21:23] jywarren opened #776 "add unit tests for node.add_tag"
should be at end of here: https://github.com/publiclab/plots2/blob/master/test/unit/drupal_node_test.rb

`node.add_tag` is here: https://github.com/publiclab/plots2/blob/master/app/models/drupal_node.rb#L651

[2016-09-01 21:42] jywarren commented on #722
Is that in your local environment? Each node should have a "latest" revision, so that's not good. Maybe you could commit what you have so far and open a pull request so I can take a look at your code?

[2016-09-01 22:00] steviepubliclab commented on #769
Awesome! Thanks Jeff

On Thu, Sep 1, 2016 at 1:50 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-09-01 22:07] ap916 commented on #722
I opened a pull request. Please check it out.

[2016-09-01 22:09] jywarren commented on #722
Ok, I may not be able to right away but it'll also now run your code in a
virtual machine so we can see how it goes.

On Sep 1, 2016 6:07 PM, "Abhishek Pandey" <notifications@github.com> wrote:

[2016-09-02 00:39] jywarren commented on #768
Another fix attempt in #779!

[2016-09-02 07:17] icarito commented on #753
Okay I logged into rails console and tried to reproduce the issue but could not trigger the error. I tried the commands you shared and indeed managed to create a new revision but setting the content back to https://gist.github.com/jywarren/8ea019bd39b8703bf8bdec85f091fba8 on the rails console felt awkward (because of escaping).

In order to properly reproduce the issue I need write rights for http

[2016-09-02 07:28] icarito commented on #753
@jywarren If you have simple way to grant me edit rights to https://publiclab.org/notes/edit/4649 I'd appreciate it - I assume I will be able to reproduce it then (on saving?).

I really need to reproduce to propose or try a fix.

[2016-09-02 13:45] jywarren commented on #753
Oh, sorry - i made you an admin just now.

On Fri, Sep 2, 2016 at 3:28 AM, Sebastian Silva <notifications@github.com>
wrote:

[2016-09-02 20:26] jywarren opened #784 "Articulate UI flow from "describe limitation" Q to "propose upgrade to solve it" activity"
This is a note to self for the new [Activities system](https://publiclab.org/notes/liz/08-30-2016/check-out-these-activity-grids), esp. on kit pages like this:

https://publiclab.org/wiki/desktop-spectrometry-kit-3-0#Limitations+&+Goals

How do we collect limitations & goals, then get people to address them with Upgrades or Activities?

[2016-09-02 20:36] #750 closed

[2016-09-02 20:56] jywarren opened #786 "Track successful vs. unsuccessful replications & builds"
in the new [Activity grids](https://publiclab.org/notes/liz/08-30-2016/check-out-these-activity-grids) -- so that the number shown is of how many succeeded vs. not.

Maybe we want to show `4/12` for four of twelve attempts succeeded?

[2016-09-02 20:59] jywarren commented on #768
Sorting is *still weird* -- need to console output what's going on in the sort, and what's being sorted.

[2016-09-02 21:03] jywarren commented on #784
Also see how `status:request` could be used to list requested activities/upgrades in the same grid as existing ones.

[2016-09-03 21:01] ebarry opened #787 "comments on Q&A slightly wonky"
### What happened just before the problem occurred

an accepted answer in the new Q&A system shows a count of 1 comments, but there is no comment.

![screen shot 2016-09-03 at 4 58 55 pm](https://cloud.githubusercontent.com/assets/161439/18227605/f0cef3f0-71f7-11e6-833b-8a4bd1dfb8f0.png)

### Relevant URLs

https://publiclab.org/questions/nshapiro/09-02-2016/question-what-is-the-open-source-commun

[2016-09-05 03:17] ananyo2012 commented on #787
Weird this doesn't happen on other questions. I am on it. Thanks for reporting @ebarry

[2016-09-05 03:19] ananyo2012 commented on #787
I also see 1 comment shown in the question comments though there is none.

[2016-09-05 03:30] ananyo2012 commented on #763
Yes I see it Jeff. I am on it.

[2016-09-05 05:11] ananyo2012 commented on #763
Ok this was due to some duplicate ids in css. Fixed in #790

[2016-09-05 05:13] ananyo2012 commented on #763
And about the answer post code it is here Jeff  https://github.com/publiclab/plots2/blob/master/app/controllers/answers_controller.rb#L4-L18. On successful submission this code gets executed https://github.com/publiclab/plots2/blob/master/app/views/answers/create.js.erb#L1-L2

[2016-09-05 05:17] ananyo2012 commented on #763
@jywarren Uh I just found that comment section in notes pages are a little shorter now. See here https://github.com/publiclab/plots2/blob/master/app/views/notes/_comments.html.erb#L3. I wonder if it was a deliberate change. It's looking quite odd. Should it make it a full grid using `col-md-12` class. If you approve I can add it in the same fix.

[2016-09-05 05:32] ananyo2012 commented on #787
Well I tried posting a comment for that question both in a answer and a separate question comment. The comment showed up just after I posted, that means it got saved. But after I refreshed the page it was gone. So there is comment present in the database for that question but it isn't showing up.

P.S. This only happens for this particular questions. Others are workinf fine. See this one where I p

[2016-09-05 06:03] ananyo2012 opened #791 "Question title not included in question post page after submitting from /questions page"
### What happened just before the problem occurred
The question title is not included in the title box of the question post page after submitting from the questions index page.

### Relevant URLs
https://publiclab.org/questions

### PublicLab.org username
ananyo2012

(to help reproduce the issue)

### Browser, version, and operating system
Google Chrome on Ubuntu 16.04 LTS

For bug reports, fill o

[2016-09-05 06:15] ananyo2012 commented on #791
Fixed in #790

[2016-09-05 06:24] ananyo2012 commented on #638
@jywarren Can you see this one? I can't figure out what is the problem. As per the image @steviepubliclab  posted at the beginning pagination links are present. But questions don't show up. This shouldn't be related to sessions since the questions are fetched from the database and then listed.

[2016-09-05 06:26] ananyo2012 commented on #638
@steviepubliclab Can you once more confirm if this is happening still now since a lot of code has been changed in the past few days?

[2016-09-05 07:24] ananyo2012 commented on #647
Well found the problem. Rails by default doesn't allow dots in dynamic segements as mentioned in the blue box here http://guides.rubyonrails.org/routing.html#dynamic-segments. But if we need it in the search  id we can use a regexp like `id: /[^\/]+/` that accepts allcharacters accept slash, referring to the solution given there. @jywarren Do we really need dots in the search term? If we do need i

[2016-09-06 01:50] carolineh101 commented on #765
Yes, I'd love to work on this!

[2016-09-06 15:17] jywarren opened #792 "Lead image doesn't appear for Questions"
### What happened just before the problem occurred

I posted a new question and don't see the lead image, although you can see there is one if you edit the note (me, or admins, can do this). Just wondering if it was intentionally omitted or if there's a bug.

### Relevant URLs

https://publiclab.org/questions/warren/09-06-2016/has-anyone-tried-a-dashboard-camera-for-timelapse-or-aerial-mapping

Th

[2016-09-06 15:28] jywarren opened #793 "Activity grid pagination or "see all #" if too long"
Activity grids and inline notes tables can get quite long, as in https://publiclab.org/wiki/spectrometry#Frequently+Asked+Questions

Perhaps we should limit them to 10-20 posts (length opinions, @ebarry, @gretchengehrke  or @steviepubliclab?) and either paginate (which would be a bit complex to implement) or at least for now, show a link that just says `View all 54`.

This all currently is generat

[2016-09-06 15:51] jywarren commented on #787
Ananyo, could you try to duplicate this by making a local copy of it with
the same tags/title/body on your local copy? If you get stuck, I can also
log in over ssh and use `rails console` to look more closely at this
question's db record.

On Mon, Sep 5, 2016 at 1:32 AM, Ananya Maiti <notifications@github.com>
wrote:

[2016-09-06 15:53] jywarren commented on #765
Super! I'm so glad. Thanks and tell us where we can be of help.

On Mon, Sep 5, 2016 at 9:50 PM, Caroline Ho <notifications@github.com>
wrote:

[2016-09-06 17:43] ebarry commented on #787
ok more information -- i got an email notification that someone DID leave a comment:

Here's a screenshot:
![screen shot 2016-09-03 at 7 08 51 pm](https://cloud.githubusercontent.com/assets/161439/18228081/fdca8242-7209-11e6-9d6d-bb22abca54ec.png)

[2016-09-06 17:47] jywarren commented on #768
Now trying to confirm that the sorted array is actually sorted-- to see if it's an issue with `sort()` itself.

[2016-09-06 18:14] jywarren commented on #763
Hmm, they look about normal to me, do you mean they're narrower? Can you show a screenshot of what you mean? You can also use the "blame" feature to see who edited a line of code -- even in Github.com's view: https://github.com/publiclab/plots2/blame/master/app/views/notes/_comments.html.erb#L3

![screenshot 2016-09-06 at 2 13 25 pm](https://cloud.githubusercontent.com/assets/24359/18285411/3e990d

[2016-09-06 18:19] jywarren commented on #647
Ah, that makes sense. Can the dots be encoded as [HTML codes](http://www.ascii.cl/htmlcodes.htm)? Hmm, that doesn't seem to work-- a period is `&#46;` but that still doesn't get moved over.

But actually it seems it doesn't copy over even if the title is "Hello world" -- so maybe there are two issues? Once it copies basic text over, then we could try the HTML code to get periods to copy over too..

[2016-09-06 19:01] steviepubliclab commented on #638
I'm seeing them now when I go to the page. Seems fixed to me.
-Stevie

On Mon, Sep 5, 2016 at 1:26 AM, Ananya Maiti <notifications@github.com>
wrote:

[2016-09-06 19:05] jywarren commented on #638
Super, thanks!!

[2016-09-06 19:05] #638 closed

[2016-09-06 19:53] #763 closed

[2016-09-06 19:53] #791 closed

[2016-09-06 20:33] ananyo2012 commented on #647
@jywarren I couldn't get your last point. Do you mean punctuation marks in title do not come up to the url?

[2016-09-06 20:40] jywarren commented on #647
Sorry, the sequence is:

1. I typed `Hello world` on https://publiclab.org/questions (pls try this on local, not live server)
2. Press enter
3. The title text input only says "Question:"

Shouldn't it include the text "Hello world" -- since that was the text of my question?

Thanks!

[2016-09-06 20:45] ananyo2012 commented on #647
ok that is fixed in issue #791. This issue is specifically for using punctuation marks

[2016-09-06 20:53] ananyo2012 commented on #763
@jywarren Yes I mean narrower that the full width. Well I see the `col-md-10` class has been kept over quite a long time. I think it's just a catch of my eye. But it would be great if we use a `col-md-12` class instead to span full-width.

[2016-09-06 20:56] jywarren commented on #763
sounds good to me!

On Tue, Sep 6, 2016 at 4:53 PM, Ananya Maiti <notifications@github.com>
wrote:

[2016-09-06 20:58] ananyo2012 commented on #792
@jywarren Yes actually I have intentionally omitted it and forgot to ask you about it. I thought keeping questions simple is better. In fact I was thinking of removing the lead image upload section in the question editor so that users won't upload a lead image. What do you say?

[2016-09-06 20:59] ananyo2012 commented on #763
Ok I can include it in a future change as it's a simple one.

[2016-09-07 00:51] ananyo2012 commented on #787
Ok I figured it out. It is due to these lines https://github.com/publiclab/plots2/blob/master/app/views/questions/_answer.html.erb#L78-L86 that extracts the anchor text and  checks for matches. The link @ebarry posted contains a anchor text for answer and that's why comments weren't being displayed as they were hidden. I will submit a fix for this shortly.

[2016-09-07 00:53] ebarry commented on #787
Awesome!!!

On Sep 6, 2016 8:51 PM, "Ananya Maiti" <notifications@github.com> wrote:

[2016-09-07 01:23] ananyo2012 commented on #787
Fixed in #795

[2016-09-07 03:22] carolineh101 commented on #765
I've started working on it!  How do I turn a research note into a tool to test on the page?  (I've tagged my test note as "tool", but it's not showing up.)

[2016-09-07 03:24] jywarren commented on #765
Ah, actually you have to make a wiki page and mark it as a tool, not a
note. Super!

On Sep 6, 2016 11:22 PM, "Caroline Ho" <notifications@github.com> wrote:

[2016-09-07 03:24] carolineh101 commented on #765
Ah ok, thanks!

[2016-09-07 05:19] carolineh101 commented on #765
I've created a preliminary layout for /tools:

![screen shot 2016-09-06 at 9 12 33 pm](https://cloud.githubusercontent.com/assets/17236117/18300517/a1833afc-747e-11e6-9251-63a33d3b8014.png)

However, I'm having a bit of trouble with the activities and upgrades counts.  I've created the new methods (```self.activities``` and ```self.upgrades```) in ```/app/models/drupal_node.rb``` and have added ``

[2016-09-07 13:56] jywarren opened #796 "Clicking "edit" on a question comment doesn't open an edit interface"
### What happened just before the problem occurred

I was on a question page and clicked the "pencil" edit icon for a comment i'd just made, but wasn't shown an editor or the comment text -- it seemed to show me a new blank box:

![screenshot 2016-09-07 at 9 56 00 am](https://cloud.githubusercontent.com/assets/24359/18314520/5fe6397e-74e1-11e6-809d-0af29d8505e6.png)
### Relevant URLs

https://publ

[2016-09-07 13:57] jywarren commented on #796
@ananyo2012 , would you mind taking a look at this? Perhaps we could add a JS test. Thanks!

[2016-09-07 14:01] jywarren opened #797 "Error on commenting on a question"
### What happened just before the problem occurred

I left a comment with some markdown in it ( the `> hello world` block quote syntax) and, though I don't know of that was the problem, I saw an error:

![screenshot 2016-09-07 at 9 59 48 am](https://cloud.githubusercontent.com/assets/24359/18314666/054c1c08-74e2-11e6-93be-d63ec8b2a42e.png)

However on page refresh, the comment was saved. @ananyo20

[2016-09-07 14:18] jywarren commented on #765
I think I can help out here, but in the meantime maybe @ebarry and
@steviepubliclab can chip in on the design itself. I also was thinking we
could show the icons in colors (blue, red?), so they're easy to pick out.

On Sep 7, 2016 1:19 AM, "Caroline Ho" <notifications@github.com> wrote:

[2016-09-07 14:33] steviepubliclab commented on #765
Hi! Wow really excited for this. I like the design you're suggesting here. Also, I agree that having them different colors could be helpful. Does your layout include the lead image? The lead images caught my attention from the screenshot @jywarren copied in. Seem like right now the size isn't standard, if they were, perhaps they would fit better on the page and be easier to scan through? But this

[2016-09-07 14:47] jywarren commented on #765
Hi, Caroline -- so this is a bit more complex of an issue, but it's not too much more so. See in `application_helper.rb`:

https://github.com/publiclab/plots2/blob/master/app/helpers/application_helper.rb#L73-L77

The "stacked" methods like:

[code]

That whole stack could be moved into `/app/models/drupal_node.rb` as a method called `activities` (the missing method) -- creating a paramter called

[2016-09-07 14:51] jywarren commented on #765
And just one more note -- we could, alternatively, decide that the `activities` method really ought to be a method of `DrupalTag` -- as I've made a few methods of that sort in that class, and we are doing tag-related things: https://github.com/publiclab/plots2/blob/master/app/models/drupal_tag.rb#L62-L69

But since we want `.activities()` to return nodes, I think our current plan makes sense. But

[2016-09-07 14:56] #787 closed

[2016-09-07 15:03] ebarry commented on #214
Seems like this is an important functionality to have in place before we announce to the lists that we have the capability to support conversation entirely through our website.

[2016-09-07 15:34] jywarren commented on #792
Hmm, well, until we think through not prompting people for images in the
submission form, I think we should add it back in -- I see the idea of it
being simpler, but as it is, people may add images and then become
confused. Thanks!

On Tue, Sep 6, 2016 at 4:58 PM, Ananya Maiti <notifications@github.com>
wrote:

[2016-09-07 15:43] jywarren commented on #765
Standard image sizes could be done using some of the code from the new
dashboard -- see how on the dashboard they're all cropped to the same
height? https://publiclab.org/dashboard (or https://publiclab.org/research
if you're not logged in)

The code for that is here:
https://github.com/publiclab/plots2/blob/master/app/views/dashboard/_node_default.html.erb

And styles here:
https://github.com/pub

[2016-09-07 15:46] jywarren commented on #214
a pretty big one, though -- would need lots of testing. I hesitate to say
this far out, but maybe GSoC 2017...?

On Wed, Sep 7, 2016 at 11:03 AM, Liz Barry <notifications@github.com> wrote:

[2016-09-07 16:06] ebarry opened #798 "Recursive "subscribe to question" link!"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2016-09-07 17:15] ananyo2012 commented on #796
Just looking at it Jeff
ᐧ

On Wed, Sep 7, 2016 at 7:27 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-09-07 17:16] ananyo2012 commented on #797
Catching this one too Jeff!
ᐧ

On Wed, Sep 7, 2016 at 7:31 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-09-07 17:19] ananyo2012 commented on #792
Ok Jeff I will add the lead image back.
ᐧ

On Wed, Sep 7, 2016 at 9:04 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-09-07 17:22] ananyo2012 commented on #798
Yeah that's a thing I also noticed previously but forgot to mention. I
think we should extract the question topic for question tags.
ᐧ

On Wed, Sep 7, 2016 at 9:36 PM, Liz Barry <notifications@github.com> wrote:

[2016-09-07 21:25] ebarry opened #800 "(Link to) advanced search is wack!"
### What happened just before the problem occurred

i searched for a term for which there were no results. (i recreated this error with a neutral term "noresults" (haha): https://publiclab.org/search/noresults

Screenshot:
![screen shot 2016-09-07 at 5 22 42 pm](https://cloud.githubusercontent.com/assets/161439/18329045/c042edf6-751f-11e6-9c79-68d0dce45433.png)

On that page of no results, i click

[2016-09-07 21:53] jywarren opened #801 "tag deletion works but requires page refresh"
### What happened just before the problem occurred

I deleted a tag, like on this page: https://publiclab.org/wiki/kits#Tags

Tagging deletion triggers a jQuery event called `ajax:success` which is handled here: https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/tagging.js#L51-L55

but doesn't seem to work; needs some debugging. I think that has to go inside this block: https:/

[2016-09-07 21:56] jywarren commented on #800
I believe this is pending @ujithaperera's work in https://github.com/publiclab/plots2/pull/781, but there could also be a separate issue in @david-days API code? Would you two mind taking a look?

[2016-09-07 22:16] jywarren opened #802 "some redirected/renamed node URLs broken"
### What happened just before the problem occurred

I wanted to go to:

https://publiclab.org/notes/liz/08-03-2011/infrared-balloon-image-reveals-gowanus-plume

But I found that the post only exists now at:

https://publiclab.org/notes/liz/8-3-2011/ir-reveals-gowanus-plume

This page is also possibly broken: https://publiclab.org/notes/hunter/7-19-2012/irvs-timelapse

We used to use redirect recor

[2016-09-07 22:26] david-days commented on #800
I will take a look.  I am betting on routes.rb, which was reworked a few
times over gsoc.

On Sep 7, 2016 5:56 PM, "Jeffrey Warren" <notifications@github.com> wrote:

[2016-09-08 01:29] carolineh101 commented on #765
Thanks, the code for the activity and upgrades tables works now!  I've also added images to the tools and colors to the icons (though I haven't worked on image cropping yet).  How does this look so far?

![screen shot 2016-09-07 at 6 22 02 pm](https://cloud.githubusercontent.com/assets/17236117/18333925/27969478-7528-11e6-9fcd-9aece95f5d4c.png)

I just have a couple questions – how are we defining

[2016-09-08 01:55] jywarren commented on #765
Oh, this is so great! I'll answer at greater length tomorrow, but for
starters I wonder if we can align center within each tool and have the
activities link to the /wiki/toolname#Activities section. For tag name, I
think for now we have to assume the tag name matches the tool page name
(slug), although this won't always be true. But we can either work to make
it more true, or come up with a new sy

[2016-09-08 03:36] RodCardenas commented on #715
I'd like to help with this.

[2016-09-08 05:16] ujithaperera commented on #800
This can be fixed easily by adding correct link to the page. But I also found that several route duplications in the the file.

[2016-09-08 07:15] carolineh101 commented on #765
Okay!  I've added links to the activities and upgrades, standardized the image heights to 150px, centered the content, and got the activities/upgrades numbers working.  How does this look so far?

![screen shot 2016-09-08 at 12 07 58 am](https://cloud.githubusercontent.com/assets/17236117/18340176/664fecf2-7558-11e6-98c3-286080b17407.png)

A couple caveats: the activities and upgrades links are to

[2016-09-08 11:40] ananyo2012 commented on #796
@jywarren I don't see this in development as well as in a question in production which I previously posted https://publiclab.org/questions/ananyo2012/08-17-2016/is-the-question-interface-working. Can recheck once if it's happening again?

[2016-09-08 11:41] ananyo2012 commented on #796
I am trying to add a javascript test for this.

[2016-09-08 11:51] ananyo2012 commented on #797
Uh Ok I see this is not a problem of the blockquote but  something else. Just trying to figure it out

[2016-09-08 11:51] ananyo2012 commented on #796
Ok I see it now. This is related to #797

[2016-09-08 11:56] ananyo2012 commented on #797
I think a new line character is causing the problem.

[2016-09-08 12:10] ananyo2012 commented on #796
Comments with a new line character aren't editable now.

[2016-09-08 13:04] jywarren commented on #796
Ah, ok -- good catch. Yes, I think a JS test is a good idea. Thanks!!!!! So glad the JS tests will be more reliable now.

[2016-09-08 13:13] jywarren commented on #765
This looks great. I'm thinking perhaps we should make the text size of a bit smaller -- match to the views/stars section, and... maybe comment out contributors until we figure that out? I think that's a bigger project for which we may need to open a new issue -- it could include counting:

* authors who've posted work tagged with the topic tagname
* those who've commented on or answered such posts

[2016-09-08 13:14] jywarren commented on #765
Oh, and I think we could make the header "Tools and techniques" and center it, with the subtitle in kind of a grey underneath. What do you think?

[2016-09-08 15:43] steviepubliclab commented on #765
ohh I love this. The equalized spacing looks really nice too. I don't think the questions on first glance is as important and it might get a little cluttered. I think questions are more important on the tool pages themselves.

[2016-09-08 15:49] jywarren commented on #765
Stevie, do you think we could/should remove "last edit by xxx" from this
view? Since in many ways now, the way to contribute is to do/post
activities, more than to edit the wiki page itself?

On Thu, Sep 8, 2016 at 11:43 AM, steviepubliclab <notifications@github.com>
wrote:

[2016-09-08 15:52] steviepubliclab commented on #765
We could, but it does make it a bit more personable.

[2016-09-08 19:10] carolineh101 commented on #765
How does this look now?  I changed "read more" to "get involved" because it sounds more welcoming/interactive – what do you think?

![screen shot 2016-09-08 at 12 08 08 pm](https://cloud.githubusercontent.com/assets/17236117/18363000/0d09d026-75bd-11e6-9e86-9396eef6c9e6.png)

[2016-09-08 19:40] steviepubliclab opened #806 "Q&A Tab for unanswered questions"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-09-08 20:48] jywarren commented on #802
`DrupalNode.where(path: 'DUPLICATE', status: 1)` returns nothing.

[2016-09-08 20:53] jywarren commented on #802
However this returns 100 records:

`redirects = DrupalNode.where('type LIKE (?)', 'redirect|%').limit(100)`

so... there are a lot of them. 223, to be exact:

[code]

I put them here: https://publiclab.org/redirects.txt

[2016-09-08 20:54] jywarren commented on #802
They indeed include: "REDIRECT-notes/liz/8-3-2011/infrared-balloon-image-reveals-gowanus-plume-0.9933278192862228" but nothing by **hunter** (the second broken link).

[2016-09-08 21:01] BeckiC opened #807 "Balloon mapping page missing?"
### What happened just before the problem occurred
Clicked through from Tools page and got an error.

### Relevant URLs

https://publiclab.org/wiki/balloon-mapping

### PublicLab.org username
Becki

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

To learn how to write really

[2016-09-08 21:08] jywarren commented on #807
Yikes, this could be related to
https://github.com/publiclab/plots2/issues/802 which is my top priority
first thing tomorrow. Thanks.

On Sep 8, 2016 5:01 PM, "BeckiC" <notifications@github.com> wrote:

[2016-09-08 21:09] jywarren commented on #807
Yes, looks like that's it.

On Sep 8, 2016 5:08 PM, "Jeffrey Warren" <jywarren@gmail.com> wrote:

[2016-09-09 13:44] jywarren commented on #807
I'm seeing that the record shows: `#<DrupalNode nid: 22, vid: 27209, type: "page", language: "", title: "Balloon & Kite Mapping", uid: 1, status: 1, created: 1292007214, changed: 1471733029, comment: 0, promote: 0, moderate: 0, sticky: 0, tnid: 0, translate: 0, cached_likes: 5, drupal_comments_count: 0, drupal_node_revisions_count: 117, path: "/wiki/balloon-mapping", main_image_id: nil, slug: "--2

[2016-09-09 14:01] jywarren commented on #807
Ugh, so there's another record which I moved to "balloon-mapping-2" -- but this seems to be a different error:

[code]

Fix in testing: https://github.com/publiclab/plots2/pull/808

[2016-09-09 14:03] jywarren commented on #802
I wonder if there's an issue with legacy users, since https://publiclab.org/profile/hunter also doesn't load. Maybe recent changes haven't accounted for unmigrated users. Maybe we should just auto-migrate all users who have content or comments.

[2016-09-09 14:13] jywarren commented on #802
We can run `u.migrate unless u.using_new_site?` for each unmigrated user (commenters and authors).

[2016-09-09 14:14] jywarren commented on #802
Doing that for Hunter fixed https://publiclab.org/notes/hunter/7-19-2012/irvs-timelapse. Great.

[2016-09-09 14:18] jywarren commented on #802
this is now done for all the prior listed uids.

[2016-09-09 14:19] jywarren commented on #807
Fixed in #808.

[2016-09-09 14:19] #807 closed

[2016-09-09 14:21] jywarren commented on #802
Also, in #808 resolved #807, so that's probably not related to this.

[2016-09-09 15:37] jywarren commented on #802
Added a test for the redirection -- and noticed that many redirect records have a `path` field of `nil`. Looking in legacy db to recover these. Related to `friendly_id` migration.

[2016-09-09 15:37] jywarren commented on #802
`[10715, 10716, 10717, 10718, 10719, 10720, 10721, 10724, 10725, 10726, 10727, 10729, 10731, 10734, 10735, 10738, 10740, 10741, 10743, 10744, 10745, 10747, 10748, 10749, 10750, 10751, 10752, 10753, 10754, 10755, 10756, 10757, 10759, 10760, 10761, 10762, 10764, 10766, 10767, 10769, 10770, 10771, 10772, 10773, 10774, 10775, 10776, 10777, 10778, 10779, 10780, 10781, 10782, 10784, 10787, 10789, 10790,

[2016-09-09 15:47] jywarren commented on #802
OK -- migrated. Now:

https://publiclab.org/notes/liz/8-3-2011/infrared-balloon-image-reveals-gowanus-plume leads to

https://publiclab.org/notes/liz/8-3-2011/ir-reveals-gowanus-plume

https://publiclab.org/notes/warren/2-14-2012/ultraviolet-spectroscopy-test-350nm leads to

https://publiclab.org/notes/warren/2-14-2012/ultraviolet-spectroscopy-testing

This works and redirection is tested now here

[2016-09-09 15:47] #802 closed

[2016-09-09 18:59] steviepubliclab commented on #765
Hm, it sounds a bit like a commitment though and some people might not be
ready to commit to just in their exploring stage. Oh, explore, what do
people think of that word instead?

On Thu, Sep 8, 2016 at 2:10 PM, Caroline Ho <notifications@github.com>
wrote:

[2016-09-09 21:10] jywarren opened #811 "Way(s) to list/convert wiki page to Activity"
Scenarios:
1. (what I think you're proposing) -- to make wikis appear in grids as they are now, we'd need 1) to list all authors in the Authors column, which could get crowded but looks OK for now, and 2) provide some way for people doing activities to contact/question the authors, say, by notifying authors of replications, or subscribing authors to replications maybe? 3) adapt the "replications"

[2016-09-10 02:04] cpdavngr commented on #717
I can take this one. This will be my first bug fix.

[2016-09-11 13:17] jywarren commented on #717
Thank you, that would be great! Don't hesitate to ask if you need any help,
of if you get stuck.

On Sep 9, 2016 10:04 PM, "cpdavngr" <notifications@github.com> wrote:

[2016-09-11 19:24] cpdavngr commented on #717
Okay, I think I figured it out. I added conditional logic to the "sidebar-feature" line:
[https://github.com/cpdavngr/plots2/blob/master/app/views/sidebar/_user.html.erb#L5-L7](url)
Let me know if this is correct and what I need to do next. Thanks!

[2016-09-11 23:02] carolineh101 commented on #765
Hmm, explore does sound better – how does this look now?

![screen shot 2016-09-11 at 7 01 40 pm](https://cloud.githubusercontent.com/assets/17236117/18421212/4e057c14-7852-11e6-8025-c83f219eee67.png)

[2016-09-12 13:46] jywarren commented on #717
Hi that looks good -- next up would be to open a pull request, following the sequence outlined here: https://publiclab.org/wiki/contributing-to-public-lab-software

Then we'll be able to see if your new code passes the automated tests (if you accidentally broke something, for example) and I can review all the changes on Tuesday or Friday (our two review/merge days). Thanks a lot!!

[2016-09-13 00:52] jywarren opened #812 "add Jasmine AJAX tests for tagging.js"
Currently tagging is done in tag forms on any note ([like this one]()) in a form; the HTML is here:

https://github.com/publiclab/plots2/blob/master/app/views/tag/_tagging.html.erb

And the javascript is here:

https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/tagging.js

This code is not tested in our Jasmine testing framework, but I've stubbed a test out in this PR (#813, wh

[2016-09-13 00:58] jywarren commented on #801
Fix open in #813, will merge soon.

[2016-09-13 01:07] david-days commented on #812
I need to catch up on testing with Jasmine, and I've been out of the loop for too long.  I'll take a look and see if I can wrap my head around it.  If I can, I'll add proper javascript tests for the RESTful API.

[2016-09-13 01:23] jywarren commented on #812
oh cool -- however, be aware that Jasmine tests never get to our server
code -- we test client-side interfaces against mocked API responses. But if
you have standard mock output that conforms to your API, you can test JS
code against that. Great!

On Mon, Sep 12, 2016 at 9:07 PM, David C Days <notifications@github.com>
wrote:

[2016-09-13 16:52] jywarren commented on #786
And Mathew made a good suggestion -- ways to encourage people to post "partway done" work, to ask for help and post their work so far.

[2016-09-13 16:54] jywarren commented on #765
I think this looks really good and we're ready for a PR -- we can continue to refine it in follow-up posts. Sound good? Thanks!

[2016-09-13 17:17] icarito commented on #205
We have currently a Dockerfile and docker-compose.yml that setup a Debian 8 container, and we currently use if for continuous integration.

Have a look at .travis.yml for a comand-by-command instruction on how to setup a container with mysql database.

Closing, feel free to reopen if there's something missing!

[2016-09-13 17:17] #205 closed

[2016-09-13 19:29] jywarren opened #814 "replication templates from [prompt:text] power tag?"
Note to self (also @ebarry)

![tmp_5683-img_20160913_152431 2-1448108704](https://cloud.githubusercontent.com/assets/24359/18488283/b57f9e40-79c6-11e6-9ffb-f1f743e2e7cf.jpg)

[2016-09-13 19:29] jywarren commented on #814
Just an idea

[2016-09-13 20:37] carolineh101 commented on #765
Ok, will submit a PR!

[2016-09-13 21:16] jywarren opened #816 "some wiki page revisions tab links go to wrong URL"
### What happened just before the problem occurred

I clicked Revisions on a wiki page: https://publiclab.org/lists

And got this, with a red warning box that says it has no revisions: https://publiclab.org/wiki/revisions/mailing-lists

This also happened on https://publiclab.org/wiki/ndvi

The code for this button is here: https://github.com/publiclab/plots2/blob/master/app/views/wiki/show.html.e

[2016-09-13 21:22] jywarren opened #817 "moderated wiki revisions appear in Wiki dashboard sidebar"
### What happened just before the problem occurred

Wiki edits by `mariakatosvich` which I spammed still appear in the sidebar of the dashboard at https://publiclab.org/dashboard (https://publiclab.org/research if not logged in).

These are generated by this query: https://github.com/publiclab/plots2/blob/master/app/controllers/home_controller.rb#L77

Notice on line 80, we specify `node.status = 1

[2016-09-13 21:25] jywarren opened #818 "Moderating a wiki revision needs cache flush in URL"
### What happened just before the problem occurred

After marking a wiki revision as spam (on a page [like this](https://publiclab.org/wiki/revisions/london-uk)), the revisions page doesn't show the new content; we should redirect back to the revisions page, not the dashboard, and append `'?_=' + Time.now.to_i.to_s` so the browser cache flushes.

The code for this redirect is here: https://github.

[2016-09-14 17:51] jywarren opened #820 "get activity grids/top-level pages to return at top of new search interface"
(just a placeholder via @gretchengehrke)

so there's a structured place to engage when you're searching for content

maybe just 1 result bumped to top of results that's a top-level page

[2016-09-15 01:18] cpdavngr commented on #717
Okay, I'm a bit new to github. First, I realized that I forgot to make a
branch for my change before I committed it. Since it was a quick, small
change, I deleted the forked repository.forked it again, cloned it to my
Fedora box, created a new branch, made sure I was in the new branch, made
the change, and then switched to the master branch. However, when I tried
executing "git pull publiclab mast

[2016-09-15 05:14] pdhixenbaugh commented on #158
Found this issue when about to open my own.

The button now says (Click to edit) or something, but it lies because you actually don't need to click it to edit -- you can type in the box as before. Then you have to click the button twice before it updates the preview. (I will add a screencap showing this). The button could instead say "Update Preview" or "Refresh Preview" and take just one click to

[2016-09-15 16:58] jywarren commented on #717
Oh, swapping the URL provided on our projects main GitHub page for the word
"publiclab" should work -- what error did you get then?

We should change that line in the guide to the URL instead of "publiclab"
-- which instructions did you see it in? The wiki page on contributing?
Thanks!

On Sep 14, 2016 9:18 PM, "cpdavngr" <notifications@github.com> wrote:

[2016-09-15 18:02] cpdavngr commented on #717
Ah, ok, I didn't try that.  I ended up just making the change and doing the
pull request via the Github website. I was trying to avoid that, but, it
worked. :) Anyway, after I made the pull request, it gave me the option to
merge it. I wasn't sure if I was supposed to do that or not so I didn't.
Should I merge it?

The instructions I was following are on the URL that you sent me. Step 5 is
what pr

[2016-09-15 19:08] jywarren commented on #717
Hmm, i wonder -- i didn't see a PR notification -- maybe it's asking you to merge it into your own master branch? See if you can re-make the PR and choose `publiclab/plots2 master` as the base for your PR and you shouldn't be offered the option to merge into the `publiclab` main project repo. Thanks!

Yeah -- i actually like the edit-on-github.com workflow, it's kind of neat that it exists. Though

[2016-09-15 19:45] jywarren opened #821 ""Try related activities" link/listing at bottom of each Activity"
We should, at the bottom of [any given activity](https://publiclab.org/notes/liz/08-30-2016/check-out-these-activity-grids), give people a "what can you do next" prompt, leading to a subsequent activity, or just back to the activities grid they came from.

[2016-09-16 19:26] cpdavngr commented on #717
Ah, yep, that's what I did. I made a pull request against my own fork. :P  (Again, Github n00b. ;) )
Anyway, I think it worked this time via the web.  Let me know if there's anything else I need to do.

Thanks!

-Ralph

[2016-09-16 19:31] jywarren commented on #717
super! we're working through a merge issue with PR #810 at the moment, so
it might be a few days before we pull this one in. Thanks for your hard
work!

On Fri, Sep 16, 2016 at 3:26 PM, cpdavngr <notifications@github.com> wrote:

[2016-09-18 11:28] numeroteca opened #823 "Broken map link in the archive"
### What happened just before the problem occurred

I searched for a map in the archive. I found it but the link it is not working.
### Relevant URLs

Broken URL: https://publiclab.org/map/real-estate-bubble-ruins-madrid-spain/2013-01-03
### PublicLab.org username

pablo
I get the same problem without login in.
### Browser, version, and operating system

Firefox 47.0 on Ubuntu 14.04.

[2016-09-18 14:31] jywarren opened #824 "old "reports" urls not working"
There are very few "reports" left, but we had tried to migrate them in the past and I think we need to take another look.

https://publiclab.org/report/diy-spectrometry-workshop-lima-peru

could be converted to a wiki page or research note; there are few enough reports that this could probably be done manually.

[2016-09-18 14:48] cpdavngr commented on #793
I'd like to try fixing this one.
I'll probably just edit the JavaScript to fix it, but would "will_paginate" be an option?
https://github.com/mislav/will_paginate

[2016-09-18 15:13] jywarren commented on #793
Oh cool! My guess is that we won't have enough that we really need to do a
database limit the way will paginate does. And since we have sorting in
JavaScript, we'd then have to refactor sorting to be server side. I agree
it'll be easier to do this in JavaScript and assume we'll have a max of,
say, 40-50 rows to show.

Thanks!

On Sep 18, 2016 10:48 AM, "cpdavngr" <notifications@github.com> wrote:

[2016-09-19 00:21] jywarren commented on #761
Begun work in #825 with tests

[2016-09-19 13:19] jywarren commented on #715
This was fixed in #803!

[2016-09-19 13:19] #715 closed

[2016-09-19 13:22] jywarren commented on #751
Completed!

[2016-09-19 13:22] #751 closed

[2016-09-19 13:48] jywarren opened #826 "Tag creator can't delete own powertags -- needs test written"
Katie made a tag `activity:coqui` on this page: https://publiclab.org/notes/donblair/01-14-2015/riffle-coqui-development-plan

but couldn't delete it herself. she's not a mod or admin. So I it looks like the permission check is OK:

https://github.com/publiclab/plots2/blob/master/app/controllers/tag_controller.rb#L148

`if node_tag.uid == current_user.uid || current_user.role == "admin" || current

[2016-09-19 14:38] jywarren commented on #717
Great, I see it in #822 and it passes tests perfectly. Closing here!

I'm curious (we're trying to improve on reaching out to first time contributors) -- how did you hear about our project?

[2016-09-19 14:38] #717 closed

[2016-09-19 15:04] cpdavngr commented on #717
Thanks!  I found the project via the "first-timers-only" search in Github.
I think I found out about the search term through this article:
https://medium.com/@kentcdodds/first-timers-only-78281ea47455#.fck0tz4sv

Thank you for taking the time to categorize the difficulty of the issues. I
think that really helps first timers like me. :)

-Ralph

On Mon, Sep 19, 2016 at 10:38 AM, Jeffrey Warren <not

[2016-09-19 16:54] jywarren opened #827 "top-level /activities listing page!"
A place to find activities or post them, by topic!

This is a huge one -- open to suggestions but probably needs a lot of design/UI thinking before we start coding, but just to get it started!!!

[2016-09-20 13:35] jywarren opened #828 "make a "redirect" type note which auto-redirects normal users but not mods or admins"
We sometimes want to redirect a page, but it can take manual database changes to do this. We should simply have a [power tag]() like `redirect:<id>` where the `<id>` is the nid of the destination page.

Normal users (`user.role != 'admin' && user.role != 'moderator'`) should just be automatically redirected in the wiki and notes controllers' `show` methods:

https://github.com/publiclab/plots2/blo

[2016-09-20 13:39] jywarren opened #829 "show "This is an upgrade for X" message at the top of upgrade pages"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-09-20 16:17] jywarren opened #830 "Embeddable activities grids for including on external sites"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-09-20 22:12] jywarren opened #831 "Set image css width to 100% for answers to questions"
Questions pages display answers below ([like this](https://publiclab.org/questions/warren/09-19-2016/how-can-i-reduce-ambient-light-inside-the-desktop-spectrometry-starter-kit#answers)), but images added inline in peoples' answers do not conform to their parent elements' width; on mobile devices or narrow screens, they overflow and look gigantic and silly.

We need to add something like:

[code]

[2016-09-21 07:49] ykl7 commented on #831
@jywarren do you mind if i try to work on this?

[2016-09-21 11:21] jywarren commented on #831
Please! Sounds great!

On Sep 21, 2016 3:49 AM, "ykl7" <notifications@github.com> wrote:

[2016-09-21 14:22] jywarren commented on #800
#810 was just merged in, and we'll be looking at advanced search functionality once it gets published on the site on Thursday; it may take some additional tweaks.

[2016-09-21 14:29] jywarren opened #832 "Followup to Solr integration -- installation steps"
Solr is now a requirement to run tests, which may increase barriers for newcomers. I'd like to take some steps to make this process easier:
- [x] update README to show solr installation: `apt-get install openjdk-7-jre openjdk-7-jdk icedtea-7-plugin`
- [x] remove duplicate rake db:setup and check if @icarito added those (or if we can remove them)
- [x] build `rake sunspot:solr:start` into `rake tes

[2016-09-21 14:39] jywarren opened #834 "Test DrupalNode.activities with activity node fixtures"
We need to test the new `DrupalNode.activities` and `DrupalNode.upgrades` methods at the bottom of `drupal_node.rb`:

https://github.com/publiclab/plots2/tree/master/app/models/drupal_node.rb

We should create fixtures in:

https://github.com/publiclab/plots2/tree/master/test/fixtures/node.yml
https://github.com/publiclab/plots2/tree/master/test/fixtures/tags.yml
https://github.com/publiclab/plots

[2016-09-21 15:14] jywarren commented on #793
How are things going here -- need any help or tips? Were you able to get the Jasmine javascript tests running? I believe there's a test for the "sorting" function of the activity grids.

[2016-09-21 17:57] sjones88 commented on #719
Hi, I'd like to work on this.

[2016-09-21 18:35] nickstaggs commented on #714
@jywarren I can take this one. Just so I understand what you want, the original line is:

[code]
and the final product should be:
[code]
for all instances where place and tool node types occur?

[2016-09-21 22:27] ebarry opened #835 "quick thought -- collapsible sections of Activity Grids"
Just jotting an idea here that Activity Grids could get quite long. Imagine the /water-quality page will contain all activities that are also housing in Coqui grids, Riffle Grids, Secchi grids, etc!

Perhaps rows of activities that are the same category could be "collapsed" somehow into a simple label listing the Activity Category.

[2016-09-21 23:29] david-days commented on #835
An alternative to collapsing (or maybe as a container for collapsible rows) is using the tabbed navigation that comes with bootstrap.  The [dynamic search page](http://publiclab.org/search/dynamic) uses this: The full HTML (dynamic via jQuery, in this case) is still within the page, but the groups are separated out by tabbed panels.

It doesn't always work as the best form of navigation, since you

[2016-09-22 12:47] jywarren commented on #797
Hi, Ananyo -- I looked in https://github.com/publiclab/plots2/blob/master/app/models/answer.rb but couldn't find where the newline requirement is in the code -- it's also not apparently in https://github.com/publiclab/plots2/blob/master/app/controllers/answers_controller.rb. Where can we remove this restriction? The only validation I see in the model is that `:content` must exist.

[2016-09-22 13:00] jywarren commented on #835
There's also a grid pagination issue being worked on by a new contributor:
https://github.com/publiclab/plots2/issues/793

I tend to think that we should go ahead with that, which in combination
with grid sortability, should be pretty good. Maybe we could eventually add
the ability to filter -- like, if you click on "easy" it starts showing
only easy activities.

On Wed, Sep 21, 2016 at 7:29 PM, D

[2016-09-22 16:06] jywarren commented on #719
Hi, amazing, thank you so much! I see your PR, perfect.

[2016-09-22 16:15] #719 closed

[2016-09-22 16:25] sjones88 commented on #828
Hi @jywarren, I'd like to take a crack at this.

[2016-09-22 16:46] jywarren commented on #828
That would be super -- thanks! Have you written tests in Rails before, or would you be able to try writing a test for this? An example test you could work from is this one, which logs in as an `admin` and tests for a flashed message and redirect: https://github.com/publiclab/plots2/blob/master/test/functional/wiki_controller_test.rb#L201-L212

One test could be similar, adding the tag and checking

[2016-09-22 16:56] sjones88 commented on #828
I was planning on writing the tests first. Should I make a PR once the tests are written so we can review them before I move on to the issue?

[2016-09-22 16:57] gretchengehrke opened #837 "New "answers" to questions are not showing up in dashboard feed"
### What happened just before the problem occurred

I was the third person to submit an answer to a question, but the question was still buried in the dashboard feed down at the date of the original question-posting. Then, I found new information that was relevant and wanted to submit an additional answer, and again had to scroll all the way down the page to find the question post in my feed. The