[2020-01-07 02:12] SidharthBansal commented on #3367
@Uzay-G

[2020-01-07 02:12] SidharthBansal commented on #3367
Please ensure that this is working after your pr

[2020-01-07 02:12] SidharthBansal commented on #4691
@Uzay-G is this issue completed?
Can we close this?

[2020-01-07 02:13] SidharthBansal commented on #4487
@jywarren

[2020-01-07 02:14] SidharthBansal commented on #5600
@jywarren

[2020-01-07 02:15] SidharthBansal commented on #5198
@divyabaid16 can you please check and tell?
Thanks

[2020-01-07 02:33] divyabaid16 commented on #5198
It is showing that my account doesn't have a password set, so I tried with forgot password, then it is showing some error. Do you know why this is happening? Or maybe my account is just registered by Github so it doesn't allow a separate login?
![Selection_271](https://user-images.githubusercontent.com/32747809/71863784-fd35cf80-3123-11ea-9544-3b7c6fc6b91f.png)
![Selection_272](https://user-images

[2020-01-07 03:27] sunguru98 commented on #7109
I completed the solution and even tries to PR it, but it gives me some Codeclimate error, dont know what that is about. I went and changed the tests and then tried again. No use. Please help me @skilfullycurled

[2020-01-07 04:25] SidharthBansal commented on #5198
Have you checked it again?
It should work now

On Tue, 7 Jan 2020, 8:03 am Divya Baid, <notifications@github.com> wrote:

[2020-01-07 04:41] divyabaid16 commented on #5198
Ya, the screen shot that I posted was today's. I don't know but for me, it
is not working. Can someone else also check who has logged in from Github.?

On Tue, Jan 7, 2020, 09:55 Sidharth Bansal <notifications@github.com> wrote:

[2020-01-07 05:02] SidharthBansal commented on #5198
My GitHub is working

On Tue, 7 Jan 2020, 10:11 am Divya Baid, <notifications@github.com> wrote:

[2020-01-07 05:02] SidharthBansal commented on #5198
Can anyone else pls check and tell

On Tue, 7 Jan 2020, 10:31 am Sidharth Bansal, <bansal.sidharthcode@gmail.com>
wrote:

[2020-01-07 05:02] SidharthBansal commented on #5198
Are your other providers fb Twitter Google working?

On Tue, 7 Jan 2020, 10:32 am Sidharth Bansal, <bansal.sidharthcode@gmail.com>
wrote:

[2020-01-07 06:27] Uzay-G commented on #4691
Yeah everything all these issues will be solved once we merge #7072.

[2020-01-07 06:31] Uzay-G commented on #3367
Yeah this works as you can see here:
![wiki-redirect](https://user-images.githubusercontent.com/52892257/71873561-c5c52400-311f-11ea-9853-fdb36c4e2dd0.gif)

[2020-01-07 09:06] shipcy commented on #6962
@skilfullycurled I've done the def useremail function changes and made another pull request.

[2020-01-07 09:19] shipcy commented on #6962
@skilfullycurled I have also completed the second part which is changing the template to add the checkbox and made a pull request.

[2020-01-07 09:30] shipcy commented on #6962
@skilfullycurled and @jywarren I wanna know the one thing that why are we using % inside HTML tags like <% if @address %> ?

[2020-01-07 10:35] tsparksh opened #7133 "Multiple reflected XSS"
### Please describe the problem (or idea)

While taking the input for the comment, filtering of input does not happen so that XSS script is executed.
Payload I've used: ```<img src=x onerror=prompt('xss')>```

### Please show us where to look

https://publiclab.org/blog/%3Cimg%20src=x%20onerror=prompt('xss')%3E
and
https://publiclab.org//tag//%3C%2Ftitle%3E1%3Cimg%20src=x%20onerror=prompt('xss')%3

[2020-01-07 10:39] tsparksh commented on #7133
This issue may be helpful https://github.com/publiclab/plots2/issues/3549

[2020-01-07 12:22] SidharthBansal commented on #3367
Kindly work on some related stuff or new issue. I will be very less
available till monday. I have some important work.
I will review this whenever I get time.
You can abandon current task and get approval for mk and swb installation.
Please do other tasks after that. I will keep review login related task but
at slower pace. Sorry for inconvenience.

On Tue, 7 Jan 2020, 12:01 pm Uzay-G, <notificati

[2020-01-07 12:22] SidharthBansal commented on #3367
Once we will complete this task then you can get points for this.

On Tue, 7 Jan 2020, 5:51 pm Sidharth Bansal, <bansal.sidharthcode@gmail.com>
wrote:

[2020-01-07 14:08] skilfullycurled commented on #7109
First, you’re going a great job figuring everything out!

My code climate didn’t (and still don’t always) pass, it’s super frustrating.  This is very normal.  You’re doing all the right things.

And, you’ll have a chance to learn how to debug with code climate.  Like I said, this won’t be the last time you’ll be in this position.

Another benefit is that code climate tests do not fail for code tha

[2020-01-07 14:12] skilfullycurled commented on #6962
I forgot to answer your question about my mentioning the questions at the top, I’ll have to reread what I wrote.  Will get back to you!

[2020-01-07 14:34] skilfullycurled commented on #6962
The <% %> tags are know as “template tags”.  I can explain in more detail when I’m at my computer, but in the meantime, you can look up “Ruby erb template tags” to get a feel for why/how they’re used.

Short story, they allow you to “program” your HTML.  For example, HTML does not have any if/then statements.  So what do you do if you want your HTML to say one thing if a user is logged in, but ano

[2020-01-07 14:40] steviepubliclab commented on #6476
Hi, wanted to check in on this. What's the status? I'm about to post a similar issue about when a comment is marked as spam, it should also ban the user.

[2020-01-07 14:59] steviepubliclab commented on #2413
Hi all, wondering what progress has been made on this issue? @ebarry  or others?

[2020-01-07 15:04] steviepubliclab commented on #5450
Interested!

[2020-01-07 15:07] steviepubliclab commented on #6176
I agree with Liz on this. Unmoderated accounts should not be able to add tags.

[2020-01-07 15:10] steviepubliclab commented on #2377
This is a little like what @skilfullycurled has recommended on key words. Just flagging similarities

[2020-01-07 15:10] skilfullycurled commented on #6962
@shipcy, I've got to bring someone else into the conversation because for some reason your pull requests aren't showing up in the plots2 pull requests.  Hold tight!

[2020-01-07 15:45] Uzay-G commented on #3367
Alright no problem. I will abandon it and then work on some other tasks!
Thanks for your help!

[2020-01-07 15:49] jywarren commented on #5695
Awesome! So should this be closed now? Can you double check in stable.publiclab.org in any case? Thanks!

[2020-01-07 15:50] jywarren commented on #6910
@sagarpreet-chadha @nstjean if you happen to put an eye on this that would be great! I bet it's a one-liner to trigger the markers and we just forgot to do an initial page-load trigger.

[2020-01-07 15:56] nstjean commented on #6910
Sure! I bet that's exactly what the issue is. @sagarpreet-chadha you said you had figured it out?

[2020-01-07 16:01] jywarren opened #7134 "Show author name on /comments listing"
The comments page listing is a little bare and could use some design cleanup. First of all, i can't see who wrote each comment! Let's add an author name (should be `comment.author.username` i think?) so this is more legible:

https://publiclab.org/comments

And, we can link the authorname to their profile, like: https://publiclab.org/profile/stevie

We'd love help with this!

The page template is

[2020-01-07 16:03] nstjean commented on #5695
Works great in the sidebar map!

![FireShot Capture 177 - 🎈 Public Lab_ Test Page - stable publiclab org](https://user-images.githubusercontent.com/49460529/71909045-2747bb80-313d-11ea-927b-296e923ea6ec.png)

![FireShot Capture 179 - 🎈 Public Lab_ Test Page - stable publiclab org](https://user-images.githubusercontent.com/49460529/71909051-2b73d900-313d-11ea-8978-315cbd9a0625.png)

I think the onl

[2020-01-07 16:04] rajat-png opened #7135 "suggest a design"
I've a suggetation to you, New design to add on this.
New design should be some creative and attractive and good quality .

[2020-01-07 16:12] jywarren commented on #5695
Oh ok let's keep this open then!

On Tue, Jan 7, 2020, 11:03 AM Natalie St Jean <notifications@github.com>
wrote:

[2020-01-07 16:21] shipcy commented on #6962
@skilfullycurled why my pull requests aren't showing? Maybe any fault from my side

[2020-01-07 16:28] skilfullycurled commented on #6962
@shipcy, yes, I noticed.  In my comment above yours I asked for people to help out.  Are you receiving notifications via email when the thread is updated with new comments?  Because we're all leaving comments at different times (sometimes at the same time!), it's easy for one to get out of sync with the conversation.  If you haven't already, be sure to take a look at what's come in since you last

[2020-01-07 16:34] crisner commented on #6887
@jywarren, inputs needed for PR [#330](https://github.com/publiclab/leaflet-environmental-layers/pull/330). Thanks!

[2020-01-07 16:45] SidharthBansal commented on #3367
Sure thanks

[2020-01-07 16:47] SidharthBansal commented on #5198
@Uzay-G please check by logging in by all 4 providers. We can add on this too in your GCI task if this is a error

[2020-01-07 16:48] SidharthBansal commented on #5198
Google working

[2020-01-07 16:49] SidharthBansal commented on #5198
Github working

[2020-01-07 16:50] skilfullycurled commented on #6962
Pinging @publiclab/connectors.  If anyone has some time to dedicate to helping today, I'd appreciate it, I'll out more than usual.  @shipcy is going quite a good job and I want to make sure they still has the support they need (!) and don't have to wait too long for help.

[2020-01-07 16:53] SidharthBansal commented on #5198
Twitter and FB also working.

[2020-01-07 17:00] nstjean commented on #6962
Hi @shipcy ! I took a look at your pull requests and it looks like they were created on your fork instead of the master branch. So all you need to do is go to https://github.com/publiclab/plots2/pulls and create the pull request there. Then it will show up as not just something in your personal fork, but for the public lab repository master branch!

After you click on the `New Pull Request` button

[2020-01-07 17:08] SidharthBansal commented on #3367
https://github.com/publiclab/plots2/issues/3367#issuecomment-571455615 I think you are missing something.

Fix in #7113 is for LOGIN

THis issue is specific to SIGN UP

[2020-01-07 17:08] SidharthBansal commented on #3367
We will need a pr for this too

[2020-01-07 17:09] SidharthBansal commented on #3367
This will be a hard task for GCI

[2020-01-07 17:10] Uzay-G commented on #3367
I think this works with the pull request I made, I just am struggling to link oauth as admin because I only have one github account to link to.

[2020-01-07 17:11] SidharthBansal commented on #3367
Hi

[2020-01-07 17:13] SidharthBansal commented on #3367
Sorry for misunderstanding,
let me clarify you one thing. You need to show DASHBOARD AFTER SIGN UP THROUGH OAUTH
This is the desired functionality.

[2020-01-07 17:14] SidharthBansal commented on #3367
Please focus on last comment only.
Do following things in order
1. Install MK
2. Install SWB
3. Get points for both 1 and 2
4. Set up developer account for Github by link I provided in one of the issues
5. Try logging in to localhost with Github account.
Do this much first.

[2020-01-07 17:16] Uzay-G commented on #3367
Ok, sorry for misunderstanding, no need to get mad.
I already did 1-3 and am working on the last 2. I am sorry if I am bothering you with my questions.

[2020-01-07 17:19] shipcy commented on #6962
@nstjean I can't see the base repository and head repository.
![Screenshot 2020-01-07 at 10 48 32 PM](https://user-images.githubusercontent.com/51285742/71914587-e3d26900-319f-11ea-88ba-a59697315aca.png)

[2020-01-07 17:21] nstjean commented on #6962
Click on the blue link "compare across forks" and it should show up!

[2020-01-07 17:21] SidharthBansal commented on #3367
6. run MK on localhost 3002
7. run SWB on localhost 3004
8. run Plots2 on localhost 3000
9. change https://github.com/publiclab/mapknitter/blob/5f25aa60243918b9d6a8f50a3db862358b25dafa/app/controllers/sessions_controller.rb#L16 to localhost:3000 like thingy. [Important: we don't want step 9 to reflect in any PR]
10. Try logging in MK through Plots2 form based authentication
11. Try logging in SWB

[2020-01-07 17:22] SidharthBansal commented on #3367
Even if you are able to set up provider and connect SWB & MK with plots2 you will get 5 points.

[2020-01-07 17:23] SidharthBansal commented on #3367
Refer https://github.com/publiclab/plots2/blob/master/doc/LOGIN_SYSTEMS.md for help

[2020-01-07 17:25] skilfullycurled commented on #2377
@steviepubliclab, I completely agree with you.

Two thoughts:

1) If there is someone willing to take up the spam detection project from #5450, that actually might be easier because it's a little more batteries included, even though this approach is "simpler".  I don't know if the GSoC our Outreachy had that flexibility in terms of projects or they were assigned ahead of time.

2. @ebarry, I have

[2020-01-07 17:27] #7109 closed

[2020-01-07 17:27] jywarren commented on #7109
🎉

[2020-01-07 17:28] shipcy commented on #6962
@nstjean thank you so much. I've done this.

[2020-01-07 17:29] SidharthBansal commented on #7121
@Uzay-G and I am solving it. I hope we will finish this milestone this week.

On Tue, Jan 7, 2020 at 2:51 AM Jeffrey Warren <notifications@github.com>
wrote:

[2020-01-07 17:31] jywarren commented on #7121
Thank you very much!!!

On Tue, Jan 7, 2020 at 12:29 PM Sidharth Bansal <notifications@github.com>
wrote:

[2020-01-07 17:32] nstjean commented on #6962
Excellent! I see them now!

[2020-01-07 17:37] shipcy commented on #6962
@skilfullycurled and @nstjean what to do next? Please guide me.

[2020-01-07 17:40] nstjean commented on #6962
You now just have to wait for your pull request to be reviewed. :) I will check to make sure the page looks ok and either post suggestions for changes or approval!

[2020-01-07 17:45] winstoniskandar opened #7138 "Run-on Sentence"
**Please describe the desired behavior.**
Right now on https://publiclab.org/wiki/projects, there is a run-on sentence underneath "who should post a project page."
Describe the solution you'd like.
The sentence right now is "If you're posting about a concern for the first time, you can use the Issue Brief template, if you're posting about a specific question you have, you can post it to Public Lab

[2020-01-07 17:54] SidharthBansal commented on #4109
I have never worked with digests yet. Can make it hard GCI issue then?

On Tue, Dec 17, 2019 at 2:27 AM Jeffrey Warren <notifications@github.com>
wrote:

[2020-01-07 17:54] Uzay-G commented on #3367
Hey, I managed to get the github app working and can sign up through it with plots2 but I cannot login with Mapknitter. Could you help me?

[2020-01-07 17:58] SidharthBansal commented on #3367
Please refer to above steps and tell me where are you having problem?

[2020-01-07 18:00] Uzay-G commented on #3367
Yeah I did and am having problems at step 10. This is the error message:
![error-auth](https://user-images.githubusercontent.com/52892257/71917247-eae97f00-317f-11ea-8217-51917cd4b7c6.png)

[2020-01-07 18:03] SidharthBansal commented on #3367
Use `@openid_url_base = "https://localhost:3000/people/"`
If that will not work then  `@openid_url_base = "localhost:3000/people/"`

[2020-01-07 18:05] SidharthBansal commented on #3367
for first statement to work use 3002 port for plots2, 3004 for MK and 3006 for SWB
3002 is for https plots2 while 3000 is for http plots2 version. I hope you understood this. Please ask if any doubts!

[2020-01-07 18:06] Uzay-G commented on #3367
Yeah I understood. It worked! Thanks :+1:

[2020-01-07 18:13] SidharthBansal commented on #3367
provide me gif so that we can move forward. It's night here. So, I can
sleep anytime... lol.
Will reply you till I am awake tonight

On Tue, Jan 7, 2020 at 11:36 PM Uzay-G <notifications@github.com> wrote:

[2020-01-07 18:15] SidharthBansal commented on #3367
Gif for logins from Github and form at MK 5 points
Similarly for SWB
5 points for tests of SWB and MK combined if needed
so in total cross domain authentication carries 10 OR 15 points. I hope you
are okay with the marking scheme. I will upload things after we are done
with merging. Please remind me on 18 january to approve all of these Auth
related tasks.
Thanks

On Tue, Jan 7, 2020 at 11:43 PM S

[2020-01-07 18:20] Uzay-G commented on #3367
Here is the gif for mapknitter but the redirection does not work yet:
![mapknitter-oauth](https://user-images.githubusercontent.com/52892257/71918522-bc20d800-3182-11ea-8362-9b6d54fdab27.gif)

[2020-01-07 18:21] sunguru98 commented on #7109
Holy mangoesss ... Did I just push in the code amongst a huge community ??????????

[2020-01-07 18:22] Uzay-G commented on #3367
I will fix it soon!

[2020-01-07 18:23] Uzay-G commented on #3367
Thanks for all your help and don't worry I can figure things out if you need to go!

[2020-01-07 18:26] SidharthBansal commented on #3367
Hello,
One mistake you did in hurry. Kindly think carefully.
Once you logged in MK with plots2 icon or Github. It was the same thing for
MK
You should sign out the Plots2 also for both flows.
Let's stick to MK first. We will see SWB once MK pr is merged. Thanks

On Tue, Jan 7, 2020 at 11:53 PM Uzay-G <notifications@github.com> wrote:

[2020-01-07 18:26] SidharthBansal commented on #3367
Kindly sign out github too before staring both the flows

On Tue, Jan 7, 2020 at 11:56 PM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2020-01-07 18:28] SidharthBansal commented on #3367
starting**
I am sleepy.

On Tue, Jan 7, 2020 at 11:56 PM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2020-01-07 18:31] Uzay-G commented on #3367
I will sign out of Mapknitter and send another gif but the redirection for oauth will only work when I add some edits to the views. Do you want me to do them now?

[2020-01-07 18:37] SidharthBansal commented on #3367
Send me two gifs by remaining at master of both mk and plots2. Plots2
logged out, GitHub logged out and mK logged out for both flows.
1. Login with mk and tell me what happens in gif
2. Logout mk logout plots2 and logout GitHub. Login mk by clicking on
GitHub icon. Provide me screenshot

Then we will move forward.

On Wed, 8 Jan 2020, 12:01 am Uzay-G, <notifications@github.com> wrote:

[2020-01-07 18:37] SidharthBansal commented on #3367
Master means no edits based branch

On Wed, 8 Jan 2020, 12:06 am Sidharth Bansal, <bansal.sidharthcode@gmail.com>
wrote:

[2020-01-07 18:41] Uzay-G commented on #3367
Ok, I am doing that and login of MK is only working with oauth because Plots2 says I have not set a password although I have several times. I will show gif

[2020-01-07 18:42] jywarren commented on #7109
You sure did 😂 congrats! It should go live at https://stable.publiclab.org shortly, and to the production site https://publiclab.org during the coming week!

🚀 🎸 🙌

[2020-01-07 18:43] Uzay-G commented on #3367
Functional login through Github:
![mapknitter-oauth gif](https://user-images.githubusercontent.com/52892257/71919877-f63fa900-3185-11ea-91a7-4719951b61d0.gif)

[2020-01-07 18:44] Uzay-G commented on #3367
But for some reason I cannot normal login through plots2 or MK. I get the error: `This account doesn't have a password set. It may be logged in with a Github account, or you can set a new password via Forget password feature` although I have reset the password.

[2020-01-07 18:47] jywarren commented on #7109
You are also featured now on https://code.publiclab.org/ as a contributor! ❤️

![image](https://user-images.githubusercontent.com/24359/71920207-46057c80-3154-11ea-864b-9cc0226960bf.png)

[2020-01-07 18:48] SidharthBansal commented on #3367
Please show me screenshots for this error

On Wed, 8 Jan 2020, 12:14 am Uzay-G, <notifications@github.com> wrote:

[2020-01-07 18:55] sunguru98 commented on #7095
May I take this issue please if someone hasnt still completed it yet?

[2020-01-07 18:57] sunguru98 commented on #7109
I am just speech less now ... Thank you sooo much for accepting this.. It literally means the world to me.

[2020-01-07 18:57] Uzay-G commented on #3367
Just one second I think I can fix it. Don't worry I will solve this and I know it's late where you are. You should go to sleep and I'll do it!

[2020-01-07 19:01] SidharthBansal commented on #3367
Cool gn

On Wed, 8 Jan 2020, 12:27 am Uzay-G, <notifications@github.com> wrote:

[2020-01-07 19:03] sunguru98 commented on #7134
I just noticed one thing which was weird, The first photo which I have attached has just the ID named "C", but in code when I saw, you were trying to embed the letter C along with the Comment Id name which is in the second image. So, is it a bug or should that be left alone haha?
<img width="232" alt="Screenshot 2020-01-08 at 12 30 09 AM" src="https://user-images.githubusercontent.com/32637757/719

[2020-01-07 19:04] Uzay-G commented on #3367
Alright it works now:
Login through website:
![mapknitter-auth](https://user-images.githubusercontent.com/52892257/71921201-b0d0ab00-3188-11ea-844b-510a1fb0376f.gif)
Through Github:
![mapknitter-oauth](https://user-images.githubusercontent.com/52892257/71921329-ef666580-3188-11ea-9e2e-466fe638f0b2.gif)

[2020-01-07 19:05] Uzay-G commented on #3367
Now that that works I will setup redirection for that mapknitter on my own.

[2020-01-07 19:10] Uzay-G commented on #3367
Actually, the redirection is already working perfectly for mapknitter.

[2020-01-07 19:10] sunguru98 commented on #7134
And for the solution itself, I am having this idea of creating a basic element dry-run and showing the result to you. The first image is code which I had lab ratted it, and the second is the output shown on screen.
<img width="457" alt="Screenshot 2020-01-08 at 12 37 40 AM" src="https://user-images.githubusercontent.com/32637757/71921660-4aab4e80-31af-11ea-9edf-1df1582f4ca5.png">
<img width="729"

[2020-01-07 19:11] jywarren commented on #7134
I think this can work, thanks - but what about a bit more compact, by
making author one column of the table? Thanks a lot for your help!

On Tue, Jan 7, 2020 at 2:10 PM Sundeep Charan Ramkumar <
notifications@github.com> wrote:

[2020-01-07 19:16] Uzay-G commented on #3367
Also everything is good with Spectral workbench:
Normal Login:
![spectral-auth](https://user-images.githubusercontent.com/52892257/71922084-8d0e6480-318a-11ea-9f6d-92b0f8a6aea9.gif)

Through Github:
![spectral-oauth](https://user-images.githubusercontent.com/52892257/71922097-93044580-318a-11ea-950a-d46d8753165e.gif)

[2020-01-07 19:20] jywarren commented on #4109
Sure!

On Tue, Jan 7, 2020 at 12:54 PM Sidharth Bansal <notifications@github.com>
wrote:

[2020-01-07 19:21] sunguru98 commented on #7134
You mean the author and the comment should come side by side, like the image pasted below @jywarren?

<img width="754" alt="Screenshot 2020-01-08 at 12 50 34 AM" src="https://user-images.githubusercontent.com/32637757/71922475-facd8700-31b0-11ea-8386-63bcc6e78e12.png">

[2020-01-07 19:51] Uzay-G opened #7141 "Expand awesome issue templates to other publiclab repositories"
In plots2, we have an amazing set of github issue templates for bug reports, ftos and feature requests. I think we should export these to other repositories, like mapknitter, image-sequencer, spectral-workbench and all the others where it would be useful. That way there would be more first timer issues on other repositories and this would simplify things for contributors.

Do you think this is a g

[2020-01-07 20:27] SidharthBansal commented on #3367
Are these gifs with master or with your plots2 or changes?

On Wed, 8 Jan 2020, 12:46 am Uzay-G, <notifications@github.com> wrote:

[2020-01-07 20:28] SidharthBansal commented on #3367
Congrats you earned 10 pts :tada:
We need tests now. One question above

On Wed, 8 Jan 2020, 1:57 am Sidharth Bansal, <bansal.sidharthcode@gmail.com>
wrote:

[2020-01-07 20:36] Uzay-G commented on #3367
These are with my changes but they don't affect this part of the interface. My changes only affected plots2. I will work on the tests!
Did you manage to sleep? I hope I didn't bother you and thanks again for your help

[2020-01-07 20:37] Uzay-G commented on #3367
I'll make tests for mapknitter and spectral!

[2020-01-07 20:46] jywarren opened #7142 "Reconcile moderation email notifications with the list at /spam"
Let's be sure these two "feeds" of spam match, before finalizing #6246!

https://publiclab.org/spam

[2020-01-07 20:58] jywarren commented on #7134
Yeah, that would be great!!

On Tue, Jan 7, 2020 at 2:21 PM Sundeep Charan Ramkumar <
notifications@github.com> wrote:

[2020-01-07 21:01] jywarren commented on #7141
That'd be awesome!!!

On Tue, Jan 7, 2020 at 2:51 PM Uzay-G <notifications@github.com> wrote:

[2020-01-07 21:08] jywarren commented on #7133
This is a great catch! Would you be able to suggest a fix based on #3549?
Or to open a PR?

On Tue, Jan 7, 2020 at 5:39 AM Sparks <notifications@github.com> wrote:

[2020-01-07 21:12] Uzay-G commented on #7133
We can use [built-in Rails sanitizers](https://api.rubyonrails.org/classes/ActionView/Helpers/SanitizeHelper.html) for this.

[2020-01-07 21:12] jywarren commented on #7133
Here, each template with the above vulnerabilities could be resolved by replacing:

[code]

with

[code]

Yeah!

[2020-01-07 21:17] jywarren commented on #6176
To achieve this, we could wrap this entire method in a conditional:

https://github.com/publiclab/plots2/blob/3267de0b4872c07d2aaa6ab523d33e45e062cb33/app/models/node.rb#L758

Like:

[code]

This would make for a nice FTO, although we should add a unit test for it too!

The unit test could be similar to this one;

https://github.com/publiclab/plots2/blob/3267de0b4872c07d2aaa6ab523d33e45e062cb33/te

[2020-01-07 21:48] jywarren commented on #7142
OK, comparing, there are 2 issues:

 that they're sorted by date spammed in my mailbox:

![image](https://user-images.githubusercontent.com/24359/71932167-54ac5d80-316d-11ea-8714-9e7e00108870.png)

Vs. date posted in the /spam view:

![image](https://user-images.githubusercontent.com/24359/71932186-5e35c580-316d-11ea-96ad-0fe2b12d5d0e.png)

But more importantly, we do NOT show as-yet-unmoderated n

[2020-01-07 22:07] jywarren commented on #6476
I believe that is already the case.

As for this issue, shall we just remove that section "Top answerers"?

https://github.com/publiclab/plots2/blob/e09dba207359887bc0ce7e233156a3c621f3abbc/app/views/sidebar/_question.html.erb#L17-L25

If so, this can be marked as an FTO. Thanks!

[2020-01-07 22:07] jywarren commented on #4487
Agreed, I think that's a good justification to keep this field paste-able!

On Mon, Jan 6, 2020 at 9:13 PM Sidharth Bansal <notifications@github.com>
wrote:

[2020-01-07 22:29] ebarry commented on #6867
Regarding the "never" option, while the text Stevie suggested may not work for "never" in that way, does the graphic she drew up work?

[2020-01-07 22:41] ebarry commented on #6787
For the image @jywarren  uploaded on Nov 27, showing the idea of three boxes with a randomly generated rotation from our 18 topics, the boxes currently only show a lead image and the tag name --> could these be Fullsize Topic Boxes?

Separately, where could the "firehose" of all recent content still be accessed by advanced users?

[2020-01-07 22:58] jywarren commented on #6787
Thanks!

Full size topic boxes don't have an image, and these are adapting a style from individual post cards. Can you share a screengrab of what you're suggesting?

That would be at /research, which would remain as it looks now (although we'd probably later transition it to match tag pages like https://publiclab.org/tag/water-quality in follow-up).

[2020-01-07 23:28] Swaggy-creater opened #7143 "Run on sentence"
**Please describe the desired behavior.**
On https://publiclab.org/ underneath "Bourj Al Shamali Refugee Camp", there is a sentence that is run on and is too long. The sentence is "Sixty years later, it has taken on the air of an overcrowded, unplanned, permanent city, with five times the original inhabitants occupying the original site, under the jurisdiction of the UN."
Describe the solution you

[2020-01-07 23:34] jywarren commented on #6867
Yes, but ONLY for the first "All topics" row, so for now we will probably keep the page layout as it is.

If in the future we set out to do a per-topic notifications settings system, we could adopt the table style view. Thanks!

[2020-01-07 23:34] jywarren commented on #6867
Is this otherwise ready to go? Thanks!

[2020-01-07 23:46] jywarren commented on #4543
Merging into #6282

[2020-01-07 23:46] #4543 closed

[2020-01-07 23:55] jywarren commented on #6282
Copying in line numbers and info from previous issue at #4543 !

Also noting link to VERY similar/related issue at https://github.com/publiclab/plots2/issues/6867, especially with regard to UI changes that'd need to happen.

****

* [ ] Let's add a toggle to https://publiclab.org/settings that:
* [ ] when sending moderator emails, causes the site to check `user.has_tag('block-node-moderation-email

[2020-01-07 23:59] #7142 closed

[2020-01-08 00:03] jywarren commented on #5600
Hi @SidharthBansal i agree with this! Let's wrap it up and merge this!

[2020-01-08 00:12] jywarren commented on #4109
Maybe let's reshape this issue around the digest template? Two suggestions:

1. I saved a digest here. It doesn't look too great: https://gist.github.com/jywarren/08ab21cbdae2d45297f8c7de802c560f (below)
2. the digest page is supposed to use the same template so it's easier to debug this feature. But that didn't happen; it's just a list: https://publiclab.org/subscriptions/digest Let's make it use

[2020-01-08 00:13] divyabaid16 commented on #5198
Yes, all others are working for me, if I login with them.

On Tue, Jan 7, 2020, 22:23 Sidharth Bansal <notifications@github.com> wrote:

[2020-01-08 00:51] SidharthBansal commented on #5198
What about login by email and pwd?

On Wed, 8 Jan 2020, 5:43 am Divya Baid, <notifications@github.com> wrote:

[2020-01-08 00:53] divyabaid16 commented on #5198
I have not set up my password, so I clicked on forget password, and from
that link I tried to set my password, but it didn't work out.

On Wed 8 Jan, 2020, 6:21 AM Sidharth Bansal, <notifications@github.com>
wrote:

[2020-01-08 00:53] SidharthBansal commented on #3367
Please provide above 2 gifs without code changes in plots2

On Wed, 8 Jan 2020, 2:07 am Uzay-G, <notifications@github.com> wrote:

[2020-01-08 01:17] SidharthBansal commented on #5198
What problem are you facing in creating new pwd?

On Wed, 8 Jan 2020, 6:23 am Divya Baid, <notifications@github.com> wrote:

[2020-01-08 01:32] SidharthBansal commented on #6303
This issue is resolved

[2020-01-08 01:32] #6303 closed

[2020-01-08 01:32] SidharthBansal commented on #6303
@chen-robert kindly reclaim it on dashboard for points

[2020-01-08 01:33] SidharthBansal commented on #6716
@jywarren closing this now

[2020-01-08 01:33] #6716 closed

[2020-01-08 01:33] SidharthBansal commented on #5652
@Uzay-G kindly read this in your free time

[2020-01-08 01:35] SidharthBansal commented on #4250
@VladimirMikulic I think you can take this issue also for JS validations. You can check the correct format of username or email AND password.
This can be a medium task for GCI. Would you like to solve this?

[2020-01-08 01:36] SidharthBansal commented on #3276
@CodeSarthak what is the progress here. Please do it before 15 January to get points for this task.

[2020-01-08 01:37] VladimirMikulic commented on #4250
@SidharthBansal it would be my pleasure.

[2020-01-08 01:45] SidharthBansal commented on #4250
Oh great. Is there any issue uploaded for similar task?

On Wed, Jan 8, 2020 at 7:07 AM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-08 01:46] VladimirMikulic commented on #4250
Currently no.

[2020-01-08 01:46] SidharthBansal commented on #5198
@Uzay-G you also faced similar problems yesterday.(Maybe your today)
Please tell me what you faced. You can work on this too as it is inter
related. If we will require any PR then it will be medium gci task I guess

On Wed, Jan 8, 2020 at 6:47 AM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2020-01-08 01:47] SidharthBansal commented on #5198
If we don't require any PR then it will be zero points and no gci task. I
hope it is okay with you

On Wed, Jan 8, 2020 at 7:16 AM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2020-01-08 01:47] SidharthBansal commented on #4250
Once it is complete and merged then ping me. I will upload the task and
share the link with you

On Wed, Jan 8, 2020 at 7:16 AM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-08 01:48] VladimirMikulic commented on #4250
No problem :)

[2020-01-08 01:53] SidharthBansal commented on #5600
Things are connected Jeff. Once we are done with the OAuth redirection pr
then things will become clearer.

On Wed, Jan 8, 2020 at 5:33 AM Jeffrey Warren <notifications@github.com>
wrote:

[2020-01-08 01:57] #4487 closed

[2020-01-08 01:57] SidharthBansal commented on #4487
Thanks

[2020-01-08 01:58] SidharthBansal commented on #3367
Focus on MK first. You just need to copy and paste things for SWB

On Wed, Jan 8, 2020 at 6:23 AM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2020-01-08 01:59] SidharthBansal commented on #3367
I think(not sure) you just need to write tests at plots2. You need to check
this thoroughly. Maybe all three repos(mk+swb+plots2) or only one
repo(plots) or 2 repos(mk+swb)
In case of doubts, feel free to contact me. I will be in airport from 10am
IST today to 8 pm IST. So, will be less available.

On Wed, Jan 8, 2020 at 7:27 AM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2020-01-08 02:01] SidharthBansal commented on #6808
Is any GCI student willing to convert this into FTO ?
https://github.com/publiclab/plots2/issues/6282#issuecomment-571828261

[2020-01-08 02:01] SidharthBansal commented on #6808
1 point task

[2020-01-08 02:02] SidharthBansal commented on #6808
This is another task needing reformatting in FTO template.
https://github.com/publiclab/plots2/issues/6176#issuecomment-571777196
1 point task[supportive task]

[2020-01-08 02:04] emilyashley opened #7144 "Getting Started "Page doesn't exist""
The `Community > Get Started` link in the navbar lead to a dead page. I then followed the link to "report a bug on github" so this is just a quick draft issue so I don't forget to follow back on this and do appropriate issue template etc. Did a quick search of issues and didn't see one open.

 <img width="748" alt="Screen Shot 2020-01-07 at 7 59 31 PM" src="https://user-images.githubusercontent.co

[2020-01-08 02:21] sunguru98 commented on #7134
Alright I will start working on it. BTW how to run this on my local computer? As I haven't been in the Ruby background before haha.

[2020-01-08 02:39] CodeSarthak commented on #6808
I can work on this one

[2020-01-08 02:50] rajat-png opened #7145 "New Feature/suggestion for GCI"
In this global contest (that is GCI) have not grading system, only get inform to candidate how many task complete which candidate not have idea that they go to winner/runner up/finalist. So I suggest a new feature/idea that Grading system for student cotributing work.
I hope this is helpful for all GCI candidate.

[2020-01-08 06:25] sssash18 commented on #7095
May I take up this issue if it has not been assigned?
Actually, I am new to this community

[2020-01-08 06:43] SidharthBansal commented on #6808
Sure

On Wed, 8 Jan 2020, 8:09 am Sarthak Aggarwal, <notifications@github.com>
wrote:

[2020-01-08 06:56] Uzay-G commented on #3367
This is the result for Mapknitter without my changes:
Normal login:
![mapknitter-auth](https://user-images.githubusercontent.com/52892257/71956813-65e87f00-31ec-11ea-8f90-ac2d0b2a4b8e.gif)

Github login:
![mapknitter-oauth](https://user-images.githubusercontent.com/52892257/71956829-6ed95080-31ec-11ea-8144-549a9039bf0a.gif)

[2020-01-08 07:05] SidharthBansal commented on #3367
This is strange, things are working on localhost correctly but not working
on production branch.

On Wed, 8 Jan 2020, 12:26 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-08 07:05] SidharthBansal commented on #3367
Production environment**

On Wed, 8 Jan 2020, 12:34 pm Sidharth Bansal, <bansal.sidharthcode@gmail.com>
wrote:

[2020-01-08 08:24] Uzay-G commented on #3367
Yeah that's white.

[2020-01-08 09:21] crisner commented on #6887
PR [#330](https://github.com/publiclab/leaflet-environmental-layers/pull/330) for issue [#87](https://github.com/publiclab/leaflet-environmental-layers/issues/87) is ready. Thanks!

[2020-01-08 11:59] SidharthBansal commented on #3367
Sorry I can't understand. My flight just landed

On Wed, 8 Jan 2020, 1:54 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-08 12:12] Uzay-G commented on #3367
Sorry I meant weird

On Wed, Jan 8, 2020, 12:59 Sidharth Bansal <notifications@github.com> wrote:

[2020-01-08 13:15] sssash18 commented on #7079
Can I take up the issue if it has not been completed ?

[2020-01-08 14:40] steviepubliclab commented on #6787
This brings you to the current dashboard no? Is this because you would get all activity in your feed if you're not subscribed to something anyway?

[2020-01-08 14:42] Uzay-G commented on #3367
Are there any issues I need to fix with spectral or MK then?
For plots2,
I already inserted some oauth redirection tests in #7113 and #7072.

Another thing I will fix is that currently, when a user signs up through oauth, they are not redirected to the dashboard. When we merge #7113, I will open a new pull request to fix that.

[2020-01-08 14:44] nstjean commented on #7079
@DevchamploO Are you still working on this? Do you need any help?

[2020-01-08 14:56] nstjean commented on #7134
Hi @sunguru98 ! Here's documentation on how to install `plots2` onto your computer and get it running: https://github.com/publiclab/plots2#installation Let us know if you run into issues!

[2020-01-08 15:05] crisner commented on #6887
- PR [#332](https://github.com/publiclab/leaflet-environmental-layers/pull/332) ready for review
- Created an FTO with issue [#333](https://github.com/publiclab/leaflet-environmental-layers/issues/333)

[2020-01-08 15:08] crisner commented on #6206
Here's another FTO issue from the LEL repo. [#333](https://github.com/publiclab/leaflet-environmental-layers/issues/333)

[2020-01-08 15:43] Uzay-G commented on #7141
I opened a pull request to begin this on image-sequencer.

[2020-01-08 15:45] llabake commented on #7082
Hi, I would like to claim this if it is still available

[2020-01-08 15:49] nstjean opened #7148 "Top map only shows for tag "place" and not power tag "place:xx""
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-08 15:50] nstjean commented on #7148
@jywarren Should this check for the tag `place` at all? Or only the power tag?

[2020-01-08 16:02] llabake commented on #7148
Hi, I would like to claim this.

[2020-01-08 16:18] nstjean commented on #7148
@llabake Great, go ahead!

[2020-01-08 16:21] #7095 closed

[2020-01-08 16:25] nstjean opened #7149 "Wiki page with place:xx tag shows two maps"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-08 16:26] nstjean commented on #7149
Forgot to tag you, @jywarren

I can make this into a FTO once I know what it should do. :)

[2020-01-08 16:28] nstjean commented on #7149
Oh wait, I see, it's the same problem as the other one... it works for `place` but not for `place:xx`. I'll edit the original post to make the change!

![FireShot Capture 192 - 🎈 Public Lab_ Stats - localhost](https://user-images.githubusercontent.com/49460529/71996324-013c1d00-320a-11ea-882e-e23f803a691f.png)

[2020-01-08 16:49] keshavsethi commented on #7134
I have made a PR for this issue. Please review this.

[2020-01-08 16:52] sunguru98 commented on #7134
@keshavsethi You could clearly see that there is a conversation going on here .. Moving forward without even asking a permission is not a part of an Open source etiquette. You should have asked permission on taking it first. @jywarren What do you say?

[2020-01-08 16:56] keshavsethi commented on #7134
Sorry for this, I will remember this in future.

[2020-01-08 16:58] sunguru98 commented on #7134
As you have done this time .. Lets wait for @jywarren to review your code and get it merged. But this is an unpleasant way please do refrain it in further PRs.

[2020-01-08 16:59] Bhanu-mbvg commented on #7149
Can I take this up? @nstjean

[2020-01-08 17:21] SidharthBansal commented on #3367
Please ping me once you are done with all the assigned tasks. If anything
is not remaining then please let me know.
I will review things altogether.

On Wed, 8 Jan 2020, 8:12 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-08 17:24] Uzay-G commented on #3367
Yeah I already included the tests for plots2 and everything seems fine with MK and SWB. I will work on other tasks in the meantime. Have a nice vacation!

[2020-01-08 17:25] Uzay-G commented on #3367
I will make the other pull requests after so there are no conflicts :+1:

[2020-01-08 18:00] sunguru98 commented on #7149
May I take it here? @jywarren

[2020-01-08 18:06] nstjean commented on #7148
@llabake I see that you also have https://github.com/publiclab/leaflet-environmental-layers/issues/333 so go ahead and do that one in Leaflet Environmental Layers. I'll have someone else do this one. :)

@sunguru98 You can have this one!

[2020-01-08 18:07] nstjean commented on #7149
@Bhanu-mbvg Go ahead!

@sunguru98 Here's one for you: https://github.com/publiclab/plots2/issues/7148

[2020-01-08 18:07] sssash18 commented on #7148
Can I take up this issue?

[2020-01-08 18:10] nstjean commented on #7148
@sssash18 This issue has already been claimed, but I know there is one available in Leaflet Environmental Layers: https://github.com/publiclab/leaflet-environmental-layers/issues/322

[2020-01-08 18:12] sashadev-sky commented on #7006
Assigning myself just a reminder to come back and check in here!

[2020-01-08 18:15] sunguru98 commented on #7148
Yayyyyy .. I will do it right away.

[2020-01-08 18:21] nstjean commented on #7148
Great! Thank you for your patience. :smiley:

[2020-01-08 18:22] #7134 closed

[2020-01-08 18:25] jywarren commented on #7082
Hi folks! We'd love your help with this. Please open a PR and link us to your work if you'd like to take a try a this!

[2020-01-08 18:30] sashadev-sky commented on #7141
@jywarren @Uzay-G i think what would be really awesome is if we could look into the option to open a PL repository containing just reusable template files that will pull into every repo. It will make things a lot easier. For ex., if we have a code of conduct change we just update the 1 file instead of 10 or so times across the organization’s repos.

I think Github provides documentation on doing t

[2020-01-08 19:01] sunguru98 commented on #7148
@nstjean Done :)

[2020-01-08 19:03] Uzay-G commented on #7141
I'll look into this @sashadev-sky! Nice catch. :+1:

[2020-01-08 19:03] DevchamploO commented on #7079
I’m still working on this. I am work at the moment but will shoot for making a pull request this evening.

[2020-01-08 19:13] nstjean commented on #7079
@DevchamploO Ok, great, thanks! Just wanted to check in! :)

[2020-01-08 19:17] jywarren commented on #7144
Wow, good catch!

That's node 539 and it definitely did exist in March 2019, here:

https://web.archive.org/web/20190330072516/https://publiclab.org/wiki/getting-started

I'm looking in the database to see if the record still exists.

[2020-01-08 19:22] jywarren commented on #7144
Got it in Sentry. The error is wrong actually; it's a record not found but not for the page, which is fine, it's for this `revision.author` call:

https://github.com/publiclab/plots2/blob/07ac150285bee0eddf089ed7a5544369b3a7cf48/app/models/revision.rb#L73

Let's switch it to `find_by_id` instead of `find` -- but should we write a test for this? it's related to our long-term interest in developing

[2020-01-08 19:50] #7144 closed

[2020-01-08 19:53] Uzay-G commented on #7141
Hey! I figured out how to do what @sashadev-sky suggested using https://help.github.com/en/enterprise/2.17/user/github/building-a-strong-community/adding-support-resources-to-your-project. I made [a repository](https://github.com/Uzay-G/.github) with the default files we can use. Someone with permissions for Publiclab just needs to clone it through the organization and it should work.

I could als

[2020-01-08 20:47] jywarren commented on #7149
Ah! Noting relation to this disambiguation needed in this issue: https://github.com/publiclab/plots2/issues/6953

Thanks!!!

[2020-01-08 20:55] nstjean opened #7154 "addTag javascript function does not process place powertags correctly"
In following the place tag submission from the modal in https://github.com/publiclab/plots2/pull/7125 I've run into a problem with the addition of tags.

https://github.com/publiclab/plots2/blob/b57eb15c4b77c420e08a6f279ee4d8f909cf3674/app/assets/javascripts/tagging.js#L13-L21

When I re-wrote the `addTag` function I left this section from before. However this is giving me a problem in that if a t

[2020-01-08 20:59] nstjean commented on #6953
Yes these rules make sense!

https://github.com/publiclab/plots2/issues/7149 should satisfy number 1 and 2 in the list. It does not check for a lead image, however, so we still need to make number 3 work!

[2020-01-08 21:10] #7148 closed

[2020-01-08 21:12] jywarren commented on #7154
We had originally imagined that people could quickly bypass the modal (or
this might've predated the modal) to generate location tags simply by
inputting a place:_____ tag (i forget if it was via some JS code?). But
maybe that's really not useful anymore and we should just deprecate it?

On Wed, Jan 8, 2020 at 3:55 PM Natalie St Jean <notifications@github.com>
wrote:

[2020-01-08 22:04] jywarren commented on #6787
No, sorry - /research used to be a clone of the dashboard, but at some point i guess we just redirected. I meant basically the full firehose feed, and that we could basically keep the current dashboard code for that purpose.

Alternatively we could just ditch the current dashboard entirely and revert to some modified version of the display at https://publiclab.org/tag/water-quality but showing all

[2020-01-09 08:10] crisner opened #7158 "Build failing after LEL update"
Getting errors such as,
`Rack app error handling request { GET /lib/leaflet-environmental-layers/example/lib/glify.js }`
`#<ActionController::RoutingError: No route matches [GET] "/lib/leaflet-environmental-layers/example/lib/glify.js">`

The route shown in the error does not exist after the LEL update. Getting the error even after updating map dependencies here in plots2.

[2020-01-09 10:25] shipcy commented on #6962
@skilfullycurled my pull request is having issues. And I don't know what to do next. Please help me out.

[2020-01-09 14:16] nstjean commented on #7154
Ahhh, ok. That's up to you! If we want to keep that functionality I will need to fix the api error because right now it's not working at all.

[2020-01-09 14:26] crisner commented on #6887
PR [#340](https://github.com/publiclab/leaflet-environmental-layers/pull/340) for issue [#338](https://github.com/publiclab/leaflet-environmental-layers/issues/338) ready for review

@jywarren, Please take a look at PR #7157

[2020-01-09 14:34] jywarren commented on #7158
Huh... Did we remove that lib, and include it via npm? Maybe we forgot to
change a route accordingly?

On Thu, Jan 9, 2020, 3:10 AM Renisha Christie. A <notifications@github.com>
wrote:

[2020-01-09 14:42] crisner commented on #7158
We had missed changing a link to the old path in `_header.html.erb` file in the `views/layouts` dir.

[2020-01-09 15:07] jywarren commented on #7158
Ah! Good catch! I guess we should start noting these in release notes...

On Thu, Jan 9, 2020, 9:42 AM Renisha Christie. A <notifications@github.com>
wrote:

[2020-01-09 15:08] nstjean commented on #3090
I'll be going through all of this next week! It makes sense to be able to add a content layer and a people layer to get everything to show up!

[2020-01-09 15:09] skilfullycurled commented on #6962
Hey @scipcy!  Sorry to have been gone yesterday, I had a project I needed to give some love to.

Okay!

First things first.

Once you have a pull request submitted, move the conversation over there, that way we can keep all of the issues that are impeding the request on that that page.

@nstjean is taking a look right now, and I'll join in, too!

[2020-01-09 15:13] jywarren commented on #7154
Hmm. I guess let's just simplify and cut it. I can't think of a strong use
case for it after all!

On Thu, Jan 9, 2020, 9:16 AM Natalie St Jean <notifications@github.com>
wrote:

[2020-01-09 15:13] nstjean commented on #7154
Ok, will do!

[2020-01-09 16:33] Subhang23 commented on #6734
@Utiwari1999 Hi ! Is this issue still open? If it is can I go for it?

[2020-01-09 17:13] nstjean commented on #6887
PR https://github.com/publiclab/plots2/pull/7159 is ready for review and merging

PR https://github.com/publiclab/plots2/pull/7061 will just not pass travis on the server with the map system tests I wrote, though it passes on my local env. Cess is taking a look.

PR https://github.com/publiclab/plots2/pull/7125 is still a work in progress. :)

Issue https://github.com/publiclab/plots2/issues/7084

[2020-01-09 19:20] sentry-io[bot] opened #7162 "Twitter::Error::NotFound: No status found with that ID."
Sentry Issue: [PLOTS2-HE](https://sentry.io/organizations/publiclab/issues/1358490716/?referrer=github_integration)

[code]

[2020-01-09 19:21] jywarren commented on #7162
@ViditChitkara hi hope you're well, we started seeing this about a month ago and I wonder if you could take a look at it? Thank you!!!

[2020-01-09 20:09] #6833 closed

[2020-01-09 20:17] #7154 closed

[2020-01-09 20:18] DevchamploO commented on #7079
I am having trouble running the app on my machine. When I run the passenger start command and navigate to localhost:3000 I receive an error that says ‘home/dev/repos/plots2/app/public/index.html’ is not found (2: no such file or directory) with a 404 error in chrome. It appears that it can not locate the correct path. I’m not sure why this is happening. I am using ubuntu 18.04 (wsl).

[2020-01-09 20:18] #6962 closed

[2020-01-09 20:31] VladimirMikulic commented on #6239
@keshav234156 @SidharthBansal are we allowed to solve these issue before they are uploaded to the GCI dashboard or do we have to wait for them to be uploaded? Thanks.

[2020-01-09 21:03] jywarren commented on #7084
Let's do sidebar! We will also have to be sure this gets reflected in the new dashboard project, which is currently a bit stalled #6229 #6072

Thanks!

[2020-01-09 21:05] #7158 closed

[2020-01-09 21:07] anthony-zhou commented on #7123
I don't think #6888 interacts with this issue, because the CSS rule creating the space here is shifting the entire navbar up and down, whereas that fix just rearranged things within the navbar.

[2020-01-09 21:09] pydevsg commented on #6808
Hello all GCI students here are some of the tasks which you can work upon in the upcoming few days.
#6828
#6829
#6253
#6282
#4109
https://github.com/publiclab/mapknitter/issues/1175

[2020-01-09 21:10] anthony-zhou commented on #7114
@shipcy Go for it! Note that PR #6998 made changes to the navbar that may affect the changes needed here. Not sure if these two are related though.

[2020-01-09 21:26] nstjean commented on #7084
Ahh, perfect! Ok!

[2020-01-09 21:39] anthony-zhou opened #7165 "Fix typos in documentation for reply-by-email feature"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-09 21:44] nstjean commented on #7079
I'm not very familiar with install errors, I did a quick search and couldn't find anything that mentions that problem. I'm going to find someone who can help you with that!
In the meantime go through these instructions and make sure you didn't miss a step (because that happened to me when I installed everything!): https://github.com/publiclab/plots2#installation
You can also read through this thre

[2020-01-09 21:47] skilfullycurled commented on #7109
Great job @sunguru98, I know the feeling! We’ll have to figure out a way to

Bringing in at @ebarry and @bronwen9.

Between this and @shipcy’s work (also just merged! 🎉) the back and forth for collecting info from the person contacting the moderators will be reduced, hopefully to none!

@sunguru98, if you want to try out the feature, make an account on publiclab.org (if you haven’t already).  Let

[2020-01-09 21:48] anthony-zhou opened #7166 "Fix typos in documentation for reply-by-tweet feature"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-09 21:54] anthony-zhou opened #7167 "Fix minor typo in LABELS.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-09 22:16] jywarren opened #7168 "Turn off scrollwheel zooming for inline maps?"
Hi @sagarpreet-chadha @nstjean - a colleague pointed out that scrolling down this page is tough with a scroll wheel because it starts zooming the map. I would guess scrollwheel zooming is usually turned off for maps like these that are full width? But I'm not sure. What do you think we should do?

https://publiclab.org/wiki/unearthing-pvd

Thanks!

[2020-01-09 22:32] first-timers[bot] opened #7170 "Add tooltip explaining number of wiki authors"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-09 22:32] jywarren commented on #7170
I'm happy to help with this, as I created it!

[2020-01-09 23:30] jywarren commented on #7062
I'm theorizing that we must get in a state where there is a note created, which would have `vid=0` but then the revision is invalid, and the `node.vid` doesn't get updated. It could happen in this section of the code:

https://github.com/publiclab/plots2/blob/3267de0b4872c07d2aaa6ab523d33e45e062cb33/app/models/node.rb#L662-L683

[2020-01-09 23:34] jywarren commented on #7062
That's all in a transaction so it's supposed to roll back if anything goes wrong... i noticed this happened before in https://github.com/publiclab/plots2/issues/6678

[2020-01-09 23:37] jywarren commented on #7062
This indicates that to trigger a rollback, we have to use `node.update!(vid: revision.vid)` -- https://medium.com/@kristenrogers.kr75/rails-transactions-the-complete-guide-7b5c00c604fc

[2020-01-09 23:38] jywarren commented on #7062
Example:

[code]

[2020-01-09 23:39] jywarren commented on #7062
So we could do:

[code]

[2020-01-09 23:39] jywarren commented on #7062
Or just explicitly `raise ActiveRecord::Rollback if condition`

[2020-01-09 23:41] jywarren commented on #7062
Maybe

[code]

[2020-01-09 23:45] jywarren commented on #7062
This is super hard to test for, though. We could write a test to try to introduce a bad revision maybe...

[2020-01-09 23:57] jywarren commented on #7062
OK, theory - it happens when we have an emoji or unicode character in a revision!

[2020-01-09 23:57] anthony-zhou commented on #6282
I'd be happy to work on this as part of GCI. I will open a PR addressing this soon.

[2020-01-09 23:58] jywarren commented on #7062
Updated #7173 to test that out. Then #7172 may fix it.

[2020-01-10 00:00] jywarren commented on #6282
That would be super!!!!

On Thu, Jan 9, 2020 at 6:57 PM anthony-zhou <notifications@github.com>
wrote:

[2020-01-10 00:02] jywarren commented on #7062
Very funny, but if https://github.com/publiclab/plots2/pull/7173 correctly fails, then we may have a way to test for #3007... a hall-of-fame issue....

[2020-01-10 07:30] sssash18 opened #7177 "Setting Show password for a short time"
**Please describe the desired behavior.**
Currently the show password goes from text to password again when the user clicks it,but for a greater password security the password must automatically change from text to password in a short interval of time.This would provide greater password security
**Additional context (optional)**
**Current Behaviour**
![current](https://user-images.githubuserconten

[2020-01-10 07:31] sssash18 commented on #7177
@jywarren @nstjean Can I go ahead with adding this feature?

[2020-01-10 07:45] sashadev-sky commented on #6239
@VladimirMikulic I responded in gitter but pasting here as well -

[2020-01-10 09:14] shipcy commented on #6962
Thanks @skilfullycurled

[2020-01-10 09:15] shipcy commented on #7114
I'm new to open source. It'll be great if you can guide me @anthony-zhou

[2020-01-10 09:34] shipcy commented on #7167
I want to take this.

[2020-01-10 13:42] SidharthBansal commented on #6239
You can solve it. Once merged we will upload it to the dashboard
If we forget to upload due to some reason then I am there to consider
points for that task
No worries

On Fri, 10 Jan 2020, 1:16 pm Sasha Boginsky, <notifications@github.com>
wrote:

[2020-01-10 13:50] SidharthBansal commented on #7143
Can you fix it please?

[2020-01-10 13:50] SidharthBansal commented on #7143
Great catch :tada:

[2020-01-10 13:52] #5585 closed

[2020-01-10 14:24] skilfullycurled commented on #7109
Oh, @sunguru98, also, let me know your username after you make the account.

[2020-01-10 14:27] nstjean commented on #7168
I noticed that on one of the example pages you showed me. I think turning off scrollwheel zooming for these situations would be a good idea.

[2020-01-10 14:38] steviepubliclab opened #7178 "moderating a comment from the website"
I went onto this research note because a got an email that a spam comment was posted to it:

https://publiclab.org/notes/imvec/04-06-2018/online-odor-log-v1-0

I found the spam comment, but when the page reloaded (as it did automatically), the spam comment was still there.  I went to the page again in incognito mode (not logged in as a moderator) and the comment wasn't on there.

It's confusing to

[2020-01-10 15:21] jywarren commented on #7178
Can you reload the page one more time, or go to this modified URL, and check then? if so, it's a browser caching issue that we can fix pretty quick! Thanks!

https://publiclab.org/notes/imvec/04-06-2018/online-odor-log-v1-0?clearcache

[2020-01-10 15:53] KateAnn19 commented on #7165
Hi can I work on this?

[2020-01-10 15:54] sunguru98 commented on #7109
Definitely. Pretty much the same name would be. @sunguru98  lol @skilfullycurled.

[2020-01-10 15:54] steviepubliclab commented on #7178
Hi, the comment is no longer there for me on this link.

[2020-01-10 16:03] nstjean commented on #7158
Just in case anyone else finds this in a search, if you get this error message just run `yarn upgrade` and then `yarn install`.

[2020-01-10 16:18] jywarren commented on #2377
Hi, this seems like a nice project that could be part of GSoC, potentially. We could workshop how to develop a minimal, and more fleshed out version of this, ranging from simply adding some kind of "score" marker to a list of recent profiles, to a more complete system with bulk spamming tools, different filtering methods, and a more flexible "spam dashboard".

[2020-01-10 16:23] jywarren commented on #2377
for a truly automated system, we would want to include a pretty rigorous section on identifying false positives and negatives, tuning the filter and manually evaluating the results, etc.

on the other hand, just adding some filtering tools to support manual banning could be done faster, and would be a good stepping stone on the way to a more automated system, since the same methods could be used t

[2020-01-10 16:39] KateAnn19 commented on #7165
I am waiting for checks to complete, but I started a pull request for this. How do I do this---> **We encourage contributors to link to the original issue in their pull request so all users can easily see if someone's already started on it.**  what would I have used to link to this and where would I have put it?

[2020-01-10 16:39] sssash18 commented on #7166
@anthony-zhou  Can i take up this issue?

[2020-01-10 16:40] KateAnn19 commented on #7165
Also is this where I ask for a review?

[2020-01-10 16:50] anthony-zhou commented on #7165
@KateAnn19 Thanks for working on this! To link to this issue in your pull request, edit the description so that it has the keywords "Fixes #7165". With this keyword, your pull request will automatically be linked from this issue page, and this issue will be automatically closed when your pull request is merged. You can ask for a review from a comment in the pull request.

[2020-01-10 16:54] KateAnn19 commented on #7165
Am I able to go back and add that even though I've already created a pull
request?

On Fri, Jan 10, 2020 at 9:50 AM anthony-zhou <notifications@github.com>
wrote:

[2020-01-10 17:05] ebarry commented on #2377
Benjamin, i wonder if you are working on a paper of anything from your analysis of spam? I really appreciated your points a) b) c) d) from your above comment, especially d which i instantly recognized as a decisive pattern but would not have named it on my own!

[2020-01-10 17:10] sssash18 commented on #7177
@publiclab/reviewers Can you share your views about this?

[2020-01-10 18:15] nstjean commented on #7177
Hmmm I'm not really sure. I will wait for others to give input!

[2020-01-10 18:15] #6253 closed

[2020-01-10 18:16] first-timers[bot] opened #7184 "Add if/else conditional to wiki page listings template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-10 18:18] jywarren commented on #7184
This'll be great - it'll mean that the "author-specific" title won't show alongside the default heading, as is shown doubled-up here:

![image](https://user-images.githubusercontent.com/24359/72176079-a4786800-33ab-11ea-979a-02d57227063e.png)

Thanks!

[2020-01-10 18:20] jywarren commented on #7177
Yes, i think this is a good idea! Let's just be sure the code is relatively
short and compact, and leave a good comment explaining the behavior, so it
doesn't get messed up later. Thanks!

On Fri, Jan 10, 2020 at 1:15 PM Natalie St Jean <notifications@github.com>
wrote:

[2020-01-10 18:22] jywarren commented on #7178
OK great, then we can fix this pretty easily, we just need to make the "next" URL unique by adding something to the end of it to trigger the browser cache to clear. Opening an issue!

[2020-01-10 18:28] first-timers[bot] opened #7186 "Change URL redirect after moderating a spam comment"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-10 18:31] jywarren commented on #7186
Hi, just noting that this should resolve #7178, and ALSO that implementing this fix may require some tests to be corrected too, in line with the new behavior. The tests will be these, most likely!

https://github.com/publiclab/plots2/blob/08ab5c0114d7478e0a05d4ef0b3adeb3a8f80f95/test/functional/admin_controller_test.rb#L415-L467

https://github.com/publiclab/plots2/blob/08ab5c0114d7478e0a05d4ef0b3

[2020-01-10 18:31] jywarren commented on #7178
Great, made an FTO for it. Thanks!

[2020-01-10 18:31] #7178 closed

[2020-01-10 18:35] jywarren commented on #6246
Just noting that we turned off initial, confirm (spam and not-spam) for nodes, and spam/not-spam for comments, but this #6409 did NOT turn off initial notifications for comments. Will do this next.

[2020-01-10 18:36] jywarren commented on #6246
https://github.com/publiclab/plots2/blob/08ab5c0114d7478e0a05d4ef0b3adeb3a8f80f95/test/functional/admin_controller_test.rb#L550-L566

Should comment notifications also be held 24 hours?

[2020-01-10 19:10] nstjean opened #7188 "Wider nav bar covers up top of map"
Currently the navbar is fixed and the map is within the `container` div in the content. `container has a fixed `padding-top`, which works when the nav bar is standard size but when there is an extra notice at the top it does not work!

![FireShot Capture 202 - 🎈 Public Lab_ Map - publiclab org](https://user-images.githubusercontent.com/49460529/72179440-df31ce80-33b2-11ea-858d-2492df5ed778.png)

I

[2020-01-10 19:51] sssash18 commented on #7177
Could you please review the pr #7190 ?

[2020-01-10 21:10] anthony-zhou commented on #7167
@shipcy Go for it! Let me know if you need any help.

[2020-01-10 21:10] anthony-zhou commented on #7166
@sssash18 Yes! Let me know if you need any help.

[2020-01-10 21:11] anthony-zhou commented on #7165
Yes. You can still edit your pull request description if you click the three dots in the top right corner and select 'edit'.

[2020-01-10 21:23] anthony-zhou opened #7192 "Fix typos in TESTING.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-10 21:42] Electrickal commented on #7192
Hi, I would like to claim this project, please!

[2020-01-10 22:06] patrickjpaschal commented on #7192
I would be willing to help :)

[2020-01-10 22:08] #7060 closed

[2020-01-10 22:08] Electrickal commented on #7192
Cheers! Just forked and cloned into my desktop. Got a new branch going, so if I hit a snag I'll reach out!

[2020-01-10 22:16] anthony-zhou opened #7194 "Emails from same research note should display in same thread"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-10 22:22] anthony-zhou commented on #7194
@publiclab/reviewers As for the changes requested in #6230 for `comment_mailer.rb`, I'm not sure if we want the two statements to use `comment.node` or `comment.parent`, so I haven't added them to this FTO yet.

Which of these two statements would we like to use, what's the difference, and should those changes be part of the same issue or a separate one?

[2020-01-10 22:39] Electrickal commented on #7192
@patrickjpaschal I'm curious how long the "continuous-integration" check should take?

[2020-01-10 22:41] Uzay-G commented on #7192
It takes about 6-12 minutes

[2020-01-10 22:42] KateAnn19 commented on #7165
Ok I was able to add it. All tests have passed. I think it's waiting on final approval.

[2020-01-10 22:42] KateAnn19 commented on #7165
Do I need to ask you for the final review or them?

[2020-01-10 22:48] Electrickal commented on #7192
![image](https://user-images.githubusercontent.com/26495342/72191785-42722f80-33b8-11ea-8a2c-d0883dcad91a.png)

Not really sure what to do about this ^^^

[2020-01-10 22:59] Uzay-G opened #7196 "Unapproved users should not be able to tag wiki pages"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-10 23:02] Uzay-G commented on #6176
Hey! I reformatted and made an fto for this issue at #7196. I tried to integrate a TDD logic to teach new contributors some interesting programming concepts. What do you think?

[2020-01-11 05:25] shipcy commented on #7167
@anthony-zhou Can you please tell me the name of the repository for this issue?

[2020-01-11 05:32] shipcy commented on #7167
@anthony-zhou I've made the changes. You can review it now.

[2020-01-11 05:34] shipcy commented on #7188
I want to take this issue @nstjean. Can I?

[2020-01-11 05:45] shipcy commented on #7071
I want to take this. Can i?

[2020-01-11 05:47] shipcy commented on #7008
Can I take this ?

[2020-01-11 08:00] sssash18 commented on #7196
Can I take it?

[2020-01-11 08:15] sssash18 commented on #7186
Can I take it ?

[2020-01-11 08:28] Uzay-G commented on #7196
Yeah go ahead @sssash18 :+1:

[2020-01-11 08:58] 9916103020 commented on #7149
Hi @nstjean Can I take this issue??

[2020-01-11 09:12] Uzay-G commented on #5923
Hey! This error is still present so I will reformat this as an fto!

[2020-01-11 09:23] Uzay-G opened #7201 "Restrict settings page to logged-in users"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-11 09:24] sssash18 commented on #7201
Can I do this?

[2020-01-11 09:40] shipcy commented on #4120
Is this issue still open? Can I take this?

[2020-01-11 10:03] Uzay-G commented on #7201
Hey, I noticed you already claimed another fto I made. Could you let someone else work on this issue? Thanks @sssash18 :+1:

[2020-01-11 11:17] VladimirMikulic commented on #7008
Hi @shipcy. We already have a PR that resolves this issue. Please try other FTOs.
Thanks.

[2020-01-11 13:08] sssash18 commented on #7201
@Uzay-G  I completed the previous task .Can i start with this one?

[2020-01-11 13:11] kushaggarwal commented on #6871
Hello
In above mentioned layout the slider buttons need to be there for each sub option in the heading like I want to be notified by email

[2020-01-11 13:31] jywarren commented on #7186
That would be great! Thanks!

On Sat, Jan 11, 2020, 3:20 AM Suyash Choudhary <notifications@github.com>
wrote:

[2020-01-11 13:59] sssash18 commented on #7201
Sure,no problem..

[2020-01-11 16:21] sssash18 commented on #7201
@Uzay-G  Meanwhile reviewers review about the test fails can i carry on with this issue?

[2020-01-11 16:24] Uzay-G commented on #7201
Yeah go ahead

[2020-01-11 16:48] sssash18 opened #7204 "Introducing divider in tools dropdown"
**Please describe the desired behavior.**
Currently in the tools dropdown their is no divider before "Kits" and "Software" heading.This makes it tough to understand whether it is a link or a Heading. Introducing a divider before them would make it more understandable

**Additional context (optional)**
**Current Behaviour**
![Screenshot 2020-01-11 at 10 15 57 PM](https://user-images.githubuserconte

[2020-01-11 16:50] sssash18 commented on #7204
@publiclab/reviewers  Can I move ahead with this?

[2020-01-11 18:49] SidharthBansal commented on #7204
Yes

[2020-01-11 18:50] SidharthBansal commented on #7204
@jywarren please suggest. I am in favor of dividers.
@sssash18 you can do as per @jywarren  request.
Thanks @sssash18

[2020-01-11 18:51] #7166 closed

[2020-01-11 18:52] #7201 closed

[2020-01-11 18:54] SidharthBansal commented on #7177
Great @sssash18
Let me give it a review

[2020-01-11 18:56] sssash18 commented on #7204
@SidharthBansal Thanks for your positive feedback!!
@jywarren  Can you please share your views?

[2020-01-11 19:12] SidharthBansal commented on #4250
Published on GCI dashboard

[2020-01-11 19:12] SidharthBansal commented on #4109
Published on GCI dashboard

[2020-01-11 19:14] SidharthBansal commented on #6282
Published on GCI

[2020-01-11 19:15] SidharthBansal commented on #6253
@Uzay-G published on GCI dashboard. Kindly receive points

[2020-01-11 19:18] Uzay-G commented on #6253
Thanks! I will when this [task](https://github.com/publiclab/plots2/pull/7202) gets approved :+1:

[2020-01-11 19:25] SidharthBansal commented on #6808
GCI students are requested to get all the tasks published before working on them. All mentors are online now.
Thanks

[2020-01-11 19:34] SidharthBansal commented on #4120
Please go ahead
thanks

[2020-01-11 19:47] #6176 closed

[2020-01-11 19:48] SidharthBansal commented on #6176
Moved to #7196

[2020-01-11 19:48] SidharthBansal commented on #6176
Thanks @Uzay-G 🎉

[2020-01-11 19:51] SidharthBansal commented on #6253
Shouldn't it be https://github.com/publiclab/plots2/pull/7169?

[2020-01-11 20:08] skilfullycurled commented on #2377
@barry, I recently took a very good class which inadvertently made me question the utility of the vast majority of papers.  I think it was meant to make you more critical of research but I took it a bit to heart.  So, no, I don't have any plans to write any papers at the moment.  Admittedly, this is a bit of a problem, but I'll figure it out.

As for spam in general, we'd need a novel angle which

[2020-01-11 20:12] #6879 closed

[2020-01-11 20:16] SidharthBansal commented on #6253
I have awarded points to @uzay for this task after publishing corresponding task to GCI dashboard

[2020-01-11 20:19] SidharthBansal commented on #3367
cool

On Wed, Jan 8, 2020 at 10:55 PM Uzay-G <notifications@github.com> wrote:

[2020-01-11 20:20] SidharthBansal commented on #3367
No no. We have to do things in order. Kindly do those prs too.

On Sun, Jan 12, 2020 at 1:49 AM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2020-01-11 20:21] Uzay-G commented on #3367
Yeah I will make the other pull request but we need to merge these ones first otherwise there will be conflicts between the prs.

[2020-01-11 20:34] SidharthBansal commented on #3367
try to add tests in the same pr then

[2020-01-11 20:38] Uzay-G commented on #3367
Well actually my changes are not tests but other fixes, I will include these fixes in the pull requests if you like!

[2020-01-11 20:38] SidharthBansal commented on #3367
what fixes?

On Sun, Jan 12, 2020 at 2:08 AM Uzay-G <notifications@github.com> wrote:

[2020-01-11 20:39] SidharthBansal commented on #3367
Either open it as a new pr OR as a new single commit in current pr so that
your changes are visible

On Sun, Jan 12, 2020 at 2:08 AM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2020-01-11 20:41] Uzay-G commented on #3367
I already put the tests in the prs but for example right now on PL, signing up through oauth always redirects to the dashboard.

Since my changes make it return to the previous page instead, I need to make signup through oauth redirect to dashboard instead

[2020-01-11 20:42] skilfullycurled commented on #2377
Regarding your comment @jywarren, I'm now leaning heavily towards your idea of building some tools which help moderators do their job with less overhead instead of trying to remove the job entirely.

Yes, this would all be a part of the training process, but this brings up a good point which makes me think we need to take a step back:

Instead of asking how we can end the human cost of spam modera

[2020-01-11 20:42] Uzay-G commented on #2377
Oh wow, this is a really interesting subject! I'd love to contribute to building this system :+1:

[2020-01-11 20:43] Uzay-G commented on #3367
your changes are visible

I will insert the changes in #7113

[2020-01-11 21:55] Uzay-G commented on #4660
Hey! This topic really interests me and I have made some Natural Language Processing projects with python and the [spacy](https://spacy.io) library. I'd love to help out and try applying NLP to spam detection. I'm no expert, but i think I could help :smile:

[2020-01-11 23:15] cesswairimu commented on #7194
hey @anthony-zhou, thanks for opening this.
`.parent` will check if there is an answer associated with the comment then return the node that belongs to the answer, if not, just return the node(which ideally should be the same node as calling `.node`.....I believe the two methods returns the same node and  answers model might be deprecated soon so we can just call `.node`..makes sense? Thanks

[2020-01-11 23:35] cesswairimu commented on #6871
Hi @kushaggarwal, I believe the slider buttons are already in place...we need to change the text. Thanks

[2020-01-11 23:48] #7192 closed

[2020-01-12 00:07] skilfullycurled commented on #2377
@Uzay-G, I'm really glad you chimed into this and the ML thread at #4660 because it made me realize that there are two parts to this.

1) Making moderation easier in general

2) I forgot that the original impetus was #5450 in which we need to detect spam users and posts that are in the database from the years _*prior*_ to when we had any moderation.

Okay.  The classification is back on!  @Uzay-G,

[2020-01-12 00:16] skilfullycurled commented on #5450
Bringing in @Uzay-G who has expressed interest in this domain.  @Uzay-G, take a read, and if it's of any interest, even if you just want to play around, let us know.  It's something that would be very useful not only to having correct stats, but also, so that the Public Lab data could be used for future ML projects.  And, since it's not integrated with the website, you can use whatever tools you w

[2020-01-12 00:23] skilfullycurled commented on #4660
@Uzay-G, thanks for reviving this thread.  I'm not sure when/how but I'm thinking it might be a good idea to try to have a call.  It just seems like there's enough interest in general, and it might be good to just meet each other and see if we can organize ourselves.  I'd sort of like to see this become a tool topic just like balloon mapping or spectrometry.  And, perhaps at some point even have a

[2020-01-12 05:23] SidharthBansal commented on #3367
Hi I will review asap. Tired now. I hope you can understand.

On Sun, 12 Jan 2020, 2:13 am Uzay-G, <notifications@github.com> wrote:

[2020-01-12 06:07] priyanka-choubey commented on #7170
@jywarren can I work on this?

[2020-01-12 06:08] Tlazypanda commented on #7184
@jywarren can I take this up?

[2020-01-12 07:07] SidharthBansal commented on #6808
Many of the students will be stressed about the results. Somebody wrote yesterday, that he is stressed a lot. I will like to suggest that you should be happy instead of being stressful. You all did a very nice job this year. As we have a limited number of slots for prizes, so we cannot give you all prizes.
For those who will win the prizes it means they are currently having great capabilities :tad

[2020-01-12 08:11] shipcy commented on #7188
@nstjean please reply?

[2020-01-12 08:20] shipcy commented on #7114
@anthony-zhou sorry Sorry for the delay but can I start this issue tomorrow?

[2020-01-12 09:56] Uzay-G commented on #5450
Yeah this seems like an interesting subject and I would like to participate. I have used spacy for Natural Entity Recognition and I think I could apply it to this problem but I don't have much experience with data analysis. I am searching for other characteristics we could identify that are found in many of the spam messages.

[2020-01-12 10:15] sssash18 commented on #6856
@jywarren I would like  to do this.

[2020-01-12 10:39] daemon1024 commented on #7044
Thanks @Uzay-G for directing me to this issue. I will claim it and start working on it :)

[2020-01-12 10:48] developer22-university commented on #7044
HI, @Uzay-G  i am claming this.

[2020-01-12 10:50] Uzay-G commented on #7044
Great @daemon1024! Sorry @developer22-university but @daemon1024 has already claimed this. If you want you can do https://github.com/publiclab/spectral-workbench/issues/472.

[2020-01-12 11:26] kushaggarwal commented on #6871
Okay Thank you will do so

[2020-01-12 11:32] sagarpreet-chadha commented on #7071
Yes please go ahead :)

On Sat, 11 Jan 2020, 11:15 Shipra Choudhary, <notifications@github.com>
wrote:

[2020-01-12 11:53] developer22-university commented on #7120
hi, @nstjean  i would like to work on this one.

[2020-01-12 12:32] sagarpreet-chadha commented on #7084
🎉

[2020-01-12 12:45] developer22-university commented on #7194
I AM CLAIMING THIS ISSUE @anthony-zhou

[2020-01-12 12:51] sssash18 commented on #7084
@jywarren @nstjean Can i work on this?

[2020-01-12 13:00] sssash18 commented on #7084
@jywarren @nstjean Can I work on this?

[2020-01-12 13:03] #7177 closed

[2020-01-12 13:13] sagarpreet-chadha commented on #3090
Hey @jywarren , @nstjean
Breaking this into small issues:

- [ ] Make a People Layer in LEL.

- [ ] Testing inline map including people Layer using syntax `[map:layers:content:23:77:PEOPLE_LAYER]`

- [ ] Using LEL `embed` parameter to load  people Layer by default in `/map/_slug_` page.

- [ ] Modifying PR https://github.com/publiclab/plots2/pull/5961  to include People Layer of LEL instead of cal

[2020-01-12 13:24] SidharthBansal commented on #7141
There are multiple PRs here. May I know how many points you expect for each pr?
Which task I should upload?
If there are stale pr then kindly close them

[2020-01-12 13:33] #7186 closed

[2020-01-12 13:44] SidharthBansal commented on #6253
@Uzay-G ?

[2020-01-12 13:45] SidharthBansal commented on #7141
I think 2 points for 2 prs. Please do similar changes to other repos too. We will give you points for this plots2/7141 at once

[2020-01-12 13:50] SidharthBansal commented on #6856
Hi @sssash18 only one FTO/ first timers only issue per person is allowed. Please don't do more ftos
We will merge this one. But don't do more ftos.
You can do as many issues as you want which don't have `fto` tag nor `first-timers-only` tag
Thanks

[2020-01-12 13:55] SidharthBansal commented on #3367
What have you inserted?

[2020-01-12 13:58] #7092 closed

[2020-01-12 14:05] SidharthBansal commented on #7121
I think this will be solved after #3367

[2020-01-12 14:06] SidharthBansal commented on #5652
@VladimirMikulic @Uzay-G let's quickly close this bigger issue this GCI
Thanks both of you for working on parts of Login/Signup and OAuth milestone. I really appreciate your help

[2020-01-12 14:10] daemon1024 commented on #7044
@Uzay-G I request you to review my PR.

[2020-01-12 14:57] Uzay-G commented on #6253
Yeah thank you my task was approved :+1:

[2020-01-12 15:01] sssash18 commented on #6856
Ok @SidharthBansal ,I will  take care next time .Sorry for the misdeed.

[2020-01-12 15:17] #7196 closed

[2020-01-12 15:19] #7044 closed

[2020-01-12 15:28] Uzay-G opened #7211 "Redirection after oauth SIGNUP"
After #7113, oauth should be correctly redirecting to the previous page the user was on before he logged in/signed up.

Now there has been lots of discussion around where users should be redirected after signing up. This was summed up by @jywarren in #6233:

For now, signing up through oauth will redirect to the previous page the user was on. But I think we should discuss this issue of redirection

[2020-01-12 15:29] Uzay-G commented on #7211
@SidharthBansal can you add this to the login/signup milestones? Thanks :+1:

[2020-01-12 15:31] SidharthBansal commented on #7211
do we need to solve this before merging other prs?
Or can we do this later?
Any idea?

[2020-01-12 15:33] Uzay-G commented on #7211
We can solve this after #7113. We need to discuss how we want this redirection to work and then implement the changes.

[2020-01-12 15:36] VladimirMikulic commented on #5652
@SidharthBansal no problem. Together we are going to complete this milestone 💎

[2020-01-12 15:37] Uzay-G commented on #5652
Yeah I look forward to solving this :smile:

[2020-01-12 16:58] SidharthBansal commented on #5652
This was almost solved. We are just having some trouble at the production.
I resolved and ticked a lot of checkboxes to narrow it down.

On Sun, Jan 12, 2020 at 9:07 PM Uzay-G <notifications@github.com> wrote:

[2020-01-12 17:04] SidharthBansal opened #7212 "Invalid email error on signup page"
@VladimirMikulic please fix this. You missed this.
![image](https://user-images.githubusercontent.com/20972099/72222524-9aad5b00-358b-11ea-8482-eb9f2228a036.png)
I already gave 5 points for signup form and modal validations.

[2020-01-12 17:05] SidharthBansal commented on #7212
Kindly check this on the localhost. Maybe changes are not deployed to the production yet.
`Email not present` should come instead

[2020-01-12 17:14] VladimirMikulic commented on #7212
Should I do the same for password and confirm password fields?

[2020-01-12 17:14] VladimirMikulic commented on #7212
Or maybe instead of showing error, we can just return to the original style.

[2020-01-12 17:19] SidharthBansal commented on #7212
Yes. They should say similar things. Marks are already given for this task

On Sun, 12 Jan 2020, 10:44 pm Vladimir Mikulic, <notifications@github.com>
wrote:

[2020-01-12 17:22] VladimirMikulic commented on #7212
I am on it @SidharthBansal. Thanks.

[2020-01-12 17:33] skilfullycurled commented on #5450
Wow, I’m super impressed you did some NER already.

When I was going to attempt this issue, I found out that the exercise of building a spam detector is called “spam vs. ham”.  Apparently, it’s a pretty canonical first introduction to NLP.  There are a lot of tutorials on how to build a spam/ham classifier from scratch.  There are also tutorials that use ones people already built but that’s probab

[2020-01-12 17:53] Uzay-G commented on #5450
Yes I think it would be a good idea for me to check out those tutorials and then try to build a spam vs ham classifier that would be personalized to detect spam symptoms moderators have noticed on Publiclab. Once I have a working prototype that can classify spam, I will try to integrate my classifier with Publiclab data and see how it works!

I will get started when I have some time :+1:

[2020-01-12 17:58] skilfullycurled commented on #5450
Actually, now that I think about it, that was before I learned there was a moderation dashboard which had links to the actual comments/profiles that were marked as spam.  If we got a csv of that query, you might not have to parse anything, you’d only need to cross reference the identifier with the sites content data to get the text.

@jywarren, is it possible to run the same query for the moderati

[2020-01-12 18:31] Uzay-G commented on #5450
Wait so how could I access the spam profile text in my program. Do I have to do web-scraping to get it?

[2020-01-12 18:59] #7165 closed

[2020-01-12 19:18] #6856 closed

[2020-01-12 19:23] #6233 closed

[2020-01-12 19:24] moskeyombus commented on #6855
Based on what I'm seeing in the code, the difference in counts vs. visible tags in each page is due to a difference between the calculation used to determine the visible count on the page, and the actual results returned in the query.

For both the "X posts by X contributors" section at the top of the table and the count in the "by Type dropdown", the `Tag.find_nodes_by_type` method is called to d

[2020-01-12 19:28] SidharthBansal commented on #6233
Hi @Uzay-G kindly claim the task on the dashboard. So that we can give you points.

[2020-01-12 19:34] yihenghuang commented on #7067
@VladimirMikulic Hi sorry for the late feedback. I try to follow your instruction but didnt find any comment at line 342. Please feel free to reject my PR if the code was not inserted at an organized location. Thanks for helping me through my first contribution!

[2020-01-12 19:49] VladimirMikulic commented on #7067
@yihenghuang Apparently someone removed the comment. Your change works fine :)

[2020-01-12 19:59] skilfullycurled commented on #5450
Oh, sorry, @Uzay-G, I made an assumption in my explanation.  We would give you all of the data you would need.

[2020-01-12 20:10] developer22-university commented on #7067
I am working on this one @VladimirMikulic

[2020-01-12 20:17] SidharthBansal commented on #3367
task related to this issue is https://codein.withgoogle.com/dashboard/task-instances/5266798652424192/

[2020-01-12 20:20] SidharthBansal commented on #4691
https://codein.withgoogle.com/dashboard/task-instances/5150671058239488/

[2020-01-12 20:26] VladimirMikulic commented on #7067
@developer22-university sorry. @yihenghuang unexpectedly submitted a PR.
I thought that he had abandoned it so that's why I suggested you to solve this.

If you still want to contribute, try this one https://github.com/publiclab/mapknitter/issues/1193
It's also very important.

[2020-01-12 22:07] Uzay-G opened #7215 "Feature: Seed database with fake users"
When testing the local database, it would be very useful to have some fake data to interact with (users, notes).  We can add fake users to the seeds of the database to generate this fake test content.

I propose we use the [faker gem](https://github.com/faker-ruby/faker) to accomplish this. What do you think @publiclab/community-reps?

[2020-01-13 03:09] anthony-zhou commented on #7194
@cesswairimu Thanks for the info. I updated the issue with your answer. @developer22-university Please see the updated issue for one additional change to make in `comment_mailer.rb`. Thanks!

[2020-01-13 03:10] anthony-zhou commented on #7114
@shipcy Yes, that's fine. Let me know if you need any help!

[2020-01-13 04:44] #4691 closed

[2020-01-13 04:45] SidharthBansal commented on #4691
You have already received points for this issue
Thanks

[2020-01-13 05:18] SidharthBansal commented on #7211
@Uzay-G can we proceed with this now?
Which tests were you going to add?
Please open a new issue so that we can discuss them there.

[2020-01-13 05:21] sashadev-sky commented on #6501
@jywarren sure! I will take these 4:
2. Editor maintainers
3. Database maintainers
4. Navbar maintainers
5. Profile maintainers

Does that work?

[2020-01-13 05:25] SidharthBansal commented on #4250
@VladimirMikulic did you move from one pr to another pr?
I am confused. Sorry

[2020-01-13 05:31] #7212 closed

[2020-01-13 05:37] SidharthBansal commented on #7121
@Uzay-G please provide tests for MK and SWB

[2020-01-13 05:37] SidharthBansal commented on #7121
If this issue still requires changes then please provide changes too

[2020-01-13 06:13] VladimirMikulic commented on #4250
@SidharthBansal yes, I did. The one that I closed was messy, so I've decided to open a new one.
I apologise for the confusion.

[2020-01-13 06:30] crisner opened #7217 "Add hostname value to display the correct embed code"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-13 06:33] Uzay-G commented on #7211
Yes, if we want to redirect to the dashboard after oauth signup we should work on this. Otherwise we can leave it as is and the user will be redirected to the previous page when signing up. I will open a new issue for the tests.

[2020-01-13 06:34] Uzay-G commented on #7121
@SidharthBansal could you help me with this? I don't think it's possible to test logging in through Publiclab from MK or SWB

[2020-01-13 06:34] crisner commented on #6887
Posted FTO issue #7217. This would resolve 404 issues from embed code copied from `https://publiclab.org/map/`

[2020-01-13 06:37] #7008 closed

[2020-01-13 06:41] SidharthBansal commented on #5600
@Uzay-G is this issue resolved?

[2020-01-13 06:41] SidharthBansal commented on #3367
@Uzay-G is this issue resolved?

[2020-01-13 06:49] Uzay-G commented on #3367
Currently, the user is redirected to the same page after signpb. But @jywarren and others seemed to say it would be better to redirect to the dashboard when signing up. That's why I opened https://github.com/publiclab/plots2/issues/7211

[2020-01-13 06:54] Uzay-G opened #7218 "Consolidate testing for `user_sessions` controller"
Hey, our [login controller](https://github.com/publiclab/plots2/blob/master/app/controllers/user_sessions_controller.rb) has some very complex logic and especially for oauth login there are many different outcomes for each login. This is explained in [our documentation](https://github.com/publiclab/plots2/blob/master/doc/LOGIN_SYSTEMS.md)

This complexity is why it's important to have bulletproof

[2020-01-13 07:07] SidharthBansal commented on #7218
Go for these tests. Please open up a pr. I will merge it quickly

[2020-01-13 07:09] SidharthBansal commented on #7218
3 + 2 points so total 5 points. I don't think we can give more than 5 points in total for both the tests. What do you think?

[2020-01-13 07:14] SidharthBansal commented on #7121
This will help you

https://github.com/publiclab/plots2/blob/d06f59460edf0424a6edbfc4000ac8444145fc5d/test/integration/openid_test.rb

[2020-01-13 07:15] SidharthBansal commented on #7121
Let's focus on completing login milestone asap. So, that we can start working on other projects like comments, stats too together

[2020-01-13 07:15] SidharthBansal commented on #7121
You can take as much time as you want. Don't need to take tension.

[2020-01-13 07:25] SidharthBansal opened #7219 "Remove multiple screenshots from PRs"
![image](https://user-images.githubusercontent.com/20972099/72238458-c704be00-3603-11ea-91c8-62ba04bad79a.png)
Kindly decrease number of screenshots from the prs

[2020-01-13 07:25] SidharthBansal commented on #6808
https://github.com/publiclab/plots2/issues/7219
issue for quick grabs

[2020-01-13 08:35] crisner opened #7220 "Wrong embed code from the embed button included within inline maps"
### Please describe the problem (or idea)

- The embed button from LEL shows wrong code in pages with inline maps as the URL is different.
- There is already an embed button below the map that generates the correct code.
- LEL uses window hash and location properties to dynamically get the map's values and the path from where the map is hosted but for inline maps within plots2 the path has been ha

[2020-01-13 08:36] crisner commented on #7220
@jywarren, I would like your inputs on this. Thanks!

[2020-01-13 09:02] Uzay-G commented on #7218
Oh wow! I didn't expect to get points for these. Yeah that's more than
enough. I will work on this in 6hrs when I get home.

On Mon, Jan 13, 2020, 08:10 Sidharth Bansal <notifications@github.com>
wrote:

[2020-01-13 10:16] SidharthBansal commented on #7218
You will get 1 extra point for suggestion for this issue opening.

[2020-01-13 10:16] SidharthBansal commented on #7215
You will get 1 point for suggestion for this issue opening.

[2020-01-13 10:17] SidharthBansal commented on #7215
Similarly goes for other issues.

[2020-01-13 10:17] SidharthBansal commented on #7215
@Uzay-G what is the need of faker gem?

[2020-01-13 10:18] SidharthBansal commented on #7218
``
test "logging in with banned user through normal login should fail" do
    user = users(:bob)
    user.ban
    post :create, params: { user_session: { username: user.username, password: 'secretive' } }
    assert_redirected_to root_url
    assert_equal flash[:error], I18n.t('user_sessions_controller.user_has_been_banned', username: user.username).html_safe
  end
``
we will also require similar

[2020-01-13 10:22] SidharthBansal commented on #7056
Great. You will get 1 point for bug reporting. Thanks

[2020-01-13 10:22] SidharthBansal commented on #7056
There is a pr and an issue related to it. Is it a duplicate issue?

[2020-01-13 10:24] SidharthBansal commented on #7037
You will get one point for bug reporting.
If you sent a fix then we will give you 3 more points by classifying this into medium task

[2020-01-13 10:24] SidharthBansal commented on #7037
Similarly for all gci students for all suggestions and bug reporting tasks
I hope all the students are liking this scheme

[2020-01-13 11:03] sssash18 commented on #7204
@SidharthBansal Any update on this? Should I implement it.

[2020-01-13 11:49] crisner commented on #6887
- Need inputs for Issue #7220
- PR[#343](https://github.com/publiclab/leaflet-environmental-layers/pull/343) ready for review

[2020-01-13 11:52] Uzay-G commented on #7219
Yes I agree with you @SidharthBansal. Also it's a bit of a waste of energy to have these photos sent through Github notifications each time. What do you think @jywarren?

[2020-01-13 12:07] crisner commented on #6887
Next up on my list:
- Implement minimal mode [#123](https://github.com/publiclab/leaflet-environmental-layers/issues/123)

[2020-01-13 12:08] Uzay-G commented on #7215
Basically, it generates fake data in the development database to use when working on new features or bugfixing.
For example, the following snippet, if it was placed in the [databases files](https://github.com/publiclab/plots2/blob/master/db/seeds.rb) would generate several fake users:
[code]

I would have to change some minor details but this would work :+1:

[2020-01-13 12:11] Uzay-G commented on #7215
I could also implement this for notes or other posts.
There are many cases where this is useful. For example, I once worked on an issue about how different notes were being sorted based on likes. To test this feature, I had to manually create several notes to check they were being sorted correctly

[2020-01-13 12:40] priyanka-choubey commented on #7075
@anthony-zhou can I work on this?

[2020-01-13 12:45] crisner commented on #6887
@nstjean, I have left a comment for you here: #6969. Could you take a look at it? Thanks!

[2020-01-13 12:58] jywarren commented on #7220
I think they serve two different purposes; the static one is intended to let you embed "the same map as this page is showing," but the LEL one is more like an editor to let you craft a new map on the LEL page, which you'd like to display. So I think you're right that on inline maps let's just use the one below!

[2020-01-13 13:21] Tlazypanda commented on #6814
@cesswairimu is this issue still available?

[2020-01-13 13:38] crisner commented on #7220
Awesome

[2020-01-13 13:44] SidharthBansal commented on #7219
I suggest keeping 2-3 screenshots.

On Mon, 13 Jan 2020, 5:22 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-13 13:44] SidharthBansal commented on #7215
Ask jeff.
I don't think we need this although it is a useful gem

On Mon, 13 Jan 2020, 5:41 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-13 13:45] #7218 closed

[2020-01-13 13:50] SidharthBansal commented on #7204
Let's wait for Jeff. Meanwhile you can do other issues
Thanks

[2020-01-13 13:56] nstjean commented on #7188
Hi @shipcy ! Thanks for offering! I already submitted a fix for this. :)

[2020-01-13 13:57] crisner commented on #6887
PR [#345](https://github.com/publiclab/leaflet-environmental-layers/pull/345) for issue [#337](https://github.com/publiclab/leaflet-environmental-layers/issues/337) ready for review.

[2020-01-13 14:00] cesswairimu commented on #6814
Hey @Tlazypanda, yeah, no one completed the issue as per the specifications, we would love your help. Thanks

[2020-01-13 14:04] nstjean commented on #7149
@9916103020 Sorry, someone has already submitted a pull request for this issue.

[2020-01-13 14:53] nstjean commented on #7084
Using the wording from #6072 this is what it looks like:

![FireShot Capture 205 - 🎈 Public Lab_ Dashboard - localhost](https://user-images.githubusercontent.com/49460529/72265461-8c425c00-35ea-11ea-919f-0f8e28cb47c1.png)

Should we add the line break in a different spot?

![FireShot Capture 206 - 🎈 Public Lab_ Dashboard - localhost](https://user-images.githubusercontent.com/49460529/72265471-906e

[2020-01-13 15:27] nstjean commented on #7120
@developer22-university Go for it!! Check in with me if you have any questions are problems! I've been working with this system for the past couple weeks.

[2020-01-13 15:30] nstjean commented on #3090
@sagarpreet-chadha Are you working on a People layer in LEL or do you want me to do it?

[2020-01-13 16:00] sagarpreet-chadha commented on #3090
I can not start immediately 😄 . If this is becoming blocker you can work on it else i will do it by Saturday. Thanks!

[2020-01-13 16:03] nstjean commented on #3090
I'll see if I get to it! I have something in LBL to fix first. :)

[2020-01-13 16:03] sagarpreet-chadha commented on #7084
Yes "About location privacy" in next line makes sense. Thanks!

[2020-01-13 16:03] SidharthBansal commented on #6808
Hi a good news for you all. We will be opening GSoC mentorship applications for GCI students also if they are eligible according to GSoC mentorship rules. So, stay connected after the GCI :-)
I hope you all like it

[2020-01-13 16:12] VladimirMikulic commented on #7056
@SidharthBansal it seems that this is a duplicate of #7064, although I reported the bug first.

[2020-01-13 16:16] SidharthBansal commented on #7056
Kindly close the one duplicate and add information at one place so that things are unambiguous

[2020-01-13 16:21] sagarpreet-chadha commented on #6887
@crisner , this one is interesting to solve https://github.com/publiclab/leaflet-environmental-layers/issues/123 , we can discuss the approach before jumping to code. What do you think?

@nstjean ...Before @jywarren does next deployment, can you do the changes requested here: https://github.com/publiclab/plots2/pull/6969 .

Great work :)
Thanks!

[2020-01-13 16:30] nstjean commented on #6887
@sagarpreet-chadha I made the requested changes in that PR before merging... am I missing something that didn't get changed?

[2020-01-13 16:35] VladimirMikulic commented on #7056
:+1:

[2020-01-13 16:35] #7056 closed

[2020-01-13 17:26] crisner commented on #6887
Sure, @sagarpreet-chadha! I was thinking we need to check which type of marker would be 'light' on the page. I was wondering if it would be better to change all markers to leaflet shapes, for example the circleMarker or like what Jeff used in unearthing-pvd, I think it was done using glify. We would have to add the minimal mode icon for all the layers and render them according to the mode the user

[2020-01-13 17:26] NitinBhasneria commented on #7217
I want to claim this issue.

[2020-01-13 17:27] crisner commented on #7217
Sure, go ahead!

[2020-01-13 17:43] sssash18 commented on #7071
@sagarpreet-chadha  Can I work on it if it's still not done?

[2020-01-13 18:03] Uzay-G commented on #7121
Hey! I checked out the file and I was wondering what type of tests you wanted me to add. Do you want me to add tests for trying to log in with banned users and things like that?

[2020-01-13 18:05] sssash18 commented on #6511
Both the login path form and login popup reference same user_sessions/_form , then why one is working fine while the other one is not?

[2020-01-13 18:22] SidharthBansal commented on #7121
User at Mk in not logged in state.
User clicks Github Provider.
Github is logged in
Pl is logged in
MK is logged in
User is logged into MK
User is on mk.org

Similarly for all provider, similarly for both signup and login and for
both swb and mk.
Does this make sense?

On Mon, Jan 13, 2020 at 11:33 PM Uzay-G <notifications@github.com> wrote:

[2020-01-13 18:23] #4250 closed

[2020-01-13 18:23] Uzay-G commented on #7121
Yeah it does. I am looking at the example you sent and will try and code some tests :+1:

[2020-01-13 18:26] SidharthBansal commented on #7121
There will be many tests.
Please ensure no duplicate tests

On Mon, Jan 13, 2020 at 11:53 PM Uzay-G <notifications@github.com> wrote:

[2020-01-13 18:30] SidharthBansal commented on #5291
I increased the marks for this issue. Kindly tell me the link of task so that I can modify at the dashboard.

[2020-01-13 18:33] jywarren commented on #6887
I also wanted to suggest that the new menu @crisner is working on could be featured on the new /map page shown here:

https://stable.publiclab.org/map

...with all layers available. That'd be really nice place to feature this new work! What do you think?

[2020-01-13 18:46] SidharthBansal commented on #5291
Upgrading to `hard` from `medium`
Please provide GCI task link so that I can edit there too

[2020-01-13 18:46] #5291 closed

[2020-01-13 18:51] #3367 closed

[2020-01-13 18:51] SidharthBansal commented on #3367
correct. this issue is not needed any more
moved to #7211

[2020-01-13 18:52] SidharthBansal commented on #5600
@Uzay-G can we do this first?

[2020-01-13 18:53] SidharthBansal commented on #7211
Can you please close this issue and open up a new issue after refactoring #7211?

[2020-01-13 18:54] SidharthBansal commented on #7211
We just need to migrate as it is difficult to understand things here

[2020-01-13 18:55] anthony-zhou commented on #7075
@priyanka-choubey You're welcome to work on this, but keep in mind that it might not be approved, as this is just a suggested refactoring.

[2020-01-13 18:57] Uzay-G commented on #5600
Before the testing? Yeah ok no problem!

[2020-01-13 18:58] Uzay-G commented on #7211
You want me to close this one and open a new one after refactoring which pr/issue?

[2020-01-13 18:59] SidharthBansal commented on #5600
Sure. Let's do testing after it. This is simpler issue

On Tue, 14 Jan 2020, 12:27 am Uzay-G, <notifications@github.com> wrote:

[2020-01-13 18:59] SidharthBansal commented on #7211
7211

On Tue, 14 Jan 2020, 12:28 am Uzay-G, <notifications@github.com> wrote:

[2020-01-13 19:01] Uzay-G commented on #7211
Sorry I don't understand this issue is 7211

[2020-01-13 19:20] SidharthBansal commented on #7211
Just I need you to reformat the current issue for view from Jefd

On Tue, 14 Jan 2020, 12:31 am Uzay-G, <notifications@github.com> wrote:

[2020-01-13 20:13] ebarry opened #7224 "Finalizing the 2020 Public Lab Software Contributors Survey"
Hi all!
I'm setting up the survey for our community here, and updating some categories from the Fall 2018 edition. First question: Are these the best set of current projects to list for people to indicate they are contributing to? Please read the alphabetized list below and please add a comment with any others i missed!

- Community Toolbox
- ImageSequencer
- infragram-js
- inline-markdown-editor

[2020-01-13 20:24] nstjean commented on #6887
Yes! That would be super exciting!

[2020-01-13 20:24] ebarry commented on #7224
Other requests that came in after last year's survey included:

- several people suggested we add  "daily" to the "How frequently do you contribute?" question.
- @HarshKhandeparkar asked "can we add countrywise demographic survey? Like we can list some of the big countries in radio buttons and if the country of the person is not listed, they can enter it in a separate input? How does that sound?"

[2020-01-13 22:07] jywarren commented on #7219
Actually i use these to check features carefully. If there is some other
way to list them or link to them, it's very helpful for double-checking
especially UI changes. I'd like to keep them all, but if you can think of a
way to minimize them or display them on a different page that we link to,
that would be great.

On Mon, Jan 13, 2020 at 8:44 AM Sidharth Bansal <notifications@github.com>
wrote:

[2020-01-13 22:07] jywarren commented on #7219
for example could we set it to overflow:hidden in CSS, and would that let
us scroll through them? Then we can show 2-3 at a time only.

On Mon, Jan 13, 2020 at 8:44 AM Sidharth Bansal <notifications@github.com>
wrote:

[2020-01-13 22:08] Uzay-G commented on #7121
Hey! Don't some of these tests: https://github.com/publiclab/plots2/blob/d06f59460edf0424a6edbfc4000ac8444145fc5d/test/integration/openid_test.rb already do authentication requests from MK or SWB?

[2020-01-13 22:09] jlcava opened #7226 "Reset pass"
### Please describe the problem (or idea)

I Can't reset the username and password. system is not sending e-mail. I receive normally mails weakly about news and problems.

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate yo

[2020-01-13 22:11] jywarren commented on #7204
Sure, let's do this!

[2020-01-13 22:17] jywarren commented on #7226
Hi, thank you for reporting, are you saying that you usually receive a
weekly email digest from PublicLab.org but it did not send this past week?

Alerting @icarito to a possible issue with our activeJob delayed mailers,
which get triggered via a Cron and enqueued via Redis I believe?

On Mon, Jan 13, 2020 at 5:09 PM jlcava <notifications@github.com> wrote:

[2020-01-13 22:19] jywarren commented on #6501
Yes, that's great! We have to generate a list of paths that'll be covered,
and then we'll add you for those.

On Mon, Jan 13, 2020 at 12:21 AM Sasha Boginsky <notifications@github.com>
wrote:

[2020-01-13 22:22] #7064 closed

[2020-01-13 22:22] jlcava commented on #7226
Right. I receive normally news and problems but I can nor reset the
password. Before I sent the issue I checked the spam/main/etc.
Thank you.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Remitente
notificado con
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
13/01/20
19:19:

[2020-01-13 22:25] #7184 closed

[2020-01-13 22:45] #6294 closed

[2020-01-13 23:15] jywarren commented on #6855
That sounds fantastic! Please link us to the PR once you do -- many thanks!

On Sun, Jan 12, 2020 at 2:29 PM John Wnek <notifications@github.com> wrote:

[2020-01-13 23:32] #7149 closed

[2020-01-13 23:37] #7083 closed

[2020-01-14 03:06] sagarpreet-chadha commented on #7071
Hi @shipcy , are you working on this?

[2020-01-14 05:12] SidharthBansal commented on #7121
yes we already have some tests. we need to write remaining tests if any

On Tue, Jan 14, 2020 at 3:38 AM Uzay-G <notifications@github.com> wrote:

[2020-01-14 05:13] #7037 closed

[2020-01-14 05:15] SidharthBansal commented on #7219
agreed

On Tue, Jan 14, 2020 at 3:37 AM Jeffrey Warren <notifications@github.com>
wrote:

[2020-01-14 05:17] sashadev-sky commented on #6501
@jywarren sounds good! Lmk if you need help with that

[2020-01-14 05:18] SidharthBansal commented on #7224
Hello

contribute?" question.

Yes

add countrywise demographic survey? Like we can list some of the big
countries in radio buttons and if the country of the person is not listed,
they can enter it in a separate input? How does that sound?"

Great

like add a question about "how many years development experience do you
have?" so we can visualize this in a bar chart

Awesome idea

Regarding repos,

[2020-01-14 07:56] 9916103020 commented on #7149
@nstjean is there any other firs time issue which I can solve?

[2020-01-14 08:35] crisner opened #7230 "Remove LEL embed button from inline maps"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-14 08:38] crisner commented on #7220
Moved to #7230

[2020-01-14 09:19] NitinBhasneria commented on #7123
I would like to claim for this issue.

[2020-01-14 09:23] NitinBhasneria commented on #6941
@shashwataggarwal If you are not working on this can I take the issue...? @jywarren @CodeSarthak

[2020-01-14 09:29] NitinBhasneria commented on #7219
If this issue is open... Can I work on this @SidharthBansal.

[2020-01-14 09:59] NitinBhasneria commented on #6593
Can I take this issue please @jywarren @steviepubliclab

[2020-01-14 10:06] NitinBhasneria commented on #6572
Hey can I make this popup responsive and work on the issue? @debck

[2020-01-14 10:19] sssash18 commented on #6575
@publiclab/reviewers @jywarren  Can i work on this issue?

[2020-01-14 10:21] sssash18 commented on #6496
@publiclab/reviewers  Can I work on this issue?

[2020-01-14 11:12] shipcy commented on #7071
@sagarpreet-chadha Yes, I'm working on this. Actually I'm not ok that's why the work is on hold.
Sorry!

[2020-01-14 11:31] Tlazypanda commented on #6096
@jywarren I would like to work on this if it's alright :) Thanks :v:

[2020-01-14 11:34] seabl commented on #6096
@Tlazypanda please go ahead

[2020-01-14 11:50] debck commented on #6572
Yes sure @NitinBhasneria

[2020-01-14 12:33] #6814 closed

[2020-01-14 13:30] sssash18 opened #7234 "To move css present in _notes.html.erb"
### Please describe the problem (or idea)

The notes/_notes.html.erb contains a lot of css regarding its style.It's better to move it in a seperate file

it should be moved to a new file('notes.css') for code management.

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help

[2020-01-14 13:31] sssash18 commented on #7234
@publiclab/reviewers Share your views over this?

[2020-01-14 13:43] sssash18 opened #7235 "Map over laps the publish line"
### Please describe the problem (or idea)

The map in the create note overlaps with the bottom publish line

Publish line should be on top.
**Current Behaviuor**
![Screenshot 2020-01-14 at 7 11 54 PM](https://user-images.githubusercontent.com/57896905/72349086-d66a3100-3701-11ea-8ebd-8d445e6f9787.png)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org user

[2020-01-14 13:43] sssash18 commented on #7235
@publiclab/reviewers  Kindly share your views on this?

[2020-01-14 14:38] #7204 closed

[2020-01-14 14:40] cesswairimu commented on #6575
sorry @swathi-0901, I didn't see your request for help, let me know if you need help finding another issue... @sssash18 sure,  please go ahead

[2020-01-14 14:43] cesswairimu commented on #6496
mmh :thinking: I am not so sure about this issue..because we currently have the links appear on hover..would adding a drop down assume a button click?

[2020-01-14 14:44] cesswairimu commented on #6496
cc @publiclab/designers

[2020-01-14 14:46] cesswairimu commented on #7234
yeah, I believe that is the best practice..we can totally do this. Thanks so much for opening this

[2020-01-14 14:47] sssash18 commented on #6496
But I think to let the users know that it's a drop down, it's necessary

On Tue, Jan 14, 2020, 8:14 PM Cess <notifications@github.com> wrote:

[2020-01-14 14:51] cesswairimu commented on #7235
I think this is the required display...
![Screenshot from 2020-01-14 17-49-43](https://user-images.githubusercontent.com/17081074/72354221-65714c00-36f6-11ea-8888-b3bafd95b63c.png)
:point_up: this sticks to the bottom and you scroll to see the rest of the form inputs

[2020-01-14 15:08] sssash18 commented on #7235
@cesswairimu  I agree with you.

[2020-01-14 15:11] nstjean commented on #6887
I have a couple questions on https://github.com/publiclab/leaflet-blurred-location/pull/232

[2020-01-14 15:34] sssash18 opened #7238 "Markdown button disables on using keyboard shortcut"
### Please describe the problem (or idea)

The markdown button in create note disables after using keyboard shortcut
**Before using keyboard shortcut 'cmd+m'**
![Screenshot 2020-01-14 at 8 59 17 PM](https://user-images.githubusercontent.com/57896905/72357625-492ed880-3711-11ea-93f1-0d8440ea6ce5.png)
**After using shortcut**
![Screenshot 2020-01-14 at 8 59 24 PM](https://user-images.githubuserconte

[2020-01-14 15:35] sssash18 commented on #7238
@publiclab/reviewers Kindly provide your views on this?

[2020-01-14 15:36] nstjean commented on #7235
Yes, this is an issue in PublicLab.Editor : https://github.com/publiclab/PublicLab.Editor/issues/367

[2020-01-14 15:38] nstjean commented on #7215
I think this would be useful for notes and wikis, to have pre-populated data for developers to work with. When I was working on page tabbing I ended up creating a lot of posts by hand.

[2020-01-14 15:40] nstjean commented on #7120
@developer22-university Hi, I noticed you have been assigned a first-timers-only issue! Work on that one first and then see if you feel up to tackling this bug.

[2020-01-14 15:41] nstjean commented on #7149
@9916103020 It looks like this one is open! https://github.com/publiclab/plots2/issues/7230

[2020-01-14 15:43] sssash18 commented on #7235
So should I close this one if it already exists? @nstjean

[2020-01-14 15:44] hknowlton commented on #7230
Hi! May I work on this?

[2020-01-14 15:59] crisner commented on #7230
Sure, please go ahead!

[2020-01-14 16:56] developer22-university commented on #7120
which one i have solved all

[2020-01-14 17:31] nstjean commented on #7235
@sssash18 Yes I think we can close this one!

[2020-01-14 17:34] nstjean commented on #7120
I meant this one: https://github.com/publiclab/plots2/issues/7194 I see that you have claimed it, we ask that you do a first-timers-only issue first before working on bigger issues like this one! Just to make sure you are comfortable making a pull request and know the process.

[2020-01-14 17:37] ebarry commented on #7224
from @jywarren :
“How do people make time for this work? In what size chunks?”
- 15 minutes?
- an hour every other day?
- a block of time once a week?
- write your own_________

[2020-01-14 17:48] sagarpreet-chadha commented on #7224
I dont know if we already have this: "What do you expect from contributing to open source?"

[2020-01-14 18:19] #5600 closed

[2020-01-14 18:21] SidharthBansal commented on #5600
Kindly submit https://codein.withgoogle.com/dashboard/tasks/6647913501949952/

[2020-01-14 18:24] SidharthBansal opened #7240 "Redirect to the dashboard after OAuth SIGNUP"
Moved from #7211
Right now the user is redirected back to the previous page after OAuth Sign UP and login.
We want the user to go to the Dashboard page on first time of Signing into Public Lab irrespective of type of login(form/fb/twitter/google/GH)
@Uzay-G is working on this

[2020-01-14 18:24] SidharthBansal commented on #7240
@Uzay-G go for it

[2020-01-14 18:25] SidharthBansal commented on #7240
Please remember that a user may have a account with no provider linked. User is not signed in. User tries to log in through provider P. This should not result in dashboard.
Does this makes sense?
We will require a lot of tests here too.

[2020-01-14 18:26] SidharthBansal commented on #7211
Moved to #7240

[2020-01-14 18:26] #7211 closed

[2020-01-14 18:30] SidharthBansal commented on #5652
I think this issue is resolved now. Just we need to check them

[2020-01-14 19:26] Tlazypanda commented on #5829
@jywarren is this issue still available?

[2020-01-14 20:07] ebarry commented on #7224
do you have a set of answers you'd like to offer people? That would be easier to analyze if we could come up with a list rather than leave it free text

[2020-01-14 23:25] Uzay-G commented on #7211
Sorry I was going to work on this but didn't have any time today. Thank you so much for opening the issue!

[2020-01-14 23:26] Uzay-G commented on #7240
Yes I understand. Should I work on this before adding `open_id` tests for MK and SWB?

[2020-01-14 23:29] VladimirMikulic commented on #7067
The issue has been solved.

[2020-01-15 00:04] #7230 closed

[2020-01-15 04:20] sagarpreet-chadha commented on #7224
Okay cool,
The options can be multiple select types:

1. Learning and leveraging your skills.
2. This is part of my School assignment.
3. I want to take part in open source programs like Gsoc, GCI, outreachy,
etc.
4. I am curious to know how open-source development works.
5. I want to learn about PublicLab
6. I want to use this library/software in my personal projects.
7. I have some other reason.

[2020-01-15 06:21] sssash18 commented on #7235
Already present

[2020-01-15 06:21] #7235 closed

[2020-01-15 07:12] SidharthBansal commented on #7240
You can work on both. Your wish which one first or both together

On Wed, Jan 15, 2020 at 4:56 AM Uzay-G <notifications@github.com> wrote:

[2020-01-15 07:49] Uzay-G commented on #7240
Hey, I had a question about this, could you help me?
In this part of the oauth signup logic:
https://github.com/publiclab/plots2/blob/c5e3275d8f3841c2291551abfc8d357904dfddd2/app/controllers/user_sessions_controller.rb#L85-L88

The user is signing up through `open_id` so should we redirect him back to the site he was using before signing up or to the dashboard?

Thanks!

[2020-01-15 09:29] Uzay-G commented on #7121
All of the tests in the file are only for SWB, should I replicate them for MK?

[2020-01-15 11:43] SidharthBansal commented on #7121
There should be tests for mk too

On Wed, 15 Jan 2020, 2:59 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-15 12:45] Uzay-G commented on #7121
The tests are quite confusing... I have done the missing tests for MK based on what already existed for SWB but I am not sure what I can add and how I can test through the open_id. What other tests should I add to the files?

[2020-01-15 13:10] crisner commented on #6887
PR[#346](https://github.com/publiclab/leaflet-environmental-layers/pull/346) for issue[#344](https://github.com/publiclab/leaflet-environmental-layers/issues/344) ready for review

Need inputs on issue[#347](https://github.com/publiclab/leaflet-environmental-layers/issues/347)

[2020-01-15 13:22] DevchamploO commented on #7079
﻿
I have not been able to resolve the issue I have been having. Everytime I try to run the server I get the same or similar error. I don’t think it is an installation error because when I add an index file it works fine. I have tried reinstalling but the issue persists. I think the problem lies somehow with PATH configuration. Since I am not sure when I can get this resolved I think that it is bes

[2020-01-15 13:48] nstjean commented on #7079
@DevchamploO I'm sorry you're having problems! It does sound like a PATH issue. :(

[2020-01-15 13:49] nstjean commented on #7079
After looking at the code for this page I believe I accidentally already completed this in https://github.com/publiclab/plots2/pull/6957 where I was testing it. Oops!

[2020-01-15 13:49] #7079 closed

[2020-01-15 13:57] SidharthBansal commented on #7121
Let's first merge a pr so that equal number of tests are present for mk and
swb. Then we can think forward.

On Wed, 15 Jan 2020, 6:15 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-15 13:59] Uzay-G commented on #7121
Alright I will open the pull request :+1:

[2020-01-15 14:38] nstjean commented on #6887
https://github.com/publiclab/leaflet-blurred-location/pull/232 is ready for merging.

And once that's merged and published I'll be able to use it to finish https://github.com/publiclab/plots2/pull/7125

[2020-01-15 14:39] nstjean commented on #6887
https://github.com/publiclab/plots2/pull/7189 is ready to merge

https://github.com/publiclab/plots2/pull/7222 is ready to merge

[2020-01-15 15:05] jywarren commented on #6887
Thanks all! Going through some now!

On Wed, Jan 15, 2020 at 9:44 AM Natalie St Jean <notifications@github.com>
wrote:

[2020-01-15 15:28] #7188 closed

[2020-01-15 15:51] SidharthBansal commented on #7240
Yes.
I am not able to see your last comment.

[2020-01-15 15:52] Uzay-G commented on #7240
What do you mean?

[2020-01-15 16:12] sssash18 commented on #6871
@publiclab/reviewers Can I take up this task if it's still not done?

[2020-01-15 16:23] jywarren commented on #7215
I like this; want to note that we do this without the Faker gem already for some tests. Like tags. If Faker is REALLY helpful let's do it, but if we can get by without, let's aim to keep our gem list relatively short, as it adds complexity to the installation over the long run.

[2020-01-15 16:25] SidharthBansal commented on #7121
Now we can continue with other tests

[2020-01-15 16:25] jywarren commented on #7215
I do think this is a good idea!

[2020-01-15 16:26] Uzay-G commented on #7215
Oh yeah no problem. I think we could do it without the gem with something like this:
[code]

This would make every username and email different. What do you think?

[2020-01-15 16:26] emilyashley commented on #7215
Is this seeding to be used for local developer environments or for generating data for automated testing? Or both?

Still learning how this system works but I think it'd be cool if it tackles both of those things well. 👍

[2020-01-15 16:27] Uzay-G commented on #7215
In this case it would only be for the local dev environments but we can use similar methods for testing :+1:

[2020-01-15 16:28] kushaggarwal commented on #6871
Hello
I am working on this one and will soon generate a pull request for the same
Thank you

[2020-01-15 16:37] emilyashley commented on #7215
Oh also when I saw this I remember doing the same thing on other sites!

I don't know if this is helpful here, but what do instead is modify the pagination settings to 3 items per page or something, then I can test a lot of the pagination features without creating content by hand. I just gotta remember to set it back to 100 or whatever the default is when I commit my code.

[2020-01-15 16:41] SidharthBansal commented on #7240
Is anything remaining here?

[2020-01-15 16:41] SidharthBansal commented on #7240
If everything is complete. Then please close this issue

[2020-01-15 16:41] Uzay-G commented on #7240
No this is done. Could you close it? I don't have the permission. Thanks :+1:

[2020-01-15 16:44] #7240 closed

[2020-01-15 16:48] SidharthBansal commented on #5316
@Uzay-G @VladimirMikulic i think you both will be willing to complete this issue together.
I can mentor this if you both are willing.
We can brainstorm about points after merging prs too. This will be of a lot of points for sure.

[2020-01-15 16:51] SidharthBansal commented on #6808
We will be adding a much bigger issue to GCI
https://github.com/publiclab/plots2/issues/5316
All folks are invited to come and get as many prs merged as they want. Each area of code say comments system test will be a hard issue of 5 points. So people are encouraged to do them as many as they want. Let's complete this in GCI 2020

[2020-01-15 16:51] SidharthBansal commented on #6808
All students are invited to write as many system tests as they want. But let's stick to priority system tests first.

[2020-01-15 16:53] Uzay-G commented on #5316
Oh wow I am so excited about this! This issue seems really fun to work on! :+1:

[2020-01-15 16:54] SidharthBansal commented on #7224
Awesome ideas folks

On Wed, 15 Jan 2020, 9:50 am Sagarpreet Chadha, <notifications@github.com>
wrote:

[2020-01-15 16:56] Uzay-G commented on #5316
@SidharthBansal I am going get started some signup and login tests

[2020-01-15 16:56] SidharthBansal commented on #5316
@Uzay-G I can't allow you to work on this before you finish with login work.
As GCI says one issue at a time. You are assigned open Id work right now.
I hope you will understand. Try to finish that up asap so that you can
start working on system tests.

On Wed, 15 Jan 2020, 10:23 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-15 16:56] VladimirMikulic commented on #5316
With @Uzay-G? It would be my pleasure.

[2020-01-15 16:57] SidharthBansal commented on #5316
Let's discuss login related work on their respective issues. Don't mix up
things.

On Wed, 15 Jan 2020, 10:26 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-15 16:57] VladimirMikulic commented on #5316
@SidharthBansal thank you for giving us a chance and recognizing our work :+1:

[2020-01-15 16:58] Uzay-G commented on #5316
Oh yeah I totally understand. The `open_id` tests are a bit confusing for me but I will try :+1:

[2020-01-15 17:02] VladimirMikulic commented on #5316
@SidharthBansal are these issues going to be published on GCI dashboard or we comment here to claim them? Thanks.

[2020-01-15 17:02] SidharthBansal commented on #5316
I mean there will be a lot of system tests for a lot of features of public
lab. So you both can divide parts. like stick to two parts first say
comments and tag. Suppose uzay picked comments and you picked tags. Then
you both can chat on prs and review each other's prs. Once both prs are
ready I can review them and merge them together. Other folks can also join
in this fashion with you two.
This w

[2020-01-15 17:02] SidharthBansal commented on #5316
Please take help from other people too. I am having fever so reviewing
things lately. Sorry for inconvenience held

On Wed, 15 Jan 2020, 10:28 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-15 17:04] SidharthBansal commented on #5316
I am thinking of publishing it after changes are merged. Maybe we can have
a hof for three sections comments, tags and login tests. This will reduce
overhead time to get your tasks approved. Similarly for all other
candidates.
Policies are same for each candidate. I treat all gci students equally.
Rest everything depends on fortune and hardwork.

On Wed, 15 Jan 2020, 10:32 pm Vladimir Mikulic, <no

[2020-01-15 17:05] VladimirMikulic commented on #5316
@SidharthBansal take care of yourself, the health is the most important.
I've added 2 signup tests, I think that's taken care of.

[2020-01-15 17:05] SidharthBansal commented on #5316
I just want to reduce the overhead so I wrote it in the welcoming issue.

On Wed, 15 Jan 2020, 10:34 pm Sidharth Bansal, <
bansal.sidharthcode@gmail.com> wrote:

[2020-01-15 17:06] VladimirMikulic commented on #5316
That's a good idea to reduce overhead.

[2020-01-15 17:06] Uzay-G commented on #5316
I think this is a great idea! I am excited to work on this with @VladimirMikulic after I finish my task.

[2020-01-15 17:06] VladimirMikulic commented on #5316
I am looking forward to our cooperation @Uzay-G :rocket:

[2020-01-15 17:19] Uzay-G commented on #7121
What type of tests would you like me to add?

[2020-01-15 17:19] SidharthBansal commented on #5316
I will request you both to complete the login things together by today or
tomorrow. Then we can drive here with other folks.
This gci will be bigger than gsoc for you guys. I hope you are learning a
little from me. :-)

On Wed, 15 Jan 2020, 10:37 pm Vladimir Mikulic, <notifications@github.com>
wrote:

[2020-01-15 17:19] SidharthBansal commented on #5316
https://codein.withgoogle.com/dashboard/tasks/6015285472002048/
Here is the task

On Wed, 15 Jan 2020, 10:48 pm Sidharth Bansal, <
bansal.sidharthcode@gmail.com> wrote:

[2020-01-15 17:19] SidharthBansal commented on #6808
Here is the task
https://codein.withgoogle.com/dashboard/tasks/6015285472002048/

[2020-01-15 17:21] Uzay-G commented on #5316
Yeah we really are learning a lot :+1:.

[2020-01-15 17:22] VladimirMikulic commented on #5316
@SidharthBansal we are learning a lot and indeed this is bigger than GSoC. Lots of breaking changes. @Uzay-G let's make this GCI memorable.

[2020-01-15 17:23] Uzay-G commented on #5316
I agree. Let's do this! :+1:

[2020-01-15 17:31] SidharthBansal commented on #5316
It will be great to get this thing done asap. May be we will have add more
issues soon to gci like this one. But let's complete this.
Sorry for adding this so late.
I intentionally dint add this up. If I added this in the beginning then you
will find it very difficult. Now it is really easy for you to complete it.
Remember to do things in collaboration. Open source is collaboration and
team work n

[2020-01-15 17:42] NitinBhasneria commented on #6572
@debck It seems that when we open in mobile it is some little problem in responsiveness and also some buttons and borders are overlapping in tablet views. Can you please confirm is these are the only problems??

[2020-01-15 17:43] NitinBhasneria commented on #6572
/home/nitin/Pictures/Screenshot from 2020-01-15 23-12-03.png
/home/nitin/Pictures/Screenshot from 2020-01-15 23-12-08.png
/home/nitin/Pictures/Screenshot from 2020-01-15 23-12-10.png

[2020-01-15 17:44] NitinBhasneria commented on #6572
![Screenshot from 2020-01-15 23-12-03](https://user-images.githubusercontent.com/44112080/72457498-be231080-37ec-11ea-8ebc-3e19780618e2.png)
![Screenshot from 2020-01-15 23-12-08](https://user-images.githubusercontent.com/44112080/72457499-be231080-37ec-11ea-9cd4-71d3e2a10afe.png)
![Screenshot from 2020-01-15 23-12-10](https://user-images.githubusercontent.com/44112080/72457502-bebba700-37ec-11ea-

[2020-01-15 17:50] NitinBhasneria commented on #6796
Duplicate of #6572. You should check this issue it is way similar and so You should close this issue.

[2020-01-15 17:52] SidharthBansal commented on #7121
Login to mk by logging into GitHub at public lab. Redirected back to mk.

On Wed, 15 Jan 2020, 10:49 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-15 17:55] SidharthBansal commented on #5652
I think we can close this.
Kindly check the above errors if they still exists. If no error is present then feel free to close it

[2020-01-15 18:00] emilyashley commented on #6572
Oh good, glad to see this is already open and being worked on! I was about to make an issue when I noticed it on my phone last night. 💯

[2020-01-15 18:09] nstjean commented on #7238
Interesting! I took a look at it and it looks like it's trying to switch to markdown mode, but it's not changing the button to the "rich" button.

For example, here's what I had before pushing any buttons:

![FireShot Capture 216 - 🎈 Public Lab_ Post - stable publiclab org](https://user-images.githubusercontent.com/49460529/72459075-fa785180-3797-11ea-90ec-98be6c6ce692.png)

When I push the markdo

[2020-01-15 18:14] Uzay-G commented on #5652
Yeah I think we can close this @SidharthBansal

[2020-01-15 18:15] Uzay-G commented on #7121
Doesn't this one solve that:
https://github.com/publiclab/plots2/blob/299a6f47832a42a7f67dcbea5e2c7f8d41883aac/test/integration/openid_test.rb#L338-L391

Maybe I am wrong. What do you think?

[2020-01-15 18:17] nstjean commented on #3090
@sagarpreet-chadha It looks like there is already a People layer in LEL: https://github.com/publiclab/leaflet-environmental-layers/blob/master/src/PLpeopleLayer.js
It was disabled on the example page, but I turned it on and it seems to work (though it is very slow). Is this what is needed?

I am not seeing a PL content layer however.

[2020-01-15 18:24] #7121 closed

[2020-01-15 18:25] SidharthBansal commented on #7121
Please abandon the current task. I think we can go to the system tests now

[2020-01-15 18:26] SidharthBansal commented on #7121
Sorry I can't give points for this as it was already solved

[2020-01-15 18:27] SidharthBansal commented on #5652
Can you please check through the unresolved comments?
If still something is unresolved then we can fix it.

On Wed, 15 Jan 2020, 11:44 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-15 18:28] Uzay-G commented on #7121
Yeah no problem :+1:

[2020-01-15 18:33] Uzay-G commented on #5652
I can't check this one because I have no twitter account... The other problems seem to be resolved.
Could you just explain this one:

Do you remember what the error was?

[2020-01-15 18:51] Uzay-G commented on #5316
I am getting started on testing signup. Just having problems with the spam-blocker..

[2020-01-15 18:55] VladimirMikulic commented on #5316
@Uzay-G I've implemented the signup tests, I don't know if they are enough though.

[2020-01-15 18:56] Uzay-G commented on #5316
Oh alright, I am just curious, how did you pass spam detection?

[2020-01-15 18:56] VladimirMikulic commented on #5316
@Uzay-G I did not. I was just testing correct error messages.

[2020-01-15 18:57] Uzay-G commented on #5316
Oh alright, you mean the validation pr you did earlier? Yeah no I am trying to test signing up a user.

[2020-01-15 18:57] VladimirMikulic commented on #5316
Take a look at test/integration/signup_flow_test.rb.

[2020-01-15 18:58] VladimirMikulic commented on #5316
The put `@spamaway` parameter, that's how they bypass it.

[2020-01-15 19:12] SidharthBansal commented on #5316
Can you please open up an issue for signup tests and discuss things there?

On Thu, Jan 16, 2020 at 12:28 AM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-15 19:13] SidharthBansal commented on #5316
Similarly for other feature system tests like comments, tags, stats, etc

On Thu, Jan 16, 2020 at 12:42 AM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2020-01-15 19:18] VladimirMikulic commented on #5316
@Uzay-G let's move the discussion on Gitter.

[2020-01-15 19:24] Uzay-G commented on #5316
Yeah alright :+1:

[2020-01-15 21:54] VladimirMikulic commented on #5316
@SidharthBansal should we repair @jywarren's tests or?

[2020-01-15 23:44] #6282 closed

[2020-01-15 23:47] jywarren commented on #6282
Completed by @anthony-zhou ! Thank you!!!

[2020-01-16 00:00] jywarren commented on #3090
We do PL content within plots2, actually -- see these resources --

https://publiclab.org/wiki/inline-maps

This template builds the map:

https://github.com/publiclab/plots2/blob/master/app/views/map/_inlineLeaflet.html.erb

And here's the JS to fetch and display!

https://github.com/publiclab/plots2/blob/c5e3275d8f3841c2291551abfc8d357904dfddd2/app/assets/javascripts/leaflet_helper.js#L94

I hop

[2020-01-16 00:01] jywarren commented on #3090
Aha - yes, @sagarpreet-chadha had listed them [above!](https://github.com/publiclab/plots2/issues/3090#issuecomment-573414198)

[2020-01-16 00:02] jywarren commented on #5316
@VladimirMikulic which ones, sorry this is a long convo! I'd love help finishing the ones I tried to start, i got really stuck! 🙌 ❤️

[2020-01-16 00:03] VladimirMikulic commented on #5316
No problem we'll finish all of them!

[2020-01-16 00:15] #7170 closed

[2020-01-16 00:24] jywarren commented on #5829
I suppose it is! @gauravano?

On Tue, Jan 14, 2020 at 2:31 PM Sneha Mishra <notifications@github.com>
wrote:

[2020-01-16 00:24] jywarren commented on #6593
We would LOVE help with this, thank you!!

On Tue, Jan 14, 2020 at 4:59 AM Nitin Bhasneria <notifications@github.com>
wrote:

[2020-01-16 00:25] jywarren commented on #7219
If you can figure out a way to do this, we'd appreciate it! I think maybe
we need to test out how css scroll works when sent via GitHub email
notifications. Bears some testing!

On Tue, Jan 14, 2020 at 4:29 AM Nitin Bhasneria <notifications@github.com>
wrote:

[2020-01-16 03:37] sagarpreet-chadha commented on #3090
Hey @nstjean ,
Yes i remember i had made people layer long way back!
You may not be getting content due to CORS error (check browser console).
Although /people layer in not part of allLayer.js file, right? We can easily add thay there now. Thanks!

[2020-01-16 03:45] sagarpreet-chadha commented on #7071
No hurry, take care 😃

On Tue, 14 Jan 2020, 16:42 Shipra Choudhary, <notifications@github.com>
wrote:

[2020-01-16 04:03] #6297 closed

[2020-01-16 05:41] NitinBhasneria commented on #7217
@crisner  can you please approve this issue ?

[2020-01-16 07:22] SidharthBansal commented on #5316
That's the spirit.

On Thu, 16 Jan 2020, 5:33 am Vladimir Mikulic, <notifications@github.com>
wrote:

[2020-01-16 07:27] SidharthBansal commented on #7215
Correct Emily, this is the first use case of faker in every rails guide.
We you guys are planning for a pr, complexity wise it should be medium but
there will be a lot of loops for different fixtures. So lines of code will
be higher. So let's keep it hard or five point task for GCI

On Wed, 15 Jan 2020, 10:07 pm Emily Ashley, <notifications@github.com>
wrote:

[2020-01-16 07:28] SidharthBansal commented on #5652
You can create a Twitter account too and test if you want
Thanks

On Thu, 16 Jan 2020, 12:03 am Uzay-G, <notifications@github.com> wrote:

[2020-01-16 08:28] Uzay-G commented on #7215
Alright, I will do it. Should I use faker or do we not need it?

On Thu, Jan 16, 2020, 08:27 Sidharth Bansal <notifications@github.com>
wrote:

[2020-01-16 08:28] Uzay-G commented on #7215
I will do it once I am done with testing. :+1:

On Thu, Jan 16, 2020, 09:25 Uzay Girit <uzgirit@gmail.com> wrote:

[2020-01-16 08:51] priyanka-choubey commented on #6742
@preetiy  @jywarren can i take this up if noone else is working on it?

[2020-01-16 08:58] Tlazypanda commented on #5829
@jywarren I would like to work on this :sweat_smile:

[2020-01-16 09:07] priyanka-choubey commented on #6573
@jywarren I think we can close this issue because this bug cannot be found anymore. Please check for the same. thanx :)

[2020-01-16 10:07] sssash18 commented on #7238
@nstjean So how do we proceed with this?

[2020-01-16 11:53] sssash18 commented on #6871
Fine @kushaggarwal ,take your time to complete the task.Thanks

[2020-01-16 12:39] NitinBhasneria commented on #6572
In signup popup the responsiveness is little low as the css width is given in px instead of percentage of looks a little less responsive. @jywarren could you please give your view...?

[2020-01-16 12:45] #7217 closed

[2020-01-16 13:57] nstjean commented on #7215
Yes sorry, pagination! I believe that's what I ended up doing at the end, and then I wondered why I hadn't thought of that to start with. :laughing:

[2020-01-16 14:00] nstjean commented on #7238
I would first try to figure out why a keyboard shortcut is triggering something. There has to be code somewhere that is causing that, we'll have to hunt it down.

[2020-01-16 14:33] nstjean commented on #3090
I don't see an error. And the markers do show up eventually! but every time I move the map it takes a long time for the markers to re-appear. Is that normal?

![Peek 2020-01-15 11-35](https://user-images.githubusercontent.com/49460529/72533395-1a188400-3843-11ea-88a0-8c2f89612ad1.gif)

I don't think it's in allLayers.js so I'll do that. :)

[2020-01-16 14:58] crisner commented on #6887
Need feedback on PR [#352](https://github.com/publiclab/leaflet-environmental-layers/pull/352) for issue [#349](https://github.com/publiclab/leaflet-environmental-layers/issues/349).

[2020-01-16 15:44] nstjean commented on #3090
I'm getting errors when running tests in `master` in LEL:

![natalie@natalie-ubuntu: ~-Dev-Ruby-public-lab-leaflet-environmental-layers_021](https://user-images.githubusercontent.com/49460529/72539065-c1e67f80-384c-11ea-9ce5-4920f587c52d.png)

This appears to be the same issue from https://github.com/publiclab/leaflet-blurred-location/pull/232#issuecomment-574215331

Looks like I'll have to figure

[2020-01-16 16:09] nstjean opened #7263 "At location button to dashboard sidebar"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-16 16:09] nstjean commented on #7084
Reposted as a FTO! https://github.com/publiclab/plots2/issues/7263

[2020-01-16 16:09] #7084 closed

[2020-01-16 16:14] emilyashley commented on #7224
Thanks y'all. Adding these great suggestions to the survey shortly :)

[2020-01-16 17:32] #6096 closed

[2020-01-16 17:35] imajit commented on #7263
Hey ! I'm working on it

[2020-01-16 17:38] #6572 closed

[2020-01-16 17:47] ebarry opened #7264 "[DISCUSSION] How do we change "notes" to "questions" and vice versa?"
@jywarren says: "i think we could choose between the following two ideas; it's true that the first one would be pretty easy and the second would be pretty complex:"

1. Possible new issue: make a button or other easier way to “convert something between a question and a note”

https://github.com/publiclab/plots2/issues/6593

2. Possible new issue—but not one that first-timers can do, that's kind of

[2020-01-16 17:48] ebarry commented on #7264
stevie
i think i need to understand how the system is currently managing tags on the questions pages

Mimi:school_satchel:
What currently changes a note into a question? Is it not the tag question?

stevie
yeah i'm wondering this as well. did we get rid of the need for the multiple power tags? like does tagging it question do it, then how does it treat the other tags on there?

Jeff
it's the power

[2020-01-16 17:52] ebarry commented on #7264
stevie
no, i've started just tagging questions with topic areas. like not question:water but just water.   does that mean it shows up as a research note instead of a question on that page?    this is what I was trying to do

Jeff
@stevie yes, if you don't add a tag starting with question:____ then it doesn't become a question

stevie
ug. ok that's what i was hoping we were getting away from

Jeff

[2020-01-16 17:53] ebarry commented on #7264
emilyashley
:eyes: still catching up on this, I hear a lot of solution suggestions but still don't think I've quite grasped the problem this is trying to solve or the purpose. I'd probably have more to offer if I understood those. But I'm here and following!

Jeff
my bad for assuming this was about moderators and experienced site users wanting to toggle a post/question back and forth

Jeff
agree w

[2020-01-16 17:55] pcube99 commented on #7263
Is this issue still up ?
I want to claim it.

[2020-01-16 17:58] jywarren commented on #6742
Sure, it seems so -- thank you!

On Thu, Jan 16, 2020 at 3:51 AM priyanka choubey <notifications@github.com>
wrote:

[2020-01-16 17:58] jywarren commented on #5829
Please go ahead! Thank you!

On Thu, Jan 16, 2020 at 3:58 AM Sneha Mishra <notifications@github.com>
wrote:

[2020-01-16 18:01] jywarren commented on #7264
Thanks! Sum-up of problem statement from @steviepubliclab :

And my suggestion:

[2020-01-16 18:33] NitinBhasneria commented on #6796
@jywarren Kindly have a look at this issue. As after #7261 this also needs to be closed.

[2020-01-16 18:37] SidharthBansal commented on #5652
No looping of twitter right now.

[2020-01-16 18:50] SidharthBansal commented on #5652
Noticeable problems:
1) User SIGNS IN at MK OR SWB should result in dashboard at Public Lab. Flash notices are missing
2) Session url missing should not come
3) Redirects to MK page instead of pl.org page
4) Twitter looping for some time(not infinite looping)
5) Recaptcha hash
6) User is redirecting to MK after signing in to SWB or vice versa

[2020-01-16 18:51] SidharthBansal commented on #4323
@jywarren what we need to do in this? This is the second last issue in Login/Signup Milestone. I am willing to complete the milestone this GCI.

[2020-01-16 18:53] #6573 closed

[2020-01-16 18:53] jywarren commented on #6573
OK, thank you!

[2020-01-16 18:56] SidharthBansal commented on #6141
@Uzay-G @VladimirMikulic i think you both are writing tests for this too

[2020-01-16 18:57] SidharthBansal commented on #5198
that link I tried to set my password, but it didn't work out.

What happened?
What error did you face in setting up your password?

[2020-01-16 19:23] jywarren commented on #4323
I think possibly just get the settings in Jenkins to match
https://stable.publiclab.org/signup, where you can see it has the message:
"This reCAPTCHA is for testing purposes only. Please report to the site
admin if you are seeing this." -- that's the "testing api key" which always
approves. Let me look at the codes in Jenkins to see if I can get them to
match.

Unstable seems not to be booted righ

[2020-01-16 19:26] jywarren commented on #6796
Ah, thank you for the catch! Closing! Thanks, all!

[2020-01-16 19:26] #6796 closed

[2020-01-16 19:34] nstjean commented on #7263
Hi @pcube99 ! @imajit has submitted a pull request for this issue. Take a lot to see if you can find any first-time-only issues that aren't taken.

[2020-01-16 19:36] jywarren commented on #6867
Noting this is ready pending @publiclab/community-reps 👍 to be taken up; it will be very similar to #6282, which was fixed by #7183 and #7191. Thanks!

[2020-01-16 19:40] NitinBhasneria commented on #6799
hey @jywarren I would like to take this issue! Can I?

[2020-01-16 19:49] jywarren commented on #6799
Oh goodness, we'd LOVE that. This area of code can be much simpler and more
consistent!

On Thu, Jan 16, 2020 at 2:40 PM Nitin Bhasneria <notifications@github.com>
wrote:

[2020-01-16 19:53] NitinBhasneria commented on #7127
@LeoDog896  I would like to take this issue

[2020-01-16 19:53] nstjean opened #7266 "Add location modal script to dashboard"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-16 19:54] nstjean commented on #7266
Note that this template is required for the location-modal to pop up when the new button is clicked. :)

[2020-01-16 19:59] Uzay-G commented on #5652
Are these problems people have noticed recently that we need to fix or should we check if they still exist?

[2020-01-16 19:59] Uzay-G commented on #6141
No problem. I will make some of these :+1:

[2020-01-16 20:01] Uzay-G commented on #5198
Oh sorry @SidharthBansal I hadn't seen this. I could try and investigate but I wouldn't know where to start since I am not having the problem anymore.

[2020-01-16 20:06] 9916103020 commented on #7230
@crisner is this issue still open??

[2020-01-16 20:07] 9916103020 commented on #7149
Thanks @nstjean

[2020-01-16 20:08] 9916103020 commented on #7266
@nstjean can I take this issue?

[2020-01-16 20:18] nstjean commented on #7266
@9916103020 Yes please! Go ahead!

[2020-01-16 20:29] #5076 closed

[2020-01-16 20:45] keshavsethi commented on #7238
@nstjean This is due to the following function
![Screenshot from 2020-01-17 02-11-22](https://user-images.githubusercontent.com/36025262/72561356-0adf1800-38cf-11ea-9d54-cb01d1813a8d.png)
This is from PublicLab.Editor.js

[2020-01-16 20:47] keshavsethi commented on #7238
If we press cmd+m then markdown is disabled but after that if we press cmd+p or cmd+h it moves back to respective modes.

[2020-01-16 21:05] nstjean commented on #7238
Ok great! So the problem is that when it enters markdown mode it's not
changing the button over. We need to find out why pushing the button does
one thing and entering markdown mode by ctrl-M has a different result. Both
should do the same thing.

On Thu, Jan 16, 2020, 3:47 PM Keshav Sethi <notifications@github.com> wrote:

[2020-01-16 22:22] Uzay-G opened #7269 "FTO: Fix duplication of flashes when moderating users"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-16 22:38] jywarren commented on #5316
Hi folks, i love all the system tests. Here's one that would help with dependabot! We often get upgrades for these that we can't evaluate from tests, so we have to try them out manually:

* jquery-file-upload: https://github.com/publiclab/plots2/pull/7063
* blueimp-file-upload: https://github.com/publiclab/plots2/pull/7059
* jsdiff https://github.com/publiclab/plots2/pull/7131

I wonder if the new

[2020-01-16 22:39] VladimirMikulic commented on #5316
@jywarren I'll do the editor image upload testing :+1: No worries.

[2020-01-16 22:46] #7031 closed

[2020-01-16 22:46] VladimirMikulic commented on #5316
@jywarren alright, I've tested it manually. You should be able to safely merge them.

[2020-01-16 22:47] jywarren commented on #5316
ok!!! Thank you!

On Thu, Jan 16, 2020 at 5:46 PM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-16 23:53] jywarren commented on #6501
Yes, i'd love help! I just started a README for the system in #7271. I want to expand the CODEOWNERS file in that PR to launch the pilot! We need to think of what paths to include in the CODEOWNERS file, and add them to that PR.

[2020-01-16 23:54] jywarren commented on #6501
cc @emilyashley !

[2020-01-17 00:04] jywarren commented on #6501
OK, i just created:

@publiclab/comment-maintainers
@publiclab/database-maintainers
@publiclab/editor-maintainers
@publiclab/navbar-maintainers
@publiclab/profile-maintainers
@publiclab/login-maintainers

[2020-01-17 00:05] jywarren commented on #6501
If this works, maybe:

notification-maintainers
node-maintainers
admin-maintainers (for the admin and spam moderation systems)

[2020-01-17 02:04] jywarren commented on #5316
I think this might be complete, folks! Now thinking on the runtime issue at #7272!

[2020-01-17 02:11] jywarren commented on #7062
So, we have a rollback now and it should work, solving the issue. But the underlying cause is the unicode issue at #3007!

[2020-01-17 02:29] SidharthBansal commented on #5652
We found these problems few month ago so we need to fix

On Fri, 17 Jan 2020, 1:29 am Uzay-G, <notifications@github.com> wrote:

[2020-01-17 02:54] SidharthBansal commented on #5198
You have to signup through GitHub at local. Then try to set up password

On Fri, 17 Jan 2020, 1:31 am Uzay-G, <notifications@github.com> wrote:

[2020-01-17 02:55] SidharthBansal commented on #6141
Why not all?
Do as much as possible. No hurry

On Fri, 17 Jan 2020, 1:29 am Uzay-G, <notifications@github.com> wrote:

[2020-01-17 03:05] crisner commented on #7230
I am sorry @9916103020, this issue is closed. If you are looking for FTO issues to work on you can comment here: https://github.com/publiclab/plots2/issues/6206 or look for issues that have the first-timers-only tag in the repositories you are interested in. You can also find them here: https://code.publiclab.org/. Thanks!

[2020-01-17 04:55] imajit commented on #7263
Hey @nstjean I can you review the PR

[2020-01-17 04:57] SidharthBansal commented on #6808
GCI ANNOUNCEMENTS: GRADESHEET FOR STUDENTS https://docs.google.com/forms/d/1e60ybBZNaJ_Aai_pJHIzFL4gxMVsVngZBUYw3gK_1dE/edit?ts=5df7b8f8
MENTOR EVALUATION FORMS BY STUDENTS https://docs.google.com/forms/d/1DO5U3APs6nyOorHWIvz5jwFz_Nvw4xhjGredIwprQCg/edit
TOGETHER THEY CONTAIN 10 POINTS
DEADLINE TO FILL THESE FORMS 23 JANUARY 18 UTC
In case of any doubts/queries/problems with the form, contact Sidh

[2020-01-17 04:58] imajit commented on #7263
@pcube99 If you are looking FTO issues you can try #7269 if it has not been claimed

[2020-01-17 05:18] pcube99 commented on #7269
I want to claim the issue.

[2020-01-17 05:19] SidharthBansal commented on #7226
Temporary fix: Login with providers{Facebook, Github, Google or Twitter}
Related issue: https://github.com/publiclab/plots2/issues/5198
Pinging @Uzay-G as they were also interested in solving this issue

[2020-01-17 05:24] SidharthBansal commented on #6239
@CodeSarthak kindly get it approved https://codein.withgoogle.com/dashboard/tasks/5689351694974976/

[2020-01-17 05:28] SidharthBansal commented on #6338
Nice

[2020-01-17 05:28] SidharthBansal commented on #4321
@VladimirMikulic @Uzay-G any of you guys want to add tests quickly here?

[2020-01-17 05:30] SidharthBansal commented on #4321
Although it is integration test, we can mark them under system test task as integration tests also have similar complexity as the system tests. Who is aiming to solve this? May be someone else apart from you two

[2020-01-17 05:31] SidharthBansal commented on #6141
@Uzay-G are you initiating a pr for this?

[2020-01-17 05:31] SidharthBansal commented on #5316
@jywarren can we close this issue now?

[2020-01-17 05:55] VladimirMikulic commented on #5316
@SidharthBansal this is not complete yet. The signup system test is missing. (We only have the 2 tests that cover form validation messages)

[2020-01-17 05:56] SidharthBansal commented on #5316
Oh, please tell the pr number so that I can review and quickly merge

On Fri, Jan 17, 2020 at 11:25 AM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-17 05:59] VladimirMikulic commented on #5316
I haven't written it yet :)

[2020-01-17 06:08] SidharthBansal commented on #5316
Oh, i thought you are quicker than me

On Fri, Jan 17, 2020 at 11:29 AM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-17 06:09] VladimirMikulic commented on #5316
I had a very busy night, but I will write them, don't worry.

[2020-01-17 06:14] SidharthBansal commented on #5316
Take rest. Take it as learning. Don't take it as a competition.

On Fri, Jan 17, 2020 at 11:39 AM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-17 06:50] sssash18 commented on #4321
@SidharthBansal I would like to add the test for the case when spamaway text area is not blank.Could I proceed with this?

[2020-01-17 06:56] VladimirMikulic commented on #4321
@sssash18 go on :)

[2020-01-17 07:11] sssash18 commented on #4321
@SidharthBansal @VladimirMikulic @Uzay-G  Kindly review the added test

[2020-01-17 08:03] tsparksh commented on #6808
Hey @SidharthBansal , do we have a mentor list? Is @sashadev-sky a mentor?

[2020-01-17 09:01] SidharthBansal commented on #6808
Yes she is a mentor

On Fri, 17 Jan 2020, 1:33 pm Sparks, <notifications@github.com> wrote:

[2020-01-17 10:00] SidharthBansal commented on #6808
Mentor list is already present in the issue body

[2020-01-17 10:42] oslewis commented on #7269
Hey,
Have you submitted a pull request yet?
Anything I can do to help?

[2020-01-17 10:43] Tlazypanda opened #7277 "Add welcoming message as a feature"
The welcoming text currently is fixed and not editable by the admins.Moving the welcoming text into a feature will allow site admins to edit it according to their needs.

Follow up to #6096 implemented by pull request #7236

**Please describe the desired behavior.**
Admins can now edit the welcoming message present here.
![Screenshot from 2020-01-16 11-53-22](https://user-images.githubusercontent.

[2020-01-17 10:44] Tlazypanda commented on #7277
@jywarren I would like to work on this as discussed.Thanks :)

[2020-01-17 10:48] pcube99 commented on #7269
What am I supposed to do in this issue?
I mean removing 277 line, that's it ??

[2020-01-17 11:05] sharmamansi commented on #6953
Hey @jywaren ,sorry i was inactive form past few days can you just give me some direction to start working on this issue.

[2020-01-17 12:04] sssash18 commented on #4321
@SidharthBansal @VladimirMikulic @Uzay-G Are thier any other tests that I can help in adding?

[2020-01-17 12:12] Uzay-G commented on #7269
Yeah removing that line will remove the duplication

On Fri, Jan 17, 2020, 11:48 Pankil Panchal <notifications@github.com> wrote:

[2020-01-17 14:57] SidharthBansal commented on #6501
Great

On Fri, 17 Jan 2020, 5:35 am Jeffrey Warren, <notifications@github.com>
wrote:

[2020-01-17 15:12] sagarpreet-chadha commented on #6887
Regarding popups not showing on markers:

If we change this line `popup = new Popup(options).setContent(popup);` to  `popup = new Popup(options).setContent(popup._content ? popup._content : popup);` in leaflet repo line:

https://github.com/Leaflet/Leaflet/blob/d1a1e97b8290f642eb677284af53c2db64199a76/src/layer/Popup.js#L320

Everything works fine then!

One way to change this line is to use https

[2020-01-17 15:34] VladimirMikulic commented on #4321
@sssash18 thank you for the interest, right now we are focusing on system tests. We could use some help :)

[2020-01-17 15:45] SidharthBansal commented on #6808
Ther forms are editable

[2020-01-17 15:49] jywarren commented on #5316
I think there is a signup test in the screenshots suite!

On Fri, Jan 17, 2020 at 1:14 AM Sidharth Bansal <notifications@github.com>
wrote:

[2020-01-17 15:49] #2365 closed

[2020-01-17 15:50] sssash18 commented on #4321
@VladimirMikulic Let me know how I can help

[2020-01-17 15:54] VladimirMikulic commented on #4321
Let's first resolve the Travis, shall we? :smile:

[2020-01-17 15:54] SidharthBansal commented on #4321
Sure

On Fri, Jan 17, 2020 at 9:24 PM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-17 15:55] jywarren commented on #7277
That would be super!!!!

On Fri, Jan 17, 2020 at 5:44 AM Sneha Mishra <notifications@github.com>
wrote:

[2020-01-17 15:59] SangharshSeth commented on #7269
Hey i like to claim this issue

[2020-01-17 16:00] SidharthBansal commented on #6808
One HoF issue:
https://codein.withgoogle.com/dashboard/tasks/6653314876309504/

[2020-01-17 16:00] SidharthBansal commented on #5316
Here are some other issues for system tests:
https://github.com/publiclab/plots2/pull/3630
https://github.com/publiclab/plots2/pull/3553

[2020-01-17 16:03] SangharshSeth commented on #7269
Hi  can i submit a pull request to this issue.

[2020-01-17 16:03] VladimirMikulic commented on #5316
@jywarren correct, we have a signup test, but it only covers the form error messages.
We need one that actually signs up the user and tests if we are on dashboard and that user is created successfully.

[2020-01-17 16:19] SidharthBansal commented on #5316
I think there is an integration test for it.

On Fri, Jan 17, 2020 at 9:33 PM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-17 16:19] SidharthBansal commented on #5316
Don't write redundant tests. Please ensure COMPLETENESS and NO REDUNDANCY
amongst the tests.
Thanks

On Fri, Jan 17, 2020 at 9:48 PM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2020-01-17 16:22] VladimirMikulic commented on #5316
In that case, it's no longer required. I haven't checked the codebase yet, but there won't be redundancy @SidharthBansal :+1:

[2020-01-17 16:25] SidharthBansal commented on #5316
Please check. If no such integration test present, then write a system test
for it.
We will require system tests for linking oauth providers to the user
profile while the user is logged in.
Also we will require multi tag subscription tests.
Let's complete the tests which we know we need to do for sure before
jumping to other tests. Testing is really critical branch of Software
Engineering. I will

[2020-01-17 16:32] pcube99 commented on #7269
I have committed a PR #7080
Please check it.

[2020-01-17 16:33] VladimirMikulic commented on #5316
It would be helpful if we could have a list like in this issue, although it's fine to tag me on every system test :)

[2020-01-17 16:38] priyanka-choubey commented on #6742
@jywarren can you direct me to the file where the changes need to be made. I can't find the icon on local host.

[2020-01-17 16:54] priyanka-choubey commented on #6476
@jywarren instead of removing the top answerers, we can try checking if the user is banned or not and then while iterating the list we can choose to display names of non-banned users only.. If this sounds okay I would be interested to take it up :)

[2020-01-17 16:58] #4321 closed

[2020-01-17 16:58] SidharthBansal commented on #5316
You can create a list if you want. Thanks for trying to organise things

On Fri, Jan 17, 2020 at 10:03 PM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-17 16:59] #6592 closed

[2020-01-17 17:11] cesswairimu commented on #6206
fto https://github.com/publiclab/mapknitter/issues/1066

[2020-01-17 17:13] SidharthBansal commented on #6206
There are many ftos which people left in the middle way. So, we need to
allocate those issues too

On Fri, Jan 17, 2020 at 10:41 PM Cess <notifications@github.com> wrote:

[2020-01-17 17:14] cesswairimu commented on #6206
Great idea :+1: ...I will check them close the prs and unassign them within the weekend. Thanks

[2020-01-17 17:15] NitinBhasneria commented on #6092
@jywarren There is a problem here as I open in the server there is nothing shown in the place of featured question. Can you tell me why?

[2020-01-17 17:15] NitinBhasneria commented on #6092
![Screenshot from 2020-01-17 22-45-18](https://user-images.githubusercontent.com/44112080/72631866-112ace00-397b-11ea-8503-0c01e031245d.png)

[2020-01-17 17:16] SidharthBansal commented on #6206
I will really appreciate that
Thanks

On Fri, Jan 17, 2020 at 10:44 PM Cess <notifications@github.com> wrote:

[2020-01-17 17:21] NitinBhasneria commented on #6799
@jywarren I think that the water quality box also needs to be fixed with responsiveness. What are your views? Also, we can cover more screen width as this is not looking nice to only cover the center part. Thank u

[2020-01-17 17:25] Uzay-G commented on #5316
Hey @SidharthBansal, I thought of making system tests for these but I'm not sure it would be useful since with this functionality system tests don't really add much to the existing tests we worked on for oauth. What do you think?

[2020-01-17 17:27] NitinBhasneria commented on #6799
This is what I mean .... that it is looking nice when image cover whole backgound rather than only center part as this... given below

[2020-01-17 17:27] NitinBhasneria commented on #6799
![Screenshot from 2020-01-17 22-57-26](https://user-images.githubusercontent.com/44112080/72632664-c0b47000-397c-11ea-8776-e5ba8b71276d.png)

[2020-01-17 17:28] SidharthBansal commented on #5316
Which tests you wanna add?

On Fri, 17 Jan 2020, 10:55 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-17 17:28] pcube99 commented on #7269
@Uzay-G  Please check the latest PR.

[2020-01-17 17:30] Uzay-G commented on #5316
I will work on some login tests for https://github.com/publiclab/plots2/issues/6141

[2020-01-17 17:38] Uzay-G commented on #6808
Should we submit it now or wait a bit longer if we have unfinished tasks?

[2020-01-17 17:40] SidharthBansal commented on #5316
Sure

On Fri, 17 Jan 2020, 11:00 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-17 17:41] SidharthBansal commented on #6808
Forms are editable. So you can add on other tasks too afterwards. :-)

On Fri, 17 Jan 2020, 11:08 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-17 17:42] Uzay-G commented on #6808
Oh sorry I didn't see. Thanks!

On Fri, Jan 17, 2020 at 6:41 PM Sidharth Bansal <notifications@github.com>
wrote:

[2020-01-17 17:51] keshavsethi commented on #7266
Can I try this if it is still open

[2020-01-17 17:57] Uzay-G commented on #6141
Hey @SidharthBansal I am having an issue here. The system tests I am coming up with can all be done with normal functional tests. What should I do?

[2020-01-17 17:58] VladimirMikulic commented on #5316
I am working on comment sanitization by the way.

[2020-01-17 17:58] #7263 closed

[2020-01-17 17:59] jywarren commented on #6092
I believe that is supposed to show questions tagged with the tagname
"featured"? so, to get things to show, you have to tag some questions with
that tag. Does that help?

On Fri, Jan 17, 2020 at 12:15 PM Nitin Bhasneria <notifications@github.com>
wrote:

[2020-01-17 18:01] jywarren commented on #6887
oh goodness, i totally misunderstood, please forgive me @sagarpreet-chadha ! It's a Leaflet bug? I guess I'd prefer to fork Leaflet and fix it and point to our branch, but is it a known issue, that might be fixed by them soon? Or, is there any way for us to override this line in our code, after including Leaflet?

@crisner @nstjean what do you think? I guess we should not hold back the publication

[2020-01-17 18:01] SidharthBansal commented on #5316
Great thanks

On Fri, 17 Jan 2020, 11:28 pm Vladimir Mikulic, <notifications@github.com>
wrote:

[2020-01-17 18:02] SidharthBansal commented on #6141
Functional tests if they are not present. Don't go into system tests until
user interface is needed.

On Fri, 17 Jan 2020, 11:27 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-17 18:04] jywarren opened #7281 "Map popups not working"
@sagarpreet-chadha reported this, we need to collect more information on it.

***

([original post](https://github.com/publiclab/plots2/issues/6887#issuecomment-575665530))

***

My response:

Possibilities:

* Fork and fix Leaflet
* Find issue at Leaflet repo and see how fast their solution is coming
* File solution PR with Leaflet if it's not there already
* Locally override the function in our

[2020-01-17 18:05] jywarren commented on #6926
I think this is resolved!

[2020-01-17 18:05] #6926 closed

[2020-01-17 18:05] jywarren commented on #5316
Could we add confirmation of this function to the list of system tests we want to do? https://github.com/publiclab/plots2/issues/6926#issuecomment-562350065

[2020-01-17 18:34] NitinBhasneria commented on #6092
But on the original website it is showing without the tag... It's now showing only when opened via server.

[2020-01-17 18:34] NitinBhasneria commented on #6092
![Screenshot from 2020-01-18 00-04-10](https://user-images.githubusercontent.com/44112080/72636870-117c9680-3986-11ea-8223-8252a3bc60a1.png)

[2020-01-17 18:41] jywarren commented on #1132
I wanted to bring this up again - i think it's possible that people will get really confused if `[notes:water]` doesn't show notes that are tagged `water` if they ALSO are tagged `question:water`.

But @steviepubliclab asked again about whether `[notes:water]` could exclude notes tagged `question:water` regardless of whether they also have the tag `water` (i.e. my suggestion in my [last comment](h

[2020-01-17 18:51] jywarren commented on #6799
Hi, well, did you see my link to how the front page at https://publiclab.org
works (when you're not logged in)? It uses Froala Design Blocks. Theirs
scales smoothly and super nicely at every size, and our design was based on
it. I would really hope we can just use their standard code instead of
reinventing the wheel, what do you think?

On Fri, Jan 17, 2020 at 12:32 PM Nitin Bhasneria <notificatio

[2020-01-17 19:10] nstjean commented on #6887
Can we create a pull request on Leaflet for the fix so it gets pushed through by them? I'm curious, did the popups used to work and now they don't? Or was this an ongoing issue?

[2020-01-17 19:24] #6601 closed

[2020-01-17 19:26] nstjean commented on #6603
Completed in https://github.com/publiclab/plots2/pull/6659

[2020-01-17 19:26] #6603 closed

[2020-01-17 19:31] nstjean commented on #6775
PR #6780

[2020-01-17 19:32] nstjean commented on #6727
This issue is open!

[2020-01-17 19:33] nstjean commented on #6734
This issue is open!

[2020-01-17 19:35] nstjean commented on #6754
This issue is open!

[2020-01-17 19:38] nstjean commented on #6730
This issue is open!

[2020-01-17 19:39] #6880 closed

[2020-01-17 19:40] #6539 closed

[2020-01-17 19:41] nstjean commented on #6704
This issue is open!

[2020-01-17 19:45] nstjean commented on #6579
Here is a list of first-time-issues that are still open for someone to complete!

- app/views/dashboard/_activity.html.erb #6597 open
- app/views/dashboard/_comment_moderate.html.erb #6598 open
- app/views/layouts/_alerts.html.erb #6727 open
- app/views/layouts/application.html.erb #6734 open
- app/views/notes/_coauthored_notes.html.erb #6754 open
- app/views/notes/_comments.html.erb #6756 open
-

[2020-01-17 19:46] nstjean commented on #6579
@jywarren @SidharthBansal I've updated the list above with which are open, merged, or needing attention.

[2020-01-17 19:47] nstjean commented on #7266
@keshavsethi Let's let @9916103020 have a chance to complete it. I just posted links to some first time issues that are open: https://github.com/publiclab/plots2/issues/6579#issuecomment-575768800

[2020-01-17 19:58] nstjean opened #7283 "Location modal jumps off-screen at small screen sizes"
I noticed on stable.publiclab.org that the new location modal isn't positioned correctly at small screen sizes! I know it was working fine while I was working on it, but I must have changed something or something else got added in CSS to cause some odd behavior.

Medium sized screens are correct:
![FireShot Capture 229 - 🎈 Public Lab_ This is a post testing location - localhost](https://user-image

[2020-01-17 20:07] nstjean commented on #7283
I just checked the merge branch and it looks correct in there. So there must be an interaction with something that has been recently merged.

[2020-01-17 20:08] jywarren commented on #6887
I think we need to collect up some more background on the state before and
the state now, and when it happened, and collect it in the new issue I
made, before making a final decision. Thanks!

On Fri, Jan 17, 2020 at 2:15 PM Natalie St Jean <notifications@github.com>
wrote:

[2020-01-17 20:10] jywarren commented on #6476
Sure, that sounds good! Thank you!

On Fri, Jan 17, 2020 at 11:54 AM priyanka choubey <notifications@github.com>
wrote:

[2020-01-17 20:17] jywarren commented on #5316
I think the ideal is anything which involves complex HTML/JavaScript/Ruby
interaction, so login, commenting, uploading, editor are all great... but
since they are relatively slow tests, let's be rigorous about what really
must be a system test. Thanks!!!!

On Fri, Jan 17, 2020 at 1:01 PM Sidharth Bansal <notifications@github.com>
wrote:

[2020-01-17 20:29] jywarren commented on #6742
So, this is stored in the database in a "Feature" -- https://github.com/publiclab/plots2/blob/master/doc/DATA_MODEL.md#Features explains a bit more.

That means, the best may be to "view source" in a browser, and post the change here, and I or another admin can copy it into the database. Unfortunately this means there will not be a code commit in the repository! If you'd prefer to take another iss

[2020-01-17 20:41] Uzay-G commented on #5316
I am working on the login but want to make sure my tests are useful. Do you have any ideas on some very useful options for testing?

[2020-01-17 21:08] Uzay-G commented on #5316
I can't think of any more useful tests to make... @jywarren do you have any ideas on some that would be useful. I don't want to make useless tests especially since they slow down Travis considerably.

[2020-01-17 21:47] jywarren commented on #5316
Well, we had a "rich wiki editing" system, but it is itself quite buggy. I do think that possibly some system tests could help with it, though.

You get to it by clicking this button:

![image](https://user-images.githubusercontent.com/24359/72648406-f93a5680-3948-11ea-8b23-a5d0a3c9a982.png)

[2020-01-17 21:47] jywarren commented on #5316
https://github.com/publiclab/plots2/search?q=rich+wiki&type=Issues - but maybe this isn't really about system tests but about a long-broken system we want to fix!

[2020-01-17 21:48] #7283 closed

[2020-01-17 22:39] Uzay-G commented on #5316
Nice! I am going to work on this :+1:

[2020-01-17 22:44] VladimirMikulic commented on #7238
This has been fixed, as well as scroll to the top, image modal errors...
@jywarren needs to publish a new version so we have that changes on pl.org/post.

Please close this issue.

[2020-01-17 23:11] #7269 closed

[2020-01-18 03:23] jywarren commented on #7238
@VladimirMikulic can you link to the relevant issues so there's a history here? then we can close it! Thanks!

[2020-01-18 04:47] sagarpreet-chadha commented on #3090
Hey as this PR is old, make sure you are using latest version of LBL. Thanks!

[2020-01-18 06:12] SidharthBansal commented on #6579
Oh great!Pinging @cesswairimu

[2020-01-18 06:14] SidharthBansal commented on #5316
Awesome thanks for rich wiki test suggestions Jeff

On Sat, Jan 18, 2020 at 4:09 AM Uzay-G <notifications@github.com> wrote:

[2020-01-18 06:36] priyanka-choubey commented on #6742
[code]
	This will give you a tooltip above the icons.
![Screenshot from 2020-01-18 11-57-22](https://user-images.githubusercontent.com/33806116/72659770-f98b2e00-39ea-11ea-91d5-65c7a1498715.png)

[2020-01-18 10:23] Uzay-G commented on #7218
Hey @SidharthBansal did we add the points for this pr in another task?
I thought i had solved it on the dashboard but it is nowhere to be found.

[2020-01-18 10:47] #6971 closed

[2020-01-18 10:53] SidharthBansal commented on #7218
I think we can add this in System Test 2 task.

[2020-01-18 10:54] Uzay-G commented on #7218
Oh! Good idea :+1:

[2020-01-18 11:07] imajit opened #7289 "Very few suggestions show up for subscription"
On this page [link](https://publiclab.org/subscriptions) when I try to add new tags to subscribe to then very few suggestions show up in the drop down like balloon mapping, spectrometer and thermal flashlight .
![Screenshot from 2020-01-18 16-27-00](https://user-images.githubusercontent.com/38528640/72662657-a5df0b80-3a0f-11ea-9d8f-9c7a68c4f885.png)
In this field
![bug](https://user-images.githubu

[2020-01-18 11:18] sssash18 commented on #5316
@SidharthBansal @Uzay-G I dont think system tests for reset password in login flow exists, do you think they should be added?

[2020-01-18 11:20] Uzay-G commented on #5316
I thought about it but I am not sure it is possible because to reset the password an email is sent to the user. I am not sure how we could replicate that in a system test

[2020-01-18 11:39] #7234 closed

[2020-01-18 13:20] Uzay-G commented on #6141
Most of the complex issues with login/signup have already been addresseSd recently with functional tests. I have been searching for any useful additions but am stumped. Are there any issues in particular you have in mind that have not been treated?

Thanks for your help :+1:. I have been investigating areas that could be improved on but plots2's testing is very careful and precise.

[2020-01-18 14:19] SidharthBansal commented on #6141
Let's move to #5198 then

[2020-01-18 14:19] #6141 closed

[2020-01-18 14:44] Uzay-G commented on #5198
I tried. I am having this problem also when I do the following steps:
- Sign up
- Reset password
- Login **with username**

Logging in with email=> password works.
I will try to fix this

[2020-01-18 14:52] Uzay-G commented on #5198
Alright I found the problem.
It's in the website login part of the `user_sessions` controller:
https://github.com/publiclab/plots2/blob/d8c644a5304211ad461374d2bba4c90b25f86100/app/controllers/user_sessions_controller.rb#L120-L127

As you can see, the error message that says the check to see if the user has a password only goes through if the `user` exists. The `user` is found by matching the `use

[2020-01-18 14:58] SidharthBansal commented on #5198
Great finding.

On Sat, 18 Jan 2020, 8:22 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-18 15:01] Uzay-G commented on #5198
Thanks! Do you know where the `password_checker` function is defined? I have grepped the codebase but can't find it. It would be useful to debug

[2020-01-18 15:08] SidharthBansal commented on #5198
It is not a function. It is just a variable I guess
1 for fb. 2 for Twitter and so on.
I don't remember the order.

On Sat, 18 Jan 2020, 8:31 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-18 15:08] SidharthBansal commented on #5198
Check the hash related to it

On Sat, 18 Jan 2020, 8:37 pm Sidharth Bansal, <bansal.sidharthcode@gmail.com>
wrote:

[2020-01-18 15:10] Uzay-G commented on #5198
Yeah I will. I think we don't change the variable when the password is set and that is the problem

[2020-01-18 15:11] Uzay-G commented on #5198
Oh I found it! I love solving bugs :smile:

[2020-01-18 15:27] VladimirMikulic commented on #7238
The issue: https://github.com/publiclab/PublicLab.Editor/issues/341

The PR for it: https://github.com/publiclab/PublicLab.Editor/pull/383

[2020-01-18 15:28] SidharthBansal commented on #5198
Oh great

On Sat, 18 Jan 2020, 8:41 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-18 15:29] Uzay-G commented on #5198
I am opening a pr :+1:

[2020-01-18 15:31] SidharthBansal commented on #5198
Sure.

On Sat, 18 Jan 2020, 8:59 pm Uzay-G, <notifications@github.com> wrote:

[2020-01-18 15:33] SidharthBansal commented on #7238
Feel free to reopen it if needed

[2020-01-18 15:33] #7238 closed

[2020-01-18 17:03] 9916103020 commented on #7230
Thanks @crisner

[2020-01-18 17:08] 9916103020 commented on #7266
@nstjean Could you please tell what pre-requisites for standard installation on my PC.

[2020-01-18 17:11] 9916103020 commented on #7266
@nstjean is it important to have knowledge of the ruby on rails.

[2020-01-18 17:53] jywarren commented on #5316
Hmm. If you look at the mailer tests we do have the ability to check the outgoing mail queue...

[2020-01-18 17:54] Uzay-G commented on #5316
Is it possible to look at the contents of the emails?

On Sat, Jan 18, 2020, 18:53 Jeffrey Warren <notifications@github.com> wrote:

[2020-01-18 19:25] keshavsethi commented on #6734
@nstjean Please review this

[2020-01-18 19:49] keshavsethi commented on #7127
Someone Please review this

[2020-01-18 20:13] Uzay-G opened #7296 "Wrong message when signing in without password as oauth user"
If a new user signs up through oauth and then later tries to login through the site without having set their password, they can either use their username or email to identify themselves.

If they use their username, a warning flashes telling them that they have not yet set their password. This is the expected behavior. But if they use their email to log in, instead of the same warning message bein

[2020-01-18 21:28] keshavsethi opened #7297 "People who are following column is not aligned properly"
"People who are following" column is coming at  bottom of page and not aligned with the table properly
link [https://publiclab.org/contributors/air-quality]()
![Screenshot from 2020-01-19 02-51-26](https://user-images.githubusercontent.com/36025262/72670744-3f85d780-3a67-11ea-92f6-ea679361e8fc.png)

[2020-01-18 23:11] keshavsethi opened #7298 "Fixed table headers"
I feel that tables will be much more interactive if table headers are kind of fixed at the top of table as it sometimes become difficult to see which column defines what
![Screenshot from 2020-01-19 04-34-30](https://user-images.githubusercontent.com/36025262/72671789-9f837a80-3a75-11ea-9e17-07d6a0652d63.png)
here we can't differentiate which 0 is for like and which is for comments
link [https://p

[2020-01-19 00:46] jywarren commented on #5316
Yes! Take a look at this example: https://github.com/publiclab/plots2/blob/master/test/functional/admin_controller_test.rb#L472

[2020-01-19 04:04] sashadev-sky commented on #7006
I checked this out.. the issue with adding a scroll is that the scroll box will look really small and have markdown syntax in it which won't render correctly
![2020-01-18 20 53 37](https://user-images.githubusercontent.com/41092741/72673176-af2e9f00-3a34-11ea-9b2d-442d273fe561.gif)

I wanted to make an FTO out of this but I think its a little complicated so just opening a PR with a quick fix!

[2020-01-19 04:46] sssash18 commented on #5316
@jywarren @Uzay-G  I would like to work upon that test.

[2020-01-19 05:05] crisner commented on #7281
The popups seem to be working on the /map page and the map embedded in the sidebar(like here https://publiclab.org/wiki/unearthing-pvd). It doesn't seem to work on inline maps or the people page. I checked this locally after bumping LEL and it seems to work when using inline maps on a post but I am getting the same error for the map in people page.
[code]

We will need to look into why the popup i

[2020-01-19 06:11] VladimirMikulic commented on #5316
@SidharthBansal @jywarren which other system tests are missing?

[2020-01-19 07:05] SidharthBansal commented on #5316
Sure Suyash. That will be great.

On Sun, Jan 19, 2020 at 11:41 AM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-01-19 07:06] #7145 closed

[2020-01-19 07:06] SidharthBansal commented on #7145
Please check https://github.com/publiclab/plots2/issues/6808

[2020-01-19 07:11] #5829 closed

[2020-01-19 08:19] Tlazypanda commented on #4094
@jywarren Is this checkbox thing still available...would love to take this up but need some context on this first ...can you help me out? Thanks :)

[2020-01-19 09:17] crisner commented on #7281
So, I managed to see the popup in the people page when I commented out lines 128 to130 and L132 without any errors.
https://github.com/publiclab/plots2/blob/b80f193b60827f90b70bef020648d8b2813468fa/app/views/map/_peopleLeaflet.html.erb#L128-L132

![localhost_3000_people](https://user-images.githubusercontent.com/29401459/72677944-7e4b7a00-3ac7-11ea-8e7c-6e04437d87a6.png)

I thought it was working

[2020-01-19 09:18] nightlan1015297 commented on #6852
Hi

[2020-01-19 09:21] cesswairimu commented on #6808
Hello everyone, I just wanted to thank all of you for the amazing work you are doing :rocket: . Also I would like to know if anyone here would like to open the next weekly check-in? I would be glad to guide if needed. Thanks all and keep up the great work  :+1:

[2020-01-19 09:23] SidharthBansal commented on #6852
Hello

On Sun, Jan 19, 2020 at 2:48 PM nightlan1015297 <notifications@github.com>
wrote:

[2020-01-19 10:30] daemon1024 commented on #6808
I would like to open the next weekly check-in @cesswairimu . I am not a GCI Student but I am new to Public Labs and would like to participate in the organisation more actively.
Thank You :)

[2020-01-19 10:41] cesswairimu commented on #6808
sure @daemon1024,  please do so in the evening today or early tomorrow morning you can choose any of the many repos to open at. Thanks

[2020-01-19 10:48] daemon1024 commented on #6808
Thanks @cesswairimu !

Please do so :)

[2020-01-19 11:38] daemon1024 commented on #6808
@cesswairimu I have opened the check in, https://github.com/publiclab/image-sequencer/issues/1540 here, Kindly review it.

Also sorry for the spam there-in it was due to some mishandling at my end.

[2020-01-19 20:53] Uzay-G opened #7303 "Travis sometimes fails due to redirection fixes"
In #7113, oauth redirection was fixed and now the user is redirected to the page he was on before logging in. But the user is for some reason redirected to the previous page plus a parameter with the current time:
https://github.com/publiclab/plots2/blob/b80f193b60827f90b70bef020648d8b2813468fa/app/controllers/user_sessions_controller.rb#L21-L22

So, at the time I did not question this and left it

[2020-01-20 00:11] VladimirMikulic opened #7305 "Clicking "Don't allow" on auto-locate popup spawns multiple spinners"
[Demo](https://streamable.com/c4l38)

In the video that you just saw, I click on "Don't allow" modal which is started by auto-locate button.
However, the spinner is displayed and if I try to click the button again modal is not shown and more spinners are spawning!

I'll try to fix this behaviour.

[2020-01-20 03:45] SidharthBansal commented on #5652
@VladimirMikulic you can help @Uzay-G here too. I know it is rails stuff and may be complicated for you to handle. But I think we can do it together 😊

[2020-01-20 03:51] VladimirMikulic commented on #5652
Thank you for inviting me to the party. I'll be glad to assist you :)

[2020-01-20 03:57] SidharthBansal commented on #5652
Lol

On Mon, 20 Jan 2020, 9:21 am Vladimir Mikulic, <notifications@github.com>
wrote:

[2020-01-20 04:27] SidharthBansal commented on #6808
It will be great if you all can get your tasks approved asap if not approved yet. Also please fill the grade sheet and mentor evaluation forms before the deadline.

[2020-01-20 04:29] SidharthBansal commented on #6808
You can claim one task for some time at the dashboard in the end phase of GCI. So, it will be great if you choose and keep one task for it. Thanks all

[2020-01-20 08:26] crisner commented on #6887
PR[#353](https://github.com/publiclab/leaflet-environmental-layers/pull/353) for issue[#347](https://github.com/publiclab/leaflet-environmental-layers/issues/347) is ready.

[2020-01-20 09:03] crisner opened #7308 "Fix missing embed icon"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-20 10:00] Tlazypanda commented on #3092
@jywarren I would like to work on this if its still available.Thanks :v:

[2020-01-20 12:29] kostogls commented on #7308
Hello! It's my first encounter with OpenSource, could i claim this issue?

[2020-01-20 12:41] SidharthBansal commented on #7303
@jywarren

[2020-01-20 12:41] SidharthBansal commented on #7303
@cesswairimu what are your views

[2020-01-20 12:52] crisner commented on #7308
Yes, please go ahead! Thanks!

[2020-01-20 14:47] sanjana091001 commented on #6978
Has this issue been fixed or can I work on this?

[2020-01-20 14:55] crisner commented on #6978
This issue has been fixed. Thanks!

[2020-01-20 14:55] #6978 closed

[2020-01-20 15:10] nstjean commented on #7281
That seems so strange that it would work in one map but not the other. Thanks for doing all this research!

[2020-01-20 15:20] NitinBhasneria commented on #6092
@jywarren do you mean that this thing comes in features. If yes where we can view its source code and edit it.

[2020-01-20 15:24] nstjean commented on #6734
Hi @keshavsethi ! It looks like you already completed a pull request, we ask that everyone only does one first-timer issue so that everyone can get a chance. You can look for anything in any repository that says help-wanted, or a bug that you think you can solve. Have you installed plots2 onto your computer yet?

[2020-01-20 15:24] NitinBhasneria commented on #7123
@anthony-zhou Actually after #6888 this issue has been solved but it is not reflected in the main website up to now as it has not been updated.
@jywarren this issue is not valid and hence need to be closed.
Thanks.

[2020-01-20 15:32] NitinBhasneria commented on #7114
@ananya Please check it once more like this issue of not appearing of menu icon has already been solved just once check it on the server.
@jywarren Can you please review this.

[2020-01-20 15:39] nstjean commented on #3090
I'm definitely using the latest version of LBL, the same test errors are showing for PLpeopleLayer.

[2020-01-20 17:52] NitinBhasneria opened #7312 "Line on header at width 768px"
### Please describe the problem (or idea)
1. A line is showing on the header of grey colour which is not looking good in terms of UI and need to be fixed.
2. The menu icon is difficult to see so the border width should be more.

The line should not be there.
Icon menu should be clearly seen.
### Please show us where to look

https://publiclab.org/
On the header at width of the device = 768px.

###

[2020-01-20 17:55] NitinBhasneria commented on #7312
@jywarren  @SidharthBansal  please review this issue

[2020-01-20 19:37] NitinBhasneria commented on #6092
@jywarren Thanks for the help and here I got the solution

[2020-01-20 20:08] cesswairimu commented on #7303
Wow..this is great investigation, makes sense because the redirection time is different to the time we do the assertion. Do we need the timestamp on the assertion?
Could just doing `assert_redirected_to "/notes/liked` still work? because all we need is the redirected url right? or am I missing something?

[2020-01-20 20:18] Uzay-G commented on #7303
Thanks! No unfortunately that doesn't work. It needs to be exactly the redirected url with parameters. Maybe I could use regex to match the expression?

[2020-01-20 20:26] cesswairimu commented on #7303
ooh I see..maybe we could try another assertion..
something like `assert_equal request.path, '/notes/liked'` not sure if its request.path or  request.base_url, I need to check that up..not certain it will work though

[2020-01-20 21:24] Uzay-G commented on #7303
I tried that wasn't working perfectly. This does though:
`assert @response.redirect_url.include? "/notes/liked"`

I will open a pr :+1:

[2020-01-20 21:36] Uzay-G commented on #5652
When you helped me setup the oauth system locally, I saw that 1 and 6 were not a problem. When I logged in or signed up through MK or SWB the redirection was working correctly. What is the problem with no 3?

[2020-01-20 22:16] Uzay-G commented on #5198
We can close this. It was solved in #7291

[2020-01-20 22:19] Uzay-G commented on #2819
I would love to help with this issue :+1:!

[2020-01-20 22:30] SidharthBansal commented on #2819
This issue is under discussion. Please don't work on it unless notified
Thanks

On Tue, 21 Jan 2020, 3:49 am Uzay-G, <notifications@github.com> wrote:

[2020-01-20 22:31] Uzay-G commented on #2819
Yeah no problem. Seems like an interesting feature!

On Mon, Jan 20, 2020, 23:30 Sidharth Bansal <notifications@github.com>
wrote:

[2020-01-20 22:59] SidharthBansal commented on #5652
I think 3 is solved. Let's focus on the rest then

On Tue, 21 Jan 2020, 3:06 am Uzay-G, <notifications@github.com> wrote:

[2020-01-20 23:00] SidharthBansal commented on #7303
Great

On Tue, 21 Jan 2020, 2:54 am Uzay-G, <notifications@github.com> wrote:

[2020-01-20 23:04] #5198 closed

[2020-01-20 23:04] #7226 closed

[2020-01-20 23:05] SidharthBansal commented on #7226
Fixed in #7291

[2020-01-20 23:06] SidharthBansal commented on #7312
Great catch. Are you willing to fix this?

[2020-01-21 04:04] keshavsethi commented on #6734
Can you suggest me some bugs or features  which are open??
Yes I have installed plots2.

[2020-01-21 04:09] keshavsethi commented on #7298
@SidharthBansal @jywarren should I try this??

[2020-01-21 04:11] NitinBhasneria commented on #7312
Yea, I'll fix this by today.

[2020-01-21 06:46] #7303 closed

[2020-01-21 08:11] cesswairimu opened #7315 "Fix travis failing tests"
Whenever a test fails in Travis that passes after restarting travis report here. We can try and discuss possible fixes and hopefully solve all these issues .

[2020-01-21 08:15] cesswairimu commented on #7303
Thanks @Uzay-G for the fix :raised_hands: ...in the spirit of solving travis failures I have created a tracking issue where we can track all the tests that fail on travis but pass on some instances/locally, here https://github.com/publiclab/plots2/issues/7315 and hopefully w can get all of them sorted out. Thanks @Uzay-G and @SidharthBansal

[2020-01-21 09:25] n-git-gif commented on #7167
i would like to contribute

[2020-01-21 14:18] nstjean commented on #6734
You can see all the posted bugs here: https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3Abug
I think you could try to fix the one you posted: https://github.com/publiclab/plots2/issues/7297

[2020-01-21 14:30] nstjean commented on #6887
I'm so excited that yesterday I had success with the Jasmine tests! That was a long few days of repeated trial and failure.
https://github.com/publiclab/leaflet-blurred-location/pull/235 is LBL's fix
https://github.com/publiclab/leaflet-blurred-location-display/pull/93 is LBLD's fix
And today I'm going to look at LEL and the People layer test failures. I'm betting it's related.

[2020-01-21 15:46] crisner commented on #6887
Not yet ready but would like some feedback on PR[#356](https://github.com/publiclab/leaflet-environmental-layers/pull/356) for issue[#123](https://github.com/publiclab/leaflet-environmental-layers/issues/123). Thanks!

[2020-01-21 16:14] nstjean commented on #6887
I added a fix for LEL https://github.com/publiclab/leaflet-environmental-layers/pull/358

[2020-01-21 16:15] sagarpreet-chadha commented on #6887
Commented/reviewed above PR's :)

[2020-01-21 16:19] nstjean commented on #6887
I also could use feedback here: https://github.com/publiclab/leaflet-blurred-location/issues/233#issuecomment-576752535

[2020-01-21 17:41] #7308 closed

[2020-01-21 17:48] jywarren commented on #5316
Anything else here? Maybe we are good?

[2020-01-21 17:49] jywarren commented on #7308
🎉

[2020-01-21 17:52] jywarren commented on #4094
Hm, i think we resolved this? Can you check in an existing questions grid, say, on a page linked to from https://publiclab.org/methods ? Thank you!

[2020-01-21 17:55] SidharthBansal commented on #5316
I think we can close this

On Tue, 21 Jan 2020, 11:18 pm Jeffrey Warren, <notifications@github.com>
wrote:

[2020-01-21 18:02] jywarren commented on #6742
Hm, there's a slightly odd underline effect shown... and it's not quite aligned with the twitter icon. Is that something we could refine a bit more before using this? Thank you so much!

![image](https://user-images.githubusercontent.com/24359/72830203-37d45780-3c4e-11ea-9b01-68e953454a49.png)

[2020-01-21 18:09] #5193 closed

[2020-01-21 18:14] #6092 closed

[2020-01-21 18:15] jywarren commented on #7298
Sure, i agree with this! Thank you!

[2020-01-21 18:22] jywarren commented on #3092
Hi, actually i believe this is completed - thank you though!

[2020-01-21 18:22] #3092 closed

[2020-01-21 18:33] steviepubliclab commented on #6990
Hi great! I just tried to reply by email to test this out. I was replying to a comment on a research note and it didn't go thorough. Perhaps this is a different issue. This is what it looked like on my email:

<img width="988" alt="Screen Shot 2020-01-21 at 1 32 40 PM" src="https://user-images.githubusercontent.com/7490478/72832273-8c79d180-3c52-11ea-90c7-475be5c467e1.png">

It didn't show up on t

[2020-01-21 18:35] steviepubliclab commented on #6855
Hi, I noticed the number here did change, but they're still a little confusing to me. Can you share what was done here?

[2020-01-21 18:37] jywarren commented on #6092
Awesome!!!

[2020-01-21 18:52] steviepubliclab opened #7320 "Using the Editor's buttons causes issues with parsing Markdown"
Recently when I was posting an activity on Public Lab. I used the activity template here:

<img width="1085" alt="Screen Shot 2020-01-21 at 1 38 15 PM" src="https://user-images.githubusercontent.com/7490478/72832700-64d73900-3c53-11ea-9024-c75095ea802b.png">

This template uses the new editor, and I only used the radio buttons for drafting this piece. However, after I hit publish, I noticed there