[2019-01-05 22:18] gauravano commented on #4311
Hi @jywarren @SidharthBansal @IshaGupta18, I want to make a suggestion regarding the design.
I guess this image present below is finalized design, but I think, it's looking unorganized a bit as image field is not looking that good with 2 input fields.
![image](https://user-images.githubusercontent.com/40794215/50727020-f2c0ae80-113a-11e9-9403-d1f3cd11c7ee.png)

I would suggest this design :
![prof

[2019-01-05 22:31] gauravano commented on #4311
I just noticed that PR #4538 is ready so we can keep the above design as a suggestion for the future optimization. Thanks and nice work @IshaGupta18 !

[2019-01-06 01:07] jywarren commented on #4522
Oh, so it seems to me that we are only seeing the banned error on localhost installs, not on pl.org. I'm changing the title to match. I confirmed also i can log in with GitHub OAuth on pl.org without trouble.

Checking `user.rb` we set `status = 1` in the `create` method, so it should be OK.

Previously status was stored in `DrupalUsers` table but now in `User` - so could the `User` records have b

[2019-01-06 01:10] jywarren commented on #4522
No, for a long time we've been synchronizing status:

https://github.com/publiclab/plots2/blob/d55049cf4953998b85a9a78722379f07fd42bef8/app/models/drupal_user.rb#L84-L88

[2019-01-06 01:11] jywarren commented on #4522
And everything was synchronized here: https://github.com/publiclab/plots2/pull/2157/files

[2019-01-06 01:14] jywarren commented on #3807
Can we check if either of these are still happening? Was the `getaddrinfo: Name or service not known` related to the mailman server not working or something? Or needing to retry connecting?

For the body undefined, were we able to solve that or is it still happening? Thanks!

[2019-01-06 01:59] jywarren opened #4543 "Allow disabling moderator email notifications"
Moderators get a lot of email. We should let them continue to moderate on the site, but disable the emails at https://publiclab.org/settings

In a separate follow-up, we could add a note to to moderators emails linking to that setting. We could offer an alternative method - an RSS feed, or a chat channel to review on, rather than by email.

[2019-01-06 05:11] jywarren commented on #4306
https://publiclab.org/tag/eval is fixed, it seems!

[2019-01-06 05:11] #4306 closed

[2019-01-06 10:19] gauravano commented on #4476
You can copy this issue's body and make changes like - changing theme, adding name of new contributors, adding above comments which I have pointed and any other additions you feel relevant and important.

You can keep the theme for next week - "Think About Your Audience". (Copying Outreachy's theme :smile: )
In this case, an "audience" means the people who are reading your blog posts. They may not

[2019-01-06 10:32] gauravano commented on #3498
Hi @cess, you have been doing awesome work till now. I read the theme for this week's blog post and it was really nice. @cess in all the projects whether it's a GSoC project or RGSoC, we try to break some part of our project for the newcomers or other contributors to solve to encourage collaboration among community and flow of new ideas.

The challenge is that you have to guide them to solve those

[2019-01-06 11:18] gauravano commented on #4476
@CoderJolly open the check-in and I would update it, if required. Thanks!

[2019-01-06 13:15] gauravano commented on #3331
Moderated comment visibility at comment node before moderating:
* Comment author: Visible for question, not for note
* Moderator: Visible for question, not for note
* Any user: Visible for question, not for note
* Without session: Visible for question, not for note

[2019-01-06 14:22] gauravano opened #4547 "Correct the typo in Dangerfile"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-06 15:48] #4383 closed

[2019-01-06 15:54] SidharthBansal commented on #4323
![image](https://user-images.githubusercontent.com/20972099/50738405-7c36b600-11f9-11e9-9a00-719a91adf9e8.png)
Checking this one right now.

[2019-01-06 15:57] SidharthBansal commented on #4323
https://github.com/publiclab/plots2/blob/44f2b3a7a3fed32ea89a8cdfc2f003028d09ce1a/app/views/users/_create_form.html.erb#L63-L65
These lines suggest that the reCatcha is not rendered although it should on the unstable.

[2019-01-06 15:58] harryday123 commented on #4547
I'll give this a go

[2019-01-06 15:59] SidharthBansal commented on #4323
@jywarren reCatcha is not displayed on my laptop. I checked on both mozilla and chrome on both normal and incognito mode. Still there is problem with reCatcha.

[2019-01-06 16:46] IshaGupta18 commented on #4311
Absolutely! This is how it looks in mobile view
![image](https://user-images.githubusercontent.com/40794215/50739073-b9527680-1200-11e9-9ba0-a0ea8ab55baf.png)

[2019-01-06 17:25] CoderJolly opened #4548 "Weekly Community Check-In #4 - "Thinking about our Audience (Platform users)""
Hi everyone 👋 !

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. Let's start a Community Check-In from this week onwards, where every community member would share something about their work from the past

[2019-01-06 17:38] SidharthBansal commented on #4548
Great Harman.
Hello everyone,
These people did previous checkins Gaurav, Sidharth, Cess and Harman. Who
will be doing the next checkins please tell. We do this in rotations. New
folks aspiring for GSoC'19 are requested to show their interest in these
checkins. Thanks .

This winter is GIGANTIC. Results for GCI are tomorrow. Most of the students
are curious to know about the result. The competition

[2019-01-06 17:40] SidharthBansal commented on #4311
Great

On Sun, Jan 6, 2019 at 10:16 PM Isha Gupta <notifications@github.com> wrote:

[2019-01-06 17:46] #4476 closed

[2019-01-06 17:46] SidharthBansal commented on #4476
Moved to #4548

[2019-01-06 17:47] SidharthBansal commented on #4476
Thanks @CoderJolly

[2019-01-06 17:50] CoderJolly commented on #4476
I am going to add these things too in a few minutes @SidharthBansal  @gauravano
Thanks for giving the opportunity

[2019-01-06 19:32] gauravano commented on #4547
Hi @ozishan91 go ahead. Thanks!

[2019-01-06 19:54] #3331 closed

[2019-01-06 20:20] gauravano commented on #4547
Closed in #4549

[2019-01-06 20:20] #4547 closed

[2019-01-06 20:24] gauravano opened #4550 "Extend comment moderation system to answer's comments"
Currently, the comment moderation system worked upon in #3331 works only for comments on research notes and questions, but not on wiki comments and comments on answers. So, extend that feature to them.

Thanks!

[2019-01-06 22:32] Dsxv commented on #4548
Hi Everyone ! I am new here . I joined public Labs a few days ago and I've been loving it so far because everyone is so friendly that it feels unreal and the one thing I regret the most is that why haven't I found it earlier , currently I am understanding the codebase of plots2(I have made a few noob PRs ! )  and hoping to learn and contribute to PublicLab.Editor ( because its cool ! ) .

 I am ai

[2019-01-07 00:43] milaaraujo opened #4551 "Prototype ways to subscribe to new node posts based on proximity"
### Proximity subscriptions

In theory we could poll "nearby content" via the API periodically and issue notifications. That could be easier. But we need some way to record that you are following a place. Hope that makes sense!
-@jywarren

The most basic idea is that:

1. someone -- person 1 -- could "watch" a location by subscribing to it;
we'll call it "location A"
2. if any content is posted ne

[2019-01-07 00:59] milaaraujo commented on #4551
Hey @jywarren! Now that we are almost done with #4183, I opened this new issue to discuss the proximity subscriptions.

In my contract, we have "prototype ways to subscribe to new node posts based on proximity" but it's not very clear for me what you expect me to do. I

'm not aware of how the subscription code works now, so would it be possible for you to first show me where that code is? It woul

[2019-01-07 01:02] milaaraujo opened #4552 "nearby Content endpoint (Search API)"
Development of API endpoint for in-dashboard map showing nearby work, for use by geo UI team:
- https://publiclab.org/api/srch/nearbyContent?query=18,-66

[2019-01-07 01:59] milaaraujo opened #4553 "Refactor `tagNearbyNodes()` API method"
Refactor [`tagNearbyNodes()`](https://github.com/publiclab/plots2/blob/master/app/services/search_service.rb#L84-L121) API method that uses lat/lon node tags to use lat/lon node fields (see #4183).

[2019-01-07 06:03] trompj commented on #4542
Hi @gauravano, I am going to try and work on this! It is my first open-source work so may have to bear with me a minute, but I will give it a shot. :)

[2019-01-07 06:10] trompj commented on #4542
Hi @gauravano, I am going to try and work on this for a bit and see if I can get it. It's my first project outside of basic coursework so bear with me!

[2019-01-07 08:17] SidharthBansal commented on #4548
You can start your journey by doing some ftos.

On Mon, Jan 7, 2019, 4:02 AM Pawan Shukla <notifications@github.com wrote:

[2019-01-07 11:09] tvibhu12 commented on #4440
hey @plotsbot  please review my pull request
#4530

[2019-01-07 13:16] SidharthBansal commented on #4323
![image](https://user-images.githubusercontent.com/20972099/50770215-85cd2600-12ac-11e9-96fa-aa7e6718320e.png)
This says that the unstable keys are not set. @jywarren can you please check these.
thanks

[2019-01-07 13:22] #4152 closed

[2019-01-07 13:34] SidharthBansal commented on #4250
@kunalvaswani123 you can work on this one as @kevinzluo and @oorjitchowdhary are busy with some other PRs.
@kunalvaswani123 if you want I can assign more issues to you. Thanks for help.

[2019-01-07 13:35] #4416 closed

[2019-01-07 13:37] SidharthBansal commented on #4433
@arungoel123456 please go ahead. @oorjitchowdhary is on holidays till 9th January so he was not able to respond. I am really sorry to wait you so long.

[2019-01-07 13:38] #4433 closed

[2019-01-07 13:39] SidharthBansal commented on #4433
@arungoel123456 this issue is solved you can try  #4364 if you want.

[2019-01-07 13:43] #4529 closed

[2019-01-07 13:46] kunalvaswani123 commented on #4250
sure I'll do it after I complete tests for https://github.com/publiclab/plots2/pull/4386 ...
Yeah I am ok with more issues .. Thanks

[2019-01-07 13:47] SidharthBansal commented on #4456
@Dsxv will be willing to work on this issue as your next issue?
You were asking for some help. In case you need more help feel free to ping me, @jywarren or gaurav.
Thanks

[2019-01-07 13:48] SidharthBansal commented on #4320
@Dsxv will be willing to work on this issue as your next issue?
You were asking for some help. In case you need more help feel free to ping me, @jywarren or gaurav.

Also there is some similarity between #4320 and #4456. So it will be great if you can manage to do a combine pr.

Thanks

[2019-01-07 13:53] SidharthBansal commented on #4367
@kunalvaswani123 you can work on atmost 3 issues at a time. Obviously there are lot of conflicts. We will resolve it before the merges. Don't get afraid of the conflicts. We are here to help you with the conflicts.

[2019-01-07 13:54] Dsxv commented on #4456
Yes I'd love to work on this ! Thanks for asking :D

[2019-01-07 13:55] Dsxv commented on #4320
Yes sure  @SidharthBansal  ! Thanks for Helping !

[2019-01-07 13:55] SidharthBansal commented on #4250
You can claim 3 issues at a time. So, feel free to take this one also. It is related to the work you are doing at Public Labs. You can check out the current Kevin's PR for help. He has done a lot of work for the sign up.

[2019-01-07 14:11] SidharthBansal commented on #4109
Google scans each mail. If it contains many links/images etc. then it is classified under Promotional email.
For complete note https://www.infusionsoft.com/business-success-blog/marketing/email-marketing/how-to-keep-your-emails-out-of-the-gmail-promotions-tab#

[2019-01-07 14:13] SidharthBansal commented on #4509
@oorjitchowdhary are you willing to write this piece of documentation. This will be your first part to write the documentation. Documentation helps in using the function in future.

[2019-01-07 14:13] SidharthBansal commented on #4509
This is really close to the work which you did in last couple of weeks.

[2019-01-07 14:17] SidharthBansal commented on #4525
We are glad that you are able to sign up/log into your account. I am really very sorry to hear that login/sign up was not working at your end for some time. We are really working hard to resolve the issue in https://github.com/publiclab/plots2/issues/4522.
Closing this issue as Elliot logged in successfully through Opera.

[2019-01-07 14:17] #4525 closed

[2019-01-07 14:20] SidharthBansal commented on #4471
Thanks Kevin for reporting the issue.

[2019-01-07 14:23] SidharthBansal commented on #4132
I hope we have created issues for all the buttons/links where ever we require the login modal. In case we will require any more button to be linked we can simply open up a `first timer only` labelled issue @jywarren so wrapping up here and closing this IMMENSE issue. Thanks to all the folks who helped PL for the login/sign up front end migration for better UI.

[2019-01-07 14:23] #4132 closed

[2019-01-07 14:30] SidharthBansal commented on #4159
@IshaGupta18 I think this is solved in #4413 by your PR. If I am correct please feel free to close this issue.
Thanks

[2019-01-07 14:33] kunalvaswani123 commented on #4250
Sorry @SidharthBansal I didn't know about it .. I'll start working on this issue..

[2019-01-07 14:33] kunalvaswani123 commented on #4367
Sorry @SidharthBansal I didn't know about it .. I'll start working on this issue..

[2019-01-07 14:38] #4159 closed

[2019-01-07 14:51] oorjitchowdhary commented on #4509
Hi @SidharthBansal .. Yes I'll do this one..
Where should I add the documentation and how long should it be... 2-3 lines or more?

[2019-01-07 14:58] oorjitchowdhary commented on #4169
Hi all, I just took a look at this one.. I don't think we need to add the login modal here as when we click the `ask a question` button, we're redirected to /questions and we do not require a login
So should I close this?

[2019-01-07 15:02] cesswairimu commented on #3498
@gauravano thanks so much, I love the idea I try and break down some issues how I can break down some issues and I guess other fixes like the one @ebarry was talking about above could make for good first-timer issues. Thanks again.

[2019-01-07 15:32] oorjitchowdhary commented on #4522
I too am getting this error.. Unable to login

[2019-01-07 15:36] jywarren commented on #4522
Should we push a migration where on development it resets user status for
seed users? Lots are being affected by this :-(

On Mon, Jan 7, 2019 at 10:32 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2019-01-07 15:40] jywarren commented on #4132
this is the most epic issue! :-) thank you all SO MUCH

On Mon, Jan 7, 2019 at 9:24 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-01-07 15:41] SidharthBansal commented on #4509
2-3 lines. We need to search where it would be the best. We have to add it
where this function is implemented for sure. In addition to it ay be we can
add to the readme or anything else. I don't think readme will be
appropriate place. Any suggestions?

On Mon, Jan 7, 2019 at 8:21 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2019-01-07 15:43] oorjitchowdhary commented on #4191
On the questions grid on PL.org, the login modal is showing up...
but on the store, it is still redirected to login page

[2019-01-07 16:05] SidharthBansal commented on #4191
So let's complete this.

On Mon, Jan 7, 2019 at 9:13 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2019-01-07 16:33] oorjitchowdhary commented on #4509
Yes, I don't think we should put it in the README.. I think it'll be best to create a new file for `Login` and `Signup` functionalities just like there is `EMAIL.md` in /doc

This doc could focus on the login and signup modals we created.. and the use of login and signup pages even after the modals.. and also the requireLogin class

[2019-01-07 16:36] milaaraujo commented on #4552
Hey @jywarren and @sagarpreet-chadha, what would be the difference between this endpoint and the endpoint we already have (nearby nodes)?

[2019-01-07 16:37] CoderJolly commented on #4548
Well, I haven't done this before bt would be willing to help if possible

[2019-01-07 16:59] #4381 closed

[2019-01-07 17:00] #4382 closed

[2019-01-07 17:03] jywarren commented on #1934
Solved in #4382

[2019-01-07 17:03] #1934 closed

[2019-01-07 17:08] SidharthBansal commented on #4548
Congrats https://codein.withgoogle.com/winners/#winners.

On Mon, Jan 7, 2019, 10:07 PM Harman Jolly <notifications@github.com wrote:

[2019-01-07 17:10] jywarren commented on #4552
Hmm, unless I'm mistaken, i think it's the same thing?

[2019-01-07 17:12] jywarren commented on #4548
Hooray!!!! 🎉🎉🎉🎉

Thank you everyone for participating in GCI!

[2019-01-07 17:14] gauravano commented on #4548
Congratulations to all the Google Code-In winners and finalists :tada: :sparkles: :heart:

![gci_result](https://user-images.githubusercontent.com/20878070/50781800-4b738100-12cc-11e9-8810-c3d48aa3174a.png)

[2019-01-07 17:23] gauravano commented on #4548
@kevinzluo @oorjitchowdhary @ValentinaTironi @JonathanXu1 @okonek @tsparksh @dinaelhanan  @CodeSarthak @mohitRJranjan

[2019-01-07 17:23] geekychaser commented on #4548
Congratulations to all 😍

On Mon, Jan 7, 2019, 10:44 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-07 17:31] jywarren commented on #4552
I believe `nearbyNodes` was not complete at the time and so we added it in to be sure it got completed. It looks like it's done now; would you be willing to try to install a map on the dashboard to display from it? Or if not, perhaps we can create an issue for this which someone else can take up. Thank you!

[2019-01-07 17:32] #4317 closed

[2019-01-07 17:37] sagarpreet-chadha commented on #4548
Wow !!! Thank you for evryone for participating in Google Code In :heart_decoration: !

[2019-01-07 17:42] shubhscoder commented on #4548
Congratulations everyone! Keep up the good work ! Also make sure that you all guide your juniors into this, create awareness among them regarding open source contributions, regarding google code in,etc. Thank you!

[2019-01-07 17:51] oorjitchowdhary commented on #4548
Hi everyone... Finally the `much-awaited` results are out! Congratulations to @kevinzluo and the Finalists of course @JonathanXu1 @okonek @ValentinaTironi Great work all! 🎉 😄

7 weeks of code, excitement, and surprises.. It was an amazing journey!
This is my first GCI and I'm really really happy for all!

A **big big** THANK YOU to all the mentors @SidharthBansal @jywarren @gauravano @sagarpreet-c

[2019-01-07 17:57] jywarren commented on #4548
❤️❤️❤️ I just posted a big THANK YOU here: https://publiclab.org/notes/warren/01-07-2019/congrats-to-google-code-in-2018-participants

[2019-01-07 18:41] sagarpreet-chadha commented on #3198
Solved in #4544 😄 !

[2019-01-07 18:41] #3198 closed

[2019-01-07 18:45] sagarpreet-chadha commented on #3477
This error is removed . The full screen mode is available at /people , /profile and /maps 😄 !

[2019-01-07 18:45] #3477 closed

[2019-01-07 18:46] sagarpreet-chadha commented on #3477
Solved in #4544 !

[2019-01-07 19:42] gauravano commented on #4550
Awesome! @dldisha I would break the issue soon(expect 1-2 days) so that it can be solved in parts. Also, till then, you can attempt some FTO or fto-candidate issues to get yourself familiar with the codebase.

Thanks!

[2019-01-07 19:48] dldisha commented on #4550
Okay, not a problem
Thanks :)

[2019-01-07 19:52] milaaraujo commented on #4552
Great!

For now I will open the issue, if I have time I can work on it later, meanwhile we can find someone interested in doing it! :)

[2019-01-07 19:54] milaaraujo opened #4557 "Installing a map on the dashboard to display nearby nodes"
Install a map on the dashboard to display nearby nodes from it: taglocation endpoint (/api/srch/taglocations.

[2019-01-07 19:55] milaaraujo commented on #4552
Done! #4557

[2019-01-07 19:56] #4552 closed

[2019-01-07 19:59] milaaraujo opened #4558 "Nearby nodes and people"
Nearby nodes: `/api/srch/taglocations` (`tagNearbyNodes()` method)
Nearby people: `/api/srch/nearbyPeople` (`tagNearbyPeople()` method)

Tasks:
* [x] (#4597) Add "order" parameter to `taglocations`: sort the nodes by date of creation, updates and oldest. / Add more options to "order"  parameter to `nearbyPeople`: Most nodes posted and signup date.
* [ ] (#4604) Add "period" parameter to `taglocati

[2019-01-07 20:01] milaaraujo opened #4559 "Debug “last active” column on /people"
@jywarren, what is wrong with this column?

[2019-01-07 20:05] milaaraujo opened #4560 "Consider how to show clusters of people “active over past 6 months”"
Hey @jywarren, could you make it clearer what you're thinking about this?

[2019-01-07 20:06] milaaraujo opened #4561 "API Otimization"
Optimize loading of API calls via database optimization and cache strategies, and implement “debounce” or other timing-based improvements to auto-completion and search result calls from JavaScript

[2019-01-07 20:08] jywarren commented on #4552
👍🏽

On Mon, Jan 7, 2019, 2:57 PM Camila Araújo <notifications@github.com wrote:

[2019-01-07 20:09] jywarren commented on #4550
Hi, Gaurav! Please note the update to merge answers and comments in Vidit's
project... just to be aware that there may be some upcoming changes
relevant here!

On Mon, Jan 7, 2019, 2:48 PM Disha Lamba <notifications@github.com wrote:

[2019-01-07 20:12] jywarren commented on #4559
I believe the ordering was by something odd, causing long inactive people
to be listed recently. Maybe it's a conflict between revision timestamps
and node timestamps?

On Mon, Jan 7, 2019, 3:01 PM Camila Araújo <notifications@github.com wrote:

[2019-01-07 20:41] gauravano commented on #4548
To **ALL Google Code-In Participants**. I want to congratulate all of you :tada: , because, just by participating and dedicating your time in GCI, you have contributed to Open Source World :globe_with_meridians: . Some of you might have raised your first PR, some might have contributed first-time for an organization, and what not, but I guess, everyone learnt something new.

The Open Source world

[2019-01-07 20:45] gauravano commented on #4550
Actually, that's what I am thinking Jeff. I would take the status update regarding Merge answer and comment project from Vidit and then decide accordingly when to start with this one.

Thanks!

[2019-01-07 20:53] #3666 closed

[2019-01-07 21:09] #3698 closed

[2019-01-07 21:11] #4026 closed

[2019-01-07 21:52] bronwen9 opened #4562 "Email auto-responses posting as comments on research notes."
A recent post, https://publiclab.org/notes/edie_blues/01-07-2019/the-new-questions-page-design-is-ready-to-be-reviewed had a comment (now deleted) that was clearly someone's out-of-office / vacation auto response.

I'm uncomfortable broadcasting contents of people's email without their active consent-- is there an additional layer of permission we can add so that responses by email require some ki

[2019-01-07 22:05] gauravano commented on #4562
Hi @bronwen9 thanks for reporting.

We can filter the auto-replied emails and can neglect them instead of converting them to comment. I hope that would solve the problem?

Thanks!

[2019-01-07 22:07] bronwen9 commented on #4562
I think that would be great, thanks!

On Mon, Jan 7, 2019 at 5:05 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-07 22:22] trompj commented on #4542
So I was able to get everything ported to HTML, although from what I can tell we still have to use Javascript for the copy to clipboard functionality, which I am also having issues getting functional after the port over to HTML. Otherwise, everything is working well. I am going to keep looking into the clipboard issue but this is what I have so far.

<button id="accessTokenButton" data-toggle="mod

[2019-01-07 22:31] trompj commented on #4542
So I was able to get everything ported to HTML, although from what I can tell we still have to use Javascript for the copy to clipboard functionality, which I am also having issues getting functional after the port over to HTML. Otherwise, everything is working well. I am going to keep looking into the clipboard issue but this is what I have so far.

`<button id="accessTokenButton" data-toggle="mo

[2019-01-07 22:46] trompj commented on #4542
So I was able to get most everything ported to HTML, although from what I can tell we still have to use Javascript for the copy to clipboard functionality, which I am also having issues getting functional after the port over to HTML. Otherwise, everything is working well. I am going to keep looking into the clipboard issue but this is what I have so far. I am waiting to initiate changes until the

[2019-01-07 22:50] jywarren commented on #4548
Hi, everyone - I just wanted to say, I am humbled by the care and power of our community. Years ago, I started coding in open source projects, and it seemed (not everywhere, but overall) a very lonely place - one where people were not likely to help each other get started -- so I'm so excited to be part of a community (and a movement) to change this, and to set a different tone and culture.

You'v

[2019-01-07 22:52] gauravano commented on #4548
Hi everyone, due to bug in Google Code-In website, @tsparksh's name was skipped at time of result decalaration. But, Google OSS team have updated the site and here's updated result

![img_20190108_035450](https://user-images.githubusercontent.com/20878070/50797730-cb650f80-12fb-11e9-802a-abc8fb0cdec7.jpg)

Congratulations to @tsparksh for being one of the finalist.

Thanks!

[2019-01-07 23:08] #3688 closed

[2019-01-07 23:22] jywarren commented on #4560
I think this may need some input from @ebarry and
possibly @sagarpreet-chadha -- the idea is to brainstorm if there is a way
to highlight which regions of the world are seeing lots of activity. If we
feel the API can efficiently provide data for longer periods of time (and
we understand the limits if lots of people begin to post) perhaps this
could be achieved simply through the /people page but s

[2019-01-07 23:42] jywarren commented on #4311
Yes let's open a new issue for @gauravano's suggestion! This is looking good; but perhaps we should make the image a bit smaller (even half the size?) -- so it doesn't push content down too much, especially in mobile view? Can you also add an underline to "Choose image" ?

Thank you!

[2019-01-07 23:46] jywarren commented on #4548
Hi, all - wanted to follow up with a pragmatic note -- @rexagod has implemented this PR which is really nice: https://github.com/publiclab/PublicLab.Editor/pull/206#issuecomment-451759446

It adds `grunt build` to the Travis file, so that Travis fails if `grunt build` has an error. This can help us to catch errors in the dependencies which `grunt build` uses to build! Many of you have noticed @dep

[2019-01-08 01:41] trompj commented on #4542
@gauravano In order to copy to clipboard via the button, the JavaScript is a necessity in some shape or form. I adjusted the code to allow removal of all other JavaScript in the file though. Would you prefer to try and have the copy function in the profile file and remove the token file completely or just leave the copy function by itself in the token file?

[2019-01-08 01:53] Chrisyee22 commented on #4502
Here's a link to a gif. Does this work?
https://media.giphy.com/media/2dcW4fQOKFn3JMDKcy/source.mp4

[2019-01-08 02:10] SidharthBansal commented on #4509
Let's take input from @jywarren whether we require to create a separate
file for this or not.
One way is to change omniauth to login sequences doc and add the
documentation there.

On Mon, Jan 7, 2019, 10:03 PM Oorjit Chowdhary <notifications@github.com
wrote:

[2019-01-08 02:20] #4169 closed

[2019-01-08 02:20] SidharthBansal commented on #4169
Thanks Oorjit

[2019-01-08 03:35] Chrisyee22 commented on #4504
Hello. Could I work on this issue?

[2019-01-08 04:46] trompj commented on #4542
I went ahead and moved all the scripting to the profile.html.erb file. I can make additional changes as needed! I know there was some css I wanted to look at for mobile devices that needed some updating. I am going to go ahead and make a pull request and commit for now.

[2019-01-08 07:16] kunalvaswani123 commented on #4250
@SidharthBansal just a clarification I need to redirect all the error messages back to login modal .. instead of login page it is directing to ?

[2019-01-08 07:21] SidharthBansal commented on #4250
If user is filling wrong details at the login modal then modal should show
errors. If page then page should show errors.

On Tue, Jan 8, 2019, 12:46 PM Kunal Vaswani <notifications@github.com wrote:

[2019-01-08 07:31] SidharthBansal commented on #4250
Kunal you can check the Kevin's PRS.
That may help you further.
One way is ajax as suggested by Kevin. Other way (easier) to show rails
validation error at top of signup and login modal as we have on respective
pages.

On Tue, Jan 8, 2019, 12:58 PM kevinzluo <notifications@github.com wrote:

[2019-01-08 07:40] SidharthBansal commented on #4456
You have to make a partial for the common code so that the readability can be increased

[2019-01-08 07:41] kunalvaswani123 commented on #4250
@SidharthBansal I'll look into it.. Thanks..
Thanks @kevinzluo for your idea..

[2019-01-08 07:44] #4364 closed

[2019-01-08 07:44] SidharthBansal commented on #4364
#4556 is the PR for this issue

[2019-01-08 08:40] Dsxv commented on #4320
@oorjitchowdhary @kevinzluo @SidharthBansal  can anyone please elaborate the issue ? Like I've to create partials but for which files ?
Thanks !

[2019-01-08 08:46] SidharthBansal commented on #4320
These are duplicate issues I guess.

[2019-01-08 08:47] SidharthBansal commented on #4320
Sorry for the inconvenience held. Apologies. Two people open two issues at the same time without knowing the issue exist in the issue tracker.

[2019-01-08 12:05] shubhscoder opened #4565 "Follow tags without redirecting and reloading"
Currently following or unfollowing tags (https://publiclab.org/tag) redirects to a different link (https://publiclab.org/subscription) which is I assume not necessary, because a user wishing to follow multiple tags might be annoyed to these redirections. So, we can make follow, unfollow of tags asynchronous without any sort of reloading or redirection. That would I guess enrich the user experience

[2019-01-08 12:06] shubhscoder commented on #4565
Should I make a PR for this?

[2019-01-08 12:40] shubhscoder commented on #4562
@gauravano I would like to help on this. My other issues are under review, so I would like to work on this. Thank you !

[2019-01-08 15:29] ebarry opened #4567 "Finalizing the 2019 Public Lab Software Contributors Survey"
Hi all!
I'm setting up the survey for our community here, and updating some categories from the Fall 2017 edition. First question: Are these the best set of current projects to list for people to indicate they are contributing to?

* Plots2 / PublicLab.org
* ImageSequencer
* MapKnitter
* Spectral Workbench
* leaflet-blurred-location
* Leaflet.DistortableImage
* infragram-js
* inline-markdown-edito

[2019-01-08 15:43] ebarry commented on #4567
Are we happy with the below categories? Also, right now it's "check all that apply" -- do we want to ask people to choose one main reason?
<img width="429" alt="screen shot 2019-01-08 at 10 42 28 am" src="https://user-images.githubusercontent.com/161439/50841231-38939780-1332-11e9-8d67-d14df9339cc6.png">

[2019-01-08 16:37] #4271 closed

[2019-01-08 16:43] shubhscoder commented on #4562
Sure @gauravano ! Thank you so much !

[2019-01-08 16:56] Dsxv commented on #4456
Hi! I wanted to ask after reducing the code , which one of the files should I keep ,file :  new.html.erb or
partial : _new.html.erb
thanks!

[2019-01-08 17:01] SidharthBansal commented on #4456
_new.html.erb i guess.
Please see all the places where we are using this file. If we are removing
it then we need to check that all other places correctly work

On Tue, Jan 8, 2019 at 10:26 PM Pawan Shukla <notifications@github.com>
wrote:

[2019-01-08 17:05] gauravano commented on #3262
Hi @jywarren @ebarry , I went through the details of the project and done some research at my end.

I saw that Transifex is being considered right now for integration, but what I that was paid. There are two more methods which I am considering:
**1. Using Copycopter gem**
In this, the web interface would be hosted as a separate application and can be hosted via Heroku too as it only requires one d

[2019-01-08 17:08] jywarren commented on #4509
I like this last suggestion on maybe a LOGIN_SYSTEMS.md file?

On Mon, Jan 7, 2019 at 9:11 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-01-08 17:14] SidharthBansal commented on #4509
OK Oorjit go ahead with Jeff's suggestion.
Thanks Jeff

On Tue, Jan 8, 2019, 10:38 PM Jeffrey Warren <notifications@github.com
wrote:

[2019-01-08 17:19] Dsxv opened #4569 "Problem with Login/Oauth/signup in production"
![dsxv_log](https://user-images.githubusercontent.com/36789080/50847156-e46ece80-1396-11e9-8eed-7fd59aae28ea.gif)
![dsxv_log1](https://user-images.githubusercontent.com/36789080/50847161-e769bf00-1396-11e9-9001-c5cc3ce7766a.gif)
not able to login in anyway  D:
Thanks for help!

[2019-01-08 17:20] shubhscoder opened #4570 "Unit test for sort by follower count in tags model"
Addition of unit test to check that tags get correctly ordered in ascending and descending order by use of function sort by follower count in tags model.

[2019-01-08 17:42] gauravano commented on #4542
Welcome to Public Lab @trompj and happy to see your energy. As you have opened your PR, we can have further discussion there only.

Reviewing your PR now.Thanks!

[2019-01-08 17:43] SidharthBansal commented on #4311
I agree with Jeff.
Moved to #4538.

[2019-01-08 17:46] IshaGupta18 commented on #4311
Okay @jywarren ! Should I reduce the size of the image in this one only? Or should I implement the deisgn by @gauravano and do that there?

[2019-01-08 17:48] jywarren commented on #4311
let's just make the small change in this one, and we'll
address @gauravano's design in a follow-up. Thank you!

On Tue, Jan 8, 2019 at 12:47 PM Isha Gupta <notifications@github.com> wrote:

[2019-01-08 17:50] geekychaser commented on #4522
@jywarren yes sir it will be great if you will push these changes. We are having trouble at our laptops.
Thanks you

[2019-01-08 17:53] IshaGupta18 commented on #4311
Is this better?
![image](https://user-images.githubusercontent.com/40794215/50849243-69a8b200-139c-11e9-8921-d8c6ef872f37.png)

[2019-01-08 18:10] gauravano commented on #4565
Nice idea @shubhscoder! Do you want to implement this one yourself? Thanks!

[2019-01-08 18:59] shubhscoder commented on #4565
Yeah @gauravano I would like to work on this!

[2019-01-08 19:15] gauravano commented on #4504
Hi @Chrisyee22, go ahead! Thanks!

[2019-01-08 20:46] #4570 closed

[2019-01-08 20:50] esylvan opened #4573 "Google+ integration should be removed before April 2019"
Google Plus is scheduled to go away and its closing has been accelerated due to the discover of a bug that  exposed the data of million users. It is scheduled to go away in April 2019.

[2019-01-08 21:04] oorjitchowdhary commented on #4565
We already had a same issue #4402
But I'll close that one then

[2019-01-08 21:04] #4402 closed

[2019-01-08 21:04] oorjitchowdhary commented on #4402
Moved to #4565

[2019-01-08 21:05] jywarren commented on #4311
I still think it's a little close to "Choose a Password" - could you add
10px more margin under it? Thanks!

On Tue, Jan 8, 2019 at 12:54 PM Isha Gupta <notifications@github.com> wrote:

[2019-01-08 21:06] jywarren commented on #4565
Maybe it could say "Subscribed to tag ____. [Click here] to manage
subscriptions." so that people can get to that page if they want, but by
default it stays on the same page?

On Tue, Jan 8, 2019 at 4:04 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2019-01-08 21:08] oorjitchowdhary commented on #4509
So should I make a new file as `LOGIN_SYSTEMS.md` or change `OMNIAUTH.md` to `LOGIN_SYSTEMS.md`??

[2019-01-08 21:08] jywarren commented on #3262
In the second option, what backend would we use? Not flat yml files? How
would people edit them then?

Is it possible to use Transifex or another management system to organize
the crowdsourcing of translations, so we could kind of quickly get people
plugged int translating short strings?

Thanks Gaurav!

On Tue, Jan 8, 2019 at 12:06 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-08 21:12] gauravano commented on #4573
Hi @esylvan, thanks for creating the issue. I also read an article some time back, regarding this. As I remember we don't use Google+ integration on plots2, but let's confirm with @jywarren.

Thanks!

[2019-01-08 21:12] jywarren commented on #4509
Change it, please -- thank you!

On Tue, Jan 8, 2019 at 4:08 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2019-01-08 21:15] esylvan commented on #4573
Thanks @gauravano. You are right. I put this in the wrong area. My issue is related to user profiles. Do you here should I move this concern to?

[2019-01-08 21:43] gauravano commented on #4573
No @esylvan, this is a very right place, as plots2 is one of the most active projects of PublicLab. We have to ask Jeff as he handles all the PublicLab projects.

[2019-01-08 21:49] cesswairimu commented on #4139
![screencapture-app-moqups-cessmbuguar-gmail-com-wzagurbx4h-view-page-a526cc314-2019-01-04-18_29_39](https://user-images.githubusercontent.com/17081074/50860944-5ac7fc80-13a8-11e9-8493-4188ff3efbf8.png)

[2019-01-08 21:51] jywarren commented on #4573
I think @SidharthBansal was looking into the minimal switch from Google+ to Google for the OAuth providers. Just looping him in. Thank you!

[2019-01-08 21:53] jywarren commented on #4139
So as these are merged into the range pages, the periods displayed on the
visualizations would match the ranges, i think. How does that sound? Some
may need to be reworked to be for a generic period!

On Tue, Jan 8, 2019 at 4:49 PM Cess <notifications@github.com> wrote:

[2019-01-08 22:28] cesswairimu opened #4577 "Consolidation existing "range pages" like with the main stats page"
Consolidation/standardization of "range pages" like https://publiclab.org/stats/range/10-05-2015/10-05-2016/ with main stats page at https://publiclab.org/stats?time=September%2026,%202017%2022:43

[2019-01-08 22:32] cesswairimu commented on #4577
Opening another issue because  the previous one diverted to be ui design will copy @jywarren comments about this below.

[2019-01-08 22:34] jywarren commented on #4290
I think perhaps we should focus on proximity-based following in #4551 and leave aside following individual users for the time being. We do have a way to follow nodes -- using `node_selection` and likes. How does that sound?

[2019-01-08 22:41] jywarren commented on #4524
For an example of how we manage to make all images have the same aspect ratio, see this page: https://publiclab.org/research

And the code that drives it here:

https://github.com/publiclab/plots2/blob/03812548111b0831e82052cd559aeea9a380098a/app/views/dashboard/_node_default.html.erb#L6-L10

See how the images are all the same ratio:

![image](https://user-images.githubusercontent.com/24359/50863

[2019-01-08 22:41] jywarren commented on #4524
Thanks @dinaelhanan !!!

[2019-01-08 22:45] jywarren commented on #4548
Hi, all -I also started some code cleanup, and @shubhscoder has gotten excited about test coverage-- awesome! We've been kind of "stuck" at 91% coverage for a LONG time, and there are a few areas which need better testing: https://coveralls.io/github/publiclab/plots2

One is our controllers -- functional tests cover controllers, and we could be testing more of our controller code for sure!

I want

[2019-01-09 00:18] #4446 closed

[2019-01-09 03:21] SidharthBansal commented on #4573
I think we can ignore this now and do in April. Most probably the original
settings will work. Just we will change the API. Right now the previous API
is available so we cannot do it. We need to wait for this issue.

On Wed, Jan 9, 2019, 3:21 AM Jeffrey Warren <notifications@github.com wrote:

[2019-01-09 04:39] mardelvalle commented on #4560
I am going to jump in with a suggestion. If there is a concern about how many people from certain regions if the site becomes larger maybe instead of showing the differential based on the number of individuals it could be shown as percent of currently active users? For example, if there are 2000 active users in the past six months and 200 was from one region it could be indicated with 10%. Maybe o

[2019-01-09 06:13] shubhscoder commented on #4565
Yeah, sounds good @jywarren. We could show a flash message with link to manage subscriptions?

[2019-01-09 07:56] milaaraujo commented on #4551
In general, your idea sounds good. But I do not know much how the subscription system works, so maybe @SidharthBansal can give us a better feedback?

[2019-01-09 08:00] milaaraujo commented on #4551
The idea is that every time someone posts some content next to a person who is registered in that region s/he gets an email notification about it?

[2019-01-09 08:01] icarito commented on #3807
These are all errors logged since December (without full traceback).

[code]
Hope it helps! Let me know if you need details!

[2019-01-09 08:06] SidharthBansal commented on #4290
Someone is working on this in some PR now. Community is increasing so its hard to keep an eye on duplicate issues.
Closing this one.

[2019-01-09 08:06] #4290 closed

[2019-01-09 08:07] SidharthBansal commented on #4290
Jeff you gave permission to follow users in some issue. So, someone has started working in some issues. Can't find it right now. When I will find. I will link issues together.
Thanks

[2019-01-09 08:14] SidharthBansal commented on #4551
@milaaraujo I am currently working on the Subscription prompts across the website so that people can subscribe to the tags at multiple places.
The changes requested in this issue are completely separate from what we are building in my contract.
But for sure I can help you.
Jeff wants PL to be global website. So different people at different locations will have different background/culture/interest

[2019-01-09 08:20] SidharthBansal commented on #4551
@jywarren @milaaraujo  I am having trouble in understanding the functionality. When do we have to ping the users and for what? Do we need to send them emails? I can't understand what kind of emails we need to send. Sorry.
Can you please explain this again?

[2019-01-09 08:21] SidharthBansal commented on #4551
@milaaraujo for the tests we have functional/subscriptions file. You can review the node_tag and user_tag tables in the fixtures folder for reference.

[2019-01-09 08:31] SidharthBansal commented on #4110
@jywarren can we have this in the GSoC.
It is really hard to able to understand all the functionality at Public Lab. This can help newcomers to easily know about each and every section of the website. We can only have the most relevant and important part of the website in the tour.
It is really sad part being member of PL for 2 years that many sections I have explored once or twice like the revisi

[2019-01-09 08:32] SidharthBansal commented on #3285
We have successfully completed Login and Subscription project in the GCI.
Closing this issue.

[2019-01-09 08:32] #3285 closed

[2019-01-09 08:37] SidharthBansal commented on #3276
@jywarren there are many issues which are reported in this issue but are not made into separate issues and are not been worked upon. One way is to close this issue. Other way is to keep this issue open for GCI'19. We can continue things here. What do you suggest?
Creating a new issue from this containing all remaining work will be a BIG trouble to anyone as no one is knowing all the repos at PL an

[2019-01-09 08:38] SidharthBansal commented on #4456
Please check following
Edit profile page
Profile page
Login modal
Signup modal
Login page
Signup modal
Each of above should work perfectly then we are good. I also think you are
missing something.

On Wed, Jan 9, 2019, 1:59 PM Pawan Shukla <notifications@github.com wrote:

[2019-01-09 08:49] Dsxv commented on #4456
I'm going to post a gif while working on the localhost , will that do ?
thanks!

[2019-01-09 08:55] SidharthBansal commented on #4456
No need to check oauth. I know they will work.
Yeah check on the local host. Some thing will break for sure. We use new at
many places I suppose.

On Wed, Jan 9, 2019, 2:19 PM Pawan Shukla <notifications@github.com wrote:

[2019-01-09 08:56] SidharthBansal commented on #4456
Can you please use grep command for it?
Also, please open up a PR so that I can help you in code.

[2019-01-09 09:09] oorjitchowdhary commented on #4524
#4350 is related too

[2019-01-09 09:43] Dsxv commented on #4456
I've searched for new in the app directory and still didn't find anything that breaks , I'm uploading the gif for and the creating PR ! Thanks for reviewing !

gif for sign up :
![user_session](https://user-images.githubusercontent.com/36789080/50890792-e67d6f80-1420-11e9-94c9-32f9b4fd26d6.gif)

gif for login :
![user_session1](https://user-images.githubusercontent.com/36789080/50890826-f5fcb880-1

[2019-01-09 09:49] gauravano commented on #4456
Try routes "/login" and "/signup", I think they use `new.html.erb`. Thanks!

[2019-01-09 09:52] SidharthBansal commented on #4456
What about the edit profile page, login page, signup page?

On Wed, Jan 9, 2019, 3:13 PM Pawan Shukla <notifications@github.com wrote:

[2019-01-09 09:52] Dsxv commented on #4456
@SidharthBansal  its in the gifs

[2019-01-09 09:53] Dsxv commented on #4456
The titles were actually mentioning how I created that user session

[2019-01-09 09:55] SidharthBansal commented on #4456
There needs to be 5 gifs
1. Login modal with back group anything apart from login,signup page and
research page
2. Signup modal with back group anything apart from login,signup page and
research page
3. Login page
4. Signup page
5. Edit profile page.

On Wed, Jan 9, 2019, 3:23 PM Pawan Shukla <notifications@github.com wrote:

[2019-01-09 09:56] SidharthBansal commented on #4456
But you provided 2 gifs. 3 gifs are missing.

On Wed, Jan 9, 2019, 3:25 PM Sidharth Bansal <bansal.sidharth2996@gmail.com
wrote:

[2019-01-09 10:00] Dsxv commented on #4456
Oh sorry , my bad ! I 'll do it now !

[2019-01-09 10:13] Dsxv commented on #4456
3. login page :
![login_user-session](https://user-images.githubusercontent.com/36789080/50892675-162e7680-1425-11e9-8843-ca1ce0364937.gif)

4.sign in page:
![sign_in_usersession](https://user-images.githubusercontent.com/36789080/50892697-221a3880-1425-11e9-98c3-fad78ba153a6.gif)

5.Edit prof:
![edit_prof_user-session](https://user-images.githubusercontent.com/36789080/50892715-27778300-1425-11e9

[2019-01-09 10:15] SidharthBansal commented on #4456
Please link the PR. I will check the code.
Thanks for your work.

On Wed, Jan 9, 2019, 3:43 PM Pawan Shukla <notifications@github.com wrote:

[2019-01-09 10:16] Dsxv commented on #4456
https://github.com/publiclab/plots2/pull/4580
Thanks for reviewing !

[2019-01-09 11:03] CodeSarthak commented on #3276
Hi @SidharthBansal I think, us GCI participants (@oorjitchowdhary @tsparksh @JonathanXu1 @ValentinaTironi @okonek @kevinzluo ) will be more than happy to look through these tasks, see for which PRs have been made and make a new issue for GCI'19 or otherwise to help future participants. Cheers!

CC : @jywarren @publiclab/guides

[2019-01-09 11:13] SidharthBansal commented on #3276
Sarthak thanks for support. Are you willing to open up an issue listing all
the existing issues in form of checklist? Kevin is busy with school. Oorjit
is on off till 10 January. It will be great if you can do this before other
folks get free.

On Wed, Jan 9, 2019, 4:33 PM Sarthak Aggarwal <notifications@github.com
wrote:

[2019-01-09 11:24] gauravano commented on #3276
Nice idea for making a separate checklist. And, thank you Sarthak for
support.

On Wed, Jan 9, 2019 at 4:43 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-01-09 11:34] CodeSarthak opened #4581 "Google Code-In (2018) Pending issues"
This is a staging area. Each task has (or will soon have) a link to a full issue including relevant lines of code, screenshots, and other helpful information as we prepare them for solving. Some are harder than others, but those tagged with `first-timers-only` are great to begin with. (more [documentation on tasks](https://developers.google.com/open-source/gci/help/org-sample-tasks))

Add new item

[2019-01-09 11:35] CodeSarthak commented on #3276
Thanks @SidharthBansal @gauravano

Here it is : #4581

[2019-01-09 11:38] CodeSarthak commented on #3276
Hey @SidharthBansal Can you make @ValentinaTironi @okonek and @kevinzluo members of Public Lab, so that I can add them in the GCI 18 team I just made. Thanks.

[2019-01-09 11:44] CodeSarthak commented on #4581
Hi guys @publiclab/gci-18 @ValentinaTironi @kevinzluo @okonek , let us first figure which of these issues already have their separate issues.

If they do, then comment in this format :

(Name of Checklist Instance) (Issue Number)

and tick the checkbox.

After figuring out which tasks are already made, we can work on making new issues for the rest.

This can be also be a good source for first time

[2019-01-09 13:03] gauravano opened #4582 "Language dropdown in footer doesn't change language to "zh-CN""
There are currently 3 languages present in the language dropdown -
1. :en
2. :de
3. :zh-cn

We are able to change language using this dropdown to only English and Deutsch and not to Chinese because wrong language code is passed for Chinese.

Here's demo that we are not able to swich to Chinese language - https://drive.google.com/open?id=1VcQJ9-L-1tM9uTvOsODgwhdHPnwH_8lE

As the dropdown is a part

[2019-01-09 13:14] SidharthBansal commented on #3276
Sorry, GCI'18 is completed now, so I don't think that there is any need of
such group. We can tag them with their tagnames.

On Wed, Jan 9, 2019, 5:08 PM Sarthak Aggarwal <notifications@github.com
wrote:

[2019-01-09 13:35] gauravano opened #4583 "Adding Locale files for Deutsch and Chinese"
Currently, we only have one locale i.e., for English language. Locales for Deutsch and Chinese can be
added from https://github.com/svenfuchs/rails-i18n/blob/master/rails/locale/

[2019-01-09 15:57] oorjitchowdhary commented on #4581
I've ticked on issues which are already solved..

[2019-01-09 16:41] #3358 closed

[2019-01-09 16:42] oorjitchowdhary commented on #3558
@publiclab/mentors I don't think this is a first-timers issue... I'm removing that from the issue body..

[2019-01-09 16:53] jywarren opened #4585 "Call for Summer of Code 2019 mentors!"
With [Rails Girls Summer of Code](https://railsgirlssummerofcode.org/) and [Google Summer of Code](http://summerofcode.withgoogle.com) 2019 coming up, we're looking ahead to who may be interested in mentoring for these programs. We have participated in both [during the past few years](https://publiclab.org/notes/warren/08-21-2018/congratulations-on-a-great-2018-summer-of-code), and while we are no

[2019-01-09 16:53] jywarren commented on #4585
Cross-posted here: https://publiclab.org/notes/warren/01-09-2019/call-for-summer-of-code-2019-mentors - those looking to mentor please leave a comment there as well!

[2019-01-09 16:55] jywarren commented on #3168
Hello all - just posted a call for mentors for Summer of Code 2019 at #4585. Thank you!!!

[2019-01-09 16:55] jywarren commented on #2053
Hello all - just posted a call for mentors for Summer of Code 2019 at #4585. Thank you!!!

[2019-01-09 18:19] gauravano commented on #3262
@jywarren @ebarry I am recording the Translation Project progress at https://github.com/publiclab/plots2/projects/9 . Thanks!

[2019-01-09 19:10] gauravano commented on #3591
Hi @dave-light, @jywarren is referring to these buttons:
![share_buttons](https://user-images.githubusercontent.com/20878070/50922220-f83a3380-146f-11e9-80ab-c868c141299b.png)

Twitter share button is already present, can you add Facebook share button?
And, as the share link issue is still unclear we can let it go for now. @jywarren please throw some light on link/favicon part whenever you get tim

[2019-01-09 20:31] gauravano commented on #3262
@jywarren @ebarry can I create a test project on transifex with publiclab's URL for testing? Thanks!

[2019-01-09 20:58] #4542 closed

[2019-01-09 21:57] dave-light commented on #3591
@gauravano great, i'll add the fb button.

[2019-01-09 22:19] jywarren commented on #4311
Hi! Thanks! Do you think you could add just 10px more vertical margin where I've highlighted here?

![image](https://user-images.githubusercontent.com/24359/50932150-ba6aea00-1432-11e9-9fd3-5ac76b78a11f.png)

It'll look a little less cramped. Thanks!

[2019-01-09 22:21] #4378 closed

[2019-01-09 22:56] jywarren commented on #3262
Hi, Gaurav - thanks - i watched the video and perhaps we should open a new issue for this discussion if it gets much longer?

In any case, the feature of Transifex is not the auto-translation, but the idea that people might show up and want to help, but we might want to have translations reviewed, moderated, and managed. The language in this post is a bit overly commercial for us, but some of the

[2019-01-09 22:58] jywarren commented on #3262
And my concern is that Redis and Copycopter don't have the interface or review parts... hmm.

[2019-01-09 23:01] jywarren commented on #3262
Hmm, https://github.com/topics/i18n ?

https://weblate.org/en/hosting/ is based on open source but much cheaper than Transifex

https://github.com/parrot-translate/parrot seems unsupported

[2019-01-09 23:03] jywarren commented on #3262
Ooh this is nice though! https://github.com/glebm/i18n-tasks -- can find unused translation strings and help manage them in a CLI!

[2019-01-09 23:07] jywarren commented on #3262
http://pootle.translatehouse.org/

https://www.accent.reviews/

Hmm interface here is pretty complex: https://demo.weblate.org/translate/hello/master/fr/?type=unapproved&offset=2

[2019-01-09 23:09] jywarren commented on #3262
Whoa.... https://github.com/microsoft/localization/wiki/How-to-contribute-to-Software

[2019-01-09 23:12] jywarren commented on #3262
https://crowdin.com/pricing#annual is $16/month

[2019-01-09 23:13] jywarren commented on #3262
And POEditor has a free tier that might work for us: https://poeditor.com/pricing/

[2019-01-09 23:18] jywarren commented on #3262
I just used localeapp for a while and it's pretty nice. It supports only 2 locales on free tier though. https://www.localeapp.com/pricing

@ebarry can we afford $24/month for 5 locales at some point soon? Or should we try something else. At least this looks easy...

[2019-01-09 23:22] jywarren commented on #3262
OK - sorry for so many comments. Let's give POEditor a try based on its pricing and nice interface. What do you think, @gauravano ?

![screen shot 2019-01-09 at 6 21 30 pm](https://user-images.githubusercontent.com/24359/50935859-7b8d6200-143b-11e9-9e0b-c29d69bbae14.png)

[2019-01-10 00:22] milaaraujo commented on #4551
No worries, SidharthBansal!

So, I was talking about email notification because @jywarren mentioned 'plots2/app/mailers/subscription_mailer.rb'. But to be honesty I don't know exactly what we are trying to accomplish here! :dizzy_face:

I understood your explanation! In that case, what I need to do is implement the function `in the app/controllers/subscription_controller.rb which will take user_ta

[2019-01-10 00:43] jywarren commented on #4551
The most basic idea is that:

1. someone -- person 1 -- could "watch" a location by subscribing to it;
we'll call it "location A"
2. if any content is posted near that location, say at "location B",
notifications would be sent to person 1
3. we may need to think of the "distance" or "radius" which would be
covered by the subscription

Does this make sense? We would still need to figure out how to

[2019-01-10 00:52] jywarren commented on #4558
1. I like these!
2. maybe by most nodes posted? by date of signup?
3. that sounds great. Maybe `end` could default to now?
4. same! Great! and agreed.
5. ok great! must've been an older one

[2019-01-10 01:40] siaw23 commented on #4585
Count me in.

[2019-01-10 02:38] oorjitchowdhary commented on #4585
I'm interested..

[2019-01-10 04:14] jywarren commented on #4582
Ok I think I did it!

On Wed, Jan 9, 2019, 8:03 AM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-01-10 04:52] #4287 closed

[2019-01-10 04:52] SidharthBansal commented on #4110
Node, maps, wikis, revisions, notes, profile page, questions.
We can have this tour for one time after signup. Then an option to show the
tour if persons wants.

On Thu, Jan 10, 2019, 3:16 AM Jeffrey Warren <notifications@github.com
wrote:

[2019-01-10 04:53] #4039 closed

[2019-01-10 05:07] #3816 closed

[2019-01-10 05:08] #3766 closed

[2019-01-10 05:09] #3661 closed

[2019-01-10 05:11] jywarren commented on #3633
Is this still the case, Rishabh?

[2019-01-10 05:13] jywarren commented on #3571
We're doing this across all our major repositories now! Thanks so much!

[2019-01-10 06:07] Rishabh570 commented on #3633
Yes!

[2019-01-10 07:00] milaaraujo commented on #4558
Thank you! Now we have a task list for this issue!

[2019-01-10 07:19] milaaraujo commented on #4551
Now I (just) understood what you meant by "Proximity subscriptions"... :sweat_smile: But it makes sense!

So, I think it is easy to use a user tag to control the user subscription to its own location. We could use the tags: `subscribed:yes` and `subscribed:no`. But I don't know how to handle the other location's subscriptions...

[2019-01-10 07:53] gauravano commented on #4582
Yes, its working now.
![working_lang](https://user-images.githubusercontent.com/20878070/50953939-e772d780-14da-11e9-9659-ab08d0a67a8b.png)

Closing this. Thanks!

[2019-01-10 07:53] #4582 closed

[2019-01-10 09:05] CodeSarthak commented on #4581
Goof job, mate 👍

[2019-01-10 11:15] gauravano commented on #3262
@jywarren the backend option is one where we have to do the most work, like prepare the translation page, and you mentioned we also want reviewer features too, so it would take time. Using this option, we can open the modal instead at same page and take user input, but at same time we have to put the moderation system in place too. We can integrate this, but would consume time.So, if you want I am

[2019-01-10 11:16] gauravano commented on #3262
Yes, in both of these options we have to make the review system if we want to use them.

[2019-01-10 11:37] gauravano commented on #3262
Finally, gone through all your suggestions :smile:. I have signed-up for POEditor and would invite you too to explore. Also, it provide free support to Open Source projects:

![poe_editor](https://user-images.githubusercontent.com/20878070/50966180-2fedbd80-14fa-11e9-8cde-1a92b9acadd7.png)

Thanks!

[2019-01-10 12:58] vishvanatarajan commented on #4268
Hey @SidharthBansal can i work on this issue?

[2019-01-10 13:01] SidharthBansal commented on #4268
Yes

On Thu, Jan 10, 2019, 6:28 PM Vishva Iyer <notifications@github.com wrote:

[2019-01-10 14:56] ebarry commented on #4567
Any updates to the projects, or to the set of possible motivations we are asking people about? Wrapping this up today!

[2019-01-10 15:24] ebarry commented on #4560
Cool idea @mardelvalle!
How do we decide regional boundaries? Maybe just continents to begin with?

[2019-01-10 15:35] gauravano commented on #4567
Plots2 is listed by many platforms as a good start point to enter open source world or to first PR in ruby/rails like https://github.com/MunGell/awesome-for-beginners#ruby

So, one of the reason can be "I was exploring beginner-friendly projects and found your project"

[2019-01-10 15:40] ebarry commented on #4560
Just for context, a long time ago, we imagined overlaying a grid on the map on /people, and shading squares based on number of contributors: https://github.com/publiclab/plots2/issues/1070#issue-193899340

<img width="625" alt="screen shot 2019-01-10 at 10 38 24 am" src="https://user-images.githubusercontent.com/161439/50979144-e2eef480-14c3-11e9-98b3-c919ceb717b3.png">

I am not attached to this

[2019-01-10 15:43] sagarpreet-chadha commented on #4560
Hi everyone ,
If i am getting this right , i would like to see the most active people (which would be calculated via an algorithm using their last 6 months contributions) with RED marker on /people map (instead of current normal black marker) .
Again just an idea , Liz may have something more interesting in her mind :)
Thanks !

[2019-01-10 15:44] gauravano commented on #4567
I just identified that the above link is connecting to an old URL. I will make a PR for the correction.
And Liz, to the list of projects, you need to add:
* Leaflet-environment-layers

Thanks!

[2019-01-10 15:55] ebarry commented on #4560
That sounds great @sagarpreet-chadha ! Do you like this idea?

[2019-01-10 16:05] geekychaser commented on #4569
@jywarren @gauravano facing same issue, not able to login/signup in any of the ways
![login1](https://user-images.githubusercontent.com/24489162/50980786-81f50a00-151f-11e9-8d06-2622048b21db.gif)

[2019-01-10 16:30] SidharthBansal commented on #4214
@jywarren??

[2019-01-10 16:31] SidharthBansal commented on #4483
@Dsxv will you like to take this issue? @kevinzluo can help you here.

[2019-01-10 16:31] sagarpreet-chadha commented on #4560
If we want rough idea of regions with most active contributors , then it seems like a good option .
If we want exact maths , then it more sense as to yours and @mardelvalle suggestions above . Thank you :)

[2019-01-10 16:33] SidharthBansal commented on #4192
@Dsxv you were asking for issues to be assigned to you.
Do you want to do this?

[2019-01-10 16:34] SidharthBansal commented on #4191
Store is not part of plots2 codebase. So I think we can close this.

[2019-01-10 16:34] #4191 closed

[2019-01-10 16:36] SidharthBansal commented on #4214
Ask a question on other pages is successfully linked to the login modal.

[2019-01-10 16:36] SidharthBansal commented on #4214
Ask a question on other pages is successfully linked to the login modal.

[2019-01-10 16:41] SidharthBansal commented on #4471
I think this is not a big problem. We can close this issue. thanks Kevin

[2019-01-10 16:41] #4471 closed

[2019-01-10 16:41] SidharthBansal commented on #4454
@codeIriss are you able to find cause of this bug?

[2019-01-10 16:44] SidharthBansal commented on #4367
@kunalvaswani123 how is it going here? Can you please link the PR.

[2019-01-10 16:45] SidharthBansal commented on #4268
@vishvanatarajan in case of any help needed, please free to ping me.

[2019-01-10 16:48] geekychaser commented on #4401
@jywarren please help me locate file and some other change is required ?
thank you

[2019-01-10 16:49] geekychaser commented on #4168
@jywarren @SidharthBansal i am not able to locate this button on my local server.
thank you

[2019-01-10 16:49] SidharthBansal commented on #4242
@Dsxv you can do this too if you want. You were having trouble in finding issues so just telling you some issues.

[2019-01-10 16:52] SidharthBansal commented on #3340
@Dsxv you can try to debug it. You were looking for some issues to be tackled and finding difficult to find easy ones, so helping you.

[2019-01-10 16:54] SidharthBansal commented on #4413
@IshaGupta18 ?

[2019-01-10 16:59] jywarren commented on #4560
Hi, I think perhaps we should look to examples on other sites for how we'd
like this to be represented. Can folks try sharing some screenshots? Thank
you!

On Thu, Jan 10, 2019 at 11:32 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-01-10 17:01] IshaGupta18 commented on #4413
I am so so sorry, I don't know how I didn't receive this mail and it's been five days.

[2019-01-10 17:04] IshaGupta18 commented on #4413
Yes I have linked the login modal to the flag button when the user is not signed in, I think that was what I was supposed to do. The modal will be shown to the user if he's not logged in and clicks on the flag button and consequently the popover won't be displayed. Once again I am very sorry for missing out on the mail.

[2019-01-10 17:08] jywarren commented on #3154
How is this going?

[2019-01-10 17:08] kunalvaswani123 commented on #4367
I was busy with https://github.com/publiclab/plots2/pull/4568 and my college assignments  so didn't start here ..
I have to do this right?

I could quickly create a PR for this .. Sorry for the delays..

[2019-01-10 17:10] jywarren commented on #3629
I think this was a bug in posting, and the notice was actually unrelated -- I'm going to close it for now since posting answers should work normally and then there won't be the ambiguity of the above message!

[2019-01-10 17:10] #3629 closed

[2019-01-10 17:11] jywarren commented on #3149
@milaaraujo maybe this could be related to or folded into #4561?

[2019-01-10 17:15] #3226 closed

[2019-01-10 17:15] #3183 closed

[2019-01-10 17:17] jywarren commented on #3082
Here it is!

[code]

[2019-01-10 17:18] #2838 closed

[2019-01-10 17:19] jywarren commented on #3053
All working now!

[2019-01-10 17:19] #3053 closed

[2019-01-10 17:19] jywarren commented on #3040
Done!

[2019-01-10 17:19] #3040 closed

[2019-01-10 17:19] jywarren commented on #3008
@SidharthBansal maybe this is of interest?

[2019-01-10 17:37] Dsxv commented on #4242
@SidharthBansal Thankyou So much for help ! But isn't @okonek working on it?

[2019-01-10 17:40] gauravano commented on #3082
Ok! Got the problem. So, we need to put a if condition to path. I am correcting it right now. Thanks!

[2019-01-10 17:47] Dsxv commented on #4483
@SidharthBansal Yes I want to take on this issue ! however I am not certain , can you please provide me with some reference material , Thank you so much for your time !

[2019-01-10 17:48] Dsxv commented on #4483
Or should I ping @kevinzluo for it ?
Thanks!

[2019-01-10 18:00] Dsxv commented on #3340
@SidharthBansal Thanks for Help !  How about we disable the submit button until the mandatory fields are completed ?

[2019-01-10 18:01] SidharthBansal commented on #4242
He is not online since many days so you can work on it.

On Thu, Jan 10, 2019, 11:07 PM Pawan Shukla <notifications@github.com wrote:

[2019-01-10 18:02] SidharthBansal commented on #3340
Good idea. Go for it.

On Thu, Jan 10, 2019, 11:30 PM Pawan Shukla <notifications@github.com wrote:

[2019-01-10 19:22] geekychaser opened #4589 "likes should not be negative at '/events'"
### Please describe the problem (or idea)

![image](https://user-images.githubusercontent.com/24489162/50991490-c93cc400-153a-11e9-9478-66a0dde9b5b9.png)

### What's your PublicLab.org username?

geekychaser

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write re

[2019-01-10 19:23] geekychaser commented on #4589
@jywarren @SidharthBansal @gauravano can i give it a try ?

[2019-01-10 19:33] icarito commented on #3154
I believe we've contained this. We have 10 threads for Sidekiq now (not sure where it was tweaked) and also reduced the number of passenger working threads to accomodate this (from docker-compose-production.yml file).

[2019-01-10 19:33] #3154 closed

[2019-01-10 19:34] gauravano commented on #4589
Hi @geekychaser, sure go ahead. Also, could you solve this #4237 with this one along? Thanks!

[2019-01-10 19:37] geekychaser commented on #4589
yeah sure! I think both of the problem has same origin

[2019-01-10 19:40] gauravano commented on #4237
Hi everyone, this issue is undertaken by @geekychaser in #4589 so closing this one. Thanks!

[2019-01-10 19:40] #4237 closed

[2019-01-10 19:41] gauravano commented on #4589
Copying issue as reported by @JonathanXu1 in #4237
------------------------------------------
I was browsing through https://publiclab.org/notes/recent, and noticed that a note has a negative number of likes:
![image](https://user-images.githubusercontent.com/22998430/49713581-58db1400-fc17-11e8-90ed-5d4f839a2eb4.png)
You can also see it at https://publiclab.org/notes/liked/ :
![image](https://use

[2019-01-10 19:48] ebarry opened #4591 "Update link on front page"
Dear First Timer,
On https://publiclab.org/home, the text: "monitoring air, water and land." which links to https://publiclab.org/initiatives should instead link to https://publiclab.org/methods.
Thank you!

[2019-01-10 19:56] jywarren commented on #4585
Awesome!!!

[2019-01-10 19:58] gauravano commented on #4591
Hi Liz,

Actually this task is for you. As the part where that link lies is a part of a feature and only admins can edit a feature. So, you have to edit this feature - https://publiclab.org/features/16602 for replacing the link.

Thanks!

[2019-01-10 20:03] ebarry commented on #4591
thank you! i'm on it :)

[2019-01-10 20:03] #4591 closed

[2019-01-10 20:04] gauravano commented on #4591
Great :+1:

[2019-01-10 20:06] jywarren opened #4592 "Content Based Tag Filtering for Personalised Tag Recommendation System"
This would be an addition to the User model, in https://github.com/publiclab/plots2/tree/master/app/models/user.rb

This would return a descending list of most-used tags, looking at a user's posts and tallying all the tags used on all their posts. This would start with just their notes + questions, but might later expand to:

* wiki edits
* comments on notes with tags
* tags created by the user

T

[2019-01-10 20:07] ebarry commented on #4592
ooooo great idea!

[2019-01-10 20:13] ebarry opened #4593 "Move graphs from tag pages (like /tag/soc) to tag stats pages"
Dear @cesswairimu and other interested people,

I've been sitting in on some of the user interviews, and the purple graphs are confusing people mostly because:
1) the axes are not labelled
2) that they are "above the fold" taking up a lot of room and pushing the actual content that people are looking for farther down.

While clearly many aspects of stats on publiclab.org are being revisited simult

[2019-01-10 20:19] cesswairimu commented on #4593
@ebarry quick question just to be sure. Are you talking about the graphs on this page https://publiclab.org/stats ?

[2019-01-10 20:21] ebarry commented on #4593
Hi @cesswairimu  :)!
Actually i'm not, thanks for asking! I'm talking about the purple graphs on pages `https://publiclab.org/tag/_____`, for instance https://publiclab.org/tag/oil

[2019-01-10 20:23] jywarren opened #4594 "Deprecation warning: Dangerous query method "COUNT(term_data.tid) DESC""
Seeing this in the Travis logs - we should change it!

`DEPRECATION WARNING: Dangerous query method (method whose arguments are used as raw SQL) called with non-attribute argument(s): "COUNT(term_data.tid) DESC". Non-attribute arguments will be disallowed in Rails 6.0. This method should not be called with user-provided values, such as request parameters or model attributes. Known-safe values can

[2019-01-10 20:34] jywarren commented on #4214
Ah ok actually i'm going to rename/adapt this. Thanks!

[2019-01-10 20:56] dave-light opened #4595 "Refactor _answer.html.erb"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-10 21:06] gauravano commented on #4595
Hi @jywarren there are many places in our codebase where the length of line makes it look complex and difficult to read. Would you like to recommend the optimal length?

Thanks!

[2019-01-10 21:12] jywarren commented on #4311
Could you share one more screenshot, thank you!!!

[2019-01-10 21:23] #4583 closed

[2019-01-10 21:41] jywarren commented on #4595
I've read that 80 characters is a good # to aim for, and i think in coding
maybe even less... what's the max character width of GitHub's UI?

On Thu, Jan 10, 2019 at 4:07 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-10 22:13] #3082 closed

[2019-01-10 22:41] jywarren commented on #4551
Can we mentally puzzle through what we'd have to do to use a usertag like
`subscribed:lat:lon`? I think this could work but just to think it through
thoroughly...

On Thu, Jan 10, 2019 at 2:25 AM Camila Araújo <notifications@github.com>
wrote:

[2019-01-10 23:01] jywarren commented on #4110
Let's try drafting it in a text document first - adding screenshots to
illustrate each thing, and a couple sentences each.

On Wed, Jan 9, 2019, 11:53 PM Sidharth Bansal <notifications@github.com
wrote:

[2019-01-11 00:10] jywarren commented on #4202
OK, I"m going to go ahead and close this as I think enough people want to be able to respond multiple times. Thank you!!!

[2019-01-11 00:10] #4202 closed

[2019-01-11 03:33] IshaGupta18 commented on #4311
Absolutely sit, I should have done that along the way

![image](https://user-images.githubusercontent.com/40794215/51011742-af71a000-157f-11e9-87f2-d47486b1ece1.png)

[2019-01-11 05:15] milaaraujo commented on #4551
Creating the tag would be easy, right? Just add a new entry in the usertags table. It is also important to think where we would implement the "subscription system". The plan is to create a map where the user selects the areas that he would like to subscribe to? Where would this option be inserted?

I think we should also think about it is how we use these tags... I think we should also think about

[2019-01-11 05:21] milaaraujo commented on #4551
And if, instead of using only latitude and longitude, subscriptions were made from a pair of coordinate, for example: `nwlat=71.01&selat=4.39&nwlng=-172.79&selng=80.33`. We could use the inverse logic we use here: #4037.

[2019-01-11 06:54] dewanhimanshu commented on #4534
![screenshot from 2019-01-11 12-15-28](https://user-images.githubusercontent.com/32437794/51017705-f91bb400-159a-11e9-8209-b210e0804e8e.png)

Hi , I am also facing this issue.

[2019-01-11 09:13] vishvanatarajan commented on #4268
@SidharthBansal okay no problem. I will create a PR and link it as soon as possible. Thank you for the support :+1:

[2019-01-11 09:34] SidharthBansal commented on #4413
Great!

On Thu, Jan 10, 2019, 10:34 PM Isha Gupta <notifications@github.com wrote:

[2019-01-11 10:32] dewanhimanshu commented on #4534
@gauravano  I am using google OAuth

[2019-01-11 10:36] gauravano commented on #4534
Then, I think your issue is similar to #4569 i.e., you are not actually signed-in. Do one thing to ensure if you are logged in or not. Go to your profile page and see if access token and link social media buttons are present on your profile.

Thanks!

[2019-01-11 10:41] gauravano opened #4598 "Removal of commented association statements"
In many of our models, `dependent: :destroy` and some other options are commented out, due to which redundant data is accumulating in all environments.

So, we have to take every model file and inspect whether it is safe to uncomment the option of association statement or not. We can also consider the removal of related data(redundant one) which is not required.

cc @jywarren

[2019-01-11 10:42] dewanhimanshu commented on #4534
Yes i am not signed-in as there is no profile page .   /profile redirects to /

[2019-01-11 10:43] gauravano commented on #4534
/profile/[username]  redirects to -- home right?

[2019-01-11 10:49] dewanhimanshu commented on #4534
@gauravano  yes

[2019-01-11 10:53] gauravano commented on #4534
Ok, then this issue is a duplicate of #4569 as user is not signed-in and alert shown is wrong. Closing this one and merging it with #4569. Thanks everyone!

[2019-01-11 10:53] #4534 closed

[2019-01-11 10:57] gauravano commented on #4569
Same issue reported by @dhruvgupta167 and @dewanhimanshu at #4534

![screenshot 2019-01-05 at 5 57 39 pm](https://user-images.githubusercontent.com/32172694/50724434-736bb480-1113-11e9-9427-ae557c69f3a1.png)
Screenshot by @dhruvgupta167

![screenshot from 2019-01-11 12-15-28](https://user-images.githubusercontent.com/32437794/51017705-f91bb400-159a-11e9-8209-b210e0804e8e.png)
Screenshot by @dewanh

[2019-01-11 11:00] gauravano commented on #4569
@Dsxv @geekychaser @dewanhimanshu @dhruvgupta167 please use normal signup/signin form till the issue is solved. Thanks!

[2019-01-11 11:23] kunalvaswani123 commented on #4367
@SidharthBansal I have linked the PR..

[2019-01-11 11:56] Dsxv commented on #4569
@gauravano It's actually different in my case , I am not able to login from any way , That's why I created this issue so that mods would delete my profile , So that I can lsignup again .
Thanks!

[2019-01-11 12:01] gauravano commented on #4569
I can understand @Dsxv, as profile is not visible to moderators too, so it's little tough situation. I know with GSoC coming and all, you guys don't want to miss any updates. I would suggest to signup again with alternate email ID email so that you can stay updated.

Thanks!

@jywarren can you copy production logs for signup and signin via OAuth?

[2019-01-11 13:23] Dsxv commented on #4192
@SidharthBansal Yes I'd love to take this up ! sorry for late reply .
 Thanks !

[2019-01-11 14:46] dave-light commented on #3591
Just checking facebook's site here https://developers.facebook.com/docs/plugins/share-button and in addition to the standard 'share' button there's the option for 'share [number of shares] '

![image](https://user-images.githubusercontent.com/25173051/51040421-5a4d8280-15af-11e9-8591-eb7ea6a20244.png)

It's a matter of preference I suppose, so better I ask, what would you suggest @gauravano?

[2019-01-11 15:00] gauravano commented on #3591
I think we don't need count. What do you say @jywarren?

[2019-01-11 16:14] #4509 closed

[2019-01-11 17:03] dave-light commented on #4595
Quick thought, instead of doing this myself, should I edit the issue and make it an FTO? It's perfect for someone who hasn't yet contributed.

[2019-01-11 18:01] jainaman224 commented on #4585
I am interested

[2019-01-11 18:05] jywarren commented on #4548
Hello everyone! I wanted to note another big thing -- after 1 year of community outreach, Image Sequencer now has over 43 contributors and some real community momentum. I've opened a new issue to ask people to join a reviewers group for just that project -- @publiclab/is-reviewers -- in this issue:

https://github.com/publiclab/image-sequencer/issues/656

Hooray for a growing community! 🎉

[2019-01-11 18:37] jywarren commented on #4551
Interesting -- the pair of coordinates makes the tagname long, but perhaps
not too much more than if we had `subscribe:lat:lon:radius`, and easier to
work in a database with.

What if we prompted people to watch an area in a small [+] button on each
map, defaulting to the current view?

On Fri, Jan 11, 2019 at 12:16 AM Camila Araújo <notifications@github.com>
wrote:

[2019-01-11 19:48] ebarry commented on #4593
Could someone share a link to the tag page code here?

[2019-01-11 20:07] jywarren commented on #4593
https://github.com/publiclab/plots2/tree/master/app/views/tag/show.html.erb
here you go!

On Fri, Jan 11, 2019 at 2:48 PM Liz Barry <notifications@github.com> wrote:

[2019-01-11 20:15] gauravano commented on #4550
Hi @dldisha @jywarren, we can work on this issue after the completion of the answer to comment conversion ie., #4094

Thanks!

[2019-01-11 20:19] gauravano commented on #4548
Anyone interested in opening next week's check-in? Thanks!

[2019-01-11 20:30] jywarren commented on #4550
awesome!

On Fri, Jan 11, 2019 at 3:15 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-11 20:31] CoderJolly commented on #4598
May I take this issue....I would like to give it a try

[2019-01-11 20:33] annhchen opened #4601 "Search typeahead two words or more bug"
Typing two words or more (i.e. "wetlands mapping") only pulls up "users" with typeahead. "Wiki" and "tags" keywords do not show up. See attached image.

Similarly, typing in two words concatenated "oiltesting" also pulls up weird typeahead results.

<img width="1328" alt="screen shot 2019-01-11 at 3 20 49 pm" src="https://user-images.githubusercontent.com/1396091/51058245-26299000-15b6-11e9-94a4-5

[2019-01-11 20:42] ebarry commented on #4601
Tagging in @milaaraujo who knows this system best <3 <3 <3

[2019-01-11 22:13] milaaraujo commented on #4601
Right now I'm working on the UI/API improvements for geographic features project, but after I finish it I can work on this one. I just don't know when it will be! So if anyone is interested, go ahead and I can help with any question about the current code.

[2019-01-11 22:34] jywarren commented on #3262
Ah, we are already set up as an open source org! Great.

[2019-01-11 22:35] jywarren commented on #3262
OMG this was a long time ago, embarrassing. Glad we're getting back into it! Travis integration sounds great. I get how it will update Transifex with new strings. But how would it fetch Transifex output... would i have to make a commit from Travis?

[2019-01-11 22:42] gauravano commented on #3262
Wow, the PublicLab's transifex account seems active from a long time.

[2019-01-11 23:02] gauravano commented on #3262
@jywarren at transifex account, the whole dataset is present in categories and there is lot of translations available, so what would be our step regarding making a single file for all translation?

I also saw this -
`Commit the travis.yml file to the branch you want to sync translations from. Now every time you commit changes in this branch your content will be uploaded to Transifex and your resou

[2019-01-11 23:06] gauravano commented on #3262
I have started working on the helper function part and have some queries:

`<%= t('some_string_here') %>`
...where some_string_here is the key to some string of text.
I propose a new helper, maybe called translate(), which looks for translations, but if none are present, displays the key text itself. That way, we can create new interfaces that include text, without first having to do translation f

[2019-01-11 23:09] gauravano commented on #3262
As all the locale files have one thing in common i.e., key so we need to find a way to find the key from the string value. And, after that we could use translate helper function as it is passing in the key with options.

[2019-01-11 23:11] jywarren commented on #3262
maybe we could use the English string, in quotation marks, as the key?

Great!

[2019-01-11 23:11] jywarren commented on #3262
Or alternatively we could periodically run  https://github.com/glebm/i18n-tasks

[2019-01-12 01:52] cesswairimu opened #4602 "Stats Subscriptions page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-12 01:57] cesswairimu opened #4603 "Explore how to present subscription stats"
Currently the stats page  https://publiclab.org/stats/subscriptions is being displayed as key-value pairs

* [x] Listing all tags and the number of subscribers in the right-hand list by @GettyOrawo
* [ ] Interactive display of the page

[2019-01-12 02:33] Rishabh570 commented on #4548
Hi @gauravano, I would like to open it...do I need to copy the issue description?

[2019-01-12 04:45] milaaraujo commented on #4551
Sounds like a good idea to me! :) I just do not know how difficult it would be to implement this though.

[2019-01-12 08:44] milaaraujo commented on #4560
Hey @jywarren, have you thought about adding a "last activity" column in the user table? Looking at the API code, several times we have to use a `join (:revisions)` only to get this information...

[2019-01-12 13:30] gauravano commented on #4602
Hi @cesswairimu thanks for opening this issue. You need to further break this issue to make it a `FTO`, as an FTO is considered introduction to the project and Git, so we provide detailed steps. You can refer this issue for template - https://github.com/publiclab/plots2/issues/4440

And, let me know. if you need any help in breaking this. Thanks!

[2019-01-12 13:33] gauravano commented on #4598
Hi @CoderJolly, you are welcome to help on this one. @jywarren how about taking each model as a separate issue as you were concerned about the data loss/error?

Thanks!

[2019-01-12 13:34] cesswairimu commented on #4602
Thanks @gauravano will do

[2019-01-12 13:35] gauravano commented on #4595
Yes, sure @dave-light! you can refer to FTO template from here - https://github.com/publiclab/plots2/issues/4440 and mention me or @publiclab/plots2-reviewers for getting it labelled.

 Thanks!

[2019-01-12 13:51] jywarren commented on #4598
Sure!

On Sat, Jan 12, 2019, 8:34 AM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-01-12 13:59] gauravano commented on #4598
Great, let's get it started then. Let's start with node model (/modelsnode.rb). @CoderJolly you have to uncomment each of those statements which says remove after rails 5 upgrade.

You have to mention in the PR the role of each statement. After uncommenting the statement, you have to test paste in data records showing that whether it's working correctly or not.

Let's assume, there was commented `

[2019-01-12 14:04] gauravano commented on #4548
Hi @Rishabh570, great! You can copy the issue description and make some nice edits. You can add your own progress to issue body. You can add some interesting question/theme for the week.

Thanks!

[2019-01-12 14:35] dinaelhanan commented on #4548
Hey everyone! This week and this next, I'm kind of really busy (more culminating assignments, they end in 2 weeks though! + a hackathon) so I will probably be MIA, but I'm hoping to:
- [ ] help out a lot more in image sequencer, since I've got more experience in JS than I do in Ruby, so I'm looking forward to that!
- [ ] explore and be more active on the public lab platform

Those are my two goals

[2019-01-12 14:47] gauravano commented on #4548
Hey @dinaelhanan! Nice to hear from you. All the best for your assignments and hackathon :smiley: . Thanks!

[2019-01-12 15:47] SidharthBansal commented on #4454
If a person is on the login page then redirect to login page is correct
else login modal. I hope this makes sense.

On Sat, Jan 12, 2019, 8:56 PM Aditya Kumar <notifications@github.com wrote:

[2019-01-12 15:50] codeIriss commented on #4454
Okay so we should move to login modal then and can u please help where to
look for this?

On Sat 12 Jan, 2019, 9:17 PM Sidharth Bansal <notifications@github.com
wrote:

[2019-01-12 15:54] SidharthBansal commented on #4454
Views/user_sessions.html.erb

On Sat, Jan 12, 2019, 9:20 PM Aditya Kumar <notifications@github.com wrote:

[2019-01-12 16:45] jywarren commented on #4598
We can also write tests to confirm if it's helpful to illustrate the
functionality!

On Sat, Jan 12, 2019, 8:59 AM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-01-12 17:40] gauravano commented on #4598
Tests will be great for sure!

Gaurav Sachdeva

On Sat 12 Jan, 2019, 10:15 PM Jeffrey Warren <notifications@github.com
wrote:

[2019-01-12 18:11] Rishabh570 opened #4607 "Weekly Community Check-In #5 - "Welcoming Newcomers Efficiently""
Hi everyone :wave: !

We all at Public Lab :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. Let's start a Community Check-In from this week onwards, where every community member would share something about their work

[2019-01-12 18:13] Rishabh570 commented on #4548
@jywarren @gauravano @SidharthBansal I've just opened new weekly check-in, #4607 :)

[2019-01-12 18:41] gauravano commented on #4548
Closing this one as new check-In at #4607. Thanks!

[2019-01-12 18:41] #4548 closed

[2019-01-13 05:35] oorjitchowdhary commented on #4350
You can create notes and add tags simply from the sidebar of that notes page..

[2019-01-13 05:42] kunalvaswani123 commented on #4350
I added a note using write a research note button but it does not show that note in localhost:3000/notes

[2019-01-13 05:45] kunalvaswani123 commented on #4350
it shows pending approval by community moderators in my dashboard ..

[2019-01-13 05:48] oorjitchowdhary commented on #4350
If you've used a non-admin account, you'll have to get it approved by either 'admin' or 'moderator' accounts..

If you use 'admin' or 'moderator' to write a new note, it gets published straightaway..

[2019-01-13 06:01] kunalvaswani123 commented on #4350
It shows admin is banned when I try to login with admin..

[2019-01-13 13:15] rexagod opened #4609 "Banned Accounts and probable API bug"
Quoting the gitter chatroom, I mentioned

Edit: As of now, @gauravano has unbanned all of us.

Also another concern of mine was that @jywarren's profile wasn't returned in the output payload, is this a bug?

[2019-01-13 17:06] SidharthBansal commented on #4110
I think it will be better if we will add it in the Call for proposals and
the person willing to write a proposal on this topic will do the needed
stuff. Then right person will put right amount of effort at right time and
in the right direction.
We already discussed the places where we need to navigate in the project.
GSoC student can add mockups, gifs etc to illustrate them. What do you
think?

On

[2019-01-13 17:53] SidharthBansal commented on #3008
I think this is what we are have already built. Just we need to add the link in the email body and everything is complete.
It can be converted in fto after #4555 is merged.

[2019-01-13 18:16] SidharthBansal commented on #283
@jywarren i think we can close this issue

[2019-01-13 18:16] #283 closed

[2019-01-13 18:17] SidharthBansal commented on #297
@jywarren I think we can close this

[2019-01-13 18:17] #297 closed

[2019-01-13 19:12] SidharthBansal commented on #4592
This is a great idea. I will like to work on it once all the assigned Dec & Jan's pending work gets completed.
We will require to be thorough in details here before implementing it. Don't want to hurry up on this. This seems to be a medium project in itself.

[2019-01-13 19:35] gauravano commented on #4595
Hi @dave-light, here's the markdown for FTO:

`Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answe

[2019-01-14 07:31] oorjitchowdhary opened #4611 "Remove the extra space after `share`"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-14 07:39] JAIDEV123 commented on #4611
On it!

[2019-01-14 08:14] SidharthBansal commented on #4483
Hi Pawan, we have a requireLogin class. We are trying to modify that so that it will be faster. You can read the issue body to know what we have to do.

[2019-01-14 08:17] SidharthBansal commented on #4322
@jywarren it will be great if you can tell us on this. As you asked for this feature. It is little ambiguous to me.

[2019-01-14 08:20] SidharthBansal commented on #4268
How is it going @vishaldeepak ?

[2019-01-14 08:21] SidharthBansal commented on #4242
@Dsxv how is it going here?

[2019-01-14 08:21] SidharthBansal commented on #3340
@Dsxv how is it going here?

[2019-01-14 08:22] SidharthBansal commented on #4192
@Dsxv how is it going here?

[2019-01-14 08:22] SidharthBansal commented on #4192
https://github.com/publiclab/plots2/blob/master/doc/LOGIN_SYSTEMS.md will help you.
See requireLogin class.

[2019-01-14 09:02] dave-light commented on #4595
@gauravano thanks for the FTO markdown code, i've updated the issue. Please add FTO tag :-)

[2019-01-14 11:36] SidharthBansal commented on #4607
Hello everyone,
I will be working on Multiple Subscription Prompts across PL this week. We want to increase our community so I am dividing my projects into small small pieces to integrate up whole projects. We will be creating `first timers only` issue for the whole project very soon. I will abide by this week's title @Rishabh570
Login Sequence Project is almost completed. 26 issues/prs are left.

[2019-01-14 11:55] vladdypwnz commented on #4595
Greetings!
First time contributor in your codebase.
Could I start with this issue ?

[2019-01-14 12:08] kryptc commented on #4349
Hi, could I work on this bug?

[2019-01-14 12:10] Rishabh570 commented on #4607
@SidharthBansal Updated.

[2019-01-14 12:18] SidharthBansal commented on #4131
@IshaGupta18 are you familiar with creation of `first timer only` issues. Have you created any so far?
We will creating first timers issues for the following:
![image](https://user-images.githubusercontent.com/20972099/51112175-727a0780-1824-11e9-80ad-193e8642a856.png)

This means this whole project is going to be done by first timers. Isn't this amazing @jywarren?
I will try my level best to incr

[2019-01-14 12:20] SidharthBansal commented on #4349
Yes go ahead.

On Mon, Jan 14, 2019 at 5:38 PM Kripa Anne <notifications@github.com> wrote:

[2019-01-14 12:20] SidharthBansal commented on #4607
Thanks

On Mon, Jan 14, 2019 at 5:40 PM Rishabh Rawat <notifications@github.com>
wrote:

[2019-01-14 12:37] gauravano commented on #4595
Hi @vladdypwnz,  Welcome to Public Lab and you can start with this issue! Thanks!

[2019-01-14 13:59] #4367 closed

[2019-01-14 14:26] #4567 closed, assigned to ebarry

[2019-01-14 14:44] ebarry commented on #4607
Hi all, the Software Contributors Survey is waiting on just one final nod from another team, and then i will post it as a Github issue for everyone here to fill out! Expecting this to happen later today. Thanks and stay tuned!

[2019-01-14 14:46] ebarry opened #4614 "RESULTS POSTED: Community-wide survey! This is for YOU 🎉🎈"
## Community Survey
I've been putting together a community survey with @jywarren, @gauravano, @SidharthBansal and more on behalf of the Public Lab non-profit, and I'd like to ask everyone to take a few minutes to fill it out.

We put a lot into making our community a welcoming place, but we need to better understand what works and what doesn't.

So please, give us your thoughts in this anonymous f

[2019-01-14 14:51] oorjitchowdhary commented on #4607
Hi all, this week's theme being `welcoming newcomers`, I'll try to make as many ftos from #4581.
Also, I've another set of exams this week so I won't be online for a long time. 😞

[2019-01-14 14:55] geekychaser commented on #4607
@oorjitchowdhary No problem i will try making more ftos and All the best for your exams :smile:

[2019-01-14 15:17] Dsxv commented on #4192
Yes, I'm sorry for the delay , I'll create a PR asap

[2019-01-14 15:19] jywarren commented on #4609
Maybe connection to #4522 ...

[2019-01-14 15:33] SidharthBansal commented on #4607
Hi all we have one more issue which needs to be broken down into ftos. If
anyone wants to work with me, then it will be awesome. Issue no #4131.
Please comment on this issue. I will tell you how to work in which
direction.
Thanks all.
Oorjit we will love to see you back soon.

On Mon, Jan 14, 2019, 8:25 PM Rishabh Bothra <notifications@github.com
wrote:

[2019-01-14 15:35] geekychaser commented on #4131
@jywarren @SidharthBansal i would love to work on this. please guide me
thank you

[2019-01-14 15:37] geekychaser commented on #4607
@SidharthBansal Yes i would love to work on this.
thank you

[2019-01-14 15:39] IshaGupta18 commented on #4131
Yes, you can guide me too on how to make ftos once we are done with the main PR, then we can work on this and make ftos, will that be okay? @SidharthBansal

[2019-01-14 15:41] SidharthBansal commented on #4607
We will start on that issue after one two related PRS are merged.
Let's make pl most friendly learning environment + collaborative + hard
working organisation in the world. You all are simply awesome!!!!!!!!!

On Mon, Jan 14, 2019, 9:07 PM Rishabh Bothra <notifications@github.com
wrote:

[2019-01-14 15:56] oorjitchowdhary commented on #4117
Hi, what are we trying to do here.. I'm unable to understand

[2019-01-14 16:10] jywarren opened #4616 "Display comment status on https://publiclab.org/comments if comment is not approved"
As a moderator, i see lots of spam comments on /comments, but they're not marked as such so I thought I had to moderate them. Let's have them appear moderated (labeled, greyed out?) if they are not currently published!

Follow-up: we could have a `https://publiclab.org/comments?status=1` route available to moderators so you don't have to see them, linked to from the top of the page. Regular users

[2019-01-14 16:12] jywarren commented on #2254
@sagarpreet-chadha just bumping this up! Thank you!!!

[2019-01-14 17:15] SidharthBansal commented on #4117
These are supportive tasks. This tasks says newcomer that if you find any
bug then feel free to open up an issue. You are already doing this task.

On Mon, Jan 14, 2019 at 9:26 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2019-01-14 18:17] rexagod commented on #4607
In context of this week's check-in theme, I opened up three new `fto`s today at [Editor's 232](https://github.com/publiclab/PublicLab.Editor/issues/232), [Editor's 231](https://github.com/publiclab/PublicLab.Editor/issues/231), and [Image-Sequencer's 672](https://github.com/publiclab/image-sequencer/issues/672). Kudos to the PublicLab community and everyone constantly working hard to open new `fto

[2019-01-14 18:21] oorjitchowdhary commented on #4607
Also, just a suggestion.. I created the 'good first issue' label today for plots2..
Let's start 'good first issue' label from this week as GitHub has a special feature for 'good first issue' and 'help wanted' labels..
These let people discover repos..

[2019-01-14 18:37] SidharthBansal commented on #4344
@IshaGupta18 please complete the remaining work.

[2019-01-14 18:48] SidharthBansal commented on #3340
@Dsxv I am really sorry. Actually we want all the errors to be produced on the pl.org. @Dsxv you can work on that also if you want.

[2019-01-14 19:29] jywarren opened #4617 "Image upload doesn't begin on note comment"
[Ed Mallon](https://publiclab.org/profile/EdMallon) reports a comment image bug on this page:

https://publiclab.org/notes/EdMallon/02-11-2014/an-arduino-based-underwater-sensor-platform#c21724

EdMallon wrote:

[2019-01-14 19:30] jywarren commented on #4617
Drag and drop seems to work, but the "choose one" link does not, in the bottom of the comment input form:

`Drag & drop to add an image or file, or choose one`

![image](https://user-images.githubusercontent.com/24359/51135827-ee665680-1808-11e9-8c68-ed26ecf6e09d.png)

[2019-01-14 19:34] SidharthBansal commented on #4344
@IshaGupta18 can you open up a follow up PR for following:
- [ ] https://github.com/publiclab/plots2/pull/4555#issuecomment-453856282
- [ ] https://github.com/publiclab/plots2/pull/4555#issuecomment-453856505
- [ ] add screenshots/gifs for demonstrating the functionality.
- [ ] Should not show the button in case no tags are present on the pop over of the button
I think we can complete this in 5-10

[2019-01-14 19:38] gauravano commented on #4616
I will work on this. Also, /comments link is currently visible to everyone. Do you like it to be seen only by mods or it's fine @jywarren?

Thanks!

[2019-01-14 19:41] IshaGupta18 commented on #4344
Yes most definitely, I will try to be as quick as I can, I totally
understand the situation. I will get to it as soon as my college gets over
tomorrow. Thanks a lot everyone!

On Tue, Jan 15, 2019, 1:04 AM Sidharth Bansal <notifications@github.com
wrote:

[2019-01-14 19:51] gauravano commented on #4607
Thanks @oorjitchowdhary for working with labels. Also, I would suggest reviewers to assign a contributor to issue whenever someone claims it and remove `help wanted` label too for that time, so that newcomers can find un-assigned issues easily.

**Week's plan**
1. I would work on Translation project this week - https://github.com/publiclab/plots2/projects/9
2. Would work on solving the tasks I ass

[2019-01-14 20:32] #4456 closed

[2019-01-14 20:33] #4311 closed

[2019-01-14 20:39] jywarren commented on #4323
Oh goodness, i'm sorry - i misformatted them in the `environment.sh` file. Fixed and should work now... can you test?

[2019-01-14 20:41] jywarren commented on #4168
Aha - so, this is run from Features, in the database (see the DATA_MODEL.md docs file). I've now changed it from the interface at /features.

Thank you!!!

[2019-01-14 20:41] #4168 closed

[2019-01-14 20:51] jywarren commented on #3498
Hi @cesswairimu !! I was thinking of a potential task we could add to the end of the list, if you have time at the end, or if people joining in later may want to carry your work forward;

We're starting to really accelerate getting people to subscribe to different tags. These are with `tag_selection` and are via the "Subscribe" links everywhere. What if we made a graph of the rate of subscribers 1

[2019-01-14 20:52] SidharthBansal commented on #4323
Right now
![image](https://user-images.githubusercontent.com/20972099/51140368-5e59f880-186c-11e9-97d6-ebc22638fe3a.png)

[2019-01-14 20:52] SidharthBansal commented on #4323
Do we need to push changes to unstable or do you need to rebuild it?

[2019-01-14 20:53] SidharthBansal commented on #4168
Thanks Jeff

On Tue, Jan 15, 2019 at 2:11 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-01-14 20:56] SidharthBansal commented on #3498
I really loved the idea Jeff. :heart:  :tada:
You can start with this Cess.

[2019-01-14 21:00] SidharthBansal commented on #4585
Hi
@tsparksh  @faithngetich @DakshGondaliya @mohitRJranjan @milaaraujo @kevinzluo
@stefannibrasil @gauravano @ViditChitkara @tech4GT @mridulnagpal @namangupta01 @sagarpreet-chadha @Souravirus @jywarren @MayankKashyap @siaw23 @ryzokuken @ccpandhare @icarito @steviepubliclab @ebarry @jywarren, @sagarpreet-chadha, @icarito, @JonathanXu1, @uzorjchibuzor, @eli6, @kevinzluo, @ValentinaTironi, @rexagod,

[2019-01-14 21:02] SidharthBansal commented on #4585
@narnt @hydro-m @love-opensource @romanrodriguez @shubhangi-chauhan @Dhiraj240 @geekychaser @codeIriss @CoderJolly
who all will be willing to mentor?
I mentioned you all as for some of you it is difficult to see this call for mentors in list of 500 issues.
Please leave a comment soon so that mentors can assign projects to themselves and start working on the projects. It will be great if you can te

[2019-01-14 21:33] SidharthBansal commented on #3008
I was just going to write this comment. lol. You are quicker than me. Let's do it like you said.
So we can build 2 ftos from this. Great.
@geekychaser you asked in #4131 to create some `first timers only`. Can you please create 2 issues for this?
Thanks all.

[2019-01-14 21:49] jywarren commented on #4323
Yes, sorry we should rebuild it. Doing that now.

On Mon, Jan 14, 2019 at 3:53 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-01-14 21:50] jywarren commented on #3008
😁🙌

On Mon, Jan 14, 2019 at 4:34 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-01-14 21:51] jywarren commented on #4344
Thanks, we appreciate it! No worries however; we will not publish to
production until after, unless we resolve the OAuth bug before then.

On Mon, Jan 14, 2019 at 2:41 PM Isha Gupta <notifications@github.com> wrote:

[2019-01-14 21:51] jywarren commented on #4616
I believe it doesn't show unmoderated comments to non-mods... isn't that
right? I always forget this. :-P

On Mon, Jan 14, 2019 at 2:38 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-14 21:58] EKMallon commented on #4617
On my windows system, drag & drop gives a simmilar behavior.  A + symbol appears with the world "copy" when you drag the icon of the image from windows explorer into the thread, but an upload does not initiate when you release the mouse button. Image is a jpeg from photoshop, 135 KB (139,258 bytes) on my local hard disk.

[2019-01-14 22:00] gauravano commented on #4616
@jywarren I just checked

[code]

Currently, it shows all spammed comments to moderators and normal comments to users. So, comments which are in moderation are not shown to anyone. I would add the links on page so that moderators can view categorically. Thanks!

[2019-01-14 22:01] EKMallon commented on #4617
Interestingly I was able to change the photo at the beginning of the research note, but I had to go into the "legacy upload" section to do it... makes me wonder if there is some kind of security setting at my end. Same problem in chrome and explorer...

[2019-01-14 22:03] SidharthBansal commented on #4323
Build has not started yet. Is it normal build like I do on the unstable or different?

[2019-01-14 22:03] SidharthBansal commented on #4323
I may be mistaken

[2019-01-14 22:05] gauravano commented on #4323
Build has started - unstable.publiclab.org :)

On Tue, Jan 15, 2019 at 3:33 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-01-14 22:12] jywarren commented on #4607
This sounds good @oorjitchowdhary -- just let's not forget to also use `first-timers-only` as it means something even more specific. Great!!

[2019-01-14 22:14] jywarren commented on #4607
Liz posted the community survey here today: https://github.com/publiclab/plots2/issues/4614 🎉

@Rishabh570 would you mind putting it somewhere prominent?

Shall we add it temporarily to the Welcomebot configs? I'll pin it too.

[2019-01-14 22:15] SidharthBansal commented on #4323
Gaurav thanks.
Gaurav I have a doubt. Sometimes we get message at the gitter about `build
has started by jywarren` whenever anyone pushes code on unstable. But
currently I am not able to see any such message when jywarren himself
started the build on gitter channel.
Can you help me with this? May be I am wrong at some point

On Tue, Jan 15, 2019 at 3:35 AM Gaurav Sachdeva <notifications@github.com

[2019-01-14 22:17] EKMallon commented on #4617
Tried to add public lab to the allow lists, but it still shows cookies as being blocked in chrome?  Same no-uploads behavior in a new copy of firefox I just downloaded and installed.

also: the "preview"  also does not appear to do anything on all three browsers either...

[2019-01-14 22:17] jywarren commented on #4614
Just pinging @mardelvalle @narnt @hydro-m @love-opensource @romanrodriguez @shubhangi-chauhan @Dhiraj240 @geekychaser @codeIriss @CoderJolly on this survey as GitHub has a limit of mentions!

@HarshKhandeparkar, @Mridul97, @aashna27, @jywarren, @dependabot-bot, @lakshyabatman, @slasher17, @IshaGupta18, @kunalvaswani123, @SidharthBansal, @milaaraujo, @oorjitchowdhary, @gauravano, @geekychaser, @tro

[2019-01-14 22:18] gauravano commented on #4607
Yes, adding it to welcome bot would surely give more attention to the survey.

[2019-01-14 22:20] jywarren commented on #4614
This is so important. Thank you all and please help get the word out to our community to get a good representative portrait -- we will learn so much about whether we have been successful in welcoming people and building an inclusive community.

[2019-01-14 22:22] SidharthBansal commented on #4323
Oh we gitter shows it today with some delay. Sorry for the trouble.

[2019-01-14 22:47] jywarren commented on #4323
Ah, i actually have a login to Jenkins and restarted it there instead of
pushing to trigger it. So maybe that's why.

On Mon, Jan 14, 2019 at 5:27 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-14 23:31] jywarren commented on #4110
Sure, that sounds good!

On Sun, Jan 13, 2019 at 12:07 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-01-14 23:32] gauravano commented on #4609
Yes, all the issues #4522 #4569 and this one all are interconnected and same. This one just highlights on the API issue too.

The issue is some users are not able to login via any way. When they try login/signup form alert is shown that user is banned. And, when those same user try OAuth, a alert comes up saying "Signed In" but in reality they were'nt signed in which is found while having a Gitter

[2019-01-14 23:34] gauravano commented on #4569
Closing this one as it's just same issue as #4522. Thanks all!

[2019-01-14 23:48] jywarren commented on #4522
Hi @gauravano i want to reserve this issue for this also-important problem in development:

![image](https://user-images.githubusercontent.com/24359/51148626-f33d0180-182c-11e9-8af5-845c53f0645f.png)

But I don't think it's exactly the same (although it may be related to it) as #4569.

[2019-01-14 23:50] jywarren commented on #4569
I'd like to re-open this and carefully collect additional info on it to try to reproduce. I've been puzzling on it for a while, but can't reproduce. Can people note:

1. what page they were on when they started
2. what they pressed to get the login form
3. what page they were redirected to,
4. did they see the `Signed In` message
5. did they still see `Login` and `Signup` even after refreshing the

[2019-01-14 23:51] jywarren commented on #4609
Hi, thanks - can you clarify what you mean by `@jywarren's profile wasn't returned in the output payload, is this a bug?`?

[2019-01-15 00:00] jywarren commented on #4569
I've logged in from https://publiclab.org using Twitter and GitHub, both to `warren` account, without issues.

I logged in using username/pwd for account `tester` without problems.

[2019-01-15 00:00] gauravano commented on #4522
how about trying to logging in as banned user via OAuth, if it shows the "signed in" message without actually being logged in then it means it is same banned user problem and we are showing wrong alert in OAuth case.

[2019-01-15 00:01] gauravano commented on #4522
Actually, i have an extra gmail accound, trying now.

[2019-01-15 00:04] ebarry commented on #4569
I logged in from the homepage dropdown menu option to Login, using an incognito tab in Chrome, and everything worked fine.

Separately, it's kind of funny that i have a hard time logging out of a regular tab in Chrome, it just redirects me to the homepage with an error banner that says "you have to be signed in to see this page" but i am still signed in.

[2019-01-15 00:07] jywarren commented on #4569
Hi, Liz, can you file that as a separate issue please? Thanks!

I tested using a throwaway Facebook account and was directed to
https://publiclab.org/?_=1547510492# with the message `Signed in` but i was
not signed in. This seems to replicate the issue.

On Mon, Jan 14, 2019 at 7:05 PM Liz Barry <notifications@github.com> wrote:

[2019-01-15 00:12] gauravano commented on #4569
Hey @jywarren @ebarry I reproduced this error of OAuth - https://drive.google.com/open?id=1w9tc4kIkoLJ5tvceoyQ1-kO_yug2pMDR

As I commented in #4522, this error is due to banned user accounts. And, I guess this is what we are looking for. Thoughts?

[2019-01-15 00:15] jywarren commented on #4522
Hi, @gauravano that sounds promising, but how do you know this? Can you walk us through the code to demonstrate this?

[2019-01-15 00:30] jywarren commented on #4522
https://github.com/publiclab/plots2/blame/master/app/models/user.rb#L401-L417

[2019-01-15 00:33] milaaraujo commented on #4560
I guess so! But it is just a suggestion, we can think about it in the future. :)

[2019-01-15 00:42] jywarren commented on #4522
We need to fix the notice delay too, how is notice passed on this line?  see https://github.com/publiclab/plots2/blob/master/app/controllers/user_sessions_controller.rb#L58

[2019-01-15 00:45] jywarren commented on #4522
Checklist:

* [x] test status on oauth creation
* [ ] confirm fix on oauth creation status
* [ ] address delayed notice with `flash.now[...]` but see above link to how notice is passed...?
* [ ] figure out if and how already-existing users got banned?
* [ ] figure out how to unban lots of people? most since the `drupal_users` merge who do not have otherwise spammed content like comments or posts.

[2019-01-15 00:49] jywarren commented on #4522
Aha - the synchronization code did not apply on initial creation, esp via `create_with_omniauth`! https://github.com/publiclab/plots2/pull/2157/files

OK, so perhaps: people had accounts but they'd created them via OAuth, and actually had `status = 0` (banned) from the start. But we only checked their matching `DrupalUsers.status`, which was 1 (not banned). But once we deprecated DrupalUsers code,

[2019-01-15 00:52] jywarren commented on #4522
i bet login check was wired in https://github.com/publiclab/plots2/blame/master/app/controllers/application_controller.rb#L77
AHA! yes! https://github.com/publiclab/plots2/blame/2e33bcb229e77cf4994487a8d9439ce784dc09f8/app/controllers/application_controller.rb#L77
ok great

[2019-01-15 00:54] jywarren commented on #4522
so we can filter by the user.password_checkerfield to see who is OAuth-created, because of https://github.com/publiclab/plots2/blob/master/app/models/user.rb#L407

[2019-01-15 01:07] jywarren commented on #4522
OK, we've run:

[code]

[2019-01-15 01:07] jywarren commented on #4522
Please check if you're able to log in now!

[2019-01-15 02:07] SidharthBansal commented on #4614
Filled it. Thanks

On Tue, Jan 15, 2019, 3:47 AM Jeffrey Warren <notifications@github.com
wrote:

[2019-01-15 02:10] jywarren commented on #4522
Reopening for a few follow-up steps:

* 4151819 should not have passed if it's really testing what we were hoping for, so I'd like to re-examine
* I forgot that the solution above doesn't exempt people with no comments... probably doesn't make a difference but i want to think through it carefully to be sure

Thanks @gauravano ! Pushing to stable too.

[2019-01-15 02:12] oorjitchowdhary commented on #4614
Filled it up.. Thanks 😃

[2019-01-15 02:21] CoderJolly commented on #4614
Sure, Filled it ....Thanks 👍

[2019-01-15 02:45] SidharthBansal commented on #4585
Its Sidharth

On Tue, Jan 15, 2019, 7:57 AM Atibhi Agrawal <notifications@github.com
wrote:

[2019-01-15 02:46] SidharthBansal commented on #4585
Atibhi are you willing to be a mentor?

On Tue, Jan 15, 2019, 8:15 AM Sidharth Bansal <bansal.sidharth2996@gmail.com
wrote:

[2019-01-15 02:47] Rishabh570 commented on #4607
@jywarren Welcome bot would surely give it more exposure...can we add it temporarily to `code.publiclab.org`? That can help too I think.

[2019-01-15 04:34] icarito commented on #3404
It looks like the `whenever` runner is not finding the gems, because cron gives it a clean environment ( without some environment variables we need ). I've attempted a fix with https://github.com/publiclab/plots2/pull/4619/commits . How do you test it?

[2019-01-15 06:14] kunalvaswani123 commented on #4614
Filled it .. Thanks :+1:

[2019-01-15 06:15] uzorjchibuzor commented on #4614
Filled it! 👍

[2019-01-15 06:47] codeIriss commented on #4614
Filled it! 😊

[2019-01-15 06:59] codeIriss commented on #4585
Hey Sidharth Bansal and jywarren , I would love to be a participant this time. Thanks

[2019-01-15 07:20] Paarmita commented on #4585
Hey @SidharthBansal, I would love to be a part of GSoc'19 mentors. Please let me know what needs to be done.

[2019-01-15 07:41] rbhatia46 commented on #4585
Hello @SidharthBansal, I would like to be a mentor as well.

[2019-01-15 07:52] SidharthBansal commented on #4585
Awesome folks

On Tue, Jan 15, 2019, 1:11 PM Rahul Bhatia <notifications@github.com wrote:

[2019-01-15 08:21] oorjitchowdhary commented on #4585
I'm in too.
But am I eligible for mentoring? Being under 18?
I think participants is 18+.. Don't know about mentoring

[2019-01-15 09:07] Dhiraj240 commented on #4585
Alright, count me in for the same and i really need this.

[2019-01-15 09:22] SidharthBansal commented on #4585
At a time either a person can be a GSoC mentor OR a student. If you are
commenting here this means you are sure to be mentor.

Dhiraj great to see you as a mentor.
Oorjit can you please check GSoC official guidelines?

On Tue, Jan 15, 2019, 2:37 PM Dhiraj Sharma <notifications@github.com wrote:

[2019-01-15 09:59] lakshyabatman commented on #4614
Thanks! Filled it :)

[2019-01-15 10:02] tech4GT commented on #4614
Done :)

[2019-01-15 10:22] sagarpreet-chadha commented on #4614
Filled :+1:

[2019-01-15 10:44] IshaGupta18 commented on #4614
Done :+1:

[2019-01-15 11:07] IshaGupta18 commented on #4344
Hey @SidharthBansal  could you please tell me how to check if a node has been liked or not? Also, I was thinking about the design aspect, I can remove the light blue design and put the grey and dark blue one, but wouldn't that be redundant with the tag list in sidebar?

[2019-01-15 11:10] SidharthBansal commented on #4344
Let's first make this button working. Then we will discuss further.
Colors needs to be same throughout the website because they indicate
feature listed at many created wiki pages

On Tue, Jan 15, 2019, 4:37 PM Isha Gupta <notifications@github.com wrote:

[2019-01-15 11:11] rexagod commented on #4614
Done.

[2019-01-15 11:15] IshaGupta18 commented on #4344
Oh okay...

[2019-01-15 11:20] IshaGupta18 commented on #4344
The problem I am facing now is changing names to tagnames in the controller results in displaying the names of tags instead of :names in the notification on subscription but then the tests fail... what do I do about that?

[2019-01-15 11:30] SidharthBansal commented on #4344
Please update your master. Your master is behind plots2 master.

On Tue, Jan 15, 2019, 4:59 PM Sidharth Bansal <bansal.sidharth2996@gmail.com
wrote:

[2019-01-15 11:31] IshaGupta18 commented on #4344
I have updated it I think.

[2019-01-15 11:36] vladdypwnz commented on #4609
Hey there, newcomer to the codebase. Just added a commit(#4615) for first-timers-only and managed to host and run public lab locally. When I try to login in with any of the following usernames indicated in the installation process(user, moderator, admin), I get the `User 'user' is banned` message.

Maybe this helps pinpoint the problem further ?
Hope it helps.

[2019-01-15 11:52] rexagod commented on #4609
I was fiddling with the API for some reason when I noticed that your profile didn't come up here [`https://publiclab.org/api/srch/profiles?query=warren`](https://publiclab.org/api/srch/profiles?query=warren), but it does here, [`https://publiclab.org/api/srch/profiles?query=jywarren`](https://publiclab.org/api/srch/profiles?query=jywarren). Note that this didn't occur for any other user I tested i

[2019-01-15 12:18] CoderJolly commented on #4585
I would like to be a student...Thnks

On Jan 15, 2019, 2:52 PM, at 2:52 PM, Sidharth Bansal <notifications@github.com> wrote:

[2019-01-15 12:54] aSquare14 commented on #4585
Yes, I am willing to be a mentor @SidharthBansal . Sorry for misspelling your name earlier.

[2019-01-15 13:02] aSquare14 commented on #4614
Done!

[2019-01-15 13:31] shubhscoder commented on #4614
Done !

On Tue, Jan 15, 2019, 6:32 PM Atibhi Agrawal <notifications@github.com>
wrote:

[2019-01-15 13:31] dinaelhanan commented on #4614
Done 👍

[2019-01-15 14:05] IshaGupta18 commented on #4344
So I tried doing this so that I didn't have to change :names to :tagnames and the test would keep passing:
![image](https://user-images.githubusercontent.com/40794215/51185198-7a0cdf80-18fc-11e9-83cc-73c2c401fb0d.png)

params[:names] now contains the right values and the code works, BUT the tests still don't pass.

[2019-01-15 14:08] Rishabh570 commented on #4614
Done.

[2019-01-15 14:12] ebarry commented on #4614
Thank you all so much and please keep the responses coming!

[2019-01-15 14:13] Mridul97 commented on #4614
Filled! :+1:

[2019-01-15 14:15] gauravano commented on #4614
Done!

[2019-01-15 14:31] bhavayAnand9 commented on #4614
Done! :)

On Tue, Jan 15, 2019, 7:01 PM d1g1t4ld1n4 <notifications@github.com wrote:

[2019-01-15 14:37] Divy123 commented on #4614
Done!

[2019-01-15 14:37] geekychaser commented on #4614
Done! :smile:

[2019-01-15 14:52] jywarren commented on #4521
I believe this will be resolved if we fix https://github.com/publiclab/plots2/pull/4575, which would require a rewrite of the form error reporting. I'm going to open a new issue for that and close this one. Thank you for reporting!!!

[2019-01-15 14:52] #4521 closed

[2019-01-15 14:57] jywarren opened #4622 "Refactor old `error_messages` usage in form helpers"
I found some very old code in #4575 which I removed, but realized that we still use the `f.error_messages` code in our form error templates; you can see it in all these search results:

https://github.com/publiclab/plots2/search?q=error_messages&unscoped_q=error_messages

Errors should instead be in format:

[code]

I believe this will resolve https://github.com/publiclab/plots2/issues/4521 as wel

[2019-01-15 14:57] jywarren commented on #4622
If you'd like to take this up, please use the plugin removal in #4575 as a starting point for your changes! Thank you!!!

[2019-01-15 15:00] jywarren commented on #4522
Confirmed this works on stable -- though i had to manually redirect myself back to stable.publiclab.org!

[2019-01-15 15:05] jywarren opened #4624 "Resolve deprecation warning in preparation for Rails 6 (eventually)"
Travis reports this warning several times:

[code]

I believe we should wrap `term_data.tid` as recommended, like `Arel.sql(term_data.tid)` but am not 100% sure. This should make our test reports much more readable!

https://travis-ci.org/publiclab/plots2/builds/479677570#L3230

[2019-01-15 15:07] jywarren commented on #4624
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2019-01-15 15:08] jywarren commented on #4569
Believe this is now resolved in #4522 and #4618!

[2019-01-15 15:08] #4569 closed

[2019-01-15 15:13] jywarren commented on #4609
Hi, all! I believe I've found that after the `DrupalUsers` upgrade, we aren't explicitly setting status in the seeds file. I've made a change here: https://github.com/publiclab/plots2/pull/4625

You should be able to run `rake db:seed` to add these, though you may need to clear your database first. Thanks, i hope this helps!

[2019-01-15 15:21] jywarren commented on #4522
OK and reattempting the test failure worked!

[2019-01-15 15:30] jywarren commented on #4522
Only 6 ppl got through my filter due to the comments mistake; `["rinkithakur19923", "abusaud23", "rbhatia46", "vladlenariston", "serafimrostiw", "rahamath_prizm"]` - one is for sure a real person. All are status = 1 now. Removing the others as I checked their comments and they are spam.

[2019-01-15 15:35] jywarren commented on #4522
Now we just need to be sure we address:  `address delayed notice with flash.now[...] but see above link to how notice is passed...?`

[2019-01-15 15:37] jywarren commented on #4522
@gauravano would you mind taking a look at this last piece?

[2019-01-15 15:48] SidharthBansal commented on #4344
I am sorry to inform you that your branch is not synced with master. Check https://github.com/publiclab/plots2/blob/808e83eee83e4f97a1e0ce86e75b36fa991ce4ef/app/controllers/subscription_controller.rb#L122 and your above screenshot.
Also you don't have to do anything with controller or tests. They are correct.

[2019-01-15 15:58] IshaGupta18 commented on #4344
Yes I know that, right now I am on #4344multitag brnach and not master, probably why it's showing that way. So what do I do about the :names thing?

[2019-01-15 15:59] IshaGupta18 commented on #4344
Or that has been fixed and is okay?

[2019-01-15 16:02] IshaGupta18 commented on #4344
I have synced it now. Should I implement the rest of the changes and make a new PR for that now?

[2019-01-15 16:06] IshaGupta18 commented on #4344
It is still showing:

![image](https://user-images.githubusercontent.com/40794215/51192881-8baab300-190d-11e9-9c47-30e2fff70833.png)

[2019-01-15 16:10] cesswairimu commented on #4607
Hey everyone!
* In the spirit of welcoming newcomers I broke up some issues in my project but they are still not good ftos so I will be breaking them further and adding more step-by-step info on them later today.
* Just a suggestion, maybe we can have an issue for installations where anyone stuck with installing and local setup can ask for help and other newcomers can refer incase they get a simil

[2019-01-15 16:19] SidharthBansal commented on #4344
Update master. Make a new branch from master. Make a new PR with changes in
the view files. No need to change any test nor controller function. You
have to change code in views so that functionality works fine.
I hope I am crystal clear.

On Tue, Jan 15, 2019, 9:36 PM Isha Gupta <notifications@github.com wrote:

[2019-01-15 16:44] cesswairimu commented on #4614
Just filled it. Thanks

[2019-01-15 16:57] rbhatia46 commented on #4614
Completed! :)

[2019-01-15 17:10] rexagod commented on #4607
Hello @cesswairimu! Let me know if you need any help in JS, I'll be happy to help! :smile:

[2019-01-15 17:48] dewanhimanshu commented on #4607
Hello everyone .I would like to contribute to community.

[2019-01-15 17:55] #4609 closed

[2019-01-15 18:13] rockstar777 commented on #4614
Filled it. Thanks

[2019-01-15 18:22] cesswairimu commented on #4607
Thanks @rexagod will do

[2019-01-15 18:31] IshaGupta18 commented on #4344
So #4626 is my pull request for the changes you have asked me to do! Kindly have a look at them, gifs have been attached. I hope all goes well! Thanks a lot! PS: if everything goes well, I would love to start creating FTOs (#4131 ) on this, and I think I would be able to do it because I am well aware of the code in this issue, will that be okay @SidharthBansal ? Thank you so so much for your guida

[2019-01-15 19:02] gauravano commented on #4522
@jywarren I will take a look at the alert part. Thanks!

[2019-01-15 19:06] jywarren commented on #4609
Can folks check back in here with whether this worked? Thanks!

[2019-01-15 19:07] SidharthBansal commented on #4344
Let's complete the PR first. Don't hurry up. Haste makes waste.

On Wed, Jan 16, 2019, 12:01 AM Isha Gupta <notifications@github.com wrote:

[2019-01-15 19:21] rexagod commented on #4609
It's working @jywarren. Thanks!

[2019-01-15 19:36] SidharthBansal commented on #4585
Bhavay please read the issue body and complete the requirements.

On Wed, Jan 16, 2019, 12:11 AM Rishabh Bothra <notifications@github.com
wrote:

[2019-01-15 19:45] sagarpreet-chadha commented on #2254
On it 👍 !

[2019-01-15 19:57] gauravano commented on #4607
@cesswairimu we already have a issue for discussing installation queries - https://github.com/publiclab/plots2/issues/3840

[2019-01-15 20:08] gauravano opened #4627 "Localize the date and time across website"
We currently use only translate method of i18n to translate. We can also use the localize method for date and time conversion to better help the users.

Refer: https://guides.rubyonrails.org/i18n.html#the-public-i18n-api

@jywarren I would take a dig at this part after completing translate part. Thanks!

[2019-01-15 20:37] SidharthBansal commented on #4131
Here is template to ftos.
https://docs.google.com/document/d/1dO-CAgModEGM5cOaMmcnBh2pEON0hv_rH3P2ou2r1eE/edit

You can use this template to write `first timer only` issues. Conversation will be here if you face problem in creating them.

@IshaGupta18 you can add subscribe button next to tags shown on the blog page. Can you create fto for this once we complete #4626.

@geekychaser once @IshaGupta1

[2019-01-15 20:42] IshaGupta18 commented on #4131
Absolutely!

[2019-01-15 20:43] SidharthBansal commented on #4131
@IshaGupta18 please read it once more. I need to edit it due to some reasons. Sorry

[2019-01-15 21:22] SidharthBansal commented on #4131
@IshaGupta18 let's have a quick pr merge for the Subscription button next to Topics on the dashboard as per https://github.com/publiclab/plots2/issues/4131#issuecomment-454542075

[2019-01-15 21:23] SidharthBansal commented on #4131
Please merge the latest master(#4626) into your master and make a new branch for these changes.

[2019-01-15 21:24] #4344 closed

[2019-01-15 21:31] SidharthBansal commented on #4131
Please use emoticons(:+1: ) from next time. We want shorter conversations.

[2019-01-15 21:38] rexagod commented on #4607
Hi @dewanhimanshu! You can go ahead and start contributing by picking one of the [`first-timers-only`](https://github.com/publiclab/plots2/issues?q=is%3Aopen+is%3Aissue+label%3Afirst-timers-only) issues of the repository.

Welcome to the Public Lab community. Cheers!

[2019-01-15 22:39] jywarren commented on #4627
oh wow, cool!

On Tue, Jan 15, 2019 at 3:09 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-15 22:42] jywarren commented on #3498
Hooray!!!

On Tue, Jan 15, 2019 at 12:13 PM Cess <notifications@github.com> wrote:

[2019-01-15 22:59] gauravano commented on #3262
I have started with Translation prompts and here's the progress:
![translate3](https://user-images.githubusercontent.com/20878070/51215514-2e335800-1947-11e9-85b3-e2fdae96930d.gif)

Suggestions?

[2019-01-15 23:05] jywarren commented on #2254
lets also hear from @milaarauja to be sure we're on track here! thanks!!!

On Tue, Jan 15, 2019 at 2:46 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-01-15 23:20] jywarren commented on #4614
@shivani-kapania @aashna27 @StlMaris123 @cheneyshreve @roshniRam @tsparksh @Codeama @Kanikashrivastav @seafr @petersowah @rafael-acerqueira @codeIriss @BrainBuzzer @shelbyfirebaugh @sandyvern @carolineh101 @edieblu @lilliankorinek @pyluftig @toyblox @chanjess @msarit @blancasnz @emctackett @haleymnatz @embh @krys2fa @supasheva @gyi2521 @rachaelkiteme @noordean @kryptc @ruan-brandao @chitra591 @gee

[2019-01-16 05:51] SidharthBansal commented on #4585
@shivani-kapania @aashna27 @StlMaris123 @cheneyshreve @roshniRam @tsparksh @Codeama @Kanikashrivastav @seafr @petersowah @rafael-acerqueira @codeIriss @BrainBuzzer @shelbyfirebaugh @sandyvern @carolineh101 @edieblu @lilliankorinek @pyluftig @toyblox @chanjess @msarit @blancasnz @emctackett @haleymnatz @embh @krys2fa @supasheva @gyi2521 @rachaelkiteme @noordean @kryptc @ruan-brandao @chitra591 @gee

[2019-01-16 06:44] sashadev-sky commented on #4614
@jywarren Completed :) thank you

[2019-01-16 07:04] sashadev-sky commented on #4585
I would love to be a mentor with public lab.

My completed requirements:
1) [solved FTO](https://github.com/publiclab/image-sequencer/pull/413)
2) [solved help-wanted](https://github.com/publiclab/plots2/pull/4041)
3) [create a FTO ](https://github.com/publiclab/plots2/issues/4113)

Please let me know if  there is anything else you need. Thank you!

[2019-01-16 07:11] sashadev-sky commented on #4585
@jywarren the link to the cross-post you provided is rendering an error page for me:
<img width="888" alt="screen shot 2019-01-16 at 2 09 43 am" src="https://user-images.githubusercontent.com/41092741/51232147-e7883280-1933-11e9-862e-b5a6b8bc1aec.png">

[2019-01-16 07:32] Souravirus commented on #4585
Hi everyone I also want to be a mentor of GSoC 2019

[2019-01-16 07:40] Souravirus commented on #4614
I have completed the survey. Thank you!!

[2019-01-16 07:45] trompj commented on #4614
Finished it! Thank you.

[2019-01-16 08:41] edieblu commented on #4614
Done! 👍

[2019-01-16 10:12] #4242 closed

[2019-01-16 10:31] SidharthBansal commented on #4322
You can tell the text we will turn it into fto.

[2019-01-16 13:02] Dhiraj240 commented on #4614
Sorry for delay done :+1:

[2019-01-16 14:50] jywarren commented on #4323
Hmm, the testing one is supposed to work identically but to return success
no matter what. Is it not working? If not, we can try issuing a real key
for just testing.

On Wed, Jan 16, 2019, 5:29 AM Sidharth Bansal <notifications@github.com
wrote:

[2019-01-16 15:15] shivani-kapania commented on #4614
Done! 👍😄

[2019-01-16 15:42] vladdypwnz commented on #4609
Hey, I'm getting the following error after running `rake db:seed`.

`ActiveRecord::RecordInvalid: Validation failed: Email has already been taken, Username has already been taken, That username is already taken. If this is your username, you can simply log in to this site.
`

Any ideas?

[2019-01-16 15:48] Rishabh570 commented on #4614
Hi all, how about showing the survey on `code.publiclab.org` for some time? Something like this,

![screenshot from 2019-01-16 21-14-39](https://user-images.githubusercontent.com/25483260/51260268-f2929f80-19d3-11e9-8142-bbbcd84bbf5b.png)

[2019-01-16 15:48] jywarren commented on #4609
Ah, I think you may need to flush your database as they wouldve been
already created the first time. Is there maybe a simple command to flush?

On Jan 16, 2019 10:43 AM, "Vlad" <notifications@github.com> wrote:

Hey, I'm getting the following error after running rake db:seed.

ActiveRecord::RecordInvalid: Validation failed: Email has already been
taken, Username has already been taken, That userna

[2019-01-16 15:50] vladdypwnz commented on #4609
I dumped and created my db again but the rake db:seed didn't worked for me. In any case, I can now login with user "user".

[2019-01-16 16:05] Rishabh570 commented on #4614
If it looks fine I can open a PR for it...

[2019-01-16 16:23] ebarry commented on #4614
Sure! you could add something like, "The form will remain open until early March, but don't wait to respond!"

[2019-01-16 16:40] Rishabh570 commented on #4614
I've merged my [PR](https://github.com/publiclab/community-toolbox/pull/130) regarding this...@jywarren can you put it on gh-pages? Thanks!

[2019-01-16 16:50] jywarren commented on #4614
![image](https://user-images.githubusercontent.com/24359/51264605-e9c6ad00-1984-11e9-8ab6-361e8f228aea.png)

Done! (addded button style) Thanks, great work!

[2019-01-16 17:21] jywarren opened #4632 "use return_to to smooth Signup + Subscribe process"
@IshaGupta18 and @SidharthBansal - i am SO IMPRESSED by this new feature!

![image](https://user-images.githubusercontent.com/24359/51266294-da496300-1988-11e9-81af-475a75a8462c.png)

It's amazing.

I wanted to file a suggestion for another additional improvement, and hear your thoughts. I think you did discuss this already -- but my thought on the flow here is that we could actually show the abov

[2019-01-16 17:41] geekychaser commented on #3008
@SidharthBansal Yes i would love to create these ftos.
thank you

[2019-01-16 17:41] gauravano commented on #4323
Issuing a separate real key for testing would be nice.

On Wed, Jan 16, 2019 at 8:56 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-01-16 17:43] SidharthBansal commented on #4632
You will be more impressed when you will see how the function is made and will be divided into ftos to increase more collaborators at PL. I bet I will atleast involve 20 NEW contributors in this project. :tada: My MAIN goal is increase number of collaborators here, even though it takes 3x work while distributing work as compared to doing it ourselves. More collaborators can help us in opening hack

[2019-01-16 17:44] SidharthBansal commented on #4632
If you wish to display them without checked items if user is not logged in then I can merge the changes really quickly. It is just 2-3 lines of code.

[2019-01-16 17:46] SidharthBansal commented on #4632
Also,  I have written 3 tests for the controller function which I implemented. Isha knows how powerful they were when she tried to play with anything in that action.
I will writing 2 tests more to make it bullet proof shortly.

[2019-01-16 17:48] IshaGupta18 commented on #4632
Yes I think we discussed it, that was coming up as a problem. If you want, I can make the required changes @SidharthBansal . Thank you so much @jywarren for the appreciation, it feels really good and it is very motivating. Like @SidharthBansal said, I too am very excited in creating FTOs for this issue and expand our community to the best. Yes, your tests were brilliant in ensuring the functionali

[2019-01-16 17:51] jywarren commented on #3262
Cool! Are the icons in `<i class="fa fa-globe"></i>` format? I think that'd make them a bit more inline, vertically aligned. We could make them quite light, like `#bbb` color maybe? And a Bootstrap tooltip style is a little nicer looking than the default tooltip.

This is looking really cool though! Sometimes I wonder if very tiny words like `by` may not be worth it, as it kind of disrupts the flo

[2019-01-16 17:55] SidharthBansal commented on #3008
Awesome. Then let's complete it.
This will be a BIG Project for you. You have to monitor activity of all the collaborators working on the ftos created by you. Will you be able to do it? I saw you did large number of tasks. So, next task is to help others at PL.
This is the workflow for this project.
Step 1: Understand the functionality of the project
Step 2: Identify all the emails where we need t

[2019-01-16 17:59] gauravano commented on #3262
Yes, it's font-awesome's globe icon. Actually, I intentionally added some spacing so I can remove that. I have added a helper method which replaces translation with a span tag and that tag contains link, icon and tooltip. So, this way we would be able to control all the translations at once. And, we can add a condition like if translated string is less than ___ then, don't show icon.

Any comment

[2019-01-16 17:59] jywarren commented on #3262
Yes, i think they were just from a much older version of the site.

The reasoning had been:

1. easier for newcomers to find a string, and shortens the lookup string when using `t(...)` - i.e. we can use english strings as the lookup keys in a flat file without needing subfolders to be in the string
2. less redundancy if we use the same phrase multiple places
3. easier to skim through to check a l

[2019-01-16 18:00] jywarren commented on #3262
Yep, sorry took me a bit to think through and write it out! Thanks @gauravano !!!

[2019-01-16 18:01] gauravano commented on #3262
No issue :sweat_smile:

[2019-01-16 18:02] SidharthBansal commented on #4632
@IshaGupta18 please open up a pr for it.
You have to
- [ ] display checked checkboxes only if user is logged in.
- [ ] Link requireLogin class to the `subscribe` button on the popover
- [ ] remove the earlier `requireLogin` class.
- [ ] provide the screenshots

[2019-01-16 18:09] IshaGupta18 commented on #4632
Could you tell me what do you mean by the third requirement? Also, checked boxes (ie check boxes which are checked) can only be displayed when the user is logged in because otherwise, the Subscribe button is linked to login modal. Am I wrong here?

[2019-01-16 18:12] SidharthBansal commented on #4632
When the user is not logged in and clicks on the `Subscribe` button then
person should get the popover with no tags checked. Then he ticks some tags
and clicks subscribe. This will result in login modal. User signs in. User
is redirected to the subscription page.
WHen user is logged in. The flow will be the same as we did earlier.

On Wed, Jan 16, 2019 at 11:39 PM Isha Gupta <notifications@github.

[2019-01-16 18:20] geekychaser commented on #3008
Thank you very much, I am ready for the work as mentioned.
can you please guide me more of step2
thank you

[2019-01-16 18:22] SidharthBansal commented on #3008
Right now I built a route /subscribe/multiple/tag/taglist. Taglist is the list of tags separated with commas.
We need to pass the list of tags for the topic for which the email is.
For example the email is from liked page https://publiclab.org/notes/cess/10-24-2018/outreachy-proposal then on clicking on the link1 user will be subscribed to all the tags of that page. Makes sense now?

[2019-01-16 18:41] gauravano commented on #3262
Suppose we combine all the folders and generate 3 yml files of specific languages. Then, those files would be containing keys in nested hash-value form like - https://github.com/svenfuchs/rails-i18n/blob/master/rails/locale/en.yml (this is the form we currently use). If the yml file would exist in this form then we would be retrieving translation using `t(dashboard.dashboard.by)` and so on because

[2019-01-16 20:00] jywarren commented on #4522
Maybe we could write tests here to look for appropriate alert messages for different outcomes like banned status:

https://github.com/publiclab/plots2/blob/f1e8e497c4bc01cf0cb9151578fbfa1bce875c37/test/functional/user_sessions_controller_test.rb#L60-L74

[2019-01-16 21:03] gauravano commented on #3262
I gone through this doc - https://docs.transifex.com/projects/updating-content/#section-automatic-updates which lists various ways to import the translation files. Currently, the translation files present at transifex got there by uploading from a local device(someone's computer). But, for long run we would be using Auto-update method in which we would add URL to our files.

[2019-01-16 21:46] ebarry commented on #4614
thank you @Rishabh570 and @jywarren ! Looks great.

[2019-01-16 22:44] jywarren opened #4634 "Recaptcha overlapping Sign up buttons"
![screen shot 2019-01-16 at 5 43 39 pm](https://user-images.githubusercontent.com/24359/51283483-53ab7a80-19b6-11e9-9250-32dbcb9cd938.png)

Just noting this! I may not be able to fix it tonight but if someone wants to give it a try, please do! Thanks!

[2019-01-16 22:49] jywarren commented on #4322
Oh, i'm sorry - it looks like it was done here:

https://github.com/publiclab/plots2/commit/2a1f98dcc84e598d27fbd124845e7613fcb7c008

But it looks like it got mistakenly removed here, maybe during a rebase:

https://github.com/publiclab/plots2/commit/4fa3343c7e87528f7ab8ffecf661efe4c93ead74#diff-476e45acd5b545a090eb0f774aff07dbL78

I'm going to re-add it and close this issue, thanks!! But we could

[2019-01-16 22:49] #4322 closed

[2019-01-16 22:52] jywarren commented on #4322
Submitted fix in https://github.com/publiclab/plots2/pull/4635 !

[2019-01-16 23:08] jywarren commented on #4323
OK -- sorry for my slowness on this - lot of work this week! I just added
some real keys and started a rebuild on unstable. Thanks!

On Wed, Jan 16, 2019 at 10:26 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-01-16 23:51] jywarren commented on #3262
OK first, wow, this is a great idea 🎉 , and the helper really lets us do things like this:

Re variables, yeah, i see that. Could we include variables in identical format and parse them out somehow? I dunno... i mean, the variables could still be in the english strings, i think... can you think of an example that wouldn't work, or are we just worried about the variables looking weird? Maybe i'm no

[2019-01-16 23:56] jywarren commented on #4585
Thanks, everyone! I fixed that page -- thank you for catching it!

On Wed, Jan 16, 2019 at 2:33 AM Sourav Sahoo <notifications@github.com>
wrote:

[2019-01-17 00:05] jywarren commented on #3404
Maybe some clues here?
https://github.com/javan/whenever/search?utf8=%E2%9C%93&q=environment&type=

Seems there are some ways to set it...

On Mon, Jan 14, 2019 at 11:34 PM Sebastian Silva <notifications@github.com>
wrote:

[2019-01-17 00:06] jywarren commented on #3404
ah! what about:
https://github.com/javan/whenever/issues/732#issuecomment-404576122

On Wed, Jan 16, 2019 at 7:05 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-01-17 01:41] sashadev-sky commented on #4589
@geekychaser Hey! Any progress on this one?

I was looking into it myself as well and I found many posts with negative likes.
<img width="955" alt="screen shot 2019-01-16 at 8 30 59 pm" src="https://user-images.githubusercontent.com/41092741/51289477-5619ce80-19ce-11e9-8832-a1f49625a22c.png">

Unfortunately was having trouble figuring out the solution myself because I don't know how I would check

[2019-01-17 02:01] sashadev-sky commented on #4251
@gauravano @dave-light @CodeSarthak I will make an FTO out of this

[2019-01-17 04:52] SidharthBansal commented on #4251
This issue needs not to be converted into fto.

On Thu, Jan 17, 2019, 7:55 AM Sasha Boginsky <notifications@github.com
wrote:

[2019-01-17 04:53] SidharthBansal commented on #4251
OK thanks

[2019-01-17 04:56] SidharthBansal commented on #4323
Still not able to signup

On Thu, Jan 17, 2019, 4:38 AM Jeffrey Warren <notifications@github.com
wrote:

[2019-01-17 05:03] sashadev-sky commented on #4251
@SidharthBansal please help answer my comment above yours

[2019-01-17 05:14] icarito commented on #3404
I tried a couple of alternatives https://github.com/publiclab/plots2/pull/4619/commits/4288bf797b3b249d97a51e0ca4135f2fab1e11a7 adding to `config/schedule.rb` but didn't succeed yet. Looking for ideas!

[2019-01-17 06:50] sashadev-sky opened #4639 "Message Consistency on the Subscriptions Page"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-01-17 07:14] arungoel123456 opened #4640 "Even after liking , the number is not shown"
![1](https://user-images.githubusercontent.com/31837154/51301511-86f11680-1a55-11e9-8935-7763852fcb59.png)
![after liking](https://user-images.githubusercontent.com/31837154/51301517-8ce6f780-1a55-11e9-897d-81f3a0175c65.png)

[2019-01-17 07:15] arungoel123456 commented on #4640
Even after we have liked , notification has arrived but the count is not increases or decreased

[2019-01-17 07:39] milaaraujo commented on #4560
From Jeff:

[2019-01-17 07:41] dewanhimanshu commented on #4634
I want to give it a try

[2019-01-17 08:15] dewanhimanshu opened #4641 "Navbar gets distorted at 740px"
![screenshot from 2019-01-17 13-44-45](https://user-images.githubusercontent.com/32437794/51304474-4944bb80-1a5e-11e9-9925-29a248c49237.png)

[2019-01-17 10:01] gauravano commented on #4639
Hi @sashadev-sky, issue is looking nice :100: .

Some points regarding FTO: There are 2 types of beginner issues -
1. `first-timers-only`: This issue contains detailed instructions and template like you used in this one.
2. `fto-candidate`: This type issue require some effort from contributor's side. It contains relevant links and goal but not the exact code to be changed/added.

Thanks!

[2019-01-17 10:17] SidharthBansal commented on #4192
No problem. It is similar to the last PR which you did.

[2019-01-17 10:17] gauravano commented on #4639
I added some more labels. I hope it's fine!

[2019-01-17 10:20] sashadev-sky commented on #4639
@gauravano of course thank you!

[2019-01-17 10:46] gauravano commented on #4251
Hi @dave-light, sorry for missing your comment earlier. Just trying to get the goal of this issue. Our current page looks this
![404_page](https://user-images.githubusercontent.com/20878070/51313237-19ec7980-1a73-11e9-8250-ecce5087ac87.png)

Do we just want to change the button text? @dave-light @CodeSarthak @sashadev-sky

[2019-01-17 10:53] gauravano commented on #4251
OK, I got here - https://publiclab.org/wiki/issues from the footer link. I saw 2 methods listed for reporting issue one via GitHub and another posting a question at publiclab.org
![issue_page](https://user-images.githubusercontent.com/20878070/51313657-19a0ae00-1a74-11e9-859a-7f1e2cdc0756.png)

I guess, we want to change the GitHub one a button. Am I right?

[2019-01-17 11:02] SashwatAnagolum commented on #4639
Hi!
First timer on your codebase, can I start with this issue?

[2019-01-17 11:04] gauravano commented on #3262
Hey @ebarry, actually that notification is for the test account which I created for PublicLab. I cross-checked the subscription plan of PublicLab account too to be sure and there was no warning there. You received that notification because you are also added as admin for test account. Thanks!

[2019-01-17 11:12] gauravano commented on #4639
Hi @SashwatAnagolum, welcome to Public Lab and please go ahead with the issue. Thanks!

[2019-01-17 11:18] gauravano commented on #4640
Hi @arungoel123456 thanks for reporting the issue. Can you please post the URL of the post too?
Also, it may be related to the fact that your comment is still in moderation that's why Like is not posted, just an assumption.
Thanks!

[2019-01-17 11:43] geekychaser commented on #4589
@sashadev-sky yes, i noticed the same and even the post with `-2` likes once liked will show as 1 and on again disliking will give 0. I am facing difficulty in locating the same issue on local server.
can you help me regenerating the same on local server. So that we can identify the root cause behind the issue.
Thank you

[2019-01-17 12:41] geekychaser commented on #4641
@dewanhimanshu i guess this is same as #4502.
thank you

[2019-01-17 12:46] SashwatAnagolum commented on #4639
Thanks @gauravano, I submitted a PR: https://github.com/publiclab/plots2/pull/4642#issue-245487726

[2019-01-17 12:58] IshaGupta18 commented on #4131
Actually I am facing some problem here. The "Topics" panel is being fetched through a helper using caching in the code and I am unable to get how to access that view, so that I can render my button partial there. Could you please guide me with that?

![image](https://user-images.githubusercontent.com/40794215/51320415-b750a900-1a85-11e9-864f-278c8d193e43.png)

[2019-01-17 13:13] oorjitchowdhary commented on #4634
Hi, how can we test this... The recaptcha is available only for production
https://github.com/publiclab/plots2/blob/9f7cfc47ded41ed3a7370c66a9c4f7af9704af59/app/views/users/_create_form.html.erb#L74-L79

[2019-01-17 13:31] arungoel123456 commented on #4640
@gauravano  when we press the like button , the number should increase there only .... we need not to refresh the page to look at the updated count .
But here the notification appears but the the count does not change.
when we refresh the page , then it gets updated

[2019-01-17 13:36] arungoel123456 commented on #4627
@gauravano  can u please explain this issue and if it is open , can i work on this

[2019-01-17 15:07] ebarry commented on #4601
Is there a way to temporarily disable typeahead? It is so unpredictable and unexplainable that at this point I do not think it's appropriate to have running on the live site.

[2019-01-17 15:54] ebarry commented on #4593
Thank you for providing the link to the code! I'm wondering if, for the time being, we can stop rendering the graphs on the tag pages? Here's a screenshot of what i would like to remove from the tag pages:
<img width="1280" alt="screen shot 2019-01-17 at 10 47 30 am" src="https://user-images.githubusercontent.com/161439/51330422-7b95ef00-1a45-11e9-84ed-83d82cf3e86e.png">

Seems to be perhaps parti

[2019-01-17 16:15] ebarry commented on #1184
If we disable Typeahead so that our search string is not, for example, https://publiclab.org/api/typeahead/all?srchString=coqui, will we be able to use Google Analytics more easily to track what is commonly searched for in our site?

[2019-01-17 16:56] milaaraujo commented on #4601
So, we have two problems here: how the results are returned (only users) and the set of results (weird typeahead results).

1 - It is not a problem that happens only when we search two words, for example:
![screenshot from 2019-01-17 08-34-51](https://user-images.githubusercontent.com/4355017/51333874-7e87e400-1a33-11e9-800c-43888e53087d.png) It happens because we use this [dependency](https://git

[2019-01-17 16:59] SidharthBansal commented on #4131
It is always better to tell the permalink than sending screenshots. Please
provide it so that mentor can help you.
You have to display the button next to the `Topic` text. So, search for
topic text.

On Thu, Jan 17, 2019 at 6:28 PM Isha Gupta <notifications@github.com> wrote:

[2019-01-17 17:01] Rishabh570 commented on #4607
Hi all, I'll start working towards community-toolbox MVC architecture now...I'll try to break it into different milestones as it is a big change and I'll also try to create some `fto`s along the way.

Also, I've opened up [this](https://github.com/publiclab/community-toolbox/issues/131) issue to discuss what features/enhancements we need in `code.publiclab.org`...please comment there if anyone wan

[2019-01-17 17:10] IshaGupta18 commented on #4131
Yes actually, this isn't like a normal view here, the view is being rendered through cache, from an entry in the database, here are the links:
https://github.com/publiclab/plots2/blob/9f7cfc47ded41ed3a7370c66a9c4f7af9704af59/app/views/sidebar/_dashboard.html.erb#L38-L41

https://github.com/publiclab/plots2/blob/9f7cfc47ded41ed3a7370c66a9c4f7af9704af59/app/helpers/application_helper.rb#L57-L64

So

[2019-01-17 17:10] dhruvgupta167 opened #4643 "Sign Up button conflicts with "I'm not a robot" checkbox in the Sign-up modal"
![screenshot 2019-01-17 at 10 30 33 pm](https://user-images.githubusercontent.com/32172694/51335595-7b7b0b00-1aa8-11e9-9048-2a998a508333.png)
The " I'm not robot " checkbox overlaps with the sign-up button in the Sign up modal in the desktop view.

[2019-01-17 17:36] jywarren commented on #4607
Hi, everyone! Great to see you all!

@dinaelhanan helped write an excellent test that clearly demonstrates the bug @ebarry reported here: https://github.com/publiclab/plots2/issues/4121 -- now it's ready for a new contributor to problem-solve.

This one is cool because it's now test-driven development (TDD) -- we have captured the bug with a test, now any solution that fixes that test should be go

[2019-01-17 17:39] jywarren commented on #4607
If anyone's interested in a CSS-centric issue, we've been having some trouble getting these images to be restricted to a fixed height and width, but using `scroll:hidden` the way images work [on the dashboard](https://publiclab.org/research): https://publiclab.org/wiki/micro#Events

Lots of context here: https://github.com/publiclab/plots2/pull/4198 and a new issue here: https://github.com/publicl

[2019-01-17 17:59] SidharthBansal commented on #4131
I think we can add the button next to line 41 in plots2/app/views/sidebar/_dashboard.html.erb.

[2019-01-17 18:01] SidharthBansal commented on #4643
@IshaGupta18 can you please look at this. You did the last PR for these files after which this error has pop up.

[2019-01-17 18:01] IshaGupta18 commented on #4131
What should I pass as tags variable here then? Like @node.node_tags, what will come here?

[2019-01-17 18:02] SidharthBansal commented on #4643
It was working fine before your pr. I think you forget to see the layout of the modal while doing the pr.
Create a pr to fix this too.

[2019-01-17 18:05] SidharthBansal commented on #4131
Please leave this issue until Jeff replies on it.
You can send a PR for the blog page.

[2019-01-17 18:08] SidharthBansal opened #4644 "Subscription Prompt next to Topics on Dashboard"
![image](https://user-images.githubusercontent.com/20972099/51338782-c13bd180-1ab0-11e9-89d0-c442e82bfb52.png)

Tthis isn't like a normal view here, the view is being rendered through cache, from an entry in the database, here are the links:
https://github.com/publiclab/plots2/blob/9f7cfc47ded41ed3a7370c66a9c4f7af9704af59/app/views/sidebar/_dashboard.html.erb#L38-L41

https://github.com/publiclab/

[2019-01-17 18:08] SidharthBansal commented on #4644
Part of #4131

[2019-01-17 18:10] jywarren opened #4645 "give authors of "seeks responses" posts ability to approve responses to their post"
A number of our post types invite "responses" -- esp. useful for classroom assignments, where students can post a response to complete an assignment: https://publiclab.org/wiki/requesting-responses

https://github.com/publiclab/plots2/issues/375 is where we originally implemented this.

To smooth this experience, we could give the original author permission to moderate responses. This could includ

[2019-01-17 18:22] jywarren commented on #4140
Noting that the tag graph we're looking to move off of individual tag pages (#4593) could be the very first feature of this page!

[2019-01-17 18:22] SidharthBansal commented on #3932
@jywarren I think we should not plan for this issue due to the following reasons:
* High redundancy on the page as each time a person writes a comment, they get subscription prompts. It is annoying to have the same action in case a user has already done it on a particular node(note/ map/ question/ wiki).
* User is getting two buttons on each node. One in the sidebar already implemented and also on

[2019-01-17 18:23] jywarren commented on #4140
![image](https://user-images.githubusercontent.com/24359/51339691-1220db00-1a5b-11e9-92d7-d17c68595d95.png)

[2019-01-17 18:37] jywarren opened #4646 "Hide tag graph from tag pages like /tag/ui with a toggle button"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2019-01-17 18:38] jywarren commented on #4593
Opened an FTO candidate here: https://github.com/publiclab/plots2/issues/4646

[2019-01-17 18:38] #4593 closed

[2019-01-17 18:38] jywarren commented on #4593
@cesswairimu if you want to finish formatting it, feel free to edit mine!

[2019-01-17 18:40] jywarren commented on #3498
Noting that #4646 fulfills a checklist item above!

[2019-01-17 18:42] jywarren commented on #3498
Also noting that a lot of ideas from this year-old planning issue for graphs improvements may either be completed or could be broken up and added to many of the tasks in https://github.com/publiclab/plots2/milestone/20 (i've moved it over into that milestone)

https://github.com/publiclab/plots2/issues/2068

[2019-01-17 18:48] rexagod commented on #4607
Hi all! Following @jywarren's [recommendation](https://github.com/publiclab/PublicLab.Editor/issues/227#issuecomment-454133088), I wanted to know the community's thoughts and opinions on shifting the current task runner over at the Editor from `grunt` to `gulp` or `webpack`. Although @geekychaser, @himanshuc3, and I are a little inclined towards using `webpack.js`, we would love to hear from you a

[2019-01-17 18:52] jywarren commented on #4632
This is great - thanks, you two. Yes, I think it makes sense to check if the user is logged in, and if not, just show empty checkboxes. Then the "Follow" button would open the login modal with `return_to` of, for example, `https://publiclab.org/subscribe/multiple/tag/arduino,games`. This will be great!!!

[2019-01-17 19:03] IshaGupta18 commented on #4643
Let me have a look at this, this wasn't coming in development probably because we were using spamaway there

[2019-01-17 19:09] #4634 closed

[2019-01-17 19:09] SidharthBansal commented on #4634
Moved to #4643

[2019-01-17 19:10] jywarren commented on #1502
Great update on ruby based tag relatedness calculations here: https://publiclab.org/questions/bsugar/01-25-2018/how-was-the-tag-graph-visualization-made

more soon!

[2019-01-17 19:32] IshaGupta18 opened #4647 "Minor CSS changes in multiple subscription button."
Making a couple of changes CSS in multiple subscription button to make it more independent of default margins.

[2019-01-17 19:33] IshaGupta18 commented on #4647
In reference with #4344

[2019-01-17 19:39] jywarren commented on #4643
Yeah - maybe we can wrap the recaptcha code in a div and give it a fixed
height? I think perhaps it's partially because the recaptcha is being
pregenerated while the modal is collapsed, so it positions and sizes itself
during the hidden state.

On Thu, Jan 17, 2019 at 2:03 PM Isha Gupta <notifications@github.com> wrote:

[2019-01-17 19:41] jywarren commented on #4644
Hmm, I think we may need to hold on this for the time being, as I can't think of a way to do this efficiently esp if the tags are updated later.

[2019-01-17 19:45] jywarren commented on #3932
I think this is reasonable. What if we swapped it for a project to identify
tags people have been active on, but aren't subscribed to -- something like
`user.active_topics(limit)` -- which could return a max of `limit` tags for:

1. tags user is not subscribed to
2. which occur a lot on nodes they've posted
3. which occur a lot on nodes on which they've commented

Then we'd have a list of likely c

[2019-01-17 19:46] IshaGupta18 commented on #4643
Yes it could be the reason, let me have a look at it. Thanks @jywarren !

[2019-01-17 19:47] IgorWilbert commented on #4646
Hello @jywarren ! May I work on this? If I don't finish it in a few days, I'll try to add more details to turn it into a FTO.

[2019-01-17 19:49] jywarren commented on #4646
that would be great, thank you!!!

On Thu, Jan 17, 2019 at 2:47 PM igorwilbert <notifications@github.com>
wrote:

[2019-01-17 19:51] jywarren commented on #3932
OK i'm going to copy that over to #4644 as it would be usable on the dashboard! We can close this if you want!

[2019-01-17 19:53] jywarren commented on #4644
OK, my comment from #3932 could potentially help us prompt subscriptions for tags from another source, adding a new prompt below instead of replacing this section.

The idea is to identify tags people have been active on, but aren't subscribed to -- something like
`user.active_topics(limit)` -- which could return a max of `limit` tags for:

1. tags user is not subscribed to
2. which occur a lot on

[2019-01-17 19:56] IshaGupta18 commented on #4643
What do you suggest the fixed height should be @jywarren ? Since it can only be tested in production?

[2019-01-17 19:59] jywarren commented on #4627
Hi Arun! This is really cool but we may need to wait for other localization
to fall into place. Would you be interested in working at all on our search
optimization, which needs some attention?
https://github.com/publiclab/plots2/issues/4121

Or the CSS formatting of images in some of our thumbnail grids? Lots of
context here: #4198 <https://github.com/publiclab/plots2/pull/4198> and a
new issue h

[2019-01-17 20:00] jywarren commented on #4643
well, can you count the pixel height of the production version and we'll
just fix it at that, maybe +10px?

On Thu, Jan 17, 2019 at 2:57 PM Isha Gupta <notifications@github.com> wrote:

[2019-01-17 20:01] IshaGupta18 commented on #4643
Oh yes, my bad, should have thought about it

[2019-01-17 20:14] IshaGupta18 commented on #4643
So I was thinking of give the wrapping div a height of about 120px or something, because the div in which the recaptcha occurs is about a 100px high. How does it sound?

[2019-01-17 20:25] dhruvgupta167 commented on #4607
Hello Everyone! I have already solved one FTO issue and opened a few issues as well. This week I'll try to contribute to at least one help-wanted issue.

[2019-01-17 20:26] dhruvgupta167 commented on #4607
Hello everyone! I have already solved one FTO issue, thanks to @SidharthBansal . This week I'll try to contribute to at least one help wanted issue.

[2019-01-17 20:30] SidharthBansal commented on #3932
Hi Jeff, I liked your suggestion. But can you please tell what you mean by swapping??
Comment + Subscribe and active_topics is entirely different things.
 I think we should open up a new issue for it instead of #4644.
Do you mean that the Topics section's tags to be replaced by this function?
Also what is the current logic of displaying tags on dashboard?

[2019-01-17 20:41] SidharthBansal commented on #4644
@jywarren it will be really helpful if you can tell some good resources for
cache management and how we do this in plots2 as I have never worked at
plots2 with cache. I think it will be just a model function in tags model.
It is interesting idea. You suggested me this in August but I was never
able to find time on this due to gci. Will do this first.

On Fri, Jan 18, 2019, 2:01 AM Sidharth Bansal

[2019-01-17 20:41] IshaGupta18 commented on #4131
So I am inserting the button here, is this right? Should I make a PR for it?

![image](https://user-images.githubusercontent.com/40794215/51347552-6ad98d80-1ac6-11e9-82e6-6e31a1974707.png)

![image](https://user-images.githubusercontent.com/40794215/51347534-5e553500-1ac6-11e9-8d46-9eb3e4bd3368.png)

[2019-01-17 20:43] SidharthBansal commented on #4131
Make it next to read more text.
Yes make a PR.

On Fri, Jan 18, 2019, 2:11 AM Isha Gupta <notifications@github.com wrote:

[2019-01-17 20:49] SidharthBansal commented on #4131
Once you complete your PR. Then please try "trending tags on dashboard". Don't commit changes. Use the fto template given above to create a fto. You can see other ftos for reference.

[2019-01-17 21:38] cesswairimu opened #4650 "Fix Stats page graphs"
Refine the at https://publiclab.org/stats/ graphs in using apexchart js https://apexcharts.com/

[2019-01-17 21:38] jywarren commented on #4559
This is odd - on this page: https://publiclab.org/people?sort=last_activity

I still see them out of order... what could be the reason?

![image](https://user-images.githubusercontent.com/24359/51350349-f1b24a00-1a75-11e9-8b1f-376b2c3ba59e.png)

Ah!!!!

https://github.com/publiclab/plots2/blob/1979c21fe184b3fded22ebca79510932ce01666e/app/views/users/list.html.erb#L40

Fixing this, should be easy!

[2019-01-17 21:44] joyofsoy opened #4651 "Using open graph meta tags to generate link previews on social media"
When sharing links to Public Lab articles on social media (Facebook and Twitter, mainly), the link previews don't generate properly.

When sharing articles from regular news sites on social media, the link preview will share the headline, a snippet of text, and an image from the article. Sharing a Public Lab link shares the headline, sometimes shares a snippet of text, and never shares the image.

[2019-01-17 21:46] SidharthBansal commented on #4644
I think
``
  def self.related(tag_name)
    Rails.cache.fetch('related-tags/' + tag_name, expires_in: 1.weeks) do
      nids = NodeTag.joins(:tag)
                     .where(Tag.table_name => { name: tag_name })
                     .select(:nid)

      Tag.joins(:node_tag)
         .where(NodeTag.table_name => { nid: nids })
         .where.not(name: tag_name)
         .group(:tid)
         .ord

[2019-01-17 21:52] #4558 closed

[2019-01-17 22:33] jywarren commented on #3932
Yes, sorry - by swapping i mean like, let's do that instead of this!

Currently they're manually curated to represent important environmental
issues. So I think we should keep the Topics section tags as they are for
now, and instead add an additional box below with this new idea. Thank you!

On Thu, Jan 17, 2019 at 3:33 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-01-17 22:35] jywarren commented on #4644
This is actually a really great resource! https://guides.rubyonrails.org/caching_with_rails.html

[2019-01-17 22:36] #4139 closed

[2019-01-17 22:37] jywarren commented on #4650
YEAH!!!!

On Thu, Jan 17, 2019 at 4:39 PM Cess <notifications@github.com> wrote:

[2019-01-17 22:37] SidharthBansal commented on #4644
Okay thanks I will try.

[2019-01-17 22:43] SidharthBansal commented on #4644
I read this two years ago. Will do a revision.

[2019-01-17 22:46] jywarren commented on #4643
sounds great! Thanks, Isha!

On Thu, Jan 17, 2019 at 3:14 PM Isha Gupta <notifications@github.com> wrote:

[2019-01-17 22:52] SidharthBansal commented on #4643
@dhruvgupta167 thanks for reporting the bug. Sorry I missed to thank you.

[2019-01-17 23:19] #3591 closed

[2019-01-17 23:54] jywarren commented on #4401
I think this may need a change from the last notes in this issue -- https://github.com/publiclab/plots2/issues/4522#issuecomment-454438378

Would you be interested in reworking the error messages mentioned there? There may be a few inter-related issues... i'm not 100% sure this is it but I think it may be related.

[2019-01-17 23:56] jywarren commented on #4401
Ah, wait. I think this is not actually related (although we could still use help in #4522). I think this is due to the back button being used. Does it still show you logged in once you refresh? I think this is just the browser showing the cached page, and it's OK. I'm going to close this but please reopen if I misunderstood! Thanks!

[2019-01-17 23:56] #4401 closed

[2019-01-18 00:08] Chrisyee22 commented on #4622
I would like to work on this issue if that's alright.

[2019-01-18 00:09] jywarren commented on #4622
we would love your help, thank you!

On Thu, Jan 17, 2019 at 7:08 PM Chrisyee22 <notifications@github.com> wrote:

[2019-01-18 01:48] sashadev-sky commented on #4251
@dave-light @gauravano I managed to change it to a button in Chrome Dev Tools and I can transfer the code to the DB I just am confused how I would see this change outside of Chrome Dev Tools if this is not a page available in the testing environment.

How do people usually make changes in a scenario like this? Do they just try to recreate that part of the page locally? Sorry I think I am fundament

[2019-01-18 02:07] sashadev-sky commented on #4350
@kunalvaswani123 I have not been following along closely enough with the banned admin issue to know why this is the case, but I have found a temporary workaround for using the admin account if you need it:

1) log on to moderator account (user: moderator pw: password)
2) go to admin profile page
3) near the middle of the page on the right you should see a button 'unban user'.
4) unban them then yo

[2019-01-18 04:42] gauravano commented on #4251
The page we are talking about is a wiki page, which is just a post saved in
production database. Just like our accounts on GitHub, or our comments
here. The wiki is made by different people working together, so anyone who
have conyributed some posts to PublicLab can edit the wiki. You can check
whether you are allowed to edit or not. Or, I can edit the wiki to convert
that link to a button?

Give

[2019-01-18 06:46] kunalvaswani123 commented on #4350
@sashadev-sky I tried it now .. I didn't get any moderator banned error .. is this issue solved ?

[2019-01-18 07:07] kunalvaswani123 commented on #4350
I added a research note using share your work in dashboard using admin account and added a tag say balloon-mapping in it .. but when I see tag/balloon-mapping there are no research notes..

[2019-01-18 10:36] dhruvgupta167 commented on #4643
@SidharthBansal No need! Just trying to contribute to the organisation.

[2019-01-18 10:37] sashadev-sky commented on #4350
@kunalvaswani123 You're right. I reset my DB just in case and checked in rails dbconsole, admin not banned anymore.

I did the same as you to check. Are you sure there are no notes being displayed? I overlooked this so many times but I think this chart is actually a chart showing 1 note has been created and the title is just below it:

<img width="1166" alt="screen shot 2019-01-18 at 5 31 21 am" s

[2019-01-18 10:42] dave-light commented on #4651
Hi @jywarren @gauravano  I'm happy to look into this :-)

[2019-01-18 10:50] kunalvaswani123 commented on #4350
Yeah .. it shows no research notes .. why ? I added a research note .. shouldn't it show one ?

[2019-01-18 11:34] sashadev-sky commented on #4251
@gauravano Thank you! I didn't know that wikis worked that way. I think I have had tunnel vision with the Github side of things. I can't edit yet because I have not contributed to any posts on the site, so you may have to edit it or @dave-light. Are code contributors encouraged to just create pages about anything they feel is relevant?

[2019-01-18 11:46] sashadev-sky commented on #4350
@kunalvaswani123 It is probably then either an issue with the tag or the note. Try checking /notes/author/admin does it have the note and tag?

[2019-01-18 13:11] kunalvaswani123 commented on #4350
it does show the notes I added there
![screenshot from 2019-01-18 18-40-56](https://user-images.githubusercontent.com/30972133/51388842-a0c35400-1b50-11e9-9a27-d5330e5aa066.png)

[2019-01-18 13:31] sashadev-sky commented on #4350
@kunalvaswani123 the button rendered for the notes all comes from the same partial so I think you're good to open a PR regarding this

[2019-01-18 14:22] gauravano commented on #4251
@sashadev-sky code contributors create research notes and wikis regarding new features, integrations, their work and relevant exciting things there. Questions regarding interesting ideas, GSoC proposals and many things are posted at publiclab.org. As wiki is a page which is created by collaboration of multiple users and not all contributors come to website with legitimate purpose so for preventing

[2019-01-18 14:36] gauravano commented on #4251
![new_temp](https://user-images.githubusercontent.com/20878070/51392965-8abb9080-1b5c-11e9-9df3-841bd6c2fca2.png)

Changes done! Looks good?

[2019-01-18 15:03] gauravano commented on #4385
No issue @jywarren :sweat_smile:. And, thanks for letting me know.

[2019-01-18 17:00] #4595 closed

[2019-01-18 17:38] geekychaser commented on #4589
@sashadev-sky Great, lets wait for @jywarren reply

[2019-01-18 17:51] arungoel123456 commented on #4640
@gauravano
Mentors please tell what to do with this issue

[2019-01-18 18:22] #4559 closed

[2019-01-18 21:10] milaaraujo opened #4659 "Consider ways to group people by topic focus"
* [x] - Adding `field` option to `/api/srch/nearbyPeople` (#4703)
* [x] - Add tests and clarification

[2019-01-18 21:23] SKashyapD opened #4660 "Machine Learning based spam detection"
Currently, our Spam system is completely manual, but
 I think, instead of reviewing similar content/posts, we can use
Machine Learning algorithms for easing the task.

[2019-01-18 21:50] jywarren commented on #1502
Some progress in https://github.com/publiclab/plots2/pull/4657, where I implemented an extremely basic, but live instance of Cytoscape.js (http://js.cytoscape.org/), running off of a weekly cached collection of

It took over 50 seconds to run for ALL tags on the site (which could be cached weekly) but that also generated 8200+ tags and 31k edges... which is a lot to graph. Here's the full set; i t

[2019-01-18 21:51] jywarren commented on #1502
![image](https://user-images.githubusercontent.com/24359/51414665-3c4cc880-1b41-11e9-9158-48e32ae94747.png)

[2019-01-18 21:51] jywarren commented on #1502
Ooh, https://stable.publiclab.org/stats/graph?limit=300 seems to work too

[2019-01-19 01:42] sashadev-sky commented on #4607
@SidharthBansal When would you like me to make the post? I am on EST but most people aren't so I want to plan accordingly.

Do I choose my own theme or did you have one in mind?

[2019-01-19 04:42] jywarren commented on #1502
Community detection here! https://github.com/upphiminn/jLouvain/blob/master/README.md

[2019-01-19 05:28] icarito opened #4661 "Typeahead on [srch/notes] paralyzes app"
@steviepubliclab reported this afternoon that the website was slow, and referenced Skylight. Analysis shows the relevant is `srch/notes`. @milaaraujo let me know if I can help debug.

![image](https://user-images.githubusercontent.com/199755/51422710-32e35080-1b81-11e9-8a82-e782661233ed.png)
![image](https://user-images.githubusercontent.com/199755/51422722-72aa3800-1b81-11e9-9250-95796f771dcc.png

[2019-01-19 06:07] SidharthBansal commented on #4607
You can post on your Sunday at any time. Don't consider time zones.
Thanks for thinking deeply. I appreciate it.
Any theme will work.

On Sat, Jan 19, 2019 at 7:12 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-01-19 06:31] SidharthBansal commented on #4643
@IshaGupta18 please link the pr number here.
Thanks all

[2019-01-19 06:39] IshaGupta18 commented on #4632
Hey I am actually at my college, I will try to send all of this ASAP. Also,
I wanted you to know that requireLogin wasn't working in the subscribe
button inside the popover, I'll try to fix that. Thanks a lot.

On Sat, Jan 19, 2019, 11:56 AM Sidharth Bansal <notifications@github.com
wrote:

[2019-01-19 06:40] sagarpreet-chadha commented on #1502
@jywarren , Super cool !!!

[2019-01-19 06:44] geekychaser opened #4662 "Multiple Tag Subscription on email footers 1"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-19 06:46] geekychaser opened #4663 "Multiple Tag Subscription on Email footers 2"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-19 06:46] geekychaser commented on #4663
@SidharthBansal please add the labels and milestone

[2019-01-19 06:47] geekychaser commented on #4662
@SidharthBansal please add the labels and milestone

[2019-01-19 06:54] SidharthBansal commented on #3008
I have added the required labels.
Thanks @geekychaser
Is anything left in this issue?

On Sat, Jan 19, 2019 at 12:23 PM Rishabh Bothra <notifications@github.com>
wrote:

[2019-01-19 06:54] geekychaser commented on #3008
No I don't think. You can check this out if you want.

[2019-01-19 06:55] SidharthBansal commented on #3008
Yeah sure. Checking this.

On Sat, Jan 19, 2019 at 12:24 PM Rishabh Bothra <notifications@github.com>
wrote:

[2019-01-19 06:56] SidharthBansal commented on #3008
Looks good to me.
I think we have completed this issue.

On Sat, Jan 19, 2019 at 12:25 PM Sidharth Bansal <
bansal.sidharth2996@gmail.com> wrote:

[2019-01-19 06:57] #3008 closed

[2019-01-19 07:30] Gonnuru commented on #4611
Im claiming this issue. Has anyone else claimed it ? If you have have you created a pull request already ? If your stuck I guess I can help you.

[2019-01-19 07:42] milaaraujo commented on #4661
Code:

- https://github.com/publiclab/plots2/blob/master/app/services/execute_search.rb#L15-L16
- https://github.com/publiclab/plots2/blob/master/app/services/search_service.rb#L48-L51
[code]
- https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L27-L68
[code]

[2019-01-19 07:46] milaaraujo commented on #4661
Do you know where the endpoint is used on the site?

[2019-01-19 07:53] milaaraujo commented on #4660
I would love to participate in any of these projects! I've worked with Recommendation Systems and Sentiment Analysis during my graduation. But I don't know any libraries to Rails tho. I've only worked with Python and R before.

[2019-01-19 07:55] SidharthBansal commented on #4660
Same scene is with me. I will love to work on these projects. Some are in
my current semester curriculum but they are heavily based on python and R.

On Sat, Jan 19, 2019, 1:23 PM Camila Araújo <notifications@github.com wrote:

[2019-01-19 08:07] rahul2240 commented on #4662
Hi, I am new to publiclab. Can I claim this issue?

[2019-01-19 08:08] geekychaser commented on #4662
@rahul2240 yeah, go ahead

[2019-01-19 08:08] SidharthBansal commented on #4662
Yes

On Sat, Jan 19, 2019, 1:37 PM Rahul <notifications@github.com wrote:

[2019-01-19 08:53] geekychaser opened #4666 "Adding multitag-subscribe button to `/tags/:tagname`"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-19 08:54] geekychaser commented on #4666
@jywarren @SidharthBansal please add `first-timer-issue` label.
Thank you

[2019-01-19 08:56] geekychaser commented on #4666
![image](https://user-images.githubusercontent.com/24489162/51424601-264d0f80-1bf6-11e9-9f9f-6a974b61bafb.png)

Is it looking fine or do we need some changes ?

[2019-01-19 08:59] SidharthBansal commented on #4666
Great

On Sat, Jan 19, 2019, 2:26 PM Rishabh Bothra <notifications@github.com
wrote:

[2019-01-19 09:01] SidharthBansal commented on #4131
#4666 created by @geekychaser

[2019-01-19 09:03] geekychaser opened #4667 "Adding multitag-subscribe button to '/tags' under popular tags"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-19 09:04] geekychaser commented on #4667
@jywarren @SidharthBansal Please add `first-timer-issue` label.
Thank you!

[2019-01-19 09:04] geekychaser commented on #4667
![image](https://user-images.githubusercontent.com/24489162/51424687-5648e280-1bf7-11e9-81ff-42326e42474a.png)

Is it looking fine or do we need changes ?

[2019-01-19 09:05] geekychaser commented on #4131
created #4667 for `/tags`

[2019-01-19 09:07] geekychaser commented on #4131
@SidharthBansal I guess we have covered all the related issue ?
Please correct me if i am wrong.
Thank you

[2019-01-19 09:32] SidharthBansal commented on #4131
I think one issue is left. Trending tags.

On Sat, Jan 19, 2019, 2:37 PM Rishabh Bothra <notifications@github.com
wrote:

[2019-01-19 09:35] SidharthBansal commented on #4667
This is wrong. We have feature here. That needs to be done by Jeff, I guess.

[2019-01-19 09:35] #4667 closed

[2019-01-19 09:35] SidharthBansal commented on #4667
I closed this as it cannot be turned into fto.
Thanks Rishabh for your help.

[2019-01-19 09:40] geekychaser commented on #4131
@SidharthBansal So we need to have this subscribe button on our dashboard ?

[2019-01-19 09:41] SidharthBansal commented on #4131
Yes

On Sat, Jan 19, 2019, 3:10 PM Rishabh Bothra <notifications@github.com
wrote:

[2019-01-19 09:54] #4662 closed

[2019-01-19 10:06] IshaGupta18 commented on #4131
Can I do this please since it was assigned to me? @SidharthBansal

[2019-01-19 10:06] IshaGupta18 commented on #4131
@geekychaser we'll assign you more ftos but kindly let me create this one because it was assigned to me initially

[2019-01-19 10:09] SidharthBansal commented on #4131
Yeah you can do it. @geekychaser is just helping you here, I guess. Isha
can create the fto and in case she will require help then Rishabh can do so.
Once Isha you post the fto, please close this issue.
Thanks all.

On Sat, Jan 19, 2019, 3:36 PM Isha Gupta <notifications@github.com wrote:

[2019-01-19 10:18] geekychaser commented on #4131
@IshaGupta18 I know, that you are creating ftos but this is your first fto so i was trying to help you in fto creation.
thank you

[2019-01-19 10:20] SidharthBansal commented on #4131
Great folks. We really appreciate Rishabh your kind gesture to help Isha

On Sat, Jan 19, 2019, 3:48 PM Rishabh Bothra <notifications@github.com
wrote:

[2019-01-19 10:51] jshreyans551 commented on #4666
Hi! Thanks a lot for the opportunity. Can I work on this issue?

[2019-01-19 10:52] geekychaser commented on #4666
Yeah, go ahead

On Sat, Jan 19, 2019, 4:21 PM Shreyans Jain <notifications@github.com>
wrote:

[2019-01-19 10:53] jshreyans551 commented on #4666
Thanks a lot!

[2019-01-19 11:41] Gonnuru commented on #4662
Hi, I am new to public lab can i claim this issue.

[2019-01-19 11:43] geekychaser commented on #4662
@Gonnuru sorry, This issue has been resolved you can find a new `first timer issue`.
Thank you for your interest

[2019-01-19 11:44] Gonnuru commented on #4666
Hello, Can I work on this issue as I'm new to publicLab and to opensource contribution too.

[2019-01-19 11:51] geekychaser commented on #4666
@Gonnuru This issue has been claimed and @jshreyans551 has posted a PR.
you can look up for some other issue.
Thank you

[2019-01-19 11:53] Gonnuru commented on #4666
@geekychaser Sure, thank you.

[2019-01-19 11:55] #4666 closed

[2019-01-19 11:57] Gonnuru commented on #4663
@geekychaser can I claim this issue ? As I'm a first timer and am looking for an open source contribution

[2019-01-19 11:57] SidharthBansal commented on #4663
@Gonnuru you can do this.

[2019-01-19 11:57] SidharthBansal commented on #4663
Best of luck

[2019-01-19 11:58] Gonnuru commented on #4663
@SidharthBansal Thanks a lot 😃

[2019-01-19 12:03] rahul2240 opened #4669 "Unable to login without clearing cache"
Not able to login on publiclab.org
Steps to reproduce:
1. Login using github
2. Logout of all the devices
3. Try to login again using github
Expected Output: User logged in
Actual Output:  Nothing happened

Repeating step 3 multiple times. I observe
  1. Nothing appear at all
  2. flash message with logout successful
  3. Github reauthorize permission

[2019-01-19 12:12] Gonnuru commented on #4663
@geekychaser @SidharthBansal Kindly go through my pull request and check if I have been able to branch properly and also name the branch in a correct way. Apart from that have I met the Issue criteria.

[2019-01-19 12:54] SidharthBansal commented on #4663
You have to create PR in plots2 repository. Not in your own.

[2019-01-19 13:31] rexagod opened #4670 "Slow API requests for /api/srch/profiles?query="
References #3147. Hinders [# 239](https://github.com/publiclab/PublicLab.Editor/pull/239). I think this should be a **top priority issue**, since gradually more users will be added and with time, the API will be used more than ever, both can prove fatal to the response time.

Note: This only happens for `/api/srch/profiles?query=` **(7.8s)** as of now, but can happen with other queries too, such a

[2019-01-19 15:08] IgorWilbert commented on #4646
@jywarren I'm sorry, I didn't work on this until now because the setup for PublicLab.Editor seems to be more simple than the one for plots2 and the editor needs some love of new contributors. Please feel free to assign this issue to someone else.

[2019-01-19 17:51] gauravano commented on #4669
Please provide your PublicLab username? This might be connected to #4522 so if you turn out to be banned due to the bug. I will un-ban your account. Thanks!

[2019-01-19 17:54] gauravano commented on #4646
Hey @IgorWilbert, no issue! Although, thanks for trying and feel free to ask your installation doubts in chatroom or in the issue whose link I provided you. Thanks!

[2019-01-19 18:18] gauravano commented on #4611
Hi @Gonnuru, a PR by @JAIDEV123 is already in progress at #4612 so please find another issue and seems like @JAIDEV123 is stuck with ruby version problem so you can surely help by coordinating with them in the PR. Thanks!

[2019-01-19 19:17] cesswairimu commented on #4603
@dewanhimanshu thanks for your suggestion but if you look at  https://publiclab.org/stats/subscriptions there are a bunch of tags and if we have a tag for each line the page will be so long. Don't you think so? Maybe you have another idea? Thanks

[2019-01-19 19:38] namangupta01 commented on #2497
Hey! I am digging into this.

[2019-01-19 19:43] milaaraujo commented on #4561
We have multiple issues regarding slow API requests/API optimization. I think we could try to centralize our discussions here first.

For the `for /api/srch/profiles` we already tried o lot of different approaches (#3147). And next week I will try to follow @jywarren suggestion to handle autocomplete with #3149. Will it be enough? For `srch/notes`... I don't know what to do!

My doubt is whether w

[2019-01-19 20:10] milaaraujo commented on #4561
Another point... A possible palliative solution would be to try to remove inactive users from the database. We have more than +300k, all of them are "real" and active users?

[2019-01-20 02:44] CoderJolly commented on #4607
Who would be opening the next Community Check-In ?

[2019-01-20 07:17] rahul2240 commented on #4669
@gauravano I am able to login after clearning out the cache. I have to do it everytime. I tried the same in incognito and same occur after logging out I was not able to login again but on reloading the page, I got my logged in dashboard.

[2019-01-20 08:01] IshaGupta18 opened #4671 "Multitag Subscription on "Trending topics""
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-20 08:04] IshaGupta18 commented on #4131
I have created #4671 for trending tags. I think this issue can be closed now. Where all should we add this button now? Any suggestions apart from the ones for which ftos have been created?

[2019-01-20 08:11] SidharthBansal commented on #4131
Have you checked it before creating the fto that it works perfectly fine?
I checked each page. There are no more places where we can add the buttons. In case, you will find it please create a fto for it.
We can close this issue.

[2019-01-20 08:11] #4131 closed

[2019-01-20 08:15] SidharthBansal commented on #4131
@jywarren we have successfully completed this Multiple Tag Subscription Project with help of @IshaGupta18 and @geekychaser :tada: :100: :1st_place_medal:
If anything is left in the project please feel free to reopen the issue and comment some suggestions.

[2019-01-20 08:56] sinharaksh1t commented on #4671
This is one of the most comprehensive written guides I've seen till now on my open source journey that I started 2 weeks ago. Really well written and documented for beginners. Cheers 🎉

[2019-01-20 10:33] IshaGupta18 commented on #4671
Please go right ahead @fiterace !

[2019-01-20 10:46] Gonnuru commented on #4663
sure will do that

[2019-01-20 11:01] Gonnuru commented on #4663
@SidharthBansal I have added to plots2 repository kindly check it once

[2019-01-20 13:22] chirag-singhal commented on #4646
@IgorWilbert hy!  Can i solve this issue, I am a first time contributor?

[2019-01-20 13:40] geekychaser commented on #4663
@Gonnuru You have to post a PR for `publiclab/plots2` but it seems like you have posted one on your forked one.
thank you

[2019-01-20 13:42] geekychaser commented on #4110
@jywarren I agree with @SidharthBansal , I too had difficulties while navigating website and dicovering features, when I first started contribution at the time of GCI. Adding a tour functionality will be beneficial to new users.

I am working on a mock up of tour functionality and will share it here in a day or two.

Thank you

[2019-01-20 13:55] IshaGupta18 commented on #4643
#4672 is the PR for this issue. Thanks a lot everyone! Also, I am sorry for the terrible delay.

[2019-01-20 14:07] #4643 closed

[2019-01-20 14:44] geekychaser opened #4673 "Typo in LABEL.md"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-20 14:45] rishabhc32 commented on #4673
Hi, a first timer here.
@geekychaser Sir can I work on this?

[2019-01-20 14:46] geekychaser commented on #4673
@jywarren @gauravano Please add `first-timer-issue` label.
Thank you

[2019-01-20 14:48] geekychaser commented on #4673
Yeah, go ahead !

[2019-01-20 14:54] geekychaser commented on #4607
Created several `first-timer-issue` for welcoming newcomers #4673 #4663 #4666 #4662
Thank you

[2019-01-20 15:35] IshaGupta18 commented on #4632
I am trying to add requireLogin class here:
https://github.com/publiclab/plots2/blob/7b7430393488447cf446e284ec71f63ec3e1a2b4/app/views/tag/_tags_popover.html.erb#L9

But it is still redirecting to this:

![image](https://user-images.githubusercontent.com/40794215/51441388-f3d70b80-1cf6-11e9-8cc3-ae9d791539fa.png)

I have removed the if condition here:

https://github.com/publiclab/plots2/blob/7b7

[2019-01-20 17:11] SidharthBansal commented on #4632
I think you don't need to remove the if condition. You have to change line of subscription button file to have requirelogin class.

[2019-01-20 17:17] IshaGupta18 commented on #4632
If I don't remove the if condition, then the popover won't be displayed right? Because only the login modal is displayed if the user isn't logged in, according to this condition. Shouldn't we make a change in the subscribe button in the popover, so that the user can select the tags and click on it, and then the modal shows up?

[2019-01-20 17:34] IshaGupta18 commented on #4632
Yes this is what I am saying, that if condition is for the Subscribe+ button (the one with the partial _subscribe_button), we need to link the login modal to the subscribe button being displayed inside the popover (ie add requireLogin class to the submit button in partial _tags_popover). The problem is that it is not working, I have shown the screenshots, here are a few more:

![image](https://use

[2019-01-20 17:40] SidharthBansal commented on #4632
Please open up a PR for your changes. Screenshots makes sense but your above statement of removing if condition is ambiguous to me. We can help you after see the changes in PR.
Thanks Isha.

[2019-01-20 17:48] IshaGupta18 commented on #4632
#4675 is the PR, please have a look at it. Thanks a lot!

[2019-01-20 18:38] gauravano commented on #4607
Great work @geekychaser :100:

[2019-01-20 18:49] #4673 closed

[2019-01-20 20:53] dave-light commented on #4645
Hi @jywarren @gauravano I'm interested in working on this.

Perhaps allowing the original author (and moderators of course) to approve responses would be most effective in my humble opinion. The original poster may not be very active in approving responses but I suppose this is better than auto approving responses and hoping the original author will mark it as spam.

Correct me if I am wrong but i

[2019-01-20 21:12] ryzokuken commented on #4660
Hi everyone, just dropping here to say that making a flask server for data science stuff is the correct approach here. Essentially, you would need a separate server crunching the numbers and acting as an interface to the models. This flask server would need to be run in a separate container and I volunteer to make appropriate changes to the `docker-compose` config to make sure this floats. Looking

[2019-01-21 03:25] sashadev-sky opened #4676 "Weekly Community Check-In #6 - "Expand Your Horizons""
Hi everyone :wave: !

We all at Public Lab :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and a

[2019-01-21 03:37] sashadev-sky commented on #4251
Closing this issue as @gauravano has fixed it

[2019-01-21 03:37] #4251 closed

[2019-01-21 04:52] SidharthBansal commented on #4192
You have to create a similar page on the local host by going to /wiki/new.

On Mon, Jan 21, 2019, 9:53 AM Pawan Shukla <notifications@github.com wrote:

[2019-01-21 05:01] SidharthBansal commented on #4676
Who will be doing the next checkin?

On Mon, Jan 21, 2019, 10:30 AM Sidharth Bansal <
bansal.sidharth2996@gmail.com wrote:

[2019-01-21 05:06] SidharthBansal commented on #4607
Moved to #4676

[2019-01-21 05:06] #4607 closed

[2019-01-21 06:44] ishan909 commented on #4602
I would like to claim this issue.

[2019-01-21 07:06] cesswairimu commented on #4602
Awesome @ishan909 go ahead.

[2019-01-21 07:17] ishan909 commented on #4602
Done, ready for review.

[2019-01-21 07:32] fiterace commented on #4671
hi @IshaGupta18 i have started a pull request

[2019-01-21 08:40] Dsxv commented on #4192
Yes , but how should I add the `subscribe to email` button ?
Thanks!

[2019-01-21 09:37] SidharthBansal commented on #4192
Hi, I am really Sorry Pawan for not telling you that this issue is fixed.
Oorjit fixed it. There are many PRs/issues related. His solution aimed to fix grids which fixed this also.
Once the changes will be published everything will work fine on the production branch.
Thanks Pawan for help.

[2019-01-21 09:37] #4192 closed

[2019-01-21 09:49] #4671 closed

[2019-01-21 09:51] #4602 closed

[2019-01-21 09:56] SidharthBansal commented on #4250
Now we are adding JS validations instead of Rails as Rails configuration says to redirect to the main page.

[2019-01-21 09:57] SidharthBansal commented on #4454
Moving to #4250 as this will enable the login modal to never be redirected to login page. So this error will vanish.
Closing this one.
Thanks everyone

[2019-01-21 09:57] #4454 closed

[2019-01-21 13:09] chirag-singhal commented on #3840
![Uploading Screenshot from 2019-01-22 00-03-50.png…]()
I am getting this error when running passenger

[2019-01-21 13:10] chirag-singhal commented on #3840
![Uploading Screenshot from 2019-01-22 00-03-50.png…]()
I am getting this error when running passenger

[2019-01-21 15:55] jywarren commented on #1502
Also there are a range of clustering algorithms - these can be tested in the JavaScript console:

http://js.cytoscape.org/#collection/clustering

* eles.markovClustering()
* nodes.kMeans()
* nodes.kMedoids()
* nodes.fuzzyCMeans()
* nodes.hierarchicalClustering()
* nodes.affinityPropagation()

I'm not familiar with these but they all seem to use attributes of the nodes or edges to create clusters o