[2018-09-28 12:00] sagarpreet-chadha commented on #3477
Hi @jywarren ...should i solve this one and other related Maps issue OR make new detailed issues ?

[2018-09-28 12:54] kostadriano commented on #3485
Can I claim this issue?

[2018-09-28 13:12] avsingh999 commented on #3524
@igniteeng000  great catch

[2018-09-28 13:18] aSquare14 commented on #3496
I'll attend !

On Fri, Sep 28, 2018, 10:58 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-09-28 13:33] rbhatia46 commented on #3496
I'll be there as well! 👍

[2018-09-28 14:02] Mridul97 commented on #3168
I am interested in becoming Google Code-In mentor. :-)

[2018-09-28 14:04] avsingh999 commented on #3410
@SidharthBansal @jywarren  I have edited this issue for GCI please check it

[2018-09-28 14:10] avsingh999 commented on #3526
@igniteeng000  can u please explain more about this issue

[2018-09-28 14:12] SidharthBansal commented on #3410
Well done.
3 suggestions
1. You missed to write problem statement before proposing a soln
2. Add permanent link of lines of code
3. Open a new issue for this and close this one. Link this to it as here new comer will face difficulty to understand what was going on in the comments.

Thanks great job

[2018-09-28 14:15] igniteeng000 commented on #3526
Highlight that tab that is selected just like Notes

[2018-09-28 14:17] SidharthBansal commented on #3421
Please modify the existing template to use the problem. You pasted the template which I provided you. You need to update the template after reading it.
I have added few suggestions in other issue. Please see to it.

[2018-09-28 14:29] ViditChitkara commented on #3496
I'll be attending!!

[2018-09-28 14:33] gauravano commented on #3496
**Agenda:**
1. Introduction of all (from PL representatives to all new members)
2. A quick review of GCI rules and workflow (by any @publiclab/community-reps or @publiclab/mentors)
3. We have many new members on-board for mentoring in GCI, I guess it's time, that we all should start adding tasks on GCI website

**Please add more points in the above list. Thanks :smiley: !**

[2018-09-28 14:38] gauravano commented on #3526
Hi @igniteeng000, nice catch,  would you like to solve this issue by yourself or a FTO ? Thanks!

[2018-09-28 14:41] avsingh999 commented on #3522
@vishalka98  great

[2018-09-28 14:42] igniteeng000 commented on #3526
I want to add this issue for gci-candidate.

[2018-09-28 14:43] gauravano commented on #3526
ok, cool!

[2018-09-28 14:44] gauravano commented on #3526
Please add link to file also in issue body. Thanks!

[2018-09-28 14:52] igniteeng000 commented on #3524
Add gci-candidate to this also

[2018-09-28 14:57] gauravano commented on #3524
Hi @igniteeng000 , as this bug is most probably related to controller, so you have to provide the hint or partial solution so as to simplify this issue for GCI participants. Thanks!

[2018-09-28 15:01] igniteeng000 commented on #3524
Ok, no problem

[2018-09-28 15:54] SidharthBansal commented on #3421
Perfect. Just copy this stuff to a new issue and close this. Now you need to assist people to do this issue.
I want you to copy this to new issue because people will get confused if they will see the explanation and comments written underneath the issue
Thanks well done

[2018-09-28 16:00] avsingh999 commented on #3421
@SidharthBansal  I want to only verify by you I will close it

[2018-09-28 16:00] Fastie opened #3527 "Edit window for answers to questions does not allow preview (or editing)"
The edit window for posting an answer to a question does not allow preview. Subsequent attempts did allow preview.

When the answer is posted, opening the edit window does not display the answer for editing. Subsequent attempts to edit did display the answer for editing.

Chrome and Edge on Windows.

[2018-09-28 16:02] avsingh999 opened #3528 "Login page background is transparent on mobile screens"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contribut

[2018-09-28 16:02] #3421 closed

[2018-09-28 17:00] avsingh999 commented on #3410
@SidharthBansal  @jywarren   there is another problem in this page here number of like  u can see here are not good should I create another issue for this or  include in this
![star](https://user-images.githubusercontent.com/25536022/46222463-086d4d80-c36e-11e8-85ee-420496b5bca2.png)

![another](https://user-images.githubusercontent.com/25536022/46222340-97c63100-c36d-11e8-9222-698b74314a83.png)

[2018-09-28 17:54] avsingh999 opened #3530 "Follow button is not working"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)
in every post have a some options  like this but Follow button is not working

![s](https://user-images.githubusercontent.com/25536022/46224

[2018-09-28 18:11] radheyshyamjangid commented on #3471
I would like to work on it. Can I?

[2018-09-28 18:27] jywarren commented on #3530
Hi, when you click it, are you logged into the site? Just checking; thanks!

On Fri, Sep 28, 2018 at 11:54 AM Avkaran Singh <notifications@github.com>
wrote:

[2018-09-28 18:29] jywarren commented on #3410
ah, interesting. is there a CSS rule to prevent breaking a line in a
situation like this?

On Fri, Sep 28, 2018 at 11:00 AM Avkaran Singh <notifications@github.com>
wrote:

[2018-09-28 18:35] jywarren commented on #3168
Great @Mridul97 ! Take a look at the top of the page for more info.

Mentors who've gotten their invites, I just created a "reusable" tasks for translations as we've discussed, in #3515, and copied it into a GCI task. It's a good first-timers issue. Please sign up on that task as mentors so we have plenty of people able to help with that! Thank you!

[2018-09-28 18:40] jywarren commented on #3168
Hi, @avsingh999 i've added you, thanks! However please do go in and add extra info and responses to the issues you've opened already. You could tag them with `needs-code-links` or otherwise provide extra info to help make them solvable tasks for GCI. Thank you!

[2018-09-28 18:42] avsingh999 commented on #3530
@jywarren  when i looged in then click but nothing to happen, and when I logged out then not going to login page please check it

[2018-09-28 18:46] jywarren commented on #3421
Thanks everyone! And @avsingh999 if you want to link to the new issue so there's continuity that may be helpful. Great! 🎉

[2018-09-28 20:14] #3341 closed

[2018-09-28 20:15] gauravano commented on #3471
Hi @radheyshyamjangid , @rbhatia46 has already opened a PR for this issue. You can find more issues at https://code.publiclab.org/ . Thanks!

[2018-09-28 20:18] radheyshyamjangid opened #3531 "Results are not sorted according to views"
### Please describe the problem (or idea)
results are not sorted according to views in wikis

![image](https://user-images.githubusercontent.com/20898860/46231428-7f640f80-c389-11e8-8253-9b40e216d4e0.png)

the results should be sorted according to page views.

### Please show us where to look

https://publiclab.org/search/wikis/science+community?order=views

### What's your PublicLab.org username?

[2018-09-28 20:32] sunilsj99 commented on #3517
Can you please describe the issue in more details. I am interested in working on this @stefannibrasil

[2018-09-28 20:36] jywarren commented on #3522
I think this would be a great project to plan out. What systems could we plan out to address this?

Could we send an email validation when you try to change your email? Would we use a token? Would it expire?

Thanks!

[2018-09-28 20:37] igniteeng000 commented on #3522
Yes, same as we did on sign up

[2018-09-28 20:39] igniteeng000 commented on #3522
@vishalka98 Add code links

[2018-09-28 20:55] vishalka98 commented on #3522
correct answer @igniteeng000 .

[2018-09-28 20:59] vishalka98 commented on #3496
👍

[2018-09-28 21:02] avsingh999 commented on #3496
:+1:

[2018-09-28 21:13] ebarry commented on #3496
Guarav, thank you so much for adding an agenda? Who do you wish the lead
facilitator to be? You are welcome to if you'd like :)

On Fri, Sep 28, 2018, 5:02 PM Avkaran Singh <notifications@github.com>
wrote:

[2018-09-28 21:21] avsingh999 commented on #3531
@radheyshyamjangid  great catch

[2018-09-28 21:28] avsingh999 commented on #3531
@igniteeng000  I think he saying same as

[2018-09-28 21:37] igniteeng000 commented on #3530
Yeah , I also tried it's not working.Of course, I was logged in.

[2018-09-28 21:39] radheyshyamjangid commented on #3496
I would like to attend. It would be the great moment for me.....

[2018-09-28 21:41] radheyshyamjangid commented on #3496
i will attend surely...

[2018-09-28 21:42] gauravano commented on #3496
Thanks Liz! I guess @jywarren would be leading us.

[2018-09-28 21:49] avsingh999 opened #3532 "Improve methods page button placement"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Instance count 1
Field: Training

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to fo

[2018-09-28 21:50] avsingh999 commented on #3410
@jywarren @SidharthBansal  I have created another issue with formating

[2018-09-28 21:50] #3410 closed

[2018-09-28 22:38] jywarren commented on #3530
Can you screenshot the follow button itself and also paste in your JavaScript console output?

[2018-09-28 22:39] jywarren commented on #3530
Thanks for your help!

[2018-09-29 00:03] stefannibrasil commented on #3517
sure, @sunilsj99.
The typeahead script is [here](https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/restful_typeahead.js). It gest data from the [API](https://github.com/publiclab/plots2/blob/master/app/api/srch/search.rb). The API has the info about the item category, i.e., Note, Profile, Tag, etc. But somehow, the categories aren't grouped, sometimes Notes is returned twice,

[2018-09-29 00:04] stefannibrasil commented on #3517
The other thing is that the 'View all' button doesn't appear always, only for certain queries. We would appreciate any help/insights on those bugs, we don't have much JavaScript experience, so an extra help would be great!

[2018-09-29 00:27] #3475 closed

[2018-09-29 00:28] jywarren commented on #3515
Please give it a try! I'd love to know if the issue makes sense or I missed
something. Note that multiple people may complete this one! Tell me how it
goes!

On Fri, Sep 28, 2018, 10:21 AM Sunil K. Jain <notifications@github.com>
wrote:

[2018-09-29 00:29] jywarren commented on #3528
Can we add a request that any solution include a screenshot at wide and
narrow page widths so we know how it looks in either situation? Thanks!!

On Fri, Sep 28, 2018, 10:02 AM Avkaran Singh <notifications@github.com>
wrote:

[2018-09-29 00:33] jywarren commented on #3485
Hi! This one we're keeping for Google Code-In; would you be interested in
one of these instead?

https://github.com/publiclab/plots2/wiki/Google-Code-In-Tasks

On Fri, Sep 28, 2018, 6:55 AM Adriano Costa <notifications@github.com>
wrote:

[2018-09-29 00:34] jywarren commented on #3477
Either way... however you'd like to help!!!

On Fri, Sep 28, 2018, 6:01 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-09-29 01:58] kulshreshtha19 commented on #3496
I will attend this!

[2018-09-29 02:27] igniteeng000 commented on #3531
@avsingh999 @radheyshyamjangid please look at the links they both are different.

[2018-09-29 03:44] jywarren commented on #3532
This is fantastic. Thanks!

On Fri, Sep 28, 2018, 3:50 PM Avkaran Singh <notifications@github.com>
wrote:

[2018-09-29 03:49] jywarren commented on #3511
Yes, I think we may want to close this and just notify @ebarry of the
change. Thanks!

On Thu, Sep 27, 2018, 9:12 AM shivani-kapania <notifications@github.com>
wrote:

[2018-09-29 03:53] jywarren commented on #3476
Yes, try one of these, thanks!

https://github.com/publiclab/plots2/wiki/Google-Code-In-Tasks

On Thu, Sep 27, 2018, 2:10 AM Sunil K. Jain <notifications@github.com>
wrote:

[2018-09-29 04:27] neel1998 commented on #3532
Can I work on this one?

[2018-09-29 05:02] radheyshyamjangid commented on #3531
@igniteeng000 yup u are right, it is not working as should need to be. Contents are not sorting after clicking.

[2018-09-29 05:02] radheyshyamjangid commented on #3531
@avsingh999 nope it is different

[2018-09-29 06:00] VaaibhaviSingh commented on #3168
I am interested in becoming a Google Code-In mentor : )

[2018-09-29 06:01] geekychaser commented on #3168
@ebarry I want to be a part of live session. I am in 3rd year and pursuing Computer Science Engineering from GGSIPU

[2018-09-29 06:06] geekychaser commented on #3496
I want to be a part of live session. I am in 3rd year and pursuing Computer Science Engineering from GGSIPU

[2018-09-29 06:31] gauravano commented on #3511
Closing it then. Thanks!

[2018-09-29 06:31] #3511 closed

[2018-09-29 08:08] SunveerSingh commented on #3512
Hello, I have solved this issue, I am also a new comer, please check the pull request: https://github.com/publiclab/plots2/pull/3533

Thank You
Sunveer

[2018-09-29 08:32] namangupta01 commented on #3512
Hey @SunveerSingh, @aakashbansal  is already working on this issue. Please do not work on the issue on which someone is already working. You can look for the other issues. There are plenty of it.
Thanks

[2018-09-29 08:48] aSquare14 commented on #3360
So, for now I am just adding code snippet for removing line. Maybe we could open another issue where we can say redirect to page 2 @jywarren ?

[2018-09-29 09:48] gauravano commented on #3512
Hi @aakashbansal, I just restarted the build and it passed this time. Thanks!

[2018-09-29 09:53] shivani-kapania commented on #3168
Done! @jywarren

[2018-09-29 10:18] aakashbansal commented on #3512
@gauravano Much appreciated! :)

[2018-09-29 11:30] avsingh999 opened #3534 "Answer Preview is not working"
### Please describe the problem (or idea)
If I want to Comment/answer of the question, In question page there is two option I can comment or I can give answer  and comment Preview working fine  but Answer preview is not working, if click on preview then it's showing comments preview not an answer's preview

![issue](https://user-images.githubusercontent.com/25536022/46245050-9d6f5580-c405-11e8-91b

[2018-09-29 11:45] avsingh999 opened #3535 "images not uploading in Answer"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)
when I want to upload an image in an answer  and select image file/ drag-drop in answers but it's uploading in comments

![issue3](https://u

[2018-09-29 13:32] avsingh999 commented on #3535
@jywarren
![issucommit](https://user-images.githubusercontent.com/25536022/46246383-2db79580-c41a-11e8-881b-e358efadcbb1.png)

[2018-09-29 13:40] jywarren commented on #3535
Ah but that's when it succeeded, no? Thanks!

On Sat, Sep 29, 2018, 7:33 AM Avkaran Singh <notifications@github.com>
wrote:

[2018-09-29 14:12] avsingh999 commented on #3535
@jywarren images can only be uploaded as comments.

[2018-09-29 14:38] vikul1234 commented on #3408
@jywarren  I want to work on this

[2018-09-29 14:39] vikul1234 commented on #3481
@avsingh999  @SidharthBansal I want to work on this issue

[2018-09-29 14:51] SidharthBansal commented on #3481
Go ahead @vikul1234

[2018-09-29 19:38] aashna27 commented on #3485
Can I claim this issue ? Looking forward to contributing.

[2018-09-29 20:05] aashna27 commented on #3442
Can I claim it ?

[2018-09-29 20:08] aashna27 commented on #3442
@msarit This is a first timer issue. @SidharthBansal please assign me on this, would love to work.

[2018-09-29 20:39] Sandhya023 opened #3537 "Update the Readme"
### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

I am working on this

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/wiki/developers#Contributing+for+non-coders

[2018-09-30 04:44] vikul1234 commented on #3379
@YashishDua @SidharthBansal @jywarren  can I work on this issue

[2018-09-30 05:30] SidharthBansal commented on #3379
Yeah go ahead

[2018-09-30 05:34] SidharthBansal commented on #3537
@Sandhya023 what are you working at??
I think you missed to tell what is the issue in the issue body.
Can you please tell us the issue before you start working on it.
Thanks

[2018-09-30 05:51] vishalka98 opened #3539 "Choose Image file button not working"
### Please describe the problem (or idea)
'Choose File' button is not working.

![screenshot 9](https://user-images.githubusercontent.com/31175911/46253794-2045ee00-c4a2-11e8-896c-af7ef6f66487.png)

file should be upload,  when we choose file from "choose file"  button

### Please show us where to look

https://publiclab.org/post

### What's your PublicLab.org username?
vishalka98

### Browser, ve

[2018-09-30 06:02] vikul1234 opened #3540 "Inconsistent alert for same page"
### Please describe the problem (or idea)
When we delete any comment the alert looks nice but while deleting any answer alert is the default alert.
## Deleting Answer

![answer](https://user-images.githubusercontent.com/22452641/46253858-5b94ec80-c4a3-11e8-9bec-a11d859ababa.PNG)

## Deleting Comment

![comment](https://user-images.githubusercontent.com/22452641/46253860-5f287380-c4a3-11e8-8c78-e9d

[2018-09-30 06:17] vikul1234 commented on #3168
I am interested in becoming a google code-in mentor.

[2018-09-30 06:40] SidharthBansal commented on #3532
@neel this issue is reserved for google code in program which is for high school students.
So you can't work on it if you are not a gci candidate.
You can check out other ftos.
Thanks

[2018-09-30 06:40] saloni-garg commented on #3509
Hi @gauravano, just wanted to confirm if the following code would do what we are aiming at-
`def first_time_commenter
    comments.where(status: 1).count == 0
  end`

[2018-09-30 06:45] radheyshyamjangid commented on #3471
ohk @gauravano

[2018-09-30 06:51] vishalka98 commented on #3539
It is working on localhost @jywarren

[2018-09-30 07:10] saloni-garg commented on #3493
@jywarren, I hope this resolves the issue :)

[2018-09-30 07:58] avsingh999 commented on #3535
@jywarren  same problem when we want to comment of any answer then preview and image uploading not working

[2018-09-30 08:15] gauravano commented on #3442
Hi @aashna27, actually this issue is solved by @msarit in #3467 but due to missing `Fixes` statement, the issue was not closed on merge. Sorry for the inconvenience. You can find more first-timer issues at https://code.publiclab.org . Thanks!

[2018-09-30 08:15] gauravano commented on #3442
Closing this now.

[2018-09-30 08:15] #3442 closed

[2018-09-30 08:18] gauravano commented on #3493
Hi @saloni-garg, we appreciate your help but this issue is already claimed by @ibrahimelbanna as you can see in above comments. You can find more first-timer issues at https://code.publiclab.org . Thanks!

[2018-09-30 08:42] YashishDua commented on #3390
Alright, and I am taking up this issue @SidharthBansal

[2018-09-30 08:43] SidharthBansal commented on #3540
Do you want to work on this?

[2018-09-30 08:48] SidharthBansal commented on #3531
great catch @radheyshyamjangid.
May I know who is working on this out of @igniteeng000 @radheyshyamjangid @avsingh999 ??

[2018-09-30 08:50] SidharthBansal commented on #3531
https://github.com/publiclab/plots2/pull/2002 might help.
I resolved a similar bug few months back

[2018-09-30 08:52] SidharthBansal commented on #3528
Yeah we can categorise this fto to design part and can have multiple people working on it.
Thanks

[2018-09-30 08:56] SidharthBansal commented on #3526
@igniteeng000 if you are creating a gci candidate issue, please add following lines in the issue body so that other people will not start solving it:
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

[2018-09-30 09:12] SidharthBansal commented on #3523
I can't understand the issue. Can anyone please explain me?
The save button did not appear because the web page was not loaded fully, I personally think so.

[2018-09-30 09:17] YashishDua commented on #3390
Things we can do:
1. Allow facebook like only if logged in with Facebook Auth
2. Replace Facebook like with Facebook Share
3. Remove this button, since we already have a feature to like the question.
@gauravano @SidharthBansal
How should we take this further?

[2018-09-30 09:17] SidharthBansal commented on #3390
Hi, you can work on it but please wait for jeff input.
We already have the facebook and twitter like buttons long before OAuth was introduced. I am seeing these buttons since last 3 years. Oauth is introduced since last 2 months.
When you click on like button then the PL post is posted on fb. This is the current functionality, I guess.

Now @YashishDua wants to connect it to OAuth. Tell me if I am

[2018-09-30 09:17] SidharthBansal commented on #3390
@jywarren I want your input here before he starts working.
Whenever you are free please tell what you think we should do here.

[2018-09-30 09:19] YashishDua commented on #3390
Clicking the facebook like just increments the counter, there is no posting.
Preferably, Either we should make this a share button or remove.

[2018-09-30 09:24] YashishDua opened #3543 "Preview Button Text to be changed in 'Post Comments'"
![screen shot 2018-09-30 at 2 51 18 pm](https://user-images.githubusercontent.com/20666950/46255882-82ade700-c4c0-11e8-833f-9af6591ce333.png)
![screen shot 2018-09-30 at 2 51 35 pm](https://user-images.githubusercontent.com/20666950/46255885-85104100-c4c0-11e8-9a56-5bf7dc2781ec.png)

When preview button is clicked, it's text must be changed to 'Hide Preview'.

[2018-09-30 09:29] YashishDua commented on #3366
@bkocsis3 is this Issue resolved?

[2018-09-30 09:30] YashishDua commented on #3373
@shivani-kapania What's the status on this issue?

[2018-09-30 09:32] SidharthBansal commented on #3543
Are you willing to work on it?

[2018-09-30 09:34] YashishDua commented on #3390
That social tab contains another button which lets you tweet the question, and I think the facebook button should follow the similar functionality i.e to share not to like since we already have star feature for that.

If the PL and Fb accounts are linked, let's allow the user to share and in case it's not, will prompt him to sign up first.

[2018-09-30 09:37] SidharthBansal commented on #3390
Yeah we both want similar behaviour. Let's wait for Jeff input then you can start working on it.
Thanks

[2018-09-30 09:40] 14Richa commented on #3523
@SidharthBansal I think what @vishalka98 means is that when you save some wrong information (example your email address is not valid) then the page shows an error but there is no edit button which you can click and go back to filling the right information.
![desktop_issuepubliclab](https://user-images.githubusercontent.com/41283476/46256047-e2a58d00-c4c2-11e8-9d02-29a97fb3ea0b.png)

I guess the fi

[2018-09-30 09:45] igniteeng000 commented on #3531
I am not working on this. @SidharthBansal  Please label this issue with appropriate tags.

[2018-09-30 09:53] 14Richa commented on #3531
@SidharthBansal Can you assign this bug to me? I would like to try my hands on this!

[2018-09-30 09:56] SidharthBansal commented on #3531
Go ahead. No one has claimed to solve this issue before you. So you can solve this.

[2018-09-30 10:02] SidharthBansal commented on #3523
I assigned an issue to you right now.
Let's take @jywarren input in this. According to me, we don't need to do anything here.

[2018-09-30 10:02] YashishDua commented on #3543
Yes!

[2018-09-30 11:32] avsingh999 commented on #3523
@vishalka98  @SidharthBansal  this is work properly in local machine,

[2018-09-30 11:52] shivani-kapania commented on #3373
Hi @YashishDua I was busy with some work for a few days. I'm working on this.
Any issues?

[2018-09-30 13:49] neel commented on #3532
@SidharthBansal sorry. I think you have dialed a wrong number.

[2018-09-30 13:51] SidharthBansal commented on #3532
Oh sorry its @neel1998 auto complete did not complete while writing. Really sorry to disturb you.

[2018-09-30 14:41] radheyshyamjangid opened #3545 "There is no favicon for the web page"
### Please describe the problem (or idea)

There is no any favicon for the web page.

![image](https://user-images.githubusercontent.com/20898860/46258706-d6362a00-c4ec-11e8-8fca-0b51c3850ce9.png)

### Please show us where to look

https://code.publiclab.org/

### What's your PublicLab.org username?

jradheshyam96

### Browser, version, and operating system

window 10, chrome

****

## Thank you!

[2018-09-30 15:03] pdurbin commented on #3545
I see a "PL" favicon on Firefox on Linux. It looks like this:

![pl-255](https://user-images.githubusercontent.com/21006/46258978-67cb7a80-c4a0-11e8-8ff2-0fb111f72475.png)

It's served from https://publiclab.org/images/pl-255.png

[2018-09-30 15:10] vishalka98 commented on #3545
I want to work on this issue. Please assign this issue to me.

[2018-09-30 15:11] vishalka98 commented on #3545
@jywarren Can i add this image https://avatars-05.gitter.im/group/iv/3/57542d83c43b8c601977d790?s=48

[2018-09-30 16:35] YashishDua commented on #3373
Just keeping a check, since you are working that's great! Otherwise, I was thinking to take up.

[2018-09-30 18:12] cesswairimu commented on #3506
Hi @milaaraujo I would like to work on this issue

[2018-09-30 18:46] geekychaser commented on #3539
@jywarren i guess this issue should be opened at "https://github.com/publiclab/PublicLab.Editor/" ?

[2018-09-30 19:51] YashishDua commented on #3534
Can I take this issue?

[2018-09-30 20:39] gauravano commented on #3481
Hi @jywarren @SidharthBansal don't you guys think, the code we are talking about is in use?

![usee](https://user-images.githubusercontent.com/20878070/46262450-0a2a4300-c51f-11e8-896b-7c70b6566ed8.png)

[2018-09-30 21:08] YashishDua commented on #3496
I will attend the live session.

[2018-09-30 21:44] rockstar777 commented on #3168
I am interested

[2018-10-01 01:30] vsk4 commented on #3327
Hello @SidharthBansal  @jywarren, I would like to work on it. Thank you

[2018-10-01 03:18] vsk4 opened #3549 "Stored XSS in comments section https://publiclab.org/questions"
### Please describe the problem (or idea)

 The comment section is vulnerable to  stored - XSS

I tried to comment in [here](https://publiclab.org/questions/) and pasted simple XSS payload and uploaded the comment, after refreshing the page it got executed.
While taking the input for the comment, filtering of input does not happen so that XSS script is executed.

Filtering of script and no pop up

[2018-10-01 03:59] avsingh999 commented on #3481
@jywarren @SidharthBansal, he is right, sorry It was my mistake

[2018-10-01 04:01] avsingh999 commented on #3481
@jywarren @SidharthBansal  I think this page needs to the improvement

[2018-10-01 04:14] vsk4 commented on #3168
I am interested in becoming a Google Code-In mentor.

[2018-10-01 04:27] quinn-codes-synthesis commented on #3464
Hi! I'd like to claim this issue.

[2018-10-01 06:08] YashishDua commented on #3168
I am interested to be a GCI Mentor here at PublicLab.

[2018-10-01 06:29] aashna27 commented on #3522
@vishalka98 @jywarren @igniteeng000 I would like to work on this . Please assign me this.

[2018-10-01 09:13] avsingh999 commented on #3372
@aashna27  @SidharthBansal this issue title should be changed Because It's working but it's taking so much time to delete session please check yourself

[2018-10-01 10:20] rockstar777 opened #3550 "placeholder when brightness step is applied"
First Timers Only

Hi, this is a first-timers-only issue. This means this has been worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If you have contributed before, consider leaving this one for someone new, and looking through our general help wanted issues. Thanks!

The Problem

Add placehol

[2018-10-01 14:05] Rohit280297 commented on #3403
heyy...is this issue still open ?  If yes, I would like to work on this. Or else, I would highly appreciate anyone suggesting me any issue to work upon. Thanks ;-)

[2018-10-01 14:48] vishalka98 commented on #3168
I am interested in becoming a Google Code-In mentor.

[2018-10-01 14:54] SidharthBansal commented on #3168
Please see details given in issue body

[2018-10-01 17:14] vikul1234 commented on #3540
yes, i want to work

[2018-10-01 17:16] SidharthBansal commented on #3540
Go ahead

[2018-10-01 17:44] #3545 closed

[2018-10-01 17:46] jywarren commented on #3168
and thank you, everyone!!!

On Mon, Oct 1, 2018 at 10:55 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-10-01 19:19] jywarren commented on #3549
Hi! Thank you! I'm going to move your comment to our staging server so it doesn't impact real people posting on PublicLab.org:

https://publiclab.org/questions/apparao/09-29-2018/with-which-android-tablets-is-the-mobius-action-cam-compatible#c20756

It's now at: https://stable.publiclab.org/notes/bkleist/04-04-2017/uwec-air-quality-monitoring#c17379

The offending string was:

`"><img src=x onerro

[2018-10-01 19:21] jywarren commented on #3549
I think we should be filtering some parameters here:

https://github.com/publiclab/plots2/blob/2fd9e45f198a84b351a3ae562ae826e9998fde94/app/helpers/application_helper.rb#L102-L107

here, would we filter out attributes like `onerror` and such? What's the best way to sanitize?

[2018-10-01 19:22] Fastie commented on #3527
I encountered this problem again today while posting a comment on an Answer here: https://publiclab.org/questions/mrodriguezorejuela/09-28-2018/mapir-survey3-rgn-image-processing-pipeline

Clicking "Preview" did not display my post.

When I used the link icon to insert a link, the text in the edit window was not changed, so it seemed that the link function was not working. I entered the markdown f

[2018-10-01 19:31] Souravirus commented on #3523
Yeah, @vishalka98 is right there is no save button after entering an invalid email address. So, for that, we have to press the back button of the browser button which is not the optimal way.

[2018-10-01 19:41] Souravirus commented on #3534
Nice catch @avsingh999. Can you please add this and other gci-candidate issue you have made to #3276 and the google code-in dashboard. Thanks!!

[2018-10-01 19:42] igniteeng000 opened #3551 "Repeated trending topics"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**
### Please describe the problem (or idea)
There is only one trending topic and it keeps repeating itself.

![trending](https://user-images.githubusercontent.com/25272573/46311509-1591

[2018-10-01 19:44] Souravirus commented on #3526
@igniteeng000 Please add this and other gci-candidate issue you make to #3276 as well as to gci dashboard. Nice Work!!

[2018-10-01 19:57] jywarren opened #3552 "Move comment_render_body helper into Comment model"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2018-10-01 20:02] jywarren commented on #3549
OK! I've demonstrated the vulnerability in a unit test here: https://github.com/publiclab/plots2/pull/3553

I believe we can use the `sanitize()` method and whitelist a lot of attributes:

https://guides.rubyonrails.org/security.html#html-javascript-injection-countermeasures

Be sure we whitelist everything we really need, like `class`, `href`, `src`, and so forth!

@vsk4 did you want to give this

[2018-10-01 20:05] avsingh999 commented on #3551
@igniteeng000  jeff has already made it in #3188

[2018-10-01 20:18] jywarren commented on #3471
We're looking to incorporate additional content suggested by @SidharthBansal and others in follow-up pull requests which may be completed by others. Please note:

Also we can incorporate some content from here: https://publiclab.org/wiki/gsoc#Mentoring

[2018-10-01 20:19] jywarren commented on #3471
sorry, adding via @SidharthBansal in #3525:

[2018-10-01 20:20] jywarren commented on #3471
Reopening because we have more material we'd like to add in, as mentioned above!

[2018-10-01 20:41] jywarren commented on #3526
yes this is great!

On Mon, Oct 1, 2018 at 3:44 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-10-01 20:42] jywarren commented on #3527
Hi, Chris - i believe this has been documented and converted into a task
for the upcoming Google Code-In program. If it is very urgent, we can try
to prioritize it as something to fix before then, but we're anticipating
several hundred new contributors arriving by the end of October to fix
issues like this. If it can wait, we appreciate your patience as we grow
the community!

On Mon, Oct 1, 2018

[2018-10-01 20:45] jywarren commented on #3493
Hi, @saloni-garg - I've just created a couple new issues and if you'd like to claim one we'd LOVE your help!! https://github.com/publiclab/community-toolbox/labels/first-timers-only

👍 🎉

[2018-10-01 20:45] jywarren commented on #3493
@ibrahimelbanna are you stuck or would you like some help?

[2018-10-01 20:52] #3366 closed

[2018-10-01 20:54] jywarren commented on #3523
It does seem like there is an issue. Perhaps documenting it in a gif would
help to narrowly highlight the specific problem?

https://github.com/publiclab/plots2/issues/3513

On Mon, Oct 1, 2018 at 3:32 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-10-01 20:54] mauricetmeyer commented on #3552
I would like to take on this issue, it would be one of my first open source contributions. Also is there anything I would need to know before opening a pull request, like a special schema for commit messages?

[2018-10-01 20:59] first-timers[bot] opened #3554 "Create a shortlink action in the users_controller"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-01 21:00] jywarren commented on #3554
This will also need a functional test in https://github.com/publiclab/plots2/blob/master/test/functional/users_controller_test.rb to confirm that it redirects properly! Great follow-up issue 👍

[2018-10-01 21:01] jywarren commented on #3501
It looks like according to the docs here: https://github.com/publiclab/plots2/blob/master/doc/API.md#profiles

The current sorting is by user_id, which would be /roughly/ by creation date.

I think Liz's observation reflects this as `philipsilva` is probably a very old profile!

A few things:

1. I'm editing this so that it makes clear that `recent` means `recently posted notes/wikis` -- so sortin

[2018-10-01 21:05] jywarren commented on #3501
For example, @stefannibrasil @milaaraujo -- would it conceivably be helpful to add another sorting type to `user.rb` to sort by natural language score? This is done in node searching:

https://github.com/publiclab/plots2/blob/0c0007fe7a64b9ee11aee33abaf6ee1eb2711195/app/models/node.rb#L47-L51

We could copy that into profile searching over here:

https://github.com/publiclab/plots2/blob/0c0007fe7a

[2018-10-01 21:29] jywarren commented on #3506
Hello Cess! We'd love your help.

@milaaraujo do you think on this one we may need to expand the search method in `user.rb` to include indexing tags somehow? I'm not totally sure how that'd work. Would it be a combined SQL query joining in the `user_tags` table ?

https://github.com/publiclab/plots2/blob/0c0007fe7a64b9ee11aee33abaf6ee1eb2711195/app/models/user.rb#L45-L47

Perhaps it'd be a unique

[2018-10-01 21:51] jywarren commented on #3552
Nope, there's a template in the pull request form, but it's always editable later, so we can help you out as you go! Welcome! 👍 🎉

[2018-10-01 21:53] gauravano commented on #3496
Thanks for wonderful notes @ebarry!

Gaurav Sachdeva

On Tue 2 Oct, 2018, 2:56 AM Liz Barry, <notifications@github.com> wrote:

[2018-10-01 21:57] jywarren commented on #3496
I've asked about a "volunteer" role at Outreachy, since it probably doesn't make sense to have ~20 mentors for a single project. But I am asking for clarification and we may end up with 2-3 more mentors... we'll see!

[2018-10-01 21:58] jywarren commented on #3496
Also, to try to compile up some mentoring resources, I made:

https://github.com/publiclab/plots2/projects/7

Thanks all! 🎉

[2018-10-01 22:03] jywarren commented on #3550
Hi, oh, did you close this for a reason? It looked OK!

On Mon, Oct 1, 2018 at 6:22 AM puneet bindal <notifications@github.com>
wrote:

[2018-10-01 22:04] SidharthBansal commented on #3496
Thanks all

On Tue, Oct 2, 2018, 3:28 AM Jeffrey Warren <notifications@github.com>
wrote:

[2018-10-01 22:04] jywarren commented on #3403
It is, but we are holding it for Google Code-In! However, you can look at https://code.publiclab.org#r=all for more available issues. 👍 😄

[2018-10-01 22:08] #3543 closed

[2018-10-01 22:09] #3512 closed

[2018-10-01 22:09] mauricetmeyer commented on #3552
@jywarren Thank you! Also those first timer issues are great to get to know the codebase, as I often don't have much time to read into large codebases. 👍

[2018-10-01 22:10] jywarren commented on #3522
Hi! Assigning is not necessary -- please go ahead now that you've claimed
it, and THANK YOU!!!!! :-)

On Mon, Oct 1, 2018 at 2:30 AM aashna27 <notifications@github.com> wrote:

[2018-10-01 22:11] jywarren commented on #3464
We'd love your help, thank you!

On Mon, Oct 1, 2018 at 12:27 AM Quinn <notifications@github.com> wrote:

[2018-10-01 22:12] jywarren commented on #3481
OK, i'll close this, but I agree, this page does need improvement!

[2018-10-01 22:12] #3481 closed

[2018-10-01 22:12] jywarren commented on #3552
so glad you like them!!!

On Mon, Oct 1, 2018 at 6:09 PM Maurice T. Meyer <notifications@github.com>
wrote:

[2018-10-01 22:16] jywarren commented on #3373
Hi, i wonder if this one is OK, as we want to be sure first-time users see
it for a little while?

On Sun, Sep 30, 2018 at 12:35 PM droider <notifications@github.com> wrote:

[2018-10-01 22:16] #3487 closed

[2018-10-01 22:19] #3411 closed

[2018-10-01 22:46] Lemcur commented on #3554
Hey, can I take this one?

[2018-10-01 22:51] jywarren commented on #3554
Yes please!!!

On Mon, Oct 1, 2018, 6:47 PM Rafał Klimek <notifications@github.com> wrote:

[2018-10-01 22:59] DamonClark commented on #3464
I submitted a pull request to fix this here https://github.com/publiclab/plots2/pull/3491 with gif included. I don't know if my fix was the best way to do it. But it definitely solves the problem.

[2018-10-02 00:57] Fastie commented on #3527
No need to worry about my patience. The work-around doesn't bother me. I am more worried about the patience of other community members who try to interact using the Answer feature. Waiting a month to fix a feature that is well-used by new community members seems risky. Don't you have sandbox where you could preserve the buggy Answer feature?

[2018-10-02 06:17] SidharthBansal commented on #3403
Hi this issue is meant for gci students, not for mentors. You can checkout other issues which does not have ''gci candidate " tag.
You cannot work on this. Sorry

[2018-10-02 07:04] samagragupta commented on #3168
I am interested in becoming a Google Code-In mentor.

[2018-10-02 07:18] samagragupta commented on #3528
Can I work on it ?

[2018-10-02 07:58] quinn-codes-synthesis commented on #3464
Oh. That's helpful! I'm going to take a look at it ASAP and see if it needs any tweaking.

[2018-10-02 10:28] Kanikashrivastav commented on #3317
@SidharthBansal I would like to work on this issue, if no one is working on it :)

[2018-10-02 10:55] roshniRam commented on #3517
@stefannibrasil can I work on this issue?

[2018-10-02 11:16] SidharthBansal commented on #3317
Someone is working on this. You can try other issues

[2018-10-02 11:29] Kanikashrivastav commented on #963
Hi @jywarren ! I would like to work on this issue as to participate in this outreachy round. I think It would take me some time to figure out the solution as I'm very new to open source and in this project. It would be great if you guide me where I should start :)

[2018-10-02 11:49] roshniRam opened #3558 "Display image in upload section"
### Please describe the problem (or idea)

In this area-

![image](https://user-images.githubusercontent.com/30633549/46346794-e7a34180-c666-11e8-91b5-4c7cf2ba772b.png)

After one clicks on choose image, the file name atleast should be displayed in that area.

### Please show us where to look
https://publiclab.org/post

My username:
roshni_ram001

[2018-10-02 12:09] avsingh999 opened #3559 "Improve Follow/unfollow button"
### Please describe the problem (or idea)
In user profile page if we want to follow to that user then click on follow button but after click page getting refreshing so need to add ajax here

page refreshing after click on follow/unfollow button

### Please show us where to look

https://publiclab.org/profile

### What's your PublicLab.org username?
singhav

### Browser, version, and operating syst

[2018-10-02 12:12] avsingh999 commented on #3558
@roshniRam  I think there is preview sections for that image Am I right?

[2018-10-02 12:14] DipanshKhandelwal opened #3560 "Blog links on main page text formatting and looks is unexpected"
### Please describe the problem (or idea)

- The UI of the blogs links does not look good.
- The text is not formatted properly
- "Read More" button overlaps the below content.

![screenshot from 2018-10-02 17-28-59](https://user-images.githubusercontent.com/24923974/46347700-17077d80-c66a-11e8-9138-5fba2b4344a3.png)

![screenshot from 2018-10-02 17-28-592](https://user-images.githubusercontent.co

[2018-10-02 12:14] roshniRam commented on #3558
@avsingh999 Yes

[2018-10-02 12:40] quinn-codes-synthesis commented on #3464
Thanks Damon! I think I'm in over my head, so I'm glad you were able to find a solution.

[2018-10-02 12:44] Kanikashrivastav commented on #3559
Yes! I checked the same on my local machine. The request to follow/unfollow is not done through AJAX. I guess it would create a better user experience. I would like to work on this, Can you help me, where should I start. I haven't work with Ajax on Rails. I have used Ajax calls in JavaScript. @avsingh999 @jywarren

[2018-10-02 12:49] roshniRam commented on #3559
Can I work on this @avsingh999

[2018-10-02 12:58] roshniRam commented on #3560
@DipanshKhandelwal Can I work on this?

[2018-10-02 13:05] roshniRam opened #3561 "Display top button in the bottom right corner of the screen."
The top button should always be displayed on the bottom right corner of the screen once the user scrolls down. The top button is placed in the footer.

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed t

[2018-10-02 13:31] jywarren opened #3563 "Compile checklist of PR review steps and more clearly share responsibility for readying PRs"
Looking to help check off pull request review steps and get the workflow more clear so we don't get backlogged and more people can help!

@publiclab/reviewers what are our steps?

* [ ] link to original issue
* [ ] description in title
* [ ] reviewed/approved by at least one reviewer
* [ ] screenshot if applicable
* [ ] passes tests

What else?
* [ ] label as `ready`

[2018-10-02 13:42] YashishDua commented on #3561
Can I work on this issue?

[2018-10-02 13:44] singhalkirtika commented on #3405
I want to take up this issue. Is it solved?

[2018-10-02 14:32] harsha-iiiv opened #3564 "chat box close button is disappear"
### Please describe the problem (or idea)

![screenshot 27](https://user-images.githubusercontent.com/31560965/46355094-c00ba380-c67d-11e8-9737-26edbdea5668.png)

### Please show us where to look

 [https://publiclab.org/talk/donate](https://publiclab.org/talk/donate)
### What's your PublicLab.org username?
 Myusername : harsha19990226

### Browser, version, and operating system
      Google chrom

[2018-10-02 14:33] DipanshKhandelwal commented on #3560
@roshniRam Yeah sure :+1:  GFI

[2018-10-02 14:51] harsha-iiiv opened #3565 "Page Translation from English to Deutsch is not working."
### Please describe the problem (or idea)

![screenshot 28](https://user-images.githubusercontent.com/31560965/46356545-94d68380-c680-11e8-8992-afeafcdff2af.png)

### Please show us where to look

 [https://publiclab.org/dashboard](https://publiclab.org/dashboard)

### What's your PublicLab.org username?

### Browser, version, and operating system
   Google chrome

****

## Thank you!

Your help m

[2018-10-02 15:10] jywarren opened #3566 "List number of "sub-pages" with link in sidebar"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2018-10-02 15:53] SidharthBansal commented on #3563
Please check modularity also.

[2018-10-02 15:54] SidharthBansal commented on #3565
This issue is being addressed in another issue. Thanks for bug

[2018-10-02 15:54] #3565 closed

[2018-10-02 16:31] jywarren commented on #3563
Yes, so:

* [ ] PR is (ideally) less than 50 lines of code & generally tries to implement only a single feature or fix
* [ ] PR doesn't affect highly sensitive areas of the site such as header or top of dashboard or signup form without input from `@publiclab/community-reps`
* [ ] Gemfile.lock, yarn.lock, and other unrelated files are not included (message below)

How about these couple extra as we

[2018-10-02 16:35] roshniRam commented on #3561
Yes, go for it

[2018-10-02 16:45] jywarren commented on #3561
Hello, i believe we already have an issue open for this in addition to a
pull request merged. We appreciate your help, though! Perhaps you could
close this and open a new issue with another idea? Thank you!

On Tue, Oct 2, 2018 at 9:05 AM Roshni Ram <notifications@github.com> wrote:

[2018-10-02 16:46] singhalkirtika opened #3567 "First-timers-issue"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-02 16:50] jywarren commented on #3567
this is great! Perhaps we need to mention "for Google Code-In or another
outreach program" -- but thanks!

Note that this change will go into index.html as well.

Great issue!

On Tue, Oct 2, 2018 at 12:46 PM welcome[bot] <notifications@github.com>
wrote:

[2018-10-02 17:10] tech4GT commented on #3563
@jywarren Awesome!! Lot's of nice things in this list!! How about these
- [] Issue should be claimed before opening the pull request
- [] Double check if it contains any feature that will be difficult to roll back(Possibly ask for review from other reviewers as well)

[2018-10-02 17:36] MittalS211 commented on #3567
I would like to claim this issue!

[2018-10-02 18:44] jywarren commented on #3317
This is being worked on in #3344 but I also see someone trying in https://github.com/publiclab/plots2/pull/3556 -- please work together to solve it, thank you!

[2018-10-02 18:46] avsingh999 commented on #3559
@Kanikashrivastav thank you for your interest, Go ahead

[2018-10-02 18:55] singhalkirtika commented on #3567
Thanks @jywarren.
 I will modify the text.

[2018-10-02 18:57] avsingh999 commented on #3559
@Kanikashrivastav I think it would be helpfull
https://github.com/publiclab/plots2/blob/1b3cd0802d5a16436602afc373f56e1ae2ade2f1/app/views/users/profile.html.erb#L155

you can get more info about profile page in this folder
 plots2/app/views/users/

for ajax, you can go this link
https://edgeguides.rubyonrails.org/working_with_javascript_in_rails.html

thank you

[2018-10-02 19:00] gauravano commented on #3563
We also have this step in summer:
* [ ] label as `review-me` if review required from another reviewer

[2018-10-02 19:02] singhalkirtika commented on #3567
@MittalS211 go for it!

[2018-10-02 19:03] avsingh999 commented on #3559
@roshniRam  thank you for interest, you should move another issue because she was first for claim this issue there are other repos you can find issue and claim that issue,
thank you

[2018-10-02 19:36] singhalkirtika commented on #3567
Thanks for that @gauravano. I have updated the link.

[2018-10-02 19:41] jywarren commented on #3554
Could we do `User.find_by_username(params[:id])` instead of just `User.find(` ? Thanks!

[2018-10-02 19:42] first-timers[bot] opened #3568 "Add a shortlink and icon to profile pages"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-02 19:43] jywarren commented on #3568
This could be merged in and published AFTER https://github.com/publiclab/plots2/issues/3554 -- which is related but needs to be done first -- thanks!!! 👍

[2018-10-02 19:47] starkblaze01 commented on #3568
@jywarren, I would like to work on this.

[2018-10-02 19:56] gauravano commented on #3568
Hi @starkblaze01, please go ahead. Thanks!

[2018-10-02 20:04] gauravano commented on #3405
Hi @mcblake, could you point to the PR raised for the issue. Thanks!

@singhalkirtika it's in progress by @mcblake. Please find more issues at https://code.publiclab.org/#r=all Thanks!

[2018-10-02 20:30] starkblaze01 commented on #3471
I would like to work on this.

[2018-10-02 21:07] greysteil opened #3571 "Suggestion / request: use Dependabot to keep dependencies up-to-date (reopening for Yarn)"
First of all, thanks for PublicLab!

I've got a suggestion / request: would you be up for using [Dependabot](https://dependabot.com) to automatically create dependency update PRs for this repo? I ran it against my fork and it generated [these PRs](https://github.com/greysteil/plots2/pulls). I'll port the `uglifier` one across to this repo so it's easier for you to check it out.

I built Dependabot

[2018-10-02 21:38] first-timers[bot] opened #3573 "Fix inline maps with a new API URL"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-02 21:38] jywarren commented on #3478
I'm closing this and moving it to https://github.com/publiclab/plots2/issues/3573 as a FTO. Thank you!!!

[2018-10-02 21:38] #3478 closed

[2018-10-02 21:39] jywarren commented on #3573
This is reserved for @Kanikashrivastav !

[2018-10-02 21:41] jywarren commented on #3573
Don't worry - this seems small but this is an important first step in learning our workflow and getting comfortable. I hope this helps and we're here to help out!

[2018-10-02 21:42] jywarren opened #3574 "Inline leaflet maps show URL hash collisions when more than one are on a page"
https://publiclab.org/wiki/inline-maps shows this @sagarpreet-chadha - is there a version update we need to resolve this?

They are generated in this file:

https://github.com/publiclab/plots2/blob/master/app/views/map/_leaflet.html.erb

Do we have to disable the hashes, or just update our version number in package.json?

https://github.com/publiclab/plots2/tree/master/package.json

Thanks!

[2018-10-02 21:50] jywarren opened #3575 "Collect content by location and tag in a new method: Node.tagged_in_location(...)"
Kelvin is starting a new design project around the tag page -- see https://publiclab.org/questions/warren/04-30-2018/what-are-your-thoughts-on-this-initial-sketch-for-a-tag-page-on-publiclab-org

One thing we may want to do is to display a map of tagged content (worldwide) that has geographic tags. If Kelvin (ask on the above page) likes this idea...

We could reuse part of this code:

https://git

[2018-10-02 22:02] first-timers[bot] opened #3576 "Add a database-driven "feature" to the dashboard sidebar"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-02 22:05] Yugandhartripathi commented on #3576
I would like to work on this.

[2018-10-02 22:13] jywarren commented on #3563
We could start requiring 2 reviews, potentially -- and/or we could mark
some people as reviewers who have deeper experience with the site and
getting at least one review from this group... what are your thoughts?

Thanks, all!

On Tue, Oct 2, 2018 at 3:01 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-10-02 22:45] Dhiraj240 commented on #3168
Hi, i want to be a GCI mentor for this year.I was gazing towards an opportunity and finally found it.Am i late ? are you still accepting the forms? if yes then i will immediately start working on issues.

[2018-10-02 22:52] jywarren commented on #3373
I think for now, it is OK. Thank you!!!

On Tue, Oct 2, 2018 at 2:23 AM shivani-kapania <notifications@github.com>
wrote:

[2018-10-02 22:58] cesswairimu commented on #3505
@milaaraujo  what kind of explanatory text  do you mean? Is it like a table or a list with bio and username column? Thanks

[2018-10-02 23:37] DamonClark commented on #3464
No worries Quinn! I'm still just learning too so I'm right there with you.

[2018-10-03 03:34] DakshGondaliya commented on #3168
Hello everyone, I am Daksh Gondaliya a third year student pursuing B.Tech. in Computer Science and Engineering at Indian Institute of Information Technology Vadodara. I want to become a mentor in GCI 2018 with Publiclab. I am very eager to work with open source organization Publiclab. I have experience in C, C++, Java, Python, HTML, CSS, Javascript, Bootstrap, React, Postgresql and also experience

[2018-10-03 04:43] tech4GT commented on #3563
@jywarren I think we should have a project specific team, since not everyone on plots is familiar with Image sequencer and vice versa, apart from the standard reviewers team let's have specific project specific teams with deeper experience with that project, like `plots-experts` and `IS-experts`

[2018-10-03 06:49] sagarpreet-chadha opened #3578 "Asking a question button link should be generalized ."
For new users , when we try to post a wiki page - we get following notice :

<img width="1238" alt="screenshot 2018-10-03 at 12 12 48 pm" src="https://user-images.githubusercontent.com/14952645/46394160-dc532300-c705-11e8-868b-1916134b810e.png">

On clicking the **Asking a question** button it takes us to **_publiclab.org/questions/...._** .
Change this url so that on localhost we go to **localhos

[2018-10-03 07:05] sagarpreet-chadha commented on #3574
@jywarren

https://github.com/publiclab/plots2/blob/885dd06e8f84de1d5b91038e9ff742bd3d0934e1/app/assets/javascripts/leaflet_helper.js#L26

This line is causing the error .

[2018-10-03 07:11] DakshGondaliya opened #3579 "Pagination is not working without login"
### Please describe the problem (or idea)
When you click on next page button without login into PublicLab, it's not working, it leads you to page No. 1. Also, if you click on any of page No. 2, 3, 4... button, it leads to the same above issue.

[🎈 Public Lab_ a community for DIY environmental investigation - Google Chrome 03-10-2018 10_55_11.zip](https://github.com/publiclab/plots2/files/2440867/P

[2018-10-03 07:19] SidharthBansal commented on #3579
Thanks for reporting the issue.
The issue is being worked upon in other issue.
So closing this one

[2018-10-03 07:19] #3579 closed

[2018-10-03 07:20] SidharthBansal commented on #3471
Go ahead

[2018-10-03 07:44] rohan2599 commented on #3168
Hey everyone , I am intersted in becoming the google code-in mentor 2018 for public lab.I have been contributing open source in various orgs for about 1 year. And I am looking for an opportunity to work with this organisation.Please can somebody guide me

[2018-10-03 07:51] SidharthBansal commented on #3168
Please see the details given in issue body

On Wed, Oct 3, 2018, 1:14 PM rohan dhoot <notifications@github.com> wrote:

[2018-10-03 08:04] #3373 closed

[2018-10-03 08:41] TheOllieB commented on #3578
Hey, can I complete this please?

[2018-10-03 08:55] quinn-codes-synthesis commented on #3464
@jywarren -- That would be awesome. Thank you! Look for an email from me sometime early next week; I'm preparing to move this weekend and will have a lot more time to contribute once that's over with.

:house_with_garden: :truck: :derelict_house:

[2018-10-03 09:35] SidharthBansal commented on #3531
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2018-10-03 09:37] SidharthBansal commented on #3534
This has been marked as a good candidate for becoming a first-timers-only issue like these, meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider reformatting or reposting it as a first-timers-only issue, and then ping @SidharthBansal  to get it labelled. Or, if this is

[2018-10-03 09:39] DakshGondaliya opened #3581 "Read more button is collapse on the image"
### Please describe the problem (or idea)
Read more button of the highlighted blog is collapse on the image of another highlighted blog.

![screenshot 206](https://user-images.githubusercontent.com/25260367/46402558-aae65180-c71d-11e8-856a-35d58b6f2cc9.png)

![looklike](https://user-images.githubusercontent.com/25260367/46402622-e41ec180-c71d-11e8-8853-07591425643b.PNG)

### Please show us where t

[2018-10-03 09:40] SidharthBansal commented on #3581
Thanks for reporting a bug.
This bug is being addressed in different issue.

[2018-10-03 09:41] SidharthBansal commented on #3471
Please add missing guidelines from https://docs.google.com/document/d/1-BesjjJnQGAi5A9sS8bJoepmxRSmGZvZ9-uffcbhG_k/ and https://github.com/publiclab/plots2/issues/3563

[2018-10-03 09:41] SidharthBansal commented on #3471
Also give link to https://github.com/publiclab/plots2/issues/3563

[2018-10-03 09:42] DakshGondaliya commented on #3581
Can u just mention the issue no. so that I can try to solve that issue and make PR of it.

[2018-10-03 09:45] SidharthBansal commented on #3563
Instead of tagging we can direct Image sequencer to your review only. Leaflet to sagar's review only. Because no one else I assume have knowledge of those projects. After your review jeff can re- review them and merge them.
What you say?

[2018-10-03 09:48] SidharthBansal commented on #3581
You are going to make a pr? Great. Then go ahead. The issue has not been solved.

[2018-10-03 09:48] SidharthBansal commented on #3581
Trying to dig out the issue number if I can.
You can work on it.

[2018-10-03 09:49] SidharthBansal commented on #3581
There are two errors
1. No space between read and the next image
2. Read button should be center aligned below the images

[2018-10-03 09:53] DakshGondaliya commented on #3581
Thank you @SidharthBansal

[2018-10-03 09:54] SidharthBansal commented on #3581
Please solve both the errors. Also please check that this error is not
reproducing on other pages of the website.

On Wed, Oct 3, 2018 at 3:23 PM Daksh Gondaliya <notifications@github.com>
wrote:

[2018-10-03 09:55] SidharthBansal commented on #3581
Like the profile page, home page, dashboard page, tag page etc.
Thanks

On Wed, Oct 3, 2018 at 3:24 PM Sidharth Bansal <
bansal.sidharth2996@gmail.com> wrote:

[2018-10-03 09:57] Rishabh570 commented on #3558
@roshniRam I would like to work on this

[2018-10-03 10:06] DakshGondaliya opened #3582 "Photos and text are not equally alligned"
### Please describe the problem (or idea)
In all Blogs, photos and text are not equally aligned. It must be equally aligned such that the blog looks better.

![screenshot 203](https://user-images.githubusercontent.com/25260367/46403955-81c7c000-c721-11e8-8996-6a2aa794abec.png)

![screenshot 204](https://user-images.githubusercontent.com/25260367/46403964-89876480-c721-11e8-9ae7-93124b9ccde9.png)

[2018-10-03 10:54] DakshGondaliya opened #3583 "Login popover in not responsive in smartphone view"
### Please describe the problem (or idea)
Login popover is not responsive in the smartphone ie. in the laptop if you shrink the screen.

![-public-lab_-a-diy-environmental-science-community-goo](https://user-images.githubusercontent.com/25260367/46405277-6363c380-c725-11e8-91e5-8c2c2e990fe1.gif)

### Screenshot of Login in smartphone view
![mobileloginview](https://user-images.githubusercontent.co

[2018-10-03 11:01] avsingh999 opened #3584 "Make pop-up for link social media button"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### 🤔 What you will need to know.
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### Problem
In user profile page here i

[2018-10-03 11:03] avsingh999 commented on #3583
@DakshGondaliya  thank you for contribution But  this issue is already  created #3528

[2018-10-03 11:09] avsingh999 opened #3586 "Make pop-up for My access Token Button"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### 🤔 What you will need to know.
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### Problem
In user profile page here i

[2018-10-03 12:00] DivyeshPuri commented on #3576
I would like to work on it.

[2018-10-03 13:06] tech4GT commented on #3563
@SidharthBansal I think making an experts team still makes sense since in future we may have others who could also get added to that, also there is @ccpandhare who knows the project inside out, and since @jywarren is the only one merging prs anyway, he can review them then. Thanks!

[2018-10-03 13:09] SidharthBansal commented on #3563
Actually I have not thought about future. I am really sorry I forget to
think about future. Yeah your idea is better. I completely agree with you.
Thanks

On Wed, Oct 3, 2018, 6:36 PM Varun Gupta <notifications@github.com> wrote:

[2018-10-03 15:01] diya-k commented on #3576
Hi, I'd love to work on this!

[2018-10-03 15:12] #3583 closed

[2018-10-03 15:17] SidharthBansal commented on #3586
@avsingh999 can you please add some code links so that gci students will be able to send a patch quickly to your issues?
Thanks

[2018-10-03 15:18] #3574 closed

[2018-10-03 15:19] jywarren commented on #3574
aha. Maybe we should be careful not to re-use the `map` local variable? Could we make an issue of this?

[2018-10-03 15:19] jywarren commented on #3574
And thanks!!!

[2018-10-03 15:29] SidharthBansal commented on #3408
@vikul1234 on this issue only jeff can work. You can try other issues.
@jywarren can we close this issue as I assume that you have already changed the required link as you are very quick :smile:

[2018-10-03 16:43] DakshGondaliya commented on #3567
Is this issue open? I would like to claim this issue.

[2018-10-03 17:04] avsingh999 commented on #3453
@SidharthBansal  you are right, use white text it will increase readability
 thank you

[2018-10-03 17:06] vikul1234 commented on #3540
@roshniRam  I am working on it.

[2018-10-03 17:40] DakshGondaliya opened #3589 "Add Publiclab organization link to community-toolbox website"
### Please describe the problem (or idea)
A link is required to visit Publiclab organization.

### Please show us where to look
https://code.publiclab.org/

### What's your PublicLab.org username?
dynamic_daksh

### Browser, version, and operating system
Google Chrome, Version 69.0.3497.100 (Official Build) (64-bit), Windows 10

****

## Thank you!

Your help makes Public Lab better! We *deeply* a

[2018-10-03 17:40] DakshGondaliya commented on #3589
I am working on this issue.

[2018-10-03 18:18] igniteeng000 commented on #3589
Also add link to the publiclab website.

[2018-10-03 18:33] igniteeng000 commented on #3408
It's working so closing this issue.

[2018-10-03 18:33] #3408 closed

[2018-10-03 18:40] jywarren commented on #3408
:-) thank you!

On Wed, Oct 3, 2018 at 2:33 PM Ashutosh Kumar <notifications@github.com>
wrote:

[2018-10-03 18:40] rohan2599 opened #3590 "Add social media links and icons to the footer of the store page"
### Please describe the problem (or idea)
The footer needs to be filled with the social media links of the organisation and the icons of each social media i.e facebook , twitter and instagram needs to be added as it is not giving a professional look.
It is also occupying a large space of the footer without nothing being rendered except a follow us button.
![screenshot 50](https://user-images.githu

[2018-10-03 18:41] rohan2599 commented on #3590
I am working on this issue

[2018-10-03 18:45] vikul1234 opened #3591 "Add a Share button on questions page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-03 18:48] Rohit280297 commented on #3591
Can I work on this @vikul1234 ?

[2018-10-03 18:49] jywarren commented on #3591
Ah, i think this may be just a link to:

https://publiclab.org/questions/TK_Siddharth/09-20-2018/what-would-be-the-day-to-day-use-of-spectroscopy#a1207

 instead of:

https://publiclab.org/questions/TK_Siddharth/09-20-2018/what-would-be-the-day-to-day-use-of-spectroscopy

so it links directly to this answer. But we should make the icon "fa
fa-link" instead of "fa fa-share" -- on this line:

https:

[2018-10-03 18:50] jywarren commented on #3453
+1 !!! :-)

On Wed, Oct 3, 2018 at 1:04 PM Avkaran Singh <notifications@github.com>
wrote:

[2018-10-03 18:52] vikul1234 commented on #3591
So sharing button is not required on that page.

[2018-10-03 18:54] vikul1234 commented on #3591
I think sharing button instead of link will be better, if we can share to other platforms

[2018-10-03 18:56] jywarren commented on #3591
That sounds good, but we should solve this ambiguity first and open a
separate issue for that. One thing at a time :-)

But very grateful for your help!

On Wed, Oct 3, 2018 at 2:55 PM vikul1234 <notifications@github.com> wrote:

[2018-10-03 18:57] jywarren commented on #3590
Hi, unfortunately this may need to be closed, as we cannot edit the store
code -- it's a separate site. We very much appreciate your help however!

See more at https://code.publiclab.org#r=all

Thanks!

On Wed, Oct 3, 2018 at 2:42 PM rohan dhoot <notifications@github.com> wrote:

[2018-10-03 18:57] vikul1234 commented on #3591
Ok, working on that.

[2018-10-03 18:58] rohan2599 commented on #3590
ok , no problem

[2018-10-03 18:59] jywarren commented on #3576
Hi, @DivyeshPuri -- thank you! In the future, however, please check with others to see if they've gotten started as well. And if you'd like a new issue, you can ask for one that nobody's taken! But in this case, we'll take a look at your submission soon. Thank you!

[2018-10-03 19:01] jywarren commented on #3567
It looks like @singhalkirtika has opened a pull request for this! Please see https://code.publiclab.org#r=all for more issues. Thank you!!

[2018-10-03 19:04] DivyeshPuri commented on #3576
@jywarren I am sorry for my action, this won't happen again in the future.

[2018-10-03 19:05] jywarren commented on #3567
Ah, i see that @singhalkirtika has revised this and posted a new replacement issue instead!

@MittalS211 please see the revised issue over at https://github.com/publiclab/community-toolbox/issues/50

Thank you!!!

[2018-10-03 19:05] #3567 closed

[2018-10-03 19:05] #3590 closed

[2018-10-03 19:06] #3576 closed

[2018-10-03 19:09] #3573 closed

[2018-10-03 19:10] jywarren commented on #3589
Cool! Please link back from any PR you open :-)

And a screenshot would be great!

Thanks!

On Wed, Oct 3, 2018 at 2:18 PM Ashutosh Kumar <notifications@github.com>
wrote:

[2018-10-03 19:16] vikul1234 opened #3592 "Change share icon to link icon in questions page."
### Please describe the problem (or idea)
Change share icon to link icon in question page.

![image](https://user-images.githubusercontent.com/22452641/46431794-5fa66000-c76a-11e8-91a9-7591898386ea.png)

### Please show us where to look

https://publiclab.org/questions/TK_Siddharth/09-20-2018/what-would-be-the-day-to-day-use-of-spectroscopy

### What's your PublicLab.org username?
vikul1234

### B

[2018-10-03 19:29] vanguard07 commented on #3526
I would like to work on this, if this issue is still open.

[2018-10-03 19:30] jywarren commented on #3464
Good luck with the move! 📦 📦 📦

[2018-10-03 19:31] jywarren commented on #3563
❤️ this convo. Could we think of a name a little less exclusive sounding than `experts`? I guess that is what the name `reviewers` is for, in part. Something else?

[2018-10-03 19:39] SidharthBansal commented on #3453
This has been marked as a good candidate for becoming a first-timers-only issue like these, meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider reformatting or reposting it as a first-timers-only issue, and then ping @SidharthBansal to get it labelled. Or, if this is

[2018-10-03 19:39] SidharthBansal commented on #3453
Thanks Jeff for these replies. I really love this feature.

[2018-10-03 19:40] SidharthBansal commented on #3526
Sorry, you can't commit changes for this issue.
We are participating in Google Code In. This issue is reserved for Google Code In Students only.
we'd love help with another issue -- especially looking at helping others make their first contributions!

Maybe take a look at one of these?

https://github.com/publiclab/plots2/labels/support

[2018-10-03 19:49] vanguard07 commented on #3526
No problem. Thanks for informing @SidharthBansal 👍

[2018-10-03 19:52] jywarren commented on #3453
:-)

On Wed, Oct 3, 2018 at 3:40 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-10-03 19:52] jywarren commented on #3563
Does everyone know how to use saved replies? It's really helpful to keep a consistent nice tone and provide common links. Sidharth maybe "install saved replies" is itself a task we could make?

[2018-10-03 19:53] #3592 closed

[2018-10-03 19:56] avsingh999 commented on #3453
@jywarren @SidharthBansal  I will soon add code-links in my every issue's thank you :smile:

[2018-10-03 19:56] 14Richa commented on #3531
Hey, thanks for checking. Weekdays become a difficult to be active here. I
will push something over the weekend. Thanks

On Wed, 3 Oct 2018 at 3:05 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-10-03 20:02] jywarren commented on #3571
Wow, cool! @publiclab/reviewers what do you think?

Is there a way to have it do the PRs one at a time? Our PR queue is overflowing a bit.

Also, will to be able to deal with any conflicts if it opens multiple at once and we start merging?

Thanks!

[2018-10-03 20:17] vikul1234 commented on #3591
@jywarren please assign fto, gci candidate label

[2018-10-03 20:20] igniteeng000 opened #3594 "Update first-timers-issue-template.md"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Instance count 1
Field: Training

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to fo

[2018-10-03 20:21] igniteeng000 commented on #3594
@jywarren can i send a pr to update this template.

[2018-10-03 20:35] jywarren commented on #3505
I think perhaps more of a general-public simple text explanation -- like
"Searching people's profiles" -- and note that it is searching only these
fields. How does that sound?

On Tue, Oct 2, 2018 at 6:59 PM Cess <notifications@github.com> wrote:

[2018-10-03 20:37] jywarren commented on #3591
Hi, I think this may not be simple enough for a newcomer, but could be broken up into multiple parts... have a read of this to learn more:

https://publiclab.org/notes/warren/01-18-2018/software-outreach-modularity-is-great-for-collaboration

What do you think?

[2018-10-03 20:46] jywarren commented on #963
Hi! I think you might look at this query, and we could think about how to
generate CSV output for different variables in there, and what URL we'd
make them available at... what do you think?

https://github.com/publiclab/plots2/blob/2a238ae5f326c9f91781395287e6e03ea87eef2f/app/controllers/stats_controller.rb#L11-L32

I.e. maybe https://publiclab.org/stats/range/1-1-2010/31-12-2018/ could
break dow

[2018-10-03 20:47] DivyeshPuri commented on #3594
@igniteeng000 What change do you want to bring from this issue?

[2018-10-03 20:48] #3554 closed

[2018-10-03 20:55] rohan2599 opened #3595 "Remove extra horizontal lines in the mobile view"
### Please describe the problem (or idea)
The page when seen in the mobile view gives some extra horizontal lines between the images ,which needs to be changed .
![capture](https://user-images.githubusercontent.com/31514059/46437774-c54e1880-c779-11e8-9643-58d22ddb8a4a.PNG)

solution : Remove this line
codelink:https://github.com/publiclab/plots2/blob/a74987812aec5435717044f76206892399c71ae6/app/v

[2018-10-03 20:55] rohan2599 commented on #3595
I want to work on this.

[2018-10-03 20:57] swardhan commented on #3568
Is this issue solved? Or can I try this one?

[2018-10-03 21:11] #3552 closed

[2018-10-03 21:11] #3589 closed

[2018-10-03 21:18] jywarren commented on #3390
Ah, sorry, catching up! I see what you're saying about sharing on facebook
vs liking. I'd be happy to accept a changed action. We may also want to
adjust the display for fontawesome icons if that's possible... but it could
be done in a separate issue if you like:

https://fontawesome.com/v4.7.0/

On Sun, Sep 30, 2018 at 5:37 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-10-03 21:31] simeydk commented on #3502
Hi

I would like to try addressing this issue, but will need some help.

(1) My understanding is you want the list of people in /profiles/balloons to match the style of the list of people in /people?
(2) Could you point me to where in the codebase (more or less) the change should happen and where in the code base I can go look to find the styling for /people (or help me get oriented to find these

[2018-10-03 21:46] jywarren opened #3597 "Inline map API calls a bit broken?"
@milaaraujo @stefannibrasil I think you can probably offer some quick input here -- it looks like some of the calls going from different types of inline maps are malformed... could you help us untangle what they should be and we can slot in some fixes?

Thanks! Probably similar to, or related to, #3573

https://publiclab.org/wiki/inline-maps

![image](https://user-images.githubusercontent.com/2435

[2018-10-03 21:47] jywarren commented on #3597
For example, the first call was to https://publiclab.org/api/srch/taglocations?query=43,-71 which shows a 500 error, but it's probably missing a parameter?

[2018-10-03 22:12] #2520 closed

[2018-10-03 22:30] jywarren commented on #3535
Can you paste in the JavaScript errors you see when trying to upload?

[2018-10-03 22:32] Who23 commented on #3568
yeah @swardhan it's fixed the pull request got merged

[2018-10-03 22:36] jywarren commented on #3405
I believe this is closed, sorry! But please take a look if you're still interested: https://code.publiclab.org#r=all

[2018-10-03 22:36] jywarren commented on #3405
oh haha Gaurav already said this, thanks! :-)

[2018-10-03 22:48] Souravirus commented on #3523
@jywarren here is the GIF, I have made about the problem,
![editprofile](https://user-images.githubusercontent.com/17192149/46443760-7eb5e980-c78c-11e8-8268-3fb6d0e8178b.gif)

[2018-10-03 23:41] greysteil commented on #3571
I could set it to only have one PR open at a time, but maybe it would be better for me to help out getting the initial PRs merged? I can review (Dependabot itself is written in Ruby) and get each PR to a point where a maintainer just needs to hit merge. Then, once you're up-to-date you should expect 1-2 PRs a week.

Yep! Automatically detects conflicts and fixes them. I've been working on it full

[2018-10-04 00:46] jywarren commented on #3568
Thanks you two - see https://code.publiclab.org#r=all or https://github.com/publiclab/plots2/labels/support for more issues -- thank you!

[2018-10-04 00:46] #3568 closed

[2018-10-04 00:56] jywarren opened #3598 "Remove body text from notes lists"
https://github.com/publiclab/plots2/blob/693f22683ef6c871e51fc6b4d7d09ccd6c6a7d48/app/views/notes/_notes.html.erb#L47

Let's remove this line!

[2018-10-04 00:57] jywarren commented on #3598
It'll simplify pages like this: https://publiclab.org/tag/mobius

where it'll then just show title and image, but not text, for those posts.

[2018-10-04 01:01] RishabhBhaai commented on #3462
Can I work on this issue?
I want to contribute for the first time.

[2018-10-04 05:39] SidharthBansal commented on #3563
We should just inform this to mentors, there is no need of creating an
issue. This depends on individuals, not on community.

If we may create an issue then there are potential chances that students
will get confused.

On Thu, Oct 4, 2018, 1:22 AM Jeffrey Warren <notifications@github.com>
wrote:

[2018-10-04 05:44] SidharthBansal commented on #3563
Hi @jywarren we currently have most of the active members in @publiclab/mentors instead of @publiclab/reviewers. So it would be better to ask from @publiclab/mentors by tagging them. Also, this will be easy for students who are very new to open source.

[2018-10-04 05:45] harsha-iiiv commented on #3564
Ok proceed.

[2018-10-04 05:45] SidharthBansal commented on #3563
We should not use @publiclab/reviewers any more I think so.
We should always use @publiclab/mentors

[2018-10-04 05:46] SidharthBansal commented on #3584
This has been marked as a good candidate for becoming a first-timers-only issue like these, meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider reformatting or reposting it as a first-timers-only issue, and then ping @SidharthBansal to get it labelled. Or, if this is

[2018-10-04 05:53] sagarpreet-chadha commented on #3598
@coopjc...Thank you for opening the Pull Request 😄 !!!
But please be careful in future to get the issue assigned to you before you send a PR because someone else may be working on it .

@Dhiraj240...we appreciate your help and would like you to make your first PR . Please have a look at other **first-timers-only** issue . If you don't find any - ping @publiclab/reviewers and one of us may open it

[2018-10-04 06:27] rohan2599 commented on #3597
I want to work on it

[2018-10-04 06:35] sagarpreet-chadha commented on #3597
Hi @rohan2599 .
Yes that would be great :)
This issue may require some investigative work , so feel free to ask for help if you get stuck anywhere .
Thank you !

[2018-10-04 06:58] kulshreshtha19 commented on #3582
I want to solve this issue

[2018-10-04 07:10] tech4GT commented on #3563
@jywarren how about `image-sequencer-specialists` ??

[2018-10-04 07:34] anshumanv commented on #3530
???

Care to decrypt?

[2018-10-04 07:34] Dhiraj240 commented on #3493
@sagarpreet-chadha Can i work on this as the assigned person is not responding? I have found only this issue, probably create a one first time issue for me if it is not possible to assign this one to me.

[2018-10-04 07:55] cesswairimu commented on #3505
Sounds good, Thanks @jywarren  will be working on this too

[2018-10-04 09:52] thesun38 opened #3601 "Bao gia sat thep xay dung nam 2018"
<h2>Cập nhật nhanh biến động giá sắt thép xây dựng hôm nay - Báo giá sắt thép xây dựng hôm nay </h2>
<p>Mỗi ngày giá cả của các <strong><a href="http://manhtienphat.com.vn/bang-bao-gia-vat-lieu-xay-dung/">vật liệu xây dựng</a></strong> sẽ thay đổi và biến động không ngừng. Điều này đã gây trở ngại cho nhiều người. Nhất là các chủ đầu tư công trình đang có ý định xây dụng. Chính vì vậy, Mạnh Tiến P

[2018-10-04 09:58] vikul1234 commented on #3591
Then convert this issue to help wanted.

[2018-10-04 09:59] vikul1234 commented on #3591
Task1: add a share button.
Task2: Provide different mediums to share that question.

[2018-10-04 10:00] vikul1234 commented on #3591
What do you think?

[2018-10-04 10:30] vikul1234 commented on #3591
we can also extend it further by
One will work to share on facebook, other on twitter and so on.

[2018-10-04 10:33] vikul1234 commented on #3591
on clicking share button ,popover will show fb, twitter , etc icons which users can select to share the question

[2018-10-04 11:06] DivyeshPuri opened #3602 "Enhancement in PR template"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-04 11:07] vanguard07 commented on #3602
I would like to work on it. Could you assign it to me @DivyeshPuri ?

[2018-10-04 11:08] DakshGondaliya commented on #3602
I would like to work on this issue.

[2018-10-04 11:08] vanguard07 commented on #3602
I would like to work on it.

[2018-10-04 11:16] DivyeshPuri commented on #3602
@DakshGondaliya this is a `first-timers-only` issue. I think you have already contributed to Public Lab earlier.

[2018-10-04 11:30] DivyeshPuri commented on #3602
@DakshGondaliya That is true. But we reserve `first-timer-issue` for the folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

[2018-10-04 14:19] #3602 closed

[2018-10-04 14:36] jywarren commented on #3549
Great, so sanitize() can now go in comment.rb, here

https://github.com/publiclab/plots2/blob/f78d53e53647bfa91c09b84754ae40a44d468e48/app/models/comment.rb#L335

[2018-10-04 14:58] YashishDua commented on #3390
@jywarren In this issue, let's convert the facebook like to share?
And I will open up a new issue for fonts.

[2018-10-04 15:00] SidharthBansal commented on #3390
Great go ahead for the first step

[2018-10-04 15:03] gauravano commented on #3493
Hi @Dhiraj240, you can take the issue. @ibrahimelbanna I guess you have committed to plots2 before but if still need help in finding a new issue, feel free to mention me or any @publiclab/reviewers . Thanks!

[2018-10-04 15:04] SidharthBansal commented on #3493
I think @ibrahimelbanna is busy.
Hi @Dhiraj240 do you think you could commit your code and open a pull request so we can get a look at your code? Our TravisCI service will automatically run tests on your changes, as well, so that'll be helpful to see, too. Thanks!

[2018-10-04 15:04] SidharthBansal commented on #3493
Sorry for late reply. I am really sorry. Apologies.

[2018-10-04 15:12] Dhiraj240 commented on #3493
Yeah, i will do it, i have prior experience of opensource.I will give an introduction in the channel.

[2018-10-04 15:27] DakshGondaliya opened #3605 "Link of the answer posted and the wiki edits are not provided in the user profile section"
### Please describe the problem (or idea)
The wiki edits and the answers posted in the user profile section have not been linked with any links .The user is not able to see his answer posted and the wiki edits by directly going to that option.

![capture4](https://user-images.githubusercontent.com/31514059/46483702-e106fc80-c815-11e8-8f2d-3166decc3c70.PNG)

The page is not providing the needed inf

[2018-10-04 15:27] rohan2599 commented on #3605
I want to work on it

[2018-10-04 15:28] DakshGondaliya commented on #3605
@rohan2599 go ahead

[2018-10-04 16:39] jywarren opened #3606 "[Multiple-use] Add explanation to all node-based email notifications to reply-by-email"
We have a new reply-by-email system! It's great, and means you can reply to many emails you get from PublicLab.org and expect your email to be added as a comment. 💬 💥 ✉️

However, not all our email notifications make this clear yet -- since this is new, most warn people NOT to reply by email. Let's change that! 🎉

Changing it will take 3 steps per email template:

## 1. Change email subject lines

[2018-10-04 16:42] #3236 closed

[2018-10-04 16:43] rohan2599 commented on #3606
I want to work on this

[2018-10-04 17:19] jywarren commented on #3606
that'd be great!

On Thu, Oct 4, 2018 at 12:43 PM rohan dhoot <notifications@github.com>
wrote:

[2018-10-04 17:54] vsk4 opened #3608 "HTML injection in comment section while previewing in [publiclabs.org/questions](https://publiclab.org/questions/bronwen/10-04-2018/how-can-you-calculate-microscope-magnification-with-just-a-calibration-slide)"
### Please describe the problem (or idea)

HTML Injection

HTML injection in comment section while previewing in [publiclabs.org/questions](https://publiclab.org/questions/bronwen/10-04-2018/how-can-you-calculate-microscope-magnification-with-just-a-calibration-slide)

I tested it here [publiclabs.org/questions](https://publiclab.org/questions/bronwen/10-04-2018/how-can-you-calculate-microscope-ma

[2018-10-04 18:07] jywarren commented on #3594
Hi! Unfortunately not all first-timers-only issues are reserved for Code-In, so I think we have to decline this contribution. Our apologies! But thank you -- we'd love your help with one of these issues:

https://code.publiclab.org#r=all

THANKS though for your help!!! 👍 🎉

[2018-10-04 18:07] #3594 closed

[2018-10-04 18:11] rohan2599 commented on #3606
@jywarren can you please tell me that which files are need to be changed in test/unit  folder  because in the subscription_mailer_test.rb all the changes are done , so what are the changes that are needed to be done in the files? I'm a little bit confused .Thank you.

[2018-10-04 18:19] jywarren commented on #3606
Ah, you are right, i think all of the mailer files are converted. So step 1 is complete! I think we can move to steps 2 and 3 for any templates and tests that are not converted. Thanks!

[2018-10-04 18:27] vsk4 commented on #3608
@jywarren  thank you for viewing. I am checking the other issue out.

[2018-10-04 18:29] vsk4 commented on #3549
@jywarren  can you be clear where should I insert sanitize()?

[2018-10-04 18:30] rohan2599 commented on #3606
@jywarren I have completed step1 and step 2 ,Actually I was talking about step 3 i.e which files are needed to be changed in step 3 ,because the test/unit/subscription_mailer_test.rb is fully changed ,so do I need to change all the mailer test files ?
.Thank you.

[2018-10-04 18:33] ebarry opened #3609 "IDEA: Crosspost software contribution guidelines on publiclab.org"
### Please describe the problem (or idea)

I am inspired by reading @SidharthBansal 's GCI Mentor Guidelines:
https://github.com/publiclab/plots2/blob/master/doc/GCI_MENTOR_GUIDELINES.md

Reading these clear guidelines has made me wonder if we have finally arrived at the moment where we can begin to explain the "ladder of participation" that software contributors join through and then learn to cre

[2018-10-04 18:49] SidharthBansal commented on #3471
Some great ideas in #3609. Thanks to @ebarry

[2018-10-04 18:50] SidharthBansal commented on #3609
Nice idea. I think this document needs to be separately prepared on publiclab.org/post. As most of the hardware community is at pl.

[2018-10-04 18:59] jywarren commented on #3609
Yeah, agreed, this is cool! Also note strategies and such at
https://publiclab.org/software-outreach which cover a lot of this
list @ebarry shared.

I'd say two things we did really well in software outreach is built a good
foundation community via first-timers-only issues, and then once we had
some people who were taking leadership, we've begun to teach people how to
/write/ first-timers-only iss

[2018-10-04 19:10] jywarren commented on #3606
Ah, well if you open a PR, and no tests fail, you are ALL GOOD :-)

On Thu, Oct 4, 2018 at 2:30 PM rohan dhoot <notifications@github.com> wrote:

[2018-10-04 19:11] #3493 closed

[2018-10-04 19:11] jywarren commented on #3549
I believe on the output (last line) of comment.rb's `render_body` method!

On Thu, Oct 4, 2018 at 2:29 PM SAI KUMAR <notifications@github.com> wrote:

[2018-10-04 19:32] jywarren commented on #3505
awesome!

On Thu, Oct 4, 2018 at 3:56 AM Cess <notifications@github.com> wrote:

[2018-10-04 19:40] jywarren commented on #3360
Hmm, are you sure the snippet is not used in another view?

On Sat, Sep 29, 2018 at 4:49 AM Atibhi Agrawal <notifications@github.com>
wrote:

[2018-10-04 20:04] Dhiraj240 opened #3611 "Add a newline code for auto reply of bot after successfully merging a PR"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-04 20:05] champagnepappi commented on #3509
hi can I work on this one...

[2018-10-04 20:07] Dhiraj240 commented on #3611
@jywarren is this the right way to create a first timer issue for newcomers.I will submit other issues after it which i can solve on my own.
I created this as per the requirement to become GCI mentor.

[2018-10-04 20:08] Dhiraj240 commented on #3611
Also please label it as ```first-timer-issue```

[2018-10-04 20:18] igniteeng000 commented on #3594
@jywarren but we can also add one more template there instead of replacing it. like gci-issue-template

[2018-10-04 20:54] jywarren commented on #3591
:-)

Also some nice styling examples on pages like this: https://store.publiclab.org/products/raspberry-pi-camera

[2018-10-04 21:40] DakshGondaliya opened #3615 "Update install_cloudnine.sh"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-04 22:41] Dhiraj240 commented on #3110
@publiclab/mentors  can i work on this?

[2018-10-05 00:50] a-santos commented on #3615
Can I take this?

[2018-10-05 01:57] gowrimanoharir commented on #3611
Hi, I would like to take this issue, thanks.

[2018-10-05 02:09] DakshGondaliya commented on #3615
@a-santos go ahead

[2018-10-05 03:14] DakshGondaliya commented on #3168
I am interested in becoming a Google Code-In mentor. @jywarren @SidharthBansal I have filled the form, please review it.

[2018-10-05 03:42] ilhamtaufiq commented on #3615
have you opened a pull request for this issue? if not, may i can take this one? 😄

[2018-10-05 04:12] gauravano commented on #3615
Hi @ilhamtaufiq, you can also take look at other issues at https://code.publiclab.org/#r=all . Thanks!

[2018-10-05 06:12] Dhiraj240 commented on #3110
@gauravano may i know which code files need the changes.

[2018-10-05 07:59] aSquare14 commented on #3360
Thanks for poiting it out. I'll look into it

[2018-10-05 10:07] bhavukkalra commented on #3611
is someone already working on this issue? if not, can i take it?

[2018-10-05 10:48] jakrzus commented on #3575
Hi. I'd like to contribute. I'll try to figure it out. Do you think it's tough task for newbie? Or maybe i should leave it as it's tagged as gci-candidate?

[2018-10-05 12:11] avsingh999 opened #3617 "Improve wiki page for mobile view / short width screen"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contribut

[2018-10-05 13:35] roshniRam commented on #3558
GFI @Rishabh570

[2018-10-05 15:53] SidharthBansal commented on #3617
@avsingh999 can we make this gci issue?? We are really near gci and need more than 100 issues for them.
Can you please add the message and add labels?

[2018-10-05 15:57] #3537 closed

[2018-10-05 16:46] jywarren commented on #3617
Also, i believe it's possible some table columns are hidden on smaller
screens to make space. Could you check if that's the case? Thanks!

On Fri, Oct 5, 2018 at 11:53 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-10-05 16:50] jywarren commented on #3575
I think it may be a tough one -- it just has many parts. Perhaps a GCI
person who does a few might take this on as a bigger next project?

On Fri, Oct 5, 2018 at 6:49 AM jakrzus <notifications@github.com> wrote:

[2018-10-05 16:52] DakshGondaliya opened #3620 "Improvement in icon look"
### Please describe the problem (or idea)
By pointing the cursor on the icons like twitter, facebook, Instagram, the color change to #68bfd8 (color hex code) and also icons are slightly zoomed.

![homepage](https://user-images.githubusercontent.com/25260367/46548309-57762e00-c8ec-11e8-9a9b-3c8f8969b29c.PNG)

![-public-lab_-a-diy-environmental-science-community-goo 1](https://user-images.githubuser

[2018-10-05 17:05] DivyeshPuri opened #3621 "Enhancing README.md"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-05 17:05] singhshubham98 commented on #3621
Hi, I would like to take this issue, thanks.

[2018-10-05 17:19] geekychaser opened #3622 ""Fixes #[Add issue number here.]" should be at top of the PR body"
### Please describe the problem (or idea)

![image](https://user-images.githubusercontent.com/24489162/46549682-7e366380-c8f0-11e8-849a-7d6ca33a7ac2.png)

**"Fixes #[Add issue number here.]" should at top of the pr body**

### What's your PublicLab.org username?

geekychaser

### Browser, version, and operating system

chrome , ubuntu

****

## Thank you!

Your help makes Public Lab better! We *de

[2018-10-05 17:20] geekychaser commented on #3622
@SidharthBansal can i do this issue?

[2018-10-05 17:28] SidharthBansal commented on #3621
Hi, do you think you could commit your code and open a pull request so we can get a look at your code? Our TravisCI service will automatically run tests on your changes, as well, so that'll be helpful to see, too. Thanks!

[2018-10-05 18:35] geekychaser commented on #3622
@SidharthBansal please review #3624

[2018-10-05 19:01] sagarpreet-chadha opened #3626 "Describing a way for people to turn on Layers ."
We are using maps all over the side and recently we have integrated Leaflet-Environmental-library in all the maps .
We need to add a descriptive text on the map so that people can know how to turn on layers .

@ebarry mentioned great ideas for solving this issue :

# Solution : [Open to better solutions as well]
We can use the `attribution` attribute :

[code]

Thanks !

[2018-10-05 19:51] Dhiraj240 commented on #3110
@publiclab/mentors @publiclab/reviewers may i know which code files need the changes.

[2018-10-05 19:57] rohan2599 opened #3627 "List of answers answered by the user is not displayed on clicking the answered button"
### Please describe the problem (or idea)
The user profile section page is not displaying the list of answer answered by the users.However, it is showing the no of answers answered by the user.

It is showing the number of answers answered by the user:
![capture4](https://user-images.githubusercontent.com/31514059/46557159-a29d3a80-c906-11e8-942f-321b3c306185.PNG)

But on clicking the questions an

[2018-10-05 21:53] Dhiraj240 commented on #3110
@jywarren will you please tell me which file need changes?

[2018-10-05 21:54] jywarren opened #3628 "Question posting form broken at /questions/new with colon in tags"
@Souravirus this looks like a routing issue and I know you're pretty good at finding those... or any @publiclab/reviewers actually. Can someone help out and figure this one out? We'd really appreciate it! Thank you!

https://publiclab.org/questions/new?tags=question:website&n=15534

shows "That page does not exist" which is a 404 error.

However, this does work:

https://publiclab.org/questions/ne

[2018-10-05 22:08] joyofsoy opened #3629 "Can't post/preview an answer to a question without first subscribing to the topic"
### Please describe the problem (or idea)

I was trying to post an answer to a question, but was clicking on Post and Preview and nothing happened. I thought it was a bug but then finally found the note at the topic saying that you have to first subscribe to a topic before you can answer a question related to it.
![screen shot 2018-10-05 at 4 59 30 pm](https://user-images.githubusercontent.com/438

[2018-10-05 22:09] jywarren commented on #3549
So I tried this with a badly formatted comment but it removed the markdown formatting too. I think we may need to somehow go through the HTML and ensure it's properly nested... :-/

[2018-10-05 22:10] jywarren commented on #3549
And note that if we do use `sanitize` in the model, we'll have to call it like:

`ApplicationController.helpers.sanitize()` since it's not normally available in the models.

[2018-10-05 22:18] jywarren commented on #3549
And note that if we do use `sanitize` in the model, we'll have to call it like:

`ApplicationController.helpers.sanitize()` since it's not normally available in the models.

Aha! The answer to closing unclosed tags is:

`Nokogiri::HTML::DocumentFragment.parse(html).to_html` (https://stackoverflow.com/questions/9933333/sanitize-html-and-close-incomplete-tags)

This is for a distinct issue and we sh

[2018-10-05 22:19] ebarry commented on #2693
Here's an update that makes great progress toward this, a new listing of the largest research areas on publiclab.org in the sidebar:
<img width="1080" alt="screen shot 2018-10-05 at 6 17 03 pm" src="https://user-images.githubusercontent.com/161439/46562636-115ca280-c8cb-11e8-92f5-17b7c2440524.png">
Clicking on a blue topic offers the ability to "Follow" right from the dashboard.

[2018-10-05 22:21] ebarry commented on #2076
Here's an update that makes some progress toward this, a new listing of the largest research areas on publiclab.org in the sidebar, as tags you can click to directly view all or follow:
<img width="1080" alt="screen shot 2018-10-05 at 6 17 03 pm" src="https://user-images.githubusercontent.com/161439/46562705-77492a00-c8cb-11e8-9049-a0acfc0c5d94.png">

[2018-10-05 23:01] ebarry opened #3631 "Planning issue: messaging"
### Please describe the idea

Over the years, people arriving at Public Lab to contribute to environmental health projects have found that there are actually intermediary steps needed such as filing bugs to improve the collaboration platform itself. I'm mentioning this because the moment when non-software-community contributors encounter bugs on the website when they are trying to do something els

[2018-10-05 23:33] ebarry commented on #3053
Confirming that this bug is still happening. :)

[2018-10-06 04:31] Rishabh570 opened #3632 "Logout alert notification doesn't fade away automatically"
### Please describe the problem (or idea)
After logging out from `publiclab.org`, an alert box appears telling that you're successfully logged out, but it stays there unless you manually remove it(by clicking on the cross in alert box) or the page gets reloaded. This seems a bit odd.

![screenshot from 2018-10-06 09-51-16](https://user-images.githubusercontent.com/25483260/46567306-72798a00-c94e-1

[2018-10-06 04:36] Rishabh570 opened #3633 "Signup and Login through Github are not working"
### Please describe the problem (or idea)
Sign-up and Log-in are not working when doing through Github.

![screenshot from 2018-10-06 10-02-00](https://user-images.githubusercontent.com/25483260/46567339-385cb800-c94f-11e8-80cd-0df03dfe96e6.png)

Sign-up & Log-in should work fine with Github as they work with Google, Twitter and Facebook.

### Please show us where to look

https://publiclab.org/si

[2018-10-06 04:51] Rishabh570 opened #3634 "Read more button is not aligned uniformly"
### Please describe the problem (or idea)
On pages containing research notes (like `https://publiclab.org/tag/balloon-mapping`), read more button is not aligned uniformly and sometimes leaves no margin for another card, this makes the cards look little disorganised and less beautiful at first glance :)

![screenshot from 2018-10-06 10-17-59](https://user-images.githubusercontent.com/25483260/46567

[2018-10-06 05:32] DakshGondaliya commented on #3634
@Rishabh570 This issue is already a part of another issue.
Thank you for your help.

[2018-10-06 08:03] #3561 closed

[2018-10-06 12:14] DakshGondaliya opened #3636 "Improve the look of Infragram"
### Please describe the problem (or idea)
Change the look of the block of images and pagination.

### Screenshots of current look
### Screenshot 1
![currentview1](https://user-images.githubusercontent.com/25260367/46571253-44686a00-c98f-11e8-88c7-303196ca2db4.PNG)

### Screenshot 2
![currentview2](https://user-images.githubusercontent.com/25260367/46571255-492d1e00-c98f-11e8-9011-c7c1d8803101.PNG)

[2018-10-06 12:15] DakshGondaliya commented on #3636
I am working on this issue.

[2018-10-06 12:30] pdurbin commented on #3110
@Dhiraj240 this is a bit of a guess but I would suggest looking at 177b72e where "save as draft" was recently modified.

[2018-10-06 12:51] Dhiraj240 commented on #3110
@pdurbin Yeah, i compare it with inspect elements,thanks but may i know how you figured it out because right now i am using windows  where i am getting to many errors to handle the installation and see it working on localhost.
Planning to install fedora using vmware but that will need time which may stop me to fill the GCI mentor form.

[2018-10-06 13:27] DakshGondaliya commented on #3636
@jywarren please review it.

[2018-10-06 14:03] pdurbin commented on #3110
My usual trick for finding the right code to hack on is to search GitHub for a phrase I see in the UI of the app, such as "save as draft" in this case. Here's a screenshot:

![screenshot from 2018-10-06 10-01-48](https://user-images.githubusercontent.com/21006/46572146-fa5f9400-c94e-11e8-88bf-08a2b9b61b89.png)

[2018-10-06 14:11] Dhiraj240 commented on #3110
Okay, now i have changed the code but how can i see it working since i am facing ruby installing issues.

[2018-10-06 15:30] rohan2599 commented on #3627
@publiclab/mentors please review

[2018-10-06 15:46] DakshGondaliya opened #3637 "Begin now and Get help & learn more buttons are collapse"
### Please describe the problem (or idea)
Begin now and Get help & learn more buttons are collapse to each other and also not responsive

### Screenshot 1
![collapse3](https://user-images.githubusercontent.com/25260367/46573000-a08db700-c9ac-11e8-9661-4472acb7bb93.PNG)
### Screenshot 2
![collapse2](https://user-images.githubusercontent.com/25260367/46573002-a71c2e80-c9ac-11e8-9dc3-1534d9038e66.PNG

[2018-10-06 15:48] DakshGondaliya commented on #3637
I am working on this issue.

[2018-10-06 18:18] vanguard07 commented on #3637
@DakshGondaliya  I guess you created the issue in the wrong repository.

[2018-10-06 19:30] vanguard07 commented on #3540
@vikul1234 Are you still working on this. If not, can I work on this?

[2018-10-07 01:52] a-santos commented on #3615
#3641

[2018-10-07 01:52] a-santos commented on #3615
Can you see my pull request #3641  ?

[2018-10-07 01:53] a-santos commented on #3615
Yes, I did. Thanks

[2018-10-07 05:27] vikul1234 commented on #3540
Go ahead

[2018-10-07 05:45] DakshGondaliya commented on #3637
Go ahead @adsk2050

[2018-10-07 06:43] gauravano commented on #3633
I just checked @Rishabh570, it worked for me. Could you post a GIF with the Address bar included in screenshot. Thanks!

[2018-10-07 17:44] sk9331657 commented on #3298
@publiclab/reviewers Please assign me a fto . Please

[2018-10-07 20:52] Lemcur commented on #3628
Hey,
https://publiclab.org/questions/new?tags=question:website&n=15500 works, even 15533, maybe note 15534 was not created (and maybe this is a bug). Also https://publiclab.org/n/15534 does throw 404, but https://publiclab.org/n/15533 does not.

[2018-10-08 04:57] roshniRam opened #3643 "Subscription button collapsing in the mobile view"
### Please describe the problem (or idea)

In this page, in the mobile view the subscription button collapses just below the email text field.
https://publiclab.org/wiki/barnraising-texas-2019

![screenshot 53](https://user-images.githubusercontent.com/30633549/46592860-2ceec580-cae4-11e8-85f9-9fda8f819c99.png)

![screenshot 54](https://user-images.githubusercontent.com/30633549/46592865-3710c400-

[2018-10-08 04:59] rohan2599 opened #3644 "Add button colliding with the enter tag in the mobile view"
### Please describe the problem (or idea)
In the subscription page , when opening the mobile view , the add button is colliding with the enter tag which shows that the page is needed to be improved and made responsive.
Desktop view:
![capture6](https://user-images.githubusercontent.com/31514059/46592941-f5cce400-cae4-11e8-83b2-e8b5957934bb.PNG)
Mobile view:
![capture7](https://user-images.githubus

[2018-10-08 08:47] SidharthBansal commented on #3643
This has been marked as a good candidate for becoming a first-timers-only issue like these, meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider reformatting or reposting it as a first-timers-only issue, and then ping @SidharthBansal to get it labelled. Or, if this is

[2018-10-08 08:47] SidharthBansal commented on #3644
This has been marked as a good candidate for becoming a first-timers-only issue like these, meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider reformatting or reposting it as a first-timers-only issue, and then ping @SidharthBansal to get it labelled. Or, if this is

[2018-10-08 09:44] 14Richa commented on #3523
Sent a PR https://github.com/publiclab/plots2/pull/3645

[2018-10-08 09:58] sk9331657 commented on #3644
@SidharthBansal  I am claiming it.

[2018-10-08 10:01] rohan2599 commented on #3644
@sk9331657 go ahead

[2018-10-08 10:01] sk9331657 commented on #3644
@rohan2599  Thanks You

[2018-10-08 10:02] sk9331657 commented on #3644
@rohan Is organization still accepting GCI Mentor applications??

[2018-10-08 10:03] rohan2599 commented on #3644
Please ask to@SidharthBansal for this.

[2018-10-08 10:29] sk9331657 commented on #3627
@publiclab/mentors I am claiming it.

[2018-10-08 10:39] SidharthBansal commented on #3644
Forms arent closed yet.

On Mon, Oct 8, 2018, 3:56 PM SHUBHAM KUMAR <notifications@github.com> wrote:

[2018-10-08 12:40] agam-kashyap commented on #3611
HI, I would like to take this issue if no one has claimed it yet.
Thanks.

[2018-10-08 13:16] agam-kashyap commented on #3617
Hi, I would like to work on this if no one else has claimed it. Also I might need some guidance as it is my first time doing such a thing.

Thank you.

[2018-10-08 13:29] agam-kashyap commented on #3462
Hey, can I try to solve this if no one is already doing it?
THANKS.

[2018-10-08 13:31] Dhiraj240 opened #3646 "Display message to enter login details."
### Please describe the problem (or idea)
If a user do not enter any information in the email and password fields then it should, display a message to enter it.Instead of following.

![screenshot 173](https://user-images.githubusercontent.com/29758643/46611691-18362000-cb2c-11e8-9d51-cbd35d161f29.png)

A simple form message to ask for details.

### Please show us where to look

I need to investiga

[2018-10-08 13:34] Dhiraj240 commented on #3646
@publiclab/reviewers @jywarren  i would like to work on it.

[2018-10-08 13:37] agam-kashyap commented on #3646
Hello, I would like to work on this issue as my first time.
Thank you

[2018-10-08 14:12] msarit commented on #3462
@RishabhBhaai are you still working on this? Please advise so that @agam-kashyap knows whether to take it up or not

[2018-10-08 14:15] agam-kashyap commented on #3462
Thank You @msarit. Please do tell @RishabhBhaai

[2018-10-08 16:02] jywarren commented on #3168
Hi, all - I see a few people asking to join as mentors. I do want to emphasize that we really need to see a link to at least one `first-timers-only` issue you've created according to the template: https://publiclab.org/n/13667

This way we can see you're comfortable publishing a full "FTO" issue -- welcoming a newcomer into the community. Thank you!

If you've already submitted your form but did n

[2018-10-08 16:03] #3615 closed

[2018-10-08 16:03] #3622 closed

[2018-10-08 16:04] #3621 closed

[2018-10-08 16:04] #3464 closed

[2018-10-08 16:16] #3317 closed

[2018-10-08 16:18] jywarren commented on #3317
Thanks for everyone's help!!!

[2018-10-08 16:19] jywarren commented on #3168
Another request to people -- we have ~20 mentors now and ~28 applications (so a few applications to go through still) -- but we have over 50 pull requests waiting to be supported and prepared for merging!

https://github.com/publiclab/plots2/pulls

[2018-10-08 16:28] jywarren opened #3648 "Add "control-enter" hotkey to post a comment, like on GitHub/Gmail"
I write a lot of comments, and sometimes it's nice to be able to hit `control-enter` (or `command-enter` on a Mac) to post the comment. This is a nice convention on GitHub and also for sending an email on Gmail. I think it should be relatively easy to code up using a standard mini library from NPM (https://www.npmjs.com/search?q=keywords:keybinding maybe?) or perhaps some jQuery.

This will involv

[2018-10-08 16:44] #3606 closed

[2018-10-08 17:07] rohan2599 commented on #3627
@sk9331657 go ahead

[2018-10-08 17:15] geekychaser opened #3649 "Removing "schedule" statement from pull_request_template"
### Please describe the problem (or idea)

![image](https://user-images.githubusercontent.com/24489162/46623467-5989f800-cb4b-11e8-8bd9-24a4028e8fc9.png)

this statement should not be there in PR body

 schedule for reviewing and pulling a pull request should be removed

### What's your PublicLab.org username?

geekychaser

### Browser, version, and operating system

****

## Thank you!

Your help

[2018-10-08 17:16] geekychaser commented on #3649
@SidharthBansal can i work on this?

[2018-10-08 17:33] jywarren commented on #3298
I believe it's being worked on still in:

https://github.com/publiclab/plots2/pull/3347

I'm sure they'd love some help if you want to leave a comment there!

[2018-10-08 17:33] jywarren commented on #3298
Hi @sk9331657 - have you completed a FTO already? If not we're happy to make one for you!

[2018-10-08 17:37] jywarren commented on #3644
Yes, you can find out more here!
https://github.com/publiclab/plots2/issues/3168

On Mon, Oct 8, 2018, 6:40 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-10-08 17:38] SidharthBansal commented on #3649
Great catch @geekychaser

[2018-10-08 17:40] SidharthBansal commented on #3633
Working fine on mozilla, google chrome, incognito window and opera browser on my laptop and mobile.

[2018-10-08 17:45] Dhiraj240 commented on #3168
@jywarren i have not received any acceptance for GCI mentor.Although i have given you private message on gitter also.[This](https://github.com/publiclab/plots2/issues/3611) is my link to first-timer-issue and i have submitted an issue where i want to work on is [this](https://github.com/publiclab/plots2/issues/3646). Should i start creating first-timer-issues because i thought that till now i have

[2018-10-08 17:45] vishalka98 commented on #3168
When I again check my  GCI mentor form I found  some problem in form, Now I corrected it.
Please again review my GCI mentor form.
My GCI mentor form link.
https://docs.google.com/forms/d/e/1FAIpQLScSBS-ddZN2H-lviUJbKlbV2VwP21fdIutXOCBzigRhmXJybw/viewform?edit2=2_ABaOnufAE9hhWvq0EB9y576EuNrKBDYVC4x9ZhhWmSgCPRiXv_soNU1IFg

Sent from Mail for Windows 10

From: Jeffrey Warren
Sent: 08 October 2018 21:

[2018-10-08 17:45] champagnepappi commented on #3632
Hi, Leme work on this one

[2018-10-08 17:45] Rishabh570 commented on #3633
But I'm getting above error on incognito and firefox as well :(

[2018-10-08 17:47] SidharthBansal commented on #3563
@jywarren can we mark it as gci issue so that gci students can review each other commits and we will have a self-sustained system at Public labs

[2018-10-08 17:48] SidharthBansal commented on #3563
This could be multiple instance count (probably infinity) gci issue. If you agree please add ``gci candidate`` label.
Thanks

[2018-10-08 17:49] rohan2599 commented on #3168
I want to become gci mentor for public lab in gci 2018. @jywarren @SidharthBansal I have already filled the form .You can review the form.

[2018-10-08 18:05] jywarren commented on #3505
Solved by @cesswairimu in https://github.com/publiclab/plots2/pull/3614#issuecomment-427927372

Thanks!!!!!

[2018-10-08 18:05] #3505 closed

[2018-10-08 18:05] #3649 closed

[2018-10-08 18:06] #3595 closed

[2018-10-08 18:36] jywarren commented on #3633
Hmm, what happens if you aren't logged into GitHub? What else could be
causing this sequence?

Would you mind all trying on an incognito window?

Thanks!

On Mon, Oct 8, 2018, 1:46 PM Rishabh Rawat <notifications@github.com> wrote:

[2018-10-08 18:38] jywarren commented on #3563
What about "plots-guides"?

Sidharth, this issue? Maybe we should tidy it up a bit? But I like the idea!!!

[2018-10-08 18:43] Dhiraj240 commented on #3611
@publiclab/reviewers will you assign them? mainly who commented first.

[2018-10-08 18:44] vikul1234 commented on #3168
@jywarren  I have submitted the form already , sharing my FTO issue #3592

[2018-10-08 20:07] jywarren commented on #3472
Hi! This may be a relatively complex one that would need to be solved in a few parts. But the basic `minLength and delay to 3 and 1` could be pretty straightforward. If you'd like to give that a try and are comfortable getting started, you can go ahead, otherwise one of the GCI mentors can perhaps format it as a true guided first timers issue, which we're happy to do. Thanks!

[2018-10-09 03:08] Rishabh570 commented on #3633
This is happening on incognito as well...

![incognito_error](https://user-images.githubusercontent.com/25483260/46644584-8fa49780-cb9e-11e8-9983-542e0b018ac7.gif)

[2018-10-09 03:10] Rishabh570 commented on #3632
@champagnepappi Sure, go ahead!! :+1:

[2018-10-09 03:42] SidharthBansal commented on #3611
Yes its first come first service. @gowrimanoharir you can take the issue. Rest can do other issues

[2018-10-09 03:55] SidharthBansal commented on #3646
@dhiraj240 go ahead

[2018-10-09 03:56] SidharthBansal commented on #3646
@agam-kashyap you can try other issues

[2018-10-09 04:56] SidharthBansal commented on #3168
Dhiraj go forward and create issues. Jeff is busy now a days. So he will
send invites whenever he gets free.

On Tue, Oct 9, 2018, 12:14 AM vikul1234 <notifications@github.com> wrote:

[2018-10-09 04:59] SidharthBansal commented on #3168
Vikul you need to create a first timer issue and mentor another guy so as
to demonstrate your mentoring skills. You have created a fto and solved it
yourself. That is why we have not accepted your form till yet.

Dhiraj you need to assist some individuals in first timer issues and help
wanted issues from starting point till they get familiar with public lab

On Tue, Oct 9, 2018, 10:26 AM Sidharth

[2018-10-09 05:06] SidharthBansal commented on #3168
Vishal katiyar you have not made any first timer issue nor helped folks in
solving issues. You have reported an issue. But not created fto.
Also, you have not completed any help wanted issue
@all help wanted issues are issues which doesn't contain ' gci candidate' ,
'first timers only' , nor 'fto' label.
They may or may not have help wanted label.
Please read the guidelines carefully before fillin

[2018-10-09 05:09] SidharthBansal commented on #3563
@ jywarren Sorry I can't understand what you are referring to.
Yeah, there is a need of making a documentation for this issue.

[2018-10-09 05:18] SidharthBansal commented on #3469
I will open another issue for the documentation part once this gets merged.

[2018-10-09 05:38] sagarpreet-chadha commented on #3597
Hi @rohan2599
Just checking if you are stuck or need help somewhere 😄 !

[2018-10-09 06:05] sk9331657 commented on #3648
I am claiming it @jywarren  .

[2018-10-09 06:05] sk9331657 commented on #3648
@jywarren  Can I work on it ??

[2018-10-09 06:17] sk9331657 commented on #3597
@rohan Are u still working on it ?? Shall I take up this issue??

[2018-10-09 06:17] sagarpreet-chadha commented on #3648
@sk9331657 ...go for it  !
Feel free to discuss the approach 😄 . Thank you !

[2018-10-09 06:18] agam-kashyap commented on #3648
Can i work on it. Haven't been able to find any issue to work on.
Thank you.

[2018-10-09 06:24] Rishabh570 opened #3652 "Improve the button group at the bottom of infragram page"
### Please describe the problem (or idea)
The forward and fast-forward buttons in the button group at the bottom of `infragram.org` page are not very nice from the UI standpoint. They can be either made like the ones in `publiclab.org` or we can add an svg/png for them.

Currently, the button group at `infragram.org` looks like,

![screenshot from 2018-10-09 11-44-15](https://user-images.githubuse

[2018-10-09 06:26] vikul1234 opened #3653 "Add share option for questions page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-09 06:30] sk9331657 commented on #3558
@Rishabh570  Can I take up it??

[2018-10-09 06:33] agam-kashyap commented on #3653
Hey, can i take it? Thanks.

[2018-10-09 06:35] vikul1234 commented on #3653
go ahead.

[2018-10-09 06:37] Rishabh570 opened #3654 "The show more button on learn more page of infragram needs some fixes"
### Please describe the problem (or idea)
The *Show more* button below [activities table](https://publiclab.org/wiki/multispectral-imaging#Activities) has some issues,
- When you hover over it, the pointer doesn't change to the cursor
- That button is saying **show 18 more** but it still says the same thing after you've clicked over it, giving the impression that there are still 18 more things to

[2018-10-09 06:45] Rishabh570 commented on #3558
@sk9331657 Yep, actually I'm busy with another one :)

[2018-10-09 06:45] agam-kashyap commented on #3653
Thank you. 😁😁

[2018-10-09 06:46] sk9331657 commented on #3558
Ok

[2018-10-09 06:54] sk9331657 opened #3655 "Adding Space between Asking a Question And Exploring Projects Button"
### Please describe the problem (or idea)
Adding Spaces between button . Easy issue for new comers.

![screenshot from 2018-10-09 12-19-22](https://user-images.githubusercontent.com/17084322/46651443-a7d7df00-cbbd-11e8-80e7-2b72ae845851.png)

Missing spaces between button .

### Please show us where to look

https://publiclab.org/dashboard

### What's your PublicLab.org username?

sk9331657

### B

[2018-10-09 06:56] sk9331657 commented on #3655
@SidharthBansal  @jywarren  This is help wanted issue for newcomers.

[2018-10-09 06:57] sk9331657 commented on #3655
@jywarren  Please add label to it.

[2018-10-09 07:13] Rishabh570 opened #3656 "A successful login redirects a user to `pulbliclab.org/dashboard` in every situation"
### Please describe the problem (or idea)

After a successful login, the user gets redirected to `https://publiclab.org/dashboard` always even when he is not supposed to...

I was here: https://publiclab.org/wiki/multispectral-imaging#Hardware+Mods and clicked *Add your hardware modification here* without logging in, so it said me to log-in which is fine but after I got logged-in it redirected me

[2018-10-09 07:14] sk9331657 opened #3657 "Preventing notification in comment section to add up instead every time it should update."
### Preventing notification in comment section to add up instead ,  it should update every time

Notification should update and should not add up in previous one.
Failure Notification should display only once.

![ezgif com-video-to-gif 12](https://user-images.githubusercontent.com/17084322/46652093-a4455780-cbbf-11e8-82af-45f1b9d4be11.gif)

****

## Thank you!

Your help makes Public Lab better! W

[2018-10-09 07:15] sk9331657 commented on #3655
@SidharthBansal  Please add a label to it.

[2018-10-09 07:18] sk9331657 commented on #3656
@Rishabh570  This is because callback from Github can return to a particular url which is authorized in Github app console.

[2018-10-09 07:20] SidharthBansal commented on #3655
This has been marked as a good candidate for becoming a first-timers-only issue like these, meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider reformatting or reposting it as a first-timers-only issue, and then ping @SidharthBansal to get it labelled. Or, if this is

[2018-10-09 07:20] sk9331657 commented on #3653
@agam-kashyap  You can go for this https://github.com/publiclab/plots2/issues/3655 . This is a first time issue .

[2018-10-09 07:30] agam-kashyap commented on #3653
Thankyou @sk9331657.

[2018-10-09 07:30] sk9331657 commented on #3655
@SidharthBansal  Can you please share format for fto as I have standard template provided in the new issue??

[2018-10-09 07:34] sk9331657 opened #3658 "Adding Space between Asking a Question And Exploring Projects Button - FTO"
### Please describe the problem (or idea)

Adding Spaces between button Ask a Question And Exporing a Project
##Ready for New Contributor

![screenshot from 2018-10-09 12-19-22](https://user-images.githubusercontent.com/17084322/46651443-a7d7df00-cbbd-11e8-80e7-2b72ae845851.png)

### Please show us where to look

https://publiclab.org/dashboard

### What's your PublicLab.org username?

sk9331657

[2018-10-09 07:35] sk9331657 commented on #3658
@SidharthBansal   @avsingh999  Please mark this one as a fto.

[2018-10-09 07:42] SidharthBansal commented on #3658
This has been marked as a good candidate for becoming a first-timers-only issue like these, meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider reformatting or reposting it as a first-timers-only issue, and then ping @SidharthBansal to get it labelled. Or, if this is

[2018-10-09 07:42] SidharthBansal commented on #3658
Please add code links and a potential solution

[2018-10-09 07:43] SidharthBansal commented on #3655
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Instance count 1
Field: Training

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to fo

[2018-10-09 07:43] sk9331657 commented on #3653
Issue has been changed to #3658. It is an easy one go for it. :smile:

[2018-10-09 07:43] agam-kashyap commented on #3655
HI, can i work on this issue?

[2018-10-09 07:46] sk9331657 commented on #3655
Please go to #3658 .

[2018-10-09 07:57] SidharthBansal commented on #3658
@Agam-kashyap go ahead. You claimed this issue first.

[2018-10-09 08:40] SidharthBansal commented on #3654
Are you willing to solve this issue?

[2018-10-09 08:43] agam-kashyap commented on #3658
thank you @SidharthBansal

[2018-10-09 08:47] agam-kashyap commented on #3658
Could someone tell me which file to look at for making the changes?
I am new to this.
Thank you.

[2018-10-09 08:51] agam-kashyap commented on #3653
In this issue, where exactly am I supposed to add that line of code?

[2018-10-09 09:29] sk9331657 commented on #3648
@sagarpreet-chadha  @SidharthBansal  @jywarren  Solved this help needed issue.

[2018-10-09 09:30] SidharthBansal commented on #3658
#3653 @agam-kashyap as you are working on #3653 and only a single first timer issue needs to be done by a single person. You can longer work on this issue.
After completion of that you can do ''help wanted '' issues.

[2018-10-09 09:31] sk9331657 commented on #3658
@agam-kashyap  https://www.w3schools.com/css/css_rwd_mediaqueries.asp
Using Media query you can fix the margin property of buttons to add a space between them.
Ping me in case you have any other doubts

[2018-10-09 09:32] SidharthBansal commented on #3658
@sk9331657 we can't mark it as fto until it is properly formatted with code links like #3653 is.
Please turn this into a first timer then ping us to label it.

[2018-10-09 09:33] sk9331657 commented on #3658
@SidharthBansal   Can I provide starter code to @agam-kashyap ??

[2018-10-09 09:36] SidharthBansal commented on #3658
@sk9331657 a single first timer issue can be done by a single person. A person can't send multiple pull requests to different first timer issues. So @agam-kashyap can't do this issue as he is doing #3653 .
@sk9331657  you need to implement the ftos using fto templates like we created #3653. After creation of the issue with code links you need to assist the folks to solve the issue.
Am I understand

[2018-10-09 09:38] sk9331657 commented on #3658
@SidharthBansal  Where Can I find Fto templates ??

[2018-10-09 09:38] agam-kashyap commented on #3658
@sk9331657 @SidharthBansal I will then stick to the issue #3653. Thank you.

[2018-10-09 09:41] agam-kashyap commented on #3653
There no line of code mentioned which I must remove. Some help, please?

[2018-10-09 09:55] sk9331657 opened #3660 "Adding Space between Asking a Question And Exploring Projects Button"
Hi , this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note t

[2018-10-09 09:55] #3658 closed

[2018-10-09 09:56] sk9331657 commented on #3660
@SidharthBansal  Please add up label.

[2018-10-09 09:57] sk9331657 commented on #3658
@agam-kashyap  Go to #3660 incase you are not able to solve other tasks. I have updated the issue with all needed resource.

[2018-10-09 10:01] sk9331657 commented on #3660
@SidharthBansal I have made this issue using fto templates. Please label it.

[2018-10-09 10:29] Dhiraj240 commented on #3611
@gowrimanoharir Just send your PR for the issue and tag me i will review it, if i am allowed to do so.But otherwise i will comment on it to assist you.

[2018-10-09 10:40] sk9331657 commented on #3660
Thanks @avsingh999

[2018-10-09 11:39] jywarren commented on #3110
Hi, what issues are you seeing? Could you show the errors? Thanks!

On Sat, Oct 6, 2018, 10:12 PM Dhiraj Sharma <notifications@github.com>
wrote:

[2018-10-09 12:02] SidharthBansal commented on #3168
NOTICE:
This is to inform all the aspiring collaborators who want to become GCI Mentors at Public Lab 2018. They have to complete the required tasks for becoming a mentor and fill the [Google Form shared](
https://docs.google.com/forms/d/e/1FAIpQLScSBS-ddZN2H-lviUJbKlbV2VwP21fdIutXOCBzigRhmXJybw/viewform?usp=sf_link) before **15 October 2018 11:59:59pm IST** if they want their applications to be c

[2018-10-09 12:03] SidharthBansal commented on #3168
Required tasks are clearly listed in this issue body.

[2018-10-09 12:13] jywarren commented on #3168
Thanks Sidharth! Agreed, we would love to consider more mentors but need to start focusing on getting tasks prepared. Thanks, everyone!!!

[2018-10-09 13:01] sal2701 commented on #3660
Hey, May I do this?

[2018-10-09 13:05] SidharthBansal commented on #3660
@sal2701 go ahead

[2018-10-09 13:07] Rishabh570 opened #3661 "run-linux-mac.sh needs to updated to support python3"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-09 13:30] sk9331657 commented on #3660
@sal2701 In case you face any issues , ping @sk9331657 .

[2018-10-09 13:35] sk9331657 commented on #3168
@jywarren  @SidharthBansal  I have already completed my tasks and I am currently guiding newcomers in solving fto's issues. Please review my GCI Mentor application. Eagerly waiting to help the awesome community as a GCI Mentor. :smile:  . Thank you for timely guidance and support.

[2018-10-09 13:44] champagnepappi commented on #3656
@Rishabh570  Can this be implemented by using friendly forwarding

[2018-10-09 13:51] Rishabh570 commented on #3656
@champagnepappi I actually never worked on Ruby/Rails, so can't tell...but if you're sure about that, please go ahead :+1:

[2018-10-09 14:02] champagnepappi commented on #3656
@Rishabh570  I'm sure friendly forwarding can do the fix. Leme try it out

[2018-10-09 14:03] Rishabh570 commented on #3656
sure, go ahead :+1:

On Tue, Oct 9, 2018, 7:32 PM Kevin Santos <notifications@github.com> wrote:

[2018-10-09 14:04] sal2701 commented on #3660
@sk9331657  Hey, Does it matter where I insert the code in the file?

[2018-10-09 14:17] sk9331657 commented on #3660
Yes it will because that corresponding css works for dashboard url.

[2018-10-09 14:17] sk9331657 commented on #3660
@sal2701  Try to fix it by today night.

[2018-10-09 14:31] faithngetich commented on #3657
Hello @sk9331657 I'd like to work on this issue. It's my first time contributing to this project.  I have not been able to access the chats yet so I am still blocked on that.

[2018-10-09 14:47] Dhiraj240 commented on #3110
I a using windows and @gauravano  this alternative didn't work.
![screenshot 176](https://user-images.githubusercontent.com/29758643/46677468-53098800-cc00-11e8-8b2d-702b693014b0.png)

[2018-10-09 17:20] milaaraujo commented on #3506
Hey guys, sorry for the delay but I took the last week off! I will answer you tonight!

[2018-10-09 17:41] stefannibrasil commented on #3517
hi, @roshniRam yes, please! Sorry for the delay, I was on vacations. If you have any questions, feel free to ask.

[2018-10-09 17:50] stefannibrasil commented on #3501
hello, all! back from my vacations! hum, that's true, thanks for the details!

hum, I think that we may need to break those into two separate endpoints. The way it's now is basically used for the autocompletion feature.

I can work on this. What do you think of leaving this endpoint (rename to usernames, for example, or something) for the autocompletion and create a new one only for the search, si

[2018-10-09 17:51] stefannibrasil commented on #3501
that woudl also fix #3506

[2018-10-09 17:52] 14Richa commented on #3531
Hey Sidharth,
In my local session I think this works fine. Can you help me find what am I missing or is this issue resolved? Attached gif:
Thanks

![sortbyviews](https://user-images.githubusercontent.com/41283476/46688072-1054a980-cc1a-11e8-84a7-b50c71566ab8.gif)

[2018-10-09 17:52] sk9331657 commented on #3660
@sal2701  What is the status??

[2018-10-09 18:09] sal2701 commented on #3660
@sk9331657  Some checks are happening

[2018-10-09 18:20] sal2701 commented on #3660
@sk9331657  Will it be merged?

[2018-10-09 20:56] Codeama opened #3665 "Step 4: Installation: issue with libv8"
### Please describe the problem (or idea)

When I run this command:
` bundle install --without production mysql`

I get this error message:

### Please show us where to look

The installation guide on README

### What's your PublicLab.org username?

### Browser, version, and operating system

I use Windows 10

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your help

[2018-10-09 20:57] ebarry opened #3666 "Search: "query expansion" or "thesauruses" or "stemming" in full-text search"
### Please describe the problem (or idea)

@bronwen9 and I were observing that searching for `trawl`, `trawls`, and `trawling` all yield different search results. This is actually a similar pattern seen in words like `sample`, `samples`, `sampling`.

Because we're not using a controlled vocabulary, or defining how people can tag, it's currently possible for a newcomer to search for a term, find no

[2018-10-09 22:14] jywarren commented on #3501
Oh that makes a lot of sense. Thanks!

On Wed, Oct 10, 2018, 1:52 AM Stefanni <notifications@github.com> wrote:

[2018-10-09 22:33] shapironick opened #3667 "Can't post comment on an answer to a question from firefox"
### Please describe the problem (or idea)
couldn't post a comment on an answer to a question from firefox. I just clicked the publish button like 20 times w/ no action

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?
nshapiro

### Browser, version, and operating system
Firefox quantum 62.0 (64-bit) on mac 10.13.6 (17G65)

****

## Thank you!

Y

[2018-10-09 22:48] jywarren commented on #3666
Hi! I *think* this is called "query expansion" in database terms, and there
is a feature for it here:

https://dev.mysql.com/doc/refman/5.7/en/fulltext-query-expansion.html

https://en.m.wikipedia.org/wiki/Query_expansion

And word variations can be captured via "stemming" I think?
https://en.m.wikipedia.org/wiki/Stemming

It looks like true stemming is not built in but maybe could be achieved
thr

[2018-10-09 23:09] gowrimanoharir commented on #3611
@dhiraj240 thank you, will let you know once I complete the pr.

[2018-10-10 00:36] stefannibrasil commented on #3501
ok, @jywarren I'll work on this, then :+1:

[2018-10-10 01:57] #3644 closed

[2018-10-10 02:04] jywarren commented on #3168
Have people seen the csv uploader and could it be helpful for copying in issues?

https://code.googlesource.com/codein/api

[2018-10-10 02:11] SidharthBansal commented on #3531
Its little hard to reproduce. I remember I sent a commit for this an year
ago. You can seek help from @publiclab/mentors. Let's see if anyone can
reproduce the error on local

On Tue, Oct 9, 2018, 11:22 PM 14Richa <notifications@github.com> wrote:

[2018-10-10 03:30] gowrimanoharir commented on #3611
@Dhiraj240 created the pr https://github.com/publiclab/plots2/pull/3668 the CI build still seems to be in progress as I type this, unsure how long that will take. Please let me know if anything is amiss.

[2018-10-10 03:57] SidharthBansal commented on #3611
If Travis takes longer than usual time, close the PR and open the same
closed PR again. Sometimes Travis gets paused. Don't know why.
So closing and opening the same PR helps

On Wed, Oct 10, 2018, 9:00 AM Gowri M Rajasekaran <notifications@github.com>
wrote:

[2018-10-10 04:28] milaaraujo commented on #3502
Hey @simeydk,

I'm sorry for the late reply, I took the last week off! Your help would be very welcome, answering your questions:

(1) Yes! We would like the list of users in /search/profiles/_<search string>_/ to be formatted in the same way of /people list.
(2) **/search/profiles/:** https://github.com/publiclab/plots2/blob/master/app/views/search/profiles.html.erb
**/people:** https://github.co

[2018-10-10 04:32] milaaraujo commented on #3597
@stefannibrasil, maybe you can help with this one!

[2018-10-10 04:47] milaaraujo commented on #3506
Hey @jywarren, I would follow your second suggestion (a unique method like `def self.search_by_tag(query)`)!

However, @stefannibrasil started working on #3501 and by my understanding her solution would address this issue here as well... Am I right, @stefannibrasil?

[2018-10-10 07:03] quinn-codes-synthesis commented on #3665
Hi Codeama,

I'm unsure of the solution, but I did a search for your issue and found the following StackOverflow page: https://stackoverflow.com/questions/19673714/error-installing-libv8-error-failed-to-build-gem-native-extension/19674065

Someone's github issue with a similar problem and what they did to solve it: https://github.com/huginn/huginn/issues/1597

Or you can view the RubyGems page for

[2018-10-10 07:13] SidharthBansal commented on #3168
There are some updates on https://developers.google.com/open-source/gci/help/oa-tips
Please check that out.
This is plots2 gci labelled issue list https://github.com/publiclab/plots2/issues?q=is%3Aopen+is%3Aissue+label%3Agci-candidate
We have 74 issues now.
Many issues have multiple instance count.
We are in a good situation to start welcoming GCI Students
All the @publiclab/mentors are requested

[2018-10-10 07:13] SidharthBansal commented on #3168
Also open up some ``first timer only`` issues

[2018-10-10 07:19] quinn-codes-synthesis commented on #3620
Claiming this issue, thanks!

[2018-10-10 08:02] ritikgupta4 commented on #3661
Hey! I would like to do this! Can I take it up?

[2018-10-10 08:04] Rishabh570 commented on #3661
Sure, go ahead!

[2018-10-10 13:41] Codeama commented on #3665
Thanks for your reply, quinn-codes-synthesis.

I've tried 1 and 3 but I'll give 2 a go and see if it works.

[2018-10-10 13:50] jywarren commented on #3620
Hi!!! I'm sorry I'll make a new issue -- what happened is that this is
actually content stored in the production database, not in the codebase.
But we can copy your solution into the database, thanks!

Hang on...

On Wed, Oct 10, 2018, 5:27 PM Quinn <notifications@github.com> wrote:

[2018-10-10 13:54] first-timers[bot] opened #3669 "Update notes_controller.rb"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-10 13:58] jywarren commented on #3620
Ok, here's one just for you!
https://github.com/publiclab/plots2/issues/3669

On Wed, Oct 10, 2018, 9:50 PM Jeffrey Warren <jywarren@gmail.com> wrote:

[2018-10-10 14:00] #3611 closed

[2018-10-10 14:04] DakshGondaliya commented on #3620
@jywarren please add this lines of code in the database.
.fa:hover {
color: #68bfd8;
transform: scale(1.4);
}
Thank you.

[2018-10-10 20:38] milaaraujo commented on #3503
Hey @14Richa, we would like the list of tags in /search/tags/_search string_/ to be formatted in the same way of /tags list (using https://getbootstrap.com/docs/3.3/).

Here are the code links:
- /tags: https://github.com/publiclab/plots2/blob/master/app/views/tag/index.html.erb
- /search/tags/: https://github.com/publiclab/plots2/blob/master/app/views/search/tags.html.erb

[2018-10-11 00:10] stefannibrasil commented on #3506
yes, I'll see if I can break into smaller tasks :)

[2018-10-11 00:11] stefannibrasil commented on #3597
I'll take a look :+1:

[2018-10-11 02:58] wendtbw commented on #3669
Has this been claimed?  Can I try it?  Regards

[2018-10-11 05:51] quinn-codes-synthesis commented on #3669
Thanks jywarren! Yes wendtbw, it is claimed. :) I encourage you to look through other issues -- there's tons of stuff that needs doing!

[2018-10-11 05:52] quinn-codes-synthesis commented on #3620
Phew! I'm relieved to know that there's a good reason I wasn't able to find the relevant code. Thank you!

[2018-10-11 08:54] faithngetich opened #3670 "Bundle exec commands written incorrectly"
### Please describe the problem (or idea)
`bundle exec rake db: setup, bundle exec rake db: seed` commands is not written correctly because of the spaces after the full colon thus not working like it should when you copy and paste them from the readme to your terminal.

### Please show us where to look

ReadMe.
![screen shot 2018-10-11 at 11 34 18](https://user-images.githubusercontent.com/2374383

[2018-10-11 10:11] quinn-codes-synthesis commented on #3669
https://github.com/publiclab/plots2/pull/3672

Here's to hoping I did the pull request correctly. :)

[2018-10-11 10:40] Rishabh570 opened #3673 "Signed In notification doesn't fade away automatically"
### Please describe the problem (or idea)
After signing in to `publiclab.org`, an alert box appears telling that you're successfully Signed in, but it stays there unless you manually remove it (by clicking on the cross in alert box) or the page gets reloaded. That's not the kind of information that should be persistent in UI.

![screenshot from 2018-10-11 15-58-57](https://user-images.githubuserco

[2018-10-11 10:41] Rishabh570 commented on #3673
[This PR](https://github.com/publiclab/plots2/pull/3662) might help :)

[2018-10-11 11:54] quinn-codes-synthesis commented on #3665
Did you have any luck? Just wanted to follow up since I saw no one else had yet. :) I had several errors while in the process of getting everything set up (soooo many errors, augh), but this wasn't one of them so I'm super curious to learn what we may have done differently!

@publiclab/solvers will probably have some suggestions if you're still stuck!

[2018-10-11 12:00] jywarren commented on #3665
Hmm, I have seen this happen more often recently but don't totally understand the cause (and perhaps there are multiple)

Here are some previous people who seem to have gotten past it:

 https://github.com/publiclab/plots2/search?q=libv8&type=Issues

May be worth asking them or looking through whether they noted how they got past it.

Thanks for opening an issue! I hope we can provide some more gu

[2018-10-11 12:12] #3632 closed

[2018-10-11 12:14] #3598 closed

[2018-10-11 12:15] yasmindias commented on #3643
I would like to work on this issue.

[2018-10-11 13:06] kryptc commented on #3504
Can I work on this issue? -  with a bit more elaboration, please

[2018-10-11 13:53] gauravano commented on #3643
Hi @roshniRam the page you tagged https://publiclab.org/wiki/barnraising-texas-2019 is a wiki page and the form is part of node body. It's not related to our code base, so I have to close this issue. Also, wiki page is open for edit, in case you like to fix the mobile view. Thanks!

Hi @yasmindias, we would love to have your help, please check at https://code.publiclab.org/#r=all for more issues.

[2018-10-11 13:53] #3643 closed

[2018-10-11 13:58] yasmindias commented on #3480
I would like to work on this if no one is working on it already.

[2018-10-11 14:10] gauravano commented on #3480
Hi @yasmindias, unfortunately, this issue is reserved for Google Code-In as mentioned in the issue body, so you have to look for another issue. Thanks!

[2018-10-11 14:36] yasmindias commented on #3667
can I work on this issue?

[2018-10-11 17:16] gauravano commented on #3667
Hi @yasmindias, you are welcome to help with this issue. Thanks!

Hi @shapironick, could you please add the link to the answer as I tried posting a comment on a test answer and it worked for me - https://publiclab.org/questions/gauravano/10-11-2018/test-question-don-t-mark-as-spam . Thanks!

[2018-10-11 19:48] champagnepappi commented on #3673
Hi @Rishabh570, in #3662 I only focused on the logout but I can adjust it to automatically fade away the signed in notification/or any other notification.
Can the automatic fade be applied to that notification below the signed in notification. The one starting with "Hello welcome to public lab"

[2018-10-11 20:10] faithngetich commented on #3652
I'd like to work on this issue

[2018-10-11 20:26] steviepubliclab opened #3674 "Remove"
### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resol

[2018-10-11 20:30] steviepubliclab opened #3675 "Change "New Contributor" tag"
A green "New Contributor" tag shows up on some profiles. I'm not sure what makes this happen, but it doesn't seem to go away easily. For example, this profile has been active for over a year and still has that tag
https://publiclab.org/profile/dswenson

Can we update this so that the "new contributor" tag goes away after someone's first post or after a month of the profile being active?

@publicla

[2018-10-11 20:33] steviepubliclab opened #3676 "blog tab not working after page 5"
I was exploring some older posts on the blog (www.publiclab.org/blog) when I noticed I couldn't tab back more than the 4 pages that show on the bottom of the blog. If you try to hit "next" once you're on page 4 nothing happens.

![screen shot 2018-10-11 at 4 31 51 pm](https://user-images.githubusercontent.com/7490478/46832146-49ecf800-cd73-11e8-8b17-2c76342971cf.png)

@publiclab/mentors here's ano

[2018-10-11 20:40] steviepubliclab opened #3677 "hyphenated tag pages"
I'm noticing that we're having some overlap on tags, just by some people's nature of some using hyphens and others who remove spaces. For example there are tags "purple-air" and "purpleair" the material should be the same, we end up with two different tag pages, and different material on each tag page. Is there anyway to make those two things go to the same result? go to the same tag page?

https:

[2018-10-11 20:42] steviepubliclab commented on #3677
It might also be interesting to force one system here, for example if someone tries to post hyphenated tags, the hyphens are removed when it's posted and replaced with a tag with hyphen. We could make it capitalize the word after the hyphen for example someone trying to tag "purple-air" could end up with "PurpleAir"

[2018-10-11 20:47] gauravano commented on #3675
Hi @steviepubliclab, the `New Contributor` tag is added to those profiles which have one note published. But, I see dswenson's profile shows 1 research note and 3 co-authored and the tag is still there, which I agree is little misleading. Thanks!

So, what do you think would be appropriate criteria for labeling a user profile as a new contributor ?

[2018-10-11 20:50] faithngetich commented on #3654
@Rishabh570 can I work on this issue?

[2018-10-11 20:50] gauravano commented on #3674
Hi @steviepubliclab, please add more information to the issue. Thanks :sweat_smile:

[2018-10-11 20:58] steviepubliclab commented on #3674
Ooops no idea how that happened! funny

[2018-10-11 20:59] #3674 closed

[2018-10-11 21:01] steviepubliclab commented on #3675
Can we do this:
 "new contributor" shows up on someone's first post, but once they've posted, it's taken off their profile and doesn't end up on any subsequent posts.

[2018-10-11 21:09] shapironick commented on #3667
thanks y'all! looks like it did end up posting after I navigated away from
the page to post the bug. sorry for the false alarm!

it was this answer i tried to comment on.
https://publiclab.org/questions/scotttees/10-09-2018/diy-oil-refinery-air-quality-monitoring

On Thu, Oct 11, 2018 at 5:16 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-10-11 21:59] gauravano commented on #3667
Actually, sometimes when Email server goes down at that time too comment didn't get posted, so this may be the case. @jywarren @icarito could you check logs. Thanks!

[2018-10-12 01:31] #3670 closed

[2018-10-12 01:35] stefannibrasil commented on #3597
hi @jywarren did you used to call the API always like this? I believe it requires two zero digits after the point the way it was implemented, for example:

https://publiclab.org/api/srch/taglocations?query=29.00,-90.00 - 200
https://publiclab.org/api/srch/taglocations?query=43.00,-71.00 - 200

anything else besides that breaks, for example:

https://publiclab.org/api/srch/taglocations?query=29,-90

[2018-10-12 01:43] jywarren opened #3679 "Welcome, Outreachy people!"
Hello folks from Outreachy - I realized we don't have a main place for you all to ask questions and get support, so I wanted to say WELCOME and create this issue as a discussion zone. Please leave a comment to say hello, in part so we know who's interested in the program! @publiclab/reviewers @publiclab/mentors please keep an eye open for opportunities to welcome and support our Outreachy applican

[2018-10-12 01:48] #3669 closed

[2018-10-12 01:49] #3648 closed

[2018-10-12 01:51] jywarren commented on #3679
@quinn-codes-synthesis @faithngetich and more who've reached out -- thanks!

[2018-10-12 01:57] first-timers[bot] opened #3680 "Add link and explanation to tagging template"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-12 01:57] jywarren commented on #3680
This is reserved for Aisatou!

[2018-10-12 01:59] jywarren commented on #3677
Thanks Stevie! We can do two things here:

1. we can make one the "parent" of the other tag, so if you have a preferred please mention it and we can do this (although it's done in the database directly... we could imagine adding a button to "make a parent" as a break-out feature)
2. we can also be sure there is a wiki page for both, but one redirecting with `redirect:purpleair` (for example) so th

[2018-10-12 03:38] Rishabh570 commented on #3652
@champagnepappi Code related to infragram is [here](https://github.com/publiclab/infragram-js)
@faithngetich Go ahead!

[2018-10-12 03:47] Rishabh570 commented on #3673
@champagnepappi Go ahead with it if you want to, but work only on *Signed In* notification... another one contains useful information :)

[2018-10-12 05:32] DakshGondaliya commented on #3620
@quinn-codes-synthesis you are right.
![img_20181012_105331](https://user-images.githubusercontent.com/25260367/46849608-e6fc6f00-ce0d-11e8-8cf5-f17dddaefc92.jpg)
Add new class="social-media" at above line.
Thank you.

[2018-10-12 05:47] sagarpreet-chadha commented on #3679
@cesswairimu @Kanikashrivastav also 😄 🎉 !

Please note to record your in-progress contributions as well at :
https://www.outreachy.org/december-2018-march-2019-outreachy-internships/communities/public-lab/extend-community-collaboration-statistics-and-visu/contributions/

[2018-10-12 05:55] jywarren commented on #3563
Oops, sorry - catching up -- i meant like a group called `@publiclab/plots-guides` and `@publiclab/image-sequencer-guides` maybe for people who can guide each project as @tech4GT suggested, and review PRs for each project. So for each pull request we'd mention this group to get a review.

[2018-10-12 06:02] jywarren opened #3681 "[multiple-use] Copy welcomebot and first-timers-only templates into other projects"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

This issue can be used multiple times since there are a lot of Public Lab projects that need it! Please solve it for only one repository so that others can have a chance as well.

We

[2018-10-12 06:04] sagarpreet-chadha commented on #3523
Hi @14Richa ...your solution looks valid and seems to solve the issue 😄  .
But i guess as pointed out by @Souravirus , it would be more easy from user point of perspective to make the edits on that same page and not go to previous page .

What do you think ?

Thank you 🎈 !

[2018-10-12 06:33] first-timers[bot] opened #3682 "Update config.yml to add Code of Conduct to welcomebot messages"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-12 06:34] jywarren commented on #3682
This one is for @faithngetich !

[2018-10-12 06:34] jywarren commented on #3657
Hi @faithngetich - i'm sorry you've had trouble with the chats, if you'd like to open an issue for that we can try to work on it. Did chats at https://publiclab.org/chat work? There are several options available.

I'm making you a well-formatted first-timers issue to get you started! Check it out here:

https://github.com/publiclab/plots2/issues/3682

[2018-10-12 06:35] jywarren commented on #3657
@sk9331657 uh oh! Do you know why this is happening? I'm marking it so people can add links to lines of code!

[2018-10-12 06:47] jywarren commented on #3168
Collecting multiple-use issues under a label now! https://github.com/publiclab/plots2/labels/multiple-use

[2018-10-12 06:52] Souravirus commented on #3168
Nice one @jywarren, I was thinking of having a multiple-use issue sometime before.

[2018-10-12 06:57] jywarren commented on #3168
Also, sagarpreet is doing some great work making design sketch multi-use
issues like this:

https://github.com/publiclab/leaflet-environmental-layers/issues/61

We could use this template to get input on other design issues too at
plots2 or other projects! Great work @sagarpreet-chadha!

On Fri, Oct 12, 2018, 2:52 PM Sourav Sahoo <notifications@github.com> wrote:

[2018-10-12 07:01] Souravirus commented on #3276
Hi @publiclab/mentors I have created some tasks from the above task list in [Google Code-in dashboard.](https://codein.withgoogle.com/dashboard/tasks/?sp-order=-modified&sp-my_tasks=false). Please edit if there are some issues with the tasks and add other issues that are present here which are not added in the dashboard.
Thank you!!

[2018-10-12 07:04] jywarren commented on #3522
Hi everyone - this is a relatively complex multi-part issue which could use some planning and breaking up into smaller pieces. Please think about how we might take an initial step. We have a welcome email that's sent - could we require email validation using a link included there? How might we generate a unique secret token that'd be included in that validation link?

Thank you!

[2018-10-12 07:52] sk9331657 commented on #3657
@jywarren  Seems like there is some js syntax error which is causing this error. Shall I fix it or wait for other candidates to fix it via their pr??

[2018-10-12 08:08] faithngetich commented on #3681
Hey @jywarren I'd like to work on this issue.

[2018-10-12 08:39] jywarren opened #3683 "system tests (rails 5.1+ feature)"
New testing framework in rails allows tests to take screenshots! But also cool form filling syntax:

https://chriskottom.com/blog/2017/04/full-stack-testing-with-rails-system-tests/

[2018-10-12 08:45] quinn-codes-synthesis commented on #3679
Hellooooooooooo!

![Image of Ariel waving](http://www.lovethisgif.com/uploaded_images/87329-Ariel-Waves-Hello-Excited-In-The-Little-Mermaid-Gif.gif)
(_image description: gif of Ariel from The Little Mermaid waving enthusiastically_)

A quick intro:

I'm Quinn, I live in the US, and my pronouns are they/them/theirs. I've dabbled in HTML, CSS, and general design/layout/illustration stuff since I was

[2018-10-12 08:52] jywarren commented on #3681
Great!!!

On Fri, Oct 12, 2018, 4:09 PM faithngetich <notifications@github.com> wrote:

[2018-10-12 08:52] jywarren commented on #3657
Perhaps you could help someone new by indicating where you think the error
is and linking to the line of code? Thanks!!

On Fri, Oct 12, 2018, 3:53 PM SHUBHAM KUMAR <notifications@github.com>
wrote:

[2018-10-12 10:12] Codeama commented on #3665
Oh not! Didn't mean to close this issue. My fingers were too  fast :D

[2018-10-12 10:29] quinn-codes-synthesis commented on #3676
Hi! Is it possible that there are not enough blog entries to populate a 5th page? I ask because when I try to navigate to https://publiclab.org/blog?page=5 I get "No results found; try searching for 'blog':"

[2018-10-12 10:44] quinn-codes-synthesis commented on #3665
Yeah, try that. I was having issues with Windows as well -- it wouldn't play nice with Ruby. I was reading somewhere that Windows is, historically, not as dev-friendly as other OSes so maybe that has something to do with it?

Have you worked with Linux before? I'm brand new to it -- but that means the information is still fresh in my brain. Let me know if you hit another roadblock! I followed inst

[2018-10-12 11:08] igniteeng000 opened #3685 "[multiple-use] Copy ISSUE_TEMPLATE and PULL_REQUEST templates into other projects"
This issue can be used multiple times, since there are a lot of Public Lab projects that need it! Please solve it for only one repository so that others can have a chance as well.

We have a very nice default template for new issues and pull requests, with helpful information.

For example, look like this:

![issue](https://user-images.githubusercontent.com/25272573/46865509-72402980-ce3b-11e8-996

[2018-10-12 11:28] SidharthBansal commented on #3679
Great to see you guys here.
We will love to have you on Public lab.

[2018-10-12 12:04] Codeama commented on #3665
No I'm new to Linux too and only installed it on an old PC yesterday. Glad to know there's help when I need it.

[2018-10-12 12:09] sk9331657 opened #3686 "Adding Installation Video or Screencast on Youtube for All projects - GCI Task"
### Please describe the problem (or idea)

- [x] Feature Request
 It will be quite helpful for future developer to setup the projects if installation video is provided to setup the projects . It is a multi-task issue.

@jywarren  @SidharthBansal  What are your reviews ??

[2018-10-12 12:31] faithngetich commented on #3682
Thanks @jywarren. Currently working on it.

[2018-10-12 12:43] faithngetich commented on #3681
Cool. I'm on it.

[2018-10-12 13:19] champagnepappi commented on #3673
okay @Rishabh570 , on it

[2018-10-12 14:02] vishalka98 opened #3688 "Add link to view issues of entire organization"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-12 14:57] LonghornRach commented on #3582
I can work on this!

[2018-10-12 15:27] avsingh999 opened #3690 "collapse 'read more' with horizontal line in list view"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-12 15:52] bronwen9 opened #3691 ""Preview" for new posts not opening in Firefox and Chrome"
I've noticed that the "preview" option hasn't been working for new wikis and research notes for at least the past few days.

The editor seems to be working properly otherwise, but pressing the button doesn't open up a new view.

![preview](https://user-images.githubusercontent.com/8331717/46879890-31351e80-ce15-11e8-9e17-7daf36aeb59b.gif)

[2018-10-12 16:19] avsingh999 commented on #3690
@jywarren @SidharthBansal  I think we should remove list/grid view button for mobile because, in a mobile, list and grid view are same, so no need this
thanks :)

[2018-10-12 17:36] avsingh999 opened #3692 "footer width decrease in edit profile page"
### Please describe the problem (or idea)
https://publiclab.org/profile/edit when we go to edit profile page  then that page footer width decrease
 - in edit profile  page
![footer](https://user-images.githubusercontent.com/25536022/46883272-21e2bf00-ce6f-11e8-86b9-676125314dbd.png)
- other pages

![footer2](https://user-images.githubusercontent.com/25536022/46883274-27400980-ce6f-11e8-8f27-d57b9b

[2018-10-12 17:38] avsingh999 commented on #3692
@jywarren  @SidharthBansal  please review, Is this for GCI or not ?

[2018-10-12 18:32] SidharthBansal commented on #3686
I think this could be single user task. How can we check multiple people videos?
If we enable multiple people to work on same installation process and choose one. This would mean giving higher priority to one fellow over the rest who delivered, not very good video.

If we will choose from a set of videos to be published this will help our community.
Let's think whether it should be multiple use or

[2018-10-12 18:33] sk9331657 commented on #3686
@SidharthBansal  I mean to say for every project different user can form screencast.

[2018-10-13 02:09] RuthBrand commented on #3682
Hey! I'd like to try this-this is my first time ever doing anything open source!

[2018-10-13 02:27] RuthBrand commented on #3660
hey! I would like to tackle this issue, may I do so?

[2018-10-13 02:30] sk9331657 commented on #3660
@RuthBrand This task been already done and currently we are at last stage to merge PR for this issue. You can try another issue.

[2018-10-13 02:38] RuthBrand commented on #3685
Hi! I'm a newbie, can I try my hand at this?

[2018-10-13 02:46] RuthBrand commented on #3566
hey! is anyone on this?

[2018-10-13 03:56] vishalka98 commented on #3688
@jywarren @SidharthBansal  I created this fto issue please add fto label in it.

[2018-10-13 04:44] SidharthBansal commented on #3686
So we need to have single use issue in all repos

On Sat, Oct 13, 2018, 12:03 AM SHUBHAM KUMAR <notifications@github.com>
wrote:

[2018-10-13 05:10] icarito commented on #3667
Hey sorry for the delay, checking now the mailman service, sidekiq, and redis are up and running.

The logs for mailman do show a traceback and checking Docker it says `mailman` was restarted 8 hours ago so I guess it is failing regularly.

Here's the full log from `docker compose logs mailman`:

[code]

Here's the compared uptime:
[code]
Notice it says **8 hours** not 8 days for mailman.
Hope it

[2018-10-13 10:28] Dhiraj240 commented on #3110
@jywarren It would be nice if you help me or please provide some help in setting up this project on cloud9 as according to documentation it didn't work for me.

[2018-10-13 11:13] gauravano commented on #3276
Hi @publiclab/mentors you can use the above task list for opening tasks in GCI dashboard, please append `GCI dashboard` after the task which you have used so that no one else opens the same task. Thanks!

[2018-10-13 12:08] sk9331657 commented on #3686
@SidharthBansal Ok I will make for all repo.

[2018-10-13 12:08] #3686 closed

[2018-10-13 12:09] sk9331657 opened #3696 "Creating Installation Screencast of plot2 and upload on youtube"
### Create a screencast showing installation of plot2 and share the link in pr.

@SidharthBansal  @jywarren  Please mark this as gci issue.

[2018-10-13 12:35] gauravano commented on #3696
Hi @sk9331657, I really liked the idea. Please add the link to the installation steps too in the issue body so that candidate don't have to struggle much. Also, feel free to open this type of issue in other active repos of Public Lab. Thanks!

[2018-10-13 12:52] gauravano commented on #3681
@jywarren you forgot adding this text

We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.

@faithngetich have done all the work. So,... what do you think?

[2018-10-13 12:52] sk9331657 commented on #3696
@gauravano  Thanks .

[2018-10-13 13:00] gauravano commented on #3676
You are right @quinn-codes-synthesis, as seen from the above image too, the Next button is disabled after arriving at Page 4 as there is no 5th page. @steviepubliclab do you think, this issue can be closed now?

[2018-10-13 15:53] tech4GT commented on #3276
@Mridul97 Hey can you add image sequencer issues to the list as well!! It will be a big help, I've been super busy! Thanks!!

[2018-10-13 16:50] SidharthBansal commented on #3688
This issue is reserved for Google Code In Students. So, other contributors please see other issues.

[2018-10-13 19:35] Codeama commented on #3665
Yayy! Success! It worked on a Linux system. So my conclusion is that the problem is Windows related. Thank you all for your input. Closing this now.

[2018-10-13 19:35] #3665 closed

[2018-10-13 20:25] SidharthBansal opened #3698 "Welcome Google Code In Students"
Hello folks from Google Code In - I realised we don't have a main place for you all to ask questions and get support, so I wanted to say WELCOME and create this issue as a discussion zone. Please leave a comment to say hello, in part so we know who's interested in the program! @publiclab/mentors please keep an eye open for opportunities to welcome and support our Google Code In students! 👍 🎉

## F

[2018-10-13 20:29] SidharthBansal commented on #3168
@publiclab/mentors are advised to add more information to welcome new aspiring students by editing the issue #3698.
Also, I will be closing this issue day after tomorrow. We will be moving to a new issue to discuss things to be planned out for gci.
So all the aspiring mentors hurry up and fill the form before the deadline.
Thanks everyone for making Public lab a wonderful community

[2018-10-13 20:52] cesswairimu commented on #3507
Hi @milaaraujo am interested on working on this. Could this involve adding an `All` button that displays all the matched nodes?  Thanks

[2018-10-13 22:18] jywarren commented on #3110
Ah, what went wrong? Was there an error message?

On Sat, Oct 13, 2018, 6:29 PM Dhiraj Sharma <notifications@github.com>
wrote:

[2018-10-13 22:33] jywarren commented on #3482
Oh, that would be great!!!!

On Sun, Oct 14, 2018, 5:23 AM Rachel Stratemeier <notifications@github.com>
wrote:

[2018-10-13 22:35] jywarren commented on #3665
Great, and excellent to see you checked in with the solution. I hope this
helps other folks too! Thanks!!!

On Sun, Oct 14, 2018, 3:36 AM Bukola <notifications@github.com> wrote:

[2018-10-13 22:37] jywarren commented on #3566
Hi!!! I think I remember a pull request open but is it linked to here so we
can see it? Could be helpful to check the pull request list. Thank you!!!!

On Sat, Oct 13, 2018, 10:47 AM Ruth Brand <notifications@github.com> wrote:

[2018-10-13 22:39] jywarren commented on #3690
Agreed!!!!

On Sat, Oct 13, 2018, 2:26 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-10-13 22:41] jywarren commented on #3679
Hi!!! Welcome!!!

On Fri, Oct 12, 2018, 7:29 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-10-14 04:15] vishalka98 commented on #3688
can i consider this issue as my first-timer-issue? For filling the gci mentor form

[2018-10-14 05:11] Mridul97 commented on #3276
@tech4GT I think I cannot edit the above list. I tried to look for an option to edit the comment but didn't find one.

[2018-10-14 06:43] Dhiraj240 commented on #3110
Even after searching through stackoverflow the changes do not seem to work.

[2018-10-14 06:54] SidharthBansal commented on #3688
All issues labelled with gci candidate are reserved for gci students. Please look other tasks. Sorry. You can't work on this

[2018-10-14 08:53] faithngetich commented on #3652
Thanks @Rishabh570 I have been able to access the http://localhost:8000/sandbox/ but I have not been able to navigate to the local version of the site below in the screenshot.  Could you please help.
<img width="1171" alt="screen shot 2018-10-14 at 11 48 17" src="https://user-images.githubusercontent.com/23743836/46914514-a0427c80-cfa7-11e8-8e6a-6061dcaac912.png">

[2018-10-14 12:08] Rishabh570 commented on #3652
@faithngetich Okay, so you want to see that button group on localhost...do this,

- Go to [index.js](https://github.com/publiclab/infragram-js/blob/master/routes/index.js) of routes and in `export.index` function, remove everything(or comment them out) such that it should contain only this:

[code]

I think searching for an image in local db is causing the template to not get rendered...Try this a

[2018-10-14 16:48] tech4GT commented on #3563
Yeah that sounds good to me!

[2018-10-14 16:51] tech4GT commented on #3276
@Mridul97 I think we can leave them in a comment here and @SidharthBansal can add them to the list then. Is that OK? Thanks!

[2018-10-14 16:54] SidharthBansal commented on #3276
Perfect varun

On Sun, Oct 14, 2018, 10:21 PM Varun Gupta <notifications@github.com> wrote:

[2018-10-14 17:27] Rishabh570 opened #3699 "Fix typos in readme of infragram"
### Please describe the problem (or idea)
*readme* file has the file extension of `.mkd` instead of `.md` and **###Developers** should be changed to **### Developers** in the [readme](https://github.com/publiclab/infragram-js/blob/master/README.mkd)

![screenshot from 2018-10-14 22-53-56](https://user-images.githubusercontent.com/25483260/46919923-255b7f00-d004-11e8-8c3d-9ecb16ddd294.png)

Top and

[2018-10-14 17:28] Rishabh570 commented on #3699
This can be a *first-timer-only* issue.

[2018-10-14 17:36] Mridul97 commented on #3276
Yes, that's great!

Yes, that's great! I will do that!

[2018-10-14 18:15] vanguard07 commented on #3581
@publiclab/mentors I have found out what is causing this issue but I'm unable to find the source page in the repository, so that I can fix it. Can anyone help?

[2018-10-14 18:35] aashna27 commented on #3168
I am interested in being a gci-mentor.
I have been through all the steps please review.

[2018-10-14 21:31] Codeama commented on #3679
Hi,

How do I make a first contribution seeing all the first-timer issues are either reserved or get taken up so fast?

[2018-10-15 04:28] icarito commented on #3404
[code]

[2018-10-15 04:28] icarito commented on #3404
[code]

[2018-10-15 05:59] Rishabh570 commented on #3652
@faithngetich Were you able to open that page up on localhost?

[2018-10-15 06:14] milaaraujo commented on #3507
Hey @cesswairimu,

Yes, I think adding an `All` button would be a good idea!

Then depending on the quality of the returned results, we can think about removing Notes, Wikis, and Questions individual searches and use just `All` - as @stefannibrasil suggested. What do you think, @jywarren and @stefannibrasil?

[2018-10-15 06:32] milaaraujo commented on #3504
Sure, @kryptc!

So, right now `/search/tag/<search_query>` is [searching](https://github.com/publiclab/plots2/blob/master/app/services/search_service.rb#L63-L73) nodes that are tagged with the typed search query. We just need to add a general-public simple text explaning that! Something similar to what was done in #3614 to solve #3505.

[2018-10-15 06:49] milaaraujo commented on #3490
Hey @jywarren, can we keep this as a single issue and maybe use it as a help wanted issue for GCI?

[2018-10-15 07:52] faithngetich commented on #3652
Hey @Rishabh570 yes I have thanks.

[2018-10-15 07:57] faithngetich commented on #3652
`localhost:8001/`  is not working though so I have just had to access it through `localhost`

[2018-10-15 08:01] Rishabh570 commented on #3652
No worries, you can change the port in `app.js` if it's not working anyways (only for development obviously)

[2018-10-15 17:00] Rishabh570 commented on #3168
I have submitted my form already.
Its been an awesome experience contributing to this community, would love to keep contributing :)

[2018-10-15 17:32] LonghornRach commented on #3482
n/m i just found the definition in the model

[2018-10-15 17:58] Mridul97 commented on #3276
Please append these tasks to the list!
- [ ] Add a footer to the main page https://github.com/publiclab/image-sequencer/issues/335
- [ ] Add a list of available modules to the documentation https://github.com/publiclab/image-sequencer/issues/337
- [ ] Display an installation message to user in the CLI https://github.com/publiclab/image-sequencer/issues/338
- [ ] Add a success prompt for saved sequ

[2018-10-15 19:16] Souravirus commented on #3276
@Mridul97, I have added these tasks to the list. Please see I have put them in the right categories. Also, please ensure that these tasks are put in the GCI dashboard. Thank you!!

[2018-10-15 20:09] stefannibrasil commented on #3597
hi @jywarren, I added some changes here #3700. Could you please take a look? Thanks!

[2018-10-15 21:19] stefannibrasil commented on #3507
That was the first idea, yeah!

My only concern is that we would have an 'All' button for notes, but we also have other results that aren't nodes, like Profiles and Tags:

![screenshot_2018-10-15 public lab notes](https://user-images.githubusercontent.com/10670581/46975569-cfc2b900-d07b-11e8-8b23-d05a339d783e.png)

Maybe use Notes, Profiles, Tags? Like this:

![screenshot_2018-10-15 public lab not

[2018-10-15 23:44] #3168 closed

[2018-10-16 01:12] amychan331 commented on #3679
Hi, this is Amy from San Francisco! I immigrated from Hong Kong when I was young. Having lived in 2 metropolitan and coming from a low-income family, I have always been interested in the environment - both in term of natural and artificial materials - and their combined affect on local, vulnerable communities. As a result, I studied architecture, interned in a community design firm, and then becam

[2018-10-16 02:10] SidharthBansal commented on #3276
Thanks sourav for putting them into the list.

On Tue, Oct 16, 2018, 12:46 AM Sourav Sahoo <notifications@github.com>
wrote:

[2018-10-16 02:12] SidharthBansal commented on #3168
All the forms are being reviewed. All the mentors who will be selected will get an invite on their email address. Best of luck.

Now we are focusing on students.

[2018-10-16 04:58] SidharthBansal commented on #3563
Hi @jywarren can we add this issue to gci candidate issue?
This way we will have a self sustainable system at pl. Even though we would be busy in some work, students will make issues, solve issues, review PRS. You just need to merge it up. This will save a lot of mentors time too.

[2018-10-16 05:01] sk9331657 commented on #3563
@SidharthBansal @jywarren We can assign each project to the different group of mentors for reviewing. This way mentors can concentrate on reviewing particular projects PR much better.

[2018-10-16 05:01] SidharthBansal commented on #3168
All potential mentors who have not got an invite are requested to wait till 22nd october for their results

[2018-10-16 05:03] aSquare14 commented on #3679
Hi @amychan331  ! No you're not too late ! Welcome to publiclabs.  Let us know if you need help picking out a good first issue !

[2018-10-16 05:04] #3682 closed

[2018-10-16 05:05] SidharthBansal commented on #3563
All mentors can review PRS throughout all the repositories of public lab
 We have many new mentors who don't know about more than a single repo. Also, it depends on interest of the person, we can't divide people. People have different interests.

[2018-10-16 05:06] aSquare14 commented on #3563
Yes ! I agree with both of you.

[2018-10-16 05:07] tech4GT commented on #3563
@sidharthbansal where are we with the teams, did we do it?

[2018-10-16 05:10] SidharthBansal commented on #3563
Jeff is out of US. Mentorship form is closed. Applications will be reviewed by 21 october. After he returns US.

[2018-10-16 05:14] tech4GT commented on #3563
Oh I meant the `guides` teams.

[2018-10-16 05:15] VictorSanborn commented on #3699
Added PR to fix this issue: https://github.com/publiclab/infragram-js/pull/11

[2018-10-16 05:29] jywarren commented on #3581
I'm not positive, but I believe it may be here!

https://github.com/publiclab/plots2/tree/master/app/views/notes/_notes.html.erb

On Sun, Oct 14, 2018 at 1:16 PM Avtans Kumar <notifications@github.com>
wrote:

[2018-10-16 07:28] quinn-codes-synthesis commented on #3679
@Codeama -- maybe we could both help each other on this. I'm now on the step where I should setup a welcoming issue for someone else. I could create an issue and reserve it for you, like @jywarren did for me (thanks again)! I just haven't had a chance in the last few days to look over the codebase and find one. I've got the next few hours mostly free, so I'll devote that time to this and tag you a

[2018-10-16 13:01] Codeama commented on #3679
@quinn-codes-synthesis:  Thanks, Quinn. I'll be on the lookout for an issue!

[2018-10-16 13:03] Mridul97 commented on #3276
@Souravirus I will add these tasks in GCI dashboard as well:+1: Thanks!

[2018-10-16 13:10] quinn-codes-synthesis opened #3701 "Update @media on blog.css"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-16 13:11] quinn-codes-synthesis commented on #3701
This is reserved for @Codeama ! :)

[2018-10-16 13:12] quinn-codes-synthesis commented on #3679
https://github.com/publiclab/plots2/issues/3701 -- Here you go!

[2018-10-16 13:13] Codeama commented on #3701
@quinn-codes-synthesis I'll get on it. Thanks very much!

[2018-10-16 13:32] quinn-codes-synthesis commented on #3701
Also, I want to tag @publiclab/reviewers to please look this code over. I've tried to do my due diligence to check for any issues or bugs this code may introduce, but I'll readily admit I'm not super familiar with the codebase yet.

Here's what this code is intended to fix:
- There doesn't appear to be any `h2` descendants from an element of class `.blog` in the current iteration of the codebase.

[2018-10-16 17:56] avsingh999 opened #3703 "feature request to see user followers and following"
### Please describe the problem (or idea)
No option to see, my followers on publiclab and which user I am following. this feature should be added to the user profile. if  it is valid

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?
singhav

### Browser, version, and operating system
chrome ubuntu 16.04 lts

****

## Thank you!

Your help makes

[2018-10-16 17:58] avsingh999 commented on #3703
@jywarren @SidharthBansal  @sagarpreet-chadha  @gauravano Please look at this issue. It is valid or not
thank you :)

[2018-10-16 20:38] mardelvalle commented on #3679
Hi all! My name is Maria Cristina. I am happy to meet you all. I am a first-generation American. My background of the study was actually originally environmental science and anthropology, however, I am now focusing on coding but haven't lost my interest in those subjects

I have primarily worked with HTML, CSS, and JavaScript but am always eager to learn new skills! Besides coding, you can find me

[2018-10-16 20:39] mardelvalle commented on #3699
Hi @VictorSanborn by chance can I help out?

[2018-10-16 23:11] jywarren commented on #3490
Sure!!

On Mon, Oct 15, 2018, 2:50 PM Camila Araújo <notifications@github.com>
wrote:

[2018-10-16 23:13] jywarren commented on #3482
👍🏽😀

On Tue, Oct 16, 2018, 1:33 AM Rachel Stratemeier <notifications@github.com>
wrote:

[2018-10-17 01:44] jywarren commented on #3563
OK! I created @publiclab/leaflet-environmental-layers-guides and @publiclab/image-sequencer-guides -- let's see how this works and we can expand to more repositories if we find it's useful. Thanks!

[2018-10-17 01:46] jywarren commented on #3563
In general, we can make "sub-teams" for different purposes for different repositories. But I'm cautious. We don't want to fragment our community too much, as @SidharthBansal points out. I think we should do our best to have a consistent unified community where people can move easily between projects. So, this is kind of an experiment and we can re-assess how well it works.

[2018-10-17 01:48] jywarren commented on #3563
@tech4GT  says:

This sounds reasonable. Can we restrict the specific right to "approve" to a certain team? I haven't seen that exactly. @tech4GT you are an admin in `image-sequencer`, can you check if this is possible? If so, we could discuss if we want to do this for a bigger project like `plots2`. Thanks!

[2018-10-17 01:59] jywarren commented on #3276
hey you all, this is awesome. Thanks Mridul97 that's a great list!

On Mon, Oct 15, 2018 at 9:11 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-10-17 02:03] jywarren commented on #3699
Hi, it looks like @victorsanborn has fixed it! @mardelvalle please check if there's another issue available at http://code.publiclab.org. If there isn't we can make you one!

[2018-10-17 02:04] jywarren commented on #3699
Thanks @victorsanborn!!!

[2018-10-17 02:05] #3699 closed

[2018-10-17 02:08] jywarren commented on #3701
This is great. Thank you so much, what a well-written issue! Adding your uncertainties or unknowns below in a comment is always helpful too because it can help out the person who solves it. Fantastic!!!

[2018-10-17 02:09] #3701 closed

[2018-10-17 03:35] jywarren commented on #3679
Hello! Just checking back in here. Welcome, @mardelvalle -- very glad to meet you too! We are very happy to get you set up and started. Have you found a first-timers issue yet or can we help you find one to work on?

[2018-10-17 03:39] jywarren commented on #3679
And it's great to hear of your background -- some of the founders of Public Lab were anthropologists and environmental scientists, along with teachers, designers, artists, and programmers. So, welcome!

[2018-10-17 03:41] mardelvalle commented on #3679
Hi @jywarren nice to meet you! I figured that there were people with environmental background on the project but I didn't realize that there were people with anthropology as well!

I haven't been able to find an issue yet. It looks like there is activity on all of the first-timers issues as far as I can tell.

[2018-10-17 03:42] jywarren commented on #3679
And welcome to @amychan331 -- I studied architecture myself, actually! 😄

@Codeama welcome! I see you and @quinn-codes-synthesis have worked through and solved an issue and we're so grateful.

[2018-10-17 03:53] jywarren commented on #3679
I've made a new one for you! Mentioning you in it now so you'll get a notification.

[2018-10-17 03:53] first-timers[bot] opened #3704 "Add "from:____" tag to question breakout prompts"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-17 03:53] jywarren commented on #3704
@mardelvalle this one is for you! 👍 👍 👍

[2018-10-17 03:57] jywarren commented on #3704
I have to run, so I can explain more soon, but basically on many pages on PublicLab.org there are comments, and sometimes it will guess that the comment is a question (it scans for question marks, actually!) and then there will be an alert like:

...or something like that. So this change will ensure that the resulting question has a link back to the original post!

[2018-10-17 03:57] jywarren commented on #3704
It's simple but the effects will be interesting and powerful for our publishing system. 👍

[2018-10-17 03:57] jywarren commented on #3704
It's simple but the effects will be interesting and powerful for our publishing system. 👍

[2018-10-17 04:12] milaaraujo commented on #3276
Hey @SidharthBansal, can you add this task to the list?

* [ ] Remove asterisk from Boolean Full-Text Searches (https://github.com/publiclab/plots2/issues/3490)

I already put this in the GCI dashboard. Thanks!

[2018-10-17 04:14] mardelvalle commented on #3679
Awesome. Thank you!

[2018-10-17 04:53] aSquare14 commented on #3276
@SidharthBansal
#3359 Can I add this to the dashboard ?

[2018-10-17 05:05] SidharthBansal commented on #3276
No not at all

On Wed, Oct 17, 2018, 10:23 AM Atibhi Agrawal <notifications@github.com>
wrote:

[2018-10-17 05:07] SidharthBansal commented on #3276
This is staging area, it is not to be published as a whole. We need to
publish issues written in this list by making them issue on github repo
first and then on the gci dashboard.

Does this makes sense?

On Wed, Oct 17, 2018, 10:35 AM Sidharth Bansal <
bansal.sidharth2996@gmail.com> wrote:

[2018-10-17 05:10] aSquare14 commented on #3276
Oh Now it does. I am sorry for the misconfusion.
ᐧ

On Wed, Oct 17, 2018 at 10:37 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-10-17 05:12] SidharthBansal commented on #3276
Ok

On Wed, Oct 17, 2018, 10:40 AM Atibhi Agrawal <notifications@github.com>
wrote:

[2018-10-17 06:30] jywarren commented on #3404
Ah ok so can we figure out how the crontab was originally set and then
update it to include the new parameter format?

On Mon, Oct 15, 2018, 12:29 PM Sebastian Silva <notifications@github.com>
wrote:

[2018-10-17 06:55] albanmahmut commented on #3704
Can I contribute?

[2018-10-17 08:06] albanmahmut commented on #3419
I changed the lines and committed. PR already, can you see it? #3419

[2018-10-17 08:19] jywarren commented on #3677
Ok, so would we be good to have tag parenting get more user interface or
would we like to perhaps have some other system developed like, if no
content is found, redirect to a non-hyphenated close alternative?

I don't think it'd be able to figure out how to add in hyphens because it
wouldn't know enough English to figure that out, like, if
maneatingcabbage would
become man-eating-cabbage or maneat

[2018-10-17 09:34] albanmahmut commented on #3680
Is this still reserved?

[2018-10-17 11:37] faithngetich commented on #3654
Hey, @Rishabh570 could you please advice on how I could get the page populated to see the Activities part of the page.

[2018-10-17 11:59] Rishabh570 commented on #3654
@faithngetich It is related to `plots2` I guess, I not the right person to help you in that...never worked on Ruby/Rails. You can ask this in the chat, you're surely land somewhere :)

[2018-10-18 02:04] tech4GT commented on #3563
@jywarren I'll check this out!

[2018-10-18 02:11] jywarren commented on #3679
Folks are starting to ask about proposals. Im about to board a plane but I want to put out this link with some examples of proposals from our summer of code programs. I need to check the exact requirements in Outreachy but these have some of the kind of information tthat will be helpful in framing out a proposal:

https://publiclab.org/notes/warren/02-28-2017/call-for-proposals

I hope this is hel

[2018-10-18 02:19] jywarren commented on #3679
Ah, and here's the one for this last year's program! The last link was for 2017.

https://publiclab.org/notes/warren/02-15-2018/call-for-summer-of-code-2018-proposals

[2018-10-18 03:08] amychan331 commented on #3691
New to this project and testing out different pages. While trying to add new features, I also had this problem on my Firefox. For both wiki and features, the console log have the same error message:

Thought I did something wrong with my installation, but I guess it is not?

[2018-10-18 03:14] jywarren commented on #3691
I think it's looking for an HTML element and not finding it! We should look
at the code that's running the preview button, possibly in the
app/assets/javascripts/ folder... Thanks! Sorry, on the run at the moment.

On Thu, Oct 18, 2018, 11:09 AM Amy Chan <notifications@github.com> wrote:

[2018-10-18 05:36] milaaraujo commented on #3504
Hey @kryptc, are you working on this? Need help?

[2018-10-18 05:36] milaaraujo commented on #3503
Hey @14Richa, are you working on this? Need help?

[2018-10-18 05:36] starkblaze01 commented on #3685
I would like to work on this.

[2018-10-18 05:37] milaaraujo commented on #3502
Hey @simeydk , are you working on this? Need help?

[2018-10-18 06:49] amychan331 commented on #3691
Once I look at the HTML, it became clear. There was an inline onclick for toggle_preview(), but the click event was never passed. It seems like a simple fix. I know it is not mark as a fto-candidate, but can I do it as my first?

[2018-10-18 07:02] simeydk commented on #3502
Thanks for following up. I haven't started on this, yet, but would like to.
I'll give it a shot this weekend

On Thu, Oct 18, 2018 at 7:37 AM Camila Araújo <notifications@github.com>
wrote:

[2018-10-18 07:31] faithngetich commented on #3679
Thank-you @jywarren

[2018-10-18 09:15] Souravirus opened #3706 "Read through Code Climate "smells" and open issues related to solving them with code links included and recommendations"
Make issues for each code climate "smell" in this [link
](https://codeclimate.com/github/publiclab/plots2/issues?severity%5B%5D=critical&severity%5B%5D=major&status%5B%5D=&status%5B%5D=open&status%5B%5D=confirmed&engine_name%5B%5D=structure&engine_name%5B%5D=duplication). Please also include the code links and recommendations.

[2018-10-18 09:19] jywarren commented on #3691
Sure that'd be great! Good sleuthing too!

On Thu, Oct 18, 2018, 2:50 PM Amy Chan <notifications@github.com> wrote:

[2018-10-18 12:30] bronwen9 opened #3707 ""Tag" option in search doesn't link to content"
Hi! I was trying to search for a recent post, and tried to search the "microscope" tag when I was coming up short on a keyword.

When selecting the "tag" option in the search menu, I see a list of hyperlinked research note titles.

When I clicked on the title, I was taken to the wiki creation page and prompted to create a new wiki for the first word in the title.

Clicking on a title DOES lead to

[2018-10-18 13:03] kryptc commented on #3504
Yeah, I'm working on it, sorry for the delay!

[2018-10-18 14:43] SidharthBansal commented on #3679
Hi folks, please start writing your proposals so that the mentors can suggest changes to it. While jeff is travelling other people will love to have a look at your proposals.

[2018-10-18 15:20] vikul1234 commented on #3653
after line 60

[2018-10-18 15:55] vikul1234 commented on #3513
All os have some default screenshot tools, these tools help to take a screenshot of your desired area and edit or highlight the snapshot easily. Just use a shortcut key.

You can use these programs to click a screenshot:

gnome-screenshot (Linux)
snipping tool (Windows)

[2018-10-18 19:38] vikul1234 opened #3712 "Subscribe button collapsing in mobile view in mailing list."
### Please describe the problem (or idea)
Subscribe button collapsing in mobile view in mailing list.

![subscribe](https://user-images.githubusercontent.com/22452641/47179290-56f18480-d33b-11e8-89ca-e44a4c326a92.PNG)

Add some margin to the subscribe button

### Please show us where to look

https://publiclab.org/lists

### What's your PublicLab.org username?
vikul1234

### Browser, version, and

[2018-10-18 19:46] vikul1234 commented on #3712
Please add fto-candidate

[2018-10-18 20:03] vikul1234 opened #3713 "centre image in grid view in mobile view in infagram"
### Please describe the problem (or idea)
images are in left in mobile view. It will look good if they are in centre.

![centre](https://user-images.githubusercontent.com/22452641/47180608-9077bf00-d33e-11e8-972d-08ce2725e21b.PNG)

### Please show us where to look

http://infragram.org

### What's your PublicLab.org username?
vikul1234

some css fix

### Browser, version, and operating system
chro

[2018-10-18 20:04] vikul1234 commented on #3713
Please add fto-candidate label

[2018-10-18 22:47] SidharthBansal commented on #3713
This has been marked as a good candidate for becoming a first-timers-only issue like these, meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider reformatting or reposting it as a first-timers-only issue, and then ping @SidharthBansal to get it labelled. Or, if this is

[2018-10-18 22:48] SidharthBansal commented on #3713
This issue is marked as a beginner task for GCI students

[2018-10-18 22:48] SidharthBansal commented on #3712
This issue is marked as a beginner task for GCI students

[2018-10-18 22:49] SidharthBansal commented on #3712
This has been marked as a good candidate for becoming a first-timers-only issue like these, meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider reformatting or reposting it as a first-timers-only issue, and then ping @SidharthBansal to get it labelled. Or, if this is

[2018-10-18 22:50] SidharthBansal commented on #3712
Can you please add these tasks to the gci dashboard as well?
Thanks for creating issues

[2018-10-18 23:01] LonghornRach commented on #3482
think i got in over my head and need to hand this one back :-/

[2018-10-18 23:17] SidharthBansal commented on #3679
A few tips for making awesome proposals:
* Your information so that we can know you better.
* Include weekly timeline: Explain what you will be doing in which week. Divide the Outreachy period into months in bigger tasks. Then into weeks into smaller tasks.
* Include demos/images/gifs to demonstrate your idea
* Include Mock Ups, Flow Charts, Data Flow Diagrams, etc to explain the workflow in simpl

[2018-10-19 00:13] SidharthBansal commented on #3504
No problem

[2018-10-19 00:38] milaaraujo commented on #3502
No problem! :smile: I understand... This is not a trivial issue! Maybe it is not a good one for FTO, I'm removing that label.

We can do the following when you can get the project  running on your machine I can find a first time issue for you! What do you think?

[2018-10-19 00:43] stefannibrasil commented on #3501
hey everyone, I'm fixing this #3700 first then I'll focus on this one, hang on! xD

[2018-10-19 05:23] #3503 closed, assigned to milaaraujo

[2018-10-19 05:36] milaaraujo commented on #3707
Hey @bronwen9, can we break this issue in two tasks?
* [ ] Fix the hyperlinks - #3718
* [ ] Change the style of the search tags results list

The first one was a simple fix, but for the second one we will need @stefannibrasil! Can you help me understand how the _gird featuring the header image, title and link_ is build here (Notes)?
![desenho sem titulo](https://user-images.githubusercontent.com/4

[2018-10-19 14:43] KauNair commented on #3308
Sounds interesting!
I'll try this out.

[2018-10-19 15:02] SidharthBansal commented on #3654
Hi you need to create a wiki page and then activities section in the
development environment. Hope this will help you

On Wed, Oct 17, 2018, 5:30 PM Rishabh Rawat <notifications@github.com>
wrote: