[2018-11-15 16:17] shubhscoder commented on #3975
@Noorbano15 I would suggest that you keep the title short. You can add the description you want , in the section provided to describe the problem. Thanking in you in advance!

[2018-11-15 16:19] Noorbano15 opened #3977 "Issue"
Web-based tools for collecting, analyzing, and sharing data from a DIY spectrometer. These tools should be there to make our work easier. We can add nice pictures for children. These type of things will attract the teenagers and these days there's a lot of power in the hands of teenagers. And I pray that one day it will be so famous that everyone in the world will be using it.

[2018-11-15 18:11] Error-No404 commented on #3946
https://github.com/publiclab/plots2#installation

[2018-11-15 18:11] Error-No404 commented on #3946
https://github.com/publiclab/plots2#installation

[2018-11-15 18:11] #3946 closed

[2018-11-15 18:47] #1097 closed

[2018-11-15 18:57] jywarren opened #3978 "use grids via "insert_extras()" in all types of comments"
When using inline shortcodes like `[notes:balloon-mapping]` in wiki or note body text, they get converted using the `insert_extras()` method, like on these lines:

https://github.com/publiclab/plots2/search?utf8=%E2%9C%93&q=insert_extras&type=

See how it works in the sandbox: https://publiclab.org/wiki/sandbox-2

But this doesn't happen in comments -- see this example:

https://publiclab.org/note

[2018-11-15 18:59] gauravano commented on #3975
Closing this issue as opened again. Thanks!

[2018-11-15 18:59] #3975 closed

[2018-11-15 19:01] jywarren opened #3979 "Get CSV drag and drop to insert a graph tag"
After resolving https://github.com/publiclab/plots2/issues/3978, we can look at how you should be able to drag a CSV into a comment and have it display in the following format:

[code]

This (after #3978) will actually display it in a graph! See this working in wiki body text here: https://publiclab.org/wiki/sandbox-2

![image](https://user-images.githubusercontent.com/24359/48575048-e8262d80-e8de

[2018-11-15 19:05] KauNair commented on #3758
I'll look into this issue. :+1:

[2018-11-15 19:10] jywarren commented on #3961
thank you so much! We also added a notice to the error page so people know
the workaround until it's fixed.

On Thu, Nov 15, 2018 at 4:32 AM derletztename <notifications@github.com>
wrote:

[2018-11-15 19:17] oorjitchowdhary commented on #2341
Pls review #3981 ... Thanks.. 😄

[2018-11-15 20:06] ibrahimelbanna commented on #3976
Can I work on this?

[2018-11-15 21:16] gauravano commented on #3976
Sure @ibrahimelbanna!

[2018-11-15 22:08] rohancl commented on #2795
Hey, can I have a link to .html file that is being loaded on https://publiclab.org/post ?

[2018-11-15 22:18] jywarren commented on #2795
Should be at /app/views/editor/rich.html.erb -- hope that helps!!!

On Nov 15, 2018 5:09 PM, "Rohan Singh" <notifications@github.com> wrote:

Hey, can I have a link to .html file that is being loaded on
https://publiclab.org/post ?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/plots2/issues/2795#is

[2018-11-15 22:21] jywarren commented on #3758
Awesome, thanks!!!

On Thu, Nov 15, 2018, 2:07 PM Kaustubh Nair <notifications@github.com wrote:

[2018-11-15 22:21] rohancl commented on #2795
Hey @jywarren , Can you tell me how you see that, It has been a problem for me to locate the files that are being loaded :/

[2018-11-15 23:53] kevinzluo commented on #2795
Hi @rohancl .
I believe you should first check config/routes.rb, which tells you which controller each link goes to. In this case on line 268 and 269 you can see that post goes to editor#post.
Then you can go find the controller under app/controllers, and in this case it is editor. Within the controller you can see under post, unless some conditions are met, it will call rich, meaning rich.html.er

[2018-11-15 23:57] rohancl commented on #2795
Got it, thanks @kevinzluo

[2018-11-16 01:17] kevinzluo commented on #3439
Hi. I don't yet see this on the GCI dashboard, but I would like to do it.

[2018-11-16 01:37] rohancl commented on #2795
<h1>Problem in contributing</h1>
Hey @jywarren @kevinzluo ,
I have completed the task, but I still think I need some help here,

![bruh 3](https://user-images.githubusercontent.com/29266591/48590912-6e865200-e967-11e8-9505-684375d1bcdd.gif)

<h2>What I did</h2>
I checked the links, and found that the code in post.js which contains the code for auto- completion of the search bar isn't actually link

[2018-11-16 03:32] SidharthBansal commented on #2341
@oorjitchowdhary can you please close #2341 and #2231 once #3981 is merged?

[2018-11-16 03:33] SidharthBansal commented on #2231
Moved to #2341

[2018-11-16 03:33] #2231 closed

[2018-11-16 03:35] ebarry commented on #3667
ok great -- are we able to close this issue?

[2018-11-16 03:37] SidharthBansal commented on #3439
Go ahead. I have made an issue for this. Please claim that before anyone else claims it.
https://codein.withgoogle.com/dashboard/tasks/6593856700153856/

[2018-11-16 03:38] SidharthBansal commented on #3439
If you find more such issues labelled with gci tag but are not part of gci platform please tell us. We will be happy to add them there too.
Thanks

[2018-11-16 03:47] HarimAhmed commented on #3439
hahaaa @SidharthBansal claimed it b4 😂

[2018-11-16 03:55] kevinzluo commented on #3439
Haha.
I could not have claimed it anyway since my previous task has not been approved.

[2018-11-16 03:58] ebarry opened #3982 "Account creation failing in several ways"
### Please describe the problem (or idea)

For what may be several reasons, I cannot register a new account on the website.

I am currently located in China, but I'm using an international hotspot that is not behind the Great Firewall (instead is registered in UK) and currently has 4G speed. I attempted to create a new account from two browsers, Chrome Incognito and Firefox.

<img width="900" alt=

[2018-11-16 04:07] jywarren commented on #3982
tried in the US i got same, error log:

[code]

[2018-11-16 04:19] SidharthBansal commented on #3932
I was also thinking of the same behaviour. I completely agree with the https://github.com/publiclab/plots2/issues/3932#issuecomment-438875615.

One important thing is we have many tags on the research notes and users have existing subscriptions of tags. So, some tags which the `comments+subscribe flow` will subscribe to the user will be conflicting with the existing user tags. So, we need to creat

[2018-11-16 04:28] ICEBERG98 commented on #3976
I want to work on this any too. Anything I can do?

[2018-11-16 04:32] icarito commented on #3982
Hi Liz!
Thanks for your detailed report!
Looking at the configuration and logs we discovered our mail gateway was not recognizing our web container to relay email for because an upgrade seems to have changed its IP address.
I missed finishing https://github.com/publiclab/plots2/pull/3330 which should give us warning if this ever happens again. Sorry for the inconvenience and have a great workshop

[2018-11-16 04:33] ICEBERG98 commented on #3974
Hey, Can i do this?

[2018-11-16 04:45] jywarren opened #3986 "ReCaptcha does not work in China"
@ebarry reported this in addition to #3982 :

There is the (english) alternative which i'll see what i can do but this is very short notice here...

[2018-11-16 04:46] jywarren commented on #3982
ohhhhh i had missed this additional issue from the middle of this one, thank you @icarito --

Making a separate issue for this so we don't forget it:

[2018-11-16 04:46] jywarren commented on #3982
oops its above you see it

[2018-11-16 04:48] jywarren commented on #3986
OK there is an alternative login at https://publiclab.org/signup?spamaway=true which is in english, but i will try to translate

its usually only shown if you fail the ReCaptcha

[2018-11-16 05:30] SidharthBansal commented on #3931
This sounds great to me. I was thinking something else about this issue. Sorry, I thought that we want some tags to be subscribed as soon as anyone logs into public lab for the first time. I thought of default subscriptions as listed https://github.com/publiclab/plots2/issues/3931#issuecomment-437481861

[2018-11-16 05:32] SidharthBansal commented on #3931
So, let's start with your suggestions in https://github.com/publiclab/plots2/issues/3931#issuecomment-438876819. From step 1 to step 4.

[2018-11-16 05:36] jywarren commented on #3986
OK, in #3987 i posted a possible fix which i hope will be readable in simplified chinese;

[2018-11-16 05:38] SidharthBansal commented on #3924
Can we use trending tags as given here
https://github.com/publiclab/plots2/blob/232a77f7e1e43aa37a9cab1436fef1eec34fab2d/app/models/tag.rb#L268
 to suggest tags to be subscribed on these pages?

[2018-11-16 05:46] SidharthBansal commented on #3384
@jywarren I guess https://github.com/publiclab/plots2/pull/3884/ has solved it. We can close this issue.
I checked it on the production it works well.

[2018-11-16 06:18] ebarry commented on #3986
Thank you so much this is great! I would like to mention that this also affects MapKnitter, as reported verbally to me by @shanlter during our workshop in Shenzhen three weeks ago.

## Details
When you post a map as _anonymous_, there's a final step of passing the Google RECAPTCHA API, which also prevents people in China from posting maps.

[2018-11-16 06:47] ebarry commented on #547
Hi all, just bumping this issue up as image upload -- if the title has non-latin characters -- to the Main Image, as well as Drag-n-Drop into the Body of a research note, is failing:
<img width="513" alt="screen shot 2018-11-16 at 2 46 43 pm" src="https://user-images.githubusercontent.com/161439/48602562-787f7380-e9ae-11e8-9814-faa124926c1f.png">

[2018-11-16 07:00] ebarry opened #3988 "Non-latin characters are not recognized as Title of Notes or Wikis"
### Please describe the problem (or idea)

I am testing the website for how well it supports the Chinese-language community. I found that non-latin characters are not accepted as either Notes or Wikis. Here are screenshots:

Wiki:
<img width="1092" alt="screen shot 2018-11-16 at 2 49 40 pm" src="https://user-images.githubusercontent.com/161439/48602684-f17ecb00-e9ae-11e8-8c0d-a2b91d67f447.png">

N

[2018-11-16 09:37] oorjitchowdhary commented on #2341
@SidharthBansal Okay sure

[2018-11-16 09:47] oorjitchowdhary commented on #3375
So we basically want to show that **this is required field error** when we press the search button with a blank search bar.. right?

[2018-11-16 10:18] thesparks commented on #3540
@oorjitchowdhary,
For comment alert (you can take the code from here)

        plots2/app/views/notes/_comment.html.erb
For answer alert (that you need to fix)

        plots2/app/views/questions/_answer.html.erb

[2018-11-16 15:05] gauravano commented on #2150
Hi @oorjitchowdhary, currently it's claimed by @kevinzluo. Thanks!

[2018-11-16 23:00] #3974 closed

[2018-11-16 23:02] #2341 closed

[2018-11-16 23:15] #2150 closed

[2018-11-17 00:33] jywarren commented on #3906
Yes, this is a problem! We haven't figured out a way around it yet for newcomers, but what we can do is add you as a collaborator and then you will be able to do it. I've done this for you just now and can for anyone else as well. Thanks for mentioning it!

[2018-11-17 02:42] shubhscoder commented on #3961
I would like to work on this! Thanking you in advance!

[2018-11-17 05:46] jywarren commented on #3961
oh that would be fantastic. Thank you so much!

On Fri, Nov 16, 2018 at 9:42 PM Shubham Sangamnerkar <
notifications@github.com> wrote:

[2018-11-17 07:37] rohancl commented on #2795
@jywarren  Please help.

[2018-11-17 12:13] CodeSarthak commented on #3906
Okay, thanks a lot 👍

[2018-11-17 12:19] SidharthBansal commented on #3906
Can anyone please open the checking for this week?

On Sat, Nov 17, 2018, 5:44 PM Sarthak Aggarwal <notifications@github.com
wrote:

[2018-11-17 12:19] SidharthBansal commented on #3906
And close this issue?

On Sat, Nov 17, 2018, 5:48 PM Sidharth Bansal <bansal.sidharth2996@gmail.com
wrote:

[2018-11-17 12:30] Souravirus commented on #2795
Hi @rohancl, the `public/lib` folder is used for installation of packages of yarn and since we don't want the main repository to contain such packages, we put public/lib in `.gitignore`. This is the reason why you don't see public/lib in the repository. Now the problem is that you want to connect typeahead.jquery.js to a file. You can do that by writing this line in app/assets/javascript/applicati

[2018-11-17 13:01] rohancl commented on #2795
I could not understand this completely, can I edit typeahead.jquery.js anywhere on this repository ?

[2018-11-17 13:29] rohancl commented on #2795
so we are linking a js file inside a js file right ?

[2018-11-17 13:32] rohancl commented on #2795
That means I can bring typeahead.jquery.js into post.js by typing in: //=require typeahead.js/dist/typeahead.jquery.js . right ?

[2018-11-17 13:33] Souravirus commented on #2795
Yeah that's what you have to do

[2018-11-17 13:35] rohancl commented on #2795
I did but it's not working,
I have post.js in my public folder and I have imported it in rich.html.erb like this:
![posto](https://user-images.githubusercontent.com/29266591/48661654-89f27980-ea9b-11e8-87a6-cb2438cc16e4.png)

I checked reloading the post page, the post.js is linked (i tested it with an alert box)
Then, I pasted the require code you gave me in post.js

![req](https://user-images.gi

[2018-11-17 13:39] Souravirus commented on #2795
I dont understand why you are keeping anything in public folder. I think it should be kept inside `app/assets/javascript` folder.

[2018-11-17 13:55] rohancl commented on #2795
that was because I could not link the file anywhere else i tried writing:
../app/assets/javascript/post.js
but it gave me a warning

![screenshot from 2018-11-17 19-24-16](https://user-images.githubusercontent.com/29266591/48661835-65e46780-ea9e-11e8-95da-013bfdbaa1b9.png)

I know I am probably doing something dumb, Please help @Souravirus

[2018-11-17 13:58] rohancl commented on #2795
Yeah sure, wait a moment....

[2018-11-17 14:33] rohancl commented on #2795
Oh sorry I forgot to commit the application.js part, but I have it updated in my localhost.
I've added the spaces too, still... not working

[2018-11-17 14:41] Souravirus commented on #2795
What's the error now?

[2018-11-17 15:13] rohancl commented on #2795
<h2>ERROR: I cannot link the post.js file</h2>

![bru](https://user-images.githubusercontent.com/29266591/48662430-f6737580-eaa7-11e8-9311-c1f93ebf05f8.png)
<h2>
Here are the addresses of my main files in plots2:</h2>
<b>
post.js: </b><i>app/assets/javascript/post.js</i>
<b><br>
rich.html.erb: </b><i>app/views/editor/rich.html.erb</i>
</b>
<h2>
 Updated code in post.js:
</h2>

![bru](https://user-

[2018-11-17 15:16] rohancl commented on #2795
Also, along with the linking error in the inspect element tab, I am getting this too:

![newerr](https://user-images.githubusercontent.com/29266591/48662569-c3ca7c80-eaa9-11e8-8578-2d63665e5407.png)
 Tell me if it's a problem, because as far as I know, this is an outsource

[2018-11-17 15:54] jywarren commented on #2795
Aha! Cool you are making progress here.

The public url route will be /lib/... Instead of /app/assets/ which is the
internal system path.

Or lib is for yarn dependencies. Actually there is a JavaScript method that
rails supplies... Let me find it...

On Sat, Nov 17, 2018, 10:17 AM Rohan Singh <notifications@github.com wrote:

[2018-11-17 15:58] jywarren commented on #2795
Here:

<%= javascript_include_tag "post" %>

In this, the root will refer to anything in /app/assets/javascripts/

But I didn't think the post js file was related to auto completion.  So
maybe this isn't needed and you need to find why jQuery autocompletion is
not loaded in the rich editor?

I definitely see it in the first few lines of this file already -
https://github.com/publiclab/plots2/blob/

[2018-11-17 16:32] shubhscoder commented on #3961
I would like to work on this! Thanking you in advance!

I am following this to set up the system in production mode locally.
https://gist.github.com/rwarbelow/40bd72b2aee8888d6d91

And there are multiple migrations that are failing. The only way I could think of is skipping those migrations, but the problem is that there are many of these, and I am pretty sure that skipping all of these will lead

[2018-11-17 18:20] oorjitchowdhary commented on #3532
This task is already done right? Coz I can still view it on the GCI platform.. So can I still solve it?

[2018-11-18 01:30] rohancl commented on #2795
Hey thanks for replying @jywarren
SO, that means there is no need to link post.js into rich.html.erb ?
and also that the js file with autocompletion is already linked :fearful:

[2018-11-18 03:55] rohancl commented on #2795
Hey @jywarren ,
If I have to contribute to the typeahead.jquery.js file in this repository. Is it possible to find it somewhere ?
thanks ^.^

[2018-11-18 04:30] #3617 closed

[2018-11-18 04:37] thesparks commented on #3532
I also asked about it. Gaurav Sachdeva said
"I will see into the issue 3439 and for 3532, yes it's closed, so I guess it wouldn't be available at GCI dashboard too."

[2018-11-18 05:50] rohancl commented on #2795
Hey @Souravirus  @jywarren , Is the file that has autocompletition code already linked to rich.html.erb ?

[2018-11-18 06:20] rohancl commented on #2795
@jywarren  Can i edit typeahead.jquery.js anywhere on this repository ?

[2018-11-18 06:48] shubhscoder commented on #3961
@jywarren there are people who faced the same issue as we. Even there fallbacks were not working in production. This is the link to that : https://github.com/svenfuchs/rails-i18n/issues/654
And I think we should try this : https://github.com/svenfuchs/rails-i18n/issues/654#issuecomment-369182647 . I ll make a PR for the same, we can try if it works or not.

[2018-11-18 08:04] akoopraba4 commented on #3976
I would like to work on this issue.

[2018-11-18 08:09] oorjitchowdhary commented on #3532
@thesparks yeah ok no probs.. Our org is running low on tasks.. How many have you done?

[2018-11-18 08:22] akoopraba4 commented on #3976
On opening it,I can find no repetition.Is this issue solved?

[2018-11-18 09:06] akoopraba4 commented on #3838
I would like to work on this issue.

[2018-11-18 11:14] oorjitchowdhary commented on #3540
https://publiclab.org/questions/jradheshyam96/09-28-2018/may-i-know-more-about-how-exactly-this-will-this-work
When opening this link, it says ** the author of this note has been banned** and then it redirects to the public lab homepage

[2018-11-18 12:30] oorjitchowdhary commented on #2258
@SidharthBansal @jywarren Any idea... I really want to solve this

[2018-11-18 12:34] oorjitchowdhary commented on #2258
![screenshot 29](https://user-images.githubusercontent.com/39333058/48672474-5166a480-eb5c-11e8-94ef-5d4b9365b569.png)
When opening publiclab.org/research, it redirects to publiclab.org/dashboard and the pagination here is correct

[2018-11-18 13:10] oorjitchowdhary commented on #3432
Pls refer to #4000 which solves this... and approve my task at GCI... Thanks

[2018-11-18 14:30] atulbi commented on #3840
Hi...
I'm getting
_LoadError: Could not load the 'mongodb' Active Record adapter. Ensure that the adapter is spelled correctly in config/database.yml and that you've added the necessary adapter gem to your Gemfile._
when executing `rake db:setup`
I've already copied ans pasted config/database.yml.sqlite.example as per instructions provided.

Here is full log :
https://pastebin.com/TnjrNKAk

help!

[2018-11-18 15:46] JonathanXu1 commented on #3532
Hi, the task is still available but appears to be solved. Am I supposed to be able to claim it?

[2018-11-18 15:58] thesparks commented on #3532
@gauravano, please respond here

[2018-11-18 17:01] JonathanXu1 commented on #3375
Hi can I claim this issue for CodeIn?

[2018-11-18 17:08] oorjitchowdhary commented on #3375
@JonathanXu1 This is a first timers only issue... so if you haven't contributed to public lab, you can go ahead

[2018-11-18 17:12] JonathanXu1 commented on #3375
Alright thanks. I've found the line of code to be changed, but I've never used plots2 before and don't know how to navigate to that element in the UI.
![image](https://user-images.githubusercontent.com/22998430/48675762-2ca60900-eb2b-11e8-9207-3b7a113cf154.png)
Could I get a pointer?

[2018-11-18 17:14] oorjitchowdhary commented on #3375
So you're a first timer.. No need to worry.. I can assume that you're running public lab from localhost... you just have to go to localhost:3000/questions

[2018-11-18 17:15] oorjitchowdhary commented on #3532
Yeah.. @publiclab/reviewers 😟

[2018-11-18 17:36] #3324 closed

[2018-11-18 18:13] JonathanXu1 commented on #3490
Hi, I'd like to work on this issue. Is anyone still working on this issue?

[2018-11-18 18:56] CoderJolly commented on #3906
Hi @jywarren, I was away from keyboard lately bt now will do it

[2018-11-18 19:04] CoderJolly commented on #3906
Hi @jywarren, I was away from keyboard lately bt now will do it

[2018-11-18 19:16] CoderJolly commented on #3897
@publiclab/reviewers

[2018-11-18 19:17] CoderJolly commented on #3906
Is it with collaborators only or do the members also face this problem ?

[2018-11-18 19:18] CoderJolly commented on #3914
@arungoel123456 is the issue resolved ?

[2018-11-18 21:04] gauravano commented on #3897
@shriyakaneriya is your issue resolved?

[2018-11-19 04:08] shriyakaneriya commented on #3897
Hello everyone,
I am sorry I haven't been able to keep up with this thread due to my exams, but yes, still facing the difficulty. @jywarren I did follow the given steps. Will try with the Cloud9 invite now.
@quinn-codes-synthesis I have tried the WSL, but as suggested, it is not a good option. I will try using a Virtual Machine next.
Thank you for the help, everyone.
Since OpenSSL is a problem, I

[2018-11-19 13:20] conkytom commented on #3978
Hello @jywarren, I'd like to try and solve this one.  Thanks!

[2018-11-19 13:37] CodeSarthak commented on #3429
Resolved this issue through PR : #4008

[2018-11-19 13:44] CodeSarthak commented on #3906
Hey @jywarren I am still not able to reference @publiclab/reviewers.

[2018-11-19 15:21] CodeSarthak commented on #3906
One more thing,  I think we are running really low on tasks for GCI, only about 7-8 are left. @jywarren @SidharthBansal

[2018-11-19 16:54] SidharthBansal commented on #3906
I will try to publish some tomorrow. Can @publiclab/mentors drafts the
tasks so that I can publish them.

On Mon, Nov 19, 2018, 8:51 PM Sarthak Aggarwal <notifications@github.com
wrote:

[2018-11-19 20:18] gauravano opened #4009 "Weekly Check-in for Google Code-In #3"
Hi everybody :smiley: !

If you're new here, welcome, and please try some of our [first-timers-only issues](https://code.publiclab.org/#r=all). This is a check-in for recent new contributors and mentors, and across the Code-In and Outreachy groups! @publiclab/mentors

We're SO EXCITED to have you as part of Public Lab and Google Code-In!

**What is your plan for this week?**
I will be reviewing PR

[2018-11-19 20:38] ValentinaTironi commented on #3540
HI! I have a question. I can't see where are the answers. Someone can help me? Thanks!

[2018-11-19 22:14] jywarren commented on #3978
oh that would be tremendous, thanks!

On Mon, Nov 19, 2018 at 8:20 AM Thomas Conkwright <notifications@github.com>
wrote:

[2018-11-20 02:34] JonathanXu1 commented on #3375
Thanks, I figured it out. Is it too late to do a pull request?

[2018-11-20 03:18] SidharthBansal commented on #3756
Published on GCI dashboard

[2018-11-20 03:18] SidharthBansal commented on #3758
Published on GCI dashboard

[2018-11-20 03:18] SidharthBansal commented on #3836
Published on GCI dashboard

[2018-11-20 03:31] SidharthBansal commented on #3758
Yes

On Tue, Nov 20, 2018, 8:56 AM Kaustubh Nair <notifications@github.com wrote:

[2018-11-20 03:33] milaaraujo commented on #3490
@rohancl is working on this one!

[2018-11-20 04:10] nonas-hunter commented on #3840
Hi I am a GCI participant who just figured out how to set up plots2 on my local machine. It is working surprisingly well and the instructions to set it up were very clear.

Great job Public Lab!

[2018-11-20 05:13] HarshKhandeparkar commented on #3586
Is this related ro ruby or is it pure javascript/html/css?

[2018-11-20 06:48] SidharthBansal commented on #3838
Great.

On Sun, Nov 18, 2018, 2:36 PM akoopraba4 <notifications@github.com wrote:

[2018-11-20 06:49] SidharthBansal commented on #3838
Please send a PR for your patches.

On Tue, Nov 20, 2018, 12:18 PM Sidharth Bansal <
bansal.sidharth2996@gmail.com wrote:

[2018-11-20 06:51] SidharthBansal commented on #3276
I have added 10. Mentors are requested to draft the tasks as quickly as
possible.

On Mon, Nov 19, 2018, 8:54 PM Sarthak Aggarwal <notifications@github.com
wrote:

[2018-11-20 08:41] HarshKhandeparkar commented on #3586
I'm actually working on this issue.

[2018-11-20 10:00] okonek commented on #3840
Also just installed it for GCI. Also, the app has a surprisingly good code, so congratulations for your team for keeping the code quality on the high level.

[2018-11-20 10:09] oorjitchowdhary commented on #3540
@publiclab/reviewers I had done this task two days ago.. But now I can't find it on the GCi dashboard now.. So is it not for gci students now?

[2018-11-20 10:15] thesparks commented on #3540
@oorjitchowdhary , looks like this task already solved in #4010 and submitted in gci dashboard

[2018-11-20 10:21] oorjitchowdhary commented on #3540
@thesparks yeah sure but I submitted it before @valentinatironi

[2018-11-20 11:20] shubhscoder opened #4011 "Add "follow us on facebook" and "follow us on twitter" buttons to user dashboard"
### Please describe the problem (or idea)

I think it would be good idea to add "follow us on facebook" and "follow us on twitter" buttons on the dashboard page. So if a person follows public lab on facebook then all his contacts would get to know about public labs and probably that would increase participation for public labs.

## Thank you!

[2018-11-20 11:25] shubhscoder opened #4012 "Make additions / changes to I did this button"
### Please describe the problem (or idea)

In public lab store the products page has the following:
1. The cost of the product.
2. A small description about the product.
3. And links to posts on the website related to the use of that product.

Proposed additions:
1. A reviews section : Where the users who have bought the product could share their reviews with potential customers.
2. A question and

[2018-11-20 11:43] HarshKhandeparkar commented on #3586
I have claimed the GCI task. Just wanted to ask if I should add a copy button to the alert?

[2018-11-20 11:46] oorjitchowdhary commented on #2795
Is this task already done or picked up by someone?
If not, I'd like to solve it

[2018-11-20 12:33] SidharthBansal commented on #3586
Yeah you can add it. Please open a PR we will discuss there

[2018-11-20 12:38] SidharthBansal commented on #3375
Absolutely not. You can push your changes to all the issues which are not worked upon.

[2018-11-20 12:38] SidharthBansal commented on #3375
You can send a PR.

[2018-11-20 12:42] conkytom commented on #3978
Just submitted PR 4013 that I think solves the problem.

I had some questions about other behavior I came across while trying to figure this out, that I have not seen issues for.  If they aren't expected behavior I'd be happy to take a look at them:

1. Inline shortcode for notes includes results in questions as well. Example: if there are notes tagged with "tag_topic" and questions tagged with "t

[2018-11-20 13:17] HarshKhandeparkar commented on #3586
Ok, will do so.

[2018-11-20 15:34] JonathanXu1 commented on #3375
Hi, I've made pull request #4015

[2018-11-20 15:35] gauravano commented on #3540
Hi @oorjitchowdhary, according to GCI rules, you can perform only that tasks which you have claimed from GCI dashboard. That's why you were asked for closing PR #4001. Also, do remember this rule and open PR for only that task which you have claimed from GCI dashboard. Thanks!

[2018-11-20 17:14] jywarren commented on #3978
For 1) i think that must've been a request from community at some point, so we'd best leave it.

for 2, I think that does give us some ability to ensure that questions show up on the appropriate grids, even if they have a lot of extra topic tags. I think we can leave these for now, but maybe your 1) and 2) could go onto this page by way of documentation? https://publiclab.org/wiki/advanced-grids

[2018-11-20 17:16] oorjitchowdhary commented on #3432
@publiclab/reviewers
Move an integration test to integration test folder which is present in Unit test file [PART 4]
This task on GCi too redirects here as part 5... so I want to do part 4 I can still make a pr for this issue right?

[2018-11-20 17:22] jywarren commented on #3758
That's OK @KauNair we would still love help refining the grid to use Bootstrap styles as per https://github.com/publiclab/plots2/pull/3970#issuecomment-439167488 -- thanks!

[2018-11-20 19:06] jywarren commented on #3679
Hi, folks -- as you may know, we've accepted Cess to be our Outreachy intern this session (congratulations, Cess!). I wanted to write to thank everyone for their incredible work over the past several weeks. If we had the capacity, we would have loved to accept more people. Our community is growing and perhaps this will be possible in the future.

I want to wish everyone the best whether you were a

[2018-11-20 19:16] SidharthBansal commented on #4009
Hi everyone,
I observed that we need some resolution techniques to gain speed and quickly start with Outreachy and start preparing results for GCI after reviewing the PRS.
It will be great if you all can provide feedback on this.
Like I have added time for all beginner level GCI tasks as 5 days and other GCI tasks as 7 days. This will give us some time for PR backlog reviews.

[2018-11-20 20:11] jywarren commented on #4012
Hi, this is an interesting idea! We can't actually make many changes to the store because it's not part of our open source project, it's actually run over at https://shopify.com
However, I think you might look at the `I did this` button and how that works on activities:

https://publiclab.org/w/activities
https://publiclab.org/notes/bronwen/05-07-2018/microscope-webcam-conversion

Would you be abl

[2018-11-20 20:12] jywarren commented on #2795
@rohancl yes it is - see the top few lines of `rich.html.erb` -- you can see it included in there.

@oorjitchowdhary -- maybe you could help @rohancl take the next step on this one?

[2018-11-20 20:13] jywarren commented on #4009
Yes, perhaps our GCI tasks pointing at support issues to help review and resolve PRs could be improved, expanded, or made into more GCI tasks in themselves?

https://github.com/publiclab/plots2/labels/support

[2018-11-20 20:51] okonek commented on #4009
Hi there, I am a CGI contributor. I just wanted to say what i think. I took part in this competition a year ago but I couldn't find any organization fitting me. This year I found Public Lab and the tasks and how much the mentors help is great. I am looking forward to choose your organization in the next year and maybe stay with the community even after the contest ends.
Thanks, John.

[2018-11-20 20:56] jywarren commented on #4009
i'm so glad to hear it! We've done GSoC for several years and it's our
first GCI of this size -- so we're looking to get better at managing how
much activity there is! But it's great to hear good feedback, thank you!

On Tue, Nov 20, 2018 at 3:52 PM Jan Okoński <notifications@github.com>
wrote:

[2018-11-20 21:37] jywarren commented on #3961
OK, thanks for looking into this! That's surprising!

[2018-11-20 22:06] #3691 closed

[2018-11-20 22:15] jywarren commented on #3838
Hi, @akoopraba4 - can you title your PR descriptively so it's clear what it changes?

[2018-11-20 22:19] #3509 closed

[2018-11-20 22:53] jywarren commented on #3988
I believe this is a regex issue!

[2018-11-20 22:55] jywarren commented on #3384
This did work! However, I got a cached version of the page that did not look logged in until i refreshed. Browsers may respond differently. Going to suggest one follow-up change!

[2018-11-20 22:57] jywarren commented on #3384
OK, i think every instance of this could be modified:

[code]

To:

[code]

That way it busts the cache. @Radhikadua123 would you have any interest in opening an issue or a PR for this? Thanks everyone!

[2018-11-20 22:58] jywarren commented on #3986
Hi, did the emoji-based flow work out? Thank you!

[2018-11-20 22:58] jywarren commented on #3931
Super. Thanks, Sidharth!

On Fri, Nov 16, 2018 at 12:33 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-11-20 23:01] #3982 closed

[2018-11-20 23:05] #3729 closed

[2018-11-20 23:18] jywarren commented on #3966
yes, we'd love help with this!

On Thu, Nov 15, 2018 at 6:03 AM Sparks <notifications@github.com> wrote:

[2018-11-21 01:20] akoopraba4 commented on #3838
Yes,I will do the necessary changes.

[2018-11-21 03:32] atulbi commented on #3840
@jywarren - I've copied `database.yml` from `database.yml.sqlite.example` as per given instructions.

[2018-11-21 05:10] rohancl commented on #3490
Actually, I've encountered my exams, they're like a bunch of storms coming to my face. I am really sorry, I cannot proceed any further contributing in this organisation. @JonathanXu1 feel free to continue with this task. I am really sorry @milaaraujo

[2018-11-21 05:56] kikogarcia123 opened #4018 "error"
### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resol

[2018-11-21 06:07] geekychaser commented on #4018
@kikogarcia123 please describe your problem

[2018-11-21 10:13] oorjitchowdhary commented on #3432
@namangupta01 @gauravano @sidharthbansal

[2018-11-21 14:00] imsankalp commented on #3976
If this issue is not taken by anyone, I would like to solve it.

[2018-11-21 14:30] SidharthBansal commented on #3924
Do we have a relevant tag function? I can't find it.

[2018-11-21 14:32] JonathanXu1 commented on #3490
Best of luck on your exams @rohancl . Here's my pull request: https://github.com/publiclab/plots2/pull/4019

[2018-11-21 16:44] shubhscoder commented on #4011
So the image would look something like shown below. Ignore the sizes as of now, that would be fixed. So the icons would come in right partial of the dashboard page, just below the tags
![image 1](https://user-images.githubusercontent.com/18489285/48855765-c2b38b00-edda-11e8-91d6-6f0e91c49bef.png)

[2018-11-21 17:13] SidharthBansal commented on #3976
Are you @ibrahimelbanna working on this? if not please tell. If yes please open up a pull request.

[2018-11-21 17:18] abizerlokhandwala commented on #3840
Hey @jywarren
I'm facing the same problem as @sikfeng , Ubuntu 16.04 with ruby 2.4.4
The failing tests are:
1) SearchControllerTest: https://github.com/sikfeng/plots2/blob/master/test/reports/TEST-SearchControllerTest.xml
2) SearchServiceTest: https://github.com/sikfeng/plots2/blob/master/test/reports/TEST-SearchServiceTest.xml

Thanks! :D

[2018-11-21 17:22] shubhscoder commented on #4012
Yeah. So now we redirect it to a new page, to fill the form, that is I think kind off inefficient. How about using a bootstrap modal? We would have the required form in that modal no there is no need of redirection to a new page. We could use the same existing design and just adjust it properly in the modal? I am attaching a small image of how the modal would look like.
![modal_demo](https://user-

[2018-11-21 17:37] shubhscoder commented on #4012
Also on this page:
https://publiclab.org/notes/warren/10-24-2018/add-a-high-quality-webcam-to-your-community-microscope-kit
There are two buttons "I made this" and "I did this" , both of them open up the same form I guess. So why do we have two buttons?

[2018-11-21 17:39] abizerlokhandwala commented on #3360
Hey @aSquare14
When the user is logged in, it automatically redirects to /dashboard, but you can reproduce the same pagination problem if you go to the /home URL. The pagination issue persists when logged in. Can we just remove the pagination from the homepage if this is the case, regardless of the user being logged in or not?

[2018-11-21 17:58] aSquare14 commented on #3360
That sounds good to me ! @SidharthBansal  views?

[2018-11-21 18:04] abizerlokhandwala commented on #3360
It would be safe to remove it from the blog function in home_controller.rb, also it's only used with the /home URL. Can I take it up?

[2018-11-21 23:50] JonathanXu1 commented on #3840
Thanks, I got plots2 working on cloud9. Is it still possible to claim this task on GCI?

[2018-11-22 00:46] #3978 closed

[2018-11-22 00:56] jywarren commented on #3840
@JonathanXu1 -- yes, i believe so! :-)

@atulbi - that's so weird, is there any reason you can think of that `mongodb` would be called here? We don't use it anywhere in `plots2`, actually! Were you previously working on a `mongodb` project or something?

@sikfeng @abizerlokhandwala -- ok, here are the errors:

[code]

Have you made any changes to the codebase? Can you just confirm what database an

[2018-11-22 01:13] abizerlokhandwala commented on #3840
@jywarren I'm using sqlite3, and database.yml.sqlite.example, as mentioned in the installation notes

[2018-11-22 02:40] conkytom commented on #3988
Hey @jywarren, I'd like to try fixing this.  I don't have much experience with Regex but the issue might pretty simple.  While testing it out I found that if the first character in the title is a letter the rest of it can be pretty much anything.  Just have to dig up where the regex or filter is and take a look.
![screen shot 2018-11-21 at 9 39 28 pm](https://user-images.githubusercontent.com/2620

[2018-11-22 04:00] abizerlokhandwala commented on #3957
I'd like to fix this

[2018-11-22 04:41] jywarren commented on #3988
Oh that's awesome. It should be in app/models/node.rb in the verify_
methods... I can probably dig deeper if it helps!

On Wed, Nov 21, 2018, 9:41 PM Thomas Conkwright <notifications@github.com
wrote:

[2018-11-22 04:41] jywarren commented on #3957
Please do! Thanks!!

On Wed, Nov 21, 2018, 11:01 PM Abizer Lokhandwala <notifications@github.com
wrote:

[2018-11-22 11:36] oorjitchowdhary commented on #3490
This task is completed right?
I can still see it on the gci platform..

[2018-11-22 11:48] oorjitchowdhary commented on #3432
pls help

[2018-11-22 11:49] tsparksh opened #4026 ""Wiki" filter is displayed only in mobile view at /research"
### Please describe the problem (or idea)

"Wiki" filter is displayed only in mobile view

![deepin-screen-recorder_select area_20181122184239](https://user-images.githubusercontent.com/17945250/48901062-cf8db880-ee86-11e8-8ebe-bca01a6fb11c.gif)

### Proposed additions

Add filter in non-mobile mode too

### Please show us where to look

https://publiclab.org/research

### What's your PublicLab.or

[2018-11-22 12:38] oorjitchowdhary commented on #3432
@gauravano yes sure, okay thanks

[2018-11-22 13:22] JonathanXu1 commented on #3490
I'm waiting for my submission to be accepted. Thanks!

[2018-11-22 18:03] oorjitchowdhary commented on #3439
@publiclab/reviewers This task is done or not? Coz I can still find it in the task listings in GCI

[2018-11-22 18:05] gauravano commented on #3439
Do you see it open?

[2018-11-22 18:05] oorjitchowdhary commented on #3439
Yes

[2018-11-22 18:07] HarshKhandeparkar commented on #3439
If this can be fixed using JavaScript, I guess we can add onchange event listeners to each field and then do the logic based on that.

[2018-11-22 18:17] gauravano commented on #3439
The task on GCI dashboard is duplicate. This issue is currently worked on by @kevinzluo. It would be closed soon. Thanks for notifying,

[2018-11-22 18:18] oorjitchowdhary commented on #3439
Okay great. Happy to help. 😄

[2018-11-22 20:33] milaaraujo commented on #3490
Reopening this because we still need to  add a link add to give more info on boolean searches and help users to understand how to use the boolean search. This link is a good one to use: https://dev.mysql.com/doc/refman/5.5/en/fulltext-boolean.html

[2018-11-22 20:37] JonathanXu1 commented on #3490
I added the link as a comment in line 40, is that sufficient?

[2018-11-22 20:43] milaaraujo commented on #3490
@JonathanXu1, no... We need to add the link for the publiclab users on the website! ;)

[2018-11-22 21:51] CoderJolly commented on #4009
Can only mentors offer help ?

[2018-11-22 22:51] nonas-hunter commented on #3426
Hi, I am a GCI Participant and I want to add this feature. I have written some code but have no idea how to test it. Could anyone help?

[2018-11-23 08:40] oorjitchowdhary commented on #3755
@jywarren Can I take this up? Or is @codeIriss still doing it?
Also, I can't find this issue on the GCI platform

[2018-11-23 08:46] codeIriss commented on #3755
Sorry for being late with the issue solving , actually I was busy with my
exams and I will try to solve the issue as soon as possible.

On Fri 23 Nov, 2018, 2:10 PM Oorjit Chowdhary <notifications@github.com
wrote:

[2018-11-23 08:48] oorjitchowdhary commented on #3755
@jywarren is this a GCI issue then?

[2018-11-23 11:00] CodeSarthak commented on #3439
Hey @jywarren @SidharthBansal It is still present on GCI, it would be good if it is removed to avoid confusion. Thanks 👍

[2018-11-23 18:36] aashna27 commented on #3276
@SidharthBansal  please publish this https://codein.withgoogle.com/dashboard/tasks/6044626013126656/

[2018-11-23 19:51] milaaraujo commented on #3490
Sure!
- https://github.com/publiclab/plots2/blob/master/app/views/search/notes.html.erb
- https://github.com/publiclab/plots2/blob/master/app/views/search/wikis.html.erb

[2018-11-23 19:51] conkytom commented on #3988
Added a pull request that removes a regex filter that limits titles.  Not sure if there's a good alternative that would allow the app to format non-latin characters and ignore trying to format non-latin characters, so I just removed that line for now.

[2018-11-23 20:35] gauravano commented on #3339
Hey, @okonek have you claimed this issue on GCI dashboard?

[2018-11-23 20:56] gauravano commented on #3339
As I can see from the GCI dashboard, that you have not claimed this task. **According to Google Code-In rules, a participant can work only at that task which is claimed by them. So, I will ask you to close your PR ASAP and please remember this for future. Thanks!**

[2018-11-23 22:34] kevinzluo opened #4034 "Questions page Comment and Answer numbers not changing correctly"
### Please describe the problem (or idea)

What did you expect to see that you didn't?

Deleting a comment to an answer decreases the answer count:
![errordeletingcommenttoanswer](https://user-images.githubusercontent.com/44309027/48961749-cb23d700-ef3c-11e8-8f16-8cb9228dbf4c.gif)

---

Posting a new comment increases answer count.
![errorinpostingcomments](https://user-images.githubusercontent.co

[2018-11-23 23:51] ValentinaTironi commented on #3758
@jywarren @SidharthBansal Hi! I have a question. Where I can see the notes and wikis grids? I looked of them but I couldn't find them. Can you give the route where the notes and wikis are displayed in grids? Thank you!

[2018-11-23 23:54] ValentinaTironi commented on #3758
Another question: Where I have to show the grids with notes and wikis? And how many I should show? All of them? Sorry, I'm trying to understand the task to resolve it

[2018-11-23 23:59] ValentinaTironi commented on #3758
In https://publiclab.org/wiki I see that:
<img width="1280" alt="screen shot 2018-11-23 at 8 57 05 pm" src="https://user-images.githubusercontent.com/20969831/48962706-64b1af80-ef62-11e8-9334-9d3d14b8d847.png">

It's a grid. Everything is right here. But in https://publiclab.org/notes
<img width="1280" alt="screen shot 2018-11-23 at 8 58 17 pm" src="https://user-images.githubusercontent.com/209698

[2018-11-24 06:55] CodeSarthak commented on #4009
Waiting for more tasks to be added on GCI. @publiclab/guides @jywarren

[2018-11-24 06:57] CodeSarthak commented on #4026
@thesparks That's a good catch! 👍 We need to look into this.

[2018-11-24 07:03] CodeSarthak commented on #3437
Hi, this task is redundant on GCI as this is dependent on #3426 . Either #3426 should also be added on GCI or this should be removed from GCI. @publiclab/reviewers @jywarren @SidharthBansal

[2018-11-24 11:17] sagarpreet-chadha opened #4035 "Reworking UI sequence of posting notes and questions from a page that has been geo-tagged"
@jywarren @ebarry  .

What do you have in mind to solve this issue ? Thanks !

🤔 🗺 ❓

[2018-11-24 11:30] sagarpreet-chadha opened #4036 "Use of '*' in API queries to get all results ."
We have this API implemented here :

https://github.com/publiclab/plots2/blob/ba053502ded9ec0163af90d3d7a4cb3eb2a4b74e/app/api/srch/search.rb#L224

We need to fetch all the results (they can be thousands in number!)  if the query parameter used is 'question:*' .

For example :
`/api/srch/taglocations?tagName=question:*`

### Happy to help ! Thank you !

[2018-11-24 11:39] sagarpreet-chadha opened #4037 "Changing nearby nodes logic in API's ."
We have this API for fetching nodes having specific tag :

https://github.com/publiclab/plots2/blob/ba053502ded9ec0163af90d3d7a4cb3eb2a4b74e/app/api/srch/search.rb#L224

This API takes latitude and longitude in the form :
`query=lat,lon`
AND them using these coordinates calculates NEAR-BY NODES using this logic :

https://github.com/publiclab/plots2/blob/ba053502ded9ec0163af90d3d7a4cb3eb2a4b74e/ap

[2018-11-24 11:44] oorjitchowdhary commented on #4036
@sagarpreet-chadha Could you please explain me this issue..

[2018-11-24 15:35] oorjitchowdhary commented on #3437
Right, @CodeSarthak .. I think we should add #3426 to the GCI platform.. as we're already very low on non-beginner tasks

[2018-11-24 16:08] conkytom commented on #4011
I'd like to create a working example of this.

[2018-11-24 17:46] JonathanXu1 commented on #2795
I saw this task was free and claimed it. Can I work on it?

[2018-11-24 18:51] oorjitchowdhary commented on #3836
I can't find this task on the gci dashboard.. is it already solved?

[2018-11-24 19:41] okonek commented on #2258
Hi, I am a GCI participant and have studied this task for very long. I have to filter the notes in the home controller, but I don't know by which index should I filter which type of note. How can I filter Questions, Events and Comments in the controller during the database query? What are the db indexes for every one of the type? Thanks.

[2018-11-24 23:53] conkytom commented on #4011
Added buttons to the sidebar, these buttons should show up under the topics in the side like in the sample image.  Don't know if there's a more ideal placement for them. I was thinking maybe in the footer, but that might make them less visible.

[2018-11-25 06:53] Souravirus commented on #2795
Yeah sure @JonathanXu1

[2018-11-25 10:33] Eshaabhasin opened #4039 "we can add images,gifs in the code"
### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resol

[2018-11-25 11:36] CodeSarthak commented on #3490
Hi @milaaraujo Where is boolean search being implemented on the webpage, in the front end?

[2018-11-25 13:34] sagarpreet-chadha commented on #4036
Hi sure 😄 !
We basically want to get all the question-posts on publiclab.org which have latitude and longitude tags to be returned from the above API .
Makes sense ? Thanks !

[2018-11-25 15:13] oorjitchowdhary commented on #4036
Apologies if I'm wrong but is it similar to this issue.. https://github.com/publiclab/leaflet-environmental-layers/issues/30

[2018-11-25 16:32] conkytom commented on #4034
I'd like to take a look at this.

[2018-11-25 19:05] JonathanXu1 commented on #3490
I'd like to continue working on it but the task was not available when I tried to claim it.

[2018-11-25 19:34] kevinzluo commented on #4034
Hi @conkytom
I actually started working on this already. Maybe we can assist each other 😄.

[2018-11-25 19:44] okonek commented on #2258
Hi, I have resolved the issue in this PR: https://github.com/publiclab/plots2/pull/4042 Could you review please?

[2018-11-25 20:03] oorjitchowdhary commented on #3836
@SidharthBansal @jywarren

[2018-11-25 20:08] milaaraujo commented on #3490
Hey @CodeSarthak, @JonathanXu1 is already working on it. But we have a lot of available tasks!

@JonathanXu1, I will review it tomorrow. Thanks!

[2018-11-25 20:58] oorjitchowdhary commented on #3733
Is this issue already solved?

[2018-11-25 23:31] ValentinaTironi commented on #3758
@jywarren @gauravano Hi again! Sorry for be inpatient but I can't work on this task without you help! I really sorry but would be great if you can clear my doubts. Thank you so much!

[2018-11-26 01:37] conkytom commented on #4034
Hey @kevinzluo, I haven't pinned down the source of the problem.  I only just started comparing the code from comments in Notes to comments in questions.  I was going to look at it more closely and try different approaches tomorrow.  If you've got any insights or want another set of eyes on it let me know.

[2018-11-26 02:15] JonathanXu1 commented on #3375
@avsingh999 @SidharthBansal Is it satisfactory? For some reason I'm unable to locate the task in gci anymore.

[2018-11-26 02:55] kevinzluo commented on #3758
Hi @ValentinaTironi
I believe @jywarren is referring to the feature used in writing wikipages, such as [this one]( https://publiclab.org/wiki/air-sensors), where inserting `[notes:____]` expands into a table when published, as so:

![inlinegrids](https://user-images.githubusercontent.com/44309027/48990493-509db780-f0f4-11e8-9d50-908a9fb93a02.gif)

I believe the task is to create a similar feature

[2018-11-26 03:04] kevinzluo commented on #3375
I believe the issue was first resolved in #4006. The task was likely completed too.

[2018-11-26 03:09] kevinzluo commented on #4034
I think we should try moving everything to use notes/comments. It seems like questions/comments has become deprecated and lacks the "Promote comment to answer" button after https://github.com/publiclab/plots2/pull/3195. I'll let you know if I can find anything else.
Thanks!

[2018-11-26 04:13] kevinzluo commented on #2795
Hello. I am very confused currently.
**I saw this task open this morning and claimed it.**
Is there anyone else with this task claimed currently on GCI? Is it possible that it has been duplicated?

On a side note, I believe the issue is a result of the inclusion of typeahead.jquery.js, which is changing the properties of the search field, here:
https://github.com/publiclab/plots2/blob/ba053502ded9

[2018-11-26 05:11] oorjitchowdhary commented on #3757
@mardelvalle are you working on this issue? I was thinking of picking it up as a GCI task. If you are not; then please let me know soon!

[2018-11-26 05:18] Souravirus commented on #2795
Hi @kevinzluo, this issue is currently available as it is abandoned by 2 students. So, you can surely submit a PR to address this issue. Thank you!!

[2018-11-26 07:07] oorjitchowdhary commented on #3375
Also @jonathanxu1 **keep in mind that you can claim and work on only one task at a time according to GCI rules**.

[2018-11-26 08:21] oorjitchowdhary commented on #3436
I have completed #3426 and want to add unit tests for it.. Are there any instructions for running unit tests?

[2018-11-26 09:46] CodeSarthak commented on #3490
Ok @milaaraujo, but I think we are not so high on tasks right now. We have about 6-7 open tasks on GCI right now.

[2018-11-26 11:01] oorjitchowdhary commented on #3437
@namangupta01 @jywarren @publiclab/reviewers I have solved #3426 in #4045 ... Now I'm looking forward to adding the unit tests first #3436 and then add integration tests #3437 ..So how will get the credits on the gci dash.. as there is only one task on GCI which is #3437

[2018-11-26 11:41] mardelvalle commented on #3757
@oorjitchowdary thanks for asking! I have some code that I think may work but with the dev environment as is I haven't been able to test if it actually works so I have been hesitant about pushing the changes. Maybe if I  push it you could take a look to see if things check out?

[2018-11-26 11:54] oorjitchowdhary commented on #3757
@mardelvalle yeah sure.. I will checkout the code and troubleshoot it for you..

[2018-11-26 12:46] gauravano opened #4047 "Update the first_time_commenter function"
In `app/models/user.rb` , a function by name **first_time_commenter** is present, which is added as a part of #3331.

Update the function such that, if a user has created any node or comment in past whose status = 1,  then the user shouldn't be considered as first_time_commenter and false would be returned by function.

Make changes in function accordingly.

**This issue is for Google Code-In only

[2018-11-26 13:02] gauravano opened #4048 "Create a moderated view for the comment"
**This issue is a part of Planning issue #3331**

Currently, we only moderate nodes before publishing, now we are planning for the comment moderation system.

Show the comment on dashboard to moderators and admins in moderated view if the comment has status = 4. The design of the moderated comment can resemble that of moderated node.

The views which would require changes like in `app/views/dashbo

[2018-11-26 13:44] JonathanXu1 commented on #3375
Hi, sorry about that. I abandoned my previous task and claimed this one so I could work on it. Also I believe #4006 does not include links to boolean searches, which was why this task was reopened again

[2018-11-26 14:57] ValentinaTironi commented on #3758
@kevinzluo Hello! Thank you so mucho for help me! I'm gonna try this issue.

[2018-11-26 15:36] kevinzluo commented on #3375
I thought #3490 had to deal with adding links to boolean searches, not this one? I might be wrong.

[2018-11-26 15:53] gauravano opened #4050 "Create a comment_moderation mailer - Email to moderators part"
**This issue is a part of project #3331**

Create a new mailer as following:
1. First, the mailer would send the email to moderators requesting their review for moderation of comment.
2. Create a view of email by creating a new file in admin_mailer
3. Write functional tests to check whether flow is working as planned or not.

Name the method as **notify_comment_moderators** and also use same name

[2018-11-26 15:58] gauravano opened #4051 "Create a comment_moderation mailer - Email to moderators approval part"
**This issue is a part of project #3331**

Create a new mailer as following:
1. First, the mailer would send the email to moderators notifying that comment has been approved.
2. Create a view of email by creating a new file in admin_mailer
3. Write functional tests to check whether flow is working as planned or not.

Name the method as **notify_moderators_of_comment_approval** and also use same na

[2018-11-26 16:03] gauravano opened #4052 "Create a comment_moderation mailer - Email to moderators regarding spam part"
**This issue is a part of project #3331**

Create a new mailer as following:
1. First, the mailer would send the email to moderators notifying that comment has been marked as spam.
2. Create a view of email by creating a new file in admin_mailer
3. Write functional tests to check whether flow is working as planned or not.

Name the method as **notify_moderators_of_comment_spam** and also use same

[2018-11-26 16:14] gauravano opened #4053 "Create a comment_moderation mailer - Email to comment author part"
**This issue is a part of project #3331**

Create a new mailer as following:
1. First, the mailer would send the email to comment author notifying that comment has been approved.
2. Create a view of email by creating a new file in admin_mailer
3. Write functional tests to check whether flow is working as planned or not.

Name the method as **notify_author_of_comment_approval** and also use the sam

[2018-11-26 16:40] gauravano commented on #3758
Hi @ValentinaTironi sorry I am a little busy with exams :sweat_smile: , but try to answer more quickly from next time. Thanks @kevinzluo for explaining :100: .

Do you have any more doubts?

[2018-11-26 18:57] gauravano commented on #3836
Hey @jywarren @handlerug while reviewing PR created by @handlerug , i was trying to replicate the error and found that this error is not due to unique id problem or so, but somewhat related to comment template. Like, when I created a test question on the website and added tag as `comment-template:ui-feedback-template`. All text areas got this template.

Information about comment templates - https:

[2018-11-26 18:58] jywarren commented on #3758
Yes, thank you for stepping in @kevinzluo -- we have a holiday which was
last week and I am just catching up now. I think a combined table is
perfect, but just keep in mind how we will be able to tell notes and wikis
apart in the table. Thanks!

On Mon, Nov 26, 2018 at 11:40 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-11-26 19:02] #3758 closed

[2018-11-26 19:14] #3449 closed

[2018-11-26 20:32] JonathanXu1 commented on #3490
Yeah if we could work on more tasks that would be great!

[2018-11-26 21:00] milaaraujo commented on #3490
We are working on open new tasks/issues! :)

[2018-11-26 21:10] #3490 closed

[2018-11-26 21:13] #2795 closed

[2018-11-26 21:14] #3586 closed

[2018-11-26 21:15] #3540 closed

[2018-11-26 21:16] jywarren commented on #3490
Hi, Jonathan - a bunch recently opened on Image Sequencer -- not sure if
they have corresponding tasks in GCI yet, but we're def interested in help
over there too! Thanks!!

On Mon, Nov 26, 2018 at 4:01 PM Camila Araújo <notifications@github.com>
wrote:

[2018-11-26 21:41] #4011 closed

[2018-11-26 21:42] jywarren commented on #4034
I think Kevin is right, here! Perhaps it could be removed if deprecated :-)

On Sun, Nov 25, 2018 at 10:09 PM kevinzluo <notifications@github.com> wrote:

[2018-11-26 21:48] JonathanXu1 commented on #3490
@jywarren I'd be glad to help! Perhaps we can open gci issues as we work on them haha

[2018-11-26 22:06] #3957 closed

[2018-11-26 22:07] jywarren commented on #4009
Just wanted to note @aashna27 and @oorjitchowdhary for their great mentoring, along with lots of others who are pitching in to help others get their tasks done!

[2018-11-26 22:17] #3339 closed

[2018-11-26 22:19] #3431 closed

[2018-11-26 22:32] jywarren commented on #3755
Perhaps we give @codeIriss <https://github.com/codeIriss> a little more
time? Thank you!!!

On Fri, Nov 23, 2018 at 3:48 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-26 22:35] jywarren commented on #4012
ah, that is odd, but I think it may be because it's labeled as both a
"build" and an "activity".

I think a modal /could/ work, but it's still going to be hard to implement
it within the store code.

Can we change this issue to be about making it easier to post an "i did
this" by allowing people to fill out a specially formatted comment form
when they click "I did this"?

On Wed, Nov 21, 2018 at 1

[2018-11-26 22:45] #3507 closed

[2018-11-26 22:51] jywarren commented on #4009
Hi, just a couple updates - the task i created for breaking out new tasks got solved very quickly, generating a range of new tasks at Image Sequencer: https://codein.withgoogle.com/dashboard/task-instances/5686896156999680/, https://github.com/publiclab/image-sequencer/issues

based out of https://github.com/publiclab/image-sequencer/issues/487

that worked super well for generating new issues! Le

[2018-11-26 22:55] JonathanXu1 commented on #3458
Hello,
I've requested a review and made inline comments for this pull request: https://github.com/publiclab/plots2/pull/3557 . I believe the change would be all that would be needed to further debug the issue. I've submitted this task on GCI. Please let me know if there's anything else I should do.

[2018-11-26 22:57] jywarren commented on #4035
Thinking about how, when you're on a page that has been geo-tagged, doing
some sketches of how posting from that page could look:

1. where are the buttons and what are they labeled?
2. does it go to /post or /questions/new, and does it "retain" the lat/lon
tags?
3. does it show an inset map in the editor, and ask if you want to remove
the location, change it?

things like this, or that we haven't

[2018-11-26 22:57] jywarren commented on #4037
Hi, @sagarpreet-chadha would you like to make a task for this or shall I?

[2018-11-26 22:58] jywarren commented on #4012
Hm, that is an interesting idea! Perhaps open an issue to brainstorm?

On Wed, Nov 21, 2018 at 1:26 PM Shubham Sangamnerkar <
notifications@github.com> wrote:

[2018-11-26 23:00] jywarren commented on #3924
we have tag.related and a Tag.trending functions, but not tag.relevant... what would that do? Thanks!

[2018-11-26 23:01] jywarren commented on #3924
How about when you like something, it pops up something saying "Liked! Follow more content like this by clicking one of these topics: ...."

[2018-11-26 23:02] jywarren commented on #4012
Also, we are looking to improve new member outreach in this issue as well,
so please chime in with ideas!
https://github.com/publiclab/plots2/issues/3924

On Mon, Nov 26, 2018 at 5:58 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-11-26 23:02] jywarren commented on #3458
i'll review it now! Thanks!!!

On Mon, Nov 26, 2018 at 5:55 PM Jonathan Xu <notifications@github.com>
wrote:

[2018-11-26 23:37] jywarren commented on #3889
Hi, @Radhikadua123 -- i sent you an email, just checking if you received it? From jeff@publiclab.org. Thanks!

[2018-11-27 01:51] handlerug commented on #3836
It's problem with response from the server. When user submits comment, server returns filled answer template with new comment form prefilled with answer text. So I added special flag to disable auto-filling and now it's working fine.

I will do some extra checks today and will try to solve it, thanks! :+1:

[2018-11-27 02:42] jywarren commented on #3836
Awesome!!!

On Mon, Nov 26, 2018, 8:51 PM handlerug <notifications@github.com wrote:

[2018-11-27 03:27] conkytom opened #4058 "Questions Page asks user to login when already logged in"
When a user goes to the the "Ask a question" page they are prompted to log in or register before asking a question.  This message appears even if they the user is already logged in.

Even if the user in logged in and writes something in the "type your question" form, the continue button is never able to to clocked on.  The only way around this is if the user enters something in the form presses ta

[2018-11-27 09:09] cesswairimu opened #4062 "Refining all content search results page UI"
Explore ways to best display all the node types search results on the UI.

We just merged a new feature to display all the node types(all content) when searching. Issue #3507  and pr #3711. However the UI does not look appealing.
We are looking for ideas to refine it.
Here is a screenshot to the current UI.
![all](https://user-images.githubusercontent.com/17081074/49070454-bdbc6480-f23c-11e8-9830-

[2018-11-27 09:13] SidharthBansal commented on #3924
We can do this:
Case A1. User likes the page
A2. We will show buttons under each tag "Liked! Follow more content like this by clicking one of these topics: ....".
Case B. A user has not liked the page. Then no need to show subscribe buttons under each tag.

[2018-11-27 09:51] oorjitchowdhary commented on #4058
![screenshot 38](https://user-images.githubusercontent.com/39333058/49073269-0cc3c300-f258-11e8-94b3-982e0d25da53.png)
I find it working properly

[2018-11-27 10:45] Akankshabhasin commented on #3976
Are there more issues to solve for complete beginners?

[2018-11-27 11:08] handlerug commented on #3836
It's problem inside new comment view, so I fixed it already. Can you check it again @jywarren @gauravano?

[2018-11-27 12:46] conkytom commented on #4058
Created a pull request for this.

[2018-11-27 12:47] oorjitchowdhary commented on #4058
You're right.. I tried it out there.. It asks to log in again.. Nice catch..

[2018-11-27 17:40] sagarpreet-chadha commented on #4037
Added to GCI task 😄 👍 !

[2018-11-27 21:08] okonek commented on #2258
Anyone @publiclab/mentors

[2018-11-27 21:09] okonek commented on #2258
@publiclab/mentors

[2018-11-27 22:56] #67 closed

[2018-11-28 01:57] #3566 closed

[2018-11-28 02:33] jywarren commented on #3961
I guess the issue being the production settings only meant that this error got past our test suite which is pretty thorough!!! https://github.com/publiclab/plots2/blob/master/test/integration/I18n_test.rb

[2018-11-28 14:52] #3375 closed

[2018-11-28 16:03] JonathanXu1 commented on #3375
Just completed this issue. Could I get a link to the task? Thanks 🙂

[2018-11-28 16:56] jywarren opened #4066 "Add a blank map and prompt people to add location to un-geotagged note pages"
Many notes are not geotagged, and would be helpful to see as part of regional work (say, people studying air quality in Wisconsin). We should do more to prompt people to add a location - we could start by displaying a map on pages that lack a location, which could look like this:

![image](https://user-images.githubusercontent.com/24359/49167680-dc396300-f303-11e8-8089-c914acbea1bc.png)

But perha

[2018-11-28 17:00] jywarren commented on #4066
@milaaraujo @sagarpreet-chadha i added you two as mentors  but no obligation, just so you can see it as tangentially related to our geographic API and UI work!

[2018-11-28 18:46] oorjitchowdhary commented on #4048
Hi @gauravano .. Could you pls explain more about this issue...

What is meant by comment status = 4?

[2018-11-28 18:47] oorjitchowdhary commented on #3733
@SidharthBansal @rohan2599

[2018-11-28 18:51] oorjitchowdhary commented on #3756
I can't find it on GCi.. Is it already solved?
Sorry, it is getting harder to find open gci issues..

[2018-11-28 19:52] gauravano commented on #4048
If in an array of comments, a comment has a status = 4 then that comment is
under moderation. So, that comment would be shown with the different view
from normal comment just like moderated node.

On Thu, Nov 29, 2018 at 12:16 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-28 20:14] jywarren commented on #4066
Sorry! I meant:

[2018-11-28 22:41] ValentinaTironi commented on #3384
@jywarren So, the only thing that I have to do is open a pull request doing that you said in the last comment or I can do something more?

[2018-11-28 22:44] jywarren commented on #3384
Yes, i think that's it! Thank you!

[2018-11-28 22:48] ValentinaTironi commented on #3384
Great! I already did it. Let me test if everything is ok and after I'll do the pr for you!

[2018-11-28 22:53] ValentinaTironi commented on #3384
Well, I can't test it locally but I think everything is okay

[2018-11-29 03:16] dinaelhanan commented on #2866
@SidharthBansal Hi! I'm looking into this as I am doing gci. For that task, do we design a similar login screen or actually create on? Thanks!

[2018-11-29 03:35] ValentinaTironi commented on #4050
Hi @gauravano! I have a question. I've looked the code and I can't find where call the function to requesting review for nodes. I saw the method that you referred in the issue

<img width="623" alt="screen shot 2018-11-29 at 12 28 43 am" src="https://user-images.githubusercontent.com/20969831/49197464-c1033d80-f36d-11e8-9117-417c093afb65.png">

After that, I searched where the app 's using it
<img

[2018-11-29 03:43] ValentinaTironi commented on #4050
I thought that the mail was sent when the node is created but I couldn't find where is the code, maybe I'm wrong and the implementation is so different

[2018-11-29 04:11] SidharthBansal commented on #3384
You can push it to unstable to check it.

On Thu, Nov 29, 2018, 4:23 AM Valentina Tironi <notifications@github.com
wrote:

[2018-11-29 04:11] SidharthBansal commented on #2866
We need to do both.

On Thu, Nov 29, 2018, 8:46 AM d1g1t4ld1n4 <notifications@github.com wrote:

[2018-11-29 11:47] gauravano commented on #4050
Hi @ValentinaTironi, we currently have moderation system only for nodes.

How it works?
If a new user try to post a note to PL website, we check in our db whether user is have contributed before or not. For new user, after their note is submitted, we change it's status depending upon the new or old user. At that time, a mail is send to all moderators to review the note.

After the moderator, revie

[2018-11-29 14:07] dinaelhanan commented on #2866
Oh ok, thanks for clarifying

[2018-11-29 15:06] ValentinaTironi commented on #4050
Hello @gauravano, thank you so much to answer my questions. I understand how it works. I'v seen the create method in `notes_controller`, and it's great! but I can't find where you say 'Okay, we send the mail to all moderators' in the code. If you could tell me what I'm doing wrong would be amazing!
Thank you for your time 💯

[2018-11-29 15:48] jywarren opened #4070 "Number of search results on each type doesn't match full per-type pages"
The new combined search by @cesswairimu with support from @milaaraujo is super rad:

https://publiclab.org/search/balloon

However, I'm not sure why the results per section are not as numerous as they are on the separate search pages:

https://publiclab.org/search/notes/balloon

Do we need to tweak the default query going into the different sections of the table on the combined search to better ma

[2018-11-29 18:49] jywarren commented on #2254
Hi @sagarpreet-chadha -- just wanted to know if this is completed now... as it's old. WE may have moved way past it!

[2018-11-29 18:52] neel1998 commented on #4066
I am new to this Project but I would like to contribute. Can someone give the initial steps? I have already solved a first-timer issue

[2018-11-29 18:53] jywarren opened #4072 "Begin converting Map nodes into normal note nodes"
We have a range of nodes at https://publiclab.org/maps which are of type `map`, so `node.type == 'map'`. See one here: https://publiclab.org/map/chandeleur-islands-louisiana/2010-06-09

Let's migrate them to a simpler form of node, type `note` - but copy all the extra fields into the note body (actually part of the note's Revision record). We could do this in a migration kind of like this:

[code]

[2018-11-29 18:53] jywarren commented on #956
Broke out the Map related work into https://github.com/publiclab/plots2/issues/4072 !!

[2018-11-29 19:13] #3979 closed

[2018-11-29 19:28] jywarren opened #4074 "Refactor legacy gallery code into node revision body"
We have a very old leftover feature which shows a collection of images in a "gallery" at the top of a note:

https://github.com/publiclab/plots2/blob/5c0d96274bd0be15feba69d8f30093082402ace5/app/views/notes/show.html.erb#L68

Full code for the display is here; https://github.com/publiclab/plots2/blob/5c0d96274bd0be15feba69d8f30093082402ace5/app/views/notes/_gallery.html.erb

It's so simple, we cou

[2018-11-29 19:53] jywarren commented on #4066
Hi @neel1998 -- I believe @ValentinaTironi may be working on this. But perhaps you two would be interested in collaborating on this? If you're both in GCI, I'd be happy to give task credit for both of you if you'd like.

[2018-11-29 19:56] jywarren commented on #4050
Hi! I believe that is actually done in the node.rb model, on these lines:

https://github.com/publiclab/plots2/blob/ccfd39c5c833d1337ba5fb484a4e459a989aeaf6/app/models/node.rb#L208-L214

Awesome to see progress on this! :-)

On Thu, Nov 29, 2018 at 10:07 AM Valentina Tironi <notifications@github.com>
wrote:

[2018-11-29 20:05] jywarren commented on #2866
We can start with sharing designs - esp. for the login dropdown on any https://publiclab.org page, and/or specifically in a modal for when you want to log in from a prompt lower down on a page. Say, if you are not logged in but want to log in from a `Log in` button at the bottom of the comments on a page like this:

https://publiclab.org/notes/warren/10-23-2018/call-for-outreachy-2018-19-proposals

[2018-11-29 20:53] sagarpreet-chadha opened #4075 "Add new layers from LEL ."
This issue will be resolved as soon as we fix this : https://github.com/publiclab/leaflet-environmental-layers/issues/90#issuecomment-442978774 .

We have to add these layers :
1.) Fractracker mobile
2.) Wisconsin Non-Metallic layer

The documentation on how to add is given here :
https://github.com/publiclab/leaflet-environmental-layers

[2018-11-29 22:19] adamark commented on #4070
Hello! I believe I found the issue but I've got fresh eyes on this codebase so maybe not! Here goes..

I think you're right about needing to adjust queries or the params going into them. It looks like the controller methods behind the 2 urls you mention above are handling default values for the "order" and "type" params differently, resulting in different db queries being run against the `Node` ta

[2018-11-29 22:34] jywarren commented on #4070
Wow, this is a deep dive and a great investigation of the causes here. Thank you so much!

We want to preserve the results shown at the per-type pages like notes and wikis, as they are better results. So should we do one or more of:

1. add the extra parameters to the calls made on the "all" search page?
2. make these parameters the default so they don't need to be added?
3. something else?

Thank

[2018-11-29 22:37] jywarren commented on #4050
Thanks Gaurav and again good luck with your exams!!!

On Thu, Nov 29, 2018 at 3:30 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-11-30 00:08] jywarren opened #4076 "Deprecate DrupalFile and DrupalUpload tables and remove associated code to simplify codebase"
As part of the #956 work, we should move the records for all DrupalFile entries into the node revision body. This will be similar to https://github.com/publiclab/plots2/issues/4072, where we're getting rid of needlessly customized infrastructure and database tables, and just building the content into the node body content.

So we'd run a migration that'd run on each node, which would fetch `node.f

[2018-11-30 01:04] jywarren commented on #4058
Oh interesting! Thanks for catching that!!!

On Tue, Nov 27, 2018 at 7:48 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-30 01:05] #4058 closed

[2018-11-30 02:09] ValentinaTironi commented on #4050
I don't understand. How do you send the mail if there isn't method where mailer can be called? I'm talking about the nodes system, not comment, maybe you got confused. I just wanna know where you call the mailer to send the mail to moderator when a node is created.

Sorry if I wasn't clear, my bad! Thank you so much for your time! I really want to understand this to do the task 💯

@gauravano @jywa

[2018-11-30 02:12] dinaelhanan commented on #2866
@jywarren I'm new to web dev, so bare with me, as this one seems like a challenge, but one I want to take on. I'm just wondering, how would I integrate this (what files/pages would need to be changed?) I've only every done this on a blank site, and doing it on something pre-existing is new to me.

[2018-11-30 04:35] ValentinaTironi commented on #4048
Hello! I have a question: Would do you like add a section in dashboard where only show comment with status = 4 or just show them with nodes in Activity section?

[2018-11-30 04:38] oorjitchowdhary opened #4079 "Problems with the /search/notes"
### Please describe the problem (or idea)
The `Read More` buttons aren't aligned uniformly.

![screenshot 40](https://user-images.githubusercontent.com/39333058/49268681-df109100-f486-11e8-85ed-1785fcb7d023.png)
and
There are two `pagination bars` on the same page.

![screenshot 41](https://user-images.githubusercontent.com/39333058/49268694-f18aca80-f486-11e8-97af-c655df80e4f9.png)

I remember si

[2018-11-30 04:56] SidharthBansal commented on #2866
Yeah.

On Fri, Nov 30, 2018, 7:48 AM d1g1t4ld1n4 <notifications@github.com wrote:

[2018-11-30 05:36] oorjitchowdhary commented on #3733
@publiclab/reviewers ??

[2018-11-30 05:45] oorjitchowdhary commented on #3757
@mardelvalle Are you still working on it? As a GCi participant, I'd really like to solve this issue...
@jywarren Can I open a PR for this?

[2018-11-30 05:49] oorjitchowdhary commented on #3756
@publiclab/reviewers ??

[2018-11-30 05:51] oorjitchowdhary commented on #3534
Hi, I'd like to work on this .. I'm a Gci candidate... @publiclab/mentors

[2018-11-30 12:14] mardelvalle commented on #3757
NM I had some time this morning to do the pull. You can find it here https://github.com/publiclab/plots2/pull/4081.

[2018-11-30 13:02] oorjitchowdhary commented on #3534
Can i get links to the code files....

[2018-11-30 13:06] sashadev-sky commented on #3675
@gauravano I am looking through issues tagged as candidates to create my first FTO issue and I saw this one has been fixed and merged already.

Is there anything you think can be added here for a first time contributor to solve? If not, do you think I can try to format an issue out of centering the text under previews for research notes?

<img width="848" alt="screen shot 2018-11-30 at 7 08 57 am"

[2018-11-30 17:38] jywarren opened #4082 "Images distorted in thumbnail grids"
We have some great new thumbnail grids as shown on this page: https://publiclab.org/wiki/micro#Assembly

![image](https://user-images.githubusercontent.com/24359/49305137-6d434200-f49c-11e8-9b69-9cc187ba3526.png)

But as you can see, some images are distorted. This is solved in the dashboard templates -- https://github.com/publiclab/plots2/blob/master/app/views/dashboard/_node_default.html.erb#L7

[2018-11-30 17:41] jywarren commented on #4048
Hmm, i think alongside the other content, as they are on the dashboard
activity feed, for now. I think soon we may want to start thinking about a
specific spam "tab" or something, but for now let's just show as they are.
Thanks!

[2018-11-30 17:43] jywarren commented on #4079
great catch! Can you show where the code is to fix this? Thank you!

On Thu, Nov 29, 2018 at 11:39 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-30 17:44] oorjitchowdhary commented on #4082
Can I take this up?

[2018-11-30 17:45] jywarren commented on #4082
Yes please!

[2018-11-30 17:45] jywarren commented on #4082
Would you like to make it into a first-timers-only issue and welcome someone else into the community?

[2018-11-30 17:54] jywarren commented on #2866
awesome, thanks!

On Fri, Nov 30, 2018 at 8:28 AM d1g1t4ld1n4 <notifications@github.com>
wrote:

[2018-11-30 18:19] SidharthBansal commented on #3932
@jywarren any views?

[2018-11-30 18:20] SidharthBansal commented on #3932
Also, M can be trending tags. But I think we need to optimise it. What do you say?

Or do we need to create a separate function for this ?

[2018-11-30 18:34] jywarren commented on #3675
Sure! But also, are you sure this one is solved, and could you link to the PR where it was resolved? Otherwise it might still need some work; thank you!

[2018-11-30 18:35] #3836 closed

[2018-11-30 18:36] #3898 closed

[2018-11-30 18:39] jywarren commented on #4050
No problem and sorry i didn't have a moment to read through more carefully! I'll take a closer look right now: 🕵️ 🔍

[2018-11-30 18:43] jywarren commented on #4050
OK, so the trigger of sending the moderator notifications is here: https://github.com/publiclab/plots2/blob/ccfd39c5c833d1337ba5fb484a4e459a989aeaf6/app/models/node.rb#L208-L214

It's triggered here, upon creating a new node: https://github.com/publiclab/plots2/blob/ccfd39c5c833d1337ba5fb484a4e459a989aeaf6/app/models/node.rb#L649

So it's basically built into the model, instead of the controller.

[2018-11-30 19:39] jywarren commented on #3756
This is not yet solved, thanks! Please keep in mind coordination with #2866 but we're mainly looking for a clearer way to log in on the same page, without needing an extra page refresh. It can use the same partial template as the top login!

Try visiting this page while not logged in (or in incognito): https://publiclab.org/notes/warren/08-30-2018/web-working-group-update-23-august-2018

![screen

[2018-11-30 19:40] jywarren commented on #3756
Once you've solved this one, we can make a new task to coordinate input from #2866 to implement one of the designs from there into code!

[2018-11-30 19:41] #3935 closed

[2018-11-30 19:49] jywarren opened #4083 "Tag page error for non-existent tags"
https://publiclab.org/tag/micro and similar pages seeing an error!

[code]

[2018-11-30 19:58] gauravano commented on #3836
@jywarren don't you think the issue you mentioned was due to the tag `comment-template:ui-feedback-template` in https://publiclab.org/questions/warren/10-29-2018/help-us-refine-the-search-interface-at-publiclab-org. See https://publiclab.org/comment-templates for more details. If you think the issue you faced was due to tag and it's the natural function of tag, then it's possibility that we might

[2018-11-30 20:20] JonathanXu1 commented on #3756
@jywarren would you like something similar to this on the bottom of the page?

![login](https://user-images.githubusercontent.com/22998430/49312837-6673f980-f4b3-11e8-9f0d-bd8dfeeeac4f.png)

[2018-11-30 20:23] JonathanXu1 commented on #3375
Since my solution to this has been merged, can I get a credit for this task? I can't seem to find it anywhere on GCI..

[2018-11-30 20:29] JonathanXu1 commented on #3325
Hey there, I would like to work on this. Is anyone working on this task?

[2018-11-30 20:31] JonathanXu1 commented on #2151
Hi, has this issue been fixed? I would like to work on it if it hasn't yet.

[2018-11-30 20:59] sashadev-sky commented on #3675
@jywarren PR #3928 looks like its adding an appropriate condition onto this and related PR #3903 is still pending but not the same issue.

[2018-11-30 21:03] kevinzluo commented on #2151
@JonathanXu1 I was testing out this issue for #2150 and it looks to be already fixed.

[2018-11-30 21:19] kevinzluo commented on #4034
Hi sorry for the delay, I've been busy studying for my exam which is tomorrow. After, I take it I will return to working.

Sorry!

[2018-11-30 22:03] jywarren commented on #3756
yes! Although perhaps we could make the email one (and the login/signup
buttons that go with just that one) hidden and show an envelope icon button
in the row with the other login methods. What do you think?

On Fri, Nov 30, 2018 at 3:20 PM Jonathan Xu <notifications@github.com>
wrote:

[2018-11-30 22:18] gauravano commented on #3675
@sashadev-sky please go on and try to open first-timer using the linked issue. Thanks!

[2018-11-30 22:21] jywarren commented on #3932
OK sorry going through these now!

We can deduplicate as we do in this code: https://github.com/publiclab/plots2/blob/46e2447dab9948f08e78ca074c2df382acdcb9fd/app/controllers/tag_controller.rb#L291-L296 👍

😛 LOL `Suppose there is a user like @jywarren who uses public lab on daily basis.`

To your bigger question, I think we can use the idea of "strong user interface defaults" to encourage subscrip

[2018-11-30 22:21] #4083 closed

[2018-11-30 22:35] gauravano commented on #2151
Hi @kevinzluo could you add a screenshot here showing the show more/less grid in action for people and add your PR number too(for reference). Thanks!

[2018-11-30 22:51] JonathanXu1 commented on #3756
Great, I'll work on that now. I'll make an email icon which could expand to show those stuff.

[2018-11-30 23:06] jywarren commented on #3756
Awesome! You should be able to find one in FontAwesome, which we use:
https://fontawesome.com/v4.7.0/

On Fri, Nov 30, 2018 at 5:52 PM Jonathan Xu <notifications@github.com>
wrote:

[2018-11-30 23:17] jywarren commented on #3836
Hmm, it's worth watching this carefully. I don't think the original issue was related to the comment template feature. So i think this is OK. But let's keep an eye out. I also haven't seen the `local_assigns` usage that the solution in #4049 has, so maybe i'm not quite sure what's going on. Let's watch the production server to be sure comment-templates still work, as in https://publiclab.org/quest

[2018-11-30 23:32] dinaelhanan commented on #3840
I ran into quiet a few errors, here's some links that helped me out!
[](https://stackoverflow.com/questions/12995271/rails-server-error-ruby-version-is-1-8-7-but-your-gemfile-specified-1-9-3)
and this for getting the "you don't have permission" error and for the nokogiri errors I was getting:
[](https://stackoverflow.com/questions/37720892/you-dont-have-write-permissions-for-the-var-lib-gems-2-3-0

[2018-11-30 23:42] kevinzluo commented on #3375
I believe (@)thesparks already claimed and completed the task before in #4006 , even though for some reason that PR was not merged. Also, @gauravano told me to claim a task before working on it as per GCI policy and not to do more than one at once, though all is up to all the mentors to decide.

[2018-12-01 00:36] jywarren commented on #3840
Great work @dinaelhanan !!

@abizerlokhandwala I'm sorry we haven't been able to solve your problem! I really can't crack it :-(

Thanks @dinaelhanan for documenting your process!

[2018-12-01 00:49] ValentinaTironi commented on #4050
Yes, thanks! I'm gonna try to complete this issue when I have approved my current task

[2018-12-01 01:06] handlerug commented on #3836
I think comment templates will be broken because I ever didn't know about this feature and my fix removes any text from comment form inside answer view. I will check it in two hours, can I add more commits to my pull request? Thanks!

[2018-12-01 01:21] jywarren commented on #3836
Ah - well you can open a new PR with additional changes! No worries --
thanks for following up!

[2018-12-01 01:38] #4052 closed

[2018-12-01 01:53] dinaelhanan commented on #4082
@jywarren ^^ I think that's a good idea

[2018-12-01 02:03] dinaelhanan commented on #3435
Hi! I'm thinking of taking this task, and since I'm new to this, I'm just wondering, what is it that we testing for? thanks!

[2018-12-01 02:08] sashadev-sky commented on #4079
**Problem 1: Read more buttons**

@jywarren I will create a FTO issue for this one. Should I leave the 2nd one for someone else to try?

in app/views/notes/_notes.html, the `div` that holds the paragraph content as well as the read more button has styling defined on it that pushes its content to the right:

There is a `style` tag for the div class:
https://github.com/publiclab/plots2/blob/c204b268

[2018-12-01 02:29] ValentinaTironi commented on #4050
Just some more questions:

1. The mail has to be sent when the a comment is created?
2. Does the mail depends of the comment's status like in nodes (send or not if the status is, for example, 4)? If it is the case, Can you tell me the meaning of each status?

[2018-12-01 02:42] conkytom commented on #4079
I think I've got an answer for the pagination issue and submitted a pull request.  The bottom of each search view had the `will_paginate` function, but the partials that the views rendered also contained the `will_paginate` function so there were duplicates.  I left the `will_paginate` in the partials and removed them from the various search views of notes, questions, and wikis.  Hope this does th

[2018-12-01 07:31] suryanshsrivastava commented on #3462
I would like to take this up as my first PR, if it hasn't been assigned yet.

[2018-12-01 10:02] SidharthBansal commented on #3932
I liked your suggestion for `` tags from the comment's parent node which have the most followers`` than my suggestion of trending tags.
Trending tags are always visible to the user at many web pages. So, the user will be able to subscribe them from those web pages, if they wish.

How many tags should a user be able to subscribe on a comment? I prefer at most 1. We don't want email floods from Publ

[2018-12-01 12:06] oorjitchowdhary commented on #4048
I get the issue..
How can I test the different views for questions and moderated questions.. I'd like to view it first and then add the same for the comments.. Can i get a pointer on that.. @publiclab/mentors

[2018-12-01 12:47] gauravano commented on #4048
@oorjitchowdhary as mentioned in the issue-
The views which would require changes like in `app/views/dashboard`. The moderated node view lies in the same folder.

[2018-12-01 12:48] oorjitchowdhary commented on #4048
Ok

[2018-12-01 12:55] gauravano commented on #4050
**Comment status:**
1 - Normal comment
4 - Moderated comment
0 - Spammed comment

Yes, mail would be sent at time of comment creation if the user has not created any normal node or comment before. A function for condition checking is currently a GCI basic task - https://github.com/publiclab/plots2/issues/4047

@ValentinaTironi

[2018-12-01 14:38] dinaelhanan commented on #4082
@oorjitchowdhary good question, I don't see any distorted images either ;/

[2018-12-01 14:47] JonathanXu1 commented on #3756
How are any of the icons from here:
![image](https://user-images.githubusercontent.com/22998430/49329504-0ed69c00-f54e-11e8-9530-b63660ba86eb.png)

[2018-12-01 15:49] gauravano commented on #4048
Comments with status = 4 are moderated comments visible to only moderators and admin.

[2018-12-01 16:00] oorjitchowdhary commented on #4048
So I just have to the moderate `comment status = 4` comments in comments `views/dashboard`?

[2018-12-01 16:09] gauravano commented on #4048
You have to create view for comment with status =4. you can take inspiration from the view of moderated node.

[2018-12-01 16:09] oorjitchowdhary commented on #4048
Ohk I see.. I think I'll take this up

[2018-12-01 16:30] gauravano commented on #3375
Hi @JonathanXu1, we really appreciate your work but credit for this task was already given to @thesparks as she claimed and performed it earlier.

Whenever you do the task without claiming, you do it at your own risk. That's why we advice to follow the rule of "One task at a time which you have claimed". Thanks!

[2018-12-01 16:58] oorjitchowdhary commented on #3846
Having contributed now to this repo and seeing that this hasn't picked up by anyone yet.. I think I will look at this issue again @jywarren

We just have to correct the submission `destination` of the `Publish button` on the error page form after correcting all mistakes.. right? Like we refer to the standard wiki page creator, check its correct submission destination and add the same to the error

[2018-12-01 17:06] JonathanXu1 commented on #3375
Hi, thanks for letting me know. I'll be aware of this for the future. :)

[2018-12-01 17:12] ValentinaTironi commented on #4050
So, I'm gonna to do that task (#4047) first to complete this! Are you agree?

[2018-12-01 17:17] ValentinaTironi commented on #4050
I can't find the task in Google Code In dashboard :/ Can you give the link? Thank you!

[2018-12-01 17:19] ValentinaTironi commented on #4047
Hi! I wanna work on this but I don't find the task in GCI. Can someone give the link or some reference to search it? Thank you!

[2018-12-01 17:41] gauravano commented on #4050
As task #4047 is simple so I created that as beginner task, so it would be invisible to you I guess. Directly add the condition and I would replace it with the function call whenever it would be ready. How does it sound?

[2018-12-01 17:50] ValentinaTironi commented on #4050
Sounds great! I just have a question: `first_time_commenter` method verify if the user's created comments before already. Do I have to add the same verification for node in this function? Something like adding the `first_time_commenter` function to that the` first_time_poster` method does?

[2018-12-01 17:59] jywarren opened #4092 "Activity prompt buttons on Thumbnail grids"
We have some great new features by @ValentinaTironi -- a thumbnail grid -- see the Activities section of https://publiclab.org/micro 👍

One thing that would be great is to have the built-in buttons below that we see on non-thumbnail Activity grids, such as at https://publiclab.org/coqui

![image](https://user-images.githubusercontent.com/24359/49331305-d3959680-f568-11e8-988c-ecfdf66cecc2.png)

He

[2018-12-01 18:06] ValentinaTironi commented on #4092
If I can help something, don't hesitate to ask me!

[2018-12-01 18:06] gauravano commented on #4050
You assumed it right valentina. The check would be the combination of
first_time_poster and first_time_commenter(currently present) in user.rb .

[2018-12-01 18:11] ValentinaTironi commented on #4050
Great! I'm gonna start. I'll verify that locally and before do `push`, replace it for the function name. Thanks 💯

[2018-12-01 18:21] SidharthBansal commented on #2866
You can tell us your design.
:-)

[2018-12-01 18:29] oorjitchowdhary commented on #4092
@jywarren I'm unable to understand this...

[2018-12-01 18:52] ValentinaTironi commented on #4092
I think he is trying to say that now doesn't exist a button to create notes in thumbnail grid like in others grids.
For example, here, in the questions grids there is an `ask a question` button

<img width="872" alt="screen shot 2018-12-01 at 3 49 32 pm 1" src="https://user-images.githubusercontent.com/20969831/49331732-c389b100-f580-11e8-9ff2-287f4c04384c.png">

[2018-12-01 19:34] SidharthBansal commented on #3924
We forgot the main area where the suggestions to subscribe should be.
https://publiclab.org/subscriptions
We can show popular/trending tags on this webpage on side bar along with icons to subscribe.
What do you say?
@jywarren you can :+1:  on the comments which you wish should be implemented. I will create separate issues for them.
For those which are not needed to be implemented please do :-1: .

[2018-12-01 19:39] #3471 closed

[2018-12-01 19:40] oorjitchowdhary commented on #2866
![fda0bffe-9acc-4724-a817-b8c076f9a2eb](https://user-images.githubusercontent.com/39333058/49332210-ddea7b80-f5ce-11e8-9708-1a26ec8ef8cd.jpeg)
Just as a suggestion though.. I feel minimalistic would look better.. But we can choose any one as per everyone's views

[2018-12-01 19:45] gauravano commented on #4050
Hi, the email should be sent to moderators only. So, add according at a
suitable place. Thanks!

On Sun, Dec 2, 2018 at 12:58 AM Valentina Tironi <notifications@github.com>
wrote:

[2018-12-01 22:57] #4079 closed

[2018-12-01 23:46] jywarren commented on #214
I think this is reliable enough to close up! Thanks all!

[2018-12-01 23:46] #214 closed

[2018-12-01 23:51] jywarren opened #4093 "Make "I did this" button open a comment form for faster posting"
We have an "i did this" button which appears at the end of activity posts (learn more at https://publiclab.org/activities)

![image](https://user-images.githubusercontent.com/24359/49333946-b5df2600-f596-11e8-964a-76c7904c4b9e.png)

But it prompts you to make a whole new post. Let's make this easier by starting with a comment prepopulated with `I did this!` and asking people to post a photo if the

[2018-12-01 23:52] jywarren commented on #4012
OK, i've rebuilt a new issue from some of these ideas. I hope this makes sense! Check it out!

https://github.com/publiclab/plots2/issues/4093

[2018-12-01 23:52] #4012 closed

[2018-12-02 00:07] jywarren opened #4094 "Planning issue: merging Answers into Comments"
There is a long list of issues with Answers and Comments, not only because they're easy to confuse (#884) but also because having both requires double maintenance and lots of duplicated code (#3535, #4034, we'd need to develop a moderation system for answers in addition to questions, etc etc).

Let's make a few changes to the system, and consider merging the two types. We would have to:

1. make i

[2018-12-02 00:09] jywarren commented on #4093
Added to GCI dashboard!

[2018-12-02 00:13] jywarren commented on #4076
Added to GCI!

[2018-12-02 00:14] jywarren commented on #4074
Added to GCI!

[2018-12-02 00:15] jywarren commented on #4072
Added to GCI!

[2018-12-02 00:16] jywarren commented on #3832
This was completed, thank you!

[2018-12-02 00:16] #3832 closed

[2018-12-02 00:53] #3838 closed

[2018-12-02 00:56] jywarren commented on #3429
Hi, @CodeSarthak -- i believe there is one more of these to be moved:

https://github.com/publiclab/plots2/blob/master/test/unit/comment_test.rb#L226-L241

If you'd like to try that one?

[2018-12-02 00:59] jywarren commented on #2866
This is cool. I think we can incorporate elements of this. In general, I'm
interested in seeing the arrangement of buttons, windows, messages, links,
forms, titles, etc... whereas the graphic style may be best drawn from
Bootstrap, which is the UI library we use, so best to stay consistent with
that. However, there are a million ways to organize buttons, forms, etc
etc! So I like seeing this Oorji

[2018-12-02 01:02] jywarren commented on #4092
yes, exactly! thanks!!!

On Sat, Dec 1, 2018 at 1:52 PM Valentina Tironi <notifications@github.com>
wrote:

[2018-12-02 01:59] jywarren commented on #4082
The images are slightly squished -- they have not their original aspect
ratio. The CSS used on the dashboard is a little more complex, but allows
images to be shown in a fixed aspect ratio, with extra image hidden. Or, we
could just allow them to be different heights!

On Sat, Dec 1, 2018 at 9:38 AM d1g1t4ld1n4 <notifications@github.com> wrote:

[2018-12-02 02:08] dinaelhanan commented on #4082
Oh I see.. Might take this up when I've finished the  [unit test task](https://github.com/publiclab/plots2/issues/3435). Would appreciate any help there! @jywarren

[2018-12-02 08:57] SidharthBansal commented on #3325
Go ahead!!!

[2018-12-02 09:10] SidharthBansal commented on #3656
I think this issue is solved and we can close it.

[2018-12-02 09:24] okonek opened #4100 "Can't log in"
So I am GCI participant and while researching for one task I couldn't log in either from Github or Google or even a normal account. I am on Firefox, Arch Linux and my Publiclab login is okonek83. I append a screenshot in the description.
![jp2](https://user-images.githubusercontent.com/24360027/49337974-047ed580-f614-11e8-8f80-182024cbda7a.png)

[2018-12-02 11:53] okonek commented on #4093
Couldn't it be done just by auto-scrolling down, focusing and entering 'I did this' in the default comment form?

[2018-12-02 12:18] CodeSarthak commented on #3429
Oh, sure. @jywarren

[2018-12-02 16:03] dinaelhanan commented on #3435
Is the above a correct way to do this? @SidharthBansal  cc @jywarren

[2018-12-02 16:19] gauravano commented on #3435
Hi @dinaelhanan, how about opening the PR so that other people and checks can be run? Thanks!

[2018-12-02 16:33] oorjitchowdhary commented on #4092
![screenshot 42](https://user-images.githubusercontent.com/39333058/49342168-9a027f80-f67d-11e8-8be3-8cb1a775380f.png)

I can see `add an activity` button in the thumbnail grid too.. Just the same as in the other non-thumbnail grids..
So do we want to add `ask a question` too?

[2018-12-02 16:40] okonek commented on #4093
Hi, I have resolved this issue in the PR https://github.com/publiclab/plots2/pull/4101 Take a look, when you'll have time.

[2018-12-02 17:56] oorjitchowdhary commented on #3755
@jywarren, @codeIriss opened a PR #3768 but it hasn't solved the issue.. So can I solve it by opening a new PR...
Also, I think we should keep this issue in sync with #2866 .. As in we could first solve #2866 and then put that template here and remove this one..

[2018-12-02 19:03] SidharthBansal commented on #4100
It is working for me.
Can you please refresh and check it again?

[2018-12-02 19:09] SidharthBansal commented on #3924
Email's footer for the subscriptions.
We can create a Milestone for this? What do you say?

[2018-12-02 19:36] gauravano commented on #3419
Yes @CoderJolly !

[2018-12-02 20:03] JonathanXu1 commented on #3325
I've removed the white button in the pull request.

[2018-12-02 20:19] JonathanXu1 commented on #4082
Would you guys need any help here?

[2018-12-02 20:35] oorjitchowdhary commented on #3426
@publiclab/mentors pls add this task to gci dashboard.. It isn't there right now

[2018-12-02 20:37] JonathanXu1 commented on #4076
So is each node in this case similar to a Map Node? Sorry I'm unfamiliar with plots2 architecture.

^ Also does this mean looking at the file characteristic of each node, getting the url and pasting it on the bottom of the node document? Not really sure what's required and if this should be done automated.

[2018-12-02 20:56] JonathanXu1 commented on #4047
![image](https://user-images.githubusercontent.com/22998430/49344736-58f07800-f649-11e8-9cd9-663e10aa8df3.png)

Currently, the function seems to do that already. I'm not familiar with ruby, so if I'm wrong, please let me know!

[2018-12-02 21:01] gauravano commented on #4047
Current code just checks for comment not for the node. But, anyway this task is not needed anymore, we would be using combination of first_time_poster and first_time_commenter as that makes more sense then updating this function so I have removed it from GCI dashboard.

Thanks all!

[2018-12-02 21:01] #4047 closed

[2018-12-02 21:32] JonathanXu1 commented on #3378
Is this a beginner or first time only issue? I'd like to look into it

[2018-12-02 21:37] JonathanXu1 commented on #3338
That's a cool idea! On my localhosted project there's no emails to moderate:
![image](https://user-images.githubusercontent.com/22998430/49345247-3b72dc80-f650-11e8-8f08-99957b0f38b1.png)
If any of you have a moderator view of this page, a screenshot for design purposes would be appreciated. Alternatively, if there's a way to generate some on local host that would be nice to know too.

[2018-12-02 21:42] gauravano commented on #3338
You can generate test users and then play with the things. rails console
could help you fasten the user generation process or you can also create
the user by going through the normal process.

On Mon, Dec 3, 2018 at 3:07 AM Jonathan Xu <notifications@github.com> wrote:

[2018-12-02 21:46] JonathanXu1 commented on #3696
Hi, I'd like to work on this but it isn't available on gci. Is someone working on this task?

[2018-12-02 21:52] gauravano commented on #3696
We haven't created the instance for plots2. I would advice you to take some other task, as you have already done one such task.

Thanks!

[2018-12-02 21:57] JonathanXu1 commented on #3696
Sounds good. Thanks.

[2018-12-02 22:33] gauravano commented on #3338
Yes, because emails can only be sent in the production. But, I guess a
email tab is opened showing the email due to letter_opener ?

On Mon, Dec 3, 2018 at 3:57 AM Jonathan Xu <notifications@github.com> wrote:

[2018-12-02 22:59] JonathanXu1 commented on #3338
Oh okay. How can I open the email tab?

[2018-12-02 23:12] gauravano commented on #3338
It opens by default if mail is sent. Try creating a new user and see if new
tab(having email i text format) opens for you.

On Mon, Dec 3, 2018 at 4:29 AM Jonathan Xu <notifications@github.com> wrote:

[2018-12-03 00:40] dinaelhanan commented on #4062
cc @publiclab/mentors  this seems like a really good gci task! Would definitely love to take this on!

[2018-12-03 01:11] dinaelhanan commented on #4082
Tried to fixed this using the above PR, I know it's a first-timer only issue, but I haven't really touched anything that had to do with the site's design, so I hope it's OK that I took it up..! @jywarren I'll try to find  way to make the issue for repetitive code really beginner friendly so we can welcome more first-timers!
I remember seeing an issue that had to do with repetitive code, but I can'

[2018-12-03 02:32] JonathanXu1 commented on #3338
I've created a new account in a separate browser, and I still have no new tab opening up on my browser with the moderator logged in.

[2018-12-03 02:35] dinaelhanan commented on #3331
working on the tests :+1: :) https://github.com/publiclab/plots2/pull/4103

[2018-12-03 02:37] dinaelhanan commented on #4062
^^ and the break-me-up label! I think I can add to this cc @publiclab/mentors

[2018-12-03 06:56] SidharthBansal commented on #3656
Yeah, it has not resolved. I will be submitting a patch if anyone else is not working on this

[2018-12-03 06:58] SidharthBansal commented on #3325
Please link the PR so that we can review.
Thanks

[2018-12-03 09:46] oorjitchowdhary commented on #2866
Can anyone pls tell help me with the code files to be edited in this issue...

[2018-12-03 09:51] oorjitchowdhary commented on #3325
@jonathanxu1 perhaps it was a beginner task on gci as it's labeled a fto-candidate issue here.. That's why you may have not found it

[2018-12-03 11:59] SidharthBansal commented on #2866
We need to create a modal for the login which will be displayed on the
screen once anyone will click on any login button.

On Mon, Dec 3, 2018, 3:16 PM Oorjit Chowdhary <notifications@github.com
wrote:

[2018-12-03 14:11] dinaelhanan commented on #2866
@JonathanXu1 I think it's safe to say... feel free to take it up 👍

[2018-12-03 14:36] JonathanXu1 commented on #3325
@oorjitchowdhary that's what I thought except the label was removed by @SidharthBansal earlier on. I'd definitely like to know since many non- beginner issues on GitHub aren't available as tasks at all.

By the way here's my pull request
https://github.com/publiclab/plots2/pull/4102

[2018-12-03 14:39] JonathanXu1 commented on #2866
Great, I've gone ahead and claimed it. :)

[2018-12-03 14:53] oorjitchowdhary commented on #3846
@publiclab/reviewers..

[2018-12-03 17:03] oorjitchowdhary commented on #3756
Is this a beginner task on GCI? I can't find it in the non-beginners

[2018-12-03 17:19] oorjitchowdhary commented on #3756
I want to work on this.. but I can't find it in the non-beginner task list on gci.. What should I do

[2018-12-03 18:45] SidharthBansal opened #4109 "[WIP]Brainstorm Improvements for Mailer Contents"
We have to improve the content of emails which users get on their email accounts.
*[ ] Add Descriptive Subjects
*[ ] Remove Redundancy
*[ ] Add an appropriate title
*[ ] Content enhancement
@publiclab/mentors what others we can include?
Thanks Lis Sylvan for your input in Open Hour.

[2018-12-03 18:56] esylvan commented on #4109
![temp](https://user-images.githubusercontent.com/3617884/49394485-e20abc00-f6e8-11e8-8dc9-105c501fbd02.PNG)

Some addition thoughts and suggestions:
- consider changing the From header to be something like "Public Lab" or "Public Lab notifications."
- map out a design that provides clear subject and content sections. These could use brackets at the beginning of a subject line to indicate the type

[2018-12-03 18:59] esylvan commented on #4109
For your reference, t
![temp2](https://user-images.githubusercontent.com/3617884/49395124-80e3e800-f6ea-11e8-922e-5c4b5d6fd759.PNG)
his is what the body of a notification looks like in gmail.

[2018-12-03 19:12] SidharthBansal opened #4110 "[WIP]Brainstorm tours accross the website"
Many websites have pop up for new users which indicate what kind of features we have
Like Github whenever introduces a feature it also introduces tutorial for new users. We can also incorporate that feature
As soon as person comes the tutorial, the prompt closes.
@publiclab/mentors, @ebarry your views are important.
@ebarry I agree upon your notion of expiry of tours/tutorials.

[2018-12-03 20:10] gauravano commented on #4109
![Email_redesign](https://user-images.githubusercontent.com/20878070/49398771-5daa4e80-f765-11e8-8d41-47d174d1e243.gif)

[2018-12-03 20:54] jywarren opened #4111 "Implement new UI format for top of tag pages"
This is part of a set of issues to take the design work produced by Kelvin at https://publiclab.org/notes/kelv/11-21-2018/tag-page, break it into design "pieces", and implement a number of them, while preserving our default Bootstrap styles: https://getbootstrap.com/docs/3.3/

Let's start with the top of the page. In Kelvin's design, we use a circular image with centered title and description belo

[2018-12-03 20:54] jywarren commented on #4111
And a note - let's just start with the centered image in a circle, title, and description. We'll do other changes in a follow-up issue!

[2018-12-03 21:03] jywarren commented on #4062
Done! And adding permission for both of you to add labels too 😄

[2018-12-03 21:05] dinaelhanan commented on #4062
thanks! @jywarren

[2018-12-03 22:54] dinaelhanan commented on #4062
@jywarren I don't think it's working.. I'm not seeing the check mark beside the issues in order to label them

[2018-12-03 23:42] dinaelhanan commented on #3435
@namangupta01 I will work on the other functions to be tested, but the one I just fixed should be removed :)

[2018-12-03 23:48] namangupta01 commented on #3435
Okay, I will add them tomorrow. You can start working on them.

[2018-12-03 23:53] dinaelhanan commented on #3435
Thanks!

[2018-12-03 23:55] namangupta01 opened #4112 "Move .yahoo_quoted class checking to new function"
Here, we are checking for the presence of `.yahoo_quoted` https://github.com/publiclab/plots2/blob/ff870dea11781ab5ed50a806a55f362210f3a638/app/models/comment.rb#L300
We can improve this by moving this checking into the new function just like we have for gmail.
https://github.com/publiclab/plots2/blob/ff870dea11781ab5ed50a806a55f362210f3a638/app/models/comment.rb#L291

[2018-12-04 00:00] dinaelhanan commented on #4112
I will take this!
Please add to GCI dashboard!

[2018-12-04 01:40] JonathanXu1 commented on #2866
Given that we already have the login buttons redirect to a login page, do we simply show a modal instead?

Also if we want to show/hide conventional login styles, should that be done through a button like "log in with email and password" to avoid the chance of the user thinking there is no conventional way to log in?

[2018-12-04 02:04] dinaelhanan commented on #2866
@JonathanXu1 I would start with a button on the original login page that hides entering the email password etc and only shows OAuth until you click the button. Then, you could try moving that whole page as a modal. I wonder if it's OK to have it as a pop-up, I've seen some sites do that. Google included. Let me know what you think

[2018-12-04 02:11] JonathanXu1 commented on #2866
That's a very good idea. I'm just not sure how to find the source code for the login.

[2018-12-04 02:46] dinaelhanan commented on #2866
@JonathanXu1 What code editor are you using? Maybe you could look for the id/class of the login page? I'm done for today, But I'll write more tomorrow and help you out :)

[2018-12-04 03:39] JonathanXu1 commented on #2866
Yep, my first step is to search for the the corresponding divs in the project, but I'm wondering if there's a better way to do it within the ruby environment. Thanks for your help, I appreciate it :)

[2018-12-04 05:02] sashadev-sky opened #4113 "Recenter 'Read more' button for note previews"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2018-12-04 05:05] sboginsky17 opened #4114 "tntt #first-timers"
tntn

[2018-12-04 05:05] #4114 closed

[2018-12-04 09:36] sagarpreet-chadha commented on #963
Awesome :smile: !

[2018-12-04 10:43] oorjitchowdhary commented on #3755
@publiclab/mentors

[2018-12-04 11:12] oorjitchowdhary commented on #4111
Can I take this up?

[2018-12-04 14:31] dinaelhanan opened #4115 "Make the Search Results UI look Better!"
Currently, after users make a search, here's what the search results look like:
![ui](https://user-images.githubusercontent.com/19677511/49448437-ea293100-f7a6-11e8-95f7-8abfef605249.png)
We want to make this look better! (#4062) and I think that a good idea to do this would be having a 4 by 4 grid of the Notes, Wikis, Questions and Tags sections. If you have any issues, I found [this](https://sta

[2018-12-04 14:44] #4093 closed

[2018-12-04 14:47] #3325 closed

[2018-12-04 14:53] jywarren commented on #4115
Hi!, Thank you! A couple suggestions -- for some design questions it may be worthwhile asking for a mockup (you can see a bit about this process at https://publiclab.org/ui, and there is a shared google doc for making mockups there) to explore what a design will look like in detail before we all agree on a specific design to implement. But that's a perfectly fine issue as well, if you want to make

[2018-12-04 14:55] jywarren commented on #4026
Thanks so much! Actually this was originally a feature -- we do this because in wider view it is supposed to be displayed in the sidebar. But now perhaps we can remove that code. But please be careful -- this is quiet complex code -- see #4042!

[2018-12-04 14:56] jywarren commented on #963
Awesome!!

[2018-12-04 15:55] dinaelhanan commented on #4115
@jywarren ok, I've seen the templates for the first-timer-only issues now, thanks for pointing that out! I will continue to work on this (add what files need to be changed, etc) However for creating a mock up, can I take screenshots of the page and re-arrange them to look like what I think they should? I don't really know how to use Froala.. Thanks!

[2018-12-04 17:51] jywarren commented on #4115
Sure, you can do just that, and also screenshots from getbootstrap.com, and
there is a Google presentation on publiclab.org/ui where you can use bits
and pieces of mockups others have made to work on your own designs!

https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit?usp=drivesdk

On Tue, Dec 4, 2018, 10:55 AM d1g1t4ld1n4 <notifications@github.com wrote:

[2018-12-04 19:16] oorjitchowdhary commented on #3817
I too get the same screen as @shubhangi-chauhan and @shriyakaneriya

[2018-12-04 21:07] dinaelhanan commented on #4115
@jywarren do they have to install bootstrap? I see that publiclab uses bootstrap in the css file, but I'm not sure what you mean..

[2018-12-04 21:30] dinaelhanan commented on #4115
@jywarren I have an idea for a really easy task, I will open a new issue for that one, and leave this one as a WIP / planning/ design

[2018-12-04 22:10] dinaelhanan opened #4117 "Help People Report Errors!"
# The Problem:

Currently, if a user get a non-existing page, they get a message saying "Report a bug or issue" in the footer, which isn't welcoming for non-developer users and is hard to notice. Instead, we should have something that says "Please feel free to Send Us Feedback!" when a user is first accessing the dashboard. We can have this show up in the banner, in here!

![screenshot from 2018-1

[2018-12-04 22:10] dinaelhanan commented on #3631
Breaking this up now!

[2018-12-04 22:30] sashadev-sky commented on #4113
@publiclab/reviewers can I have labels please 👍

[2018-12-04 22:40] dinaelhanan commented on #4113
@sashadev-sky that OK?

[2018-12-04 22:58] jywarren commented on #547
I've created two tests -- a functional test and a test fixture -- which should fail, reproducing this error:

https://github.com/publiclab/plots2/pull/4118

If this PR fails, we would love help resolving it. It might involve database encoding, as in https://github.com/publiclab/plots2/issues/2665

[2018-12-04 23:02] sashadev-sky commented on #4113
@dinaelhanan Thank you! I wrote it to be a first-timers-only issue should it have that label instead? Also should we delete these comments afterwards? People tend to think issues that are commented on are taken

[2018-12-04 23:04] dinaelhanan commented on #4113
@sashadev-sky OK deleting all comments now :+1:

[2018-12-04 23:59] dinaelhanan commented on #3817
getting the same as everyone above ^^ must be an admin issue....

[2018-12-05 00:55] ValentinaTironi commented on #4115
Hey @dinaelhanan! I saw that you ask me check out this. How can I help u?

[2018-12-05 01:47] dinaelhanan commented on #4115
@ValentinaTironi I was just wondering whether I should give each table a different class so that the person working on the issue can just make the divs in different positions? Check my comment above, I'm probably going to sign off for now, but if you've got any ideas, let me know and I'll write back tomorrow. thanks for coming by to help by the way!

[2018-12-05 01:57] dinaelhanan commented on #4110
What about having a popup for the first time a user uses the page which asks if they would like tour and then runs something like Feature discovery? We can then have it do it automatically, but I really want to work on this as a final task, plus I think it's important to have something in place and then work on top of it to make it automatic, is that OK? @gauravano

[2018-12-05 03:14] ValentinaTironi commented on #4115
What do you think about showing ten results of each categories (notes, wikis, question, etc) as cards? Like in thumbnails grids? (see https://github.com/publiclab/plots2/pull/4057#issuecomment-442156645) I don't know, I'm just giving an idea

[2018-12-05 03:47] Rishabh570 commented on #4117
@dinaelhanan Great! Having the banner (as suggested #3631 ) on the landing page will make it clear to new people at the first place I believe...what do you think?

[2018-12-05 07:03] oorjitchowdhary commented on #2866
@JonathanXu1 are you working on this?

[2018-12-05 08:28] oorjitchowdhary opened #4120 "Refine CSS of text in image box on home page for various page widths"
### Please describe the problem (or idea)
The default **Public Lab** introduction text on the homepage is missing in the mobile view.

![image-1](https://user-images.githubusercontent.com/39333058/49499990-947f8200-f895-11e8-9852-4a61d2adacba.jpg)

This is the default introduction text on our desktop page.

![screenshot 45](https://user-images.githubusercontent.com/39333058/49499998-99443600-f895-

[2018-12-05 09:51] oorjitchowdhary commented on #4092
@publiclab/reviewers ?

[2018-12-05 09:57] oorjitchowdhary commented on #3696
@publiclab/reviewers Can I take this up?

[2018-12-05 10:44] oorjitchowdhary commented on #3378
![publiclab_conductgoogl](https://user-images.githubusercontent.com/39333058/49508434-b20a1700-f8a8-11e8-8f8b-b5440968aad4.gif)

I couldn't get this issue... But I found another one on the tags...
The popups don't close if you click on another tag or click on the page outside the tags.

[2018-12-05 10:53] sashadev-sky commented on #3976
@publiclab/reviewers I believe this issue was resolved 4 days ago by PR #4089 and can be closed

[2018-12-05 10:56] oorjitchowdhary commented on #4066
@ValentinaTironi are you still working on this?

[2018-12-05 11:08] oorjitchowdhary commented on #4072
@publiclab/mentors if I've understood this correctly, we are trying to convert all the `map nodes` into normal `note nodes` and we are integrating `maps` in all the nodes ... Which means this task is also linked to #4066 .. Am I right?

[2018-12-05 11:53] sashadev-sky commented on #3760
@JonathanXu1 I just commented on the PR (#3863) referencing this issue to remind the user to take a look at it! I would wait a bit and then comment here again if you're still interested and they don't reclaim it

@publiclab/reviewers just wondering for myself, what is the threshold for considering a PR 'abandoned'

[2018-12-05 12:03] oorjitchowdhary commented on #4062
A suggestion, I think we could use the respective formats for showing that section on all content..
for eg. wiki page format for wiki content shown, notes page format for notes content shown etc..

[2018-12-05 12:10] oorjitchowdhary commented on #3502
Can I take this? I'm a GCI candidate..

[2018-12-05 12:17] oorjitchowdhary commented on #3482
I think I can try this.. I'm a GCI candidate..

[2018-12-05 13:17] ValentinaTironi commented on #4066
OMG, I didn't see this! I'm really sorry @jywarren. Let me see all the information about that and if I can help of course I will! Thank you! And again, I'm sorry for not get answer from me :/

[2018-12-05 13:32] JonathanXu1 commented on #2866
Yes, I am

[2018-12-05 13:47] dinaelhanan commented on #4115
@ValentinaTironi I think that as fantastic idea! Could I link to your code so that the first timers can use it as a reference? Thanks!

[2018-12-05 13:58] ValentinaTironi commented on #4066
I have a couple of questions:

This conditional check exactly what you said. I don't understand. Doesn't the button should display when this condition returns `true`? This line render the map`<%= render_map(@node.lat, @node.lon) %>`, right? So, why you want display the `share you location` button if you already have it?

Sorry if are a lot of questions, I just wanna understand. Thank you!
@jywarre

[2018-12-05 13:59] dinaelhanan commented on #4120
@oorjitchowdhary I think this was done on purpose since the intro paragraph is long and shouldn't be the first thing users see on a small mobile screen. I'm pretty sure that after they scroll down, they'll see more about what publiclab is. I don't think adding this is necessary..

[2018-12-05 14:01] oorjitchowdhary commented on #2866
Okay.. Feel free to mention me if you need any help..

[2018-12-05 14:04] ValentinaTironi commented on #4066
Another comment :) I can't claim this this without have this task approved https://github.com/publiclab/plots2/pull/4098, you know that Guarav can't answer now so would be really great if you can check out it! Everything is ready there! Thank you so much 💯

[2018-12-05 14:05] ValentinaTironi commented on #4115
Of course, go for it! 💯

[2018-12-05 14:07] oorjitchowdhary commented on #4066
@valentinatironi I haven't start working on it yet.. Maybe we can collaborate this one?

[2018-12-05 14:09] ValentinaTironi commented on #4066
That sounds great! I've never collaborated with someone remote. I think we can do it :)

[2018-12-05 14:22] dinaelhanan commented on #4117
@Rishabh570  oh ok I'll add that

[2018-12-05 15:34] ebarry opened #4121 "Search results should include words mentioned in Title"
Dear everyone,
When i type in the built-in search box in our menu bar for `barnraising` and `texas`, i get this page of results: https://publiclab.org/search/barnraising%20texas  ...which doesn't list the actual wiki that has "barnraising" and "texas" in the *title* and as *tags*: https://publiclab.org/wiki/barnraising-texas-2019.

Similarly, this wiki with "barnraising" and "texas" in the title a

[2018-12-05 15:37] dinaelhanan commented on #4121
this looks like a good issue for gci... I would even consider taking it up myself. Thanks for sharing!

[2018-12-05 15:37] jywarren opened #4122 "Drag/drop of image upload into Answer input inserts into wrong textarea"
I dragged an image into this Answer texarea:

![image](https://user-images.githubusercontent.com/24359/49524393-abb07680-f879-11e8-8227-a24ee9bfa539.png)

on this page:

https://publiclab.org/questions/warren/10-29-2018/help-us-refine-the-search-interface-at-publiclab-org

and the image was inserted at the top comment box. I think we need to fix where the `dragdrop.js` is sending the uploaded imag

[2018-12-05 15:40] jywarren opened #4123 "Preserve editable search term in search results page"
Working from a set of issues identified here: https://publiclab.org/questions/warren/10-29-2018/help-us-refine-the-search-interface-at-publiclab-org

This is an issue on pages like this, when you complete a search: https://publiclab.org/search/wikis/barnraising+texas

I noticed that when you get to a search results page, there is nowhere on the page where you still see the search phrase in an edit

[2018-12-05 15:41] jywarren commented on #4123
@stefannibrasil @milaaraujo thought this could be a fun one for someone in GCI! 🐱

[2018-12-05 15:49] jywarren opened #4124 "combine comment buttons into a button group"
Let's combine comment buttons into a button group using Bootstrap styles:

![image](https://user-images.githubusercontent.com/24359/49525099-026a8000-f87b-11e8-8fe6-9f2bb6dce5df.png)

Button groups docs: https://getbootstrap.com/docs/3.3/components/#btn-groups

![image](https://user-images.githubusercontent.com/24359/49525243-51181a00-f87b-11e8-90b0-1adb07c40c9d.png)

Code for this view can be fou

[2018-12-05 15:49] jywarren commented on #4124
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2018-12-05 15:53] jywarren commented on #3924
Yes sorry adding 👍 now. Re /subscriptions I think that page is nice but it's more of a utility page and less a page which people will notice regularly like /dashboard.

[2018-12-05 15:54] jywarren commented on #3924
Feel free to organize ideas into a list here or elsewhere, however you'd like to structure it! Also there are some folks who are getting good at making new issues who've been in the chatroom recently so it's a good place to ask for help in making break-out issues if you'd like.

[2018-12-05 15:54] jywarren commented on #3924
Awesome, @SidharthBansal !

[2018-12-05 15:56] jywarren commented on #3924
Let's make a break-out issue for including tags to subscribe to in a login sequence, just like the `return_to` works, but with `subscribe=tag,tag` so that we can make a variety of ways to display buttons that allow signing up and subscribing or logging in and subscribing. It can be a general-use route that lets us build lots of different prompts as we've listed above (for ppl who are not yet signe

[2018-12-05 16:03] jywarren commented on #4121
Awesome! Just adding some possibly helpful code links; this is mostly driven by the Service API:

https://github.com/publiclab/plots2/blob/26079dbbc10e13ce1e1874b50faac3de1e47f8ea/app/services/search_service.rb#L53-L56

And the MySQL full text search:

https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L27-L68

Maybe most specifically this section?

https://github.com/publiclab/plo

[2018-12-05 16:07] jywarren commented on #4121
Here's where the search is initiated in the controller:

https://github.com/publiclab/plots2/blob/26079dbbc10e13ce1e1874b50faac3de1e47f8ea/app/controllers/search_controller.rb#L11-L14

I wonder if it's doing a default boolean search? We can check that in the logs when running it locally.

It'll be doing one of these three types of search query, in any case:

https://github.com/publiclab/plots2/blo

[2018-12-05 16:12] jywarren commented on #4121
This could be broken up to see if we could debug both the observation that it should match the TAGS, and separately that it should match the TITLE. Just a note that here's a test demonstrating matching ONE tag, but not two:

https://github.com/publiclab/plots2/blob/26079dbbc10e13ce1e1874b50faac3de1e47f8ea/test/unit/node_test.rb#L52-L60

So maybe we need to make a new test to test two-tag matches?

[2018-12-05 16:13] dinaelhanan commented on #4117
@Rishabh570 done! Please check out my task for this :)
https://codein.withgoogle.com/dashboard/task-instances/5643246135934976/

[2018-12-05 16:13] jywarren commented on #4117
love this!!!

On Wed, Dec 5, 2018 at 9:23 AM d1g1t4ld1n4 <notifications@github.com> wrote:

[2018-12-05 16:16] dinaelhanan commented on #4121
@jywarren ok so this looks like an issue that needs breaking up. Since I've now gotten familiar with writing tests, I'll be happy to write a test for two-tag matches, like you've mentioned above. I'll open an issue on that. Please add this to the GCI tasks, I'd be more than happy to take it up! (just waiting for approval on this one task:https://codein.withgoogle.com/dashboard/task-instances/56432

[2018-12-05 16:16] jywarren commented on #4066
@sagarpreet-chadha 😄 check it out!

@ValentinaTironi sorry, i tried to correct myself -- you're right, it should show if there is no lat/lon data. But if it has lat/lon AND it's a "place page" (i.e. if it has the tag `place`), we allow other code to show a map at the top, full-width. Thanks!

[2018-12-05 16:17] dinaelhanan commented on #4121
@jywarren is this not similar to this issue? https://github.com/publiclab/plots2/issues/3480

[2018-12-05 16:19] dinaelhanan commented on #4117
@jywarren thank you!

[2018-12-05 16:21] jywarren commented on #2866
Just noting that log in code in the header is within

https://github.com/publiclab/plots2/tree/master/app/views/layouts/_header.html.erb but in the partial

https://github.com/publiclab/plots2/blob/master/app/views/layouts/_social_icons.html.erb

while on the /login or /signup pages, it's at:

https://github.com/publiclab/plots2/blob/master/app/views/user_sessions/new.html.erb

https://github.com/

[2018-12-05 16:22] jywarren commented on #4121
It's similar in that it tests tag-related functions, but it's testing a distinct function. Thanks! 👍

[2018-12-05 16:25] dinaelhanan opened #4125 "Make a new Test to test for two-tag matches for search"
This is a broken up part of this issue (#4121)
We are trying to test if the search gets matches that have two tags that equal the search.

https://github.com/publiclab/plots2/blob/26079dbbc10e13ce1e1874b50faac3de1e47f8ea/test/unit/node_test.rb#L52-L60

[2018-12-05 16:31] jywarren commented on #3502
yes please!

On Wed, Dec 5, 2018 at 7:11 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-05 16:32] oorjitchowdhary commented on #3502
Okay, I'll work on it

[2018-12-05 16:35] jywarren opened #4126 "More compact design for comment display on dashboard"
https://publiclab.org/dashboard shows comments, but they aren't very compact in design:

![image](https://user-images.githubusercontent.com/24359/49528218-8aec1f00-f881-11e8-8429-b43b6e932c8c.png)

In [the UI OpenHour](https://publiclab.org/notes/warren/12-03-2018/openhour-usability-feedback-for-publiclab-org) Bronwen noted that they could be more compact. Let's do some design sketches!

You can u

[2018-12-05 16:41] jywarren opened #4127 "Add "spam" button to https://publiclab.org/comments"
To make spam comment moderation easier, let's add a "spam" link to the table on this page:

https://publiclab.org/comments

The link could take the format:

[code]

The page template is here:

https://github.com/publiclab/plots2/blob/master/app/views/comments/_comments.html.erb

[2018-12-05 16:43] rachelkam5 commented on #4113
Hi!  I would love to contribute to this issue.  This would be my very first open source contribution.

[2018-12-05 16:48] jywarren commented on #786
Could we include a few "quick reply" buttons in the new "i did this" comment window to offer alternatives like "I had some trouble" or "I have a suggestion" ? These could be added to the start of the textarea content! @okonek what do you think of this after having solved https://github.com/publiclab/plots2/pull/4101 ?

[2018-12-05 16:48] jywarren commented on #786
We could make a GCI task for it if you like?

[2018-12-05 16:50] jywarren commented on #814
We now have templates in comments and notes!

[2018-12-05 16:50] #814 closed

[2018-12-05 16:51] #3435 closed

[2018-12-05 16:52] #811 closed

[2018-12-05 16:55] oorjitchowdhary commented on #4111
@publiclab/reviewers Is the Kelvin design not based on Bootstrap..?

[2018-12-05 16:56] rachelkam5 commented on #4113
I just read over your README file, and I have a question about #4 under Standard Installation.  I've never worked with Rails before, so I'm not sure about the rails root directory.  Do I need to install Rails or something else before setting up the fork locally?  Thank you!

[2018-12-05 17:43] sagarpreet-chadha commented on #4066
Hey @ValentinaTironi , @oorjitchowdhary !

How about one of you can work on writing the logic to display the static image of map with **"add a location"**  button on top of it - if the latitude AND longitude tags are not present .

The other can work on the CSS of it - getting the correct aspect ratio with round corners of the map image .

And after that - you both can review each other code and s

[2018-12-05 17:55] oorjitchowdhary commented on #3502
I'll submit a PR in about 30 mins or so

[2018-12-05 17:56] oorjitchowdhary commented on #4066
Sounds good.. @valentinatironi can I work on the css...

[2018-12-05 18:36] oorjitchowdhary commented on #3502
PR #4130 Pls review

[2018-12-05 18:57] oorjitchowdhary commented on #4122
@jywarren I think there's too much of similar code between `Answers` and `Comments`..
There's an issue with the preview too.. #3534

[2018-12-05 18:58] oorjitchowdhary commented on #4122
I think I'll work on this

[2018-12-05 19:07] oorjitchowdhary commented on #4124
https://github.com/publiclab/plots2/blob/master/app/views/notes/_comment.html.erb#L37-L80
We intend to put these into a new `div class`.. am I right?
Can I take this up?

[2018-12-05 19:14] oorjitchowdhary commented on #4127
@publiclab/reviewers I've got an idea.. I think we can implement the list style as I did in my PR #4130 ..
We can make this a tabular site and I'll add a `moderated` row for this where only admins/moderators can view the option to `Ban/Spam` the author of the comment... What say?

[2018-12-05 19:18] oorjitchowdhary commented on #4127
![screenshot 48](https://user-images.githubusercontent.com/39333058/49538042-814dd000-f8f0-11e8-8d40-526e863cdf6a.png)
Somewhat like this but replacing the `last activity`, `joined`, and `history` tabs with the comments and the `moderation` bar...

[2018-12-05 19:35] SidharthBansal opened #4131 "Planning Issue: Subscription Prompts Across the Website"
We have a great subscription system now. Let's come up with some better, smarter, and smoother ways to encourage people to subscribe (without just making BIG SIGNS EVERYWHERE). Ideas:
* [x] [Priority] Make general purpose route /subscription_tag=tagname.... like return_to for the following features.
* [x] combined “Subscribe and login” flow - get people subscribed to some tags as they sign up, bas

[2018-12-05 19:42] SidharthBansal commented on #3924
@jywarren. I have holidays for the whole month. Exams over!!! :smile: I will be doing the work as quickly as I can.

https://github.com/publiclab/plots2/issues/4131 is the formal list of issues. We will discuss issues here and paste the main title there with checkbox.
I will create the issues for all the checkboxes after we complete https://github.com/publiclab/plots2/issues/3924#issuecomment-4445

[2018-12-05 19:45] rachelkam5 commented on #4113
@sashadev-sky Thank you!  I will get to work and let you know if I have any more questions!

[2018-12-05 19:45] SidharthBansal opened #4132 "Identify unique pages across website where user needs to authenticate"
We are creating modal for the login/signup process. We need to integrate it throughout the website to all the pages wherever login/signup is needed to use that area. Examples
* [x] I have done the activity column #4161
* [x] https://publiclab.org/w/power-tags#Inline+power+tags #4155
* [x] write a research note
         link- https://publiclab.org/post
        `plots2/app/views/sidebar/_related.htm

[2018-12-05 19:52] SidharthBansal commented on #963
@Cess Wairimu <cessmbuguar@gmail.com> It will be great if you can create a
milestone and put all your project related work in that milestone.
Changes looks good to me.
Thanks

On Tue, Dec 4, 2018 at 8:26 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-12-05 20:37] sashadev-sky commented on #4113
@rachaelkiteme Sounds good 👍

[2018-12-05 21:17] rachelkam5 commented on #4113
Hi @sashadev-sky I'm so sorry, but I don't think I'm cut out for this one.  I've spent a really long time trying to install Ubuntu, Bash, RVM, etc. and I'm getting error after error.  I'm so sorry!

[2018-12-05 21:46] sashadev-sky commented on #4113
@rachelkam5 Don't worry!! Ask as many questions as you'd like, thats what this issue is for :)

I received a lot of errors my first time setting up the repo as well. Maybe I can take a look at yours? Feel free to message me in the [Gitter chatroom](https://gitter.im/publiclab/publiclab) if you prefer.

[2018-12-05 22:11] cesswairimu commented on #963
Thanks @SidharthBansal, on it.

[2018-12-05 22:29] jywarren commented on #3924
:-)))

haha take a break first! lol

hope exams went really well. I'm sure it was a lot of work.

Great, and congrats!

On Wed, Dec 5, 2018 at 2:42 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-12-05 22:31] jywarren commented on #4127
that sounds great!

On Wed, Dec 5, 2018 at 2:19 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-05 22:31] jywarren commented on #4124
yes, that's just right. thank you!

On Wed, Dec 5, 2018 at 2:10 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-05 22:34] dinaelhanan commented on #4115
@jywarren I did think that too... I think it would be better to have the 4x4 grid rather than a line for the search results, and **then** change that up. Does that sound like a good idea? Thanks!

[2018-12-05 22:38] jywarren commented on #786
![screen shot 2018-12-05 at 5 37 30 pm](https://user-images.githubusercontent.com/24359/49548679-82610c00-f8b4-11e8-8e68-8328d007d694.png)

Something like this -- using code like:

[code]

[2018-12-05 22:40] jywarren commented on #786
Maybe it adds the text to the end if it is currently only "I did this!" -- but to the beginning if it's anything else? Or do the buttons disappear once you start typing? I'm just trying to think how to make it not just insert the text strangely before/after something you've actually already written...

[2018-12-05 22:43] JonathanXu1 commented on #2866
Hey, I've managed to hide the traditional login and have allowed for it to be shown when a button is pressed. Here is the demo on the login pane:
![login](https://user-images.githubusercontent.com/22998430/49548903-319de300-f8b5-11e8-8ef0-691224aa7c26.gif)

And on the signup pane:
![signup](https://user-images.githubusercontent.com/22998430/49548908-36629700-f8b5-11e8-9db0-a094b23c2f10.gif)

Now t

[2018-12-05 22:43] dinaelhanan commented on #786
I think that the comment suggestions are a really good idea. This should be a gci-candidate! It looks good for a first-timers since they really would just have to add the mentioned code above and add a link to the suggestion comment template (I think there's a link to that, I've seen issues with that template...) Hope that helps!

[2018-12-05 22:44] dinaelhanan commented on #2866
@JonathanXu1 that's so cool! Keep going it looks amazing!

[2018-12-05 22:49] jywarren commented on #2866
This is great. A couple thoughts -- perhaps, for people running things
locally where the OAuth versions aren't available, we could have it show by
default in cases where that's the only way to log in? Second, I was
thinking we could ditch the "OR" and just show an icon matching the other
OAuth icons (facebook, twitter) but with an envelope... as the last option
in the same row. What do you think?

[2018-12-05 23:11] JonathanXu1 commented on #2866
Sounds good. I'm unable to view the icons because I'm getting the error:
![image](https://user-images.githubusercontent.com/22998430/49550309-25b42000-f8b9-11e8-9648-f68342ac5619.png)

[2018-12-05 23:12] JonathanXu1 commented on #2866
Also I was wondering about the syntax for including new.html.erb as a component in the modal.

[2018-12-05 23:18] jywarren commented on #3756
Sorry, looks like you figure this out however -- yes, the envelope-o (the second one) looks like it would work!

[2018-12-05 23:44] JonathanXu1 commented on #2866
@jywarren could I get an extension? I have 15 hours left.

[2018-12-05 23:51] jywarren commented on #2866
of course - i'll extend now. For the errors, I don't think those should be
stopping you from viewing HTML/CSS -- they're warnings from the Facebook
widgets. What do you see on your screen?

Keep up the good work!

On Wed, Dec 5, 2018 at 6:44 PM Jonathan Xu <notifications@github.com> wrote:

[2018-12-06 00:15] jywarren commented on #4082
Was it perhaps #3706 ? Thank you!

[2018-12-06 00:19] JonathanXu1 commented on #2866
Thanks for the extension :)

This is what I currently see:
![image](https://user-images.githubusercontent.com/22998430/49552362-2a7cd200-f8c1-11e8-9888-8eecd51b5c9b.png)
^ So no icons display whatsoever

Also I'm having issues when I try to include the following in my modal:
**<%= render partial: 'user_sessions/new' %>**

[2018-12-06 00:33] ValentinaTironi commented on #4066
Hey everybody! Sorry for my absence, I was doing an exam! So, I'm agree with all of that. @oorjitchowdhary it's gonna be a pleasure work with you :)

@jywarren OK, thank you for clear that for me :) The button just has to display this `onClick="$('.blurred-location-input').click()"`? and that modal already exists or I have to create it too?

[2018-12-06 00:38] #4050 closed

[2018-12-06 00:42] jywarren commented on #786
Great idea! Would you like to post a first-timers-only issue for this? Usually when they're properly formatted and labelled, someone shows up real fast to solve it, and it's really fun. Little bit like fishing -- but for friends and collaborators! 🎣

[2018-12-06 00:54] jywarren commented on #4115
Re: bootstrap, it should already be installed - and you can add additional classes if you like, but there are a lot of Bootstrap classes available that can help you organize things. Take a look!

https://getbootstrap.com/docs/3.3/

Look at the grid layout in particular.

Hope that helps!

[2018-12-06 00:55] jywarren commented on #4115
Did you mean "and then change that up" meaning the links to more results of each type? Sure! But I think either way we can add those links in, they'll be similar in both layouts, even if they show up in different places.

[2018-12-06 01:01] jywarren commented on #3378
perhaps this was solved through another issue -- i think there was a
related one that may have resulted in a solution. But if you want to close
this and open a new one for the clicking issue, that's a great observation
as well!

On Wed, Dec 5, 2018 at 5:45 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-06 01:02] jywarren commented on #4066
That's right, the modal is already set up.

[2018-12-06 01:02] jywarren commented on #4072
I don't think it's especially linked, but you have the idea on the node
types. Yes!

On Wed, Dec 5, 2018 at 6:08 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-06 01:03] jywarren commented on #3696
Yes, Oorjit but you've already claimed a few, so perhaps choose just one at
a time? Thanks for your enthusiasm!!!

On Wed, Dec 5, 2018 at 4:57 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-06 01:08] jywarren commented on #4113
Yes, and there are some discussions on common install issues over at #3840 -- maybe that can help too!

[2018-12-06 01:22] ValentinaTironi commented on #4066
OK, I can do it, but there is an error in `blurred-location-input` button:
<img width="895" alt="screen shot 2018-12-05 at 10 19 54 pm" src="https://user-images.githubusercontent.com/20969831/49554691-f1059000-f8db-11e8-871c-58ece058160f.png">
The error is external to my changes, it existed before me... and my code works (do the click when I press `add location` button) What I have to do? Do I do

[2018-12-06 04:21] jywarren commented on #4066
Oh, does that error appear on the live site too? Maybe just open a new
issue for it please! And yes you can open a PR with your code. Thanks!

On Wed, Dec 5, 2018, 8:23 PM Valentina Tironi <notifications@github.com
wrote:

[2018-12-06 04:30] kevinzluo commented on #4123
Hi there!

I believe this may be solved by setting the input's value to `params[:query]`. We can maybe do this with some javascript.

[2018-12-06 09:18] cesswairimu opened #4137 "Statistics on questions asked vs questions answered"
Implement new statistics on the no. of questions answered versus questions asked filtered by a time range

[2018-12-06 09:19] cesswairimu opened #4138 "Caching of data"
Implement weekly caching of data to address the performance issues that may result from collating so much data.

[2018-12-06 09:22] cesswairimu opened #4139 "UI fixes for range pages and stats page"
* [x] Style `stats/range` page calendar section to be mobile responsive
* [x] Transform ` year, one month, or one week further back`  to fa arrow buttons
* [x]  Add cleaner links to range and subscriptions  pages on stats page
* [x] Re evaluate the choice of words used on the range page
* [x] Implement the new stats page design

[2018-12-06 09:29] cesswairimu opened #4140 "Stats on a per-tag basis"
Implement display of stats on a per-tag basis, via standard model functions with unit tests
* [ ] Move tag graphs to an individual page(this page) #4646
* [ ] Display stats for each tag

[2018-12-06 09:31] cesswairimu opened #4141 "First-timer poster tag script"
Script to go back through posts and tag first-timer posts with first-time-poster tag

[2018-12-06 10:40] wanzulfikri commented on #4113
@rachelkam5  Can I take a stab at this? If you are still working on this, do continue.

[2018-12-06 12:50] oorjitchowdhary commented on #4062
@puubliclab/reviewers I'd be glad to take this up.. after we've consensus for the design

[2018-12-06 12:57] rachelkam5 commented on #4113
@wanzulfikri Yes, please take over!  Thank you!

[2018-12-06 13:10] ValentinaTironi commented on #4066
Let me see if in the production code happens too

[2018-12-06 13:11] ValentinaTironi commented on #4066
OK, the error doesn't appear in the live mmmm I'm gonna save my changes and try again

[2018-12-06 13:14] wanzulfikri commented on #4113
@rachelkam5 Thanks! I’ll try to do it.

I’m a bit slow, so if anyone wants to do it and can complete it earlier than I, feel free to do it and submit the pull request.

[2018-12-06 13:20] ValentinaTironi commented on #4066
I removed my changes and the error still appearing there. I'm gonna to create the pull request anyway to @oorjitchowdhary can work on this. Now, I have to study for exams, but when I'm back, I'm gonna try to resolve this or create an issue if it is possible (maybe you two can help me @jywarren @oorjitchowdhary to see what is happening, I think is something asynchronously function)! Thank you!

[2018-12-06 14:30] SidharthBansal commented on #3439
I also could not find any way to delete. I hope decreasing instance count to zero works.

[2018-12-06 14:44] #3502 closed

[2018-12-06 14:48] SidharthBansal commented on #3502
@oorjitchowdhary I could not see any GCI task on the dashboard claimed by you.
Can you please claim it and provide me the link so that I can approve and you can work on a newer task?

[2018-12-06 14:53] oorjitchowdhary commented on #3502
@sidharthbansal I don't this task is put up on gci.. I saw the non beginners list too.. Couldn't see it.. I think you'll have to create one 😁

[2018-12-06 14:54] SidharthBansal commented on #3502
https://codein.withgoogle.com/dashboard/tasks/4528622330183680/
please claim it now
I am online now I will approve it now.
Thanks

[2018-12-06 14:58] #4124 closed

[2018-12-06 15:02] oorjitchowdhary commented on #3502
I've claimed it

On Dec 6, 2018, at 8:24 PM, Sidharth Bansal <notifications@github.com<mailto:notifications@github.com>> wrote:

https://codein.withgoogle.com/dashboard/tasks/4528622330183680/
please claim it now
I am online now I will approve it now.
Thanks

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/publiclab/plots2/iss

[2018-12-06 15:04] #4127 closed

[2018-12-06 15:12] SidharthBansal commented on #4115
@dinaelhanan just to inform you that creating issues and ftos each will be counted towards your GCI contributions. So if you are a GCI student and you have not claimed them, please claim it. I will approve them for you.
Thanks

[2018-12-06 15:15] SidharthBansal commented on #4127
@oorjitchowdhary please claim https://codein.withgoogle.com/dashboard/tasks/5692922734313472/
so that I can approve it.
Thanks for awesome work

[2018-12-06 15:16] oorjitchowdhary commented on #4127
Done..
Thanks a lot.. I'm really enjoying working with Public Lab 😄

[2018-12-06 15:16] SidharthBansal commented on #4124
@oorjitchowdhary please claim https://codein.withgoogle.com/dashboard/tasks/6542704897949696/ so that I can approve it.
Thanks

[2018-12-06 15:18] SidharthBansal commented on #4127
You will enjoy it more!!! :smile:

[2018-12-06 15:33] SidharthBansal commented on #4132
NO PR REQUIRED.
Just tell me some places where we need login modal to be displayed on clicking the login/sign up.
Example we should have login modal on the question page. You know that OAuth modal is worked upon in other prs. So this issue's implementation will be after that issues completion. I hope this makes sense.

[2018-12-06 15:34] oorjitchowdhary commented on #4132
Okay.. that seems good.. I'll then claim this one on gci in a while

[2018-12-06 15:35] SidharthBansal commented on #4062
@oorjitchowdhary @publiclab/reviewers you misspelt it. Be careful from next time.

[2018-12-06 15:38] SidharthBansal commented on #3924
Yeah a lot of stuff. :-)

[2018-12-06 15:43] SidharthBansal commented on #963
@cesswairimu as per Outreachy rules you need to write Blog post each week throughout the Outreachy period on the Public lab official website to tell us your progress.
Please mention what you have till now achieved, what are you currently working on and thinking to work upon.
Be thorough in writing the blogs. Be descriptive so that new folks next summer can read it and plan for Outreachy.
I hope th

[2018-12-06 15:43] SidharthBansal commented on #963
Can you please tell me the link to your Milestone so that I can have a look?
Thanks

[2018-12-06 15:45] cesswairimu commented on #963
Yes it does thanks. Here is the link https://github.com/publiclab/plots2/milestone/20 @SidharthBansal

[2018-12-06 15:45] uzorjchibuzor commented on #4113
@wanzulfikri

How far along are you? I also want to take a stab at this.

[2018-12-06 15:48] SidharthBansal commented on #4112
Published on the GCI dashboard.
Please claim it before anyone else claims it.
Thanks

[2018-12-06 15:51] SidharthBansal commented on #963
Please also add the work related to Outreachy which is merged.

Once you will create the blog please tag the mentors so that we can review.
Thanks

[2018-12-06 15:52] SidharthBansal commented on #963
Thanks for creating the Milestone.
Looks good to me!

[2018-12-06 16:17] wanzulfikri commented on #4113
@uzorjchibuzor

Honestly - zero progress.

You can try if you want.

I don’t own it haha.

[2018-12-06 16:18] namangupta01 commented on #4112
@SidharthBansal where is the pull request for this?

[2018-12-06 17:33] cesswairimu opened #4147 "Refactor stats controller"
Refactor https://github.com/publiclab/plots2/blob/master/app/controllers/stats_controller.rb

[2018-12-06 17:38] mohitRJranjan commented on #4132
* [ ] write a research note
* [ ] follow a post
* [ ] like a post

[2018-12-06 17:47] oorjitchowdhary commented on #4132
@SidharthBansal
* ask a question
* comment
* I have done activity column
* Get Involved tab => Post your work
* Like, follow, Flag as spam, Emoji on posts, comments and wikis
* Tag click => Follow => Login/Sign up

[2018-12-06 17:52] SidharthBansal commented on #4112
Sorry. Put label in wrong issue.

[2018-12-06 17:52] SidharthBansal commented on #4112
No one is currently working on this issue

[2018-12-06 17:54] SidharthBansal commented on #4132
@mohitRJranjan @oorjitchowdhary please don't write same points. Also, supply the route for it.
Thanks

[2018-12-06 17:55] oorjitchowdhary commented on #4132
okay

[2018-12-06 18:04] SidharthBansal commented on #4132
@oorjitchowdhary please organise in the form of checkboxes. Append the above changes also.
Thanks

[2018-12-06 18:09] SidharthBansal commented on #2866
locally where the OAuth versions aren't available, we could have it show by
default in cases where that's the only way to log in?

Oauth works well on the localhost, just you need to configure the keys.

[2018-12-06 18:10] oorjitchowdhary commented on #4132
- [ ] Get Involved Tab -> Post your work
`app/views/layouts/_header.html.erb`
- [ ] Like, follow, Flag as Spam, Emoji on comments and wikis
`app/views/notes/_comment.html.erb`
`app/views/questions/_answers.html.erb`
`app/views/questions/_answer.html.erb`
`app/views/wiki/_header.html.erb`

[2018-12-06 18:11] oorjitchowdhary commented on #4132
This works? @SidharthBansal

[2018-12-06 18:16] oorjitchowdhary commented on #2866
Even I wasn't able to see the social icons on running localhost when I was doing my PR #4116
@SidharthBansal How can I configure the keys?

[2018-12-06 18:17] SidharthBansal commented on #2866
@JonathanXu1 we can delete Rails.production line from all the places for social link icons.
This will avoid the further confusions happening.

[2018-12-06 18:21] SidharthBansal commented on #4132
app/views/notes/_comment.html.erb
app/views/questions/_answers.html.erb
app/views/questions/_answer.html.erb
app/views/wiki/_header.html.erb

break this properly into different checkboxes and write sequence of flow for modal to get integrated.
Also append https://github.com/publiclab/plots2/issues/4132#issue-387916183 checkboxes with description.
Thanks

[2018-12-06 18:31] SidharthBansal commented on #2866
https://github.com/publiclab/plots2/pull/4148 created this. I hope now we can create the modal easily.

[2018-12-06 18:41] SidharthBansal commented on #4120
@oorjitchowdhary I agree with @dinaelhanan. What do you say @jywarren?

[2018-12-06 19:05] JonathanXu1 commented on #2866
Hi, I've gotten the icons to appear and moved the login within a modal. The email login is also toggle-able with the email button.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/22998430/49605947-f60c2300-f95f-11e8-9dbf-72212fa11c36.gif)

[2018-12-06 19:10] SidharthBansal commented on #2866
I think it will be better to show the text instead of icon. Icon seems confusing to me.

Well done!!!
Can you tell the PR number?

[2018-12-06 19:15] JonathanXu1 commented on #2866
It's #4113 . I believe @jywarren requested for an icon, so I changed my original button to that.

[2018-12-06 19:19] SidharthBansal commented on #3755
@jywarren https://github.com/publiclab/plots2/pull/4116#issuecomment-444992633 please give your opinion. If you agree upon this, please close #3755 and #4116.

[2018-12-06 19:21] SidharthBansal commented on #2866
I think you misspelled the pr number. OK. Changes looks awesome to me.

[2018-12-06 19:42] jywarren commented on #3571
Hi @greysteil -- we've installed it on a few more projects, and the NPM based ones really have a lot of updates to run. Cool!

https://github.com/publiclab/spectral-workbench.js/pulls

https://github.com/publiclab/PublicLab.Editor/pulls

One question I had was, is it possible to get dependabot to run a build script? We've considered trying to set up an autobuild bot or something to run `grunt buil

[2018-12-06 19:51] JonathanXu1 commented on #2866
It's #4113 . I believe @jywarren requested for an icon, so I changed my original button to that.

[2018-12-06 19:51] SidharthBansal commented on #2258
https://github.com/publiclab/plots2/issues/2258#issuecomment-439768310 correct.
Sorry for late replies. I was busy with my university work.
@okonek I will review it.

[2018-12-06 20:00] jywarren commented on #2866
I think the icon looks good as "one mode of logging in" but perhaps some
extra explanatory text would help -- something like this -- and maybe we
should still say OR but it could be between the buttons?
Click to log in with one of these methods:

[1] [2] [3] or [email]

What do you think? It's really helpful to see the gif, thank you!

On Thu, Dec 6, 2018 at 2:52 PM Jonathan Xu <notifications@gith

[2018-12-06 20:01] SidharthBansal commented on #3675
You just need to use # symbol before the issue number and write the #issue in the comments. It will automatically get referred.

[2018-12-06 20:03] SidharthBansal commented on #3675
Thanks for creating the issue. It looks Perfect to me.

[2018-12-06 20:05] SidharthBansal commented on #3675
@jywarren @gauravano as both the prs listed in https://github.com/publiclab/plots2/issues/3675#issuecomment-443337750 are merged, can we close this issue?

[2018-12-06 20:05] JonathanXu1 commented on #4132
@mohitRJranjan @oorjitchowdhary have you guys claimed this task? I see it's still available on the dashboard.

[2018-12-06 20:06] jywarren commented on #963
Hi Cess -- I like Sidharth's point of blogging -- you should feel free to
blog at PublicLab.org -- how does that sound?

Thanks!

On Thu, Dec 6, 2018 at 10:52 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-12-06 20:07] SidharthBansal commented on #4132
@JonathanXu1 it is multiple instance count task. They have done the task. If you wish to do it you can claim and suggest me. Thanks

[2018-12-06 20:09] SidharthBansal commented on #2866
Yeah, we can write email below the icon and have ``OR`` between them.
Great idea Jeff.

[2018-12-06 20:10] JonathanXu1 commented on #2866
How's this?
![image](https://user-images.githubusercontent.com/22998430/49609312-1b515f00-f969-11e8-8ce4-ac4c111e8cd5.png)

[2018-12-06 20:15] SidharthBansal commented on #2866
Place ``OR`` between social media icons and Login with email

[2018-12-06 20:20] jywarren commented on #4062
@oorjitchowdhary perhaps you could work with @dinaelhanan a bit in #4115 to think about how to apply Bootstrap styles to the design ideas there?

[2018-12-06 20:21] SidharthBansal commented on #3976
@sashadev-sky I could not see the error reported in the issue on the main production website. So I think we can close this.

[2018-12-06 20:21] #3976 closed

[2018-12-06 20:34] dinaelhanan commented on #786
@jywarren Ok, I'll finish up the two tag unit tests at saturday latest and have the issue up by sunday. Thanks!

[2018-12-06 20:38] SidharthBansal commented on #3457
NO @oorjitchowdhary all the issue which are labelled with the `fto-candidate` or `first-timers-only`  label are specially designed for beginners.
You can take on other tasks to help us.

[2018-12-06 20:39] SidharthBansal commented on #3457
Published https://codein.withgoogle.com/dashboard/tasks/5749268141834240/ on GCI dashboard

[2018-12-06 20:40] dinaelhanan commented on #4115
@jywarren that's a great idea! @SidharthBansal I only see one task for creating a break up issue. I've claimed and completed one. This is a second one. If you could add another task for making a first timer issue, I'd be happy to claim it and submit for review. Thanks!

[2018-12-06 20:40] jywarren commented on #3675
Yes and I made a follow-up for refining the 'new_contributor' model code,
too!

On Thu, Dec 6, 2018 at 3:05 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-12-06 20:41] dinaelhanan commented on #4062
ya @oorjitchowdhary I think that would be a great idea!
@jywarren is there a task for this? If not, I'd be happy to claim it after the 2 tag unit test is complete :)

[2018-12-06 20:44] jywarren commented on #2866
This looks great. I have a slight preference for the bootstrap
"btn-default" style, which is black text on a white button with grey
outline, but i'm not super intense about it! :-)

On Thu, Dec 6, 2018 at 3:15 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-12-06 20:45] jywarren commented on #786
awesome!

On Thu, Dec 6, 2018 at 3:35 PM d1g1t4ld1n4 <notifications@github.com> wrote:

[2018-12-06 20:48] dinaelhanan commented on #4112
I took above up another issue, and I have two more I would like to take. If by tuesday it is still not claimed and I'm finished the other two, I will take it. Otherwise, feel free everyone else to take it! :)

[2018-12-06 20:50] SidharthBansal commented on #2866
@JonathanXu1 please continue the conversation in the PR, instead of issue.

[2018-12-06 20:51] SidharthBansal commented on #3675
Great!
Closing this now

[2018-12-06 20:51] #3675 closed

[2018-12-06 20:58] jywarren commented on #4120
Yes, this was intentional. However, if we could restate the problem, we could really use a solution -- the text does not evenly scale as the screen width changes (try uploading a gif to demonstrate this!) and the break points are not good. I wonder if there is some clever CSS we could use to make the font scale more evenly with the size of the image. Or some other way to deal with text flowing nic

[2018-12-06 21:04] JonathanXu1 commented on #2866
![image](https://user-images.githubusercontent.com/22998430/49611766-95391680-f970-11e8-835d-8615f2e99587.png)

[2018-12-06 21:10] dinaelhanan commented on #4120
@jywarren is this similar? https://stackoverflow.com/a/16346076

[2018-12-06 21:14] dinaelhanan commented on #4112
@SidharthBansal I will take this once I get this GCI task approved: https://codein.withgoogle.com/dashboard/task-instances/4824240835526656/

[2018-12-06 21:16] dinaelhanan commented on #4112
@namangupta01 what do you mean by moving it to a new function? I see that it is inside a function just like the gmail one here :
https://github.com/publiclab/plots2/blob/ff870dea11781ab5ed50a806a55f362210f3a638/app/models/comment.rb#L299

[2018-12-06 21:34] SidharthBansal commented on #3760
@sashadev-sky if you want you can try this one.
Please leave a comment so that we can know that you have started working on the issues

[2018-12-06 21:36] kevinzluo commented on #3698
Unfortunately the first 2 tasks are marked as beginner (GCI students are only allowed to complete 2 beginner tasks), so I and many others are currently unable to complete them. I will try to do the rest 👍 .

[2018-12-06 21:37] jywarren commented on #4120
exactly!!!!! great demo too:

On Thu, Dec 6, 2018 at 4:11 PM d1g1t4ld1n4 <notifications@github.com> wrote:

[2018-12-06 21:39] SidharthBansal commented on #3426
Thanks @oorjitchowdhary for pointing it out.
I will create it now.
https://codein.withgoogle.com/dashboard/tasks/6068848605265920/
is the task

[2018-12-06 21:43] jywarren commented on #4062
Sure, which part shall we make a task for?

[2018-12-06 21:55] SidharthBansal commented on #3698
@kevinzluo thanks for reporting.
@jywarren I have created two tasks so that non beginners can also help us. They are INTENTIONALLY duplicate tasks
https://codein.withgoogle.com/dashboard/tasks/5464186466336768/
https://codein.withgoogle.com/dashboard/tasks/6406765190053888/

[2018-12-06 22:03] dinaelhanan commented on #4062
This one, on the other issue, seem like a good task! https://github.com/publiclab/plots2/issues/4115#issuecomment-445020693

[2018-12-06 22:06] cesswairimu commented on #963
@jywarren souds good. Thanks.

[2018-12-06 22:07] dinaelhanan commented on #4120
@jywarren Ok, then I think as part of : https://github.com/publiclab/plots2/issues/4062 this should be the first step (kinda like an intro to changing up the style) so if you can make a task for this, I will take it up right away. Thanks!

[2018-12-06 22:08] dinaelhanan commented on #4115
@SidharthBansal I will, I'm just waiting for my previous task to be reviewed. I have adding the link in the comment. Thanks!
https://codein.withgoogle.com/dashboard/task-instances/4824240835526656/

[2018-12-06 22:09] SidharthBansal commented on #4120
Ok I am creating a task for this issue.

[2018-12-06 22:10] SidharthBansal commented on #4120
https://codein.withgoogle.com/dashboard/tasks/4615033783844864/

[2018-12-06 22:11] dinaelhanan commented on #4120
@SidharthBansal thanks! I just need this to be approved if you can :
https://codein.withgoogle.com/dashboard/task-instances/4824240835526656/

[2018-12-06 22:13] SidharthBansal commented on #4120
I am little cautious, let's wait for @jywarren to approve it

[2018-12-06 22:13] dinaelhanan commented on #4120
@SidharthBansal sounds good!

[2018-12-06 22:13] SidharthBansal commented on #4062
You mean #4062 issue?

[2018-12-06 22:15] dinaelhanan commented on #4062
@SidharthBansal  it is another issue but is also about styling. I thought it would be a good idea to have that other issue as  introduction to changing the style and then this one is a bigger change

[2018-12-06 22:17] SidharthBansal commented on #4062
Created https://codein.withgoogle.com/dashboard/tasks/6079853452328960/ for https://github.com/publiclab/plots2/issues/4115#issuecomment-445020693

[2018-12-06 22:31] jywarren commented on #4120
👍 Awesome!

[2018-12-06 22:33] jywarren commented on #4120
And be aware -- this code is currently stored in the database, rather than in the codebase. So it's editable by site admins. But that means the solution for this will be probably stylesheets and a screenshot rather than a PR. The code driving this on the site is here:

https://gist.github.com/jywarren/b137484ae621dc00a4c48537fd00386b

I hope this makes sense. It's a little weird, but we often don'

[2018-12-06 22:35] jywarren commented on #4120
Locally you can work by logging in as admin, and going to https://localhost:3000/features/... an admin-only feature, and creating a new feature called "home-carousel", like this:

![image](https://user-images.githubusercontent.com/24359/49615969-362dce80-f97d-11e8-8363-1e010a165113.png)

Then you can paste in the code from the gist above -- and it'll show up on your local installation's home page

[2018-12-06 22:35] ValentinaTironi commented on #4092
Sorry for the delay! About your question: I don't see it locally

<img width="1280" alt="screen shot 2018-12-06 at 7 20 27 pm" src="https://user-images.githubusercontent.com/20969831/49615774-549bc600-f98d-11e8-89ce-731ecbf70b76.png">

Try create one in your project and let me know if the button appears!
@oorjitchowdhary

[2018-12-06 22:51] jywarren commented on #4092
Yes, i added that button manually! Sorry to confuse you, but we want it
added automatically as in prior types of grids. Thanks!

On Thu, Dec 6, 2018 at 5:36 PM Valentina Tironi <notifications@github.com>
wrote:

[2018-12-06 23:35] SidharthBansal commented on #3653
@vikul1234 please use permalink instead of temporary line numbers

[2018-12-06 23:49] jywarren commented on #4123
oh that would be amazing -- you could even set it in the template in ruby
no?

On Wed, Dec 5, 2018 at 11:31 PM kevinzluo <notifications@github.com> wrote:

[2018-12-06 23:51] jywarren commented on #4122
we have that plan, yes! Actually it will hopefully be worked on soon!

On Wed, Dec 5, 2018 at 1:59 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-06 23:52] jywarren commented on #3482
yes please!

On Wed, Dec 5, 2018 at 7:17 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-06 23:52] jywarren commented on #3817
Or maybe just solved! Anyhow, fixed!

[2018-12-06 23:52] #3817 closed

[2018-12-06 23:56] SidharthBansal commented on #3915
@cesswairimu can you please review #3918 and resolve the conflict. So that we can merge it?

[2018-12-07 00:21] SidharthBansal opened #4151 "Link Login Modal to Research Note"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to write a research note.
link- https://publiclab.org/post
plots2/app/views/sidebar/_related.html.erb

[2018-12-07 00:24] SidharthBansal opened #4152 "Link Login Modal to follow a post"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to follow a post
link - https://publiclab.org/notes/joyofsoy/11-09-2018/fighting-the-flood-community-activism-and-education-in-pensacola
        `app/views/users/_follow.html.erb`

[2018-12-07 00:25] SidharthBansal opened #4153 "Link Login Modal to like a note"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to like a post on Research note
 link - https://publiclab.org/notes/joyofsoy/11-09-2018/fighting-the-flood-community-activism-and-education-in-pensacola
       `app/views/like/_like.html.erb`

[2018-12-07 00:27] SidharthBansal opened #4154 "Login Modal to like wiki page"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to like wiki page
link https://publiclab.org/wiki/lego-spectrometer

[2018-12-07 00:31] SidharthBansal opened #4155 "Link Login Modal to power tag wiki page"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to ``login ``text on https://publiclab.org/w/power-tags#Inline+power+tags
![image](https://user-images.githubusercontent.com/20972099/49620099-82acf480-f9e5-11e8-8d95-ff6c8957a159.png)

[2018-12-07 00:34] SidharthBansal opened #4156 "Link Login Modal to Comments page on notes"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to Comments page on notes
[publiclab.org/notes/](url)
`app/views/notes/_comments.html.erb`
![screenshot 54](https://user-images.githubusercontent.com/39333058/49604710-a572e500-f9b4-11e8-9d97-4f4d0e5fba4b.png)

[2018-12-07 00:37] SidharthBansal opened #4157 "Link Login Modal to Answers page on /questions"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to Answers page on /questions
[publiclab.org/questions/](url)
`app/views/questions/_answers.html.erb`

![screenshot 55](https://user-images.githubusercontent.com/39333058/49604855-01d60480-f9b5-11e8-9137-f206a66cb77e.png)

[2018-12-07 00:38] SidharthBansal opened #4158 "Link Login Modal to Compose new answer on Answers on /questions"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to Compose new answer on Answers on /questions
[publiclab.org/questions/](url)
`app/views/questions/_answer.html.erb`

[2018-12-07 00:40] SidharthBansal opened #4159 "Link Login Modal to Flag button"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to Questions page
publiclab.org/questions/
app/views/questions/show.html.erb
![image](https://user-images.githubusercontent.com/20972099/49638664-da238280-fa2e-11e8-9d78-6891ec926d60.png)

[2018-12-07 00:41] SidharthBansal opened #4160 "Link Login Modal to Subscribe Tags"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to Subscribe/Follow Tags
[publiclab.org/tags/](url)
`app/views/tag/index.html.erb`

![screenshot 56](https://user-images.githubusercontent.com/39333058/49605767-6db96c80-f9b7-11e8-9ad2-643fb3b10ff3.png)

[2018-12-07 00:46] SidharthBansal opened #4161 "Link Login Modal to add an activity"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to add an activity
![image](https://user-images.githubusercontent.com/20972099/49620605-aa04c100-f9e7-11e8-9514-03868626a659.png)

[2018-12-07 00:50] SidharthBansal commented on #4132
@oorjitchowdhary Can you please help me for creating issues for your comment https://github.com/publiclab/plots2/issues/4132#issuecomment-444972178

[2018-12-07 00:52] SidharthBansal commented on #4132
I have created some tasks so please see that your tasks will not repeat with my issues created.

[2018-12-07 00:56] SidharthBansal opened #4162 "Link Login Modal to header"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to header with the Sign Up and Login button on the topmost righmost corner.

[2018-12-07 01:00] SidharthBansal opened #4163 "Navbars should be on the same horizontal line"
Navbars should be on the same horizontal line
Check out https://publiclab.org/profile/warren
![image](https://user-images.githubusercontent.com/20972099/49621049-95c1c380-f9e9-11e8-90c7-2b4643cec808.png)

Mapknitter is on the next line

[2018-12-07 01:03] SidharthBansal opened #4164 "Suggestion: Follow people on Public Lab"
Many websites allow users to follow each other and form web. By this people will be able to know what their friends are doing. @ebarry @jywarren @publiclab/mentors what do you suggest?

[2018-12-07 01:04] SidharthBansal opened #4165 "Link Login Modal to Spam on wiki pages"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to Spam on wiki pages
![image](https://user-images.githubusercontent.com/20972099/49621189-1aacdd00-f9ea-11e8-98bf-ba627459e8a1.png)
On clicking on the spam icon, modal should be shown

[2018-12-07 01:10] SidharthBansal commented on #4151
Published on GCI dashboard

[2018-12-07 01:11] SidharthBansal commented on #4153
This task is published on GCI dashboard. Thanks all.

[2018-12-07 01:13] SidharthBansal commented on #4154
This task is published on GCI dashboard. Thanks all.

[2018-12-07 01:13] SidharthBansal commented on #4155
This task is published on GCI dashboard. Thanks all.

[2018-12-07 01:17] SidharthBansal commented on #4157
This task is published on GCI dashboard. Thanks all.

[2018-12-07 01:18] SidharthBansal commented on #4158
This task is published on GCI dashboard. Thanks all.

[2018-12-07 01:20] SidharthBansal commented on #4159
This task is published on GCI dashboard. Thanks all.

[2018-12-07 01:21] SidharthBansal commented on #4164
@jywarren I have created a new label ``brainstorm`` for requirement elicitation issues.

[2018-12-07 01:30] kevinzluo commented on #4123
Could I open a FTO issue for this?

[2018-12-07 04:14] ValentinaTironi commented on #4082
Hey guys! Someone needs help here?

[2018-12-07 04:15] ValentinaTironi commented on #4092
@oorjitchowdhary are you still working on this?

[2018-12-07 07:35] SidharthBansal commented on #3755
@oorjitchowdhary can you please close the pr relating your issues.
Also, claim the task on the GCI dashboard, I need to give you credits as you worked on it.
Give me link to the task

[2018-12-07 08:19] SidharthBansal commented on #3698
Whenever any GCI student does any of the following task the student will get credit
https://github.com/publiclab/plots2/wiki/Google-Code-In-Tasks
So, if you can't find these support tasks on GCI we will be happy to create an issue for you.

Also, there is a nice list of `fto-candidate` issues on the plots2. You can earn credits by converting it to the `first-timers-only` issue by using first timer

[2018-12-07 08:33] SidharthBansal commented on #4111
yeah go ahead

[2018-12-07 08:36] SidharthBansal commented on #3756
@oorjitchowdhary please take any other issue. Someone else is working on this.

[2018-12-07 08:46] SidharthBansal commented on #4160
This task is published on GCI dashboard. Thanks all.

[2018-12-07 08:47] SidharthBansal commented on #4161
This task is published on GCI dashboard. Thanks all.

[2018-12-07 08:48] cesswairimu commented on #3915
@SidharthBansal cool, on it.

[2018-12-07 08:48] SidharthBansal commented on #4162
This task is published on GCI dashboard. Thanks all.

[2018-12-07 08:49] SidharthBansal commented on #4163
This task is published on GCI dashboard. Thanks all.

[2018-12-07 08:51] SidharthBansal commented on #4165
This task is published on GCI dashboard. Thanks all.

[2018-12-07 08:53] SidharthBansal opened #4168 "Link SignUp Modal to Sidebar on wiki pages"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to Sidebar on wiki pages
![image](https://user-images.githubusercontent.com/20972099/49637543-a6932900-fa2b-11e8-9e3c-1ef53241f121.png)

[2018-12-07 08:54] SidharthBansal commented on #4168
This task is published on GCI dashboard. Thanks all.

[2018-12-07 08:55] SidharthBansal commented on #4132
* [x] Sidebar on wiki pages
![image](https://user-images.githubusercontent.com/20972099/49637518-94b18600-fa2b-11e8-8562-fca584e5dfa7.png) #4165

[2018-12-07 08:57] SidharthBansal opened #4169 "Link Login Modal to dashboard Ask a question"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to dashboard Ask a question
![image](https://user-images.githubusercontent.com/20972099/49637721-36d16e00-fa2c-11e8-95ce-3f679eef19e8.png)

[2018-12-07 09:01] SidharthBansal opened #4170 "Link Login Modal to Join Now on dashboard"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to Join Now on dashboard
![image](https://user-images.githubusercontent.com/20972099/49637912-b3644c80-fa2c-11e8-8935-f8db5377b7bd.png)

[2018-12-07 09:02] SidharthBansal commented on #4170
Published on the gci dashboard

[2018-12-07 09:04] SidharthBansal commented on #4152
This task is published on GCI dashboard. Thanks all.

[2018-12-07 09:05] SidharthBansal commented on #4156
This task is published on GCI dashboard. Thanks all.

[2018-12-07 09:06] SidharthBansal commented on #4169
This task is published on GCI dashboard. Thanks all.

[2018-12-07 09:18] SidharthBansal commented on #4159
On `post an answer button` and `flag as spam button` both

[2018-12-07 09:19] oorjitchowdhary commented on #3755
@sidharthbansal, @jywarren closed it.. There isn't a task for this issue on gci.. Pls create one.. Thanks a lot

[2018-12-07 09:24] SidharthBansal opened #4171 "Link Login Modal to Try out the activity on the sidebar."
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to Try out the activity on the sidebar.
https://publiclab.org/questions/LaPa/12-03-2015/how-do-i-set-a-costum-white-balance-of-the-noir-modulo-cam
![image](https://user-images.githubusercontent.com/20972099/49639053-f542c200-fa2f-11e8-893c-2a87f9de4aa7.png)

[2018-12-07 09:30] oorjitchowdhary commented on #4171
@SidharthBansal could you please create a task for #3755 too..

[2018-12-07 09:32] SidharthBansal commented on #4171
Yeah I created these issues because each separate parts needs to be checked
completely before merge.
Even though the number of lines is small, but proper rendering action needs
to be checked. Like whether the user is getting redirected to same place or
not. Is the user experience good with modal on this page etc...
We don't want redundancy. We are trying to give a better user interface.

On Fri, D

[2018-12-07 09:32] SidharthBansal commented on #3755
Can you please tell the pull request for this issue upon which you worked and presently is closed?

[2018-12-07 09:34] oorjitchowdhary commented on #3755
I worked on this with PR #4116

[2018-12-07 09:36] oorjitchowdhary commented on #4171
Absolutely.. I totally agree..

On Dec 7, 2018, at 3:02 PM, Sidharth Bansal <notifications@github.com<mailto:notifications@github.com>> wrote:

Yeah I created these issues because each separate parts needs to be checked
completely before merge.
Even though the number of lines is small, but proper rendering action needs
to be checked. Like whether the user is getting redirected to same place or
not

[2018-12-07 09:43] SidharthBansal commented on #3755
I really appreciate that you are not blindly sending the patches to the issues. You are also checking what's going on in Public Lab. That's great.
I really liked your work.
Please claim it, I will approve it now.
 https://codein.withgoogle.com/dashboard/tasks/5689033305882624/

[2018-12-07 09:45] oorjitchowdhary commented on #3755
Thanks a lot.. I've claimed the task..

[2018-12-07 09:53] SidharthBansal commented on #3755
Approved it
Thanks

On Fri, Dec 7, 2018 at 3:16 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-07 10:09] SidharthBansal commented on #3915
Closing the issue as per your request in #3918.
Feel free to close the issues which are completed.

[2018-12-07 10:09] #3915 closed

[2018-12-07 10:17] naveenanilabs commented on #4113
can i work on this issue.

[2018-12-07 10:18] navkumar2245 commented on #4113
can i work on this issue if not fixed.

[2018-12-07 10:57] oorjitchowdhary commented on #4164
Yes, I think that's a great idea.. We've `follow` for tags and that is used widely... I think we should implement `follow` for people too..

[2018-12-07 11:20] SidharthBansal commented on #4164
@oorjitchowdhary This issue need not be implemented until @jywarren @ebarry agrees upon it.

[2018-12-07 13:26] kevinzluo opened #4172 "Allow search term to remain editable."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all) built off #4123 . This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out a

[2018-12-07 13:39] JonathanXu1 opened #4173 "Create signup modal"
As an extension of #4133 , and similar to the issue of #2866 , we will need to create a modal that pops up when the user clicks the "signup" button in the navbar:
![image](https://user-images.githubusercontent.com/22998430/49650759-5603d780-f9fb-11e8-81bf-e22f121e200f.png)

A modal should pop up, with the contents of this page: https://publiclab.org/signup
Here's the modal for logging in:
![image]

[2018-12-07 14:03] greysteil commented on #3571
Hey @jywarren, that's awesome!

On running a build script: there's no way for Dependabot to do that at the moment :-( Perhaps a use case for the new GitHub Actions?

On running on an untested codebase: that should be totally fine - won't mess anything up on the Dependabot side, and *hopefully* the compatibility scores will make knowing what's non-breaking a little easier :-)

[2018-12-07 14:06] ValentinaTironi commented on #4066
Hey @jywarren What I have to do with the error? Can you check if locally it appears too? In production code doesn't appear, maybe is my computer? I don't know. Can you help me here?

[2018-12-07 15:46] SidharthBansal commented on #4173
Sorry for the misunderstanding.
You need to enlarge the existing modal so that it will have sign up form also.
Check the sign up form for codechef.com
May be that will help us.
You need not to create second modal.

Also, please claim the suggest changes issue on the GCI dashboard I will give you rewards.

[2018-12-07 16:06] JonathanXu1 commented on #4173
Alright, I'll add the signup to the modal. While I'm working on that, I've claimed the suggest changes issue and submitted that.

[2018-12-07 16:09] SidharthBansal commented on #4173
Approved it!
Can you claim it again?

[2018-12-07 16:14] SidharthBansal commented on #4123
Yeah great work. Can you please claim the task on the gci dashboard so that I can give you rewards.
@jywarren can we know close this issue as @kevinzluo has created first timer for this issue

[2018-12-07 16:19] JonathanXu1 commented on #4173
Nope, not anymore :) I'm trying to add the signup form in a new modal like such:

![image](https://user-images.githubusercontent.com/22998430/49659302-ee0cbb80-fa11-11e8-8be7-c961056cdda9.png)
However I'm getting the error:
![image](https://user-images.githubusercontent.com/22998430/49659317-f82eba00-fa11-11e8-9132-c4812da8fc80.png)

Not sure if you meant this way of adding the signup.

[2018-12-07 16:32] SidharthBansal commented on #4173
I was looking forward for this design
![image](https://user-images.githubusercontent.com/20972099/49659891-3ad0b080-fa6b-11e8-8d91-4c39182efedf.png)
![image](https://user-images.githubusercontent.com/20972099/49659907-445a1880-fa6b-11e8-801a-eaff68bd9f6e.png)
In the form of a modal, a line in between dividing the sign up and login
Like
Sign up

[2018-12-07 16:41] SidharthBansal commented on #4113
@sashadev-sky
please use permalinks instead of line numbers. They are adjusted as the other changes are merged by other users..

[2018-12-07 16:45] SidharthBansal commented on #4113
Solved in #4146

[2018-12-07 16:54] oorjitchowdhary commented on #4092
Okay.. I'll open a PR in a while..

[2018-12-07 17:09] JonathanXu1 commented on #4173
Mhmm, the design would be pretty easy for that, but I'm having trouble including the form component. It only works if I'm on the signup page because of line 2:

<%= form_for @user, :url => {:controller => 'users', :action => @action}, :html => {:class => "row"} do f| %>

If I can get it to work anywhere outside the signup page I can add signup functionality to the modal.

[2018-12-07 17:12] SidharthBansal commented on #4173
Can we complete #4133 first OR are you willing to push changes to that PR?

[2018-12-07 17:14] jywarren commented on #4173
OK, I'm sort of thinking let's get this working really well with the modal for login, and treat sign up as a separate task/issue. The reason is that i thought about this a lot and there is just more content on the signup form: https://publiclab.org/signup (in incognito mode or not logged in). So, let's get the login working smoothly before we take on this 2-column version which seems almost like a

[2018-12-07 17:16] jywarren commented on #4173
I apologize for the confusion about the email button -- and Sidharth's idea of OR happening with a horizontal line does still make sense too:

![image](https://user-images.githubusercontent.com/24359/49662464-e05b3400-fa19-11e8-8d24-3124edd41a6c.png)

[2018-12-07 17:16] jywarren commented on #4173
Thanks everyone for this quite complex set of inter-related issues!

[2018-12-07 17:16] night1300013 commented on #4172
May I take care of this issue? Thanks.

[2018-12-07 17:16] JonathanXu1 commented on #4173
Personally, I think the signup should not be placed in a modal as there is much text, information and content that would make it very difficult to read in a modal. Also, since it is a one-time event, a page would not affect the ui much afterwards. That's just my opinion; you probably have reasons to include it as a modal.

[2018-12-07 17:18] JonathanXu1 commented on #4173
@jywarren @SidharthBansal can I apply the changes to the design of the login modal and push just the login modal as a solution for #4133 ?

[2018-12-07 17:22] jywarren commented on #4173
Hmm, @SidharthBansal what do you think? Signup is quite a bit more complex, maybe it needs more thought esp. for narrow smartphone screens. We could break this issue in two and solve the first part completely?

[2018-12-07 17:41] jywarren commented on #4172
Please go ahead!

On Fri, Dec 7, 2018 at 12:17 PM Shang <notifications@github.com> wrote:

[2018-12-07 17:41] jywarren commented on #4092
You can make a new wiki page, and add the text "[notes:grid:test]" to a new
line in there, and save. That should work!

On Fri, Dec 7, 2018 at 12:25 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-07 17:42] oorjitchowdhary commented on #4092
Okay thanks

[2018-12-07 17:45] oorjitchowdhary commented on #4092
That doesn't work @jywarren

[2018-12-07 17:46] jywarren commented on #4163
This could be solved by using Bootstrap classes to hide the text (leaving
only the icon) for narrower width screens!

On Fri, Dec 7, 2018 at 3:50 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-12-07 17:50] jywarren commented on #3188
This didn't end up solving the issue, unfortunately! Reopening to see if we can develop another solution.

[2018-12-07 17:51] oorjitchowdhary commented on #3460
I think we should plan to integrate `comments` and `answers` ..
There is a lot of common code between both..
A lot of issues are based on it.. #3534 #4122 etc.. I also mentioned this here https://github.com/publiclab/plots2/issues/4122#issuecomment-444601504

I feel by dividing it into smaller issues, we will be able to do this big and important task, faster! 😄

[2018-12-07 17:56] jywarren commented on #3460
Oorjit yes agreed!! https://github.com/publiclab/plots2/issues/4094

On Fri, Dec 7, 2018 at 12:51 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-07 17:56] jywarren commented on #4092
what do you see? You can see examples of thumbnail grids at
https://publiclab.org/micro for reference!

On Fri, Dec 7, 2018 at 12:46 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-07 17:57] jywarren commented on #3571
thanks!

On Fri, Dec 7, 2018 at 9:03 AM Grey Baker <notifications@github.com> wrote:

[2018-12-07 17:59] oorjitchowdhary commented on #4092
When I use `[notes:grid:test]`, nothing comes up.. it simply prints this on the page

[2018-12-07 18:01] oorjitchowdhary commented on #3460
That is great.. I'll be happy to work on it too even after gci ending

[2018-12-07 18:01] oorjitchowdhary commented on #3460
https://codein.withgoogle.com/dashboard/task-instances/4769170563530752/
Please approve 😃

[2018-12-07 18:03] jywarren commented on #4092
Perhaps you don't have any notes tagged with `test`?

[2018-12-07 18:04] oorjitchowdhary commented on #4092
Nope, i have it.. 2 of them actually

[2018-12-07 18:07] SidharthBansal commented on #3460
Approved.

[2018-12-07 18:11] jywarren commented on #4092
what is the exact plaintext content on your wiki page?

On Fri, Dec 7, 2018 at 1:05 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-07 18:16] SidharthBansal commented on #4173
We can first merge the login modal then we can work on the sign-up.
I will suggest that we should create a modal for signup. Redirecting for the signup to a page and we are popping the login template does not makes sense to me. Sorry @JonathanXu1
I know that signup form is lengthy.

I am reviewing some other websites to see their UI.

[2018-12-07 18:34] oorjitchowdhary commented on #4092
This is happening when I try to create a new partial template..

[2018-12-07 18:42] SidharthBansal commented on #4173
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/22998430/49662365-9a05d500-fa19-11e8-823f-21c75559fc6f.gif)
in the gif shared @JonathanXu1 you can minimize the the sign up modal by removing the sidebar.

[2018-12-07 18:43] SidharthBansal commented on #4173
Also, we don't need OR ``Login with email`` on signup page. Please remove it

[2018-12-07 19:29] jywarren commented on #2866
Ah super - but sorry, i had meant to leave the text inputs visible as you'd
originally done -- thank you! And could you add 20px padding on the bottom
of the modal? It's a bit squished. Is it just me, or is the modal not quite
centered, too?

This is looking tremendous!!! Thanks for your excellent work!

On Fri, Dec 7, 2018 at 2:27 PM Jonathan Xu <notifications@github.com> wrote:

[2018-12-07 19:35] jywarren opened #4174 "Styling missing on 2nd page of comments on profile"
This looks like the layout is being suppressed in the `user_controller`!

https://publiclab.org/profile/comments/423961?page=4

![image](https://user-images.githubusercontent.com/24359/49668809-4c936300-fa2d-11e8-9891-c389a9587519.png)

[2018-12-07 19:39] jywarren commented on #4092
Hmm, can you point at your latest code in a commit? Even if you need to
open a new PR to share it? Thanks!

On Fri, Dec 7, 2018 at 1:34 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-07 19:40] oorjitchowdhary commented on #4092
Ok i will do that

[2018-12-07 19:41] jywarren commented on #4123
Oh fantastic! Great work, @kevinzluo -- and looks like someone may already be wanting to work on it? 😄

[2018-12-07 19:41] #4123 closed

[2018-12-07 19:45] SidharthBansal commented on #2866
I agree the modal needs to be centered on the screen.

On Sat, Dec 8, 2018, 12:59 AM Jeffrey Warren <notifications@github.com
wrote:

[2018-12-07 19:45] oorjitchowdhary commented on #4174
I think the first comments page loads on the normal /profile page so it has the styles but rest all are empty..
I think we can use the same styles here as I did in my PR #4143 ..

[2018-12-07 19:49] JonathanXu1 commented on #2866
I believe the slight off-center horizontally is because of the styling of the internal login partial. There's an offset and some padding I believe. I'll look into it.

[2018-12-07 19:54] SidharthBansal commented on #2866
ok great!
I was referring to centring the modal on the screen. Modal is aligned to
the top. We need it to be centered.

On Sat, Dec 8, 2018 at 1:19 AM Jonathan Xu <notifications@github.com> wrote:

[2018-12-07 19:57] SidharthBansal commented on #4174
I agree with @oorjitchowdhary we should use same styles.
@oorjitchowdhary are you willing to take this?

[2018-12-07 19:59] oorjitchowdhary commented on #4092
@jywarren pls check out #4175

[2018-12-07 20:00] oorjitchowdhary commented on #4092
And if you've got time pls take a look at #4129 too.. Thanks

[2018-12-07 20:01] oorjitchowdhary commented on #4174
Yes.. I'll do this.. Could I just get a pointer on the code file of this.. Thanks

[2018-12-07 20:06] jywarren opened #4176 "Move some files from root directory into subfolders if possible"
We have many different files in the root directory, but they push down the README quite far when viewed on GitHub: https://github.com/publiclab/plots2

![image](https://user-images.githubusercontent.com/24359/49670087-7058a800-fa31-11e8-8e9e-ef8d895defde.png)

Some files seem like they could be kept in a subfolder to save vertical space -- some have already been moved to `.github/` -- but it'll ta

[2018-12-07 20:08] jywarren commented on #4174
Oh, i think the styles already exist, this page is just getting rendered
without a layout, so it misses the CSS links and beginning and end of the
page HTML.  Maybe check in the `profile` action in the user_controller to
see if you can find it saying `layout: false` for anything?

On Fri, Dec 7, 2018 at 2:46 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-07 20:09] milaaraujo commented on #3506
Re-opening:
- [x] Create tag option to the /profile endpoint  (#3767)
- [ ] Make the page (https://publiclab.org/search/profiles/) use the option tag

[2018-12-07 21:09] SidharthBansal commented on #3656
We are having multiple links across the website where the return_to parameter is missing.
If we will add return_to to various places, wherever the behaviour is inappropriate this will solve our problem

[2018-12-07 21:23] ValentinaTironi commented on #3188
Oh, sorry. Tell me if I can help in something :/

[2018-12-07 22:46] SidharthBansal opened #4177 "Display No user is present if no profile found"
If a person tries to find a profile with the username that does not exist, then the user should be flashed a message and should be redirected to the dashboard instead of current behaviour
![Uploading image.png…]()

[2018-12-07 22:48] SidharthBansal opened #4178 "Quoted email body text ignoring `_(underscore)` in email"
![image](https://user-images.githubusercontent.com/20972099/49676571-3ecaf580-faa0-11e8-8b33-fdc6fba9a617.png)

See that @bansal_sidharth2996 is broken at underscore(_). We need to fix it.

[2018-12-08 02:00] sashadev-sky commented on #4113
@SidharthBansal thank you for taking over here :) noted about the line numbers

[2018-12-08 02:46] dinaelhanan commented on #4120
@jywarren ok so I did all the steps above while on cloud9. I deleted all the image divs and just left one:
[code]
I uploaded a file on cloud9 so that I can at least see the carousel instead of just the alt text of the images. I did this file path since this is the file path of my image:
![screenshot from 2018-12-07 21-45-25](https://user-images.githubusercontent.com/19677511/49681033-710d3080-fa69

[2018-12-08 03:56] kevinzluo commented on #3472
Hi @jywarren .
I was going to post an FTO for this and decided to test out the delay option. It feels that 1s is a bit too long since it appear that new searches are made `delay` milliseconds after the last key was pressed, so the user is forced to wait for a bit even after finishing typing. Maybe we could reduce it?

This is just pure speculation, but I searched around and found the avg typing sp

[2018-12-08 04:06] kevinzluo opened #4180 "Set delay for typeahead search"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all) built off #3472 . This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out a

[2018-12-08 06:07] gauravano commented on #4110
Hi @dinaelhanan we discussed this feature a bit in the Open hour but it still needs some thinking. Your views are welcome and you can surely help us when the plan is finalized. Thanks!

[2018-12-08 06:33] milaaraujo commented on #3188
I'll work on this one.

[2018-12-08 06:37] oorjitchowdhary commented on #4126
How about changing it to list view.. like publiclab.org/comments

[2018-12-08 06:38] milaaraujo opened #4183 "Develop latitude/longitude storage for tags"
Develop latitude/longitude storage for tags.

* [x] Add fields to node and populate fields, retroactively, with the tag - lat/lon - values (#4292)
* [x] Store lat/lon into node - we should be looking in the node.rb add_tag method (#4379)
* [ ] Synchronize deletion between the two means of storing lat/lon - tag controller
* [ ] Prototype ways to subscribe to new node posts based on proximity
* [ ]

[2018-12-08 06:40] oorjitchowdhary commented on #4126
![screenshot 52](https://user-images.githubusercontent.com/39333058/49682906-32678c80-fae2-11e8-8949-3ca71c79aeaa.png)

[2018-12-08 06:44] milaaraujo commented on #4183
Hey @jywarren, do you know which issue is this problem documented? I could not find it.

And I didn't understand what do you mean with the second request "prototype ways to subscribe to new node posts based on proximity". Can you give me some clarification?

[2018-12-08 06:53] oorjitchowdhary commented on #4062
Sure.. We'll collaborate and work here..
Sorry I just saw the conversation

[2018-12-08 06:53] oorjitchowdhary commented on #4062
@SidharthBansal Yes, my bad. 😞

[2018-12-08 07:59] #2866 closed

[2018-12-08 08:17] oorjitchowdhary commented on #4173
@JonathanXu1 Ping me if you need any help..

[2018-12-08 08:17] oorjitchowdhary commented on #4171
@publiclab/mentors I think we can start working on these issues right?

[2018-12-08 08:23] SidharthBansal opened #4184 "Integrate Sign Up and Login Modals"
There are two options
1. We will have two separate buttons throughout the website. One for signup and one for login. With the login, we will attach the login modal and with the signup we will attach the signup modal.
As the user needs to open up the sign up modal once in their lifetime, the modal will usually be short as it will be login modal. Once the modal will be lengthy at the time of sign up

[2018-12-08 08:30] oorjitchowdhary commented on #4184
I didn't understand this..

Yes that sounds great

[2018-12-08 08:53] SidharthBansal commented on #4184
We can have two different modals for sign up and login

[2018-12-08 11:49] okonek commented on #4154
@SidharthBansal I don't understand. What do we have to do there? COuld you explain a bit more?

[2018-12-08 11:51] SidharthBansal commented on #4154
We are currently building modal for login/signup. Check out the unstable.publiclab.org header
Try to do login. A modal will come. We need to integrate that modal to various pages.

[2018-12-08 11:53] okonek commented on #4154
Ok, now I understand. Thanks for the quick response. I'll take this task.