[2018-07-11 15:07] jywarren commented on #3047
I like this idea!!!

[2018-07-11 15:08] Souravirus commented on #3051
ok taking a look at it. Thanks!!

[2018-07-11 15:08] #3043 closed

[2018-07-11 15:08] jywarren commented on #3043
Confirmed - welcome email arrived!

![screen shot 2018-07-11 at 11 08 12 am](https://user-images.githubusercontent.com/24359/42581455-c5945f28-84fa-11e8-93c8-904889b3b370.png)

[2018-07-11 15:14] jywarren commented on #3051
thank you!!!

On Wed, Jul 11, 2018 at 11:08 AM Sourav Sahoo <notifications@github.com>
wrote:

[2018-07-11 15:14] Souravirus commented on #3051
How is this possible @jywarren?
![screenshot from 2018-07-11 20-42-20](https://user-images.githubusercontent.com/17192149/42581737-13f9c6da-854b-11e8-9285-68133679c482.png)
I have not commented it. I just opened this link to see this. suprised!!

[2018-07-11 15:14] Gauravano commented on #3047
Happy to help :smiley:

[2018-07-11 15:17] Souravirus commented on #3051
oh got it. Sorry to say I clicked the first link. Sorry again!! :smile: :smile:

[2018-07-11 15:17] Souravirus commented on #3051
deleted the comment.

[2018-07-11 15:18] Gauravano commented on #3051
Yup, its a request, my comment also got published :smile:

[2018-07-11 15:21] jywarren commented on #3051
hahaha sorry i should've marked it as "don't open" my bad....

On Wed, Jul 11, 2018 at 11:18 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-11 15:33] Souravirus commented on #3051
This is the error I am getting while attempting a similar link.
![screenshot from 2018-07-11 21-02-51](https://user-images.githubusercontent.com/17192149/42582954-d1c8f0ee-854d-11e8-9be5-75aca0fa2b54.png)
Checking this.

[2018-07-11 15:49] SidharthBansal commented on #378
You mean Email verification. Great

[2018-07-11 15:54] jywarren commented on #378
yeah exactly!

On Wed, Jul 11, 2018 at 11:50 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-07-11 16:24] ViditChitkara commented on #3049
Cool! I'll be happy doing this!

[2018-07-11 16:42] Gauravano commented on #3010
Hi @publiclab/soc ,

### Work done past week:
1. Spam Moderation System (part - I) done https://github.com/publiclab/plots2/pull/2957
2. Welcome Email at Signup https://github.com/publiclab/plots2/pull/3025

### This week's goal:
1. Welcome Email with OAuth and Fallback email  - https://github.com/publiclab/plots2/pull/3052
2. Spam comment moderation on profile page and /spam
3. Configurable email

[2018-07-11 16:45] namangupta01 commented on #3022
I just tested it is adding post now. I donot know why it took time yesterday to post comment.

[2018-07-11 16:45] namangupta01 commented on #3022
Since it is working....so closing it now.

[2018-07-11 16:45] #3022 closed

[2018-07-11 17:10] jywarren opened #3053 "Link to notes tagged not working (autoposted via PublicLab.org)"
(This issue was auto-generated from https://ift.tt/2B8W2Ma -- please help to flesh it out and explore the issue, and respond to the original author!) by https://ift.tt/2JdrcWL<br>
<br>
Read more and ask the original author for details at: https://ift.tt/2L5dWIy<br>
<br>
****<br>
<br>
<h3>Please describe the problem (or idea)</h3>
<blockquote>
<p>If you click the tag 'community-microscope' on this

[2018-07-11 18:18] jywarren commented on #3049
oh great, thanks so much.

On Wed, Jul 11, 2018 at 12:25 PM Vidit <notifications@github.com> wrote:

[2018-07-11 18:32] jywarren commented on #3040
Is this something we can develop monitoring for? i worry it failed silently...

[2018-07-11 18:34] jywarren commented on #3042
It's weird, it worked this time. I think i'll close it. But very oddly i briefly saw this URL: https://accounts.youtube.com/accounts/SetSID

hmm

[2018-07-11 18:34] #3042 closed

[2018-07-11 18:34] jywarren commented on #3042
Thanks!

[2018-07-11 18:57] namangupta01 opened #3054 "Extend mail trimmed content filtering feature for most domains"
Currently we are filtering trimmed content in email from gmail and yahoo using gmail and yahoo domain name we have to find a way to extend this to fit  most of the domains.

[2018-07-11 19:00] #3041 closed

[2018-07-11 19:01] jywarren commented on #3010
Hi @sagarpreet-chadha -- I left some more potential layers on this note: https://publiclab.org/questions/sagarpreet/07-01-2018/what-more-data-layers-can-we-show-on-map

🎉

[2018-07-11 19:04] jywarren commented on #3054
aha! Great problem solving!! 👍

[2018-07-11 19:04] jywarren commented on #3054
surely there is some header info indicating it was handled by a Google mail server?

[2018-07-11 19:05] #2167 closed

[2018-07-11 19:32] #3011 closed

[2018-07-11 20:30] jywarren commented on #2304
Ah, oops reopening this as we still have a few items left like buttons. Thanks!

[2018-07-11 21:02] #3038 closed

[2018-07-11 21:18] SidharthBansal commented on #3032
The first step is migration.
1) What will I name the field? @jywarren is password_checker ok?
2) What is the difference between ruser and user in the schema?
3) Do I need to migrate user or ruser?

[2018-07-11 21:49] Gauravano commented on #3027
1. Replace https://github.com/publiclab/plots2/blob/master/test/functional/wiki_controller_test.rb#L578-L588

with

[code]

2. Replace https://github.com/publiclab/plots2/blob/master/test/functional/wiki_controller_test.rb#L435-L440

with

[code]
This would remove the travis errors.

[2018-07-11 21:50] Souravirus opened #3055 "TESTING.md is quite outdated"
https://github.com/publiclab/plots2/blob/master/doc/TESTING.md is quite oudated and many of the commands might not be working after the change to rails 5 upgrade. So, we should change it.

[2018-07-11 21:53] CoderJolly commented on #3027
I m doing it now and den raising PR @Gauravano

[2018-07-11 21:55] Gauravano commented on #3027
Actually @CoderJolly as @nataliyah123 has also raised PR, it would be great if you can add the above steps to his PR only. What do you say?

[2018-07-11 22:01] jywarren commented on #3055
yes! Awesome!

On Wed, Jul 11, 2018 at 5:51 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-07-11 22:03] CoderJolly commented on #3047
Wat is this issue really about ?

[2018-07-12 18:23] SidharthBansal commented on #3034
Completed.

[2018-07-12 18:23] #3034 closed

[2018-07-12 19:17] ViditChitkara commented on #3051
Hi @jywarren , I am not able to reproduce this on my local machine as well as the link. Any other question on which it occurred?

[2018-07-12 19:25] jywarren commented on #3005
Update via @icarito -

[code]

[2018-07-12 19:25] jywarren commented on #3005
https://github.com/publiclab/plots2/pull/3058

[2018-07-12 19:55] jywarren commented on #2824
OK, captured a log from this: https://gist.github.com/jywarren/6e06ae3a6647fadcf90dc7842416c5b9

[2018-07-12 19:57] jywarren commented on #2941
Were you able to connect with them about the Open Source program as well, or should we try to get in touch again? Thanks!

[2018-07-12 20:22] Souravirus opened #3059 "Rails error being shown"
As is reported #3058, some of  the errors are sometimes being shown in travis and also in the local machine. Please see to this @publiclab/soc @publiclab/reviewers
Here are the errors:
`ERROR["test_create_a_user_with_omniauth_if_email_prefix_does_not_exist_in_db", Minitest::Result, 57.168834722999975]
 test_create_a_user_with_omniauth_if_email_prefix_does_not_exist_in_db#Minitest::Result (57.17s)

[2018-07-12 20:24] #3019 closed

[2018-07-12 20:50] CoderJolly commented on #3033
I am sending new PR for #3033

[2018-07-12 20:53] SidharthBansal commented on #3033
There were a few conflicting PRS yesterday. So this issue was addressed due to those conflicts.
I am sorry. This is no longer a issue. You can try other first timer issues
Apologies

[2018-07-12 20:53] #3033 closed

[2018-07-12 20:57] CoderJolly commented on #3033
So i shall not send the PR ?

[2018-07-12 20:57] CoderJolly commented on #3033
ok @SidharthBansal

[2018-07-12 20:59] CoderJolly commented on #2709
pls remove dis issue if solved

[2018-07-12 21:02] SidharthBansal commented on #3059
Both of these tests are saying that
`` NoMethodError: NoMethodError: undefined method 'using_open_id?' for nil:NilClass``
that meaning somewhere using_open_id? is used. Neither of these tests uses such method
[code]
and
[code]

[2018-07-12 21:03] SidharthBansal commented on #3059
@Souravirus have you updated the Authlogic gem?

[2018-07-12 21:12] SidharthBansal opened #3060 "Error on edit page"
### Please describe the problem (or idea)
![image](https://user-images.githubusercontent.com/20972099/42659592-5e829816-8646-11e8-952d-b33fc4b8510e.png)

[2018-07-12 21:12] ViditChitkara opened #3061 "Improve digest email template"
The digest emails have some inconsistent links and broken css.

[2018-07-12 21:13] ViditChitkara commented on #3061
On it!!!

[2018-07-12 21:14] ViditChitkara commented on #3061
would be soon posting an email template here.

[2018-07-12 21:21] SidharthBansal commented on #3060
@dewanhimanshu  can you please address this one. It happened due to some error in #3050

[2018-07-12 21:22] SidharthBansal commented on #3060
I am trying to figure this one

[2018-07-12 21:38] SidharthBansal commented on #3059
Yeah I think the error is trying to say that the method to create a user is changed.

[2018-07-12 22:15] Souravirus commented on #3059
ok!!

[2018-07-13 03:28] namangupta01 opened #3062 "Extend mail trimmed content filtering feature for domains which are using google email service"
Sub issue of #3054
Currently we only filter content from google mail when the sender's mail is of `gmail` domain. But there are custom domains which can also use gmail. So we need to extend this feature to domains using google mail service.

[2018-07-13 04:52] dewanhimanshu commented on #3060
@SidharthBansal  will solve this issue

[2018-07-13 10:31] SidharthBansal commented on #3060
Thanks. You need to put the icons in form

[2018-07-13 11:22] first-timers[bot] opened #3063 "Answer update not working(routes issue)"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-07-13 17:55] namangupta01 commented on #2671
@jywarren Can we put node_id in tweets? So that it can be easily identified?

[2018-07-13 18:41] steviepubliclab opened #3064 "Multiple tags to show up in one place"
I was wondering if there was a way to compile multiple tag results into one page. For example, I was interested in compiling the questions related to topics that environmental lawyers might be able to help with on Public Lab, but there are different tags people have used that could go under this for example:

https://publiclab.org/tag/question:regulations
https://publiclab.org/tag/question:evidenc

[2018-07-13 19:39] Gauravano commented on #2304
Hi @jywarren @steviepubliclab here's the progress on this issue:-
1. The comment moderation system is working, moderators can now mark any comment as spam
2. I just raised PR for the comments tab where all the spammed comments will appear
![spam_mod](https://user-images.githubusercontent.com/20878070/42710337-443cb958-8701-11e8-8700-d6d1d1ea2a2d.gif)

3. At start of the issue, one of the part was

[2018-07-13 19:49] Gauravano commented on #3064
Hi @steviepubliclab, no we don't have any such method for this task. But, we can add such functionality if required. What do you think? Thanks!

[2018-07-13 19:53] Gauravano commented on #213
Hi @jywarren the PR at #2985 is done with comment-indirect notification setting and settings page. I would handle other settings in a separate PR for modularity. I hope that's fine. Thanks!

[2018-07-13 23:36] SidharthBansal commented on #3032
@jywarren can please tell me what is the difference between the ruser and user? Which one do I need to migrate. The schema is as follows
![image](https://user-images.githubusercontent.com/20972099/42718090-8912b3e4-8723-11e8-8cc4-1e9b9264c701.png)

![image](https://user-images.githubusercontent.com/20972099/42718096-986293c8-8723-11e8-9d54-93e2a899ac3e.png)
I will be naming the new field as passwo

[2018-07-13 23:37] SidharthBansal commented on #3032
I think I need to migrate ruser. But I am not sure.

[2018-07-13 23:55] CoderJolly commented on #3063
pls assign issue

[2018-07-14 05:06] ViditChitkara commented on #3063
Please go ahead! Thanks.

[2018-07-14 05:12] dewanhimanshu commented on #3060
fixed error on edit page #3060 #3067

[2018-07-14 16:08] Souravirus commented on #3063
Hi @CoderJolly, you can work on this. just mention this issue on the PR, so that we can get track of it. Thanks!!

[2018-07-15 01:03] stefannibrasil opened #3069 "Show most recently updated people on Search API"
Part of #2755

Change the sorting of the results in the API to most recently updated people as discussed in #2925

[2018-07-15 01:13] stefannibrasil opened #3070 "Refactor Search API"
- [x] Remove API Search endpoints duplication (#3045)
- [x] Remove API Typeahead endpoints duplication (#3107)
- [x] Unify models scopes from Search and Typeahead services (#3108)

[2018-07-15 07:43] SidharthBansal commented on #2866
@jywarren can you please see all the 4 pages on main website. I was successful in breaking the front end into ftos as per your suggestions and PL guidelines of increasing PL community. What else is left in the following pages?
* [ ] /login
* [ ] /signup
* [ ] /profile/edit
* [ ] header
Things which seems complete to you please check them.

[2018-07-15 07:48] SidharthBansal commented on #2866
![screen shot 2018-06-20 at 9 42 43 am](https://user-images.githubusercontent.com/24359/41662200-91b3a82c-746e-11e8-90ec-78fa81ea77ac.png)
will require the Login button to be replaced by a modal. All stuff is complete in the header. So, I will be creating a fto for this issue after fixing the errors which has arisen in this week

[2018-07-15 07:50] SidharthBansal commented on #2866
You can try https://github.com/publiclab/plots2/issues?q=is%3Aopen+is%3Aissue+label%3Abug
OR https://github.com/publiclab/plots2/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Ahelp-wanted+ also

[2018-07-15 13:04] #3060 closed

[2018-07-15 18:18] jywarren commented on #2671
I think so, yes! But we turned off the autotweeting for a bit. Could we
recognize links like publiclab.org/n/____ via Twitter API?

On Sun, Jul 15, 2018, 9:26 AM Naman Gupta <notifications@github.com> wrote:

[2018-07-16 11:39] Souravirus commented on #3059
The error has disappeared but still I have given a PR regarding the upgrading of the auth-logic gem

[2018-07-16 11:45] SidharthBansal commented on #3059
Can you please review #3072. I made some changes because of this issue.

[2018-07-16 11:45] SidharthBansal commented on #3059
Is code OK with newer rails version?

[2018-07-16 12:52] Souravirus commented on #3059
ok let me see

[2018-07-16 12:57] Souravirus commented on #3059
Yeah it looks good to me

[2018-07-16 13:13] srbcheema1 commented on #3063
@ViditChitkara @Souravirus @CoderJolly  May I fix this issue?

[2018-07-16 13:20] CoderJolly commented on #3063
actually, I was busy bt i m working on it

[2018-07-16 13:24] Souravirus commented on #3063
ok @CoderJolly, if you want to work then submit a PR. @srbcheema1 might write tests for this change if he wants. I will prepare a first-timers issue for this. Thanks!!

[2018-07-16 13:25] CoderJolly commented on #3063
ok submitting now @Souravirus

[2018-07-16 13:31] srbcheema1 commented on #3063
yeah sure @Souravirus :)

[2018-07-16 13:44] first-timers[bot] opened #3076 "Need for tests for the answer updating routes"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-07-16 13:47] Souravirus commented on #3076
Hi this is a follow up of issue #3063 and pr #3075. @srbcheema1 if you want to contribute, then you can submit a PR. Thanks!!

[2018-07-16 13:50] jywarren commented on #3010
Hi all! Is anyone able to do a check in today? Otherwise I can tomorrow morning. Thanks! @publiclab/soc

[2018-07-16 13:52] srbcheema1 commented on #3076
yepp sure @Souravirus . I will do this one :)

[2018-07-16 13:57] Gauravano commented on #3010
Hi @jywarren I would like to do check-in . Thanks!

[2018-07-16 13:59] SidharthBansal commented on #3010
So lets close this one

[2018-07-16 13:59] #3010 closed

[2018-07-16 14:45] Gauravano opened #3078 "Community Check-in #9 Summer Of Code Week 10"
Hi everybody :smiley: !

If you're new here, welcome, and please try some of our [first-timers-only issues](https://publiclab.github.io/community-toolbox/#r=all). This is a checklist for publiclab/soc.

@stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @ViditChitkara @tech4GT @mridulnagpal @namangupta01 @sagarpreet-chadha @Souravirus @jywarren @MayankKashyap @siaw23 @ryzokuken @ccpandhare @icari

[2018-07-16 16:43] imacubsfan23 commented on #3053
What's the expected functionality of https://publiclab.org/tag/community-microscope?

[2018-07-16 17:49] sagarpreet-chadha commented on #3078
Hi @all !

I have written a new blog on publiclab.org --- https://publiclab.org/notes/sagarpreet/07-16-2018/leaflet-environmental-layer-library-part-2 🎈
Do take a look at the new layers implemented !

###### Currently working on updating the markers in mapknitter layer !

[2018-07-16 17:57] icarito commented on #3040
It would be tricky to monitor this. Not sure how to go about it. If we could setup a route in the application that tests this functionality we can setup an HTTP monitor for it by using our current monitoring solution.
This test would have to be coded as a rails app route.

[2018-07-16 20:43] namangupta01 commented on #2671
@jywarren So `publiclab.org/n/____ ` will present directly in tweet or there are some other links which redirect to this link as before?
ex:
![screen shot 2018-07-17 at 2 07 32 am](https://user-images.githubusercontent.com/20709985/42782585-fea2d6d0-8966-11e8-96ee-18885f6385fc.png)

[2018-07-16 21:11] SidharthBansal commented on #3078
Hi @publiclab/soc,

I am nowadays working on the tests for the usertags available on the profile page. I am trying to debug the errors which we are facing in OAuth. Also, creating ftos and helping them to get involved in bigger project.
Once I will complete the usertags prs. I will do the password checker and notification work so that we will get a much secure version of OAuth 2.0
Thanks

[2018-07-16 21:15] Gauravano commented on #2304
Hi @jywarren @steviepubliclab, we can also display spammy comments on the note only to moderator as previously decided as per checklist. What do you guys think?

[2018-07-16 21:43] siaw23 commented on #3047
@Souravirus @jywarren when something fails from Rubocop, code climate shows the error and that it's from rubocop. that information appears in the PR next to Travis fail errors. Unless i don't understand what @Souravirus means by "show the rubocop offenses in the front"

[2018-07-16 21:50] siaw23 commented on #2941
got sick, then forgot, but sent out a message a few seconds ago! any progresson skylight setup? @jywarren

[2018-07-16 22:19] namangupta01 commented on #2671
I was researching and found that all the links that comes in tweet through twitter api is a twitter link which gets redirected to actual page. I was wondering if we use link to find the node and tweet contains more than one `public.org/n/__`(one for referencing post on public lab and other may be used in any of node content on public lab post itself) then in that case comment may get added to the

[2018-07-16 22:21] siaw23 commented on #3059
is this issue solved? @souravirus

[2018-07-16 22:42] siaw23 commented on #3055
what specific parts are now deprecated? @souravirus

[2018-07-17 01:14] stefannibrasil commented on #3078
Hi, everyone!
still working on the same thing from last week, but we are making progress. We have a PR for a Search API refactor proposal #3045 and will open a new one for Typeahead.
We decided to first remove the duplications from both services and later work on improving the queries and remove the hard to read sections. This has been a great way to learn more the API so far!

[2018-07-17 01:38] stefannibrasil commented on #3078
@sagarpreet-chadha great work, btw! I couldn't access the link to see it working, though! :tada:

[2018-07-17 02:20] Souravirus commented on #3047
Oh by front I meant that it should be shown in the PR itself, but if codeclimate and rubocop are in sync then its fine.

[2018-07-17 02:23] Souravirus commented on #3059
Yeah I have submitted a PR #3074 regarding upgradating of the authlogic gem. But for now I can't see the error.

[2018-07-17 02:34] Souravirus commented on #3055
First of all `rake test:all` doesn't run all the tests, it only runs the jasmine tests and coverage tests. I don't know if running specific types of test is working or not in rails 5. We have to check that. Also running a single file test and single test has much better commands in rails 5 than to run them with ruby command.

[2018-07-17 04:15] milaaraujo commented on #3069
@jywarren's comment:

[2018-07-17 08:33] Gauravano commented on #3027
hi @CoderJolly any progress regarding the addition of tests to #3037?

[2018-07-17 13:54] steviepubliclab commented on #2304
Hi!
Wow this is awesome!!! A couple questions:

1) What causes a comment to show up in the potential spam section? I
assuming first time commenters/posters?
2) Are first time comments now moderated until approved?
3) I'm not sure if you know this yet, or we've decided on it, but will the
moderation group get an email notification for new comments?
4) Can you tell me more about what you mean when y

[2018-07-17 13:59] steviepubliclab opened #3081 "upgrade comments to answers"
Hi!
we previously had a feature to upgrade comments to answers on the question/answer system. Seems like we don't have that right now. Can we get it back :)?

Best,
Stevie!

[2018-07-17 14:02] steviepubliclab opened #3082 "spam/revisions page down"
Hi!
Looks like the https://publiclab.org/spam/revisions page is down. Any ideas?

Best,
Stevie

[2018-07-17 14:18] steviepubliclab opened #3083 "Counts on profiles incorrect."
Hi,
The counts on the number of research notes/questions on profile pages is a bit misleading. I think that's because it's counting the number of times people edit pages as well? Here are some examples:

- https://publiclab.org/profile/cheneyshreve (says 2 research notes/edits, but only one post shows up)
- https://publiclab.org/profile/pojij_85  (says 2 research notes/edits, but only one post sho

[2018-07-17 14:34] jywarren commented on #3081
Yes, i believe we have combined the comment forms in #2896 #2983 -- but as long as we can detect that it is a question node, we can re-insert this button:

https://github.com/publiclab/plots2/blob/40a207b397cbf762c5d7a41d9a60f36672736785/app/views/questions/_comment.html.erb#L43

[2018-07-17 14:34] jywarren commented on #3081
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a

[2018-07-17 14:35] jywarren commented on #3082
@Souravirus could this potentially be a routing issue? Thanks!

[2018-07-17 14:41] Gauravano commented on #3082
Hi @steviepubliclab @jywarren this doesn't seem to be a routing issue to me. This issue can arise if the wiki page is deleted after marking one of its revision as spam. @jywarren it would be helpful if you can paste some logs. Thanks!

[2018-07-17 15:02] jywarren commented on #3047
I think we need some additional notice for why CodeClimate is returning an
X - and how to resolve it. @stefannibrasil and @milaaraujo and I have just
created this documentation --
https://github.com/publiclab/plots2/blob/master/doc/CODECLIMATE.md

But I think we need:

a) some notice to appear saying "CodeClimate has identified some changes we
need you to make to help keep the codebase readable an

[2018-07-17 15:06] jywarren commented on #2304
Hi! I think we could probably make more columns in the table to better organize it so it's easier to skim through. What do you think?

[2018-07-17 15:10] jywarren commented on #3040
Would the application trigger an email sent to a known address? Could we
monitor an inbox, maybe?

On Mon, Jul 16, 2018 at 2:21 PM Sebastian Silva <notifications@github.com>
wrote:

[2018-07-17 15:12] Gauravano commented on #2304
Hi @steviepubliclab !

assuming first-time commenters/posters?
If a moderator marks a comment as spam using "Mark as spam" button, then that comment would appear at /spam/comments

No, they are not, I can work on this one next. What do you say?

moderation group gets an email notification for new comments?
Depends if we are implementing first-time comment moderation or not

loaded from data?"
Init

[2018-07-17 15:48] #3062 closed

[2018-07-17 15:50] namangupta01 commented on #2671
@jywarren So, by which way should i implement it ? using node_id or the other way. I am finalising the way of  implementation.

[2018-07-17 15:51] jywarren commented on #2671
This is a bit more complex when we don't have the auto-tweeting happening,
because we don't get to format the original. I can bring it up on our staff
call or open call today (https://publiclab.org/opencall) and we can try to
figure out a good way forward!

On Mon, Jul 16, 2018 at 6:20 PM Naman Gupta <notifications@github.com>
wrote:

[2018-07-17 15:55] namangupta01 commented on #2671
I am going to use twitter gem using which we can also do auto tweet --just let you know that we can do autotweeting without using any service. I will look for the way to format.

[2018-07-17 16:22] jywarren commented on #3053
Thanks, it's supposed to be like: https://publiclab.org/tag/balloon-mapping

I think we need to pull the logs to see what's happening!

[2018-07-17 21:20] jywarren commented on #2941
thanks! got their message and we're in the OS program now. Hope you're
feeling better! Still no data though, i'll write back.

On Mon, Jul 16, 2018 at 5:50 PM Emmanuel Hayford <notifications@github.com>
wrote:

[2018-07-17 21:30] jywarren commented on #3032
That's right, we're trying to get rid of `users` -- `rusers` = User, and `users` = DrupalUser. Thanks!

[2018-07-17 22:16] jywarren commented on #3005
OK, i think this is complete -- please re-open if i'm wrong!

[2018-07-17 22:16] #3005 closed

[2018-07-17 23:31] siaw23 commented on #3055
Ah I remember these now. Can you please update those parts of the README so we can have this issue closed? @Souravirus

[2018-07-17 23:34] siaw23 commented on #2941
Great! OK. I can also follow up if you want me to.

[2018-07-17 23:45] jywarren commented on #2941
that would be super. I'm not sure what to try next...

On Tue, Jul 17, 2018 at 7:35 PM Emmanuel Hayford <notifications@github.com>
wrote:

[2018-07-18 02:10] Souravirus commented on #3055
Yeah I will surely do these tomorrow as I am travelling back to my college today. Thanks!!

[2018-07-18 02:14] Souravirus commented on #3076
Closing this. Thanks @srbcheema1

[2018-07-18 02:14] #3076 closed

[2018-07-18 02:15] Souravirus commented on #3063
Closing this. Thanks @CoderJolly

[2018-07-18 02:15] #3063 closed

[2018-07-18 03:58] icarito commented on #3040
We don't need to send an email. I've just manually [tested the SMTP protocol](https://community.spiceworks.com/how_to/11-test-email-flow-using-smtp-commands) and found that in case the relay isn't responding, it will fail immediately upon giving the sender and recipient:
![image](https://user-images.githubusercontent.com/199755/42858455-54124f3a-8a14-11e8-846c-54f12d659cc4.png) so it could be test

[2018-07-18 04:32] icarito commented on #2757
I'm reviewing what remains hardcoded still:

- Listening port
- Database configuration
- Forking options  (production: `--max-pool-size 9 --min-instances 9`)

[2018-07-18 12:29] SidharthBansal commented on #3078
I want that PL will apply as a separate organisation as we do in Rails Soc And Google Soc rather than under fossasia.
What is your opinion?

[2018-07-18 12:46] Gauravano commented on #3078
keeping in view expansion of our PL team, we should participate as a separate organization :grinning:.

[2018-07-18 12:59] namangupta01 commented on #3078
This is going to be awesome if PL participate in Google Code-In
On Jul 18, 2018 5:58 PM, "Sidharth Bansal" <notifications@github.com> wrote:

[2018-07-18 13:01] tech4GT commented on #3078
Awesome!!! Let's apply separately!!😃

[2018-07-18 13:09] #3049 closed

[2018-07-18 13:14] jywarren commented on #3053
That's weird - it's a 404 not found error. But https://publiclab.org/tag/balloon-mapping works... how can that be?

[2018-07-18 13:29] jywarren commented on #2352
`/tags` is now sortable by # of uses (as of 29 days ago, whoops!)  -- thanks all!

![image](https://user-images.githubusercontent.com/24359/42884745-20b02b22-8a6d-11e8-8c3e-3dd07ce25b83.png)

[2018-07-18 13:30] jywarren commented on #2445
Completed a while back, thanks!

[2018-07-18 13:30] #2445 closed

[2018-07-18 13:36] jywarren opened #3086 "Build failure on production due to concurrent-ruby gem"
I just tried publishing to production and saw this error:

[code]

@icarito would you know what's going on here? Production didn't finish building, so it's OK, just at the last version.

[2018-07-18 13:44] icarito commented on #3086
https://github.com/chef/chef/issues/1793 suggests this is an issue with Digest gem not being thread safe...? Researching...

[2018-07-18 13:46] icarito commented on #3086
It is suggested to use `OpenSSL::Digest instead`.

[2018-07-18 13:55] jywarren opened #3087 "Sorting on /tags page by # of people subscribed, ascending/descending"
We've been making a lot of great progress on https://publiclab.org/tags, and I'd like to try for a more advanced sort, which may use some special SQL:

Sorting by `# of people subscribed` -- shown in column 3:

![image](https://user-images.githubusercontent.com/24359/42884846-61772688-8a6d-11e8-9d3d-26de629d0abe.png)

Clicking this should make a URL like this:

https://publiclab.org/tags?sort=foll

[2018-07-18 13:55] jywarren commented on #2352
Added a new one, see above!

[2018-07-18 13:57] jywarren commented on #3086
Here's an example of a PR merging this change: https://github.com/chef/chef/commit/d5f16cf0b9f35cbdff52ab83c221666e6843287e

[2018-07-18 13:57] icarito commented on #3086
This gave issues in production but not in Staging? How could that be the case? :-/

[2018-07-18 13:58] jywarren commented on #3086
Maybe needed on this line?

https://github.com/publiclab/plots2/blob/3254f3b79167a36fd367c37f288e733330829bbf/app/models/user.rb#L356

[2018-07-18 14:00] jywarren commented on #3086
weirdness. i opened a PR...

[2018-07-18 14:00] icarito commented on #3086
I also found a mention here:

https://github.com/publiclab/plots2/blob/ed1ef3b72c8a45bfd1d7b842d1d747db391b2a7f/doc/app/User.html#L1083

Still it doesn't explain why it would fail in production and not staging.

[2018-07-18 14:02] icarito commented on #3086
the only difference I can think of is the forking configuration:

https://github.com/publiclab/plots2/blob/master/containers/docker-compose-production.yml#L22

Perhaps this triggers it? But it failed during Gem install process, not on application startup, so the startup command shouldn't matter.

[2018-07-18 14:04] jywarren commented on #2671
OK, so what we're thinking of is:

1. start by implementing only replies by "recognized" twitter users, using the OAuth login system
2. attempt to find tweets by isolating `publiclab.org/n/_____`
3. could we display all comments in a list only to moderators and allow them to be "approved" somehow? Can you think through how that might work?
4. if we do start allowing all tweeted replies, let's cons

[2018-07-18 14:05] jywarren commented on #3032
no problem!

On Wed, Jul 18, 2018 at 7:27 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-07-18 14:10] jywarren commented on #3040
I like this last way - do you think you can open an issue for that?
Maybe @ViditChitkara could help code that up?

On Tue, Jul 17, 2018 at 11:58 PM Sebastian Silva <notifications@github.com>
wrote:

[2018-07-18 14:18] icarito commented on #3086
Let me know if #3088 fixes the issue otherwise https://github.com/publiclab/plots2/blob/ed1ef3b72c8a45bfd1d7b842d1d747db391b2a7f/doc/app/User.html#L1083 could also be needed. I'm not experienced dealing with Ruby internals. Wierd that it didn't happen in staging!

[2018-07-18 14:21] jywarren commented on #3087
Here's how things could be grouped by count:

`User.count(:all, group: 'name')`

http://stackoverflow.com/questions/1647910/ddg#1649818

[2018-07-18 15:20] #2709 closed

[2018-07-18 15:20] jywarren commented on #2709
Thanks for the reminder! 👍

[2018-07-18 15:30] ViditChitkara commented on #3061
Hi @jywarren , now that the digest mailer is working, can we use the following:-
![gsoc-2](https://user-images.githubusercontent.com/22616017/42891509-2dbbf746-8acd-11e8-8987-cc7e26df717b.png)

[2018-07-18 15:31] ViditChitkara commented on #3061
![gsoc-3](https://user-images.githubusercontent.com/22616017/42891513-2fa394ec-8acd-11e8-9036-4af3b7a24774.png)
Here is the remaining part of the mail above. This could handle a note with or without an image. This is much similar to quora digest.

[2018-07-18 15:42] steviepubliclab commented on #3064
Seems like some of the word cloud conversation we were having on Open Call yesterday could help address some of this, depending on how it played out.

[2018-07-18 17:19] jywarren commented on #1934
This would be really amazing to pick back up!

https://publiclab.org/wiki/inline-maps

[2018-07-18 17:21] jywarren commented on #2486
Shall we close this now @sagarpreet-chadha ? Or add a new one like "integrate leaflet-environmental-layers into PublicLab.org"?

Thanks!

[2018-07-18 17:28] jywarren opened #3090 "Combined people/content inline maps"
In follow-up for the big Geographic Features list (#1416 ), we still need a "combined" content + people map syntax, like:

`[map:all:_latitude_:_longitude_]`

https://publiclab.org/wiki/inline-maps doesn't list it, so once we implement, we can add that new syntax.

We'd love to show BOTH nodes and profiles at https://publiclab.org/puerto-rico

It'd be a combination of:

1. People maps: https://git

[2018-07-18 17:42] jywarren opened #3091 "Move sidebar to right side of research note and wiki pages"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a

[2018-07-18 17:42] sagarpreet-chadha commented on #2486
Yes !!! A new issue sounds great .

[2018-07-18 17:44] jywarren commented on #1706
OK, so #3091 having been created, I'm going to close this one out!

[2018-07-18 17:44] #1706 closed

[2018-07-18 17:45] jywarren commented on #2486
can you go ahead and close this and open the new one? Thanks!!!

On Wed, Jul 18, 2018 at 1:43 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-07-18 17:47] jywarren commented on #3061
this is really great. Let's do it!

On Wed, Jul 18, 2018 at 11:32 AM Vidit <notifications@github.com> wrote:

[2018-07-18 17:55] imacubsfan23 commented on #3087
I'll take up this task

[2018-07-18 17:56] jywarren commented on #3064
Ah, ok - so what about moving forward on the "related tags" part of that. The first step might be to try to **show related tags on each `/tag/_____` page, based on what other tags are most often used alongside. ** @steviepubliclab does that make sense?

This could, in code, be something like:

A `tag.related` method in https://github.com/publiclab/plots2/blob/master/app/models/tag.rb :

* scan thr

[2018-07-18 17:59] jywarren opened #3092 "Put an "Add your location" button on the dashboard"
**Update:** https://publiclab.org/people has this button; let's add one to the dashboard too!

[2018-07-18 18:02] jywarren commented on #1960
After https://github.com/publiclab/plots2/issues/3091 we can re-start work on this, using this mockup:

![image](https://user-images.githubusercontent.com/24359/37424326-8ff2290c-2796-11e8-9620-54c6d5667d62.png)

I think this should go into a file in `app/views/sidebar/_tagging.html.erb` to largely replace `app/views/sidebar/_related.html.erb`

Any help appreciated!

[2018-07-18 18:04] jywarren commented on #3064
Also connecting this much more narrow concept for tag relatedness back to optimization discussions in the much larger and more ambitious discussion in https://github.com/publiclab/plots2/issues/1502#issuecomment-360573133 -- which is about recalculating ALL tag relationships at once, potentially every week. This narrower issue is just for calculating related tags for ONE specific tag at a time, so

[2018-07-18 18:09] jywarren opened #3093 "Make shortlinks consistent across site"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a

[2018-07-18 18:11] jywarren commented on #3087
thank you! that'd be great!

On Wed, Jul 18, 2018 at 1:56 PM Tim Dickeson II <notifications@github.com>
wrote:

[2018-07-18 18:18] ViditChitkara commented on #3061
Cool!!

[2018-07-18 18:21] sagarpreet-chadha opened #3094 "Integrate leaflet-environmental-layers into PublicLab.org"
We have to integrate leaflet-environmental-layers using npm : https://www.npmjs.com/package/leaflet-environmental-layers

Things to brainstorm :
1.) Correct place to show ? A new page maybe ?
2.) Which combinations of layers to show  ?

Follow ups :

- [x]  Remove skytruth map layer from profile page .

[2018-07-18 18:28] jywarren commented on #3051
I'll close this for now, in part because we've had the whole commenting interface upgraded. But will look out for it!

[2018-07-18 18:29] hernandesdoug commented on #3076
Hi, I would like to contribute if possible, that would be my first time contributing in a project on Github. Thanks.

[2018-07-18 18:29] jywarren commented on #3094
Let's build it into people maps and note maps, at /app/views/grids/ -- and
into /maps main display!

On Wed, Jul 18, 2018 at 2:22 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-07-18 18:41] Gauravano commented on #2796
Sorry for responding late on this! yes, we can do this once we are done with current settings as mentioned in #2985.

[2018-07-18 18:42] Gauravano commented on #2796
hey @jywarren should I add **monthly blog** as a setting to the checklist at #2985?

[2018-07-18 18:44] jywarren commented on #2796
sure!

On Wed, Jul 18, 2018 at 2:43 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-18 18:57] Gauravano commented on #3027
Hi @CoderJolly you are required to commit these https://github.com/publiclab/plots2/issues/3027#issuecomment-404321676 changes to #3037. Should I add steps for fetching and committing to an existing PR?

[2018-07-18 19:03] jywarren commented on #3078
Hi, all! I've just published to production about an hour ago! https://github.com/publiclab/plots2/pulse/weekly

[2018-07-18 19:03] jywarren commented on #3078
Where are the requirements to sign up for Code-in?

[2018-07-18 19:08] #2443 closed

[2018-07-18 19:16] Gauravano commented on #3076
Hi @hernandesdoug we would love to have your help! This issue is closed but you can surely contribute to the existing issues. You can find more first-timer issues here https://publiclab.github.io/community-toolbox/#r=all . Thanks!

[2018-07-18 19:18] CoderJolly commented on #3027
Yes sir, pls do so. I tried to figure it myself but was unable to do so

[2018-07-18 19:24] jywarren commented on #3078
also, how many of you have participated in Code-In before?

[2018-07-18 19:25] jywarren commented on #3078
... i guess everybody went to sleep 😂

[2018-07-18 19:31] SidharthBansal commented on #3078
The form for 2018 will be out after GSoC ends. Just after that.
I have not participated in Code in before.
Working at Public Lab is my first awesome intern.

[2018-07-18 19:32] SidharthBansal commented on #3078
Yeah was preparing for sleep, here it is midnight.

[2018-07-18 23:01] CoderJolly commented on #3027
Done.....

[2018-07-18 23:44] jywarren commented on #214
OK - do we have reply to question working now too? Just checking!

[2018-07-18 23:45] jywarren commented on #214
sorry, i mean reply to question leading to a comment on the question?

[2018-07-19 04:17] Souravirus commented on #3051
Ok I will try to see the request parameters

[2018-07-19 05:37] namangupta01 commented on #214
Yeah we do have
On Jul 19, 2018 5:16 AM, "Jeffrey Warren" <notifications@github.com> wrote:

[2018-07-19 07:43] Gauravano commented on #3027
I guess you pushed the branch to your own repo, please push using `git push https://github.com/nataliyah123/plots2 wikipgissue` Thanks!

[2018-07-19 13:30] Gauravano commented on #3081
Hi @chitra591 , we would love to have your help. Thanks!

[2018-07-19 14:11] namangupta01 commented on #2671
I just had a call with @SidharthBansal. I asked about this. So we are not saving twitter handle right now which is require to recognise the users. I think we should save it somewhere so we can recognise it @jywarren

[2018-07-19 14:35] SidharthBansal commented on #2671
@namangupta01 you can migrate the user tag model and add handler field.
If you need any further help feel free to contact me.
Thanks

[2018-07-19 15:59] hernandesdoug commented on #3076
Thank you @Gauravano I will look it up and find something that I can contribute it!

[2018-07-19 16:33] SidharthBansal commented on #2671
I think request.env['omniauth.auth']["info"]["urls"]will work.

IMPORTANT: All the providers give different fields in their hash with different names. So, please take care of filling all other providers info -- url field as NULL if they are not twitter

See the hashes given here and compare:

https://github.com/arunagw/omniauth-twitter
https://github.com/mkdynamic/omniauth-facebook
https://github.

[2018-07-19 16:39] SidharthBansal commented on #2671
Google_oauth2 also has same name --> info -->urls
But facebook has handler in extra_info. So, please fetch [extra][raw_info][link] and store in user_tag as handler.
Github --> It is not written in the documentation. May be it does not provide. Search if github provides than assign handler of github to this field
All those which can't be set in handler like Github you may put them as NULL.

[2018-07-19 18:02] knoconnor opened #3099 "Login problem"
Login failed after (presumed) account creation.

Several careful & deliberate attempts to login after creating account failed.  This happened whether I used my email address or username.

An error msg stating that "There is no one in our system by that name . . "

### Please show us where to look

https://publiclab.org/login

### What's your PublicLab.org username?

knoconnor

Have no idea

### Br

[2018-07-19 18:03] imacubsfan23 opened #3100 "install_cloudnine.sh needs upgrades."
When setting up a fork of this repo using install_cloudnine.sh, I have to install rails to run the rest of the commands in install_cloudnine.sh, so I personally think it should be added so I do not have to run it twice, or even 3 times sometimes.

[2018-07-19 18:05] jywarren commented on #3099
Hi, did you receive a "welcome" email that you could check your username
on? Did you sign up using your Google/Facebook/Twitter/GitHub account, or
did you fill out the username yourself? Thanks for reporting!

On Thu, Jul 19, 2018 at 2:02 PM knoconnor <notifications@github.com> wrote:

[2018-07-19 18:05] jywarren commented on #3100
that sounds great, and we'd be happy to merge such additions, thank you!

On Thu, Jul 19, 2018 at 2:04 PM Tim Dickeson II <notifications@github.com>
wrote:

[2018-07-19 18:18] namangupta01 commented on #2671
@jywarren should i make separate column for every oauth?

[2018-07-19 18:25] imacubsfan23 commented on #3100
@jywarren Ready to merge at https://github.com/publiclab/plots2/pull/3095

[2018-07-19 20:19] steviepubliclab opened #3102 "posting an activity - not showing up"
I used the button to "post an activity" one of the activity grids, but when I posted it, it didn't show up in the grid. I think this was because the tag that was automatically put on the post was just the key word, not activity:keyword. Once I added "activity:keyword" it showed up on the grid.

Can we make it so the buttons on activity grids post "activity:_tagname_"

This might be an issue on the

[2018-07-19 21:00] jywarren commented on #3100
thanks!

On Thu, Jul 19, 2018 at 2:25 PM Tim Dickeson II <notifications@github.com>
wrote:

[2018-07-19 21:01] jywarren commented on #2671
I wonder if we could just create a set of additional custom `oa-` fields
for this info in a flat key:value system, rather than migrating the
database... Sidharth, what do you think?

On Thu, Jul 19, 2018 at 2:18 PM Naman Gupta <notifications@github.com>
wrote:

[2018-07-19 21:08] SidharthBansal commented on #2671
Why are we complicating the user_tag so much. We need to add fields a lot of times in future. So, consider the situation that we did according to your approach, then providers will have value as uid:provider:handler. Github doesn't provides any handler. Now sitaution comes we need image to be displayed at profile page. So this will create problem. So then we need to migrate the db. So, my opinion

[2018-07-19 21:09] jywarren opened #3104 "If node.main_image is not set, scan body and use the first image"
Not every node has a main image (see example: https://publiclab.org/tag/mobius), but we could use the first image in the body text if one doesn't exist, by scanning body text and returning the first URL in the format:

`_____.png` OR with `.jpg` or `.jpeg` or `.gif`

The code to return a main image is here:

https://github.com/publiclab/plots2/blob/aa7678e9f937f3086619efa528de67070fc5e1cb/app/mode

[2018-07-19 21:11] SidharthBansal commented on #2671
We need to see the situation where in future we need to implement posts in and out of fb or twitter after logging in then also, we will need other fields. We can't make the value longer

It will be really hard for anyone except me to correct the system if any failure arises in future.

[2018-07-19 21:23] SidharthBansal commented on #2671
Flat system is also a good option. But I am concerned about the better readability of the user_tags for the future.

[2018-07-19 21:53] jywarren commented on #2671
Let's think this through -- what modification exactly to the user_tag model are you looking for? Could we add just one text column, and store JSON in it? I'm trying to think of the most maintainable and flexible way, so we don't have a lot of very specific features on the user_tag model that won't be re-usable for different purposes. Make sense?

Thanks, all!

[2018-07-19 21:54] jywarren commented on #3102
oh, which grid? This used to work... maybe it was one of the manually
created buttons, or maybe something's been tweaked in the code to break
this? Thanks!

On Thu, Jul 19, 2018 at 4:20 PM Stevie <notifications@github.com> wrote:

[2018-07-19 21:56] jywarren commented on #214
hmm, i didn't find that that worked yesterday. Can you give it a try to
confirm?

On Thu, Jul 19, 2018 at 1:37 AM Naman Gupta <notifications@github.com>
wrote:

[2018-07-19 21:59] SidharthBansal commented on #2671
@jywarren yeah I got your point. Let's append the user_tag's val field.

[2018-07-19 23:19] jywarren commented on #2671
I do think using a longer text field could be useful for lots of things, so
if you want to just have a collection of other things to store along with
the key:value, we could do that...

On Thu, Jul 19, 2018 at 6:00 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-07-20 00:42] derek-allen commented on #3091
If it's alright, I'll go ahead and do this!

[2018-07-20 01:21] namangupta01 commented on #214
Sure!
On Jul 20, 2018 3:26 AM, "Jeffrey Warren" <notifications@github.com> wrote:

[2018-07-20 02:25] jywarren commented on #3091
👍🏼👍🏼😄⚡

On Thu, Jul 19, 2018, 8:43 PM Derek Allen <notifications@github.com> wrote:

[2018-07-20 14:33] jywarren opened #3109 "add version history (revisions) for notes, server-side"
More in a sec!

[2018-07-20 14:33] jywarren commented on #204
Moving to a new issue to add version history (revisions) for notes, server-side - #3109

[2018-07-20 14:33] #204 closed

[2018-07-20 14:48] jywarren commented on #3102
Just wondering, was it maybe the link of "be the first to add one" instead of the button? I think that link doesn't add the `activity:` tag... so we'd need to fix that. In this screenshot, the blue button does show the `question:` tag, but the link above does not:

![screen shot 2018-07-20 at 10 45 26 am](https://user-images.githubusercontent.com/24359/43008906-4918350c-8c0a-11e8-9fca-701a89a7fea9

[2018-07-20 14:48] jywarren commented on #3086
Solved in #3088 !

[2018-07-20 14:48] #3086 closed

[2018-07-20 15:04] jywarren opened #3110 "Add "save a draft" pop-up to remind people to save their work?"
Folks sometimes draft a long post at https://publiclab.org/post, and while the [rich editor](https://github.com/publiclab/PublicLab.Editor/) auto-saves drafts (up to 20 of them) locally, that's not super apparent, and it's only in your local browser (you'll lose it if you clear your cache and session).

We could have a Bootstrap pop-up by the `Publish` button appear after you enter more than 100 c

[2018-07-20 15:04] jywarren commented on #3110
Eventually, we could have the /post form automatically save as you begin to type... is that something we'd like to see, @publiclab/community-reps ?

[2018-07-20 17:21] steviepubliclab commented on #3110
Yes!

[2018-07-20 17:21] Souravirus commented on #3078
Hi everyone,
Sorry being late for this check-in. Last week I have worked with changing the jasmine tests to teaspoon-mocha. The changing of tests is actually done but I am currently working with the reporting the test reports to the PR somehow. I was basically trying to report through Dangerbot but it looks like junit in Dangerfile is not detecting any failures of the xml file generated by teaspoo

[2018-07-20 17:29] #3091 closed

[2018-07-20 17:48] namangupta01 commented on #2671
@SidharthBansal Everytime i do login via twitter on local it redirect to public lab website. Any idea?

[2018-07-20 17:50] first-timers[bot] opened #3112 "Update the TESTING.md file"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-07-20 17:50] namangupta01 commented on #2671
I guess i Got it why it is occuring

[2018-07-20 17:52] Souravirus commented on #3055
Hi @jywarren @siaw23 I have posted a first-timers-issue related to this. Please see this https://github.com/publiclab/plots2/issues/3112

[2018-07-20 17:55] jywarren commented on #3055
awesome!

On Fri, Jul 20, 2018 at 1:53 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-07-20 18:49] jywarren commented on #3078
Hi, Sourav - if you'd like to merge the basic fix and think about the
report-back of tests in a separate PR, that's totally OK!

Thanks for checking in!

Who'd like to do next week's check-in? Thanks all for a great week!

On Fri, Jul 20, 2018 at 1:22 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-07-20 18:59] namangupta01 commented on #2671
@SidharthBansal i am getting this error kindly help:
![screen shot 2018-07-21 at 12 28 05 am](https://user-images.githubusercontent.com/20709985/43020264-1338e800-8c7d-11e8-9b08-962e69dcdac4.png)

[2018-07-20 19:00] namangupta01 commented on #2671
![screen shot 2018-07-21 at 12 30 17 am](https://user-images.githubusercontent.com/20709985/43020327-47dcc7ac-8c7d-11e8-8268-ef119e343a11.png)

[2018-07-20 19:00] SidharthBansal commented on #2671
can you please send screenshot for 127.0.0.1:3001 port

[2018-07-20 19:03] SidharthBansal commented on #2671
Add adbance settings to allow https for unsecure websites

[2018-07-20 19:04] SidharthBansal commented on #2671
127.0.0.1:3001 is unsecure

[2018-07-20 19:12] Gauravano commented on #3027
@CoderJolly any update on this. Sorry, just excited to see it in work :sweat_smile:

[2018-07-20 19:14] Souravirus commented on #3078
yeah I was also thinking of it lets merge that without the changes in Dangerfile and I will try the report back fix in other PR

[2018-07-20 19:29] SidharthBansal commented on #2671
@jywarren I was today searching for how the flat system can be achieved.
The following file is the main file in my Soc Project.
https://github.com/publiclab/plots2/blob/f2fe98da351a562152a85bd068acb1a9e6e7f7c0/app/models/user_tag.rb#L24-L30
If we do append the string then the whole Soc Project will need update at multiple positions. Also all tests will fail. We need to write all the tests again.
@

[2018-07-20 19:31] namangupta01 commented on #2671
I think @jywarren said here that can we add new text field where we can store JSON object that we are getting in response.

Am i right @jywarren ?

[2018-07-20 19:33] Gauravano commented on #3110
I am adding pop-over for now and yes!, I would like to help with this issue once details are final. Thanks!

[2018-07-20 19:33] SidharthBansal commented on #2671
If we create a new field in the db then Soc project can be modified without any conflicts. All the tests and code for Soc Project will remain as it is.

[2018-07-20 19:36] SidharthBansal commented on #2671
Lets wait for jeffs input.

[2018-07-20 19:36] namangupta01 commented on #2671
Yes......

[2018-07-20 19:47] CoderJolly commented on #3027
Actually this error came when i did it, and i forgot to upload...apologies

<img width="849" alt="screen shot 2018-07-21 at 1 15 29 am" src="https://user-images.githubusercontent.com/25739036/43022107-b9e25fdc-8c83-11e8-810b-12f5b24647e3.png">

[2018-07-20 19:48] namangupta01 commented on #214
@jywarren Both question and notes use same node model right? And reply by email is specific to node and answer so i think it should work. But i tried to comment via email to normal post even that is not comment is not added. Is the mailman server stop working after sometime or server connection get timeout after some time because when you redeploy the app it adds all the comments.

[2018-07-20 19:51] Gauravano commented on #3027
hmm, let me try!

[2018-07-20 20:00] namangupta01 commented on #2671
My another concern is that when we will poll for new replies on twitter in every 5 seconds or in every 10 seconds we are going to find if particular handle exist or not in database. Suppose in every response we got some replies and then we have to find the handles for that we will be parsing the text field for extracting the handle and to check if that handle exist or not. Would it increase the ti

[2018-07-20 20:05] Gauravano commented on #3027
Ok, I pushed your commit. I guess its due to permission issue. As I am a member of PL so I can push to other's PR. Thanks, @CoderJolly  for completing PR.
Also, we would love to have your help on other issues, so if you are looking for new tasks, you can check here https://publiclab.github.io/community-toolbox/#r=all . Thanks!

[2018-07-20 20:12] jywarren commented on #214
Hmm, let's ping @icarito and ask if there's more we need to do to keep the mailman server running?

[2018-07-20 20:22] jywarren commented on #2671
Hi! Yes, i was saying that if there is a lot of content you want to store
together in a less-flat way, we could make a `data` text column in the
user_tag table, and store JSON in it. But can you offer a clear example of
the kind of data you want to be storing so we know if it's the appropriate
way to store it? Thanks!

For the complexity, i agree, this could create significant load. Can you
write

[2018-07-20 20:22] jywarren commented on #3110
awesome, thank you!

On Fri, Jul 20, 2018 at 3:33 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-20 20:40] namangupta01 commented on #2671
`Pseudocode:`
1. Fetch latest replies from Twitter :
2. For every reply in replies :
    check if it belongs to any node or post using `publiclab.org/n/_____` and if that node exists then find if the user exist using tweet replier. If user exists add the comment.
[code]

[2018-07-20 21:03] CoderJolly commented on #3027
no problem

[2018-07-20 21:58] namangupta01 commented on #214
Can you share the mailman ending logs so that we can be fully sure about what the bug is?

[2018-07-20 22:11] Souravirus commented on #3051
Hi @jywarren, when I tried to see the request parameters Here what I got:
![screenshot from 2018-07-21 03-38-47](https://user-images.githubusercontent.com/17192149/43027425-c613fa18-8c97-11e8-9399-738e6b325e62.png)
Here as you can see the request type is html. So I guess changing to `.html` format might working. Testing if it works. Thank you!!

[2018-07-20 22:18] namangupta01 commented on #2671
As of now i only need to store twitter handle but don't know what feature
we want in future like profile picture and more?

On Sat, Jul 21, 2018 at 1:52 AM Jeffrey Warren <notifications@github.com>
wrote:

[2018-07-20 23:15] icarito commented on #214
sure!
[code]

[2018-07-20 23:18] icarito commented on #214
I've restarted the service manually (with `docker-compose up`).
The logs added the following lines:
[code]
It appears to be running now!

[2018-07-21 01:29] stefannibrasil commented on #3078
I can do the check-in next week.

[2018-07-21 01:31] SidharthBansal commented on #3078
Great

[2018-07-21 01:36] jywarren commented on #3078
Awesome, thanks!!!

On Fri, Jul 20, 2018, 9:31 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-07-21 02:40] jywarren commented on #3051
Awesome! We could show both .js and .html in the controller!

On Fri, Jul 20, 2018, 6:12 PM Sourav Sahoo <notifications@github.com> wrote:

[2018-07-21 03:02] stefannibrasil opened #3115 "Some Docs improvement"
- [x]  Explain what is an Authlogic model
- [x]  Add how to generate your token to comment with it
- [x] Explain the master, stable and unstable branches
- [x] Add CodeClimate introduction on codeclimate.md

[2018-07-21 04:29] codiusnomadus commented on #3112
I'd like to work on this one. Thanks!

[2018-07-21 05:18] codiusnomadus commented on #3112
Pushed the changes already. Please review. Thanks!

#3116

[2018-07-21 08:01] Gauravano commented on #2796
Merging with #2985

[2018-07-21 08:01] #2796 closed

[2018-07-21 11:03] namangupta01 opened #3117 "Add column to store all the data receiving in omniauth"
As discussed in #2671. There is need of some data in addition to the data we are storing currently from omniauth response. For now we need handle but in future we may need some more data so we can store all data at one place which can be used later if we want to.

[2018-07-21 16:34] jywarren opened #3120 "Mysql2::Error: Expression #1 of SELECT list is not in GROUP BY clause (locally only)"
My local instance is seeing the same error we saw on June 7 (https://github.com/publiclab/plots2/issues/2787#issuecomment-395601276) that I thought we fixed in https://github.com/publiclab/plots2/pull/2794

`Mysql2::Error: Expression #1 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'plots.node_revisions.vid' which is not functionally dependent on columns in GROUP BY cl

[2018-07-21 16:35] jywarren commented on #3120
Docs:

https://dev.mysql.com/doc/refman/5.7/en/group-by-handling.html

https://stackoverflow.com/questions/34913281/select-list-is-not-in-group-by-clause-and-contains-nonaggregated-column

[2018-07-21 16:37] jywarren commented on #3120
This seems to say that any column/field we select MUST be in the GROUP_BY call too. Weird, because we don't use select near here, only up on line 93:

https://github.com/publiclab/plots2/blob/6f353b2937af8b523708a9991813bbdbac21987d/app/controllers/home_controller.rb#L93

[2018-07-21 16:39] jywarren commented on #3120
But ActiveRecord produces a select from our query, the full query being:

[code]

[2018-07-21 16:41] jywarren commented on #3120
Also noting that the default for the `ONLY_FULL_GROUP_BY` setting changed in MySQL 5.7, so we may have some version mismatch issues here, but i'll fix it on my local anyways. Which is:

`mysql  Ver 14.14 Distrib 5.7.21, for Linux (armv7l) using  EditLine wrapper`

[2018-07-21 17:40] jywarren commented on #2665
https://github.com/railsmachine/utf8mb4_conversion_scripts has a possible solution!

[2018-07-21 17:43] jywarren commented on #2665
It's pretty thorough, and somewhat involved. I think we should look into it because it may also solve #2209

@icarito, after the memory-exhaustion issue in #2824 , would you mind looking at this and attempting a migration of `unstable` to see how hard this would be?

[2018-07-21 17:47] namangupta01 commented on #2665
Hi @jywarren I am working today on this will create a pr for this for comment today.

[2018-07-21 17:48] jywarren commented on #3120
OK, adding a commit to #2925 to resolve this! 4544dc5f587b676df82f347877c1e4fce5ba891f

[2018-07-21 17:48] #3120 closed

[2018-07-21 18:10] derek-allen opened #3121 "Simplified Tag listing in sidebar:related"
Per #3091, the tagging should be moved into the related sidebar, much like this.

![image](https://user-images.githubusercontent.com/40677825/43038871-45279464-8ce7-11e8-91c7-77c177a9f5cc.png)

The tagging template lives here
https://github.com/publiclab/plots2/blob/master/app/views/tag/_tagging.html.erb

[2018-07-21 18:16] jywarren commented on #3121
⚡⚡👍🏼

On Sat, Jul 21, 2018, 2:11 PM Derek Allen <notifications@github.com> wrote:

[2018-07-21 18:44] jywarren opened #3122 "Send @mentioned people notifications on note publication"
People are increasingly used to mentioning people like @jywarren and triggering an email notification to that person when commenting on PublicLab.org. But when you do this in the body of a note, it doesn't send a notification like it does in a comment.

The comment "mentions" are done in this code:

https://github.com/publiclab/plots2/blob/e95d89351e9d352ffa5dafe2209c4713b1f7453d/app/models/commen

[2018-07-21 19:00] derek-allen commented on #3121
@jywarren to clarify, is the intention to have that tagging system live in the sidebar site-wide? Or only in the cases where "Ask a Related Question" appears?

[2018-07-21 19:12] jywarren commented on #3121
Let's do it for all wiki pages and notes and question pages - that's pretty
much site-wide!

On Sat, Jul 21, 2018 at 3:00 PM Derek Allen <notifications@github.com>
wrote:

[2018-07-21 19:17] namangupta01 commented on #2671
HI @jywarren I have added migration to save JSON for omniauth response in #3117 just to give it a start...let me know if needs any change?

[2018-07-21 20:14] cheneyshreve opened #3123 "Address encoding issue in order to display emoji in text editor"
### Please describe the problem (or idea)
Currently, emojis only display in comments. We'd also like to display them in the editor.
This relates to  issue #2665.

[2018-07-21 20:21] cheneyshreve opened #3124 "Generalize the emoji code"
* [ ]  we could move this JS code into its own /app/assets/javascripts/emoji.js file
* [ ]  we could generalize it so it could ALSO be used, or at least some parts re-used, for the rich editor, demo below

![testing_atwho_richtexteditor](https://user-images.githubusercontent.com/29315273/43039746-e8ba29b0-8ce8-11e8-81bd-8343ca0d5bbc.gif)

[2018-07-21 22:17] SidharthBansal opened #3125 "Refresh the data json for handler of Twitter"
### Please describe the problem (or idea)
There is a need to change the data field when the expiry_date of the auth hash is met. Else we will be using the non updated handler value.
There are certain websites which allows the handler to be modified by the user.
Can @namangupta01 please create a function which checks if the data field residing in the database has met the expiry date? If it has met

[2018-07-22 16:51] nataliyah123 commented on #2493
@jywarren .hi should i try to make the stacked nav-pills in sidebar of the following file

[2018-07-23 15:03] namangupta01 commented on #2671
@jywarren any review and feedback regarding `pseudocode` and pr?

[2018-07-23 15:04] namangupta01 commented on #2671
i am hoping to complete this as soon as possible.

[2018-07-23 15:47] jywarren commented on #1610
@Gauravano is solving this in https://github.com/publiclab/plots2/pull/3119, i believe!

[2018-07-23 15:59] jywarren commented on #2824
Saw another memory-related error in https://travis-ci.org/publiclab/plots2/builds/405981763

[code]

Restarting it...

[2018-07-23 15:59] Gauravano commented on #1610
You got it right @jywarren

[2018-07-23 17:09] Gauravano commented on #1610
Actually, #3119 is a small part of this unsubscribe system, we want to build. Currently, a user can unsubscribe from the the
1. Like notifications (user being author)
2. Comment notifications (user being author)
3. Indirect comment notification (user being commenter)

@jywarren we need to add more points to this, what do you think?

[2018-07-23 17:23] Souravirus commented on #2824
ok lets see about it.

[2018-07-23 17:55] jywarren commented on #1610
hmm, answer notifications? what other kinds are there?

On Mon, Jul 23, 2018 at 1:10 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-23 19:29] imacubsfan23 commented on #3087
How are tags seeded into the project? (How to make new tags through console or irb)

[2018-07-23 19:32] jywarren commented on #3087
you can go to any page with a tag input and enter new ones (only if you are
logged in) on that page. That's how I mostly do it!

On Mon, Jul 23, 2018 at 3:29 PM Tim Dickeson II <notifications@github.com>
wrote:

[2018-07-23 19:40] jywarren commented on #2671
Can you share a typical JSON output that'd be stored in this new column, so we can see? Thanks!

For the pseudocode, could you do something like:

[code]

It might be more optimal?

[2018-07-23 19:41] steviepubliclab opened #3130 "Image not adjusting size with sidebar"
I just published a new research note and noticed my lead image did not adjust to fit the shape of the rt. justified sidebar. This is what happened:

![screen shot 2018-07-23 at 3 38 27 pm](https://user-images.githubusercontent.com/7490478/43099067-eec328e6-8e8e-11e8-8b30-ec403eebecff.png)

I changed the image to make it less narrow and didn't have the same problem:
![screen shot 2018-07-23 at 3 40

[2018-07-23 19:46] namangupta01 commented on #2671
Here's is the sample JSON:
[code]

[2018-07-23 19:47] imacubsfan23 commented on #3087
How do I subscribe to a tag? It won't increase from 0

[2018-07-23 19:48] namangupta01 commented on #2671
Yes we can use the code specified by you, we will need `twitter_id` column in `user_tag` table?

[2018-07-23 20:09] jywarren commented on #2671
yeah, the problem is you can't search by the json, probably... you could
full text search but it's a bit expensive, right? @sidharthBansal - what do
you think is a good approach here?

On Mon, Jul 23, 2018 at 3:49 PM Naman Gupta <notifications@github.com>
wrote:

[2018-07-23 20:19] namangupta01 commented on #2671
Yes, it would make it expensive.
Adding direct `username` to column for all oauth services would help?

[2018-07-23 20:38] Gauravano commented on #2671
Hi guys, just want to remind that we store, usernames for various social accounts in usertags too, so if you guys decide on switching to tables for storing username then, please open a follow-up issue to merge that system. Thanks!

[2018-07-23 20:43] Souravirus commented on #3051
I tried with format.html but its giving error as there is no such suitable html file to be rendered during creation of a comment to an answer. Also for now answering a comment on an answer is working perfectly. So, should we close this issue. What do you think?

[2018-07-23 21:36] jywarren commented on #2671
Would it be worth auto-generating the [twitter:jywarren] style tag from the
OA system? We do need to be careful that nobody falsely associates their
account using the [twitter:jywarren] style tags, so maybe we need to
combine these; Gaurav, could you explain a little about how that system
works?

On Mon, Jul 23, 2018 at 4:39 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-23 21:37] #213 closed

[2018-07-23 21:39] jywarren commented on #3087
ah, well, you can on the page like /tag/<tagname> so for the tag 'water'
it'd be at /tag/water - does that work?

On Mon, Jul 23, 2018 at 3:48 PM Tim Dickeson II <notifications@github.com>
wrote:

[2018-07-23 21:40] jywarren commented on #3051
Hmm, and we'd expect a js file to be sent back, right? I wonder how this happened...

https://github.com/publiclab/plots2/blob/bce1f1fb7847f5444474f26218284cfaf602d2c5/app/controllers/comment_controller.rb#L86

Could you try making an html template to see how that works? Otherwise could we modify the original request to send a .js request?

[2018-07-23 21:42] Souravirus commented on #3051
Ok I will work on modifying the original request to send a .js request. Let's see.

[2018-07-23 21:59] jywarren opened #3132 "double check "everything" subscription emails for draft posts"
@Gauravano i just got an email notification for a draft post... was wondering if everyone subscribed to "everything" got that? Maybe we need to filter that? Just double checking! Thanks!

[2018-07-23 22:02] jywarren commented on #1716
Hi, Sidharth - what did you think, did you make up your mind about what to spend the remainder of the summer working on?

[2018-07-23 22:10] imacubsfan23 commented on #3087
Nevermind, I know how to follow the tag, but it doesn't change the '# of people subscribed' count.
It works on the site, but not on my cloud9 build for some reason. I'll have to look into it

[2018-07-23 22:40] jywarren commented on #2493
Hi, I think there's someone else working on this right now, so maybe we
should hold off! I created a bunch of new issues recently though, want to
have a look?

On Sun, Jul 22, 2018 at 12:52 PM nataliyah123 <notifications@github.com>
wrote:

[2018-07-23 22:49] jywarren commented on #3027
Complete, thank you everyone! (#3037)

[2018-07-23 22:49] #3027 closed

[2018-07-23 23:31] imacubsfan23 commented on #3087
Yes, even when I refresh the page the count is always 0

On Jul 23, 2018 5:27 PM, "Jeffrey Warren" <notifications@github.com> wrote:

hmm, even with a page refresh?

On Mon, Jul 23, 2018 at 6:10 PM Tim Dickeson II <notifications@github.com>
wrote:

https://github.com/notifications/unsubscribe-auth/AABfJ7O8Ob47WTbIGzwkm0QDHHMIP0HWks5uJknOgaJpZM4VUpXW

—
You are receiving this because you commented.

[2018-07-24 01:10] stefannibrasil opened #3133 "Community Check-in #10 Summer Of Code Week 11"
Hi everybody :smiley:  !

If you're new here, welcome, and please try some of our first-timers-only issues. This is a checklist for publiclab/soc.

@stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @ViditChitkara @tech4GT @mridulnagpal @namangupta01 @sagarpreet-chadha @Souravirus @jywarren @MayankKashyap @siaw23 @ryzokuken @ccpandhare @icarito @abTest-123 @steviepubliclab @ebarry @publiclab/soc

[2018-07-24 01:12] stefannibrasil commented on #3078
Moved to #3133

[2018-07-24 01:22] #3070 closed

[2018-07-24 04:05] SidharthBansal commented on #1716
I will be working on the spam moderation system.

[2018-07-24 05:00] SidharthBansal commented on #3133
Hi all,
I will write test for the user tag controller this week.
I will send patches for notifications of OAuth when no password set.
Thanks

[2018-07-24 05:20] SidharthBansal commented on #2671
Hi @Gauravano we are nowhere storing the usernames of the social media users till now. Currently only user id and provider name is saved.
@Gauravano can you please elaborate what issue are you pointing to? We are not making new tables. We are migrating the usertag.

@jywarren, @namangupta01 if we store the hash directly in the hash format, then it will be easier for us to search. Omniauth returns

[2018-07-24 05:31] SidharthBansal commented on #2676
@jywarren is there any need to bcrypt the uid before storing in the db? I don't think there is a need.
I have added few items to the checklist on which  I am working nowadays.
Also, is there any need to notify the user weekly or monthly that they have not set up there passwords yet OR can we just ignore this?
I think it will be frustrating for the clients to get weekly messages until they set up t

[2018-07-24 08:39] Gauravano opened #3135 "Draft Privacy"
As people have started using the draft feature (happy to know :tada: :smile: ), we should verify that Draft is safe in all ways. Some issues are:

- [ ] Creation of draft is notified to those users which are subscribed to everything (by @jywarren )

Please add more issues to the list @publiclab/community-reps. Thanks!

[2018-07-24 13:43] tech4GT commented on #3133
Hello Everyone!! Last week we put in a lot of work!! This week I am working a finishing up all core work in image sequencer. This week we also saw some new contributors on the project. Thank you😁

[2018-07-24 14:03] marzann commented on #2493
@jywarren @SidharthBansal: sorry about the delay! I have been quite busy lately. Please open this issue to other collaborators. I will check for new contribution opportunities down the road. Tysm!

[2018-07-24 14:06] jywarren commented on #2493
ah, no problem! I actually meant there's another project to replace this
content in the sidebar completely, so the collapsible sections are not
needed now, i think!

On Tue, Jul 24, 2018 at 10:04 AM Marzanna Friedman <notifications@github.com>
wrote:

[2018-07-24 14:11] jywarren opened #3137 "Add link to approve/spam comments in comment email notifications to moderators"
When I see a new comment in my email inbox, it'd be great to be able to spam + ban directly from there, if possible!

But only moderators should receive this type of email. In any case, it could be at the bottom of the message, and if, in replying, the link gets posted to the site, it should be OK since others won't be able to use the function. @Gauravano -- any interest in this one? Should be pre

[2018-07-24 14:17] Gauravano commented on #3137
yes, I would like to take this one! Thanks!

[2018-07-24 16:13] namangupta01 commented on #2671
@Gauravano I guess Using this will not be a good because i can be able to add any username i want ?

[2018-07-24 16:14] namangupta01 commented on #2671
As the @jywarren we should merge the OA system with it?

[2018-07-24 16:19] #2408 closed

[2018-07-24 16:19] devinbalkind commented on #1144
Looks like the most useful data ya'll have from a recola.org perspective is the /wiki/tag/method records. We could pull those in, display the name, image, description (character limited) and a link to your website's record. Will look more into this at some point.

[2018-07-24 16:56] jywarren commented on #3133
Nice work @tech4GT on welcoming a newcomer into your project! https://github.com/publiclab/image-sequencer/pull/310#issuecomment-407427467

Felt good? 🎉

[2018-07-24 16:59] jywarren commented on #2676
Yeah, i think we can skip notifications, but display a note on their
profile maybe?

On Tue, Jul 24, 2018 at 1:31 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-07-24 17:02] #3121 closed

[2018-07-24 17:07] jywarren commented on #1716
ok, awesome, thanks!

On Tue, Jul 24, 2018 at 12:06 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-07-24 17:09] k-sau commented on #3093
Hey, i'm first timer and I want to contribute on it but I have few doubts.

1. ``These also have different displays at narrow width (for phones) as well as medium and wide.``
Using the chrome developer tools, opening the site as mobile , I was able to check that there's no shortlink option for mobile but I didn't get the ``as well as medium and wide`` :(

2. ``Then as a follow-up, let's also add a

[2018-07-24 17:09] jywarren commented on #3087
Hmm, do @publiclab/soc folks have any suggestions here?

[2018-07-24 17:11] jywarren commented on #3093
what you can do is make your browser window wider and narrower to view
different styles!

Are you thinking of where to put it? Maybe on the dashboard, it could be
shown as just the "link" icon, next to the comment icon?

On Tue, Jul 24, 2018 at 1:09 PM Kumar Saurabh <notifications@github.com>
wrote:

[2018-07-24 17:15] jywarren commented on #2671
OK, storing the hash makes sense - why do the extra converting, right? Cool.

And +1 merging these systems. The earlier system is great but would benefit from integration here for the reasons above! Thanks, everyone!

[2018-07-24 17:15] #3112 closed

[2018-07-24 17:17] imacubsfan23 commented on #3087
I got it to work, tested it with 3, 2, and 1 "subscribers" but called it followers like you asked.

[2018-07-24 17:42] namangupta01 commented on #2671
yeah storing hash seems good option👍

On Tue, Jul 24, 2018 at 10:45 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-07-24 17:51] namangupta01 commented on #2671
@jywarren @Gauravano @SidharthBansal can you guys please tell me how to get hash from the string saved in db because i am not able to find a way? Thanks

[2018-07-24 17:59] jywarren commented on #3093
Yes! Similarly to how the `#0000` link works on the full page view, the link icon would itself just be linked to the same short URL. Thanks!

[2018-07-24 18:34] jywarren commented on #2493
Oh, sorry! We actually do need this!

https://stable.publiclab.org/notes/bkleist/04-04-2017/uwec-air-quality-monitoring

See how the tags section is pushed down?

I'd love to have all the "related" content be removed. Would you be willing to do this?

Thank you!

[2018-07-24 18:35] jywarren commented on #2493
@nataliyah123 in particular, i understand @marzann isn't available, though thank you!

[2018-07-24 18:37] jywarren commented on #2493
So in summary i think we could simply remove these sections:

https://github.com/publiclab/plots2/blob/master/app/views/sidebar/_related.html.erb#L49-L86

and perhaps this?

https://github.com/publiclab/plots2/blob/master/app/views/sidebar/_related.html.erb#L101-L103

[2018-07-24 18:53] jywarren opened #3141 "flash[:warning] appearing on subsequent pages"
Hi, @Gauravano - this isn't exclusively related to drafts, but it did come up there. I've noticed flash messages get "delayed" and shown on the wrong page, say, on subsequent page loads on unrelated pages. Can you try to reproduce this? It did happen when viewing a draft page. I think it may happen for other interactions as well.

I'd love some help trying to track this down and solving it! Thanks

[2018-07-24 18:54] jywarren commented on #3133
Hi all - i just published the latest code to the production site! Check it out! https://publiclab.org 👍

[2018-07-24 19:07] jywarren opened #3142 "Tags area not visible at some page widths"
After merging https://github.com/publiclab/plots2/pull/3127, I did notice one thing - in some screen widths (see screenshots), the tags are fully hidden. Is there a way to get this to reflow to the bottom at that range of widths?

It's related to Bootstrap grid: https://getbootstrap.com/docs/3.3/css/#grid

I'll also open a new issue about this, which you're free to claim if you like! Thanks again!

[2018-07-24 19:16] Gauravano commented on #3141
Hi @jywarren I am able to find one such occurrence while visiting the draft page if we visit any other page, then alert remains there. I am resolving it in #3140 . Any more instances which needs to resolve? Thanks!

[2018-07-24 19:19] Gauravano commented on #3141
Tracked one more instance of this issue

![second_instance](https://user-images.githubusercontent.com/20878070/43161039-7e4ce5b8-8fa4-11e8-9481-c6d7fb42f3e6.gif)

[2018-07-24 19:24] Gauravano commented on #3141
One more instance
![another_instance](https://user-images.githubusercontent.com/20878070/43161222-1cdc5128-8fa5-11e8-9cca-1c6df81cfcd7.gif)

All the flash alerts at application.rb are showing this behaviour, changing them to flash.now has resolved the issue.

[2018-07-24 19:43] jywarren commented on #1960
This is now complete in #3127 ! Thank you!

[2018-07-24 19:43] #1960 closed

[2018-07-24 19:43] jywarren commented on #2494
This is complete - a while back! Thanks!

[2018-07-24 19:43] #2494 closed

[2018-07-24 19:52] SidharthBansal commented on #2671
We can follow approaches like https://stackoverflow.com/questions/35665266/rails-how-to-save-a-hash-to-the-db-and-using-it-as-a-hash-once-you-pull-it-for?rq=1
OR https://stackoverflow.com/questions/6694432/using-rails-serialize-to-save-hash-to-database
and go for similar links if they does not help
Thanks

[2018-07-24 19:54] SidharthBansal commented on #2671
Hi @gauravo I will highly recommend you to open another issue for merge of Social Media icons with OA and link it here so that the discussion will not be divergent.
Thanks for the nice suggestion.

[2018-07-24 20:02] jywarren opened #3143 "Add 'tag.related_tags' function to return 5-10 tags most commonly used with this one"
We'd like to try to **show related tags on each `/tag/_____` page, based on what other tags are most often used alongside. ** (building off of #3064 and #13)

This could, in code, be something like:

A `tag.related` method in https://github.com/publiclab/plots2/blob/master/app/models/tag.rb :

* scan through and collect all `node_tag` records
* collect the `nid` values
* collect all `node_tag` rec

[2018-07-24 20:02] jywarren commented on #13
This merging was completed by @milaaraujo and @stefannibrasil in #3107 and related issues in #1449 -- but we are removing the sidebar content in #2493 (or potentially making them default hidden, if someone is passionate about those -- we're hoping the new tag interface can help to perform this function)

However, we are looking for ways to find tags related to any given tag, so I'm going to close

[2018-07-24 20:02] #13 closed

[2018-07-24 20:10] jywarren commented on #4
I think that with the new OAuth work https://github.com/publiclab/plots2/milestone/18 , there are lots of new spam accounts being made, but none of them are successfully getting spam posts through...

[2018-07-24 20:37] namangupta01 commented on #2671
Hi @SidharthBansa i already tried the above links but they didnt work

[2018-07-24 20:38] jywarren commented on #3141
awesome! I think there was one related to OpenId authentication... not sure
if you can find it?

On Tue, Jul 24, 2018 at 3:24 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-24 20:45] first-timers[bot] opened #3144 "Some modifications related to teaspoon-mocha tests"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-07-24 21:02] LostLaser commented on #3144
Do you mind if I take this one?

[2018-07-24 21:03] namangupta01 commented on #2671
I got the problem..we have to explicitly convert the `auth` variable to hash to work it out.

[2018-07-24 21:08] jywarren commented on #3144
please, go ahead, thank you!

On Tue, Jul 24, 2018 at 5:02 PM LostLaser <notifications@github.com> wrote:

[2018-07-24 21:11] jywarren commented on #1097
@ViditChitkara would you like to try tackling this one? We've wanted it for a long time!

[2018-07-24 21:29] jywarren commented on #2069
Hi, @namangupta01 are you still interested in working on this? It's from a while ago but seems pretty interesting and useful!

[2018-07-24 21:33] jywarren commented on #3130
Solved this one!

[2018-07-24 21:33] #3130 closed

[2018-07-25 00:30] derek-allen commented on #3142
So there's some inconsistency in how sidebars act on the various types of Nodes. Dropping the width on a notes page, the will tags disappear under a collapsible, which doesn't occur with Questions and Wikis. I'd like to try and consolidate the sidebar logic into a partial that can handle the various node cases, so that they're consistent across the site, while serving the proper functionality for

[2018-07-25 00:33] jywarren commented on #3142
That'd be amazing. Thank you!!!

On Tue, Jul 24, 2018, 8:30 PM Derek Allen <notifications@github.com> wrote:

[2018-07-25 03:10] derek-allen commented on #3142
Is it desired for the entire sidebar to automatically collapse in sm/xs media?

[2018-07-25 03:17] jywarren commented on #3142
Well, it doesn't display nicely side by side. But perhaps it could be moved
below the content but above the comments?

On Tue, Jul 24, 2018, 11:11 PM Derek Allen <notifications@github.com> wrote:

[2018-07-25 03:36] derek-allen commented on #3142
The entire content of the sidebar? Or just the tagging? As it is now,
everything goes under the comments including the new post buttons (and in
the case of sidebar/related, disappears under a cheveron collapsible).
Sorry if this isn't clear, I'm trying to nail down a consistent behavior
across all sidebar logic. There's a lot to them!

I'm also seeing the sidebars on indexes and user pages that ar

[2018-07-25 03:46] jywarren commented on #3142
Yes, let's standardize on the right side. Great.

I think just the tags, and there's an issue open for removing the related
content anyways... I think the most we'd want to keep is the little inset
map and "response posts" -- the rest we are hoping to achieve through the
tag links themselves, on a separate page, rather than flooding each page
with our guesses at realted content. Make sense?

On Tu

[2018-07-25 04:08] ViditChitkara commented on #1097
Sure, I'd love to!

[2018-07-25 10:47] Gauravano commented on #3137
Hi @jywarren, we don't have any separate system for first-time-comment like first-time-notes has status = 4.
 So, I guess we should make such system for comments
 OR
 We can make a new mailer which would notify moderators of first-time comments, in this case, the comment would be published on site and an email would be sent to moderators to moderate that comment.  What do you think?

[2018-07-25 10:52] Gauravano commented on #3132
Closed in #3136

[2018-07-25 10:52] #3132 closed

[2018-07-25 11:11] Gauravano commented on #3083
Hi @steviepubliclab , we can differentiate between posts and edits.
So, showing something like `2 research notes and 3 wiki edits` would work? Thanks!

[2018-07-25 11:13] Gauravano commented on #3078
Closing this one then. Thanks!

[2018-07-25 11:13] #3078 closed

[2018-07-25 11:29] Gauravano commented on #2910
Hi @shapironick, now you can unsubscribe from the notes where you have commented by going to https://publiclab.org/settings . In settings, you will find this option to turn off the notifications. Hope it will be useful.

Thanks :smile: !

[2018-07-25 11:53] jywarren commented on #3013
Yep! Thanks!!!

[2018-07-25 13:13] steviepubliclab commented on #3102
Sorry, late back here, it was one of the *many grids on this page. But i'm not sure which https://publiclab.org/wiki/barnraising-host

[2018-07-25 13:14] steviepubliclab commented on #3083
That sounds nice!

On Wed, Jul 25, 2018 at 7:11 AM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-25 13:30] jywarren commented on #2761
Completed in #2998, thank you!!!! We'd love to have your help with other issues - maybe https://github.com/publiclab/plots2/issues/2544 or something under "Candidates" on this page? https://publiclab.github.io/community-toolbox/#r=all

👍

[2018-07-25 13:30] #2761 closed

[2018-07-25 13:33] jywarren commented on #2732
OK, closing this one out, thank you!!!

[2018-07-25 13:33] #2732 closed

[2018-07-25 13:55] jywarren opened #3147 "Optimization needed for /api/srch/profiles API query"
Probably due to very high number of users in the system (300k+?) this query needs some optimization as I believe it's responsible for some outages, and is running very slow!

https://publiclab.org/api/srch/profiles?srchString=aya

@icarito - and be aware of this @milaaraujo @stefannibrasil 👍

[2018-07-25 13:59] jywarren commented on #3147
I believe this is a double-ended string match that's running against the whole table - inefficient...

https://github.com/publiclab/plots2/blob/de4d09faf10d16ab2f15291373ca954ebaba60ee/app/services/srch_scope.rb#L5-L8

This is especially apparent when trying to autocomplete usernames after typing `@...`

https://github.com/publiclab/plots2/blob/de4d09faf10d16ab2f15291373ca954ebaba60ee/app/models/u

[2018-07-25 14:02] jywarren commented on #3133
Hi, everyone - I was thinking... many of you have successfully welcomed a newcomer into the community recently with a first-timers-only issue. Have some of them gone on to tackle a harder issue, or more than one?

If you feel like anyone is ready, they might want to take on a more complex project, or even post a draft first-timers-only issue of their own. What do folks think? We might take some ti

[2018-07-25 14:22] SidharthBansal commented on #3133
Great idea. @jywarren I will suggest that we can create a page for newcomers contributions as you do every month to encourage them so that they will do bigger projects.

[2018-07-25 14:51] jywarren commented on #3147
https://github.com/publiclab/plots2/pull/3148 - one attempt at this... any suggestions?

[2018-07-25 14:57] jywarren commented on #3147
Optimizing front end w @ryzokuken too:

https://github.com/ichord/At.js

https://github.com/publiclab/plots2/blob/de4d09faf10d16ab2f15291373ca954ebaba60ee/app/views/comments/_form.html.erb#L76-L88

[2018-07-25 14:59] jywarren commented on #3147
caching example here: https://github.com/ichord/At.js/wiki/How-to-use-remoteFilter#caching-example

[2018-07-25 15:16] jywarren commented on #3147
i also limited to 10 results in the reply, in
https://github.com/publiclab/plots2/commit/d4f16246b901a10956fe04c4c61b1d22536e55e7

[2018-07-25 15:20] jywarren opened #3149 "Caching on heavily-used API calls"
We had some outages this morning due to an old, unoptimized API endpoint being hit hard by the new `@` autocomplete...

https://github.com/monterail/grape-rails-cache

Implementation looks pretty simple! @stefannibrasil @milaaraujo interested in this? As your new code gets relied on more, this seems like a good idea...

[code]

[2018-07-25 15:20] jywarren commented on #3147
Opened a caching issue at #3149!

[2018-07-25 15:34] CoderJolly commented on #3144
May i know if its open or nt ? If nt den pls assign......thnks

[2018-07-25 15:35] jywarren commented on #3147
We could further optimize the `User` query above by selecting only `username`, `status`, `id`... but the full text search also searches `bio` so we'd need to make an alternate form of `User.search` that does not search bios... i'll open another PR for that.

[2018-07-25 15:36] jywarren commented on #3147
https://github.com/publiclab/plots2/pull/3150 - searching only usernames!

[2018-07-25 15:43] shapironick commented on #2910
very cool! thanks! I wonder if it would be possible to unsubscribe from some notes while still being notified about others. there are some notes that i've posted that I want to stay informed about and others that I just commented on many years ago that I don't want to be updated about. would it be possible to unsubscribe on the note page itself or manage them individually like you can in https://p

[2018-07-25 15:50] jywarren commented on #3147
ok awesome, previously this had ~600 results, now only 10: https://publiclab.org/api/srch/profiles?srchString=aya

[2018-07-25 16:05] Gauravano commented on #2910
It's currently not possible but I guess we would plan to do such thing soon! Thanks!

[2018-07-25 16:08] Gauravano commented on #1610
yes answer notifications and unsubscribing from a node like @shapironick mentioned here https://github.com/publiclab/plots2/issues/2910#issuecomment-407800414 . What do you think?

[2018-07-25 18:18] Souravirus commented on #3133
Great idea @jywarren. This is happening with the first-timers that they only contribute to the first-timers-issue and then never come back.
So, last week I was working with few fixes and some modification of TESTING.md. Also, I will be working on transformation to yarn transition this week. Thank you

[2018-07-25 19:31] ebarry opened #3152 "Addition is wrong on total number of unique contributors"
Hi Everyone!
Perhaps this might be a quick, math-related bug to squash? Thanks in advance!

### Please describe the problem (or idea)

I was checking https://publiclab.org/stats to see how many total contributors there were for all time, and the page displays 1234. I now believe this is incorrect because when i requested total contributors between Jan 1 2017 and today's date July 25 2018 by loadin

[2018-07-25 20:06] jywarren commented on #3123
Hi, we might also start working over on this issue to implement your excellent `atwho` work in our rich editor!! https://github.com/publiclab/PublicLab.Editor/issues/44

[2018-07-25 21:18] stefannibrasil commented on #3149
hi, @jywarren yeah, sure!! I'll add it to our Project page, this sounds good!

[2018-07-25 21:22] stefannibrasil commented on #3147
yeah, we were planning to set aside some weeks to work only on improving the search service, but we can start this week, beginning with the #3069.

[2018-07-25 21:44] jywarren commented on #3133
yeah, i often try to set them up with a second issue that's somehow similar
to the first. We can coordinate in this issue or in the chatroom to help
each other match-make people with new issues... i often skim
https://publiclab.github.io/community-toolbox/#r=all

it's nice when people can re-apply their newfound skills to a related
problem, and become experts! Feels great too!

On Wed, Jul 25, 201

[2018-07-25 22:14] ebarry commented on #3133
Hi folks!
Looking ahead to our next video call, how would August 6 work? It's a Monday. We could use this timing to span from Vancouver to Delhi: https://everytimezone.com/#2018-8-6,300,b8jj

This event would be an all-hands video call, as well as serve as August's Public Lab OpenHour -- https://publiclab.org/openhour. This means other people may also attend.

We'd love for each Summer of Code tea

[2018-07-25 23:45] derek-allen commented on #3142
Yeah that sounds good. #2493 will probably get covered by this too.

[2018-07-25 23:46] derek-allen commented on #2493
I'm making some changes to sidebar functionality that can cover this too. Just checking to make sure no one like @nataliyah123 is on this?

[2018-07-26 01:47] icarito opened #3154 "Sidekiq resource consumption"
I noticed Sidekiq uses a lot of RAM.
It could have a memory leak. This morning, recently started, it was using 1GB now, 2.7GB:

`2766M  133M  7644 S  0.5  1.7  2:24.62 sidekiq 5.1.3 app [0 of 25 busy]`

Perhaps we could decrease the number of threads somehow?

[2018-07-26 08:10] Gauravano commented on #3133
Great @ebarry !

[2018-07-26 08:14] Gauravano commented on #3133
Hi @publiclab/soc ,
Last week, I have completed the Settings page https://publiclab.org/settings .Now, one can change Email settings from there.
I am working this week on https://github.com/publiclab/plots2/issues/3137 and completing documentation tasks.I would also be working on adding some more settings to the /settings.
Thanks!

[2018-07-26 16:31] saxe405 commented on #3152
Hi, sorry for a stupid question. How do i see the repository name where these stats are computed ?

[2018-07-26 17:20] SidharthBansal commented on #2676
OK, I have updated the checklist according to your suggestions.
Thanks

[2018-07-26 17:57] nataliyah123 commented on #2493
@derek-allen .ok if your pr is covering the above issue too . and you already have done that . than you can take the issue.

[2018-07-26 18:02] #762 closed

[2018-07-26 18:05] jywarren commented on #884
Hey @publiclab/soc -- i have an idea about this but it's a bit of a project... I know folks may be looking for a small project to take on?

What if we decided to

1. make it possible to "reply" to a comment with another comment, like on Reddit.com
2. make a comment type that is "type=answer"
2. make all answers into comments -- actually migrate them to the comment table, and mark them as "answer"

[2018-07-26 18:07] jywarren commented on #2493
Thanks, both of you!

[2018-07-26 18:07] jywarren commented on #2493
Please check out https://publiclab.github.io/community-toolbox/#r=all for more issues we'd love help with!

Maybe this one? https://github.com/publiclab/plots2/issues/2544

[2018-07-26 18:15] ebarry commented on #3152
Hi @saxe405 , that's not at all a dumb question! In fact, I have no idea where that information lives! Thanks for writing in, i thought i was losing my mind looking at numbers which didn't seem right. I'm going to copy in @publiclab/connectors to add in any documentation that could help.
Thank you again so much for writing in!

[2018-07-26 18:16] jywarren opened #3159 "initial posts by newcomers (pre-moderation) not being sent to moderators@publiclab.org?"
I'm no longer seeing emails going to the moderators list for review. It seemed to stop on April 8th... if you're in the group, you can see the last one here:

https://groups.google.com/forum/#!topic/publiclab-moderators/ArUtyP1ubuI

Since that date, emails are sent when a post is approved or spammed, but not when it's first posted.

This line is supposed to send the initial email:

https://github.

[2018-07-26 18:22] #2053 closed

[2018-07-26 18:36] steviepubliclab commented on #3133
Hey all! posted an update to the OpenHour page for our call on the 6th! [Check it out] (https://publiclab.org/openhour).   Available to join!?

[2018-07-26 18:40] SidharthBansal commented on #3133
Yeah I have written it in my schedule

[2018-07-26 18:41] Gauravano commented on #3159
Hi @jywarren, this is due to missing call i.e., `.deliver_now` is missing on this https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L196 line

[2018-07-26 18:42] sagarpreet-chadha commented on #3133
Count me in also 👍 👍 👍 !

[2018-07-26 19:02] Gauravano commented on #3152
Hi @saxe405, the stats page takes logic from  https://github.com/publiclab/plots2/blob/master/app/controllers/stats_controller.rb . Please feel free to ask for any doubt or help.
Thanks!

[2018-07-26 19:11] jywarren commented on #3159
https://github.com/publiclab/plots2/pull/3160 submitted a fix, thank you!!!!

[2018-07-26 19:11] #3159 closed

[2018-07-26 21:10] jywarren commented on #3137
Oh, hi! Sorry, so I think it's enough that if you see a comment because you're otherwise subscribed, you can spam it.

The issue is that we currently BCC everyone onto one email, so we don't send a separate one to moderators. So maybe it could say:

`Look like spam? _Flag this for moderators_. (Are you a _moderator_? Mark this as _spam_.)`

what do you think?

[2018-07-26 21:12] jywarren commented on #1610
agreed, so this is 2 additional types of unsubscribe?

Would Nick's suggestion be like, `commented on a note but no longer want to be updated` -- and how would we store that? Could we... store a "silence this thread" somewhere?

[2018-07-26 22:00] jywarren commented on #3137
yeah, that sounds great, thank you!

On Thu, Jul 26, 2018 at 5:29 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-26 22:20] jywarren commented on #1610
nodeselection could work, would we set a true/false column added to
nodeselection? and we can hide the button under the Like menu maybe?

And add a link in comment emails themselves?

On Thu, Jul 26, 2018 at 5:25 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-27 00:01] derek-allen commented on #3143
I'd like to give this a shot if that's okay?

[2018-07-27 01:16] stefannibrasil commented on #3133
Hi, everyone, I will do my best to attend, but I also have a part-time job and some weeks are busier than others... Also, @milaaraujo and I already have a weekly call with our supervisor, so we already discount that hour from our other work.

But we will talk with our supervisor if it's possible to make some changes on that week, okay? :)

[2018-07-27 02:16] derek-allen commented on #3143
I've got a working prototype for this feature committed here https://github.com/derek-allen/plots2/commit/2b5a25b29d3f72cd8d23a3d68d6b7b34dfb5fbde

This caches related tag results for a week the first time it is called.

I'm not sure where and how exactly the related tags should be displayed exactly so I put them here in its own partial. I'd like to use the same partial that's part of the logic dr

[2018-07-27 03:41] jywarren commented on #3143
Oh wow! Please open a PR, this looks really good!

On Thu, Jul 26, 2018, 10:16 PM Derek Allen <notifications@github.com> wrote:

[2018-07-27 13:30] k-sau commented on #3093
Hi,
+ I have added shortlink icons to the question page. The other two pages already have that icon.
+ I also added to the dashboard: https://imgur.com/a/DpQAZAO

Doubts:
+ Do i also have to add shortlink icon to the question activity also? Like: currently it only have `?` icon
+ I have almost no experience with styling, so im stuck at styling part for phone (and medium & wide size window). Do i n

[2018-07-27 13:36] SidharthBansal commented on #3133
Hi @jywarren when does the intern start? In which month?

[2018-07-27 13:44] SidharthBansal commented on #3133
Hi @jwarren I have notified all my friends on whatsapp and facebook. Let's see who all jumps into PL group.

[2018-07-27 15:56] #3083 closed

[2018-07-27 20:13] jywarren commented on #3133
Thank you!!! It will start in August.

[2018-07-27 20:34] jywarren commented on #3040
i think in ruby you can execute commandline things by wrapping a command in ` characters, OR

by running `system('ls')`

[2018-07-27 20:38] jywarren commented on #2824
https://docs.travis-ci.com/user/common-build-problems/

[2018-07-27 20:49] jywarren commented on #2824
OK, so one plan is to try some of these Travis options. Another is to try running these in CircleCI or another service to see!

[2018-07-27 21:33] Souravirus commented on #2824
Ok reading these options. Thanks

[2018-07-27 21:49] jywarren commented on #3093
Looks nice! On the dashboard, could we put it to the left of the button that's at the bottom right of each box? In a similar looking button but with the `#` symbol?

I think that'll allow you to do the same for question entries on the dashboard too - thanks!

Can you name what line of what file you're looking at for the styling part? Thanks for your help, we'll do our best to support as this moves

[2018-07-27 21:56] Souravirus commented on #2824
Can I work on this after working on #2659?

[2018-07-29 08:48] siaw23 commented on #2941
Hi Jeff, I'd like to look into this myself. Can you please share the link showing our data endpoints with me? @jywarren

[2018-07-29 12:37] Gauravano commented on #1610
The button can be added at many places, I guess we can come to that later. I will first see all places where NodeSelection is used, so that we don't mess up with any previous feature/function. Thanks!

[2018-07-29 19:58] sagarpreet-chadha commented on #3133
Hi all !
I was busy with college stuff the previous week , and will try to catch up this week .
Starting with integration of leaflet-environmental-library to plots2 .
Thanks !

[2018-07-30 06:42] sagarpreet-chadha commented on #3094
Screen-shots :
1.) Changed recent contributors marker to black . Does this look okay ?
<img width="857" alt="screen shot 2018-07-30 at 12 10 37 pm" src="https://user-images.githubusercontent.com/14952645/43381259-bba85ba8-93f1-11e8-9a84-ac714c950729.png">

[2018-07-30 07:45] sagarpreet-chadha opened #3165 "[Continued] Integrating Leaflet-environmental-library to /maps ."
Continued from #3094 !

TO-DO :

- [x] Restrict infinite scrolling and panning .

- [x]  Adding Hash .

- [x]  Integration .

[2018-07-30 13:50] jywarren commented on #3133
Thanks, Sagarpreet!

OK, I'm going to do this week's check-in!

[2018-07-30 14:12] jywarren commented on #1610
Hmm, I think we ended up using "liking" to mean both liking and following.
Perhaps we should make pressing the button enable both a like and a follow,
but then if you want you can "unselect" following so you don't take away
the star but you don't get updates anymore?

On Mon, Jul 30, 2018 at 9:25 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-30 14:40] jywarren commented on #3094
Yeah, i think so -- @publiclab/community-reps what do you think?

[2018-07-30 14:43] steviepubliclab commented on #3094
looks good to me. Wondering if it will start to look like a lot of black with the base layer lines being in grey scale? Not sure, might be better!

[2018-07-30 15:02] #3100 closed

[2018-07-30 15:51] jywarren commented on #2941
for sure --
https://oss.skylight.io/app/applications/GZDPChmcfm1Q/recent/5m/endpoints

I also shared the acct with you!

On Sun, Jul 29, 2018 at 4:48 AM Emmanuel Hayford <notifications@github.com>
wrote:

[2018-07-30 15:57] jywarren opened #3167 "Community Check-in #11 Summer Of Code Week 12"
Hi everybody :smiley:  !

If you're new here, welcome, and please try some of our [first-timers-only issues](https://publiclab.github.io/community-toolbox/#r=all). This is a checklist for @publiclab/soc.

@stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @ViditChitkara @tech4GT @mridulnagpal @namangupta01 @sagarpreet-chadha @Souravirus @jywarren @MayankKashyap @siaw23 @ryzokuken @ccpandhare @ica

[2018-07-30 15:58] jywarren commented on #3133
Closing!!!

[2018-07-30 15:58] #3133 closed

[2018-07-30 15:58] jywarren commented on #3167
And a reminder about next Monday -- via @ebarry

[2018-07-30 16:04] sagarpreet-chadha opened #3168 "Google Code-In --- Call for mentors !"
Hi, folks! Is anyone interested in becoming a mentor for Google code-in program this year ?
**DEADLINE 15 OCTOBER 2018, 11:59:59PM IST**
If you're interested, please leave a comment here. Thanks so much!

****

### Update via @Souravirus and others:

Those who want to be invited for GCI Mentor, thank you! Please follow these steps:

1. Solve a [first-timers issue](https://code.publiclab.org). Prov

[2018-07-30 16:05] sagarpreet-chadha commented on #3168
I am interested ❣️

[2018-07-30 16:08] namangupta01 commented on #3168
I am interested too. :)

[2018-07-30 16:10] Souravirus commented on #3168
I am also interested :smiley:

[2018-07-30 16:13] Gauravano commented on #3168
I am interested too!

[2018-07-30 16:41] k-sau commented on #3093
Tysm :)

``Maybe we can even leave out the number in the most compact view``

By this you mean, I should remove the link no. and `#` on compact view?

[2018-07-30 20:15] ebarry commented on #3167
Yes thanks for adding this --
Dear EVERYONE: This coming Monday, August 6, we have the Share Your Awesome Projects! OpenHour presentation. All call information here: https://publiclab.org/openhour#OpenHour+Schedule: We are expecting everyone to have a couple slides, gifs, or a brief live screenshare demo (!) to share of your new features. Please ask if you have any questions. I am looking for your

[2018-07-30 21:00] Gauravano commented on #1610
ok, so we are using `following`, for saving status. Ok, so I will raise a PR for migration as we need to change the following of all existing nodeselection rows to true and also we need to set default to true. What do you think @jywarren ? Thanks!

[2018-07-30 21:27] namangupta01 commented on #3167
Hey! I guess timing is okay for india.
This week i will try to complete the the `reply-by-tweet` feature.
@jywarren Please have at #3118 after `octokit`error is removed so that i can complete my project before 6 and will also be able to include reply-by-tweet in demo on 6.  🎉
Thanks!!!!

[2018-07-31 02:01] stefannibrasil commented on #3167
hey, everyone, @milaaraujo and I won't be able to attend the call next week, so sorry!

about our progress, last week we tried several things to improve the `profiles` endpoint #3134, so it can be used for the @ autocomplete feature! Our coaches gave us some good advice and now we believe it is returning a better list of results. It accepts an `order_by` param, currently `recent`  and a `sort_dire

[2018-07-31 05:35] Souravirus commented on #3167
hi everyone,
@ebarry 10:30 is ok for us.

Regarding my work, I am currently working towards yarn transition in #2659.
Thanks!!

[2018-07-31 05:53] SidharthBansal commented on #3168
I am interested too

[2018-07-31 07:02] SidharthBansal commented on #3167
Hi I am ok with 10:30 pm

[2018-07-31 07:50] SidharthBansal commented on #3167
Regarding my work, I am right now working on notifications and testing features. I will wrap up all code and close all the related issue of my project this week. I will also share slides by this week or the next week.
Thanks

[2018-07-31 15:47] jywarren commented on #2941
I don't know if it's related, but we must've accidentally removed the gem in one of our recent major Rails version updates. readding it in https://github.com/publiclab/plots2/pull/3169

Let's see what that does!

[2018-07-31 18:43] jywarren commented on #3168
Amazing, everybody! I've made a note to bring this up on the coming Monday staff call for review.

[2018-07-31 18:45] jywarren commented on #3168
And just noting https://codein.withgoogle.com/ - doesn't seem active yet, but did someone say the application is due in October?

[2018-07-31 18:47] MayankKashyap commented on #3168
Oh very nycc, it's look good.

[2018-07-31 18:48] jywarren commented on #2758
This is now happening again! Reported by @namangupta01 here: https://github.com/publiclab/plots2/pull/3118#issuecomment-408555241

@publiclab/soc @publiclab/reviewers looking at this now!

[2018-07-31 18:49] jywarren commented on #2758
Testing in this Travis build: https://travis-ci.org/publiclab/plots2/builds/409138390

[2018-07-31 18:51] jywarren commented on #2758
Noting this is for the @plotsbot user

[2018-07-31 19:29] imacubsfan23 commented on #3104
Can I take this?

[2018-07-31 20:04] Gauravano commented on #1610
@jywarren so can I go for the above strategy?

[2018-07-31 20:07] jywarren commented on #2758
Hmm, now I see:

[code]

[2018-07-31 20:11] jywarren commented on #3104
Please, that'd be great!

On Tue, Jul 31, 2018 at 3:30 PM Tim Dickeson II <notifications@github.com>
wrote:

[2018-07-31 20:11] jywarren commented on #1610
that sounds great!

On Tue, Jul 31, 2018 at 4:05 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-07-31 20:25] jywarren commented on #2758
Solved by adding a `DANGER_GITHUB_API_TOKEN` set to `display value in build log`!

[2018-07-31 20:25] #2758 closed

[2018-07-31 21:09] jywarren commented on #3167
Hi, all - I think I've resolved the `octokit` bug if any of you were seeing that -- the other #2824 travis bug remains (😭) but if you restart your builds you should be able to get it to pass!

[2018-07-31 21:25] #3115 closed

[2018-07-31 22:39] imacubsfan23 commented on #3104
How do I set the main_image if there isn't one yet?
My guess would be `main_image = '<p><img src="/i/2.png" title="new_bg.png" alt="image description" /></p>', but that's not working for me.
Do I need to make a new image node?

[2018-07-31 23:30] imacubsfan23 commented on #3104
@jywarren So I left a commit for what I have so far. It renders the first picture seen in the body of the note page. The only issue I'm having is making the picture clickable.

To make it clickable, I believe I would have to set `@node.main_image` to the image I have rendered now, but I don't know how to do that.

Also, what should we do about notes with no pictures in the body and no main image?

[2018-08-01 02:11] #3094 closed

[2018-08-01 04:01] stefannibrasil opened #3170 "Use MySQL on development and production?"
@milaaraujo and I were having some errors on travis even having our checks all green locally. We asked our coaches to help us and we were able to fix the error (#3134). We were doing full text search, to give more context.

The problem was that locally, we were using SQLite3 and travis uses maria db, so the query was not returning the same results.

Is it possible to have a unique and consistent d

[2018-08-01 10:59] gauravano commented on #3167
Hi @publiclab/soc, I am working on adding a new setting which is silencing all the notifications related to the node. Thanks!

[2018-08-01 13:45] jywarren commented on #3170
aha - sorry, i should've caught that! Hmm, so we've traditionally used
sqlite because it's such an easy install (by default already available on
Macs, I think?) but this has come up before, and I agree it's a frustrating
issue.

I wonder if we could think about how to remind ourselves about the database
differences - so when this does happen, there's some clue to what's
happening... i don't know,

[2018-08-01 13:51] jywarren commented on #3104
Ah, do you have a PR I could look at? I see your commit but so I can leave inline comments and such. Thanks!

So, what if we solve this within the `.main_image` function instead of inside the view. So on line 310 here, we can check if there is still no image returned, then scan through the node body:

https://github.com/publiclab/plots2/blob/12743783ed07a058d4777da2f3c48873d6103aa3/app/models/node

[2018-08-01 14:17] jywarren commented on #3147
Also implementing @ryzokuken's optimization here: https://www.irccloud.com/pastebin/yTikGnHV/

[2018-08-01 15:09] ebarry commented on #3167
Hi @milaaraujo and @stefannibrasil -- just saw your message that you won't be able to attend the call! So sorry to hear this. This call is *very important*, important enough for us to attempt to re-arrange around your availability. Can you please advise ASAP on what times would work for you? Perhaps earlier than 10am? Thank you!

[2018-08-01 15:12] ebarry commented on #3167
Hi @MargaretAN9 ("MaggPi"), thanks for confirming yesterday that you will be able to attend.

[2018-08-01 15:25] imacubsfan23 commented on #3104
PR here: #3171

The pictures in the node body are only rendered, they are not Images. So, I'm not sure how to actually make it an Image in order to set .main_image to that image. Unless maybe they are images, but when I was returning `@node.images`, I wasn't getting anything back.

[2018-08-01 15:31] jywarren commented on #3104
Ah, i see! so normally we'd do `node.main_image.path(...)` inside a line
like this:

<img src="<%= @node.main_image.path(:large) %>" />

But here we are only getting a URL. That makes sense. Hmm. What if we at
least made a method like `node.scraped_image` to return the path. Then we
can have some logic in the views, but not the actual image extraction --
just the logic of whether to use `main_imag

[2018-08-01 15:33] imacubsfan23 commented on #3104
Absolutely, I can do that.

Do you still want me to write specific tests for this? I have 2 pages on my local build where the body is the same, but 1 has a main image and one doesn't. That's how I've been testing so far

[2018-08-01 15:41] jywarren commented on #3147
Ok, and working on this in #3172 but unable to get the debounce to work yet...

[2018-08-01 16:29] ViditChitkara commented on #2068
@jywarren I'd be interested in this one!

[2018-08-01 16:31] ViditChitkara commented on #2439
This one seems interesting, @rishabhptr are you working on it?

[2018-08-01 16:46] milaaraujo commented on #3167
Hey @ebarry! Initially this time would not work for me because I work from 9 am to 5 pm... However, Monday will be a holiday in British Columbia - we didn’t know that - so I can attend the meeting at the scheduled time!

[2018-08-01 17:30] stefannibrasil commented on #3167
yeah, I will attend as well, thanks!

[2018-08-01 17:50] imacubsfan23 commented on #3104
Is this what you meant?

[2018-08-01 18:00] jywarren commented on #3104
Yep! Then we can unit test `scraped_image`. I think upon unit testing we may find we need to refine the scraper a bit... let's see!

[2018-08-01 18:00] #3051 closed

[2018-08-01 18:15] jywarren commented on #2068
that'd be great!

On Wed, Aug 1, 2018 at 12:30 PM Vidit <notifications@github.com> wrote:

[2018-08-01 19:29] imacubsfan23 commented on #3104
That comment just made me realize how wrong my solution was. I'm gonna fix my code before I write any tests, I'll add another commit.

[2018-08-01 20:35] #3137 closed

[2018-08-01 20:55] jywarren commented on #3104
actually if you want to write the tests first, let them fail, and then
refine your scraper, that's called Test Driven Development -- pretty neat
workflow! If you're interested, give it a try!

On Wed, Aug 1, 2018 at 3:31 PM Tim Dickeson II <notifications@github.com>
wrote:

[2018-08-01 21:00] #3141 closed

[2018-08-01 21:38] jywarren commented on #2941
AHHHH ok we're back online in Skylight! @icarito @siaw23

https://www.skylight.io/app/applications/GZDPChmcfm1Q/recent/6h/endpoints

awesome, it was the gem!

let's see data come in over the next day or two...

[2018-08-01 22:13] jywarren opened #3176 "New tag additions not showing up from tag form?"
@derek-allen just checking in here, I noticed that when submitting a new tag (try on https://publiclab.org/notes/warren/07-25-2018/mapknitter-map-of-10-000-suns-in-providence), they don't appear as they used to upon submitting.

They do disappear when deleted! Would you be able to take a peek at this and see if you can tell what's going on? Thank you!

[2018-08-01 22:29] #3143 closed

[2018-08-01 22:30] jywarren commented on #3176
I think it's related to the presence or absence of this file?

https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/tagging.js

Or maybe the selectors that file uses?

[2018-08-01 22:49] jywarren commented on #2941
![screen shot 2018-08-01 at 6 48 59 pm](https://user-images.githubusercontent.com/24359/43553164-a5ec6d42-95bb-11e8-9087-b2e5b772bc3f.png)

Public dashboard: https://oss.skylight.io/app/applications/GZDPChmcfm1Q/recent/30m/endpoints

[2018-08-01 22:50] derek-allen commented on #3176
Yeah, I'll take a look!

[2018-08-01 22:51] jywarren commented on #2941
Added badge to our readme! https://github.com/publiclab/plots2/commit/05636a66132d1fbfdc1f321025a24fd5d3d55020

[2018-08-01 22:51] jywarren commented on #2941
[![View performance data on Skylight](https://badges.skylight.io/typical/GZDPChmcfm1Q.svg)](https://oss.skylight.io/app/applications/GZDPChmcfm1Q)

[2018-08-01 22:52] jywarren commented on #3176
thank you!!!

On Wed, Aug 1, 2018 at 6:51 PM Derek Allen <notifications@github.com> wrote:

[2018-08-02 00:11] derek-allen commented on #3176
Yeah, the issue was with selectors. It should be fixed in the pull request i just opened up.

Interestingly, the tag form appears even when you aren't logged in, which might not be intended. Also, when a tag is added, its always colored like a power tag, but after a refresh goes to the proper place.

I reverted to commit 177b72e check, and this is consistent with the behavior pre-sidebar tagging,

[2018-08-02 00:18] jywarren commented on #2107
FOUND THE PROBLEM!!! After like, years.

The issue is that if you disable questions on your dashboard, they are disabled on https://publiclab.org/questions:

![questions1](https://user-images.githubusercontent.com/24359/43555382-d6c05706-95c7-11e8-8ec5-9c5210a29aa2.gif)

We will need to adjust the `dashboard.js` file so it doesn't affect the questions page!

https://github.com/publiclab/plots2/blo

[2018-08-02 00:34] #2107 closed

[2018-08-02 01:12] #3032 closed

[2018-08-02 03:16] stefannibrasil opened #3180 "Add Author endpoint to SearchAPI"
Move author endpoint from Legacy API to Search API.

[2018-08-02 05:11] icarito commented on #2824
Hi!
I was busy yesterday getting GitLab CI to build this project!
While it works well, after a few tries I managed to trigger this error in Gitlab too!

https://gitlab.com/publiclab/plots2/-/jobs/86207162

Has anyone found this error during local development? Thanks for your input!

[2018-08-02 09:17] StlMaris123 commented on #3168
I am interested too

On Tue, Jul 31, 2018 at 9:48 PM, Mayank Kashyap <notifications@github.com>
wrote:

[2018-08-02 11:07] #3061 closed

[2018-08-02 11:10] jywarren opened #3182 "hide moderated comments on dashboard"
We need to add a where statement for comments on the dashboard so it only dislpays approved comments. Should be pretty easy!

[2018-08-02 11:32] gauravano commented on #1610
Checklist for the Node Un-subscription:
- [ ] Make a migration for changing the default to true for new NodeSelection entries
- [ ] Migration for changing `following` column in NodeSelection to true for present rows in DB
- [ ] A controller method for handling subscribing and unsubscribing to node
- [ ] before sending email, a check which would ensure that email should not be sent to the user if h

[2018-08-02 11:53] jywarren commented on #3182
Oh I just meant unspammed comments, sorry! Like, I don't think we're
filtering by status on the dashboard because I marked one as spam and it
still appears... so that was my guess of what's happening.

On Thu, Aug 2, 2018, 7:24 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-08-02 11:53] jywarren commented on #1610
This looks good! Thanks!

On Thu, Aug 2, 2018, 7:32 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-08-02 12:29] jywarren commented on #3182
I guess people may wonder about their dashboards... Maybe we should make a
quick fix. Thanks Gaurav!

On Aug 2, 2018 8:23 AM, "Gaurav Sachdeva" <notifications@github.com> wrote:

Yes, you are right @jywarren <https://github.com/jywarren>. Sorry, I missed
this while making spamming system for comments. One needs to change this
https://github.com/publiclab/plots2/blob/master/app/controllers/home_con

[2018-08-02 12:30] jywarren opened #3183 "add spam link to comment notification for node author"
The new spam moderating link in comment notifications is great. We can now add it to emails sent to authors and also to the dashboard comment display (this last would make a nice first-timers-only issue!) @Gauravano

[2018-08-02 12:39] gauravano commented on #3183
Ok, I will open FTO using this one. Thanks!

[2018-08-02 15:43] SidharthBansal commented on #3167
Hi @ebarry @jywarren is these slides ok https://docs.google.com/presentation/d/10cpV5ysdAB1EOuggYI_YWoMMI6X23krj4K1waLPnnI8/edit?usp=sharing ?
I have created the slides from user point of view. Shall I add slides for developers point of view also?
I have just given an abstract view of my project without going into implementation details.

[2018-08-02 16:24] jywarren opened #3187 "Leaflet Env. Layers on inset maps?"
Hi, @sagarpreet-chadha -- thought of another place we might feature LEL --

https://publiclab.org/notes/liz/07-30-2018/newark-barnraising-crisis-convening-2018-group-photo

The inset maps shown here. I think we're going to re-jigger how and when these are displayed, to make them appear if a node has `lat:_____` and `lon:______` tags (that could be a first step!).

But once that's done, I'd love to

[2018-08-02 16:26] jywarren commented on #3187
As we're starting to include LEL on multiple pages, should we standardize the display with some helper function so as to keep code repetition low? Like `insertLeafletEnvLayers()` in `app/assets/javascripts/mapping.js` or something?

[2018-08-02 16:31] jywarren opened #3188 "Trending tags showing duplicates"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

I think we're missing a `group()` or something on the https://publiclab.org/dashboard's trending tags area - i'm seeing 5 of the same:

![screen shot 2018-08-02 at 12 29 19 pm](https

[2018-08-02 17:05] #3165 closed

[2018-08-02 17:11] jywarren commented on #3167
I wanted also to welcome some recent contributors to this weekly check-in who've been doing a lot of great work -- @cheneyshreve ([comment tag, username, and emoji autocompletion](https://github.com/publiclab/plots2/issues?q=is%3Aclosed+mentions%3Acheneyshreve)) @imacubsfan23 ([wiki likes, follower count fixes](https://github.com/publiclab/plots2/issues?q=is%3Aclosed+mentions%3Aimacubsfan23)) @dew

[2018-08-02 17:17] jywarren commented on #3167
@SidharthBansal that looks perfect!

[2018-08-02 17:39] sagarpreet-chadha commented on #3187
Yep...Makes sense to make a function to insert LEL's  👍

[2018-08-02 17:52] sagarpreet-chadha commented on #3187
Okay i went through the code and the existing functionality is to show map if `lat:__` and `lon:__` tags are present .

[2018-08-02 17:54] sagarpreet-chadha commented on #3187
So i have to add LEL and full-screen to here  ?

https://github.com/publiclab/plots2/blob/7df33b35a3acebed337efdf7bdc874f6881bf2dc/app/views/map/_leaflet.html.erb#L1

Can you confirm this once because we are using this partial in many places .

[2018-08-02 18:17] jywarren commented on #3187
I think that's right, yes. Can you list the places it's used? Awesome.

On Thu, Aug 2, 2018 at 1:54 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-08-02 20:34] jywarren commented on #2439
https://github.com/publiclab/plots2/pull/2618 added this nicely -- see:

* https://publiclab.org/tag/spectrometry?start=07-01-2018&end=08-01-2018 versus
* https://publiclab.org/tag/spectrometry

But we need a few more things here --

* [ ] some kind of date selector (see example one already installed at https://publiclab.org/post?legacy=true when checking "This is an event")
* [ ] making the date

[2018-08-02 21:32] ebarry opened #3191 "In Editor: Command, Control, Shift keys cause unexpected scrolling"
### Please describe the problem (or idea)

I was pasting content from another document into a draft Research Note when as soon as i pressed "command" (on a Mac) the browser window rapidly scrolled to the very bottom of the page so that the footer was visible. It also happens when i press the "control" key, and i just noticed also when pressing the shift key (like when adding an asterisk to make a

[2018-08-02 21:45] jywarren opened #3192 ""Questions by an author" page showing an error"
When on this page: https://publiclab.org/tag/ndvi/author/warren

you can click on "Questions" leading to:

https://publiclab.org/questions/tag/ndvi/author/warren

But that page shows an error! I'm not sure if it's a routing issue or that we don't have author-specific controller code?

@Souravirus any idea if this is routing? Thanks!

[2018-08-02 21:48] ebarry commented on #3191
Moving to https://github.com/publiclab/PublicLab.Editor/issues/114

[2018-08-02 21:48] #3191 closed

[2018-08-02 22:48] jywarren opened #3193 "Performance testing"
This is a holding space for general performance testing discussion!

* https://oss.skylight.io/app/applications/GZDPChmcfm1Q/recent/5m/endpoints
* https://www.webpagetest.org/result/180728_A8_9be0e2d030d96561d1a572f2919b29e4/

[2018-08-02 23:12] derek-allen opened #3194 "Tagging input appearing without logging in"
The tagging input is appearing on the sidebar even when you aren't logged in. [Here's an example](https://publiclab.org/notes/warren/08-02-2018/use-image-sequencer-for-ndvi-plant-analysis-with-a-modified-mini-sport-camera).
![tagging-logged-out](https://user-images.githubusercontent.com/40677825/43615350-d86bccb0-967c-11e8-8eb3-1ea8f79f15b8.png)

This is the logic deciding whether the input appear

[2018-08-02 23:29] derek-allen commented on #3194
@jywarren I'd love to have a shot at an FTO issue and can work to get this issue set up as one! On the other hand, having broken inputs is never fun, and I can see wanting this to get done as soon as possible. Would it be okay if I drafted this as an FTO issue? Otherwise, I can get this taken care of pretty quickly!

[2018-08-03 01:29] jywarren commented on #3194
I think it can work as a fto if youd like! 👍🏼

On Thu, Aug 2, 2018, 7:30 PM Derek Allen <notifications@github.com> wrote:

[2018-08-03 02:28] SidharthBansal commented on #3167
Thanks

[2018-08-03 11:49] dewanhimanshu commented on #3167
@jywarren  Thanks

[2018-08-03 12:53] steviepubliclab commented on #3081
Hi! any update on this one?
The answers that keep coming in as "comments" on questions like this one https://publiclab.org/questions/stevie/07-13-2018/what-is-a-good-way-to-track-vehicular-traffic#answer-comment-20272 are making my fingers twitch! ;)

[2018-08-03 15:06] gauravano commented on #3081
Hi @chitra591 as stevie said, this one is urgent so I am solving this, sorry for the inconvenience. I am sure you'll find more issues and in case you can't, ping here I will help you in finding one. Thanks!

@steviepubliclab I am on it. Thanks!

[2018-08-03 15:30] #2115 closed

[2018-08-03 15:31] jywarren commented on #2493
Closing this now! Thanks!

[2018-08-03 15:31] #2493 closed

[2018-08-03 15:34] jywarren commented on #2343
This was solved!

[2018-08-03 15:34] #2343 closed

[2018-08-03 15:36] jywarren commented on #2173
Is this one perhaps complete? Or anything remaining could be broken out as a narrower issue? Thanks!!!

[2018-08-03 15:39] jywarren commented on #3081
Hi @chitra591 - here's one if you're interested! We're getting an error on
this page - would love some help investigating it!
https://github.com/publiclab/plots2/issues/2703

On Fri, Aug 3, 2018 at 11:07 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-08-03 15:39] #2607 closed

[2018-08-03 15:41] jywarren commented on #3099
Hi, we're still happy to help you out, so please re-open if you are still having trouble!

[2018-08-03 15:41] #3099 closed

[2018-08-03 15:42] jywarren commented on #3122
Hi @namangupta01 i'm sure you are busy, but this could be a nice one to try to wrap up in your last week, do you think you have time? If not, no big deal!

[2018-08-03 15:43] jywarren commented on #2021
Closing for now, we've tested this a bit and it seems to be working!

[2018-08-03 15:43] #2021 closed

[2018-08-03 15:57] jywarren commented on #2606
I'd like to migrate all of the fields like this into the description field of the nodes they're part of. This would include:

* [ ] copying these values into the end of each `node`'s `node.revisions.last.body`
* [ ] creating a migration to remove this table: https://github.com/publiclab/plots2/blob/68a4f745eb3fcddd9a0dcff82493b4cbe6c848ba/db/schema.rb.example#L111-L135
* [ ] cleaning out the relat

[2018-08-03 16:00] namangupta01 commented on #3122
Yeah sure i will create a pr for this soon. 👍

[2018-08-03 16:05] jywarren commented on #3122
great!!

On Fri, Aug 3, 2018 at 12:00 PM Naman Gupta <notifications@github.com>
wrote:

[2018-08-03 16:08] SidharthBansal commented on #2173
One issue is left. Broken ajax.

[2018-08-03 16:14] SidharthBansal commented on #2676
@jywarren can we close this now?

[2018-08-03 18:46] cheneyshreve commented on #3167
Thank you @jywarren <https://github.com/jywarren> ! So great to be able to
work on this will all of you and see all the new contributions everyone is
making 😃!

On Thu, Aug 2, 2018 at 10:11 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-08-03 18:53] btbonval commented on #4
Hi everyone. I had not seen any of the questions or updates to this ticket until recently. My email seems to be 50/50 spam or archived folder. I see a bunch of questions from over a year ago. For those:

The original intent of this ticket was to have shared notes on the process and queries used to find and eliminate spam user accounts. There was never an end goal for this ticket.

I think it shoul

[2018-08-03 19:41] ViditChitkara commented on #2439
@jywarren Great checklist!! Would be happy to implement this step by step!! Thanks!

[2018-08-03 20:01] jywarren commented on #4
Hi, @btbonval -- good to hear from you! Miss you!

Thanks, and we have a good overall spam issue now at #974 for what it's worth. I guess I'll close this since there's not a specific to-do or end goal, and we can trace back to it from #974. Cool!

[2018-08-03 20:01] #4 closed

[2018-08-03 20:42] gauravano commented on #3081
Hi guys,
Button for promoting a comment to answer was at wrong place i.e., the button was appearing at the answer's comment and so if anyone clicks it, then that comment gets deleted.

https://drive.google.com/file/d/1hDVyMfgyARiKQLrsK1G_ZyWEimCbYKnd/view?usp=sharing

@jywarren this functionality was made for comments on the node and not for comments on the answer, so that's why they were not work

[2018-08-03 21:10] ebarry commented on #4
I will never forget Issue #4
We had a good run over these years <3

Spam Tracker 3000 will live on in our collective meme-ories, and hopefully
meme-orialized on publiclab.org/spam

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Fri, Aug 3, 2018 at 4:01 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-08-03 21:20] jywarren commented on #3081
oh gosh, that would be fantastic. Thanks!

On Fri, Aug 3, 2018 at 4:42 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-08-04 02:22] milaaraujo opened #3196 "Improve peopleLocations endpoint"
Part of #2755

[2018-08-04 04:11] icarito commented on #2824
Hi,
So I think we need to trigger this build where we can setup the kernel to dump a core and then examine the core hopefully with full debugging symbols and gdb. This is not my area of expertise. In the hope to get some guidance I'm going to try and trigger dumping a core in Jenkins.

[2018-08-04 07:34] icarito commented on #2824
If this backtrace doesn't enlighten the situation I'd suggest changing Ruby versions!

[2018-08-04 07:36] icarito commented on #2824
Debian Stable is still at Ruby 2.3.3p222 while the testing branch currently runs 2.5.1.

[2018-08-04 10:45] sagarpreet-chadha opened #3198 "Add full screen mode to /maps ."
Just opening this issue to remember 😄 !

- [x] Make a function to add full-screen map support to any map !

[2018-08-04 15:57] jywarren opened #3200 "Profile map tweaks"
@sagarpreet-chadha small changes should be pretty easy --

* [ ] make LEL layer selector available on profile map although turned off (i wasn't sure why this went away and apologies if I misspoke and mixed this up)
* [ ] have default zoom of profile page correspond to the precision of the coordinates shown - as in [this page](https://publiclab.org/profile/warren) - do you think you could manage th

[2018-08-04 17:07] #2676 closed

[2018-08-04 17:07] jywarren commented on #2173
ah, ok - can you elaborate a bit on that? sorry, i didn't quite follow what
was going wrong?

On Fri, Aug 3, 2018 at 12:08 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-08-04 17:07] jywarren commented on #2676
Yes! And congratulations!

[2018-08-04 17:12] jywarren commented on #214
@namangupta01 have you noticed any more outages of this feature?

What about having some place, like... publiclab.org/status, only visible to admins, where we can monitor how many emails were received and processed in the past day, past week? This could help us monitor uptime.

[2018-08-04 17:27] namangupta01 commented on #214
Yeah, i will work on it after #3112

On Sat, Aug 4, 2018 at 10:52 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-08-04 17:31] jywarren commented on #214
Thanks!!!

On Sat, Aug 4, 2018, 1:28 PM Naman Gupta <notifications@github.com> wrote:

[2018-08-05 01:34] SidharthBansal commented on #2173
When a user tries to change page number on profile page, the user will observe broken ajax. You need to look very carefully. The pagination is according to max pages of the research comment etc. But it should be different for different nav bars.

[2018-08-05 04:36] SidharthBansal commented on #2173
Follow the following sequence
1. Go to profile page
2. Click the Like nav bar
3. Click on 19 page from paginations given at bottom
4. You will be redirected to the Research nav bar and 19th page.
This error is in whole website. At all the nav bars. On the main welcome page also. When you switch over events from all events, etc.
Does this makes sense?
I tried to debug this error. But the solution d

[2018-08-05 04:52] SidharthBansal commented on #2676
Congrats to you to. And thanks for your help. You helped at each stage of the project. You are the best mentor.
I will be learning Machine Learning and AI at my university in the current semester. Is there any project on PL where I can apply these, can learn and contribute?

[2018-08-05 10:39] Souravirus commented on #3059
This error still persists and I have seen it in #2659.

[2018-08-05 16:45] shivani-kapania commented on #3168
I’m interested!

[2018-08-05 16:47] sachingoyal2910 commented on #3168
I'm interested.

[2018-08-05 19:46] first-timers[bot] opened #3205 "Comment moderation link addition in notify_author_mailer"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-08-05 20:31] gauravano commented on #3183
Opened first FTO at #3205.

[2018-08-06 00:30] qm3 commented on #3205
Hello, I would like to work on this issue. I am a first-timer and I'm ready to make my first contribution!

[2018-08-06 01:41] gauravano commented on #3205
Hi @qm3, you can work on this issue and in case of any doubt feel free to ping here. Thanks ☺️

[2018-08-06 08:03] mridulnagpal commented on #3168
I am interested too.

[2018-08-06 13:27] sagarpreet-chadha commented on #3187
Okay so mainly we are using this at sidebar --- `app/views/sidebar/_related.html.erb` .
I guess i can continue working on this file then  👍 .

[2018-08-06 13:39] jywarren commented on #3187
great!

On Mon, Aug 6, 2018 at 9:27 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-08-06 14:01] #3081 closed

[2018-08-06 14:04] jywarren commented on #2173
No problem, and thanks for carefully documenting this!

On Sun, Aug 5, 2018 at 12:37 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-08-06 14:39] jywarren commented on #214
Hmm, @icarito @namangupta01 it seems like it's not running currently, I tried replying to this question:

https://publiclab.org/questions/Cindy_ExCites/08-03-2018/air-quality-balloons-an-updated-version#answer-0-comment-20293

Any chance mailman is offline again?

[2018-08-06 14:50] jywarren commented on #2676
I wonder about a couple things --

1. could you use it to find related tags or related posts? Maybe for suggesting tags from the body text so tagging is more automated?
2. could you use it to try to make an image classifier, along these lines, that's web-based? https://publiclab.org/notes/warren/1-16-2012/clashifier-open-source-web-based-image-classification-prototype

[2018-08-06 15:13] SidharthBansal commented on #2676
Thanks. I am looking at them.

[2018-08-06 15:15] namangupta01 commented on #214
Even i tried to reply, it was not woking :(
It is going timeout i guess.

On Mon, Aug 6, 2018 at 8:09 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-08-06 15:25] SidharthBansal commented on #2676
@jywarren if we have anything different from RoR/web but ML and AI is involved even then I am happy to contribute. I love contributing to PL and learning things here. I want to increase my knowledge. I am also interested in web/RoR.
You know a lot of things. Can you please think and tell if any other place we need it?

[2018-08-06 15:31] jywarren commented on #2676
well, we have had a long-term interest in trying "interest point finding
and matching" -- i.e. "bundle adjustment" on MapKnitter, so that we may
start to auto-match images against their background map, and/or against
each other. It's a complex problem, but having a modular javaScript library
for it would be amazing. Or, a web service for it so you submit 2 images
and it sends back matched points.

[2018-08-06 15:41] SidharthBansal commented on #2676
Oh you mean two images background comparison to get the common points in both of them. Sound interesting.
I will search tonight these things.
PL is really huge!!!

[2018-08-06 15:41] SidharthBansal commented on #2676
Thanks

[2018-08-06 15:48] jywarren commented on #2676
Haha PL really is huge lol ... 😂

On Mon, Aug 6, 2018, 11:42 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-08-06 17:27] icarito opened #3208 "Mailman container crashes sometimes"
[code]

[2018-08-06 17:28] icarito commented on #3208
Thanks for your wonderful work @namangupta01 !

[2018-08-06 18:10] icarito commented on #214
I made an issue about it:
    https://github.com/publiclab/plots2/issues/3208

Maybe it should try to relaunch when it fails? I think docker-compose has a means to restart on failure - or maybe mailman can be configured to not stop in case of error.

The trick is that it's not possible to reproduce manually because it seems to happen when GMail responds "try later".

[2018-08-06 18:11] icarito commented on #3208
I think mailman is crashing when Gmail responds "try later" - this will happen from time to time as no service is 100% up.

Is there an option with mailman for it to not abort in this case, or else we can look at docker-compose options for restarting crashed services.

[2018-08-06 18:16] icarito commented on #3208
Here's others with the same issue:
https://stackoverflow.com/questions/40554948/mailman-server-crashes-on-pop3-authentication-failure-in-rails

And a related issue at mailman repo:
https://github.com/mailman/mailman/issues/74

I would prefer if we catched `Net::POPAuthenticationError` rather than use Docker to restart a crashing program.

[2018-08-06 18:18] icarito commented on #3208
Not sure how to implement it but here's a script that's supposed to rescue from this error:

https://github.com/mailman/mailman/issues/74#issuecomment-165330029
[code]

[2018-08-06 18:33] jywarren commented on #214
Could we have it do something else, like leave a log file for failed
attempts? And if it fails, won't it get the emails later once it is able to
connect?

On Mon, Aug 6, 2018 at 2:11 PM Sebastian Silva <notifications@github.com>
wrote:

[2018-08-06 22:04] jywarren opened #3209 "Multiple email notifications sent on node publication"
I published this note:

And the `plots-infrared` user (which fwds to a mailing list) got four separate notifications:

[code]

I think this is because we've never (or rarely) subscribed a mailing list to multiple tags, but it's still strange and I haven't seen it happen before...

Tracing it, it happened with tags added in the rich editor, I believe... they were all submitted together -- probably

[2018-08-06 22:05] jywarren commented on #3209
And it should've been filtered by this!

https://github.com/publiclab/plots2/blob/68a4f745eb3fcddd9a0dcff82493b4cbe6c848ba/app/models/tag.rb#L261-L266

[2018-08-07 05:15] SidharthBansal commented on #3167
@jywarren https://gist.github.com/SidharthBansal/4968cf15675cfc700bc2a8d952489ae0 can you please suggest changes to this link?
We need to provide link to work product in the GSOC final evaluation form
Thanks

[2018-08-07 14:57] icarito commented on #2824
Here's a Ruby bug report with the same error message: https://bugs.ruby-lang.org/issues/11018

[2018-08-07 16:10] jywarren opened #3210 "Liking answers seems not to work"
I was on this page:

https://publiclab.org/questions/stevie/12-08-2017/could-the-raspberry-pi-microscope-be-used-for-looking-at-microplastics-found-in-ocean-water#answer-0-comment-20308

Trying to "like" one of the answers, but the button doesn't do anything. I tried reloading after pressing it and it looks like it's not going through. The requests are showing a 404:

[code]

Maybe another routing

[2018-08-07 16:10] jywarren commented on #3210
![image](https://user-images.githubusercontent.com/24359/43788239-ef178f6e-9a3a-11e8-9fb2-27c8eacd3022.png)

[2018-08-07 16:41] jywarren commented on #3167
Hi, @SidharthBansal - did you also post this to PublicLab.org? I think that may be the ideal place. Thank you, it looks great!

[2018-08-07 16:42] jywarren commented on #3167
And for folks who joined the Open Hour, you could re-use a lot of your presentations in the final report if you want!

[2018-08-07 16:44] Souravirus commented on #3210
Yeah sure seeing this. Thanks @jywarren.

[2018-08-07 16:48] Souravirus commented on #2824
Hi @icarito, I have seen this error `** Error in /usr/local/bin/ruby': free(): invalid next size (fast): 0x00000000098d3950 **` in local development.

[2018-08-07 16:56] SidharthBansal commented on #3167
https://publiclab.org/notes/bansal_sidharth2996/08-07-2018/gsoc-multi-party-auth-system?_=1533661182 here is the link.

[2018-08-07 16:58] SidharthBansal commented on #3167
Thanks @jywarren

[2018-08-07 17:26] sagarpreet-chadha commented on #3187
Hi @jywarren !

We use this partial in all the inline maps as well ...should we add LEL to them as well ?

All maps here : https://publiclab.org/wiki/inline-maps#2/42.0/-32.3

[2018-08-07 17:47] Souravirus commented on #3210
Yeah it was a routing error. Sending a PR soon!!

[2018-08-07 18:08] jywarren commented on #3187
sure, yeah that sounds great!

On Tue, Aug 7, 2018 at 1:27 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-08-07 20:15] jywarren opened #3215 "Images in answers aren't appearing"
Oddly, some images that I posted in answers on this page aren't showing up, although they are in the markdown text:

https://publiclab.org/questions/warren/02-22-2018/what-do-respirable-silica-particles-frac-sand-pollution-look-like

The first comment's markdown is:

[code]

But the image doesn't appear, strangely! I'm adding the images in comments below, but we need to look into this... maybe we

[2018-08-07 20:32] icarito commented on #2824
This is most likely a Gem with C-compiled extensions. Another way to try to catch it is with `strace` but we haven't found a way to reliably reproduce so I'll try to make a build with `strace` enabled and run it thru Jenkins until it fails and we can look at it.

[2018-08-07 20:48] jywarren opened #3216 "Ability to insert another node's content inline using [node:_____]"
This is a proposal for another inline grid item, along the lines of https://publiclab.org/wiki/power-tags#Inline+power+tags

But for one which can fetch another node (feature, note, wiki) and display it's content instead of the short code, which would be formatted like:

[code]

where `1234` is a node's nid.

This would be implemented as a new inline grid variant alongside the others in this file:

[2018-08-08 06:55] gauravano commented on #3205
Hi @qm3, I have updated the PR body with the checklist. Although that checklist is just there for your reference but following that is good practice. Thanks!

[2018-08-08 14:43] jywarren opened #3218 "Filter additional quoted text or signatures in email replies to comments"
Many people use a signature in their emails, for example:

[code]

Let's try to add a new filter to hide signatures in reply-by-email. @namangupta01 just a heads up, I know you're wrapping up SoC but noting this so we don't forget!

Existing filters for Yahoo and Gmail are here:

https://github.com/publiclab/plots2/blob/04d5bbca4f47066e9628c1dc78e9961ef32c20f7/app/models/comment.rb#L299

[2018-08-08 14:48] jywarren opened #3219 "Ability to enable daily/weekly digests when subscribing to a tag (in alert link)"
Reporting in input from @ebarry -- When subscribing, people may often want to get only one email per day or per week, rather than the "firehose" of everything as it comes. So let's come up with a way to easily switch digests on at the moment of subscribing. Two ideas:

1. when you are redirected to htttps://publiclab.org/subscriptions, show a notice saying `you'll get approximately X emails per we

[2018-08-08 14:51] jywarren commented on #3219
A little ugly, but just trying this out!

![screen shot 2018-08-08 at 10 50 55 am](https://user-images.githubusercontent.com/24359/43845010-fbe77704-9af8-11e8-8ca2-f6d18376e76c.png)

Also tracking this over here: https://publiclab.org/questions/warren/07-24-2018/looking-for-input-on-a-simplified-subscribe-design-for-publiclab-org-posts

[2018-08-08 20:45] jywarren commented on #3167
Hi, all - I realize I didn't post a check-in this week! Did anyone want to do this? @publiclab/soc Even if it's the final weeks of GSoC, i'd love to hear from people!

[2018-08-08 20:52] ViditChitkara commented on #3168
Interested!!!

[2018-08-08 21:56] jywarren commented on #3168
This is awesome. I checked and we are all good to apply this year. Let's
keep coordinating in this issue and touch base when the deadlines approach.
Thanks, all!

On Wed, Aug 8, 2018 at 4:52 PM Vidit <notifications@github.com> wrote:

[2018-08-08 22:14] gauravano commented on #3167
Hi @jywarren I am opening one. Thanks!

[2018-08-08 22:44] gauravano opened #3222 "Community Check-in #12 Summer Of Code Week 13"
Hi everybody :smiley:  !

If you're new here, welcome, and please try some of our [first-timers-only issues](https://publiclab.github.io/community-toolbox/#r=all). This is a checklist for @publiclab/soc.

@stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @ViditChitkara @tech4GT @mridulnagpal @namangupta01 @sagarpreet-chadha @Souravirus @jywarren @MayankKashyap @siaw23 @ryzokuken @ccpandhare @ica

[2018-08-08 22:44] #3167 closed

[2018-08-08 22:45] gauravano commented on #3167
Opened  at #3222

[2018-08-08 23:10] jywarren commented on #3222
❤️❤️❤️ this picture!!!! It was AMAZING to talk with everyone in real-time. THANK YOU and great check-in, @gauravano.

@cheneyshreve @imacubsfan23 @dewanhimanshu, @derek-allen, and others who've been pitching in recently - please do be aware that I'll be mostly offline next week and the following week, and that you can ask in the weekly check-ins for help from the `soc` team and `reviewers`. I'm go

[2018-08-09 00:54] SidharthBansal commented on #3222
Hi everyone
Thanks Gaurav for amazing picture
I have written the documentation and filled my final evaluation. Sadly, my Ubuntu has crashed and I need to reinstall it and ror, plots2 and related stuff. So, the PR remaining of the usertag will take time. Sorry for delays.
Thanks mentors and other students for giving a wonderful journey of Gsoc. It is a great experince working with you all.

[2018-08-09 01:52] derek-allen commented on #3194
@jywarren @publiclab/reviewers I've updated the issue to fit the FTO template. Let me know if anything else needs to be done to get this tagged as FTO. Thanks!

[2018-08-09 02:17] milaaraujo commented on #3222
Hey everybody!

It was great talking to you guys this week! Seeing everything you accomplished during those GSoC weeks was very motivating.

This week, @stefannibrasil and I expect to finish #3134 and #3217. And we will be working on improving JSON tests.

[2018-08-09 07:50] Souravirus commented on #3222
Hello everyone!!
It was nice talking to you this week. So, since GSoC is going to over, I wanted to say it was a very overwhelming journey. Full of codes, excitement and everything. :tada: :tada:
So, related to my progress, I am working on yarn transition and its almost complete. Also, did a fix on route this week. I am also working on my GSoC work product and hopefully release it by today or tomo

[2018-08-09 15:22] jywarren commented on #3194
Awesome, just did this! I'll delete some of our comments to make it a bit cleaner. 👍

[2018-08-09 16:50] jywarren opened #3223 "Consider creating a pa11y dashboard (Docker) for accessibility auditing"
https://una.im/pa11y-dash/

![image](https://user-images.githubusercontent.com/24359/43913297-aee381b6-9bd2-11e8-9ef1-d8b8aaf26657.png)

Very cool! Docker image too: https://github.com/RobLoach/docker-pa11y

[2018-08-10 21:09] jywarren commented on #2824
Notes from our work session:

Todo:
Leave a report at https://bugs.ruby-lang.org/issues/11018
this occurs a lot: https://github.com/ruby/ruby/blob/ruby_2_4/vm_insnhelper.c

"invalid next size (fast)" related issues:

- https://stackoverflow.com/questions/4729395/error-free-invalid-next-size-fast
- https://www.linuxquestions.org/questions/programming-9/why-do-i-get-corrupted-memory-error-- free-inv

[2018-08-11 04:10] icarito commented on #2824
Here's the relevant bit from `strace` [1000 lines here](http://paste.debian.net/1037506/):

[code]
Full trace (88MB) at https://gitlab.com/publiclab/plots2/-/jobs/88571931/artifacts/browse

[2018-08-11 04:27] icarito commented on #2824
I left a comment with the question at https://bugs.ruby-lang.org/issues/11018 - hopefully we'll get a response!

[2018-08-12 08:52] SidharthBansal opened #3225 "Community Check-in #13 Summer Of Code Week 14"
Hi everybody :smiley:  !

If you're new here, welcome, and please try some of our [first-timers-only issues](https://publiclab.github.io/community-toolbox/#r=all). This is a checklist for @publiclab/soc.

@stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @ViditChitkara @tech4GT @mridulnagpal @namangupta01 @sagarpreet-chadha @Souravirus @jywarren @MayankKashyap @siaw23 @ryzokuken @ccpandhare @ica

[2018-08-12 08:53] #3222 closed

[2018-08-12 20:51] gauravano commented on #3225
Hi @publiclab/soc,
I am done with my work product submission and here's note - https://publiclab.org/notes/gauravano/08-12-2018/gsoc-2018-final-work-product-of-draft-feature-and-email-integration-project . Please provide your valuable feedback.

**Weekly Update:**
I am working on the last setting of the Email Subscribtion settings project which is Unsubscribe from
  Q & A
Issue #1610
PR raised at

[2018-08-12 21:08] gauravano opened #3226 "Adding Link to mark comment as spam to Dashboard Comment display"
Add the comment moderation link  `<a href="/admin/mark_comment_spam/<%= @comment.id %>">Spam</a>` with icon to comment view on dashboard.

![demo](https://user-images.githubusercontent.com/20878070/44006376-497e1972-9ea1-11e8-95c3-599d0a2258ce.png)

Like above comment notification on the dashboard is showing `3 comments as a link`, we like to have a link (may be adjacent to it ) to mark the notifi

[2018-08-12 21:12] gauravano commented on #3226
Hey, @qm3 you might be interested in solving this. Thanks!

[2018-08-12 21:40] qm3 commented on #3226
@gauravano I will take a look at it. Thanks for giving me this issue!

[2018-08-13 03:10] #3205 closed

[2018-08-13 23:29] shauncarland commented on #2544
i want this!

[2018-08-14 01:33] stefannibrasil commented on #3225
Hi, everyone! This week @milaaraujo and I are going to wrap our work with our two big PR's #3134 and #3217. We plan to call them on the feed RSS methods, so we decrease the amount of duplicated code around the codebase.

After that, we are going to move on to write unit tests for the search API.

[2018-08-14 01:52] stefannibrasil opened #3228 "API Search profiles by username endpoint"
Last part of #3134.

We need to add the option for the endpoint to search only by username on the profiles endpoint to use it on the autocomplete feature.

[2018-08-14 09:19] #3069 closed

[2018-08-14 09:57] jywarren commented on #3225
Hi, all! Brief check in from vacation -- for API code, just a note that you
can monitor performance of different parts of the app using Skylight:
https://oss.skylight.io/app/applications/GZDPChmcfm1Q/recent/5m/endpoints

(recently installed thanks to @siaw23!)

On Tue, Aug 14, 2018 at 4:33 AM Stefanni <notifications@github.com> wrote:

[2018-08-14 12:43] Souravirus commented on #3225
Hi everyone! I have submitted my final evaluation. So, currently I am working with the yarn transition and it is still not complete. There were some errors while pushing it to unstable. Any help is appreciated at #2659. Also, I think I will be starting with the work with graph possibly by today.
So, thanks for such a wonderful summer everyone.

[2018-08-14 13:36] ebarry commented on #3225
These check-ins are great, and i think Sidharth has a real knack for
community management!
Happy Tuesday everyone :D

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Tue, Aug 14, 2018 at 8:44 AM, Sourav Sahoo <notifications@github.com>
wrote:

[2018-08-14 13:47] steviepubliclab opened #3229 "line breaks in answers broken."
Hi, I believe Jeff mentioned this might already be reported, but I can't find it. The line breaks in the /questions section of Public Lab don't appear to be working. They are in the written text, but aren't showing up when it's published. Here are a couple examples::

- Answers here: https://publiclab.org/questions/stevie/08-01-2018/where-can-we-share-well-water-data
- Answers here: https://public

[2018-08-14 15:11] thestarsareprojectors commented on #2535
this is shaun (using a different account).  i want to take this on again

[2018-08-14 16:16] gauravano commented on #3229
Hi @steviepubliclab, please check out this https://drive.google.com/open?id=1WJtBopv0Y7dPEtR99SkUr2-iW-DAHAc1 . Is time after the code is changed correct behaviour ?? Thanks!

[2018-08-14 22:12] gauravano commented on #3194
Hi @tyrantdavis, I have made an edit in FTO please update your PR accordingly. Thanks!

[2018-08-14 23:26] #3196 closed

[2018-08-15 01:48] qm3 commented on #3226
Hi @gauravano, in the last issue you suggested that I read the checklist of PR body and reflect the changes in raising PR process. Did you mean that I should comment under the PR checklist body and comment about those changes? Thanks!

[2018-08-15 05:04] stefannibrasil commented on #3225
@siaw23 can we add the API endpoint here as well? https://oss.skylight.io/app/applications/GZDPChmcfm1Q/recent/5m/endpoints

[2018-08-15 05:17] icarito commented on #2824
Okay I've setup Jenkins to build/test every 10 minutes. We're seeing this error consistently. I've set it up to get us strace logs for each build and set string capture to 256 bytes.

We can move things around and try to get it to stop failing / we can measure results now.

[2018-08-15 05:41] icarito commented on #2824
The last strace had truncated strings. Here's the last [3000 lines](https://jenkins.laboratoriopublico.org/job/Plots-Test/ws/trace_428.tail.log/*view*/).

I think here's the more interesting bits:
[code]

[2018-08-15 12:12] gauravano commented on #3226
Just to be clear it was just a friendly suggestion and not much of big concern, I advise people to follow because it eases the whole process for future PRs and all. Let's walk through the checklist and see how following it is beneficial:

* [x] tests pass -- look for a green checkbox ✔️ a few minutes after opening your PR -- or run tests locally with `rake test` ------ > This step lets one know th

[2018-08-15 12:31] gauravano commented on #3226
I have also added the link to the file where change is required, feel free to ask if there is any doubt. Thanks!

[2018-08-15 13:40] steviepubliclab opened #3232 "Lost images when promoting comments to answers"
There were a couple comments on my question here that I upgrade to answers
https://publiclab.org/questions/stevie/08-14-2018/what-are-ways-to-monitor-algae-blooms

However, the images that cfastie put in his comment were lost when I did so.

Thanks!
-Stevie

[2018-08-15 23:46] icarito commented on #2824
Having set to trace and test every 10 minutes, I have a lot of traces for this failure.
It consistently mentions `dublincore` and `rss/maker` Gem.
`gem list` did not reveal where this gem is coming from.

[2018-08-16 02:32] siaw23 commented on #2824
There's no such gem as `dublincore` on RubyGems and `rss/maker` looks strange for a gem name @icarito. Maybe they are not gems after all?

[2018-08-16 06:00] siaw23 commented on #3225
you mean those Grape endpoints right? @stefannibrasil well they should be showing once those endpoints are hit. i see those are the only endpoints not registering, i've just sent an email to Skylight for support.

[2018-08-16 08:27] jywarren commented on #3225
Hi, all! Since we have a priority fix on the answer formatting now merged in https://github.com/publiclab/plots2/issues/3232, i'd like to push this to production. I've just pushed to https://stable.publiclab.org and since we've had some API changes and I'm not as available, I'd like to ask folks to try the site out (especially focusing on new code you've had merged) before we push it to production

[2018-08-16 08:28] jywarren commented on #3225
(should take a few minutes to build!)

[2018-08-16 08:29] jywarren commented on #3232
Thanks all, i just merged this and after testing at
https://stable.publiclab.org (i asked folks to just now) we can publish the
fix. Thanks!

On Wed, Aug 15, 2018 at 4:41 PM Stevie <notifications@github.com> wrote:

[2018-08-16 08:43] gauravano commented on #3232
Thanks @jywarren! Also, @steviepubliclab after this is pushed on production, the image and new lines would be visible again (they were always there just not visible :sweat_smile: ). Thanks!

[2018-08-16 11:12] jywarren commented on #3219
maybe @ViditChitkara would be interested in this one too? At least, i wonder what you think of how the design might work...

[2018-08-16 11:33] jywarren commented on #3225
Hmm, looks like it failed! I'm seeing: `An HTTP request took too long to complete. Retry with --verbose to obtain debug information.`

https://jenkins.laboratoriopublico.org/job/Plots-Stable/lastFailedBuild/console

I wasn't able to figure out where it got this response, but it had gotten past building containers and was in the `+ make deploy-container` segment. @icarito any ideas? I've started it

[2018-08-16 11:40] jywarren commented on #2535
Oh, awesome, thank you!

[2018-08-16 11:45] jywarren commented on #3225
Hmm, failed again...

[code]

I wonder if something is up with the network connections between the containers?

[2018-08-16 13:59] jywarren commented on #3225
Also, heads up everyone! Tomorrow is Rails Girls Summer of Code Burnout Awareness Day! Even if you're not in RGSoC perhaps it's a thing to think about. I wasn't able to find this year's announcement, but here's a great one from a few years ago, with a list of 10 things to to do instead of code:

https://railsgirlssummerofcode.org/blog/rgsoc-day-off

@publiclab/SoC

Please always take good care of

[2018-08-16 14:00] jywarren commented on #3225
@publiclab/soc just being sure the notification got sent for the above note!

[2018-08-16 14:41] Souravirus commented on #3225
Yeah that's a nice note about chilling a day out :smile: :smile:

[2018-08-16 14:58] icarito commented on #2824
Yes this component is part of **Ruby** proper. I've made the experiment of upgrading to Ruby 2.4.4 (we were at 2.4.1) - didn't fail all night testing every 10 minutes. This morning it began building `master`  because it was pushed but I've restored testing of `jenkins_strace` branch if it doesn't fail then it's likely this was a Ruby bug that hopefully was fixed in 2.4.x.

[2018-08-16 15:02] ebarry opened #3236 ""+Add one now" button to create a lead wiki page from Tag Pages does not work"
Hi folks! tiny thing i just ran into --

### Please describe the problem (or idea)

I visited publiclab.org/tag/lead and clicked the "Add one now" button and nothing happened.
<img width="304" alt="screen shot 2018-08-16 at 10 57 50 am" src="https://user-images.githubusercontent.com/161439/44216735-9fc26c80-a143-11e8-87ee-a9bc24f337f0.png">

I expected to load an editor with the prefilled URL publ

[2018-08-16 15:09] ebarry commented on #3236
UPDATE: i've actually gone ahead and created the main wiki page for lead, so this example might not work anymore. See https://publiclab.org/tag/water instead. thanks!

[2018-08-16 15:49] Souravirus commented on #3236
Yeah same here I  also got this some time ago when I was adding a lead wiki page (while working with #3234) in localhost @ebarry. Have to see the problem behind it.

[2018-08-17 04:00] tranthu113377 opened #3237 "Phòng khám phụ khoa quận 7 chất lượng nhất"
PHÒNG KHÁM PHỤ KHOA QUẬN 7 UY TÍN, CHẤT LƯỢNG NHẤT HIỆN NAY

[Phòng khám phụ khoa quận 7](http://phathaiantoanhcm.com/dia-chi-phong-kham-phu-khoa-o-quan-7-uy-tin-nhat-361.html) là địa chỉ khám chữa bệnh phụ khoa được nhiều chị em phụ nữ quan tâm. Nhưng hiện nay, có khá nhiều phòng khám mọc lên làm cho việc muốn tìm kiếm một địa chỉ phòng khám phụ khoa ở quận 7 uy tín, chất lượng và đảm bảo an toàn

[2018-08-17 10:13] gauravano commented on #3237
Please don't spam! Thanks!

[2018-08-17 10:13] #3237 closed

[2018-08-17 18:49] namangupta01 commented on #3225
Hey all, Sorry for not being active this week...i was busy in my college placements. I will test reply-by-tweet feature in this and coming week on unstable so that we can merge this and make it live soon. 🎉 🎉

[2018-08-17 18:55] sagarpreet-chadha commented on #3225
Hi all !!!
I was too busy with college placements...hopefully i will be more active next week . Thanks !

[2018-08-18 08:12] SidharthBansal commented on #3225
Hi, who is going to open the next week's Community Check - in?
@publiclab/soc

[2018-08-19 15:59] ankitbhardwaj78 commented on #3168
I am Interested...

[2018-08-19 16:01] SarthakSam commented on #3168
I am also interested!!

[2018-08-19 16:07] sanchittanwar7 commented on #3168
Interested!

[2018-08-20 14:32] jywarren commented on #3168
Oh wow, thanks folks -- how did you end up finding our project?

[2018-08-20 15:09] SarthakSam commented on #3168
A friend of mine told me about it.

On Mon, Aug 20, 2018, 8:03 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-08-20 15:16] namangupta01 commented on #3168
Hey @jywarren, @shivani-kapania and @sachingoyal2910 are my classmates. They are interested in contributing to the project.

[2018-08-20 15:28] MayankKashyap commented on #3168
@sachittanwar which project you would like to mentor. And btw welcome in public lab.

[2018-08-20 15:33] sanchittanwar7 commented on #3168
Thanks @MayankKashyap. I'm looking for mentoring in Google Code-In

[2018-08-20 20:59] thestarsareprojectors commented on #2535
👍

Just to clarify.  For this ticket, we want to only show a node if it has all of the tags the user is searching for?  Yes?

[2018-08-21 02:33] milaaraujo commented on #3225
I can do it, @SidharthBansal!

[2018-08-21 02:37] SidharthBansal commented on #3225
Go for it

[2018-08-21 02:54] milaaraujo opened #3241 "Community Check-in #14 Summer Of Code Week 15"
Hi everybody :smiley:  !

If you're new here, welcome, and please try some of our [first-timers-only issues](https://publiclab.github.io/community-toolbox/#r=all). This is a checklist for @publiclab/soc.

@stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @ViditChitkara @tech4GT @mridulnagpal @namangupta01 @sagarpreet-chadha @Souravirus @jywarren @MayankKashyap @siaw23 @ryzokuken @ccpandhare @ica

[2018-08-21 02:55] #3225 closed

[2018-08-21 02:56] milaaraujo commented on #3225
Moved to #3241

[2018-08-21 09:35] tranthu113377 opened #3243 "Bạn đã biết gì về phòng khám phụ khoa quận 8 chưa?"
[Địa chỉ khám phụ khoa ở quận 8 chất lượng được chị em tin tưởng](http://phathaiantoanhcm.com/phong-kham-phu-khoa-o-quan-8-uy-tin-362.html)

Hiện tại trên địa bàn Tp.HCM có khá nhiều địa chỉ trị viêm nhiễm phụ khoa. Tuy nhiên, để lựa chọn được một địa chỉ kiểm tra chữa uy tín, an toàn thì không hề đơn giản. Ngày nay, nếu như chị em muốn tìm địa chỉ phòng khám phụ khoa quận 8 an toàn và đáng tin cậ

[2018-08-21 11:27] #3243 closed

[2018-08-21 15:26] #3228 closed

[2018-08-21 15:40] jywarren commented on #2421
As the dynamic search work is upcoming (as per your original schedule), I'm not sure if this one is on your radar, @milaaraujo and @stefannibrasil -- what do you think?

[2018-08-21 19:40] jywarren commented on #3241
Congratulations to the GSoC folks who just finished up! I posted a longer thank you and congrats here: https://publiclab.org/notes/warren/08-21-2018/congratulations-on-a-great-2018-summer-of-code

🙌 ⚡️ 🎉  @publiclab/soc

[2018-08-21 19:42] SidharthBansal commented on #3241
Thanks everyone for giving me this opportunity and helping me to fulfil it.

[2018-08-21 20:50] ebarry opened #3244 "Remove "hasn't been edited in a while" blue banner from automatically appearing on wikis"
### Please describe the problem (or idea)

I have been noticing the blue header at the top of wiki pages that haven't been edited in a while, perhaps longer than 6 months:
`This wiki page hasn't been edited for a while. If you see anything that needs updating, please help out!`

Since all wiki pages already display the last edit date in the "toolbar" area, i suggest we remove this alert.

I expect

[2018-08-21 21:04] icarito opened #3245 "Mailman doesn't have link to smtp server in production"
Possibly `make redeploy-container` didn't run correctly or for some reason this line didn't seem to run because it's not in `/etc/hosts`.
Mailman was running but didn't process mail.

[2018-08-21 21:05] icarito commented on #3245
*this line* didn't run:
        docker-compose exec -T mailman bash -c "echo 172.19.0.1 smtp >> /etc/hosts"

[2018-08-21 21:05] icarito commented on #3245
[code]

[2018-08-21 21:05] icarito commented on #3245
I'll run it manually for now.

[2018-08-21 21:26] ebarry opened #3246 "Redirect tag pages for content-specific powertags to regular tag pages"
### Please describe the problem (or idea)

I was navigating around the hydrogen sulfide research area from https://publiclab.org/hydrogen-sulfide and clicked on the power tag, and through clicking the link i arrived at: https://publiclab.org/tag/question:hydrogen-sulfide

At first i was concerned that the lead wiki wasn't showing up, as it does on the regular tag page https://publiclab.org/questio

[2018-08-21 21:48] steviepubliclab opened #3247 "redirect /question to /questions"
I'm worried people are ending up on the www.publiclab.org/question which redirects you to www.publiclab.org/tag/questions. I think people who go to this page are probably trying to get to www.publiclab.org/questions. Can we get a redirect set up for that page?

[2018-08-21 21:56] steviepubliclab opened #3248 "page not showing up even though it's tagged."
I was looking at this page https://publiclab.org/wiki/tag/community-organizing and noticed that one of the related wiki pages (https://publiclab.org/wiki/creating-a-media-campaign) wasn't showing up, even though it has the same "community-organizing" tag.

[2018-08-21 21:59] ebarry commented on #3248
We tried removing and re-adding the tag, no effect.
We also tried untagging another page that was showing up in case the display was limited to four results, no effect.

[2018-08-21 22:12] ebarry commented on #1132
Hi @warren, could you explain what the partial solution to this is?
@steviepubliclab and I were just reviewing https://publiclab.org/wiki/stormwater and see that same problem happening, that questions appear in the Updates grid.

We feel that the [notes:xxxxxxxxxx] inline grid should simply ignore anything that has a question:___ tag

[2018-08-22 01:51] milaaraujo opened #3249 "Add Unit tests to Search API"

[2018-08-22 02:50] stefannibrasil commented on #2421
we have some few things to finish this week, we are planning to start working on improving the search next week!

[2018-08-22 04:17] shubhscoder commented on #3218
I am a beginner , and would like to take up this issue. Would be very helpful if you guide me @jywarren

[2018-08-22 06:58] icarito commented on #2824
Okay now It's building every 15 minutes hopefully will stay green, fixes in PR https://github.com/publiclab/plots2/pull/3253

[2018-08-22 15:42] shubhscoder commented on #3247
I am a newbie to open source and would like to take up this issue. Please guide me throught @steviepubliclab . Thanking you in advance!

[2018-08-22 19:17] cruss13 commented on #3144
Is this issue still open? Trying to find something to help on!

[2018-08-22 20:37] steviepubliclab commented on #3247
Hi Shubham- Thanks for pinging in here!
I'm actually not a coder, so can't help you with any of that, but I can
explain more about what I'm hoping for if that's helpful? If you'd like
support on coding/getting started, check out
https://publiclab.github.io/community-toolbox/

On Wed, Aug 22, 2018 at 10:43 AM Shubham Sangamnerkar <
notifications@github.com> wrote:

[2018-08-23 02:45] shubhscoder commented on #3244
I would like to take up this issue. Would you please guide me through @ebarry ? Thanking you in advance!

[2018-08-23 03:04] shubhscoder commented on #3244
I have made changes to the code,installed required gems on my local machine. Can someone please guide me on how should I test the made changes locally,because I haven't setup my Database yet. If someone could guide me on setting up my database,it would be very helpful. Thanking you in advance!

[2018-08-23 16:12] icarito commented on #3225
Hi @jywarren (hope you are having a pleasant vacation!) and everyone, the issue with Jenkins was that `unstable` and `stable` (and now `testing`) were sharing the container namespace so they interfered with each other. Once I separated them in Jenkins by tagging the containers with the DOCKER_COMPOSE_PROJECT environment variable, I had to fix a couple of issues but it is working now (https://githu

[2018-08-23 16:13] SidharthBansal commented on #3225
This is great news sebastian

[2018-08-23 16:59] gSanchezCiarrocchi commented on #2544
Hello @jywarren I've just made a [PR for this issue](https://github.com/publiclab/plots2/pull/3255). Thanks

[2018-08-23 18:56] CoderJolly commented on #3194
@jywarren is dis issue open ?

[2018-08-24 01:11] stefannibrasil commented on #3225
good work, @icarito !

[2018-08-25 10:55] shubhscoder opened #3259 "Automating setup of plots2 on local machine"
### Please describe the problem (or idea)

This would ease the task of setting up the system for plots2 repo for the first time. (Which can be a daunting task.)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping

[2018-08-25 13:33] pdurbin commented on #3244
I just took a look at pull request #3260 and it looks good to me. Thanks, @shubhscoder 🎉 👍

[2018-08-25 18:03] icarito opened #3261 "Avoid running bower twice for testing"
https://gitlab.com/publiclab/plots2/commit/2292036555b77f901256387eaa15e436874a538a

I tried the above patch but it somehow broke Jenkins. We should try again.
Bower is configured (thru `./.bowerrc`) to put libs in `./public/lib` but then we also mount the current dir, so we *shadow* the files with the current directory. That's why we've needed to run bower twice, but we will save some time if we

[2018-08-27 13:31] #2544 closed

[2018-08-27 13:31] jywarren commented on #2544
Solved by @gSanchezCiarrocchi !! Thank you!!!

[2018-08-27 13:34] jywarren commented on #3244
This looks great. @ebarry it'd be great if you could think about other ways we might encourage people to keep stale pages up to date, which was the original intent of the notice -- thanks!

[2018-08-27 13:34] #3244 closed

[2018-08-27 13:34] jywarren commented on #3244
Thanks, all, and thanks to @pdurbin for reviewing!

[2018-08-27 13:37] jywarren commented on #3261
We moved the bower files into a public folder because they include some CSS and JS files we needed to be able to link to directly without compiling them in with Sprockets. It has ended up being useful also for checking the installed version of a library directly via a URL... like https://publiclab.org/lib/jquery/dist/jquery.js -- but if we can figure out the key issue above (see examples re: Leafl

[2018-08-27 14:29] jywarren commented on #3247
Hi, @shubhscoder -- welcome, we'd love your help with this and would be happy to support you if you could take up this issue. This could be solved either by modifying the wiki controller's `root` method:

https://github.com/publiclab/plots2/blob/39cfd13cb2ba6cba81ddc0abd2ce56d8ceefd3b7/app/controllers/wiki_controller.rb#L249-L264

Or by making https://publiclab.org/question actually display the sa

[2018-08-27 14:35] #2824 closed

[2018-08-27 15:19] shubhscoder commented on #3247
Yes Jeff the system is running on my system , thanks to steffani . I ll
surely try that👍👍

On Mon, Aug 27, 2018, 7:59 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-08-27 16:41] jywarren commented on #2535
Yep, that's right!!!

[2018-08-27 20:48] jywarren opened #3262 "Planning issue for translation/internationalization/localization systems"
We have some basic internationalization/localization via the `i18n` gem, but need to think through how to improve it, and ALSO come up with a streamlined workflow to recruit and integrate new translations on an ongoing basis. This is a planning issue for this set of projects.

****

## Translation systems

Our translation files are spread over lots of files and folders in https://github.com/public

[2018-08-28 15:57] jywarren opened #3264 "Typeahead search api returning 404?"
@stefannibrasil @milaaraujo no rush as I haven't pushed this to production, but it looks like in the midst of all the search changes maybe something went wrong?

`Failed to load resource: the server responded with a status of 404 (Not Found)` for https://stable.publiclab.org/api/search/all?srchString=balloon

Do we need to update a route in the autocomplete javascript to match a new route in the A

[2018-08-28 15:57] jywarren commented on #3264
btw go this while using the navbar typeahead search in https://stable.publiclab.org

[2018-08-28 17:52] stefannibrasil commented on #3264
ohhh, I updated the route but it's `/api/srch/all?` instead of `api/search/all`. I already fixed it #3266

If you try https://stable.publiclab.org/api/srch/all?srchString=balloon you get the results. Thanks, @jywarren

I was able to see the icons locally as well after modifying this.

[2018-08-28 17:57] jywarren commented on #3264
super, thanks!

On Tue, Aug 28, 2018 at 1:52 PM Stefanni <notifications@github.com> wrote:

[2018-08-28 18:28] #3264 closed

[2018-08-28 22:41] ebarry opened #3267 "Inline tags don't work unless there is text before them (regular expression issue)"
### Please describe the problem (or idea)

I created https://publiclab.org/community with only a body tag in the text field `[wikis:community]`

I expected to see the grid of wikis appear in the page (as it does currently), but instead all that appeared was the plain text of the body tag [wikis:community]

### Please show us where to look

https://publiclab.org/community

[2018-08-28 22:45] stefannibrasil opened #3268 "Upgrade Grape version"
Grape 1.0.3 has a security vulnerability. Github is recommending upgrading our Gemfile to `~> 1.1.0`

![screen shot 2018-08-27 at 4 20 57 pm](https://user-images.githubusercontent.com/10670581/44755057-6b529700-aad9-11e8-97ae-cf3699d165a7.png)

[2018-08-28 22:50] jywarren commented on #3248
ok, weird - my brain's too tired right now, but using `[wikis:community-organizing]` does work on this page:

https://publiclab.org/wiki/sandbox#Barnraising

The code driving https://publiclab.org/wiki/tag/community-organizing should be here:

https://github.com/publiclab/plots2/blob/a9a762f6901e073b947dcc9a9e62f7757b6e6dee/app/controllers/tag_controller.rb#L120-L125

versus this for the test I ma

[2018-08-28 23:07] jywarren commented on #3248
Believe i found it and opened a PR. We'll see!

[2018-08-28 23:07] jywarren commented on #3248
https://github.com/publiclab/plots2/pull/3269

[2018-08-28 23:11] #3249 closed

[2018-08-28 23:15] jywarren commented on #3267
Thanks for documenting!

This is driven by this code:

https://github.com/publiclab/plots2/blob/d9bbfad620baa7306d4eb9d7c5f03a06a23cf7bb/app/models/concerns/node_shared.rb#L279

And here is an example in Rubular of how this regular expression (regex) does not properly match the string when it's the first thing in a body of text:

http://rubular.com/r/zr0jpBnkiI

To get it to match, type anything b

[2018-08-29 11:12] #3268 closed

[2018-08-29 14:20] jywarren commented on #3248
Hmm this fix did not work! must test more.

[2018-08-29 14:28] jywarren opened #3272 "Inline maps need url hash feature disabled from LEL"
@sagarpreet-chadha would you mind submitting a fix for this? I think the URL hash feature is great but i think we need to make it be default-off, and re-enable it for pages where we want it (publiclab.org/maps, publiclab.org/people, mapknitter.org, etc) and not for inline maps. It looks like it causes some trouble esp. when there are multiple maps!

https://publiclab.org/wiki/inline-maps

[2018-08-29 14:33] jywarren opened #3273 "Comment posting error"
i tried to post this comment:

`This was fixed by @gauravano and is now live!`

On this page: https://publiclab.org/questions/stevie/08-14-2018/what-are-ways-to-monitor-algae-blooms#c20404

And got a 500 error. Not sure why -- need to pull the logs! If anyone can reproduce this locally we could probably fix quickly. Thanks for any help!

[code]

[2018-08-29 14:34] sagarpreet-chadha commented on #3272
Okay...working on this :+1:  .

[2018-08-29 19:03] jywarren commented on #3273
aha, so you think it's the email service being down that causes this? Yes,
that moment tagging you all sounds very similar. I did see a problem at
that time too.

On Wed, Aug 29, 2018 at 2:37 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-08-29 19:31] gauravano commented on #3273
yes, email service being down seems to be one of the reason.

Do you think we can use Redis to solve this, we can enqueue our emails using redis, this will also decrease the page loading time after signup or after every operation where response waits for email to be sent. We should only use this solution if Redis is working stable at all times.

[2018-08-29 19:37] jywarren commented on #2652
@Souravirus this might be of some interest to you... you're good at this sort of thing! I'm sure you're busy with school but would love to hear your thoughts on it when you have a moment sometime. 😄

[2018-08-29 20:00] jywarren commented on #3168
Hi, all - this was just announced, and it's early this year!

http://g.co/gci

Announcement blog post: https://opensource.googleblog.com/2018/08/announcing-google-code-in-2018.html

Shall we start making a list of tasks or types of tasks that people want to create? As we mentioned before, we don't want to post them all at once, but to have a big list which we gradually post, so that we don't overw

[2018-08-29 20:02] jywarren commented on #3273
Has Redis been quite stable, or at least more stable than mailman? @icarito
?

On Wed, Aug 29, 2018 at 3:32 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-08-29 20:06] gauravano commented on #3194
Hi @CoderJolly this issue is resolved by @tyrantdavis in #3231 .Thanks!

[2018-08-29 20:09] jywarren commented on #3168
Note the category `Design: graphic design or user interface design` -- could we ask for sketches/mockups, and design ideas for different parts of the site?

Potentially bite-sized design mockups that help to solve specific issues we identify... not even a page, but some small ambiguities or ugly spots? Something as small as this for example:

![png](https://publiclab.org/system/images/photos/000/0

[2018-08-29 20:27] namangupta01 commented on #3168
@jywarren do we need to make list which is visible to all or visible to sphefic people if this is the case we can go make list in reviewers group?

[2018-08-29 20:33] jywarren commented on #3168
I think we can make it visible to all -- but just not post them tagged as
GCI tasks just yet. No?

On Wed, Aug 29, 2018 at 4:28 PM Naman Gupta <notifications@github.com>
wrote:

[2018-08-29 20:42] #3144 closed

[2018-08-29 20:42] jywarren commented on #3144
I think this one is completed, @CoderJolly -- sorry! I'll be posting some new ones pretty soon. Thanks for your support!

[2018-08-30 00:48] SidharthBansal commented on #3168
We can make list visible to all without tags on that issue.
We can have a milestone to group together all such tasks
We can open a issue which will contain a checklist if all the issues. The checklist can be repeatedly edited by the mentors of GCI and they can refer the issue no in that checklist if issue is created. Tick the point in checklist if it is solved. The discussion can go beyond the mai

[2018-08-30 05:43] Souravirus commented on #2652
Yeah sure I will work on it @jywarren

[2018-08-30 06:10] SidharthBansal commented on #3168
@jywarren can you please modify the reviewers team. There are many people who left pl and many new contributors. This will help us at GCI period.
Can I open an issue at plots2 with different categories? Then folks can edit that and can add new issues name there.

[2018-08-30 06:12] SidharthBansal commented on #3168
We can also include the tasks not solved yet in GCI

[2018-08-30 06:19] SidharthBansal commented on #3168
Can we add points to issues for GCI?? I will really like to compete and have max points :smile:

[2018-08-30 06:33] sagarpreet-chadha commented on #3168
Cool idea @SidharthBansal !
Lets make a list on PL --- we can choose from these categories :

<img width="708" alt="screen shot 2018-08-30 at 11 52 02 am" src="https://user-images.githubusercontent.com/14952645/44833311-55fd7a00-ac4b-11e8-9b0f-97be27c02a1a.png">

**Lets start from here ?** https://publiclab.org/wiki/gci-possible-tasks

[2018-08-30 06:34] SidharthBansal commented on #3168
OK I am opening a issue. Everyone can edit it.

[2018-08-30 06:41] ccpandhare commented on #3168
This might be very late; sorry.
But I'd like to be a mentor too, if possible. 😁

On Thu, 30 Aug 2018, 07:34 Sidharth Bansal, <notifications@github.com>
wrote:

[2018-08-30 06:43] SidharthBansal opened #3276 "Task list staging area for Google Code-In"
### :point_right: Please append a comment `Added to GCI dashboard` after each task which you have posted so no one else opens the same task

**This is a staging area.**  Each task has (or will soon have) a link to a full issue including relevant lines of code, screenshots, and other helpful information as we prepare them for solving. Some are harder than others, but those tagged with `first-timers

[2018-08-30 06:52] SidharthBansal commented on #3168
You all can add issues under headings in #3276

[2018-08-31 15:55] first-timers[bot] opened #3278 "Update wiki_controller.rb"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-08-31 16:00] jywarren opened #3279 ""response" post links no longer show"
Some posts on the site are marked as a "response" to another post, using the tag `response:______` where `_____` is a node id. Like this one:

https://publiclab.org/notes/warren/08-30-2018/web-working-group-update-23-august-2018

See the tag?

![image](https://user-images.githubusercontent.com/24359/44923113-506c6680-ad15-11e8-9e9f-2d0d0a14b8b9.png)

The code driving this is here, but it's not wor

[2018-08-31 16:03] jywarren commented on #3093
This is looking great. Still a few more to go. Note how on this view, we might just show the link icon and not the actual ID number, since space is limited:

![image](https://user-images.githubusercontent.com/24359/44923299-d9839d80-ad15-11e8-8c65-fcb47d3938f2.png)

That also shows a regular (non question) note, where we could also show a link icon similarly! @k-sau are you interested maybe? Or an

[2018-08-31 16:06] jywarren commented on #3093
Some of those templates are here:

https://github.com/publiclab/plots2/blob/master/app/views/dashboard/_node_default.html.erb

https://github.com/publiclab/plots2/blob/master/app/views/dashboard/_node_comment.html.erb

https://github.com/publiclab/plots2/blob/master/app/views/dashboard/_node_question.html.erb

Note how the comment template also shows the number, where we could keep it more minimal

[2018-08-31 16:06] jywarren commented on #3093
I'm also not sure why it's not appearing on the https://publiclab.org/questions page?

![image](https://user-images.githubusercontent.com/24359/44923480-5878d600-ad16-11e8-8361-5b14f26ad989.png)

[2018-08-31 16:09] jywarren commented on #3267
So the next step here might be to try to read Regular Expressions documentation and experiment with Rubular to try to get the expression to match the string even if it's the beginning of the sample text!

[2018-08-31 16:53] kryptc commented on #3278
Hi, I'd like to take this issue up

[2018-08-31 16:55] jywarren commented on #3278
that'd be great, we'd love your help and can support you as you take this
on! thanks!

On Fri, Aug 31, 2018 at 12:53 PM Kripa Anne <notifications@github.com>
wrote:

[2018-08-31 17:58] ViditChitkara commented on #3219
Sure, and yes we need to figure out the design.

[2018-08-31 18:40] k-sau commented on #3093
@jywarren Yes i will happily work on this. Will work on this tomorrow and will keep you updated with my progress :)

[2018-08-31 18:49] jywarren commented on #3093
oh super! Thanks so much!!!

On Fri, Aug 31, 2018 at 2:41 PM Kumar Saurabh <notifications@github.com>
wrote:

[2018-09-01 10:49] SidharthBansal opened #3283 "Design Notification System for PL"
### Please describe the problem (or idea)
We can have a notification system at Public Labs in the header.  We currently don't have such notification system. We usually notify people via email. We can notify them like facebook, linkedin etc does.
![image](https://user-images.githubusercontent.com/20972099/44945257-c69ac700-ae02-11e8-8dd6-635b48f61c06.png)

[2018-09-01 10:50] SidharthBansal commented on #3283
@publiclab/reviewers @publiclab/soc any ideas about this is much appreciated.

[2018-09-01 10:55] siaw23 commented on #3283
would be a pretty cool feature. i'm for it. this will be done with action cable i believe?

[2018-09-01 10:59] SidharthBansal commented on #3283
@souvaris can we use rails 5 stuff? I think we need to use action cable. I
was guessing if we can try to implement this whole project by google code
in students
Can you assist them in doing so?
As we are planing for gci. It will be Great if they will build something.

On Sat, Sep 1, 2018, 4:25 PM Emmanuel Hayford <notifications@github.com>
wrote:

[2018-09-01 11:03] SidharthBansal commented on #3283
We will definitely create a large list of issue, but if we will break one or two bigger projects to them it will also help the pl community. What do you say @siaw23 @jywarren. Yeah @siaw23 you can go for it. Let's also hear from other community members what they are looking for.

Btw this will be a big project. We also need to have a web page for showing all the notifications.

[2018-09-01 11:10] tech4GT commented on #3168
Hello everyone, I'm in too!!😊

[2018-09-01 11:33] tech4GT opened #3284 ""Weighting" system for Google Code-In"
I suggest after a discussion with @SidharthBansal to have a Bounty system on issues throughout GCI to track the student performance.
We can have these bounties as labels on the github issues we will raise during GCI and the bounty shall vary on how big or complex the issue is.
I think these slabs should be enough to cover issues of all complexities.
50
100
150
200
250
300
350
400
450
500

So we ca

[2018-09-01 11:35] SidharthBansal commented on #3276
@jwarren I have a cool idea. I don't know it's feasibility level. Please help @publiclab/soc.

We have pending projects/new projects at PL. We will have mentors for GCI. We all want to do projects as many as we can to learn. So, I want to map these things together.

Like in GSOC and RGSOC, we can assign a project to a team of mentors(team of mentors can include even one mentor) and the project is

[2018-09-01 11:36] SidharthBansal commented on #3284
Varun the bot has errors. You are not a newbie. lol.
Thanks for opening the issue.

[2018-09-01 11:37] tech4GT commented on #3284
Oh it's fine this is my first issue on plots😄

[2018-09-01 11:38] SidharthBansal commented on #3284
@tech4GT can you please divide these bounties in some categories. So that it will be easy for GCI mentors to tag them up

[2018-09-01 11:39] SidharthBansal commented on #3284
Like writing a page of documentation will have x bounties, making a button ui will have y bounties, implementing that button will have higher bounties and all that. So that we will have a fair system

[2018-09-01 11:40] tech4GT commented on #3284
Oh sure we can do that once @jywarren and others approve of this system. Is that fine?

[2018-09-01 11:40] SidharthBansal commented on #3284
Also, I will say that instead of ten we can have fewer levels say 3/4 levels of bounty. It will be quite easy to pick from 3/4 bounty levels then from 10 bounty levels.
Like we can have 100 250 and 500

[2018-09-01 11:40] SidharthBansal commented on #3284
yeah other reviews are really important

[2018-09-01 11:41] tech4GT commented on #3284
Yeah we can work out the details once everyone on the team is OK with this.

[2018-09-01 11:43] SidharthBansal opened #3285 "Project Oriented Flow in GCI"
@jwarren I have a cool idea. I don't know it's feasibility level. Please help @publiclab/soc.

We have pending projects/new projects at PL. We will have mentors for GCI. We all want to do projects as many as we can to learn. So, I want to map these things together.

Like in GSOC and RGSOC, we can assign a project to a team of mentors(team of mentors can include even one mentor) and the project is

[2018-09-01 11:44] SidharthBansal commented on #3285
Got idea while thinking of #3283

[2018-09-01 12:43] gSanchezCiarrocchi commented on #3279
@jywarren So, just to confirm that I got this right...The idea is that when an author posts a note he **manually** adds a tag to his note in the form `response:xxxxxx`, where `xxxxx` is the id of another note. Then, in his note it should appear a sidebar with the legend  *this is a response to* and the tag linking to the responded note?.

The problem being that in [this particular note](https://pu

[2018-09-01 13:18] siaw23 commented on #3283
uuum won't this be too big for GCI students? well sure i can help with overseeing this if we can have a clear plan what to set notifications for.

[2018-09-01 21:15] k-sau commented on #3093
Hey @jywarren,
![screenshot from 2018-09-02 02-33-56](https://user-images.githubusercontent.com/7109945/44949971-19ec3400-ae5a-11e8-8b7c-08a6357617ed.png)

+ I actually removed all my past changes and added the `link icon` to this meta file:    https://github.com/publiclab/plots2/blob/4015e70ca5270e8312b6b340e81c7cd1155880e8/app/views/dashboard/_node_meta.html.erb#L19
is that looks good?
+ And for

[2018-09-02 18:24] icarito opened #3287 "Phusion Passenger is failing to download nginx on `passenger start`"
We are having issues booting `staging` because we get `Unable to download or extract Nginx source tarball` after `*** Could not download https://nginx.org/download/nginx-1.14.0.tar.gz: Resolving timed out after
4512 milliseconds`. The when doing it manually as described in instructions in the logs, it seems to work.
We should do this step at build time rather than at first boot!

This looks exactl

[2018-09-02 18:30] icarito commented on #3287
Another option is to implement a DNS cache at Tycho server. It is not clear why DNS queries are problematic from this server, we're using google's DNS 8.8.8.8 which is generally responsive.

Here's [instructions](https://prefetch.net/blog/index.php/2011/03/27/configuring-nscd-to-cache-dns-host-lookups/) for doing so in case we decide to take this path. But I still think we should do this step at b

[2018-09-03 09:36] AmanGarg97 commented on #3278
Hi! I would like to work on this issue for my first pull request in Open source.
If it is not assigned do let me know. Thanks!

[2018-09-03 10:54] SidharthBansal commented on #3276
@jywarren these are some of the issues which I came across while using PL as a developer.

[2018-09-04 04:32] icarito opened #3289 "Staging fails to build with aufs error: "removing: device or resource busy""
The issue is that sometimes it's impossible to start staging service because one container is unable to unmount:

rename /var/lib/docker/aufs/mnt/f331157ee5bf70c41f0105679bbfebd7488b1f17eda885ad7f53889628c08999 /var/lib/docker/aufs/mnt/f331157ee5bf70c41f0105679bbfebd7488b1f17eda885ad7f53889628c08999-removing: device or resource busy

I believe this is caused by our use of cron as a process within

[2018-09-04 04:37] icarito commented on #3289
For the record this is currently worked around by restarting the Docker service (needs admin).

[2018-09-04 04:47] #3287 closed

[2018-09-04 12:02] SidharthBansal commented on #3168
Hi all. Is there any mentoring form which mentors need to fill?

[2018-09-04 15:02] SidharthBansal commented on #3241
Hi @publiclab/soc,
Sagar and I are hosting an event at DTU, India on Monday. You all are welcomed to attend the event.
https://www.facebook.com/events/1061331190699995/?notif_t=plan_user_joined&notif_id=1536071494915419
Thanks

[2018-09-04 22:07] jywarren commented on #3093
Ah, i love consolidating it in the meta file. But could we have it
displayed at the bottom in the same way on questions? I like your top icon
a lot but it also makes a difference for it to be in the same place
regardless of the post type, you know?

On Sat, Sep 1, 2018 at 5:15 PM Kumar Saurabh <notifications@github.com>
wrote:

[2018-09-05 02:40] armanik11 commented on #3278
Hi, Is this issue already taken up? If not please let me know as I'm interested and this would be my first PR

[2018-09-05 04:03] stefannibrasil commented on #2421
@ebarry @bronwen9 @jywarren we started addressing some of your concerns here #3295. Please keep in mind that this PR is mostly on the front-end, but it will help with our planning! :)

[2018-09-05 04:03] stefannibrasil commented on #2421
I have some notes to share with you, but I need to organize them better before sharing with you xD

[2018-09-05 12:58] shubhscoder commented on #3192
I would like to take this bug. I am not able to get the required data though. Thanking you in advance !

[2018-09-05 13:50] bronwen9 opened #3296 "Wiki Page Creation button not working"
The wiki creation button fails to trigger new page-- when pressed, no action is taken. Tried in Chrome and Firefox, checked to make sure nothing posted by navigating back to publiclab.org/wiki/pagename and publiclab.org/tag/pagename.

![wikicreation](https://user-images.githubusercontent.com/8331717/45097055-f04c3a80-b0ef-11e8-8243-345efb6b505a.gif)