[2018-01-23 16:34] Gauravano commented on #2072
yes, that would be great.

[2018-01-23 16:45] ebarry opened #2077 "bug in "read more" link in question posting form"
### Please describe the problem (or idea)

I was writing a question, and the hover text suggested i should write a better title and offered a `read more` link. Clicking the `read more` link loaded a very complicated URL and i lost the paragraphs i had already written.

If we are offering a `read more` link in an editing-interface, it should absolutely load a NEW page and not disturb the page peopl

[2018-01-23 16:56] jywarren commented on #2077
Hi, just for quick recovery, there is a history module, go to https://publiclab.org/post click this button:

![screen shot 2018-01-23 at 11 51 00 am](https://user-images.githubusercontent.com/24359/35288873-e48fd656-0033-11e8-92fd-6da1e6f42ed7.png)

This can recover drafts from the post or question posting pages.

The button was removed from the Rich Questions form during a design revision to simp

[2018-01-23 17:08] jywarren commented on #2076
Awesome, good topic to open here. Let's break down the problem some:

* bursts or "collections" on a single topic push down other topics
* bursts by a single author could do the same
* we'd like to feature more diversity of topics and authors on the dashboard activity feed

Anything you'd add?

I think the next step is to collect and compare possible solutions. For one, what are some conventions f

[2018-01-23 17:16] Gauravano commented on #2028
I will take care of this.Thanks, Jeff.

[2018-01-23 17:51] sagarpreet-chadha commented on #1502
@jywarren, @ebarry  , is there any API (or maybe documentation) to know the 'edges' in the above graph ? I mean how are nodes connected ?
Thanks 😄 !

[2018-01-23 18:01] sagarpreet-chadha commented on #1940
@jywarren , i was thinking that if ,
CASE 1 : if user has shared his/her location , we can show only the nearby people(if any) .
CASE 2: if user has not shared his/her location , we may show 40-50 (maybe more) recent contributors .
 What do you think ? Should i break this issue into smaller solve-able parts ?  Thanks !

[2018-01-23 18:08] jywarren commented on #2028
awesome!!!

On Tue, Jan 23, 2018 at 12:16 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-01-23 19:23] jywarren commented on #2076
I found this old issue that i'll merge into this one - https://github.com/publiclab/plots2/issues/370

[2018-01-23 19:23] jywarren commented on #370
Merging into https://github.com/publiclab/plots2/issues/2076

[2018-01-23 19:24] jywarren commented on #2076
I'd originally said in that old post:

[2018-01-23 19:24] #370 closed

[2018-01-23 19:26] jywarren commented on #42
Hi, @ryzokuken i agree -- i've started collecting spam-related issues in this milestone:

https://github.com/publiclab/plots2/milestone/14

...and will repost this since we now have a page for people at http://publiclab.org/people !

[2018-01-23 19:29] steviepubliclab commented on #1413
I just posted a longer question in this way, and was not limited by the word count. Think it's fixed?

[2018-01-23 19:30] jywarren opened #2079 "Add "people" tab to /spam page for moderators"
We should add new user profiles to the moderate spam page:

https://publiclab.org/spam

![image](https://user-images.githubusercontent.com/24359/35295339-e4f97350-0046-11e8-9f6b-e37ce1c9513a.png)

We can add a new tab, but the tab would actually lead to http://publiclab.org/people (for now) since moderators can see recently active users and ban them from that page.

This could be added as a new ta

[2018-01-23 19:30] jywarren commented on #42
Adapting into the new #2079!

[2018-01-23 19:30] #42 closed

[2018-01-23 19:40] jywarren opened #2081 "add https://publiclab.org/spam to moderation emails"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-01-23 19:42] jywarren commented on #371
Let's not do this.

[2018-01-23 19:42] #371 closed

[2018-01-23 19:44] jywarren commented on #218
Being fixed in #2003 !!

[2018-01-23 19:45] jywarren commented on #264
We can do this via Profile tagging now!

[2018-01-23 19:45] #264 closed

[2018-01-23 19:46] jywarren commented on #1413
👍

[2018-01-23 19:46] #1413 closed

[2018-01-23 19:48] jywarren commented on #1476
This is fixed!

[2018-01-23 19:48] #1476 closed

[2018-01-23 19:52] steviepubliclab commented on #208
Interesting, getting back to this. Wondering if we could point people to the live call when they sign up?

[2018-01-23 20:19] jywarren commented on #208
Great -- this is what the signup page currently looks like. We could add a "feature" to the bottom where the existing text is, so it could be easily modified without needing to change code -- would that help get this solved?

![screen shot 2018-01-23 at 3 14 49 pm](https://user-images.githubusercontent.com/24359/35298443-3bf4d902-0050-11e8-8785-d0473316195d.png)

If we wanted to move forward in th

[2018-01-23 20:42] skilfullycurled commented on #1502
Hey @sagarpreet-chadha!

The visualization is just an image so there's no API (yet! wink) however I can provide you with the list of edges from that particular graph.  The most "raw" file formats would be csv and json.  Both formats should work with a graph either "programmatically" ([iGraph](http://igraph.org/python/), [networkx](https://networkx.github.io/), [d3.js](d3js.org) or with a GUI ([Gep

[2018-01-23 21:04] biswesh456 commented on #2079
Can I claim this?

[2018-01-23 21:19] jywarren opened #2083 "Add rich editor to New Wiki form"
This is a multi-step issue to add the rich text editor to the new wikis page.

The form for making new wiki pages (for example if you're logged in, at https://publiclab.org/wiki/new) is the old editor -- we should replace it (for new pages only!) with the rich editor, as you see at http://publiclab.org/post (again, if logged in)

The rich editor uses this template:

https://github.com/publiclab/pl

[2018-01-23 21:20] jywarren commented on #1475
Great, opened an issue for this here: https://github.com/publiclab/plots2/issues/2083

and closing this one.

[2018-01-23 21:20] #1475 closed

[2018-01-23 21:22] steviepubliclab commented on #2068
Just pining in that this one seems related to issue #529 https://github.com/publiclab/plots2/issues/529

[2018-01-23 21:23] JoseGre1 commented on #2081
Hi @jywarren! I'll be working on this one.

[2018-01-23 21:24] steviepubliclab commented on #1119
This type of curated information could also be useful for the https://publiclab.org/wiki/requests page.

[2018-01-23 21:29] jywarren commented on #980
Closing this -- we no longer use Solr! Thanks!

[2018-01-23 21:29] #980 closed

[2018-01-23 21:33] steviepubliclab commented on #129
Hi there, I'm up for bumping this up as well. I'd like to be able to "save" as to continue drafting later myself, and secondly the function of having others "edit" on the post before it goes live as well. Maybe this seems like two features?

[2018-01-23 21:38] steviepubliclab commented on #741
I'd like to bump this one up as well for rich wikis.

[2018-01-23 21:39] jywarren commented on #928
Hi, sorry for slow reply!

For the last item, i think we're tackling that in https://github.com/publiclab/plots2/pull/2062 ! Good call though.

For the earlier ones, I like the idea that the various routes you name would exist, even if they show up as tabs. Because sometimes you want to send someone a link to one of them!

* `/wiki/tag/tagname/author/authorname`
* `/maps/tag/tagname/author/authorn

[2018-01-23 21:42] jywarren commented on #1686
@Arvisix any interest in tackling parts of this still? Just checking, no pressure!

[2018-01-23 21:43] jywarren commented on #2022
Doesn't seem to be an issue anymore maybe? https://publiclab.org/wiki/inline-maps seems OK now, not sure why it was acting up earlier. I'm actually going to close this -- thanks for your offer, @perfidiousscript and if you're interested in taking on an issue, i just posted a few new ones:

https://publiclab.github.io/community-toolbox/#r=all

Thanks!!!

[2018-01-23 21:43] #2022 closed

[2018-01-23 21:46] jywarren commented on #1940
Hi, i just updated the checklist a bit and renamed. I think we should start by just showing the most recent 100 people. Once this starts to act funny, we can widen the query. How's that sound? Your help would be great!

Feel free to break out sub-issues using parts of this, then!

[2018-01-23 21:47] jywarren commented on #2020
I'm not sure, but i bet we could add a functional test for the wiki controller to see if we can reproduce this. It'll work in Travis since that uses mysql!

[2018-01-23 22:27] jywarren commented on #2081
Awesome, thanks!!

On Jan 23, 2018 4:24 PM, "Jose Hernandez" <notifications@github.com> wrote:

[2018-01-23 23:19] SidharthBansal commented on #2083
@jywarren May I take this?
I was having fever so was not able to do much last week

[2018-01-23 23:39] jywarren commented on #2083
Oh, I'm sorry to hear that! Hope you're better! Yes of course you're
welcome to take this one !!

On Jan 23, 2018 6:36 PM, "Sidharth Bansal" <notifications@github.com> wrote:

[2018-01-24 00:31] SidharthBansal opened #2084 "Implement Various Routes with tagname and authorname"
### Please describe the problem (or idea)
Currently, the tabs on the /tag/tagname/author/authorname like wiki, maps, contributors are dead links. They needs to be modified
## Idea
We need to define routes for them like
* /wiki/tag/tagname/author/authorname
* /maps/tag/tagname/author/authorname
* /question/tag/tagname/author/authorname
This will help in soving #928

[2018-01-24 01:13] SidharthBansal opened #2086 "PublicBot error"
### Please describe the problem (or idea)
I was doing a pull request at plots. I wrote "Fixes #issue_number" but still it is showing me "You must enter like "fixes ..."
![image](https://user-images.githubusercontent.com/20972099/35309227-57f143ee-00d1-11e8-927b-cb53c3463d1a.png)
See the first and the last line of the image

[2018-01-24 03:30] skilfullycurled commented on #1502
Update: removed plots_tag_communities_edgelist_9_16.csv.  This file is of limited use because the duplicate edges had already been merged into unique edges with weights.  Without the properties, this edge list will only allow you to build a graph with edge weights of 1.

[2018-01-24 05:38] Rishabh04-02 commented on #2077
@jywarren I want to fix this. (first timer)

[2018-01-24 07:13] krishnakode commented on #2081
Is this being worked on?

[2018-01-24 10:26] sagarpreet-chadha commented on #1502
Thank you @skilfullycurled for your reply !

I was actually trying to build the visualization graph using javascript library (d3.js or [vis.js](http://visjs.org/#)) so that it could be easily added to publiclab.org website . These libraries require the data in the form of :

` nodes: [
{
  id: 1,
  shape: 'circle',
  label: 'Infrared } ]` for **nodes**  .

And for **edges** :
`edges: [
      {from

[2018-01-24 13:49] seafr commented on #2086
I've noticed that too. It does not always happen though. See PR #2078, which is not linked to any open issue. Have you looked at `Dangerfile` in the root folder?

[2018-01-24 14:21] rishabhptr opened #2088 "Author subscription system"
### Please describe the problem (or idea)
We cant follow a node author even though it states that we can follow by tag or author.

Clicking on author name did not do anything , it should either redirect to user's profile or directly make the current user follower of the author.

### Please show us where to look

https://publiclab.org/ ...
![screenshot from 2018-01-24 19-45-22](https://user-images.

[2018-01-24 14:33] sagarpreet-chadha commented on #1940
@jywarren , should we create an API using the model function `self.people_map` and rendering a blank map and then calling the API asynchronously OR simply making a query on database like before ?

[2018-01-24 14:40] gretchengehrke commented on #2076
Ooh, I like the idea of showing recent work in a collection of topics,
showing one *and* saying "see 10 additional recent posts about turbidity"
too.

On Tue, Jan 23, 2018 at 2:24 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-01-24 15:27] jywarren commented on #2052
Hi, i'm going to merge this into #814 where we can make some next steps, thanks!

[2018-01-24 15:27] #2052 closed

[2018-01-24 15:27] jywarren commented on #814
Noting input from @ebarry in #2052:

[2018-01-24 15:31] ebarry commented on #814
Great, this is exactly what i was getting at in #2052.
The person writing the activity is in a good position to write a helpful response template. How can we help them do this?

I'm also interested in the "save progress" moments sketched above.

[2018-01-24 15:35] ebarry commented on #1960
Could we try a version where the line of tags is shown "under the line with tabs for view, edit, comment" ? Can we identify some contemporary UX/UI patterns to base our design on?

[2018-01-24 15:49] jywarren commented on #1941
Hmm, so i'm seeing for the search `Coqui` several wiki pages:

https://publiclab.org/api/typeahead/all?srchString=coqui

I'm opening a PR to try to replicate this but I think we could/should add `group()` to the Typeahead search's `wikis` and `tags` methods, for one.

[code]

[2018-01-24 15:50] jywarren commented on #1941
#2090

[2018-01-24 15:54] jywarren commented on #1960
Let's post some screenshots of layouts we like, either examples from other
sites we like, or mockups.

Here's a working space with some cut-up interface pieces if you want to
make a mockup:
https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit?usp=slides_home&ths=true

On Wed, Jan 24, 2018 at 10:35 AM, Liz Barry <notifications@github.com>
wrote:

[2018-01-24 15:56] namangupta01 opened #2091 "Crontab jobs for sending trending Topics to Users"
### Please describe the problem (or idea)

We can use crontab jobs to send mails to users about trending topics and for the other stuff just like we got mail from twitter about treading topics or about people. I think it would would be great if users get to know about the trending topics on mail. What do you say @jywarren @icarito @ryzokuken ?

Timing of sending of the mail can be pre set so that

[2018-01-24 16:09] namangupta01 opened #2092 "Sorting wiki pages on /wiki by Last Edited is not working"
### Please describe the problem (or idea)
In https://publiclab.org/wiki/
Last Edited is not working properly --not sorting the topics by last edited
![screen shot 2018-01-24 at 9 35 50 pm](https://user-images.githubusercontent.com/20709985/35342770-e5ab5efe-014e-11e8-8b25-7f944029e9f9.png)

[2018-01-24 16:20] jywarren commented on #2057
Wow, as of a `bundle update` I'm now seeing these errors on my local machine, on ruby 2.3! Do you see them on Ruby 2.1?

[2018-01-24 16:31] siaw23 commented on #2057
I think there's a lot of work to be done here @jywarren and it' related to a particular Ruby version plus gem versions that are not compatible. I'm using ruby 2.3 as well when these errors started with a `bundle update`.

[2018-01-24 16:36] jywarren commented on #2057
I'm looking around for regular-expression or `gsub` related changes between gem or ruby versions, and I don't think it'll be a big change -- i think it's possible the gsub rules were modified between versions and the regex-based replacements are now failing.

We specify Ruby 2.3 on Docker:

https://github.com/publiclab/plots2/blob/ceb7d05404b4619c7fa8cd8cae5e8215798cb02c/Dockerfile#L4

But i do al

[2018-01-24 16:38] siaw23 commented on #2057
how about we stick to one ruby version everywhere? so either 2.3 or 2.4? @jywarren

[2018-01-24 16:39] ebarry opened #2093 "Deep links load content hidden underneath our menu bar and ribbon"
### Please describe the problem (or idea)

I clicked the timestamp to a particular comment i needed to link to, and it created this URL that loaded the content so high that it was completely hidden under the menu bar or the ribbon. Luckily, I knew what i was expecting to see , so i knew to scroll up to find it, but someone who doesn't know what to expect when clicking the link could get completely

[2018-01-24 16:40] jywarren commented on #1958
Hmm, i can't seem to get this working effectively. Can you double check that `enclosure` is definitely not it?

[2018-01-24 16:42] jywarren commented on #2057
we have not upgraded to Ruby 2.4 anywhere, actually! That's just the container default and we're not using it, so I don't think we're looking at a 2.4-related issue. We may be looking at a 2.1 vs. 2.3 issue, but i'm not sure about that yet.

[2018-01-24 16:43] jywarren commented on #1960
I kind of like the sidebar option, and we are thinking of revising the sidebar to be much more minimal in #1706. Here are some mockups from that template:

![screenshot 2018-01-24 at 11 42 59 am](https://user-images.githubusercontent.com/24359/35344693-bef3612e-00fb-11e8-978a-f110e9268e78.png)

![screenshot 2018-01-24 at 11 39 05 am](https://user-images.githubusercontent.com/24359/35344698-c2c01ea

[2018-01-24 16:43] skilfullycurled commented on #1502
Ah.  That would be awesome!  Okay.  To further this conversation, we'll need to leave "API-land" and move into into how the visualization in Gephi works and the best way to translate those features into javascript.

Can I trouble you to start this as a [question](https://publiclab.org/questions)?  Something like, "How can I translate the tag visualization created in Gephi into a javascript version

[2018-01-24 16:51] namangupta01 commented on #2065
@icarito As you said we are using SMTP server on production and its running on port 25. I think to open that port there would also be the need for the Docker container's address running on port 25 and address of docker container can be specify by name of the Docker Container. So i think name of docker container is also required to open the port?

[2018-01-24 16:55] namangupta01 commented on #2065
Never mind i got it.
It is `address: "smtp"`

[2018-01-24 16:56] jywarren commented on #2057
For 2.4 see https://github.com/publiclab/plots2/issues/2075 - I'm going to try running these replace commands in the console in various versions

[2018-01-24 16:59] jywarren commented on #2057
So here's a string where `All about Public Lab` should have become `All about Private Lab`:

https://github.com/publiclab/plots2/blob/ceb7d05404b4619c7fa8cd8cae5e8215798cb02c/test/functional/wiki_controller_test.rb#L449-L453

[2018-01-24 19:05] jywarren commented on #2057
Actually it seems to be this revision sneaking in:

https://github.com/publiclab/plots2/blob/5ffd7c6b3f9d2a3a53946a3433970ce1590ceb15/test/fixtures/revisions.yml#L33

That change: https://github.com/publiclab/plots2/blame/5ffd7c6b3f9d2a3a53946a3433970ce1590ceb15/test/fixtures/revisions.yml#L33

Came from this PR: https://github.com/publiclab/plots2/pull/1660

I'm not sure why this is sneaking in o

[2018-01-24 19:05] jywarren commented on #2057
Take a look: #2096 !

[2018-01-24 19:07] siaw23 commented on #2057
yes i saw that. changing the fixture will fix it. but does it portray the expected behaviour? that's the question i kept asking myself. i wanted a way to fix the breaking test instead. but it's your call. @jywarren

[2018-01-24 19:15] siaw23 commented on #2057
ok #2096 fixes some of the tests for me. now the only failing test is

[code]

can you fix that and add to your PR too? @jywarren

[2018-01-24 19:30] jywarren commented on #2057
Added a commit - fingers X!

[2018-01-24 20:55] jywarren commented on #1940
Yes, that sounds perfect to use the API asynchronously! This should result in substantially simpler and more re-used code. Thanks!!

[2018-01-24 21:18] ebarry opened #2097 "Ghost tag"
### Please describe the problem (or idea)

I was kicking the tires on subscriptions, unsubscribing and resubscribing, when i encountered a bug after clicking `unsubscribe` on an unusual tag with no name:
<img width="941" alt="screen shot 2018-01-24 at 4 12 53 pm" src="https://user-images.githubusercontent.com/161439/35357499-bf6864b2-0121-11e8-8d17-9eff5e0057a3.png">

it led me to a 404 page:
<img

[2018-01-24 21:24] namangupta01 commented on #2097
It's working correctly in development env while not working correctly in production env.

[2018-01-24 21:26] ebarry commented on #2097
This might be some really, really old weird thing on my account because i'm such an old user. o any other long time users @Fastie @jywarren @steviepubliclab or anyone else see this?

[2018-01-24 21:27] namangupta01 commented on #2097
Yes, i am also having the same problem. -- I am new user.

[2018-01-24 21:30] namangupta01 commented on #2097
Perhaps, we should not be able to add the tag with empty name.

Development env is showing alert while adding tag with empty name.
![screen shot 2018-01-25 at 2 59 32 am](https://user-images.githubusercontent.com/20709985/35358195-cf6b8196-017b-11e8-8b52-0ccf0d6b7fec.png)

[2018-01-24 21:56] steviepubliclab opened #2099 "Adjust date of comments that are changed to answers on /questions"
A new feature was added that allows people to move comments on /questions to answers. However, when comments are now adjusted, a new email goes out and the date of the original post is not maintained.

Here's a link to the code: https://github.com/publiclab/plots2/blob/ceb7d05404b4619c7fa8cd8cae5e8215798cb02c/app/controllers/comment_controller.rb#L154-L157

[2018-01-24 22:00] ebarry opened #2100 "Remove link to /lists from sidebars"
### Please describe the idea

We are in a year long transition off Google Groups. Let's begin de-emphasizing how much we direct people at the Google Groups by taking out this section of the sidebar that directs people at the GoogleGroups on https://publiclab.org/lists:

<img width="338" alt="screen shot 2018-01-24 at 4 40 47 pm" src="https://user-images.githubusercontent.com/161439/35358685-7962dd

[2018-01-24 22:16] jywarren commented on #1941
Hi, @ankitbhardwaj78 -- i made some progress and think i've reproduced the issue but we now need to resolve the errors. Would you be interested in building on the start at #2090?

[2018-01-24 22:17] ebarry opened #2101 "Stop showing discussion lists messages on the dashboard"
### Please describe the problem

We've made some choices to route website notifications into the GoogleGroups so people get used to interacting directly with content on the website by tag, however, that also has a downside: **the Discussion Lists tab on the /dashboard is currently showing entirely website notifications.**  I suggest this has adverse effects on the human mind.

I clicked the discus

[2018-01-24 22:22] ebarry commented on #2076
+1 I like all these ideas.

I have an idea to help make room for this: remove the righthand column with two tabs for "wiki" and "discussion lists". Instead, add these into the checkbox where you can choose to see research notes, questions, events, and comments:

<img width="192" alt="screen shot 2018-01-24 at 5 21 34 pm" src="https://user-images.githubusercontent.com/161439/35360237-1096717c-012b-

[2018-01-24 22:29] ebarry opened #2102 "[DRAFT] Reduce "above the fold" space on dashboard given to the /Blog"
### Please describe the problem (or idea)

The dashboard is precious, and arguably spends too much precious "above the fold" space saying its own name. The rest of the above the fold space is given to the blog:
<img width="1233" alt="screen shot 2018-01-24 at 5 23 41 pm" src="https://user-images.githubusercontent.com/161439/35360456-c67ca7ea-012b-11e8-97c2-30071e2e732f.png">

Less room given to th

[2018-01-24 22:29] ebarry opened #2103 "PLANNING ISSUE: Dashboard"
- [ ] https://github.com/publiclab/plots2/issues/2076 - Dashboard overwhelmed with just a few posts on a single topic
- [x] https://github.com/publiclab/plots2/issues/762 - Design stronger entry point for Questions system on dashboard
- [ ] https://github.com/publiclab/plots2/issues/837 - New "answers" to questions are not featured on dashboard activity feed
- [ ] https://github.com/publiclab/plot

[2018-01-24 22:32] ebarry commented on #1119
There seems to be language on the /subscriptions page that is both leftover from GoogleGroups and aspirational-but-not-yet-achieved until the features in this issue are created:

<img width="748" alt="screen shot 2018-01-24 at 4 34 45 pm" src="https://user-images.githubusercontent.com/161439/35360616-58375acc-012c-11e8-9ef5-bd1445a31f6c.png">

The actual text reads:

We should remove the second se

[2018-01-24 22:40] ebarry commented on #213
This seems to relate to how the button "subscribe to everything" on publiclab.org/subscriptions in fact only subscribes you to research notes, a fact which we have to explain in help text below the button

[2018-01-24 22:46] jywarren commented on #1184
Found this guidance: https://support.google.com/analytics/answer/1012264?hl=en

but our searching may not be compatible as they're looking for a query like `/search?q=` -- ours is JavaScript based and goes to, for example, https://publiclab.org/api/typeahead/all?srchString=coqui

But i added `srchString` and we'll see if it registers!

[2018-01-24 22:47] jywarren commented on #1184
For searches like https://publiclab.org/search/coqui i'm not sure how to do it although we may be able to add a "virtual" thingy to the results page like:

`analytics.js: ga('send', 'pageview', '/search/?q=keyword');`

according to the docs i linked to.

[2018-01-24 22:50] jywarren commented on #2100
The template for this section is here!

https://github.com/publiclab/plots2/blob/ceb7d05404b4619c7fa8cd8cae5e8215798cb02c/app/views/sidebar/_related.html.erb#L16

[2018-01-24 22:54] ebarry opened #2104 "PLANNING: Email notifications and subscriptions"
As we move our email-based communications off GoogleGroups and onto our website, our ability to subscribe to updates by topic and location becomes more important. Let's make a holistic design approach.

Breaking out sub-projects:

## Periodic Email Digests

- [x] #2027 - Display a page of "activity from past day" in a list at /subscriptions/digest -- this will help show what people would be gettin

[2018-01-24 22:57] jywarren commented on #1119
Great -- however, we can change that to `or view them in digest form` linked to `/subscriptions/digest` as soon as https://github.com/publiclab/plots2/pull/2058 is complete -- that implements the initial version of the weekly digest (although it's not emailed yet -- just displayed!)

[2018-01-24 23:00] #2081 closed

[2018-01-24 23:01] jywarren commented on #2099
Let's work on ensuring the dates are set to the original comment date first.

Then, we can suppress the emails by removing this line: https://github.com/publiclab/plots2/blob/ceb7d05404b4619c7fa8cd8cae5e8215798cb02c/app/controllers/comment_controller.rb#L161

Thanks, @steviepubliclab !!

[2018-01-24 23:03] jywarren commented on #213
that's a great issue to break off as a stand-alone -- maybe good for
first-timers!

On Wed, Jan 24, 2018 at 5:40 PM, Liz Barry <notifications@github.com> wrote:

[2018-01-24 23:05] jywarren commented on #2102
Hi, Liz, i'm going to tag this with `more-detail-please` and `design` because i think this may need discussion -- it's not ready for someone to take on just yet (i.e. we don't want someone to start removing these just yet!)

[2018-01-24 23:10] jywarren commented on #2097
Let's not worry about this just now. I can look in on the production server console and find out more, but we won't otherwise be able to debug this -- but thank you @namangupta01 !!!

[2018-01-24 23:21] jywarren commented on #2092
Hi, @namangupta01 can you link to where this ought to be written in the code? I think... the wiki controller?

Great catch, thank you!

[2018-01-24 23:33] jywarren commented on #1502
Actually i think we may not need to leave API-land -- the existing API is pretty robust these days. I'm curious @skilfullycurled how you generated those edges --

could they be generated fresh from a list of all tags and the nodes they've been used on? That is a reasonable query for us to generate, if cached.

We could add it to the API at https://github.com/publiclab/plots2/tree/master/app/api/sr

[2018-01-24 23:38] jywarren commented on #1502
Also you can share files at http://gist.github.com -- could that work?

[2018-01-24 23:38] ebarry commented on #1940
Regarding the map of people on /people, the point of having this is to show the worldwide breadth of people. I realize we do not want to load a live view of all people in the database, so how about using a static snapshot that's only updated once every so often, and has clustered markers for what first loads on the page.

Then, if someone wants to browse by map, we could add in different behaviors

[2018-01-24 23:40] jywarren commented on #1502
So, using the JSON generated from my query,

* in JavaScript, we could calculate the number of times the tags occurred together.
* how did you group/calculate "communities"?

[2018-01-24 23:45] ebarry commented on #208
Great! Let's do add a footer so that we can begin

The original issue of "add a note about possibly being contacted by admins/staff when people sign up" also came up in a different context this week where our research partners at UCD asked if they could contact people who have posted on the website. As staff, we need to let people know at signup that staff might contact them. So we still need to a

[2018-01-24 23:52] jywarren commented on #1502
FWIW there may be some even more efficient query like this but this is pretty decent, although doesn't return fully what's above:

[code]

[2018-01-24 23:58] ebarry commented on #1960
(HI @jywarren in the three column layout above it seems like you are proposing to use a righthand column for the tags -- is this the same thing you call a sidebar? Just trying to figure it out, thanks!)

[2018-01-25 00:00] jywarren commented on #1940
I think we face a similar issue to some of our tag visualization issues here. Even if we only update periodically, it could take down the site for a minute or two when that happens.

I'm trying to think of what kind of query could handle a couple thousand tags, though.

Liz, what do you think of loading a random set of ~100 people but as you zoom in, it'd refresh and load ~100-500 only inside your

[2018-01-25 00:01] ebarry commented on #2101
One option is to stop displaying the GoogleGroups on the dashboard. (It was a great try at integration which was nice for a long while until we started sending website notifications into the googlegroups, which we then re-print on the dashboard next to the actual content)
What do you think?

[2018-01-25 00:04] jywarren commented on #2101
👍 stop showing it. I'd prefer to spend time on that than to try to filter the list! Can you change the name of the issue accordingly if you agree? Thanks!

[2018-01-25 00:06] jywarren commented on #2101
And then tag this `help-wanted` ? The code for this is here:

https://github.com/publiclab/plots2/blob/74b91a5cb65b367ba2f6bfaf7ae3445c474a2da1/app/views/dashboard/_sidebar.html.erb#L26-L47

We could remove the entire tab, and get rid of the tabs, leaving just wiki edits, for now.

[2018-01-25 00:09] ebarry commented on #2101
Over in https://github.com/publiclab/plots2/issues/2076 i wrote:

Could we remove the entire tab of `wiki / discussion lists` and plan to add the wiki pages into the content selection dropdown as part of addressing #2076 ?

[2018-01-25 00:10] jywarren commented on #208
I deleted my comment and copied it into the issue body, and tagged!

If anyone wants to tackle this one, please jump in! Thanks!

[2018-01-25 00:11] jywarren commented on #1960
I was thinking a 2-column layout with the "sidebar" on the right, closer to Siyuan's mockup in this post:

https://publiclab.org/notes/siyuan/06-12-2017/a-questions-page-to-encourage-discussions-through-better-ux#c17461

But just trying out some ideas!

[2018-01-25 00:12] ebarry commented on #2076
ok we're handling this last idea in another issue, let's return to the brainstorm around **how we could show recent work in a collection of topics**. Sorry for the disruption!

[2018-01-25 00:15] jywarren commented on #2101
I think we could, but perhaps as a follow-up. The wiki listings are complicatedly entangled, because we move them into the main list on smaller screens. It's done in JS, here: https://github.com/publiclab/plots2/blob/7f018e64ba2cffa2f1c53826fc09015b6864ba83/app/assets/javascripts/dashboard.js#L77

So maybe we can start with the simpler item, or if you'd like we can try untangling that code more. L

[2018-01-25 00:17] jywarren commented on #2065
Hi, i see your PR but wouldn't this affect production while we are only interested in doing this for staging? Perhaps we need a bit more input from @icarito before moving forward on this. But thank you!

[2018-01-25 00:19] jywarren commented on #2081
Hi, @JoseGre1 solved it just recently! But there are a lot of issues open at https://publiclab.github.io/community-toolbox/#r=all and we'd love to have your help!

[2018-01-25 00:24] jywarren commented on #2088
This is true, and is a big feature... we may want to think through this a bit before tackling it. We'd want to use `user_selection` in this model:

https://github.com/publiclab/plots2/blob/master/app/models/user_selection.rb

similarly to how we use `tag_selection` in this one, to link users to tags as a "following" type behavior:

https://github.com/publiclab/plots2/blob/master/app/models/tag_sel

[2018-01-25 00:51] jywarren commented on #2091
Hi, I like this idea a lot -- we're actually working on a related set of issues in #2104, and to do this kind of thing we first need a kind of "digest" of followed content, which is the subject of #1119.

After that, we're going to try to send this digest each day by email in https://github.com/publiclab/plots2/issues/1584

We could definitely use your help with some of these! I wonder if you coul

[2018-01-25 00:52] jywarren commented on #2091
I also LOVE that you thought of this in parallel! To me, that means it's a really good idea!

[2018-01-25 00:53] jywarren commented on #1119
This is really getting broken up into pieces and solved!!! :-) 👍 🎈 💥

[2018-01-25 00:54] jywarren commented on #2079
That would be super! Thank you!!!

On Tue, Jan 23, 2018 at 4:04 PM, Biswesh Mohapatra <notifications@github.com

[2018-01-25 00:58] #919 closed

[2018-01-25 00:59] jywarren commented on #919
@pdhixenbaugh @ebarry this was just completed! :-) 🎈

[2018-01-25 01:00] #2063 closed

[2018-01-25 01:21] jywarren commented on #129
Great -- steps I can think of for starters are:

* [ ] making a `draft` status (maybe status = 3?) for nodes (not wiki pages), which makes it not visible to anyone but the author.
* [ ] a POST parameter like `draft=true` to bypass most of [the "create" method in the notes_controller](https://github.com/publiclab/plots2/blob/master/app/controllers/notes_controller.rb#L92) and which adds the `status

[2018-01-25 01:22] ebarry commented on #1413
I think it's a feature not a bug that /questions has a character limit and i propose that we use the opportunity to simplify the /question page and leave the /post template option to write a question fully featured. I wrote out some ideas here: http://pad.publiclab.org/p/ui

[2018-01-25 01:27] jywarren commented on #741
We just had this feature merged which is a bit similar -- https://github.com/publiclab/plots2/pull/2000

Maybe @ViditChitkara would like to try a version of that which proposes a change to a wiki page body text?

`[propose:text]This would be the suggestion and [replaces]This would be the replacement[/propose]` maybe???

But this would be harder because if you did a small section like `[propose:tex

[2018-01-25 01:29] jywarren commented on #741
Also adding: a way to see the suggestions, both in list mode (just the comments tab of the wiki page, maybe?) and inline (much harder!!)

[2018-01-25 01:30] jywarren commented on #741
We could actually insert the suggestions into the wiki text itself, rather than a comment... but we'd have to record who made the suggestion too. :-/ a tough nut to crack!

[2018-01-25 01:31] jywarren commented on #741
For now, perhaps we could just show the suggested changes in the comments, and show a notice that says `there are N suggested changes by X authors` at the top of the page.

[2018-01-25 01:38] jywarren commented on #2084
Great idea!!!

[2018-01-25 01:41] jywarren commented on #2069
That would be great @namangupta01 -- maybe we could use this: https://github.com/lingz/alphabetical_paginate

[2018-01-25 03:30] icarito commented on #2065
Thanks for your initiative.
The issue is staging is run in a container so we need a way for this container to access the mail service on port 25 at the docker host. So this issue is about configuring docker to allow access to the docker host (usually at IP 172.17.42.1 but need some checking).
Your idea of naming a host as smtp by default is good, although localhost is a more conventional choice fo

[2018-01-25 03:31] icarito commented on #2065
https://stackoverflow.com/questions/17770902/forward-host-port-to-docker-container documents a way to do this modifying the docker-compose.yml file.

[2018-01-25 04:33] #1736 closed

[2018-01-25 06:06] SidharthBansal opened #2107 "Questions are not listed on /questions"
### Please describe the problem (or idea)
I am not able to see the questions listed on https://publiclab.org/tag/tagname
![image](https://user-images.githubusercontent.com/20972099/35373192-7838000a-01c3-11e8-9fcd-41d4f7b42aef.png)
Also, see https://publiclab.org/questions/
None of the tabs is working --Recently asked, Recently answered, Popular ,Unanswered, Liked
![image](https://user-images.gith

[2018-01-25 10:16] biswesh456 commented on #70
May I take this? Is there any prior work done in it?

[2018-01-25 10:29] namangupta01 commented on #2092
@jywarren i tried for this bug in development environment and everything seems to be working fine but why it is not working on production.
There are many things that are working in development environment but not working in production.

[2018-01-25 12:19] biswesh456 commented on #179
Can I do any contribution regarding this issue? Or is it being done by others?

[2018-01-25 13:58] ebarry commented on #2069
Yay, glad people are excited!

[2018-01-25 14:07] ebarry commented on #1703
This is so great that this exists -- thank you so much!
Here's what the popup menu looks like for the largest tag `spectrometer` with 84 subscribers -- note that you have to scroll the entire page to see the full length of the pop-up window.
![subscribers-popup](https://user-images.githubusercontent.com/161439/35392064-977cad68-01ae-11e8-9ceb-200bb0011729.gif)

What will happen to this window when

[2018-01-25 14:15] ebarry commented on #2107
I have this same bug, but only sometimes!!!!!  Like, i couldn't see them yesterday, but this morning even without a restart of my computer, i can see them again! We have tried to squash this bug before as well, don't remember where....

[2018-01-25 14:19] ebarry opened #2110 "[DRAFT TO CONSIDER] create feature at top of /tags"
### Please describe the problem (or idea)

Over in https://github.com/publiclab/plots2/issues/179, I raised the issue of how do we help people subscribe to the right content when there are so many tags compared to the limited number of googlegroups that was easier to choose from. @jywarren suggested that we could create a feature:

This is going to be part of https://github.com/publiclab/plots2/is

[2018-01-25 14:36] ebarry commented on #179
hi @biswesh456 ! Thank you for writing in! I just spent some time cleaning up in this issue to figure out what's left.

The only outstanding part of this issue is that powertags are listed in the main tag view. That's mostly fine except when you get to `activity:____` or `question:____` which is essentially a relisting of all tags are big enough topics that people are writing activities and questi

[2018-01-25 14:39] ryzokuken commented on #2107
@publiclab/reviewers any idea why this must be happening? Local cache corruption?

@SidharthBansal could you confirm this by verifying that a certain question doesn't show up and try again after clearing your system cache? If the question shows up later, that could help us narrow down the possibilities.

[2018-01-25 14:41] ryzokuken commented on #2110
Hi Liz!
Had been wondering:
Does "just keeping a list of **featured tags** that show up at the top of the `/tags` page" suffice?

[2018-01-25 14:48] ryzokuken commented on #2102
I agree that we should probably remove the text "Dashboard", it's kinda repetitive/redundant. I mean, the user knows:

1. The URL of the current page is `publiclab.org/dashboard`
2. They clicked on a link that most probably said "dashboard" to get here. (Okay, they were probably redirected here from the site root)

Also, we have a huge banner occupying vertical screen space which conveys an import

[2018-01-25 14:49] biswesh456 commented on #179
Thank you for your reply @ebarry. I would do as you have suggested.

[2018-01-25 14:50] ryzokuken commented on #2101
@ebarry @jywarren Should I proceed and just remove the entire section, or is there some catch here?

[2018-01-25 15:03] erciheli opened #2111 "error"
### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resol

[2018-01-25 15:10] ebarry opened #2112 "Update "read more" link on tag pages to "learn more on the wiki page""
### Please describe the problem

Our "read more" link on the tag pages uses language that Facebook uses as "expand post on same page" but we use it to load an entirely new page which confuses the user, as articulated by our pro-bono UI consultant in https://docs.google.com/document/d/1796lMEwSjUawamKIYebbsSikFBBboVK5lZ6jZFKJLXI/edit

With the "read more" text, people who are more familiar with Fac

[2018-01-25 15:11] ryzokuken commented on #2111
@erciheli Could you give us any more information? What happened?

[2018-01-25 15:13] ryzokuken commented on #2112
Did I add that link? 😛

Anyway, I think I could change the name of the link to something that better describes the action and add a *real* "Read More" link if that's all what is needed.

[2018-01-25 15:17] ryzokuken commented on #2112
Indeed it was I who added the deceptive link, hindsight is 20/20. Will make the required changes.

<img width="1666" alt="screen shot 2018-01-25 at 8 45 49 pm" src="https://user-images.githubusercontent.com/13121330/35395603-d8336e2a-0210-11e8-8ff0-e64d0bf96009.png">

[2018-01-25 15:18] biswesh456 opened #2113 "Login through Oauth"
Please describe the problem (or idea):

It is always better to use a google or facebook oauth to log in instead of having a separate account for various sites. So I propose to add google, facebook oauth to publiclabs. I would also like to work on it on my own.

Can I have any suggestions or advice?

[2018-01-25 15:20] SidharthBansal commented on #2086
Thanks @seafr It helped a lot in solving the issue.

I found that the dangerfile says that if any commit has message containing #some_number than that will create no message. But if the person has written the issue number in the pr_body then that does not work.
So, @jwarren shall I change
https://github.com/publiclab/plots2/blob/6051774af117bd32c2af944a23df097d0b2ebaf5/Dangerfile#L5-L7
to
[code]

[2018-01-25 15:27] jywarren commented on #2086
Awesome! Great catch.

On Jan 25, 2018 10:21 AM, "Sidharth Bansal" <notifications@github.com>
wrote:

[2018-01-25 15:32] jywarren commented on #1703
What about showing 10 and having a link that says "see all 100" which leads
to a new page like `/tag/followers/_tagname_`?

On Jan 25, 2018 9:07 AM, "Liz Barry" <notifications@github.com> wrote:

[2018-01-25 15:33] SidharthBansal commented on #683
@jwarren we need to have a developers account for the facebook login. So that only the developers can access that account. For that shall I create a fake account at developers.facebook or you will??

[2018-01-25 15:39] jywarren commented on #2077
Solved in https://github.com/publiclab/PublicLab.Editor/pull/121#merged-event !!

[2018-01-25 15:39] #2077 closed

[2018-01-25 15:39] SidharthBansal commented on #683
@jwarren I have started working on the project, I am currently working with the user_sessions_controller once I will be manage to add the new user login there I will make a pr. Also, the integration of the users with the facebook login has to be made in that step so I think the facebook login cannot be subdivided.
I was thinking of the final login system with all oath as we have on codechef.com
Or

[2018-01-25 15:48] ryzokuken commented on #683
@SidharthBansal you can make dummy applications on Facebook, GitHub, Google, Twitter, etc to make and test the feature. Make the codebase read the credentials (`clientId`, `apiKey`, `accessToken` etc) from environment variable.

Later on, once this is deployed on production, official apps will be made and the environment variables will be set on production accordingly.

TL;DR: The application for

[2018-01-25 15:50] ryzokuken commented on #2113
I guess a lot of people have shown interest in working on OAuth lately. You need to coordinate with the rest of the community in order to make sure that others aren't working on the exact same thing.

[2018-01-25 15:52] ryzokuken commented on #2100
@publiclab/reviewers can anyone volunteer to make this an FTO? It's pretty simple:

1. Delete the template partial.
2. Remove this line of code.

@jywarren did I miss anything?

[2018-01-25 15:53] jywarren commented on #2113
We'd love your help, possibly with one of the subsequent integrations --
Twitter, or something? You can catch the latest here -- thanks for pitching
in!

https://github.com/publiclab/plots2/issues/683

On Thu, Jan 25, 2018 at 10:50 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2018-01-25 15:53] #1941 closed

[2018-01-25 15:53] jywarren commented on #2100
+1!!!

On Thu, Jan 25, 2018 at 10:52 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2018-01-25 15:54] biswesh456 commented on #2113
Ya sure would add that also.

[2018-01-25 15:57] #2084 closed

[2018-01-25 15:57] jywarren commented on #2113
Super :-)))))

[2018-01-25 15:57] #2113 closed

[2018-01-25 16:04] SidharthBansal commented on #2100
@ryzokuken, @jywarren I will make it soon

[2018-01-25 16:12] ebarry opened #2115 "Add tooltips to all wiki bar icons"
### Please describe the problem

Not all icons at the top of wiki pages have the nice tooltips that that the "use in-line editor" and the "read comments" icons have. Let's add tooltip text to all icons on the wiki bar.

![wiki-bar](https://user-images.githubusercontent.com/161439/35397792-5ff6e664-01be-11e8-83cc-5b33c30217e8.gif)

* `Edit this wiki page` for the regular edit pencil
* `Delete this

[2018-01-25 16:22] ebarry commented on #2077
awesome!

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Thu, Jan 25, 2018 at 10:39 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-01-25 16:49] ryzokuken commented on #2100
@SidharthBansal Awesome! As soon as you do, link back to it in here and we will close it.

[2018-01-25 17:20] ebarry commented on #2037
This would be really helpful. I am trying to sort by **recently asked but unanswered** questions, and the unanswered tab gives me results from 4 years ago.

[2018-01-25 17:22] ebarry commented on #2101
Reading through @jywarren's comments, i think just removing the tab for "Discussions" would be great for now. We'll deal with the wikis later.

[2018-01-25 17:24] SidharthBansal commented on #2107
@ryzokuken  yeah now it is working fine after clearing the browser's cache

[2018-01-25 17:27] ryzokuken commented on #2107
Then it probably has something to do with the browser cache

@publiclab/reviewers let's see if we can figure out how to manage our cache in a better way?

[2018-01-25 17:40] namangupta01 commented on #2075
@jywarren Is this rails 2.3 or ruby 2.4?

[2018-01-25 17:40] #2072 closed

[2018-01-25 17:43] sagarpreet-chadha commented on #1958
Also ,  [https://gist.github.com/jywarren/055bf4471dbdfff6a1ebd21bf15c3c8f](https://gist.github.com/jywarren/055bf4471dbdfff6a1ebd21bf15c3c8f) file shows following errors according to [https://validator.w3.org/feed/check.cgi](https://validator.w3.org/feed/check.cgi) .

<img width="1396" alt="screen shot 2018-01-25 at 11 08 35 pm" src="https://user-images.githubusercontent.com/14952645/35403233-1fc

[2018-01-25 17:47] SidharthBansal opened #2117 "Remove link to /lists from sidebars"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-01-25 17:48] ryzokuken opened #2118 "Replace the bower+rails asset pipeline with yarn+webpack"
### Please describe the problem (or idea)

Bower has been officially deprecated for almost a year now, and people in the frontend world have slowly drifted away from the world of bower, gulp-based asset management and `<script>` tags to yarn, webpack and ES6 `import`s respectively. It would be only prudential for us to upgrade our frontend asset management.

## List of Resources:

* https://github

[2018-01-25 17:51] sagarpreet-chadha commented on #1958
Also @jywarren , i was thinking of not using the IFTTT recipes as these are not very flexible . I was thinking of using [twitter gem](https://github.com/sferik/twitter) , it has a very easy function `client.update()` to post on twitter . And we can post on twitter almost instantly (at the same time when the author post on publiclab.org site) and hence not waiting for IFTTT recipe to to run . Howev

[2018-01-25 17:52] ViditChitkara commented on #2115
The tooltips need to be added for:-
https://github.com/publiclab/plots2/blob/c58808bfbde107d7cbde157100d0bf864544b950/app/views/wiki/_header.html.erb#L59
https://github.com/publiclab/plots2/blob/c58808bfbde107d7cbde157100d0bf864544b950/app/views/wiki/_header.html.erb#L73
https://github.com/publiclab/plots2/blob/c58808bfbde107d7cbde157100d0bf864544b950/app/views/wiki/_header.html.erb#L81
https://gi

[2018-01-25 18:08] williamlhelton commented on #2117
Hello, I am a first timer.  I'd like to try to fix this issue!

[2018-01-25 18:12] ryzokuken commented on #2117
@williamlhelton Sure! Go ahead!

If you face any trouble, feel free to ask here or in our chatroom.

[2018-01-25 18:13] #2100 closed

[2018-01-25 18:14] SidharthBansal commented on #2100
Issue #2117 created

[2018-01-25 18:20] sagarpreet-chadha commented on #1502
Hi , i have just few questions here ,
1.) If 2 tags belong to same node , they have an edge between them ?
2.) The different colors is for different types of node like questions , notes , research-notes , etc . ?

Thank you 😄 !

[2018-01-25 18:26] williamlhelton commented on #2117
Hi, I started a pull request.  I didn't know how to do the check boxes on the automated message though.

Also for the change itself, I deleted exactly the line described in the issue, but it was surrounded by two </ br> tags.  Should I have removed one of those as well?

[2018-01-25 18:28] sagarpreet-chadha commented on #1502
And i also agree with not leaving the API -land :)

[2018-01-25 18:32] ryzokuken commented on #2117
@williamlhelton Don't be, it's okay to make mistakes. Also, you could just remove the file in a second commit and pushed that one alongside the first commit. There's no need to close the PR and make a new one.

[2018-01-25 18:40] williamlhelton commented on #2117
Hi.  I think I'm ready to make a pull request again.  I got a message saying:
Your pull request is on the master branch. Please make a separate feature branch

The instructions above only say 🔀 Start a Pull Request.

Should I make a separate feature branch for my Pull Request?  If so, how do I do that?

[2018-01-25 18:42] namangupta01 commented on #2112
@ebarry we can use js request to implement this instead of html request easily! I would create a pr soon.

[2018-01-25 18:49] ryzokuken commented on #2117
Yes, it is advisable to create a separate branch for your changes to avoid the possibility of your master ever going out of sync with our master branch. If you are using the command like to manage git, just enter `git checkout -b <branchname>` to make a new branch. Otherwise, you will have to look up the documentation of the git client you are using.

[2018-01-25 18:57] Apoorva-13 commented on #2115
Hey! Can I take up this issue?

[2018-01-25 18:58] namangupta01 commented on #2115
@Apoorva-13 Yes, go ahead! Feel free to ask if you need some help!

[2018-01-25 19:06] jywarren commented on #2075
Oops, haha -- you're right! Fixed.

[2018-01-25 19:10] jywarren commented on #2112
Hi, I want to be cautious here -- @ebarry are you suggesting we load the whole wiki page inline here? Could we consider simpler approaches to the problem you describe, such as:

* styling the link as a button
* using a `on external link` icon from FontAwesome
* changing the text from `Read more` to something else?

https://github.com/publiclab/plots2/blob/c58808bfbde107d7cbde157100d0bf864544b950/a

[2018-01-25 19:11] jywarren commented on #2118
Hi, this would be great -- could you merge this with #1215 and outline some potential next steps? Thanks!

[2018-01-25 19:11] williamlhelton commented on #2117
Hi, I am very confused.

So I am ready to make a Pull Request with my changes.  My changes are in a fork (williamlhelton/plots2).

![](https://i.imgur.com/v1pzLV4.png)

I can not create a branch on publiclab.  I can create branches on my own fork but I don't see what the difference is between my changes being in "master" or something else.  I think I should be merging into a branch on publiclab/pl

[2018-01-25 19:12] skilfullycurled commented on #1502
Arg!  Okay.  Let's not pile on, please.  No one wants to stay in API-land more than I do (well, perhaps with the exception of @ebarry ).  In my understanding the building of API-land had all but been delayed indefinitely due to concerns over website sluggishness ([see extension of conversation here](https://publiclab.org/questions/tommystyles/10-20-2017/need-your-feedback-on-tag-pages#answer-556-c

[2018-01-25 19:13] jywarren commented on #2110
We could follow a similar approach to https://github.com/publiclab/plots2/issues/208 but inserting the feature code at the top of this template:

https://github.com/publiclab/plots2/blob/master/app/views/tag/index.html.erb

with the feature name `featured-tags` -- and then we can manage that via the features system!

[2018-01-25 19:21] ebarry opened #2120 "Calculate "answered" rate for questions posted in a certain time period, by tag"
THIS ISSUE IS PARTIALLY COMPLETE THANKS TO @cesswairimu -- PLEASE READ ALL THE WAY THROUGH TO SEE WHAT IS REMAINING:

### What problem could this idea solve?

How can we know how many questions posted on publiclab.org are answered? Related: over in https://github.com/publiclab/plots2/issues/2037 we're working on sorting the display of unanswered questions by recency of posting. **But what is our o

[2018-01-25 19:26] jywarren commented on #1502
Oops, sorry @skilfullycurled I hadn't remembered your last comment on that thread -- https://publiclab.org/questions/tommystyles/10-20-2017/need-your-feedback-on-tag-pages#answer-556-comment-17709 -- where you suggested:

1. only running on the top 250 tags
2. caching weekly

I'll ping in back over there, but I think that with all the work on the API, code cleanup and outreach, we could do a daily

[2018-01-25 19:26] ryzokuken commented on #2117
@williamlhelton you should make your changes in a branch (other than master, of course) in your own repo, and make a PR from that branch to **our** master.

The difference is that if the changes are merged in an uneven manner (a lot of people make PRs for the master branch each day, so it is unlikely that yours will get merged the first, right?), your master branch will go out of sync with our mas

[2018-01-25 19:30] ViditChitkara commented on #741
That's quite a nice idea! Let's break this feature into the following :-
* [x] A syntax which could be used to identify the proposed changes and replacements (e.g `[propose:text]This would be the suggestion and [replaces]This would be the replacement[/propose]` as suggested by @jywarren). The comment body will have something like:-

The 'here' button would highlight the sections to be replaced alo

[2018-01-25 19:32] ryzokuken commented on #2112
@jywarren I'd rather believe that she intends us to:

1. Change the text of the link that currently says "Read More" to perhaps something like "Visit Wiki Page" as it seems kinda deceptive. (Principle of least surprise, remember?)

2. If the text is too long, clip it to remain short and expand it upon the user clicking a *real* "Read More" button.

[2018-01-25 19:32] skilfullycurled commented on #1502
@jywarren I'll need to get back to you on some of your questions.  I'll post my jupyter notebook later.  In the meantime, see [here](https://github.com/stared/tag-graph-map-of-stackexchange#beta-sites-and-other-tags) for a brief explanation of how the graph is created from the tag pairs.  For exact code, see [here](https://github.com/stared/tag-graph-map-of-stackexchange/blob/master/tag_bundle_pro

[2018-01-25 19:32] ryzokuken commented on #1215
## List of Resources:

* https://github.com/rails/webpacker
* http://nithinbekal.com/posts/yarn-rails/
* https://sheerdevelopment.com/posts/using-yarn-with-rails
* http://samuelmullen.com/articles/replacing-the-rails-asset-pipeline-with-webpack-and-yarn/

[2018-01-25 19:33] #2118 closed

[2018-01-25 19:33] ryzokuken commented on #2118
@jywarren Closing this and adding relevant information to #1215

[2018-01-25 19:37] jywarren commented on #1502
So as not to overwhelm the publiclab.org discussion with lots of data, here's a link to the format of data TagOverflow uses:

https://api.stackexchange.com/2.1/tags/python/related/?site=stackoverflow&key=of3hmyFapahonChi8EED6g((&pagesize=16

It makes like 15 calls to fetch what tags relate to a given tag (in the above example, "python")

[2018-01-25 19:38] jywarren commented on #1502
So the difference between that and the data I generated above is that my query lists the node ids, but hasn't used them to establish "relatedness". But of course @skilfullycurled's Jupyter notebook does this! Cool, thanks for sharing!

[2018-01-25 19:41] ryzokuken commented on #2110
@jywarren I'll take a look at both of these. I am new to features and everything, so I'd have to do a little research. Is there some documentation you could point me to?

[2018-01-25 19:43] jywarren commented on #741
This sounds good - maybe one more; some filter which, after detecting a proposed replacement, checks if there is more than 1 instance of the proposed `before` text in the page body. If there's more than one, then the proposal is ambiguous, and the notice could say this and warn that `accepting it may result in multiple replacements`?

Also, after accepting a replacement, we could show an alert say

[2018-01-25 19:44] jywarren commented on #2112
I'm ok with either, just suggesting that an easier fix could be 1), in case
that's preferred, but I defer to @ebarrry!

On Thu, Jan 25, 2018 at 2:32 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2018-01-25 19:47] jywarren commented on #2120
This sounds great -- it seems it could be broken into a few separate issues, one for each of the pages Liz points to. Thanks!

For the /questions pages, it could be for "all time" while on the "stats/range" page, we could use the `start` and `end` time periods from that page to set the range:

https://github.com/publiclab/plots2/blob/c58808bfbde107d7cbde157100d0bf864544b950/app/views/stats/range.h

[2018-01-25 19:51] #2086 closed

[2018-01-25 19:54] ryzokuken commented on #2120
This sounds like a nifty addition indeed, and I would love to add this feature to the codebase.

@jywarren @ebarry help me make a list of things to do/add?

[2018-01-25 19:55] jywarren commented on #2110
we need better docs, unfortunately. But that linked issue shows how to set
one up, and then admins can edit them at the route /features -- they cache
and the cache is flushed each time you save the feature. They are nodes!

On Thu, Jan 25, 2018 at 2:41 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2018-01-25 19:56] ryzokuken commented on #2120
# TODO

- [ ] Display the stats on `/questions`
- [ ] Use a starting and ending datepicker
- [ ] Display the percentage on `/range` pages.
- [ ] Also display a percentage for a particular tag on the tag's tag page.

[2018-01-25 19:56] jywarren commented on #2107
wow, do we have any code that puts things in cache? This page used to use
cookies, but I believe we removed that code.

https://github.com/publiclab/plots2/tree/master/app/views/questions/index.html.erb

https://github.com/publiclab/plots2/tree/master/app/controllers/questions_controller.rb

Thanks for looking into this!

On Thu, Jan 25, 2018 at 12:27 PM, Ujjwal Sharma <notifications@github.com>
w

[2018-01-25 19:58] jywarren commented on #2120
Perhaps the gist could be made into a unit-tested feature of Node -- like,
`Node.answered(start, end)` , which defaults to no time bounds?

On Thu, Jan 25, 2018 at 2:54 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2018-01-25 19:58] ryzokuken commented on #2110
That's helpful! I would try to make sense of both of these issues as soon as possible and submit a patch.

[2018-01-25 19:59] jywarren commented on #2101
...omnious... :-P

On Thu, Jan 25, 2018 at 12:22 PM, Liz Barry <notifications@github.com>
wrote:

[2018-01-25 20:00] ViditChitkara commented on #741
Cool! That seems to complete the feature checklist :-+1. I'll be really happy to contribute to this!!!

[2018-01-25 20:01] jywarren commented on #2092
that is odd. Can you think of some test data we could add which would bring
this error to life in the tests? Good tests are based on good test fixtures
data... i hope we could reproduce this!

On Thu, Jan 25, 2018 at 5:29 AM, Naman Gupta <notifications@github.com>
wrote:

[2018-01-25 20:03] skilfullycurled commented on #1502
@sagarpreet-chadha, I posted a question that asked and answered your questions above:

https://publiclab.org/questions/bsugar/01-25-2018/how-was-the-tag-graph-visualization-made

I'm not trying to be "passive aggressive" about my request, but I think people could benefit from this aspect of the conversation being public.  So I guess that makes it "aggressive aggressive". ; )

All kidding aside, ha

[2018-01-25 20:03] jywarren commented on #70
We haven't much looked at this!

I think we could start by thinking about ways to think about tags to
follow. What if we made a function of the User model which displayed all
the tags on posts you've posted, liked, commented on or answered.

That would quickly become a big list. So take the most recent 10 and show
them on the /subscriptions page in the sidebar, saying "you've interacted
with these

[2018-01-25 20:06] #1983 closed

[2018-01-25 20:08] jywarren commented on #741
amazing! 👍

[2018-01-25 20:16] williamlhelton commented on #2117
Hi.  Okay, that makes sense.  I was confused about how branches worked.

I think I did it right this time.  I made a Pull Request from a branch in my repo to your master.

[2018-01-25 20:28] jywarren commented on #2110
awesome.

On Thu, Jan 25, 2018 at 2:58 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2018-01-25 22:34] #2117 closed

[2018-01-25 22:46] jywarren commented on #2110
Just realized there's some documentation here! https://github.com/publiclab/plots2/blob/master/doc/DATA_MODEL.md#nodes

[2018-01-26 00:22] weatherpattern opened #2122 "Error page when trying to reset my password"
### Please describe the problem (or idea)

I am trying to reset my password. I entered my email address and got the reset password email. When I click on the link, I get this message:

[code]

I am expecting to see the reset password page.

### Please show us where to look

https://publiclab.org/reset/

### What's your PublicLab.org username?

weatherpattern

### Browser, version, and operating sy

[2018-01-26 00:37] jywarren commented on #2122
Thank you for reporting! We'll take a look and see what we can do!

Folks -- the code is here: https://github.com/publiclab/plots2/blob/master/app/controllers/users_controller.rb#L192-L230

Not sure exactly what's going on, but I do notice we have tests for this, so not sure what's going on:

https://github.com/publiclab/plots2/blob/09c9241b8e304e8e60f2264503173d312114e51f/test/functional/users_co

[2018-01-26 01:23] ebarry commented on #2112
Yes, #1 as @ryzokuken details is what i meant, just change the text on the link!

Thank you @namangupta01 ! let's use js somewhere cool elsewhere!

[2018-01-26 01:39] #2101 closed

[2018-01-26 02:15] jywarren commented on #1940
Let's move forward with this plan of showing a max of 100 (most recent) people for a given viewport!

[2018-01-26 05:06] siaw23 opened #2125 "Ruby Style Guide [Rubocop]"
Plots2 has a `.rubocop_todo.yml`. Is someone willing to take up the following to fix them? If you need help with something please ask and we'll be happy to help.

For starters the following can be fixed first.

[code]

Once you're done with your changes, please run `rake test` and `rubocop`. Create a PR when all passes.

[2018-01-26 05:22] namangupta01 commented on #2125
i'll fix them all

[2018-01-26 05:33] namangupta01 commented on #2125
`Inspecting 102 files
.C....W..W......W.......WCW....W./Users/namangupta/.rvm/gems/ruby-2.3.4/gems/parser-2.4.0.2/lib/parser/builders/default.rb:1575: warning: regular expression has ']' without escape: /\[propose:title](.*?)\[\/propose]/
/Users/namangupta/.rvm/gems/ruby-2.3.4/gems/parser-2.4.0.2/lib/parser/builders/default.rb:1575: warning: regular expression has ']' without escape: /\[propose:ti

[2018-01-26 06:06] ryzokuken commented on #2112
I'll hop on to this one in a jiffy.

[2018-01-26 06:16] siaw23 commented on #2125
awesome, go for it! :)

[2018-01-26 06:36] namangupta01 commented on #2125
i am getting offences in public/lib but i'am not sure if we should correct it or not ? or should i simply add this folder in `.rubocop.yml`

[2018-01-26 07:52] sagarpreet-chadha commented on #1940
Okay ! Will start work on this as soon as we get this PR #2044 correct 👍  !

[2018-01-26 09:11] namangupta01 opened #2128 "Public Lab main page not accessible"
### Please describe the problem (or idea)

While accessing main page of publiclab getting an error
![screen shot 2018-01-26 at 2 36 47 pm](https://user-images.githubusercontent.com/20709985/35432689-d68a3608-02a6-11e8-94a6-e16eb2a3e425.png)

[2018-01-26 09:14] SidharthBansal commented on #2128
I am getting this for many pages

[2018-01-26 09:52] namangupta01 commented on #2125
In line : https://github.com/publiclab/plots2/blob/6b4726820e26cecf1acf379b2b62412928083bfa/app/services/typeahead_service.rb#L91
    unless srchString.nil? || srchString == 0
What does `srchString == 0` suppose to do here?

[2018-01-26 10:10] siaw23 commented on #2125
`unless srchString.nil? || srchString == 0` that line simply means if `srchString` is not nil (in other words if there's actually a `srchString`) OR if `srchString` is acctually the figure `0`, do the following

[2018-01-26 10:14] namangupta01 commented on #2125
so we are comparing string with a integer here? And i have open a pr for this issue can you please have a look at that. And i have also included public/lib files to exclude from rubocop offences because i was thinking it is not good to edit public/lib files what do you say?

[2018-01-26 10:16] siaw23 commented on #2125
for now i have left public/lib out until we fix all the offences, we'll enable the rest one by one while we progress with this.

[2018-01-26 10:19] namangupta01 commented on #2125
I don't get why we are comparing with 0, i mean what is the need of this. Can any one please tell me? @siaw23 @ryzokuken @jywarren @publiclab/reviewers

[2018-01-26 10:21] namangupta01 commented on #2125
@siaw23 pr is #2127

[2018-01-26 10:39] ryzokuken commented on #2125
I agree with @siaw23, I guess they wanted to check if its length is equal to zero and mistyped. If they wrote tests for each border case, then looking into those will give you a good idea of what they really intended.

[2018-01-26 10:40] ryzokuken commented on #2125
P.S. @david-days wrote this part 2 years ago.

[2018-01-26 10:43] namangupta01 commented on #2125
@ryzokuken i didn't find any tests. Can you please tell me where can i find it?

[2018-01-26 11:02] ryzokuken commented on #2125
That part must be covered somewhere. Maybe try using CodeCov to find out the tests written against it?

[2018-01-26 11:11] ryzokuken commented on #2128
Me too, @icarito any availability issues?

<img width="1680" alt="screen shot 2018-01-26 at 4 40 09 pm" src="https://user-images.githubusercontent.com/13121330/35437258-9ed38442-02b7-11e8-83e2-2c45f5f4fb37.png">

[2018-01-26 12:08] sagarpreet-chadha commented on #2128
Its accessible only if you are not logged in (try incognito mode) !

[2018-01-26 12:17] biswesh456 commented on #683
I am extremely sorry that I did not look at the conversations in the issue. Hence I created a pull request. @SidharthBansal you might have a look at the PR #2129.  I would also like to help in contributing to the project!!!

[2018-01-26 12:37] biswesh456 commented on #70
Well thats a great idea. Can we keep two lists - one with recent ones and one with most frequently visited ones?

[2018-01-26 12:50] icarito commented on #2128
Checking this...

On 26/01/18 07:08, Sagarpreet Chadha wrote:

[2018-01-26 13:04] icarito commented on #2128
When I login in production, I get in logs:
[code]

[2018-01-26 13:20] icarito commented on #2128
Not sure what could be wrong here, @jywarren I did `apt-get upgrade` last night and didn't notice any issues.

[2018-01-26 13:24] jywarren commented on #2128
https://github.com/binarylogic/authlogic/issues/216 ?

[2018-01-26 13:25] icarito commented on #2128
Whoa that is an old one, 2010? 😕

[2018-01-26 13:26] seafr commented on #2086
You're welcome @SidharthBansal

[2018-01-26 13:29] jywarren commented on #2128
OK, i restarted nginx and we're back up

[2018-01-26 13:31] jywarren commented on #2128
I think this is most likely related to `apt-get upgrade` somehow since there are no other changes in the past week... very odd. Closing for now but let's do a little investigating to see -- and keep an eye out!

[2018-01-26 13:31] #2128 closed

[2018-01-26 13:32] SidharthBansal commented on #2092
I have encountered the same behavior while solving the #1930
They are getting sorted correctly in the development environment according to the name but in the production it is not working @jywarren
I will also try to have tests that can solve these similar issues

[2018-01-26 13:59] seafr commented on #2125
`srchString == 0` is probably meant to check if `srchString` is blank as it is a url param (see `test/functional/search_api_test.rb` and `test/functional/typeahead_api_test.rb`)

[2018-01-26 14:22] ryzokuken commented on #683
@biswesh456 We'd love to have you contributing to the project. Let's use this issue to span out the entire plan and break it into smaller, self-contained tasks that multiple people could preferably look into in parallel.

[2018-01-26 14:24] ryzokuken commented on #2125
Good catch! That's probably it. @namangupta01 what was the original problem though? What was wrong with that particular line of code?

[2018-01-26 14:28] namangupta01 commented on #2125
@ryzokuken It's an rubocop offence
![screen shot 2018-01-26 at 7 57 30 pm](https://user-images.githubusercontent.com/20709985/35444060-46601dae-02d3-11e8-918e-e1417ddcbb09.png)

[2018-01-26 14:32] ryzokuken commented on #2071
@jywarren strangely, tags don't show up for me. Anything wrong?

<img width="1680" alt="screen shot 2018-01-26 at 8 01 30 pm" src="https://user-images.githubusercontent.com/13121330/35444222-d0001f96-02d3-11e8-9ec6-c1d8853674d4.png">

[2018-01-26 14:33] ryzokuken commented on #2125
Indeed it is! That's because there's a method for this which happens to be much more readable. Switch to that method instead, please.

[2018-01-26 14:35] namangupta01 commented on #2125
Including that method is causing test failure . See pr #2127

[2018-01-26 14:40] ryzokuken commented on #2125
Try using `your_string_variable.empty?` instead.

[2018-01-26 14:42] namangupta01 commented on #2125
Oh! thank you @ryzokuken I will update it!

[2018-01-26 14:50] ryzokuken commented on #2125
@seafr if the param isn't passed at all, it is `nil`. If it is, but there's no value, it's probably empty. So I think @david-days wanted to check if it's `length` was zero and used this accidentally, thus trying to compare a string variable to a numeric literal.

[2018-01-26 15:47] seafr commented on #2125
@ryzokuken yes, this is what I think, else comparing a string to an integer - as @namangupta01 mentioned above - doesn't make sense.
As for the .empty? method, what do you think of using Rails' .blank? method, just in case a string of white spaces is passed?

[2018-01-26 16:25] ryzokuken commented on #2125
Hmm, that does make sense. Searching a blank (whitespace-only) string doesn't make sense.

@namangupta01 while this specific example will work better with `.blank?`, please use the best possible method for each one of the cases, I will look into them while reviewing your PR.

[2018-01-26 16:59] #2112 closed

[2018-01-26 17:00] #2079 closed

[2018-01-26 17:02] #928 closed

[2018-01-26 18:13] ina-mastabba commented on #2029
Thanks for reaching out to first-timers.  I would like to resolve this issue.  It's not clear to me whether or not @kellyjacksonio is still working on it.  If so maybe I could help?

[2018-01-26 18:33] jywarren commented on #2064
OK, in stable, we're seeing the typeahead search system not running normally when in a turbolinks page, and found some more JavaScript event changes to make, which i did in #2132. But that seems to have broken some other events.

I think this needs more work, and we'll leave all this code in but disable it in production (#2133) for now. Don't be discouraged! There are lots of things we can do to t

[2018-01-26 19:25] biswesh456 commented on #70
So @jywarren should I start looking at how to implement the idea? Or further discussion is required?

[2018-01-26 20:07] biswesh456 commented on #70
Hey @jywarren just noticed PR #2058. Doesn't it do what we were discussing about?

[2018-01-26 21:02] jywarren commented on #683
That's all right -- @SidharthBansal can you open a PR even if you have just started, and then perhaps @biswesh456 can use that as a basis for work on an additional service -- or can help you make progress on the started PR? Let's break this up and work together, folks! I'm so glad you're all interested. We really badly need this feature! :-)

👍

[2018-01-26 21:07] jywarren commented on #2111
Hi @erciheli anything else you can tell us? Thanks for reporting!

[2018-01-26 21:14] jywarren commented on #2071
It looks like tags are invisible except to admins and the person themselves. Can we change that on these lines:

https://github.com/publiclab/plots2/blob/130d6f8e1c177a062f5a0cc568cd85e348a2d3b4/app/views/users/profile.html.erb#L237-L239

The tag input form should be invisible, but the tags themselves shouldn't be. I think that may take some tweaking of this partial template as well, which unfortu

[2018-01-26 21:14] jywarren commented on #2071
Maybe that should be its own issue!

[2018-01-26 21:16] jywarren commented on #2029
Hi, @ina-mastabba -- maybe you could try picking up where @kellyjacksonio left off, in #2048? Otherwise there are plenty of issues to go around!

https://publiclab.github.io/community-toolbox/#r=all

Thanks!!

[2018-01-26 21:20] SidharthBansal commented on #683
@biswesh456 no problem at all, we can work on two different logins I have started on the fb. You may start with the twitter. I am glad to see your PR.
We are working in collaboration, so it is great idea to divide things and do them together. :smile:
I saw your pr @biswesh456, please try to break it into parts that will help a lot
@jywarren I have opened the pr

[2018-01-26 21:22] jywarren commented on #1940
awesome!

On Fri, Jan 26, 2018 at 2:52 AM, Sagarpreet Chadha <notifications@github.com

[2018-01-26 21:27] jywarren commented on #70
Close! Actually that displays topics you have already subscribed to. This
issue tries to list out topics you might WANT to subscribe to. Make sense?

On Fri, Jan 26, 2018 at 3:07 PM, Biswesh Mohapatra <notifications@github.com

[2018-01-27 05:40] 500swapnil commented on #683
@jywarren I was writing my GSoC proposal these days and my project was social media integration of which the oauth login is a part along with other features like Twitter replies n all. But I see work has started on this already. Is there anyway I can help with this now and then continue on this as my GSoC project? I could perhaps help with Google login?

[2018-01-27 06:28] ryzokuken commented on #683
@500swapnil the way things have been progressing, and keeping in mind how this is a priority feature at the moment, I personally think it's very likely that this would be wrapped up before the summer begins, but if something is left by then, you should feel free to make a proposal regarding that.

[2018-01-27 07:19] ryzokuken commented on #2071
It should be! Let me make one really quick.

[2018-01-27 07:24] ryzokuken opened #2138 "Make tags visible to other users"
### Please describe the problem (or idea)

The profile tags are currently only visible to the user themselves or to admins. The tags should be visible to everyone (@jywarren or perhaps only registered users?). While the "add tags" input should maintain its current visibility status (owner or administrator).

### Please show us where to look

https://publiclab.org/profile/warren

https://github.com

[2018-01-27 08:30] namangupta01 opened #2140 "Anchor tag is not closed"
Anchor tag needs to be closed in :

https://github.com/publiclab/plots2/blob/097605afe74fa63f6fa5c3de3fbd081fa0d2e2c1/test/functional/comment_controller_test.rb#L351

https://github.com/publiclab/plots2/blob/ac385a3a4f9773efe2a14ea977c0b7d217d5d70f/test/functional/comment_controller_test.rb#L360

[2018-01-27 08:40] SidharthBansal opened #2141 "Error in flash messages condition"
### Please describe the problem (or idea)
The condition inside the if will give error if any of the @node or @revision is nil

We need to tackle this in separate if-else loop
### Please show us where to look
https://github.com/publiclab/plots2/blob/097605afe74fa63f6fa5c3de3fbd081fa0d2e2c1/app/views/editor/rich.html.erb#L221-L223
https://publiclab.org/ ...

### What's your PublicLab.org username?
b

[2018-01-27 11:13] #2140 closed

[2018-01-27 15:17] rachaelkiteme commented on #2122
Hi @jywarren , am still a beginner and I would love to contribute on publiclab, but with a little help will be able to work on this.

[2018-01-27 15:55] ryzokuken commented on #2122
Hi, @rachaelkiteme! Sure, you may feel free to start working on this. If you face any trouble, you can ask here or on our chatroom.

[2018-01-27 15:58] first-timers[bot] opened #2143 "Update _form.html.erb to trigger reload of profile page after adding location tags"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-01-27 16:01] stlireri commented on #2143
I'll be working on it.Thanks @jywarren

[2018-01-27 16:02] jywarren commented on #2143
Thanks!!!!!!

This'll require a change in this file too but I'm happy to help with that afterwards!

https://github.com/publiclab/plots2/blob/master/app/views/users/profile.html.erb#L166

[2018-01-27 17:26] namangupta01 opened #2144 "Recently used tag dropdown"
In /questions/{any_question} we have dropdown for recently used tags but there are other things with recently used tags that are not differentiable from the tags which makes it little confuse for the user to differentiate between tags and other stuff like `style` or `add coauthor` and also we can make tags look good by placing them along the same left alignment and seprate all the things by the di

[2018-01-27 17:35] #2125 closed

[2018-01-27 18:08] stlireri commented on #2143
It'll be a pleasure working with you.

[2018-01-27 19:00] jywarren commented on #1958
Hi, you know, I think that the twitter gem may be a way forward. But it does sound like a big project, and after all we have an API and RSS feeds specifically for integration -- i don't (architecturally) much like the idea of baking additional channels of publication into the core code.

I'd like to give this another attempt. Let's, for now, assume we can fall back to a profile picture if that exi

[2018-01-27 19:18] jywarren commented on #1958
It could also be the `type="image/jpeg"` part of `<enclosure>` -- testing this idea here: https://publiclab.org/feed-tmp.rss + https://twitter.com/pl_testing

[2018-01-27 19:24] jywarren commented on #2143
:-) 👍

So, i was thinking about this and I think the original suggestion using `params[:reload]` should actually use just the variable name `reload` instead of `params[:reload]`.

Then, I believe we should be able to add to the `locals` part of this line:

https://github.com/publiclab/plots2/blob/34935fb011a2982968c6a2e0b049eeb2aa791c78/app/views/users/profile.html.erb#L166

So, that line could sa

[2018-01-27 20:19] ryzokuken opened #2148 "Remove empty space reserved for map if no location is displayed"
### Please describe the problem (or idea)

<img width="1140" alt="screen shot 2018-01-28 at 1 39 58 am" src="https://user-images.githubusercontent.com/13121330/35475937-41e278ee-03cd-11e8-8abf-208f4da6706f.png">

Currently, the map is rendered on the profile page, and if they map isn't displayed, space is still reserved for it, because there are no conditionals used when rendering https://github.c

[2018-01-27 20:20] ryzokuken commented on #2148
@jywarren ☝🏻

[2018-01-27 20:26] namangupta01 commented on #2018
@jywarren @ryzokuken So i was working on this issue, i was wondering that do i only have to document about comments through token i.e https://github.com/publiclab/plots2/pull/1513/files ?

[2018-01-27 20:27] jywarren opened #2149 "RSS feed on tagged-content-for-author pages needs to be built"
Profile pages like https://publiclab.org/profile/cfastie now show some great links to, for example, all content tagged as an activity for a given user --

https://publiclab.org/tag/activity:*/author/cfastie

However, the RSS feed on that page is a generic feed for activities, not just `cfastie`'s:

https://publiclab.org/feed/tag/activity:*.rss

We need an RSS feed for this. It can be based on this

[2018-01-27 20:29] ryzokuken commented on #2018
@namangupta01 correct! This is the PR where I actually wrote the code for commenting through a token.

[2018-01-27 21:04] sagarpreet-chadha commented on #1958
Hi , working on it .

Also @jywarren  , i was thinking of an alternative and thought of this :

1.) Use [this recipe](https://ifttt.com/applets/XE8XJmSq-post-rss-feed-items-to-facebook) to post on FB page , to get posts in the format (facebook page):
<img width="766" alt="screen shot 2018-01-28 at 2 29 54 am" src="https://user-images.githubusercontent.com/14952645/35476284-409bbd3c-03d3-11e8-8c69-

[2018-01-27 22:31] jywarren commented on #1958
hmm, it's not `type` -- i checked that using the `feed-tmp.rss` feed and `pl_testing` account. Testing `length` now.

[2018-01-27 22:32] jywarren commented on #1958
Oh, cool -- maybe that can work! Does the Facebook/Twitter hybrid handle when only some posts have images?

[2018-01-27 22:36] jywarren commented on #1958
yeah, nope -- `length` didn't help. I'm going to try both at once, but yeah... https://twitter.com/pl_testing

[2018-01-28 07:00] SidharthBansal commented on #2149
@jywarren May I take this?? I want to implement and learn about how rss works, I think this issue will help me with it

[2018-01-28 07:56] SidharthBansal opened #2150 "Show more should change to Show less on clicking"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**
### Please describe the problem (or idea)
When clicking on the Show More button it does not change to Show less
![image](https://user-images.githubusercontent.com/20972099/35480166-a8

[2018-01-28 08:00] SidharthBansal opened #2151 "Fix "Show 0 more" on inline people lists"
### Please describe the problem (or idea)
Show 0 more is present in the people's list

If there is no more stuff, the text should not appear

![image](https://user-images.githubusercontent.com/20972099/35480203-45361b42-042f-11e8-9d11-a2a491654ffa.png)

### How to Solve:
You can check out @kevinzluo's work in https://github.com/publiclab/plots2/pull/3980 for solving this.

The file which would req

[2018-01-28 08:06] SidharthBansal opened #2152 "Hyperlinks drag the pages more than required"
### Please describe the problem (or idea)
When clicking on the hyperlink buttons next to the headings inside a wiki page they go under the header of the public lab.

The heading must appear below the header of the public lab

### Please show us where to look
Initially
![image](https://user-images.githubusercontent.com/20972099/35480261-505aa456-0430-11e8-902e-d828fe47ac3b.png)
After clicking on th

[2018-01-28 08:11] namangupta01 commented on #2152
HI @SidharthBansal Which hyperlink are you talking about?

[2018-01-28 08:14] SidharthBansal commented on #2152
I am talking of these buttons
![image](https://user-images.githubusercontent.com/20972099/35480305-3485a9f0-0431-11e8-82c1-066c94d89373.png)
Functionality is working properly. It is copying the right area of the wiki page in the url section but it shows a little up and it creates ambiguity to the user.

[2018-01-28 08:17] namangupta01 commented on #2152
It's already taken care in issue #2093 and done in pr #2145
Thanks!

[2018-01-28 08:20] SidharthBansal commented on #2152
Thanks @namangupta01

[2018-01-28 08:20] #2152 closed

[2018-01-28 08:40] SidharthBansal opened #2153 "Ajax call for the like button missing"
### Please describe the problem (or idea)
When we click on the like button on any wiki page while being logged in and then checks by clicking on the button nearby to check the list of people who have liked it, it does not show us our name. On refreshing the page it does show our name.

Ajax call is missing. The list must be updated as soon as we click on the like button
### Please show us where to

[2018-01-28 08:41] SidharthBansal commented on #2153
List shows 4 users who have liked it but the button shows 5. The 5th one is me

[2018-01-28 09:03] sagarpreet-chadha commented on #1958
Yes @jywarren , Unfortunately when the FB post **does not** has image then this recipe is working [https://ifttt.com/applets/10891p-share-facebook-page-updates-on-twitter](https://ifttt.com/applets/10891p-share-facebook-page-updates-on-twitter)  and when FB post **has an image** then this [https://ifttt.com/applets/263954p-autopost-from-facebook-page-to-twitter](https://ifttt.com/applets/263954p-a

[2018-01-28 09:47] ViditChitkara opened #2154 "Add UI for title suggestion feature"
This is a followup issue of #919 . We should add a `title suggestion` link to the comment editor which would render the template for title suggestion in the editor text-area. ([propose:title]Test title[/propose])

[2018-01-28 09:48] ViditChitkara commented on #2154
Working on it!

[2018-01-28 11:34] sagarpreet-chadha commented on #1958
I think this combination of recipes may work ! What do you think ?

Also mine **RSS Feed to Twitter** is not working , so i am not able to test the RSS feed . Trying to resolve this ! Thanks 👍

[2018-01-28 16:44] ViditChitkara opened #2156 "Update user.status whenever drupal_user.status changes"
### Please describe the problem (or idea)

Currently user.status is not updated whenever a user is banned or unbanned. The change in status is required for user.status too.
The problem was discussed in pr #2047

The following things need to be taken care of:-
1) A migration to sync user status with drupal_user status
2) Set user.status = 1 by default when new user is created (currently user status

[2018-01-28 21:33] jywarren opened #2160 "Low-activity week this week -- any help reviewing much appreciated"
Hi, everybody -- thanks for everyone's tremendous work this past couple weeks. So much impressive stuff happening:

https://github.com/publiclab/plots2/pulse/weekly

https://github.com/publiclab/plots2/pulse/monthly

I wanted to say I'm traveling this coming week and so will be responding more slowly to PRs and such.

I'd love it if @publiclab/reviewers are able to help look over each others' -- a

[2018-01-29 09:46] Gauravano commented on #2099
Hi @steviepubliclab, I have implemented this feature so I am well familiar with the code.Can I help to resolve this? Thanks.

[2018-01-29 13:47] mandymuf commented on #2143
I could join if help is wanted!

[2018-01-29 17:39] #2154 closed

[2018-01-29 17:58] jywarren commented on #1785
i'd like to start with a subset here -- let's:

* [ ] make a "status" column for comments, default `1`, spam = `2`
* [ ] make a "spam" method like this, that only moderators or admins can use (`user.role == admin`): https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L158
* [ ] a "publish" method which sets `status` back to 1
* [ ] unit test the above 2 methods
* [ ] display comment

[2018-01-29 20:03] ebarry commented on #1621
I still have a lingering proposal for the About dropdown that there hasn't been a convenient time to discuss with Shannon, who blocked any changes without her review.

We are done with store (the only proposal was to switch it from looking like a dropdown menu since there was no dropdown, and to looking like a button so people had some warning that they were going to be directed off the main websi

[2018-01-29 20:05] ebarry commented on #1940
great!!! I realize the wiki page on location privacy is still outstanding and it's on my list

[2018-01-29 20:28] ebarry commented on #2150
Wow, great catch!

[2018-01-29 20:31] Gauravano commented on #1785
Hi @Diksha2008 @jywarren , I want to help in resolving this issue

[2018-01-29 21:27] ebarry commented on #1706
Reading through @jywarren's list above, i think it would be great to **either** 1) take Siyuan's idea to move the sidebar to the right (https://publiclab.org/notes/siyuan/06-12-2017/a-questions-page-to-encourage-discussions-through-better-ux#c17461) **or** 2) put it at the bottom of the page similar to many news websites.

I'm not a UI expert though. I think i like the idea of moving it to the bot

[2018-01-29 21:34] ebarry commented on #153
It might be my "ebarry" gmail account that's the owner, because at the very bottom of the settings and sharing page i have the option to "DELETE" it permanently.

[2018-01-29 23:35] ina-mastabba commented on #2029
I tried a couple of permutations of the conditional in _contributer.html.erb
e.g.

    <% if @wildcard %>
        <p><%= raw t('tag.contributors.wild_card_search_detected', :tag => params[:id]) %></p>
    <% elsif @noteCount.nil? || @noteCount == 0 %>
        <p><%= raw t('tag.contributors.no_contributors', :tag => params[:id]) %>:</p>
    <% else %>
    ...

and...

    <% if @noteCount.nil? || @

[2018-01-30 01:07] ina-mastabba commented on #2029
Seems like I can either re-write the test  or do something like:

    <% if @wildcard %>
        <p><%= raw t('tag.contributors.wild_card_search_detected', :tag => params[:id]) %></p>
        <p><%= raw t('tag.contributors.no_contributors', :tag => params[:id]) %>:</p>
    <% elsif @noteCount.nil? || @noteCount == 0 %>
        <p><%= raw t('tag.contributors.no_contributors', :tag => params[:id]) %

[2018-01-30 03:51] SidharthBansal commented on #1960
One thing I would like to suggest is, on the whole website we should have sidebars either on right or on left. When a user will navigate from one page to other and finds some sidebars are on the right while other on the left it really looks ugly to me. Even though the pages individually looks great.
Thanks

[2018-01-30 04:34] Diksha2008 commented on #1785
@Gauravano sure! Lets work on this together!

On 30-Jan-2018 2:01 AM, "Gaurav Sachdeva" <notifications@github.com> wrote:

[2018-01-30 05:52] rachaelkiteme commented on #2122
Hi,

Thank you so much Ujjwal Sharma. Will let you know case of anything.

Regards
Rachael

Regards
Rachael

On Sat, Jan 27, 2018 at 6:55 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2018-01-30 06:38] SidharthBansal commented on #2029
Try out this
[code]
Thanks!!!

[2018-01-30 07:09] Ankit-Singla commented on #1996
@SidharthBansal I see that the issue is still open and hasn't been resolved yet. I would like to give it a try if I may.

[2018-01-30 07:17] SidharthBansal commented on #1996
I think that @Paarmita left out. You can for sure try to resolve the issue

[2018-01-30 07:19] Ankit-Singla commented on #1996
I think I have done the right changes. I don't understand how I can generate a pull request. Can I please get any help in this regard?

[2018-01-30 13:52] Ankit-Singla commented on #2150
I have understood the problem and would like to resolve the issue.

[2018-01-30 14:48] Ankit-Singla commented on #2150
@SidharthBansal Hey, can I get a little help in getting started, as its just the second issue I have started working on.
I cloned the repository, installed necessary gems, set up the database, but when I start the server and go to 'localhost:3000/wiki/timelapse', it says 'This page does not exist yet, but you can create it now:'.
Why might this be happening? Is there any other place where I can te

[2018-01-30 15:02] SidharthBansal commented on #2150
@Ankit-Singla you can definitely try to resolve this one if it seems difficult, try out the other issues labeled with fto on the repository.
Actually, the database of the website publiclab.org is different from the database of your cloned repo. The database of your clone does not contain this page so you are not able to get this issue. You need to reproduce this in the development environment to r

[2018-01-30 15:28] Ankit-Singla commented on #2150
@SidharthBansal So that means I should manually insert relevant data to reproduce the bug in the development environment?
Yes, it is making sense and I would like to continue to resolve the issue.
Thanks, I'll ask for help if I am stuck somewhere.

[2018-01-30 15:48] ina-mastabba commented on #2029
That results in the same failure.

[2018-01-30 16:01] SidharthBansal commented on #2150
yeah you need to insert relevant data

[2018-01-30 16:30] Ankit-Singla commented on #2150
@SidharthBansal I created a 'timelapse' wiki page, and tried adding questions by clicking on "Add a related question", but the question does not appear on the same page.
I have tried to do so by logging in as a user, as well as an admin.
Can you please guide me in the right direction?

[2018-01-30 17:34] ViditChitkara opened #2165 "Add "comment" and "barnstar" headings to profile nav"
### Please describe the problem (or idea)

![profile-tabs-1](https://user-images.githubusercontent.com/22616017/35581087-d1410e70-0610-11e8-99d2-ba7009a456de.jpg)
Some of the nav-tabs on the profile page contains only icons(e.g comments, barnstars) which makes it hard to guess thieir functionality.

### Please show us where to look

https://publiclab.org/profile/vidit

### What's your PublicLab.or

[2018-01-30 17:38] ViditChitkara commented on #2165
Provided a probable fix in #2166

[2018-01-30 18:15] namangupta01 opened #2167 "Add wiki link to navbar"
### Please describe the problem (or idea)
We currently don't have any link on the dashboard to directly access the wiki pages. It would be convenient for the user to have wiki page link directly on the heading bar

### Please show us where to look

Any page after user have logged in:

### What's your PublicLab.org username?
namangupta
## Thank you!

Your help makes Public Lab better! We *deeply* a

[2018-01-30 18:30] SidharthBansal commented on #2029
Oh Sorry I didn't read the test....You need to change the tests too...

[2018-01-30 18:47] SidharthBansal opened #2170 "User must be logged out to access login page"
### Please describe the problem (or idea)
/login page is accessible while a user is logged in which is not the correct behaviour

[2018-01-30 18:52] SidharthBansal opened #2172 "Errors on recent git pull"
### Please describe the problem (or idea)
On recent git pull origin master I got the following error
[code]
and many similar errors. Any help is highly appreciated. @publiclab/reviewers

[2018-01-30 18:53] SidharthBansal commented on #2172
I have got 41 errors and all have somewhat these files

[2018-01-30 19:02] ViditChitkara commented on #2172
Does remote 'origin' points to this repository? There might be a case, that you pulled from your local master and it was not properly synced with publiclab/plots2 master

[2018-01-30 19:03] namangupta01 commented on #2172
@SidharthBansal does your origin pointing to remote plots 2 https://github.com/publiclab/plots2/ ?

[2018-01-30 19:07] SidharthBansal opened #2173 "Profile page UI/UX inconsistencies"
### Please describe the problem (or idea)
The tabs on /profile/author have different treatment in terms of
- [x]  Some have count while others dont have
- [x] Some have icons while other
- [x] Some have text while other does not
- [x] Like tab should render liked pages on the same page but is rendering on the different page
- [x] Two horizontal lines on the bottom of profile page
![image](https://

[2018-01-30 19:08] SidharthBansal commented on #2173
@ViditChitkara thanks for solving 3rd issue in this via #2166

[2018-01-30 19:10] ina-mastabba commented on #2029
No worries,..will do.

[2018-01-30 19:11] ViditChitkara commented on #2173
:+1:

[2018-01-30 19:12] SidharthBansal commented on #2172
Yesterday also it happened but got resolved automatically. On chat @jywarren was pointing to the

[2018-01-30 19:14] SidharthBansal commented on #2172
@ViditChitkara Yeah origin points to this repo, I checked that my head is on the latest commit of this plots2 repo

[2018-01-30 19:29] Ankit-Singla commented on #2150
@namangupta01 can you please help me out here?

[2018-01-30 19:33] namangupta01 commented on #2150
sure @Ankit-Singla where are you getting problem?

[2018-01-30 19:38] Ankit-Singla commented on #2150
@namangupta01 ek baar ye comment streak padho, samajh jaoge aap.

[2018-01-30 19:41] namangupta01 commented on #2150
@Ankit-Singla i'll have a look at it! :)

[2018-01-30 19:46] namangupta01 opened #2174 "User dropdown menu in header"
### Please describe the problem (or idea)
Currently when we click the user dropdown menu on header we have several options like Dashboard, Profile and more.
But dashboard option shows even when we currently on the page https://publiclab.org/dashboard but instead of this we can have **home** option there and dashboard otherwise.

[2018-01-30 19:46] SidharthBansal commented on #2150
@Ankit-Singla See https://publiclab.org/questions/tag/timelapse these are the questions which are tagged with 'timelapse'

[2018-01-30 19:51] SidharthBansal commented on #2150
At public labs we use tags. There are some special tags known as powertags. These tags have special meaning for eg in this case we have ```[questions:timelapse]``` you can learn more about it on https://publiclab.org/wiki/power-tags#Inline+tags.
You need to create multiple questions with this tag or anyother tagname say 'map' then you need to use this [question:map] tag to list those activities.
H

[2018-01-30 19:58] Ankit-Singla commented on #2150
Thanks a lot @SidharthBansal
And I'll make sure to use only English here onwards.
@namangupta01 I got the necessary help, will try on my own now.

[2018-01-30 20:05] ViditChitkara commented on #2150
@Ankit-Singla, to show questions on the wiki page a power tag is used,e.g: [questions:test]. This would show all the questions on the page which contain 'test' as a tag. The 'Ask a related' question button appears only if you use a power tag (The question form would automatically add 'test' tag to it,  making it a related question). The reason why the question is not visible on the page might be d

[2018-01-30 20:34] SidharthBansal opened #2177 "Dangerbot message should be changed"
### Please describe the problem (or idea)
We get a message like this we we have not checked all boxes
![image](https://user-images.githubusercontent.com/20972099/35589733-cf12568a-062a-11e8-9c37-e37ee0782614.png)

Nowadays, we have cool `in-progress` label so, suggestion should be to use that label instead of [WIP]

Dangerbot

[2018-01-30 20:43] SidharthBansal commented on #2177
@jywarren ,@ebarry If this needs to be done then the following lines needs to be changed https://github.com/publiclab/plots2/blob/f52a4f56e3f1f5af56521d284dc3a0d0a2624992/Dangerfile#L24-L28

[2018-01-30 22:35] ebarry opened #2178 "bug in contributor notes by tag"
### Please describe the problem

I am cataloguing all contributors in a research area, and just looked at all notes tagged wetlands.
On the contributors tag, https://publiclab.org/contributors/tag/wetlands the people at the bottom are listed as having notes, but when you click on notes, there is unexpected behavior:

![contributor-notes](https://user-images.githubusercontent.com/161439/35595195-cd

[2018-01-30 22:35] ebarry opened #2179 "bug in the display of contributor notes by tag"
### Please describe the problem

I am cataloguing all contributors in a research area, and just looked at all notes tagged wetlands.
On the contributors tag, https://publiclab.org/contributors/tag/wetlands the people at the bottom are listed as having notes, but when you click on notes, there is unexpected behavior:

![contributor-notes](https://user-images.githubusercontent.com/161439/35595195-cd

[2018-01-31 05:35] Ankit-Singla commented on #2150
@SidharthBansal @ViditChitkara I tried to post several questions using the required powertags, and still the questions do not appear on the wiki page. But when I post a new question with the tags, on the left there is a related questions section, which shows the previous question I posted. Please help.

![screen shot 2018-01-31 at 10 14 57 am](https://user-images.githubusercontent.com/22820781/356

[2018-01-31 05:54] Ankit-Singla commented on #2151
Hey, I would like to work on this.

[2018-01-31 06:10] SidharthBansal commented on #2151
I am working on it, sorry. Please try the other ones out. Can you see that there are issues labelled with 'in progress' or 'assigned' like this one. Folks are already working on these. You may try the other issues labelled with help wanted

[2018-01-31 06:11] Ankit-Singla commented on #2151
okay, got it

[2018-01-31 06:28] SidharthBansal commented on #2150
Have you used [question:test] in your wiki? For listing the question grid

[2018-01-31 08:14] Ankit-Singla commented on #2150
@SidharthBansal I've figured it out now. Thanks for helping me at every step.

[2018-01-31 08:41] Ankit-Singla commented on #2150
@SidharthBansal I have resolved the issue and "Show <some_count> more" now changes to "Show less" when clicked.
Don't you that the feature to hide these rows again when the "Show less" button is clicked should also be added? Should I do it in this Pull Request or open another issue for this?

[2018-01-31 08:44] Ankit-Singla commented on #2150
@SidharthBansal Also, in reference to issue #2151 , we will face the same issue here also. So, should I take care of that as well in this PR. Or should another similar issue be opened for that?

[2018-01-31 09:07] Ankit-Singla commented on #2150
![screen shot 2018-01-31 at 2 35 29 pm](https://user-images.githubusercontent.com/22820781/35614139-142a85b2-0694-11e8-89c3-874a034ae0c7.png)

@SidharthBansal  I noticed a warning on the console. Should I also update the CDN for MathJax?

[2018-01-31 09:42] SidharthBansal commented on #2150
You need to enter the capability to show less on clicking show less in this pr. It is a part of this pr

[2018-01-31 10:38] SidharthBansal commented on #2150
If show 0 is occurring in this also then please update it,no need to open a new issue. Do it in a single PR.
Thanks for the catch.

[2018-01-31 13:43] namangupta01 opened #2181 "Add search validation"
### Please describe the problem (or idea)
Currently we can perform submission of search form even when input field is empty which leads to opening of another page which have no content since our input was empty.
So what we can do is that we can add validation that input mush not be blank or empty.

[2018-01-31 18:24] SidharthBansal commented on #2150
@Ankit-Singla I mean to say for this issue you need to put all stuff in a single PR. Please remove the changes from the email validation pr. That is different issue. Open a different pr for it

[2018-01-31 18:33] Ankit-Singla commented on #2150
@SidharthBansal Sorry, it wasn't intentional.
Its just I am not yet comfortable in using github, thats why I am making these mistakes. I'll try to correct it right away.

[2018-01-31 19:04] Gauravano commented on #2179
Hi @ebarry, actually  https://publiclab.org/contributors/wetlands also renders data from the same source as https://publiclab.org/contributors/tag/wetlands so it's also generating the same error.I want to work on resolving this.

[2018-01-31 19:28] SidharthBansal commented on #2172
Sometimes all test cases are passing with this
[code]
while other times it shows 41 errors

[2018-01-31 19:39] ebarry opened #2186 "Names of nations not recognized in autosearch"
Related to the Geographic Features project  https://github.com/publiclab/plots2/issues/1416

### Please describe the problem

My goal was to location tag someone's profile with the nation that they specified in their bio, this case, Germany.

I typed Germany into the search box, and nothing happened. Are nations not searchable?

Next i tried to zoom in to manually choose the country, and i can't f

[2018-01-31 20:14] ebarry commented on #2112
AWESOME!!!
Building on the success of fixing this, is there something we can do to the "Show more" link at the bottom of grids (of questions, of activities) that opens but does not close?

For instance, see https://publiclab.org/wiki/timelapse

![show-more-link](https://user-images.githubusercontent.com/161439/35645288-5e451e5a-0699-11e8-82d2-d01fa7528457.gif)

[2018-01-31 20:33] ryzokuken commented on #2112
@ebarry Sure! Do you have the time to make another issue for this, or should I? If you do, assign it to me and I will take care of it as soon as possible.

[2018-01-31 21:56] jywarren commented on #2186
Hi, this is part of our Leaflet plugin leaflet-blurred-location:
https://github.com/publiclab/leaflet-blurred-location

we're using Google geocoding so this may be a limitation or setting of
Google's API:

https://github.com/publiclab/leaflet-blurred-location/blob/e802cdf2cd4d8c7be69cca69f96327f4bc9a1346/src/blurredLocation.js#L73

Here's the raw request:
https://maps.googleapis.com/maps/api/geoco

[2018-01-31 22:46] SidharthBansal commented on #2186
@jywarren @ebarry Yesterday I have also encountered the same problem. When you type in the country or state, the map does not automatically shows that typed in location.
But the latitude and longitude are updated as soon as we type in the country or state and press enter
However, when we save it, then it is saved to the right location.

[2018-01-31 22:52] SidharthBansal commented on #2178
@ebarry @jywarren may I take it and try to solve it?

[2018-01-31 23:26] SidharthBansal commented on #2178
Even the links which are working properly has multiple errors in them.
1.For eg, we are having a route of type /notes/author/authorname/note-id
like this one
![image](https://user-images.githubusercontent.com/20972099/35652158-7959ae62-0708-11e8-8dce-6af809c05358.png)
It is not rendering the contributions
2.The "1023 research notes and wiki edits starting almost 6 years ago" is in accordance with

[2018-01-31 23:50] SidharthBansal commented on #2178
One more thing.
![image](https://user-images.githubusercontent.com/20972099/35653602-1ceecac0-070f-11e8-867d-7d39c895cd99.png)
this is contributors list for question:gsoc
it is showing all notes. Shouldn't it display wiki, questions, comments like this kind of stuff to know the exact kind of contribution? And should link to the exact portion of text, like for comment then to the comment section??

[2018-02-01 00:47] jywarren opened #2187 "Upload image in question form seems broken?"
http://publiclab.org/questions/new

Is this working for other folks? I see an "upload failed" message. We should test this locally if possible!

[2018-02-01 00:56] jywarren opened #2188 "Add link to questions below intro paragraph on front page"
@ebarry @steviepubliclab if this sounds good, I'd like to propose a simple link to the Questions page on the front page (http://publiclab.org when not logged in, or http://publiclab.org/home when you are), like this:

![screenshot 2018-01-31 at 4 52 54 pm](https://user-images.githubusercontent.com/24359/35655579-844e48ac-06c0-11e8-8102-9dacf982204c.png)

What do you think? (from [this mockup](http

[2018-02-01 02:18] #2144 closed

[2018-02-01 02:24] #2138 closed

[2018-02-01 09:35] SidharthBansal opened #2189 "Images are not able to be uploaded as thumnail for notes"
### Please describe the problem (or idea)
I tried to make a "research note" and upload an image as thumbnail but it is like this
![image](https://user-images.githubusercontent.com/20972099/35670416-8cdbc046-075e-11e8-9054-ebfb889e7d01.png)
After selecting publish it is not saving the image used for thumbnail of the post.

[2018-02-01 09:50] SidharthBansal commented on #2187
Yeah, I am getting the upload failed message too. I have clicked on this button
![image](https://user-images.githubusercontent.com/20972099/35672096-70ac79b0-0763-11e8-81bd-0908ecc04e4a.png)

[2018-02-01 09:51] SidharthBansal commented on #2187
This is working fine for the research notes but not working here

[2018-02-01 09:53] ViditChitkara commented on #2188
I Would like to try it!

[2018-02-01 14:54] Ankit-Singla commented on #2181
Hi @namangupta01 ,
I have made a PR ( #2190 ) in hope to resolve the issue. Please review this.

[2018-02-01 16:34] SidharthBansal opened #2191 "Hyperlink text"
### Please describe the problem (or idea)
![image](https://user-images.githubusercontent.com/20972099/35689820-5bff5186-079a-11e8-918f-89129996c1b5.png)
This the text next to the hyperlink button which is not needed as the functionality is present in the hyperlink button itself

### Please show us where to look
/wiki/:id
https://publiclab.org/wiki/authoring-help

[2018-02-01 16:53] SidharthBansal opened #2193 "n Research notes & Wiki Edits"
### Please describe the problem (or idea)
At some pages we have "n Research Pages and Wiki Edits" while on the others we have "n Research Pages and m Wiki Edits"

Same text treatment as "n Research Pages and m Wiki Edits"

### Please show us where to look

https://publiclab.org/
![image](https://user-images.githubusercontent.com/20972099/35691413-6f7cff16-079e-11e8-9612-f50e2d26405f.png)
![image](

[2018-02-01 16:55] SidharthBansal commented on #2193
Also, we should have the capability to click on the wiki edits in the profile/username page to access the edits done by that user.

[2018-02-01 17:16] SidharthBansal opened #2194 "Same button treatment"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-02-01 21:24] skilfullycurled commented on #1502
Hey everyone!

@sagarpreet-chadha, I put all of the files you'll need here:

https://spideroak.com/browse/share/skilfullyshared/plots-tag-graph

The folder comes with a readme file which explains the contents.

Please let me know when you have downloaded them so I can close the shareroom.  Eventually, I'll post them to my github account for other people to have access to on the wiki.

Happy to ans

[2018-02-02 00:29] shannonnolan17 commented on #2194
I would love to give this a shot! Thanks for the great step-by-step guide! 😀

[2018-02-02 00:54] shannonnolan17 commented on #2194
Aaand done! I would love a review!

[2018-02-02 01:19] SidharthBansal commented on #2194
Awesome

[2018-02-02 01:56] #2149 closed

[2018-02-02 02:20] #2165 closed

[2018-02-02 02:24] #2170 closed

[2018-02-02 02:25] #2174 closed

[2018-02-02 02:25] #2160 closed

[2018-02-02 02:28] jywarren commented on #2191
Hi, you know, I like the idea of simplifying here, but I actually also like the actual number appearing so you can see what the ID is on a quick glance. I sometimes copy paste that number! Maybe we could modify this PR so it shows `#1234` instead of `/n/1234`, though, so people can copy paste and use them as references as we do in Github, like #2192 -- what do you think?

[2018-02-02 02:31] jywarren commented on #2193
Ah i like that last suggestion a lot!

On Thu, Feb 1, 2018 at 8:55 AM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-02-02 04:11] sagarpreet-chadha commented on #1502
Thank You @skilfullycurled !
I have downloaded the files :-)

[2018-02-02 04:56] #1958 closed

[2018-02-02 05:48] sagarpreet-chadha commented on #1940
@ebarry , can i write the writeup page on location security ?

[2018-02-02 08:44] SidharthBansal commented on #2115
@Apoorva-13 Do you need any help?
I am happy to help

[2018-02-02 08:50] SidharthBansal commented on #2191
Yeah, you are right. We may need it. Actually `/n/1234` made me ambiguous until I saw the code. So thought it will create much more ambiguity to the user of public lab so removed it.
I have changed it to `#1234` syntax. It will not create ambiguity. Please review my pr @jywarren
Thanks

[2018-02-02 08:59] SidharthBansal commented on #2151
As the codes are overlapping in #2150 and #2151 as @Ankit-Singla is working on it

[2018-02-02 09:01] SidharthBansal commented on #2172
@ryzokuken can you help me with this? I am sometimes getting these errors while the other times not. It is completely insane to me.

[2018-02-02 15:16] ViditChitkara opened #2196 "Comments not loading on certain profile pages"
### Please describe the problem (or idea)

Unable to fetch comments for certain profile pages (e.g: https://publiclab.org/profile/liz, https://publiclab.org/profile/warren).
![comments-1-1](https://user-images.githubusercontent.com/22616017/35740005-7fd2f6ac-0859-11e8-8e0e-e37a8e86e5e1.jpg)

### Please show us where to look

https://publiclab.org/profile/liz, https://publiclab.org/profile/warren (

[2018-02-02 15:16] ViditChitkara commented on #2196
submitting a patch for this.

[2018-02-02 16:22] ViditChitkara opened #2198 "Uneven size of 'spam' and 'read more' buttons in the notes partial"
### Please describe the problem (or idea)

![spam-button-1](https://user-images.githubusercontent.com/22616017/35743131-98e33e32-0862-11e8-921b-942c8157d24e.jpg)
The spam and read more buttons should be of equal size

[2018-02-02 17:29] jywarren opened #2201 "Hide people on maps when map zoom is well past their provided location precision"
We encourage people to "blur" their location with [leaflet-blurred-location](https://github.com/publiclab/leaflet-blurred-location/), which:

1. truncates their latitude + longitude to, for example, `41.13` instead of `41.13256` to reduce location precision
2. adds the `location:blurred` tag if they want to blur their location

We display people on maps on this template: https://github.com/publicl

[2018-02-02 17:31] jywarren commented on #2201
@sagarpreet-chadha or @mridulnagpal -- perhaps you'd be interested here? What do you think, in any case?

[2018-02-02 17:33] skilfullycurled commented on #1502
No problem @sagarpreet-chadha!

PS: I left you a follow up thought [back in the wiki qustion](https://publiclab.org/questions/bsugar/01-25-2018/how-was-the-tag-graph-visualization-made#a774).

[2018-02-02 17:45] SidharthBansal commented on #2173
@ebarry, @jywarren what do you suggest?

[2018-02-02 18:25] jywarren opened #2203 "tag page wiki links go to https://publiclab.org/wiki/#{params[:id]}"
Oops! I might be responsible for this, but the new buttons on tag pages unfortunately go to `https://publiclab.org/wiki/#{params[:id]}` instead of, for example, `https://publiclab.org/wiki/spectral-workbench`

See this at https://publiclab.org/tag/spectral-workbench

This should be an easy fix -- any help appreciated!

[2018-02-02 18:27] jywarren commented on #2203
Aha - indeed this should be:

https://github.com/publiclab/plots2/blob/b6fab99912bf06d890eb81be0ab844c6104ad44d/app/views/tag/show.html.erb#L15

`<% if @wiki.latest.render_body.split('</p>').length > 2 %><a class="btn btn-lg btn-default" href="/wiki/<%= params[:id] %>">Learn more on the wiki page</a><% end %>`

[2018-02-02 18:35] jywarren commented on #1940
Please do @sagarpreet, thank you! We may take a revision afterwards but
would love the help :-)

On Thu, Feb 1, 2018 at 9:48 PM, Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-02-02 18:36] Gauravano commented on #2203
Can I open first-timer for this @jywarren?

[2018-02-02 18:42] jywarren commented on #2189
Hi, is this on staging or on the production site?

Thanks! I recently had an issue with this on the new questions page...
wonder what's going on?

On Thu, Feb 1, 2018 at 1:35 AM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-02-02 19:03] jywarren commented on #2203
sure! Thank you!

On Fri, Feb 2, 2018 at 10:55 AM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-02-02 19:04] jywarren commented on #2187
do you see the error in logs when running locally? I think that'll be the
next thing to check. Thanks!

On Thu, Feb 1, 2018 at 1:51 AM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-02-02 19:04] jywarren commented on #2188
awesome, thank you!

On Thu, Feb 1, 2018 at 1:53 AM, Vidit <notifications@github.com> wrote:

[2018-02-02 19:08] jywarren commented on #2150
@Ankit-Singla just to say again, no worries having issues - git and github are not easy to work with! We're happy to help you out here. Thanks to @SidharthBansal for offering some guidance!

And thanks @Ankit-Singla for working on this! We really appreciate it :-) 👍

[2018-02-02 19:09] jywarren commented on #2029
Great, thank you! Indeed, the test formerly "asserted" that there be no contributors listed on this page. Now that test can change!

Thanks!!!

[2018-02-02 19:11] Gauravano commented on #2189
Hi @jywarren @SidharthBansal I have collected some logs regarding this issue which may help

![erroruploadresearch](https://user-images.githubusercontent.com/20878070/35750024-96349804-0879-11e8-8d3e-00c34bf521da.png)
I like to point @jywarren that while editing in inline wiki editor same type of error is generated.

[2018-02-02 19:24] #2027 closed

[2018-02-02 19:43] SidharthBansal commented on #2189
@Gauravano Thanks for the logs.
Actually I am having trouble with #2172 so was busy with fixing that. Sorry for not checking things and pending prs @jywarren
@jywarren it is in both development and production with a slight difference. On production, we are not able to see the horizontal line with blue colors but on development, we are able to.
On both of them, it is not working.

[2018-02-02 20:06] Gauravano opened #2204 "Tag Page wiki links point to wrong address"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people f

[2018-02-02 20:13] Gauravano commented on #2203
Opened this issue as FTO in #2204

[2018-02-02 20:13] #2203 closed

[2018-02-02 20:17] #2141 closed

[2018-02-02 20:42] ina-mastabba commented on #2029
I actually ended up not changing the test but changing the wildcard warning message to include the text "No contributors for that tag" so that it also meets the requirement of the assert_tag test.  So the message reads: "No contributors for that tag. Wildcard tag search detected. Wildcard tag searches use the * asterisk in their URLs, and will not show contributor listings."
Is that acceptable?
I

[2018-02-02 20:43] jywarren commented on #2203
Awesome!!!

On Feb 2, 2018 3:14 PM, "Gaurav Sachdeva" <notifications@github.com> wrote:

[2018-02-02 20:53] Gauravano opened #2206 "Changes not saved when done using Inline rich wiki editor"
### Please describe the problem (or idea)
I have tried to change the text of https://publiclab.org/wiki/kits using the inline rich editor but changes are not saved.

![wikiedit](https://user-images.githubusercontent.com/20878070/35753742-e9240998-0886-11e8-96ee-29373659b0d6.gif)

### What's your PublicLab.org username?
Gaurav

### Browser, version, and operating system
Ubuntu 17.04

****

## Thank

[2018-02-02 20:58] #2194 closed

[2018-02-02 20:59] #2191 closed

[2018-02-02 21:04] #2156 closed

[2018-02-02 21:15] #2198 closed

[2018-02-02 21:56] jywarren opened #2209 "Encoding issues with migrating old DrupalUser accounts to User records"
We're seeing an issue with a recent migration https://github.com/publiclab/plots2/pull/2157 which tries to mitigate User vs DrupalUser status records. I tried to fix it here: https://github.com/publiclab/plots2/pull/2208 but we have a new problem.

I believe it's due to this error from the [Jenkins build log](https://jenkins.laboratoriopublico.org/job/Plots-Stable/lastFailedBuild/console):

[code]

[2018-02-02 22:08] jywarren commented on #2209
I think i can get past this by not matching `User` and `DrupalUser` by `name/username`, but instead by `id/uid` (did this in https://github.com/publiclab/plots2/pull/2210). But we will have to solve this if we ever want to convert /all/ `DrupalUsers` into `Users`, with the `drupal_user.migrate` command:

https://github.com/publiclab/plots2/blob/b73d598262f2132a57d4cd3f49f5331edafc8265/app/models/d

[2018-02-02 22:08] jywarren commented on #2209
That'll get us one step closer to deprecating `DrupalUser`! #956

[2018-02-02 23:30] SidharthBansal commented on #2193
Do we have any such existing page??  I am not able to find any such page.

[2018-02-03 04:33] sagarpreet-chadha commented on #2201
Hi @jywarren , i was thinking of calling a function :
`map.on('zoomend', function() {`
`});`
and
getting the current zoom level :  `currentZoom = map.getZoom();`
and traveling the array of data-items containing people info . and removing them if the degree of precision (number of digits after decimal) is less than the current zoom level using :
`marker.remove();`
What do you think ?

[2018-02-03 06:35] Souravirus commented on #2204
@Gauravano I want to fix this. Please assign this to me.

[2018-02-03 06:53] Gauravano commented on #2204
Hey @Souravirus, that's great

[2018-02-03 07:44] Souravirus commented on #2204
#2211 I have fixed the issue in this pr. Please review it.

[2018-02-03 07:46] Souravirus commented on #2204
#2211 Please review this pr @Gauravano

[2018-02-03 08:13] Apoorva-13 commented on #2115
Thanks! Would surely get back to u with my queries.

[2018-02-03 09:54] ViditChitkara commented on #2209
Hmm, didn't anticipate this problem. will submit a patch for this!

[2018-02-03 16:55] sagarpreet-chadha opened #2214 "Profile Map is not shown on small screens ."
Profile map hides on small screens .
Changes are to be made in this file :
[https://github.com/publiclab/plots2/blob/master/app/views/users/profile.html.erb](https://github.com/publiclab/plots2/blob/master/app/views/users/profile.html.erb) .

<img width="411" alt="screen shot 2018-02-03 at 10 15 27 pm" src="https://user-images.githubusercontent.com/14952645/35769409-501ccf5a-0930-11e8-9b95-d263509

[2018-02-03 17:02] SidharthBansal commented on #2172
Also getting this sometimes when I am getting this issue
![image](https://user-images.githubusercontent.com/20972099/35769509-15e99faa-0932-11e8-8669-0df78ef62126.png)
It was working fine. As soon as I reloaded the page the error came.

[2018-02-03 17:12] SidharthBansal commented on #1858
Error is related to positioning of the caret symbol.
![image](https://user-images.githubusercontent.com/20972099/35769579-3df99990-0933-11e8-9f4a-49650a43b9ad.png)
This is working fine. But at some places it is not. I have found this caret wrong positioning issue at many other pages too. Easiest way to correct is to use tooltips instead of carets.

[2018-02-03 17:33] sagarpreet-chadha opened #2215 "Changing coordinates of people map to show more continents ."
Hi, this is a [first-timers-only](https://github.com/publiclab/plots2/projects/2) issue. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2018-02-03 18:04] ryzokuken commented on #2172
@SidharthBansal let me look into this. This happens on `publiclab/master`?

[2018-02-03 18:08] ryzokuken commented on #2172
Any test failures?

[2018-02-03 18:09] SidharthBansal commented on #2172
It is on every branch or on no branch. I can't do anything due to this issue. The PRS which I have done are done in the time when there was no error. But when there is an error I can't do anything.

[2018-02-03 18:10] SidharthBansal commented on #2172
Nope. Only errors

[2018-02-03 18:15] ryzokuken commented on #2172
What I'm getting.

<img width="1680" alt="screen shot 2018-02-03 at 11 42 51 pm" src="https://user-images.githubusercontent.com/13121330/35770165-4741f228-093c-11e8-8405-7a5b0741a80b.png">

[2018-02-03 18:31] ryzokuken commented on #2172
We even send `node` down explicitly:
[code]

[2018-02-03 18:40] SidharthBansal commented on #2172
Yeah I also get sometimes these kinds of errors too

[2018-02-03 19:16] namangupta01 opened #2216 "Add tweet button to subscription share"
### Please describe the problem (or idea)

Currently, when we click on the subscription share button it actually not sharing, it is just showing us the link.
See here: https://publiclab.org/subscriptions
![screen shot 2018-02-04 at 12 44 30 am](https://user-images.githubusercontent.com/20709985/35770614-9e8222ee-0944-11e8-99bf-6efbf55ee1fc.png)
We can add tweet button there :
![screen shot 2018-02

[2018-02-03 19:41] ryzokuken commented on #2172
This error just disappeared. The site is also behaving erratically. Strange.

[2018-02-03 19:46] namangupta01 opened #2219 "Use RSpec for testing"
We are currently using old way of testing. I think we can replace this with newer way of testing and there is one of the gem called RSpec Gem which is very famous for rails testing.
It makes writing of tests easier and more defined.
It is very easy to find which test is failed and where because we use things like `describe` and `context` which makes the tests lot easier to read and write.

[2018-02-03 19:49] SidharthBansal commented on #2172
I have encountered many erratic errors too. After one logs off he gets directed to the remote login not found sometimes

[2018-02-03 19:59] ryzokuken commented on #2216
Tests passed, danger encountered some error, I guess. Let me restart the build.

[2018-02-03 20:03] ryzokuken opened #2220 "Improve element selectors in i18n tests"
The class attribute is checked by the selectors in the exact same way other attributes are selected (eg: `p[class=facebook-summary]`) we could preserve line-length and make things simpler by using the canonical class notation (`p.facebook-summary`).

[2018-02-03 20:20] ryzokuken commented on #2148
@jywarren should I work on this?

[2018-02-03 21:34] jywarren commented on #2172
Hi, all - have you tried dumping your databases and rebuilding using `rake db:seed`? Alternatively also re-cloning your repository from Github to another directory to see if that's more consistent?

[2018-02-03 21:35] jywarren commented on #2172
I'm just thinking that if it doesn't seem to depend on what branch, and if you have confirmed you are at the same exact commit hash, then perhaps the problem is with the data?

[2018-02-03 21:38] jywarren commented on #2209
I went ahead and fixed the issue for the purposes of your migration -- no
problem! i should've seen this too. But I do think the future desire to
stop using DrupalUsers entirely, for which we'll need this "migrate"
method. Interested in working on that a bit? Thanks!!

On Sat, Feb 3, 2018 at 4:54 AM, Vidit <notifications@github.com> wrote:

[2018-02-03 21:40] SidharthBansal commented on #2172
Earlier I had this error so I did clone and did a rake db seed command. But now they are appearing. With rake db seed they are not going away.
I have pulled multiple times and checked if the errors are solved but they are not.
I will try to make a new clone and see.

[2018-02-03 21:41] SidharthBansal commented on #2172
One thing to note is ujjwal is also getting the node errors at home page which I have got some times. This indicates There is something going on in the code and that needs to be addressed

[2018-02-04 11:19] rishabhptr opened #2224 "User cant subscribe to tags."
### Please describe the problem (or idea)
subscribe/tag/'anything' leads to an error page.

![screenshot from 2018-02-04 16-47-49](https://user-images.githubusercontent.com/26951824/35776919-2a7f8512-09cb-11e8-9dbe-55233f56e750.png)

[2018-02-04 12:10] ViditChitkara commented on #2209
Yes, interested! Finally now the following needs to be done:-
[ ] Modify the `migrate` method to accept `トリーバーチ クラッチ` this type of a string
[ ] Write a migration to ensure we have a user for every drupal user.
If this is good, I'll be happy to give it a go.

[2018-02-04 13:03] rishabhptr opened #2226 "Error on viewing notes by author with specific tags."
### Please describe the problem (or idea)
On /contributors/tagname page clicking on notes to see all notes by author with `tagname` results in error.

![screenshot from 2018-02-04 18-27-34](https://user-images.githubusercontent.com/26951824/35777769-7b795606-09d9-11e8-85aa-304e76e945a9.png)
![screenshot from 2018-02-04 18-27-38](https://user-images.githubusercontent.com/26951824/35777770-82a6a820-

[2018-02-04 13:12] VarshaNairM commented on #2215
I am a beginner to open source.I want to take up this and work on

[2018-02-04 13:13] ViditChitkara commented on #2215
Go ahead :+1

[2018-02-04 13:19] rishabhptr commented on #2226
Just noticed this seems to be part of #2179 , where in author does have a note with the tag so I am closing this issue. :smile:

[2018-02-04 13:19] #2226 closed

[2018-02-04 15:49] Gauravano commented on #1785
So @Diksha2008, How about I can work on first 2 parts and then you next 2 and so on something like this? So you wanna start with first 2 or should I?

[2018-02-04 16:52] jywarren commented on #2143
@stlireri how is it going here? any way I can help out?

@mandymuf if you'd like to help out perhaps check this list of issues: https://publiclab.github.io/community-toolbox/

We'd love your help but I think @stlireri is currently working on this one, thanks!

[2018-02-04 16:57] jywarren commented on #2099
@Gauravano yes please, that would be fantastic!!

[2018-02-04 18:33] sagarpreet-chadha opened #2228 "Link for 'adding descriptive tags' not working ."
Hi, this is a [first-timers-only](https://github.com/publiclab/plots2/projects/2) issue. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2018-02-04 18:54] Gauravano commented on #2099
Thanks, @jywarren .Actually @jywarren @steviepubliclab I have a suggestion regarding email like we have an email for a new answer, comment.etc. Can we make notification mail for this feature too?

[2018-02-05 08:13] sagarpreet-chadha opened #2230 "Not to show marker on profile page map if tag blurred:true exists ."
## Please describe the problem (or idea)

- [ ]  As suggested by @jywarren in issue #1940  , lets not show marker on profile page map if the tag `blurred:true` exists .

- [ ]  Writing a wiki page on Location-privacy (follow up of issue #1940 and [ publiclab/leaflet-blurred-location#98]( publiclab/leaflet-blurred-location#98) )

[2018-02-05 08:14] sagarpreet-chadha commented on #2230
@jywarren , kindly assign this to me 👍 😄  .

[2018-02-05 08:47] Gauravano commented on #2204
Closed #2204 via #2211

[2018-02-05 08:48] #2204 closed

[2018-02-05 14:15] jywarren opened #2231 "Labels and workflow for pull requests to keep up with PR backlog?"
Hi, @publiclab/reviewers -- thanks for all the hard work 🙌  this past week. I'm thinking about how many contributions are coming in (it's been amazing to see, and lots of first-timers-only issues too!) and I was trying to think of how we can streamline our process more so that PRs don't pile up as much.

What do people think? Could we use some more labels, like `review-me` or `add-code-links` or s

[2018-02-05 14:36] SidharthBansal commented on #2231
I will say we should use the "ready" label pr needs to be reviewed. If a person is working on the pr but not yet ready to be viewed he/she can put a "in progress" label. If he/she wants any help then "help-wanted" that way we can easily sort the prs.
Also, about the issues, we can use "wontfix", "help wanted", "discussion" like tags so that if there is help wanted it means the person is stuck and

[2018-02-05 14:38] SidharthBansal commented on #2231
And contributors have problem whether the work on the issue is going on or not. It can be done by the assign feature of github.

[2018-02-05 15:39] Gauravano commented on #2231
Hi @jywarren,idea about `review-me` and `add-more-links` tags sounds good.The reviewing checklist is a great idea that would benefit us and new contributors too as it will enhance good coding practices and ensure that all necessary steps are taken.
 I think relative PR title should be compulsory as it gives an idea about the related issue.
Some Ideas:
1. We should encourage contributors to attach

[2018-02-05 15:46] SidharthBansal commented on #2231
yeah, PR title is a must.

[2018-02-05 15:58] jywarren commented on #2209
yes, fantastic!!! :-)

On Sun, Feb 4, 2018 at 7:10 AM, Vidit <notifications@github.com> wrote:

[2018-02-05 15:59] jywarren commented on #2224
uh oh! I think that's supposed to be `.length.positive?` -- to make sure
it's more than zero!

Can you open a PR for this? This is pretty urgent!

Great catch!

On Sun, Feb 4, 2018 at 6:19 AM, Rishabh Singh <notifications@github.com>
wrote:

[2018-02-05 16:03] jywarren commented on #2230
Done, thank you!!!

[2018-02-05 16:18] jywarren commented on #153
I think I've hooked this up now via IFTTT --

https://publiclab.org/notes/imvec/02-04-2018/hack-the-earth-6th-edition-open-call generated an event although it seemed to be one day early...

We should be able to just add an `event:rsvp` and `date:02-06-2018` to any note and wait a bit, then look on http://publiclab.org/events to see it appear.

[2018-02-05 16:24] ebarry commented on #2186
Thank you again for all your work @mridulnagpal ! This feature is elegant, and i love using it.

I'm wondering about typing place names, and if we should expect that any placename that has a search result in Google Maps would also have a search result in our location tagging system?

I found that when i type in `Barataria Bay` that the map does not move to that location, even though Google Maps it

[2018-02-05 16:26] jywarren commented on #2186
It also seems like there's an issue with the dropdown autocompletion - the demo properly shows suggestions:

https://publiclab.github.io/leaflet-blurred-location/examples/

![screenshot 2018-02-05 at 11 24 53 am](https://user-images.githubusercontent.com/24359/35815765-47b20f6e-0a67-11e8-80d7-0a9c38256334.png)

But i see errors on the PublicLab.org implementation:

[code]

[2018-02-05 16:26] jywarren commented on #2186
And no dropdown.

[2018-02-05 16:33] jywarren opened #2234 "Digest should show why something has been updated in the past week"
https://publiclab.org/subscriptions/digest now shows (to logged-in people) a list of things updated in the past week that you subscribe to. But for many of them, it's not clear why they're in the list. It doesn't look like the authors of several of these actually updated their posts.

![screenshot 2018-02-05 at 11 28 27 am](https://user-images.githubusercontent.com/24359/35815973-b484d478-0a67-11e

[2018-02-05 16:34] SidharthBansal commented on #2231
One more thing, @jywarren would you mind if contributors may ask the first review from other reviewers and then the final review from you for some Pull Requests. This may decrease your work for certain prs. Like I had the #2213 pr, I was knowing that @sagarpreet-chadha is currently working on it so he can also guide me when you are busy.
This will also add a boost to time saving.

[2018-02-05 16:34] rishabhptr commented on #2224
@jywarren I have #2225  open for this where I was using .any? to check if any relation exists but 'length.positive?' works too , so I have updated the pr :smile: .

[2018-02-05 16:39] #2216 closed

[2018-02-05 16:39] #2013 closed

[2018-02-05 16:46] #2181 closed

[2018-02-05 16:47] Gauravano commented on #2234
Hi @jywarren, I can let you know if by any way we can skip those nodes with tag addition changes by running few tests.Otherwise, we can add only those nodes which are created in past week like you said which will be more definite and will highlight only new content. This will be awesome once completed with notification.Can I work on this?

[2018-02-05 16:53] #2224 closed

[2018-02-05 16:54] jywarren commented on #2224
awesome, thank you!

On Mon, Feb 5, 2018 at 11:34 AM, Rishabh Singh <notifications@github.com>
wrote:

[2018-02-05 17:10] SidharthBansal commented on #2172
I have cloned the repo. For time being it is working fine. So closing it

[2018-02-05 18:15] Gauravano commented on #2231
Nice idea @SidharthBansal.It will surely save time spent on finalizing PR.

[2018-02-05 19:56] jywarren commented on #2231
This is all great -- thanks for your thoughts! One thing is, GH doesn't let you self-assign, which is weird, unless you're a project contributor (like @publiclab/reviewers) -- but there are some bots we can install to make that happen.

One thing we could do is make a list of common labels and when to use them -- say, on a page on PublicLab.org/wiki/code-labels for example -- and maybe grouped by

[2018-02-05 20:22] #2099 closed

[2018-02-05 20:40] jywarren commented on #2172
ok! that's good to hear but we can come back here if it comes up again.
Thanks!

On Mon, Feb 5, 2018 at 12:10 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-02-05 20:42] #2196 closed

[2018-02-05 20:55] jywarren commented on #2099
Hi, i think we already notify for new answers and comments, but we have
been interested in a "welcome email" feature for when people sign up for
the site initially. Would you wan to make a new issue for that and we can
try to draft what such an email should include?

Thanks, Gaurav!

On Sun, Feb 4, 2018 at 1:54 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-02-05 21:00] Gauravano commented on #2099
I am definitely interested in taking this one.Thanks, Jeff.

[2018-02-05 21:55] jywarren commented on #2234
sure, that sounds great, and thanks!

On Mon, Feb 5, 2018 at 11:47 AM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-02-05 22:06] namangupta01 opened #2237 "non-unique username and password id"
After going on page https://publiclab.org/signup if we open browser console we are getting error saying `non unique id` this is coming because we have a sign-up form on the page body and login page on the header and both have forms which are using same ids. `#username` `#password
`
Where to go: https://publiclab.org/signup

![screen shot 2018-02-06 at 3 30 32 am](https://user-images.githubusercont

[2018-02-05 22:24] Gauravano opened #2241 "Email for welcoming newcomer at time of Sign up"
Welcome Email should be sent to a newcomer at time of Sign up.The content of Email can include a brief about the PublicLabs, about exploring website features, etc.We can also include in mail links which are shown on Dashboard of the newcomer.Current mail sent at sign up prompts user to join Gooogle group looks like this:-
![join_mail](https://user-images.githubusercontent.com/20878070/35831727-c12

[2018-02-05 22:29] jywarren opened #2242 "Google Calendar integration is one day early"
### Please describe the problem (or idea)

I posted this note with assoc. power tag for the date:

https://publiclab.org/notes/warren/02-05-2018/local-environmental-action-2018-in-boston

The RSS feed generated:

https://publiclab.org/feed/tag/event:*.rss

From this code:

https://github.com/publiclab/plots2/blob/master/app/views/tag/rss.rss.builder

...is read by IFTTT.com and put on our Google c

[2018-02-05 22:30] ebarry opened #2243 "bug: upon re-checking the "blur my location" box, the red square malfunctions"
### Please describe the problem

This is a bug related to Geographic Features https://github.com/publiclab/plots2/issues/1416

I used the "Link with location" feature:
- I navigated to the location i was interested in
- i browsed with the default of "blur my location"
- i unchecked "blue my location"
- i re-checked the default "blur my location -- and that's when the problem occurred: the red squa

[2018-02-05 22:32] jywarren commented on #2243
Hi, this is an issue with https://github.com/publiclab/leaflet-blurred-location/ -- a library used on this site. It could be helpful to post over there!

[2018-02-05 22:56] jywarren commented on #2219
I'm open to this, but it sounded like it could take some significant work
to refactor our tests for RSpec -- do you know how much work it would be?

On Sat, Feb 3, 2018 at 2:46 PM, Naman Gupta <notifications@github.com>
wrote:

[2018-02-05 22:56] jywarren commented on #2148
sure! thank you!

On Sat, Feb 3, 2018 at 3:20 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2018-02-05 22:58] jywarren commented on #2201
This sounds pretty good -- there may also be a `getCurrentBounds()` method you could use? or `getCenter`?

We could actually clear all markers and add new ones, doing both on the moment of getting a response from the server.

[2018-02-05 22:59] jywarren commented on #2193
i don't know that we do... but didn't someone just implement "content by
tag for author" for various types? Maybe that could be extended? I don't
know that we list wiki page revisions in general, actually! Like, there may
not be a list page for that.

On Fri, Feb 2, 2018 at 6:30 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-02-05 23:01] jywarren commented on #2099
awesome!!!

On Mon, Feb 5, 2018 at 4:00 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-02-06 00:50] SidharthBansal commented on #2193
I have implemented that....you may have forgotten that.
That could be extended that would be great. One more tab there.
Or shall we need to create a page like /wiki which is for all authors
Or we need to create both as we have for contributors?
@jywarren

[2018-02-06 00:56] jywarren commented on #2193
:-) I thought you had! It's been a blizzard of PRs :-)

On Feb 5, 2018 7:51 PM, "Sidharth Bansal" <notifications@github.com> wrote:

[2018-02-06 05:55] sagarpreet-chadha commented on #2230
Opened PR #2245  and attempted to write a  wiki here : [https://publiclab.org/wiki/location-privacy](https://publiclab.org/wiki/location-privacy) 🎈 😄 .

[2018-02-06 06:36] sagarpreet-chadha commented on #2201
Hi @jywarren , makes sense . I would like to work on this :-)

[2018-02-06 06:45] ViditChitkara opened #2246 "Banned users not visible on /people page"
Banned users are currently not visible on /people page. It should at least be visible to admin or moderators.
![lists-page-1](https://user-images.githubusercontent.com/22616017/35845196-48d0eb7e-0b37-11e8-91da-0509e5d8adf9.jpg)
A user named 'user' is banned but not visible here

[2018-02-06 10:18] sagarpreet-chadha opened #2248 "Infinite scroll of map and panning out of map boundaries ."
# Describe the problem (or idea) :

The maps (for example at http://publiclab.org/people) on scrolling left/right adds new layer and the **map scrolling becomes infinite** .

And also we can **drag the map out of its boundaries** .

## SOLUTION :

#### Lets make boundaries for the map so that we can restrict out of bound scrolling and dragging of map .

![giphy](https://user-images.githubuserconte

[2018-02-06 12:12] namangupta01 opened #2250 "Scroll to top"
### Please describe the problem (or idea)
It would be a good user experience to have a scroll to top button in bottom which will take the user to top of the page directly and we can also add animations to it to make it look better.

[2018-02-06 12:19] namangupta01 commented on #2219
Hey @jywarren
Yes, it would require a significant amount (a lot ) of work. But we can can implement it slowly on different branch so that our current branch don't get break until it gets complete.

[2018-02-06 12:55] namangupta01 opened #2252 "Follow popover"
### Please describe the problem (or idea)
On page https://publiclab.org/contributors/question:spectral-workbench we have a list of contributors and above the list we have a icon to view the list of all the people who have followed this tag. When we click on the icon, the list popover but when we scroll the list to go down in the page, popover goes above the header whereas it should go downward.

H

[2018-02-06 14:44] jywarren commented on #2231
OK awesome -- so just for starters:

## Issue labels

* `more-detail-please` - we need more information before we can start coding on this. Ask @publiclab/community-reps (or something... i can make this group maybe for @ebarry and @steviepubliclab and others who know the broader community well?)
* `break-me-up` - this could and should be broken into smaller, self-contained projects, for cleaner co

[2018-02-06 14:56] sagarpreet-chadha opened #2254 "inline-map , [map:tag:_tagname_:_latitude_:_longitude] showing incorrect nodes ."
### Please describe the problem (or idea)

Tested this here , [https://publiclab.org/wiki/test-wiki-page](https://publiclab.org/wiki/test-wiki-page) , [map:tag:_tagname_:_latitude_:_longitude] is showing incorrect nodes .

 It is because we are calling our API in `/_leaflet.html.erb` which gives all the nearby_nodes using `_latitude_` and `_longitude` and does not consider `tagname` .

### Possibl

[2018-02-06 14:58] sagarpreet-chadha commented on #2254
@jywarren , how should i approach this issue ? Thanks 😄  !

[2018-02-06 15:37] Gauravano commented on #2254
Hi @sagarpreet-chadha, actually while making this API, I highlighted this issue to @jywarren as mentioned in #1934, as this API has been successful I think we should make a new API which incorporates tag.I would be happy to make API for this if you want help :sweat_smile:.Thanks

[2018-02-06 15:48] jywarren commented on #2248
This'll be a project with http://leafletjs.com and our various Leaflet templates (can we consolidate these at all?)

[2018-02-06 15:54] #2230 closed

[2018-02-06 16:17] jywarren opened #2256 "500 error on posting an answer"
### Please describe the problem (or idea)

I pressed Publish on an answer here:

https://publiclab.org/questions/warren/01-17-2018/what-are-materials-we-could-include-in-a-kite-making-materials-pack

The text I posted was:

[code]

I wonder if the 1/8 caused this? Weird character?

[2018-02-06 16:22] namangupta01 commented on #2256
Yes 1/8 caused the problem because i tied to post without 1/8 and it was posted.

[2018-02-06 16:22] jywarren commented on #2256
Indeed! Changing the 1/8 to just `1/8` instead of the fraction format didn't cause an error! Maybe we need some kind of encoding protection to filter posts for this kind of thing?

[2018-02-06 16:30] jywarren commented on #2231
Also, some of this checklist could be made (with friendliness) easier with a Dangerfile script: http://danger.systems/ruby/

Like:

* Warn when library files has been updated but not tests.
* maybe asking for a screenshot if there is a change to `/views/`?

Cool and also helpful:

[code]

http://danger.systems/reference.html

[2018-02-06 16:34] ViditChitkara commented on #2231
This is cool. Maybe keeping the lines to 200 would be good. Isn't 500 a bit much?

[2018-02-06 16:35] jywarren commented on #2231
^ agreed, that was just the example!

[2018-02-06 16:38] ViditChitkara commented on #2231
:+1:

[2018-02-06 16:40] SidharthBansal commented on #2231
This is cool.

[2018-02-06 17:35] SidharthBansal opened #2258 "Pagination broken at /research"
The pagination is in accordance to the research section always. It does not change to the events section pagination on clicking on the events.
![image](https://user-images.githubusercontent.com/20972099/35874266-13cc729e-0b92-11e8-974c-517526a20a80.png)
Eventhough we have only 3 events it showed us n pages because here n pages are required for r research notes.

[2018-02-06 17:50] sagarpreet-chadha commented on #2248
Hi @jywarren ,
`setMaxBounds(<Bounds> bounds)` solves this issue . We may need to add this to all the leaflet maps . What do you think ?

Here , [http://leafletjs.com/reference-1.3.0.html#map-setmaxbounds](http://leafletjs.com/reference-1.3.0.html#map-setmaxbounds) .

[2018-02-06 18:02] jywarren commented on #2224
Actually shall we create a test for this method, so we don't miss this again?

[2018-02-06 18:08] rishabhptr commented on #2224
@jywarren Yes , I'd love to help! :)

[2018-02-06 18:09] jywarren commented on #2224
That'd be great -- here's the file where it ought to go -- we don't have a lot of tests in there! https://github.com/publiclab/plots2/blob/master/test/functional/subscription_controller_test.rb

If you want to open a new issue for this that'd be great, or just go for a PR -- either way! Thank you so much! 👍

[2018-02-06 18:12] Gauravano commented on #2028
I want to confirm @jywarren that whether we need to send email to all the people present on that thread or only to the user who has been added as a co-author ?

[2018-02-06 18:20] first-timers[bot] opened #2260 "Insert a "feature" block and tidy up JavaScript This change inserts a "feature" fixing #2110 but also cleans up the JavaScript formatting a bit. Relatively simple changes!"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-02-06 18:22] jywarren commented on #2110
Made into a first-timers issue in #2260 !

[2018-02-06 18:22] #2110 closed

[2018-02-06 18:26] Souravirus commented on #2214
@sagarpreet-chadha Please assign this bug to me

[2018-02-06 18:26] first-timers[bot] opened #2261 "Add a "feature" block to our signup form so we can customize it at http://publiclab.org/signup"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-02-06 18:27] jywarren commented on #208
Made this into a first-timers-only issue at #2261 !!

[2018-02-06 18:27] #208 closed

[2018-02-06 18:31] jywarren commented on #2179
This would be great -- did your PR #2226 work out? Thank you!!!

[2018-02-06 18:39] ViditChitkara opened #2262 "Count of research notes and comments missing on profile page"
![pp-1](https://user-images.githubusercontent.com/22616017/35877355-149149b2-0b9b-11e8-807a-28d2fca9f7f7.jpg)
We should add the count of research notes and comments in the tab panel

[2018-02-06 18:42] Gauravano commented on #2179
Hi Jeff, #2226 is an issue opened by @rishabhptr but closed after he noticed that the same issue already exists here, so I guess this issue is open to be claimed.Thanks

[2018-02-06 18:50] jywarren commented on #2179
ah, sorry i assumed it was a PR but that makes sense. This issue could use
a bit more detail and I bet we can find someone to fix it! Thanks!

On Tue, Feb 6, 2018 at 1:42 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-02-06 18:51] jywarren commented on #2262
Agreed! Although this is getting quite crowded -- could we hide the text
names and just show the counts, when the screen is too narrow? Using
`hidden-xs hidden-md` and such from Bootstrap styles?

On Tue, Feb 6, 2018 at 1:39 PM, Vidit <notifications@github.com> wrote:

[2018-02-06 18:51] jywarren commented on #2028
Only to the co-author -- good question! Thanks!

On Tue, Feb 6, 2018 at 1:12 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-02-06 18:56] Gauravano commented on #2028
Thanks for clarifying Jeff

[2018-02-06 18:58] Gauravano commented on #2179
I can try fixing this.What you say?

[2018-02-06 19:20] sagarpreet-chadha commented on #2214
Hi @Souravirus , you may go ahead 😄 ! Thanks !

[2018-02-06 19:23] ViditChitkara commented on #2262
Yes, that needs to be taken care of. I noticed that the icons are not properly aligned on small screen.
![mobile-profile-1](https://user-images.githubusercontent.com/22616017/35879220-a9499352-0ba0-11e8-8c7e-7e7c72216d48.jpg)
We also need to find icons for Research and co-authored tabs since it is looking a bit untidy on mobile site. Does this make sense?

[2018-02-06 19:48] jywarren commented on #2179
sure, that'd be great, thanks!!

On Tue, Feb 6, 2018 at 1:58 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-02-06 19:49] jywarren commented on #2219
is it an all-or-nothing kind of change? Like, we couldn't gradually port
things into RSpec?

On Tue, Feb 6, 2018 at 7:19 AM, Naman Gupta <notifications@github.com>
wrote:

[2018-02-06 20:09] jywarren commented on #2179
Ah, but is this a duplicate of #2178?

[2018-02-06 20:10] jywarren commented on #2179
I think it is! Merging this then. Thanks!

[2018-02-06 20:10] #2179 closed

[2018-02-06 20:18] mimilettd commented on #2260
Hello! This is my first time contributing to open-source and I would love to take on this issue. I'll be in touch should I have any questions and if all goes well, will have a PR for you to review soon. Thanks!

[2018-02-06 20:21] jywarren commented on #2260
that's awesome and thank you! We're here to help if you need anything!

On Tue, Feb 6, 2018 at 3:18 PM, Mimi Le <notifications@github.com> wrote:

[2018-02-07 00:15] nethanelkohen commented on #2261
I'm a first timer and would love to take this issue on!

[2018-02-07 12:39] ryzokuken commented on #2231
Sorry for not being able to catch up with this one, @jywarren. But I was wondering if we could adopt a commit and/or PR naming scheme? That makes things a lot easier, especially when you're parsing stuff visually, say, in a `git blame`.

For example, a snippet from https://github.com/atom/atom/blob/master/CONTRIBUTING.md:

---

### Git Commit Messages

* Use the present tense ("Add feature" not "A

[2018-02-07 16:42] SidharthBansal commented on #2173
@ViditChitkara thanks for opening #2262 and doing  #2263.
@ViditChitkara Please notify me if you are working on some part of the issue. I was done with the counts on profile page but you pushed the changes so that others will not work on it.

[2018-02-07 16:49] SidharthBansal commented on #2173
@jywarren is anyone else working on remaining parts of these sub issues?

[2018-02-07 16:59] ViditChitkara commented on #2173
@SidharthBansal I didn't really had an idea that you were working on it. I just saw an untidy navbar while browsing on the mobile site and sent a patch for the same. Had I known someone was working on it, I would have been more than happy. Will take care about this in the future

[2018-02-07 17:09] Souravirus commented on #2214
@sagarpreet-chadha Please review the pr

[2018-02-07 17:14] SidharthBansal commented on #2173
No problem, btw great catch.

[2018-02-07 18:14] SidharthBansal opened #2271 "Missing pagination for answered questions under profile page"
### Please describe the problem (or idea)
On https://publiclab.org/profile/warren under questions tab, on clicking answered the page shows all the answered questions instead of some and paginating others

[2018-02-07 18:31] SidharthBansal commented on #2231
@jywarren can you please disable the feature of adding in progress as soon as one sends a pr?
Many a times it happens that the contributor may want review me or help wanted  or add code links?
It will reduce time of the contributors as they can easily tag things according to them
The in-progress tag is only appearing for the reviewers team, I guess

[2018-02-07 18:36] SidharthBansal opened #2272 "Duplicate errors in questions"
### Please describe the problem (or idea)
When a person asks question which have an existing title
![image](https://user-images.githubusercontent.com/20972099/35933144-bfc615aa-0c5f-11e8-9fce-817a9aa88b3f.png)

[2018-02-07 19:01] SidharthBansal commented on #2172
Again errors have come on the git pull.
I have seen that the errors go after some hours after the git pull many times

[2018-02-07 19:09] SidharthBansal commented on #2272
@jywarren thanks for assigning it to me

[2018-02-07 20:03] steviepubliclab commented on #129
Oh wow. This looks great. I would be excited to see any of it!
-Stevie

On Wed, Jan 24, 2018 at 7:21 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-02-07 20:12] Gauravano commented on #129
Hi @jywarren @steviepubliclab Can I work on this?

[2018-02-07 20:12] jywarren commented on #2261
Oh please, that would be great! Thank you!

On Tue, Feb 6, 2018 at 7:15 PM, Nethanel Kohen <notifications@github.com>
wrote:

[2018-02-07 20:29] shapironick opened #2274 "Rich text editor adds "/" in front of headers (ie '/##header text')"
This makes the "##" header markdown not work.

Other issues with the note editor are:

- formatting bar stays at the bottom making it very tedious to do formatting in a long research note
-no way to center text or photos
-often in long notes the editor frame will snap to a section that I am not editing (particularly when I hit enter or add an image) which can be frustrating on top of the other edi

[2018-02-07 20:39] namangupta01 opened #2275 "Add search validation for Wiki Sidebar Search"
### Please describe the problem (or idea)

Currently, user can search with no text in wiki sidebar search.
Look here: https://publiclab.org/dashboard
So we can add client-side validation for it so that user can't search with empty input.

[2018-02-07 20:41] namangupta01 commented on #2275
![screen shot 2018-02-08 at 2 01 57 am](https://user-images.githubusercontent.com/20709985/35940474-49cfe40a-0c75-11e8-9724-cd2e06cdb604.png)

[2018-02-07 20:46] namangupta01 opened #2277 "Add notifications via Ajax Calls with Noty"
### Please describe the problem (or idea)
Currently, when we make ajax calls we don't receive any notification.
For example : When user like anything the notification can pop up saying `Liked!`
Or when we post an answer notification can be `Answer Posted!`.
There are variety of library that we can use for this. But i personally like Noty JS.
Noty JS is also present in ruby gem form.

[2018-02-07 20:48] namangupta01 commented on #2219
No, we can do it in parts!

[2018-02-07 21:06] steviepubliclab commented on #129
Absolutely! I'm not going to be able to offer any coding support on this
(non-coder) and jywarren is away for the week- but if you have some ideas
on moving forward please!

-Stevie

On Wed, Feb 7, 2018 at 2:12 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-02-07 21:37] Gauravano commented on #2234
Hi @jywarren after running some tests, I have solved the problem of inclusion of wiki in digest on just tag addition.It's ready, but I think if we want to send the digest to a user via email we should include new wikis only. I have both branches ready for edited page only and newly created wiki.Please suggest with which should I raise PR. Thanks.

[2018-02-08 06:03] Souravirus commented on #2206
I want to work on this bug. So please assign this to me @Gauravano

[2018-02-08 15:34] jywarren opened #2278 "Record peoples' timezones"
We should record peoples' time zones automatically because we're going to need to:

* send email notifications at a fixed local time (say, 5pm or 8am) when we start sending daily or weekly digests (see #1421 and others in this milestone)
* resolve #2242 (google calendar integration) by using the node author's default local timezone unless one is specified (currently events are posted to GCal 1 day

[2018-02-08 17:04] #2271 closed

[2018-02-08 17:17] jywarren commented on #2231
@SidharthBansal - i have to admit, I'm not sure what's doing that. I don't think I enabled any automated labeling systems, to be honest! I'm a little embarrassed that I don't know what's triggering it. I turned on the GitMate bot for https://github.com/publiclab/image-sequencer/ but not here.

I'll have to look into it because i do think some label automation is helpful, if we can figure out how t

[2018-02-08 17:19] jywarren commented on #2231
and @ryzokuken I love this idea. When/where would we post such suggestions? Would Dangerbot help with this? Perhaps the PR title is the area we refine it, and then we can copy that title into the squashed commit message?

[2018-02-08 17:25] jywarren opened #2280 "PL Web Working Group Update posted"
Hi, just a quick update -- I try to post monthly updates to https://publiclab.org/tag/wwg and since I've been building out our Software Outreach pages and blog recently, I hadn't written one in a while. But I just did this past week -- take a look!

https://publiclab.org/notes/warren/02-05-2018/web-working-group-update-21-january-2018

![](https://publiclab.org/system/images/photos/000/023/455/med

[2018-02-08 21:02] us241098 commented on #2261
i am a first timer can i work on it

[2018-02-09 01:17] taibayard opened #2281 "No initial check for valid email on password reset"
### Please describe the problem (or idea)

Adding a check on password reset to test invalid email

Will prevent the form from submitting invalid email types.

"Error invalid email"

### Please show us where to look

https://publiclab.org/reset/

[2018-02-09 03:42] fevergclub opened #2282 "gclubfever หนทางรวยรูปแบบใหม่ คาสิโนมือถือ"
ยินดีต้อนรับเข้าสู่เว็บพนันคาสิโนออนไลน์ gclubfever เว็บไซต์ที่เปิดเดิมพันแบบไม่มีขั้นต่ำ พร้อมทางเข้าเกมส์ยอดฮิตอย่างบาคาร่า baccarat ไฮโล sicbo สมัครสมาชิกใหม่รับทันทีโบนัส 100%

[2018-02-09 04:03] ryzokuken commented on #2282
Reported. GitHub's spam filter did detect, something so I guess they're working in this direction now.

[2018-02-09 04:03] #2282 closed

[2018-02-09 06:56] Gauravano commented on #2261
Hi @us241098 , we'd love your help but I think @nethanelkohen  is currently working on this issue. Please check this list of issues: https://publiclab.github.io/community-toolbox/ and if you can't find any there, then ping here I would create one for you.Thanks.

[2018-02-09 07:10] us241098 commented on #2228
Hi i am a firs timer and interested in fixing this :)

[2018-02-09 07:13] g33kyshivam commented on #2228
Hey! Can I take up this issue? I'm a first timer!

[2018-02-09 07:26] g33kyshivam commented on #2228
Instead of scrolling down, I think direct focus on the input field is much better.
`<a href='javascript: document.querySelector('.tag-input').focus();'>adding descriptive tags below</a>`

[2018-02-09 08:38] sagarpreet-chadha commented on #2228
Hi , either one of you can go ahead 👍 . Thank you !

If you are looking for more first-timer issues [https://github.com/publiclab/plots2/labels/fto-candidate](https://github.com/publiclab/plots2/labels/fto-candidate)  😄  .

[2018-02-09 11:08] ashubly25 commented on #2261
I want to take this issue if the person could not be able to do it.

[2018-02-09 11:46] rishabhptr opened #2285 "Add test for a user subscribing to a tag"
### Please describe the problem (or idea)

Add test for /subscribe/'tag-name' to check user is able to successfully be subscribed to any tag.

[2018-02-09 14:28] ViditChitkara opened #2287 "Search bar not properly working"
![search-error-1](https://user-images.githubusercontent.com/22616017/36031984-85ae17c2-0dd2-11e8-98e9-3f2bed7ce1af.jpg)
Steps to reproduce:-
1) Type something in the searchbar
2) Click on the search icon just right to the search input (should actually redirect to /search/ with the search results)
3) Shows a validation message saying "Please! Type something to search"

[2018-02-09 16:37] James-N-M commented on #2220
Hey @ryzokuken Id like to take on this issue, Im a first timer so Ill need additional links and information on how to tackle this. @Gauravano what do you think about this one for me ?

[2018-02-09 21:12] Gauravano opened #2289 "Share buttons not aligned"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people f

[2018-02-09 21:19] Gauravano commented on #2220
Hi @James-N-M , you can start with #2289.Thanks.

[2018-02-09 22:47] ryzokuken commented on #2220
@James-N-M this is a pretty simple one as well, all you need to do it perform a full-codebase search for the undesirable pattern and replace it with the desirable one. Wouldn't take a lot of time or effort, this I tagged this as a good FTO candidate. (Hint: All the of the cases lie inside the `i18n` test file, so you can also just do a single file search-and-replace).

[2018-02-10 04:50] BigFun76 commented on #2289
Has this been resolved?

[2018-02-10 05:37] James-N-M commented on #2220
Awesome ! Thanks guys I’m on it

[2018-02-10 05:39] James-N-M commented on #2289
I’ll claim this as well ! Since you tagged in it earlier

[2018-02-10 05:43] ViditChitkara commented on #2289
@BigFun76 , no this isn't resolved yet
Either one of you could resolve it!!

[2018-02-10 05:57] BigFun76 commented on #2289
OK. First-timer here. Still trying to figure out how it all works. Thanks.

[2018-02-10 05:59] ViditChitkara commented on #2289
Cool, you could look into the file mentioned by @Gauravano for fixing the bug.

[2018-02-10 15:36] Shadlimitless commented on #2289
Has this issue been closed? First timer here

[2018-02-10 16:09] BigFun76 commented on #2289
Sorry everyone, I figured out how to clone this to my laptop and edit the file. However, I do not know how to run it to see if the changes work. I don't have any experience with Ruby, so maybe someone else should take this one on and I can find something else.

[2018-02-10 16:20] Gauravano commented on #2289
Hi @BigFun76, you can follow installation steps https://github.com/publiclab/plots2#installation and still face any issue regarding running, we would surely help you.

[2018-02-10 16:20] BigFun76 commented on #2289
Thanks

[2018-02-10 16:46] BigFun76 commented on #2289
OK, I have submitted a PR. Not sure if it is exactly what you were wanting. At least I now understand the process a little better. Next step is being better with the actual code.

Thanks again everyone!

[2018-02-10 18:14] Shadlimitless commented on #2289
@ViditChitkara thanks ! Let me look for another open issue :-)

[2018-02-10 18:59] BigFun76 commented on #2289
I will need to let someone else handle this issue. I am in over my head on some of the logistics for Ruby, etc. and don’t know when I’ll have time to sort through them. Sorry everyone.

[2018-02-10 19:10] Shadlimitless commented on #2289
Id like to pick this up, following the instructions on cloning from @Gauravano

[2018-02-10 19:26] ViditChitkara commented on #2289
@Shadlimitless cool, go ahead!
No worries @BigFun76 you could ping us if you need any kind of help!

[2018-02-11 11:21] SidharthBansal opened #2294 "Alignment of Read more button"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people f

[2018-02-11 11:23] SidharthBansal commented on #2173
#2294 is also a part of profile pages

[2018-02-11 14:20] ViditChitkara opened #2295 "Unexpected behaviour of "notes" link on the dashboard welcome line"
### Please describe the problem (or idea)

![home-page-1](https://user-images.githubusercontent.com/22616017/36074249-8cc5c0a4-0f63-11e8-9241-7441d8bb2d1c.jpg)
The link associated with "1 notes" in the above screenshot redirects to the dashboard page which is quite unexpected.

There should be a separate recent notes page just like popular notes as shown in the following screenshot:-
![popular-1](

[2018-02-11 14:23] ViditChitkara commented on #2295
Working in #2296

[2018-02-11 17:05] ViditChitkara opened #2298 "Like count error on profile page"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people f

[2018-02-11 17:09] jywarren commented on #2068
https://frappe.github.io/charts/ is really nice and has several github type charts!

[2018-02-11 17:26] claudiaaw commented on #2298
Hi! I'm a first timer and I would love to try this out please! Apologies if I might take some time on this one as I understand there is an installation process to run the code.

[2018-02-11 19:32] SidharthBansal commented on #2295
Great catch

[2018-02-11 20:10] SidharthBansal opened #2299 "Add glyphicons to notes page"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people f

[2018-02-11 20:36] SidharthBansal opened #2300 "Remove link to /lists from sidebars"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-02-11 21:19] SidharthBansal opened #2301 "Research and dashboard urls inconsistencies"
### Please describe the problem (or idea)
A user who is logged in can access both research and dashboard page but sees the same content on both pages.
A user who is not logged in sees different contents on both the pages.
A user who is not logged in is able to access the dashboard

A user who is logged in should see the dashboard and a user not logged in should see the research page. In case of us

[2018-02-11 22:31] James-N-M commented on #2220
@ryzokuken Hey man so the error that the travis tests is getting back to me is There was an error with Danger bot’s Junit parsing: undefined method `[]’ for nil:NilClass. Also im having some trouble installing and running the application on my machine. can you point me in the direction to some different or new instructions to do this ?? I must be missing something on my computer, i have rails ruby

[2018-02-11 22:36] James-N-M commented on #2220
@ryzokuken https://github.com/James-N-M/plots2/commits/master to see my commits that I tried, maybe its cause I couldn't get the app running but yes, maybe you or @Gauravano can help me with that.

[2018-02-12 10:59] Gauravano commented on #2220
Hi @James-N-M make sure to follow the steps mentioned in https://github.com/Gauravano/plots2#installation .Thanks.

[2018-02-12 11:35] Gauravano opened #2304 "PLANNING ISSUE: Spam comments moderation"
A user when banned by moderators, the alert text said that banning the author would remove all their content from the site -- but it did not. This is a bug.So, for handling this a comment moderation system needs to be built as discussed in #1785 .

* [x] make a "status" column for comments, default `1`, spam = `0`
* [x] make a "spam" method like this, that only moderators or admins can use (`user.

[2018-02-12 11:51] Souravirus commented on #2281
I want to work on this @taibayard

[2018-02-12 11:59] Gauravano commented on #1785
Opened in #2304

[2018-02-12 11:59] #1785 closed

[2018-02-12 12:08] Gauravano commented on #2304
Hi, @jywarren as per the first part status column needs to be added but it's already there with the default value of 0 (for published). So, I am starting with 2nd part and giving spam comment as status = 2.

[2018-02-12 14:56] AndyCodez commented on #2299
I'd like to work on this.

[2018-02-12 15:02] Diksha2008 commented on #1785
@Gauravano sorry for the late reply
Sure we can work that way!

[2018-02-12 15:03] Gauravano commented on #1785
Great

[2018-02-12 15:18] Gauravano commented on #2299
That's great @AndyCodez, you can start.

[2018-02-12 16:07] Gauravano opened #2307 "PLANNING ISSUE : Unpublished draft of research note for review by participants"
Steps for implementation of the draft feature as suggested by @jywarren in #129 are :

* [x] making a `draft` status (maybe status = 3?) for nodes (not wiki pages), which makes it not visible to anyone but the author.
* [x] a POST parameter like `draft=true` to bypass most of [the "create" method in the notes_controller](https://github.com/publiclab/plots2/blob/master/app/controllers/notes_control

[2018-02-12 16:13] Gauravano commented on #129
Opened in #2304

[2018-02-12 16:13] #129 closed

[2018-02-12 16:22] f3mshep commented on #2300
I am working on a pull request for this issue. This will be my first contribution to open source!

[2018-02-12 16:25] Gauravano commented on #2300
That's great @f3mshep.You can ask here if you want any help.

[2018-02-12 16:36] ebarry opened #2309 "Profile pages need count of comments"
### Please describe the problem (or idea)

Profile pages do not show a count of comments, not even a (0), just no count at all.

<img width="1173" alt="screen shot 2018-02-12 at 11 33 13 am" src="https://user-images.githubusercontent.com/161439/36107610-9bd9ca56-0fe8-11e8-975f-5c3aad225329.png">

I expected to see a number inside of parentheses after Comments, in this case `Comments (2)`

### Plea

[2018-02-12 16:39] ViditChitkara commented on #2309
Hi Liz, this would be done once #2263 is merged!! . 😃😃

[2018-02-12 16:41] ViditChitkara commented on #2309
I have also added count of research notes along with minor UI tweaks for this navbar!!😄😄

[2018-02-12 16:51] ebarry commented on #2309
awesome!!!!

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Mon, Feb 12, 2018 at 11:41 AM, Vidit <notifications@github.com> wrote:

[2018-02-12 17:40] ebarry commented on #2122
Exciting! This is still an outstanding bug, it would be great to have this fixed!

[2018-02-12 18:45] ViditChitkara opened #2310 "Wiki pages with 0 likes not shown on '/wiki/liked' page (sorted by no. of likes)"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people f

[2018-02-12 18:56] jsmayo commented on #2310
Hmm, I'll give it a go :]

[2018-02-12 18:57] ViditChitkara commented on #2310
Cool! Go ahead!!

On Feb 13, 2018 12:26 AM, "Steven" <notifications@github.com> wrote:

[2018-02-12 19:15] jsmayo commented on #2310
I think I did it.. still kinda fuzzy on the whole process :S

[2018-02-12 19:19] f3mshep commented on #2300
I removed the specified lines of code and the partial file itself, do I also need to alter the test to reflect the changes?

[2018-02-12 19:23] Gauravano commented on #2300
no @f3mshep that's not required as it's First timer issue so all steps are mentioned

[2018-02-12 19:47] ViditChitkara commented on #2310
No problems!! I'm happy to help wherever you feel you are stuck!

On Feb 13, 2018 12:45 AM, "Steven" <notifications@github.com> wrote:

[2018-02-12 19:56] f3mshep commented on #2300
@Gauravano I just submitted a PR from a uniquely named feature branch. It is #2311. I mentioned in the PR that 8 tests fail since the partial has been removed.

[2018-02-12 21:23] f3mshep commented on #2300
@Gauravano I added the partial back in, but removed all references from the _user partial to the _list partial.

[2018-02-13 00:40] SidharthBansal opened #2313 "Add glyphicons to /questions page tabs"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people f

[2018-02-13 04:56] g33kyshivam commented on #2313
Hey! Can I take up this issue?

[2018-02-13 06:32] SidharthBansal commented on #2313
Yeah go for it

[2018-02-13 07:07] rachaelkiteme commented on #2122
Thank you Liz, am also thankful to have such a great bug. Am working on it,
case of any difficulties will let you know for assistance.

Thank you.

Regards
Rachael

On Mon, Feb 12, 2018 at 8:40 PM, Liz Barry <notifications@github.com> wrote:

[2018-02-13 08:16] noordean opened #2314 "Error on seeding the database"
### Please describe the problem (or idea)
I get the error shown below when I run `rake db:seed`

<img width="1277" alt="screen shot 2018-02-13 at 9 10 58 am" src="https://user-images.githubusercontent.com/14357823/36139611-828f6662-109e-11e8-97a8-dadeb61ddaeb.png">

[2018-02-13 09:00] 500swapnil commented on #683
@SidharthBansal Have you started with the Google Omniauth login? I would like to help with that!

[2018-02-13 11:20] noordean commented on #2314
Solved. I just realised that `rake db:setup` automatically runs `db:create`, `db:schema:load` and `db:seed`. So this is no more an issue. Thanks

[2018-02-13 11:20] #2314 closed

[2018-02-13 13:09] noordean commented on #2294
I would love to work on this task but I've not been able to replicate this error locally. This is what I have for ordinary user on my machine.
<img width="1280" alt="screen shot 2018-02-13 at 2 05 48 pm" src="https://user-images.githubusercontent.com/14357823/36151427-7253c274-10c7-11e8-86aa-6c4175d0a435.png">

[2018-02-13 13:19] ViditChitkara commented on #2294
Hey @noordean !! Actually the problem is not about research button but the "Read more" Button. Currently there isn't any research note of "user". All you need to do is create a research note (logged in as user)  and then view the profile.

[2018-02-13 13:25] ViditChitkara commented on #2310
@jsmayo could you please create a pull request of your changes here??

[2018-02-13 14:05] SidharthBansal commented on #2294
I am sorry, @ViditChitkara thanks for correcting me. It is actually read more.
@noordean you need to make research notes to see the listing

[2018-02-13 14:05] ViditChitkara commented on #2294
👍

[2018-02-13 14:10] noordean commented on #2294
Thanks @ViditChitkara and @SidharthBansal. I will get a PR up for this.

[2018-02-13 14:49] SidharthBansal commented on #683
Actually I was busy with solving the other issues on public lab and other college work. So, was unable to complete Facebook login. @jywarren may I write the oauth login as my Gsoc proposal??? @500swapnil the google github twitter login has to be made in consideration to the Facebook code. There are many places where otherwise redundant code will be present.

[2018-02-13 14:53] SidharthBansal commented on #683
@jywarren also it will be a big project.
Can you tell where is the wiki page to enlist the proposal?? Last time, I remember you reviewed the proposals before submission to google.

[2018-02-13 17:04] visheshruparelia commented on #2298
I want to take this up

[2018-02-13 17:06] ViditChitkara commented on #2298
Go ahead!!

[2018-02-13 17:10] g33kyshivam commented on #2313
@SidharthBansal Please have look at this screen-shot! If any icon doesn't matches with the tab, please let me know!
![screenshot_2018-02-13_22-37-00](https://user-images.githubusercontent.com/24518185/36163254-d2592a50-110e-11e8-8ba4-4b9f1120c0da.png)

[2018-02-13 17:12] visheshruparelia commented on #2298
I have one doubt tho, what does the 'likes' function above the function 'like_count' do in drupal_user modal? I mean if gets the list of all liked notes why won't the current code of 'like_count' work?

[2018-02-13 17:14] SidharthBansal commented on #2313
I think it could be.

[2018-02-13 17:17] g33kyshivam commented on #2313
Which tab exactly or is it fine ?

[2018-02-13 17:19] ViditChitkara commented on #2298
Actually like_count counts the number of NodeSelections. Whenever a Node is deleted the associated NodeSelection is not deleted which is the reason why like_count and liked_notes give different counts.

[2018-02-13 17:22] ViditChitkara commented on #2298
The tab uses liked_count method while the page showing liked notes uses the liked_notes method.

[2018-02-13 17:29] SidharthBansal commented on #2313
It looks great to me. Glyphicons are looking awesome. Just make a quick PR

[2018-02-13 17:30] visheshruparelia commented on #2298
Yeah true, but then the 'likes' function should look like the liked_notes and like_count no?

[2018-02-13 17:41] ViditChitkara commented on #2298
It should. We need to write a migration which destroys all the NodeSelections whose associated nodes do not exist.
Then adding a dependent_destroy against :-
https://github.com/publiclab/plots2/blob/57f0d6f97844b9ba070f7a048fc9a942c1ecf0c8/app/models/node.rb#L46
could solve our problem. Does that make sense?

[2018-02-13 17:45] visheshruparelia commented on #2298
Yeah this makes more sense, then I guess the previous commit I made isn't required(If we make the required migration and adding a dependent_destroy), correct?

[2018-02-13 17:52] ViditChitkara commented on #2298
Yeah either one of them would do. The later would be a better option rather than changing the methods.

[2018-02-13 17:54] visheshruparelia commented on #2298
Agreed the later method is more proper than updating methods, I'll update the code acordingly and create a new PR then

[2018-02-13 18:17] ViditChitkara commented on #2298
Cool!

[2018-02-13 18:44] amitsin6h commented on #2278
want to work on this issue as no first-timer-only found. @jywarren

[2018-02-13 18:58] Gauravano commented on #2278
hi @amitsin6h you can take this issue or you can see [here](https://publiclab.github.io/community-toolbox/#r=all) for fto candidate(they are close to first-timer issue).

[2018-02-14 06:24] amitsin6h commented on #2278
@Gauravano also most of the fto issues are also taken

[2018-02-14 06:29] Gauravano commented on #2278
If you can solve this one that would be great !!

[2018-02-14 08:21] visheshruparelia commented on #1119
I'd like to work on this for GSOC2018. Can anyone guide me further on this?

[2018-02-14 08:31] visheshruparelia commented on #683
I'd like to help out in this for GSOC, have prior experience in Oauth and it's testing.

[2018-02-14 08:34] ViditChitkara commented on #214
Hi @jywarren @ebarry working on it!!

[2018-02-14 09:54] Gauravano commented on #1584
Hi @jywarren , I would love to implement this as part of Email Integration Project for GSOC. Also,I have some great ideas and have worked about replying by emails to comments.

[2018-02-14 10:15] Gauravano commented on #214
hi @ViditChitkara I guess its part of Email Integration project for this GSoC

[2018-02-14 10:19] ViditChitkara commented on #214
Yes, it is!! I have some plans about this for the soc 2018 program!!!

[2018-02-14 10:24] Gauravano commented on #214
Nice !!!.Actually, I have also planned to have my GSoC proposal on Email Integration Project.

[2018-02-14 10:37] ViditChitkara commented on #214
Cool!

[2018-02-14 12:05] Gauravano opened #2321 "Tags for minimising spams"
### Please describe the problem (or idea)

I was just visiting publiclab.org for seeing a feature which was recently got integrated but I came across a spam wiki in-between.I think we should give the user some power for fighting spam with moderators and admin by introducing spam tags- which would notify moderator and admin of spam using E-mail if the user logged in or by generating the notificatio

[2018-02-14 12:09] SidharthBansal opened #2322 "Wiki pages should not be created with CRUD titles"
### Please describe the problem (or idea)
A user can create a wiki page with create, new, update, edit, delete etc as title

[2018-02-14 14:07] sukhbir-singh opened #2324 "Problem with some of the gliphicons display"
### Please describe the problem (or idea)
The gliphicons on some of the posts in activity area of dashboard is appearing below the upper boundary of post, making some part of the gliphicon being cut out. I have seen this problem not just in dashboard but also on other pages where posts with gliphicon exists.

#### What happened just before the problem occurred? Or what problem could this idea solv

[2018-02-14 14:07] sukhbir-singh commented on #2324
I want to work on this issue!!

[2018-02-14 14:16] sukhbir-singh commented on #2324
![imageedit_1_8517620574](https://user-images.githubusercontent.com/13816752/36208709-b623369e-11bf-11e8-88e5-c9acc2c49d22.png)

[2018-02-14 19:19] Souravirus commented on #2186
@jywarren got the problem, I want to work on it

[2018-02-14 19:37] seafr opened #2326 "Redundant code in home controller"
### Redundant code in home controller when the user is logged in

[code]

### Please show us where to look

home controller, home action

****

[2018-02-14 19:50] seafr commented on #2326
#2327

[2018-02-14 20:55] sukhbir-singh opened #2328 "Irregularities in positioning of social media buttons in wiki page"
### Please describe the problem (or idea)
Social media buttons of Facebook and Twitter in wiki page are not aligned equally.

### Please show us where to look
Browse to any wiki page like
https://www.publiclab.org/wiki/advanced-grids
and observer positioning of social media buttons below tags selection area.

![screenshot from 2018-02-15 02-02-30](https://user-images.githubusercontent.com/13816752

[2018-02-14 20:55] sukhbir-singh commented on #2328
Currently working on this one !!

[2018-02-14 21:07] steviepubliclab commented on #1119
Hi there,
All the planning and organizing for GSoC will be on this page
<https://publiclab.org/wiki/gsoc>. Looking forward to seeing your ideas.
-Stevie

On Wed, Feb 14, 2018 at 2:21 AM, Vishesh Ruparelia <notifications@github.com

[2018-02-14 23:36] sukhbir-singh commented on #2143
Is this issue already solved up? otherwise I would like to work on this. Thank you.

[2018-02-15 12:05] Gauravano commented on #2328
Hi @sukhbir-singh , I guess its duplicate of #2289

[2018-02-15 13:45] visheshruparelia commented on #2298
I've made the necessary changes and created a PR [here](https://github.com/publiclab/plots2/pull/2330), please review it

[2018-02-15 13:57] visheshruparelia commented on #2241
I'd like to help out in this

[2018-02-15 14:06] Gauravano commented on #2241
hi @visheshruparelia most welcome, once final template of mail is decided we'll divide this in parts.

[2018-02-15 14:56] Souravirus commented on #2068
@jywarren I want to work on this

[2018-02-15 14:59] jywarren commented on #2301
Hi! This was actually originally by design -- the idea being that the dashboard is something newcomers should be able to preview at `/dashboard` even if not logged in-- and it'd say `This could be your dashboard if you sign up!`

But now that the front page of the site shows an activity feed, maybe this is not needed anymore. I'd like to ask for input from @publiclab/community-reps before acceptin

[2018-02-15 14:59] ebarry commented on #2241
This is an excellent project!!!!! @steviepubliclab check this out --

[2018-02-15 15:03] #2272 closed

[2018-02-15 15:21] SidharthBansal commented on #2301
Yeah, I have read that line ```"This could be your dashboard if you sign up!"``` but was a little inclined to keep this with the urls which users nowadays have on the other websites
@jywarren I will make the required changes.

[2018-02-15 15:34] jywarren opened #2331 "Add up/down arrows icon next to sortable headers on /tags page"
The Tags page is at https://publiclab.org/tags -- and you can now sort by clicking the table headers, which is awesome. ( @ebarry )

But we'd like to better indicate that kind of sorting -- using an icon indicating sorting, like this:

**`Name ↕️`**

https://fontawesome.com/icons/arrows-alt-v?style=solid is nice -- so,

`<i class="fa fa-arrows-alt-v"></i>` would go next to each of these lines:

ht

[2018-02-15 15:46] sukhbir-singh commented on #2331
@jywarren I want to work on this !!

[2018-02-15 15:48] sukhbir-singh commented on #2328
@Gauravano Sorry for that, I didn't noticed the the older issue.

[2018-02-15 15:49] Gauravano commented on #2328
It's fine

[2018-02-15 15:54] ebarry commented on #2331
Awesome! !!  Can someone investigate the "design pattern" for sorting that seems to be different on https://publiclab.org/wiki ?
What is we decided to aim for the same pattern at the top of:
- https://publiclab.org/wiki
- https://publiclab.org/tags
- https://publiclab.org/people
- ?

[2018-02-15 15:59] jywarren commented on #214
Sounds great -- there's plenty to do, so anything we can accomplish now we
can build on, refine further for SoC for sure! Thanks!

On Wed, Feb 14, 2018 at 5:37 AM, Vidit <notifications@github.com> wrote:

[2018-02-15 16:02] #2313 closed

[2018-02-15 16:15] Gauravano commented on #2331
Hi @jywarren @ebarry we sort on people [page](https://publiclab.org/people) by last activity only  and sorting differs on [wiki](https://publiclab.org/wiki) and [tags](https://publiclab.org/tags) page so yes the same pattern on top of both pages is a good idea

[2018-02-15 16:16] Gauravano commented on #2331
Also, we can make sorting on people page too, what you think @jywarren @ebarry

[2018-02-15 16:48] sagarpreet-chadha opened #2332 "Social Media icons on profile page not at center (Firefox)"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-02-15 16:56] #2188 closed

[2018-02-15 16:57] #2300 closed

[2018-02-15 17:07] jywarren opened #2333 "Move "search by topic" to top of page and remove sidebar on /questions"
(via @ebarry) This is a two-part issue -- on http://publiclab.org/questions, we have a sidebar area called `Filter questions by topic` which we'd like to move to a 2-column area in the main column, next to the "Ask a question" area.

The code for the form to be moved is here:

https://github.com/publiclab/plots2/blob/d078466a6dc1c1c4ae3b39e45a8ccb861b7d5860/app/views/sidebar/_user.html.erb#L9-L11

[2018-02-15 17:13] ebarry opened #2334 "Reposition the bar of editing icons at top of composition box"
### Please describe the problem (or idea)

I would like to consider moving the "kitchen sink" bar of editing icons above the text box, currently it is below the text box.

<img width="699" alt="screen shot 2018-02-15 at 12 03 39 pm" src="https://user-images.githubusercontent.com/161439/36269851-49c8289a-1248-11e8-8899-be537f47586c.png">

I feel there are downsides to having the editing icons below

[2018-02-15 17:13] jywarren opened #2335 "Insert hyphens into tag search input query"
(via @ebarry) On this page: https://publiclab.org/questions/ in the sidebar, we let people filter by tag, but when you type `water quality`, it doesn't offer the tag name `water-quality` (because all tagnames are hyphenated).

The logic for the query is here:

https://github.com/publiclab/plots2/blob/d078466a6dc1c1c4ae3b39e45a8ccb861b7d5860/app/views/tag/_sorting.html.erb#L15

Let's insert a filte

[2018-02-15 17:21] ebarry opened #2336 "Add support for people writing markdown"
### Please describe the problem (or idea)

I am reporting in from a conversation with @shapironick that reveals a lack of support for people writing markdown in the new Editor (in /questions and /post). The current workflow for someone who wishes to write markdown -- in fact, if they are a long time contributor they probably learned markdown in order to contribute to publiclab.org -- is that they

[2018-02-15 17:22] f3mshep commented on #2278
@amitsin6h Are you still looking into this? Would you be interested in pair programming if you are stuck?

[2018-02-15 17:25] #2215 closed

[2018-02-15 17:31] jywarren opened #2337 "Remove /tags page sidebar"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-02-15 17:53] Gauravano commented on #2289
hi @Shadlimitless , this issue is resolved in #2329 , you can find new issues at https://publiclab.github.io/community-toolbox/#r=all .Thanks.

[2018-02-15 17:53] #2289 closed

[2018-02-15 18:04] SidharthBansal opened #2339 "Tag pages should have unanswered and answered buttons for questions"
### Please describe the problem (or idea)
The urls like /tag/balloon have a tab questions.
![image](https://user-images.githubusercontent.com/20972099/36272750-701f0de6-12a8-11e8-86e1-5fa58336614d.png)
The tab is missing the ability to sort the questions based on answered and unanswered questions as we do have on the profile page.
![image](https://user-images.githubusercontent.com/20972099/3627281

[2018-02-15 18:05] SidharthBansal commented on #2339
May I assign it as I am doing the prs related to tags and profile pages @jywarren ?

[2018-02-15 18:07] SidharthBansal opened #2340 "Tag_for_author questions should be divided into answered and unanswered"
### Please describe the problem (or idea)
The urls like /tag/balloon*/author/warren have a tab questions.

![image](https://user-images.githubusercontent.com/20972099/36272976-101349d4-12a9-11e8-9f91-7b5f0520f893.png)

The tab is missing the ability to sort the questions based on answered and unanswered questions as we do have on the profile page.
![image](https://user-images.githubusercontent.com

[2018-02-15 18:16] SidharthBansal opened #2341 "Update contribution guidelines"
### Please describe the problem (or idea)
At public labs we are now using a new pr label and issue label system as discussed in #2231. One problem with the new label system is the newcomers are not having knowledge of our existing label system

I think one solution is to include the link to the contributors page (https://github.com/publiclab/plots2/blob/master/CONTRIBUTING.md) in all the first tim

[2018-02-15 18:40] jywarren commented on #2068
Yes, let's start with profile pages, what do you think?

[2018-02-15 18:42] sagarpreet-chadha commented on #2248
Hi @jywarren , i used the above function with some other attributes like viscosity , etc to produce this bounded map :

![map](https://user-images.githubusercontent.com/14952645/36274532-00d552dc-12ae-11e8-9469-fd356e655180.gif)

What do you think 🎈  ?

[2018-02-15 18:46] jywarren commented on #1584
That would be great. I'd love to see as minimal an implementation as we
can, to break the ice on this. Would be good to check in on the Rails 4.2
upgrade PR as well! https://github.com/publiclab/plots2/pull/1832

On Wed, Feb 14, 2018 at 4:54 AM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-02-15 18:51] jywarren commented on #2261
Hi, it looks like this was solved in #2267 -- thanks all and we'd love your involvement! See the Community Toolbox link @Gauravano linked to above. Thanks!!!

[2018-02-15 18:51] #2261 closed

[2018-02-15 18:53] #2324 closed

[2018-02-15 19:00] jywarren commented on #2304
This is looking awesome! Want to add "Planning issue" to the title? :-) 🎉

[2018-02-15 19:15] bronwen9 commented on #2287
Hey! I've been finding that one will pop up following a successful search: say, I'll use the search box to look for "pumpkin", which will let me see a dropdown of usernames and research note headings, but if I try to use the search field a second time (even on another page) I get the error. I can refresh the page to let me access the search field again.