[2021-03-23 10:41] waridrox commented on #9348
By implementing a **cross button** (https://fontawesome.com/v4.7.0/icon/times can be used), this would also make sense in mobile web views.

<img width="296" alt="Screenshot 2021-03-23 at 3 44 03 PM" src="https://user-images.githubusercontent.com/58583793/112130551-9b5d6a80-8bee-11eb-8ed3-5ee4d9977181.png">

[2021-03-23 10:41] Priyaraj17 commented on #6923
Is this issue open right now? May I work on it?

[2021-03-23 11:38] cesswairimu commented on #6923
Hi @madhhuurrii are by chance working on this or still interested, sorry I missed your comment..If not, please let @Priyaraj17 know Thanks you both

[2021-03-23 11:49] cesswairimu commented on #9309
Hi @CipherGirl, please do let me know if you need help finding another first-timer-issue. Thanks

Hi @BondaSaim, I will leave some comments on the PR for possible fixes to the errors. thanks

[2021-03-23 12:14] BondaSaim commented on #9312
Hi @Priyaraj17,
I have opened the PR for this issue, but I am facing an error during unit test
I have attached the log above along with my idea of why that's happening.
I believe that the error is most likely caused due to something else which is **linked** to the change I made

To be precise I think that passing Time Object as an argument into ```SubscriptionMailer.send_digest().deliver_later```

[2021-03-23 12:16] cesswairimu commented on #9309
@CipherGirl feel free to claim this issue as @BondaSaim has already worked on another `first-timer-only` issue. Thanks

[2021-03-23 12:20] #9307 closed

[2021-03-23 12:27] #9326 closed

[2021-03-23 12:49] #9342 closed

[2021-03-23 13:08] RuthNjeri commented on #9353
Hi @jcads 👋🏾  I see you've already worked on another first-timer issue here https://github.com/publiclab/plots2/pull/9306
We usually recommend that you pick another issue that is not a first-timer to allow other contributors who are new to pick issues like these ones out.  If you have not already worked on this, is it okay to leave this issue to another first timer?

[2021-03-23 13:09] RuthNjeri commented on #9353
oh, sorry this is not a first-timer issue... my bad @jcads sorry for the confusion...

[2021-03-23 13:32] RuthNjeri commented on #9312
Hi, @Priyaraj17 you can pick this up if you haven't found an issue to work on.

[2021-03-23 13:41] RuthNjeri commented on #6446
You do not require a dual bot. The .html.erb file is not run individually, you have to set up and run the whole application using `passenger start` as described in the contributions guidelines or `rails s` then `redis-server`

Have you followed these installation steps?  https://github.com/publiclab/plots2#installation

[2021-03-23 13:42] RuthNjeri commented on #6446
Alternatively you can contribute via the browser using Gitpod https://gitpod.io/#https://github.com/publiclab/plots2

[2021-03-23 13:54] Priyaraj17 commented on #9334
@cesswairimu , No sir, I haven't found any issues yet. Still searching for them. I will really appreciate your help. Thank you, sir.

[2021-03-23 14:14] Priyaraj17 commented on #9312
@RuthNjeri Sure Sir, Thanks

[2021-03-23 14:15] Priyaraj17 commented on #9334
@cesswairimu Sir, I just found an issue. But, I can work on more. Thanks

[2021-03-23 14:16] cesswairimu commented on #9339
I am not so sure about this @govindgoel tagging @ebarry @jywarren @RuthNjeri  to give views on this. Thanks

[2021-03-23 14:31] Yogita98 commented on #9308
Is anyone of you @manishaag7 and @kyleecodes working on this issue?

[2021-03-23 14:33] manishaag7 commented on #9308
I am not.. @Yogita98

[2021-03-23 14:46] RuthNjeri opened #9354 "Remove Unused Variables in notes_controller_test file"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-23 14:56] madhhuurrii commented on #6923
No @cesswairimu,I am not working on this issue

[2021-03-23 15:03] cesswairimu commented on #9290
The changes will appear on https://stable.publiclab.org/  in 15 min or so...lets confirm there this is all fixed. Thanks everyone :heart:

[2021-03-23 15:04] cesswairimu commented on #6923
thanks, @Priyaraj17  you can take this one. thanks

[2021-03-23 15:21] RuthNjeri commented on #9339
Hi @cesswairimu 😃 ...

Thanks for opening this up @govindgoel, I noticed that when the text `Language` is clicked, the list view is at the top and does not alter the footer...
<img width="407" alt="Screenshot 2021-03-23 at 18 17 39" src="https://user-images.githubusercontent.com/7622875/112170679-4d536180-8c04-11eb-9063-06e884c69fe9.png">

The footer is altered when hovering the cursor on the text

[2021-03-23 15:27] RuthNjeri commented on #9312
Hi @Priyaraj17, I think this issue has already been worked on, and I see you have been assigned another one here https://github.com/publiclab/plots2/issues/6923#issuecomment-804978290 please work on that other one. Sorry for the confusion. Thanks.

[2021-03-23 15:27] #9312 closed

[2021-03-23 15:27] Tanfeil commented on #9354
I´ll take the issue 🙋

[2021-03-23 15:29] cesswairimu commented on #9338
Hey @govindgoel and thanks for opening this
this looks like its related to https://github.com/publiclab/plots2/issues/9290 we could check if the issue is solved in the other issue by trying to replicate the bug at stable.publiclab.org..thanks

[2021-03-23 15:32] Priyaraj17 commented on #9312
@RuthNjeri Sure sir. Thanks

[2021-03-23 15:32] Priyaraj17 commented on #6923
Sure I will start with it.

[2021-03-23 15:53] cesswairimu commented on #9290
Looks like the issue is not fixed yet :disappointed: https://stable.publiclab.org/wiki?sort=page_views reopening this

[2021-03-23 16:11] daemon1024 commented on #9287
cc @publiclab/plots2-reviewers

[2021-03-23 16:42] jywarren commented on #9164
Hi @kgradow1 I was able to get the videos to load by going to https://publiclab.org/notes/edit/24955 (i'm an admin) and pasting in (from your email above):

[code]

I did it in "markdown" mode, not "rich text" and i wonder if that made it work where it hadn't for you? I think @17sushmita's note that `allowfullscreen` became `allowfullscreen\=""` seems very likely to be our rich text editor code tr

[2021-03-23 16:42] #9164 closed

[2021-03-23 16:45] RuthNjeri opened #9357 "Remove Unused Variable in user_controller_test.rb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-23 16:47] cdtown3 commented on #9357
I'd like to work on this! I'm going to work on the pull request.

[2021-03-23 16:50] #8864 closed

[2021-03-23 16:52] RuthNjeri opened #9358 "Remove Unused Variable in tag_controller_test.rb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-23 17:07] gaurav2699 commented on #9290
This is really weird, as it was working with no issues in my local development. Maybe pagination was not the problem, or maybe we are missing something.

[2021-03-23 17:21] RuthNjeri opened #9360 "Remove Unused Variable in spam2_controller_test"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-23 18:47] jywarren commented on #8854
Thank you @17sushmita and @noi5e for so thoroughly unpacking this. My apologies for the unclear note in my original message but @noi5e is completely correct - we just need the simpler "Moderate first-time comment" message.

And great catch that still is unsolved for REPLIES.

Super appreciate all your help, both of you. 🎉

I'll note the spam dashboard issue in the new project description!!!

[2021-03-23 18:52] jywarren commented on #9257
Hi all, i'll copy in some answers I gave in our chatroom so all can see!

Also, i just updated the Education project with:

[2021-03-23 18:55] jywarren commented on #9257
Hi @YogeshSharma01 -- you can use this URL to switch: https://publiclab.org/change_locale/es

where `es` can be replaced with the correct language code. See the available ones at the footer of PublicLab.org and you can see the available links there too!

![image](https://user-images.githubusercontent.com/24359/112202439-c4c6c800-8be7-11eb-92b8-51a7247785ef.png)

[2021-03-23 19:06] first-timers[bot] opened #9361 "Small change to notifications settings page to remove extra + character"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-23 19:08] jywarren commented on #9350
Hi all, it's always a pleasure to return on Tuesday morning and see so much collaboration, mutual support, helpfulness and kindness. Keep up the great work!

[2021-03-23 19:08] noi5e opened #9362 "Animate Save Icon When User Enters Comment Text"
## `Description`
From a user interaction standpoint, it would be helpful to have the save icon blink whenever a user enters text into a comment form.

The save icon is the 💾 in the comment toolbar below:

<img width="406" alt="Screen Shot 2021-03-22 at 7 11 24 PM" src="https://user-images.githubusercontent.com/4361605/112082718-0f423900-8b43-11eb-935c-02b46b90c57b.png">

See #9131, particularly [t

[2021-03-23 19:09] noi5e commented on #9131
Made a more contributor-friendly breakdown of this issue in #9362, so closing this one.

[2021-03-23 19:09] #9131 closed

[2021-03-23 19:10] jywarren commented on #9348
Hi, I wanted to reach out to @publiclab/community-reps on this one to highlight this issue. Thanks for pointing it out!

If you look at the banner styling, i agree there should be a relatively easy way to fix it. But is the map absolute positioned, maybe?

Also noting that this banner is kind of unique in that the code is stored in the database and it's not part of the core codebase. So any change

[2021-03-23 19:33] waridrox commented on #9362
Can I give it a shot! This one seems to implement some great functionality :D

[2021-03-23 19:39] noi5e commented on #9362
@waridrox Definitely, go ahead!

[2021-03-23 19:41] #9175 closed

[2021-03-23 19:47] jywarren commented on #7346
Working now!

[2021-03-23 19:47] #7346 closed

[2021-03-23 19:50] jywarren commented on #9324
Ahhhhh. So is this... an aliasing/rounding error? What do you think we should do? Could we potentially better control the situation with Timecop?

https://github.com/publiclab/plots2/search?q=TimeCop for some examples and https://github.com/travisjeffery/timecop

Thanks, Ruth, for this super helpful investigation!!!

[2021-03-23 20:21] manishaag7 commented on #9361
Can I work on this?

[2021-03-23 20:27] manishaag7 commented on #8808
Can i work on this @jywarren

[2021-03-23 20:28] manishaag7 commented on #8317
Can I work on this ? @jywarren

[2021-03-23 21:01] ebarry commented on #9164
Thanks for finding this bug everyone. So sorry for the work this required to report this from your side Katie -- really appreciate it and owe you one surely!

[2021-03-23 21:59] achhetr commented on #9360
I will take this issue 🥇

[2021-03-23 22:52] noi5e opened #9365 "[Phase 2] React Rewrite of Comment System"
The first phase of the React rewrite of the Comment/Legacy System was merged in #9176. Yay! 🥳

To anyone who wants to see the React system in production, visit any research note, and add the following parameter to the end of the URL:

`?react=true`

I'm going to do a lot of follow-up work (in multiple PRs) in the next two weeks to try to get it as close to the fully functioning system as possible.

[2021-03-23 23:01] Onihani commented on #9361
I want to help

[2021-03-23 23:04] achhetr opened #9366 "Installation Error: rake db:setup"
### Please describe the problem (or idea)

I am trying to install the plot2, while on step 8 when I run `rake db:setup`. It gives me an error

rake db:setup
rake aborted!
LoadError: Error loading the 'mysql2' Active Record adapter. Missing a gem it depends on? mysql2 is not part of the bundle. Add it to your Gemfile.
/Users/akash/Documents/projects/opensource/plots2/config/environment.rb:5:in `<to

[2021-03-23 23:05] achhetr commented on #9360
Hi can someone please review my pull request, thank you

[2021-03-24 00:00] Onihani commented on #9358
@RuthNjeri please review my pull request

[2021-03-24 00:02] Onihani commented on #9361
@RuthNjeri please review my pull request

[2021-03-24 07:17] RuthNjeri commented on #9360
Hi @achhetr thanks for taking it up, your PR will be reviewed soon.

[2021-03-24 07:21] govindgoel commented on #9339
@RuthNjeri If we change the position now then in the future there might be an addition of a language in the dropdown then the same situation can happen. So I think it would be better if we go with auto scroll.

[2021-03-24 08:11] cesswairimu commented on #9290
yeah pagination now works fine on my local too...I agree we may be missing smth

[2021-03-24 08:35] divyabaid16 commented on #9219
I am interested in becoming a mentor this year.
Happy to help. Thank you 💯

[2021-03-24 09:08] gautamig54 commented on #9219
Hello all! I am interested in mentoring this year. Would love to help and learn from everyone!
Thank you 👍

[2021-03-24 09:11] gautamig54 commented on #9219
Hello all! I am interested in mentoring this year. Would love to help and learn from everyone!
Thank you 👍

[2021-03-24 12:17] 17sushmita commented on #8854
Hi @jywarren @noi5e, Sorry for asking again but I had one more confusion. Should we display a comment which is not spam but the user is banned? What to do in such cases?

[2021-03-24 12:36] jywarren commented on #8854
Yes, currently the status of banned users doesnt affect visibility of their
comments. Thank you!

On Wed, Mar 24, 2021, 8:17 AM Sushmita ***@***.***> wrote:

[2021-03-24 13:20] SharmaTanish commented on #6446
Thank you @RuthNjeri for introducing Gitpod to me !
I have changed the style.css file as per the instructions provided at top of this issue , but there @nstjean had mentioned that in header.html.erb we need to change  `<li id="md-ham" class="d-xl-none dropdown">` this line , but in code base there exist no as it is line but there is slight difference ,i.e., in place of "xl" there id "lg" that's it

[2021-03-24 14:12] Yogita98 commented on #9308
Alright then since @kyleecodes is not replying I will take up this issue.

[2021-03-24 14:17] Priyaraj17 commented on #6923
@cesswairimu  Can you please review the PR https://github.com/publiclab/plots2/pull/9372

[2021-03-24 15:11] cesswairimu commented on #9283
Hi all and welcome again, [here](https://publiclab.org/notes/cess/03-24-2021/call-for-2021-gsoc-proposals)  is call for proposals on the PublicLab website...I know the applications open officially for GSoC in 2 days..but feel free to start posting on PublicLab...we  advise applicants to post first on the PublicLab website, get feedback from mentors and then post the refined version on GSoC.

Thank

[2021-03-24 15:35] cesswairimu commented on #9350
Hi all,
I agree, it whole different view hearing from end-useurs and some features  end up being used in a very different way than when developing you didn't think of.  Open calls are great

A call for GSoC proposals is [here](https://publiclab.org/notes/cess/03-24-2021/call-for-2021-gsoc-proposals)

Great theme @RuthNjeri  :tada:  thanks all

[2021-03-24 16:28] waridrox commented on #9366
@achhetr Please look forward to setting up a redis db and starting it by following the instructions at https://github.com/publiclab/plots2#redis-installation and starting it. There are some problems with setting up a mysql db currently.

[2021-03-24 16:37] waridrox commented on #9362
- I'm having a hard time thinking about how we can implement the spinner when the save function is being performed. That's because the whole toolbar is rendered as a partial initially so I'm not sure if we can render that specific save option differently than the rest of the toolbar icons.

- I've managed to implement a debounce function in the save function though which may same some cpu resource

[2021-03-24 17:55] sahilsaha7773 commented on #9353
As there is no update on this, can I take up this issue?

[2021-03-24 18:12] noi5e commented on #9353
@sahilsaha7773 I am assuming that @jcads is working on it, they'll let you know if they stop working on it.

[2021-03-24 18:14] sahilsaha7773 commented on #9353
okay sure, thanks!

[2021-03-24 18:37] jywarren commented on #9257
Hi all, just noting that @cesswairimu has posted our official GSoC call for proposals here! https://publiclab.org/notes/cess/03-24-2021/call-for-2021-gsoc-proposals

[2021-03-24 18:38] jywarren commented on #9283
Welcome @manishaag7 and @BondaSaim!

[2021-03-25 11:30] misaka3 commented on #9358
I'll take this issue.

[2021-03-25 19:17] #9310 closed

[2021-03-25 19:29] RuthNjeri opened #9377 "MimeMagic Build Failure"
There are 3 stable builds that have failed for far because of this [error ](https://jenkins.laboratoriopublico.org/job/Plots-Stable/2590/console)

It would seem that it has been [archived](https://github.com/rails/rails/issues/41750)...

[code]

[2021-03-25 19:38] RuthNjeri commented on #9377
Maybe upgrading it to 0.3.6 will help? https://github.com/mimemagicrb/mimemagic/issues/98#issuecomment-805766052

[2021-03-25 19:46] RuthNjeri commented on #9377
Looks like 0.3.6 has some trouble as well...using `0.3.8`
![Screenshot 2021-03-25 at 22 45 59](https://user-images.githubusercontent.com/7622875/112534305-f2646a80-8dbb-11eb-9ceb-dd7cd57c244c.png)

[2021-03-25 19:57] noi5e commented on #9362
@waridrox This is great work so far, and good questions!

The `Editor` class has an attribute `commentFormId`:
https://github.com/publiclab/plots2/blob/a44aff71c69671d2cb7142e1d93d45ff97114c06/app/assets/javascripts/editor.js#L10-L11

Which can be used to refer to the particular save button that needs to be updated:
https://github.com/publiclab/plots2/blob/a44aff71c69671d2cb7142e1d93d45ff97114c06/

[2021-03-25 20:08] waridrox commented on #9362
Thanks for the info! 😄

[2021-03-25 20:13] RuthNjeri commented on #9339
Thanks @govindgoel I think the question for me is, if the same situation might happen with the addition of a language in the drop-down, how comes the same situation is happening now without the addition of a language in the drop down... wouldn't creating a solution that prevents the dropdown from altering the footer be the first place to look into?

[2021-03-25 20:17] govindgoel commented on #9339
@RuthNjeri Yeah sure we can have look at that first. I will update it here

[2021-03-25 20:18] RuthNjeri commented on #6446
Hi @SharmaTanish thanks for sharing that, it would seem that it was changed in an effort to make it more responsive https://github.com/publiclab/plots2/issues/6995. You can test the changes to see if the current update from this issue makes it a much better solution in responsiveness than what currently exists. Let me know.

[2021-03-26 02:11] jcads commented on #9353
Yes I am still working on this. Will open a PR in a couple of days, I just have to finish some internship stuff.

[2021-03-26 07:19] achhetr commented on #9366
When running
`bundle exec sidekiq` I get the following error

`2021-03-26T07:15:59.431Z pid=93438 tid=ouq0w4a9a WARN: Sprockets::Railtie::ManifestNeededError: Expected to find a manifest file in `app/assets/config/manifest.js`
But did not, please create this file and use it to link any assets that need
to be rendered by your app:

Example:
  //= link_tree ../images
  //= link_directory ../javascri

[2021-03-26 10:56] waridrox commented on #9366
Maybe this can be useful - https://github.com/mperham/sidekiq/issues/1500

[2021-03-26 13:06] SharmaTanish commented on #6446
@RuthNjeri I think there is no need of updating header.html.erb file , our changed line hardly make any difference in output , there is negligible change . So I think the already written `<li id="md-ham" class="d-lg-none dropdown">`  this line is approperiate .
So can I make pull request now?
You can see the output in below screenshot !
![Screenshot (1412)](https://user-images.githubusercontent.co

[2021-03-26 19:29] waridrox commented on #9362
_Update_ - @noi5e, here are 2 versions of the implementations, though there is still a small problem to resolve 😅

_Save button with the spinner icon_

https://user-images.githubusercontent.com/58583793/112682150-b30a4c80-8e95-11eb-8e85-926dee85200d.mp4

___
_Save button with no functionality_

https://user-images.githubusercontent.com/58583793/112682176-be5d7800-8e95-11eb-8752-82fc1e034633.mp4

B

[2021-03-26 20:59] daemon1024 commented on #9257
Hey @jywarren, @cesswairimu and mentors. Dropped in my draft proposal at https://publiclab.org/notes/barun1024/03-24-2021/gsoc-2021-proposal-geographic-features-refinement. Would be glad to get feedback on it :)

[2021-03-27 06:20] gaurav2699 commented on #9366
Hey @achhetr, I was having the same problem. So, I set up SQLite instead of MySQL and that worked for me. I think setting up with MySQL has some issues. Hope this solves this problem.

[2021-03-27 12:29] YogeshSharma01 commented on #9257
Hi, @jywarren here Translation system refinements I guess the only users who have an account on Transifex those users can only translating the website into different languages using Transifex. what are the parameters we need to refine here?
Thanks

[2021-03-27 13:47] Mahrukhz commented on #9361
@Onihani Do you still need help as I can see a task pending?

[2021-03-27 13:59] Onihani commented on #9361
@Mahrukhz what's left is just a review from the project matinee
![Screenshot_20210327-135839](https://user-images.githubusercontent.com/50061326/112723065-aec94800-8f04-11eb-91f7-8b88161d4733.png)

[2021-03-27 14:01] Mahrukhz commented on #9361
Fair. Good luck

[2021-03-27 17:38] cesswairimu commented on #9377
Thanks Ruth, There is a conversation about this on the rails repo [here](https://github.com/rails/rails/issues/41750) most people upgraded to 0.3.6 and it seemed to work

[2021-03-27 18:02] himanshu007-creator commented on #9283
Hi everyone!

I am Himanshu from India and I am pursuing B.Tech in electronics and communication with minors in CS. I started coding last year during the lockdown and have come a long way, from missing semicolons to missing closing tags ( pun intended 🙂) .Rest I am looking forward to know the community well.

Here are my socials.
Linkedin:- https://www.linkedin.com/in/himanshu-here

[2021-03-27 18:09] himanshu007-creator commented on #9309
@cesswairimu  Hi! i would like to claim this issue. I am a first timer as well....🙂

[2021-03-27 18:09] #9377 closed

[2021-03-27 18:12] cesswairimu commented on #9309
Hi @himanshu007-creator, please go ahead. thanks

[2021-03-27 18:13] cesswairimu commented on #9377
Also noting rails 5.2.5 have been released addressing the issue more details https://weblog.rubyonrails.org/

[2021-03-27 18:16] himanshu007-creator commented on #9309
Small doubt, to which branch i have to send the PR?

[2021-03-27 19:00] #9311 closed

[2021-03-28 09:16] jcads commented on #9353
@noi5e here's what I came up with:

![Screencast-2021-03-28-171020](https://user-images.githubusercontent.com/50954098/112747640-338d9200-8fe9-11eb-8777-39626d8a7141.gif)

What do you think?

[2021-03-28 10:29] RuthNjeri commented on #6446
Hi @sharmamansi, thanks for looking into this, if you think the existing line is appropriate then I think we can close this issue without creating a Pull Request for it since the new changes are not needed and it is already responsive. Would you like to pick up another First timer issue? and I can close this issue

[2021-03-28 11:07] RuthNjeri commented on #9348
Thanks for raising this issue @jcads.

I do agree with first looking into whether the map is positioned using `absolute` and maybe looking into making its position relative to the banner, if that's not an option, we can work with making changes to the banner via the database.

[2021-03-28 11:09] #9357 closed

[2021-03-28 11:37] RuthNjeri opened #9382 "Error Command "webpack" Not Found"
[Builds](https://jenkins.laboratoriopublico.org/job/Plots-Stable/) have been failing in the stable deployment due to the error `error Command "webpack" not found`

This seems to be a common error and there are some solutions as suggested below;

https://github.com/rails/webpacker/issues/522#issuecomment-328985202
https://github.com/rails/webpacker/issues/522#issuecomment-309873612

I am not sure w

[2021-03-28 11:38] RuthNjeri commented on #9382
Do you have any thoughts on this @noi5e?

[2021-03-28 11:44] RuthNjeri commented on #9287
@jcads yes, the code can be manually changed but only through the database, you could try finding a fix for this locally and sharing it here, once it's confirmed, all @jywarren needs to do is update the code within the database. Does that make sense?

There are instances on the Public Lab site where the code is saved within the database, not on the files.

[2021-03-28 11:46] #9354 closed

[2021-03-28 11:52] RuthNjeri commented on #9377
Thanks, @cesswairimu, should we look into upgrading our version `5.2.3` to `5.2.5`? Then see what version of mimemagic to use...

[2021-03-28 11:55] RuthNjeri commented on #9324
Thanks, @jywarren, I'll have a look at the links you've shared and see how they can help us in fixing this issue.

[2021-03-28 15:58] himanshu007-creator commented on #9309
I did the change, but tests are failing. SOS @cesswairimu

[2021-03-28 19:05] jywarren commented on #4072
Noting a great question from [the chatroom](https://gitter.im/publiclab/publiclab):

[2021-03-28 19:33] SharmaTanish commented on #6446
But @RuthNjeri the vertical alignment of brand name is not proper before , i.e. , we need not to change the header.html.erb file only but we must change style.css file for perfect responsiveness . According to me as we have made changes in some lines of style.css , so we should must merge that changes as it is at least better than the previous .
So I request you to please not close this issue befo

[2021-03-29 02:07] anirudhprabhakaran3 commented on #9308
@Yogita98 what is your status? Have you made any leeway?

[2021-03-29 02:11] anirudhprabhakaran3 commented on #9283
Hello!

I am Anirudh Prabhakaran, and I'm from India. I have experience with web design, Python and Rails. I'm excited to contribute to Public Lab!

Godspeed

[2021-03-29 04:38] anirudhprabhakaran3 commented on #9366
Yes. Instead of doing
[code]
try doing
[code]
This clears the issue.

[2021-03-29 05:27] anirudhprabhakaran3 commented on #9358
Has this issue been resolved?

[2021-03-29 05:49] misaka3 commented on #9358
@anirudhprabhakaran3
No. But, PR is open.(#9376)

[2021-03-29 10:38] anirudhprabhakaran3 commented on #9382
Running
[code]
on my local machine seems to solve this issue

[2021-03-29 13:06] waridrox commented on #9362
Here's the final implementation, I'm really not sure how to make the CSS styles work without affecting when the 💾 icon when it is clicked. Maybe someone else can try that 😅. Other than that I've implemented what was required.

[2021-03-29 13:53] anirudhprabhakaran3 commented on #9083
Hello, I'm a first-timer. I'm looking for an issue to work on and fix.

[2021-03-29 15:14] Yogita98 commented on #9308
@anirudhprabhakaran3 feel free to pick it up if you like

[2021-03-29 15:18] anirudhprabhakaran3 commented on #9308
@cesswairimu @SidharthBansal can I work on this issue even if I'm interested in applying for GSoC instead of Outreachy?

[2021-03-29 15:53] #9361 closed

[2021-03-29 20:48] TildaDares commented on #9308
I'm an outreachy applicant. Can I take up this issue?

[2021-03-29 20:50] TildaDares commented on #8512
Is someone working on this issue? I'd like to take it up.

[2021-03-29 20:53] TildaDares commented on #9083
Hi, I'm a first timer. Can I be added to the list?

[2021-03-30 07:27] waridrox commented on #9382
As pointed out in the gitter channel by @noi5e -
[code]

Running these commands solves the issue.

[2021-03-30 08:48] waridrox commented on #9366
@achhetr, If you are still not able to get it work, after running the command `cp config/database.yml.sqlite.example config/database.yml`, refer [_this_](https://stackoverflow.com/questions/58339607/why-does-rails-fails-to-boot-with-expected-to-find-a-manifest-file-in-app-asse#answer-58370129:~:text=Easy%20Steps%20To%20Solve%20the%20Problem%3A) to resolve the error.

[2021-03-30 08:58] SharmaTanish commented on #6446
Also @RuthNjeri I want to ask that as you can see in the screenshots i send , that public lab website there come in preview is not same as the actual website `https://publiclab.org/` . So to make more contributions , how would we able to relate it with the actual website . Please tell me the way by which in preview i can able to see the actual website ?
Also please merge the pull request that i wi

[2021-03-30 12:02] cesswairimu opened #9388 "Welcome Outreachy Summer 2021 Aspirants 🎉🙋‍♀️🙋🙋‍♂️"
# :tada: Welcome Outreachy applicants Summer 2021  :tada:

Hello :wave: and welcome to PublicLab :balloon: We are so excited to have you here :heart: . This is a discussion issue for all of you. Please say hello in a comment below, so we get to know you. Ask any questions that you might have here and we will be sure to answer them as soon as possible. If you would like to checkout our large commun

[2021-03-30 12:08] cesswairimu opened #9389 "Weekly Community Check-In #97 - GSoC and Outreachy applications are open"
We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their current week's

[2021-03-30 12:10] cesswairimu commented on #9350
@RuthNjeri I love many medals emojis on thank you note section...adapting that :smiley:

Moved to https://github.com/publiclab/plots2/issues/9389
Thanks everyone

[2021-03-30 12:10] #9350 closed

[2021-03-30 12:18] cesswairimu commented on #5627
That would be great @SidharthBansal  and @pydevsg...wow! we are 2 check-ins shy of 100 already!

Unpinning this issue for a while to pin the Outreachy welcome issue. Thanks all

[2021-03-30 12:51] 17sushmita commented on #9283
Hi @jywarren and @cesswairimu
Are the first 2 projects strictly reserved for outreachy or GSoC applicants can also make a proposal for it? I had applied for Outreachy but my initial application could not get approved due to not meeting minimum time commitment criteria which is not the case in reality. I'm very eager to work on these projects and would like to participate in GSoC for the same idea.

[2021-03-30 14:34] jywarren commented on #6126
This has been tremendous. Thanks @SidharthBansal !!!

[2021-03-30 14:56] jywarren commented on #9324
Looking closer, i'm not sure freezing the time will help. I wonder if due to the zillion ways dates are confusing (like, leap years, months of different lengths, exact decimal # of weeks in a year) we are just seeing the counting work differently between the graph code which counts each week individually and the test code which counts the whole year?

i.e. 365/7 = 52.1428571429 😭

https://github.c

[2021-03-30 14:58] jywarren commented on #9324
I tried this out here: https://github.com/publiclab/plots2/pull/9390

but knowing if it's worked may be tough. We can try running the tests over and over for a week? 😅

[2021-03-30 15:02] #8854 closed

[2021-03-30 15:04] jywarren commented on #9083
Added you both  @anirudhprabhakaran3 @TildaDares - thank you! I'll see if i can create a couple now.

[2021-03-30 15:25] waridrox commented on #9283
Hi @jywarren and @cesswairimu, I had a few questions regarding the **spectral workbench integration** project idea under GSoC. Pls have a look. Thanks :)
1 - Does this require the live capture interface code to be re-written in order to integrate with ruby on rails ?
2 - And if so, where do we want to integrate it to, is it supposed to be integrated at https://github.com/publiclab/spectral-workben

[2021-03-30 16:08] jywarren commented on #9257
Hi @YogeshSharma01 -- my understanding is that when you follow the prompts (also see https://publiclab.org/translation) -- you are guided to set up an account. Do you think there is more we can do to smooth this workflow? To make it easier and lower barrier? Or are you asking something more specific about parameters for Transifex API integration? Thank you!

[2021-03-30 16:14] first-timers[bot] opened #9391 "Route "Learn more" to the core topic wiki page; 'air-quality' rather than 'question:air-quality'"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-30 16:20] manishaag7 commented on #4076
Can I work on this ?

[2021-03-30 16:24] jywarren commented on #9391
This is reserved for @TildaDares! :tada:

[2021-03-30 16:27] manishaag7 commented on #6367
Can I work on this @jywarren ?

[2021-03-30 16:30] TildaDares commented on #9391
Thank you @jywarren I'll start working on it.

[2021-03-30 17:02] govindgoel commented on #9257
@jywarren I have the same query regarding the parameters we need to consider for refining the custom translation helper you mentioned above but can you also mention parameters regarding the Transifex API integration that we need to look into, and anything else I should look into regarding the translation refinements project. Also, I have posted the draft proposal here: https://publiclab.org/notes/

[2021-03-30 17:19] waridrox commented on #9382
@jywarren I ran into the webpack problem after syncing my fork, and was able to resolve it with these commands -
[code]

This I believe is for people trying to setup a new db altogether, with sqlite following the command - `cp config/database.yml.sqlite.example config/database.yml` wherein there is some configuration required after this command. Since I already had redis db setup already I didn't

[2021-03-30 17:30] #6923 closed

[2021-03-30 17:38] TildaDares commented on #9391
@arsen1c I'm working on it. If I get stuck I'll notify you.

[2021-03-30 18:03] noi5e opened #9392 "Update README.md to Include Setup for React & webpacker"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-30 18:05] noi5e commented on #9382
I just made an FTO at #9392 to update the installation docs for React & webpacker setup!

It's a distinct issue from this one, because as @RuthNjeri mentioned in the original post [builds are failing](https://jenkins.laboratoriopublico.org/job/Plots-Stable/) over at `stable`. For that we'll need to ping @icarito, which I'll do in chat right now.

[2021-03-30 18:10] arsen1c commented on #9391
@TildaDares Sure. Goodluck :)

[2021-03-30 18:14] anirudhprabhakaran3 commented on #9083
https://github.com/publiclab/plots2/issues/9392 opened as an FTO issue. Anyone interested should check that out!

[2021-03-30 18:15] YogeshSharma01 commented on #9257
Hi, @jywarren exactly more specific about parameters for Transifex API integration?

[2021-03-30 18:42] waridrox commented on #9257
Hi @jywarren and @cesswairimu, I had a few questions regarding the **[spectral workbench integration](https://publiclab.org/wiki/gsoc-ideas#spectral-workbench.js+JS/Rails+integration)** project idea under GSoC. Pls have a look. Thanks :)

1. Does this require the live capture interface code to be re-written in order to integrate with ruby on rails ?
2. And if so, where do we want to integrate it t

[2021-03-30 18:53] jywarren commented on #9382
oh this is awesome.  Thank you @noi5e!!!!!

On Tue, Mar 30, 2021 at 2:05 PM noi5e ***@***.***> wrote:

[2021-03-30 19:33] govindgoel commented on #9257
@jywarren one more thing regarding the project as it is mentioned [This project may be combined with another small project]. So do I need to do any specific changes or mention in the proposal, for example, project timeline.

[2021-03-30 19:35] jywarren commented on #9257
I think we would want to hear the order you propose and how you'd organize your time, and also why you think these two projects could be completed within the allotted time, so we know you have a full understanding of the work to be done. Thank you!!!

[2021-03-30 19:42] icarito commented on #9382
A couple of weeks ago, webpacker was built correctly in our unstable staging instance.
https://jenkins.laboratoriopublico.org/job/Plots-Unstable/1098/console

I pushed `unstable` to a new branch and made a pull request to be able to compare the code:
https://github.com/publiclab/plots2/pull/9393/files

It looks to me like @anirudhprabhakaran3 is correct that the node version needs to be updated.

[2021-03-30 19:47] YogeshSharma01 opened #9394 "Transfix link not working"
when I try to translate the text by clicking on the 'Get Started' in the globe icon, I'm directed to the 404 pages on the transfix website.
Here is the ScreenShot
![Screenshot 2021-03-30 at 11 50 10 PM](https://user-images.githubusercontent.com/51679200/113047065-748acf80-91be-11eb-9147-e9ce0e60846c.png)
wonder if either the account expired or if they substantially changed the API and the link no

[2021-03-30 19:53] YogeshSharma01 commented on #9257
Hi, @jywarren I open an issue for the transfix link no longer working #9394

[2021-03-30 19:54] #9324 closed

[2021-03-30 20:06] jywarren commented on #9382
OK just noting that @icarito and i realized the GitHub diff is wrong - all those changes are already in our `main` branch. Also it seems to be building our `stable` branch fine in Jenkins, so something is odd with our `main` branch not building to `stable.publiclab.org`. Looking deeper...

[2021-03-30 20:28] 17sushmita commented on #9257
Hi @jywarren and @cesswairimu
I had a question regarding project ideas in GSoC. Are the first 2 projects in Project ideas strictly reserved for outreachy or GSoC applicants can also make a proposal for it? I had applied for Outreachy but my initial application could not get approved due to not meeting minimum time commitment criteria which is not the case in reality. I'm very eager to work on thes

[2021-03-30 20:38] jywarren commented on #9382
Just noting that it seems to be written wrong in 3 places in the GitHub Actions config - `webpack` instead of `webpacker`:

https://github.com/publiclab/plots2/blob/999264ebe70d750f1836a4b4dcbdb7118595639b/.github/workflows/tests.yml#L49

[2021-03-30 20:42] jywarren commented on #8317
Sure, you're welcome to! I think the first step is some research! Thank you!

[2021-03-30 20:52] jywarren commented on #9382
I think stable.publiclab.org is building again!!!

[2021-03-30 20:56] daemon1024 opened #9397 "Update comment count only after moderator approval"
### Please describe the problem (or idea)

The comment count on any note is updated before approvals from moderators.

The comment count should only update when approved by mods.

### Please show us where to look

![image](https://user-images.githubusercontent.com/47106543/113055527-532ee100-91c8-11eb-8bc3-54e58ad80f04.png)
https://publiclab.org/notes/cess/03-24-2021/call-for-2021-gsoc-proposals#P

[2021-03-30 21:03] icarito commented on #9382
Yup, I think #9395 did fix it.

[2021-03-30 21:05] noi5e commented on #9382
Ah, great, I see. I put the commands in the wrong order. Thanks @icarito!

[2021-03-30 21:08] noi5e commented on #9382
Oh yeah, I left a note about this in chat (but obviously it's easy to miss with all the activity lately):

[2021-03-30 21:20] jywarren commented on #8808
I appreciate your offers of help! I'm not sure this one will be easy to solve without a copy of the full database or access to a console. I apologize!!!

[2021-03-30 21:31] jywarren commented on #6367
You're welcome to begin on part of it! It's a big project! For example the following would be done through a migration script in `/db/migrate/.....` -- we'd have to find any instances where a tag record has a `parent` field that's not empty, then:

- add the named parent tag to all content bearing the original tags
- remove the `parent` field from the original tag

Code currently driving this syst

[2021-03-30 21:36] first-timers[bot] opened #9398 "Add additional related "subtags" upon adding new tags"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-30 21:46] jywarren commented on #6367
For removing the code, we can do that now, and it's the following locations:

* [ ] any instance of the word "parent" in tag.rb!
* [ ] https://github.com/publiclab/plots2/blob/ee46fe0adf85ba4b64fca68cd844fa05d8eeaa42/app/controllers/tag_controller.rb#L473-L486
* [ ] https://github.com/publiclab/plots2/blob/c188b9720ba9cd739321f9efcddbe39810bcce60/config/routes.rb#L209
* [ ] https://github.com/publ

[2021-03-30 21:50] jywarren commented on #9388
A special welcome to Outreachy applicants, and thank you for your time! We are so honored to have the chance to work with you and want you to know that we're here to help, both in the comments right here, and in our chatroom at https://gitter.im/publiclab/publiclab if you need help in the moment.

I'm Jeff -- he/him -- and I'm one of the code community coordinators here along with @cesswairimu 🙌

[2021-03-30 22:11] jywarren commented on #9382
OK, i'll make that change in a pr, thanks @noi5e !!!

[2021-03-30 22:14] jywarren commented on #9257
Hi @17sushmita -- no, we accept applications for these from both programs. Yes, we would love to have your application through the GSoC program! Thank you!

[2021-03-30 23:03] amiyahfrierson commented on #9388
Hi! I'm Amiyah and I'm new to FOSS and making contributions, but I am eager to grow my skills through the Outreachy program. 😄

[2021-03-30 23:26] jcads commented on #6367
Few questions,
- Is "parent" the same as "parents"?
- Should this be removed?
https://github.com/publiclab/plots2/blob/d7a021d25cca367e1162cea73863c5fe9fe9bd6a/app/models/tag.rb#L105-L108

[2021-03-30 23:45] jcads commented on #9388
Hi @amiyahfrierson, welcome! Checkout https://code.publiclab.org/ on details on how to start contributing. Feel free to ask any questions here or in the chatroom.

Thank you!! :tada: :tada:

[2021-03-30 23:47] jywarren commented on #9388
Hi @amiyahfrierson - welcome!!!

[2021-03-31 00:37] aliciapaz commented on #9398
Hello, I want to take this issue, please 😺
I already have the project running locally. I'll see what I can do.

[2021-03-31 00:41] aliciapaz commented on #9388
Hi everyone, I'm Alicia. Hoping to make my first contribution soon 🌱

[2021-03-31 01:16] aliciapaz commented on #9398
Hi, it's me again 📬  I just opened a pull request. I'm looking forward to any feedback, thanks!

[2021-03-31 02:52] iamananya commented on #9388
Hello ! I am ananya .Looking forward to contribute to the projects and get guidance from the awesome community of public labs.😁😁

[2021-03-31 04:13] GayathriVenkatesh commented on #9083
Hello, I am a first-time contributor applying to Outreachy and am looking for simple issues to get started. Would love it if you could add my name to the list. Thank you :)

[2021-03-31 04:14] jcads opened #9403 "Remove instances of "parent" in tag.rb"
Part of #6367

More context https://github.com/publiclab/plots2/issues/6367#issuecomment-810598964

[2021-03-31 05:22] Manasa2850 commented on #9290
@cesswairimu another thing I observed is that the same entry appears in multiple rows. For example, `sandbox-soil` appears in both row 1 and row 2. But ideally it should appear in only one of the rows. This is why the number of rows is increasing to 1031. Not sure why this is happening.

[2021-03-31 05:29] GayathriVenkatesh opened #9405 "Language dropdown at the bottom of the page not working"
### Please describe the problem (or idea)

The language dropdown at the bottom of the page doesn't seem to work.

Ideally, when the user clicks on a particular language, the contents of the entire site should translate to that language. But the dropdown doesn't seem to work because even after clicking on a different language, the page is always in English.

### Please show us where to look

https:

[2021-03-31 06:08] GayathriVenkatesh opened #9407 "Display error for non-unique username as soon as it is entered during sign-up"
### Please describe the problem (or idea)

When a user signs up for the first time, it would be nice to display whether the username is unique or not, as he is typing the username.

![Screenshot (50)](https://user-images.githubusercontent.com/32172764/113096827-919dbd80-9213-11eb-894f-cdeb8f48b9d6.png)

After entering all my details - username, email id and typing the password twice, the page thre

[2021-03-31 07:19] kulsoomzahra commented on #9392
Hey! Can i work on this issue?

[2021-03-31 07:58] kulsoomzahra commented on #9392
https://github.com/publiclab/plots2/pull/9408/
Please review

[2021-03-31 08:25] cesswairimu commented on #9398
Thanks @aliciapaz :tada:

[2021-03-31 10:23] waridrox commented on #9405
Hi @GayathriVenkatesh, I believe this is a repetition of #9055.

[2021-03-31 11:20] goodluck1455 commented on #9388
Hello everyone, am Goodluck Stephen by name, always ready to learn and grow at any point in time. I look forward to contributing to the project and as well learn new things.

Thank you.

[2021-03-31 12:55] Manasa2850 opened #9411 "Sorting by last activity does not work on the 'people' page"
### Please describe the problem (or idea)

Sorting by last activity does not give the correct results. `1 day ago` is displayed before `About 16 hours ago` and `About 18 hours ago`.

![temp](https://user-images.githubusercontent.com/43354059/113147434-65536280-924e-11eb-9768-687fadb182c5.png)

### Please show us where to look

https://publiclab.org/people?sort=last_activity

[2021-03-31 13:22] manishaag7 commented on #8808
ok I understand , thanks for replying.

[2021-03-31 13:33] manishaag7 commented on #6367
@jywarren is @jcads will be working on this or I can work on it?

[2021-03-31 13:34] manishaag7 commented on #8317
Thank you @jywarren

[2021-03-31 14:18] Priyaraj17 commented on #9411
Is this issue open? May I work on this?

[2021-03-31 14:42] jywarren commented on #9083
@yogita98 would you like to take #9392? If not no worries! @GayathriVenkatesh welcome, and thank you! If @yogita98 doesn't claim #9392 in a day or so please leave a comment there to claim it! I've added you to the list above as well.

Thanks everyone!

[2021-03-31 14:43] jywarren commented on #9388
Hello @aliciapaz @iamananya @goodluck1455 -- a big welcome to you all!

[2021-03-31 14:53] GayathriVenkatesh commented on #9405
Ok sure :)

[2021-03-31 18:21] Manasa2850 opened #9412 "Retain gallery/list view state when we move from one filter to another in the questions page"
**Please describe the desired behavior.**
Currently, irrespective of whether we're in the gallery view or in the list view in https://publiclab.org/questions/ if we go to `Recently Asked`, `Recently Commented` etc it switches to gallery view. It would be good if the same state is retained when we click on one of the columns i.e if we are in list view in `Recently Asked` and then go to `Recently Co

[2021-03-31 18:25] icarito opened #9414 "Makefile automated redeploy needs to re-read Makefile."
When deploying, we use the Makefile to pull-from-stable and then redeploy container.
If the pull-from-stable step updates the Makefile, the process continues using the previous Makefile that it already read instead of reloading the Makefile.
We should recursively invoke make from the Makefile to force a reload of Makefile and avoid deployment issues when Makefile is changed.

[2021-03-31 19:52] Priyaraj17 commented on #9411
Sorry for being late, thanks I will get started.

[2021-03-31 21:03] imajit opened #9415 "Suggestions for editor"
I had some suggestions for the editor
- when one tries to add a link, the link text is erased on hitting backspace; instead of typing the text after adding the link, I feel it would be easier to add text for the link in the same pop-up where one is adding the link.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/38528640/112057629-8b5a7200-8b7f-11eb-8524-b582ed9b39a1.gif)
-  It

[2021-04-01 04:07] jcads commented on #6367
Hello @manishaag7, I have already opened a PR (#9403) for this issue.

[2021-04-01 07:08] manishaag7 commented on #6367
ok thanks @jcads

[2021-04-01 10:03] omgupta1608 commented on #9083
Hey, I am a first-time contributor and looking for an easy issue to get started with. Would be glad if you could add my name in the list, happy to contribute. 😊

[2021-04-01 10:26] cesswairimu commented on #9083
Hi @omgupta1608 I've added your name to the list. Thanks

[2021-04-01 10:39] omgupta1608 commented on #9388
Hello, I am Om. I am new to FOSS and would like to start my journey. Looking forward to working with great people on great tech. 😊

[2021-04-01 13:16] RuthNjeri commented on #9382
Thanks, everyone! 🎉
Closing the issue since PRs referencing it have been merged 🚀

[2021-04-01 13:16] #9382 closed

[2021-04-01 13:28] #9358 closed

[2021-04-01 13:58] RuthNjeri commented on #9388
Hi everyone! And Welcome @omgupta1608, @aliciapaz, @iamananya, @goodluck1455 and @amiyahfrierson 🎉
We are happy to have you join us in your Open Source journey. I'll be creating a couple of first-timer issues that you could try out in the next few hours. If you are unable to find an issue please reach out to us here, and we'll help you find one. Thank you!

[2021-04-01 14:11] ebarry opened #9416 ""Save" not working on /features"
### Please describe the problem (or idea)

As an Admin, I edited text in a Feature, then clicked Save. The page reloaded with a "This page does not exist" screen, see screenshot. I also tested clicking "Save" without editing, with the same result.

<img width="998" alt="Screen Shot 2021-04-01 at 10 08 36 AM" src="https://user-images.githubusercontent.com/161439/113306835-7e055c00-92d2-11eb-8845-98

[2021-04-01 14:19] eightballocto commented on #9083
Hi, I'm interested in contributing and this is my first time with GSoC—haven't been able to find any issues that I could work on. May I please be added to the list?

[2021-04-01 16:04] sentry-io[bot] opened #9417 "ActionView::Template::Error: undefined method `username' for nil:NilClass"
Sentry Issue: [PLOTS2-186](https://sentry.io/organizations/publiclab/issues/2309781192/?referrer=github_integration)

Affecting pages like: https://publiclab.org/wiki/spectral-workbench-api

[code]

[2021-04-01 16:06] sentry-io[bot] opened #9418 "NoMethodError: undefined method `notes_for_tags' for #<User:0x00007f95d21db590>"
Sentry Issue: [PLOTS2-18A](https://sentry.io/organizations/publiclab/issues/2310388476/?referrer=github_integration)

[code]

[2021-04-01 16:07] jywarren commented on #9418
We should perhaps also ensure we have a functional test for this page!

[2021-04-01 16:07] sentry-io[bot] opened #9419 "ActionView::Template::Error: undefined method `name' for nil:NilClass"
Sentry Issue: [PLOTS2-18C](https://sentry.io/organizations/publiclab/issues/2310588778/?referrer=github_integration)

Affecting pages like: https://publiclab.org/notes/warren/2-7-2013/feb-20th-public-lab-meetup-somerville-ma

[code]

[2021-04-01 16:08] sentry-io[bot] opened #9420 "ActiveJob::SerializationError: Unsupported argument type: ActiveRecord::Relation"
Sentry Issue: [PLOTS2-188](https://sentry.io/organizations/publiclab/issues/2309882918/?referrer=github_integration)

[code]

[2021-04-01 16:09] sentry-io[bot] opened #9421 "ActionView::Template::Error: undefined method `username' for nil:NilClass"
Sentry Issue: [PLOTS2-18G](https://sentry.io/organizations/publiclab/issues/2311402384/?referrer=github_integration)

This seems to affect visiting the wiki root path at https://publiclab.org/wiki/, but may interact with being redirected to the https://publiclab.org/join/ path?

[code]

[2021-04-01 16:11] jywarren commented on #9420
I believe this is possibly in relation to some of the recent modifications to `deliver_now` code in one of these: #9310 #9311 #9312

It's affecting whether digest emails are being sent!

[2021-04-01 16:57] sentry-io[bot] opened #9422 "TypeError: allocator undefined for Proc"
This may be a relatively tough bug so I'm happy to claim it!

Sentry Issue: [PLOTS2-18H](https://sentry.io/organizations/publiclab/issues/2311583006/?referrer=github_integration)

[code]

[2021-04-01 16:58] jywarren commented on #9422
It occurs when creating a new account on PublicLab.org using a Twitter account. cc @SidharthBansal in case this makes sense to you! Thanks!

[2021-04-01 18:12] gaurav2699 commented on #4072
Hey @jywarren. I have a doubt, I believe we are deprecating the drupal_content_type_map model, and as mentioned in this issue https://github.com/publiclab/plots2/issues/956, we are merging the drupal_content_type_map model to the map node body field.  Since the body of a node is a text field, how can we merge the content_type_map table in that as it contains several columns? Thank you!

[2021-04-01 18:17] gaurav2699 commented on #4072
or are we doing it using hashes?

[2021-04-01 18:57] pydevsg commented on #9083
Hi, @eightballocto I have added you to the list. Will inform you about a first-timer issue if I come across any.
Please checkout first-timer issue from here  - https://code.publiclab.org/#r=all  in the mean time .

[2021-04-01 19:48] RuthNjeri commented on #9283
Hi everyone! Thank you all for joining us, I am looking forward to contributing with all of you and reviewing your proposals 😃

[2021-04-01 19:50] govindgoel commented on #9283
@RuthNjeri Thanks, I have posted the draft proposal for translation system refinements here: https://publiclab.org/notes/govindgoel/03-25-2021/gsoc-proposal
I'm working on it to improvise.

[2021-04-01 19:52] RuthNjeri commented on #9283
Thanks @govindgoel, I'll have a look at it soon and leave some comments.

[2021-04-01 20:12] RuthNjeri commented on #6095
Hi, sharing my steps in how I fixed this locally for me...I am using a MacOS and the first thing I did was upgrade the Chromedriver version I have by using the command `brew upgrade chromedriver`  I  had some issues with that so I uninstalled the chromedriver `brew uninstall chromedriver `then reinstalled it `brew install chromdriver`.

I read that the chromedriver should match the chrome version.

[2021-04-01 20:19] #9360 closed

[2021-04-01 20:24] #9344 closed

[2021-04-01 20:25] eightballocto commented on #9283
Hi all, I'm Michelle—a fairly green developer. I specialize mostly in web design, and I have experience with server-side scripting languages like Python, Ruby, and PHP.

[2021-04-01 22:40] achhetr commented on #9366
changing database to sqlite worked, thank you guys I am closing this issue

[2021-04-01 22:40] #9366 closed

[2021-04-02 05:25] Manasa2850 opened #9425 "Add translations for editor/post.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-02 05:34] omgupta1608 commented on #9425
Can I work on this ? I am a first timer.

[2021-04-02 05:35] Manasa2850 commented on #9425
Sure, you can work on this!

[2021-04-02 06:01] omgupta1608 commented on #9425
#9426
I did the required changes and I have opened a Pull Request.

[2021-04-02 06:01] omgupta1608 commented on #9425
#9426

[2021-04-02 06:13] Manasa2850 opened #9428 "Add translations for map/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-02 06:26] amiyahfrierson commented on #9428
I'd like to claim this one, if you please.

[2021-04-02 06:35] siddhantdixit commented on #9428
I have Updated config/locales/en.yml file. Waiting for Review :)

[2021-04-02 07:15] omgupta1608 commented on #9083
@cesswairimu you can check my name from the list as I picked up a "first-timer" issue, did the required changes and opened a PR, which got approved by @Manasa2850.
I am glad to achieve this milestone.
Thank you guys, looking forward to more contribution on this amazing project. 😊

[2021-04-02 07:34] amiyahfrierson commented on #9428
Oh, thought we had to claim these first. 😅

[2021-04-02 07:54] siddhantdixit commented on #9428
I am new to GitHub! I wanna contribute :)

[2021-04-02 08:11] sahilchalia commented on #9083
Hi, I am a newbie in the open-source and looking for some simple issues to get started with. Would love it if you could add my name to the list.

[2021-04-02 08:15] sahilchalia commented on #9388
I am a first-timer in FOSS. Looking forward to work with the amazing publiclab community. I am a front-end developer skilled in Web and Mobile Applications development.
Hello everyone!

[2021-04-02 08:22] gaurav2699 commented on #9421
Is it because some wikis don't have an author?

[2021-04-02 11:57] gaurav2699 commented on #9421
@cesswairimu @RuthNjeri Is this because some wikis don't have an author? So we can just do <%=author.username if author%>.

[2021-04-02 13:39] gaurav2699 commented on #9257
Hi @jywarren, I have a query regarding the Legacy Code deprecation project. It has been mentioned to produce archival export of the data. So I want to know which format will be desirable: .sql, csv, json, or anything else. Thank you!

[2021-04-02 13:41] gaurav2699 commented on #9257
Also, another query I posted here https://github.com/publiclab/plots2/issues/4072

[2021-04-02 15:42] RuthNjeri commented on #9388
Hi and welcome @sahilchalia 😃

[2021-04-02 18:37] RuthNjeri commented on #6446
Hi @SharmaTanish, that's alright. Please share the link to the PR you have created.

[2021-04-02 19:19] RuthNjeri commented on #9283
Hi and welcome @eightballocto 🎉

[2021-04-02 19:22] RuthNjeri commented on #9421
Hi @gaurav2699 that could be a reason, the best way to find out is testing it locally, Instead of the if statement, you could use the safe navigation symbol that Ruby has https://stackoverflow.com/questions/36812647/what-does-ampersand-dot-mean-in-ruby

[2021-04-02 19:35] YogeshSharma01 commented on #9394
Hello, @jywarren  how are you?
I'm working on this issue and I'm in contact with the transfix support team as we were facing to click on that globe icon and it directed us to the 404 pages. Also, I have shared Screenshots and Screen-Recording to them as they have asked for and soon I'll come up with the solution here.

[2021-04-02 20:12] jywarren commented on #9257
Hi, Gaurav! Good questions. for the export data format, I think SQL is
probably fine.

As to drupal_content_type_map columns, I think we should assemble a
readable string from them, perhaps humanizing the column names and
assembling Markdown text from them along with their values? Thanks!

On Fri, Apr 2, 2021 at 9:42 AM Gaurav Singh ***@***.***>
wrote:

[2021-04-03 05:03] omgupta1608 commented on #9419
Can I work on this? I am new ruby but I can try.

[2021-04-03 08:26] gaurav2699 commented on #9421
Yeah so I created a record for wiki in the node table with uid as null, and same error is coming. So I think this is most probably the reason.

[2021-04-03 09:54] gaurav2699 commented on #9421
Hey @RuthNjeri, yeah I tried this locally, so the uid of a node cannot be null, but this error comes when I put the uid as the id of the user that does not exist in the users table. This is probably because the user has deleted his/her account but the record created by it has not been deleted. We can change this line to ensure that this error doesn't come in the future
https://github.com/publiclab

[2021-04-03 10:44] gaurav2699 commented on #9421
Hey @RuthNjeri, I made the required changes. Please review my PR. Thanks a lot!

[2021-04-03 18:40] manishaag7 commented on #9420
I would like to work on this @jywarren, can I ?

[2021-04-03 19:49] cesswairimu commented on #9083
Thanks @omgupta1608 :tada: , hi @sahilchalia adding you to the list. Thanks all for your patience

[2021-04-03 19:51] cesswairimu commented on #9428
Thanks a lot @Manasa2850  for the FTOs.. feel free to be mentioning them at #9083 for any folks waiting for first-timer issues,
Thanks again for all the great work you are doing :heart: . Thanks

[2021-04-03 20:02] cesswairimu commented on #9428
Hi @amiyahfrierson hi @siddhantdixit
@amanda-ariyaratne yeah you are right,  we encourage one to let others know they are working on an issue, so nobody else picks it up, @siddhantdixit if you read the description of the issue we have the steps explained there...kindly let people know you are working on an issue before and if someone has expressed interest ask them if they are still working on it

[2021-04-03 20:04] #9425 closed

[2021-04-03 20:13] cesswairimu commented on #9421
@gaurav2699 yeah I think we can do that or even use the safe nil navigator `&.` https://mitrev.net/ruby/2015/11/13/the-operator-in-ruby/ ... did you want to work on this? I could convert it to a FTO otherwise, Thanks

[2021-04-03 20:17] cesswairimu commented on #9428
@siddhantdixit  I just say you deleted the branch your branch and fork, are you planning to reopen the pull request?  Thanks

[2021-04-03 20:25] siddhantdixit commented on #9428
@cesswairimu No! :)  Thanks!

[2021-04-03 20:29] #9309 closed

[2021-04-03 20:40] amiyahfrierson commented on #9428
@cesswairimu I'm still looking! I'd love to be added.

[2021-04-03 20:45] cesswairimu commented on #9308
Hi @Yogita98, @anirudhprabhakaran3 accidentally solved another issue instead of this...I am going to assign this to you thanks

[2021-04-03 20:56] cesswairimu commented on #9419
Go ahead @omgupta1608, thanks

[2021-04-03 21:01] cesswairimu commented on #9415
Thanks @imajit for opening the issue cc @jywarren  @noi5e @ebarry.
I will move this to the editor project so that we can discuss more over there. Thanks

[2021-04-03 21:16] #9392 closed

[2021-04-03 21:24] cesswairimu commented on #9428
thanks @siddhantdixit,
@amiyahfrierson you can go ahead and work on this one, assigning this to you . Thanks

[2021-04-03 21:56] cesswairimu commented on #5426
Looks like this is not solved yet...I will update the details and maybe we should limit it 200 or 150...the longest title I could find on the website is 143 chars

[2021-04-03 22:06] cesswairimu commented on #5426
Just ran into https://github.com/publiclab/plots2/pull/6381#issuecomment-575679544 . Closing this. Thanks all

[2021-04-03 22:06] #5426 closed

[2021-04-03 22:11] cesswairimu commented on #4990
I believe with the new dashborad this value is no longer valid. Closing this. Thanks all

[2021-04-03 22:11] #4990 closed

[2021-04-03 22:17] cesswairimu commented on #5047
@jywarren @ebarry  kindly confirm if we want to remove moderators from editing others' notes. Thanks

[2021-04-03 22:46] first-timers[bot] opened #9436 "No overwriting Webpack configs"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-03 22:49] cesswairimu commented on #9083
@Gayathri Venkatesh [here](https://github.com/publiclab/plots2/issues/9436) is one for could claim thanks .

[2021-04-03 22:49] cesswairimu commented on #9436
Reserved for @Gayathri Venkatesh

[2021-04-03 22:53] first-timers[bot] opened #9437 "Add server start step under installations"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-03 22:54] cesswairimu commented on #9083
@eightballocto here is one you for you https://github.com/publiclab/plots2/issues/9437, thanks

[2021-04-03 22:55] cesswairimu commented on #9437
Reserved for @eightballocto

[2021-04-03 22:58] cesswairimu commented on #9083
@sahilchalia  you could claim this one https://github.com/publiclab/plots2/issues/8911 its freed up. Thanks all!

[2021-04-03 23:07] cesswairimu commented on #9250
Hi @MohammedHamzaMalik  looks like you made the PR on your fork...if you are still interested you can go ahead and make a PR on the publiclab repo by navigating to
https://github.com/publiclab/plots2/compare/main...MohammedHamzaMalik:updated-_recent_questions_shadow.html.erb and click on the `Create a pull request` button. Thanks

[2021-04-04 00:33] cesswairimu opened #9438 "Image upload failing"
Image upload fails with this error in the body section "Section 4" of `/post` route
![Screenshot from 2021-04-04 03-28-07](https://user-images.githubusercontent.com/17081074/113494934-ee3ff780-94f5-11eb-8fef-62eb9f136a85.png) this is on the https://publiclab.org/, was able to replicate it on https://unstable.publiclab.org and locally

Note:  Image upload is working fine on "Section 2" of `/post`
T

[2021-04-04 00:57] cesswairimu commented on #9388
Hi everyone and welcome!!,
[Here](https://publiclab.org/notes/cess/04-04-2021/call-for-proposals-outreachy-summer-2021) is a call for proposals on the PL website Please do consider submitting early so that mentors can give feedback and help you improve on your proposal before you submit it on the Outreachy website. Thanks all :heart:

[2021-04-04 01:01] cesswairimu commented on #9290
oh wow, great observation...maybe we need to add "distinct" on the query fetching on index :thinking: ...I will investigate more on this and revert

[2021-04-04 02:01] eightballocto commented on #9437
Thank you, I will work on this as soon as I can.

[2021-04-04 03:02] anirudhprabhakaran3 commented on #9389
Hello! I would like to open the next weekly check-in, considering that it's been 5 days since this one.

[2021-04-04 05:31] sahilchalia commented on #8911
Can I work on this

[2021-04-04 06:33] YogeshSharma01 commented on #7798
Hi, @grvsachdeva like only users who have an account on Transifex those users can only translating the website into different languages using Transifex. When I try to translate the text by clicking on the 'Get Started' in the globe icon, I'm directed to the 404 pages on the transfix website
![Screenshot 2021-03-30 at 11 50 10 PM](https://user-images.githubusercontent.com/51679200/113500388-261d5e0

[2021-04-04 06:36] waridrox opened #9441 "Content mixes with toolbar functions in editor"
### Please describe the problem (or idea)

**What happened just before the problem occurred? Or what problem could this idea solve?**

The writeup content of the post gets mixed up with the editor toolbar when scrolling or viewing content in general while making a post.

![FC586C05-ABF2-4D59-A9CB-1655D4D4A9DA_1_201_a](https://user-images.githubusercontent.com/58583793/113500746-266b2880-953e-11eb-

[2021-04-04 06:37] gaurav2699 commented on #9421
Hey @cesswairimu, I have already linked a PR that should solve this issue. I think this issue arose because the user who created the wiki has deleted his/her account but the wiki is not deleted because we don't have on delete cascade for the relationship. Thank you!

[2021-04-04 06:45] waridrox opened #9442 "Map credits being overlayed on Insert Image popup that is failing"
### Please describe the problem (or idea)

**What happened just before the problem occurred? Or what problem could this idea solve?**
Map credits like **Leaflet, Mapbox and OpenStreetMap** show up when the insert image popup is displayed. The image insert functionality is also not working from device / from URL

<img width="622" alt="Screenshot 2021-04-04 at 2 30 03 AM" src="https://user-images.gi

[2021-04-04 06:48] waridrox commented on #9438
Also referencing #9442 for a minor problem.

[2021-04-04 07:09] omgupta1608 commented on #9283
Hi, I am Om Gupta, I am a 2nd year student from New Delhi, India. Looking to start my FOSS journey. I am full-stack web developer and work on other technologies like Android, Systems etc.
Hello everyone!! 😊

[2021-04-04 07:43] cesswairimu commented on #9389
Fantastic @anirudhprabhakaran3 :tada:  There is a template at https://github.com/publiclab/plots2/issues/new?assignees=&labels=community+check-in&template=--weekly-check-in.md&title=Weekly+Community+Check-In+%23+-+Topic that you could use.. you could open the check-in ether today(Sunday) evening or tomorrow. Feel free to reach out if you have any questions. Thanks!

[2021-04-04 07:57] cesswairimu commented on #9438
thanks @waridrox :+1:

[2021-04-04 08:11] anirudhprabhakaran3 commented on #9389
I see that the template has sections for a title, focus issues, and contributors. How do I get relevant information for those sections?  Also, I'll open the check-in today in the evening (13:30 GMT).

[2021-04-04 08:54] #9428 closed

[2021-04-04 09:02] cesswairimu commented on #9389
You could choose any topic/theme you would like people to discuss..you could check out #9318 for some ideas from past themes.. as for focus issues and contributors you can leave as is on the template I will help update after you post. Thanks

[2021-04-04 10:18] 17sushmita opened #9443 "Wrong time difference in comment moderation page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-04 10:20] iamayushdas commented on #9443
Assign this to me

[2021-04-04 10:39] xdshivani commented on #9443
I would like to work on this.

[2021-04-04 10:41] iamayushdas commented on #9443
okay take it then

[2021-04-04 10:47] grvsachdeva commented on #7798
Hi @YogeshSharma01, yeah account is required to act as a translator on Transifex, and apart from that I believe the project need to act a person as translator or in relevant role too. I can see there are bunch of requests pending to be accepted.

Hey @jywarren @ebarry please checkout https://www.transifex.com/publiclab/teams/65351/requests/ 😄

[2021-04-04 11:01] roli25 commented on #9388
Hello everyone, I am Roli Jain , an Outreachy applicant. I wish to contribute in Publiclab organization.
Could you please suggest some issues to get started with?
Thankyou.

[2021-04-04 12:19] YogeshSharma01 commented on #7798
Hi, @grvsachdeva this [link](https://www.transifex.com/publiclab/teams/65351/requests/) also shows me 403 forbidden error I have shared a ScreenShot below, or either @jywarren  and @ebarry can only open this page and able to see the requests?
![Screenshot 2021-04-04 at 5 46 42 PM](https://user-images.githubusercontent.com/51679200/113508465-d0ae7480-956d-11eb-96a2-350c854d7d2c.png).

[2021-04-04 13:35] anirudhprabhakaran3 opened #9444 "Weekly Community Check-In #98 - GSoC and Outreachy applications still open!"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their cur

[2021-04-04 13:36] anirudhprabhakaran3 commented on #9389
@cesswairimu https://github.com/publiclab/plots2/issues/9444

[2021-04-04 16:20] waridrox commented on #9438
Attempting to debug the problem further, the error that I got when uploading an image from local file storage was
`Paperclip::Errors::CommandNotFoundError: Could not run the 'identify' command. Please install ImageMagick.`
under local dev environment. This I believe is a new dependency for `paperclip` gem that deals with file uploads.

<img width="954" alt="Screenshot 2021-04-04 at 8 13 15 PM" src

[2021-04-04 16:56] cesswairimu commented on #9389
Thanks a bunch @anirudhprabhakaran3
Moved to #9444  thanks all

[2021-04-04 16:56] #9389 closed

[2021-04-04 18:01] Priyaraj17 commented on #9442
May I work on this issue?

[2021-04-04 18:08] Priyaraj17 commented on #9441
Can you please tell me how to reproduce this error?

[2021-04-04 18:25] SharmaTanish commented on #6446
@RuthNjeri please have a look to this pull request , if you have not yet ?

Thank you

[2021-04-04 18:35] YogeshSharma01 commented on #9283
Hi, @RuthNjeri
I have posted the draft proposal for translation system refinements here:
https://publiclab.org/notes/YogeshSharma01/04-04-2021/gsoc-proposal
Please review
Warm Regards
Yogesh Sharma
Thanks😊

[2021-04-04 18:41] waridrox commented on #9442
@Priyaraj17 Yes, go for it 🚀 maybe tweaking with the z-index property of the credits can resolve this...

[2021-04-04 19:46] cesswairimu commented on #9444
Thanks @anirudhprabhakaran3  :tada:

[2021-04-04 21:12] cesswairimu commented on #9438
Thanks @waridrox, I pulled your changes and I am still getting the error....could someone else please try on their end. Thanks

[2021-04-04 21:16] waridrox commented on #9438
Oh 😅 really sorry about that, pls revert the pull then. Does it work locally though ?

[2021-04-04 21:45] jywarren commented on #9438
Hi all, locally it makes some sense that it's an imagemagick but (or absence of imagemagick) but on stable it should be installed. I wonder if it's a distinct bug on stable? We should cross check on Sentry.io. Cess do you have access?

Thanks for finding and documenting this!!

[2021-04-04 21:48] jywarren commented on #9438
I'm not seeing sentry errors on image upload except in relation to profile pics (which is often the case due to spam and attacks).

![Screenshot_20210404-174638](https://user-images.githubusercontent.com/24359/113522366-e3c14480-956d-11eb-9658-499ddd9f147f.png)
![Screenshot_20210404-174706](https://user-images.githubusercontent.com/24359/113522367-e459db00-956d-11eb-9eee-ee91820cd8d0.png)

What is

[2021-04-04 21:48] jywarren commented on #9438
Sorry I mean /recent/ errors

[2021-04-04 21:51] waridrox commented on #9438
Yes @jywarren :(

[2021-04-04 21:55] cesswairimu commented on #9438
@waridrox it didn't work for me locally maybe I have the wrong version..@jywarren it was more of a 302 error

[2021-04-04 21:56] cesswairimu commented on #9438
![Screenshot from 2021-04-05 00-54-02](https://user-images.githubusercontent.com/17081074/113522522-c27e4980-95a9-11eb-9c6a-cd7710104d55.png)

[2021-04-05 03:49] sahilchalia commented on #9283
Hello everyone, I am Sahil, a 2nd year BCA student from India. I am new to FOSS and looking to start my journey with you people. I am a front-end web developer and I know flutter as well.

[2021-04-05 07:05] Priyaraj17 commented on #9442
I tried to reproduce the error, but things are fine on my PC. I am using Linux. Here is a screenshot:
![image](https://user-images.githubusercontent.com/40101776/113547341-53394180-960b-11eb-9ed0-e2610a83eac0.png)
Can you please take a look?

[2021-04-05 07:24] waridrox commented on #9442
The bug is kind of tricky to produce, you have to give enough room for the image upload prompt to take over the map preview like this -

https://user-images.githubusercontent.com/58583793/113548884-fc813700-960d-11eb-8d6a-5187e201a42e.mp4

[2021-04-05 07:31] Priyaraj17 commented on #9442
Okay, Got it, Thanks

[2021-04-05 07:33] harryobas commented on #9308
@cesswairimu Is anyone working on this issue right now? Would be happy to work on this if its still up for grabs

[2021-04-05 07:47] waridrox opened #9450 "Profile photo preview on dashboard pane not showing up on certain pages"
### Please describe the problem (or idea)
Profile photo preview on the dashboard menu is not showing up on certain webpages.

### Please show us where to look
https://publiclab.org/

https://user-images.githubusercontent.com/58583793/113550644-07899680-9611-11eb-9ed4-f9e615877d34.mp4

### What's your PublicLab.org username?
waridrox

### Browser, version, and operating system
Chrome v89

[2021-04-05 08:34] cesswairimu commented on #9308
hi @harryobas, no,  you can go ahead and work on it. Thanks

[2021-04-05 08:37] anirudhprabhakaran3 commented on #9308
Hey @cesswairimu, have the new tests been merged too? So that when @harryobas makes a fresh fork, he won't get the test errors

[2021-04-05 08:43] cesswairimu commented on #9308
hey @anirudhprabhakaran3 yeah, I merged your pull request . Thanks

[2021-04-05 08:44] Elukoye commented on #9443
Hello ,am interested in this issue ,is anyone working on it ?

[2021-04-05 08:46] iamayushdas commented on #9443
Okay take this issue

[2021-04-05 08:46] Elukoye commented on #9443
@xdshivani are you already working on this ? Need any help?

[2021-04-05 08:46] iamayushdas commented on #9443
Its already done

[2021-04-05 08:55] gaurav2699 commented on #9283
Hey @jywarren @cesswairimu @RuthNjeri, I posted my draft proposal for Legacy Code Deprecation Project for GSoC 2021. There are still lot of changes and details to be done. Would appreciate any feedback. Thanks a lot!

[2021-04-05 09:09] Elukoye commented on #9443
Alright 👌

[2021-04-05 09:24] Elukoye commented on #8977
@cesswairimu ,can I be assigned this as a first timer only issue ?

[2021-04-05 09:30] Elukoye commented on #9450
Hi 👋 @waridrox and @cesswairimu ,can I try work on this ?

[2021-04-05 09:32] waridrox commented on #9450
Sure @Elukoye 😄, go for it! 🚀

[2021-04-05 09:34] Elukoye commented on #9450
Ok 👌 am on it

[2021-04-05 09:37] Elukoye commented on #9450
![Uploading Screenshot_20210405-123610.png…]()

[2021-04-05 09:54] #9437 closed

[2021-04-05 09:57] Elukoye commented on #9450
@waridrox ,just to be clear about the issue ,what I noticed is some header images on some posts aren't loading,is that what you meant by profile preview not showing up on certain web pages ?

[2021-04-05 10:00] waridrox commented on #9450
I am referring to the profile photo image next to the dashboard icon 😅.

<img width="137" alt="Screenshot 2021-04-05 at 3 30 03 PM" src="https://user-images.githubusercontent.com/58583793/113562485-ccdd2980-9623-11eb-8e1f-197f86617fe1.png">

[2021-04-05 10:09] first-timers[bot] opened #9451 "Grammar fix"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-05 10:39] Elukoye commented on #9451
Working on this

[2021-04-05 11:28] Elukoye commented on #9450
Oh yea , I have seen it , the video wasn't loading previously :). Thanks for the clarification.

[2021-04-05 13:13] sahilchalia commented on #9083
@cesswairimu I have claimed #8911 issue but got no confirmation. Shall I open tha PR or wait for the confirmation

[2021-04-05 13:31] cesswairimu commented on #8911
Please go ahead @sahilchalia . Thanks

[2021-04-05 13:32] cesswairimu commented on #9083
Yes @sahilchalia, you can go ahead and make a PR. Thanks

[2021-04-05 14:21] aliciapaz commented on #9388
Hi @cesswairimu! Thank you for your welcoming words.
I opened a pull request on this issue last week: https://github.com/publiclab/plots2/issues/9398 and I had some problems with the tests...I would appreciate some guidance on that, please.
Meanwhile, should I wait until I solve that one before moving to a new issue?
Thanks in advance!

[2021-04-05 14:38] waridrox commented on #9441
Interestingly, the bug is not present on local env 🤔-

https://user-images.githubusercontent.com/58583793/113585901-77684300-964a-11eb-966f-5ac0fdbff484.mp4

[2021-04-05 15:44] eightballocto opened #9455 "rake:db setup fails because of missing dependency"
As stated in the title, `rake:db` aborts due to a supposed missing dependency, "'mysql2' Active Record adapter".

I've been able to "fix" this by adding the missing dependency, but another error appears where it demands a "manifest" in `app/assets/config/manifest.js`.

I don't know if there's something I'm missing, or if there's a caveat not listed in the README, but I thought it better to raise a

[2021-04-05 16:07] YogeshSharma01 commented on #7798
Hi, @grvsachdeva you're right please accept my request.
Thanks

[2021-04-05 16:17] ebarry commented on #7798
I just approved 4 people's requests in Transifex to localize in Hindi. I did not yet approve @YogeshSharma01 to localize in Spanish and Russian -- please let me know if you really speak those languages! thank you :))))

[2021-04-05 16:30] NishantJawla commented on #9451
I found some additional changes, other than the opened pull request. I am working on that

[2021-04-05 17:23] anirudhprabhakaran3 commented on #9455
Is this on the development or deployment server?

[2021-04-05 17:25] NishantJawla opened #9457 "Grammar Fixes"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-05 17:25] eightballocto commented on #9455
I intended this to be on the development server, but I can't really say for certain (I'm still new to this project, I was following the steps to set up the project)

[2021-04-05 17:42] anirudhprabhakaran3 commented on #9455
Aah. Did you run something like `cp config/database.yml.example config/database.yml` ? I suggest you try running `cp config/database.yml.sqlite.example config/database.yml`

[2021-04-05 17:45] anirudhprabhakaran3 commented on #9283
@jywarren @cesswairimu here's my proposal:
https://publiclab.org/notes/anirudhprabhakaran3/04-03-2021/gsoc-2021-proposal-education-related-usability-upgrades

It would be really great to get some feedback. Thanks in advance!

[2021-04-05 17:55] eightballocto commented on #9455
That *did* work, but I think that's because it applies to SQLite. In this instance, it's regarding the `mysql2` gem. I noticed that in the `Gemfile` it notes the following:
[code]
Curiously, the version specified for `mysql2` in the `Gemfile` is `>= 0.4.4`

[2021-04-05 17:57] anirudhprabhakaran3 commented on #9455
That's because when you're running `bundle install`, it is ignoring the `mysql` and `production` gems. That's why the README suggests that we use the sqlite version.

However, said that one might be interested in running the MySQL version. In that case, I don't know how to un-ignore the gems😅

[2021-04-05 17:58] YogeshSharma01 commented on #9283
Hi, @jywarren and @cesswairimu, and @RuthNjeri please review my draft proposal for translation system refinements my proposal  here:
https://publiclab.org/notes/YogeshSharma01/04-04-2021/gsoc-proposal
There are still a lot of changes and details to be done. Would appreciate any feedback.
Warm Regards,
Yogesh Sharma
Thanks a lot!

[2021-04-05 18:02] eightballocto commented on #9455
Okay, that makes sense. I was able to work around this by invoking `bundle config set --local 'mysql production'`

In this process, I discovered another issue, `ActiveRecord::NoDatabaseError: Unknown database 'publiclab_dev'`

I get the feeling that this might have something to do with the script generating the database. I'll have to investigate more.

[2021-04-05 18:07] YogeshSharma01 commented on #7798
Hi, @ebarry Thanks for approval. No no not really I only speak English and Hindi languages actually i was just trying to figure out how this transfix is really working so i requested for other languages too and sorry for that.
😁 Thanks for approved my request in Transfix to localize in hindi.

[2021-04-05 18:42] NishantJawla commented on #9457
I am working on this issue

[2021-04-06 01:12] eightballocto commented on #9455
Closing as this is not a bug but rather operator error.

[2021-04-06 01:12] #9455 closed

[2021-04-06 04:09] bcrew1375 commented on #9457
I'd be happy to take over this issue if NishantJawla loses interest.

[2021-04-06 04:12] NishantJawla commented on #9457
@bcrew1375 hey!  I am facing an issue with passing the tests

[2021-04-06 05:49] cesswairimu commented on #9388
Hi @aliciapaz, you can move to another issue as you wait...I will take a look at your pull request later today and leave some comments. Thanks

[2021-04-06 06:31] raghav-max commented on #9436
I would like to claim this issue and contribute to the open source community.

[2021-04-06 07:06] harryobas commented on #9308
Hi @cesswairimu  I have tried to open a pull request after working on this but get failing tests. I'm i missing something?

[2021-04-06 07:12] cesswairimu commented on #9083
Hi @GayathriVenkatesh looks like I tagged you incorrectly...feel free to work on this one https://github.com/publiclab/plots2/issues/9436 . Thanks

[2021-04-06 07:17] cesswairimu commented on #9436
Hi raghav-max, @GayathriVenkatesh  is working on this...I will go ahead and add your name here #9083 and we will ping you when another FTO is freed up. Thanks

[2021-04-06 07:18] cesswairimu commented on #9436
Hi @raghav-max, @GayathriVenkatesh  is working on this...I will go ahead and add your name here #9083 and we will ping you when another FTO is freed up. Thanks

[2021-04-06 07:24] #9451 closed

[2021-04-06 07:25] cesswairimu commented on #9451
Hi @NishantJawla, looks like the tests are failing in all the recent PRs, I am looking into it. Thanks

[2021-04-06 07:32] cesswairimu opened #9462 "Tests failing on all recent PRs"
Its failing with this error
[code]
We have not update to 2.6.7 not sure why it is failing :thinking:

[2021-04-06 07:57] cesswairimu commented on #9308
@harryobas looks like the tests are failing on all recent PRs, I've opened an issue https://github.com/publiclab/plots2/issues/9462 and  am looking into it. thanks

[2021-04-06 07:59] cesswairimu commented on #9462
could be because we are specifying `2.6` on test.yml, git actions doesn't have a way to specify `2.6.6`...maybe we should add a .ruby-version file?

[2021-04-06 09:18] cesswairimu commented on #9462
actually specifying `2.6.6` seems to work and adding a ruby-version file seems to conflict with rubocop in codeclimate

[2021-04-06 11:03] #9462 closed

[2021-04-06 11:31] #9391 closed

[2021-04-06 11:38] #9443 closed

[2021-04-06 12:10] #9457 closed

[2021-04-06 12:12] #9436 closed

[2021-04-06 12:14] #8911 closed

[2021-04-06 12:22] NishantJawla opened #9466 "Readme.md Update"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-06 12:32] elenapiov commented on #9308
Hi! I am an Outreachy applicant and I have never  contributed to open source before. Can I work on this please?

[2021-04-06 14:24] arsen1c commented on #9466
Hey, I would like to work on this :)

[2021-04-06 14:36] jywarren commented on #9388
Hi all, I wanted to say welcome to everyone once more -- and to note that we often get DMs from people about reviewing still-not-yet-posted proposals; and I usually respond with something like:

I totally understand if people aren't sure about posting a draft, but just know that it's totally OK to post a partially complete draft for feedback, in fact it's encouraged!

Some folks will feel competit

[2021-04-06 14:37] jywarren commented on #9283
Hi all, I wanted to say welcome to everyone once more -- and to note that we often get DMs from people about reviewing still-not-yet-posted proposals; and I usually respond with something like:

I totally understand if people aren't sure about posting a draft, but just know that it's totally OK to post a partially complete draft for feedback, in fact it's encouraged! Thanks to those who have alrea

[2021-04-06 14:41] jywarren commented on #9394
Hi @YogeshSharma01 i really appreciate the research you've been doing here. If you can be sure to copy in any updates you've found here so we can stay synced, that'd be great! 🎉

[2021-04-06 14:51] sentry-io[bot] opened #9468 "Incorrect URLs for some map pages"
Sentry Issue: [PLOTS2-190](https://sentry.io/organizations/publiclab/issues/2317394433/?referrer=github_integration)

[code]

[2021-04-06 15:06] jywarren commented on #9468
I created this because I noticed this error for URL https://publiclab.org/map/landfill-incinerator-saugus-massachusetts/2021-04-04, and i realized it's actually a bad URL -- it should be https://publiclab.org/map/landfill-incinerator-saugus-massachusetts/2011-10-10, which works fine.

So i want to search the site for where the originating link is coming from... maybe we have a wrongly coded URL...

[2021-04-06 15:06] daemon1024 commented on #9416
Noting some finding that may assist in solving this.

When we try to edit and save in local development environment, the route seems to throwing off an exception.

```No route matches [POST] "/features/<id>"```

It should be calling `update` features controllers.
https://github.com/publiclab/plots2/blob/9e66b0f1a7c19733388d233308d2b090111bc627/app/views/features/edit.html.erb#L1
https://github.com

[2021-04-06 15:07] jywarren commented on #9416
Wow very much appreciated! I got drawn into an adjacent bug 😅

[2021-04-06 15:07] jywarren commented on #9416
I'll check the routes.rb file!

[2021-04-06 15:08] jywarren commented on #9468
Hmm. No results at https://publiclab.org/search?q=https://publiclab.org/map/landfill-incinerator-saugus-massachusetts/2021-04-04

Google offers `Your search - https://publiclab.org/map/landfill-incinerator-saugus-massachusetts/2021-04-04 - did not match any documents.`

I think i'll close this but we'll keep an eye out!

[2021-04-06 15:08] #9468 closed

[2021-04-06 15:09] jywarren commented on #9416
https://github.com/publiclab/plots2/blame/main/config/routes.rb

[2021-04-06 15:10] jywarren commented on #9416
This line is 6 years old, so i doubt it's related!

https://github.com/publiclab/plots2/blame/9e66b0f1a7c19733388d233308d2b090111bc627/app/views/features/edit.html.erb#L1

[2021-04-06 15:11] jywarren commented on #9416
I really don't see much in routes.rb...

[2021-04-06 15:11] daemon1024 commented on #9416
I checked the the routes, there's no `POST` method for `features/:id`

[2021-04-06 15:12] daemon1024 commented on #9416
https://stackoverflow.com/questions/19501374/rails-4-routingerror-no-route-matches-post This might be related

[2021-04-06 15:12] jywarren commented on #9416
indeed. i think it probably uses a more general matcher, or is implicit since it's a resource?

https://github.com/publiclab/plots2/blob/9e66b0f1a7c19733388d233308d2b090111bc627/config/routes.rb#L23

[2021-04-06 15:14] jywarren commented on #9416
The broken feature was last edited `2 months ago` so i'm thinking there have only been a couple site republishes since then anyways! So strange!

[2021-04-06 15:14] daemon1024 commented on #9416
I will look into if we had any changes in the `node` model, since the stackoverflow solution seems to be pointing towards there.

[2021-04-06 15:15] jywarren commented on #9416
Aha, i like your theory on the `form_for` code, i think that's probably it. See this change: https://github.com/publiclab/plots2/pull/8923

[2021-04-06 15:16] jywarren commented on #9416
I'll try reverting that change in local and checking the generated url of the form in HTML...

[2021-04-06 15:19] jywarren commented on #9416
OK, current form shows `<form action="/features/11796" accept-charset="UTF-8" method="post">`

let me see after reverting this form_for change...

[2021-04-06 15:21] jywarren commented on #9416
Hmm. Reverting `:node` to `@node` makes it `<form class="edit_drupal_node" id="edit_drupal_node" action="/features/44" accept-charset="UTF-8" method="post">`

looks pretty similar... let me inspect the whole form, maybe even try submitting it and inspecting the package sent...

[2021-04-06 15:22] daemon1024 commented on #9416
[code]

This solved it :)

[2021-04-06 15:23] daemon1024 commented on #9416
`@node` was changed to `:node` unknowingly i guess.

[2021-04-06 15:24] daemon1024 commented on #9416
Ohh I missed this.

[2021-04-06 15:24] jywarren commented on #9416
Agreed. I'm going to try triggering a validation error to see if the displayed messages still work, as that was the target of the fix.

[2021-04-06 15:25] jywarren commented on #9416
Looks ok!

![image](https://user-images.githubusercontent.com/24359/113735953-b63ddd80-96ca-11eb-9ff7-0f31d90a8971.png)

I guess maybe it was a mistaken or unrelated change?

I'll rush this into production but we should back it with an integration test. That could be a pretty good FTO!

[2021-04-06 15:26] daemon1024 commented on #9416
🎉

[2021-04-06 15:26] #9416 closed

[2021-04-06 15:27] jywarren commented on #9416
https://github.com/publiclab/plots2/commit/99e0157d58497fa17e59c59099e97d39d3965d17 and monitoring the tests before merging to stable and publishing!

[2021-04-06 15:37] jywarren commented on #9416
Thank you so much, @daemon1024 !!!

[2021-04-06 18:36] icarito opened #9470 "Automated redeployment is interrupted"
With messages;

[code]
This is interrupting deployment to production. We need to figure out how to avoid this prompt.

[2021-04-06 18:59] gaurav2699 opened #9471 "Bug in the heading option in the Public Lab editor"
The heading option in the rich editor in Public lab misbehaves sometimes when changing the heading. This happens only sometimes so I am not sure what exactly causes the problem.

https://user-images.githubusercontent.com/28591708/113764080-1dde4200-9738-11eb-8435-4362a86fdd57.mp4

### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's yo

[2021-04-07 10:05] TildaDares commented on #9441
Can I work on this?

[2021-04-07 10:30] daemon1024 commented on #9470
The prompt can be bypassed with piping appropriate input beforehand.

[code]

can replace with any other appropriate option `n`/`y` . . .

[2021-04-07 14:02] waridrox commented on #9441
@TildaDares sure 😄, go for it! 🚀

[2021-04-07 14:23] NishantJawla commented on #9283
Hey @jywarren @cesswairimu @RuthNjeri, I posted my draft proposal for GSoC 2021. There is still a lot of work to be done in terms of changes and details. Any feedback would be greatly appreciated. Thank you very much!

[2021-04-07 16:01] SharmaTanish commented on #6446
Hi @RuthNjeri , can you please check why the Gitpod test is not passing of of above pull request?

[2021-04-08 04:38] Kabsadans commented on #9466
Hey everyone, I would like to work on this .

[2021-04-08 07:58] SharmaTanish commented on #9283
Hi  @jywarren @cesswairimu @RuthNjeri @everyone , I am Tanish BE CSE student at Chitkara University Punjab , India . I have learnt web development from coding ninjas and all my concepts also i have also made many projects using CSS and JS . I am very hardworking and have scored 94.2% in 12th . I had made a pull request of issue#6446 on plot2 repository and also i am looking to work on more issues/

[2021-04-08 08:43] #9308 closed

[2021-04-08 09:45] #9353 closed

[2021-04-08 13:21] arsen1c commented on #9466
Hey @NishantJawla this issue is now fixed here #9467. Can we close this issue now?

[2021-04-08 13:35] #9466 closed

[2021-04-08 13:42] Elukoye commented on #9388
Hello guys,
 I have a quick question @jywarren, @cesswairimu, @RuthNjeri  and all other mentors. I have scrolled through the list of candidate issues that would be good FTO and some of them are fixed. Do you need any help weeding out those? Also, I have an FTO issue separate from the list, do I create the issue then submit it or does it have to come from this list [Candidates for FTO](https://gith

[2021-04-08 14:39] TildaDares commented on #9441
@waridox I was able to reproduce the error locally. I think a possible fix would be to make these buttons have an opaque background.

## Before

<img width="922" alt="Screenshot 2021-04-08 at 15 34 31" src="https://user-images.githubusercontent.com/63427719/114045450-f0041500-987f-11eb-8fad-a6b9618f60db.png">

## After

<img width="922" alt="Screenshot 2021-04-08 at 15 38 04" src="https://user-ima

[2021-04-08 14:56] waridrox commented on #9441
Yes, @TildaDares you're thinking in the right direction! We don't require transparency on those buttons with the content.

[2021-04-08 15:29] roli25 commented on #9083
Hello @cesswairimu @jywarren ,I am a beginner contributor and I am looking for some easy issues to get started with. I would really appreciate if anyone can help me with this. Also, I am an Outreachy applicant.

[2021-04-08 16:32] Elukoye opened #9474 "Set CSS Margins and Paddings to the landing page sections."
When in the mobile view, some of the landing page elements have no padding or alignment.

**Please describe the desired behaviour.**
When in mobile view the UI elements should have equal margin and padding to create alignment, symmetry, order and visual appeal.
**Describe the solution you'd like.**
Set the CSS margin and padding proper padding of the elements to be equal especially in the Communit

[2021-04-08 16:37] Elukoye commented on #9444
Hello, I would love to participate in the next  weekly community check-in :)
@cesswairimu, @jywarren , @RuthNjeri

[2021-04-08 18:13] eightballocto opened #9475 "ActiveRecord::RecordNotFound in EditorController#post"
### Problem
When choosing "Share a step-by-step activity" from the "Share your work" menu, an error results because (presumably) a node cannot be found
![image](https://user-images.githubusercontent.com/58581962/114074020-8d078380-9869-11eb-8d01-75844cb54011.png)

Full trace:
[code]

### Browser, version, and operating system

Firefox 87.0 (64-bit)
Arch Linux x86 (64-bit) w/standard generic kernel

[2021-04-08 19:01] eightballocto commented on #9474
Replacing line 72 in `home.html.erb` with either `margin: auto;` or removing the rule altogether seems to remediate this visual issue. It should be noted that this is noticeable even when viewing on a desktop too (white space on the *right* area)

[2021-04-08 19:35] eightballocto commented on #9441
This can be accomplished by adding this rule:
[code]

However, it should be noted that the Tags button is lacking the `.btn-light` class for whatever reason so more investigation is required.

[2021-04-08 19:39] eightballocto opened #9476 "Text overflows in editor (rich mode)"
### Problem

When using the editor's Rich mode (i.e. wysiwyg) the text does not wrap around inside of the text area, but instead overflows and causes visual bugs.

![image](https://user-images.githubusercontent.com/58581962/114086397-305f9500-9878-11eb-8cba-32ddc0cca649.png)

### Where to find this bug

https://publiclab.org/post

### How to reproduce

Use the editor's "Rich" mode and type in a lo

[2021-04-08 19:44] eightballocto commented on #9471
Can you provide some text and/or steps to reproduce this issue? I can't seem to reproduce it on my instance.

[2021-04-08 19:51] TildaDares commented on #9441
@eightballocto The Toolbar already has a btn-light class but btn-outline-secondary is overriding it. Also I can't find this page in my local environment, can you please show me where it is?

[2021-04-08 19:58] TildaDares commented on #9441
Just to be sure these are the tags you're referring to.

![image](https://user-images.githubusercontent.com/63427719/114088656-273ceb00-98ad-11eb-9a50-459707fb7b7d.png)

[2021-04-08 20:04] eightballocto commented on #9441
![image](https://user-images.githubusercontent.com/58581962/114089268-8bdf5200-987b-11eb-9baf-516e7766fa95.png)
using Inspect Element in my developer environment. It seems like these buttons are dynamically generated or from elsewhere. The "Tags" button I was referring to is in the toolbar, not the text field.

[2021-04-08 20:14] waridrox commented on #9441
Hi all, @eightballocto is right and there's a different repository https://github.com/publiclab/PublicLab.Editor dedicated to the editor functionality and I recommend to take a look at https://github.com/publiclab/PublicLab.Editor/issues/664 to anyone who is trying to come up with the fix. Thanks :)

[2021-04-09 07:17] gaurav2699 commented on #9471
Hey @eightballocto the issue can be reproduced when you have a long heading of maximum size such that the heading occupies two lines in the editor. Also, another thing I found very weird it is that it only comes when I select some space after the heading while selecting the text.
 Here I will show you:

https://user-images.githubusercontent.com/28591708/114143305-9bb96d80-9931-11eb-8799-c89a13bf66

[2021-04-09 12:05] Elukoye commented on #9474
Is anyone willing to work on this issue ?

[2021-04-09 13:03] NishantJawla opened #9479 "Grammar fixes"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-09 13:31] RuthNjeri commented on #9388
Hi @Elukoye

Thanks for reaching out about this, please share the links to the ones that are fixed and @cesswairimu, @jywarren, and I will have a look at them.

We would love more FTO issues posted, you do not need any other requirement apart from choosing the FTO issue template when creating one. If you have any questions, you can tag us and we'll be happy to review it, thank you!

[2021-04-09 13:34] RuthNjeri commented on #9283
Hi Everyone, thanks for sharing your proposals, I will have a look at them in the course of the week.

Hi @SharmaTanish thank you for joining us, and welcome!

[2021-04-09 13:42] RuthNjeri commented on #9444
Thanks for opening this up @anirudhprabhakaran3 🎉

An exciting moment I have had on Public Lab is how the new comers like yourself are taking initiative by creating weekly check-ins, reviewing other PRs, and welcoming new contributors. It builds on the strength of the Public Lab community and our values. ❤️

@Elukoye Thanks! 🎉  I have added your name to the Weekly Community Communication https://g

[2021-04-09 14:05] OlaoluwaM commented on #9479
Hey, could I try my hand at this?

[2021-04-09 14:19] RuthNjeri opened #9480 "Weekly Community Check-In Ideas"
Hi everybody! 👏

We usually have Weekly Community Check-ins every week. This is an opportunity for the contributors, to say hi, ask questions, vent, give feedback and see how everyone is doing. Find the latest Check-in here https://github.com/publiclab/plots2/issues/5627

Sometimes, you need some inspiration on the kind of topic you would like to introduce in the weekly check-in, below is a list o

[2021-04-09 14:36] jywarren commented on #9444
Thanks @anirudhprabhakaran3 - much appreciated!

For me, it's always exciting to see new people show up and begin to find a place not only in making contributions, but in helping out others -- i love it when someone relatively new can step into the role of a mentor for someone else who's also new! It really makes sense, as the recent experience of learning a ton of new stuff helps one to empathize

[2021-04-09 14:59] jywarren opened #9481 "Import French translations from Transifex"
@ebarry notes that a French translation team has been working on translations for a year (!! wow awesome!) and we'd like to import these. (cc lead French translator @XavCC)

I wanted to note steps here so we do this with good coordination:

* [ ] check what's ready to be imported (do they need reviews?)
* [ ] check what would be imported (i'm not sure we can do /only/ french translations so this m

[2021-04-09 15:04] XavCC commented on #9481
I could spend a few hours this weekend reviewing translated strings.

[2021-04-09 15:06] jywarren commented on #9481
Hi, @XavCC !! Awesome to hear from you and thank you for all the excellent work!

Just an update from our dashboard, French is 100% translated, but about 15% reviewed, but marked "ready to use":

![image](https://user-images.githubusercontent.com/24359/114200123-e2539b80-9922-11eb-800f-90bb1518ad3e.png)

So, we can download either ALL the french translations OR just those that are reviewed:

![Scr

[2021-04-09 15:13] jywarren commented on #9481
Note /all/ translations are available in https://github.com/publiclab/plots2/pull/9482 now, so if we don't want to review first, we can just merge this and do reviews in a later import! Thanks!

[2021-04-09 15:15] jywarren commented on #9481
Interesting that we can do this in an automated way from the settings/integration dialog:

![image](https://user-images.githubusercontent.com/24359/114202003-c81abd00-9924-11eb-9943-314b41c1eee4.png)

This can be part of a new documentation of how to run imports, on https://publiclab.org/wiki/translation

[2021-04-09 15:22] eightballocto commented on #9474
I'll work on it, it should be a pretty simple fix.

[2021-04-09 15:23] eightballocto commented on #9471
I see, I see! I'll investigate this as soon as I can

[2021-04-09 15:28] cesswairimu commented on #9083
Hi @roli25 and welcome,  I have added your name to the list, I will try to get you an issue asap. thanks

[2021-04-09 15:29] cesswairimu commented on #9479
hi @OlaoluwaM we would love your help, please go ahead. thanks

[2021-04-09 15:35] govindgoel commented on #9481
@jywarren This is really awesome and now we can do it in an automated way too.

[2021-04-09 15:55] jywarren commented on #9388
Hi, everyone! Just wanted to note that if you are already applying to Outreachy, and qualify for GSoC, please consider applying to GSoC as well! As it's a shorter/smaller program (in time) I understand it doesn't work for everyone. But given the very small number of slots we typically manage to get in Outreachy, we are always very happy to support some additional folks from the Outreachy cohort vi

[2021-04-09 16:41] aliciapaz commented on #9476
Hi @eightballocto!

I managed to fix it in the browser with this line of code:

`word-break: break-all`

![image](https://user-images.githubusercontent.com/67963195/114212659-14b7c580-9930-11eb-84db-1dd70e94604e.png)

However, I don't know exactly where to put it, since adding it to the class` .wk-wysiwyg `in wiki.css (where it is already)  didn't work.

Any ideas please? 😸

[2021-04-09 16:57] fitnesswanderer commented on #9479
Hey I would try to apply the process you mentioned above ?

[2021-04-09 16:59] eightballocto commented on #9476
Actually, I noticed that in `wiki.css` this rule *doesn't* exist, and I added it. I've submitted a PR [here](https://github.com/publiclab/plots2/pull/9483)

[2021-04-09 17:26] jywarren commented on #9257
Hi all, i wanted to drop in some notes i left on @govindgoel's proposal that really applies to all proposals for the translation system!

Thanks! I hope this is helpful!

[2021-04-09 17:28] jywarren commented on #9257
Also, with regard to the idea of an additional guide for how to import translation files, I've added to the above description:

[2021-04-09 17:30] jywarren commented on #9394
I see - so shall we modify this in some way to say that it doesn't work until translators are approved? Then we need to perhaps change the destination of the link, or otherwise accommodate this very common possibility by offering a signup link as well as the direct link to translate!

[2021-04-09 17:30] jywarren commented on #9394
Thank you!!!

[2021-04-09 17:32] jywarren commented on #9257
also thanks to @YogeshSharma01 for investigating the Transifex link 404 issue. Thinking about the recruitment process, i changed the title of that issue to think about how to smooth the process for first-time translators. Maybe this could be part of the plan too! https://github.com/publiclab/plots2/issues/9394

[2021-04-09 18:17] NishantJawla commented on #9479
Hello there! @fitnesswanderer. I believe  @OlaoluwaM  is working on this, but you two can collaborate to submit a PR.

[2021-04-09 19:16] jywarren commented on #9283
Hi all - just a reminder to get your proposals posted as soon as possible, to give reviewers time to offer feedback so you can make revisions before the duedate on the 13th! If we don't have time, it's a bit harder to evaluate your proposals as we haven't had a chance to discuss a bit. So we appreciate it! It's totally fine if it's a draft, no problem at all. We just want to get a glimpse and offe

[2021-04-09 19:33] #9232 closed

[2021-04-09 19:37] jywarren opened #9485 "Hide datepicker if date tags exist already (2 variants)"
We now have a great datepicker in https://github.com/publiclab/plots2/pull/9256 -- hooray and thank you @imajit!!!

Now let's think of some refinements; I'd like to propose:

1. we use javascript/jquery to hide the picker once it's saved
2. we don't display it at all if the page has date tags already added

This could make for a couple nice first-timer-only issues!

https://github.com/publiclab/pl

[2021-04-09 19:39] jywarren commented on #7498
I think we would need to check if it's a draft becoming a non-draft, and set the timestamp at that moment. I see @imajit made an attempt, let's try to resuscitate this! Thanks, all!

[2021-04-09 19:50] #9250 closed

[2021-04-09 19:53] Priyaraj17 commented on #7498
I can take a look in this.

[2021-04-09 20:12] TildaDares commented on #9441
@waridox How do I link this issue to my PR?

[2021-04-09 20:12] jywarren commented on #9388
And one more thing - we're getting close to the GSoC proposal deadline, and it can be quite helpful to read over the proposals we're getting for that program, in terms of the kinds of details, questions, etc we have in mind when looking at a project proposal. The programs are of course not the same but a couple of the project ideas are, and if you are inclined to offer suggestions or ask questions

[2021-04-09 20:16] Priyaraj17 commented on #9441
Hey, you just need to add the issue number in the PR template.

[2021-04-09 20:17] jywarren commented on #6126
A quick check through this shows all have been converted, many thanks @SidharthBansal!!!

The only ones remaining are non-batch, like resetting password. Closing this now, and we've already seen huge speedups in commenting speed on Skylight! from 4-8s to ~900ms!!!

[2021-04-09 20:17] #6126 closed

[2021-04-09 20:28] jywarren commented on #6598
I believe this is complete, thank you!!!!

[2021-04-09 20:28] #6598 closed

[2021-04-09 20:28] jywarren commented on #7703
I believe this one is completed, but you can ask for one in #9083, thank you!!!

[2021-04-09 20:28] #7703 closed

[2021-04-09 20:37] jywarren commented on #8512
Hi @TildaDares it turned out this was much more complex as there were just many more instances of "answer" throughout the code and tests. I think we'd LOVE any PR which removes a mention of answer/answers from parts of our codebase. Please look through these to see if there is one and if you can open a PR, we will review it! Thank you!

I'm starting here: https://github.com/publiclab/plots2/search

[2021-04-09 20:40] jywarren commented on #8508
Hi @Priyaraj17 - yes please go ahead! Or anyone else, please feel free to open a pull request, no need to ask permission, just leave a comment here and link us to your pull request! Thank you!!!

[2021-04-09 20:41] #7449 closed

[2021-04-09 20:41] jywarren commented on #6736
This is available again! Thank you!!!

[2021-04-09 20:42] jywarren commented on #6736
Actually i believe the code has been reorganized enough that we should close. Thanks everyone!!!

[2021-04-09 20:42] #6736 closed

[2021-04-09 20:44] jywarren commented on #5031
Closing, thank you!!!

[2021-04-09 20:44] #5031 closed

[2021-04-09 20:44] jywarren commented on #5382
Unfortunately something went wrong with the PR and this is now open again -- thank you!!!

[2021-04-09 20:45] jywarren commented on #6756
This is complete, thank you!!!

[2021-04-09 20:45] #6756 closed

[2021-04-09 20:47] #6446 closed

[2021-04-09 20:48] jywarren commented on #5047
Hi, that's right - moderators can moderate but not actually edit notes by others. I think this is reflected in tests and controllers, but hiding the button makes sense too! Thanks!

[2021-04-09 20:50] jywarren commented on #6867
I believe this is complete!

![image](https://user-images.githubusercontent.com/24359/114239142-abe24480-9953-11eb-8a18-24efef5d959f.png)

[2021-04-09 20:54] jywarren commented on #6867
The only thing we could consider re-opening this for is to reorganize this into radio buttons (i.e. choose between them, rather than toggle each one on or off):

![image](https://user-images.githubusercontent.com/24359/114239395-0a0f2780-9954-11eb-8f21-19af1409b87f.png)

And to add an extra option for "NEVER". However that would involve the ability to add the tag `notifications:noemail` which as o

[2021-04-09 20:54] #6867 closed

[2021-04-09 23:12] OlaoluwaM commented on #9479
Hey, I went through the entire README and made some relevant grammar fixes. Is that ok with you, can I create a PR for that?

[2021-04-10 02:32] YogeshSharma01 commented on #9394
Hi, @jywarren Yes I actually have a solution for this in my mind and I'll take care of this issue as well in the refine the custom translation helper problem in my GSoC proposal.
Thanks

[2021-04-10 03:17] Elukoye commented on #9474
@eightballocto awesome,all yours ,🚀👍

[2021-04-10 08:41] ampaire commented on #9407
Can I spend the weekend working on this?

[2021-04-10 18:13] eightballocto commented on #9474
Will work on it as soon as #9483 is merged

[2021-04-10 18:47] Priyaraj17 commented on #8508
Hey I have made the changes. Here it is [PR](https://github.com/Priyaraj17/plots2/pull/1)

[2021-04-10 19:51] YogeshSharma01 commented on #9257
Hi, @jywarren Just want to confirm that we want to implement i18n in js because we don't want to reload the page whenever the user selects or changes his language so that our user experience is improved and gets the page in a real-time environment.
Please confirm so that I can think more about this and let me know if mean something else.

[2021-04-11 11:01] Priyaraj17 commented on #8508
Sorry, Earlier I made a mistake. This is the PR I have created.

[2021-04-11 11:38] RuthNjeri commented on #6446
Hi @SharmaTanish, sorry for the late response, I am just clocking in now....I see that your PR was merged. Congratulations 🎉  and thank you for working on this.

[2021-04-11 13:45] SharmaTanish commented on #6446
Thank you @RuthNjeri for your wonderful guidance and support !

[2021-04-11 13:59] #9476 closed

[2021-04-11 17:22] vatsalvatsyayan commented on #9479
I have found a couple of errors that I'd like to fix in the readme.md, it will be my first contribution to this codebase, and today is the first day that I have started on my journey to fix bugs and errors on open source platform

[2021-04-11 19:01] imajit opened #9494 "Translation string replacement errors"
![Screenshot from 2021-04-10 23-18-15](https://user-images.githubusercontent.com/38528640/114317377-6b3a2500-9b25-11eb-8057-ed92c252b1c3.png)
![Screenshot from 2021-04-10 23-17-59](https://user-images.githubusercontent.com/38528640/114317378-6c6b5200-9b25-11eb-9b15-c3791094876f.png)
This issue is  similar to #7798

[2021-04-12 05:35] vatsalvatsyayan commented on #9479
I have made some minor changes which should work well for my first time contribution to an open source community, please review my pull request https://github.com/publiclab/plots2/pull/9493

[2021-04-12 07:13] NishantJawla commented on #9479
hey! @vatsalvatsyayan  please open a new issue regarding the issue and make  a PR under that issue

[2021-04-12 07:36] cesswairimu commented on #9444
hI @Elukoye, please open the check-in anytime today, we have a template [here](https://github.com/publiclab/plots2/issues/new?assignees=&labels=community+check-in&template=--weekly-check-in.md&title=Weekly+Community+Check-In+%23+-+Topic) that you could use, also feel free to ping @RuthNjeri or myself if you need  help. Thanks

[2021-04-12 07:41] vatsalvatsyayan commented on #9479
@NishantJawla This is still a fix related to the issue #9479 Grammar fixes, I have made the suggested changes and done a PR, I am awaiting a review of that https://github.com/publiclab/plots2/pull/9493

[2021-04-12 08:21] Elukoye commented on #9444
Thanks , I will do that.

On Mon, Apr 12, 2021, 10:37 AM Cess ***@***.***> wrote:

[2021-04-12 10:30] Elukoye opened #9496 "Weekly Community Check-In #99"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-04-12 13:38] TildaDares commented on #9496
Good job @Elukoye 🎉🎉🎉🎉🎉🎉
I'd like to open the next check-in

[2021-04-12 13:39] vatsalvatsyayan commented on #9479
@NishantJawla can you please review it?

[2021-04-12 13:52] steffnat commented on #8380
Hi,
first also a big thank you for your work :-)
On my Chrome browser the printable(beta) option also is dependent on the screen size and not printing the complete phrases in portrait mode - you have to use landscape mode.
In Microsoft Edge and Firefox it works normally.
**But what I´m missing most is that you cannot print the valuable comments neither selecting it nor using the print version!**
T

[2021-04-12 14:31] jywarren commented on #9496
@TildaDares that would be wonderful! Have you seen the guidance Cess linked to? we can add you to the listing issue too. Thanks!!!

[2021-04-12 14:52] cesswairimu commented on #9444
MOved to https://github.com/publiclab/plots2/issues/9496, thanks all

[2021-04-12 14:52] #9444 closed

[2021-04-12 15:43] TildaDares opened #9497 "Inconsistent footer style"
### Please describe the problem (or idea)

In https://publiclab.org/ the footer links have a black text color but in other pages like https://publiclab.org/people the footer links have a text color of blue.

[Home page](https://publiclab.org/)

![image](https://user-images.githubusercontent.com/63427719/114422170-f0691c80-9bad-11eb-94f1-fb7f1294d68e.png)

Other pages

![image](https://user-images.

[2021-04-12 16:25] ebarry commented on #9496
Great check-in! A note about next week's check-in, it's going be #100, which is kind of a nice number, and i think we can celebrate this on Public Lab social media accounts. What are cool things to say on social media about our community having reached its #100th checkin?

[2021-04-12 20:00] TildaDares commented on #9485
@jywarren I'd like to work on this.

[2021-04-13 03:55] NishantJawla commented on #9479
Hey! @vatsalvatsyayan  You have done great work.

[2021-04-13 03:57] NishantJawla commented on #9479
Yeah, it is a related issue I agree but you should create an issue and then create a pull request.

[2021-04-13 15:25] jywarren commented on #9257
Hi @YogeshSharma01 actually the i18n implementation is not for preventing a page refresh, but in order to extend the ability to translate to elements which are created/generated only using JS. These include:

* popovers and tooltips (in the Bootstrap UI library, https://getbootstrap.com)
* AJAX-loaded elements like just-submitted comments
* anything within interactive maps

It also allows us to co

[2021-04-13 15:26] jywarren commented on #9257
I wanted also to respond to @daemon1024's question about geographic scraping/caching/microservices:

I think there are a few options on this. But the main thing is that we are making arbitrary bbox (bounding box) queries to an API using 2 latitudes and 2 longitudes, so a URL-based caching system probably won't work well, since people will zoom and drag the map in unpredictable ways.

However, the

[2021-04-13 15:35] first-timers[bot] opened #9498 "Fix error in HTML nesting on question pages"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-13 15:38] jywarren commented on #9083
Hi @raghav-max, I just created https://github.com/publiclab/plots2/issues/9498 which you can take on if you're still interested. If not, then @roli25 is welcome to as long as @raghav-max agrees, or if @raghav-max doesn't reply for a couple days! Thanks, everyone!

[2021-04-13 15:39] jywarren commented on #9498
Hi @raghav-max, you're welcome to start on this one!! Thank you!!

[2021-04-13 15:39] jywarren commented on #6230
Ah, thank you @jcads for pointing that out!!!

[2021-04-13 15:39] #6230 closed

[2021-04-13 15:47] jywarren commented on #9438
Aha, 302 error indeed... 🕵️

I'll look at why that may be the case. Thank you!

[2021-04-13 15:52] first-timers[bot] opened #9499 "Remove old "parent" code from tag pages"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-13 16:03] daemon1024 commented on #9257
Thanks a lot @jywarren for the detailed response 😬. That does clarify a lot of things for me and given me some context for what to look into. Will get back to you in the proposal comments after some investigation ✌️

[2021-04-13 16:05] jywarren opened #9500 "When replying to a newly posted comment, the last comment text appears in the new "reply" comment form"
This is on the non-React version so it may simply be solved by adopting the React version, but we'd have to test that it doesn't occur there.

See how i just posted this comment and when i try to reply to the new comment, i see this in the textarea:

![image](https://user-images.githubusercontent.com/24359/114584241-750c7700-9c50-11eb-888d-64603e8e9cbc.png)

[2021-04-13 16:06] daemon1024 commented on #9257
Also a reminder for everyone, The deadline for submitting the proposal on official [GSoC website](https://summerofcode.withgoogle.com/) is in 2 hours. Not really sure if it's region specific but I would suggest everyone to submit the PDF immediately to be safe, you can keep modifying it till the deadline.

[2021-04-13 17:13] Komachian commented on #9499
Could I have a go at this?

[2021-04-13 18:15] jywarren commented on #9438
I'm going to try running it in GitPod to see if i can reproduce the 302...

[2021-04-13 18:33] jywarren opened #9502 "Remove React/Webpacker commands from install steps? (all effects already included in git/yarn)"
@icarito and I closely reviewed the `webpacker` and `react` install steps that were recently added to different parts of our system here, in the following PRs/issues and maybe more:

- https://github.com/publiclab/plots2/issues/9392
- https://github.com/publiclab/plots2/pull/9176
- https://github.com/publiclab/plots2/issues/9382
- https://github.com/publiclab/plots2/blob/999264ebe70d750f1836a4b4dc

[2021-04-13 18:37] jywarren commented on #9438
OK, got a log from GitPod!

[code]

OK, so why are we being redirected to log in... looking...

[2021-04-13 18:45] jywarren commented on #9438
Looks like CSRF token is not working... let's see...

https://github.com/publiclab/plots2/blob/bd7b2e26c1edbd85a9754d8b25bc27950fd99770/app/views/editor/rich.html.erb#L344-L347

we pass it in here.

[2021-04-13 18:46] jywarren commented on #9438
`$('meta[name="csrf-token"]').attr('content')` correctly fetches the token, so that's not it...

[2021-04-13 18:51] jywarren commented on #9438
Noting that in GitPod, the main image uploader works. It uses the same controller, so the issue seem likely to be in the Editor's rich text module code itself:

[code]

[2021-04-13 18:54] jywarren commented on #9438
And actually the main image uploader also uses the token in its request:

https://github.com/publiclab/PublicLab.Editor/blob/59e5bf6fd1ac2b6f9108e522baa7cdab36e0bb64/src/modules/PublicLab.MainImageModule.js#L94

It correctly fetches it with:

[code]

[2021-04-13 18:58] jywarren commented on #9481
OK, we'll go ahead and merge the French set for now and we can make modifications later if folks want to review more! Thank you!!!

[2021-04-13 19:05] jywarren commented on #9438
Confirmed. The main image upload has this set of params in the form request:

[code]

Whereas the inline image upload has only these:

[code]

checking recent changes to that section of code, as well as the module options itself to ensure it's getting properly stored/passed in from the constructor.

[2021-04-13 19:06] jywarren commented on #9470
We're looking at whether this line was required only once on our production container, but we are mistakenly running it every time?

https://github.com/publiclab/plots2/blob/84abd32524da5e478c328e11be93b39ab5686ff3/Makefile#L10

Followup in #9502

Closing this one!

[2021-04-13 19:06] #9470 closed

[2021-04-13 19:15] jywarren commented on #9438
Wow, deep bug. Chasing back to `woofmark` library: https://github.com/bevacqua/woofmark/pull/44

[2021-04-13 19:17] jywarren commented on #9438
It's present in our branch of `woofmark`:

https://github.com/jywarren/woofmark/blob/plots2/src/prompts/prompt.js#L133

[2021-04-13 19:40] jywarren commented on #9438
I believe this PR from 28 days ago may be related. the last change to the branch of `woofmark` we are using happened in September 2020.

https://github.com/jywarren/woofmark/pull/76/files

[2021-04-13 19:48] jywarren commented on #9438
I'm not seeing anything in the code in `woofmark` -- 2 routes now:

1. tracing the `upload.xhrOptions` param through Woofmark and confirming it's correctly got it
2. seeing if the `xhr` npm module has changed

[2021-04-13 19:51] jywarren commented on #9438
https://www.npmjs.com/package/xhr published 2.6 5 months ago but has been at 2.2.1 for many many months in our projects. confirmed in package-lock.json

[2021-04-13 19:57] jywarren commented on #9481
Noting a missing step - i found we need to add the language code `fr` to this line:

https://github.com/publiclab/plots2/blob/8c729b2fdd9e2428f4a9607111ecde5534c11d8e/config/application.rb#L58

[2021-04-13 20:09] jywarren commented on #9438
OK, so the `upload.xhrOptions` param `beforeSend` does make it into `woofmark`, as tested in the JS console.

Does it actually generate the extra header?

[2021-04-13 20:16] jywarren commented on #9438
Gosh i don't know when this stopped working but I think we could potentially just add another `formData` param and do it that way??? But not sure if it'll get passed up with the others, or if the xhr lib will ignore it?

Noting this would have happened either November 5 2020 in https://github.com/publiclab/PublicLab.Editor/releases/tag/v3.0 or 28 days ago in https://github.com/publiclab/plots2/pul

[2021-04-13 20:17] jywarren commented on #9283
Thanks so much everyone for your time! We'll be updating very soon, but proposals closed today at Google's site. Closing this and we are looking forward to the next steps!!!

[2021-04-13 20:17] #9283 closed

[2021-04-13 20:18] jywarren commented on #9481
That worked! It should publish this coming weekend to the live site:

![image](https://user-images.githubusercontent.com/24359/114615580-dd208480-9c73-11eb-8c76-a5c4b642c828.png)

[2021-04-13 20:21] jywarren commented on #9438
According to this line, i believe `formData` should get passed in normally:

https://github.com/bevacqua/woofmark/pull/44/files#diff-b70752c6e4fb751c6aa381f57afac66c25cc2d401b141b03e1751d81e60efcd2R216

[2021-04-13 20:35] jywarren commented on #9438
will try in GitPod:

[code]

... THAT DID IT:

![image](https://user-images.githubusercontent.com/24359/114616944-7d2add80-9c75-11eb-9a97-cdbeda9ec19e.png)

Will fix in https://github.com/publiclab/PublicLab.Editor/pull/712, release 3.0.3, and also add the extra `formData` token in https://github.com/publiclab/plots2/pull/9504.

Whew!

[2021-04-13 21:30] jywarren commented on #9481
Reopening as we got an error in integration tests prob from the config change...

Reverting in https://github.com/publiclab/plots2/pull/9504

https://github.com/publiclab/plots2/pull/9504/checks?check_run_id=2337234225#step:7:144

[code]

[2021-04-14 03:04] sakun9526 commented on #9499
This is already done by someone and still open. Close the issue please

[2021-04-14 06:35] divyabaid16 commented on #9496
Hey everyone!

Great check-in @Elukoye
I am one of the mentors who will be mentoring GSoC students so do reach out to me for any help.
Really excited to work with all of you again. 💯

Cheers,
Divya

[2021-04-14 14:20] Priyaraj17 commented on #9500
I can take a look into this.

[2021-04-14 16:10] Elukoye commented on #9496
Thank you @divyabaid16

[2021-04-14 22:07] waridrox commented on #9500
I was able to partially fix this on local env, but I'm not sure if it will work for sure on production env as well. That's because I also observed with/without the changes made, after replying to the comment once, a new reply comment box is generated with the previous contents again.

https://user-images.githubusercontent.com/58583793/114784451-e5261480-9d98-11eb-849b-f7dbc89b7c4e.mp4

Can someone

[2021-04-14 22:11] waridrox opened #9508 "Extra reply comment section keeps generating when reply to a comment is published once"
### Please describe the problem (or idea)

What happened just before the problem occurred?
On local dev environment when the user publishes a reply to a comment once, a new reply to comment box is generated without clicking on `Reply to this comment` option with the contents on the previous most reply on the comment. Related to #9500

https://user-images.githubusercontent.com/58583793/114779113-4f

[2021-04-15 14:39] TildaDares commented on #9417
@jywarren Can I have a go at this?

[2021-04-15 15:41] ebarry opened #9510 "Standardize presentation of "no results" messages on tag page tabs"
# Tag pages are great
# Tag pages can benefit from greater standardization 😄

When a tag is clicked from a piece of content, the person is brought to the tag page. This is good.

In the gif below, observe the following non-optimized situations:

- the tag page loads on the Research Notes tab, however, IF there are no Research Notes, then the display is "No results found; try searching for 'effect-

[2021-04-15 16:10] #9479 closed

[2021-04-15 16:45] RuthNjeri commented on #9283
There were really amazing proposals posted. Thanks, everyone! And all the best.

[2021-04-15 16:52] RuthNjeri commented on #9502
Thanks, Jeff! As For the README steps in running the Web packer commands, I noticed that each time I run the command, it updates the `Package.json` file and `Yarn`, which might be confusing when pushing code that does not touch on the React Files...It's like if running bundle install would update the gem lock file, this would cause a situation where gems are updated due to the local system of a us

[2021-04-15 17:01] RuthNjeri commented on #9496
Hi Everyone!

Thanks for opening this @Elukoye

@TildaDares, I have added your name to the list(#5627) for the next check-in, please have a look at some Checkin ideas here that you could use #9480

@ebarry that sounds like a great idea...I was thinking since 100  in binary is 4, we could celebrate the top 4 weekly check-in contributors?

[2021-04-15 19:02] #9475 closed

[2021-04-15 19:52] jywarren commented on #9502
Yes, i think that also aligns with our understanding that all of the effects of running those commands is reflected in the package.json and yarn.lock files, so actually running them again and again is not necessary, but ALSO that now that those changes have been git tracked, even new users of the code need not run them as long as they run `yarn install` as they would already normally. Does that se

[2021-04-15 19:54] jywarren commented on #9277
I added `(actually instead moving the old dashboard to /v1/dashboard)` to the above just to be sure! Thanks!

[2021-04-15 20:04] jywarren commented on #8380
Hi, I'm really sorry @Tlazypanda to have missed your comment here. I think @ebarry is referring to some of the "Standard" typographic styles we use at Public Lab and I think it's a great idea. We don't have to do all the font sizes the same but you can see the standard usage of the Junction Light font in our print style guide here:

https://publiclab.org/wiki/style-guide#Print+documents

![image](

[2021-04-15 20:08] jywarren commented on #9257
Hi all, i've crossed off a couple items from the first idea on Education related refinements, as @TildaDares correctly pointed out that some work has now been completed on it. Don't worry too much if this is already in your proposals, it's OK. But I did add a couple new items to try to round out the idea to compensate:

* moving the new v2 Dashboard redesign to be the default Dashboard, and moving

[2021-04-15 21:06] TildaDares commented on #9417
I think https://github.com/publiclab/plots2/pull/9435 fixed this.

[2021-04-15 21:19] #8512 closed

[2021-04-15 21:26] jywarren opened #9512 "Add table of contents under an icon for wiki/Markdown pages, like GitHub does now!"
![image](https://user-images.githubusercontent.com/24359/114939796-f4e04000-9e0e-11eb-9d03-c2d098c12197.png)

We could put it in the row of icons under the title on wiki pages (like [this one](https://publiclab.org/wiki/software-outreach)):

![image](https://user-images.githubusercontent.com/24359/114939941-1b9e7680-9e0f-11eb-96bd-21b0e82a191f.png)

We could use the "list" icon here:

https://font

[2021-04-16 00:11] TildaDares commented on #9510
@ebarry I'd love to work on this.

[2021-04-16 02:32] jcads commented on #9512
Hi @jywarren, can I pick this up?

[2021-04-16 11:27] TildaDares opened #9516 "Hide datepicker on clicking save button"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-16 11:31] TildaDares commented on #9516
@publiclab/reviewers

[2021-04-16 11:33] TildaDares commented on #9516
@cesswairimu I reposted one of the issues in #9485 as an FTO.

[2021-04-16 11:49] cesswairimu commented on #9516
Awesome :tada: thanks @TildaDares

[2021-04-16 11:49] cesswairimu commented on #9083
Hi @roli25 you can take this one https://github.com/publiclab/plots2/issues/9516

[2021-04-16 12:09] TildaDares opened #9517 "Remove datepicker if a page already has a date tag"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-16 12:09] TildaDares commented on #9517
@cesswairimu

[2021-04-16 12:13] TildaDares commented on #9508
@waridrox I'd love to work on this.

[2021-04-16 14:56] roli25 commented on #9516
Hello, Can I work on this?

[2021-04-16 15:07] cesswairimu commented on #9516
Go ahead @roli25

[2021-04-16 20:34] jywarren commented on #8380
Also just noting some fabulous features in https://evanbrooks.info/bindery/ which we should explore.

![image](https://user-images.githubusercontent.com/24359/115080937-81533700-9ed1-11eb-8393-df8cc60b8358.png)

Implementation looks really easy, too:

[code]

[2021-04-16 20:39] waridrox commented on #9502
Agreed with @RuthNjeri 🙌 , running the cmds does actually update the `package.json` and `yarn.lock` files. But if `yarn install` can already take care about those dependencies then I believe the natural intuition would be to remove the cmds...

[2021-04-16 21:12] waridrox commented on #9508
@TildaDares I think this is related to #9500, but feel free to give it a try 🚀

[2021-04-16 21:29] TildaDares commented on #9412
@Manasa2850 I'd love to work on this.

[2021-04-17 01:31] VarunAroraCode commented on #9517
Hi, I'm working on an open source class project and would like to contribute! Can I be assigned this issue?

[2021-04-17 04:39] #9403 closed

[2021-04-17 10:17] steffnat commented on #8380
Hi @jywarren,
yes the **comments are completely missing**.
The **clipping** seems to happen **especially in Chrome** depending of the screen size.
When you change something I can try it out (betatesting) but better I don´t tweak the style sheets myself 😉
Thanks and best regards!
Steffen

[2021-04-17 14:00] TildaDares commented on #9517
@VarunAroraCode A reviewer has to give their okay before you start working on this. @cesswairimu Is this FTO okay?

[2021-04-17 14:42] roli25 commented on #9498
As @raghav-max is  inactive, Can I take this issue? @jywarren

[2021-04-17 17:09] waridrox commented on #9498
Hi @roli25, I believe you have already solved one `first-timer-only` issue here #9516 😅. Therefore, it is encouraged to leave this `fto` issue for new contributors. Meanwhile you can pick up other issues to work upon 🚀. Thanks for understanding :)

[2021-04-17 17:34] TildaDares commented on #8948
If no one's working on this, I'd like to take it up.

[2021-04-17 23:29] jywarren commented on #9502
OK, thanks both of you. It changes package.json and yarn.lock, but
presumably it doesn't keep adding new things we need, right? Those were
already added in the original PR by @noi5e, i believe?

In any case I'll check back in with @icarito on this and perhaps we'll move
ahead with removing them. Thanks!!

On Fri, Apr 16, 2021 at 4:40 PM Mohammad Warid ***@***.***>
wrote:

[2021-04-18 10:09] XavCC commented on #9481
Hi,

I will correct this mistake in transiflex today
[code]

[2021-04-18 18:05] bunnyrockz commented on #9498
can I work on it?

[2021-04-18 18:17] RuthNjeri commented on #9502
I was testing the yarn install command locally to see if the application will run without having to run the webpacker command...after running yarn install I needed to run bundle install to update the gems and the bin folder of the application was updated .... not sure if this is an isolated case for me...
<img width="585" alt="Screenshot 2021-04-18 at 21 08 20" src="https://user-images.githubuserc

[2021-04-18 19:05] #9516 closed

[2021-04-18 19:13] RuthNjeri commented on #9417
Hi @TildaDares, thank you for reaching out. Yes, that PR is still in discussion. Did you find another issue to work on?

[2021-04-18 19:15] TildaDares commented on #9417
@RuthNjeri No I haven't

[2021-04-18 19:16] RuthNjeri commented on #9512
@jcads, thanks for volunteering. I think you can go ahead and begin working on it.

[2021-04-18 19:20] RuthNjeri commented on #9417
I see you raised an issue here https://github.com/publiclab/plots2/issues/9497, would you like to work on it?

[2021-04-18 19:21] RuthNjeri commented on #9498
@bunnyrockz, yes you can 😃

[2021-04-18 19:24] RuthNjeri commented on #9517
@TildaDares, can you share an image showing what happens now and what happens after the changes suggested in the issue?

[2021-04-18 19:30] TildaDares commented on #9417
@RuthNjeri I can't find the file for the footer links.

[2021-04-18 19:45] TildaDares commented on #9517
Before
![image](https://user-images.githubusercontent.com/63427719/115158591-d5534c80-a086-11eb-9cef-32dfc3d04114.png)

After
![image](https://user-images.githubusercontent.com/63427719/115158600-e1d7a500-a086-11eb-9e3e-55b4646396b6.png)

@RuthNjeri

[2021-04-18 19:52] TildaDares commented on #9497
@RuthNjeri how do I reproduce this locally since the footer is not displayed in the local env.

[2021-04-18 20:01] VarunAroraCode commented on #9517
@TildaDares Any idea when that would be possible? I'd love to finish this up by the end of the day

[2021-04-18 21:05] TildaDares commented on #9517
@VarunAroraCode Sorry, this isn't up to me.

[2021-04-19 05:56] VarunAroraCode commented on #9517
@TildaDares I understand. Thanks for tagging who is!

[2021-04-19 10:24] TildaDares commented on #8854
@noi5e I can't reproduce the comment replies issue locally. I logged in as a new user, made a comment reply, logged out and then logged in as admin and then I marked the comment reply as spam. I went to the spam moderation page and I found the comment reply under comments.

![image](https://user-images.githubusercontent.com/63427719/115221451-99110200-a101-11eb-940e-cbc5e32a9f0e.png)

![image](htt

[2021-04-19 10:54] jcads commented on #8854
Hi @TildaDares, i think this issue has been fixed in #9381

[2021-04-19 10:56] TildaDares commented on #8854
Thanks @jcads

[2021-04-19 13:35] TildaDares commented on #9471
@eightballocto Are you still working on this?

[2021-04-19 14:24] TildaDares opened #9526 "Weekly Community Check-In #100 - 🎉 100th Check-in 🎉"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-04-19 14:30] cesswairimu commented on #9526
This is beautiful, thanks @TildaDares  :tada:

[2021-04-19 14:32] cesswairimu commented on #9496
Moved to https://github.com/publiclab/plots2/issues/9526. Thanks everyone :heart:

[2021-04-19 14:32] #9496 closed

[2021-04-19 14:40] jywarren commented on #9517
This looks great! Let's go for it!!! (i'm a reviewer ❤️ )

[2021-04-19 14:50] ebarry commented on #9526
Here's the tweet celebrating our 100th checkin! Thanks to all: https://twitter.com/PublicLab/status/1384157310344331268

[2021-04-19 14:54] daemon1024 commented on #9526
🥳🥳🥳🥳🥳🥳🥳🥳

[2021-04-19 15:24] ebarry opened #9527 ""Getting Started" link on navbar leads to error page for Admin users"
☀️🌞🌼🌻🌳
### Please describe the problem

When logged in with an account with Admin privileges, clicking the Getting Started link under **Navbar --> Community --> Getting Started** leads to an error page. I reproduced this from an error reported by @publiclab-mimi who was logged into publiclab.org using Admin account "mimiss":
![getting-started-erro-loggged in](https://user-images.githubusercontent.

[2021-04-19 15:35] ebarry commented on #6867
Thank you! /Settings is looking really great and fresh.

[2021-04-19 15:46] ebarry commented on #9510
Thank you @TildaDares ! Would you like to choose just one specific part of this to begin with? Please write back with what you'd like to break off to start with. Are there any questions i can answer?

[2021-04-19 16:08] TildaDares commented on #9510
@ebarry I'll start with the first one. For the no results text I'm thinking 'No results. Have you checked the other tabs? or try searching:'.

[2021-04-19 17:20] ikallon commented on #9498
Hello I love the idea of this page, its very welcoming. Can I work on it?

[2021-04-19 17:56] Elukoye opened #9529 "Weed out issues in the Candidate List that have already been worked on."
Hi, this is a [first-timers-only issue](https://code.publiclab.org/). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially inter

[2021-04-19 19:48] Manasa2850 commented on #9526
Amazing @TildaDares !! :partying_face::tada:

[2021-04-19 20:40] Elukoye commented on #9388
hello ✋ @RuthNjeri ,
This is the link to the article I used to install RVM in WSL2 in the pre-installation guide.
I think it is useful for those who are using Ubuntu through WSL2 because we can't log in in as a shell. There is no GUI for that.
Is it possible to add it to the pre-installation instructions, especially the RVM and Ruby installation sections?
[Follow this link](https://linuxize.com/po

[2021-04-19 20:48] ebarry commented on #9510
This is exactly the kind of improvement that would really help! Thanks @TildaDares :)
Building on your suggestion, how about adding a greeting, and then inviting them to look at other tabs? For instance:

I'm sure this can be improved, please write back with more edit ideas!
CC @bhamster07 to also give wording suggestions.

[2021-04-19 21:08] bhamster07 commented on #9510
Thanks @TildaDares! Also wondering if a small emoji might help make the message friendlier? Building off your and @ebarry's ideas now, maybe something like:

[2021-04-19 21:16] ebarry commented on #9438
@publiclab-mimi reported today that

[2021-04-19 21:36] waridrox commented on #9438
@ebarry, I think the current version still doesn't have the above changes due to buffer time required to push the changes to the live version. That's because image upload works on the [stable version](https://stable.publiclab.org) and the legacy version.

<img width="400" alt="Screenshot 2021-04-20 at 2 54 03 AM" src="https://user-images.githubusercontent.com/58583793/115306373-5d1f8080-a185-11eb-

[2021-04-19 22:38] TildaDares commented on #9510
@bhamster07 @ebarry Your suggestions definitely add more warmth. I'll start working on it.

[2021-04-20 00:41] eightballocto commented on #9471
I am unable to at this time, sorry.

[2021-04-20 03:26] jcads commented on #9527
I'd like to work on this but i wasn't able to replicate the bug in my local development. Any ideas?

[2021-04-20 09:36] TildaDares commented on #9471
@gaurav2699 I think the issue is with woofmark editor.

[2021-04-20 13:36] jywarren commented on #9438
The new code went live last night! Taking a look, i'm seeing a new error - a 500 error:

starting with this one, which is the same 302 as Cess found:

![image](https://user-images.githubusercontent.com/24359/115404907-bc988300-a1bb-11eb-845a-f8a255d122c0.png)

Then redirected to this new 500 error:

![image](https://user-images.githubusercontent.com/24359/115404951-c9b57200-a1bb-11eb-8af4-a9c11bdd

[2021-04-20 13:46] jywarren commented on #9438
Huh, having trouble tracing this so i'll try reproducing in GitPod again???

[2021-04-20 14:12] publiclab-mimi commented on #9527
It's something that I only saw when logged in through an admin account. I'm
not sure if that's helpful for reproduction.

On Mon, Apr 19, 2021 at 10:26 PM John Rafael ***@***.***>
wrote:

[2021-04-20 14:17] 17sushmita commented on #9526
Celebrations 🥳🥳💯💯💯💯💯

[2021-04-20 15:08] jywarren commented on #9438
OK, @icarito and I were able to resolve a yarn update issue to pull in the real `3.0.3` editor code, confirmed it, then fixed one more `nginx` config issue related to SSL and it is now working on the live site. Thanks, everyone!

![image](https://user-images.githubusercontent.com/24359/115419891-b2c94c80-a1c8-11eb-86e8-3b6c7121436d.png)

[2021-04-20 15:08] #9438 closed

[2021-04-20 15:15] #9421 closed

[2021-04-20 15:18] jywarren commented on #9417
Fixed in #9435, thank you!!!!!!!!

[2021-04-20 15:18] jywarren commented on #9527
Thanks for reporting this! It's the user-facing side of this error: https://github.com/publiclab/plots2/issues/9417 and was fixed in https://github.com/publiclab/plots2/pull/9435 9 days ago by @gaurav2699 with help from @pydevsg @Tlazypanda @cesswairimu @RuthNjeri

GREAT collaboration everyone!!! ✨ ✨ ✨ ✨

[2021-04-20 15:18] #9527 closed

[2021-04-20 15:47] Elukoye commented on #9450
Hi @waridrox,  @jywarren, @RuthNjeri,
I need a little help here, I was wondering if the navbar component persists through the application.html.erb file. I am trying to locate the profile image in the navbar. And understand the project better

[2021-04-20 16:04] jywarren commented on #9510
Hi all, thanks and love the brainstorming happening here. I'm just marking this with labels to show it can be broken out into multiple issues (or pull requests) and also that discussion on the exact text for each tab is still ongoing. Maybe we should think about presenting the texts like this:

1. **Research notes:** `Hi! No Research Notes have this tag 🤷, try checking the Questions or Wiki tabs o

[2021-04-20 16:13] jywarren opened #9533 "Refine/reword GitHub Issue labels for clarity, legibility & friendliness"
I just added several new labels (https://github.com/publiclab/plots2/labels) to this issue, and it occurred to me that we could do some work to make labels clearer, more legible and most importantly, friendlier!

https://github.com/publiclab/plots2/issues/9510#event-4620151153

![image](https://user-images.githubusercontent.com/24359/115429002-f922a980-a1d0-11eb-8a49-e812dbbaee4c.png)

They're not

[2021-04-20 16:24] daemon1024 commented on #9450
Hey @Elukoye ,
This might be the component you want to dig in :)
https://github.com/publiclab/plots2/blob/bd0bc112112a1d92f4181fe77deeca7cfdb8d00d/app/views/layouts/_header.html.erb#L112

[2021-04-20 16:53] jywarren commented on #9450
Wow i also noticed that missing icon. Using the Chrome developer tools we should be able to see if there is a request failing? Thanks for catching this and offering to work on it, both of you!

[2021-04-20 16:54] jywarren commented on #9450
So strange -- yeah you can right click it too to open the image itself:

![image](https://user-images.githubusercontent.com/24359/115435147-8832c000-a1d7-11eb-8ac8-4f564e656abf.png)

[2021-04-20 16:55] jywarren commented on #9450
Actually on waiting a moment, mine went from grey to having a picture again. @waridrox are you sure it persists and is not just a very slow loading image?

Thank you!!!

[2021-04-20 17:16] Manasa2850 commented on #9533
@jywarren this sounds great!! :tada:
I would like to help in creating FTOs for this!

[2021-04-20 17:20] govindgoel commented on #9533
@jywarren this is really great and will surely help everyone.
I would surely like to work on opening FTOs.

[2021-04-20 18:19] daemon1024 commented on #9533
How about if we have codebase related labels like `area/models`, `area/views`, `area/controllers` and then have a detailed documentation for that saying

[2021-04-20 18:25] Manasa2850 opened #9535 "Add emojis to labels to make them more friendly"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-20 18:30] daemon1024 commented on #9533
Some PR specific labels like `tests-passing` or `needs-debugging` if tests fail, so as to grab more attention from reviewers :)

[2021-04-20 18:33] govindgoel commented on #9533
Or maybe we can also add label like build or dependency issue, that needs to be looked asap.

[2021-04-20 18:34] daemon1024 commented on #9533
dependabot PR's already have a dependency label I believe 🤔

[2021-04-20 18:36] RuthNjeri commented on #9526
Thanks @TildaDares...to 100 more 🏇🏾

[2021-04-20 18:39] govindgoel commented on #9533
Yeah that's there but it's meant for if a PR update a dependency

[2021-04-20 18:46] Elukoye commented on #9450
@daemon1024 thanks ,will look into it .😃

[2021-04-20 18:48] Elukoye commented on #9450
@jywarren I agree with you ,I did notice that the image load after some time.Could it be a  lag while the page is loading?

[2021-04-20 18:49] ebarry commented on #9510
These texts look perfect to me, exactly how i was hoping we could standardize, and i see @bhamster07 gave a 👍 as well, so these texts are good to go!

[2021-04-20 18:56] daemon1024 commented on #9533
We can maybe leverage some `github-actions` to automate a lot of labeling here.

[2021-04-20 19:14] jywarren commented on #9002
For step 1, here is the PR - I'll take it we can move forward on that and will then examine 2.

However, we should check with @icarito on if `/stats` itself is not a big performance drain as long as we block any other stats routes more specific than that (i.e. with larger time ranges).

[2021-04-20 19:24] Elukoye commented on #9533
@daemon1024 ,I have been learning about GitHub actions ,would like to work on your suggestion once it is accepted / agreed upon.

[2021-04-20 19:42] Elukoye commented on #9533
Here are some more ideas on labels to add:
-new idea 💡 ~> for introducing new features or functionality.
-refactor 🔄  ~> do code that needs refactoring or optimization.
-inactive  🚫 ~> no action needed ,out of production or already fixed.
-lightweight 🧘‍♀️~> for issues that are non technical but  necessary  e.g restructuring folders.

[2021-04-20 19:44] Elukoye commented on #9533
~>Not necessary

[2021-04-20 19:48] Elukoye commented on #9499
@Komachian ,did you manage to fix this ? Need any help?

[2021-04-20 19:52] AlanLake commented on #9535
Hi, I'd like to try.

[2021-04-20 19:53] Elukoye commented on #9422
Hi @jywarren ,is this issue claimed already by @SidharthBansal ? Can I work on it if not ?
@SidharthBansal  are u already working on it ?

[2021-04-20 20:03] jywarren commented on #9533
These are great ideas, folks, and thanks especially to @Elukoye for these suggestions! I'm really interested in the exact wording and how it can be friendly.

Let's present them in this format for discussion here:

* `break-me-up` - break up for cleaner code separation, discrete tests, and, easier and iterative collaboration

https://github.com/publiclab/plots2/labels has a lot already so let's be

[2021-04-21 03:25] Komachian commented on #9499
I've made a commit to my local branch. I was waiting to be assigned the issue to go ahead with a pull request.

[2021-04-21 05:20] willow19 commented on #9529
@Elukoye can I try?

Also I do not see any issues under 'candidates' [here](https://code.publiclab.org/). Should I instead look for the issues [here](https://github.com/publiclab/plots2/labels/first-timers-only)?

[2021-04-21 06:37] Manasa2850 commented on #9533
@jywarren I have created an FTO #9535 to add more emojis to `LABELS.md`. Will create some more to add more emojis!

[2021-04-21 08:17] TildaDares commented on #9529
@willow19 Yeah you're right. You should look under the issues section.

[2021-04-21 11:03] Elukoye commented on #9529
@willow19 ,hi ,yes go ahead 🚀✊.
Also the candidates list isn't on the publiclab website , [it's here ](https://code.publiclab.org/#r=all).
Scroll down till you see the Candidates heading ,there are issues there that have already been fixed.

[2021-04-21 11:14] Elukoye commented on #9499
@Komachian , awesome 👍 great job.

[2021-04-21 12:19] Priyaraj17 commented on #9533
@jywarren, hey this sounds a great idea. It will help a lot of first time contributers. I would really like to help in this.

[2021-04-21 12:24] Priyaraj17 commented on #9533
I think it will be great for PR as I have been stuck with a PR myself. It's not passing a few tests. It will get attention or more contributers and things can be resolved soon.

[2021-04-21 12:45] Manasa2850 opened #9539 "Add emojis to labels to make them more friendly"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-21 14:51] TildaDares opened #9540 "Standardize presentation of results on tag pages (Research Notes)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-21 14:52] TildaDares commented on #9540
@cesswairimu I'm breaking up the tasks in #9510. Are these changes okay?

[2021-04-21 14:57] xdshivani commented on #9540
I would like to work on it.

[2021-04-21 14:59] TildaDares commented on #9540
@xdshivani I'm waiting on a reviewer to approve this and when they do you can work on it.

[2021-04-21 19:14] RuthNjeri commented on #9497
@TildaDares that's correct, the footer uses a feature tag. Maybe you could perform an inspect element on the different pages on the live site and see what is different about the tags used? You can have a look at the different feature tags displayed here https://publiclab.org/features

This is the one for the footer https://publiclab.org/features/13824

[2021-04-21 19:19] RuthNjeri commented on #9388
Hi, @Elukoye thanks for sharing. I think you could create specific instructions for the WSL2 guide similar to the Windows one on the README https://github.com/publiclab/plots2#windows-installation. That's a good FTO issue, do you want to write that up?

[2021-04-21 19:39] #9498 closed

[2021-04-21 20:11] Elukoye commented on #9388
@RuthNjeri yes ,I would love to. Also ,could you link me to the comment you made concerning my proposal in the wiki? I can't see it . Would love to make changes before the final date. Also the project am proposing is under education and user related functionality. You can find it in the Outreachy website.Please let me know if you need further clarification.

[2021-04-21 22:10] sentry-io[bot] opened #9541 "Error: on /wiki/barnstars/comments -- undefined method `username' for nil:NilClass"
Seeing 2 different errors on Wiki comment pages, like:

* https://publiclab.org/wiki/barnstars/comments
* https://publiclab.org/wiki/contribute/comments

Sentry Issue: [PLOTS2-19X](https://sentry.io/organizations/publiclab/issues/2354435273/?referrer=github_integration)

[code]

[2021-04-21 22:11] jywarren commented on #9541
See:

* https://sentry.io/share/issue/f0860a92188c402a8f7625521bf40385/
* https://sentry.io/share/issue/ff3d9dc0032042a6afebc8f3f6782926/

The second Sentry error for a wiki comments page is this; we might try to solve both at once or we can separate them!:

[code]

[2021-04-21 22:40] ltramos7 commented on #9539
👋🏽  @Manasa2850 I'd like to claim this issue!

[2021-04-22 06:16] willow19 commented on #9529
@RuthNjeri can you please have a look at the list below. I need help with the 'Need Confirmation' list to be sure they are done. I have given brief comments on all open items in the 3rd portion 'Overview on all open items'

### Done
1. [395](https://github.com/publiclab/community-toolbox/issues/395) - **done** in PR [424](https://github.com/publiclab/community-toolbox/pull/424)
2. [71](https://git

[2021-04-22 06:31] gaurav2699 commented on #9541
Hey @jywarren, wasn't this fixed in https://github.com/publiclab/plots2/pull/9435.

[2021-04-22 12:16] daemon1024 opened #9543 "Disable Edit Button for non-author comment replies"
Currently, any non-author of the comment reply sees the edit and delete button in the comment reply card.

![image](https://user-images.githubusercontent.com/47106543/115712019-df7c9000-a391-11eb-94fc-0d6ef6745824.png)

After trying to publish the changes you come across

![image](https://user-images.githubusercontent.com/47106543/115712207-18b50000-a392-11eb-81e3-d38a18254f75.png)

**Please descr

[2021-04-22 12:17] daemon1024 commented on #9543
This can be converted into a FTO if it's a valid input :D

[2021-04-22 12:52] Elukoye opened #9544 "Add WSL2 Installation Instructions to the README file"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-22 13:14] Elukoye commented on #9543
@daemon1024  can I work on this as a non-FTO?

[2021-04-22 14:00] sobekcore commented on #9544
Hello @Elukoye I'd like to try to work on this issue.

[2021-04-22 16:53] daemon1024 commented on #9543
Hi @Elukoye, Sure 👍🏼

You will probably need to dabble into some `React` for this.
The components are here - https://github.com/publiclab/plots2/tree/main/app/javascript/components

Feel free to ping me here in case of any blockers 😃

Thank You 😄

[2021-04-22 17:06] Elukoye commented on #9544
@sobekcore ,all yours 🚀👍🙂

[2021-04-22 17:50] Elukoye commented on #9543
@daemon1024 ,ok will get to it. Will ping you incase I meet a roadblock.

[2021-04-22 19:00] TildaDares commented on #9540
@RuthNjeri Can you approve this?

[2021-04-22 19:08] RuthNjeri commented on #9388
Hey @Elukoye, the comment I made for the proposal for the wiki was posted in the Gitter chat room. I copied the same comment on your new proposal. Also, for the Outreachy proposal, you should focus on the entire project `education and user-related functionality` and not a subsection of it since an intern chosen will work on the entire project scope in the duration of the internship.

[2021-04-22 19:37] gaurav2699 commented on #9541
Also about the second error, I tried to replicate in my local but it is now showing any error due to comment method. Does this error happen on some specific cases?

[2021-04-22 19:43] RuthNjeri commented on #3549
Fixed in https://github.com/publiclab/plots2/pull/7282

[2021-04-22 19:43] #3549 closed

[2021-04-22 19:56] RuthNjeri commented on #9540
Thanks for opening this up @TildaDares,
For the texts, we encourage using the translation method and adding the text in the en.yaml file... have a look at this example issue.. https://github.com/publiclab/plots2/issues/9249

I also have a question about what active params id should be listed in the text, I will ask that in the original issue

[2021-04-22 20:00] RuthNjeri commented on #9540
Once you update it to used the translation method and have the text within the en.yml, the issue should be good to go 🚀

[2021-04-22 21:39] ebarry commented on #8967
I made a mockup here: https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit?pli=1#slide=id.gbfcece396c_1_0

[2021-04-22 21:56] waridrox commented on #9450
Hi all, I believe the profile icon loading problem is still persistent even after the webpage fully loads.

https://user-images.githubusercontent.com/58583793/115789782-4ecea000-a3e3-11eb-9e13-7f7ffb639344.mp4

On further observation, the profile image after clicking on `Share your work button` is not requested to begin with, so I think it defaults to the grey img:

<img width="1277" alt="no-refer

[2021-04-22 23:47] waridrox commented on #9533
Cool! 😄 While we are at it, it would be helpful to fix the 📢 emoji as well which currently doesn't show up on the [issue template](https://github.com/publiclab/plots2/issues/new/choose) for some reason. Maybe replacing it with an actual emoji instead of the GitHub rendered one can resolve this...🤔 Thanks :)

<img width="275" alt="Screenshot 2021-04-23 at 5 11 34 AM" src="https://user-images.github

[2021-04-23 04:18] govindgoel opened #9548 "Fix loudspeaker emoji in weekly-check-in template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-23 06:10] govindgoel commented on #9533
@waridrox I have opened an FTO for fixing this https://github.com/publiclab/plots2/issues/9548

[2021-04-23 06:11] noi5e commented on #9543
Actually @daemon1024 @Elukoye, this is not occurring in `/app/javascript/components`. `plots2` currently has two different versions of the comment system, one written in Rails, and the other written in React.

This bug is occurring in the Rails comment system. See here to start:
https://github.com/publiclab/plots2/blob/e646cfd248e46fe9cf11a2eb7860bbf29f949b7d/app/controllers/comment_controller.rb#

[2021-04-23 06:18] daemon1024 commented on #9543
@noi5e Thank You for clarifying. ☺️

My bad, I just assumed since I saw the recent migrations. 😅

[2021-04-23 08:58] DR-FREKE commented on #9548
is this issue already claimed?, if so, is there an open pull request on this?. If there's an open request can I be a contributor to this?

[2021-04-23 09:01] sobekcore commented on #9544
I've made the pull request, would you review it :blush:

[2021-04-23 09:05] waridrox commented on #9548
Hi @DR-FREKE! 😄 This issue is currently open and is not claimed at the moment. Feel free to create a PR if you are willing to take this up! 🚀

[2021-04-23 09:14] DR-FREKE commented on #9548
done so @waridrox

[2021-04-23 09:38] DR-FREKE commented on #9544
I made a pull request, could you review it?

[2021-04-23 09:44] TildaDares commented on #9540
@RuthNjeri I've made the changes. I'm still going to have to create another issue to replace the files that use `tag.show.no_results_found`

[2021-04-23 09:46] DR-FREKE commented on #9517
can I also be a contributor on this? @VarunAroraCode @jywarren @TildaDares @cesswairimu . Thank you

[2021-04-23 09:49] Elukoye commented on #9543
@noi5e ,thanks so much for this,🙂. Will reach out a.s.ap if I encounter a blocker

[2021-04-23 09:54] TildaDares commented on #9517
@DR-FREKE Only one person can work an issue but if @VarunAroraCode is no longer working on it then you can take it up.

[2021-04-23 09:58] DR-FREKE commented on #9517
@TildaDares ok but how do I know that?

[2021-04-23 10:17] govindgoel commented on #9548
@DR-FREKE it seems you have already done a PR for another FTO issue, so it would be great to close this one's PR when your previous one is merged. So that another first-timer can take this up.

[2021-04-23 10:43] DR-FREKE commented on #9548
@govindgoel okay.

[2021-04-23 11:07] TildaDares commented on #9517
@DR-FREKE When I see a `first-good-issue` I'll let you know.

[2021-04-23 11:58] willow19 commented on #9529
Thanks @RuthNjeri , sure I'll pick up another issue. Thanks again for the appreciation!

[2021-04-23 13:27] cesswairimu commented on #9517
@DR-FREKE also adding your name here #9083 . Thanks everyone

[2021-04-23 14:34] RuthNjeri commented on #9540
@TildaDares can that replacement also be done by this issue? I am concerned that if there are files using the old `tag.show.no_results_found` and it is removed, we might not display the correct content for the users...

Alternatively, we could keep the previous ` no_results_found` and have the notes one as ` notes_no_results_found` then after all the changes have been made, we can update the en.ym

[2021-04-23 14:45] RuthNjeri commented on #8967
Thanks, @ebarry! I forgot to get around to doing this... 😅
With the mockup, the suggestion is that instead of having the three links within the topic card, we can have mini cards of the links? Can I go ahead and see if I can create an FTO/feature issue for this?

[2021-04-23 14:49] RuthNjeri commented on #9499
@Komachian thanks for taking this up, as long as no one else has commented that they are working on a particular issue, you are always free to pick it up and create a pull request for the changes. Please go ahead and create the Pull Request. Thanks!

[2021-04-23 14:51] RuthNjeri commented on #9499
I have seen your PR @Komachian, approving and merging it now! Thanks and great work!

[2021-04-23 14:51] #9499 closed

[2021-04-23 15:13] TildaDares commented on #9540
@RuthNjeri I think the second option is better. This way we don't have to change code that uses no_results_found.

[2021-04-23 15:47] jywarren commented on #9388
Hi @Elukoye that is so great and helpful, the WSL2 stuff you shared. Maybe we can include it in #3840?

[2021-04-23 15:47] jywarren commented on #9388
Hi all, just a reminder (via Outreachy!)

https://www.outreachy.org/outreachy-may-2021-internship-round/communities/public-lab/expand-and-refine-tagtopic-system-of-publiclaborg/contributions/

https://www.outreachy.org/outreachy-may-2021-internship-round/communities/public-lab/improve-education-related-usability-and-functional/contributions/

[2021-04-23 15:49] jywarren commented on #9544
Hi @sobekcore thank you so much!!!

@DR-FREKE i'm so sorry, @sobekcore spoke up and claimed this one. If you are looking for a first-timers-only issue to work on please check out https://code.publiclab.org or make a request in #7683. Thank you!!!

[2021-04-23 17:16] TildaDares commented on #9540
@RuthNjeri I've made the changes.

[2021-04-23 17:23] cesswairimu commented on #8948
Hey @TildaDares , we would lobe your help, feel free to go ahead. thanks

[2021-04-23 17:24] Elukoye commented on #9544
@jywarren ,@sobekcore ,I have seen the suggested change ,LGTM. 👍🚀

[2021-04-23 17:29] cesswairimu commented on #9438
:tada: :tada: :tada:

[2021-04-23 18:00] icarito opened #9553 "Embedded etherpad seems to fail sometimes"
https://publiclab.org/talk/organizing shows an error:
[code]

The console also shows:
[code]

And:
[code]

This looks like it may be a cross-origin header missing, but it's not clear why this page is affected when https://publiclab.org/talk/wwg isn't.

Note that the actual content of the pad is accessible at https://pad.publiclab.org/p/organizing

[2021-04-23 18:38] RuthNjeri commented on #9540
Thanks, @TildaDares, I think anyone interested can pick it up...

For the emoji on the text, is there a text/symbol for that emoji? Since it will be on a text file and rendered by the HTML tag

[2021-04-23 19:06] TildaDares commented on #9540
@RuthNjeri I'll change that now.

[2021-04-23 19:15] TildaDares commented on #9540
@xdshivani Do you still want to work on this?

[2021-04-23 19:18] TildaDares commented on #9553
@icarito Can I work on this?

[2021-04-23 19:45] ebarry commented on #9438
awesome!!! thank you

[2021-04-23 20:31] icarito commented on #9553
Hi @TildaDares , nice of you to offer. If you have an insight, feel free to make suggestions! It is unclear to me what is going on or if the fix can be applied to `plots2` or rather it could be a missing / wrong header configuration in our webserver.

In the first case I would try if a different sandbox setting for the iframe can do the trick, in the second case only I (the sysadmin) has access to

[2021-04-23 22:29] TildaDares opened #9554 "Standardize presentation of results on tag pages (Wikis)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-23 23:18] Elukoye commented on #9543
@noi5e ,I think the backend is working fine. So I think I will fix the UI to remove the edit and delete buttons. I think that's why @daemon1024 said it was react. @ noise5 does this rails comment system use Bootstrap or React to render the comment card ?

[2021-04-24 06:57] tanishghosh commented on #9554
Hi @TildaDares ! I am new to open source and would like to claim this issue.

[2021-04-24 08:44] cesswairimu commented on #9548
Thanks a bunch @govindgoel :tada: , I have been trying to that that emoji right for a while

[2021-04-24 08:47] #9548 closed

[2021-04-24 08:53] cesswairimu commented on #9540
Thanks a lot  @TildaDares :tada:  for opening this

[2021-04-24 09:02] cesswairimu opened #9556 "Enhance questions no result message"
Part of #9510
`Questions: Hi! No Questions have this tag 🤷, try checking the Research Notes or Wiki tabs on this page. Or try searching:__(active search link)_`

[2021-04-24 09:16] #9556 closed

[2021-04-24 09:28] waridrox commented on #9548
@cesswairimu, taking a look at the [previous commit](https://github.com/publiclab/plots2/commit/80b586447685886e3aea9520bf5cf435bb7a0513#diff-a153ed90fc13baccf902152a7cb57727f4ac127f7229260b3a72a268531008a9), makes me wonder why it was changed in the first place 😅

[2021-04-24 09:30] #9535 closed

[2021-04-24 11:02] harryobas commented on #8749
@jywarren  Is this still up for grabs?

[2021-04-24 17:02] TildaDares commented on #9554
@tanishghosh Yes you can work on this🎉

[2021-04-25 04:26] noi5e commented on #9543
@Elukoye This error is occurring in the Rails commenting system. Rails renders a front-end template (a "view"), which you can find here:
https://github.com/publiclab/plots2/blob/e646cfd248e46fe9cf11a2eb7860bbf29f949b7d/app/views/notes/_comment.html.erb#L55-L70

[2021-04-25 05:08] Manasa2850 commented on #9517
@cesswairimu I've updated the issue number in #9530. I think it can be merged.
Thanks everyone!

[2021-04-25 07:39] cesswairimu commented on #9517
Thanks @Manasa2850 🎉

[2021-04-25 07:40] #9517 closed

[2021-04-25 12:32] Elukoye commented on #9543
Thanks @noi5e

[2021-04-25 12:33] Elukoye commented on #9450
thanks @waridrox for the analysis, will sure help 😄

[2021-04-25 16:50] DR-FREKE commented on #9554
@TildaDares looking for a first-timers-only issue

[2021-04-25 16:51] DR-FREKE commented on #9398
@cesswairimu  can I take this up?

[2021-04-25 17:11] TildaDares commented on #9540
@DR-FREKE You can work on this.

[2021-04-25 18:21] DR-FREKE commented on #9540
@TildaDares  okay

[2021-04-25 18:42] DR-FREKE commented on #9540
@TildaDares @cesswairimu just made a pull request on this

[2021-04-26 09:47] TildaDares opened #9561 "Fix misspelled aria labels"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-26 14:17] ebarry opened #9562 "Isolated case: alert bar isn't being generated by the 'parent:foo' powertag on one wiki page"
Here's a cute bug! 🐛

### The problem

First reported by @steviepubliclab :

The powertag `parent:foo` is able to be added to wiki page https://publiclab.org/wiki/fellowship-teams, but it fails to generate the alert bar at the top of the page that links to the parent page. The parent page https://publiclab.org/wiki/fellows does not show that it possesses any subpages, which is also incorrect.

I w

[2021-04-26 16:20] j-saurabh commented on #9561
I will take up this. Please.

[2021-04-26 16:27] j-saurabh commented on #9561
Let me know with an confirmation and I will raise a pull request

[2021-04-26 18:44] TildaDares commented on #9561
@j-saurabh You can work on this🎉

[2021-04-26 20:12] TildaDares opened #9563 "Hide Emoji list after leaving comment reaction"
**Please describe the desired behavior.**
After leaving a reaction on a comment, the emoji container should hide/close.

**Additional context (optional)**

https://user-images.githubusercontent.com/63427719/116144197-f396f900-a6d3-11eb-81b5-f7b3532de778.mov

[2021-04-26 20:25] TildaDares commented on #9553
@icarito From what I've read I think the issue is because of the [same-origin policy](https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy). Accessing the iframe with a different origin probably caused the error.

[2021-04-26 20:56] govindgoel commented on #9563
@TildaDares this is great

[2021-04-27 02:31] LainWiredIn commented on #9561
Has a pull request been generated already? If not, I'll love to contribute to this. Do let me know.
Thanks!

[2021-04-27 03:58] Abir2004 commented on #9539
Hello, I would like to claim this issue if it is unclaimed.. Thank You

[2021-04-27 06:20] TildaDares commented on #9561
Hi @LainWiredIn someone has already been assigned. If they decide not to work on it then you can take it up.

[2021-04-27 07:03] j-saurabh commented on #9561
I have created a pull request. Please review and let me know.

[2021-04-27 07:32] cesswairimu opened #9566 "Weekly Community Check-In #101 - Outreachy applications closing soon!!"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-04-27 07:40] cesswairimu commented on #9526
Moved to https://github.com/publiclab/plots2/issues/9566 Thanks everyone :100:

[2021-04-27 07:40] #9526 closed

[2021-04-27 07:49] cesswairimu commented on #9388
Hi everyone :wave:  please checkout this week's check-in here https://github.com/publiclab/plots2/issues/9566
thanks to everyone who has already posted on the PublicLab website, the mentors will continue providing feedback on the proposals.
If anyone is having trouble posting, please feel free to reach out or ask any other questions you may be having. Thanks everyone

[2021-04-27 08:16] cesswairimu commented on #9398
Hi @DR-FREKE , I see you already made a first-timer contribution https://github.com/publiclab/plots2/pull/9550, we would like to leave this one for a newcomer...how does that sound? You could browse through issues labelled `help-wanted` or `bug` for other issues

[2021-04-27 08:19] cesswairimu commented on #9540
Hi @DR-FREKE , I see you already made a first-timer contribution https://github.com/publiclab/plots2/pull/9550, do you mind leaving this to a first-timer?

[2021-04-27 08:26] DR-FREKE commented on #9398
@cesswairimu okay, that will work well

[2021-04-27 09:25] cesswairimu commented on #9398
Thanks @DR-FREKE :heart:

[2021-04-27 09:54] waridrox commented on #9500
Ok, so I tried reproducing the error on the official website at https://publiclab.org and the error is persistent there 😅 where after the first comment reply, the second one keeps generating with the contents of the previous reply...

https://user-images.githubusercontent.com/58583793/116222612-618eff00-a76c-11eb-8836-a8dbdd3747f1.mp4

[2021-04-27 09:59] j-saurabh commented on #9561
I found out that in my ~/gitconfig file, the email had a typo which I have corrected now. The Codecov report has posted that "No coverage uploaded for pull request base." Please let me know if I have to do a new pull request.

[2021-04-27 10:03] TildaDares commented on #9561
@j-saurabh You don't have to make a new PR. Good job.

[2021-04-27 10:08] j-saurabh commented on #9561
@TildaDares Thank you.

[2021-04-27 12:55] tanishghosh commented on #9554
I have raised a PR for solving this issue.

Can you look into this @TildaDares ?

[2021-04-27 14:57] Elukoye commented on #9388
@cesswairimu,@jywarren, is there a way to retrieve a draft copy? I think I lost mine. I can see my draft history but cannot retrieve it.

[2021-04-27 15:08] aliciapaz commented on #9388
Hi @Elukoye
If you click on "x entries" it will display the list of draft entries on that date and then you can click on the "revert" button to retrieve a particular draft.
![image](https://user-images.githubusercontent.com/67963195/116265013-c0428180-a748-11eb-806c-467c6f8e4dbc.png)
I hope this helps :)

[2021-04-27 15:15] jywarren commented on #9388
Hi @Elukoye @aliciapaz is right - however if you've already published your draft, it may be this? https://publiclab.org/notes/lukoyedith/04-20-2021/gsoc-proposal-filter-out-spam-from-comment

[2021-04-27 15:15] first-timers[bot] opened #9568 "Update Weekly Check-Ins guide to point at recent contributors listings"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-27 15:17] jywarren commented on #9563
Hi @TildaDares i really appreciate this one, but I am also unsure -- i often use multiple reactions and so i kind of like that it stays open? What do other people think? I'm not set either way.

[2021-04-27 15:17] jywarren commented on #9539
I love this one!!!

[2021-04-27 15:18] jywarren commented on #9540
This looks awesome folks, thanks so much to @TildaDares and to everyone who's supporting!

[2021-04-27 16:27] jywarren commented on #9562
Hi, thanks for filing a great issue with so much detail. The key section of code which generates this alert is here:

https://github.com/publiclab/plots2/blob/e646cfd248e46fe9cf11a2eb7860bbf29f949b7d/app/views/wiki/_header.html.erb#L55-L60

It depends on this line:

[code]

which is pretty simple, it just gets the "value" for the powertag, which should be "fellows" and then it searches for the nod

[2021-04-27 16:45] jywarren commented on #9562
OK, fixed!

![image](https://user-images.githubusercontent.com/24359/116280176-6a74d600-a756-11eb-9e53-02f327105273.png)

[2021-04-27 16:45] #9562 closed

[2021-04-27 16:47] DR-FREKE commented on #9512
@RuthNjeri @jcads  Is this done or is it still up for grabs?

[2021-04-27 16:50] DR-FREKE commented on #9485
Can I work on this?

[2021-04-27 16:54] jywarren commented on #9498
Hi @ikallon -- sorry this was already taken by @bunnyrockz -- but, we have new issues available -- either you could try https://github.com/publiclab/community-toolbox/issues/460 or look in https://github.com/publiclab/plots2/issues/9083. Thank you!!

[2021-04-27 16:55] TildaDares commented on #9485
@DR-FREKE This issue has been split into two first timer issues which have already been assigned.

[2021-04-27 17:04] swetshaw commented on #9568
Hi, I would like to take up this issue. Please give me a confirmation so that I can raise pull request.

[2021-04-27 17:06] ebarry commented on #9562
Thank you!!!!! The team's gonna love this

On Tue, Apr 27, 2021, 12:45 PM Jeffrey Warren ***@***.***>
wrote:

[2021-04-27 17:09] Elukoye commented on #9388
@jywarren , the link you put isn't the one I was working on, I had started a new one. @aliciapaz , that brings me an empty form
please reference here https://www.loom.com/share/6071312f7a1341199187edf47917d861

[2021-04-27 17:11] jywarren commented on #9388
Ah ok @Elukoye i will look for the other

[2021-04-27 17:11] Elukoye commented on #9388
I clicked on the publish button but it was unresponsive, so I saved it as a draft and refreshed the page, it brought an empty form, When I tried to revert, it was rendering an empty form.

[2021-04-27 17:13] jywarren commented on #9388
Hm. I'm sorry it caused trouble, maybe we need to debug the draft saving function? Was it this one though? https://publiclab.org/notes/lukoyedith/04-25-2021/sample-draft

[2021-04-27 17:21] Elukoye commented on #9388
@jywarren, it's not the one 😢 . However, this is what I noticed, when I leave my research note untouched for a few hours in save as draft mode, the moment I refresh the page, my draft disappears. This is the second time am starting over 😄 . Maybe we can include a gem called Sisyphus gem that uses script tags to wrap around the input forms on the app. Actually, I have proposed this in my new resear

[2021-04-27 17:26] eightballocto commented on #9566
Hey all! I'm going to be starting work back up on my fork again so I hope to make some more good contributions to this project!

[2021-04-27 17:26] DR-FREKE commented on #9485
@TildaDares  I can't seem to get a good task to work on

[2021-04-27 17:30] Elukoye commented on #9388
@jywarren the title of my latest research note was:
 Improve education-related usability and functionality on PublicLab.org

[2021-04-27 18:08] jywarren commented on #9388
Hi @Elukoye if it's OK with you can we create a new issue for this and try to document a bit more of how this happened? I'm so sorry you've lost your text, and I want to see if we can recover it but also to make sure this doesn't happen again. Thank you for noting it!

[2021-04-27 18:14] jywarren opened #9569 "Research note drafts disappear"
I'm creating this issue to try to diagnose the problem @Elukoye had in editing and posting a draft, and I'm so sorry you had this issue. Let's try to use screenshots and carefully document what happened to try to fix it and even potentially recover the text.

_Originally posted by @Elukoye in https://github.com/publiclab/plots2/issues/9388#issuecomment-827776850_

[2021-04-27 18:18] jywarren commented on #9569
@Elukoye when you say "in save as draft mode" do you mean that you saved as a draft and then edited it again?

Here i made a video of saving as a draft, using the "Save as draft" checkbox and pressing `Publish`. Then I see the saved draft which i then have to press "Edit" again to modify.

https://user-images.githubusercontent.com/24359/116292007-3c49c300-a763-11eb-98bf-d5060f7d9700.mov

Each time

[2021-04-27 18:19] jywarren commented on #9569
Is this how it went for you? If not, could you take some screenshots or even a video to show the process you saw? Again, i'm so sorry this caused you trouble.

[2021-04-27 18:20] jywarren commented on #9388
@Elukoye I made a new issue here to investigate more. Thank you again -- https://github.com/publiclab/plots2/issues/9569

[2021-04-27 18:55] #9544 closed

[2021-04-27 18:56] #9554 closed

[2021-04-27 19:30] jywarren commented on #9346
Hi! Thanks, I'm closing after discussion:

Thank you!!!

[2021-04-27 19:33] #9561 closed

[2021-04-27 20:47] sentry-io[bot] opened #9571 "ActiveRecord::StatementInvalid: Mysql2::Error: Expression #1 of SELECT list is not in GROUP BY clause and contains nonaggregated ..."
Sentry Issue: [PLOTS2-17Z](https://sentry.io/organizations/publiclab/issues/2307565652/?referrer=github_integration)

[code]

[2021-04-27 20:48] jywarren commented on #9571
https://github.com/publiclab/plots2/blob/2d7a3554e7053ec97118103c8cc30f55a3290606/app/controllers/questions_controller.rb#L85-L87

[2021-04-27 22:12] #9571 closed

[2021-04-28 00:23] sentry-io[bot] opened #9573 "ActiveJob::SerializationError: Unsupported argument type: ActiveRecord::Relation"
Sentry Issue: [PLOTS2-1AN](https://sentry.io/organizations/publiclab/issues/2367666275/?referrer=github_integration)

[code]

[2021-04-28 00:28] TildaDares opened #9574 "Emoji list is hidden on mobile devices"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-28 00:29] TildaDares commented on #9574
## Before

https://user-images.githubusercontent.com/63427719/116328090-21596c00-a7c0-11eb-8a46-28825bad2a7c.mov

## After

https://user-images.githubusercontent.com/63427719/116328164-506fdd80-a7c0-11eb-8396-c038565137c8.mov

[2021-04-28 02:17] CQW-Code commented on #9563
I sometimes do use multiple reactions so like that it stays open; I don't know if it's feasible but maybe a time delay on closing the reaction/emoji list? ( that may or may not be a plus for low vision and blind people who may use publiclab's site).

[2021-04-28 02:21] Khusyasy commented on #9574
hey, can I claim this? I'm new to contributing to open source,

[2021-04-28 02:41] jywarren commented on #9573
https://github.com/smartinez87/exception_notification/issues/319#issuecomment-176209644

This is odd. I guess it could happen with the new v6 sidekiq as of #8385 maybe???

[2021-04-28 02:51] jywarren commented on #9573
Also https://github.com/rails/rails/issues/25993. Not sure why this started happening though.

OK, so the `deliver_later` was added recently. Maybe it was just deployed first time, although that seems unlikely.

(from http://edgeapi.rubyonrails.org/classes/ActiveJob/SerializationError.html)

[2021-04-28 02:52] jywarren commented on #9573
Meaning we can pass an ActiveRecord object but not an ActiveRecord relation, i think.

https://github.com/publiclab/plots2/blob/87b776f46019a7db3638bc155997012323dc3a20/app/models/user.rb#L255-L260

[2021-04-28 02:57] jywarren commented on #9573
We can try fixing this but #9575 is the fallback.

[2021-04-28 03:12] Manasa2850 commented on #9412
Hi @TildaDares. You can definitely start working on this once @jywarren or @cesswairimu approves this issue!

[2021-04-28 03:16] jywarren commented on #9573
Aha, so we should be able to send full ActiveRecord objects... why isn't this working?

https://www.xspdf.com/help/51642031.html

[2021-04-28 03:26] jywarren commented on #9573
OK, my best guess is that Sidekiq's new version isn't getting configured correctly at all, and so even though we should be able to send it ActiveRecord objects, it's not booting properly and we need to revert to sidekiq v5 in #9575.

See this breaking change for notes on changes to `REDIS_PROVIDER` and `REDIS_URL` variables:

or maybe:

https://github.com/mperham/sidekiq/blob/master/Changes.md#60

[2021-04-28 03:30] jywarren commented on #9573
I'm wondering if Redis failed to start properly for related reasons? (see https://sentry.io/share/issue/4cefe4966e0b4d1395761ec1bf97a1b3/) and this might also be related to the Sidekiq changes? Not sure but this error appeared around when we deployed the Sidekiq v6 upgrade and then we stopped seeing mail/SMTP errors which had been around for a few days, which is worrisome.

[2021-04-28 03:37] jywarren commented on #9573
Noting logs also showed this, which may mean we need to flush old jobs with too many email recipients in BCC:

[2021-04-28 03:43] sentry-io[bot] opened #9576 "ActionView::Template::Error: undefined method `username' for nil:NilClass"
See error on page: https://publiclab.org/wiki/spectral-analysis

https://sentry.io/organizations/publiclab/issues/?environment=production&project=1410626&query=url%3A%22https%3A%2F%2Fpubliclab.org%2Fwiki%2Frevisions%2Fbarnstars%2F17995%22&referrer=alert_email

Sentry Issue: [PLOTS2-1AF](https://sentry.io/organizations/publiclab/issues/2365347477/?referrer=github_integration)

[code]

[2021-04-28 03:49] jywarren commented on #9576
This should've been fixed in https://github.com/publiclab/plots2/pull/9435

See:

https://github.com/publiclab/plots2/blob/347d820fad63bc5a15c7d42896196acbc6fe69ed/app/views/wiki/_header.html.erb#L37

Why isn't that fix working? Hmm.

[2021-04-28 03:51] jywarren commented on #9420
Hi @manishaag7 I think this one may be very tough to debug without access to a production server. Can you try something at https://code.publiclab.org ?

[2021-04-28 03:52] jywarren commented on #9420
This is linked to #9573

[2021-04-28 03:53] jywarren commented on #9573
Noting also this Serialization error seems not new. Hundreds previously at https://github.com/publiclab/plots2/issues/9420

So, the revert here may be more for the `MISCONF Redis` error above! Let's investigate more!

[2021-04-28 03:56] jywarren commented on #9576
I believe this is six hours old and so has actually been fixed. confirmed at https://publiclab.org/wiki/spectral-analysis

[2021-04-28 03:56] #9576 closed

[2021-04-28 05:21] Elukoye commented on #9569
@jywarren, thank you very much for the above video. It makes sense now why it didn't save, I assumed that once I tick the check box, my draft autosave and I can access it from history. I think the save as draft link could lead to the assumption that the draft is being saved as one writes it, removing the need to periodically press the save button.

[2021-04-28 05:29] Elukoye commented on #9569
This is how i did it , this is assuming that once the checkbox is ticked the draft is saved automatically when changes are made.
https://www.loom.com/share/5ce3fde7ba5244d789642dea82ef48c7
From my video can you note a difference in the position of the save button?

[2021-04-28 05:39] Elukoye commented on #9569
Also, I left the tab open for some time without editing or refreshing, this is what happened.
[Video](https://www.loom.com/share/125a99dfe12c49f2aa8345e0e0d4f56b). The publish and save buttons were unresponsive, the preview button did work though.

[2021-04-28 07:09] Manasa2850 commented on #9569
@jywarren I'm not really sure why but the `Publish` and `Preview` buttons are not there in my browser for the Rich editor. I had to use the legacy editor to create my proposal.

https://user-images.githubusercontent.com/43354059/116361498-92187c80-a7f0-11eb-958b-2341615eff82.mp4

[2021-04-28 08:41] TildaDares commented on #9574
@Khusyasy Go ahead🎉

[2021-04-28 13:17] Khusyasy commented on #9574
@TildaDares I'm a bit confused but I managed to do the pull request, can you review it please, and did I get it right?

[2021-04-28 13:47] j-saurabh commented on #9561
@TildaDares Thank you once again for letting me do this. It was very small change but I learnt a lot in this about the process. Looking forward to making more contributions in the open source.

[2021-04-29 15:16] jywarren commented on #9573
Noting that `Redis::CommandError Sidekiq` MISCONF error seems to have happened only once and we seem OK now after another deployment?

[2021-04-29 15:27] sentry-io[bot] opened #9584 "NoMethodError: undefined method `match?' for nil:NilClass"
Sentry Issue: [PLOTS2-17T](https://sentry.io/organizations/publiclab/issues/2303741376/?referrer=github_integration)

[code]

[2021-04-29 15:29] first-timers[bot] opened #9585 "convert tagname to string to avoid error"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-04-29 15:31] jywarren commented on #9574
Hi all - thanks so much for your help here. Just noting we've had a little more discussion on this and possibly want to have a delay before it hides in case people want to add multiple reactions. Could we add a `setTimeout()` delay to JavaScript here?

[2021-04-29 15:32] jywarren commented on #9563
That's such a great idea, thanks @CQW-Code. I think that's a relatively easy change as well, what do you think @TildaDares?

Maybe we need to help the first-timer at https://github.com/publiclab/plots2/issues/9574 add a `setTimeout()` delay?

[2021-04-29 15:36] cesswairimu commented on #9388
Hi all, here are some updates from Outreachy:

[code]
Thanks all

[2021-04-29 15:41] cesswairimu commented on #9412
hi, I agree @Manasa2850 that would be great, thanks for catching this. You can go ahead @TildaDares  we would love tour help
Thanks you both :tada:

[2021-04-29 15:43] jywarren opened #9586 "/notes/author/warren template should match /tag/water-quality, not /notes"
We have a great new page at https://publiclab.org/notes/ made by @RuthNjeri and it uses a slightly different presentation of types of content by nav, instead of by tab:

Unfortunately it looks like this type of page also got that template:

https://publiclab.org/notes/author/cess/

Actually that should have tabs similarly to https://publiclab.org/tag/water-quality - i think something about how we

[2021-04-29 16:49] ramarahul commented on #9585
Hi! I would like to try out this issue as my first open-source contribution