[2019-02-20 19:43] cesswairimu commented on #4577
Could it make sense if I made the range page a partial and just render it on the `/stats` page?  Thanks

[2019-02-20 20:17] jywarren commented on #4849
This is great to hear, and perhaps we just need to add better docs on running these to resolve this issue?

The Docker config discussion sounds important too, but for those just arriving, the `yarn install` and `yarn upgrade` solution seems to resolve this. Thanks, all!

[2019-02-20 21:08] rexagod commented on #4798
Hey @vladdypwnz! You can start by [commenting out](https://github.com/publiclab/PublicLab.Editor/issues/55#issuecomment-463379041) both of the lines mentioned above. Then we can continue on this [here](https://github.com/publiclab/PublicLab.Editor/issues/55#issuecomment-463383624).

@jywarren After documenting `atwho` in the README, I'll focus on implementing https://github.com/publiclab/PublicLab

[2019-02-20 21:48] jywarren commented on #4798
Awesome, thanks both of you!!

On Wed, Feb 20, 2019, 1:09 PM Pranshu Srivastava <notifications@github.com
wrote:

[2019-02-20 21:49] swiatek7 commented on #4821
Hi @gauravano

I managed to fetch new CSS file :)
Since I am really first timer, not only in this project, but in any open source project I need to read up on how to create a pull request from forked branch. As soon as I am finished with it, I will open PR.

[2019-02-20 22:28] jywarren commented on #4577
yes that would be fine! And your date selector work could be used for both?

On Wed, Feb 20, 2019 at 11:44 AM Cess <notifications@github.com> wrote:

[2019-02-20 23:22] jywarren commented on #4844
Don't worry @cesswairimu all your work to date will make it easier to tackle these last few!

Regarding Outreachy, we are discussing it and will do our best to get an answer back soon! We are of course interested, so it is partly a matter of finding the funding. Note that we will also be applying to Rails Girls Summer of Code!

Thanks, everyone!

[2019-02-20 23:48] jywarren commented on #4661
Thanks, @icarito i'm traveling now so didn't see this. Merged https://github.com/publiclab/plots2/pull/4841 and thanks -- remaining tasks for optimizing are listed at:

* https://github.com/publiclab/plots2/issues/3472
* https://github.com/publiclab/plots2/issues/4670#issuecomment-460770933

Closing this now to focus on those!

[2019-02-20 23:48] #4661 closed

[2019-02-21 00:37] jywarren commented on #4141
oh, actually that's calculated differently i believe - here we want to know
if a given Node is the first post by a given author. Thanks!

https://github.com/publiclab/plots2/blob/d7e9fe8978c8e4a3cf42515c02f13a09aeace01a/app/models/user.rb#L64-L66

On Wed, Feb 20, 2019 at 5:16 AM Cess <notifications@github.com> wrote:

[2019-02-21 00:52] jywarren commented on #3262
I'm so sorry, as you can probably tell, i'm behind on communication this week... catching up as I can! Yes, you have it just right in your summary. New contributors won't have to touch `en.yml`, and it could be done in follow-up and/or via a script. I'd like to document the sequence here as well, somewhere we can easily point people and simply explain how this works, without overwhelming them. Som

[2019-02-21 09:47] swiatek7 commented on #4821
@gauravano I opened PR :)
https://github.com/publiclab/plots2/pull/4867

[2019-02-21 09:53] cesswairimu commented on #4577
yeah

[2019-02-21 11:49] gauravano commented on #3262
Ok, I will complete prompt part first and then make a helper for this one. I will add the documentataion too. Also, should I upload the latest en.yml to Transifex or you'll do it? Also, we need to answer this one - https://github.com/publiclab/plots2/issues/4766#issuecomment-460827084 before uploading the file. Thanks!

[2019-02-21 12:08] gauravano commented on #4424
Hey @vladdypwnz, @rohanpalhappy opened a PR for this issue, but we are still in discussing whether we want to add logo in navbar or not. You can see - https://github.com/publiclab/plots2/issues/4424#issuecomment-463275239 for reason about this discussion. You can help us with navbar fix, if you're interested. Thanks!

[2019-02-21 14:20] Dhiraj240 commented on #3646
@gauravano  no, i have been more inclined towards ```mapknitter``` @agam-kashyap  you should start.

[2019-02-21 14:24] agam-kashyap commented on #3646
@Dhiraj240 I will get working on it then. Thanks.

[2019-02-21 16:12] jywarren commented on #4823
I'm sorry i missed this message! Reading through now. Just also noting that we could ask @publiclab/community-reps to compile a list of search term pairings in a doc, let's say:

http://pad.publiclab.org/p/searches

[2019-02-21 16:18] jywarren commented on #4823
OK, just to start with your initial 2 ideas; i think i suggest part of this in #4848, but:

For a. (removing hyphens) i agree it can be automated. I like doing this as its own filter - 👍

For b. I think we can treat this almost identically to related terms that don't share terms, so like "h2s: hydrogen-sulfide" can use a dict lookup just like "purpleair: purple-air". Sound right?

[2019-02-21 19:47] #4821 closed

[2019-02-22 08:21] shubhscoder commented on #4823
@jywarren,

So do you want it be included in the same dict file as well? Because we have implemented a strip hyphens filter in text-search that gets rid of all the hyphens in the query.

I think #4848 implements it the right way? we would just populate the dictionary and searches like h2s: hydrogen sulphide should work fine right?

I have already included a strip hyphen filter in text_search in #4

[2019-02-22 12:25] yash98gupta commented on #4688
i would like to solve this issue. @arungoel123456 , would you like to collaborate ?

[2019-02-22 12:27] sagarpreet-chadha commented on #4688
That would be great @yash98gupta  😄 !

[2019-02-22 13:47] Nirvikalpa108 commented on #4614
Hi @ebarry thank you so much, I just completed the survey! I am completely new to this community and I absolutely love it's welcoming feel for newcomers. You really have created a gold standard for first time contributors! Can I ask for your advice please? I have a problem in that all of the issues for first timers seem to be taken (if I'm correct?) and I'm not sure which issues tagged "help wante

[2019-02-22 13:56] namangupta01 commented on #4614
Hi @Nirvikalpa108, Welcome to PublicLab. There is a first timers issue https://github.com/publiclab/plots2/issues/4820 and I guess no one is actively working on this. You can ask if anybody is still working on the issue or not. In case if no one is working on the issue then you are good to go.
Thanks!!

[2019-02-22 14:06] kaunair opened #4871 "Too many page numbers on search results"
When searching for something using tags, the results show more page numbers than necessary.
Most pages in the end are empty
![plots](https://user-images.githubusercontent.com/30197132/53247348-22227f00-36d9-11e9-9497-6909d299e3e8.png)

[2019-02-22 14:16] namangupta01 commented on #4871
Hi @kaunair, I tried to reproduce the error but it seems to be alright to me.
![screen shot 2019-02-22 at 7 45 03 pm](https://user-images.githubusercontent.com/20709985/53247864-5c405080-36da-11e9-9845-2a8ebd53a199.png)

Can you please tell the steps to reproduce this issue?

[2019-02-22 14:18] Nirvikalpa108 commented on #4820
Hi @ctam853 are you working on this? If so, shall we attempt it together?

[2019-02-22 14:19] Nirvikalpa108 commented on #4614
Thank you @namangupta01! I've done this. I'll let you know how I get on! Thank you again!

[2019-02-22 17:06] kaunair commented on #4871
Search for 'waste'
Go to tags section
Hit the pages at the end

[2019-02-22 17:07] kaunair commented on #4871
It seems you haven't got any search result.
The problem arises when there are matches...the pages at the end are empty

[2019-02-22 17:14] namangupta01 commented on #4871
Yup, you are right!

[2019-02-22 17:15] namangupta01 commented on #4871
Thanks for reporting!! 👍

[2019-02-22 19:04] bhimak commented on #4871
@namangupta01  Is this issue up for first timers? If yes, can you please point me the instructions to recreate the issue.

[2019-02-22 19:16] namangupta01 commented on #4871
@bhimak, yes this is a first timers issue and @kaunair has explained the steps above to reproduce it. Thanks

[2019-02-23 04:43] IshaGupta18 opened #4874 "CSS breaking in multiple subscription button"
Content is not being displayed in the popover and the button styling of the Subscribe+ button has disappeared as well, however, the code is fine I believe because it's the same code that was working perfectly some time ago. I feel that this could be happening because of the changes in the Bootstrap version.
![image](https://user-images.githubusercontent.com/40794215/53281697-1d021600-3753-11e9-849

[2019-02-23 08:00] Chrisyee22 commented on #4874
Hello. Could I work on this issue?

[2019-02-23 08:14] IshaGupta18 commented on #4874
Sure, could you please look into what's actually creating this problem, I would suggest you look into Bootstrap 4's documentation and the updates going on in our repo. Thanks a lot!

[2019-02-23 08:43] Rishabh570 commented on #4844
Hi everyone! Great theme :tada: :fireworks:
For this week, I'll be looking into some of the refactoring stuff that is needed in community-toolbox. It is good to see our growing and active community, more & more people are getting involved in our projects day by day (469+ total contributors currently).

So for now, I've opened up a [roadmap](https://github.com/publiclab/community-toolbox/issues/141

[2019-02-23 12:53] gauravano commented on #4844
Nice checklist @Rishabh570!

@jywarren I think there should be a dedicated documentation page for Public Lab projects too which can contain the flowcharts showing which PL libraries are utilised at which project like Leaflet, Editor, etc used at plots2 and so on. This will give the clarity to new-comers and they may be interested in contributing/improving the library too. What do you think?

Thank

[2019-02-23 12:53] gauravano commented on #4844
Anyone interested in opening next week's check-in ??

[2019-02-23 13:16] gauravano commented on #4874
We are still riding on Bootstrap3 as the upgrade PR https://github.com/publiclab/plots2/pull/3937 hasn't been merged yet. So, some other problem maybe.

[2019-02-23 13:30] gauravano commented on #4871
Hey @kaunair, thanks for reporting the issue.

@namangupta01 could you please edit the issue in this template - https://github.com/publiclab/plots2/blob/master/.github/ISSUE_TEMPLATE/first-timers-issue-template.md and also add the code snippets for solving this issue to make it a little easy for first-time contributor? Please feel free to add the label again after editing. Thanks!

[2019-02-23 13:33] gauravano commented on #4871
@bhimak this issue will be edited soon, but you can have a look at other issues at https://code.publiclab.org/#r=all in the meantime. Also, if you can solve this issue without need of relevant file links or snippet, we would love to have a PR from you. Thank you!

[2019-02-23 13:48] jywarren commented on #4844
Ah that's a great idea @gauravano! We have some diagramming issues and a
Google presentation we could build off of!

On Sat, Feb 23, 2019, 6:53 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-02-23 13:51] IshaGupta18 commented on #4844
Thank you all for liking the check-in! Hope all of you had a lovely week!

[2019-02-23 14:03] IshaGupta18 commented on #4732
@jywarren #4875 is the PR for fixing broken images! Let me know what else can be done! Thanks a ton!

[2019-02-23 18:18] Harshithpabbati opened #4876 "Star the repo's of public lab."
This will let everyone to star all the repo's in one single execution and supports the publiclab.

[2019-02-23 18:31] gauravano commented on #4876
@publiclab/community-reps

[2019-02-23 18:47] rexagod commented on #4876
Quoting the gitter chat here.

[code]

[2019-02-25 09:16] cesswairimu commented on #4603
Hello @IshaGupta18, how is this coming along?  Anything I can help with? Thanks

[2019-02-25 09:48] swiatek7 commented on #4874
Hi @Chrisyee22
Are you working on this issue? Any update?

[2019-02-25 09:56] swiatek7 commented on #4871
Hi @gauravano
Is there a PR for this issue or it is still not solved?

[2019-02-25 12:21] gauravano commented on #4871
@swiatek7 it is unresolved and available to claim.

[2019-02-25 12:47] swiatek7 commented on #4871
@gauravano
Then I would like to claim it :)

[2019-02-25 13:05] gauravano commented on #4876
**My opinion:** I think, we don't need this type of script. As a contributor, if some org tell me to run a script in my console, without even knowing the repos, then I will be reluctant for sure.

 I know, it can be like we maintain the script in the repo and just mention for new contributors that there is something like running the script for starring our projects but for what, I will prefer that

[2019-02-25 13:08] gauravano commented on #4871
Great!

@bhimak you can see more issues at code.publiclab.org/#r=all as I mentioned here https://github.com/publiclab/plots2/issues/4871#issuecomment-466649442. Also, you can collaborate with @swiatek7 for solving this one, if you like.

Thanks!

[2019-02-25 13:09] gauravano commented on #4871
Also, I am doubtful if this one can be converted to FTO as a similar issue is open for /dashboard and it got pretty complex in Google Code-In and still unresolved.

[2019-02-25 13:24] Harshithpabbati commented on #4876
I agree with you. But in case if anyone want to star all the repo's then he can do it using this script right?? That's the reason I mentioned it :+1:
Thanks

[2019-02-25 13:25] gauravano opened #4879 "Weekly Community Check-In #11 - "Funny/Awesome moment""
Hi everyone  :wave: !

We all at Public Lab  :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and

[2019-02-25 13:26] Harshithpabbati commented on #4876
I mean the person who wants to do it will do it. Else it would be nothing other than a repo.

[2019-02-25 13:28] gauravano commented on #4879
Mentioning some new contributors @marieram @swiatek7 @kaunair @sidntrivedi012 (mention limit exceeded in above comment)

[2019-02-25 13:33] gauravano opened #4880 "Showcase Public Lab projects dependencies among themselves"
Thanks!

Let's discuss here about how to achieve this goal. Also, @jywarren please drop/tag diagramming issues or PPTs here.

Should we make a page a HTML page at community-toolbox regarding this or a Readme?

[2019-02-25 13:33] gauravano commented on #4880
@publiclab/community-reps @publiclab/is-reviewers @publiclab/plots2-reviewers @publiclab/connectors @publiclab/guides @publiclab/leaflet-environmental-layers-guides

[2019-02-25 13:36] gauravano commented on #4844
Hey everyone, I have opened a new issue at #4880 for showcasing project dependency chart/flow. Please chime-in whenever you are free.

Also, new check-in open at #4879. Thanks!

[2019-02-25 13:36] #4844 closed

[2019-02-25 13:50] HarshKhandeparkar commented on #4880
How about a README since it will be available in github itself. We can maybe link to the README or somehow display it in the community toolbox.

[2019-02-25 13:55] Yugandhartripathi commented on #4880
I think a HTML page at community-toolbox would be better that way newcomers can get a basic understanding of where and how different projects are used before taking the deep dive.
Regarding the idea of placing it in the Readme, just to be clear we are talking about a central Readme in a particular repo covering all projects or a section for the proposed flowcharts etc in every project's readme?

[2019-02-25 13:58] HarshKhandeparkar commented on #4880
How about (this is a bit complex) getting a picture through a GET request from community toolbox? The same picture can be requested by all README files and also by the toolbox website. The picture can be updated and the concerned README and HTML page will automatically change. How does this sound??

[2019-02-25 14:05] gauravano commented on #4879
Hi everyone!

I have many moments to share :p but let's start with one related to Public Lab only.

It happened while I was starting with the Public Lab (Oct 18, 2017). I was working on an issue and trying many things on localhost. After doing some work on the issue, I tried to post a question on the localhost for trying my changes. The changes didn't work, wanna guess why?

the production website

[2019-02-25 14:10] Yugandhartripathi commented on #4880
@HarshKhandeparkar I don't think a single image can explain relationship for all the projects, we would need more or less a separate image(if we are going the image way) for every project and then to display all those on community toolbox page is more like going with the HTML page approach.

[2019-02-25 14:40] Yugandhartripathi commented on #4879
Hi everyone!

I will share with you all a recent story that happened roughly a month ago,

It was the day I got the invite to publiclab organisation and I was super pumped to contribute more and more but soon after I realised that, I need better understanding of Ruby and Rails so I decided to take a step back and started with the [Ruby on Rails book by Michael Hartl](https://www.railstutorial.org/

[2019-02-25 15:00] Harshithpabbati commented on #4880
My Opinion : It's best to have a html page so that we can display much about it and we can style it as we like.

[2019-02-25 15:12] gauravano commented on #4879
Our efforts and contributions have been appreciated at Texas Barnraising. Thank you @Zengirl2 :blush: :heart: :100:

![tx_barn](https://user-images.githubusercontent.com/20878070/53346411-fe5f7300-393c-11e9-9c83-e158e12c84f4.png)

Tweet here:  https://twitter.com/zengirl2/status/1099475378517745665

[2019-02-25 15:18] ibrahimelbanna commented on #4759
I want to work on this issue @jywarren

[2019-02-25 15:30] HarshKhandeparkar commented on #4880
@Yugandhartripathi we can create separate images for all repos and request them since we are using GET requests

[2019-02-25 17:19] Chrisyee22 commented on #4874
Hi @swiatek7. Yeah I’m working on it at the moment.

[2019-02-25 18:13] IshaGupta18 commented on #4874
Yes, @Chrisyee22 please keep us posted!

[2019-02-25 18:15] IshaGupta18 commented on #4603
Hey, @cesswairimu actually I didn't start with the work deliberately because I was waiting for @jywarren to approve the final design. Right now, I am having some important exams going on in college, so as soon as this idea is approved fully and those exams are finished, I'll start my work on this. I am so sorry for this delay, I didn't intend it.

[2019-02-25 18:22] cesswairimu commented on #4603
No worries @IshaGupta18, all the best in your exams. Thanks

[2019-02-25 19:17] ebarry commented on #4879
Yes thanks for posting leslie's tweet about the coding community!
If you are a Twitter user may I please encourage you  to respond to the
post and say hi and maybe even a "You're Welcome!"

Thanks all

On Mon, Feb 25, 2019, 9:12 AM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-02-25 19:38] Zengirl2 commented on #4879
@gauravano Jeff gave a lightning talk about the success of the Welcome Page and I was like whoa, back up to the slide with everyone's pic so I can tweet. I'm really excited by this because it's really hard to find beginner open-source projects that are welcoming. You all have proven that it works and the searches are getting better and better on the site, as well as all the other improvements. Kee

[2019-02-25 20:19] niravasher commented on #4879
Hey everyone
Its been a month I started contributing to open source. At first I thought it to be very difficult and quite big but soon realized that it is very interesting and lively.
I was going through many organizations at first and after looking at the projects built by them, I got amazed by the technologies people are making. I was just like I couldn't ever think like this before. I love the

[2019-02-26 09:51] Chrisyee22 commented on #4874
It looks like the button is missing the popover syntax. Has there been a change to it since you mentioned it worked before but no longer does?

[2019-02-26 12:16] swiatek7 commented on #4871
Hi @gauravano
Is there any script, that could populate my dev DB?
I can't reproduce this bug on dev, because I don't have any entries that I can search through.

[2019-02-26 12:19] Yugandhartripathi commented on #4871
@swiatek7 there is a NPM package Faker that can be used to populate DB.

[2019-02-26 12:24] swiatek7 commented on #4871
@gauravano
I thought about changing API EndPoint to publiclab.org, but I guess it won't work, since it is not SPA.

[2019-02-26 12:52] gauravano commented on #4879
Hey @Yugandhartripathi, you're always welcome to open new issue regarding installation problem and we also have some hints [here](https://github.com/publiclab/plots2/issues/3840). Thanks!

[2019-02-26 12:57] gauravano commented on #4871
You can populate your DB using `rake db:seed` but as we have `rake db:setup` in our installation instructions - https://github.com/publiclab/plots2#standard-installation so your DB should contain some info. Have you checked console?

[2019-02-26 13:04] gauravano commented on #4880
This dependency chart will show the dependency of PL repo's on one-another so there would be a single page sufficient for showing this. I think an HTML page at community-toolbox will be good as we point new-contributors there only.

[2019-02-26 13:32] swiatek7 commented on #4871
@gauravano sure I did, it provided me with users with I could log in, but it does not provide that many tags in order to reproduce the bug.

[2019-02-26 13:34] swiatek7 commented on #4871
@Yugandhartripathi thanks.
I can see, that npm package Faker is set up with some common data like users and their names,
Can you link it with RoR database schema, so that Faker generate some random data, lorem-ipsum like or so?

[2019-02-26 14:33] cesswairimu commented on #4879
Hey all,

I once reused a poster when writing a blog post on the website without reading its copyrights Liz emailed me and I freaked out thought the owner might sue me or something :smile: changed the image immediately and now I am always cautious when reusing images from the internet

#### Week goals
* Finish consolidating range and stats page
* Figure out a way to have the new graphs expandable

[2019-02-26 15:40] jywarren opened #4882 "Add RSS output for Comments listing"
Our comments list page is here: https://publiclab.org/comments

https://github.com/publiclab/plots2/blob/05dcd2c382a1887275db029eb7c720b3f84392e7/app/controllers/comment_controller.rb#L18

We offer RSS feeds for other types, like notes; let's do this for comments too! We can probably build it into the same controller method as shown above, following this model:

https://github.com/publiclab/plots2

[2019-02-26 19:10] jywarren commented on #3262
Can you upload the latest en.yml? Thank you!!!

I'm not sure here... can you check if zh is traditional or simplified? Whatever is most standard I'm fine with as long as we are aware of the distinction (to my understanding, Taiwan uses traditional and mainland China uses simplified). Thanks!

[2019-02-26 19:27] gauravano commented on #3262
Will do. We just need to upload the file at Transifex and put it in sync with https://github.com/publiclab/plots2/blob/master/config/locales/en.yml .

Here's the list of languages by Transifex - https://www.transifex.com/explore/languages/ . Ah, regarding the difference between language codes for zh vs zh-CN, check here - https://en.wikipedia.org/wiki/Chinese_Wikipedia and https://stackoverflow.co

[2019-02-26 20:59] namangupta01 commented on #2497
As we are going to use sockets for implementing Notification in the project. We can also use this socket technology to provide real-time comment or real-time answer to provide more functionality.

For example, A page on a public lab is opened by me and I am reading comments and answers on that page and in the meanwhile, someone is typing a comment or answer or someone writes a comment or answer th

[2019-02-27 01:02] siaw23 commented on #2712
So I think we need to update the README and fix this as well. I'm getting this too. Following the README verbatim, it's hard to get tests running. Tests fail. And I glanced some parts of the code and realised there's use of raw SQL that's specific to some DBMSs. For example looking [on this line](https://github.com/publiclab/plots2/blob/master/app/models/user.rb#L389) there's `SUBSTRING_INDEX`. Th

[2019-02-27 03:09] Harshithpabbati commented on #2497
I agree with it.

[2019-02-27 03:41] Chrisyee22 commented on #4874
Hi @IshaGupta18. The subscribe + button doesn't show up when running the project locally. Am I missing something or doing something incorrectly?

[2019-02-27 03:44] Chrisyee22 commented on #4882
Hi @jywarren could I work on this?

[2019-02-27 04:30] IshaGupta18 commented on #4874
It should come up, is your fork synced?
here is the button:
![image](https://user-images.githubusercontent.com/40794215/53466086-6fef0c80-3a76-11e9-830c-24a67bdfdea1.png)

[2019-02-27 04:37] HarshKhandeparkar commented on #4880
@gauravano do you think this dependency chart can be made using an image? If yes then we can store the image on the toolbox website and display it on README files in each repo as well(as well as show on the website). What do you think?

[2019-02-27 08:47] Chrisyee22 commented on #4874
I checked my version and it is up to date. I'm not sure why I'm not getting that button. Here's what my screen looks like.
<img width="1181" alt="screen shot public lab" src="https://user-images.githubusercontent.com/24218722/53477230-18767f80-3a29-11e9-8548-d291a8482097.png">

[2019-02-27 09:26] SidharthBansal commented on #2497
Yeah, sockets are  an essential part which we are lacking at pl. As contributors will increase on the pl, the need of sockets increases.
So, how will you be managing the notifications? Will you be creating Notification system too? Like fb has ??

Thanks Naman for suggesting us great idea.

[2019-02-27 09:40] Harshithpabbati commented on #2497
Checkout this I made this using the sockets.A simple chat app.
https://afternoon-lake-15004.herokuapp.com/

[2019-02-27 13:28] Dsxv commented on #4879
Hi everyone ! I ended up showing after a month actually and I am sorry for that T.T. because of exams ( still going on )  , assignments and lot of attendance !
 But well nothing to worry now as all the college work is under control for this sem :D .
I started contributing a month back and @SidharthBansal  and @gauravano  were always there to help me ( I am very grateful for that ) !
I once again l

[2019-02-27 19:13] jywarren commented on #3683
Tried implementing this in #4888!

Also see https://guides.rubyonrails.org/testing.html#implementing-a-system-test

[2019-02-27 19:44] jywarren commented on #3683
System tests will also help us merge `@dependabot` PRs of JS updates! Currently these have to be tested manually:

https://github.com/publiclab/plots2/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+label%3Ajavascript+label%3Adependencies

[2019-02-27 19:57] jywarren commented on #4880
Yes, i think it could be an image!

On Tue, Feb 26, 2019 at 11:37 PM Harsh Khandeparkar <
notifications@github.com> wrote:

[2019-02-27 20:00] jywarren commented on #3262
How is Transifex's default working for zh-CN vs. zh-TW?

On Tue, Feb 26, 2019 at 2:28 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-02-27 20:12] jywarren commented on #4844
Hi, all - just reporting back on the Outreachy topic - we have been accepted to Outreachy! You can read more here and I'll be posting a welcome soon: https://www.outreachy.org/communities/cfp/public-lab/

[2019-02-27 20:21] jywarren commented on #4879
Hi, all!

Love the topic this week. My funniest moment was probably... I was on vacation once, and took a boat trip for a few days. On the first day, I got a cell signal from the shore 📶 ⛵️, and got a bunch of emails downloaded. Suddenly I saw one said "oh no, the website is down, what do we do? Jeff's on vacation!" -- and as I started to type back, i lost signal. 📵 😱 ... but really i was on vacat

[2019-02-27 20:38] namangupta01 commented on #2497
Nice app @Harshithpabbati !!
@SidharthBansal We will not create exactly like FB because it also shows the list of notifications but this also sounds like a good idea. @jywarren what do you think of Sidharth's idea?

[2019-02-27 21:14] SKashyapD commented on #4660
Hey everyone,
I have done my research on given ideas and devised the following plan:
@jywarren, it is definitely a good idea to create a new repository for machine learning based projects, instituting a separate server for data analysis access data via the API.

We can host a Flask server in this way:
1. It will take the screenshot of the image,
2. Feed it to the input of the model,
3. Take the ou

[2019-02-27 21:18] jywarren commented on #2497
Just chiming in on a few items here:

1. `different rooms or channels` - these could be either topics http://publiclab.org/tags or maybe first we start with individual notes? If you follow a topic/tag, would you get notifications for all notes/questions in that topic, and if you follow (or participate in) comments on a note/question, you'd get notifications on that node... make sense?
2. It seems

[2019-02-27 21:18] jywarren commented on #2497
awesome, great to hear on all this!

[2019-02-27 21:20] #4819 closed

[2019-02-27 21:25] jywarren commented on #4730
Hi! Updating here -- i think we could have quite a short file, like

[code]

This way it wouldn't have to be updated as the people change, and wouldn't directly link to the reporting form URL in case that changes.

@AdiyogiV what do you think; could you update your PR accordingly?

Thanks, all!

[2019-02-27 22:10] Chrisyee22 commented on #4874
Ignore that last post. I have the button showing up.

[2019-02-27 22:19] jywarren commented on #4660
Hi! This is a lot of information - thanks for compiling it! I wanted to ask a few things first --

1. With such a complex system, perhaps we should do some diagramming to show what the parts of the system are, and what are the potential ways to fulfill each part -- we could start with a diagram template like the one linked here, that was used to generate the plots2 data model: https://github.com/p

[2019-02-27 22:20] jywarren commented on #4660
Oh, and also, starting a Zooniverse project would be GREAT! @zengirl2 may be interested in this too.

[2019-02-27 22:33] jywarren commented on #4874
awesome!

On Wed, Feb 27, 2019 at 5:10 PM Chrisyee22 <notifications@github.com> wrote:

[2019-02-27 22:48] jywarren commented on #3626
Let's merge back into this:

https://github.com/publiclab/leaflet-environmental-layers/issues/60#issuecomment-460462757

and ref this too: https://github.com/publiclab/leaflet-environmental-layers/issues/123

Thanks!

[2019-02-27 22:48] #3626 closed

[2019-02-27 23:01] jywarren commented on #2712
I think we should hear from other @publiclab/reviewers @publiclab/plots2-reviewers about whether we should consider dropping sqlite - the main reason to keep it is that it can lower barriers to getting the installation running in the first place, since installing mariadb/mysql takes a little while. We have some code which we use to switch between DMBSs, too - we could skip that complexity if we dr

[2019-02-28 00:19] jywarren commented on #4823
no no, i think you have it right and that's solved! Sorry!

Yep!

OK, and sorry about the asynchronous nature of the progress here; i think to be honest it's kind of a necessity because (as i just demonstrated) sometimes I have to be away for some days (we had a big event!) and then have to come back. Thank you for sticking with it, though!! Again, amazing work!

[2019-02-28 02:36] shubhscoder commented on #4823
No problem @jywarren , you have helped me a lot along, Thank you so much!

[2019-02-28 10:35] IgorWilbert opened #4891 "Unable to add name in GSoC's mentors list"
Hi all! I am having a bit of trouble while trying to add my name on the list of potential mentors for GSoC, as can be seen below. The same message shows up whether I am logged in or not. If it happens to be relevant, I don't have anything related to plots2 installed in my computer, just JavaScript projects.
![gif](https://user-images.githubusercontent.com/42987854/53560538-5cea4400-3b2b-11e9-8901-

[2019-02-28 13:09] shubhscoder commented on #4879
Very nice checkin @gauravano ! Congratulations everyone, PublicLabs has again made it to GSOC ! Great achievement. Looking forward for an exciting summer ahead :stuck_out_tongue_closed_eyes:!
This week I would work on #4493 and try to get it merged as soon as possible. Thank you!

[2019-02-28 15:11] sashadev-sky commented on #4879
Hi everyone,

This week I have been working on allowing multiple image selection for the leaflet.DistortableImage library, which will eventually be integrated into mapknitter.

I don't have any funny stories off the top of my head but, for me, every time I start to understand how to use a new library is an awesome moment for me. Just started getting more involved with the Leaflet library this week

[2019-02-28 18:26] stefannibrasil commented on #2712
I understand why you decided to do that, but I don't think that's a good practice. We also had some annoying problems because of that. I am totally for using one and only database for all environments.
What we could is to add docs to help to install mariadb, etc.

[2019-02-28 21:02] SidharthBansal opened #4892 "Summer of Code Call for proposals - Outreachy and GSoC"
We're part of two different summer fellowship programs this year, Outreachy Summer and Google Summer of Code (#GSoC) -- which recruit software contributors to work on open source projects. Read more and post a proposal for comment here:

https://publiclab.org/notes/warren/01-02-2019/brainstorming-for-summer-of-code-2019

A few tips for making awesome proposals:
* Please [submit the proposals at pu

[2019-02-28 21:04] SidharthBansal commented on #4892
:-) welcome one more time!

Also @publiclab/soc folks who've participated before, we'd love to hear from you again, even just to say hi!

[2019-02-28 21:05] SidharthBansal commented on #4892
@publiclab/reviewers @publiclab/is-reviewers @publiclab/plots2-reviewers

[2019-02-28 21:09] SidharthBansal commented on #4892
We are really looking for interactive folks. So, whenever you create your proposal please mention it here so that folks can comment on your proposal and we can have brainstorming sessions.

[2019-02-28 21:22] jywarren commented on #4732
Hi, thanks @IshaGupta18 - merged that one! Reopening for the remainder of this checklist! Thanks!

[2019-02-28 21:31] jywarren opened #4893 "Preserve `return_to` param when switching from /login to /signup"
Related to #4759: Note that when going to:

`https://stable.publiclab.org/subscribe/multiple/tag/arduino,games`, you then get redirected to:

`https://stable.publiclab.org/login?return_to=/subscribe/multiple/tag/arduino,games`

However, if you then click "Sign up" you then just see `https://stable.publiclab.org/signup`. Let's do a follow-up issue to ensure that if you click Sign up, it preserves t

[2019-02-28 21:40] jywarren commented on #4760
Confirming that when i go to `https://stable.publiclab.org/subscribe/multiple/tag/tag1,tag2` and log in with my username and password, I am redirected to:

https://stable.publiclab.org/home?return_to=/login

And see an error message: `You must be logged out to access this page`

[2019-02-28 21:59] jywarren commented on #4892
Hi, all! Thanks so much for posting this @SidharthBansal !

A couple notes: first, we haven't been accepted for RGSoC but will be applying for sure!

Second, I'll be posting a full guide to submitting proposals soon - probably today or tomorrow -- but until then you can use this link to start off on the template, and it'll be listed in the final posting I do:

https://publiclab.org/post?n=899&titl

[2019-02-28 22:24] jywarren commented on #4892
OK, I've posted the official guide to posting proposals -- here you go! And there's a button for posting a proposal on that page:

https://publiclab.org/notes/warren/02-28-2019/call-for-summer-of-code-2019-proposals

[2019-02-28 23:01] jywarren commented on #4882
oh, that'd be awesome! Thank you!!!

On Tue, Feb 26, 2019 at 10:45 PM Chrisyee22 <notifications@github.com>
wrote:

[2019-03-01 00:25] Yugandhartripathi commented on #4871
@swiatek7 sorry for late reply, Yes you can use it with RoR with faker gem. It can populate all kinds of data.

[2019-03-01 11:56] siaw23 opened #4896 "Defaulting to the use of one DBMS"
I've been away from plots2 for a while. Coming back and following the README I found it cumbersome to get up and running quickly because there are traces of a number of database management systems in plots2. This makes it hard to set up and have tests running smoothly.

It'd be nice to have one DBMS for all to avoid the configuration headache encountered through this. I believe this will get new c

[2019-03-01 12:03] SidharthBansal commented on #4893
Hi, I am willing to do it. Just noting whether this behaviour is present for all the routes or specific to the /subscribe/multiple/tag/tag_list?
Whether this error is only present on the stable branch or on all branches?

[2019-03-01 12:49] SidharthBansal commented on #4760
You are referring to ONLY the stable branch?

[2019-03-01 12:51] SidharthBansal commented on #4759
I am really sorry for these behaviours. When I created it in January, these were working fine. I have to check where there is an error. Probably two controller actions are conflicting with each other.

[2019-03-01 12:54] jywarren commented on #245
https://opensource.com/article/19/2/cla-problems

Interesting piece on CLAs.

And, I think the moment has passed for this, for better or worse!

[2019-03-01 12:54] #245 closed

[2019-03-01 12:56] jywarren commented on #4760
No, production too, but I linked there as a place to test it out. Thanks!

On Fri, Mar 1, 2019, 7:49 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-01 12:57] SidharthBansal opened #4898 "Return_to anomaly"
![image](https://user-images.githubusercontent.com/20972099/53639538-84d2c800-3c4f-11e9-8242-ff59860045f4.png)
Can you see the url and the link to join to even though the user is logged in?
Rails is working as it should but from users point of view there is an error.

[2019-03-01 13:01] SidharthBansal commented on #4879
Congratulations everyone, PublicLabs has again made it to GSOC !

[2019-03-01 13:04] SidharthBansal commented on #4760
Thanks for the quick response. I am looking into it.

On Fri, Mar 1, 2019 at 6:26 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-01 13:09] gauravano commented on #4898
Hey @SidharthBansal, isn't this issue same as #4893?

[2019-03-01 13:10] gauravano commented on #4891
Hey @IgorWilbert, have you started working on solving this issue or you want others to try?  Thanks for opening the issue.

[2019-03-01 13:12] SidharthBansal commented on #4898
No. I don't think so.

On Fri, Mar 1, 2019, 6:39 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-01 13:14] gauravano commented on #4892
@SidharthBansal I have removed the RGSoC mention from the issue body too for now, just to ensure no contributor get confused. We can add that after officially hearing about our participation.

[2019-03-01 13:16] jywarren commented on #4893
Hi! All branches and I'm not sure but I would imagine all routes? Thanks!!

On Fri, Mar 1, 2019, 7:04 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-01 13:17] gauravano commented on #4898
Oops, I got confused.

[2019-03-01 14:52] jywarren commented on #4722
Hi, I'm going to open this one more time, sorry @sagarpreet-chadha ! I still am seeing some errors here:

https://publiclab.org/wiki/inline-maps

[code]

Could you take a look? Thank you!

[2019-03-01 14:55] jywarren commented on #3683
If we get this to work, we should test our inline maps using it, because they're turning out to be a bit fragile! https://publiclab.org/wiki/inline-maps

[2019-03-01 15:28] jywarren commented on #4896
thanks everyone for the great input here! One last thing before we make a
final decision - does someone want to ask in the next weekly Check-In what
databases people use? Especially first-timers? It'd be great to have extra
confirmation - do most newcomers use mysql or sqlite?

On Fri, Mar 1, 2019 at 6:57 AM Emmanuel Hayford <notifications@github.com>
wrote:

[2019-03-01 15:47] gauravano commented on #4896
Nice idea @jywarren.  Also, many contributors faced issues while getting started with Mapknitter due to MySQL  - https://github.com/publiclab/mapknitter/issues/307.

How about a poll? @siaw23 @jywarren

[2019-03-01 15:47] IgorWilbert commented on #4891
Hi @gauravano ! I would like others to try it, since currently I haven't plots2 installed. Sorry for not saying it right away.

[2019-03-01 15:54] jywarren commented on #4896
+1!

On Fri, Mar 1, 2019 at 10:48 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-01 15:55] SidharthBansal opened #4899 "Mailers for login project at MK"
Copying from https://github.com/publiclab/mapknitter/issues/366
I think we need to notify the user through email about access grant of MK from plots2. This all companies do. Whenever I first authorize any application through facebook, then facebook messages me about the authorization.
@jywarren should we make them?
Feel free to close this issue if you think we don't need it.

[2019-03-01 15:57] jywarren commented on #4759
no problem! I think there's an issue where it actually ignores your
`return_to` but shows it to you in the alert offering to "pick back up
where you were" in a link. I understand this because we want to show people
the welcome message. But we should try to intercept subscriptions to make
sure they still happen automatically even though you are rerouted to the
dashboard for the welcome message.

On

[2019-03-01 16:04] jywarren commented on #4899
Let's hold off for a moment -- if we decide to automate approval of OpenID
from MapKnitter to PL.org, we could skip it.

On Fri, Mar 1, 2019 at 10:56 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-01 16:07] SidharthBansal commented on #4899
I think we should give one email to the user. Consider someones logs in MK through someone else account. This should be notified.
Hence there should also be capability to delink applications from plots2.

[2019-03-01 16:14] jywarren commented on #4899
If we whitelist only MK, SpectralWorkbench, and MapMill, the risk is very
low. let's think on this a bit before making a decision!

On Fri, Mar 1, 2019 at 11:08 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-01 16:24] SidharthBansal commented on #4899
Yeah risks are too low for the corner cases which pop up in my mind. Haha

[2019-03-01 16:31] siaw23 commented on #4896
Personally I find it unnecessary to create a poll. We use MySQL in production, so, if people vote SQLite, are we are going to switch from MySQL to SQLite? Or are we still going to keep SQLite and MySQL (still multiple DB problems here if people want SQLite).

IMHO we should use the DB that we have in production locally for development (installing MySQL/MariaDB is fairly easy and there are lots of

[2019-03-01 16:35] gauravano commented on #4891
No issue :+1:

[2019-03-01 17:48] jywarren commented on #4896
I think we could ask just to know especially who we'd be asking to switch
over - and actually we could point them at your PR readme additions and ask
them to try going through the steps to see if there are any common
pitfalls? Mainly we just don't know currently if there are people using
sqlite, or if perhaps almost everyone uses mysql and we shouldn't be
worrying about it. Thanks!

On Fri, Mar 1,

[2019-03-01 18:03] siaw23 commented on #4896
OK. Sounds good then.

[2019-03-01 18:21] jywarren commented on #4891
Oh, i see a "lock" icon on the wiki page - i believe that due to wiki spam, we started blocking wiki edits until people have made... i can't remember if it's one comment or one post. So that is now blocking the inline input prompts! Great catch.

We could... exempt the inline prompts from that restriction, and that's probably a good idea - -the route is https://publiclab.org/wiki/replace/<node_id>

[2019-03-01 18:22] jywarren commented on #4891
So, in summary, 2 potential overlapping issues - the worst kind of bug!

[2019-03-01 20:23] gauravano opened #4900 "Error at Transifex new upload"
I tried uploading the new file file to Transifex but it gave me error

![transifex_error](https://user-images.githubusercontent.com/20878070/53664122-ae124900-3c8d-11e9-9adf-5c4acfed14ec.png)

After inspecting, I came to know that error is due to  this section of code -

https://github.com/publiclab/plots2/blob/master/config/locales/en.yml#L913-L925

Solving it right away by putting codes in-place

[2019-03-01 23:23] milaaraujo commented on #4896
I think the poll is a good idea! But I agree 100% with @siaw23 that we should use the DB that we have in production locally for development. :)

[2019-03-02 11:41] RizwanSyed357 commented on #4844
Great to hear @jywarren , looking forward to making contributions as an Outreachy applicant

[2019-03-02 12:32] Rishabh570 commented on #4892
Hi @SidharthBansal, I've created a [draft](https://publiclab.org/notes/icode365/03-02-2019/soc-proposal?_=1551529669) regarding my GSOC proposal but the things I'll work on are not finalized & approved yet, that's why I've left some sections blank for now. Can you please take a look?
Thanks!!!

[2019-03-02 12:42] SidharthBansal commented on #4844
Thanks @RizwanSyed357

[2019-03-02 12:51] SidharthBansal commented on #4892
@jywarren may i know the project for the outreachy application? Outreachy website does not list the project idea.

[2019-03-02 13:23] sashadev-sky commented on #2712
@jywarren I also think if this is an issue various users are experiencing it would make sense to have everyone use mysql and instead open up more detailed instructions on setting that up. I don't think contributors will have to worry about installing mariadb unless they are working with the production database directly. But maybe this is one of those topics it would be useful to poll everyone on t

[2019-03-02 13:30] sashadev-sky commented on #4879
@gauravano do you think it would be helpful to delete the people that are mentioned in the list of people who have opened a check in already? to make room for new people added?

[2019-03-02 13:30] sashadev-sky commented on #4879
Also who would like to open next weeks check-in! 🚀

[2019-03-02 13:32] uzorjchibuzor commented on #4879
I can open checkin. What do I need to do?

[2019-03-02 18:31] gauravano commented on #4879
Yes, let's clear it in the next check-in. Thanks @sashadev-sky!

[2019-03-02 18:33] gauravano commented on #4879
Hey @uzorjchibuzor thanks for volunteering. You have to open new community check-in by Monday evening. You can refer this doc - https://github.com/publiclab/plots2/blob/master/doc/CHECKINS.md for help. If you have any questions, feel free to ask here. Thanks!

[2019-03-02 21:41] siaw23 opened #4903 "Tracking errors in production"
As far as I can see we don't have any means to track errors on production. Some users will report errors here, most won't but we can automate these reports. I think error tracking is necessary. What do you guys think?

I'd like to suggest [Rollbar](https://rollbar.com/). They have a free plan that we can use.

So from time to time we'd look in Rollbar and fix any error that occurs in production.

[2019-03-03 19:49] SidharthBansal opened #4905 "Inconcistency in the number of comments at research notes"
![image](https://user-images.githubusercontent.com/20972099/53700736-8a7d0900-3e1b-11e9-93f2-9c4a514547bf.png)

[2019-03-03 19:50] SidharthBansal commented on #4905
Refer https://publiclab.org/notes/er_jkshah/02-28-2019/global-warming-and-greenhouse-effect#comments

[2019-03-04 00:33] skilfullycurled commented on #1853
Hey friends.

This might (might not) still be an issue.

I was logged in to the PL website with Firefox 65 (macOS) and when I tried to logout I was redirected and still logged in.  So then I tried to log out of all devices and was redirected to an error page: https://publiclab.org/logoutRemotely (There was an error. Are you sure you have the right address?)

That's when I realized that I had also

[2019-03-04 02:48] sashadev-sky commented on #4879
@gauravano I had a minute so I cleared it now. @uzorjchibuzor please take note to open the next check in based on the updated list of mentions (just updated a minute ago). Thank you!

[2019-03-04 04:40] Souravirus commented on #4849
Hi everyone,
If the unstable build is failing due to this error: `Sprockets::FileNotFound: couldn't find file 'bootstrap-3-typeahead/bootstrap3-typeahead.min.js' with type 'application/javascript'`. Then you can remove this asset from app/assets/javascript/application.js. This fix is working for now.

[2019-03-04 08:35] milaaraujo commented on #4561
Something like this?
[code]

[2019-03-04 14:24] SidharthBansal commented on #4109
![image](https://user-images.githubusercontent.com/20972099/53739214-37f12a80-3eb7-11e9-9073-e7ab70c12007.png)
![image](https://user-images.githubusercontent.com/20972099/53739217-3d4e7500-3eb7-11e9-867c-5f2aa0164f7e.png)

There is no embedded links in the mail.

[2019-03-04 16:16] jywarren commented on #4849
Hi, thanks Sourav - is there any change required for the master branch, to
resolve this for everyone? Or is it required to run some step on unstable
like `yarn install` or something to make this go away? Thanks!

On Sun, Mar 3, 2019 at 11:40 PM Sourav Sahoo <notifications@github.com>
wrote:

[2019-03-04 16:45] jywarren commented on #4905
oh hmm, do you think it's counting spam comments?

On Sun, Mar 3, 2019 at 2:51 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-04 16:58] #4900 closed

[2019-03-04 16:59] sweezy793 commented on #4820
Is this issue still open ?

[2019-03-04 17:09] gauravano opened #4907 "Inspect Logout flow"
Issue on basis of https://github.com/publiclab/plots2/issues/1853#issuecomment-469082995

Inspect whether log out of the publiclab.org is working in the desired manner in all cases. Feel free to attach the relevant screenshots if you find anything suspicious.

Thanks!

[2019-03-04 17:10] gauravano commented on #1853
Hey @skilfullycurled, thanks for bringing the case to notice. We have been through many changes in our authentication flow in last year and that may have resurfaced this error or any other like this.

I have opened an issue - https://github.com/publiclab/plots2/issues/4907 just to be sure, that we are on track.

[2019-03-04 17:37] jywarren commented on #4880
I guess we could put it in a number of places, but let's start compiling it roughly:

* `plots2`
    * `PublicLab.Editor`
    * `inline-markdown-editor`
        * `PublicLab.Editor`
    * `Leaflet.BlurredLocation`
        * `blurred-location`
    * `leaflet-blurred-location-display`
        * `blurred-location`
    * `leaflet-environmental-layers`
* `image-sequencer`
* `mapknitter`
    * `leaflet-

[2019-03-04 17:56] SidharthBansal commented on #4892
There are some people who can apply in both of the programs like @IshaGupta18
You all can read https://www.outreachy.org/apply/gsoc/ and decide whichever fellowship you are going to get enrolled in.
Thanks

[2019-03-04 18:08] gauravano commented on #4820
Yes, it's available to claim.

[2019-03-04 18:16] skilfullycurled commented on #1853
Cool.  Although on your end it might be indicative of something important, just wanted to say that on my end, in the many many years I've been using the site, this is the first time I've ever used two browsers at the same time so it's not particularly bothersome.  Sadly, the two browsers were open because I wanted to check if a different bug was browser related or not. Stay tuned on that.  : /

[2019-03-04 18:57] skilfullycurled opened #4908 "Multiple Issues With Text Editor in Firefox 65 vs. Chrome 72.0"
Hi,

I've been experiencing a number of problems with the text editor.  Not sure if I should have split them up so apologies on that.  I've attached comparison images for every issue except issue #2.

The first two issues take place in Firefox 65 but not in Chrome 72.0 (macOS 10.12.6):

1) The last four buttons on the rich text editor are not functional in Firefox 65.  They can't be pressed, and t

[2019-03-04 20:33] manansingh96 commented on #4820
I want to claim it. I have the fix. Can create PR instantly.

[2019-03-04 20:39] jywarren commented on #4820
Please go ahead!

On Mon, Mar 4, 2019 at 3:34 PM Manan Singh <notifications@github.com> wrote:

[2019-03-04 20:41] manansingh96 commented on #4820
@jywarren Created the PR. #4912

[2019-03-04 20:41] jywarren commented on #4908
thanks for the great documentation on this and for reporting the issues!

On Mon, Mar 4, 2019 at 1:58 PM skilfullycurled <notifications@github.com>
wrote:

[2019-03-04 20:44] skilfullycurled commented on #4908
Np @jywarren.  N. P.

[2019-03-04 20:45] skilfullycurled commented on #4908
Updated so that "hash numeral 2" does not link to issue number two.

[2019-03-05 09:07] manansingh96 commented on #4908
Fix for Issue 1 has to be done in PublicLab.Editor. I have done it and created a PR [here](https://github.com/publiclab/PublicLab.Editor/pull/301).

[2019-03-05 09:14] SidharthBansal commented on #4899
As per Jeff's suggestion in mk 301 issue, we will be automating the process. Hence we will not require mails.

[2019-03-05 09:14] #4899 closed

[2019-03-05 09:25] SidharthBansal opened #4914 "Automate OpenId Request by whitelisting PL apps"
As per @jywarren s suggestion in 301 of MK issue we need to automate the process of authentication at MK by eliminating the gateway page. As MK is white listed users can always give permission to the app.
I was inspecting code of MK, and found that https://github.com/publiclab/mapknitter/issues/368 needs to be solved at plots2 repo instead of MK repository.

[2019-03-05 10:18] gauravano commented on #4908
Actually, we can transfer this issue to Publiclab.editor and solve all these issues in parts. @jywarren can you please transfer this issue to editor?

I think @rexagod @IgorWilbert can help with issues 4 and 5.

Thanks @skilfullycurled for such detailed issue :100:

[2019-03-05 10:20] manansingh96 commented on #4908
@gauravano Yes. And I have found some more issues. I will create a post soon.

[2019-03-05 10:32] gauravano commented on #4908
Great @manansingh96! your post is welcome. Thanks!

[2019-03-05 11:01] #4820 closed

[2019-03-05 11:30] gauravano opened #4915 "Improve the alert message"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-05 11:34] gauravano commented on #3366
#3489 doesn't solve the issue both parts and there's still more work required so I've opened a FTO at #4915

[2019-03-05 13:36] gauravano commented on #4879
Hey @uzorjchibuzor, you haven't opened any Check-In as I can see in issues. Are you still interested?

[2019-03-05 13:40] Harshithpabbati commented on #4879
@uzorjchibuzor if you aren't interested in it.Then i like to take it up 😁

[2019-03-05 15:45] jywarren commented on #4896
Just noting that @stefannibrasil and @sashadev-sky have also both voiced support for dropping sqlite -- here! https://github.com/publiclab/plots2/issues/2712#issuecomment-468382671

[2019-03-05 15:46] jywarren commented on #2712
Note discussion here #4896 !

[2019-03-05 15:47] jywarren commented on #2712
And @jucavi - it's looking like installing mysql instead of sqlite may resolve this for you -- do you think you can follow some of the instructions here? https://github.com/publiclab/plots2/pull/4897

[2019-03-05 15:51] jywarren commented on #4896
I saw a poll app was installed by someone and approved it. @SidharthBansal any thoughts to add here? @cesswairimu ?

[2019-03-05 15:59] sashadev-sky commented on #4879
@gauravano I totally misaccounted how the mentions work! Removing our names from the first list is not useful.. now we will not be mentioned. Reverting that back asap.

@Harshithpabbati open it tonight if @uzorjchibuzor doesn't? I think maybe he could be experiencing wifi connectivity issues.

[2019-03-05 15:59] sashadev-sky commented on #4879
@gauravano I totally misaccounted how the mentions work! Removing our names from the first list is not useful.. now we will not be mentioned. Reverting that back asap.

@Harshithpabbati open it tonight if @uzorjchibuzor doesn't? I think maybe he could be experiencing wifi connectivity issues.

[2019-03-05 15:59] sashadev-sky commented on #4879
@gauravano I totally misaccounted how the mentions work! Removing our names from the first list is not useful.. now we will not be mentioned. Reverting that back asap.

@Harshithpabbati open it tonight if @uzorjchibuzor doesn't? I think maybe he could be experiencing wifi connectivity issues.

[2019-03-05 16:06] sashadev-sky commented on #4879
@gauravano @Harshithpabbati ok good to go. New plan: I think we can just put the names that don't highlight in a separate comment like @gauravano did here.

[2019-03-05 16:12] gauravano commented on #4879
I think we would be notified in the new issue. If we don't get notified, I will add our names back. How does this sound?

[2019-03-05 16:17] sashadev-sky commented on #4879
@gauravano I already put it back! I'm not sure we would though... maybe remove just your own name and test it out?

[2019-03-05 16:19] cesswairimu commented on #2712
I also use sqlite3 and get the same errors so I have a count of the failures and errors in master and if I make changes I  compare if the count is the same as that on master and resolve the new errors..quite tiring. Will try and install mysql thanks

[2019-03-05 16:31] #4565 closed

[2019-03-05 16:32] siaw23 commented on #2712
@cesswairimu yeah it's tiring not to mention how much time-consuming it is! I agree with you! I wish

[2019-03-05 16:32] #4874 closed

[2019-03-05 16:38] siaw23 commented on #4896
@jywarren where's the poll? I did recommend for a poll app to be installed but didn't do the actual installation. Can you please create the poll for us Jeff?

[2019-03-05 16:39] siaw23 commented on #4903
@publiclab/reviewers @jywarren I think this is a good idea what do you think?

[2019-03-05 16:49] jywarren commented on #4896
oh -- ok can you link me to the poll app? Sorry...

On Tue, Mar 5, 2019 at 11:40 AM Emmanuel Hayford <notifications@github.com>
wrote:

[2019-03-05 16:52] cesswairimu commented on #2068
Hello @ebarry , did you get a chance to look at the new graphs? If so kindly update on changes you would like to be made. Also I was testing the new graphs on mobile earlier today this is how they look.
![screenshot_2019-03-05-19-28-31-898_com android chrome](https://user-images.githubusercontent.com/17081074/53822099-2162d600-3f80-11e9-8d40-15e049b12521.png)

Thanks

[2019-03-05 16:53] #4141 closed

[2019-03-05 16:53] #4577 closed

[2019-03-05 17:01] cesswairimu commented on #4765
Implemented the new contribution graph method on #4887

[2019-03-05 17:01] #4765 closed

[2019-03-05 17:15] niravasher commented on #4879
Hello, good evening from Mumbai

[2019-03-05 17:20] cesswairimu opened #4916 "Refining /stats preset ranges routes"
### Where to look

https://github.com/publiclab/plots2/blob/master/app/views/stats/index.html.erb#L16-L19
Right now on selecting an option the url is `/stats?options=` which is defined in this line https://github.com/publiclab/plots2/blob/master/app/controllers/stats_controller.rb#L12

### Change to be made
On post the url should be `/stats?start=&end=`

[2019-03-05 17:47] deepesh-ludhyani commented on #4915
Hello, I'd like to work on this issue.

[2019-03-05 17:54] gauravano commented on #4879
Good evening Nirav!

[2019-03-05 17:57] Harshithpabbati opened #4917 "Weekly Community Check-In #12 - "Be a reviewer!""
Hi everyone!!!

We all at Public Lab  :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and about

[2019-03-05 17:58] siaw23 commented on #4896
https://github.com/apps/polls @jywarren

[2019-03-05 17:59] Harshithpabbati commented on #4879
Hello
I opened a new check-in https://github.com/publiclab/plots2/issues/4917 . Thanks!!

[2019-03-05 17:59] #4879 closed

[2019-03-05 18:05] ebarry commented on #4917
Last week on the survey ! (it's been open since Jan 14 and we designed it to be open for two months)

[2019-03-05 18:16] shubhscoder commented on #4903
@siaw23 , how about sentry?

[2019-03-05 18:18] shubhscoder commented on #4903
We can actually apply for a free account on sentry!

[2019-03-05 18:18] Harshithpabbati commented on #4917
There was a discussion and they said me open it. in #4879

[2019-03-05 18:25] siaw23 commented on #4903
Sentry is actually a better option IMO. I checked and didn't find anything free or how many reports they'll give for free so if we can apply for a free account then great! I like Sentry. Good choice @shubhscoder

[2019-03-05 18:27] shubhscoder commented on #4903
Thank you @siaw23. We can apply for a free account here https://sentry.io/for/open-source/ . I think @jywarren will have to signup on the behalf of public labs. Thank you!

[2019-03-05 18:39] gauravano commented on #4917
Nice theme @Harshithpabbati :sweat_smile: .Everyone, please make sure that your meme is not hurtful to anyone https://publiclab.org/conduct.

Hmm, my name is not tagged because the limit is reached before that, so yes, removing duplicate names isn't helpful. Let's continue with mentioning names in comments only.
@sashadev-sky

[2019-03-05 18:41] gauravano commented on #4915
Hey @deepesh-ludhyani, go ahead :+1:

[2019-03-05 18:45] gauravano commented on #4879
Thanks @Harshithpabbati

[2019-03-05 18:46] gauravano commented on #4917
@dhruvgupta167 @aashna27 @Harshithpabbati @marieram @swiatek7 @kaunair @alaxalves @manansingh96 @Chrisyee22 @Aneal-Sharma

(mention limit exceeded in the above comment so mentioning separately)

[2019-03-05 18:53] HarshKhandeparkar commented on #4917
I found some Linux vs Mac vs Windows memes I thought the devs might like. Hope these don't hurt anybody.

![windows_vs_mac_vs_linux_2](https://user-images.githubusercontent.com/34770591/53829396-0d31cf80-3fa6-11e9-9e91-ef4614c1f819.jpeg)

![windows_vs_mac_vs_linux_3](https://user-images.githubusercontent.com/34770591/53829408-158a0a80-3fa6-11e9-9c7d-7be34114b444.jpg)

[2019-03-05 19:41] sashadev-sky commented on #4896
@jywarren @siaw23 I think you might find that a lot of contributors have worked with sqlite and if they have worked with another DBMS with similar setup configurations as mysql, such as Postgres, that should be taken into consideration in the poll too. If you can set one up, conceptually the setup for the other one will make sense. (This was my own experience).

Also, it would be good to create so

[2019-03-05 19:46] cesswairimu commented on #4540
@jywarren please take  look at this :point_up: when you get a minute. Thanks

[2019-03-05 19:50] alaxalves commented on #4917
Hello PublicLab team. Let's work!! :muscle: :muscle: :muscle:

[2019-03-05 19:51] cesswairimu commented on #4917
Hello all :wave:,
### Week goals
* Do follow-ups on the tag graphs with @ebarry  and implement any requests
* Implement weekly caching of data on the site
* Do a close mirroring between stats pages and tag pages
* Look into gci-pending issues sort them/ rebase ones which are ready

Great week ahead.

[2019-03-05 20:14] jywarren commented on #4896
Testing out here --

Hi all, we're curious what database do you use with `plots2`? We're discussing in https://github.com/publiclab/plots2/issues/4896 whether to continue supporting sqlite or not -- and want to know how many people currently use different database types!

/polls MySQL MariaDB SQLite Other

[2019-03-05 20:16] jywarren commented on #4896
/polls MySQL MariaDB SQLite Other

[2019-03-05 20:17] jywarren commented on #4896
Oh, maybe it has to be the first item in the repository?

[2019-03-05 20:18] jywarren opened #4919 "What database do you use with plots2? (poll)"
Hi all, we're curious what database do you use with plots2? We're discussing in #4896 whether to continue supporting sqlite or not -- and want to know how many people currently use different database types!

/polls MySQL MariaDB SQLite Other

Re: #4917

[2019-03-05 20:18] jywarren commented on #4896
Aha - ok, here it is: https://github.com/publiclab/plots2/issues/4919

[2019-03-05 20:21] namangupta01 commented on #4919
On local-machine or in development,  I prefer to use SQLite because it is very easy to set up, drop etc. So my vote goes to SQLite.

[2019-03-05 20:31] jywarren commented on #4917
Hi all - we're doing a small poll -- we're curious what database do you use with `plots2`? We're discussing in #4896 whether to continue supporting `sqlite` or not -- and want to know how many people currently use different database types!

Please check it out and vote by clicking on the bar graphs: https://github.com/publiclab/plots2/issues/4919

[2019-03-05 21:03] sashadev-sky commented on #4917
@Harshithpabbati great check-in topic! @gauravano just taught me how to pull someone else's PR locally a few weeks ago. So useful!!

This week I am continuing to work on mapknitter updates. I would love some help from a **macOS user** with PR [https://github.com/publiclab/mapknitter/pull/355](https://github.com/publiclab/mapknitter/pull/355). I wrote some instructions to install mysql (`MYSQL.md`

[2019-03-05 21:26] gauravano opened #4920 "Improvement in FTO process"
Hi everyone!

There are some concerns regarding `first-timer-only` issues:
1. Backlog of incomplete FTOs (both because ppl may be discouraged, and because it shows a lot of issues piling up on code.publiclab.org that aren't actually still available) -- via @jywarren
2. New contributors can't mention reviewer teams and sometimes this leads to delay
3. New contributors claim issues but don't work on

[2019-03-05 21:30] jywarren commented on #4540
I think you've done a great deal of it already - perhaps we might think about showing a link on the tag stats pages that says `< see statistics for all content` leading back to the main stats page?

[2019-03-05 21:30] jywarren commented on #4540
And that should do it!

[2019-03-05 21:54] jywarren commented on #4603
This is super nice! I think we can implement this in pieces. We could start with a static design just listing all tags and the number of subscribers in the right-hand list, and later work on the interactive parts! How does that sound, to break it into smaller pieces to do one by one?

Hope your exams are going well Isha!

[2019-03-05 21:57] jywarren commented on #3498
@cesswairimu i am also wondering if we could open an issue to display the # of subscribers over time on tag stats pages like this: https://publiclab.org/tag/ui/stats

And finally, add a title to the tag stats pages like "Statistics for the tag ______".

These don't have to be done by you @cesswairimu unless you want to! Just thinking next steps! 🎉

[2019-03-05 21:57] jywarren commented on #3498
And, i'll be publishing to production in a moment so you can see this all running 😄

[2019-03-05 22:41] #2671 closed

[2019-03-05 23:00] alaxalves commented on #4917
@all I'm currently working on https://github.com/publiclab/mapknitter/pull/363, just got stuck trying to PreCompile mapknitter assets. If anyone can help would be gr8. :crying_cat_face:

[2019-03-05 23:36] jywarren opened #4922 "Planning implementation of new UI designs (work in progress!)"
(this issue is not ready yet, as we're still finalizing UI design work!)

Coming out of a range of UI analysis and design projects from the past 6 months, Public Lab is now ready to begin implementing new designs across major pages of our PublicLab.org collaborative platform. This project will build on the Bootstrap 4 UI library and our upcoming Style Guide to implement new HTML templates within t

[2019-03-05 23:58] jywarren commented on #4922
Very tentatively starting to create a checklist:

This project includes a variety of tasks, many of which are simpler, making them a good place to get started. These include simpler pages like the People page, the Tags/Topics page, and parts of other pages. These will help you get oriented before taking on a larger project.

We would be happy with any subset of these tasks being completed, and if

[2019-03-06 00:50] jywarren commented on #4585
Our call for outreachy mentors is live!

https://www.outreachy.org/may-2019-august-2019-outreachy-internships/communities/public-lab/publiclaborg-ui-improvements/cfp/

[2019-03-06 01:57] icarito commented on #4903
I've been looking for a solution like this for a while.
I'm happy to go with whichever you find more useful, my preference being something we could conceivably self host in the future (with a libre license). Once we've signed up I can look at deploying it!

[2019-03-06 03:49] sashadev-sky commented on #4917
@alaxalves what are you stuck on specifically?

[2019-03-06 04:05] sashadev-sky commented on #4896
@jywarren I added a quick note about it under the check-in description towards the top so hopefully we'll get some more input. Can you see who is voting or is the poll anonymous?

[2019-03-06 04:11] sashadev-sky commented on #4919
@namangupta01 do you have mysql installed on your system as well and just choose to use sqlite? I was wondering if you'd be able to to try and see if you receive this error in plots2: https://github.com/publiclab/plots2/issues/2712#issuecomment-468382671

[2019-03-06 04:22] sashadev-sky commented on #4896
also if this issue becomes high priority and we're not sure how to move forward still I can work with @siaw23 (if you have the time too!) to try and make a complete report pinpointing causes of the issue, possible ways to fix it without getting rid of one DBMS, pros and cons, recommendations, etc.

[2019-03-06 05:33] SidharthBansal commented on #4585
Will love to mentor again. Filled the application.
Thanks

On Wed, Mar 6, 2019, 6:20 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-06 05:36] SidharthBansal commented on #4920
I agree with one week suggestion. Thanks

On Wed, Mar 6, 2019, 2:56 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-06 06:56] icarito opened #4924 "DB Migration chokes deployment"
This migration appears stuck in production deployment process:
[code]

[2019-03-06 06:56] icarito commented on #4924
My impression is that joining Users and Node is heavy...

[2019-03-06 07:18] HarshKhandeparkar commented on #4917
@gauravano @publiclab/reviewers I have never done a community check-in before so I want to try doing this once. I will be busy this month(I might do it sometime next month). Where can I find the guidelines and list of contributors to mention? Thanks!

[2019-03-06 07:32] cesswairimu commented on #3498
Yeah I would love to Opening an issue. Thanks

[2019-03-06 07:35] cesswairimu opened #4925 "Subscribers over time"
Display the # of subscribers over time on tag stats pages like this: https://publiclab.org/tag/ui/stats

[2019-03-06 09:49] ananyaarun commented on #4681
@rexagod @gauravano Can i work on this ? I am a newcomer and looks like the previous two PR's are closed for this issue at the moment :)

[2019-03-06 09:58] sashadev-sky commented on #4920
me too!

[2019-03-06 10:55] ananyaarun commented on #3895
@InPen Are u still working on this issue ? Else can i take it up @jywarren . Thanks :)

[2019-03-06 11:02] SKashyapD commented on #4660
thanks @jywarren for great inputs and making things more clearer and interesting.
1. Yes it is little complex and i will try to breakdown things in simpler way and i started working on this I will try to complete it as soon as possible.
2. for now we can able to do Semantic segmentation part which can help model to predict tags like ROAD, BUILDING, WATER, TREES, VEGETATION because there is data av

[2019-03-06 11:44] alaxalves commented on #4917
@sashadev-sky Basically, I'm trying to make `rake assets:precompile` to work. I feel like there has been a lot of dependencies version mismatch that is causing this.

[2019-03-06 11:50] SKashyapD commented on #4660
Zooniverse sounds great! I guess you should create a team first and add me (and @zengirl2 or anyone else who is interested too) and I could then flesh out the rest of the project.

Hope this sounds good?

[2019-03-06 11:58] Ivilili commented on #3534
Hi, my name is Ivana and I'm Outreachy participant. Can I work on this issue?

[2019-03-06 12:23] gauravano commented on #3534
Hi @Ivilili, welcome to Public Lab. Go ahead with the issue :+1:

[2019-03-06 12:25] gauravano commented on #3895
Hi @ananyaarun, go ahead with the issue. Thanks!

[2019-03-06 12:27] gauravano commented on #4681
Hey @ananyaarun, you can work on it. Let's just confirm with @Chrisyee22 once, as their PR https://github.com/publiclab/plots2/pull/4700 is closed just a week ago. Thanks!

[2019-03-06 12:43] alaxalves commented on #4892
Hello to the entire PublicLab team, I'm Álax Alves, a student from Brazil, I have just took notice of Public Lab through GSoC 2019 program. I have recently started to contribute with Public Lab's Mapknitter (https://github.com/publiclab/mapknitter/pull/363). I have great interest in working on the Mapknitter Rails upgrade, since I have experience in those types of migrations (https://gitlab.com/no

[2019-03-06 12:53] siddhishree commented on #4688
Can I work on this issue if no one is currently working on this? @suhailsinghbains @avsingh999

[2019-03-06 13:08] siddhishree commented on #4690
@IshaGupta18 Can I work on this Issue with you?

[2019-03-06 13:08] Harshithpabbati commented on #4585
Hello I am Harshith Pabbati.
I would like to be a mentor with public lab for GSoC.

My completed requirements:
https://github.com/publiclab/image-sequencer/pull/782
https://github.com/publiclab/image-sequencer/pull/776
https://github.com/publiclab/image-sequencer/issues/810

Thank you!

[2019-03-06 13:23] NidhiKJha commented on #4189
Hi, I'm an outreachy aspirant, can I work on this issue?

[2019-03-06 13:26] Harshithpabbati commented on #4189
Yeah continue with it :)

[2019-03-06 13:41] gauravano commented on #4688
hey @siddhishree, go ahead :+1:

[2019-03-06 13:42] swiatek7 commented on #4871
Quick update;
I managed to reproduce this bug and I am working on it currently.
I am planning to finish it till Friday.

[2019-03-06 13:45] The-lady-developer commented on #4504
Hi @gauravano! Can I work on this issue?

[2019-03-06 13:48] gauravano commented on #4917
Hey @HarshKhandeparkar, you are absolutely eligible and welcome to open the check-In. Just raise your :raising_hand_man: when you're free.

You can find guidelines here https://github.com/publiclab/plots2/blob/master/doc/CHECKINS.md and regarding list of contributors, I myself take names from https://code.publiclab.org and new names I come across from issues/PRs/chatroom.

Thanks!

[2019-03-06 13:51] gauravano commented on #4504
Hi @The-lady-developer, let's just confirm once from @Chrisyee22 as they have closed their PR- https://github.com/publiclab/plots2/pull/4636 just a week ago.

Thanks!

[2019-03-06 13:52] gauravano commented on #4871
Great!

[2019-03-06 13:52] HarshKhandeparkar commented on #4917
Thanks a lot! One question I wanted to ask is why do we mention only some
people? Can't we just mention `@publiclab` to mention all people?

On Wed 6 Mar, 2019, 7:18 PM Gaurav Sachdeva, <notifications@github.com>
wrote:

[2019-03-06 13:57] gauravano commented on #4917
Are you sure that @publiclab will notify all the members? @HarshKhandeparkar

[2019-03-06 14:20] uimarshall commented on #4915
Hi. i will like to work on this issue

[2019-03-06 14:25] uimarshall commented on #4189
Hi, i am in the current outreachy program, can i work on this issue, if it is not claimed yet?

[2019-03-06 14:40] HarshKhandeparkar commented on #4917
I'm not sure. That is why I asked.

[2019-03-06 15:02] jywarren commented on #4917
I wonder if it only notifies members of the organization, and we don't
always add everyone to the org. We could start doing that if it helps, but
not everyone would accept, but maybe that's OK? It might especially miss
new contributors though. But good questions!!!

On Wed, Mar 6, 2019 at 9:55 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-06 15:02] Harshithpabbati commented on #4917
@gauravano  It will mention everyone who are the member's of the Public Lab. New contributers will not be mentioned in it (I mean who don't have any merge).
Thanks

[2019-03-06 15:28] gauravano commented on #4917
@Harshithpabbati any link or reference you can point to?

@HarshKhandeparkar I just mentioned with @ @publiclab in a random leaflet distortable issue. You got any notification?

[2019-03-06 15:31] Harshithpabbati commented on #4917
Nope I didnt get any notification.

[2019-03-06 15:33] gauravano commented on #4917
Then, it's not working

[2019-03-06 15:46] jywarren commented on #4660
oh very cool, yes that sounds good! Can you email me with your email or
Zooniverse username at jeff@publiclab.org?

On Wed, Mar 6, 2019 at 6:50 AM SKashyapD <notifications@github.com> wrote:

[2019-03-06 15:47] jywarren commented on #4189
Hi, all - actually we try to have one person solve an issue at a time, and we'll be posting more first-timers-only issues soon! Thank you and sorry we don't have quite enough yet! However, if you find one that hasn't been worked on for some time, ask there if you could pitch in to complete it!

[2019-03-06 16:03] jywarren commented on #3498
Awesome.

On Wed, Mar 6, 2019 at 2:33 AM Cess <notifications@github.com> wrote:

[2019-03-06 16:06] jywarren commented on #4924
ahhhhhhh i should've caught that. Sorry! Should we refactor that and try
running again?

On Wed, Mar 6, 2019 at 1:57 AM Sebastian Silva <notifications@github.com>
wrote:

[2019-03-06 16:15] karunagoyalk commented on #4922
Hello!
 I would like to work on this issue! Please help me to get started

[2019-03-06 16:20] jywarren commented on #4922
Hi, actually we aren't quite ready for this to be implemented yet, but we
will be soon! Can you check out some other issues for now? Thank you!

On Wed, Mar 6, 2019 at 11:16 AM karunagoyalk <notifications@github.com>
wrote:

[2019-03-06 16:22] karunagoyalk commented on #4922
@jywarren No problem!
Do you have any other issues for this project or I have to look for some different project

[2019-03-06 16:24] jywarren commented on #4922
You can check at https://code.publiclab.org/#r=all -- thanks! And some
issues may be claimed, but not worked on recently - you can ask if people
are OK with you jumping in to take them up!

On Wed, Mar 6, 2019 at 11:23 AM karunagoyalk <notifications@github.com>
wrote:

[2019-03-06 16:30] #4823 closed

[2019-03-06 16:32] karunagoyalk commented on #4915
Hey @gauravano!
Can I work on this issue?

[2019-03-06 16:45] skilfullycurled opened #4927 "Side Bar Overlap On Transition To Next Device Size"
Hi,

Firefox 65 on macOS here.  When making the research note width smaller, you have sidebar overlap as you switch from a computer screen sized device to (what I think is) the tablet size both in the sidebar and header.  So far, the second picture only happens on the research notes (haven't checked every page) but it does not occur on the home page.  The third picture happens on both.  Probably n

[2019-03-06 16:54] HarshKhandeparkar commented on #4917
Smartform?

[2019-03-06 16:57] alonpeer commented on #3298
Hi 👋
Is this issue still open, or was it resolved in PR #4103 ?

[2019-03-06 17:17] alonpeer commented on #3419
Hi 👋
Is a test still missing? @CoderJolly do you need help with it? Or can I give this a shot as my first issue on this project?

[2019-03-06 17:22] shubhscoder opened #4928 "Call for related search terms"
So recently, we implemented a feature wherein the search for a particular term at publiclab.org/search also returns results for the terms that are related to it. #4823 is the relevant issue and #4848 is the solution for the same.

However for the solution to work we have used a [dictionary file here](https://github.com/publiclab/plots2/blob/master/lib/related_and_hyphenated_terms.dict.txt) - just

[2019-03-06 17:23] shubhscoder commented on #4928
So @jywarren, do we want people to submit their words by making Pull requests ? Or is there some  other way?

[2019-03-06 17:29] gauravano commented on #4928
Nice issue @shubhscoder! How about asking contributors to comment the related terms in issue's comments and we can add them weekly/monthly?

[2019-03-06 17:33] shubhscoder commented on #4928
Yes we could do that @gauravano. Also I have one more idea, how about posting a new wiki on public labs and ask people to comment the related terms there?

[2019-03-06 17:35] gauravano commented on #4928
We can also ask people to edit the wiki?

[2019-03-06 17:40] #4749 closed

[2019-03-06 17:47] shubhscoder commented on #4928
Yeah that sounds good. We can do that!

[2019-03-06 17:51] gauravano commented on #3298
Hey @alonpeer, the issue is still available to claim. #4103 seems unrelated to this issue and  @meinou opened [PR](https://github.com/meinou/plots2/pull/1) against their own repo.

Let's just check with @meinou once, if they are interested in raising PR in this repo, as they have already done the work. Thanks!

[2019-03-06 17:54] gauravano commented on #4917
I tried here - https://github.com/publiclab/Leaflet.DistortableImage/issues/53#issuecomment-470150425

[2019-03-06 17:56] HarshKhandeparkar commented on #4917
I didn't get a notification

[2019-03-06 18:03] gauravano commented on #4915
Hi @uimarshall and @karunagoyalk, @deepesh-ludhyani has already claimed the issue so let's give them some time to complete it. We would love to have help from both of you, you can find more issues at https://code.publiclab.org/#r=all. If you don't find any issue there, feel free to comment here or in Gitter channel- https://gitter.im/publiclab/publiclab, me or someone else will open the new FTO fo

[2019-03-06 18:16] gauravano commented on #4920
@jywarren agreed on 1 week period too. Let's give 1 week to all the new-contributors for solving a FTO. I will open the FTO for including this word in the first-timer-only issue template.

Any ideas about other problems?

[2019-03-06 18:19] Harshithpabbati commented on #4920
If any one takes it up then we will assign them so that other's would not ask for it

[2019-03-06 18:21] gauravano commented on #4920
Actually, we try to assign the issue but their name doesn't show up when we try to add them using Assignees button on right, so giving :+1: to them is fine for now and we can ask other contributors politely to see other issues and I think, they understand in most cases.

[2019-03-06 18:24] Harshithpabbati commented on #4920
Will go with this 👍

[2019-03-06 18:49] twisted-sres commented on #4776
Hey, I am an Outreachy applicant, can I take this up?

[2019-03-06 18:51] yash98gupta commented on #4688
i have solved this issue ! . Need some help while making a pull request.

[2019-03-06 18:54] deepesh-ludhyani commented on #4915
@gauravano Yes, I will soon open a PR for it, thankyou!

[2019-03-06 19:02] milaaraujo commented on #4585
Hey, I would like to be a mentor!

[2019-03-06 19:14] avsingh999 commented on #4688
@yash98gupta which type of help you want?
thanks : )

[2019-03-06 19:16] HarshKhandeparkar commented on #4917
If anybody(just about anybody) got a notification from Leaflet.DistortableImage please add a thumbs up :+1: to this comment otherwise add a :-1: . Maybe only some members got a notification?? This is just an experiment. Thanks.

[2019-03-06 19:18] Harshithpabbati commented on #4917
It's not working Harsh.

[2019-03-06 19:45] jywarren commented on #4585
That'd be super, Camila! If for outreachy, please click the link and apply
there so I can approve. Thanks!

On Wed, Mar 6, 2019, 2:02 PM Camila Araújo <notifications@github.com> wrote:

[2019-03-06 19:46] jywarren commented on #4776
Yes please, that'd be great!

On Wed, Mar 6, 2019, 1:49 PM Srestha Srivastava <notifications@github.com>
wrote:

[2019-03-06 20:21] jywarren commented on #4928
I think possibly @ebarry suggested this?

Others I can think of are:

[code]

[2019-03-06 20:24] avsingh999 opened #4931 "Improve Pagination in Tags Search"
When We Search Tags in Search then pagination nombers  looking not perfect because last pages not showing anything so I think we should Improve this

![ff](https://user-images.githubusercontent.com/25536022/53911216-d201d000-407b-11e9-992a-429018a0c0d6.gif)

[2019-03-06 20:29] jywarren commented on #4903
Oh this is cool, i wasn't aware of services like this! ❤️

Any pros/cons between Sentry and Rollbar?

[2019-03-06 20:30] jywarren commented on #4931
We'd love some help with formatting that page!!! Can you share a mockup
based on Bootstrap https://getbootstrap.com/docs/3.3/ for how it might be
improved? Thank you!

On Wed, Mar 6, 2019 at 3:25 PM Avkaran Singh <notifications@github.com>
wrote:

[2019-03-06 20:33] siaw23 commented on #4903
Pros for Sentry is better UI and more accurate error reporting, Rollbar has worse UI, error reporting, line number are off often as far as I know...

[2019-03-06 20:56] jywarren opened #4932 "Pop up a modal menu with templates when starting a new wiki page"
Going to https://publiclab.org/wiki/new opens a new blank wiki page, but it's a bit bare, and hard for people to know where to begin. Let's offer a Bootstrap modal with some template options:

![screen shot 2019-03-06 at 3 51 27 pm](https://user-images.githubusercontent.com/24359/53912828-cb496d80-4027-11e9-974c-b408c57a0a49.png)

The actual content of the modal we could set in a Feature ([learn a

[2019-03-06 21:05] Zengirl2 commented on #4660
@SKashyapD Hey there--I do have a strong interest in Zooniverse, but I'm still behind on a fan project I'm working on. So, you can include me, but I won't be able to do much right now.

[2019-03-06 21:13] SKashyapD commented on #4660
![untitled diagram](https://user-images.githubusercontent.com/44786462/53912480-07f48380-407f-11e9-92d5-a20db84386fc.png)
Most simplest way to show how things going to work each and every block have there own technical details. please create a repository and I will explain every technical detail on it.

thanks @jywarren for creating zooniverse project.
zooniverse project looks great I started work

[2019-03-06 21:26] SKashyapD commented on #4660
thanks @Zengirl2 for showing interest . And any kind of contribution will be great.
@jywarren please add @Zengirl2 to our zooniverse project.

[2019-03-06 21:28] namangupta01 commented on #4924
What exactly we want to do here?

[2019-03-06 21:42] Zengirl2 commented on #4660
@SKashyapD I originally had interest in using Zooniverse to go through possible pollution from hurricanes. They have started to do projects for hurricanes (although not with the pollution I would like). I was at the point of having conversations with two people from Zooniverse about learning to use their content system. I believe I may even have a video tutorial that they sent me.

[2019-03-06 21:44] jywarren commented on #4924
I think we need to add additional conditions to the `User...()` call so that we aren't trying to fetch all user records. But according to previous tests, this should only be calling 7k records, which isn't all that much:

[code]

@icarito do you think even 7k records would be too many and could be causing this?

[2019-03-06 22:01] jywarren commented on #4891
Actually i think the 'replace' action is already exempted from the first-time-poster limitation, because that's only enforced in the `update` action: https://github.com/publiclab/plots2/blob/master/app/controllers/wiki_controller.rb#L192

[2019-03-06 22:02] jywarren commented on #4891
Can someone test out:

1. adding the line `[prompt:text:Your name here]` in the middle of some wiki page
2. trying to enter something in the input and press `Add`
3. copy in the error we find to this issue?

[2019-03-06 22:50] jywarren commented on #3498
This is still not 100% online, my apologies, we ran into an issue with optimizing this query: https://github.com/publiclab/plots2/issues/4924 but are trying to resolve it quickly!

[2019-03-06 22:52] jywarren commented on #4891
Huh, just noting that I tried this and it worked without an error... will try again but with a copy of the `gsoc-ideas` page!

[2019-03-06 22:56] jywarren commented on #4892
Welcome, Álax! And welcome everyone!

****

Hi, all - just posting an update here; we've posted the Outreachy project for this summer here: https://www.outreachy.org/may-2019-august-2019-outreachy-internships/communities/public-lab/#publiclaborg-ui-improvements -- you'll need to log in to see the whole proposal.

[2019-03-06 22:58] jywarren commented on #4927
Hi, and thanks for posting! I believe the image will be on this template:

https://github.com/publiclab/plots2/blob/master/app/views/notes/show.html.erb#L12-L18

A quick fix could be setting "overflow:hidden" on the image, but we may
also want to ensure it has a `max-width` css property that limits it to the
width of the column. Could even just max-width: 100% work? It'll take some
testing -- maki

[2019-03-06 23:02] jywarren commented on #4920
Yeah, this sounds good. In general we should do our best to be friendly and
encouraging; maybe we can brainstorm a text we can use when we reply to
people, and all save it in our saved replies?
https://help.github.com/articles/working-with-saved-replies

Something like

"Hi! It's been about a week since your last reply so we'd like to open this
to other contributors. We'll close your pull request

[2019-03-06 23:17] jywarren commented on #4891
Hmm, what's weird is that on regular editing of the page, i'm seeing:

[code]

@siaw23 is that potentially related to instance variable handling in the private method at the end of the wiki controller?

[2019-03-06 23:22] jywarren commented on #4891
@siaw23 you should be able to force push to the unstable branch, and I'll add the prompts there:

https://unstable.publiclab.org/wiki/gsoc-ideas

Oddly they're not showing the form there, i don't know why...

[2019-03-06 23:24] siaw23 commented on #4891
Yeah I think it might be that totally forgot I wasn't using a callback. Making it public. @jywarren

[2019-03-06 23:26] jywarren commented on #4891
Aha! I think i figured it out!!! It relies on there not being multiple identical prompt tags in the same page, or it doesn't know which to replace!

[2019-03-06 23:26] jywarren commented on #4891
So, we should fix that, but I think a short term fix is easier, to add some unique text in each prompt... doing this now...

[2019-03-06 23:28] siaw23 commented on #4891
Can you push a fix for the 'input box' thing so I have a look, because I think we have different ideas/solutions? Then we can figure out which one is best and test it...  a system test would be good for this one.

[2019-03-06 23:28] jywarren commented on #4891
Yep, that worked! Changing them to be something unique now.

Now we need to brainstorm how to fix this more broadly.

[2019-03-06 23:30] jywarren commented on #4891
I'm actually solving it by changing the `[prompt:text:LEL mentor names here]` codes in the wiki content, so it's not a code fix at all. What's your solution? Maybe it solves the underlying issue?

Thanks!

[2019-03-06 23:33] siaw23 commented on #4891
Ah my fix is about the current_user being nil for the wiki page...I think so I have a test fix with commented out tests to check if I'm right, if I am then we'll fix the tests.

[2019-03-06 23:33] siaw23 commented on #4891
In the mean time this should fix the editing issue... https://github.com/publiclab/plots2/pull/4933 can we have that merged and checked after CI passes?

[2019-03-06 23:35] jywarren commented on #4891
OK great. I've made each prompt on the page unique as well. Thank you!

[2019-03-06 23:37] jywarren commented on #4891
And updated the title to reflect the resolution of the gsoc page issue (quick fix) as well as the broader issue we've identified. Super, thanks all!

[2019-03-06 23:41] Chrisyee22 commented on #4932
Hi @jywarren. Could I work on this?

[2019-03-06 23:52] skilfullycurled commented on #4927
using `max-width:100% `on this [line](https://github.com/publiclab/plots2/blob/33380fb33b3ef87b75684c30b2b26e49f16a1b8b/app/views/notes/show.html.erb#L15)...

[code]
...works in general.  It has the not-at-all-terrible side effect of causing the image to get smaller as you close the width of the page (see second image).

Also, in so far as it is helpful to diagnostics, note that both in the second

[2019-03-06 23:53] jywarren commented on #4924
Testing the above on live db console to benchmark...

[2019-03-06 23:55] hafsasam commented on #3653
Hello! If nobody is working of this issue can I claim it ?

[2019-03-06 23:57] jywarren commented on #4924
I wonder if it's just taking a really long time to go through and make all the tags, but that potentially it's not actually hanging but just taking a really long time to iterate through 7k records and do this for each one?

[2019-03-07 00:07] milaaraujo commented on #4585
@jywarren, what is the link?

[2019-03-07 00:19] jywarren commented on #4924
OK, compare:

`> User.joins(:node).where('node.status = ?', 1).count => 7278`

`User.joins(:node).where('node.status = ?', 1).distinct.count => 1407`

`User.includes(:node).where(node: { status: 1 }).count => 1407`

Gah, ok well that helps a bit...

[2019-03-07 00:20] jywarren commented on #4924
https://guides.rubyonrails.org/active_record_querying.html#specifying-conditions-on-eager-loaded-associations

[2019-03-07 00:24] jywarren commented on #4924
Attempted fix here: https://github.com/publiclab/plots2/commit/17378761cdd9f89028342138321bc3f6e9746868

[2019-03-07 00:30] IgorWilbert commented on #4917
Hi all! Sorry for arriving late. Nice theme for a weekly check-in! It would be awesome if I could review some PRs, but I don't have the authorization to merge PRs in the Editor neither Image Sequencer... Should I somehow mark them as approved then? Thanks!

[2019-03-07 00:49] jywarren commented on #4932
Oh yes, that'd be super! Thank you!

On Wed, Mar 6, 2019 at 6:42 PM Chrisyee22 <notifications@github.com> wrote:

[2019-03-07 00:56] jywarren commented on #4822
I think you're' right that ` def send_digest_email ` in user.rb is only set up for weekly!

I think we could add a line to it which looks up whether that user should get a week's worth or a day's worth of content. It could be based on the code in https://github.com/publiclab/plots2/blob/7e20e413e94925a4f021f14e61a36b7ebb270e25/app/jobs/digest_mail_job.rb

You could simply use:

[code]

[2019-03-07 00:57] jywarren commented on #4822
And you're right - we could change the parameters of this function to be able to pass in the type "weekly" or "daily" as a string, and use that to set the subject appropriately!

https://github.com/publiclab/plots2/blob/d3b122efaa42a9d6b06a70f53626334ad2cf085b/app/mailers/subscription_mailer.rb#L57-L58

[2019-03-07 00:57] jywarren commented on #4732
I added some notes and tips to https://github.com/publiclab/plots2/issues/4822 -- great!

[2019-03-07 00:58] jywarren commented on #4732
And @arungoel123456 solved the date one in https://github.com/publiclab/plots2/pull/4851 -- great work!

[2019-03-07 01:04] jywarren commented on #4924
Deploying this now... hoping!

[2019-03-07 01:40] jywarren commented on #4924
Done! It worked!

[2019-03-07 01:40] #4924 closed

[2019-03-07 02:38] Harshithpabbati commented on #4917
Yeah mark it as approved!!

[2019-03-07 03:51] IshaGupta18 commented on #4822
Absolutely, I think with this we'll be good to go, I'll start with it ASAP!

On Thu, Mar 7, 2019, 6:27 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-07 03:52] IshaGupta18 commented on #4603
Yes that would be great! We could start with small PRs and start with the
one you suggested! Thanks a lot!

On Wed, Mar 6, 2019, 3:24 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-07 06:54] gauravano commented on #4917
@IgorWilbert reviewing is totally different from merging. Only some people have merge rights to repos. You can request changes, comment, approve the PRs, without being a maintainer. Even new contributors can review the PR.

Thanks!

[2019-03-07 08:03] Chrisyee22 commented on #4681
I didn’t even see my PR was closed. Were there any issues with my initial PR?

[2019-03-07 09:28] gauravano commented on #4681
@Chrisyee22 can't say anything as I haven't reviewed your PR. I guess, you have already worked on FTO @Chrisyee22 and I also saw your PR https://github.com/publiclab/plots2/pull/4906 merged, so do you mind if we consider @ananyaarun's PR #4930 instead of your's?

Thanks!

[2019-03-07 09:43] gauravano commented on #3653
Hi @hafsasam, this issue is not required anymore, so closing this one. We would love to have hellp from you on other issues, you can see more issues at https://code.publiclab.org/#r=all. If you can't find any unclaimed issue there, feel free to comment below or in Gitter channel https://gitter.im/publiclab/publiclab. Thanks!

[2019-03-07 09:43] #3653 closed

[2019-03-07 09:44] gauravano commented on #3653
Reason for closing this issue - https://github.com/publiclab/plots2/pull/3697#issuecomment-470455171. Thanks all for working on this.

[2019-03-07 09:54] gauravano commented on #4920
I am saving that reply to my GitHub account :smile:

[2019-03-07 09:55] gauravano commented on #4920
Nice idea @jywarren :+1:

[2019-03-07 10:51] RizwanSyed357 commented on #3840
Hi all,

When I type 'rails console' into my terminal, whilst I am in the plots2 cloned repo, I receive this error message. I have been googling the error for a while and cannot find a solution. I am on Linux Lubuntu.

Here is the message: https://dpaste.de/VXKM

May someone please help me out with this?

[2019-03-07 13:05] gauravano commented on #3840
Hi @RizwanSyed357, you have ruby and rails installed on your system? Also, could you let us know the  bundler version you are using? Thanks!

[2019-03-07 13:49] ebarry commented on #4928
event: meetup
formaldehyde: HCHO
formaldehyde: CH2O
ag: agriculture
agriculture: farming

are these pairs not reversable, as in, do i have to write the pairs in the other direction as well?

[2019-03-07 14:31] CleverFool77 commented on #152
@jywarren Is this issue available? I would like to work on this :)

[2019-03-07 14:44] shubhscoder commented on #4928
I think even the reverse is required.

On Thu, Mar 7, 2019, 7:19 PM Liz Barry <notifications@github.com> wrote:

[2019-03-07 14:51] ebarry commented on #4928
alright, well let's use this issue to grab quick thoughts, and then maybe we set up a spreadsheet somewhere with a formula to generate all the reverse forms of the pairs?

cafo: factory-farm
cafo: feedlot
sewage: wastewater
salinity: conductivity

[2019-03-07 15:14] shubhscoder commented on #4928
Yeah that sounds good👍

On Thu, Mar 7, 2019, 8:21 PM Liz Barry <notifications@github.com> wrote:

[2019-03-07 15:25] gauravano commented on #152
Yes @CleverFool77,  it's available. We would love to have your help with this.

As you can see there is no clear checklist available so let's ask @jywarren and @btbonval if they have anything in mind regarding the change in design of wiki or note?

Thanks!

[2019-03-07 15:36] jywarren commented on #152
Hi! I think we need to brainstorm a bit on this! What ideas do you have
that could help to distinguish these pages? I had one - that the wiki page
titles could be centered, and have a different header and tabs maybe?

Anyone want to do some sketches to explore ideas?

On Thu, Mar 7, 2019, 10:25 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-07 15:54] grvsachdeva opened #4936 ""mysql2 is not part of bundle" error while running rails server"
Hi!

I updated my local master, ran `bundle install` and got the below error on running `rails s`

![mysql2_error](https://user-images.githubusercontent.com/20878070/53969213-60c72900-411e-11e9-8841-ee7126c55ff7.png)

I also ran ` bundle install --without production mysql` after deleting Gemfile.lock but got same error.

**Solution which worked for me:**

I added gem 'activerecord-mysql2-adapter'

[2019-03-07 15:56] SidharthBansal commented on #4936
I am also receiving similar error. Thanks for posting Gaurav.

On Thu, Mar 7, 2019, 9:24 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-07 15:58] gauravano commented on #4936
You can add gem 'activerecord-mysql2-adapter' to Gemfile @SidharthBansal as a temporary fix. Let's see what others think about this fix. Thanks!

[2019-03-07 16:10] gauravano commented on #152
@CleverFool77 are you trying the changes as suggested by @jywarren?

[2019-03-07 16:20] siaw23 commented on #4936
Application is configured to use Passenger. So instead of `rails s` to start the server you should be running `passenger start` instead. That way you don't need `gem 'activerecord-mysql2-adapter'` in the Gemfile.

[2019-03-07 16:27] CleverFool77 commented on #4936
I followed your method for temp fix but the error isn't gone.

[2019-03-07 16:38] gauravano commented on #4936
Ah, although I prefer to use Webrick as for development it has been sufficient for me and haven't thrown such error. I also tried passenger but same error

![passenger_start](https://user-images.githubusercontent.com/20878070/53972821-8a378300-4125-11e9-879a-18024892598f.png)

[2019-03-07 16:45] CleverFool77 commented on #4936
@gauravano While doing `rake:db: setup`. It's showing the same error even after adding `gem 'activerecord-mysql2-adapter' ` in Gemfile and deleting lock file and running `install bundle`.

[2019-03-07 16:47] gauravano opened #4937 "Improve view of /notes page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-07 16:48] gauravano commented on #4937
This issue is for @AnthoniaOkafor. Thanks!

[2019-03-07 16:49] siaw23 commented on #4936
There's a bunch of [solutions here](https://stackoverflow.com/questions/32457657/rails-4-gemloaderror-specified-mysql2-for-database-adapter-but-the-gem-i). I haven't taken time to look into this as I'd have to first but I'm sure the SO thread should have a at least one fix for this that you can try.

[2019-03-07 16:49] ephemeralwaves commented on #4486
May I work on this? I can't find the wiki on the site but I did find a snapshot of the page in the waybackmachine from 2015 (https://web.archive.org/web/20150611120745/http://publiclab.org/wiki/blog). Another snapshot was taken in 2017 but by that point it was throwing a 404. Should this page be recreated and then linked properly to https://publiclab.org/blog?

[2019-03-07 17:02] AnthoniaOkafor commented on #4937
Thanks!

[2019-03-07 17:51] jywarren commented on #4585
Just this one, thank you! https://www.outreachy.org/may-2019-august-2019-outreachy-internships/communities/public-lab/publiclaborg-ui-improvements/cfp/

[2019-03-07 17:57] cesswairimu commented on #4936
Got the same error about two days ago after pulling master.  I normally use sqlite3 . Adding  `gem 'mysql2', '>= 0.4.4'` on the list of main gems removed the error for me. Not a smart fix though.

[2019-03-07 18:02] siaw23 commented on #4936
@cesswairimu i've had `'mysql2', '>= 0.4.4'` in the main gem list from the start but don't check it in. That's the main reason I was trying to push for a one-DB system. It's like to work with the project like this...at least for me.

[2019-03-07 18:03] namangupta01 commented on #4919
Yes, @sashadev-sky, I do have MySQL installed on my computer and even then I try to use SQLite wherever I could.
Let me check for the error. I have run the test using SQLite several times but I didn't get any such type of error. But I think I should try to test it now to check if this problem is with everyone else.

[2019-03-07 18:09] cesswairimu commented on #4936
Aha! I see u use mysql as your local db and if so were you getting this error @siaw23 ?

[2019-03-07 18:18] jywarren opened #4938 "Add links to popular tags graph on /stats page"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2019-03-07 18:21] siaw23 commented on #4936
I've never seen this error before. Everything works fine for me except the hustle of having to juggle different db systems. So I use mysql (MariaDB variant) for this project and all is fine.

[2019-03-07 18:27] jywarren commented on #4936
I seem to remember (but am not sure of it) some PR that may have changed
the gemfile's mysql setup recently. I feel like i look at a lot of PRs so I
could be mixed up with MapKnitter.

But also it's hard to skim the changes to the Gemfile now because
dependabot is helping us update it all the time. Is there a quick
commandline way to skim all the diffs to the Gemfile to look for "mysql"
and see if

[2019-03-07 18:27] jywarren commented on #4919
thank you naman and sasha!

On Thu, Mar 7, 2019 at 1:03 PM Naman Gupta <notifications@github.com> wrote:

[2019-03-07 18:27] ananyaarun commented on #4938
@jywarren , I'd like to work on this issue

[2019-03-07 18:53] siaw23 commented on #4919
@namangupta01 I'm interested in knowing what you get when you ran `rake db:reset` and `rake db:setup` while on SQLite. I'd be happy to know if nothing breaks for you! Mind sharing this info?

[2019-03-07 18:55] jywarren commented on #4938
Oh please, that would be great. Do you know where to find the templates?

On Thu, Mar 7, 2019 at 1:28 PM Ananya Arun <notifications@github.com> wrote:

[2019-03-07 19:09] jywarren commented on #4919
And @namangupta01 -- if we did choose to deprecate sqlite support, do you think it would be very disruptive to you? We're trying to weigh the pros and cons, but leaning towards using just one DB. Thank you for your input!

[2019-03-07 19:13] gauravano commented on #4486
Great :mag: work @ephemeralwaves! @jywarren do you agree on page recreation? If we agree on recreation of page at wiki/blog then we don't need to do any linking as "about the blog" link present on the /blog is already pointing to wiki/blog

![screenshot from 2019-03-08 00-41-22](https://user-images.githubusercontent.com/20878070/53982512-1ef8ab80-413b-11e9-8bfc-86c94ee039b0.png)

Thanks!

[2019-03-07 19:36] gauravano opened #4940 "Change read more link to button at /blog"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-07 19:37] jywarren commented on #4486
Yeah i think that sounds great! Good work here!!!!

On Thu, Mar 7, 2019 at 2:13 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-07 19:37] gauravano commented on #4940
This one is for @uimarshall . Thanks!

[2019-03-07 19:40] gauravano commented on #4486
@ephemeralwaves please create the wiki at wiki/blog and paste the link here. If you need any help, feel free to ping me. Thanks!

[2019-03-07 19:47] jywarren opened #4941 "Wiki editing seems to be broken"
Hi all -- we seem to have a new bug with the wiki editing system; perhaps related to some recent changes to https://github.com/publiclab/plots2/blob/master/app/controllers/wiki_controller.rb ?

[2019-03-07 19:55] ananyaarun commented on #4938
@jywarren Was just about to ask  :) .
I see that the main html file is in plots2/app/views/stats/index.html.erb.
But am bit confused about where the other templates are.

[2019-03-07 20:08] cesswairimu commented on #4938
@ananyaarun this specific graph is at `/views/stats/index.html.erb` here is the script for this graph https://github.com/publiclab/plots2/blob/master/app/views/stats/index.html.erb#L200-L242
Rendered on the html page by this div https://github.com/publiclab/plots2/blob/master/app/views/stats/index.html.erb#L29

[2019-03-07 20:14] uimarshall commented on #4940
Thanks @gauravano .I really appreciate this opportunity. I will start working right away!!!

[2019-03-07 20:21] milaaraujo commented on #4585
@jywarren, done!

[2019-03-07 20:24] gauravano commented on #4940
Great!

[2019-03-07 20:26] thefifthisa commented on #4916
Hi, I'm new here and would like to work on this!

[2019-03-07 20:29] cesswairimu commented on #4916
Hi @thefifthisa, awesome go ahead. Feel free to ask for help here if you are stuck.

[2019-03-07 20:37] siaw23 commented on #4941
Can you please get this for us? https://github.com/publiclab/plots2/issues/4903 ? That way we don't have to wait for someone to report, it show up automatically what exactly is happening and how it happened then we can all look together and fix it. It's helpful I think.

[2019-03-07 20:38] gauravano commented on #4941
Hey @jywarren, raising PR for this one. Thanks!

[2019-03-07 20:39] siaw23 commented on #4941
Reason for my post is I can't reproduce locally. Editing works fine locally.

[2019-03-07 20:41] gauravano commented on #4941
I tried editing the wiki locally and got error.

[2019-03-07 20:42] siaw23 commented on #4941
As which user? normal or admin? @gauravano

[2019-03-07 20:47] gauravano commented on #4941
As moderator. Actually, here- https://github.com/publiclab/plots2/commit/40b6624af14b10027196b049e3a1ed8e11dd287e#diff-528416b5954756daa0b141666006dbcb during clean up there was a slight change in order of statements, due to which node.vid was getting null but as per schema it can't be null so 500 was thrown

[2019-03-07 20:54] RizwanSyed357 commented on #3840
Hi @gauravano  - please see this link, which shows what version of Ruby and Bundler I have installed: https://dpaste.de/Ghpo

[2019-03-07 20:57] thefifthisa commented on #4916
Thanks @cesswairimu! To clarify, will I need to create the `post` method? I only see `get` here.

[2019-03-07 21:09] siaw23 commented on #4941
Yeah I missed that. Thanks for catching it. My main concern though is why didn't the test catch it though.

[2019-03-07 21:16] gauravano commented on #4941
Yes, it's really shocking that Travis wasn't able to catch this

On Fri 8 Mar, 2019, 2:39 AM Emmanuel Hayford, <notifications@github.com>
wrote:

[2019-03-07 21:24] peteroupc opened #4943 "Issues with the search function and lack of input sanitization"
Go to https://publiclab.org/ .  Type in `"browser based"` (with the quotation marks) and press ENTER.  An error page occurs.

The URL where the error appears is: `https://publiclab.org/search/%22browser%20based%22`

This suggests that, at least for queries with quotation marks, the search function doesn't handle certain queries cleanly.

Also, in `app/helpers/search_helper.rb`, a method generates

[2019-03-07 21:30] jywarren commented on #4943
Hi, this is really great - thank you! Would you be interested in
contributing a fix for this issue? Thank you for documenting it so
thoroughly. It seems like there are 2 places it might be fixed - one in
search_helper.rb, but also potentially in JavaScript afterwards. But
perhaps the JavaScript fix is not even worth it?

Thanks again!

On Thu, Mar 7, 2019 at 4:25 PM Peter Occil <notifications@gith

[2019-03-07 21:36] #4941 closed

[2019-03-07 21:40] jywarren commented on #4941
@siaw23 re: #4903 i think it's a great idea. I am scrambling today to keep up so let me do my best to look at it. Thanks!

[2019-03-07 21:42] jywarren commented on #4941
@gauravano would you mind looking through the logs to see how this somehow mightn't have been caught? Are we really catching the `success` in the test? Are we doing it to an existing wiki page, anything maybe about the context or parameters or db state that could conceivably be different? Could we run the update twice in the test?

[2019-03-07 21:48] TANGL3SIT3S commented on #4940
Hello everyone. Is this still open for help. I don't helping someone if you are stuck. Two heads are better than one .

[2019-03-07 21:48] jywarren commented on #4903
Opened https://github.com/publiclab/plots2/pull/4944

[2019-03-07 21:52] jywarren commented on #4903
Searching for open source program opt-in... https://sentry.io/settings/public-lab/

[2019-03-07 22:02] jywarren commented on #4903
And applied to their program!

[2019-03-07 22:03] jywarren commented on #4903
OK, i think this will start running when a) we're approved and b) we push #4944 to production.

[2019-03-07 22:04] siaw23 commented on #4903
Not sure about the free option. You got any idea when they'll approve?

[2019-03-07 22:28] #4903 closed

[2019-03-08 00:33] siaw23 opened #4945 "Sentry reporting from test environment"
I think we want to report production errors instead. But we're not.

<img width="815" alt="screenshot 2019-03-08 at 01 32 26" src="https://user-images.githubusercontent.com/4806407/53999014-22436580-4142-11e9-8a30-e17db62952f9.png">

[2019-03-08 00:52] ephemeralwaves commented on #4486
Ok I created the [wiki/blog](https://publiclab.org/wiki/blog) but don't know what the markdown for adding a button is. I looked at this [reference page](https://publiclab.org/wiki/authoring-help#Buttons+and+other+HTML) but it links to another page for examples which is locked.

[2019-03-08 02:26] #4945 closed

[2019-03-08 02:28] jywarren commented on #4486
Ah! Actually we use raw HTML for that. But maybe we should come up with a
simple shortcode for buttons, in a separate issue! Something like

[button:Post a question:https://publiclab.org/questions/new]

...could work?

On Thu, Mar 7, 2019, 7:53 PM ephemeralwaves <notifications@github.com>
wrote:

[2019-03-08 04:02] nazeem1988 commented on #4940
I have been waiting for couple of days to find some good first issue. @gauravano could you pls pass one on to me. I have knowledge in HTML and CSS.

[2019-03-08 04:22] sashadev-sky commented on #4919
@namangupta01 thank you!! @siaw23 you have a much more in depth understanding of the sqlite issue so i'll leave it to you to investigate with @namangupta01 but i'm also interested so keep me in the loop if you open any new issues on it, etc!

[2019-03-08 05:18] sashadev-sky commented on #4920
@jywarren Yes, saving that too! @gauravano I have thought about this too, specifically, what do you think is the most sensible way to "unassign" someone?
1) I was considering the idea of implementing "assigned" and "unassigned" labels that admins can add, but that would only really work efficiently if everyone is able to add this label or someone would have to stay on top of it regularly.
2) Alter

[2019-03-08 07:06] sashadev-sky commented on #4936
@siaw23 @cesswairimu I did the same as both of you for a bit and then got rid of it somehow just need to remember exactly what I did! Try putting it back into production, removing activerecord-mysql2-adapter (maybe even uninstall it from the CLI) and deleting the .bundle folder `rm -r .bundle` and running `bundle install` again.

@siaw23 I only use `rails s` and I avoid `activerecord-mysql2-adapte

[2019-03-08 07:09] CleverFool77 opened #4947 "Improve the landing page"
## Description
The website looks inconsistent with the page being sectioned into two in the landing page. Instead we can shift down the right side a bit and and have the image on right side to to take the full width of the viewport. From User's view and designer's view, It doesn't provide a proper user interaction with the user. It looks bloated with lots of tags which makes it difficult for a new

[2019-03-08 07:11] CleverFool77 commented on #4947
If approved, then I would like to work on this. Thanks you

[2019-03-08 07:18] sashadev-sky commented on #4936
@jywarren I use the vscode extension GitLens it lets you scroll through the file history of any file going months back. There haven't been any changes to mysql in the gemfile

[2019-03-08 07:19] SidharthBansal commented on #4914
I am starting with this issue. As soon the gateway page is removed, we will have much simpler flow to think about.
Trying to install the plots2, SWB and MK and checking the flow on localhost:3000 how it goes.

[2019-03-08 07:29] cesswairimu commented on #4916
@thefifthisa oh yeah I see..I guess it has always been a `get`. I believe adding a `post` is not necessary. We want the `filter period` dropdown to be using the same params as we used in the date selector. That is start and end..
![stats](https://user-images.githubusercontent.com/17081074/54014052-580d3c00-418c-11e9-9e62-6c83b116a82d.gif)
This will mean explicitly defining start and end...`end` wi

[2019-03-08 07:45] #4947 closed

[2019-03-08 07:53] CleverFool77 opened #4948 "Improve the Login UI Modal Box."
## Description
Currently the fields under Oauth section inclined towards left. It would be better to let it be at center.
This is a first-timer issue.

## Current behaviour
![screenshot from 2019-03-08 13-18-31](https://user-images.githubusercontent.com/26685258/54015165-ec839880-41a4-11e9-9508-7bd2035bdf06.png)

## Expected Behaviour
The fields should be in center.

[2019-03-08 07:53] CleverFool77 commented on #4948
I would like to work on this.

[2019-03-08 08:43] CleverFool77 commented on #152
I'm considering about the sketches @gauravano  @jywarren. I'll post the idea here soon.

[2019-03-08 09:00] shreyateeza commented on #4940
Hi @gauravano Can I work on this issue?

[2019-03-08 09:02] shreyateeza commented on #4938
@jywarren @ananyaarun If not done, can I work on this issue?

[2019-03-08 09:03] shreyateeza commented on #4937
@gauravano Can I work on this issue?

[2019-03-08 09:04] shreyateeza commented on #4915
@deepesh-ludhyani If not done, can I work on this issue?

[2019-03-08 09:05] Harshithpabbati commented on #4938
@shreyateeza we had a discussion of assigning a  first timers  issue to one person for a week. So please kindly search for the other one.
Thanks!

[2019-03-08 09:18] deepesh-ludhyani commented on #4915
Yes, sure! Actually I am facing some problems solving it, you can go ahead.

On Fri, 8 Mar 2019 at 2:34 PM, Shreya <notifications@github.com> wrote:

[2019-03-08 09:28] shreyateeza commented on #4915
@gauravano Please assign this issue to me.

[2019-03-08 09:57] uimarshall commented on #4940
Hi @gauravano i have fork the repository and clone it to my local system. I have also navigated to the folder in my text-editor but i cannot see the `read more` link in the code. Though am able to see it when i use google dev tools.
Kindly assist.

[2019-03-08 10:18] ananyaarun commented on #4938
@shreyateeza , I'm currently working on this issue :)

[2019-03-08 10:28] CleverFool77 opened #4952 "regression in tag pills for admin user."
## Description
On Admin's side -
After clicking on the tag pill to view more information, the pill's css get distorted from right side.

## Current Behaviour
![screenshot from 2019-03-08 15-51-02](https://user-images.githubusercontent.com/26685258/54023281-915ca080-41ba-11e9-9f93-478a1fb78e6e.png)

#### It stays as it is, even after closing the popup.
![screenshot from 2019-03-08 15-51-17](https:/

[2019-03-08 10:28] CleverFool77 commented on #4952
If approved, I would like to work on this issue.

[2019-03-08 11:33] siaw23 commented on #4952
Please go for it.

[2019-03-08 12:24] Souravirus commented on #4849
Hi @jywarren, I think that there is some problem with the yarn.lock which isn't being updated after adding or removing a package. I guess removing the yarn.lock from the .gitignore file might work because I guess the result of the changes in the package.json might not get updated in the yarn.lock. That's why when I deleted the typeahead package from the package.json, everyone's build failed in uns

[2019-03-08 12:55] sashadev-sky commented on #4849
@Souravirus I have noticed inconsistencies between them too, but there is a copy of yarn.lock in the remote repo? I think the configuration set up for yarn could be problematic, let me know what you think:

.yarnrc has the following:
[code]

which is saying we configured yarn so that it does not run any scripts from package.json. But when we run `yarn install`, it runs the postinstallscript in pac

[2019-03-08 12:57] sashadev-sky commented on #4849
and also in `package.json` we put yarn as an `engine`, yet in `.yarnrc` we have `--ignore-engines`

[2019-03-08 13:27] shreyateeza commented on #4614
Filled it :+1:

[2019-03-08 13:39] gauravano commented on #4915
@shreyateeza you can work on this as @deepesh-ludhyani isn't interested anymore.

@deepesh-ludhyani we're happy to find you a new issue for you if you're interested.

@karunagoyalk we can create an FTO for you if you are still finding one? Feel free to ask.

Thanks all!

[2019-03-08 13:41] #4915 closed

[2019-03-08 13:49] karunagoyalk commented on #4915
@gauravano please help me! Because as I checked all issues, somebody is working on everything

[2019-03-08 13:57] gauravano commented on #4915
@karunagoyalk will ping you shortly with an FTO. Thanks!

[2019-03-08 14:01] yash98gupta commented on #4688
@avsingh999 I have made a pull request , also attached a gif along with it .
![new](https://user-images.githubusercontent.com/30808897/54032846-bf50dd80-41d8-11e9-96a4-12ece060249e.gif)

[2019-03-08 14:01] ananyaarun opened #4954 "Change UI of Navbar for Public Lab Store page"
## Description

The UI design (mainly Navbar )of the Public Lab Store page is different from the other Public Lab pages.

## Current Behavior

UI of Public Lab Store Page

![publiclab_store](https://user-images.githubusercontent.com/32260628/54032618-2fab2f00-41d8-11e9-9b90-31a4554ec2aa.png)

UI of Public Lab pages

![publiclab](https://user-images.githubusercontent.com/32260628/54032794-9fb9b500-

[2019-03-08 14:04] gauravano commented on #4948
Hi @avsingh999, please ensure to label only those issues with `first-timers-only` which has FTO template as given here -https://github.com/publiclab/plots2/blob/master/.github/ISSUE_TEMPLATE/first-timers-issue-template.md .

As being a first-timers-friendly org, we want to ensure that all the FTO issues follow the same template so it wouldn't confuse new contributors. Thanks!

[2019-03-08 14:10] yash98gupta commented on #4932
Hello @jywarren. may i work on this issue ?

[2019-03-08 14:12] ananyaarun commented on #4954
Anyone willing can work on this issue , Else i'll take it up after finishing the other issue i'm currently working on :)

[2019-03-08 14:14] yash98gupta commented on #3712
Hi, can i work on this issue?

[2019-03-08 14:17] gauravano commented on #4954
@ananyaarun the https://store.publiclab.org/ site's code is not Open sourced and I guess the site is made using Shopify as footer suggests. We only work on publiclab.org but your suggestions for the design change can be conveyed to @publiclab/community-reps @jywarren. Thanks for thinking, I guess, we can close it, now.

[2019-03-08 14:17] #4954 closed

[2019-03-08 14:27] #4948 closed

[2019-03-08 14:37] IshaGupta18 commented on #4822
#4955 is my PR for this. @jywarren kindly review and let me know what else can be done! Thanks a lot!

[2019-03-08 15:05] Souravirus commented on #4849
Hi @sashadev-sky, the ignore-engines is done to tackle this incompatibility error:
`node-png@0.4.3: The engine "node" is incompatible with this module. Expected version "0.8.x"` which was being removed with this --ignore-engine options following this [link](https://stackoverflow.com/questions/45088031/how-to-ignore-incompatible-engine-node-error-on-installing-npm-dependencies-wi).
Also, there was

[2019-03-08 15:12] jywarren commented on #4820
Hi @Nirvikalpa108 I noticed you didn't get a response back and if you'd still like at first-timers-only issue, i'm happy to make a new one for you and reserve it. Thank you!

[2019-03-08 15:45] Chrisyee22 commented on #4932
Hi @yash98gupta. I’m actually working on this at the moment.

[2019-03-08 16:38] SidharthBansal commented on #3712
Yeah sure

On Fri, Mar 8, 2019, 7:44 PM Yash <notifications@github.com> wrote:

[2019-03-08 16:41] gauravano commented on #4932
Hi @yash98gupta , as this issue is already claimed. But, you can see we have many issues to tackle - https://github.com/publiclab/plots2/issues/ so if you dig a little, you'll find a good issue. If you are looking for your first-issue then, you can find it at https://code.publiclab.org/#r=all, if you can't find any unclaimed issue there, feel free to comment below or in Gitter channel - https://gi

[2019-03-08 17:07] gauravano commented on #4940
Hi @TANGL3SIT3S, you can collaborate with @uimarshall for solving this issue if they don't mind. I will try to open a new FTO for you too.

Hey @nazeem1988, sorry you have to wait, I will ping you soon with the FTO.

[2019-03-08 17:08] gauravano commented on #4940
Hey @shreyateeza , this issue is already claimed by @uimarshall. But, we would love to have your help with other issues, you can find more issues at https://code.publiclab.org/#r=all and if you can't find any unclaimed issue there, feel free to comment below or in the Gitter channel - https://gitter.im/publiclab/publiclab, so that we can try to help you in finding a good issue to start with or may

[2019-03-08 17:09] gauravano commented on #4940
@uimarshall I gone through your fork and the code is visible to me - https://github.com/uimarshall/plots2/blob/master/app/views/tag/blog.html.erb#L63

Are you not able to see the above line on your editor or you are not able to see any blog post on running local server?

[2019-03-08 17:18] gauravano commented on #4937
Hey @shreyateeza, this issue was created for @AnthoniaOkafor as they were searching for their first-issue with us. I can create one for you too if you are looking for a `first-timer-only` issue?  Thanks!

[2019-03-08 17:20] jywarren commented on #4947
Hi! We will soon be working a bit on dashboard redesign: https://publiclab.org/notes/edie_blues/12-13-2018/public-lab-dashboard-new-design-ideas

Ideas are coming together in https://github.com/publiclab/plots2/issues/4922 where you may want to start watching. Thanks!

[2019-03-08 17:21] jywarren commented on #4922
We will probably be starting with the People page redesign at https://publiclab.org/people -- following the mockup at the bottom of: https://publiclab.org/notes/edie_blues/01-16-2019/what-do-you-think-about-this-design-for-the-people-page

However we are going to wait on the Bootstrap 4 upgrade by @Souravirus in #3937 -- thanks!

[2019-03-08 17:24] jywarren commented on #4914
this is great. Yes, you can repoint a local copy of MK towards
localhost:3001 and replicate the forwarding and such.

On Fri, Mar 8, 2019 at 2:19 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-08 17:25] gauravano commented on #152
Great!

[2019-03-08 17:33] gauravano commented on #4936
I use Git blame for checking the history of a file. Works good for me. As Sasha mentioned, there's no change - https://github.com/publiclab/plots2/blame/1678b22d17a6bca4f4320e4efaa79df979ded005/Gemfile#L78

Anyway, I am working by adding activerecord-mysql-adapter for now. I will give try to @siaw23's link, @cesswairimu approach and @sashadev-sky's approach soon.

[2019-03-08 17:34] jywarren opened #4956 "Error on spamming a note"
I pressed the spam button on a note and got an error message; any help appreciated! Let's try to replicate this locally.

![screenshot_20190308-123306](https://user-images.githubusercontent.com/24359/54045008-68c6ad80-419e-11e9-8451-e0c64fa545d5.png)

[2019-03-08 17:39] ebarry opened #4957 "Bug: Cannot save profile edits"
Dear all,
Tiny bug here -- i have been attempting for the past two days to add some great new gifs to my profile. These gifs are really delightful IMHO.

However, after clicking the "Save" button, it turns into a spinny symbol for upwards of half an hour (haven't tested beyond that)

![spinning-edit-button](https://user-images.githubusercontent.com/161439/54045132-c5c26380-419e-11e9-9259-80484f81f

[2019-03-08 17:42] steviepubliclab opened #4958 "Bug: error when posting comments"
Hello,
I'm getting an error when I try to post comments on posts. A green error bar shows up on the top right hand side of my screen, then pulls away and I see this error on the page:

<img width="1136" alt="screen shot 2019-03-08 at 12 27 35 pm" src="https://user-images.githubusercontent.com/7490478/54045362-6d3f9600-419f-11e9-812b-b78936c8d0e4.png">

If I refresh the page the comment is there.
I

[2019-03-08 17:44] shubhscoder opened #4959 "Gem load error after pulling from master"
So, as usual I just pulled from master and as some new gems were added ran <code>bundle install</code>.
After that I ran <code>rails s</code> and got the following error :
[code]
All other branches that are not in sync with the master, work completely fine. But don't know why the latest master is failing. Any help is appreciated.
Thank you so much!

[2019-03-08 17:48] gauravano commented on #4920
I like this idea (we can think of using claimed/unclaimed, just a name change :see_no_evil: )

The Image-Sequencer used to have GitMate for labeling and it also suggests whom to contact for support. Don't know, if it has such features like adding labels based on comments. We can explore other Github integrations/bots too. Anyone in your mind?

I don't think that's good idea, as many times, contrib

[2019-03-08 17:49] gauravano commented on #4920
@sashadev-sky @jywarren @SidharthBansal

[2019-03-08 17:53] jywarren commented on #4957
Link to try this out: https://publiclab.org/profile (login required)

[2019-03-08 17:54] jywarren commented on #4958
Link to try this out: https://stable.publiclab.org/research (any note should work!) (login required)

[2019-03-08 17:56] jywarren commented on #4958
And confirmed, i had an error doing this too!

[2019-03-08 18:00] siaw23 commented on #4959
Please post the content of your `database.yml`

[2019-03-08 18:00] jywarren commented on #4959
Hi, thank you for reporting! I believe this could be related to or the same as https://github.com/publiclab/plots2/issues/4936 -- does that seem likely? Thank you!

[2019-03-08 18:07] gauravano commented on #4486
Thank you @ephemeralwaves for solving this :100: . I think with the page being created, we can close this issue.
@jywarren creating separate issue with your idea.

[2019-03-08 18:07] #4486 closed

[2019-03-08 18:07] gauravano commented on #4486
@ephemeralwaves let us know, if you face any difficulty in adding button. Thanks!

[2019-03-08 18:14] gauravano commented on #4941
@jywarren will go through the logs and try to find the reasons.

[2019-03-08 18:34] shubhscoder commented on #4959
Yes @jywarren I think this issue is duplicate. We can close this. Thank you!

[2019-03-08 18:48] ananyaarun commented on #3895
@jywarren Can u pls tell me what exactly this line means
`We could also hide the redundant map from here when the place tag is present:`
Wanted to make sure i'm understanding the issue right.

[2019-03-08 18:56] sagarpreet-chadha commented on #3895
Hi @ananyaarun ,
The small map on the sidebar shows the same information as the bigger map , hence it is redundant and it makes sense to remove it . Thanks 😄 !

[2019-03-08 19:40] Nirvikalpa108 commented on #4820
Hi @jywarren that would be amazing, thank you!

[2019-03-08 20:18] jywarren commented on #4585
Hello mentors! @publiclab/mentors @publiclab/plots2-reviewers @publiclab/reviewers

I'm hoping to help Nirvakalpa108 with a first-timers-only issue, but have to run to a meeting right now. Is someone able to try responding to them with a new one, maybe pulled from this list of candidates? https://github.com/publiclab/plots2/labels/fto-candidate

You could just mention their username or respond her

[2019-03-08 20:28] namangupta01 opened #4962 "Optimise reply by tweet Feature"

[2019-03-08 20:29] steviepubliclab commented on #4486
Great! Thank you!
-Stevie

On Fri, Mar 8, 2019 at 1:07 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-08 20:58] rexagod commented on #4820
Hi @Nirvikalpa108! Sorry for any delay, please have a look over this `fto-candidate` [here](https://github.com/publiclab/plots2/issues/4117) and let us know if we can be of any help!

Thanks!!

[2019-03-08 21:03] CoderJolly commented on #4585
Sure!!

[2019-03-08 21:07] CoderJolly commented on #4820
@Nirvikalpa108 Jst ping when you are able to select a first-timer issue and ready to contribute to it!!

[2019-03-08 21:16] gauravano opened #4963 "Create "first-timers-only" issues for newcomers"
Hi everyone!

We, at Public Lab, are known for welcoming new contributors into the Open Source world but a number of times, newcomers were not able to find `first-timers-only` issues to start their journey or face troubles making their first contribution with us.

Reasons being:
1. Lack of `first-timers-only` issues
2. Struggle in finding the good issue to start and lack of enough support?

We are

[2019-03-08 21:40] gauravano commented on #3840
have you tried https://stackoverflow.com/questions/19061774/cannot-load-such-file-bundler-setup-loaderror @RizwanSyed357?

[2019-03-08 21:53] joyofsoy opened #4964 "Unable to post new note"
I've been trying to post a new note for about half an hour. When I press Publish, it just spins but doesn't make any progress. I also tried posting in the legacy editor, but after hitting Publish, received the message ***There was an error. Are you sure you have the right address?***

[2019-03-08 21:57] gauravano opened #4965 "Adding a shortcode for button"
Simple shortcode for buttons. Something like

[button:Post a question:https://publiclab.org/questions/new]

Currently, users add buttons using HTML

Via: https://github.com/publiclab/plots2/issues/4486#issuecomment-470780719

[2019-03-08 22:06] #4959 closed

[2019-03-08 22:07] gauravano commented on #4959
Hey @shubhscoder @siaw2, you can reopen the issue for continuing the discussion here or at https://github.com/publiclab/plots2/issues/4936. Thanks!

[2019-03-08 22:09] #4681 closed

[2019-03-08 22:19] gauravano commented on #4964
I think, there is same error source behind this one, #4956 and #4958. Maybe failure of mailing system? @jywarren

[2019-03-08 22:54] sashadev-sky commented on #4920
@gauravano how did gitmate work for image sequencer? also just a note for the 1 week rule you're implementing, I think it would be good add something initially that emphasizes that this for contributors that just ghost, not ones actively asking for help. Like, "We encourage contributors to be respectful to the community and provide an update within a week of claiming an FTO. We're happy to keep th

[2019-03-08 22:58] sashadev-sky commented on #4849
@Souravirus hmm I don't know much about best practice for yarn setup, just pointing out behavior I thought was strange. But since bower is deprecated I definitely think we should remove or change the current postinstall script. Not a huge deal but don't need those extra symlinks. Perhaps a quick change just to make if you're already playing around with yarn in a PR

[2019-03-08 23:01] sashadev-sky commented on #4849
@Souravirus also I found the postinstall script to be really useful for debugging if you put a `throw e` and a conditional of your choice in there. Maybe you will know what to check for to fix your problem :)

[2019-03-08 23:37] dinaelhanan commented on #4965
@gauravano  I'd love to pick this up and I'm wondering where I'd start? Thanks!

[2019-03-08 23:38] ephemeralwaves commented on #4486
Done!

[2019-03-08 23:38] jywarren commented on #2469
Hi all, i'm closing this in favor of #4932 -- thank you all!

[2019-03-08 23:38] #2469 closed

[2019-03-08 23:39] jywarren commented on #3480
Hi @yasmindias we'd love to work with you on another issue and are posting more at https://code.publiclab.org soon. Thank you!

[2019-03-08 23:45] jywarren commented on #3480
This is reserved for @Nirvikalpa108! Thank you!

[2019-03-08 23:49] jywarren commented on #4117
Hi, I've looked at this and I think we now have a better error reporting page when things go wrong! See this screenshot for non-existent or error pages like https://publiclab.org/nothing/asdfas

![image](https://user-images.githubusercontent.com/24359/54062233-d987bd00-41d2-11e9-8411-1458c32bf8cc.png)

So I'm going to close this one, but thank you!!!!!

But I've opened a new issue for Nirvikalpa10

[2019-03-08 23:49] #4117 closed

[2019-03-08 23:56] jywarren commented on #4965
Oh hi @dinaelhanan - long time no see, and so great to see you again!

We "recognize" short codes in this file (i've highlighted a simpler one) and then use a template to render an HTML segment:

https://github.com/publiclab/plots2/blob/98d2a28028ab3b805aceb4bdd194aaed7f330b57/app/models/concerns/node_shared.rb#L284-L304

(although for this simple case of a button, we can probably be simpler and n

[2019-03-08 23:57] jywarren commented on #4965
And a good way to test out the shortcode recognition code is to use this Regular Expression testing site: https://rubular.com/

[2019-03-08 23:58] jywarren commented on #4820
Thank you everyone!!! I actually checked out #4117 and i think maybe we need a new one, sorry! So I went ahead and turned an fto-candidate into a new first-timers-only issue here: https://github.com/publiclab/plots2/issues/3480

[2019-03-09 00:00] jywarren commented on #4920
Gitmate wasn't super, it used machine learning and would get things wrong
occasionally. I think maybe another bot or service could help? I did try to
get Gitmate to only work on some things, but wasn't able to get a
configuration that seemed to work for us.

On Fri, Mar 8, 2019 at 5:55 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-03-09 00:20] jywarren opened #4966 "Make spamaway ids unique"
Our spamaway system shows these nice emoji to prevent spammers:

https://publiclab.org/signup?spamaway=true (if you're not logged in)

The code is here:

https://github.com/publiclab/plots2/blob/3d74756c6f7a1ef43dd412c06c2aba9923c98026/app/views/users/_spamaway.html.erb#L19-L21

However, we're getting a warning now that since this is loaded multiple times per page, this segment is causing a collis

[2019-03-09 01:21] #3472 closed

[2019-03-09 01:33] jywarren commented on #4964
Yes, i think that's likely. I've alerted icarito about that possibility. Thank you!

[2019-03-09 01:33] jywarren commented on #4958
Noting that this may be related to https://github.com/publiclab/plots2/issues/4957, and https://github.com/publiclab/plots2/issues/4956, due to a mailing system issue we are looking at. Thank you!

[2019-03-09 01:34] jywarren commented on #4957
Noting that this is probably not related to a mailing system issue as in https://github.com/publiclab/plots2/issues/4958, https://github.com/publiclab/plots2/issues/4956, because this action doesn't send mail. Will pull the logs on this and see... thanks for reporting!

[2019-03-09 01:41] jywarren commented on #4958
I just tested this after we restarted the mailing system and it seems to be working now, sorry for the downtime!

[2019-03-09 01:41] #4958 closed

[2019-03-09 01:42] jywarren commented on #4964
OK, this should be working again now as we've restarted the mailing system. Sorry for the downtime!

[2019-03-09 01:42] #4964 closed

[2019-03-09 01:45] jywarren commented on #4782
Ah, it looks like we can use `deliver_later` in Rails now: https://guides.rubyonrails.org/action_mailer_basics.html#calling-the-mailer

I believe we are already set up with all this!

It's worth trying -- we can try to change any instance of `deliver_now` to `deliver_later` -- try one of these! https://github.com/publiclab/plots2/search?q=deliver_now

We'd love help with this if anyone's intereste

[2019-03-09 01:46] jywarren commented on #4782
Because the default runner in ActiveJob is inline, i wonder if perhaps it won't even break the tests! https://weblog.rubyonrails.org/2014/8/20/Rails-4-2-beta1/

[2019-03-09 01:48] jywarren commented on #4956
Resolved with email system reboot!

[2019-03-09 01:48] #4956 closed

[2019-03-09 01:48] dinaelhanan commented on #4965
@jywarren sounds good. I'll be working on this tomorrow and I'll let you know if I have any issues :)

[2019-03-09 01:53] jywarren commented on #4782
Well, here's an initial test for all admin mailings: https://github.com/publiclab/plots2/pull/4967

[2019-03-09 02:44] icarito commented on #4781
Hey @dewanhimanshu sorry I didn't reply! Yes I'm talking about those!

[2019-03-09 03:52] siaw23 opened #4969 "ActionView::MissingTemplate"
We not have error reports from Sentry. Anyone can take this issue since I'm guessing there's not everyone can see these errors as they happen.

https://sentry.io/share/issue/179156b2fed24a60b2eb199657ae7d25/

[2019-03-09 03:57] shreyateeza commented on #4937
@gauravano Thanks! Yes, I want to solve a more `first-timers-only` issue. Please assign one to me!

[2019-03-09 05:30] jywarren commented on #4969
What's the best way to share the sentry issues? Security concerns w just
posting them, I'd guess? But could we get issues to open automatically from
within sentry if we wanted? Thanks!

On Fri, Mar 8, 2019, 10:53 PM Emmanuel Hayford <notifications@github.com>
wrote:

[2019-03-09 05:41] siaw23 commented on #4969
We have sensitive data censored out (passwords i know of), if there's any sensitive info other than passwords that I don't know them I think we should add them to `Rails.application.config.filter_parameters` otherwise I think we should be OK with sharing these.

[2019-03-09 06:21] Souravirus commented on #4849
Yeah, I think the postinstall script should be removed for now. If you can send a PR for it, then it would be great.

[2019-03-09 06:39] HarshKhandeparkar commented on #4963
@gauravano can do something like this on IS repo as well? Maybe it can be
pinned too?

On Sat 9 Mar, 2019, 2:46 AM Gaurav Sachdeva, <notifications@github.com>
wrote:

[2019-03-09 07:44] SidharthBansal commented on #4963
Hi, we are looking for support issues like this on each repository of
Public Lab. You can create as many ftos on IS as you want. Also it will be
greatly appreciated if you will open up
https://github.com/publiclab/plots2/wiki/Supportive-Tasks these kinds of
tasks at each repository of Public Lab. We are planning for a better
community at all the repositories.

On Sat, Mar 9, 2019 at 12:09 PM Harsh

[2019-03-09 07:50] cesswairimu opened #4970 "Make questions bar graph responsive"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-09 07:53] HarshKhandeparkar commented on #4963
I was asking if somebody can open such a supportive task issue on IS.

[2019-03-09 07:56] HarshKhandeparkar commented on #4963
Can an issue similar to the one I'm commenting on be opened in IS is and can it be pinned by someone is my question. IS also has a shortage of FTOs.

[2019-03-09 07:56] vansjyo commented on #4970
Hi, I would like to work on this isssue.

[2019-03-09 07:57] HarshKhandeparkar commented on #4963
Also I think all of the `fto-candidate` issues should be reformatted into proper `first-timers-obly` issues

[2019-03-09 07:59] cesswairimu commented on #4970
Awesome, go ahead @vansjyo

[2019-03-09 07:59] divyabaid16 commented on #4970
Can I work on this issue?

[2019-03-09 07:59] karunagoyalk commented on #4970
Hey ! I want to work on this issue

[2019-03-09 08:01] karunagoyalk commented on #4940
@gauravano Please assign me some task to me also

[2019-03-09 08:02] cesswairimu commented on #4970
Sorry @divyabaid16  and  @karunagoyalk  already claimed let me see I can create some issues for you both

[2019-03-09 08:02] vansjyo commented on #4970
Thanks @cesswairimu

[2019-03-09 08:20] divyabaid16 commented on #4970
Thank you! Please assign me some other issue. @cesswairimu

[2019-03-09 08:24] divyabaid16 commented on #4966
Can I please work on this issue?

[2019-03-09 08:29] Anjalizi commented on #4898
Hi @SidharthBansal ,
I would like to help with this, so that I can get started with this project. I would like to be assigned to this issue and would love to solve it.
I am new to this project, so can you please point me to the file that I need to change or look for. 😅
Thanks a lot 😃

[2019-03-09 08:37] cesswairimu opened #4971 "Make move back and front arrows responsive"
Created specifically for @divyabaid16
### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### 📋 Step by Step

- [ ] 🙋 **Claim this issue**: Comment below. If someone else has claimed it, ask if they've opened a pull request already and if they're stuck -- maybe you can help them solve a problem or move it a

[2019-03-09 08:37] Anjalizi commented on #4971
hi, i would like to take up this issue.

[2019-03-09 08:51] cesswairimu opened #4972 "Align download as buttons on smaller screens"
Created specifically for @karunagoyalk
### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### 📋 Step by Step

- [ ] 🙋 **Claim this issue**: Comment below. If someone else has claimed it, ask if they've opened a pull request already and if they're stuck -- maybe you can help them solve a problem or move it

[2019-03-09 08:53] GettyOrawo commented on #4971
Has anyone claimed this?

[2019-03-09 08:59] cesswairimu commented on #4971
Was created for @divyabaid16 unless he wants to give it up to someone else

[2019-03-09 08:59] cesswairimu commented on #4972
@karunagoyalk here you go

[2019-03-09 09:11] GettyOrawo commented on #4972
Hello @cesswairimu has is this issue already claimed?

[2019-03-09 09:20] GettyOrawo commented on #4969
If I can find a way to reproduce this error, I can work on this. Is it claimed already? @siaw23

[2019-03-09 09:23] GettyOrawo commented on #4966
Hey @divyabaid16 there's[ this](https://github.com/publiclab/plots2/issues/4971)  isuue that's already assigned to you. Mind if i work on this one?

[2019-03-09 09:28] divyabaid16 commented on #4971
Thank you @cesswairimu
I'm looking forward to work on this.

[2019-03-09 09:44] cesswairimu commented on #4971
@gettyorawo @Anjalizi will try get issues for u both later today

[2019-03-09 09:51] HarshKhandeparkar commented on #4963
@gauravano I have opened an issue in IS https://github.com/publiclab/image-sequencer/issues/842. I have based it on your template for this issue. I hope you don't mind.

[2019-03-09 09:54] GettyOrawo commented on #4971
Alright will be waiting. Thank you!

[2019-03-09 10:00] cesswairimu commented on #4603
@gettyorawo could you be interested of working on this? You could make a PR for `static design just listing all tags and the number of subscribers in the right-hand list` on `/stats/subscriptions`

[2019-03-09 10:07] IshaGupta18 commented on #4603
Hey @cesswairimu I am so sorry for my inactivity on this one. @GettyOrawo could start with a small PR if they are interested and then maybe I could take on the interactive parts? This way we can work more efficiently. I am here to help in any case! Thanks a lot!

[2019-03-09 10:11] GettyOrawo commented on #4603
Hey @cesswairimu and @IshaGupta18 sure I will take this up

[2019-03-09 10:13] IshaGupta18 commented on #4603
@GettyOrawo let me know if you need any help! You could actually divide it into even smaller PRs, like writing the logic for getting tags into each interval and then another PR for displaying it. This way, it will be easier for us to review. What do you think?

[2019-03-09 10:23] cesswairimu commented on #4603
No worries @IshaGupta18 yeah we will leave the interactive parts to you will create a checklist for this. Thanks

[2019-03-09 10:37] EngrEric commented on #4943
i am  new, but i think i can fix the issue with js.

[2019-03-09 10:39] GettyOrawo commented on #4603
Thank you much @IshaGupta18 I will reach out whenever I'm stuck

[2019-03-09 10:41] EngrEric commented on #4937
@gauravano  please create similar issue to for me.

[2019-03-09 10:43] GettyOrawo commented on #4603
And good job on the designs. They are awesome!

[2019-03-09 11:40] sashadev-sky commented on #4849
@souravirus will do

[2019-03-09 13:11] gauravano commented on #4972
Hey @GettyOrawo, this issue was created for @karunagoyalk as they were searching for an issue to take on. Are you looking for a FTO?

[2019-03-09 13:13] gauravano commented on #4937
hey @shreyateeza @EngrEric, added your name to the list -https://github.com/publiclab/plots2/issues/4963. Will ping you shortly with a issue

[2019-03-09 13:15] gauravano commented on #4943
@peteroupc would you be solving this issue or @EngrEric can try this issue? Thanks!

[2019-03-09 13:17] jywarren opened #4973 "Javascript buttons not working across site"
It looks like jQuery may be not loaded or could be loaded twice, not sure, but in any case the header buttons and other JavaScript across the site are currently broken, unfortunately. We'd love help solving this urgently! Thanks!

[2019-03-09 13:22] GettyOrawo commented on #4973
Looks like a quick fix @jywarren can I take it up?

[2019-03-09 13:24] gauravano commented on #4963
Hey @HarshKhandeparkar, thanks for opening this issue in Image Sequencer :100: :rocket:

[2019-03-09 13:26] jywarren commented on #4973
Oh goodness that'd be great, even just copying in whatever errors we see
would be helpful.

This can often happen when jQuery is included twice but it may not be easy
to tell that that's happened. But any insight is welcome and appreciated
thank you!!!

On Sat, Mar 9, 2019, 8:22 AM GettyOrawo <notifications@github.com> wrote:

[2019-03-09 13:26] siaw23 commented on #4969
I have looked at this error yet as there are many others but you can take a shot @GettyOrawo

[2019-03-09 13:27] peteroupc commented on #4943
In my opinion, issues like lack of input sanitization should be solved by having a dedicated library (such as Nokogiri) generate the HTML code rather than writing such code directly.  This not only applies to the issue I found, but anywhere HTML code is generated.

I don't know how exactly to solve the issue with queries in quotation marks, since I didn't find the cause of the error yet.

Also, th

[2019-03-09 13:27] gauravano commented on #4966
hey @GettyOrawo, you can start working on this as @divyabaid16 has started with #4971 as per their [comment](https://github.com/publiclab/plots2/issues/4971#issuecomment-471161516) . You both can also work on this together, totally up to you. Thanks!

[2019-03-09 13:31] gauravano commented on #4940
hey @karunagoyalk, you got your FTO - https://github.com/publiclab/plots2/issues/4972 right?

[2019-03-09 13:31] GettyOrawo commented on #4973
Alright I'll let you know if I hit any blockers.

[2019-03-09 13:35] jywarren commented on #4973
Thank you so much!!!

On Sat, Mar 9, 2019, 8:32 AM GettyOrawo <notifications@github.com> wrote:

[2019-03-09 13:44] CleverFool77 commented on #4952
I'm bit busy in hackathon 😅, so it might take a day or two in making a PR. Thank you

[2019-03-09 13:48] coderbeetle commented on #4963
Hello! I actually am pretty new to GitHub and it's kind of confusing to me, in the sense that I want to contribute to projects but I don't know where to start. Could you please add my name to this list too?

[2019-03-09 13:49] karunagoyalk commented on #4972
@cesswairimu @gauravano thanks! I will work on it

[2019-03-09 13:50] HarshKhandeparkar commented on #4963
Ya sure! You are always welcome. Btw, which language/framework/anything are
you interested in/good at? If ruby is your cup of tea, then we can add your
name here, otherwise you can check some other PL repo and we can introduce
you to that community. Thanks.

On Sat 9 Mar, 2019, 7:18 PM Christine, <notifications@github.com> wrote:

[2019-03-09 13:52] GettyOrawo commented on #4973
hey @jywarren I can't seem to reproduce this behaviour. What buttons aren't responding?

[2019-03-09 13:53] gauravano commented on #4920
@sashadev-sky agree on this.

Let's add it to our first-timers-only template - https://github.com/publiclab/plots2/blob/master/.github/ISSUE_TEMPLATE/first-timers-issue-template.md

Feel free to open PR or should I?

[2019-03-09 13:56] gauravano commented on #4486
:100:

[2019-03-09 14:15] jywarren commented on #4973
Ah, if you click the word profile in the navbar, it should open a menu. Try
it on the live site maybe? If it's not happening in your local copy that's
a clue! Then maybe somehow it could relate to our JavaScript assets
compilation when we publish.

On Sat, Mar 9, 2019, 8:53 AM GettyOrawo <notifications@github.com> wrote:

[2019-03-09 14:16] jywarren commented on #4952
Thanks!!

On Sat, Mar 9, 2019, 8:44 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-03-09 14:21] gauravano commented on #4898
hey @Anjalizi, we would love to have your help.

So, what's happening is:
If we login via modal then all goes fine but if we login via /login page then we are shown this alert -
![Screenshot from 2019-03-09 19-49-54](https://user-images.githubusercontent.com/20878070/54072710-91d16600-42a4-11e9-9578-c9573be88c57.png) as return_to tries to take us to /login page again after logging in.

So, we can

[2019-03-09 14:23] GettyOrawo commented on #4973
oh. It works fine locally. Though on the live site even login doesn't respond. I should try track down why that's the case

[2019-03-09 14:39] Anjalizi commented on #4898
thank you. i shall look into this.

[2019-03-09 14:41] gauravano commented on #4973
Hey @jywarren, how about reverting this for now - https://github.com/publiclab/plots2/pull/4904/files#diff-a9c3bd311eab80c9ebe6a69830f9ad02R18 as the module is not loaded - https://travis-ci.org/publiclab/plots2/builds/503876232#L3253?

[2019-03-09 14:49] jywarren commented on #4973
But @gauravano  I believe we solved that because @icarito manually ran yarn
install, but I am also afraid to revert all of it since it was
unfortunately not squashed for some reason and will it undo a lot of
previous commits?

What if we merge this? https://github.com/publiclab/plots2/pull/4968

On Sat, Mar 9, 2019, 9:42 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-09 14:59] coderbeetle commented on #4963
@HarshKhandeparkar Hey, thanks! And sorry I forgot to mention that ^^ Ruby is great, I'm not too experienced with it but I'm up for the challenge! Anything Java or Javascript would also be great.

[2019-03-09 15:01] HarshKhandeparkar commented on #4963
@coderbeetle I will add your name here but there's also another one of these issue in one of publiclab's JS repos 'image-sequencer'. Shall I add your name there as well?

[2019-03-09 15:03] HarshKhandeparkar commented on #4963
Also there are many other JS repos, the majority of publiclab repos are JS, you can check them out as well.

[2019-03-09 15:22] shreyateeza commented on #4937
@gauravano You have added my name in it. Please assign me an issue to work on.

[2019-03-09 15:42] shreyateeza opened #4974 "Grammatical mistakes in README.md"
# Description
1. "It features a variety of features" can be replaced with "It showcases a variety of features".
2. "We :heart: Open Source and actively participates in various OSS programs" needs to be replaced with "We :heart: Open Source and actively participate in various OSS programs".

[2019-03-09 15:43] shreyateeza commented on #4974
@SidharthBansal Please validate this issue and assign it to me as a part of my outreachy contribution.

[2019-03-09 15:45] shreyateeza commented on #4974
@gauravano @Souravirus please assign this issue to me.

[2019-03-09 15:46] SidharthBansal commented on #4974
Go ahead!!!

On Sat, Mar 9, 2019, 9:15 PM Shreya <notifications@github.com> wrote:

[2019-03-09 15:56] shubhscoder commented on #4759
@jywarren I think the following could work well,
1. The user goes to the link
2. He  needs to signup (We have his current link in params[:return_to]
3. After signup, we process the link to get the tag names out and subscribe the user to those tags (With no redirection to /subscriptions ?)
4. The user lands on the dashboard page, gets a popup saying welcome to public labs, etc.
5. After that we sho

[2019-03-09 15:57] shubhscoder commented on #4974
Hi @shreyateeza , you can just make a pull request for this one and reference this issue there. Thank you so much!

[2019-03-09 16:20] jywarren commented on #4973
Aha! @GettyOrawo your observation that it works locally was key here, thank you! I think i got it:

In Travis, we see:

[code]

and actually in local, the same shows in the console. But in development mode each file is added separately, so that only interrupts the debounce library loading, no other JS file. In production, all are compiled into one giant JS file, and so that error interrupts almost

[2019-03-09 16:35] jywarren commented on #4973
https://github.com/component/debounce/pull/27

[2019-03-09 16:39] jywarren commented on #4973
fix in https://github.com/publiclab/plots2/pull/4976 --- confirmed this locally and will push to stable for final checks!

[2019-03-09 16:39] jywarren commented on #4973
We'll switch back to the main debounce library away from my temporary fix if they pull in my pull request 😄

Thanks again to @GettyOrawo and @gauravano -- fingers 🤞 here but I think we got this 🙌

[2019-03-09 16:40] #4973 closed

[2019-03-09 16:45] GettyOrawo commented on #4973
Yes makes perfect sense. Let's wait on it !

[2019-03-09 16:47] GettyOrawo commented on #4973
I figured removing the module variable doesn't affect anything else but clears the error. But that may be risky since I'm not completely aware why it was put there! Thank you though, I learnt a thing or two in this.

[2019-03-09 17:14] jywarren commented on #4973
😄 yeah -- me too! The module variable is used in CommonJS format when we can include a JS file or package into another using `require(path)`. But here, we don't have Rails set up to do that (yet??? 😄 ) so we have to treat it like it's just directly being used in the browser. We honestly don't often have these issues, but our JS in this project is starting to need some tidying up as it gets more co

[2019-03-09 17:36] jywarren commented on #4920
I like assigned unassigned! One issue is that claimed FTOs take up space on code.publiclab.org, so maybe a fto-claimed label could let us show only unclaimed ones, or at least distinguish between ones being used already... We could also make it show ones without recent activity differently...?

[2019-03-09 17:38] jywarren commented on #4920
The in progress ones we could say "no open FTOs? Help someone else finish theirs!" Or something...?

[2019-03-09 18:02] ananyaarun opened #4977 "Add new line character to the message displayed on dashboard"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-09 18:04] ananyaarun commented on #4977
@publiclab/plots2-reviewers Kindly review and label this issue for first timers.

[2019-03-09 18:26] SKashyapD commented on #4660
I am really excited to complete zooniverse project and semantic segmentation part  @jywarren please give me some inputs so that i can start working and I will try complete all this as soon as possible.
@Zengirl2 please give me that tutorial video it will help me a lot.

[2019-03-09 18:45] ananyaarun opened #4978 "Update CONTRIBUTING.md to add links to issue templates"
## Description
Currently the issue templates for first timer issues and other issues are present in the .github folder.
It would be nice to have links to these from the CONTRIBUTING.md file.
## Solution
Add links to issue templates in the Bug reports and troubleshooting section in the CONTRIBUTING.md file.

[2019-03-09 18:46] ananyaarun commented on #4978
I'd like to work on this issue after review.

[2019-03-09 18:52] gauravano commented on #4973
@jywarren I am a little confused here - how that unstable build - https://jenkins.laboratoriopublico.org/job/Plots-Unstable/549/ passed if you fixed the debounce one after that push?

As in unstable build logs, it seems module got installed properly with just @icarito's PR(without your patch being included), so why do you changed the package to point to your patch instead?

[2019-03-09 18:56] gauravano commented on #4917
Anyone interested in opening the upcoming week's check-in?

[2019-03-09 18:58] gauravano commented on #4978
hey @ananyaarun, go ahead :+1:

[2019-03-09 19:31] gauravano commented on #4977
@publiclab/community-reps agree with the design?

[2019-03-09 19:33] gauravano commented on #4920
@jywarren so until we find a bot I think we can label issues as `claimed` or `unclaimed` ourselves?

[2019-03-09 19:36] #4974 closed

[2019-03-09 20:00] gauravano opened #4979 "Change cursor to pointer on hover over the wiki "changes" link"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-09 20:00] gauravano commented on #4979
This issue is created for @shreyateeza. Thanks!

[2019-03-09 20:01] gauravano commented on #4937
hey @shreyateeza sorry for the delay. I have created one for you at https://github.com/publiclab/plots2/issues/4979 . Thanks!

[2019-03-09 20:03] Divy123 commented on #4937
@gauravano please look into gitter chat.
I have messaged you privately and its urgent.

[2019-03-09 20:17] corbettbw commented on #4979
May I give it a try?

[2019-03-09 20:25] gauravano commented on #4979
hey @corbettbw, this issue is created for @shreyateeza as they were waiting for the right issue to start with. I can also create a FTO for you, if you want? Thanks!

[2019-03-09 20:29] corbettbw commented on #4979
Oh, no worries! And yes, that would be great! Thanks!

[2019-03-09 20:46] madeofhuman commented on #4979
I'd love an FTO as well, @gauravano. 😃 Thank you.

[2019-03-09 20:49] madeofhuman commented on #4977
I'd love to work on this, @gauravano.

[2019-03-09 20:54] gauravano commented on #4977
Although, we are waiting for a word from @publiclab/community-reps but you can go ahead. Thanks!

[2019-03-09 21:01] EngrEric commented on #4937
@gauravano please i am waiting for my own too

[2019-03-09 21:52] gauravano opened #4980 "Remove background from wiki links shown on profile sidebar"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-09 21:53] gauravano commented on #4980
This issue is created for @EngrEric. Thanks!

[2019-03-09 21:54] gauravano commented on #4937
@EngrEric here's one for you - https://github.com/publiclab/plots2/issues/4980. Please claim. Thanks!

[2019-03-09 22:28] cassianoblonski commented on #4963
I would love to help with Ruby, currently i'm on internship/junior level and trying to contribute in open source projects to sharp some skills like reading others code, test and code to production. But I can help with some HTML, CSS, Python(flask), and translations from English to Portuguese Brazil, thanks in advance.

[2019-03-09 22:30] EngrEric commented on #4980
Thanks

[2019-03-09 23:18] madeofhuman commented on #4977
@gauravano I ran into a problem when setting up the repo on my system. I followed the instructions up to `rake db:setup` where I got the error `Mysql2::Error: The used table type doesn't support FULLTEXT indexes`, which on further tracing, led me to `db/schema.rb:58`:
[code]
 I also got a notification to add Mysql2 to my Gemfile.

Now, the problem is that I ran bundle install with `--without produ

[2019-03-09 23:55] govindjeevan commented on #4979
Hello! Can I have a FTO issue too please?

[2019-03-10 00:35] madeofhuman commented on #3840
I ran into a problem when setting up the repo on my system. I followed the instructions up to `rake db:setup` where I got the error `Mysql2::Error: The used table type doesn't support FULLTEXT indexes`, which on further tracing, led me to `db/schema.rb:58`:
[code]
 I also got a notification to add Mysql2 to my Gemfile.

Now, the problem is that I ran bundle install with `--without production mysql

[2019-03-10 02:59] shreyateeza commented on #4979
@gauravano Thanks! I am working on this.

[2019-03-10 07:36] #4978 closed

[2019-03-10 07:45] gauravano commented on #4979
hey @corbettbw and @govindjeevan, added your name to https://github.com/publiclab/plots2/issues/4963 list and will open FTO for you soon. Thanks!

[2019-03-10 07:51] gauravano commented on #4977
@madeofhuman feel free to open a new issue for this, so that other can also help us in resolving this issue. Also, we are having some discussion about database errors and using a single database, you are welcome to chime there.

Here are the links- https://github.com/publiclab/plots2/issues/4936, https://github.com/publiclab/plots2/issues/4919, https://github.com/publiclab/plots2/issues/4896 .

Th

[2019-03-10 08:05] madeofhuman commented on #4936
I ran into this problem when setting up the repo on my system. I tried tracing it to get more details and saw the error `Mysql2::Error: The used table type doesn't support FULLTEXT indexes`. Tracing that further led me to `db/schema.rb:58`:
[code]
I traced the error further and got to the file `config/initializers/abstract_mysql2_adapter.rb`. When I commented out the contents of this file and ran

[2019-03-10 08:07] madeofhuman commented on #4977
@gauravano I see you had the same problem in #4936. I added mine (and my solution) as a comment to it. Thanks for pointing that out to me.

[2019-03-10 11:35] CleverFool77 opened #4986 "The Dropdown menu goes out of screen"
## Description
The dropdown menu for adding tags in about page is going off screen from admin's side.

![aa](https://user-images.githubusercontent.com/26685258/54084411-23e57700-4356-11e9-80a9-cfa189d3b275.gif)

## Expected Behaviour
The drop-down menu should be inside the screen without the need of scrolling to see it.

[2019-03-10 11:46] CleverFool77 opened #4987 "The popover does not close down unless clicked specifically again"
I found this issue while trying to solve the issue #4985 #4986
## Description
The popover opens when tag pill is clicked, but it does not closes down unless clicked specifically again on same pill. If a new tag is added or user clicks on any other thing, it still doesn't close down.

## Current Behaviour
![Screenshot from 2019-03-10 19-37-59](https://user-images.githubusercontent.com/26685258/5408

[2019-03-10 12:43] CleverFool77 commented on #4952
@jywarren My hackathons were done, So i opened a PR. Thanks.

[2019-03-10 12:57] CleverFool77 commented on #152
@jywarren @gauravano I had a question.
Isn't the difference between notes and wiki already specified as the notes are specified in one place whereas wikis have different column given to them.
Or is there any other page which I might be unaware of or I'm not looking at, where there is no distinction ?

[2019-03-10 13:22] gautamig54 commented on #4922
Hello @jywarren!! Looking forward to contributing to this issue!

[2019-03-10 13:27] gautamig54 commented on #4940
Hello @gauravano !!
I have been looking at various issues but all of them seem to be assigned. Can you assign me an issue also!

[2019-03-10 13:37] CleverFool77 opened #4989 "[Need Discussion] Fix the size of image with fixed height and width"
## Description
I needed suggestion regarding this issue. I saw that the images does not have fixed width and height. If a user uploads a vertical image, it would not have uniformity with other images.

![Screenshot from 2019-03-10 18-32-35](https://user-images.githubusercontent.com/26685258/54085754-577ccd00-4367-11e9-9a57-4d3ed0ffe8e4.png)

## Expected
We can fix this, by setting the fixed size o

[2019-03-10 13:40] daddyjab commented on #4979
Hi, @guavarano, I'd love to work on a FTO for this project,  too!

[2019-03-10 13:41] CleverFool77 commented on #4989
If approved and is not considered as first-timer issue , then I would like to work on this.

[2019-03-10 14:11] gauravano commented on #4989
Hey @CleverFool77!

I think, we had this type of issue in the past. I tried to search but wasn't able to find much.
Let's discuss and close this - https://github.com/publiclab/plots2/issues/4120 one too.

The first image of your issue :point_down:

![Screenshot from 2019-03-10 18-32-35](https://user-images.githubusercontent.com/26685258/54085754-577ccd00-4367-11e9-9a57-4d3ed0ffe8e4.png)

is added

[2019-03-10 14:13] #4952 closed

[2019-03-10 14:21] ChinwenduSilvia commented on #4424
Hello, I'm a first-timer here, who has claimed this issue?

[2019-03-10 14:24] gauravano commented on #4987
Hi @CleverFool77, you are doing awesome work with all the bug fixes, issues, etc  :100: . How about opening some FTO to welcome new people, as many people are waiting for getting started - https://github.com/publiclab/plots2/issues/4963?

Thanks!

[2019-03-10 14:43] CleverFool77 commented on #4987
Sure @gauravano :).

[2019-03-10 14:49] #4986 closed

[2019-03-10 14:50] gauravano commented on #4987
Awesome!

[2019-03-10 15:24] CleverFool77 opened #4990 "Improve the UI of readmore blogs button"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-10 15:25] CleverFool77 commented on #4990
@gauravano Is this issue correct ?

[2019-03-10 15:30] gauravano commented on #4990
You have to add link to the line of code new contributor has to modify and what should be the new design.

[2019-03-10 15:39] gauravano opened #4991 "Fix comment design"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-10 15:40] gauravano commented on #4991
This issue is created for @nazeem1988. Thanks!

[2019-03-10 15:47] #28 closed

[2019-03-10 15:49] siaw23 commented on #137
Closing. Gone stale.

[2019-03-10 15:49] #137 closed

[2019-03-10 15:50] siaw23 commented on #4962
Any errors? Or pointers where I can have a look?

[2019-03-10 15:53] gauravano opened #4992 "Add tooltip over delete button of comment"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-10 15:53] gauravano commented on #4992
This issue is created for @cassianoblonski. Thanks!

[2019-03-10 16:00] gauravano opened #4993 "Add "Pick a reaction" text to reaction dropdown on comment"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-10 16:00] gauravano commented on #4993
This issue is created for @TANGL3SIT3S. Thanks!

[2019-03-10 16:05] gauravano commented on #4963
hey @cassianoblonski, I have created a FTO for you at https://github.com/publiclab/plots2/issues/4992. But, we would also love to have your help on the Translation front - https://www.transifex.com/publiclab/publiclaborg/. Thanks!

[2019-03-10 16:47] letnewKid commented on #4993
Hello, I'm new to this codebase and to contributing to open source. Is this issue already claimed and if so can I assist?

[2019-03-10 16:48] CleverFool77 commented on #4990
Ohk. I'll add it.

[2019-03-10 17:16] ananyaarun commented on #4938
@jywarren I have been trying to find a way to extract the tag names from the script to link it to the graph accordingly based on which bar is clicked. I had a discussion with @cesswairimu  as well regarding this. At the moment i am able to link the graph to the tags page but not the specific tag. Any ideas on how i can proceed with this issue ? Thanks :)

[2019-03-10 17:38] ananyaarun opened #4995 "Bootstrap tooltip data placement parameter is wrong"
## Description
The comment pop up on hovering over the navbar in the donate page goes out of screen.

## Current Behavior
![new2old](https://user-images.githubusercontent.com/32260628/54088927-21504500-4389-11e9-9f62-796c41d35754.png)

## Expected Behavior
The pop up comment stays within the screen.
This can be achieved by changing the placement parameter from 'top' to 'bottom'.

[2019-03-10 17:38] ananyaarun commented on #4995
I'd like to fix this issue :)

[2019-03-10 17:44] ryzokuken commented on #28
@siaw23 aww.

[2019-03-10 17:47] CleverFool77 commented on #4990
@gauravano Updated the issue :)

[2019-03-10 18:32] pdurbin commented on #4329
This bug hit my radar today because I asked if anyone could fix that bad link (404) to https://publiclab/chat at https://publiclab.org/notes/warren/02-28-2019/call-for-summer-of-code-2019-proposals

[2019-03-10 18:40] gauravano commented on #4329
Actually, the alert shows that only admins, moderators, and co-authors can edit the page as a privilege but after going through Git blame- https://github.com/publiclab/plots2/blame/770b661d1c9b740693ff1e118cfcd56416cffa9b/app/controllers/notes_controller.rb, it looks like moderators were never given the privilege to edit the research note.

So, it's a question for @jywarren @publiclab/community-re

[2019-03-10 19:20] gautamig54 commented on #4995
@ananyaarun I am able to solve this issue and have created PR

[2019-03-10 19:31] ananyaarun commented on #4995
@gautamig54 Hi, I have solved this issue while creating it itself :) was waiting for @gauravano to approve of the issue to open my PR. Thanks! If this is your first time contributing look for some First timers issue. Claim it, get it assigned and then make your PR. Good luck :+1:

[2019-03-10 20:01] cesswairimu opened #4997 "Clean up en.yml"
Created specifically for @Anjalizi

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### 📋 Step by Step

- [ ] 🙋 **Claim this issue**: Comment below. If someone else has claimed it, ask if they've opened a pull request already and if they're stuck -- maybe you can help them solve a problem or move it alo

[2019-03-10 20:02] cesswairimu commented on #4997
@Anjalizi here you go.

[2019-03-10 20:16] cesswairimu opened #4998 "Make `per-week` frequency on graph dynamic"
![per_week](https://user-images.githubusercontent.com/17081074/54090862-beab7900-4389-11e9-9385-7b131736dbaa.png)
This should be per week in this period based on the range selected

[2019-03-10 20:19] Anjalizi commented on #4997
thank you. I shall start with this :)

[2019-03-10 20:31] gautamig54 commented on #4995
@ananyaarun thanks!

[2019-03-10 20:34] gautamig54 commented on #4963
Hello, I am looking for a first timer only issues. Can someone assign an issue to me as well?

[2019-03-10 20:38] cesswairimu opened #4999 "Getting uninitialized constant ApplicationController::Raven"
I have been getting this error since 3 days ago after I pulled master. Any one experiencing this?

![raven](https://user-images.githubusercontent.com/17081074/54091145-6fffde00-438d-11e9-9ada-6cce34cace70.png)

Any ideas @gauravano @SidharthBansal @siaw23
@publiclab/reviewers @publiclab/plots2-reviewers

[2019-03-10 20:46] #4999 closed

[2019-03-10 21:02] cesswairimu opened #5001 "Link to main stats page on tag stats page"
Created specifically for @gautamig54
### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### 📋 Step by Step

- [ ] 🙋 **Claim this issue**:

- [ ] 📝 **Update**:
Add link to stats main page on
https://github.com/publiclab/plots2/blob/master/app/views/tag/stats.html.erb

Update
After line https://github.com/pu

[2019-03-10 21:03] gautamig54 commented on #5001
@cesswairimu thanks! I will start working in this issue :)

[2019-03-10 21:11] Nirvikalpa108 commented on #3480
Hi @jywarren, thank you so much for reserving this issue for me! This is perfect as I really want to learn about testing!

I am still at the very beginning of my coding journey so I'm finding the syntax quite intimidating.

I appreciate the link from the general rails testing docs, is there a particular section or another article or two that could help me get to grips with this issue?

Alternative

[2019-03-10 21:26] Danielshow commented on #4917
I will love to contribute to this project as well as review some PR's. A Junior Ruby on Rails developer here.

[2019-03-10 21:27] gautamig54 commented on #5001
I have created a PR solving this issue.

[2019-03-10 22:35] EngrEric commented on #4980
@gauravano, I am trying to setup the project locally on my computer but has this error
`Gem::LoadError: mysql2 is not part of the bundle. Add it to your Gemfile.`

[2019-03-11 03:14] emestabillo commented on #4963
Hi there! I'm new to publiclab and would like to contribute to the repo. I have some experience with RoR and CSS. Not sure if I need to be assigned an issue as a newcomer. I'll look at the list as well. Thank you!

[2019-03-11 04:16] CleverFool77 opened #5004 "Increase the size of tag"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-11 04:31] CleverFool77 opened #5005 "Align the section"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-11 05:09] Jaya738 commented on #4997
Is there anyone already done with this

[2019-03-11 05:10] Jaya738 commented on #4997
please review my changes and accept the pull request

[2019-03-11 05:13] Jaya738 commented on #4993
Is this issue claimed or I can still work on it?

[2019-03-11 05:16] Jaya738 commented on #5004
can I work on this?

[2019-03-11 05:25] cesswairimu commented on #4997
Sorry @Jaya738 @Anjalizi is working on this one

[2019-03-11 05:58] CleverFool77 commented on #5004
@Jaya738 I'm not sure whether this issue will get approved. If yes, then you can :).

[2019-03-11 12:33] gauravano commented on #5004
@jywarren I think we can try a little bigger size. What do you think?

@CleverFool77 nice work.  please add the link to the file to be changed. Thanks!

[2019-03-11 12:42] gauravano commented on #4997
hey @cesswairimu, thank you for opening FTOs, please also update the list - https://github.com/publiclab/plots2/issues/4963#issue-418960660 whenever you create a FTO for a contributor so all of us can know. Thanks again :100:

[2019-03-11 12:48] cassianoblonski commented on #4963
Thanks very much, and i'll glad to help you with the translation, when ready just point me.

[2019-03-11 12:57] gauravano commented on #4993
Hi @letnewKid @Jaya738 this issue is assigned to @TANGL3SIT3S as they were waiting for their FTO for some time. But, we would love to have help from both of you too.

@Jaya738 I think you got FTO to work with, right?

@letnewKid you can work with @@TANGL3SIT3S on this one, if they don't mind. Or, I can create a new FTO for you too. Thanks!

[2019-03-11 13:01] gauravano commented on #5005
@GettyOrawo you were looking for an issue, right? You can start with this one. Thanks!

[2019-03-11 13:08] gauravano commented on #4980
Hi @EngrEric, we are working on solving this issue. You can try some temporary fixes given here - https://github.com/publiclab/plots2/issues/4936 in the meantime. Sorry for the inconvenience.

[2019-03-11 13:19] gauravano commented on #4963
@emestabillo added your name to the above list and we'll mention you soon. Thanks!

[2019-03-11 13:22] gauravano commented on #4917
Welcome @Danielshow! We would also love to have your help with issues - https://github.com/publiclab/plots2/issues (We just crossed 500 :open_mouth: ) and there are many [PRs](https://github.com/publiclab/plots2/pulls) to review too.

Let us know if you need any help. Thanks!

[2019-03-11 13:27] cesswairimu commented on #4963
Assigned one to @gautamig54

[2019-03-11 13:33] gauravano commented on #4995
hey @ananyaarun, as tooltips for all the options open at top on wiki so instead of changing the position, do you think we can work to change the width of the tooltip to accommodate the text in minimum lines?

[2019-03-11 13:35] gauravano commented on #4995
Also, this bug comes when there is no main image on the wiki so we might want to ignore it. Let's ask @jywarren as they spend many hours on the website.

Thanks!

[2019-03-11 13:35] letnewKid commented on #4993
@gauravano I'm an outreachy applicant and I guess don't know if it counts if I work with someone when I record my contribution. But I will reach out to @TANGL3SIT3S.

[2019-03-11 13:37] CleverFool77 commented on #4917
@gauravano I would like to be part of this.
I'm more of into frontend so I can review the frontend part and code quality.

[2019-03-11 13:38] gauravano commented on #4993
Oh! Let's not complicate the case for Outreachy organizers. I will create a separate issue for you.  Added your name to the list - https://github.com/publiclab/plots2/issues/4963 and will ping you soon. Thanks!

[2019-03-11 13:39] Harshithpabbati commented on #4917
@CleverFool77 sure you can review pr's.
Thanks for the help :)

[2019-03-11 13:40] srujana121 commented on #4963
Hello, Can you guide me to a first timer issue?

[2019-03-11 13:41] ananyaarun commented on #4995
@gauravano Even i thought this problem goes if a main image is present, but that isnt the case as seen here in the public labs site.
![mainpage](https://user-images.githubusercontent.com/32260628/54128036-2963bf80-4431-11e9-809d-7ec7fac933d5.png)

Sure changing the width is indeed a great idea but only the content in the tooltip varies so which would be optimal is a bit of trial and error.

[2019-03-11 13:42] letnewKid commented on #4993
Thank you so much Gauravano.

[2019-03-11 13:42] cesswairimu commented on #4963
@srujana121 added your name to the list

[2019-03-11 14:08] CleverFool77 commented on #4917
Sure @Harshithpabbati  :). I just need to test the PRs locally and comment down the suggestions/changes or give my review right.

[2019-03-11 14:10] Harshithpabbati commented on #4917
Yeah or else for frontend part you can ask them the screenshot.
Thanks.

[2019-03-11 14:12] steviepubliclab opened #5008 "profile page links not working"
Hello,
I recently used some of the hyperlinks on top of a profile page and found they were not working. Specifically these ones:

<img width="741" alt="Screen Shot 2019-03-11 at 10 10 03 AM" src="https://user-images.githubusercontent.com/7490478/54130087-1d064500-43e6-11e9-96e7-13afce6b46dc.png">

They bring you to this error page:

<img width="1034" alt="Screen Shot 2019-03-11 at 10 09 51 AM" src

[2019-03-11 14:16] CleverFool77 commented on #4995
But I guess the screenshot you showed is the one popup which is having maximum content length. Others are usually small :thinking: . So it might not matter if you set the width according to it, I guess. I'm not sure, Its an opinion.

[2019-03-11 14:20] divyabaid16 opened #5009 "Change color of icons on hover"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-11 14:21] divyabaid16 commented on #5009
@gauravano Is this issue fine?

[2019-03-11 14:25] jywarren commented on #4962
Yes, a few places - optimization is detailed here: https://github.com/publiclab/plots2/pull/3175#discussion_r263211966

but as to functionality I'm not sure, I do believe we saw a Sentry error for it at one point -- here:

* https://sentry.io/share/issue/cd87dd7040b945eca26c906f3f963a5a/
* https://sentry.io/share/issue/e87f95381f20461e835efea1941eabe1/

[code]

That's on this line: https://github.

[2019-03-11 14:25] madeofhuman commented on #5008
Can I work on this if nobody is picking it?

[2019-03-11 14:30] jywarren commented on #4997
Yes, thank you @cesswairimu and @gauravano you're both doing tremendous
work here! And welcome, everyone!

On Mon, Mar 11, 2019 at 8:42 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-11 14:32] jywarren commented on #5004
Yes we could work on this! Actually that code is stored in the database, not the codebase, but i've made a copy here you can work on. Once it's complete we can copy it back to the admin interface where it's stored, so ping me!

https://publiclab.org/wiki/sandbox-3

[2019-03-11 14:38] dinaelhanan commented on #4965
Hey @jywarren I'm not understanding lines 285-290 (below) As in, how do they work? Especially the body.gsub. I'm guessing that's how we would substitute the shortcode for a button with the actual HTML. But why would we then return the string? What does body.gsub do? I also don't get what Rexep does. I appreciate the help!

[2019-03-11 14:38] #5001 closed

[2019-03-11 14:40] cassianoblonski commented on #4992
i'm working on this.

[2019-03-11 14:40] jywarren commented on #4424
Hi, I'm sorry this is already taken. Please check out #4963 if you'd like to get a first-timer issue made for you if none are left!

[2019-03-11 14:42] jywarren commented on #4424
I'm really sorry but after some discussion I think we will have to close this issue because we are going to be starting a new navbar design process in the next few weeks and in the meantime are interested in keeping it as simple as possible. Thank you and I'm sorry this didn't work out, we still deeply appreciate your help!

[2019-03-11 14:42] #4424 closed

[2019-03-11 14:56] divyabaid16 opened #5010 "Repeated words in a line"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-11 14:58] divyabaid16 commented on #5010
@cesswairimu @gauravano Is this issue correct for first-timers.

[2019-03-11 15:00] #5009 closed

[2019-03-11 15:10] ananyaarun commented on #3895
@jywarren , @sagarpreet-chadha  i made the changes in the files as asked, but to test i am not able to reproduce this issue. In my local installation no such link exists though i see it in the main public labs page. Am i missing something ? Thanks !!

[2019-03-11 15:14] jywarren commented on #3482
Hi, this is still open although we closed #4232 -- I think the filter would have to be added higher in the page than it was here: https://github.com/publiclab/plots2/pull/4232/files

because there are sorts and other things which prevent the `where()` clause from affecting the query. So unfortunately we may have to add that query before lines like this, which are no longer maintaining an ActiveRec

[2019-03-11 15:42] jywarren commented on #3480
Hi! so glad. 🎉

For starters, yeah, i think this railscast could be helpful -- i learned rails via Railscasts: http://railscasts.com/episodes/327-minitest-with-rails (although it's a bit old, mostly it is still legit)

I looked around a bit and found this which is kind of nice: https://guides.railsgirls.com/test-driven-development

We use `minitest` and not `rspec` so be aware a lot of tutorials a

[2019-03-11 15:48] jywarren commented on #3480
And here, i'll annotate this a bit:

[code]

To find a related tag, you could add this line before the last line of the test:

[code]

This will protect the functionality of `Tag.related()` against future breaking changes!

[2019-03-11 16:15] #4971 closed

[2019-03-11 16:20] jywarren commented on #4920
Yes i think so too.

I'm also thinking about the welcome message helping to guide people who finished their own to help others... something like:

We already do something like this in welcomebot, but we could make it more explicit even!

Hmm, is our welcomebot not working? I noticed first-timers-bot is also not working... hmm.....

https://github.com/publiclab/plots2/blob/66583fa259f3a46562a2a1b3f

[2019-03-11 16:43] madeofhuman commented on #4174
I can look at this.

[2019-03-11 17:21] cassianoblonski commented on #4992
its fine if I add the tooltip over edit comment button too, or better leave for another first timer?

[2019-03-11 17:55] IshaGupta18 opened #5013 "Fix padding of toolbar in comments"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-11 18:08] divyabaid16 commented on #5013
Should I proceed with this issue?

[2019-03-11 18:10] gauravano commented on #5013
Hey @divyabaid16, this issue is for first-timers who haven't contributed to our codebase before so you can't do this one. But, we would love to have your help on other issues. Thanks!

[2019-03-11 18:11] gauravano commented on #5013
Actually @IshaGupta18, this issue is a duplicate of https://github.com/publiclab/plots2/issues/4991 so closing this but I would refer the first-time contributor to your code if they face difficulty in solving the issue. Thanks!

[2019-03-11 18:11] #5013 closed

[2019-03-11 18:11] IshaGupta18 commented on #5013
Yes @divyabaid16 do help out in other issues!

[2019-03-11 18:18] ananyaarun commented on #4922
Hey, @jywarren ,So at the moment i notice a lot of scope for UI/UX improvements/faults on the Public Labs page.
To name a few :-
1) Cluttered arrangement of text and buttons
2) Lack of color consistency among various buttons
3) Certain pop up messages going outside screen
4) Certain messages beginning with a capital letter while certain do not
5) Missing pop up messages for some buttons
Since thes

[2019-03-11 18:23] richa031 commented on #5005
hey I'm new to open source. Can I work on this issue?

[2019-03-11 18:28] jywarren commented on #4962
https://sentry.io/share/issue/16c09d47269240bdaa4dd6a100e0c258/ also shows a related error!

[2019-03-11 18:29] jywarren commented on #4969
@siaw23 here's an option for public display?

https://github.com/getsentry/sentry-github

[2019-03-11 18:33] gauravano commented on #4992
Let's keep it for another first-timer.

Standard Installation
4. Install gems with bundle install --without production mysql
needed to change to 'mysql2' to work, otherwise I got the error "mysql2 is not part of the bundle. Add it to your Gemfile" (the mysql2 is on the Gemfile under production group)
I can fix the Readme too if needed just open a issue or reply me here and then I create the PR wit

[2019-03-11 18:33] gauravano commented on #4992
@cassianoblonski

[2019-03-11 18:35] gauravano commented on #4174
@madeofhuman that would'be great. Thanks!

[2019-03-11 18:45] #4997 closed

[2019-03-11 18:53] gauravano commented on #5009
It's a part of feature. @jywarren can make the change.

[2019-03-11 18:55] gauravano commented on #5010
hey @divyabaid16, you need to update the code link as I have recently merged some changes to en.yml. thanks!

[2019-03-11 19:16] gauravano commented on #5008
@madeofhuman we would love to have your help. Actually, would you be interested in dividing this issue in parts and then opening them as a FTO as there are many new people who are looking to get started -https://github.com/publiclab/plots2/issues/4963 ? thanks!

[2019-03-11 19:20] gauravano commented on #4995
1. changing width of tooltip
any other ideas?

[2019-03-11 19:20] madeofhuman commented on #5008
Sure thing, @gauravano. 😄

[2019-03-11 19:25] gauravano commented on #4917
@CleverFool77

1. You can suggest new methods/clean-up ideas
2. If you think the change is big and requires some more testing, we have unstable.publiclab.org for that, so you can ask @publiclab/reviewers for pushing PR to unstable.
3. Collaborate on PR(if required). And, there's a lot which can be done..

[2019-03-11 19:31] ananyaarun commented on #4995
@gauravano , i'll give that a try.

[2019-03-11 19:32] gauravano commented on #4990
@coderbeetle interested in solving this one? Thanks!

[2019-03-11 19:33] aggarwal19 commented on #4992
Hi @gauravano , Is this issue still open to work ?
and may i solve this issue ?

[2019-03-11 19:35] gauravano commented on #4992
Hi @aggarwal19 , this issue is assigned to @cassianoblonski . But, we would love to have your help with other issues, you can find more issues at https://code.publiclab.org/#r=all and if you can't find any unclaimed issue there, feel free to comment below or in the Gitter channel - https://gitter.im/publiclab/publiclab, so that we can try to help you in finding a good issue to start with or maybe

[2019-03-11 19:42] Jenniline commented on #5005
Hi i am new to open source and an Outreachy applicant can i work be assigned this issue to work on?

[2019-03-11 19:45] aggarwal19 commented on #4992
@gauravano  ,  it would great if you could provide me the first timer only issue .
Thank you

[2019-03-11 19:49] gauravano commented on #4992
Added your name to the list @aggarwal19. Will ping you soon with an FTO. Thanks!

[2019-03-11 19:54] Zengirl2 commented on #4660
@SKashyapD Here's the links for some helpful info about setting up projects on Zooniverse.

Doc Explanation
[https://docs.google.com/document/d/1W5y5Iq6WY5OpP6P4kcHrE6od0tGBFhO0huXvXHJJCzs/edit?usp=sharing](url)

Youtube video
[https://www.youtube.com/watch?v=_bcu5tJDjPY](url)

[2019-03-11 19:55] Jenniline commented on #4993
Hello @gauravano I am an outreachy applicant new to open source and willing to learn. Please can i have a FTO task as well.

[2019-03-11 19:58] Jenniline commented on #4992
Hi I am an Outreachy applicant new to open source and willing to learn.  @gauravano can i work on this issue too or be assigned a task to on it?

[2019-03-11 20:11] Jenniline commented on #4991
Hi am Jenniline new to open source and a an outreachy applicant
 @gauravano please can i work on this task as well or can i be assigned a task to work on here?

[2019-03-11 20:12] Jenniline commented on #4937
@gauravano  Please can i have one to work on too.

[2019-03-11 20:17] ananyaarun commented on #4995
@gauravano , changing width would mean we override the default CSS of bootstrap. Is that preferable ? Cuz making the width bigger/different only for 1 tag is not a good solution , also making all of them bigger isnt either as they have different content length. So do u think its better to change the width of all or change only for the one going out of screen or avoid changing and make all the tool

[2019-03-11 20:19] nazeem1988 commented on #4991
Hi @gauravano, thanks for the opportunity. I’m currently at work and cannot be home till evening (next 8 hours). If you’ve some more issues come tomorrow then I would appreciate you give this issue to @jenniline. Even I come from same background. Very new to open source. Thanks!

[2019-03-11 20:29] jywarren opened #5015 "/api/srch/notes/... API query is slowing down site with 1-2 minute long responses"
Looks related to #3147 in some ways but for the title "related notes" suggestions shown at publiclab.org/post (to test, see https://stable.publiclab.org/post, our testing site, so as not to make the issue worse)

Or, https://stable.publiclab.org/api/srch/notes?query=coqui should trigger it directly on the stable test server. Interestingly, this isn't very slow, even though `stable.publiclab.org` i

[2019-03-11 20:29] jywarren commented on #4670
debounce is now implemented for a range of instances of this, such as https://stable.publiclab.org/post "related notes", comment `#tagname` and `@username` autocompletion with at.js, and for the navbar search typeahead -- all in #4841.

Now we should address optimizing the underlying queries, as we are seeing them cause site slowness in unexpected ways here:

https://github.com/publiclab/plots2/is