[2020-02-27 07:43] Tlazypanda commented on #7565
@VladimirMikulic @jywarren can you approve so I can start working on it right away :smile:

[2020-02-27 07:53] Tlazypanda opened #7566 "Padding is not right in features page"
### Please describe the problem (or idea)
Padding is not right in features page.
![image1](https://user-images.githubusercontent.com/33183263/75423183-3c361380-5964-11ea-86c4-7c8694e1ef84.png)

### Please show us where to look
/features

## Thank you!

[2020-02-27 07:54] Tlazypanda commented on #7566
@jywarren @cesswairimu can you approve this so I can start working on it right away? Thanks :v:

[2020-02-27 07:59] Tlazypanda opened #7567 "Text overflow in people page"
### Please describe the problem (or idea)
Text overflowing if the person's name is too long.
![image11](https://user-images.githubusercontent.com/33183263/75423577-fe85ba80-5964-11ea-9f5a-0cbfdb4c6ff3.png)

### Please show us where to look
/people
https://publiclab.org/people#lat=23.0&lon=4.0&zoom=2&layers=Grey-scale

## Thank you!

[2020-02-27 08:03] Tlazypanda commented on #7567
@jywarren @cesswairimu can you approve this issue so I can start working on it right away? Thanks :v:

[2020-02-27 13:04] VladimirMikulic commented on #7565
@Tlazypanda you have my full approval! I've renamed this issue because the previous title was too generic and confusing. In the future, keep the readability in mind :)

[2020-02-28 06:14] crisner commented on #7432
PR[#417](https://github.com/publiclab/leaflet-environmental-layers/pull/417) and PR[#419](https://github.com/publiclab/leaflet-environmental-layers/pull/419) ready for review and feedback.

[2020-02-28 09:00] yandu31 commented on #7557
Hello there, I claim this issue!

[2020-02-28 11:39] Tlazypanda commented on #7565
@VladimirMikulic @jywarren upon checking the css I found out that the css is right in the notes.css file but since it is not imported in the application.css file we are having this issue merging https://github.com/publiclab/plots2/pull/7546 will solve this.Kindly look into it.
Screenshot after adding notes.css to application.css
![Screenshot from 2020-02-28 16-41-08](https://user-images.githubuser

[2020-02-28 11:46] Tlazypanda opened #7573 "Create dropdown for by views and by likes in contributors page"
Currently the /tag page has the behavior with by views and by likes in a dropdown.Please refer https://github.com/publiclab/plots2/issues/6421 and https://github.com/publiclab/plots2/pull/7379

The same needs to be implemented for the /contributors page.

**Please describe the desired behavior.**
As implemented in /tag route the ordering can be done with a dropdown.

**Additional context (optional

[2020-02-28 11:48] Tlazypanda commented on #7573
@VladimirMikulic @jywarren can you kindly approve this issue?

[2020-02-28 11:56] Tlazypanda opened #7574 "Publish button should be disabled if the comment is empty"
## Please describe the problem (or idea)
Current behavior shows the publish button as enabled when the comment is empty.This needs to be modified to enable the publish button only with  comments with some text.
![image9](https://user-images.githubusercontent.com/33183263/75546587-dc686700-5a4e-11ea-81ac-2e429091cafc.png)

### Please show us where to look
/questions

## Thank you!

[2020-02-28 11:57] Tlazypanda commented on #7574
@VladimirMikulic @jywarren can you kindly approve? Thanks :v:

[2020-02-28 12:15] VladimirMikulic commented on #7565
:+1:

[2020-02-28 12:17] VladimirMikulic commented on #7573
Approved! This is related to #7533. @NitinBhasneria can you fix this in your PR? Thanks.

[2020-02-28 12:18] VladimirMikulic commented on #7574
@Tlazypanda :+1:

[2020-02-28 12:22] Tlazypanda commented on #7573
Actually @VladimirMikulic I think #7533 is for /tag route but this is for implementing the sort by dropdown in /contributor route.Can you kindly check and let me know if it's related? Thanks a lot :v:

[2020-02-28 12:26] VladimirMikulic commented on #7573
The logic for solving this is related. You can submit the PR if you want, I just thought it would be easier to have this kind of issue in one PR.

[2020-02-28 12:27] Tlazypanda commented on #7573
@VladimirMikulic  Ohh in that case let's have this in one pr only :sweat_smile:  Thanks :v:

[2020-02-28 12:29] VladimirMikulic commented on #7573
@Tlazypanda no problem :)

[2020-02-28 14:05] nstjean opened #7575 "Error in Travis testing: PostTest"
I'm getting this error on my PRs, and I see that all recent PRs have the same error. It's not a test fail, it's a mysql error:

![FireShot Capture 330 - Job #16810 5 - publiclab_plots2 - Travis CI - travis-ci org](https://user-images.githubusercontent.com/49460529/75554903-3cd4b580-5a09-11ea-9632-13b764d73f11.png)

[2020-02-28 15:04] NitinBhasneria commented on #7573
@VladimirMikulic so I need to fix it?

[2020-02-28 15:44] VladimirMikulic commented on #7573
@NitinBhasneria it would be great if you could fix it in your PR :)

[2020-02-28 16:45] alaxalves commented on #7575
We hope that https://github.com/publiclab/plots2/pull/7568 fixes every Travis related issue

[2020-02-28 17:33] crisner commented on #7432
PR[#426](https://github.com/publiclab/leaflet-environmental-layers/pull/426) ready for feedback and review.

[2020-02-29 05:40] Tlazypanda opened #7577 "Dropdown not spaced properly in Stats page"
### Please describe the problem (or idea)
 The elements in the dropdown are not spaced properly in Stats page.This needs to be modified to make the UI more appealing.
![image8](https://user-images.githubusercontent.com/33183263/75601721-f30ccd80-5ae3-11ea-85aa-bf5c86d67816.png)

### Please show us where to look

https://publiclab.org/stats

## Thank you!

[2020-02-29 05:41] Tlazypanda commented on #7577
@VladimirMikulic @jywarren can you kindly approve? Thanks :v:

[2020-02-29 06:10] Tlazypanda opened #7578 "Tools popover overflows to the right of the screen"
### Please describe the problem (or idea)
Currently the tools popover in the events page overflows to the right of the screen as shown below.It needs to be positioned so that it remains within the screen width.
![image10](https://user-images.githubusercontent.com/33183263/75602002-1dac5580-5ae7-11ea-8e70-66f79bcd76d6.png)

### Please show us where to look
/wiki/events

## Thank you!

[2020-02-29 06:10] Tlazypanda commented on #7578
@VladimirMikulic @jywarren can you kindly approve? Thanks :v:

[2020-02-29 10:19] VladimirMikulic commented on #7577
:+1:

[2020-02-29 10:20] VladimirMikulic commented on #7578
Approved!

[2020-02-29 13:39] sssash18 opened #7580 "Change t to translation in _form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-29 19:48] cesswairimu commented on #7529
Hey @Tlazypanda I don't think we need to include this on application.yml. Rails conventions includes the assets on views by default you have to add if you have other css files on other folders. Am I missing smth here?

[2020-02-29 20:14] #7487 closed

[2020-02-29 20:16] #7347 closed

[2020-02-29 20:24] cesswairimu commented on #7312
@NitinBhasneria I am sorry I think we fixed this in another PR looks good now. what do you think?
![Screenshot from 2020-02-29 23-22-45](https://user-images.githubusercontent.com/17081074/75614515-9bee1380-5b4a-11ea-8eb6-e2022c0adc63.png)

[2020-02-29 20:28] #7431 closed

[2020-02-29 20:41] #7484 closed

[2020-02-29 20:51] #7475 closed

[2020-03-01 06:46] NitinBhasneria commented on #7312
No @cesswairimu It is still there have a look.
![Screenshot from 2020-03-01 12-16-18](https://user-images.githubusercontent.com/44112080/75621109-857da180-5bb6-11ea-8f29-83db49701ace.png)

[2020-03-01 08:28] Tlazypanda commented on #7529
@cesswairimu ummm...after adding that file I can see the difference in css in some pages for example pls refer-https://github.com/publiclab/plots2/issues/7565  so I think it is not getting imported, in the application.css file we have to give relative path of the stylesheets and the assets folder is also not in the vendor directory here it is for the app directory

[2020-03-01 10:11] milosv1 commented on #7580
Hi there :-) i'd love to claim this issue as i'm new to open source projects and definitely interested in learning!

[2020-03-01 10:27] milosv1 commented on #7580
Hi there, I believe i have done it :-) 👍

[2020-03-02 08:36] Tlazypanda opened #7586 "Add 'Last Edited By' to tools popover of questions and notes"
Currently only the Wiki tools popover has the last edited by field.We can extend this functionality to questions and notes in vorder to achieve uniform functionality across the website.

**Additional context (optional)**
Wiki-
![image](https://user-images.githubusercontent.com/33183263/75658772-deb90400-5c8e-11ea-9676-8266117c2eb6.png)
Questions and notes-
![image](https://user-images.githubuserco

[2020-03-02 08:37] Tlazypanda commented on #7586
@VladimirMikulic can you kindly approve? Thanks :v:

[2020-03-02 08:42] Tlazypanda opened #7587 "Spacing not proper between sort options and cards"
### Please describe the problem (or idea)

The spacing is not enough between the sort options and the cards in /tag and /contributor routes.So inorder to improve user experience we have to add some spacing for the same.
![image3](https://user-images.githubusercontent.com/33183263/75659141-80405580-5c8f-11ea-806f-f3b6c63af86f.png)

![image4](https://user-images.githubusercontent.com/33183263/756592

[2020-03-02 08:42] Tlazypanda commented on #7587
@VladimirMikulic can you kindly approve? Thanks :v:

[2020-03-02 08:43] Tlazypanda commented on #7573
@NitinBhasneria if you are not working on this can I take this up?

[2020-03-02 08:48] VladimirMikulic commented on #7587
@Tlazypanda :+1:

[2020-03-02 08:50] VladimirMikulic commented on #7586
This would definitely be useful. @Tlazypanda you have a sharp eye :)

[2020-03-02 13:22] SusannaDiV commented on #7360
Hello, I hope I'm writing this in the right place (coming form the mailing list) :) I'm a first-timer GSoC student aspirant with a 4.0 GPA and quite some experience with Javascript frameworks, Ruby on Rails and CSS styling - who unfortunately didn't claim a "first-timer-issue" in time, but who would love to contribute to the "Printability of posts and wiki pages" project. Are there perhaps any oth

[2020-03-02 14:55] sanjana091001 commented on #7587
Can I work on this?

[2020-03-02 15:35] nstjean commented on #7575
Thanks for doing all this work on the tests!!

I am still getting an error. I restarted twice, same error.

![FireShot Capture 331 - Job #16893 4 - publiclab_plots2 - Travis CI - travis-ci org](https://user-images.githubusercontent.com/49460529/75690853-8fb0a600-5c71-11ea-9dca-952babb79482.png)

[2020-03-02 15:36] nstjean commented on #7575
Here's the PR: https://github.com/publiclab/plots2/pull/7562

[2020-03-02 15:37] NitinBhasneria commented on #7573
@Tlazypanda actually I am little busy with my exams and so I will work after exams only. If you wanna take this you can.

[2020-03-02 16:51] cesswairimu commented on #7312
My bad gotcha

[2020-03-02 16:56] #7533 closed

[2020-03-02 17:02] #7567 closed

[2020-03-02 17:05] #7577 closed

[2020-03-02 17:08] #7424 closed

[2020-03-02 17:49] #7557 closed

[2020-03-02 18:51] subhahu123 commented on #7360
@jywarren  @SidharthBansal  i want to participate as a student this year in community toolbox , as last year i don't get a chance .
please check https://github.com/publiclab/community-toolbox/issues/333

[2020-03-02 19:09] VladimirMikulic commented on #7587
@sanjana091001 if @Tlazypanda is fine with this, it's all yours :)

[2020-03-02 19:26] VladimirMikulic commented on #7360
Hi @SusannaDiV!
Welcome to the community :rocket: :rocket: :rocket:
This thread is for GSoC mentors :)

Currently, the priority is email related issues.
Since you know RoR, you could help us resolve them.

If you have any more question feel free to contact me.
Also, don't forget to visit and introduce yourself to our community on [Gitter](https://gitter.im/publiclab/publiclab).

We are looking for

[2020-03-02 21:19] nstjean commented on #7432
PR https://github.com/publiclab/leaflet-environmental-layers/pull/430 ready for feedback and review

PR https://github.com/publiclab/plots2/pull/7562 is erroring in travis and I'm not sure why.

[2020-03-02 21:20] nstjean commented on #7432
I do need this PR https://github.com/publiclab/leaflet-blurred-location-display/pull/96 in LBLD do get merged and a new version published in NPM.

[2020-03-03 01:24] alaxalves commented on #7575
@nstjean I have commented on your PR, lets move the discussion there ;)

[2020-03-03 05:12] Tlazypanda commented on #7587
@sanjana091001 I have started working on this already :sweat_smile: you can take this https://github.com/publiclab/plots2/issues/7574 up if you want

[2020-03-03 06:17] Tlazypanda commented on #7561
@nstjean can I take this up?

[2020-03-03 06:44] Tlazypanda opened #7590 "Incorrect count of tags shown"
### Please describe the problem (or idea)

In the /tags route the cards for individual tags have wrong count of tags marked.
![image](https://user-images.githubusercontent.com/33183263/75749565-146df380-5d48-11ea-8d7b-763a45658ec6.png)
![image](https://user-images.githubusercontent.com/33183263/75749597-2c457780-5d48-11ea-9748-62e6b10ab436.png)

Here there are only 2 posts with this tag but 20 is

[2020-03-03 06:48] Tlazypanda opened #7591 "Updated Timestamp shown incorrectly in the questions sidebar"
### Please describe the problem (or idea)

The questions sidebar shows updated by which is actually the created by date.Even after updating it is only checking the time passed since the creation date.
![image](https://user-images.githubusercontent.com/33183263/75749844-cc9b9c00-5d48-11ea-9c20-49ca06b83310.png)
![image](https://user-images.githubusercontent.com/33183263/75749898-e9d06a80-5d48-11ea-

[2020-03-03 06:49] Tlazypanda commented on #7591
@VladimirMikulic can you kindly approve? Thanks :v:

[2020-03-03 06:49] Tlazypanda commented on #7590
@VladimirMikulic can you kindly approve? Thanks :v:

[2020-03-03 07:06] VladimirMikulic commented on #7590
Could you check if this occurs on the hosted website as well? Thanks.

[2020-03-03 07:07] VladimirMikulic commented on #7591
This is great. Thanks @Tlazypanda.

[2020-03-03 10:40] Tlazypanda commented on #7590
@VladimirMikulic I think it does occur on the hosted website too.Please check the below links.Thanks :v:

https://publiclab.org/tags?page=5
https://publiclab.org/tag/climate

[2020-03-03 10:45] VladimirMikulic commented on #7590
@Tlazypanda it's true! Good catch. This should definitely be fixed.

[2020-03-03 13:11] govindgoel opened #7592 "Location Pointer moves abruptly in add location section"
![ ](https://media.giphy.com/media/WsANdvORMc4Lgv9H44/giphy.gif)

### Please describe the problem (or idea)

The location pointer is moving abruptly when you do left click and move the cursor.

Either the pointer should be fixed or when the pointer changes it should reflect the change in location in text box.

### Please show us where to look

https://publiclab.org/ post

### What's your PublicLab

[2020-03-03 13:12] govindgoel commented on #7592
@VladimirMikulic Please approve it

[2020-03-03 13:21] govindgoel opened #7593 "Issue in navbar"
![ ](https://media.giphy.com/media/Xzdg0cVS5YmkrIbBUh/giphy.gif)
### Please describe the problem (or idea)

The topics section pop up but does not close when you click anywhere on the page
After clicking on tools section if you hover over community section it it overlaps and vice-versa.

### Please show us where to look

https://publiclab.org/post

### What's your PublicLab.org username?

### Brow

[2020-03-03 13:24] govindgoel commented on #7593
@VladimirMikulic Please look at this

[2020-03-03 14:11] nstjean commented on #7561
@Tlazypanda Sure! Go ahead!

[2020-03-03 14:30] govindgoel opened #7594 "Different styles in similar buttons in commands bar"
![ ](https://media.giphy.com/media/RM4bTJlyVAfKiJIqah/giphy.gif)

### Please describe the problem (or idea)

The ok and cancel button have different UI so this can be changed.

### Please show us where to look

https://publiclab.org/post

### What's your PublicLab.org username?

govindgoel

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deep

[2020-03-03 14:48] govindgoel commented on #6775
This issue is open.

[2020-03-03 15:54] nstjean opened #7595 "Sidebar shows "Add a location" if user is not logged in"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-03 16:05] crisner commented on #7432
The following PRs are ready for review/feedback:
[#438](https://github.com/publiclab/leaflet-environmental-layers/pull/438)
[#432](https://github.com/publiclab/leaflet-environmental-layers/pull/432)
[#436](https://github.com/publiclab/leaflet-environmental-layers/pull/436)
[#434](https://github.com/publiclab/leaflet-environmental-layers/pull/434)
[#428](https://github.com/publiclab/leaflet-environ

[2020-03-03 16:07] crisner commented on #7432
I've have added tests for all layers other than those that use tiles.

[2020-03-03 18:02] suraj-sloth commented on #7595
I would like to work on this.

[2020-03-03 18:14] #7312 closed

[2020-03-03 18:18] suraj-sloth commented on #7595
@nstjean Please review this. Thanks to the Public Lab Community for helping me to create my first PR here.

[2020-03-03 18:23] VladimirMikulic commented on #7592
Hi @govindgoel. Thank you for reporting this issue. Unfortunately, for maps I think we use 3rd party JS so I doubt that this is fixable from our side.
I would appreciate if you further inspect this issue. If you need any help, just comment below :)

[2020-03-03 18:23] #7563 closed

[2020-03-03 18:25] VladimirMikulic commented on #7593
@govindgoel this is great! Thank you for reporting this, you have my full approval.

[2020-03-03 19:00] jywarren commented on #7432
This is some incredibly epic work!!!! Congratulations to you both and many thanks! I am going through these today. This is so awesome!!!

[2020-03-03 19:32] jywarren commented on #6887
I'm going to close this up since the process has moved to #7432 !!! Thanks, all!

[2020-03-03 19:32] jywarren commented on #7432
Going through last batch of @crisner's PRs now! Thanks!

[2020-03-03 19:57] jywarren commented on #7432
OK, leaving `needs-rebase` label on some PRs, but looking fantastic. Thanks!!! https://github.com/publiclab/leaflet-environmental-layers/labels/needs-rebase

Please leave the label on OR add a new `ready-to-merge` label. Or merge them yourself if you can, they all look good to me!!!

[2020-03-03 19:59] jywarren commented on #7432
And just a clarification on https://github.com/publiclab/leaflet-environmental-layers/pull/424 but it seems OK to me as-is!

[2020-03-03 20:01] jywarren commented on #6993
On both, thank you!

[2020-03-03 20:19] #6887 closed

[2020-03-03 20:21] jywarren commented on #7432
And just looking now to see where any remaining `plots2` PRs or issues are, so we can get the `/map/` and `/map/____` pages running! Sorry for lots of chatter today, it's my first day back!

[2020-03-03 20:38] jywarren commented on #7556
@dburugupalli my first suggestion is to try adding a limit to this. we should try to trace the query -- adding more info here:

https://github.com/publiclab/plots2/blob/783fbe2161bd70e13ad5e62ac6ab9254de3661b5/app/services/search_service.rb#L187-L190

This is the query, which i suspect runs real slow on the whole huge users table. We can limit with an additional:

[code]

which will help a lot. We

[2020-03-03 20:40] jywarren commented on #7556
I think this'll take a little experimentation but if that is a nested query on `item.user_tags.none?` we should be able to speed this up a LOT by a) limiting the results and b) not nesting the query, but, inspecting the item and seeing what we can do to test if it has any tags without generating a new nested query.

[2020-03-04 16:16] ebarry commented on #7406
Hi all, thank you for filling this survey out! So far, we have just **_less than half the number of respondents we had in last year's survey_**, so please, even if you are a very recent member, or shy for any reason, please go ahead and fill out the survey -- there's plenty of questions where you can express that you are new, and it is anonymous. 🌳 🎈 🙏 https://forms.gle/Z6J3Mrdszm9iFiuv9

[2020-03-04 16:22] ebarry commented on #7590
Interesting! There is a discrepancy between the count of posts shown on the /tags Topic Cards, and the count of posts shown on the Tag Page. Great catch @Tlazypanda !

[2020-03-04 16:48] sidntrivedi012 commented on #7406
Filled already 😃

[2020-03-05 01:03] alaxalves commented on #7406
Done!

[2020-03-05 12:51] govindgoel opened #7597 "Change function t to translation in app/views/wiki/_header.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-05 18:59] Medlineme4 commented on #7580
I would love to claim this issue. I am new to open source and I am ready to learn and to also help others.

[2020-03-05 19:00] Medlineme4 commented on #7580
Thanks for accepting my request.

[2020-03-05 19:59] Medlineme4 commented on #6206
Please add my name to the list as a first timer.

[2020-03-05 20:58] AnnaMinakova commented on #7597
I will take it

[2020-03-06 11:22] govindgoel commented on #7580
Completed by this one #7582

[2020-03-06 12:22] Medlineme4 commented on #7558
I would like to give a try

[2020-03-06 12:23] Medlineme4 commented on #7558
I would like to give a try

[2020-03-06 12:29] Medlineme4 commented on #7558
If nobody has claimed #7558, I would like to claim it as I am a first timer and I would also love to learn

[2020-03-06 19:06] gauravano commented on #7406
Done!

[2020-03-07 15:21] govindgoel commented on #7592
@VladimirMikulic  Your point is correct also I am unable to do any changes as it is fetched from third party JS.

[2020-03-07 16:10] VladimirMikulic commented on #7592
@govindgoel Thanks for confirming my assumption. I am closing this since it's a 3rd party package's issue, not ours.

[2020-03-08 05:35] sssash18 opened #7604 "Change t to translation in profile.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-08 05:40] stevenalila commented on #7604
I would like to request to claim this issue

[2020-03-08 05:42] sssash18 commented on #7604
@stevenalila Go ahead with it!

[2020-03-08 06:43] govindgoel commented on #7592
@VladimirMikulic  But we need to fix this maybe using other alternatives for map

[2020-03-08 08:43] #7490 closed

[2020-03-08 08:59] VladimirMikulic commented on #7592
@nstjean I am interested in your view on this. Shouls we change the map library? That would probably result in a lot of refactoring.

[2020-03-08 09:03] Tlazypanda opened #7608 "Social icons alignment is not proper in sidebar"
**Please describe the desired behavior.**
In the current beahviour the questions sidebar social links alignment is not proper. The twitter icon is not placed on the same vertical level as other social icons.

**Additional context (optional)**

![image](https://user-images.githubusercontent.com/33183263/77518775-5b14c080-6ea4-11ea-9290-2c7159333d46.png)

[2020-03-08 09:03] Tlazypanda commented on #7608
@VladimirMikulic  can you kindly approve? Thanks :v:

[2020-03-08 09:06] VladimirMikulic commented on #7608
@Tlazypanda consistency is very important. Approved!

[2020-03-08 09:14] stevenalila commented on #7604
Please review

[2020-03-08 12:57] av-00 commented on #6851
Is this issue completed?

[2020-03-08 16:29] VladimirMikulic commented on #6851
@av-00 thank you for your interest in solving this issue. It would be great if you could inspect this :)

[2020-03-08 18:04] Tlazypanda opened #7613 "Cursor doesn't change into pointer on hover over tag ellipsis in sidebar"
### Please describe the problem (or idea)
The cursor doesn't change into pointer on hovering over ellipsis of tag in sidebar which leads to confusion if it is a button or not.

![Screenshot from 2020-03-08 22-49-47](https://user-images.githubusercontent.com/33183263/76168374-4e4e5800-6195-11ea-8648-4a83510b9c15.png)

### Please show us where to look

https://publiclab.org/questions

## Thank you!

[2020-03-08 18:05] Tlazypanda commented on #7613
@VladimirMikulic can you kindly approve? Thanks :v:

[2020-03-08 18:06] Tlazypanda commented on #7122
@nstjean can I take this up?

[2020-03-08 18:47] VladimirMikulic commented on #7613
@Tlazypanda I don't understand the issue. Which ellipsis? I don't see your cursor anywhere on the picture? Thanks.

[2020-03-08 19:43] greenbrown commented on #7538
Is this still open?

[2020-03-08 19:52] greenbrown commented on #7483
Can I claim this one?

[2020-03-08 21:29] govindgoel commented on #7483
@greenbrown  Go ahead

[2020-03-09 07:51] greenbrown commented on #7483
Please review @govindgoel

[2020-03-09 09:42] Srija616 commented on #6730
@jywarren Hey! I am an Outreachy applicant. I have no experience in open source. Can I work on this issue?

[2020-03-09 11:47] Tlazypanda commented on #7613
@VladimirMikulic yeah sorry about that.Can you see it here?
![IMG20200309171254](https://user-images.githubusercontent.com/33183263/76210137-7f786800-6229-11ea-9509-9c5802c2a0da.jpg)

[2020-03-09 11:56] VladimirMikulic commented on #7613
@Tlazypanda Oh, there it is! Thank you for a detailed screenshot.
I agree this should be changed to pointer since it is a button.

[2020-03-09 12:54] nstjean commented on #7122
@Tlazypanda It looks like we had a working fix submitted for this, we should probably check why it wasn't merged!

[2020-03-09 13:02] nstjean commented on #7592
Ahhh that's an interesting bug! You are supposed to be able to move the map around to select a location, or you can enter a place name to quickly find a place. But you are right, it does need a fix. The simplest fix is the input box should clear when the map is moved. Or it should use the google api to reverse lookup the place name, but that will be challenging.

The code for this form is in https

[2020-03-09 13:36] Kirti2502 commented on #6742
Hi, I am an outreachy applicant and I would like to take up this issue.

[2020-03-09 13:36] Kirti2502 commented on #6686
Hi, I am an outreachy applicant and I would like to take up this issue.

[2020-03-09 17:23] Kirti2502 commented on #6481
Can I take up this issue?

[2020-03-09 17:28] Kirti2502 commented on #6686
Please let me know the file where I can find this screenshot.

[2020-03-09 17:34] Kirti2502 commented on #6206
Hi I am Kirti Rohira, please add my name to the list.
I would like to work on issues related to Javascript, react and css.

[2020-03-09 18:40] Janetsomehow commented on #7266
Can i claim this issue please?

[2020-03-09 18:46] Medlineme4 commented on #7608
I would like to try

[2020-03-09 18:58] VladimirMikulic commented on #7608
Hi @Medlineme4.
Welcome to Public Lab :balloon:

I am glad that you are interested in solving this issue, but as you can see @Tlazypanda has already provided a PR for it.
Since you are a newcomer, it would be good to solve a few FTO(first-timers-only) issues to get familiar with the codebase.

Finally, don't forget to say "Hi" to our community on [Gitter](https://gitter.im/publiclab/publiclab) and

[2020-03-09 19:21] ebarry opened #7617 "Welcome, Outreachy aspirants! (Summer-2020)"
Hello folks from Outreachy - We realized we don't have a main place for you all to ask questions and get support, so we wanted to say WELCOME and create this issue as a discussion zone. Please leave a comment to say hello, in part so we know who's interested in the program! @publiclab/reviewers @publiclab/plots2-reviewers @publiclab/mentors please keep an eye open for opportunities to welcome and

[2020-03-09 19:49] #7604 closed

[2020-03-09 19:53] cesswairimu commented on #7608
Mmmh I am not sure if this is okay since its a huge UI change...tagging @emilyashley @ebarry @steviepubliclab @jywarren to hear their thoughts thanks

[2020-03-09 20:02] Medlineme4 commented on #7608
How do I try one when all FTO gives a red mark when posted/ answered

Sent from Yahoo Mail on Android

  On Mon, Mar 9, 2020 at 8:53 PM, Cess<notifications@github.com> wrote:
Mmmh I am not sure if this is okay since its a huge UI change...tagging @emilyashley @ebarry @steviepubliclab @jywarren to hear their thoughts thanks

—
You are receiving this because you were mentioned.
Reply to this email d

[2020-03-09 20:04] Medlineme4 commented on #7608
I tried giving an answer to a FTO but  it always shows a red mark X

Sent from Yahoo Mail on Android

  On Mon, Mar 9, 2020 at 8:53 PM, Cess<notifications@github.com> wrote:
Mmmh I am not sure if this is okay since its a huge UI change...tagging @emilyashley @ebarry @steviepubliclab @jywarren to hear their thoughts thanks

—
You are receiving this because you were mentioned.
Reply to this email di

[2020-03-09 20:09] cesswairimu commented on #7608
Sorry about that, could you please link me to the fto you are talking about @Medlineme4, I am glad to help. Thanks

[2020-03-09 20:15] cesswairimu commented on #7586
Thanks @Tlazypanda for your suggestion tagging @publiclab/maintainers to gve thoughts  on this before we can move forward. Thanks

[2020-03-09 20:32] Janetsomehow commented on #7617
Hello. Thank you for this discussion channel.

[2020-03-10 01:14] Janetsomehow commented on #7266
@govindgoel can i claim this?

[2020-03-10 02:15] urvashigupta7 commented on #7593
I would like to work on this issue. Kindly assign it to me. 😊

[2020-03-10 04:48] sssash18 opened #7618 "Signup button gets disabled permanently after errors"
### Please describe the problem (or idea)

The signup button gets disabled permanently after we try to signup when some error occurs.

it must not be disabled permanently
**Current Behaviour**
![Untitled_ Mar 8, 2020 10_45 PM](https://user-images.githubusercontent.com/57896905/76280171-f9a2fe00-62b6-11ea-86d6-2ab21c8050aa.gif)

### Please show us where to look

https://publiclab.org/ ...

### What

[2020-03-10 04:58] sssash18 opened #7619 "Lack of gap in sidebar on dashboard"
### Please describe the problem (or idea)

When the user is not logged in the sidebar looks like this and lacks a gap.
**Current behaviour**
![Screenshot 2020-03-10 at 10 26 14 AM](https://user-images.githubusercontent.com/57896905/76281017-d463bf00-62b9-11ea-8ea3-1a2ebf855fe5.png)

**Expected Behaviour**
![Screenshot 2020-03-10 at 10 26 31 AM](https://user-images.githubusercontent.com/57896905/76

[2020-03-10 04:59] sssash18 commented on #7619
@publiclab/reviewers Please review this , I would like to work on this

[2020-03-10 05:23] Medlineme4 commented on #7608
#7558: change function t() to translation in specific lines
#7598: update_form.html.erb
For #7558, I had to go for another issue with same title but I still had a red mark

Sent from Yahoo Mail on Android

  On Mon, Mar 9, 2020 at 9:09 PM, Cess<notifications@github.com> wrote:
Sorry about that, could you please link me to the fto you are talking about @Medlineme4, I am glad to help. Thanks

—
You

[2020-03-10 09:36] kamal-kaur04 commented on #6754
@nstjean this issue is already been solved, I think thats why I was getting errors.

[2020-03-10 09:39] kamal-kaur04 commented on #6810
Hii @SidharthBansal Can I take this issue??

[2020-03-10 09:53] kamal-kaur04 commented on #7595
Hello @nstjean  Can I take this issue if it's not already assigned?

[2020-03-10 10:15] Shulammite-Aso commented on #6206
hello, please, I'ld like to have a first-time-only issue assigned to me.
Also i'm an outreachy applicant and looking to start contributing to publiclab.Editor repo. But i'm generally open to working on any public lab FTO issue at all.

[2020-03-10 10:57] sssash18 opened #7621 "No alert dialog for making a user an admin"
### Please describe the problem (or idea)

Currently their is not shown any kind of alert dialog box when the existing admin makes someone a admin or moderator
**Current Behaviour**
![Untitled_ Mar 10, 2020 4_22 PM](https://user-images.githubusercontent.com/57896905/76305692-a7300480-62eb-11ea-99e7-48170e31f575.gif)

Their must be alert dialog box.

### Please show us where to look

https://public

[2020-03-10 10:58] sssash18 commented on #7621
I would like to work on this issue

[2020-03-10 13:07] nstjean commented on #7595
@kamal-kaur04 Ahh sorry, this has been completed but was not closed!

[2020-03-10 13:07] #7595 closed

[2020-03-10 13:09] Kirti2502 commented on #7449
I would like to take up this issue. I am an outreachy applicant.

[2020-03-10 13:11] nstjean commented on #6754
@kamal-kaur04 Ahhh, I see, sorry! Not sure where that change was made, I don't see a link here.

I did want to mention however that the errors you were getting were not because of that. It looks like you were trying to commit changes directly to the public lab repository, which will give you errors because you don't have access for that. You will have to fork the repository to your own copy first

[2020-03-10 13:11] #6754 closed

[2020-03-10 13:17] nstjean commented on #7266
@Janetsomehow Yes you can do this! Thank you!

[2020-03-10 13:45] nstjean commented on #7621
Do you mean like a confirmation dialog box?

[2020-03-10 13:47] sssash18 opened #7622 "No way to remove any person as admin"
**Please describe the desired behavior.**
Describe the solution you'd like.
Currently their is no way( apart from banning) to remove a user as admin by another admin.It would be better if we provide with such option.

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.

[2020-03-10 13:47] sssash18 commented on #7622
@VladimirMikulic @nstjean What are your views on this ?
I would like to add this option

[2020-03-10 14:17] justinelai commented on #7617
Hello from NYC! Happy to be here. Thanks for outlining these options -- it can be intimidating seeing the FTO issues getting snapped up.

[2020-03-10 14:30] theOpetunde commented on #7617
Hello. I am happy to be applying as an Outreachy intern with Public Lab.

Over the past month, I have opened three pull requests, two of which have been merged [here](https://github.com/publiclab/plots2/pull/7380) and [here](https://github.com/publiclab/plots2/pull/7521).

I believe in the system Public lab is building because it is for a cause that will make the world a better place and I am more

[2020-03-10 14:31] jywarren commented on #7617
Hello all, and welcome! I'm Jeffrey Yoo Warren, joining from Providence, Rhode Island, USA, and I've been a mentor/administrator for our Outreachy program for the past few years. We just wrapped up an awesome season with @crisner and @nstjean with @sagarpreet-chadha and @cesswairimu mentoring, and are excited to be working on a new project this coming season!

Thanks everyone for showing up and sa

[2020-03-10 14:32] jywarren commented on #7617
Regarding first-timer-only issues @justinelai we can get some queued up for you if you'd like!

[2020-03-10 14:33] theOpetunde commented on #7617
@jywarren Thank you for having us all in here. Are there some other information you'd love for us to add to our application? There is a space for us to fill in any questions the organization might have. Thank you

[2020-03-10 14:37] jywarren commented on #7617
I appreciate your noting where you've participated! That could go there if it's not already in another space. Thank you!

And folks joining with the same Q - we also love to see when you've helped others out - even just a word of encouragement, or a review or troubleshooting together in the comments - we really value this kind of interaction with others in the community and it's much appreciated,

[2020-03-10 14:37] jywarren commented on #7617
Ah, fixing the link, thanks!

[2020-03-10 15:03] theOpetunde commented on #6686
Hi, I'm an outreachy aspirant and would be willing to take on this issue knowing @Kirti2502 already claimed one issue before

[2020-03-10 15:11] Kirti2502 commented on #6686
Sorry but I've not claimed any issue on this project. I've been waiting for either confirmation on some issues and some help on this one.

[2020-03-10 15:34] Shulammite-Aso commented on #7617
Hello!
I'm happy to finally be here.
I've known about public lab for only a few weeks now. And applying as an outreachy intern for public lab is what a way to get closer to the community.

I'm looking to start working on the project "Fortify Public Lab Text Editor and Introduce More Custom Inserts". It's a big project and I look forward to upskilling myself as I work on it.

Meanwhile, I'm yet to

[2020-03-10 15:46] theOpetunde commented on #6686
Alright then. Thank you for the clarification

[2020-03-10 15:48] justinelai commented on #7617
@jywarren Yep, I can take on a task as they become available. (No hurry, of course -- there's plenty to read in the meantime.) Thanks!

P.S. I'm interested in the performance/a11y project. ✌️

[2020-03-10 15:48] keshav234156 commented on #6686
@Kirti2502  you can take up this issue. Please try to claim 1 issue at a time to avoid ambiguity.

[2020-03-10 15:50] Kirti2502 commented on #6686
Yeah sure. I'll take care from next time.

[2020-03-10 15:50] keshav234156 commented on #6686
@SidharthBansal Is this a valid FTO?

[2020-03-10 15:57] keshav234156 commented on #6686
@theOpetunde As I can see you have already attempted an FTO.So now you can move the help-wanted task.
Thanks!!

[2020-03-10 17:33] cesswairimu opened #7624 "Welcome GSoC 2020 applicants and Call for proposals"
Hello awesome GSoC applicant :wave: and welcome to PublicLab :balloon:
--------

We are glad to have you here. This year, we  are participating in Google Summer of Code(GSoc) under DIAL. Here are a few todos

### Introduce yourself
Please say hi below and introduce yourself(optional)

### Call for GSoC proposals

We request applicants to post their proposals on the PublicLab website. [Here](https:

[2020-03-10 18:03] jywarren opened #7714 "Width refinement to map popup display in CSS"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2020-03-10 18:34] Medlineme4 commented on #7617
Hi Public Lab! It's exciting to be here. I will be glad if given assignments to work on. I so much love this contribution channel. Thanks to Outreachy, mentors and all. I can't wait to get started.

[2020-03-10 18:38] Medlineme4 commented on #7617
Great contribution medium. I don't know why I have red marks in a contribution I made on FTO issue. Where did I go wrong?

[2020-03-10 19:19] cesswairimu commented on #7617
Hi @Medlineme4, I felt a comment on the pull request. Thanks

[2020-03-10 19:31] cesswairimu commented on #7360
Hey everyone, a couple of proposals have been posted on the PL website https://publiclab.org/notes/cess/03-02-2020/call-for-2020-soc-proposals-gsoc-and-outreachy, please take a few minutes to review and give feedback. Thanks

[2020-03-11 04:21] sssash18 commented on #7621
Yes @nstjean

[2020-03-11 05:42] Kirti2502 commented on #7449
@govindgoel I have opened my first pull request, please review it.
Thank you.

[2020-03-11 08:58] urvashigupta7 opened #7626 "The toolbox under the textarea goes out of the screen on Mobile"
![Screenshot_20200311_142503_com android chrome](https://user-images.githubusercontent.com/41363633/76399215-43b5dd80-63a4-11ea-952c-2e690a8cfbbe.jpg)

### Where to see?
https://publiclab.org/post

[2020-03-11 09:02] urvashigupta7 commented on #7626
I also think that this toolbar needs to be fixed while scrolling. There is no point in making this toolbar movable with scroll as it is intended to be used only for the purpose of content related to textarea.

[2020-03-11 09:06] urvashigupta7 commented on #7626
@cesswairimu Please take a look at it.

[2020-03-12 06:51] sssash18 opened #7627 "Change t to translation in reset.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-12 06:52] sssash18 commented on #6579
New ftos #7627

[2020-03-12 07:13] Kirti2502 commented on #7627
Can I take up the issue?

[2020-03-12 07:16] sssash18 commented on #7627
Yeah @Kirti2502 go ahead!

[2020-03-12 07:30] Kirti2502 commented on #7627
I have opened a pull request, please review.

[2020-03-12 10:06] sssash18 opened #7629 "The bell icon does'nt change on clicking it."
### Please describe the problem (or idea)

The bell icon in comments form does'nt changes on clicking it , so it doesn't give any indication whether it's clicked or not.
![Untitled_ Mar 12, 2020 3_35 PM](https://user-images.githubusercontent.com/57896905/76510142-24d44b80-6477-11ea-95ba-80cc228b0978.gif)

it must be darkened when clicked.

### Please show us where to look

https://publiclab.org/ .

[2020-03-12 10:06] sssash18 commented on #7629
I would like to solve this issue.

[2020-03-12 10:21] saurabhkanswal commented on #7624
Hey @emilyashley can you please provide some more information on this (https://publiclab.org/wiki/gsoc-ideas#Leaflet+Environmental+Layers+(LEL):+time+slider+UI ) idea. so i can start with proposal.
As of now all i can understand is that this idea is about adding control native to LEL library like we have zoom, scale, layers control in leaflet.
your comments are welcomed.😃

[2020-03-12 10:38] theOpetunde commented on #4963
Hello. I am a 2020 Outreachy aspirant looking for issues to work on. Please let me know if there are available issues I could work on. Thank you very much.

[2020-03-12 10:43] theOpetunde commented on #7085
Hello @jywarren I'd be willing to support this issue. I am a 2020 Outreachy aspirant. Please let me know if I can take this up. Thank you

[2020-03-12 10:46] Srija616 commented on #7617
Hello everyone!
I am Srija Anand from IIIT Delhi, India. I am pursuing a B.Tech in Electronics and currently in the third year. I have experience in Python though I am new to open source. @jywarren I have been trying to fix FTO issues, however unable to claim one. It would be nice if you can guide me a bit about the tasks.

[2020-03-12 10:48] Srija616 commented on #6742
Hey! @jywarren Can I claim this task for the Outreachy application?

[2020-03-12 10:49] Srija616 commented on #7506
Hi @jywarren Can I claim this issue?

[2020-03-12 11:09] theOpetunde opened #7632 "Add a drop-down arrow to the "About Us", "Tools" and "Community" Icon to indicate that there are sub-options under them."
Continuing from [this issue](https://github.com/publiclab/plots2/issues/6496) #6496

I think it is important to have a 'dropdown' arrow in the "About Us", "Tools" and "Community" icons on the headers. I see that the code has already been implemented here: (https://github.com/publiclab/plots2/blob/master/app/views/layouts/_header.html.erb)

but the changes are not yet seen on the page.
![Screenshot

[2020-03-12 11:12] Srija616 commented on #6444
@jywarren Can I work on this issue as an Outreachy applicant?

[2020-03-12 11:12] theOpetunde commented on #6501
Hi, I'd love to join the support team. I am a 2020 Outreachy aspirant. Thank you

[2020-03-12 12:42] VladimirMikulic commented on #7632
@theOpetunde I agree, we should add dropdown icons :+1:

[2020-03-12 12:49] urvashigupta7 commented on #7626
@publiclab/reviewers

[2020-03-12 12:51] Kirti2502 commented on #7632
Is anyone working on this issue? If not I'd like to look into it.

[2020-03-12 12:58] Snouzy commented on #7627
Hello can i contribute ? I don't know if it's a problem that @Kirti2502  did a pull request. Maybe you have another one for me ?

[2020-03-12 13:02] Kirti2502 commented on #7627
I'll be commit to the same pull request in a while.

[2020-03-12 13:13] Tlazypanda commented on #7617
Hey everyone! I am an Outreachy 2020 aspirant :v:
I have been contributing to Public Lab since January.It has been an amazing journey till now :smile: .The community has been extremely helpful and has provided guidance wherever required :v: .I have had my doubts resolved with patience :sweat_smile: Initially I was really scared to contribute but the community has really made this a comfortable and

[2020-03-12 13:14] VladimirMikulic commented on #7067
This issue is still present. @yihenghuang I would appreciate if you could submit a PR for this.
You've merged the PR in your own fork :)

[2020-03-12 13:14] VladimirMikulic commented on #7626
Duplicate of #7067

[2020-03-12 13:14] #7626 closed

[2020-03-12 14:58] av-00 commented on #6851
@VladimirMikulic  Is the necessary file plots2/static/index.html?
I hope I have run the project correctly! Attached is the screenshot. Please tell me if I have errors.
![Screenshot from 2020-03-12 20-25-16](https://user-images.githubusercontent.com/43967251/76534687-d6877280-649f-11ea-8497-90cb5fb16310.png)

[2020-03-12 15:06] VladimirMikulic commented on #6851
@av-00 the file that you are looking for is `plots2/app/assets/stylesheets/style.css`

[2020-03-12 16:11] cesswairimu commented on #7617
Hi @Tlazypanda , it has been nice having you contribute to PL...Please post the proposal on the PublicLab website, you can edit as feedback comes in and its easier for mentors to leave comments and also having them read the proposals on one platform is easier for them. I hope this makes sense. Thanks

[2020-03-12 16:38] nstjean commented on #7617
Welcome all of you to Public Lab!! I am just finished my time as an Outreachy Intern here :tada:  and am very happy to help you all navigate the process.

[2020-03-12 16:42] Srija616 commented on #7617
@nstjean @cesswairimu Hey! I am been making PRs for FTOs since past few days and was looking for more issues that I can take up. Can you please assign some issues. Also, I wanted to know if it is ok to make PRs even if a task hasn't been assigned to me or anyone else during Outreachy 2020 current application?

[2020-03-12 17:47] keshavsethi opened #7634 "Search feature in People section"
There should be a search feature in https://publiclab.org/people as it become difficult to find a user manually.
![Screenshot from 2020-03-12 23-15-13](https://user-images.githubusercontent.com/36025262/76550035-7270a880-64b7-11ea-8b75-ff89262118c0.png)
Thanks

[2020-03-13 04:42] sssash18 commented on #7353
@SidharthBansal @nstjean Any update on this?

[2020-03-13 13:35] Angelvicks commented on #7538
Please can i work on this issue?

[2020-03-13 13:35] Angelvicks commented on #7538
Hello I am an outreachy Applicant for 2020

[2020-03-13 13:45] Angelvicks commented on #7538
#7635 I changed Change t to translation in _related.html.erb

[2020-03-13 15:20] Tlazypanda opened #7636 "Rename function t to translation in app/views/search/profiles.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-13 15:21] Tlazypanda commented on #7636
@VladimirMikulic can you kindly approve? Thanks :v:

[2020-03-13 15:48] VladimirMikulic commented on #7636
:+1:

[2020-03-13 16:00] Angelvicks commented on #7506
Hello I am an Outreachy applicant. I did this issue. #7635

[2020-03-13 16:07] Angelvicks commented on #6446
Hello Please i will like to work on this issue for outreachy 2020

[2020-03-13 16:08] Tlazypanda opened #7637 "Change function t to translation in app/views/tag/_profileCard.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-13 16:10] Tlazypanda commented on #6579
New ftos #7636 #7637 @nstjean

[2020-03-13 17:46] Srija616 commented on #6685
@keshav234156 @jywarren Hey I have already made two PRs for an FTO, can I claim this issue? Also, I am not clear on what is to be done in this task. I assume, we have to make this an FTO task and in order to do that, figure out the lines to be deleted from the code.

[2020-03-14 03:34] p-vinayak commented on #7637
I'd like to take this issue!

[2020-03-14 04:26] sssash18 opened #7638 "Change t to translation in index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-14 04:46] mkartik commented on #7638
Hi, can I take this issue?

[2020-03-14 13:15] Tlazypanda commented on #7637
@p-vinayak Go ahead !

[2020-03-14 17:07] Alexjake660 commented on #6810
@sashadev-sky I'd like to claim this issue

[2020-03-14 17:10] Alexjake660 commented on #6775
@govindgoel Can I claim this issue?

[2020-03-14 17:13] Alexjake660 commented on #6727
@nstjean Is this issue still open?

[2020-03-14 17:22] Alexjake660 commented on #6206
I am looking for an FTO please.

[2020-03-14 17:35] Alexjake660 commented on #6444
@SidharthBansal Can I work on this as my first issue?

[2020-03-14 18:12] SidharthBansal commented on #7617
I am free tomorrow as it is Sunday.
So, whosoever wants feedback on their proposal please ping me
Please note: Only proposals on the public lab website will be reviewed
Secondly we highly encourage folks to help each others with the proposals
Best of luck

[2020-03-15 00:13] yagmurbaydogan commented on #7636
I would like to help!

[2020-03-15 00:16] VladimirMikulic commented on #7636
@yagmurbaydogan great! Go for it, if you need any help, feel free to ask :)

[2020-03-15 01:07] yagmurbaydogan commented on #7636
Sent a pull request :)

[2020-03-15 03:02] diogobest commented on #7543
I have a question, is this popover necessary? What should be the behavior of it? The popover should appear after the user hover the mouse over the spam button?

I've observed the popover is not hiding after the menu disappears or after scrolling. It goes to the top of the page and stays there until the user clicks on some link on the page or the spam button again.

I'm not sure yet, but I think th

[2020-03-15 05:14] Tlazypanda commented on #7617
@cesswairimu @jywarren Have uploaded on pl website and edited the link above - https://publiclab.org/notes/itm2017004/03-12-2020/outreachy-proposal-optimize-performance-and-accessibility-of-public-lab-content Can you kindly provide some feedback ? Thanks :v:

[2020-03-15 05:35] Tlazypanda opened #7644 "Center the tags open and show more tags button in the sidebar"
### Please describe the problem (or idea)
Currently the tags open and show more tags button are not centered on the sidebar.
![image](https://user-images.githubusercontent.com/33183263/76696029-db6d4180-66ac-11ea-80de-9f30690dafa4.png)

### Please show us where to look

https://publiclab.org/ ...

## Thank you!

[2020-03-15 05:36] Tlazypanda commented on #7644
@VladimirMikulic @SidharthBansal can you kindly approve? Thanks :v:

[2020-03-15 05:48] Tlazypanda opened #7645 "Change cursor to pointer on hovering over ellipsis button in notes card"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-15 05:48] Tlazypanda commented on #7645
@SidharthBansal @VladimirMikulic can you kindly approve? Thanks :v:

[2020-03-15 06:11] Tlazypanda opened #7646 "Cursor doesn't change into pointer on hover over tag ellipsis in sidebar"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-15 06:12] Tlazypanda commented on #7613
Moved to #7646.Closing this .

[2020-03-15 06:12] #7613 closed

[2020-03-15 06:12] Tlazypanda commented on #7646
@VladimirMikulic @SidharthBansal can you kindly approve?Thanks :v:

[2020-03-15 06:22] Tlazypanda commented on #7617
@Janetsomehow @Srija616 @Medlineme4 @justinelai @Shulammite-Aso Have opened some ftos if you are interested to take up those :smile: #7646 #7645 #7637 #7636 Feel free to ping in case you get stuck also regarding the proposals here are some posts that you can refer-
https://github.com/prondubuisi/accepted-gsoc-proposals
You can also refer some of the proposals from last year on Public lab website.A

[2020-03-15 07:38] Alexjake660 commented on #7646
@Tlazypanda can I work on this issue?

[2020-03-15 07:54] Janetsomehow commented on #7617
@Tlazypanda thank you

[2020-03-15 07:55] Janetsomehow commented on #7645
@vaibhavmathur13 @Tlazypanda can i work on this issue?

[2020-03-15 08:22] Tlazypanda commented on #7646
@Alexjake660 Go ahead!

[2020-03-15 08:23] Tlazypanda commented on #7645
Yeah, go ahead @Janetsomehow :v:

[2020-03-15 08:51] VladimirMikulic commented on #7644
I was just about to open this issue when I saw this, @Tlazypanda you are reading my mind :)

[2020-03-15 09:19] Medlineme4 commented on #7617
Thank you

Sent from Yahoo Mail on Android

  On Sun, Mar 15, 2020 at 7:22 AM, Sneha Mishra<notifications@github.com> wrote:

@Janetsomehow @Srija616 @Medlineme4 @justinelai @Shulammite-Aso Have opened some ftos if you are interested to take up those 😄 #7646 #7645 #7637 #7636 Feel free to ping in case you get stuck also regarding the proposals here are some posts that you can refer-
https://github

[2020-03-15 09:39] Medlineme4 commented on #7636
I'm ready to work on this

[2020-03-15 10:32] Tlazypanda commented on #7636
@Medlineme4 actually there's an open pr for this can you take up some other issue 😅

[2020-03-15 10:34] Medlineme4 commented on #7636
Ok. Is pr pull request?

Sent from Yahoo Mail on Android

  On Sun, Mar 15, 2020 at 11:32 AM, Sneha Mishra<notifications@github.com> wrote:

@Medlineme4 actually there's an open pr for this can you take up some other issue 😅

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-15 10:35] Tlazypanda commented on #7636
Yeah 😅

[2020-03-15 10:36] Medlineme4 commented on #7637
I'm giving it a trial

[2020-03-15 10:38] Medlineme4 commented on #7645
Permit me to take and give a trial on this issue

[2020-03-15 10:39] Medlineme4 commented on #7646
I would like to try

[2020-03-15 10:40] Medlineme4 commented on #7617
It seems they've all been taken

Sent from Yahoo Mail on Android

  On Sun, Mar 15, 2020 at 7:22 AM, Sneha Mishra<notifications@github.com> wrote:

@Janetsomehow @Srija616 @Medlineme4 @justinelai @Shulammite-Aso Have opened some ftos if you are interested to take up those 😄 #7646 #7645 #7637 #7636 Feel free to ping in case you get stuck also regarding the proposals here are some posts that you can

[2020-03-15 10:40] Medlineme4 commented on #7636
I couldn't take any FTO issue as mine
Sent from Yahoo Mail on Android

  On Sun, Mar 15, 2020 at 11:36 AM, Sneha Mishra<notifications@github.com> wrote:

Yeah 😅

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-15 10:42] Janetsomehow commented on #7645
@Medlineme4 i have made a pull request for it already. Try checking for other FTO issues

[2020-03-15 10:44] Medlineme4 commented on #7645
They've all been taken

Sent from Yahoo Mail on Android

  On Sun, Mar 15, 2020 at 11:42 AM, Janetsomehow<notifications@github.com> wrote:

@Medlineme4 i have made a pull request for it already. Try checking for other FTO issues

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-15 11:30] Jigyasa-Kumari commented on #7646
I am an Outreachy 2020 applicant. Can I work on this issue?

[2020-03-15 11:32] Jigyasa-Kumari commented on #7617
Hi, I am Jigyasa, and I am an Outreachy 2020 applicant from India. Are there any issues which I can take up?

[2020-03-15 11:34] Jigyasa-Kumari commented on #7637
I am an Outreachy 2020 applicant. Can I work on this issue?

[2020-03-15 15:07] Alexjake660 commented on #7646
@Tlazypanda thank you

[2020-03-15 15:40] Tlazypanda opened #7653 "Change function t to translation in app/views/sidebar/_notes.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-15 15:47] Tlazypanda opened #7654 "Change function t to translation in app/views/sidebar/_wikis.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-15 15:55] Tlazypanda opened #7655 "Change function t to translation in app/views/stats/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-15 15:58] Shulammite-Aso commented on #7655
@Tlazypanda  let me get this done please

[2020-03-15 15:58] Tlazypanda commented on #7655
@Shulammite-Aso Sure, Go ahead!

[2020-03-15 16:00] Tlazypanda commented on #7617
@Medlineme4 @Janetsomehow @Jigyasa-Kumari @Srija616 @Shulammite-Aso Opened new issues #7654 #7653 #7655

[2020-03-15 16:01] Tlazypanda commented on #6579
New ftos #7655 #7654 #7653 @nstjean

[2020-03-15 16:05] Medlineme4 commented on #7654
Give me a go ahead to work on this. pr please.

[2020-03-15 16:06] Tlazypanda commented on #7654
Yeah sure go ahead 👍

[2020-03-15 16:06] Medlineme4 commented on #7654
Thank you

[2020-03-15 16:08] Janetsomehow commented on #7653
@Tlazypanda can i work on this also?

[2020-03-15 16:22] Alexjake660 commented on #7646
Travis Build test failed.
How do I resolve that?

[2020-03-15 16:22] Medlineme4 commented on #7654
How many FTO issues can I work on?🤔

Sent from Yahoo Mail on Android

  On Sun, Mar 15, 2020 at 5:06 PM, Sneha Mishra<notifications@github.com> wrote:

Yeah sure go ahead 👍

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-15 18:26] Jigyasa-Kumari commented on #7653
Hi @Tlazypanda can I work on this?

[2020-03-15 19:50] #7619 closed

[2020-03-15 20:00] cesswairimu commented on #7507
@sssash18 still not sure about this pinging @publiclab/maintainers to get their thoughts on this

[2020-03-15 20:10] #7627 closed

[2020-03-15 20:14] cesswairimu commented on #6206
Hi @Kirti2502 , @Shulammite-Aso and @Alexjake660 , Welcome and I will try to get you ftos ASAP. Thanks

[2020-03-15 20:19] cesswairimu commented on #7591
@Tlazypanda on the timestamp we would like to show the actual time that the question was created not updated. Closing this as its not a bug. Thanks

[2020-03-15 20:19] #7591 closed

[2020-03-15 20:26] cesswairimu commented on #6206
@Kirti2502  here you go https://github.com/publiclab/plots2/issues/6598

[2020-03-15 20:27] cesswairimu commented on #6727
@Alexjake660 yes t is please go ahead

[2020-03-15 20:28] cesswairimu commented on #6206
@Alexjake660 here https://github.com/publiclab/plots2/issues/6727

[2020-03-15 20:29] cesswairimu commented on #6734
This was solved in #7455. Closing this thanks everyone

[2020-03-15 20:29] #6734 closed

[2020-03-15 20:30] cesswairimu commented on #6206
@Shulammite-Aso here https://github.com/publiclab/plots2/issues/6756

[2020-03-15 20:43] Shulammite-Aso commented on #6206
Thank you @cesswairimu

Meanwhile, I remember you from oscafest😊

[2020-03-16 04:30] Tlazypanda commented on #7591
@cesswairimu but the text says updated and not created in the second screenshot in the issue description 😅

[2020-03-16 06:43] cesswairimu commented on #6206
wow cool, nice to meet you @Shulammite-Aso, oscafest was great :raised_hands:

[2020-03-16 06:49] #7532 closed

[2020-03-16 07:11] guArroyo commented on #6894
Hello! May I take this issue up?

[2020-03-16 07:15] guArroyo commented on #5306
Hello! May I be assigned to this issue? Thanks :)

[2020-03-16 08:57] Alexjake660 commented on #7617
@nstjean @Tlazypanda please I need help wrapping my head around the proposal topic. Is it a proposal on which of the two(2) projects available for interns from the outreachy program or a proposal on any project of interest in the publiclab ecosystem?

[2020-03-16 09:20] Shulammite-Aso commented on #7617
@Alexjake660 the idea is to choose a project that you would love to work on during the internship, from the projects posted on outreachy. Then study this project and know the problem that needs to be solved well enough, then write a proposal showing how you intend to solve the problems in this project during the internship.

[2020-03-16 09:26] Medlineme4 commented on #7617
If you don't mind where are the projects posted

Sent from Yahoo Mail on Android

  On Mon, Mar 16, 2020 at 10:20 AM, Shulammite-Aso<notifications@github.com> wrote:

@Alexjake660 the idea is to choose a project that you would love to work on during the internship, from the projects posted on outreachy. Then study this project and know the problem that needs to be solved well enough, then write a

[2020-03-16 09:35] Shulammite-Aso commented on #7617
@Medlineme4 if you're an outreachy applicant, you should be able to see the projects listed under public lab.  But also here on this page, the projects are listed https://github.com/publiclab/plots2/issues/7617#issue-578136272

[2020-03-16 09:39] Medlineme4 commented on #7617
Thank you. I saw this but wasn't sure as it read coming soon

Sent from Yahoo Mail on Android

  On Mon, Mar 16, 2020 at 10:36 AM, Shulammite-Aso<notifications@github.com> wrote:

@Medlineme4 if you're an outreachy applicant, you should be able to see the projects listed under public lab. But also here on this page, the projects are listed #7617 (comment)

—
You are receiving this because you were

[2020-03-16 09:53] Shulammite-Aso commented on #6206
Yeahh, thank you!

[2020-03-16 10:13] theOpetunde commented on #7632
@Kirti2502 please go ahead

[2020-03-16 10:42] Alexjake660 commented on #7617
@Shulammite-Aso Thank you for the clarification.

[2020-03-16 10:49] cesswairimu commented on #7617
Hi @Srija616, yeah you can work on an issue if its unassigned, just comment and say you are working on. No need for us to assign you an issue just browse the ones we have and leave a comment if if find one that you would like to work on. Thanks

[2020-03-16 11:14] Alexjake660 commented on #7617
@Shulammite-Aso Please what do I do if the system test of my build on Travis fails?

[2020-03-16 11:35] Srija616 commented on #7617
Ok! Sure. Will work on the issues. However, it has happened that I made a PR for an open issue but later received a comment that the issue has already been resolved.

[2020-03-16 11:49] Srija616 commented on #6867
@jywarren Hey! I am an Outreachy applicant. I would like to work on this, can you help me get started on this issue?

[2020-03-16 14:25] alaxalves commented on #7624
Hello guys I'm Alax, but I think most people already know me here from last year's GSoC program. I intend to work this year again for 2020 GSoC in the DevOps upgrades on Spectral Workbench. My proposal is available [here](https://publiclab.org/notes/alaxallves/03-06-2020/gsoc-proposal-2020-spectral-workbench-rails-and-devops-upgrades?_=1583504846). Everyone feel free to comment and suggest any cha

[2020-03-16 14:27] gr455 commented on #7624
Hi everyone, I am Ruturaj from India. A freshman at International Institute of Information Technology, Bangalore. I have been a part of PL for about 3 months now and it has been great and I have leart a lot of things on my way :smile:

[2020-03-16 18:09] Alexjake660 commented on #7646
@Tlazypanda please check out my pull request.

[2020-03-16 21:21] taysa91 commented on #7167
I am an Outreachy participant and new to Github. If this issue is still open, can I try it.
Thanks

[2020-03-16 21:31] taysa91 commented on #6551
Hi,
I am Outreachy candidate and new to open source. Is this issue still open. Can I take it.

[2020-03-16 21:58] taysa91 commented on #5137
Hi,
I am an outreachy participant and new to open source. Is this still open, can I try it.

[2020-03-16 22:06] justinelai opened #7662 "Change function t to translation in app/views/user_tags/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-16 22:08] justinelai commented on #7662
Hi @publiclab/plots2-reviewers - I'm an Outreachy applicant and noticed we could use more FTOs! I followed the instructions in https://github.com/publiclab/plots2/issues/6206

If this looks good, I'm happy to claim and solve it. Thanks!

Note: will need to update
https://github.com/publiclab/plots2/issues/6579

[2020-03-16 22:08] taysa91 commented on #5137
Hi @gauravano
I am an outreachy participant and new to open source. Is this still open, can I claim it.

[2020-03-17 00:26] taysa91 commented on #7617
Hi @Tlazypanda
I am an Outreachy applicant and was finding my way around Github as I am new to open source.
Interested in taking up an issue but all are snatched. Any leads.
Thanks.

[2020-03-17 00:46] taysa91 commented on #6736
Hi @nstjean
I am an Outreachy applicant and new to open source. Is this issue still open. I would like to work on it.
Thanks

[2020-03-17 00:52] taysa91 commented on #7662
Hi @cesswairimu
I am on Outreachy applicant and new to open source. I see that @justinelai  might be working on this issue. If not, I would like to try it.
Thanks.

[2020-03-17 03:34] sashadev-sky commented on #6810
@kamal-kaur04 go for it!

@Alexjake660 if @kamal-kaur04 doesn't respond in the next week you can go for it

[2020-03-17 03:38] Tlazypanda commented on #7654
Usually just one since it's meant to be for first timers only 😅 after the fto's you can move to the fto candidates which are a bit more difficult than the ftos. @medlineme4

[2020-03-17 03:50] Tlazypanda commented on #7653
@Jigyasa-Kumari Go ahead ! Since @Janetsomehow you have already worked on some first timer issues before, I think @Jigyasa-Kumari should get a chance if that's okay with you @Janetsomehow :sweat_smile:

[2020-03-17 03:55] Tlazypanda commented on #7637
@p-vinayak are you still working on this issue ? If not this can be assigned to someone else

[2020-03-17 04:05] Tlazypanda commented on #7617
Answering some of the queries here-
1.@Alexjake660 if your build fails there's no need to worry sometimes Travis fails due to unrelated changes ...in case of this feel free to ping @cesswairimu to restart the build :smile:
2. @Srija616 usually when you are choosing any issue to work on check if the issue already has any linked pull requests , you can find this when you scroll down the issue descri

[2020-03-17 04:12] sssash18 opened #7664 "Change t to translation in tag/blog.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-17 04:14] sssash18 opened #7665 "Change t to translation in contributors.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-17 04:14] sssash18 commented on #6579
New ftos #7664 , #7665

[2020-03-17 04:19] sssash18 opened #7666 "Change t to translation in users/list.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-17 04:21] sssash18 commented on #7617
Hey folks ,Posted new ftos #7664 , #7665, #7666

[2020-03-17 05:23] Srija616 opened #7667 "Click required for "Topics" but not for other categories on https://publiclab.org/dashboard"
[

**Please describe the desired behavior.**
This issue is on the [Public Lab dashboard](https://publiclab.org/dashboard)
The "Topics" on the [dashboard](https://publiclab.org/dashboard) needs a left click to show options whereas other tabs like "Community", "Tools", etc require only hovering the mouse on them.

I suggest we maintain uniformity over here. Please refer the gif below.
Also, @cesswai

[2020-03-17 05:29] Jigyasa-Kumari commented on #7653
@Tlazypanda Thanks you!

[2020-03-17 05:54] p-vinayak commented on #7637
Just created a pull request! Sorry for the delay

[2020-03-17 06:17] Medlineme4 commented on #7665
Can I work on this?

[2020-03-17 06:23] Medlineme4 commented on #7654
How do I locate or move to the fto candidate? Is any available

Sent from Yahoo Mail on Android

  On Tue, Mar 17, 2020 at 4:39 AM, Sneha Mishra<notifications@github.com> wrote:

Usually just one since it's meant to be for first timers only 😅 after the fto's you can move to the fto candidates which are a bit more difficult than the ftos. @Medlineme4

—
You are receiving this because you were menti

[2020-03-17 06:29] sssash18 commented on #7665
@Medlineme4 I think you have worked out enough ftos ,we should keep it for others if you are fine with it.

[2020-03-17 06:38] taysa91 commented on #7664
Hi @sssash18 ,
Thanks for opening these issues. I will like to work on this one.

[2020-03-17 06:53] sssash18 commented on #7664
Yeah @taysa91 go ahead!

[2020-03-17 07:02] Jigyasa-Kumari commented on #6686
Hi, I am Jigyasa and I am an Outreachy 2020 applicant. Is this issue open and can I work on it?

[2020-03-17 07:07] Jigyasa-Kumari commented on #6685
Hi, I am Jigyasa, and I am an Outreachy 2020 applicant. Is this issue open, and can I work on this?

[2020-03-17 07:12] Jigyasa-Kumari commented on #6230
Hi, I am Jigyasa and I am an Outreachy 2020 applicant. Is this issue open, and can I work on it?

[2020-03-17 07:15] Janetsomehow commented on #7653
no problem. I will work on something else

[2020-03-17 07:17] Jigyasa-Kumari commented on #6173
Hi, I am Jigyasa, and I am an Outreachy 2020 applicant. Is this issue open and can I work on this?

[2020-03-17 07:42] taysa91 commented on #7664
Hi @sssash18,
While creating a PR, Travis CI build failed. Details shows integration and system tests failed. How can I address those issues.

[2020-03-17 10:58] Alexjake660 commented on #6810
@sashadev-sky thank you.

[2020-03-17 13:22] taysa91 commented on #7664
Thanks @sssash18, Update complete, first PR !
Please review and let me know.

[2020-03-17 13:34] justinelai commented on #7662
@sssash18 Hi! I saw that you opened some new FTOs for the same t function. Could you please label mine and approve me to work on it? Thanks!

CCing @jywarren @gauravano @SidharthBansal per instructions for getting this labeled.

@taysa91 - By now I think there are new FTOs to choose from. But if I'm doing this correctly, we can coordinate and I'll make you one :)

[2020-03-17 15:05] nstjean commented on #6736
@taysa91 There is a PR submitted for this that works, they are just waiting to merge it until something else is done. :)

[2020-03-17 15:06] nstjean commented on #6551
@taysa91 You can work on this.

[2020-03-17 15:24] nstjean commented on #6775
@Alexjake660 Go ahead!

[2020-03-17 15:32] nstjean commented on #6446
@Angelvicks If you still need a FTO to complete please go ahead!

[2020-03-17 15:40] nstjean commented on #7621
@cesswairimu What do you think?

[2020-03-17 15:42] nstjean commented on #7622
This does sound like it could be useful. @cesswairimu @jywarren what do you think?

[2020-03-17 15:49] taysa91 commented on #6551
@nstjean Thank you. I did make a contribution but will also like to work on this one. Hope y'all don't mind.

[2020-03-17 15:55] nstjean commented on #6551
Hi @taysa91 ! We ask that people only do one FTO issue so that others have something to do to start out. If you have completed one already then next you can take a look at the bugs we have that need a little fix: https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3Abug

[2020-03-17 15:59] taysa91 commented on #6551
@nstjean Sure no problem, and thank you.

[2020-03-17 19:10] #7266 closed

[2020-03-17 20:48] emilyashley opened #7675 "External links containing an `@` at symbol currently parse as public lab usernames."
Scenario:
When inserting an external link on a public lab post
And the link contains an `@`
Then it should parse as part of the URL and **not** a link to a public lab username

Screenshot from @joyofsoy:
![Screen Shot 2020-03-17 at 3 47 42 PM](https://user-images.githubusercontent.com/15912063/76900251-fb486500-6866-11ea-8a1f-3f208aae5f0f.png)

Here's an example link to test from the screenshot ab

[2020-03-17 20:49] emilyashley commented on #7675
Notes from Jeff:

[2020-03-17 21:23] TroydonAnabolic commented on #7665
can i work on this? my first time

[2020-03-17 23:07] TroydonAnabolic commented on #7662
Hi, can I get one more too please :)

[2020-03-17 23:23] moliver4 commented on #7666
Hello! I would love to work on this issue.

[2020-03-18 09:49] Shulammite-Aso opened #7679 "change t to translation in app/views/tag/_contributors.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-18 10:05] Shulammite-Aso opened #7680 "Change function t to translation in app/views/tag/_profileCard.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-18 12:01] TaishiRoy commented on #7680
Hi! I would like to work on this issue.

[2020-03-18 14:28] andrearose26 commented on #7679
Hello! Could I take a crack at this one?

[2020-03-18 14:44] cesswairimu commented on #7662
@justinelai sure, I try to create more ftos within the week. @taysa91 and @TroydonAnabolic I will find to find ftos for you before end of day. Thanks all

[2020-03-18 14:44] #7662 closed

[2020-03-18 15:35] divided7 commented on #7665
Can I work on this issue?

[2020-03-18 19:46] cesswairimu opened #7683 "Create "first-timer-only" issues for new comers"
(This issue is in continuation of #6206 )

Hi everyone!

We, at Public Lab, are known for welcoming new contributors into the Open Source world but a number of times, newcomers were not able to find first-timers-only issues to start their journey or face troubles making their first contribution with us.

Reasons being:

Lack of first-timers-only issues
Struggle in finding the good issue to start a

[2020-03-18 19:47] cesswairimu commented on #6206
Moving this to https://github.com/publiclab/plots2/issues/7683 since the thread is too long. Thanks everyone

[2020-03-18 19:47] #6206 closed

[2020-03-18 19:59] cesswairimu opened #7684 "Update translation in notes show.html"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-18 20:00] cesswairimu commented on #7683
@taysa91  here is an fto for you https://github.com/publiclab/plots2/issues/7684

[2020-03-18 20:04] cesswairimu opened #7685 "Update Translation in notes show.html"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-18 20:08] cesswairimu commented on #7683
@TroydonAnabolic her you go https://github.com/publiclab/plots2/issues/7685

[2020-03-18 20:11] cesswairimu commented on #7617
Sorry about that...Its always best to check if anyone is working on an issue before you start working on it to avoid that in feature. Normally a comment will be left on the issue or you can see a link to a PR

[2020-03-18 20:13] cesswairimu commented on #7617
Hello all :wave: I really love the conversations, discussion and collaborations going on here :heart: . Keep it up :tada: :tada:  Please leave a comment here if you are looking for a first-timer-issue https://github.com/publiclab/plots2/issues/7683

[2020-03-18 20:21] #7665 closed

[2020-03-18 20:24] #7666 closed

[2020-03-18 20:26] #7653 closed

[2020-03-18 20:28] #7655 closed

[2020-03-18 20:36] #7636 closed

[2020-03-18 20:38] #7680 closed

[2020-03-18 20:38] taysa91 commented on #7683
@cesswairimu  I would love to work on this issue, but was told that one can only contribute to 1 FTO issue and I have already done #7664
Let me know if I can still pick it up, and thank you all; you guys have really made us feel welcomed and eased our entrance into Open Source.

[2020-03-18 20:43] #7664 closed

[2020-03-18 20:55] #7483 closed

[2020-03-18 20:57] cesswairimu commented on #7683
oh I didn't know you have already worked on a fto...okay I will assign to to someone else. Thanks

[2020-03-18 21:02] cesswairimu commented on #7683
Glad you had an easier time @taysa91 :smile:, Welcome

[2020-03-18 21:04] #7597 closed

[2020-03-18 21:10] cesswairimu commented on #7638
This is solved not sure in which PR...closing this. Thanks all

[2020-03-18 21:10] #7638 closed

[2020-03-18 21:13] cesswairimu commented on #6730
Solved in https://github.com/publiclab/plots2/pull/7615

[2020-03-18 21:13] #6730 closed

[2020-03-18 21:19] cesswairimu commented on #7457
Seems like this was solved in another PR. Closing this...Let me know if you need help finding another issue. Thanks

[2020-03-18 21:19] #7457 closed

[2020-03-18 22:19] Angelvicks commented on #6446
@nstjean Thanks for your response. But am not quite sure to know an FTO can you tell me please ?

[2020-03-18 22:27] nstjean commented on #6446
@Angelvicks Oh yes! FTO = "first timers only". You will see them tagged by that name! https://github.com/publiclab/plots2/labels/first-timers-only We ask everyone joining our community completes one as a really easy way to get started. :)

[2020-03-19 02:32] TroydonAnabolic commented on #7683
Thanks Cess, will get onto it :)

On Thu, Mar 19, 2020 at 7:08 AM Cess <notifications@github.com> wrote:

--
Kind Regards,

<http://troydonfitness.com>
Troydon Luicien   Web Developer | PersonalTrainer  at Troydon Fitness | CEO
 E:  troyincarnate@gmail.com

troydonfitness.com

LinkedIn: https://www.linkedin.com/in/troydon-luicien-6127a762/
GitHub: https://github.com/TroydonAnabolic

[2020-03-19 05:53] Tlazypanda commented on #7624
Hey everyone! @cesswairimu @jywarren @emilyashley  Just wanted to know if I can submit my proposal for Outreachy for Gsoc as well. The Outreachy website states that if you are a student its better to apply for both the programs. My only concern is the topic I have chosen is not listed in the gsoc ideas for this year. Would this pose as a problem? Thanks

[2020-03-19 06:00] Tlazypanda commented on #7591
@cesswairimu @SidharthBansal  shouldn't we change that text to created in order to avoid confusion? Kindly have a look at the second screenshot. Thanks :v:

[2020-03-19 06:00] chinmay021 commented on #7667
i would like to work on this . Can i?

[2020-03-19 07:09] Tlazypanda commented on #7644
@VladimirMikulic Some telepathy is surely on its way :rofl:

[2020-03-19 07:20] Shulammite-Aso commented on #7679
Yes @andrearose26 if you're a first timer on public lab. 😊

[2020-03-19 09:26] Tlazypanda commented on #7675
@emilyashley can I work on this?

[2020-03-19 09:46] Tlazypanda opened #7688 "Change function t to translation in app/views/tag/_topicCard.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-19 09:49] Tlazypanda opened #7689 "Change function t to translation in app/views/tag/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-19 09:53] Tlazypanda opened #7690 "Change function t to translation in app/views/tag/show/_user_controls.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-19 09:54] Tlazypanda opened #7691 "Change function t to translation in app/views/tag/widget.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-19 09:55] Tlazypanda commented on #6579
New ftos #7688 #7689 #7690 #7691

[2020-03-19 09:57] Tlazypanda commented on #7617
Hey everyone! Opened some new ftos #7688 #7689 #7690 #7691 .Feel free to ping me in case you have any questions :sweat_smile:

[2020-03-19 09:58] Tlazypanda commented on #7683
@taysa91 @TroydonAnabolic Hey there! Opened some new ftos #7688 #7689 #7690 #7691 .Feel free to ping me in case you have any questions :sweat_smile:

[2020-03-19 10:05] Janetsomehow commented on #7691
Can i work on this

[2020-03-19 10:19] Tlazypanda commented on #7654
@Medlineme4 you can find them at https://code.publiclab.org/. Thanks :v:

[2020-03-19 10:44] Tlazypanda commented on #7617
Answering some more common queries asked - @cesswairimu @jywarren please add if I missed anything

1. "I have worked on an fto , what's the next step" : First of all great job on your first contribution to Public Lab :tada: Now the next step is usually taking up a fto-candidate - These are issues that have a difficulty level more than fto but have all the relevant information required to solve the

[2020-03-19 10:45] Tlazypanda commented on #7691
@Janetsomehow Go ahead! :+1:

[2020-03-19 13:02] AntroMarina commented on #7690
Can I take this, please?

[2020-03-19 13:14] Tlazypanda commented on #7690
Sure, go ahead ✌️

[2020-03-19 13:35] AntroMarina commented on #7690
Done!

[2020-03-19 14:10] sssash18 opened #7695 "No indication for current sort"
### Please describe the problem (or idea)

Currently , a user can't know the way in which people are sorted.
**Current Behaviour**
![Screenshot 2020-03-19 at 7 37 03 PM](https://user-images.githubusercontent.com/57896905/77076126-62a61680-6a19-11ea-9677-583ca8b8cd49.png)

There must be some way of indicating like underlining  only the parameter in which the people are currently sorted.

### Please

[2020-03-19 14:10] sssash18 commented on #7695
@cesswairimu @SidharthBansal @nstjean @VladimirMikulic Please provide your views on this.
I would like to solve this issue. Thanks!

[2020-03-19 14:13] andrearose26 commented on #7679
@Shulammite-Aso I am!

[2020-03-19 14:18] VladimirMikulic commented on #7695
You would like to implement users sorting? It's fine by me.

[2020-03-19 14:21] sssash18 commented on #7695
@VladimirMikulic The sorting already works but their is no indication about the way in which users are currently sorted, I would like to underline only the parameter in which users are currently sorted.

[2020-03-19 15:14] llabake commented on #7689
Can I work on this?

[2020-03-19 18:50] khushi02 commented on #7688
Can I take this?

[2020-03-19 19:00] Tlazypanda commented on #7688
@khushi02 Sure!

[2020-03-19 19:15] khushi02 commented on #7688
Done!

[2020-03-20 02:05] guArroyo commented on #7684
Hey, can i take this up as a contribution? :)

[2020-03-20 02:12] guArroyo commented on #7617
Hello everyone! I'm a 2020 Outreachy applicant, and I'm looking forward to working with everyone here as the contribution phase continues! :) Cheers.

[2020-03-20 08:26] Tlazypanda commented on #7689
@llabake Go ahead! :100:

[2020-03-20 08:50] Tlazypanda commented on #7586
@publiclab/maintainers @jywarren @emilyashley can you kindly approve? Thanks :v:

[2020-03-21 12:28] shreyaa-s commented on #7593
Thanks @govindgoel ! I'll get it done today itself.

[2020-03-21 12:40] Shulammite-Aso opened #7700 "change function t to translation in app/views/users/_photo.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-21 13:05] Shulammite-Aso opened #7701 "change function t to translation in app/views/sidebar/_post_button.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-21 13:18] Shulammite-Aso opened #7702 "change function t to translation in app/views/tag/show/_tab_content.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-21 13:19] LarrySul commented on #7702
Hi, can I take this up

[2020-03-21 13:31] Shulammite-Aso opened #7703 "change function t to translation in app/views/tag/show/_nav_tabs.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-21 13:34] Alexjake660 commented on #6775
@nstjean check out my pull request please.

[2020-03-21 13:37] Shulammite-Aso commented on #7702
@LarrySul go ahead🎉

[2020-03-21 14:06] Atep6 commented on #7700
Hi, can i take this up?

[2020-03-21 14:21] Alexjake660 commented on #6727
@cesswairimu check my pull request please.

[2020-03-21 17:20] Shulammite-Aso commented on #7700
Sure! @Atep6

[2020-03-21 18:39] SeriousHyena commented on #7703
I would like to claim this issue please

[2020-03-21 18:45] Shulammite-Aso commented on #7703
It's yours @SeriousHyena 😄

[2020-03-21 18:58] shreyaa-s commented on #7618
Hey @nstjean @jywarren  , can I please get assigned to this one? Thanks!

[2020-03-21 19:33] LarrySul commented on #7702
#7706 done with the task and made a PR

[2020-03-21 19:34] LarrySul commented on #7702
https://github.com/publiclab/plots2/pull/7706

[2020-03-21 19:39] LarrySul commented on #7690
https://github.com/publiclab/plots2/issues/7690#issuecomment-601170712

[2020-03-21 22:03] SeriousHyena commented on #7703
Thanks I will let you know if I have any questions
Sent from Yahoo Mail on Android

  On Sat, Mar 21, 2020 at 11:45 AM, Shulammite-Aso<notifications@github.com> wrote:

It's yours @SeriousHyena 😄

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-21 22:13] Shulammite-Aso commented on #7702
Great!  Thank you for working on this. 😄👍

PR will get merged soon hopefully

[2020-03-22 05:58] Shulammite-Aso commented on #7703
Cool.

[2020-03-22 15:15] SeriousHyena commented on #7703
I have just started working on it and will hopefully have it figured out shortly.

Thanks,
SeriousHyena

[2020-03-22 15:48] #7578 closed

[2020-03-22 16:00] SeriousHyena commented on #7703
Hi Shulammmite-Aso:
I notice that most of the lines to edit do not have exact code "<i class="fa fa-question-circle"></i> <span class="d-lg-inline"><%= translation('tag.show.questions') %></span>" In that case do I just add the revised code and leave the exisiting line or replace it with the proposed change.

Thanks,
SeriousHyena

[2020-03-22 16:22] mandysGit commented on #7701
Hi 😄
I'm a first timer. May I claim this issue?

[2020-03-22 17:31] Shulammite-Aso commented on #7703
@SeriousHyena you are to only change the t in those lines translation, every other code in the various lines should remain as they are.

[2020-03-22 17:33] Shulammite-Aso commented on #7701
@mandysGit yes you can😃

[2020-03-22 19:28] shreyaa-s commented on #7617
Hey everyone, I'm Shreyaa Sharma, an Outreachy 2020 applicant. Looking forward to working with everyone.
All the best!

[2020-03-22 19:47] shreyaa-s commented on #7618
@nstjean @jywarren @SidharthBansal @VladimirMikulic @cesswairimu @sagarpreet-chadha @crisner @ebarry Hey,
I went through the code and have thought of two ways that we could use to sort this out:
1. We check for form validation at every key up and enable the the submit button only when it's validated but I'm not sure if that would be the optimal user experience.
2. Another thing that we could do is

[2020-03-22 20:44] SeriousHyena commented on #7703
Great thanks

[2020-03-22 20:50] VladimirMikulic commented on #7618
The second option defeats the purpose of the interactive form. That's why it was made that way.

[2020-03-22 21:30] mandysGit commented on #7701
I finished the task and opened a PR: #7708

[2020-03-22 23:15] #7629 closed

[2020-03-22 23:21] #7695 closed

[2020-03-23 13:56] shreyaa-s commented on #7618
So I've been looking into the issue and turns out it was misunderstood. The submit button enables only when all the inputs pass the validation check except for the last, ie. `spamaway` check. The button disables with the wrong input in `spamaway` but it's due to the reloading of the page and more importantly the user gets registered since all other validation checks have passed irrespective of the

[2020-03-23 14:02] shreyaa-s commented on #7574
Hey, can I take this one?

[2020-03-23 14:09] VladimirMikulic commented on #7618
@shreyaa-s correct. That's kind of bug here. It would be great if the interactive form would validate `spam` form as well. If all data in the form is valid (username, email, password, confirmPassword & spam form) -> enable the submit button. Otherwise, keep the submit button disabled.

Hopefully, this clears your doubts.

[2020-03-23 19:40] cesswairimu commented on #7617
Hi everyone, if you have been waiting for too long for aa review please feel free to leave the link here to the PR and ping me so you can smooth your application...Also any proposals on the PL website you can leave a link so as the mentors can give feedback.
 Welcome @guArroyo @shreyaa-s

[2020-03-23 19:42] cesswairimu commented on #7617
Thanks @Tlazypanda, The explanation is perfect thank you :heart:

[2020-03-23 20:05] cesswairimu opened #7711 "Weekly community Check-In #52 - Stay Safe"
We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their current week's

[2020-03-23 20:28] cesswairimu commented on #7711
@sssash18, @Tlazypanda, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shulammite-Aso, @Jigyasa-Kumari, @moliver4, @TroydonAnabolic, @justinelai, @Janetsomehow, @keshav234156, @Snouzy, @dependabot-preview[bot], @stevenalila, @Digiox, @NitinBhasneria, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @cesswairimu,

[2020-03-23 20:29] cesswairimu commented on #7711
@Rishabh570 @sashadev-sky @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publiclab/image-sequ

[2020-03-23 20:32] alaxalves commented on #7711
Hey all,
I'm watching a lot of Netflix and anime on this quarentine time :laughing:. But also taking time to contribute to Spectral Workbench and also learning some DevOps related tech, such as Terraform, Kubernetes and Prometheus. Since my PR on Spectral have by recently reviewed and merged by @cesswairimu I'll focus now on increasing the test coverage for the Spectral repo. @gr455 has been helpi

[2020-03-23 20:34] cesswairimu commented on #7711
Hi all, I am safe, one thing that I am doing to pass time is , Dad mailed me some of my old favorites books from when I was younger, I am rereading them. Currently re-reading Harry Potter and the goblet of fire :nerd_face:  Great week ahead everyone

[2020-03-23 20:36] cesswairimu commented on #7624
@Tlazypanda yeah you def can

[2020-03-23 20:42] cesswairimu commented on #7624
Hi all, I have reviewed most of the proposals and left some feedback. I will go through the rest within the week. If you have a PR that has been waiting for review for a while ..feel free to mention it here and ping me...It easier to track it from here than on the PRs I could miss it amidst the hundreds of the emails notifications. Thanks

[2020-03-23 21:00] cesswairimu commented on #5137
@taysa91 please go ahead

[2020-03-23 21:08] cesswairimu commented on #6686
Hi all I didn't see this sooner , @ananyaarun your are right, this is not an issue...Its working as desired. Closing this. Thanks all

[2020-03-23 21:08] #6686 closed

[2020-03-23 21:08] cesswairimu commented on #6686
@Jigyasa-Kumari  please let me know if you need help getting a first timer issue

[2020-03-23 21:09] cesswairimu commented on #6230
Yeah @Jigyasa-Kumari its open, feel free to get started on it. Thanks

[2020-03-23 21:16] cesswairimu commented on #7621
mmmh I don't think we need this.. :thinking: If it was about removal we would have made sense but since its not a destructive action we don't need the dialog...hat do you think @nstjean

[2020-03-23 21:29] cesswairimu commented on #7622
I think its a great idea @ebarry @steviepubliclab what do you think

[2020-03-23 21:46] cesswairimu commented on #7683
Thanks @Tlazypanda

[2020-03-23 21:48] cesswairimu commented on #7667
There is an issue about this somewhere I will try to look for it and link it here

[2020-03-23 21:55] TroydonAnabolic commented on #7683
Hey, just saw this will check it out if not already taken care of.

On Thu, Mar 19, 2020 at 8:58 PM Sneha Mishra <notifications@github.com>
wrote:

--
Kind Regards,

<http://troydonfitness.com>
Troydon Luicien   Web Developer | PersonalTrainer  at Troydon Fitness | CEO
 E:  troyincarnate@gmail.com

troydonfitness.com

LinkedIn: https://www.linkedin.com/in/troydon-luicien-6127a762/
GitHub: https://

[2020-03-23 21:55] #6727 closed

[2020-03-23 22:10] cesswairimu commented on #7684
Hi @guArroyo, yeah sure, go ahead

[2020-03-24 03:25] sssash18 commented on #7624
@SidharthBansal @jywarren @cesswairimu Please provide your views on Accesslint(in Automatic linting of PR) in my proposal as I have to include it in my proposal before the deadline:https://publiclab.org/notes/suyash1814/03-07-2020/gsoc-2020-proposal-site-wide-accessiblity-on-publiclab-org

[2020-03-24 04:56] gr455 commented on #7624
Hi @cesswairimu . Can you please review https://github.com/publiclab/spectral-workbench/pull/483 and https://github.com/publiclab/spectral-workbench/pull/490 . Thanks :)

[2020-03-24 05:01] gr455 commented on #7711
Hey everyone, to pass time, I have been playing Hollow Knight and also just yesterday saw Harry Potter: The Sorcerer's Stone which was my first Harry Potter movie and I loved it. I have also been monitoring and attempting to increase sw's test coverage while my university is closed :smiley:

[2020-03-24 05:08] TroydonAnabolic commented on #7711
Studying and applying for work mostly here.

On Tue, Mar 24, 2020 at 4:01 PM Ruturaj Mohite <notifications@github.com>
wrote:

--
Kind Regards,

<http://troydonfitness.com>
Troydon Luicien   Web Developer | PersonalTrainer  at Troydon Fitness | CEO
 E:  troyincarnate@gmail.com

troydonfitness.com

LinkedIn: https://www.linkedin.com/in/troydon-luicien-6127a762/
GitHub: https://github.com/TroydonAna

[2020-03-24 09:42] cesswairimu commented on #7624
@sssash18 @gr455  I will take a look within the day. Thanks

[2020-03-24 14:37] jywarren commented on #7675
@Tlazypanda that would be super, thank you!!!

[2020-03-24 14:50] kamal-kaur04 commented on #6810
Thanks @sashadev-sky Will do this.

[2020-03-24 14:59] jywarren commented on #7529
great detective work here! Thanks!!

[2020-03-24 15:09] cesswairimu commented on #7360
Hi awesome mentors,
 Thanks for the great work you are doing. We need some help reviewing the applicants pull requests having only a week left to the end of the application period. Please help so that they can submit strong applications. @publiclab/mentors @publiclab/reviewers. Thanks

[2020-03-24 15:19] #7529 closed

[2020-03-24 15:20] #7566 closed

[2020-03-24 15:37] jamescapps commented on #7711
Working on building a game.
https://github.com/jamescapps/Space_Monkey

Maybe I need to check out Harry Potter.  Seems to be popular here.  Never read the books or watched the movies...

[2020-03-24 16:25] Janetsomehow commented on #7711
I am safe over here 😊😊

[2020-03-24 17:04] nstjean commented on #7711
I am safe, staying home. My husband is working from home now and my kids school has been shut down so I'm keeping busy homeschooling them. We are watching a lot of science shows, I've been watching home renovation shows on Netflix (it's a weakness). I'm worried about friends and family right now.

[2020-03-24 17:08] IshaGupta18 commented on #7711
I am glad everyone is taking care and I hope everyone is staying safe. I am
home as well, in lockdown. My college has been shut down for some while. I
have been a little inactive for sometime but now I think is a good
opportunity to come back to the community! Anyone who needs any help with
their GSoC or Outreachy proposals or any other issues, feel free to tag me
and message me on Gitter! Thank y

[2020-03-24 17:15] sssash18 commented on #7711
@IshaGupta18 please review my gsoc proposal and also share your views on Accesslint( in automatic linting)
https://publiclab.org/notes/suyash1814/03-07-2020/gsoc-2020-proposal-site-wide-accessiblity-on-publiclab-org

[2020-03-24 17:28] justinelai commented on #7711
Glad everyone is doing okay. I'm in NYC and just haven't been able to focus on my Outreachy proposal. But if it doesn't come together for this round, I'm still looking forward to participating in this community where I can 🤗

[2020-03-24 18:14] #7586 closed

[2020-03-24 18:16] cesswairimu commented on #7711
Hi @justinelai let us know if there is any way we can help..

[2020-03-24 18:58] SidharthBansal commented on #7624
To all GSoC applicants, Google has changed its timeline for GSoC.please have a look at new timeline at https://summerofcode.withgoogle.com/how-it-works/#timeline

[2020-03-24 19:00] SidharthBansal commented on #7711
To all GSoC applicants, Google has changed its timeline for GSoC.please have a look at new timeline at https://summerofcode.withgoogle.com/how-it-works/#timeline

[2020-03-24 19:04] SidharthBansal commented on #7711
Hello all, I was a little busy with my midterms examinations and then my mother's post-surgery aids.
Now she is perfectly good from this week.
In India, there is a complete lockdown from 20th March. Even stricter policies came today. Colleges, schools, gyms etc all closed.
I was preparing food with mom and dad today. Learning how to cook amazing Indian food. I hope I will be able to cook good food

[2020-03-24 19:05] SidharthBansal commented on #7711
Who will be doing the next weekly check-in?

[2020-03-24 19:11] Alexjake660 commented on #6810
Exactly a week.
Lol

[2020-03-24 19:18] jywarren commented on #7360
Hi @Tlazypanda were you able to find the Public Lab pages on Outreachy? I think you may have been looking too early... they should be there now!

@harshithpabbati @pydevsg @ataata107 IS is a great project and we will support it through the programs if we can. But we may have a much smaller number of slots this year in GSoC as we are participating under an umbrella organization. If any of the prior

[2020-03-24 19:27] jywarren commented on #7360
and, hi all, if other mentors are interested we could use the help in leaving reviews for open proposals so far:

GSoC proposals so far: https://publiclab.org/notes/cess/03-02-2020/call-for-2020-soc-proposals-gsoc-and-outreachy

And here for Outreachy proposals: https://publiclab.org/notes/liz/03-09-2020/call-for-outreachy-2020-proposals

For example i left some detailed feedback here suggesting b

[2020-03-24 20:46] SidharthBansal commented on #7624
Students are requested to post the proposal on the Google website asap!

[2020-03-24 20:48] gr455 commented on #7624
@SidharthBansal do you mean the draft or the final pdf?

[2020-03-24 21:02] TroydonAnabolic commented on #7711
interesting.

On Wed, Mar 25, 2020 at 6:00 AM Sidharth Bansal <notifications@github.com>
wrote:

--
Kind Regards,

<http://troydonfitness.com>
Troydon Luicien   Web Developer | PersonalTrainer  at Troydon Fitness | CEO
 E:  troyincarnate@gmail.com

troydonfitness.com

LinkedIn: https://www.linkedin.com/in/troydon-luicien-6127a762/
GitHub: https://github.com/TroydonAnabolic

[2020-03-24 21:04] TroydonAnabolic commented on #7711
I am a fitness freak wanting to become a coding pro. I am lucky I got some
weights at home to tren with during this pandemic.

On Wed, Mar 25, 2020 at 6:05 AM Sidharth Bansal <notifications@github.com>
wrote:

--
Kind Regards,

<http://troydonfitness.com>
Troydon Luicien   Web Developer | PersonalTrainer  at Troydon Fitness | CEO
 E:  troyincarnate@gmail.com

troydonfitness.com

LinkedIn: https://

[2020-03-24 22:36] jywarren commented on #7714
I converted this to an FTO candidate and moved it to `plots2` !! Thanks, @jessibreen !!

[2020-03-25 00:19] sashadev-sky commented on #6810
@Alexjake660 sorry!! If you want an FTO and like JS there is one available here: https://github.com/publiclab/Leaflet.DistortableImage/issues/429

[2020-03-25 02:06] AidenOliver commented on #7714
Hey I was wondering if I could try and help fix this issue. I see that jessibreen has made a pull request already, so if it's already resolved then that's fine. But I'd like to help as much as I can.

[2020-03-25 02:26] neelesh17 commented on #7624
Hey @SidharthBansal  can you please provide some more information on this (https://publiclab.org/wiki/gsoc-ideas#Leaflet+Environmental+Layers+(LEL):+time+slider+UI ) idea.

[2020-03-25 06:21] sagarpreet-chadha commented on #7624
Hey @neelesh17 and everyone interested in that project, so the aim of the project is that we have a lot of data for each layers, hence we want a functionality to filter data on the basis of time (range). The most common UI is a TIME SLIDER (on map) which one may have seen on various websites.
Saying that we are open on better UI options with better UX.
I hope this helps! Thanks :)

[2020-03-25 06:31] Shulammite-Aso commented on #7711
I'm staying safe too, mostly at home. And I'm going to be spending most of my time writing my outreachy project proposal as I have just gotten started.
The problem is I feel very stressed and  rushed about it because i'm starting late. I have had to change my laptop in the past week and have had several problems with setting up my Ubuntu for development.

But I have all problem fixed now and will

[2020-03-25 06:57] sagarpreet-chadha commented on #7360
Reviewing Proposals!

[2020-03-25 07:59] Dhiraj240 commented on #7360
@jywarren Last time I applied as a mentor but this time I am participating as a student. I had already started with a proposal on Leaflet Environmental Layers (LEL): time slider UI.
@sagarpreet-chadha It is not a high priority project so can you suggest some pointers to make it more interesting. Also, I will submit the proposal for review by day after tommorrow.

[2020-03-25 08:36] Divy123 commented on #7360
Hi @sagarpreet-chadha how can I add my name to the list of projects as mentor? I was not able to find any option there!

[2020-03-25 08:38] Divy123 commented on #7360
Got that thanks!!

[2020-03-25 10:09] Tlazypanda commented on #7624
@cesswairimu Thanks for taking the time out to review all our prs!!  :tada:  Adding a couple more that need to be reviewed
https://github.com/publiclab/plots2/pull/7687 - ( issue description modified to add full before and after screenshot)
https://github.com/publiclab/plots2/pull/7607 - (approved)
https://github.com/publiclab/plots2/pull/7611 - (issue description changed just to reflect the socia

[2020-03-25 10:24] sagarpreet-chadha commented on #7360
Some pointers top of my heads:
1. Study the existing layer's data and segregate layers where we have time attribute.
2. Make mocks of how time slider may look on map.
3. Make the time slider generic so that it canbe used with any layer with any data json.
4. It should be easy to use --- the UX part.
5. You may have to do some research on how it is done on other websites.
6. Tests and documentation

[2020-03-25 13:36] neelesh17 commented on #7624
@sagarpreet-chadha but isn't this issue alone is a little small for gsoc, if you could suggest any other issue it would be really helpfull

[2020-03-25 14:30] VladimirMikulic opened #7717 "FEATURE: Integrate automatic code style checker"
Since I've been an active member of this community I see a lot (to be honest all) of beginners make the same styling mistakes and every time I have to point it out to them to enforce clean codebase.
I believe that other mentors could agree with me as well.

It would be very beneficial to the project and us (mentors) to have an automatic code style checker like [Stickler CI](https://stickler-ci.com

[2020-03-25 14:43] VladimirMikulic opened #7718 "BUG: tag_selection_test fails sometimes unexpectedly"
The bug is as far as I know old. Sometimes, the [test](https://github.com/publiclab/plots2/blob/master/test/unit/tag_selection_test.rb) fails for no reason.
I suspect it's because of time 'hacking' that we do in the test.

@Uzay-G do you have any suggestions here?
You did a great job fixing these kinds of tests in the GCI.

[2020-03-25 14:49] Uzay-G commented on #7718
Thanks! Do you have any logs of a situation where this one failed? That way I can troubleshoot the problem :+1:

[2020-03-25 15:22] VladimirMikulic commented on #7718
@Uzay-G sorry about that.
Here are a few examples:
https://travis-ci.org/github/publiclab/plots2/jobs/651138974?utm_medium=notification&utm_source=github_status from #7466

https://travis-ci.org/github/publiclab/plots2/jobs/661384805?utm_medium=notification&utm_source=github_status from #7481

[2020-03-25 15:53] #6810 closed

[2020-03-25 17:26] Alexjake660 commented on #6810
@sashadev-sky Thank you. I already completed an FTO though. If it'll still be okay for me to do this, I can.

[2020-03-25 17:40] nicoleiocana commented on #7711
Hey everyone! Just wanted to say hello and a big thank you to those individuals staying inside in isolation.  Similar to @justinelai, I have been focusing other matters due to the pandemic, but now hope to return to a bit of normalcy with contributing to Public Lab. Also, @TroydonAnabolic, I am fortunate to have my own bench and squat rack. Fellow fitness freak here as well.

And to @Shulammite-As

[2020-03-25 17:53] emilyashley opened #7719 "BP Anniversary Web Banner"
Draft notes: please ignore

Live - April 20 (Schedule a deploy)
preferably on beta/test before then

1200x427px

[2020-03-25 17:56] govindgoel commented on #7711
Hi everyone, I am staying safe mostly at home as India is under a complete lockdown for the next 21 days, everything is shut down here. I was busy completing my college assignments for this week and I also made a telegram bot to help freshers in our college so that they can get the basic information from that and I reviewed some of the first-timers pull requests as well. And I would like to open n

[2020-03-25 18:16] nicoleiocana commented on #7703
@SeriousHyena Is there anything that I can do to offer support? I see that you were assigned this issue, but have yet to create a PR? Just wanted to offer my help, but I am sure that you got this!

[2020-03-25 18:24] nicoleiocana commented on #7617
Hey everyone! Like many, I am also a potential Outreachy intern. Competition intensifies! jk. I have worked with Plots2 since November of last year and I can only echo what has already been said: Public Lab members (@jywarren , @SidharthBansal , @cesswairimu) are the most welcoming individuals to integrate you in the process of open source web development! I found this repo when I began my web dev

[2020-03-25 18:45] nicoleiocana commented on #7617
@guArroyo Underneath the Assignee column, if you see the Linked PR icon  ![linkedPR](https://user-images.githubusercontent.com/44947175/77573164-7b855080-6e8d-11ea-8b25-4101c9eb05dd.PNG), then that open issue will most likely be closed because someone already attributed the resolution. So these are off limits.

Yet, most collaborators don't mind if you ask them to be assigned the issue; they will

[2020-03-25 19:09] SeriousHyena commented on #7703
Good afternoon I have received the responses regarding my PR and will respond today to the issues.
Thanks,
SeriousHyena

Sent from Yahoo Mail on Android

  On Wed, Mar 25, 2020 at 11:16 AM, nicoleiocana<notifications@github.com> wrote:

@SeriousHyena Is there anything that I can do to offer support? I see that you were assigned this issue, but have yet to create a PR? Just wanted to offer my help,

[2020-03-25 19:57] SeriousHyena commented on #7703
Hi Nicole Yes thank you very much I do believe I have it I just need to get on the computer to get it sorted out and finished off Thank you very much it should be done today

[2020-03-25 22:09] TroydonAnabolic commented on #7711
@nicoleiocana Great to see fellow lifters and fitness freaks on board this. I just have dumbbells and barbells with some reasonable weight only unfortunately and still need a bench and a power rack to make my home gym a decent substitution. Am i required to be enrolled in a University or is a Certificate enrollment that I have completed last year still make me eligible to apply for the internship?

[2020-03-25 22:37] nicoleiocana commented on #7711
@TroydonAnabolic According to the [Outreachy Eligibility Rules](https://www.outreachy.org/apply/eligibility/), _Outreachy is open to both students and people who are not students_. Click the link to see further details because it also depends on other factors.

[2020-03-26 05:25] cesswairimu commented on #7711
@TroydonAnabolic for GSoC, yes you must be enrolled in an institution at the time of application. For Outreachy nope.

Thanks @govindgoel :tada:

[2020-03-26 06:52] PrachiSarda commented on #7700
Hey! I am an outreachy applicant and would like to contribute to this issue or some other issue if possible. @Shulammite-Aso

[2020-03-26 07:36] Shulammite-Aso commented on #7700
Hi @Atep6 are you still working on this??

If not, @PrachiSarda can take it up.

[2020-03-26 07:38] Shulammite-Aso commented on #7700
Meanwhile I'll look into creating more FTO issues and tell you about it.

[2020-03-26 13:30] govindgoel opened #7721 "Change function t to translation in app/views/tag/show/_contributors.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-26 13:30] govindgoel commented on #6579
New fto #7721

[2020-03-26 14:24] ebarry commented on #7711
🌳🌟 Hi everyone, here's something very rewarding you can do in 5 minutes to benefit the entire community: you can fill out this survey and make sure YOU are represented in our 2020 Community Snapshot! https://forms.gle/Q9BNduRGzsLrALxi7 📈

Check out the 2019 report here: https://publiclab.org/notes/liz/04-15-2019/report-2019-software-contributors-survey. We are going to do the same "chart-n-graphs"

[2020-03-26 15:14] nicoleiocana commented on #7721
@govindgoel I would like to participate to this issue for my Outreachy contribution please.

[2020-03-26 16:16] govindgoel commented on #7721
@nicoleiocana  Go ahead!!

[2020-03-26 17:44] SidharthBansal commented on #7719
Hi FYI, we have unstable, stable versions as beta/test here.

[2020-03-26 18:50] #7608 closed

[2020-03-27 14:02] cesswairimu commented on #7714
@AidenOliver, let me know if you need help finding another issue

[2020-03-27 14:07] #7644 closed

[2020-03-27 14:09] #7561 closed

[2020-03-27 14:10] cesswairimu commented on #7624
@Tlazypanda I checked out the PRs. Thanks

[2020-03-27 14:23] cesswairimu commented on #7717
@VladimirMikulic Wow :rocket: :rocket: that is a great idea... love it :tada: :tada:  I don't know anything about Sticker CI though...Will check it out

[2020-03-27 14:27] VladimirMikulic commented on #7717
Thanks, @cesswairimu. It's nothing complicated. We just specify formatting configurations for each language that we want to check and that's it. I am not the owner of the repo, so I can not set it up myself. I'll be more than happy to assist admins :)

[2020-03-27 14:40] cesswairimu commented on #7617
@nicoleiocana, thanks for your kind words :blush: ...Happy to have you onboard.

No you do not need to contribute to another fto. You can move on to the help-wanted or bug issues. Thanks

[2020-03-27 14:52] cesswairimu commented on #7617
🌳🌟 Hi everyone, here's something very rewarding you can do in 5 minutes to benefit the entire community: you can fill out this survey and make sure YOU are represented in our 2020 Community Snapshot! https://forms.gle/Q9BNduRGzsLrALxi7 📈

Check out the 2019 report here: https://publiclab.org/notes/liz/04-15-2019/report-2019-software-contributors-survey. We are going to do the same "chart-n-graphs"

[2020-03-27 14:53] cesswairimu commented on #7624
🌳🌟 Hi everyone, here's something very rewarding you can do in 5 minutes to benefit the entire community: you can fill out this survey and make sure YOU are represented in our 2020 Community Snapshot! https://forms.gle/Q9BNduRGzsLrALxi7 📈

Check out the 2019 report here: https://publiclab.org/notes/liz/04-15-2019/report-2019-software-contributors-survey. We are going to do the same "chart-n-graphs"

[2020-03-27 15:17] nicoleiocana commented on #7617
@cesswairimu Just to be on the safe side: if I do NOT contribute to a help-wanted or bug issue, will that contribution not count towards my Outreachy requirement? I still plan to contribute by the options mentioned at the top of this thread, but I just wanna make sure that I am not doing anything wrong.

[2020-03-27 15:20] cesswairimu commented on #7617
No that's not the case, any contribution will count. Sorry for the confusion

[2020-03-27 15:23] nicoleiocana commented on #7617
@cesswairimu Oh, no need to apologize, I should have clarified. I just didn't wanna document this contribution for my Outreachy application and somehow it would not be valid. Thanks for the quick response. I still plan to give back and support first-timers-only by creating new fto issues #4963.

[2020-03-27 15:44] #7714 closed

[2020-03-27 18:42] sashadev-sky commented on #6810
You are welcome to do one for each repo! @Alexjake660

[2020-03-27 19:51] cschweipert commented on #7689
Hi. Is this issue already  assigned? Can I work on this or help out?

[2020-03-27 19:59] cschweipert commented on #7684
Hi @cesswairimu I would like to work in this. @guArroyo. Did you already make a pull request? Maybe I can I help out if you are stuck?

[2020-03-27 20:21] cschweipert commented on #7703
@Shulammite-Aso Hi. I am an outreach applicant and would like to work in this or another issue. @SeriousHyena Did you make a pull request? Maybe I can help out if you are stuck.

[2020-03-27 20:28] cschweipert commented on #7683
@cesswairimu Hi. I am an outreach applicant and would like to work on this if it is still available.

[2020-03-27 21:02] SeriousHyena commented on #7703
Yes I'm taking a look at that right now I thought I made that successfully so but apparently not so let me take a look at that and I'll keep you posted.

Thank you,

Serious Hyena

[2020-03-27 21:43] SeriousHyena commented on #7703
Hi I am new to this so am trying to figure out the process still. I made the changes except screenshot as I'm not sure how to actually run the entire program . Please let me know if I need to provide more information.
Thanks,
Serious Hyena

Sent from Yahoo Mail on Android

  On Fri, Mar 27, 2020 at 1:21 PM, Seagoat<notifications@github.com> wrote:

@Shulammite-Aso Hi. I am an outreach applicant an

[2020-03-27 23:01] nicoleiocana commented on #7703
@SeriousHyena No worries. We have all been newbies before, so we totally understand. Let me help clear up some things:

1.  On #7709, @pydevsg was asking you to change the title from Update lines 10 and 13 to **change function t to translation on lines 10 and 13 in app/views/tag/show/_nav_tabs.html.erb** (or something similar) so the title describes what the PR does exactly.
2.  Inside your first

[2020-03-27 23:04] nicoleiocana commented on #7703
@cschweipert The PR is #7709. It was accidentally misnumbered, which is why we don't see the notification of the linked PR in this thread.

[2020-03-28 19:55] nicoleiocana commented on #7683
@cesswairimu In your initial post, you accidentally forgot to link the word here to the FTO template at [https://github.com/publiclab/plots2/blob/master/.github/first-timers-issue-template.md](https://github.com/publiclab/plots2/blob/master/.github/first-timers-issue-template.md), just fyi.

[2020-03-28 20:11] nicoleiocana opened #7725 "Change function t to translation in app/views/dashboard/_wiki.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 20:51] nicoleiocana opened #7726 "Change function t to translation in app/views/layouts/_header.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 21:05] nicoleiocana opened #7727 "Change function t to translation in app/views/like/_like.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 21:12] nicoleiocana commented on #7683
@jywarren @cesswairimu @emilyashley @SidharthBansal

Not sure if this is proper protocol, but maybe you can shorten the procedure above by linking [Open a First Timers Only Issue for someone](https://github.com/publiclab/plots2/issues/new?assignees=&labels=first-timers-only&template=--first-timers-only.md&title=) versus having them copy and paste the template & bypass having to tag you guys in ord

[2020-03-28 21:21] nicoleiocana opened #7728 "Change function t to translation in app/views/notes/_card.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 21:30] nicoleiocana opened #7729 "Change function t to translation in app/views/notes/_coauthored_notes.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 21:46] nicoleiocana opened #7730 "Change function t to translation in app/views/notes/_comment.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 21:53] nicoleiocana opened #7731 "Change function t to translation in app/views/notes/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 22:02] nicoleiocana opened #7732 "Change function t to translation in app/views/notes/show.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 22:12] nicoleiocana opened #7733 "Change function t to translation in app/views/notes/tools_places.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 22:17] nicoleiocana opened #7734 "Change function t to translation in app/views/sidebar/_events.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 22:20] nicoleiocana opened #7735 "Change function t to translation in app/views/sidebar/_related.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 22:31] nicoleiocana opened #7736 "Change function t to translation in app/views/tag/_contributors.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 22:34] nicoleiocana commented on #7703
@cschweipert If you are still looking for a FTO issue, I put up a bunch this early afternoon.

[2020-03-28 22:39] nicoleiocana opened #7737 "Change function t to translation in app/views/user_sessions/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 22:44] nicoleiocana opened #7738 "Change function t to translation in app/views/users/_create_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 22:50] nicoleiocana opened #7739 "Change function t to translation in app/views/users/_edit_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 23:06] nicoleiocana opened #7740 "Change function t to translation in app/views/users/_likes.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 23:09] nicoleiocana opened #7741 "Change function t to translation in app/views/users/list.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 23:13] nicoleiocana opened #7742 "Change function t to translation in app/views/users/map.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-28 23:17] nicoleiocana opened #7743 "Change function t to translation in app/views/wiki/_wikis.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-03-29 02:50] WaldenJosh commented on #7726
I would like to claim this issue. Thank you!

[2020-03-29 02:53] chrisdrums1 commented on #7743
Hello, this is my first time contributing to open source. I read the contribution guidelines and I would like to tackle this issue if I may. Any tips are greatly appreciated!

[2020-03-29 02:55] nicoleiocana commented on #7726
@WaldenJosh You got it, it's all yours. You are welcome.

[2020-03-29 02:59] nicoleiocana commented on #7743
@chrisdrums1 Hiya, glad to have you participating with us. This issue is all yours to tackle. Best of luck! The only tips that I can offer is feel welcome to ask questions if you get stuck or are unsure of anything.

[2020-03-29 03:13] WaldenJosh commented on #7726
Pull request #7744 created for this issue. Please review/comment.

[2020-03-29 03:21] msanden commented on #7733
I'd like to claim this issue

[2020-03-29 03:24] nicoleiocana commented on #7733
@msanden You got it; the issue is all yours.

[2020-03-29 03:57] sashadev-sky commented on #7717
sounds fine by me! looping in @gauravano

[2020-03-29 08:13] VisnuGanth commented on #7742
Hi, I'm a first timer in open source. I have read the contributing guidelines and I'd like to contribute to this issue.

[2020-03-29 09:12] B4Lee commented on #7741
Hello, I'm a first timer in open source. I already read the contributing guidelines and I'd like to contribute to this issue.

[2020-03-29 09:37] SusannaDiV commented on #7740
Hi! May I tackle this issue?

[2020-03-29 10:28] nicoleiocana commented on #7742
@VisnuGanth This issue is all yours. Go for it!

[2020-03-29 10:30] nicoleiocana commented on #7741
@B4Lee Yes, of course, I would be glad to have you contribute to resolve this issue.

[2020-03-29 10:32] nicoleiocana commented on #7740
@SusannaDiV Hi! Yes you may.

[2020-03-29 15:33] cesswairimu commented on #7684
@guArroyo  are you still working on this? If not please let @cschweipert know .

[2020-03-29 15:43] cesswairimu commented on #7683
@nicoleiocana when creating a new issue we a selection of templates, and if you select the `first-time-issue` the label `fto` label comes with it...Hope this males sense

[2020-03-29 15:45] cesswairimu commented on #7683
Hi @cschweipert did you find an issue yet? Le me know if not.

[2020-03-29 15:50] #7742 closed

[2020-03-29 16:01] cesswairimu commented on #7711
@govindgoel, you can open the new weekly-check-in today in the evening or tomorrow in the morning. Thanks

[2020-03-29 16:02] nicoleiocana commented on #7683
Thanks for the tip! I figured it out on my own; this way I didn't need to bug you guys on every single FTO issue that I created.

[2020-03-29 16:47] #7741 closed

[2020-03-29 16:55] govindgoel commented on #7711
@cesswairimu Can you suggest any idea which the community check-in should refer to.

[2020-03-29 17:06] cesswairimu commented on #7711
@govindgoel you can choose any topic really...
Here are some of the past check-in titles maybe you can get some idea from these https://github.com/publiclab/plots2/issues/5627
If you don't have one yet after :point_up: ping me and we can discuss smth. How does that sound?

[2020-03-29 17:13] #7726 closed

[2020-03-29 18:33] govindgoel opened #7749 "Weekly community Check-In #53 - Be Productive"
<p>We all at Public Lab <g-emoji class="g-emoji" alias="balloon" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f388.png"><img class="emoji" alt="balloon" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/1f388.png"></g-emoji> - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the aw

[2020-03-29 18:33] govindgoel commented on #7749
@sssash18, @Tlazypanda, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shulammite-Aso, @Jigyasa-Kumari, @moliver4, @TroydonAnabolic, @justinelai, @Janetsomehow, @keshav234156, @Snouzy, @dependabot-preview[bot], @stevenalila, @Digiox, @NitinBhasneria, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @cesswairimu,

[2020-03-29 18:33] govindgoel commented on #7749
@Rishabh570 @sashadev-sky @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publiclab/image-sequ

[2020-03-29 18:47] govindgoel commented on #7749
Thanks for the help @cesswairimu 🎉

[2020-03-29 18:50] cesswairimu commented on #7749
Great check-in...thanks @govindgoel

[2020-03-29 19:39] Angelvicks commented on #6446
@nstjean thanks

[2020-03-30 00:35] nanlliu commented on #7738
hey! can i claim this one

[2020-03-30 00:38] nicoleiocana commented on #7738
@nanlliu Hi! Yes, this issue is now claimed by you.

[2020-03-30 01:28] nanlliu commented on #7738
I just created a PR. not sure if I have done everything right as a newbie...

[2020-03-30 01:33] alaxalves commented on #7749
@govindgoel Gsoc's application deadline is actually March 31st. ;) via https://summerofcode.withgoogle.com/how-it-works/#timeline

[2020-03-30 01:39] alaxalves commented on #7749
This week I focused on improving my GSoC proposal after a set of feedbacks from my PL friends  (available [here](https://publiclab.org/notes/alaxallves/03-06-2020/gsoc-proposal-2020-spectral-workbench-rails-and-devops-upgrades?_=1583504846)). I reviewed my scheduling and realised it could be possible upgrading both Spectral Workbench Rails' and the Mapknitter Image Exporting modules. I think it’s

[2020-03-30 04:47] cesswairimu commented on #7711
Moved to https://github.com/publiclab/plots2/issues/7749. Thanks everyone

[2020-03-30 04:47] #7711 closed

[2020-03-30 08:25] yusofsf commented on #7739
hello,nice to see you.can i get this issue? :)

[2020-03-30 10:32] nicoleiocana commented on #7739
@yusofsf Hello 🙂, yes you can get this issue.

[2020-03-30 10:57] Tlazypanda commented on #7717
@VladimirMikulic That's an awesome idea :rocket:

[2020-03-30 11:12] Tlazypanda commented on #7675
@jywarren @emilyashley  not exactly sure if this is what is wanted but I modified the regex as this - can you kindly check and guide me a bit :sweat_smile: Thanks :v:
![image](https://user-images.githubusercontent.com/33183263/77906274-4e79d900-72a5-11ea-91e5-1594eed9bf10.png)

[2020-03-30 11:52] SusannaDiV commented on #7740
@nicoleiocana thank you so much! Please review my pull request, if you may :)

[2020-03-30 12:00] yusofsf commented on #7739
done. pls review. tnx :)

[2020-03-30 12:44] hiteshhv commented on #7732
I want to claim this issue

[2020-03-30 13:07] nicoleiocana commented on #7732
@hiteshhv I like the enthusiasm! You have claimed it.

[2020-03-30 13:46] Tlazypanda opened #7756 "Profile picture can be updated without entering password but bio cant be added"
### Please describe the problem (or idea)
In the current scenario it is possible to update the profile picture in the edit profile without entering current password but bio can't be added without entering the current password.

So either updation should be allowed without entering current password for both profile picture and bio or it should not be allowed for anything without entering current pa

[2020-03-30 13:46] Tlazypanda commented on #7756
@VladimirMikulic @jywarren can you kindly approve? Thanks :v:

[2020-03-30 13:49] VladimirMikulic commented on #7756
I would leave it without a password, since it's not something sensitive like confirming an email, 2FA...

[2020-03-30 14:01] Tlazypanda commented on #7749
Hey guys,
The past week got some of my pending prs merged and updated my proposal a bit to expand the printability part as suggested by @jywarren . Had been a little busy with assignments and stuff as we are having online classes now so now will be opening some new fto issues and reviewing prs too. How's everyone else doing? :sweat_smile:

[2020-03-30 14:19] Tlazypanda commented on #7756
@VladimirMikulic so bio updation should be allowed without entering current password right?

[2020-03-30 14:22] VladimirMikulic commented on #7756
Make sense to me. @nstjean @cesswairimu what do you guys think?

[2020-03-30 15:26] Tlazypanda opened #7757 "Toast notification message after following returns the array in the msg"
### Please describe the problem (or idea)
On following a tag the toast/ notification pop up returns the array of followed. This can be modified to return a string of followed or some other message which makes sense to the non-coder users of Public Lab.
![image](https://user-images.githubusercontent.com/33183263/77930652-c9a0b680-72c8-11ea-9fdb-92f7c6936147.png)

### Please show us where to look

h

[2020-03-30 15:26] Tlazypanda commented on #7757
@VladimirMikulic @jywarren can you kindly approve? Thanks :v: Also what do you think the message should be?

[2020-03-30 15:29] VladimirMikulic commented on #7757
I agree, this should be improved. Showing data structures to the user is not pleasant :)

[2020-03-30 15:37] Tlazypanda opened #7758 "Sort by name in /tag route returns in descending order"
### Please describe the problem (or idea)
Usually when we sort by name we expect it to be sorted in the ascending order but in /tag route it returns in the descending order. This behaviour can be modified to return in ascending order by default instead of clicking it again to toggle the asc/desc.
![image](https://user-images.githubusercontent.com/33183263/77931773-441e0600-72ca-11ea-9e1e-008668b37

[2020-03-30 15:42] Tlazypanda commented on #7758
@VladimirMikulic @jywarren can you kindly approve? Thanks :v: Also one more thing since there is no icon like the following next to the sort operation it isn't clear that it toggles between the ascending and descending a little design change might help users be aware of this functionality
![image](https://user-images.githubusercontent.com/33183263/77932140-c27aa800-72ca-11ea-952d-fb564b57413c.png)

[2020-03-30 15:44] VladimirMikulic commented on #7758
Very true. Thank you for addressing this issue.

[2020-03-30 17:25] Angelvicks commented on #7736
Hello @nicoleiocana please can i work on this issue?. I am an Outreachy Applicantfor 2020.

[2020-03-30 17:50] nicoleiocana commented on #7736
@Angelvicks Why yes, it's all yours! I too am a fellow Outreachy Applicant for 2020 🙂

[2020-03-30 18:27] Angelvicks commented on #7736
ok thanks @nicoleiocana

[2020-03-30 18:34] Angelvicks commented on #7736
ok thanks @nicoleiocana

[2020-03-31 00:36] AidenOliver commented on #7731
Hi, this is my first time contributing to open source, I would like to help you guys out with this issue if you wouldn't mind.

[2020-03-31 00:50] nicoleiocana commented on #7731
@AidenOliver Hello. It would be our pleasure if you were to help us out as your first time contributing. We don't mind at all.

[2020-03-31 00:57] nicoleiocana commented on #7740
@SusannaDiV I saw on your PR #7753 that you closed it? Didn't @Tlazypanda approve of your changes? 😕

[2020-03-31 01:01] SusannaDiV commented on #7740
@nicoleiocana My mistake, I'm really sorry (got confused for a second reading the report) - I reopened it, thanka for pointing that out :)

[2020-03-31 01:02] AidenOliver commented on #7731
@nicoleiocana Awesome, I would like to claim this issue then.

[2020-03-31 01:04] nicoleiocana commented on #7731
@AidenOliver It's all yours, go for it!

[2020-03-31 01:11] nicoleiocana commented on #7740
@SusannaDiV Susanna Oh hey, no need to apologize. I just wanted you to get the credit that you deserve. Great job!

If you want to know why one of those tests failed, it's because when you cloned the plots2 repo back in Mar 7, there have been 34 updates since then. So, before you made the changes on your branch, you should have updated your forked repo with the updated master from plots2, then sub

[2020-03-31 01:15] nicoleiocana commented on #7732
@hiteshhv I saw that you closed your PR #7732. Up top, I noticed that it showed

this exact thing happened to me when I was first contributing: it was because I deleted my forked repo AFTER I submitted a PR. If you would still like to complete this issue, you can refork the repo, then do exactly when you did before, and submit a new PR but keep everything else the same. Would you like to do that?

[2020-03-31 01:21] AidenOliver commented on #7731
Alright I created a pull request with the changes for the file. Like I said before I'm new to open-source so let me know if I need to do anything else and thanks for the opportunity.

[2020-03-31 01:35] AidenOliver commented on #7731
#7759

[2020-03-31 05:33] Angelvicks commented on #7736
#7760 that is the pull request. Thanks for letting me do this.

[2020-03-31 06:09] gr455 commented on #7749
Hi everyone,
This week, last week I opened a couple PRs to streamline the testing process of spectral. This week, I have a few online classes and a semester project to keep me busy 😅

[2020-03-31 06:12] stone95 commented on #7737
Hello,

I would like to claim this issue please.

[2020-03-31 07:32] beladinaelfitri commented on #7727
Hi, this is my first time contributing to open source, may I take this issue please?

[2020-03-31 10:31] Tanmayi03 commented on #7740
Hi, may I work on this issue??

[2020-03-31 11:12] Akanksha1212 commented on #7735
Hi, Can I work on this?

[2020-03-31 13:20] Tlazypanda opened #7762 "Follow checkbox doesn't update according to checked boxes"
### Please describe the problem (or idea)

In the current behaviour unchecking boxes in the follow tab doesn't update the follow tab.

## GIF
![follow](https://user-images.githubusercontent.com/33183263/78030638-0a0f3b80-7380-11ea-8099-a155675d695a.gif)

### Please show us where to look

https://publiclab.org/dashboard

## Thank you!

[2020-03-31 13:20] Tlazypanda commented on #7762
@VladimirMikulic @jywarren @cesswairimu can you kindly approve this issue? Thanks :v:

[2020-03-31 13:24] VladimirMikulic commented on #7762
👍

[2020-03-31 14:13] shreyaa-s commented on #7618
@VladimirMikulic how can I access the error messages if any error is encountered during signup, such as username/email is taken?

[2020-03-31 14:17] VladimirMikulic commented on #7618
What do you mean by 'accessing error messages'? You don't access error message, instead, you render your own.

[2020-03-31 14:20] nicoleiocana commented on #7737
@stone95 Hi. This isssue is all yours to claim. Good luck!

[2020-03-31 14:21] nicoleiocana commented on #7727
@beladinaelfitri Hi, yes you can definitely take this issue. Best of luck!

[2020-03-31 14:24] nicoleiocana commented on #7740
@Tanmayi03 Sorry, SusannaDiV re-opened this issue back up and it has successfully passed all of its tests. It will most likely be merged then closed. I still have issue #7730 open, would you like to be assigned this one?

[2020-03-31 14:26] jywarren opened #7763 "Layout issues on editor page at /post"
Something weird happened to our post page after #7534, and we seem to be having some layout bugs now:

https://stable.publiclab.org/post

![image](https://user-images.githubusercontent.com/24359/78037916-26888500-733a-11ea-8af1-83a67ea7ed52.png)

we may have to do some part of this differently! No worries, we'll figure it out!

_Originally posted by @jywarren in https://github.com/publiclab/plots2

[2020-03-31 14:27] nicoleiocana commented on #7735
@Akanksha1212 Hi. Yes, you may work on this.

[2020-03-31 14:28] keshav234156 commented on #7763
@jywarren Couldn't get what weird in this.Can you  please point out what wrong at https://stable.publiclab.org/post .Thanks!!

[2020-03-31 14:28] keshav234156 commented on #7763
Search Bar ?

[2020-03-31 14:29] jywarren commented on #7763
I just uploaded a screenshot - there seems to be some folding of the navbar yeah -- and the publish button looks different, i think because our customizations to the bootstrap styles are now overridden by a second Bootstrap include. Very odd!

I wonder if we should revert the 2nd bootstrap include and dig deeper into the editor buttons issue first?

[2020-03-31 14:30] jywarren commented on #7763
Would you be able to help out with this? Perhaps the fastest initial step would be to revert, merge that, then continue on editor buttons?

[2020-03-31 14:30] keshav234156 commented on #7763
@jywarren ok, Would be happy to help.Reverting Pr now.

[2020-03-31 14:31] jywarren commented on #7763
I wonder if... we need to trace the CSS for the editor buttons using the chrome dev console. I can do this but we are trying to republish code to the production site today, so reverting first would be great. Thank you so much!! Such a fast response! ❤️

[2020-03-31 14:31] keshav234156 commented on #7763
#7764

[2020-03-31 14:33] shreyaa-s commented on #7618
What I meant to say was, we check the database to see if email is taken, How can I access the result of this query? Or could you please direct me to the concerned files?

[2020-03-31 14:41] shreyaa-s commented on #7618
[code]

[2020-03-31 14:44] keshav234156 commented on #7763
Hmm, So basically there were some unused button classes from bootstrap that were present. Now as bootstrap has been included there styles are visible. Should we remove that unused classes?

[2020-03-31 14:54] shreyaa-s commented on #7618
`error_messages = objects.sum do |object|
              object.errors.full_messages.map do |msg|
                content_tag(:li, msg)
              end
            end.join.html_safe`
I found this where the error messages are converted into li tags. I want to access these error messages in formValidation. So how can I use this? I can use the include javascript function to find specific strings bu

[2020-03-31 15:19] VladimirMikulic commented on #7618
We check if username is available by sending reuest to the API. This is client-side validation.

[2020-03-31 15:33] shreyaa-s commented on #7618
@VladimirMikulic I know this is client-side validation. I wanted to know if the API returns an empty string in local development. Because I'm getting an empty string for a username which I've already registered.

[2020-03-31 16:03] VladimirMikulic commented on #7618
Yes, it does.

[2020-03-31 16:09] emilyashley opened #7766 "Make 'Editor History' more apparent for users to find to recover work."
After several incidents of losing work before publishing a post and trying to use the Editor History feature to recover work, in a staff call today Mimi noted the Editor History could be a more apparent feature.

The feature currently lived in a `...` button that was implemented for a more general purpose toolbar but the only tool available is the Editor History. Going with the suggestion to repla

[2020-03-31 16:48] stone95 commented on #7737
I have made a mistake somehow. Can someone help me figure out where?

After making the changes and being in the branch, I expect "git status" to show me that I have altered _form.html.erb. However, the status is:

On branch Change-function-t
nothing to commit, working tree clean

I have:
- forked in githhub
- executed command git clone https://github.com/stone95/plots2.git
- git branch Change-func

[2020-03-31 17:01] #7766 closed

[2020-03-31 17:57] Dhiraj240 commented on #7360
@sagarpreet-chadha I had uploaded my proposal on gsoc website but when i published it on Public Lab it asks for approval.is there any issue if i directly put int on gsoc?Still some time is left

[2020-03-31 17:59] Divy123 commented on #7360
@Dhiraj240 I highly recommend you upload it on GSoC app, asap and then you can do it here later as well.

[2020-03-31 18:23] Dhiraj240 commented on #7360
@Divy123 Thank you, I have uploaded it, could you check I guess you are also one of the mentors.

[2020-03-31 18:28] nicoleiocana commented on #7737
When you `git checkout master` you returned to the master branch, but you didn't make the changes on the master branch, you made them on the Change-function-t branch. If you `git checkout Change-function-t` and then `git status` it should show you there is a change in the file app/views/user_sessions/_form.html.erb . Hope this helps.

If that doesn't work, then the only thing that I can think of i

[2020-03-31 19:28] Akanksha1212 commented on #7735
Done. Please review/comment.

[2020-03-31 19:51] #7360 closed

[2020-03-31 20:57] Medlineme4 commented on #7654
Have I done it? Is it now okay

[2020-03-31 21:40] stone95 commented on #7737
Thank you! You were correct. I did not git checkout Change-function-t. Is there a written tutorial you suggest for creating a pull request via the command line? I see several and they have differing instructions.

[2020-03-31 22:35] jywarren commented on #2201
I think this is solved in the latest LBLD! https://github.com/publiclab/leaflet-blurred-location-display/pull/102/ but we should confirm by testing at https://publiclab.org/map as soon as we republish that.

[2020-03-31 23:57] nicoleiocana commented on #7737
@stone95 Yeah, I do. Not only is this a written tutorial, but you will actually compare and pull request to someone's repo to experience the entire process. This was where I first learned how to complete a PR for Public Lab myself 🎉

[https://github.com/firstcontributions/first-contributions](https://github.com/firstcontributions/first-contributions)

[2020-04-01 00:38] stone95 commented on #7737
Success! (I think.) I got a successful "All checks passed" upon completion of the pull request but the success message was at #7773 (https://github.com/publiclab/plots2/pull/7773)  instead of 7737.

Thank you for all of your patience with a noob. I appreciate it.

[2020-04-01 01:02] nicoleiocana commented on #7737
Yayy 🎉🎉. Good work. There were minor things to fix, but overall, awesome work! Just to clarify:

#7773 is the Pull Request that fixes the issue #7737 - I can totally see how those numbers might be confusing.

You are very welcome. No prob - we were all at that point once upon a time. Any other questions, you can always reach out to me.

[2020-04-01 03:08] sssash18 commented on #7758
@VladimirMikulic @Tlazypanda Can I work on this ?

[2020-04-01 09:58] shreyaa-s opened #7775 "Spamaway check in signup is skipped"
The last check i.e `spamaway` check is skipped and signup form is validated and accepted even without it though it does show an error during signup. The signup button is enabled even if you don't attempt the last part or attempt it wrong.
Here's a representation of the same, the user is logged in despite the error displayed:

![signup](https://user-images.githubusercontent.com/55884943/78124066-c3

[2020-04-01 10:03] shreyaa-s commented on #7775
@jywarren @emilyashley @cesswairimu please review and label if approved. Also if it's valid and available then I would like to give this a shot.

[2020-04-01 10:05] shreyaa-s commented on #7775
The relevant code is in `app/models/spamaway.rb` I believe.

[2020-04-01 10:51] Janet33 commented on #7683
Hi @cesswairimu I am new to open source too. Could you help me with an issue?

[2020-04-01 12:49] VladimirMikulic commented on #7758
@sssash18 if @Tlazypanda is not already working on this, feel free to take this use.

[2020-04-01 15:00] goamoth commented on #7730
Hi @nicoleiocana this is my very first contribution request. Am happy am making this step... Please allow me to work on this.

[2020-04-01 15:00] Tlazypanda commented on #7758
@sssash18 Hey I just started working on this issue if you don't mind can I continue working? I really need to make a good contribution for the Outreachy application :sweat_smile: If you want you can take this up #7756  Would love if you can help me with it ... currently figuring out how to tweak the toggle behaviour to have 2 default values ..would love your input. Thanks :v:

[2020-04-01 15:06] nicoleiocana commented on #7730
@goamoth Hello. Yes, you are allowed to work on this. 😊

[2020-04-01 15:16] goamoth commented on #7730
@nicoleiocana Thank you. Working o it right away!

[2020-04-01 16:30] emilyashley commented on #7749
Hello everyone. Checking in <3 Hope everyone is well and being kind to themselves. Since it is springtime in New Orleans, while working from home I've been making sure to open the windows or bring in a flower or two from the garden to keep at the table to brighten my mood. And I definitely think mood helps my productivity.

Seeing all these GSOC proposals coming in is definitely inspiring as well!

[2020-04-02 10:20] shreyaa-s opened #7794 "space between navbar and donation bar"
### Please describe the problem (or idea)
While testing the editor for issues related to the responsiveness of the editor I encountered additional space between the two bars.
 Screenshots depicting the same:
![Screenshot_20200402_134401](https://user-images.githubusercontent.com/55884943/78238257-00114800-74fa-11ea-93ba-4f835a315ec7.png)

![Screenshot_20200402_134454](https://user-images.githubuse

[2020-04-02 14:06] rid1hady commented on #7734
Hi, can i take this one?

[2020-04-02 14:08] nicoleiocana commented on #7734
@rid1hady Hello. Yes, you can take this one.

[2020-04-02 15:41] rid1hady commented on #7734
Can i have a code review on my PR?

[2020-04-02 15:46] nicoleiocana commented on #7734
Of course you can. They are usually great at reviewing it quickly as they can. Keep an eye out for them to review it; if 3 days have passed and no one has reviewed it yet, you can tag the publiclab/reviewers & they will get to it.

[2020-04-02 16:31] #7587 closed

[2020-04-02 16:33] #7757 closed

[2020-04-02 17:12] #7738 closed

[2020-04-02 17:15] #7739 closed

[2020-04-02 17:20] #7740 closed

[2020-04-02 17:29] cesswairimu commented on #7683
Hi @Janet33, sure, will get you one asap

[2020-04-02 17:33] #7730 closed

[2020-04-02 17:34] Janet33 commented on #7683
Great!

[2020-04-02 17:36] #7593 closed

[2020-04-02 17:45] cesswairimu opened #7778 "Update translation on users/_photo partial"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-04-02 17:46] cesswairimu commented on #7683
@Janet33 here you go https://github.com/publiclab/plots2/issues/7778

[2020-04-02 17:46] cesswairimu commented on #7778
Reserved for @Janet33

[2020-04-02 17:58] Janet33 commented on #7683
Thanks @cesswairimu

[2020-04-02 18:08] Janet33 commented on #7778
Thanks

[2020-04-02 18:13] Janet33 commented on #7778
🙋‍♀️

[2020-04-02 21:07] #7734 closed

[2020-04-02 21:08] #7727 closed

[2020-04-02 21:12] #7743 closed

[2020-04-02 21:13] #7721 closed

[2020-04-02 21:15] #6775 closed

[2020-04-02 21:16] #7688 closed

[2020-04-02 21:17] #7689 closed

[2020-04-02 21:17] #7690 closed

[2020-04-02 21:18] #7691 closed

[2020-04-02 21:20] #7733 closed

[2020-04-02 21:21] #7701 closed

[2020-04-02 21:25] #7538 closed

[2020-04-02 21:26] #7685 closed

[2020-04-02 21:31] margglee commented on #7634
I would be interested in implementing this feature with @mekeenan1.

[2020-04-02 21:48] margglee commented on #7028
I would like to work on this with @mekeenan1

[2020-04-03 01:01] Yonttee commented on #7778
Hey Let's do this

[2020-04-03 01:08] Yonttee commented on #7778
hi @Janet33 I see you are already working on this need any help?

[2020-04-03 01:11] Janet33 commented on #7778
Yes please, am new to this so a review would be great.

[2020-04-03 01:35] Janet33 commented on #7617
Hello, just saw this issue and I must say...this is very encouraging!

[2020-04-03 05:15] Angelvicks commented on #7728
Hello @nicoleiocana , i wish to do this issue.

[2020-04-03 09:28] nicoleiocana commented on #7728
@Angelvicks Hello. Your wish has been granted; the issue is now yours to do. Good luck.

[2020-04-03 09:53] Medlineme4 commented on #7749
Should everybody be part of this or is it for a few people? Seems I am confused

[2020-04-03 09:56] Medlineme4 commented on #7749
Since the stay at home order began, I have been working on a few projects and I have also been doing some write-ups

[2020-04-03 10:29] TroydonAnabolic commented on #7749
Still trying to find a programming job, studying full stack development, and game development to increase my chances of getting a developer job. Decided to take on a technical support representative job to keep the income flowing while I improve my full stack skills and continue my job hunt.

[2020-04-03 10:42] Janet33 commented on #7778
Hi @cesswairimu

[2020-04-03 11:39] #7778 closed

[2020-04-03 11:50] Janet33 commented on #7778
@cesswairimu Thanks so much for assigning this to me. Really appreciate it. Would be very glad if you could help me with what next to contribute to.

[2020-04-03 14:31] nstjean commented on #7749
Hi all! Being productive at home is not easy right now, as I'm used to it being just me here working! Now I have the whole family home. I am working on a freelance project that is currently somewhat urgent. In order to try to be more productive I bought a laptop, I'm setting it up with Ubuntu and getting everything installed so I can hide from the chaos of the family.

[2020-04-03 14:31] nstjean commented on #7717
I love the idea of having consistent code!!

[2020-04-03 14:32] nstjean commented on #7756
Yes I agree, they should be consistent and it doesn't need a password check.

[2020-04-03 18:33] nicoleiocana commented on #7731
Closing this issue since the PR was merged.

https://github.com/publiclab/plots2/pull/7759

[2020-04-03 18:55] Tlazypanda commented on #7758
@VladimirMikulic  I meant this code here for the backend - in `tag_controller.rb` file :sweat_smile:
[code]
Here the order_type is set by default to desc and the sort is by default set to "uses" so I am not sure how to change it for the sort=="name" case.

[2020-04-03 19:37] nicoleiocana commented on #7736
PR (https://github.com/publiclab/plots2/pull/7760) approved and merged into Master.

[2020-04-03 19:37] #7736 closed

[2020-04-03 20:20] Angelvicks commented on #7728
Thanks @nicoleiocana

[2020-04-04 03:26] rutger-t commented on #7729
Hi,

I would like to claim this issue.

[2020-04-04 03:27] marientje commented on #7725
@nicoleiocana Hi, Could I claim this issue?

[2020-04-04 03:29] nicoleiocana commented on #7729
@rutger-t Hello. The issue is claimed by you. Go get 'em.

[2020-04-04 03:29] nicoleiocana commented on #7725
@marientje Hey. Yes you may. The issue is now yours. Good luck!

[2020-04-04 20:16] Alpha-yoyo commented on #7732
can I claim this issue?

[2020-04-04 20:20] nicoleiocana commented on #7732
@Alpha-yoyo Yes. I think a reasonable amount of time has passed. And, since I did not hear back from @hiteshhv , it is only fair to allow you an opportunity.

[2020-04-04 20:35] Alpha-yoyo commented on #7732
Hi nicoleiocana, when I opened the file, the t has already been changed into translation.

[2020-04-04 20:43] nicoleiocana commented on #7732
You are right. Guess someone else must have completed this issue on a different pull request and forgot to link it to this issue number. Sorry about the confusion.

I'll close this issue.  I just checked my first-timers-only issues & this was the last one 🙁. Sorry.

[2020-04-04 20:43] #7732 closed

[2020-04-04 21:02] Alpha-yoyo commented on #7728
Hi @nicoleiocana , can I claim this issue? If it is still open

[2020-04-04 21:08] nicoleiocana commented on #7728
Yes you may. I read the that Angelvicks contributed to a different issue. This one is re-assigned to you.

[2020-04-04 21:08] Alpha-yoyo commented on #7728
Thank you

[2020-04-04 21:20] Alpha-yoyo commented on #7728
Hi @nicoleiocana can you review my pull request? https://github.com/publiclab/plots2/pull/7783 Thank you

[2020-04-05 10:19] sashadev-sky commented on #7408
Closing this don't need it now!

[2020-04-05 10:19] #7408 closed

[2020-04-05 17:50] #7729 closed

[2020-04-05 17:51] #7725 closed

[2020-04-05 18:54] nicoleiocana commented on #7728
This issue is now available for anyone who wishes to contribute for their first time.

[2020-04-06 05:54] cesswairimu commented on #7749
Hey all, would anyone would like to open this week's check-in?

[2020-04-06 09:00] Medlineme4 commented on #7654
Travis build up failed

[2020-04-06 17:48] NitinBhasneria commented on #7592
In the editor code, the coordinates are changing when you change the pointer location. @govindgoel

[2020-04-06 20:59] #7289 closed

[2020-04-06 21:01] Janet33 commented on #7778
Sure. This is much appreciated.

[2020-04-06 21:06] cesswairimu commented on #7654
Hello, I am sorry but it seems like this was solved in another PR. Closing this...Thanks all

[2020-04-06 21:06] #7654 closed

[2020-04-06 21:11] cesswairimu commented on #7679
Hello, I am sorry but it seems like this was solved in another PR. Closing this...Let me know if you need help finding another issue. Thanks

[2020-04-06 21:11] #7679 closed

[2020-04-06 21:11] Alexjake660 commented on #7749
@cesswairimu Thank you. I'd need a little guidance on how to go about it though.

[2020-04-06 21:18] cesswairimu commented on #7749
Yeah @Medlineme4 the check-in is for everyone in the community

[2020-04-06 21:19] cesswairimu commented on #7749
Sure @Alexjake660, just ping me incase of anything...

[2020-04-06 21:29] #7548 closed

[2020-04-06 22:20] Tlazypanda commented on #7758
@jywarren @Uzay-G can you help me out with this? :sweat_smile: Thanks :v:

[2020-04-07 09:38] Angelvicks commented on #7728
#7792 That's my pull request for this issue. Thanks

[2020-04-07 11:09] pydevsg commented on #7703
Thanks for the clear cut explaination @nicoleiocana to @SeriousHyena in my behalf.

[2020-04-07 11:43] Alexjake660 opened #7793 "Weekly community Check-In #53 - Don't Give Up"
We all at Public Lab :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their curren

[2020-04-07 15:11] jywarren commented on #7794
This is due to code in a Feature, documented here: https://github.com/publiclab/plots2/blob/master/doc/DATA_MODEL.md#features

cc @ebarry @steviepubliclab that this needs to be tweaked - the issue I believe is the length of text in the message not having been tested out at different screen sizes. Thanks!

[2020-04-07 15:30] cesswairimu commented on #7793
Thanks @Alexjake660 :tada:

[2020-04-07 15:32] cesswairimu commented on #7749
Moved to https://github.com/publiclab/plots2/issues/7793 thanks everyone...Thanks @Alexjake660 :+1:

[2020-04-07 15:32] #7749 closed

[2020-04-07 15:34] cesswairimu commented on #7793
@sssash18, @Tlazypanda, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shulammite-Aso, @Jigyasa-Kumari, @moliver4, @TroydonAnabolic, @justinelai, @Janetsomehow, @keshav234156, @Snouzy, @dependabot-preview[bot], @stevenalila, @Digiox, @NitinBhasneria, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @cesswairimu,

[2020-04-07 15:34] cesswairimu commented on #7793
@govindgoel @Rishabh570 @sashadev-sky @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publicla

[2020-04-07 15:38] nicoleiocana commented on #7728
@Angelvicks Your PR is failing on one of the checks. This is why your update has not been accepted and merged into the master branch. Until you fix this concern, this issue will still be open. You will need to run the command `git rebase master` which is why I suspect your PR fails one of the reviews.

[2020-04-07 15:40] nicoleiocana commented on #7703
@pydevsg You are welcome, no problem.

[2020-04-07 15:45] Divy123 commented on #7793
Hello everyone!!

Nice theme @Alexjake660 . This is something most important right now. While whole world is fighting right now, we need to stay strong. But it's the beauty of open source that it does not really impose any restrictions on our work culture and it has taught many others for the same. And when many people are still struggling finding the right way to utilise their time, I believe con

[2020-04-07 15:56] jywarren commented on #7794
OK, they have turned off that ribbon and are taking note that content added there needs to be tested on different screen sizes. thanks!!!

[2020-04-07 15:56] #7794 closed

[2020-04-07 16:45] TemidoRocha commented on #7728
Hi,
Is it possible to give it a try?

[2020-04-07 16:48] jywarren commented on #7556
Looking at whether we need to add an index, or reduce recursion in query nesting...

![image](https://user-images.githubusercontent.com/24359/78696914-12123280-78ce-11ea-9dc7-bab7e94837af.png)

[2020-04-07 16:49] jywarren commented on #7556
Hmm. `user_tags` has no indices: https://github.com/publiclab/plots2/blob/15589c95b54759b2828ea0d9b3571d2bebf8c2dc/db/schema.rb.example#L417-L422

Not sure if it needs them? Checking # of records now.

[2020-04-07 16:49] jywarren commented on #7556
Primary key ought to auto-index...

[2020-04-07 17:59] jywarren commented on #7775
Hi, I really appreciate this!

I think this is relatively low priority because client-side validation is already a step beyond the critical server-side validation system, and replicating server-side systems on client side is a lot of extra code to maintain. Another issue is that there are two anti-bot measures which swap between, the Google ReCaptcha and this emoji-based one, and the logic to swit

[2020-04-07 18:39] gr455 commented on #7793
Hi everyone! The past week has been an attempt to complete all the piled up work from university 😅 and looks like so will the coming week be. I will continue to contribute once I'm done with that.
Aside from that, totally agree with @Divy123 , open source is a great way to do something productive in these tough times :)

[2020-04-07 20:41] SidharthBansal commented on #7556
https://github.com/publiclab/plots2/blob/783fbe2161bd70e13ad5e62ac6ab9254de3661b5/app/services/search_service.rb#L197
and
https://github.com/publiclab/plots2/blob/783fbe2161bd70e13ad5e62ac6ab9254de3661b5/app/services/search_service.rb#L176
have
`User.where('rusers.status <> 0')
      .joins(:user_tags)`
same statements running twice! Can we optimize here by storing them ?

[2020-04-07 20:42] SidharthBansal commented on #7556
shouldn't there be `status<>0` clause at user in https://github.com/publiclab/plots2/blob/783fbe2161bd70e13ad5e62ac6ab9254de3661b5/app/services/search_service.rb#L187 ?
I think there should be !

[2020-04-07 20:45] SidharthBansal commented on #7556
Two possible ways to reduce time are short circuiting if possible, AND rearrangement of statements so that the first clause eliminates more cases then the upcoming clauses in sql statements.

[2020-04-07 21:08] jywarren commented on #7556
I think the first and second referenced [in your comment](https://github.com/publiclab/plots2/issues/7556#issuecomment-610609609) are the latitude and longitude calcs I want to combine.

https://blog.nrowegt.com/rails-pg-ambiguous-column-reference/

[2020-04-07 21:18] jywarren commented on #7556
OK, i was able to get this to work:

[code]

[2020-04-07 21:34] jywarren commented on #7556
Hmm. @cesswairimu actually the block I'm still not sure about is:

[code]

What's going on here?

[2020-04-07 21:37] jywarren commented on #7556
i think i found that the block is used to evaluate all items of the array and the whole thing returns true only if none of the array members return true? https://ruby-doc.org/core-2.7.0/Enumerable.html#method-i-none-3F

[2020-04-07 21:39] jywarren commented on #7556
OK, i added `.limit(limit)` in a couple places too. I hope this helps!!!

[2020-04-07 21:49] SidharthBansal commented on #7556
https://github.com/publiclab/plots2/issues/7556#issuecomment-610625735

Could the replace statements move towards end?
After sorting, we will have lesser number of rows so replacing at last step can improve(I don't have full context, so it may be wrong)

[2020-04-08 12:18] shreyaa-s commented on #7775
@jywarren Editor was the first PL project I started contributing to. But since there was a generic problem with the dependencies my tests failed and I couldn't proceed much further. Now that it is fixed, you'll definitely find me helping out there too. I've already opened a couple of issues. Thanks!

[2020-04-08 17:56] jywarren opened #7798 "Translation string replacement errors"
A huge and wonderful effort to set up translation strings for site-wide texts has been going on for some time in #7416 and other issues -- many thanks to those who've helped!

I noticed that when a non-english language is selected, we now have some issues with the translation icons appearing:

![image](https://user-images.githubusercontent.com/24359/78816790-32122680-79a0-11ea-8896-94c97cf16062.pn

[2020-04-08 17:57] jywarren commented on #7416
Hi, thank you so much -- i just referenced this when noting there may have been some issues with the string parsing done here. I don't know if you have any availability to help us figure this out? Thanks again for your great work! https://github.com/publiclab/plots2/issues/7798

[2020-04-08 17:58] jywarren commented on #6579
Hi all, thank you SO MUCH -- i just referenced this when noting there may have been some issues with the string parsing done here. I don't know if you have any availability to help us figure this out? Thanks again for your great work! https://github.com/publiclab/plots2/issues/7798

I think possibly we need some more careful checking before merging these, and I included in #7798 a URL for turning

[2020-04-08 18:01] jywarren commented on #7798
Many of these translations were added starting from this issue, for reference! https://github.com/publiclab/plots2/issues/6579

[2020-04-08 18:08] jywarren opened #7799 "[urgent] Research note posting not appearing; error shown"
https://publiclab.org/notes/suyash1814/03-07-2020/gsoc-2020-proposal-site-wide-accessiblity-on-publiclab-org

This shows a 500 error! cc @sssash18 @Shulammite-Aso this may have affected you both? Suyash i found yours listed here: https://publiclab.org/notes/author/suyash1814

@Shulammite-Aso can you share your publiclab.org username here so we can track if yours had a similar issue?

[2020-04-08 18:09] jywarren commented on #7799
I believe I found this is an issue with the translation system. Linking the Sentry report...

[2020-04-08 18:12] jywarren commented on #7799
[code]

[code]

I've made a VERY fast quick fix here: https://github.com/publiclab/plots2/commit/81114cf5cd2954e029f40f7d43282327b01060f0

I will rush this into production which should take about an hour. Please check back and update here if it works! Thank you!

[2020-04-08 18:17] #7416 closed

[2020-04-08 18:20] jywarren commented on #7799
thanks folks, if you can check your post again once this process completes that would be really helpful. I hope I've found the error and this is the process republishing the live site with the new fix: https://jenkins.laboratoriopublico.org/job/Deploy%20Plots2/53/

[2020-04-08 18:22] jywarren commented on #7798
I believe that the switch to the custom translation function has caused a parsing issue in some cases.

Here is documentation on how this process is supposed to work, via @gauravano (hiiii!!! 👋 ❤️ hope you're well!!!)

https://github.com/publiclab/plots2/issues/5737#issuecomment-546853536

[2020-04-08 18:22] jywarren commented on #7798
cc @cesswairimu @SidharthBansal @nstjean just as a heads up! Thanks to everyone!

[2020-04-08 18:58] Shulammite-Aso commented on #7799
Yeah, the 500 error here is exactly the same I'm getting.
My publiclab.org username is @asoamarachi

[2020-04-08 19:00] Shulammite-Aso commented on #7799
I should publish my post again once the process completes☺

[2020-04-08 19:31] Shulammite-Aso commented on #7799
I just saw on my dashboard now that my post got submitted actually, with pending approval. Only I can't access the content when I click on it. So I may not need to resubmit my post.

[2020-04-08 19:33] jywarren commented on #7799
Initial issue fixed! I will approve @Shulammite-Aso's post now and i hope the same error will be resolved there too!

[2020-04-08 19:35] jywarren commented on #7798
Approved. I believe this is all resolved now -- thank you SO MUCH for reporting, and if there are more issues i can take another look!

[2020-04-08 19:36] jywarren commented on #7798
Ah sorry! Wrong issue! This is still open!

[2020-04-08 19:36] jywarren commented on #7799
Approved. I believe this is all resolved now -- thank you SO MUCH for reporting, and if there are more issues i can take another look!

[2020-04-08 19:36] #7799 closed

[2020-04-08 21:04] cesswairimu commented on #7798
oh that looks not pretty will do some investigating tomorrow

[2020-04-10 14:00] tinfoil-knight commented on #7728
Hey @nicoleiocana , is this issue still open or does #7783 solves it? If it's open, can I claim it?

[2020-04-10 14:20] nicoleiocana commented on #7728
@tinfoil-knight well, #7783 was closed by the contributor. I reached out to @Angelvicks to fix #7792 so that it can be approved, but I receive no reply. Since it seems that enough time has passed to be fair, yes, you can claim it. Good luck🎉

[2020-04-10 16:41] tinfoil-knight commented on #7728
@nicoleiocana I followed the workflow mentioned at [Contributing-to-public-lab](https://publiclab.org/wiki/revisions/contributing-to-public-lab-software/27941#A+sample+git+workflow).

The system and unit tests are failing on Travis CI. What might be the issue?

[2020-04-10 17:12] tinfoil-knight commented on #7728
Don't review #7804. It was not passing the build tests.

[2020-04-10 17:14] nicoleiocana commented on #7728
I see that you closed it. You may have preemptively closed it. Sometimes your code is 100% accurate, but the issue is on their end. This happened to me regarding the same incident -> the Travis-CI was the culprit, not my PR. The reviewers and maintainers will most likely look into this because it seems as if the code is correct...

[2020-04-10 17:17] tinfoil-knight commented on #7728
I made another PR. Hopefully it won't fail the same. I followed the [Git Workflow](https://publiclab.org/wiki/revisions/contributing-to-public-lab-software/27941#A+sample+git+workflow) as mentioned step-by-step to prevent anything.

[2020-04-10 17:21] nicoleiocana commented on #7728
If you click on the https://travis-ci.org/github/publiclab/plots2/jobs/673510196 link, at line 1868, it summarized where the failure occurs. When I get the chance, I'll look into the unit test to get a better understanding of why it is failing.

[2020-04-10 17:38] tinfoil-knight commented on #7728
[code]

The test only asserts the length of certain content but the error is related to change in naming from `t` to `translation`.
I don't have much experience with testing in Ruby yet. I'll look it up and see what I can do meanwhile.

[2020-04-10 23:27] Tlazypanda commented on #7798
@jywarren I went through the stable.publiclab.org and apart from this error that you have already fixed, I can't find anything as such :sweat_smile: . I looked up the recent translation codes and looked through those routes specifically but doesn't seem to be breaking anywhere else. Any particular route that has any other issue? Would be happy to help :smile:

[2020-04-10 23:32] Tlazypanda commented on #7798
@jywarren Had a look apart from the error that you already fixed can't seem to find any more buggy routes :sweat_smile: . I checked by seeing the recent translation codes merged and checking those specific routes. If there is any particular route that has bugs I would be happy to help :smile:

[2020-04-11 13:10] SidharthBansal commented on #7353
I am in favour of it. Pinging @jywarren

[2020-04-11 13:10] SidharthBansal commented on #7622
+1

[2020-04-12 17:28] jywarren commented on #7798
Hi @Tlazypanda i think the routes issue should be all good now? That was separate from this, and i think i just had them mixed up with too many tabs. Does this translation bug make sense though? Thanks!

[2020-04-12 19:11] keshavsethi opened #7809 "All updates filter in dashboard"
1.) "All update" filter in the dashboard does not work properly. Even after selecting the filter as shown in the image, the dashboard shows all the updates like wiki, comments, notes, etc.
2.)There is also an issue in its css as All update text color becomes grey instead of white as shown.
3.) select all button is not working properly as shown.
https://publiclab.org/dashboard
![Screenshot from 202

[2020-04-12 20:58] gauravano commented on #7717
Hi everyone!

@VladimirMikulic great idea. I think a few things we need to check about the Strickler are - how easy it is to use, how it present errors (this one is a bit important, as contributors will get to learn a lot if it highlights the rule).

Also, Strickler CI internally used rubocop for checking and fixing issues. I think we should check if  codeclimate which we currently use can provide

[2020-04-13 12:53] #7297 closed

[2020-04-13 13:25] cesswairimu commented on #7798
@jywarren did you manage to fix this...I am looking at stable and I don't see the bugs

[2020-04-13 14:10] alaxalves commented on #7793
Last week I have been busy accomplishing some personal projects. Had not much time to contribute with the PL community, but I got to successfully open a PR at the Mapknitter-Exporter repo. This is the the link: https://github.com/publiclab/mapknitter-exporter/pull/27. I'd like someone to please review it @jywarren @cesswairimu @SidharthBansal @icarito

[2020-04-13 17:25] Medlineme4 commented on #7793
The past week was challenging as I had to complete some personal projects. I also had to begin new tasks that will my stay at home and an enjoyable one. I have also read few chapters of some books I have procrastinated about.

[2020-04-13 18:44] cesswairimu commented on #7793
Moved to https://github.com/publiclab/spectral-workbench/issues/498 thanks everyone

[2020-04-13 18:44] #7793 closed

[2020-04-13 18:55] keshavsethi commented on #7809
@jywarren @cesswairimu @SidharthBansal can I proceed on this issue??

[2020-04-13 19:15] cesswairimu commented on #7809
I thought we fixed this on another PR let me try to find it

[2020-04-13 19:15] keshavsethi opened #7811 "follow button in dashboard"
After following all the suggested tags and then altering the following suggestions by clicking on the checkboxes as shown. The follow button doesn't unfollow the non selected tags that were followed previously.
Suggestions:
1.)It should either disable the list item's checkbox which is already followed or give some message that the selected tags are already followed by the user.
2.) suggest only th

[2020-04-14 02:11] sashadev-sky opened #7812 "Update color of "share your work" dropdown caret on homepage dashboard"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-14 02:16] sashadev-sky commented on #6481
closing this as it has since been updated! @jywarren I think the page you linked might be cached (if possible?) because I saw the error initially when opening it.

![image](https://user-images.githubusercontent.com/41092741/79178780-21184980-7dd4-11ea-9410-0b5d0aa62b8a.png)

[2020-04-14 02:16] nila99 commented on #7812
I can work on this :)

[2020-04-14 02:18] sashadev-sky commented on #6481
sorry nevermind it just only appears when the user is logged out -- ill write up an FTO for it

[2020-04-14 02:31] sashadev-sky opened #7813 "Change button text color to white"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-14 02:31] sashadev-sky commented on #6481
ok closing this its reopened as an FTO in #7813

[2020-04-14 02:31] #6481 closed

[2020-04-14 02:33] sashadev-sky commented on #7812
@nila99 ok awesome assigning you! thanks :)

[2020-04-14 02:38] DerekChristy commented on #7813
Can I claim this issue?

[2020-04-14 02:39] sashadev-sky commented on #7813
@DerekChristy yes i'll assign you!

[2020-04-14 03:25] DerekChristy commented on #7813
Fixed the issue. Thanks.

[2020-04-14 13:54] #7590 closed

[2020-04-14 14:03] jywarren commented on #7353
Hi, I think this could work but let's aim to make it compact, maintainable, and easy to read. We could create:

* [ ] a `Node` model method called `node.is_new_to_user(user)` with a good comment explaining the metric
* [ ] a unit test confirming this in positive and negative cases
* [ ] a post template addition adding the `new` badge (this could be a little smaller maybe?)

How does this sound? Th

[2020-04-14 15:06] jywarren commented on #7798
i don't think so - to reproduce you have to select a non-english language using the footer selector

[2020-04-14 15:15] jywarren commented on #7798
So for the navbar, which is the worst issue, I see the HTML resulting from the adapted translation code is as follows:

[code]

So, it's not nesting properly and looks like this:

![image](https://user-images.githubusercontent.com/24359/79241523-29f33480-7e41-11ea-90a8-940ab2d1a391.png)

[2020-04-14 15:17] jywarren commented on #7798
For that one (let's do other fixes on other issues but this walks us through the process of one particular fix, as an example), I see line 20 shows there's only one change, to the `placeholder` attribute of the search:

https://github.com/publiclab/plots2/blob/81df65f8b99c3cd1dcaf427c0fde42e87206fde4/app/views/layouts/_header.html.erb#L17-L25

[2020-04-14 16:41] jywarren commented on #7798
There are also a lot of layout issues related to the globe icon appearing in the header navbar. I'm going to revert the bunch right now in https://github.com/publiclab/plots2/pull/7815, and we may want to think about a different kind of indicator for use in those places.

[2020-04-14 17:16] jywarren commented on #7798
Great, that fixed the navbar. Let's sum up next steps:

* [ ] warnings about usage in buttons and HTML tag attributes
* [ ] better guidance on how to test these locally and how to post screenshots of them working
* [ ] any other follow-up fixes for bad layout issues resulting

Thanks!!

[2020-04-14 17:55] jywarren opened #7816 "Need for stronger policy and guidance on login/signup validation (in JS/Ruby)"
Hey all, just noting that i think we need a firmer policy and guidance on login/signup validation. It's a really common thing people want to modify, but a few considerations. like in this PR: https://github.com/publiclab/plots2/pull/7768/

* client-side validation is great for accessibility
* dual validation on parallel JS and Ruby tracks may not be great for maintainability
* do we validate the s

[2020-04-14 18:22] ebarry opened #7817 "Table display issue on Tag Contributor pages"
### Please describe the problem (or idea)

There are a couple small display issues on Tag Contributor pages* that if fixed would entirely upgrade the user experience of someone searching on Public Lab for people researching topics that are also of interest to you.

*Tag Contributor pages have the URL structure: https://publiclab.org/contributors/foo  , where `foo` represents a tag.

I was browsing

[2020-04-14 18:23] jywarren commented on #7798
Just noting that there have also been a lot of these translation changes made to the login/signup form and that is potentially another area where they may have caused issues. However I can't seem to document these well as I can't switch languages in incognito mode... maybe i need to be logged in?

[2020-04-14 19:00] ebarry opened #7818 "Remove tiny icon from Tag Pages"
### Please describe the problem (or idea)

I hovered my cursor over the small question mark icon in a circle (see screenshot)
<img width="23" alt="Screen Shot 2020-04-14 at 2 36 57 PM" src="https://user-images.githubusercontent.com/161439/79261158-6c2a6f00-7e5d-11ea-888d-1ac8235f2050.png"> and noticed that the link went to https://publiclab.org/wiki/contributors.

I did not expect to see a link to

[2020-04-14 19:02] SidharthBansal commented on #7816
Agreed

[2020-04-14 19:38] jywarren commented on #7817
I believe the lines of code governing this page are here!

https://github.com/publiclab/plots2/blob/f70e6ea791d78b098c2556ebecf58402c030f6c2/app/views/tag/_contributors.html.erb#L44-L69

[2020-04-14 19:55] sentry-io[bot] opened #7819 "ActionView::Template::Error: undefined method `translation' for #<#<Class:0x000056555afb7ce0>:0x00007fd8716e96e0>"
Sentry Issue: [PLOTS2-NP](https://sentry.io/organizations/publiclab/issues/1602398786/?referrer=github_integration)

[code]

[2020-04-14 19:59] #7819 closed

[2020-04-14 20:01] jywarren commented on #7816
Noting also that some partial template views are used within models, and so cannot access our translation helper normally: https://github.com/publiclab/plots2/commit/ba9470957efeb6789ecc49bec13b270d506a9302

They could do so by using a fuller route, like maybe one of these:

* `include ActionView::Helpers::DateHelper # required for time_ago_in_words()`
* `ActionController::Base.helpers.sanitize(bo

[2020-04-14 20:25] jywarren commented on #7556
https://github.com/publiclab/plots2/pull/7795 is now merged, although one of the `.limit()` statements had to be removed. We should re-test this after today's live site republication and see if performance improved?

Current:

https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1586809440/1d/endpoints/Srch::Search%20%5BGET%5D%20srch%2FnearbyPeople

![image](https://user-images.githubusercontent.

[2020-04-14 20:33] jywarren commented on #3276
🎉

[2020-04-14 20:33] #3276 closed

[2020-04-14 20:36] jywarren commented on #3696
OK! Closing this up now. Thanks!

[2020-04-14 20:36] #3696 closed

[2020-04-14 21:26] emilyashley opened #7821 "What do you look for when reviewing a PR? Code Review best practices!"
Hey y'all. Emily Ashley here. I've been trying to get more involved and active with Code Review on Public Lab and I was wondering, what are your peer code review best practices? What do you look for? Please share with any articles, talks, checklists, or tips and lets collect them here!

[2020-04-14 21:56] emilyashley commented on #7821
For example, right now I'm reading thru this compiled [list of articles on awesome code review.](https://github.com/joho/awesome-code-review#articles) If I find any exceptionally helpful I'll add them here 😄

[2020-04-14 22:45] jywarren opened #7822 "open /map page more zoomed in for performance reasons"
Really big views are a performance issue for displaying nearby people, so we should try to zoom in a bit on https://publiclab.org/map

Code is here:

https://github.com/publiclab/plots2/blob/ba9470957efeb6789ecc49bec13b270d506a9302/app/controllers/map_controller.rb#L32

And is used here in the template:

https://github.com/publiclab/plots2/blob/ba9470957efeb6789ecc49bec13b270d506a9302/app/views/ma

[2020-04-14 22:47] jywarren commented on #7556
Now not seeing much more than 8s, much better than 60!!!

https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1586902080/30m/endpoints/Srch::Search%20%5BGET%5D%20srch%2FnearbyPeople

but needs more testing.

[2020-04-15 14:25] sssash18 commented on #7353
Yes @jywarren It seems nice! I will try to implement as suggested by you.Thanks!

[2020-04-15 19:25] ebarry commented on #7622
Hi! Sorry i missed seeing this earlier. Thank you for observing this opportunity!

I'm thinking about "how to think about" this issue. The site does not have that many total admins, and accidentally clicking that button is probably more harmful than the corresponding benefit offered by being able to easily click a button in the few times it would be necessary.

I see that this is in the style of t

[2020-04-16 13:18] Shulammite-Aso opened #7824 "check if commenter is author of post"
Here is a picture of me trying to comment on my own post:
![own-comment](https://user-images.githubusercontent.com/48386390/79459451-34513200-7feb-11ea-976a-714a4bd4f1c3.png)
and it show the new-contributor-msg. I'm wondering if there's a way to check if the person commenting is the author of the post so that it can leave out showing that message.

Showing the message to the author is not a big pr

[2020-04-16 19:06] Tlazypanda commented on #7798
@jywarren I am not sure what's wrong but I am not able to reproduce any bugs... when I previously commented too I was referring to the navbar and it was not buggy (before you committed the fix) @cesswairimu did you face the same issue? I tried again with both stable/local, in incognito mode, setting various languages (hindi,spanish,dutch) can you point out where I am going wrong :sweat_smile:

[2020-04-16 19:18] Tlazypanda commented on #7798
As for the buttons part I went through the code and these are the instances where translation is used inside a button so that we can test if these routes are bug free. For the warnings generation we can update the internationalization part in the docs to specify what @gauravano  had mentioned in his comment earlier. Please help me with how to reproduce these bugs too :sweat_smile: . Thanks :v:  -

[2020-04-17 19:48] govindgoel commented on #7728
This issue is open!

[2020-04-19 14:14] akanimesh commented on #7813
can i contribute?

[2020-04-19 18:48] sanchibansal340 commented on #7817
Is this issue open?

[2020-04-20 18:43] ebarry commented on #7817
Yes, thank you, this issue is open!

[2020-04-20 18:45] sanchibansal340 commented on #7817
When I opened the site, it is not appearing as show in the video

[2020-04-20 18:47] ebarry commented on #7622
Still thinking about this. I think i do not see the advantage of this feature.
I am interested in hearing more from you about your idea 🤝
Could you elaborate on why you feel it would be better to provide an option to remove a user as admin by another admin (apart from banning)? Thank you! 😊

[2020-04-20 21:57] keshavsethi opened #7828 "Disable preview button on empty comment"
Users can preview empty comments which sometimes creates confusion. we can either disable the preview button for empty comment or display a message that comment is empty. On pressing publish button it even sends notification that comment can't be saved.
![Screenshot from 2020-04-21 03-04-22](https://user-images.githubusercontent.com/36025262/79803578-db352580-837f-11ea-8af9-df92abe5e327.png)
![Scr

[2020-04-21 05:07] sashadev-sky commented on #6496
closing this as its stale and the updated version is re-opened in #7632

[2020-04-21 05:07] #6496 closed

[2020-04-21 05:13] sashadev-sky commented on #7632
@theOpetunde @VladimirMikulic  I agree with @cesswairimu that arrows, by convention, indicate that the item should be clicked to see the dropdown. So if we were to switch to arrows, we would want to remove the hover functionality and change it to click.

I don't think that's a bad idea, and would standardize the nav options you mention above to be the same as topics, which currently works with cli

[2020-04-21 08:33] katungi commented on #7828
Nice eye @keshavsethi , but i noticed one cannot publish an empty comment. But the idea of hiding the preview button is very nice because it is a bit ambiguous to  preview an empty comment field.

[2020-04-21 13:49] #6476 closed

[2020-04-21 13:53] #7506 closed

[2020-04-21 14:02] SidharthBansal commented on #7816
I think these should be carefully reviewed by the reviewer. Bot is not needed.

[2020-04-21 14:15] jywarren commented on #7556
Test it out at this zoom level: https://publiclab.org/map#9/40.71372914097432/-73.47581131383778

cc zoom level optimizations: https://github.com/publiclab/plots2/issues/7822

[2020-04-21 14:28] jywarren commented on #7556
OK, so i'm not seeing a huge difference between before and after April 14; both are averaging around 17 seconds or so, and both have outliers up to more than a minute of load time, so not good. But even before the 14th, the "what time is spent on" chart is quite different for different periods.

We just don't have a huge amount of traffic so statistics aren't great, but I'll screenshot a few "mome