[2018-04-08 16:16] rishabhptr commented on #2439
Hey, as mentioned in the issue we need to create a new action for this instead of using optional parameters for dates in the original show action for tag. So what would be the response for the example request, the show page which resources filtered within the range or any new page with more descriptive information just like the stats page. Thanks :smile:

[2018-04-08 17:47] jywarren commented on #2452
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a

[2018-04-08 18:01] jywarren commented on #2439
I think we can re-use the `show` template but add a line that displays the date range specified. Make sense? Thank you! This is exciting!

[2018-04-08 18:03] jywarren commented on #2439
And I wonder if we can add an optional filter to the ActiveRecord queries in the same action, rather than making a new action? We could add it after this line, and the matching one from the wildcard section above it:

https://github.com/publiclab/plots2/blob/2f35d8734139a35b524af0c29305122b19bcbffb/app/controllers/tag_controller.rb#L96

We'd want to limit range based on, i guess, node creation dat

[2018-04-08 19:16] Gauravano opened #2594 "Button or checkbox for draft creation"
Part of #2307

I have completed first 2 parts of #2307 and now for completing the third one, some insights are needed. Currently, the creation of new post takes place from "Publish" button which first validates data from PublicLab editor and then after formatting a Post request is sent to `notes_controller.rb` from `dist/PublicLab.Editor.js`. Now, here are the ways we can provide user, option to c

[2018-04-08 20:09] Gauravano opened #2595 "Read more link in tags module is empty"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-08 23:29] cindychangy commented on #2595
I can help with this :)

[2018-04-09 02:42] waqargithub commented on #2592
Here are two options:

1. Display a sign-in or guest option, as suggested by @pdurbin, but only _if the user is not already signed in_, I joined that community and confirmed that ux.stackexchange displays the sign-in box only if the user is not signed in.

2. Preserve the question by using a modal for sign-in or registration if the user is not already signed in and submits a question.

The second

[2018-04-09 03:12] Gauravano commented on #2595
Awesome ! @cindychangy you can start solving this one, if you need any help feel free to mention me or any @publiclab/reviewers, we would be happy to help. Thanks.

[2018-04-09 03:39] Be-ing opened #2596 "not obvious that PublicLab has software projects"
### Please describe the problem (or idea)

I watched a [recording of a presentation at LibrePlanet 2018](https://media.libreplanet.org/u/libreplanet/m/sharing-strategies-for-welcoming-newcomers-into-floss-projects-first-timers-only-list-moderation-and-more/) discussing PublicLab's efforts to bring in more software developers and wanted to find out more about the software.

I expected to see the so

[2018-04-09 03:48] Be-ing opened #2597 "header images are different heights"
### Please describe the problem (or idea)

The content on the [PublicLab homepage](https://publiclab.org/) moves as the header images are cycled because they are not all the same height.

I expected the content below the header images to remain in place. Instead it moves up and down as I read it.

### Please show us where to look

https://publiclab.org/

### What's your PublicLab.org username?

no

[2018-04-09 03:53] waqargithub commented on #2597
I am looking to work on my first open-source contribution. I think this would be a suitable fto candidate. If you all agree then I can take this one.

Waqar

[2018-04-09 10:20] sagarpreet-chadha opened #2598 "Changing Zoom level of /people map on searching ."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-09 10:46] sagarpreet-chadha opened #2599 "Removing extra parameter from map helper function ."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-09 11:31] JoeLanglands commented on #2599
I'd like to solve this issue for my first ever pull request!

[2018-04-09 11:38] rajdhandus commented on #2598
Can I please work on this issue.. ?

[2018-04-09 12:25] sagarpreet-chadha commented on #2598
Yes @rajdhandus ! We would love your help 😄 🎈 !
Feel free to ask me here or @publiclab/reviewers team in case of any doubt .
Thanks !

[2018-04-09 14:59] waqargithub commented on #2597
I thought it might be an JavaScript/HTML/CSS matter it seems that the HTML/CSS is generated by the Ruby code below:

[code]

Using Chrome Developer tools I was able to track down the generated HTML (with inline CSS) and see that the image height ranges between 178 px to 216 px. Some possible remedies:

1. See if we can tweak the code that generates the HTML or CSS to clip the images.

2. The image

[2018-04-09 15:10] jywarren commented on #2588
I believe as in #2373 we already have, as you pointed out -- the migration has been run already. But maybe there was a problem -- i see there are ~613 comments in the db with status = 0, starting with:

[code]

and ending with:

[code]

The first was 2018-02-20 and the last was today: 2018-04-09

So are we somehow not setting comment status for newly created comments properly?

Aha! We typically u

[2018-04-09 16:10] Gauravano commented on #2588
thanks, @jywarren for pointing out the model `node.rb` ,  we can just change `node.rb` to set status as 1 and then you can run query manually to change the status of all comments. Also, as this issue comes out, I would see if in our codebase we are using query with status = 0 anywhere else. How does it sound?

[2018-04-09 16:17] jywarren opened #2602 "Group page maps show everybody, not just group members (API changes needed)"
### Please describe the problem (or idea)

We have this fantastic new feature of group people listings: https://publiclab.org/people/group:partsandcrafts

But the lead people map still shows everybody, not just the group members.

The list is generated here:

https://github.com/publiclab/plots2/blob/2f35d8734139a35b524af0c29305122b19bcbffb/app/controllers/users_controller.rb#L102-L104

But the map

[2018-04-09 17:03] sagarpreet-chadha commented on #2427
Hi @jywarren ...should we **remove** the Layer button and/or full-screen button if we visit someone's else profile ? What do you think ?

[2018-04-09 17:47] sukhbir-singh commented on #2602
Can I try this??
I will take help of mentors and will ask questions if needed as this task might be a bit complex :sweat_smile:

[2018-04-09 17:58] sagarpreet-chadha commented on #2602
Hi @sukhbir-singh ! This sounds awsome 😄  !
Would be happy to help you 🎈 👍  !

[2018-04-09 20:03] jywarren commented on #2602
that would be great, thank you!!!

On Mon, Apr 9, 2018 at 1:47 PM, Sukhbir Singh <notifications@github.com>
wrote:

[2018-04-09 22:31] Fastie opened #2604 "Parsing of markdown (formatting) of answers and comments is broken"
Formatting of answers to questions and comments on answers ignores line breaks and paragraph breaks and does not display images or make urls hot.

https://publiclab.org/questions/nshapiro/03-27-2018/what-data-logger-will-work-with-my-portable-hcho-meter#answer-927-comment-19332

https://publiclab.org/questions/JLJ/04-09-2018/calculating-ndvi-using-pinoir-camera-and-blue-filter

### What's your Pub

[2018-04-09 23:35] jywarren commented on #2604
Thanks Chris! This was due to the Rails 4.2 upgrade, which changed string
sanitizing unexpectedly. I'm working on a fix but struggling a bit. Update
soon!

On Apr 9, 2018 6:32 PM, "Fastie" <notifications@github.com> wrote:

Formatting of answers to questions and comments on answers ignores line
breaks and paragraph breaks and does not display images or make urls hot.

https://publiclab.org/questio

[2018-04-10 00:20] jywarren opened #2606 "remove "field_publication_date_value" and similar fields, and copy their content into the node body"
These are old and we should try to slowly migrate them to being simpler, and using less custom fields.

****

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a

[2018-04-10 15:02] jywarren opened #2607 "sqlite test error on typeahead_service_test.rb"
### Please describe the problem (or idea)

Since Rails 4.2 (although possibly earlier? I haven't used sqlite for tests in a while but had to due to #2606) I've seen the following error on running `rake test:units`:

[code]

Has anyone else seen this? I haven't touched any of the relevant files; my PR is at #2605 and I don't think it's related.

Perhaps we should be simultaneously running sqlite te

[2018-04-10 15:09] jywarren commented on #2604
Very close now... lot more changes than I'd thought when i started the fix... but also adding tests to detect breakages in this set of functions in the future. We could use some code cleanup on comment/answer body rendering, but once we have the tests, this will be easier to do while knowing we haven't broken the overall behavior. I've added unit and functional tests.

[2018-04-10 15:13] Fastie commented on #2604
The tags displayed after research notes and questions no longer link to a search for that tag. Is that part of the same problem or is that a feature?

[2018-04-10 15:20] jywarren commented on #2018
Great, is this complete, or is there more we could break out about this one? Feel free to close it up if it's done! Thanks, all!!!

[2018-04-10 15:30] #2599 closed

[2018-04-10 16:31] ryzokuken commented on #2018
@jywarren +1, that sounds perfect.

[2018-04-10 19:58] jywarren commented on #2604
Hi, Chris - are you seeing a "popup" when you click the tags? If not,
that's a bug. If yes, but you still can't get to the tags page, that's
probably an oversight, and a good catch. Either way, a little extra detail
will help us tackle that too -- should be a small tweak.

On Tue, Apr 10, 2018 at 11:13 AM, Fastie <notifications@github.com> wrote:

[2018-04-10 20:06] Fastie commented on #2604
The popup includes a link to the profile of the user who created the tag (not sure why anyone would want that), a link to "follow" the tag (don't want more emails), and a link to a list of users who have used the tag (fun, but not a great way to find related content).  There is no link to all the research notes tagged with that tag (the thneeds that everyone needs).

[2018-04-10 20:14] Fastie commented on #2604
Also, it seems that most of the users in the list of contributors to the tag have never posted anything with that tag.

[2018-04-10 20:54] jywarren commented on #2604
Hi Chris, could you open an issue for "explanation for contributors list" ?
There is recently improved logic in this and we ought to make an
explanation link on the contributors page.

As to the links, you're right there are a few missing/merged. I'll try to
submit a fix but if I don't get to it today could you open an issue for
that too? I think "# notes" is supposed to link there.

On Tue, Apr 1

[2018-04-11 00:07] Fastie opened #2608 "Explanation for contributors list"
Tags displayed at the bottom of research notes and questions link to a popup with a link to "contributors" to that tag. The contributors link goes to a list of contributors which includes all users who posted a research note (or question?) with that tag and also anyone who commented on those notes or questions or maybe answered one of the questions.

The list of contributors includes links to the

[2018-04-11 00:50] stefannibrasil commented on #2018
Hey, everyone! These are good points, thanks! The PR was already merged, I'll add this and create another one then =)

[2018-04-11 00:51] stefannibrasil commented on #2018
Also, thanks @sukhbir-singh thanks for all the help here!

[2018-04-11 06:39] sukhbir-singh commented on #2018
No problem...!! Happy to help. I am very active on github, gitter and irc, you can ping me there further if you need help in any case. :smiley:

[2018-04-11 14:05] sagarpreet-chadha opened #2610 "Change depreciated assert_tag to assert_select ."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-11 14:23] sagarpreet-chadha opened #2611 "Errors while running tests locally ."
**All tests error-ed when running `bundle exec rake test:all` .**

Example error :

<img width="1250" alt="screen shot 2018-04-11 at 7 48 04 pm" src="https://user-images.githubusercontent.com/14952645/38622703-69a3e380-3dc1-11e8-883d-a10ebaafd251.png">

Anyone getting same error ?
`ActiveRecord::StatementInvalid:         ActiveRecord::StatementInvalid: SQLite3::ConstraintException: NOT NULL constr

[2018-04-11 14:31] sagarpreet-chadha commented on #2611
I fixed this by adding :
**`created_at: <%= Time.now %> `
`updated_at: <%= Time.now %>`**

this to **`rusers.yml`** .

Is anyone else facing this problem ?

Thanks !

[2018-04-11 15:40] waqargithub commented on #2610
I can take this one!

[2018-04-11 18:34] Gauravano commented on #2610
That's great @waqargithub! You can ask us if you need any help. Thanks.

[2018-04-11 21:02] #2604 closed

[2018-04-12 00:52] pdurbin commented on #2596
I was in the audience and I thought it would be easier to find the resources too.

It seems like https://publiclab.org/software-outreach is the main resource for all the software they were talking about.

The slides themselves can be found at https://publiclab.org/notes/warren/03-22-2018/libreplanet-talk-sharing-strategies-for-welcoming-newcomers-into-floss-projects-first-timers-only-list-moderati

[2018-04-12 11:46] sukhbir-singh commented on #2602
Thank you @jywarren and @sagarpreet-chadha for assigning this task. Solving this really helped me in getting more familiar with the codebase specially testing and API part. :blush: :v: :bulb: thanks..!

[2018-04-12 15:08] rishabhptr commented on #2439
Yes, that was exactly my thought, instead of new action we can use the same action with optional start and end parameters. Already the show method is quite detailed and good in finding different nodes for a tag and so it would avoid redundancy of the code and layout.
So I think I can go ahead with changes in the controller and then we can add the interface from which user can select and view data

[2018-04-12 16:05] ebarry opened #2613 "Can't remove a profile tag"
### Please describe the problem (or idea)

I was adding some tags to a profile of a collaborator and found that i couldn't remove a tag that i added, see `air-column-monitor`:

<img width="1079" alt="screen shot 2018-04-12 at 12 03 22 pm" src="https://user-images.githubusercontent.com/161439/38689459-c0dc3124-3e49-11e8-93a2-edbd2426cbaa.png">

I expected that i could remove a tag that i added

###

[2018-04-12 16:38] jywarren commented on #2439
super, that sounds great!

On Thu, Apr 12, 2018 at 10:08 AM, Rishabh Singh <notifications@github.com>
wrote:

[2018-04-13 23:38] 500swapnil commented on #2443
I would like to help with this. Any other background on this bug?

[2018-04-14 13:37] pdurbin commented on #2597
@waqargithub thanks for opening this issue. I was about to create one myself because I find it very strange how the text on the Public Lab homepage moves up and down while you're trying to read it because of how the images at the top are different sizes. I made a little video (sped up quite a bit) to demonstrate the problem:

![publiclab](https://user-images.githubusercontent.com/21006/38768789-db

[2018-04-14 14:08] Gauravano commented on #2597
hi @waqargithub @pdurbin, agree with you guys to fix the size of the image container. @publiclab/ community-reps what do you think about the idea? Thanks, @Be-ing for opening the issue.

[2018-04-14 17:00] sukhbir-singh commented on #2597
In my opinion, the most important thing here is to fix the height of div having class="slick-list draggable", which is presently changing its height according to the image.

I did some google for this and finds an open source library called "better-simple-slideshow" useful here. You can see the [demo](http://leemark.github.io/better-simple-slideshow/) of this library.

Slideshow demo link: http://

[2018-04-14 17:32] waqargithub commented on #2597
I do think cropping or resizing the images is the simplest fix since it requires no change to code and there are only 4 images.

Changing the code to control the size of the div might be the more resilient fix since it would avoid any change in behavior if new images are added in the future.

I am seeing support for both ideas but it seems there is more support for resizing the div. I am checking

[2018-04-14 18:30] waqargithub opened #2616 "Make Installation Instructions More Clear"
### Please describe the problem (or idea)

I find the information given across readme.md and readme.environment to be confusing and, at times, conflicting.

1. I am not sure if information in readme.environment is still current and whether this file is still to be used.

2. I think having one consolidated file with all installation related instructions would provide a clearer path to install and s

[2018-04-14 18:31] waqargithub commented on #2616
I am happy to work on this issue with someone from the project team.

[2018-04-14 19:38] patcon commented on #2597
Seems we use the Slick carousel, which already has a way to turn this on-off during carousel instance initiative, using `adaptiveHeight`. Example here: http://kenwheeler.github.io/slick/

But the code for the carousel itself seems to be in the database as a ["feature"](https://github.com/publiclab/plots2/blob/master/doc/DATA_MODEL.md#features). I'm not totally familiar with the plots2 codebase, bu

[2018-04-14 19:43] jywarren commented on #2597
Great work here, many thanks! I found the options for the slideshow when
used together were a bit buggy, so disabled fixed height to get it working.
But maybe more fiddling could help. I agree though that just making all
images same height is an easy fix! If anyone wants to upload them here or
to http://publiclab.org/sandbox I can update the URLs, thanks a LOT!!

On Sat, Apr 14, 2018, 3:39 PM Patr

[2018-04-14 21:34] jywarren commented on #2443
Hi, I think we just occasionally update an old blog post, and that bumps it to the dashboard, which is unintended. If we change the ordering on the lines marked above, this should resolve -- thank you, @500swapnil !!!

[2018-04-15 08:44] waqargithub commented on #2597
I can make the images the same height so that we'll have an immediate and simple fix. If we want to make a change to the code eventually then that option still could happen in the future.

[2018-04-15 17:54] jywarren commented on #2597
that sound fantastic, thank you!!

On Sun, Apr 15, 2018 at 4:44 AM, waqargithub <notifications@github.com>
wrote:

[2018-04-16 13:25] first-timers[bot] opened #2620 "Hide "stale page" notice for locked pages"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-16 15:40] #2598 closed

[2018-04-16 17:38] StereotypicalCat commented on #2620
Hello. I would like to claim this :)

[2018-04-16 17:48] Gauravano commented on #2620
Awesome @StereotypicalCat :tada:
If you want any help please feel free to mention @publiclab/reviewers, we would be happy to help.Thanks.

[2018-04-16 17:52] StereotypicalCat commented on #2620
Hey @Gauravano or @publiclab/reviewers sorry to already ask for help already. Do i need to create a new branch for this to work? I am trying to look for it on plots2 -> branches, but it does not seem like I can.

[2018-04-16 18:00] Gauravano commented on #2620
No issue at all. yes, you need to create new branch for this on your local machine and then push it to your plots2 fork.

[2018-04-16 18:09] StereotypicalCat commented on #2620
Hey, I think im finished.

[2018-04-16 18:11] StereotypicalCat commented on #2620
Thanks a lot for the chance to try this out!

[2018-04-16 18:39] jywarren opened #2623 "Note page showing an error"
https://publiclab.org/notes/karimatsko/3-17-2012/hydrogen-sulfide-h2s-oilgas

I'll check the logs -- no time at the moment! 👍

[2018-04-16 21:01] first-timers[bot] opened #2624 "Add a prompt to create content to inline grids"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-16 21:12] #2620 closed

[2018-04-16 21:30] jywarren opened #2625 "Update Leaflet Blurred Location to v1.1.12"
@mridulnagpal and I noticed PublicLab.org is running on v1.1.5 of Leaflet Blurred Location (https://github.com/publiclab/leaflet-blurred-location/):

https://publiclab.org/lib/leaflet-blurred-location/package.json

Although there's `v1.1.12` now available: https://github.com/publiclab/leaflet-blurred-location/releases

We're not pegged to a version, but to the master branch:

https://github.com/pu

[2018-04-16 22:02] #2602 closed

[2018-04-16 22:04] jywarren commented on #2439
We should also plan ahead to make the graph reflect the period of time shown. Looking good!!

[2018-04-16 22:24] jywarren commented on #2611
hmm, want to open up a PR with this, and I can try it out locally? Thank
you!!

On Wed, Apr 11, 2018 at 9:31 AM, Sagarpreet Chadha <notifications@github.com

[2018-04-16 22:26] jywarren commented on #2596
Hi! That's a good point -- our software work is younger than the "mothership" (so to speak) of open hardware and environmental monitoring methods, and we're still figuring out how to create a space for it on PublicLab.org. A lot of things compete for attention on the front page. Do you think this could be in a menu, or have other ideas of where we could highlight it?

Thanks a lot! @pdurbin too!

[2018-04-16 22:48] jywarren commented on #2616
Hi, @waqargithub thank you! We'd love to come up with a list of things that could be improved. @publiclab/reviewers this kind of input is really valuable as we've seen the site and docs for long enough that we forget what it's like to see them with fresh eyes.

We used to have a very long README.md, but we heard from people that it was bewildering. So now we have most of our docs in `/doc/`.

http

[2018-04-16 22:58] Be-ing commented on #2596
I think it could fit somewhere under "II. The Collaboration" or "III. The Solution". I'll leave it to someone more involved in Public Lab to figure out exactly how to say that. There should definitely be an entry in the Get Involved menu that links to a page for getting involved in coding.

[2018-04-17 00:10] eduardoltorres commented on #2624
Hey! First timer here. I'm just following the first step by claiming the issue, since I don't see any comment here. Thanks for the opportunity!

[2018-04-17 00:26] eduardoltorres commented on #2624
Just finished. I really got confused after I started the pull request. What are the checkboxes about and who has to checked them? Thank you to anyone available to review.

[2018-04-17 07:42] NiklasJordan opened #2627 "Questions can no longer be found"
### Problem

I clicked on the "Ask a question" button under the text on the "Start a chapter" page (https://publiclab.org/wiki/start-a-chapter). Then I came to the form and entered my question and sent the question. Now I was redirected to my dashboard.

However, I can't find my question anywhere. Neither on the question page (https://publiclab.org/questions) nor on my profile. However, my profile

[2018-04-17 15:33] ebarry opened #2628 "Banned users with location tags appear on the /people map"
### Please describe the problem (or idea)

The map of /people shows markers for banned users, for instance https://publiclab.org/profile/Evataylor. I have already deleted the location tags off of two other banned users that were showing up on our map before reporting this as a bug.

I expected to see all real people on our map at publiclab.org/people

### Please show us where to look

https://publ

[2018-04-17 15:38] ebarry commented on #2627
Hi @NiklasJordan ! sorry for the trouble on this! It's very helpful that you wrote back explaining the experience of this.

As a first time website contributor, your question was held in moderation. In fact, as one of the moderators, i just approved it a minute ago. Sorry for the delay that "human loop" caused, and the lack of clarity about what was going on.

With this explanation, can you descri

[2018-04-17 15:53] first-timers[bot] opened #2629 "Add a text "feature" instead of static text to /places page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-17 16:04] ebarry commented on #2596
ah, great idea! Here's the exact code for the dropdown menu, want to open a PR?
https://github.com/publiclab/plots2/blob/ceb7d05404b4619c7fa8cd8cae5e8215798cb02c/app/views/layouts/_header.html.erb#L45-L65

[2018-04-17 17:40] hyser521 commented on #2629
I'd like to take this project if that's alright.

[2018-04-17 17:48] sagarpreet-chadha commented on #2628
I would like to solve this one  :world_map:  :balloon: .

[2018-04-17 17:52] sagarpreet-chadha commented on #2629
Hi @hyser521 ...that would be  awesome ! :smile:
Feel free to ask here to @publiclab/reviewers team in case of any doubt .
Thanks !!

[2018-04-18 00:31] hyser521 commented on #2629
I've set up my pull request, but when I tried to mention  @publiclab/reviewers, it didn't turn into a link.  What am I doing incorrectly?

[2018-04-18 01:43] jywarren commented on #2629
Hmm I think that's something we're trying to figure out... I believe non
reviewers can't trigger it perhaps, which is too bad. Maybe we can create a
bit behavior to solve this though. Thanks! We'll review in the next day and
your help is much appreciated!!!

On Tue, Apr 17, 2018, 8:32 PM hyser521 <notifications@github.com> wrote:

[2018-04-18 01:58] SidharthBansal commented on #2629
I spotted the error. You need a space after @publiclab/reviewers else the link will not work. You have a comma instead of a space hence it is not working

[2018-04-18 07:42] NiklasJordan commented on #2627
Hi @ebarry, don't worry. Maybe I missed that message.

I made a suggestion once how this could be made a little clearer. However, this is only a very rough prototype. I stole the lyrics from your message and the answers to my [question](https://publiclab.org/questions/niklasjordan/04-17-2018/which-organizer-can-i-contact-if-i-want-to-start-the-first-chapter-in-germany).

![screenshot-2018-4-18 pub

[2018-04-18 13:37] ebarry commented on #2627
I love the proposal, let's do it just like this! @publiclab/community-reps what's the next step we can take on this?

FYI, For tracking purposes, i also added a link to your proposal as an answer to @jywarren 's question: https://publiclab.org/questions/warren/11-14-2017/what-s-one-thing-that-could-be-better-for-newcomers-about-the-public-lab-website
See all user interface questions and current id

[2018-04-18 15:11] hyser521 commented on #2629
@SidharthBansal I don't think that did it- I edited my above comment and still did not get the mention. If I do it at the end of this comment with no punctuation near it as well, it still doesn't work.
@publiclab/reviewers

[2018-04-18 17:28] Gauravano commented on #2595
hi @cindychangy , just checking if you need any help with this. Thanks.

[2018-04-18 17:36] gretchengehrke opened #2631 "Embedded document missing?"
### Please describe the problem (or idea)

I went to this page: https://publiclab.org/wiki/gardening-toolkit-case-study. On it, I expected to see an embedded file, but instead saw saw the message "That Page Does Not Exist" embedded in the wiki page. It's not an issue with the wiki page itself, since it loads fine and has other content around where that embedded file was.

### Please show us where

[2018-04-18 17:36] Gauravano commented on #2595
In progress in https://github.com/publiclab/PublicLab.Editor/pull/132 by @cindychangy

[2018-04-18 17:37] gretchengehrke commented on #2631
@icarito Jeff suggested that I ping you about this issue. Thanks!

[2018-04-18 17:43] icarito commented on #2631
Thanks I'm checking it out - the pdf itself is there, but the pdf viewer isn't found - will fix.

[2018-04-18 17:49] icarito commented on #2631
Some other files were missing in /public directory. I copied the pdf.js file and also the *.html files. Not sure the others are needed? @jywarren is `editor/` used?

[code]

The page in question has been fixed, thanks for the heads up @gretchengehrke !

[2018-04-18 17:49] #2631 closed

[2018-04-18 17:51] Gauravano commented on #2610
Awesome @waqargithub !!!  Also, in case tests don't pass locally, please feel free to raise PR as we can help you in debugging. Thanks.

[2018-04-18 17:56] gretchengehrke commented on #2631
Thanks @icarito!

On Wed, Apr 18, 2018 at 1:49 PM, Sebastian Silva <notifications@github.com>
wrote:

[2018-04-18 18:13] Gauravano opened #2632 "Button style doesn't match"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-18 18:18] SidharthBansal commented on #2629
There should be a space after @publiclab/reviewers

[2018-04-18 20:41] jywarren commented on #2627
This is awesome. Let's make the page as an editable wiki page at
http://publiclab.org/first-time ! Then we can wire up the redirect once
you've posted.

Can someone volunteer to make that wiki page?

This is amazing!!! Thanks so much!!!!!!!!! 💪💪🎉🙌🎇🍄

On Wed, Apr 18, 2018, 9:38 AM Liz Barry <notifications@github.com> wrote:

[2018-04-18 21:48] waqargithub commented on #2597
I have resized the 5 images so that they all have the same dimensions.

My original plan was to find them in code, modify them, and then submit them via a PR.

I was not able to find the images in the code. I wondered if they are kept in a database and so simply downloaded them from the website. I have attached the cropped/resized images to this post. Please let me know if it is possible to submit

[2018-04-18 22:02] #2629 closed

[2018-04-18 22:10] trqkkr commented on #2632
I'll take a crack at it!

[2018-04-18 23:16] jywarren commented on #2452
Hi, all! @amitsin6h any interest in this one, or is it up for grabs? Thank you!!!

[2018-04-19 01:31] SidharthBansal opened #2638 "Make link clickable on dashboard"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-19 03:25] jywarren opened #2640 "publiclab.org/tag/indoor-air-quality erroring"
https://publiclab.org/tag/indoor-air-quality

I'll check logs in the morning! Thanks @icarito and @steviepubliclab for reporting!

[2018-04-19 03:26] jywarren commented on #2628
Always with the good emojis, Sagarpreet! :-)

[2018-04-19 03:26] icarito commented on #2640
Actually I just checked logs:
[code]

[2018-04-19 05:55] NiklasJordan commented on #2627
I would be happy to help you! So if you want, I can do it.

[2018-04-19 11:11] ebarry commented on #2627
Yes please!

On Thu, Apr 19, 2018, 1:55 AM Niklas Jordan <notifications@github.com>
wrote:

[2018-04-19 13:58] steviepubliclab commented on #2627
Hi this is awesome!!
One text edit::  under the Open Call header, instead of saying "there's one today at 7pm GMT (and every Tuesday)"  change that text to "there is one every Tuesday at 7pm GMT"

Thanks for opening this issue and working on it! Commenting back on your question on Public Lab soon :)

[2018-04-19 15:01] jywarren commented on #2640
i think we should add a `.to_s` to the `render_body` method in
`/app/models/revision.rb`

On Wed, Apr 18, 2018 at 11:26 PM, Sebastian Silva <notifications@github.com>
wrote:

[2018-04-19 15:08] steviepubliclab commented on #2563
Hi there, noticed this issue is closed, but I'm still having this problem. For example, when I search new-orleans on tag page nothing shows up, but there is a lot of material with that tag:

https://publiclab.org/tag/new-orleans

[2018-04-19 15:15] jywarren commented on #2563
Thanks, can you re-open this? For clarity, when you enter a search on
https://publiclab.org/tags/ with the search phrase "new-orleans", you go to
a page like https://publiclab.org/tags/new-orleans -- this should be in the
`index` action of the tags_controller.

On Thu, Apr 19, 2018 at 11:08 AM, Stevie <notifications@github.com> wrote:

[2018-04-19 16:34] icarito opened #2641 "Orphaned container in staging prevent rebuilds"
Sometimes the staging build fails with error:
_"Container is marked for removal and cannot be started."_

This is fixed when restarting the Docker service, but is not ideal and manual. The issue is similar to https://github.com/moby/moby/issues/5684

### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

###

[2018-04-19 16:38] icarito commented on #2625
I'll figure out how bower works. I'd be surprised if "#master" is a valid tag anywhere outside git.

[2018-04-19 16:57] icarito commented on #2625
Oh I see bower defaults to github urls! Now I get it.
I think the problem is we're not doing `bower update` when we build the container.

[2018-04-19 17:16] jywarren opened #2643 "Announcement: Now on Docker containers in production"
Hi, just using an issue as an announcement @publiclab/reviewers @publiclab/soc --

I just wanted to note that we have moved last weekend completely to Docker containers on production, after a lot of hard work by @icarito -- hooray! 🎉

This week has had some minor resulting hiccups from folder symlinks, but it's gone really well. We're on containers all the way from our PR tests to the production w

[2018-04-19 17:44] jywarren commented on #2625
Resolved, thank you!!!

[2018-04-19 17:44] #2625 closed

[2018-04-19 19:08] renatavmaraj commented on #2638
I can help with this!

[2018-04-19 20:33] jywarren commented on #2595
I think this is complete now? Thank you!!!

On Wed, Apr 18, 2018, 1:41 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-04-19 21:07] Gauravano commented on #2595
oh yes, closing now : )

[2018-04-19 21:07] #2595 closed

[2018-04-19 21:15] RandomNingen commented on #2638
Hello I am new to open source. I was looking around for something I could work on. Could I please give this issue a try?

[2018-04-19 21:45] chiranjev commented on #2638
I would like to resolve this issue if someone has not made any pull request.

[2018-04-20 02:09] SidharthBansal commented on #2638
Hi @chiranjev there is already a PR on this issue. You can try other first timer issues
@RandomNingen thanks for the pr

[2018-04-20 16:52] waqargithub commented on #2597
Sure, no problem. I have attached a new set of images resized to 1200 px wide. They are all 231 kB or less.

Waqar

![beach_1200x427](https://user-images.githubusercontent.com/5306998/39063452-cc5b503c-4490-11e8-8115-b5d792e857c0.jpg)

![fanboat-narrow-2_1200x427](https://user-images.githubusercontent.com/5306998/39063462-d4716b12-4490-11e8-9069-fb9941ffc059.jpg)

![gowanus_1200x427](https://user-

[2018-04-20 18:16] #2638 closed

[2018-04-20 18:22] waqargithub opened #2646 "Issue with Cloud9 Set-up Instruction or with Script"
### Please describe the problem (or idea)

I used [these instructions](https://github.com/publiclab/plots2/wiki/Simple-Installation-for-Cloud9) to try to set up an environment on Cloud9. My attempt was unsuccessful.

1. I expected to see a field for "Clone from Git or Mercurial URL" before clicking on Create Workspace. In practice, I first clicked on Create Workspace and then saw that field.

2. I

[2018-04-21 00:42] flash00 commented on #2632
Hi, looks like all the first-time-only issues are covered. Would love to work on one when available. 😃

[2018-04-21 18:29] rishabhptr commented on #2439
Yes, it makes sense to update the chart also maybe we can have the graph update while choosing a range from the interface much like we are doing nodes through start and end values. :smile:

[2018-04-21 19:11] Gauravano commented on #2632
hi @flash00, thanks for showing great enthusiasm, I let you know if I came across any unclaimed first-timer issue. Thanks :smile:.

[2018-04-21 19:11] Gauravano commented on #2632
Solved in #2636

[2018-04-21 19:11] #2632 closed

[2018-04-21 19:29] Gauravano commented on #2458
Solved in #2477

[2018-04-21 19:29] #2458 closed

[2018-04-21 19:45] icarito opened #2647 "Urgent: Home down because of invalid record (?)"
[code]

### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll

[2018-04-21 19:50] icarito commented on #2647
I'm going to look for the invalid record with the rails console. Need to figure out what record I'm looking for.

[2018-04-21 20:06] icarito commented on #2647
Checking thru the latest nodes they seem to all have valid author fields... I'm going to try restarting the app.

[2018-04-21 20:10] icarito commented on #2647
These all look like valid users to me?
[code]

[2018-04-21 20:13] icarito commented on #2647
Yeah, valid users, then how are we getting nil for a node? :confused:
[code]

[2018-04-21 20:44] icarito commented on #2647
`node.latest.author.name` seems to be the culprit `node` is `nil`

[2018-04-21 21:41] pdurbin commented on #2647
My guess is that `node` is nil on this line:

https://github.com/publiclab/plots2/blob/fa16a69f8f475c101bc23325f4df7411c2172872/app/views/dashboard/_node_wiki.html.erb#L9

[2018-04-21 21:47] Gauravano commented on #2647
I think, I have reproduced the error

![error](https://user-images.githubusercontent.com/20878070/39089048-87eb91d6-45db-11e8-9fa7-5216ccfe8cb9.gif)

[2018-04-21 22:56] jywarren commented on #2647
Fixed, opening a PR to reproduce this -- maybe @Gauravano if you'd be interested in trying to write a function to disallow spamming of the final revision of a wiki page (instead alerting that an admin must delete the page) that would be amazing!!! THanks all for working on this.

[2018-04-21 23:07] jywarren commented on #2647
Awesome, just opened #2648.

[2018-04-22 08:55] Souravirus opened #2650 "[ENHANCEMENT] Need for making moving forward button on stats page"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**
### Please describe the problem (or idea)
We already have a looking back button by week, month and year.
![screenshot from 2018-04-22 14-21-04](https://user-images.githubusercontent.c

[2018-04-22 19:11] Gauravano commented on #2647
Fixed in #2648

[2018-04-22 19:11] #2647 closed

[2018-04-22 20:01] flash00 commented on #2632
Great. I'll look forward to hearing from you.

On Sat, Apr 21, 2018 at 12:11 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-04-22 22:43] 500swapnil commented on #824
This is an old issue. Is it resolved now? Otherwise I can take this up

[2018-04-23 03:53] first-timers[bot] opened #2651 "add conversion to string in Revision render_body"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-23 03:53] jywarren commented on #2640
Opening a FTO in https://github.com/publiclab/plots2/issues/2651!

[2018-04-23 03:53] #2640 closed

[2018-04-23 03:54] jywarren commented on #2632
@flash00 -- I've opened one up at https://github.com/publiclab/plots2/issues/2651 if you'd like to take it?

[2018-04-23 03:54] jywarren commented on #2651
I think @flash00 may want to tackle this one?

[2018-04-23 03:57] #2610 closed

[2018-04-23 04:33] flash00 commented on #2651
Yes. I'll take this one. Thanks!

On Sun, Apr 22, 2018 at 8:54 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-04-23 14:15] jywarren commented on #2651
Awesome!

[2018-04-23 14:19] jywarren commented on #2597
Perfect! Uploaded and complete. Thanks everyone for your help with this!!!

[2018-04-23 14:19] #2597 closed

[2018-04-23 14:33] icarito commented on #2623
Sure!
[code]

[2018-04-23 14:37] jywarren commented on #2623
I think this'll be fixed by #2651 -- closing this!

[2018-04-23 14:37] #2623 closed

[2018-04-23 14:37] jywarren commented on #2623
And thanks!

[2018-04-23 14:48] jywarren commented on #824
I think we actually need to look through some old URLs based on this and see if we can write a new route for them?

https://github.com/publiclab/plots2/blob/499bb8d4d0c99be412d7fbdf7a9bc7308c7ea3ac/config/routes.rb#L124

aha! here:

https://web.archive.org/web/*/publiclaboratory.org/report/*

https://publiclab.org/report/plots-new-york-summit and many other examples.

I believe we just need to ref

[2018-04-23 14:53] jywarren opened #2652 "Begin refactoring Node model for better maintainability"
### Please describe the problem (or idea)

CodeClimate gives us a "C" rating -- see the README at https://github.com/publiclab/plots2

The full report is here: https://codeclimate.com/github/publiclab/plots2

The two biggest "smells" as they call them, are overcomplexity and length of node.rb: https://github.com/publiclab/plots2/blob/master/app/models/node.rb

Can we break some of these methods up

[2018-04-23 14:55] jywarren commented on #2652
We could remove the `add_xxxx` methods for adding comments, and use the more built-in Rails methods for that...

https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L567

We could try to finish deprecating the Drupal legacy data like Images -- that would help by ~80 lines! https://github.com/publiclab/plots2/issues/956

In general, let's come up with small projects to chip away at t

[2018-04-23 14:57] jywarren commented on #956
We could use a new issue/task for `copy all old Drupal image records into new Rails Image records and delete old ones, in a Rails migration` -- this would let us start deleting old Drupal image code and make our codebase much cleaner! @publiclab/reviewers -- anyone want to take a stab at this?

[2018-04-23 16:22] jywarren opened #2653 "🎉 Announcing 10 Summer of Code projects for 2018"
:tada::tada::tada::tada::tada::tada::tada::tada::tada:

We're happy to announce we're accepting 9 students through Google Summer of Code this season. This is almost double last year's 5 slots, and reflects big, positive changes in our community this past year.

**Update:** we've just also heard that [Rails Girls Summer of Code was announced](https://railsgirlssummerofcode.org/blog/2018-04-21-rgsoc

[2018-04-23 16:28] SidharthBansal commented on #2653
Thanks a lot all the mentors. It is a lovely expression to work with you all. :grin:

[2018-04-23 16:31] MayankKashyap commented on #2653
Thank you all

[2018-04-23 16:31] MayankKashyap commented on #2653
And also congrats to all students

[2018-04-23 16:31] tech4GT commented on #2653
Thanks a ton😃

[2018-04-23 16:33] Souravirus commented on #2653
Congrats everyone

[2018-04-23 16:37] ryzokuken commented on #956
@jywarren much needed! I might not be able to take this on all by myself, but I could help break this down for others.

[2018-04-23 16:37] 500swapnil commented on #824
#2654

[2018-04-23 17:04] sagarpreet-chadha commented on #2653
Congratulations to everyone and thank you to all the amazing mentors 😃 🎈  !

[2018-04-23 17:10] ananyo2012 commented on #2653
Congrats everyone :smile:

[2018-04-23 17:14] jywarren commented on #956
oh, awesome. I think even the image work could be done in parts!

On Mon, Apr 23, 2018 at 12:37 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2018-04-23 17:25] Gauravano commented on #2653
Congratulations everyone and thanks to all the mentors for your support :raised_hands: :sparkles: :tada: :smile: .

[2018-04-23 18:33] ViditChitkara commented on #2653
Congratulations everyone!! Thanks to all the mentors for their motivation and support.🎉🎉🎉🎉

[2018-04-23 18:48] namangupta01 commented on #2653
Congratulations everyone! And thanks to all the mentors. Let's start an amazing journey of coding this summer.

[2018-04-23 20:29] #824 closed

[2018-04-23 21:35] jywarren commented on #2653
And hello, can @publiclab/mentors in particular but really any @publiclab/reviewers introduce themselves briefly? @publiclab/reviewers feel free to mention where you are in the world (if you like) and what projects at Public Lab you've been working on?

Can mentors please also leave a comment on https://publiclab.org/notes/warren/04-23-2018/announcing-9-google-summer-of-code-projects-for-2018 so w

[2018-04-23 21:38] jywarren commented on #2653
I'll start -- I'm in Providence, Rhode Island, in the US. I do a little bit of everything but my passion in software is long-term contributor community health and helping contributors take leadership in the community. Also, I really like tidy, readable JavaScript 😀

[2018-04-23 22:50] siaw23 commented on #2653
I’m from Ghana but based in Poland. I’m an engineer at CloudSight Inc
working on AI and ML projects with Python and Ruby. Looking forward to the
official start of coding.

On Mon, 23 Apr 2018 at 5:38 PM, Jeffrey Warren <notifications@github.com>
wrote:

--
Kind regards,
Emmanuel M. Hayford.

[2018-04-23 23:52] #2651 closed

[2018-04-24 02:45] MayankKashyap commented on #2653
I'm from India. Currently I am pursuing my B.Tech from National institute of technology Hamirpur. And I am a mentor of 4 different GSOC projects(Image sequencer, Email Integration Project and two more) of Public Lab. I like coding but I am also good in Management.

[2018-04-24 14:33] ebarry opened #2656 "non urgent: inconsistencies on count of Likes VS list of Likers on notes/wikis"
### Please describe the problem (or idea)

The number of Likes seems to flickr upon page reloading. I observed it yesterday on publiclab.org/evaluation, but actually can't reproduce what i documented in this video today:
https://publiclab.org/system/images/photos/000/024/696/original/like_count.mov

Perhaps you can see it on a wiki page like https://publiclab.org/balloon-mapping. Try reloading the

[2018-04-24 15:11] steviepubliclab commented on #2653
Hi!
Wow - such a great group 😁🎉!! I'm a mentor on a number of projects this
year, and so excited to see what everyone does. I'm based out of New
Orleans 🐊, Louisiana and work on the community development side of Public
Lab. I won't be able to help with coding questions you might have (luckily
we have some amazing reviewers who are spectacular with that!), but I'm
here to support in other ways. I s

[2018-04-24 15:17] jywarren commented on #2439
I've updated this with a checklist of sub-parts that could be broken out and solved individually. Thanks!!!

[2018-04-24 15:20] jywarren commented on #2594
I like Option 3 -- well thought through! I do think it could be a first-timer candidate... @Gauravano what extra things would we need to modify in the `rich.html.erb` template to make this possible? Would it simply add/remove a tag in the tag field when you click the checkbox? That seems plausible and keeps it all on the client side... what do you think?

[2018-04-24 15:28] ebarry commented on #2653
Hi everyone ☀️,
Congrats to all whose proposals were accepted, and even if yours wasn't, please know that you are appreciated and that your contributions are valued!
Thank you to everyone who has been interacting already, it's like the first day of school around here :)
I'm similar to @steviepubliclab in that I spend a lot of time on publiclab.org and work with people who come to collaborate on en

[2018-04-24 15:28] Gauravano commented on #2594
We just need to add checkbox at right place on `rich.html.erb` and a JavaScript function which would be called when user clicks publish. JS function would check if the box is marked or not and accordingly sends the status = 3 or 1 to the controller.

The follow-up of this, would be adding a button on research page to change status = 1 so that note would be visible publically. I have planned this,

[2018-04-24 16:28] jywarren commented on #2594
Let's add the button on the post page to "final publish" first, then modify
the form after. That way nobody's note gets stuck as a draft.

I do like the idea of using the "draft" tag as a marker on note creation
instead of allowing user to set the status directly... which could be easy
to get wrong and allow bypassing spam controls if we aren't real careful.
Thinking ahead to when we maintain this

[2018-04-24 16:37] Gauravano commented on #2594
I am fine with using `draft` tag instead of status = 3 for the draft but then, we have to revert the work done as planned in #2307. Ok, we need to undo PR #2308.

[2018-04-24 16:42] jywarren commented on #2594
Oops, no, don't do that! Sorry, i hadn't looked at this checklist for a while and forgot it was already implemented. But I also like the implementation you did -- using the `params[:draft]` as a boolean instead of directly setting `params[:status]`. So that addresses my worry too!

[2018-04-24 16:45] jywarren commented on #2594
https://github.com/publiclab/plots2/pull/2308/files#diff-b9551b46e6321bfb977e1f52104c5768R114

Super, so the checkbox can be checked locally in JS, like this:

https://github.com/publiclab/plots2/blob/b56de9d1591c05f0cc35de95c1d7685938b4ec12/app/views/editor/rich.html.erb#L207

Would we add another `data` sub-parameter? I believe that's right, as in https://github.com/publiclab/PublicLab.Editor/#s

[2018-04-24 17:43] vkgoel commented on #2452
I want to try this.. first timer here

[2018-04-24 17:47] sagarpreet-chadha commented on #2452
Great !!!!!
Ask @publiclab/reviewers team here in case of any doubt .

Thanks so much 😃 🎈  !

[2018-04-24 17:55] ananyo2012 commented on #2653
Hi everyone! Just wanted to drop by and say Hello. Congrats to all GSoC students who got selected this year. Happy to see so many of you this year! The community is growing large :smiley: I am Ananyo, a past GSoC student and mentor at publiclab. I have been a part of the @publiclab/reviewers and @publiclab/soc teams. It has been a great time working with publiclab and I hope you guys are having a

[2018-04-24 19:17] Gauravano commented on #2594
hi @jywarren, I was thinking of  passing draft= true via destination URL so that I don't have to play with editor's code. It would go something like this

` destination: '/notes/create?rich=true'` in constructor

and if checkbox is marked on submission then destination would be changed like this:-
`var newDestination = editor.options.destination +"&draft=true";`

What do you think about this appro

[2018-04-24 19:25] jywarren commented on #2653
**Big update:** we've also just heard that [Rails Girls Summer of Code was announced](https://railsgirlssummerofcode.org/blog/2018-04-21-rgsoc-2018-crowdfunding-campaign) and we will be working with one team of two from that program as well -- welcome @stefannibrasil @milaaraujo!!!! 🎉 😀 🙌

We're SO HAPPY to be working with you all -- THANK YOU!!!

[2018-04-24 19:26] jywarren commented on #2653
Also there's a great video 🎥  of the RGSoC teams finding out about their projects being accepted -- awesome 😄

[2018-04-24 19:54] Gauravano commented on #2653
Congratulations @stefannibrasil @milaaraujo :tada:  !!! That's actually nice way to announce result :smile:

[2018-04-24 20:07] Souravirus commented on #2653
congratulations @stefannibrasil @milaaraujo . Really liked the way the announced the results.

[2018-04-24 20:12] SidharthBansal commented on #2653
Congratulations @stefannibrasil @milaaraujo. I will really like to work with you all this summer.
@jywarren How about making a soc team as you did last yr for all 11 candidates??

[2018-04-24 20:43] jywarren commented on #2594
oh, that's a good idea! But when you click draft, we have to change it in
JavaScript, no? I think it'll take a little testing to be sure that it gets
set properly, but this is a good way forward. Leave a comment too though
explaining this!

On Tue, Apr 24, 2018 at 3:17 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-04-24 20:44] jywarren commented on #2653
@SidharthBansal great, absolutely. I'll invite everyone to the team shortly. Thanks!

[2018-04-24 20:51] tech4GT commented on #2653
Congratulations @steffanibrasil @milaarujo 🎉

[2018-04-24 20:57] Gauravano commented on #2594
@jywarren , I tried the method mentioned in docs too and that is solid one as URL can be messed up

![screenshot](https://user-images.githubusercontent.com/20878070/39213448-36043930-482f-11e8-9ab2-17baf4bff169.png)

So, I prefer your method. thanks for pointing to docs.

[2018-04-24 23:28] jywarren commented on #2608
Hi! I think @ebarry may have more on this, but part of the goal is to begin representing contribution more broadly, along the lines of https://github.com/kentcdodds/all-contributors -- we're also interested in this for https://github.com/publiclab/community-toolbox

But we can try to sum this up and get at our attempt in the plots2 code here:

https://github.com/publiclab/plots2/blob/b56de9d1591c0

[2018-04-25 01:51] milaaraujo commented on #2653
Thank you, guys!!!! =)))

[2018-04-25 03:05] stefannibrasil commented on #2653
Thank you and Congrats to everyone!! I am looking forward to working with you and I am really happy to be joining you this summer =)

PS. It was a lovely surprise, right?!

[2018-04-25 17:41] icarito commented on #2653
Hi everyone,

Congratulations to the chosen projects! May this opportunity serve the
world!

With regards to the chatroom, just a clarification: The chat is a
Matrix.Org room with handle "*#publiclab:matrix.org"* which is
replicated to Gitter and IRC-OFTC.

I use https://Riot.im/ , and we have a dedicated IRC gateway at
https://chat.publiclab.org/

Welcome to the community,

Sebastian

On 25/04/18

[2018-04-25 20:26] ebarry commented on #2608
Here's the page we've started: https://publiclab.org/contributors -- it could definitely have more explanation. And let's fix the broken links @Fastie found!

[2018-04-26 16:12] first-timers[bot] opened #2657 "Add a "flag as spam" button to comments"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-26 16:28] geekiam23 commented on #2657
Can I give this a shot?

[2018-04-26 16:44] jywarren commented on #2657
Yes!! Thanks!!

[2018-04-26 17:08] jywarren commented on #2657
I think there's an issue with how I wrote this up -- it caused an error when i tried it out.

[code]

So, watch out for that! I'm happy to help you with this.

[2018-04-26 18:10] jywarren commented on #2657
Ah, it looks like we ought to be saying `comment.user.name` instead of `comment.author.name`. Sorry!

[2018-04-26 19:02] jywarren commented on #1215
So what's a checklist here?

* [ ] install yarn in container configs (docker-compose.yml?)
* [ ] run [bower-away](https://github.com/sheerun/bower-away) to make a flat bower file
* [ ] check in new `package.json` file that's generated
* [ ] run tests

[2018-04-26 19:12] MayankKashyap commented on #2653
Hello everyone , I want to tell you people that due to exams I will be unavailable for few days. And one more thing due to some family issues I was not able to give efficient time for public lab and didn't made any necessary contribution but I assure you people that after exam I will be fully available and do my work efficiently.
Sorry for inconvenience

[2018-04-26 20:31] jywarren commented on #1215
https://github.com/publiclab/plots2/pull/2659

[2018-04-26 22:45] siaw23 opened #2660 "Skylight Performance Tracking"
Hi @publiclab/reviewers, [Skylight](https://www.skylight.io/) is providing free performance tracking for open source projects. We have nothing to lose but a lot to gain by joining it. I found that out at RailsConf last week and thought of Plots2. What do you say to adding Skylight to this growing project to track and fix performance issues as they come in?

[2018-04-26 23:00] jywarren commented on #1215
OK, it's running tests...  -- any help with this appreciated!

[2018-04-27 08:07] abTest-123 commented on #2653
Hi, I'm amir (AmirberAgain), from Israel. I have a M.Sc. physics work as an Algorithms engineer in a medical startup. Looking forward to work with MaggPi on R-pi microscopes!

[2018-04-27 15:03] steviepubliclab commented on #2627
Hi @NiklasJordan,
Can you walk me through how you got that error message? What page did you go to to try to create the wiki page from?

I thought you might have gone to the page I showed you earlier: www.publiclab.org/tag/germany to try to create the wiki page for Germany. When I went there and hit "the add one now" button for making a wiki page on it, I was able to create a page. There's one ther

[2018-04-27 15:10] NiklasJordan commented on #2627
Hej @steviepubliclab,
yes I tried that too ;-) Thanks to create this page for me.

But for this issue I go to https://publiclab.org/wiki/first-contribution

![bildschirmfoto 2018-04-27 um 17 07 51](https://user-images.githubusercontent.com/715033/39369818-8f5b5daa-4a3d-11e8-9a5c-6cfb45934c07.png)

Then I put my content on it...
![bildschirmfoto 2018-04-27 um 17 08 28](https://user-images.githubuse

[2018-04-27 15:16] Gauravano opened #2662 "Marking wiki with one revision as spam"
### Please describe the problem (or idea)

 I just saw a spam wiki with one revision, and moderators can't mark it spam.

hi @jywarren , here is the wiki [link](https://publiclab.org/wiki/escorts-services-in-hyderabad-sexy-housewife-call-girls-in-hyderabad-busty-and-hot-married-girl-photos), please delete it for now. Thanks.

[2018-04-27 15:48] jywarren opened #2663 "Brainstorm ways for new contributors to request a review or label an issue"
#2455 and a comment I saw recently get at this limitation -- anyone new to the project (who hasn't been added as a contributor) can't actually trigger group notifications like @publiclab/reviewers or add labels like `review-me` -- are there ways around this? Dangerbot, or other bots?

[2018-04-27 15:48] Gauravano commented on #2627
hi @NiklasJordan, I have tried creating the page with your content and got the same error, but when I changed the content, the wiki is created. @jywarren can you please see the logs. Thanks.

[2018-04-27 15:49] #2624 closed

[2018-04-27 15:53] jywarren commented on #2627
Ooh, that's no good! Thanks for catching this. Let's break it out in another issue and we'll try to dig up the logs for it.

[2018-04-27 16:04] Gauravano opened #2664 "Username in wiki/revisions pointing to /people/ instead of /profile/"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-27 16:22] jywarren opened #2665 "Error on new wiki page creation with emoji"
@NiklasJordan said:

![bildschirmfoto 2018-04-27 um 17 07 51](https://user-images.githubusercontent.com/715033/39369818-8f5b5daa-4a3d-11e8-9a5c-6cfb45934c07.png)

![bildschirmfoto 2018-04-27 um 17 08 28](https://user-images.githubusercontent.com/715033/39369848-a2c1d072-4a3d-11e8-83f9-1575a98057b9.png)

![bildschirmfoto 2018-04-27 um 17 09 10](https://user-images.githubusercontent.com/715033/39369

[2018-04-27 23:12] Gauravano opened #2667 "PLANNING ISSUE: Draft Feature"
Hi @jywarren @steviepubliclab,

**I want to inform you guys that my exams are scheduled from 21st May to 6th June, so I wouldn't be able to do much in that time period. I would be available for task discussions/calls/messages. I will try to open and solve small issues in-between exams. So, I would try to do as much work as possible till 18th May and possibly we would be done with this issue till t

[2018-04-27 23:27] jywarren commented on #2667
I think ftos would be great and if any new community members are joining
our soc programs this summer and haven't had the experience of helping a
newcomer complete a PR this could be a great chance! @publiclab/reviewers
what do you think?

On Fri, Apr 27, 2018, 7:12 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-04-27 23:52] Gauravano commented on #2667
Ok, I will open FTO issues.

[2018-04-27 23:56] Gauravano commented on #2667
@jywarren which label class would be appropriate for Draft. We are using danger class for unpublished
![unpub](https://user-images.githubusercontent.com/20878070/39389289-92941090-4aa4-11e8-8cca-3bb3962dbc2f.png)

[2018-04-28 01:28] jywarren commented on #2667
How about -success -- that'll be green, more friendly :-)

On Fri, Apr 27, 2018, 7:56 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-04-28 01:30] jywarren commented on #2665
Maybe if we can get the full text we can try filtering out the sections
that are causing trouble...

On Fri, Apr 27, 2018, 1:14 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-04-28 04:29] jolivadese commented on #2664
Can i take this one?

[2018-04-28 05:01] namangupta01 opened #2668 "Reply by email to comment feature"
Reply by email to comment feature using mailman gem to make it easy for the publiclab users to comment on the nodes.

[2018-04-28 06:03] sagarpreet-chadha commented on #2664
That would be great @jolivadese 😄 ! Feel free to ask here in case of any doubt .
Thanks 🎈 !

[2018-04-28 06:56] Gauravano commented on #2667
hi @namangupta01 , totally agreed. Let's open a new issue or move to channel for further discussion. Thanks !

[2018-04-28 06:59] sagarpreet-chadha commented on #2667
Hi @namangupta01 ,  @Gauravano  !
Should i create a new **Planning issue** for  Reply by Twitter feature  as well ?
Thanks !

[2018-04-28 07:05] sagarpreet-chadha commented on #2486
@jywarren ...should we create a stand-alone Leaflet-plugin for this  🗺 ➕ ?

[2018-04-28 07:07] Gauravano commented on #2665
ok, I will try this

[2018-04-28 07:10] Gauravano commented on #2667
In our case, we all have same project ideas, so a Planning issue is important to sync with each other. Although, if you create Planning issue for your project, we may get chance to chime in so, good to create one.

[2018-04-28 07:25] sagarpreet-chadha opened #2671 "PLANNING ISSUE : Reply via Twitter ."
### Please describe the problem (or idea)

Let's first discuss the best approach and then we shall break this into smaller independent issues .

More Details  🔜 !

* One way we can implement this is explained here : https://publiclab.org/notes/sagarpreet/02-16-2018/social-media-integration-and-part-of-interactive-project-maps

=> Email Integration #2672 (@namangupta01 )

[2018-04-28 08:04] namangupta01 opened #2672 "PLANNING ISSUES: Email Integration"
### Please describe the problem (or idea)

- [ ] Reply to comment by email using mailman gem
- [ ] Adding whenever gem for cron job for Weekly/Daily/Monthly Digest
- [ ] Designing Mailers for Email Digest
More to come......

[2018-04-28 08:05] namangupta01 commented on #2672
@ViditChitkara @Gauravano Kindly add more issues in the list by breaking them.

[2018-04-28 17:39] jolivadese commented on #2664
The line 26 already has the value href="/profile/<%= revision.author.name %>". What should i do?

[2018-04-28 17:52] Gauravano commented on #2664
hi @jolivadese, I just checked again it's currently  `href="/people/<%= revision.author.name %>"` as you can see

![line26](https://user-images.githubusercontent.com/20878070/39399415-da6365b0-4b3a-11e8-8432-25e042e7e31e.png)
 and required one is ` href="/profile/<%= revision.author.name %>"`. I hope it's clear now : )

[2018-04-28 17:59] jolivadese commented on #2664
I've finished!

[2018-04-29 08:26] MargaretAN9 commented on #2653
This note  is for my mentors (AmirberAgain/abTest-123, https://github.com/abTest-123; icarito, https://github.com/icarito ; jywarren,https://github.com/jywarren ) concerning  GSOC proposal :https://publiclab.org/notes/MaggPi/03-20-2018/gsoc-proposal-computer-vision-enhancements-for-raspberry-pi-based-public-lab-science-projects

1.Thank you for agreeing to be  my mentors!
2. Please verify that you

[2018-04-29 09:34] SidharthBansal opened #2676 "PLANNING ISSUE: Multi party authentication"
This is the checklist for the OAuth Login
# Implementation common to all providers
* [x] Add omniauth gem #2381
* [x] Add fiagro gem #2531
* [x] Install Openssl #2745
* [x] Make localhost work under https connection #2745
* [x] Write Documentaion for openssl #2745
* [x] Write Documentation for omniauth and related gems #2855 #2848
* [x] Define routes #2531
* [x] Modify UserTag to acts as identiy m

[2018-04-29 11:49] Gauravano opened #2677 "Sending draft status in output from PL Editor"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-29 14:11] Gauravano opened #2678 "Add Draft Label to the research note if status = 3"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-29 15:01] pdurbin commented on #2590
Over at https://gitter.im/publiclab/publiclab?at=5ae47ccb1130fe3d36280518 @ryzokuken reiterated that right now Matrix is the home base for chat, but he seems to have mixed feelings about this, saying, " I propose switching to a better alternative."

We discussed further and created a spreadsheet with requirements for a chat service. (I'm so new to the Public Lab community that I haven't added any

[2018-04-29 15:28] jywarren commented on #2672
Awesome :-))))

On Sat, Apr 28, 2018, 4:06 AM Naman Gupta <notifications@github.com> wrote:

[2018-04-29 15:28] jywarren commented on #2671
Cool! Link to Naman's new issue too!

On Sat, Apr 28, 2018, 3:25 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-04-29 15:29] jywarren commented on #2667
:-)))) great going, team!

On Sat, Apr 28, 2018, 3:11 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-04-29 15:29] jywarren commented on #2486
I think perhaps that's a good idea...!

On Sat, Apr 28, 2018, 3:06 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-04-29 15:43] sagarpreet-chadha commented on #2486
Should i create a new repository like **sagarpreet-chadha/Leaflet-Layer** and start work on it ? Thanks !

[2018-04-29 15:49] geekiam23 commented on #2678
Can I take a shot at this issue?

[2018-04-29 15:50] SidharthBansal commented on #2678
Yeah sure go for it.

[2018-04-29 16:28] ViditChitkara opened #2681 "PLANNING ISSUE: Publiclab digest"
- [ ] A design for weekly/monthly digest
- [ ] Cronjob for sending digest mails
- [ ] Ability of users to customise digest related settings
relevant links:- (#1119 )

[2018-04-29 16:30] ViditChitkara commented on #2672
related issues:- #2681 , #2668

[2018-04-29 16:32] ViditChitkara commented on #2681
@jywarren Let's add more details to this.

[2018-04-29 16:36] ViditChitkara commented on #2672
We also need to discuss the UI/UX for "reply by email to  comments" feature.

[2018-04-29 16:39] jywarren commented on #2672
agreed and there's a good github article on this. GitHub emails are a good
design reference.
https://blog.github.com/2011-03-10-reply-to-comments-from-email/

On Sun, Apr 29, 2018 at 12:36 PM, Vidit <notifications@github.com> wrote:

[2018-04-29 16:47] #2628 closed

[2018-04-29 16:47] #2664 closed

[2018-04-29 17:05] jywarren commented on #2486
Hmm, maybe we should call it leaflet-environmental-layers ? What do you
think?

Also I can create it at publiclab so that's the network root. Ok?

On Sun, Apr 29, 2018, 11:43 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-04-29 17:10] sagarpreet-chadha commented on #2486
Sounds great 😄  !!!

[2018-04-29 17:16] Gauravano commented on #2672
Related issue #2667

hi @jywarren, let us know when you would be free to discuss Email Integration with all of us. Thanks.

[2018-04-29 17:16] jywarren commented on #2486
Great and added @mridulnagpal too since the searching feature we've talked
about may make sense as part of that library too!

https://github.com/publiclab/leaflet-environmental-layers/

On Sun, Apr 29, 2018, 1:11 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-04-29 17:51] patcon commented on #2590
Nice! Can you open up edit access to that spreadsheet so that unanticipated participants can contribute to it? :)

[2018-04-29 18:06] patcon commented on #2590
Some :mag:facts, :heart:feelings, and :bulb:ideas related to this:

:mag: Slack does not have public logs.
:mag: Slackarchive.io is a service that offers channel-specific public logs.
:mag: Slackarchive.io has been a closed-source business.
:mag: Slackarchive.io has been down since late December 2017
:mag: The developers have recently [open-sourced](https://twitter.com/remco_verhoef/status/9898688

[2018-04-29 18:07] poppashingles commented on #2677
Hi, can I have a go at this one please?

[2018-04-29 18:07] patcon commented on #2590
We should add per-platform metrics for:
- clicks/steps to **view** conversation
- clicks/steps to **participate** in conversation

[2018-04-29 18:11] patcon commented on #2590
Big news for Matrix lately, ensuring it's future importance:
https://matrix.org/blog/2018/04/26/matrix-and-riot-confirmed-as-the-basis-for-frances-secure-instant-messenger-app/

[2018-04-29 18:13] Gauravano commented on #2677
Hi @poppashingles, that would be awesome. Thanks.

[2018-04-29 20:50] pdurbin commented on #2590
@patcon thanks for all the extremely interesting links you've shared today. I like your style and I learned some 🔍 facts:

1. 🔍 SlackArchive is now open source. ❤️
1. 🔍 Matrix is about to become a bigger deal in France. Neat!

As for the spreadsheet, you said...

... but I think allowing anonymous comments is enough for people to contribute. (I do fear trolls.) If people want to edit, they can cli

[2018-04-29 21:00] siaw23 commented on #2616
i very much agree with @waqargithub, file organisation and instruction are a bit discouraging. i also feel we should remove unused README's, keep a current, brief one at the top level. i have seen this in the main README for example:

well, if it's optional and *not recommended* why do we need it? @jywarren

[2018-04-29 22:06] jywarren commented on #2665
@NiklasJordan - can you send us the full text in a Gist using http://gist.github.com so we can try to post it? It's strange but there seem to be characters in the text causing the app to choke... not your fault but we'd like to try to reproduce it to fix it! Thanks for your help with this!

[2018-04-30 04:45] patcon commented on #2590
haha gotcha. And sincere thanks for the kind words!

To your point: I didn't wish to comment though -- I hoped to add columns and rows, and I was dis-empowered from doing so, on account of the very rare chance that a troll might show up <3

1. :mag: GSheets has full version history
1. :mag: Deleting a doc sends it to the doc owner's trash can (yours :slightly_smiling_face: )
1. :heart: I feel that

[2018-04-30 05:16] patcon commented on #2590
:mag: [Matterbridge](https://github.com/42wim/matterbridge) is open source.
:mag: Matterbridge can be hosted on Heroku via [this setup](https://github.com/edgi-govdata-archiving/matterbridge-heroku).
:mag: I've created a [simple config viewer ](https://matterbridge-heroku-viewer.herokuapp.com/#hacklab) for making the matterbridge config more legible.

[2018-04-30 16:48] jywarren commented on #2590
Just chiming in @icarito's note from [this thread](https://github.com/publiclab/plotsbot/issues/108#issuecomment-385262734):

I tend to agree. Catching up here too:

love this, and for all platforms. Can we make a checklist? I actually don't know how to do it for OFTC but am happy to assist.

I think we've had trouble with Slack previously bc there was no invite-less way to do this, but if there i

[2018-04-30 16:48] jywarren commented on #2590
So I'd say maybe Matrix for many people and the Lounge for the simplest, lowest barriers. If folks agree with this, add 👍 and we can add that to http://publiclab.org/chat

[2018-04-30 16:50] jywarren commented on #2590
Oh, and we'd looked at Matterbridge when we set up the bridges-frankenstein originally, and we are interested -- it just seemed a little more fragile at the time (and did require hosting, which Matrix does not). Is it possible to set up a test version so we can try out how smooth the integrations are and compare to Matrix? Then we'd have more confidence in planning a potential switch. Thanks!!! 👍

[2018-05-01 00:29] poppashingles commented on #2677
Hiya guys, I'm finding in my forked and cloned version, I'm needing to delete the package-lock.json to get the npm install to run alright, then it auto-generates it fresh. Is that ok or is it a problem?

[2018-05-01 00:40] jywarren commented on #2677
That should be fine -- we can see if it shows up in the pull request and
deal with it later, but I don't think it'll be a problem. Thanks!

On Mon, Apr 30, 2018 at 8:29 PM, Rob Williams <notifications@github.com>
wrote:

[2018-05-01 04:08] icarito commented on #2590
On 30/04/18 11:48, Jeffrey Warren wrote:

I just added a note about this to the IRC channel Topic.

We might consider trimming it down a bit while we are it:
/
//Welcome to the http://publiclab.org chatroom! This channel is LOGGED.
Please help one another out with any questions, sign up at
http://publiclab.org/signup, and join discussions at
http://publiclab.org/lists. Code of Conduct at
http://pu

[2018-05-01 12:06] pdurbin commented on #2590
@jywarren thanks for your attention on this issue. Somehow I'm confused about what "it" is above. Also, can you and others please edit the list of requirements that @ryzokuken and I created in a spreadsheet at https://docs.google.com/spreadsheets/d/1V-L55OusMKgZNkbc_yarASQuWa9JoJzxkjqjCxfLOkw/edit?usp=sharing ? I haven't actually added any requirements myself because I'm so new to the Public Lab c

[2018-05-01 14:38] NiklasJordan commented on #2665
Hej @jywarren, sorry for the late answer. Sure, I've created the gist here: https://gist.github.com/NiklasJordan/da02086827b6f01c0429bacf8cc5ea96

[2018-05-01 15:09] jywarren commented on #2665
awesome, thank you!!!

On Tue, May 1, 2018 at 10:38 AM, Niklas Jordan <notifications@github.com>
wrote:

[2018-05-01 15:14] jywarren commented on #2590
Oops, scattered! Forgot a subject in that sentence -- "it" is Matrix, as the "nexus" of all the channels.

I am probably the most agnostic about chat -- i use Matrix because it's at the center of our little web of chats and so has the fewest platform translation/integration hiccups. I'll add a few goals if I can think of any!

Thanks! Re: LOGGED -- maybe we should link to publiclab.org/chat and ca

[2018-05-01 15:36] jywarren commented on #2672
sometime later this week, perhaps! Thursday? Can you check
inyourowntime.info to propose a time? Thank you!

On Sun, Apr 29, 2018 at 1:16 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-05-01 15:49] marzann commented on #2493
@jywarren Is this issue available to work on? You referenced it in our correspondence on another project. Wanted to confirm seeing there was recent conversation. Thank you.

[2018-05-01 17:00] jywarren commented on #2493
I believe so -- it's been a while and if others come back we can find a new
project for them too! Go ahead and thanks!

On Tue, May 1, 2018, 11:50 AM Marzanna <notifications@github.com> wrote:

[2018-05-01 21:04] jywarren commented on #956
I've just migrated all nodes of type "report" over to "notes" -- here were the IDs: `[38, 41, 42, 45, 52, 53, 103, 143, 146, 166, 188, 214, 306, 417]`

We can now deprecate all `report` code except in the legacy controller!

[2018-05-02 03:47] pdurbin commented on #2590
"Considering the Use of Walled Gardens for FLOSS Project Communication" by @megansquire is a good read you might want to reference if you agree with her argument.

[2018-05-02 11:12] namangupta01 commented on #2665
I got it why this is happening. This is happening because of the using of emojis. Emojis take four byte to store data in mysql and is of **utf8mb4** encoding which is a utf8 that take 4 byte. Normally by default it uses 3 byte to store data and use normal utf8 encoding. We can use utf8mb4 for this particular table to support emojis.

[2018-05-02 14:14] #2678 closed

[2018-05-02 14:15] #2657 closed

[2018-05-02 15:15] jywarren commented on #2665
Great investigative work! @icarito - is there any downside to changing the
encoding of the revisions table to accommodate emojis?

In the meantime, we could replace the emojis with `:smiley:` format
strings, which are auto-replaced (due to a recent new feature) with the
emoji.

OR we could try to auto-filter emojis and convert them to their `:smiley:`
format strings, and not change the table? Pros

[2018-05-02 15:42] Gauravano commented on #2672
@jywarren Are you free at http://www.inyourowntime.info/2018-05-03_22.00_Asia.Kolkata ?

[2018-05-02 21:45] jywarren commented on #2672
Yes, i am! I'll see you then!

On Wed, May 2, 2018 at 11:42 AM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-05-03 00:37] mridulnagpal commented on #1416
@jywarren Shall we get on with this now? What's our priority for now?

[2018-05-03 14:31] ebarry opened #2692 "Contemplate how interesting Xose's website front page is!!"
### Please describe the idea

I wanted to share https://imvec.tech/ by https://publiclab.org/profile/imvec because i find it visually interesting! Enjoy :)

I couldn't find Xosé's github account, if anyone knows if it exists, please add, thank you!

[2018-05-03 16:54] jywarren commented on #1119
@ViditChitkara perhaps we can try to summarize and consolidate as much as we can from this into your new planning issue? Or consolidate more here? Either way!

[2018-05-03 16:59] ViditChitkara commented on #1119
I am comfortable with both!! I guess we can discuss things to be done on the planning issue.

[2018-05-03 17:15] jywarren commented on #2672
Merging into #2104!

[2018-05-03 17:15] #2672 closed

[2018-05-03 17:41] jywarren commented on #2091
I think this can be merged into #2104 now! Please chime in if there's anything missing over there though!

[2018-05-03 17:41] #2091 closed

[2018-05-03 17:41] jywarren commented on #2668
Merging back into #2104 -- thank you!!!!

[2018-05-03 17:41] #2668 closed

[2018-05-03 17:43] jywarren opened #2693 "Design and UI discussion of subscription/follow features, nomenclature"
Copying in from #2104 --

## Design discussion

### Patterns

* Let's standardize our use of the term "subscribe" and "follow".
  * We also use subscribe when we suggest that people "subscribe to the Community Science Forum".  However, this page is terribly out of date: https://publiclab.org/subscribe
  * Just for reference, we use "sign up" in relation to the newsletter and the website itself.

[2018-05-03 19:02] ebarry commented on #2120
Hi! Lost track of this for a minute, coming back to it now as it's one of the few very tangible ways to measure "exchanges"

It would also be a cool way to incentivize Answering!

IS there any more information i could provide on this to make it doable?
I would like to be able to say a sentence like "During 2017, X questions were posted, and Y% of them were answered within Z days"

[2018-05-03 20:03] Gauravano commented on #2667
hey @jywarren , I just published an article https://medium.com/@gauravano/https-medium-com-gauravano-gsoc-18-with-public-lab-46588104ad0d . Your comments and suggestions are welcome and should I post it on PL website ?

[2018-05-04 18:55] Gauravano commented on #2594
Opened in #2667

[2018-05-04 18:55] #2594 closed

[2018-05-04 18:56] Gauravano commented on #2677
PR at https://github.com/publiclab/PublicLab.Editor/pull/138

[2018-05-04 20:12] Gauravano commented on #2428
### Update in the issue:

First, add class to the div at line https://github.com/publiclab/plots2/blob/master/app/views/users/profile.html.erb#L9 like this

[code]

and then append following CSS
[code]
here https://github.com/publiclab/plots2/blob/master/app/views/users/profile.html.erb#L283-L287

[2018-05-05 18:04] ViditChitkara opened #2694 "UI, design and testing for publiclab digest feature"
Part of #2104

## Design
A possible design for the digest could be:-
![digest-1](https://user-images.githubusercontent.com/22616017/39665881-8899da7e-50b8-11e8-9bc8-f3f53de76f3b.png)

## Testing
* As the digest feature comes online, we could test it with the help of UserTag `digest:weekly` and `digest:daily` .
* In the initial stages, these tags will be assigned to a few reviewers and maintainers.

[2018-05-05 18:07] ViditChitkara commented on #2694
@jywarren if we could add more details to it. (Please edit this, if there is anything missing)
Once we finalize the design I could create a pr for this.

[2018-05-07 01:28] chanjess commented on #2554
Hello there! First timer here.
Has this issue been resolved?

[2018-05-07 01:29] chanjess commented on #2544
@pnowacki90
fellow newbie here, has this been resolved?

[2018-05-07 01:31] chanjess commented on #2428
@Gauravano Hi Gauravano, open source newbie here. There aren't many first timer requests. Are there any upcoming ones I can help out on? Thanks!

[2018-05-07 13:17] first-timers[bot] opened #2695 "Update talk page with link to chatroom"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-05-07 14:02] jywarren opened #2696 "It is impossible to connect to our pad: https://ift.tt/2rlW4gK PLEASE HELP (autoposted via PublicLab.org)"
(This issue was auto-generated from https://ift.tt/2B8W2Ma -- please help to flesh it out and explore the issue, and respond to the original author!) by https://ift.tt/2wmBS48<br>
<br>
Read more and ask the original author for details at: https://ift.tt/2HVy679<br>
<br>
****<br>
<br>
<img src="https://publiclab.org/system/images/photos/000/023/444/original/Screenshot_20180204-101546_2.png" alt="Pu

[2018-05-07 15:17] chitra591 commented on #2695
Hi! Can I take this work?

[2018-05-07 15:47] jywarren commented on #2695
Hi, I think @chanjess may have wanted to claim this -- but I can make a new one for you too!

[2018-05-07 15:50] first-timers[bot] opened #2697 "Add configurable header text to publiclab.org/questions"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-05-07 15:51] jywarren commented on #2695
OK - I made one for you here!

https://github.com/publiclab/plots2/issues/2697

[2018-05-07 15:51] jywarren commented on #2697
@chitra591 wanted this one!

[2018-05-07 15:55] chitra591 commented on #2697
Thanks @jywarren

[2018-05-07 16:00] jywarren commented on #2697
No problem! Just a heads up that this seems to have broken a test -- we can
help you resolve this, it's just looking for the original static text and
not finding it, but if you want to try to just remove the test line that
looks for that, it should be all good!

On Mon, May 7, 2018 at 11:55 AM, chitra591 <notifications@github.com> wrote:

[2018-05-07 16:34] ebarry commented on #2653
Hi Everyone, @publiclab/soc, and @publiclab/reviewers

Happy Community Bonding Period!

Over at https://publiclab.org/notes/liz/05-07-2018/all-summer-of-code-convening-live-call, i just posted details for an "all-hands" video call tomorrow on https://meet.jit.si/publiclab.

The times will be:
8:30am New Orleans and Peru
9:30am NYC
3:30pm Israel
7:00pm Delhi
9:30pm mainland China

Did i get everyon

[2018-05-07 16:38] ryzokuken commented on #2653
Awesome! Let's do this. No zoom this time, BTW? I'll look around jitsi a bit.

[2018-05-07 16:55] stefannibrasil commented on #2653
Hi! Rails Girls Summer of Code is also invited? :)

The time booked is 6:30 am PDT - Vancouver, Canada timezone :/

[2018-05-07 16:59] ebarry commented on #2653
ohhhhhhhhh @stefanni - I didn't know where you were based! Yikes! How about
if we move everything ahead 2 hours----is 9pm too late in Delhi?

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Mon, May 7, 2018 at 12:55 PM, Stefanni <notifications@github.com> wrote:

[2018-05-07 17:06] chanjess commented on #2695
@jywarren thanks! I'll take this one on!

[2018-05-07 17:15] ryzokuken commented on #2653
Not really, 👍 from my side.

[2018-05-07 17:25] ryzokuken commented on #2653
@siaw23 I think https://www.timeanddate.com/worldclock/fixedtime.html?msg=Publiclab+SoC+commencement+live+call&iso=20180508T1530&p1=1440 ought to work for everyone.

[2018-05-07 17:29] MayankKashyap commented on #2653
@ebarry due to family problems I am going to home tomorrow and I am fully  unavailable for 2 days. But during travel I may be able(not surely) to join you people for some time.
Sorry for that.

[2018-05-07 17:50] abTest-123 commented on #2653
Hi all,

Sorry but I might not be able to join this call, the original time for me
is a maybe, I'm rather sure that I will not be able to join the later time
slot.
Amir

On Mon, May 7, 2018 at 8:29 PM, Mayank Kashyap <notifications@github.com>
wrote:

--
Amir Bernat
http://physweb.bgu.ac.il/~bernat/

[2018-05-07 18:00] ebarry commented on #2653
Great thanks @ryzokuken ! How about other folks who would end up with a mid-late evening meeting time?

[2018-05-07 18:04] tech4GT commented on #2653
@ebarry I am fine with 9pm 😄

[2018-05-07 18:07] sagarpreet-chadha commented on #2653
9 pm sounds great  :smile_cat: !

[2018-05-07 18:12] ebarry commented on #2653
Hi @siaw23 ! I believe Poland time is the same as Israel time, i updated the timezone listings in the Event invitation to have these dual listings, and I believe the local time where you are will be 3:30pm OR if we move back 2 hours as we are discussing will be 5:30pm.

[2018-05-07 18:41] stefannibrasil commented on #2653
Yes, thanks, @ebarry for the reschedule! It works for us :) See you tomorrow then!

[2018-05-07 19:03] jywarren commented on #2697
Hmm, that's not what I'd expected -- can you try opening a PR and we'll see how it does on the automated test runners (Travis) we have set up? It'll build in a standard environment so it may be easier to track.

Thanks!

[2018-05-07 19:12] Souravirus commented on #2653
@ebarry 9:00 pm would be great for me. But is it confirmed that video call will take place at 9:00 pm coz I don't see any update in time in the website.

[2018-05-07 21:47] ebarry commented on #2653
Hi and thanks all -- that was a quick rescheduling :). I've updated the note here:
Tomorrow, May 8, 2018 at 8:30am Vancouver, 10:30am New Orleans and Peru, 11:30am NYC and Providence, 5:30pm Israel and Poland, 9:00pm Delhi, 11:30pm mainland China, we will be convening on https://meet.jit.si/publiclab

For some other timezones, see http://everytimezone.com/#2018-5-8,1650,b8jj

[2018-05-08 01:37] jywarren opened #2699 "Displaying only 20 revisions of a page at a time in Revisions tab"
### Please describe the problem (or idea)

Some long-running wiki pages have hundreds of revisions, which breaks the browser when you load their revisions tab. Example: https://publiclab.org/openhour has 663 revisions.

The code for this is here:

https://github.com/publiclab/plots2/blob/4b02db50661b9ec519df7712c8f4a915952259e7/app/controllers/wiki_controller.rb#L265-L275

We could use `.page()` t

[2018-05-08 01:53] chanjess commented on #2695
@jywarren Hello there, here's my first ever pull request to an open source. Please review and let me know!

[2018-05-08 13:01] bronwen9 opened #2703 "Revision tab on spam moderation page link is broken"
We've got a dead end on the "revisions" history tab.

![revisiontab](https://user-images.githubusercontent.com/8331717/39758595-4778004c-529e-11e8-80a1-b02f2f47edb2.gif)

[2018-05-08 13:44] jywarren commented on #2703
Thanks Bronwen! I believe the relevant code should be on these lines:

https://github.com/publiclab/plots2/blob/112275b1a8fd9d91566786e4ba01f86be8ce1bda/app/controllers/admin_controller.rb#L91-L101

On Tue, May 8, 2018 at 9:01 AM, Bronwen Densmore <notifications@github.com>
wrote:

[2018-05-08 15:18] ebarry commented on #2653
Hi folks! We will begin in 13 minutes :)

I might have gotten the timezones wrong for Israel - sorry @abTest-123 !!! This means i also might have gotten the times wrong for Poland - hope i didn't mess you up @siaw23 !

See everyone soon :)

[2018-05-08 16:53] jywarren commented on #2694
Hi, is this in the email or on the digests page at https://publiclab.org/subscriptions/digest ?

I think probably the initial design we need to come up with is for email, and I think we ought to start with the simplest -- just a bulleted list. Then we could think about how to organize things by, say, tag?

What if we also thought about a method for organizing a set of posts by tag, generically --

[2018-05-08 17:13] ViditChitkara commented on #2694
Hi, this is the email design. I have some code ready for this. Sure, we could start with something basic, figure out the functionality at the backend and then finally reach at this design.
Talking about the tag thing, may be we could add some sort of material chips or tooltips or something to show the tagnames for each of the nodes?
What do you say?

[2018-05-08 17:40] ebarry commented on #1487
Yes, these do look great on the dashboard -- thanks all! It would be great to break the rest of these issues out as described above ^^

[2018-05-08 17:55] ebarry commented on #2408
Oh wow, thanks for documenting this, i actually hadn't noticed this was happening. Anyone have any ideas about this?

[2018-05-08 18:03] Gauravano commented on #2408
Yes, this issue came to attention when new users are submitting their first research note(GSoC proposal). I also have to fix this for draft feature, so I am working on it now.

[2018-05-08 19:41] jywarren commented on #2653
Hi, all - just checking in with the 4 points I made during the call (some will be repetitive, sorry!):

1. Create planning issues -- with a checklist! -- from your proposals -- [read more here](https://publiclab.org/notes/warren/01-18-2018/software-outreach-modularity-is-great-for-collaboration) to help coordinate your work with others
2. Try creating a `first-timers-only` issue from one of your c

[2018-05-08 19:42] jywarren commented on #2696
This was resolved, thanks!

[2018-05-08 19:42] #2696 closed

[2018-05-08 19:43] #2643 closed

[2018-05-08 19:45] jywarren commented on #2662
Ah - so moderators can mark one revision as spam, i believe - shall i make you a moderator to test? (ok, done).

Should we make this more clear?

[2018-05-08 19:58] Gauravano commented on #2662
@jywarren no one can mark wiki with one revision as spam but moderators can delete the wiki having one revision. I guess that would solve this issue. What do you think?

[2018-05-08 21:50] jywarren commented on #2662
Ah, i see. sorry, that seems like a long time ago that we implemented that 😄

Well, I'm just wary about wiki deletion privileges, it's not undoable. What about putting a "flag" button as we now have on the dashboard, for reporting it to `moderators@publiclab.org`?

[2018-05-08 21:59] jywarren commented on #2694
I think a basic bullet list of updates sounds great -- maybe loosely
modeled on the GitHub pulse or activity dashboard?

Although sorting by tag sounds interesting, perhaps showing some images
from the posts is a good initial step that'd make a difference in getting a
nice-looking digest. So after the basic functionality we could try showing
an image from the most-liked post that week, or somethin

[2018-05-08 22:04] jywarren commented on #1487
#2657 completed in https://github.com/publiclab/plots2/pull/2674 -- great! Let's repeat for the above.

@publiclab/soc would anyone like to take a look at #2657 as an example and build an almost identical one for flagging Answers or flagging Comments upon answers, as outlined above?

If you haven't created a `first-timers-only` issue yet, or would like a chance to create another, this is a good ex

[2018-05-08 23:19] #2695 closed

[2018-05-09 08:25] mridulnagpal commented on #1416
@jywarren Let's finish off with this milestone for starters, or you have something else in mind?

[2018-05-09 11:32] jywarren commented on #1416
Cleaned up and updated some tasks!!!

[2018-05-09 14:52] mridulnagpal commented on #1416
So basically, we enter place: buffalo-ny, it then converts to  "Buffalo, New York, ZIPCODE, USA" and then does a search. Right?

[2018-05-09 16:27] chanjess commented on #2692
Hi @ebarry
I'm new here. I wanted to understand what this is. Is Xose a regular contributor who created all this?

[2018-05-09 16:45] chanjess commented on #2693
This is very cool and interesting to read. What are the updates on this? I think that the consolidation of "follow" and "subscribe" makes sense and is intuitive.

[2018-05-09 18:11] jywarren commented on #1416
so this would be in the tag input on a PublicLab.org page --

so we'd detect a `place:____` tag here:
https://github.com/publiclab/plots2/blob/0647cb0a7549821f7442213b9571dddfaebedcbb/app/controllers/tag_controller.rb#L278

Then we'd replace '-' with ' '

Then we'd use the already-installed Geocoder gem to try to find where it
is: https://github.com/alexreisner/geocoder

Then we'd add two addition

[2018-05-10 04:59] xaydungtientrieu opened #2708 "ht"
### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resol

[2018-05-10 16:35] chanjess commented on #2708
?

[2018-05-10 17:00] #2697 closed

[2018-05-10 17:19] first-timers[bot] opened #2709 "Create a config for WelcomeBot to be friendly to newcomers!"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-05-10 18:29] Wolfy64 commented on #2709
Hi, I would like to claim my first issue  🙂

[2018-05-10 18:34] stefannibrasil commented on #1487
Hello, @jywarren I can help, but I am finishing some things this week, so I can commit to it only next week.

If someone else can work on this right away, go ahead, otherwise, I'll mark it to start next week. Is that okay? :)

[2018-05-10 18:36] jywarren commented on #2665
@icarito any thoughts here -- thank you!

[2018-05-10 18:39] jywarren commented on #2667
Awesome - great to see this at PublicLab.org now too! https://publiclab.org/profile/gauravano

@publiclab/soc -- if anyone else is interested in writing updates like these, or anything about your work, it's very welcome on PublicLab.org -- thank you!!!!

[2018-05-10 18:42] jywarren commented on #1487
of course! Thank you!

On Thu, May 10, 2018 at 2:34 PM, Stefanni <notifications@github.com> wrote:

[2018-05-10 18:43] jywarren commented on #2709
Great, thank you!!!

On Thu, May 10, 2018 at 2:29 PM, David De Wulf <notifications@github.com>
wrote:

[2018-05-10 18:47] icarito commented on #2665
Sorry I missed this question! Can this be done in a regular migration? We should definitively test this in staging or unstable instances.

[2018-05-10 18:49] jywarren commented on #2665
I think it could be. But would you prefer to bypass it by filtering and
replacing with the :____: style emoji? Pros/cons from a storage or
maintenance perspective?

On Thu, May 10, 2018 at 2:47 PM, Sebastian Silva <notifications@github.com>
wrote:

[2018-05-10 19:00] icarito commented on #2665
I think it makes the most sense to switch to UTF-8, Unicode (utf8_unicode_ci). This should accommodate most languages if not all.

**But** - migrating could break characters if they are not correctly encoded - could lead to mangling some characters at migration time. After migration in `unstable` we should look for pages with international characters, names etc.

Storage and maintenance should be

[2018-05-10 19:04] jywarren commented on #2653
Also @MargaretAN9 I'm going to respond to your excellent questions on your proposal page -- at least for now! Thanks!

[2018-05-10 19:10] namangupta01 commented on #2665
Yes we can do this through migration. If you want i can give it a shot.

[2018-05-10 19:43] #2699 closed

[2018-05-10 19:44] jywarren commented on #1594
Solved in #2707 I believe! We'll double check and i also think the "navigating through revisions" may be slightly broken by this fix but we'll see.

[2018-05-10 19:44] #1594 closed

[2018-05-10 20:49] chanjess commented on #2703
@jywarren Hi, i will try to test this out locally! Are you thinking that its an issue with a bad URL and not necessarily code?

[2018-05-10 21:25] jywarren commented on #2703
I suspect as much, but it's a guess!

On Thu, May 10, 2018, 4:49 PM chanjess <notifications@github.com> wrote:

[2018-05-10 21:43] jywarren commented on #2665
@namangupta01  - yes, please - can you try opening a PR for this and we can force push it to `unstable` and  look through a lot of pages to see what happens?

@NiklasJordan i'm sorry this is taking so long! With @Gauravano and @namangupta01 and @icarito's sleuthing, we can now get a non-emoji version up:

https://publiclab.org/first-contribution

If you'd like to make an edit to that page to get c

[2018-05-10 21:51] jywarren commented on #2627
With @Gauravano and @namangupta01 and @icarito's sleuthing, we can now get a non-emoji version up:

https://publiclab.org/first-contribution

Done! Now, we can redirect there. However one last clarification -- in this flow, people would be directed to this page INSTEAD of to their just-posted note. This should be fine, but I wonder if we want to make it possible ALSO to let people see and edit the

[2018-05-10 21:53] jywarren commented on #2627
And a note to whoever wants to solve this -- here's the line where we'd redirect instead of showing the current notice:

https://github.com/publiclab/plots2/blob/bfff566d793c5c61bd017470107c644a243a0580/app/controllers/notes_controller.rb#L119

Good first-timer issue, i think!

[2018-05-10 22:37] jucavi opened #2712 "Anyone get this errors?"
When I try: bundle exec rake test

### Please show us where to look

ERROR["test_search_results_page_at_/search/foo", Minitest::Result, 10.483282999999574]
 test_search_results_page_at_/search/foo#Minitest::Result (10.48s)
ActionView::Template::Error:         ActionView::Template::Error: undefined method `title' for nil:NilClass
            app/views/notes/_notes.html.erb:23:in `block in _app_view

[2018-05-11 02:12] jywarren commented on #2712
Hmm, are you using SQLite? Can you tell us a bit more about your setup?
Thanks!!

On Thu, May 10, 2018, 6:37 PM Jucavi <notifications@github.com> wrote:

[2018-05-11 02:12] nagano564 commented on #2369
Sorry I have been mia. When trying to complete these two step

Make a copy of db/schema.rb.example and place it at db/schema.rb.
Make a copy of config/database.yml.sqlite.example and place it at config/database.yml

it states that these files already exists. They don't exist without the `.example` after them. Should I just delete the `.example` portion?

[2018-05-11 02:37] nagano564 commented on #2369
got it up and running local:3000 but i think the regex was an issue again. I changed it to [-[:alnum:].] again and that fixed the warning

[2018-05-11 04:41] Souravirus opened #2714 "PLANNING ISSUE: Upgrade to Rails 5.0"
This is only an initial planning writeup.

**Things to be done before the upgrade**
- [x] Making a new branch for the upgrade.
- [x] Working on tests

**Things to be done during the transitions**
- [x] Changing the Gemfile
- [x] Working for the Gems which are not available
- [x] Adding tests where there is no availability of a good test coverage
- [x] using http://railsdiff.org/4.2.10/5.0.7
- [x]

[2018-05-11 08:42] siaw23 commented on #2714
Looks good to me except there's no mention of system tests. Might be out of the scope of this project but it'll mean we have to tread carefully. Also it'll be nice to get a test coverage for this otherwise it'll look like we don't know what we're doing. This could break or make things, tests coverage will help us gauge our confidence for refactoring. I'd like to remind you to do incremental upgrad

[2018-05-11 10:22] E-L-T opened #2716 "Search API error after installation"
### Please describe the problem (or idea)

After installation we ran the tests, and we got this error :
"701 tests, 2061 assertions, 0 failures, 9 errors, 0 skips"

no errors

### Browser, version, and operating system
Firefox 59.0.2 (64 bits), mac os 10.13.3

[2018-05-11 11:42] Souravirus commented on #2714
Yeah I will surely go for an incremental upgrade. I think I should give some days for test coverage first. I should see if there are places which are out of tests and add tests to them. What say?

[2018-05-11 12:09] jucavi commented on #2712
Yes I'm using SQLite.
Thanks.

[2018-05-11 13:02] ebarry commented on #2708
Hi all, this username is the name of a business, and the bio on this username is essentially SEO. I would love to meet the person behind this account, but for now it is off-topic.

[2018-05-11 13:02] #2708 closed

[2018-05-11 13:03] ebarry commented on #2692
Hi @chanjess , yes that's it! Xose is a great person in Spain, part of many initiatives that are linked from his public lab profile above. Did you have any thoughts or opinions about the video-rich website design he has?

[2018-05-11 13:19] ebarry opened #2718 "Tag pages have non-standard headers on each tab"
### Please describe the problem (or idea)

It's really great to have a direct link to all the Contributors to a tag, but the contributor tab on Tag Pages is missing the standard header that is present on other tabs of the tag page. See below GIF:

Notice that all tabs on the Tag Page have the same header EXCEPT for the Contributors tab. Here's what's different:
- sidebar is present on the Contribu

[2018-05-11 13:25] ebarry opened #2719 "Remove extra link at top of /Questions"
### Please describe the problem (or idea)

There are redundant links at the top of /question:

<img width="922" alt="screen shot 2018-05-11 at 9 24 31 am" src="https://user-images.githubusercontent.com/161439/39926421-2c60cbb6-54fd-11e8-9d0a-a89cc73bbfa2.png">

I would expect to see the line "New to Public Lab? Learn how this works »" only once.

Please remove one line.

### Please show us where t

[2018-05-11 13:27] ebarry opened #2720 "Add "Search by tag" text entry to the top of https://publiclab.org/contributors"
### Please describe the idea

https://publiclab.org/contributors makes sense as the home for contributors on publiclab.org. But right now, it only has 5 hard coded topic areas.

I would like to see a "Search by tag" text box such as what is already at the top of https://publiclab.org/tags (or the tag search on https://publiclab.org/questions that actually seems to have an autosuggest that preforms

[2018-05-11 17:43] jywarren commented on #2719
Hi! I think this is already solved but not deployed. Good catch! Should be published this afternoon. Thanks!

[2018-05-11 17:43] #2719 closed

[2018-05-11 17:51] ebarry commented on #2718
Oh! i believe @Gauravano fixed this back in January! Scroll down to the bottom of https://github.com/publiclab/plots2/commits/master/app/views/tag/_contributors.html.erb -- can we bring this back?

[2018-05-11 17:58] ebarry commented on #2718
OMG @jywarren just found out what was up with this:

There are two pages:
* https://publiclab.org/contributors/tag/balloon-mapping -- already working perfectly!!!!
* https://publiclab.org/contributors/balloon-mapping -- the old style that every tag page links to in the tab, that i filed this issue about!

@jywarren please advise on this :)

[2018-05-11 18:01] jywarren commented on #2718
Let's merge the best parts of each, and have /contributors/tag/_____
redirect to /contributors/_______ in config/routes.rb --

Things to preserve:

* tabs
* nice 3-panel "stats"
* nice new graph
* no sidebar
* preview of wiki page and 'Read more' at top

Anything else?

On Fri, May 11, 2018 at 1:58 PM, Liz Barry <notifications@github.com> wrote:

[2018-05-11 18:03] jywarren commented on #2714
This is looking great. Maybe make 2 categories for things that can be done
in advance of the switch vs. things which can only happen after? (and/or
things that can happen in transition if any exist?)

Looking great!

On Fri, May 11, 2018 at 7:42 AM, Sourav Sahoo <notifications@github.com>
wrote:

[2018-05-11 18:11] jywarren opened #2722 "Note people as "first-time poster" to encourage ppl to be friendly to them?"
GitHub now shows this little notice for first-time PR openers, see: https://github.com/publiclab/plots2/pull/2713

![screen shot 2018-05-11 at 2 06 19 pm](https://user-images.githubusercontent.com/24359/39939536-97db55e2-5524-11e8-8dbf-5c86b7e2b08c.png)

@publiclab/community-reps @publiclab/designers do you think we ought to show something similar in a not-too-loud place on posts by newcomers on P

[2018-05-11 18:43] Souravirus commented on #2714
Hey @jywarren modified the issue as you wanted. Please check it once and comment any other things you want to add in the issue. Thanks!!

[2018-05-11 19:44] E-L-T commented on #2716
After running the tests, we got 9 errors. Here is the first one. The 8 others concern the same file, app/models/node.rb
![capture d ecran 2018-05-11 a 21 40 46](https://user-images.githubusercontent.com/29131404/39943806-7dae8140-5564-11e8-82ac-1d28aa0ac5f9.png)

[2018-05-11 21:00] jywarren commented on #2714
Great! And @Souravirus you should be a reviewer! Have you made a `first-timers-only` issue before (forgive me if I forgot...). I'll invite you now, and I'm sure you've seen this page but please give it a look-over again as we encourage reviewers to be welcoming and helpful to newcomers!

http://publiclab.org/software-outreach

I'll invite you to be a reviewer :-) and happy to review a FTO issue if

[2018-05-12 01:00] chanjess commented on #2703
@jywarren Oh i see, ok I'll check it out.
i'm guessing its on line 99?

`redirect_to '/dashboard`

[2018-05-12 02:48] phamthu321 opened #2723 "Phong kam da khoa au a"
### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resol

[2018-05-12 13:26] Gauravano commented on #2723
I guess its spam as the title of the issue is 'Asian Clinic'

[2018-05-12 13:26] #2723 closed

[2018-05-12 13:37] Souravirus commented on #2714
thanks @jywarren for making me a reviewer. No, I have still not made a `first-timers-only `, but would love to make one. when I find any  first-timers issue in my project.

[2018-05-12 23:05] icarito opened #2727 "Fails to authenticate thru openid"
### Please describe the problem (or idea)

Trying to login with spectralworkbench.org or mapknitter.org

Obtained error instead of authorization.

Logs:

[code]

****

Delaney originally wrote in to web@publiclab.org:

Sebastian confirmed:

[2018-05-12 23:08] jywarren commented on #2727
Let's look at recent changes to users_controller

On Sat, May 12, 2018, 7:06 PM Sebastian Silva <notifications@github.com>
wrote:

[2018-05-12 23:13] jywarren commented on #2727
Actually looks like this is returning nil --

https://github.com/publiclab/plots2/blob/1291ce1591422ce0d94c9a1b8cf4a0d1258370c3/app/controllers/openid_controller.rb#L173

@publiclab/reviewers any ideas why this might happen? Maybe recent Rails upgrades changed session behavior?

[2018-05-12 23:15] jywarren commented on #2727
Maybe a lot w sessions has changed?  https://stackoverflow.com/questions/17480487/rails-4-session-expiry

@Souravirus know anything about this?

[2018-05-13 12:10] namangupta01 commented on #2665
@While trying to reproducing this on my local machine i am getting no error but i am also not getting any text after the emojis in the page i.e all the content after the emojis vanishes.
---Detecting why this is occuring.

[2018-05-13 13:44] Souravirus commented on #2727
No, I don't know much about sessions and influence of the rails 4.2 update to sessions. But, still I am seeing about this, as of why this is happening.

[2018-05-13 15:13] mridulnagpal commented on #1416
The option to add location co-ordinates sounds better, as all the location won't be converted to lat lon as well, thus we could give a pop up as you said.

[2018-05-13 21:31] jywarren commented on #2727
Do we have `activerecord-session_store` in our gemfile as in the stack overflow link?

[2018-05-13 21:32] jywarren commented on #2727
We do! Hmm

[2018-05-13 21:33] jywarren commented on #2727
It's set to active record store.  Is that still supported? Maybe we need to set up cookie storage?

 https://github.com/publiclab/plots2/blob/master/config/initializers/session_store.rb

[2018-05-13 21:38] jywarren commented on #2727
I guess rails 4.2 is not supported?

https://github.com/rails/activerecord-session_store/issues/118#issuecomment-346664764

So do we switch to cookie storage?

[2018-05-14 09:51] mridulnagpal commented on #1416
@jywarren Also if we use javascript we can sync the co-ordinates with the leaflet-blurred-location library as well, using the same google API we used in leaflet-blurred-location

[2018-05-14 09:58] Souravirus commented on #2727
Yeah we can switch to cookie storage. But before that we can try with dalli gem as is given the stack overflow link.

[2018-05-14 17:45] jywarren commented on #2727
Looking into this now: http://api.rubyonrails.org/classes/ActionDispatch/Session/CookieStore.html

[2018-05-14 18:42] jywarren commented on #2727
So, i was actually able to sign into both -- this is why this didn't show up -- i think line 173 is failing because for a first-time user, there is nothing stored in `session[:last_oidreq]`.

Our code is based exactly on this example:

https://github.com/openid/ruby-openid/blob/5dd11301f00432554404e3304a3f9e9cab7146e1/examples/rails_openid/app/controllers/server_controller.rb#L76

So I'm not sure

[2018-05-14 18:45] jywarren commented on #2727
is there no provision for if `last_oidreq` is missing? Hmm... any help appreciated!

[2018-05-14 20:51] jywarren commented on #2653
Hi, everyone!!! Just wanted to say to the GSoC folks -- welcome to your first day!!! How are things going? Where are people starting out?

[2018-05-14 20:51] jywarren commented on #2653
@publiclab/soc

[2018-05-15 06:27] Gauravano commented on #2653
hi @jywarren, everything fine here :smiley:. Working on completion of the draft feature.

[2018-05-15 08:14] SidharthBansal commented on #2653
Hi @jywarren, I am fine. Working on user_tag and user_session for fb login.

[2018-05-15 08:37] Souravirus commented on #2653
Hi @jywarren, I am working on upgradation of gems currently. Hope it completes in time. Thanks!!

[2018-05-15 10:49] martabeveridge commented on #2709
I wonder if @Wolfy64 ever created a pull request? I would like to pick this up please (first timer!)

[2018-05-15 14:07] Wolfy64 commented on #2709
You can take it though 👍

[2018-05-15 16:58] mridulnagpal commented on #1416
@jywarren Any updates?

[2018-05-15 19:50] jywarren commented on #2714
Great! I'm happy to help. It's often the case that you have to break down
your work to find some good ones, and it's really worth it to expand our
team!

On Sat, May 12, 2018, 9:38 AM Sourav Sahoo <notifications@github.com> wrote:

[2018-05-15 19:50] jywarren commented on #2616
Let's make a checklist! Many of these could be completed as part of
first-timers-only issues. Removing Solr from the readme is a great example.
Same with unused readmes! This will be a continuing process but thanks so
much for listing these out -- let's start to chip away at them!

On Sun, Apr 29, 2018, 9:18 PM Sebastian Silva <notifications@github.com>
wrote:

[2018-05-15 19:51] jywarren commented on #2616
And apologies for returning to this a bit late! @souravirus if you'd like
to use one of these as an opportunity to try making a first-timers-only
issue, I'd be happy to help review it. Thanks everyone!

On Tue, May 15, 2018, 1:10 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-05-16 03:44] 928maxbet opened #2728 "928MAXBET แทงบอลออนไลน์ จัดกิจกรรมแทงบอลฟรี โปรโมชั่น รออีกเพียบ"
928MAXBET เว็บรับแทงบอลออนไลน์ ที่รวมทุกอย่างไว้ในไอดีเดียว ให้สมาชิกได้ร่วมสนุกทั้ง แทงบอลออนไลน์ บอลสเต็ป แทงบอลชุด คาสิโน สล๊อตออนไลน์ ไก่ชน หวยหุ้น หวยลาว ล็อตเตอรี่ หวยออนไลน์ ระบบเป็นภาษาไทยใช้งานได้ง่ายมีระบบรักษาความปลอดภัยได้มาตรฐานและเชื่อถือได้ สามารถติดต่อได้ผ่านทางโทรศัพท์ แชทหน้าเว็บไซต์ หรือทางไลน์ มีพนันงานมืออาชีพที่คอยให้บริการลูกค้าทุกท่านตลอด 24 ชั่วโมง ไม่มีวันหยุด [https://ww

[2018-05-16 03:46] 928maxbet commented on #2728
ไฮไลท์ฟุตบอล ดูบอลย้อนหลัง บอลเต็มแมท บอลพากย์ไทย จัดเต็มความสนุกให้ท่านได้ชมภาพคมชัด ไฮไลท์บอล บอลย้อนหลัง ผลบอลเมื่อคืน ผลบอลล่าสุด โปรแกรมบอล ตารางบอล ราคาบอล ทุกคู่ทุกลีกดังทั่วโลก ไฮไลท์บอล ผลบอลสด  ตารางฟุตบอล ผลบอลเรียลไทม์ ดูบอลเมื่อคืน คลิปไฮไลท์ บอลทีมดัง Full Match[https://ball24pro.com/](url)

[2018-05-16 03:58] #2369 closed

[2018-05-16 04:19] #2728 closed

[2018-05-16 05:32] Souravirus commented on #2616
I would be happy to make my first first-timers-only issue. So, what should I start with? Is that making issue for removing Solr from the readme?

[2018-05-16 07:55] first-timers[bot] opened #2729 "Remove obsolete instructions in the README.md file"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-05-16 08:00] Souravirus commented on #2616
Hey @jywarren, I made the first-timers-only on removing of the obsolete code on #2729. Please check it out once.

[2018-05-16 12:55] KelliePetersen commented on #2729
I'm interested in this issue

[2018-05-16 15:30] #2729 closed

[2018-05-16 19:37] Gauravano commented on #2667
@jywarren @steviepubliclab which design would be good for displaying draft on the dashboard. Also, please state if user view needs to be different that mod/admin or not. Like, we have for the moderated post.

Design 1: Similar to Moderated node with some text
![draft](https://user-images.githubusercontent.com/20878070/40139564-e460f23a-596d-11e8-970f-56720a9f3018.png)

Design 2: Label with node
![

[2018-05-16 20:00] stefannibrasil opened #2731 "Add a button to report answers spams to moderators"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-05-16 20:07] stefannibrasil opened #2732 "Add a button to report answers spams to Comments upon Answers"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-05-16 20:09] stefannibrasil commented on #1487
Hi, @jywarren I created two new issues #2731 and #2732. What do you think? Also, I wans't able to add the labels to them, could you help me? :)

[2018-05-16 20:48] stefannibrasil commented on #2731
@publiclab/support hey, everyone, how can I add the first-timers-only labels? There is this other Issue #2732 to be labeled too. Thanks!

[2018-05-16 21:02] namangupta01 commented on #2731
Hi @stefannibrasil, only members can add the labels. But as you are the participant of RGSoC i think @jywarren will add you as a member. For now i have added the label. ;)

[2018-05-16 21:02] jywarren commented on #2667
ooh, i like the green label. but could we put it preceding the title on the
same line?

This would only be visible to people who are working on a draft, right? or
to admins? What would set the "publish date" of the post?

On Wed, May 16, 2018 at 12:37 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-05-16 21:19] Gauravano commented on #2667
How about this position ?
![position](https://user-images.githubusercontent.com/20878070/40144540-a20a01b0-597c-11e8-94ba-0da4251e5fd8.png)

Also, please comment on the opacity of the above draft listing.

yup, it would be visible to the author, moderator, and admin for now : )

[2018-05-16 21:37] steviepubliclab commented on #2667
Oh I also like the green for draft. I think the Publish button might need
to be a bit more prominent?

Best,
Stevie

On Wed, May 16, 2018 at 4:22 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-05-16 21:58] stefannibrasil commented on #2731
Ahh, I don't know why I couldn't add them. But thank you so much, @namangupta01 :)

[2018-05-16 22:56] Toiya commented on #2732
Hi! Can I try this one? :)

[2018-05-16 23:08] stefannibrasil commented on #2732
Yes, sure, @Toiya thanks for the help! If you have any questions, we are here to help :)

[2018-05-16 23:58] Toiya commented on #2732
@stefannibrasil
So I made the changes and apparantly there are some issues. However, they don't seem to be in the file I changed. Is this a mistake on my part or is it an okay fix anyway? Sorry for the newbie question, I'm completely new to this

[2018-05-17 00:29] jywarren commented on #2667
We can have a prominent "Publish Draft" button in the alert banner that
says "This is a draft" maybe?

On Wed, May 16, 2018 at 2:37 PM, Stevie <notifications@github.com> wrote:

[2018-05-17 01:07] stefannibrasil commented on #2732
Hi, @Toiya That's okay, we are all here to learn :)

Do you mean the codeclimate issues? Yeah, I don't think they are related to your changes at all.

I believe you don't have to worry about it for now, because we are still changing the files to reflect the style code that codeclimate checks, am I right, @publiclab/reviewers @jywarren ?

[2018-05-17 05:54] jywarren commented on #1416
Ok so if we do it in JavaScript then we won't need the place tag dash removal in ruby code - we can do that in JavaScript! We will need to detect place tags being added in JavaScript though. I believe the file is `app/assets/javascripts/tagging.js`

[2018-05-17 06:12] mridulnagpal commented on #1416
There is a method addTag with tagname and selector as input, we can directly check it there right, if its a place? Also when I do console log in the addTag method it doesn't display on the console when I publish the doc. How do I debug ?

[2018-05-17 06:56] jywarren commented on #1416
Yes, that makes sense -- add a filter inside `addTag()`. I believe `addTag()` uses the HTML form on the page, rather than making an independent AJAX call. We might try to switch to doing an AJAX call, but I guess it really seems to work OK right now, so why bother?

But consider -- `addTag()` relies on this code being present in HTML: https://github.com/publiclab/mapknitter/blob/master/app/views/t

[2018-05-17 07:28] mridulnagpal commented on #1416
#2734 Please have a look

[2018-05-17 08:00] Gauravano commented on #2667
okay, I'll post new design for "Publish draft" button in few hours. Thanks.

[2018-05-17 09:44] Gauravano commented on #2667
ok, I guess "green" is liked by all of us so just a final call in-between these two:

#### 1. With Opacity: 0.5 (Similar to Moderated)

![first_opt](https://user-images.githubusercontent.com/20878070/40168753-e879c8c8-59e1-11e8-81a3-bc7f48ba8357.png)

#### 2. With normal Opacity:
![sec_opt](https://user-images.githubusercontent.com/20878070/40168801-02f6df42-59e2-11e8-9bd7-ca34a878c1c2.png)

Which

[2018-05-17 11:05] aditya-m-shah commented on #2731
Do you mind if I take a stab? I am newbie here

[2018-05-17 14:28] jywarren commented on #2667
Hi Gaurav - I was wondering a couple things. First, does everyone get to
see drafts on the dashboard (meaning just title and photo)? Or did I read
that logic wrong. Maybe it should be just the author...

Second, we set a final url with the publish date in it. I wonder if we
should reset the url at the moment of final publication, and before then we
can use a temporary one, resetting this on public

[2018-05-17 20:53] jywarren commented on #2667
Great that looks right! Sometimes conditional logic is tough to follow.
Great work!

On Thu, May 17, 2018, 8:23 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-05-18 18:02] Gauravano commented on #2667
Hey @jywarren please merge #2735 and #2666 in `unstable` whenever you are free. Thanks. And, what do you think about https://github.com/publiclab/plots2/issues/2667#issuecomment-389809487 ?

[2018-05-19 03:25] tech4GT commented on #2653
Hi @jywarren I'm starting off on the blend module!!😀

[2018-05-19 03:39] jywarren commented on #2653
Hi all! Great and I'm doing my best to reply to each of your requests for
reviews. Please also help to review one another's work and we'll have a
more regular check-in cycle next week as everyone's exams will hopefully be
completed (good luck!) and I'll be back from this big set of workshops!

If you're waiting for a review, or if you're stuck,  please request help
here OR leave a comment with @pu

[2018-05-19 03:56] jywarren commented on #2667
Hi, @Gauravano -- you should be able to merge to `unstable` with `git push -f git@github.com:publiclab/plots2.git unstable` -- just drop in a note to the chatroom when you do so you're not colliding with others!

[2018-05-19 03:57] jywarren commented on #2667
I like the dimmed title version above -- and the green button on the alert! Thanks!!! 💪 🎉 😄

[2018-05-19 04:02] jywarren commented on #2732
Thanks, Ill take a look!

[2018-05-19 04:02] jywarren commented on #1487
Wow! Sorry, little late on this but looking now. Tremendous!

On Wed, May 16, 2018 at 1:09 PM, Stefanni <notifications@github.com> wrote:

[2018-05-19 04:04] jywarren commented on #2731
Hi, @stefannibrasil I'll invite you as a reviewer now! Would @milaaraujo  also like to? If you'd like to know more about being a reviewer, there's a lot of helpful info at http://publiclab.org/software-outreach -- but if you're already making first-timers-only issues, you're already much of the way there!

Thanks everybody!!! 👍 🎉 🎈

[2018-05-19 04:10] jywarren commented on #1487
OK I invited you as a reviewer!!!

@Zengirl2 look at the great team pitching in to solve this! Thanks everybody!!!

[2018-05-19 19:17] robotscissors commented on #2722
I am a newbie, and I would like to claim this issue.

What about placing something next to their username like:
by [username](url) _[New Contributor]_

[2018-05-21 16:13] ebarry commented on #2722
this is a lovely idea

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Sat, May 19, 2018 at 2:17 PM, Christopher Bazin <notifications@github.com

[2018-05-21 18:56] stefannibrasil commented on #1487
Awesome, thanks! :tada:

[2018-05-22 05:07] robotscissors commented on #2722
@ebarry, Just for clarity - anytime a new member creates any type of Node (note, activity, asks a question, or posts an event), **that first contribution** will warrant the _[New Contributor]_ notation, correct?

Does the Node need to be moderated before the status is given? Or just the fact that the user made the effort to post some material and contribute?

[2018-05-22 20:53] jywarren opened #2739 "🙌 Community Check-in #1: Summer of Code Week 2"
Hello everybody! Welcome to Community Check-in number 1! If you're new here, welcome, and please checkout our [welcome page](https://publiclab.github.io/community-toolbox/#r=all)!! 👍 🎉 😄

I'm just back from a big trip to California to help run a Community Science space at Maker Faire -- we helped over 1700 people make microscope, spectrometry, and water quality kits - https://twitter.com/PublicLab

[2018-05-22 20:53] jywarren commented on #2653
Moving over to a weekly update cycle using the [outreach tag](https://github.com/publiclab/plots2/labels/outreach) -- thanks everyone!!!!

Next up: https://github.com/publiclab/plots2/issues/2739

[2018-05-22 20:55] jywarren commented on #2739
Hello @stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @namangupta01 @ViditChitkara @tech4GT @mridulnagpal @SidharthBansal @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @ccpandhare @icarito @abTest-123 @steviepubliclab @ebarry @publiclab/soc @publiclab/reviewers -- trying a new weekly check-in! 😄 👋 📣

[2018-05-22 20:56] #2653 closed

[2018-05-22 20:57] tech4GT commented on #2739
Hi @jywarren 😀

[2018-05-23 02:41] ebarry commented on #2722
Hi! Great questions! I'm wondering if we can keep the moderation as is
(which already requires moderation for any note, comment, or "any kind of
node").

Is it possible to add the tag of "new contributor" independent of what's
going on with moderation status?

Relatedly, I think you should be able to see what unpublished stuff look
like on publiclab.org/spam.  Is this page visible to you?

Thank y

[2018-05-23 03:24] aamarill commented on #2298
hello @ViditChitkara and @jywarren!

It looks like @visheshruparelia has not worked on this for a while. From looking at the latest PR, it looks like it didn't pass Travis tests. Can I try to fix this? Thanks! 😄

[2018-05-23 03:30] aamarill commented on #2731
@aditya-m-shah Are you still working on this, or did you want any help? 😄

[2018-05-23 03:31] aamarill commented on #2709
Hello @martabeveridge 😄 Are you still working on this or would like some help?

[2018-05-23 06:02] abTest-123 commented on #2739
Expecting to start soon!

[2018-05-23 06:16] MayankKashyap commented on #2739
Hi @jywarren @all

[2018-05-23 06:16] MayankKashyap commented on #2739
Hi @jywarren @all

[2018-05-23 07:43] Souravirus commented on #2739
Hi @jywarren, @publiclab/soc, I am currently working on correcting the tests of the rails 5.0 upgrade

[2018-05-23 08:39] ryzokuken commented on #2739
@jywarren I would be a little blocked next week due to an important conference (Node's collab summit in Berlin), but would love to help out on the next week's check-in. 😄

[2018-05-23 13:45] jywarren commented on #2298
Yes please! And if you want to start from the existing PR, that'd be great.
Thank you!

On Tue, May 22, 2018, 11:25 PM Adan Amarillas <notifications@github.com>
wrote:

[2018-05-23 15:20] jywarren opened #2741 "index page or listing of different UserTags"
We have a great new UserTag system --

https://github.com/publiclab/plots2/blob/master/app/controllers/user_tags_controller.rb

where people can put tags on their profiles. we also have a way to see people by their user tags:

https://publiclab.org/people/organizer shows everyone with the "organizer" tag.

But we don't have a way to see highly-used user tags, the way we do for regular node tags on

[2018-05-23 15:34] jywarren commented on #2739
Also, i know i've been asking everyone a lot for relatively tight formatting and structural changes -- being a little more picky now that we're tackling much bigger projects -- but i'm hoping the requests make sense and you see how more rigorous syntax and even stylistic changes can help make the code easier to review, test, and maintain! Thanks for your patience!

[2018-05-23 15:36] jywarren commented on #2739
i think @mridulnagpal had a question about how to test some new changes -- Mridul, want to link us to your question?

[2018-05-23 15:39] jywarren commented on #2739
@ryzokuken just added you to the list! You can copy some of this week's template and expand/modify/refine as you like!

[2018-05-23 16:36] jywarren commented on #2722
To @ebarry 's question -- this shouldn't affect anything about out current moderation system, @robotscissors was just asking if the "New contributor" message should be shown before or after. I think before is fine, and that simplifies things!

[2018-05-23 17:56] jywarren commented on #2739
Hi, Naman - can you link us to that and we can review? Thanks!

On Wed, May 23, 2018 at 1:23 PM, Naman Gupta <notifications@github.com>
wrote:

[2018-05-23 18:32] MayankKashyap commented on #2739
@namangupta can you paste the link here , so we can review...

[2018-05-23 19:02] namangupta01 commented on #2739
Here's the link!

[2018-05-23 19:03] stefannibrasil commented on #2739
Awesome! I am so excited for the summer to start :tada:

I can help with the check -in's too. Are there any docs for this?

[2018-05-23 19:46] jywarren commented on #2739
Thanks, Steffani -- shall I add you further down so after you begin? And there's no docs or template right now because we just made this process up 😛 but you can start with this as a template, i guess -- open to ideas for what we should be asking each week!

[2018-05-23 19:52] ViditChitkara commented on #2298
That would be awesome @aamarill . Feel free to ask, if you get stuck anywhere!

[2018-05-23 19:57] aamarill commented on #2298
Thanks guys, I thought I replied to this earlier. But I am on it! 💪

[2018-05-23 20:01] jywarren commented on #2739
@MargaretAN9 @Gauravano @ViditChitkara @mridulnagpal @SidharthBansal @sagarpreet-chadha when you have a chance, can you check in with us? I'd like to hear from all SoC folks each week to stay in good touch! Thank you!

[2018-05-24 06:09] sagarpreet-chadha commented on #2739
Hi @publiclab/soc team !
I have completed 1 layer module and currently working on next .
@jywarren ...would love to do a community check-in 😄  !

[2018-05-24 10:35] Gauravano commented on #2667
hi @jywarren I have pushed #2666 on `unstable` and wanted to check the status of https://unstable.publiclab.org/ before pushing further changes but the page shows 502. Could you help?

[2018-05-24 12:37] aamarill commented on #2298
Hey guys in the "installation" section of the [README.md](https://github.com/publiclab/plots2/blob/master/README.md) you have the following:

Is that correct? The normal workflow I have seen and read in GitHub documentation is to:
1. Fork the original repo
2. Clone from your fork ->`git clone https://github.com/your_username/plots2.git`, not from the original repo. The original repo is synced via

[2018-05-24 12:40] SidharthBansal commented on #2739
Can anyone please review https://github.com/publiclab/plots2/pull/2737?

[2018-05-24 14:06] aamarill commented on #2298
I added `, dependent: :destroy` to `has_many :node_selections, foreign_key: :nid` in [app/models/node.rb](https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L71).
Can you give me some hints on how to create a migration to destroy all the `NodeSelections` whose associated nodes do not exist?
Thanks! 😄

[2018-05-24 14:46] jywarren commented on #2667
Hi @icarito did you see this and could you chime in? Thanks!

On Thu, May 24, 2018, 6:36 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-05-24 14:48] icarito commented on #2667
Sure, I hadn't seen it. I'll have a look.

[2018-05-24 14:51] icarito commented on #2667
The issue is we haven't yet merged changes to the Makefile. I'll add one commit that has it.

Note the unstable build logs are here:
https://jenkins.laboratoriopublico.org/job/Plots-Unstable/lastFailedBuild/console

[2018-05-24 15:14] jywarren commented on #2739
Hi all! Just sharing a nice short overview of rails tests --
https://mixandgo.com/blog/feature-tests-vs-integration-tests-vs-unit-tests-in-ruby-and-rails

On Thu, May 24, 2018, 8:40 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-05-24 15:53] jywarren commented on #2739
Thanks @sagarpreet-chadha -- added you to the list. @ryzokuken did you want to do this coming Monday, then, and @stefannibrasil the next or did you want to hold off until RGSoC begins? Either way!

[2018-05-24 16:12] SidharthBansal commented on #2739
@jywarren I will also love to do the check-in. Can you explain a little what will be there in checkin? Any fixed time?

I am currently working on the main logic of the authentication system. Facebook api has changed so it is giving me some trouble. Google api is working properly.Trying to correct fb api. I have made usertags as needed. Is there any other patch needed to be done with user tag? I am

[2018-05-24 16:40] jywarren commented on #2716
Hi, sorry it took me a little while but I left a comment on your PR with a proposed fix. I hope this gets us closer, THANKS SO MUCH!!! 👍 👍 👍

[2018-05-24 17:35] icarito commented on #2667
I've just pushed commit b0848a4484a17d0525d44e15395b03ac2e14abe8 on top of unstable and it' building now. We're transitioning our deployment procedure to an automated process handled by Makefile and managed in Git along with the repository. At the current time only Unstable is using Makefile but once we've merged https://github.com/publiclab/plots2/pull/2593 I can setup stable to use it too.

[2018-05-24 21:03] Zengirl2 commented on #1487
Thanks everyone! Looking forward to a spam-free zone.

[2018-05-24 23:11] Gauravano commented on #2667
Hi @jywarren @steviepubliclab @ebarry @icartio , I am done with the initial implementation of Draft Feature. Here's the demo ---
https://drive.google.com/file/d/1SA_pFA3BOKj9DMzuqqNERXH0gl5WWw9T/view?usp=sharing

I have done work in #2744 and will merge into `unstable` where we can further test it and build it further. Hopefully, `unstable` would be back soon @icarito is working in #2593 . Thanks

[2018-05-25 16:22] Gauravano commented on #2667
hi @jywarren @icarito there is error from my part while merging #2666 . Please check here https://github.com/publiclab/plots2/pull/2666#issuecomment-391979076 .Thanks.

[2018-05-25 20:03] steviepubliclab commented on #2667
Hi,
Interesting question about first timers on drafting. I'm split on it. Can
we say no, first time posters don't have a draft option for now, see how it
goes for a bit then add it later? Or do we need to decide now and set it in
stone?

Another couple questions on implications of this feature for co-publishing:
1) can you both edit the draft? I think that would be great. Also, what
would it look

[2018-05-25 20:19] jywarren commented on #2739
OK, i wanted to say - we seem to have resolved the travis build issue now, so please go ahead and restart your builds.

@Gauravano and @icarito can you chime in here with some notes on how to use `unstable` to test things out? No rush.

And since @ryzokuken will be in a conference next week, so @sagarpreet-chadha did you want to do a Monday check-in just like this one? @SidharthBansal there is no

[2018-05-25 20:41] Gauravano commented on #2667
we say no, first time posters don't have a draft option for now, see how it
goes for a bit then add it later? Or do we need to decide now and set it in
stone?

We can change later, I will just hide this option for first-timers for now if you want.

would it look like to each person?

yes, the power of editing the draft would be there with the author, co-author, moderators, admins.

think this make

[2018-05-25 21:04] Gauravano commented on #2739
Weekly check-in is an awesome idea @jywarren. Maybe we can have monthly call too..I will try to help as much I can with PR's and unresolved issues.

### Something about Unstable:
1. Use `git push -f https://github.com/publiclab/plots2.git <branch-name-you want-to-push>:unstable` for pushing your commits on `unstable`. Don't push your commits using SHA as it may delete top of `unstable` branch comm

[2018-05-25 21:12] jywarren commented on #2727
@icarito says this is no longer affecting him???

Maybe we need to in incognito, create a completely new user on PL.org - and try logging in from SWB?

[2018-05-25 21:13] jywarren commented on #2727
Also possible relation to https://github.com/publiclab/plots2/issues/2021

[2018-05-25 21:15] jywarren commented on #2727
OK status -- need to reproduce!

[2018-05-25 22:02] Gauravano commented on #2739
@jywarren @icarito please specify which commands to use while pushing on stable. As @namangupta01 and I, both are using above command and overrides each other's work. Thanks.

[2018-05-25 22:43] Gauravano commented on #2667
hi @jywarren @steviepubliclab Draft feature is working at http://unstable.publiclab.org . please try. Thanks.

[2018-05-26 05:57] sagarpreet-chadha commented on #2739
Ok i will do the next check-in :+1:  !

[2018-05-26 06:11] SidharthBansal commented on #2739
Ok, thank @gauravano

[2018-05-27 01:55] ibrahimelbanna commented on #2732
IS this issue still open?

[2018-05-27 04:36] namangupta01 commented on #2732
Hi @ibrahimelbanna, @Toiya is already working on this issue in pr #2733. You can try other issues. Let us know if you need any help in finding issue.

[2018-05-27 05:11] icarito commented on #2739
Yes thanks everyone, I think we've had a great start!
With regard to using `unstable` :

Please note we've recently made some changes to Makefile and have started to deploy using this file.

So if your branch fails to build in unstable, you may need to rebase to latest master.

Second, you can always check https://jenkins.laboratoriopublico.org/job/Plots-Unstable/ to see if it's been recently used

[2018-05-27 12:13] ibrahimelbanna commented on #2732
@namangupta01  yes I need help finding an issue for a new timer contributor.

[2018-05-28 06:50] sagarpreet-chadha opened #2750 "🙌 Community Check-in #2: Summer of Code Week 3"
Hi everybody 👷  !
If you're new here, welcome, and please checkout our [welcome page](https://publiclab.github.io/community-toolbox/#r=all)!! 👍 🎉 😄

@stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @namangupta01 @ViditChitkara @tech4GT @mridulnagpal @SidharthBansal @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @ccpandhare @icarito @abTest-123 @steviepubliclab @ebarry @publicl

[2018-05-28 11:56] Gauravano commented on #2750
hi @sagarpreet-chadha @publiclab/soc , the weekend went really well.
I have completed the basic Draft feature and now planning to add some more tests this week, adding node.path changer method, and can further proceed to Secret URL sharing for non-PublicLab users after discussing with mentors. Also, you guys can try Draft feature at https://unstable.publiclab.org/ and your suggestions and comments

[2018-05-29 19:44] Gauravano commented on #2667
hi @steviepubliclab @jywarren , here are some designs for starting:

Design 1:
![design1](https://user-images.githubusercontent.com/20878070/40680921-46556eee-63a5-11e8-9637-bc761f19a9bc.png)

Design 2:
![design2](https://user-images.githubusercontent.com/20878070/40681310-685849c0-63a6-11e8-8e9c-24ffeff1abbb.gif)

[2018-05-29 20:48] #2739 closed

[2018-05-29 20:50] jywarren commented on #2750
Hi!! Great check-in, @sagarpreet-chadha !!

Love how that map is coming ❤️ 🌏

I realized some folks are still having exams -- good luck! 📝

I'm going to be showing some Image Sequencer work to NASA folks this coming weekend. It's going well! Lots done there.

I also see lots of updates across the site. Trying to respond to people where needed! @publiclab/soc  if you are stuck on something, please

[2018-05-29 21:07] Souravirus commented on #2750
Hi @sagarpreet-chadha @jywarren @publiclab/soc
I am currently working on clearing out the deprecation warnings of rails 5.0 upgrade. I have corrected all the errors. Now some failures and a long list of deprecation warnings is remaining. So, hopefully, I will clear these out this week. Thanks!!

[2018-05-29 22:43] #2498 closed

[2018-05-29 23:33] jywarren commented on #2667
These look pretty good! What if we made it the same font/color/size as `2
of 2 steps left` and added it there -- so `[ ] Save as draft | 2 of 2 steps
left [Publish]`

Then the red notice could be also right-aligned, the same font and size as
"Save as draft" (although still red?) and say "Others won't be able to see
this until you're ready - _Learn more_" with a link to a page we'll make at
/wiki/d

[2018-05-30 04:40] mridulnagpal commented on #2750
Hi @publiclab/soc
I am currently working on creating lat/lng tags on the basic of places tag on a research note. Currently I am detecting any place tags and then geocode the location to find lat/lng and finally ask the user if he/she wants to add location tags.
I am having some troubles testing though, any help would be much appreciated. Thanks!!

[2018-05-30 17:15] ViditChitkara commented on #2750
Hello all, @sagarpreet-chadha , @jywarren  -- Have completed the basic digest email feature! Hopefully we'll see it working after the octokit issue is resolved. Would be needing help for testing out the recurring mails and related functionality.
Up next, I would be working to improve the UI/UX and content of Email and further testing it.
Thanks everyone for helping out!!

[2018-05-30 20:11] Gauravano commented on #2667
Like you asked for @jywarren

![design3](https://user-images.githubusercontent.com/20878070/40744916-a60272d2-6473-11e8-8a9e-446d009a304e.gif)
Any more improvements?

[2018-05-30 20:17] jywarren commented on #2667
Amazing! Two small things. How does that look on a mobile display - should
we disable that feature for mobile or does it wrap nicely?

Second, perhaps the Publish button should change to Save when you check the
box?

Fantastic work!

On Wed, May 30, 2018, 4:12 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-05-30 22:21] Gauravano commented on #2667
we disable that feature for mobile or does it wrap nicely?

Looking messy on mobile view. You can try it on https://unstable.publiclab.org

box?

Done

![new_view](https://user-images.githubusercontent.com/20878070/40750614-7d415248-6485-11e8-97bf-19078d83dc63.gif)

[2018-05-30 22:31] jywarren commented on #2667
You can test yourself also by making the window narrower - maybe worth
hiding this feature with the "hidden-xs" class so it's not awkward on
smartphones? What do you think?

On Wed, May 30, 2018, 6:21 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-05-30 22:41] Gauravano commented on #2667
In GIF, I have also tried mobile view. How about trying media queries first ?

[2018-05-30 22:50] jywarren commented on #2667
Well, the Bootstrap hidden classes use those and are designed to be more
succinct, since they require only a few characters to implement. Give them
a try! Otherwise we'll have to write and maintain several lines of CSS,
which isn't too bad either.

On Wed, May 30, 2018, 6:41 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-05-31 05:22] ljl7123 opened #2752 "Edit documentation"
My university technical writing course has an assignment which involves editing documentation on GitHub repositories as practice in real world settings. Edits may involve aspects like style, structure, and concision. Existing style guidelines would be taken into account. The following is one of the resources I would be using:

https://jacobian.org/writing/technical-style/

Would anyone mind if I p

[2018-05-31 08:42] Gauravano commented on #2752
Hi @ljl7123 that would be awesome! You can ask for help anytime if you require any details about any feature, method, etc. Regarding the writing style, i don't think there would be any issue, let's just confirm with @publiclab/community-reps once. Thanks!

[2018-05-31 21:36] ljl7123 commented on #2752
Awesome, thanks so much @Gauravano!

[2018-05-31 23:35] Gauravano commented on #2667
@jywarren here's the mobile view

![screenshot_20180601-050026](https://user-images.githubusercontent.com/20878070/40813577-341201c4-6559-11e8-88cb-1452ca87de29.png)

![screenshot_20180601-050031](https://user-images.githubusercontent.com/20878070/40813587-41cdd25c-6559-11e8-97cc-36b9070ee603.png)

[2018-06-01 11:33] siaw23 opened #2754 "Travis Failing"
We have this on Travis:

[code]

Can you please check this @jywarren, it's complaining of some bad credentials.

[2018-06-01 16:13] jywarren commented on #2750
HI, all! Great work this week. 💪 🎉 ⚡️ ⚡️ ⚡️ 😄

We're still stuck in the `octokit` bug, so please try to team up to solve this since many people are affected by it -- https://github.com/publiclab/plots2/pull/2738#issuecomment-393226759 @publiclab/soc @publiclab/reviewers

## Rotating community check-ins

@ryzokuken did you want to do this Monday's check-in, or are you still at a conference? (hope y

[2018-06-01 16:39] #2754 closed

[2018-06-01 16:51] SidharthBansal commented on #2750
I am happy to do the next community check-in on upcoming Monday if @ryzokuken is busy with the conference. Else if he is free, he is most welcomed.

[2018-06-01 16:57] ViditChitkara commented on #2750
I am interested too!!😄😄

[2018-06-01 17:14] jywarren commented on #2754
Did you figure this out? :-)

On Fri, Jun 1, 2018, 10:40 AM Emmanuel <notifications@github.com> wrote:

[2018-06-01 17:23] namangupta01 commented on #2750
Yeah! Great progress. Once `octokit` bug is removed we will going see a lot of new features coming to life.

[2018-06-01 17:35] Souravirus commented on #2750
I am also interested to do the community check-in @jywarren

[2018-06-01 20:14] Gauravano commented on #2754
hi guys, @jywarren have you verified that we are using correct tokens https://travis-ci.org/publiclab/plots2/builds/386823762#L443-L444. Also, I asked one of the contributors of Travis-ci ,https://github.com/travis-ci/travis-ci/issues/7574#issuecomment-393986930 , he pointed to `danger` commands. From dangerfile, we are just verifying our tokens on these lines(i guess). Thoughts?

[2018-06-01 22:41] jywarren commented on #2754
I think one thing to ask is why it /stopped/ working as of a few days ago.
What's changed? A GitHub policy? A token expired? Danger bot version bump?

On Fri, Jun 1, 2018, 2:15 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-01 23:44] stefannibrasil opened #2755 "PLANNING ISSUE: v2 API development"
**1. About the project**

@milaaraujo and I will be working part-time (20h per week) on the v2 API development this Rails Girls Summer of Code, starting July 2nd until September 28th. The entire description for the project can be found [here](https://publiclab.org/notes/milaaraujo/02-23-2018/rgsoc-v2-api-development?_=1523641890).

We want to coordinate better as a team and also get feedback, so w

[2018-06-02 03:57] ljl7123 commented on #2752
Are there any methods/features off the top of your head that need clearer documentation,  @Gauravano ?

[2018-06-02 06:47] icarito opened #2756 "Move recaptcha configurations to environment variables"
We are finishing to  move our deployment to a container. Containers require to be able to be setup by environment variables.

But we are hard-coding a development API key in `config/initializers/recaptcha.rb`. It is expected to be changed by the admin at setup time. We would like to use an environment variable like we do for other configuration settings.

We should keep the development API key in

[2018-06-02 07:05] icarito opened #2757 "`config/database.yml` with environment variables"
For the purpose of building a reusable container it would be ideal if we could setup a few configuration variables to put inside an example `config/database.yml.containers` that would configure, to begin:

`DB_HOST`
`DB_PORT`
`DB_NAME`
`DB_USER`
`DB_PASSWORD`

This would be a first step into building containers in staging and using them directly in production (saving a build step and avoiding heav

[2018-06-02 13:38] #2057 closed

[2018-06-02 15:39] jywarren commented on #2057
Oh, how was this resolved? Sorry haven't been able to catch up on this yet.
Thanks!

On Sat, Jun 2, 2018, 7:39 AM Emmanuel <notifications@github.com> wrote:

[2018-06-02 15:47] jywarren opened #2758 "octokit error on Travis blocking all PRs"
Hi, @publiclab/reviewers @publiclab/soc - starting an issue to track this. The error is:

[code]

[On this line](https://travis-ci.org/publiclab/plots2/builds/385758343#L3045) -- it's caused by this line in `.travis.yml`:

https://github.com/publiclab/plots2/blob/e802c759f0eb0b92a1fc7cd24d26cceee82e2907/.travis.yml#L26

All PRs are now blocked by this --

### Prior notes

[code]

@ViditChitkara fo

[2018-06-02 15:57] jywarren commented on #2758
`Octokit::Unauthorized` is odd for https://api.github.com/repos/publiclab/plots2/pulls/2738 since I can directly GET it in a browser...?

[2018-06-02 16:01] jywarren commented on #2758
I believe it's stuck as Danger is starting, as triggered by that line of `.travis.yml`.

Looking at how Danger is set up here, keeping in mind that this was working without errors a week ago: http://danger.systems/guides/getting_started.html

[2018-06-02 16:09] jywarren commented on #2758
I'm trying to create a new token stored in TravisCI - `DANGER_GITHUB_API_TOKEN` with the `public_repos` privilege

[2018-06-02 16:10] jywarren commented on #2758
Testing adding `bundle exec` to `.travis.yml` `danger` call in  https://github.com/publiclab/plots2/pull/2759 and if this fails, i'll change the token.

[2018-06-02 16:17] siaw23 commented on #2758
@jywarren i think the question we should be asking is what changed recently in `octokit` or `danger` because this was working until recently for no apparent reason.

[2018-06-02 16:21] jywarren commented on #2758
Agreed, although i do note that https://github.com/publiclab/plots2/blob/master/Dockerfile was modified about 8 days ago... dunno why that'd matter?

[2018-06-02 16:22] jywarren commented on #2758
I saved a new token and am going to try restarting https://github.com/publiclab/plots2/pull/2738

[2018-06-02 16:31] jywarren commented on #2758
It worked! OK - looks like this was a token issue. I don't know exactly what happened. Maybe there was a mislabeled token which I deleted? Closing this now. Everyone please re-trigger your Travis builds!

@publiclab/soc @publiclab/reviewers

[2018-06-02 16:57] jywarren commented on #2755
Love the table!!! I'll review soon, at a meeting right now. Thanks!!!!

[2018-06-02 16:58] jywarren commented on #2755
First glance this looks amazing. There are a lot of redundancies and hard to read sections in the current API. I think addressing these will be something to keep in mind as you go.

[2018-06-02 16:59] jywarren commented on #2755
Also, perhaps regularly checking in with other contributors to see what API functions they need or want, OR what of their work could be expressed through the API. A lot of JavaScript functionality could be redactores to go to through a cleaner and better documented API.

Great work!

[2018-06-02 17:05] jywarren commented on #2755
One redundancy example is between TypeaheadService and SearchService -- could be much simplified!

[2018-06-02 17:07] #2228 closed

[2018-06-02 17:28] Gauravano commented on #2755
hi, @stefannibrasil there is also an open issue for API which requires some help. The basic API for fetching nodes (taking lat.lon input ) is built by me in https://github.com/publiclab/plots2/pull/1987 . I wonder if you would be interested in solving this one. Thanks.

[2018-06-02 17:34] Gauravano commented on #2677
Solved at https://github.com/publiclab/PublicLab.Editor/pull/138

[2018-06-02 17:34] #2677 closed

[2018-06-02 17:52] Gauravano commented on #2667
hi @jywarren @steviepubliclab , here's the current notice text after draft is published.

![note_after_publishing_draft](https://user-images.githubusercontent.com/20878070/40879317-aed7cfac-66bb-11e8-8567-7b014b0d02e6.png)

Please suggest the new one or changes if any. Also, @jywarren I have added the generate_method in PR. Thanks.

[2018-06-02 18:00] jywarren commented on #2752
Hi, thanks so much! I wonder if perhaps it would be interesting to build out or refine either:

https://github.com/publiclab/plots2/blob/master/doc/DATA_MODEL.md

or

https://publiclab.org/wiki/power-tags

What do you think?

[2018-06-02 18:01] jywarren commented on #2752
OR, if anyone in @publiclab/soc is interested in help with documenting their new features, perhaps they could chime in with a request! Like the email notifications system is not very well documented.

[2018-06-02 18:02] jywarren commented on #2667
This looks perfect. I think it's ready for merge if you agree?

On Sat, Jun 2, 2018 at 11:52 AM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-02 18:02] Gauravano commented on #2667
Here are the draft related priviledges

| User role | Draft Creation | Draft Editing | Draft publishing |
|-------------|--------------------|-------------------|-----------------------|
|New Comer | No | Yes, if co-author made by normal user | Yes, if co-author |
| Normal User | Yes | yes, if creator or co-author | Yes, if creator or co-author |
| Moderator and admin | yes | yes | yes |

Any chan

[2018-06-02 18:08] jywarren commented on #2667
i think that looks good!

On Sat, Jun 2, 2018 at 12:02 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-02 18:10] Gauravano commented on #2667
Awesome so the feature is complete. Let me throw some final tests and then we could merge it. Thanks.

[2018-06-02 18:55] jywarren commented on #2667
Amazing! Maybe this could use a little documentation on a wiki page using
your table above, and I wonder if the contributor looking to do technical
writing would be interested?

On Sat, Jun 2, 2018, 12:10 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-02 19:05] Gauravano commented on #2667
Actually, I was also thinking of the same, also we could maintain a new doc (or existing) to store the different status values i.e., for nodes, comments, users, etc. How about this?

[2018-06-02 20:03] jywarren commented on #2667
That's a really good idea!!!!

On Sat, Jun 2, 2018, 1:06 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-02 20:09] namangupta01 opened #2760 "Incorrect recipients"
Hi @jywarren, i think there should be recipients instead of this email?
https://github.com/publiclab/plots2/blob/3ff08b70381d1dddd99d94e1796301374834988d/app/mailers/subscription_mailer.rb#L14

[2018-06-02 20:13] namangupta01 commented on #2760
Oh! I didn't see the bcc. My bad.

[2018-06-02 20:13] #2760 closed

[2018-06-02 21:55] chanjess commented on #2732
@namangupta01 hi, I'd like to also help out on any more issues you have for a newbie.

[2018-06-03 00:07] jywarren commented on #2732
@publiclab/reviewers anyone have a good first timers issue or two to share here?

Thanks everyone for helping out!

[2018-06-03 08:42] SidharthBansal commented on #2752
Yeah, it will be great to get your help @ljl7123

[2018-06-03 08:42] SidharthBansal commented on #2752
Yeah, it will be great to get your help @ljl7123

[2018-06-03 15:05] emv commented on #2709
I'm looking for a first issue and it doesn't look like a PR was created for this. @martabeveridge, are you still working on it? Need some help?

[2018-06-03 15:19] first-timers[bot] opened #2761 "Change redirect URL of spam marking action"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-06-03 15:21] jywarren commented on #2761
Once adding these, you'll probably encounter some test failures, since we check where the redirect goes. But you should be able to fix these by tweaking this line:

https://github.com/publiclab/plots2/blob/master/test/functional/admin_controller_test.rb#L166

And this line, and perhaps a few others:

https://github.com/publiclab/plots2/blob/4c28054cd14d9ff375c9537d40a0773c7fa89d97/test/functional/

[2018-06-03 15:22] emv commented on #2398
Hi, I'm looking for a first issue and it looks like this hasn't been worked on in a few months. @MittalS211, do you need any help?

[2018-06-03 15:27] first-timers[bot] opened #2762 "Change Recaptcha keys to environment variables"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-06-03 15:28] jywarren commented on #2732
Hi, @chanjess I made a new one here: https://github.com/publiclab/plots2/issues/2761

I made another here, although it's especially simple so if you want a tougher one i'll work on that too: https://github.com/publiclab/plots2/issues/2762

[2018-06-03 15:29] jywarren commented on #2731
@aamarill if you want to go ahead on this one, please do!

[2018-06-03 15:31] jywarren commented on #2398
@emv - please go ahead! We'd love your help.

[2018-06-03 15:31] jywarren commented on #2398
Although you may want to start with the changes @MittalS211 has done!

[2018-06-03 15:33] emv commented on #2398
On it! Thank you! 😀

[2018-06-03 15:34] jywarren commented on #2554
Hi, i believe it's being addressed in #2562 although perhaps @rob4abcba needs some assistance there?

[2018-06-03 15:38] aamarill commented on #2709
@emv Welcome to the amazing world of open-source. I am not working on this so it's all yours 😄

[2018-06-03 15:40] aamarill commented on #2731
@jywarren Thanks for getting back to me 😄 Unfortunately, I am quite busy at the moment and won't have time to work on this. So, if anyone wants it, go for it!

[2018-06-03 15:46] emv commented on #2709
Thanks @aamarill! I just picked up #2398, so maybe someone else will take this one soon. 😀

[2018-06-03 15:47] jywarren commented on #2756
Made a FTO from this! #2762 -- can you watch out there? Thanks!

[2018-06-03 15:47] #2756 closed

[2018-06-03 15:48] jywarren commented on #2762
Hi @icarito - you mentioned `We should keep the development API key in case there is not environment variable defined.` -- how to do this? Would this work?

[code]

[2018-06-03 15:54] jywarren commented on #2731
sounds good! :-)

On Sun, Jun 3, 2018 at 9:40 AM, Adan Amarillas <notifications@github.com>
wrote:

[2018-06-03 15:55] jywarren commented on #2663
wafflebot seems to be able to do this...

https://github.com/apps/wafflebot

see https://github.com/publiclab/plots2/pull/2562#event-1660049114

[2018-06-03 16:08] emv commented on #2398
I opened the code and discovered this was already fixed! Checking the history, it appears to have been part of #2621. https://github.com/publiclab/plots2/pull/2621/files#diff-16d89387de9be2711872969affbc5b57L777

[2018-06-03 16:31] #2554 closed

[2018-06-03 16:36] emv commented on #2709
I'm going to give this one a try because I think #2398 may already be done.

[2018-06-03 16:44] jywarren commented on #2398
Oh great! Excellent sleuthing. Thank you very much!!! 👍

[2018-06-03 16:44] #2398 closed

[2018-06-03 16:45] #2694 closed

[2018-06-03 16:49] jywarren commented on #2712
This is weird! Someone had recently shown that our main test suite, which runs in TravisCI.org on `mysql`, fails for some tests on `sqlite`. I'm trying to find a PR which they submitted which fixed a few of these.

I think perhaps we should consider having the tests run on `sqlite` as well? @icarito what do you think?

It would likely take our tests a bit longer, which is not convenient, but these

[2018-06-03 17:02] jywarren commented on #2712
@publiclab/reviewers has anyone else seen these kinds of errors in `sqlite`?

[2018-06-03 18:06] Gauravano commented on #2667
hi @jywarren , there are some things which hadn't been considered about the feature
1. Changes in API for hiding draft -- how about we check API in separate PR?
2. Currently, the user would be able to access his/her draft only through dashboard just like moderated notes.
3. Although, I have checked all suspicious areas where the draft can appear on our website, but can't find one. So, only eligibl

[2018-06-03 18:42] abTest-123 commented on #2750
Hi @jywarren @icarito @MargaretAN9 I set up a Calendar / Hangouts link which I hope will work: https://hangouts.google.com/hangouts/_/calendar/YW1pcmJlckBnbWFpbC5jb20.05tlkdhcj52lbgb36jl1r3jbju

[2018-06-03 19:01] SidharthBansal opened #2764 "Community Check-in #3 Summer Of Code Week 4"
Hi everybody :construction_worker_man: !
If you're new here, welcome, and please try some of the ftos. This is a checklist for publiclab/soc.

@stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @namangupta01 @ViditChitkara @tech4GT @mridulnagpal   @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @ccpandhare @icarito @abTest-123 @steviepubliclab @ebarry @publiclab/soc @publiclab/re

[2018-06-03 19:01] #2750 closed

[2018-06-03 19:43] sagarpreet-chadha commented on #2764
Hi @SidharthBansal , @publiclab/soc team !
I plan to write a note on publiclab.org about the *leaflet-environmental-layers* and try to complete 1 more layer module also .
Thanks :octocat: :hammer: !

[2018-06-03 20:13] Gauravano commented on #2667
Update: `index` method was used in old tests and show the recent, popular, etc. -- This one is resolved.

[2018-06-03 21:29] jywarren commented on #2750
Moving over to #2764 !! Thanks!

[2018-06-03 21:57] jywarren commented on #2764
Hi, all! I'm at a NASA meeting this weekend presenting our work --including on ImageSequencer work that @tech4GT (and @ccpandhare last year) have done! Work there is going quickly!

I'm so glad we've solved the `octokit` error and we went from 44 pull requests to 32 really quickly!

I wanted to share that you can use Waffle.io to visualize progress of any milestone, such as:

https://waffle.io/pub

[2018-06-03 22:10] Gauravano commented on #2667
As basic implementation of `Draft feature` is done, should I begin with the next stage which would be sharing secret URL with non-PL users or I can implement Subscription part of #2104 , and @ViditChitkara and I can merge our work after that? Thanks.

[2018-06-03 22:11] jywarren commented on #2544
Hi @chanjess I think this is available unless @pnowacki90 is still able to work on it -- i'm sorry, it looks like @pnowacki90 made a lot of progress but got stuck on a test. I'm trying to help untangle that now, but it could be a matter of building a bit on that PR to complete it!

[2018-06-03 22:53] jywarren commented on #2298
Hi, @aamarill that's a really good point. We'd love to have a README fix!!!

[2018-06-03 23:29] #1808 closed

[2018-06-03 23:33] jywarren commented on #2150
Hi, @Ankit-Singla if you'd like to take this back up, we're more able to support now -- just re-open https://github.com/publiclab/plots2/pull/2184

If someone else is interested, https://github.com/publiclab/plots2/pull/2184 is a great place to get started solving this!

Thanks, everybody!

[2018-06-03 23:34] jywarren commented on #2667
That sounds wonderful!

[2018-06-04 00:14] jywarren commented on #2757
Would we use `ENV['DB_HOST']` and such? like environment variables?

[2018-06-04 01:00] chanjess commented on #2761
thanks @jywarren
I'll take this one on!

[2018-06-04 01:11] jywarren commented on #2761
Awesome! Thanks!

On Sun, Jun 3, 2018, 7:00 PM chanjess <notifications@github.com> wrote:

[2018-06-04 01:29] chanjess commented on #2732
@jywarren hey warren
i'm curious about the tougher one too, no guarantee I can fix it tho :P

[2018-06-04 03:58] ljl7123 commented on #2752
Hi @jywarren , thanks for the suggestion! I'm not quite sure what refining or building out these documents entail, could you elaborate or provide resources? Is it regarding style or the actual content? Thanks!

[2018-06-04 04:38] jywarren commented on #2732
well, feel free to give it a try and we can help you through it!

On Sun, Jun 3, 2018 at 7:29 PM, chanjess <notifications@github.com> wrote:

[2018-06-04 04:39] jywarren commented on #2752
I think some depends on what exactly you're looking to contribute. We could
write a rough version and you could help style/edit it for readability. Or
if you want, we can try writing bullet points out for the structure and you
can try writing the actual text. What does your assignment need?

On Sun, Jun 3, 2018 at 9:58 PM, ljl7123 <notifications@github.com> wrote:

[2018-06-04 04:52] jywarren commented on #2764
Also just a note - got through all but 26 of those 44 pull requests! Thanks everyone! Great week! For this month:

https://github.com/publiclab/plots2/pulse/monthly

🎉🎉🎉🎉🎉🎉🎉🎉🎉

[2018-06-04 05:11] ljl7123 commented on #2752
Ideally, I would make edits for readability for a rough version.  Would that work?

[2018-06-04 11:00] Gauravano commented on #2764
Hi @publiclab/soc ,
I am done with the Draft feature yesterday, so this week I would be starting implementation of Subscription settings for Email digest.

Thanks,
Gaurav

[2018-06-04 15:17] jywarren commented on #2764
I think @Souravirus and @siaw23 have something to present folks with too! #2726

[2018-06-04 15:19] jywarren commented on #2646
Hmm, this is not good, thanks for so carefully documenting it! I believe the Ruby version may be one of the big issues. After running `rvm 2.3.7`, perhaps you need to run `bundle install` to get the gems in that environment?

[2018-06-04 15:20] jywarren commented on #2646
We could modify these two lines to improve that and perhaps add a `bundle install` step if needed?

https://github.com/publiclab/plots2/blob/65b289c131be6ad7186be2b35952900c62a45f37/install_cloudnine.sh#L5-L6

[2018-06-04 16:06] namangupta01 commented on #2764
Hello Team! Hopefully, reply to comment feature would get merge soon then i will start working on reply by tweet feature.

Thanks!

[2018-06-04 20:29] jywarren commented on #2755
I have been seeing some JSON tests that probably correspond to different things we could convert to more standardized API calls. Could be worth searching through the tests for the string "json" to find some and try to improve them, when you reach the end of your plan?

[2018-06-04 21:47] Gauravano opened #2768 "Link for adding 'descriptive tags' not working for research notes"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-06-04 23:26] stefannibrasil commented on #2755
That's great, thanks for the comments! I've edited the Timeline with your comments.

@Gauravano Yes, that would be great, I can try to help. Could you please guide me through the actionable tasks and explain how can I help? You need help with the part 3 from #1934, is it right? if so, we can discuss there. Thanks!

[2018-06-05 14:18] MargaretAN9 commented on #2750
Thanks for the link, talk to you at 13:00. :)

On Sun, Jun 3, 2018 at 14:42 abTest-123 <notifications@github.com> wrote:

[2018-06-05 16:15] emctackett commented on #2768
Hi, I'd like to work on this one. 😊

[2018-06-05 16:23] Gauravano commented on #2768
That would be great @emctackett. If you face any issue, please feel free to ask. Thanks!

[2018-06-05 16:57] Gauravano commented on #2752
Hi @ljl7123 that would surely work. To start with here are some files which you can see for improvement:-
1. https://github.com/publiclab/plots2/blob/master/README.md
2. https://github.com/publiclab/plots2/blob/master/CONTRIBUTING.md
3. https://github.com/publiclab/plots2/blob/master/doc/DATA_MODEL.md

Also, we have a status system in our codebase for `comment`, `node` and `user`. we haven't docum

[2018-06-05 17:37] Gauravano commented on #2755
Here's the current URL https://github.com/publiclab/plots2/blob/46f3d43a73f727a547f737a401ae76411d3c2ef6/app/api/srch/search.rb#L118 . We want to pass tags too and then process the input accordingly in https://github.com/publiclab/plots2/blob/46f3d43a73f727a547f737a401ae76411d3c2ef6/app/services/search_service.rb#L188 to pass output nodes from there.

[2018-06-05 19:05] Gauravano commented on #2667
Hi @jywarren @steviepubliclab  , I am starting on Subscription settings part, some points to discuss:
1. How about making a settings page where we would have different sub-sections?
2. Do you guys like this design:

https://user-images.githubusercontent.com/20878070/37797928-44caff74-2e41-11e8-925b-36e91080c3b0.gif

Also, @jywarren could you please approve my post https://stable.publiclab.org/note

[2018-06-05 19:08] SidharthBansal commented on #2752
Hi, @lkl7123 it will be great if you will be able to create a page for the different labels which we often use at repositories of the public lab. Newcomers may face problem while reading the labels. Or we can have a section in the https://github.com/publiclab/plots2/blob/master/CONTRIBUTING.md? What do you say @jywarren ?

[2018-06-05 19:15] jywarren commented on #2667
I love the design and I just approved your post! Super work, Gaurav!

On Tue, Jun 5, 2018 at 1:05 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-05 19:16] jywarren commented on #2752
that's also a great idea. I don't know how much work @lkl7123 is looking to
take on, but maybe we could have a list of documentation issues compiled
that others can take on as well?

On Tue, Jun 5, 2018 at 1:08 PM, Sidharth Bansal <notifications@github.com>
wrote:

[2018-06-05 20:14] jywarren commented on #2660
This looks great. Let me see if we can get signed up quick.

[2018-06-05 20:17] siaw23 commented on #2660
that'd be awesome. as a follow up. i wanted to add that in fact if you search for `rails performance testing` the first link points to a Rails `v3.2.13` guide. I bet you can't find the same guide for a Rails 4 app let alone for a Rails 5 app! @jywarren

[2018-06-05 20:18] jywarren commented on #2660
I think the performance testing project may have started when we were on Rails 3! It was our oldest PR :-)

[2018-06-05 20:20] siaw23 commented on #2660
that explains it ;)

[2018-06-05 20:34] #2660 closed

[2018-06-05 22:14] mridulnagpal commented on #1416
@jywarren Whats next?

[2018-06-05 22:16] jywarren commented on #1416
Hi Mridul there are a few open issues in the blurred image repo, want to
try those and also some CodeClimate based code structure work?

Thanks!!!

On Jun 5, 2018 4:15 PM, "Mridul Nagpal" <notifications@github.com> wrote:

@jywarren <https://github.com/jywarren> Whats next?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/pub

[2018-06-06 02:16] icarito commented on #2762
Just a small caveat that by convention environment variables are all uppercase. I'll edit the description.

[2018-06-06 18:47] ViditChitkara commented on #2764
Hello all, I am done with basic digest feature and redis installation with a queuing backend (sidekiq). Would be working on testing and scheduling of mailers this week.

Thank you all for helping out!!

[2018-06-06 18:53] ryzokuken commented on #2764
Awesome!

Nice initiative, @jywarren. This makes is super easy to get up to speed. Should I do the next week's check-in? (If someone else isn't already enqueued).

[2018-06-06 19:05] jywarren commented on #2764
Sure, i think you're up next in the list, actually -- that'd be great!!!

On Wed, Jun 6, 2018 at 12:53 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2018-06-06 19:44] jywarren opened #2775 "Add autocomplete to comment fields (starting with emoji) using the Horsey library"
### Please describe the problem (or idea)

We have nice emoji now possible by using `\:smiley:` syntax. Let's make this autocomplete like it does in GitHub -- this will be a fun little project! 👍 😃 🐱 🐴 🌴

![image](https://user-images.githubusercontent.com/24359/41061332-3d5348ba-69a0-11e8-942b-2ca992f8b86e.png)

https://bevacqua.github.io/horsey/

It should be pretty easy to implement!

Follow-up

[2018-06-06 21:03] ViditChitkara commented on #2775
Looks interesting, I would be happy to help!!

[2018-06-06 21:58] stefannibrasil commented on #2755
Alright, that looks good, I will start working on it tomorrow. Thanks for the info, @Gauravano I'll ask any questions that I might have on the Issue page :)

[2018-06-06 22:07] jywarren commented on #2775
Awesome, please go for it! Thanks!

On Wed, Jun 6, 2018, 5:04 PM Vidit <notifications@github.com> wrote:

[2018-06-06 22:46] icarito opened #2776 "Disable mounting current directory as Docker volume"
Currently `plots2` container [mounts the local directory as a volume](https://github.com/publiclab/plots2/blob/master/containers/docker-compose-stable.yml#L25). This means we forego some advantages in particular to have a completely isolated, clean environment knowing that `plots2` isn't interacting with the working directory.

In order to achieve this, we'll need to instead mount `public/` direct

[2018-06-06 22:48] icarito commented on #2776
Related to #2757 -

[2018-06-07 04:30] icarito commented on #2762
Absolutely @gdestree - thanks for the help! If you have any questions, we are here to help :)

[2018-06-07 13:33] steviepubliclab opened #2778 "question:tag not showing up on question tag pages"
Hi,
I was searching for a question I had posted recently, it was one I knew I tagged "question:raingauge" but when I went to the tag page:  https://publiclab.org/questions/tag/raingauge, there were no questions there. I found my question, it does have that tag, but I couldn't get it to show up on the tag page until I tagged it with not just the "question:raingauge" but also just the tag "raingauge

[2018-06-07 14:40] Gauravano commented on #2778
hmm, I tried the tag, if the tag on a question is named as `question:raingauge` then, for finding questions related to it https://publiclab.org/questions/tag/question:raingauge have to be used. The power tag here plays it's role by showing the questions related to question:raingauge instead of showing research notes by default. Note the difference in between these two https://publiclab.org/tag/que

[2018-06-07 15:42] jywarren commented on #2778
Could we modify the behavior so that the page returns both results for `raingauge` and `question:raingauge`? I often feel like i need to type in both when i tag things. This could avoid that...

Another way to do this would be to make any new tag `question:raingauge` also auto-generate a `raingauge` tag in the `tag_controller#create` method. This could also be run in a migration against all existi

[2018-06-07 16:06] ViditChitkara opened #2779 "Error connecting to redis"
By default redis is trying to connect to localhost (127.0.0.1)
[code]
 Discussed at:- #2711

[2018-06-07 16:16] ViditChitkara commented on #2779
https://github.com/publiclab/plots2/blob/fad88fd72c9d08f5591bf4c0cab402160eb9ea54/docker-compose.yml#L32-L41
@icarito there is an environment var named JOB_WORKER_URL in sidekiq container, won't it work? Should I add it in web container?? @jywarren any recommendations, on this? I am a bit in-experienced with docker-compose. Any help is appreciated!!

[2018-06-07 16:28] namangupta01 opened #2781 "Discussion regarding the deployment of reply-by-email to comment"
As discussed with @jywarren on gitter, opening this issue to discuss the things to be done regarding to start our new `reply-by-email` feature.

[2018-06-07 17:08] etalamante commented on #2656
Hello, I'm starting as a contributor and I would like to work on this issue. Just give me a few days to analyze and solve it.

[2018-06-07 17:11] jywarren commented on #2781
Great! Can you link back to the conversation PR and copy in some of the notes from there?

[2018-06-07 17:11] jywarren commented on #2656
Awesome, thanks so much!

[2018-06-07 17:13] namangupta01 commented on #2781
sure.

[2018-06-07 17:14] jywarren commented on #2762
Both of those sound great! Thank you!

On Thu, Jun 7, 2018 at 12:23 PM Gregor Destree <notifications@github.com>
wrote:

[2018-06-07 17:16] etalamante commented on #2656
Excellent, I will check them. Thanks!

[2018-06-07 17:32] namangupta01 commented on #2781
Previous discussion regarding this is in #2669.
In the discussion, @icarito gave information about the service being used by stable, unstable.

See #2669 for detail discussion.

[2018-06-07 17:33] rtrunkhill commented on #2731
Hey, i'm new a new programmer and i'd like to knock this one out if you dont mind

[2018-06-07 17:36] namangupta01 commented on #2781
As in stable and unstable all the mail goes to mailbox inside the staging server we can setup pop3 protocol to receive mail from testing@tycho.media.mit.edu.
And in case of localhost SMTP is redirected to any gmail account we can use the configuration of that gmail account.

[2018-06-07 17:38] aamarill commented on #2731
@rtrunkhill Welcome! 😄
You can work on this, thanks! 🙏

[2018-06-07 18:27] gdestree commented on #2762
@jywarren Sorry to bother you one last time, but should I use:
[code]
This way it breaks on deploy if the environment variable isn't present.

[2018-06-07 18:56] jywarren commented on #2762
Hmm, not sure -- @icarito what do you think?

On Thu, Jun 7, 2018 at 2:28 PM Gregor Destree <notifications@github.com>
wrote:

[2018-06-07 20:20] jywarren commented on #2307
Ooh, some of these are done now, huh?

[2018-06-07 20:56] Gauravano commented on #2307
yup :smiley: ! List updated.

[2018-06-07 21:40] jywarren opened #2787 "Rails 5 follow-up fixes"
Just compiling some things from the #2726 #278 Rails 5 upgrades now that it's in stable!

* [x] `POST https://stable.publiclab.org/tag/suggested/tag 404 (Not Found)` - did route change? A GET route exists: https://github.com/publiclab/plots2/blob/9172df4efdcb67995f88ad770fc6c71a22684c2e/config/routes.rb#L173
* [x] ~top navbar search autocomplete doesn't work (doesn't seem to trigger a request at a

[2018-06-07 21:42] Souravirus commented on #2787
Yeah lets check what has happened

[2018-06-07 21:44] jywarren commented on #2787
Oh wait! The top bar nav search does work on a note page! But not on a `/post` page. Let's test more!

[2018-06-07 21:45] Souravirus commented on #2787
I was checking on the dashboard and it was working fine there. That's why I said in gitter

[2018-06-07 21:45] jywarren commented on #2787
Ha, and yes, https://publiclab.org/post also doesn't autocomplete. so that's an existing bug! Removing it from above.

[2018-06-07 21:47] Souravirus commented on #2787
yeah its not auto completing but the search is working fine here

[2018-06-07 21:47] jywarren commented on #2787
Also Travis seems to have trouble with this... the post-merge run failed with some kind of timeout very early in the process: https://travis-ci.org/publiclab/plots2/builds/389444495 -- adding to list, but @icarito any idea why it would get stuck on:

[code]

[2018-06-07 21:49] Souravirus commented on #2787
yeah there was timeout sometimes but restarting the build worked

[2018-06-07 21:50] jywarren commented on #2787
OK - can you change the GET to a POST and open a PR? That's the only thing I've found now!

[2018-06-07 21:50] Souravirus commented on #2787
Also the autocomplete feature is not working in original https://publiclab.org/post. So, I guess this problem is earlier than rails 5.0

[2018-06-07 21:59] Souravirus commented on #2787
Ok I will change 'get' to 'post'

[2018-06-07 22:58] first-timers[bot] opened #2789 "Improve formatting of stats pages with tables!"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-06-07 22:59] jywarren commented on #2789
This will be a great improvement to the readability of our stats pages, like https://publiclab.org/stats/range/10-05-2015/10-05-2016/

(read more stats at https://publiclab.org/stats/)

[2018-06-07 23:51] jywarren commented on #2787
Just going to re-open this for a question -- locally, I'm seeing:

[code]

Did you ever see this error? Thanks!

[2018-06-08 00:07] stefannibrasil opened #2790 "API tagging implementation"
The goal of this Issue is to improve #1934, as discussed in #2755.

We need to include tags in the URL input. This should solve #2254.

**Steps**
- [x] Include tags in URL: https://github.com/publiclab/plots2/blob/46f3d43a73f727a547f737a401ae76411d3c2ef6/app/api/srch/search.rb#L118-L119

- [x] Update the `nearbyNodes` method to also include tags:
https://github.com/publiclab/plots2/blob/46f3d43a73

[2018-06-08 00:09] stefannibrasil commented on #2790
@Gauravano @sagarpreet-chadha @jywarren I've written this Issue to coordinate better our contribution. I am working on this, I just need more time to configure my PC again since I've updated my OS :smile:

[2018-06-08 04:40] Souravirus commented on #2787
No I haven't seen this error.

[2018-06-08 09:07] devamaz commented on #2789
Want to work on this issue

[2018-06-08 09:12] namangupta01 commented on #2789
Go ahead @devaman. 👍

[2018-06-08 11:12] devamaz commented on #2789
Done. Have summit a PR

[2018-06-08 14:07] jywarren commented on #2727
Perhaps it's intermittent -- like, what if it happens just the very first time someone goes through this process, but never again?

[2018-06-08 14:09] #2789 closed

[2018-06-08 14:10] #2741 closed

[2018-06-08 14:34] Souravirus commented on #2787
behind this error

[2018-06-08 15:23] siaw23 opened #2793 "Bots vs Humans"
Until recently I didn't consider contributing to OS projects. But when I started I stumbled on Public Lab's Plots2 and found a Rails project with room for a lot of contribution. Initially I didn't want to really contribute to Plots2 because I found the README to be 'unfriendly' for newcomers, it was long and had steps like "optional (not recommended)". There were a couple of those steps. The READM

[2018-06-08 16:10] jywarren commented on #2452
@publiclab/soc if anyone's looking for a break or wants to make a full-fledged `first-timers-only` issue out of this one, it'd be a fun one!

[2018-06-08 16:49] jywarren commented on #2793
Hi @siaw23 -- thanks! I think my initial thoughts are that I 100% agree with the point that real human welcoming is irreplaceable. There's no bot that can extend a hand out and make someone feel welcome the way a human can.

However, lots of systems -- from GitHub interface design to Travis tests -- are not very friendly. I do think it's worth exploring how we can reform systems like these to be f

[2018-06-08 17:14] Souravirus commented on #2787
Hi @jywarren according to this stackoverflow post https://stackoverflow.com/questions/34115174/error-related-to-only-full-group-by-when-executing-a-query-in-mysql since we are doing `group by` by a node.title, that's why it is giving that error. We should try adding group by node.id then it would be perfect.

[2018-06-08 17:16] jywarren commented on #2787
oh cool! Want to try opening a PR?

On Fri, Jun 8, 2018 at 1:15 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-06-08 17:16] Souravirus commented on #2787
Yeah I will open a PR

[2018-06-08 17:51] Souravirus opened #2795 "Auto-complete of search not working on 'post' page"
### Please describe the problem (or idea)
The auto complete is not working on search input on https://publiclab.org/post page
``
We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.
``

[2018-06-08 17:54] cheneyshreve commented on #2775
@jywarren Hi, I'm a first-timer and new to open source. I've looked over the "open" first-timer issues, but they all seem to be taken. Is there anything you could recommend? Thanks :)

[2018-06-08 17:57] jywarren commented on #2775
Hi! Did you maybe want to try taking a crack at this one? It's not 100%
simple but we can help you out;

https://github.com/publiclab/plots2/issues/2452

On Fri, Jun 8, 2018, 1:54 PM Cheney Shreve <notifications@github.com> wrote:

[2018-06-08 17:59] jywarren commented on #2764
I also posted a summary of the past month or two's work here!

https://publiclab.org/notes/warren/06-08-2018/web-working-group-update-22-june-2018

[2018-06-08 18:06] ebarry commented on #2764
Hi all! i just got back from Family Time and am excited to see all this activity. I would love to hear from @mridulnagpal about Location. Thanks!

[2018-06-08 18:06] jywarren commented on #2764
Hi everyone - can folks update their milestones and paste them in here so we can start tracking progress?

We will be doing our first GSoC evaluations next week so now is a great time to get your planning issues updated and be sure you have your completed work shown and your next steps outlines. You're all doing great!! 👍 👍 👍

@stefannibrasil @milaaraujo @MargaretAN9 @Gauravano @namangupta01 @Vidi

[2018-06-08 18:18] jywarren commented on #2757
I think my formatting suggestion above should work in a new file called `config/database.yml.containers` -- this should be pretty good for a first timer to try out!

[2018-06-08 18:18] cheneyshreve commented on #2775
Hi @jywarren sure, I'll give it a go!

[2018-06-08 18:23] cheneyshreve commented on #2452
I'd like to help out if it's still open, first-timer and first time with open source. @sagarpreet-chadha @jywarren

[2018-06-08 18:31] sagarpreet-chadha commented on #2452
That would be great :smile:  !!!

[2018-06-08 18:31] cheneyshreve commented on #2452
@sagarpreet-chadha Thanks, I'll get started :)

[2018-06-08 18:54] Gauravano opened #2796 "PLANNING ISSUE: Subscription Settings"
Subscription Settings would be a part of **Settings** page. I would be creating a settings page where Subscription settings will be a section but I think after this we would like to add more things to the settings page for giving users more power.

Checklist for start:
* [ ] Migration for generating `digest:weekly` or any other to all profiles
* [x] Method in `user_controller.rb`  for accepting th

[2018-06-08 18:58] #2307 closed

[2018-06-08 18:58] jywarren commented on #2307
Awesome!

[2018-06-08 19:00] jywarren commented on #2796
Cool! Also consider building some out
in app/controllers/subscription_controller.rb -- great start here!

On Fri, Jun 8, 2018 at 2:54 PM, Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-08 19:01] jywarren commented on #2714
Are we done with this issue now? Any of these follow-ups you want to try? Perhaps some could be good first-timers-only issues. 👍 👍 👍

[2018-06-08 19:07] Gauravano commented on #2764
Hi @ebarry welcome back :smiley: ! Hope you enjoyed your trip. Many new features added to the website last week, do check them. We would love to have your review on them. Thanks.

[2018-06-08 19:07] Souravirus commented on #2714
Yeah this issue is done. I had sent a PR related to a follow up fix on #2794. I had a update in README.md where I thought to update the testing command to 'rails test -d'. I will also serve as a first timer issue. What do you think @jywarren

[2018-06-08 19:11] Gauravano commented on #2764
Hi @publiclab/soc

### Work Progress
First Implementation of the draft feature is done
Plannig issue -  #2667
Last PR - #2747

#### Remaining Part of Draft feature (open at #2667 ) --
1. Secret Link Sharing
2. Writing wiki about the draft feature

#### Currently working on-
Subscription settings for Email: https://github.com/publiclab/plots2/issues/2796

**Also, I will not be able to do much this

[2018-06-08 19:16] Souravirus commented on #2764
Hi @publiclab/soc
**Work Progress**
Upgrade to rails 5.0.6 is done:
Planning issue: #2714
Related PRs: #2726 #2783

[2018-06-08 19:17] rtrunkhill commented on #2520
Hey i'm looking into this.

Would it be better to put the "Here are all the questions you've asked" next to the asked/answered toggle button?

![image](https://user-images.githubusercontent.com/28711410/41176395-0c0a94ae-6b15-11e8-84f9-15ff7e1532c0.png)

Ive been trying to figure out how to change the message to ```"These are the answers provided by<%= link_to(@user.name,"/profile/#{@user.name}")

[2018-06-08 19:27] Gauravano commented on #2796
Actually, we would be having this settings page for all user-specific settings so `user_controller.rb` maybe the good place to put logic. But, I'll see if something specific to subscription comes in, I would add that to `subscription_controller.rb`. Thanks.

[2018-06-08 19:30] Gauravano commented on #2520
Hi @rtrunkhill, Can't say much about the placement of text, @publiclab/community-reps will update you shortly on that. About the code: You can use JavaScript for updating the text on button click. Like each time button is clicked, f

[2018-06-08 19:32] Gauravano commented on #2520
oops, sorry

[2018-06-08 19:36] jywarren commented on #2796
Ok!!!

On Fri, Jun 8, 2018, 3:28 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-06-08 19:38] ebarry commented on #2613
If i refresh the page, i am able to delete a tag i added to a profile page. Since this is such an easy work around, i am going to close this issue

[2018-06-08 19:38] #2613 closed

[2018-06-08 19:39] jywarren commented on #2714
Sure! And you can close this once you're ready. What are you thinking of as
next steps? 5.x? :-)

On Fri, Jun 8, 2018, 3:08 PM Sourav Sahoo <notifications@github.com> wrote:

[2018-06-08 19:41] Souravirus commented on #2714
I will be working on upgrade of rails 5.1 upgrade

[2018-06-08 19:42] Souravirus commented on #2714
ok I am opening a new first timers issue related to the testing command.

[2018-06-08 19:47] cheneyshreve commented on #2452
@publiclab/reviewers looking for help on this issue
Based on the comments on the page, I'm assuming that I need to:
 - edit the constants.rb to add a callout called CHECKBOX,
 - add code to scan the body to see if the checkboxes are checked, and add code to render the checkboxes

I think I'm confused on how you actually render the checkboxes. So far I have:

constants.rb, added this line to search

[2018-06-08 19:53] first-timers[bot] opened #2797 "Updating the testing command"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-06-08 20:19] sagarpreet-chadha commented on #2452
Hi @cheneyshreve !

Great work so far 😄 !
I would recommend you to open a pull request with your changes .

This looks perfect !
`CHECKBOX = '/[-|\*] \[( |x)\]/'`
I guess we would need to take care of cases like `[[]` or maybe `][[]` , etc . but we can do that later as a follow-up .

Okay so in this function :
`body = body.gsub(Callouts.const_get(:CHECKBOX), Callouts.const_get(:CHECKBOX))` the fir

[2018-06-08 20:20] jywarren commented on #2714
Want to close this then? Maybe you should open a new milestone to track your progress for the summer now that you've completed this planning issue? That way it can be a collection of loosely related issues.

[2018-06-08 20:21] sagarpreet-chadha commented on #2452
This closed similar issue will make this more clear #1825 with PR #1826 😄  .

[2018-06-08 20:24] icarito opened #2799 "Open ID flash notice appears on wrong page"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a

[2018-06-08 20:34] Souravirus commented on #2714
Yeah closing

[2018-06-08 20:34] #2714 closed

[2018-06-08 20:37] jywarren commented on #2799
i think there's an error with flash[:notice] usage - it is held over in
the session from a recent page load. behavior may have changed in recent
versions, so perhaps these are getting "saved up" somehow and inserted into
the wrong page. One thought is `flash[:notice]` vs. `flash.now[:notice]` --
but perhaps we should read up on how this has changed in Rails?

On Fri, Jun 8, 2018 at 4:25 PM, Sebast

[2018-06-08 20:37] sagarpreet-chadha commented on #2452
@cheneyshreve ...another way would be to make two pair of **callouts** .

One callout for parsing `* [ ]` and after parsing replacing this via callout `<input type="checkbox">`

Another callout for parsing `* [x]`  which would be replaced by `<input type="checkbox"  checked>`

What do you think ?

[2018-06-08 20:40] cheneyshreve commented on #2452
@sagarpreet-chadha thank you! I will take a look at the other issues you posted and follow-up.

[2018-06-08 20:58] ebarry commented on #2764
hi @sagarpreet-chadha  and @mridulnagpal , i was wondering if the map at the top of https://publiclab.org/people pulls in additional results as you pan or zoom? I can't seem to get the map to show any additional results....ideas?

[2018-06-08 22:16] jywarren commented on #2727
Ooh! got same error with `tester` user!
![screenshot 2018-06-08 at 6 15 13 pm](https://user-images.githubusercontent.com/24359/41183303-09785f0e-6b48-11e8-8381-0b5a3004ea6d.png)

[2018-06-08 22:16] jywarren commented on #2727
Reproducible too!

[2018-06-08 22:21] cheneyshreve commented on #2452
@sagarpreet-chadha I have made some edits and submitted a PR. I know there are still issues, but hopefully I'm on the right track. Thank you for your kindness and support during this process!