[2019-01-21 16:58] gauravano commented on #4641
Hi @geekychaser thanks for pointing to the issue. Thanks @dewanhimanshu for reporting, closing this one as it is already reported.

[2019-01-21 16:58] #4641 closed

[2019-01-21 17:35] geekychaser commented on #4676
@SidharthBansal I would love to do check-in for next week.
Thank you

[2019-01-21 17:36] SidharthBansal commented on #4676
Great

On Mon, Jan 21, 2019, 11:05 PM Rishabh Bothra <notifications@github.com
wrote:

[2019-01-21 17:39] gauravano commented on #4178
Hi @SidharthBansal, actually your name is tagged in the comment as you can see - https://publiclab.org/notes/cess/10-24-2018/outreachy-proposal#c20953 . But, yes it is not shown tagged in the quoted mail text, but I think we can ignore that. What do you think?

 cc @SidharthBansal @namangupta01 @jywarren

[2019-01-21 17:39] gauravano commented on #4178
Feel free to close this issue, if any of you thinks, the issue doesn't need that attention. thanks!

[2019-01-21 17:46] SidharthBansal commented on #4178
The issue needs attention. I reported this in mailer issue.

[2019-01-21 17:47] SidharthBansal commented on #4178
codelink must be inside config/initializer

[2019-01-21 17:55] gauravano commented on #3944
I think we can add the above tips in the installation section or we can create some installation FAQ at publiclab.org/wiki/install-plots or a separate file in docs. What do you think @jywarren?

[2019-01-21 18:35] namangupta01 commented on #2497
For multiple tab issue, we can have a table having information of comment and the user which have received the notification and don't send that comment notification on another tab because that comment is already sent to the user through the notification. We can check this while polling for the comment.

[2019-01-21 18:44] #4553 closed

[2019-01-21 18:46] jywarren commented on #1502
OK, using `jlouvain` I was able to add community detection: https://github.com/upphiminn/jLouvain

I don't have enough test data to see how this'll work but if #4679 passes, i'll merge it and we should be able to see it running with community detection at:

https://stable.publiclab.org/stats/graph?limit=101

(once it builds)

[2019-01-21 19:10] jywarren commented on #2497
This sounds interesting. How do other people solve the multi tab issue? I
would guess it happens a lot.

On Mon, Jan 21, 2019, 1:35 PM Naman Gupta <notifications@github.com wrote:

[2019-01-21 21:28] rexagod opened #4680 "Fix same CSS Id "#username-signup""
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-21 21:28] rexagod opened #4681 "Replace "&amp;" HTML Entity"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-21 21:49] skilfullycurled commented on #1502
Hey everyone!  Looking awesome.  Sorry I haven't been able to reply, catching up on somethings and will return to this later today.

In the meantime, another ingredient which I don't think I mentioned in any of my other posts is the layout.  The one closest to what I used is probably the [force layout](https://github.com/Nickolasmv/cytoscape-ngraph.forcelayout).  Technically it may have been somet

[2019-01-21 22:10] rexagod commented on #4676
Greetings everyone! It's always amazing to see all the efforts and hard work everyone is putting around here, even in other repositories as well. I would however, like to take this opportunity to promote an idea that sparked over at the [Image Sequencer](https://github.com/publiclab/image-sequencer/pull/691#discussion_r249277940). The idea basically focuses on creating a pinned issue that advises

[2019-01-21 23:15] gauravano commented on #3262
Actually, I am not able to understand whether categorization of files currently present at Transifex is automatically done at time of upload or is it done after uploading files to Transifex to organize files in folders replicating the locales folder.

I read the @jiteshjha's research notes(final work product and also prepared gists), it seems like all files are uploaded at Transifix first and then

[2019-01-21 23:17] gauravano commented on #3262
Also, there's a blog post regarding the Transifex integration https://blog.ghost.org/transifex-integration/  which is nicely presented.

[2019-01-22 01:41] Chrisyee22 commented on #4681
Can I work on this?

[2019-01-22 01:41] Chrisyee22 commented on #4680
Can I work on this?

[2019-01-22 06:31] rexagod commented on #4681
Hey @Chrisyee22! Sure, go ahead!

[2019-01-22 06:40] rexagod commented on #4680
I think you're currently assigned to #4681. Please leave this for any new contributors. Thanks!

[2019-01-22 06:55] milaaraujo opened #4685 "Remove `/api/srch/peoplelocations` endpoint"
Hey @jywarren,

Since we have the option `sort_by=recent` in the `/api/srch/nearbyPeople`, do you think we can remove `/api/srch/peoplelocations` endpoint (search the the users with most recent activity that have coordinates - lat and lon values - on their user tags)? `nearbyPeople` search users within the rectangle boundary which is better than use the two points logic.

It looks like `/api/srch/

[2019-01-22 07:08] icarito commented on #3404
Hi!,
I've pinpointed the issue, child jobs don't inherit the app environment so we have to pass variables like this:
https://github.com/publiclab/plots2/pull/4619/files

With these variables (PATH, GEM_HOME, SECRET_KEY_BASE, and REDIS_URL), I don't get a trace in `unstable`, but no email attempt either. Perhaps more environment variables are needed?

We're so close! Please merge #4619 and let's se

[2019-01-22 08:09] milaaraujo commented on #4659
Hey @jywarren,

Answering your question: We do not have an endpoint that returns people who follow the tag and are in a bounding box. However, nearby people endpoint can filter users with a specific user tag (and inside a bounding box). So we could:
1 - Change `/api/srch/nearbyPeople` and instead of filter by user tag we could filter by subscribed tag.
2 - Or modify `/api/srch/nearbyPeople` to rec

[2019-01-22 10:35] avsingh999 opened #4688 "Add some css transitions effect"
I think if there will be some CSS transitions such that to make delay the animation. It will be good.
![pub1](https://user-images.githubusercontent.com/25536022/51529603-0b310880-1e5f-11e9-9aee-584b13b01849.gif)

[2019-01-22 11:53] jdevo23 commented on #4680
Can I claim this one?

[2019-01-22 12:13] jywarren opened #4689 "build error on stable branch, minitest gem"
I'm seeing an error on the stable build server:

[code]

Any idea why this is happening or how to resolve it? Is this a very recent release maybe and dependabot got ahead of the gem sources? @publiclab/plots2-reviewers

[2019-01-22 12:36] jywarren opened #4690 "header wrapping issues at some window sizes (recurring issue)"
We keep seeing issues with the header wrapping to 2 lines as items are added or removed from the header, and I'd like to think about how to address this - both the current issue and how to prevent this in the future.

Right now I believe the new icons added have increased the width beyond the breakpoints in CSS. Read more about the issue here:

https://github.com/publiclab/plots2/issues/4502

One

[2019-01-22 12:44] rexagod commented on #4680
Hello @jdevo23! Go ahead!!

[2019-01-22 12:44] jywarren commented on #4522
Hi @gauravano perhaps we should open a more specific follow up issue for this section and highlight where the alerts are being generated both in the oauth flow and in the basic login where the messages are correct (as a model for how to refactor the oauth versions). What do you think?

[2019-01-22 12:46] jywarren commented on #4689
Error here in full https://jenkins.laboratoriopublico.org/job/Plots-Stable/lastBuild/console

[2019-01-22 12:47] jywarren commented on #4680
Thanks for catching this and for helping out, folks!!!

On Tue, Jan 22, 2019, 9:44 AM Pranshu Srivastava <notifications@github.com
wrote:

[2019-01-22 12:54] jywarren commented on #3497
Hi @narnt just checking if you're interested in picking this back up; if not we're happy to help someone else take it on!

[2019-01-22 12:59] gauravano commented on #4689
Hi @jywarren, I opened the link you pasted above but I am seeing this error-

[code]

[2019-01-22 13:01] gauravano commented on #4689
I ran `bundle install` locally at up-to-date master and  got this message:

![build_message](https://user-images.githubusercontent.com/20878070/51537206-e7c48880-1e73-11e9-88ae-fe9090d85a13.png)

[2019-01-22 13:03] gauravano commented on #4689
The error you got @jywarren was encountered in https://jenkins.laboratoriopublico.org/job/Plots-Stable/816/console and last build https://jenkins.laboratoriopublico.org/job/Plots-Stable/818/console is showing the above error - https://github.com/publiclab/plots2/issues/4689#issuecomment-456390410

[2019-01-22 13:17] gauravano opened #4691 "Refactor alerts for Login flow"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

At time of login via OAuth the notices are wrongly shown and sometimes delayed too. See this for reference - https://drive.google.com/open?id=1w9tc4kIkoLJ5tvceoyQ1-kO_yug2pMDR

The l

[2019-01-22 13:18] gauravano commented on #4522
Hey @jywarren I opened a issue at #4691. Thanks!

[2019-01-22 13:25] jywarren commented on #4522
Awesome. Thanks a lot!

On Jan 22, 2019 10:19 AM, "Gaurav Sachdeva" <notifications@github.com>
wrote:

Hey @jywarren <https://github.com/jywarren> I opened a issue at #4691
<https://github.com/publiclab/plots2/issues/4691>. Thanks!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/plots2/issues/4522#issuecomment-4563

[2019-01-22 13:31] sashadev-sky opened #4692 "Ideas for handling weekly check-in mentions"
I mentioned yesterday I wanted to look into the contributor data made available by Github to see if I could come up with a way to use it to handle check-in mentions. (Currently need to manually tag, with a limit of 25 mentions, and no system in place for swapping out inactive users or swapping in new ones)

I pulled the data from plots2 commits from the past 2 months and mapped it out on tableau.

[2019-01-22 13:54] gauravano commented on #4112
Hi @dinaelhanan, what @namangupta01 meant is creating a new function named  `yahoo_quote_present? `  which would be similar in working to Gmail's function mentioned here- https://github.com/publiclab/plots2/issues/4112#issue-387058086

The goal is to replace the line https://github.com/publiclab/plots2/blob/ff870dea11781ab5ed50a806a55f362210f3a638/app/models/comment.rb#L300 with the function.

Let

[2019-01-22 14:37] jywarren commented on #3262
Ok awesome. Thanks for all this great research. Let's go for a single file
and we can consider changes to this in the more distant future if and when
we find that the file gets unmanageable in size.

Thanks!

On Mon, Jan 21, 2019, 8:18 PM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-01-22 14:37] jywarren commented on #4688
That'd be nice! Maybe a blind-down?

On Tue, Jan 22, 2019, 7:36 AM Avkaran Singh <notifications@github.com wrote:

[2019-01-22 14:47] geekychaser commented on #4692
@sashadev-sky It is giving incorrect password or email.
Please correct me if I am wrong

[2019-01-22 14:48] jywarren commented on #4691
We'll need to replicate the types of alerts shown in non-oauth login,
including the "your account was banned" type message and others. Thanks!

On Tue, Jan 22, 2019, 10:18 AM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-01-22 14:56] jywarren commented on #4131
Fantastic work, everyone!!!!

On Sun, Jan 20, 2019, 5:15 AM Sidharth Bansal <notifications@github.com
wrote:

[2019-01-22 15:06] gauravano commented on #4692
Same here :sweat_smile:!

[2019-01-22 15:13] gauravano commented on #4692
I think you can add more users to your project by visiting Users option and then adding user from there. Like I am able to see that option at https://eu-west-1a.online.tableau.com/#/site/gauravs/users for my default project.

[2019-01-22 16:05] niravasher commented on #3897
Hi! I get this error while installing mock server on windows 10.
Installing therubyracer 0.12.3 with native extensions
Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

current directory:
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/therubyracer-0.12.3/ext/v8
C:/Ruby25-x64/bin/ruby.exe -I C:/Ruby25-x64/lib/ruby/site_ruby/2.5.0 -r
./siteconf20190122-15644-14ozghl.rb extconf.rb
checking

[2019-01-22 16:23] avsingh999 commented on #4688
yes @jywarren
: )

[2019-01-22 16:23] sashadev-sky commented on #4692
@geekychaser @gauravano I deleted myself as a 'connected client' maybe you will be able to log in now? If not I can add both of you with your emails if that is okay?

[2019-01-22 17:35] CoderJolly commented on #3897
@niravasher In the error above, it states:
"You have chosen to use the version(Libv8::Location::System::NotFoundError) of V8 found on your system and not the one that is bundled with the libv8 rubygem. "

I am still not sure bt please make sure your system version of v8 that is compatible with 3.16.14.19 installed.

[2019-01-22 17:38] CoderJolly commented on #3840
@twisted-sres Does the error still persist, pls tell the latest progress ?

[2019-01-22 18:05] gauravano commented on #4692
I tried logging in but same error. You can send me invite at sachdeva.gaurav1997@gmail.com Thanks!

[2019-01-22 18:43] geekychaser commented on #4692
Still facing the same error.
email: geekychaser@gmail.com

[2019-01-22 19:25] sashadev-sky commented on #4692
@gauravano @geekychaser added! Thank you for being patient with me

[2019-01-22 20:10] gauravano commented on #4692
Awesome work @sashadev-sky! I think we can do some innovation with Community-Toolbox for listing new contributors. Also, many a times other repo's contributors get ignored due to all the light just on Public Lab.

We can also announce in Gitter channel about check-In so that it gain some more attention. And, as there's some limit over the number of users which can be mentioned at a time. We can br

[2019-01-22 20:12] gauravano commented on #4692
And, here's the work done by @sashadev-sky in PDF form - https://drive.google.com/open?id=12xQtmFVOCFwEm1GtP_vGsNO1Pz-FDRjt . So, no one need to be invited anymore. Thanks!

[2019-01-22 21:21] sashadev-sky commented on #4676
@rexagod I think that would be a good idea for a 2nd or so on issue, like @jywarren has that checklist of the workflow 1) finish an FTO 2) Solve a help-wanted 3) Write your own FTO... we could put somewhere in there to find any problems, open an issue regarding them and challenge yourself to solve it.

For the idea of it being instead of an FTO, though, you would have to consider some factors like

[2019-01-22 23:31] jywarren commented on #4661
Could it have been a direct search at /search/notes?

[2019-01-22 23:32] jywarren commented on #4661
Oh sorry @skilfullycurled, misspelled

[2019-01-22 23:35] skilfullycurled commented on #4661
@jywarren That's on me.  It's what happens when it's 2008, get your first domain, and then make everything consistent without realizing the implications for your future.  I've been meaning to change it.

[2019-01-23 03:20] icarito commented on #4661
![image](https://user-images.githubusercontent.com/199755/51572559-daa79980-1e73-11e9-8749-f0bce32b102c.png)
![image](https://user-images.githubusercontent.com/199755/51572651-2b1ef700-1e74-11e9-922b-aa0745d1ed43.png)

Indeed same issue I think. I [agree](https://github.com/publiclab/plots2/issues/4561#issuecomment-455811383) with @milaaraujo we should look into reducing our database of inactive u

[2019-01-23 03:48] skilfullycurled commented on #4661
Actually, now that I think on it, that'd probably make for a good 500 error page.

I'm going to go submit a feature request.

Brb.

[2019-01-23 03:50] sashadev-sky commented on #4692
@gauravano Thank you for sending it out to everyone in a non-complicated format!

Sorry, what do you mean by do some innovation with Community-Toolbox?

Also for check-in, I felt like copy-pasting and manually updating a list of mentions can get confusing - today I noticed every issue has had many duplicate mentions and that can snowball over time.

At the bottom of the file I mentioned just creat

[2019-01-23 04:20] #3404 closed

[2019-01-23 11:31] Dhiraj240 opened #4698 "Misplaced "I'm not a robot" image over signup button"
![screenshot 191](https://user-images.githubusercontent.com/29758643/51603693-88787e00-1f30-11e9-93ca-b9a0334b46fb.png)

[2019-01-23 13:51] prashant0598 commented on #4681
@rexagod Can I work on this issue if it is not claimed.

[2019-01-23 14:58] rexagod commented on #4681
Sure, go ahead @prashant0598!!

[2019-01-23 15:18] ebarry opened #4699 "Page view sort of wikis in search results does not sort search results, but sorts all wikis"
@bronwen9 and i spotted a tiny bug this morning when testing some Search pathways, here's how it seems to be working:

Searching for "india" by typing https://publiclab.org/search/india, and then clicking the `wikis` button brings you here: https://publiclab.org/search/wikis/india/. The wiki page for India is the last search result.

Attempting to understand what search settings would place /wiki/

[2019-01-23 17:59] gauravano commented on #4698
Hi @Dhiraj240, thanks for reporting the issue. This issue is already reported at https://github.com/publiclab/plots2/issues/4643 and solved too. The changes would be soon pushed on the production. Thanks!

[2019-01-23 17:59] #4698 closed

[2019-01-23 18:14] gauravano commented on #4692
The https://code.publiclab.org page whose codebase is Community -toolbox uses GitHub data for showing contributors too. May be, we can use it to generate a list of new unique users?

This one will require moderators to update the team regularly - adding new contributors and then removing too old and inactive users. Also, we have to take person's consent before adding them to team.

So, announcing

[2019-01-23 19:48] gauravano opened #4701 "Number of languages required at Public Lab"
Hi everyone!

Currently, the drop-down in the footer of the website offers 2 addition languages German and Chinese. But, at Transifex, we have availability of 8 languages and there are many translations available(Hurray :tada: ).

At planning issue #3262 @jywarren took a call for single locale file per language. So, now the question is how many languages we want to consider for the integration wit

[2019-01-23 20:24] gauravano opened #4702 "Combine all the YAML files present in config/locales in a single file"
At https://github.com/publiclab/plots2/tree/master/config/locales we have all the YAML files in the directories. We want to combine all the files present in those directories with one file for each language. Let's start with English.

Either we can do this task manually or can use some help from existing resources. I have found https://gist.github.com/branch14/1010381 to be useful and have tested

[2019-01-23 22:16] jywarren commented on #4701
Shall we use the 8 mentioned? Perhaps let's especially aim to have
Portuguese, Spanish, and a few others from areas that have done public lab
work?

On Wed, Jan 23, 2019, 4:48 PM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-01-23 22:21] #4350 closed

[2019-01-23 22:32] jywarren commented on #4685
Sure, and great!

On Tue, Jan 22, 2019, 3:56 AM Camila Araújo <notifications@github.com wrote:

[2019-01-23 22:32] #4551 closed

[2019-01-23 22:41] jywarren commented on #4561
I think this is possible especially after the big DrupalUsers migration. We
could identify user accounts with no activity for a period like 1 year and
no nodes, revisions, answers, likes, subscriptions or comments, and remove
them.

On Sat, Jan 19, 2019, 5:11 PM Camila Araújo <notifications@github.com wrote:

[2019-01-23 22:56] jywarren commented on #4689
Hmm @icarito any ideas here? Also see the referenced PR...

[2019-01-23 23:11] gauravano commented on #4701
@jywarren we can surely have all the languages one by one. Some points I am brainstorming are:
1. At Transifex all these languages are also present in different files, so we will be merging them
2. There are 2 states - Translated and Reviewed, https://docs.transifex.com/projects/downloading-translations

So, we need to merge all those files in a single file for each language. I need to download th

[2019-01-23 23:16] jywarren commented on #4701
Oh I see.  Yes that sounds like a great solution!!

On Wed, Jan 23, 2019, 8:12 PM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-01-23 23:37] gauravano commented on #4701
@jywarren  I have posted in Transifex community - https://community.transifex.com/t/transitioning-from-directory-structure-to-single-file-structure-rails/152?u=gauravano about our issue asking for advice for any alternate approach.

[2019-01-24 03:08] sashadev-sky commented on #4692
@gauravano so I guess for innovation with generating and showing statistics about user contributions publiclab/community-toolbox#131 is now the place to discuss. I will write there shortly :)

As for the check-ins, I like the idea of going forward with Gitter. I can write up a plan for switching to that solution and other details if you want to go ahead with it, let me know!

[2019-01-24 04:49] icarito commented on #4689
Hi, I did a few tests and finally tried this in our staging server:

[code]

Note the timeouts when downloading. This is a problem with the network connection at the MIT site, I believe.

[2019-01-24 05:32] milaaraujo commented on #4659
I'm not sure... I opened a new PR with suggestion number 2 (#4703). Here added `field` parameter and when `field=node_tag` it search users following the node topic (`tag=query`).

Actually, I think this solution is more elegant than creating a new endpoint (#4687). What do you think? #4687 or #4703?

[2019-01-24 05:47] Dhiraj240 commented on #4698
Oh !! great

[2019-01-24 05:49] arungoel123456 commented on #4423
@oorjitchowdhary  Can I work on this issue

[2019-01-24 06:03] SidharthBansal commented on #4423
Yes

On Thu, Jan 24, 2019, 11:19 AM Arun Goel <notifications@github.com wrote:

[2019-01-24 08:58] BodeSpezial commented on #4424
I want to try it. @geekychaser

[2019-01-24 10:07] BodeSpezial commented on #4424
I'll want to try it @geekychaser

[2019-01-24 12:10] jywarren commented on #4689
Is this something we might report to them to be helpful?

I'm now also watching stable for the latest build to see if it worked.
Thanks!

On Thu, Jan 24, 2019, 2:24 AM Sebastian Silva <notifications@github.com
wrote:

[2019-01-24 12:19] jywarren commented on #4659
Ok, so field switches the tag field between user and node tags? Cool...

On Thu, Jan 24, 2019, 2:33 AM Camila Araújo <notifications@github.com wrote:

[2019-01-24 13:33] jywarren opened #4707 "Call for reviewers group and new co-reviewing workflow ⚡️"
Building on the process we developed in https://github.com/publiclab/image-sequencer/issues/656, I'd like to propose an **improved collaborative workflow for co-reviewing new code** in the `plots2` project. We've had some great success trying this out at `image-sequencer`, and although we already do a lot of co-reviewing here in the `plots2` project, I also think we could share the responsibility

[2019-01-24 13:35] jywarren commented on #4707
Also, @publiclab/reviewers (our older group we are revising!) please check this out!

[2019-01-24 13:41] sagarpreet-chadha commented on #4707
Count me in :) !

[2019-01-24 15:03] arungoel123456 commented on #4640
@jywarren  please tell wether to work on this issue or not

[2019-01-24 15:19] arungoel123456 commented on #4688
@jywarren  can I please work on this issue

[2019-01-24 16:48] geekychaser commented on #4424
@BodeSpezial Yeah, you can do it but let us wait for confirmation from @publiclab/community-reps

[2019-01-24 16:49] milaaraujo commented on #4659
Exactly!

[2019-01-24 17:41] arungoel123456 commented on #4681
Can i work on this issue?

[2019-01-24 17:52] rexagod commented on #4681
Sorry @arungoel123456, it looks like @Chrisyee22 has already submitted a PR. But you can go ahead and checkout [other first timer issues](https://github.com/publiclab/plots2/issues?q=is%3Aopen+is%3Aissue+label%3Afirst-timers-only) in the meantime. Thanks!

[2019-01-24 20:09] gauravano commented on #4688
Hey @avsingh999, nice idea!

Note: `first-timers-only` issues need to have this template https://github.com/publiclab/plots2/blob/master/.github/ISSUE_TEMPLATE/first-timers-issue-template.md for being eligible to be a FTO issue, so please take care to follow the template from next time.

@avsingh999 you want to work on this issue yourself or @arungoel123456 can take on this one? Also, @avsingh999

[2019-01-24 20:21] gauravano commented on #4692
Currently, each week we offer someone new (who haven't opened Check-In before) to do open the check-In. I think we can include this step - "Sharing of Check-In issue in Gitter channel" to the process? What do you think?

Thanks

[2019-01-24 21:53] jywarren commented on #4659
Ok this sounds great.

On Thu, Jan 24, 2019, 1:50 PM Camila Araújo <notifications@github.com wrote:

[2019-01-24 22:05] milaaraujo commented on #4659
I just closed  #4687, since it looks like we will be using #4703 approach.

Can you review #4703 again? I've already fixed what you asked.

[2019-01-25 00:44] sashadev-sky commented on #4692
@gauravano Yes do you think it should be the same message every time? Something like "hi all, please see our weekly check-in here. Everyone is welcome to contribute and we encourage new users to get involved" and in the check-in itself add something like "we share this weekly check-in on gitter consider signing up so you can receive weekly reminders when its posted"

Just wanted to make it clear t

[2019-01-25 00:46] sashadev-sky commented on #4692
@gauravano I think it mentions new users already but we can make it even more explicit

[2019-01-25 03:04] icarito commented on #4689
I think this blocker has been solved by tweaking the server's DNS configuration. Let me know if it resurfaces!

[2019-01-25 03:04] #4689 closed

[2019-01-25 03:30] arungoel123456 commented on #4423
Thanks @SidharthBansal .... I am working on this

[2019-01-25 10:32] cesswairimu commented on #4676
Hello everyone :wave:,
I have been working on expanding the statistics project. What excites me about this project is the amount of data on the website and how it is can be used to track trends so I am just trying to make it easier to track the trends and the people doing data analysis easy for them to retrieve the data.
Nice theme @sashadev-sky,

[2019-01-25 12:49] SKashyapD commented on #4660
*Tag Prediction*
Suggest the tags based on the content of the post posted on the website of
public lab

* 1. Real World / Business Objectives and Constraints *
   1.1 Predict as many labels as possible correctly.
   1.2 No strict latency constraint.
   1.3 Cost of errors would be a bad customer experience.

* 2. Machine Learning problem  *
  * 2.1 Data*
     Requires lots of data to train the mach

[2019-01-25 13:31] jywarren commented on #1502
Working now on stable server!

https://stable.publiclab.org/stats/graph?limit=99

[2019-01-25 15:46] IshaGupta18 commented on #4592
Hey I love this idea, I was kind of thinking about a more personalised user experience (one way through tags) for my Gsoc proposal, so I would love to delve into this for the same, would that be okay @SidharthBansal if I consider this as one of the ideas?

[2019-01-25 15:49] IshaGupta18 commented on #4640
Hey @arungoel123456 I may be wrong but I think that if you look into the code, you'll find that this is happening just because we are sending a post request and not using javascript to update the number of likes.

[2019-01-25 15:56] oorjitchowdhary commented on #4707
I'm in... :))
I've completed the prerequisites..

[2019-01-25 16:01] oorjitchowdhary commented on #4676
Hello all 👋
I haven't been online lately -- sorry for that.

Hope I'm just in time to ask this...
As per GCI rules, a Grand Prize Winner can ask for a Letter of Recommendation. I had asked the GCI Program Manager but she insisted to ask the mentors to write it out as they've worked with me.

So, @publiclab/reviewers can I ask for a Letter of Recommendation for me for my work and contributions to t

[2019-01-25 16:05] SidharthBansal commented on #4592
This project greatly depends on the depth with which we can look at the issue.
As per the issue description I think it is relatively small issue compared to GSoC project. In case we are looking for flask integration so that the recommendation system can be built then it can be considered for GSoC else it cannot be as per my judgement.
You can start working on this if you want. Also @jywarren pleas

[2019-01-25 16:08] SidharthBansal commented on #4676
Whom did you ask?
There are multiple program manager at different locations. Can you please
name her?
Yeah sure we can help you with LORs. You can ask us whenever you have to
submit it anywhere. We will help you with it

On Fri, Jan 25, 2019, 9:31 PM Oorjit Chowdhary <notifications@github.com
wrote:

[2019-01-25 16:12] oorjitchowdhary commented on #4676
I asked GCI support and Stephanie Taylor replied to that thread.

I don't really have to submit it anywhere yet but I'd like to have it.

[2019-01-25 16:14] IshaGupta18 commented on #4592
Yes I get it, if we really take this issue in depth only then it can be considered as a GSoC project, I was thinking of other things along with something about personalized tags for the same, that's why I asked you. Like if I can expand on the idea of a personlized feed ( I haven't thought about it in depth, I have some vague ideas) and include this as one of the features, will this be good?

[2019-01-25 16:19] jywarren commented on #4689
Thanks!!!!! Let's follow up later, good ideas.

[2019-01-25 16:24] SidharthBansal commented on #4592
Isha, we need to hold on this until Jeff comments. Integrating flask for ml
for many workflows is a HUGE step. It will be much bigger task then you
think.
We need the data preprocessing, data cleaning and a lot other things on the
tag before applying the recommendations. Also, there is tremendous other
things to be explored. So let's wait.
Simpler approach as Jeff indicated is using Js local stora

[2019-01-25 20:10] geekychaser commented on #4440
@arungoel123456 I guess there is already a PR for this, but you may check out some other `first timer issue`

[2019-01-25 21:09] jywarren commented on #1502
It should be running on the live site by later tonight, but i wanted to note that "overuse" of tags by some users has skewed the graph in a way that we've recognized before. I believe one of the users has been moderated from the site, and I wondered if folks thought it appropriate to either delete those tags from the site or to at least omit them from the graph. Deleting them would be easier but w

[2019-01-25 21:53] skilfullycurled commented on #1502
I think I even logged a github issue with a feature request that popped up a warning that would in essence say, "Whoaaaaaaaa, easy there fella!  Looks like you've got yourself a lot of tags there, eh?".

[2019-01-25 21:54] skilfullycurled commented on #1502
Oh, PS.  Looking awesome by the way!!

[2019-01-26 01:41] jywarren commented on #3404
Yes!!!!!!

On Fri, Jan 25, 2019, 10:28 PM Sebastian Silva <notifications@github.com
wrote:

[2019-01-26 06:53] shubhscoder commented on #4676
I would like to do the community check in the next to next week after @geekychaser has done it. Thank you!

[2019-01-26 07:02] avsingh999 commented on #4688
@gauravano  Sorry for that. I will use that template for next time.
thank you : )

[2019-01-26 07:03] avsingh999 commented on #4688
@arungoel123456  go ahead.
:smile:

[2019-01-26 08:58] gauravano commented on #4692
Although, from a perspective of newcomer, I would like to see new messages every week, that's the reason I and most of people would agree that doing check-in in rotations is good and everyone get to express their theme ideas/expressions.

That's nice idea!

That's great! We can also point them to publiclab.org, like this time you did it well.

Thanks!

[2019-01-26 09:02] gauravano commented on #4676
Reminder for @geekychaser: Please open the community check-In on Monday (or Sunday evening). Also, please drop a message in Gitter channel (tagging @all) after opening a check-In. As using Gitter channel we can try to reach max people. You can take more ideas from here - https://github.com/publiclab/plots2/issues/4692#issuecomment-457413684

Also, we are discussing more ideas here - https://github

[2019-01-26 09:47] harsh1599 commented on #4524
Hey! I would like to work on this!

[2019-01-26 12:49] sashadev-sky commented on #4692
@gauravano I saw your message in the check-in! Should I close this issue?

[2019-01-26 14:43] gauravano commented on #4692
yes, it can be closed now, also could you please add [lines](https://github.com/publiclab/plots2/issues/4692#issuecomment-457413684) to currently open check-in, so they are not missed by contributor whoever opens new check-in. And, thanks for brainstorming over the ideas for community outreach.

cc @jywarren

[2019-01-26 15:42] gauravano commented on #4524
Hey @harsh1599, please go ahead! Thanks!

[2019-01-26 16:03] sashadev-sky commented on #4692
@sashadev-sky Ok I changed it! Feel free to make any edits to it. I also was thinking to add the new reviewers group, where it says who to ask for help, but I wasn't sure if they are fully integrated yet.

[2019-01-26 16:18] ebarry commented on #1502
AAAAAAHHHHHHHHMAYZINGGGGGGGGGG!!!!!!!!!!!!
Yes to manually "remov[ing] that particular user as an outlier"

[2019-01-26 16:39] gauravano commented on #4692
Hmm, as check-in is common for all the Public lab repos so we need to add something like: "Ask @publiclab/plots2-reviewers for help with plots2 project, @publiclab/is-reviewers for ImgSeq" and so on. Thanks!

[2019-01-26 16:42] rexagod commented on #4692
Just a thought, possible `fto` would be making a "Check-in" template with all the necessary info like the one above.

[2019-01-26 16:44] gauravano commented on #4680
Hi @arungoel123456, this issue just about to be complete so please search https://code.publiclab.org/#r=all for finding more FTO issues. Thanks!

[2019-01-26 16:47] gauravano commented on #4692
But, then everyone will just copy the template and will not try to play with the words, ideas, etc, in short, will not try anything new. Like, this time Sasha added about publiclab.org and how useful it is and theme, so we want everyone to be excited to get involved and know something new.

[2019-01-26 16:51] gauravano commented on #4692
But, we can document steps for check-in opening, which will tell people what we expect from the check-in and what they have to do(like, making it an official part). What do you all think?

[2019-01-26 21:05] #4680 closed

[2019-01-27 03:15] sashadev-sky commented on #4692
@gauravano Great idea. I can write that up if you would like, or we can put it on a Google doc so we can easily collaborate on it because it's pretty subjective. @rexagod @geekychaser

[2019-01-27 13:44] geekychaser opened #4711 "Weekly Community Check-In #7 - "Commitment""
Hi everyone :wave: !

We all at Public Lab :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and a

[2019-01-27 13:44] jywarren commented on #1502
Hi all, glad for the enthusiasm! I got sick but a recovering now and will work a bit on this on the flight home on Tuesday.

I did want to ask - my specific question is whether we should:

1. actually delete tags from this moderated user, or
2. if we should try to preserve them but filter them out.

Filtering would be considerably more work both to code and for the database calls, but is possible.

[2019-01-27 14:30] SidharthBansal commented on #4663
Yeah sure.

On Sun, Jan 27, 2019 at 8:00 PM snpd25 <notifications@github.com> wrote:

[2019-01-27 15:15] IshaGupta18 commented on #4690
Yes, removing the icons is solving this issue momentarily, we can brainstorm to make this code more flexible. But for now, do you want to remove the icons, I could make a PR for it?

[2019-01-27 15:42] akoopraba4 commented on #3712
Could you explain what we should do?

[2019-01-27 16:35] gauravano commented on #4711
Thanks for awesome check-in @geekychaser!

Upcoming week's goal :
1. I would try to do maximum issues I have assigned myself in past
2. Getting more familiar with Mapknitter codebase, reviewing issues, documentation updates, integration, etc.
3. Working on the Translation project, specifically, transferring directory system to file specific system for each language.

Wish you all happy week ahead,

[2019-01-27 16:37] gauravano commented on #4676
New weekly check-in opened at #4711. Thanks all of you!

[2019-01-27 16:43] jywarren commented on #4690
That'd be great, thank you!

On Sun, Jan 27, 2019, 12:15 PM Isha Gupta <notifications@github.com wrote:

[2019-01-27 16:49] gauravano commented on #4690
Hi @jywarren, the menu work is in progress at https://github.com/publiclab/plots2/pull/4517 , so you can add your comments there to help @Chrisyee22.

@IshaGupta18 you can collaborate with @Chrisyee at #4517 so that issue can be resolved as soon as possible. Thanks!

[2019-01-27 17:14] IshaGupta18 commented on #4690
Yes absolutely @gauravano ! @jywarren #4713 is my PR for the temporary fix. Thanks a lot!

[2019-01-27 17:15] IshaGupta18 commented on #4502
@Chrisyee22 we can resolve this together, you can refer to #4690 for some more information. I would love to work with you. Thanks a lot!

[2019-01-27 17:17] sagarpreet-chadha commented on #4711
Hi all :smile:  !

I will be working on adding latitude and longitude support to PL.editor's map module - which will pan location on map instead of showing default location , to given input location .
Also reminding myself here to update Readme as well to update API documentation :P .

Thank you all and have a great week ahead :dancer: :tada: !

[2019-01-27 18:09] skilfullycurled commented on #1502
In cases such as this one where an account has been made "inactive" due to moderation, then I think it's fine to just delete the tags from the database outright.  Especially if you have a backup.  Not because you might want to restore it, just because I have anxiety about losing data forever.  It's not healthy, but cheap space is an unfortunate enabler.  My feelings would be more complicated if th

[2019-01-27 19:23] edieblu opened #4714 "Can't publish a newResearch Note"
**Steps to reproduce:**

    Navigate to https://publiclab.org/post and after filling in the required fields, hit publish.

**Expected behavior:**

    The research note is published.

**Actual behavior:**

    Nothing happens. Attaching the console errors here.

![screenshot 2019-01-27 at 19 18 20](https://user-images.githubusercontent.com/17270662/51805732-cc3cf180-2268-11e9-9881-d551e4bd69a7.pn

[2019-01-27 20:04] gauravano commented on #4714
Hi @edieblu, thanks for reporting the issue with such descriptive steps.

@jywarren I think, PublicLab.editor integration is not properly working as the editor instance isn't created resulting in "cannot read property titleModule of undefined".

Thanks!

[2019-01-27 22:43] IgorWilbert commented on #4711
Hello everyone 😄! I'm very happy for being part of this project!

Upcoming week's goals:
1- Final touches on the PRs I opened for the Editor, so that they can be meged;
2- Investigate old open issues and if possible turn them into FTO-issues;
3- Continue planning on plots2 mobile version for GSoC, pointing out the most important functionalities and how to implement them;
4 - Get familiar with Imag

[2019-01-28 01:41] sashadev-sky commented on #4692
@gauravano On it! and for the new check-in (I will check-in there shortly :) @geekychaser ) did we decide to do Gitter and keep the tags on the post? I think the tags could be removed, and perhaps just keep a few for community organizers (maybe like ebarry jywarren gauravano SidharthBansal whoever else I may have missed)

[2019-01-28 02:17] jywarren commented on #4714
Uh oh, maybe we can ask @rexagod or others who've been working on the
editor recently if there have been any changes that could've caused this?

On Sun, Jan 27, 2019, 5:04 PM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-01-28 07:43] avsingh999 commented on #3524
@jywarren @SidharthBansal can I work on this issue?
thanks :smile:

[2019-01-28 08:17] SidharthBansal commented on #3524
yes

[2019-01-28 08:20] SidharthBansal commented on #4711
Hello everyone!!!
I am trying to explore MapKnitter this week. Let's see what I can do and
find interesting.

On Mon, Jan 28, 2019 at 4:13 AM igorwilbert <notifications@github.com>
wrote:

[2019-01-28 10:10] akshaygupta533 commented on #4702
Can I collaborate with you on working on this?

[2019-01-28 11:46] gauravano commented on #4702
Hi @akshaygupta533, you can help for sure, I will try to divide the tasks from this one soon. Thanks!

[2019-01-28 12:12] gauravano commented on #4702
Hi @jywarren @ebarry @steviepubliclab,

Here's the progress at Transifex
![overview_translations](https://user-images.githubusercontent.com/20878070/51834508-90656300-2320-11e9-82b5-dac959649651.png)

As you can see the number of strings reviewed are very less. I have exported the report - https://docs.google.com/spreadsheets/d/1SznxOoZXHnh6gxMyd2lAshSYXSHfHg46JoblBzr__qA/edit?usp=sharing
and you'

[2019-01-28 14:22] jywarren commented on #4714
Can we get a line number for the editor error, I wonder if it's due to the changes to the "steps left" code?

[2019-01-28 14:23] jywarren commented on #4714
Hmmm maybe not as that was only 24 h ago...

#252
Fix Publish button disabled state
Closed by jywarren about 24 hours ago

https://github.com/publiclab/PublicLab.Editor/pull/252

[2019-01-28 14:24] steviepubliclab commented on #4424
Hi all,
Just seeing this. Can you clarify where you're hoping to put the logos? (maybe a screenshot with arrows?

Thanks!
-Stevie

[2019-01-28 14:24] jywarren commented on #4714
And perhaps we can try to replicate it on stable.publiclab.org...

[2019-01-28 14:41] gauravano commented on #4424
Hey @steviepubliclab, just adjacent to Public Lab heading

![nav_logo](https://user-images.githubusercontent.com/20878070/51843420-eba34f80-2338-11e9-980c-5013396c39be.png)

Thanks!

[2019-01-28 15:38] kunalvaswani123 commented on #4250
I am sorry, I didn't reference a PR till now, I had 3 deadlines last week. I'll reference a PR as soon as I can..

[2019-01-28 16:59] ebarry commented on #1502
Yeah this is a big topic to contemplate. After reviewing if there are tags that _only_ this user has used (example: `aries` `city-point`), i found that actually there are very few tags completely isolated to this user (even `purelab` was originally used by Shan He about DIY water filtering, and `research-notes` was originally used on posts discussing the design of research notes on the website).

[2019-01-28 17:49] EKMallon commented on #4617
OK, tried again from our mac computer (Imac Duo  osx10.7) , Safari: doesnt even respond to the login button. Firefox - again not even a response from the browser to the login button.  Chrome - logs in, but when making a post no response to either the drag-n-drop, or the choose a file when trying to add an image to a post.  Since these trials were done on a different system, I no longer think this

[2019-01-28 18:07] Dhiraj240 commented on #4711
Hello everyone,
I am going to work on ```Mapknitter``` and ```SpectralWorkbench``` projects.
Initially i will do their setup on my local machine.
For this week my end result should be to understand the codebase of ```Mapknitter``` and solve the issues, if i unable to solve it then i will report at least two code specific ```fto``` issues.

[2019-01-28 18:23] skilfullycurled commented on #1502
@ebarry, I should clarify (in case it wasn't).

When I said:

I meant what you closed with:

If the moderated user and Shan He both used the tag "purelab", "purelab" wouldn't be deleted, just any instance of the tag from the moderated user or, ITMU's, if you will.

The remaining question (if I'm understanding @jywarren) is whether or not to delete these ITMU's from the database entirely, or do we

[2019-01-28 18:24] jywarren commented on #4617
Ok we're going to escalate this as I think there's some broader issue that
affects not only you. Thanks!

On Mon, Jan 28, 2019, 2:49 PM The Cave Pearl Project <
notifications@github.com wrote:

[2019-01-28 18:55] jywarren commented on #1502
Yes no worries NodeTags don't delete the Tag, just the link associating
tags with nodes and authors. I already did it actually but need to flush
the weekly cache (that's what made this whole thing possible) and there are
a couple more urgent bugs to address first that just came up today, sorry!

On Mon, Jan 28, 2019, 3:24 PM skilfullycurled <notifications@github.com
wrote:

[2019-01-28 19:30] jywarren commented on #4714
@sagarpreet-chadha is there a possibility that this could be related to needing additional dependencies for the new map module? See above errors... I'm trying to reproduce.

[2019-01-28 19:38] jywarren commented on #4714
Aha! I believe the error is related to not loading the Google geocoding library. Not sure why it's not loading but it is a dependency of the new Editor map module.

I tracked it to here, but I think that's just the symptom of the true cause: https://github.com/publiclab/plots2/blob/87db5642c4f434e9eaaa3478f79d2584916c6d09/app/views/editor/questionRich.html.erb#L172

[2019-01-28 19:45] jywarren commented on #4676
I missed chiming in this past week, so I just wanted to say I really loved the theme and all the ideas shared here. Lots of growth in our community and this is how we achieve it! @rexagod we have a few pinned issues in this repo along with those at the "support" label. Maybe these could be generalized for other repos or copied?

[2019-01-28 19:51] ebarry commented on #4711
Hi Everyone,
This week I am interestedly following @cesswairimu's work on https://github.com/publiclab/plots2/pull/4693 (if you have ideas on the readability of graphs, let us know!), also the tag visualization going on here with @skilfullycurled https://github.com/publiclab/plots2/issues/1502, and the conversations on Community-Reps channel: https://github.com/orgs/publiclab/teams/community-reps

[2019-01-28 19:54] jywarren commented on #4714
Aha! I believe the error is related to not loading the Google geocoding library. Not sure why it's not loading but it is a dependency of the new Editor map module.

I tracked it to here, but I think that's just the symptom of the true cause: https://github.com/publiclab/plots2/blob/87db5642c4f434e9eaaa3478f79d2584916c6d09/app/views/editor/questionRich.html.erb#L172

OK, it seems to relate to how w

[2019-01-28 19:54] rexagod commented on #4714
It seems to stem from here.
https://github.com/publiclab/PublicLab.Editor/blob/ffcb496c6be2abf813c7e38f8ef3d72a8426251d/src/modules/PublicLab.MapModule.js#L28

[2019-01-28 19:57] rexagod commented on #4714
That would explain why none of the footer buttons seem to work.

[2019-01-28 19:58] jywarren commented on #4714
This was saved in a db-backed feature -- we have features in both header and footer so i just moved it. Will do same on stable and check there too.

[2019-01-28 20:02] skilfullycurled commented on #4711
Liz can you resend the community-reps link?

Or maybe it’s restricted.

I’m getting a 404.

[2019-01-28 20:10] rexagod commented on #4714
I did have a hunch about the mapModule causing this since that was the last major addition to the repo and the logs too indicated the same. `"google" is not defined` was a straight indication to the scripts not being loaded. :thinking:

[2019-01-28 20:10] jywarren commented on #4714
OK it's live on production and @edieblue you should be able to post now although i haven't confirmed this myself.

[2019-01-28 20:11] ebarry commented on #4711
Hmmm, can you see if you are in the "public lab organization"? https://github.com/orgs/publiclab/people

[2019-01-28 20:12] rexagod commented on #4714
@jywarren It's working now.

[2019-01-28 20:14] jywarren commented on #4714
Great. Closing this! Also noting that:

1. we should try to do our testing on https://stable.publiclab.org when possible
2. this was a tough one to catch because we are trying to keep the Google Maps API key configurable and not git-tracked, so it didn't show up in development mode.
3. i was thinking of how we could test for this bug in the future but as it's due to a dependency i think i'm less w

[2019-01-28 20:14] #4714 closed

[2019-01-28 20:24] jywarren commented on #1502
OK, managed to delete all tags created by the moderated user. They are stored in backups. This was pretty easy and won't affect code moving forward, unlike the other solution.

Now I want to suggest that there might be a different layout we want to use -- we're using a `cose` layout, and there are variations (`bilkent` and others) but there is also a `cola` layout. I really don't know the appropri

[2019-01-28 20:34] jywarren commented on #1502
https://github.com/cytoscape/cytoscape.js-cola

http://js.cytoscape.org/#demos

[2019-01-28 20:47] jywarren commented on #4617
OK, I believe I've tracked this to an issue from 12 days go (!!! although it may not have been published until more recently). However that only compounds the issue, since this was originally reported before then. I believe the recent issue, fixed in https://github.com/publiclab/plots2/commit/dc3bc719a139d72bf8855b4a3077c695f4643791, was the one affecting everyone. I've submitted a fix and we'll s

[2019-01-28 20:54] jywarren commented on #4617
OK, i've confirmed the first fix worked but:

Now I can successfully drag/drop or click to choose an image and upload it in a comment, in Chrome on ChromeOS --

Meaning i'm going to have to try to see if I can more closely replicate the originally reported issue in one of the configurations above. Thanks again for your patience.

[2019-01-28 21:07] gauravano commented on #4692
yes, current check-in contains the Gitter link and I announced in Gitter channel about the check-in too.

Let's keep tags for a while but yeah, we can cross some names as per best of our knowledge of active contributors.

Thanks!

[2019-01-28 21:17] jywarren commented on #4589
Yes, my apologies! Those with write permissions can push to the `unstable` branch at publiclab's repository on Github, and that will initiate a build at https://unstable.publiclab.org. Both of you should be able to, or either I or someone in @publiclab/maintainers can give you this permission i believe. Just be sure to coordinate in the chatroom (announce it) when you do because there is only one

[2019-01-28 21:20] jywarren commented on #4707
@sashadev-sky - maybe you'd be interested? I know @paarmita has been really helpful on this kind of activity as well although haven't seen you in a little while, but do tell us if you're interested! Thanks all! 🎉

[2019-01-28 21:25] jywarren commented on #4711
@skilfullycurled - maybe they're not publicly readable? but i think they are, i just don't know the link. 2 things to think about - first, we'd love to have you join that group, as it's purpose is: `Be the voice of the Public Lab community in feature/bugfix discussions!` -- but also, let's all remember that the "teams" feature is useful for some coordinating but is always to be balanced with the m

[2019-01-28 21:31] jywarren commented on #4692
🌱 🍃 🌴 🌲 🌳 ⚡️

[2019-01-28 21:51] rexagod opened #4717 "Add testing for MapModule's proper construction"
Aims to identify issue #4714 if it happens again. I think we can check to see if the [code below](https://github.com/publiclab/PublicLab.Editor/blob/master/src/modules/PublicLab.MapModule.js#L28) throws an error or not.

[code]

Reference - https://github.com/publiclab/plots2/issues/4714#issuecomment-458284117

[2019-01-28 21:51] rexagod commented on #4717
https://github.com/publiclab/PublicLab.Editor/blob/master/src/modules/PublicLab.MapModule.js#L28

[2019-01-28 21:54] rexagod commented on #4717
@jywarren Can we proceed with this?

[2019-01-29 00:18] sashadev-sky commented on #4707
@jywarren Thank you for mentioning me, I would love to join the group 👍

[2019-01-29 03:17] jywarren commented on #2497
Also a good potential resource!!! https://dev.to/evilmartians/crafting-user-notifications-in-rails-with-active-delivery-5cn6

[2019-01-29 03:18] jywarren commented on #2497
Ah and link to mentions of Action Cable here!  https://github.com/publiclab/plots2/issues/3283

[2019-01-29 03:41] jywarren opened #4720 "long term planning for Ruby and Rails upgrades"
Let's please not rush into this, but just as we're going about our day to day work, we can collect resources and notes on upcoming versions to steadily prepare for. Here's a post on deprecations in Rails 6!

https://blog.driftingruby.com/ruby-on-rails-6-0-beta-1-deprecations/

[2019-01-29 03:47] #4522 closed

[2019-01-29 03:49] jywarren commented on #4711
I'd also like to request some help with breaking this issue down and getting it resolved. I don't think it'll be too hard and it'll make a big difference for oauth users.

Thanks all!!!

https://github.com/publiclab/plots2/issues/4691

[2019-01-29 05:35] EKMallon commented on #4617
Did some more noodling around and confirmed that this bug only affects adding images _to the comments_ below a given research note.  I have no problem adding/uploading images to the main body of the research note in any of the browsers I tested last night. ( You can see the new images I uploaded there now) but am still unable to initiate an upload to a comment.

[2019-01-29 07:21] edieblu commented on #4714
Works great @jywarren, thanks for the fix! 👍

[2019-01-29 10:12] cesswairimu commented on #4711
Hi all,
This week am committed to get my open three PRs finished and merged.

[2019-01-29 10:46] #4685 closed

[2019-01-29 11:02] sagarpreet-chadha commented on #4717
Hi @rexagod !

`panMapToGeocodedLocation` this function of LBL uses Google API .

The error in #4714 was due to script not being loaded .

- I guess we can write a test to confirm that the script is being loaded or not before the actual loading of the page content , that would make us more confident that this will not happen again

See this comment here (i changed the code where we were loading sc

[2019-01-29 11:11] sagarpreet-chadha commented on #4714
Apologies for late reply 😄 !

I had faced the same error in console when i was working on mapmodule integration , referencing that comment here for future tracking : https://github.com/publiclab/plots2/pull/4608#discussion_r248002791

[2019-01-29 12:06] sagarpreet-chadha opened #4722 "Make Tests for inline maps ."
This page :  https://publiclab.org/wiki/inline-maps  shows the documentation of all the inline maps that we have .

All Inline maps use the same partial `_leaflet.html.erb`  except people-inline-map which uses
`_peopleleaflet.html.erb` .

- [ ]  Remove HASH from URL when using people-inline-map -> No sense of using URL HASH when having more than one inline map on a page .

- [ ] Multiple dependenc

[2019-01-29 12:55] jywarren commented on #4714
Thanks and yes I remember you'd warned a bit of this issue so apologies for
not testing it out more thoroughly!

On Tue, Jan 29, 2019, 8:12 AM Sagarpreet Chadha <notifications@github.com
wrote:

[2019-01-29 12:58] jywarren commented on #4717
Ah yes actually I like the idea of testing if the API exists before loading
it, that'd have stopped this bug from cascading to other issues. Great idea!

I wonder though if the test @rexagod proposes would catch issues like
yesterday's, where the issue was in the deployment setup? Maybe still
worthwhile but let's try to imagine exactly what scenarios it'd catch!

On Tue, Jan 29, 2019, 8:02 AM Saga

[2019-01-29 13:05] bronwen9 commented on #4562
Hey, I noticed we're still getting vacation auto-responses on the site. The most recent one was at the link below (though I'm deleting it now). Is this fixable?

https://publiclab.org/notes/edie_blues/01-29-2019/do-you-like-this-design-for-keeping-track-of-events-and-projects

<img width="838" alt="screen shot 2019-01-29 at 7 58 28 am" src="https://user-images.githubusercontent.com/8331717/5191015

[2019-01-29 13:39] #4524 closed

[2019-01-29 13:48] shubhscoder commented on #4562
Yeah. I am going to work on it soon. Sorry for the delay.

On Tue, Jan 29, 2019, 6:35 PM Bronwen Densmore <notifications@github.com>
wrote:

[2019-01-29 13:53] IshaGupta18 commented on #4720
Yes I think this would be a good idea, to slowly and steadily find resources on upgrading Rails. I think it would be good to have small discussions on small features that will be introduced in the new version and then go about it.

Here are the release notes for v6.

https://edgeguides.rubyonrails.org/6_0_release_notes.html

[2019-01-29 13:54] jywarren commented on #4562
Maybe these might be useful?

https://stackoverflow.com/questions/1027395/detecting-outlook-autoreply-out-of-office-emails

https://stackoverflow.com/questions/9426801/detect-auto-reply-emails-programmatically

https://github.com/geerlingguy/Imap/issues/6

https://github.com/jpmckinney/multi_mail/wiki/Detecting-autoresponders

On Tue, Jan 29, 2019, 10:48 AM Shubham Sangamnerkar <
notifications@git

[2019-01-29 14:17] sagarpreet-chadha opened #4723 "Taglocation API shows spam notes also ?"
I guess we need to remove spammed notes ?
This author is banned on PL .

<img width="1087" alt="screenshot 2019-01-29 at 7 45 05 pm" src="https://user-images.githubusercontent.com/14952645/51914338-a3e6fb80-23fe-11e9-835c-6e34fc080802.png">

Using these coordinates :

<img width="974" alt="screenshot 2019-01-29 at 7 45 13 pm" src="https://user-images.githubusercontent.com/14952645/51914354-ac3f368

[2019-01-29 14:31] Yugandhartripathi commented on #4711
Hello everyone,
This week I plan to dive into <code>PL.editor</code> codebase and participate in brainstorming for soc 2019.

[2019-01-29 14:54] jywarren opened #11140 "go through dependabot upgrades and test, approve, document, and merge them"
Updating this to be a guide to merging dependabot pull requests!

Dependabot automatically opens pull requests (PRs) to upgrade our dependencies -- external libraries we are using. You can see such recently opened PRs at:

- https://github.com/publiclab/plots2/labels/dependencies
- https://github.com/publiclab/mapknitter/labels/dependencies
- https://github.com/publiclab/spectral-workbench/labels/

[2019-01-29 15:08] jywarren opened #4726 "Dangerbot not leaving comments on PR (broken?)"
I noticed recently Dangerbot seems not to be leaving messages on PRs, or maybe just not on all PRs? Is it erroring out? Let's look for some failure point -- see for example #4511 and this Travis run:

https://travis-ci.org/publiclab/plots2/builds/485926486

Here's our current .travis.yml:

https://github.com/publiclab/plots2/blob/master/.travis.yml#L27-L34

Noting also the setup notes here: https:

[2019-01-29 15:20] jywarren commented on #4726
And for how it's supposed to work, see this message that's generated by Dangerbot!

https://github.com/publiclab/plots2/pull/2132#issuecomment-360860929

And here's one reporting errors, from back in September!

https://github.com/publiclab/plots2/pull/3385#issuecomment-423711563

[2019-01-29 15:36] jywarren commented on #4723
Good catch .We should be able to filter with `Node.where(status: 1)`

On Tue, Jan 29, 2019 at 11:18 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-01-29 15:45] jywarren commented on #4722
This is super! So you think a lot of the failures on that page are due to
multiple loading maps on the same page?

On Tue, Jan 29, 2019 at 9:06 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-01-29 16:20] IshaGupta18 commented on #4711
Hey Everyone, this week I plan to get my PRs for #4632 and #4413 merged. I will have to work on #4632 more to get it in place. Apart from this, I would love to solve more issues, here and and at mapknitter, and brainstorm on SOC ideas for 2019. Thanks for your constant efforts with my PRs @SidharthBansal and @jywarren . I would also like to pitch some ideas to you regarding SOC. Thanks a lot every

[2019-01-29 16:55] #4659 closed

[2019-01-29 17:54] sagarpreet-chadha commented on #4722
The errors currently are due to 3 reason :

1.) New API is not used (bounding rectangle API) , which is solved in  #4725 .
2.) Use of Full Hash URL , which is also solved in  #4725 .

3.) The 3rd error is weird , it is because this script is not getting loaded :
`<%= javascript_include_tag('https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js') %>
<%= javascript_include_tag('https://unpkg.com

[2019-01-29 18:17] gauravano opened #4729 "Putting single/double quotes around values in locale files"
Hi! we are working on combining all the YAML files into language specific files at #4702. After combining the locales using the ruby script, a issue has came to our attention. The issue is the string values of the keys doesn't have double quotes around them.

Although, some of the translations has been tested locally and they are working fine but for removing any unexpected issue in future, it's b

[2019-01-29 18:46] jywarren commented on #4707
Great! I'll add you shortly. Also I was wondering if @cesswairimu had any interest? And to be clear this reviewing responsibility is one we plan to share so there's no need to be worried about having to do lots of reviews if you don't have time. Each person can participate to the extent of their willingness and time available and we're grateful for your teamwork!

[2019-01-29 18:55] akshaygupta533 commented on #4729
I'll work on this

[2019-01-29 20:09] gauravano opened #4730 "Update Code of Conduct using https://publiclab.org/conduct"
In recent days, we have opened FTO's in all our repositories for adding Code of Conduct and all this time we were copying the plots2/code_of_conduct file for updating other repos. So, let's update our Code_of_conduct here at plots2 first and after that copy that single copy at all other repos.

Also, please make a list of changes which would be required to make by contributors after the document u

[2019-01-29 20:10] gauravano commented on #4730
hey @publiclab/community-reps, please confirm if the https://publiclab.org/conduct is up-to-date and requires no change so that changes at GitHub copy can be initiated. Thanks!

[2019-01-29 20:10] namangupta01 commented on #4707
Count me in as well :)

On Wed, Jan 30, 2019 at 12:17 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-01-30 00:09] jywarren opened #4732 "Email digest follow-up changes list"
Our daily email digest is now working! Now we have a few follow ups to do.

* [x] Images seem broken
* [x] dates on posts don't seem right (https://github.com/publiclab/plots2/pull/4851)
* [x] daily digest is labeled weekly (https://github.com/publiclab/plots2/issues/4822) (solved in https://github.com/publiclab/plots2/pull/4955)
* [x] some page width oddities on a smartphone
* [x] images not load

[2019-01-30 00:12] jywarren commented on #4732
@viditchitkara check it out!

![screenshot_20190129-221111](https://user-images.githubusercontent.com/24359/51949215-d569c200-2412-11e9-986c-b825871b64e4.png)

![screenshot_20190129-221118](https://user-images.githubusercontent.com/24359/51949223-d995df80-2412-11e9-8e6f-e9ee381da3b1.png)

[2019-01-30 00:17] jywarren commented on #4732
Also linking with #2378 and with the browser based view of the digest at https://publiclab.org/subscriptions/digest

[2019-01-30 02:37] SidharthBansal commented on #4707
I am also interested.

On Wed, Jan 30, 2019, 1:41 AM Naman Gupta <notifications@github.com wrote:

[2019-01-30 05:07] sashadev-sky commented on #4711
Hi all,

This week I have been working on standardizing the community check-in process #4718 #4692. It's moving along pretty well, comment on the first linked issue if you want to see any other changes :)
As per this weeks theme, I have also been going through open issues to review and offer help.

Thank you!

[2019-01-30 12:43] arungoel123456 commented on #4423
@jywarren , @SidharthBansal   can u please suggest some changes?

[2019-01-30 15:11] arungoel123456 commented on #4423
@IshaGupta18  yes

[2019-01-30 15:15] IshaGupta18 commented on #4423
Then I would encourage you to start with some first-timer-only issues that are created especially to welcome new comers to the community. You can find them at:

https://github.com/publiclab/plots2/issues?q=is%3Aopen+is%3Aissue+label%3Afirst-timers-only

Once you are a bit more familiar with the codebase, you can take up bigger issues! Looking forward to your work here at publiclab!

[2019-01-30 15:24] arungoel123456 commented on #4423
@IshaGupta18  I am almost completed with editing . So let me do it and complete this issue .

[2019-01-30 15:29] IshaGupta18 commented on #4423
Okay that's great! I just wanted you to feel welcomed!

[2019-01-30 16:45] Rishabh570 commented on #4711
Hello everyone,
My main goal for this week is to analyse and plan out the enhancements for `code.publiclab.org` (looking for the possibilities of different ideas). Also, as I'm currently working on MVC structure of community-toolbox, I'm getting lots of conflicts because of the recent changes in the code, just making my way through them :sweat_smile:

Hope everyone is having an awesome week :raise

[2019-01-30 18:11] gauravano commented on #4707
Sidharth, you were already in the group when it formed :smile:

[2019-01-31 03:04] skilfullycurled commented on #1502
@jywarren never mind, I didn't realize the graph was now in the production server, I was using stable.publiclab.org.

[2019-01-31 06:36] milaaraujo commented on #3149
Hey @jywarren, I do not know how to implement this... They do not have good documentation beyond example. Do we need a key and an etag, right? But in our case what could we use since `results` is a set of Users?

[code]

[2019-01-31 15:38] arungoel123456 commented on #4423
I have just made a pr . Mentors please review

[2019-01-31 17:00] gauravano commented on #4729
Hi @akshaygupta533, you have to put quotes for all the strings given in above link - https://github.com/publiclab/plots2/pull/4716/files#diff-37c9b835927e3c363588f172de9bb6fa

using files present in config/locales as the reference.

[2019-01-31 17:26] jywarren opened #4736 "Login issues on MapKnitter and Spectral Workbench (documenting)"
A few people have written in in the last few days about login problems. Tracking here:

(we'll follow up on the spectral workbench errors in a bit too)

Possibly related, on MapKnitter:

Asked for clarification on if it was a login issue but seems plausible.

A third person reported getting to the OpenID approval page but not past it. Testing that now.

[2019-01-31 17:46] jywarren commented on #4717
So i like the first approach mainly because it allows us to stop the error
from cascading and disrupting other functionality on the site, which i
think is good practice -- it's pragmatic and quick to implement with only 1
line of code.

For the second, I think the issue may still be that this won't come up in
tests to be caught at all, since it was an issue with deployment, not code
-- we could, p

[2019-01-31 17:46] #4723 closed

[2019-01-31 17:52] jywarren commented on #3149
So, we could build whatever is unique into the key -- what are the parameters that can change, when typing in the autocompletion, for example? Since the user is just typing like `@mi` `@mil` `@mila` `@milaa`... we're only changing the query, no other params in that case. So to cache for that sort of thing we could do something like:

[code]

What do you think? I'm not sure it's actually `params[:q

[2019-01-31 17:56] jywarren commented on #3149
I'm not sure what the `etag` is for. Hmm. https://en.wikipedia.org/wiki/HTTP_ETag ?

Perhaps the request can be tailored with etag to bust the cache... seems like a timestamp. I'm not sure --  maybe we could skip that parameter?

[2019-01-31 19:11] jywarren commented on #4423
Hi @arungoel123456 - thank you for your PR at https://github.com/publiclab/plots2/pull/4734 -- however I wanted to echo @IshaGupta18 and say that for a PR it may be best to go through the process of completing a small change and getting familiar with both the codebase and the workflow.

But also - let's keep sharing and brainstorming ideas for the profile page! I think there's a lot of design, dis

[2019-01-31 19:14] IshaGupta18 commented on #4423
Yes this would be lovely @jywarren . Would you like if I design a few wireframes for the profile page UI? Would that be okay? Also, I want you to know that I am facing a bit of an issue with my system's Ruby, so I'll fix it and get back to coding work ASAP. Thanks a lot.

[2019-01-31 19:54] jywarren opened #4737 "Add "geocode me" button to editor map interface"
@sagarpreet-chadha do you think we could add the geolocation button to the map module in the editor?

[2019-01-31 19:59] jywarren commented on #4737
And the "blur my location" checkbox?

[2019-01-31 20:00] jywarren commented on #4737
Will it work normally like this? Or do you think we need to integrate the full Leaflet Blurred Location modal, and just have it be consistent?

[2019-01-31 20:19] jywarren commented on #4711
Hi, everyone! Chiming in again to say that I added a new section to the `gsoc` page here:

https://publiclab.org/wiki/gsoc#How+to+apply

This just outlines the steps a bit and offers a bit more guidance. But don't worry, the big call for proposals as in previous years will be almost the same, and is not yet open.

Also noting that I helped @IshaGupta18 on #4413 but we weren't able to figure out wh

[2019-01-31 20:25] SidharthBansal commented on #4711
We generally give the idea list before call for proposals so that you can
think on which topic you can write your proposals. We are always there to
assist in the proposals so there is no need to worry. :smile:

On Fri, Feb 1, 2019, 1:49 AM Jeffrey Warren <notifications@github.com wrote:

[2019-01-31 20:36] jywarren opened #4738 "Default ignored in Ruby tag function?"
anyone know ruby well and know why it's ignoring the default in this code?

https://github.com/publiclab/plots2/blob/dc5b4f0210c9e0686f20e577beb14d777b72de4d/app/models/tag.rb#L334

try it out at https://stable.publiclab.org/tag/graph.json?limit=10 vs. https://stable.publiclab.org/tag/graph.json (this last will take a long time and load like 8,000 tags)

[2019-01-31 20:36] jywarren commented on #4738
Reading here, it should work! https://skorks.com/2009/08/method-arguments-in-ruby/

[2019-01-31 22:07] jywarren commented on #4736
OK, i documented this finally... moving slow here...

![login](https://user-images.githubusercontent.com/24359/52088718-aa01e700-257a-11e9-94fb-e26693e5f79b.gif)

Somehow we're not requiring login to see the "OpenId approval page" so people are actually not logged in when they're asked to accept.

[2019-01-31 22:12] jywarren commented on #4736
The redirect is to:

https://publiclab.org/openid?openid.claimed_id=https%3A%2F%2Fpubliclab.org%2Fopenid%2Fwarren&openid.identity=https%3A%2F%2Fpubliclab.org%2Fopenid%2Fwarren&openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.ns.sreg=http%3A%2F%2Fopenid.net%2Fextensions%2Fsreg%2F1.1&openid.realm=https%3A%2F%2Fspectralworkbench.org&openid.return_to=https%3A%2F%2F

[2019-01-31 22:15] jywarren commented on #4736
OK, confirmed. I clicked Login, it worked, then i got an error but once i loaded the above URL it logged me into Spectral Workbench.

We need to have a login prompt first, somehow, and to redirect back to the original page. That looks like precisely what this line is trying to do:

[code]

[2019-01-31 22:48] #4650 closed

[2019-01-31 23:08] jywarren commented on #4736
OK, i changed that line to just look for logged-in status, and not the .mode - and it worked a bit better, but still now stuck upon returning to the original app (in this case MK), with this error:

[code]

[2019-01-31 23:45] jywarren opened #4742 "Question posting form broken"
The question form at https://publiclab.org/questions/new doesn't work (pinging @steviepubliclab and @bronwen9 who reported on this in the chatroom) because pressing the `Ask` button just stalls.

I opened the JavaScript console and saw this error:

[code]

I think after @sagarpreet-chadha added the map module it needs to be included here too, but although I'll implement that as a fast fix, I think

[2019-01-31 23:47] jywarren commented on #4742
Fixed in https://github.com/publiclab/plots2/commit/7c1ef45e307a0771a5cbd805b7c6947034bb061b, publishing shortly!

[2019-01-31 23:50] #4742 closed

[2019-01-31 23:50] #4736 closed

[2019-02-01 01:09] jywarren commented on #1502
There we are:

[2019-02-01 01:09] jywarren commented on #1502
![image](https://user-images.githubusercontent.com/24359/52096229-281eb780-2594-11e9-8b34-3109364369b0.png)

[2019-02-01 01:10] jywarren commented on #1502
Oh i thought i'd left another comment... where'd it go? hang on...

[2019-02-01 01:14] jywarren commented on #1502
Anyways i was going to say that I think I've figure out some of the layout issues but judge for yourselves:

https://publiclab.org/stats/graph?limit=100

https://publiclab.org/stats/graph?limit=500

[2019-02-01 02:04] jywarren commented on #1502
Here's the JS for the community detection: https://github.com/publiclab/plots2/blob/master/app/views/tag/graph.html.erb#L263

And here's the layout configuration, which we could tweak a lot to try out:

https://github.com/publiclab/plots2/blob/e26c6a3c7031d75259a3adc1cdbe0f85c3dba401/app/views/tag/graph.html.erb#L95-L179

[2019-02-01 05:04] arungoel123456 commented on #4423
@jywarren so should I modify the profile page according to the design u have sent ?

[2019-02-01 07:21] akshaygupta533 commented on #4729
@gauravano your link redirects to config/locales/en.yml
Could you provide me the path of the file to be changed?

[2019-02-01 07:33] oshanz commented on #4738
params[: limit] returns nil when the limit key is not present. and nil doesn't consider as optional to the argument. so it won't get replaced from 250

[2019-02-01 09:51] IshaGupta18 commented on #4423
Thank you @jywarren. @arungoel123456 the design sent by @jywarren is just a mock up. This is a big planning and design issue and requires some brainstorming before the design can be finalised and implemented.

[2019-02-01 14:19] jywarren commented on #4732
That would be great! What part do you want to work on?

On Fri, Feb 1, 2019, 1:28 AM Arun Goel <notifications@github.com wrote:

[2019-02-01 17:10] ViditChitkara commented on #4732
Wow, feels really good to see this working @jywarren. @arungoel123456 in my opinion you may start with dates and label of mail. This is what I feel would be a good starting point. It's totally up to you if you want to start with another. Ping me if you need any help with this.

[2019-02-01 18:44] skilfullycurled commented on #1502
First, I want to apologize that I can't help out with the heavy lifting on the coding end.  It's easy for one just to suggest things but I realize that they also have to be implemented by people and it's not lost on my that I am not helping in that regard.

There are a number of possibilities as to why the jLouvain isn't performing well.  @jywarren, I think you're already solving one of them which

[2019-02-01 19:32] #4413 closed

[2019-02-01 19:41] jywarren commented on #4711
Hi, all! I'm also starting to put together a new Code Community Report, like this one from the start of the month, but summing up the whole year of 2018. If folks have statistics, big picture observations, other things like that which you'd like to suggest for the report, please chime in!

https://publiclab.org/notes/warren/01-02-2019/public-lab-code-community-report-jan-2019

[2019-02-01 22:01] jywarren opened #4747 "[urgent] Login page link to signup form does not work"
At https://publiclab.org/login, if you click the `sign up to join` link, nothing happens -- i think it's supposed to work in the modal but is not working on this page.

i'm tracking another login issue, related to OpenID, but will circle back to this.

[2019-02-01 22:56] dinaelhanan commented on #4747
@jywarren is it here? Want to look into this but don't know how url1 is linking to login modal/ what I could do to help:
https://github.com/publiclab/plots2/blob/2e33bcb229e77cf4994487a8d9439ce784dc09f8/config/locales/views/user_sessions/new/en.yml#L6

[2019-02-01 22:59] jywarren commented on #4747
thanks for chiming in here! I think i've found a set of interrelated issues and am fixing here: https://github.com/publiclab/plots2/pull/4739

I think i've managed to figure it out... let's see!

[2019-02-02 01:01] jywarren opened #4748 "Moving question stats to a new area"
Hi @cesswairimu i moved this down the page and I wanted to suggest we could move it to the /stats page, maybe? I'm just trying to consolidate all these interfaces. Or do you think we could even incorporate the question stats into the range-based pages alongside the notes, comments, etc?

https://github.com/publiclab/plots2/blob/08d0f7d4e9b7c1e0d4d9d2e30c4b68c40162751e/app/views/questions/index.htm

[2019-02-02 04:18] IshaGupta18 commented on #4732
@ViditChitkara @jywarren could I work on some other parts of this issue?

[2019-02-02 07:51] IshaGupta18 commented on #4624
Okay @jywarren so the deprecation warning has changed I think (atleast at my local machine) to this:

`DEPRECATION WARNING: Dangerous query method (method whose arguments are used as raw SQL) called with non-attribute argument(s): "created ". Non-attribute arguments will be disallowed in Rails 6.0. This method should not be called with user-provided values, such as request parameters or model attr

[2019-02-02 08:47] IshaGupta18 commented on #4624
Okay so changing this line:
https://github.com/publiclab/plots2/blob/08d0f7d4e9b7c1e0d4d9d2e30c4b68c40162751e/app/services/search_service.rb#L136

to this:
`items.order("created #{Arel.sql(order_direction)}")`
gives these errors:
`ERROR["test_running_search_taglocations_with_valid_params", #<Minitest::Reporters::Suite:0x0000561e3d5ab9d0 @name="SearchServiceTest">, 71.05786943600106]
 test_running_

[2019-02-02 11:16] gauravano commented on #4732
Hi @IshaGupta18, feel free to proceed. But, before working on a part please drop a message here to let others know, to avoid any conflict.

Also, @arungoel123456 and @IshaGupta18 you can discuss and divide parts here. Thanks!

[2019-02-02 11:32] IshaGupta18 commented on #4732
Yes absoluely @gauravano. Thanks a lot! I actually found the places where the 'daily digest is labeled weekly' and 'dates on posts don't seem right' are mentioned. Maybe I can start with them, if @arungoel123456 hasn't already done that? Please let me know in either case.

[2019-02-02 11:34] IshaGupta18 commented on #4732
I think that 'are we sure the same posts aren't being sent out multiple times?'  would be a relatively harder one, because we'll have to keep a record of what content has already been sent in the previous day's mail and a mail should be sent on that day if and only is the content is slightly different from the one sent the day before. I have received I think 2-3 redundant mails for a tag.

[2019-02-02 14:00] IshaGupta18 commented on #4603
Okay, so since we don't want the length of the page to increase indefinitely, I thought of making groups of statistical values like: 0-5 , 5-10, 10-15 and so on (class size can be adjusted accordingly):

![screen1stats](https://user-images.githubusercontent.com/40794215/52164994-ba53c680-2720-11e9-8943-ae25e80e6efd.png)

On clicking on a bubble, it will expand and show you the tags which have that

[2019-02-02 14:11] avsingh999 commented on #3524
@SidharthBansal  @jywarren  @gauravano  when I want to see data in likes table in a console but no data in this table. Can you please help me? If I am wrong then correct me please .
Thanks : )

[2019-02-02 14:13] gauravano commented on #4711
Hi @shubhscoder, you expressed interest in opening the check-in last week. So, would you be opening check-in for next week?

Thanks!

[2019-02-02 14:35] shubhscoder commented on #4711
Yes sure! I ll open the check in by tomorrow 👍

On Sat, Feb 2, 2019, 7:43 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-02-02 14:44] gauravano commented on #4711
Great! You can open check-in on Monday too, there is no hurry. Also, @sashadev-sky @rexagod and I have prepared some guidelines for opening Check-in, please try to follow them - https://github.com/publiclab/plots2/pull/4718/files?short_path=5d68667#diff-5d686670ad182a95f3af0779f9940834

Thanks!

[2019-02-02 14:47] sidntrivedi012 opened #4749 "Possible changes in README.md"
Here, I am adding some possible changes that first timers can make to README in order to get started with contributing.

[2019-02-02 14:51] sidntrivedi012 commented on #4749
Change `We at public labs` to `We, at Public Lab` here - https://github.com/publiclab/plots2#ssl-in-development.

[2019-02-02 14:52] sidntrivedi012 commented on #4749
@jywarren Will this thread be fine. I'll keep adding any changes I feel will help the newcomers.

[2019-02-02 15:27] skilfullycurled opened #4750 "Online Location For API Developer Documentation"
Hi,

Is there a place online where the [developer documentation](https://github.com/publiclab/plots2/tree/master/doc/app) (the one that gets generated with the classes, methods, modules, etc.) is located?

If not, feature request: Have an online location where the developer documentation is located such as https://code.publiclab.org/docs...?

I downloaded the repo and it works just fine locally bu

[2019-02-02 15:50] jywarren commented on #4750
Yes, there's a link at https://publiclab.org/api, with docs and a web
interface! Is that what you're looking for?

On Sat, Feb 2, 2019, 10:28 AM skilfullycurled <notifications@github.com
wrote:

[2019-02-02 15:55] skilfullycurled commented on #4750
I don't think it is, but I saw that and it's _awesome_ by way!  That's the real deal right there.

I'm talking about the stuff that can be found in [here}(https://github.com/publiclab/plots2/tree/master/doc/app) which yields a document like this:

<img width="262" alt="screen shot 2019-02-02 at 10 51 46 am" src="https://user-images.githubusercontent.com/950291/52166265-0bd86300-26d9-11e9-8480-c2d6

[2019-02-02 16:00] jywarren commented on #4750
Ah yes, be aware that hasn't been regenerated in a while!

On Sat, Feb 2, 2019, 10:56 AM skilfullycurled <notifications@github.com
wrote:

[2019-02-02 16:01] skilfullycurled commented on #4750
Okay, so if I'm understanding the implication, there isn't an online location, then, and probably won't be due to the need to constantly regenerate the docs?

[2019-02-02 18:06] jywarren commented on #4750
Do you mean online differently than at
https://github.com/publiclab/plots2/tree/master/doc/app ? the docs would
publish at publiclab.org if we moved them into the public folder, would
that be helpful? Ah, i see, because GitHub doesn't actually render the
HTML, right?

I think there was an issue re-generating them in the most recent release of
Rails and we just haven't figured it out yet.

Looking

[2019-02-02 18:12] skilfullycurled commented on #4750
Actually, those tests are great.  I mean, the best documentation is the type where you get to see the functions, the params, and then an example of that function.  Never having had to do unit testing, I hadn't considered that as a side effect of good tests!  I'll think on what a good sentence might be and where it could fit in the wiki to express their utility in seeing how the functions work.

Th

[2019-02-02 18:13] #4750 closed

[2019-02-02 18:35] jywarren commented on #3149
Also, i wonder if we couldn't just use normal Rails caching, which might mean you can't bust the cache using something like `etag`, but since we don't know how that works anyways, this could just wrap the above code in an almost identical way:

https://github.com/publiclab/plots2/blob/1802e6284da5d590fdb385d521a1449590351ad4/app/helpers/questions_helper.rb#L14

[2019-02-02 18:38] jywarren commented on #4561
Actually we can probably filter for only people who have posted some content, perhaps. I don't know if joining the Comment and Node tables would slow things down or speed them up? Slow down because joined tables, but speed up because far far fewer tables...?

[code]

[2019-02-02 18:43] jywarren commented on #4561
Also for reference,

[code]

Just for some guiding numbers! With `select()` statements to narrow what fields are joined, i think we could develop a reasonably efficient query.

[2019-02-02 19:14] geekychaser commented on #4110
@jywarren @SidharthBansal Sorry for being inactive this week as I was traveling

[2019-02-02 19:21] geekychaser commented on #4110
*Public lab* is a way too big website. It consists of lots of features and fields to be explored. Even after using it for 3 months, I still face difficulties in exploring it and haven't visited all the area across the website. Thus, a website tour would be a great option to indulge more and more people in our organization. I have prepared some mockups consisting of few routes and this way we would

[2019-02-02 20:07] gauravano commented on #4749
Yup, the first suggestion is good candidate for FTO issue. I changed your comment @sidntrivedi012 to checklist to track better, hope it's fine. Thanks!

[2019-02-02 20:40] gauravano commented on #4729
Hi @akshaygupta533, what I did in #4716 is - I merged all the en locales in a single en.yml as you can see in the PR. In that merge process, the quotes are removed from some of the string values so we need to put quotes wherever they were originally present.

You can see the new merged file here - https://github.com/publiclab/plots2/pull/4716/files#diff-37c9b835927e3c363588f172de9bb6fa. You can fe

[2019-02-02 21:01] sidntrivedi012 commented on #4749
@gauravano Yeah. Absolutely. Will keep on adding possible changes here as I get more.

[2019-02-02 21:12] gauravano commented on #4749
Great!

On Sun, Feb 3, 2019 at 2:31 AM Siddhant N Trivedi <notifications@github.com>
wrote:

[2019-02-03 05:52] akshaygupta533 commented on #4729
So basically I have to add double quotes to the string values in your merged file by comparing with the original unmerged ones?

[2019-02-03 09:41] gauravano commented on #4729
Yes!

On Sun, Feb 3, 2019 at 11:22 AM Akshay Gupta <notifications@github.com>
wrote:

[2019-02-03 12:59] kunalvaswani123 commented on #4250
@SidharthBansal I have left a comment in https://github.com/publiclab/plots2/pull/4568 regarding this issue.. if you could please see to it .. Thanks

[2019-02-03 17:27] IshaGupta18 opened #4752 "Broken Optional Image tag in sign-up modal/ sign-up page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-02-03 17:45] punndcoder28 commented on #4752
Can I make the change?

[2019-02-03 17:49] IshaGupta18 commented on #4752
Sure go ahead @punndcoder28 ! Feel free to drop a message in case you need any help!

[2019-02-03 17:49] jywarren commented on #4752
Hi, yes please! @IshaGupta18, I wonder if removing the src parameter entirely would work?

[2019-02-03 18:35] IshaGupta18 commented on #4752
No @jywarren I am afraid it wouldn't. See, this would result in something like this when the image isn't uploaded:
![image](https://user-images.githubusercontent.com/40794215/52180763-6a542d00-2810-11e9-9a9f-62bbc7622351.png)

I think this is because we need to set the value of src parameter to the link provided, so it should be present there.

[2019-02-03 18:54] cesswairimu commented on #4603
Wow I love this idea its super creative and thanks for working on the mockups they look great. I believe the values are number of subscribers right?
Also maybe we can add specific tag values on pop-up something like `balloon-mapping -1, mapknitter-2,` might be useful for analysis purposes. What do u think?

[2019-02-03 19:00] IshaGupta18 commented on #4603
Thanks a lot @cesswairimu ! Yes they are the number of subscribers, like in the JSON data, except I have made class intervals.
Yes I think adding `balloon-mapping -1, mapknitter-2` would be great as it will be more informative for analysis!

[2019-02-03 19:01] cesswairimu commented on #4603
Awesome. would you be interested on working on this?

[2019-02-03 19:07] IshaGupta18 commented on #4603
Yes I would love to implement this! Also, I would suggest another similar mockup, probably with just some small changes that may improve the design!

[2019-02-03 19:08] cesswairimu commented on #4603
Great @IshaGupta18. Thanks

[2019-02-03 19:20] cesswairimu opened #4754 "Dynamic incremental solution for graphs."
The new graph on stats page has a function https://github.com/publiclab/plots2/blob/master/app/views/stats/index.html.erb#L247-L264 we want to update this so the increment `x += 604800000;` is changed to get the next value from the array  `months`.

[2019-02-04 01:43] sashadev-sky commented on #4711
@geekychaser I made a mistake in my last check-in about the date the survey closes and I think you had already opened this issue by the time I updated it. I updated it here so that the correct date carries over from this week. Hope thats ok!

@shubhscoder please note the small change for your check-in :)

[2019-02-04 05:58] arungoel123456 commented on #4732
@IshaGupta18 I would like to work on the date and label issue .... Sorry for the late reply

[2019-02-04 05:59] arungoel123456 commented on #4732
@ViditChitkara I will sure contact u if I need some help . Thanks for advising

[2019-02-04 08:07] sagarpreet-chadha commented on #4737
On it 😄 👍 !

[2019-02-04 14:35] rexagod commented on #4754
## Dynamic incremental solution for graphs
### Current (static) incremental function
[code]
### Proposed changes
- **A getWeek function down on Date object's prototype chain that returns current week (or in your case, modified week relative to the value given to it (months[n])). We can use that to refer to different weeks that will automatically get updated depending on their respective dates rath

[2019-02-04 14:40] cesswairimu commented on #4754
Thanks @rexagod on it

[2019-02-04 15:06] jywarren commented on #4737
Yes, that's right!

On Mon, Feb 4, 2019 at 3:35 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-02-04 15:12] jywarren commented on #4732
Awesome folks, thanks! Yes Isha i agree on the redundancy issue - what we
can do is just be sure we're only reporting things that occurred in the
past day or week.

Also, things like wiki page edits and such are perhaps lower priority; we
could list them at the bottom in a section called "Active wiki pages"
without showing the full entry we do for notes; does that make sense?

On Mon, Feb 4, 2019

[2019-02-04 15:27] shubhscoder opened #4757 "Weekly Community Check-In #8 - 'Brainstorming for ideas and guiding new comers'"
Hi everyone :wave: !

We all at Public Lab :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and a

[2019-02-04 15:40] jywarren commented on #4423
Hey this is awesome!

To be honest I was thinking of removing the activity graph because on most peoples' profiles it's pretty empty. Writing a post on PL.org is not quite like making a commit, so this is reasonable. Although we could also consider adding comments to the graph; maybe that'd improve it. Still, I think it may be more important to think about what topics people are engaging on rather

[2019-02-04 16:01] IshaGupta18 commented on #4423
Thanks a lot! I think all the suggestions here are wonderful. I could implement all of them in a new mockup and even I feel that the grid takes up too much space and isn't very much required.
I was going to put icons and stats along with the titles in bubbles so that would okay.

About the tags, I really like the ides. Actually, I am weaving one of my GSoC proposals around tags only so I would lov

[2019-02-04 16:03] IshaGupta18 commented on #4732
@arungoel123456 kindly proceed then! @jywarren I think that could be great idea!

[2019-02-04 16:27] shubhscoder commented on #4757
I have not been active off late, but from this week I have no other priorities and thus would mainly focus on resolving previously claimed issues. Thank you so much!

[2019-02-04 17:24] gauravano commented on #4711
New Check-In at https://github.com/publiclab/plots2/issues/4757 . Thank you everyone!

[2019-02-04 17:24] #4711 closed

[2019-02-04 17:53] jywarren commented on #4423
This all sounds great!!!!

On Mon, Feb 4, 2019, 11:02 AM Isha Gupta <notifications@github.com wrote:

[2019-02-04 18:23] edieblu commented on #4423
Hey @IshaGupta18 really cool design! 👍

I would definitely add the "tell us about yourself" prompt for those that haven't added the bio yet as you suggested. I think this would encourage users to flesh out their profiles - which is important for getting them more engaged overall :)

Not sure if linking to GitHub or Instagram makes sense, however, I really do like the icons under the user image. Ma

[2019-02-04 18:44] IshaGupta18 commented on #4423
Thanks a lot @edieblu ! I added the social icons because I saw them on some profile but I think it would be okay to remove them and add something more useful in their place like you said.

To tackle the proportionality issue, I think we would be able to reduce some space after the removal of the grid and try some other adjustments.

Would this be okay?

[2019-02-04 18:55] gauravano commented on #4757
Nice check-in @shubhscoder! Thanks!

@shubhscoder please add link to the survey to make it easy for newcomers for finding it.

Whoever want to volunteer for next week's check-in, feel free to raise your :hand:. For next check-In, I have a fun theme in mind, so please contact me for theme if you haven't thought for one yet.

**Checklist for this week**
- [ ] I have opened the [PR](https://github.co

[2019-02-04 18:57] IgorWilbert opened #4758 "Thoughts for "plots2 mobile""
Hey all! I decided to open an issue here because this idea is very related to plots2. As you may have seen on the Brainstorm page [Brainstorming page](https://publiclab.org/notes/warren/01-02-2019/brainstorming-for-summer-of-code-2019), the main idea of my proposal for GSoC would be creating a mobile version of plots2 with React Native. I've been talking to @jywarren @sashadev-sky @gauravano @rexa

[2019-02-04 19:04] IshaGupta18 commented on #4732
I think for the width related problems, we can do 2 things:

1) Make the existing code responsive
2) Make a new email format using tables and make that responsive

What's your take on this @ViditChitkara @jywarren ?

[2019-02-04 21:32] jywarren commented on #4732
Let's do responsive! Shouldn't we be able to use a layout similar to, or
even based on the same code as, the main PublicLab.org codebase? Thanks
Isha!

On Mon, Feb 4, 2019 at 2:05 PM Isha Gupta <notifications@github.com> wrote:

[2019-02-04 21:42] sidntrivedi012 commented on #4757
Hi everyone, it feels great to contribute to such an awesome project with such noble goal. Last week, I created some issues one of which was to try to to improve the slider of Image Sequencer and as suggested by @jywarren and @gauravano , am currently working on [#142](https://github.com/publiclab/PublicLab.Editor/issues/142) of PublicLab.Editor and some old issues of Plotsbot. Will fully try to p

[2019-02-05 00:47] jywarren opened #4759 "Detect subscriptions in signup `return_to` param and correctly subscribe new users in one step"
Currently, people can be directed to the signup form with the following format:

https://stable.publiclab.org/signup?return_to=/subscribe/multiple/tag/arduino,games (for example)

That means they should get signed up in that form (and it works the same in the modal signup), and then upon making an account, get redirected to `/subscribe/multiple/tag/arduino,games`, which will subscribe them to the

[2019-02-05 00:49] jywarren opened #4760 "ability to go directly to `/subscribe/multiple/tag/tag1,tag2` and correctly enter and login"
Follow-up to #4739, we should make sure you can go directly to `/subscribe/multiple/tag/tag1,tag2` and correctly enter and login, and get subscribed to those two tags.

It should be working:

https://github.com/publiclab/plots2/blob/5cde763bbdc3bfb9b91c26d68389285050b5ba8c/app/controllers/subscription_controller.rb#L178-L179

https://github.com/publiclab/plots2/blob/5cde763bbdc3bfb9b91c26d68389285

[2019-02-05 00:50] #4747 closed

[2019-02-05 00:53] jywarren commented on #4483
I think we are done here, actually? after https://github.com/publiclab/plots2/pull/4739 -- reopen if i'm wrong, though!

[2019-02-05 00:53] #4483 closed

[2019-02-05 03:35] sashadev-sky commented on #4757
Hi guys,

This week I would like to
- learn the ins and outs of mapknitter and start contributing there
- look further into the logistics for switching to webpack (publiclab/PublicLab.Editor#227)
- contribute in the usual workflow

Thank you! Happy Monday!

[2019-02-05 05:05] ViditChitkara commented on #4757
Hello everyone, I am currently working on #4094 which is "merging answer and commenting interfaces" and eventually deprecating answers. This will make our system more unified and consistent with only a comments model. If anyone is interested in helping me out with it, is most welcome!
Thanks!

[2019-02-05 07:16] milaaraujo commented on #3149
We can skip `etag` parameter! Take a look at #4763.

[2019-02-05 12:03] spelgubbe commented on #4670
I can't find what the ExecuteSearch function does... I assume some kind of SQL query is built somewhere in the code. Maybe it is slow because the LIKE statement is used like this
`select * from table where username like "%query%"` (then you have to iterate through the whole table)

[2019-02-05 12:46] SKashyapD commented on #4660
Hello everyone!
Please let me now if I should start working on it since it will take a lot
time commitment and effort on my part.
Or If you want me to work on something else please let me know.

On Fri, 25 Jan, 2019, 19:00 Sidharth Bansal <notifications@github.com wrote:

[2019-02-05 15:11] IshaGupta18 commented on #4752
Chimdiya1 thank you for the pull request, however did you claim this issue before solving it? @punndcoder28 are you going to solve this one or would like to work on some other First Timer Issue?

[2019-02-05 16:40] punndcoder28 commented on #4752
I made the pull request. I haven't recieved any mail further regarding is the my change has been accepted.

[2019-02-05 16:44] IshaGupta18 commented on #4752
Could you please highlight the PR number?

[2019-02-05 16:45] punndcoder28 commented on #4752
I did and I've checked all the boxes.

[2019-02-05 16:48] #3149 closed

[2019-02-05 16:53] jywarren commented on #4670
We just cached this: https://github.com/publiclab/plots2/pull/4763#event-2117680484 but we should still optimize, thanks for the research!

[2019-02-05 16:56] jywarren commented on #4670
https://github.com/publiclab/plots2/blob/a68a07de9a77bbd30b249687f588cb1114003063/app/services/search_service.rb#L223-L225

Hmm, could you try out a couple of these options to see what's faster?

https://github.com/publiclab/plots2/issues/4561#issuecomment-459988634

I think it may be worthwhile trying to auto-generate a LOT of users in your local copy, maybe using the Rails console, something lik

[2019-02-05 16:57] jywarren commented on #4670
@milaaraujo also see @spelgubbe's working on this part of the problem too 👍

[2019-02-05 16:58] milaaraujo commented on #3147
Can we close this one, @jywarren?

[2019-02-05 17:21] jywarren commented on #3147
Yes, esp since it's being worked on in https://github.com/publiclab/plots2/issues/4670. Thanks!

[2019-02-05 17:22] jywarren commented on #4670
Also see notes in https://github.com/publiclab/plots2/issues/3147 for other possible optimizations!

[2019-02-05 17:24] spelgubbe commented on #4670
I could try to set up a testing environment... I have only 1 proposed change right now. Either it makes no difference at all or it makes a huge difference. (when searching for profiles)

https://github.com/spelgubbe/plots2/commit/c7202e7364d78466bb46f12b61c168469d403fc8

[2019-02-05 17:33] jywarren commented on #2497
https://davidwalsh.name/notifications-api

[2019-02-05 17:39] jywarren commented on #3283
I'm going to merge this into #2497! Thanks!

[2019-02-05 17:39] #3283 closed

[2019-02-05 17:47] jywarren commented on #4670
Oh awesome - well, if you want to open a pull request, we can also test it
on our unstable testing server, which has a full copy of the database.

On Tue, Feb 5, 2019 at 12:25 PM Jakob K <notifications@github.com> wrote:

[2019-02-05 17:52] #4737 closed

[2019-02-05 18:10] cesswairimu opened #4765 "Expandable graphs"
The new graph on stats page is quite awesome
![ref1](https://user-images.githubusercontent.com/17081074/52294208-b676ad00-2989-11e9-85b9-7ca0f7ab54e3.png)
But it only covers 52 weeks from the start date and we now have zoom buttons. If you zoom out of the 52 weeks the graph does not expand
![ref2](https://user-images.githubusercontent.com/17081074/52294261-e45bf180-2989-11e9-8193-bdbe1c11a471.png)

[2019-02-05 18:41] jywarren commented on #4722
Just going to reopen this to ask if there's anything else we need to do to get the maps on this page working?

https://publiclab.org/wiki/inline-maps

[2019-02-05 18:41] jywarren commented on #4722
Oh, hm,

[code]

[2019-02-05 18:45] #3147 closed

[2019-02-05 18:48] sagarpreet-chadha commented on #4722
And see this (pan the maps once to load data , will fix this asap) : https://publiclab.org/notes/sagarpreet/01-30-2019/inline-map-testing

=> Working fine on NOTE but giving the above error on WIKI .

[2019-02-05 19:04] jywarren commented on #4765
Yes, let's try to refactor graph_making to accept begin and end date
parameters, then it'll be easier to merge the /stats/range pages with
/stats pages!

On Tue, Feb 5, 2019 at 1:11 PM Cess <notifications@github.com> wrote:

[2019-02-05 19:08] jywarren commented on #4722
![image](https://user-images.githubusercontent.com/24359/52297753-70045c80-294f-11e9-892b-8ce0a7fdd3e6.png)

Oh this is great! 2 things --

1. see above - i think we need to clear the markers before displaying the newly fetched ones
2. on the very first page load I'm not seeing them appear, only on dragging the map

Great work, just a few more steps here, Sagarpreet!

[2019-02-05 19:32] jywarren commented on #3472
Moving this analysis here to help explain the bottlenecks in typeahead:

![image](https://user-images.githubusercontent.com/24359/52298374-d342be80-2950-11e9-890f-fad396eaa542.png)

Note how many requests go out -- i think we can change the settings on the typeahead to refine this. See a gif:

![typeahead](https://user-images.githubusercontent.com/24359/52298559-36345580-2951-11e9-8f49-2335de472ed

[2019-02-05 19:44] jywarren commented on #3517
Hi @roshniRam are you by chance still interested in working on this at all? We'd love to have your help!

[2019-02-05 19:54] jywarren commented on #4757
Wow, so much going on!!! Hooray @gauravano on the news about 8 new languages!!! 🌏 🌍 🌎 🎉

I love the idea of the diff view, @niravasher ! Perhaps it can also be useful in the https://github.com/publiclab/inline-markdown-editor project, where we hope people will be able to edit wiki documents inline, and view the changes they're proposing!

I tried helping out on the Ruby 2.4.4 MapKnitter issue here

[2019-02-05 21:21] jywarren commented on #2497
oh cool! can you share a bit about your approach? i want to be sure the
backend is fairly universal as some people may want to use the API for a
React client...

On Tue, Feb 5, 2019 at 3:26 PM Naman Gupta <notifications@github.com> wrote:

[2019-02-05 21:59] jywarren commented on #4757
Hi all, i'll try to put together a blog post on this soon, but i was able to build a Leaflet library around multispectral image processing as part of the [NASA AREN project](https://publiclab.org/aren): https://github.com/publiclab/multispectral that processes NDVI imagery in JavaScript, and another https://github.com/publiclab/leaflet-tile-filter which processes NDVI of image tiles in realtime. T

[2019-02-05 22:19] gauravano opened #4766 "Add locales for new languages"
Language status at Transifex:
![langs](https://user-images.githubusercontent.com/20878070/52307782-9236c280-29c1-11e9-8903-3cd08a6fb9f7.png)

We have locale for English (en), German(de) and Chinese(zh-CN) in our codebase. We need to add locales for other languages from https://github.com/svenfuchs/rails-i18n/tree/master/rails/locale.

Thanks!

cc @jywarren @ebarry @steviepubliclab

[2019-02-05 22:21] gauravano commented on #4766
@jywarren we use zh-CN locale in our codebase but translations at Transifex are available in zh, so which one we should choose?

Thanks!

[2019-02-05 22:33] jywarren commented on #4585
Hi, everyone! I've just compiled up our Ideas list for 2019. We can continue to adjust it, but this includes the core projects we're interested in that are most mission specific for Public Lab as a movement.

https://publiclab.org/gsoc-ideas

Please if you have fulfilled the requirements to be a mentor, if you could go in and add your names next to projects you would like to mentor on. I'm also ha

[2019-02-05 22:40] gauravano commented on #4758
I like the idea of developing the mobile application for plots2. Although, taking this project for summer is upto @publiclab/community-reps but I think admins can check the number of users browsing our website from mobile and their own experience is already a rich source.

**Database:** Plots2 uses MySQL in production and SQLite in development

For starting(demo), I will advise you to show the con

[2019-02-05 22:40] jywarren commented on #4707
@aSquare14 did you want to join in as a reviewer? Thanks for all your help as a mentor!

[2019-02-05 22:42] jywarren commented on #4707
Hi, folks, just wanted to say that I've also been trying to close out older more urgent issues by breaking some of these out and recruiting into them from the weekly check-ins; esp with some people shifting over to MapKnitter, i'm interested in doing a good job to wrap up long-open projects at PublicLab so we feel more confident starting new projects. Sometimes it's hard to really check something

[2019-02-05 22:59] #963 closed

[2019-02-05 23:01] spelgubbe commented on #4670
I set up a test environment at cloud9. I added 10000 fake users using

[code]

It seems that the SQL statement or where in the code you use the .limit() function doesn't affect the load time of the query at all. Something else is taking time, or my test environment is just weird.

[2019-02-06 00:03] gauravano opened #4767 "Sqlite version conflict while running rails server"
I just received a error - https://pastebin.com/jWq71ksp while running rails server. The highlight of the error is - `Error loading the 'sqlite3' Active Record adapter. Missing a gem it depends on? can't activate sqlite3 (~> 1.3.6), already activated sqlite3-1.4.0. Make sure all dependencies are added to Gemfile. (LoadError)
`

On a simple Google search, the error was found at https://stackoverflow

[2019-02-06 00:11] gauravano commented on #4767
i just saw https://github.com/publiclab/plots2/pull/4761 and may be it's due to sqlite version bump.

[2019-02-06 00:18] gauravano commented on #4767
@jywarren

[2019-02-06 03:08] SidharthBansal commented on #4757
Awesome work Jeff

On Wed, Feb 6, 2019 at 3:29 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-02-06 03:12] SidharthBansal commented on #4585
Sure

On Wed, Feb 6, 2019 at 4:03 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-02-06 03:51] snpd25 commented on #4726
@jywarren can you give an insight of where you think the problem lies. I mean, which file do you think, neeeds to be modified?

[2019-02-06 05:50] IshaGupta18 commented on #4423
Okay so here's the updated mock up, we can implement that tag customisation thing in the page, now that we have some room

![image](https://user-images.githubusercontent.com/40794215/52322917-0cd30280-2a01-11e9-837c-443448c99001.png)

I think this looks more organzied and cleaner. What do you think @jywarren ?

[2019-02-06 09:11] IshaGupta18 commented on #4732
Hey @jywarren how should I test my changes that I will make to make the email responsive?

[2019-02-06 09:40] IshaGupta18 commented on #4732
@jywarren @ViditChitkara Images are working fine to some extent, like if you change your gmail
settings->images-> "always show", some of them show up, but not all, like the PL logo and default profile picture.

[2019-02-06 13:44] gauravano commented on #4766
I have added the locale files for the other languages for the start and as soon as people will review the translations, we will update the files. @jywarren please answer [this](https://github.com/publiclab/plots2/issues/4766#issuecomment-460827084) question so that PR can be merged. Thanks!

[2019-02-06 15:18] ebarry commented on #3482
We are still quite actively interested in your contributions for creating a view of publiclab.org/tags that excludes powertags , and also to be used in the visualization of tags as i commented on your excellent pull request. Thanks again for your leadership on this!

[2019-02-06 15:46] jywarren commented on #4732
Hi, Isha - there's a "test digest" button on the profile, i don't know if
it will pop up an email for you if you click it, but give it a try?

The other option is that we had made this page as an "online" version in
order to test the digest display: https://publiclab.org/subscriptions/digest

If you can track down the template there, perhaps we could have that page
display the same HTML as the ema

[2019-02-06 15:48] IshaGupta18 commented on #4732
Hey sorry to bother you, I actually found a template in the /test/mailers/preview folder and I am trying to work on that! Thanks a lot for your help though!

[2019-02-06 15:50] IshaGupta18 commented on #4732
I also wanted to let you know @jywarren that I will be having my mid semester exams during early mid-feb so I may not be as active, but I'll try to stay in touch as much as I can!

[2019-02-06 15:50] jywarren commented on #4726
Well perhaps I have seen Dangerbot leaving comments on /some/ PRs now. So
it may be a bit more mysterious. But it's run from the file called
`Dangerfile` in the root directory. Perhaps it's encountering an error in
some PRs and not finishing its run? We may want to look carefully through
the logs to see, and also at https://travis-ci.org/publiclab/plots2/builds
to compare across builds.

On Tue, F

[2019-02-06 16:16] ebarry commented on #1502
Relaying a question from @shapironick who was wondering in another channel if in a future edition there might be varying thinness and thickness in the connection lines to show how closely related any two particular tags are? Thanks!

[2019-02-06 16:28] jywarren commented on #1502
that's a great idea. I think at this point we need to close this and open a
new issue with a checklist of possible refinements to the display, and
it'll be much easier for newcomers (less context and history required to
participate) to come in and start implementing them. I'm almost tempted to
spin it out into a new repository which is /just this graph/, since it
doesn't otherwise interconnect wit

[2019-02-06 16:29] jywarren commented on #4732
ok, good luck with the exams, Isha!

On Wed, Feb 6, 2019 at 10:50 AM Isha Gupta <notifications@github.com> wrote:

[2019-02-06 17:04] #4140 closed

[2019-02-06 18:00] cesswairimu commented on #4646
@chirag-singhal I don't know if you are still working on this but I somehow solved this issue on #4140  . Please let me know if you need help finding another issue to work on.
Closing this,
sorry

[2019-02-06 18:00] #4646 closed

[2019-02-06 18:00] skilfullycurled commented on #1502
Yay!  @shapironick!  Right now, the database query only sends the top-n tags and the count of those tags site wide. In the future, in order to have edge weights, we'd need to make a change on the back end to either send all of the tags to the front end so the interconnecting counts could be aggregated, or they need to be aggregated on the back end.  Alternatively, on the front end we calculate som

[2019-02-06 18:08] #4748 closed

[2019-02-06 18:20] sagarpreet-chadha commented on #3297
Solved in https://github.com/publiclab/plots2/pull/4633 🎉 !

[2019-02-06 18:20] #3297 closed

[2019-02-06 18:45] shapironick commented on #1502
Very cool! No presh on that idea +1 to starting a new issue this one is epic and awesome tho!

[2019-02-06 20:03] jywarren opened #4770 "Display comments in per-tag stats graphs"
Related to https://github.com/publiclab/plots2/issues/4541, I think it would be great to be able to see how many comments have been made on all posts which bear a given tag, sort of to see how much "chatter" there's been in a topic area. We could stack this over the existing graphs in #4693, which is where this would be especially useful!

@cesswairimu what do you think?

[2019-02-06 20:45] #4717 closed

[2019-02-06 20:49] jywarren commented on #1502
Right now in the data we're passing to the graph code, i think we do see when one tag (say, tag A) is linked to tag B, and we see a second connection if tag B links back to tag A. But that doesn't really tell us much. Refactoring to provide "weight" is interesting... i could imagine a few ways to do this too. I agree, we could either pass in all the `node.ids` which each tag has, and calculate thi

[2019-02-06 20:56] jywarren opened #4771 "non-unique id in comment form - possibly related to comment bugs"
Noticed this error when loading [a note page](https://publiclab.org/notes/warren/01-14-2019/experiment-with-polarizing-filters-to-view-crystalline-dust):

`[DOM] Found 2 elements with non-unique id #comment-form: (More info: https://goo.gl/9p2vKq) <form class=​"comment-form bound-success bound-beforeSend bound-error bound-keypress" id=​"comment-form" data-remote=​"true" action=​"/​comment/​create/

[2019-02-06 21:00] jywarren commented on #4771
I think this is because we use the comment form a second time here:

https://github.com/publiclab/plots2/blob/1470c885c0176e09a7c82c3d9635278607432444/app/views/notes/_responses.html.erb#L32

We should:

1. reconfigure the `id` attribute in the comment form to be unique (maybe based on a passed-in local variable?) -- see code: https://github.com/publiclab/plots2/blob/1470c885c0176e09a7c82c3d963527

[2019-02-06 21:39] jywarren commented on #4670
hmm so what are you trying out -- want to open a PR so we can all take a
look? Thanks!

On Tue, Feb 5, 2019 at 6:02 PM Jakob K <notifications@github.com> wrote:

[2019-02-06 21:40] jywarren commented on #4767
Hmm, uh oh... should we revert that change, do you think?

On Tue, Feb 5, 2019 at 7:19 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-02-06 22:44] cesswairimu commented on #4770
Sounds awesome @jywarren. Working on it thanks

[2019-02-06 23:09] jywarren commented on #4767
I opened two possible solutions.

https://github.com/publiclab/plots2/pull/4772 is what Gaurav suggested.

https://github.com/publiclab/plots2/pull/4773 is an attempt to fix it at 1.4.0 and if that works, we should go with that. @gauravano @cesswairimu can you try this out?

[2019-02-06 23:36] jywarren commented on #4767
OK, merged the 1.3.6 version and closing here based on @cesswairimu's input. @cesswairimu if you wouldn't mind opening an issue for sqlite testing, that'd be helpful, thanks!

[2019-02-06 23:36] #4767 closed

[2019-02-06 23:47] jywarren commented on #4660
Hi, thanks to everyone for your input here! I think there are some potential use cases for machine learning across the Public Lab ecosystem! But perhaps we need to do a bit more in-detail brainstorming on individual examples. For example, I'm not sure that running a containerized flask server as part of the `plots2` codebase makes sense because it dramatically expands the setup complexity of the p

[2019-02-07 00:32] jywarren commented on #4750
We can do better on tests being documentation.

You might like this -- one time i got really into this idea while coding a pixel-based dungeon adventure game platform (its a really good idea 😂), and I wrote a set of tests that actually narrate a scene in the dungeon:

http://pxlqst.com/test

https://github.com/jywarren/pxlqst

There's a lot going on in this project https://github.com/jywarren/pxlq

[2019-02-07 05:36] sashadev-sky commented on #4692
closing via #4718

[2019-02-07 12:15] gauravano commented on #4646
Hey @chirag-singhal, you can look for new issues at https://code.publiclab.org/# r=all and if you can't see any unclaimed, feel free to comment here, we will open a issue for you as @cesswairimu mentioned. Thanks!

[2019-02-07 13:08] #4752 closed

[2019-02-07 14:21] ebarry opened #4774 "THE SMALLEST BUG: error when adding tag `method`"
Hi everyone,
I have a very, very, very small bug to report :) Alahna and I believe that it's only affecting the single tag `method`, as we've been able to add, then delete, then re-add any other tag we tried with no problems. We only experienced the bug on this this wiki page: https://publiclab.org/emery-board.

Both alahna (regular user) and I (admin user) have attempted to add the tag `method` t

[2019-02-07 20:20] IshaGupta18 commented on #4732
Okay so I think I may have found a way to get rid of the page width problems, however, I am not too sure that if it will be considered as a very good way because it will require some refactoring of the existing code. Should I make a PR for it @jywarren ?

[2019-02-07 20:54] jywarren commented on #4732
sure!

On Thu, Feb 7, 2019 at 3:21 PM Isha Gupta <notifications@github.com> wrote:

[2019-02-07 22:35] #3850 closed

[2019-02-07 23:55] gauravano commented on #4774
I tried adding the `method` tag on the wiki/soil and it gave no error but when I tried on the wiki/emery-board, I got the same error.

I will try to reproduce the error locally. Thanks for reporting @ebarry!

[2019-02-08 00:05] gauravano commented on #4774
@jywarren can you paste logs for the issue. I tried reproducing it, but haven't got anything. Althought, I will try with fresh eyes after getting sleep. Thanks!

[2019-02-08 00:08] jywarren opened #4776 "Editor bottom-bar takes up a lot of space on mobile: let's compact it"
I'll upload a screenshot in a moment, but I think we can do a lot to help here!

[2019-02-08 00:12] jywarren commented on #4776
There- - uploaded. I think there are a few other things we can do to improve this as well! Maybe, compacting the upload modal, and making sure the tools bar doesn't overlap the modal.

Some of these could be solved in https://github.com/publiclab/PublicLab.Editor/ - and we can move this over there if people prefer.

All this should be doable in CSS, and you can simulate it by going to https://publ

[2019-02-08 00:24] jywarren commented on #4774
I think this is actually a mailing issue:

[code]

@icarito do you know why this might be?

Not sure but there are 4 people following the `method` tag. 2 are gmail, one is hotmail, and one is me.

[2019-02-08 04:41] skilfullycurled commented on #4750
@jywarren, I love it.  It's the unit test equivalent of the [Vim Adventures](https://vim-adventures.com/) game.  How much do I need to contribute to the crowdfunding campaign for you to name it, "Return to Dork".

[2019-02-08 07:41] icarito commented on #4774
Indeed I missed an alert about this this evening. I'm checking what is wrong...

[2019-02-08 07:55] icarito commented on #4774
Hi,
I reviewed the logs for our MTA - mail transfer agent (Exim4) and found that Docker had changed the internal bridge IP address outside the 172.16.* range to 192.168.* internal IP address, and we were not relaying for that range. I've added that IP range and it's working again!
In order to avoid these issues we might consider adding a MTA

[2019-02-08 07:55] #4774 closed

[2019-02-08 08:07] shubhscoder opened #4777 "Failure in sending welcome email"
I tried signing up with my emails and the welcome email fails in every case. Probably this is happening after merging #3992. But the tests run well and also it works perfectly well on the local machine. @jywarren  I think we will have to check the logs I guess to  figure out what is wrong. I think this should be fixed as soon as possible.

[2019-02-08 09:32] gauravano commented on #4777
Hey @shubhscoder, please provide more details, may be screenshots with steps. Thanks!

[2019-02-08 09:55] spelgubbe commented on #4670
I'm not able to reproduce the issues in my test environment.

[2019-02-08 10:53] shubhscoder commented on #4777
Ok so in a normal scenario, this is supposed to happen :
1. You signup with a email id.
2. You get a flash message saying "We have sent you a welcome email".
3. You get a welcome email on the email id with which you signed up.

But the following is happening:
1. You signup with a email id.
2. You get a flash message saying "We tried sending you the email but failed. Anyways your account has been c

[2019-02-08 12:14] gauravano commented on #4777
This happened in production?

Gaurav Sachdeva

On Fri 8 Feb, 2019, 4:24 PM Shubham Sangamnerkar <notifications@github.com
wrote:

[2019-02-08 12:25] shubhscoder commented on #4777
Yeah, this is happening in production! If I try sign up on the local
machine, it works perfectly fine.

On Fri, Feb 8, 2019 at 5:44 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-02-08 15:12] jywarren commented on #4777
Oh, thank you for reporting. If you could send the emails you signed up
with to jeff@publiclab.org, i can check the logs for them and see if there
was a mailing error?

On Fri, Feb 8, 2019 at 7:26 AM Shubham Sangamnerkar <
notifications@github.com> wrote:

[2019-02-08 15:17] jywarren commented on #4670
That's ok - if you open a PR we can also push that branch to unstable to
test on a real full database. If you'd like, we can make a conditional to
try 2 different queries based on a parameter, like `params[:optimize]` and
can then try it on unstable with
https://unstable.publiclab.org/...?optimize=true vs false -- does that make
sense? And test the response time that way.

On Fri, Feb 8, 2019 at 4

[2019-02-08 15:33] ebarry commented on #4774
Wow thanks everyone! Really appreciate it -- what an unexpected little bug!!!!!

[2019-02-08 15:42] jywarren commented on #4774
Great, thanks Sebastian! Shall we open a new issue for the MTA in
jywarren/web?

On Fri, Feb 8, 2019 at 2:55 AM Sebastian Silva <notifications@github.com>
wrote:

[2019-02-08 15:43] jywarren commented on #4777
Is it possible this overlapped with the mail issue in
https://github.com/publiclab/plots2/issues/4774#issuecomment-461646291 ?

On Fri, Feb 8, 2019 at 10:11 AM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-02-08 15:54] IshaGupta18 commented on #4603
@jywarren I wanted you to just have a look at my design before I start implementing it, if in case there's something more I can implement here?

[2019-02-08 15:58] shubhscoder commented on #4777
Yeah that is possible. I will try again if it is working after @icarito's
fix

On Fri, Feb 8, 2019, 9:13 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-02-08 16:04] shubhscoder commented on #4777
@jywarren it is working as of now. I think it was overlapping with #4774

[2019-02-08 16:15] jywarren commented on #4777
Great, thanks.

On Fri, Feb 8, 2019 at 11:05 AM Shubham Sangamnerkar <
notifications@github.com> wrote:

[2019-02-08 16:42] jywarren commented on #4603
This is very cool! So creative!

Just a few thoughts that might influence the design a bit:

1. if this will be implemented using JavaScript, like for example p5js - https://p5js.org/ (could start with a demo at https://editor.p5js.org/), we could point it right at the JSON to use as a source
2. that would mean we could develop it as a stand-alone JS visualization and preserve the original display

[2019-02-08 16:48] ebarry commented on #1502
Oh look, this made it into the historical record ;) : https://publiclab.org/wiki/community-development#2019

[2019-02-08 17:53] IshaGupta18 commented on #4603
Thanks a lot @jywarren ! I think all the ideas are really good. Even I was about the mention the problem in point 5. To solve it, I was thinking of enlarging the bubble proportional to the number of tags in that interval.

However, I think this would solve the problem better:
We could show a few tags next to the circles (which will be in descending order of their size, going down the page),  say 3

[2019-02-08 18:07] jywarren commented on #4603
great, shall we do another mockup before implementing? did you have an idea
of how you'd like to implement this, like, we could do circles using CSS
border-radius, or we could use p5js maybe? I do think that loading it from
the JSON address using something like
$.json('/stats/subscriptions.json').onComplete(function(response) { ... });
would be good. It'd require some small changes to the stats co

[2019-02-08 18:17] IshaGupta18 commented on #4603
Sure, we could do another mockup I think! I hadn't really thought about the implementation part, I was thinking of using CSS and normal JS, but if you think p5js would do good, we can go with that! I think we can retain the original JSON address and use JS to render this page.

[2019-02-08 18:23] jywarren commented on #4757
I also wanted to alert @publiclab/is-reviewers that I just rebased and merged quite a few new features and fixes: https://github.com/publiclab/image-sequencer/pulse/weekly

I noticed we have a lot of pull requests open in both plots2 and image-sequencer. And we have a lot of first-timers-only issues still open (in progress) at our welcome page: https://code.publiclab.org#r=all

Let's make a resolu

[2019-02-08 18:27] jywarren commented on #4603
If we can use basic JS and CSS, let's try -- better than including a whole
new library. But if you're interested in trying p5js out, we could do
something there too...!

On Fri, Feb 8, 2019 at 1:18 PM Isha Gupta <notifications@github.com> wrote:

[2019-02-08 18:31] IshaGupta18 commented on #4603
Yes I think we could explore both and see which one is better for the display as well as the site! I would start working on this at a better pace once I get over with my mid semester exams! Thanks a lot!

[2019-02-08 18:48] jywarren commented on #4603
good luck with your exams!!

On Fri, Feb 8, 2019 at 1:32 PM Isha Gupta <notifications@github.com> wrote:

[2019-02-08 19:06] shapironick opened #4779 "Title formatting glitch and editor fram drift"
### Please describe the problem (or idea)

I tried to post a research note

The quotation mark in the title is pointed the wrong way
![screen shot 2019-02-08 at 2 02 22 pm](https://user-images.githubusercontent.com/7503343/52499791-3e3b0200-2baa-11e9-8b89-426f7ce82df5.png)

The editor drifted down to the bottom of the screen while editing several times, as @ebarry and I posted about many months ag

[2019-02-08 20:01] gauravano commented on #3262
Hi @jywarren @ebarry!

#### Status update regarding the Translation project and discussion about next steps:

**1. File Structure change:**
We have successfully converted all the locales in their single language specific file and would upload them to Transifex as soon as https://github.com/publiclab/plots2/pull/4751 get's complete.This PR is raised by a contributor and aims at putting quotes aroun

[2019-02-08 20:06] IshaGupta18 commented on #4732
#4780 is my PR in an attempt to fix width issues. @jywarren kindly have a look at it and let me know if there's anything else that can be done! Thanks a lot!

[2019-02-08 21:25] gauravano commented on #4777
@shubhscoder do you think we can close this issue? Also, your PR is merged in master and production builds from the `stable` branch (If I remember correctly).

@jywarren left a note here for you - https://github.com/publiclab/plots2/pull/3992/files#r255240112. Thanks!

[2019-02-08 21:47] icarito opened #4781 "Add SMTP authentication feature environment variable"
We're using unauthenticated localhost SMTP to route mail thru Google. But we could use GMail directly if we had SMTP authentication. For this we need to feed username / password to the smtp process, thru an environment variable.

[2019-02-08 21:48] icarito commented on #4781
This is related to the SMTP testing issue and the underlying cause of https://github.com/publiclab/plots2/issues/4774

[2019-02-08 22:26] jywarren commented on #4661
Found the endpoint: it's on https://publiclab.org/post

![image](https://user-images.githubusercontent.com/24359/52509538-9122b280-2bc6-11e9-8cda-adaf1db8cd8b.png)

I think this has potential for optimization in both JavaScript and in the back-end, and has a lot in common with: https://github.com/publiclab/plots2/issues/4670

[2019-02-09 04:07] icarito opened #4782 "When mails fail to send, queue them for later."
Mail systems can sometimes have interruptions (e.g. we have a throttle from google for example).

Could we queue up failed outgoing emails?

There are subtle bugs like https://github.com/publiclab/plots2/issues/4774#issuecomment-461646291 that are confusing and if we had a proper mail queue cache we would avoid them.

One non-coding way to do this is to implement an MTA container and configure it

[2019-02-09 19:33] IshaGupta18 commented on #4603
Here's the updated design:

![image](https://user-images.githubusercontent.com/40794215/52525410-4c367300-2ccf-11e9-9d0d-cc03988c7fe3.png)

On clicking on the bubble (We could expand them proportional to the number of tags)

![onclick](https://user-images.githubusercontent.com/40794215/52525437-b18a6400-2ccf-11e9-9bfd-9e48a807dd8c.png)

Let me know how this looks!

[2019-02-09 20:47] gauravano commented on #4757
Anyone want to volunteer for opening next check-in?

[2019-02-09 21:03] sidntrivedi012 commented on #4757
@gauravano Yes, I would like to.

[2019-02-09 21:19] gauravano commented on #4757
Great! Please open the check-in by Monday evening and you can refer this
link - https://github.com/publiclab/plots2/blob/master/doc/CHECKINS.md for
help. Also, do let me know if you have any questions or concerns about
choosing theme or anything. Thanks!

On Sun, Feb 10, 2019 at 2:33 AM Siddhant N Trivedi <notifications@github.com>
wrote:

[2019-02-09 22:52] rohanpalhappy commented on #4611
I am taking up this issue.

[2019-02-09 23:50] sidntrivedi012 opened #4784 "Weekly Community Check-In #9 - 'Debug to Develop'"
Hello everyone :wave: !

We all at Public Lab :balloon: - learn, grow, work, brainstorm ideas and contribute together. So why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so that we can support and collaborate with each other better.

**The goal of our Community Check-In is for every community member to share something about their work from the

[2019-02-10 07:03] shubhscoder commented on #4777
Yeah we can close this @gauravano . I will surely check the note. Thank you so much !

[2019-02-10 08:34] RizwanSyed357 commented on #4681
Hi, Is anyone still working on this? If not, I'd be keen. First timer here :)

[2019-02-10 11:23] gauravano commented on #4777
Great!

[2019-02-10 11:23] #4777 closed

[2019-02-10 11:32] gauravano commented on #4681
Hi @RizwanSyed357, this one has a PR in #4700 and I think you have already started work on another FTO issue, so let's complete that for now. Thanks!

[2019-02-10 11:42] RizwanSyed357 commented on #4681
@gauravano Thanks for that

[2019-02-10 11:50] gauravano commented on #4611
The issue already has PR, so please look for another issues to solve. You can explore FTO issues at https://code.publiclab.org/#r=all and if you can't find one there, feel free to comment here, we'll try to open one for you. Thanks!

[2019-02-10 11:59] gauravano commented on #4757
New check-in open at #4784.

[2019-02-10 11:59] #4757 closed

[2019-02-10 14:27] gauravano commented on #3967
Hi @jywarren, what do you think about this integration - https://github.com/brigade/overcommit? Thanks!

[2019-02-10 14:33] gauravano commented on #3869
@jywarren what do you think about this transition?

[2019-02-10 14:34] gauravano commented on #3851
Hi @shubhscoder, you might be interested in taking this one? Thanks!

[2019-02-10 14:36] gauravano commented on #3811
This issue has been solved in #3820. Closing this. Thanks @itsshailesh47  and @narnt !

[2019-02-10 14:36] #3811 closed

[2019-02-10 17:36] #4616 closed

[2019-02-10 19:33] ShazZaman commented on #4681
Hello Guys, is anybody currently working on this issue?

[2019-02-10 23:29] jywarren commented on #3869
Could it relate at all to system testing, which is opened another issue
about, which seems to be able to render screenshots of the app from a test?
Just thinking ahead to upcoming rails features. We have a lot of errors
recently with JavaScript integrations and our js plots2 tests are not very
good (partly because we have to keep HTML fixtures up to date which is not
very maintainable).

Even if s

[2019-02-11 03:32] shubhscoder commented on #3851
@gauravano , I have already made a PR #4493  for this issue. That branch has however become stale now and thus has conflicts. I will resolve the conflicts now. Then can you please check if something needs to be changed? Thank you so much!

[2019-02-11 06:48] arungoel123456 commented on #4732
what all issues are solved ? Can u please tell

[2019-02-11 14:39] arungoel123456 commented on #4732
@jywarren  what is the status of this issue ? Can u please tell

[2019-02-11 14:41] IshaGupta18 commented on #4732
Width related problems have been solved, author's profile picture problem
has been solved and some work is being done on weekly or daily title, I and
@jywarren are discussing that. You can make a PR for the date issue if you
want to. Thanks a lot!

On Mon, Feb 11, 2019, 8:09 PM Arun Goel <notifications@github.com wrote:

[2019-02-11 14:44] arungoel123456 commented on #4776
@jywarren  allow me to work on this issue

[2019-02-11 14:49] arungoel123456 commented on #4732
OK , let me check the date issue. Thanks

[2019-02-11 15:03] IshaGupta18 commented on #4732
Okay @jywarren , so I am seeing, on using byebug, that the main_image_id field is nil even for a post that contains an image, for example (this is just a test post I made)

`#<Node nid: 49, vid: 49, type: "note", language: "", title: "try image", uid: 2, status: 1, created: 1549696643, changed: 1549696643, comment: 2, promote: 0, moderate: 0, sticky: 0, tnid: 0, translate: 0, cached_likes: 0, comm

[2019-02-11 15:10] IshaGupta18 commented on #4663
I think this issue is done, so I am closing it. Great work :tada:

[2019-02-11 15:10] #4663 closed

[2019-02-11 15:11] SidharthBansal commented on #4663
Thanks

On Mon, Feb 11, 2019, 8:40 PM Isha Gupta <notifications@github.com> wrote:

[2019-02-11 17:46] gauravano commented on #4776
Hi @arungoel123456, you can surely help. This issue needs to be solved in PublicLab.Editor and you can contact @rexagod for guidance about the editor. Thanks!

[2019-02-11 18:22] gauravano commented on #3851
Oh, great @shubhscoder! I will take a look. Thanks!

[2019-02-11 19:11] gauravano commented on #4784
Great check-in @sidntrivedi012 and nice theme :100:!

We have lots of bugs to handle at https://github.com/publiclab/mapknitter and https://github.com/publiclab/Leaflet.DistortableImage so jump-in if you want to help.

Our mapknitter project is showing some activity and now ready for your commits, thanks to @Dhiraj240 @sashadev-sky @SidharthBansal  @IshaGupta18 @rexagod who are contributing active

[2019-02-11 19:20] ebarry commented on #4784
What a great theme @sidntrivedi012 !
The week i'm supporting our Search User Interface contractor with whatever she might need, and will be available for discussing any features that need input from a Community Rep. Thanks!

[2019-02-11 19:59] Souravirus commented on #4784
Hey everyone, hope everyone is fine.
I am still working on the upgrade to bootstrap 4. It came to out to be a lot bigger project than I thought.  So, this week I will be working on it.

Thank you!!

[2019-02-11 20:15] CoderJolly commented on #4784
Which issue would dat be cause I would also like to help

[2019-02-11 20:22] Souravirus commented on #4784
Oh I am working on the pull request #3937.

[2019-02-12 01:45] sashadev-sky commented on #4784
@sidntrivedi012 awesome check in, thank you! I love what you did breaking up the projects by skills and sharing an article.

This week I will be
1) Mapping out my involvement in mapknitter
2) Forking all the repos connected to mapknitter and trying to solve at least one issue in them to learn the code. So far I have made a PR for leaflet.distortableImage

I wanted to share what really helped me to

[2019-02-12 01:48] sashadev-sky commented on #4784
Oh one more thing!! I am making setup instructions in mapknitter for macOS users. Is there anyone available who can help test run what I have so far and go through it with me and make changes???
I will probably open a specific issue about this tonight but please let me know here if you can help!

[2019-02-12 01:55] icarito commented on #4661
Today we had another dramatic slowdown for about an hour at 6:30PM - 7:30PM UTC.
![image](https://user-images.githubusercontent.com/199755/52606073-4069be80-2e3f-11e9-87bc-8f6adaa42e24.png).

[2019-02-12 02:45] icarito commented on #4561
I've compiled a log analysis of the _slow_ mysql queries ( > 5s ) at http://tycho.media.mit.edu/log_feb/mysql-slow.html . This is for two days including one hour downtime due to slowdown. I don't immediately apparent to recognize where the slowness is, but scrolling way down this catches my eye:

Rows examined - by mean | Hits | Sum | Mean | StdDev | Min | Max | 95 %tile
-- | -- | -- | -- | -- | -

[2019-02-12 03:10] icarito commented on #4661
I have checked the logs and found that the flurry of searches stems from typeahead search indeed!

[2019-02-12 03:11] icarito commented on #4661
[code]

[2019-02-12 06:06] arungoel123456 commented on #4776
Can u please tell what is Editor

[2019-02-12 06:59] gauravano commented on #4776
We use Publiclab.Editor - https://github.com/publiclab/PublicLab.Editor/ as
integration in plots2 for the work, so if this issue is in that repo, we
can solve it there and make a update here.

On Tue 12 Feb, 2019, 11:36 AM Arun Goel <notifications@github.com wrote:

[2019-02-12 07:01] milaaraujo commented on #4561
Hey @jywarren, maybe you could try those queries in the production database so we could know how long each of them takes to execute. What do you think?

I can write a migration to delete users who have very little activity. Do you think we could use this logic?

[2019-02-12 11:59] niravasher commented on #4784
I have been adding preview function in the Editor. That is done, just waiting for discussion with community-reps for accepting the frontend. Currently having some problems installing mapknitter on windows, and after installation will be working on adding a progress bar to an image upload

[2019-02-12 12:22] arungoel123456 commented on #4732
#4792  is my pr for why dates dont appear right in emails

[2019-02-12 12:24] arungoel123456 commented on #4776
Sorry @gauravano  . For this issue , I need to install node . And I don't have interest in node . So I request u to give this issue to someone else

[2019-02-12 14:39] ebarry commented on #4614
Hi everyone, we are halfway through the survey period yay!
Time for my friendly reminder that if you have not responded to this survey, please do take a few minutes -- it's anonymous and the future analysis and sharing of our combined responses will help our community become more self-aware, welcoming, and functional. :)

[2019-02-12 14:41] ebarry commented on #4784
Writing in to add that we are at the halfway mark of the Software Contributors Survey for 2019 -- We have 37 responses so far, and there are clearly many more people than that involved here! To all newcomers as well as those more familiar, please take a moment to fill it out, thanks all! https://github.com/publiclab/plots2/issues/4614

[2019-02-12 14:42] ebarry commented on #4784
Hi @sashadev-sky , i just noticed that you are in New York City. So are Bronwen and I, we work out of Brooklyn's Navy Yards. Please let me know if you'd like to come in and co-work nearby any day. 🎉 🌮

[2019-02-12 14:56] dewanhimanshu commented on #4782
We can use redis and resque for this . Resque also provide a web interface for admin.

[2019-02-12 16:31] IshaGupta18 commented on #4732
Moved to #4793

[2019-02-12 16:34] IshaGupta18 commented on #4732
@arungoel123456 , for your query in #4792 , https://github.com/publiclab/plots2/issues/4732#issuecomment-462351446 read this.

Also, me and @jywarren discussed about `* are we sure the same posts aren't being sent out multiple times?` and I believe about `* looks like maybe updated wiki pages are included? If so we should present them a bit differently` as well and I have asked him about https://g

[2019-02-12 17:48] CoderJolly commented on #4784
Sure, I hv MacOS

[2019-02-12 19:26] gauravano commented on #4776
No issue @arungoel123456! There are plenty of other issues open, you can help us with them. Thanks!

[2019-02-12 19:32] gauravano commented on #4782
Actually, we already have redis and sidekiq setup so how about using them? Thanks!

[2019-02-12 19:35] cesswairimu commented on #4784
Hello everyone :wave:
This week I am finishing up on the follow up issues on the new graphs.
Next I will do tag-stats related tickets on milestone 20.
Great theme @sidntrivedi012

Have a nice week ahead.

[2019-02-12 19:36] rohanpalhappy commented on #4424
I am taking up this issue

[2019-02-12 19:39] Divy123 commented on #4784
Hello everyone !
This week I will be working on restructuring issue in image sequencer and try to help others in the community.
Sorry @tech4GT @jywarren I have not been able to do some good amount of work since two days as my laptop is under servicing due to some hardware issues.
It will get fixed by tomorrow and I will start the work as soon as possible.
Thanks!

[2019-02-12 19:41] gauravano commented on #4681
Hi @ShazZaman, this issue has a PR in progress at #4700. You can find more FTO issues at https://code.publiclab.org/#r=all and if you don't see any unclaimed there, then feel free to comment here, we'll try to open an issue for you. Thanks!

[2019-02-12 19:47] gauravano commented on #4424
Hi @rohanpalhappy, this issue is currently in the discussion stage and we are waiting for @publiclab/community-reps approval for the design. Thanks!

[2019-02-12 20:02] rohanpalhappy commented on #4424
I've PRed #4794 https://github.com/publiclab/plots2/pull/4794 Please check it out

[2019-02-12 20:04] rohanpalhappy commented on #4424
okay @gauravano

[2019-02-13 01:23] dinaelhanan commented on #4699
I think I know what might be going in. It looks like it's sorting them by most recent and most page views, while it should check first if there's a wiki with the exact name as the search result.  @gauravano I'd like to take this one on, but I want to get familiar with the code that handles this, where would I find it? Thanks!

[2019-02-13 01:35] sashadev-sky commented on #4784
@ebarry that would be great! I just sent the both of you an email about it :)

[2019-02-13 01:44] sashadev-sky commented on #4784
@CoderJolly thank you! I never opened the issue because I am waiting to find it out if we will update the mySQL version (most likely I think we will). Having multiple versions of mySQL on your system can create complications during setup so would you want to wait until after the update?

Unless you were already planning to start contributing this week then please let me know!

[2019-02-13 08:01] dewanhimanshu commented on #4782
Thats great . yes we can use sidekiq also for this . Is there a web ui for it also?

[2019-02-13 08:10] AdiyogiV commented on #4730
Hey, can I take up this issue if it's still available?

[2019-02-13 08:52] gauravano commented on #4730
Hi @AdiyogiV, go ahead. Thanks!

[2019-02-13 09:21] gauravano commented on #3808
Hi @jywarren, as for now, I guess, we can see the messages from matrix but yeah, there maybe some instances where a message is dropped like you mentioned in Gitter channel.

What do you think, we should do on our end to push the issue forward? Thanks!

[2019-02-13 09:30] gauravano commented on #3741
Closing this issue as solved in #3941 . Thanks!

[2019-02-13 09:30] #3741 closed

[2019-02-13 10:30] AdiyogiV commented on #4730
List of changes made here (to be copied to other repos) :
1. Under section 'How it Works?' sub-section 'Two helpful groups' sub-section 'ConductCom' :
  a) Update Conduct committee member names.
  b) Update method to report violation of Code of Conduct.
2. Change date of updation.

[2019-02-13 10:36] gauravano commented on #3732
Hi @jywarren, although the PR raised for the issue is merged but the https://infragram.org still have same un-aligned pagination bar. Have you pushed the commit to production or this issue should be transferred to infragram repo?

Thanks!

[2019-02-13 10:45] gauravano commented on #3677
Hi @jywarren, please update the issue progress. Thanks!

[2019-02-13 10:59] gauravano commented on #4782
Yes - https://publiclab.org/sidekiq

On Wed, Feb 13, 2019 at 1:32 PM Himanshu Dewan <notifications@github.com>
wrote:

[2019-02-13 13:01] gauravano commented on #4699
Hi @dinaelhanan, that's great. the controller behind https://publiclab.org/search/wikis/india/ is SearchController and wikis method and india is passed as a query parameter. Thanks!

[2019-02-13 13:23] sashadev-sky commented on #4589
@geekychaser @jywarren I have found the line that was causing the issue:
https://github.com/publiclab/plots2/blob/5379e9780f07c31e3ef81113b0bf53c3e9f1d149/app/views/notes/_notes.html.erb#L37

changing `node.likes` -> `node.likers.length` fixes the issue. But I will wait to open a PR until #4778 is resolved because I am trying to figure out if there is a bigger problem with the source code overall

[2019-02-13 14:29] dewanhimanshu commented on #4782
Thats great  . Then its better to use sidekiq and redis . We can create a background jobs/thread for the mails .

[2019-02-13 15:50] dinaelhanan commented on #4699
@gauravano what is the .to_s.to_sym here? Since the param is order, I'm just wondering how I would change it to list items that exactly equal the query to be first. Thanks.
https://github.com/publiclab/plots2/blob/4201aa9db8754971982a95a9a171723072c90d48/app/controllers/search_controller.rb#L12

[2019-02-13 16:25] jywarren commented on #3262
Hi, sorry for slow response!

This sounds great; we might start by version tracking the config file and steps you take just so we have a way to reproduce it. But yeah, very interested to look at some integrations, thanks!

3. this sounds great. I know the key texts may be long, but the idea is to not use it for very long texts (we can do this gradually) and that people should be able to supply an

[2019-02-13 16:27] jywarren commented on #3262
For 2., I'd like to enable this for only those who have a URL parameter like `translation=true` but i also [see your comment](https://github.com/publiclab/plots2/pull/4787#issuecomment-462439466) that we'll be changing this gradually, string by string, so I think that's OK too, actually that's probably easier! Thanks @gauravano !!!!

[2019-02-13 16:37] cesswairimu commented on #4539
Hi, @gauravano  @SidharthBansal @sagarpreet-chadha @jywarren

I am conflicted on which time I should use to determine the period here. Should I use the NodeTag `date` attribute or the Node `created` to determine the `tag date`

Also I was thinking of having this on the /range page with displaying the most used 5 tags within that range represented like so :point_down:
![pie](https://user-images.git

[2019-02-13 16:49] jywarren commented on #4424
Hi @rohan2599 - apologies for not continuing the community design discussion here a bit. I really appreciate your PR! We do need to think through a few things first, however.

![](https://user-images.githubusercontent.com/39710215/52666085-4640cc00-2f33-11e9-97c5-fc4e8d5101bf.png)

Your code and screenshot look really nice. The big questions are,

1. how does it read at different screen widths? We

[2019-02-13 16:49] jywarren commented on #4424
Ack, sorry! I clicked the button when i didn't mean to! Let me continue writing...

[2019-02-13 16:58] jywarren commented on #4424
#4690 has the most documentation about header wrapping.

In general, my other concern design-wise is just that the logo may not render well at such a small size. This is not a criticism of the idea of putting it in the header, really, more a shortcoming of the logo design itself (which i helped design, so i can be extra critical 😄 ).

What if we thought about placing the logo in the footer, center

[2019-02-13 17:00] jywarren commented on #4784
Thanks, everyone! I agree, i love the breakdown by type in the table, @sidntrivedi012 -- great work!

Lots of exciting stuff going on. A neat one - we've demonstrated running a Sequencer inside a sequencer module, here: https://github.com/publiclab/image-sequencer/pull/764 which lets us create more complex image processing steps made up of combinations of others -- like, generating a colorbar, res

[2019-02-13 19:23] snpd25 commented on #4624
@IshaGupta18 What if we change the line `328` in `tag.rb` from:
  `.order(count: :desc)`
to:
`.order(Arel.sql('COUNT(term_data.tid) DESC'))`

[2019-02-13 20:25] jywarren commented on #4539
Hmm, intersting question! Let's try using the Node `created` because it represents the date of the content itself, not the labeling of that content.

I like the graph - it's very nice looking! But i wonder if it kind of implies a "maximum" value since it's a circle. I hate to be boring but in this case perhaps a simple bar graph is most appropriate. We can brainstorm some other ways to do more int

[2019-02-13 20:27] jywarren commented on #3808
hmm. I wonder if we could ask folks in the linked issue whether we could
write a test to demonstrate this? Or start to narrow in on the code that
drives this to try to submit a fix ourselves?

On Wed, Feb 13, 2019 at 4:21 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-02-13 21:43] jywarren opened #4798 "Integrate new autocompletion code from PublicLab.Editor"
This code is now out of date:

https://github.com/publiclab/plots2/blob/fe50428f4c56f12fcea92ae76343346d0421da70/app/views/editor/rich.html.erb#L326-L327

We have a great new autocompletion system in the Editor project, and are working on documenting/refining it here: https://github.com/publiclab/PublicLab.Editor/issues/55

This should allow autocompletion of `@usernames`, `#tags`, and `:emoji:` u

[2019-02-13 21:43] jywarren commented on #4798
@rexagod just so you see this here too!

[2019-02-13 22:06] jywarren commented on #3732
I think we are done here, thank you! https://github.com/publiclab/infragram-js/pull/9

We'll publish soon - thanks a lot!

[2019-02-13 22:06] #3732 closed

[2019-02-13 22:25] jywarren commented on #4732
Re main image - try using this code here, which looks for a main image, and if it doesn't find one, actually tries to scrape out the first image in the post:

https://github.com/publiclab/plots2/blob/fe50428f4c56f12fcea92ae76343346d0421da70/app/views/notes/_notes.html.erb#L7-L11

Thanks!

[2019-02-13 22:27] jywarren commented on #4732
Just responded in https://github.com/publiclab/plots2/pull/4780#discussion_r255303340, but this is looking great, and we can do the refactoring of `weekly` vs `daily` in a new issue!

[2019-02-13 22:34] jywarren commented on #3677
I think the only remaining thing we could look into would be from [this comment](https://github.com/publiclab/plots2/issues/3677#issuecomment-431881996), the essence of which would be:

* [ ] decide to, and implement, auto-generating redirects from any `kabob-cased` tag to its hyphen-free alternative `kabob-cased` version, for all wiki pages.

Although now that I think of it, we could also explore

[2019-02-13 22:37] jywarren commented on #4730
Thanks, @gauravano -- My main concern here is that any time /conduct changes, we'd have to update many different CODE_OF_CONDUCT.md files. Could we reduce the text of CODE_OF_CONDUCT.md to provide basic information but largely point at https://publiclab.org/conduct, so as to prevent them from going out of date? @ebarry your thoughts?

[2019-02-13 22:44] jywarren commented on #3571
Hi, @dependabot @greysteil - is there a way to set up dependabot to update our yarn.lock file as well, or an example `config.yml` we could look at to achieve this? Thank you!

[2019-02-13 22:46] greysteil commented on #3571
@jywarren for sure.

[code]

[2019-02-13 22:47] jywarren commented on #3571
Amazing and so fast. Are you a bot? 😄 Thanks!

[2019-02-13 22:47] #3571 closed

[2019-02-13 22:48] jywarren commented on #3571
https://github.com/publiclab/plots2/commit/e3cf2112469c8be284e541579d2bc02b62d39e7a

[2019-02-14 05:36] dependabot[bot] opened #4805 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-14 05:36] dependabot[bot] opened #4806 "Dependabot couldn't fetch the branch/reference for junction"
Your dependency file specified a branch or reference for junction, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-14 05:36] dependabot[bot] opened #4807 "Dependabot couldn't fetch the branch/reference for d3-plugins"
Your dependency file specified a branch or reference for d3-plugins, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-14 05:36] #4805 closed

[2019-02-14 05:36] dependabot[bot] opened #4808 "Dependabot couldn't fetch the branch/reference for FileSaver"
Your dependency file specified a branch or reference for FileSaver, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-14 05:36] dependabot[bot] opened #4809 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-14 05:36] dependabot[bot] opened #4810 "Dependabot couldn't fetch the branch/reference for Blob.js"
Your dependency file specified a branch or reference for Blob.js, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-14 05:36] #4806 closed

[2019-02-14 05:36] #4807 closed

[2019-02-14 05:36] #4808 closed

[2019-02-14 05:36] #4809 closed

[2019-02-14 05:36] dependabot[bot] opened #4811 "Dependabot couldn't fetch the branch/reference for file-saver"
Your dependency file specified a branch or reference for file-saver, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-14 05:36] #4810 closed

[2019-02-14 06:12] Harshithpabbati commented on #4189
Can i work on this???

[2019-02-14 06:47] cesswairimu commented on #4539
Thanks @jywarren

[2019-02-14 08:38] gauravano commented on #3262
Can we have a call for Translation helper part, because I think, I would require some more clarity on this? Thanks!

[2019-02-14 08:38] gauravano commented on #3262
Ok, working on it.

[2019-02-14 08:39] gauravano commented on #3262
@jywarren

[2019-02-14 09:22] gauravano commented on #4189
Hi @Harshithpabbati, as the PR raised against this issue is abandoned, you can work on this one. Thanks!

[2019-02-14 09:44] gauravano commented on #4730
That's a nice idea @jywarren! So, if any of @publiclab/community-reps can list those sections which they believe doesn't change frequently and are good to be included here in the file, that'll solve our problem.

Sections to be included in CODE_OF_CONDUCT.md:
- [ ] Section 1

@ebarry @jywarren @steviepubliclab please list the sections in above list or you can also make changes in #4795 directly or

[2019-02-14 09:56] gauravano commented on #3677
@jywarren I think @steviepubliclab's [idea](https://github.com/publiclab/plots2/issues/3677#issuecomment-432246848) is nice and seems possible. Where do you think we should implement it- at https://publiclab.org/search/ maybe?

Thanks!

[2019-02-14 10:07] gauravano commented on #3732
Great!

[2019-02-14 10:24] gauravano commented on #4782
Yup. you want to work on this @dewanhimanshu? Also, what do you think about this @icarito @jywarren? By queuing email for later, the user will not experience any delay or conflict in events like Signup, liking a comment, commenting, etc wherever email is sent in the background. Thanks!

[2019-02-14 10:30] gauravano commented on #4424
Ah, to be honest, the above design is not looking that good. It's disturbing the alignment of paragraphs in footer. Let's keep thinking about other places. Also, if the header issue is solved, we can try the logo there too. Thanks!

[2019-02-14 11:19] gauravano opened #4819 "Change the alert text shown in sidebar"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-02-14 11:20] gauravano commented on #4819
This issue is made for @marieram. Thanks!

[2019-02-14 11:47] gauravano opened #4820 "Make moderate buttons to appear on the same line"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-02-14 11:47] gauravano commented on #4820
This issue is created for @ctam853. Thanks!

[2019-02-14 11:57] gauravano opened #4821 "Remove newline to show FB and Twitter buttons on same line"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-02-14 12:56] swiatek7 commented on #4821
Hello
I would like to claim this issue :) 🙋

[2019-02-14 14:30] swiatek7 commented on #4821
As a first timer I find installation really difficult, because bundler version is not definied.
That means if a new user, "first timer" like me tries to run plots2 then one ecounters this error message:

All of this is due to:
https://bundler.io/blog/2019/01/04/an-update-on-the-bundler-2-release.html

[2019-02-14 14:48] marieram commented on #4819
Thank you I will get right on it!

[2019-02-14 15:37] ebarry commented on #3677
I agree that @steviepubliclab 's idea is nice and straightforward. Not sure where it should be implemented.

[2019-02-14 16:10] ctam853 commented on #4820
Thank you for your help @gauravano. I'll claim this issue.

[2019-02-14 16:28] jywarren commented on #4660
This is a really great example of using machine learning to identify environmental issues: https://skytruth.org/2019/02/using-machine-learning-to-map-the-footprint-of-fracking-in-central-appalachia/

it also gets at some of the challenges, as well as discusses how to use existing manually categorized datasets as a training set, OR to use existing databases to correlate with imagery to train a mode

[2019-02-14 17:38] IshaGupta18 opened #4822 "Refactoring daily vs weekly subject title in Email Digests"
Okay so I am trying to do this, but I think that it is probably hard coded somewhere, and a variable for checking which type of digest is not being sent to the actions:

Like here, in the mailer code:
https://github.com/publiclab/plots2/blob/d3b122efaa42a9d6b06a70f53626334ad2cf085b/app/mailers/subscription_mailer.rb#L58

Here in the send_digest_email function, top picks are being selected for a we

[2019-02-14 17:40] IshaGupta18 commented on #4732
#4822 for the weekly vs daily issue!

[2019-02-14 18:07] jywarren commented on #3677
OK, i'll open a new issue for that and close this one, leaving aside the auto-redirect generation idea. Thanks!

[2019-02-14 18:07] #3677 closed

[2019-02-14 18:28] jywarren opened #4823 "Add extra search results for related terms"
There might be multiple ways to do this, and there are a few goals:

1. return search results for non-hyphenated terms when entering hyphenated terms, like `purpleair` when searching for `purple-air` (see https://github.com/publiclab/plots2/issues/3677#issuecomment-432246848)
2. the reverse; returning results for hyphenated terms when entering non-hyphenated ones, so adding `purple-air` results wh

[2019-02-14 18:28] jywarren commented on #3677
moved to https://github.com/publiclab/plots2/issues/4823

[2019-02-14 18:30] jywarren commented on #4823
Just noting that I'd like to start by writing a test for this as we did in the Lemmatizer PR - #4533 - where we start by showing a search result that /doesn't/ return correct results, and fails the test, then we implement the term-adding feature and are able to see the test pass. Thanks!

[2019-02-14 18:36] SKashyapD commented on #4660
Hey everyone and thanks @jywarren for your wonderful inputs and your proposed ideas are very cool and interesting.
I have already started reading and researching about them. It will take me about a week to find out how things are supposed to be done.
thanks, everyone.

[2019-02-14 18:43] #4729 closed

[2019-02-14 18:50] CoderJolly commented on #4784
Sure, I am ready to wait. I will work on Bootstrap issue

[2019-02-14 18:54] gauravano commented on #4702
Completed in #4751. Thanks!

[2019-02-14 18:54] #4702 closed

[2019-02-14 19:04] arungoel123456 commented on #4732
#4824  For dates to appear right In E-MAIL

[2019-02-14 19:10] arungoel123456 opened #4825 "Not redirecting to profile when clicking"
In the mobile view ,  even after clicking the profile button , we are not redirected to the profile .
here are some ss.
![1](https://user-images.githubusercontent.com/31837154/52811097-47503580-30ba-11e9-8a16-b20ae5f08d0b.png)
![2](https://user-images.githubusercontent.com/31837154/52811104-49b28f80-30ba-11e9-9854-82d18c320305.png)
![3](https://user-images.githubusercontent.com/31837154/52811106-4

[2019-02-14 19:11] arungoel123456 commented on #4825
Third picture shows what happens when we click on the profile button

[2019-02-14 19:11] gauravano commented on #4819
Awesome!

[2019-02-14 19:12] gauravano commented on #4820
Great @ctam853!

[2019-02-14 19:29] gauravano commented on #4821
Hi @swiatek7, sorry you have to encounter this error. We always try to be up-to-date with our docs and try to provide installation instructions which can help most contributors. Do you think a prerequisite section would be a good addition? Thanks and keep us updated if you still face any error or require help. Thanks!

[2019-02-15 00:05] #4811 closed

[2019-02-15 03:37] shubhscoder commented on #4823
Yes @jywarren this is interesting and I would like to work on it. Thank you so much!

[2019-02-15 04:34] jywarren commented on #4823
Thank you too!!

On Thu, Feb 14, 2019, 10:37 PM Shubham Sangamnerkar <
notifications@github.com wrote:

[2019-02-15 13:39] #4766 closed

[2019-02-15 13:42] gauravano commented on #4766
@jywarren @ebarry a question ?? at  https://github.com/publiclab/plots2/issues/4766#issuecomment-460827084. Please help. Thanks!

[2019-02-15 14:02] gauravano commented on #4825
Hi @arungoel123456, the clicking on **Profile** item expands the nav further and from there if you click on the Profile option, you'll be redirected to your profile page. Try Profile button both at full-screen and mobile-view and you'll get to know, what I mean. Thanks!

[2019-02-15 15:55] #4611 closed

[2019-02-15 15:57] dewanhimanshu commented on #4782
I will be difficult for me to work as my mid sem exams are comming . But thanks @gauravano  for giving me this opportunity. User experience will remain smooth . Actually i have used background jobs in my projects and it improves the user experience .  Mail  will be send on seperate thread instead on main server thread.

[2019-02-15 15:59] dewanhimanshu commented on #4781
![screenshot from 2019-02-15 21-28-52](https://user-images.githubusercontent.com/32437794/52868225-bb491700-3168-11e9-8ad2-2eb5728a5786.png)
Hey @icarito  are you talking about these settings?

[2019-02-15 16:05] gauravano commented on #4782
Yeah, I have also built a project in past using Redis and Resque, the user experience really improves with using queue. We can start this project after a week or two(I also have mid sem from next weekend :see_no_evil:). Let's work on this one in March or if someone wants to implement this, please go ahead.
And, all the best @dewanhimanshu for your exams!
Thanks!

[2019-02-15 16:13] dewanhimanshu commented on #4782
Thank you @gauravano . All the best for your exams also.

[2019-02-15 16:16] gauravano commented on #4782
Thank you!

[2019-02-15 19:47] jywarren commented on #3262
Hi Gaurav, sorry - I bet it's late there now. I could potentially meet on Monday if you want to name a time?

[2019-02-15 19:48] jywarren commented on #3262
If there's anything I can help clarify or discuss in the meantime I'm happy to!

[2019-02-15 20:04] gauravano commented on #3262
Let's focus here a bit:

![helper_part](https://user-images.githubusercontent.com/20878070/52880919-463a0980-3189-11e9-9d71-1b0514adf833.png)

Currently, we use `<%= t() %>` helper, also known as translate() .

Let's take a example: There's a key  ---> **users.reset.reset_password**  and it has corressponding value ---> "Reset your password".

It is saved in our en.yml file as
![saved_as](https://

[2019-02-15 20:04] gauravano commented on #3262
@jywarren

[2019-02-15 22:14] jywarren commented on #4784
Hi, all - just chiming in to note that I've been going through @edieblu's UI design work bit by bit, and responding in more depth with some additional ideas on the Dashboard design and the People page design. You can chime in here if you have input!

https://publiclab.org/notes/edie_blues/12-13-2018/public-lab-dashboard-new-design-ideas#c21883

https://publiclab.org/notes/edie_blues/01-16-2019/wha

[2019-02-15 22:14] jywarren commented on #4784
Hi @sashadev-sky -- yes, i think we should upgrade MySQL, and would be happy to accept a PR!

[2019-02-15 23:58] jywarren commented on #4823
Wow, Lemmatizer added the extra feature and released a new version! Cool!

`lem = Lemmatizer.new("sample.dict.txt")`

[2019-02-16 00:00] jywarren commented on #3262
Ah, i see. So, the idea is that we'd override the `t()` helper, OR we'd add
a new one, which would look up the string, but if it didn't find it, it'd
use the supplied string as the output. That way, when adding new strings to
the site, new contributors could just add text in English using this
helper, and wouldn't have to know about or deal with adding translation
strings -- we'd pick that up late

[2019-02-16 02:55] suhailsinghbains commented on #4688
Hey, can I please work on this, I am new here.
Thanks

[2019-02-16 06:16] sagarpreet-chadha commented on #4784
Hey everyone,

I was traveling the previous week (first vacation in a long time 🏖 😄 ) , hence was not able to do much contributions .
I plan to start my week by debugging : https://github.com/publiclab/plots2/issues/4722
And then i will focus mainly on LBLD  🔍 🗺   !

Thank you !

[2019-02-16 09:22] gauravano commented on #3462
Closing this issue as it has been solved in #3833 but not issue wasn't closed due to missing Fixes statement in the PR. Thanks all and sorry @suryanshsrivastava @arungoel123456 for inconvenience.

[2019-02-16 09:22] #3462 closed

[2019-02-16 09:54] #4539 closed

[2019-02-16 10:17] gauravano commented on #4784
Anyone want to open next week's check-in?

[2019-02-16 10:28] IshaGupta18 commented on #4784
Yes, I would love to!

On Sat, Feb 16, 2019, 3:47 PM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-02-16 10:34] #4754 closed

[2019-02-16 11:01] Knightrv commented on #4821
Is someone else already working in this issue?
Can I claim it?

[2019-02-16 15:10] sidntrivedi012 commented on #4784
Thanks everyone for liking the theme. Cheers to debugging. :tada: :tada:

[2019-02-16 18:53] marieram commented on #4819
@gauravano, I submitted a PR and received a message from the plotsbot. But I do not see the feedback being given.

[2019-02-16 19:05] swiatek7 commented on #4821
I am working on this issue :)

[2019-02-16 19:18] shubhscoder commented on #4823
@jywarren I have thought of the following solution : -

1. We add the following helpers in module TextSearch (https://github.com/publiclab/plots2/blob/master/lib/text_search.rb) : -
  a.  non_hypenated_results (This would remove the hyphens from the query and return it as it is)
  b.  results_with_probable_hyphens (As you suggested we would have a file containing key value pairs of words along wit

[2019-02-17 05:21] icarito commented on #4661
As a workaround to prevent user experience degradation we might want to throttle  the API endpoint?

I also like the idea of issuing typeahead requests every few seconds _if the entry input has changed_, rather than `onChange`.

[2019-02-17 05:42] icarito commented on #4661
![image](https://user-images.githubusercontent.com/199755/52908910-c70e0980-324c-11e9-8984-cafa0b118e81.png)

This is happening now on any keypress, even arrow keys!

I've made https://github.com/publiclab/plots2/pull/4841 hopefully it will help!

[2019-02-17 05:50] icarito commented on #4661
![image](https://user-images.githubusercontent.com/199755/52908960-bdd16c80-324d-11e9-9a37-7d0d8fcde692.png)

The more one types the longer it takes for the API to respond I guess it's slowing down due to the many requests. It'd be cool to cache responses in Javascript. Also I noticed even empty string and one or two chars are being queried (I thought minLength: 3 was meant to avoid this?).

[2019-02-17 08:50] gauravano commented on #4819
Great, I will review your PR. Thanks!

[2019-02-17 09:08] gauravano commented on #4784
Great @IshaGupta18!
Please open the check-in by tomorrow evening and you can refer to https://github.com/publiclab/plots2/blob/master/doc/CHECKINS.md for help. Thanks!

[2019-02-17 09:09] IshaGupta18 commented on #4784
Absolutely! Thanks a ton!

On Sun, Feb 17, 2019, 2:38 PM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-02-17 09:14] gauravano commented on #4688
Hey @suhailsinghbains, let's just confirm from @arungoel123456 whether he has raised any PR for this issue or not and after that you can collaborate with him for solving this or solve it individually if he's not interested anymore. Thanks!

[2019-02-17 09:24] gauravano commented on #3646
Hi @Dhiraj240, have you started working on this one? Thanks!

[2019-02-17 09:26] gauravano commented on #3646
@agam-kashyap you can see more issues at https://code.publiclab.org/#r=all and feel free to comment here in case you can't find any unclaimed issue, we'll try to open one for you. Thanks!

[2019-02-17 09:41] gauravano commented on #3636
@jywarren do you think, we can transfer this issue to infragram-js repo? Thanks!

[2019-02-17 09:43] gauravano commented on #3637
Hi @DakshGondaliya, I saw https://infragram.org/ and I don't think this problem exists anymore, please close this issue if you agree. Thanks!

[2019-02-17 09:45] gauravano commented on #3626
Hi @sagarpreet-chadha, can you add the link to the files and maybe open a new issue using all these details? Thanks!

[2019-02-17 09:53] gauravano commented on #3620
Hey @jywarren, I checked the website but can't see changes on icons. Could you please add the required CSS as mentioned here - https://github.com/publiclab/plots2/issues/3620#issuecomment-428584722 to make improve the icon look? Also, make sure to close this issue after the changes. Thanks!

[2019-02-17 10:05] arungoel123456 commented on #4688
I am working on this issue ....please don't give it to anyone else

On Sun, Feb 17, 2019, 2:44 PM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-02-17 10:06] arungoel123456 opened #4842 "Add some css"

[2019-02-17 10:06] #4842 closed

[2019-02-17 10:16] gauravano commented on #3608
hi @vsk4 @jywarren, please update the issue progress. Thanks!

[2019-02-17 10:50] IshaGupta18 commented on #4825
Yes @arungoel123456 ! You will have to scroll down into the navbar dropdown to see the remaining options when you click on the `Profile` button, have a look at this:

![image](https://user-images.githubusercontent.com/40794215/52911875-de420b00-32cf-11e9-85a7-622751bc2fab.png)

[2019-02-17 11:11] gauravano commented on #4825
I think this issue can be closed for now. thanks!

[2019-02-17 11:11] #4825 closed

[2019-02-18 04:36] IshaGupta18 opened #4844 "Weekly Community Check-In #10 - "Trespassing Boundaries""
Hi everyone  :wave: !

We all at Public Lab  :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and

[2019-02-18 04:37] IshaGupta18 commented on #4784
New Check-in #4844 :tada: !

[2019-02-18 05:45] dependabot[bot] opened #4845 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-18 05:45] dependabot[bot] opened #4846 "Dependabot couldn't fetch the branch/reference for junction"
Your dependency file specified a branch or reference for junction, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-18 05:45] #4845 closed

[2019-02-18 08:02] shubhscoder opened #4849 "getting "Sprockets::FileNotFound in Home#dashboard" error suddenly on localhost"
Suddenly I dont know what happened but I am unable to load any page on localhost because I am getting the above error.I have attached a screeshot of the error. Thank you so much!

![error_load](https://user-images.githubusercontent.com/18489285/52936234-8f54ae00-3381-11e9-8ef5-db9d44858385.png)

## Update

See below for `yarn install` and `yarn update` to resolve this

[2019-02-18 08:26] Harshithpabbati commented on #4707
@jywarren Can I be a part of reviewers team..

[2019-02-18 08:34] #4784 closed

[2019-02-18 08:59] lohitha02 commented on #4111
@SidharthBansal  Can you please explain me what exactly I should do?

[2019-02-18 09:03] gauravano commented on #4707
Hey @Harshithpabbati, can you paste the links to the PRs, issues here as I can't find your PRs on plots2. Thanks!

[2019-02-18 09:05] Harshithpabbati commented on #4707
https://github.com/publiclab/image-sequencer/pull/782#issuecomment-464532477
https://github.com/publiclab/community-toolbox/pull/140#issuecomment-464178629

[2019-02-18 09:06] sashadev-sky commented on #4849
@shubhscoder its the bootstrap file it specifies I haven't figured out how to fix it though. For me I can run my localhost but all my pushes to unstable fail

[2019-02-18 09:07] gauravano commented on #4849
Copying @cesswairimu's message from Gitter channel :

[2019-02-18 09:10] sashadev-sky commented on #4849
it worked for me locally (localhost) when I ran yarn install and yarn upgrade but I don't really understand why it would work locally but not with a push to unstable

[2019-02-18 09:13] gauravano commented on #4849
I ran the same commands some days back for resolving this issue. We can see `unstable`'s build log to find if the yarn install is running or not?

[2019-02-18 09:15] sashadev-sky commented on #4849
https://jenkins.laboratoriopublico.org/job/Plots-Unstable/497/console
it says it runs but is using cache?

[2019-02-18 09:15] gauravano commented on #4707
These are pre-requisite to join the @publiclab/plots2-reviewers group:

![prerequisite_plots2](https://user-images.githubusercontent.com/20878070/52940139-d34cb080-338b-11e9-8970-bdf80a5458e2.png)

[2019-02-18 09:15] gauravano commented on #4849
That's the issue!

[2019-02-18 09:20] sashadev-sky commented on #4849
I cleared cache a bunch of times is there a way to set it so that jenkins stops using cache

[2019-02-18 09:22] Harshithpabbati commented on #4707
So do i need to create a first timers issue??
@gauravano

[2019-02-18 09:31] gauravano commented on #4707
you need to do all the three tasks for the plots2 repo.

[2019-02-18 11:15] gauravano commented on #4849
I found this - https://stackoverflow.com/questions/35594987/how-to-force-docker-for-a-clean-build-of-an-image and let's see if it work or not

@cesswairimu and @shubhscoder you can resolve this issue locally by running commands as mentioned by sasha -https://github.com/publiclab/plots2/issues/4849#issuecomment-464647875 .

@Souravirus @icarito any hint about this issue?

Thanks!

[2019-02-18 11:31] shubhscoder commented on #4849
Thank you so much @gauravano !
1. yarn install
2. yarn upgrade
worked on the local.

[2019-02-18 11:37] gauravano commented on #4849
@sashadev-sky unstable is back to normal.

[2019-02-18 11:40] gauravano commented on #4849
I just force pushed the master branch on unstable and it's back to normal. You tried the force push, Sasha?

[2019-02-18 11:48] gauravano commented on #4849
Here's the passed build log - https://jenkins.laboratoriopublico.org/job/Plots-Unstable/499/console
this build also shows the use of cache for some commands but I guess cache wasn't a problem as `yarn install ` and `yarn upgrade` ran normally

the link I posted [here](https://github.com/publiclab/plots2/issues/4849#issuecomment-464692179) resulted in this build - https://jenkins.laboratoriopublico

[2019-02-18 11:58] gauravano commented on #4849
@jywarren @icarito do you know why my build - https://jenkins.laboratoriopublico.org/job/Plots-Unstable/499/console passed but all the builds from https://jenkins.laboratoriopublico.org/job/Plots-Unstable/487/ to https://jenkins.laboratoriopublico.org/job/Plots-Unstable/498  started by @sashadev-sky failed :confused: ?

[2019-02-18 12:29] gauravano commented on #3262
Ok, I think, I get your point.

Let's say, I am a new developer and want to add a new translation to the website. So, with our current setup, I (a new dev) would add a key and value to the en.yml and will use that translation in code using <%= t() %> and nothing else at all.

**Translation helper method:**
I will use the method <%= translation("Value ") %> in the code, this will pass the value in

[2019-02-18 12:30] gauravano commented on #3262
Also, we can have a call today at  11pm (IST) what do you say?

[2019-02-18 13:07] IshaGupta18 commented on #4624
I am so sorry @snpd25 I missed your comment, let me have a look at it ASAP.

[2019-02-18 13:16] IshaGupta18 commented on #4624
I think that issue was probably resolved, could you have a look the Deprecation warning I have posted in https://github.com/publiclab/plots2/issues/4624#issuecomment-459947817 ? Thanks a lot!

[2019-02-18 13:39] sashadev-sky commented on #4849
@gauravano it just started working for you by using --force? It could just be my computer setup

[2019-02-18 15:08] sashadev-sky commented on #4849
@gauravano is bower still required for proper installation at this point?

[2019-02-18 15:16] sashadev-sky commented on #4849
@gauravano nevermind mine worked!

[2019-02-18 16:22] gauravano commented on #4849
I always force push on `unstable`. I doubt that computer setup has anything to do in it. You can check the changes of your push and see if that's incorrect in any means. I would advise you to use force push too on unstable as I can see that you have to struggle a lot with `unstable` in recent hours.

We use yarn with plots2, right?

[2019-02-18 16:26] Souravirus commented on #4849
Did it work? I guess force push was needed because I have changed the bootstrap3-typeahead to typeahead.js for Bootstrap 4. That's why it might not be working.

[2019-02-18 16:33] gauravano commented on #4849
yes @Souravirus, it worked out after force-push. Thanks for checking in :)

[2019-02-18 16:55] sashadev-sky commented on #4849
@gauravano @Souravirus yes that was a struggle! I just got a new laptop so it could have been computer related for me, but I had been force pushing the whole time so that was not the solution for me.

What led to it working was re-installing my Homebrew configurations for Docker and building and a docker container. Are we supposed to be building containers before pushing to unstable?

[2019-02-18 17:02] Souravirus commented on #4849
@sashadev-sky I don't use Homebrew, so, I don't have any idea about that.

[2019-02-18 17:17] gauravano commented on #4849
I don't use homebrew or docker locally too.

[2019-02-18 18:12] #4770 closed

[2019-02-18 19:12] SKashyapD commented on #4660
Hey everyone and thanks @jywarren for your wonderful inputs and your proposed ideas are very cool and interesting.
I have already started reading and researching about them. It will take me about 2-3 more days to find out how things are supposed to be done.
thanks, everyone.

[2019-02-18 20:52] swiatek7 commented on #4821
Hi @gauravano

Unfortunately I had many issues with running this project and still can't make it happen.
Could you help me out here?

Passenger start gives me this error:
I have tried many different port numbers and I checked if they are not occupied, but it always fails with the same error.

[code]

[2019-02-18 21:05] namangupta01 commented on #4821
Hi @swiatek7, can you try with `rails s` and share the logs?

[2019-02-19 05:11] #4113 closed

[2019-02-19 05:12] #4341 closed

[2019-02-19 05:12] #4342 closed

[2019-02-19 05:12] #4339 closed

[2019-02-19 05:13] #4676 closed

[2019-02-19 05:13] #4639 closed

[2019-02-19 05:13] #4692 closed

[2019-02-19 05:21] dependabot[bot] opened #4853 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-19 05:21] #4846 closed

[2019-02-19 05:21] Harshithpabbati commented on #4189
I sent the pr

[2019-02-19 14:13] icarito commented on #4849
On 18/02/19 11:55, Sasha Boginsky wrote:

Hi,

Glad you could work it out!

Docker is used in our case to make development / staging / production as
similar as possible. There is no requirement for it but it simplifies in
theory to have as similar as possible environment as production.

A couple of caveats:

-
https://github.com/publiclab/plots2/blob/master/containers/docker-compose-production.yml

[2019-02-19 15:14] swiatek7 commented on #4821
@namangupta01
If I run `rails s` I can see:
[code]

Then if I try to open localhost:3000 it works and console outputs:

[code]

[2019-02-20 01:07] jywarren commented on #4844
Hi @IshaGupta18 thanks so much for your great welcome and check-in!

I wanted to share some work i was doing in the [Leaflet Environmental Layers](https://github.com/publiclab/leaflet-environmental-layers) library that is exciting to me. I've cleaned up some of the issues, merged a PR, and added some documentation, as well as updated the `gh-pages` demo. It remains an exciting project that has a l

[2019-02-20 01:11] jywarren commented on #4849
Thanks for responding here and debugging so much! I wonder if this was linked to the yarn.lock and package.json updates I made recently. This has helped us get our JS dependencies much more up to date, but maybe it had an unintended consequence -- if so, apologies!

Does running `yarn install` help folks here?

[2019-02-20 01:21] jywarren commented on #4853
Hmm, oddly i'm not seeing `3.4.0` for jsdiff --

https://github.com/publiclab/plots2/blob/1a13695f16037d7c1edcf3876bfcb93115e31674/yarn.lock#L2294-L2296

[2019-02-20 01:21] jywarren commented on #4853
Hmm, did dependabot figure it out?

[2019-02-20 01:22] jywarren commented on #4853
I think not... #4816 is still not working...

[2019-02-20 01:22] jywarren commented on #4849
Also noting that this could.... maybe... be related: https://github.com/publiclab/plots2/issues/4853

[2019-02-20 01:22] jywarren commented on #4849
@cesswairimu how are you doing on this?

[2019-02-20 01:29] #4853 closed

[2019-02-20 02:19] sashadev-sky commented on #4844
Hi all,

This week I have finally settled the plots2 issue with the "likes" functionality not working properly and opened a PR #4852 for it. In the spirit of trespassing boundaries and working with others, I would love help in two areas on it:

(Note I am just referring to the primary code changes - I will clean up my Gemfile, etc. later)

1) **suggestions for refactoring** - I don't love the way

[2019-02-20 03:37] sashadev-sky commented on #4853
@jywarren woops I didn't mean to reopen! I did not initially realize that in ZenHub if you drag something out of the "Closed" column it automatically reopens it. Sorry about that! I don't know how dependabot works but it closed the issue.

Perhaps it is the bootstrap issue still? That is the conflict dependabot is highlighting. I never actually figured out what the resolution to the issue is looki

[2019-02-20 03:47] namangupta01 commented on #2497
Yeah! We will use ActionCable to create different rooms or channels where the client will subscribe based on their authenticity and requirement. And whenever something new is created we will broadcast in those rooms or channels which will lead to sending the data to its subscribers. For solving multiple tab issue we can assign one room to each tab and while broadcasting we will be checking the num

[2019-02-20 04:05] meet2410shah commented on #4821
I would like to claim this issue.

[2019-02-20 04:32] sashadev-sky commented on #4849
@icarito I don't know too deeply about docker setup, I only learned how to build a container recently because I thought I needed it for the unstable branch. The 2nd occasion I used unstable I ended up building it again because of the sprockets errors and using it the 1st time inadvertently had worked for me. Then sprockets error was resolved.

Without using the container the issue is coming up for

[2019-02-20 04:36] ShashankRahatekar commented on #4821
Can I claim this issue?

[2019-02-20 05:16] icarito commented on #4849
What happens if we simply not mount `/app` as a volume? In theory this is only needed if the application _writes_ to the filesystem. Do uploads go to a specific dir? If it is the case, we could mount a directory for uploads instead of the whole app directory (at https://github.com/publiclab/plots2/blob/master/containers/docker-compose-production.yml#L41 )

[2019-02-20 05:20] icarito commented on #4849
Perhaps mount /app/public/system as volume instead of all of /app - i'll try it in a pull request and we can tests it in unstable. Thanks for the info and help debugging!

[2019-02-20 05:42] icarito opened #4859 "Docker compose should not mount /app from working directory"
Only when the app really needs to **write** to a directory it is okay to mount the directory as a volume. Otherwise it's wise to let the app use the build-time files that are already at the container , providing further isolation and reliability.

The questions is what directory / directories are needed to be written at runtime?
https://github.com/publiclab/plots2/pull/4858 is a start to this.

I'

[2019-02-20 05:49] dependabot[bot] opened #4860 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-20 05:49] dependabot[bot] opened #4861 "Dependabot couldn't fetch the branch/reference for junction"
Your dependency file specified a branch or reference for junction, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-20 05:49] #4860 closed

[2019-02-20 07:24] gauravano commented on #4821
Hi @meet2410shah @ShashankRahatekar, this issue is already claimed by @swiatek7 so please work on other issues. You can find more FTO issues at https://code.publiclab.org/#r=all and if you can't find any there, feel free to comment below and we'll try to point you to good issue or maybe open a new one. Thanks!

[2019-02-20 07:25] gauravano commented on #4821
@swiatek7 that's great, you are able to run the project. Have you opened PR for this issue yet?

[2019-02-20 07:42] sashadev-sky commented on #4849
@icarito sorry I am trying to follow but I am little confused. This is my understanding please help fix it if you can:

1) when I run docker build on the repo, the docker loads my local settings from my host daemon.
2) Then because of app being specified as a volume, it overrides my local settings with those of app
3) app is just the local plots2 repo I have on my computer
4) so it creates a plots

[2019-02-20 08:17] gauravano commented on #4844
Hi everyone!

Great check-in @IshaGupta18 and nice theme!

I believe that if we want to achieve a goal or something, we need to get out of our comfort zone. Same goes for Open Source or self-learning, many contributors start with FTO issues, which are designed to be easy/welcoming but after solving some issues of any project(that make one familiar with a project a bit), one should definitely try t

[2019-02-20 08:47] greysteil commented on #4861
Just saw this. It's a bug - Dependabot should be picking up the reference to `*` as a SemVer requirement. I'll get a fix deployed this morning.

[2019-02-20 08:57] greysteil commented on #4860
This also looks like a bug. Working on it now.

[2019-02-20 09:43] greysteil commented on #4861
Fix deploying now.

[2019-02-20 09:44] greysteil commented on #4860
Fix deploying now.

[2019-02-20 09:54] #4861 closed

[2019-02-20 11:04] swiatek7 commented on #4821
Hi @gauravano
Not yet, I will in couple of hours.
I have one issue with rails. I update css file, but plots2 app keeps fetching old CSS file.
I have run couple of command, tried to build assets again, hard-refreshed browser - nothing helps.
Could you please help me out with this?

[2019-02-20 12:13] vladdypwnz commented on #3690
Hey @avsingh999 , is this issue still in progress ?
Does anybody else work on this one ? I'd be glad to help, thanks!

[2019-02-20 12:15] SidharthBansal commented on #3690
You can work on it.
Thanks

[2019-02-20 12:32] vladdypwnz commented on #3690
Hey @SidharthBansal I'm trying to understand what's the issue but don't quite get the description of the problem..
For example, when I'm browsing here (Chromium browser in Ubuntu 18.04) > [https://publiclab.org/tag/stormwater](url) and display the page as a list view ,I don't see the 'Read more' button displaced on the right, it's on the center below each image post.

Here's a screenshot >
![listv

[2019-02-20 12:38] SidharthBansal commented on #3690
That means this issue is solved.
Thanks

[2019-02-20 12:38] #3690 closed

[2019-02-20 13:10] cesswairimu commented on #4577
@jywarren just confirming I got this right. We want to move this to range page.

![range](https://user-images.githubusercontent.com/17081074/53094022-0b89f580-352a-11e9-8ad1-22ade1956ce9.png)
Then have the stats page display just the graphs that matches the period selected in the range page?

[2019-02-20 13:11] cesswairimu commented on #4540
@jywarren kindly elaborate on what I need to do on this. Thanks

[2019-02-20 13:16] cesswairimu commented on #4141
@jywarren I see on the site we already have this tag `new contributor`.  Is this the same and we need to change the implementation or is it something else? Thanks

[2019-02-20 13:24] cesswairimu commented on #4844
Hello all,

I just realized that I started with the `not so complicated` issues in my milestone.
So this week I am working on the issues I have been kinda avoiding :smile:

Awesome theme @IshaGupta18 .
Thanks and have a great week ahead.

[2019-02-20 13:42] vladdypwnz commented on #4424
Hey @gauravano , where do you stand with is issue ?
Is this still open ? Do you finally want to place the logo on the header ?

[2019-02-20 14:33] vladdypwnz commented on #4798
Hey @jywarren , is somebody working on this issue ?
I would like to help with this one.  How could I start ?

[2019-02-20 15:09] RizwanSyed357 commented on #4844
Hey all, I am thrilled to have discovered that Public Lab take part in the Outreachy scheme - after I made my first open source contribution to Public Lab (https://github.com/publiclab/infragram/pull/53).

I have applied to Outreachy and am now in the process of making open source contributions to hopefully secure an internship. I look forward to helping you guys on your Outreachy-listed project o

[2019-02-20 15:21] gauravano opened #4862 "Emoji images not rendering"
This issue is reported by @ebarry and @bronwen via GItter channel

lizbarry (@_slack_publiclab_U04JHKKV1:matrix.org) It is possible that reaction emoji on the site are broken:
@rexagod
Maybe we should bump to v2? publiclab/plots2#4855
@matrixbot
bronwen I'm seeing the same thing.

Here's the screenshot -
![emoji_not_loaded](https://user-images.githubusercontent.com/20878070/53102180-2d4aa300-3551-

[2019-02-20 15:42] gauravano commented on #4844
Hi @RizwanSyed357,

Glad to see that you were successful to complete your first OSS contribution with us. We would also love to have more contributions from you.

Regarding Outreachy, it's not confirmed yet that Public Lab would be participating in upcoming Outreachy round or not, maybe @jywarren or @publiclab/community-reps can answer this. Keep tuned for alert and announcements.

Last time,  the

[2019-02-20 15:51] jywarren commented on #4577
Right, essentially we don't want to keep maintaining 2 types of pages, and
should just consolidate everything into one page type. Thanks!!

On Wed, Feb 20, 2019, 5:11 AM Cess <notifications@github.com wrote:

[2019-02-20 16:46] ebarry commented on #4844
Hi everyone,
This week, myself and ~60 other Public Labbers are convening in Texas:
<img width="786" alt="flyer-texasbarnraising2019" src="https://user-images.githubusercontent.com/161439/53108474-b2f03380-34fc-11e9-9054-16b25cb8e47b.png">

Looking forward to the in-person discussions and connections to the software platforms we build together!

[2019-02-20 17:26] milaaraujo commented on #4561
@jywarren?

[2019-02-20 18:30] jywarren commented on #4561
Hi, sorry I've been at a conference and a bit slow on this. Yeah, I think
we should develop a criteria to identify users we can delete. Could you try
doing so in a User model method, like User.old_users and we can run that on
unstable to see how many it returns? We should carefully note each where
condition we add to really clearly defined who we are filtering for. There
could be a list of conditi

[2019-02-20 18:31] jywarren commented on #4561
If you post the query as a gist here I can run it and show how many results
it gets too.

On Wed, Feb 20, 2019, 10:29 AM Jeffrey Warren <jeff@unterbahn.com wrote:

[2019-02-20 18:39] #4862 closed

[2019-02-20 18:58] jywarren commented on #4798
This would be great and I think there may be some work to be done on the
editor project first to standardize how it's connected up. Maybe @rexagod
can offer some input?

On Wed, Feb 20, 2019, 6:33 AM Vlad <notifications@github.com wrote:

[2019-02-20 19:02] jywarren commented on #4860
Thanks all!!!

On Wed, Feb 20, 2019, 1:44 AM Grey Baker <notifications@github.com wrote:

[2019-02-20 19:03] jywarren commented on #4861
Thanks!!!!

On Wed, Feb 20, 2019, 1:55 AM dependabot[bot] <notifications@github.com
wrote: