[2021-09-08 16:56] noi5e commented on #10141
Great @Vishal01-git! I'm planning on making some more later this week, so keep your eyes peeled!

[2021-09-09 16:41] RuthNjeri commented on #10141
Hi everyone!! This is a lovely check-in @noi5e.

I mostly want to visit New England one day because of Mark Weins https://www.youtube.com/watch?v=ZTHGIifvqf4
![image](https://user-images.githubusercontent.com/7622875/132727281-f17268fc-9bd1-4134-a467-07cb2c195116.png)

[2021-09-09 16:45] RuthNjeri commented on #10085
Congratulations everyone. You did it! @TildaDares @Manasa2850 @17sushmita @daemon1024 @waridrox @imajit ! :tada

[2021-09-10 11:57] Jon-Jos opened #10144 "Hidden menu button in navigation bar."
### Please describe the problem (or idea)

Hidden menu button in navigation bar when browser in half window and in android when the orientation is changed to landscape.

https://user-images.githubusercontent.com/71092045/132849662-03734c9d-0053-4faa-8fea-d84a8b8adcb8.mp4

### Please show us where to look

https://publiclab.org

### What's your PublicLab.org username?

username : jonjos

### Browse

[2021-09-10 12:45] Jon-Jos commented on #10144
repo ???
Please share the repository of the code,
I couldn't find it.

[2021-09-11 03:26] Vishal01-git commented on #10104
Hey @prathamesh-borse Please update us , Do you need any help?  You are working on this issue or not?

[2021-09-11 06:15] Tlazypanda commented on #10144
Hey @Jon-Jos I think this is where you should look into. Thank you!

publiclab/plots2/app/views/layouts/_header.html.erb Line 202
[code]

[2021-09-11 07:29] Jon-Jos commented on #10141
Hi everyone! 😄
I'm John, you can call me Jon. I have free time to hit the keys, fond of nature and I like Public Lab's karma! I'm pursuing b.tech cse.  I ❤️ to contribute to Public Lab 🎈 and I'm happy to be assigned with a first-timers-only issue.
Thankyou for your reply @Tlazypanda

[2021-09-11 18:02] unnati914 commented on #10141
nice check-in @noi5e 💯

[2021-09-12 09:26] ishitakeshawani commented on #10141
Hello, I am Ishita Keshawani. Looking forward to learning from the community and contribute to projects :sparkles:

[2021-09-12 10:53] prathamesh-borse commented on #10104
@noi5e @Vishal01-git I am Working on this issue.

[2021-09-12 14:51] Hina-softwareEngineer commented on #10141
Hello everyone,
I'm Hina. I am starting my open-source journey and I like to contribute to open-source, learn and grow with all of you here. ✨✨
Thanks

[2021-09-12 21:36] noi5e commented on #10141
Wow those are a lot of clams @RuthNjeri, nice to hear from you!

Welcome to Public Lab, @ishitakeshawani @Hina-softwareEngineer @Jon-Jos!!!

[2021-09-13 00:33] noi5e commented on #10104
Great @prathamesh-borse! Let us know if you need any help opening the pull request!

[2021-09-13 13:40] ebarry commented on #10084
Hi @dlebauer  ,
Thank you for reporting this!
it may be possible that you were browsing the site when we were re-launching some new code or doing some other maintenance that affected this pages. I just tried to reproduce this, and am not currently seeing any problem with tag pages. Could you let us know what you're experiencing now? Thank you!

[2021-09-13 14:03] ebarry commented on #10043
Great idea @Tlazypanda ! I support this.

[2021-09-13 14:05] ebarry commented on #9999
This issue is 🎶 partying like it's #9999 🎶
Thank you, i saw this too and i may have also created an issue about this.

[2021-09-13 14:59] dlebauer commented on #10084
its working now, thanks!

[2021-09-13 14:59] #10084 closed

[2021-09-13 19:07] DalilaBA commented on #10134
hi @noi5e , here is the rest of the error :
![image](https://user-images.githubusercontent.com/10799976/133142023-af6dcf85-5e1a-4c16-8abd-7e48e4b7fbfc.png)

and yu know it got me thinking maybe it is a permission problem with the WSL ubuntu and the C:/ directory of Windows...

[2021-09-13 21:37] noi5e commented on #10134
Sounds like it could be something like that. Here's what you get when you query the error message:
https://www.google.com/search?client=firefox-b-1-d&q=insecure+world+writable+dir+%2Fmnt%2Fc+in+path

[2021-09-13 21:43] #10103 closed

[2021-09-13 21:55] noi5e opened #10148 "Add Strings to Translation Function Call in _tab_content.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-14 06:38] Vishal01-git commented on #10148
Hey @noi5e , Please assign this task to me , I would love to work on this FTO issue.

[2021-09-14 06:39] noi5e commented on #10148
@Vishal01-git, go ahead!

[2021-09-14 08:47] DalilaBA commented on #10134
yes, look what I found : "  ....I'm sure the devs are aware of this, and that's why they definitely do not recommend running WSL as a server platform (also the disk i/o performance would be pretty atrocious for such a purpose). This will likely change in the future...."
so I'm gona try and install it via windows directly

[2021-09-14 15:11] StephNathai commented on #10124
@jywarren PR is up and ready for your review. Pease let me know if anything needs to be changed, thanks!

[2021-09-14 15:58] jywarren opened #10151 "remove-label github action failing sometimes"
the `remove-label` github action is failing sometimes, like in:

https://github.com/publiclab/plots2/pull/10138 & https://github.com/publiclab/plots2/pull/10137

with the error message:

`This request was automatically failed because there were no enabled runners online to process the request for more than 1 days.`

[2021-09-14 15:59] jywarren commented on #10151
Here's a 2020 report of similar... unclear what caused it to clear up: https://github.community/t/queued-jobs-not-executing/143613

[2021-09-14 16:00] jywarren commented on #10151
Here's another recent job in an unrelated repo that had the same error: https://github.com/neovide/neovide/actions/runs/1088631240

[2021-09-14 16:01] jywarren commented on #10151
also noticing the same phrase in https://github.com/ci-for-research/on-demand-runner/issues/6

[2021-09-14 16:05] jywarren commented on #10151
The relevant lines are here:

https://github.com/publiclab/plots2/blob/6e499b5dee0a2bbfac0ec83e61746db6a8ca93a4/.github/workflows/tests.yml#L192-L205

and it uses this GH action: https://github.com/buildsville/add-remove-label

[2021-09-14 17:10] jywarren commented on #9871
Ah i'm seeing we are on `2.2.21` in plots2:

https://github.com/publiclab/plots2/blob/6e499b5dee0a2bbfac0ec83e61746db6a8ca93a4/Gemfile.lock#L749

vs 1.17.3 in SWB:

https://github.com/publiclab/spectral-workbench/blob/fb1d30d653cb41d4d68e7b31176f38d7fe59414a/Gemfile.lock#L277-L278

[2021-09-14 17:14] jywarren commented on #10151
I opened an issue at https://github.com/buildsville/add-remove-label/issues/3 !!

[2021-09-14 18:27] jywarren commented on #9502
Lots more info at https://github.com/publiclab/plots2/pull/10137#issuecomment-919268106 on this now...

[2021-09-14 21:31] jywarren commented on #10043
Ah wait - so, i realize that we do need to be careful that the removal only affects /questions/ - as the way we manage missing images in /notes/ is distinct:

![image](https://user-images.githubusercontent.com/24359/133336657-ffa87ec9-0544-4d16-8588-9538531c66b9.png)

see i.e. https://publiclab.org/tag/helium

but that should be easy enough with a conditional!!!

[2021-09-14 21:35] jywarren commented on #10134
My apologies @DalilaBA i thought you were using our GitPod system to get it running. If you haven't tried, and are still stuck on this step, it's a very fast way to get the system running in just a few clicks, in a standard virtual environment online!

You could start it up by clicking the GitPod button at the top of the Readme on this page: https://github.com/publiclab/plots2/

or with the URL: h

[2021-09-14 21:40] jywarren commented on #10123
Went to limit of 50 in https://github.com/publiclab/plots2/commit/032edf8708e779e712a3fe52416eb3cc6346f3f9 !! 🤞

[2021-09-14 21:42] noi5e opened #10153 "✨ First-Timers Only Issues! 🌈 Make & Request Your Issue!"
(This issue is a continuation of #9899)

### `What Are First-Timer Only Issues?`

At Public Lab, we want to welcome new contributors into the world of Open Source! We want to make sure that new contributors feel welcome, valued, and supported.

Our way of doing this is to create first-timer only issues. Read more about this philosophy here: [https://www.firsttimersonly.com/](https://www.firsttimer

[2021-09-14 21:44] noi5e commented on #9899
Closing this issue and continuing it in #10153

Apologies to anyone in this issue who has been waiting for months and not received an issue!

We haven't been on top of maintaining this list, so I think it makes sense to do a reset. If you are still looking for an issue, please leave a comment in #10153 and we'll do our best to get you one soon.

[2021-09-14 21:44] #9899 closed

[2021-09-14 21:50] #10124 closed

[2021-09-14 21:53] noi5e commented on #10102
I have reopened this FTO issue for anyone who wants it. @TemitopeAgbaje

[2021-09-14 22:00] DalilaBA commented on #10134
Alright thank you @jywarren 😁

[2021-09-14 22:01] #10088 closed

[2021-09-14 22:03] noi5e commented on #8646
Thanks so much for opening this @RuthNjeri, I also discovered this a few months back when I was trying to lint files!

Tagging @jywarren and @Tlazypanda as well to put this on their radar as a potential source of FTOs that's very useful to the repo.

[2021-09-14 23:35] aliciapaz opened #10154 "Weekly Community Check-In #118 - Music to code 🎹 🎵"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-09-15 00:21] aliciapaz commented on #10154
Here is one of my favorite OSTs to code to. Four hours of awesome music, with a wide range of styles and moods 🤸🏽‍♀️

https://www.youtube.com/watch?v=QOWepkAK5FA

I hope you enjoy it!

[2021-09-15 13:52] Axuby commented on #10153
Hi there!!
I want to start contributing to the community starting with FTO issues. My preferred languages are HTML, CSS, Javascript and NodeJS. Please add me to the list .

[2021-09-15 13:58] DalilaBA commented on #10134
@jywarren @noi5e it is working perfectly fine on the gitpod, thank you very much for you're help

[2021-09-15 14:02] DalilaBA commented on #10153
@noi5e can I have the issue ?

[2021-09-15 14:20] DalilaBA opened #10155 "wrong link after loging in"
### Please describe the problem (or idea)

after login in for the first time, I was redirected to localhost/home
I logged in from this page :
![image](https://user-images.githubusercontent.com/10799976/133451305-7fe86b7c-7fdd-4f32-be52-f2895d7706e7.png)

beeing redirected to the dashboard

### Please show us where to look

https://3000-aquamarine-stork-lqza3xwy.ws-eu16.gitpod.io/login

### What's

[2021-09-15 17:07] Tlazypanda opened #10159 "Change Strings to Translation Function Call in _revisions.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-15 18:53] Tlazypanda commented on #10141
Closing this new check in at #10154 Thanks everyone :v:

[2021-09-15 18:53] #10141 closed

[2021-09-15 18:54] Tlazypanda commented on #10154
@arnab-2001, @StephNathai, @jywarren, @dependabot[bot], @DalilaBA, @chicken-biryani, @sandipanpanda, @Ishan2077, @suryablaster, @noi5e, @Ash-KODES, @RazaKhanGit, @17sushmita, @Onyinye91-ctrl, @imajit, @sorutifokkusu, @poojap10, @TildaDares, @anirudhprabhakaran3, @daemon1024, @om2137, @Quado1, @daksh10110, @DinSanGun, @micahweston

[2021-09-15 19:00] Tlazypanda commented on #10154
Aah I love this check-in idea :heart: Will definitely check out the link you shared @aliciapaz!
I just like to listen to piano soundtracks from movies/series - Your lie in april soundtracks, Anything with Hans Zimmer and since I am trying (emphasis here on trying :p) to learn Spanish lots of Spanish tracks that well kinda distract me from coding and make me wanna dance :D

Would love to hear from

[2021-09-15 20:28] Jon-Jos commented on #10144
Hi 😄
Made the Drop Down Menu Button appear! properly.
Should I make a pull request @Tlazypanda @aliciapaz ??
![gif1](https://user-images.githubusercontent.com/71092045/133503100-dc474903-b6be-462a-9dc4-d317d09fb539.gif)

[2021-09-15 21:01] aliciapaz commented on #10144
Sure @Jon-Jos!
Thank you!!

[2021-09-15 21:21] Jon-Jos commented on #10153
Hi 😄
Thank you for the information! @noi5e
I'm interested in front-end web development, please assign me any FTO issue to contribute in Public Lab🎈.

[2021-09-16 03:27] anirudhprabhakaran3 commented on #10154
Great idea @aliciapaz ! Most of the time when I'm coding, I just let Spotify go on shuffle XD. The few times that I actually put something specific is usually songs by FINNEAS (he's my favourite artist), some cinematic themes and a little bit of hip hop. It feels great to be coding while there are great hihats playing on your headphones 🎵

[2021-09-16 08:19] daemon1024 commented on #10154
Same as @anirudhprabhakaran3 mentioned, I usually have Spotify on shuffle 🎧🎶

I have been recently listening to https://youtube.com/c/MyAnalogJournal which @noi5e shared in one of weekly SoC calls 🙌

Coincidentally GitHub asked about something similar today https://twitter.com/github/status/1438239431874338817?s=19 🎵

[2021-09-16 08:45] Hina-softwareEngineer commented on #10159
@Tlazypanda  Can I work on this issue? It's worked as head-start for me to contribute to Public Lab.
Can you please tell me that first I have to fork the repo and then open in gitpod and then push to the forked repo and then make a PR?

[2021-09-16 09:48] DalilaBA opened #10161 "Add Strings to Translation File fr.yml"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-16 10:32] DalilaBA commented on #10154
Ahh I'm a music lover, music is really good for the brain, as said in the "Hardvard health publishing" : << music can activate almost all brain regions and networks, it can help to keep a myriad of brain pathways and networks strong, including those networks that are involved in well-being, learning, cognitive function, quality of life, and happiness. >>

Same as @Tlazypanda i like classic music e

[2021-09-16 12:04] Tiwarisonal19 commented on #10153
Hi, I am new to opensource contribution and I'd like to contribute, I'm interested in C,C++, Frontend, please add me to the list.

[2021-09-16 16:49] jywarren commented on #10123
Publishing to live now.

[2021-09-16 18:58] noi5e commented on #10154
Wow yeah, thanks for this check-in @aliciapaz! Great topic.

Like Barun mentioned, one of my go-tos recently has been My Analog Journal, where you get to see DJs spinning vinyl from all around the world:
[Psychedelic Cumbia](https://www.youtube.com/watch?v=k8OwzWNZEUI)
[Peruvian Chicha](https://www.youtube.com/watch?v=6GwdWSx8v0c)
[Arabic Tapes & Records](https://www.youtube.com/watch?v=HxaM6UJpAy

[2021-09-16 19:07] noi5e commented on #10153
@Axuby @Tiwarisonal19 @Jon-Jos Welcome to Public Lab! I'll add you to the list!

[2021-09-16 19:11] noi5e commented on #9899
@Ayush0730 @osaf96 @Amishakumari544 @kaylawoodbury @Jordan-Rob @sakshamlamba109 @prathamesh-borse @Rutumbhara @steves14 @perveen-neha @max-keviv

If you haven't got an FTO issue yet and would still like one, please leave a comment in #10153, and sorry for the bother!

[2021-09-16 19:13] #10159 closed

[2021-09-16 19:14] noi5e commented on #10161
Thanks for opening this issue @DalilaBA!

[2021-09-16 19:16] chicken-biryani commented on #10154
I've been looking for new music to listen to for a change.

I feel that sharing music is similar to saying "Hey, here's a piece of my soul".

So, thank you to for sharing.❤️

Here's a fraction of my soul 😅 -

[Pink Floyd - Slippery Guitar](https://open.spotify.com/track/4BTEQr44jGASYX7VG21i3d?si=t-l0HYMSRHqfeH8aAiZXPQ&utm_source=copy-link&dl_branch=1)

[2021-09-16 19:45] #10148 closed

[2021-09-16 20:11] noi5e commented on #10155
@DalilaBA, thanks for opening this issue!

This issue needs more detail, maybe screenshots, GIFs or videos?

The following link you posted leads me to a blank white page: https://3000-aquamarine-stork-lqza3xwy.ws-eu16.gitpod.io/login

I just tried logging in with GitPod on the `main` branch of `plots2` which you can access on the [repo's homepage](https://github.com/publiclab/plots2)

Here's a vid

[2021-09-16 20:17] noi5e commented on #10153
@Axuby here is an FTO issue for you to work on that I recently reopened: #10102. Please leave a comment there in the next 24 hours to let us know you're working on it!

[2021-09-16 21:00] jywarren commented on #10141
Hi all! I missed this one, my apologies, but i love the photos! Thanks @noi5e for the check-in. I'll say I love the beach, especially in New England, which is why i was away last week -- here's a picture of a horseshoe crab I found!

![image](https://user-images.githubusercontent.com/24359/133684872-a920d59f-64e1-4a02-af1e-49d80c5e4fff.png)

❤️ 🌎

[2021-09-16 21:03] jywarren commented on #10154
Ooh!! I've also been using MyAnalogJournal, thanks @noi5e for the tip! I like all those lofi-hiphop youtube channels, esp. Brazilian Lofi Hiphop, and I also sometimes code to really loud Mozart's Requiem, lol 😂

But honestly i haven't been listening to music as much while coding recently, so i bet my coding has been suffering!!! 😅

[2021-09-16 21:04] jywarren commented on #10154
OMG someone should make a playlist of all the great suggestions here! 🤯 💥 ❤️

[2021-09-16 21:09] noi5e commented on #10102
Reserving this issue for @Axuby, please claim it in the next 24 hours!

[2021-09-16 23:12] DalilaBA commented on #10154
Oh @jywarren speaking of Lofi music, I've made one a long time ago 😅
https://youtu.be/YkHh53S6hKU
I would love to have some feedbacks 😁

[2021-09-17 08:41] TildaDares commented on #10154
Thank you @aliciapaz This check-in topic is a wonderful idea. I don’t really have something specific I listen to when I code, I just press the shuffle button and code away.

There are so many new things to try in this thread.

@DalilaBA I listened to the Lofi music you uploaded on YouTube and I loved it. It’s very calming and I’m going to listen to it while I code now.

[2021-09-17 09:55] DalilaBA commented on #10154
@TildaDares I'm happy that you like it 😊

[2021-09-17 10:26] DalilaBA opened #10164 "Navbar with a padding in franch translation"
### Please describe the problem (or idea)

an additionnal padding because of long words after translation

### Please show us where to look

https://publiclab.org/dashboard

![image](https://user-images.githubusercontent.com/10799976/133767753-adf1cde2-c6df-4f56-9fa4-da6d7fc30a85.png)

### What's your PublicLab.org username?

### Browser, version, and operating system

- Laste version of Opera wit

[2021-09-17 10:28] #10164 closed

[2021-09-17 11:06] DalilaBA commented on #10155
@noi5e haha, when I user the gif recorder it worked just fine too, well it is fixed 😄

[2021-09-17 11:06] #10155 closed

[2021-09-17 13:31] jywarren commented on #10154
Oh wow I'll give this a listen today!!! ✨✨

[2021-09-17 13:50] aliciapaz commented on #10154
Wow!! Thank you all for your responses and shares 🎉
I'm a little crazy about music myself so I love having all this new music to listen to 🙈

I've been listening to MyAnalogJournal and Justice Der, great music there! Thank you @noi5e.

@Tlazypanda I love Hans Zimmer and Your lie in April soundtracks as well 😻 I loved that anime... it made me cry lol
If you like jazz, Kids on the slope has great mu

[2021-09-17 14:16] jywarren commented on #10154
OMG @DalilaBA you made this? it's incredible!! 🌠 I loved the raindrops syncing with the beat, especially!

[2021-09-17 14:36] 17sushmita commented on #10154
Woww! Really great topic @aliciapaz. What a wonderful conversation going on😍
I too love to listen music(and sing crazily🤣) while coding. My favorites are all kinds of Indian music. I usually like to listen in group with my friends on discord and code at the same time. If someone uses discord here, you must be familiar with Rythm bot that we use to play music. But recently YouTube changed few guide

[2021-09-17 16:31] DalilaBA opened #10165 "Add Strings to Translation File fr.yml"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-17 18:14] noi5e commented on #10165
Thanks @DalilaBA! I'm reserving this for @Jon-Jos to claim in the next 24 hours! 😄

[2021-09-17 18:17] noi5e commented on #10153
@Jon-Jos here's an FTO issue for you: #10165. Please claim it in the next 24 hours!

[2021-09-17 18:37] noi5e opened #10166 "Add Strings to Translation Function Call in _tab_content.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-17 18:38] noi5e commented on #10153
@Tiwarisonal19 here's your FTO issue: #10166. Please leave a comment there in the next 24 hours to claim it!

[2021-09-17 18:38] noi5e commented on #10166
Reserving this in the next 24 hours for @Tiwarisonal19

[2021-09-17 19:00] noi5e commented on #10134
Thanks everyone, closing this issue!

[2021-09-17 19:00] #10134 closed

[2021-09-17 19:13] abhasal commented on #9899
Hello! I am looking to contribute to first timer issues

[2021-09-17 19:15] abhasal commented on #10153
Looking for first FTO issues

[2021-09-17 19:28] RReiso commented on #10102
Hi.Could I work on this issue?

[2021-09-17 19:28] Jon-Jos commented on #10165
Oh that's great!  @noi5e 😊
Please assign me this FTO. I'm happy to be responsible for this issue. ❤️
Thankyou!!. @DalilaBA

[2021-09-17 19:49] noi5e commented on #10165
Great @Jon-Jos, go ahead!

[2021-09-17 19:50] noi5e commented on #10102
@RReiso, I've reserved this issue for @Axuby, they can claim it in the next day or two.

Meanwhile, I've added you to the list at #10153, if another issue comes up, I'll do my best to tag you there!

[2021-09-17 19:51] noi5e commented on #10153
Adding @abhasal and @RReiso to the list, welcome to Public Lab!

[2021-09-17 20:26] RReiso commented on #10102
Thanks!

[2021-09-17 20:45] DalilaBA commented on #10165
Yes of course @Jon-Jos go ahead 👍

[2021-09-18 02:10] #10112 closed

[2021-09-18 04:10] MONO77 commented on #10153
Hi, I want to contribute to the open source world! My prefered language is Java, C/C++. I have got some intern-level experience working on website backend and undergrad level knowledge in network / OS (really interested in them!). Besides, I want to use this great chance as a step towards application to GSoC. Many thanks for help!!!

[2021-09-18 15:40] Hina-softwareEngineer opened #10169 "Adding a new string to Translation file en.yml"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-18 15:58] Tilakraj0308 commented on #10153
Hey I want to contribute in this repo as well. This is my first ever open source experience. I can code in java, C , html and css.

[2021-09-18 17:11] imajit opened #10170 "Adding translations to langauge files"
I'm pleased so many fresh FTOs relating to the Translation Project are being generated.
I'd like to take a moment to clarify the flow of the translation project for new contributors, which will hopefully help you understand how your contributions affect the organization and where new FTO issues can be created.

- Each file in https://github.com/publiclab/plots2/tree/main/config/locales directory i

[2021-09-18 17:28] noi5e commented on #10153
Welcome to Public Lab @Tilakraj0308 and @MONO77, I added you to the list!

[2021-09-18 17:31] noi5e commented on #10169
@Hina-softwareEngineer, thank you so much for opening this issue!

Unfortunately, [according to @imajit](https://github.com/publiclab/plots2/pull/10162#issuecomment-922334403), these changes will be counter-productive in the long run. So I will need to close this issue.

Here are some proper instructions on how to make an FTO issue related to translation strings: #9945

[2021-09-18 17:31] #10169 closed

[2021-09-18 17:34] imajit commented on #10154
Love the topic for this weekly :100:
When I code, I don't listen to music since I get distracted by it and forget about the code :rofl:, but in my spare time, I enjoy listening to raps.

[2021-09-18 17:37] noi5e commented on #10170
Thanks for these awesome instructions @imajit!

[2021-09-18 17:38] #10165 closed

[2021-09-18 17:39] noi5e commented on #10166
@Tiwarisonal19, let me know if you want this FTO issue!

[2021-09-18 17:39] noi5e commented on #10166
@Tiwarisonal19, let me know if you want this FTO issue!

[2021-09-18 17:40] #10161 closed

[2021-09-18 17:40] noi5e commented on #10170
CCing @DalilaBA and @Hina-softwareEngineer!

[2021-09-18 17:47] Hina-softwareEngineer commented on #10170
Yes, got this. Transifex is really helpful for translation. ✌️ I have explored it now. Learned something new today🙌

[2021-09-18 18:17] ZacharyGillmore commented on #10166
Can I take this issue if its open?

[2021-09-18 18:24] Tiwarisonal19 commented on #10166
@noi5e  Yes, I want this issue.

[2021-09-18 18:32] DalilaBA commented on #10170
things make sense now, @imajit  thank you very much for the instructions 💯

[2021-09-18 20:49] noi5e commented on #10166
@Tiwarisonal19 Okay great, go ahead, and let us know if you need anything else!

@ZacharyGillmore if you're looking for a first-timer issue, I'll add you to the list at #10153

[2021-09-19 05:45] southernnikki commented on #10153
Hey there! I'd love to get involved with a FTO. I'm a Computer Science undergrad with beginner-intermediate experience in C++, and 10+ years experience with HTML and CSS. I'm brand new to GitHub and want to start contributing to open source. Please let me know if there's any way I can get involved.

[2021-09-19 06:03] noi5e commented on #10153
Great @nicolecarman, welcome! I'm adding you to the list.

[2021-09-19 10:57] KeerthishankarPunchithaya commented on #10153
Hi, I am new to opensource contribution and I'd like to contribute, I'm interested in html,  css and a  bit of c++  , I'd love to get involved with a FTO please add me to the list.

[2021-09-19 17:23] noi5e commented on #10153
Welcome @KeerthishankarPunchithaya, adding you to the list!

[2021-09-19 17:54] Ash-KODES commented on #10118
Can i work on this?

[2021-09-19 18:00] noi5e commented on #10118
@Ash-KODES, sure, go ahead!

[2021-09-19 19:08] noi5e opened #10173 "Add Strings to Translation Function Call in _tab_content.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-19 19:09] noi5e commented on #10173
Reserving this issue for @MONO77, please claim it in the next 24 hours!

[2021-09-19 19:20] noi5e opened #10174 "Add Strings to Translation Function Call in _sidebar.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-19 19:21] noi5e commented on #10174
Reserving this issue for @abhasal, please claim it in 24 hours!

[2021-09-19 19:35] noi5e opened #10175 "Add Strings to Translation Function Call in questionRich.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-19 19:37] noi5e commented on #10175
Reserving this issue for @RReiso, please claim it in the next 24 hours!

[2021-09-19 20:14] noi5e opened #10176 "Add Strings to Translation Function Call in rich.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-19 20:14] noi5e commented on #10176
Reserving this issue for @Tilakraj0308 to work on, please claim it in the next 24 hours!

[2021-09-19 20:21] RReiso commented on #10175
Thanks, I will work on this issue.

[2021-09-19 20:33] noi5e commented on #10175
@RReiso Great! Let us know if any questions come up!

[2021-09-19 21:24] MONO77 commented on #10173
@noi5e Thank you! I will fix this issue.

[2021-09-19 23:13] abhasal commented on #10174
Thanks. I will take this up.

[2021-09-19 23:26] noi5e commented on #10173
@MONO77 Great!

[2021-09-19 23:26] noi5e commented on #10174
Great @abhasal!

[2021-09-20 01:50] noi5e opened #10178 "Add Strings to Translation Function Call in wikiRich.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-20 01:51] noi5e commented on #10178
Reserving this issue for @ZacharyGillmore to work on. Please leave a comment here in the next 24 hours to let us know you're working on this!

[2021-09-20 01:59] ZacharyGillmore commented on #10178
I am working on it.

[2021-09-20 02:02] noi5e commented on #10178
Great @ZacharyGillmore let us know if you have any questions!

[2021-09-20 02:13] noi5e opened #10179 "Add Strings to Translation Function Call in post.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-20 02:14] noi5e commented on #10179
Reserving this issue for @nicolecarman, please comment here in the next 24 hours if you're still interested in working on it!

[2021-09-20 02:15] noi5e commented on #10153
@Tilakraj0308 @Axuby @nicolecarman I've reserved some FTO issues for each of you, please check the list and leave a comment in the issue in the next 24 hours to let us know you still want it!

[2021-09-20 03:28] Tilakraj0308 commented on #10176
Yes! I would like to work on this one

[2021-09-20 03:28] Axuby commented on #10102
Ok thank you @noi5e
Issue accepted.

[2021-09-20 03:31] noi5e commented on #10102
Great, thanks @Axuby!

[2021-09-20 03:32] noi5e commented on #10176
Great, thanks @Tilakraj0308!

[2021-09-20 03:36] #10178 closed

[2021-09-20 05:35] nicolecarman commented on #10179
Yes, please!

[2021-09-20 05:41] noi5e commented on #10179
@nicolecarman Great, go ahead!

[2021-09-20 14:44] Tlazypanda opened #10186 "Hacktoberfest Contributing Discussion :fire: How can you help?"
Hey Everyone! :wave:

We are thinking of participating in Hacktoberfest and for that we need to lay down some community rules and share some ideas to get the momentum going for Hacktoberfest :tada:

Please feel free to share your ideas on what we should do. You can help out by -
- Creating ftos using #9945 or for normal bug fixes which we will be tagging as hacktoberfest issues later
- Creating ma

[2021-09-20 14:45] Tlazypanda commented on #10186
@ZacharyGillmore, @noi5e, @jywarren, @Jon-Jos, @chicken-biryani, @comic-dev, @Vishal01-git, @Hina-softwareEngineer, @arnab-2001, @StephNathai, @dependabot[bot], @DalilaBA, @sandipanpanda, @Ishan2077, @suryablaster, @Ash-KODES, @RazaKhanGit, @17sushmita, @Onyinye91-ctrl, @imajit, @sorutifokkusu, @poojap10, @TildaDares, @anirudhprabhakaran3, @daemon1024, @om2137, @Quado1, @daksh10110, @DinSanGun, @m

[2021-09-20 15:12] chicken-biryani commented on #10186
Hey,

I would love to help out.

Just a question...

Can we clarify our ideas under this issue itself that, "Hey I think this can be a first good issue."... or over Gitter... or... Just create the issue, and if it's relevant it would be good to go else it'd just get closed?

You know till we get a hang of creating a good fto issue.

[2021-09-20 15:44] Jon-Jos commented on #10186
Wow great!  @Tlazypanda 😁

Can someone shed  light 💡 on these queries...

(1/2)
Which are the

1. languages
2. tools
3. frameworks
4. libraries
5. toolkits
6 ...
7 ...

 a contributor must learn! in Public Lab?

(2/2)
Which are the areas  Public Lab currently need code development (bug fixes, improvement)?

and which are the technologies used in that specific area ?

🚀 Hacktoberfest 2021  🌳🌳🌳

♥️

[2021-09-20 15:58] StephNathai commented on #10117
Hi @noi5e, I can update this link if this issue is available, thanks.

[2021-09-20 16:31] ebarry commented on #10016
Hi @max-keviv Hope you're doing great! Any updates on this?

[2021-09-20 16:39] noi5e commented on #10117
Thanks @StephNathai! Would you mind making a first-timer-only issue out of it, for a new contributor to solve?

[2021-09-20 16:40] StephNathai commented on #10117
@noi5e yea absolutely, will do!

[2021-09-20 16:48] noi5e commented on #10186
Yay, this is exciting @Tlazypanda, thanks for opening!

@chicken-biryani Either one is fine!

@Jon-Jos, definitely Rails and JavaScript! We have almost 600 issues open, so plenty of places to start 😅

[2021-09-20 17:05] noi5e commented on #10117
Great @StephNathai! We have a FTO template already set up when you click on `New Issue`.

When it's done you can tag the next person on the list at #10153!

[2021-09-20 19:38] abhasal commented on #10174
Created a PR, Please review and let me know if any further comments.
https://github.com/publiclab/plots2/pull/10187

[2021-09-20 20:55] StephNathai opened #10188 "Fixing 'here is a great tutorial' link in 'first-timers-only' template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-20 20:56] StephNathai commented on #10188
@KeerthishankarPunchithaya here is a new FTO issue if you're still looking for one

[2021-09-20 20:57] StephNathai commented on #10117
Thanks @noi5e! Just created the FTO issue and tagged the next person in line (https://github.com/publiclab/plots2/issues/10188)

[2021-09-20 21:12] jywarren commented on #10123
OK, so at default limit 50, we are seeing a lot of great content (and the MapKnitter CORS fix shows maps now too):

![image](https://user-images.githubusercontent.com/24359/134075905-a01beec6-3f4c-4af3-98c2-aaa5e26a7995.png)

vs limit 100:

![image](https://user-images.githubusercontent.com/24359/134075940-73c74cb0-54da-4c9e-8da8-48549b1fcfb9.png)

vs the prior limit of 5 (i think):

![image](http

[2021-09-20 21:14] jywarren commented on #10123
It appears our tagLocations endpoint is doing even better!

![image](https://user-images.githubusercontent.com/24359/134076681-8750dd0c-2218-4877-be93-f6f98d6129fd.png)

[2021-09-20 21:15] jywarren commented on #10123
whereas nearbyPeople does occasionally get a 23 second load time:

![image](https://user-images.githubusercontent.com/24359/134076743-07c3fe29-89c6-4c63-89f5-af7c973d9065.png)

[2021-09-20 22:19] jywarren commented on #10123
I'm comfortable leaving things as they are for a while pending more exploration, experimentation, and input. I think there's a lot of mileage to be had from turning other default layers on, perhaps, or doing more to tune/trim and interlink MapKnitter markers nearby, and/or tune the display of people, maybe? I think limits are doing OK right now at 50.

[2021-09-20 22:40] noi5e commented on #10188
Thanks @StephNathai! @KeerthishankarPunchithaya, please claim this in the next 24 hours if you're still interested!

[2021-09-20 22:40] noi5e commented on #10117
Awesome @StephNathai, thanks! Closing this issue now.

[2021-09-20 22:40] #10117 closed

[2021-09-20 22:52] #10174 closed

[2021-09-20 22:59] jywarren commented on #10186
@Tlazypanda ty so much for getting this going! Let's think about marking FTOs without using the `first-timers-only` label /yet/ so they don't get snapped up? We could also leave a comment that could later be deleted maybe...

@chicken-biryani we do have a `fto-candidate` label which we use to mark "almost done" FTOs before they get the official label. They they could get reviewed by @noi5e @Tlazyp

[2021-09-21 00:55] ShehanAT commented on #10153
Hi there, I'm interested in a FTO issue. I'm a freelance full-stack developer mainly specializing in Angular.js, Java, Django, and Ruby on Rails.

[2021-09-21 01:07] noi5e commented on #10153
@ShehanAT, okay, adding you to the list!

[2021-09-21 01:17] KeerthishankarPunchithaya commented on #10188
Yes I would like to take the issue

[2021-09-21 01:20] noi5e commented on #10188
Great @KeerthishankarPunchithaya, go ahead!

[2021-09-21 02:31] anirudhprabhakaran3 commented on #10186
Hello! This is great.

I think we can expand on the present CONTRIBUTING.md to make a better document for anyone who is actually interested in Hacktoverfest. That way we can get higher quality PRs and issues can be solved better.

[2021-09-21 06:05] unnati914 commented on #10186
Hello!
Thanks for opening this, really excited for this. We can actually have a blog stating what publiclab does(I know we already have it on the website) but this can be a good fto for new comers, these can help them in their technical skills as well. And we can actually share this on socials too and ways to contribute ofcourse!
Let me know any suggestions or improvements if any :)

[2021-09-21 07:01] DalilaBA commented on #10186
Awsome thank you @Tlazypanda, there is so many good ideas over here, I'm happy to help, there is a lot of work on the translation files that can be used as FTOs
But I do have some questions about the translations, how can we change the language on the Dev side since we don't have the functionality on the footer ?

[2021-09-21 10:11] Vishal01-git commented on #10186
Great decision @Tlazypanda of participating in Hacktoberfest , this will help many open source enthusiast to know about publiclab.
And i can help you by spreading about this in my community.

[2021-09-21 10:32] Nandini-108 commented on #10153
Hey! I am new to the open source world and would like to contribute. My preferred languages are c/c++, HTML, CSS, Python. Please add me to the list.

[2021-09-21 14:12] aliciapaz commented on #9641
We can use GH's filters to achieve what @jywarren suggests:
For example:
https://github.com/publiclab/plots2/actions/workflows/tests.yml?query=branch%3Amain

[2021-09-21 14:48] jywarren commented on #10134
OK, that sounds great @DalilaBA. Tell us how it goes!

[2021-09-21 14:49] jywarren commented on #10134
Oops, this was a stray tab that hadn't updated and now i see the updates. Never mind! Thanks! Retitled it for clarity too. :-)

[2021-09-21 15:03] jywarren commented on #9502
Fixed in #10137 thankfully!!!

[2021-09-21 15:45] DalilaBA commented on #10186
@Tlazypanda got it, I'll get into it as soon as I get home 😁

[2021-09-21 16:00] noi5e commented on #10153
Welcome @Nandini-108, adding you to the list!

[2021-09-21 16:22] #10188 closed

[2021-09-21 16:26] DalilaBA commented on #10134
No problemo 👍

[2021-09-21 16:36] #10176 closed

[2021-09-22 00:57] nicolecarman commented on #10179
Submitted a pull request. It was my first one so please let me know if I left anything out or need to make corrections.

[2021-09-22 02:50] fooledyouonce commented on #10153
HI! I'm a first timer, completely new to the open-source world. I would love to contribute. My preferred languages are Python, C/C++, and Java. Please add me!

[2021-09-22 03:06] noi5e commented on #10153
Hi @fooledyouonce, welcome! I'm adding you to the list.

[2021-09-22 04:02] #10179 closed

[2021-09-22 14:27] max-keviv commented on #10016
@ebarry sorry due to some problems and unavoidable situation, I was not able to give time on this.

[2021-09-22 14:30] max-keviv commented on #10016
is this implementation is righ
![Screenshot from 2021-09-22 19-55-10](https://user-images.githubusercontent.com/59287619/134363157-b49e1e8c-6bb0-448d-82dd-986fa4bfde1b.png)
t?

[2021-09-22 15:56] ahmedishraq commented on #10153
Hi! I want to contribute here. I am very much comfortable with Java, html, css. If you add me it will be new chapter for me and want to learn by contributing here.

[2021-09-22 17:27] om2137 commented on #10186
Hey,
I did FTO and had my first PR merged here at Public lab, very new to contributing to open source. But would love to help out, if there is anything to be get done.

[2021-09-22 17:58] noi5e commented on #10153
Hey welcome @ahmedishraq, adding you to the list.

[2021-09-22 18:00] #10102 closed

[2021-09-22 18:02] #10175 closed

[2021-09-22 19:17] atayl16 commented on #10186
This is me as well. I did one and would love to help, but really have no
idea where to start. Is there a guide somewhere for those of us that are
excited, did our FTO and want to do more?

On Wed, Sep 22, 2021 at 6:27 PM Om Raut ***@***.***> wrote:

[2021-09-23 01:08] nicolecarman commented on #10153
I'd love to contribute again, if that's okay!

[2021-09-23 02:52] anirudhprabhakaran3 commented on #10186
@Tlazypanda working on the doc

[2021-09-23 13:57] #10018 closed

[2021-09-23 17:30] ShivamJhaa commented on #10153
Hey, I am new to open-source and would like to work on this issue. I have good knowledge of HTML, CSS, JS, etc.

[2021-09-23 17:56] jywarren commented on #10186
Yay and welcome folks! One thing that really helps is if we can encourage newcomers to help other newcomers. If there are open FTOs and people seem a bit stuck, or just need encouragement, that's really helpful!

I don't know if we can make Hacktoberfest issues which encourage this, but even outside of Hacktoberfest, this is a really critical area of support which newcomers are really good at -- b

[2021-09-23 18:08] bair0069 commented on #10153
Hi I would like to contribute here. I just started a mobile app dev course and have basic knowledge of HTML, CSS, and JS. Thank you!

[2021-09-23 20:32] hamidmalikzada commented on #10153
Hi, I'm totally new in open source world, I would be happy if I could contribute to a project. I have elementary skills in c#, react, html, css. asp.net and .net core.

[2021-09-23 21:04] noi5e commented on #10153
@ShivamJhaa @bair0069 @hamidmalikzada Welcome! Adding you all to the list.

@nicolecarman Thanks, but unfortunately we can only accommodate one person per FTO issue. Here are some things you can do after completing an FTO:
- helping someone else complete theirs, or checking in to see if they need help.
- introducing yourself on Public Lab's Gitter
- setting up the repo locally, or checking it out

[2021-09-23 22:17] noi5e commented on #10166
@Tiwarisonal19 How are you doing with this? Let us know if you need any help! 🤗

Just a reminder that we re-assign FTO issues after one week with no response. But if you need more time, no problem, just let us know.

[2021-09-23 22:20] noi5e opened #10197 "Add Strings to Translation Function Call in questionRich.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-23 22:21] noi5e commented on #10197
Reserving this issue for @ShehanAT, to be claimed in the next 24 hours.

[2021-09-23 22:23] noi5e commented on #10153
@ShehanAT, just reserved an FTO for you, please claim it in the next 24 hours!

[2021-09-23 23:51] ShehanAT commented on #10197
@noi5e Thanks, yes I will work on this issue now

[2021-09-24 02:48] alciel0x14 commented on #10153
Hello! I'm quite new to open-sourced projects and was looking for a beginner issue, I'm so glad that I came across this. It would be great if I could contribute to this project! I have skills in C/C++, HTML, CSS, octave & python.

[2021-09-24 03:31] Tiwarisonal19 commented on #10166
I'm unable to find the two files to update actually, in the plots2 repository that I have to update. Yes please reassign this to me, so that I can figure  this out and finish it.

[2021-09-24 04:23] Tiwarisonal19 commented on #10166
@noi5e I have made a pull request for the config/locales/en.yml: kindly review it.

[2021-09-24 17:10] optimm commented on #10153
Hey i would like to work , i know html,css ,javascript ,react, node js and i am new to open source , looking forward to contribute here, Thank you

[2021-09-24 17:32] anirudhprabhakaran3 commented on #10186
Hello everyone!

I have prepared a document for guidelines for Hacktoberfest. It would be great if y'all could go through it, and provide feedback - anything that I missed out on or should add!

https://docs.google.com/document/d/1w3Y_Xy4MJEeV6rxK9qorsMcFLYj2lVY785hMUYtvHJo/edit?usp=sharing

I'll be making this into an MD file so that it can be merged into the codebase.

[2021-09-25 14:31] swatantra-15 commented on #10153
hello, i am want to start the journey in open -source  from here , i know HTML, CSS, Javascript and  skill in C/C++ , Python  , looking forward to contribute to this project.

[2021-09-26 11:53] AsswinCR commented on #10197
Is someone working on this issue?

[2021-09-27 08:12] #10197 closed

[2021-09-27 17:21] ebarry commented on #10186
Thank you! Looks great as far as i can tell! I added a line near the top to link to code.publiclab.org

[2021-09-27 20:45] noi5e commented on #10153
@alciel0x14 @optimm @swatantra-15 Welcome to Public Lab! I'm adding you all to the list now.

[2021-09-27 20:48] #10173 closed

[2021-09-27 20:51] noi5e commented on #10104
It's been two weeks since any activity on this issue, so I'm reassigning it to another person.

[2021-09-27 20:51] noi5e commented on #10153
@Nandini-108 There is an issue for you available at #10104, please claim it in the next 24 hours if you are interested!

[2021-09-27 21:07] noi5e commented on #10166
@Tiwarisonal19 Hmm, I see that you made a pull request into the forked repo on your GitHub account [here](https://github.com/Tiwarisonal19/plots2). The pull request actually needs to go into Public Lab's original repository [here](https://github.com/publiclab/plots2). You'll need to open another pull request.

There are instructions on how to make a pull request [here](https://app.egghead.io/playl

[2021-09-27 21:09] noi5e commented on #10104
Issue reserved for the next 24 hours for @Nandini-108

[2021-09-27 21:15] noi5e opened #10206 "Add Strings to Translation Function Call in questionRich.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-27 21:16] noi5e commented on #10153
@fooledyouonce Your issue is #10206, please claim it in the next 24 hours if you are interested!

[2021-09-27 21:16] noi5e commented on #10206
Reserved for the next 24 hours for @fooledyouonce

[2021-09-27 21:27] noi5e opened #10207 "Add Strings to Translation Function Call in questionRich.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-27 21:28] noi5e commented on #10153
@ahmedishraq Your issue is #10207, please claim it in the next 24 hours if you are interested!

[2021-09-27 21:36] noi5e opened #10208 "Add Strings to Translation Function Call in questionRich.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-27 21:37] noi5e commented on #10153
@ShivamJhaa, here's your issue: #10208, claim it in the next 24 hours if you are interested!

[2021-09-27 21:38] noi5e commented on #10208
Reserved for 24 hours for @ShivamJhaa

[2021-09-27 21:41] noi5e opened #10209 "Add Strings to Translation Function Call in questionRich.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-27 21:44] noi5e commented on #10153
@bair0069, here's your issue: #10209, claim it in the next 24 hours if you are interested!

[2021-09-27 21:44] noi5e commented on #10209
Reserved in the next 24 hours for @bair0069

[2021-09-27 21:59] bair0069 commented on #10209
on it

[2021-09-27 22:28] fooledyouonce commented on #10153
claiming!

[2021-09-28 05:46] ShivamJhaa commented on #10208
I am working own this. Thank You

[2021-09-28 06:46] Nandini-108 commented on #10104
Yes, I'd like to do it
Thanks

[2021-09-28 15:55] jywarren opened #10210 "Bypass lazy loading for blob images (infragram uploads)"
We have a category of images which are saved as "blobs" forwarded from another website of ours, https://infragram.org - and this breaks our "lazy loading" optimization of images. Let's just turn off lazy loading for this "card" display and it should resolve, although we could later introduce a conditional to detect this type of image.

https://publiclab.org/tag/infragram-upload

https://github.com

[2021-09-28 16:04] jywarren commented on #10210
Noting this type of image does display in the Wayback machine:

https://web.archive.org/web/20200314104929/https://publiclab.org/notes/biozanco/01-23-2020/ndvi-blue-filter-morus-nigra-leave

and you can see that it actually has the filename "blob" - but seems to be stored like a normal file:

[code]

So the problem may be that it's actually just a JPG but it has the name "blob" instead of, say, "b

[2021-09-28 16:05] jywarren commented on #10210
Yes, AND,

https://storage.googleapis.com/publiclab-production/public/system/images/photos/000/044/103/original/blob actually works -- just not the other sizes!

So we should be able to filter for filename "blob" and just only display the original size.

[2021-09-28 16:19] jywarren commented on #10210
OK, tried that conditional on both note show pages and card display. I guess we should do wiki pages too... hang on...

[2021-09-28 18:53] #10210 closed

[2021-09-28 19:15] rashmikt commented on #10153
Hi, I want to work with open source projects and I have basic knowledge on HTML, CSS, Javascript, node.js and React.

[2021-09-28 20:23] avikkundu commented on #10209
want to work on it

[2021-09-29 02:48] Sagun-png commented on #10153
Hi @noi5e
I want to contribute in open source projects. I have good experience of HTML, CSS and JavaScript.

[2021-09-29 05:19] prahuljose commented on #10153
hello, i know HTML, CSS, Javascript, and skills in C/C++, Python, looking forward to contributing to this project.

[2021-09-29 15:27] Recognizeyourself commented on #10209
Can i work on it ?

[2021-09-29 15:28] Recognizeyourself commented on #10209
If someone is doing this and stuck I would be delighted to help in any way.

[2021-09-29 17:26] Rutumbhara commented on #10207
Can I solve this issue if it's not assigned to anyone.

[2021-09-29 17:28] Rutumbhara commented on #10207
Can I solve this issue if it is not assigned to anyone?

[2021-09-29 19:40] karandeeppotato commented on #10208
Hi there,
I am willing to work on it, can you please assign me?

[2021-09-29 19:43] karandeeppotato commented on #10208
Hi there,
I am willing to work on this, can you please assign me ?

[2021-09-29 19:48] brunoocasali opened #10218 "CodeClimate issues reported on models/user.rb"
### Please describe the problem (or idea)

This is not a bug, but a wip-tracking issue about the `user.rb` file.
Accordingly to codeclimate we have multiple issues there that could be addressed one by one.

### Please show us where to look

https://codeclimate.com/github/publiclab/plots2/app/models/user.rb/source#issue-f685bcbb6f822884dec234767db1861a

[2021-09-29 21:35] chicken-biryani commented on #10186
Hey,
@Tlazypanda and @noi5e ,
I hope you're doing well.

Are there any particular guidelines/posters I could circulate around for hacktoberfest or in general?

I am sure there are people in our universities who are looking to contribute and start their journey with open source but aren't as aware.

[2021-09-30 00:07] max-keviv opened #10219 "more pagination in research notes"
when In research notes of few topics the last few pages in pagination don't contain the research notes

there may be extra pagination

here you can see
https://publiclab.org/tag/climate-change?page=2
or
https://publiclab.org/tag/indoor-air-quality?page=3

https://user-images.githubusercontent.com/59287619/135364762-b6b9ecb5-0aaf-4b3f-9c5a-796d393c6e1e.mp4

[2021-09-30 08:49] AshishisLiquid commented on #10153
Hello, I want to contribute JS, Node JS., Flutter, Let me know if there is any issues available.

[2021-09-30 13:10] leau-void commented on #10153
Hello I would like to contribute to a FTO issue, my skills include HTML, CSS, Vanilla JS, Jest.

[2021-09-30 15:07] Tlazypanda opened #10221 "Add hacktoberfest docs link to README.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-30 15:09] prahuljose commented on #10221
Hi, can i try this?

[2021-09-30 15:16] AnirbanBall commented on #10221
Hi I am intereted Can I work on this?

[2021-09-30 15:29] kkreine commented on #10153
Hello, I would like to contribute. I am familiar with html, css, ruby, and javascript

[2021-09-30 15:30] Tlazypanda opened #10223 "Change Strings to Translation Function Call in stats/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-30 15:41] rigved-telang commented on #10223
Hi, I would like to make the changes. I am yet to make open source contributions. This would be my first one. Please assign it to me.

[2021-09-30 15:45] Tlazypanda opened #10224 "Change Strings to Translation Function Call in stats/subscriptions.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-30 15:51] fuadnafiz98 commented on #10224
Hi @Tlazypanda, Can I work on this issue?

[2021-09-30 16:07] Tlazypanda opened #10225 "Change Strings to Translation Function Call in _miniCard.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-30 16:09] noi5e commented on #10153
@Sagun-png @prahuljose @AshishisLiquid @leau-void @kkreine Wonderful! Welcome! I'm adding you all to the list.

[2021-09-30 16:13] Axuby commented on #10225
@Tlazypanda can you assign this to me

[2021-09-30 16:14] Tlazypanda commented on #10225
Yeah go ahead @Axuby :tada:

[2021-09-30 16:14] Tlazypanda commented on #10224
Yeah go ahead @fuadnafiz98 :tada:

[2021-09-30 16:15] Tlazypanda commented on #10223
Yeah go ahead @rigved-telang :tada:

[2021-09-30 16:34] Tlazypanda opened #10227 "Change Strings to Translation Function Call in _profileCard.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-09-30 16:38] Tlazypanda commented on #10186
Hey @chicken-biryani yeah here's the link - https://github.com/publiclab/plots2/blob/main/HACKTOBERFEST.md

Also since we T-2 hrs from Hacktoberfest hoping for all the contributors in this thread to help out with opening issue, reviewing prs or in any capacity they can :tada:

[2021-09-30 16:45] Axuby commented on #10227
@Tlazypanda  I'm working on this

[2021-09-30 17:00] iwantamaste commented on #10153
hey @noi5e I would like to contribute to this

[2021-09-30 21:33] fooledyouonce commented on #10153
Hi @noi5e I'm just letting you know I'm going to need an extension to look into this issue.

[2021-09-30 21:49] chicken-biryani commented on #10227
Hey, @Axuby!
Hope you're doing well.

I believe one of the 'first-timers-only' issues has already been assigned to you. So let's give the other new-comers a chance to contribute as well?

You can always contribute to issues not labelled as 'first-timers-only'. 😄

Happy contributing! 🎉

[2021-09-30 22:28] chicken-biryani opened #10229 "Change link in community-toolbox/index.html"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-01 01:24] Tarcisio-Menezes commented on #10229
This is my first contribution, thanks for opportunity! I think I can solve this!

[2021-10-01 01:43] fuadnafiz98 commented on #10224
Hello @Tlazypanda, I have completed the tasks. All the test cases have been passed.
Would you please review my change?.
Thanks!

[2021-10-01 05:25] iwantamaste commented on #10224
@fuadnafiz98 have you made a pull request for this issue??
@Tlazypanda  can I also start working in this issue if @fuadnafiz98 haven't made any oull request yet.

[2021-10-01 05:38] Vishal01-git opened #10231 "Markup Mistake"
### In [Publiclab](https://publiclab.org/tag/education) I think there is mistake in markup because ,it shows in HTML language.

![isuue](https://user-images.githubusercontent.com/52890952/135570674-e3913f1e-268a-4d0c-bca3-4fa5e04858a8.png)

[2021-10-01 05:46] AshishisLiquid commented on #10231
Is it open so, i can work on it ?

[2021-10-01 05:47] AshishisLiquid commented on #10229
Can i contribute in this issue. I am first timer in open source.

[2021-10-01 05:55] chicken-biryani commented on #10229
Hia, @Tarcisio-Menezes!
Definitely go ahead.
Happy contributing! 🎉

[2021-10-01 05:59] chicken-biryani commented on #10229
Hey @AshishisLiquid ,
Hope you're doing well!

Claiming issues works on a first come first serve basis.

But you can always keep your eyes open for new issues or even create an issue of  your own. 😉

[2021-10-01 06:04] AshishisLiquid commented on #10229
@chicken-biryani If it does not resolved by @Tarcisio-Menezes can i contribute ?

[2021-10-01 06:05] chicken-biryani commented on #10229
@AshishisLiquid definitely!

[2021-10-01 06:46] ShivamJhaa commented on #10208
Done, please review my PR. Thank you
 https://github.com/publiclab/plots2/pull/10232

[2021-10-01 07:59] Onyinye91-ctrl commented on #10227
@Tlazypanda I this still open. Can i work on it?

[2021-10-01 08:01] Onyinye91-ctrl commented on #10104
@Tlazypanda If this is still open, can you assign it to me?

[2021-10-01 08:02] Onyinye91-ctrl commented on #10223
@Tlazypanda If this is still open, Can i work on it?

[2021-10-01 08:03] Onyinye91-ctrl commented on #10209
@Tlazypanda  I am open for this. Thanks

[2021-10-01 08:13] fuadnafiz98 commented on #10224
Yes I have made the pull request

[2021-10-01 08:49] SamikshyaMstar commented on #10221
Hi, I want to take this issue! Well, this is my first step to opensource :) I think I can give it a try.

[2021-10-01 14:26] chicken-biryani commented on #10186
Hia!
Created an issue that maybe can be broken down into 3-4 first-timer issues.
https://github.com/publiclab/community-toolbox/issues/502

Create the folder and then an issue each to create a sub-template.

[2021-10-01 15:04] Evensusu commented on #10229
Hi can I contribute?

[2021-10-01 15:05] Evensusu commented on #10227
Can I conribute to this?

[2021-10-01 15:05] Evensusu commented on #10225
Can I do this?

[2021-10-01 15:06] Evensusu commented on #10221
hi can i do this?

[2021-10-01 15:06] Evensusu commented on #10208
can i do this?

[2021-10-01 15:06] Evensusu commented on #10209
can i do this?

[2021-10-01 15:27] eliseaston commented on #10206
Hello is this still available? Can I work on it please?

[2021-10-01 15:33] Tarcisio-Menezes commented on #10229
Thanks for the welcome @chicken-biryani  !
I've already opened the PR regarding the link change, I hope everything went well!

https://github.com/publiclab/community-toolbox/pull/500

[2021-10-01 15:37] chicken-biryani commented on #10229
Hey, @Evensusu!
Hope you're doing well.

Claiming issues works on a first come first serve basis.

The person who comments first 'Hey can I work on this' (Or something like that) gets to work on the issue.

For example over here: @Tarcisio-Menezes was the first person to suggest that he'd like to work on it, so they get to work on the issue.

But, I am glad to see your enthusiasm, keep your eyes o

[2021-10-01 16:20] Tlazypanda commented on #10227
Assigned to @Evensusu since @Axuby and @Onyinye91-ctrl have already contributed to first timers only issues :)

[2021-10-01 18:46] ahmedishraq commented on #10207
Sorry for being late I was sick now I am doing my task.

[2021-10-01 19:20] ahmedishraq commented on #10207
Hello, @noi5e Sorry for being late. I have completed my work and successfully fixed the issue  if all is good to go then close this issue.

Thank you

[2021-10-02 06:24] satisshhhhhh commented on #10221
Hello, I am new to open source. Can I work on this issue?

[2021-10-02 11:40] Sshashank5690 commented on #10221
Can I do This ! This is my First time.

[2021-10-02 11:54] Sshashank5690 commented on #10229
hey Can I contribute in this?
This is my first time.

[2021-10-02 11:57] Sshashank5690 commented on #10227
Hey is this Done Yet?
Can I Do this one?
**This is my first time.**

[2021-10-02 12:12] Sshashank5690 commented on #10166
hey can i try this?

[2021-10-02 14:42] Rishi22-Coding commented on #10229
I just Updated https://github.com/publiclab/community-toolbox/pull/503#issue-748137096

[2021-10-02 16:19] chicken-biryani commented on #10229
Hia, @Sshashank5690!

Hope you're doing well.

Well, as stated above, claiming issues works on a first come first serve basis. So over here, someone has already worked on it.

But you can always keep your eyes open for new, upcoming issues.

[2021-10-02 16:26] chicken-biryani commented on #10229
Heyy @Rishi22-Coding!

Thank you for making the changes but:
- That PR won't be accepted as someone has claimed it and worked on it before you did.

Also,  try not to work on an issue that has not been assigned to you because:

- It may be possible that someone else has already claimed it the issue and is already working on it, so you working on it would be just a waste of your time and energy.

S

[2021-10-02 16:38] SamikshyaMstar commented on #10221
@Tlazypanda pls review my PR

[2021-10-02 19:09] squid-ney commented on #10153
Hi, I'm new to open source contribution and I'd like to contribute to this. I'm familiar with Javascript, Python, and Java.

[2021-10-02 19:21] Tlazypanda commented on #10221
Hey @SamikshyaMstar @Sshashank5690 @satisshhhhhh great to see you folks wanting to contribute, please claim issues that are not assigned or without an active pull request. Check out [code.publiclab.org](https://code.publiclab.org/) for more issues which you can pick up :) Thanks :v:

[2021-10-03 04:29] invarrow commented on #10153
Hi! I am new here, never contributed to any open source project and am looking to start doing. I am familiar with Python and HTML and in process of learning JS

[2021-10-03 05:09] Mayank-Creater commented on #10229
This is my first time contribution to open source.

[2021-10-03 05:26] Mayank-Creater commented on #10207
Can you assign it to me?

[2021-10-03 09:41] mateuseap commented on #10153
Hi @noi5e! I'd to contribute, I am familiar with C/C++, Python, HTML, CSS, and so on.

[2021-10-03 10:27] evansusu commented on #10229
hi can I work on this?

[2021-10-03 12:45] vishkrish200 commented on #10231
can i work on this?

[2021-10-03 15:45] TildaDares commented on #10231
Hi @AshishisLiquid, yes you can work on this 🚀.

[2021-10-03 15:47] TildaDares commented on #10231
Hi @vishkrish200, you can make a request for an FTO here #10153. Thanks!

[2021-10-03 16:21] jainkhushi968 commented on #10153
Hi @noi5e ! I am completely new to open source and github but I'd love to contibute. I am comfortable with C++, Java, HTML-CSS.

[2021-10-03 18:30] szemek commented on #10115
@DalilaBA I checked README and there is a catch in it
![image](https://user-images.githubusercontent.com/373530/135766360-5a1cdb09-b77f-4c4a-9428-27ef41f38327.png)

Executing `bundle config set without 'production mysql'` informs bundler to ignore gems from `production` and `mysql` groups, so `bundle install` doesn't install, e.g. `mysql2`. Maybe it will be useful to add some details to README whi

[2021-10-03 18:37] #10115 closed

[2021-10-03 18:48] Hina-softwareEngineer commented on #9999
**I want to contribute to this issue. But I am unable to reproduce the issue. As I don't get dots(dropdown openner) on my webpage.**

![z](https://user-images.githubusercontent.com/56507951/135767316-f4cffb12-318b-4b43-839b-bada0f798847.png)
.

[2021-10-03 19:34] AshishisLiquid commented on #10231
ok I'll just check and make pr when work done

[2021-10-03 19:45] Tlazypanda commented on #9481
Hey @DalilaBA Looping you here to reach out to @XavCC for any queries you may have :sweat_smile: I am not that familiar with the transifex translation procedure so hoping this leads to some clarity :v:

[2021-10-03 19:51] DalilaBA commented on #9481
Alright thank you ☺️

[2021-10-04 07:23] iwantamaste commented on #10104
@Tlazypanda can I please work on this issue??

[2021-10-04 07:38] AshishisLiquid commented on #10231
Just a query, where can i find this page code ? cause it seems full worked down in ruby

[2021-10-04 08:04] TildaDares commented on #10231
@AshishisLiquid You can find the code in https://github.com/publiclab/plots2/blob/a1b105fb6a50c939a9a303c1efb384ca7bcf389e/app/views/tag/show.html.erb#L116

You need to strip the tags from the string so that only normal text is displayed. You can use this method https://apidock.com/rails/ActionView/Helpers/SanitizeHelper/strip_tags to do that. I hope that's clear enough

[2021-10-04 08:13] TildaDares opened #10244 "Link 'learn more' to topics wiki"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-04 08:14] TildaDares commented on #10153
@hamidmalikzada There's an issue here for you #10244

[2021-10-04 08:15] TildaDares commented on #10244
Reserved for @hamidmalikzada for 24 hours!

[2021-10-04 08:20] AnirbanBall commented on #10244
I m interested can I work on it ?

[2021-10-04 08:23] TildaDares commented on #10244
Hi @AnirbanBall, this issue is reserved. I'll add your name to the first timers list in #10153. Thanks!

[2021-10-04 11:33] ayeolakenny commented on #10153
Hi @noi5e
I want to contribute in open source projects. I have  experience of HTML, CSS, JavaScript, Typescript and Nodejs
Thanks

[2021-10-04 13:56] SaadAlBayzid commented on #10244
Greetings, I'm really intrigued about this and also completely noob to this whole open-source thingy. May I have this opportunity,please?

[2021-10-04 16:39] TildaDares commented on #9999
Hi @Hina-softwareEngineer, you have to be logged in to see the ellipsis menu.

[2021-10-04 17:01] grimxreaper commented on #10153
Hello! I'd like to contribute in Javascript, CSS, HTML. Thanks! :)

[2021-10-04 18:04] Hina-softwareEngineer commented on #9999
@TildaDares  @noi5e  I have figure out the issue. Its because of `overflow` : `hidden` property set to parent container in which card and dropdown is present. That's why we are unable to view the full dropdown. by removing that property in chrome Devtools. Now, the bottom box-shadow of card can be seen.  It looks like this:

![z](https://user-images.githubusercontent.com/56507951/135901208-f852912

[2021-10-04 19:28] TildaDares commented on #9999
Amazing detective work @Hina-softwareEngineer! Yes you can open a PR.

[2021-10-04 19:34] TildaDares commented on #10153
Welcome to Public Lab @iwantamaste @squid-ney, @invarrow, @mateuseap, @jainkhushi968, @AnirbanBall, @ayeolakenny, @grimxreaper, @GauravMakhijani. Your names have been added to the list.

[2021-10-04 19:35] TildaDares commented on #10244
Hi @SaadAlBayzid, this issue is reserved. You can request for a first-timer issue here #10153. Thanks!

[2021-10-05 02:10] sloutrel commented on #10153
I would love to contribute to any FTO issues. My languages are HTML, CSS, Javascript, React, etc.

[2021-10-05 08:25] AlexInes commented on #10153
HI, I would love to contribute as well. I can help with: Python, Javascript, Ruby, Java, HTML, CSS, documentation, possibly some design (looks like a lot of languages but I know them on very surface level).

[2021-10-05 08:27] Onyinye91-ctrl commented on #10244
Can i take this @TildaDares

[2021-10-05 08:38] TildaDares commented on #10244
Hi @AnirbanBall, you can work on this issue. Thanks!

[2021-10-05 08:39] TildaDares commented on #10244
Hi @Onyinye91-ctrl, I'll add your name to the first-timers list.

[2021-10-05 08:43] AnirbanBall commented on #10244
@TildaDares Sure thanks for assigning me 😊

[2021-10-05 08:55] TildaDares opened #10248 "Change strings to Translation Function Call in 'likes.html.erb'"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-05 08:57] TildaDares commented on #10248
This issue is reserved for @alciel0x14.

[2021-10-05 08:58] TildaDares commented on #10153
Welcome to Public Lab @sloutrel and @AlexInes! Your names have been added to the list.

[2021-10-05 08:58] Onyinye91-ctrl commented on #10166
I want to task issue #10166 @Tiwarisonal19

[2021-10-05 08:58] TildaDares commented on #10153
@alciel0x14 there's an issue for you in #10248.

[2021-10-05 09:28] Mayank-Creater commented on #10248
Can you assign this issue to me?

[2021-10-05 11:30] iwantamaste commented on #10104
is it done now?? @Tlazypanda @noi5e

[2021-10-05 11:32] iwantamaste commented on #10248
can I please work on this issue

[2021-10-05 15:11] jywarren commented on #8808
Gosh this is mysterious. I looked for all NodeTags with both tid = 14751 ('project') and nid = 18422 (our mysterious wiki page) and it returns nothing ([]).

But:

[code]

I'm missing something obvious?

[2021-10-05 15:13] jywarren commented on #8808
Ah, strangely i guess i had the nid wrong: this does return the record:

`irb(main):034:0> NodeTag.where(tid:14751,nid:24653)`

[2021-10-05 15:14] jywarren commented on #8808
And there's the issue. There are 2 records for this page:

[code]

The latter one, which was hidden by the other, has the `project` tag. I'll delete it and the node.

[2021-10-05 15:17] #8808 closed

[2021-10-05 15:22] #10221 closed

[2021-10-05 15:22] #10225 closed

[2021-10-05 15:32] #10224 closed

[2021-10-05 15:33] #10208 closed

[2021-10-05 15:34] #10223 closed

[2021-10-05 15:57] #10244 closed

[2021-10-05 16:24] ebarry opened #10255 "Inconsistency in availability of "delete" button visible to author of note"
This bug is going to be hard to reproduce because I've just banned the author in order to meet their request of removing their content, hopefully temporarily.

### Please describe the problem

This user: https://publiclab.org/notes/author/jrmc502 wishes to delete their notes.

Of their two notes, this note shows the "delete" button: https://publiclab.org/notes/jrmc502/10-07-2020/towards-ai-assiste

[2021-10-05 17:41] jywarren commented on #10038
I wanted to note that this page shows that many of these are passing, and although the 3rd party fork distinction seems to be true, dependabot PRs pass. I guess that's because dependabot has merge rights and probably access to secrets?

https://github.com/publiclab/plots2/actions/workflows/tests.yml?query=branch%3Amain

[2021-10-05 19:08] DalilaBA opened #10258 "Change Strings to Translation Function Call in _errorMessages.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-05 19:18] kkreine commented on #10258
Hi can I work on this issue?

[2021-10-05 19:21] jywarren commented on #10258
Hi, I'm afraid this one isn't quite ready but once it is, we'd love your help!

[2021-10-05 19:27] kkreine commented on #10258
@jywarren Thanks! I'll be happy to start whenever it's ready.

[2021-10-05 19:31] DalilaBA commented on #10258
Hi @kkreine we are working on this, we will let you know as soon as it is ready

[2021-10-05 21:06] bhamster07 commented on #10255
Following up on a conversation with @jywarren about this issue, sharing full page screenshots that seem related to this: inconsistencies in sidebar menu options when viewing research notes authored by other users, from a non-admin/non-mod account. These screenshots are two different research notes from one author.

<img width="1746" alt="Full screen 2 item menu" src="https://user-images.githubuser

[2021-10-05 21:16] DalilaBA opened #10259 "Change Strings to Translation Function Call in features/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-05 21:19] DalilaBA commented on #10258
Hey @kkreine you can have the #10259 issue if you want

[2021-10-05 21:24] DalilaBA opened #10260 "Change Strings to Translation Function Call in features/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-05 21:32] DalilaBA opened #10261 "Change Strings to Translation Function Call in features/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-05 21:35] DalilaBA opened #10262 "Change Strings to Translation Function Call in features/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-05 21:36] DalilaBA opened #10263 "Change Strings to Translation Function Call in features/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-05 21:40] DalilaBA opened #10264 "Change Strings to Translation Function Call in features/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-05 21:46] kkreine commented on #10258
@DalilaBA Thank you!

[2021-10-05 21:46] kkreine commented on #10259
I'll claim this issue

[2021-10-05 21:49] DalilaBA commented on #10259
@kkreine go ahead

[2021-10-05 23:41] SingedSimp commented on #10262
Could I claim this issue?

[2021-10-06 04:14] TinyTrebuchet commented on #10264
Hi, can I work on this?

[2021-10-06 07:22] TildaDares commented on #10263
Hi @Fullsailer, go ahead🎉

[2021-10-06 07:25] TildaDares commented on #10261
Hi @iwantamaste, you can work on this issue.

[2021-10-06 07:29] iwantamaste commented on #10153
@TildaDares  thank you :)
I'll complete it as soon as possible

[2021-10-06 07:29] TildaDares commented on #10153
@optimm there's an issue reserved for you in #10260

[2021-10-06 07:38] iwantamaste commented on #10153
hey @TildaDares  I just wanted to know that is #10261 is the issue number??

[2021-10-06 07:38] TildaDares commented on #10263
Hi @DalilaBA, I can't find the `features.last_edition` in the translation file.

[2021-10-06 07:44] TildaDares commented on #10261
Hi @iwantamaste, can you hold on a bit? There are a few things missing.

[2021-10-06 07:54] TildaDares commented on #10263
Never mind, I see you added all of them at once in #10259.

[2021-10-06 07:56] TildaDares commented on #10261
@iwantamaste Never mind there are no issues.

[2021-10-06 15:27] DalilaBA commented on #10259
hey @kkreine , I'm sorry , I've made a little mistake on the line 2 for the index.html.erb file, can you fix it please under "fix-issue-10259" branch, so the pull request will be at the same place as the first one.

[2021-10-06 19:42] ebarry opened #10270 "Error searching for "spectralworkbench" on publiclab.org"
### Please describe the problem

I typed `spectralworkbench` into our Search Bar.
i chose the first autosuggested result because i was looking for the tag page, and was surprised to see this error page:

![tag-error](https://user-images.githubusercontent.com/161439/136271922-de7a5a4f-9934-4690-b4ef-15dd59c473ee.gif)

I expected to see a tag page with content tagged `spectralworkbench`

### Please

[2021-10-07 05:29] alciel0x14 commented on #10248
Thank you for assigning me this Issue! I'll get it done asap

[2021-10-07 13:28] TildaDares opened #10271 "Change string to translation function call in sidebar.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.
If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-07 13:35] TildaDares commented on #10271
@rla-xogud I'll add your name to the first-timers list in #10153. Thanks!

[2021-10-07 13:37] TildaDares commented on #10153
Welcome to Public Lab @ gsmoran1020. I've added your name to the list.

[2021-10-07 13:43] TildaDares commented on #10153
Welcome @JamieTownsend84, I'll add your name to the list.

[2021-10-07 14:17] hammad20120 commented on #10153
Hi! I would like to contribute.

[2021-10-07 14:22] TildaDares opened #10272 "Change string to translation function call in users/profile.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.
If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-07 14:28] TildaDares opened #10273 "Change string to translation function call in users/profile.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-07 14:49] TildaDares opened #10274 "Change string to translation function call in users/profile.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-07 14:52] TildaDares opened #10275 "Change string to translation function call in users/profile.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-07 14:57] TildaDares opened #10276 "Change string to translation function call in users/profile.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-07 15:01] TildaDares opened #10277 "Change string to translation function call in users/profile.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-07 15:06] TildaDares opened #10278 "Change string to translation function call in users/profile.html.erb 'Link Social Media'"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-07 15:08] TildaDares opened #10279 "Change string to translation function call in users/profile.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-07 15:10] TildaDares opened #10280 "Change string to translation function call in users/profile.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-07 15:12] TildaDares opened #10281 "Change string to translation function call in users/profile.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-07 15:15] TildaDares opened #10282 "Change string to translation function call in users/profile.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-07 15:30] Skyrub-dev commented on #10275
Claimed thank you!

[2021-10-07 15:53] TildaDares commented on #10276
Reserved for @leau-void

[2021-10-07 16:41] ebarry commented on #10270
@bhamster reports that:

Affected pages:

- https://publiclab.org/tag/wastewater
- https://publiclab.org/tag/thermal-photography.

<img width="965" alt="tag_page_error" src="https://user-images.githubusercontent.com/161439/136427869-0203effb-1fa0-41cf-80bc-0a45e9f4e50e.png">

[2021-10-07 18:52] abhi30996 commented on #10277
Hi. I would like to work on this issue. Is it still up for grabs?

[2021-10-08 00:41] aniche-k commented on #10282
New here. How do you reserve an issue?

[2021-10-08 18:24] jywarren commented on #10270
I /think/ the error is this:

[code]

So we need to use a different method than `photo_file_name` when screening for 'blob'. Should be a quick fix!

[2021-10-08 18:29] jywarren commented on #10270
or https://stable.publiclab.org/tag/thermal-photography

[2021-10-08 19:22] TildaDares commented on #10153
Welcome to Public Lab @aniche-k and @Goodiec

[2021-10-08 19:24] jywarren commented on #10270
I believe it's fixed and will publish these changes in about 1 hour.

[2021-10-08 20:48] first-timers opened #10297 "Change style of "filter" button at https://publiclab.org/tags visualization"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-08 21:07] Goodiec commented on #10297
@jywarren, please can I work on this issue?

[2021-10-08 22:25] PaulinaGadea commented on #10297
@Goodiec let me know if you need some help! ;)

[2021-10-09 01:35] aniche-k commented on #10279
Thanks.

[2021-10-09 03:01] Goodiec commented on #10297
Sure, thanks.

[2021-10-09 04:41] Goodiec commented on #10154
Hi everyone, I'm Goodness, an Outreachy applicant interested in the "Refine the Public Lab Rich Editor" project. I am looking forward to contributing to this community! I would love to open the next check-in, it's my first time, and would appreciate any help I can get. Thank you.

[2021-10-09 06:26] Tlazypanda commented on #10153
Noting here some ftos open at https://github.com/publiclab/spectral-workbench/issues :v:

[2021-10-09 13:11] Abhishek-PratapSingh commented on #10282
@TildaDares I had updated the file as it was mentioned to be updated but still us not merged #10282
Please help

[2021-10-09 17:47] TildaDares commented on #10297
Hi @Goodiec, a contributor is allowed to work on only one first-timer-issue and since you've already been assigned to one #10276 I think it's fair for someone else to take this issue up. Thank you!

[2021-10-09 17:48] TildaDares commented on #10272
Hi @Onyinye91-ctrl, this issue has already been assigned. Thanks!

[2021-10-09 18:10] TildaDares commented on #10227
Hi @Evensusu, do you need help with this issue?

[2021-10-09 21:56] TildaDares commented on #10229
Thanks @chicken-biryani

[2021-10-10 03:05] aniche-k commented on #10279
Please let me know if I'm missing something.

[2021-10-10 06:11] anirudhprabhakaran3 commented on #10255
Is this happening for all authors? Or like some specific authors have some inconsistency?

[2021-10-10 07:06] ayeolakenny commented on #10279
🙁 Wow I'm just seeing this, I've been following up on [this](https://github.com/publiclab/plots2/issues/10153) and I did not get any

[2021-10-10 09:50] #10144 closed

[2021-10-10 10:11] wajeehamushtaq commented on #10297
okay thanks @TildaDares . Can you please assign another issue to me as I have check many opened issues are assigned to someone.

[2021-10-10 11:06] TildaDares commented on #10258
Hi @DalilaBA, is this issue ready now?

[2021-10-10 11:11] DalilaBA commented on #10258
Hey, yes @TildaDares go ahead 😄

[2021-10-10 11:34] TildaDares commented on #10258
Reserved for @wajeehamushtaq

[2021-10-10 11:35] ayeolakenny commented on #10279
Thanks alot.

[2021-10-10 11:38] nshah1729 commented on #10297
hey, @wajeehamushtaq  can you help me out?

[2021-10-10 11:39] nshah1729 commented on #10297
yes...actually wanted to know the desired design of the button

[2021-10-10 11:42] TildaDares commented on #10297
@nshah1729, all you need to do is follow the instructions here.

[2021-10-10 11:44] nshah1729 commented on #10297
Oh! thanks

[2021-10-10 12:43] cillacode commented on #10153
hi @TildaDares can i get first timer issues on this project, thanks

[2021-10-10 13:34] wajeehamushtaq commented on #10297
@nshah1729  did you need any help?

[2021-10-10 13:39] nshah1729 commented on #10297
@wajeehamushtaq Can you please review my PR...Has it merged?

[2021-10-10 13:49] wajeehamushtaq commented on #10258
Thanks, @TildaDares .

[2021-10-10 17:38] otatadeabigail commented on #10153
Hi. My name is Abigail. I am an Outreachy applicant. Can I get a first-timers issue assigned to me, please.

[2021-10-10 20:53] TildaDares commented on #10153
Welcome to Public Lab @csyu1, @otatadeabigail, @kolberg-dev, @cillacode, @Simpleshell3 and @NARUDESIGNS. I'll add your names to the list.

[2021-10-10 21:27] TildaDares commented on #10153
There's a non-FTO issue in #9543 for anyone who's already worked on an FTO.

[2021-10-11 12:13] TildaDares commented on #10231
Hi @AshishisLiquid, do you need any help with this?

[2021-10-11 12:29] TildaDares opened #10302 "Change Notifications to Notification settings on nav bar"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-11 12:41] TildaDares opened #10303 "Move plus icon in front of 'New Post' text"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-11 12:43] TildaDares commented on #10153
@kolberg-dev There's an issue reserved for you in #10303

[2021-10-11 12:55] angelinasentyakova commented on #10297
Hello, @TildaDares! Please let me know when there will be an unassigned issue to work on :)

[2021-10-11 14:20] Goodiec opened #10305 "Weekly Community Check-In #119 - Learning to take breaks 🧘"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-10-11 14:26] nshah1729 commented on #10297
@TildaDares Please assign me some issue to work on!

[2021-10-11 16:20] xJonJos opened #10306 "Map floats over footer while scrolling! - UI Bug (1/3)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-11 16:21] xJonJos opened #10307 "Content editing button group displaces while scrolling! - UI Bug (2/3)"
![content editing button group displace](https://user-images.githubusercontent.com/71092045/136821836-b6989080-684c-4226-9e33-6e051254ef85.gif)

![button group displace](https://user-images.githubusercontent.com/71092045/136821885-8ce40415-ef37-4387-b514-9c26c8ac769e.png)
look here ->  https://publiclab.org/post

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This mean

[2021-10-11 16:22] Jon-Jos opened #10308 "‘Preview and Publish’ buttons misplaced at certain screen width - UI Bug (3/3)"
![buttons in footer](https://user-images.githubusercontent.com/71092045/136822610-3bee5ea3-cd05-46af-be58-12c7e77b41a2.png)
look here-> https://publiclab.org/post

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open

[2021-10-11 17:29] ebarry commented on #10270
Thank you!

[2021-10-11 17:41] Raioite commented on #10308
Working on this!

[2021-10-11 18:00] TildaDares commented on #10153
There's a non-FTO issue in #9978 for anyone who's interested

[2021-10-11 18:34] TildaDares commented on #10154
Thanks, everyone. Closing this and moving the next check-in to #10305

[2021-10-11 18:34] #10154 closed

[2021-10-11 18:44] DalilaBA opened #10309 "Limitless list of articles at the events page"
There is a limitless list of articles at the "Recently posted events" on [events page](https://publiclab.org/events), I found that there was an old issue #5487 talking about a "show more" button, I couldn't reach the bottom to see it.

![events-articles](https://user-images.githubusercontent.com/10799976/136839021-d35e49f0-919a-4be9-930a-a9c9b5e711c6.gif)

[2021-10-12 02:49] CtripleU commented on #10153
Hello! My name is Cumi. I'm an Outreachy applicant contributing for the first time. Please could I be assigned an FTO?
Thank you!

[2021-10-12 04:28] alciel0x14 commented on #10248
@TildaDares Please review my pull request

[2021-10-12 05:09] samyaksand commented on #10309
Hello! Could you assign me this issue?

[2021-10-12 06:47] DalilaBA commented on #10309
@samyaksand go ahead

[2021-10-12 09:49] DalilaBA opened #10314 "Change Strings to Translation Function Call in users/profile.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-12 10:10] wajeehamushtaq commented on #10314
Thank you so much @DalilaBA 🙌

[2021-10-12 10:29] DalilaBA commented on #10314
Omg I didn't saw it, sorry 😅

[2021-10-12 14:06] wajeehamushtaq commented on #10306
@TildaDares  Can you please guide us?

[2021-10-12 14:07] icarito opened #10316 "Migrate to Sentry SDK"
`sentry-raven` has entered maintenance mode, which means it won't receive any new feature supports or aggressive bug fixes.

We're seeing some issues not reported to Sentry (https://github.com/steviepubliclab/web/issues/349)

A quick attempt to fix is https://github.com/publiclab/plots2/pull/10315 but it seems deeper changes may be necessary in the short term.

[2021-10-12 14:43] jywarren opened #10317 "Error on old note page publiclab.org/notes/gonzoearth/5-13-2011/grand-isle-louisiana"
This gives a 500 error:

https://publiclab.org/notes/gonzoearth/5-13-2011/grand-isle-louisiana

Trying to get a Sentry error for it, but haven't yet!

For now, this is what it should look like (served from old server):

https://i.publiclab.org/notes/gonzoearth/5-13-2011/grand-isle-louisiana

![image](https://user-images.githubusercontent.com/24359/136977739-fe01d188-e07b-4ea0-b48e-635c31b9054d.png

[2021-10-12 15:15] Jon-Jos commented on #10306
hit Got it!  button in cookie consent to see the footer!

[2021-10-12 15:34] Jon-Jos commented on #10307
plow through  @jayclark 🚀

[2021-10-12 15:35] Jon-Jos commented on #10308
go ahead! 🚀 @harsh-the-innovator

[2021-10-12 16:06] jywarren commented on #10307
Hi, i'm sorry to interrupt, but if I understand correctly I think this is an intentional behavior! That is, for really long texts, it remains on the screen even if the text goes way off the bottom of the screen. I'm going to change labels but not close this just yet in case there's more discussion and I've misunderstood. Thank you both very much though!!!

[2021-10-12 16:07] jywarren commented on #10308
Hi @Jon-Jos thanks for helping to find this bug - and for documenting it! (sorry to repeat myself as I left a similar comment but just in case, continuing below)

I do want to note that our "first-timers-only" issues have a very specific format which include the specific changes to be made. So this is more like a "fto-candidate" -- which might be converted into a full "first-timers-only" once a so

[2021-10-12 16:39] Jon-Jos commented on #10306
@jywarren got the idea! 🚀
 Thank you for sharing  😇

[2021-10-12 17:13] #10273 closed, assigned to nobody

[2021-10-12 17:14] #10278 closed

[2021-10-12 17:14] #10275 closed, assigned to Skyy-Dev

[2021-10-12 17:15] #10281 closed, assigned to vijeta-2000

[2021-10-12 17:15] #10274 closed, assigned to hammad20120

[2021-10-12 17:16] #10280 closed, assigned to hrishikeshnikam2000

[2021-10-12 17:17] #10282 closed

[2021-10-12 17:24] jayeclark commented on #10307
Ah, I understand. Should that still be happening even if no text has been entered into the text area? And should the wysiwyg buttons be allowed to cover the entire visible input area?

<img width="1391" alt="Screen Shot 2021-10-12 at 1 20 54 PM" src="https://user-images.githubusercontent.com/84106309/137001440-5f951696-ff77-44e7-822f-6f166fce4169.png">

Also, the last five buttons have a transpare

[2021-10-12 17:25] #10276 closed, assigned to Goodiec

[2021-10-12 17:25] #10279 closed, assigned to nobody

[2021-10-12 17:29] #10297 closed, assigned to nshah1729

[2021-10-12 17:33] Kabere34 commented on #10153
Hi @TildaDares I'm an outreach applicant and would like to contribute to 'Refine the Public Lab Rich Editora'  could you please assign me to a first time issue?

[2021-10-12 17:52] jayeclark commented on #10307
@Jon-Jos @jywarren It might take me a little longer to implement, but, there are a few middle ground options that are possible ... the switch from a relative to a fixed position could be set to only trigger once the size of the text area is greater than the default (ie so much text has been entered that the text area has had to expand beyond the default size) or greater than x% of the viewport hei

[2021-10-12 18:59] #10277 closed, assigned to abhi30996

[2021-10-12 19:07] sentry opened #10320 "undefined method `photo_file_name=' for DrupalFile"
Sentry Issue: [PLOTS2-1HE](https://sentry.io/organizations/publiclab/issues/2712649190/?referrer=github_integration)

[code]

[2021-10-12 19:20] #10320 closed, assigned to jywarren

[2021-10-12 19:59] jywarren commented on #10255
Hi @wajeehamushtaq I believe @Goodiec is working on this! @TildaDares that's an AMAZING catch there. I believe it's already fixed now in https://github.com/publiclab/plots2/pull/10311 and so this should resolve once it publishes to the live site. Maybe later today!

[2021-10-12 20:01] #10255 closed

[2021-10-12 20:20] bhamster07 commented on #10255
🔍 Super sleuthing @TildaDares and @Goodiec, thank you!!

[2021-10-12 20:43] ebarry commented on #10305
I like to choose a workout from the Nike Training Center app for a break :)

[2021-10-12 21:26] jywarren commented on #10043
Wow, great catch here too @TildaDares. And I think i agree on the solution. Thanks!

[2021-10-12 22:35] TildaDares opened #10324 "Change first-timers-only issue template to fto-candidate issue"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-12 22:39] TildaDares commented on #10324
Reserved for @NARUDESIGNS

[2021-10-12 22:59] TildaDares opened #10325 "Move question card template back to questions/_questions.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-13 04:45] wajeehamushtaq commented on #10306
Hi @jywarren , Thank you for guiding us. I tried a solution, the problem arise due to leaflet map styling. The position is set to absolute so this will create the problem. I have created a pull request by fixing this issue. https://github.com/publiclab/plots2/pull/10327

[2021-10-13 04:47] wajeehamushtaq commented on #10325
Thanks, @TildaDares !!

[2021-10-13 07:36] DalilaBA commented on #9978
Hi guys, I might have a little problem with the PR, and I think that it was an old commit that I forgot, I didn't now how to delete it, and even now I don't now how to fix the error, please help

[2021-10-13 07:40] subhangi2731 commented on #10260
@TildaDares can u please assign this to me. I really want to start work asap

[2021-10-13 08:51] TildaDares commented on #10325
@wajeehamushtaq Yes you can make another PR to fix this issue.

[2021-10-14 05:46] midsu commented on #10306
if this issue is still need work, can I be assigned for it?

[2021-10-14 21:24] TildaDares opened #10330 "Hide comment toolbar when viewing comment preview"
Since a normal comment doesn't have a toolbar, it's best to hide it when previewing a comment.

<img width="711" alt="Screenshot 2021-10-14 at 22 13 50" src="https://user-images.githubusercontent.com/63427719/137396415-23d4c012-c231-4e02-aead-4afc11531de5.png">

The relevant code needed for this is in https://github.com/publiclab/plots2/blob/main/app/views/comments/_form.html.erb and
https://githu

[2021-10-14 21:35] TildaDares opened #10331 "Show notification message when bell icon is clicked"
When the bell icon is clicked, a message like the one below is supposed to display but it doesn't.

<img width="711" alt="Screenshot 2021-10-14 at 22 26 18" src="https://user-images.githubusercontent.com/63427719/137397919-016f2f6f-2be0-4072-b12c-383d991a69f5.png">

The relevant code needed for this change is in
https://github.com/publiclab/plots2/blob/7836a0fecd1e68a433fb1415acc8f5e14c37f686/app/

[2021-10-15 00:01] leau-void commented on #10330
Hi, I would like to be assigned this issue.
Thank you.

[2021-10-15 00:03] leau-void commented on #10331
I would like to take on this issue if possible.
Thanks :)

[2021-10-15 02:41] helpthehack commented on #10153
Hey, I want to be added in this list too. I want to contribute to the Hacktoberfest. I know HTML and CSS.

[2021-10-15 03:15] helpthehack opened #10333 "Correct the HTML code for button"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-15 15:22] subhangi2731 commented on #10309
can you please assign me this issue @TildaDares @DalilaBA I want to work on this if no one is working on this

[2021-10-15 15:53] harsh-the-innovator commented on #10308
Error is coming while installing ruby in ubuntu. I have followed instructions given on repo.

harsh@harsh-ubuntu:~$ curl -L https://get.rvm.io | bash -s stable
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   194  100   194    0     0    105      0  0:00:01  0:00:01 --:--:--   105
100

[2021-10-15 16:55] reginaalyssa commented on #9397
Hope it's okay if I take this on!

[2021-10-15 17:15] nshah1729 commented on #10259
Please close this issue if its resolved

[2021-10-15 17:22] subhangi2731 commented on #9945
if this issue is open can I please work @TildaDares can u please assign me

[2021-10-15 17:23] TildaDares commented on #10309
Hi everyone, I think @jywarren should be the one to decide if this is a feature that should be added to the site.

[2021-10-15 18:27] harsh-the-innovator commented on #10308
Footer is not showing in development mode.
This below line is coming.Then how can i show it because i have to make the button show.
_The footer is empty during local development_

[2021-10-15 21:01] first-timers[bot] opened #10339 "Fix to tag stats page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-15 21:02] jywarren commented on #10339
This is reserved for @jetezra - thanks!

[2021-10-15 21:07] jywarren commented on #10043
So if we could just switch back to displaying the question template that would seem to work, although please do confirm it ends up looking like the "before" image above.

However if it doesn't, we could amend the conditional by using instead of `type == 'question'`, this function which helps determine if it's really a question:

https://github.com/publiclab/plots2/blob/9682cb895fae5fe2e2251eb6b87c

[2021-10-15 21:08] #10317 closed, assigned to nobody

[2021-10-15 21:24] jet2018 commented on #10339
You can assign it to me, thanks, am @jetezra

[2021-10-15 21:43] jywarren opened #10341 "Intermittent test failures due to new timeframe code"
#10318 caused some intermittent test issues -- for example:

[code]

https://github.com/publiclab/plots2/blob/9682cb895fae5fe2e2251eb6b87c2a01d74084f2/test/unit/tag_test.rb#L189-L200

[2021-10-15 21:44] jet2018 commented on #10333
Can someone reward me with this

[2021-10-15 21:55] first-timers[bot] opened #10342 "remove answers code from contributors count and add contributors for timeframe to tag stats page (#10318)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-15 22:00] jywarren commented on #10342
I'm sorry this was an error. Deleting!

[2021-10-15 22:01] first-timers[bot] opened #10343 "add sanitize string functions to blog page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-15 22:02] jywarren commented on #10343
This is reserved for @swatantra-15

[2021-10-15 22:19] first-timers opened #10344 "sanitize tab content"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-15 22:20] first-timers[bot] opened #10345 "sanitize contributors template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-15 22:27] jywarren commented on #10345
This is reserved for @squid-ney, thanks!

[2021-10-15 22:28] first-timers[bot] opened #10346 "added sanitizers to contributors page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-15 22:30] jywarren commented on #7133
I think i got them all and made FTOs from them. 5 and 6 should be tested one more time on stable.publiclab.org once they merge!

[2021-10-15 22:32] jywarren commented on #10346
This is reserved for @mateuseap! thank you!

[2021-10-15 22:33] jywarren commented on #10153
Added a few more for:

 @squid-ney assigned sanitize contributors template #10345
 @invarrow assigned sanitize tab content #10344
 @mateuseap assigned added sanitizers to contributors page #10346

Thanks, everyone!!!

[2021-10-15 22:49] frankiefab100 commented on #10346
Please assign issues for me to resolve.

[2021-10-16 03:21] #10206 closed

[2021-10-16 05:24] Georjane commented on #10305
Hi everyone, I'm Jane. It's nice to be working with such a warm and welcoming community. I have just been a little overwhelmed with all the materials to read to get started and familiarise myself with open source contributions. So I didn't do much this week. But my goal is to complete an FTO issue this weekend so I can start contributing to the issues next week.

Nice to meet you all again 😃
[Jane

[2021-10-16 06:28] Georjane commented on #10153
Hi everyone 🙌🏽
I am Jane, an Outreachy participant.
@TildaDares I want to contribute to the PublicLab project. Please can I be assigned an FTO issue? Some of my preferred stacks are Javascript and RoR.

Thank you!

[2021-10-16 06:59] invarrow commented on #10344
Done!
You may review it..
thanks for the issue..

[2021-10-16 09:02] sr-utkarsh commented on #10325
I am new to open source contribution. Is this issue open?

[2021-10-16 11:13] subhangi2731 commented on #10341
@jywarren I  want to work on the issue can u please assign me this

[2021-10-16 17:18] abhij1607 commented on #10346
@jywarren Hey, I would like to contribute to this issue. I am a first-timer and already raised a pull request in case it is fine.
Thanks

[2021-10-16 18:52] TildaDares commented on #10153
Welcome to Public Lab 🎈 @shehabadel and @Georjane. I'll add your names to the list

[2021-10-17 03:19] gdeoliveira03 commented on #10345
Hey, beginner here! I would like to give it a go and try to contribute to this. Is it occupied already?

[2021-10-17 03:49] IshaNadkar commented on #10325
I am new to open source contribution. Is this issue open?

[2021-10-17 04:38] subhangi2731 commented on #10015
@jywarren @TildaDares Can you please assign me this issue? want to work

[2021-10-17 15:36] harsh-the-innovator commented on #10308
Please someone help!

[2021-10-17 16:28] TildaDares commented on #10231
This issue has been inactive for over a week so I'm reassigning it.

[2021-10-17 16:29] TildaDares commented on #10153
There's a non-FTO issue available in #10231

[2021-10-17 16:31] TildaDares commented on #10261
Hi @iwantamaste, you added the commit to your forked repo `iwantamaste/plots2` instead of `publiclab/plots2`.

[2021-10-17 16:37] TildaDares commented on #10345
Since @squid-ney hasn't responded to this I'm reassigning this issue. @gdeoliveira03 you can work on this issue.

[2021-10-17 17:39] Goodiec commented on #10231
@TildaDares, can I work on this?

[2021-10-17 19:23] TildaDares commented on #10016
@max-keviv you added the changes to your forked repo instead of `publiclab/plots2`. You have to create a PR for it to be reviewed.

[2021-10-17 19:26] TildaDares commented on #10015
Hi @subhangi2731, go ahead!

[2021-10-18 01:05] anayo-hub commented on #10325
please i would like to make a contribution

[2021-10-18 10:37] Georjane commented on #10153
While waiting for an FTO issue to be assigned to me, can anyone please help me out with the error I have with the Standard Installation of the PublicLab repo?
When I run `passenger start` and open my localhost, I see the following page, which I think it's okay. But whenever I log in with the credentials provided I still get redirected to the page in the screenshot below and I get a bunch of errors

[2021-10-18 10:57] TildaDares commented on #10153
@Georjane what credentials do you enter?

[2021-10-18 11:11] Georjane commented on #10153
[code]

[2021-10-18 11:13] TildaDares commented on #10153
@Georjane the console error is enough. Thank you

[2021-10-18 11:26] Georjane commented on #3840
Not yet @TildaDares. I noticed we had to get the standard installation up and running before doing the redis installation. Let me install that right now and give you feedback. Thank you.

[2021-10-18 11:47] Georjane commented on #3840
it just keeps trying to access the `/cable/` endpoint over and over so I had to stop this continuous process with `ctrl c`

[2021-10-18 12:14] TildaDares opened #10354 "change sort by options in tags page to match functionality"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-18 12:33] Georjane commented on #10354
Thanks, @TildaDares I will get to work right away

[2021-10-18 15:13] TildaDares opened #10356 "Weekly Community Check-In #120 - ✍️ Draft your Outreachy Proposal"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-10-18 15:19] TildaDares commented on #10305
Thanks, everyone. Closing this and moving the next check-in to #10356

[2021-10-18 15:19] #10305 closed, assigned to nobody

[2021-10-18 16:02] #9417 closed

[2021-10-18 16:20] #10339 closed

[2021-10-18 17:22] #10346 closed

[2021-10-19 15:09] #10344 closed, assigned to invarrow

[2021-10-19 15:11] jywarren commented on #10316
Agree here!!!

`sentry-ruby` instead of `sentry-raven`: https://docs.sentry.io/platforms/ruby/migration/ and interfaces will change/update

[2021-10-19 15:18] #10354 closed, assigned to nobody

[2021-10-19 15:18] #10271 closed, assigned to ysstudio22

[2021-10-19 15:26] first-timers[bot] opened #10360 "Add helpful notes to the first-PR welcomebot message"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-19 15:26] #10302 closed, assigned to ayeolakenny

[2021-10-19 15:38] #10324 closed, assigned to NARUDESIGNS

[2021-10-19 15:38] #10227 closed

[2021-10-19 16:17] sentry-io[bot] opened #10361 "Posting error"
ActiveRecord::RecordNotUnique: Mysql2::Error: Duplicate entry '0' for key 'index_node_vid': INSERT INTO `node` (`type`, `title`,...

Sentry Issue: [PLOTS2-1K5](https://sentry.io/organizations/publiclab/issues/2730700247/?referrer=github_integration)

[code]

[2021-10-19 16:30] jywarren commented on #10361
Prev:

- https://github.com/publiclab/plots2/issues/5118
- https://github.com/publiclab/plots2/issues/7062
- https://github.com/publiclab/plots2/issues/7441

[2021-10-19 16:40] jywarren commented on #10361
The post was made 20h ago

[2021-10-19 16:48] jywarren commented on #10361
Previously this had been caused by an emoji causing database error in #7062 but that no longer happens since our database is upgraded to resolve that.

https://github.com/publiclab/plots2/blob/0a78af469a317306b25d429df156c34d1579e400/app/models/node.rb#L710-L732

We also introduced a fix in https://github.com/publiclab/plots2/pull/7172 to try to catch invalid nodes, or `vid` of 0. I wonder if we a

[2021-10-19 17:35] first-timers[bot] opened #10362 "Only notify draft author if comment appears on a draft"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-19 20:03] jywarren commented on #10361
Got it, i think. The post had an all-numbers title. This is allowed for a Node, but not for a Revision. We can stop this from happening by:

- [ ] checking revision.valid? before saving node, or by cleaning up the node or breaking the transaction
- [ ] updating the revision title validation to not care
- [ ] both

[2021-10-19 21:28] jywarren commented on #10341
OK! Tried freezing time in #10365, let's monitor the situation!

[2021-10-19 21:47] jywarren commented on #10341
Hmm, looks like it failed again in:

https://github.com/publiclab/plots2/pull/10366

[code]

[2021-10-19 21:58] jywarren commented on #10341
[code]

[2021-10-20 13:26] Onyinye91-ctrl commented on #10362
@jywarren when will i get an issue to work on

[2021-10-20 16:02] TildaDares commented on #10360
Reassigning this since @jainkhushi968 hasn't responded.

[2021-10-20 16:07] TildaDares commented on #10362
Hi @Onyinye91-ctrl, I appreciate your enthusiasm to contribute but contributors are only allowed one FTO. You can work on other issues that do not have the `first-timers-only` label or you could even open an FTO for other contributors yourself. Thank you!

[2021-10-20 17:12] Shiv2708 commented on #10153
Thanks for this opportunity.
I have added a pull request
https://github.com/publiclab/spectral-workbench/pull/763

On Wed, Oct 20, 2021 at 8:47 PM Sneha Mishra ***@***.***>
wrote:

[2021-10-21 01:08] PremMuddu commented on #4688
Hello, Is this issue still open? May I work on it if its still active?

[2021-10-21 05:54] prabanjanraja commented on #10333
I am interested in this issue

[2021-10-21 05:54] prabanjanraja commented on #10333
I am interested in this issue

[2021-10-21 10:36] DalilaBA opened #10368 "Add keys to en.yml"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-21 10:45] DalilaBA opened #10369 "Change Strings to Translation Function Call in home/home.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-21 10:47] DalilaBA opened #10370 "Change Strings to Translation Function Call in home/home.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-21 11:29] prius2055 commented on #10369
Hi @DalilaBA can I work on this issue? I am an from Outreachy

[2021-10-21 11:30] prius2055 commented on #10369
Soory, I am an Outreachy intern applicant

[2021-10-21 11:33] DalilaBA commented on #10369
@prius2055 It needs to be labeled as "first-timers-only" by one of the reviews first

[2021-10-21 12:26] prius2055 commented on #10362
Thanks @TildaDares. I will start with it right now.

[2021-10-21 12:51] harsh-the-innovator commented on #10308
Please anyone reply atleast.

[2021-10-21 14:36] TildaDares opened #10371 "Show <p> tags in settings page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-21 15:03] DalilaBA opened #10372 "Add keys into en.yml"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-21 15:06] DalilaBA opened #10373 "Change Strings to Translation Function Call in images/new.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-21 15:08] DalilaBA opened #10374 "Change Strings to Translation Function Call in images/new.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-21 15:12] DalilaBA opened #10375 "Change Strings to Translation Function Call in images/new.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-21 15:16] DalilaBA opened #10376 "Change Strings to Translation Function Call in images/new.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-21 15:18] DalilaBA commented on #10376
@TildaDares , all have been tested and work perfectly, happy Hacktoberfest 😄 🎈 🎊

[2021-10-21 16:50] RajeswariLM commented on #10376
Hi
@TildaDares  Thank you, claiming this issue.

[2021-10-21 16:53] RajeswariLM commented on #10153
Hi,

Thanks
Claiming the issue #10376
RajeswariLM

On Thu, Oct 21, 2021 at 7:01 PM Tilda Udufo ***@***.***>
wrote:

[2021-10-21 17:20] DalilaBA commented on #10376
@RajeswariLM did you add  #10376  on it ??
that will help to link the PR with this issue, and a once you do that, a link will appear automatically here in the comments

[2021-10-22 00:44] csyu1 commented on #10371
Thanks @TildaDares ! Will work on this

[2021-10-22 01:05] Tahree22 commented on #10369
Hi, is this issue claimed? I'd like to work on it if not, thank you.

[2021-10-22 17:44] DalilaBA opened #10384 "Add translation keys and strings into en.yml"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 17:47] DalilaBA opened #10385 "Change Strings to Translation Function Call in locations/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 17:49] DalilaBA opened #10386 "Change Strings to Translation Function Call in locations/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 17:51] DalilaBA opened #10387 "Change Strings to Translation Function Call in locations/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 17:53] DalilaBA opened #10388 "Change Strings to Translation Function Call in locations/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 17:55] DalilaBA opened #10389 "Change Strings to Translation Function Call in locations/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 17:57] DalilaBA opened #10390 "Change Strings to Translation Function Call in locations/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 17:58] DalilaBA opened #10391 "Change Strings to Translation Function Call in locations/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 18:00] DalilaBA opened #10392 "Change Strings to Translation Function Call in locations/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 18:01] DalilaBA opened #10393 "Change Strings to Translation Function Call in locations/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 18:04] DalilaBA opened #10394 "Change Strings to Translation Function Call in locations/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 18:06] DalilaBA opened #10395 "Change Strings to Translation Function Call in locations/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 18:08] DalilaBA opened #10396 "Change Strings to Translation Function Call in locations/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 18:11] DalilaBA opened #10397 "Change Strings to Translation Function Call in locations/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 18:12] DalilaBA opened #10398 "Change Strings to Translation Function Call in locations/_form.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 18:15] DalilaBA opened #10399 "Change Strings to Translation Function Call in locations/_modal.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-22 20:34] #10391 closed, assigned to nobody

[2021-10-22 20:35] #10393 closed, assigned to nobody

[2021-10-23 08:08] TildaDares opened #10409 "Hide sidebar on small screens when button is clicked"
When the `chevron-down` icon is clicked, the `#sidebar` section is supposed to be hidden but currently it doesn't work. This only applies to `sm` and `md` screens.

<img width="535" alt="Screenshot 2021-10-23 at 09 02 17" src="https://user-images.githubusercontent.com/63427719/138548196-c853c8d3-117d-48bf-ae23-6d367b894bf4.png">

You can see a demonstration of this in https://publiclab.org/questio

[2021-10-23 13:52] DalilaBA opened #10414 "Fixe map.index keys in en.yml"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2021-10-23 13:59] DalilaBA opened #10415 "Change Strings to Translation Function Call in map/_peopleLeaflet.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-23 16:34] #10414 closed, assigned to nobody

[2021-10-26 18:20] DalilaBA opened #10436 "Weekly Community Check-In #121 - Gaming 👾"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-10-26 18:22] ebarry opened #10437 "[DISCUSSION] Adding in a "Why did you sign up?" survey"
Hi there! Thanks for reading.

# The idea

The idea is to gather more information about why people first create a account on publiclab.org, such as what they intend to do, what they are looking for, what their interests are, etc.

# Approaches and options

* Add a survey to the confirmation screen on account creation
* Add a survey to the email sent to confirm your email
* other!

# For discussion

[2021-10-26 20:09] #10331 closed, assigned to leau-void

[2021-10-26 21:48] #10356 closed, assigned to nobody

[2021-10-28 19:11] DalilaBA opened #10445 "Add keys to en.yml for notes views"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-29 05:23] DalilaBA opened #10448 "Replace strings with the translation function in notes/_title_suggestion.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-29 05:24] DalilaBA opened #10449 "Replace strings with the translation function in notes/_title_suggestion.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-29 18:21] #10343 closed

[2021-10-29 18:24] jywarren commented on #10333
Hi all, I'm going to close this issue as I think @helpthehack is no longer working on it. @prius2055 if you've completed an FTO yourself, you're welcome to create a new one for someone else from one of these: https://github.com/publiclab/plots2/labels/fto-candidate

Thanks, everyone!

[2021-10-29 18:24] #10333 closed

[2021-10-29 19:48] amanjha8100 commented on #10153
Hey, I would love to contribute to this repository. I am looking to get started with publiclabs and this feels the right place to start. I am also looking into organisations for 2022 GSoC and would love to explore publiclabs. My preferred languages are Python, Javascript, Java and frontend. Looking forward to your reply!

[2021-10-29 20:13] anayo-hub commented on #10384
I have made a pull request Update t#10384, waiting for a review

[2021-10-29 20:54] jywarren commented on #10341
Looking more closely at the tag.rb section now:

https://github.com/publiclab/plots2/blob/cd11fdca637b5a4dad21968bf448adb7102c3e8c/app/models/tag.rb#L64-L77

[2021-10-29 21:13] Angelvicks commented on #10448
hello @DalilaBA please can i work on this?

[2021-10-29 21:27] DalilaBA commented on #10448
hey @Angelvicks yeah go ahead

[2021-10-29 21:27] jywarren commented on #10341
OK, hoping this is a fix! I focused on the line:

[code]

And I changed `Time.now` to `Time.now+1.day` so it doesn't sometimes fall before the timestamp of fixture data which can be created all at once.

[2021-10-29 21:31] Angelvicks commented on #10394
hello @DalilaBA is this issue still open? I will like to work on it

[2021-10-29 21:32] Angelvicks commented on #10448
thanks

[2021-10-29 21:32] jywarren commented on #10140
Unfortunately https://github.com/publiclab/plots2/pull/10167 didn't completely solve it. It still happens sometimes! But rarely.

[2021-10-29 21:38] jywarren commented on #10140
Trying a fix here by just not looking for the item which is fading out: https://github.com/publiclab/plots2/pull/10454#discussion_r739544230

[2021-10-29 21:39] jywarren commented on #10140
Also noting it's a full page refresh, not AJAX, so that might have contributed to the timing difficulties...?

[2021-10-29 21:53] #10140 closed

[2021-10-29 21:53] #10341 closed

[2021-10-29 22:07] rachelgrimwood commented on #10445
First time, may I do this one? :)

[2021-10-29 22:10] TildaDares commented on #10394
Hi @Angelvicks, this issue has been assigned but you can work on #10375. Thanks!

[2021-10-29 22:10] TildaDares commented on #10375
Reserved for @Angelvicks

[2021-10-29 22:17] TildaDares commented on #10394
@Angelvicks I see you've already opened a PR for #10448. Nice!

[2021-10-29 22:19] TildaDares commented on #10153
Hi @amanjha8100, welcome to Public Lab 🎈. There's an open issue in #10261 you can work on. Thanks!

[2021-10-29 22:19] TildaDares commented on #10261
Reassigning this since there have been no updates from @iwantamaste.

[2021-10-29 22:20] TildaDares commented on #10261
Reserved for @amanjha8100

[2021-10-29 22:24] ASamedWalker commented on #10375
Ok, Tilda. I did not see this initially. Can I work on it now? Thanks

[2021-10-29 22:28] TildaDares commented on #10375
Hi @ASamedWalker, this issue has been reserved but if there's no response I'll assign it to you. Thanks!

[2021-10-29 22:35] ASamedWalker commented on #10153
Tilda is there any more open issues available?

[2021-10-29 22:40] kkreine commented on #10259
Hey @TildaDares I apologize; I am a newcomer. Am I being assigned this issue to close it? The PR to solve this hasn't been merged, and I don't know how to close this issue. Could you provide me some guidance?

[2021-10-29 23:02] anayo-hub commented on #10384
@TildaDares I have made a pull request

[2021-10-30 06:10] amanjha8100 commented on #10153
Thanks @TildaDares , I will get on it!

[2021-10-30 06:11] amanjha8100 commented on #10261
Thanks @TildaDares , I will get on it!

[2021-10-30 06:12] Saatvat commented on #10373
🙋@TildaDares
Please assign this issue to me
Will be glad to contribute😊

[2021-10-30 06:58] TildaDares commented on #10384
Hi @anayo-hub, I can't find the pull request.

[2021-10-30 08:17] Angelvicks commented on #10394
ok thanks I will look at that issue.

[2021-10-30 08:19] TildaDares commented on #10394
Hi @Angelvicks, since you're already working on an FTO we should let someone else work on #10375. Thanks!

[2021-10-30 08:21] Angelvicks commented on #10394
ok thanks.

[2021-10-30 08:23] Angelvicks commented on #10449
hello @DalilaBA please can I work on this issue?

[2021-10-30 08:24] TildaDares commented on #10449
Hi @Angelvicks, we appreciate your enthusiasm but contributors are allowed to work on only one FTO. Thanks!

[2021-10-30 08:27] Angelvicks commented on #10448
Hello @TildaDares I opened another pull request, https://github.com/publiclab/plots2/pull/10460 , please can you review it?

[2021-10-30 09:26] anayo-hub commented on #10384
should i merge it first @TildaDares

[2021-10-30 09:32] TildaDares commented on #10445
@DalilaBA I think we should close these issues. #10460 is still failing tests. The `title_suggestions` is not rendered the way other partials are rendered so adding a translation function is not as straightforward

https://github.com/publiclab/plots2/blob/ac3f3f32dd8f70a6203dc2143ecf9eb1c7f1c50e/app/helpers/application_helper.rb#L120-L134

[2021-10-30 09:35] DalilaBA commented on #10445
@TildaDares okey 👍

[2021-10-30 09:35] #10445 closed

[2021-10-30 09:37] TildaDares commented on #10375
Hi @ASamedWalker, you can work on this issue.

[2021-10-30 09:40] #10449 closed

[2021-10-30 09:41] #10448 closed

[2021-10-30 09:42] DalilaBA commented on #10448
Hi @Angelvicks Im sorry to tell you that I had to close this issue cause it failed some tests, we will assigne you to the next ones 😉

[2021-10-30 09:42] TildaDares commented on #10360
Reassigning this since @otatadeabigail has been inactive

[2021-10-30 09:43] DalilaBA commented on #10445
Hi @rachelgrimwood  Im sorry to tell you that I had to close this issue cause it failed some tests, we will assigne you to the next ones 😉

[2021-10-30 09:46] Angelvicks commented on #10360
Hello @TildaDares please can I work on this?

[2021-10-30 09:46] TildaDares commented on #10360
Sure @Angelvicks

[2021-10-30 09:47] anayo-hub commented on #10384
working issue #10384 , i need a help please
i forked it to my repo, then edited and made a pull request
i created a branch//

[2021-10-30 09:47] TildaDares commented on #10384
@anayo-hub you added the commit to your forked repo not `publiclab/main`.

[2021-10-30 09:49] anayo-hub commented on #10384
please how should i go about it.

[2021-10-30 09:52] TildaDares commented on #10384
@anayo-hub Did you edit the file on the web or through a command line?

[2021-10-30 09:53] anayo-hub commented on #10384
on web

[2021-10-30 09:54] TildaDares commented on #10384
You edited the file on your forked repo instead of directly on the publiclab repo. Navigate to the file https://github.com/publiclab/plots2/blob/main/config/locales/en.yml and edit it there.

[2021-10-30 09:55] anayo-hub commented on #10384
ok

[2021-10-30 09:59] TildaDares commented on #10259
Hi @kkreine, you don't have to worry about closing the issue. As soon as your PR is merged, this issue will be closed. Thank you!

[2021-10-30 10:28] anayo-hub commented on #10384
i have made a pull request again

[2021-10-30 11:38] Angelvicks commented on #10360
I did another pull request, https://github.com/publiclab/plots2/pull/10463 , kindly review it thanks

[2021-10-30 13:21] Saatvat commented on #10153
@TildaDares If there are more open issues available, I'd like to contribute.

[2021-10-30 14:37] #10360 closed

[2021-10-30 15:00] DalilaBA opened #10464 "Add keys into en.yml at index_shadow key"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-30 15:01] DalilaBA commented on #10464
@TildaDares @Tlazypanda

[2021-10-30 15:15] DalilaBA opened #10465 "Change strings to their translation function in questions/index_shadow.html.erb file ( N°1 )"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-30 15:15] DalilaBA commented on #10465
@TildaDares @Tlazypanda

[2021-10-30 15:20] DalilaBA opened #10466 "Change strings to their translation function in questions/index_shadow.html.erb file ( N°2 )"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-30 15:21] DalilaBA commented on #10466
@TildaDares @Tlazypanda

[2021-10-30 15:24] DalilaBA opened #10467 "Change strings to their translation function in questions/index_shadow.html.erb file ( N°3 )"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-30 15:25] DalilaBA commented on #10467
@TildaDares @Tlazypanda

[2021-10-30 15:26] DalilaBA opened #10468 "Change strings to their translation function in questions/index_shadow.html.erb file ( N°4 )"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-30 15:27] DalilaBA commented on #10468
@TildaDares @Tlazypanda

[2021-10-31 07:19] rachelgrimwood commented on #10445
All good! :)

[2021-10-31 07:20] rachelgrimwood commented on #10345
Moving here from #10456 😁

[2021-10-31 10:36] abhi30996 commented on #10467
Hi. I would like to work on this issue. Is this still available?

[2021-10-31 18:38] DalilaBA commented on #10467
hi @abhi30996 this will be available when one of the reviewers with label this issue as first-timers-only 😉

[2021-10-31 18:43] abhi30996 commented on #10467
Hi @DalilaBA . No worries. I will keep my eye and try later. Thanks for the update!

[2021-11-01 08:14] TildaDares commented on #10467
Hi @abhi30996, we appreciate your enthusiasm but contributors are only allowed to work on one FTO. You can look out for issues that have the `fto-candidate` or `help wanted` labels. Thanks!

[2021-11-01 08:20] TildaDares commented on #10464
Reserved for @aasthaverma1212 for 24 hours.

[2021-11-01 08:21] TildaDares commented on #10153
@aasthaverma1212 there's an issue reserved for you in #10464

[2021-11-01 08:50] TildaDares commented on #10464
Thanks @DalilaBA. They all look great!

[2021-11-02 07:13] ShivamJhaa commented on #10409
Hello @TildaDares , I have a small doubt
" #sidebar .hidden-sm,
#sidebar .hidden-md {
  display: block !important;
} "
I only need to add this in style.css, or something else?

[2021-11-02 07:52] TildaDares commented on #10409
Hi @ShivamJhaa, have you tried using that style and it worked?

[2021-11-02 07:54] TildaDares commented on #10409
@ShivamJhaa I think the reason why the `.hidden-sm, .hidden-md` classes don't work is because bootstrap removed them https://getbootstrap.com/docs/4.1/migration/#responsive-utilities

[2021-11-02 07:57] TildaDares commented on #10153
Hi @ASamedWalker, issue #10375 is available for you to work on.

[2021-11-02 09:13] Georjane opened #10475 "Weekly Community Check-In #122 - Take Care of YOU!💅🏽"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-11-02 09:19] ShivamJhaa commented on #10409
I am using gitpod so I am not able to test this.

[2021-11-02 09:24] ShivamJhaa commented on #10409
So do I have to replace them with "d-sm-block, d-md-block"?

[2021-11-02 09:37] TildaDares commented on #10409
@ShivamJhaa I'm not familiar with gitpod but there should be a way to view your changes on the browser or you can just tweak the CSS with Chrome dev tools.

[2021-11-02 09:57] ASamedWalker commented on #10375
Thanks. I have made the necessary changes required. kindly check

[2021-11-02 10:17] DalilaBA commented on #10475
hey @Georjane thank you very much for this check-in 🎊 , I like to dance too haha, and I recently joined a gym club and it is very good so far, nothing more good then shacking up 😄

[2021-11-02 10:19] Georjane commented on #10475
😄 😄 😄 I totally agree with you @DalilaBA !

[2021-11-02 10:19] DalilaBA commented on #10375
hey @ASamedWalker can you please add the hashtag of this issue on the PR so we can have a link to it here?
where it says " Fixed #000" you replace it with this one #10375

[2021-11-02 12:24] ASamedWalker commented on #10375
Thanks. I have made the corrections. I am still open to contributing more if there stuffs to work on.

[2021-11-02 12:48] TildaDares commented on #10436
Moved to #10475. Thanks everyone!

[2021-11-02 12:48] #10436 closed

[2021-11-02 15:51] bolajahmad commented on #10153
Hi, i'm interested in an FTO issue. I can write javascript and html comfortably. Thank you!

[2021-11-02 15:56] TildaDares commented on #10464
Reserved for @bolajahmad

[2021-11-02 15:57] TildaDares commented on #10153
Hi @bolajahmad there's an FTO in #10464 you can work on. Leave a comment there and I'll assign you

[2021-11-02 16:01] bolajahmad commented on #10464
alright, I will start looking into this. it looks like this task wants me to add those key: value pairs into the env.yml file and make a PR after?

[2021-11-02 16:13] TildaDares commented on #10464
@bolajahmad Yes that's what you're supposed to do.

[2021-11-02 17:16] #9397 closed

[2021-11-03 07:13] Himanshu664 commented on #10153
Hii, I would to like to work on FTO issue. My tech stack are HTML, CSS, JavaScript.

[2021-11-03 08:37] TildaDares commented on #10465
Reserved for @Himanshu664 for 24 hours.

[2021-11-03 08:38] TildaDares commented on #10153
Hi @Himanshu664, there's an open issue for you to work on in #10465.

[2021-11-03 13:01] bolajahmad commented on #10464
I wonder if i did this correct. this PR is still open, do i need to do something else to close this issue?

[2021-11-03 15:12] TildaDares commented on #10464
Hi @bolajahmad, you don't have to do anything else 😀

[2021-11-03 16:40] NARUDESIGNS opened #10481 "Profile picture doesn't display on some pages after login such as publiclab.org/dashboard and publiclab.org/post"
After logging in, you will find that the avatar (profile) image isn't displayed for some pages such as https://publiclab.org/dashboard and https://publiclab.org/post, however, for pages like https://publiclab.org/people, you can see the profile images.
Here are sample images to describe the situation better:
![Screenshot 2021-11-03 at 17 27 14](https://user-images.githubusercontent.com/49737323/14

[2021-11-03 20:39] TildaDares commented on #10481
I think this is a duplicate of #9450

[2021-11-04 09:50] ShivamJhaa commented on #10409
@TildaDares  PTAL

[2021-11-04 12:08] Himanshu664 commented on #10465
@TildaDares I working on it.

[2021-11-04 13:18] TildaDares commented on #10409
Thank you for teaching me something new @ShivamJhaa. I didn't know that PTAL means Please Take Another Look 😅

[2021-11-04 15:36] ShivamJhaa commented on #10409
Your welcome.

[2021-11-04 19:56] NARUDESIGNS commented on #10481
Ok, thank you @TildaDares I will close this issue now. Please going forward, is there a way I can check if an issue has been open for a particular problem to avoid duplicates like this?

[2021-11-04 19:56] #10481 closed

[2021-11-05 12:18] XavCC commented on #9481
Hi,

Welcome @DalilaBA !

on the actual published version of the website, I tested french version.

I tried with disabled No-Script and Umatrix add-on, it works but only some few words appeared in french even only 6 words aren't translated in transiflex for french version.

By the way, I reviewed some translated strings today in transiflex french version. We reached 84% reviewed strings.

Also, I

[2021-11-05 12:46] DalilaBA commented on #9481
hi @XavCC thank you 😄
I'm really new with the Transifex and the synchronization with the local files.
I just checked the fr.yml file for the ( layout._header.community ) key and it is not there, even that it is in the en.yml and translated and verified in the Transifex.
So I might think that the problem is at the synchronisation, I don't really now what to do further then that, I hope it helped

[2021-11-05 17:39] TildaDares commented on #10481
Hi @NARUDESIGNS, you can search for a keyword related to the bug you want to open an issue for.

[2021-11-05 20:13] Tlazypanda commented on #10153
Opened some first timers issues at Spectral Workbench repo https://github.com/publiclab/spectral-workbench/issues/779 https://github.com/publiclab/spectral-workbench/issues/780 https://github.com/publiclab/spectral-workbench/issues/781 https://github.com/publiclab/spectral-workbench/issues/782 https://github.com/publiclab/spectral-workbench/issues/783

[2021-11-05 20:21] ASamedWalker commented on #10153
Would like to work on this if it's not assigned?

[2021-11-06 14:08] Abdulaziz-04 commented on #10468
I'd like to try this one

[2021-11-06 16:32] #10362 closed

[2021-11-08 15:51] ebarry commented on #10437
Dear @jywarren, would you be able to point me at where it's documented or write out the workflow for adding a survey to the Welcome message shown on the Dashboard as well as the workflow to adding a survey link to the Welcome Email? Thank you for any pointers here.

[2021-11-08 16:07] ebarry opened #10486 "Topic-specific "new comment" links on dashboard do not display topic-specific comments"
## Please describe the desired behavior
I'm not sure if this is a new feature request that we just haven't gotten to yet, or a bug in what we thought we already had working, but i can report that i was surprised at the behavior I just experienced.

## Description of behavior
I was on my https://publiclab.org/dashboard when i noticed that a small topic i subscribe to `maine` showed up high on the f

[2021-11-08 16:17] ebarry commented on #10219
Confirming that I am also experiencing this pagination bug. Thanks for reporting @max-keviv !

[2021-11-08 16:18] ebarry commented on #10118
How's it going @wajeehamushtaq ? Thank you for taking a look at this one.

[2021-11-08 16:23] ebarry commented on #10082
I"ll defer to @jywarren @TildaDares for assignments, but it would be wonderful if you could perhaps try to reproduce this error on the stable server by creating an account that uses OAUTH through Google. Then make a post, and also edit a post, and report back on what happens.

[2021-11-08 16:28] ebarry commented on #10118
I can report back that using the menu to Add a Coauthor is working correctly for me. I was using an "Admin" level account.

[2021-11-09 16:27] #10384 closed

[2021-11-09 16:28] #10385 closed

[2021-11-09 16:32] #10394 closed, assigned to shehabadel

[2021-11-09 16:33] #10392 closed

[2021-11-09 16:33] #10386 closed, assigned to Gnoyoyo

[2021-11-09 16:34] ebarry commented on #10475
Anyone interested in opening the next check-in?

[2021-11-09 16:35] #10390 closed

[2021-11-09 16:35] #10396 closed

[2021-11-09 16:35] #10397 closed

[2021-11-09 16:36] #10398 closed

[2021-11-09 16:36] #10399 closed

[2021-11-09 17:15] #10387 closed

[2021-11-09 20:15] jywarren commented on #10475
Thanks @Georjane for this check-in! It's so true how important this is. I wish coding were more of a outdoors and sunshine, moving your body kind of activity, but it isn't! And your point on boundaries is right on. 🌟

Thanks for looking after the health of our community!!!

[2021-11-09 20:22] jywarren commented on #10486
Hi, yes, i think this is because we have never created a per-topic listing of comments. So this is a feature request - is that right? - to create a new view of, for example, `/tag/comments/TAGNAME` ? Thanks!

[2021-11-09 20:23] jywarren commented on #10486
Alternatives would be:

- to have that link auto-scroll you (permalink you) down to the comment it corresponds to, on /comments.
- to have the link permalink you to the comment itself? Not sure about this one. But maybe.

[2021-11-09 20:34] jywarren commented on #10219
Hi all, the issue is here: we're paginating before we filter out questions:

https://github.com/publiclab/plots2/blob/883e081e0bbbd7cd25332798a4b27404f67f1035/app/controllers/tag_controller.rb#L132-L143

@max-keviv, would you like to try to fix this bug? It might be as simple as moving the pagination lines down below, but there could also be unexpected complications. Happy to help in either case!

[2021-11-10 04:56] max-keviv commented on #10219
@jywarren thank you,
yes I would like to fix this bug
so if I am right then, we need to move the line 132-133 after 143
please correct me if I'm missing something

[2021-11-10 10:42] wajeehamushtaq opened #10489 "Weekly Community Check-In #123 - Icebreaker Game🥶"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-11-11 08:19] TildaDares commented on #10475
Thanks everyone. Moving to #10489.

[2021-11-11 08:19] #10475 closed

[2021-11-11 08:51] TildaDares commented on #10368
I'll be reassigning this issue since there has been no response from @Aayushi-das

[2021-11-11 09:13] TildaDares commented on #10153
Issues #10467, #10395, #10368 are open for first-timers.

[2021-11-11 09:16] Georjane commented on #10489
Thank you @wajeehamushtaq for the weekly check-in😊🙏
Very interesting topic, I love it.

- If I were not a developer I would be a civil engineer👷‍♀️
- if I were invisible I would watch movies all day while eating biscuits 😅
- i would carve out my play toys using papers I took my school books and hide the pieces of papers generated from doing this under my bed so my mom won't notice🤭
- Moana❤
- Try

[2021-11-11 09:21] NARUDESIGNS commented on #10489
Thank you @wajeehamushtaq

If you are not a developer what would you be? 🤔
ans - I'd be a designer

If you are invisible to everyone what would you like to do? 👻
ans - go to silicon valley and present alongside Tim Cook lol

Something funny you did in childhood? 🤩
ans - tried to force a nail through a socket on the wall and got shocked.

Who is your favourite cartoon character?🧙‍♂️
ans - don't rea

[2021-11-11 10:02] wajeehamushtaq commented on #10489
Thank you @Georjane and @NARUDESIGNS for your awesome answers. This shows how mischievous we are 🤣🤣

[2021-11-11 19:18] ASamedWalker commented on #10153
I wanna jump on it if it's available?

[2021-11-12 07:29] TildaDares commented on #10153
Hi @ASamedWalker, contributors are allowed to work on only one FTO so that other first-timers have an opportunity to also contribute. There are other ways to contribute like opening an FTO or working on issues that have the `help-wanted` or `bug` label. Thank you!

[2021-11-12 10:58] KarishmaVanwari commented on #6575
Is this issue open? @jywarren

[2021-11-12 11:02] KarishmaVanwari commented on #10330
Is the issue open? I am willing to work on this. @TildaDares

[2021-11-12 11:04] KarishmaVanwari commented on #10486
Is this issue open? I can work on this. @jywarren @ebarry

[2021-11-12 11:12] KarishmaVanwari commented on #9071
Is this issue open? If yes, I would like to work on this. @noi5e

[2021-11-12 11:14] KarishmaVanwari commented on #5633
Is this issue open? Is yes, I would like to work on this? @jywarren @sashadev-sky

[2021-11-12 11:17] KarishmaVanwari commented on #3846
Is this issue open? Is yes, I would like to work on this. @jywarren

[2021-11-12 15:09] TildaDares commented on #10330
Hi @cillacode, just checking in to know if you’re still interested in working on this?

Hi @KarishmaVanwari, let’s give @cillacode some time to reply. In the meantime, you can request to be assigned to a `first-timers-issue` by leaving a comment here #10153. You can also work on other issues labeled `bug`, `first-timers-issue` or the general `help wanted `label. Thank you!

[2021-11-13 17:27] KarishmaVanwari commented on #10330
Sure, I'll leave at comment over there
Also, do let me know if this issue is open.
Thanks @TildaDares

[2021-11-13 17:34] KarishmaVanwari commented on #10153
Hey! I am looking for first time issues to start contributing as a part of GSoC. It would be really great to have an issue assigned to start my open source journey. My tech stack is MERN (MongoDB , Expressjs, Reactjs, Nodejs) stack, I would be glad to work on HTML, CSS, Javascript.
Thanks!

[2021-11-13 17:40] KarishmaVanwari commented on #10219
Can I take up this issue? @jywarren

[2021-11-13 17:50] TildaDares commented on #10153
Hi @KarishmaVanwari, #10467 is open for you to work on. Leave a comment there and I'll assign it to you. Thanks!

[2021-11-15 04:14] emmaline01 commented on #10153
Hi! I'm new to open source but would be interested in contributing! I'm cool with JavaScript/HTML or Python.

[2021-11-15 07:04] TildaDares commented on #10153
Welcome to Public Lab🎈 @emmaline01. There's an open issue that you can work on in #10395. Leave a comment there and I'll assign you. Thanks!

[2021-11-15 07:15] TildaDares commented on #10219
Hi @max-keviv, you can go ahead and move those lines. You can also check for unexpected complications as @jywarren said.

[2021-11-15 08:05] TildaDares commented on #10486
I prefer this option because it involves less change. All we need to change is where the `new comment` links to
https://github.com/publiclab/plots2/blob/883e081e0bbbd7cd25332798a4b27404f67f1035/app/views/dashboard_v2/_topicCard.html.erb#L69

But I still think there should be a per-topic listing of comments like we have for tags. It's great for searching for comments on a specific topic.

[2021-11-15 15:48] emmaline01 commented on #10395
I can take this one!

[2021-11-16 05:18] angelinebau04 opened #10499 "Publiclab and spectral workbench not loading"
Publiclab and Spectral Workbench is not working or loading. It says that the site is not responding or the link address was misplaced.

[2021-11-16 09:14] KarishmaVanwari commented on #10309
Can I work on this issue if this feature needs to be implemented? @TildaDares @jywarren

[2021-11-16 12:21] nicolepenas opened #10500 "Trouble Logging In"
Good day!

I am having trouble logging in to the Spectral Workbench and I cannot calibrate my results. Is there any way to troubleshoot this problem?

[2021-11-16 14:32] ebarry commented on #10486
Great! I had a chance to talk to Jeanette (Research Manager) about this also.

Creating a "per-topic listing of comments" seems like part of the transition to forum-like organization. Similar to how we've transitioned https://publiclab.org/tags and https://publiclab.org/dashboard.

This might have opportunities / implications for adding a comments tab to Tag Pages.

We might consider keeping the f

[2021-11-16 14:41] ebarry commented on #10489
1. I might be an environmental lawyer (phew what a good thing it is that i work in tech 😅 )
2. I would go eavesdrop in boardrooms and governmental suites to hear what the powerful say when they think no one is listening
3. Apparently I didn't speak in my early years, just read books
4. the Pink Panther
5. If i need a guaranteed pick-me-up: George Michaels "Faith"

[2021-11-16 16:27] #10464 closed

[2021-11-16 16:28] #10465 closed

[2021-11-16 16:28] #10468 closed

[2021-11-16 16:29] #10372 closed

[2021-11-16 16:29] #10375 closed

[2021-11-16 16:29] #10345 closed

[2021-11-16 16:29] #10373 closed

[2021-11-16 16:30] #10466 closed

[2021-11-16 16:30] #10261 closed

[2021-11-16 16:33] #10231 closed

[2021-11-16 16:33] #10388 closed

[2021-11-16 16:36] jywarren commented on #10368
This should be available again now!

[2021-11-16 16:37] #10371 closed

[2021-11-16 16:38] #10104 closed

[2021-11-16 16:38] #10259 closed

[2021-11-16 16:39] #10260 closed

[2021-11-16 16:39] #9978 closed

[2021-11-16 16:40] #10262 closed

[2021-11-16 16:42] #9999 closed

[2021-11-16 17:13] jywarren commented on #10219
Yes @max-keviv thank you - hopefully we just pass all tests no problem. But if a test fails, let's try to see why!

@KarishmaVanwari i think we have one open here if you'd like to leave a comment claiming it: https://github.com/publiclab/plots2/issues/10368

Thank you everyone!

[2021-11-16 17:24] jywarren commented on #10486
We do have breakpoints for the tabs so that many can fit.

![image](https://user-images.githubusercontent.com/24359/142033204-9097cc28-f0c9-4b1d-a8f9-4dd2aa81baa1.png)

Here this breakpoint is actually failing, but it's not too bad a failure, just wrapping:

![image](https://user-images.githubusercontent.com/24359/142033455-ca763604-5d87-4271-9087-e052c7e20c9e.png)

![image](https://user-images.gi

[2021-11-16 17:41] TildaDares commented on #10330
Reassigning this since @cillacode has been inactive.

@KarishmaVanwari if you're still interested in working on this I can assign it to you.

[2021-11-16 17:44] KarishmaVanwari commented on #10368
Can I take up this issue? @jywarren

[2021-11-16 17:45] TildaDares commented on #10368
Go ahead @KarishmaVanwari

[2021-11-16 17:49] ebarry commented on #10486
Looks amazing and really ideal to me. I've also posted to the staff #web channel we are in Jeff so there might be some input coming from there too

[2021-11-16 17:49] KarishmaVanwari commented on #10330
Yes, I'll work on this. Thanks @TildaDares

[2021-11-16 18:05] #10374 closed

[2021-11-16 22:23] #10101 closed

[2021-11-16 23:00] dedemenezes commented on #10166
Hi, can I take this issue?

[2021-11-16 23:44] #10325 closed

[2021-11-17 08:07] Tlazypanda commented on #10153
Hello new contributors! if anyone is looking for a FTO to contribute here are some you can pick up - publiclab/spectral-workbench#782 publiclab/spectral-workbench#781 publiclab/spectral-workbench#779

[2021-11-17 15:05] ebarry opened #10507 "Discrepancy in wikis tagged `project`: shown on Tag Page, not displayed via in-line grid"
### Please describe the problem (or idea)

Reported by @steviepubliclab:

The In-line grid [wikis:project] on https://publiclab.org/wiki/projects#Example+Project+Pages: is currently displaying two wikis.

The tag page https://publiclab.org/wiki/tag/project shows that there are 16 wikis tagged 'project'

I expected to see all 16 wikis displayed in the in-line grid (paginated, OK, but should be all

[2021-11-17 16:25] TildaDares commented on #10499
Hi @angelinebau04, Public Lab and Spectral Workbench are back up. Thank you for reporting this issue.

[2021-11-17 16:25] #10499 closed

[2021-11-17 16:25] TildaDares commented on #10500
Hi @angelinebau04, Spectral Workbench is back up. Thank you for reporting this issue.

[2021-11-17 16:25] #10500 closed

[2021-11-18 18:18] ebarry commented on #9338
Confirming that sorting is not working by any of the column headers that are styled as sorting links, and cause the page to reload presumably to resort.

The links that need updating are:

Title | Last edited | Edits | Page Views | Likes

[2021-11-19 13:28] KarishmaVanwari commented on #10368
Hey @TildaDares @jywarren I am facing issues in setting up the project. Can You please help me?

[2021-11-20 02:21] diorshelton commented on #10467
Is this issue available?

[2021-11-20 06:33] TildaDares commented on #10467
Hi @diorshelton, yes this issue is available. I’ll assign it to you.

[2021-11-20 10:09] ShivamJhaa commented on #10118
@TildaDares  @ebarry  Is this issue still avaibale?

[2021-11-20 22:29] beinjamin commented on #10475
bonjour

[2021-11-21 08:09] Prerna-0202 commented on #8508
@jywarren, I am a newbie here so I would love to start contributing to this repo with this issue. Can you please assign it to me?

[2021-11-21 08:17] Prerna-0202 commented on #7067
@VladimirMikulic, I would like to work on this issue, to start my first contribution to this repo. Can you please assign it to me so that I can work on it...

[2021-11-21 16:34] VladimirMikulic commented on #7067
Hi @Prerna-0202. It's all yours :)

[2021-11-22 02:47] ShivamJhaa commented on #10507
Hey @ebarry , can I work on this issue?

[2021-11-22 11:38] TildaDares commented on #10118
Hi @ShivamJhaa, I think @wajeehamushtaq is working on this. If any help is needed, we'll let you know. Thank you!

[2021-11-22 17:54] ebarry commented on #10507
Yes please!

[2021-11-22 20:41] ebarry opened #10513 "Lead images on notes not displayed for non-logged in users"
### Please describe the problem (or idea)

Reported from one of our fellows: lead images on research notes are not showing up unless he's logged in. Jeanette is seeing the same issue. She writes:

Here is a screenshot of a note not logged in:
<img width="1580" alt="image_absent" src="https://user-images.githubusercontent.com/161439/142931792-c26c10df-a313-4708-add5-a19b4e927dfd.png">

Same note wh

[2021-11-23 13:24] Tlazypanda opened #10514 "Weekly Community Check-In #124 - Outreachy Winter'21 Interns announced!!"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-11-23 13:35] Georjane commented on #10514
🥳🥳🥳💃💃💃

Thank you very much @Tlazypanda 💯
I am so honored to have been accepted as an Outreachy Intern to this amazing Public Lab community 💖

I am so excited right now and I look forward to making a positive impact by contributing as much as I can to the community. I also look forward to outlining my whole experience in my blog so I could share with everybody and hope it inspires someone to join

[2021-11-23 13:55] DalilaBA commented on #10514
@Tlazypanda it is a big pleasure to be part of this community, I hope that Ill be able to help much more 😄

[2021-11-23 13:55] KarishmaVanwari commented on #10368
@TildaDares @jywarren I have created a pull request, please review it. Thanks!

[2021-11-23 15:11] ebarry commented on #10486
Everyone really likes it! This is a "go" 😃

[2021-11-23 15:25] ebarry commented on #10012
Whoops, missed the fact that there was a hanging question here at the end for @publiclab/community-reps .

How can we remove spam tags from showing up on https://publiclab.org/stats/subscriptions? The goal is to honor the active moderation steps taken by the moderators to keep our site well-curated; it's hard to see work moderators have already done need _re-doing_ in a format that mods can't even

[2021-11-23 15:48] NARUDESIGNS commented on #10514
Thank you very much @Tlazypanda I'm both excited and nervous and I hope that I get to make those meaningful contributions that I have proposed.
I also will like to open the next check-in and yes, it is my first time so I need you to help guide me
Thank you!

[2021-11-23 17:27] jywarren commented on #10507
Hi all, this will take some research to document well so we can figure out what's going on. Will spend time on it today and hopefully we can get a to-do list of tasks to address it. First i wanted to link to a prior issue with "project" tags here - which... could be related? Not sure:

https://github.com/publiclab/plots2/issues/8808

[2021-11-23 17:40] jywarren commented on #10437
Hi @ebarry - yes, the relevant feature for email is:

- `dashboard-feature` - https://publiclab.org/features/22426/edit

The [old dashboard message](https://github.com/publiclab/plots2/blob/4d662445527e5f0a9c070e684ad9a874ea99d955/app/views/dashboard/dashboard.html.erb#L1-L24) hadn't been made into a feature.

The new dashboard has a message that's hard-coded, which means it can be translated, and

[2021-11-23 18:25] jywarren commented on #10513
Hi, thanks, great documentation too. I see this error on incognito mode (not logged in):

[code]

It corresponds to:

[code]

which is where the comment editor is depending on variable `$D`, which is only present if you're logged in.

So tracing this, it could be solved in 2 ways:

1. add a conditional before running the code in [editorToolbar.js](https://github.com/publiclab/plots2/blob/main/app/

[2021-11-23 18:55] jywarren commented on #10513
OK, starting with the test here, though it may need some tweaking for syntax: https://github.com/publiclab/plots2/pull/10517

[2021-11-23 20:53] jywarren commented on #10012
Hi Liz, i believe the easiest step would be to ban the user who's following the spam tag. Then it will have no followers and won't be listed.

The key here is that the page `/stats/subscriptions` is a listing of what tags have followers, so the action by a moderator to spam a note or wiki won't affect that listing. So it's not re-doing so much as that we provide moderation tools for nodes, but not

[2021-11-23 21:11] jywarren commented on #10507
First going to try running this query on the console to see what happens:

https://github.com/publiclab/plots2/blob/4d662445527e5f0a9c070e684ad9a874ea99d955/app/models/concerns/node_shared.rb#L404-L414

[2021-11-23 21:12] jywarren commented on #10507
Here's a direct way to view the grid: https://publiclab.org/embed/grid/wikis:project

[2021-11-23 21:12] jywarren commented on #10507
Matching one-line db query:

`Node.where(status: 1, type: 'page').includes(:revision,:tag).references(:term_data, :node_revisions).where('term_data.name = ?', 'project').collect(&:title)`

[2021-11-23 21:21] jywarren commented on #10507
OK, so progress. The above query returns a full list. But when I add `.limit(23).order('node_revisions.timestamp DESC')` it returns only:

`=> ["The Mountains and Mines Monitoring Project", "VVAMP"]`

just like we're seeing. If I remove `limit()` it returns all. If I remove `order()` it works. But it doesn't work with both.

[2021-11-23 21:21] TildaDares commented on #10514
Congratulations @NARUDESIGNS and @Georjane 🎉🎉

[2021-11-23 21:21] jywarren commented on #10507
We had introduced the `limit()` in order to not completely overwhelm views such as that at https://infragram.org which has a TON of Q&A in an embedded grid.

[2021-11-23 21:30] TildaDares commented on #10489
Moved to #10514. Thanks everyone!

[2021-11-23 21:30] #10489 closed

[2021-11-23 21:56] jywarren commented on #10507
OK, so here is the query if I bump the limit to 50:

[code]

And here it is under the current default of 24:

[code]

[2021-11-23 21:57] jywarren commented on #10507
The issue is that ActiveRecord splits the query in 2, and applies the limit to the first, but not the second, query.

[2021-11-23 22:02] jywarren commented on #10507
OK so reading:

- https://stackoverflow.com/questions/8293032/active-record-includes-with-limit
- https://guides.rubyonrails.org/active_record_querying.html#specifying-conditions-on-eager-loaded-associations

[2021-11-23 23:26] jywarren commented on #10507
ok, so what if we did:

[code]

[2021-11-23 23:31] #10263 closed

[2021-11-23 23:45] jywarren commented on #10486
OK, so to plan out this project we have a few different pieces:

* [ ] develop a new route at `/tag/comments/TAGNAME` and a corresponding entry in `tag_controller.rb` that collects `@comments` within a topic (i.e. on nodes tagged with `TAGNAME`)
* [ ] write a functional test for the above
* [ ] publish to stable and test
* [ ] add an extra tabs after https://github.com/publiclab/plots2/blob/b8f3e4

[2021-11-23 23:47] #10507 closed

[2021-11-23 23:57] jywarren commented on #10012
I made a pull request for `So we could adjust the listing of followers to expose the user, so it's easier for mods to find and ban them.` at https://github.com/publiclab/plots2/pull/10520 - if folks are 👍 we can merge it!

[2021-11-24 00:17] jywarren commented on #10514
Congrats @Georjane and @NARUDESIGNS!

I'm so very thankful to everyone who applied to work with us. Every one of your contributions means a lot to us and we're grateful for your time and efforts.  🌟 🎉 ❤️

I know you all put in a huge amount of work and we're only able to work with a few of you. Know that you're always welcome here and that we wish we could work with more of you!

[2021-11-24 02:17] jywarren commented on #10507
Ongoing fixes in: 1bc3a517bb1e4d623077a4911e1d103bcf00fc41, 60dc2a3a84ec735cbe7835909327919aa4c79b91

[2021-11-24 02:49] jywarren commented on #10507
we'll see if https://github.com/publiclab/plots2/pull/10521 fixed it in stable!!!

[2021-11-24 04:52] jywarren commented on #10507
Confirmed in stable.

[2021-11-24 05:18] #10513 closed

[2021-11-24 09:30] Tlazypanda commented on #10514
Congratulations @Georjane and @NARUDESIGNS :heart:

And yes definitely feel free to reach out @NARUDESIGNS for any questions you may have for the weekly check-in!!

As @jywarren mentioned all the applicants are welcome here and we appreciate all your contributions as always :blue_heart:

[2021-11-24 18:52] KarishmaVanwari commented on #10330
Hey @TildaDares can you please tell me where can I find the concerned ui as in on which route? Since I am unable to see comment option or topics on the localhost (as it is visible on the publiclab website).

[2021-11-24 23:36] NARUDESIGNS commented on #10514
Hi, @Tlazypanda thank you very much. I sent you a message on Gitter chat with some of my questions.

[2021-11-25 07:17] TildaDares commented on #10330
Hi @KarishmaVanwari, you can visit any note in your local environment, scroll to the bottom of the page and you should see a comment box.

[2021-11-25 11:24] KarishmaVanwari commented on #10330
I've created the pull request, please have a look @TildaDares

[2021-11-25 16:11] KarishmaVanwari commented on #10368
@TildaDares I created anothet pull request, please have a look.

[2021-11-25 16:37] KarishmaVanwari commented on #4688
Can I take up this issue, if it is still available? @avsingh999

[2021-11-25 16:39] KarishmaVanwari commented on #4036
Can I take up this issue, if it is open? @sagarpreet-chadha

[2021-11-25 16:40] KarishmaVanwari commented on #10409
Can I take up this issue, if it is still open? @TildaDares

[2021-11-25 18:53] TildaDares commented on #10409
Hi @KarishmaVanwari, there’s a PR open for this already. Thanks!

[2021-11-25 19:29] KarishmaVanwari commented on #10409
Okay

[2021-11-26 06:40] madhhuurrii commented on #10209
Hii is this issue available?

[2021-11-26 11:58] KarishmaVanwari commented on #10330
@TildaDares I have opened another pull request, please have a look

[2021-11-26 17:44] TildaDares commented on #10209
Hi @madhhuurrii, yes this issue is available. I'll assign you.

[2021-11-26 18:42] ShivamJhaa commented on #9407
@TildaDares , @Tlazypanda Is this issue relevant?

[2021-11-27 15:15] SteveSayantan commented on #10467
Hello @diorshelton do you need some help with this one? Otherwise, I'll go for another one.

[2021-11-27 19:51] #7067 closed

[2021-11-27 20:07] #10389 closed

[2021-11-27 20:07] #10409 closed

[2021-11-28 11:45] pulkit-30 commented on #10229
Hey @TildaDares,
Is anyone working on this issue?
If not, I would love to start my contribution to this organization with this issue. May you please assign me this issue.

[2021-11-28 14:32] TildaDares commented on #10229
Hi @pulkit-30, this issue has been resolved.

[2021-11-28 16:20] #10229 closed

[2021-11-28 17:34] KarishmaVanwari commented on #10308
Can I take up this issue, if it's still open? @TildaDares @Jon-Jos

[2021-11-29 11:05] KarishmaVanwari commented on #10015
Can I take up this issue? @TildaDares @ebarry

[2021-11-29 11:10] KarishmaVanwari commented on #9411
Hey @Manasa2850 can I work on this issue, if its still open?

[2021-11-29 11:16] KarishmaVanwari commented on #9450
Can I take up this issue? @waridrox @jywarren

[2021-11-30 08:27] TildaDares commented on #10015
Hi @subhangi2731, any updates? If you need any help, please feel free to ask.

[2021-11-30 08:28] TildaDares commented on #10015
@KarishmaVanwari if we don’t get any response from @subhangi2731 I’ll assign this to you.

[2021-11-30 10:59] SteveSayantan commented on #10467
Hey @TildaDares may I have this issue assigned to me?

[2021-11-30 11:05] TildaDares commented on #10467
Hi @SteveSayantan, let's give @diorshelton some time to respond.

[2021-11-30 11:07] TildaDares commented on #10207
Hi @ahmedishraq, you opened the PR in `ahmedishraq/plots2` instead of `publiclab/plots2`.

[2021-11-30 12:25] NARUDESIGNS opened #10531 "Weekly Community Check-In #125 - STAY HEALTHY"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2021-11-30 15:53] #10012 closed

[2021-11-30 16:20] TildaDares commented on #10514
Moved to #10531. Thanks everyone!

[2021-11-30 16:20] #10514 closed

[2021-11-30 18:43] jywarren commented on #956
Whoops, sorry for the slow reply! With regard to the Answer model, all Answers are now converted into comments, so we can go through any code that uses the Answer model and remove it piece by piece. There should be no Answer records, either! They're all comments now.

[2021-11-30 18:47] jywarren opened #10545 "Identify old/legacy code and clean it up"
This is a big long-term project, related to https://github.com/publiclab/plots2/issues/956, and I found a bunch of tools we can use to find old unused code:

https://github.com/evilmartians/terraforming-rails

https://test-prof.evilmartians.io/

https://github.com/amatsuda/traceroute

Let's discuss and this is something we can try periodically!

[2021-11-30 19:27] ebarry commented on #10012
Great! Thank you! Visible just to mods, yes?

[2021-11-30 20:06] jywarren opened #10546 "Compiling documentation for npm module => Rails app workflow"
I discussed this with @Tlazypanda and looking to get some good docs together so we can guide people helpfully through this process!

Thinking a diagram may be really useful, but there are 2 repositories:
- the upstream library (which does a narrow set of things but has a general purpose scope, even if its main or only use is the downstream app)
- the downstream application (which uses the upstream

[2021-11-30 20:07] jywarren commented on #10546
Let's also keep in mind that some NPM modules are included into other NPM modules, so you have to do this cycle 2x -- 😭  -- like with https://github.com/jywarren/woofmark => https://github.com/publiclab/PublicLab.Editor/ => https://github.com/publiclab/plots2/

[2021-11-30 21:34] ebarry commented on #10437
perfect thanks! Closing.

[2021-11-30 21:34] #10437 closed

[2021-11-30 21:46] #10209 closed

[2021-11-30 21:48] jywarren commented on #9450
Sure, we'd love the help! Although we aren't quite sure still under what circumstances it's happening. @NARUDESIGNS you saw this happen recently too - do you know how to get it to happen, so we can figure out how to resolve it? Thank you!

[2021-11-30 21:49] #10368 closed

[2021-11-30 21:54] jywarren commented on #9450
Ah, i can see this happen in production on https://publiclab.org/post - so that's a clue!

[2021-11-30 21:55] jywarren commented on #10082
Thank you Liz, to date I haven't been able to reproduce this, unfortunately.

[2021-11-30 22:26] jywarren commented on #10486
OK so, heard back from staff -- no comment count - that simplifies things a bit!

[2021-11-30 22:28] NARUDESIGNS commented on #9450
@jywarren yes, when you log in to https://publiclab.org/dashboard and also https://publiclab.org/post
This is a link to where I pointed it out - https://github.com/publiclab/plots2/issues/10481

[2021-11-30 22:46] jywarren commented on #10531
Thank you so much for this thoughtful weekly check-in topic! It's so cold here right now (getting to be winter) that I am tempted to stay in all day. But today I rode my bike mid-day and indeed I feel so much better! 🚲 🚲

[2021-12-01 10:26] #10395 closed

[2021-12-01 10:29] #10370 closed

[2021-12-01 10:47] KarishmaVanwari commented on #10015
Okay

[2021-12-01 10:53] KarishmaVanwari commented on #10218
Can I work on this? @brunoocasali

[2021-12-01 11:00] KarishmaVanwari commented on #9338
Can I take up this issue, if its open? @govindgoel @ebarry

[2021-12-01 11:01] KarishmaVanwari commented on #9334
Is this issue still open? I would like to take this issue. @cesswairimu @Manasa2850 @jywarren

[2021-12-01 11:03] govindgoel commented on #9338
Go ahead !!
And feel free to ask if you have any questions.

On Wed, 1 Dec, 2021, 4:30 pm KarishmaVanwari, ***@***.***>
wrote:

[2021-12-01 11:12] KarishmaVanwari commented on #9271
Is this issue still open? @manchere @pydevsg @ebarry

[2021-12-01 11:15] KarishmaVanwari commented on #8977
Can I work on this, if the social media icons are to be removed from the center? @cesswairimu @frappelatte28

[2021-12-01 11:16] KarishmaVanwari commented on #9338
Sure, thank you @govindgoel
Could you please assign it to me?

[2021-12-01 11:25] KarishmaVanwari commented on #8117
Is this issue open to work on? @cesswairimu @Tlazypanda

[2021-12-01 11:31] #10369 closed

[2021-12-01 11:31] KarishmaVanwari commented on #7963
Hey @Tlazypanda , can I take up this issue, if it has to be worked upon?

[2021-12-01 11:53] #10376 closed

[2021-12-01 13:07] brunoocasali commented on #10218
Yes @KarishmaVanwari, please!

[2021-12-01 13:09] jywarren commented on #9334
Yes please, that'd be great!

On Wed, Dec 1, 2021, 6:01 AM KarishmaVanwari ***@***.***>
wrote:

[2021-12-01 13:20] KarishmaVanwari commented on #10218
Could you please assign me this issue? @brunoocasali

[2021-12-01 13:21] KarishmaVanwari commented on #9334
Thank you. Could you please assign me this? @jywarren

[2021-12-01 13:21] brunoocasali commented on #10218
No actually, because I'm not a member of publiclab 😅

[2021-12-01 14:30] ebarry opened #10548 "Lead image uploading to new wikis is failing"
### Please describe the problem (or idea)

I have verified the following report from Jeanette:

I created this gif:
![wiki-image upload](https://user-images.githubusercontent.com/161439/144252478-9b783a9e-3919-4fee-b77b-01a9297a64a6.gif)

I expected to see the lead image that i dragged onto the upload box to turn into a preview image, and then upon saving, i expected to see it appear as lead image

[2021-12-01 15:00] ebarry commented on #8977
HI all, thank you for working on this!
I made a gif because i wanted to check that i'm understanding what people are suggesting:

- By center icons, do you mean the ones near the top of the home page?
- Then the footer would be the ones in the footer at lower right?

![social-media-icons](https://user-images.githubusercontent.com/161439/144257838-15cd10fc-be16-4e5c-994b-e4bdb47fbe91.gif)

I'm inte

[2021-12-01 15:44] ebarry opened #10549 "Controlling projects shown on the front page by 'project:featured'"
## Area of interest

The Community Projects section on the front page:
![community-projects](https://user-images.githubusercontent.com/161439/144264204-8aaed6d4-7446-4610-90ce-929295bd5564.gif)

## Current understanding of Feature 16602

I think that the HTML in https://publiclab.org/features/16602/ drives the display of Community Projects, is this correct?

[code]
This code references a view of p

[2021-12-02 08:05] TildaDares commented on #10548
I think this has to do with the change @jywarren made in #10522 specifically line 189
https://github.com/publiclab/plots2/blob/9a08a054cb0b695dd1928aae6fb534870a742e6d/app/assets/javascripts/editorToolbar.js#L189

Changing `document` to `window` fixes the problem and still shows lead images on notes when logged out.

[2021-12-02 10:29] Jyoti-prakash-rout opened #10550 "Please invite me to the GitHub Organization"
I'm a Web Dev enthusiast & a junior pursuing my Bachelors in Computer Science & Engineering. I'm interested in Web Devlopment, Machine Learning & DevOps & I enjoy learning new things & stuff as well as I'm a Frontend Devloper with experience building Dynamic & Static Web pages. I am always interested in learning the answers to how, why, and what relates to the Technologies around me.

I would like

[2021-12-02 11:01] anirudhprabhakaran3 commented on #10550
Hello!
I would suggest you check out code.publiclab.org to get an idea of how to start contributing. You can join our Gitter channel for more.
As a beginner, you can either try to setup the project on your local system, or use GitPod. To start contributing, you can check the first time issues.

Thank you!

[2021-12-02 11:27] anirudhprabhakaran3 commented on #10549
Hello!

When I am loading the home page, I can see the following three projects:
Mountains and Mines monitoring project
Urban Greening in Nottingham
Unearthing Providence

Searching for the powertag `project:featured`, I can see 4 different wikis, which include the top 3 and one more - Bourj Al Shamali Refugee Camp.

The code is taking three of the four projects - however, it is picking them **ran