[2019-03-19 15:48] jywarren commented on #5177
Cool idea! Shall we start with a visual mockup of what it would look like?
Thank you!!!

On Tue, Mar 19, 2019 at 11:45 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-03-19 15:51] CleverFool77 commented on #5177
How about giving an option beside RSVP ?

[2019-03-19 15:54] CleverFool77 commented on #5090
Hi @jywarren I found the fix to be done in featured part of this issue. But you mentioned in issue #5004 that this is stored in database. Then can i some insight on this ?

[2019-03-19 15:58] IshaGupta18 commented on #5177
Yes I think that's what @jywarren means here. I would like to help you out in this one @CleverFool77 . We could divide this up, I could do the backend of it and you could do the UI, or vice-versa, whatever suits best! What say?

[2019-03-19 16:00] ebarry commented on #5022
Hi Outreachy Aspirants,
If you are reading this, consider taking a minute to fill out our annual Survey which is going to be closing in another day or so -- your feedback will help our community learn! thanks! More info here:
https://github.com/publiclab/plots2/issues/4614

[2019-03-19 16:00] fabsar commented on #5059
It's working now. Thanks:)

[2019-03-19 16:01] gauravano commented on #3262
I tried many times but it's not showing transifex app installed :point_down:
![Screenshot from 2019-03-19 21-30-32](https://user-images.githubusercontent.com/20878070/54621777-51d16680-4a8e-11e9-82d4-0ab7e04e11e8.png)

Could you go at https://www.transifex.com/publiclab/settings/integrations/ and install the transifex integration?

Thanks!
@jywarren

[2019-03-19 16:07] thegioithoitrangbaby opened #5178 "Nắm Trọn Bí Kíp Chọn Quà Thôi Nôi Cho Bé Trai Trở Nên Nổi Bật"
<span style="font-family: arial, helvetica, sans-serif; color: #000000; font-size: 12pt;"><em><strong>Một ngày đẹp trời bất ngờ bạn nhận được một thiệp mời thôi nôi cho bé trai mà bạn biết chắc tiệc thôi nôi là một tiệc khá là lớn nhưng liệu rằng bạn có đủ tự tin để lựa chọn món quà thôi nôi cho bé trai thật ý nghĩa và giúp bé trai đó nổi bật trước mọt người không ? Đừng lo lắng nhé! Hãy đến với T

[2019-03-19 16:07] #5178 closed

[2019-03-19 16:14] CleverFool77 commented on #5177
Hi @IshaGupta18 I would really love your help but I would like to try a backend code in this project for once. Till now I've been doing frontend part and I had wanted to explore some other features too. I know that It would be slow but I wanted to try it out. I'll let you know when I require your help. For now I would like to try this myself. :smile:

[2019-03-19 16:15] IshaGupta18 commented on #5177
Absolutely, I think it will be good exposure, if you need any guidance with that, do let me know! So can I start with the front-end then?

[2019-03-19 16:17] madeofhuman commented on #5153
I'm currently tracing based on the error log to see if I can reproduce this, but more information on reproducing this error will be really appreciated.

[2019-03-19 16:30] IshaGupta18 commented on #5177
@CleverFool77 please let me know if you're okay with it?

[2019-03-19 16:41] gauravano commented on #5150
Great!

On Mon, Mar 18, 2019 at 8:28 PM Ananya Arun <notifications@github.com>
wrote:

[2019-03-19 16:55] jywarren opened #5179 "Brainstorm list of supportive additions to Welcomebot"
Our new welcomebot "expandable sections" are great for offering support without overwhelming:

https://github.com/publiclab/plots2/blob/master/.github/config.yml

Let's brainstorm more additions!

## On first opening an issue

## Opening first PR

* [ ] ask people to join the weekly check-in
* [ ] put hints on Travis debugging
* [ ] installation help

## Merging first PR

* [x] help someone else

[2019-03-19 16:58] ananyaarun opened #5180 "Colour missing for button on contribute a kit page [discussion]"
# Description
Here is the present view of the contribute a kit page both on my local and the public labs page.

![addbluecolor](https://user-images.githubusercontent.com/32260628/54625651-b3490380-4a95-11e9-8785-b37f00146b7c.png)

![addcolour](https://user-images.githubusercontent.com/32260628/54625665-b93ee480-4a95-11e9-91ab-1134ee9b0472.png)

The Subscribe to answer questions on this topic butto

[2019-03-19 16:59] ananyaarun commented on #5180
I'm not sure if color was intentionally not added. If this is not the case then this can be edited to make a good FTO :) @publiclab/plots2-reviewers

[2019-03-19 17:03] ananyaarun commented on #5180
Also I think adding colour to the subscribe button just above the navbar would help make it better visible to users and stand out on the page. Thoughts ?

[2019-03-19 17:04] gauravano commented on #4922
Hey @karunagoyalk, this project is to be solved in Outreachy so please take look at other issues of  https://github.com/publiclab/plots2/issues/ .

Thanks!

[2019-03-19 17:38] kryptc commented on #4614
Done!

[2019-03-19 17:54] madeofhuman commented on #5153
@jywarren correct me if I'm wrong, but I don't think this part

`by <%= link_to(@user.name,"/profile/#{@user.name}") %>`

is necessary in the h3. If I understand correctly, the page is meant to display all notes containing any of the tags supplied in the url param, and they can be of different authors, so there can't be a single author name in the header.

[2019-03-19 18:12] vaarigupta commented on #5022
Hello everyone, This is vaari gupta,an outreachy applicant. I am excited to work on FOSS. I have not contributed much in open source community. How can I contribute?

[2019-03-19 18:24] vaarigupta commented on #5173
hello, This is Vaari Gupta. @IshaGupta18  How can I move with this issue to resolve? It seems to be assigned to @siddhishree .

[2019-03-19 18:28] fabsar commented on #5022
Hii @vaarigupta. If you are looking for a first timer issue add yourself here #4963 and you will be assigned an issue soon. All the best:)

[2019-03-19 18:29] IshaGupta18 commented on #5173
Yes @vaarigupta this is assigned. You can look for other FTOs or I will try to create one for you very soon!

[2019-03-19 18:29] gauravano commented on #5180
I think we can start working on this one :point_down:

![one](https://user-images.githubusercontent.com/32260628/54625651-b3490380-4a95-11e9-8785-b37f00146b7c.png)

"or" between buttons also look a little weird?

I think we can remove "or" and can change Subscribe to answer button for starting. @jywarren

Thanks @ananyaarun for catching and thinking about this!

[2019-03-19 18:32] ananyaarun commented on #5180
Sure, Removing or sounds good! . I'll start working on this. Thanks :)

[2019-03-19 18:50] jywarren opened #5181 "Need to update the revision timestamp when publishing drafts"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2019-03-19 19:08] jywarren commented on #5180
What do folks think about brainstorming a bit on this first -- like, does
the Subscribe to answer button even make sense? Should we instead be asking
people to follow the "kits" or equivalent tag itself, and maybe could
simplify the area? I'd love to hear some ideas. Thanks!

On Tue, Mar 19, 2019 at 2:33 PM Ananya Arun <notifications@github.com>
wrote:

[2019-03-19 19:26] jywarren commented on #5153
Hmm, it's possible that this section is used for a version of the page
showing only one author. What we probably need to do is change "user.name"
to "user.username"?

On Tue, Mar 19, 2019 at 1:54 PM CJ Odina <notifications@github.com> wrote:

[2019-03-19 19:26] jywarren commented on #3262
Trying, not sure what's going on but it looked installed when i did it - i
"accepted" it again today!

On Tue, Mar 19, 2019 at 12:02 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-19 19:28] jywarren commented on #3262
Ah, it had a second step, allowing TF to post on my behalf. We may need to
do this with the Plotsbot or another dummy GitHub account, instead of it
being posted as me? Worth testing out!

On Tue, Mar 19, 2019 at 3:26 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-03-19 19:29] gauravano commented on #3262
ok, I see authorized now
![Screenshot from 2019-03-20 00-57-46](https://user-images.githubusercontent.com/20878070/54635948-56584800-4aab-11e9-87e3-5ca0cb6e2420.png)

[2019-03-19 19:29] gauravano commented on #3262
@jywarren refer this https://docs.transifex.com/integrations/transifex-github-integration

[2019-03-19 19:30] gauravano commented on #3262
they have bot -
![Screenshot from 2019-03-20 01-00-09](https://user-images.githubusercontent.com/20878070/54636054-8b649a80-4aab-11e9-8a7f-3fc9095d0c10.png)

[2019-03-19 19:33] jywarren commented on #3262
Great!

On Tue, Mar 19, 2019 at 3:31 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-19 19:56] Souravirus opened #5182 "Reporting or contributing for the Bootstrap 4 upgradation"
Hi everyone,

We are working on the upgrade to Bootstrap 4 of the Public Lab website(publiclab.org) in this [PR](https://github.com/publiclab/plots2/pull/3937). For some days from now, we will be keeping the [unstable](https://unstable.publiclab.org/) branch updated with the Bootstrap 4 commits. So, if anyone sees anything odd at https://unstable.publiclab.org/, please report to https://github.com

[2019-03-19 19:59] ananyaarun commented on #5045
@aggarwal19 , How's this issue going ? Do u need any help :) ?

[2019-03-19 20:12] ananyaarun commented on #5114
@gauravano , Can you tell me what [This](https://github.com/publiclab/plots2/blob/4fc2e9f0d54485dbfebb0d3ab070d9d2ce9497c7/app/controllers/user_sessions_controller.rb#L151) line exactly does ?

to solve this issue i replaced it with a flash warning msg and then a redirect

flash[:warning] = "Wrong password"
redirect_to '/login'

that solved the issue but other cases of login functionality seem to

[2019-03-19 20:27] madeofhuman commented on #5153
Hmm.... let me see....

This is the controller method that renders the view:

[code]
It's returning a list of notes (should be maps, btw) that isn't filtered by any user. So, to get the auhor of a note, we'd have to do `note.author.username` (after iterating over the list).

The partial that should display the maps is called directly in the view like so:

[code]

without being wrapped in an iterat

[2019-03-19 20:38] gauravano commented on #3262
I did the remaining setup but the sad part of this integration is we can't make good use of this until we reach 100% reviewed status on a language. I have dropped a suggestion to Transifex regrading this - https://community.transifex.com/t/transifex-should-be-able-to-push-translations-more-often-transifex-github-integration/261

so anyone of us can raise PR weekly till we reach the 100% reviewed s

[2019-03-19 20:50] jywarren commented on #3262
Hmm, weird, too bad! But yes, until then that sounds good!

On Tue, Mar 19, 2019 at 4:39 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-19 20:51] namangupta01 commented on #4962
Strange, It is working in rails console and the same line of code not working in production.

[2019-03-19 20:54] jywarren commented on #5153
Ah yes, you're totally right! 🎉

I think we need to further refine the conditional on these lines, because you're right, it's getting stuck because it is wrongly assuming this is the 'for this author' view:

https://github.com/publiclab/plots2/blob/4fc2e9f0d54485dbfebb0d3ab070d9d2ce9497c7/app/views/tag/show/_contributors.html.erb#L1-L7

Could we show the `<h3> Notes on <%= params[:id] %> by <%= li

[2019-03-19 20:59] madeofhuman commented on #5153
Yeah, we could do that, but there's no other place that's calling that partial, so I don't think the `by user` part is needed.

[2019-03-19 20:59] jywarren commented on #5090
Merged #5100! Now on to next steps; perhaps https://github.com/publiclab/plots2/pull/5172 is next?

[2019-03-19 21:00] jywarren commented on #5090
I see progress at https://github.com/publiclab/plots2/pull/5169 as well on a card layout!

[2019-03-19 21:01] namangupta01 commented on #4962
I guess this should not happen. @jywarren can you please look into the sentry dashboard and tell the total number of time above event occurs and the last occurrence of these events?

[2019-03-19 21:01] jywarren commented on #5090
Let's make sure the card layout by @CleverFool77 is compatible with the sorting in https://github.com/publiclab/plots2/pull/5176 by @divyabaid16 ! What amazing multiperson cooperation here!!! 🙌

[2019-03-19 21:14] jywarren commented on #4941
All i can think of is going through the builds on the master branch from more than 12 days ago.... https://travis-ci.org/publiclab/plots2/builds

[2019-03-19 21:21] jywarren commented on #5153
actually i think it may be connected to an existing issue #5099 -- i
/believe/ that page will require this h3. Is that OK? Thank you!

On Tue, Mar 19, 2019 at 5:00 PM CJ Odina <notifications@github.com> wrote:

[2019-03-19 21:23] madeofhuman commented on #5153
I'll check it out. 😄

[2019-03-19 21:24] ananyaarun commented on #5180
Sure !! Any suggestions/comments are welcome :)

[2019-03-19 21:30] jywarren commented on #4962
Well, why don't I make you a Sentry account? It looks like there are a few inter-related errors, like this one: https://sentry.io/share/issue/0e925d1fc2ab4cc7b5fca0cce5033149/

Try searching for "twitter" in the issues list there!

[2019-03-19 21:33] jywarren commented on #2298
Oh but then i just merged it! Closing again!

[2019-03-19 21:33] #2298 closed

[2019-03-19 21:33] jywarren commented on #4759
@shubhscoder this sounds PERFECT!!!

[2019-03-19 21:36] jywarren commented on #4423
OK, apologies, circling back here! We have a few threads all interconnecting and I wanted to see if we could try to incorporate them in one thread. Please check out https://publiclab.org/notes/lekhidugtal/03-13-2019/ui-wireframe-for-profile-page too -- let's discuss a bit there!

[2019-03-19 21:46] jywarren commented on #5175
Yes, great! I think we did it in rich mode but not markdown mode! Moving this issue over there as we can probably use the same approach. Thanks!

[2019-03-19 21:54] jywarren commented on #5174
Sure -- in Gmail and other apps, the '/' key opens search. We could do
that? Try this code to detect a keystroke:

$(window).on('keypress', function(e){console.log("keyCode is: " +
e.keyCode)})

On Tue, Mar 19, 2019 at 5:22 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-03-19 21:59] vaarigupta commented on #4963
@gauravano  I am an outreachy applicant and want to work as FTO at PublicLab. How can I contribute as that?

[2019-03-19 22:04] vaarigupta commented on #4922
hello @jywarren  I am an outreachy applicant and excited  to work on it. How can I start contributing ?

[2019-03-19 22:06] icarito commented on #5015
![image](https://user-images.githubusercontent.com/199755/54645181-3e5fd480-4a69-11e9-8002-a119d78fa957.png)

This looks like way too many allocations?

[2019-03-19 22:17] vaarigupta commented on #4541
Hello @cesswairimu , I am  an outreachy applicant and excited  to work on it. How can I start contributing ?

[2019-03-19 22:19] vaarigupta commented on #4540
hello @cesswairimu   I am an outreachy applicant and excited  to work on this issue. How can I start contributing ?

[2019-03-19 22:19] vaarigupta commented on #4138
hello @cesswairimu   I am an outreachy applicant and excited  to work on this issue. How can I start contributing ? what is it all about?

[2019-03-19 22:20] jywarren commented on #5015
Here is the query backing it - looks simple, no?

https://github.com/publiclab/plots2/blob/c59a6f07b45eacf1755a3e3583424a82d07253b3/app/services/search_service.rb#L48-L51

[2019-03-19 22:22] jywarren commented on #5015
It's a rich text search, though... so that leads down to:

https://github.com/publiclab/plots2/blob/c59a6f07b45eacf1755a3e3583424a82d07253b3/app/models/node.rb#L38-L54

It's all with `limit` though...

You're saying it's allocating too many variables /per request/, not that there are too many requests?

[2019-03-19 22:23] vaarigupta commented on #3498
hello @jywarren    I am an outreachy applicant and excited  to work on this issue. How can I start contributing ?

[2019-03-19 22:25] vaarigupta commented on #5005
hello @CleverFool77    I am an outreachy applicant and excited  to work on this issue. How can I start contributing ?

[2019-03-19 22:26] vaarigupta commented on #4980
hello @gauravano    I am an outreachy applicant and excited  to work on this issue. How can I start contributing ?

[2019-03-19 22:36] jywarren commented on #5015
Actually it looks like there were close to 75 requests in just a 20m window - that could have been a single person: https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1553010420/22m/endpoints/Srch::Search%20%5BGET%5D%20srch%2Fnotes

[2019-03-19 22:37] jywarren commented on #5015
@icarito can you tell the exact query that's run 75 times here? The code splits out a few versions so I want to know which one we're looking to debug. They're pretty similar but it'd still be helpful i think.

[2019-03-19 22:42] vaarigupta commented on #4122
hello @jywarren    I am an **outreachy applicant** and excited  to work on this issue. How can I start contributing ?

[2019-03-19 22:45] jywarren commented on #5015
With the debounce working i find it hard to believe you could generate 75 requests from the "related work" feature in the editor, which hits this endpoint; doodling a bit on this line caused 5:

![Screen Shot 2019-03-19 at 6 44 26 PM](https://user-images.githubusercontent.com/24359/54646929-0bbcd880-4a77-11e9-9cd0-91570c0a4ca8.png)

Hmm, on the other hand, i kept typing and typing, and it definite

[2019-03-19 22:46] jywarren commented on #5015
This would possibly cause the kind of "staircase" issue we saw above...

[2019-03-19 22:47] jywarren commented on #5015
Yep:

![Screen Shot 2019-03-19 at 6 47 01 PM](https://user-images.githubusercontent.com/24359/54647022-6c4c1580-4a77-11e9-8630-6c4bcc3dec43.png)

[2019-03-19 22:50] jywarren commented on #5015
Oh! Also, we did not add debounce to the questions form! Doing that now, that'll help a lot too. This could've been from a question...

[2019-03-19 22:54] jywarren commented on #5015
https://github.com/publiclab/plots2/pull/5184

[2019-03-19 22:54] jywarren commented on #5015
Yes, https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1553010000/38m/endpoints/Srch::Search%20%5BGET%5D%20srch%2Fnotes - about 7 hours ago this was posted: https://publiclab.org/notes/nviollier/03-19-2019/how-can-i-demonstrate-the-bioremediation-of-fungi

[2019-03-19 23:04] jywarren commented on #5015
So, longer debounces are now added with 1000ms, and we can make them even longer if we want. Let's:

1. keep watching Skylight to ensure we are properly throttling requests (and consider making debounce 2-3 seconds?)
2. keep digging into this query and why it's not efficient in the first place

[2019-03-19 23:06] jywarren commented on #4122
Hi! We have actually just finished #4537 which eliminates the Answers system. So I'm going to close this, but we'd love your help on another issue. Since it's your first one, we are happy to make you a first-timers issue -- i've added you to the list here, and we'll make one for you as soon as we can! Thank you!!!

https://github.com/publiclab/plots2/issues/4963

[2019-03-19 23:07] jywarren commented on #4963
I've added you to the list to get your own first-timers-only issue! Thank you @vaarigupta !

[2019-03-19 23:08] jywarren commented on #4963
In the meantime, you could look at an existing open one in https://code.publiclab.org and see if you could help someone else or follow what they've done? Thanks a lot!

[2019-03-19 23:15] #4898 closed

[2019-03-19 23:17] jywarren opened #5185 "Add test to confirm return_to anomaly fix"
Following up on #5025... We might write a test to protect this behavior in the future. This is for @Anjalizi if you want it!!!

Let's add a test to confirm this -- you could work from this example integration test:

https://github.com/publiclab/plots2/blob/f8e7cab2a82f7f5bd31ee1c2cf0872aa17a6c1a7/test/integration/login_flow_test.rb#L33-L41

Basically we should try to simulate the bug, and `assert`

[2019-03-19 23:18] jywarren commented on #5185
See how we `assert_equal '/questions', path` to show that the path we were redirected to was correct?

[2019-03-19 23:38] madeofhuman commented on #5153
@jywarren I've fixed this but I'm yet to raise a PR for it. It seems that by fixing this, I also fixed [this FTO issue](https://github.com/publiclab/plots2/issues/5021) that I created, and which has been assigned to someone to work on. Although, it was assigned last week but there's been no update from the person. What do you suggest?

[2019-03-20 00:04] jywarren commented on #5153
hmm, well, very nice of you to look out for them. Maybe leave a comment
asking if they need any help? I'm happy to delay merging this until that's
done if it helps. Thank you!

On Tue, Mar 19, 2019 at 7:38 PM CJ Odina <notifications@github.com> wrote:

[2019-03-20 00:14] madeofhuman commented on #5021
Hi, @helenatxu. Hope you're all right? How are you getting on with this issue?

[2019-03-20 00:54] helenatxu commented on #5021
Hello @madeofhuman! Sorry I didn't answer as I didn't see any notification. I think I will /unclaim this issue because I didn't have time yet to start it after a few days. I will come back if I have enough time again. Thank you!

[2019-03-20 01:33] jywarren commented on #5021
That's ok @helenatxu, maybe @shubhi2000 would like to take this one over for now and we can make one for you when you're ready?  You can always ask and we will make one.

https://github.com/publiclab/plots2/issues/4963

[2019-03-20 01:35] #3646 closed

[2019-03-20 01:36] jywarren commented on #5170
Oh this is a good issue, thanks!

On Tue, Mar 19, 2019, 2:31 AM Ananya Arun <notifications@github.com> wrote:

[2019-03-20 01:37] jywarren commented on #5105
That makes sense, good idea!

On Tue, Mar 19, 2019, 1:03 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-03-20 01:48] icarito commented on #5015
Okay so we had another instance of the typeahead but still these queries are taking a lot of time. I'll try to figure out what they are but I'm under the impression time is spent on Ruby rather than the database, just because on high load situations when observing the process list, normally Mysql isn't at the top.

[2019-03-20 02:39] shubhi2000 commented on #5021
@jywarren sure, I will take this issue and work on it.

[2019-03-20 03:25] jywarren commented on #5021
great!

On Tue, Mar 19, 2019 at 8:55 PM Helena Moreno Chacón <
notifications@github.com> wrote:

[2019-03-20 04:53] CleverFool77 commented on #5177
Hi @IshaGupta18, Sorry for the late reply, I went offline back yesterday. So I wanted to say that would you mind if I go for these parts together first. I waana give it a try first. And then I would ask you for help and guidance which I might be surely needing it. :sweat_smile:

[2019-03-20 05:01] IshaGupta18 commented on #5177
Sure! Go right ahead @CleverFool77

[2019-03-20 05:06] shubhi2000 commented on #5021
I added a conditional statement to run tags.each only when tags has a non-null value, and then I created a PR. Out of 3 checks on my PR, 2 checks were successful and 1 check failed. Since, it is my first PR, I didn't know that I need to tick the checkboxes before proposing the PR. So, the check failure is because of not checking the boxes or something else needs to be done with the code? Please he

[2019-03-20 05:07] CleverFool77 commented on #5177
Thanks @IshaGupta18  Though I'm curious as you said you can proceed with frontend part. So how is the work is checked as the we need back-end part for doing changes for frontend. :thinking:

[2019-03-20 05:08] CleverFool77 commented on #5090
Hi @jywarren The basic card layout is for people's section. Regarding the basic card layout in tags section, I guess @divyabaid16 is working it as she already mentioned. She did great work in sort section,so if the same person is doing the both the work then compatibility will be checked easily.

Later, the UI will be improved from basic structure with collaboration between various contributors.
T

[2019-03-20 05:12] IshaGupta18 commented on #5177
The flow will be: There will be a button on the front-end saying "Interested?", on clicking this button, a function in the respective controller should be called, where a variable is defined to keep a count of the number of interested people, and it will be incremented. This number will then be displayed alongside the button. JS can also be used here to do the same, but if we might want to do some

[2019-03-20 05:12] IshaGupta18 commented on #5177
So I would have basically created that button and helped you out the the background flow, that's what I meant.

[2019-03-20 05:20] CleverFool77 opened #5188 "Add a sentence to provide info in profile/username/likes if notes liked is zero"
## Currently
If the user has not liked any notes then the notes liked by user section remains empty.

![Screenshot from 2019-03-20 10-48-35](https://user-images.githubusercontent.com/26685258/54660818-dc9d7a00-4afd-11e9-9a8e-44a0391c1b57.png)

## Expected
Instead we can provide a sentence in this section that `no notes is liked by user`.
We have to check that the current user logged in is same for

[2019-03-20 05:20] CleverFool77 commented on #5188
I would like to work on this.
Thanks :)

[2019-03-20 05:40] CleverFool77 commented on #5177
Thank you so much for your explanation. @IshaGupta18 :wink:
I would ask you out for help in future. :)

[2019-03-20 06:35] IshaGupta18 commented on #5021
Okay so I am not sure why this file is being used here in the profile page. This file was just written for multiple tag subscription, and I don't know why it is linked to links in the profile page. Besides, if tags are empty, that is already being checked here:

`<% if @node && !@node.node_tags.empty? && ((current_user && @node.liked_by(current_user.uid)) || !current_user) %>`

Let's try and find

[2019-03-20 07:11] IshaGupta18 commented on #5021
Finally found the bug! The file that needs to be changes here is not `_tags_popover.html.erb`, its `tag/show.html.erb`. The subscribe_button partial is being called there and the nil condition is not being checked there. So I am closing this issue @madeofhuman and will open a new one for this. @shubhi2000 you can go ahead with that one and close your PR for this. Thanks a lot @madeofhuman for poin

[2019-03-20 07:53] CleverFool77 commented on #5090
Hi @gautamig54, Do you need any help ?

[2019-03-20 07:55] vaarigupta commented on #5173
Thanks @IshaGupta18  I am excited to work on FTO . Please create one for me.

[2019-03-20 08:05] CleverFool77 commented on #5005
Hi @vaarigupta Are you assigned to this issue ?

[2019-03-20 08:08] CleverFool77 commented on #5005
If you are interested.
* I've added the file where the update is needed plots2/app/views/tag/_tagging.html.erb
* Here, you can check the margin /padding of the section and align it.
I hope it helps. :smile:

[2019-03-20 08:20] CleverFool77 opened #5191 "Capitalize searchbox placeholder in subscriptions"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-20 08:47] shubhi2000 commented on #5021
@IshaGupta18 okay, thanks.

[2019-03-20 08:57] IshaGupta18 commented on #5191
@vaarigupta you can work on this one!

[2019-03-20 09:01] cesswairimu commented on #4540
Hello @vaarigupta I am currently working on this and it has a pull request that I am finishing up on. Thanks

[2019-03-20 09:09] CleverFool77 opened #5193 "Add shortcut keys for rich legacy editor"
## Description
I found this issue when I was working with editor and with my continuous habit of using shortcut keys in editors. The rich legacy editor didn't had this feature but it was present in other editor (rich editor and markdown editor).
I realised that we can add shortcut keys for these features in legacy editor.

![Screenshot from 2019-03-20 16-37-46](https://user-images.githubuserconten

[2019-03-20 09:10] CleverFool77 commented on #5193
@publiclab/plots2-reviewers Is this issue correct ?

[2019-03-20 09:10] CleverFool77 commented on #5193
If approved, I would like to work on this
Thanks :)

[2019-03-20 09:23] HarshKhandeparkar commented on #4963
@gauravano https://github.com/image-sequencer/issues/898 has been assigned to @vaarigupta. Ahould that be added to the list here? I can see mapknitter issues being assigned in the listm

[2019-03-20 09:54] ananyaarun opened #5194 "Add on hover effect to profile icon on navbar"
# Description
In #5093 the navbar UI was updated to add a fontawesome icon however this shows no animation on hover

# Expected
The icon shows animation on hover like this.

![iconcss](https://user-images.githubusercontent.com/32260628/54675268-3ca71700-4b24-11e9-96de-ecf153c66b90.gif)

[2019-03-20 09:55] ananyaarun commented on #5194
Id like to work on this :)

[2019-03-20 10:25] avsingh999 commented on #5193
Hi, @CleverFool77  I found there are a feature ctrl+b and ctrl+i. If  I am wrong then correct me, please.
thanks : )

[2019-03-20 10:30] CleverFool77 commented on #5193
Hi @avsingh999 I guess this is available in simple editor but not the rich legacy editor.

[2019-03-20 10:42] CleverFool77 commented on #5194
Hi @ananyaarun I guess there was already an issue for the hover on navbar right ?

[2019-03-20 10:47] ananyaarun commented on #5194
@CleverFool77 , Correct me if i am wrong but i think that issue was to change click to on hover right ? This basically highlights the recently added profile icon on the navbar like the other nav bar items get highlighted.

[2019-03-20 10:59] IshaGupta18 commented on #5193
Even I think it already exists, in the rich editor. Legacy editor is different, it's not the same as rich.

[2019-03-20 11:04] CleverFool77 commented on #5193
Hi @IshaGupta18 Maybe I got confused with name. Actually I wanted to say that it's not available in legacy editor. And I was considering rich as simple editor and another as markdown editor.

[2019-03-20 11:07] CleverFool77 commented on #5193
Hi @avsingh999 @IshaGupta18 I've updated the the name as legacy instead of rich. Sorry for the misinformation.

[2019-03-20 11:08] madeofhuman commented on #5095
@gauravano @jywarren I want to look into this next.

[2019-03-20 11:11] IshaGupta18 commented on #5193
No worries, please ask the reviewers if this issue is valid or not. Would you mind if I work with you on this one, if approved?

[2019-03-20 11:14] Ivilili commented on #3110
Hi @jywarren can I work on this issue? I've seen that PR for this issue was abandoned

[2019-03-20 11:15] CleverFool77 commented on #5193
Sure @IshaGupta18 We have two features, Both of us can go for one :wink:

[2019-03-20 11:17] IshaGupta18 commented on #5193
Great! That would be lovely. We should wait for the reviewers to approve this issue because we don't know how useful it might be.

[2019-03-20 11:35] HarshKhandeparkar commented on #5095
Can someone explain to me what this bug is?

[2019-03-20 11:35] HarshKhandeparkar commented on #5095
What does the error mean?

[2019-03-20 12:50] madeofhuman commented on #4614
✅ Done

[2019-03-20 12:59] madeofhuman commented on #5153
@jywarren I need your thoughts on this, please:

How do I display the returned maps after searching by tags? I have two thoughts:

1. render it in the full maps/index template
<img width="1447" alt="Screenshot 2019-03-20 at 1 53 04 PM" src="https://user-images.githubusercontent.com/7345686/54685714-c7354980-4b17-11e9-9a0c-d64a2e0f0888.png">

2. render it in the map/maps partial inside the tag/show

[2019-03-20 13:46] ebarry commented on #4614
Great, thanks all! Encouraging to hear these responses so I'll keep the survey open another day or so. Thank you everyone!

[2019-03-20 14:38] karunagoyalk commented on #5055
@jywarren Is  @richa031 is working on this issue or I can take it

[2019-03-20 14:57] divyabaid16 opened #5198 "User unable to set pwd upon SIGNING IN with OAUTH"
I have signed up earlier via Github. Now when I try to log in using the username mentioned in my profile, the portal gives an error message saying `This account doesn't have a password set. It may be logged in with Github account, or you can set a new password via Forget password feature`. But when I try to log in using my email as the username, it is successful.
It seems the issue appears when so

[2019-03-20 15:17] richa031 commented on #5055
I'm still working....figuring out what exactly is going wrong with this PR

[2019-03-20 15:27] gauravano commented on #5198
Hey @divyabaid16, yes, we are looking for making improvement in our OAuth system. Would you like to help us with that?

You can ask your queries here and @SidharthBansal will also help you as he has the better understanding of our OAuth system. Thanks!

[2019-03-20 15:30] avsingh999 commented on #5193
@CleverFool77 Yes I think you are right.

[2019-03-20 15:32] avsingh999 commented on #5193
@jywarren @gauravano @SidharthBansal  what do you think about it.
thanks : )

[2019-03-20 15:53] gauravano commented on #5095
That would be great @madeofhuman!

[2019-03-20 15:54] gauravano commented on #5095
@HarshKhandeparkar Actually, this alert is shown in some instances, mostly in login flow. The reason for this is still not known.

[2019-03-20 15:57] jywarren commented on #5153
Hmm. I guess I think #2 would be best, but keep in mind that we are slowly seeking to convert all maps into note records, so we're mostly looking to stabilize this part of the code until that larger project has time to be completed. https://github.com/publiclab/plots2/issues/4072

Thank you! Big codebases like these always have these big slow-moving projects, so your work is extra critical to keep

[2019-03-20 15:57] HarshKhandeparkar commented on #5095
Uh ok. I was also not able to upload imgs. What could be the reason?

[2019-03-20 15:57] jywarren commented on #5153
So, in sum, i guess, we will eventually be showing maps alongside notes, using the notes template, so let's do something pragmatic here to solve the issue at hand until that happens. Thanks again!

[2019-03-20 16:00] jywarren opened #5199 "Reply-to-comment has a small issue (but is awesome)"
@ViditChitkara the system is live and it works! It's awesome! 🎉

I noticed that although the comment posted, i saw an error in the original form:

![image](https://user-images.githubusercontent.com/24359/54699605-ba105e80-4b07-11e9-9108-72cfe40ff438.png)

Would you mind taking a look? Thank you!

https://publiclab.org/notes/warren/01-02-2019/brainstorming-for-summer-of-code-2019#c23332

[2019-03-20 16:08] jywarren commented on #5193
Hi! I super-appreciate the ideas, though in this case I think we're slowly
trying to get rid of the legacy editor. What about this -- we used to have
a feature where you could "submit" a comment by pressing control-return --
but it doesn't work anymore. I think the code is here, but it seems broken:

https://github.com/publiclab/plots2/blob/3cc86dd72e4baf887ba4bb38b979876029c3bce4/app/assets/javas

[2019-03-20 16:11] IshaGupta18 commented on #5193
Even I thought so, that's why I was waiting for the review. Yes, I think this can be done, also, I was thinking that we could implement that when we have typed in the search bar, pressing enter should load the next page, instead of clicking on the search button. What do you think?

[2019-03-20 16:17] divyabaid16 commented on #5198
@gauravano the password fields in the edit profile section can also be improved to become more user-friendly, should I open a sperate issue for that?

[2019-03-20 16:21] VinneyJ commented on #4963
Hello there finished my FTO about 1 day ago. Can i get another one preferably on Django, HTML, CSS and(or) Bootstrap4. Or whats the next step?

[2019-03-20 16:29] HarshKhandeparkar commented on #4963
Hello! You can browse through all the issues and try to solve any one of those.

[2019-03-20 16:30] VinneyJ commented on #4963
Oh alright thanks.

[2019-03-20 16:32] HarshKhandeparkar commented on #4963
You can also browse through the issues of any repo of https://github.com/publiclab/

https://github.com/publiclab/image-sequencer has js, html and css

There are some another ruby on rails projects as well.

https://github.com/publiclab/community-toolbox is a js project. It is the website https://code.publiclab.org

[2019-03-20 16:37] #5021 closed

[2019-03-20 16:44] gauravano commented on #4963
Actually, don't add @vaarigupta's name yet as she's a Outreachy participant so should perform a task at plots2 for getting familiar with this codebase. Although, she can also do issue at image-sequencer too, that's appreciable.

Thanks!

[2019-03-20 16:48] alonpeer opened #5200 "Sorting links on tag wiki page lead to wrong page"
When visiting a tag's wiki page (e.g. https://publiclab.org/wiki/tag/air-quality), the links for sorting the table lead to the main wiki page with the sorting parameter, instead of the specific tag (e.g. https://publiclab.org/wiki?sort=last_edited).

[2019-03-20 16:50] gauravano commented on #5005
@Priyak5 you can start with this issue. Thanks!

[2019-03-20 16:58] teisenhower commented on #4963
I'd love to be added to this list and get the opportunity to contribute to the open source community. I could be helpful in several languages including PHP, CSS, JavaScript, etc.

I have some knowledge in C++ as well and would be up for a challenge.

Thank you!

[2019-03-20 17:01] madeofhuman commented on #5153
Sure thing. I'm really glad to be of help.

[2019-03-20 17:09] HarshKhandeparkar commented on #4963
Hi @teisenhower! This project is majorly ruby on rails. Are you ok with that? Also majority of publiclab's projects are JavaScript. There is a similar list in one of our projects - ImageSequencer. Should I add ur name there.
List - https://github.com/publiclab/image-sequencer/issues/842. Also since most of the publiclab repos are js, you can browse through them [here](https://github.com/publiclab?

[2019-03-20 17:09] gauravano commented on #4122
Closing this @jywarren as you mentioned, it's not needed anymore. Thanks!

[2019-03-20 17:09] #4122 closed

[2019-03-20 17:10] gauravano commented on #4980
Hey @vaarigupta, you can start working on this https://github.com/publiclab/plots2/issues/5191 . Thanks!

[2019-03-20 17:12] CleverFool77 opened #5201 "Allow visibility in password"
## Description
Currently, the password is hidden and we can't confirm that the password we wrote is correct or not. So Instead we can have a toggle icon to make the password visible.

![Screenshot from 2019-03-20 22-34-24](https://user-images.githubusercontent.com/26685258/54704630-20759b00-4b61-11e9-8ef5-d5d9c07ef8b1.png)

Thanks :)

[2019-03-20 17:12] CleverFool77 commented on #5201
I'm interested in working in this .
Thanks :)

[2019-03-20 17:14] jywarren opened #5203 "listing answered questions after deprecating Answers"
Hi @ViditChitkara -- just want to open an issue to tackle how this will work:

https://publiclab.org/questions/answered/

Both on a) how we'd list them on this page, and also b) how answered comments are represented when viewing a list of comments in a question page?

I know you've thought this through, i just want to try to sum it up in one place as we take the next space.

Thanks!

[2019-03-20 17:15] ebarry commented on #5203
Excited for your achievements on this @ViditChitkara !!!

[2019-03-20 17:16] teisenhower commented on #4963
@HarshKhandeparkar Thank you for your reply! Yes if you could please add my name to that JS Project list that would be great.

Ruby on rails is a language I am not familiar with unfortunately. But it seems like I should pick it up.

Thank you again!

[2019-03-20 17:21] HarshKhandeparkar commented on #4963
Ruby on rails is a framework for the language ruby. This framework is used for creating blogs etc.(i guess). Even I have never used ruby. So I will mention from the ImageSequencer js repo.

[2019-03-20 17:25] teisenhower commented on #4963
@HarshKhandeparkar Thank you for the clarification on that!

[2019-03-20 17:33] Priyak5 commented on #5005
@gauravano okay , thank you.

[2019-03-20 17:39] cesswairimu opened #5204 "Investigate stats results"
While adding a range to graph on tags stats I noticed some data was being emitted when using the new method https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L197-#L208

This is to make the same is not happening in /stats page and also add tests for the method.

[2019-03-20 17:51] CleverFool77 commented on #5201
Hi @jywarren. I was trying out this issue in my local since a day. And In that time, I found it to be a most suitable solution in JS. And while doing opening the PR, I remembered that I forgot to open the issue for this. That's why this had a commit of change even before the issue was open. :3

[2019-03-20 17:56] jywarren commented on #5201
:-) thank you!!!

On Wed, Mar 20, 2019 at 1:51 PM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-03-20 18:07] aggarwal19 commented on #5045
Actually, I already did the installation process in my Linux OS. But by
mistake, I changed the usr and dev folder permissions from 777 to 754 , due
to this I have to boot the system. So, now I'm doing the booting of the
system and the installation process again.Sorry for the delay!

Thank you,
Shridhi

On Wed, 20 Mar 2019, 1:29 a.m. Ananya Arun, <notifications@github.com>
wrote:

[2019-03-20 18:08] ViditChitkara commented on #5199
Sure, will have a look!! Maybe some js related issues!

[2019-03-20 18:15] ananyaarun commented on #5045
No problem Good luck :) !!

[2019-03-20 18:32] ViditChitkara commented on #5203
Thanks a lot @ebarry , @jywarren has equally helped me with this!! A big thanks to him too!
@jywarren For b), currently they are just like normal comments, should there be a separate indication for them? But then I guess we'll somehow have to figure out which comments were originally answers. For a) Should we rename the answered tab or something? and the questions which have 'answered' tag?
Thanks

[2019-03-20 18:36] gauravano commented on #5182
@publiclab/plots2-reviewers @publiclab/reviewers

[2019-03-20 19:10] gauravano commented on #5180
As "Subscribe to answer questions" button subscribes a user to `question:kits` in above case so we can mention that only as button text **Subscribe to answer questions** seems confusing.

So, i am suggesting to use "Get notified whenever someone ask questions about the **kits**"

What do you think?

[2019-03-20 19:21] divyabaid16 commented on #4932
Is this issue still open?
I would like to work on this.

[2019-03-20 19:22] gauravano commented on #4941
I went through each commit of #4902 and found that the travis build didn't run when the bug introducing commit is made mistakenly :point_down:

![travis_build_skipped](https://user-images.githubusercontent.com/20878070/54712951-866b1e00-4b73-11e9-9400-2391435f58bf.gif)

[2019-03-20 19:25] gauravano commented on #4941
As seen in the above Gif the small refactor commit doesn't show any Travis build. But, I think subsequent builds should've found the bug but don't know why no test was able to find it.

[2019-03-20 19:29] gautamig54 commented on #5090
@CleverFool77 Thanks! I am working on the 3rd task. I'll surely ask for help if need be 👍

[2019-03-20 19:40] ananyaarun commented on #5180
Yes @gauravano that would be less misleading to a new user. But will the text "Get notified whenever someone ask question about the kits" not become too long for a button ? Can we make this a clickable link instead ?

[2019-03-20 19:59] gauravano commented on #5114
the line you referred take the control to here- https://github.com/publiclab/plots2/blob/4fc2e9f0d54485dbfebb0d3ab070d9d2ce9497c7/app/controllers/user_sessions_controller.rb#L3

It behaves just as render template - https://stackoverflow.com/questions/5045222/difference-between-render-action-and-render-template

I think "Password is not valid" message is default one shown by rails authlogic?

[2019-03-20 20:09] divyabaid16 commented on #5090
I'm actually confused whether to send the PR for the card ui or not. Because it's a carrier forward of my previous 2 PRs.

[2019-03-20 20:10] namangupta01 commented on #4962
Okay so I searched there and there is only one such event that had occurred. I think we can try this one more time and check if it will again give error or not. What do you think?

[2019-03-20 20:10] ananyaarun commented on #5114
Actually it doesnt show an understandable message. This is what comes.

![login](https://user-images.githubusercontent.com/32260628/54715757-32b00300-4b7a-11e9-94df-89c40d07324f.png)

I thought of replacing this render template with a flash msg followed by redirect.

[2019-03-20 20:18] gauravano commented on #5114
I think flash message will not be that appropriate to inform/give message such as password validation or captcha fail, etc, as user can ignore flash message easily

[2019-03-20 20:26] cesswairimu opened #5207 "ActiveRecord::Fixture::FixtureError: table "comments" has no column named "reply_to"."
I just rebase my branch with the latest master and now all my tests are failing with this error

[code]
:confused: Anyone else experiencing this? Any ideas for fixes or causes?

[2019-03-20 20:29] namangupta01 commented on #4962
I just replied, let see. Fingers Crossed!

[2019-03-20 20:35] ananyaarun commented on #5114
Hmm makes sense, But isnt this msg a bit unrelated ? As in why display "1 error prohibited this user session from being saved " to an external user ?

[2019-03-20 20:36] namangupta01 commented on #4962
It neither get added nor any sentry event comes. Strange :/

[2019-03-20 20:47] namangupta01 commented on #4962
So we are getting the replies, just checked in logs.
![Screen Shot 2019-03-21 at 2 14 24 AM](https://user-images.githubusercontent.com/20709985/54717960-6d686a00-4b7f-11e9-9cc5-59a6eeda807c.png)

[2019-03-20 20:54] gauravano commented on #5207
Mentioning @jywarren @ViditChitkara as this issue seems related to https://github.com/publiclab/plots2/pull/4537/ . Thanks!

[2019-03-20 20:55] jywarren commented on #5015
Much much improved from a half-day's worth of data:

Yesterday: Typical response 40s / Problem response 54s - https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1552995780/13h48m/endpoints?query=Srch%3A%3ASearch%20%5BGET%5D%20srch%2Fnotes

Today: Typical response 10s / Problem response 28s -  https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1553065200/13h48m/endpoints?query=Srch%3A%3ASearc

[2019-03-20 20:56] namangupta01 commented on #4962
Since there are no errors occurs -- after seeing the log file. So there is some bug in the code which is bypassing the comment from being added. And the bug is in `check_and_add_tweets` method of the comment.rb file. There are multiple places where we can check. But first of all, we can check if it is able to get the username from the UserTag table from OAuth login from Twitter. Another way we can

[2019-03-20 20:57] jywarren commented on #5015
I'm wondering if typical is now 10s, that's actually the time it takes when it's not like "under a DOS attack" -- and the time before the db query that appears to make it slow is just time queued:

![image](https://user-images.githubusercontent.com/24359/54718599-3ff4cf80-4b31-11e9-9139-b2505a7a601c.png)

[2019-03-20 20:58] jywarren commented on #5015
Instead of Ruby time, could it be queueing time? just waiting?

[2019-03-20 21:02] gauravano commented on #5114
That's how devise show errors

[2019-03-20 21:23] Chrisyee22 commented on #4932
I am currently working on this.

[2019-03-20 21:23] jywarren commented on #5207
Ah, there was a new migration added - i think you need to run `rake
db:migrate`!

On Wed, Mar 20, 2019 at 4:27 PM Cess <notifications@github.com> wrote:

[2019-03-20 21:24] gauravano commented on #5207
tried that, no success

[2019-03-20 21:34] gautamig54 commented on #5090
@jywarren @CleverFool77 I have done the 3rd task and have submitted a PR for the same. Pl review it.

[2019-03-20 22:42] cesswairimu commented on #5207
Seems we do not have `reply_to` column in env test.
model from console in test
[code]
in development environment
[code]

[2019-03-21 03:07] #4540 closed

[2019-03-21 03:15] jywarren commented on #4932
Hi Divya, perhaps you could look over Chrisyee22's code to offer input or
suggestions until I or another reviewer has a chance? Thanks!

On Wed, Mar 20, 2019, 5:23 PM Chrisyee22 <notifications@github.com> wrote:

[2019-03-21 07:18] CleverFool77 opened #5212 "open a modal instead of prompt"
## Description
Currently, The alert prompts after clicking on the insert link icon.

![Screenshot from 2019-03-21 12-45-00](https://user-images.githubusercontent.com/26685258/54737794-8dc41300-4bd7-11e9-9975-e2f57e5b576c.png)

Instead we can have a modal open up if we are clicking on the insert link.

[2019-03-21 07:18] CleverFool77 commented on #5212
@publiclab/plots2-reviewers Is this issue correct ?

[2019-03-21 07:19] CleverFool77 commented on #5212
I would like to work on this.
Thanks !!

[2019-03-21 07:20] CleverFool77 commented on #5212
If approved, I would like to work on this.
Thanks !!!

[2019-03-21 08:35] vaarigupta commented on #5191
Thanks a lot .I look into it and continue with it

[2019-03-21 08:39] vaarigupta commented on #4980
I

Ya sure I look into it
Thanks @gauravano

[2019-03-21 08:58] techchic commented on #5191
Hello can I work on this as well

[2019-03-21 08:59] techchic commented on #5191
Hey can I work on this as well?

[2019-03-21 11:02] cesswairimu opened #5215 "Refactor nids in tag model"
### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### 📋 Step by Step

- [ ] 🙋 **Claim this issue**: Comment below. If someone else has claimed it, ask if they've opened a pull request already and if they're stuck -- maybe you can help them solve a problem or move it along!

**Problem**:

I extracted tids

[2019-03-21 11:03] cesswairimu commented on #5215
@techchic here you go

[2019-03-21 11:04] techchic commented on #5215
Great! Thanks

[2019-03-21 11:04] ananyaarun commented on #5131
@VinneyJ , Do you need any help ? How is the issue going ? Feel free to ask any of us if u get stuck :smiley:

[2019-03-21 11:12] cesswairimu commented on #4138
Hello @vaarigupta.
It is about caching data in various places in the site to fasten page load esp on this page which loads a lot of dynamic data  http://publiclab.org/stats
Also I want to optimize the queries in http://github.com/publiclab/plots2/blob/master/app/controllers/stats_controller.rb on this issue too. If you are interested in doing any of these we can break down this to minit-asks and w

[2019-03-21 11:17] ananyaarun opened #5216 "Problem in Post your work formtting tool bar"
# Description
In the get involved , post your work section, the toolbar in the 4th step doesn't work as required.
The last four buttons are ambiguous and don't open on click and A description of what the button does doesn't open up on hover.

![post](https://user-images.githubusercontent.com/32260628/54748850-da6c1600-4bf8-11e9-9e8a-9ab48b0d52f9.gif)

# Expected
If these buttons are of no use they

[2019-03-21 11:18] ananyaarun commented on #5216
@publiclab/plots2-reviewers , Thoughts on this problem ?

[2019-03-21 11:57] divyabaid16 opened #5217 "Addition of small display picture"
Can we add a small display picture on the top right corner, the same as we have in the Github? It's like a thumbnail. This might also help the user to identify whether he/she's logged in or not.
Currently, when a user uploads a profile picture there's no thumbnail, it might be a good idea if the site display's a thumbnail on the top right.

[2019-03-21 11:58] divyabaid16 commented on #5217
@publiclab/plots2-reviewers can this be an issue to be worked upon?

If yes, I would like to work on this!

[2019-03-21 12:29] VinneyJ commented on #5131
Hello @ananyaarun  i had finished the issue long ago  and proposed the change. Thank you.

[2019-03-21 12:39] ananyaarun commented on #5131
@VinneyJ , Thats great !. Have u opened a PR ? If so reference this issue number, I dont seem to find ur PR :)

[2019-03-21 12:45] VinneyJ commented on #5131
I just forked it, made a branch and edited the link commented then proposed the change. How do i go about the PR please help. Sorry i didn't know about it(PR).

[2019-03-21 12:58] IshaGupta18 commented on #5191
Hey this is actually assigned. You can look for other FTOs to work on!
Thanks a lot!

On Thu, Mar 21, 2019, 2:29 PM Tech chic <notifications@github.com> wrote:

[2019-03-21 12:58] ananyaarun commented on #5131
@VinneyJ , no problem. So after making changes in ur fork, U will see an option call "Compare and Pull request". Clicking on this u shall be able to open a pull request. Making changes on ur local is different from merging the changes to this repository. I hope this helps. First try opening a pull request and we can help u out from there :) Thanks !

[2019-03-21 13:09] VinneyJ commented on #5131
Awesome let me try.

[2019-03-21 13:33] VinneyJ commented on #5131
I did that  and merged it. Have you seen it on you end? i gave it #6060

[2019-03-21 13:37] ananyaarun commented on #5131
@VinneyJ , Nice work but i see u merged it to ur forked repository. U need to send a Merge request to this plots2 repository ie the main one not ur fork.

[2019-03-21 13:39] VinneyJ commented on #5131
![Screenshot from 2019-03-21 16-37-20](https://user-images.githubusercontent.com/39193976/54755829-e2778600-4bf7-11e9-9493-73c6eb1e9876.png)

[2019-03-21 13:40] VinneyJ commented on #5131
Oh okey let me continue trying. Till it works.

[2019-03-21 13:44] ananyaarun opened #5218 "Make the link to home page more prominent on website [Discussion]"
# Description
The link to home page on the website ie "Public Lab" visible on the top left corner of the navbar is a bit ambiguous to users as it doesnt stand out as a "link" to home page. Hovering over it causes no effect at the moment either.

![publiclab](https://user-images.githubusercontent.com/32260628/54756036-5ec89400-4c0d-11e9-938a-aee76a7629c9.png)

# Expected

- On hover effect can be a

[2019-03-21 13:45] ananyaarun commented on #5218
Any thoughts on this change ? I'd like to work on this once finalized :) Thanks.

[2019-03-21 14:03] VinneyJ commented on #5131
@ananyaarun seen it?

[2019-03-21 14:31] gautamig54 commented on #5090
On the tags page, the number of tags shown on the left are more in number which results in empty space on the right, below the graph. I think some amendments should be done regarding this in the design. What say @jywarren  @CleverFool77?

![Screen Shot 2019-03-21 at 7 58 16 PM](https://user-images.githubusercontent.com/35326753/54759421-0f399680-4c14-11e9-8d98-e1afe88d0fe1.png)

[2019-03-21 14:36] gautamig54 opened #5222 "Remove the show graph link on the tags page"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-03-21 14:37] gautamig54 commented on #5222
@gauravano Kindly look into this and if correct, make this as an FTO issue! Thanks!

[2019-03-21 14:40] techchic commented on #4963
Hello my name is Dorcas and I am interested in FTO issues

[2019-03-21 14:43] ananya commented on #4963
Hello, I am looking for a first timer only issues. Please assign me one

[2019-03-21 14:45] ananyaarun commented on #5131
Yes i see it. Next time don't open multiple PR's for the same issue. It can be edited in one PR itself. Thanks :)

[2019-03-21 14:53] VinneyJ commented on #5131
Thank you that happened while i was trying so many times. But now am good at it. I learnt.

[2019-03-21 15:02] CleverFool77 opened #5223 "Add a modal showing the message of deprecation for legacy editor"
## Description

I noticed few bugs and additional features required in legacy editor and thought of working on it.
When I opened the issue, one of the mentors mentioned that the legacy editor is slowly being deprecated.
https://github.com/publiclab/plots2/issues/5193#issuecomment-474905205

## Expected
In case a newbie starts working on some bugs or new feature of that editor, we can show in the m

[2019-03-21 15:03] CleverFool77 commented on #5223
@publiclab/plots2-reviewers Is this Issue correct ?
If approved, I would like to work on this. :)

[2019-03-21 15:05] ebarry commented on #4614
Thanks a bunch everyone -- we got 63 responses! @jywarren and I will put together a report and share it in a couple weeks.

[2019-03-21 15:06] gauravano commented on #5223
@publiclab/community-reps is this final call?

[2019-03-21 15:08] gauravano commented on #4614
Will be waiting to see the report :see_no_evil:

[2019-03-21 15:09] CleverFool77 commented on #5212
If https://github.com/publiclab/plots2/issues/5223 is approved then this issue would be closed I guess. :thinking:

[2019-03-21 15:19] gauravano commented on #4963
Hi @techchic and @ananya, added your names to the above list and we'll ping you soon whenever FTO issues are created. Thanks!

[2019-03-21 15:21] gauravano commented on #5222
hey @gautamig54, yes, it will make a good FTO. Would you like to convert it in FTO by following the steps mentioned here https://github.com/publiclab/plots2/issues/4963?

[2019-03-21 15:27] CleverFool77 commented on #5179
@jywarren How about these points -
* Ask to read code of conduct
* Give a link to gitter or chat channel
* Provide a link to first-timer issues

[2019-03-21 15:30] gautamig54 commented on #5222
@gauravano Yea, sure! Thanks!

[2019-03-21 15:31] GettyOrawo commented on #4603
Hey @cesswairimu, @IshaGupta18  and @jywarren I have submitted where I'm at with this issue on the Pull Request below since I'm worried that I may be taking forever on it:

https://github.com/publiclab/plots2/pull/5224

I'm finding it a little time consuming to learn how to display the stats as the mockup specified. I've been over articles and tutorials on p2.js and matter.js. It's actually doable

[2019-03-21 15:33] gautamig54 commented on #5222
@publiclab/reviewers Kindly label this issue as FTO. Thanks!

[2019-03-21 15:34] ananyaarun commented on #5096
@gauravano , Can we add info regarding "Best in X browser" etc or "recommended in Y browser" in the readme or something to ensure no one opens it on IE to find nothing is working ?

[2019-03-21 15:35] cesswairimu commented on #4603
Hey @GettyOrawo its looking great and yeah sure we can refine later...If you could just fix the codeclimate issues we should be good. Thanks so much for working on this.

[2019-03-21 15:35] #5131 closed

[2019-03-21 15:36] ananyaarun commented on #5114
Ok so if that's the case i assume we cant change it right ? So shall we let the error msg be then ?

[2019-03-21 15:36] IshaGupta18 commented on #4603
Yes absolutely, this is amazing work! And don't worry about this too much
now, focus on your application, this is really good enough! Thanks a lot!

On Thu, Mar 21, 2019, 9:05 PM Cess <notifications@github.com> wrote:

[2019-03-21 15:38] ananyaarun commented on #5150
@gauravano , U were right its due to missing instructions in this case that the page looks right aligned. center aligning it would affect the other pages. We could add the same kind of instructions here then maybe ?

[2019-03-21 15:38] GettyOrawo commented on #4603
Awesome Thank you so much. Let me get to fixing that.

[2019-03-21 15:39] gauravano commented on #5222
Please add the link where changes need to be done and what change

[2019-03-21 15:40] gauravano commented on #5150
Are those instructions relevant to other pages?

On Thu, Mar 21, 2019 at 9:08 PM Ananya Arun <notifications@github.com>
wrote:

[2019-03-21 15:40] CleverFool77 commented on #5090
HI @divyabaid16 I wanted to ask which two previous PR. Isn't it one PR which is for sort ?

[2019-03-21 15:41] gauravano commented on #5218
We have "Dashboard" in navbar. Isn't that sufficient?

[2019-03-21 15:48] GettyOrawo commented on #5222
Hello @gauravano and @gautamig54 . Is it okay if I take this up?

[2019-03-21 15:51] CleverFool77 commented on #5090
Oh I see it now regarding what you mean about 2 PRs, @divyabaid16. I guess we need to wait. :thinking:
@gautamig54 Lets see what's there in new UI for this.

[2019-03-21 15:51] ananyaarun commented on #5150
The thing is /post etc follow some steps so adding instructions here is helpful.

![centeralign1](https://user-images.githubusercontent.com/32260628/54765054-d81cb280-4c1e-11e9-8593-2ce2a7282c7c.png)

I'm not so sure what instruction can be added here since its just title followed by text description.
Or can we just add step1 - add title step 2- content description in this case ?
As u said the sam

[2019-03-21 15:53] gauravano commented on #5095
Locally or in prod?

On Wed, Mar 20, 2019 at 9:27 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-21 15:56] gauravano commented on #5198
Go ahead!

[2019-03-21 15:56] GettyOrawo commented on #4603
Alright all tests pass okay now. :slightly_smiling_face:

[2019-03-21 15:57] ananyaarun commented on #5218
Yes absolutely, I may be wrong but Consider a user not logged in/unregistered . Just visiting the website to read notes and wikis. To get to the home page they dont have a dashboard option and have to click on Public Lab which doesnt really look like a link to homepage. Without knowing this the user may just keep using back arrow to navigate.
For a logged in user i see both dashboard and Clicking

[2019-03-21 15:58] HarshKhandeparkar commented on #5095
prod!

[2019-03-21 16:00] HarshKhandeparkar commented on #5095
I have good internet. 8MB/s upload

[2019-03-21 16:19] steviepubliclab opened #5225 "Repeating info on creating user name"
We were creating a new login and found that the user name we wanted was taken, but to figure this out we needed to submit the form, and when we did the data we had put in was deleted and we had to recreate it. It also brought us to a whole new page rather than the popup we were on.

Is there a way to store this on the page so it doesn't refresh to a blank "create a login" page?

We were using Safa

[2019-03-21 16:22] GettyOrawo commented on #4603
@cesswairimu and @IshaGupta18 can I get another issue to work on? Or should I look for a bug to fix and create an issue?

[2019-03-21 16:24] CleverFool77 commented on #5223
There is already a notice given with message of `This is the legacy editor. For the new rich editor [link]`
We can add some lines which was mentioned in Issue.

![Screenshot from 2019-03-21 21-50-54](https://user-images.githubusercontent.com/26685258/54767739-d5708c00-4c23-11e9-8bea-2e85cdc4e13c.png)

[2019-03-21 16:30] jywarren opened #5226 "Reply to Comment emoji placement - move them above responses?"
This is a small design issue we probably need to brainstorm a tiny bit before making a change, but the emoji shown when responding to a comment appear below the comments' responses:

![image](https://user-images.githubusercontent.com/24359/54768139-f5c52a00-4bd4-11e9-8c90-6efad5e9e539.png)

@ViditChitkara what do you think about this?

[2019-03-21 16:32] cesswairimu commented on #4925
@gauravano @jywarren @sagarpreet-chadha @SidharthBansal

This is what I have in mind for this graph.
![sy59iglx](https://user-images.githubusercontent.com/17081074/54767485-486f0800-4c0e-11e9-9ed0-d88c2d4b531c.png)

The bar graphs showing the number of subscribers subscribed during a period and the area graph showing the growth number of subscribers with time for each tag.

However I am blocked on

[2019-03-21 16:44] CleverFool77 commented on #5223
Maybe something like this -
![red](https://user-images.githubusercontent.com/26685258/54769100-92fc7e80-4c26-11e9-959f-9b08318068d5.gif)

[2019-03-21 16:47] ViditChitkara commented on #5226
Maybe we can move the 'reply to comment' text box out of the main comment box??
Also if there are a lot of replied comments, the main comment box will be too big.
Any ideas?

[2019-03-21 16:49] divyabaid16 commented on #5217
To explain better, currently there is an icon at top right corner `fa fa-user-circle`. When I upload my profile pic, that must change to the pic that I have uploaded when I save the changes.
But, even after upload, it is showing the same icon.
I wish to solve this issue here and resulting which I would get the image of the picture I uploaded instead of that icon.

[2019-03-21 16:51] ViditChitkara commented on #5203
@jywarren next I'll be starting with this, any ideas about how this is going to work out?

[2019-03-21 16:52] CleverFool77 commented on #5226
Hi
Can we close the comments ..like it happens in threaded comments. If a person will click,then only it will open the replies.

[2019-03-21 16:53] kuja24 commented on #5065
I have mailed on  web@publiclab.org . So could you please send me an invite to work on cloud9.

[2019-03-21 16:54] publiclab-mimi opened #5227 "Suggestion for a text edit on the signup page"
Hey team,

A suggestion for an edit to the signup page to make the Code of Conduct/Privacy Policy more visible. If we could move the following line of text above the sign up button it will be more prominent for new users & (in theory) more widely read.
Text: "By signing up, you agree to the Code of Conduct, which applies to all online and in-person spaces managed by the Public Lab community and no

[2019-03-21 16:59] CleverFool77 commented on #5226
And the emoji should be above. :thinking:

[2019-03-21 17:03] CleverFool77 commented on #5222
Hi @GettyOrawo You have done first timer before. Would you mind if a new user who haven't contributed yet is given this chance. :thinking:

[2019-03-21 17:08] ViditChitkara commented on #5226
That's a good idea, however if we want that the entire discussion should be available at a glance, will it be a good idea to manually view all replies? Just asking for a possibility.
Also, GitHub auto loads comments as we scroll down. For this maybe we'll have to somehow move the replied comments out and will have to find a way that they appear to be linked to the parent comment.

[2019-03-21 17:11] ViditChitkara commented on #5226
@CleverFool77 , @jywarren , what do you think?

[2019-03-21 17:15] CleverFool77 commented on #5226
How about paginate for more comments ?

[2019-03-21 17:20] jywarren opened #5229 "Comment image uploading not working"
I think this may be related to the new reply-to-comment feature -- @ViditChitkara could you take a look at this one? I don't see any error message but I did see this warning:

[code]

Related? I was testing both dragging an image into the comment field (not a reply) and also clicking "choose an image" in the bottom bar of the comment field, and neither triggered any reaction. Thank you !!!

[2019-03-21 17:21] jywarren commented on #3535
We've deprecated Answers and converted them into Comments, but have a new similar bug -- moving to #5229 now! Thanks!

[2019-03-21 17:21] #3535 closed

[2019-03-21 17:31] jywarren commented on #4732
Daily/weekly fix is live! Checked it off.

![image](https://user-images.githubusercontent.com/24359/54772233-55bfce80-4bdd-11e9-8a2a-a884dce40922.png)

I noticed not all images are loading so I added a new item to the checklist above.

The image URLs were:

profile pic: http:///system/profile/photos/1/thumb/bio-jeff-warren.jpg

post picture: http:///system/images/photos/000/030/324/medium/IMG_2019

[2019-03-21 17:37] first-timers[bot] opened #5230 "Add full paths to email digest images"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-21 17:37] aggarwal19 commented on #5045
@gauravano  Hi ,I want to ask that which version of ruby we have to use in this project?
because the documentation provided on public lab repository said that we have to use ruby2.3 but when i was trying to use the plots2 folder on terminal it shows that required ruby version is not installed "ruby 2.4.4" .
so, now what i have to do ?

Thank you,
shridhi

[2019-03-21 17:38] jywarren commented on #5018
Hmm, i just tried again at https://github.com/publiclab/plots2/tree/first-timers-digest-email and it didn't open...

[2019-03-21 17:40] jywarren commented on #5018
[code]

[2019-03-21 17:42] hc-barker commented on #5230
I would like to take this issue.

[2019-03-21 17:44] jywarren commented on #5018
Opened https://github.com/hoodiehq/first-timers-bot/issues/213

[2019-03-21 17:46] jywarren commented on #5230
Thank you, this one is reserved for @techchic who had asked for one earlier - but I'll add you to our list and we'll get you one asap! Thanks!!!

[2019-03-21 17:46] jywarren commented on #4963
@techchic here you go! https://github.com/publiclab/plots2/issues/5230

[2019-03-21 17:47] jywarren commented on #4732
Made a FTO for this! https://github.com/publiclab/plots2/issues/5230

[2019-03-21 17:49] hc-barker commented on #5230
@jywarren Thanks!

[2019-03-21 17:55] techchic commented on #5230
Thanks, @jywarren I am working on this one

[2019-03-21 18:06] jywarren commented on #5230
thank you both too!!! :-)

On Thu, Mar 21, 2019 at 1:55 PM Tech chic <notifications@github.com> wrote:

[2019-03-21 18:11] jywarren commented on #5226
:-) these are all cool ideas! Let's try to make a list of them, but let's
also think about ways to do this that would minimize the possibility of odd
errors and bugs -- the more complex it is, the harder it will be to
maintain, you know? Like, we could make everything collapsible with a <
button but make it shown by default, not hidden by default, so if something
JavaScript breaks, the page is not

[2019-03-21 18:23] jywarren commented on #5150
We actually stripped out a lot of extra content to make the questions form simpler, but help with the centering would be great! I believe it's possible with Bootstrap's `col` classes: https://getbootstrap.com/docs/3.3/

Thanks!

[2019-03-21 18:27] jywarren commented on #4603
This is an EPIC first PR! Wow!!! Congratulations, and yes, we're always in support of doing an initial simple project and building complexity in follow-up PRs! Wow let me review now. Thank you!!!! and fantastic work to all!

[2019-03-21 18:31] ananyaarun commented on #5150
Cool I'll take a look at it :smiley:

[2019-03-21 18:32] jywarren commented on #5203
So first, i think we need to think about how we mark a comment as "accepted" --

the simplest, to me would be to "react" to it with a ✅  emoji, and treat that as "accepted"? Or we could think of using 👍 in the sense of "ok, great, thank you" -- maybe we need input from @publiclab/community-reps on which is more appropriate to replace the "accepted comment" status?

But in the meantime, we could be

[2019-03-21 18:33] jywarren commented on #5203
Then, for the /questions/answered page, we can just show any question that has had a comment (for now) -- later we could try to join whether the comment was "accepted" -- is that ok?

[2019-03-21 18:46] edwd42 commented on #5215
Hi cesswairimu. I am new to open source and public lab.  I'm going to attempt this issue.  Looks easy, but not sure what will happen when I click commit.  Also, not sure where or how to run the tests.  Guess I'll find out soon enough :sweat_smile:

[2019-03-21 18:48] ananya commented on #4138
If @vaarigupta is not working on the issue then I would like to work on this. I am new to the organsation and would be happy to contribute.

[2019-03-21 18:56] techchic commented on #5215
Hey @edwd42 I am currently working on this.

[2019-03-21 18:59] cesswairimu commented on #5215
Hi @edwd42 will add your name for to a list of people looking for ftos pretty soon you should get an issue. and don't worry we are here to help. :smile: Thanks

[2019-03-21 19:07] edwd42 commented on #5215
oh hey sorry techchic.  didn't see that.

[2019-03-21 19:21] gautamig54 commented on #5090
@CleverFool77  Featured topics have not been added to the new UI design?

[2019-03-21 19:46] ananyaarun commented on #5150
![editor](https://user-images.githubusercontent.com/32260628/54780541-065eba00-4c40-11e9-9726-3e50814066d4.png)

@jywarren , @gauravano  How does this look ? I centered it and we dont need to add unwanted instructions as u said :)

[2019-03-21 19:50] #4965 closed

[2019-03-21 20:01] jywarren commented on #5150
Looks great, can you try it out at narrow screen widths too to be sure it
works on different devices? Thanks!

On Thu, Mar 21, 2019 at 3:46 PM Ananya Arun <notifications@github.com>
wrote:

[2019-03-21 20:03] jywarren commented on #5222
Just a note, i think this could be in a database-backed feature, not in the
codebase? May be worth checking first!

On Thu, Mar 21, 2019 at 11:48 AM GettyOrawo <notifications@github.com>
wrote:

[2019-03-21 20:06] SKashyapD commented on #4660
hello everyone

1.@jywarren I have done some work on our zooniverse project and I uploaded a random aerial picture check our workflow it looks great
![Screenshot from 2019-03-22 00-47-36](https://user-images.githubusercontent.com/44786462/54779384-0b6e3a00-4c3d-11e9-920d-319df18b4f60.png)
2.we need to upload some data to start classifying. Making a CSV file would be great with longitude and latitu

[2019-03-21 20:07] ananyaarun commented on #5150
Here is a Gif on narrow screen width.
Does it look fine ?

![mobile](https://user-images.githubusercontent.com/32260628/54781725-12984680-4c43-11e9-89ad-f66228b1ec80.gif)

[2019-03-21 20:14] gautamig54 commented on #5222
@jywarren yes, it is not present in the codebase. How can this issue be resolved?

[2019-03-21 20:19] #5204 closed

[2019-03-21 20:24] SKashyapD commented on #4660
@Zengirl2 do you have any idea how much images we can able classify in 2-3 months?

@jywarren if we are able to classify enough images on zooniverse then after making a neural network model on OpenStreetMap data we can able to add our zooniverse data to classify environmental issues which is know as batch processing in machine learning.

[2019-03-21 20:29] #5201 closed

[2019-03-21 20:31] jywarren commented on #4925
ahhhhhhh node_selection has no timestamp? wait, what about tag_selection?

If tag_selection has none, we may be stuck! I mean, we could start tracking
now, but we'd have no data from the past...

On Thu, Mar 21, 2019 at 12:33 PM Cess <notifications@github.com> wrote:

[2019-03-21 20:33] jywarren commented on #5222
ah, so this is run from a database record. For better or worse, only admins
can change it - i'm happy to remove it, great catch!

On Thu, Mar 21, 2019 at 4:14 PM Gautami Gupta <notifications@github.com>
wrote:

[2019-03-21 20:37] jywarren commented on #5227
Thanks for the suggestion, Mimi! I think we could do this relatively simply
by moving all the below-button text above the button, but do you want
/some/ above and /some/ below, or is all above OK?

We'd move these lines up to line 100 of the file:

https://github.com/publiclab/plots2/blob/3200f4bca5830dc2c5cd49d0147b09cfef84564d/app/views/users/_create_form.html.erb#L122-L124

Thanks!

On Thu, Mar

[2019-03-21 20:39] jywarren commented on #5225
Yes i think someone is thinking about client-side validation -- @gauravano
do you remember who this was? Maybe @cleverfool77 would be interested in
trying this out!

There is an API query we could make from JavaScript as you type; we'd want
to be careful using it too much, but maybe a couple seconds after you enter
the username, it could query:

https://publiclab.org/api/srch/profiles?query=jywarr

[2019-03-21 20:40] jywarren commented on #5179
oh, very nice ideas!

On Thu, Mar 21, 2019 at 11:28 AM Lekhika Dugtal <notifications@github.com>
wrote:

[2019-03-21 20:46] jywarren commented on #4660
This is very interesting! Would you be interested in trying to use some of
the imagery from Hurricane Harvey that was posted in the link I shared?
Cool!

On Thu, Mar 21, 2019 at 4:24 PM SKashyapD <notifications@github.com> wrote:

[2019-03-21 20:48] jywarren commented on #5217
Oh, this sounds interesting... but the image is so small? I like where
you're going with this but perhaps we should pursue this idea on the design
for the new People page -- see the bottom of
https://publiclab.org/notes/edie_blues/01-16-2019/what-do-you-think-about-this-design-for-the-people-page

https://publiclab.org/people is where we're thinking of adding this kind of
small circular image. Wan

[2019-03-21 21:08] publiclab-mimi commented on #5227
I can defer to the group on the some above/some below point, but I think all above would be a simple solution to emphasizing what pressing “sign up” actually means.

[2019-03-21 21:25] SKashyapD commented on #4660
I download the set of images from this [link](https://storms.ngs.noaa.gov/storms/harvey/index.html#16/30.0803/-94.1133)
should I upload the whole data set or few images ?
@jywarren

[2019-03-21 21:28] Zengirl2 commented on #4660
@SKashyapD This is awesome! I was going to suggest the same as @jywarren about images. Can you explain exactly what you mean by tags in this case? Do you mean tags for people to find the info or tags of more examples of pollution or other indicators that interest us? Also, as far as how many images we can classify--do you mean when people look at them on Zooniverse to mark what they find or do you

[2019-03-21 22:46] SKashyapD commented on #4660
Thanks @Zengirl2 for such a wonderful reply.
1.Images are too big which will make the tagging task difficult should I crop them first? or there is any other way to do so.
2.Yes tags for type of pollution and indicators or anything you can found useful
3.Actually I wanted to know the response of volunteers we can expect?

thanks everyone

[2019-03-22 02:58] sashadev-sky commented on #5113
(This was specifically for liking notes)

javascript driving the like button functionality: https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/like.js

- initially used promises here to slow down the rate requests can come in if the user mashes the button, then @jywarren suggested I debounce it, so I added that in the erb file to wrap the event listener in:
https://github.com/p

[2019-03-22 04:17] ViditChitkara commented on #5203
That's a good idea to add a ✅ emoji to it. Yes, we can identify all
accepted answers. However, we'll have to find out a way to find the
corresponding comments which were created.
One could be, comments having the exact same timestamp as answers (if not
comparing the content)? Will this be a good idea??
Then we could add the emoji to it? We can call it "Verified". And this
emoji won't be available

[2019-03-22 04:19] ViditChitkara commented on #5229
I'll have a look!

[2019-03-22 05:59] GettyOrawo commented on #4603
Thank you @jywarren ! :smile:

[2019-03-22 06:16] CleverFool77 commented on #5090
@gautmig54 Yes it has not been added yet. I asked @jywarren about this question in these comments above.
Thanks :)

[2019-03-22 06:18] cesswairimu commented on #4925
Oh sorry I meant `tag_selection'

[2019-03-22 07:17] shubhank-saxena commented on #5065
@kuja24 still up for the task? Do let me know if you are facing any difficulties as I have set up the environment and codebase. Will be happy to help!

[2019-03-22 07:23] shubhank-saxena commented on #5065
@madeofhuman @gauravano has this issue been resdolved? Because I don't see the metadata now on the signup form
![image](https://user-images.githubusercontent.com/29003047/54806903-76515c80-4ca1-11e9-976c-50bde16383b7.png)

[2019-03-22 07:49] msarfrazanwar commented on #5162
How can I see the changed preview?

[2019-03-22 09:24] shubhank-saxena commented on #5065
@madeofhuman I would like to claim the problem,as I have completed all of my setup procedures

[2019-03-22 11:52] divyabaid16 commented on #5162
Have you set up your local host?

[2019-03-22 12:36] vaarigupta commented on #4138
ya I can do. Please guide me how to start working on it?

[2019-03-22 12:43] vaarigupta commented on #4540
Ok that's cool. I will look for some other issue

[2019-03-22 15:13] gauravano commented on #5065
@madeofhuman can you confirm the presence of this issue by checking one more time as I checked again and it seems solved?

[2019-03-22 15:15] swiatek7 commented on #5225
Could I claim this issue?

[2019-03-22 15:20] gauravano commented on #5225
I tried to reproduce this but doesn't face this issue. In my case, the form was auto-filled again after getting errors.

Browser: Chrome

@swiatek7 go ahead. Thanks!

[2019-03-22 15:21] gauravano commented on #5225
And, @jywarren @ananyaarun is working on validation issues, maybe she would be interested in helping here too.

[2019-03-22 15:32] gauravano commented on #4876
@jywarren anything you want to add here? Thanks!

[2019-03-22 15:41] ananyaarun commented on #5225
Definitely :) Thanks @gauravano
I tried to reproduce this issue, But even i see my form was auto-filled after getting the error msg and i didn't loose the entered data.

Browser : Firefox

Is this a browser related issue ?

[2019-03-22 15:53] gauravano commented on #5225
Maybe. You can test via https://www.browserling.com/

On Fri, Mar 22, 2019 at 9:11 PM Ananya Arun <notifications@github.com>
wrote:

[2019-03-22 15:56] shubhscoder commented on #4759
Sorry for the delay @jywarren ! I will make a PR for this asap! Thank you! :)

[2019-03-22 16:26] HarshKhandeparkar commented on #4876
I have a few questions:
1. Is making such a script possible?
2. Is making such a script like ethical? What if someone includes this script in npm start?
My opinion:
1. We can prompt the contributors with a friendly message like "Star The Publiclab Projects If They Helped You"
2. Making a script kind of feels dishonest like people sometimes use fake accounts to increase subscriber count on youtube

[2019-03-22 16:26] cesswairimu commented on #4925
Okay I think I will add the timestamp and we can start tracking from now. Thanks @jywarren

[2019-03-22 16:31] jywarren commented on #4925
OK, thank you Cess!

On Fri, Mar 22, 2019 at 12:27 PM Cess <notifications@github.com> wrote:

[2019-03-22 17:21] gauravano commented on #3961
@jywarren I gone through the thread and yes, as per docs the method mentioned here by you -https://github.com/publiclab/plots2/issues/3961#issuecomment-438735772 should be sufficient and we are already using it.

keeping in view, we would be adding more languages to our website. What do you think is a good method to test this? Also, can you please copy the **footer-notice** feature in unstable.pub

[2019-03-22 17:26] gauravano commented on #4441
Closing all navbar icon related issues and we'll add icons in a single PR whenever ready. Thanks!

cc/ @jywarren

[2019-03-22 17:26] #4441 closed

[2019-03-22 17:41] gauravano commented on #4876
yes, I haven't made any such script myself but I have seen these type of script at work(considering one is logged in GitHub and I guess some more things)

I think if user is copying the script in their console then they are taking risk and responsible for that. But, if any other user hide these type of script somewhere with project then I'll consider it bad

My opinion:

Agree

Debatable and that'

[2019-03-22 17:43] gauravano commented on #4876
If we really want to do something, we can just add a star button on our projects, but I am not at all in favor of the script to star all proj at once. Thanks!

[2019-03-22 17:48] Harshithpabbati commented on #4876
:+1:

[2019-03-22 17:54] gauravano commented on #4876
@jywarren if you agree on adding star button for projects, maybe we can add it as GitHub ribbon starting with Image Seq, Leaflet-env, community-toolbox(I think toolbox already has issue open for this)?

[2019-03-22 17:56] Harshithpabbati commented on #4876
Yeah community tool box already have an issue on it.

[2019-03-22 18:11] gauravano commented on #4423
Also, I just closed a PR https://github.com/publiclab/plots2/pull/4734 which was raised against this issue. Closed because of inactivity. @arungoel123456 you can help us in makeover if interested. Thanks!

[2019-03-22 18:46] jywarren commented on #3961
Is the original poster able to give it another try? Thank you!

On Fri, Mar 22, 2019 at 1:22 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-22 18:47] CoderJolly commented on #4876
We can make an extension for starring the projects. Its done by some other orgs also.

[2019-03-22 18:55] jywarren commented on #5203
Oh, very clever! Timestamp was copied exactly, right? yes, that should
work! if you wanted, we could also compare the text content itself. But i'm
not sure we'd get every one... it could be worth a bit of testing.

On Fri, Mar 22, 2019 at 12:18 AM Vidit <notifications@github.com> wrote:

[2019-03-22 19:18] gauravano commented on #3961
hey @derletztename, can you give a try to our website using https://publiclab.org. And, if possible, maybe try all 3 languages (switch to a different language from dropdown present in the footer). Thanks!

[2019-03-22 19:22] jywarren commented on #5065
Hi, all - actually we found that there was a security issue with these
being published, and we made a lower-level change to prevent the emails
from being displayed. I'm sorry I didn't check in on this PR but we were
eager to complete the fix to avoid peoples' emails being shown on the site,
and I should have reconnected with you immediately once it was published,
but it was late at night.

Given t

[2019-03-22 19:27] jywarren commented on #5022
Thanks to everyone for your proposals so far! I wanted to note also that, as @ananyaarun pointed out, we have opened a second project, which we are not 100% confirmed we'll be accepted for yet, but are hopeful. It relates to [Leaflet Environmental Layers](https://github.com/publiclab/leaflet-environmental-layers/), and you can read more about it here:

https://www.outreachy.org/may-2019-august-201

[2019-03-22 19:42] jywarren commented on #5090
Ah, sorry, responding now:

Yes, I think we are OK on this now: https://publiclab.org/tags

Although we should rename the page simply "Tags" and perhaps we can remove the text (i can copy it into the database so we can change it more easily instead of tracking it in the codebase!)

[2019-03-22 19:45] jywarren commented on #5090
One thing is that the table headings are a bit crowded - i guess we'll be removing them when we make cards, though?

![image](https://user-images.githubusercontent.com/24359/54849014-4a41d580-4cb9-11e9-8042-f7a489b0ef69.png)

Looking at https://github.com/publiclab/plots2/pull/5176/ now for the sorting, then ready to move on to card display! (@CleverFool77 i saw your note on people page card desig

[2019-03-22 19:46] derletztename commented on #3961
Hey for sure guys. Thanks for mending it :)
So I can go to the page and read all the stuff in english. But it seems I can't change the language as it always stys english. Thought the page seems to reload after chosing another language from the menu

[2019-03-22 20:06] ananyaarun commented on #5225
@gauravano , so i tested with the safari browser and the form after submitting with the same user name did give error but i could see the form auto filled when i tried to sign up again .
I dont seem to get this issue on Safari, chrome or firefox.
I tried on internet explorer as well but as i reported in #5096 none of the features seem to work right here!

[2019-03-22 20:07] gauravano commented on #3961
@derletztename actually the change is very minor as we don't have many translations at working on dashboard.

But, let's confirm by visiting a page where we're certain of the presence of translation - On this page https://publiclab.org/wiki/pipeline-monitoring

So, can you replicate the browsing activity - https://drive.google.com/open?id=1_uHZtrghYUHcOVrCZpdp5sE2JiftPRoa and let us know if you ge

[2019-03-22 20:12] gauravano commented on #5065
Thanks @jywarren for solving this and yes, it's understandable. Thanks all. Closing it now.

[2019-03-22 20:12] #5065 closed

[2019-03-22 20:14] gauravano commented on #5065
@kuja24 added your name to the list again and will ping you with a new issue soon. Sorry for the inconvenience,

[2019-03-22 20:24] jywarren commented on #4963
Hi @ananya - here is one for you! https://github.com/publiclab/mapknitter/issues/437

And one for @hc-barker! https://github.com/publiclab/mapknitter/issues/436

[2019-03-22 20:32] gauravano commented on #5095
There's an issue open for upload of the image in the comments. You faced issue there or somewhere else?

[2019-03-22 20:35] gauravano commented on #5218
Hmm, so should we add something similar to "dashboard" for users which browse site without logging-in. Something like "research" just to match URL? Also, at same place at "dashboard" link?

@jywarren @ananyaarun

[2019-03-22 20:36] gauravano commented on #5114
I think we can. Or, we can jump on it and implement our validation? @jywarren what do you think here?

[2019-03-22 20:39] gauravano commented on #5096
Either we can do the work to make website IE compatible or display message on detecting IE browser. @jywarren can we decide on basis of # of user who visit PL from IE, maybe? We have Google analytics setup right?

[2019-03-22 20:40] edwd42 commented on #5227
I would like to work on this issue.  May I claim it?

[2019-03-22 20:46] gauravano commented on #5216
@jywarren can you please transfer this issue to PL editor? Thanks!

[2019-03-22 20:48] gauravano commented on #5216
Also, mentioning @rexagod as I think @IgorWilbert this is fixed some time ago.

[2019-03-22 20:48] #5222 closed

[2019-03-22 20:49] gauravano commented on #5222
Thank you all!

[2019-03-22 20:51] gauravano commented on #5227
Go ahead @edwd42! Thanks!

[2019-03-22 20:54] edwd42 commented on #5227
OK thanks! Will do.

[2019-03-22 20:59] edwd42 commented on #5227
Hi @gauravano can I ask you something?  This is my first time editing in github.  The edit icon says I must be in a branch.  So there are many first-timers-something branches.  Should I pick any particular one, or do I create a new branch, and how to do that?
Thanks!

[2019-03-22 21:05] ananyaarun commented on #5096
Yes, If ratio of people using IE is less we can detach IE browser else something needs to be done to make it IE compatible as at the moment The website is pretty unusable on IE.

[2019-03-22 21:07] ananyaarun commented on #5114
If its possible to change i definitely think "1 error prohibited user session from being saved" can be removed.
Actually i feel, Implementing our own validation is better. Not only this issue but there are several login/signup problems various user are reporting right ?

[2019-03-22 21:09] gauravano commented on #5227
You need to fork the repo first and then create a new branch. have you installed plots2 locally?

[2019-03-22 21:13] edwd42 commented on #5227
Yes, that's what I thought.  But was also told by Jeff to edit right in the github editor.  I am cloning  plots2 on cloud9 again from a fork.  So will create my branch there.
Thanks very much for your help.

[2019-03-22 21:14] gauravano commented on #5227
Great! Feel free to comment here if you have any doubts.

[2019-03-22 21:34] ananyaarun commented on #5218
Yes ! That wud be nice to have. The URL can match /research.
Regarding position , For an unregistered user, "Login" and "sign up" options are displayed while for a registered user "Dashboard" and the profile icon are.
So adding a link at the dashboard place would involve creating a new item on the navbar. Am i right ?
@jywarren @gauravano

[2019-03-22 22:19] EngrEric commented on #4980
@gauravano
please i think you are my mentor here.
your attention is needed here.
```Please work with your mentor to provide a timeline of the work you plan to accomplish on the project and what tasks you will finish at each step. Make sure take into account any time commitments you have during the Outreachy internship round. If you are still working on your contributions and need more time, you ca

[2019-03-22 22:19] edwd42 commented on #5227
Hi @gauravano I completed the task and got the green check Able to merge on the PR page.  But the signup form looks nothing like the screenshot above.  How can I be sure I have the right page?  I clicked the link above  and edited plots2/app/views/users/_create_form.html.erb
Can you take a look at this screenshot for me and verify I'm on the right page?  Before I submit the PR?
Thanks!
![Signup_fo

[2019-03-22 22:22] edwd42 commented on #5227
Sorry I just noticed this line on the PR page, so I will ask my question there. Thanks.
* [ ] ask `@publiclab/reviewers` for help, in a comment below

[2019-03-22 22:27] edwd42 commented on #5227
@publiclab/reviewers - I completed the task and got the green check Able to merge  on the PR page.
![green_check_able_to_merge](https://user-images.githubusercontent.com/47794771/54856293-17570c00-4cd0-11e9-89dc-7254321fc7a7.png)

But the signup form looks nothing like the screenshot above. How can I be sure I have the right page? I clicked the link above and edited plots2/app/views/users/_create_

[2019-03-22 23:12] #5140 closed

[2019-03-22 23:13] #5194 closed

[2019-03-22 23:13] #5200 closed

[2019-03-22 23:15] #3676 closed

[2019-03-22 23:18] #3371 closed

[2019-03-22 23:21] #4998 closed

[2019-03-22 23:43] EngrEric commented on #4980
@gauravano .
THIS IS THE TASK I WANT TO WORK ON DURING THE INTERNSHIP
```Modifying the People page to show a map on the right side```
how do make a timeline for it as wanted by outreachy

[2019-03-23 03:27] IshaGupta18 commented on #5226
Yes I think you are right @jywarren. Even I think lazy loading will be hard to maintain. The collapse idea is a good one and is simple and standard to execute. I think once these issues are fixed, we can move to more creative ideas. I would love to help out here!

[2019-03-23 04:09] HarshKhandeparkar commented on #5095
Yes, in comments.

[2019-03-23 04:24] CleverFool77 commented on #5095
Hi
I faced similar issue while I was editing my note.

[2019-03-23 04:58] HarshKhandeparkar commented on #5095
@guaravano I also couldn't upload a profile img.

[2019-03-23 05:59] IshaGupta18 commented on #5179
@jywarren a couple of more points:

Solving some issue

1. show related issues when the contributor is stuck (this would be very helpful to the contributor in taking reference)
2. after merging of a PR, show similar issues on which the contributor can work

[2019-03-23 06:32] IshaGupta18 commented on #5156
Okay so I have found a fix to it, right now I have implemented it in `all-content`, for others, we can create FTOs!

[2019-03-23 06:39] IshaGupta18 commented on #5156
Here's my PR for the same, if approved, I will open FTOs for the remaining tabs! Thanks a lot everyone!

[2019-03-23 07:02] Priyak5 commented on #5005
Is there any way to open _tagging.html.erb file alone to check the changes made in the code? I have been trying to look for a solution online but coudn't find one.
Can anyone help me with this ?
Thank you!

[2019-03-23 07:16] IshaGupta18 commented on #5089
@ananyaarun are you still working on this one? If not, could I work on it?

[2019-03-23 07:17] IshaGupta18 commented on #5008
Since this issue has now been completed through FTO #5021 , I am closing it! Thanks a lot everyone!

[2019-03-23 07:18] #5008 closed

[2019-03-23 07:31] ananyaarun commented on #5089
@IshaGupta18 ,Sorry I got busy with other issues.
Sure u can go ahead :)

[2019-03-23 07:38] CleverFool77 commented on #5005
Hi @Priyak5 Do you mean the changes of lines of code you did ?
If yes, I wanted to ask you what editor you are using.
For me, I would say..I use vscode. So it shows the changes I did .

[2019-03-23 07:58] IshaGupta18 commented on #5089
So I am a bit confused here, so basically we have to create another tab like "Contributors" and list the followers there? Is this making sense? Or do we have to change the popover?

[2019-03-23 08:07] Priyak5 commented on #5005
Hi @CleverFool77 I meant I want to preview the web page after the chnages are done, I am unable to do that. Do you know anything?
Thank you!

[2019-03-23 08:24] ananyaarun commented on #5089
From my understanding of the issue, we should create a new tab.

[2019-03-23 08:25] IshaGupta18 commented on #5089
Basically a new tab next to "contributors" tab having a list of followers?

[2019-03-23 08:46] CleverFool77 commented on #5005
Hi @Priyak5 ,
After you did the local changes, you can run the project using passenger start.
After that , your server will run and at there you can see the changes.

[2019-03-23 08:52] Priyak5 commented on #5005
I am having problems while installation, so I wanted to run the file alone. Can you help me with passenger start ? Thank you @CleverFool77

[2019-03-23 08:56] CleverFool77 commented on #5005
I don't think that you can run the file alone. How about starting with installation first :) .What problems you are facing ?
I'll try to give my best in help.

[2019-03-23 08:59] Harshithpabbati opened #5237 "Publiclab bot."
Bot with features of claiming an issue from comments adding label's to the issue from comments (@publiclabbot claim , @publiclabbot add "bug") in this way.  So that even the new contributers can even label the issues and claim the issue to them. We can even recieve the travis build updates it will label the issue as travis- updates.
Link to the repo is
https://github.com/harshithpabbati/publiclabb

[2019-03-23 08:59] Harshithpabbati commented on #5237
@publiclab/reviewers @jywarren @gauravano

[2019-03-23 09:07] IshaGupta18 commented on #4966
Hey @GettyOrawo are you still working on this one?

[2019-03-23 09:15] ananyaarun commented on #5089
Yes, after the enhancement there will be two tabs. One to show list of contributors and one to show list of followers.

[2019-03-23 09:23] IshaGupta18 commented on #5089
Okay that would be cool I think, so just one tab has to be added up.

[2019-03-23 09:36] Priyak5 commented on #5005
Error loading the 'mysql2' Active Record adapter. Missing a gem it depends on? mysql2 is not part of the bundle. Add it to your Gemfile. (LoadError)
Hey @CleverFool77  ,I am getting this error when I passenger start.

[2019-03-23 10:07] CleverFool77 commented on #5005
Hi @Priyak5. Is your repo in sync with the latest commit. Coz I guess this error was resolved few days earlier.
And did you do `bundle install` or `bundle install --without production` ?

[2019-03-23 10:09] Priyak5 commented on #5005
How do I sync with the latest commit ? I did bundle install

[2019-03-23 10:11] CleverFool77 commented on #5005
Fetch the upstream and then you can rebase it

Here you go
https://medium.com/sweetmeat/how-to-keep-a-downstream-git-repository-current-with-upstream-repository-changes-10b76fad6d97

[2019-03-23 10:13] CleverFool77 commented on #5005
And I'm not sure about this, but mysql gem was in the production one. So we should go for command `bundle install --without production` I guess.

[2019-03-23 10:17] Priyak5 commented on #5005
Thank you @CleverFool77 , but I am still getting the mysql2 error on passenger start.

[2019-03-23 10:30] CleverFool77 commented on #5005
After deleting gemfile.lock..We can try this command again..I guess.

[2019-03-23 10:37] Priyak5 commented on #5005
The same error again. Thank you for your help @CleverFool77 !

[2019-03-23 10:44] CleverFool77 commented on #5005
No Problem @Priyak5 I'll try my best to help. Here you go.
This is what I did. But this won't be a good method but it works .
Refork the project and and it should be in sync with current latest commit.
try installation again but with the command of without production.
I guess this will work. COz this always works with me ;p

[2019-03-23 10:56] Priyak5 commented on #5005
I tried your method but now I am getting a new error. Any idea what this is ? ;_;
![Screenshot from 2019-03-23 21-54-51](https://user-images.githubusercontent.com/32927328/54865228-49c44000-4d88-11e9-8a34-81b21d0fca15.png)

[2019-03-23 10:59] CleverFool77 commented on #5005
After what command you got this?
You did yarn install ?

[2019-03-23 11:27] Priyak5 commented on #5005
It worked. Thank you soooo much @CleverFool77

[2019-03-23 11:33] madeofhuman commented on #5065
@gauravano I'm sorry for the late response, but yes, it's working. Thanks @jywarren

[2019-03-23 11:43] CleverFool77 commented on #5005
Oh greaaaaattttttt..Congrats @Priyak5 :tada: :tada:
Now on the rails :nerd_face:

[2019-03-23 13:44] karunagoyalk commented on #3840
@cesswairimu As I am working for setting up the environment in my local system..Is it working fine?
![setup](https://user-images.githubusercontent.com/16883717/54866884-e6dea300-4d9f-11e9-9b7b-f3bc3c8fd519.png)

[2019-03-23 15:01] cesswairimu commented on #3840
Yeah its fine @karunagoyalk

[2019-03-23 15:14] alonpeer commented on #3531
Ahh, this ticket from 2017 seems to be very much related: https://github.com/publiclab/plots2/issues/1196

[2019-03-23 15:20] alonpeer commented on #3531
The column `node.views` is being used as the `counter_cache` for the impressions counter gem "impressionist". This means that it always gets re-evaluated.
When there's a new impression on a node page, the gem will `INSERT INTO impressions` a new row, and will also `UPDATE node SET views = views + 1 WHERE nid = ?`.
I think what we can do, in order to deprecated `legacy_views`, is to run a migration

[2019-03-23 16:36] Priyak5 commented on #5005
@CleverFool77 Thanks alot!!
I am facing a problem in alignment, when tags are created they are aligned and when deleted from rows other than the first row are deleted correctly, when a tag from 1st row is deleted the alignment is not correct. Any idea why?
I used alignment in the div tag.

[2019-03-23 16:54] CleverFool77 commented on #5005
HI @Priyak5 Can I have screenshot of the change you did ?

[2019-03-23 16:57] CleverFool77 commented on #5237
HI @Harshithpabbati I guess There is a probot made by github for these features. We can use it for issue claiming, assigning issues, giving a timeline of 2 weeks to a assigned person and if that contributor didnt made WIP then the contributor would be unassigned.
:thinking: :thinking: :thinking:

[2019-03-23 17:09] Priyak5 commented on #5005
@CleverFool77 the screenshot of the webpage or code snippet ?

[2019-03-23 17:19] IshaGupta18 commented on #5089
@jywarren could you please clarify my doubt here? I'll start work then. Thanks a lot!

[2019-03-23 17:31] Harshithpabbati commented on #5237
isn't it ????

[2019-03-23 17:33] Harshithpabbati commented on #5237
Send me the link of it.

[2019-03-23 17:41] Harshithpabbati commented on #5237
Fine I got it thanks @CleverFool77

[2019-03-23 17:45] IshaGupta18 commented on #4707
Count me in! :tada:

[2019-03-23 17:48] CleverFool77 commented on #4707
Me 🙋‍♀️. It's Lekhika here.
I guess I have completed the prerequisites given in issue required to be a reviewer. 🤔
Is there anything else which is required?

[2019-03-23 17:48] gauravano commented on #4707
@IshaGupta18 added you

[2019-03-23 17:49] IshaGupta18 commented on #4707
Thank you @gauravano :tada:

[2019-03-23 17:51] gauravano commented on #4707
@CleverFool77 added you too.

[2019-03-23 17:56] ananyaarun commented on #4707
Can i be a part of this team ?
Guess I have completed the prerequisites :)

[2019-03-23 18:10] gauravano commented on #4707
Added you @ananyaarun!

[2019-03-23 18:33] CleverFool77 commented on #5005
Both of them would be great.

[2019-03-23 19:03] gauravano commented on #5237
https://github.com/probot/probot

[2019-03-23 19:11] Harshithpabbati commented on #5237
no I mean the bot similar to this. when we say @publiclabbot claim it should claim the issue and add and remove label.

[2019-03-23 19:52] ViditChitkara commented on #5203
Yes, timestamp was copied exactly. However, we'll have to figure a way to test it. For the time being will compare the timestamp!! Let's see how things pan out after doing that.

[2019-03-23 20:11] derletztename commented on #3961
Yeah, it's like in the gif. Those are ridiculously minor changes :D

[2019-03-23 20:14] gauravano commented on #3961
Yup :)

[2019-03-23 20:15] gauravano commented on #3961
Thank you so much @derletztename for helping.

[2019-03-23 21:51] gauravano commented on #5227
Hi @edwd42, the page looks different because of the different spam detection method in the development environment and in production. In production, we use Google recaptcha.

[2019-03-23 23:41] edwd42 commented on #5227
OK, @gauravano   well thanks for pointing that out.  So is there a way to use recaptcha in dev too so I would see the same view?  For next time it comes up.
Thanks,

[2019-03-24 01:35] d5nguyen commented on #4482
Hi there, I would like to take on this issue. Can I please be notified if this is still available?

[2019-03-24 05:39] Priyak5 commented on #5005
I made divisions using the div tag to see the alignment.
The screenshots have border,which I added just for checking purpose.
When I remove all tags excluding the one in the first row the alignment of tag goes wrong.
![Screenshot from 2019-03-24 16-37-11](https://user-images.githubusercontent.com/32927328/54875434-39ae6e00-4e25-11e9-9f90-3120a6be4b1f.png)
![Screenshot from 2019-03-24 16-37-40](htt

[2019-03-24 06:39] PritiShaw commented on #5182
Can i work on this ??

[2019-03-24 06:44] PritiShaw commented on #5137
Can i Work on this ?? @divyabaid16

[2019-03-24 06:46] PritiShaw commented on #5049
Can I work on this ?? @gauravano

[2019-03-24 06:47] PritiShaw commented on #5042
Can I work on this if it is not done yet ?? @gauravano

[2019-03-24 06:49] PritiShaw commented on #4991
Hi @gauravano
I am an outreachy aspirant and new to open source. I would like to work on this issue. Kindly assign it to me if no one else is working on it.

[2019-03-24 06:50] PritiShaw commented on #4798
Hi @jywarren
I am an outreachy aspirant and new to open source. I would like to work on this issue. Kindly assign it to me if no one else is working on it.

[2019-03-24 06:51] PritiShaw commented on #4701
Hi @gauravano @jywarren
I am an outreachy aspirant and new to open source. I would like to work on this issue. Kindly assign it to me if no one else is working on it.

[2019-03-24 06:51] PritiShaw commented on #617
Hi @jywarren
 I would like to work on this issue. Kindly assign it to me if no one else is working on it.

[2019-03-24 07:01] divyabaid16 commented on #5010
@nazeem1988 do you need any help in this?
I would be happy to help you out!

[2019-03-24 08:59] gauravano commented on #3988
@jywarren do you think completing https://github.com/publiclab/plots2/pull/3007 will solve this too?

[2019-03-24 09:12] gauravano commented on #5180
Yes, long text on button will also look bad. Any suggestion, how can we shorten the text length as I don't know if link will look good here?

Maybe @jywarren can guide better on design. Thanks!

[2019-03-24 09:43] gauravano commented on #5045
Hi @aggarwal19, thanks for highlighting this issue. You have to install `ruby-2.4.4` which is specified in the Gemfile. Raising issue to fix the docs.

[2019-03-24 09:48] gauravano commented on #5045
https://github.com/publiclab/plots2/pull/5160#issuecomment-475943448

[2019-03-24 11:23] divyabaid16 commented on #5217
@jywarren I really liked the new design for the People page. I will try out a few new things there and will try to give my input in every possible way.
Thank you so much!

[2019-03-24 11:37] ananya commented on #5179
Hey @jywarren @gauravano I have made a pr at #5241 and added gitter chat link, weekly check-in and installation help. I wasn't sure about travis debugging :sweat_smile: , please let me know about a good source to add it from.

[2019-03-24 11:45] CleverFool77 commented on #5237
Yes its possible in probot.. We can do @nameofbot claim. It can help in assigning issues to people. Probot's work is like zulipbot.. 🤔

[2019-03-24 11:51] rahul2240 commented on #5049
@PritiShaw Go ahead

[2019-03-24 12:02] CleverFool77 commented on #5005
Hi @Priyak5 I'm travelling right now. So can't understand it clearly from the image. Can I have screenshot of code. And in the image, it looks like you have aligned them. But actually if you'll look closer, you'll realise that they are not aligned.
The div in every section makes it bit thicker. So here tag title is aligned to inner part of that black border. Whereas the tags below is aligned to ou

[2019-03-24 14:20] divyabaid16 opened #5243 "Option to remove profile picture"
Currently, there is no option to delete or remove a profile picture after it is uploaded.
There must be one.
Screenshot for the same:
![Selection_086](https://user-images.githubusercontent.com/32747809/54880723-0a701f00-4e6e-11e9-8a67-34c64402531b.png)

[2019-03-24 14:20] divyabaid16 commented on #5243
I would like to work on this issue!

[2019-03-24 15:18] ananyaarun opened #5244 "Browse and attach image not working in editor"
# Description

The browse and attach image from computer option is not working in the editor (Attachment option in tool bar)
Only the drag and drop image option works.
The following error pops up

![contribution failed](https://user-images.githubusercontent.com/32260628/54881426-df89c900-4e75-11e9-8037-4cba770d429d.png)

[2019-03-24 15:21] ananyaarun commented on #5244
I saw an issue opened regarding image upload not working in comments, but i am not able to browse and upload images in the editor. I'm not sure why.

[2019-03-24 15:28] divyabaid16 commented on #2497
Hello!
I just came to know that *Public Lab Notifications system* is also one of the proposed projects for GSoC. I was studying it and I found it quite interesting. I have thought of some ideas for it. I was actually not sure that this project is there for Gsoc or not since it's priority was less.
So I wonder should I start with the draft proposal for this?

[2019-03-24 15:31] CleverFool77 commented on #5244
I tried it yesterday and it was working 🤔🤔

[2019-03-24 15:51] ananyaarun commented on #5244
@CleverFool77 , is it working now ? it isnt for me :(

[2019-03-24 16:06] CleverFool77 commented on #5244
I'm travelling right now, so I can't try right now. So I'm not sure. 🤔🤔🤔

[2019-03-24 16:12] namangupta01 commented on #2497
Hi Divya!
I have already made a proposal on this
Project. Here's the link
https://publiclab.org/notes/namangupta/03-02-2019/soc-proposal
Thanks

On Sun, 24 Mar 2019, 20:58 Divya Baid, <notifications@github.com> wrote:

[2019-03-24 16:23] ananya commented on #5237
https://github.com/rsarky/pro-claim here it is.
There are a lot of bots here. We can combine the features of some into one and have our own bot.

[2019-03-24 16:47] Priyak5 commented on #5005
hey @CleverFool77 sorry to disturb you again and again
![Screenshot from 2019-03-25 03-46-42](https://user-images.githubusercontent.com/32927328/54882694-a1df6d00-4e82-11e9-94cb-b3c2e75e2059.png)
![Screenshot from 2019-03-25 03-46-50](https://user-images.githubusercontent.com/32927328/54882698-a73cb780-4e82-11e9-85e3-344217895a8e.png)

[2019-03-24 17:59] IshaGupta18 opened #5245 "Multi-Tag Subscription Button"
Finally, the multi-tag subscription button will be back, available for use, this issue intends to fix the popover problem
![image](https://user-images.githubusercontent.com/40794215/54883553-942ee500-4e8c-11e9-96dc-133685c9f45c.png)
To:
![image](https://user-images.githubusercontent.com/40794215/54883562-aa3ca580-4e8c-11e9-988e-640a0d38c393.png)

The users can now subscribe to multiple tags in one

[2019-03-24 18:11] IshaGupta18 commented on #5245
@jywarren @SidharthBansal I am so happy to tell you that the multi-tag subscription button now works and is fully functional. #5246 is my PR for the same, kindly review it and let me know what else can be done! Thanks a lot!

[2019-03-24 18:22] ananya opened #5247 "Error on "subscribe to answer question on this topic" button"
While looking into the project I found that the button "subscribe to answer question on this topic" on click opens an  error page
![Screenshot from 2019-03-24 23-47-41](https://user-images.githubusercontent.com/33188930/54883797-934b8280-4e8f-11e9-8902-f8526df374bc.png)

![Screenshot from 2019-03-24 23-47-47](https://user-images.githubusercontent.com/33188930/54883805-a0687180-4e8f-11e9-99a9-05555

[2019-03-24 18:36] gauravano commented on #4980
Hi @EngrEric, you have to make a timeline where you'll be mentioning which tasks(from https://github.com/publiclab/plots2/issues/4922) you'll be doing in each week. Also, dedicate some time to testing with each week if you think that week's task requires it. Or, you can plan for tests at end (if testing is required)

Start making a timeline in your proposal and I or some other mentor will review a

[2019-03-24 18:57] gauravano commented on #5227
You can change if condition in the file and add a key to see recaptcha in dev environment. Refer this how recaptcha works - https://rubyplus.com/articles/3661-Integrating-Google-reCAPTCHA-with-Rails-5-App. Thanks!

[2019-03-24 18:59] gauravano commented on #4482
Hey @d5nguyen, yes, it's available. Go ahead. Thanks!

[2019-03-24 19:05] gauravano commented on #5182
yes @PritiShaw :+1:

[2019-03-24 19:08] gauravano commented on #5137
Hey @PritiShaw, this issue is claimed. We would love to have your help with other issues. If you're looking for FTO, we can add your name to https://github.com/publiclab/plots2/issues/4963? Thanks!

[2019-03-24 19:10] gauravano commented on #5042
Hey @PritiShaw, I think @divyabaid16 is working on this one.

[2019-03-24 19:12] gauravano commented on #4991
Hey @Jenniline, just checking if you need any help here? Also, if you're not interested anymore we can re-assign this task. Thanks!

[2019-03-24 19:13] gauravano commented on #4701
Hey @PritiShaw, actually this issue is not required anymore so closing now. Sorry for inconvenience.

[2019-03-24 19:13] #4701 closed

[2019-03-24 19:14] gauravano commented on #617
Go ahead @PritiShaw !

[2019-03-24 19:19] PritiShaw commented on #4963
Hello, I am looking for a first timer only issues. Please assign me one

[2019-03-24 19:35] gauravano commented on #5243
Go ahead @divyabaid16! Thanks!

[2019-03-24 19:39] gauravano commented on #2497
Hi @divyabaid16, we would love to see your ideas and thoughts so feel free to make a proposal. Thanks!

[2019-03-24 19:42] gauravano commented on #5237
If there's a single bot already there for all of our needs then it's great, we can just use that otherwise we can think of creating a bot of our own. What do you all think?

[2019-03-24 19:44] Harshithpabbati commented on #5237
Yeah mostly things we need is labelling and assigning using comments

[2019-03-24 19:45] gauravano commented on #4963
Hi @PritiShaw, you can  start working on this one - https://github.com/publiclab/plots2/issues/5049. Thanks!

[2019-03-24 19:47] gauravano commented on #5245
Great work @IshaGupta18 :tada:

[2019-03-24 19:48] gauravano commented on #5247
Can you test the button for another tag @ananya ?

[2019-03-24 19:55] ananya commented on #5247
Yes i did for a few but it is showing the same error page for all. :disappointed:

[2019-03-24 22:30] SamueleEsposito commented on #5237
So, will we do this? If we do, I'd love to work on it!

[2019-03-25 00:43] edwd42 commented on #5227
Hi @gauravano I tried to register as indicated in that link's Step 1, but I responds with an error that my domain url on cloud9 is invalid.  I guess I need a real domain, but I cloned plots2 onto cloud9.  Do you have any suggestions for  add a key to see recaptcha in dev environment?
Thanks!

[2019-03-25 01:37] d5nguyen commented on #4502
hello there! I'm unsure if this issue has been resolved yet or not. Please let me know as I'd love to work on this if it has become available :)

[2019-03-25 02:44] sashadev-sky commented on #5102
@megha070 Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Because of high demand for these issues we try to make sure we have some sort of an update within a week of someone claiming it that the contributor is still working or we might need to reassign it. Thanks!

[2019-03-25 02:47] sashadev-sky commented on #4963
@gauravano what does it mean if a user not at the bottom of the list is unchecked?

[2019-03-25 02:50] sashadev-sky commented on #5104
@Aarabhi2017 Hi, just checking if you're working on this or if you've gotten stuck on this at all. Usually we give about a week for some sort of update so if I don't get a reply back in 24 hours or so I might need to reassign this. Please let me know!

[2019-03-25 05:28] divyabaid16 commented on #5042
@gauravano I tried to change according to what is shown in Google Chrome, and here is the result.
![Selection_087](https://user-images.githubusercontent.com/32747809/54897044-d1c35a80-4eec-11e9-8d2c-415386cffed6.png)

![Peek 2019-03-25 10-56](https://user-images.githubusercontent.com/32747809/54897052-da1b9580-4eec-11e9-9b2e-fdb06a98faf7.gif)

[2019-03-25 06:18] divyabaid16 commented on #5042
https://gist.github.com/divyabaid16/f0a4534250bd45d0a28388ac5242994d

[2019-03-25 08:05] gauravano commented on #5042
Hey @divyabaid16, the new design looks awesome. Also, I was going through the code and was little confused by the styling part https://gist.github.com/divyabaid16/f0a4534250bd45d0a28388ac5242994d/revisions#diff-01a8cb4ceec1c518a96d6e5e3178c637R10

Don't you see repetition?

Thanks!

[2019-03-25 08:33] gauravano commented on #4963
@sashadev-sky sometimes newcomers ask to add their names to the list and also find an FTO which is inactive/available, so I check their name here too. So, that's how some names in the middle of the list may remain unchecked.

But, yes, all the unchecked names are of those who are still waiting for an FTO issue.

Hey @helenatxu, removing your name from the above list for now as you're busy- https:/

[2019-03-25 08:47] divyabaid16 commented on #5042
Yes, @gauravano I agree with you.
Actually, the link that you had shared previously I had downloaded the zip for the code. So all the components were present scattered.
Basically, I have just changed the following.

``` <form class="form" action="https://groups.google.com/group/grassrootsmapping/boxsubscribe"><div class="form-inline"><input class="input-medium form-control" type="text" name="email

[2019-03-25 08:47] gauravano commented on #5247
Would you like to solve this one?

[2019-03-25 10:00] msarfrazanwar commented on #5162
No, How do I deploy? I know how to setup localhost.

[2019-03-25 10:00] sashadev-sky commented on #5180
Hi! I was just looking over this and I have a few questions:

The UI for a page with Notes available looks like this:

<img width="684" alt="Screen Shot 2019-03-25 at 5 39 00 AM" src="https://user-images.githubusercontent.com/41092741/54909822-6912b880-4ec1-11e9-8e3b-6b0ee81f7c56.png">

Initial thoughts are does following a tag currently give you notifications about everything related to the tag,

[2019-03-25 10:16] ananya commented on #5247
yes :smiley:

[2019-03-25 10:29] sashadev-sky commented on #4920
A little late here but the new welcome bot message looks so good!!

[2019-03-25 10:37] gauravano commented on #5227
You can use `rails server -b 127.0.0.1` to run server on http://127.0.0.1:3000/. And, you can add http://127.0.0.1 in domains list

[2019-03-25 10:43] gauravano commented on #5227
Actually, there's a easy way to - Go to config/initializers/recaptcha and change production to development there, so you don't need to generate keys for yourself

[2019-03-25 10:44] gauravano commented on #5227
![Peek 2019-03-25 16-11](https://user-images.githubusercontent.com/20878070/54913525-ec132d80-4f18-11e9-8a8f-4356e48be525.gif)

The view requires improvment with recaptcha too :point_up:

[2019-03-25 10:51] gautamig54 commented on #5244
I tried it, it is working for me as well.

[2019-03-25 11:14] divyabaid16 commented on #5162
Have you followed the instructions mentioned [here](https://github.com/publiclab/plots2#installation)?
Fom the last step, you will be able to set up a local host for yourself.
After opening up the local host enter ```http://localhost:3000/profile/edit``` url.
Here, you will be able to see the desired changes.

[2019-03-25 11:24] gautamig54 commented on #3373
This issue seems like not being fixed. @gauravano Can I try resolving this?

[2019-03-25 11:59] gautamig54 opened #5253 "option to edit the profile picture when hovered on the profile page"
It is a good to add an option to edit when hovered upon the profile picture on the profile page.

![8KWqnsj](https://user-images.githubusercontent.com/35326753/54918131-76f92580-4f23-11e9-8592-e23a315c7078.jpeg)

[2019-03-25 12:00] gautamig54 commented on #5253
@gauravano If this get approved of an issue, I would like to work on it. Thanks!

[2019-03-25 14:49] jywarren opened #5255 "https://publiclab.org/stats/users.csv not loading"
Hi @cesswairimu  -- sorry to bother, but I noticed this wasn't loading, do you think you could take a peek at it? Thanks!!!

https://publiclab.org/stats/users.csv

[2019-03-25 14:52] jywarren commented on #4502
I believe it's been resolved as we have minimized the changes to the header, and frozen the design until the Bootstrap 4 upgrade -- we'd love your help on other design upgrades though! #4922 #5090 ! Thank you!

[2019-03-25 14:52] #4502 closed

[2019-03-25 14:53] jywarren commented on #4690
I think we are OK on this, can someone try resizing the header to very small sizes and check that it doesn't fold to 2 lines when we do it? If we're OK, then we can close this for now!

[2019-03-25 14:54] #5083 closed

[2019-03-25 14:55] IshaGupta18 commented on #4690
Checked! Works fine!

On Mon, Mar 25, 2019, 8:23 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-25 14:56] #4174 closed

[2019-03-25 15:00] cesswairimu commented on #5255
Sure will do.. Thanks

[2019-03-25 15:03] jywarren commented on #5042
Hi, Divya - i wonder if we could use a standard Bootstrap style like
`btn-default` instead of `btn-primary`?

On Mon, Mar 25, 2019 at 4:47 AM Divya Baid <notifications@github.com> wrote:

[2019-03-25 15:03] jywarren commented on #5042
Thanks for tackling this!!! https://getbootstrap.com/docs/3.3/

On Mon, Mar 25, 2019 at 4:47 AM Divya Baid <notifications@github.com> wrote:

[2019-03-25 15:03] gauravano commented on #317
Hi @ebarry @jywarren, we now provide these sorting options - username, join date, last activity. If we still want to add other sort options, we can add small links above the table?

What do you think about this?

Thanks!

[2019-03-25 15:05] gauravano commented on #308
Hey @ebarry, what goals/issues we can make from here, keeping in view the latest /people page? Thanks!

[2019-03-25 15:11] gauravano commented on #175
Hey @jywarren @ebarry, do you think this one is required? If yes, I think, making new issue from it will be good. Thanks!

[2019-03-25 15:14] gauravano commented on #179
Hey @ebarry @jywarren, so should we exclude power tags or not? Thanks!

[2019-03-25 15:16] gauravano commented on #189
Hey @jywarren,  now that we have chat window available at https://publiclab.org/chat only. Can we close this issue? Thanks!

[2019-03-25 15:22] gauravano commented on #189
Actually, closing this one. Please reopen if you think, we need some enhancement. Thanks!

[2019-03-25 15:22] #189 closed

[2019-03-25 15:22] jywarren commented on #5255
Hmm, I seem to remember someone removed some CSV code recently because I was supposed to be built into Rails? Maybe that wasn't the case?

Let's add a functional test for this! We can probably check the blame view (poorly named! No blame given!) to see how to readd the CSV converter. Thanks! Attached sentry issue too!

[2019-03-25 15:23] #4690 closed

[2019-03-25 15:23] jywarren commented on #4690
Thanks IshaGupta!

[2019-03-25 15:24] jywarren commented on #5253
This sounds good!!! Thanks so much!!!

On Mon, Mar 25, 2019, 8:00 AM Gautami Gupta <notifications@github.com>
wrote:

[2019-03-25 15:24] gauravano commented on #216
@jywarren I think we can close this one considering we have stats button on tag/topic page which leads to https://publiclab.org/tag/topic/stats. What do you think? Thanks!

[2019-03-25 15:25] jywarren commented on #5244
Hmm, maybe it had to do with the image itself, can you share it here?
Thanks!

On Mon, Mar 25, 2019, 6:52 AM Gautami Gupta <notifications@github.com>
wrote:

[2019-03-25 15:26] gauravano commented on #217
Hey @jywarren @ebarry, do you think we still need this one? Thanks!

[2019-03-25 15:30] gauravano commented on #224
Hey @jywarren, can you explain this issue a bit? Thanks!

[2019-03-25 15:33] gauravano commented on #231
Should we give a push to this idea here? @jywarren @ebarry

Thanks!

[2019-03-25 15:35] gauravano commented on #249
@jywarren can we close this one as you mentioned https://github.com/publiclab/plots2/issues/139#issuecomment-472221982? Thanks!

[2019-03-25 15:40] gauravano commented on #259
@jywarren is this issue solved?

[2019-03-25 15:41] gauravano commented on #260
@jywarren can you sum-up the goals here? Thanks!

[2019-03-25 15:42] gauravano commented on #265
@jywarren please add more details to this issue. Thanks!

[2019-03-25 15:44] gauravano commented on #268
@jywarren please update the issue. Thanks!

[2019-03-25 15:46] gauravano commented on #288
I think we can close this one as we would be integrating mapknitter with plots2 soon and we can take this up at that time or make new goals? Thanks!

[2019-03-25 15:46] gauravano commented on #288
@jywarren

[2019-03-25 15:48] gauravano commented on #314
Should we open this as a new issue? @jywarren

[2019-03-25 15:49] gauravano commented on #326
@jywarren please add more details to this issue. Thanks!

[2019-03-25 15:50] gauravano commented on #354
Any update on this one @jywarren?

[2019-03-25 15:53] ebarry commented on #179
Hi Guarav, I would say that yes we can exclude power tags from the tag index page. Could we also create an admin view that includes power tags (basically equal to what exists currently)?

[2019-03-25 15:56] gauravano commented on #378
We now have welcome email and also confirmation email is in WIP. The updated checklist at https://github.com/publiclab/plots2/issues/3798. Closing this one. Thanks!

cc/ @ebarry @jywarren

[2019-03-25 15:56] #378 closed

[2019-03-25 15:59] gauravano commented on #497
Hey @Fastie, do you want us to restrict new users from adding links to their bio? Thanks!

[2019-03-25 16:01] gauravano commented on #529
Hey @jywarren, can we close this one considering @2068 is dealing with all the graphs across site so this one should be covered?  Thanks!

[2019-03-25 16:06] gauravano commented on #546
Can we close this @jywarren @ebarry as no such instances are reported? Thanks!

[2019-03-25 16:10] gauravano commented on #639
Hey @mathewlippincott @jywarren , any update on this issue? Also, the image mentioned here is .tiff file and is loading but not showing up on the website. Thanks!

[2019-03-25 16:12] gauravano commented on #646
@jywarren should we re-open this as a new issue? Thanks!

[2019-03-25 16:16] gauravano commented on #179
yes, we can do this. Thanks for updating on this one @ebarry.   Also, you mean power tags should be visible to admins and moderators both?

[2019-03-25 16:21] gauravano opened #5258 "Show powertags to admins only on /tags page"
We want to display powertags to only admins and not normal users. So, this can be achieved by filtering out tags which consist `:` in them.

here's the code for the /tags page - https://github.com/publiclab/plots2/blob/master/app/controllers/tag_controller.rb#L5-L67

Refer #179 for more details.

[2019-03-25 16:21] gauravano commented on #179
I reopened this issue at https://github.com/publiclab/plots2/issues/5258. Closing this now. Thanks!

[2019-03-25 16:21] #179 closed

[2019-03-25 16:24] gauravano commented on #648
Hey @jywarren @ebarry, so we want to work on this one?  If yes, can we make a checklist? Thanks!

[2019-03-25 16:25] ebarry commented on #5258
I'm excited for this one! Will be very useful to the navigability of topics on the website

[2019-03-25 16:26] PritiShaw commented on #4991
I am unable to replicate the error, Can you please say what browser,os you are using, @gauravano
I am on Chrome, Ubuntu14

[2019-03-25 16:26] gauravano commented on #714
@jywarren is this issue solved?

[2019-03-25 16:28] ebarry commented on #308
The essence of this issue is to have profile bio *text* and *tags* show up
in Search results.
If this is happening already (?), then we can just close this issue.

On Mon, Mar 25, 2019, 11:05 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 16:29] gauravano commented on #741
@ViditChitkara have you started on this one? Thanks!

[2019-03-25 16:32] ebarry commented on #308
I suppose there is a second part which is that a Stats function can show
how many people have made which types of contributions. It's a community
awareness / eval function, as well as perhaps a support for spam
moderation. Perhaps we could move over to a Stats issue to describe how
that could work.

On Mon, Mar 25, 2019, 12:28 PM Liz Barry <ebarry@gmail.com> wrote:

[2019-03-25 16:37] ebarry commented on #546
I'm not sure that we've fully checked on non-latin characters, especially
Chinese characters which was the original issue. Is there a test we could
write for this?

On Mon, Mar 25, 2019, 12:06 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 16:40] ViditChitkara commented on #741
Woah!! This slipped out of my mind!! I guess I hadn't started coding this but was discussed completely. Will start working on this, after I'm through with deprecating the answer related code.

[2019-03-25 16:58] CleverFool77 commented on #5005
hi @Priyak5 .
Before the screenshot, Did you try this ?

[2019-03-25 17:00] divyabaid16 commented on #5042
Yes @jywarren
The screenshot for the change:
![Selection_089](https://user-images.githubusercontent.com/32747809/54938953-6c538600-4f4d-11e9-8a26-6b5efedaaf62.png)

Changes in the code:
```<form class="form" action="https://groups.google.com/group/grassrootsmapping/boxsubscribe"><div class="form-inline"><input class="input-medium form-control" type="text" name="email" placeholder="you@email.com" s

[2019-03-25 17:04] ebarry commented on #217
I haven't seen any pervasive tag spam lately, seems like Jeff might have
addressed this somehow a couple years ago?

On Mon, Mar 25, 2019, 11:26 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 17:25] PritiShaw commented on #4504
@gauravano  can I work on this ??

[2019-03-25 17:36] jywarren commented on #646
Yes but I think we can use the current `response:00000` tags to accomplish
it! And we could build this into the existing "notify tag followers"
mailer. Thanks!

On Mon, Mar 25, 2019 at 12:12 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 17:37] jywarren commented on #639
I believe we should be able to support this by adding `tiff` and `tif` to
each of these lines:
https://github.com/publiclab/plots2/search?q=dxf&unscoped_q=dxf

On Mon, Mar 25, 2019 at 12:11 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 17:40] jywarren commented on #741
We now have 'replace' methods for nodes, this is still being debugged for
Rich Wikis, but it's a good reference -- check out the wiki controller's
'replace' option! We should finish debugging it over there, but then could
extend the ability for this purpose too.

On Mon, Mar 25, 2019 at 12:40 PM Vidit <notifications@github.com> wrote:

[2019-03-25 17:42] jywarren commented on #714
Not quite, but it could make for some good FTOs!

https://github.com/publiclab/plots2/blob/b09034c25d06bb9b1533b56d9c8a3eda5a57a9f6/app/controllers/wiki_controller.rb#L320

https://github.com/publiclab/plots2/blob/205653b9e10eed21716f3f61281bc9c4574933f2/app/services/search_service.rb#L55

https://github.com/publiclab/plots2/blob/6227e95de07861677f6586d9ec760b1c0c7ac525/app/models/tag.rb#L116

htt

[2019-03-25 17:45] jywarren commented on #317
I think we're all good here! Thanks!!!!

[2019-03-25 17:45] #317 closed

[2019-03-25 17:46] jywarren commented on #317
We can re-address what we'd like to show in the new card display on the new People page: https://publiclab.org/notes/edie_blues/01-16-2019/what-do-you-think-about-this-design-for-the-people-page

[2019-03-25 17:47] gauravano commented on #308
in Search results.
If this is happening already (?), then we can just close this issue.

We currently show user bio only on /profile page but let's think where else we can add bio field. Here's the search result for warren below :point_down:

![Screenshot from 2019-03-25 23-12-58](https://user-images.githubusercontent.com/20878070/54941803-ba6b8800-4f53-11e9-975c-218a6b4019a3.png)

If we decide on

[2019-03-25 17:47] jywarren commented on #216
Yep!

[2019-03-25 17:47] #216 closed

[2019-03-25 17:48] gauravano commented on #308
how many people have made which types of contributions. It's a community
awareness / eval function, as well as perhaps a support for spam
moderation. Perhaps we could move over to a Stats issue to describe how
that could work.

Yes @ebarry, that'll be good for the stats page. Should I append  this part to stats issue (planning)?

Thanks!

[2019-03-25 17:52] jywarren commented on #314
I think we'd better close it as Hackpad seems to be abandoned. Thanks for the input @almereyda ! We'll check it out!

[2019-03-25 17:52] #314 closed

[2019-03-25 17:52] ebarry commented on #308
Great plan re: stats planning issue!

For the bio, it's not important that the full text of the bio be printed on
the search results page . The important part is that the searched-for term
yields profiles where the term appears in bio text or even bio link text as
results on the search page. Does this make sense? It's hard to explain
precisely.

On Mon, Mar 25, 2019, 1:48 PM Gaurav Sachdeva <notif

[2019-03-25 17:54] jywarren commented on #268
I'll open a new issue! I think we can build out our model code to make this simpler, without yet planning out a full multi-role system. If we go there, then we might merge this into profile tags!

[2019-03-25 17:54] #268 closed

[2019-03-25 17:56] ebarry commented on #648
Potentially we have added enough scaffolding for posting (as well as
directing people to the scaffolding resources) that we could close this
issue.

What do you think @jywarren?

On Mon, Mar 25, 2019, 12:24 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 17:58] gauravano commented on #714
Yes, it can!

[2019-03-25 18:00] jywarren opened #5259 "Switch to logged_in_as(roles) to simplify auth logic!"
the `User` model could use some simpler helpers, which would dramatically simplify some template code for showing things only to moderators or admins, like this:

https://github.com/publiclab/plots2/blob/aba49c4378fd94ab3f37de1d398243b75cf90365/app/views/users/list.html.erb#L8-L11

Instead, let's make a user model method like:

[code]

Then that code could become:

[code]

But we need to be able t

[2019-03-25 18:00] jywarren commented on #5259
Reposting from part of #268

[2019-03-25 18:00] gauravano commented on #308
Hmm, that's interesting!

Currently, we don't search over profile bio, but yes, it would be awesome to see search related profiles. @jywarren should we make improvement in the current API for this or new API?

Great idea Liz!

[2019-03-25 18:01] jywarren commented on #5259
Ack! We actually have this! So this issue could be for switching to this system:

https://github.com/publiclab/plots2/blob/aba49c4378fd94ab3f37de1d398243b75cf90365/app/helpers/application_helper.rb#L3-L13

[2019-03-25 18:02] jywarren commented on #249
yes, let's do!

[2019-03-25 18:02] #249 closed

[2019-03-25 18:06] jywarren commented on #648
I think we should think about a series of automated comments that could
help people build out and improve their post with clarifications. We can
try listing ideas based on how we've helped people refine, for example,
their questions, in the past -- https://publiclab.org/questions

This will help us try to break it down - i'm thinking kind of like how
Dangerbot makes suggestions, you know?

On Mon,

[2019-03-25 18:09] jywarren commented on #308
Oh actually yes we do search bio content:
https://github.com/publiclab/plots2/blob/master/app/models/user.rb#L360-L362

We don't search profile tags, so that could be broken out into a new issue
and this one closed. For the stats stuff, let's also open a new issue -- we
do list types of contributions by tag already so let's be sure to add
something very specific. Thanks!

On Mon, Mar 25, 2019 at 2

[2019-03-25 18:11] gauravano commented on #308
https://github.com/publiclab/plots2/blob/master/app/models/user.rb#L360-L362

:open_mouth:

[2019-03-25 18:11] jywarren commented on #546
I believe we should connect to https://github.com/publiclab/plots2/pull/4033
and https://github.com/publiclab/plots2/issues/3988 -- thank you!

On Mon, Mar 25, 2019 at 12:38 PM Liz Barry <notifications@github.com> wrote:

[2019-03-25 18:14] #288 closed

[2019-03-25 18:15] jywarren commented on #308
lol gaurav :-))))))

On Mon, Mar 25, 2019 at 2:11 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 18:15] #529 closed

[2019-03-25 18:15] gauravano commented on #648
How about adding informational alerts/popups to pages which will show-up only is user is a new contributor or using that feature for the first time. Like, we can check is user has made a wiki edit in past or not, if not, we can give them tips for the same?

[2019-03-25 18:15] richa031 commented on #3582
@DakshGondaliya  is this done?

[2019-03-25 18:15] jywarren commented on #265
I'm going to close this out, thank you!!!

[2019-03-25 18:15] #265 closed

[2019-03-25 18:17] edwd42 commented on #5227
Awesome tip @gauravano Thanks for pointing that out!  But I'm still getting the Are you human? spam filtering message and not the version you show above.  Maybe because I'm running it on cloud9?  idk.  I can clone it locally and see if I get any better results.
BTW, is this issue has-pull-request label finished and closed, or it it still open until I resolve this question of mine?  Thanks!

[2019-03-25 18:19] jywarren commented on #648
yeah, good idea! I think part of this is to list out all the helpful things
we could say, and list out all the places and moments where we should show
it.

On Mon, Mar 25, 2019 at 2:16 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 18:20] jywarren commented on #224
This should be solved via Leaflet Environmental Layers!

On Mon, Mar 25, 2019 at 11:31 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 18:20] #175 closed

[2019-03-25 18:20] jywarren commented on #175
I think we're all good here too!

[2019-03-25 18:22] gauravano commented on #648
Should I open a new issue where we can form such lists and close this one?

[2019-03-25 18:24] gauravano commented on #5227
The `has-pull-request` label is just for notifying others so they'd be aware that a PR is in progress against a task. Have you changes production to dev at signup view too?

[2019-03-25 18:25] gauravano commented on #5227
Hey, I just noticed you've raised 2 PRs for this issue - https://github.com/publiclab/plots2/pull/5234 and https://github.com/publiclab/plots2/pull/5233. Please close one. Thanks!

[2019-03-25 18:26] gauravano commented on #224
@sagarpreet-chadha just putting it on your radar, if you get a chance. Thanks!

[2019-03-25 18:37] gauravano commented on #308
@jywarren regarding searching user tag. I found this suggestion from GitHub - https://github.com/publiclab/plots2/issues/3506.

[2019-03-25 18:41] gauravano commented on #3498
@cesswairimu any ideas around-

how many people have made which types of contributions. It's a community
awareness / eval function, as well as perhaps a support for spam
moderation. Perhaps we could move over to a Stats issue to describe how
that could work.

[2019-03-25 18:44] gauravano commented on #308
I have dropped @ebarry's thought as a comment in Stats planning issue, let take it there  https://github.com/publiclab/plots2/issues/3498#issuecomment-476327849

And, regarding usertag @jywarren is this - https://github.com/publiclab/plots2/issues/3506 related?

Thanks and closing this one!

[2019-03-25 18:44] #308 closed

[2019-03-25 18:44] gauravano commented on #744
@jywarren do we need this issue?

[2019-03-25 18:45] edwd42 commented on #5227
Yes, I was confused about that too.  I was put on this first-timers-list https://github.com/publiclab/image-sequencer/issues/842 when I asked to be put on a list, and then was also put on https://github.com/publiclab/plots2/issues/4963

I submitted my PR and plotsbot responded (in https://github.com/publiclab/plots2/pull/5233) with: Your pull request is on the master branch. **Please make a separa

[2019-03-25 18:47] edwd42 commented on #5227
Oh, found it.  I think.  It now says closed.

[2019-03-25 18:50] gauravano commented on #5227
No issue. making a seprate feature branch is a good practice that's why we suggest it via bot, although, if you open a PR using master we'll consider it too :)

[2019-03-25 18:53] edwd42 commented on #5227
hmmm.  I'm catching on, but PR's learning curve can be a bit messy.  There's so much to figure out here on PL,  quite different than just coding.
Thanks so much for your help @gauravano!

[2019-03-25 18:58] jywarren commented on #744
I think it's a good idea for someone to go through and ensure we are using
this properly; best keep open. Thanks!

On Mon, Mar 25, 2019 at 2:45 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 19:04] gauravano commented on #4730
@CleverFool77 you can work on this one, as the contributor hasn't responded yet. Thanks!

[2019-03-25 19:06] jywarren commented on #3498
If @ebarry can expand on this we can brainstorm a bit - what types how many
people made comments, questions, wiki edits? I believe we now have that for
overall and per-topic stats, if that helps!

On Mon, Mar 25, 2019 at 2:42 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 19:14] jywarren commented on #648
That sounds good! Thank you!

On Mon, Mar 25, 2019 at 2:22 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 19:16] jywarren commented on #326
What if we made it possible to add alerts that display the content of a
Feature, using `alert:featurename` syntax, and so we could add as many
types as we wanted, by adding new features with those names?

On Mon, Mar 25, 2019 at 11:50 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 19:20] #224 closed

[2019-03-25 19:33] jywarren opened #5260 "Refinements to new tag subscription statistics page"
Following up on #5224, we can tackle a few more things in this follow-up issue, now that @GettyOrawo has done a great job getting this page created!

* [ ] let's sort this DESCENDING or `desc` so we start with the most-used tags
* [ ] let's hide anything more than 25 results and show a "View all" link to show them?
* [ ] let's make the tag names into links that go to `/tag/TAGNAME`

and we can do

[2019-03-25 19:34] jywarren commented on #259
Sadly i think not! See how Simple Air Sensor is listed out of order?

![image](https://user-images.githubusercontent.com/24359/54948613-79ec1a00-4f13-11e9-81cc-53c71307a93b.png)

[2019-03-25 19:54] IshaGupta18 commented on #4603
Hey @jywarren @cesswairimu there's still work left in this one to make the interactive bubbles. I would be following up with it soon. We can continue the work in the follow-up issue as well, but we should keep this one open for some while I think. What do you guys think? Thanks a lot and great work @GettyOrawo !

[2019-03-25 19:57] IshaGupta18 commented on #5260
Hey, @jywarren I think we will be tackling the first 2 tasks in the design suggested in #4603, so maybe the implementation will be a little different. What do you think? Also, I could start working on one or more of these subtasks soon, if that would be okay!

[2019-03-25 19:59] #5199 closed

[2019-03-25 20:00] jywarren commented on #4603
Yep, great! Thank you @IshaGupta18!!!

On Mon, Mar 25, 2019 at 3:55 PM Isha Gupta <notifications@github.com> wrote:

[2019-03-25 20:01] jywarren commented on #5260
yes, sounds good! You know this issue better than me, please go for it!

On Mon, Mar 25, 2019 at 3:58 PM Isha Gupta <notifications@github.com> wrote:

[2019-03-25 20:02] jywarren commented on #354
Let's close because we have working integration between events and Google Calendar already now. We can re-open if someone wants!

[2019-03-25 20:02] #354 closed

[2019-03-25 20:13] divyabaid16 commented on #5042
Yes @jywarren
The screenshot for the change:
![Selection_089](https://user-images.githubusercontent.com/32747809/54938953-6c538600-4f4d-11e9-8a26-6b5efedaaf62.png)

Changes in the code:
```<form class="form" action="https://groups.google.com/group/grassrootsmapping/boxsubscribe"><div class="form-inline"><input class="input-medium form-control" type="text" name="email" placeholder="you@email.com" s

[2019-03-25 20:15] jywarren commented on #5179
thank you!!! We'll check it out.

IshaGupta18, i wonder if there's a related issues bot we can install?

For travis, I'm thinking something like:

[code]

With some nice friendly emoji too! What do you think?

On Sun, Mar 24, 2019 at 7:38 AM Ananya Agrawal <notifications@github.com>
wrote:

[2019-03-25 20:20] jywarren commented on #4707
wow, amazing, thank you all!

On Sat, Mar 23, 2019 at 2:11 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 20:23] GettyOrawo commented on #5229
I believe this is part of the error right? It does nothing on image upload.

![pl-errorr](https://user-images.githubusercontent.com/17080976/54951486-d6bbf480-4f54-11e9-88bb-eeeca3fd1f6e.gif)

I could try trace why that behaviour.

[2019-03-25 20:30] ViditChitkara commented on #5229
@GettyOrawo Yes!

[2019-03-25 20:31] ananya commented on #5247
Hey @gauravano I was trying to reproduce the bug on the localhost but it is working fine :confused:
https://drive.google.com/file/d/1rkO7OgajqapFTnm8q5G7wSET5Mtzewgl/view

[2019-03-25 20:40] IshaGupta18 commented on #5179
Yes I think this sounds really good. We can do a related issues bot thing,
that could prove to be really useful and will make the contributor more
independent.

On Tue, Mar 26, 2019, 1:45 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-25 20:58] ananyaarun commented on #5244
I was trying to upload this image

![dashboard new](https://user-images.githubusercontent.com/32260628/54953666-c6b10e80-4f6e-11e9-96e8-1e5a0b618873.png)

Hmm not sure why it isn't working for me :thinking:

[2019-03-25 21:19] #5020 closed

[2019-03-25 21:20] jywarren commented on #5089
Hi! Actually i'd like to start by listing followers in a 2nd column of the same tab -- does that work? Thank you!!!

[2019-03-25 21:21] #217 closed

[2019-03-25 21:26] jywarren commented on #5229
That's right!

Wondering if it's related to #4771 ?

[2019-03-25 21:34] jywarren opened #5262 "Ensure user profile API endpoint returns exact matches for usernames"
Was trying this endpoint, which also runs the "username autocompletion" when you type @... in a comment; problem is it's not offering an exact match result so for example:

https://publiclab.org/api/srch/profiles?query=warren

just returns a lot of users with "warren" in their username, but not actually me despite it being a perfect match.

Could we modify this line in the API to also say `...OR u

[2019-03-25 21:40] ebarry commented on #3498
Thanks! Yes as some may be aware, there are many more registered users on the publiclab.org website than there are active contributors. Defining who is "active" has sometimes led the community development team to identify as "active contributors" the set of user accounts that have taken multiple types of action on publiclab.org, such as posting a note AND editing a wiki AND commenting.

I would li

[2019-03-25 21:41] namangupta01 opened #5263 "Minor Bug in Reply To Comment"
Recently, we got our new feature i.e Reply To Comment. All thanks to @ViditChitkara and @jywarren. Recently, I was using this feature to reply to one of the comment and while Publishing the comment I got a couple of errors --although my comment got added.
One of the error was Handling Notification when the new Reply To Comment is Publish. And another is Comment Box should be empty and should not h

[2019-03-25 21:58] jywarren commented on #5244
Was it potentially in a comment? Because we have recently had a bug in
comment image uploading... just wondering if it's at all related... Thanks
for reporting!

On Mon, Mar 25, 2019 at 4:59 PM Ananya Arun <notifications@github.com>
wrote:

[2019-03-25 22:15] ananyaarun commented on #5244
Nope , I faced this issue while editing my proposal. Its indeed confusing why image upload is not working in comments too!

[2019-03-25 22:18] jywarren commented on #5244
Hmm, well i have to go home now but if someone else wants to try uploading
the same image to see if it can be reproduced, that'd be great. Also
sometimes filenames have caused us trouble... so could be worth uploading
with a new filename? It shouldn't be a problem, but... well, sometimes it
has been.

Thanks again for reporting!!!

On Mon, Mar 25, 2019 at 6:16 PM Ananya Arun <notifications@github.

[2019-03-25 22:26] ananyaarun commented on #5244
So that image was actually a screenshot. I'll try with different names and other images and check once.

[2019-03-26 00:30] themonster2015 commented on #4963
Hi, I am also looking for first timer only issues

[2019-03-26 03:06] devinbalkind commented on #260
An original - but slightly dated - vision is here: http://toolapi.org/

Recently I've begun working with the http://qri.io team to re-enliven the
idea of multiple open source/appropriate tech tool directories mashing
their data together to create a decentralized stackshare.io-style system.
Expect more updated over the next few weeks on our progress.

On Mon, Mar 25, 2019 at 11:41 AM Gaurav Sachdev

[2019-03-26 07:42] divyabaid16 commented on #5247
@ananya this issue is fixed in the local host.

[2019-03-26 08:15] ananya commented on #5247
@divyabaid16 oh okay. what can be done to fix it in production?

[2019-03-26 09:49] cesswairimu opened #5264 "Tests for the csv download logic"
Add functional tests for the csv download method discussed in #5255

[2019-03-26 10:23] msarfrazanwar commented on #5162
I am getting warning due to version conflict with the bundle file and its not working.

[2019-03-26 10:25] cesswairimu commented on #3498
Aha! I see @ebarry this would be good..also we should  maybe define how an active contributor should be determined...what if someone joined 6 months ago and posted two notes but there is no activity from them since them...maybe we can do ranges and have "active contributors" within a range period be the people who posted something during that period...

[2019-03-26 10:33] cesswairimu commented on #3498
With ranges this would be our "active contributors"
![active](https://user-images.githubusercontent.com/17081074/54990349-8df35280-4fcb-11e9-8d04-1283afaba4f0.png)
Then maybe we can have this as a link to a list of the users

[2019-03-26 13:05] jywarren commented on #5207
Hi Cess, the new migration should create the reply_to column, did it not work?

[2019-03-26 13:14] cesswairimu commented on #5207
It did not create one on the test env just the dev env

[2019-03-26 13:59] CleverFool77 opened #5265 "Fix scrollbar visibility on map hover"
## Description
While working on an issue, I found that
On mouse hover on the map, the scrollbar disappears.
The complete ui of the people page is moving.

![abcdefg](https://user-images.githubusercontent.com/26685258/55002722-1a6a3900-4ffd-11e9-9bbe-22a094b21836.gif)

![hover](https://user-images.githubusercontent.com/26685258/55004800-e09b3180-5000-11e9-9a10-f5f8ce050f0a.gif)

[2019-03-26 14:00] CleverFool77 commented on #5265
If approved, I'm interested in working on this issue .
Thanks !!

[2019-03-26 14:24] aggarwal19 commented on #5045
Hi ,
I want to create a new issue in this project and I also want to solve that
issue too. But before that I want to ask that are we able to suggest some
issues on the website ( https://publiclab.org/ )  or not ?

Thanks you
Shridhi

On Sun, 24 Mar 2019 at 15:18, Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-26 14:42] jywarren commented on #5207
Oh, hmm. @ViditChitkara - do you know why the migration may not be running
for @cesswairimu? If the schema.rb file is correct, it should be used to
run tests, right?

On Tue, Mar 26, 2019 at 9:14 AM Cess <notifications@github.com> wrote:

[2019-03-26 15:58] CleverFool77 commented on #5265
@publiclab/plots2-reviewers Is this issue correct ?

[2019-03-26 17:37] divyabaid16 commented on #5162
rvm install ruby-2.4.4
Or
rvm use ruby-2.4.4

You may use any of these lines before bundle install to resolve this error.
Thanks!

[2019-03-26 19:05] gauravano commented on #4963
Hi @themonster2015, added your name to the above list and will mention you soon on a FTO. Thanks!

[2019-03-26 21:32] skilfullycurled commented on #3498
Hey everyone!  First major thank you to everyone who has helped to build this.  It's awesome.  In particular, I am told that some extra gratitude should be directed to @cesswairimu.

[2019-03-26 22:11] jywarren commented on #3498
Indeed this has been largely @cesswairimu's fantastic work -- a big new
system and so awesome!!!

On Tue, Mar 26, 2019 at 5:33 PM skilfullycurled <notifications@github.com>
wrote:

[2019-03-26 22:24] skilfullycurled opened #5268 "Request for CSV's from term_data and community_tags"
This might be able to be merged with [tag visualization of all tags](https://github.com/publiclab/plots2/issues/1502) or [planning for expanded community stats system](https://github.com/publiclab/plots2/issues/3498).

I'm looking to update the [tag graph](https://publiclab.org/notes/liz/09-15-2016/first-draft-of-tag-graph) I created a while back.  While we do have an API now for the top 250 tags,

[2019-03-26 22:42] skilfullycurled commented on #3498
I just filed an issue already referenced above regarding the downloading of [csv's for tags](https://github.com/publiclab/plots2/issues/5268), specifically community_tags and term_data.

I think it would be great to eventually add it as another option in the drop down.  I'm able to merge the files myself but in a download functionality, it would make the data more accessible to a variety of skill

[2019-03-27 00:12] sashadev-sky commented on #4963
hi @themonster2015, you can work on #5104. I will mention you there too! Thanks

[2019-03-27 00:12] sashadev-sky commented on #5104
reassigning to @themonster2015!

[2019-03-27 00:15] sashadev-sky commented on #4963
hi @kuja24, you can work on #5102. I will mention you there too! Thanks

[2019-03-27 00:15] sashadev-sky commented on #5102
reassigning to @kuja24!

[2019-03-27 01:21] eRy-sk commented on #5207
Hello, I'm Japanese.
I don't understand English well, so I use Google Translate as a reference.
I can't write English well, but please forgive me.

Specify a test environment and try to migrate.
[code]
Or reset.
[code]
However, since I'm a beginner, It is just a suggestion.
I hope you will find it useful.

[2019-03-27 02:37] ktsstudio1 opened #5269 "kiến trúc 902"
Thiết kế biệt thự đẹp 902 Studio - đơn vị thiết kế nhà đẹp chất lượng hàng đầu Việt Nam. Kiến trúc sư giàu kinh nghiệm, am hiểu phong thủy, đầy đủ bản vẽ kiến trúc, kết cầu hồ sơ điện nước. Hàng ngàn mẫu biệt thự 1 tầng, biệt thự 2 tầng, biệt thự 3 tầng đẹp.

[](https://maunhadep902.com/ )

[2019-03-27 03:18] kuja24 commented on #5102
Will be keen to do it. Thanks!

[2019-03-27 03:36] Michaellin250 commented on #5215
Is this issue still open?

[2019-03-27 04:28] themonster2015 commented on #5104
Thanks. I just completed it and submitted a pull request.

[2019-03-27 05:41] sashadev-sky commented on #5104
@themonster2015 Thank you for your help! I don't see your PR. Can you please reference this issue on the top line of your PR description so it is linked here?  You just put a `#` and the issue num (5104) after.

[2019-03-27 07:48] cesswairimu commented on #5207
This solved it thanks so much @eRy-sk

[2019-03-27 07:48] #5207 closed

[2019-03-27 08:22] divyabaid16 opened #5270 "Align checkbox with the text."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-27 09:30] AnthoniaOkafor commented on #4963
Hello, I need a first timer only issue to work on please

[2019-03-27 09:38] Harshithpabbati commented on #4963
@AnthoniaOkafor added your name you will be assigned with an issue soon.
Thanks

[2019-03-27 11:23] divyabaid16 commented on #5260
Hey!!!
Can I work on the third one?

[2019-03-27 11:44] divyabaid16 commented on #5247
I guess maintainers know that better. @jywarren

[2019-03-27 12:53] gauravano commented on #5180
@sashadev-sky In this case, subscribing and following is the same, both subscribe a user to a tag. **Follow air-quality** button will subscribe a user to `air-quality` tag whereas **Subscribe to answer questions on this topic** subscribes a user to `question:air-quality` tag. So, the former is a general and latter one is for questions regarding that topic(as per my understanding)

Something like -

[2019-03-27 12:57] gauravano commented on #3373
Actually, going through @jywarren's comments, it looks like we don't need this one, that's why it's closed. Would you like me to suggest issues to you?

[2019-03-27 12:57] gauravano commented on #3373
And thanks @gautamig54 for checking here.

[2019-03-27 13:11] gauravano commented on #4690
Great!

On Mon, Mar 25, 2019 at 8:53 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-27 13:12] DakshGondaliya commented on #3582
No, @richa031 it is pending.

[2019-03-27 13:13] gauravano commented on #5253
You can start working on this @gautamig54. Also, should we consider adding profile picture edit option in Edit profile page?

Thanks!

[2019-03-27 13:18] gautamig54 commented on #5253
Thanks @gauravano . I am working on this.
Regarding providing an edit picture option, we can already choose to upload a new profile picture on the Edit profile page. They both will do the same. I see no point of adding another option for that.

![Screen Shot 2019-03-27 at 6 48 34 PM](https://user-images.githubusercontent.com/35326753/55078763-dd677a80-50c0-11e9-9f2a-4206b465523c.png)

[2019-03-27 13:19] gauravano commented on #4991
Hi @PritiShaw,  actually this issue seems resolved in https://github.com/publiclab/plots2/pull/5238/ and I guess some part in new comments+answer combining PR. Thanks for checking here and I think we can close this one.

[2019-03-27 13:19] #4991 closed

[2019-03-27 13:20] gauravano commented on #4504
Go ahead @PritiShaw!

[2019-03-27 13:23] gauravano commented on #5046
Hi @letnewKid, just checking if you need some help here. Also, we have to re-assign this issue if you didn't respond in 3 days, considering this issue is inactive from more than a week and need for FTO issues. Thanks!

[2019-03-27 13:41] gautamig54 opened #5272 "Remove the by default selected "Asked" button in the Question's tab on the profile's page"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-03-27 13:56] gautamig54 opened #5273 "Add the # of asked and answered questions under the questions tab in the profile's page"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-03-27 14:08] gautamig54 opened #5274 "Change the path of "# research notes" on the dashboard from profile to notes/author"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-03-27 14:52] gauravano commented on #639
@jywarren I was able to upload tiff file but it doesn't show up on the website. See this -https://publiclab.org/notes/gauravano/03-27-2019/testing-tiff

Thanks!

[2019-03-27 15:03] gauravano commented on #5227
That's the beauty of Open Source!

[2019-03-27 15:03] gauravano commented on #5227
We try to make the contributing process easier for everyone, although.

[2019-03-27 15:13] ibnjunaid commented on #5272
@IshaGupta18 Can i do it?

[2019-03-27 15:15] gauravano opened #5275 "Add informative popup/alerts to pages where needed"
The process of getting started with Public Lab can be complex considering we use research notes/ wikis/ questions/power tags, etc.

We can draw some inspiration for this issue from the https://publiclab.org/post page where we show comments on the left side for helping users.

Let's make a list of pages where the user might get confused at first from terminologies, process, etc.

### Pages:
(Append

[2019-03-27 15:17] gauravano commented on #5275
We can tackle this issue by breaking in parts for each page. We also have to keep the designs same across the website, so we may want to start with this issue after the UI revamp Outreachy project.

@publiclab/community-reps @publiclab/plots2-reviewers @publiclab/reviewers

[2019-03-27 15:18] gauravano commented on #648
Hey @jywarren, I have added a detailed issue at https://github.com/publiclab/plots2/issues/5275 for the same idea, please have a look over there. And, closing this now. Thanks!

[2019-03-27 15:18] #648 closed

[2019-03-27 15:20] gauravano commented on #326
Surely, we can try this. Should I make a new issue for this? Also, with which page you want to try this out first? Thanks!

[2019-03-27 15:24] IshaGupta18 commented on #5275
Absolutely, sounds good. Once the new UI design is decided, let's break it
up and begin working on it. Thanks!

On Wed, Mar 27, 2019, 8:47 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-27 15:24] IshaGupta18 commented on #5272
Go right ahead, please!

[2019-03-27 15:25] gauravano commented on #259
@jywarren I think we should open a new issue for this as it requires attention? What do you think?

[2019-03-27 15:30] divyabaid16 commented on #5275
Along with this, we can also create a special ```help``` option in the navbar and upon clicking this option, we will be redirected to a page that lists all the pages present in the website.
When we click on a certain page, it will show a well-written document (notes/wikis) for the user on how to access that page or get help if stuck.
In this way, everything can be found under one heading. This con

[2019-03-27 15:30] gauravano commented on #5042
@jywarren what do you think about new design? Also, if you like it, please update the feature or let me know, I can do that. Thanks!

[2019-03-27 15:31] sanunes commented on #5270
Can I tackle this one?

[2019-03-27 15:33] divyabaid16 commented on #5270
Yes @sanunes !

[2019-03-27 15:39] supriya-kotturu commented on #5162
Hey,
can I try this out too?

[2019-03-27 15:40] divyabaid16 commented on #5275
Some pages that may need assistance:
- [ ] https://publiclab.org/chat (Chat)
- [ ] https://publiclab.org/questions (Ask a question)
- [ ] https://publiclab.org/wiki/requests (Respond to a Request)
- [ ] https://publiclab.org/wiki/kits (Contribute a kit)

More can be added.

[2019-03-27 15:45] divyabaid16 commented on #5162
@supriya-kotturu, I guess @msarfrazanwar is working on this.
There will be a separate issue created for you :smile:
Just introduce yourself on #4963

[2019-03-27 15:49] supriya-kotturu commented on #4963
hello,
I would be glad to get started on FTO. please assign me one.

[2019-03-27 15:50] supriya-kotturu commented on #5162
thank you @divyabaid16

[2019-03-27 15:54] divyabaid16 opened #5276 "Fix typo in email search"
Specially created for @supriya-kotturu

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer quest

[2019-03-27 15:55] divyabaid16 commented on #4963
@supriya-kotturu I have created an issue for you. #5276

[2019-03-27 15:57] supriya-kotturu commented on #4963
thank you @divyabaid16
I'll get started on it :)

[2019-03-27 16:09] themonster2015 commented on #5104
Hi. Sorry this is my first time contributing and I don't know if I submitted the pull request the correct way or not. Below is the screenshot of the branch I submitted. I tried searching but couldn't find it in the pull request tab now.
![Screen Shot 2019-03-27 at 17 07 18](https://user-images.githubusercontent.com/10905837/55092411-dc2f5100-50b2-11e9-9540-2547cccb0018.png)

[2019-03-27 16:53] supriya-kotturu commented on #5276
hey @divyabaid16, I made the required changes to the file.  can you please let me know what to refer to get a screenshot of the changes that need to be recorded?

[2019-03-27 17:34] divyabaid16 commented on #5276
@supriya-kotturu actually you have created the PR in your local repository.
While sending the pull request, make sure that you send it to ```publiclab:master```
Thanks!

[2019-03-27 17:41] cesswairimu commented on #3498
Thanks @skilfullycurled glad to hear the raw stats download function is helping in data analysis :smile:. Will take a look at the issue and get started on it. Thanks

[2019-03-27 17:44] kuja24 commented on #5102
@sashadev-sky I have joined the cloud9 team.How do I contribute from there?I have cloned it there only in my workspace. How do I proceed further?

[2019-03-27 18:00] richa031 commented on #3582
@DakshGondaliya i can not find the code snippet for it. Can you please help me?

[2019-03-27 18:05] divyabaid16 commented on #4776
Hey!!
Can I work on this?

[2019-03-27 18:46] gautamig54 commented on #5273
@gauravano Kindly review this issue and label it as FTO. Thanks!

[2019-03-27 18:46] gautamig54 commented on #5274
@gauravano Kindly review this issue and label it as FTO. Thanks!

[2019-03-27 19:13] rexagod opened #5277 "Errored comment functionality"
Hi all! I was editing a comment [here](https://publiclab.org/notes/Getty/03-26-2019/outreachy-proposal-publiclab-org-ui-improvements) when an internal server error started to popup in my console.

The order of steps I initially followed were:
- Post a comment on Getty's proposal. -- successful
- Edit that. -- unsuccessful
- Delete the posted comment. -- successful
- Post a newer one with appropria

[2019-03-27 19:15] gauravano commented on #5277
I commented on behalf of @rexagod but missed some part, so I tried to edit my comment - https://publiclab.org/notes/Getty/03-26-2019/outreachy-proposal-publiclab-org-ui-improvements#c23492

but got on this page :point_down:

![Screenshot from 2019-03-28 00-41-13](https://user-images.githubusercontent.com/20878070/55105551-cc376180-50f2-11e9-9484-d2fe45a994c8.png)

[2019-03-27 19:19] gauravano commented on #5277
@ViditChitkara @jywarren any idea?

[2019-03-27 19:23] divyabaid16 commented on #5123
@jwarrwm can you please tell me which file has to be changed for the footet.

[2019-03-27 19:36] gauravano commented on #5277
Hey everyone, @rexagod and me did some inspection and found out that the issue was due to mixing of rich and markup emojis. So, closing this one. Thanks!

[2019-03-27 19:36] #5277 closed

[2019-03-27 19:47] ibnjunaid commented on #5272
![Screenshot 2019-03-28 at 1 15 45 AM](https://user-images.githubusercontent.com/32925504/55107335-11f62900-50f7-11e9-899f-31de43566ec7.png)

Im having issue with installing right version of ruby on my machine, do you have any fix for it.

[2019-03-27 19:48] gauravano commented on #5045
You can surely open new issues at https://github.com/publiclab/plots2/issues/new. Thanks!

[2019-03-27 19:49] gauravano commented on #5045
Have you completed this issue?

[2019-03-27 19:50] gautamig54 commented on #5272
@ibnjunaid Try installing RoR using rvm.

[2019-03-27 19:54] gauravano commented on #5265
Go ahead @CleverFool77!

[2019-03-27 20:04] gauravano commented on #5215
@techchic are you working on this one. If yes, can you please tag this issue in your PR. Thanks!

[2019-03-27 20:08] cesswairimu commented on #4541
Closing this discussion continues on #4603

[2019-03-27 20:08] #4541 closed

[2019-03-27 20:08] gauravano commented on #5215
hey @Michaellin250, we can add your name to the  https://github.com/publiclab/plots2/issues/4963 if you like? Or, you can go through issues https://github.com/publiclab/plots2/issues/ and claim the one you find interesting. Thanks!

[2019-03-27 20:14] gauravano commented on #5207
Hey @eRy-sk we would love to have more help from you if you're interested -https://github.com/publiclab/plots2/issues/ . Thanks!

[2019-03-27 20:28] gauravano commented on #5247
Hey @divyabaid16, I remember you made the PR for updating backend. Thanks @ananya for going through :+1: this one. As the @divyabaid16's  PR has been merged we can see the changes at https://stable.publiclab.org and they would be soon pushed to production. Thanks!

[2019-03-27 20:28] #5247 closed

[2019-03-27 20:34] rexagod commented on #4776
Sure @divyabaid16, go ahead!

[2019-03-27 20:45] gauravano commented on #5104
Hey @themonster2015, you have pushed your branch to the remote. You just need to raise a Pull request by visiting your branch and clicking on Pull Request button. See below for ref. :point_down:

![Screenshot from 2019-03-28 02-11-53](https://user-images.githubusercontent.com/20878070/55110983-55549580-50ff-11e9-9379-916d3d5c522b.png)

[2019-03-27 20:48] Michaellin250 commented on #5276
Is this issue closed? I'd love to tackle it!

[2019-03-27 20:51] themonster2015 commented on #5104
thanks so much for your instructions! I just did it.

[2019-03-27 20:58] gauravano commented on #5102
Hey @kuja, you can commit the changes using `git commit -m "commit message"` and after that push the commits using `git push origin branch-name`. Raise PR after that by visiting the issue branch on the forked repo and clicking on Pull Request link.

Thanks!

[2019-03-27 21:07] gauravano commented on #5123
Actually, footer is a feature, so here's the code for it - https://gist.github.com/gauravano/1124fff46ae156537e6fb712bff9e980. Thanks!

[2019-03-27 21:12] gauravano commented on #5272
Hey @ibnjunaid, also try `rbenv local 2.4.4` just in case it works

[2019-03-27 21:15] gauravano commented on #5274
@AnthoniaOkafor you can work on this one. Thanks!

[2019-03-27 21:20] gauravano commented on #5276
Hey @Michaellin250, this one is already assigned. You can get yourself issue assigned by commenting https://github.com/publiclab/plots2/issues/4963. Thanks!

[2019-03-27 21:26] ibnjunaid commented on #5272
@gauravano rvm worked. Thanks @gautamig54 @gaeun

[2019-03-27 21:40] gauravano commented on #5272
Great!

On Thu, Mar 28, 2019 at 2:56 AM Osama Bin Junaid <notifications@github.com>
wrote:

[2019-03-28 00:22] sashadev-sky commented on #5104
@themonster2015 Thank you!! I will look over it now :)

[2019-03-28 01:28] sashadev-sky commented on #5180
@gauravano Yeah that was my idea! So maybe then if you're on the tags specific page like here, you get this hover option of what types you want to subscribe to. For the related tags you would still just be subscribing to the whole tag in general (this feature doesn't look like its been implemented yet anyway) and then if you want to select more specifics instead of subscribing to the whole tag you

[2019-03-28 02:22] divyabaid16 commented on #5123
@gauravano I have made the changes

File where I have made the changes: https://gist.github.com/divyabaid16/fdfbcde7336e89f7447778bcb4c98908

Screenshot
![Selection_095](https://user-images.githubusercontent.com/32747809/55124643-f443b680-512c-11e9-84aa-0d079b7f50b1.png)

GIF
![Peek 2019-03-28 07-44](https://user-images.githubusercontent.com/32747809/55124959-2bff2e00-512e-11e9-82f1-bc6c37c19c69.g

[2019-03-28 03:52] divyabaid16 commented on #4776
I had the reverse case. i.e the modal was overlapping the toolbar.
GIF
![Peek 2019-03-28 09-00](https://user-images.githubusercontent.com/32747809/55128081-4f2edb00-5138-11e9-996a-edfaf6a13dba.gif)

Here (I guess) modal should be invisible in rest of the part except the text area.

I could find many more issues here, some of them were not reported earlier. I tried to open up the issue but it was g

[2019-03-28 04:00] kuja24 commented on #5102
Ohh!!  I was aware of this but I thought it would be somewhat different for the cloud environment.  Got it now
Thanks!

[2019-03-28 04:34] aggarwal19 commented on #5045
yes

On Thu, 28 Mar 2019 at 01:19, Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-28 04:40] jtmims commented on #4963
I'd love to work on this project! Send me an issue please.

[2019-03-28 04:48] HarshKhandeparkar commented on #4963
@jtmims welcome! Just added your name. You will be assigned an issue soon

[2019-03-28 04:51] gautamig54 commented on #4963
@jtmims you can work on issue #5273 . Thanks!

[2019-03-28 04:53] jtmims commented on #5273
Alright, I got this

[2019-03-28 05:00] CleverFool77 opened #5280 "Fix the underline property in a tag of icon."
## Description
Currently, there is an underline if the icon is hovered.
This text-decoration property should be removed, so that there is no underline when an icon is hovered.

![Screenshot from 2019-03-28 10-26-13](https://user-images.githubusercontent.com/26685258/55131342-47753380-5144-11e9-8b06-e20e8e19ac31.png)

[2019-03-28 05:01] CleverFool77 commented on #5280
@publiclab/plots2-reviewers is this issue correct ?
If approved, I would like to work on this.

[2019-03-28 07:59] AnthoniaOkafor commented on #5274
Thank you for assigning it to me

[2019-03-28 08:43] Harshithpabbati commented on #4963
@scheleon I added your name to the above list you will be notified soon with an FTO.

[2019-03-28 09:33] divyabaid16 opened #5285 "[Discussion] Left sidebar : Profile section menu"
In order to ease the navigation of the profile section. Can we introduce a left sidebar by which a user can easily navigate to the various profile section/settings tabs? Please check out the sample design. It's just to give a brief idea about how we can implement this, the design can be improved further once it is approved.

**Proposed idea:**
![Side bar profile](https://user-images.githubusercont

[2019-03-28 10:20] gautamig54 opened #5286 "[Discussion] : Translating pages to different language in footer not working."
There is an option of translating the webpages into German and Japanese, which does not seem to be working.
Since Public Lab is a general platform and open for people all over the world.
We can discuss about implementing this feature.
There were issue opened earlier (#3348) regarding this problem, but no action seem to be taken, therefore I thought of opening up this issue and see if we can come u

[2019-03-28 10:48] divyabaid16 commented on #5286
@gautamig54 please look into https://github.com/publiclab/plots2/issues/5036#issuecomment-472134891

[2019-03-28 10:50] gautamig54 commented on #5286
@divyabaid16 Thanks! I was exactly talking about this, translation is minimal. We can discuss onto how to translate all the webpages.

[2019-03-28 11:07] gautamig54 opened #5287 "Editing bio directs user to dashboard instead of profile page"
When a user edit their bio, they are directed to the dashboard by the flash message, but they should be directed to the profile page where they can view their added bio.

![Screen Shot 2019-03-28 at 4 38 39 PM](https://user-images.githubusercontent.com/35326753/55153114-a902c580-5177-11e9-959b-73cc7aac26e0.png)

[2019-03-28 11:42] gautamig54 commented on #5287
@gauravano Kindly review this issue. I have also opened a PR for the same. Thanks!!

[2019-03-28 13:06] CleverFool77 commented on #5285
Hi @divyabaid16
Did you mean, sidebar on every page?

[2019-03-28 13:25] divyabaid16 commented on #5285
No.
Only on the profile and settings sections.

[2019-03-28 13:31] CleverFool77 commented on #5285
But we already have this in navbar drop down meuu right 🤔🤔
Did You mean something like github?
The options of sidebar coming in settings section?.
But we don't have so many options like github does 🤔🤔🤔
It would great to hear other opinions 🤔

[2019-03-28 13:47] divyabaid16 commented on #5285
Yeah, we have this in the drop-down menu, but if we include this in the left sidebar, I think, it will ease the navigation for the users to switch between tabs in profile section.
Yes, it is somewhat like Github.
It doesn't matter much if we've many options or not as this is just to make the navigation user friendly.

[2019-03-28 14:09] gautamig54 opened #5289 "Remove duplicated like, share and tweet buttons on wiki pages"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-03-28 14:11] gautamig54 commented on #5289
@gauravano Kindly look into this issue and label it as FTO. Thanks!

[2019-03-28 15:53] ananyaarun opened #5291 "Fix page redirection problem in comments section of notes"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

# Current Behavior
When a user not logged in tries to comment on a note, an alert message to login appears. After login however, the user is redirected to the dashboard and looses th

[2019-03-28 16:19] supriya-kotturu commented on #5276
thank you. I didn't notice it. just created a PR to the master branch

[2019-03-28 16:27] ananyaarun commented on #5291
@publiclab/plots2-reviewers Thoughts on this issue ?

[2019-03-28 17:04] ebarry opened #5293 "Add link to Skylight in our error page"
Hi all!

Having a brainstorm with @jywarren, we realized that this link to skylight.io in the publiclab.org website footer... https://oss.skylight.io/app/applications/GZDPChmcfm1Q/recent/6h/endpoints

...could be added to our error pages such as this one:
https://github.com/publiclab/plots2/blob/master/public/500.html

This would enable people to more easily check on the site's status!

Could this

[2019-03-28 17:22] mahmodHammad commented on #5274
can i work on it ?

[2019-03-28 17:25] gautamig54 commented on #5274
@mahmodHammad This issue has already been claimed. Try looking for other FTOs.
Look at issue #5289 . If it gets approved then you can work on that 👍

[2019-03-28 17:27] mahmodHammad commented on #5289
can  i work on it ?

[2019-03-28 17:49] gauravano commented on #5180
Ah, when we use the term "tag specific page", so the page dedicated to this tag, so shouldn't it be containing all options directly. If we put all options(wiki, question, event) as buttons, I think, there would be like 4-5 buttons maybe. So, wouldn't it be good to just put them as buttons?

Yes, the backend of Subscribing to multiple tags is done. We are facing some difficulty in frontend part, bu

[2019-03-28 17:51] gauravano commented on #5180
And, yes, I think we should remove the "or" placed between buttons. @ananyaarun @sashadev-sky

[2019-03-28 17:55] gauravano commented on #5123
Looks great @divyabaid16! @publiclab/community-reps what do you think?

[2019-03-28 18:10] gauravano commented on #5273
Hey @gautamig54, can you check if we are passing questions from the controller, as it would be awesome if we don't need to query again. Thanks!

[2019-03-28 18:17] #5280 closed

[2019-03-28 18:39] first-timers[bot] opened #5295 "Change styling and wording of our "Tags" sidebar"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-03-28 18:41] jywarren commented on #4963
https://github.com/publiclab/plots2/issues/5295 this is for you @jtmims !

[2019-03-28 18:41] jywarren commented on #5295
This one is for you, @jtmims !

[2019-03-28 18:52] #5049 closed

[2019-03-28 19:00] #5287 closed

[2019-03-28 19:06] gauravano commented on #5291
Hey @ananyaarun, yes, it would be nice addition. Thanks :+1:

[2019-03-28 19:07] ananyaarun commented on #5291
Sure Thanks, I'll be working on this :)

[2019-03-28 19:07] gauravano commented on #5291
Great!

[2019-03-28 19:10] ananyaarun commented on #5180
@gauravano , Yes as a first step the "or" can be removed. Should we make this a newcomer issue ?
Considering the fix is easy ?
Once this is done we can ponder on other design changes more such as colour of those buttons.

[2019-03-28 19:15] gauravano commented on #5293
Hey @ebarry, thanks for creating the issue and yes, FTO issue can be created from it.

[2019-03-28 19:31] gauravano opened #5296 "Add Skylight link on error page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-03-28 19:32] gauravano commented on #4963
@scheleon you can start working on #5296 . Thanks!

[2019-03-28 19:32] gauravano commented on #5296
This issue is created for @scheleon. Thanks!

[2019-03-28 19:34] gauravano commented on #5293
Ok, I have created a FTO at #5296. So, closing this now. Thanks!

[2019-03-28 19:34] #5293 closed

[2019-03-28 19:38] divyabaid16 opened #5297 "Edits is not updating in subscription/digest"
In ```https://publiclab.org/subscriptions/digest``` the ```edits``` is not changing.
I have edited my notes 3 times but still, the number of edits is shown as 1.
Here is the screenshot
![Selection_103](https://user-images.githubusercontent.com/32747809/55187428-0706cb80-51bf-11e9-93f8-566753ecea5b.png)

[2019-03-28 19:39] divyabaid16 commented on #5297
I would like to work on this.
Thanks!

[2019-03-28 19:45] ViditChitkara commented on #5229
@jywarren the problem here is that there are multiple comment boxes on a single page. Editor.js and dragdrop js are written assuming a single text area.
I think we need to decide the best possible way to rewrite the editor and dragdrop code which will cater for multiple comment boxes.
Any suggestions on this?

[2019-03-28 20:05] mahmodHammad commented on #5296
i want to solve this issue please

[2019-03-28 20:10] divyabaid16 commented on #5285
@publiclab/designers, please suggest some ideas on this!

[2019-03-28 20:11] gauravano commented on #5296
Hey @mahmodHammad, this issue is already assigned. You can get yourself assigned too by leaving a comment on https://github.com/publiclab/plots2/issues/4963. Thanks!

[2019-03-28 20:14] mahmodHammad commented on #4963
Hey, I'm also looking for first-timers-issue. Please assign me one.

[2019-03-28 21:24] santushk commented on #4963
Hi, I am looking for first-timers-issue. Let me know if I could be of any help.

[2019-03-28 21:48] jywarren commented on #5285
Hi, Divya - so, are you also suggesting the use of a vertical nav instead
of tabs for existing sections, in addition to what opens on a new page?

https://getbootstrap.com/docs/4.3/components/navs/#vertical

https://getbootstrap.com/docs/4.3/components/navs/#tabs

Perhaps with the various profile page design processes going (LekhikaDugtal
would you mind linking to some of the various threads?) we

[2019-03-28 23:43] jillpena commented on #4963
Hi, I'm looking for a FTO issue and would like to be added to the list.

[2019-03-29 00:40] sashadev-sky commented on #4963
you guys are added!

[2019-03-29 00:42] scheleon commented on #5296
Thanks, I'll work on this issue.

[2019-03-29 02:29] scheleon commented on #5296
@gauravano which branch am I supposed to send pull request to?

[2019-03-29 03:38] gautamig54 commented on #5289
@mahmodHammad Sure, Once it gets approved!

[2019-03-29 06:19] Swati-rachamalla commented on #5295
hi..i am interested to solve the issue. but can you help me with starting of the contribution

[2019-03-29 08:11] gautamig54 commented on #5273
Yes, @gauravano we can make a separate variable in the questions/answers controller and since the query of counting the number of questions asked or answers posted has been used few times, we can change it to one. I'll do it. Thanks!

[2019-03-29 10:28] gautamig54 commented on #5289
@gauravano Kindly review this issue. Thanks!

[2019-03-29 12:06] bronwen9 opened #5303 "Ban Error"
### Issue reversing ban on user profile.

We have a user who seems to have been banned in error, and when I try to unban their profile, I get a notice saying that the profile is unbanned, but the profile's status remains unchanged.

This issue was discovered about an hour after the first attempt at unbanning was made, and persists even after refreshing the page.

(redacted)

[2019-03-29 12:40] gauravano commented on #5303
Hey @bronwen9, thanks for reporting. Let me see, if I can help here.

[2019-03-29 12:58] dinaelhanan commented on #5286
@guatamig54 maybe this can be a GSoC issue where people who are native to the language can contribute docs/pages in that language?

[2019-03-29 13:07] gauravano commented on #5303
@jywarren there is no such issue faced locally. Also, I find 2 alerts suspicious, like first alert `The user has been banned` is generated from admin_controller here - https://github.com/publiclab/plots2/blob/master/app/controllers/admin_controller.rb#L296-L305

and second alert from users_controller while reloading the profile page  -  https://github.com/publiclab/plots2/blob/master/app/controlle

[2019-03-29 14:45] gauravano commented on #5297
Sure, go ahead!

[2019-03-29 14:48] gauravano commented on #5296
@scheleon master branch

[2019-03-29 15:00] gauravano commented on #5295
Hi @Swati-rachamalla, this issue is already assigned but we would love to have your help with other issues. You can comment here- https://github.com/publiclab/plots2/issues/4963 to get yourself issue assigned or go through https://github.com/publiclab/plots2/issues/ and claim one which is not assigned/claimed to/by another contributor yet.

Thanks!

[2019-03-29 15:02] gauravano commented on #5273
Great!

[2019-03-29 15:03] gauravano commented on #5289
Go ahead @mahmodHammad!

[2019-03-29 15:14] gauravano commented on #5286
hey everyone, we have Transifex account - https://www.transifex.com/publiclab/publiclaborg/dashboard/ so you can help there. Thanks!

[2019-03-29 18:56] divyabaid16 commented on #5297
Hi, @gauravano I guess that the option to see the total number of edits must also be present in the notes.
So that the user can look how many times the edit has been made to it.
What are your views on this?
![Selection_105](https://user-images.githubusercontent.com/32747809/55256139-582bc380-5282-11e9-8bad-f3c32a913ffa.png)

After the number of views, the number of edits must also be present.

[2019-03-29 19:02] vcavallo opened #5304 "error on "following jobs""
landed on https://publiclab.org/tag/jobs, clicked "follow jobs", got the "There was an error. Are you sure you have the right address?" page.
clicking on "subscribe"  on the same page just pops up a little tooltip, empty except for: "Follow related tags:"
clicking the RSS button on the same page results in the same error at this URL: https://publiclab.org/feed/tag/jobs.rss

browser: Brave Version

[2019-03-29 19:15] jywarren commented on #5304
Hi! Thanks for reporting this. For the time being, if you log into the
site, you should be able to use this link:
https://publiclab.org/subscribe/tag/jobs

We'll be overhauling that page soon and will be sure to fix this!

On Fri, Mar 29, 2019 at 3:03 PM welcome[bot] <notifications@github.com>
wrote:

[2019-03-29 19:33] gauravano commented on #5304
Hey @jywarren,

It's fixed and is merged in master some days ago.

This one is also ready. @jywarren your final review is required on this here - https://github.com/publiclab/plots2/pull/5246.

Thanks!

[2019-03-29 19:50] gauravano commented on #5022
Hey everyone!

We are really happy to see the awesome proposals you all have submitted for the Outreachy and it's definitely going to be a tough call this time.

We would like to inform you that, we have extended the application deadline of Outreachy project - **[Extend Leaflet Environmental Layers with new layer menu and layer addition workflow](https://www.outreachy.org/may-2019-august-2019-outr

[2019-03-29 19:55] divyabaid16 commented on #5285
@jywarren I am suggesting to use this in the profile section only as of now. I think we should consider the idea alongside the other proposed changes to the profile page.

[2019-03-29 20:17] #5255 closed

[2019-03-29 20:38] cesswairimu commented on #5264
Implemented in #5257

[2019-03-29 20:38] #5264 closed

[2019-03-29 21:14] alonpeer commented on #3531
Related PR: https://github.com/publiclab/plots2/pull/5248

[2019-03-29 21:27] first-timers[bot] opened #5305 "Change `author.user` to `author` to fix our RSS feeds"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-03-29 21:28] jywarren commented on #4963
Hi @santushk -- I made a first-timers-only issue for you here! https://github.com/publiclab/plots2/issues/5305

[2019-03-29 21:28] jywarren commented on #5305
Hi @santushk -- I made a first-timers-only issue for you here! https://github.com/publiclab/plots2/issues/5305

[2019-03-29 21:35] jywarren commented on #5259
This could be broken into many `first-timers-only` issues using search results from this:

https://github.com/publiclab/plots2/search?q=%22current_user.role+%3D%3D%22&unscoped_q=%22current_user.role+%3D%3D%22

****

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's sim

[2019-03-29 21:40] first-timers[bot] opened #5306 "Refactor admin_controller with simpler user login/role check"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-03-29 21:43] jywarren commented on #5259
Made https://github.com/publiclab/plots2/issues/5306 for `admin_controller.rb`!

[2019-03-29 21:43] jywarren commented on #4963
@jillpena I made one for you too! #5306

[2019-03-29 21:44] jywarren commented on #5306
Hi @jillpena I made this one for you! It is a bit long, but don't be concerned -- it's fairly repetitive! I also set it up so you remove some unwanted code.

[2019-03-29 21:58] jywarren commented on #5229
I think we could issue each comment box a unique ID and ensure that this is passed through dragdrop -- often you can use the `this` keyword to target a specific element within a jQuery queried element:

https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/dragdrop.js

So, instead of the hard-coded regions we're updating in there on these lines:

https://github.com/publiclab/plots

[2019-03-29 22:04] jywarren opened #5308 "Enable "activities" variant of [notes:grid:TAGNAME] inline tag"
Now that we have inline image grids, like on this page: https://publiclab.org/wiki/coqui#Assemble+the+Coqui

![image](https://user-images.githubusercontent.com/24359/55264943-88586f80-524c-11e9-85f5-f5b23a0e2c61.png)

...that can be made by inserting the following shortcode into a wiki page: `[notes:grid:coqui]` (for example),

We should make the `Add an activity` button appear if we use the alter

[2019-03-29 22:14] #5245 closed

[2019-03-29 22:16] jywarren commented on #5304
Oh fantastic, thank you Gaurav. I'll also be publishing to production
shortly.

On Fri, Mar 29, 2019 at 3:33 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-29 23:32] jywarren commented on #5303
Could it be this?

https://github.com/publiclab/plots2/blob/e7d1315189f3e4b7ad0e1f50c1ed74c1d371c6bf/app/models/user.rb#L289-L294

[2019-03-30 00:06] #5265 closed

[2019-03-30 00:06] SKashyapD commented on #4660
hello everyone

I uploaded 147 imagery from Hurricane Harvey after slicing and removing irrelevant images.
I will try to add more images soon @Zengirl2 please review it.
@jywarren can I add something to research section ?
and to update the Team section can you please provide me your portfolio links @jywarren @Zengirl2 which will make our project look more promising.

thanks

[2019-03-30 00:13] jywarren commented on #5022
Finally, we also recommend that people consider applying to the Summer of Code programs listed here -- you can use the same application as for Outreachy, or choose another from our ideas list (see the link):

https://publiclab.org/notes/warren/02-28-2019/call-for-summer-of-code-2019-proposals

This is because, although Google Summer of Code is not the same, we expect to see quite a few more slots

[2019-03-30 00:18] jywarren commented on #4782
This worked! https://github.com/publiclab/plots2/pull/4967 It required wrapping tests in a block starting with `perform_enqueued_jobs do` and `end`.

We could merge this now, then repeat for remaining instances of `deliver_now`:

https://github.com/publiclab/plots2/search?q=deliver_now

[2019-03-30 00:33] jywarren commented on #5286
Let's do some social media outreach around this too! What should we post?

On Fri, Mar 29, 2019 at 11:15 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-30 00:36] jywarren commented on #5123
It's very nice! Is it ready to be copied back in? Thank you!!!

On Thu, Mar 28, 2019 at 1:55 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-30 00:47] jywarren commented on #4776
I think we are not quite ready to migrate the editor to React, and even if
we did, we would still want to solve the HTML/CSS design issues here, no? I
like the idea in the longer term, though!!!

Regarding the issues you've found, we would LOVE to see them written out.
You don't have to write them all out, but just getting an issue started
would be so helpful!!

Thanks!

On Wed, Mar 27, 2019 at 11

[2019-03-30 00:47] dinaelhanan commented on #5308
Hey! I'll take this on :)

[2019-03-30 00:58] jywarren commented on #5277
Thanks all for the debugging!!!

On Wed, Mar 27, 2019 at 3:36 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-30 01:00] jywarren commented on #259
agreed!

On Wed, Mar 27, 2019 at 11:26 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-30 01:00] jywarren commented on #5042
I think it looks lovely! I think this one may be in the wiki page content itself, so perhaps a find/replace could work?

[2019-03-30 01:01] jywarren commented on #5275
This is great. Also starting to collect some more tutorials on how to use
the site here: https://publiclab.org/wiki/website

On Wed, Mar 27, 2019 at 11:40 AM Divya Baid <notifications@github.com>
wrote:

[2019-03-30 01:02] jywarren commented on #326
This'd be great! I think we'd add to the view a conditional checking for
`node.has_power_tag('alert')` (i think) and then inside the conditional,
the alert HTML and the features lookup!

On Wed, Mar 27, 2019 at 11:21 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-30 01:12] jywarren commented on #5260
We would love help!!!

On Wed, Mar 27, 2019 at 7:23 AM Divya Baid <notifications@github.com> wrote:

[2019-03-30 01:15] #5217 closed

[2019-03-30 01:24] jywarren opened #5309 "Button short-codes replace entire wiki page"
After #4965 #5058, we have this nice new shortcode for making buttons, and it's well-tested too!

Unfortunately I tried it out and it seems to replace the whole page, not just the code we found. I think it needs a small tweak to work properly! We might start by checking in the tests to assert that the whole page wasn't replaced.

Here are 2 button codes I tried:

[code]

This can be tested on http

[2019-03-30 04:40] ViditChitkara commented on #5229
I'll give this a shot!! An interesting one!!

[2019-03-30 11:38] sashadev-sky commented on #4963
We have our first FTO in the Leaflet.DistortableImage repo: https://github.com/publiclab/Leaflet.DistortableImage/issues/182

Really fun repo to contribute to and a lot to be done! Anyone is welcome to grab it.
 🎉 🎉

[2019-03-30 15:18] gautamig54 commented on #5273
@gauravano Kindly review my PR for the said issue. Thanks!

[2019-03-30 16:35] jywarren opened #5311 "(not working yet) Change deliver_now to deliver_later for all emails"
We just successfully converted the admin_controller to use `deliver_later` to enqueue email sending, which should really help keep the website running smoother -- it uses Redis automatically to send emails on another thread.

https://github.com/publiclab/plots2/pull/4967/files shows how we did it -- it did involve wrapping all failing tests with:

[code]

Let's do this for each controller, and eac