[2018-12-08 11:57] SidharthBansal commented on #4154
Thanks for claiming the task

[2018-12-08 12:03] SidharthBansal commented on #2866
Moved to #4173

[2018-12-08 12:12] SidharthBansal commented on #3656
Creating the new modal and linking return_to actions in the modal might help.
Trying this approach right now.
Hope it helps

[2018-12-08 12:14] okonek commented on #4154
@SidharthBansal Resolved in here: https://github.com/publiclab/plots2/pull/4186
Hope you'll have time to check it out.

[2018-12-08 15:18] arungoel123456 commented on #3736
I would like to work on this issue

[2018-12-08 15:57] #3736 closed

[2018-12-08 15:58] SidharthBansal commented on #3736
The issue is resolved

[2018-12-08 16:17] SidharthBansal opened #4188 "Add return_to field in the login modal"
@okonek has claimed this and is working on this.

[2018-12-08 16:32] SidharthBansal commented on #4188
@okonek please claim https://codein.withgoogle.com/dashboard/tasks/5754476527878144/ and push a pr. I want to do a quick merge and approval.

[2018-12-08 16:35] oorjitchowdhary commented on #4126
@publiclab/reviewers ?

[2018-12-08 16:37] oorjitchowdhary commented on #4163
@publiclab/mentors Can I make this a `first-timers-only` issue?

[2018-12-08 16:39] oorjitchowdhary commented on #4082
@publiclab/mentors So is this already solved then?

[2018-12-08 16:40] dinaelhanan commented on #4082
I have already solved it just waiting for a PR to be reviewed :) @oorjitchowdhary

[2018-12-08 16:41] oorjitchowdhary commented on #4082
Oh okay.. Thanks for the contribution @dinaelhanan

[2018-12-08 16:42] SidharthBansal commented on #4126
I will suggest that we want both views.
We need to change the grid view to something better. If you could provide us a better template to work upon, you can got GCI rewards.
Thanks

[2018-12-08 16:43] SidharthBansal commented on #4126
Nice suggestion btw

[2018-12-08 16:47] oorjitchowdhary commented on #4126
Okay let me find something more interesting then..

[2018-12-08 16:47] oorjitchowdhary commented on #4126
Thanks 😄

[2018-12-08 16:47] SidharthBansal commented on #4163
Yeah sure. Once you create a first timer, please claim the task so that I can reward you.

[2018-12-08 17:02] JonathanXu1 commented on #3325
Hey just checking back, my PR has been merged and I was wondering I could get credit for this task. Thanks!

[2018-12-08 17:17] SidharthBansal commented on #3325
Please claim the task on the GCI dashboard so that I can approve

[2018-12-08 17:18] JonathanXu1 commented on #4132
Here's some more areas to add logins:

- [ ] Ask a question in public lab store:
![image](https://user-images.githubusercontent.com/22998430/49688576-6a6ecf80-fae2-11e8-89f1-847dac8e8236.png)
https://store.publiclab.org/collections/featured-kits/products/papercraft-spectrometer-intro-kit?variant=6100877213724
- [ ] Log in icon on pubic lab store:
![image](https://user-images.githubusercontent.com/

[2018-12-08 17:19] JonathanXu1 commented on #3325
![image](https://user-images.githubusercontent.com/22998430/49688674-832bb500-fae3-11e8-8d50-e92e30d7d1a2.png)
I can't seem to find it on gci...

[2018-12-08 17:21] oorjitchowdhary commented on #3325
![image](https://user-images.githubusercontent.com/39333058/49688682-bef26900-fb3b-11e8-879e-4d5def459c37.png)

Yes it is a beginner task on gci

[2018-12-08 17:21] dinaelhanan commented on #4132
@JonathanXu1 so for the store, I'm seeing this as the login:
![screenshot from 2018-12-08 12-21-15](https://user-images.githubusercontent.com/19677511/49688686-cbe36e00-fae3-11e8-92b7-e27131009919.png)

Do you mean that we should add Oauth to it?

[2018-12-08 17:21] SidharthBansal commented on #4132
Great work!!!
It will be great if you can raise separate issues for these tasks and link them to this issue.

[2018-12-08 17:23] oorjitchowdhary opened #4189 "Navbars should be on the same horizontal line"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all) made from #4163. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as

[2018-12-08 17:30] JonathanXu1 opened #4190 "Make store signup a modal and add Oauth"
This issue is a continuation of #4132

At https://store.publiclab.org/ , you can see there's a login icon:
![image](https://user-images.githubusercontent.com/22998430/49688761-ea963480-fae4-11e8-8dd2-5f2ffeb3b9eb.png)

What we want to do, is to add Oauth to this login pane and turn it into a modal.
![image](https://user-images.githubusercontent.com/22998430/49688764-fb46aa80-fae4-11e8-920e-5b2284d

[2018-12-08 17:31] SidharthBansal commented on #4169
We are looking for the sign up modal first then these linking issues. Once @JonathanXu1 you complete it we can work on these issues
These linking issues are short if we see the number of lines of code to be changed but lenghty if we see the amount of time, testing etc each requires. Hence I have not made them beginner tasks @jywarren. I hope you will agree on this.

[2018-12-08 17:33] dinaelhanan commented on #4190
Please make this a task! @SidharthBansal I will take it up after two other ones (the unit tag test which I am waiting on review from jeff and I need to claim a task and hand it in since I opened an issue) Those tasks should be approved by monday, I will claim this task then :)

[2018-12-08 17:33] JonathanXu1 opened #4191 "Disable login modal in embedded grids"
This issue is a continuation of #4132

On each individual listing on the public lab store, there is an option to ask a question.
![image](https://user-images.githubusercontent.com/22998430/49688788-55477000-fae5-11e8-941e-97ff6fe2a9a2.png)

We want to make a login modal pop up when that button is clicked, instead of opening up a dialog of an entire site in that pane, which is highly inefficient.

[2018-12-08 17:33] SidharthBansal commented on #4169
1. Click on the /questions button
2. Login/Sign up integrated modal
3. User signs up or logs in through form or OAuth
4. User redirected to the questions page.

[2018-12-08 17:34] dinaelhanan commented on #4132
@oorjitchowdhary that's what I'm going to do :)

[2018-12-08 17:35] JonathanXu1 opened #4192 "Add login modal to subscribe to emails button"
This issue is a continuation of #4132

On the requests page, there is a button to subscribe to emails:
![image](https://user-images.githubusercontent.com/22998430/49688805-b8d19d80-fae5-11e8-9534-98dd0d7ad6f7.png)

However that cannot be done unless a user is logged in, so a warning popup is shown. What we want to do is make a login modal appear when the button is clicked and the user is not logge

[2018-12-08 17:37] SidharthBansal commented on #4132
@dinaelhanan no you need not to do the OAuth for providers on the store. Store is a different website. Its codebase is not available to us.
I think we need not to link the login/sign up modal to that store page.

[2018-12-08 17:37] JonathanXu1 opened #4193 "Login modal on join public lab link"
This issue is a continuation of #4132

On the https://publiclab.org/research page, there is a link that says "Welcome! This could be your dashboard if you joined Public Lab"
![image](https://user-images.githubusercontent.com/22998430/49688809-d3a41200-fae5-11e8-9b45-c2122f996219.png)

What we want to do is to make a login modal appear when that link has been clicked.

[2018-12-08 17:38] oorjitchowdhary commented on #4132
Oh i see.. So perhaps we can implement only its design for our login modal?

[2018-12-08 17:39] JonathanXu1 commented on #4132
So should I remove both #4190 and #4191?

[2018-12-08 17:39] dinaelhanan commented on #4132
@JonathanXu1 no I just edited the title, we just have to make it a modal

[2018-12-08 17:39] oorjitchowdhary commented on #4132
I guess yes..

[2018-12-08 17:39] JonathanXu1 commented on #3325
I understand. I'm very sorry for not being aware of that. It won't happen again.

[2018-12-08 17:39] dinaelhanan commented on #4190
We shouldn't add OAuth, see https://github.com/publiclab/plots2/issues/4132#issuecomment-445476249

[2018-12-08 17:40] SidharthBansal commented on #4190
@dinaelhanan comment

![screenshot from 2018-12-08 12-21-15](https://user-images.githubusercontent.com/19677511/49688686-cbe36e00-fae3-11e8-92b7-e27131009919.png)
Do you mean that we should add Oauth to it?

 @oorjitchowdhary's comment

@SidharthBansal's comment

@oorjitchowdhary ,@dinaelhanan no you need not to do the OAuth for providers on the store. Store is a different website. Its codebase is

[2018-12-08 17:40] SidharthBansal commented on #4132
Let's have this conversation in the issue created.
No need to close issues @JonathanXu1

[2018-12-08 17:41] SidharthBansal commented on #4190
@oorjitchowdhary's comment

@dinaelhanan's comment

[2018-12-08 17:42] JonathanXu1 commented on #4132
Alright. Can I submit this task on GCI then?

[2018-12-08 17:44] SidharthBansal commented on #4132
Yes. Go ahead.

[2018-12-08 17:45] JonathanXu1 commented on #4132
Great, thanks! I'll send it in after the redundant share your work task has been approved.

[2018-12-08 17:46] SidharthBansal commented on #4132
You have not claimed it yet. I am online let's do it now.

[2018-12-08 17:47] JonathanXu1 commented on #4132
![image](https://user-images.githubusercontent.com/22998430/49688927-77da8880-fae7-11e8-8396-7ad05f087986.png)

[2018-12-08 17:49] SidharthBansal commented on #4190
Students, I think that store's codebase is different from the plots2 codebase. So please don't get started with this issue until and unless @jywarren asks us to do that.
Secondly, OAuth is a lengthy project, even if Jeff will agree this store OAuth will not be a part of GCI for sure. It's much broader task for you than you are imagining. I hope you can understand it.

[2018-12-08 17:51] SidharthBansal commented on #4132
Approved

[2018-12-08 17:52] SidharthBansal commented on #3325
No problem. Be careful from the next time

On Sat, Dec 8, 2018 at 11:10 PM Jonathan Xu <notifications@github.com>
wrote:

[2018-12-08 17:53] dinaelhanan commented on #4132
@SidharthBansal for this PR: #4149 I did all the requirements by @jywarren . I would like to get started on other tasks since the deadline is near, so can you please approve this task?
https://codein.withgoogle.com/dashboard/task-instances/4824240835526656/
Jeff has reviewed it and I met all criteria :)

[2018-12-08 17:55] SidharthBansal commented on #4132
@dinaelhanan @JonathanXu1 this issue is about ``identification of different pages to link the login modal``, please don't make this conversation divergent. I hope you both will not mind if you will tag me in the respective issues.

@dinaelhanan I will try to do it.

[2018-12-08 17:57] SidharthBansal commented on #4191
@jywarren do we need this issue OR not because it's part of store?

[2018-12-08 17:57] oorjitchowdhary commented on #4173
@JonathanXu1 you're working on this or this issue is left to solve by anyone?

[2018-12-08 17:59] JonathanXu1 commented on #4170
Just wondering, is the codebase for this available on plots2 or another repository? On plots2 localhost all I can see is this:
![image](https://user-images.githubusercontent.com/22998430/49689041-11ef0080-fae9-11e8-97bf-a74cbcb681ba.png)

[2018-12-08 18:00] SidharthBansal commented on #4132
@oorjitchowdhary https://github.com/publiclab/plots2/issues/4132#issuecomment-444972178 please do the task which you forget to do in this issue. Thanks everyone

[2018-12-08 18:00] JonathanXu1 commented on #4173
Yep, I'm currently setting up the signup modal as it was before in my previous PR before I removed it. I'll let you know if there's anything I'll help with. Good luck!

[2018-12-08 18:01] oorjitchowdhary commented on #4173
Okay great

[2018-12-08 18:02] oorjitchowdhary commented on #4132
Oh.. I'll make the issues

[2018-12-08 18:02] JonathanXu1 commented on #4132
@SidharthBansal For the future, where can we best contact mentors like you about non-task specific questions?

[2018-12-08 18:05] SidharthBansal commented on #4132
For gci related issues on the gci platform, for the reward related queries in the issue itself.
If still the task is not related to any issue on github or gci then you can contact us on gitter chat or #3698.
I hope this helps

[2018-12-08 18:07] oorjitchowdhary opened #4194 "Link login modal to 'post your work' under 'Get Involved' tab"
Link the newly added login modal here at `Post your work` under the `Get Involved` tab.

![publiclab_adiyenvironme](https://user-images.githubusercontent.com/39333058/49689090-21e6fe80-fb42-11e8-9f0e-497fe0b5476c.gif)

[2018-12-08 18:09] oorjitchowdhary commented on #4132
@SidharthBansal #4194

[2018-12-08 18:11] JonathanXu1 commented on #4132
Thanks, that's very helpful.

[2018-12-08 18:13] SidharthBansal commented on #4132
@oorjitchowdhary emojis are remaining. Can you create an issue for it also?

[2018-12-08 18:14] oorjitchowdhary commented on #4132
Yes.. I was just searching if an issue was made for it.. I'll make it

[2018-12-08 18:14] JonathanXu1 commented on #4173
@oorjitchowdhary could you help me figure out a way to render the form template in directories outside of /signup?
https://github.com/publiclab/plots2/issues/4173#issuecomment-445283901

@SidharthBansal @jywarren Is this task up on GCI yet?

[2018-12-08 18:14] SidharthBansal commented on #4132
No issue is created for the emojis

[2018-12-08 18:17] SidharthBansal commented on #4173
you need to check it. If it is not we will create one. It is non beginner task. So, don't worry :smile:

[2018-12-08 18:18] JonathanXu1 opened #4195 "Merge SignUp and LogIn buttons"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contribut

[2018-12-08 18:18] SidharthBansal commented on #4173
@oorjitchowdhary if you will be doing the collaborative task with @JonathanXu1 in resolving then both of you will get rewards :-) I am very generous in giving points.

[2018-12-08 18:20] oorjitchowdhary commented on #4173
@JonathanXu1 We can do that

[2018-12-08 18:22] SidharthBansal commented on #3285
@jywarren we are creating the Login/Sign Up frontend this year for this issue.
My idea worked. It was a nice idea

[2018-12-08 18:37] oorjitchowdhary commented on #4132
@SidharthBansal I think the emojis aren't shown when you aren't logged in.. So we don't need an issue for linking... My bad there..

[2018-12-08 18:39] SidharthBansal commented on #4188
@okonek I checked your changes by pushing them onto the unstable
![image](https://user-images.githubusercontent.com/20972099/49689386-75f3e200-fb46-11e8-898d-94f4b0dd8b71.png)

The return_to works well but you have by mistake written the line
![image](https://user-images.githubusercontent.com/20972099/49689392-9754ce00-fb46-11e8-8807-0348f688dc5f.png)

Because of which we get the output on unstabl

[2018-12-08 18:40] SidharthBansal commented on #4188
So please remove that line and create a pr soon so that I can merge and give you your reward points.

[2018-12-08 18:42] CoderJolly commented on #4184
@SidharthBansal Can someone else also take this, other than GCI ?

[2018-12-08 18:46] SidharthBansal commented on #4184
@CoderJolly this task needs to be done after Sign Up and @JonathanXu1 is working on this task.
@CoderJolly only GCI students can take GCI tasks.

[2018-12-08 18:51] SidharthBansal commented on #4132
Thanks for the correction. I have already rewarded you for this task.
I missed to ask you to create issues for them

On Sun, Dec 9, 2018 at 12:07 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-08 18:52] SidharthBansal commented on #4132
Sorry about that.

[2018-12-08 19:05] JonathanXu1 commented on #4121
Hey could I help out as well? This task seems to be available on GCI

[2018-12-08 19:11] JonathanXu1 commented on #4168
Hi there, could I get a pointer to the location of the sidebar layout?

[2018-12-08 19:12] JonathanXu1 commented on #4163
Hey there, this task is still available on GCI. Can you guys add the "beginner" tag to it to reduce confusion?

[2018-12-08 19:16] SidharthBansal commented on #4168
@jonathanXu1 I will request you to focus on atmost 2-3 issues at a time. You have already so many at this time. Can we do this after you complete your pending work

[2018-12-08 19:17] SidharthBansal commented on #4163
Link for the GCI issue please

[2018-12-08 19:18] kevinzluo commented on #4163
I believe it is this one: https://codein.withgoogle.com/tasks/5066725092491264/?sp-organization=6519545549291520&sp-is_beginner=False

[2018-12-08 19:45] SidharthBansal commented on #4168
No problem. We discourage more than 3 tasks because it becomes hectic for a student.

I hope it will be in
https://github.com/publiclab/plots2/tree/master/app/views/sidebar

[2018-12-08 19:47] oorjitchowdhary commented on #4168
So can I take this up?

[2018-12-08 19:49] oorjitchowdhary commented on #4168
Though I can't find any login button in the sidebar.. Do we want to add one?

[2018-12-08 19:51] oorjitchowdhary commented on #4174
@SidharthBansal @jywarren

[2018-12-08 19:55] SidharthBansal commented on #4168
We will be integrating the Sign up module once it is ready.

[2018-12-08 20:40] SidharthBansal commented on #3534
@oorjitchowdhary this is fto issue, so you are ineligible for this.
You can try other issues.

[2018-12-08 20:41] oorjitchowdhary commented on #3534
Okay no problem.. I tried working on this as this wasn't a beginner task on gci

[2018-12-08 20:43] SidharthBansal commented on #3534
Sorry for the late reply.

On Sun, Dec 9, 2018 at 2:11 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-08 20:44] oorjitchowdhary commented on #3534
No worries.. You guys are already working so hard... 👏

[2018-12-08 21:59] SidharthBansal commented on #3328
@JonathanXu1 have you worked on this? Where is the pr?

[2018-12-08 23:30] kevinzluo opened #4200 "Unable to use login modal password field"
### Please describe the problem (or idea)

Currently unable to use the password field of the login modal and signup modal. Issue only occurs on firefox.

Cannot type into the password field.
![loginnotworking](https://user-images.githubusercontent.com/44309027/49691763-d8c98700-fb0e-11e8-878e-2a5689dff5bd.gif)

### Please show us where to look

https://stable.publiclab.org

### What's your PublicL

[2018-12-08 23:52] SidharthBansal commented on #4184
@JonathanXu1 can you please share the gifs which you are planning for this issue.
We can enhance it here side by side until that pr isn't merged

[2018-12-09 00:11] JonathanXu1 commented on #4184
Here's the gif of the current version of login and signup modals that I'm working on:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/22998430/49691997-06b5c800-fb1d-11e8-9762-ce35ec3b2c61.gif)

Keep in mind that the signup modal only works on the /signup page.

[2018-12-09 03:03] professionalzack commented on #4189
I would like to work on this issue thanks

[2018-12-09 05:50] oorjitchowdhary commented on #4200
@kevinzluo Even I encountered this error.. seems like a browser issue on Ubuntu.. but it worked for me when I used chrome for ubuntu.. I'd suggest please try that out..

[2018-12-09 05:51] oorjitchowdhary commented on #4163
@SidharthBansal I think we can close this down.. I opened #4189

[2018-12-09 05:55] kevinzluo commented on #4200
Yep! I ended up using chrome too.
Kevin Luo

On Sat, Dec 8, 2018 at 11:50 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-09 06:09] arungoel123456 commented on #3462
Can i take it as my first issue

[2018-12-09 06:30] arungoel123456 commented on #4189
@professionalzack  are u working on it ??

[2018-12-09 06:33] oorjitchowdhary commented on #4189
@arungoel123456 @professionalzack If you guys are willing to collaborate this one.. you're most welcome.. 😃
Otherwise, @arungoel123456 you can check out https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3Afirst-timers-only for issues which are meant to be solved by `first-timers`..

Welcome to Public Lab! 🎉

[2018-12-09 06:34] arungoel123456 commented on #4189
@professionalzack  would u like to collaborate

[2018-12-09 06:40] oorjitchowdhary commented on #4189
@professionalzack I just took a look here.. You actually created a pull request in your own fork of the repository..

You've to commit changes in the `publiclab/plots2` repository.. To do that here are the steps you can follow.. And ping me on the pull request if you've any doubts.. Thanks a lot..

[2018-12-09 06:57] arungoel123456 opened #4202 "More than 1 reactions on a comment"
If we have reacted once on a comment , then we can add another reaction on a comment .... For eg
![pic1](https://user-images.githubusercontent.com/31837154/49694269-5348e400-fbad-11e8-8854-8c3eff1b44a2.png)

![image](https://user-images.githubusercontent.com/31837154/49694276-76739380-fbad-11e8-92e9-2a2c24e6fa95.png)

![pic3](https://user-images.githubusercontent.com/31837154/49694282-8be8bd80-fba

[2018-12-09 07:12] oorjitchowdhary commented on #4126
I just realized if we do the list view, it won't look good with moderated views as `moderated views` are in grid view.. So we'd have to do something either with moderated view conversion to list moderated or enhance the current grid view for comments..

[2018-12-09 07:31] SidharthBansal commented on #4189
@arungoel123456 as this is a small task, you should take another issue and let @professionalzack work on this one alone

[2018-12-09 07:31] oorjitchowdhary commented on #3454
Hi, @publiclab/reviewers .. I think the inconsistency was due to the redundant list and grid view buttons in the mobile view.. I just removed them through my PR #4201 .. I just viewed this page and this is how it looks without the list and grid buttons..

![screenshot 70](https://user-images.githubusercontent.com/39333058/49694545-4f6b9080-fbb2-11e8-9faa-4533c72d88c5.png)

For the problem in detec

[2018-12-09 07:41] oorjitchowdhary commented on #3450
Hi, I think we can close this down as the login is no longer a dropdown...
Here's how the current login looks on mobiles
1. on unstable (login modal)

![login modal](https://user-images.githubusercontent.com/39333058/49694628-a7ef5d80-fbb3-11e8-9f8a-fc83e3956494.gif)

[2018-12-09 07:41] oorjitchowdhary commented on #3450
2. on normal (login page)

![login page](https://user-images.githubusercontent.com/39333058/49694645-f56bca80-fbb3-11e8-9e50-76abbe6d5922.gif)

[2018-12-09 07:45] #3328 closed

[2018-12-09 07:46] SidharthBansal commented on #4126
We want either a new grid view or need to modify the existing one

[2018-12-09 07:46] oorjitchowdhary commented on #4202
@arungoel123456 That's a great catch.. but I think we should edit the code in a manner that a particular user can use only one reaction once.. for eg.. a thumbs up can be used only once by a user.. but he may also add other reactions.. but all reactions can be put up only once.. sort of how it's like on github.. I'll make a gif to demonstrate it well...

[2018-12-09 07:49] oorjitchowdhary commented on #4202
![morethan1rectionsonacommen](https://user-images.githubusercontent.com/39333058/49694708-fb15e000-fbb4-11e8-8649-1a5ed5718195.gif)

See how it works on github..
@publiclab/mentors Can help us out here maybe

[2018-12-09 07:52] #3733 closed

[2018-12-09 07:54] SidharthBansal commented on #4163
@JonathanXu1 I have added beginner label.
Thanks

[2018-12-09 07:54] #4163 closed

[2018-12-09 07:56] SidharthBansal commented on #4202
@arungoel123456 are you a gci student, if yes please claim the ``give suggestions task``.
Nice catch.
Thank @arungoel123456
Are you willing to submit a fix for it?

[2018-12-09 07:59] #3450 closed

[2018-12-09 08:00] SidharthBansal commented on #3450
@oorjitchowdhary thanks

[2018-12-09 08:02] SidharthBansal commented on #4184
I am asking you what are you planning for integrated view.
I know the current state. Sorry, for the misunderstanding

[2018-12-09 08:04] kevinzluo commented on #3426
@SidharthBansal Since GCI is coming to an end soon, would you mind if I worked on this task now even though my previous one ([here](https://github.com/publiclab/leaflet-environmental-layers/pull/104)) has not yet been approved?

If not, that is perfectly fine.

Thank you,
Kevin Luo

[2018-12-09 09:18] SidharthBansal commented on #3426
All GCI students can work on around 3 tasks at a time. I will not mind

[2018-12-09 09:43] arungoel123456 commented on #4202
@SidharthBansal   who is a gci student ... please explain .
Secondly I am ready to fix this

[2018-12-09 09:45] arungoel123456 commented on #4202
@oorjitchowdhary   if we give a thumbs up , it means we liked it   but if we are also able to give thumbs down at the same time with thumbs up , what do we actually mean by doing that .... are we liking it or disliking it .... I hope u will get it what I am trying to say .

[2018-12-09 09:47] oorjitchowdhary commented on #4202
GCI is short for Google Code-in - an annual competition organized by Google for 13-17 year olds

[2018-12-09 09:57] SidharthBansal commented on #4202
Arun go ahead!
Best of luck

On Sun, Dec 9, 2018 at 3:18 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-09 10:04] SidharthBansal opened #4204 "Change frontend for Comments"
Currently, the post action of comments looks as
![image](https://user-images.githubusercontent.com/20972099/49695884-7da79b00-fbc7-11e8-8cce-c0db76aab959.png)
we want it to change it to the following
![image](https://user-images.githubusercontent.com/20972099/49695875-5c46af00-fbc7-11e8-834d-d5e3914d7c9d.png)
In this issue we just want a grey div in background.
radio buttons are linked to all the

[2018-12-09 10:05] SidharthBansal commented on #4204
We are also looking for the placeholder text.

[2018-12-09 10:11] SidharthBansal opened #4205 "Missing return to in logout"
@jywarren do we need return to in logout?
The user is leaving the website so I think, we don't need it.
I believe current action to redirect to /research is correct.

[2018-12-09 10:32] oorjitchowdhary commented on #3456
Do we have to write a new `def wiki` for this like this one here..?
https://github.com/publiclab/plots2/blob/a833569360e00106c4e2f97ae5ba93770b788729/app/controllers/notes_controller.rb#L323-L331

[2018-12-09 10:35] oorjitchowdhary commented on #4204
I'll take this up..

[2018-12-09 10:36] oorjitchowdhary commented on #4204
Can you tell if the `grey div` comment has been implemented anywhere yet?

[2018-12-09 10:51] SidharthBansal commented on #4204
Great!!!

I don't think it is implemented yet.

On Sun, Dec 9, 2018 at 4:06 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-09 10:52] oorjitchowdhary commented on #4204
Ok

[2018-12-09 11:02] oorjitchowdhary commented on #4204
@SidharthBansal could you help me with the code file.. I'm unable to find the template

[2018-12-09 11:02] SidharthBansal commented on #4200
It is working for ubuntu on chrome at my PC.
Can anyone @JonathanXu1 @oorjitchowdhary @Kevin-Kawai or any other contributor look into it and provide us a quick fix?

[2018-12-09 11:04] oorjitchowdhary commented on #4200
Yes.. it works on chrome but doesn't work on firefox for ubuntu

[2018-12-09 11:06] SidharthBansal commented on #4204
https://github.com/publiclab/plots2/blob/master/app/views/comments/_form.html.erb?fbclid=IwAR37Nyungallfv1jsAtvrNuVIlBT9Uxf3TGZONNkWXMCkvjPzS24qLc0fRs#L56

On Sun, Dec 9, 2018 at 4:32 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-09 11:06] SidharthBansal commented on #4200
Please try in incognito window on firefox. Does it work?
Check its behaviour on both localhost and unstable.

On Sun, Dec 9, 2018 at 4:34 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-09 11:08] oorjitchowdhary commented on #4200
let me see

[2018-12-09 11:11] oorjitchowdhary commented on #4200
The password field doesn't work on firefox.. tried all the possible outcomes

[2018-12-09 11:13] oorjitchowdhary commented on #4200
tried localhost and unstable both

[2018-12-09 13:08] SidharthBansal opened #4206 "Return to anamoly in login modal"
Return to is not properly rendered in the login form.

[2018-12-09 13:09] SidharthBansal commented on #4206
See pr #4197.

[2018-12-09 13:09] #4206 closed

[2018-12-09 13:10] SidharthBansal opened #4207 "Return_to not rendering in sign up modal"
Sign up modal should redirect back to the same page after sign up.
Example, on sign up from /questions it should link back to the questions.

[2018-12-09 13:19] SidharthBansal commented on #4207
#4203 has commit for this issue.

[2018-12-09 14:03] JonathanXu1 commented on #3328
Yeah I worked on it a long time ago but the task expired before I could claim it

[2018-12-09 14:04] JonathanXu1 commented on #4184
I'm thinking we have the current login modal pop up when the button is clicked. Then, when the user clicks "or sign up", the contents change to the signup modal. What do you think?

[2018-12-09 14:07] oorjitchowdhary commented on #4184
@JonathanXu1 That seems great

[2018-12-09 14:09] JonathanXu1 commented on #4200
Have you also tried clearing cache and hard refreshing?

It works on all the browsers on windows including firefox for me.

[2018-12-09 14:11] dinaelhanan commented on #4200
@oorjitchowdhary maybe try it on cloud9? It ended up working better for me. See [here](https://github.com/publiclab/plots2/wiki/Simple-Installation-for-Cloud9)

[2018-12-09 14:12] JonathanXu1 commented on #4170
Sure, I'd like to work on this 👍
Just wondering, is the codebase for this available on plots2 or another repository? There's no welcome prompt on localhost

[2018-12-09 14:15] dinaelhanan commented on #4193
I will take this! @SidharthBansal is this on GCI? and @JonathanXu1 where would I link/add an event to the link to the modal? Never worked on the login modals so any help if appreciated :)

[2018-12-09 14:34] SidharthBansal commented on #4170
Sure you can work on this but this needs to be linked with integrated signup login modal. So you need to stuff there first.

[2018-12-09 14:35] SidharthBansal commented on #3328
OK, so did you submitted any PR?
Was there any review issue or were you late?

On Sun, Dec 9, 2018, 7:33 PM Jonathan Xu <notifications@github.com wrote:

[2018-12-09 14:37] SidharthBansal commented on #4193
This issue is to be done after we complete the integration of models. So,
please wait.

On Sun, Dec 9, 2018, 7:46 PM d1g1t4ld1n4 <notifications@github.com wrote:

[2018-12-09 14:37] kevinzluo commented on #4200
Hi! Thanks for all of your suggestions.

I tried clearing cache and it did not work. Neither did hard refreshing. The issue only occurs in the modal. On the login page it is fine, so I'll stick to using that for now.

[2018-12-09 14:38] dinaelhanan commented on #4120
there's no errors it's just that I can't get the carousel to showup @JonathanXu1

[2018-12-09 14:41] SidharthBansal commented on #4184
Sounds perfect

[2018-12-09 14:42] JonathanXu1 commented on #3328
By the time @jywarren commented , my task had expired, but I found the icons and was adding them to the codebase. Should I still make a PR if the changes have already been solved by #4199 ?

[2018-12-09 14:43] SidharthBansal commented on #4184
You need to do two things
sign up should redirect back to the login modal
Login modal linked to the sign up modal.

[2018-12-09 14:44] JonathanXu1 commented on #4120
Hmm I haven't used the carousel before, I'll look into it

[2018-12-09 14:44] SidharthBansal commented on #4184
@JonathanXu1 for wide variety of issues which we have created, in those then login modal can be linked.
What do you say?

[2018-12-09 14:45] SidharthBansal commented on #4200
Oh no.

[2018-12-09 14:46] SidharthBansal commented on #3328
I will give you reward for your work.

[2018-12-09 14:47] JonathanXu1 commented on #4184
Sorry could you clarify this?

[2018-12-09 14:47] SidharthBansal commented on #3328
https://codein.withgoogle.com/dashboard/tasks/5446379464818688/
please claim it, I will approve it

[2018-12-09 14:50] SidharthBansal commented on #4184
We have a login button on the signup modal, we need to link it to the login modal. On clicking on that button it should close the signup modal and open up the login modal.
And other action is completely opposite of it.

[2018-12-09 14:52] oorjitchowdhary commented on #4184
Yess

[2018-12-09 14:52] oorjitchowdhary commented on #4184
Also, @SidharthBansal Can I start working on the link login modal issues?

[2018-12-09 14:53] dinaelhanan commented on #4120
@JonathanXu1 alright, thanks!

[2018-12-09 14:55] dinaelhanan commented on #4200
@SidharthBansal I wouldn't really worry about since when I'm using firefox I get that a lot for many sites including Facebook when using modals, so it's not an issue with the modal on public lab it's a firefox issue

[2018-12-09 14:56] SidharthBansal commented on #4200
As a developer we need to fix it urgently.

[2018-12-09 14:57] JonathanXu1 commented on #3328
Thank you :)

[2018-12-09 14:58] SidharthBansal commented on #4184
Yeah sure.

On Sun, Dec 9, 2018 at 8:23 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-09 14:58] JonathanXu1 commented on #4184
Oh I see. Can I implement this issue in the signup modal branch we're working on since we have both signup and login modals appearing there?

[2018-12-09 14:58] SidharthBansal commented on #4193
@dinaelhanan you can now start working on these issues.

[2018-12-09 15:00] SidharthBansal commented on #4193
@JonathanXu1 same applies to you and @okonek and @oorjitchowdhary and other contributors

[2018-12-09 15:00] SidharthBansal commented on #4193
We have @okonek pr. Please review it. I am sure you will find what is supposed work.

[2018-12-09 15:01] dinaelhanan commented on #4193
ok @SidharthBansal thanks!

[2018-12-09 15:02] SidharthBansal commented on #4184
It will be great if you will be pushing changes in the same pr.

[2018-12-09 15:02] SidharthBansal commented on #4184
Or create a new pr with those changes and close my pr.

[2018-12-09 15:02] JonathanXu1 commented on #4200
Also one thing to note, the return to parameter reroutes to the https://publiclab.org/ url instead of the https://stable.publiclab.org/ url.

[2018-12-09 15:03] JonathanXu1 commented on #4184
I can push the changes to my existing pr if you'd like. It's closed though.

[2018-12-09 15:04] SidharthBansal commented on #4200
Yeah, on localhost it is working fine. I hope it will work on the
production server. So, no need to worry.

On Sun, Dec 9, 2018 at 8:32 PM Jonathan Xu <notifications@github.com> wrote:

[2018-12-09 15:04] dinaelhanan commented on #4200
@JonathanXu1 what is the return to parameter? I might be able to fix that while I work on #4193

[2018-12-09 15:06] oorjitchowdhary commented on #4200
Yes it's okay..
Check https://github.com/publiclab/plots2/pull/4203#issuecomment-445537482

[2018-12-09 15:09] SidharthBansal commented on #4200
return_to means that after sign up or login we will redirect to the same page.
Eg /questions ->login/signup->success->/questions

[2018-12-09 15:14] dinaelhanan commented on #4200
@SidharthBansal oh that means sense! Thanks for explaining

[2018-12-09 15:14] SidharthBansal commented on #4184
Then you create a new pr. Link it to my pr. Close my pr.
Paste in the whole checkboxes list of @oorjitchowdhary and yours combined there.
We need to check all of them before the pr is ready to be merged.

[2018-12-09 15:15] SidharthBansal commented on #4184
In the new pr created please first rebase it to the master
and have same identical changes of my pr first. Then I will review it. Once you get the :+1: you can start working on the integration part.
Does it makes sense?

[2018-12-09 15:16] kevinzluo commented on #4200
Issue is also occurring with the signup modal.

[2018-12-09 15:21] SidharthBansal commented on #4200
Sign up modal is not pushed to stable.
I don't have right to push it to the stable.
You must be referring to the unstable branch. Am I right?

On Sun, Dec 9, 2018 at 8:46 PM kevinzluo <notifications@github.com> wrote:

[2018-12-09 15:21] kevinzluo commented on #4200
Yes

[2018-12-09 15:24] SidharthBansal opened #4208 "Unable to use signup modal password field"
Unable to use signup modal password field at firefox browser

[2018-12-09 15:32] JonathanXu1 commented on #4184
I've added it here: https://github.com/publiclab/plots2/pull/4209. Also I don't think I have permission to close #4203
Can I start on the integration work?

[2018-12-09 15:33] almereyda commented on #314
There are good experiences with https://github.com/hackmdio/codimd/, when looking for more formatting-enabled alternatives to Etherpad lite.

[2018-12-09 15:33] dinaelhanan commented on #4200
@kevinzluo That maybe true, but then you can see your password in plaintext. We have the field as password so that it is automatically those dots that conceal your password (which are most likely what are causing the problem) I don't think changing it to text is a option :/

[2018-12-09 15:34] kevinzluo commented on #4200
Yep! I was just mentioning it somehow allowed the field to be focused.

[2018-12-09 15:36] dinaelhanan commented on #4200
@kevinzluo good observation tho, might help :D

[2018-12-09 15:37] JonathanXu1 commented on #4200
What I was referring to before was that the return to parameter directs to the right sub directory but the "stable" at the front of the url is lost

[2018-12-09 15:38] SidharthBansal opened #4210 "Inconsistencies for the login modal"
As a collaborative effort of @SidharthBansal @oorjitchowdhary @JonathanXu1 we came to set up the modal on the master branch for the login sequence.
Current Progress.
### Localhost
* [x] **WORKING** Login form validations are working fine for incorrect input fields(testing)

* [x] **WORKING** Login modal validations are working fine for incorrect input fields(testing)

* [x] **WORKING** Login form

[2018-12-09 15:39] oorjitchowdhary commented on #4210
Yeah.. Feels good to have contributed by collaborating 🎉

[2018-12-09 15:41] SidharthBansal commented on #4184
Yeah sure.

[2018-12-09 15:42] dinaelhanan commented on #4200
@JonathanXu1 oh ok, but that's not on the actual website right you're talking about the one we run on localhost?

[2018-12-09 15:44] SidharthBansal commented on #4210
@oorjitchowdhary what is the behaviour of these two remaining on the localhost:3000?

[2018-12-09 15:46] oorjitchowdhary commented on #4210
They're working.. I mentioned

[2018-12-09 15:54] JonathanXu1 commented on #4210
Wow good job guys! Honored to be part of this

[2018-12-09 15:56] SidharthBansal commented on #4173
Moved to#4196 then #4203 then to #4209.
Now we are on the integration part.

[2018-12-09 15:56] #4173 closed

[2018-12-09 15:57] SidharthBansal commented on #4188
Resolved the issue as per @okonek suggestion in #4197.
I did pr because @JonathanXu1 and @oorjitchowdhary's work was dependent on this work.
Credit given to @okonek for his work.

[2018-12-09 15:59] SidharthBansal commented on #4207
@oorjitchowdhary can we close this one as it working on the localhost?

[2018-12-09 16:00] oorjitchowdhary commented on #4207
Yes we can close this

[2018-12-09 16:01] oorjitchowdhary commented on #4207
No.. return_to for sign up isn't working

[2018-12-09 16:02] oorjitchowdhary commented on #4207
https://github.com/publiclab/plots2/pull/4203#issuecomment-445540649

[2018-12-09 16:04] SidharthBansal commented on #4207
https://github.com/publiclab/plots2/pull/4203#discussion_r240039775 have you checked it after it?

[2018-12-09 16:08] oorjitchowdhary commented on #4207
Yes.. checked it now.. Still not working.. I'm redirected to /dashboard

[2018-12-09 16:10] kevinzluo commented on #4200
I think I have confirmed it is not an event listener that is doing unfocusing. Perhaps this issue is of relevance? https://support.mozilla.org/en-US/questions/1214123?page=2

[2018-12-09 16:31] dinaelhanan commented on #4200
@kevinzluo ya that's what I meant! I get that issue all the time on ubuntu

[2018-12-09 16:46] SidharthBansal commented on #4156
Yes return_to PR is merged.
You need to made it redirect to the same page somehow.

[2018-12-09 16:47] oorjitchowdhary commented on #4156
how do I mkae it redirect.. I'm not so familiar with the redirect code

[2018-12-09 16:48] SidharthBansal commented on #4200
@kevinzluo so we don't need to fix it?
Am I right?

[2018-12-09 16:49] SidharthBansal commented on #4200
You 4 are superb.
Can we close this issue?

[2018-12-09 16:50] SidharthBansal commented on #4208
Can we close this issue now @oorjitchowdhary @dinaelhanan @JonathanXu1 @kevinzluo ?
thanks for your help.

[2018-12-09 16:51] oorjitchowdhary commented on #4208
Sure.. Close it .. Thanks all 👍

[2018-12-09 16:51] SidharthBansal commented on #4200
@kevinzluo have you received your reward for suggestions/bug fixes category?

[2018-12-09 16:52] SidharthBansal commented on #4200
Let's ask @kevinzluo and @dinaelhanan also.

[2018-12-09 16:53] SidharthBansal commented on #4156
Can you first push your pr so that I can review the gif etc?

[2018-12-09 16:53] oorjitchowdhary commented on #4156
Okay sure..

[2018-12-09 16:55] SidharthBansal commented on #4207
ok

On Sun, Dec 9, 2018 at 9:38 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-09 16:55] dinaelhanan commented on #4193
@SidharthBansal I am running the site and it is not working (I cannot click the button I wrote) is this because this PR is not merged? #4186

[2018-12-09 16:56] oorjitchowdhary commented on #4156
@SidharthBansal the return_to is working now.. Actually, I hadn't made the changes which was to be made after #4197

[2018-12-09 16:56] oorjitchowdhary commented on #4156
So I'm sending a patch

[2018-12-09 16:58] SidharthBansal commented on #4156
Great!!!

On Sun, Dec 9, 2018 at 10:26 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-09 16:59] #4208 closed

[2018-12-09 16:59] SidharthBansal commented on #4208
@jywarren we really have so nice students this year. They are doing collaborative things.

[2018-12-09 16:59] dinaelhanan commented on #4200
@SidharthBansal no.. I haven't been able to claim tasks since I am waiting for jeff's approval on the two tag unit test task. But I will claim it as soon as I can

[2018-12-09 17:03] SidharthBansal commented on #4200
One way is to abandon that task and claim those tasks on which you are sure
that you will get reward. Once @jywarren is online you can take that task
again. He must be highly busy. He is very responsible and very quick in
replying if he is free.
I hope this will not cause any harm to you guys because many mentors are
out of reach currently. They are busy with their exams. I also have viva
tomorrow

[2018-12-09 17:06] SidharthBansal commented on #4210
Where are they working @oorjitchowdhary?
On the localhost or on the unstable?
Or both?

[2018-12-09 17:06] SidharthBansal commented on #4210
@oorjitchowdhary is it redirecting back to the modal or to the login page?

[2018-12-09 17:09] SidharthBansal commented on #4210
If it works on both and redirects back to the same page. then please provide the gif for the following
/questions -> login -> unsuccessful login ->must be on the /questions and modal should appear with the errors -> filled modal correctly -> logged in successfully -> at the /questions page and we are signed in.

[2018-12-09 17:11] kevinzluo commented on #4200
@SidharthBansal I have already received an approval for my suggestions on the leaflet environmental layers repository.

I completely understand if you are unavailable tomorrow. You have helped all of us a lot over the past two months, and especially over the last two days. Everytime I look at the Gitter activity chat it has been filled with your username :smile: .

[2018-12-09 17:12] oorjitchowdhary commented on #4210
Okay.. I'll make a GIF

[2018-12-09 17:16] SidharthBansal commented on #4200
Thanks.
https://codein.withgoogle.com/dashboard/tasks/5353598239113216/
Please claim it. You all should inform if by some problem you are not
getting rewarded. I may forget you to give points somewhere. So please be
careful

On Sun, Dec 9, 2018 at 10:41 PM kevinzluo <notifications@github.com> wrote:

[2018-12-09 17:21] JonathanXu1 commented on #4200
Just clarifying, to whom is this task intended for? I don't want to infringe upon anyone's work

[2018-12-09 17:29] oorjitchowdhary commented on #4210
Not for login but for signup..

[2018-12-09 17:30] SidharthBansal commented on #4210
Let me check your tasks on the dashboard.

[2018-12-09 17:30] oorjitchowdhary commented on #4210
Okay ..

[2018-12-09 17:32] SidharthBansal commented on #4210
https://codein.withgoogle.com/dashboard/tasks/5075926623715328/

[2018-12-09 17:33] dinaelhanan commented on #4120
@JonathanXu1 @SidharthBansal I realized why it doesn't work! Like jeff said, the code is in the database not the codebase, so it won't show up and I don't have to make a PR, I just had to suggest using vw so that the text size is dynamic. I have claimed this task and linked this so it's complete. Thanks !

[2018-12-09 17:33] oorjitchowdhary commented on #4210
And for localhost...

* [ ] Login modal validations are working fine for incorrect input fields(testing)
You're redirected to login page with an error `"Password is not valid"`
* [ ] Login form validations are working fine for incorrect input fields(testing)
You're redirected to login page with an error `"Password is not valid"`

[2018-12-09 17:33] oorjitchowdhary commented on #4210
Claimed it

[2018-12-09 17:38] SidharthBansal commented on #4210
OK, so I am right that we need a fix here.
Can you try this
/questions -> login -> unsuccessful login ->errors on the login page-> filled login form correctly -> logged in successfully -> at the /questions page and we are signed in.

[2018-12-09 17:40] oorjitchowdhary commented on #4210
@SidharthBansal This for localhost right?

[2018-12-09 17:41] JonathanXu1 commented on #4120
Oh I see! Where can you access the database, and how can you preview it?

[2018-12-09 17:41] SidharthBansal commented on #4210
right

On Sun, Dec 9, 2018 at 11:10 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-09 17:42] oorjitchowdhary commented on #4210
ok

[2018-12-09 17:42] kevinzluo commented on #4200
@SidharthBansal I have claimed and submitted it :smile: . Thank you!

[2018-12-09 17:43] oorjitchowdhary commented on #4210
Yes this works...

[2018-12-09 17:44] SidharthBansal commented on #4210
gif please. Once you give me the gif please claim it so that I can approve
it

On Sun, Dec 9, 2018 at 11:13 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-09 17:45] #4200 closed

[2018-12-09 17:45] oorjitchowdhary commented on #4210
Okay sure

[2018-12-09 17:46] SidharthBansal commented on #4200
@kevinzluo we need to close it right?

[2018-12-09 17:46] kevinzluo commented on #4200
Yes. I believe this issue is inherent to Ubuntu Firefox and is not an issue with us.

[2018-12-09 17:47] oorjitchowdhary commented on #4210
![login modal 2](https://user-images.githubusercontent.com/39333058/49700717-84a2cd80-fc08-11e8-9ddd-97ae5abcae6e.gif)

[2018-12-09 17:54] oorjitchowdhary commented on #4158
@SidharthBansal I think we can close this.. I think it was my mistake to point this out.. When you click `Post an answer`, you're taken to that particular question's page and there you get an option to write an answer which also has login/signup... and I fixed that one in #4213

Here's the gif to show that

![post an answer](https://user-images.githubusercontent.com/39333058/49700802-8d47d380-fc09

[2018-12-09 17:55] SidharthBansal commented on #4210
Hurray!!!

[2018-12-09 17:56] SidharthBansal commented on #4210
Please claim it and get rewards

[2018-12-09 17:56] oorjitchowdhary commented on #4210
https://codein.withgoogle.com/dashboard/task-instances/4793116046393344/
This is the one right?

[2018-12-09 17:58] SidharthBansal commented on #4210
yes

On Sun, Dec 9, 2018 at 11:27 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-09 17:58] SidharthBansal commented on #4158
Oh got it.
Sorry

[2018-12-09 17:58] #4158 closed

[2018-12-09 18:00] oorjitchowdhary commented on #4210
I've claimed it

[2018-12-09 18:02] dinaelhanan commented on #4120
@JonathanXu1 you can't access the database, but you can do this do preview it:
https://github.com/publiclab/plots2/issues/4120#issuecomment-445054975

[2018-12-09 18:03] SidharthBansal commented on #4210
Please sent it for review also. You missed it.

[2018-12-09 18:04] SidharthBansal commented on #4210
I know you are careful, but please be a little more.

[2018-12-09 18:05] oorjitchowdhary commented on #4210
Oh I think @jywarren approved it.. 😄
That's why you may not be able to see it

[2018-12-09 18:05] oorjitchowdhary commented on #4210
![image](https://user-images.githubusercontent.com/39333058/49700915-22979780-fc0b-11e8-89cd-dfd49f038959.png)

[2018-12-09 18:08] JonathanXu1 commented on #4120
I've made the carousel like in https://github.com/publiclab/plots2/issues/4120#issuecomment-445054593, but there's no change in the frontend on the dashboard page. Am I looking in the wrong place?

[2018-12-09 18:10] SidharthBansal commented on #4210
Oh great @jywarren is back happy to see him.

On Sun, Dec 9, 2018 at 11:35 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-09 18:15] SidharthBansal commented on #4204
@oorjitchowdhary I can't see claim on the task. Please send the patch and claim it.

[2018-12-09 18:19] JonathanXu1 opened #4214 "Links in embeddable grids should open new browser tab"
(heavily edited by @jywarren)

Embeds allow embedding of inline grids, and are available when clicking the faint grey link to the bottom right of each grid:

![image](https://user-images.githubusercontent.com/24359/50996526-1f384a00-14f0-11e9-9886-d4cb1c734bdf.png)

The generated iframe uses a URL like: https://publiclab.org/embed/grid/nodes:purpleair

Once embedded on another site, when you click

[2018-12-09 18:30] SidharthBansal commented on #4214
@jywarren do we need to resolve this?
Students please don't report store related issues.
@JonathanXu1 nice catch. Please submit this task for review https://codein.withgoogle.com/dashboard/tasks/5816979106562048/

[2018-12-09 18:34] dinaelhanan commented on #4120
@JonathanXu1 ya..:/

[2018-12-09 18:36] SidharthBansal commented on #4168
@oorjitchowdhary no you can't @JonathanXu1 is working on this.
@JonathanXu1 now you can try submitting these login modal linking issues. Atmost 5 per candidate as these are similar.
Also, you can create 5 ftos for these types of tasks. Please provide the gifs for these tasks in the ftos created. So total you can carry around 10 these kind of tasks.(5first timers only and 5 prs). They are not small

[2018-12-09 18:36] SidharthBansal commented on #4168
@oorjitchowdhary you can work on other similar tasks

[2018-12-09 18:59] kevinzluo commented on #4200
Actually, could we include a link to publiclab.org/login on the login modal and say that if the user is having trouble logging in there to use the link? Because the password issue does not occur on the login page, only in the modal.

[2018-12-09 19:02] kevinzluo commented on #4161
Hello! I have claimed this task on the GCI dashboard.

Just to confirm, once the user clicks this button -> login modal opens -> user logs in -> redirected to add activity page ?

[2018-12-09 19:03] SidharthBansal commented on #4200
I don't think that it is good option. It makes the front end not good.
Also, it creates confusion.
I believe mozilla will fix this error soon. It is a huge organisation. We can hope a fix for this problem in the next version.

[2018-12-09 19:11] JonathanXu1 commented on #4214
I've submitted it, thanks. Yeah the only reason I posted the issue here was because it was loading the stuff from plots2.

[2018-12-09 19:12] JonathanXu1 commented on #4120
Perhaps there is a way of linking the source of the image, like how we do in github? Or have you tried linking a web url instead of a locally hosted source?

[2018-12-09 19:13] dinaelhanan commented on #4120
@JonathanXu1 ooo good idea I will try linking to a url

[2018-12-09 19:16] kevinzluo commented on #4200
Ok! That sounds good.

[2018-12-09 19:21] SidharthBansal commented on #4171
@kevinzluo I forget to tag you and tell that atmost 5 these linking tasks can be performed by a single student(5prs) and 5 first timer issues with the first timers only template can be created by you all GCI students. So total of 10 tasks. As they are similar, they have upper bound of 10.

[2018-12-09 19:30] SidharthBansal commented on #4161
this is known as the basic flow.
You also need to check the alternative flow as follows
button -> login modal opens -> user doesn't log in -> redirected to login page with errors-> users logs in successfully -> redirected to add activity page

[2018-12-09 19:58] SidharthBansal commented on #4154
@okonek like these you can do more 5 tasks. They are similar so, you will be able to do them quickly.
Also, you can create 5 more first timer issues from these tasks.
So total 10 more these link login modal to ______ can be done.

[2018-12-09 20:12] oorjitchowdhary commented on #4126
@jywarren Your views here please

[2018-12-09 20:12] kevinzluo commented on #4161
I have been attempting this task and have come into a problem: How should I attempt to check if the user is logged in? `<% if current_user %>` returns an error saying `undefined local variable or method `current_user' `.

Sorry, I'm a bit unfamiliar with rails but wanted to give this a shot.

[2018-12-09 20:18] oorjitchowdhary opened #4218 "Login on alert bar doesn't work"
Part of #4132
## Problem
The login button on the alert bar doesn't work.. On the browser console, it shows a SyntaxError.

![image](https://user-images.githubusercontent.com/39333058/49702390-8b880b00-fc1d-11e8-9cad-d514d0a3fdbd.png)

@publiclab/mentors
This issue should be resolved ASAP..

Thanks

[2018-12-09 20:21] oorjitchowdhary commented on #4169
This dashboard isn't available on localhost..

![image](https://user-images.githubusercontent.com/39333058/49702437-094c1680-fc1e-11e8-941d-b79c58403048.png)

This is the dashboard which is available on `plots2` local dev

[2018-12-09 20:21] SidharthBansal commented on #4161
See @oorjitchowdhary @okonek @dinaelhanan 's @JonathanXu1 's pr they will help you.
You don't need what you are thinking here.
I am going for a sleep. You guys can help each other and review each others pr. I will collective see all the work after 5-6 hours.

[2018-12-09 20:28] #4153 closed, assigned to nobody

[2018-12-09 20:35] kevinzluo commented on #4161
You deserve some rest!

I am not sure what you mean by not needing to check if the user is logged in. All of their PRs already have the `<% if current_user %>` check in place, but mine does not. I am not sure how else to differentiate whether it should open the login modal (for non logged in user) or not (for logged in).

[2018-12-09 20:38] SidharthBansal commented on #4154
@okonek please submit both these issues for review. I will approve your changes.

[2018-12-09 20:39] SidharthBansal commented on #4153
@okonek please submit this task for review now. I want to approve it.

[2018-12-09 20:43] SidharthBansal commented on #4218
What do you mean by alert bar?

[2018-12-09 20:44] oorjitchowdhary commented on #4218
The bar which is saying `You must be logged in to subscribe for email updates, please login or create an account`.

[2018-12-09 20:46] SidharthBansal commented on #4218
You can send a pr for this too.
Thanks for telling us the issue.

[2018-12-09 20:47] SidharthBansal commented on #4218
Linking of the modal is the solution.

[2018-12-09 20:48] oorjitchowdhary commented on #4218
Yes... I'm just not able to find the code for the alert bar..

[2018-12-09 20:49] oorjitchowdhary commented on #4218
Also, @SidharthBansal You seriously deserve some good rest.. It's 2.20 💤
Thank you for all the hard work

[2018-12-09 20:50] SidharthBansal commented on #4218
You guys are also not sleeping. I know that you are indian by timings. You
are awaken from much more time than I am. Just trying to help you all.

On Mon, Dec 10, 2018 at 2:19 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-09 20:51] oorjitchowdhary commented on #4218
Yes.. That's really great of you.. Thanks a lot

[2018-12-09 20:52] oorjitchowdhary commented on #4218
https://github.com/publiclab/plots2/blob/5c0d96274bd0be15feba69d8f30093082402ace5/doc/app/SubscriptionController.html
Is this the file?

[2018-12-09 21:02] SidharthBansal commented on #4218
@oorjitchowdhary just telling you that the expected behaviour after completion of the pr is
## Basic Flow
1. User clicks on the subscribe button.
2. User is shown login modal instead of the flash messsage.
3. Modal should display that flash message
4. User successfully signs up
5. User is subscribed to that tag
6. The subscription button is changed to unfollow.
7. Display of the flash message succ

[2018-12-09 21:18] SidharthBansal commented on #4218
Sorry you cannot claim this as https://codein.withgoogle.com/dashboard/tasks/5321303037837312/ is the task already identified for this. Please link both the issues.
This is a big task so you can do it with other 10 linking issues. This will not be counted in linking modal issues tally.

[2018-12-09 21:44] oorjitchowdhary commented on #3355
![screenshot 85](https://user-images.githubusercontent.com/39333058/49703288-42d64f00-fc29-11e8-8491-af27c1a881e2.png)

We could use this maybe.. Use the list view below for comments..
Use the `top countries` view for maybe tags..
Use the overview grids for perhaps the welcome line on our dash currently..
*Welcome, oorjit_chowdhary! 14 notes and 74 wiki edits posted in the past week. You've shared

[2018-12-09 23:59] dinaelhanan opened #4221 "Link Login Modal to Join a Group"
This is a continuation of #4132. Currently, when someone wants to join a group and is prompted to signup/login, they are sent to the /login page. We want them to use the modal!
https://github.com/publiclab/plots2/blob/5c0d96274bd0be15feba69d8f30093082402ace5/app/views/grids/_people.html.erb#L35

[2018-12-10 00:36] JonathanXu1 commented on #3337
Hey @sagarpreet-chadha could you give us more info on this issue? Such as:

- where to find where LEL is used in frontend
- where to find error in codebase
- any updates on the issue (if it's been resolved, etc)

[2018-12-10 00:44] dinaelhanan commented on #4204
@oorjitchowdhary I see that you are focused on working on other tasks and have not claim this one. I hope it's OK that I did :)

[2018-12-10 01:06] JonathanXu1 commented on #3355
You can also do something similar to Devpost:
![image](https://user-images.githubusercontent.com/22998430/49705519-c4f45280-fbec-11e8-9547-04106d2308fa.png)
They have pre-sized cards that fit together very well in a grid layout. If there is no image available, a placeholder wallpaper will be used. I've made a mock-up with Public Lab's dashboard on photoshop:
![dashboard placeholder](https://user-i

[2018-12-10 01:10] dinaelhanan commented on #3355
I think a good quick fix for this would be finding a way to put a filler image like @JonathanXu1 suggested with the pre-filled cards. Great idea! Maybe what we can create a issue for first is having a default image that all posts without an image will have (probably like the first card in @JonathanXu1 's comment, the publiclab logo) that would be a good place to start

[2018-12-10 01:15] dinaelhanan commented on #4120
@JonathanXu1 Ya I've tried that, doesn't seem to work. Guess I'll have to wait and see if jeff can help out :)

[2018-12-10 01:58] dinaelhanan commented on #4221
@SidharthBansal hope you had a good rest :D I completed this and am waiting for approval :
https://codein.withgoogle.com/dashboard/task-instances/5943340534071296/
Please also check out the PR, thanks!

[2018-12-10 02:04] JonathanXu1 opened #4224 "Clean up identical code in codeclimate"
There are several codeclimate "smells" as detailed in #3706. This task will focus on cleaning up duplicate code.

To do this, we will need to remove duplicate code at:
- [ ] app/controllers/tag_controller.rb line 221 & line 155
- [ ] doc/app/js/searcher.js 115 & 128 &  89
- [ ] app/assets/javascripts/application/i18n/translations.js 2 &  3
- [ ] app/assets/javascripts/question.js 25 &  32
- [ ] ap

[2018-12-10 02:05] JonathanXu1 commented on #3706
Hey, I've made issue #4224 to address part of this. If you could provide a link to this task that would be awesome. I can't seem to find it anymore.

[2018-12-10 02:10] dinaelhanan commented on #4132
[x] Joining a group:

[2018-12-10 02:17] SidharthBansal commented on #4132
Please provide two more similar places where we want to link login modal

On Mon, Dec 10, 2018, 7:40 AM d1g1t4ld1n4 <notifications@github.com wrote:

[2018-12-10 02:30] ValentinaTironi commented on #4204
@SidharthBansal are you free? I have some pulls to review and would be great if you check out them :) ((Sorry for asking you here :p))

[2018-12-10 02:34] SidharthBansal commented on #4204
Please tag my name in your PRS. In case I will be able to help on those
tasks I will for sure.

On Mon, Dec 10, 2018, 8:01 AM Valentina Tironi <notifications@github.com
wrote:

[2018-12-10 02:45] SidharthBansal commented on #4224
https://codein.withgoogle.com/dashboard/tasks/6034222042054656/

[2018-12-10 02:45] SidharthBansal commented on #4224
AWESOME!!!
You did a lot of work. This needs applause too.

[2018-12-10 02:46] SidharthBansal commented on #4224
@JonathanXu1 is also working on many other parts other than modals. Its great to see his enthusiasm

[2018-12-10 02:49] SidharthBansal commented on #3355
All three of them will get credits. Thanks. This issues is to give rewards
for sharing ui design mock ups as you all have shared, so please claim the
respective issue and get task approved by @Gaurav Sachdeva
<sachdeva.gaurav1997@gmail.com> or @Jeffrey Warren <jywarren@gmail.com>
 or @sidharthbansal

On Mon, Dec 10, 2018 at 6:40 AM d1g1t4ld1n4 <notifications@github.com>
wrote:

[2018-12-10 03:31] ValentinaTironi commented on #4224
Wow, this is amazing 💯 Please, don't forget adding the correspondent labels :)

[2018-12-10 03:51] JonathanXu1 commented on #4165
Hi there, I'd like to work on this. I've found 7 instances of the spam button:
![image](https://user-images.githubusercontent.com/22998430/49710012-0133ad00-fc05-11e8-9d58-20a9ba87fc1c.png)
Which one would you like me to work on?

[2018-12-10 03:53] SidharthBansal commented on #4165
Hi Jonathan @okonek is working on this. Please take another issue.

On Mon, Dec 10, 2018 at 9:22 AM Jonathan Xu <notifications@github.com>
wrote:

[2018-12-10 04:05] JonathanXu1 commented on #4192
@SidharthBansal where can one find the partial for the subscribe button?

[2018-12-10 04:16] SidharthBansal commented on #4192
Patiala are present in the app/views folder check them there

[2018-12-10 04:17] SidharthBansal commented on #4192
Partials I mean

[2018-12-10 04:46] JonathanXu1 commented on #4192
Ok.
I'm using
[code]
to check if a user is logged in. However, a runs even if the user is logged out. Also is there a way to route the page back to the current one when the login is successful?

[2018-12-10 04:48] SidharthBansal commented on #4192
Integrated modal testing
Please submit this task for review I should approve it now.

[2018-12-10 04:50] SidharthBansal commented on #4192
Please look at @okonek's PR of linking like buttons it will help you

[2018-12-10 04:51] SidharthBansal commented on #4192
#4186

[2018-12-10 05:04] SidharthBansal commented on #2592
@kevinzluo please submit a patch for this too
#4227
This is linked with your work.

[2018-12-10 05:09] SidharthBansal commented on #3656
#4227 @kevinzluo you can work on this also.
This is highly related to the last PR you did.
These two tasks linked are apart from 10 task I was talking before.

[2018-12-10 05:21] JonathanXu1 commented on #3456
When I click the wiki pages button below, I'm routed directly to https://publiclab.org/wiki/ in the same tab:
![image](https://user-images.githubusercontent.com/22998430/49712221-68eff500-fc11-11e8-8502-e4db7c8fde66.png)
@SidharthBansal are you still experiencing these issues?

[2018-12-10 05:27] kevinzluo opened #4229 "Link Login Modal to Request an Activity"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to request an activity (The secondary link here).
![image](https://user-images.githubusercontent.com/44309027/49712412-dbf56d80-fc09-11e8-896a-28cd3762c412.png)

[2018-12-10 05:30] JonathanXu1 commented on #3454
Great job @oorjitchowdhary fixing the layout! Would you guys like it if I implemented a dropdown on mobile view for these buttons since they no longer have the same tab view when they overlap each other?
![image](https://user-images.githubusercontent.com/22998430/49712477-a5702080-fc12-11e8-953b-2e08dc10ab71.png)
vs
![image](https://user-images.githubusercontent.com/22998430/49712484-b02ab580-fc12

[2018-12-10 05:30] SidharthBansal commented on #3456
Yeah it needs ajax fix

[2018-12-10 05:30] SidharthBansal commented on #3456
And also we need to render it downside thats rails part

[2018-12-10 05:31] SidharthBansal commented on #3456
Oorjit no. Please look at the PR for reference given

[2018-12-10 05:32] SidharthBansal commented on #3454
Yeah sure create an issue and submit a patch

On Mon, Dec 10, 2018, 11:00 AM Jonathan Xu <notifications@github.com wrote:

[2018-12-10 05:39] kevinzluo opened #4230 "Link Login Modal to Ask a Question on Wikis"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to request an activity (The primary button here). For modularity, this is separate from linking the "help answer questions" link.
![image](https://user-images.githubusercontent.com/44309027/49712758-891cb580-fc0b-11e8-8dc9-0e78952a8d71.png)

[2018-12-10 05:40] kevinzluo opened #4231 "Link Login Modal to Help Answer future questions"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to request an activity (The subscription link here). For modularity, this is separate from linking the button.
![image](https://user-images.githubusercontent.com/44309027/49712758-891cb580-fc0b-11e8-8dc9-0e78952a8d71.png)

[2018-12-10 06:01] ValentinaTironi commented on #4070
Did someone work on this?

[2018-12-10 06:03] ValentinaTironi commented on #4070
@jywarren Can you please explain me this?

Cause I think I understand that @adamark said but I'm unable to see why I'ld do that you said

[2018-12-10 06:08] JonathanXu1 opened #4237 "Negative likes bug on research notes"
I was browsing through https://publiclab.org/notes/recent, and noticed that a note has a negative number of likes:
![image](https://user-images.githubusercontent.com/22998430/49713581-58db1400-fc17-11e8-90ed-5d4f839a2eb4.png)
You can also see it at https://publiclab.org/notes/liked/ :
![image](https://user-images.githubusercontent.com/22998430/49713688-cbe48a80-fc17-11e8-8d56-f89351f9fd33.png)

As

[2018-12-10 06:08] ValentinaTironi commented on #4070
Based on what @adamark said, I would check in `search_notes` if params `order` and `type` are equal to `""` and add a default value (`natural`, `boolean`). The same that default parameters do but it don't take that value if the parameter is `""` so I would add that verification.
What do you think?

[2018-12-10 06:12] JonathanXu1 opened #4238 "Link login modal to public lab blog"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Instance count 1
Field: UI

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks wh

[2018-12-10 06:32] JonathanXu1 commented on #4194
I think I've fixed this in #4240. Please let me know if it's good.

[2018-12-10 06:39] kevinzluo opened #4241 "Link Modal to Empty Notes Grid Message"
We are creating a login/signup modal, next step is to link to various pages. In this issue we will be linking it to "be the first to post something"
![image](https://user-images.githubusercontent.com/44309027/49714808-fdf3ed80-fc13-11e8-9011-890aa948a61a.png)

[2018-12-10 06:53] SidharthBansal commented on #4191
You have already got points for this task

[2018-12-10 06:54] SidharthBansal commented on #4192
Please submit a PR for the rewards. I have already rewarded for the identification of this task in #4132

[2018-12-10 06:59] SidharthBansal commented on #4194
Issue fixed.

[2018-12-10 07:00] SidharthBansal commented on #4192
@JonathanXu1 you have received points for these suggestions. It is part of identication issue #4132

[2018-12-10 07:00] SidharthBansal commented on #4193
@JonathanXu1 you have received points for these suggestions. It is part of identication issue #4132

[2018-12-10 07:04] JonathanXu1 commented on #4192
https://github.com/publiclab/plots2/pull/4209#issuecomment-445678224
Sorry I believe I misunderstood your statement. I thought it was one task per fto issue created.

[2018-12-10 07:09] kevinzluo commented on #4132
- [ ] https://github.com/publiclab/plots2/issues/4231 Help answer future questions
- [ ] https://github.com/publiclab/plots2/issues/4230 Ask a Question
- [ ]  https://github.com/publiclab/plots2/issues/4229 Request an activity
- [ ] https://github.com/publiclab/plots2/issues/4241 Empty Notes Grids

[2018-12-10 07:10] oorjitchowdhary commented on #3355
Hi.. I don't think the task is available on gci..
Also, Can we shortlist one design so I could work on implementing it..
Thanks

[2018-12-10 07:14] JonathanXu1 commented on #4238
@SidharthBansal sorry to bother you again, I am unable to find the root task for the keywords **blog** and **4238**

[2018-12-10 07:33] JonathanXu1 commented on #3454
While testing out mobile dropdown, it seems like after a certain point, the buttons stop displaying text, most likely for better ui on mobile view.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/22998430/49717108-efadcd80-fc23-11e8-9c40-99921766b015.gif)

However, at the apect ratio targeted from @oorjitchowdhary 's PR the text reappears. Perhaps the issue with tabs is a resul

[2018-12-10 07:41] SidharthBansal commented on #3355
Shortlisting will be done by @jywarren so in the meantime you can work on
any other task.

On Mon, Dec 10, 2018, 12:40 PM Oorjit Chowdhary <notifications@github.com
wrote:

[2018-12-10 07:42] kevinzluo commented on #4210
I was recently opened the console, causing the window width to shrink and an error like this occured:
![issueswithwidth](https://user-images.githubusercontent.com/44309027/49717466-c9386400-fc1c-11e8-8603-a25cf04f85cf.gif)

When the window gets even smaller it is fixed, but in a certain interval the input fields are too long.

[2018-12-10 07:43] JonathanXu1 opened #4242 "Link login modal to edit wiki button"
### Problem
On wiki posts such as this https://publiclab.org/wiki/environmental-estrogen-testing there is an option to edit the page:

![image](https://user-images.githubusercontent.com/22998430/49717450-1d474680-fc25-11e8-8969-4aa0e4a3b8be.png)

### 📋Solution
Currently when clicked, the user is directed to a login page. We want the button to open a login modal if the user is not logged in.
/app/v

[2018-12-10 07:43] SidharthBansal commented on #3355
https://codein.withgoogle.com/dashboard/tasks/5329109677768704/

On Mon, Dec 10, 2018, 1:11 PM Sidharth Bansal <bansal.sidharth2996@gmail.com
wrote:

[2018-12-10 07:44] JonathanXu1 commented on #4210
@kevinzluo do you think it's similar to this?
https://github.com/publiclab/plots2/issues/3454#issuecomment-445715574

[2018-12-10 07:50] SidharthBansal commented on #4210
@kevinzluo please claim the task
https://codein.withgoogle.com/dashboard/tasks/5255181143900160/
As you have find a bug.
Jonathan you are working on that issue and the bug you referred in the
above comments is part of that issue so, you will get credits after
completion of that task.

On Mon, Dec 10, 2018, 1:14 PM Jonathan Xu <notifications@github.com wrote:

[2018-12-10 07:51] JonathanXu1 commented on #4155
Hi, is this accessible via localhost? I'm getting this:
![image](https://user-images.githubusercontent.com/22998430/49717872-6fd53280-fc26-11e8-84c8-897b92cef3ae.png)

If it's not I'd be happy to contribute to the code in the database!

[2018-12-10 07:53] oorjitchowdhary commented on #4238
I've solved this.. I'll send a patch now..

[2018-12-10 07:56] SidharthBansal commented on #4210
Both of you are requested to open up a new issue for reported bugs and then submit the issue links in the GCI platform so that you can get points.
Please hide these comments from both of these issues to make the conversation nice.
When ever you encounter bug not related to Amy issue please open up a new issue.

[2018-12-10 07:59] SidharthBansal commented on #4132
Thanks a lot

On Mon, Dec 10, 2018, 12:39 PM kevinzluo <notifications@github.com wrote:

[2018-12-10 08:01] oorjitchowdhary commented on #4218
Oh I see.
@SidharthBansal I'd like to solve this one for sure as the alert bar span is very important for our website..
Let me put my best here.. I'll tag you if I need help... Thanks a lot..

[2018-12-10 08:02] oorjitchowdhary commented on #4218
I didn't understand this .. Sorry

[2018-12-10 08:05] JonathanXu1 commented on #4238
@oorjitchowdhary it's not a gci task yet.. I've been waiting for it to be approved

[2018-12-10 08:06] kevinzluo opened #4244 "Issues with Input Fields in Login Modal"
Currently at a specific width, the Login Modal errors and the input fields stick out of the body.

![issueswithwidth](https://user-images.githubusercontent.com/44309027/49717466-c9386400-fc1c-11e8-8603-a25cf04f85cf.gif)

I believe this is a CSS issue but I am not too familiar with it.
Perhaps looking into the code here  (plots2/app/views/user_sessions/_new.html.erb) will give some answers.

Chrome

[2018-12-10 08:09] SidharthBansal commented on #4238
Jonathan by root task I mean the task from which you created this task.
Oorjit please ask before sending patches. This is non gci task. I can't credit you for this. Please close the PR if you have opened.

[2018-12-10 08:10] oorjitchowdhary commented on #4155
Hi.. @SidharthBansal I've solved this one.. I'm submitting a patch

[2018-12-10 08:10] oorjitchowdhary commented on #4155
Just a little bit of help.. How can I add a tag to users on localhost

[2018-12-10 08:13] kevinzluo commented on #4244
Issue also occurs using cloud9 on windows chrome.
[![Image from Gyazo](https://i.gyazo.com/370cbb884dec230b99b12ddb9a605a60.gif)](https://gyazo.com/370cbb884dec230b99b12ddb9a605a60)

[2018-12-10 08:13] oorjitchowdhary commented on #4155
Okay.. I worked it out.. Patch coming up

[2018-12-10 08:14] JonathanXu1 opened #4245 "Inconsistency in tab display on mobile view"
While testing out mobile dropdown, it seems like after a certain point, the buttons on /notes and /questions but not /tags stop displaying text, most likely for better ui on mobile view. Also it happens when the navbar takes up extra vertical space.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/22998430/49717108-efadcd80-fc23-11e8-9c40-99921766b015.gif)

Perhaps the bug with

[2018-12-10 08:14] JonathanXu1 commented on #4210
@SidharthBansal how's this? #4245

[2018-12-10 08:35] oorjitchowdhary commented on #4218
@SidharthBansal I'm unable to change the subscriptions_controller.rb .. it is showing syntaxerror..

[2018-12-10 08:40] JonathanXu1 commented on #4245
EDIT:
Figured it out!
https://v4-alpha.getbootstrap.com/layout/responsive-utilities/
There was a <span> with class .hidden-sm which did not account for .hidden-xs

[2018-12-10 08:46] oorjitchowdhary commented on #4194
@SidharthBansal I just saw the conversation at #4209 .. I think I haven't credits for creating the issues.. I got rewards for identification which was #4132 .. but I also created #4194 and #4218 and #4120 a while back.. So am I eligible for credits on these issues?

[2018-12-10 08:50] oorjitchowdhary commented on #4231
@kevinzluo Are you working on this one?

[2018-12-10 09:01] kevinzluo commented on #2592
Currently this the continue button is disabled while the text above, which also prompts for login, is kept. I will enable the continue button so that the modal opens and the user can log in. We can discuss whether to keep the text above it or not in the PR.

[2018-12-10 09:06] JonathanXu1 commented on #3454
@SidharthBansal I fixed the issue here: https://github.com/publiclab/plots2/pull/4248

[2018-12-10 09:07] oorjitchowdhary commented on #4238
@sidharthbansal okay.. I'll make sure this won't happen again.. I'll close the current PR

[2018-12-10 09:21] oorjitchowdhary commented on #3338
@SidharthBansal @gauravano, As @JonathanXu1 is focusing on other important issues.. I'm taking this up.. Hope you don't have a problem @JonathanXu1

[2018-12-10 09:35] oorjitchowdhary commented on #2718
Can I take this up?

[2018-12-10 09:45] SidharthBansal commented on #3454
Please wait. I am reviewing sorry I was not present for last hour.
Was busy with my lunch.

[2018-12-10 09:56] oorjitchowdhary commented on #3355
@SidharthBansal Please approve the task..

[2018-12-10 09:57] SidharthBansal commented on #4244
@kevinzluo I guess I have rewarded you for this.

[2018-12-10 10:05] SidharthBansal commented on #2592
@kevinzluo well done you deserve reward
https://codein.withgoogle.com/dashboard/tasks/5753130928046080/

[2018-12-10 10:06] oorjitchowdhary commented on #4162
Isn't this fixed?

[2018-12-10 10:50] SidharthBansal opened #4250 "Validation messages for the login modal"
- [ ] Login form validations are working fine for incorrect input fields(testing)
Unable to test, redirected to PL stable

[2018-12-10 10:50] SidharthBansal commented on #4250
Refer #4210

[2018-12-10 10:51] SidharthBansal commented on #4250
Oorjit's comment

You're redirected to PL login page
  Login form validations are working fine for incorrect input fields(testing)
You're redirected to unstable PL login page with an error "There is nobody in our system by that name, are you sure you have the right username?"

[2018-12-10 10:52] SidharthBansal commented on #4210
Reviewing it there.

[2018-12-10 10:52] oorjitchowdhary commented on #4250
I can help out here should you need any help... @sidharthbansal

[2018-12-10 10:53] SidharthBansal commented on #4245
So what please provided the updated screenshots and claim the tasks so that we can give you rewards.

[2018-12-10 10:59] oorjitchowdhary commented on #4195
@sidharthbansal can I merge the buttons for now? I can then help out @jonathanxu1 for integrating the sign up modal with the login modal

[2018-12-10 10:59] #4157 closed

[2018-12-10 11:02] #4155 closed

[2018-12-10 11:03] CodeSarthak commented on #4117
Hi @jywarren @dinaelhanan Can I work on this one?

[2018-12-10 11:06] CodeSarthak commented on #4117
Hey @dinaelhanan @jywarren @publiclab/mentors , I have an another idea. We can break this issue down into two. One for the message on the banner(this one) and other for making a new button to redirect to issues page of the repo.

[2018-12-10 11:06] CodeSarthak commented on #4117
This will help us make two fto issues.

[2018-12-10 11:18] CodeSarthak opened #4251 "Help People Report Errors! (Part 2)"
This is part 2 of the issue #4117

# The Problem

Currently, if a user get a non-existing page, they get a message saying "Report a bug or issue" in the footer, which isn't welcoming for non-developer users and is hard to notice.

# Solution

We need to add a button which says " Report the Issue" instead of the link which may seem too toned down. Make an attractive button linking to this page http

[2018-12-10 11:19] CodeSarthak commented on #4251
@jywarren @publiclab/reviewers Please add label "fto only" and "gci-candidate".

[2018-12-10 11:19] oorjitchowdhary commented on #3340
@publiclab/reviewers Is this issue solved?

[2018-12-10 11:22] SidharthBansal commented on #4161
@kevinzluo please claim the task on the GCI dashboard so that I can give you rewards

[2018-12-10 11:23] SidharthBansal commented on #4229
@kevinzluo please claim https://codein.withgoogle.com/dashboard/tasks/5794255877439488/ and submit for review. I need to give you rewards.

[2018-12-10 11:33] oorjitchowdhary commented on #4230
@SidharthBansal Can I solve this?

[2018-12-10 11:34] SidharthBansal commented on #4230
https://codein.withgoogle.com/dashboard/tasks/5321391554428928/
No, @kevinzluo is pushing this now.

[2018-12-10 11:34] SidharthBansal commented on #4230
Sorry

[2018-12-10 11:35] oorjitchowdhary commented on #4230
Okay

[2018-12-10 11:40] oorjitchowdhary commented on #2056
@SidharthBansal Can I take this?

[2018-12-10 11:44] SidharthBansal commented on #3656
@kevinzluo may I know the pr number for this issue.

[2018-12-10 11:47] SidharthBansal commented on #4250
We need the error messages to be displayed on the modal. No redirect to the /login page.

[2018-12-10 11:48] oorjitchowdhary commented on #4250
Ohk.. I'll try to look into this then.. seems important

[2018-12-10 11:50] SidharthBansal commented on #3656
https://codein.withgoogle.com/dashboard/tasks/5545998546894848/
@kevinzluo this is the task number. Please claim it after telling me the pr number in which the potential fix lies.

[2018-12-10 11:53] SidharthBansal commented on #2056
@oorjitchowdhary this issue is being tackled in https://github.com/publiclab/plots2/issues/4132.
So it will be better than you will take a part of issue of it on which no one else is working

[2018-12-10 12:10] oorjitchowdhary commented on #4195
So I've made the changes.. but will release the patch if I have your consent @SidharthBansal ...

[2018-12-10 12:18] oorjitchowdhary commented on #4250
@SidharthBansal this one will require changes at `app/views/user_sessions/_new.html.erb`?

[2018-12-10 12:18] SidharthBansal commented on #4195
@oorjitchowdhary please relax for some time. You know that this is a first timers only issue and you cannot work on the first timers issue. You can help first timers but not solve first timers. You are now senior in our organisation. Please look for non first timers

[2018-12-10 12:18] SidharthBansal commented on #4250
I hope yes.

[2018-12-10 12:20] oorjitchowdhary commented on #4195
Yes.. Okay, I just put my hands on here as @JonathanXu1 had used the first-timers template for non first-timers issues too..

[2018-12-10 12:21] #4162 closed

[2018-12-10 12:24] SidharthBansal commented on #4194
Creation of the issues and identification both are included in the same task. You have got credits equally as others have got.
Actually I approved the pr before I asked you to create issues.
I am checking it again. In case I will find any task upon which you were not credited for sure I will link the dashboard task link so that you can review.

[2018-12-10 12:26] oorjitchowdhary commented on #4194
Okay thanks a lot 👍 😄

[2018-12-10 12:30] oorjitchowdhary commented on #4218
Thanks a lot

No problem..

Sure.. I'm trying to fix it but I'm stuck at a syntaxerror in the controller.. I'm unable to use the <a> tag in the controller for a modal .. but the <a> tag for href works ..

[2018-12-10 12:32] SidharthBansal commented on #4194
Other people have identified tasks other than the login modal.
Basically the scheme is
1 point for identification of login related taskS with the issue list.
1 point for each task you solve for the login modal
1 point for any other suggestion apart from login modal or any bug
1 point for bug fix
So, if you want more points in these linking tasks, please identify more buttons across the website and

[2018-12-10 12:34] SidharthBansal commented on #4120
@oorjitchowdhary please submit https://codein.withgoogle.com/dashboard/tasks/6663508033798144/ so that I can approve. If you find more then please tag me in respective issues.

[2018-12-10 12:36] oorjitchowdhary commented on #4120
Oh.. Okay sure.. Please approve https://codein.withgoogle.com/dashboard/task-instances/5768472920326144/ so I can claim this one..

Thanks a ton for all your hard work and time...

[2018-12-10 12:42] oorjitchowdhary commented on #4194
Okay .. I understand

Yes.. I'm not at all angry.. I'm just amazed working with Public Lab 👏

[2018-12-10 12:45] SidharthBansal commented on #3698
``All the students are requested to get all the rewards for all the tasks which they have completed before the deadline.``
Please ``make sure to push all the changes which you are working upon to the respective repository before the deadline``. Once it will be reviewed you will get credits. If it will not be possible to give you guys credit on the GCI dashboard then also we will give you guys cred

[2018-12-10 12:47] SidharthBansal commented on #4194
https://codein.withgoogle.com/dashboard/tasks/6663508033798144/ here is the task for which you will get rewarded.

[2018-12-10 12:51] SidharthBansal commented on #3340
No.

[2018-12-10 12:51] SidharthBansal commented on #3340
Nobody is working on this. If you wish then you can work on this.

[2018-12-10 12:52] oorjitchowdhary commented on #4194
Yes .. Just approve my previous so I can claim this

[2018-12-10 12:53] SidharthBansal commented on #4151
@oorjitchowdhary are you willing to take this. I am just asking because you posted on large number of issues to taken up. No one is working on this. I guess you reported this. So, you can work on this.

[2018-12-10 12:54] SidharthBansal commented on #4218
Take your time

[2018-12-10 12:55] JonathanXu1 commented on #3338
Go ahead :)

[2018-12-10 12:56] oorjitchowdhary commented on #4151
Yes I can do it.. Actually I wasn't able to find issues which could be solved by me.. so I commented on a few

[2018-12-10 12:56] oorjitchowdhary commented on #4151
Found a good number of issues now.. So working towards them

[2018-12-10 12:57] SidharthBansal commented on #4159
@okonek I think you are working on this in your prs. It is linked with #4220 what do you say?

[2018-12-10 12:58] oorjitchowdhary commented on #3338
Thanks a lot Jonathan.. onto it

[2018-12-10 13:05] SidharthBansal commented on #4151
We are here to help. Please be careful from next time. Long conversations makes difficulty on long run. I hope you will understand

[2018-12-10 13:09] oorjitchowdhary commented on #3338
@publiclab/reviewers Can someone help me with it's conditional..
It should be `if node.status == 4` ? or something else

[2018-12-10 13:12] SidharthBansal commented on #4210
@JonathanXu1 please take https://codein.withgoogle.com/dashboard/tasks/5255181143900160/. Your reward is pending.

[2018-12-10 13:16] SidharthBansal commented on #4192
If you create a first timer issue with full fledged solution and the first timer template then you will get rewards.
Is it now clear?

[2018-12-10 13:21] oorjitchowdhary commented on #3338
@SidharthBansal I've some doubts for this.. I implemented the conditonal.. Now the email displays the active svg but I wonder how will we ever see the banned svg .. bcoz unless we mark a note spam, we will always see the active banner.. and once we spam a note, we also ban the user so he won't be able to publish any new notes and therefore we won't receive any email with the banned svg..
Please gu

[2018-12-10 13:35] SidharthBansal commented on #4195
I asked him to make a first timer issue. I forget to label it `first timers only`.
Sorry.

[2018-12-10 13:38] SidharthBansal commented on #4194
Already approved

[2018-12-10 13:38] oorjitchowdhary commented on #4194
Oh thank you .. 😄

[2018-12-10 13:39] SidharthBansal commented on #3338
Jeff or Gaurav might help you here.
Good luck

On Mon, Dec 10, 2018 at 6:51 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-10 13:40] SidharthBansal commented on #4120
![image](https://user-images.githubusercontent.com/20972099/49736129-48767800-fcaf-11e8-81e5-8869c316884d.png)

[2018-12-10 13:45] oorjitchowdhary commented on #4151
@SidharthBansal The template mentioned to edit is wrong..
I think this template is for the `Share you work` button which has a dropdown of `write a note` and `ask a question` .. I'm unable to find the template which is for the notes page sidebar.. which looks like this..
![image](https://user-images.githubusercontent.com/39333058/49736360-e702d900-fcaf-11e8-9bcf-0e0f4e18e6b6.png)
Which has just `w

[2018-12-10 13:49] SidharthBansal commented on #4151
Take your time. Use grep command to search. This is a hint.

On Mon, Dec 10, 2018 at 7:15 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-10 13:53] JonathanXu1 commented on #4195
@oorjitchowdhary for the other ones they're just 2-3 lines of code so I thought they would be best suited for first timers

[2018-12-10 13:55] JonathanXu1 commented on #4192
Oh I see. So all I have to do is provide an example solution for my fto issues regarding the modal?

[2018-12-10 13:57] SidharthBansal commented on #4192
You can provide it if you want.
If you want to send us a pr. Then you can also do that.

[2018-12-10 13:57] dinaelhanan commented on #4132
@SidharthBansal looking back, I did find two! I found the store one, but Jonathan helped and opened the issue, so I identified two already :) I will add image of the joining a group but I don't know where to find it on the website

[2018-12-10 13:58] SidharthBansal commented on #4132
No problem. Please claim the task to get your rewards. I will give you rewards.

[2018-12-10 14:00] dinaelhanan commented on #4132
@SidharthBansal I have currently claimed the link login modal to follow post task, so I will wait till I finish that one, thanks!

[2018-12-10 14:00] SidharthBansal commented on #4195
NO there are many issues which are more than 3-4 lines of code.
For the issues which are 3-4 lines of code. For them you can surely create first timer issues.

[2018-12-10 14:01] SidharthBansal commented on #4132
ok

On Mon, Dec 10, 2018 at 7:30 PM d1g1t4ld1n4 <notifications@github.com>
wrote:

[2018-12-10 14:05] JonathanXu1 commented on #4195
Oh I was referring to the other fto-formatted issues I made

[2018-12-10 14:14] oorjitchowdhary commented on #3340
I've an idea for this.. what about changing the fields to required.. The user won't be able to submit unless the field is filled up...

[2018-12-10 14:19] dinaelhanan commented on #4132
@SidharthBansal I have abandoned another task so I can get this approved. Please check it out here:
https://codein.withgoogle.com/dashboard/task-instances/5943340534071296/

[2018-12-10 14:36] SidharthBansal commented on #4151
Yeah

On Mon, Dec 10, 2018, 7:56 PM Oorjit Chowdhary <notifications@github.com
wrote:

[2018-12-10 14:37] SidharthBansal commented on #3340
Check it at pl.org

[2018-12-10 14:50] jywarren commented on #4132
Wow, amazing work folks!

[2018-12-10 14:51] JonathanXu1 commented on #2151
@kevinzluo I think you aren't experiencing the error because section does not include the **<%= users.length - 10 %>** attribute in the show more tag

[2018-12-10 14:52] jywarren commented on #4192
Just a note that this button is stored in the node body, not in the
codebase. Still a great idea! Just may require either some clever filtering
of body content or some kind of shortcode to show a subscription button?

On Sun, Dec 9, 2018 at 10:05 PM Jonathan Xu <notifications@github.com>
wrote:

[2018-12-10 14:57] kevinzluo commented on #2151
Thanks for the heads up. I didn't realize there were multiple partials for grids :smiley:. The ones i was using were the notes grids and never checked the people grids.

[2018-12-10 14:57] JonathanXu1 commented on #4195
https://github.com/publiclab/plots2/issues/4242

[2018-12-10 14:59] jywarren commented on #4202
Hi, Arun - i think there could be more reasons for someone to use multiple
reactions than there are problems with +1 and -1 at the same time. Maybe
someone is saying that there are both good and bad things about a comment?

However, one thing I'd like to suggest is that once there is one reaction,
could we have a second button to add reactions appear next to the row of
reactions, as it does on Git

[2018-12-10 14:59] JonathanXu1 commented on #4192
@jywarren I think this might be similar to https://github.com/publiclab/plots2/issues/4170
Is it possible for us to get a copy of the node body and submit that to complete the task?

[2018-12-10 15:03] SidharthBansal commented on #2151
If anyone knows the solution and wants to send a patch then it will be great

[2018-12-10 15:03] JonathanXu1 commented on #2151
@SidharthBansal I've sent a patch on #4253

[2018-12-10 15:05] SidharthBansal commented on #4195
Please claim it urgently

[2018-12-10 15:12] arungoel123456 commented on #4202
@jywarren  I got what u want to say in the first para , but i didnt get what u wanna say in second para and which project do u want me to take up ....

I think we should make it like facebook where each person can react only once . Giving a ThumbsUp and ThumbsDown at the same time would not give us the clarity wether the comment is worth reading or not . So I think we should make it one reaction p

[2018-12-10 15:13] JonathanXu1 commented on #4195
Alright, claimed it. Thanks for your time.

[2018-12-10 15:16] oorjitchowdhary commented on #3338
@gauravano Please guide me here

[2018-12-10 15:20] oorjitchowdhary commented on #3338
I can send a PR.. Wanted to clarify this first.. But I'll submit the PR first then

[2018-12-10 15:20] okonek commented on #4159
But where exactly should we link the login modal in this asset? Could you explain a bit more? I'd like to take this task.

[2018-12-10 15:22] SidharthBansal commented on #3338
You can only continue to work on those prs which will be sent before
today's deadline.
No PR will be reviewed of it will be sent after today's deadline.

On Mon, Dec 10, 2018, 8:50 PM Oorjit Chowdhary <notifications@github.com
wrote:

[2018-12-10 15:23] oorjitchowdhary commented on #3338
Okay.. but I can claim my last task on gci which can be worked upon till Dec 12th .. right?

[2018-12-10 15:30] oorjitchowdhary commented on #3338
So what should I submit for my task.. @gauravano ?
@jywarren Help us here

[2018-12-10 15:30] SidharthBansal commented on #4159
You need to do what @jywarren says.

On Mon, Dec 10, 2018, 8:57 PM Jan Okoński <notifications@github.com wrote:

[2018-12-10 15:30] jywarren commented on #4192
if you click the edit button you'll be able to see the raw body -- try it!

On Mon, Dec 10, 2018 at 9:00 AM Jonathan Xu <notifications@github.com>
wrote:

[2018-12-10 15:31] okonek commented on #4159
Ok

[2018-12-10 15:32] oorjitchowdhary commented on #3338
So if user.status == 1, ACTIVE svg
else BANNED svg
Am I right?

[2018-12-10 15:33] SidharthBansal commented on #4159
Lets wait for @jywarren to comment

On Mon, Dec 10, 2018, 9:01 PM Jan Okoński <notifications@github.com wrote:

[2018-12-10 15:34] okonek commented on #4159
Ok, I understand everything now.

[2018-12-10 15:36] gauravano commented on #3338
yes!

[2018-12-10 15:36] oorjitchowdhary commented on #3338
Okay.. PR coming up

[2018-12-10 15:37] SidharthBansal commented on #4237
I don't think it is a bug. It is a feature. Like people dislike youtube videos.
@jywarren may we close this?

[2018-12-10 15:39] JonathanXu1 commented on #4237
I can't find the option to dislike these posts. Could you show how one can dislike a post?

[2018-12-10 15:43] SidharthBansal commented on #4237
Oh sorry. https://codein.withgoogle.com/dashboard/tasks/5167726348730368/
Please claim and submit it urgently

[2018-12-10 15:46] okonek commented on #4159
Resolved in here: https://github.com/publiclab/plots2/pull/4255

[2018-12-10 15:57] #2592 closed

[2018-12-10 16:03] jywarren commented on #3498
Adding in some screenshots and stuff that could be used to break out the "calendar selector" task in the Interface section:

If you go to this page: https://publiclab.org/questions/new?legacy=true, you can see a calendar selector already in the codebase. There may be other ones that can do range selections too, generally using Bootstrap and jQuery:

![image](https://user-images.githubusercontent.c

[2018-12-10 16:04] okonek commented on #4242
Claimed and resolved in here: https://github.com/publiclab/plots2/pull/4258

[2018-12-10 16:05] JonathanXu1 commented on #3482
Is anyone still working on this? I've implemented @jywarren 's changes to see if it would work, but nothing really changed. You can see more info at #4232

[2018-12-10 16:08] JonathanXu1 commented on #4242
@okonek does it open the edit prompt once the user is logged in?

[2018-12-10 16:10] okonek commented on #4231
@SidharthBansal Can I do it now?

[2018-12-10 16:19] okonek commented on #4242
No, it doesn't, but I couldn't find a way that I could without editing the controller's code.

[2018-12-10 16:20] oorjitchowdhary commented on #4126
@publiclab/reviewers I'd like to complete either this or https://github.com/publiclab/plots2/issues/4115#issuecomment-445020693 as my last task on gci..
If I can go for these, I'll claim it .. Also, #4126 isn't available on gci dashboard..

[2018-12-10 16:23] JonathanXu1 commented on #4242
Check #4239, I'm trying to do something similar too

[2018-12-10 16:24] okonek commented on #4242
Ok, I'll check it out in a minute.

[2018-12-10 16:28] okonek opened #4259 "Logout always redirects to / (Home Page)"
### Problem
The log out button in the dropdown redirects to the home page. It's a very annoying issue, which can cause users to dislike the whole webpage.
![logout](https://user-images.githubusercontent.com/24360027/49745793-aeef9c00-fc97-11e8-8a41-051ae139e27c.gif)

### Solution
Pressing the log out button should log you out and then redirect to the same page you were on before the action. The so

[2018-12-10 16:29] okonek commented on #4259
@SidharthBansal What do you think about it? It's for this task: https://codein.withgoogle.com/dashboard/task-instances/5879456854966272/

[2018-12-10 16:34] SidharthBansal commented on #4259
Great catch. Can you submit a patch for this?

[2018-12-10 16:34] SidharthBansal commented on #4259
I have approved it.

[2018-12-10 16:34] okonek commented on #4259
I can try but I don't know if I would finish before the end of the competition.

[2018-12-10 16:36] okonek commented on #4259
I can solve it after the competition because I am surely going to help and solve the issues for you even after the contest because your engagement and support are just great.

[2018-12-10 16:37] SidharthBansal commented on #4259
Great.

On Mon, Dec 10, 2018 at 10:06 PM Jan Okoński <notifications@github.com>
wrote:

[2018-12-10 16:37] jywarren commented on #4126
I think we could preserve the same basic style, but think about:

a) how it might not need all the info shown, so as to save space
b) how we might be able to group comments by the post they're attached to,
to save space
c) how we might make the styling of each comment box a bit more minimal or
simpler/smaller

On Sat, Dec 8, 2018 at 10:47 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-10 16:39] jywarren commented on #4259
you're awesome!!!

On Mon, Dec 10, 2018 at 10:36 AM Jan Okoński <notifications@github.com>
wrote:

[2018-12-10 16:47] SidharthBansal commented on #4250
@JonathanXu1 and other GCI students if any task is left for reward then please submit it on the GCI platform. If I can approve it, I will approve it immediately.

[2018-12-10 16:48] oorjitchowdhary commented on #4126
@SidharthBansal Can you add this to gci.. I'll complete this one as my last task

[2018-12-10 16:48] SidharthBansal commented on #4250
@okonek @kevinzluo @dinaelhanan @oorjitchowdhary and others

[2018-12-10 16:49] oorjitchowdhary commented on #4250
Hi.. 2 are left but one is incorrect.. Can I submit that one

[2018-12-10 16:50] SidharthBansal commented on #4126
https://codein.withgoogle.com/dashboard/tasks/5957069766131712/

[2018-12-10 16:50] SidharthBansal commented on #4250
I mean the correct ones.

[2018-12-10 16:51] SidharthBansal commented on #4250
submit the correct ones now.

[2018-12-10 16:51] oorjitchowdhary commented on #4126
Thanks

[2018-12-10 16:55] SidharthBansal commented on #4250
Please do it 5 minutes remaining. I am not receiving any emails from you guys.

[2018-12-10 17:08] SidharthBansal commented on #3698
I think deadline has passed.
Well done guys.
You are all awesome.
No more tasks can be claimed. Students are requested to work on their pending tasks

[2018-12-10 17:22] oorjitchowdhary commented on #3698
Thanks a lot for the extension and initiative..
GCI is almost over...
So I request all the students @ValentinaTironi @JonathanXu1 @kevinzluo @dinaelhanan @CodeSarthak @thesparks @okonek to please give a good round for applause for all our mentors who have helped us in every task, every little thing and have taught extraordinary new things..
So this one's for the mentors, @publiclab/mentors @public

[2018-12-10 17:25] SidharthBansal commented on #3698
Thanks all of you

[2018-12-10 17:31] ValentinaTironi commented on #3698
Thank you too much! I was so scared when it started, I thought I couldn't do this but now we are here!! That's really amazing 💯 This is my last opportunity to participate on GCI, my 18th year is near but It was a fantastic experience! Thank you thank you all! 🎉 🎉

[2018-12-10 17:49] #4053 closed

[2018-12-10 17:54] dinaelhanan commented on #3698
I loved it too! It was my first time writing _and_ ruby code and the help from the community was fantastic, but what was even more fantastic was working on a project that makes an impact on the environment, loved every minute!

[2018-12-10 17:54] jywarren commented on #4191
Ah, this is interesting. Actually because the store uses an iFrame, maybe we need to disable the modal code when in the "embedded" view, which uses this route:

http://publiclab.org/embed/grid/nodes:purpleair

[2018-12-10 17:55] jywarren commented on #4191
Because the modal would appear in the iframe which would be pretty squished... but worth trying to test it out!

[2018-12-10 17:57] jywarren commented on #3698
This was really epic. Hard to believe how much work and how much activity
went into it. Both mentors and students were incredible and we had some
great teamwork.

THANK YOU to everyone!!!

Look at this activity!!! https://github.com/publiclab/plots2/pulse/monthly

On Mon, Dec 10, 2018 at 11:55 AM d1g1t4ld1n4 <notifications@github.com>
wrote:

[2018-12-10 18:03] jywarren commented on #2718
sure, yes please!

On Mon, Dec 10, 2018 at 3:35 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-10 18:14] #3457 closed

[2018-12-10 18:20] JonathanXu1 commented on #3698
Thank you so much for this wonderful experience. This was my first time contributing to open-source and it was absolutely eye-opening. I really appreciate the mentors' swift and helpful support, as well as the friendliness of all the other collaborators.

You guys have made this an event to remember :)

[2018-12-10 18:42] jywarren commented on #4169
The front page content is stored in a database Feature (see our data model)
which is a special type of node. So it's not present in the codebase. We
have a proposal for a javascript means of triggering a modal login, which
would make it possible to insert such prompts into db-driven text, such as
nodes!

On Sun, Dec 9, 2018 at 2:23 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-12-10 18:56] jywarren commented on #3698
We'd love to thank people via the Public Lab Twitter account (https://twitter.com/publiclab) as well, or any other social media you have if you'd like to paste it in here 👍  We always want to celebrate our great community members 🎉

[2018-12-10 19:09] jywarren commented on #4208
:-)

On Sun, Dec 9, 2018 at 11:00 AM Sidharth Bansal <notifications@github.com>
wrote:

[2018-12-10 19:14] gauravano commented on #3698
Awesome work everyone :tada: ! We really enjoyed working with all of you and would love to continue working. I guess all of you have got the real taste of Open Source by collaborating with each other for creating something big.

GCI might get over soon, but we would love to have you as a part of Public Lab :heart:.

[2018-12-10 19:20] #3756 closed

[2018-12-10 19:20] #4180 closed

[2018-12-10 19:20] jywarren commented on #4174
That's the kind of "no format" that causes this, but that one is for the
RSS feeds. Maybe could be good to use the Google Dev console to see exactly
what request is sent when this page is loaded, locally. Then we could try
to figure out why it's not rendering a layout. Thanks!

On Sat, Dec 8, 2018 at 1:28 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-10 19:21] SidharthBansal commented on #3756
See the PR for conversation
Login modal is now implemented instead of this

[2018-12-10 19:37] jywarren commented on #4183
For your first Q, I think the issue is that our "nearby" logic in the API is based on truncating the tag so we get a lower resolution, and then finding all tags that start with that string -- a bit odd, here:

https://github.com/publiclab/plots2/blob/9dd50d1e1008bd23b13c1f21fd56e7c87d1f0fd8/app/services/search_service.rb#L106

Advantages are that we use the existing tag system, it's relatively sim

[2018-12-10 19:39] jywarren commented on #4183
For the "flaw" i describe above, we could start with a test, like copying this one: https://github.com/publiclab/plots2/blob/5b55750e2a8001ed98e629ad31a1e78f51a4c642/test/functional/api/search_api_test.rb#L121

basically we'd query `get '/api/srch/nearbyPeople?query=30.99,39.99` instead of `get '/api/srch/nearbyPeople?query=31.00,40.00'` and it would fail even though we are looking for a not much

[2018-12-10 19:43] jywarren commented on #4177
agreed!

On Fri, Dec 7, 2018 at 4:46 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-12-10 19:45] SidharthBansal commented on #4205
So let's close it

[2018-12-10 19:45] #4205 closed

[2018-12-10 19:49] jywarren commented on #3472
thanks for doing this! This is merged. I think we could continue to refine this using different strategies like the above debounce. Also perhaps looking at:

https://lodash.com/docs/4.17.10#debounce

https://css-tricks.com/debouncing-throttling-explained-examples/

@milaaraujo @sagarpreet-chadha just a note because I think i've mentioned debounce to both of you at different points, the last link a

[2018-12-10 19:50] jywarren commented on #3147
@milaaraujo is this potentially of interest for the API work you're doing?

[2018-12-10 20:00] #4204 closed

[2018-12-10 20:15] #4193 closed

[2018-12-11 01:11] professionalzack commented on #4189
Hi sorry, I have been out of the house. I had a couple confusions here but seemed to have squared it away. Just waiting to see if the PR is accepted.
Thanks !

[2018-12-11 01:13] thesparks commented on #3698
Thank you! This is a wonderful experience for me. I really enjoyed solving tasks and writing issue, I will never forget these days

[2018-12-11 01:58] SidharthBansal commented on #3698
*It will be great if you guys will complete your pending stuff, pending
prs before the today's deadline, so that we can consider those too. We want
all your hardwork to be considered. We don't want it to get wasted. I hope
you all will send the remaining patches at the earliest.*

On Tue, Dec 11, 2018 at 6:43 AM Sparks <notifications@github.com> wrote:

[2018-12-11 03:07] kevinzluo commented on #3698
@SidharthBansal Sorry to bother, but are you referring to the deadline posted on gitter (`You all are informed that me, gaurav, sagarpreet will not be available from 9:30 IST today. Get your stuff done before it.`), or the deadline of December 12 on the GCI website?

Thank you,
Kevin Luo

[2018-12-11 03:10] SidharthBansal commented on #4169
If anyone wants to take on this. Then please tell. I will assign him/her the task

[2018-12-11 03:30] kevinzluo commented on #3698
Alright, thank you for the clarification!

[2018-12-11 03:30] SidharthBansal commented on #3698
''Follow timeline on GCI dashboard strictly. We can't change the it. ''

On Tue, Dec 11, 2018, 8:59 AM Sidharth Bansal <bansal.sidharth2996@gmail.com
wrote:

[2018-12-11 03:31] SidharthBansal commented on #3698
Thanks for asking. You should not have doubts.

On Tue, Dec 11, 2018, 9:00 AM kevinzluo <notifications@github.com wrote:

[2018-12-11 03:35] SidharthBansal commented on #4191
Is anyone on it? Or willing to do after some time?

[2018-12-11 03:36] SidharthBansal commented on #4191
If @jonathanxu1 you want to do after your integrating modal task, then we can reserve this for you.
Please comment if you wish to.
Thanks Jeff for your input

[2018-12-11 03:45] JonathanXu1 commented on #4191
I'd love to work on it after I finish integrating the modal. Thanks for bringing this up!

[2018-12-11 04:07] SidharthBansal commented on #4191
Great

On Tue, Dec 11, 2018, 9:15 AM Jonathan Xu <notifications@github.com wrote:

[2018-12-11 04:12] ValentinaTironi commented on #4126
@oorjitchowdhary Are you still working on this?

[2018-12-11 04:50] ValentinaTironi commented on #3846
Hey, if nobody is working on this maybe I can try resolve it :) @jywarren @oorjitchowdhary

[2018-12-11 05:01] ValentinaTironi commented on #3846
I saw this error
<img width="615" alt="screen shot 2018-12-11 at 1 57 24 am" src="https://user-images.githubusercontent.com/20969831/49779310-251bef00-fce8-11e8-9db1-3901cc5e184f.png">
In the code, is this line:
https://github.com/publiclab/plots2/blob/b50ccc166a38b69de9c8a2678d913b19552bbe77/app/views/editor/wikiRich.html.erb#L215
This is happening because you are trying to do `titleModule()` of

[2018-12-11 05:49] milaaraujo commented on #3147
Not directly... I think! What exactly needs to be done here? We are already using the full-text search function.

[2018-12-11 06:13] #4048 closed

[2018-12-11 07:02] oorjitchowdhary commented on #4126
Yes... This is my last task..

[2018-12-11 08:33] IshaGupta18 commented on #4195
Hey, this is my first time in contributing to open source, can someone please set me up with a first-timer issue? I will be very grateful!

[2018-12-11 08:43] SidharthBansal commented on #4195
We will be happy to help you. But this issue is not available now. We will
be looking for it after integration of login sign up modal is complete.
In the meantime you can try to contribute on other issues.
Thanks
Sidharth

On Tue, Dec 11, 2018, 2:03 PM IshaGupta18 <notifications@github.com wrote:

[2018-12-11 08:45] IshaGupta18 commented on #4195
Thank you very much. I was hoping if you could recommend me any issue which is suitable for a first timer, because many of them are already taken up, like this one. Thank you.

[2018-12-11 10:06] sashadev-sky commented on #3760
@SidharthBansal sorry for the delay in my reply! This is meant to be a FTO issue, but I think we might want to close and re-open it as a new issue if a GCI candidate doesn't take it by tomorrow? Not sure if that's protocol, but it got buried a bit, so let me know

[2018-12-11 10:36] oorjitchowdhary commented on #4195
Hi @ishagupta18, welcome to Public Lab!
Thanks for your enthusiasm for this issue..
You can take a look at https://github.com/publiclab/plots2/labels/first-timers-only to see the issues which are currently available and are meant to be solved by first timers..
Thank you for your interest..

[2018-12-11 10:55] IshaGupta18 commented on #4195
Thank you sir, I will surely have a look at them once again. I am grateful for your time.

[2018-12-11 11:43] #4009 closed

[2018-12-11 12:12] SidharthBansal commented on #3698
@jywarren as GCI deadline to claim task is over, I have removed ``gci-candidate`` labels from plots2.

``All GCI students who are working on the issues taken up``(by a comment on GitHub or claimed at GCI website, etc) ``can continue to work on them until the deadlines.``
If you have done some work, then it will be judged for sure. Each and every work will be judged.

Many of the students will be s

[2018-12-11 12:17] SidharthBansal commented on #3760
@sashadev-sky no need to open up a separate issue. We can remove labels.
If you wish you can work on this.

[2018-12-11 12:21] SidharthBansal commented on #4160
I guess @okonek you are working on this issue. Am I right?

[2018-12-11 12:31] oorjitchowdhary commented on #4126
* [ ]  how it might not need all the info shown, so as to save space
* [ ] how we might be able to group comments by the post they're attached to, to save space
* [ ] how we might make the styling of each comment box a bit more minimal or simpler/smaller

Could I get guidance regarding the group comment.. I've done the rest two
Here is how the comment looks now on the dashboard on my localhost..

[2018-12-11 12:32] oorjitchowdhary commented on #4126
@SidharthBansal @jywarren

[2018-12-11 12:35] oorjitchowdhary commented on #4126
I'm sending a patch for the changes done by me.. Is it okay?

[2018-12-11 12:39] kevinzluo commented on #4160
I am not sure. It did not work with the other link that subscribed to a tag, so I have doubts :(. I will let you know after I am able to test it.

Thank you,
Kevin Luo

[2018-12-11 12:40] SidharthBansal commented on #4126
Let's seek guidance from Jeff which design we need to implement.
I really like your work. Beautiful. He knows much better than I do.

On Tue, Dec 11, 2018 at 6:05 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-11 12:41] SidharthBansal commented on #4126
Great to see your PR.

[2018-12-11 12:48] SidharthBansal opened #4268 "Validation error messages for the signup modal"
We expect the errors will be shown on the modal instead of redirecting to sign up page.
Please ensure the following:
- [ ] Sign Up form validations are working fine for incorrect input fields(testing)
- [ ] Sign Up modal validations are working fine for incorrect input fields(testing)

[2018-12-11 12:49] SidharthBansal commented on #4268
It needs to be done after #4209

[2018-12-11 15:49] SidharthBansal commented on #4218
@kevinzluo do you think that this will also work after your current pr?
If yes then @oorjitchowdhary will have to just set up the 2 lines of code which he was thinking of initially. I personally believe that your code will minimize Oorjit's work.

[2018-12-11 16:03] #4195 closed

[2018-12-11 16:04] SidharthBansal commented on #4195
I think we don't need a merged button on the header. Two buttons are better. People will be able to handle whichever they are willing to.

[2018-12-11 16:17] oorjitchowdhary commented on #4218
Okay... sure.. Can I work on any new issue now?

[2018-12-11 16:33] ValentinaTironi commented on #3698
OH, It was so beautiful @SidharthBansal, Thank you for support us! I'm so stressed, nervous, and scared too. Also, I'm sick now and I can't be looking for a long time the computer because I've a headache and It hurst a lot.
I think all of us did an awesome work here, everyone is really great :) Continue like this and you're going to get very far! It was a pleasure ❤️

[2018-12-11 16:37] SidharthBansal commented on #3698
Take a lot of rest please.

On Tue, Dec 11, 2018, 10:03 PM Valentina Tironi <notifications@github.com
wrote:

[2018-12-11 16:40] ValentinaTironi commented on #3698
Yes, I'll do that when I finish some pending here :) I almost finish, don't worry. Thank you ❤️

[2018-12-11 16:45] oorjitchowdhary commented on #4250
Yes.. Is this the line which is to be changed?
https://github.com/publiclab/plots2/blob/eeed6645474a356cdd62fdd9e7c8467935faef1f/app/views/user_sessions/_new.html.erb#L5

[2018-12-11 16:50] SidharthBansal commented on #4250
This is the line to display the error messages on the login page. You need to bring in some clever insight so that the page will not redirect to /login, instead this line is rendered on the modal itself.

[2018-12-11 16:50] SidharthBansal commented on #4250
Does this makes sense?

[2018-12-11 16:51] oorjitchowdhary commented on #4250
Yes.. I get it.. I'm looking into it..

[2018-12-11 17:33] jywarren commented on #3698
Valentina please take care of yourself! Get well, code will wait!

Thanks Sidharth for your heartfelt sentiments. Everyone should be very
proud of themselves and of each other! 🙌🏽⚡👏🏽👏🏽👏🏽👍🏽🎉🎉🎉

On Tue, Dec 11, 2018, 11:40 AM Valentina Tironi <notifications@github.com
wrote:

[2018-12-11 20:01] oorjitchowdhary commented on #4250
@SidharthBansal

[2018-12-11 20:02] SidharthBansal opened #4269 "Extract out edit controller data from the form partial"
Due to the signup and login modal integrations, I need to divide the users/_form.html.erb into two parts form2 and form partials. After #4209 is merged. We need to
- [x] Extract out edit controller data from the form partial
- [ ] Change _form partial to some other name
- [ ] Similarly change name for _form2 partial.

[2018-12-11 21:27] oorjitchowdhary opened #4270 "Searching error at /search bar"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-12-11 21:44] oorjitchowdhary opened #4271 "Sorting of '# of people subscribed' on /tags doesn't work"
### Please describe the problem (or idea)
Sorting of `# of people subscribed` doesn't work..
The `ascending` and `descending` is broken and doesn't show up correctly..

![sorting people error](https://user-images.githubusercontent.com/39333058/49832066-a0020a00-fdbb-11e8-84e2-74b1e269fa8d.gif)

By clicking on it, the sorting should have shown proper sequence of `ascending` and `descending`.

### P

[2018-12-11 21:54] oorjitchowdhary opened #4272 "Improve UI at 'Contributors' tab at /tags"
### Please describe the problem (or idea)
The `contributors` tab page shows up in a very unorganized way....

The `number of contributors`, `research notes` and `wiki pages` could be shown in a proper sentence format (which could be styled using Markdown) instead of showing up as a whole row which could be confused with the table.

Moreover, I think the `table` shown below is not well-formatted an

[2018-12-11 21:55] oorjitchowdhary commented on #4271
@publiclab/reviewers

[2018-12-11 21:55] oorjitchowdhary commented on #4272
@publiclab/reviewers

[2018-12-11 21:56] ValentinaTironi commented on #3331
We've been working on this, there are a lot new features ready and maybe we can mark them as `done`.
### Done
- [x]  Check if the user is a first-time commenter or not, if the user has published a note before then he/she #4047
- [x]  Make a function in `comment.rb` which will change the status of comment to 4 (status = 1 represent normal comment, status = 4 represent under moderation).
- [x]   In

[2018-12-11 22:02] oorjitchowdhary opened #4273 "'Map' tab stays blank if no map is available"
### Please describe the problem (or idea)
The `map` tab page at /tags stays blank if no map is available.

![screenshot 104](https://user-images.githubusercontent.com/39333058/49832976-2f102180-fdbe-11e8-921b-c482c87d6db4.png)

I think we can add a line which says
`Sorry, no maps tagged with x and y tags are available. You can view other maps at publiclab.org/maps or you may help us add a map for

[2018-12-11 22:19] ValentinaTironi commented on #4271
Maybe you can add where is the code for fix this and explain how do you think it can be resolved. What  do you think?

[2018-12-11 22:26] oorjitchowdhary opened #4274 "Enhance the /research page"
### Please describe the problem (or idea)
The current research page is the exact replica of dashboard also accessible to users who aren't logged in.

I think we enhance this page to just show our recent activity ranging from questions, notes and wiki pages.

Through this, we aren't exactly replicating the dashboard, giving logged in users a special page (`/dashboard`) and are also showing non logg

[2018-12-11 22:50] jywarren commented on #3331
This is awesome!!!!

On Tue, Dec 11, 2018, 4:57 PM Valentina Tironi <notifications@github.com
wrote:

[2018-12-11 23:59] dinaelhanan commented on #3331
@ValentinaTironi although I'm quite busy this week, I will have a lot of time this weekend to put toward working on stuff, so I'd love to help with the first task on the todo! I would like to actually make it though, since I think I want a change from writing the tests and try something new. Great idea!

[2018-12-12 00:12] #4126 closed

[2018-12-12 00:37] jywarren opened #4275 "ensure the nearby tag inline grids properly make use of nearbyTag API"
We should ensure the nearby tag inline grids properly make use of this API, and perhaps also a test to demonstrate the grid is working? They /should/ show an inline map with markers on it for notes with the given tag.

https://publiclab.org/wiki/inline-maps#Tag-filtered+maps shows usage (currently broken! but there are correctly-tagged notes that should be appearing there)

We should add a test, w

[2018-12-12 01:09] jywarren commented on #4273
this is great!

On Tue, Dec 11, 2018 at 5:02 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-12 01:52] jywarren commented on #4274
I think this is an interesting idea for @edieblu to consider in the redesign of the dashboard! Please note that the main purpose of the /research page was to ensure that people who haven't made an account or haven't logged in, could still participate in and read through PL content -- it's basically OK if some people just want to follow along, even if we do want them to make accounts. Does this mak

[2018-12-12 01:58] jywarren commented on #4272
this is really cool. Oorjit - do you think you could find some examples
from other places on the web which we could use as a design inspiration for
this page?

On Tue, Dec 11, 2018 at 4:56 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-12 02:20] jywarren commented on #4270
Super!

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-time

[2018-12-12 02:22] jywarren commented on #4270
This is looking good! However i think for it to be a full first-timers-only issue we'd have to suggest a concrete specific code change -- what it should be changed to. Could you offer the final solution in code for it to be changed to?

`I think we could change the search box code and mark that field as required`

Remember a FTO is often more to help people learn the collaboration process than to

[2018-12-12 02:22] jywarren commented on #4270
And great work!

[2018-12-12 04:51] ValentinaTironi commented on #3846
Sorry, I don't understand. Where do I create the issue?

[2018-12-12 04:52] SidharthBansal commented on #3760
Makes sense.
This is not ideal fto according to me too.

On Wed, Dec 12, 2018, 6:58 AM Sasha Boginsky <notifications@github.com
wrote:

[2018-12-12 05:01] oorjitchowdhary commented on #4272
@dinaelhanan @jywarren I had implemented the /people page layout in the `people` tab /search. Here in #4130. We could implement the same at /tags too..

[2018-12-12 05:02] #4082 closed

[2018-12-12 05:05] #3188 closed

[2018-12-12 05:06] ValentinaTironi commented on #3331
That sounds fantastic @dinaelhanan! I think we can make it happens

[2018-12-12 05:19] oorjitchowdhary commented on #4272
![table-ui-kit-s11](https://user-images.githubusercontent.com/39333058/49848372-de6ae980-fdfa-11e8-8fc9-cf26cafa52bd.jpg)

Found this one.. Really liked it.. Probably we can remove the `Company` tab in here.. and add `Usernames` there..

And I also have a great idea.. For the status tab, if we want, we can either use the `@user.status ==` here or perhaps we could add a new feature depending upon t

[2018-12-12 05:34] rexagod commented on #4189
Hey I'd like to claim this issue please!

[2018-12-12 05:37] oorjitchowdhary commented on #4189
@rexagod I think @professionalzack may have already solved this one..
You can take a look at #4270 if you want.. Else go to https://github.com/publiclab/plots2/labels/first-timers-only for all the first timers only issue..
Thanks

[2018-12-12 05:56] rexagod commented on #4270
Hey I'd like to claim this issue please!

[2018-12-12 05:57] rexagod commented on #4189
@oorjitchowdhary I've submitted a claim request at #4270 as well.

[2018-12-12 06:37] milaaraujo commented on #4183
Ok, let's start with the latitude/longitude storage!

In my opnion it makes more sense these new columns to tags, since it already stores the string representation of a location. What do you think?

One more question... Where in the code do we get the location and save it as a string?

[2018-12-12 09:05] oorjitchowdhary opened #4278 "'Follow' icon is the same as 'number of views' icon"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-12-12 09:09] oorjitchowdhary commented on #4278
@publiclab/reviewers I created this as a fto issue but I have realized this will require changes at multiple locations, should it still be a fto issue?

[2018-12-12 09:16] oorjitchowdhary opened #4279 "RSS feed page is broken"
### Please describe the problem (or idea)
I am not so familiar with RSS but I still clicked the button and went to that site.
It comes up with an error at top and then shows up the `document tree`.

![rss error](https://user-images.githubusercontent.com/39333058/49859027-8644df00-fe1c-11e8-82bb-06bc74e8bbde.gif)

### Please show us where to look

https://publiclab.org/feed/oorjit_chowdhary.rss

##

[2018-12-12 09:22] SidharthBansal commented on #3931
@jywarren in reference to https://github.com/publiclab/plots2/issues/3931#issuecomment-438876819.
I guess the simple case 1 is not needed. We will prompt the login modal, then the user gets subscribed to that tag. In some prs, this work is going on. What do you say?
Regarding the second case, according to me, it is a little weird to actually have that case at the front end.
I mean a user is not lo

[2018-12-12 09:29] oorjitchowdhary opened #4280 "Improve buttons layout at /profile"
### Problem
The buttons below tags at /profile are not well formatted and well-aligned.

![screenshot 113](https://user-images.githubusercontent.com/39333058/49859371-68c44500-fe1d-11e8-9edc-0afcb649e569.png)
### Code link
https://github.com/publiclab/plots2/blob/58d5ea84462f6117ce55830aeb8657eca3e5ac7a/app/views/users/profile.html.erb#L206-L217

### Solution
We can use the same `class="btn btn-de

[2018-12-12 09:31] SidharthBansal commented on #4280
@oorjitchowdhary we need to hide the Test Digest button from the production. We can use if Rails.env == production ....etc conditions here.
Let's take input from @gauravano for this.

[2018-12-12 09:32] SidharthBansal commented on #4280
Thanks for raising the issue. It will be great if you can help the mentors with the pending prs and issues we are tackling. We already have a huge list of 500 issues this time.

[2018-12-12 09:34] oorjitchowdhary commented on #4280
Yes.. I saw the huge amount of issues and PRs... I can help the mentors wherever I could be of assistance..

[2018-12-12 09:34] oorjitchowdhary commented on #4280
Also, I will try to fix some of the issues which are raised by myself

[2018-12-12 09:39] IshaGupta18 commented on #4259
Is this issue still open? If yes, could I please try to work on this?

[2018-12-12 09:40] oorjitchowdhary opened #4281 "'Link social media' button doesn't work"
### Please describe the problem (or idea)
The `link social media` button doesn't work.
It displays a dimmed screen. I'm guessing that's for a modal to appear but nothing happens.

![social media link error](https://user-images.githubusercontent.com/39333058/49860550-091b6900-fe20-11e8-8e6d-af5748551ad0.gif)

https://github.com/publiclab/plots2/blob/bb48d317502e73f6e236c7870e74da174e021050/app/view

[2018-12-12 10:10] oorjitchowdhary commented on #4278
@SidharthBansal What say?

[2018-12-12 10:30] SidharthBansal commented on #4259
I think @okonek is trying to implement his proposed solution, if no then @IshaGupta18 you can try to fix it.
Thanks all of you.

[2018-12-12 10:35] SidharthBansal opened #4283 "Multiple Tag Subscriptions"
We need to offer users to subscribe to multiple tags simultaneously on clicking a single button.
We will be prompting users the following at multiple web pages
![image](https://user-images.githubusercontent.com/20972099/49863922-5d761700-fe27-11e8-8342-c84fc875d9b8.png)
so that user is able to select tags and get subscribed to the website.
In this issue, we are focussing on the backend. When the u

[2018-12-12 10:36] IshaGupta18 commented on #4259
@okonek please let me know whether you are working on this or not? Thank you all!

[2018-12-12 10:55] SidharthBansal commented on #4278
It will be better to close this issue and create a single issue where you
can list all the places where we need to change the icons. Right now we are
having 500+ issues so we are looking forward to solving them first. If you
will create issue for each then it will create issue tracker to be
overwhelmed for the mentors. Let's teamwork to resolve the existing issues
first. What do you think?
I reall

[2018-12-12 10:57] SidharthBansal commented on #4280
Yeah sure. Just you don't need to solve first timers only issues. You can
try to solve your existing issues or anyone else's issues which you have
claimed.
Most of the mentors are busy right now, I can help you with those which I
have raised. If you want you can work on them.

On Wed, Dec 12, 2018 at 3:04 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-12 10:59] SidharthBansal commented on #4280
Ideal number of PRs which we want is less than 30. We want less than 300 issues at the earliest. So, a lot of stuff is pending. Issue and PR tracker has raised a lot. I tried my level best to solve as much as I can and review as much as I can.

[2018-12-12 10:59] oorjitchowdhary commented on #4278
That's a great idea.

Okay, sounds good. Let's do this!

[2018-12-12 11:01] oorjitchowdhary commented on #4280
Ohk then.. Let's get to work

[2018-12-12 11:02] oorjitchowdhary commented on #4280
Less than 30 and less than 300, which means we have a lot to cover

[2018-12-12 11:03] SidharthBansal commented on #4280
Yeah

On Wed, Dec 12, 2018 at 4:32 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-12 11:05] SidharthBansal commented on #4278
Oorjit we have :+1: symbols at each comment. If you agree upon the
statement then you can use them instead of commenting. This enables the
conversation to be precise and accurate.

On Wed, Dec 12, 2018 at 4:30 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-12 11:59] SidharthBansal commented on #4250
Wait on this one. We have some other PR depending on these validations.
Stuff is interlinked in this OAuth Milestone. Sorry for the trouble.

On Wed, Dec 12, 2018 at 1:31 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-12 12:04] SidharthBansal commented on #4278
Please link it to the new issue which I suggested you to create.

[2018-12-12 12:52] SidharthBansal commented on #4271
Create PR for the one which works. Think about the second issue in second
pr.
Keeping modularity into mind.

On Wed, Dec 12, 2018 at 5:59 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-12 12:54] oorjitchowdhary commented on #4280
@SidharthBansal Can I make the changes which can be done now .. and we can add the conditional for the button in a commit.. is that okay?

[2018-12-12 12:55] oorjitchowdhary commented on #4271
No.. actually I meant.. on the live PL site.. sorting of `# of uses` works well but `# of subscriptions` shows an error...

[2018-12-12 13:34] dinaelhanan commented on #4272
@oorjitchowdhary good idea! like @jywarren said, we could probably use that for the people page too!

[2018-12-12 13:39] IshaGupta18 commented on #4280
Can I take up this issue if it hasn't been assigned already? I want to contribute for the first time. Thank you all!

[2018-12-12 13:51] SidharthBansal commented on #4280
@oorjitchowdhary it will be great if you will create a first timer for @IshaGupta18 and help her out through the workflow.

[2018-12-12 13:53] oorjitchowdhary commented on #4280
Yes, we could do that.. so would we do the `if Rails.env` conditional in a new issue?

[2018-12-12 13:53] SidharthBansal commented on #4280
@IshaGupta18 this is not a first timer only issue. It is intermediate level issue. @oorjitchowdhary is working on it. @oorjitchowdhary will create a first timer issue for you and help you with it.
Thanks both of you

[2018-12-12 13:54] oorjitchowdhary commented on #4280
@SidharthBansal I'll break this into two issues -- one for buttons change and one for the `rails.env` conditional.. I hope this works

[2018-12-12 13:55] SidharthBansal commented on #4280
Great

[2018-12-12 14:00] IshaGupta18 commented on #4280
Okay @SidharthBansal  and @oorjitchowdhary. I really appreciate the help.

[2018-12-12 14:02] oorjitchowdhary opened #4285 "Use same styles for buttons at /profile"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all) made from #4280. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as

[2018-12-12 14:03] oorjitchowdhary commented on #4280
@IshaGupta18 you can start working on #4285

[2018-12-12 14:04] IshaGupta18 commented on #4285
Thank you for assigning me this issue @oorjitchowdhary !

[2018-12-12 14:04] SidharthBansal commented on #4280
Awesome Oorjit

On Wed, Dec 12, 2018 at 7:33 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-12 14:07] oorjitchowdhary opened #4286 "Hide 'Test Digest Mail' from production"
Made from #4280
### Problem
The `Test Digest Mail` button should not appear in the production server.

![screenshot 113](https://user-images.githubusercontent.com/39333058/49859371-68c44500-fe1d-11e8-9edc-0afcb649e569.png)

### Code link
https://github.com/publiclab/plots2/blob/58d5ea84462f6117ce55830aeb8657eca3e5ac7a/app/views/users/profile.html.erb#L237-L241

[2018-12-12 14:08] oorjitchowdhary commented on #4280
#4285 and #4286
So, I'm closing this now

[2018-12-12 14:08] #4280 closed

[2018-12-12 14:09] oorjitchowdhary commented on #4285
Welcome to Public Lab!

[2018-12-12 14:14] oorjitchowdhary commented on #4278
I browsed through the website.. I don't think we require any other changes from the icons perspective...
I think this is the only one... So should I reopen this and all the code links??

[2018-12-12 15:19] uzorjchibuzor commented on #4280
I am interested in the test digest button, this issue is closed but I can still see the button production. If it’s available, I would like to take a stab at it

[2018-12-12 15:56] jywarren opened #4287 "Uploaded pictures always stays vertical (autoposted via PublicLab.org)"
(This issue was auto-generated from https://ift.tt/2B8W2Ma -- please help to flesh it out and explore the issue, and respond to the original author!) by https://ift.tt/2Et2iEm<br>
<br>
Read more and ask the original author for details at: https://ift.tt/2Ejak26<br>
<br>
****<br>
<br>
<img src="https://publiclab.org/system/images/photos/000/023/444/original/Screenshot_20180204-101546_2.png" alt="Pu

[2018-12-12 17:35] gauravano commented on #4115
Hi @dinaelhanan do you want to open a new issue using @jywarren's idea of resemblance with Github search UI? Or, if you want to edit it?

[2018-12-12 17:46] milaaraujo commented on #4183
I’m thinking about it and actually it makes more sense to store the lat/lon in the nodes!

[2018-12-12 17:56] IshaGupta18 commented on #4285
Kindly ignore these commits for now, I have removed them. I am creating a new branch for my task and push that branch, then make a pull request. I hope I haven't cause any trouble, I am just trying to learn the workflow. Thank you all!

[2018-12-12 18:20] IshaGupta18 commented on #4285
I have made the pull request for this issue. I hope #4288  is the link to the request. I am waiting for an approval. I am highly obliged for assigning me this issue and I sincerely hope this works out. Thank you all very much!

[2018-12-12 18:33] #4051 closed

[2018-12-12 18:57] #4285 closed

[2018-12-12 19:08] ValentinaTironi commented on #4202
What are we going to do with this? I think that is fine that you can add more than one reaction

[2018-12-12 19:09] ValentinaTironi commented on #4177
I think I can work on this :)

[2018-12-12 19:17] oorjitchowdhary commented on #4281
@publiclab/reviewers What could be done here

[2018-12-12 19:41] SidharthBansal commented on #4177
great

On Thu, Dec 13, 2018 at 12:39 AM Valentina Tironi <notifications@github.com>
wrote:

[2018-12-12 19:55] SidharthBansal opened #4290 "Subscription controller redundant code"
@jywarren can you please look
https://github.com/publiclab/plots2/blob/9101cc118ba1c882738882948a451903837770ea/app/controllers/subscription_controller.rb#L75-L78
I guess this comment means that we need to make a feature for the user(#4164) and node(ie note + wiki + map + question) subscription.
If we are looking for these then we should leave it as it is.
Else we should trim the controller's acti

[2018-12-12 20:10] SidharthBansal commented on #4278
Yeah please do so.

[2018-12-12 20:51] gauravano commented on #4281
I think there is a bug in action. Looks screen color fades but modal content was unable to show. @oorjitchowdhary would you like to open FTO from this issue. Thanks!

As Oauth would take time, quick fix would be to fix the existing. @SidharthBansal thoughts?

[2018-12-12 20:54] SidharthBansal commented on #4281
Quick fix is fixing the modal

On Thu, Dec 13, 2018, 2:21 AM Gaurav Sachdeva <notifications@github.com
wrote:

[2018-12-12 20:54] SidharthBansal commented on #4281
We should aim at quick fix here first

On Thu, Dec 13, 2018, 2:24 AM Sidharth Bansal <bansal.sidharth2996@gmail.com
wrote:

[2018-12-12 21:34] dinaelhanan commented on #4115
@gauravano I will most likely edit this one. I don't think it'll be a fto, since I won't be able to document it that well, but I do like the idea of that search UI :+1:

[2018-12-12 22:15] #4066 closed

[2018-12-12 22:22] oorjitchowdhary commented on #4115
@dinaelhanan ping me if you need any help

[2018-12-13 04:40] kevinzluo opened #4291 "Email sent for Comment to Answer has Wrong ID"
Hello,
I have been testing out the reply to email service and happened upon this error.

The ID for this question is 45, and the ID for this answer is 2. The email sent should have ID (#a2), but it sends as (#a45).
![emailiderror](https://user-images.githubusercontent.com/44309027/49916077-bd3be480-fe5e-11e8-8514-f1b65282f1b6.gif)

[2018-12-13 06:03] kevinzluo commented on #4291
I believe the issue is a combination of these lines: https://github.com/publiclab/plots2/blob/9a4e753b551055ba78f8ace397f01ad1c9766aeb/app/mailers/comment_mailer.rb#L47
https://github.com/publiclab/plots2/blob/9a4e753b551055ba78f8ace397f01ad1c9766aeb/app/models/comment.rb#L155-L157

The fix will depend on whether we want to send it with the answer id or question id. I think this is associated with

[2018-12-13 08:11] IshaGupta18 commented on #4278
Can I claim this issue?

[2018-12-13 08:58] IshaGupta18 commented on #4259
I have a solution in mind for this issue, has this issue been resolved or closed yet? Please let me know if I can be of any help! Thank you all very much!

[2018-12-13 09:14] uzorjchibuzor commented on #4278
@IshaGupta18 I would suggest that you leave this one for someone new. It is targeted at first-timers

[2018-12-13 09:23] gauravano commented on #4286
Hi @oorjitchowdhary @uzorjchibuzor this button was added by @ViditChitkara for testing his GSoC project. I think, it should appear in front of moderators and admin only. So, please add condition accordingly. Thanks!

[2018-12-13 09:23] IshaGupta18 commented on #4278
Alright, thank you. I have actually made just one contribution, that too yesterday, so I thought I might still come under first-timers category. My apologies. Thank you again!

[2018-12-13 09:23] gauravano commented on #4286
I know it's for testing but you can change the button style to match other buttons.

[2018-12-13 09:39] uzorjchibuzor commented on #4286
@gauravano so it should appear in production if the user is an admin or moderator?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-13 09:40] uzorjchibuzor commented on #4286
The way it currently is the button only appear when not in production, it doesn’t take the user status into account.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-13 11:02] oorjitchowdhary commented on #4278
@publiclab/reviewers I think we can let @ishagupta18 solve this one too...?
I think we allow two 'first timers only' issues per person

[2018-12-13 11:05] IshaGupta18 commented on #4278
So should I start working on this one @oorjitchowdhary ?

[2018-12-13 11:08] SidharthBansal commented on #4278
Right now you can fix the issue in the frontend is you want(the quick fix
one)
I have to tackle the backend as I have written the OAuth code.

On Thu, Dec 13, 2018, 4:36 PM IshaGupta18 <notifications@github.com wrote:

[2018-12-13 11:12] IshaGupta18 commented on #4278
Okay @SidharthBansal I'll just do what the task states in the description. Thank you all very much!

[2018-12-13 11:20] gauravano commented on #4286
Yes @uzorjchibuzor it's fine to show button in production to moderators and admins.

[2018-12-13 11:35] uzorjchibuzor commented on #4286
@oorjitchowdhary Thanks, I had a PR pending that removed the button from production I am going to push a commit that takes the status of the user into account instead of the environment. I will change the style to match other buttons too while at it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-13 11:50] oorjitchowdhary commented on #4286
Oh great..

[2018-12-13 12:00] IshaGupta18 commented on #4278
I have made a pull request for #4278 issue. I believe #4294 is the link to the request. I am waiting for approval and I hope everything works out. I thank you all very much!

[2018-12-13 19:52] cesswairimu opened #4297 "Date range selector for stats ranges"
Date range selector for stats ranges (calendar or draggable date ranges like https://github.com/publiclab/plots2/graphs/contributors?from=2013-11-07&to=2016-11-18&type=c

[2018-12-13 23:00] jywarren commented on #4283
These are controller methods, right? Awesome!

On Thu, Dec 13, 2018, 9:30 AM Sidharth Bansal <notifications@github.com
wrote:

[2018-12-13 23:02] gauravano commented on #3498
Hi @cesswairimu sorry I was busy with the exams but now available for help. I saw that you created a milestone for your project, that's nice. Could you also keep updating the issue checklist with relevant issue number or PR no. so that we all would be in sync.

I would be available for review and discussion from Sunday, till then I have to go through all the work done so that I can help you better

[2018-12-13 23:06] gauravano commented on #3498
okay, in checklist issues are mentioned against each item, any particular order you are following while taking issues?

[2018-12-14 00:32] jywarren commented on #4291
Ah this is a great catch. If you want to decide which makes more sense I
support your call on this! Thanks!!!

On Thu, Dec 13, 2018, 1:04 AM kevinzluo <notifications@github.com wrote:

[2018-12-14 00:37] kevinzluo commented on #4291
I feel we should use the answer ID so the reply to email service will work. Otherwise the comments will be posted to the parent question.

[2018-12-14 01:48] #3760 closed

[2018-12-14 02:51] #4270 closed

[2018-12-14 03:47] avsingh999 opened #4299 "'Link with a location' Not working"
Link with location not  working, It's showing blank popup
![issue1](https://user-images.githubusercontent.com/25536022/49982072-db016a80-ff80-11e8-9452-b526a4b999a0.gif)

[2018-12-14 16:31] SidharthBansal commented on #4283
Yeah, a little functionality of controller and some of model.
We will be integrating model functionality in multiple controllers. I hope so. Let's build this one first.

[2018-12-14 16:35] SidharthBansal commented on #4283
I think we need to modify the comments controller action to follow/unfollow tags.
https://github.com/publiclab/plots2/blob/4adee51f1ee92fc7e50bd236b6836f3e84c9d911/app/controllers/comment_controller.rb#L18
We can have the function for the radio button functionality in the https://github.com/publiclab/plots2/blob/4adee51f1ee92fc7e50bd236b6836f3e84c9d911/app/models/tag_selection.rb#L1.
We can use th

[2018-12-14 18:55] esylvan opened #4301 "Planning for holistic improvements"
PROBLEM: Public Lab has many amazing projects that are all available on the PL website. But PL has not been able to do a holistic review of the user experience and users, especially new or lightly engaged ones, might be confused by what they can do.

GOAL: We want people to find it easy to come to the site, find a sub-community they want to engage with, and then know what they can do with the comm

[2018-12-14 19:08] esylvan commented on #4301
@jywarren @steviepubliclab Hey there! Here's my sketch of what we might do, for conversational purposes. Feel free to put this issue or label it as I cannot do it myself.

[2018-12-14 20:18] SidharthBansal opened #4303 "Link comments under question to login modal"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all) made from #4132. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as

[2018-12-14 20:38] jywarren commented on #4301
Thanks! Will get into this more soon but just to note @ebarry has led a lot of work on understanding roles, motivations, and inputs/outputs of our community, documented in part here, which she may be able to chime in with starting Monday. Thanks!

https://docs.google.com/presentation/d/12NU6V9UFeOWKJrql8AIQZI3mKUWTuakF8zrGpOlgrNg/edit#slide=id.g20a7a15029_0_0

[2018-12-14 20:54] jywarren commented on #4301
Also chiming in with @edieblu @SidharthBansal who's also working on some more specific UI projects. @esylvan was on our OpenHour and is interested in doing a big overall, holistic UI analysis with us. Just connecting everyone together!

[2018-12-14 20:55] jywarren commented on #4301
@publiclab/reviewers -- and also, please checkout out @edieblu's work up here: https://publiclab.org/notes/edie_blues/12-13-2018/public-lab-dashboard-new-design-ideas

[2018-12-14 22:01] jywarren commented on #3404
OK, i changed the test digest code to:

`DigestMailJob.perform_async(0)` where it had lacked the parameter. Now we have to figure out why the daily/weekly ones aren't running, which should be a different issue.

I tried running `DigestMailJob.perform_async(0)` on the rails console on the production machine, in production mode. But didn't get an email. Looking at logs now.

[2018-12-14 22:02] okonek commented on #4259
@IshaGupta18 Sorry for that I respond so late. You can take it. I had whole lot of exams and other contests at school that I'm too tired to do it.

[2018-12-14 22:12] rexagod opened #4304 "Improper css formatting of 'Ask a question' suggestions"
**Problem:** The suggestions appear to be out of the parent element. I think this is a responsiveness issue, because on adjusting the width of the viewport, the issue ceases to exist.

![screenshot from 2018-12-15 03-56-12](https://user-images.githubusercontent.com/33557095/50033185-70523c80-001d-11e9-9604-170a5bec9f90.png)

![screenshot from 2018-12-15 03-29-58](https://user-images.githubusercont

[2018-12-14 22:19] jywarren commented on #3404
OK, i ran `user.send_digest_email`

[code]

We should be testing `send_digest_email`!

[2018-12-14 22:20] jywarren commented on #3404
Also I wonder if there's a version mismatch on the ActiveJob we're working with... it says there is no method `perform_later` although the latest Rails Guides say that should work... i likewise don't see docs for `perform_async` in the current rails guids: https://guides.rubyonrails.org/active_job_basics.html

[2018-12-14 22:33] okonek commented on #4242
Well, after looking at the @kevinzluo code in this PR, I still have no idea how he managed to do that. Maybe he could help us himself?

[2018-12-14 22:48] jywarren commented on #3404
Made a test for `user.send_digest_email` in https://github.com/publiclab/plots2/pull/4305 !

[2018-12-14 23:37] esylvan commented on #4301
Thanks, @jywarren. I've checked out @ebarry 's doc and @edieblu  and look forward to talking more about it.

[2018-12-14 23:40] jywarren opened #4306 "some tag pages broken when matching wiki page is redirected to another"
Yet again we have a problem with certain tag pages:

https://publiclab.org/tag/eval is showing a 404 error.

This one happened when the https://publiclab.org/wiki/eval wiki page is redirected with powertag `redirect:evaluation` to https://publiclab.org/wiki/evaluation. The error in the logs is:

[code]

But for the life of me I can't figure out why this is causing it to search for a node with `nid

[2018-12-15 00:17] jywarren opened #4307 "Coveralls tests are not completing properly"
Hi @Souravirus i wonder if you could look at this -- i think it's possible it was following the Rails 5.0 upgrade in https://github.com/publiclab/plots2/pull/2726

Basically, see how Coveralls tests are not working properly? Documented this here: https://github.com/lemurheavy/coveralls-public/issues/1235

I especially noticed they seem to run /before/ the main Rails tests, though after the Jasmine

[2018-12-15 00:43] jywarren commented on #4307
OK, tried re-enabling various apps to work on this. Let's look out at new builds to see how they do:

https://travis-ci.org/publiclab/plots2

[2018-12-15 00:51] jywarren commented on #4307
And maybe a clue - here is the page with the last successful coveralls build: https://coveralls.io/repos/143135/builds?page=220

It was: https://coveralls.io/builds/17560597

Looks like maybe this PR was the last one? https://github.com/publiclab/plots2/pull/2826/

[2018-12-15 00:55] jywarren commented on #4307
But it does seem to be around the time of the Rails 5.0 upgrade.

[2018-12-15 00:55] jywarren commented on #4307
@Souravirus would you mind trying to rearrange the Rakefile in a new PR to get Coveralls to run properly at the correct time?

[2018-12-15 01:27] jywarren opened #4310 "Profiles search results layout issue"
Hi @cesswairimu and @milaaraujo - just noting a small layout issue on this page which should be a quick fix if you're available to help on this?

![image](https://user-images.githubusercontent.com/24359/50037396-aa501e00-ffde-11e8-8b32-889df3b6180a.png)

If anyone else has time to work on this, we'd really appreciate it too!

[2018-12-15 01:30] #4307 closed

[2018-12-15 01:31] jywarren commented on #4307
#4309 worked!!! https://coveralls.io/builds/20648614

[2018-12-15 02:03] sashadev-sky commented on #4304
@rexagod good find! That idea does fix the issue of the text going outside of the dropdown, but it creates a new one where the dropdown stretches as far as the text goes:
<img width="1205" alt="screen shot 2018-12-14 at 8 48 35 pm" src="https://user-images.githubusercontent.com/41092741/50037692-2a2bb780-ffe2-11e8-820c-e8545ea969ec.png">

Maybe we could impose a maximum number of characters on the

[2018-12-15 02:35] SidharthBansal commented on #4301
Hi all,
We are building login and signup modal for the better user interface. You
can check you the work going on in OAuth milestone.
Thanks everyone.

On Sat, Dec 15, 2018, 5:08 AM Elisabeth Sylvan <notifications@github.com
wrote:

[2018-12-15 02:38] kevinzluo commented on #4242
Hi @okonek . Please take a look at my comment here:https://github.com/publiclab/plots2/pull/4228#issuecomment-446430051

[2018-12-15 02:57] SidharthBansal opened #4311 "Optional Image while SignUp"
@jywarren we have sidebar to add image at /profile/edit but we don't have any image upload option at the /signup.
Can we have an optional image upload in the signup?

[2018-12-15 03:00] SidharthBansal commented on #4132
#4303 is related to this.

[2018-12-15 04:16] jywarren commented on #4311
Hmm maybe there's an issue with not having a uid to assign yet? We could
have it be a prompt immediately after creating an account, maybe?

On Fri, Dec 14, 2018, 9:57 PM Sidharth Bansal <notifications@github.com
wrote:

[2018-12-15 04:52] IshaGupta18 commented on #4259
Okay @okonek I'll start working on it then @SidharthBansal

[2018-12-15 08:33] rexagod commented on #4304
Hey I think I can fix this. Can I work on it?

[2018-12-15 08:40] SidharthBansal commented on #4304
Yeah sure

[2018-12-15 09:08] IshaGupta18 commented on #4259
I have made a pull request for this issue, #4312 is the link to the PR. I am waiting for approval. I hope everything works out. Thank you all very much!

[2018-12-15 10:36] IshaGupta18 commented on #4259
I have closed this pull request. I will make a fresh one, once I have it all resolved. I sincerely apologise for all the trouble I may have caused. Thank you all!

[2018-12-15 10:40] SidharthBansal commented on #4259
No problem
You can work on this pull request.
Just push in the changes which resolves the travis cases.

On Sat, Dec 15, 2018, 4:06 PM IshaGupta18 <notifications@github.com wrote:

[2018-12-15 10:56] gauravano commented on #4188
Hi @SidharthBansal is this issue still required?

[2018-12-15 11:03] SidharthBansal commented on #4188
I resolved this issue.
But I opened it again so that someone can check it.
When I checked with Oorjit, Jonathan, Kevin and Okonek everything was
working fine.
Can you now check the behaviour?
Also, the integrated signup and login modal may face this issue. So, we can
close this one after Jonathan's PR is merged.

On Sat, Dec 15, 2018, 4:26 PM Gaurav Sachdeva <notifications@github.com
wrote:

[2018-12-15 11:10] gauravano commented on #3331
Hi @dinaelhanan I have updated the issue checklist only 2 parts are remaining. Thanks to @ValentinaTironi for her great work in solving all the tasks.

Last 2 parts are remaining, you are welcome to complete those. Also, feel free to mention me if you need any clarification or help. Thanks :smiley: !

[2018-12-15 11:17] gauravano commented on #4304
@rexagod you can proceed and yes, you can use the suggestion given by @sashadev-sky about limiting the char length. Thanks @sashadev-sky !

[2018-12-15 11:40] gauravano commented on #4303
Hi @SidharthBansal I converted it to FTO, I hope this issue isn't a priority. Thanks!

[2018-12-15 11:43] SidharthBansal commented on #4303
Please link the fto number here.
Thanks

On Sat, Dec 15, 2018, 5:10 PM Gaurav Sachdeva <notifications@github.com
wrote:

[2018-12-15 11:49] gauravano commented on #4291
Hi @kevinzluo would you like to solve this issue? here's the entry point where mail is directed after pulling via mailman - https://github.com/publiclab/plots2/blob/master/app/models/comment.rb#L213-L226

let me know if you need any help. Also, @namangupta01 has implemented reply by mail feature, so you expect help from him.
Thanks!

[2018-12-15 13:57] eli6 commented on #4303
Hi, I am new to open source and I'd like to try this out! Is it available?

[2018-12-15 14:03] gauravano commented on #4303
Hi @eli6, Welcome to Open Source and Public Lab :smiley:. Yes, it's available to claim. Thanks!

[2018-12-15 14:21] eli6 commented on #4303
@gauravano Thanks! One question: is the " and a GIF showing the opening of modalon clicking the Login link" really part of the line to be added?

[2018-12-15 14:30] gauravano commented on #4303
No, that's not a part of the code. Actually, for minor frontend modifications, we ask contributors to attach a GIF of the modified part with their PR so that PR reviewing can be done fastly.

Clear now?

[2018-12-15 14:33] eli6 commented on #4303
Ok thanks 👍 Yes it's clear now! I just wanted to double check since it was code-formatted

[2018-12-15 14:34] gauravano commented on #4303
Oops, that's me. Edited!

[2018-12-15 14:53] oorjitchowdhary commented on #4303
Hi, I think I had added login modal for comments on /notes and I believe the /questions page uses the same comments file.. You can check at #4215..
Apologies if I'm wrong

[2018-12-15 14:55] oorjitchowdhary commented on #4301
I think #4274 could also be related here..

[2018-12-15 16:19] avsingh999 opened #4314 "improve pagination of dashboard page for mobile view"
when open https://publiclab.org/dashboard this page in mobile view then it's pagination not looking good.I think this page need to improve.
It look like this.
![pub2](https://user-images.githubusercontent.com/25536022/50045083-30d62f80-00b3-11e9-953a-52b0ecaa7b47.png)

Thank you : )

[2018-12-15 16:58] jywarren commented on #4314
Good idea! We use the will_paginate gem to do this; maybe there's a
configuration that could be changed?

On Sat, Dec 15, 2018, 11:20 AM Avkaran Singh <notifications@github.com
wrote:

[2018-12-15 17:44] SidharthBansal commented on #4303
Hi, I checked your changes at my localhost. We use same partial but here also we need to link it to the modal. This button was redirecting to the /login hence @gauravano and I made an issue collaboratively.

[2018-12-15 18:31] oorjitchowdhary commented on #4310
I had added the new list design with the profile pictures here in the search in #4130 .. I think the previous layout got overlapped on it and the code for it wasn't deleted.. But that is weird

[2018-12-15 18:36] gauravano commented on #4310
Hi @oorjitchowdhary thanks for the tip. I am checking the master. Thanks!

[2018-12-15 19:02] kevinzluo commented on #4291
Yeah I would love to solve this one. I am a bit busy right now so I won't be able to do it immediately. On the subject of reply by mail, could you check out my PR #4212 ? It is ready and implements reply by email for outlook.

[2018-12-15 19:11] gauravano commented on #4291
Hi @kevinzluo please take your time. Thanks!

Seeing PR #4212

[2018-12-15 19:30] gauravano commented on #4279
Hi @oorjitchowdhary are you talking about this message -

![error_rss](https://user-images.githubusercontent.com/20878070/50046711-bbc42380-00cd-11e9-8b6d-c939be838990.png)

If yes, then that's fine. Google Chrome doesn't support RSS, so if you view the same link in Firefox, you'll observe the change. Let me know if I am wrong.

Thanks!

[2018-12-15 19:51] Souravirus commented on #4307
Nice to see it solved @jywarren

[2018-12-15 20:43] dinaelhanan commented on #3331
@gauravano I would love to get started on the documentation! Is it targeted to the users? also where can I see this feature/the code that affects it? Thanks!

[2018-12-15 20:54] dinaelhanan commented on #4202
@ValentinaTironi @jywarren I agree. I like being able to use multiple ones to show how I feel about a comment ; )

[2018-12-15 20:56] gauravano commented on #3331
Hey @dinaelhanan, you have to make changes in this section - https://github.com/publiclab/plots2/blob/master/doc/DATA_MODEL.md#comments

What you have to do -

Notice the Node status part in this section - https://github.com/publiclab/plots2/blob/master/doc/DATA_MODEL.md#nodes

You have to copy that node status list and append the similar list to comment section but without status 5.

Why all this

[2018-12-15 20:59] dinaelhanan commented on #3331
@gauravano Oh so do I just let people know that those nodes are used for the comments and what they mean? Like a list of all statuses except 5, then say what they mean, and how they are related to the comments, right? thanks!

[2018-12-15 21:48] gauravano commented on #3331
First copy that node status part to comment section part. Then, node keyword would be replaced by comment. And, status =5 not needed there.

Status for Node are now same for comment in our Code base except status =5.

[2018-12-16 00:15] #3426 closed

[2018-12-16 00:18] jywarren commented on #3218
Indeed, this alternative mode of catching and filtering out replies does not seem to have worked, as you can still see the quotation text in this comment:

https://publiclab.org/questions/warren/10-26-2018/how-can-we-connect-a-pms5003-dust-sensor-to-an-arduino#a1252

We'd love help catching this type of reply!

[2018-12-16 00:35] jywarren commented on #4310
We should be able to solve it with some changes to the bootstrap column classes, i think?

[2018-12-16 00:48] jywarren opened #4317 "Move statistics methods out of user.rb into a model/concern file, add unit tests"
Hi @cesswairimu this is just a suggestion but we have a range of different statistics related methods in user.rb like `weekly_note_tally` which really make the file super long. I was wondering if we might try to move them to a separate file somehow - maybe a concern, or some other type of sub-file, to help make the user.rb file more readable and short. What do you think of this idea?

[2018-12-16 03:48] dinaelhanan commented on #3331
@gauravano Ok I've made the changes however I'm not seeing status =5. Do you mean the status 4? I left that out just in case, since I'm guessing that's what you meant.

[2018-12-16 12:41] rexagod commented on #4304
@publiclab/reviewers Check out #4316.

[2018-12-16 13:16] cesswairimu commented on #4317
I love the idea will add it to the milestone. Thanks.

[2018-12-16 13:40] SidharthBansal commented on #4154
May have conflicts due to #4209. We need to resolve them once it gets merged.

Unlike upon logging in a user does not work @okonek please see to it once #4209 is merged.

[2018-12-16 13:41] SidharthBansal commented on #4230
May have conflicts due to #4209. We need to resolve them once it gets merged.
--

[2018-12-16 14:49] jywarren commented on #4317
🎉

On Sun, Dec 16, 2018, 8:17 AM Cess <notifications@github.com wrote:

[2018-12-16 15:17] #4303 closed

[2018-12-16 15:31] SidharthBansal opened #4320 "Create Sign Up modal partial"
In reference to https://github.com/publiclab/plots2/pull/4209/files#r241984825, let's create a partial and move things to have DRY principle and induce modularity  into the code.

[2018-12-16 15:42] SidharthBansal opened #4321 "Integration Tests for Spam Away"
see https://github.com/publiclab/plots2/pull/4209#issuecomment-447652453 and https://github.com/publiclab/plots2/pull/4209#issuecomment-447645413 for reference.

We need some tests to ensure that the spam away works fine on the localhost.
Let's build it @jywarren.
Refer #4209.

[2018-12-16 15:45] SidharthBansal commented on #4321
Refer #3990 for the implemented work.
Spam away is only for the development mode as the reCatcha does not work on the locahost.

[2018-12-16 15:46] gauravano commented on #4321
User has option to switch to spamaway in production too?

[2018-12-16 15:48] SidharthBansal commented on #4321
No, just for the production, Jeff created Spam Away I guess.
ReCatcha does not work at the development mode.

[2018-12-16 15:49] gauravano commented on #4321
Yes, I am aware that recaptcha doesn't work in development and also not on `unstable`.

[2018-12-16 15:51] SidharthBansal commented on #4321
I was not aware of the fact that it does not work on unstable. Thanks @Gaurav
Sachdeva <sachdeva.gaurav1997@gmail.com> .It solved #4209's some subissue.

On Sun, Dec 16, 2018 at 9:19 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-12-16 15:55] gauravano commented on #4321
Hey @SidharthBansal it wasn't working before on `unstable` but I just tested signup via modal on `unstable` and identify the items check is coming. So working!

[2018-12-16 15:57] SidharthBansal commented on #4321
Yeah, Jeff made some changes and now it is working. Thanks for your help.

On Sun, Dec 16, 2018 at 9:25 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-12-16 16:14] SidharthBansal opened #4322 "Feature code under Sign Up Modal"
As per the gitter chat,
@jywarren asked

 It'd be a pretty easy addition, the feature code is one line.

Let's turn this into a first timers only issue @gauravano @jywarren !!!

[2018-12-16 16:17] gauravano commented on #4322
This issue will be proceeded once the feature is created by one of the admins. @jywarren whenever you would be done with the feature please add the name of feature below and we will turn it into FTO. Thanks!

[2018-12-16 17:08] #4286 closed

[2018-12-16 18:03] SidharthBansal opened #4323 "ReCatcha does not work on unstable"
ReCatcha fails on the unstable branch. We need to set it up properly on it.
@jywarren even the test ReCatcha is not working at unstable. Spam Away is working fine.

[2018-12-16 18:06] SidharthBansal opened #4324 "Redirect to the unstable on login modal form submission"
Let's change these lines
https://github.com/publiclab/plots2/pull/4209/files/9b02c952b9f5db09e58028ed87c3984604ee13e2#diff-c4d4e4f71ae435a1c44fc26394df396e
so that we get redirected to the unstable instead of pl.org.
@kevinzluo @gauravano are you willing to create an fto for this one? or @kevinzluo are you going to send a pr for this one?

[2018-12-16 18:08] cesswairimu commented on #4310
Oh, I think @oorjitchowdhary and I did changes to the profile search results simultaneously. I added the user-tag search results #3911  and he altered how the `search by username and  bio` were being displayed. I still cannot get results to display for search by username and bio locally so I can replicate the bug. Any idea how I can get the profiles to return results? I would love to fix this.

[2018-12-16 19:36] #4184 closed

[2018-12-16 19:51] SidharthBansal commented on #4268
@kevinzluo may be you will be willing to work on this?
As it is related to your pr #3984

[2018-12-16 19:52] SidharthBansal commented on #4250
@kevinzluo may be you will be willing to work on this?
As it is related to your pr #3984
@oorjitchowdhary is unavailable for this month as he is having his exams. So you may take this up.

[2018-12-16 23:15] kevinzluo commented on #4250
I have my exams next week but I would love to work on it as soon as possible!

[2018-12-17 05:41] SidharthBansal commented on #3931
#4296 in progress. Right now focusing on the login project. So, can't focus much in subscriptions. Sorry. Will catch up here in a while @jywarren

[2018-12-17 05:43] SidharthBansal commented on #4283
I am making some changes in the PR #4296. These will be generic changes so that we will be able to use it throughout the website.
Initial steps will be slow but later on we will catch up them in short period of time.

[2018-12-17 05:47] SidharthBansal commented on #4188
@gauravano I think we can check this and close this.
I did the changes in the PR. Please check them so that we can close this up.
Thanks

[2018-12-17 05:47] SidharthBansal commented on #4207
@gauravano I think we can check this and close this.
I did the changes in the PR. Please check them so that we can close this up.
Thanks

[2018-12-17 05:53] SidharthBansal commented on #4324
@kevinzluo is busy with exams. @gauravano are you willing to create a fto for this?

[2018-12-17 05:54] SidharthBansal commented on #4324
Please delete trivial comments etc to avoid confusion.

[2018-12-17 05:57] SidharthBansal commented on #4320
@gauravano can we make a fto for this?

[2018-12-17 12:50] gauravano opened #4327 "Weekly Community Check-In #1"
Hi everybody :smiley: !

We all at Public Lab :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. Let's start a Community Check-In from this week onwards, where every community member would share something about their wo

[2018-12-17 12:56] SidharthBansal commented on #4327
Hi everyone,
I am tackling two projects this winter. They are login flow and
subscriptions flow project.

Regarding the December Project Progress
*Regarding Login flow Project*

   - Return_to anamoly solved
   - Modal integration to all the web pages across the web page is a much
   more immense challenge then we thought earlier.
   - It has opened a lot of issues(84 issues and PRs).
   - You can

[2018-12-17 13:40] sagarpreet-chadha commented on #4327
Hi everyone 😄 !

So i will be working on these issues in the coming weeks 🎈 :

* Writing perfect documentation for integration of LEL .
* Integrating new LEL features with plots2 and mapknitter .
* Refreshing maps from API calls when panning/zooming/geolocating
* Fixing nearby tag maps (I just opened an issue... These keep breaking so I think we need a test for them)
* Getting leaflet blurred loca

[2018-12-17 15:06] jywarren commented on #4320
I think there's a few more things we could move out of the header partial,
as it's quite long now. Is that this issue? Thanks!

On Mon, Dec 17, 2018, 9:28 AM Gaurav Sachdeva <notifications@github.com
wrote:

[2018-12-17 16:01] SidharthBansal commented on #4320
I created the issue so that we will not forget these things.
There are so many interrelated things and I don't want that we will miss
out something due to workload.

Yeah, I created some similar issues so that the length of files can be
reduced.

On Mon, Dec 17, 2018, 8:36 PM Jeffrey Warren <notifications@github.com
wrote:

[2018-12-17 16:04] SidharthBansal commented on #4320
partial,
as it's quite long now. Is that this issue?

No. It is different. Please see
https://github.com/publiclab/plots2/pull/4209/files#r241984825.

On Mon, Dec 17, 2018, 9:31 PM Sidharth Bansal <bansal.sidharth2996@gmail.com
wrote:

[2018-12-17 16:05] jywarren commented on #3931
Great!!!

On Mon, Dec 17, 2018, 12:42 AM Sidharth Bansal <notifications@github.com
wrote:

[2018-12-17 16:07] SidharthBansal commented on #3931
Any changes here in the approach @jywarren??

On Mon, Dec 17, 2018, 9:35 PM Jeffrey Warren <notifications@github.com
wrote:

[2018-12-17 16:31] gauravano commented on #4188
return_to get embedded to url on signup but due to captcha failure user switch to spamaway verification return_to get out of context as user has to click another link.

As publiclab.org do support recaptcha so the issue is not coming there, so I think we can close this. Thanks!

[2018-12-17 16:32] gauravano commented on #4188
@SidharthBansal

[2018-12-17 16:37] SidharthBansal commented on #4188
@gauravano this is login return to not signup.

On Mon, Dec 17, 2018, 10:02 PM Gaurav Sachdeva <notifications@github.com
wrote:

[2018-12-17 16:38] SidharthBansal commented on #4188
Please see to it again.
Thanks

[2018-12-17 16:43] steviepubliclab opened #4328 "Can't like or give barnstars to posts"
Hi!
I wasn't able to like this post or award it a barnstar. https://publiclab.org/notes/a1ahna/12-12-2018/terrain-surveying-with-emery-boards

Seems like a bug? I'm using chrome.

Best,
Stevie

[2018-12-17 16:48] Rishabh570 commented on #4327
Hi everyone :grinning:

I'm currently working on `community-toolbox` project, it includes

- Shifting and structuring the whole project to have MVC pattern (done almost for all contributors and repo contributors list, recent contributors part is remaining)
- Switching from localStorage to indexedDB ( halfway through it).
- Adding tests (teaspoon-mocha/jasmine needs to be decided)

I'll try to prod

[2018-12-17 16:58] SidharthBansal commented on #4327
Great Rishabh and Sagar

On Mon, Dec 17, 2018 at 10:18 PM Rishabh Rawat <notifications@github.com>
wrote:

[2018-12-17 18:03] gauravano opened #4329 "Editing a page as moderator not successful"
I tried to "Edit" a page and after clicking Yes on the alert. I was redirected to home with /return_to=login and  alert generated

![return_to_wrong](https://user-images.githubusercontent.com/20878070/50105899-17b8b480-0254-11e9-8a08-a0107d469ba3.png)

Looks like there is something wrong with the conditions.

[2018-12-17 18:12] gauravano commented on #4328
Hi @icarito @jywarren the issue stevie reported is somewhat related to email failure. I have checked both like and barnstar feature at localhost and no error found.

But, when I tried some cases where email notification is sent at action like commenting, etc. they are also failing. So, could you grab logs from production?

And, if required check that email service is up.

Thanks!

[2018-12-17 18:13] gauravano commented on #4329
@SidharthBansal return_to is conflicting in this case.

[2018-12-17 18:15] SidharthBansal commented on #4329
Please tell the steps which you have followed so that we can work upon this.

[2018-12-17 18:16] gauravano commented on #4328
Error while commenting:
https://publiclab.org/questions/gauravano/10-11-2018/test-question-don-t-mark-as-spam

![comment_fail](https://user-images.githubusercontent.com/20878070/50106478-eccf6000-0255-11e9-9fed-81a913d9e5c8.png)

[2018-12-17 18:19] gauravano commented on #4329
Go to any research page and try to edit it as moderator. You will get redirected to "login" page. And,  when a user try to access login page with session then alert is shown like "You have to logout to access this page". That alert is shown.

[2018-12-17 20:47] cesswairimu commented on #4327
Hey guys :hand:,

Last week I implemented statistics on questions vs answered and date-picker for selecting ranges on the stats page.
 I will doing some refactoring this week #4317 and #4147.
Also I will be investigating and implementing caching of data content on various pages on the website #4138 .
Thanks

[2018-12-18 00:48] dinaelhanan commented on #4327
Hi everyone!
Last week, I was quiet busy with final assessments. I'm currently planning on tying up some loose ends from GCI which is just 2 issues that have to do with linking login modals. I will be on break next week, and will have plenty of time to contribute to other issues. So for now, I haven't got anything planned. If there's any urgent issues that need testing or issues for the image-sequ

[2018-12-18 00:51] icarito commented on #4328
I've corrected the issue with a hotfix in production: The docker host IP is hardcoded in our Makefile and we use it to reach our exim mail transfer agent service. Docker has kept this address stable since deployment but it has changed for some reason with our last updates.
A definite solution would involve using the solution at https://stackoverflow.com/questions/22944631/how-to-get-the-ip-address

[2018-12-18 00:56] dinaelhanan commented on #4279
@jywarren is this it? https://github.com/publiclab/plots2/blob/a2c1723bcdeab32757a4e384c76ae4581845f630/test/functional/notes_controller_test.rb#L713

[2018-12-18 03:05] gauravano commented on #4328
Thanks @icarito for quick fix!

[2018-12-18 04:58] icarito commented on #4328
I've setup monitoring alerts in order to be alerted if this fails again.

[2018-12-18 06:31] IshaGupta18 commented on #4259
@SidharthBansal @gauravano #4331 is my pull request for this issue. I hope everything works out, please do check the file user_sessions_controller.rb for being completely sure that it's up to date and please let me know if there is anything else I can do. Thank you all so much for the help!

[2018-12-18 07:48] sagarpreet-chadha commented on #4279
Hi 😄 !

The above is the test for notes_controller : https://github.com/publiclab/plots2/blob/a2c1723bcdeab32757a4e384c76ae4581845f630/app/controllers/notes_controller.rb#L347

I guess you are looking for users feed (https://publiclab.org/feed/oorjit_chowdhary.rss) , which is tested here :

https://github.com/publiclab/plots2/blob/a2c1723bcdeab32757a4e384c76ae4581845f630/test/functional/users_cont

[2018-12-18 07:53] sagarpreet-chadha commented on #4279
Also i see our feed is not valid . We have to do minor changes .
We can see the changes we have to do using this validator : https://validator.w3.org/feed/check.cgi

If you paste the feed URL which is (https://publiclab.org/feed/oorjit_chowdhary.rss) , you will see 2 minor changes that we have to do while generating RSS feed .

The code that generates the RSS is here : https://github.com/publiclab

[2018-12-18 08:31] #4278 closed

[2018-12-18 12:35] #4259 closed

[2018-12-18 13:09] #4310 closed

[2018-12-18 13:39] sagarpreet-chadha commented on #4275
On it 😄 !

[2018-12-18 14:31] dinaelhanan commented on #4279
I'd be glad to take this on!

[2018-12-18 15:20] jywarren commented on #4275
fantastic!

On Tue, Dec 18, 2018 at 8:39 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-12-18 15:20] gauravano commented on #4279
Great!

Gaurav Sachdeva

On Tue 18 Dec, 2018, 8:01 PM d1g1t4ld1n4 <notifications@github.com wrote:

[2018-12-18 15:38] jywarren opened #4332 "Resolve MySQL connection bug as step towards reviving MySQL automated tests"
We have a long-term aim of broad database compatibility, and potentially running our tests on MySQL and SQLite as well as the default MariaDB. But we are having some issues getting tests to run on MySQL, as documented in a few issues:

* https://github.com/publiclab/plots2/pull/4277 is having trouble connecting to the database in MySQL 5.7
* #4277 also attempts to reproduce an error with grouping

[2018-12-18 15:39] sagarpreet-chadha commented on #4275
@milaaraujo

How do i pass the latitude and longitude parameters in URL ?

What is happenning now is that https://publiclab.org/api/srch/taglocations?query=43.00,-71.00&tag=infragram is not giving any result BUT https://publiclab.org/api/srch/taglocations?query=43.0,-71.0&tag=infragram is .

I see that in the code you are truncating to 2 decimal positions .

[2018-12-18 15:42] jywarren commented on #1215
This was completed!!! Closing - thanks!

[2018-12-18 15:42] #1215 closed

[2018-12-18 15:52] jywarren commented on #4327
Hi, everyone! Love to see our Check-ins coming back. I'm traveling a lot this week but got to meet @icarito in person for the first time (amazing)!

I have been totally amazed at the cooperation we're seeing this past week. I know people have been putting a lot of energy into GCI and it's really great to see how this experience has given us new insights and strengths as we build cooperation in our

[2018-12-18 15:57] jywarren commented on #3931
One small addition maybe -- we could have a simple text link at the bottom of all tag lists, like:

`balloon-mapping` `kite-mapping` `water-quality` [Follow all topics]()

that would prompt subscription but with the `return_to` of the multiple tag subscription URL; that would be perhaps the simplest UI for the above, and a good basic example, before making all the check-boxes. Then we can move on

[2018-12-18 16:04] SidharthBansal commented on #3931
I am trying my level best giving 8-9 hours daily. We will need an extension for sure. I don't want I will do things in a hurry. I want to make the system such that maintenance will be least as in case of OAuth and Modals.
I will try to again increase to 12-14 hrs a day if possible.

[2018-12-18 16:11] #4245 closed

[2018-12-18 16:22] jywarren commented on #4323
@gauravano @SidharthBansal @kevinzluo -- would you mind collecting together information about this? Are we confident that it works in https://stable.publiclab.org now that it's been merged, and will work on production when published?

I'd check it now but stable is rebuilding as there was recently a merge to master branch. Thank you!!!

[2018-12-18 16:35] SidharthBansal commented on #4323
Nothing has been changed in the reCaptcha in any PR. So, the changes merged
are irrespective of this issue.

Let us check stable once it gets build.

On Tue, Dec 18, 2018, 9:52 PM Jeffrey Warren <notifications@github.com
wrote:

[2018-12-18 16:46] SidharthBansal commented on #4323
On the mobile there is no reCaptcha so I am unable to check in the mobile.
Spamaway is working fine. I will check it on the laptop next.

On Tue, Dec 18, 2018, 10:04 PM Sidharth Bansal <
bansal.sidharth2996@gmail.com wrote:

[2018-12-18 18:24] SidharthBansal commented on #3798
Thanks @Radhikadua123

[2018-12-18 18:30] SidharthBansal commented on #4323
Similarly on the stable.publiclab.org
![image](https://user-images.githubusercontent.com/20972099/50174611-a430a900-0320-11e9-80ba-8172b4dbc924.png)
So, I think we can't check the reCatcha on anything apart from production. On production branch, the reCatcha is currently working properly. ReCatcha code has not been altered so I guess the ReCatcha will still work after pushing changes merged from t

[2018-12-18 18:31] SidharthBansal commented on #4323
for both modal and signup page
![image](https://user-images.githubusercontent.com/20972099/50174827-3638b180-0321-11e9-9bee-455e543fa060.png)

[2018-12-18 18:41] milaaraujo commented on #4275
I think the problem is [here](https://github.com/publiclab/plots2/blob/master/app/services/search_service.rb#L93-L94):
[code]
But this part of the code is from @jywarren! He already explained it to me but I already forgot what is happening there...

[2018-12-19 04:36] kevinzluo commented on #4324
I have a few more exams left, but I have submitted #4334  👍 .

[2018-12-19 05:32] milaaraujo commented on #4183
Hey @jywarren, after we're done with #4292 we will have the new fields (lat/lon/precision) added to the node table. In addition, the existing values in the tags (lon/lat) will be migrated to these new fields.

Then, I think the next step would be to change the code to save lat/lon to the new fields, right? Right now, wherein the code do we get the node location and save as tags?

[2018-12-19 07:16] SidharthBansal commented on #4324
Thanks for the PR.
I have approved it.
You can always take your time. Best of luck for your exams. In case you
need any assistance you can ask from us.

On Wed, Dec 19, 2018, 10:06 AM kevinzluo <notifications@github.com wrote:

[2018-12-19 08:19] SidharthBansal commented on #4329
This error is not related to any login or sign up modals first of all.

Can you please hard refresh and try this again?

[2018-12-19 11:56] gauravano commented on #4329
![edit_bug](https://user-images.githubusercontent.com/20878070/50218476-19988a00-03b2-11e9-8fc0-3b74848f5838.gif)

I will see the code.

[2018-12-19 12:01] #4273 closed

[2018-12-19 12:37] gauravano commented on #4324
All the best @kevinzluo!

[2018-12-19 14:33] oorjitchowdhary commented on #4322
Can you point out the exact line that needs to be added.. I'll make it into a `first-timers-only` issue

[2018-12-19 14:39] oorjitchowdhary commented on #4281
The same behaviour is there with unstable

[2018-12-19 15:00] SidharthBansal opened #4335 "Link Login modal to blog tag page"
We have a button to follow and unfollow on the tag/blog. We need to link it to the login modal if the person is not logged in.

[2018-12-19 15:08] sashadev-sky commented on #4327
Hi all!

This week I will be working on collaborating with other members of the community to open up issues on refactoring current code to make it less verbose.

Thank you!

[2018-12-19 15:17] SidharthBansal opened #4336 "Enhance Project Section of the plots2 repo"
@gauravano @jywarren I think we should take an initiative to enhance the project section. Project sections seems outdated to me. It has not changed much from 2017. We have introduced many things for supporting the community and also decrease many barriers to newcomers.
Let's brainstorm on it.

[2018-12-19 15:22] SidharthBansal opened #4337 "Enhance Wiki Section of plots2 repo"
@jywarren @gauravano I read through the wiki section. I think we should also enhance that.
I changed the name of ``Google Code In Tasks`` to supportive tasks so that it can be generic and can be used at multiple places like GSoC, RGSoC, Outreachy and GCI.
What other ideas you guys have?

[2018-12-19 15:38] jywarren commented on #4183
Hi, Camila. Currently lat long are entered through the location tag
interface which is initiated with the map marker icon button in the tagging
interface. So, perhaps upon doing node.add_tag(), we could intercept and
store true node location. But we would have to do this retroactively as
well, for existing tags - this could be done in a migration too.

Also, once location tags are deleted we shoul

[2018-12-19 16:14] ebarry commented on #4327
Hi all! This week in code-related tasks i'm working on identifying a UI coordinator to run about 10 user research interviews in January, and working with @steviepubliclab to edit the call for interviewees: "are you dealing with environmental problems and have never used the Public Lab website? Please let us watch and listen as you navigate through Public Lab!"

Thanks Guarav for the help on the `r

[2018-12-19 16:17] cesswairimu commented on #4327
Thanks @ebarry, the idea of a planning issue sounds great I will create a planning issue for it later today.

[2018-12-19 16:19] SidharthBansal commented on #4327
You can create check boxes in the planning issue.
Please tick the checkboxes which you have achieved.
Nice idea Liz.

On Wed, Dec 19, 2018, 9:47 PM Cess <notifications@github.com wrote:

[2018-12-19 16:22] gauravano commented on #4327
How about using #3498 as planning issue, it already has checklist of tasks?

[2018-12-19 16:57] SidharthBansal commented on #3931
`balloon-mapping` `kite-mapping` `water-quality` `Follow all topics`
that would prompt subscription but with the return_to of the multiple tag subscription URL; that would be perhaps the simplest UI for the above, and a good basic example, before making all the check-boxes. Then we can move on to more complex UIs like the popover, or the one driven from local tracking. How does that sound, to star

[2018-12-19 17:06] sashadev-sky opened #4339 "Refactoring profile.html.erb code pt. 3"
## The problem

Our code in `app/views/users/profile.html.erb` is very verbose... we could use some refactoring

We can start by refactoring out a reoccuring line from the code. For now, the 1st line of:

https://github.com/publiclab/plots2/blob/1931439c0c799b3e3420a9dcaace7a54cf895bd4/app/views/users/profile.html.erb#L237-L242

## Solution

What to change it to:

**Code that we want to refactor a

[2018-12-19 17:12] ebarry commented on #4327
yes, this is a great idea. We can reorganize the initial issue posting which Jeff created (It looks like you can edit that, right?). Let's try not to delete the "stretch goals" even if they will not be part of your work plan <3

[2018-12-19 17:17] SidharthBansal commented on #3931
Is there any similar route implemented in the repo so that I can look upon? I am doing these query parameters in the routes for the first time.

[2018-12-19 18:22] oorjitchowdhary commented on #4339
@sashadev-sky I don't think this should be a `first-timers-only` issue... First timers issues are meant to welcome people and get them familiar with the code base... Sorry if I'm wrong

[2018-12-19 18:35] #3679 closed

[2018-12-19 18:39] sashadev-sky commented on #4339
@oorjitchowdhary I have been getting mixed reviews so I will wait for @jywarren @gauravano to review. I can rewrite it based on the tags they add!

But I partially agree with you it's on the fence. Maybe I can make it even simpler

[2018-12-19 18:58] SidharthBansal commented on #4339
@sashadev-sky this is properly formatted but I am afraid whether a newcomer can deal with such huge PR or not. We want the first experience with Public Lab will be friendly and very less time-consuming. Collaborators should not be dishearted with any errors or bugs they would get in the PR. I agree with @oorjitchowdhary.
Thanks @sashadev-sky for your hard work. We really appreciate it. Please try

[2018-12-19 19:00] SidharthBansal commented on #4339
@sashadev-sky sorry for the trouble you have with this issue. Can you please remove the upper issue body containing the `first timers only` text?
Thanks

[2018-12-19 19:10] #4304 closed

[2018-12-19 19:11] sashadev-sky commented on #4339
done! @SidharthBansal @oorjitchowdhary
Should we delete our comments so that other users won't assume this issue has been taken?

[2018-12-19 19:18] gauravano commented on #4339
We can also divide this issue in 3 FTO's, corresponding to 3 blocks as explained by @sashadev-sky. What do you think @sashadev-sky, want to open 3 FTO's?

Nice work :balloon: :smiley: !

[2018-12-19 19:23] sashadev-sky commented on #4339
@gauravano Sure! What if I leave the first one that has the extra conditional as a help wanted, and make the two simpler ones FTOs?

[2018-12-19 19:28] sashadev-sky opened #4341 "Refactoring profile.html.erb code pt.1"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2018-12-19 19:32] sashadev-sky opened #4342 "Refactoring profile.html.erb code pt.2"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2018-12-19 19:44] gauravano commented on #4339
Yes, sounds good!

[2018-12-19 19:46] gauravano commented on #4339
Also, both FTO's would depend on 1st block, so I think either we can wait for someone to claim this one or we could add a function ourselves. Thoughs?

[2018-12-19 19:49] sashadev-sky commented on #4339
@gauravano you are very right. I can just solve this one myself right now, then rewrite the other two.

[2018-12-19 19:50] gauravano commented on #4339
Looking for your PR :smiley:

[2018-12-19 20:38] SidharthBansal commented on #3931
`Follow Post` route implemented in #4340. I used strings instead of queries. This solution also gives same output. Please review it. Thanks

[2018-12-19 21:02] SidharthBansal commented on #3932
@jywarren even though I have completed this issue half in the PR. But I have a suggestion. This suggestion might result in closing of this issue.
![image](https://user-images.githubusercontent.com/20972099/50247860-1a0b4200-03ff-11e9-8598-c5cb295e0e0f.png)
![image](https://user-images.githubusercontent.com/20972099/50247878-242d4080-03ff-11e9-89ff-bf2841825dbd.png)

When you compare the two images

[2018-12-19 23:36] sashadev-sky commented on #4339
@gauravano just making sure you saw the PR #4343 I tagged you in

[2018-12-20 04:00] gauravano commented on #4339
Sorry, i am away from lappy right now. I would review in some hours.

Gaurav Sachdeva

On Thu 20 Dec, 2018, 5:06 AM Sasha Boginsky <notifications@github.com wrote:

[2018-12-20 04:46] milaaraujo commented on #4183
-> Is it happening here (https://github.com/publiclab/plots2/blob/master/app/controllers/map_controller.rb#L158-L159), right? Here are we adding just the the node tags? Or the user tags as well?

-> This is already done here: #4292! :)

node tags.

-> We have some methods using the node tags, first we need to update all these methods... Then we can delete the node tags.

[2018-12-20 06:53] IshaGupta18 commented on #4244
Hey @kevinzluo @SidharthBansal can anyone tell me where is the css file for making it responsive? I think I have some idea on how to fix this, but I would be needing the css file for that. Thanks a lot.

[2018-12-20 07:04] SidharthBansal commented on #4244
Hi I think @kevinzluo has fixed the issue.
Let's ask him first. If the issue is solved then we can close this issue.
Thanks all

[2018-12-20 07:06] sagarpreet-chadha commented on #4327
Posted a note explaining new features in LEL 😄 :

https://publiclab.org/notes/sagarpreet/12-20-2018/new-features-in-leaflet-environmental-layers?_=1545288995

Kindly take a look 🙈  ! Thank you 🎄 ☃️ !

[2018-12-20 08:02] SidharthBansal opened #4344 "Subscription button"
Creation of subscription button for compact UI.
Change
![image](https://user-images.githubusercontent.com/20972099/50271733-97fd3680-045b-11e9-832c-584a58469e09.png)
to something similar to
![image](https://user-images.githubusercontent.com/20972099/50271653-5ff5f380-045b-11e9-88e1-323691fa5723.png)
No need of the checkboxes now. Just create a button which will show all the tags on clicking it.

[2018-12-20 08:15] SidharthBansal commented on #4164
@gauravano @jywarren is this functionality already made?
I could not find it.

[2018-12-20 08:16] SidharthBansal commented on #4344
This ``Subscribe>>`` needs to be a general purpose button. So, that we can use it at multiple places throughout the website.

[2018-12-20 08:31] IshaGupta18 commented on #4344
@SidharthBansal the button is like a dropdown right? On clicking on it, all the tags are displayed, or does it have some other functionality as well?

[2018-12-20 08:38] SidharthBansal commented on #4344
Correct.
On clicking the tags, user is redirected to /tag/tag_name web page.
Checkboxes needs to be implemented later on in the issue. Follow @author also needs to be implemented later on. We can skip checkboxes and follow other for now.
We are looking for some better phrases on the button or near it so that user has easy in understanding the functionality.
Later on, the checkboxes will be used to

[2018-12-20 08:46] SidharthBansal commented on #4210
Shifted to #4250

[2018-12-20 08:46] #4210 closed

[2018-12-20 08:50] IshaGupta18 commented on #4344
Okay, so can I give it a shot @SidharthBansal ?

[2018-12-20 08:53] SidharthBansal commented on #4335
![image](https://user-images.githubusercontent.com/20972099/50274234-bb77af80-0462-11e9-856c-0bb90031ce1d.png)
This is the Login button which @dinaelhanan you have fixed in your pr.

[2018-12-20 09:04] SidharthBansal commented on #4344
OK great. Go ahead!!!

On Thu, Dec 20, 2018 at 2:20 PM Isha Gupta <notifications@github.com> wrote:

[2018-12-20 09:06] SidharthBansal commented on #4344
The striking clever feature of this button is it prompts the user to know about different tags and also enables them to subscribe to them.
We need to build the button in such a manner both of these requirements are fulfilled. Maybe there will be changes in the button or on the text appearing there.

[2018-12-20 09:42] SidharthBansal commented on #4344
No need to leave spaces now.

On Thu, Dec 20, 2018, 2:52 PM Isha Gupta <notifications@github.com wrote:

[2018-12-20 09:43] IshaGupta18 commented on #4344
Okay!

[2018-12-20 10:30] #4170 closed

[2018-12-20 10:30] SidharthBansal commented on #4170
On investigating it, I found that Join Now links to a static page pl.org/join.
We don't need to fix this.

[2018-12-20 13:41] dinaelhanan commented on #4221
was solved in #4246

[2018-12-20 13:41] #4221 closed

[2018-12-20 14:23] oorjitchowdhary commented on #4314
Could you explain me this issue?.. What is to be changed regarding the pagination bar?

[2018-12-20 14:31] SidharthBansal commented on #4335
Thanks

[2018-12-20 14:31] SidharthBansal commented on #4221
Thanks

[2018-12-20 15:42] SidharthBansal commented on #4344
PS: the little crosses are coming because the logged in user created those tags.

Crosses should remain as they were earlier. They are meant for tag deletion by creator of tag or admin or moderator.

[2018-12-20 15:43] SidharthBansal commented on #4344
I think we don't need this popover any more. Follow text can be shown on top of `Subscriptions` button.

[2018-12-20 15:44] SidharthBansal commented on #4344
PS: the little crosses are coming because the logged in user created those tags.

How about displaying the tags above the button?

[2018-12-20 15:46] SidharthBansal commented on #4344
Let us always display the tags, something like

tag1 tag2 ....
Subscribe>>

On clicking the subscription button we will be prompted with the tags to mark to follow?
Will that be great?
If you have any other idea then also we can brainstorm on it a little.
Thanks Isha

[2018-12-20 15:53] IshaGupta18 commented on #4344
yes they will remain as it is.

[2018-12-20 15:56] IshaGupta18 commented on #4344
but it would be different for each tag, we can remove it altogether or keep it as it is, because the information can vary for each tag

[2018-12-20 15:58] IshaGupta18 commented on #4344
We could do that, although wouldn't that be redundant? We could integrate the 2 functions or divide them up like you said

[2018-12-20 16:09] IshaGupta18 commented on #4344
Sure! That can be done!

[2018-12-20 16:16] IshaGupta18 commented on #4344
On clicking subscribe now, the tags will be displayed above the button:

![image](https://user-images.githubusercontent.com/40794215/50296510-ab7ec080-04a0-11e9-93c4-06bd73cfe58e.png)

[2018-12-20 16:30] kevinzluo commented on #4244
Actually I haven't tried solving this issue yet. @IshaGupta18 please go ahead 😄 . I don't really know where the CSS for the modal is contained.

[2018-12-20 17:12] SidharthBansal commented on #4344
but it would be different for each tag, we can remove it altogether or keep it as it is, because the information can vary for each tag

Please elaborate on this.

[2018-12-20 17:13] SidharthBansal commented on #4344
Yeah I know, what could be other way out? Any suggestions?

[2018-12-20 17:30] IshaGupta18 commented on #4344
Yes this what I was thinking, that's why I thought of leaving some space next to the tags. We can do this I think. So we keep the tags displayed, with checkboxes next to them, user can select whichever tags he wants and on clicking on subscribe, those tags get subscribed. And yes, we can remove that popover or the follow button from the popover. What do you think?

[2018-12-20 17:31] SidharthBansal commented on #4344
I think we should just remove the `Follow` button as it is redundant.

[2018-12-20 17:31] IshaGupta18 commented on #4344
Okay! What do you think about the rest?

[2018-12-20 17:36] SidharthBansal commented on #4344
We can create the checkboxes right now.
How about having some background so that tagnames and the Subscription is under one div having some background color like light grey.

[2018-12-20 17:42] IshaGupta18 commented on #4344
How does this look?
![image](https://user-images.githubusercontent.com/40794215/50301174-a45daf80-04ac-11e9-888c-cf83e50c75d3.png)

[2018-12-20 17:43] SidharthBansal commented on #4344
Checkboxes should be infront of the tags.

[2018-12-20 17:46] IshaGupta18 commented on #4344
Something like this?
![image](https://user-images.githubusercontent.com/40794215/50301427-51d0c300-04ad-11e9-98ae-36c60b0b4020.png)