[2016-11-30 16:43] jywarren opened #1034 "new node.can_tag(tagname, user) check in DrupalNode model"
## Problem

Both co-authorship (#761) and wiki locking (#397) features need a check in `node.add_tag(tagname, user)` to determine if the given user is allowed to make that kind of power tag -- now that we have some more powerful "power tags" -- https://publiclab.org/wiki/power-tags and both locking and co-authorship permissions will be tag-based.

## Solution

I propose a new method called `node.c

[2016-11-30 17:00] jywarren opened #1035 "New template for location entry form"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-11-30 17:06] jywarren commented on #1014
I believe there's an open PR in #1021 -- I think it's still in progress, but with @mridulnagpal's permission you could build on the commits there?

[2016-11-30 18:56] ebarry commented on #105
Closing this in favor of the Geographic Milestones project https://github.com/publiclab/plots2/milestone/7

[2016-11-30 18:56] #105 closed

[2016-11-30 19:04] jywarren opened #1036 "Add "This is part of a series about X" message to notes, via tagging"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2016-11-30 19:35] ananyo2012 commented on #105
Oh great work Liz! Creating the milestone will help organize things.
ᐧ

On Thu, Dec 1, 2016 at 12:26 AM, Liz Barry <notifications@github.com> wrote:

[2016-11-30 20:19] ebarry opened #1037 "Need to edit the Getting Started page"
### What happened just before the problem occurred

I tried to edit The Getting Started page that is linked to from our dropdown menu but couldn't find the edit button. I am trying to remove mention of "chapters"

### Relevant URLs

https://publiclab.org/getting-started

### PublicLab.org username

liz

[2016-11-30 20:19] jywarren commented on #962
Pinging @ebarry for a next-step suggestion here, and assigning. Thanks!

[2016-11-30 20:20] jywarren commented on #964
@ebarry - bumping this up for next steps, thank you!

[2016-11-30 20:21] jywarren commented on #991
@steviepubliclab and @ebarry - need some text suggestions (see "add a friendly message" above) to make a clear next step, thank you!

[2016-11-30 20:22] jywarren commented on #963
@ebarry - can you offer some input on prioritization here, so we can consider bumping this up or putting it on the back burner? Thanks! 🎈

[2016-11-30 20:22] steviepubliclab opened #1038 "URL for in text headers drops too low"
### What happened just before the problem occurred
When I use a URL to tag a place within a page for example, https://publiclab.org/wiki/frac-sand#Outline+of+Wiki+Documents  where the # brings me to a spot on the page I wanted to call out, the link brings my page to a place below the header, so you can't see the title. Is there anyway to make it scroll to the top of the header?

### Relevant URLs

[2016-11-30 20:23] jywarren commented on #1037
Hi, Liz - that page has the `style:fancy` [power tag](https://publiclab.org/wiki/power-tags) which hides the edit button under the `v` chevron toggle. Thanks!

![image](https://cloud.githubusercontent.com/assets/24359/20769697/ff9abc94-b710-11e6-89dd-19c376fe9829.png)

[2016-11-30 20:23] #1037 closed

[2016-11-30 20:25] jywarren commented on #1038
I believe we've seen this before and it may be screen size and/or browser dependent. Can you upload full-window screenshots to show what you're seeing? I see:

![screen shot 2016-11-30 at 3 24 55 pm](https://cloud.githubusercontent.com/assets/24359/20769773/451a57b6-b711-11e6-88b4-172df924ad39.png)
![screen shot 2016-11-30 at 3 25 00 pm](https://cloud.githubusercontent.com/assets/24359/20769774/45

[2016-11-30 20:27] steviepubliclab commented on #1038
Sure, I'm using google chrome and I see this:
![screen shot 2016-11-30 at 2 26 29 pm](https://cloud.githubusercontent.com/assets/7490478/20769832/1ef781ce-b709-11e6-9e5c-ccc3d12ddb40.png)

[2016-11-30 20:28] jywarren commented on #1038
did you enter the URL with the deep link initially, or did you press a link
higher on the same page?

On Wed, Nov 30, 2016 at 3:27 PM, steviepubliclab <notifications@github.com>
wrote:

[2016-11-30 20:33] steviepubliclab commented on #1038
I grabbed the URL from the link button on the header and used it to reference a place. This time it was for an email.
-Stevie

[2016-11-30 20:35] steviepubliclab commented on #991
Hi sure:

@ebarry how does this sound:

"This page shows a list of all Public Lab users and is sorted by those who
have posted most recently. Click the profile link to view the user's
posting activity.”

On Wed, Nov 30, 2016 at 2:21 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-11-30 20:40] jywarren commented on #996
This is fixed!

![image](https://cloud.githubusercontent.com/assets/24359/20770302/413e7e9a-b713-11e6-96da-5800b9fe0cfe.png)

[2016-11-30 20:40] #996 closed

[2016-11-30 20:45] jywarren commented on #991
@Pk13055- hi, this is ready to go now, we'd love to have your contribution if you're still interested, thanks!

[2016-11-30 21:09] jywarren commented on #1038
Yes, but was your screenshot from after using a link within the same page, or freshly pasting https://publiclab.org/wiki/frac-sand#Outline+of+Wiki+Documents into a new tab? Thank you!

[2016-11-30 21:12] jywarren commented on #1038
(I believe this is related to #156, which we believed was fixed in #367)

[2016-11-30 21:15] jywarren commented on #774
Hello @skilfullycurled -- this is an interesting proposal, and perhaps needs more discussion from organizers and/or developers. I think we could easily move forward on 4, but might also make a suggestion about the others -- that limits be per-person, and perhaps lifted if you're a moderator? What do you think?

[2016-11-30 21:15] jywarren commented on #984
I wanted to ask @ebarry if there is additional info on this, or a proposed "first step forward"? Thank you!

[2016-11-30 21:21] jywarren commented on #189
I'm not sure, but do you think that this would be a significant additional load on our server to assemble/parse the dynamic content vs. serve a static page for 50x/40x errors?

I'd like to propose breaking this in two --

1. replace all instances of chat with a 'click to open' version to avoid loading the `iframe`, as outlined in [Bryan's comment above](https://github.com/publiclab/plots2/issues/1

[2016-11-30 21:27] jywarren commented on #299
This has a clear path forward, and I'm marking it as `help-wanted` -- we can write a test for this similar to this: https://github.com/publiclab/plots2/blob/master/test/unit/drupal_node_revision_test.rb#L70-L73

Which would check that a `drupal_node_revision` with the following `revision.body`:

[code]

does not include a link, or something like:

[code]

[2016-11-30 21:28] jywarren commented on #313
Converted to a `first-timers-only` issue here: https://github.com/publiclab/plots2/issues/1036

[2016-11-30 21:28] #313 closed

[2016-11-30 21:31] jywarren commented on #427
Closing, as we've thoroughly revised our install process! Thanks!

[2016-11-30 21:31] #427 closed

[2016-11-30 21:51] jywarren opened #1039 "update tag page wiki excerpting to catch /barnraising as well as /wiki/title type pages"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2016-11-30 22:01] jywarren opened #1040 "incorrectly redirected to successful posting in new rich editor"
### What happened just before the problem occurred

I posted a new note at

https://publiclab.org/editor

It published fine: https://publiclab.org/notes/warren/11-30-2016/how-many-people-to-do-an-activity

However, I saw this:

![screenshot 2016-11-30 at 4 56 16 pm](https://cloud.githubusercontent.com/assets/24359/20773080/24b60184-b71e-11e6-9532-bb100441758f.png)

I believe this is because it did

[2016-11-30 23:27] cpdavngr commented on #793
Hi, just started working on this again (classes finally over). Is there a quick way to put some entries into the sample database to simulate the problem? Right now, I'm just creating a bunch of entries manually.  Let me know, thanks!

[2016-11-30 23:39] jywarren commented on #793
Cool! There are a number of examples that could be sourced from the fixtures here:

https://github.com/publiclab/plots2/blob/master/test/fixtures/node.yml

For example in this test: https://github.com/publiclab/plots2/blob/master/test/integration/node_insert_extras_test.rb

You could manually enter that or perhaps add to the seed data in:

https://github.com/publiclab/plots2/blob/master/db/seeds.r

[2016-12-01 02:42] ViditChopra723 commented on #1039
Hey can I take a crack at this?

[2016-12-01 03:18] jywarren commented on #1039
We'd love your help on this and are happy to offer any assistance you might need. Thanks a lot!

Just curious -- we're trying to improve our outreach to new contributors -- how did you happen to hear about us?

[2016-12-01 03:30] ViditChopra723 commented on #1039
Thank you very much! I actually was just looking through the first timers only tag after reading an article about it and decided to try my hand on this since it seemed simple. Here is the article https://medium.com/@kentcdodds/first-timers-only-78281ea47455#.yqtyizf89

If its alright I will read through your links and try to figure out what to do first, if I have any questions I will comment here.

[2016-12-01 03:59] shaduk commented on #1036
Hi. I would like to work on this one. This would be my first PR. Thanks for making it easy for first timers. I will setup the codebase on my laptop and let you know for any issues. Thanks again.

[2016-12-01 05:20] jywarren commented on #1036
We'd love your help on this and are happy to offer any assistance you might need. Thanks a lot!

Just curious -- we're trying to improve our outreach to new contributors -- how did you happen to hear about us?

[2016-12-01 05:23] shaduk commented on #1036
I received the link via @YourFirstPR on Twitter (https://twitter.com/yourfirstpr). I appreciate your help. Thank you.

[2016-12-01 07:14] ViditChopra723 commented on #1039
Hey I made a pull request, your link to the devolopers page didnt work however. I think I did it right, any feedback is appreciated.

[2016-12-01 08:40] ananyo2012 commented on #1039
@ViditChopra723 We are reviewing your work. Thanks for your work on this. And thanks for reporting about the developer page. @jywarren The developers page isn't showing up. Need to find the problem.

[2016-12-01 14:16] manish310794 commented on #1035
@jywarren I would like to tackle this one.

[2016-12-01 14:25] steviepubliclab commented on #1038
Oh I see what you're saying. Yep, looks like it works. Thanks!
Closing now

On Wed, Nov 30, 2016 at 3:12 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-12-01 14:25] #1038 closed

[2016-12-01 14:42] 500swapnil commented on #847
I would like to help with this issue

[2016-12-01 14:49] 500swapnil commented on #736
Hey I would like to help with this.

[2016-12-01 17:20] jywarren commented on #125
It looks like expressions will have to be enclosed in tags like:

[code]

Interesting!

[2016-12-01 17:22] ryzokuken commented on #125
One could write code that'd trigger such transformations in the rendering phase.

What I mean, is a function and/or library that parses the given text for LaTeX and transforms it into such html.

Seems like a great feature to work on, though.

[2016-12-01 17:34] jywarren commented on #125
BTW, the most common pages where this'd be used would be on wiki and notes "show.html.erb" pages:

https://github.com/publiclab/plots2/blob/master/app/views/notes/show.html.erb
https://github.com/publiclab/plots2/blob/master/app/views/wiki/show.html.erb

This other JavaScript lib by contrast: http://www.codecogs.com/latex/integration/htmlequations.php

accepts the format:

[code]

Which maybe we c

[2016-12-01 17:34] jywarren commented on #125
I'd strongly prefer a javascript solution to this Rails-based one: https://github.com/amagical-net/rails-latex, to reduce complexity of the server-side codebase. Thanks!

[2016-12-01 17:57] jywarren commented on #1039
Super, merged in #1043!

[2016-12-01 17:57] #1039 closed

[2016-12-01 17:59] jywarren commented on #1035
Great, please do! thank you!

[2016-12-01 18:00] jywarren commented on #847
Super, thanks!

[2016-12-01 18:06] jywarren commented on #736
That'd be great -- but perhaps one issue at a time? Thank you!

[2016-12-01 18:52] jywarren commented on #1028
https://github.com/publiclab/plots2/blob/master/app/controllers/tag_controller.rb#L217 shows all contributors for that tag, and we can use a phrase like:

For now, let's just keep this inside the wiki block, and only show it if there's a corresponding wiki page.

Contributor count will probably need to be calculated separately from how `@notes` is already generated, since `@notes` will be paginate

[2016-12-01 19:20] jywarren commented on #979
A pull request was submitted in #1041 and is under review, thanks!

[2016-12-01 19:20] jywarren commented on #991
A pull request was submitted in #1041 and is under review, thanks!

[2016-12-01 19:28] jywarren opened #1047 ""sort by topic" for https://publiclab.org/tools"
This is a design issue -- we need some interface design thinking -- using the UI components available in https://getbootstrap.com/ (which we use) for sorting the methods/tools we show at

https://publiclab.org/tools

As more tools are added, we'll need to be able to sort them by, for example:

* water
* air
* soil
* ...

what other categories, and how might this page organization work while still

[2016-12-01 19:56] ananyo2012 commented on #1012
Closed by #1042

[2016-12-01 19:56] #1012 closed

[2016-12-02 00:29] jywarren opened #1048 "Assorted help-file and template changes"
This is a collection (please add if you have more!) of small changes to various templates. This is a good candidate for several distinct first-timers-only issues.

@publiclab/reviewers -- input appreciated!

****

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-onl

[2016-12-02 04:44] skilfullycurled commented on #774
I think option four definitely makes sense as an initial intervention.  Giving "advice" may encourage enough self imposed refinements to make further changes unnecessary.

Based upon the initial feedback in the googlegroup, it seems like people are leveraging tags for different purposes.  As such, it's probably worth understanding what those are a bit more before making a formal design change so a

[2016-12-02 08:24] ananyo2012 commented on #193
Closed by #1049

[2016-12-02 08:24] #193 closed

[2016-12-02 10:24] 500swapnil commented on #847
#1051

[2016-12-02 10:54] pipix51 opened #1052 "GCI16 Task Modularising Readme"
I would like to change the readme of the plots2 repository by modularising it. I have broken up the current readme into several sections, such as API, Bugs and Support, and Installation. The wiki repository that I have changed is at https://github.com/pipix51/plots2/wiki. Please review the modularised readme.

[2016-12-02 13:46] ananyo2012 commented on #1052
Oh sorry @pipix51 but @EmilyOng has already claimed this task. Please claim the task first before you start working on it. Some tasks only have 1 instance count like this one. So it can be done by only one person at a time. You look at our other tasks labelled `publiclab` in the FOSSASIA task page. Be sure to claim the task first.

[2016-12-02 14:03] #979 closed

[2016-12-02 14:03] #991 closed

[2016-12-02 16:42] ebarry commented on #1047
thinking about how this categorization can converge with what environmental issues people are asking about in Q&A...

[2016-12-02 18:50] jywarren commented on #774
Hi, Ben - thanks -- so how about a new issue like "Display message when
many tags exist"

with message: 'These are a lot of tags! Learn about tagging'

and re: your search question, we don't have a "both tags" or "either tag"
search interface but I believe it'll be possible once we get the new search
system online. Those would both make  good individual issues which could be
broken up as well into

[2016-12-02 18:53] jywarren commented on #1047
Thanks -- I can see two ways:

1. compiling a list of topics (tagnames) that collect those kinds of issues, and/or a metric (e.g. # of questions) for collecting and displaying such a list
2. displaying question count alongside upgrade and activity count on a per-method basis, as shown in this screenshot:

![screen shot 2016-12-02 at 1 51 39 pm](https://cloud.githubusercontent.com/assets/24359/2084

[2016-12-02 19:36] jywarren commented on #125
This was just closed in #1045!! Amazing.

[2016-12-02 19:36] #125 closed

[2016-12-03 00:38] jywarren opened #1053 "Solve Solr search problem with timestamp-based node.created_at"
We are working on a big switch over to a Solr-based search service, and found that Solr is encountering an error with `node.created_at` and `node.updated_at` not being native methods in `DrupalNode`.

Currently `DrupalNode` uses old Drupal-based (legacy) integer columns to store timestamps for `created` and `changed` fields, which we then convert using Ruby Time methods into something that looks a

[2016-12-03 19:09] Pk13055 commented on #1048
I have submitted a PR regarding this issue.

[2016-12-03 21:54] #878 closed

[2016-12-04 10:39] ryzokuken commented on #1000
I'd like to do this, but I would need some help with it.

Firstly, we'd need to migrate all `report`s to `note`s. Our DB scheme has no report model. So what kind of model are reports using as of now?

[2016-12-04 10:45] ryzokuken commented on #977
@ananyo2012 could you give me the URL of the page on which it's happening?

[2016-12-04 12:58] ashleypt commented on #1034
@ashleypt @jywarren okay working on this one now :)

[2016-12-04 14:42] ashleypt commented on #1034
fixed https://github.com/publiclab/plots2/pull/1058

[2016-12-04 16:55] jywarren commented on #1000
reports are actually nodes with `type = 'report'` -- does that make sense?

On Sun, Dec 4, 2016 at 5:39 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2016-12-05 02:54] ryzokuken commented on #1000
So reports exist in the database as nodes and need to be migrated into notes. How have you thought of doing that? I'm thinking of maybe making a quick script do perform the action. You can test it in a mock environment and then later run it in production.

[2016-12-05 13:03] aayushgupta1 commented on #956
@jywarren If this is still open Iwould like to continue working on it. I had some work so I wasn't available. @ashleypt Thanks for your suggestions, I'll try and use them while implementing it.

[2016-12-05 14:24] #1048 closed

[2016-12-05 14:31] jywarren commented on #1000
So i think there are a few points here:

* [ ] we need to preserve original URLs so that we don't break legacy links
* [ ] we could migrate `reports` to `notes`, but would have to somehow preserve the original URLs
* [ ] but, since reports don't have dates, we could in theory just make it possible to access any note (via redirect to the correct URL) using the route: `https://publiclab.org/report/<

[2016-12-05 14:58] jywarren commented on #956
Yes please! I believe you'd made a good start to the DrupalNode conversion... again, if we could tackle one at a time, it's easier to troubleshoot and to be sure it runs cleanly. Thanks!

[2016-12-05 15:01] aayushgupta1 commented on #956
Okay I kind of have a very basic doubt. I made the changes from drupal_node to node. I downloaded the file and did the editing. Now how do I change it in github @jywarren @ashleypt

[2016-12-05 15:10] jywarren commented on #956
Hi, do you mean in your PR here: #972 ? If so, I think you can just open a new pull request, rather than change that one.

Perhaps this guide would help? https://publiclab.org/wiki/contributing-to-public-lab-software#A+sample+git+workflow

Thanks and we're happy to help if you run into trouble, don't be afraid to ask!

[2016-12-05 20:33] ebarry opened #1063 "add a powertag to write more explanatory titles for display in grids?"
## Problem

I am working on making a great method page (https://publiclab.org/tools) that i can show people as an example. For simplicity, i've been working on https://publiclab.org/wiki/coqui.

On that page, the activity grid (https://publiclab.org/notes/liz/08-30-2016/check-out-these-activity-grids) is working well:

![screen shot 2016-12-05 at 3 57 12 pm](https://cloud.githubusercontent.com/ass

[2016-12-06 02:59] devinbalkind commented on #260
I'm quite keen on seeing directories of "tools" made API accessible so we can more easily mash up data between repositories of tool information.

Besides FarmHack.org and PublicLab.org, I also deal with tool directories for the humanitarian space (ex. https://resiliencecolab.org/tools/) and nonprofit software (https://socialsourcecommons.org/tool/by_popularity). I also think the nice folks at draf

[2016-12-06 09:47] Pk13055 commented on #913
@jywarren How about moving it inline with the 'follow' button? I would be willing to take this issue up if we reach a close on the position..

[2016-12-06 09:49] Pk13055 commented on #843
@ryzokuken Are you still tackling this?

[2016-12-06 09:57] ryzokuken commented on #843
@Pk13055 No, please feel free to work on it. If you need any help, please feel free to ask here on Github or on our Github channel. Thanks.

[2016-12-06 12:17] jywarren commented on #913
I think that's reasonable, do you think you could try it and use chromes device simulator to check how it looks on narrower screens, and upload a screenshot of, say, an iPhone?

[2016-12-06 12:21] jywarren commented on #847
Fixed in https://github.com/publiclab/plots2/pull/1051 thanks!!

[2016-12-06 12:21] #847 closed

[2016-12-06 13:12] Pk13055 commented on #913
@jywarren Would there be any way to get a hold of the code for the admin tools? I can't view the 'edit','award star', etc options..

[2016-12-06 14:38] jywarren commented on #913
yes -- they're in
https://github.com/publiclab/plots2/blob/master/app/views/like/_like.html.erb
-- which should perhaps be renamed, something like `tools`? But that
doesn't have to be part of this issue.

On Tue, Dec 6, 2016 at 8:12 AM, Pratik Kamble <notifications@github.com>
wrote:

[2016-12-06 14:46] jywarren opened #1066 "RSS feeds show wrong image urls"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2016-12-06 14:50] jywarren commented on #260
Hi, we have various APIs, but I'm not sure if they're in a helpful format.
Perhaps we need one specific to wiki pages tagged with "tool"?

https://github.com/publiclab/plots2/wiki/API

On Mon, Dec 5, 2016 at 9:59 PM, Devin Balkind <notifications@github.com>
wrote:

[2016-12-06 14:54] jywarren commented on #260
We could open a new issue, suggesting porting this tag-based RSS feed over
for wiki results as well:

https://github.com/publiclab/plots2/blob/master/app/controllers/tag_controller.rb#L185-L207
https://github.com/publiclab/plots2/blob/master/app/views/tag/rss.rss.builder

And/or providing an XML/JSON endpoint for it too. I'm not that familiar
with Grape/Swagger, but if it's easy to provide such an

[2016-12-06 15:32] mridulnagpal commented on #1066
I would like to take this up

[2016-12-06 15:36] jywarren commented on #1066
Please, that'd be great!

On Tue, Dec 6, 2016 at 10:32 AM, Mridul Nagpal <notifications@github.com>
wrote:

[2016-12-06 15:40] mridulnagpal commented on #1066
I am having some trouble regarding the setup I did all the things in the ReadMe.md file but when I do pasenger start it sets up the server but the webpage looks like this what do I do?
![screenshot from 2016-12-06 21 10 03](https://cloud.githubusercontent.com/assets/22350740/20931811/6eae8782-bbf8-11e6-983d-9f88da61acf8.png)

[2016-12-06 15:43] jywarren commented on #1066
Ah - did you run `bower install`? And if not, is that missing from the
readme (we just revised it, so looking for any oversights we might've
made)? Thanks!

On Tue, Dec 6, 2016 at 10:40 AM, Mridul Nagpal <notifications@github.com>
wrote:

[2016-12-06 15:49] mridulnagpal commented on #1066
When I do bower install it shows another error
![screenshot from 2016-12-06 21 19 23](https://cloud.githubusercontent.com/assets/22350740/20932170/ada41ece-bbf9-11e6-9d34-bd567d7a32b3.png)

[2016-12-06 15:52] mridulnagpal commented on #1066
Through with that problem using sudo bower install --allow-root

[2016-12-06 15:52] jywarren commented on #1066
hmm... that's odd... maybe you need to flush your bower cache? Can you look
up at https://bower.io how to do this, as it seems your bower cache is not
accessible; maybe you'd done something in bower using sudo at some point?

On Tue, Dec 6, 2016 at 10:49 AM, Mridul Nagpal <notifications@github.com>
wrote:

[2016-12-06 15:52] jywarren commented on #1066
ah ok great! will check in later today again.

On Tue, Dec 6, 2016 at 10:52 AM, Mridul Nagpal <notifications@github.com>
wrote:

[2016-12-06 15:53] mridulnagpal commented on #1066
Sure and thanks alot it is set up now :)
Cheers

[2016-12-06 17:24] mridulnagpal commented on #928
@jywarren I would like to work on this issue

[2016-12-06 18:13] jywarren commented on #928
Sounds great, thank you!

On Tue, Dec 6, 2016 at 12:24 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2016-12-06 18:44] Pk13055 commented on #913
@jywarren Sorry to keep asking you, I'm pretty new to this; what about the main note-page? Where could I find it's .erb?  (PS - I think it'd work if I just moved the block into the btn-group, while checking `<% if current_user && (current_user.uid == node.uid || current_user.role == "moderator" || current_user.role == "admin") %>` )

[2016-12-06 18:46] devinbalkind commented on #260
A JSON endpoint to

would enable me to make some stone soup so, yes! How can I help?

[2016-12-06 19:27] jywarren commented on #260
I think we could start by modifying this `show` method in the tag
controller:

https://github.com/publiclab/plots2/blob/master/app/controllers/tag_controller.rb#L16-L51

This ought to be in a new issue, but please feel free to copy over, or ask
me and I can create one!

We could break out the response by format type, as is done on this line of
Spectral Workbench:

https://github.com/publiclab/spec

[2016-12-06 19:56] jywarren commented on #913
The main note page is at:

https://github.com/publiclab/plots2/blob/master/app/views/notes/show.html.erb

No problem! It's a big code base and we're happy to have your contribution.

If you can keep your code broken up onto multiple lines that'd be great for readability.

Thanks, and please open a pull request when you're ready so we can take a look!

[2016-12-06 19:56] jywarren commented on #913
https://publiclab.org/wiki/contributing-to-public-lab-software#A+sample+git+workflow

[2016-12-06 20:38] jywarren opened #1069 "JSON API for wiki pages"
Heard a request from @devinbalkind -- to access wiki pages.

I think we could start by modifying this `show` method in the tag
controller:

https://github.com/publiclab/plots2/blob/master/app/controllers/tag_controller.rb#L16-L51

This ought to be in a new issue, but please feel free to copy over, or ask
me and I can create one!

We could break out the response by format type, as is done on this l

[2016-12-06 20:42] jywarren commented on #260
Done in #1069

[2016-12-06 20:47] 500swapnil commented on #1069
Hi I would like to help with this one. How do I proceed?

[2016-12-06 21:13] shaduk commented on #1036
Hello jywarren. I am sorry, I have been busy with End Semester exams and Presentations. I can assure you that I will start working on it asap when I am done with everything next week. In the meantime if anyone wants to work on this issue please go ahead.
Thanks
Shad

[2016-12-06 22:07] jywarren opened #1070 "Major geographic feature planning issue"
We've had a wide variety of geographic features planned, built, attempted... this is the issue to organize them all! This is from a planning session with @ebarry and @steviepubliclab. Ask if you'd like to be involved!

Things listed here can/should be broken out into their own issues, and added to the Geography milestone: https://github.com/publiclab/plots2/milestone/7

## Add location to profile

[2016-12-06 22:11] jywarren commented on #104
I've moved a number of these into more articulated pieces in #1070. But this could be further broken up with regard to the non-geographic profile tagging. But that's lower-priority than #1070, which is quite long already.

[2016-12-06 22:13] neliojrr commented on #610
I would like to do it. =)

[2016-12-06 22:16] jywarren commented on #1069
I think we can just add the `respond_with` block I suggested, below. Make sense? Thanks!

[2016-12-06 22:17] jywarren commented on #610
We'd love your help on this. Thanks a lot!

[2016-12-06 22:22] jywarren commented on #1036
Oh, no worries, and thank you for checking in!

[2016-12-06 22:23] jywarren commented on #1035
Just a note -- this will be part of a series of small issues broken out of this big list: https://github.com/publiclab/plots2/issues/1070

[2016-12-06 22:32] 500swapnil commented on #1069
#1071

[2016-12-06 22:32] jywarren opened #1072 "Link for alphabetic display of wiki index"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2016-12-06 22:34] jywarren commented on #1069
wow, that was fast!

On Tue, Dec 6, 2016 at 5:32 PM, 500swapnil <notifications@github.com> wrote:

[2016-12-06 23:02] jywarren commented on #1069
This is now complete and merged in #1071 -- thank you very much, @devinbalkind and @500swapnil !

[2016-12-06 23:02] #1069 closed

[2016-12-06 23:02] jywarren commented on #1069
We may publish tonight or tomorrow.

[2016-12-06 23:04] 500swapnil commented on #1072
I will have a crack at this.

[2016-12-06 23:07] jywarren commented on #1072
Hi, this is a first-timers-only issue -- would you mind taking a look at
some of the issues available for folks who have made a first-timer
contribution already? You can find many at:

https://github.com/publiclab/plots2/labels/fto-candidate

And I'm happy to help you out on any of those!

Thanks!

On Tue, Dec 6, 2016 at 6:04 PM, 500swapnil <notifications@github.com> wrote:

[2016-12-06 23:07] 500swapnil commented on #1072
Okay I will have a look at those

[2016-12-07 00:08] jywarren commented on #1069
Online! I dropped some quick documentation onto this page: https://github.com/publiclab/plots2/wiki/API

[2016-12-07 04:57] mridulnagpal commented on #928
I did not get the issue completely could you tell me how do I proceed?

[2016-12-07 10:10] 500swapnil commented on #839
I would like to help with this issue

[2016-12-07 11:08] Pk13055 commented on #913
#1076 - Please review and tell me if something needs to be changed.

[2016-12-07 15:05] ebarry commented on #1070
Quick reading shows that the convention might be to use the lower left coordinate pair lat,lng to indicate a grid square. Any other thoughts on this?

[2016-12-07 16:27] jywarren commented on #1070
sounds good - can you edit the issue to reflect this? THanks!

On Wed, Dec 7, 2016 at 10:05 AM, Liz Barry <notifications@github.com> wrote:

[2016-12-07 16:49] jywarren commented on #913
Solved there! Thanks!!! 🎈

[2016-12-07 16:49] #913 closed

[2016-12-07 17:16] 500swapnil commented on #736
I'm done with the other issue. How do I proceed with this one?

[2016-12-07 17:21] jywarren commented on #839
I think we could add a similar `if` statement after line 4 of `show.html.erb` -- checking for `status:candidate`, and link people to this URL from the words "read about how to adapt its content":

https://publiclab.org/notes/warren/09-17-2016/what-makes-a-good-activity

[2016-12-07 17:30] jywarren commented on #736
This one is complex, but we should work bit by bit. Some of the above listed instances of `slug` can just be replaced pretty simply -- like:

`app/views/wiki/edit.html.erb:      <li><a href="/wiki/<%= wiki.slug %>"><i class="fa fa-book"></i> <%= wiki.title %></a></li>`

can just become:

`app/views/wiki/edit.html.erb:      <li><a href="<%= wiki.path %>"><i class="fa fa-book"></i> <%= wiki.title %>

[2016-12-07 18:04] ykl7 commented on #1014
Hi! I'm unable to get work done on this issue. If anyone else wants to, please go ahead and claim this to start with

[2016-12-07 19:23] 500swapnil commented on #839
#1078

[2016-12-07 19:31] #932 closed

[2016-12-07 19:40] jywarren commented on #932
:-) super rad!

On Wed, Dec 7, 2016 at 2:31 PM, ykl7 <notifications@github.com> wrote:

[2016-12-07 20:40] #839 closed

[2016-12-07 20:46] jywarren commented on #932
Do you think you'd be interested in this somewhat related issue? #931

[2016-12-07 20:47] jywarren commented on #754
Oh - or perhaps you'd like to re-start on this one? Thank you!

[2016-12-07 20:51] 500swapnil commented on #397
I would need your help with this. How do I begin?

[2016-12-07 20:53] 500swapnil commented on #754
Yeah I think I should finish this one first.

[2016-12-07 21:01] jywarren commented on #397
Basically as mentioned above, we need to add a conditional (if) check just after two lines in the wiki controller --

https://github.com/publiclab/plots2/blob/master/app/controllers/wiki_controller.rb#L74

and

https://github.com/publiclab/plots2/blob/master/app/controllers/wiki_controller.rb#L136

These will intercept requests to the `edit` page or the results of that page (when you click save on

[2016-12-07 21:08] jywarren commented on #1026
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2016-12-07 21:10] jywarren commented on #1040
@ashleypt - curious if you're interested in this one -- it's at the intersection of the JavaScript editor library and the main Rails application, and shows some of the challenges of interfacing complex projects. Give a shout if you want to take a crack at it!

[2016-12-07 21:18] 500swapnil commented on #754
#1081

[2016-12-08 00:14] ashleypt commented on #1040
@jywarren @ashleypt sure, I can take a look at it :)

[2016-12-08 00:14] ashleypt commented on #1040
oops I accidentally hit close and comment D:

[2016-12-08 00:53] ashleypt commented on #1040
I'll start off by console.logging the response object and the results of the condition in the erb. then I'll try passing in different json objects to see if I can replicate those errors

[2016-12-08 00:58] jywarren commented on #1047
Hi, @steviepubliclab -- is compiling a list of topics or categories which we could use to sort this page something you could help with, perhaps in conjunction with your interviewing offline folks? Or that you already have some data for? I think we could do between 3-8 categories.

[2016-12-08 00:59] jywarren commented on #1052
This is complete in #1056 -- thanks to @EmilyOng !

[2016-12-08 00:59] #1052 closed

[2016-12-08 01:11] jywarren commented on #984
There are 2186 completed maps on MapKnitter at the moment (exported), and we list 8,568 total. I don't think this is feasible to display on a single map, but we could zoom in pretty far, and show a smaller set -- and perhaps show the most recent 100 within the current view?

See how we allow listing of maps by region -- this one has about 125 in the NYC area: https://mapknitter.org/map/region/New-

[2016-12-08 01:13] jywarren commented on #373
Merging into #741.

[2016-12-08 01:13] #373 closed

[2016-12-08 01:18] jywarren commented on #1034
OK - that caused some havoc -- #1062 - but can_tag now exists -- some of the unit tests are still not working properly. But next steps are:

* finish unit test debugging
* adapt this to use the new `can_tag` method: https://github.com/publiclab/plots2/blob/master/app/controllers/tag_controller.rb#L114-L121
* add to list of permissions with co-authorship (#761) and wiki locking (#397) powertags

[2016-12-08 01:25] jywarren commented on #1040
great!

On Wed, Dec 7, 2016 at 7:53 PM, ashleypt <notifications@github.com> wrote:

[2016-12-08 01:43] jywarren commented on #297
Hi, @ananyo2012 -- was this made into a GCI task or shall I try that?

[2016-12-08 04:58] marcmoy commented on #1072
Hi @jywarren - I'm relatively new to coding and have not made an open source contribution to anything yet. Could I claim this issue and start working at it?

[2016-12-08 05:30] jywarren commented on #1072
Yes, we'd love your help on this and are happy to offer any assistance you might need. Thanks a lot!

Just curious -- we're trying to improve our outreach to new contributors -- how did you happen to hear about us?

[2016-12-08 09:43] Pk13055 commented on #920
@jywarren I took a look at the page on some mobile devices; the graph seems to render fine even on an iPhone 4 in portrait mode, however, the scaling isn't right in landscape, the y-axis key overlaps the graph data.
Also, by left sidebar, do you mean the extra margin-spacing that's been kept empty? I think pushing all the content to the left and making it more block-type would look cleaner.

Could

[2016-12-08 15:35] ananyo2012 commented on #297
Just catching up with things Jeff. Well respond to this soon.

[2016-12-08 16:54] Fastie commented on #873
The pattern I described previously is not universal. Previously I observed that neat URLs allowed the comments to be displayed, but this question breaks that pattern.

https://publiclab.org/questions/idev247/12-06-2016/ambient-light-bulb-testing

There are two answers to the question. The three comments on one answer can be displayed, but the five comments on the other answer cannot be displayed.

[2016-12-08 16:58] ananyo2012 commented on #873
Yeah its a bug caused due to to the anchor test in url. Please give me some time. I will have a look.

[2016-12-08 18:31] 500swapnil commented on #754
#1083 is the new PR

[2016-12-08 18:35] jywarren opened #1085 "Note page not loading"
### What happened just before the problem occurred

https://publiclab.org/notes/elainechoi89/8-6-2012/knitting-a-workspace

Both while logged in and out.

Needs investigation!

Looks like it now lives here:

https://publiclab.org/notes/elainechoi89/8-6-2012/knitting-workspace

The link was originally from here:

https://publiclab.org/notes/elainechoi89/7-5-2012/tyvekbamboo-kite-workshop-pfizer-bui

[2016-12-08 18:38] jywarren commented on #1085
Just edited the original page!

[2016-12-08 18:38] #1085 closed

[2016-12-08 18:50] jywarren opened #1086 "Add ?_=1234 to comment update action to clear browser cache when editing comments"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2016-12-08 19:13] 500swapnil commented on #754
so the tagname of the URL will be = DrupalTag.where(name: "activities:" + @node.power_tag('activity')).first.nodes.first.path
And how should the rest of the URL and if statements be?

[2016-12-08 20:44] wvward commented on #1026
Hi, Jeff-
I haven't been able to work on it as much this last week.  I have been
following the 15 minutes/week commitment too closely.  I'll check in soon &
update.

Thanks for checking on me,
Will

On Dec 7, 2016 3:08 PM, "Jeffrey Warren" <notifications@github.com> wrote:

Hi, just checking if you've gotten stuck on this at all, or if I could help
in any way? Thanks!

—
You are receiving this bec

[2016-12-08 20:58] jywarren commented on #1026
No problem at all -- and no need to increase time commitment -- just wanted
to check in! Thanks, Will

On Thu, Dec 8, 2016 at 3:44 PM, wvward <notifications@github.com> wrote:

[2016-12-08 21:17] rosj91 commented on #1086
Hi jywarren, this is my first time contributing to open source so I would like to claim this issue. should I proceed to setup perform the following tasks that you have laid out?

[2016-12-08 21:21] jywarren commented on #1086
Yes -- thank you, we'd love to have your contribution. Just a note that while there are other @publiclab/reviewers around, I will be intermittently available over the next 48 hours due to a couple events I'm participating in. But we're here to help -- just a little slower than usual!

Thanks!! 👍

[2016-12-08 21:23] rosj91 commented on #1086
No worries. Thank you for the advice. I will try to close this and submit a pull request when I am done. Enjoy your weekends!

[2016-12-08 21:53] rosj91 commented on #1086
Hi again, I have a question, although not directly relating to this issue. I am trying to install the gem but I get "Your Ruby version is 2.3.3, but your Gemfile specified 2.1.2" when I try to run "bundle install --without production mysql".

In addition when I type "bundle update", I also get "Your Ruby version is 2.3.3, but your Gemfile specified 2.1.2".

When I run ruby -v I get "ruby 2.3.3p222

[2016-12-09 01:21] marcmoy commented on #1072
Awesome, thanks! Here how my discovery process went for finding your repo...

1. Google searched "open source contribution for beginners"
2. Navigated to the [First Timers Only](http://www.firsttimersonly.com/) website
3. And then went to the [Up For Grabs](http://up-for-grabs.net/#/) website
4. Scrolled through a bunch of links
4. And then saw your link [https://github.com/publiclab/plots2/labels

[2016-12-09 01:36] marcmoy commented on #1072
@jywarren Question: I noticed the `Gemfile` specified Ruby version `2.1.2`. I am currently running on version `2.3.1`. Is there a way to `bundle install` without downgrading my Ruby version?

I commented out the Ruby version specification in the `Gemfile` for now and plan to restore it before I make a PR. Is this the best way to get around the issue?

[2016-12-09 03:05] rosj91 commented on #1086
Ah sorry about that, just found that I was supposed to install the RVM first

[2016-12-09 10:28] ryzokuken commented on #1086
yes, you'd need rvm to conveniently switch between multiple ruby installations and then use rvm to install 2.1.2

[2016-12-09 14:42] steviepubliclab commented on #1047
Hi,
Sure, love to help think through this. Not sure it's something we can ask in the interviewing process that's going on, that one is pretty specific and is already getting long, but input from others would be really helpful! Maybe we could come up with a few options, post it and ask for input from others?

[2016-12-09 14:49] jywarren commented on #1005
`node.replace` now works, and matching wiki controller `replace` method: #1087

[2016-12-10 09:17] Pk13055 commented on #987
Have you reached some stand on which issues are to be tackled first? I could get a headstart if you've decided upon something

[2016-12-10 10:40] mridulnagpal commented on #1014
@jywarren M back on it

[2016-12-10 10:51] ykl7 commented on #1014
Thanks @mridulnagpal

[2016-12-12 15:54] jywarren commented on #1047
That'd be great, thank you!

[2016-12-12 15:55] jywarren commented on #1047
Hope it's all right - i assigned this one to you but can collab of course.

[2016-12-12 17:12] jywarren commented on #1072
Well, we're very happy to have contributions from those new to open source, thank you!

[2016-12-12 17:18] jywarren commented on #920
Yes, see how in the screenshots, "Read more" is kind of pushed up against the graph, and is not as visible? I think it just needs some more margin below it.

There's a `col-md-3` -width zone, which in wide screens occupies the left 25% of the screen, using https://getbootstrap.com layout styles. If we got rid of it, we'd want to think about whether there's any content that's shown there (i think i

[2016-12-12 17:29] jywarren commented on #754
Hi, so the link would be to a node, and that node would have a tag named `activities:balloon-mapping` for the tagname `balloon-mapping`.

So we need to know what the tagname is -- we find that out by using the `node.power_tag` method, which looks up the "value" of the "activity" powertag for the current node for this page:

[code]

**IF** it returns something, we then use the resulting string to s

[2016-12-12 17:29] jywarren commented on #1086
Glad you worked it out! Thanks and if you have a PR to submit we're happy to look over your work so far and offer input!

[2016-12-12 17:38] jywarren commented on #987
I think a number of them could be broken out, but need hints to where they appear in lines of code.

The `.paginate()` one is one which is probably in this controller -- but the dynamic search page action is empty:

https://github.com/publiclab/plots2/blob/master/app/controllers/searches_controller.rb#L32

So I think it makes calls via JavaScript to other actions, but am not sure which. That needs

[2016-12-12 17:46] jywarren commented on #1014
Great, left a comment over on the PR at #1021 -- thanks!

[2016-12-12 19:42] 500swapnil commented on #754
I have added the if statements. Cant understand how to add it to the link. I have opened a PR #1090.
Please have a look! Thanks!

[2016-12-13 13:15] #754 closed

[2016-12-13 14:13] jywarren commented on #971
We'll be bypassing this in #1091 -- thank you!!!

[2016-12-13 14:13] #971 closed

[2016-12-13 14:57] ebarry commented on #964
So, i was hoping not to create new graph or graphic interface features. If i can simply do a URL query, i can get the evaluation work done. Can this be a bare bones thing and go faster?

[2016-12-13 16:27] ebarry commented on #962
Yes, let's focus this issue on what text and what graphs change when clicking the textlink for "one year" "one month" "one week" further back. Here's what the basic page looks like on this fine morning:
![screen shot 2016-12-13 at 11 26 16 am](https://cloud.githubusercontent.com/assets/161439/21148702/15ab71de-c127-11e6-8c69-b395959aca40.png)

[2016-12-13 17:03] jywarren commented on #962
The graph does change, though:

![screenshot 2016-12-13 at 12 01 45 pm](https://cloud.githubusercontent.com/assets/24359/21150165/099570ac-c12c-11e6-9fe6-63c92a71cc36.png)

So, do we just need to emphasize the `Looking back from __________` line?

Also, a sense of urgency on this? I wouldn't want it to displace other projects if it's not top priority. Thanks!

[2016-12-13 17:09] rosj91 commented on #1086
Hi @jywarren, sorry for my late reply. work has been a little bit intense lately. too many items in parallel. Can you advise me what is the best route to take if I desire to setup ruby on rail on my windows 10? I see that there is a recent new way of having Ubuntu on windows in an integrated manner. The reference link that I saw is in https://gorails.com/setup/windows/10. Would you advise me to ta

[2016-12-13 17:14] jywarren commented on #1086
Hi, no problem at all -- thanks for checking in!

honestly I'm not that familiar with the new windows 10 system, but I've
heard of it and it sounds interesting. I might be less able to provide
troubleshooting as a result though... but it's your choice, as I don't have
a strong preference?

Thanks!

On Tue, Dec 13, 2016 at 12:09 PM, rosj91 <notifications@github.com> wrote:

[2016-12-13 17:26] 500swapnil commented on #736
Yes I understand. I will start by replacing the instances.

[2016-12-13 17:31] jywarren commented on #736
Super! Thanks! 👍

[2016-12-13 17:40] rosj91 commented on #1086
Hi @jywarren, Thank you for understanding. I really appreciate the chance to get to work on this. I will try this method out because it sounds very interesting to me, since I will also be able to tie it together with the new VS2017 RTM package which now support Linux development. Will let you know how it goes. Please give me another day or two to fully setup the system and to make the pull request

[2016-12-13 19:26] jywarren commented on #1086
OK, great! Good luck!

[2016-12-13 20:57] ebarry commented on #962
I'm gonna close this issue about re-writing the text because we're gonna have to handle this in https://github.com/publiclab/plots2/issues/964

[2016-12-13 20:57] #962 closed

[2016-12-13 20:57] jywarren commented on #964
I think we can't let the graphs go out of sync -- but one step forward is to adapt `weekly_tallies` in the following lines to accept a start date, or document the methods better so we know how many weeks "forward" or "back" we need to specify:

[code]

That code is here:

https://github.com/publiclab/plots2/blob/master/app/models/drupal_node.rb#L181

and here:

https://github.com/publiclab/plots2/

[2016-12-13 21:01] ebarry commented on #1035
Hi @manish310794,  just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2016-12-13 21:05] jywarren commented on #746
Complete now with the new `?n=id` feature!

[2016-12-13 21:05] #746 closed

[2016-12-13 21:06] 500swapnil commented on #736
<% slug = @node.power_tag('parent') %>
slug.blank? || title_changed?
<% parent = DrupalNode.find_by_slug(slug) %>
How will I convert these to path?

[2016-12-13 22:14] jywarren commented on #736
Where are they from? `app/views/wiki/show.html.erb`? Can you look at the context of that and see how (and whether) you need to convert from a path to a slug or back?

[2016-12-13 22:39] jywarren commented on #1034
This is now complete in #1095! Thanks!!!

[2016-12-13 23:17] #1034 closed

[2016-12-13 23:40] jywarren commented on #964
I think this is more complex because of the way current data is displayed: see how on https://publiclab.org/stats, it says:

that can't easily be adapted into a range, just grammatically

if I changed it all to follow the range specified, we'd lose the "past week" stat which is quite useful when the specified period ends "present day"

maybe I could change it so that it shows data for:

1. the spe

[2016-12-13 23:47] 500swapnil commented on #736
Yes the first 3 are from app/views/wiki/show.html.erb
And I can't understand how we can convert these to path.

[2016-12-14 11:55] dristybutola commented on #511
Can i work on this issue?
Secondly is the dashboard to be shown to users newer than a week?
thanks.

[2016-12-14 13:31] ryzokuken commented on #511
Sure, @dristybutola.

Yes and no. The dashboard is visible to everyone, but the welcome text would only be visible if the user is newer than a week.

For any queries, feel free to ask here or on our Gitter channel.

[2016-12-14 13:43] jywarren opened #1096 "mathjax library runs on any text between $ signs, should be $$"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-12-14 14:30] ebarry commented on #964
For the evaluation project, @sdosemagen and I need to export activity on the website for specific three month periods for multiple years. Example is "September, October, November" for 2011, 2012, 2013, 2014, 2015. We are totally OK with setting up a separate and low-tech way just so we can get this, and leaving the /stats page as is! Thank you for thinking about this and helping.

[2016-12-14 15:49] jywarren commented on #964
Sure -- but what activity exactly? Just "notes, wiki edits posted, people joined" ? Questions?

[2016-12-14 15:49] jywarren commented on #964
Comments?

[2016-12-14 16:06] jywarren opened #1097 "develop `notes:tagname` inline tag alternative to display a grid of notes, not a table"
This is not very high priority... but:

Currently, on a wiki or note, we can insert a table of topical content using the syntax:

`[notes:tagname]` -- like, for example, for content tagged "balloon-mapping", we can do:

`[notes:balloon-mapping]` and that's swapped for a table of balloon mapping posts.

But some content is very visual and it'd be great to see a grid of thumbnails, much like we show

[2016-12-14 16:16] jywarren opened #1098 "auto-generate "new activity" and "new upgrade" buttons for activity grids"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2016-12-14 16:25] jywarren opened #1099 "Add "lock" icon and de-linkify Edit tab of "locked" wiki pages"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2016-12-14 16:34] jywarren commented on #736
Ah, i see -- most instances on that page could use the `node.slug_from_path` method in DrupalNode I proposed above. But this one is different:

[code]

Here, we're trying to find a parent by its slug, but really we could just assemble a "path" and search by that. So:

[code]

does that make sense?

[2016-12-14 16:34] jywarren commented on #736
Thanks for your persistence and hard work!

[2016-12-14 17:06] mridulnagpal commented on #1098
@jywarren I'd like to give it a shot

[2016-12-14 17:51] ebarry commented on #964
Well, this is going to sound ridiculous, but "Everything possible that we
can get from the plots2 database."

--

+1 336-269-1539
@lizbarry <http://twitter.com/lizbarry>

On Wed, Dec 14, 2016 at 10:49 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-12-14 17:56] jywarren commented on #964
Can you prioritize this list, perhaps starting with `notes, wiki edits posted, people joined`, since we already have queries for that? And what else? Thanks, just looking for a more actionable ranked list.

[2016-12-14 17:56] 500swapnil commented on #736
Yeah I understand that. Thank you!
And what about the slugs in drupal_node.rb?

[2016-12-14 18:03] jywarren commented on #1098
Once #1091 is complete, that'd be great, thanks!

[2016-12-14 19:13] jywarren commented on #736
I see two that'll need work:

[code]

For this one, you could do `self.path[0..6] == '/wiki/place'` -- make sense?

[code]

This one, I think it makes more sense in context:

[code]

so we're already searching by path, right? I think we could just search the codebase for where `find_root_by_slug` is used, and switch to just `DrupalNode.find_by_path()` -- make sense?

[2016-12-14 20:00] jywarren commented on #964
Thanks, got feedback -

[2016-12-14 20:06] 500swapnil commented on #736
Okay I have done as much as I understood! Have a look. #1101

[2016-12-14 20:20] jywarren commented on #736
Great, we'll see if it passes tests and there may be more followup once we see what happens there. Thank you! 🎉

[2016-12-14 20:21] 500swapnil commented on #736
It didnt pass the tests.

[2016-12-14 21:21] jywarren commented on #1040
Hi, @ashleypt - just checking if you've gotten stuck on this or needed any help. #1091 will make the new editor default, so I want to be sure we resolve this too before publishing that one. Thanks!

[2016-12-14 22:37] jywarren opened #1102 "Upgrade to Rails 4.2"
We're starting to get warnings for the `paperclip` gem:

[code]

Worth trying it out  in the Gemfile and Gemfile.lock and seeing how the tests do?

[2016-12-14 22:49] #1001 closed

[2016-12-14 23:02] mridulnagpal commented on #1098
@jywarren Where is the file with html redundant code because once we automate it we would have to delete it from there as well.

[2016-12-14 23:03] jywarren commented on #1098
It's actually in wiki page content, not in the codebase, and @ebarry has
agreed to chase it down and delete it once the new buttons are live. Thanks!

On Dec 14, 2016 6:02 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2016-12-14 23:25] mridulnagpal commented on #1102
@jywarren I'd like to try it out

[2016-12-14 23:36] jywarren commented on #1102
I believe we've left some comments in the codebase as well, whenever we did
a rails 4 or 3 specific fix so it may be worth searching for 'Rails 3' or
'Rails 4'!

On Dec 14, 2016 6:25 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2016-12-15 01:27] #1098 closed

[2016-12-15 01:33] #964 closed

[2016-12-15 01:35] jywarren commented on #1040
And if you don't think you'll be able to work on it soon, I'm happy to take this one and help you find another that'll be interesting. Thanks!

[2016-12-15 01:39] jywarren commented on #1096
Need to change default enclosure tags: http://docs.mathjax.org/en/latest/start.html#tex-and-latex-input

[2016-12-15 01:40] jywarren commented on #1096
See here it uses "$" and we should require "$$" as that'll occur less often. https://github.com/publiclab/plots2/pull/1045/files#diff-9599427925097c3c66f26ac1e0de5cadR23

This make a good first-timers-only issue!

[2016-12-15 04:23] pyluftig commented on #1099
Hi! I would love to claim this issue.

[2016-12-15 05:01] ryzokuken commented on #1099
Sure, @pyluftig! If you need help with this issue or setting up the project locally, please feel free to ask here or on our Gitter channel.

[2016-12-15 05:27] pyluftig commented on #1099
Hi @ryzokuken I already have a question. I am trying to create and run the database, and am having some trouble. Is there anyone who could walk me through the process?

[2016-12-15 05:30] ryzokuken commented on #1099
Definitely, @pyluftig. Either explain what's exactly wrong over here or [on our Gitter Channel](https://gitter.im/publiclab/publiclab).

[2016-12-15 05:36] pyluftig commented on #1099
I have forked and cloned the repo, and installed mysql. When run `rake db:create` I get this error: `Mysql2::Error: Access denied for user 'root'@'localhost' (using password: YES)`.  I know this has to do with the db but I am uncertain how to correct it. Thanks!

[2016-12-15 05:39] ryzokuken commented on #1099
Actually, `mysql2` is used only in production and I would suggest you to use `sqlite3` for development instead. Install the gems using `bundle install --without production mysql` and try running `rake db:setup`.

[2016-12-15 05:44] pyluftig commented on #1099
Okay so this is the error I am getting with just trying to use sqlite3:

`Errno::ENOENT: No such file or directory @ rb_sysopen - /Users/pauletteluftig1/Desktop/open_source/plots2/config/database.yml`.

There must be something obvious that I am missing

[2016-12-15 05:48] ryzokuken commented on #1099
Well, it seems you started using `sqlite3`, and then tried running `rake db:setup` without doing:
[code]

This should do the trick. Run `rake db:setup` after you execute these two.

[2016-12-15 05:55] pyluftig commented on #1099
okay - thank you! was this listed somewhere? I was able to migrate and when trying to run locally I get an error saying `couldn't find file 'bootstrap/dist/css/bootstrap.min.css'`. I have to head to bed. I assume this app uses bootstrap and that we need that?

[2016-12-15 05:57] ryzokuken commented on #1099
Yes. For frontend dependencies, you'll need to run `bower install`.

BTW, All of this stuff is listed in the [installation](https://github.com/publiclab/plots2#installation) section of our README.

[2016-12-15 05:59] pyluftig commented on #1099
My apologies! I was looking at a different getting started view. I will use the read me!! Thank you.

[2016-12-15 06:13] pyluftig commented on #1099
Up and running - thanks so much for the help @ryzokuken!

[2016-12-15 06:43] mridulnagpal commented on #1102
@jywarren So what all things will I have to do? I don't know where to start

[2016-12-15 06:49] mridulnagpal commented on #1035
Hi @manish310794 , if you are not working with this issue I would like to give it a go

[2016-12-15 17:31] steviepubliclab commented on #1047
I was just wondering if we could we sort these by environmental tags that someone would pick when they came to the page. a number of these methods could fall under different categories (land, air, water etc.)

[2016-12-15 17:31] jywarren commented on #1099
Just wanted to say we're pleased and excited to receive your first open source contribution. Happy to help with anything else! Also glad that due to timezones we seem to have a 24-hour team 🕐 🕢 thanks @ryzokuken 👍

[2016-12-15 17:33] jywarren commented on #1035
Hi, all -- I think it's fair for @mridulnagpal to take a crack at this -- @manish310794, I'm happy to help you find a new issue to tackle if you're still interested, and as this progresses towards a pull request, I'm sure there are also plenty of opportunities for collaboration. Thanks!

[2016-12-15 17:41] jywarren commented on #1102
Yeah it's a tough one. I think for starters, change the gemfile and run 'bundle install' and then add the Gemfile.lock -- then create a PR. We'll see what happens.

I ran a search for "Rails 3" and "Rails 4" and didn't find anything. So I guess we see what happens?

It looks like the big one is from Rails 3-4, here: http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rail

[2016-12-15 17:43] jywarren commented on #1047
That's just what I was thinking, yeah! So I suggested:

* water
* air
* soil

Do you prefer "land", or have other suggestions to add, or are these three sufficient to start with?

[2016-12-15 18:19] steviepubliclab commented on #1047
sorry, I don't think I was clear enough. I meant more specific tags, as in people would pick their own tag of interest and methods with those tags would show up on the page. For example they could choose:
- a pollutant  ("pesticides," "H2S," "lead") or
- environmental issue ("fracking," "mining," "landfill") or
- a larger category ("water" or "air")

I just feel like this is actually really compli

[2016-12-15 18:30] jywarren commented on #1047
Great, the specifics are very helpful, thank you. I'd hoped for more specific categories, so I'm glad you're thinking along similar lines.

How might people pick a tag, though, specifically? Would they type it in themselves, or select tags from a list of content that already exists and is tagged, or would we offer a set of tag names we imagine might be comprehensive enough but not overwhelming?

I

[2016-12-15 20:04] vincegando commented on #1096
Can I take this one?

[2016-12-15 20:09] mridulnagpal commented on #1035
@jywarren I checked the files and the template already exists, please tell me what do I do next?

[2016-12-15 20:15] jywarren commented on #1096
We'd love your help on this and are happy to offer any assistance you might need. Thanks a lot!

Just curious -- we're trying to improve our outreach to new contributors -- how did you happen to hear about us?

[2016-12-15 20:16] jywarren commented on #1035
Ah - i see it here: https://github.com/publiclab/plots2/blob/master/app/views/locations/form.html.erb

It was closed in #1044-- but we didn't link back or close this -- oops! We should remind people to do so in their PRs.

Yes, the next step is the next item in #1070. I'll break out a new issue for it, thanks!

[2016-12-15 20:16] #1035 closed

[2016-12-15 20:18] jywarren opened #1107 "Fill out new HTML form for location entry"
Followup to #1035, @mridulnagpal asked for next steps. We now have a blank HTML template:

https://github.com/publiclab/plots2/blob/master/app/views/locations/form.html.erb

Now we need to add HTML markup for the location form itself, building from this image:

![gif](https://cloud.githubusercontent.com/assets/161439/17665075/8f4b041a-62c6-11e6-9fdf-0bf5b4a71e80.gif)

And using elements from https

[2016-12-15 20:18] jywarren commented on #1035
Great - moved next step to #1107

[2016-12-15 20:20] mridulnagpal commented on #1107
@jywarren I did not get the exact template could you tell me more about it?

[2016-12-15 20:21] steviepubliclab commented on #1047
Hi
Ok just did some brainstorming with @gretchengehrke. We thought it would be neat if people could pick environmental issues or/(and?) finding monitoring methods for specific things. See list::

**Environmental Issue:**
- Agriculture,
- Drinking Water,
- Fracking,
- Indoor Air,
- Industry (chemical processing),
- Land Use / Change,
- Mining,
- Oil / Gas,
- Transportation,
- Urban Planning,

**Fin

[2016-12-15 20:27] vincegando commented on #1096
I heard about you through this Twitter account: https://twitter.com/first_tmrs_only

I'm having an issue when I run "passenger start". After going through the steps in the README and running that command, it says "Connecting to database specified by database.yml", then gives this error "Could not spawn process for application ../plots2: An error occurred while starting the web application: it did

[2016-12-15 20:38] rafeeq-123 commented on #1072
Hello @jywarren,

I am a programming newbie and would love to start to contributing to the project, but I am sure where I should start.

[2016-12-15 21:21] rafeeq-123 commented on #1099
Hello,
Would there be a way for me to also contribute here as well? Seems like an interesting add!
Thank you!

[2016-12-15 22:10] jywarren commented on #1096
Hmm, can you paste in your full output into http://gist.github.com and share here?

Also, it's almost the end of the day for me, so i apologize if I'm not able to respond in a timely way -- but possibly someone from @publiclab/reviewers can assist!

Thanks!

[2016-12-15 22:13] jywarren commented on #1107
I think we're hoping to get a set of text and inputs to simply display as best as you can what's shown in the gif (by @ebarry) but that don't need to function just yet. Then we'll do a followup task of starting to plug in functions. Make sense?

[2016-12-15 22:20] jywarren commented on #1047
Great -- the first list is already a good number of them -- would we show them all? And in what kind of display -- something like this:

![screen shot 2016-12-15 at 5 18 26 pm](https://cloud.githubusercontent.com/assets/24359/21244212/8c9110aa-c2ea-11e6-95c4-75e31fb00cc9.png)

I think it could be important to show methods that are associated with a few of the "key" ones as examples, so the page is

[2016-12-15 22:22] jywarren commented on #1099
Hi, @rafeeq-123 -- have you had a look at some of our other issues? For first-time contributors, here:

https://github.com/publiclab/plots2/projects/2

And more generally there are a lot of good ones here:

https://github.com/publiclab/plots2/labels/fto-candidate

There are a lot to choose from!

[2016-12-15 22:23] jywarren commented on #1072
Hi, and welcome! 🎉

I think I wrote back to you in another thread, but a great place to start is here: https://github.com/publiclab/plots2/projects/2

Thanks!

[2016-12-15 22:32] rafeeq-123 commented on #1072
Thank you! I am very excited!

[2016-12-16 00:44] vincegando commented on #1096
Here's the full output:
https://gist.github.com/vincegando/8f60ad079ac3be485809628bfe897eeb

I followed the instructions in the readme and made a copy of config/database.yml.sqlite.example and placed it at config/database.yml .

[2016-12-16 06:23] pyluftig commented on #1099
Hi @jywarren or @ryzokuken - When I try to log in I get this error: `RSolr::Error::ConnectionRefused in UserSessionsController#create`. I have been able to successfully run the `bundle exec rake sunspot:reindex` command. I really want to get started! I've been googling trying to figure out what's wrong.

[2016-12-16 12:14] ryzokuken commented on #1097
@jywarren I'd like to work on this. Could you point me to an existing page containing the table layout though? (So I could get an idea about how it exactly looks)

Also, I had been thinking that we could choose the size of the grid based on the screen size (this is not exactly required but would really help avoid us cramming 12 partials per row in a mobile screen).

[2016-12-16 14:43] steviepubliclab commented on #1047
Hi!
Can we do these as a dropdown for people to choose from? +1 to having key
methods on the page when it's first loaded. Not sure how to pick these,
maybe the most recently updated works for this as well?

On Thu, Dec 15, 2016 at 4:20 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-12-16 15:47] gretchengehrke commented on #1047
I agree w/ having a dropdown menu would be more visually appealing (and perhaps easier to discern that you are supposed to select one). For the key methods, perhaps we could go by the methods that have the most views? Or, if they are activities, the most replications?

[2016-12-16 17:05] jywarren commented on #1040
I went ahead and resolved this last night since we had a switchover to the rich editor in #1091 -- but I'm happy to help you find another issue, and there are a few in https://github.com/publiclab/PublicLab.Editor/ as well. Thanks!

[2016-12-16 17:05] #1040 closed

[2016-12-16 17:09] jywarren opened #1111 "Add function to "post type" dropdown in new Rich editor"
This requires some UI/UX design thinking before we're ready to start coding.

We have a new rich editor! But it has this nice dropdown for "types" that doesn't do anything (although it also doesn't break anything) -- here, you can see the default `a research note`:

![screen shot 2016-12-15 at 5 37 04 pm](https://cloud.githubusercontent.com/assets/24359/21271220/1737a5be-c388-11e6-95bb-a3413e58ed1

[2016-12-16 17:18] jywarren opened #1112 "Get Solr to (testably) reindex in a Jenkins container running in production mode"
@icarito has set up a Jenkins system to boot containers for testing and staging. We're going to set up a branch in this repository called `solr` and get a Jenkins container to build on any push to that branch.

I'll take on the next steps:

## THE PLAN

* [x] create "solr" branch which Jenkins will build - http://staging.laboratoriopublico.org/job/Plots-Solr/
* [ ] establish some test for whether

[2016-12-16 17:24] jywarren commented on #1053
Now that we have a staging server, we're taking next steps with: #1112 1112

[2016-12-16 17:31] 500swapnil commented on #299
I would like to take this up

[2016-12-16 17:38] 500swapnil commented on #829
I would like to help with this!

[2016-12-16 17:38] #736 closed

[2016-12-16 17:58] 500swapnil commented on #397
Okay so what should I do first?

[2016-12-16 18:00] jywarren commented on #397
Try making a test to ensure a non-admin cannot edit a locked page. Then you
should see the PR travis checks fail, and then you can try to implement
that feature in the controller action `update` -- make sense?

On Fri, Dec 16, 2016 at 12:58 PM, Swapnil Gupta <notifications@github.com>
wrote:

[2016-12-16 18:02] 500swapnil commented on #397
Okay so this test will do I guess
test "basic user blocked from updating a locked wiki page" do
    node(:organizers).add_tag('locked', rusers(:admin)) # lock the page with a tag

    # then try updating it
    post :update,
         id:  node(:organizers).id,
         uid:   rusers(:bob).id,
         title: ""

    assert_template "wiki/show"
    assert_select ".alert", "expected message"
  end

[2016-12-16 18:12] jywarren commented on #1047
I think the question of what the best interface design for the display is a separate question, and one we can revisit and also test out. But thank you -- this is the key info we need to go forward:

So, we actually already sort methods by `most-recently-updated`, which we chose as better to the previous `most-viewed` -- the question is how to select the **topics/tagnames** we should display by def

[2016-12-16 18:18] jywarren commented on #1047
And sorry, i know I asked for input on type of display, but unfortunately dropdowns present some pretty serious [known UI problems](https://www.nngroup.com/articles/drop-down-menus-use-sparingly/) -- I figure once we can identify our topics and how many we want to show, and in what order, we can circle back to the interface design questions.

[2016-12-16 18:19] jywarren commented on #397
Yes, I believe that's right -- you might also use an `assert_redirected_to`
-- and this should correctly test this because the default user in the
wiki_controller_test.rb is "bob" -- a regular user.

On Fri, Dec 16, 2016 at 1:02 PM, Swapnil Gupta <notifications@github.com>
wrote:

[2016-12-16 18:19] jywarren commented on #829
That'd be great!

On Fri, Dec 16, 2016 at 12:38 PM, Swapnil Gupta <notifications@github.com>
wrote:

[2016-12-16 18:42] 500swapnil commented on #397
Okay I have opened a PR #1114

[2016-12-16 18:43] jywarren commented on #963
Made an initial stab at this, but it'd need specifics on exactly what data would need to be downloadable: https://github.com/jywarren/plots2/tree/stats-export

@ebarry - we could alternatively seek to replace the graphs here with something from Chart.js, which would include hovers; http://www.chartjs.org/

![image](https://cloud.githubusercontent.com/assets/24359/21274311/8e0634be-c395-11e6-8892-6

[2016-12-16 18:51] pyluftig commented on #1099
@jywarren when trying to run either `bundle exec rake db:setup` or `bundle exec rake sunspot:reindex` I am getting:

`
RSolr::Error::ConnectionRefused: Connection refused - {:data=>"<?xml version=\"1.0\" encoding=\"UTF-8\"?><delete><query>type:User</query></delete>", :headers=>{"Content-Type"=>"text/xml"}, :method=>:post, :params=>{:wt=>:ruby}, :query=>"wt=ruby", :path=>"update", :uri=>#<URI::HTTP

[2016-12-16 20:11] steviepubliclab commented on #1047
Ok I hear you on the UI problems of dropdown menus, but as a theme, I have
concerns about too much text /too many options on the page when someone
doesn't ask for it (ie click on it). I'm also unclear if you're asking me
any further questions from your previous post. Can you clarify?

On Fri, Dec 16, 2016 at 12:18 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-12-16 20:15] jywarren commented on #1047
Yes, I'm also concerned about that -- my question is to try to prioritize what we do show, specifically so there's not too much:

And I'll add one other option: a fixed list of 3-6 tags. This could be similar to the original suggestion.

Thanks!

[2016-12-16 20:19] jywarren commented on #1097
Yes -- https://publiclab.org/tag/balloon-mapping

And yes there are some good layout options available in the grids section
of the bootstrap documentation:

http://getbootstrap.com/css/

We already use Bootstrap's grid so there are ways to optimize it for better
display... Happy to help brainstorm.

Thanks!

On Dec 16, 2016 7:14 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-12-16 21:40] jywarren commented on #1047
OK - I caught up with Stevie on this and proposed some rough mockups of different possibilities as a next step. Thank you for pointing out that one option is to not show any methods on initial page load, that hadn't occurred to me. Here are two scenarios to explore and discuss. Love to hear your thoughts, @gretchengehrke, @steviepubliclab, @ebarry !

Note that these are intended to be rough; not f

[2016-12-16 21:43] jywarren commented on #1047
Oh, and one thing that I forgot to mention or include-- I think it would be great to have a prompt to [Add your own]() along with a link to [Why and how to share]() -- the first could go to Liz's recent "method template" activity

[2016-12-16 21:47] pyluftig commented on #1099
@jywarren and @ryzokuken the link above to the developers page is incorrect and broken: ` https://publiclab.org/developers`. I think you meant ` https://publiclab.org/wiki/developers` and wanted to mention it in case first timers are look at a template you're using for issues, you might want to update it so the url is correct. Thanks!

[2016-12-16 22:00] jywarren commented on #1099
Hi, oh thank you so much -- we'd known there was a bad URL somewhere but couldn't find it... it's actually in my "saved replies" template. Just fixed it.

For the RSolr issue - we are working to remove the optional Solr items from the install steps, or at least make them "discouraged" as they're not necessary for a development environment, and they can cause some serious trouble like you're seeing

[2016-12-16 22:18] jywarren commented on #1072
Great.

Hi, @marcmoy -- just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2016-12-16 22:47] jywarren commented on #1096
Hmm, that's an odd error. Where are you installing this? Can you tell me a little about your system?

If you send me your email to jeff@publiclab.org, I can get you a free https://c9.io account and we have instructions for using a Cloud9 account to get running: https://github.com/publiclab/plots2/wiki/Simple-Installation-for-Cloud9

Or, because this is a JavaScript change, I'd be comfortable accep

[2016-12-16 23:06] jywarren opened #1117 "Insert link and notice of Code of Conduct into signup page"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2016-12-16 23:09] jywarren commented on #899
I broke out the CoC link into its own issue: #1117.

I'm trying to think how we can move forward on this, and I think we could try the new reCaptcha system out if we were sure we could switch back if it doesn't work to stop spammers.

But how might we evaluate if it's easier than the questionnaire? I think we can just assume that it is, but I want to be thorough about whether screen readers and ot

[2016-12-16 23:59] whoisjstn commented on #1117
I'll take a shot at this!

[2016-12-17 01:14] pyluftig commented on #1099
@jywarren and @ryzokuken Dev Environment is Working!!! Yay!

[2016-12-17 04:30] ryzokuken commented on #1099
Way to go, @pyluftig!

[2016-12-17 06:47] ananyo2012 opened #1119 "Weekly/ Monthly digest for publiclab.org"
Just thought of moving this to a separate issue Based on tag subscriptions we can send customized digest.
Digest can include research notes as well as questions.

Rough steps that need to be followed
- [ ] Suggest a possible design for the email template
- [ ] Add a method in [Subscription mailer](https://github.com/publiclab/plots2/blob/master/app/mailers/subscription_mailer.rb) for sending diges

[2016-12-17 14:13] jywarren commented on #1099
Awesome!!!

[2016-12-17 15:40] ananyo2012 opened #1121 "Add gitter chat button in Readme"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2016-12-17 16:53] mridulnagpal commented on #1028
@manish310794 If you are not working on it anymore, I would like to give it a try.

[2016-12-17 16:58] jywarren commented on #1117
Great! Thank you and we're happy to help if you need it.

On Dec 16, 2016 6:59 PM, "Justin Postlewaite" <notifications@github.com>
wrote:

I'll take a shot at this!

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/plots2/issues/1117#issuecomment-267725029>,
or mute the thread
<https://github.com/notifications/u

[2016-12-17 19:09] pyluftig commented on #1099
@jywarren and @ryzokuken Are there any docs describing the app data model? What type of tag do I need to create? I thought I needed to create a `DrupalTag` but now realize that isn't likely. Can you describe how tagging works or point me to some docs? Thanks!

[2016-12-17 19:21] ryzokuken commented on #1099
@pyluftig: @jywarren could help you better with the specifics of this issue, but as far as I could comprehend this issue, I don't really believe you need to actually create and/or manipulate tags.

Rather, for this issue, you need to just check if the current wiki in consideration has the `locked` tag or not. If it is locked, you don't display the Edit button but show a lock icon instead. Afterwar

[2016-12-17 20:26] ananyo2012 commented on #106
@jywarren Does this look ok now? I was thinking of adding this as a Google Code-in task.

[2016-12-18 06:45] adarsh-ideal commented on #1121
I want to work on this.

[2016-12-18 14:28] ananyo2012 commented on #299
Here is the regexp for the `FINDER` : https://github.com/publiclab/plots2/blob/master/config/initializers/constants.rb#L2
Changing the regexp to `/(^|\s)\@([\w-]+)/` solves this issue. Also the change in regexp won't affect the normal functioning of the finder. We can confirm it by writing a functional test. Should I follow this approach and make it a `first-timers-only` issue?

[2016-12-18 15:13] ananyo2012 commented on #761
@jywarren Was looking at this. Shouldn't we remove the `fto-candidate` label since this doesn't seem to be a issue to be approached by first-timers? Also should I open separate issues for each one mentioned above?

[2016-12-18 16:37] jywarren commented on #299
Yes, that sounds good -- although it seems it may already be claimed?

On Sun, Dec 18, 2016 at 9:28 AM, Ananyo Maiti <notifications@github.com>
wrote:

[2016-12-18 16:38] jywarren commented on #1121
Complete!

[2016-12-18 16:38] #1121 closed

[2016-12-18 16:40] FlameFractal commented on #171
I'd like to work on this!

[2016-12-18 16:47] jywarren commented on #171
That'd be great -- thank you and we're happy to help.

On Sun, Dec 18, 2016 at 11:40 AM, Flame Fractal <notifications@github.com>
wrote:

[2016-12-18 16:48] jywarren commented on #761
Yes, perhaps -- I had been marking some issues where it'd be easy to take a
sub-issue out and reformat as a FTO one, but maybe that's not helpful and
"break-me-up" is enough. If you'd like to break it up, that'd be great!
Thank you, Ananyo, you're doing great work!

On Sun, Dec 18, 2016 at 10:13 AM, Ananyo Maiti <notifications@github.com>
wrote:

[2016-12-18 16:51] jywarren commented on #106
I think this would make a good GCI task, yes!

[2016-12-18 16:54] jywarren commented on #1119
This may need to be broken into smaller parts to be effectively solved; adding `break-me-up` and we also need:

* [ ] a way to choose who receives email digests. We could start with just sending to all admins, to test the system out before turning it on for a larger group.

[2016-12-18 16:58] jywarren commented on #1099
Yes, the assumption is that people will add tags using the tagging interfaces on each page, so we don't need to worry about that here; though to test, you can just manually enter a tag in the HTML form at the bottom of a wiki or research note (in your development setup).

So this line checks to see if that page (node) has a tag:

[code]

As to the app data model, we should make such docs, and I'm

[2016-12-18 17:14] ananyo2012 commented on #171
@FlameFractal If you don't mind can look at other first-timer issues not labelled with the `gcin` label. This will be made as an Google Code-in Task.

[2016-12-18 17:23] FlameFractal commented on #171
Sorry, didn't know that. It's just that all of the 9 issues currently in [first-timers-only](https://github.com/publiclab/plots2/labels/first-timers-only) appeared to be claimed, albeit not updated in a while, I didn't wanna barge in their progress!

[2016-12-18 17:25] pyluftig commented on #1099
Hi @ryzokuken - just adding the html (show page) code snippet in the issue above doesn't seem to work since there's nothing in the wiki controller action setting a tag of locked on the node if the current_user is not an admin or a moderator. I checked the application_controller functions and the application_helper and other helper files but don't see how the locked tag is getting created/added bas

[2016-12-18 17:29] jywarren commented on #171
Not a problem! Perhaps there's a first timers issue someone's been stuck on
to a while and could use another set of eyes on it?

On Dec 18, 2016 12:23 PM, "Flame Fractal" <notifications@github.com> wrote:

[2016-12-18 17:30] ananyo2012 commented on #171
Uh there are some [fto-candidate](https://github.com/publiclab/plots2/labels/fto-candidate) issues that you can see in the mean time. They are close to becoming first-timer issues. In fact they will be made first-timer issues soon.

[2016-12-18 17:40] ananyo2012 commented on #761
@jywarren Thanks Jeff! I will break this up into several issues.

[2016-12-18 17:47] pyluftig commented on #1099
@jywarren Do you want a controller test to show this working? If so, can you guide me on how to create a tag correctly in spec land?

[2016-12-18 18:45] vincegando commented on #1096
Great! I'll send you an email and I'll also get started on this issue.

[2016-12-18 19:15] jywarren commented on #1099
Hi -- great, and apologies that I'm not able to respond quickly on this at the moment.

Here's an example controller test where a tag is added using `node.add_tag()`:

https://github.com/publiclab/plots2/blob/master/test/functional/tag_controller_test.rb#L297-L316

Hope that's helpful and now I realize you were probably asking to add a tag for the purposes of testing, which makes a lot of sense an

[2016-12-18 19:20] pyluftig commented on #1099
Hi @jywarren - wow! You sure get on top of things fast! Thanks for the info about how to add a tag in a spec. I will add specs on my branch.

I am just curious, but have you considered limiting editing abilities through the back end and just based on whether the viewing user is an admin or a moderator? This way no one would have to worry about locking anything? And a lot could be done just based o

[2016-12-18 19:21] #1107 closed

[2016-12-18 19:24] jywarren commented on #1070
Hi @mridulnagpal -- if you're interested in a new challenge, these two (from above) could become a new issue:

* move actual input form into a partial template for use in location entry across the site
* Leaflet map display - at top of #1035's blank template - use Leaflet as per examples to display a zoomable/draggable map in the form (above) -- build on this helper: #1094 - code example here: <%=

[2016-12-18 19:25] mridulnagpal commented on #1070
@jywarren Roger that :+1:

[2016-12-18 19:29] mridulnagpal commented on #1070
@jywarren How do I proceed?

[2016-12-18 19:31] mridulnagpal commented on #1014
@jywarren I think this issue is resolved

[2016-12-18 19:32] mridulnagpal commented on #857
@jywarren This one is resolved as well

[2016-12-18 19:37] jywarren commented on #1014
True!

[2016-12-18 19:37] #1014 closed

[2016-12-18 19:38] jywarren commented on #857
Superb!

[2016-12-18 19:38] #857 closed

[2016-12-18 19:40] jywarren commented on #1070
So, first if you could use the helper method in #1094 to display a map in the provided box, then change the template to a partial template. You can look up partial templates in the rails docs but it means you can include it in another template. Make sense? Thanks!!!

[2016-12-18 19:44] mridulnagpal commented on #1070
@jywarren What would be the arguments for the helper method?

[2016-12-18 19:58] jywarren commented on #1070
Let's just start with a random example location of your choice, and an
empty array of items.

On Dec 18, 2016 2:44 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2016-12-18 20:24] mridulnagpal commented on #1070
@jywarren It gives an error because of the empty array of objects undefined method `each' for nil:NilClass

[2016-12-18 21:00] jywarren commented on #1070
Ah, but could you pass an empty array like `[]`?

On Dec 18, 2016 3:24 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2016-12-18 21:58] jywarren commented on #1099
Well, this tag based locking is intended to be a very transparent type of
tagging... to be easy to do or undo, to take minimal extra code, to be
seldom used. I kind of like not creating a new interface for it, from a
code maintenance perspective. But we are slowly getting more sophisticated
about admin interfaces, so and perhaps you'd be interested in one of these
issues next?

https://github.com/

[2016-12-18 23:34] pyluftig commented on #1099
Hello again @jywarren - here is the pr for this story [1124](https://github.com/publiclab/plots2/pull/1124)

I didn't get specs working for this - I keep getting an error related to the class function  `find_nodes_by_type_with_all_tags` in the `drupal_tag.rb`. I can't seem to create the tag in the same way as I see it in the controller test example you sent me.

[2016-12-19 03:57] ananyo2012 commented on #299
Made this a `first-timer-only` issue. @jywarren If anyone isn't working on this perhaps I can make this as a Goggle Code-in Task?

[2016-12-19 04:06] ananyo2012 commented on #711
@Squawk09 Just checking were you able to setup the repository locally or in Cloud9?

[2016-12-19 06:29] ananyo2012 commented on #1096
@jywarren Welle as you see written in the documentation here http://docs.mathjax.org/en/latest/start.html#tex-and-latex-input The default delimiters are `$$..$$` but we have manually used `$..$` to enable the inline mathematics by including the line https://github.com/publiclab/plots2/pull/1045/files#diff-9599427925097c3c66f26ac1e0de5cadR23 as you have mentioned. This can be solved by simply remov

[2016-12-19 06:32] ananyo2012 commented on #1096
![equation2](https://cloud.githubusercontent.com/assets/10486343/21303219/c9e9a8e0-c5e2-11e6-92f8-f016d9469630.png)
Here is a snap of what is a inline and block equation. Inline equation is the one that appears above inline with text and block equation is the one that appears below and is centered.

[2016-12-19 06:44] ananyo2012 commented on #1119
@jywarren Yes please list way to break up the issue. This is labelled as a Google Code-in task so we need to make it as clear to students as possible. If it isn't taken by by end of the contest we can take it up ourselves as well.

[2016-12-19 07:11] ananyo2012 commented on #888
@jywarren Happy to know the Q&A system that I help develop is going to be featured at other sites as well :blush: I will help breaking up this issue. Before that I have to get acquainted with the code of `feature_controller` and _activity grids_ which are fairly new to me.

[2016-12-19 07:22] ananyo2012 commented on #843
@Pk13055 Just checking in if you are working  on this?

[2016-12-19 07:47] ananyo2012 commented on #1096
Ok I just missed this that; we can include inline maths with `\(..\)` So we can safely remove the `$..$` case which is a very common case.

[2016-12-19 07:58] Pk13055 commented on #843
Yes, I will submit a PR within the day. I was actually caught up with
something else.

On Dec 19, 2016 11:22 AM, "Ananyo Maiti" <notifications@github.com> wrote:

@Pk13055 <https://github.com/Pk13055> Just checking in if you are working
on this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/plots2/issues/843#issu

[2016-12-19 08:15] ananyo2012 commented on #843
Sure take your time.

[2016-12-19 08:18] fankee commented on #106
I would like to take this up if no one is working on it.

[2016-12-19 08:36] mridulnagpal commented on #1070
Cool, I tried it and it worked but cannot see a map on the page yet.

[2016-12-19 08:42] ananyo2012 commented on #106
@fankee This is actually reserved as a Google Code-in task. Can you take up other issues that aren't labelled with `gcin` label? You can look at [fto-candidate](https://github.com/publiclab/plots2/labels/fto-candidate) issues. They are close to becoming first-timer issues.

[2016-12-19 08:43] Pk13055 commented on #843
@ryzokuken  Can you link the function for `liked_by_users`? Can you also direct me to the code for the `like` button? I can get started on the pop-up menu for the same.

[2016-12-19 08:54] ananyo2012 commented on #843
Here is the code for answer like button https://github.com/publiclab/plots2/blob/master/app/views/questions/_answer.html.erb#L46
Here is the `liked_by` method https://github.com/publiclab/plots2/blob/master/app/models/concerns/node_shared.rb#L8-L10

[2016-12-19 09:19] ryzokuken commented on #843
Thanks for the help, @ananyo2012

[2016-12-19 09:39] ananyo2012 commented on #829
@jywarren Can you explain this a bit more? For the page https://publiclab.org/notes/warren/09-20-2016/building-the-stoft-stability-upgrade-for-desktop-spectrometry-starter-kit-3-0 the message of the top of the page should be like
[code]
Where should the "report back" link point to? Is it the parent research note that has the power tag. https://publiclab.org/notes/stoft/09-16-2016/stability-upgrade

[2016-12-19 09:40] ananyo2012 commented on #829
Btw https://publiclab.org/notes/stoft/09-16-2016/stability-upgrade-mockup-for-plab-spectrometer-3-0 doesn't show up. Recently I saw some pages that weren't showing. Found another few days back which I forgot to report.

[2016-12-19 10:53] Pk13055 commented on #843
@ryzokuken I've made the required changes, I think it should be solved. However, my repo has some changes that haven't been pushed which I don't want to include in this PR; how should I proceed such that my feature-branch only contains this latest commit?

[2016-12-19 12:43] numeroteca opened #1129 "RSS/feed of a user"
Is there a RSS/feed of one user's notes and questions?
thanks!

[2016-12-19 13:28] ryzokuken commented on #1111
What if the template for the corresponding type is not used as `$('your-input').value` but as the placeholder text instead? I'm sure there must be a jQuery binding for that, and if not, we can manually set the attribute. The placeholder would only show up if there is no text in the input and otherwise won't affect the text in any way.

@jywarren what do you think?

[2016-12-19 14:26] steviepubliclab commented on #899
+1 give reCaptcha a try. In terms of evaluating it on success, I'll have my
ears open as I work with people in setting up profiles, just anecdotal, but
still helpful I think.

-Stevie

On Fri, Dec 16, 2016 at 5:09 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-12-19 14:34] ananyo2012 commented on #843
@Pk13055 I hope you got through your problem?

[2016-12-19 14:44] ananyo2012 commented on #1129
Yes rss feeds for users are present. You can see them at the url `/feed/:author` where `:author` is the author name. Like this one https://publiclab.org/feed/ananyo2012.rss

[2016-12-19 14:44] #1129 closed

[2016-12-19 14:52] steviepubliclab commented on #1047
Hi Jeff,
Thanks for these. The visuals are really helpful. I think I prefer option
2. I was worried it would be busy, but I think this looks good, and I like
the size of the text buttons below.

A couple other thoughts:
- What do you think of moving the text that is below the text (search) box
to above it? Following down the page, it seems like you need to have text
in the box until you read furth

[2016-12-19 15:30] ananyo2012 commented on #299
Added this as a Google Code-in task.

[2016-12-19 15:56] ananyo2012 commented on #798
Well this is a special case of `question` power tags. So we can simply replace the the tagname that we get using the GET parameter like `params[:id].gsub('question:','')`

But I was thinking whether we can ask question for other power tags? If so we should deal with that too. @jywarren Thoughts on this?

[2016-12-19 16:16] Pk13055 commented on #843
Yes, I've submitted a PR regarding the same.

On Dec 19, 2016 6:34 PM, "Ananyo Maiti" <notifications@github.com> wrote:

[2016-12-19 16:18] Pk13055 commented on #843
@ananyo2012 Yes, the problem was a long time ago I hadn't properly created a branch and some commits always carried over to succeeding PRs; I created a new fork and (I hope) it shouldn't be a problem any longer.

[2016-12-19 16:53] ryzokuken commented on #899
@jywarren: I'd love to work on this as soon as we finalize the design.

[2016-12-19 20:29] jywarren commented on #1119
I think this needs some thinking through -- but what about if:

* [ ] subscriptions (such as `TagSelection`s, which along with `NodeSelection`s, are the primary means of subscribing) could have a type attribute -- like `type = immediate` or `type = weekly` or `type = daily`
* [ ] we developed a method like `DrupalTag.daily_digest_recipients` (or maybe `TagSelection.digest_recipients(period)`) whic

[2016-12-19 20:30] jywarren commented on #888
:-) Indeed-- i'm largely offline this week, but am happy to help think this through more. And am thinking about better docs for our code structure -- will upload an image soon and would love to add an "Architecture" section to the docs.

[2016-12-19 20:45] jywarren commented on #299
+1!

On Dec 19, 2016 10:30 AM, "Ananyo Maiti" <notifications@github.com> wrote:

[2016-12-19 20:45] jywarren commented on #1070
Hmm, perhaps you could look at the js console in the browser?

On Dec 19, 2016 3:36 AM, "Mridul Nagpal" <notifications@github.com> wrote:

[2016-12-19 21:17] mridulnagpal commented on #1070
It says Map container not found

On 20 December 2016 at 02:15, Jeffrey Warren <notifications@github.com>
wrote:

[2016-12-19 21:46] jywarren commented on #798
Ananyo, I'm not sure honestly... Sometimes I think there's a lot of
interesting unexpected functionality that could result from power tags. I
think catching if it starts with "question:" and treating it as a special
case makes sense.

On Dec 19, 2016 10:56 AM, "Ananyo Maiti" <notifications@github.com> wrote:

[2016-12-19 21:46] jywarren commented on #1070
Ah -- does the helper template in /app/views/map/map_helper contain the div
w id "map" that the helper is inserting the map into?

On Dec 19, 2016 4:17 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2016-12-19 21:46] jywarren commented on #1111
Oh I like this idea -- but the placeholder text won't appear in rich text
mode as it's not a textarea then.

On Dec 19, 2016 8:28 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-12-19 21:46] jywarren commented on #829
Could you look at how this is coded for Activities, which should be almost
identical?

On Dec 19, 2016 4:40 AM, "Ananyo Maiti" <notifications@github.com> wrote:

[2016-12-19 21:46] jywarren commented on #1129
It should be linked to from each person's profile!

On Dec 19, 2016 9:44 AM, "Ananyo Maiti" <notifications@github.com> wrote:

[2016-12-19 22:04] mridulnagpal commented on #1070
No its just the script tag in _leaflet no div tags

[2016-12-19 22:08] devinbalkind commented on #1069
Cool!

How do I get a feed of tools?

I tried https://publiclab.org/tag/tool:*.json but that didn't work for me.

Thanks.

On Tue, Dec 6, 2016 at 7:08 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-12-19 23:57] pyluftig commented on #1102
@jywarren and @mridulnagpal I would like to help with this one. I've done an upgrade in the past so let me know if you want my help.

[2016-12-20 01:03] pyluftig commented on #977
@jywarren and @ryzokuken I can do this one.

[2016-12-20 08:52] mridulnagpal commented on #1102
Yeah please do :)

On 20-Dec-2016 5:27 AM, "Paulette Luftig" <notifications@github.com> wrote:

[2016-12-20 12:41] wimpykid26 commented on #880
@jywarren . I would love to work on this. Could you give me some more information about what the issue is? :)

[2016-12-20 13:10] wimpykid26 commented on #428
@jywarren Hi!. This seems like something neccessary and doable. Could you kindly point me towards the neccessary code in order to do this. Also, How do I know that a particular use who is commenting , is banned ?. Thanks in advance. :)

[2016-12-20 13:41] jywarren commented on #977
Great, thank you!!

On Dec 19, 2016 8:04 PM, "Paulette Luftig" <notifications@github.com> wrote:

[2016-12-20 14:19] jywarren commented on #428
Users each have a `status` category which should be 1 -- docs here: https://github.com/publiclab/plots2/blob/master/app/models/drupal_users.rb

Great, please break this up into smaller sub-issues, so that multiple people can work on it at once, and also so that it's easier to assess (and write tests for) each step -- thank you! Moderation functions are especially important to thoroughly test and t

[2016-12-20 14:20] jywarren commented on #880
Hi, I think we may need to wait on another subscription-related issue for this (#1119), and I see you're interested in #428 -- so maybe let's tackle that first! Thanks!

[2016-12-20 14:26] jywarren commented on #1070
Ah - it needs a `div` with the right ID -- check out how it's done in /views/sidebar/_related.html.erb, for reference. And perhaps we should move the div into the helper template, since it'll usually be needed? Or people may want to style it differently and we should keep it outside?

Let's also create a new issue for this sub-issue, so we don't clutter the comments up for this umbrella-issue, sin

[2016-12-20 14:27] jywarren commented on #1069
I believe it's working at https://publiclab.org/tag/tool.json -- and please open a new issue if you have specific metadata or fields requests. Thanks!

[2016-12-20 14:49] mridulnagpal opened #1130 "move actual input form into a partial template for use in location entry across the site #1070"

[2016-12-20 14:58] mridulnagpal commented on #1130
@jywarren No more js console errors

[2016-12-20 15:13] ananyo2012 commented on #798
Ok Jeff let's make it simple for now, just treating question power tags as a special case. I am making this a first-timer issue and adding it as a Google Code-in task.

[2016-12-20 17:06] steviepubliclab opened #1132 "Inline grids redundantly display questions (on pages that already have a questions grid)"
I have been working on the [photo-monitoring](https://publiclab.org/wiki/photo-monitoring) page and noticed that the /updates section which I thought should just include Research Notes about the topic also includes questions. Is there anyway to parse these out since we already have Questions in a different space?

On another note, I didn't see the same thing happening when I looked the [Project Pa

[2016-12-20 18:07] steviepubliclab commented on #1132
Think I figured it out, if we tag questions with normal tags, they show up as Research Notes in the updates, but if they have the "question:" before, they only show up in the /questions tables. Is there anyway to make sure all question tags get the "question:" first so we don't overwhelm the tables as we start adding them to other wiki pages?

here's another one new for reference:
- https://public

[2016-12-20 20:20] ananyo2012 commented on #1096
Closed by #1125

[2016-12-20 20:20] #1096 closed

[2016-12-20 21:25] klie1 opened #1133 "Unable to Publish if note contains <form>"
### What happened just before the problem occurred
I wrote a research note in what is now considered the legacy editor.  When I clicked "Publish", the button lights up, but it never processes to the next page:
![screen shot 2016-12-20 at 3 22 21 pm](https://cloud.githubusercontent.com/assets/20325934/21368497/6c49fbc2-c6c8-11e6-8afe-7f708f216d76.png)

### Relevant URLs

https://publiclab.org/post?

[2016-12-21 02:00] devinbalkind commented on #1069
Nice.

Can I get:
* thumbnail image link
* full path (i.e. hyperlinkable)
* first 100 character description
* tags

THANK YOU!!!!

On Tue, Dec 20, 2016 at 9:27 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2016-12-21 05:39] marcmoy commented on #1072
Hi @jywarren, I can't seem to get the initial tests to pass. There seems to be something off about my ruby environment.

I think I am going to have to pass on this issue and allow someone else to tackle this.

Sorry about that

[2016-12-21 06:06] ananyo2012 commented on #1072
@marcmoy Can you state what errors are you getting? We can help you out. And since this is a first-timer issue we can take care of the tests. If you have setup the development environment you can move ahead with fixing this issue.

[2016-12-21 13:04] #843 closed

[2016-12-21 13:06] #1099 closed

[2016-12-21 15:51] Pk13055 commented on #1063
@ebarry Has this issue/feature been resolved yet? I would like to help out if required.

[2016-12-21 16:27] pyluftig commented on #977
hey @ryzokuken, I'm not clear which page this is broken on. would you mind sending me a link to where it's broken on your production version? Or maybe just a full page screenshot? I think I am supposed to be working on a question page but it looks different in the local environment so it's tough to say. Thanks!

[2016-12-21 16:29] steviepubliclab commented on #899
Hi,
Just an anecdote, I just had a call with a new community member who had a
lot of trouble with the current log in. Specifically, she couldn't tell how
the 4 questions were set up (as in choose one from each row).
Alternatively, she signed up for a google group on the phone with me as
well with a reCaptcha. She was confused at first on it, but then it went
really quickly as soon as she clicked i

[2016-12-21 19:25] ebarry commented on #1036
Hi @shaduk , hope your semester has wrapped up in good order! Winter holidays are starting, so please pardon any delays from our end if you re-start work on this.

[2016-12-22 01:13] Fastie opened #1134 "The "$" character causes a (Markdown?) formating error in research notes and wikis."
The $ character in research notes or wiki pages is apparently being parsed as a formating code. The text immediately following the $ is displayed in a bold, italic, fancy typeface. Not all instances of the $ character cause the unwanted formating.

Example URLs
https://publiclab.org/questions/jfd/12-14-2016/video-infragram
https://publiclab.org/wiki/replacement-parts-for-the-makerbot-replicator-1-

[2016-12-22 01:20] Fastie opened #1135 "Photos in galleries in old research notes do not display in popup"
Research notes once had galleries of images. These were ported to the plots2 site and appear as a row of icons at the top of some old notes. Clicking on these thumbnails would pop up each photo. Now those photos do not pop up.

Example URLs
https://publiclab.org/notes/elainechoi89/7-5-2012/tyvekbamboo-kite-workshop-pfizer-building-brooklyn-ny
https://publiclab.org/notes/cfastie/4-14-2013/sanm-leaf

[2016-12-22 05:55] ryzokuken commented on #977
@pyluftig sorry for the delay. Here's the screenshot from when I tried to recreate this issue.

![screenshot_2016-12-22_11-17-58](https://cloud.githubusercontent.com/assets/13121330/21416385/776a1f0c-c838-11e6-8a94-14744ca620f7.png)

The page that you need to fix is `app/views/questions/show.html.erb`.

Here's the comment area: https://github.com/publiclab/plots2/blob/master/app/views/questions/sh

[2016-12-22 13:21] jywarren commented on #1134
Hi Chris, thanks for reporting - theses already a fix made for this, it's just pending publication -- happy holidays! Should go up in coming days.

[2016-12-22 13:21] #1134 closed

[2016-12-22 13:22] jywarren commented on #1135
These used a JavaScript plugin, so is it possible to look in the JavaScript
console to see if there are any errors?

Thanks!

On Dec 21, 2016 8:20 PM, "Fastie" <notifications@github.com> wrote:

[2016-12-22 15:21] ananyo2012 commented on #1133
@klie1 Can you check this once more? I wasn't able to reproduce it. I was using Chrome too.

[2016-12-22 15:24] ananyo2012 commented on #1133
Just to remind if you don't put a feature image an alert shows up first and you have to press the publish button again. Did the same thing happen?

[2016-12-22 15:28] ananyo2012 commented on #1033
Closing this as we have a gitter chat button in our readme now!

[2016-12-22 15:28] #1033 closed

[2016-12-22 16:08] klie1 commented on #1133
Hi @ananyo2012 thanks for helping out :)  So, the problem wasn't actually the problem, ha.
I isolated the issue to specific form code that I was attempting to use:

[code]

I deleted the form code and was able to post the note, so this is no longer urgent.  I'll update the title of the issue.

[2016-12-23 16:16] ananyo2012 commented on #977
@pyluftig I have broken up the issue and added further description to make it easier to solve the issue. Follow these steps to solve the issue.

[2016-12-23 16:24] ananyo2012 commented on #869
Closing this one as it is no longer occurring.

[2016-12-23 16:24] #869 closed

[2016-12-23 16:44] ryzokuken commented on #977
@ananyo2012 all that was left to do was to make it an FTO :P

[2016-12-23 16:54] ananyo2012 commented on #977
Done :stuck_out_tongue:

[2016-12-23 16:58] ananyo2012 commented on #673
I think we should continue using power tags as it provides much flexibility and power tags are a major development strategy used for plots2. Thus closing this issue.

[2016-12-23 16:58] #673 closed

[2016-12-24 08:13] Pk13055 commented on #1117
@whoisjstn Are you still working on this?

[2016-12-24 08:16] Pk13055 commented on #977
@pyluftig Are you still working on this?

[2016-12-24 08:22] ananyo2012 commented on #1117
Yeah here is the PR regarding this https://github.com/publiclab/plots2/pull/1122

[2016-12-24 08:24] Pk13055 commented on #884
@jywarren I took a look at the post; how do you suggest content should be divided? Maybe  a post by a user can be made an answer and all subsequent posts by said user the comments? (also adding posts by other users referencing the first to the comments as well)

[2016-12-24 14:53] ananyo2012 commented on #884
I think this will need a complete redesign of the question page. Since there are different types of content present like wikis, research notes, and questions. So we need to differentiate all these contents. These are some points that we need to tackle
- First the answer editor is pretty similar to the comments editor in research notes. So we may need to come up with a different design for that
- C

[2016-12-25 18:57] pyluftig commented on #977
I haven't gotten to it at all because I've been away for Christmas. If it's
done, that's okay. :)

On Sat, Dec 24, 2016 at 12:16 AM, Pratik Kamble <notifications@github.com>
wrote:

--
*Paulette Luftig*
Software Engineer

(m): 510-710-7285

*'**Proud 2015 Gartner Cool Vendor*

[2016-12-26 20:09] Pk13055 commented on #884
I can start working on the comments toggle button; making comment appear immediately after the answer should be fairly easy to do.
How about using a different font size for the comments and answers? That would help differentiate without altering the overall aesthetic of the page.
Also, contrary to what you suggested, how about keeping the answer/comment style the same as the research notes? Defini

[2016-12-26 20:31] Pk13055 commented on #977
#1139 Please review @ryzokuken

[2016-12-26 21:24] jywarren commented on #1003
Completed -- spectrometer and balloon mapping pages fixed!

[2016-12-26 21:24] #1003 closed

[2016-12-26 22:19] jywarren opened #1141 "Display rich editor when editing a research note"
We now default to the rich editor on https://publiclab.org/post (needs login), but not when editing a note.

We have a switch in the controller to use the rich editor:

https://github.com/publiclab/plots2/blob/master/app/controllers/notes_controller.rb#L154

We should now reverse this, so that the rich editor is default, and the legacy editor is only used if the URL includes `params[:legacy]` -- a

[2016-12-26 22:30] jywarren commented on #1117
Accepted and complete!

[2016-12-26 22:30] #1117 closed

[2016-12-26 22:47] #873 closed

[2016-12-26 22:49] jywarren opened #1142 "Solr tests failing as of recent Solr containerization changes"
A recent set of changes by @icarito to move solr testing into an independent container (#1109) causes this in the TravisCI tests:

`Sunspot::Solr::Server::JavaMissing: You need a Java Runtime Environment to run the Solr server`

I see this was happening in the original merge here:

https://travis-ci.org/publiclab/plots2/builds/184358852

These two dependencies were removed:

`openjdk-7-jre openjdk

[2016-12-26 22:54] jywarren commented on #1142
If #1143 passes, I'll merge it and we'll figure out how to separate out Java later, once we can get it to not fail TravisCI tests. No big rush on this, though, @icarito, don't let me interrupt any holidays you may be taking!

[2016-12-26 23:01] jywarren commented on #977
Thanks all - also been away due to Christmas. I'd like to defer to @ryzokuken and @ananyo2012 as to whether the solution is correct, as @ananyo2012 in particular has done a great job describing each thing that needs to be fixed. I think it'd be best to pull this code locally and test it out to confirm.

Thank you!!!!

[2016-12-26 23:34] jywarren commented on #1133
Should we be able to include forms in posted content? If so, we can write a test for this and reproduce the error, then fix it. Also, it may be worth testing in the "Markdown mode" of the new rich editor, to try to see what error actually occurs.

[2016-12-26 23:46] #1142 closed

[2016-12-27 03:21] jywarren commented on #1134
Fixed and published now!

[2016-12-27 05:36] #132 closed

[2016-12-27 05:49] jywarren opened #1144 "add additional fields to JSON API calls for wiki pages"
@devinbalkind requested as a followup to #1069, the following fields for wiki pages:

* thumbnail image link
* full path (i.e. hyperlinkable)
* first 100 character description
* tags

These should be pretty easy; the JSON is rendered here:

https://github.com/publiclab/plots2/blob/master/app/controllers/tag_controller.rb#L54

We could break that up into multiple lines, something like this:

[code]

[2016-12-27 06:29] jywarren commented on #1099
Hi, @pyluftig - just wanted to say thanks again and this is now working:

https://publiclab.org/about (click the caret next to the page title to expose the tabs)
https://publiclab.org/wiki/tag/locked (screenshot included)

[2016-12-27 19:16] Pk13055 commented on #1144
I would like to work on this issue; though I don't know how to test this.

[2016-12-27 19:31] jywarren commented on #1144
Hi, @Pk13055 -- i think that in the linked-to test above, you could add additional assertions of the contents of the JSON resposne -- see how the test decodes the JSON it receives back, and then checks what's inside the response? We'd want to look for each of the new fields we're appending, like `['tags']` -- make sense?

[2016-12-27 23:30] jywarren commented on #884
I think we do need to break this up, yes. I like the idea of `remove the toggling feature` -- that can be broken into its own issue, please! And I think that if the comment prompt below each answer were shown by default, many people who are reading an answer would just comment there, instead of searching below further for a place to reply, and mistakenly replying in the form of a new answer.

See

[2016-12-27 23:31] jywarren commented on #884
Also notice how [Stack Overflow's interface](http://stackoverflow.com/questions/3624927/strange-doublerendererror-in-rails-3) has the button say `Post your answer` and not just `Publish` -- a good reminder that when you're posting in that form, you're supposed to be supplying an answer.

Perhaps that change could make a good first-timers-only issue?

[2016-12-27 23:44] jywarren commented on #899
Looking carefully at the 4-question system, I think there are multiple issues at stake here:

1. It says to "answer questions", but instead of questions there are these "bars" where you choose one of two options -- with no further explanation
2. It's not clear that you need to choose one of each pair, which could be made more clear by breaking them up and numbering them 1-4, prompting with "For ea

[2016-12-27 23:46] jywarren commented on #899
That is to say, I think that we haven't fully explored why the four-question system is difficult for people, and hearing from Stevie and others, and carefully looking at it, suggests to me that it's not just the content of the questions that's at issue, but that there may be more we can easily do to dramatically improve the system without taking on the project of re-integrating reCaptcha -- if we

[2016-12-28 00:31] jywarren commented on #1132
Some notes are tagged with both `stormwater` and `question:stormwater`, for example -- which would make them appear in both. We currently have the `Ask a question about X` buttons set up this way. We could remove it but I'd worry that the questions wouldn't show up in tag listings, for example.

We don't currently have a way to exclude a tag from a listing, and the main reason is that the syntax w

[2016-12-28 00:48] jywarren commented on #146
Merging into #1097.

[2016-12-28 00:48] #146 closed

[2016-12-28 03:31] icarito commented on #1142
Thanks Jeff,

I'll take this up again this week possibly today.

Regards,

Sebastian

On 26/12/16 17:54, Jeffrey Warren wrote:

[2016-12-28 04:01] ryzokuken commented on #1141
@jywarren perhaps I could pick this one up?

[2016-12-28 08:55] Pk13055 commented on #884
@jywarren The idea of showing the open comments box is good; maybe push the "post an answer" part after said comment box? Something like this:
![image](https://cloud.githubusercontent.com/assets/13479308/21517998/c4f18184-ccfc-11e6-953b-d656b126a6e7.png)
And after that:
![image](https://cloud.githubusercontent.com/assets/13479308/21518012/d921c13c-ccfc-11e6-9c7e-f59f97209e58.png)

[2016-12-28 13:07] jywarren commented on #1141
Super!

On Dec 27, 2016 9:01 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-12-28 13:08] jywarren commented on #884
Hi, didn't quite understand the second image, can you articulate further?
Thanks!

On Dec 28, 2016 1:55 AM, "Pratik Kamble" <notifications@github.com> wrote:

[2016-12-28 13:11] ryzokuken commented on #1141
@jywarren should i wrap the code for the rich text editor in a `rich` method as the sample you provided does?

[2016-12-28 13:14] jywarren commented on #1141
No, now that it's a default, I think just the conditional switch that already exists should be fine. Thanks!

[2016-12-28 15:44] mridulnagpal commented on #1070
@jywarren I think #1130 is resolved in #1131. Please review.

[2016-12-28 16:41] Pk13055 commented on #1144
How does this look:
`
 test "tag show JSON" do

    get :show, id: tags(:spectrometer), format: 'json'

    assert :success
    assert_not_nil :tags

    json = ActiveSupport::JSON.decode(@response.body)

    assert_not_nil json
    assert :preview
    assert :image
      assert :tags
  end
'

[2016-12-28 17:54] #1141 closed

[2016-12-28 20:43] Pk13055 commented on #884
This format seems good:
![](https://cloud.githubusercontent.com/assets/13479308/21517998/c4f18184-ccfc-11e6-953b-d656b126a6e7.png)
What I meant to say was that if this format is followed then I don't think we'd need to collapse the "Post an answer section"; people will (hopefully) understand, it'll be verbose enough if we implement the above format, don't you think? Changing the button title to so

[2016-12-28 21:16] jywarren commented on #1144
Let's just start with testing the first returned item, which will make
future code changes easier without changing what this test expects. I think
your code looks good but you should try running it to see what you get!
And/or upload a new commit and let TravisCI run tests for you.

I'm happy to help (though I'm traveling at the moment so can't always reply
immediately) and trial and error with tes

[2016-12-28 21:56] #1130 closed

[2016-12-28 22:01] jywarren commented on #1070
Yes -- thanks! If you'd like to tackle the next two here, they have to do with Leaflet JavaScript work.

[2016-12-28 22:07] jywarren commented on #884
Yes please do create the issue, thanks! And i think you may be right; let's
do the first step, and not yet collapse the answering section until we
re-evaluate for a few weeks of letting people use it. Thank you!

On Wed, Dec 28, 2016 at 3:43 PM, Pratik Kamble <notifications@github.com>
wrote:

[2016-12-29 00:05] mridulnagpal commented on #1070
@jywarren Yeah sure

[2016-12-29 00:16] mridulnagpal opened #1148 "Display a dot at the center of the map, that stays fixed at the center as you pan the map underneath/around it #1070"
### What happened just before the problem occurred

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.or

[2016-12-29 00:16] mridulnagpal commented on #1148
@jywarren How do I proceed on this one?

[2016-12-29 01:57] ryzokuken commented on #1135
@jywarren Anyone working on this?

[2016-12-29 02:04] ryzokuken commented on #1111
@jywarren What exactly did we decide on, then?
Perhaps we could insert the data into the fields empty and skip the fields that already have some data inside them. This would push actual data (not placeholder text) inside the fields but at the same time, not write over the existing data.

[2016-12-29 03:16] abbastailor commented on #798
I am participating in Google Code-in and want to work on this issue.This would also be my first open-source contribution.

[2016-12-29 05:03] ananyo2012 commented on #798
@abbastailor Please claim this task first. Then you can start working on this issue. I hope you have already found the task.

[2016-12-29 15:34] Pk13055 commented on #1036
@shaduk Are you still working on this? Do you need help?

[2016-12-29 15:38] jywarren commented on #1135
Not that I know of! Go for it.

On Dec 28, 2016 8:57 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-12-29 15:39] jywarren commented on #1148
I see you opened a PR and responded there. Thanks!

[2016-12-29 15:39] Pk13055 commented on #956
@jywarren Have all the refactoring tasks been taken up?

[2016-12-29 15:41] jywarren commented on #1111
I agree with this -- and additionally that we could insert the appropriate
template text at the bottom of the post, as GitHub Saved Replies does?

On Dec 28, 2016 9:04 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-12-29 16:33] ryzokuken commented on #1111
@jywarren Just checked it out. Github's saved replies adds a newline and appends the new message at the end of the current buffer. I guess this would be best for us as well. However, if the user repeatedly changes the value on the dropdown, the sample text will keep on adding. Is this desirable?

[2016-12-29 16:38] jywarren commented on #1111
Hmm... It's a bit of an odd interface. Maybe we need to rethink how it
should work more broadly, but one difference might be that if all that's in
the textarea is another template, it might replace the template instead of
adding to it?

What if, once you choose one and begin typing into the textarea, this menu
were disabled? Since it's more of a starting point rather than a useful way
to add conte

[2016-12-29 16:39] jywarren commented on #1135
Can you monitor the "network" pane of the chrome dev tools to see if any
image file is loaded, but not shown? And, can you double check the
JavaScript that's being used to trigger the show, that it's correctly
formatted? Perhaps you could try to trigger it yourself from the JavaScript
console to test that out.

On Dec 29, 2016 11:37 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-12-29 16:41] ryzokuken commented on #1111
Totally a stupid thought, but we could make an "Insert Template" button with the same functionality. Just like Github calls it "Insert a saved reply". This way, merely switching between modes won't make much of a difference, but rather they'd have control over when to insert the corresponding reply to the textarea. This way, they could swap the different options without worrying about having to cl

[2016-12-29 16:47] jywarren commented on #1111
Hmm, sorry but what exactly would it do? Just the same as saved replies,
and we add a button instead of switching immediately when another option is
selected in the menu?

Would we move the menu?

On Dec 29, 2016 11:42 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-12-29 16:47] ryzokuken commented on #1135
@jywarren Nope, it's preloading all the images and then must be trying to show them later but with no avail. In my case, all the images (yes, the images not the thumbnails. I checked :P) loaded almost as soon as the page did.

[2016-12-29 16:49] ryzokuken commented on #1111
Yes. It'd insert an appropriate template corresponding to the selected value from the dropdown.

[2016-12-29 16:49] jywarren commented on #1135
Hmm, use the Dom inspector to inspect the elements themselves and see why
they're not showing?

On Dec 29, 2016 11:47 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-12-29 16:52] jywarren commented on #1111
What if as soon as you interact with the textarea it begins the "insert"
behavior but before then it just changes on selecting, with no button shown
yet? Is that too hybrid?

On Dec 29, 2016 11:49 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-12-29 16:56] ryzokuken commented on #1111
If I interpreted what you said correctly, we could check if the user has interacted with the textarea since the last update/append. If no interaction has taken place, then swap the templates, otherwise append. How does this sound?

[2016-12-29 16:58] jywarren commented on #1111
Or even use a listener to check if they've clicked or typed into the
textarea, and change the interface based on that. Yes! Let's try this and
see how people like it.

On Dec 29, 2016 11:56 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-12-29 17:00] ryzokuken commented on #1111
Let's decide on the exact functionality and then I'd try my best convert it into code. We could always change it later to better suit people's needs.

[2016-12-29 19:28] jywarren commented on #1111
Let's start with a simple case and just replace the content until someone
interacts with the text area, then append it. How's that sound?

Thanks!

On Dec 29, 2016 12:01 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2016-12-29 19:57] jywarren commented on #931
I went ahead and submitted a fix for this just now -- in #1151!

[2016-12-29 20:15] #931 closed

[2016-12-30 03:48] ryzokuken commented on #1111
Yes, that sounds pretty do-able (if that's a word). I'd look into the Javascript side of things (because we're using Bootstrap, I assume we're also using JQuery, right?) and come back to you.

[2016-12-30 05:21] BrainBuzzer commented on #798
I don't know if I am doing this right so just asking. Should that line be looking like this.

    <% unless @wildcard %><p style="clear:both;padding-top:8px;"><a style="margin-bottom:6px;" class="btn btn-primary" href="/post?tags=question:<%= params[:id] %>&template=question&redirect=question"><i class="fa fa-white icon-question-circle"></i> <%= raw t('tag.show.ask_question', :tag => params[:id])

[2016-12-30 06:56] ananyo2012 commented on #798
@BrainBuzzer You need to do the same for each occurrences of `params[:id]` in that line.

[2016-12-31 18:13] jywarren commented on #1111
Yep, that sounds great!

[2016-12-31 18:16] #798 closed

[2016-12-31 18:19] #425 closed

[2016-12-31 18:23] jywarren commented on #397
#1114 merged -- now just need the same but for the wiki `update` action!

[2017-01-01 12:08] 500swapnil commented on #397
I have added a PR #1155 for update action. Please have a look!

[2017-01-02 02:36] ananyo2012 commented on #711
@petersowah Yes go ahead with it. Since @Squawk09 hasn't still replied you can take up this isssue now. You can contact us in our gitter channel if you need any  help.

[2017-01-02 07:02] Mcosta02 commented on #1072
Hi @jywarren. I haven't made open source contribution yet. It's my first time and would like to claim this issue if there is no one checking.

I've heard about this project at up-for-grabs.net
Many Thanks

[2017-01-02 13:41] petersowah commented on #711
@ananyo2012 I sent in a PR

[2017-01-02 14:40] ananyo2012 commented on #711
Yeah just checking it

[2017-01-02 15:59] ryzokuken commented on #1135
@jywarren
![screenshot_20170102_212238](https://cloud.githubusercontent.com/assets/13121330/21592244/e7f07bde-d131-11e6-852d-f3a376334e12.png)
If you notice, the `display: block` property is crossed out. This is because it is being overridden by another rule. Quite evidently, it is the rule for the class `.hide`. Not only is it above the element rule because of precedence, it has this pesky `!impo

[2017-01-03 15:59] jywarren commented on #1135
Oh, good find! Can you see where the .hide class is defined in
/app/assets/stylesheets/ (or maybe in a library dependency?), and perhaps
we can disambiguate it? I think it'll have been compiled into
application-xxxxxxxx.css but in development mode you'd see the uncompiled
version.

On Mon, Jan 2, 2017 at 10:59 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-01-03 17:11] icarito opened #1159 "Avoid to convert huge animations"
![oglwmu](https://cloud.githubusercontent.com/assets/199755/21615981/ce5babea-d1ad-11e6-9999-e142e93f53f2.gif)
### What happened just before the problem occurred
Big gif animation was uploaded.

### Relevant URLs
(I've attached the culprit image)

### PublicLab.org username
icarito

(to help reproduce the issue)

### Browser, version, and operating system
Any

For bug reports, fill out the above t

[2017-01-03 17:17] jywarren commented on #397
I'm going to reopen and suggest one more addition -- a test that admins do not get redirected, but can indeed both `edit` and `update` locked wiki pages. @500swapnil - any interest in this last one? It'd just be two tests.

Thanks!!!

[2017-01-03 17:31] jywarren commented on #397
Also, i'd like to request that this line be modified to link to the `/wiki/edit/pagetitle` rather than the `/wiki/locked` URL if the current user is an "admin" or "moderator":

https://github.com/publiclab/plots2/blob/master/app/views/wiki/show.html.erb#L45

That way it's easier for admins and mods to actually make edits!

[2017-01-03 17:33] icarito commented on #1159
Note this is a Denial of Service for Publiclab.Org @jywarren @ebarry

[2017-01-03 17:45] ananyo2012 commented on #1159
Hmm a Google Code-in student just asked me whether he could upload a gif. It might be this one. Is the research note published yet?

[2017-01-03 17:52] icarito commented on #1159
@ananyo2012 yes please make him stop it's bringing the server down :-)

[2017-01-03 17:53] icarito commented on #1159
@jywarren can we accomodate these animations perhaps by uploading manually for now until we can fix this issue?

[2017-01-03 17:56] icarito commented on #1159
@jywarren last time something like this happened with **Mapknitter** I had a loop renicing every `convert` process but that was an ugly hack. I can look it up again.

[2017-01-03 17:59] icarito commented on #1159
The following is currently running in the server, need to restart nginx to reset process queues:

[code]

[2017-01-03 18:10] ananyo2012 commented on #1159
@icarito Uh so I think it's already uploaded. So you have to tackle it this time. In case the gif doesn't show up I can ask the student to upload it somewhere else and include the link in the research note.

[2017-01-03 18:16] icarito commented on #1159
Thanks @ananyo2012  I think it's over for now. @jywarren - Since `convert` takes a long time, it's taking up the request queue so I've gone ahead and doubled its size to 200 (passenger_max_request_queue_size 200;) - it should avoid this particular queue exhaution - I could disable the queue entirely setting it to 0 but then we run the risk of exhausting memory.

[2017-01-03 18:17] icarito commented on #1159
I'll leave the renicing loop running preemptively until we have a fix for it.
Thanks everyone!

[2017-01-03 18:18] icarito commented on #1159
@ananyo2012 in any case it looks like he's still uploading images or they are queued for converting to numerous sizes.

[2017-01-03 18:39] jywarren commented on #1159
Hi, all, thanks for the quick responses.

@icarito - what are the limits we particularly want to impose -- file size for `convert`able images? i.e.:

1. if file is an image
2. if file is > x MB

and should we:

A. reject such large files
B. accept them but not resize them (with some switching logic)
C. reject such files if they are images

Our image model is here: https://github.com/publiclab/plot

[2017-01-03 18:42] icarito commented on #1159
A priori I would not reject images, but would try to convert them in a less expensive way - like we do on MapKnitter.
It would be a good opportunity to look for alternative ways to do this?

[2017-01-03 18:42] jywarren commented on #1072
Hi, yes please! We're happy to offer any help you may need as well. Sorry for the slow reply on the holiday!

[2017-01-03 18:44] jywarren commented on #1159
Hmm, on MapKnitter, do we cage the processes in an ionice when they're triggered? Is it possible to... somehow intercept or alias `convert` on the machine to accomplish this? I think we're much more directly calling `convert` on MapKnitter than here, where the `paperclip` library manages it.

[2017-01-03 18:47] icarito commented on #1159
By the way I found the queue full again, so passenger_max_request_queue_size to 0. And yes, it's possible to wrap `convert` - perhaps even make it into a process queue? I'll look at it.

[2017-01-03 18:48] icarito commented on #1159
By the way I wrote to the uploader at https://publiclab.org/notes/sanchittechnogeek/01-03-2017/translating-project-files-using-transifex

[2017-01-03 19:00] 500swapnil commented on #397
@jywarren Yeah I can add. But where should I add the test?

[2017-01-03 19:36] jywarren commented on #397
You could put it alongside the ones that test disallowing normal users'
edits. Thanks!

On Tue, Jan 3, 2017 at 2:00 PM, Swapnil Gupta <notifications@github.com>
wrote:

[2017-01-03 20:42] jywarren commented on #904
Note from open call via @ebarry  -- numbered steps are really helpful for guiding others through the new rich editor -- should add them here too.

[2017-01-03 20:53] #828 closed

[2017-01-03 21:22] #1144 closed

[2017-01-03 21:58] jywarren commented on #711
Solved by @petersowah in #1158! Thank you! 🎉

[2017-01-03 21:58] #711 closed

[2017-01-03 22:00] jywarren commented on #910
Looks like this is now complete!! Closing.

[2017-01-03 22:00] #910 closed

[2017-01-03 22:25] 500swapnil commented on #397
I made a PR #1163. Please have a look.

[2017-01-03 23:53] devinbalkind commented on #1144
What's the right URL to get this feed? I tried https://publiclab.org/tag/tool.json and the results aren't a list of tools.

[2017-01-03 23:55] jywarren commented on #1144
Tools are wiki pages, so: https://publiclab.org/wiki/tag/tool.json

It looks like we're supplying the image record, not the image URL; will file a followup issue.

[2017-01-03 23:56] jywarren commented on #1144
Here's one tool:

[code]

[2017-01-03 23:56] devinbalkind commented on #1144
Ahhh yes. Splendid! Thanks.

[2017-01-03 23:58] jywarren commented on #1144
Submitted a fix here, waiting for tests to run: https://github.com/publiclab/plots2/pull/1164/files#diff-a8eb2425ebeb0814d010864bb014e815

[2017-01-04 00:12] jywarren commented on #1144
Complete -- should go out with new code later this week. https://github.com/publiclab/plots2/pull/1164

[2017-01-04 01:46] Mcosta02 commented on #1072
Hi, I've opened a pull request to merge it.
I hope I've done everything properly, please feel free to make any comments or suggestions.

Cheers.

[2017-01-04 14:29] ryzokuken commented on #1135
@jywarren Can I reproduce this issue locally? If these are the old notes, maybe I cannot recreate them. Nevertheless, I'll look for this class in the css.

[2017-01-04 14:33] ryzokuken commented on #1135
@jywarren What is the name of the javascript library? None of our own CSS files contain such a class.

[2017-01-04 15:33] jywarren commented on #1135
Ah, this is true about locally... ummmm. things that are hard to reproduce are hard to solve!

I /think/ the library is included via bower.json:

`    "bootstrap-lightbox": "jbutz/bootstrap-lightbox#~0.5.0",`

[2017-01-04 15:35] jywarren commented on #1135
the style is in `/public/lib/boostrap-lightbox/less/`

[2017-01-04 15:36] jywarren commented on #1135
Perhaps we could swap for a different "lightbox"-style plugin that doesn't use that. But I'd guess the conflicting style is from the main `bootstrap` library, so maybe this is a version mismatch issue?

[2017-01-04 15:38] jywarren commented on #1135
[code]

This line sticks out to me:

[code]

[2017-01-04 15:41] jywarren commented on #1135
Indeed, there have been releases since we included it: `v0.7.0`:

[2017-01-04 15:41] jywarren commented on #1135
https://github.com/jbutz/bootstrap-lightbox/releases -- maybe we should upgrade?

[2017-01-04 15:42] jywarren commented on #1135
`.hide` is no longer used: https://github.com/jbutz/bootstrap-lightbox/blob/master/less/bootstrap-lightbox.less

last update was for Bootstrap 3.1 compatibility.

[2017-01-04 15:44] jywarren commented on #1135
So let's bump to `v0.7.0` and see what happens in staging server?

http://testing.laboratoriopublico.org (once we merge to stable it'll publish there)

[2017-01-04 16:40] steviepubliclab opened #1166 "page view count"
### What happened just before the problem occurred

It looks like the view count on the public lab wikis pages aren't working right now. Hard to tell if the same is going on for the Research Notes, I've seen some with really low counts that should be high (such as this one https://publiclab.org/notes/lenagd/12-20-2016/citizen-science-investigations-aka-common-legal-issues-when-using-community-sour

[2017-01-04 16:52] jywarren commented on #1166
I believe @yukiisbored just implemented a new counter system, but perhaps the old view counts weren't added into the new system. @yukiisbored @ananyo2012 is there a way we can run a new migration to fetch the view counts from the old system, perhaps with the now-deprecated code:

[code]

and insert `impressionist` counts with null IP addresses?

[2017-01-04 17:17] ananyo2012 commented on #1166
@jywarren Uh quite a similar thing that happened back when I tried to integrate `friendly_id` for updating slugs. It didn't save the old view count. Looking for a possible solution.

[2017-01-04 17:42] ryzokuken commented on #1135
@jywarren so, do I make a small PR for https://github.com/publiclab/plots2/blob/master/bower.json#L7?
Going to bed today, but will do whatever works for you tomorrow. :)

[2017-01-04 17:55] jywarren commented on #1166
I believe the existing `self.drupal_node_counter.totalcount` values should still be there, so it should be a matter of testing in the rails console if it's possible to increment the impressionist counter manually without needing to supply unique IP addresses; once solved, we might simply add a few lines to a new migration file to do so automatically in a new PR.

[2017-01-04 18:04] ananyo2012 commented on #1166
There are two ways to solve this problem -- by setting a initial count to the `totalcount` field to the counter. Or we can store unique ip addresses in the `impressions` table which seems to be a tedious one. The first one seems to be an easier solution.

[2017-01-04 18:48] jywarren commented on #1135
Yep, that's right! Thanks!

[2017-01-04 18:55] jywarren opened #1167 "Add additional links to admin menu"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-01-04 18:57] #291 closed

[2017-01-04 19:03] jywarren commented on #1072
Checking it out now!

[2017-01-04 19:09] krys2fa commented on #1167
Hello Jywarren, I would like to work on this issue. Kindly let me know how to proceed further.

[2017-01-04 19:29] ananyo2012 commented on #1167
Oh this was very fast! :smile: First-timer issues are really drying up fast! @krys2fa Install the app according to the steps given in readme first. Then add the links in header.

[2017-01-04 20:32] jywarren commented on #1167
Very happy to have your contribution, please ask if you need help!

[2017-01-04 20:44] #977 closed

[2017-01-04 21:24] #397 closed

[2017-01-04 22:51] jywarren commented on #1070
https://publiclab.org/locations/form

[2017-01-05 05:59] ananyo2012 commented on #775
Sure :blush: Happy to offer any help!
ᐧ

On Thu, Jan 5, 2017 at 10:13 AM, Gaeun Kim <notifications@github.com> wrote:

[2017-01-05 07:54] Pk13055 commented on #1166
@ananyo2012 I'm willing to work on this issue if you reach a stand on which method to use.

[2017-01-05 08:05] ananyo2012 commented on #1166
@Pk13055 I suggest the first one. Let @jywarren reply what should be the previous view counts.

[2017-01-05 10:31] mridulnagpal opened #1170 "Get an integer lat/lon grid to show up on the map #1070"
### What happened just before the problem occurred

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.or

[2017-01-05 12:55] krys2fa commented on #1167
Thanks jywarren, i've just submitted a pull request. Let's see how it goes. :)
I've been waiting for a first-timer issue to contribute to for some time now. Lol

[2017-01-05 13:09] ananyo2012 commented on #1167
@krys2fa Great! :smile: Left a review!

[2017-01-05 13:31] kanpeki commented on #1167
Hi, so is this issue unavailable now? I see that no one is assigned yet, even though someone offered to help out. I would like to contribute, but it's my first time and I am unsure of the process (aka if it's OK to work on this issue or not). Please let me know.

[2017-01-05 13:39] ananyo2012 commented on #1167
@kanpeki This is already claimed. Actually you can't assign someone a issue who isn't a member of the org. That's why we use a first-timer issue template which has a checklist. You can have a look at other  [fto-candidate](https://github.com/publiclab/plots2/labels/fto-candidate) issues. They are close to being first-timer issues.

[2017-01-05 14:11] kanpeki commented on #1167
@ananyo2012 Ok, will do. Thank you for the prompt answer.

[2017-01-05 15:13] hitesharora19 commented on #1167
Hello, I would like to work in this issue.

[2017-01-05 16:27] #1072 closed

[2017-01-05 16:48] ananyo2012 commented on #1167
This issue is claimed. You can have a look at other [fto-candidate](https://github.com/publiclab/plots2/labels/fto-candidate) issues. They are close to being first-timer issues.

[2017-01-05 16:48] jywarren commented on #1167
Hello, this is already being resolved in #1167. Thank you!

[2017-01-05 18:53] #1167 closed

[2017-01-05 18:58] jywarren commented on #1166
Hi, Ananyo - can you elaborate on your first suggestion? I think
`drupal_node_counter.totalcount` should still have the original counts --
how would we get impressionist to recognize that, or could we run a batch
script (in a Rails Migration) to add that number to Impressionist? I think
we should look at the Impressionist docs to see how this can be done.

On Thu, Jan 5, 2017 at 3:05 AM, Ananyo Ma

[2017-01-05 23:27] ebarry commented on #899
Updating this issue to report in that I heard from @steviepubliclab that at the last in-person Mapknitter workshop, 50% of the attendees were unable to get through our login screen on their own, and needed to be helped by at their individual computers one by one. Let's discuss the prioritization of this issue? Right now it's not prioritized but perhaps should be.

[2017-01-06 04:07] jywarren commented on #899
Hi, thank you -- would you two be able to take a look at my suggestions and offer input on next steps? Thank you, i know it got lost over the holidays.

[2017-01-06 04:39] ananyo2012 commented on #1166
@jywarren No the `totalcount` got updated and recalculated as the `totacount` field is added as the counter_cache column. See [this line](https://github.com/publiclab/plots2/blob/master/app/models/drupal_node_counter.rb#L7).

Briefing the technique how impressionist calculates the `totacount` -- Whenever a controller request is made a new record is created in the `impressions` table ( see [this mi

[2017-01-06 16:17] jywarren commented on #1166
Oh, that's unfortunate :-(

Well, we have staging data from not too long ago. And I can ask Sebastian
how accessible last weeks database dump is.

Please keep an eye out for changes that can irreversibly destroy data -- we
were lucky that this time it's only pageviews.

Ananyo - can you tell how we are able to add our recovery data to
totalcount again without Impressionist recalculating it? I can

[2017-01-06 16:25] ananyo2012 commented on #1166
@jywarren Looking for a possible solution to set a initial count to the `totalcount` field.

Actually if we look closely the page view count didn't reflect the unique view count right from the beginning. So impressionist was supposed to revamp the system completely and form a new view count for each content such as research note,wikis and questions. I was aware of that. But the thing I missed was

[2017-01-06 16:57] jywarren commented on #1166
Hey, no worries, that's why we do backups, and I missed this too. Great,
ping me if you find something, hopefully we can get a fix in pretty soon.
Thank you!

On Fri, Jan 6, 2017 at 11:25 AM, Ananyo Maiti <notifications@github.com>
wrote:

[2017-01-06 16:59] jywarren commented on #1047
to above it? Following down the page, it seems like you need to have text
in the box until you read further that the buttons are an alternative.

Sure, i can try a mockup of that too

and I think that's a good thing. If we break out into these new sections, I
really think we should keep it off.

agreed!

pick one of these statements? which ever seems most important to know,
maybe "recently updated

[2017-01-06 17:01] jywarren commented on #1047
![screen shot 2017-01-06 at 12 01 05 pm](https://cloud.githubusercontent.com/assets/24359/21725801/e20233ba-d407-11e6-92f0-c7cd2437217d.png)

[2017-01-06 18:19] icarito opened #1175 "Define Gemfile.lock policy"
We should decide what to do about the automatically generated Gemfile.lock file.

This file is created by bundler by resolving dependencies including the local Ruby versions.

While this is great for production, it can become an issue for developers that don't have the exact Ruby version.

The proposed idea is having .gitignore with Gemfile.lock and tweaking Gemfile.lock manually to use Semantic V

[2017-01-06 18:21] jywarren commented on #1175
Related to #1168 which removes ruby version specification from Gemfile.lock

On Fri, Jan 6, 2017 at 1:19 PM, Sebastian Silva <notifications@github.com>
wrote:

[2017-01-06 18:28] mridulnagpal commented on #1170
@jywarren I have posted a PR please review

[2017-01-06 18:47] icarito commented on #1112
The route for a test of advanced seach is a POST from the form at https://publiclab.org/searches/new

[2017-01-06 19:46] jywarren commented on #904
I would start by coping the rich editor template and then modifying it to more closely match the mockup above.

[2017-01-06 19:59] 500swapnil commented on #904
@jywarren Okay I will have a look!

[2017-01-06 20:04] jywarren commented on #904
You may want to make a new template file to start with, rather than overwrite this one: https://github.com/publiclab/plots2/blob/master/app/views/editor/question.html.erb

Such as `questionRich.html.erb` -- that way we can test it out before making changes to the current one. Make sense? Thank you!!

[2017-01-06 21:31] icarito commented on #1112
There is a trail of 3 issues solved in the buld history at: http://staging.laboratoriopublico.org/job/Plots-Solr/

[2017-01-06 21:31] icarito commented on #1112
![image](https://cloud.githubusercontent.com/assets/199755/21733644/96aa5e26-d42d-11e6-94b7-f825064a4054.png)

[2017-01-06 21:53] jywarren commented on #1112
oh wow -- the error generated is automatically shown? Great work!

On Fri, Jan 6, 2017 at 4:31 PM, Sebastian Silva <notifications@github.com>
wrote:

[2017-01-07 01:52] icarito commented on #1112
'_'

actually, I copied those manually for quick reference - but yeah it'd be cool if it did that automatically

[2017-01-07 18:53] ryzokuken commented on #1111
There seems to be something trickier going on in the rich text editor though. The typed text appears to be not inside the textarea but inside a div.

Also, some script is seemingly blocking the event handlers from being called. (I guess some `event.preventDefault()`?)

[2017-01-07 22:22] Pk13055 commented on #1166
@jywarren @ananyo2012 Do tell me if you reach a stand on this; I'll try to get a fix in ASAP.

[2017-01-08 18:04] 500swapnil commented on #904
@jywarren Ok I will start by copying the template and work on the copy!

[2017-01-08 22:50] jywarren commented on #1135
Solved in #1173, we believe... checking...

[2017-01-09 09:51] gaeun commented on #775
@ananyo2012 @jywarren I think we can close this via #1174.

[2017-01-09 12:46] 500swapnil commented on #904
@jywarren We may need to include most of what is there in the  https://github.com/publiclab/plots2/tree/master/app/views/editor/rich.html.erb template. Am I right? And is there any way of viewing individual templates?

[2017-01-09 13:52] ananyo2012 commented on #775
Ah thanks!

[2017-01-09 13:52] #775 closed

[2017-01-09 17:29] jywarren commented on #904
Yes, i think including much of that is appropriate, yes (though not
MainImage).

Sorry, how do you mean viewing individual templates?

Thanks!

On Mon, Jan 9, 2017 at 7:46 AM, Swapnil Gupta <notifications@github.com>
wrote:

[2017-01-09 17:35] 500swapnil commented on #904
I mean viewing them on a browser. I can get an idea of the design changes while integrating the editor.

[2017-01-09 18:51] jywarren commented on #904
ah yes, i believe you should be able to access a template named
"questionRich.html.erb" at "/editor/questionRich" -- though you should test
that locally. If it doesn't work, we'll need to add a temporary
/config/routes.rb entry.

On Mon, Jan 9, 2017 at 12:35 PM, Swapnil Gupta <notifications@github.com>
wrote:

[2017-01-09 18:53] 500swapnil commented on #904
@jywarren I've opened a PR #1177 . Please have a look!

[2017-01-10 16:32] tgisg commented on #1036
Hello, my friend @calaway and I are interested in working on this issue. We would like to claim it and we can start working on it now. We're students at Turing School of Software and Design and this is our first open source contribution.

[2017-01-10 20:08] ananyo2012 commented on #1175
@icarito @jywarren I think we should remove the Gemfile.lock from .gitignore since we won't be able to update it in case we add a new gem. Running `bundle install` won't update the Gemfile for breaking changes and changes in patch version can be safely accepted. If we wan't to be extra careful we can add the pessimistic operator `~>` for each gem. That won't update the gem major and minor version

[2017-01-10 21:52] jywarren commented on #1036
Please, we'd love your contribution -- and do ask if you need any help or pointers!

[2017-01-10 22:01] jywarren commented on #1175
Hi, Ananyo - i think the idea is that we can manually add it if need be; is
that right, @icarito? The problem is that people keep updating it with, for
example, their Ruby version.

@icarito - interested in your input on this too, thank you!

On Tue, Jan 10, 2017 at 3:08 PM, Ananyo Maiti <notifications@github.com>
wrote:

[2017-01-10 22:08] #1170 closed

[2017-01-10 22:11] jywarren commented on #1111
Ah yes, apologies -- to update its content (esp. since the user may be in either rich or markdown modes), you should use:

[code]

And apologies for a slow start this week -- a lot to get done! I'll update the docs accordingly:

https://github.com/publiclab/PublicLab.Editor/blob/master/README.md

[2017-01-10 22:14] jywarren commented on #1111
changes made here: https://github.com/publiclab/PublicLab.Editor/pull/87

[2017-01-10 22:37] tgisg commented on #1036
Please review the contribution made by @calaway and myself. Thanks! https://github.com/publiclab/plots2/pull/1179

[2017-01-10 22:45] calaway commented on #1166
Hello, my friend @tgisg and I were just looking through your issues and were hoping we might be able to replicate this bug. When we loaded the page below two times from two different IP addresses we confirmed that both views __were__ counted. I can't say if the counter was reset, as postulated in the issue description, but it seems to be working from this point.

https://publiclab.org/notes/lenagd

[2017-01-10 22:51] jywarren commented on #1166
Hello -- yes, apologies -- the issue is currently that we're looking to recover the count from just before this was merged; thank you! The feature now works properly, it's just the existing counts we'd like to preserve.

If you're looking for a place to get involved, do check out:

https://github.com/publiclab/plots2/projects/2?fullscreen=true

and also our "on-deck" not-quite fully formatted firs

[2017-01-10 23:17] #1036 closed

[2017-01-11 01:39] jywarren commented on #1166
I looked through the docs for Impressionist (https://github.com/charlotte-ruby/impressionist) and I wasn't able to figure out a good way to insert views without inserting impressionist records.

I'm considering possibly creating a new column on `node_counter` or `node` which stores the legacy counts, and returning the sum of that and `impressionist`'s count... not ideal, but not sure what else to

[2017-01-11 01:40] jywarren commented on #1166
Also put in a request to Sebastian to recover the old counts from a database backup.

[2017-01-11 01:43] jywarren commented on #1166
So [this line](https://github.com/publiclab/plots2/pull/1153/files#diff-506c305b074506147da2da7a9d9d6dcfR479) in `drupal_node.rb` would become:

[code]

Make sense? And we could re-enter the legacy counts manually.

[2017-01-11 01:54] yukiisbored commented on #1166
Yeah, we can create a new column on `drupal_node_counter` and add them with the actual page counter. Sorry that i caused some troubles for you guys, I should've thought about it and ensure legacy values are still being added with the new one.

[2017-01-11 14:45] yukiisbored commented on #1166
What we can do is to grab the old view counter from the backups, create a new column in `drupal_node_counter` to hold the old view counts, add them on `totalcount`with the new value, and set them accordingly.

[2017-01-11 14:45] yukiisbored commented on #1166
We probably can hack up a script, but I'm not that familliar with ActiveRecord nor Rails, but i'll look into it and see what I can do.

[2017-01-11 15:29] jywarren commented on #1166
I'm working on a script, assuming a CSV like:

[code]

So my script is:

[code]

I'm working on the migration now too.

[2017-01-11 16:02] jywarren commented on #1166
OK - i've also gone ahead and merged `node_counter` into `node`, and we don't sort by view count much anymore (preferring "most recently updated") but there are still a few, which'll act a bit weird since they won't see the legacy counts:

[code]

Pushing up a PR now, it'll need some close checking.

[2017-01-11 16:10] jywarren commented on #1166
OK - submitted in #180

[2017-01-11 16:23] jywarren opened #1181 "Display raw markdown on wiki pages in hidden div"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-01-11 20:23] jywarren commented on #984
OK, so I did a test and there are over 4000 maps that have at least one image. You can now browse them here:

https://mapknitter.org/map/map

This can now be embedded, but it is a heavy load on many computers.

I'd do more screenshots but it's breaking my computer!

![screen shot 2017-01-11 at 3 23 06 pm](https://cloud.githubusercontent.com/assets/24359/21864945/efea8d02-d811-11e6-8f36-5927be3e0f3

[2017-01-11 22:34] jywarren commented on #1070
This is really coming along, @mridulnagpal -- I checked them off up to "Shade or highlight the grid square the center dot is inside of"

Thanks!

[2017-01-12 04:38] mridulnagpal opened #1182 "Shade or highlight the grid square the center dot is inside of #1070"
### What happened just before the problem occurred

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.or

[2017-01-12 09:41] mridulnagpal commented on #1182
@jywarren  #1070 I am stuck on this one can you help please...

[2017-01-12 09:43] mridulnagpal opened #1183 "Implementing mailing option for comments"
### What happened just before the problem occurred

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.or

[2017-01-12 20:49] ebarry opened #1184 "Enable Google Analytics to track what is commonly searched for in our site"
I'm looking to use what Google Analytics offers in their "Content Site Search Overview" dashboard in terms of visualizing what people search for within our site using https://publiclab.org/search, and would like to know what to add to our site to enable this because right now ours is blank:

https://analytics.google.com/analytics/web/#report/content-site-search-overview/

![screen shot 2017-01-12

[2017-01-13 19:54] ebarry commented on #963
hi! @sdosemagen and I wanted to comment that this issue is not currently a priority, but it might be nice in the future to have easy access to the raw data.

[2017-01-14 11:47] Pk13055 commented on #1047
@jywarren If you've decided which way to go, I could try incorporating the required mockup?

[2017-01-16 14:04] Pk13055 commented on #1184
@ebarry I would like to pick this up. Can you link relevant parts of the codebase, and possibly give me some pointers on how to proceed?

[2017-01-16 14:13] pranaygupta36 commented on #1181
@jywarren  I'm new to open source development and want to start by working on this issue.

[2017-01-16 14:24] jywarren commented on #1184
Liz and pratik, i believe this is already happening. Pratik, would you be
interested in choosing an issue marked "help wanted"? Thanks!

On Jan 16, 2017 9:05 AM, "Pratik Kamble" <notifications@github.com> wrote:

@ebarry <https://github.com/ebarry> I would like to pick this up. Can you
link relevant parts of the codebase, and possibly give me some pointers on
how to proceed?

—
You are receiving t

[2017-01-16 14:33] jywarren commented on #1181
That would be fantastic and we'd love to have your contribution!

On Jan 16, 2017 9:13 AM, "Pranay Gupta" <notifications@github.com> wrote:

[2017-01-16 15:02] ryzokuken commented on #1111
Did look into the documentation of the Editor library. Would still need your help in order to add event listeners and we're using a bower library to do it.

[2017-01-16 15:26] pranaygupta36 commented on #1181
@jywarren i have submitted a pull request after fixing the issue Display raw markdown on wiki pages in hidden div  #1181

[2017-01-16 17:42] mridulnagpal commented on #1182
@jywarren Any updates?

[2017-01-17 15:22] janga1997 commented on #1086
I would like to claim this issue, since the previous poster hasn't responded in a month. This is my first time contributing to plots2.

[2017-01-17 15:28] jywarren commented on #1086
Thank you, we'd love to have your contribution! Please ask if you need any
help or tips.

On Tue, Jan 17, 2017 at 10:22 AM, VSN Reddy Janga <notifications@github.com>
wrote:

[2017-01-17 16:11] jywarren commented on #1047
Yes, why don't you go ahead, thanks!

@steviepubliclab and @gretchengehrke, can we find a time to:

1. Make formatted tagnames for each of the topics we've listed here, I.e. with dashes and no spaces
2. Go and actually tag all the methods accordingly?

@Pk13055, I believe each topic "row" will be wiki pages matching the topic tag AND the tag "tool".

[2017-01-17 16:36] jywarren commented on #1182
I'm so sorry- I missed your previous comment. I'll look over this now.

[2017-01-17 16:43] jywarren commented on #1182
Ah, so I think you could add a check for each cell at this line, which would run whenever the map is moving:

https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/locationForm.js#L48

We could compare the cell to map.getCenter(), and change the cell style if it's inside the bounds.

[2017-01-17 16:46] ma8sa commented on #830
Hi, I m new here and would like to work on this . Can you help me getting started

[2017-01-17 17:07] jywarren commented on #830
Hi, that's great to hear. Perhaps you could start by making a new template
for this, following the steps in this pull request, which did those same
initial steps:

https://github.com/publiclab/plots2/pull/1044/files

But you could name it:

"/app/views/tags/gridsEmbed.html.erb"

And the controller action would be:

"/app/controllers/tags_controller.rb"

Does that make sense? Then you could open a

[2017-01-17 17:33] ma8sa commented on #830
i have defined embed and and the new route , bbut i m supposed to with the gridsEmbed.html.erb part ?

[2017-01-17 18:09] jywarren commented on #830
did you create a new file at that location? you can just use a blank file
for the time being -- if you open a PR, we can take the next steps, thanks!

On Tue, Jan 17, 2017 at 12:33 PM, ma8sa <notifications@github.com> wrote:

[2017-01-17 20:11] ma8sa commented on #830
i made a blank file there and opened a pull request

[2017-01-18 15:00] jywarren commented on #830
Super - saw it in #1188 and left some comments, thanks!

[2017-01-18 15:02] jywarren commented on #1111
So, you could try to trigger this code on `change` event of the `<select>` - using jQuery. You could then write a JavaScript method to insert appropriate content into the textarea using:

[code]

Does this make sense? Give it a try and I'm happy to leave more specific comments! Thanks!

[2017-01-18 15:36] steviepubliclab opened #1189 "Dropdown on /post not working"
### What happened just before the problem occurred
Hello! I went to publiclab.org/post and found the top menu bar drop downs aren't working. Any ideas?

Username: stevie

[2017-01-18 15:38] steviepubliclab opened #1190 "Test email notifications to author on question answers"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2017-01-18 15:38] jywarren commented on #1189
Hi, this is being addressed in #1111, thanks!

[2017-01-18 15:38] #1189 closed

[2017-01-18 15:39] jywarren commented on #1190
Hi, Stevie, are you subscribed to the questions you're referring to? Thanks!

On Jan 18, 2017 10:38 AM, "steviepubliclab" <notifications@github.com>
wrote:

What happened just before the problem occurred

I had posted a few questions back in December and just now went back to
them and saw a few people had written in on both comments and proposed
answers. I didn't get any email notifications for th

[2017-01-18 15:42] steviepubliclab commented on #1190
Oh hi again,
I had written them, do I also need to subscribe to it? Klie just tested this out for me, I did just get a notification when they tested the "comment" part of it, but not when they tested the "answers" one

[2017-01-18 15:42] steviepubliclab commented on #1189
oops sorry!

On Wed, Jan 18, 2017 at 9:38 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-01-18 16:20] jywarren commented on #1189
no, thank you for reporting! v helpful to know things will be reported if
we haven't caught them :-)

On Wed, Jan 18, 2017 at 10:42 AM, steviepubliclab <notifications@github.com>
wrote:

[2017-01-18 16:21] jywarren commented on #1190
ah ok, you were original author. Let's write a test for this -- it'll make
a good first-timers-only issue; i'll mark this as a candidate and circle
back. Thanks!

On Wed, Jan 18, 2017 at 10:42 AM, steviepubliclab <notifications@github.com>
wrote:

[2017-01-18 16:51] jywarren commented on #1190
We already test that authors **can be notified** in unit tests:

https://github.com/publiclab/plots2/blob/master/test/unit/answer_mailer_test.rb#L4

But I wasn't able to find a test for whether notifications are sent on answer posting, which would be a functional test of answers controller:

https://github.com/publiclab/plots2/blob/master/test/functional/answers_controller_test.rb

On these lines,

[2017-01-18 18:02] jywarren commented on #1183
Hi, Mridul! Was this for expanding out ideas for reply-by-email? I was thinking of:

ActionMailer
ActionJob for scheduling tasks like checking the mail.

[2017-01-18 18:59] ananyo2012 opened #1191 "Add code coverage to plots2"
Its time that we did some analytics on our code. Add code coverage and test coverage to plots2. Trying in two different services - [codeclimate](https://codeclimate.com) and [coveralls](http://coveralls.io/)

[2017-01-18 19:07] ananyo2012 opened #1192 "Use Danger to simplify PR reviews"
[Danger](http://danger.systems/) is a good way to implement automated PR reviews. Now that we have growing no of contributors in our codebase it is good to have automated reviews so it is easier to do reviews as well for contributors.

[2017-01-18 20:09] mridulnagpal commented on #1183
@jywarren Sounds good to me. Did you checkout the bunny gem by RabbitMQ?

[2017-01-18 20:20] mridulnagpal commented on #1182
@jywarren  I didn't get it could you frame an example for the same?

[2017-01-19 05:21] ananyo2012 opened #1194 "Fix build failures in CI due to package installations"
Now this is really an issue to be taken care off. Its annoying to see failing builds due to package installations. The main problem is taking place here
[code]

Need to check what is happening in Docker and why this step is failing every time.

[2017-01-19 09:06] ananyo2012 commented on #1175
@icarito @jywarren Well I guess you need to remove the file from repo as well to start ignoring changes. As you can see in #1193 the Gemfile.lock got updated as I added the gem. Indeed actually we need the Gemfile.lock to be version control so that on addition of a gem it gets updated. So keeping it in .gitignore seems irrelevant. To solve the issue with the ruby version just remove the `ruby 2.1.

[2017-01-19 17:32] jywarren commented on #1175
Hmm, ok. @icarito, does this sound good?

[2017-01-19 17:37] jywarren commented on #1194
I agree, this is troubling. I had thought it was that to some degree, there may always be occasional failures when making requests to remote dependencies. So we could either:

1. cache them unless they change
2. depend on a more reliable source

Not sure to what degree either of these is possible.

[2017-01-19 17:38] jywarren commented on #1194
Some resources:

https://github.com/docker/docker/issues/3313

http://stackoverflow.com/questions/24832972/docker-apt-get-update-fails

[2017-01-19 17:39] jywarren commented on #1194
and https://docs.travis-ci.com/user/caching/

[2017-01-19 17:41] jywarren commented on #1194
that last one seems to indicate we shouldn't cache compiled binaries :-(

[2017-01-19 17:54] jywarren commented on #1194
There had been some mention of an apt cache that Travis set up, in some of the older github threads, but that seems to be missing from the latest docs.

This will improve somewhat once we get the Solr container working, as we will no longer need to install Java. (caching our gems may also speed things up)

OK, looking at a failed build, the exact error was (for this one):

[code]

However this loo

[2017-01-19 18:05] jywarren commented on #1194
Attempting to apply final suggestions from that last `docker-library` comment in #1195. We should open/close over and over to see.

[2017-01-19 18:05] ebarry commented on #610
Perhaps related to this is the error in how many likes a page has. Shown on https://publiclab.org/wiki/plots-staff, there's a count of 6 likes:

![screen shot 2017-01-19 at 1 03 07 pm](https://cloud.githubusercontent.com/assets/161439/22119026/ec9707ac-de47-11e6-9827-fea10b6514bb.png)
but only three usernames (assuming it's because spammers were banned and their usernames removed from display):

!

[2017-01-19 18:27] jywarren opened #1196 "Impressionist counter_cache not working"
### What happened just before the problem occurred

We've installed the [impressionist gem](https://github.com/charlotte-ruby/impressionist) and are successfully counting unique impressions on pages now. But the "counter cache" setup (which would keep a column on the `node` table updated with a calculated tally of views) is not working, though that's in the code:

https://github.com/publiclab/plot

[2017-01-19 18:33] jywarren commented on #610
No, i believe that is unrelated, but is related to #607 -- thanks!

@neliojrr -- just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2017-01-19 21:30] #1194 closed

[2017-01-19 21:32] jywarren commented on #1194
OK - https://github.com/publiclab/plots2/pull/1195 seemed to work; let's see!

[2017-01-20 08:58] Pk13055 commented on #1047
@jywarren Sorry, I was caught up with other stuff; I'll get working on this right away. I'll have a PR within a few days. I hope this isn't an urgent issue?

[2017-01-20 13:52] ryzokuken commented on #1190
@jywarren This looks pretty doable. Would you rather have me reformat it, or should I fix this right away? I'd prefer reformatting this into a first-timers-only. Also, as I said, we could avoid having fto-candidates being solved by contributors, and rather encourage them to reformat those. This would directly affect the amount of first-timers-only issues (or so I think). What do you say?

[2017-01-20 14:26] jywarren commented on #1190
I think either way would be fine! If you prefer re-formatting, that sounds
wonderful.

On Fri, Jan 20, 2017 at 8:52 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-01-20 14:31] ryzokuken commented on #1190
Yeah, reformatting it is, then. What are your thoughts about keeping fto-candidates open for reformatting only (atleast for existing contributors) though?

[2017-01-20 14:39] jywarren commented on #1047
No problem, we're grateful for your help!

On Fri, Jan 20, 2017 at 3:58 AM, Pratik Kamble <notifications@github.com>
wrote:

[2017-01-20 14:40] ryzokuken commented on #1190
Requesting them to reformat instead would be a pretty nice way to begin.

[2017-01-20 14:41] jywarren commented on #1190
yes, let's think of a line that makes that request that we can put as the
"preamble" for fto-candidates, but is mostly encouraging, not requiring.
Thanks, good idea!

On Fri, Jan 20, 2017 at 9:40 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-01-20 15:58] ryzokuken opened #1198 "Test email notifications to author on question answers"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from p

[2017-01-20 16:09] ryzokuken commented on #1198
@jywarren Will this do?

[2017-01-20 16:25] jywarren commented on #1198
Yes, but I think it could be helpful to show how to create the answer as well, or to excerpt a line of code that's very similar to show how it could be done. Thanks!

[2017-01-20 16:31] jywarren commented on #1182
Sure, so why don't you start by putting some lines just after line 48 of this file:

https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/locationForm.js#L48

Leave a comment if you're not sure what goes there, but you should need to:

1. find where the center point is with something like `var center = bounds.getCenter();`
2. iterate over each cell with a `this._cells.forEach(fun

[2017-01-20 16:36] jywarren commented on #607
Updated with code from an old PR with a partial implementation. This issue needs some clean up and breaking up!

[2017-01-20 17:40] jywarren opened #1201 "Create swappable substitute for Spamaway class which uses new ReCaptcha"
* Docs: https://www.google.com/recaptcha/

`<script src='https://www.google.com/recaptcha/api.js'></script>`

* [x] Develop swappable replacement for each instance of "spamaway" in this method:

https://github.com/publiclab/plots2/blob/master/app/controllers/users_controller.rb#L5-L48

In that controller, these will have to have substitutes based on Recaptcha.

* [x] Spamaway.new
* [x] Spamaway.ne

[2017-01-20 22:17] ebarry opened #1208 "BUG: link to "read more" reloads page"
### What happened just before the problem occurred

I was composing a post in publiclab.org/post and when adding tags in step 4, accidentally clicked the "read more" link. This should have been fine and just opened another tab, but instead it reloaded the page and i lost my work.

![screen shot 2017-01-20 at 5 15 18 pm](https://cloud.githubusercontent.com/assets/161439/22167410/2469198a-df34-11e6-

[2017-01-20 22:53] ebarry opened #1209 "BUG: "event" posts don't generate correct power tags"
### What happened just before the problem occurred

I posted an event https://publiclab.org/notes/liz/01-20-2017/edgi-foia-event-at-cuny-in-new-york-city-online#comments but it showed up as a regular post, not as an event with the RSVP feature.

While composing this post, i choose "post an event" from the dropdown, however, the published event did not include the powertags "event:rsvp" and "date:Y

[2017-01-21 00:06] jywarren commented on #899
Fix is submitted at #1210 but has some serious additional changes - users are sometimes asked to "trace" images or choose between them. I don't think this'll happen often! But it may come up from time to time. I left screenshots to review.

[2017-01-21 00:29] jywarren commented on #1201
Done in #1210!

[2017-01-21 00:42] jywarren commented on #1209
Hi, Liz - you found a bug, thank you -- however please don't re-add the events tag until we figure this out; i found that it broke both the new-york-city and gulf-coast wiki pages (strangely). I removed it and they work now; i'll write a test to isolate this problem and fix it over the weekend.

Thanks! The error was:

[code]

[2017-01-21 07:02] ryzokuken commented on #64
@jywarren Let's think this over. I'd like to work on this if possible.

[2017-01-21 07:04] ryzokuken commented on #1209
@jywarren Any idea what would be causing this to happen? I'd look more into this as well.

[2017-01-21 07:09] ryzokuken commented on #1198
@jywarren Sorry, couldn't understand what you said...
[code]
creates the answer, doesn't it?

[2017-01-21 07:13] ryzokuken commented on #1208
@ebarry Would slightly changing the link's behaviour to open the corresponding page in another tab work for us? That'll be an easy fix. Other solutions would either cut down on the functionality of the link or seriously complicate the workflow. I'm not sure we'd need either of those.

[2017-01-21 07:22] ryzokuken commented on #1208
@jywarren It's strange that in my local instance, the link is dead. It unnecessarily reloads the page while not performing any functionality at all. `<a href="">Read more »</a>`

[2017-01-21 14:26] ebarry commented on #1208
Yes Ujjwal that would work perfectly.

On Jan 21, 2017 2:22 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

@jywarren <https://github.com/jywarren> It's strange that in my local
instance, the link is dead. It unnecessarily reloads the page while not
performing any functionality at all. <a href="">Read more »</a>

—
You are receiving this because you were mentioned.
Reply to this email direc

[2017-01-21 14:41] ryzokuken commented on #1208
@ebarry Why not remove the link altogether? (atleast for now) Now that we know it doesn't really perform any function and just ends up reloading the page. Dunno, maybe I'm missing something here.

[2017-01-22 00:00] ebarry commented on #1208
the link could be removed or set to point to https://publiclab.org/tags

--

+1 336-269-1539
@lizbarry <http://twitter.com/lizbarry>

On Sat, Jan 21, 2017 at 9:41 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-01-22 04:28] ryzokuken commented on #1208
@jywarren @ebarry maybe this will do? https://github.com/publiclab/PublicLab.Editor/pull/89

[2017-01-22 15:26] ebarry commented on #1208
Oooo looks great as far as I can tell from just reading it!

On Jan 21, 2017 11:28 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-01-23 17:05] jywarren commented on #1184
@ebarry - i'm guessing we have to set up some kind of extra configuration on GA to get its "site search" analytics running. But it should already be organically recording traffic flow through our existing search interface, since it maps how people get places. Would you like to look into this with me at some point over screen sharing?

[2017-01-23 17:43] jywarren commented on #1135
Ok, I believe the formatting of the gallery items needs to be changed to not use the "hide" CSS class anymore. See docs here:

https://github.com/jbutz/bootstrap-lightbox/blob/master/README.md#example

Compare to:

https://github.com/publiclab/plots2/blob/master/app/views/notes/show.html.erb#L70

[2017-01-23 17:45] jywarren commented on #1135
This could be tested out in JavaScript by manually removing those classes in the developer tools and seeing if the gallery works then.

[code]

[2017-01-23 19:26] Pk13055 commented on #1047
@jywarren I'm caught up with some other work and don't think I'll be able to help out this time. Sorry!

[2017-01-23 20:07] sjones88 opened #1211 "BUG: Header dropdown menus are broken on 404 error page"
Visit any invalid route (e.g. https://publiclab.org/invalidroute). The 404 "That page does not exist" partial loads and the dropdown menus and search form break in Chrome 54.0 on macOS Sierra. I haven't tried this with another browser or OS.

[2017-01-23 20:32] mathewlippincott opened #1212 "missing historical revisions in the wiki?"
I'm looking for older revisions to the DSK wiki page, but a revision from "February 2015" contains activity grids that clearly make it a late-2016 page:
https://publiclab.org/wiki/revisions/desktop-spectrometry-kit-3-0/21838

I can't seem to find the older historic revisions, at least on this page.

[2017-01-23 23:00] #899 closed

[2017-01-23 23:00] #1201 closed

[2017-01-24 15:24] jywarren commented on #1212
thanks, we'll look into it!

On Mon, Jan 23, 2017 at 3:32 PM, mathew lippincott <notifications@github.com

[2017-01-24 15:32] jywarren commented on #1212
I'd like to create a test that checks revision pages against the timestamp
of their db record.

This may involve creation of more/better fixture data of "old" revisions
for the tests to run upon.

On Tue, Jan 24, 2017 at 10:24 AM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2017-01-24 15:32] jywarren commented on #1212
noting hat the "raw" templates also seem to be returning old material

On Tue, Jan 24, 2017 at 10:31 AM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2017-01-24 15:45] #1191 closed

[2017-01-24 16:20] jywarren commented on #1192
Hi, sounds great -- i'd love to be able to:

* ask people who haven't done anything in 4+ days if they need help, and offer to ping `@publiclab/reviewers`
* see if people have merged from master and request that they not do so (linking to https://publiclab.org/wiki/contributing-to-public-lab-software#Rewinding+the+master+branch)
* see if people's tests have passed and show how to look through the

[2017-01-24 16:22] jywarren commented on #1182
In progress here: https://github.com/publiclab/plots2/pull/1202

[2017-01-24 16:26] jywarren commented on #1198
Yes, ok -- just thought it'd be slightly easier for people to see the whole thing. But didn't realize your link went to it. Sounds good, this is ready! and you can delete my comments too if you like (or ask me to if you can't)

[2017-01-24 16:33] ananyo2012 commented on #1192
Well Danger may not fulfill all these things. But I would surely try to implement as many as possible. I thing we should update the PR template too reflect the changes. The second last point that mentions `reviewed/confirmed/tested by another contributor or maintainer` can be removed since github now has this review feature and reviewers can approve/reject from there.

[2017-01-24 16:36] jywarren commented on #1192
Just listing my blue-sky ideas in an ideal world -- and I don't know what
Danger is capable of, but any of these would be helpful!

Happy to accept PRs for the PR template itself too!

On Tue, Jan 24, 2017 at 11:33 AM, Ananyo Maiti <notifications@github.com>
wrote:

[2017-01-24 16:36] jywarren commented on #1192
Oh, also:

* look for and request (if not present) a link to the originating issue

[2017-01-24 18:52] #1208 closed

[2017-01-24 19:11] jywarren commented on #1209
I think we should try adding tags to a page with invalid date formatting, like `date:bad` and rendering the page in a functional test, and then writing some way to catch the bad date. This should solve it in a testable way.

[2017-01-24 19:16] jywarren commented on #64
I think we could run a daily ActionJob queue and see if any tags were
created with more than 5-10 second delay after the original node was
created. If so, we could re-run the notifications. There'd be some
duplicates, but it wouldn't be too bad.

If we do set up a subscription to daily digests, there is another issue for
that already open, and I think someone's starting to plan it out. Best
coordi

[2017-01-24 19:18] jywarren commented on #1211
Good catch! I think these are sourced from the static `/public/404.html` and similar templates, which probably have to be updated to reflect the most recent dynamically generated headers. A pain, but as headers change we do have to update the static versions (important bc the static ones are loaded without having to run Rails, so if something's broken, they are still loaded with no dynamic code ha

[2017-01-25 14:22] ryzokuken commented on #1211
@jywarren What exactly would need to be done in order to fix this?

[2017-01-25 14:25] ryzokuken commented on #1209
`DateTime.strptime(node.power_tag('date')`
@jywarren Is this piece of code raising the error?

If so, then perhaps we could add another condition to `<% if node.has_power_tag('date') %>` to render it only if it's a valid date. Would a simple regex suffice? Something like `utils.isValidDate()`? Sorry if utility functions don't work that way in Rails, but I'm sure you got the point.

[2017-01-25 15:05] ryzokuken opened #1215 "Switch from Bower to Yarn"
**NOTE: Quite a bit of the content in here is directly taken from different pages on the internet, but it's done just to make this proposal as self-contained as possible**

[Rails 5.1 ships with yarn](https://twitter.com/dhh/status/808348184481124352) also, it's now possible to use webpack on Rails using yarn, using which we could use newer JS features like classes, modules and the overall cleaner

[2017-01-25 16:23] jywarren commented on #1215
Hi, what would the steps for installing Yarn look like? Would it be a
simple replacement of `bower.json` plus a `yarn install` instead of `bower
install`?

On Wed, Jan 25, 2017 at 10:05 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-01-25 16:26] ryzokuken commented on #1215
Installing yarn could be different for different distributions. As of lately, they have been working on native solutions apart from the regular `npm install -g yarn` just like one would do `npm install -g bower`.

In order to use yarn to install the dependencies, one would do `yarn` or `yarn install` instead of the regular `bower install`

[2017-01-25 16:27] jywarren commented on #1215
would changes to the bower.json file be extensive, or is it fairly similar?

On Wed, Jan 25, 2017 at 11:26 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-01-25 16:39] ryzokuken commented on #1215
It fetches packages from the same source, so the packages would def. remain the same.

Regarding the structure of the files, yarn uses the standard `package.json` format, because the entire Javascript community had been using npm (most people phased out bower earlier in favor of npm) so the package file is `package.json` and the modules are installed in `node_modules/` primarily to maintain npm co

[2017-01-25 16:51] jywarren commented on #1215
OK - so, we store our packages in /public/lib/, since some assets
(referenced in css files) must be directly referenced. If you can configure
yarn to store packages there, then I think you could open a PR that'd pass
pretty easily once a package.json file is prepared.

On Wed, Jan 25, 2017 at 11:39 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-01-25 16:59] ananyo2012 commented on #1192
- Check for linting errors in PR

[2017-01-25 17:05] ryzokuken commented on #1215
@jywarren If we use webpack along with it, we wouldn't need to install them at a custom location as webpack resolves all the local `import`s and `include`s to the corresponding package.

[2017-01-25 17:10] jywarren commented on #1215
I really think it's important to do one step at a time - even if we combine
both into a single PR. webpack is nice, but it does add complexity.

Think about how existing contributors may have to retool if they already
have bower, if they don't have webpack, etc -- and if each step adds extra
burden or complexity to the process of contributing (have to run a webpack
command? troubleshoot it if it d

[2017-01-25 17:11] jywarren commented on #1212
Fix is in testing now, in #1216!

[2017-01-25 17:14] ryzokuken commented on #1215
@jywarren Yeah, we need to keep everything in mind while considering to make such changes. I will do some more research into the projects and look around a bit more. As the community has been actively working on these projects, however, something there proves to be better support regarding such tools.

[2017-01-25 18:21] #1212 closed

[2017-01-25 20:21] matyushkin opened #1218 "can't login"
I can not log into my profile as in [this question](https://github.com/publiclab/spectral-workbench/issues/232).

I enter the password, I see window 1 (in the screenshot), click YES, but after the transition to following page, I am not in the system. (screenshot 2) I see again "login" (not my nickname)

PublicLab.org username: levamatyushkin
Browser, version, and operating system: Chrome 55.0.2883

[2017-01-25 20:24] jywarren commented on #1218
Hmm, can you give it a try in an Incognito window, to see if there are
caching issues at play here?

I believe the cause is different than in the referenced issue, since we
resolved that particular bug. Hopefully once we check out the cache, I can
go into the logs to track what's happening. Sorry for the trouble and thank
you for reporting it!

On Wed, Jan 25, 2017 at 3:21 PM, Leo Matyushkin <noti

[2017-01-25 20:26] jywarren commented on #1211
I believe just updating the header sections from the 500.html, 502.html,
and 404.html pages to reflect the most recent headers (as a non-logged-in
user would see them). I had simplified them somewhat as well, so it's not a
direct copy. But it should be only the header navbar sections themselves.

On Wed, Jan 25, 2017 at 9:22 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-01-25 20:27] jywarren commented on #1211
for example:
https://github.com/publiclab/plots2/blob/master/public/404.html#L26-L166

On Wed, Jan 25, 2017 at 3:26 PM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2017-01-25 20:34] matyushkin commented on #1218
I just tried it in incognito mode, but the situation is persistent (earlier I tryied to clear the cache and use other browsers (Firefox, Edge, etc.), but saw the same). Thank you for you attention!

[2017-01-25 22:10] jywarren commented on #1218
OK! I'll have a moment to dig through the logs tonight or mid-day tomorrow.
Thank you for your patience.

On Wed, Jan 25, 2017 at 3:34 PM, Leo Matyushkin <notifications@github.com>
wrote:

[2017-01-25 22:12] jywarren commented on #1209
Yes, that's it. I think it would be really valuable to try, in a test for that page:

[code]

That would go in this file:

https://github.com/publiclab/plots2/blob/master/test/functional/wiki_controller_test.rb

[2017-01-26 00:23] yukiisbored commented on #1192
I think gitmate.io is better than Danger because it's much simpler and it's all we need. gitmate.io runs coala and reports back the reported linter issue and I think it doesn't need to be invoked from CI since it's a Webhook.

[2017-01-26 02:08] ananyo2012 commented on #1192
@yukiisbored Well I saw gitmate is still in beta and I didn't find a good documentation for gitmate. Danger seemed well documented and I really liked the plugin feature through which we can write our own custom plugins as per our requirement. Maybe we can switch to gitmate once it is complete and has its all features.

[2017-01-26 04:32] ryzokuken commented on #1211
@jywarren Why is the 404 page not rendering the normal navbar though? The normal navbar should be put up in a partial IMO and then included in all these pages. What do you think?

[2017-01-26 16:29] jywarren commented on #1211
That'd be nice, but that would require Ruby to assemble the page instead of
just passing a static page. I don't know of workarounds, but it could bear
some research.

OK, some ideas:

https://medium.com/@tair/custom-error-pages-in-rails-you-re-doing-it-wrong-ba1d20ec31c0

this is for dynamic error pages, but for reasons in the above post, i
disagree with that approach:
https://mattbrictson.com/dyn

[2017-01-26 17:36] jywarren commented on #1192
Yes, I think we can stay flexible as gitmate.io develops and work with Danger as a starting point. Also, Ananyo's done a lot of the work to get Danger running already!

[2017-01-26 17:36] #1182 closed

[2017-01-26 17:41] jywarren commented on #1070
Great work, @mridulnagpal -- maybe this new next step?

[2017-01-26 17:46] ryzokuken commented on #1211
@jywarren I would look into the post and try to do what's best to solve this issue. (Hopefully, permanently)

[2017-01-26 18:15] ryzokuken commented on #1211
@jywarren I guess I should start working on simplifying the static pages, then?

[2017-01-26 18:34] ryzokuken commented on #1209
@jywarren First, I create a wiki page with invalid date formatting and have this code go thereafter? Sorry, I might be missing something here.

[2017-01-26 18:43] ryzokuken commented on #4
@yukiisbored What's the status on this?

[2017-01-26 18:50] ryzokuken commented on #13
@jywarren Let's round up all these older issues and check if they're still relevant considering the various upgrades and design changes plots2 has received over the years. (Nov 2013 :P)

[2017-01-26 19:29] jywarren commented on #1211
I think that's a good idea! Perhaps we could simply remove all of the items besides the words `Public Lab` -- people can get back to the front page and just navigate from there.

This could also be a good FTO?

[2017-01-26 19:30] ryzokuken commented on #1211
@jywarren yes. Would it be okay if I made an FTO tomorrow morning?

[2017-01-26 19:32] jywarren commented on #1211
oh of course, just suggesting. Many thanks!

On Thu, Jan 26, 2017 at 2:30 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-01-26 20:06] ryzokuken commented on #28
As a matter of experience, I feel that Instant Noodles not only cook faster but are way more fulfilling.

[2017-01-27 00:57] yukiisbored commented on #1192
@ananyo2012 Can you add an issue to https://gitlab.com/gitmate/gitmate-2 for that?

[2017-01-27 01:06] yukiisbored commented on #4
@ryzokuken ah, I think I added that by mistake.

[2017-01-27 01:07] yukiisbored commented on #4
We can ban known spammer/scammer/proxy IPs, I think there's an API for those.

[2017-01-27 01:09] yukiisbored commented on #28
Since I'm Asian, Instant rice are made for lazy people. Real people cook raw rice with a pot and a stove. Death to the lazy people generating rice cookers!

[2017-01-27 02:33] jywarren commented on #28
I love it when people find this issue. Means you're /really/ deep into the
repository! :-)

On Jan 26, 2017 8:09 PM, "Kaisar Arkhan (Yuki)" <notifications@github.com>
wrote:

[2017-01-27 03:45] ryzokuken commented on #28
@yukiisbored Wew, dude. Calm down :P

[2017-01-27 04:43] mridulnagpal commented on #1070
@jywarren delayFactor decides how much interval is there in rendering different cells, for example if delayFactor is high all the cells come after some interval one after the other, we can set it to 0 if we want alll the cells to render at the same time.

[2017-01-27 14:54] steviepubliclab commented on #1047
hi @jywarren

For the tags, a lot of them should work as is- but for those that are different can we do:
- IndoorAir,
- Chemical,
- LandUse (and/or LandChange but have them search both?)
- Oil (and or Gas, but have them search both?) alt: OilandGas
- UrbanPlanning

originally on this post this was for tool page right? which is now methods  - but still question on activities/methods. We could just

[2017-01-27 16:23] jywarren commented on #1047
Great, what about the ones that are `/` -- like Turbidity / Suspended Solids ? Two separate tags?

Yes, this is /methods -- so each method would show, and each one could say how many activities are available for it. So, for (totally made up examples):

**Aerial Mapping**
4 methods (Map with a pole, Stitch a map, Map with a kite)

**Timelapse**
3 methods (Set up a timelapse camera, Make a video fro

[2017-01-27 20:11] steviepubliclab commented on #1047
Seems like the ones that would show up on the page are the first category?
For the second category, I think a lot of the other tags are in use on those methods mostly. GG and I were just thinking about things that already existed. This second category being "things we could add to as new tools come on PL".

[2017-01-27 20:49] jywarren commented on #1070
Ah, interesting. Well, I think it's only shading on the initial draw, and
we need it to refresh the active cell as the map moves. Do you think that's
a next step you could attempt?

Thanks for your hard work!

On Thu, Jan 26, 2017 at 11:43 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-01-27 20:59] jywarren commented on #1047
Oh, ok, so we mostly (right now) need to think about displaying:

`agriculture`,
`drinking-water`,
`fracking`,
`indoor-air`,
`chemicals`,
`industry`,
`land-use`,
`land-change`,
`mining`,
`oil-and-gas`,
`transportation`,
`urban-planning`

Does that work for reformatting too? We have to use dashes since tags have no capital letters.

`land-change` might be a little too ambiguous vs. `land-use` -- bu

[2017-01-27 21:00] steviepubliclab commented on #1047
yeah I think that works. in your mind do these cover what exists? I guess I'm wondering if it would be easy to add/change them as PL grows?

[2017-01-27 21:00] jywarren commented on #1047
Also, for the default display, should we just show everything, organized by topic, and then narrow it down as people search? I ask because people may not use the search box, and by default then they'd see a full listing, and also because it could simplify the coding -- it'd mainly just be hiding/showing groups then. Easier to implement.

[2017-01-27 21:01] jywarren commented on #1047
Yes, we'd be able to expand them pretty easily. Thanks!

On Fri, Jan 27, 2017 at 4:00 PM, steviepubliclab <notifications@github.com>
wrote:

[2017-01-27 21:01] steviepubliclab commented on #1047
ehh I'm confused about the choice

[2017-01-27 21:11] jywarren commented on #1047
ok cool synced by phone. And we'll grey out the topics for which there are no methods, in the list.

[2017-01-27 22:12] jywarren commented on #1218
Hi, I belive I found the issue -- your account was still pointed at
http://publiclab.org, not https:// -- i fixed that -- can you try again?

On Wed, Jan 25, 2017 at 5:10 PM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2017-01-28 09:28] matyushkin commented on #1218
Oh yes, great! Thank you very much.

[2017-01-28 09:28] #1218 closed

[2017-01-28 17:28] jywarren commented on #1218
awesome - thank you too!

On Sat, Jan 28, 2017 at 4:28 AM, Leo Matyushkin <notifications@github.com>
wrote:

[2017-01-29 18:30] mridulnagpal commented on #1070
@jywarren I have made another PR for it. It works fine now.

[2017-01-30 22:38] jywarren commented on #827
Hi, @steviepubliclab - shall we just fold this one into the /topics page, and assume that's the primary way people will find activities, rather than trying to develop an independent /activites page? I could just close this one.

[2017-01-30 22:38] #827 closed

[2017-01-31 05:02] Connerh92 commented on #1026
Hello, I noticed this was still open and it has been over a month since the last person had messaged, so I was wondering if I could have a go at this issue and fix it. Thanks!