[2020-04-21 14:36] jywarren commented on #7822
https://publiclab.org/map#11/40.67759191045513/-73.8769419793971 zoom 10 or 11 seems to be good. here's someone.

[2020-04-21 16:01] jywarren opened #7831 "Filter spam tags from /stats/subscriptions"
@ebarry reports:

We can edit the stats controller so that only tags that have at least one published node attached are displayed.

More in a moment (github outage!)

Here is the controller where we collect the tags:

https://github.com/publiclab/plots2/blob/4f68d273c9cf1526ddd65ec059e81401d08bf73a/app/controllers/stats_controller.rb#L2-L9

I think we can just add `.joins(:node)` ? If so this coul

[2020-04-21 16:23] jywarren opened #7832 "OpenGraph tags not recognized by Facebook on wiki pages, possibly others"
Here is where we set our OpenGraph tags for sharing pages on social media; this sets the preview image, title, etc:

https://github.com/publiclab/plots2/blob/4f68d273c9cf1526ddd65ec059e81401d08bf73a/app/views/layouts/application.html.erb#L45-L63

The facebook summary line was changed here: https://github.com/publiclab/plots2/issues/6734 so we may need to revert that but it's worth looking at "view

[2020-04-21 16:27] jywarren commented on #7832
Since this apparently also affects Twitter now, the facebook summary item seems unlikely to be the problem, unless the translation string has completely messed up all the OG meta tags.

So, we should check that but also whether there has been an OpenGraph policy change since Oct 2019 when we last fixed this.

[2020-04-21 16:42] #7719 closed

[2020-04-21 17:08] emilyashley commented on #7819
Addressed with https://github.com/publiclab/plots2/commit/ba9470957efeb6789ecc49bec13b270d506a9302

Thanks @jywarren!

[2020-04-21 17:27] jywarren commented on #7817
Hi, did you try https://publiclab.org/contributors/evidence?

How about https://publiclab.org/contributors/water-quality ?

[2020-04-21 17:51] jywarren commented on #7831
OK, confirmed that just `.joins(:node_tags)` works! Let's make this an FTO!

****

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough wi

[2020-04-21 17:59] jywarren opened #7833 "Adding new text to the post choose page at /post/choose"
Working space for better explanatory text for this page:

https://publiclab.org/post/choose

[code]

We may also want to link to http://publiclab.org/templates or show just 3 types at top but have a clear "More templates" that expands below?

[2020-04-21 20:15] margglee commented on #7574
@mekeenan1 and I are having some trouble trying to isolate this issue. We have found the publish button for comments posts in the path app/views/comments/_form.html.erb line 107.
`
 <div class="control-group">

          <button type="submit" class="btn btn-primary" ><%= translation('comments._form.publish') %></button>

           <% if local_assigns[:comment] %>

              <a class="btn btn-

[2020-04-21 20:28] jywarren commented on #7832
Facebook summary looks fine, btw:

[code]

[2020-04-21 20:30] jywarren commented on #7832
Currently our OG tags are:

[code]

[2020-04-21 20:33] jywarren commented on #7832
Hmm, @joyofsoy this doesn't show any errors I can see:

https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fpubliclab.org%2Fnotes%2FShannon%2F04-14-2020%2Fa-note-on-my-departure

![image](https://user-images.githubusercontent.com/24359/79911074-c2fbef80-83ed-11ea-8e6f-a603b445b547.png)

[2020-04-21 21:09] jywarren commented on #7574
Hi, so i believe there is a `$('button.publish').toggleClass('disabled');` method in jQuery! Just be careful for situations where there are many different buttons - like more than one comment that can be edited, response-to-comment boxes, etc -- there are a lot of Publish buttons possible on a given page, so testing this thoroughly will be really important.

Thanks, i hope this helps!

[2020-04-21 21:10] jywarren commented on #7574
I would even encourage a system test to be extra sure other `Publish` buttons are not affected. Take a look at these tests to see how we do system testing!

https://github.com/publiclab/plots2/blob/f7908c321b7aa52548c33021c41b410b95390ae5/test/system/comment_test.rb#L50-L63

[2020-04-21 21:42] sanchibansal340 commented on #7817
https://drive.google.com/file/d/1QGaSavgEuES-I-faI7-ozNSaiI4MGIZT/view?usp=drivesdk

It's showing like in both my laptop and phone. Can you please check if you can view the video?
Thanks

[2020-04-22 03:27] Tlazypanda opened #7834 "Filter spam tags from /stats/subscriptions"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-04-22 03:28] Tlazypanda commented on #7834
@jywarren not sure if I got the code change part right can you kindly confirm? :sweat_smile:

[2020-04-22 03:31] mekeenan1 commented on #7574
Thank you so much for the reply! We think we have found a way to disable the publish comment button, and toggle the disable property of the button with a script, but the script is not running and we are not sure why? We are also confused about how to access the form text box, we think it has the id "text-input", but we haven't been able to access that, or get our event listener to work.

We think

[2020-04-22 03:48] Tlazypanda commented on #7833
@jywarren  For the templates thing here is some text we can use and point them to the right template -
`Didn't find your category? You can always find more templates under the #template tag [here](https://publiclab.org/wiki/wiki-templates#More+templates). In addition to this you can also create your own template [here](https://publiclab.org/wiki/new?tags=template&title=Name%20your%20template%20her

[2020-04-22 05:53] Shulammite-Aso commented on #7822
@jywarren I don't do ruby, but I think I can take a shot at this!
And perhaps ask a question if I get stuck.

Thanks!!

[2020-04-22 06:02] dongskyler commented on #7834
May I contribute to this issue? Thank you

[2020-04-22 10:12] jscastanos commented on #7834
Hi @Tlazypanda can I claim this issue?

[2020-04-22 16:19] sssash18 commented on #7622
@ebarry Just in case if a person needs to be removed as a admin while still continuing to be a regular user, it's not possible currently. It kind of creates a void in functionality, so I think adding that option will be beneficial in that case. Thanks!

[2020-04-23 01:45] chinmay021 commented on #7811
Can you please provide the code linked to this page?

[2020-04-23 15:18] cesswairimu commented on #7822
Great :tada:  @Shulammite-Aso go ahead

[2020-04-23 15:21] cesswairimu commented on #7834
@Tlazypanda is this the fto extraction of https://github.com/publiclab/plots2/issues/7556?

[2020-04-23 15:26] cesswairimu commented on #7756
@jywarren @emilyashley what do you think?

[2020-04-23 15:27] Tlazypanda commented on #7834
@cesswairimu yeah can you please check if the code change is correct though?

[2020-04-24 05:32] dongskyler commented on #7834
This is my first contribution. I'm here to make revisions and corrections to make things right. Thank you.

[2020-04-24 07:48] Tlazypanda commented on #7834
@dongskyler Yeah go ahead! :rocket:

[2020-04-24 21:37] mackenzieros commented on #7684
Hello, if this is still available I would like to claim it!

[2020-04-25 21:30] bplmp opened #7840 "Titles on navbar dropdown links are all "translation missing...""
### Please describe the problem (or idea)

In the dropdown links in the site's navbar, all titles are "translation missing:...", example: "translation missing: en.Tools".

If you keep your mouse hovering for a couple of seconds on the link you'll see the title text.

### Please show us where to look

![image](https://user-images.githubusercontent.com/11858154/80291276-abd93c80-8722-11ea-9b6f-9c025

[2020-04-26 18:42] gauraws commented on #7834
Hi, looking for my first contribution. How can I contribute to this issue?

[2020-04-26 21:28] Shulammite-Aso commented on #7822
Hi @jywarren @cesswairimu  please do help.😊

I'm trying to get exactly what we need to do here.  Is it to change the global view here
https://github.com/publiclab/plots2/blob/ba9470957efeb6789ecc49bec13b270d506a9302/app/controllers/map_controller.rb#L26 from 3 to 10 or 11,  or to define another default value of say 11 while still leaving 3 as the global view?

Thank you!

[2020-04-26 21:40] gauravano commented on #7353
Hi @sssash18, I liked the idea.

We can also check for how long a session persists on website. I last logged into the site say 2 weeks ago or maybe more, but I just opened the website and I am still logged in. So, we should find those triggers which help us show the tag correctly.

The above idea can be in V2 too.

Thanks!

[2020-04-26 22:47] gauravano commented on #7840
Nice catch @bplmp. Would you like to take a shot at this one?

[2020-04-27 13:49] cesswairimu commented on #7822
@Shulammite-Aso you can try different zooms see which one gives the best display and use that as the default...10 was the proposed one

[2020-04-27 14:07] Shulammite-Aso commented on #7822
Thanks @cesswairimu
This will mean simply removing 3 and replacing with 10 right?
Just trying to know if there's any other code adjustment I'd need to make before this works.

[2020-04-27 14:28] cesswairimu commented on #7822
yeah just the zoom I believe. Thanks

[2020-04-27 15:13] katungi commented on #7840
@bplmp maybe i can take a look at it??

[2020-04-27 19:01] ebarry commented on #2627
Hi Cess, thanks for looking at this! This issue is unique even compared to the ones you pointed out, and it's still worth implementing this one. Seems like we are somewhat close? Maybe this could be re-written as a FTO?

[2020-04-27 19:18] cesswairimu commented on #2627
Hi, @ebarry sounds good..thanks

[2020-04-28 14:12] ebarry commented on #7406
Thanks all!

[2020-04-28 14:12] #7406 closed

[2020-04-28 14:17] jywarren commented on #2627
Hi, so the main remaining concern is that:

Redirecting to this new page instead of the post itself makes it hard to find the note. So we need to:

1. ensure that unpublished notes appear somewhere, like on your profile, or at http://publiclab.org/notes/author/liz for example, for the author themselves
2. we add a link to that page (which could itself be challenging because it may need to be a dyn

[2020-04-28 14:28] Tlazypanda opened #7844 "Weekly community Check-In #56 - Be generous, support and spread the word!"
We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share our ideology to help and support in whatever small way we can to whosoever needs our help. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their current week's goal :dart: . You are also welcome to share f

[2020-04-28 14:39] Tlazypanda commented on #7844
@sssash18, @Tlazypanda, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shulammite-Aso, @Jigyasa-Kumari, @moliver4, @TroydonAnabolic, @justinelai, @Janetsomehow, @keshav234156, @Snouzy, @dependabot-preview[bot], @stevenalila, @Digiox, @NitinBhasneria, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @cesswairimu,

[2020-04-28 14:39] Tlazypanda commented on #7844
@govindgoel @Rishabh570 @sashadev-sky @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publicla

[2020-04-28 14:48] cesswairimu opened #7845 "Weekly check-in template"
Lets create a template for the the check-in links we been copying text for more than an year now...lets have a template for check-in...we could use the text from  https://github.com/publiclab/community-toolbox/issues/308  that includes the priority issues ...we are however open to improvement of the text

[2020-04-28 14:54] ebarry opened #7846 "Link needs updating or removal"
### Please describe the problem (or idea)

I saved a draft note, which went well. Then i noticed at the top of the draft, there was a link on the words "adding a descriptive tag below" which did not do anything when clicked. Here is what it displays:

<img width="194" alt="Screen Shot 2020-04-28 at 10 52 51 AM" src="https://user-images.githubusercontent.com/161439/80502354-858fe880-893e-11ea-80b4-

[2020-04-28 15:44] jywarren commented on #6855
It looks like @ckchu8 has submitted a fix at https://github.com/publiclab/plots2/pull/7476 with tests!

Sorry for responding slowly but we're very excited for this fix.

The confirmation for whether it's a valid fix is that the number shown should match a manual count of the posts displayed in the paginated list below. I believe this is confirmed here:

https://github.com/publiclab/plots2/pull/747

[2020-04-28 15:47] ebarry commented on #7817
Thank you @sanchibansal340 -- i agree with you. I see that your video shows that the display for   https://publiclab.org/contributors/water-quality is working properly for you.

It is looking even worse for me, at least at the current width our screen is set to.

<img width="628" alt="Screen Shot 2020-04-28 at 11 44 46 AM" src="https://user-images.githubusercontent.com/161439/80508375-f8509200-894

[2020-04-28 15:49] sanchibansal340 commented on #7817
Okay I will work on it

[2020-04-28 16:05] alaxalves commented on #7844
I had been very busy with PL stuff these past weeks. I got to successfully help @icarito on shipping Mapknitter to our Google Cloud env, which involved a lot of rebasing and adjusting the existing code, Yall can get more info here --> https://github.com/publiclab/mapknitter/pull/1273. Also, along with @gr455 I got to finish the Ruby and Rails upgrade on Spectral Workbench, with slightly improved t

[2020-04-28 16:31] #6855 closed

[2020-04-28 16:47] ebarry opened #7847 "🌞Remove text from /contributors page"
Hello! This might be a great issue for a newer contributor. 🌺
This issue is a small piece broken out of https://github.com/publiclab/plots2/issues/7817

### The problem

There is outdated text that needs removal.
It is the large text on /contributor/foo pages.
I outlined the text in hot pink, as it appears at two different screen widths:
<img width="685" alt="Screen Shot 2020-04-28 at 12 39 12 PM"

[2020-04-28 16:49] ebarry commented on #7817
Hi @sanchibansal340 , thank you for writing back so quickly after it took me 7 days to write back to you! i'm realizing through working with @jywarren and @emilyashley that there are several pieces to this issue. haha 😅

1. The Header Text. I just made this issue to address it https://github.com/publiclab/plots2/issues/7847

2. The appearance of the table at different widths. I'll write more on th

[2020-04-28 16:55] sanchibansal340 commented on #7817
Okay @ebarry . It isn't a problem, I realize that you must be busy.

[2020-04-28 17:21] Janetsomehow commented on #7844
I have been offline for a while dealing with family stuff. I hope to start learning something new this week

[2020-04-28 17:28] gr455 commented on #7844
Hi everyone!
I helped @alaxalves with Rails upgrades on SWB this week. Apart from that, I have also been working on a web application of my own for my university folks to be able to exchange notes(since the classes have been online past couple weeks, not many people actually listen to them). Currently it is hosted on <a href = "http://gr455.pythonanywhere.com">gr455.pythonanywhere.com</a>. Has bee

[2020-04-28 18:09] jywarren commented on #7844
Hi, everyone! So glad to see you all and thanks to @Tlazypanda for opening this up!

I'm working on a bunch of different issues this week after taking 3 big ones from MapKnitter last week. I'm struggling a bit with getting https://github.com/publiclab/plots2/pull/7820 - a bump to latest editor version -- to pass, and hoping to check out https://github.com/publiclab/PublicLab.Editor/pull/437 with f

[2020-04-28 18:11] jywarren commented on #7831
Just to clarify, this would become:

[code]

starting on line  4 of the code referenced above!

[2020-04-28 18:27] jywarren commented on #7822
Amazing @Shulammite-Aso thank you! Reviewing now!

[2020-04-28 18:28] #7822 closed

[2020-04-28 19:08] jywarren commented on #6444
Hi, i'm sorry, but @Alexjake660 or @Srija616 yes please go ahead! We definitely would like help with this.

[2020-04-28 19:16] jywarren commented on #7684
@mackenzieros you're welcome to take this up as it looks like nobody else is working on this! Thank you!

[2020-04-28 20:11] ebarry commented on #2627
Ok after workshopping this with @emilyashley and @jywarren , we are now thinking to keep the current workflow of showing the first time poster their own content when they hit publish. HOWEVER ☀️--
We wish to increase the size and improve the design of the Alert message shown so that it can't be missed, and add the link to https://publiclab.org/first-contribution in the alert itself. 🌳🚀

Here is th

[2020-04-28 20:17] Uzay-G commented on #7844
Hey everyone! Online school is quite intense right now, with lots of work from our teachers on top of the video meetings. I am building a website right now with a few biologists to provide clear and intuitive  information about the virus and how to stop its spread.
I hope doing this will be able to help in the fight against the virus by teaching people how to act more responsibly :smile:

[2020-04-28 20:26] ebarry commented on #7818
@steviepubliclab does this encapsulate your concern? Please add ☀️

[2020-04-28 20:54] ebarry commented on #7817
To address _2) the appearance of the table at different widths_, luckily the solution already exists—however, it's only visible at less than ~750 pixels of screenwidth. Perhaps this is referred to as "Media Width", as in for phones?

Here's the table looking great, as @sanchibansal340 also showed in video above:

<img width="617" alt="Screen Shot 2020-04-28 at 4 44 02 PM" src="https://user-images.

[2020-04-28 20:57] Alexjake660 commented on #6444
@jywarren thanks

[2020-04-28 21:50] jywarren commented on #2627
Awesome. If you'd like to take on writing the text, I'm happy to refactor it into HTML!

[2020-04-29 14:10] ebarry commented on #2627
here's how it could be -- I welcome further improvements

## Success! You did it! Hooray!

Thank you so much for contributing open research and being part of our community.

## Here's what's happening now:
Your <a href='/first-contribution'>first contribution</a> is awaiting approval by <a href='/wiki/moderation'>community moderators</a>. **If you have asked an urgent question about an environment

[2020-04-29 14:30] #7818 closed

[2020-04-29 14:30] ebarry commented on #7818
fixed this by adding more content

[2020-04-29 15:28] ebarry commented on #7817
Hi SanchiBansal340, i did not mean to "assign myself" to fix the issue yesterday, I have assigned it to you if you would still like it. 🌳

[2020-04-29 15:29] ebarry commented on #7763
I think this issue is fixed and could be closed now?

[2020-04-29 15:49] emilyashley commented on #7756
Hmm, yeah, that sounds okay to me.

I think email, location, and location privacy settings are things I **would** expect password validation for. Are either of those editable from the bio section? (Thanks, still learning how all the pieces interact :) )

[2020-04-29 15:55] ebarry commented on #7675
Hi @Tlazypanda , did you have a chance to try out any changes using this expression editor? https://rubular.com/r/HsxxuTG8zG0zSL Seems like a little game, to try and adjust how the @names are recognized on our site but not when there is a '/' on either side.

[2020-04-29 16:02] Tlazypanda commented on #7675
Hey @ebarry  I am so sorry totally forgot about this issue while working on other  issues ...is it alright if I take it up after some days since my university examinations are going on :sweat_smile:

[2020-04-29 17:01] nstjean commented on #7844
I'm sorry I haven't been around! My main computer wasn't booting and it was "school break" last weekend for my kids, no schoolwork to keep them occupied. It's such an adjustment to have everyone in the house together all day long!

I would like to clean up the things I was finishing up on on the maps across the different repos. And just in general catch up with what has been happening here!

[2020-04-29 19:22] mackenzieros commented on #7684
@jywarren okay, claimed! Thank you.

[2020-04-29 19:50] ebarry commented on #7756
Ok so this is ready to approve if we can verify that changing the account's email, changing the location, and changing the location privacy settings are behind password validation.

[2020-04-29 21:34] ebarry commented on #7675
Of course!!! Good luck on exams!!!

[2020-04-29 22:03] #7834 closed

[2020-04-29 22:10] cesswairimu commented on #2627
Great :tada:

[2020-04-30 03:12] mackenzieros commented on #7684
Looks like this issue has already been resolved.

[2020-05-01 00:49] keshavsethi opened #7855 "table content is not aligned"
In https://publiclab.org/contributors/air-quality People who are following column is not aligned with other columns as shown
![Screenshot from 2020-04-29 02-44-39](https://user-images.githubusercontent.com/36025262/80772189-83fb3600-8b73-11ea-931f-9ea6e16d5086.png)
Thanks!!

[2020-05-01 11:32] jscastanos opened #7858 "Error when signing up using GitHub account"
### **The problem**

I tried to sign-up using my GitHub account, then after authorizing publiclab via GitHub, it redirects me to an error page.

![Capture](https://user-images.githubusercontent.com/37854603/80801700-ca867a00-8bdf-11ea-9856-ef522be35882.JPG)

I tried to look at my GitHub account and my email to check if the sign-up action was successful. And it was, I have granted access to publicl

[2020-05-01 11:43] jscastanos commented on #7858
Can someone help me, I don't why I can't add a label. There's no checkbox or gear that I can click to add a label.

[2020-05-01 19:00] #7505 closed

[2020-05-02 10:11] sanchibansal340 commented on #7817
Yes, I want to work on it. Sorry was a little busy due to exams. I will start in 3 days, will that be okay?

[2020-05-03 12:11] #7831 closed

[2020-05-04 13:58] #7847 closed

[2020-05-04 15:40] SidharthBansal commented on #7858
@jscastanos thanks for opening up an issue here. You don't have access to add labels to this repo. Are Google, Twitter and Facebook working at your end?
Try logging in using email and password
Can you please clear the cache and try? Try on your mobile and tell us the behaviour. Thanks

[2020-05-04 15:40] SidharthBansal commented on #7858
Sometimes there are legacy issues.

[2020-05-04 15:47] SidharthBansal commented on #7844
Hello everyone, I hope you all are curious about the Google Summer of Code results today! :tada: :tada:
For those who has not passed this time, I will say, you all have potential. This year, we had very few slots so we were not able to select all the hardworking candidates. We really :heart: your contributions at Public Lab and will always be there to help you to uplift your career. You all have l

[2020-05-04 15:51] SidharthBansal opened #7866 "Weekly community Check-In #57 - GSoC & Outreachy Commences"
We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share our ideology to help and support in whatever small way we can to whosoever needs our help. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their current week's goal :dart: . You are also welcome to share f

[2020-05-04 15:51] SidharthBansal commented on #7866
Hello everyone, I hope you all are curious about the Google Summer of Code results today! tada tada
For those who has not passed this time, I will say, you all have potential. This year, we had very few slots so we were not able to select all the hardworking candidates. We really heart your contributions at Public Lab and will always be there to help you to uplift your career. You all have learned

[2020-05-04 15:51] SidharthBansal commented on #7844
Moved to https://github.com/publiclab/plots2/issues/7866

[2020-05-04 15:52] SidharthBansal commented on #7866
@govindgoel @Rishabh570 @sashadev-sky @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publicla

[2020-05-04 15:52] SidharthBansal commented on #7866
@sssash18, @Tlazypanda, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shulammite-Aso, @Jigyasa-Kumari, @moliver4, @TroydonAnabolic, @justinelai, @Janetsomehow, @keshav234156, @Snouzy, @dependabot-preview[bot], @stevenalila, @Digiox, @NitinBhasneria, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @cesswairimu,

[2020-05-04 15:52] SidharthBansal commented on #7866
@vinitshahdeo, @dragonwarp, @z-arnott, @JanviMahajan14, @mantinone, @DouglasLutz, @seabl, @jywarren, @crisner, @Uzay-G

[2020-05-04 16:14] SidharthBansal commented on #7821
Hi @emilyashley we see a lot of things while reviewing the prs.
1. Inclusion of Modularity. Have you read a post about it by Jeff? Small feature based prs.
2. Inclusion of tests - Post by Jeff. To ensure correctness of code.
3. Well documented for better understandability and readability
4. Screenshots to check the behaviour
5. Multiple reviews at complex sections like login, integration of lel, e

[2020-05-04 17:13] Dhiraj240 commented on #7866
All the best everybody, I will not be selected in my last attempt again(gut feeling :P).

All the best all.

[2020-05-04 18:23] SidharthBansal commented on #7866
@Dhiraj240 you are really hardworking. We really appreciated your work. Kindly look for more and better opportunities.

Congrats all! Google announced it https://summerofcode.withgoogle.com/organizations/6496801642774528/?sp-page=2

[2020-05-04 19:57] ebarry commented on #7817
Yes, thank you so much! Good luck on exams, and do get plenty of rest too :)

[2020-05-04 20:57] alaxalves commented on #7866
Thanks a lot for picking me guys. :partying_face: :partying_face:

[2020-05-04 22:53] jscastanos commented on #7858
Thank you @SidharthBansal. I just check and Google works fine for me. I tried to clear the cache and try to login using Github but it's still an error. Maybe it's a github auth bug or something.

[2020-05-05 06:16] gr455 commented on #7866
Congratulations everyone! :tada:

[2020-05-05 07:33] sssash18 commented on #7866
Congrats everyone and have a great experience! 👍

[2020-05-05 08:28] CoderJolly commented on #7866
Kudos Everyone 🎉🎊

On May 5, 2020, 1:03 PM, at 1:03 PM, Suyash Choudhary <notifications@github.com> wrote:

[2020-05-05 08:32] blurry-x-face commented on #7866
Congratulations everyone!!! :tada: :tada:

[2020-05-05 08:50] sarthak-choudhary commented on #7684
hello, if this is available and not solved yet I would like to claim it.

[2020-05-05 09:05] sarthak-choudhary commented on #7737
Is this issue done ? If not I would like to claim it.

[2020-05-05 09:08] sarthak-choudhary commented on #6748
@sashadev-sky I want to claim this issue. Is it still available?

[2020-05-05 09:27] sarthak-choudhary commented on #6748
please give a look to my PR @sashadev-sky

[2020-05-05 11:53] vinitshahdeo commented on #7866
All the best everyone for making it to **GSoC** 2020! 🎉

**Wishing you a great journey ahead!** ❤️

[2020-05-05 12:27] dongskyler commented on #7866
Thank you very much. I think I have received more credits than I deserve. Thanks to @cesswairimu , @jywarren, and @Tlazypanda on #7831.

[2020-05-05 14:57] jywarren commented on #5435
Re-opening as this has reappeared in some places!

[2020-05-05 14:58] jywarren commented on #5435
We should be able to isolate the line of code where the shortcut is set up and exclude typing into `<input>` or `<textarea>` or woofmark-related (editor related) areas!

[2020-05-05 15:28] jywarren commented on #7832
@joyofsoy says:

so, I think we should look in https://publiclab.org/wiki/ for content that's never been shared. If you don't see errors, try a different wiki page below! Joe will also share a screenshot of the errors he sees for comparison.

[2020-05-05 16:14] #6748 closed

[2020-05-05 17:30] nicoleiocana commented on #7737
@sarthak-choudhary You got it. The issue is now yours to claim. Good luck! 😀

[2020-05-05 19:00] jywarren commented on #7622
I don't have a strong opinion on this but the system was actually designed so it's not possible to un-admin someone - so that we don't end up without admins or so an admin doesn't like, "go rogue" or something. But really it's just not a common case so we didn't reason through this very thoroughly. I generally default to thinking that we should not add new features that aren't going to be used muc

[2020-05-05 19:33] jywarren commented on #6072
OK! discussing this, let's be sure we have good mobile view mockups for this and then we'll make a to-do list! @NitinBhasneria yes we'd love help with it!

[2020-05-05 19:37] emilyashley commented on #6072
Just looking at this for the first time, this is AWESOME.

My only question right now is what's the responsive / flex / collapse plan for these different elements on mobile devices? Are there existing mockups to that that I'm just not seeing?

[2020-05-05 19:56] emilyashley commented on #6072
💡-- I use this a lot and wanted to share with whoever is working if they haven't tried it in Chrome devtools :)  https://developers.google.com/web/tools/chrome-devtools/device-mode#device

[2020-05-05 20:01] jywarren commented on #6072
OK, here is a rough mobile view of the dashboard:

![image](https://user-images.githubusercontent.com/24359/81110165-2e16ed00-8ee9-11ea-8989-0ae59e396258.png)

Notes:

* offer more topics to follow at bottom if you have <3 or so topics, with an explanatory notice `You're following only 3 topics; select more from the featured topics below.`
* collapse the `Follow more topics` menu at the top

I thi

[2020-05-05 20:28] jywarren commented on #5435
Noting this was originally implemented in https://github.com/publiclab/plots2/issues/5174

and https://github.com/publiclab/plots2/pull/5190 was the PR.

We do have exceptions shown here:

https://github.com/publiclab/plots2/blob/611bb67a8398135f83ba23137c834ef41ad82710/app/assets/javascripts/keybindings.js#L1-L11

But notice that the solution only changed the pointer CSS not the actual event! Fix

[2020-05-05 20:29] jywarren commented on #5435
Solution in https://github.com/publiclab/plots2/pull/7872!!

[2020-05-05 20:30] jywarren commented on #5435
It'll need testing though. Once this is merged, let's try it out at https://stable.publiclab.org/post  by trying to make a link and typing in a `/`

[2020-05-05 20:38] ebarry commented on #7622
Hi @sssash18 , i think we are leaning towards a "do not implement" position on this, but it's not without gratitude for your thoughtfulness and insight into what does seem to be an obvious oversight.

[2020-05-05 20:40] ebarry commented on #7846
Hi all, i suspect this might not be too tricky if someone could share code links?

[2020-05-05 20:43] #5435 closed

[2020-05-05 22:12] jywarren opened #7873 "Welcome, Outreachy/GSoC 2020 participants! Let's plan & coordinate! 🎉🙋‍♀️🙋🙋‍♂️"
Welcome!!!! 🎉 💯 🙌 ✨✨✨✨

Congratulations and thanks to everyone who’s worked so hard in the past few months towards our Outreachy and Google Summer of Code initiatives. Now that we have accepted 7 projects, it’s time to start planning how we’ll work together. We've compiled this issue, and [this Google Doc of the same content](https://docs.google.com/document/d/1NwWrIhumVxVa0i__ZRMY9upLh6LmzNrG-0Pt

[2020-05-05 22:16] jywarren commented on #7866
Hi, Outreachy and GSoC folks!!! I've build on Sidharth's suggestions above and posted a longer Welcome Packet issue for you all which we've been working on for a little while! https://github.com/publiclab/plots2/issues/7873

Please check it out!!!

[2020-05-05 22:25] jywarren commented on #7873
cc mentors and coordinators! @emilyashley @cesswairimu @SidharthBansal @sidntrivedi012 @subhahu123 @starkblaze01 @debck @ananyaarun @govindgoel @pydevsg @blurry-x-face

And participants this year! @Tlazypanda @Shulammite-Aso @shreyaa-s @keshav234156 @keshavsethi @alaxalves @NitinBhasneria 🎉

[2020-05-05 22:25] jywarren commented on #7360
Hi mentors! Moving to our welcome/planning issue here! https://github.com/publiclab/plots2/issues/7873

[2020-05-05 22:25] jywarren commented on #5667
Great! Referenced this and built on it in https://github.com/publiclab/plots2/issues/7873 ❤️

[2020-05-06 03:30] keshav234156 commented on #7873
@jywarren @cesswairimu I have opened a Planning issue for Editor project at https://github.com/publiclab/PublicLab.Editor/issues/490

[2020-05-06 03:36] satyamgipu commented on #7812
I want to work on  this issues .

[2020-05-06 04:49] anshalshukla commented on #7703
Can I claim this issue as there has been no activity in a while

[2020-05-06 04:55] anshalshukla commented on #7344
Can I claim this issue?

[2020-05-06 08:11] cesswairimu commented on #7873
Fantastic thanks @keshav234156  :tada: :tada:

[2020-05-06 08:54] crisner commented on #7344
@anshalshukla, this issue is no longer relevant. Thanks!

[2020-05-06 08:56] crisner commented on #7344
Closing this issue as we don't have the problem anymore.

[2020-05-06 08:56] #7344 closed

[2020-05-06 09:03] anshalshukla commented on #7700
@Shulammite-Aso assign it to me as I see there has been no activity in this issue in a while

[2020-05-06 09:07] anshalshukla commented on #7194
@anthony-zhou can I work on this issue?

[2020-05-06 09:44] Shulammite-Aso commented on #7700
@anshalshukla you can go ahead.👍

[2020-05-06 11:08] Atep6 commented on #7700
No sir

[2020-05-06 11:21] anshalshukla commented on #7700
@Shulammite-Aso I think this issue has already been resolved as the points mentioned seems to be done already, give it a look and close this issue and assign me other first-timers issue.

[2020-05-06 13:39] ebarry commented on #7858
any updates on this?

[2020-05-06 13:41] ebarry commented on #7840
Yes please do! Apologies if the invitation was not clear when @gauravano asked "would you like to take a shot at this one" -- we'd be grateful if you would @katungi 🌳🌻

[2020-05-06 13:53] ebarry commented on #7617
Great to meet everyone on this thread! Please join us over at the new issue "Welcome, Outreachy/GSoC 2020 participants! Let's plan & coordinate! 🎉🙋‍♀️🙋🙋‍♂️"  #7873

[2020-05-06 13:53] #7617 closed

[2020-05-06 14:18] nicoleiocana commented on #7703
@anshalshukla You got it!

[2020-05-06 15:44] cesswairimu commented on #7624
Thank you everyone for applying with PublicLab. We had great proposals from all you and with PublicLab participating as a sub org we had few slots but we would have loved to take in more..
Please know that we are extremely grateful for your work with us to date and that we welcome you to continue being part of this community. Thank you for understanding and we hope you’ll apply again :heart:

[2020-05-06 15:44] #7624 closed

[2020-05-06 15:51] katungi commented on #7840
Thanks @ebarry, will start on it asap!

[2020-05-06 16:03] anshalshukla commented on #7703
@nicoleiocana have linked PR #7881 to solve this issue and that has been reviewed by @govindgoel . I wonder want needs to be done next.

[2020-05-06 16:03] anthony-zhou commented on #7194
@anshalshukla Go for it. Best of luck!

[2020-05-06 17:16] jywarren opened #7882 "translation helper error on wiki editor"
When editing a wiki page like https://publiclab.org/wiki/sandbox, and in a non-English language, i see this error by the Post button. I think it's an instance of https://github.com/publiclab/plots2/issues/7798

![image](https://user-images.githubusercontent.com/24359/81207396-7db5f100-8f9b-11ea-89b3-f61e8e7532c1.png)

To reproduce, edit a wiki page like https://publiclab.org/wiki/sandbox after cha

[2020-05-06 17:17] jywarren commented on #7798
Hi, sorry for slow response, thanks for the thorough look! I'm not sure why it's not appearing for you, but I agree about use inside buttons. I just filed a new instance that is exactly that!

https://github.com/publiclab/plots2/issues/7882

[2020-05-06 22:03] jscastanos commented on #7858
@ebarry I just checked and it's still gives an error if you choose GitHub on sign up.

[2020-05-07 02:20] nicoleiocana commented on #7703
@anshalshukla Nothing, you are done. Awesome job! In a couple of days, your PR will be merged and then this issue will be closed. Congrats! 🎉

[2020-05-07 11:56] Tlazypanda opened #7883 "Outreachy '20: Optimize Performance and accessibility Project Planning"
Hey everyone! This is a planning issue to map out all the tasks to be covered in the upcoming weeks and create a room for further discussions and improvements.

## Performance Analysis and Improvement:
Tasks:

- [ ] Using WebpageTest and PageSpeedInsight to study the current waterfalls.
- [ ] Minify js by setting `uglifier` gem in `config/production.rb` file.
- [ ] Minify css by upgrading `sassc-r

[2020-05-07 12:12] Tlazypanda commented on #7883
@jywarren @cesswairimu @SidharthBansal This is just an initial draft for the planning. Since all of the features to be implemented require rigorous testing I think it would be better for now to not make this a project :sweat_smile: . Please go through all of the tasks I have raised, I have tried to be as elaborate as possible and since these are a not bugs, its entirely upon us if we want to imple

[2020-05-07 12:14] Tlazypanda commented on #7873
Hey @cesswairimu @jywarren @SidharthBansal I just opened the planning issue at https://github.com/publiclab/plots2/issues/7883 .Please have a look and provide some feedback on the same :rocket: .Thanks!!

[2020-05-07 12:47] cesswairimu commented on #7883
Great breakdown...Thanks for opening this @Tlazypanda

[2020-05-07 18:40] ebarry commented on #4094
Just popping in to say I still see gray and green checkboxes on https://publiclab.org/wiki/water-quality#Questions+on+Water+Quality

[2020-05-07 19:09] shreyaa-s commented on #7816
Since all the pull requests are reviewed thoroughly, I don't think a bot is needed.

From my understanding of the same, the client-side validations are just basic checks that are better validated on the client-side. To elaborate a little, for email, we only check if it is a valid email. Similarly, availability of username, both the password and confirmation passwords are the same is checked. In my

[2020-05-07 19:19] ebarry commented on #2206
I just tested the inline editor at https://publiclab.org/wiki/community-development?raw=true and when i clicked 'Save' button, the spinning wheel went on for over two minutes. When I got tired of waiting I reloaded the page, and the changes had not been saved.

[2020-05-07 19:25] emilyashley commented on #7873
Hey folks! Welcome! There's a lot happening so fast already and the momentum is AWESOME. 🤩

Hi @Tlazypanda @Shulammite-Aso @shreyaa-s @keshav234156 @keshavsethi @alaxalves @NitinBhasneria !!

Just wanted to call your attention here and make this space for us to meet and schedule a Welcome Call.

First off, I'm Emily I live in New Orleans, USA and my office hours are typically 10am-2pm Central Time

[2020-05-07 19:27] emilyashley commented on #7873
Also YAY we have an Editor Team! I'm interested in having a Kick Off call with y'all and setting up shared project management tools (like, Milestones) that work well for collaboration between a team of 4 :) More on that in the Editor Repo, later!!

[2020-05-07 19:37] keshav234156 commented on #7873
@emily In India we have timezone GMT+5:30. I would like to prefer to have a Call on Tuesday when other coordinators are available as well. I would prefer 9 am - 12 pm Central time. For Editor, we can have it on any day of the week between 9 am to 12 pm Central Time.

[2020-05-07 21:14] shreyaa-s commented on #7873
For me, anytime between 9 am - 2 pm (Central Time) works fine, any day of the week. Though, like Keshav, I would prefer to have a call on Tuesday as well when all coordinators are available. Thanks!

[2020-05-07 22:26] jywarren commented on #7816
This is a good approach, @shreyaa-s -- thanks! So, perhaps one piece of the guidance could say something like:

Client-side validations are for:

* checking if an email address is a valid format, i.e. includes `@` symbol
* ...

Client-side validations are NOT for:

* checking if an email or password matches what's in the back-end database (for security reasons) [this would need to be explained mor

[2020-05-08 00:20] keshavsethi opened #7885 "GSoC'20: "Spam Management Dashboard" Project Planning"
Hey everyone!! :smile: This is the Planning Issue for [Spam management Dashboard](https://publiclab.org/notes/keshav_sethi0004/03-12-2020/gsoc-2020-proposal-spam-management-dashboard). All the major project Goals are divided into small tasks that will be covered in the upcoming weeks and all are open for further discussion and improvements.([Docs](https://docs.google.com/document/d/1cwAXtTlgLmqX2E

[2020-05-08 00:34] keshavsethi commented on #7873
Hey @emilyashley, 10 am to 2 pm works for me and Tuesday is also fine :smile:

[2020-05-08 00:38] keshavsethi commented on #7873
I have opened a planning issue for the Spam management Dashboard at #7885. Please provide your feedback at the same :sweat_smile: @SidharthBansal @jywarren @ananyaarun @pydevsg @emilyashley @cesswairimu
Thanks!!

[2020-05-08 01:03] keshavsethi commented on #7885
All the **moderators**  of Public Lab can also review this UI,  features and can give their feedback. It will be very useful for this.
Thanks!! :smiley:

[2020-05-08 06:37] NitinBhasneria commented on #7873
Hey @emilyashley, 10am - 2am will be best time for me.

[2020-05-08 07:29] Shulammite-Aso commented on #7873
Hi @emilyashley Tuesday is cool, but 12pm - 2pm central will be a lot convenient for me.

For any other week day, 9am - 2pm central time is all good.

Meanwhile, I live in Nigeria, with timezone GTM+1.

[2020-05-08 08:26] Tlazypanda commented on #7873
Hey @emilyashley !! 10am to 2pm central time works for me too and Tuesday sounds good. Looking forward to this :tada:

[2020-05-08 08:41] Tlazypanda opened #7887 "Minify JS using Uglifier for performance"
Currently the js files are not minified which slows down the first paint of the website. Uglifier gem which is already present in the gem file can be used for minfying js and hence decreasing the first paint time of the website.

**Additional context (optional)**
### Screenshots-
Currently the performance of PublicLab is 2/100 score on Google PageSpeedInsights.
![image](https://user-images.githubu

[2020-05-08 09:30] shreyaa-s commented on #7816
Thanks @jywarren ! This is a draft in your proposed format for anyone wishing to work on validation:

**Client-side validations** are for whitelisting the input, or positive validation of input. This means that we check if the input is in a valid format and does not contain something that could harm the database. This also checks that the input entered is in the proposed format and meets the requi

[2020-05-08 10:26] Tlazypanda opened #7888 "Remove fontawesome discrepancies and add it in the asset pipeline"
Currently the font-awesome library is added twice in the package.json file version(4.7 and 5.12). It is also called in the file `app/views/csvfiles/new.html.erb` from a cdn. This leads to a slower load time on the website.

**Please describe the desired behavior.**
Replacing the font-awesome library with the font-awesome-rails [gem](https://github.com/bokmann/font-awesome-rails) is a good solution

[2020-05-08 10:44] keshav234156 commented on #7885
@keshavsethi from where did you design the mockup. It looks really nice and clean!!

[2020-05-08 11:03] Tlazypanda opened #7889 "Check for js files duplication in assets.rb and application.js"
Currently many files which are already present in the application.js manifest file are present in assets.rb as well. Also if files mentioned in assets.rb are applicable for use throughout the application it is better to include them in application.js instead of augmenting the asset array in assets.rb.

**Please describe the desired behavior.**
The duplicates can be removed and also further js file

[2020-05-08 11:45] Tlazypanda opened #7890 "Minify css using yui or sass-rails"
Currently the minify css setting is not set in production.rb file. While the sass-rails gem is present in the gemfile but it is not configured.

**Please describe the desired behavior.**
Css minifcation can be achieved by configuring `sass-rails` by setting it in `production.rb`. But apart from this all the css files mentioned in the `application.css` manifest file have to be replaced with `@impor

[2020-05-08 13:36] Tlazypanda opened #7891 "Load only critical css for intial page load and rest asynchronously"
Currently the application.css file is blocking the rendering of the website. But most of the css present in it is unused for the initial page load or not critical. So it makes sense to defer this unused css and only load the critical css for the initial page load.

**Please describe the desired behavior.**
The loadcss-rails [gem](https://github.com/michael-misshore/loadcss-rails) and the critical-

[2020-05-08 15:01] Tlazypanda commented on #7846
Hey @ebarry  I just created a pull request for this ...didn't remove the link part but replaced it with opening the tags adding button because it seemed a better option :sweat_smile: Can you please check out the GIF in my pull request and let me know if this works. Thanks a lot! :smile:

[2020-05-08 15:33] ananyaarun commented on #7885
@keshavsethi Very well structured !! It shows you have a great understanding of the goals of your project which is very good :smiley:
Are you planning to start with UI improvements and bulk moderation aspects from this list first ?
Also while working keep updating this list and if you find any easy issues especially under UI improvements like responsiveness and minor design changes do make a few n

[2020-05-08 15:39] jywarren commented on #7703
Hi @Rohit-786, it looks like perhaps you opened a pull request for an issue that someone is already solving? If so, that's OK, i'm sure we can find you a new project to take on instead. Thank you!

[2020-05-08 15:40] jywarren commented on #7703
And thank you @nicoleiocana for being such a welcoming presence!

[2020-05-08 15:42] #7844 closed

[2020-05-08 15:43] jywarren commented on #7866
Hi all, i wanted to recognize @nicoleiocana for being a spectacular welcomer in our community. This was a helpful, warm, and supportive message for a newcomer:

https://github.com/publiclab/plots2/issues/7703#issuecomment-605349109

Sending thanks and appreciation to @nicoleiocana !!! 🙌 ❤️

[2020-05-08 15:46] jywarren commented on #7866
@nicoleiocana perhaps you might like to open the next check-in? https://github.com/publiclab/plots2/issues/5627

[2020-05-08 15:51] pydevsg commented on #7885
Hey @keshavsethi , the planning seems really well for me . As suggested by @ananya do update the list while working on them. Create issues accordingly and feel free to ping or tag whenever you need help. All the best :100: .

[2020-05-08 16:32] nicoleiocana commented on #7703
@jywarren Glad to be of help.

[2020-05-08 23:26] TroydonAnabolic commented on #7844
Have been away for some time too, just moved houses and had heaps of things to sort, finally back into working on the RPG game tutorial i was following.

[2020-05-09 11:55] jscastanos commented on #7811
possible duplicate of #7762

[2020-05-09 12:06] jscastanos commented on #7828
How about we do it like this :

![Capture](https://user-images.githubusercontent.com/37854603/81473296-0947b000-9230-11ea-9f9b-f83f3dceb628.JPG)

By default, the publish button is disabled until there is a comment written by the user. If the user will click the preview and there's no comment, then it will display "Nothing to preview".

Also, I think it's better to named the button "Write a comment

[2020-05-09 21:27] nicoleiocana commented on #7866
@jywarren  Yes, I would be proud to open up next week's check in. I just need some direction as to how to format/ structure the thread....and was hoping that you could steer me where I need to go/the individuals who could offer that support.

[2020-05-10 00:10] jscastanos opened #7896 "Comment Error Message appears on another page"
### Please describe the problem (or idea)

The error message doesn't behave as it should be.

Steps to produce:
1. Select any topic and submit an empty comment. (error message should appear that it could not be saved)
2. Navigate to other pages.
3. The error message will appear on the page you selected.

![output1](https://user-images.githubusercontent.com/37854603/81487806-ca4b4600-9293-11ea-8abf

[2020-05-10 20:36] cesswairimu commented on #7885
This looks great :tada: :tada: Thanks @keshavsethi  for opening this :rocket:

[2020-05-10 20:40] cesswairimu commented on #7844
Great @TroydonAnabolic hope you are settling in fine...we change weekly check-in issues every week you can find the links on #5627 ...current check-in is at #7866

[2020-05-10 20:47] cesswairimu commented on #7866
Great, thanks @nicoleiocana :tada:
You can choose a topic to be the theme of the week and copy the first paragraph of the description on the current issue and have it as part of your description. You can checkout previous themes on #5627  for pointers. As to when to open the check-in either today or tomorrow(Monday morning) Please feel free to ping me if you need any help or clarity .
Thanks again

[2020-05-10 21:21] cesswairimu commented on #7846
@ebarry @Tlazypanda I feel like the link should redirect to https://publiclab.org/tags what do you think?

[2020-05-10 21:31] cesswairimu commented on #7873
@emilyashley  https://doodle.com/ might be a great tool to do a poll on the time

[2020-05-11 10:50] alaxalves commented on #7873
Hello @emilyashley ! I'm in Brazil at GMT -3 timezone. Tuesdays at any time are okay for me, we'd only have to get it scheduled a few days earlier.

[2020-05-11 13:57] nicoleiocana opened #7899 "Weekly Community Check-In #58 - Acceptance"
We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their current week's

[2020-05-11 13:58] nicoleiocana commented on #7866
@cesswairimu Here is this week's check in #7899 . Thanks for the opportunity to share some insight to everybody here at Public Lab.

[2020-05-11 14:31] gr455 commented on #7899
Hi everyone! Hope everyone is doing well. I have been quite occupied with some collegework for the past few days(since the vacations start in 5 days :tada: ).I also participated in SharkyCTF this weekend which was super cool. This week, I will finish off my university work and try to help with SWB upgrades. I am also searching for an intership of sorts to do over the summer :smile:

[2020-05-11 16:04] cesswairimu commented on #7866
Thanks @nicoleiocana ...Moved to #7899 . Thanks everyone

[2020-05-11 16:04] #7866 closed

[2020-05-11 16:07] cesswairimu commented on #7899
@jscastanos, @jywarren, @sarthak-choudhary, @dongskyler, @keshavsethi, @Shulammite-Aso, @ckchu8, @keshav234156, @DerekChristy, @Srija616, @priyanka-choubey, @Tlazypanda, @AyanChoudhary, @imajit, @NitinBhasneria, @nstjean, @marientje, @rutger-t, @Janet33, @TroydonAnabolic, @priyanshbalyan, @Medlineme4, @mandysGit, @msanden, @AidenOliver, @Janetsomehow, @AntroMarina, @llabake, @khushi02, @Alexjake66

[2020-05-11 16:08] cesswairimu commented on #7899
@greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Jigyasa-Kumari, @moliver4, @govindgoel @Rishabh570 @sashadev-sky @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @re

[2020-05-11 16:19] Uzay-G commented on #7899
Same @gr455! We also participated with my team. It was epic :smile:. I really liked the blockchain ones!

[2020-05-11 16:22] gr455 commented on #7899
My other teammates did the blockchain, but the web ones were also really good 👌

[2020-05-11 16:23] Uzay-G commented on #7899
Yeah they were nice too :smile:. I liked web fugu and aqua world

[2020-05-11 16:29] AyanChoudhary commented on #7899
Hello everyone, hope you all are fine! It is a little tough being stuck in a lockdown here, but still I along with some of my friends am reading on how to develop an os.

[2020-05-11 17:39] shreyaa-s commented on #7899
Hey everyone! Hope you're doing good. I've been busy going through the woofmark library and completing a few college projects. Good luck!

[2020-05-11 18:59] ebarry commented on #7899
Hi everyone, I'm excited to see all the people and teams pick up speed, and am enjoying reading the planning issues for the Google Summer of Code and Outreachy projects. I'm also following progress on some stray bugs that i've filed lately.

[2020-05-11 19:00] ebarry commented on #7817
Hi @SanchiBansal340, how did exams go?

[2020-05-11 19:02] ebarry commented on #1506
Just tested this https://publiclab.org/wiki/sandbox?raw=true and saw that this bug still exists -- page content disappears when the inline editor is enabled.

[2020-05-11 19:09] emilyashley commented on #7883
Yes! Happy to see this.

Also just want to say I'm here to help with any of the steps. I <3 WebPerf!

[2020-05-11 19:56] Tlazypanda commented on #7899
Hey everyone! I still have my exams going on and am just waiting for them to just get over :crying_cat_face: Plan to revisit my proposal and make some changes after that :v: Also gonna start working on my blog :sweat_smile:

[2020-05-11 19:57] Tlazypanda commented on #7883
@emilyashley Thanks! Will be sure to keep you in the loop :tada:

[2020-05-11 23:45] alaxalves commented on #7899
Hello guys, did some GSOC issue planning I intend on keep with on the upcoming week. @gr455 kindly offered to keep helping me on the SWB upgrades, so I'll make use of it :laughing:

[2020-05-11 23:54] WaldenJosh commented on #7899
Hope everyone is doing great! Just got done with my Web Programming II final yesterday. Looking forward to helping out more! Where can I help?

[2020-05-12 07:11] sanchibansal340 commented on #7817
Hey @ebarry. The exams went well, I am working on the issue and will be done with it in 2 days.
Sorry for not updating you.

[2020-05-12 14:52] SidharthBansal commented on #7873
Congrats all!

[2020-05-12 14:54] SidharthBansal commented on #7883
Awesome, there are so many things to cover up this Outreachy!
Which one are you targeting first?

[2020-05-12 14:55] jywarren commented on #7883
This is looking great. Hoping to go through it for some suggestions today! I added a link to your proposal too!

[2020-05-12 15:09] Tlazypanda commented on #7883
@SidharthBansal I plan to start with Improving Performance first and have opened some issues for the same :sweat_smile: Thanks a lot for reviewing :100:

@jywarren Yeah thanks :v: I have opened some issues for the start as well where I have added more details for each issue :sweat_smile: And as always looking forward to your suggestions :rocket:

[2020-05-12 15:16] Tlazypanda commented on #7846
Ohh, since the text was 'adding descriptive tags below' I directed them to where they will be able to add tags from for that note :sweat_smile:

@cesswairimu Should I modify the pull request for the same then? Let me know :smile:

[2020-05-12 18:42] jywarren commented on #1506
The next step here would be to test this with very simple, and then successively more complex text (say, adding sections of https://publiclab.org/wiki/sandbox?raw=true one by one) until it breaks, then we will better understand what content the inline editor is unable to parse!

Then we can think about how to catch and handle the error, if not fix it.

[2020-05-12 18:59] danielTiringer commented on #7683
Hi! I'd like to try my hand in this. Do you have anything open at the moment?

[2020-05-12 19:18] Shulammite-Aso commented on #7899
Hi all! So In the past week, I felt a bit unproductive, but I did basically set up my outreachy blog website, cloned Woofmark and have been looking into what each part of the codebase really does.
Looking to follow up progress on the Editor project planning this week.

[2020-05-12 20:22] SidharthBansal commented on #7899
Hello all, I will be taking a webinar tomorrow at 6 pm IST regarding GSoC. So, that I can help juniors for GSoC 2021. I will be discussing the common mistakes due to which people were not accepted to GSoC 2020. I will give insights from both mentors and student. So, kindly share with your friends and juniors. Also with your seniors if they are still in college/university :)
I have created a new ch

[2020-05-12 20:34] SidharthBansal commented on #7899
@WaldenJosh please claim any issue on no one else is not working in any repos having stack of your choice

[2020-05-12 20:34] SidharthBansal commented on #7899
@Tlazypanda same here. I am having viva nowadays. I hope lockdown doesn't delay or ruin our exams :)

[2020-05-12 20:39] jywarren commented on #7899
Hi everyone! so nice to see you all! I'm trying to go through and leave helpful tips on teamwork and project management for the GSoC and Outreachy teams here especially: https://github.com/publiclab/PublicLab.Editor/issues/490

I love @nicoleiocana's theme and will strive to `demonstrate kindness to yourself when you make mistakes` ! I'm currently struggling to install node v10, and so far haven't

[2020-05-12 20:47] #7846 closed

[2020-05-12 20:47] cesswairimu commented on #7683
Hi @daemon1024 :wave, there is this issue about adding an issue template https://github.com/publiclab/plots2/issues/7845 I can add more context to it if need be let me know if you are interested. Thanks and welcome

[2020-05-12 21:47] daemon1024 commented on #7683
Hi @cesswairimu :wave:

I will be happy to work on it. I have got the gist of it but it is a bit late rn in my region, will get to work on it first thing tmrw :)

Thank You 😊

[2020-05-12 21:57] ebarry opened #7903 ""alert-error" which would make a red alert bar is broken."
# Please describe the problem (or idea)

I went to https://publiclab.org/wiki/authoring-help#Alert+Flags and used the documentation to add a red alert to the top of publiclab.org/getting-started. When i saved that page, the alert did not render. I had to try using another color bar, apparently green "alert-success" does work.

I expected to see a light red bar appear behind the alert text, but the

[2020-05-12 22:04] jywarren commented on #7873
Hi again folks! so glad to see you all in here. Just noting 10-2pm central is fine for me too!

[2020-05-12 22:05] jywarren commented on #7899
And noting that 🎉 🎉 I just published https://www.npmjs.com/package/leaflet-environmental-layers v2.4.0 and https://www.npmjs.com/package/leaflet.blurred-location-display v1.3.0  thanks to everyone who's worked on those!

They are now publishing to the live site at https://PublicLab.org !

[2020-05-12 22:11] jywarren commented on #7833
Hi! Whew, thank you -- and sorry i missed this! Tracking this here: OK, here: https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit#slide=id.g803f45a921_0_0 -- text input welcome! as is ordering, for example, event instead of wiki as part of initial options. Wiki could be pushed into "other types" you have to click to reveal.

![Screenshot 2020-05-12 at 5 29 55 P

[2020-05-12 22:13] jywarren commented on #7903
Super, i believe `alert-danger` will work instead of `alert-error` due to our upgrade to Bootstrap v4 (the CSS class changed then). Can you give that a try?

![image](https://user-images.githubusercontent.com/24359/81750846-47391400-947c-11ea-9720-5deae611e6e6.png)

[2020-05-12 22:44] ebarry commented on #7903
Yup, that works! Check it out: https://publiclab.org/wiki/authoring-help#Alert+Flags and i added a link to bootstrap v4 docs on alert bars to our authoring help page. This can be closed as far as i'm concerned.

[2020-05-12 23:03] jywarren commented on #7883
Awesome to see all this. It seems super well planned out. Perhaps we could pull in some of the PDF generation (in-browser vs. in-app) discussion from your proposal too?

There is some really amazing stuff here! Wow, esp. in the "Up for Discussion" section!

Another thought is that this planning issue (and perhaps a summary later on) could be used as a template to inform similar refinements to our

[2020-05-12 23:05] jywarren commented on #7885
This is a great start, and I've brought it to the PL staff's attention for some input! We will also spend some time next Tuesday discussing and writing feedback. Thanks a ton!!!

You can also create a milestone for all this as the issues start to be broken out!

[2020-05-12 23:05] jywarren commented on #7883
Oh, also -- you can also create a milestone for all this as the issues start to be broken out!

[2020-05-12 23:26] cesswairimu commented on #7683
Great :tada:

[2020-05-13 09:54] sanchibansal340 commented on #7817
@ebarry Why is that the source code on Chrome Dev tools is different and actual code is completely different?
Also do I have to setup the code according to the prerequisites in the README.md. I didn't because I thought that I am just working on HTML and CSS thus I won't have to.

[2020-05-13 10:00] daemon1024 commented on #7845
The template goes here, https://github.com/publiclab/plots2/tree/master/.github/ISSUE_TEMPLATE , right?

[2020-05-13 10:37] daemon1024 commented on #7845
@cesswairimu Can you please review it !

Thanks :)

[2020-05-13 11:39] sanchibansal340 commented on #7817
@ebarry by removing 'position:absolute',  'People who are following' table is going below the 'People who've posted table'. Do you want this kind of format or do you want the table side by side only?

Attached the screenshots below of how that looks
![Screenshot (35)](https://user-images.githubusercontent.com/51092036/81807801-5e3f3b00-953c-11ea-944a-142ef90e0879.png)
![Screenshot (36)](https://us

[2020-05-13 13:56] jywarren opened #7908 "Tag subscription counts wrong on stats page"
We just changed the query for this page and it looks like something went wrong, and perhaps the grouping is incorrect? There are so many tags with 219 followers and almost none w 1 follower.

https://publiclab.org/stats/subscriptions

Let's check the last change to that file and figure out what went wrong.

![Screenshot_20200513-095455](https://user-images.githubusercontent.com/24359/81821465-dfc4

[2020-05-13 14:21] alaxalves commented on #7899
I always use NVM to manage my node versions @jywarren. It is as easy as managing Ruby with RVM.

[2020-05-13 14:58] Tlazypanda commented on #7883
@jywarren Thanks :v: :smile:
Just have one more exam to go and then I will create the milestone :+1: .

Sure will try to add points about the pdf discussion here as well :sweat_smile: . And yeah Really looking forward to making this a template for other rails projects too :rocket:

[2020-05-13 15:12] Tlazypanda commented on #7899
@SidharthBansal Whoaa!!! That's a great initiative :rocket: Count me in :raised_back_of_hand:

I can totally relate to the fact that students should have these resources free of cost instead of paying and not really getting any benefit out of it :100:

And August is pretty much the perfect time to start since the new admits join the universities. We can do like bi-monthly sessions with Ask-me-Anyt

[2020-05-14 06:31] cesswairimu commented on #7845
Great I will come within the course of the day :)

[2020-05-14 15:36] emilyashley commented on #7899
That's awesome @SidharthBansal, let us know how it went :)

[2020-05-14 15:51] #7845 closed

[2020-05-14 16:24] emilyashley commented on #7873
Awesome, thanks y'all.  Let's plan on a Welcome Call **11am Central UTC-5 Tuesday May 19th**! I think I have everyone's email and can get a google calendar invite out.

@Tlazypanda @Shulammite-Aso @shreyaa-s @keshav234156 @keshavsethi @alaxalves @NitinBhasneria

@ebarry @jywarren

I'm also happy to meet with any of y'all 1:1 during my office hours between now and then (or after) if you've got burn

[2020-05-15 02:19] jaibhavaya commented on #6444
What is the status of this?  I'd like to work on it if no one else is. :)

[2020-05-15 08:21] Alexjake660 commented on #6444
I am working on this.

[2020-05-15 09:00] Alexjake660 commented on #6444
@SidharthBansal this has already been done.

[2020-05-15 20:25] SidharthBansal commented on #7885
Awesome planning issue @keshavsethi

[2020-05-16 23:23] adumortier commented on #7728
Hi @nicoleiocana, I'd like to give this issue a try if that's ok with you

[2020-05-16 23:51] nicoleiocana commented on #7728
@adumortier Of course! Give it a go! The issue is all yours.

[2020-05-16 23:52] adumortier commented on #7728
@nicoleiocana thanks!

[2020-05-17 12:10] Tlazypanda opened #7917 "Remove cdn links for assets already available from pipeline in app/views/csvfiles/new.html.erb"
**Please describe the desired behavior.**
The file `app/views/csvfiles/new.html.erb` has cdn links for Bootstrap, Bootstrap3-typeahead, Fontawesome, jquery which are othewise available from the asset pipeline.

We can add these by referencing <%= stylesheet_link_tag %> and <%= javascript_link_tag %> for these respective assets.

[2020-05-17 12:40] Tlazypanda opened #7918 "Replace bootstrap-slider.js with minified js and add defer tag"
**Please describe the desired behavior.**
Currently, the `bootstrap-slider.js` file is called from cdn and can be replace with minified js for better performance. Since we don't want to wait for fetching and executing the script , we can use the defer tag for it to execute after dom construction (since it depends on jquery we shouldn't use async tag).

[2020-05-17 13:51] Tlazypanda opened #7919 "Lazy load images using lazyload-rails gem"
**Please describe the desired behavior.**
Currently the pages are loaded only after completely loading all the images. We can lazyload images to improve first paint time. For this we can use lazyload-rails [gem](https://github.com/jassa/lazyload-rails).

**Additional context (optional)**
According to Pagespeed insight, lazyloading images is a good suggestion.
![image](https://user-images.githubuse

[2020-05-17 16:21] Tlazypanda opened #7920 "Externalize jquery with jquery-rails gem and cdn option"
**Please describe the desired behavior.**
Currently the jquery is fetched from public/lib. We can add it as a jquery-rails gem and its cdn gem.
Cdn option will allow us to load jquery faster since it might be already present in the cache. If the cdn goes down then the jquery-rails gem will load jquery for us as a fallback. The link of the gems can be found [here](https://github.com/styx/jquery-ui-

[2020-05-17 16:26] rimow commented on #7194
hello @anthony-zhou can I work on this issue? thanks !

[2020-05-17 16:37] anshalshukla commented on #7194
@rimow Please look for another issue I'll be making a pull request soon.

[2020-05-17 18:21] cesswairimu commented on #7899
Hi all, anyone who would like to open next week's check-in?

[2020-05-17 21:13] dongskyler commented on #7908
Why 219 subscribers? Is 219 some special number in our code? Does it ring any bell? Do you have any clues or guesses?

[2020-05-18 09:58] Shulammite-Aso commented on #7899
Hi @cesswairimu I just noticed this now. I'll be glad to help 🙏

I'm hoping it's late already?

[2020-05-18 10:33] cesswairimu commented on #7899
Great @Shulammite-Aso :tada: :t-rex:  No its not late...please open it within the day..Thanks

[2020-05-18 12:24] Tlazypanda opened #7922 "Replace leaflet files in app/views/editor/questionRich.html.erb"
**Please describe the desired behavior.**
Currently the leaflet files in `app/views/editor/questionRich.html.erb` are referenced by `script` and `link `tag but since some of them are already present in the asset pipeline they can be replace with `javascript_include_tag` and ` stylesheet_include_tag` inorder to speed up time of execution.

**Additional Context**
Some of the leaflet files were flagg

[2020-05-18 12:26] Tlazypanda opened #7923 "Replace leaflet files in app/views/editor/rich.html.erb"
**Please describe the desired behavior.**
Currently the leaflet files in `app/views/editor/rich.html.erb ` are referenced by `script` and ` link `tag but since some of them are already present in the asset pipeline they can be replace with `javascript_include_tag` and `stylesheet_include_tag` inorder to speed up time of execution.

**Additional context (optional)**
Some of the leaflet files were f

[2020-05-18 12:28] Tlazypanda commented on #7920
@jywarren @emilyashley @cesswairimu @SidharthBansal This issue requires some amount of discussion before proceeding further. Can you kindly have a look and share your thoughts on if we should go for this? Thanks :v:

[2020-05-18 12:39] Tlazypanda opened #7924 "Add leaflet files to the asset pipeline"
**Please describe the desired behavior.**
Currently some of the leaflet js and css files are present in `application.js`, some are in `assets.rb` but some are **not present at all**.

Adding them to` assets.rb` will allow its precompilation and minification too after enabling **Uglifier**.
Also since we won't be adding them to `application.js` since these scripts are used only in certain pages lik

[2020-05-18 13:04] Tlazypanda opened #7925 "Replace Mathjax cdn link with minified js"
**Please describe the desired behavior.**
Currently the mathjax script invoked is not minified. Inorder to reduce script size we can replace it with a minified cdn link.

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.

[2020-05-18 14:09] emilyashley commented on #7873
@Tlazypanda @Shulammite-Aso @shreyaa-s @keshav234156 @keshavsethi @alaxalves @NitinBhasneria @jywarren

Invite sent! I may update the invite with the appropriate zoom link and agenda tomorrow before the call.

I used the emails I had on hand from your application, if I got it incorrect or you did not receive a google calendar invitation please let me know :)

Happy Monday!

[2020-05-18 17:12] cesswairimu commented on #7899
@Shulammite-Aso kindly post the link here when its ready. Thanks

[2020-05-18 17:44] Shulammite-Aso commented on #7899
Oh,

It will be ready in few minutes. I had actually  missed your earlier reply asking me to go ahead.😃

[2020-05-18 18:27] Shulammite-Aso opened #7926 "Weekly Community Check-In #59 - Always communicate."
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-05-18 18:31] Shulammite-Aso commented on #7899
Hi @cesswairimu , here is the link https://github.com/publiclab/plots2/issues/7926

Thank you for asking me to do this, and sorry that it is coming a bit late.

[2020-05-18 20:38] Tlazypanda commented on #7926
@Shulammite-Aso Great topic!! :heart: There are many times we fear asking questions thinking others would find them stupid but we just really should go for it :100:

[2020-05-19 00:27] keshavsethi opened #7927 "UI and data table for Spam Management Dashboard"
All the functionality of the current Spam Management Dashboard is included in the new UI. Bulk moderation is still left.
Other items in sidenav like flagged posts and Queue are not done. _But filtered posts, wiki, comments, and revision are done._
I have attached a few screenshots of UI and a PR with this. Please give your reviews to UI. I will make changes accordingly.
Some of the links are disab

[2020-05-19 12:53] alaxalves commented on #7926
Hey guys,

I have created my GSOC Planning Issue here ~> https://github.com/publiclab/spectral-workbench/issues/506.

Also, I am specially waiting on the review of https://github.com/publiclab/spectral-workbench/pull/499. I might need @icarito to get this merged, maybe I could work on a staging environment for Spectral, since we don't have any for now.

[2020-05-19 14:07] ebarry commented on #7756
Checked on my account:
- changing email address is behind the password.

[2020-05-19 15:11] jywarren commented on #7885
Hi, just chiming in that perhaps the UI section and bulk moderation section might need some system tests to ensure stability of those features! More feedback coming soon!!!

[2020-05-19 15:35] emilyashley commented on #7556
Also, pssst @Tlazypanda the staff and I were talking about this today and I thought you may also want to put eyes on it since it is performance related! :)

[2020-05-19 16:51] jywarren commented on #7821
This is great!!! Linking up to possible old but useful resources: #3458, #3563 and #4707

[2020-05-19 17:07] keshavsethi commented on #7885
Sure @jywarren, I have made one UI issue and made one PR related to that. Can you please give your reviews.
Thanks!!

[2020-05-19 18:25] jywarren commented on #7926
Hi all! @alaxalves i alerted Sebastian so we hope to hear soon, thanks.

Thank you @Shulammite-Aso for a great check-in and theme! SO agreed! 🎉

I've been working a lot to smooth out the integrations between libraries and "parent" applications, and got some help this week by communicating in a pull request -- VERY grateful to @VladimirMikulic for chiming in with a fix on this, which i had been mys

[2020-05-19 18:29] jywarren commented on #7908
Hi @dongskyler! Sorry, i think we must've given you a mistake in our suggested code change! Thanks for looking into this! We SUPER appreciate your help, and please don't feel this was your fault in any way! 😄

Hmm. I wonder -- it's a pretty odd bug. The change was to add the `.joins()` statement on this line:

https://github.com/publiclab/plots2/blob/0e58e62edd5efe6c9f22fce6ac24bf770b932961/app/co

[2020-05-19 18:37] jywarren commented on #7908
`TagSelection.count
=> 5006`

So, it's not that. Could it be that... the returned records are not of the same type? So the logic in this block is not working as we had expected?

https://github.com/publiclab/plots2/blob/0e58e62edd5efe6c9f22fce6ac24bf770b932961/app/controllers/stats_controller.rb#L2-L9

Let me test what ` TagSelection.where(following: true).joins(:node_tags)` is versus ` TagSelecti

[2020-05-19 18:38] jywarren commented on #7908
[code]

Hmm. So the filtering works well, but, why is the logic not working to actually show counts? Let me try going through the logic step by step in the rails console.

[2020-05-19 19:58] jywarren commented on #7908
OK, so what I think is happening is that the relation is defined here:

https://github.com/publiclab/plots2/blob/0e58e62edd5efe6c9f22fce6ac24bf770b932961/app/models/tag_selection.rb#L4

But, both tables have a `tid` column. So, it's actually fetching the `node_tag` with tid matching `tag_selection.id`? Or somehow that relation is wrong. I'm going to try manually writing the JOIN to test this theor

[2020-05-19 20:08] jywarren commented on #7908
Aha!

I found that it's possible to use `.group()` to do this all in SQL!

[code]

Replaces the whole iterative loop, and is probably MUCH more efficient! No iterating over every tag... woohoo! I'm gonna replace this whole segment.

[2020-05-19 20:09] jywarren commented on #7908
Done in https://github.com/publiclab/plots2/pull/7930! Let's see how that does.

[2020-05-19 20:16] #7903 closed

[2020-05-19 20:18] jywarren commented on #7908
Merged it! Let's test at https://stable.publiclab.org/stats/subscriptions as soon as it's done building.

[2020-05-19 20:26] jywarren commented on #7908
OK, it kind of worked. It's no longer showing 219s... but the new query may suffer from other issues. Re-opening!

[2020-05-19 20:27] jywarren commented on #7908
I think i shouldn't have done `LEFT JOIN`?

[2020-05-19 20:39] jywarren commented on #7908
That's right, i think both should be `INNER JOIN` but this still returns too many:

[code]

[2020-05-19 21:26] jywarren commented on #7908
Ah, ok - so it's cross-maching and just returning a lot of duplicates. I can add a `.distinct` and this should be resolved i think?

[2020-05-19 21:34] jywarren commented on #7908
OK! So this works and returns proper counts:

[code]

However, it does not filter out spam. 😱

[2020-05-19 21:45] jywarren commented on #7908
We could TRY something like this:

[code]

However, it's a pretty slow query: maybe 3 seconds? We might be able to select fewer things to speed it up. But I dunno.

We could cache it every 24 hours?

[2020-05-19 21:49] jywarren commented on #7908
Caching would look like:

[code]

[2020-05-19 21:49] dongskyler commented on #7908
That sounds like a rather inefficient query. How big is the MySQL database? Do you have the database schema somewhere? Otherwise, my input might be limited.

[2020-05-19 21:53] dongskyler commented on #7908
I think adding server-side caching is a great idea. But it's also a good idea to improve the efficiency of SQL queries

[2020-05-19 21:59] dongskyler commented on #7908
Thank you very much for your kind words. I'm just trying to contribute here.

[2020-05-19 22:01] jywarren commented on #7908
Sure, some docs here:

* https://github.com/publiclab/plots2/tree/master/db/schema.rb.example
* https://github.com/publiclab/plots2/blob/master/doc/DATA_MODEL.md

I opened a PR with the cached version. We have about 5000 `tag_selections`, maybe 10000 `nodes`, maybe 68k NodeTags.

[2020-05-19 22:03] jywarren commented on #7908
So, the PR passed, and I'm tempted to merge this for now, but if you LOVE optimizing SQL, we can leave this issue open and see if there's another way to do it more efficiently! I'm not such a Rails SQL wizard, so I guess it doesn't seem like a very friendly place to start contributing 😅  but for sure some folks are great at databases so don't let me scare you off of it if you are!

If you're looki

[2020-05-19 22:15] jywarren commented on #7908
Gah! So my cache code must've broken... this loaded the first time: https://stable.publiclab.org/stats/subscriptions

but the second pageload it broke!  Fixing it now.

[2020-05-19 22:17] dongskyler commented on #7908
I think it looks great. It works! Server-side caching is fantastic.

I have 2 comments:

1. Perhaps, 24-caching is a bit too long? Maybe expires in 12 hours or 6 hours?

2. On the [https://publiclab.org/stats/subscriptions](https://publiclab.org/stats/subscriptions) website, why tags are ordered in such an odd way?

The following is the first 4 rows:

Subscriptions | Tags
-- | --
160 - 169 | forma

[2020-05-19 22:21] jywarren commented on #7908
And yes, the ordering is also a bug! We should definitely solve that too! `decreasing integer order` sounds perfect, though! I'd be happy to accept a PR for that.

In the meantime it doesn't look like it works on stable but I rolled back the node status check, so let's see: https://github.com/publiclab/plots2/commit/51d21a55dd07dabd7683175cdb7d22358a4d5423

Not happy with that, but not sure what's

[2020-05-19 22:21] jywarren commented on #7908
And another quick fix just to remove the caching code: https://github.com/publiclab/plots2/commit/9c726fda8c7ac74066197078c6ae3819834440bb

[2020-05-20 00:12] jywarren commented on #7908
So to sum up, in part due to the caching code, the corrected fix is now commented out. It runs too slowly to turn on for every pageload, so if we can get the caching working, we can fix it.

https://github.com/publiclab/plots2/blob/9c726fda8c7ac74066197078c6ae3819834440bb/app/controllers/stats_controller.rb#L3-L17

We'd love your help, @dongskyler if you're interested!!!

[2020-05-20 00:14] jywarren commented on #7908
I'm not sure why the caching caused trouble. But we could cache in the view template instead, which is easy too: https://guides.rubyonrails.org/caching_with_rails.html

We would just wrap these lines:

https://github.com/publiclab/plots2/blob/9c726fda8c7ac74066197078c6ae3819834440bb/app/views/stats/subscriptions.html.erb#L14

[2020-05-20 01:00] dongskyler opened #7933 "Do we still use Ruby 2.4.4? (as instructed in README)"
Do we still use Ruby 2.4.4? (as instructed in README)

I ask this question because when I install Ruby 2.4.4, it says:
[code]

[2020-05-20 01:14] dongskyler opened #7934 "Subscription Tags Out of Order at https://publiclab.org/stats/subscriptions"
### Please describe the problem (or idea)

**Currently**, subscription tags are ordered in an odd way at [https://publiclab.org/stats/subscriptions](https://publiclab.org/stats/subscriptions), making it difficult to comprehend the information on the popularity of subscription tags.

Here's a screenshot at the time of writing:

<img width="558" alt="Screen Shot 2020-05-19 at 5 08 57 PM" src="https:

[2020-05-20 01:22] dongskyler commented on #7933
Yes. I suppose.

[2020-05-20 01:22] #7933 closed

[2020-05-20 13:32] Alexjake660 commented on #7793
@cesswairimu I just noticed this should have been check-in #54 instead of #53. Sorry about this error on my part. Can the numbers be corrected?

[2020-05-20 13:35] cesswairimu commented on #7793
Oh I missed it too...no worries I will edit it. Thanks

[2020-05-20 13:38] cesswairimu commented on #7899
Forgot to close this one which was moved to #7926
Thanks everyone and thanks @Shulammite-Aso  for the new check-in :+1:

[2020-05-20 13:38] #7899 closed

[2020-05-20 14:25] Tlazypanda commented on #7890
@jywarren @emilyashley @cesswairimu what should we go for? yui or sassc-rails :sweat_smile:

[2020-05-20 15:16] ebarry commented on #7934
Thank you @dongskyler i agree with your suggestion:

[2020-05-20 15:28] ebarry commented on #7817
@sanchibansal340 these screenshots are so helpful in describing the issue!

In mobile view, it would be helpful to move the table for "People who are following" down below the other tables, but this isn't what this issue is about, so let's set this part aside for now.

We are looking to retain the side-by-side view of both tables with appropriate column widths. Is there a way to see where the CSS

[2020-05-20 16:03] ebarry commented on #7887
Thank you for working on this! The screenshot shocked me. I look forward to seeing our rating of 2/100 improve after your excellent work! 🌷

[2020-05-20 18:33] patcon commented on #7817
Hey all! Don't want to confuse this with another cook, but seems like maybe there's a little bootstrap usage issue at the core of this, that's complicating things from the get-go :)

From [bootstrap docs on Nesting the grid system](https://getbootstrap.com/docs/4.0/layout/grid/#nesting):

When I add a new `<div class="row"></div>` _around_ the inner cols (the two `col-md-6` columns) and remove the

[2020-05-20 20:32] SidharthBansal commented on #7926
Here is a piece of good news from my side which I wanted to tell but I was waiting for it to be published. Kindly check out https://twitter.com/matplotlib/status/1263204229478408192
Telling you the twitter link so that I can make friends :)

[2020-05-20 20:33] SidharthBansal commented on #7899
thanks @Tlazypanda

[2020-05-20 20:33] SidharthBansal commented on #7899
You can contact on gitter pm if you want to help more :)

[2020-05-20 21:08] VladimirMikulic commented on #7926
Congratulations Sidharth. Thats some good work!

[2020-05-21 06:33] Tlazypanda commented on #7891
Hey @jywarren @emilyashley :wave: I have tested this out and seems to work pretty good just wanted to know if I should go ahead with this? :sweat_smile:

[2020-05-21 06:35] Tlazypanda commented on #7887
@ebarry !! Yeah hopefully after this summer we can see the page load time improve :100: Thanks so much for your kind words :heart:

[2020-05-21 06:38] Tlazypanda commented on #7756
@ebarry Thanks for the update! Oops my bad :sweat_smile: Maybe I can modify this pr to just allow changing the bio without password but require password for changing the email ...will have to look into this though :sweat_smile:

[2020-05-21 06:43] Tlazypanda commented on #7556
@emilyashley Yeah sure! Would need a bit of context on this first though :sweat_smile: Will look into it :smile:

[2020-05-21 07:01] Tlazypanda commented on #7926
@SidharthBansal Congratulations!! :100: :tada:

[2020-05-21 07:04] Tlazypanda commented on #7899
Yeah sure! @SidharthBansal :smile:

[2020-05-21 08:30] urvashigupta7 commented on #7934
I would like to work on this issue if it is not taken

[2020-05-21 10:05] gr455 commented on #7926
Great news @SidharthBansal !🎉 🎉

[2020-05-21 13:09] ebarry commented on #7817
Thanks for spotting these insights @patcon and @sanchibansal340 ! It would really be great to get our contributor tables looking good because Public Lab is made of contributors :) Do the next steps seem clear to anyone?

[2020-05-21 14:06] sanchibansal340 commented on #7817
@ebarry I made 3 changes on Chrome Devtools. I found the 750px thing as well but wasn't able to take screenshot of it. I have attached the screenshots of the changes made and how the table looks with it.
![Screenshot (53)](https://user-images.githubusercontent.com/51092036/82566988-5ade2c00-9b9a-11ea-96d9-729322190d51.png)
![Screenshot (55)](https://user-images.githubusercontent.com/51092036/82566

[2020-05-21 15:30] cesswairimu commented on #7817
Hey @sanchibansal340 yeah you will need to install the project inorder to work on this...but you could also do it on github but you will have trouble testing the implementation also we normally require screenshots for ui changes. Thanks for the great investigations :tada:

[2020-05-21 15:38] cesswairimu commented on #7817
@sanchibansal340 these files are rendered as partials at https://github.com/publiclab/plots2/blob/master/app/views/tag/show.html.erb and these partials are in this folder https://github.com/publiclab/plots2/tree/master/app/views/tag/show  let me know if you need more pointers on the code. Thanks

[2020-05-21 15:39] cesswairimu commented on #7817
@patcon @sanchibansal340 @ebarry great detective work here :rocket: Thanks

[2020-05-21 15:43] cesswairimu commented on #7890
@Tlazypanda there could be a possibility the `production.rb` that we have on the repo is not the one configured on the production droplet.. I think @jywarren  and @icarito would be at a better place to confirm what we are using in production and also give thoughts on this. Thanks for opening this

[2020-05-21 15:52] cesswairimu commented on #7926
Hi all :wave: and great theme @Shulammite-Aso :tada:
Glad to see the interns getting organized and even start working on some issues :+1: hope the welcome call went well :)
Feel free to ping me for reviews and discussions and will get back to you as soon as I can

Happy coding :man_technologist: :woman_technologist:

[2020-05-21 16:10] #7934 closed

[2020-05-21 19:14] keshavsethi commented on #7927
I have made some more changes and added Bulk spam and bulk publish. I have also attached more screenshots and gifs with PR. Please give your reviews. This PR has all the features of the current Spam Management system.
Thanks!!

[2020-05-21 22:25] Tlazypanda commented on #7890
@cesswairimu Ohh yes :sweat_smile: Just checked the coverage tools on chrom dev tools the css files served do seem to be minified I guess the `production.rb` file must be having some setting already doing that ..

[2020-05-22 20:54] Tlazypanda commented on #7889
@jywarren @cesswairimu While going through this issue noticed a lot of discrepancies in the structure of files. Some assets which are already present in app/assets folder are also present in public/lib folder and are served from different places in application.rb and assets.rb. For example- ics

So what is the rule of thumb to follow here? Should we remove the packages from /lib or /assets. Also s

[2020-05-24 00:57] alaxalves commented on #7926
Thanks a lot Jeff, I'm already looking into that with Sebastian.

[2020-05-24 14:36] ebarry commented on #7817
Hi @sanchibansal340 , do you feel interested in figuring out how to install the project to take this to the next step? Let us know what support would help!

[2020-05-24 18:47] sanchibansal340 commented on #7817
@ebarry I will update you within a day. I am sorry that I am taking so long to solve such a simple issue.

[2020-05-24 19:04] cesswairimu commented on #7926
Hey all, anyone interested in opening next week's check-in?

[2020-05-25 16:07] adumortier commented on #7728
@nicoleiocana I apologize for taking so long, I just wanted to let you know that I'm still on this PR.

[2020-05-25 16:11] nicoleiocana commented on #7728
Hey, no worries. We are all patient here. Reach out if you need any help & take as long as you need.

[2020-05-25 16:19] cesswairimu commented on #7889
checking

[2020-05-25 17:52] adumortier commented on #7728
@nicoleiocana I'm getting a failing test on line 24 of `node_shared_test.rb` (even after having undone the changes I had made to the `app/views/notes/_card.html.erb` view).

`nodes(:one).title` is present but does not appear on the html produced. I'm not completely familiar with nodes so I hope I'm not missing anything obvious.

[2020-05-25 19:41] cesswairimu opened #7950 "Weekly Community Check-In #60 - Soc Community Bonding wrap up"
Hi everyone! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about thei

[2020-05-25 19:41] cesswairimu commented on #7926
Moved to https://github.com/publiclab/plots2/issues/7950 Thanks everyone :heart:

[2020-05-25 19:41] #7926 closed

[2020-05-25 19:44] cesswairimu commented on #7950
@urvashigupta7, @jywarren, @dependabot-preview[bot], @daemon1024, @Tlazypanda, @jscastanos, @sarthak-choudhary, @dongskyler, @keshavsethi, @Shulammite-Aso, @ckchu8, @keshav234156, @DerekChristy, @Srija616, @priyanka-choubey, @AyanChoudhary, @imajit, @NitinBhasneria, @nstjean, @marientje, @rutger-t, @Janet33, @TroydonAnabolic, @priyanshbalyan, @Medlineme4, @mandysGit, @msanden, @AidenOliver, @Janet

[2020-05-25 22:43] alaxalves commented on #7950
Hey guys,
This week I have:
- Published a planning issue --> https://github.com/publiclab/spectral-workbench/issues/506
- Opened a PR including Codecov and Simplecov at Spectral Workbench
- Reviewed PRs throughout PL repositories

My main goal for this week is to start increasing Spectral Workbench test coverage percentage (currently 68%, goal is >90%) with @gr455's help. So I can proceed with the

[2020-05-26 14:28] emilyashley commented on #7885
Good morning! Just wanted to let you know a few of us Public Lab staff members are looking over this today and I'll be collecting the feedback. Thank you so much!

[2020-05-26 14:44] jywarren commented on #7950
That's so awesome @alaxalves -- increased coverage will be so great for then making upgrades. It'll give us enormous confidence. Do you think that system tests which walk through the steps in the tutorials in https://publiclab.org/wiki/spectral-workbench will be possible?

Fantastic! I merged your SimpleCov/CodeCov PR too. Great work!

[2020-05-26 14:51] jywarren commented on #7890
I think we are using the same production.rb file... I would guess with sass? But i haven't touched these settings for a long time.

You should be able to push to the `publiclab unstable` branch in this repo and auto-rebuild our unstable testing server with your code, to try things out. You'll see it building here: https://jenkins.laboratoriopublico.org/ and can view it at https://unstable.publicla

[2020-05-26 14:53] emilyashley commented on #7927
Awesome, thanks for making these. Taking a look at them today 🙌

[2020-05-26 15:16] emilyashley commented on #7908
Just checking in that this came up in our weekly staff call today. We're getting ready to onboard a new staff member and this view will be very relevant to them.

Bumping this up in priority!

Important counts we're looking at right now:

- number of people following a tag
- unique contributors per topic area
- total amount of content in a topic area (questions, notes, wiki pages)

[2020-05-26 15:17] emilyashley commented on #7908
Do we have breakout issues for

1. tags appearing that have not been used in content?

or

2.  ordering the tags in order of count?

[2020-05-26 15:29] jywarren commented on #7908
https://github.com/publiclab/plots2/pull/7941 resolved the ordering issue. But i think we have the remaining issues, looking at https://stable.publiclab.org/stats/subscriptions:

* spam tags still seem to appear, for example tags with `quickbooks` in them
* the counts seem to be amplified. Those that ought to have the most do have the most, but `spectrometer` has 149526 but we don't have anywhere

[2020-05-26 15:30] jywarren commented on #7908
I think it's possible we need to create better test data for this so we can work the problem locally.

[2020-05-26 15:32] emilyashley commented on #7817
Awesome thank you @sanchibansal340! Appreciate you picking this up.

[2020-05-26 15:53] keshavsethi commented on #7927
@emilyashley  I have updated it a bit. Please refer to #7928
Thank you!!

[2020-05-26 16:15] jywarren opened #7953 "Disambiguation of "Publish post" and "Spam post" on /spam dashboard"
Noting for @keshavsethi  -- in the spam dashboard at https://publiclab.org/spam (must be admin, so this may need to be tested locally), we see a few buttons and they're labelled and color-coded:

![image](https://user-images.githubusercontent.com/24359/82923645-478be180-9f49-11ea-851d-fac40d64fcb3.png)

These are similarly colored/labeled on the newly proposed UI in #7928 :

![image](https://user-

[2020-05-26 16:17] jywarren commented on #7953
For example, I might suggest using green to more clearly show the status of the post - could it be tinted green overall? And, perhaps making the button backgrounds colorized is too much, and gives the incorrect impression that the post overall may have this status. Could we make the icons be colorized instead of the whole button?

Let's try things out a bit - we can use https://www.layoutit.com/ t

[2020-05-26 16:26] jywarren commented on #7885
Hi! we've left some good notes on process (breaking work into separate PRs/milestones, using a "shadow" page like /spam2, etc) in the PR here: https://github.com/publiclab/plots2/pull/7928. But I also wanted to suggest that we try to get @ebarry or others to video their usage of the current page so that @keshavsethi has good understanding of the nuances of how it currently works. Let's try to coor

[2020-05-26 17:55] jywarren commented on #7833
And just noting, i believe we are waiting for some text input from Joe to move forward on this!

[2020-05-26 18:08] jywarren commented on #7950
Hi folks via Outreachy and GSoC! I wanted to highlight a couple notes I left for @keshavsethi on:

* using our `unstable` server to test changes on plots2 codebase: https://github.com/publiclab/plots2/pull/7928#issuecomment-634119437
* referring to our Style Guide on UI and design questions: https://github.com/publiclab/plots2/pull/7928#discussion_r430526808
* using "shadow pages" to introduce new

[2020-05-26 20:54] keshavsethi commented on #7953
@jywarren Rather than focusing on button colors to identify status, we can add a _separate column_ suggesting the status and type of those posts. we can make status spammed and make text color red so that it becomes easy for a moderator to identify. This will also help the moderator to sort and search posts according to its status.

[2020-05-26 21:26] jywarren commented on #7908
I believe I've fixed the caching syntax and pushed a new PR. Let's fingers 🤞

[2020-05-26 21:30] Tlazypanda commented on #7890
Ohh thanks @jywarren !! :tada: Will give it a try :v: So should we after testing out our changes revert the changes too?

[2020-05-26 21:35] jywarren commented on #7908
Merged, just need to confirm on https://stable.publiclab.org/stats/subscriptions now!

[2020-05-26 21:57] jywarren commented on #7908
OK, so, it's an improvement, but the counts are still inflated. For example, although https://stable.publiclab.org/tag/balloon-mapping is indeed a top tag, it has 80 followers, not 56700. I believe the number shown is not being grouped properly, and is repeating counts due to improper table joins and groupings. Next step is to debug on the console on the live server.

[2020-05-26 21:59] Tlazypanda commented on #7950
Hey @jywarren Thanks so much for the notes :tada:

So this week I have been researching more on the codebase and how to optimise further. Have certain doubts about how we should organize the packages (yarn vs gem vs cdn) and if where should we keep the files (assets.rb or application.js/css or not a part of the asset pipeline). Need your help with these folks :v:

Have opened some PRs that require

[2020-05-26 22:51] keshav234156 commented on #7950
Thanks, @jywarren!!. I am currently working on https://github.com/publiclab/PublicLab.Editor/issues/487 . If anyone has faced Bugs related to code module please list that in the issues or if you can provide suggestions regarding already listed bugs in the issue than that would be even more beneficial.

Does anyone know how to test Editor post changes locally? Like if we write something on http://l

[2020-05-27 10:01] shreyaa-s commented on #7950
Hey everyone!
Thanks @jywarren !
@Tlazypanda I loved the blog :heart:
@alaxalves great work :+1:

I've been working on https://github.com/publiclab/PublicLab.Editor/issues/457. The last week was spent digging through the code, going through the various opened issues, finding the concerned code, rigorous testing to find something relevant for a bug or ways to reproduce it and trying to leave feedba

[2020-05-27 12:53] keshavsethi commented on #7953
@jywarren @emilyashley @pydevsg @ananyaarun @SidharthBansal @cesswairimu
I have made a separate column and assigned different colors to all the cases like red to spammed, Blue to unmoderated, and green to published.

![Screenshot from 2020-05-27 18-12-14](https://user-images.githubusercontent.com/36025262/83021011-f95d0800-a046-11ea-8d55-ab6887ec9487.png)
![Screenshot from 2020-05-27 18-11-36](htt

[2020-05-27 14:16] sanchibansal340 commented on #7817
@ebarry Can I setup this project on Windows?

[2020-05-27 14:20] ebarry commented on #7817
I"m not sure, but i've asked in the chatroom if anyone could help answer this. Thanks for your dedication on this, i'm so grateful and impressed. I also wish to mention that this is not a "first-timers-only" issue, meaning that there is some complexity here that might be great to address through pairing up with a more experienced contributor. Would you be open to that?

[2020-05-27 14:34] shreyaa-s commented on #7817
Hey @sanchibansal340 ! Sure you can, please refer to this https://help.github.com/en/github/creating-cloning-and-archiving-repositories/cloning-a-repository
If you're using github desktop https://help.github.com/en/desktop/contributing-to-projects/cloning-and-forking-repositories-from-github-desktop

If you're stuck somewhere feel free to reach out.

[2020-05-27 14:47] sanchibansal340 commented on #7817
Yes sure.

[2020-05-27 15:25] sanchibansal340 commented on #7817
I was talking about having sqlite3 and rvm etc. Do I need them or can I work on HTML and CSS part of the project without needing to setup sqlite3 and rvm?

[2020-05-27 18:20] ebarry opened #7959 "Update text in alert"
https://github.com/publiclab/plots2/blob/3b30fd05bf10fb9b893847b36709682a317ae8f2/app/views/like/_like.html.erb#L87

Please replace the text "Are you sure?" with "All revisions will be lost, and you cannot undo this action. If this is a spam page, be sure that it did not overwrite valid content before deleting the entire page ++and the history++."

[2020-05-27 20:13] Tlazypanda opened #7960 "Improve Accessibility of Navbar"
**Please describe the desired behavior.**
Currently the navbar has some elements whose accessibility can be improved by adding proper description.

These problems include the empty search button problem, missing alternative text for profile image and missing form label for search form as flagged by lighthouse and WAVE.

[2020-05-27 21:02] Tlazypanda opened #7963 "Improve accessibility of Footer"
**Please describe the desired behavior.**
Currently the footer has some elements whose accessibility can be improved by adding proper description.

These problems include the empty link problem, suspicious link text ('here' in the footer) and empty heading issue for the social icons as flagged by lighthouse and WAVE.

[2020-05-27 21:10] Tlazypanda commented on #7963
@jywarren @cesswairimu Since this is a feature that I can't open a pull request we can discuss here and accordingly I will comment what code changes would be required :v:

[2020-05-27 21:27] Tlazypanda opened #7964 "Improve accessibility of Sign Up Modal"
**Please describe the desired behavior.**
Currently the Sign Up Modal has some elements whose accessibility can be improved by adding proper description.

These problems include the  missing alternative text for profile image,missing form label for the radio buttons, empty links for social icons, and orphaned form labelsas flagged by lighthouse and WAVE.

**Additional context (optional)**
WAVE rep

[2020-05-28 14:38] ebarry opened #7965 "Remove "-" before count of posts on Topic Cards when sorting by "# of People""
### Please describe the problem

There appears to be a tiny "-" before the count of posts on Topic Cards when the "# of People" sorting option is clicked, making it appear like there is a negative count of posts. See screenshot:

<img width="552" alt="Screen Shot 2020-05-20 at 10 36 42 AM (1)" src="https://user-images.githubusercontent.com/161439/83154347-05d87380-a0ce-11ea-960d-57a06a42478d.png">

[2020-05-28 16:27] Tlazypanda commented on #7817
Hey @sanchibansal340 Thanks so much for your dedication towards this issue :heart:

To answer some of your queries -
- It is recommended that you setup this on Linux since Ruby on rails and our particular environment works better with Linux. But I believe you have a windows system (am i right not sure :question: ) so here are some ways you can setup Linux in your windows and carry out installation

[2020-05-28 21:10] Tlazypanda opened #7967 "Improve accessibility of Login modal"
**Please describe the desired behavior.**
Currently the Login Modal has some elements whose accessibility can be improved by adding proper description.

These problems include the missing form labels username and password,  orphaned form labels for username and password, empty links for social icons, and suspicious text for password reset as flagged by lighthouse and WAVE.

[2020-05-29 02:47] AndrewWei-Colosseum opened #7970 "first-time-only"
Let's start

[2020-05-29 19:49] jywarren commented on #7883
Hi @Tlazypanda! Would you mind updating this issue briefly with your recent work/progress, just so it stays current? Thank you!!! Hope your exams went well :-)

For example https://github.com/publiclab/plots2/pull/7966 and https://github.com/publiclab/plots2/issues/7963 are AWESOME 🎉

[2020-05-29 19:58] jywarren commented on #7883
Another way you can keep up to date is to also assign all your issues and PRs to a milestone. Then we can track there and you can do a little less manual updating of this issue! Thanks!

[2020-05-29 19:59] jywarren commented on #7883
I see you have https://github.com/publiclab/plots2/milestone/27 so i linked this to it! 🎉

[2020-05-29 23:38] Tlazypanda commented on #7970
Hey @AndrewWei-Colosseum :wave: Welcome to Publiclab! Would you be interested in working on a first-timers-only issue? :tada:

[2020-05-30 08:15] sanchibansal340 commented on #7817
@Tlazypanda thank you so much for the guidelines. I will dual boot my laptop, though the part about os vanishing is a bit scary but I will ask for your help if needed.

[2020-05-30 13:22] kgradow1 opened #7973 "bucket-monitor not showing up in search results"
### Please describe the problem (or idea)

Hi all, I am the Community Tech Fellow working on the bucket monitor project for Public Lab.  Nice to meet you all!   I'm having a problem where the wiki post related to this project are appearing in search results under the bucket-monitor tag or under a general text search for "bucket monitor."

The wiki page is available here:

https://publiclab.org/wik

[2020-05-30 16:51] Tlazypanda opened #7974 "Improve accessibility of Show notes page and comments feature"
**Please describe the desired behavior.**
Currently the Show notes page and comments feature have some elements whose accessibility can be improved by adding proper description.

These problems include the missing alternative text for profile pic in comment, missing alternative text for reaction in comment, empty links for links in different sections of the note, missing form label in post comment

[2020-05-30 16:54] Tlazypanda commented on #7883
@jywarren Thanks for the tip :tada: Will update it in a day or two :sweat_smile:

[2020-05-31 00:45] keshavsethi commented on #7953
@jywarren I have added filters in the table header of spam2 where you can filter unmoderated and spam posts
![Screenshot from 2020-05-31 06-10-53](https://user-images.githubusercontent.com/36025262/83341900-052a2200-a306-11ea-84c4-9d42814863af.png)
.
Please review #7969
Thanks!!

[2020-05-31 00:50] Tlazypanda opened #7976 "Improve accessibility of Sidebar"
**Please describe the desired behavior.**
Currently the Sidebar has some elements whose accessibility can be improved by adding proper description.

These problems include the empty links for links in different sections of the sidebar, missing form label for adding tags and empty button flagged by lighthouse and WAVE.

[2020-05-31 14:10] Tlazypanda commented on #7891
Hey @jywarren @cesswairimu @emilyashley Looking forward to your input on this :sweat_smile:

[2020-05-31 14:10] Tlazypanda commented on #7920
Hey @jywarren @cesswairimu @emilyashley Looking forward to your input on this sweat_smile

[2020-05-31 21:07] Tlazypanda opened #7978 "Improve accessibility of Map routes"
**Please describe the desired behavior.**
Currently the Map routes has some elements whose accessibility can be improved by adding proper description.

These problems include the empty links for links in different sections of the sidebar, missing form labels in the map flagged by lighthouse and WAVE.

[2020-06-01 05:19] Yonttee commented on #7970
hi im interested in working on a first timer only issue

[2020-06-01 14:46] Tlazypanda commented on #7970
Hey @Yonttee Welcome to Publiclab :tada: :balloon: Here is a first-timers-only issue that you can work on https://github.com/publiclab/plots2/issues/6756

[2020-06-01 17:35] cesswairimu commented on #7950
Hey all, anyone would like to open this week's check-in?

[2020-06-02 12:49] #7917 closed

[2020-06-02 14:58] cesswairimu commented on #7891
@Tlazypanda its possible styling changed and some code in application.css was not removed...but what normally happens if some styling is redefined o the specific folder css it overrides what we have at application.css i.e say we are rendering /notes if a method on application.css is redifined at notes.css the notes.css takes precedence...I would prefer we redefine what we want on the css specific

[2020-06-02 15:01] cesswairimu commented on #7920
Aha!, nteresting...I havent worked with jquery-rails before let me take a look at it. Thanks @Tlazypanda

[2020-06-02 15:08] #7974 closed

[2020-06-02 15:36] cesswairimu commented on #7950
Sorry for the delay yesterday was a holiday in Kenya... New check-in here https://github.com/publiclab/PublicLab.Editor/issues/523.. Thanks all

[2020-06-02 15:36] #7950 closed

[2020-06-02 16:45] jywarren commented on #7908
OK, plan is to:

1. revert to original and just live with the spam
2. check the spam timestamps to see if it's even occurring anymore, maybe it was only possible during a specific window of time?
3. manually delete the spam

[2020-06-02 17:55] jywarren commented on #7817
Thank you @Tlazypanda !!! And @sanchibansal340 you're awesome for taking on this challenge. Also see #3840 for group troubleshooting on installation!

[2020-06-02 18:46] jywarren commented on #7950
Also noting to folks that I'm finishing up reading through and responding to your comments in this check-in as well, today! Thanks for a great week!

@Shulammite-Aso @NitinBhasneria @keshavsethi perhaps we'll hear from you (even briefly) next week? I know you've been working hard in various issues and I definitely see you -- but just to get in the habit of chiming in here would be great. Thank you

[2020-06-03 01:02] jywarren commented on #7908
OK so I have another attempt, manually tested on the live database, and I think this is correct:

https://github.com/publiclab/plots2/blob/9b469ee3b10c9c68ec51dea51a857efcdc6302d5/app/controllers/stats_controller.rb#L3-L9

Note "DISTINCT" - it returns 109 for `balloon-mapping`, which is correct.

And it mostly works! The stats look much better: https://stable.publiclab.org/stats/subscriptions

But

[2020-06-03 01:07] jywarren commented on #7908
OK, added that too and re-added cache code, because that slowed it down a lot:

https://github.com/publiclab/plots2/blob/8b0b3d50ac7797a1c66bc9ecbfda53482dd31c5c/app/controllers/stats_controller.rb#L3-L13

[2020-06-03 02:10] jywarren commented on #7908
I think we're done here! Fully working on stable! Will publish soon.

[2020-06-03 11:14] ioampatzidis commented on #7812
Hello, could i work on this issue?
Thank you

[2020-06-03 11:55] ioampatzidis commented on #7737
Hello, could I work on this issue?
Thank you!

[2020-06-03 12:06] ioampatzidis commented on #7702
Hello, could I work on this issue?
Thank you!

[2020-06-03 13:40] UmairJibran commented on #5004
can I please claim this issue? it's my first time contributing to this repo (or any community open source repo at all)

[2020-06-03 14:12] ebarry commented on #7908
This page is looking great! https://publiclab.org/stats/subscriptions
 I think we can close this issue

[2020-06-03 15:16] ebarry commented on #7973
Thanks for documenting this so thoroughly Katie! We appreciate your major contribution on this!
I see a few possible issues in here:

1. The wiki https://publiclab.org/wiki/bucket-monitor is not appearing in search results under the bucket-monitor tag. Two related points on this:

- the top of the tag page https://publiclab.org/tag/bucket-monitor is essentially the wiki page (lead image, and text)

[2020-06-03 15:18] #7964 closed

[2020-06-03 15:19] #7967 closed

[2020-06-03 15:20] #7976 closed

[2020-06-03 15:22] #7809 closed

[2020-06-03 15:32] emilyashley commented on #7883
Thanks for all the awesome work on this so far!

[2020-06-03 16:12] emilyashley commented on #7973
Yes, thanks Katie! Reading thru this now :)

[2020-06-03 16:13] emilyashley commented on #7970
Hi! Welcome!

[2020-06-03 17:32] emilyashley commented on #7737
Oh cool, just noting it looks like we now have two PR's open for this issue. Let's check them out for duplicate fixes.

Thanks for this work!!

https://github.com/publiclab/plots2/pull/7979
https://github.com/publiclab/plots2/pull/7892

[2020-06-03 20:16] ebarry opened #7980 "Change text from "Related Topics" to "Related tags""
### Please describe the idea

Over on the curatorial side of PublicLab.org, we are clarifying the use of "tag" vs "Topic". Many, many things can be tags, but only a few are Topics. For this reason, we are requesting that on tag pages, for instance, https://publiclab.org/tag/water-quality, the right hand sidebar text that says "Related Topics" be changed to "related tags".

![Screen Shot 2020-05-20

[2020-06-04 09:13] keshavsethi opened #7986 "Digest for Unmoderated Notes"
As a part of **spam management Dashboard**, DIgest for moderators and admins is to be made.
I have planned to first begin it with **all unmoderated posts** with **status == 4**, with the option to mark **spam and approve** a node through digest. Jobs and Mailers are done. Please review PR
 I have made a UI for the digest. Please refer following screenshots.
![Screenshot from 2020-06-04 14-20-41](h

[2020-06-04 16:05] Tlazypanda opened #7988 "Improve accessibility of Show wiki and add new wiki pages"
**Please describe the desired behavior.**
Currently the Show wiki and add new wiki pages has some elements whose accessibility can be improved by adding proper description.

These problems include the empty links for links in different sections and missing form labels in the input boxes flagged by lighthouse and WAVE.

[2020-06-04 16:52] Tlazypanda commented on #7959
Hey @ebarry! I was going to create a fto out of this but not sure about what does the ++ mean in  page ++and the history++." Can you help me out? :sweat_smile: Thanks :v:

[2020-06-04 17:06] Tlazypanda commented on #7891
Hey @cesswairimu! Thanks a lot for your input :tada: I am not sure if I am completely able to understand what you mean(kinda slow :p) I think the gem would load the css asynchronously and for the initial page load the critical css only that it will determine from the coverage tabs...so with all the css files there might be some problem but maybe we can push to the unstable branch and test it out f

[2020-06-04 17:21] ebarry commented on #7959
Wow thanks!
I think that the writer just meant to add emphasis, like **bold text**, to "and the history"

Even if a First Time Contributor wouldn't know how make that phrase bold, if they could simply edit the alert message, it would be helpful!

[2020-06-04 17:35] ebarry commented on #2423
@icarito , i just spotted this old issue, and am wondering if you might know if perhaps we have fixed this already?

[2020-06-04 17:37] Tlazypanda opened #7990 "Update delete alert text in app/views/like/_like.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-06-04 17:40] Tlazypanda commented on #7959
@ebarry Thanks for letting me know :tada: I have opened the fto https://github.com/publiclab/plots2/issues/7990 Please Let me know if it works :smile:

[2020-06-04 18:07] ebarry commented on #7959
looks great! Closing this one in favor of that one.

[2020-06-04 18:07] #7959 closed

[2020-06-04 18:37] Tlazypanda opened #7991 "Alternate text for Uploaded images"
**Please describe the desired behavior.**
Currently we dont have any alternate text for images across the app. While for the static ones we can add some alt text but for the ones uploaded by the user, its not possible for us to apply the same. So what should be the plausible solution for it?

- One possible way is to add a field for the user to add alternate text for the image whenever they upload

[2020-06-04 18:38] Tlazypanda commented on #7991
@jywarren @cesswairimu @emilyashley @SidharthBansal @IshaGupta18 @VladimirMikulic Need your inputs everyone :tada: Thanks!! :v:

[2020-06-04 18:45] vinuch commented on #7990
Has someone claimed this issue? If not I’d like to handle it @Tlazypanda

[2020-06-04 18:52] Tlazypanda commented on #7990
Sure @vinuch Go ahead!! :tada:

[2020-06-04 18:53] Tlazypanda commented on #7980
I think we can make a fto out of this as well @ebarry What do you think? :sweat_smile:

[2020-06-04 18:58] VladimirMikulic commented on #7991
Automation for me is always the way to go :)
Since this is OSS, I understand why other members might not agree with me. (AWS/Google/Microsoft holds the data).

@jywarren  is the right person to answer this question.

[2020-06-04 19:13] icarito commented on #2423
Frankly I have no idea I guess the only way to know is to try. It's strange that this issue seems to have slipped by, looks like the logic that makes the `@mention` links doesn't detect when it's part of a URL.

[2020-06-04 19:16] icarito commented on #2423
I just did the testing and indeed this issue is not fixed. It's not the `amperstand` (`&`), but the `at` symbol (`@`) that triggers the problem.

[2020-06-04 19:17] icarito commented on #2423
https://publiclab.org/notes/liz/02-28-2018/convening-diversity-and-inclusion-initiatives-across-open-source-projects#c26931 I tested it in a comment

[2020-06-04 19:25] ebarry commented on #2423
Thank you @icarito !

[2020-06-05 04:36] vinuch commented on #7990
i created a pull request but the travis build is failing and i have no idea why
screenshot of the error below
![image](https://user-images.githubusercontent.com/44481619/83837328-f8615180-a6aa-11ea-8651-c45ebc74e22e.png)

[2020-06-05 07:39] swarajpure commented on #7728
Hello, is this still open? If yes, I'd like to work on this issue.

[2020-06-05 08:00] adityakpranav commented on #7990
Hi @vinuch can i work on this issue??

[2020-06-05 13:22] swarajpure commented on #7970
Hello. Is there anything I can work on?

[2020-06-05 15:20] vinuch commented on #7990
@adityakpranav i have already worked on it i just cant tell why the travils build on the PR is failing
cc @Tlazypanda

[2020-06-05 17:16] ebarry commented on #7970
HI @swarajpure , looks like most of the first-timers-only issues are being worked on. If you let us know which of the "FTO-candidate" issues might be something that your skillsets are applicable to with a little more help, please comment in on one of these and others can help get it all the way to a properly formatted FTO that you can work on: https://github.com/publiclab/plots2/labels/fto-candida

[2020-06-05 19:34] Tlazypanda commented on #7990
Hey @vinuch Have left a comment for the pr :v:

@adityakpranav Sorry this issue is already being worked on by @vinuch Let me try to find a fto issue for you :sweat_smile:

[2020-06-05 19:41] Tlazypanda commented on #7980
Hey @ebarry ! Looks like we have some new contributors looking for ftos :sweat_smile:

[2020-06-05 20:59] Tlazypanda opened #7994 "Improve accessibility of Notification Settings"
**Please describe the desired behavior.**
Currently the Notification Settings page has some elements whose accessibility can be improved by adding proper description.

These problems include the empty form labels for the input checkboxes flagged by lighthouse and WAVE.

[2020-06-05 21:13] Tlazypanda commented on #7887
@jywarren Just chiming in to say  I was just checking this out again the performance improvement after this but it's not working possibly since its fetching from the already existing public/assets folder so maybe we will have delete it and rebuild :sweat_smile: Thanks :v:

[2020-06-05 21:14] Tlazypanda commented on #7887
@jywarren Just chiming in to say I was just checking this out again the performance improvement after this but it's not working possibly since its fetching from the already existing public/assets folder so maybe we will have delete it and rebuild sweat_smile Thanks v

[2020-06-05 21:22] esiebomaj commented on #7990
Pls find an issue for me too
I want to contribute
@adityakpranav

[2020-06-05 21:33] esiebomaj commented on #7684
5th of june and this issue is still open
lemme work on it
@jywarren

[2020-06-06 07:03] Tlazypanda commented on #7637
@cesswairimu This is solved it seems can we close this? :sweat_smile:

[2020-06-06 07:26] Tlazypanda commented on #7646
@Alexjake660 so sorry for reaching out so late :sweat_smile: have left a comment on your pr :v: Love to have you contributing to Publiclab :tada:

[2020-06-06 12:14] Alexjake660 commented on #7646
@Tlazypanda It's okay. Thanks for getting back to me. I plan on continuing to contribute.

[2020-06-06 20:42] cesswairimu commented on #7637
Sure..thanks eveyone :+1:

[2020-06-06 20:42] #7637 closed

[2020-06-07 02:38] icarito commented on #2423
Hi @ebarry - it struck me that there's a simple workaround for this to work in this case.

Characters in URLs can be escaped, by using the % symbol.
The symbol for `at` `@`, is %40.

So the URL becomes https://medium.com/%40sunnydeveloper/new-diversity-inclusion-in-open-source-community-call-52d01324e0a9 and this link doesn't suffer from the `@mention` link.

Hope it helps!

[2020-06-07 02:39] icarito commented on #2423
I tried it and confirmed at https://publiclab.org/notes/liz/02-28-2018/convening-diversity-and-inclusion-initiatives-across-open-source-projects#c26952

[2020-06-07 17:56] Tlazypanda opened #8000 "Add aria-label for input field in /subscriptions route"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-06-07 17:58] Tlazypanda commented on #8000
@cesswairimu @jywarren can you kindly approve? :sweat_smile: Tested locally -
Before
![image](https://user-images.githubusercontent.com/33183263/83976250-81c88c00-a916-11ea-88b5-dd56e7e7d58f.png)
After
![image](https://user-images.githubusercontent.com/33183263/83976267-97d64c80-a916-11ea-92bc-5c163d2bb38c.png)

[2020-06-07 18:09] Tlazypanda opened #8001 "Add aria-label for empty link in /questions route"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-06-07 18:11] Tlazypanda commented on #8001
@cesswairimu @jywarren can you kindly approve? :sweat_smile: Tested locally -
Before
![image](https://user-images.githubusercontent.com/33183263/83976560-45962b00-a918-11ea-8b5d-818bc12611e1.png)
After
![image](https://user-images.githubusercontent.com/33183263/83976569-5181ed00-a918-11ea-8beb-79a97e4e81ac.png)

[2020-06-07 21:42] ishika1727 commented on #8001
@Tlazypanda Can you please assign this to me?

[2020-06-07 22:33] cesswairimu commented on #7986
Love your test text :rofl:

[2020-06-07 22:48] cesswairimu commented on #8000
Looks good...thanks @Tlazypanda  :tada:

[2020-06-07 22:50] cesswairimu commented on #8001
Hi @ishika1727, go ahead...Thanks both

[2020-06-07 22:55] cesswairimu commented on #7684
Hi @esiebomaj, we were having some trouble with changing the traslation...some were not picking up correctly on the live site..amybe we could hold this one for now...Feel free to claim https://github.com/publiclab/plots2/issues/8000 if you are looking for a fto...Thanks

[2020-06-07 22:57] cesswairimu commented on #7891
Yeah sure sounds good we can def test it on unstable. Thanks @Tlazypanda :+1:

[2020-06-07 22:59] cesswairimu commented on #7891
I will be sure to check-out the gem within the week. Thanks again

[2020-06-07 23:11] keshavsethi commented on #7986
They are just random text :smile: :rofl:

[2020-06-08 00:37] Tlazypanda opened #8002 "Weekly Community Check-In #62 - Help New Contributors!"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-06-08 00:38] Tlazypanda commented on #8002
@keshavsethi, @jywarren, @AyanChoudhary, @imajit,@NitinBhasneria, @nstjean, @marientje, @rutger-t, @Janet33, @TroydonAnabolic, @priyanshbalyan, @Medlineme4, @mandysGit, @msanden, @AidenOliver, @Janetsomehow, @AntroMarina, @llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-s, @goamoth, @SusannaDiV, @yusofsf, @

[2020-06-08 00:38] Tlazypanda commented on #8002
@moliver4, @justinelai, @Snouzy, @stevenalila, @Digiox, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @theOpetunde, @sailahonkanen, @robin-natale, @avidler, @ccyccyccy
@urvashigupta7, @daemon1024, @Tlazypanda, @jscastanos, @sarthak-choudhary, @dongskyler, @keshavsethi, @Shulammite-Aso, @ckchu8, @keshav234156, @DerekChristy, @Srija616, @priyanka-choubey,

[2020-06-08 00:49] Tlazypanda commented on #8002
Tagging new contributors - @adityakpranav @esiebomaj  @Yonttee @swarajpure @vinuch @ishika1727 . Welcome to Publiclab :wave: :balloon: Please feel free to drop down a message and let us know if you are looking for new issues or need reviews :v:

[2020-06-08 06:05] adityakpranav commented on #8002
Hi, @Tlazypanda 👋 thanks for such a warm welcome 😊. As a newbie contributor 👶 looking for a new genuine issue as my first contribution to the community.

[2020-06-08 08:24] swarajpure commented on #8002
Thank you for such a warm welcome. Publiclab seems to be a very friendly and beginner-friendly organization. Would love to contribute in whatever way possible.

[2020-06-08 08:41] swarajpure commented on #6685
Hello, is anyone working on this issue? If no, can I do it?

[2020-06-08 11:42] cesswairimu commented on #8002
Thanks @Tlazypanda  for opening this also tagging a new contributor @ioampatzidis

[2020-06-08 12:01] esiebomaj commented on #8000
This issue has been worked on 😥

[2020-06-08 13:51] ebarry commented on #7980
Yes, it would be wonderful to make this into an FTO!!! thank you @Tlazypanda sorry i was slow to respond

[2020-06-08 15:15] ebarry commented on #7965
Does anyone have code links at hand that they could add here? Thanks in advance!

[2020-06-08 15:18] ebarry commented on #8002
Welcome new contributors and hello more experienced contributors 😃 We are a little low on our stock of first-timers-only issues, and as @Tlazypanda requested above, if you are a little more experienced, a high leverage point contribution would be for you to take a look through som FTO-candidate issues https://github.com/publiclab/plots2/labels/fto-candidate and see if you might be able to advance

[2020-06-08 15:23] ebarry commented on #8000
Hi @esiebomaj , @cesswairimu made this issue just for you, please begin here...and thank you so much!

[2020-06-08 15:26] Tlazypanda commented on #8000
@esiebomaj This issue is available :sweat_smile: Ignore the tested locally msg above, the pull request still needs to be created :v: Looking forward to your contribution :tada:

[2020-06-08 17:16] NitinBhasneria commented on #646
@jywarren Is this issue still pending.

[2020-06-08 17:27] Tlazypanda opened #8004 "Change text from "Related Topics" to "Related tags" in _related.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-06-08 17:29] Tlazypanda commented on #7980
@ebarry Just created the fto here https://github.com/publiclab/plots2/issues/8004 :smile:  And you must have been busy totally understand that!! :sweat_smile:

[2020-06-08 17:39] Tlazypanda commented on #7965
Hey @ebarry I think this is a more serious issue actually :sweat_smile: I had made changes for this here https://github.com/publiclab/plots2/pull/7609 but I must have messed it up and calculated the wrong count I think :disappointed: Looping in @jywarren Sorry might need some help to fix this up :sweat_smile:

[2020-06-08 17:57] Tlazypanda opened #8005 "Add aria-label for input form field in questions/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-06-08 18:01] Tlazypanda opened #8006 "Add aria-label for input form field in tag/_sorting.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-06-08 18:08] Tlazypanda opened #8007 "Add aria-labels for toggle formats empty links in notes/_format_toggle.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-06-08 18:21] Tlazypanda commented on #8002
Hey everyone! :wave: This week I worked on some accessibility issues and one performance related major issue (critical css and rest asynchronous loading) that needs to be tested out thoroughly :sweat_smile:

I also wrote the second blog for Outreachy here - https://tlazypanda.github.io/opensource/2020/06/08/outreachy'20-blog2-everybody-struggles/ Please give it a read :v: Its more on our mental we

[2020-06-08 18:29] adityakpranav commented on #8004
can i claim this issue?

[2020-06-08 18:38] esiebomaj commented on #8000
great!

[2020-06-08 19:29] esiebomaj commented on #8000
I have created a PR for this issue with number #8008
This will be my first open source contribution (excited)
@Tlazypanda @cesswairimu @ebarry

[2020-06-08 19:32] #7646 closed

[2020-06-08 19:33] Tlazypanda commented on #8004
Sure go ahead :tada:

[2020-06-08 19:42] cesswairimu commented on #8000
That was fast :smile: Tjhanks @esiebomaj

[2020-06-08 20:07] emilyashley commented on #8002
Awesome! Happy to see this ✨ Welcome new contributors!

[2020-06-09 00:54] alaxalves commented on #8002
Hello Guys,

This past week I have:
- Increased Spectral Workbench Test Coverage
- Split production and development Dockerfile at Mapknitter project.
- Received review and updated Ruby upgrade PR at Spectral Workbench

For this upcoming week I plan on:
- Finish multijobs builds at Mapknitter-Export-Sinatra
- Refactor codebase at Mapknitter-Export-Sinatra
- Include rubocop at Mapknitter-Export-Sina

[2020-06-09 01:12] irodriguez20 commented on #8007
Hello,
I would like to contribute to your codebase. May I claim this issue?
Thank you!

[2020-06-09 02:23] Tlazypanda commented on #8007
@irodriguez20 Sure, go ahead :tada:

[2020-06-09 04:56] akshitproothi commented on #8006
Hi. I'm a new contributor. Can i claim this one?

[2020-06-09 05:20] Tlazypanda commented on #8006
@akshitproothi Sure, go ahead :tada:

[2020-06-09 11:56] keshav234156 commented on #8002
Hey everyone, last week I worked in implementing a linting tool for PublicLab.Editor (https://github.com/publiclab/PublicLab.Editor/pull/519) .This week I will try to improve code module and Bold module wrapping function based on further reviews

[2020-06-09 13:41] imanishbarnwal commented on #8005
Hello, @Tlazypanda I want to work on this issue. I am a fresher in this open community. Can you please assign this issue to me? Thank You!!

[2020-06-09 18:50] Tlazypanda commented on #8005
@imanishbarnwal Sure, go ahead :tada:

[2020-06-09 19:02] #7888 closed

[2020-06-09 19:16] #7960 closed

[2020-06-10 05:10] NitinBhasneria commented on #8002
Hey everyone, hope all are safe.
Last week I have made some changes in image module CSS. Implemented the popup issue and solved it. (https://github.com/jywarren/woofmark/pull/3).
This week I will try to finish the Title B module issues and adding the features of seeing and removing the tagged post.
Currently, I am confused about how the suggestion in the title module works.
Thanks, everyone.

[2020-06-10 06:36] imanishbarnwal commented on #8005
I just send a PR can please give it a check thank you!!

[2020-06-10 06:49] Shulammite-Aso commented on #8002
Hi all!  So this week i want to start working on the UI for users to document bugs they come across in PublicLab.Editor, I already have the mock-up, what is left is to implement.  I've also been trying to help with debugging Woofmark's  difficulty  with un-selecting tools or modules once they've been selected, I'll try to find some more time to look into it this week too.

Also I made my second bl

[2020-06-10 08:40] bebebe12345 opened #8015 "Hướng dẫn làm thế nào để đánh đề trúng, nắm chắc phần thắng về mình"
Đánh đề là một trong những trò chơi thu hút khá nhiều người tham gia. Làm thế nào để đánh đề dễ trúng luôn là chủ đề được nhiều anh em quan tâm nhất hiện nay, đặc biệt nhất là dân lô đề gạo. Khi bắt đầu chơi anh em cần trau dồi cho mình những kiến thức để đảm bảo khả năng trúng cao nhất. Mỗi một trò chơi hay một con số cụ thể đều có quy luật riêng. Lô đề online cũng như vậy, để hiểu rõ hơn về cách

[2020-06-10 21:10] ebarry opened #8119 "Bold "𝐁" button does not create bold text in Reply To Comment editor"
📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝📝
### Please describe the problem (or idea)

I was writing a reply to a comment, and highlighted some of my text, then clicked the "B" icon to make it bold; however, there was no effect from clicking the "𝐁" button. See gif:
![bold-not-working](https://user-images.githubusercontent.com/161439/84318769-f2e98880-ab3c-11ea-906d-4765eaa7362c.gif)

I expected to see the highlighted te

[2020-06-11 04:35] tacticalyash commented on #8007
hi, i would like to contribute in this codebase,can i claim?

[2020-06-11 04:54] Tlazypanda commented on #8007
Hey @tacticalyash! This issue has already been claimed by @irodriguez20 :sweat_smile: Let me try and find another issue for you :v:

[2020-06-11 05:25] tacticalyash commented on #8007
okay,fine @irodriguez20 :)

[2020-06-11 15:04] dburugupalli commented on #8006
@Tlazypanda I have raised a PR for this issue. Please review my PR. Thank you for helping out with the steps for the PR. Also, any suggestions with issue to be picked up next.
Have a good day

Best Regards,
Dinkara Sai Santosh Burugupalli

[2020-06-11 15:21] jywarren commented on #8002
Hi all! I'm back after some days offline and it's really wonderful to see everyone here, checking in with each other, helping one another out. Huge thanks to @Tlazypanda for opening this as well as for creating some FTOs for people!

GSoC/Outreachy folks, if you are stuck on something, please reach out to each other for reviews and input, and I've also connected up all our Editor Team mentors:  @D

[2020-06-11 15:22] akshitproothi commented on #8006
@dburugupalli Please claim the issue here in the comments before you work on it as others might already be fixing this. That said, please continue on this, i will claim another one.

[2020-06-11 16:37] #7927 closed

[2020-06-11 18:00] jywarren commented on #7953
This is spectacular and we should still leave this issue open to see if we've made progress on the disambiguation in the design, asking for feedback from people in the blog post you put up! Great work!

[2020-06-11 18:40] emilyashley commented on #7891
Awesome thanks!

I see you might have had a few questions for review on vetting which external libraries to bring in? Not sure if this is the best place, but wanted to share what I generally look for when adding new dependencies while it is on my mind. I can check these out for you, esp if you post a list of all the ones you may be considering :) There's no need to write all of our software from s

[2020-06-11 18:47] emilyashley commented on #7891
Actually, I'll make a discussion issue out of my comment incase other people have thoughts on this unrelated to this issue :)

[2020-06-11 18:50] emilyashley opened #8019 "How do you "vet" external libraries when adding them to a project? Best practices."
I've seen a few questions, issues, PR for review on vetting which external libraries to bring in? Not sure if this is the best place, but wanted to share what I generally look for when adding new dependencies while it is on my mind. I can check these out for you, esp if you post a list of all the ones you may be considering :)

There's no need to write all of our software from scratch, but we also

[2020-06-11 19:23] Uzay-G commented on #7141
This [repo](https://github.com/Uzay-G/.github) has all the templates. If the publiclab org clones it, then those templates will be expanded to every single PL repo. Could we do this?

[2020-06-11 19:24] Uzay-G commented on #7141
If we do it the way I mentioned above, we will only need to changes the templates in one place.

[2020-06-11 20:15] #8004 closed

[2020-06-11 20:25] jywarren commented on #7965
Hi @Tlazypanda can we look at other places where `Tag.counter` type code is used, and try to switch to that?

https://github.com/publiclab/plots2/pull/7609/files#diff-8fe92870a7f027a46eed82a51c5c16bcR118

However, the counts are off by very little. I wonder if this is an issue of some things being spammed and then that affecting the math a little bit?

See for example the difference between these

[2020-06-11 20:59] #7994 closed

[2020-06-11 21:28] cesswairimu commented on #8000
cool..Thanks everyone :+1:

[2020-06-11 21:28] #8000 closed

[2020-06-11 21:29] cesswairimu commented on #7920
sure go ahead @Tlazypanda

[2020-06-11 21:42] jywarren commented on #7883
Hi @Tlazypanda i just noticed a route with pretty slow response time and you don't have to prioritize it at all but it was a little unusual and I recall seeing long wait times for it in the past -- posting a comment! It's not even a full page load, it's AJAX, so it should be faster. I wonder -- maybe it's to do with sending the emails? But that should be handled by ActiveJob asynchronously. Here,

[2020-06-11 21:43] #8006 closed

[2020-06-11 21:44] #8005 closed

[2020-06-11 21:48] jywarren commented on #5094
linking to https://github.com/publiclab/plots2/issues/5095#issuecomment-513397183 where it was solved!

[2020-06-11 22:25] jywarren opened #8020 "Interface scaling bug on live site"
When viewing on a mobile device or at narrower screen sizes, i now see the following, which is not what it used to look like:

![image](https://user-images.githubusercontent.com/24359/84444824-9d7eab80-ac10-11ea-96ca-480bcea00bc8.png)

Previously it would not have scaled the page content, and would have rendered like this:

![image](https://user-images.githubusercontent.com/24359/84444860-b1c2a880

[2020-06-11 22:26] jywarren commented on #8020
https://github.com/publiclab/plots2/commits/master/app/views/layouts/application.html.erb hasn't changed significantly since Feb, and I don't /think/ this bug is that old.

[2020-06-11 22:27] jywarren commented on #8020
Hmm. dashboard doesn't seem to have this behavior!

![image](https://user-images.githubusercontent.com/24359/84445065-27c70f80-ac11-11ea-910f-ac4db6d40c7d.png)

[2020-06-11 22:29] jywarren commented on #8020
Closing! This seems to only be affecting the contributors pages, so merging back into #7818. Whew, thought i was going a bit zany!

[2020-06-11 22:29] #8020 closed

[2020-06-11 23:04] jywarren commented on #7817
Hi, all, I've looked through all the solutions here and wanted to try some of them out, so I opened a pull request here: https://github.com/publiclab/plots2/pull/8021

It pushes the right-hand "followers" table below the left hand "contributors" table in narrower views which I think is appropriate; when the two tables are too narrow, they read as a single table, which is confusing.

One thing I'd

[2020-06-11 23:26] jywarren commented on #7973
Hi all, just skimmed this and checked, and https://publiclab.org/search?q=bucket-monitor (and `bucket monitor` -- https://publiclab.org/search?q=bucket%20monitor) do both now return https://publiclab.org/wiki/bucket-monitor, so I think what's happened is that there is a delay between the creation of a new page and when Google scans our site for new pages and lists them in the search results.

![im

[2020-06-11 23:27] jywarren commented on #7973
Oh, and if you'd like, we can redirect https://publiclab.org/wiki/bucket-2020-relaunch-and-update to https://publiclab.org/wiki/bucket-monitor ?

[2020-06-11 23:29] jywarren commented on #7817
Ah, and just to link up regarding "Related tags", @ebarry resurfaced this discussion which i think is an appropriate place to talk about that! https://github.com/publiclab/plots2/issues/6307

[2020-06-11 23:30] jywarren commented on #6244
The new /spam2 dashboard at #7969 #7961 will resolve this! Thanks!

[2020-06-11 23:30] #6244 closed

[2020-06-11 23:30] jywarren commented on #6307
So this page has had some refinement since last update, and here's a screenshot from today:

[2020-06-11 23:32] jywarren commented on #7885
Hi @keshavsethi !!! Just chiming in because we wanted to know if the "users" tab on https://github.com/publiclab/plots2/pull/7969 resolves this issue? https://github.com/publiclab/plots2/issues/2377 or will it in the future? Would you mind adding this issue to your plan and/or closing it and redirecting it to your own issue?

Thank you!

[2020-06-11 23:36] jywarren commented on #7885
Uh, and sorry, just to edit - https://github.com/publiclab/plots2/issues/2377 has gone WAY into adjacent topics related to automated filtering and keyword searching. So, we should really break it up into separate issues, and perhaps all the brainstorming in there could be reference in several parts; the most important would be simply a tab showing users, that we can ban, etc.

But then there are a

[2020-06-11 23:47] #7817 closed

[2020-06-12 00:44] Tlazypanda opened #8023 "Fix icons issue after migration to font-awesome-rails"
### Please describe the problem (or idea)
Some icons available in Font Awesome 5.0 are currently used in the application which aren't getting loaded now since font-awesome-rails makes use of v4.7.0.

The icons are as follows and can be replaced by their counterpart of the FA v4.7.0 library instead:-
- fa-map-marker-alt -> fa-map-marker
- fa-dot-circle -> fa-dot-circle-o

One more thing noticed in

[2020-06-12 00:45] Tlazypanda commented on #8023
@jywarren Can you point me to the right files for the leaflet map icons? I can't seem to find them in plots2 :sweat_smile:

[2020-06-12 01:10] Tlazypanda commented on #8019
@emilyashley Thanks a lot for the detailed explanation on what all to look out for! :heart:

[2020-06-12 01:40] Tlazypanda commented on #7890
@jywarren The css files seem to be already minified :sweat_smile:

[2020-06-12 06:08] imanishbarnwal commented on #6551
Hello, @nstjean if no one is working on this issue. Can I do it? Thank You!!

[2020-06-12 18:01] #7887 closed

[2020-06-12 19:20] cesswairimu commented on #8002
Hi, thanks everyone for sharing and a big welcome to the new folks... is any of the interns willing to open next week check-in? Happy Friday all

[2020-06-13 00:30] jywarren commented on #8023
Hi! @icarito sez:

Hope that helps!!!

[2020-06-13 02:47] Tlazypanda commented on #8023
Hey @jywarren I am not sure if I understand correctly :sweat_smile: I have to edit the font awesome icons called that is-

![image](https://user-images.githubusercontent.com/33183263/84558119-fef86480-ad4d-11ea-88d8-3b65352c75dc.png)

The `fas fa-map-marker-alt` shown here needs to be replaced with `fa fa-map-marker` since this icon is part of FA 5.0 and not available in v4.7 so I am not sure abou

[2020-06-13 05:20] jywarren commented on #8023
Ah but you can't find where the HTML is? I wonder if it's actually in the upstream library leaflet-environmental-layers?

[2020-06-13 05:22] jywarren commented on #8023
If so, could it be somewhere here?

https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/leaflet_helper.js

[2020-06-13 05:25] jywarren commented on #8023
Maybe they're instantiated here and we need to detect fontawesome version?

https://github.com/publiclab/leaflet-environmental-layers

[2020-06-13 06:31] Tlazypanda commented on #8023
Ohh @jywarren  so this code wasn't part of plots2 repo at all then :sweat_smile: I was so confused looking for it :laughing:  I found it in the leaflet-environmental-layers repo just gimme some time to setup this repo and will open a pr there then :v:

[2020-06-13 07:05] Tlazypanda commented on #8023
@jywarren So I went through lel :sweat_smile: and the issue is that lel has v5.0 Font Awesome so we can either bump down it to 4.7 (possible since the icons used in lel are also available on 4.7) or bump up plots2 (not possible since there is a lot of icons used with fa class and some icons names have changed in the newer version).

A temporary fix for now will be to include cdn link for Font Awes

[2020-06-13 08:18] Tlazypanda commented on #7978
@jywarren @cesswairimu This would require changes in the LEL repo :sweat_smile: just adding a note here

[2020-06-13 08:50] Tlazypanda opened #8027 "Improve accessibility of New Question route"
**Please describe the desired behavior.**
Currently the New Question route has some elements whose accessibility can be improved by adding proper description.

These problems include missing form labels in the new question route form flagged by lighthouse and WAVE.

[2020-06-13 09:13] Tlazypanda opened #8029 "Add aria-labels for user email search in admin/useremail.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-06-13 09:15] Tlazypanda commented on #8029
Hey @tacticalyash You can work on this if you want :tada:

[2020-06-13 09:21] Tlazypanda opened #8030 "Add aria-labels for empty link in dashboard/_node_comment.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-06-13 09:23] Tlazypanda commented on #8030
Hey @akshitproothi You can take this one if you want :tada:

[2020-06-13 09:37] markkulube commented on #8030
@Tlazypanda I will take it.

[2020-06-13 09:57] JapneetSingh5 commented on #8029
can i work on this?

[2020-06-13 09:59] cesswairimu commented on #6551
Hi @imanishbarnwal, sure go ahead..Thanks

[2020-06-13 11:47] imanishbarnwal commented on #6551
Hello, @cesswairimu I just send a PR kindly check that. Thank You!!

[2020-06-13 17:25] Janitham97 commented on #8030
@Tlazypanda  I'm new to here, I need to fix an issue, is this done?

[2020-06-14 03:51] Tlazypanda commented on #8029
@JapneetSingh5 Sure go ahead! :tada:

[2020-06-14 03:52] Tlazypanda commented on #8030
@markkulube please go ahead! :v:  @Janitham97 Let me try to find another issue for you :tada:

[2020-06-14 03:52] Tlazypanda opened #8032 "Add aria-label for empty link for delete tag in app/views/tag/_tags.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-06-14 05:25] Janitham97 commented on #8032
hi, may I?

[2020-06-14 08:24] markkulube commented on #8030
@Tlazypanda on it, thanks!

[2020-06-14 14:25] Ajatasatruvu commented on #8032
@Janitham97 Are you working on it?

[2020-06-14 14:26] Janitham97 commented on #8032
@Ajatasatruvu yes

[2020-06-14 20:53] Tlazypanda commented on #8032
@Janitham97 Thanks for your pull request :heart:

@Ajatasatruvu Let me try to find another issue for you :tada:

[2020-06-15 04:58] urvashigupta7 commented on #7965
Hey @jywarren , what I can see in page tag/:id i.e. the show page for tag is that we are displaying only research notes having the corresponding tag not the questions.
For example:
### /tag/:id page
![Screenshot from 2020-06-15 10-23-26](https://user-images.githubusercontent.com/41363633/84619288-4881b480-aef2-11ea-9775-44fa80b45c42.png)

### /tag page, topic card:water-quality
![Screenshot from 2

[2020-06-15 05:13] urvashigupta7 commented on #7965
[https://github.com/Tlazypanda/plots2/blob/e18f72cbe6c49b0b389fc80eb950dc64cc2ceddb/app/views/tag/_topicCard.html.erb#L4-L35]
So, here what we need to do is fetch the research notes only not research notes+questions. The limit logic and shown_nids is correct. For displaying the count of posts at the bottom of topic card what we need to do is
### Total number of research notes with tagname - Count

[2020-06-15 05:31] urvashigupta7 commented on #7965
Hey @jywarren, what I can see in  tag/:id i.e. the showpage for tag is that we are displaying only research notes over there and in topic cards , we are trying to display research notes+questions.
So, I think what we need to do is that we need to fetch notes in the same way as we are doing in **tag#show** and for displaying the count at the bottom of topic card we will just need to use this formul

[2020-06-15 07:44] Tlazypanda commented on #7991
Hey @jywarren @cesswairimu @emilyashley @SidharthBansal @IshaGupta18  Looking forward to your inputs :tada:

[2020-06-15 14:29] ebarry commented on #6307
I agree we can delete Related Tags for now, especially if that allows us to make space in this zone for presenting different types without using a dropdown, for instance, using Pill Nav as @jywarren describes above. This is a feature request that i've heard again from @joyofsoy and @kgradowski in the past month, and this would be GREAT.

Once we get the Pill Nav in, and after three more weeks of o

[2020-06-15 20:45] ebarry commented on #6244
Great, thanks!

[2020-06-16 06:46] keshavsethi opened #8040 "Weekly Community Check-In #63 - Stay Updated!"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-06-16 06:47] keshavsethi commented on #8040
@keshavsethi, @jywarren, @AyanChoudhary, @imajit,@NitinBhasneria, @nstjean, @marientje, @rutger-t, @Janet33, @TroydonAnabolic, @priyanshbalyan, @Medlineme4, @mandysGit, @msanden, @AidenOliver, @Janetsomehow, @AntroMarina, @llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-s, @goamoth, @SusannaDiV, @yusofsf, @

[2020-06-16 06:47] keshavsethi commented on #8040
@moliver4, @justinelai, @Snouzy, @stevenalila, @Digiox, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @theOpetunde, @sailahonkanen, @robin-natale, @avidler, @ccyccyccy
@urvashigupta7, @daemon1024, @Tlazypanda, @jscastanos, @sarthak-choudhary, @dongskyler, @keshavsethi, @Shulammite-Aso, @ckchu8, @keshav234156, @DerekChristy, @Srija616, @priyanka-choubey,

[2020-06-16 06:58] Tlazypanda commented on #8023
@jywarren Noticed some more issues arising due to the FA 5 being loaded after FA 4.7 thus overwriting some of the css of the icons, have added one more fix here

[2020-06-16 07:05] keshavsethi commented on #8040
Hey Everyone :wave: Hope you all are fine :heart: This is my update for last week
- Last week I worked on Digest for unmoderated posts and wrote a test for it(https://github.com/publiclab/plots2/pull/7987). There were few errors in stable, I checked its build logs ad made some changes which are in PR(https://github.com/publiclab/plots2/pull/7987). I noticed that /spam also has few issues in stable

[2020-06-16 12:38] Tlazypanda commented on #8040
Hey everyone :wave:

This week I worked on some accessibility issues, issues fixing the icons error migration to FA v4.7, loading critical css and rest asynchronously ( #7996 review required help!! :sweat_smile: ) , opened some ftos for newcomers and started working on lazyloading images #8043 (any feedback appreciated :v:)

Also need inputs on #7991 before proceeding further :sweat_smile:

Also w

[2020-06-16 13:53] paulzay commented on #8007
I see it's still open. Can i work on it?

[2020-06-16 16:41] jywarren commented on #5095
This is now recurring again, noting relation to #7939

[2020-06-16 17:38] jywarren commented on #5015
Noting that this API query now returns no results for common searches... though publiclab/PublicLab.Editor#470 seems to show it working for some queries?

https://publiclab.org/api/srch/notes?query=balloon-mapping returns this for me:

`{"items":"","srchParams":{"query":"balloon-mapping","seq":null,"tag":null,"nwlat":null,"nwlng":null,"selat":null,"selng":null}}`

[2020-06-16 17:49] jywarren commented on #6307
TODO: figure out what to do with the welcome text.

(Quick note to comment out the Maps tab) - let's see what it looks like to move to tabs! Thanks, all.

[2020-06-16 17:50] jywarren commented on #5015
Noting this may not be a performance issue at this point, but "whether we're getting results" - https://oss.skylight.io/app/applications/GZDPChmcfm1Q/1592238000/12h37m/endpoints/Srch::Search%20%5BGET%5D%20srch%2Fnotes doesn't show too many long load times and mostly i'm just getting no items.

[2020-06-16 19:34] jywarren commented on #5095
Hi @Tlazypanda -- i reopened this and I think this is also in relation to the asset locations being defined relatively... do you think that may be right? Is it something we could monitor by watching the Chrome dev console while loading a map, and seeing how the path matches or doesn't match the location of the Leaflet assets? Thank you!

[2020-06-16 19:34] jywarren commented on #5095
As you've been working on assets a lot, if you wouldn't mind adding this to your task list that would be super helpful!!

[2020-06-16 19:53] jywarren commented on #7334
Note we should make this match the code and tests here: https://github.com/publiclab/plots2/pull/7476

and the idea for a "single source of truth" here: https://github.com/publiclab/plots2/issues/6855#issuecomment-578331475

Thank you!

[2020-06-16 19:56] jywarren commented on #7965
Hi, that's just right! noting the concept of a "single source of truth" here: https://github.com/publiclab/plots2/issues/6855#issuecomment-578331475

I believe we should be using the same calculations here: https://github.com/publiclab/plots2/pull/7476 (based on #6855).

@urvashigupta7 thank you so much for chiming in! Would you be interested in making these changes?

[2020-06-16 20:00] jywarren commented on #7965
I also think that in https://github.com/publiclab/plots2/pull/7476/, we are not filtering out spam. So on these lines, we should probably add `.where(status: 1)`:

https://github.com/publiclab/plots2/blob/c056cb0b97ebc6b34184ec3dfa9a83e1096395f9/app/controllers/tag_controller.rb#L551-L560

Likewise this code needs also to filter spam out with the same filter:

https://github.com/publiclab/plots2/b

[2020-06-16 20:04] jywarren commented on #7965
Hmm. It does seem like we are filtering spam from the `@total_posts` calculation, as it runs /after/ these lines:

https://github.com/publiclab/plots2/blob/c056cb0b97ebc6b34184ec3dfa9a83e1096395f9/app/controllers/tag_controller.rb#L204-L218

However, neither `Tag.counter` and `Node.for_tagname_and_type` filter. Maybe that is the irregularity?

[2020-06-16 20:05] jywarren commented on #7334
And noting a more detailed investigation here -- I think we need to be sure all counts are from a unified body of code maintained in the models, and unit tested!

https://github.com/publiclab/plots2/issues/7965#issuecomment-644980326

[2020-06-16 20:15] jywarren commented on #8040
@keshavsethi - i see you've linked all your PRs together here, so apologies for asking that in another issue! This is super. If you could also link them together to the Spam milestone that'd be great as well! Great work!

@Tlazypanda you're doing great work too! I did note some oddities with asset loading paths in a few related issues and I think this is something to watch out for, although at lea

[2020-06-16 20:17] jywarren commented on #8040
@keshavsethi https://github.com/publiclab/plots2/pull/8038 looks really great. I LOVE system tests because they really show reviewers (and future contributors) how the code is supposed to work, and they make merging PRs much easier, as they guarantee functionality! Approved and ready to merge with your final confirmation!

[2020-06-16 20:21] skilfullycurled commented on #5095
If it would help I’d be happy to change my username to “owmloading” so I will always be found.  LMK.  : P

Actually, in all seriousness that may have enough comedic value to do.

Wait.

Nope.

It won’t be so funny if it ends causing a Little Bobby Tables situation.

https://xkcd.com/327/

[2020-06-16 20:22] jywarren commented on #8040
Folks in the Editor project - @Shulammite-Aso @NitinBhasneria @shreyaa-sharmaa @keshav234156 -- i see lots of great work and both you and other @publiclab/soc folks may want to look at the coordination issue @emilyashley opened at https://github.com/publiclab/PublicLab.Editor/issues/532 - covering how to get changes to upstream libraries ready to be released and merged downstream all the way to Pu

[2020-06-16 20:28] jywarren commented on #7919
This is really awesome 🤯

[2020-06-16 20:38] jywarren commented on #7991
I hear you on automation sounding interesting! But I'm a bit hesitant on the automation front. It might be interesting to read up on and hear from folks who use accessibility software to know if automation (whether as a primary or fall-back method) has been a good solution for people -- and for people with various accessibility needs, for example. That would be a good "source of knowledge" for whe

[2020-06-16 20:58] jywarren commented on #8040
@Tlazypanda - just to clarify, i see one issue with an icon at https://stable.publiclab.org/tag/balloon-mapping -- i think probably a fontawesome version issue?

![image](https://user-images.githubusercontent.com/24359/84827415-6df5e780-aff2-11ea-9fda-3776c3d15cf2.png)

[2020-06-16 21:27] jywarren commented on #6307
OK, here is a mocked up version (from our [mockups doc](https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit#slide=id.g81e5b443c7_0_207)) with tabs vs. pills, with all the other changes made as well, but there is one ambiguity related to a request from Stevie + Joe as well - the "total count" should still remain, right? So the `133 contributors and 80 followers`

[2020-06-16 21:58] Tlazypanda commented on #8040
Hey @jywarren I have resolved the icon errors here publiclab/plots2#8041 I think this should resolve all the errors 😅 can you kindly have a look ? Thanks ✌️ and again sorry for all the inconvenience caused with this issue, the migration caused unwanted changes in separate libraries and features not present in the codebase

[2020-06-16 22:00] #8023 closed

[2020-06-16 22:12] jywarren commented on #8040
Done! No problem at all!!!

[2020-06-16 23:01] jywarren commented on #6307
Starting implementation here: https://github.com/publiclab/plots2/pull/8046

[2020-06-17 03:36] jywarren commented on #6307
OK, #8046 is ready for final review, with screenshots there!

[2020-06-17 11:44] cesswairimu commented on #8002
Moved to https://github.com/publiclab/plots2/issues/8040. Thanks everyone

[2020-06-17 11:44] #8002 closed

[2020-06-17 13:54] cesswairimu commented on #8040
Hello all, and thanks @keshavsethi  for opening this issue :tada:
Planning to review most pending soc PRs this week and catching up on any discussions happening on the planning issues. Great job everyone and have a great rest of the week

-------
Also anyone willing to open next week's check-in kindly express your interest here. Thanks

[2020-06-17 13:57] ebarry commented on #5095
Lol @skilfullycurled
This is somewhere between Little Bobby Tables and Public Lab's own ghost in the machine

[2020-06-17 14:00] #8032 closed

[2020-06-18 05:37] javila35 commented on #6851
Hi, has this issue been completed?

If not, I would like to take it on. New to Public Lab and open source, this would be my first contribution.

[2020-06-18 13:00] Tlazypanda commented on #5095
@skilfullycurled @ebarry  That cracked me up lol :joy:   @jywarren I found this on the lel live site might be of use: - investigating more to find out this ghost xD  Do we need this gif file?
![image](https://user-images.githubusercontent.com/33183263/85022999-c2839900-b191-11ea-9a19-a6e6b3fa8cc3.png)

[2020-06-18 14:36] ebarry commented on #6307
The PR looks great, thanks! No changes from me.

[2020-06-18 18:21] skilfullycurled commented on #5095
While my Ruby abilities are very limited, I do try to insert attempts (emphasis on attempts) at humor especially when it’s a bug I submitted.  Not as helpful as actually tracking it down and fixing it, but hey, I’ve only got what they gave me.

[2020-06-18 18:27] imanishbarnwal commented on #6894
Hello, @Eshaabhasin I think this issue open from a while can I take this issue. Thank You!!

[2020-06-19 06:17] shreyaa-sharmaa commented on #8040
Hey everyone!
I hope everyone's doing fine.
I had some trouble with my github account last week and I'll be using this one from now. For this week I'll be working on https://github.com/publiclab/PublicLab.Editor/issues/503.
To be reviewed:
https://github.com/jywarren/woofmark/pull/5
Thanks!

[2020-06-19 08:52] Tlazypanda opened #8053 "Improve accessibility of New Note route"
**Please describe the desired behavior.**
Currently the New Note route has some elements whose accessibility can be improved by adding proper description.

These problems include missing form labels in the new note route form flagged by lighthouse and WAVE.

[2020-06-19 09:04] Tlazypanda opened #8055 "Add aria-label for empty link in tag/show.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-06-19 11:41] praaatik commented on #8055
Hello @Tlazypanda, could I take this?

[2020-06-19 11:48] Tlazypanda commented on #8055
@praaatik Yeah go ahead :tada:

[2020-06-19 16:45] #8055 closed

[2020-06-21 09:59] Tlazypanda commented on #7991
Thanks @jywarren for such a detailed explanation :tada: Looping in @Shulammite-Aso @keshav234156 @NitinBhasneria @shreyaa-sharmaa What do you think? :sweat_smile:

[2020-06-22 05:54] Tlazypanda opened #8057 "Documentation of performance and accessibility guide"
**Please describe the desired behavior.**
Currently all the new changes introduced during Outreachy are not documented making it difficult for future contributors to maintain and improve on performance and accessibility.

Adding a performance and accessibility guide can help solve this problem by providing contributors links to changes made and offer tips on things to keep in mind while opening ne

[2020-06-22 06:05] Tlazypanda commented on #8057
Hey @jywarren as per our discussion on various issues that some sort of notes is required to keep track of changes maybe we can link this to the readme - https://hackmd.io/@itm2017004/BJuqtap6L initial draft :v:

[2020-06-23 06:12] Tlazypanda opened #8059 "Weekly Community Check-In #64 - We are here for you."
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-06-23 06:13] Tlazypanda commented on #8059
@keshavsethi, @jywarren, @AyanChoudhary, @imajit,@NitinBhasneria, @nstjean, @marientje, @rutger-t, @Janet33, @TroydonAnabolic, @priyanshbalyan, @Medlineme4, @mandysGit, @msanden, @AidenOliver, @Janetsomehow, @AntroMarina, @llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-s, @goamoth, @SusannaDiV, @yusofsf, @

[2020-06-23 06:13] Tlazypanda commented on #8059
@moliver4, @justinelai, @Snouzy, @stevenalila, @Digiox, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @theOpetunde, @sailahonkanen, @robin-natale, @avidler, @ccyccyccy
@urvashigupta7, @daemon1024, @Tlazypanda, @jscastanos, @sarthak-choudhary, @dongskyler, @keshavsethi, @Shulammite-Aso, @ckchu8, @keshav234156, @DerekChristy, @Srija616, @priyanka-choubey,

[2020-06-23 14:18] cesswairimu commented on #8040
Moved to https://github.com/publiclab/plots2/issues/8059. Thanks everyone

[2020-06-23 14:18] #8040 closed

[2020-06-23 14:56] ebarry commented on #8059
Happy new week all! 🌳
Incredible work last week by so many people -- really impressive! 🌟
A personal thanks from me to all who found time and attention to look into details with tag pages, especially considering that those efforts were in addition to their own projects 🌺

[2020-06-23 15:42] jywarren commented on #8059
Hi, all! Back from helping my family out and ready to get plugged back in; the tag page design overhaul in #8046, and tracking a posting issue as well. Will be looking in to see how all Outreachy and GSoC folks are doing as well! 🎉

[2020-06-23 15:44] jywarren commented on #7062
Seeing this open again at https://sentry.io/share/issue/2709eb2c658f48739bf30e2699c95136/, linked to emoji/unicode issue!

[2020-06-23 17:20] jywarren opened #8061 "addLocation is not defined on profile page location adding modal"
On profile pages, removing location tags and re-adding a location using the modal fails, with:

`addLocation() is not defined`

OK, so this used to exist:

https://github.com/publiclab/plots2/pull/1965/files#diff-0e96eb89432977c7610f8598db819f24R17-R22

[code]

Where'd it go?

Looks like this commit consolidated some Leaflet code but lost this:

https://github.com/publiclab/plots2/commit/0545b0fa3

[2020-06-23 17:21] ebarry commented on #8061
Thanks for documenting this! I've noticed this unexpected behavior, but did not know how to articulate it.

[2020-06-23 17:41] jywarren commented on #8061
Unfortunately `$('.blurred-location-input').click()` doesn't open the modal. Checking how we're supposed to do it now...

[2020-06-23 17:41] jywarren commented on #8061
https://github.com/publiclab/plots2/edit/master/app/views/users/profile.html.erb#L9

[2020-06-23 18:53] #8027 closed

[2020-06-23 18:55] emilyashley commented on #8019
Was just mentioning with @jywarren that we also bet @alaxalves has thoughts on this. Please chime in and share if you can :)

[2020-06-23 18:56] #7919 closed

[2020-06-23 19:02] emilyashley commented on #8019
LOVE TO SEE THIS.
This is a really great example from @Tlazypanda and @cesswairimu vetting a library! SHOUT OUT! 🎉🙌

https://github.com/publiclab/plots2/pull/8043#issuecomment-645667983

[2020-06-23 19:12] #8053 closed

[2020-06-23 19:41] jywarren commented on #8059
Also - @Tlazypanda would you mind updating https://github.com/publiclab/plots2/issues/5627 to link here? Thank you!!!!!

[2020-06-23 19:42] jywarren commented on #8059
Congrats btw on a lot of merged PRs this week. And congrats to https://github.com/publiclab/plots2/pull/8034 for getting a big PR merged for spam moderation!

Excited to see the Editor team work together on their first release! https://github.com/publiclab/PublicLab.Editor/issues/532 🎉

[2020-06-23 19:42] jywarren commented on #8059
And THANK YOU to all the mentors @publiclab/soc who have been helping out!!!!

[2020-06-23 19:59] jywarren commented on #8061
OK, i tested again and i believe this works: `$('.blurred-location-input:last').click()`

[2020-06-23 20:00] jywarren commented on #8061
And opened a PR!

[2020-06-23 21:41] #8061 closed

[2020-06-24 04:29] Tlazypanda commented on #8059
Hey everyone :wave: So this week, I worked on some changes with lazy-loading images, started drafting the documentation for performance and accessibility guide #8057 and some more accessibility fixes.

Some of the tasks which have been a blocker for me now :sweat_smile: : - (Help needed!!) https://github.com/publiclab/plots2/pull/7939, https://github.com/publiclab/plots2/pull/7945, https://github.

[2020-06-24 12:42] Tlazypanda opened #8070 "Optimise the NotesController#recent ORM query"
**Please describe the desired behavior.**
Currently, the NotesController#recent ORM query is called such that the SQL query is repeated multiples times in a single request.

We can optimise this query to bring down the response time for the query.

**Additional context (optional)**
As flagged by skylight

![image](https://user-images.githubusercontent.com/33183263/85558136-1684f680-b646-11ea-9df0-

[2020-06-24 12:43] Tlazypanda commented on #8070
Hey @jywarren Can we add the unstable server to the environments in skylight so I can push there and check if the response time is improved :sweat_smile: Right now I am checking on the networks tab of chrome dev tools but checking it on unstable may give more insight. Thanks :v:

[2020-06-24 13:40] Tlazypanda opened #8072 "Optimise the TagController#show ORM query"
**Please describe the desired behavior.**
Currently, the TagController#show ORM query is called such that the SQL query is repeated multiples times in a single request.

We can optimise this query to bring down the response time for the query.

**Additional context (optional)**
![image](https://user-images.githubusercontent.com/33183263/85567219-5059fb00-b64e-11ea-9616-dd9c468e5a17.png)

[2020-06-24 14:20] Tlazypanda commented on #7883
Hey @jywarren I am planning to modify all the ORM queries that might be slow/repetitive as flagged by skylight so I will take this into consideration :smile: Thanks for letting me know :v: I am still learning about the ORM querying system in rails so might take some time to get back on this :sweat_smile:

[2020-06-24 15:35] #8072 closed

[2020-06-24 18:41] Tlazypanda opened #8075 "Optimise the TagController#stats ORM query"
**Please describe the desired behavior.**
Currently, the TagController#stats ORM query is called such that the SQL query is repeated multiples times in a single request.

We can optimise this query to bring down the response time for the query.

**Additional context (optional)**
As flagged by skylight
![image](https://user-images.githubusercontent.com/33183263/85614305-61b7fd00-b678-11ea-99eb-9c9e

[2020-06-24 20:24] jywarren opened #8077 "Moving from `master` to `main` branch name convention across all Public Lab projects"
Hi, all! We've been in the midst of a years-long series of migrations from using a branch called `master` as default to `main`, and although we've succeeded for many of our repositories (https://github.com/publiclab/mapknitter/, https://github.com/publiclab/spectral-workbench/, for example, full list at bottom), we haven't done the `plots2` repo yet. This is important because of the racist connota

[2020-06-25 12:48] Shulammite-Aso commented on #7991
If this is for the main images, maybe we could add an input field just beside the main image field, below the choose file button asking authors to include alternate text. And perhaps a help text too beside it that will hold something like this:

For images inside the text body, i don't actually know how exactly we could ask alt text from authors, but maybe if they use markdown, could replacing the

[2020-06-25 13:23] Shulammite-Aso opened #8082 "user workflow for documenting editor bugs"
Recently added a button that will allow users document bugs that are specific to the editor. will soon be adding the HTML changes for it here, in a pull request.

[2020-06-25 17:21] cesswairimu opened #8084 "Travis bundler error"
Travis is failing on all the PRs since last evening

![Screenshot from 2020-06-25 20-17-06](https://user-images.githubusercontent.com/17081074/85767981-3a693a80-b721-11ea-8580-f2d46532c9a5.png)

This is the error

[2020-06-25 17:36] cesswairimu commented on #8084
I tried a couple of fixes last night on #8074
- Updating system gems on the before script
- updating bundler
replacing `bundle exec rails` to  `bundle exec rake` removed the error  and the tests ran but it is causing a bunch of unit and integration tests to fail

Any pointers are appreciated

[2020-06-26 10:18] Shulammite-Aso commented on #8082
@jywarren @cesswairimu this is ready.

[2020-06-26 16:04] cesswairimu commented on #8084
@alaxalves pinging you...you have helped solve travis errors in the past you might have some ponters?

[2020-06-26 16:35] #8084 closed

[2020-06-26 16:46] #7990 closed

[2020-06-26 18:34] #8030 closed

[2020-06-26 18:40] #8007 closed

[2020-06-26 20:46] #8029 closed

[2020-06-28 08:52] SidharthBansal commented on #8059
Hi all,
This week we have GSoC First Evaluations so please don't forget to fill out the forms before the deadline. It will just take 5 minutes so fill it asap.
Quick updates from my side: I will be joining a gaming startup `Gameskraft` from Wednesday. Really excited to start the FTE job. :)

[2020-06-28 09:20] Tlazypanda commented on #8059
Hey @SidharthBansal Congratulations!! :tada: :clap: :100:

[2020-06-28 09:27] Tlazypanda commented on #7991
Thanks @Shulammite-Aso for your inputs :tada: It does sound a bit challenging to figure this out :sweat_smile: Let's see how it fares

[2020-06-28 13:40] TroydonAnabolic commented on #8059
Updates from my side, joined a free course that will give me an opportunity to gain the AWS Cloud Practicioner and increase my chance to get a dev job in the cloud.

[2020-06-28 18:48] jywarren commented on #5095
Hi! Thanks for investigating this!!!

I think we should see if this is referenced from a stylesheet, in which case we could override it with our own styles, or from JavaScript, in which case perhaps we can override it there? Can you look for the exact line of code where it happens and try to debug from there.

Overriding in JavaScript may be harder; see how Leaflet has allowed people to override i

[2020-06-29 06:33] cesswairimu commented on #8059
Anyone interested in opening this week's check-in?

[2020-06-29 13:11] ebarry commented on #8059
Congrats @SidharthBansal !!!!!

[2020-06-29 13:30] ebarry commented on #5095
I think this is a candidate for our `Hall of Fame` label...

[2020-06-29 13:44] habeckmatt commented on #8001
Hi, is this issue still open?

[2020-06-29 14:00] Tlazypanda commented on #5095
@jywarren Actually on using the git blame feature (thanks for telling me about this simplifies debugging a lot :D) came to know that this line was introduced in https://github.com/publiclab/leaflet-environmental-layers/commit/f38d59419c4e88af855ec2172c1b5b44192a8be3 where we added the Openweather map module code but this code referenced the owmloading.gif too but this wasn't added.

https://github

[2020-06-29 16:02] keshavsethi commented on #7885
I have updated this planning issue and added PRs with them.
The initial stage of spam2 is done i.e UI, bulk moderation, and digest. You can use it on stable once https://github.com/publiclab/plots2/pull/8063 and https://github.com/publiclab/plots2/pull/8058 are merged.
These are some of my major PRs for Spam2
 https://github.com/publiclab/plots2/pull/7969
https://github.com/publiclab/plots2/pull/8

[2020-06-29 16:56] Tlazypanda commented on #7991
@jywarren Going through the different providers (microsoft,google etc) the services pricing structure requires us to pay :sweat_smile: It's either free for a certain trial period or paid according to the services or features of the api that you are going to require https://azure.microsoft.com/en-in/pricing/details/cognitive-services/computer-vision/

[2020-06-29 18:08] keshavsethi commented on #7885
These are my weekly blogs
- **Week  3 Coding week 0**  https://publiclab.org/notes/keshav_sethi0004/05-24-2020/spam-management-dashboard-gsoc-week-3
- **week  5 Coding week 1**  https://publiclab.org/notes/keshav_sethi0004/06-07-2020/gsoc-2020-week-5-coding-period-week-1-spam-management-dashboard
- **week  6 Coding week 2**  https://publiclab.org/notes/keshav_sethi0004/06-16-2020/gsoc-2020-week-6-

[2020-06-30 09:53] cesswairimu commented on #8059
Moved to https://github.com/publiclab/spectral-workbench/issues/520. Thanks all :heart:

[2020-06-30 09:53] #8059 closed

[2020-06-30 10:21] #8082 closed

[2020-06-30 10:40] #8070 closed

[2020-06-30 10:42] cesswairimu commented on #8001
@ishika1727  are you still working on this?

[2020-06-30 13:27] daemon1024 commented on #7683
Hi @cesswairimu,  Are there any issues that need to be converted to fto or some issue I can work on?

I haven't been contributing for a while now but I would like to resume my contributions to Public Lab. Thank You.

[2020-06-30 13:45] Tlazypanda opened #8092 "Add aria-labels for empty link in dashboard/_node_event.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-06-30 13:46] Tlazypanda opened #8093 "Add aria-labels for empty link in dashboard/_node_meta.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-06-30 13:46] Tlazypanda opened #8094 "Add aria-labels for empty link in dashboard/_node_question.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-06-30 13:51] Tlazypanda commented on #8001
Hey @cesswairimu I think #8013  is open and ready to be merged the codeclimate is stuck there but if you check on it by clicking the details then the tests have passed :sweat_smile:

@habeckmatt #8092 #8093 #8094 are available to work on :tada: Thanks for your interest in working with Public Lab :100:

[2020-06-30 14:02] Tlazypanda commented on #8057
Hey @jywarren @cesswairimu  I am almost done with this can you please have a look? Thanks :v:

[2020-06-30 17:32] jywarren commented on #8077
Great! Done - now just repointing PRs!

[2020-06-30 18:20] jywarren commented on #8077
All PRs repointed! We're done! I'll leave this open for a while with the local clone repointing info... and in case anything goes wrong!

[2020-06-30 18:40] jywarren commented on #8077
Found and fixed many instances of `master` in the code itself, resolved in https://github.com/publiclab/plots2/pull/8096

[2020-06-30 18:43] jywarren opened #8098 "lazyload scope"
@Tlazypanda i wonder if this line is running lazyload on all images across the entire page, and if that's a problem. Do we need to limit CSS scope to only `img` on this page?

Or alternatively, is this covered by a similar universal `img` statement elsewhere?

https://github.com/publiclab/plots2/blob/c60aaabb56c018962c76abf3f5f2d114f8492d15/app/views/notes/_card.html.erb#L72

[2020-06-30 22:05] #8094 closed

[2020-06-30 22:32] jywarren commented on #7885
Hi, just wanted to say this planning doc is super easy to follow and I appreciate your organization!!!!

[2020-07-01 07:01] Tlazypanda commented on #8098
Hey @jywarren assuming that we are going to lazyload all images I had added the config for all image_tag to be lazyloaded here - https://github.com/publiclab/plots2/blob/badf58e8b75e4eb1d07d524464178f8eaeacb250/config/initializers/lazyload.rb#L8

We can migrate to adding a `class: lazy` to the images we want to be lazyloaded and  `$("img.lazy").lazyload();`  for the scripts. Should I make these ch

[2020-07-01 07:22] Tlazypanda opened #8103 "Add stable and unstable environments to skylight for monitoring"
**Please describe the desired behavior.**
Currently skylight only monitors the production server, adding the stable and unstable environments to skylight will allow us to push our changes on these servers and monitor performance metrics and db queries.

[2020-07-01 20:33] cesswairimu commented on #7683
Hi @daemon1024, here are the ones on PublicLab https://github.com/publiclab/plots2/issues?q=is%3Aopen+is%3Aissue+label%3Afto-candidate...you might need to check if there any links related to them they might have been solved on other PRs or already converted but not closed... ping me if you need any clarity...Thanks

[2020-07-01 20:34] cesswairimu commented on #8001
cool thanks @Tlazypanda

[2020-07-01 20:35] cesswairimu commented on #8001
@habeckmatt I will add your name here #7683  and we will ping you once we get an fto...Thanks everyone

[2020-07-02 13:45] alaxalves commented on #8019
Thanks @emilyashley I'll take take to give this some thought. :)

[2020-07-02 13:51] ebarry commented on #8057
Yes, have it open now, will be reading during today! thank you @Tlazypanda for being part of the documentation revolution!

[2020-07-02 15:19] ebarry commented on #8057
Hi @Tlazypanda , it's so great to read documentation like this. Thank you!
Are any parts of this documentation aimed at non-coders, such as the people using the website directly? I was wondering this because of sections like https://hackmd.io/@itm2017004/BJuqtap6L#Avoiding-suspicious-link-text and the advice to avoid underlining.

[2020-07-02 18:42] ijeomaemeruwa commented on #8092
hello, please can i be assigned this issue?

[2020-07-02 20:28] icarito opened #8108 "Docker-compose fails to start passenger"
### Please describe the problem (or idea)

Unable to deploy. The web container errors out with:
[code]

Expected to see passenger start.
I've setup Jenkins in plots/unstable to expose the docker logs, e.g. https://jenkins.laboratoriopublico.org/job/Plots-Unstable/1059/console

Also tried a few different things. The problem appears when invoking rake from the Makefile, docker-compose ps lists: `plo

[2020-07-02 20:29] icarito commented on #8108
Note that when I invoke `docker-compose` directly I get passenger without problems:
[code]

[2020-07-03 08:01] Tlazypanda commented on #8092
@ijeomaemeruwa Yeah please go ahead :tada:

[2020-07-03 08:05] Tlazypanda commented on #8057
Hey @ebarry I am not sure how links are rendered by the editor now but yes these can be used as general guidelines as well to make posts more accessible :sweat_smile: Originally this was meant for developers only but maybe we can extend it :v:

[2020-07-03 10:33] Tlazypanda commented on #8108
Just sharing some links that might be related :sweat_smile:
https://stackoverflow.com/questions/3958092/problem-with-bundle
https://github.com/capistrano/passenger/issues/26
https://stackoverflow.com/questions/7071582/no-such-file-to-load-bundler-on-passenger-on-ubuntu

[2020-07-05 09:36] Tlazypanda opened #8112 "Lighthouse ci for performance and accessibility monitoring"
**Please describe the desired behavior.**
Currently, we don't have any ci tool used for performance and accessibility monitoring. Lighthouse ci is google based opensource tool that allows us to check prs for performance and accessibility.

https://github.com/GoogleChrome/lighthouse-ci
https://github.com/GoogleChrome/lighthouse-ci/blob/master/docs/getting-started.md#modifications-for-sites-with-a-c

[2020-07-05 09:38] Tlazypanda commented on #8112
@icarito @jywarren pulling the discussion from gitter here :sweat_smile:

[2020-07-05 09:49] icarito commented on #8112
From #publiclab :

My understanding when looking at that link is that they want to start the server locally at their site, not at our server, it can be done, e.g. with docker-compose like we do in our own staging.

Following the instructions, it appears a lighthouserc.js needs to exist and have a start command like `docker-compose up` with the right environment variables available.

[2020-07-05 09:59] Tlazypanda commented on #8112
One more concern is that the url option is an array of all urls that can be added to be investigated ... so do we add all the possible urls here in publiclab or how do we dynamically maintain what urls have been changed in a pull request
https://github.com/GoogleChrome/lighthouse-ci/blob/master/docs/configuration.md#url

[2020-07-05 11:25] #8108 closed

[2020-07-06 11:01] Tlazypanda opened #8113 "Weekly Community Check-In #66 - Outreachy Mid-term feedback"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-07-06 11:01] Tlazypanda commented on #8113
@JapneetSingh5, @Neilblaze, @markkulube, @vinuch, @Tlazypanda, @icarito, @dependabot-preview[bot], @jywarren, @keshavsethi, @praaatik, @Janitham97, @imanishbarnwal, @dburugupalli, @adityakpranav, @ioampatzidis, @esiebomaj, @Alexjake660, @cesswairimu, @urvashigupta7, @daemon1024, @jscastanos @keshavsethi, @jywarren, @AyanChoudhary, @imajit,@NitinBhasneria, @nstjean, @marientje, @rutger-t, @Janet33,

[2020-07-06 11:02] Tlazypanda commented on #8113
@keshav234156, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04, @sssash18, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shulammite-Aso, @Jigyasa-Kumari @moliver4, @justinelai, @Snouzy, @stevenalila, @Digiox, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @theOpetunde, @sailahonkanen,

[2020-07-06 11:02] Tlazypanda commented on #8113
@Janet33, @TroydonAnabolic, @priyanshbalyan, @Medlineme4, @mandysGit, @msanden, @AidenOliver, @Janetsomehow, @AntroMarina, @llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-s, @goamoth, @SusannaDiV, @yusofsf, @nanlliu, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04 @adityakpranav @e

[2020-07-06 12:24] alaxalves commented on #8113
Heyyy guys,
This upcoming week I intend to finish Rails 5 PR at Spectral Workbench, remove Bower and configure Yarn for Spectral Workbench and start including Rubocop in Travis builds for Spectral, Exporter gem and Exporter-Sinatra.

[2020-07-06 14:14] Tlazypanda commented on #8113
Hey everyone :wave:

Last week I have been stuck on adding alternate_text for images :sweat_smile:  Opened #8112 for discussion on introducing lighthouse ci for performance and accessbility monitoring.

Review required #7996 #7945 #7958 #8087 #8104 :v:
Thanks :raised_hands:

[2020-07-06 14:27] Tlazypanda opened #8114 "Remove unused code from profile method in user_controller"
**Please describe the desired behavior.**
User controller profile method has some unused code that can be removed to improve upon server response time on this endpoint.

**Additional context (optional)**
https://github.com/publiclab/plots2/blob/ad1a891697bab762511367f444223c563c2054a3/app/controllers/users_controller.rb#L161

Update: I think code from line 160 to 205 can be carefully removed can y

[2020-07-06 14:27] Tlazypanda commented on #8114
@jywarren @cesswairimu can you confirm that `@notes` is not used for this view? :sweat_smile:

[2020-07-06 15:31] keshavsethi commented on #8113
:wave: Hey everyone,
Last week, I worked on Flag nodes and Flag Comments where any users can flag node or comment and those nodes can be moderated at /spam2/flags and comments at /spam2/comments. This week I am planning to work on comment bulk moderation and its system and functional tests. I will also work on the Queue and the active user page.
Please review PR for Flag nodes and comments  https:

[2020-07-06 18:28] cesswairimu commented on #8114
@Tlazypanda I can't see it used anywhere

[2020-07-06 19:26] Tlazypanda opened #8115 "Paginate not used in following and followers"
### Please describe the problem (or idea)
While checking the pagination codes, came across this anomaly where `paginate` was used in the users_controller (methods following and followers) but the `will_paginate` code was not present in` show_follow` html file.

This leads to only load the first 24 followers/following for the users and not showing any pagination for the rest.

 For example - warren

[2020-07-06 19:27] Tlazypanda commented on #8115
@ebarry @jywarren can you confirm this behaviour? :sweat_smile: sorry for stalking xD i wasn't sure whose profile to look for proof  :joy:

[2020-07-07 08:17] Tlazypanda commented on #8114
@cesswairimu Thanks for the review :tada:

[2020-07-07 09:02] Tlazypanda opened #8117 "Will_paginate code unused in profile.html.erb"
### Please describe the problem (or idea)
Currently, the profile.html.erb file has `will_paginate` code to render tags but `@tags` is not available from `user_controller profile method` so it is not paginated.

The resultant behaviour is that only some tags are shown without any pagination available.

## Thank you!

[2020-07-07 09:03] Tlazypanda commented on #8117
@jywarren @cesswairimu can you kindly confirm this beahviour and also let me know should we add pagination to this or just eliminate this unused code? Thanks :v:

[2020-07-07 13:32] ebarry commented on #8115
wow deep catch @Tlazypanda ! I haven't seen this format of page in a looooong time. Glad you've chased it down and are starting to sort it out!
Good spotting of the missing pagination code.
Adding this would be helpful!

I'll ask another question as well tho, because these pages are not standard with our style guide—What would it be like to remove this custom display of followers and following tha

[2020-07-07 13:51] #8092 closed

[2020-07-07 14:44] ebarry commented on #7973
This may be resolved now? @kgradow1 can you check on the behavior?

[2020-07-07 14:53] #8075 closed

[2020-07-07 16:05] ebarry opened #8118 "Update blog template to show co-authors"
**Please describe the desired behavior.**
@joyofsoy would like to see co-authors displayed on https://publiclab.org/blog. This page has some fancy styling which is nice, and needs a little update to include the newer co-authoring feature on Research Notes.

**Additional context (optional)**
The original note shows the co-author:
![screen_shot_2020-07-06_at_10 05 15_am_480](https://user-images.gith

[2020-07-07 16:11] jywarren commented on #8093
Solved in https://github.com/publiclab/plots2/pull/8097 -- thank you!

[2020-07-07 16:15] Tlazypanda commented on #8115
Yes, I think we should move to this styling as well to have consistency across our pages :v: Thanks @ebarry for the research and the suggestion :heart: What do you think? @jywarren :sweat_smile:

[2020-07-07 16:15] jywarren commented on #8113
Hi all! I am going through all active conversations I can see today, so if you have anything I missed or you are stuck on, please chime in here and ping me on Gitter!

Very appreciative for all your amazing work. 🎉  Things are going very well, you should all be very pleased!

[2020-07-07 16:16] Tlazypanda commented on #8118
Hey @ebarry we can probably make an fto out of this as well :sweat_smile: if there is no rush :v:

[2020-07-07 16:16] jywarren commented on #5004
Hi all! I think that, since this is a little stale now, I'm going to go ahead and close it up! I appreciate your help and please chime in on the Weekly Check-In if you'd like a new first-timers issue! https://github.com/publiclab/plots2/issues/8113

[2020-07-07 16:16] #5004 closed

[2020-07-07 16:31] jywarren commented on #7315
Now we seem to be having just very slow Travis tests, but not as many failures. Just an observation!

[2020-07-07 17:04] jywarren commented on #7890
OK, i'll close this up now! Thanks!

[2020-07-07 17:04] #7890 closed

[2020-07-07 17:08] jywarren commented on #7315
https://github.com/publiclab/plots2/pull/7996 and several others are showing a repeated unit test failure (inconsistently) due to `tag_selection` -- I wonder if it's a timing inconsistency? It's so odd when tests pass only sometimes.

For some timing non-deterministic issues, we can use Timecop to freeze the internal Ruby clock. This is done on some other tests. I wonder if it is worth trying this

[2020-07-07 17:08] jywarren commented on #7315
Thanks, all!

[2020-07-07 17:09] jywarren commented on #7855
I believe this can be merged as a duplicate! Thanks!

[2020-07-07 17:09] #7855 closed

[2020-07-07 17:10] jywarren commented on #8114
And hopefully tests will catch it if you open a PR!

[2020-07-07 17:11] #7923 closed

[2020-07-07 17:25] ebarry commented on #8118
that would be ideal! thanks for reviewing this!

[2020-07-07 17:30] ebarry commented on #6230
Yes this is a great idea!

[2020-07-07 18:19] Tlazypanda commented on #7315
Yeah sure will take a look into this :tada: Looping in @VladimirMikulic as well since he has some experience with this :sweat_smile:

[2020-07-07 18:56] jywarren commented on #8077
Also noting something I almost forgot - CodeClimate needs to be repointed as well, as do many 3rd party services!

![Screen Shot 2020-07-07 at 2 53 13 PM](https://user-images.githubusercontent.com/24359/86829019-f1d74880-c061-11ea-9222-591a750c2dc4.png)

[2020-07-07 23:32] VladimirMikulic commented on #7315
Thanks, @Tlazypanda. `tag_selection` is a weird one. It always passes locally, but sometimes for no obvious reason fails in Travis.
Are you able to shine some light on this @Uzay-G? Thanks all.

[2020-07-08 07:52] icarito opened #8124 "Can't pull from git from inside Makefile"
Updated Makefile isn't noticed because we are pulling from git in Makefile.
We need to fix this in Automated Deployment procedure.

[2020-07-08 07:57] icarito commented on #8124
This issue affected deployment today. Will need to call git from outside the version controlled code.

[2020-07-08 07:57] icarito commented on #8124
The solution today was to run the script again as the second time the correct Makefile is run. This should not happen.

[2020-07-08 13:52] cesswairimu commented on #8113
Hello everyone :wave:
I am a little under the weather this week but I am still available and will be catching up on the reviews and discussions today and tomorrow
Thanks everyone for the amazing work you are doing  :tada: :tada: and thanks @Tlazypanda for opening the check-in :+1:
Anyone who would like to open next week's check-in please leave a comment.  Thanks and  great rest of the week :balloo

[2020-07-08 14:57] kgradow1 opened #8125 "TRI overlay on Public Lab maps is not working"
### Please describe the problem (or idea)

TRI overlay on Public Lab maps appears to be broken.

I'm assuming you already know this, but in case not, I'm posting it as an issue!

I'm not sure!  I haven't used it before.

### Please show us where to look

https://publiclab.org/maps

<img width="775" alt="Screen Shot 2020-07-08 at 10 55 24 AM" src="https://user-images.githubusercontent.com/652144/86

[2020-07-08 16:49] SidharthBansal commented on #8113
Hello all,
Today I got the news that I am branch topper for the Software Engineering branch at Delhi Technological University 2016-2020 batch with 9.43/10 GPA. I am really glad  🙂

[2020-07-08 19:32] kgradow1 commented on #7973
It's working perfectly now, thank you!

Jeff, I don't think we need to redirect that page.  There's no reason for
anyone to find it unless they're looking for it.

Thank you everyone!

On Tue, Jul 7, 2020 at 10:44 AM Liz Barry <notifications@github.com> wrote:

[2020-07-09 13:36] Tlazypanda commented on #8113
@SidharthBansal Congratulations!!! That's amazing :tada: :100: :partying_face:

[2020-07-09 13:43] Tlazypanda opened #8128 "Print specific template for public lab content"
**Please describe the desired behavior.**
Currently the publiclab website uses a set of css hiding strategies to only print important content from a note or wiki. We need to replace this with print specific template for public lab content.

This print specific template can make use of js manipulation to only pull important part of content from the note and add css styling accordingly.