[2019-11-05 21:16] jairus-crabb commented on #6599
I am still working on this!

[2019-11-05 21:50] susanreenesaa commented on #6206
Sorry about the changes I had made above

[2019-11-05 22:18] susanreenesaa opened #6692 "Profile dropdown menu gets cut off on smaller screens"
Referencing Issue #6574
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. No

[2019-11-05 22:25] susanreenesaa commented on #6574
I created an FTO issue out of this Feel free to review it. Thanks, everyone

[2019-11-05 23:02] TedTran2019 commented on #6692
May I please give it a shot?

[2019-11-05 23:33] klaffert commented on #6603
Hi @nstjean is there anything else that needs to be completed on this one? Thanks!

[2019-11-06 05:27] cesswairimu commented on #6688
Great catch @crisner thanks...do we need to add `.present?` in the current user check smth like `current_user.present?`... or without present returns a boolean too? Thanks

[2019-11-06 05:33] crisner commented on #6688
Thanks! I tested the code with just `if current_user` and it works as expected.

[2019-11-06 05:35] cesswairimu commented on #6688
Awesome.. will match this with one of the folks looking for an fto...Thanks

[2019-11-06 05:36] cesswairimu commented on #6206
Here is another fto https://github.com/publiclab/plots2/issues/6688

[2019-11-06 10:01] debck commented on #6435
**Uploaded on GCI dashboard**

[2019-11-06 10:04] SidharthBansal commented on #6238
We are deciding some prizes for mentors. Will inform you all once they are finalised.
Thanks all

[2019-11-06 10:34] gptshubham595 opened #6693 "Adjust space ande make it look good"
Please Note: We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more

Problem
We just have to increase space and make one dot bigger arrow key also appears when we are at the top of the page.
[here](https://www.publiclab.org/methods)

![space](

[2019-11-06 10:43] gptshubham595 opened #6694 "Remove extra dots appearing in website"
Please Note: We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more

Problem
We just have to increase space and make one dot bigger arrow key also appears when we are at the top of the page.
[here](https://www.publiclab.org/methods)

![dot](ht

[2019-11-06 10:52] SidharthBansal commented on #6435
@debck don't you think this issue is solved?
Can you please close this issue and delete the gci task?
Thanks

[2019-11-06 11:00] debck commented on #6435
No, it isn't solved. I can still see it here: https://publiclab.org/ . Can you please confirm?

[2019-11-06 11:34] keshav234156 commented on #6238
@SidharthBansal I am not able to add mentor in the task.In the previous task that i have created my name was already present in mentor field.

![Screenshot from 2019-11-06 16-57-39](https://user-images.githubusercontent.com/45951376/68294776-f3a5d200-00b6-11ea-842d-306fae0ae73b.png)
![Screenshot from 2019-11-06 16-57-51](https://user-images.githubusercontent.com/45951376/68294782-f6a0c280-00b6-11e

[2019-11-06 12:36] starkblaze01 commented on #6238
@keshav234156 , Once the task is saved you will be assigned mentor for your task. You can't add other mentors by yourself. Other mentors can assign themselves on that task, similarly you can assign yourself to the task created by others as well

[2019-11-06 12:50] swathi-0901 commented on #6692
@susanreenesaa can I work on this issue?

[2019-11-06 12:53] keshav234156 commented on #6238
@starkblaze01 yes,you are right.Thanks for the help

[2019-11-06 12:59] sharmamansi commented on #6693
Can i work on this?

[2019-11-06 14:23] SidharthBansal commented on #6238
All mentors are requested to visit the GCI tasks and include their names as much as they can (in repos of interest).
Thanks

[2019-11-06 14:23] SidharthBansal commented on #6238
All mentor are requested to help us in GCI discussions across threads at GCI group.
Thanks

[2019-11-06 14:33] SidharthBansal commented on #6435
Oh he has made the PR in his fork repo. Got it.
**Published the task on GCI dashboard**

[2019-11-06 14:36] SidharthBansal commented on #6238
I have reviewed all ten GCI tasks. The tasks which are not published have errors in it. Please correct them.
Please include github link.

[2019-11-06 14:39] newbazz commented on #6278
@ebarry we are there with a scoring system, i think we can close this issue. What say @SidharthBansal

[2019-11-06 14:46] #6278 closed

[2019-11-06 14:50] SidharthBansal commented on #6694
Please write the issue in the GCI tasklist.
Thanks

[2019-11-06 14:52] SidharthBansal commented on #6694
Please add adequate labels.

[2019-11-06 15:20] nitish81299 commented on #6692
@susanreenesaa **I would like to work on the issue.**

[2019-11-06 15:54] ebarry opened #6697 "Selection of the center grid in "Choose your Location" map picker is not working"
### Please describe the problem (or idea)

Excitedly, i clicked the new "Add Location" button to add latitude and longitude to the London page:
<img width="287" alt="Screen Shot 2019-11-06 at 10 47 54 AM" src="https://user-images.githubusercontent.com/161439/68313845-42d20f80-0083-11ea-91d7-eb3b1eb021ee.png">

In the map picker, i was unable to choose the square for London. I feel that there is so

[2019-11-06 16:15] rebecarancan commented on #6688
@cesswairimu @crisner, I would like to work on this issue.

[2019-11-06 16:17] rebecarancan commented on #6206
Hello, I'm looking for FTO issues

[2019-11-06 16:22] gptshubham595 commented on #6693
@sharmamansi  go for it

[2019-11-06 16:55] vinitshahdeo commented on #2053
Hello @jywarren @SidharthBansal

I am highly interested in being a part of Public Lab. I'd like to apply for mentor of GCI program.

[2019-11-06 17:05] SidharthBansal commented on #2053
Please refer #6238
We will really appreciate your help.

On Wed, 6 Nov 2019, 10:25 pm Vinit Shahdeo, <notifications@github.com>
wrote:

[2019-11-06 17:36] nitish81299 commented on #6692
@susanreenesaa
I have made a [PR](https://github.com/publiclab/plots2/pull/6698) for the above issue, have a look.

[2019-11-06 18:13] Abhinav1299 commented on #6206
I would like to be added to the FTO list. I am looking for issues with HTML and  CSS.

[2019-11-06 18:23] pydevsg commented on #6294
@dinaelhanan , this task is assigned for the gci candidates.So, if you haven't done any PRs its fine , please don't make one. Thanks :)

[2019-11-06 18:29] nstjean commented on #6598
@aviveller Are you still working on this?

[2019-11-06 18:34] nstjean commented on #6597
@pravalikavis Are you still working on this?

[2019-11-06 18:35] nstjean commented on #6601
This issue is still open!

[2019-11-06 18:36] cesswairimu commented on #6688
Great @rebecarancan  :tada: its all yours...Go ahead. Thanks

[2019-11-06 18:36] nstjean commented on #6603
@klaffert It should be all set! Someone will merge it soon. :)

[2019-11-06 18:38] nstjean commented on #6603
If you are looking for something more to do you can check this page here https://code.publiclab.org/ and scroll down to "What's next?" It has some ideas and links! We also recommend cloning our repository/ies and getting them working on your development machine.
Installation instructions: https://github.com/publiclab/plots2/blob/master/README.md

[2019-11-06 18:40] nstjean commented on #6206
This one is still open! https://github.com/publiclab/plots2/issues/6601

[2019-11-06 18:50] pydevsg commented on #6352
@SidharthBansal can I make this issue for the gci candidate, if so I will add them in GCI tasklist.

[2019-11-06 18:56] sagarpreet-chadha commented on #5678
@jywarren ...i think i found the solution to this.
Do look at the PR https://github.com/publiclab/plots2/pull/6699 . It is because of some function in `short-code-forms` lib.

[2019-11-06 19:24] Ugtan commented on #6601
I would like to work on the issue @nstjean. Thanks!

[2019-11-06 19:26] swathi-0901 commented on #6597
hey, can I work on this issue?

[2019-11-06 19:39] ebarry commented on #6593
Here's a link to fully fleshed out proposal to address what's described above as Suggestion 1B:

See this comment on the Draft Style Guide: https://publiclab.org/notes/warren/05-07-2019/introducing-a-draft-style-guide-for-public-lab#c25779

[2019-11-06 19:45] Ugtan commented on #6601
My bad, this issue has already been resolved by #6606. @nstjean

[2019-11-06 20:00] Ugtan commented on #6444
Looks like @klaffert already submitted a PR for a FTO issues. So, can I work on the issue? Thanks @jywarren

[2019-11-06 20:04] SidharthBansal commented on #6352
Sure Thanks

[2019-11-06 21:19] Ugtan opened #6701 "Change function t to translation in dashboard/_wiki"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-06 21:23] daningenthron commented on #5352
Hi everyone 👋- we refactored the 'Read More' link to a button in response to a separate issue. I now see that was one of the original goals here. I'm happy to tackle another piece of the redesign if any help is needed?

[2019-11-06 21:30] #5407 closed

[2019-11-06 21:41] Ugtan opened #6702 "Incorrect comment count on some of the Public Lab blogs"
### Please describe the problem (or idea)
The cards present in the Public Lab blog section, as well as the blogs section on `https://publiclab.org/blog`, show an incorrect number of comments. When you click on the blog to check the comments, the number will be different there. I have seen an irregularity as some blog cards show correct number of comments as well.
![image](https://user-images.githu

[2019-11-06 21:58] Devang-25 commented on #6206
Hey I am looking for FTO issues, thanks

[2019-11-06 22:24] nstjean commented on #6597
@swathi-0901 I see you've already completed a First Time Only issue. Now that you've done that you can look at https://code.publiclab.org/ (Scroll down to 'What's Next?'). We encourage people to clone our repository and get it working on your local development system. Information is available here: https://github.com/publiclab/plots2/blob/master/README.md

[2019-11-06 22:52] rebecarancan commented on #6688
@cesswairimu  Ok!!

[2019-11-07 02:42] icarito commented on #3301
Hi,
@kaametza ran into this issue today and reported it to me. Thanks for having it documented!

Just a note that even when logged in, pagination doesn't seem to work because the user gets redirected to the dashboard upon choosing any page in the pagination control. I guess removing the pagination control as suggested in #3360 is a way to do this, but I guess this is superseded by #6155 ?

[2019-11-07 04:54] ami-friedman commented on #6701
I'd like to claim this issue

[2019-11-07 05:37] Ugtan commented on #6701
@ami-friedman Go ahead.

[2019-11-07 06:13] swathi-0901 opened #6704 "Change function t to translation in wiki/_wikis"
We need to change the function t to translation in lines 10,12,13,14,15 of wiki/_wikis

[2019-11-07 06:17] swathi-0901 commented on #6579
Hey I made an issue regarding wiki/_wikis to change the t to translation [#6704 ](https://github.com/publiclab/plots2/issues/6704)

[2019-11-07 06:18] cesswairimu commented on #6688
Hi @rebecarancan, go ahead. Thanks

[2019-11-07 06:21] swathi-0901 commented on #6539
hey, can I work on this issue?

[2019-11-07 06:24] swathi-0901 commented on #6481
hey, can I work on this issue?

[2019-11-07 06:32] swathi-0901 commented on #6597
Okay :)

[2019-11-07 06:50] swathi-0901 commented on #6685
@123abhay are you working nr this issue else @gptshubham595 can I work on this?

[2019-11-07 06:58] Tanish0019 commented on #6681
Hey, can I claim this issue?

[2019-11-07 07:16] Tanish0019 commented on #6598
@nstjean Can I take this issue?

[2019-11-07 07:17] Abhinav1299 commented on #6704
I would like to solve this issue

[2019-11-07 07:25] SidharthBansal commented on #6681
Sure!

On Thu, Nov 7, 2019 at 12:28 PM Tanish Grover <notifications@github.com>
wrote:

[2019-11-07 07:27] SidharthBansal commented on #3301
I agree that it will be superseded by #6155. We can close it once #6155 is completed

[2019-11-07 08:18] swathi-0901 commented on #6684
hey, can I work on this issue?... If yes can you please tell in detail what is to be done??

[2019-11-07 08:21] gptshubham595 commented on #6685
@swathi-0901  wait for one more day then you can proceed

[2019-11-07 08:21] gptshubham595 commented on #6681
@Tanish0019 go for it

[2019-11-07 08:53] gptshubham595 opened #6705 "Replace "+" sign to "%20" i.e space in _comments.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-07 08:55] gptshubham595 commented on #6705
@jywarren , @SidharthBansal check once

[2019-11-07 08:56] hanzohasashi33 commented on #6705
@gptshubham595  May I claim this issue ?

[2019-11-07 08:59] gptshubham595 commented on #6705
just change + with %20

@hanzohasashi33 Yes but wait let contributors review once

[2019-11-07 09:01] gptshubham595 opened #6706 "Replace "+" sign to "%20" i.e space in notify.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-07 09:06] gptshubham595 opened #6707 "Replace "+" sign to "%20" i.e space in notify_note_author.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-07 09:20] swathi-0901 commented on #6704
Yea this is a first-timer issue If you're so please go ahead :)

[2019-11-07 09:22] gptshubham595 opened #6710 "Replace "+" sign to "%20" i.e space in _flag_list.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-07 09:27] gptshubham595 opened #6711 "Replace "+" sign to "%20" i.e space in _like.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-07 09:31] Abhinav1299 commented on #6711
I would like to solve this issue

[2019-11-07 09:32] gptshubham595 opened #6712 "Replace "+" sign to "%20" i.e space in notes\_comment.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-07 09:35] gptshubham595 commented on #6711
@Abhinav1299  go for it

[2019-11-07 09:38] Abhinav1299 commented on #6710
I would like to solve this issue.

[2019-11-07 09:39] gptshubham595 commented on #6710
only one problem you can take

[2019-11-07 09:47] Abhinav1299 commented on #6710
okay, sorry for this.

[2019-11-07 10:02] ilyas95 commented on #6712
I'll do it

[2019-11-07 12:54] swathi-0901 commented on #5914
hello, I would like to work on this issue can I?

[2019-11-07 13:25] #6705 closed

[2019-11-07 13:25] SidharthBansal commented on #6705
I don't think this is needed. '+' works for multiple queries in the urls.
@hanzohasashi33 I am sorry we don't need such change.

[2019-11-07 13:30] SidharthBansal commented on #6706
May I know why this change is needed?
I can't understand from where you get the above screenshot? Can you telll the localhost url which shows this page?

[2019-11-07 13:32] SidharthBansal commented on #6707
I don't think this is needed

[2019-11-07 13:32] #6707 closed

[2019-11-07 13:32] #6706 closed

[2019-11-07 13:32] SidharthBansal commented on #6712
I don't think this issue is needed

[2019-11-07 13:33] #6712 closed

[2019-11-07 13:34] SidharthBansal commented on #6711
I don't think we need this issue. @Abhinav1299 please try other issues

[2019-11-07 13:34] #6711 closed

[2019-11-07 13:34] #6710 closed

[2019-11-07 13:34] SidharthBansal commented on #6710
There is no functional change in this issue. Nor this is needed for any upgrade.
I don't think we need this issue

[2019-11-07 13:52] SidharthBansal opened #6716 "Descriptive Title Assurance of Pull Requests"
![image](https://user-images.githubusercontent.com/20972099/68394078-3341ec00-0193-11ea-8bc6-929ffc71a22c.png)
Mentors are requested to ensure titles of issues and PRs should be descriptive.
`Update index.html.erb` etc doesn't make any sense. PR titles should be descriptive.
I just opened this issue as I saw this practice followed by many contributors. Let's keep quality over quantity.
@cesswairim

[2019-11-07 14:22] nstjean commented on #6539
The issue has a pull request that works, I am just going to post a screenshot so they can merge it. :)

[2019-11-07 14:23] nstjean commented on #6598
@Tanish0019 If @aviveller does not respond soon I will re-release this issue. We will also post some new first time only issues to do.

[2019-11-07 14:42] nstjean commented on #6702
Thanks! I will take a look at this.

[2019-11-07 14:44] nstjean commented on #6579
@swathi-0901 Thanks! I've updated the list.

I also noticed that an issue for dashboard/_wiki was opened #6701 so I've updated that one too.

[2019-11-07 14:59] swathi-0901 commented on #6575
hello, @jywarren can I work on this issue, please? If you assign it to me I shall start working on it thank you :)

[2019-11-07 18:03] aviveller commented on #6598
Hello

Sorry for the late answer, you can take it .

בתאריך יום ה׳, 7 בנוב׳ 2019, 16:24, מאת Natalie St Jean ‏<
notifications@github.com>:

[2019-11-07 18:36] Tanish0019 commented on #6598
Okay! I'll work on it :)

[2019-11-07 20:44] publiclab-mimi opened #6720 "Make tag text and delete "x" icon more visually distinct"
**Please describe the desired behavior.**
While working with a new Public Lab user, were confused by the “x” that appeared next to a tag. The person said  “wait i tagged this ‘soil’ not ‘soil x’” and made me realize just how close the "x" to delete and the font for the tag are.

I am hoping that we can change that "x" for delete to one that is more visually distinct from the font, like an X in a c

[2019-11-07 20:49] nitish81299 opened #6721 "Change function t(...) to translation(...) in dashboard/dashboard.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-07 20:51] nitish81299 commented on #6579
@nstjean
I've opened the issue for `dashboard/dashboard.html.erb` have a look #6721

[2019-11-07 21:20] nstjean commented on #6721
@nitish81299 Thanks for opening a FTO issue!! We really appreciate it!

I noticed that you spelled translation wrong in your instructions, can you change that? Thanks. :)

[2019-11-07 23:22] leesgrey commented on #6721
Hi, I'd like to claim this issue!

[2019-11-08 04:00] varnika2212 opened #6724 "Center align the Pagination Bar (for additional pages of content)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-08 06:45] ami-friedman commented on #6701
PR created and all checks passed, Please review

[2019-11-08 09:58] Abhinav1299 opened #6727 "Change function t to translation in layouts/_alerts.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-08 10:05] Abhinav1299 commented on #6579
@nstjean
I have opened the issue for `layouts/_alerts.html.erb` #6727

[2019-11-08 10:22] coder-cracker opened #6728 "change function t to translation in like/index.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-08 10:31] coder-cracker commented on #6728
We need to change the function t to translation in lines 2,8,9,11 of app/views/like/index.html.erb
![screenshot](https://user-images.githubusercontent.com/45317977/68469839-f92f2380-0240-11ea-83df-ccc1f556af8d.JPG)

[2019-11-08 10:31] Abhinav1299 commented on #6686
@123abhay if you are not working on this issue, @gptshubham595 can I work on this?

[2019-11-08 10:46] gptshubham595 commented on #6728
can i take this

[2019-11-08 10:56] DimitriKft commented on #6724
Hello and thank you for bringing help! I start in open source and I am happy to find your rest! Can I claim this one? it will be my first contribution to open source !!

[2019-11-08 11:13] gptshubham595 opened #6730 "change function t to translation in sidebar/_author.html.erb"
Taking one issue from #6579

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you d

[2019-11-08 11:14] gptshubham595 commented on #6579
I have opened the issue for app/views/sidebar/_author.html.erb #6730

[2019-11-08 12:40] Utiwari1999 opened #6734 "change function t to translation in layouts/application.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-08 12:44] susanreenesaa commented on #6692
sorry for the delay in reply

[2019-11-08 12:44] Utiwari1999 commented on #6734
We need to change the function t to translation in line no. 59 of app/views/layouts/_alerts.html.erb

![Capture](https://user-images.githubusercontent.com/43347766/68477438-85e2dd00-0253-11ea-8411-e9cb09a0c2af.PNG)

[2019-11-08 12:52] Sakku9009 commented on #6734
Hello and thank you for bringing help!Can I claim this one? it will be my first contribution to open source !!

[2019-11-08 12:53] swathi-0901 opened #6736 "change function t to translation of views/grids/_thumbnail"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-08 12:53] Utiwari1999 commented on #6734
@Sakku9009 go for it

[2019-11-08 12:54] swathi-0901 commented on #6579
Another issue was opened for app/views/grids/_thumbnail [#6736 ](https://github.com/publiclab/plots2/issues/6736)

[2019-11-08 13:03] susanreenesaa commented on #6692
@jywarren help me review this. I tried to but I have no clue where to find the file to review. maybe you can give me direction on how to do it. thanks

[2019-11-08 13:06] Utiwari1999 commented on #6579
@nstjean I have opened the issue for layouts/application.html.erb have a look at #6734

[2019-11-08 13:08] Sakku9009 opened #6738 "Change function t() to translation() in wiki/_wikis.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-08 13:09] Sakku9009 commented on #6738
We need to change the function t to translation in line no.s 10,12,13,14 and 15.

![Capture](https://user-images.githubusercontent.com/44111809/68478949-21c21800-0257-11ea-91c5-1edd1d1c0e72.PNG)

[2019-11-08 13:12] swathi-0901 commented on #6575
@jywarren can u help me out to find where I went wrong?

[2019-11-08 13:14] susanreenesaa commented on #6572
@debck. After scrolling to that signup screen, is it responsive when you type in anything?
Because mine is responsive it even verifies the input data and also submits it.

[2019-11-08 13:26] coder-cracker commented on #6579
@nstjean I have opened the issue for like/index.html.erb have a look at #6728

[2019-11-08 13:41] nstjean commented on #6727
Hi @Abhinav1299 ! Thanks so much for opening a FTO, it is much appreciated! You will just have to edit the post to add the information someone will need, such as a link to the file, the repo name (plots2), and where it says DIFF you will add in the line number(s) and show what the code should be after changes.

[2019-11-08 13:42] nstjean commented on #6736
Hi @swathi-0901 ! Thanks so much for opening a FTO, it is much appreciated! You will just have to edit the post to add the information someone will need, such as a link to the file, the repo name (plots2), and where it says DIFF you will add in the line number(s) and show what the code should be after changes.

[2019-11-08 13:49] nstjean commented on #6721
@leesgrey Go ahead!

[2019-11-08 13:51] nstjean commented on #6579
@nitish81299 @Abhinav1299 @gptshubham595 @swathi-0901 @Utiwari1999 @coder-cracker Thank you all! I've updated the list.

[2019-11-08 13:55] cesswairimu opened #6740 "Update app/views/wiki/revisions.html.erb translations"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-08 13:57] Sakku9009 commented on #6579
I have opened the issue for wiki/_wikis.html.erb have a look at #6738

[2019-11-08 14:24] #6602 closed

[2019-11-08 14:48] SidharthBansal commented on #6728
Yeah

[2019-11-08 15:43] preetiy opened #6742 "Show hover text when the cursor points to the social media icons"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-08 16:11] nicoleiocana commented on #3840
@jywarren I noted that the shell script you contributed towards for easy installation is outdated now that AWS acquired Cloud9. Unfortunately, running `sh install_cloud9.sh` from the terminal and starting up the server doesn't work. I updated the script so that any individuals with AWS Cloud9 could flawlessly transition to installing plots2 on cloud.  With your permission, I would like to:

1. Cre

[2019-11-08 16:54] cesswairimu opened #6744 "Add redis installations for linux"
We just updated redis installation guidelines on Readme on this pr https://github.com/publiclab/plots2/pull/6398 for MacOs thanks to @mathyoudawson . It would be good to update the same for Linux

--------------------------------------------------
This could be edited to become a fto or a gci issue

[2019-11-08 17:03] #6389 closed

[2019-11-08 17:43] debck commented on #6572
It isn't responsive but it verifies the input data and also submits it.

[2019-11-08 17:47] #6318 closed

[2019-11-08 17:49] chanchalsaini opened #6745 "Add one more section named "The Progress""
We can add one more section named "The Progress" with other three activities, "The Problem, The Collaboration, The Solution", this section will brief about our progress till now, It will have a great impact on others about are ideas that we are turning into reality.
![Screenshot (40)](https://user-images.githubusercontent.com/31559139/68498981-23530680-027e-11ea-8b60-e6b5f92b1b14.png)

Hi, this is

[2019-11-08 18:12] #6384 closed

[2019-11-08 18:19] #6399 closed

[2019-11-08 19:27] #6393 closed

[2019-11-08 19:37] Tanish0019 opened #6747 "Use Gitpod for people wanting an online workspace?"
**Please describe the desired behavior.**
As cloud9 workspaces have been disabled, we can try using Gitpod instead as it makes it easy for beginners to get started with contributing without the hassle of installing all requirements locally.

**Additional context (optional)**
Add a gitpod.yml file and add the instruction section in the README.

[2019-11-08 19:39] Tanish0019 commented on #6747
@jywarren what do you think?

[2019-11-08 20:18] Tanish0019 opened #6748 "Add instructions for adding git upstream remote in the README"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-08 21:35] susanreenesaa commented on #6684
hey, @gptshubham595  this issue was already created/ merged so if you don't mind, you can close it.
Reference to the closed issue #6435

[2019-11-08 21:41] susanreenesaa commented on #6694
@SidharthBansal. should i convert this into FTO issue

[2019-11-08 21:59] gptshubham595 commented on #4396
Is this solved

[2019-11-08 22:12] gptshubham595 commented on #2552
@rarrunategu1 can you tell how you solved

[2019-11-08 22:47] bryceparkman commented on #6748
Claimed

[2019-11-08 23:02] ameykulkarni25dec commented on #6742
I would like to get started with this. Please help me out, I am totally new to Github and Open Source contributions, although I have 8 years of Java dev experience. Please let me know how to start.

[2019-11-08 23:19] bryceparkman commented on #6738
Claimed

[2019-11-08 23:25] bryceparkman commented on #6738
Where is the file located? I can't seem to find it.

[2019-11-08 23:33] jywarren commented on #5950
Solved in https://github.com/publiclab/plots2/pull/6204#issuecomment-535252025 !!!

[2019-11-08 23:33] #5950 closed

[2019-11-09 01:52] aticbtic commented on #6745
Hi, I would like to claim this issue.  My first time using github! Thanks

[2019-11-09 02:02] nicoleiocana commented on #6744
I wouldn't mind adding in the code for linux-based systems. Since there is no separate section for linux, I was just thinking of adding linux underneath the already provided macOS option. See pic below:

![redis](https://user-images.githubusercontent.com/44947175/68521041-e1ac6680-0251-11ea-8bc6-572d7eb6fc93.PNG)

Lemme know what you think.

[2019-11-09 03:39] Abhinav1299 commented on #6727
@nstjean I have made the required changes. Thanks for the information.

[2019-11-09 03:53] cesswairimu commented on #6744
That's great @nicoleiocana, you can go ahead and add that. Thanks a lot

[2019-11-09 04:59] gptshubham595 commented on #6684
No problem
But one can it here now also : https://publiclab.org/ . Can you please confirm?

[2019-11-09 05:04] #6199 closed

[2019-11-09 06:19] swathi-0901 commented on #6736
Yea I did it :)

[2019-11-09 06:25] SidharthBansal commented on #6238
All mentors are requested to get at least 5 tasks published and assigned to them before 15 November. This time Google is a little strict regarding mentorship and GCI than last year.
There is no rule of minimum task per mentor. But Google wants ONLY active mentors of the organisation. So, I am just insisting you all have a minimum of 5 tasks made and published under your name before GCI deadline. N

[2019-11-09 06:29] #6684 closed

[2019-11-09 06:31] SidharthBansal commented on #6684
Hello Shubham,
We are happy to see that you find a bug at the website.
However, this bug is resolved as indicated above.
Quick suggestion: Please use screenshots of the actual website publiclab.org OR localhost.
Also, kindly write the code links in the fto issues
I checked it. It is solved. It will be released into the production in a few days.
Thanks all for helping Shubham. :-)
Thanks all
Sidhar

[2019-11-09 06:37] pydevsg commented on #6238
Okay @SidharthBansal will do the same but when I open the Dashboard I am unable to see my tasks which I uploaded for GCI, can you help.

[2019-11-09 06:39] SidharthBansal commented on #6238
Please contact me on my gitter or email address above.

[2019-11-09 06:41] pydevsg commented on #6238
Okay @SidharthBansal

[2019-11-09 06:53] swathi-0901 commented on #6685
@gptshubham595 can u please tell in detail what is to be done.
thank you

[2019-11-09 07:13] keshav234156 commented on #6238
@SidharthBansal  Could you please review https://codein.withgoogle.com/dashboard/tasks/6140289060700160/

[2019-11-09 07:16] SidharthBansal commented on #6238
I will review all the issues in a batch. Please complete the issues.
Thanks

On Sat, Nov 9, 2019 at 12:43 PM keshav234156 <notifications@github.com>
wrote:

[2019-11-09 07:19] Ugtan commented on #5956
I would like to work on the issue @jywarren

[2019-11-09 07:23] SidharthBansal commented on #4396
I don't think.
Can you please check it?
Thanks

[2019-11-09 07:24] SidharthBansal commented on #6694
Sure

[2019-11-09 07:29] #6681 closed

[2019-11-09 07:37] keshav234156 commented on #6238
@SidharthBansal Shouldn't an issue be present on both github and gci dashboard?Was just asking as
the issue https://github.com/publiclab/image-sequencer/issues/1288 was closed after it was published

[2019-11-09 08:02] gptshubham595 commented on #6694
@susanreenesaa Sure

[2019-11-09 08:03] gptshubham595 commented on #6685
@swathi-0901 sure

[2019-11-09 08:05] gptshubham595 commented on #6685
You can see this PR once help

https://github.com/publiclab/plots2/pull/6746

[2019-11-09 08:47] SidharthBansal commented on #6685
@swathi-0901 I think you are working on a fto issue. One person can take atmost one fto issue. So, you can take other non first timer issues.
First timer issues are only for new contributors. I think you will be happy to take other issues and let new contributors come in at PL
Thanks for understanding Swathi

[2019-11-09 08:47] SidharthBansal commented on #6685
@gptshubham595 you are requested to add codelinks in the issue body

[2019-11-09 09:51] swathi-0901 commented on #714
@jywarren can I work on this issue?

[2019-11-09 10:06] swathi-0901 commented on #714
@jywarren can u assign this to me?

[2019-11-09 10:27] gptshubham595 commented on #6685
sure @SidharthBansal Thanks for updating

[2019-11-09 10:40] swathi-0901 commented on #5309
@jywarren can I work on this issue?

[2019-11-09 10:45] swathi-0901 commented on #5719
Is this issue still open? If so can u assign it to me?

[2019-11-09 11:38] coder-cracker commented on #5758
If this issue is not closed. I want to work with this issue

[2019-11-09 12:24] SidharthBansal commented on #6238
Both
I clicked on close button by mistake

On Sat, 9 Nov 2019, 1:07 pm keshav234156, <notifications@github.com> wrote:

[2019-11-09 12:24] SidharthBansal commented on #6238
Sorry

On Sat, 9 Nov 2019, 5:54 pm Sidharth Bansal, <bansal.sidharthcode@gmail.com>
wrote:

[2019-11-09 13:23] aayush-05 commented on #6730
Hey @gptshubham595 !
I want to work on this issue. Can you assign this one to me ?

[2019-11-09 13:39] susanreenesaa opened #6752 "Remove extra dots appearing in website"
**Referencing issue** #6694

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you d

[2019-11-09 14:05] aayush-05 commented on #6238
Hey !
I would like to be GCI mentor 2019 under Public Lab.
Would complete all the steps given soon :)

[2019-11-09 14:13] aayush-05 commented on #6742
Hey @preetiy !
Can I work on this issue ?
Please assign it to me.

[2019-11-09 14:14] rasokan commented on #6752
Can I take this one?

[2019-11-09 15:22] kamal-kaur04 commented on #6745
Hello @aticbtic, Have you completed this issue or want any help?

[2019-11-09 15:40] SidharthBansal commented on #6238
I am sorry to inform all the interested candidates that the people who will get the prs merged before 10 November will be considered.

[2019-11-09 15:58] kamal-kaur04 commented on #6752
@publiclab/reviewers I have fixed this issue. Please review it. Thank You.

[2019-11-09 15:59] SidharthBansal commented on #6238
**Only people having experience of Public lab's workflow for at least some months will be considered**

Google is stricter regarding mentorship this year. So, it is Google's criterion for GCI Mentors.
I hope you all will understand this. We are really happy to have your help. :handshake:
We will add you in the reviewer's team so that you can help us. :+1: :100:
Thanks all for being with us. We don

[2019-11-09 16:18] #6728 closed

[2019-11-09 16:21] gptshubham595 commented on #6238
Hello!

First Timer Issue Solved URL *
https://github.com/publiclab/plots2/pull/6729

First Timer Issue Created URL *
https://github.com/publiclab/plots2/issues/6730

Help Wanted Issue URL *
https://github.com/publiclab/plots2/issues/6686

[2019-11-09 16:36] gptshubham595 opened #6754 "change function t to translation in app/views/notes/_coauthored_notes.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-09 16:38] gptshubham595 opened #6755 "change function t to translation in app/views/notes/_comment.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-09 16:41] gptshubham595 opened #6756 "change function t to translation in app/views/notes/_comments.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-09 16:44] namangupta01 commented on #6238
Hey all! I would also like to be a mentor for Google Code In.

[2019-11-09 16:56] gptshubham595 commented on #6579
@nstjean I have opened

app/views/notes/_coauthored_notes.html.erb #6754
 app/views/notes/_comment.html.erb #6755
 app/views/notes/_comments.html.erb #6756

[2019-11-09 16:59] gptshubham595 commented on #6712
Hey, Can you reopen or check this once as **"+" is not related to any URL change even it makes the URL better and on adding this one can go through links over email**

![Captureemail](https://user-images.githubusercontent.com/24877361/68532150-0979f800-0340-11ea-8a56-7689182f4b3b.JPG)

It has a good change

![68374747-75efce00-016b-11ea-8bd9-16e8b82e9361](https://user-images.githubusercontent.com/

[2019-11-09 17:31] SidharthBansal commented on #6238
@namangupta01 please fill the form! lol ;-)

[2019-11-09 17:50] 123abhay commented on #6756
@gptshubham595  can i opt for this

[2019-11-09 17:51] gptshubham595 commented on #6756
@123abhay sure go for it

[2019-11-09 17:55] Utiwari1999 commented on #5960
@jywarren and @SidharthBansal I want to work on this issue if it is not closed.

[2019-11-09 18:03] Utiwari1999 commented on #5485
@Souravirus I want to work on this issue.

[2019-11-09 18:06] coder-cracker commented on #5485
@Souravirus I also want to work on this issue.

[2019-11-09 18:07] coder-cracker commented on #5960
@jywarren  and @SidharthBansal I also want to work on this issue..

[2019-11-09 18:09] aticbtic commented on #6745
Hi Kamal,
No I haven't yet. I just installed the setup yesterday. I am new to rails.
Is there a pointer on where to start.

Thanks,
Angela

On Sat, Nov 9, 2019, 7:22 AM Kamalpreet Kaur <notifications@github.com>
wrote:

[2019-11-09 18:59] nicoleiocana commented on #6747
I wouldn't necessarily agree that cloud9 workspaces have been disabled. Even though they have been acquired by AWS, they are now just AWS Cloud9 workspaces. I referenced that I have an updated version of the install_cloud9 shell script file [here](https://github.com/publiclab/plots2/issues/3840#issuecomment-551888732). This way individuals who have an AWS Cloud9 account could still help via the cl

[2019-11-10 04:14] SidharthBansal commented on #5960
I think you can work on this

[2019-11-10 04:22] jywarren commented on #5960
Oh I'm sorry I've already started here! https://github.com/publiclab/plots2/pull/6581

However if you can help me resolve the errors there I'd be super grateful!

[2019-11-10 05:24] Thunder80 commented on #6755
Hey can I work on this issue?

[2019-11-10 06:22] ananyaarun commented on #6239
Hey everyone, I have noticed a few issues on the GCI tasks dashboard, (basically tasks reserved for GCI) already have PR's by non GCI candidates. These are mainly issues labeled both as GCI candidate and First time issues.

I think we should be more specific while creating issues and let people know if an issue is reserved for GCI before they claim and open a PR. This would cause a lot of confusio

[2019-11-10 06:24] ananyaarun commented on #6752
Hey @kamal-kaur04 @susanreenesaa  , This issue is reserved for GCI participants.
We would love the have your help with other issues.
Thanks !!

[2019-11-10 06:25] ananyaarun commented on #6694
There are multiple issues open for this one.
Also since this has been listed on the GCI task list, Can we close one ?

[2019-11-10 07:06] SidharthBansal commented on #6239
We need to ensure that the ftos reserved by gci have a tagline `Reserved
for GCI` as we did last year.
Mentors need to ensure non gci folks don't solve gci issues.
We need to be alert.
Thanks Ananya for bringing this to our attention.

On Sun, Nov 10, 2019 at 11:52 AM Ananya Arun <notifications@github.com>
wrote:

[2019-11-10 08:17] Ugtan commented on #6238
So, even if we solve all the given tasks and fill the form, our application won't be considered for being a mentor? @SidharthBansal

[2019-11-10 10:47] SidharthBansal commented on #6238
Correct

On Sun, 10 Nov 2019, 1:47 pm Umang taneja, <notifications@github.com> wrote:

[2019-11-10 12:45] susanreenesaa commented on #6752
@kamal-kaur04. this issue is for only GCI participants as indicated in the labels.  so please reconsider if you are not one of them.

[2019-11-10 13:38] kamal-kaur04 commented on #6754
I want to take this one.

[2019-11-10 17:15] CoderJolly opened #6760 "Change function t to translation for _comment.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-10 17:17] dewanhimanshu commented on #6760
Hi @CoderJolly . Can i work on this issue?

[2019-11-10 18:47] #6744 closed

[2019-11-10 20:06] cesswairimu commented on #6206
These two issues are still open https://github.com/publiclab/mapknitter/issues/1059, https://github.com/publiclab/mapknitter/issues/1065

[2019-11-10 21:43] susanreenesaa commented on #6745
hi, @chanchalsaini if you are labeling this as an FTO, It must include all the code needed to complete the task. so if you don't mind, I am going to change the label to FTO-candidate. you can look at this FTO if you don't mind #6752

[2019-11-10 21:48] susanreenesaa commented on #6745
@cesswairimu and @jywarren. this seems to be a new/additional feature on the website, do we just launch such issues or do we need to first debate about the implementation in the public chat before logging the issue?
what I need to know is if permission is need when implementing new features on the site. Thank in advance.

[2019-11-10 22:01] susanreenesaa commented on #6742
@preetiy  for this to be an FTO, it must have all the code and instructions needed to complete it. so I changed the label. if you want to be an FTO, include all the necessary instructions to complete it. Thanks for contributing to public lab

[2019-11-10 22:15] susanreenesaa commented on #6742
@ameykulkarni25dec. please join the publiclab community chat ( https://gitter.im/publiclab/publiclab )for faster help because there are many/different people who are available and willing to help at all time. Also, you can look through this list and claim any issue that u can do by commenting on it. https://github.com/publiclab/plots2/labels/first-timers-only.
Here is an guideline on how to use gi

[2019-11-10 22:23] susanreenesaa commented on #6724
@varnika2212 thanks for contributing to bublicLab.
Wait to contribute to this issue until it's approved by @jywarren. Thanks

[2019-11-10 22:25] susanreenesaa commented on #6724
is this should this feature be implemented? @jywarren or @cesswairimu

[2019-11-10 22:32] susanreenesaa commented on #6716
That's a great observation @SidharthBansal. Thanks

[2019-11-10 22:45] susanreenesaa commented on #6720
@publiclab-mimi, how are you doing?
can you please share with me the URL for that page( where tags with X are located ) so that I can create an FTO for it.
Thank you

[2019-11-10 23:22] wmacfarl opened #6761 "Uncaught Range Error: Invalid Array Length with Unordered List in Rich Editor"
### Please describe the problem (or idea)

I was writing a research note using the rich text editor.  At some point I made an unordered list that ended up not-indented, looking like this:
![image](https://user-images.githubusercontent.com/757598/68552537-14876380-03e6-11ea-850d-f5137d0ebe4f.png)

I don't know how it got to this state, and I don't know when it happened.  I wrote the entire research

[2019-11-10 23:25] susanreenesaa commented on #6697
let me try it out

[2019-11-11 02:54] SidharthBansal commented on #6238
### Guidelines for Mentor Prizes :1st_place_medal:

**IMPORTANT NOTE:** Please ensure a healthy, friendly and collaborative environment at PL :heart: . Teamwork and community bonding will be judged amongst mentors. We strongly prefer collaboration and mutual support over competitions amongst mentors. Collaboration and kindness are key ingredients for deciding the prizes.

**Metric for deciding pri

[2019-11-11 03:16] SidharthBansal opened #6762 "Weekly community Check-In #38 Planning GCI and Prize Guidelines"
Hi everyone 👋
We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their

[2019-11-11 03:16] SidharthBansal commented on #6762
@gauravano @milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @p

[2019-11-11 03:16] SidharthBansal commented on #6762
@ananyaarun @ananya @publiclab-mimi @ananya @hc-barker @starkblaze01 @asquare@pdurbin @HarshKhandeparkar@newbazz @aSquare14 @vaarigupta @alonpeer @aashna27 @harshithpabbati @jesus-montano@cryptoclidus @mohamed-elalem @konolga @gowtham5699@jywarren @ebarry @steviepubliclab @StlMaris123, @tauhir, @augustozanellato, @nstjean, @stefanosu, @alexido19, @Akashutreja, @fadib, @skai-ste, @mahimahans111, @L

[2019-11-11 05:38] SidharthBansal commented on #6762
@jywarren @gauravano @cesswairimu @ebarry

[2019-11-11 07:38] preetiy commented on #6742
@susanreenesaa  Hey! thank you for changing the label, will take care of it for further contributions.

[2019-11-11 08:28] StlMaris123 commented on #6278
@sashadev-sky , would time taken to complete a ticket also be taken into account?

[2019-11-11 10:04] sharmamansi commented on #6693
@gptshubham595  sorry i wont be able to work on this please make this open for others

[2019-11-11 10:32] Neilblaze commented on #6532
Can I take this task if it isn't completed?

[2019-11-11 10:34] SidharthBansal commented on #6238
Tasks with their respective category will only be published on the GCI dashboard

[2019-11-11 10:40] Neilblaze commented on #6724
Can you assign me to this task? Thanks :)

[2019-11-11 10:52] Neilblaze commented on #6238
@SidharthBansal I would love to be a mentor at GCI, but the issue is that most of the fto's are opened about 3 weeks ago or a month or so and most of the tasks have been completed. Can you assign me some new tasks which I can work upon.
Thanks :)

[2019-11-11 11:01] Neilblaze commented on #6745
@chanchalsaini  @susanreenesaa
Can I take this task if anyone isn't assigned to this?
Thanks :)

[2019-11-11 12:09] debck commented on #6693
@gptshubham595 Can you please confirm if this issue is reserved for GCI candidates. If yes then add proper labels and upload to dashboard

[2019-11-11 14:23] #6412 closed

[2019-11-11 15:15] singh728om commented on #6238
Can anyone send me GCI mentor form link I would love to be part of this community.

[2019-11-11 15:17] SidharthBansal commented on #6238
**Only people having experience of Public lab's workflow for at least some months will be considered**

[2019-11-11 15:22] singh728om commented on #6238
I would love to be part of this community as GCI mentors . And suggest me what tyes of issue or task need to do to become mentor.

[2019-11-11 15:23] SidharthBansal commented on #6238
@singh728om Kindly read https://github.com/publiclab/plots2/issues/6238#issuecomment-552486107

[2019-11-11 16:26] nstjean commented on #6755
@Thunder80 Go ahead! Thanks!

[2019-11-11 16:30] nstjean commented on #6579
@Sakku9009 Thanks for helping! There is already an issue open for wiki/_wikis.html.erb, please make sure you check the list. You can do any of the open ones.

Thanks @gptshubham595 I've updated the list.

[2019-11-11 16:32] nstjean commented on #6738
We are sorry, this file had already been updated! @bryceparkman @Sakku9009 @cesswairimu

[2019-11-11 16:42] priyajitm commented on #6752
what is gci?

[2019-11-11 16:52] nstjean commented on #6727
Great thanks!

This issue is open!

[2019-11-11 16:52] priyajitm commented on #6206
Hi! I am looking for FTO issue to contribute, Thanks!!

[2019-11-11 16:52] nstjean commented on #6736
This issue is open!

[2019-11-11 16:55] nstjean commented on #6754
@kamal-kaur04 Great! Go ahead.

[2019-11-11 16:59] nstjean commented on #6206
This are open:
https://github.com/publiclab/plots2/issues/6736
https://github.com/publiclab/plots2/issues/6727

[2019-11-11 17:16] nstjean commented on #6762
Hi! That all sounds very exciting with the GCI, good luck to all!

I finished my Outreachy proposal!
https://publiclab.org/notes/natalie_stjean/10-29-2019/outreachy-proposal-refine-geographic-ui-and-js-integration-for-publiclab-org
Thanks to all who took a look at it. I'm really excited to get started on my project in December, if selected. :)

I've continued organizing the list of translation FTO

[2019-11-11 17:19] IshaGupta18 commented on #6762
All this sounds amazing Natalie! I will also review your proposal if you
would like another opinion at it?

On Mon, Nov 11, 2019, 10:46 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-11-11 17:29] preetiy commented on #6742
@ameykulkarni25dec  you can work on this issue.

[2019-11-11 17:30] preetiy commented on #6742
@aayush-05  please go for other FTO as this was already approached by someone else. you can go this link
 https://github.com/publiclab/plots2/labels/first-timers-only
and find one for you.

[2019-11-11 18:07] nstjean commented on #6762
Sure! It might be too late to make any changes in the official proposal, but I'm definitely open to suggestions for the project!

[2019-11-11 20:21] cesswairimu commented on #6724
Hey @Neilblaze sure, I just want to make sure the context  is clear  before you go ahead... @varnika2212 did you mean aligning the pagination bar?
![68448713-64a9ce80-020a-11ea-8b14-c0f1231c8339](https://user-images.githubusercontent.com/17081074/68618261-fef36600-04d9-11ea-8259-4f18477ba552.png)

Thanks all

[2019-11-11 20:25] cesswairimu commented on #6745
Hey all.. I have added a discussion label as this is more of a new feature issue and needs discussion from members of the community before we know if it should be implemented and how best to go about it.. Thanks all

[2019-11-11 20:26] cesswairimu commented on #6745
@Neilblaze this is not ready for development yet. Thanks

[2019-11-11 20:48] cesswairimu commented on #6762
Great  check-in @SidharthBansal :tada: , thanks for the comprehensive updates.. exciting weeks ahead...hi @IshaGupta18 :wave: great stuff @nstjean and all the best...Have a great week ahead all

[2019-11-11 20:50] priyajitm commented on #6736
I claim this.

[2019-11-12 04:03] varnika2212 commented on #6724
@cesswairimu  yes, that is what I meant.

[2019-11-12 04:52] sap143 commented on #6727
I want to work on this issue

[2019-11-12 05:46] SidharthBansal commented on #6278
In short,

Scoring System

   -

   Beginner Level Task(1pt): Installation Tasks, FTOs, Typographical
   errors, HTML/CSS etc.
   -

   Medium Level Tasks(2pt): Simple challenging tasks like methods, tests,
   designs, demos, documentation(if small) etc.
   -

   Hard Tasks(5pt): New feature, research, Documentation(long or difficult
   for high school students to understand and write), etc.
   -

[2019-11-12 05:47] SidharthBansal commented on #6278
I just consolidated the GDoC made by Sasha. Thanks Sasha!

On Tue, Nov 12, 2019 at 11:16 AM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2019-11-12 05:49] SidharthBansal commented on #6694
Sure!

On Sun, Nov 10, 2019 at 11:55 AM Ananya Arun <notifications@github.com>
wrote:

[2019-11-12 05:51] SidharthBansal commented on #6712
Please tell me from where you get the second screenshot?
Secondly, without the above changes we can get the email pop ups.

[2019-11-12 07:42] Thunder80 commented on #6755
I have done the necessary changes. Thanks!

[2019-11-12 08:26] crisner opened #6767 "Overflow issues in small devices"
### Please describe the problem (or idea)

White space on the right causing the menu bar to go off-screen in mobile devices. The issue is caused by a link that was breaking out of an element in both the stories and the blog page and an iframe element in the blog page.

<img src="https://user-images.githubusercontent.com/29401459/68651208-ebcdae00-054c-11ea-94c1-22266637b80e.gif" width="300" />

<i

[2019-11-12 08:32] crisner commented on #6767
@cesswairimu Please review this bug. This could be a first-timers-only issue. Because the stories page did not have its own stylesheet I wasn't sure if it was okay to add the CSS to the common stylesheet(assuming it is `style.css`) I created the issue as a bug instead. I can proceed to edit this issue according to your feedback. Thank you.

[2019-11-12 09:21] priyajitm commented on #6736
@nstjean @swathi-0901 I am getting error in Travis integration check.

[2019-11-12 14:53] nstjean commented on #6727
@sap143 Go ahead!

[2019-11-12 17:47] DouglasLutz commented on #6760
@CoderJolly Can I take this task if anyone isn't assigned to this?
Thanks :)

[2019-11-12 17:54] DouglasLutz commented on #6206
Hello, I'm looking for FTO issues

[2019-11-12 18:41] ananyaarun commented on #6681
Hey @SidharthBansal , I see this issue listed in the GCI dashboard, but it seems to be closed and fixed here.

[2019-11-12 18:51] #6694 closed

[2019-11-12 18:53] ananyaarun commented on #6752
Hey @priyajitm GCI is google code in , a competition for 13-17 year olds to introduce them to open source.

[2019-11-12 18:53] ananyaarun commented on #6693
@gptshubham595 Kindly fix the typo in the title

[2019-11-12 19:00] ananyaarun commented on #6686
@gptshubham595 , what is the issue here ? Pls be elaborate in ur issue templates.

[2019-11-12 19:02] ananyaarun commented on #6686
@gptshubham595 , Also an FTO needs to have the link to the files that need to be updated and needs to explain the issue properly.

Next time before you allow any contributor claim an issue please get it checked by a plots2 reviewer.
Thanks a lot !

[2019-11-12 19:32] wallerStephen commented on #6756
Is this issue still being worked on? I am brand new to OSS and would like to start.

[2019-11-12 19:59] cesswairimu commented on #6206
Hi @DouglasLutz @priyajitm , nice to have you here...check the last two comments and see if the issues linked given are some are still available.

[2019-11-12 20:08] priyajitm commented on #6206
@cesswairimu I already worked on #6736 & #6727 is already assigned to someone.

[2019-11-12 20:38] SidharthBansal commented on #6681
Actually @gptshubham595 has published all his tasks on the GCI dashboard and has also allowed non-gci folks to contribute on those tasks.
Thanks @ananya for bringing this to my notice. I have deleted the task!

[2019-11-12 20:43] ananya commented on #6681
@SidharthBansal i guess you have been mentioning me my mistake instead of @ananyaarun 😅

[2019-11-12 20:52] SidharthBansal commented on #6681
Oh sorry!
It is nice to see that you are able to detect mentoring is going on here.

[2019-11-12 20:53] #6755 closed

[2019-11-12 21:18] ananyaarun commented on #5218
@gauravano @jywarren thoughts on this ?
I think we can make this a GCI issue, at least the part to add on hover effect :)

[2019-11-12 21:22] ananyaarun commented on #5170
Hey @jywarren I just noticed that this issue still holds !
even sorting by recent is not working,

![recent](https://user-images.githubusercontent.com/32260628/68711903-a21eab00-05c0-11ea-8bd8-40796c9b3a7a.png)

I think we can make this a GCI issue too ? What do you think ?

[2019-11-12 21:46] ananyaarun commented on #6303
This has been added to GCI dashboard, Thanks !

[2019-11-12 21:47] ananyaarun commented on #5291
This has been added to GCI dashboard, Thanks !

[2019-11-12 22:47] SidharthBansal commented on #6762
Nice to see enthu of all of you folks!

[2019-11-13 00:10] jairus-crabb commented on #2552
@gptshubham595 I was able to solve the Address Already in Use error on WSL by manually editing passenger with this (not yet merged, but it worked for me):
https://github.com/phusion/passenger/pull/2037/commits

Now I'm getting a different error:

ActiveRecord::StatementInvalid in Home#home

Showing /home/jcrabb/Projects/plots2/app/views/layouts/application.html.erb where line #37 raised:

SQLite3:

[2019-11-13 00:15] jairus-crabb commented on #6599
Hi, just wanted to give an update. I am still attempting to setup, working with WSL has had a learning curve but I'm getting closer. Had a lot of issues with finding a way to access the localhost in WSL from Windows, as I couldn't get a stable version of firefox to run (I think might be related to hardware on my Surface), so I resorted to trying to access from the host's firefox.exe.

I was able t

[2019-11-13 05:28] sap143 commented on #6727
I am not able to find line no 26 in plots2/app/views/sidebar/_author.html.erb . It has only 16 lines

[2019-11-13 06:42] cesswairimu commented on #6206
Sorry about that @priyajitm, you can have this https://github.com/publiclab/mapknitter/issues/1059

[2019-11-13 11:24] SidharthBansal commented on #6294
Can anyone hide unwanted comments and make it consistent with GCI guidelines?
I will really appreciate this gesture!

[2019-11-13 13:39] SidharthBansal commented on #6238
Just checking if anybody hasn't received the invite of GCI group AND GCI dashboard?

I will close this issue tomorrow as mentor selections are almost done!

Thanks everybody for creating PL a great community to collaborate!

[2019-11-13 13:49] SidharthBansal commented on #6239
Please add checks in the checkboxes that are complete!

[2019-11-13 13:51] SidharthBansal commented on #6762
Is anyone willing to open the check-in in the first week of December about `Welcoming Google Code In Students`?
And who is going to open next check-in? Next week check-in could be `Welcoming Outreachy folks`.

Thanks

[2019-11-13 14:05] nstjean commented on #6206
@priyajitm I see you already have completed a pull request for #6736 . These first-timer-only issues are just for your first one. Now what you can do is look for other small bugs or issues labeled "help wanted". You can see some info here https://code.publiclab.org/ - Scroll down to "What's next?"

[2019-11-13 14:09] nstjean commented on #6727
@sap143 I see there was an error with the file name. It was supposed to be _alerts.html.erb
However it looks like someone created a pull request for this issue already.

[2019-11-13 15:19] priyajitm commented on #6206
@nstjean @cesswairimu I don't need another FTO issue, I already completed one. I was only letting you know that of the two issues mentioned above, I have completed one and the other is already assigned to someone else.

[2019-11-13 15:38] sagarpreet-chadha commented on #6762
I will open!

On Wed, Nov 13, 2019 at 7:21 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-11-13 16:56] SidharthBansal commented on #6762
Which one?

On Wed, 13 Nov 2019, 9:08 pm Sagarpreet Chadha, <notifications@github.com>
wrote:

[2019-11-13 18:13] sap143 commented on #6727
ok should I leave it now or continue to this issue

[2019-11-13 18:15] nicoleiocana opened #6773 "install_cloud9.sh needs to be updated for AWS Cloud9 with Amazon Linux Platform"
### Please describe the problem (or idea)

The problems occur during the installation of the commands in the script shell all the way up until you have logged in as the user/moderator/admin. To break down each point of occurrence:
1. During installation, the terminal will prompt -
* `RVM is not a function, selecting rubies with 'rvm use ...' will not work.`
* `sudo: apt-get: command not found`
* T

[2019-11-13 19:55] nstjean commented on #6727
@sap143 We'll have to find another FTO issue for you! I'll be creating more.

[2019-11-13 20:00] nstjean opened #6775 "Change function t to translation in grids/_wikis"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-13 20:12] nstjean opened #6776 "Change function t to translation in home/subscriptions"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-13 20:14] nstjean commented on #6776
@sap143 You can do this one!

[2019-11-14 02:20] sharanya204 commented on #6775
Hi @nstjean :) could I try my hand at this one?

[2019-11-14 05:12] MCElmo commented on #6776
Hey, I'd like to do this.

[2019-11-14 09:53] sap143 commented on #6776
Ok I will work on this

[2019-11-14 13:52] nstjean commented on #6776
Hi @MCElmo ! This one is reserved for someone else, but we will have more first time issues soon!

[2019-11-14 13:52] nstjean commented on #6775
@sharanya204 Go ahead! :)

[2019-11-14 14:00] sap143 commented on #6776
@nstjean I have opened Pull Request but its showing error message "Merging is blocked"

[2019-11-14 14:29] sharanya204 commented on #6775
@nstjean Quick question about who I should tag and where to request a review - is here okay? I also can't seem to tag @publiclab/reviewers, and was wondering if I was on the right track with that,

[2019-11-14 14:29] gptshubham595 commented on #6238
✋

[2019-11-14 14:32] nstjean commented on #6776
@sap143 That's normal, the moderators do the merge after a review! I'll review your code later today if someone doesn't before then.

[2019-11-14 14:36] nstjean commented on #6775
@sharanya204 It looks like you did a pull request against your own repo instead of the publiclab version. See at the top of the page where it says `sharanya204/plots2` ? It should say `publiclab/plots2`

[2019-11-14 14:58] ananyaarun commented on #6238
Hey @gptshubham595 , whenever you get time, can you kindly fix all the issues you have opened recently ?
Pls remove GCI label if it has already been solved.
Also next time in doubt, pls tag plots2 reviewers before you allow anyone claim an issue.

[2019-11-14 15:57] SidharthBansal commented on #6238
We are really sorry, we were not able to accept you all! @gptshubham595 @singh728om @Neilblaze @ugtan @aayush-05. However, we will love :heart: to have your help at the issues. We can add you in the reviewer's team if we find you good fit for PL. :+1:

Congratulations to all the selected mentors. :tada: :tada: :1st_place_medal:
If there is any doubts/discrepancies or want help/guidance then feel f

[2019-11-14 15:57] #6238 closed

[2019-11-14 15:58] #6760 closed

[2019-11-14 16:03] SidharthBansal commented on #6762
Hi GCI mentors, we have moved to https://github.com/orgs/publiclab/teams/gci/discussions for GCI things! All discussions regarding GCI mentorship are PRIVATE! to mentors only now. If you find any GCI mentorship discussions happening in public[except GCI tasklist], please ping me.
Thanks all.

[2019-11-14 16:12] SidharthBansal opened #6781 "Help wanted label inconsistency with results"
![image](https://user-images.githubusercontent.com/20972099/68874603-7f5ad680-0727-11ea-968e-c157315f4c27.png)

Readme/mentors suggest to do `help-wanted` labelled issues but currently, we have zero such issues.

![image](https://user-images.githubusercontent.com/20972099/68874698-a7e2d080-0727-11ea-8c2a-a6c2eafefde6.png)

[2019-11-14 16:13] SidharthBansal commented on #6781
One solution is to remove it from readme and don't use this label.
Second option is to use this label more.

[2019-11-14 16:14] SidharthBansal opened #6782 "Cloud9 closed"
Just I want to check with folks are we planning to shift repos to some other platform as cloud9 is closing soon.

Thanks

[2019-11-14 16:47] jywarren commented on #6782
We've reconfigured for Codenvy.io and I think updated documentation in most
places... maybe it's time to complete this and just search/replace any
cloud9 docs?

On Thu, Nov 14, 2019 at 11:15 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-11-14 17:17] SidharthBansal commented on #6782
So, can we convert this to gci beginner task(fto)?

On Thu, 14 Nov 2019, 10:17 pm Jeffrey Warren, <notifications@github.com>
wrote:

[2019-11-14 17:33] sharanya204 commented on #6775
@nstjean I think I got it! Do I need to comment over at the pull request for a review?

[2019-11-14 17:49] nstjean commented on #6775
Great! I'll go take a look.

[2019-11-14 18:41] ebarry commented on #6697
How's it going @susanreenesaa ?

[2019-11-14 18:53] jywarren commented on #5680
Thanks! This was completed in #6699 i believe!

[2019-11-14 18:53] #5680 closed

[2019-11-14 18:53] ebarry commented on #5695
Hi @sagarpreet-chadha , i'm just reading this comment now -- so sorry!
I understand what you are saying but i am not sure how to evaluate it! if you think it is an improvement, then great, let's do it! @jywarren what do you think?

[2019-11-14 18:53] jywarren commented on #5678
Let's double check in production once this publishes!

[2019-11-14 18:57] ebarry commented on #3246
HI @steviepubliclab and @publiclab-mimi , can you check this suggestion that Jeff made about how to direct powertag pages back to the main tag page?

[2019-11-14 18:59] publiclab-mimi commented on #6720
Sorry for the delayed reply.

The "x" on a tag page comes up on any note that the user has authored when they're logged in. These also come up if you add a tag to an existing page, even if you're not the author, although only for the tag you've added. It's the way that a user can remove tags they've created. So I don't know what a good url to share for that would be.

[2019-11-14 19:36] sagarpreet-chadha commented on #5678
Yes, you are depolying now?

[2019-11-14 19:41] sagarpreet-chadha commented on #5695
No problem @ebarry :)
Well now looking again at this problem, i think the best algorithm to solve this is to hardcode the zoomlevel according to precision. In this way we can have the view of map we want. Let's hear from @jywarren about this!

[2019-11-14 20:59] jywarren commented on #5678
I'm trying to fix this first:
https://github.com/publiclab/plots2/pull/6581/ but
either tonight or tomorrow i hope!

On Thu, Nov 14, 2019 at 2:36 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-11-15 04:34] SidharthBansal commented on #6762
**IMPORTANT**: Till now 13 tasks are published. We have only 15 tasks as Draft.
We need 225 tasks before 1 December. Mentors are kindly requested to make as many tasks as possible. If we will not be able to get 100+ tasks published before 1 Dec, we will not be able to welcome GCI this year :-(
So, please make 5 to 15 tasks each day on the GCI Dashboard. GCI is a big responsibility. I hope you all

[2019-11-15 15:22] pydevsg commented on #6294
@SidharthBansal I am taking the initiative will do the same and later delete this comment too.
Thanks for the advice.

[2019-11-15 15:45] jywarren commented on #3092
We've narrowed in on two key places to show a button prompt:

* [ ] on the dashboard (although that's in design process here: #6229 )
* [ ] on the https://publiclab.org/people page (as in mockup below)
* [ ] in the sidebar of notes and wiki pages

Here are a couple mockups of those spots; we should start with the sidebar!

![image](https://user-images.githubusercontent.com/24359/68955656-75bb8800-

[2019-11-15 15:46] jywarren commented on #3092
Although noting that the last one should say "Add A location" not "Add YOUR location"

[2019-11-15 15:49] jywarren commented on #3092
And here's a mockup of how it can appear in the "your post was published" alert!

![image](https://user-images.githubusercontent.com/24359/68956202-96d0a880-0795-11ea-9ab1-8016e7595a2d.png)

[2019-11-15 15:52] jywarren commented on #3092
The red marker can be achieved with: `<i class="fa fa-map-marker" style="color:#d00;"></i>` ! It looks cute:

![image](https://user-images.githubusercontent.com/24359/68956391-f8911280-0795-11ea-909f-9265a9f7806c.png)

[2019-11-15 15:54] jywarren commented on #3090
I think this may now be possible by using a content map, and specify the PL People layer from LEL to be shown... @sagarpreet-chadha is this right?

[2019-11-15 17:22] pradeepkmaurya opened #6785 "I tried many times to login my account for save profile but i am facing incorrect password issue."
### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resol

[2019-11-15 18:01] gaursakshi commented on #6238
Hi I am very much interested in becoming mentor I think today is the deadline I came across this now please consider me

[2019-11-15 18:37] vaibhavmatta commented on #6238
Hey @gaursakshi, our mentor selection process is completed now and we have no slots left for more mentors.
However, we will love ❤️  to have your help at the issues. We can add you in the reviewer's team if we find you good fit for PL. +1
Please join our Gitter channel as well.!
Thanks, Happy Coding 😊

[2019-11-15 18:43] sagarpreet-chadha commented on #3090
Yes right :)

On Fri, 15 Nov 2019, 21:24 Jeffrey Warren, <notifications@github.com> wrote:

[2019-11-15 18:56] sagarpreet-chadha commented on #3090
No apologies, we donot have this. We have LEL+content and LEL+people, but
donot have content+people.

On Sat, 16 Nov 2019, 00:13 Sagarpreet Chadha, <notifications@github.com>
wrote:

[2019-11-15 21:59] jywarren commented on #6072
OK, this isn't finalized, but we worked through some options and are considering this as the latest. More design work required before we move forward!

![image](https://user-images.githubusercontent.com/24359/68978599-378c8b80-07c9-11ea-8cc8-a83e7de38121.png)

[2019-11-15 22:34] ebarry opened #6787 "DISCUSSION: ways to follow topics on the new dashboard, for newcomers"
**FOR DISCUSSION**
We are most of the way through a fabulous transformation into a forum of topic-focused communities. Here are a few scenarios for how new accounts registering on publiclab.org might be given or might acquire subscriptions to topic groups. This issue is an invitation for comment and reflection! Thank you and please read on:

**1) Default subscriptions, but only to newsletter and b

[2019-11-16 01:13] jywarren commented on #5695
So, we really want the zoom level you're seeing while selecting a location to be the one shown on the map. I believe the method @sagarpreet-chadha has mentioned is from the blurred-location system so that should be correct! Is that right, Sagarpreet?

However, there may be some slight differences even so, because the pixel size of the map in the location modal is not necessarily the same pixel siz

[2019-11-16 01:14] jywarren commented on #5695
Note there is some oddity between the tag `place` and `place:india` and the lead image. We need to do a little debugging so these work smoothly, and that `place`/`place:____` do the same thing (`place` is the correct behavior).

[2019-11-16 01:48] jywarren commented on #3090
Ah, but if we do LEL + content, but we also specify the PL People layer in LEL, wouldn't we see both? Thanks!!

[2019-11-16 02:04] jywarren commented on #6720
I think we can look through the FontAwesome icon collection, which we use
already in the codebase, for a more suitable "x" icon to use!

On Thu, Nov 14, 2019, 2:00 PM publiclab-mimi <notifications@github.com>
wrote:

[2019-11-16 02:07] jywarren commented on #6781
Ah oops I think we switched to "help wanted" with no dash, because GitHub
highlights such issues. So we should change that link!

On Thu, Nov 14, 2019, 11:13 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-11-16 06:01] sagarpreet-chadha commented on #5695
Yes, i like the idea of zoom:XX tag idea to give extended functionality to
people.

On Sat, 16 Nov 2019, 06:44 Jeffrey Warren, <notifications@github.com> wrote:

[2019-11-16 06:03] sagarpreet-chadha commented on #3090
Yes that is correct but we do not have people layer in LEL yet.

[2019-11-16 13:18] susanreenesaa commented on #6720
let me do that. @ jywarren.

[2019-11-16 13:37] susanreenesaa commented on #6720
@publiclab-mimi  any url would have helped as a starting point with the above explanation because i have to open all pages until i find on any page where that occurs.

[2019-11-16 13:39] susanreenesaa commented on #6720
@publiclab-mimi if you don't mind, you can send me like two URL as i also look try to trace the page on which the  bug is located

[2019-11-16 13:40] jywarren commented on #6720
I believe it's in the sidebar on posts, so any wiki page for example after
expanding the (+) at the bottom of the sidebar. The template should be in
views/tags/tagging I think? Thank you very much!!

On Sat, Nov 16, 2019, 8:37 AM reenesa <notifications@github.com> wrote:

[2019-11-16 15:47] jywarren commented on #3090
Ah, ok!

On Fri, Nov 15, 2019 at 1:56 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-11-16 17:47] ebarry commented on #6517
Thanks for the explanation all -- i have added the tag `won't fix` and suggest we close this is favor of manually editing wiki pages when it is a priority to fix the text preview shown on the tag page of the same name.

[2019-11-16 17:47] #6517 closed

[2019-11-16 17:50] ebarry commented on #6477
Thanks for writing in @snpd25 , i've added the label `needs code links` in hopes that one of the @publiclab/connectors can point us in the right direction.

[2019-11-16 20:24] ebarry commented on #2120
UPDATE: I just updated the initial issue as the second of three feature requests has been implemented!!! Now, the /stats page does have a date picker, and a bar graph that seems to show the ratio of asked questions to answered questions in that period. See https://publiclab.org/stats?start=01-08-2019&end=31-10-2019 and experiment with the dates either in the URL or from the date picker:
<img width

[2019-11-17 10:01] cesswairimu opened #6790 "Add questions asked vs asked status bar in tag/topic page"
Sub task of https://github.com/publiclab/plots2/issues/2120.

### Description
---------------------
Add a questions asked vs answered rate  on https://publiclab.org/tag/community/stats. We should reuse the dat picker there to calculate the rate while calculating the other existing metrics.

We already have a silmilar status bar here ![Screenshot from 2019-11-17 12-22-22](https://user-images.github

[2019-11-17 10:10] cesswairimu commented on #2120
Hey @ebarry, I created the issue for adding the status bar on  tag page #6790 ..I think it would be best if it goes to this the tag stats page https://publiclab.org/tag/community/stats. thoughts?. On the questions page I remember I implemented the logic some time back https://github.com/publiclab/plots2/pull/4256 but it wasn't published.. I think we opted to just have the bar on the '/stats' page

[2019-11-17 10:21] cesswairimu commented on #6762
Anyone interested in opening next weeks check-in?

[2019-11-17 11:14] SidharthBansal commented on #6762
Sagarpreet commented above!

On Sun, 17 Nov 2019, 3:51 pm Cess, <notifications@github.com> wrote:

[2019-11-17 12:03] cesswairimu commented on #6762
Awesome..thanks @SidharthBansal

[2019-11-17 14:45] ebarry commented on #2120
Wonderful that you planned for this information to go on the tag stats
page! Agree.
Yes, let's confirm with the forthcoming UI design for the questions page
and see if there may be a good spot for a progress bar.
Thank you Cess :D

On Sun, Nov 17, 2019, 5:10 AM Cess <notifications@github.com> wrote:

[2019-11-17 15:37] susanreenesaa opened #6791 "Make tag text and delete "x" icon more visually distinct"
#6720
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're espe

[2019-11-17 15:54] jywarren commented on #6791
This is really nice!!!

On Sun, Nov 17, 2019, 10:38 AM reenesa <notifications@github.com> wrote:

[2019-11-17 16:10] sagarpreet-chadha opened #6792 "Weekly community Check-In #39 - "Ask for help!""
Hi everyone 👋
We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their

[2019-11-17 16:10] sagarpreet-chadha commented on #6792
@gauravano @milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @p

[2019-11-17 16:10] sagarpreet-chadha commented on #6792
@ananyaarun @ananya @publiclab-mimi @ananya @hc-barker @starkblaze01 @asquare@pdurbin @HarshKhandeparkar@newbazz @aSquare14 @vaarigupta @alonpeer @aashna27 @harshithpabbati @jesus-montano@cryptoclidus @mohamed-elalem @konolga @gowtham5699@jywarren @ebarry @steviepubliclab @StlMaris123, @tauhir, @augustozanellato, @nstjean, @stefanosu, @alexido19, @Akashutreja, @fadib, @skai-ste, @mahimahans111, @L

[2019-11-17 16:11] sagarpreet-chadha commented on #6792
@jywarren @gauravano @cesswairimu @ebarry

[2019-11-17 16:11] sagarpreet-chadha commented on #6762
Shifted to https://github.com/publiclab/plots2/issues/6792

[2019-11-17 16:11] #6762 closed

[2019-11-17 16:17] susanreenesaa commented on #6791
Thanks @jywarren.

[2019-11-17 18:25] sashadev-sky commented on #6239
@SidharthBansal why does it say Read through Code Climate "smells", Suggest new changes & Report Bugs (described in #3460), and Help add code links to existing issues (described in #3424) are published on GCI dashboard (what I think is indicated by "-- gci dashboard") but they are not? Did we decide to delete them for some reason? Were we planning to do google forms for these or something?

[2019-11-17 18:49] sashadev-sky commented on #6762
@SidharthBansal I will do the one the week after to welcome the google code in students :)

[2019-11-17 20:25] rosensteinsamuel1 commented on #6791
I would love to claim this issue if it's still available!

[2019-11-17 21:41] sashadev-sky commented on #6481
@swathi-0901 this one has a PR open against it (#6725) so it is taken! Are you having trouble finding an issue to work on?

[2019-11-18 04:56] jywarren commented on #6720
This was refactored by @susanreenesaa into #6791, and solved in #6793 ! Thanks!!!!

[2019-11-18 04:56] #6720 closed

[2019-11-18 07:30] SidharthBansal commented on #6239
Please edit it as it is copied from last year. Thanks

On Sun, Nov 17, 2019 at 11:55 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-11-18 07:43] SidharthBansal commented on #6792
Hello everyone,
Update: 26 tasks published.
Other 9 draft tasks are having some minor problems, so I can't publish them
Minimum requirement of tasks to be published before 1 Dec is 100 tasks. Please make as many tasks as you can before 1 Dec to participate in GCI and win exciting prizes.

I hope you all understand it is very important to do 100+tasks to get into GCI.
Thanks
Sidharth

[2019-11-18 08:15] swathi-0901 commented on #6481
Yes

[2019-11-18 08:17] swathi-0901 commented on #6481
can u help out?

[2019-11-18 12:07] sashadev-sky commented on #6239
@SidharthBansal cool ill fix them up and add them later today!

[2019-11-18 12:42] susanreenesaa commented on #6697
@ebarry. Still stuck but I am working on it.
I started with the search bar, the one (search bar) that I got from the leaflet notes that I have read so far, is fixed or located in the map div so I am trying to see how I can get it out of the map div so that it appears like the one in the page. (search bar above the map).
so if you have any content that is helpful, I will be grateful. thanks

[2019-11-18 12:57] susanreenesaa commented on #6697
@ebarry. I tried it out today and the **ADD LOCATION** button is no longer a link (it does not render the map anymore. when clicked nothing happens). so do I have to do the whole thing from scratch?

[2019-11-18 13:19] sashadev-sky commented on #6481
@swathi-0901 yes - I will make you one shortly and tag you in it :)

[2019-11-18 14:18] susanreenesaa opened #6796 "sign up popup appears way below the mobile phone screen"
### Description of the problem (or idea)
The signup popup appears way below the mobile phone screen. This makes the user think that after clicking signup, only a dark screen opened. However when you scroll down, one is able to see the signup page as shown in the pictures below.
**Before Scrolling down**
![image](https://user-images.githubusercontent.com/49034794/69058239-59ce1580-0a24-11ea-9022-27

[2019-11-18 15:09] sashadev-sky opened #6797 "Fix pluralization logic"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-11-18 15:09] sashadev-sky commented on #6797
assigned to @swathi-0901!

[2019-11-18 15:17] nstjean commented on #6790
Hi, can I help with this, or is it reserved for something?

[2019-11-18 15:37] sashadev-sky commented on #6481
just tagged you in #6797 !

[2019-11-18 15:37] nstjean commented on #6599
Hi @jairus-crabb did you have any luck? You can post on #3840 for installation problems.

[2019-11-18 15:41] SidharthBansal commented on #6239
That will be awesome, thank you

On Mon, 18 Nov 2019, 5:37 pm Sasha Boginsky, <notifications@github.com>
wrote:

[2019-11-18 15:50] jairus-crabb commented on #6599
Yes I believe so! I able to get it running on Friday but then I traveled all weekend. I'll be working on this change as it looks fairly simple. One thing is that I couldn't get passenger to work but puma seemed to launch the application without issues, it's been a bit tricky with WSL and lots of trial and error. I'll update if I run into any more roadblocks.

[2019-11-18 16:00] nstjean commented on #6599
Yes, it is really hard with WSL. If you get it working reliably we may ask you to document what you did, as others are having struggles!

[2019-11-18 16:11] ChamuMutezva commented on #6797
has #6797 been taken?

[2019-11-18 16:37] ebarry commented on #6792
Hi all, i'm committing to organizing issues into Milestones to help us streamline on which fronts we will be making progress at any one time. Thanks to @cesswairimu ' the Metrics Milestone is already 95% done! :D

[2019-11-18 16:49] sashadev-sky commented on #2111
closing -- stale

[2019-11-18 16:49] #2111 closed

[2019-11-18 16:59] sashadev-sky commented on #6239
@SidharthBansal what would be awesome? I was asking which we were doing lol

[2019-11-18 17:17] ebarry commented on #5882
Is this the same bug that is why i (logged in as an adminstrator) can't add profile tags on other people's accounts?

[2019-11-18 17:20] swathi-0901 commented on #6797
Yea I claimed it.

[2019-11-18 17:21] ebarry commented on #4272
Just updating with a current screenshot of the Contributors view of a tag page:
![contributors](https://user-images.githubusercontent.com/161439/69074706-e74a3f00-09fd-11ea-95ae-552f5c1abced.gif)

[2019-11-18 17:37] sashadev-sky commented on #6797
@ChamuMutezva would you like me to make you one as well?

[2019-11-18 17:43] jywarren opened #6799 "Make tag header images scale smoothly in mobile/desktop"
We have these nice image headings for tag pages:

https://publiclab.org/tag/water-quality

They're based on this [Froala design block](https://www.froala.com/design-blocks) pattern:

![image](https://user-images.githubusercontent.com/24359/69076085-b1f32080-0a00-11ea-9f2d-971c6bc6537b.png)

However, ours aren't built the same way and don't smoothly/responsively transition between full-width and mo

[2019-11-18 17:44] jywarren commented on #6799
Example - this looks nice!

![image](https://user-images.githubusercontent.com/24359/69076257-17dfa800-0a01-11ea-8c26-c62f693912cb.png)

But this doesn't! the image disappears!

![image](https://user-images.githubusercontent.com/24359/69076282-229a3d00-0a01-11ea-8d1e-8c2ecf337ffc.png)

[2019-11-18 17:58] jywarren commented on #3092
Also noting #5882 is an example of the prompt, but it is not currently working, so we should debug that, and then perhaps standardize the code for it so that it can be easily inserted in other places!

[2019-11-18 18:00] jywarren commented on #5678
OK, so the maps on this page all now load properly! https://publiclab.org/wiki/inline-maps

But, the markers for each type do not. Looks like a nested bug maybe... @sagarpreet-chadha are you able to take a look at why?

[2019-11-18 18:01] jywarren commented on #4560
We'll close this out for now! I believe this is solved in the LEL people layer but we'll see as it grows!

[2019-11-18 18:01] #4560 closed

[2019-11-18 18:11] jywarren commented on #5678
Aha! I'm seeing that maybe there is an initial event trigger that needs to be set up, and that possibly this only fetches markers upon interacting with the map? Not 100% sure, but that seems to work here:

https://publiclab.org/wiki/sandbox-3

when you pan or zoom it loads markers!

[2019-11-18 18:11] jywarren commented on #5678
![image](https://user-images.githubusercontent.com/24359/69077997-ee288000-0a04-11ea-8c44-e63398f02b9e.png)

[2019-11-18 18:16] jywarren opened #6801 "Planning issue for 2019-20 geographic features work"
A lot of projects are coming together for the 2019-20 Outreachy session, and I wanted to start organizing and collecting them up here. Not all are fully fleshed out but we're trying to break these into small tasks. Please ask questions, and if you do manage to break them out, link out to them and we'll check them off as we go!

Note this will be the lead organizing issue for the [Geographic Featur

[2019-11-18 18:25] sagarpreet-chadha commented on #5678
Hey @jywarren ,

In all the API calls,

`tag | question:infragram` is getting added in request URL. Sending a patch for this now.

[2019-11-18 18:30] jywarren commented on #5678
Wow, so fast! Awesome.

On Mon, Nov 18, 2019, 1:25 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-11-18 19:09] sagarpreet-chadha commented on #5678
Solved in this PR: https://github.com/publiclab/plots2/pull/6802 . The trick is to use unique variable names everywhere, i will remember this 😄 !!! Otherwise hard to find this bug if one has no context!

[2019-11-18 19:13] sagarpreet-chadha commented on #6801
`is there a way to preserve the /zoom/ of the map in the /post button from an inline map? Maybe we need that zoom tag? Or should it use the number of digits the same way the shortcode does?`

-> we need to pass zoom also along with lat and lon, we need to change in **PL.editor** also to consume zoom level.

[2019-11-18 19:21] sagarpreet-chadha opened #6804 "Preserve the /zoom/ of the map in the /post button from an inline map"
## SOLUTION STEPS:

1. Calculate zoom from map using leaflets getZoom API.

2. Pass zoom:X in the URL of button onClick()

3. Parse the URL in the editor controllers corresponding action and save it in @zoom variable.

4. Pass zoom param similar to lat and lon:

https://github.com/publiclab/plots2/blob/6aad7435e1efff7eaf2fe3cedc862cb4aed5a791/app/views/editor/rich.html.erb#L315

5. In PL.EDITOR, i

[2019-11-18 19:45] ebarry commented on #5882
I'm going to file this as a new bug, thanks!

[2019-11-18 19:47] jywarren commented on #6219
I believe this is solved! See for example https://publiclab.org/profile/liz

[2019-11-18 19:47] #6219 closed

[2019-11-18 20:10] jywarren commented on #5678
Awesome!!!

On Mon, Nov 18, 2019 at 2:10 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-11-18 20:10] #5678 closed

[2019-11-18 20:24] ebarry opened #6805 "Admins/Moderators cannot add profile tags to other people's profiles"
### Please describe the problem

As a site Admin, i help organize people, and the primary way that i group people for potential further support is by adding tags to their profile page. The best example of this is that i add an "education" tag to teachers, professors, workshop leaders and similar people who are involved in educational initiatives.

For the past several months i have not been able t

[2019-11-18 20:29] ebarry opened #6806 ""Last Edited" date is inconsistent, as shown on wiki and profile records"
### Please describe the problem (or idea)

A great contributor from Brasil wrote into the list to highlight their wiki page https://publiclab.org/wiki/tortuga-guardian which displays an edit date at top of "Last edited by GSan 2 months ago." When i clicked through to the author's profile page https://publiclab.org/profile/GSan , the page is listed as having been edited a few hours ago -- see gif:

[2019-11-18 21:38] jywarren commented on #6792
Hi all! I'm so impressed with the GCI organizing going on. I've been trying to prepare our Geographic Features milestone for the upcoming Outreachy season, here!

https://github.com/publiclab/plots2/milestone/7

And preparing a set of new issues for it here!

https://github.com/publiclab/plots2/issues/6801

Thanks everyone for all your hard work! 🙌

[2019-11-18 21:45] jywarren opened #6807 "Error in transifex translation()"
Hi @gauravano @cesswairimu @nstjean I wanted to see if the three of you might be able to figure out this

https://github.com/publiclab/plots2/blob/master/config/locales/en.yml#L205 looks pretty simple.

But it's causing this oddity:

![image](https://user-images.githubusercontent.com/24359/69096522-9ac52a80-0a22-11ea-9ab9-54ae50d18d19.png)

Here's the line of code; we swapped `t(` for `translation

[2019-11-18 21:47] ChamuMutezva commented on #6797
@sashadev-sky, yes please, i need one

[2019-11-18 21:53] sashadev-sky commented on #6797
Ok I will ping you in a bit! @ChamuMutezva

[2019-11-18 22:00] jywarren commented on #5170
Sure, that'd be great!

On Tue, Nov 12, 2019 at 4:23 PM Ananya Arun <notifications@github.com>
wrote:

[2019-11-18 22:00] jywarren commented on #5218
Sure!

On Tue, Nov 12, 2019 at 4:19 PM Ananya Arun <notifications@github.com>
wrote:

[2019-11-18 22:01] jywarren commented on #6807
Uff, here's another related error further down the same page!!!

![image](https://user-images.githubusercontent.com/24359/69097679-0d370a00-0a25-11ea-9faa-bebd1748986e.png)

[2019-11-18 22:01] jywarren commented on #6807
That's on this page!

[2019-11-18 22:02] SidharthBansal commented on #6792
Great

On Tue, 19 Nov 2019, 3:09 am Jeffrey Warren, <notifications@github.com>
wrote:

[2019-11-18 22:25] SidharthBansal opened #6808 "Welcoming GCI Students"
# Welcome GCI Students 🥇

Hi everybody 😃 !

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from

[2019-11-18 22:33] sashadev-sky opened #6809 "Fix pluralization logic II"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-11-18 22:34] sashadev-sky commented on #6809
assigned to @ChamuMutezva!

[2019-11-18 22:34] sashadev-sky commented on #6797
@ChamuMutezva just assigned you to #6809

[2019-11-18 22:38] SidharthBansal commented on #6239
I am sorry, I actually didn't receive any image on my Gmail and replied to you without the image.
Apologies.

[2019-11-18 22:45] sashadev-sky opened #6810 "Fix pluralization logic III"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-11-18 22:55] nstjean commented on #6807
Oh dear!! I'm taking a look at that page, I'm not seeing an error on my PC or mobile! So I'm not sure why it would be showing only sometimes?

![FireShot Pro Screen Capture #023 - 'Arrow Down Icon I Font Awesome' - fontawesome_com](https://user-images.githubusercontent.com/49460529/69101032-85ed9480-0a2c-11ea-8bf5-912ef875348f.png)

[2019-11-18 22:59] sashadev-sky commented on #6810
**Uploaded on GCI Dashboard**

[2019-11-19 04:56] ChamuMutezva commented on #6797
@sashadev-sky, thanks, i will be working on it today.

[2019-11-19 05:19] jywarren commented on #6807
Oh hm, do you think it only happens when you're using another language? You
can switch in the footer...

On Mon, Nov 18, 2019 at 5:56 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-11-19 06:56] SidharthBansal commented on #6810
Published

[2019-11-19 06:57] cesswairimu commented on #6790
Hey @nstjean, please go ahead. Feel free to ping me in case of anything. Thanks

[2019-11-19 10:36] gireeshcse commented on #6809
Hi @sashadev-sky  I wanted to fix this issue.

[2019-11-19 11:17] rajdeep2898 commented on #6206
@gauravano I am looking for a first-timer Issue.

[2019-11-19 13:14] nstjean commented on #6807
For me it looks the same under any language. Hmm. But nothing on the page changes to a translated text, is that normal?

[2019-11-19 14:11] cesswairimu commented on #6807
Like @nstjean, I also cannot  replicate this....which page is this @jywarren?

[2019-11-19 14:56] ebarry commented on #6807
It is from this link: https://publiclab.org/notes/Bronwen/11-18-2019/fall-workshops-in-nyc-oil-gas

[2019-11-19 15:00] jywarren commented on #6807
@ebarry do you see it? I see it when set to Spanish, and saw it on my laptop and phone. But when I switch to English it's fine!

[2019-11-19 15:03] jywarren commented on #6807
Yes, i can replicate it on that page. It's also happening in a couple other places, mostly where the translation overlaps a button or some other HTML.

![image](https://user-images.githubusercontent.com/24359/69157853-88df9800-0ab3-11ea-9fd9-bdb6decc6a0a.png)

I wonder if the translation helper itself needs a `<%=raw %>` or `.html_safe` to stop the HTML from getting flattened?

https://github.com/

[2019-11-19 15:03] ebarry commented on #6697
HI @susanreenesaa , i see what you are saying -- the Location button has some odd behavior. I had to click it twice to get the interface to open. That may be an additional bug that you could report in a new issue?

Once I got the interface open by clicking a second time, i panned around the grid lines and have some new observations to report: the problem with the red highlight "skipping" over cert

[2019-11-19 15:05] jywarren commented on #6807
Noting that to switch languages locally is `/change_locale/es` (for spanish)

[2019-11-19 15:12] jywarren commented on #6807
hmm, i can't seem to switch locally... strange. can anyone else? As this is a priority, maybe we should go ahed and implement this as it's a pretty small change. I don't like publishing it without being able to check, though.

[2019-11-19 15:14] nstjean commented on #6790
When I go to /tag/community/stats in local it's giving me an error. Might have to do with the cache?

![FireShot Capture 064 - Action Controller_ Exception caught - localhost](https://user-images.githubusercontent.com/49460529/69159032-4f0f9100-0ab5-11ea-8d38-8bfe038062d6.png)

[2019-11-19 15:14] jywarren commented on #6807
Unfortunately the staging and unstable servers are down, will fix them thursday with luck.

https://github.com/publiclab/plots2/pull/6813 - if anyone can try this out that'd be great!

[2019-11-19 15:34] nstjean commented on #6790
I figured it out... in local I have nothing with the tag "community". If I go to a different tag it works. The page should probably display a nicer error for "nothing found with the tag ___" instead!

[2019-11-19 15:35] jywarren commented on #6790
Good catch and great idea!

On Tue, Nov 19, 2019 at 10:34 AM Natalie St Jean <notifications@github.com>
wrote:

[2019-11-19 15:41] jywarren commented on #6697
Just wondering (we really should document in a separate issue) if the
2-clicks-to-open issue could just be the page finishing loading? If you
wait a good while then click, does it open the first time?

Your observation about London being very near 0 longitude is really key
here! That is almost certainly related as shown in your gif, and we should
maybe move this to https://github.com/publiclab/lea

[2019-11-19 15:51] #6807 closed

[2019-11-19 15:51] jywarren commented on #6807
I'm going to give it a try!!!

[2019-11-19 16:09] nstjean commented on #6807
Fingers crossed!

[2019-11-19 18:09] jairus-crabb commented on #6599
Reliability is indeed now the question! I'll have to get more familiar with the application itself. Is there any other items or things I can test out specifically to test how reliable it is?

Also I should be finishing up this issue today, sorry for the delay on this!

[2019-11-19 18:24] #6740 closed

[2019-11-19 19:35] #6702 closed

[2019-11-19 19:35] cesswairimu opened #6814 "Rename fetch_comments method"
`fetch_comments` method should be named something more descriptive, like `comments_viewable_by(user)` or `comments_approved_for(user)`!

_Originally posted by @jywarren in https://github.com/publiclab/plots2/pull/6718#issuecomment-555569444_

The method is here
https://github.com/publiclab/plots2/blob/master/app/models/node.rb#L1063-L1071

And you need to replace on the new method these files and

[2019-11-19 19:44] jywarren commented on #6752
Hi, all, i believe this got solved in an unrelated issue, actually, so
perhaps we need to close it and the corresponding GCI task? Thanks!

On Tue, Nov 12, 2019 at 1:53 PM Ananya Arun <notifications@github.com>
wrote:

[2019-11-19 19:45] jywarren commented on #6752
oh! no, it's still there! https://publiclab.org/methods Thanks!

On Tue, Nov 19, 2019 at 2:43 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-11-19 19:53] jywarren commented on #5719
Hi! We just need to add "pinned" notes to the top of the search results, kind of similarly to how this was implemented: https://github.com/publiclab/plots2/pull/6423/

We'd love your help, but this is a bit complex -- if it's your first time maybe you'd like to try a smaller issue first?

But, apart from that, I think possibly the remainder of these issues might not be worth implementing -- @ebarr

[2019-11-19 19:54] jywarren commented on #6745
Thanks all, actually we have a new front page about to publish! So, although this is a great idea, I think we need to hold off and if you have input on other parts of the site, we'd be happy to hear your ideas. And yes - best have discussion before anyone starts to code! Thanks!

[2019-11-19 19:54] #6745 closed

[2019-11-19 20:09] nstjean commented on #6599
No worries! Thanks!

I don't think there's anything specific, just getting the server to run is pretty great!

[2019-11-19 20:09] nstjean commented on #6599
If you are able, could you post on https://github.com/publiclab/plots2/issues/3840 with the steps you took to install it and run the server on Windows?

[2019-11-19 20:57] ChamuMutezva commented on #6809
@sashadev-sky , have followed the steps to fix "pluralization logic II #6809", please check and update me on corrections or way forward

[2019-11-19 22:03] joyofsoy commented on #6787
I really like the idea of #4 with a big option for "I'll decide later" or something like that. Thanks for the pros/cons list and brain work!

[2019-11-20 03:49] jairus-crabb commented on #6599
Submitted PR #6816

I can definitely document what I did! So far I haven't had any crazy issues, I ran some tests and the only errors I got were certain functionalities that had dependencies I just hadn't installed.

[2019-11-20 04:29] jairus-crabb commented on #3840
It was mentioned I should comment here how I was able to get plots2 up on WSL (Ubuntu 18.04). I am working on the bash terminal but I am working from files on Windows.
1) git clone repo on the Windows C: Drive, get there with cd \mnt\c (I made a folder for projects at \mnt\c\code)
2) install Ruby using rbenv (I am a newbie and ran into a lot of issues but solved them by installing dependencies)
3)

[2019-11-20 04:41] 1405043-kd commented on #6810
can I claim this?

[2019-11-20 06:56] cesswairimu commented on #3840
Awesome :tada:  thanks for outlining the steps here @jairus-crabb

[2019-11-20 10:01] SidharthBansal commented on #6810
Hi @1405043-kd This issue is reserved for GCI students. Please do any other issue.
Thanks

[2019-11-20 14:37] ebarry commented on #5170
Thank you for identifying this issue!

[2019-11-20 14:40] ebarry commented on #6593
From the links above, here's a screenshot of current --> proposed:
<img width="438" alt="36134" src="https://user-images.githubusercontent.com/161439/69248113-a840f880-0b79-11ea-8ad3-2613f2c92b25.png">

Does this look good?

[2019-11-20 14:48] ebarry opened #6820 "[no action needed at this time] PLANNING ISSUE: tag migration"
**Planning issue**

We are planning a one-time migration of some previously used tags to what we now wish they were. For example:

`eu` --> `europe`
`lat:foo` --> `latitude:foo`
`lng:foo` --> `lng:foo`
...

**Additional context (optional)**
Feel free to add your ideas for which currently used tags might need migration in the comments below so we can discuss! Thank you!

[2019-11-20 14:52] ebarry commented on #6791
CC @publiclab-mimi

[2019-11-20 15:01] ebarry commented on #5719
I agree, since we are no longer writing our own custom search, let's narrow this issue as Jeff suggests to adding "pinned" content (could be note OR wiki FYI) curated by site administrators to accompany search results.

[2019-11-20 15:08] jywarren commented on #6820
This is also outlined in this issue: https://github.com/publiclab/plots2/issues/6367 "Revamp/deprecate tag aliasing, migrate aliases to new tags"

@steviepubliclab had suggested re-using a listing of tag aliases as much as possible rather than starting over, and there's a reference to that in the above issue, which should be helpful.

Also, `lat => latitude` is just an example, right? Since `lat:_

[2019-11-20 15:09] ebarry commented on #218
We have changed our approach to search so i am going to close this issue with a `wontfix` but it's here if we ever need to return to it!

[2019-11-20 15:09] #218 closed

[2019-11-20 15:13] jywarren commented on #6593
I like this. If @steviepubliclab agrees, i can start chopping this up into tasks. Thanks, @ebarry @publiclab-mimi!

[2019-11-20 15:13] ebarry commented on #823
Hi Pablo,
The link seems to be working, but i do not see any aerial imagery on top of the basic satellite map -- is that the problem?

[2019-11-20 15:24] ebarry commented on #823
It's also worth noting that the JPG and GEOTIFF links go to broken pages in the archive, but that may be because we have a physical drive to replace.

[2019-11-20 15:49] publiclab-mimi opened #6822 "Unable to add 'question:question' power tag"
### Please describe the problem (or idea)

I'm not able to add power tags to my posts (or others) on the site. When I posted this question (https://publiclab.org/notes/mimiss/11-20-2019/dfrobot-turbidity-sensor-troubleshooting) I included only power tags in the editor. Once posted, it was without tags. When I go to try and add tags (in chrome or safari) I see the following:

First this:
<img width

[2019-11-20 15:52] publiclab-mimi commented on #6822
If I go back to the same post and use any power tag other than question:question they work, so I'm thinking this is a question:question issue.

[2019-11-20 15:59] publiclab-mimi commented on #6822
For a new user posting a question, the question:question power tag is removed but the first-time-poster tag is still added

<img width="1141" alt="Screen Shot 2019-11-20 at 9 59 03 AM" src="https://user-images.githubusercontent.com/48802639/69254848-78472480-0b7c-11ea-99b0-516a1afb2f44.png">

[2019-11-20 16:32] ebarry commented on #404
I tested this issue by searching for an activity which had been awarded a barnstar via this link: https://publiclab.org/tag/barnstar:basic (thank you @bronwen9).

This activity meets the requirements: https://publiclab.org/notes/deeptalaxmibharadwaj/09-02-2019/building-snake-plant-air-remediation-kit-in-bangalore-india

I clicked: "try it now" button, then reviewed which tags appear in the URL: ht

[2019-11-20 16:32] #404 closed

[2019-11-20 16:44] jywarren commented on #6822
Hi, Mimi, thanks! Sorry, just to clarify, what page/button did you post
this from, and which tags a) should have appeared and b) shouldn't have
appeared? Thank you!

On Wed, Nov 20, 2019 at 11:00 AM publiclab-mimi <notifications@github.com>
wrote:

[2019-11-20 16:48] publiclab-mimi commented on #6822
Both posts from the dashboard->share your work->ask a question. On the first post where I noticed the issue I had a bunch of additional tags, question:water-sensing, water-quality, question:turbidity, and a few more. None of those tags appeared on the post when it was published. I had a student go through the same dashboard to question and put a BUNCH of tags in (after the question:question tag th

[2019-11-20 16:48] jywarren commented on #6822
Thanks, can you clarify where you posted the question from, i.e. which page
and which button? That'll help us troubleshoot -- and reproduce -- the
issue!

On Wed, Nov 20, 2019 at 10:52 AM publiclab-mimi <notifications@github.com>
wrote:

[2019-11-20 16:51] publiclab-mimi commented on #6822
Yes, Sorry. For both the errors shown here I was on the dashboard (publiclab.org/dashboard <http://publiclab.org/dashboard>) and opened the “Share Your Work” dropdown and pressed “Ask a Question” which brought me over to the editor.

[2019-11-20 16:51] jywarren commented on #6822
Ah sorry didn't understand that this was the same issue.

Just for a possible quick fix; the current dashboard uses this URL for questions:

https://publiclab.org/post?tags=question:question&template=question&redirect=question

What if we switched it for this?

https://publiclab.org/questions/new?tags=question:general

Would that fix this?

[2019-11-20 16:54] ebarry commented on #4928
eu: europe

[2019-11-20 16:56] cato-hga commented on #6814
@cesswairimu This looks like something I could do. Can I try working on this one?

[2019-11-20 16:57] publiclab-mimi commented on #6822
I think this would do it!

[2019-11-20 16:58] jywarren commented on #4928
And, for purposes of migrating tags, I suggest NOT doing all of these, but
choosing only those which we know there is content for and which we want to
take this big action on. But this is a good source to skim to ID such tags!

On Wed, Nov 20, 2019 at 11:55 AM Liz Barry <notifications@github.com> wrote:

[2019-11-20 17:00] jywarren commented on #6822
OK awesome. The URL is here:

https://github.com/publiclab/plots2/blob/eaf36b1bcfc7c05562aa7ed594ebd6e92154c8c8/app/views/sidebar/_dashboard.html.erb#L12

I'll make a FTO!

[2019-11-20 17:02] jywarren opened #6823 "Change "Ask question" button URL on dashboard"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-20 17:02] jywarren commented on #6822
Closing for https://github.com/publiclab/plots2/issues/6823 -- thank you, @publiclab-mimi !!!!

[2019-11-20 17:07] ebarry commented on #2563
This is working now!

[2019-11-20 17:07] #2563 closed

[2019-11-20 17:14] 1405043-kd commented on #6823
can I claim this one?

[2019-11-20 17:25] jywarren commented on #6054
OK, moving to #6799

[2019-11-20 17:25] #6054 closed

[2019-11-20 17:26] jywarren commented on #6799
See a lot of background work and documentation on this in https://github.com/publiclab/plots2/issues/6054 !

[2019-11-20 17:31] cesswairimu commented on #6814
Hey @cato-hga, yeah sure go ahead. Thanks

[2019-11-20 17:44] #5960 closed

[2019-11-20 17:49] ebarry commented on #884
We have chosen another direction, so closing!! Whoohoo!!!!

[2019-11-20 17:49] #884 closed

[2019-11-20 17:55] jywarren commented on #5388
Hi all! I'm going to close this one as I think we are all good here. Thank you!

[2019-11-20 17:55] #5388 closed

[2019-11-20 17:56] jywarren commented on #5312
I'm sorry, i missed this! I think this is resolved with our new circular buttons!

[2019-11-20 17:56] #5312 closed

[2019-11-20 18:03] jywarren commented on #6823
Yes please! We'd love your help!

[2019-11-20 18:19] jywarren commented on #3301
Thank you! Yes, it will be. Thank you!!!

[2019-11-20 18:19] #3301 closed

[2019-11-20 18:30] #6822 closed

[2019-11-20 18:58] jywarren commented on #6799
I was able to get that type of header to work using this CSS: `<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-design-blocks/2.0.1/css/froala_blocks.min.css">`

However, it messes up the fonts! Trying to figure that out now.

[2019-11-20 19:30] jywarren commented on #6799
OK - I am able to get this work by re-including the main stylesheet like this:

[code]

Obviously this isn't great. If we can confirm that the froala css doesn't break things all over the site, we could add it to the `<head>` and not have to re-include the main stylesheet... but we'll have to be really thorough to check the screenshots at different sizes and all!

[2019-11-20 20:06] jywarren opened #6825 "Wiki tag page showing only one entry"
https://publiclab.org/wiki/tag/project:featured should show ~ 3 wiki pages, but it shows only one.

An example of one not appearing is: https://publiclab.org/wiki/the-sand-sentinel-program

Not sure why this is happening! The code for this is here;

https://github.com/publiclab/plots2/blob/eaf36b1bcfc7c05562aa7ed594ebd6e92154c8c8/app/controllers/tag_controller.rb#L107-L148

We'd love help debuggin

[2019-11-20 20:09] #6823 closed

[2019-11-20 20:14] nfarve commented on #6804
Hi! Can I claim this?

[2019-11-20 21:18] jywarren commented on #5095
I think this is now solved due to changes in upstream https://github.com/publiclab/leaflet-environmental-layers/! Thanks all!

[2019-11-20 21:37] ebarry commented on #6805
Thanks for checking this out @StlMaris123 !!!! Great to see you here, hope you have been well 🙂

[2019-11-20 22:03] ebarry opened #6826 "On new Front Page, change "Join" button to "Follow Topics" for logged-in users"
**The issue:** On the gorgeous new Front Page https://publiclab.org/home , logged-in users are presented with the Join button, which leads to a signup action which is not allowed while signed in so that an error appears.

**The Idea:** Logged in users are presented with a button to "Follow Topics"

Current screenshot showing how logged-in users are presented with a Join button:
<img width="1261" a

[2019-11-20 22:09] jywarren commented on #6804
Hi! We'd love help with this! It's a bit convoluted, so if you'd like to take a first-timer issue we def. understand. But @sagarpreet-chadha just did part of this in this pull request:

https://github.com/publiclab/plots2/pull/6591/files#diff-febd74b4f018c188d3912fc496d3a037R30-R32

And, the workflow to add `zoom` to this using the Leaflet API should be not too much different in that same file.

(

[2019-11-20 22:18] jywarren commented on #6826
Solved!

[2019-11-20 22:18] #6826 closed

[2019-11-21 02:57] sashadev-sky commented on #6809
@ChamuMutezva you need to open a pull request. Here are the steps

1) Fork the main repo from the main page https://github.com/publiclab/Leaflet.DistortableImage, otherwise you'll only get anonymous credit
2) clone your forked version by clicking the "clone or download" button - copy paste the url given and use the command `$ git clone <paste_url>` locally
3) Follow the README instructions for any

[2019-11-21 04:11] jywarren commented on #5678
Nice - fixed and live! https://publiclab.org/wiki/inline-maps

[2019-11-21 04:14] jywarren commented on #6825
Very strange, but this page doesn't suffer the same issue!

https://publiclab.org/wiki/tag/project

[2019-11-21 04:14] jywarren commented on #6825
Could it relate to power tags?

[2019-11-21 04:15] jywarren commented on #6825
Could it be related to this issue? Needs testing on the console! https://github.com/publiclab/plots2/issues/3248

[2019-11-21 04:16] jywarren commented on #6825
Note this returns 4 items, which is correct:

[code]
However this returns only 1:

[code]

[2019-11-21 04:44] pydevsg commented on #4707
@gauravano , @jywarren I have completed all the steps. I would love to help beginners in their PRs by reviewing them. Please add me in the group too.

[2019-11-21 04:59] sashadev-sky opened #6827 "Fix pluralization logic IV"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

## The problem

On the `/notes/author/admin` page, the pluralization for research notes is incorrect:

<img width="870" alt="Screen Shot 2019-11-20 at 11 34 09 PM" src="http

[2019-11-21 05:02] Souravirus commented on #5485
Hi @Utiwari1999, sorry for the late reply. Yeah you can surely work on this. Thank you!!

[2019-11-21 05:11] sashadev-sky commented on #6827
**Uploaded to GCI Dashboard**

[2019-11-21 06:01] sagarpreet-chadha commented on #5678
Yes just saw, glad we fixed this :)
Should i add the new LEL inline syntax to this page or make a seperate
wiki? Thanks!

On Thu, 21 Nov 2019, 09:41 Jeffrey Warren, <notifications@github.com> wrote:

[2019-11-21 06:09] sashadev-sky commented on #6501
@jywarren this is genius / an important experiment for OS

[2019-11-21 07:38] SidharthBansal commented on #6501
This is really nice :-)

[2019-11-21 10:05] SidharthBansal commented on #6827
PUBLISHED

[2019-11-21 10:14] susanreenesaa commented on #6697
the add location button does not open the map at all so currently, I am not working on the issue because I have no access to the map(popup map). unless if I have to recreate the code?

[2019-11-21 11:07] sagarpreet-chadha commented on #6697
Hey the map should open --- yes @jywarren is right it takes time for JS to get load.

[2019-11-21 12:08] pydevsg opened #6828 "Fix pluralization in admin page - I"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Problem
![comment_section](https://user-images.githubusercontent.com/40278255/69336784-571e2b00-0c85-11ea-908d-c163e0e33256.png)

The pluralization in the screenshot abo

[2019-11-21 12:39] pydevsg opened #6829 "Fix pluralization in admin page - II"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Problem
![admin_research_note](https://user-images.githubusercontent.com/40278255/69339028-79ff0e00-0c8a-11ea-8b97-8d0fa2d60bb1.png)

The pluralization in the screenshot

[2019-11-21 13:30] pydevsg commented on #6294
**Updated on GCI Dashboard**

[2019-11-21 14:35] nfarve commented on #6804
@jywarren I think I understand what needs to happen. I will let you know if I have questions.

[2019-11-21 15:05] SidharthBansal commented on #6829
PUBLISHED ON GCI DASHBOARD

[2019-11-21 15:06] SidharthBansal commented on #6828
https://github.com/publiclab/plots2/issues/6828

[2019-11-21 15:58] sagarpreet-chadha commented on #6804
Awesome!

On Thu, 21 Nov 2019, 20:05 Niaja, <notifications@github.com> wrote:

[2019-11-21 18:07] jywarren commented on #5678
Let's add it here! Good idea.

On Thu, Nov 21, 2019 at 1:01 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-11-21 18:28] ChamuMutezva commented on #6809
@sashadev-sky , i created a pull request that is waiting to be approved  and the review. Thanks

[2019-11-21 18:50] jywarren commented on #6511
I believe it's here! You can use the `needs code links` label also to mark issues that need code links. Thanks all!

https://github.com/publiclab/plots2/blob/13b2355ded7c25b3fe12f871aba1282137c7cf6d/app/views/user_sessions/_form.html.erb#L41-L45

[2019-11-21 19:02] steviepubliclab commented on #6787
Hi!! I like 2 to have a dashboard look active right away, but I also like 4.

[2019-11-21 19:04] nstjean opened #6832 "Questions index contains count of Answers and Comments"
I noticed that the /questions/ page is showing a count for Answers as well as a count for Comments, but Answers is depreciated and needs to be removed.

Currently it looks like this:

![FireShot Capture 072 - 🎈 Public Lab_ Questions and Answers - publiclab org](https://user-images.githubusercontent.com/49460529/69368243-bd945080-0c67-11ea-9157-efe198caf728.png)

What does everyone think about righ

[2019-11-21 19:15] steviepubliclab commented on #6593
hi!

for the "And these powertags" what does the "and these" mean? Maybe it should just say "powertags"

[2019-11-21 19:20] steviepubliclab commented on #6820
re: lat and lng  is this still going to be an issue if we're hiding the powertags?

[2019-11-21 19:29] steviepubliclab commented on #3246
Given our move to hide powertags, this might be less of an issue. People wouldn't be presented with powertags to click upfront right?

[2019-11-21 19:59] #6400 closed

[2019-11-21 20:01] #6790 closed

[2019-11-21 20:03] jywarren commented on #2120
With #6790 are we done here? Great work everyone!

[2019-11-21 20:06] jywarren commented on #6820
Hi, I wasn't sure if lat/lon changes were a real suggestion or just an example?

[2019-11-21 20:08] jywarren commented on #6832
This sounds good to me. As to styling, however, I wonder if we should, per
the style guide, refactor questions to use the new "card" design?

On Thu, Nov 21, 2019, 2:05 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-11-21 20:20] nstjean commented on #6832
I'll look at what needs to be done to achieve that!

[2019-11-21 20:23] jywarren commented on #6832
The /views/notes/_notes.html.erb file may be a good place to start! Awesome!

On Thu, Nov 21, 2019, 3:21 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-11-21 20:38] jywarren opened #6833 "Give comment upload script unique IDs to properly place images"
When uploading an image to a comment, esp if it's not the first comment, it looks like we're displaying the progress bar and inserting the image into the wrong textarea, probably due to non-unique html id attributes! See:

![Screenshot_20191121-153429](https://user-images.githubusercontent.com/24359/69374767-cb9c9e00-0c74-11ea-8aac-37f2fdac66cf.png)

Instead of showing the file here, it appeared i

[2019-11-21 20:45] jywarren commented on #6833
Code for the comment form is here:

https://github.com/publiclab/plots2/blob/master/app/views/comments/_form.html.erb

And it's includes into each note page here:

https://github.com/publiclab/plots2/blob/master/app/views/notes/_comments.html.erb

And the JavaScript for uploading is here:

https://github.com/publiclab/plots2/blob/master/app/assets/javascripts/dragdrop.js

[2019-11-21 21:06] IvetaHron opened #6834 "Update map.html.erb - replace http with https"
Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our code

[2019-11-21 21:24] jywarren commented on #1621
Hi @ebarry there are a few leftover items here that are content oriented, and once complete can be added into the navbar, so I'm leaving this open! Thanks!

[2019-11-21 21:53] IvetaHron commented on #6391
Hi @SidharthBansal, @jywarren  thank you for reviewing my PRs. I have created new FTO issue - https://github.com/publiclab/plots2/issues/6834 for GCI, but I could not add the GCI label to it. I will continue creating more new issues in coming days.

[2019-11-22 02:15] npang4 commented on #6834
Can i claim this?

[2019-11-22 04:20] icarito opened #6835 "full text search of tags slows site down"
![imagen](https://user-images.githubusercontent.com/199755/69397663-248c2680-0cb5-11ea-84b3-09f8b721a846.png)

Here's a closeup of a peak moment, when response times came down a lot. There was a report at the chat from gitter, that the site was unresponsive. From the alerts we've been getting from Rackspace, this happened for about 8 minutes a time about 9 times today.

### Please describe the pro

[2019-11-22 04:27] icarito commented on #6835
Another such peak:
![imagen](https://user-images.githubusercontent.com/199755/69398039-7c775d00-0cb6-11ea-9238-0b76a0b1aab6.png)

[2019-11-22 05:52] SidharthBansal commented on #6294
Published

[2019-11-22 06:00] AbhinavMir commented on #6834
Is this claimed? I'd love to work on this.

[2019-11-22 07:54] vaibhavmatta commented on #6511
ThankYou @jywarren

[2019-11-22 13:55] icarito commented on #6835
This happened again this morning and was reported by @steviepubliclab on the chat channel.
Should we block this route for now?

[2019-11-22 14:04] IvetaHron commented on #6834
Hi @npang4, @AbhinavMir thank you for your interest to solve this issue, but the task is reserved for Google Code-in (GCI) participants. You can have a look on our page : https://code.publiclab.org for more issues.

[2019-11-22 16:19] jywarren commented on #6807
Solved! Thanks, all!!!

![image](https://user-images.githubusercontent.com/24359/69442077-f0971c80-0d19-11ea-8ac7-866f2c9b8867.png)

[2019-11-22 16:22] jywarren commented on #6835
Are we hitting the route when searching from the navbar?

![image](https://user-images.githubusercontent.com/24359/69442007-c8a7b900-0d19-11ea-8091-b9a45ee8ab75.png)

[2019-11-22 16:27] jywarren commented on #6835
Yes, i think so:

![image](https://user-images.githubusercontent.com/24359/69442706-0ce78900-0d1b-11ea-9431-8cf4bbde958f.png)

Damn, why is that url cache-busting the response?

https://publiclab.org/api/srch/tags?query=conduc&_=1574439550078

`&_=1574439550078` ???

[2019-11-22 16:28] jywarren commented on #6835
I'm going to push the front-page caching again but i really am not sure why this particular route is suddenly causing trouble...

[2019-11-22 16:48] jywarren commented on #6835
Ah, forget the timestamp, i think it was on the URL i sent the search /from/.

I have an issue open on Grape to ask why this is an inefficient query vs another we use that's very efficient but bypasses Grape: https://github.com/ruby-grape/grape/issues/1890#issuecomment-508805254

They'd suggested we add better instrumentation to diagnose.

For the short term, we might want to switch from the curre

[2019-11-22 16:52] jywarren commented on #6835
The faster query returns just an array of strings:

[code]

The slower one returns larger objects, but the same basic info:

[code]

[2019-11-22 17:18] Amith1206 commented on #6787
Going in a bit of classical way i would recommend 3,you choose what you need at the beginning itself

[2019-11-22 17:19] Amith1206 commented on #6787
5 is the kind thing were you really increase the no. of subscriptions

[2019-11-22 17:29] jywarren commented on #6835
So this would be the change:

[code]

[2019-11-22 17:57] #6752 closed

[2019-11-22 18:21] jywarren commented on #6095
So the latest is that @alaxalves was able to pin to a 3rd party repository of Chrome versions, at https://github.com/webnicer/chrome-downloads, in #6099. It has Chrome 78, latest updated version 4 days ago, so this seems viable...

So we're pinned at Chrome 75 ChromeDriver 74: https://github.com/publiclab/plots2/blob/2d44ec39855e2c288df05e5a6f1d71694bfe6983/Dockerfile#L30-L34

With @nstjean seeing

[2019-11-22 18:24] jywarren commented on #6501
Ok, shall we start with a pilot "area"? Did commenting make sense as a good
first one? Thanks, all!

On Thu, Nov 21, 2019 at 2:39 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-11-22 18:25] #6599 closed

[2019-11-22 18:25] jywarren commented on #4707
Done! Thank you!!!

[2019-11-22 18:26] #6791 closed

[2019-11-22 18:39] jywarren commented on #6787
Just wanted to note here that the question of getting emails or not may be useful to think of separately. Following can notify in different ways (like smartphone alerts vs. emails) and it would be pretty easy to add a "no emails" option in https://publiclab.org/settings!

I like 2 and 4, though my feeling is that in both, 'topics boxes for all recent activity on the website' would be too much, and

[2019-11-22 19:18] SidharthBansal commented on #6516
@textuallyactive you have to create a PR in plots2 not in your fork!
Best of Luck!

[2019-11-22 19:24] SidharthBansal commented on #6444
Hello, you have already done a First timer issue. So, you can help us with other issues. Thanks for your help!

[2019-11-22 19:28] SidharthBansal commented on #6444
Published on GCI dashboard

[2019-11-22 19:32] SidharthBansal commented on #5162
@divyabaid16 can we close this issue now?

[2019-11-22 19:32] SidharthBansal commented on #5191
Is this issue solved?

[2019-11-22 19:32] SidharthBansal commented on #5215
Is this issue solved?

[2019-11-22 19:33] SidharthBansal commented on #5306
Is this issue solved?
Please check it out!

[2019-11-22 19:34] SidharthBansal commented on #5360
Please check if this issue is solved or not. If no one is working on it and it is still unresolved then go for it

[2019-11-22 19:35] SidharthBansal commented on #5383
Is this issue resolved?

[2019-11-22 19:36] SidharthBansal commented on #5795
Is this issue solved? Can we close this?

[2019-11-22 19:38] SidharthBansal commented on #6372
What is the issue number?

[2019-11-22 23:15] jywarren commented on #5951
Noting we're switching the URL to the faster endpoint because of https://github.com/publiclab/plots2/issues/6835, in https://github.com/publiclab/plots2/pull/6840

[2019-11-22 23:15] #5951 closed

[2019-11-23 15:37] icarito commented on #6835
Thanks for the quick action yesterday. We're still seeing performance degradation today! :-(
![image](https://user-images.githubusercontent.com/199755/69481207-3bc63380-0ddd-11ea-9980-a6837674c3d6.png)
Still it points to the full text search function.

[2019-11-23 16:58] Uzay-G commented on #6834
Hey! I would like to claim this and will apply to the google codein. Can I fix the issue or should I wait until the registration date?

[2019-11-23 17:09] Uzay-G opened #6841 "Website is down"
I noticed at 18h00 that the website is down and at this time still is. I entered the url https://publiclab.org/ and tried to connect from my phone and computer on two different networks.
This is the resulting error:
[code]
Do you know why this is happening? The site was working for me at about 17h50. I hope this helps you solve the problem.

[2019-11-23 17:19] jywarren commented on #6841
Thanks for reporting! We are rushing in a fix at #6835 and #6840.

[2019-11-23 17:27] #6841 closed

[2019-11-23 17:27] Uzay-G commented on #6841
Website is now back to normal

[2019-11-23 17:33] #6835 closed

[2019-11-23 17:33] jywarren commented on #6841
Thanks!

[2019-11-23 17:52] #6509 closed

[2019-11-23 19:27] IvetaHron commented on #6834
Hi @Uzay-G if you are GCI participant, the issue is yours. Thank you.

[2019-11-24 00:36] Uzay-G commented on #6834
Yeah ok I will take care of it. I will apply to GCI in december when registration is open

[2019-11-24 15:06] SidharthBansal commented on #6792
![image](https://user-images.githubusercontent.com/20972099/69496604-ea5f9680-0ef9-11ea-9862-4daa92e27b4a.png)
Hello, we still need 60 more tasks in GCI dashboard. Is there anyone willing to help to mark issues as GCI-reserved and ping me so that I can upload and publish them on GCI website?
Thanks!

[2019-11-24 15:13] SidharthBansal commented on #6806
Published on GCI dashboard!
Thanks Liz

[2019-11-24 15:18] SidharthBansal commented on #6781
Published on GCI dashboard

[2019-11-24 15:18] SidharthBansal commented on #6233
Published on GCI dashboard

[2019-11-24 15:18] SidharthBansal commented on #6833
Published on GCI dashboard

[2019-11-24 16:00] pydevsg commented on #6767
Hi @crisner , thanks for showing the bug , this issue will now be added as a task for GCI Candidates.

[2019-11-24 21:04] IvetaHron commented on #6834
Hi @Uzay-G, thank you for creating a PR for this issue, but would you please edit it little further. You need to replace both 'http' for 'https' on the line 53, not only one. And look at the line 73, there are more two 'http' that need to be replaced.

[2019-11-24 21:20] Uzay-G commented on #6834
Oh thank you @IvetaHron, I hadn't seen that at all but added it to my pull request. Thanks again.

[2019-11-25 07:07] cesswairimu commented on #6792
Hello, anyone interested in opening this week's check-in?

[2019-11-25 09:42] IvetaHron commented on #6834
Thank you @Uzay-G for editing you PR. All good now.

[2019-11-25 11:36] pydevsg commented on #6792
Hi @cesswairimu I am interested in opening this week's check in

[2019-11-25 12:18] cesswairimu commented on #6792
Great :tada: :tada:  @pydevsg, please do..and ping me if you need anything to open it

[2019-11-25 12:30] pydevsg commented on #6792
Okay thanks @cesswairimu I will ping you up when needed :)

[2019-11-25 13:35] #6797 closed

[2019-11-25 13:54] pydevsg opened #6845 "Weekly community Check-In #40 - "Pre GCI Preparation!""
Hi everyone 👋

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their

[2019-11-25 14:00] pydevsg commented on #6845
@jywarren @SidharthBansal @cesswairimu @gauravano @ebarry

[2019-11-25 14:02] pydevsg commented on #6845
@Rishabh570 @sashadev-sky @IshaGupta18  @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012  @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publi

[2019-11-25 14:17] jywarren commented on #6233
Hi! I think this needs additional input from @steviepubliclab and @ebarry before being completed, thanks!

[2019-11-25 14:18] jywarren commented on #6233
Because we have a conflicting feature to direct to the dashboard if it's a first time signup. Or is this different?

[2019-11-25 14:18] pydevsg commented on #5627
#6845

[2019-11-25 14:19] jywarren commented on #6233
In any case I think this needs a bit more documentation before we really know as well. Thanks!

[2019-11-25 14:24] cesswairimu commented on #6792
Moved to https://github.com/publiclab/plots2/issues/6845. Thanks all :heart:

[2019-11-25 14:24] #6792 closed

[2019-11-25 15:46] SidharthBansal opened #6846 "Align password view button"
### Please describe the problem (or idea)

![image](https://user-images.githubusercontent.com/20972099/69555164-c15a0700-0fc8-11ea-877e-0681703fdda3.png)
Login modal has alignment problems with password

Proper alignment

### Please show us where to look

https://publiclab.org/
login modal by clicking on login button in upper right corner

[2019-11-25 15:46] SidharthBansal opened #6847 "Align password view button"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)

![image](https://user-images.githubusercontent.com/20972099/69555164-c15a0700-0fc8-11ea-877e-0681703fdda3.png)
Login modal has ali

[2019-11-25 15:49] SidharthBansal commented on #6845
Hello, we want at least 60 more tasks to be in GCI. Only 8 days left. So, let's speed up on this folks.

Thanks for all the help towards GCI :-) :+1: :100:

[2019-11-25 16:45] skilfullycurled commented on #6845
The task I would like to add is for me to say hello to everyone.

I haven't had a chance to connect in a while and I've been thinking a lot about the community lately.

If my numbers are correct (and they are not), I think that means we only need 59 more tasks now?

Wait.  Shoot.  I completed the task.  Never mind, we're back to 60 again.

Gah!  How many times do I have to tell myself?!  Think bef

[2019-11-25 16:48] Amith1206 commented on #6814
has this issue been solved

[2019-11-25 17:28] jywarren opened #6849 "Expand use of x icon for tags"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our c

[2019-11-25 17:38] jywarren commented on #6849
To fix this, we'll need to replace the `x` character on these two lines, with the same icon as in https://github.com/publiclab/plots2/issues/6791 --

[code]

@susanreenesaa were you interested in adding this follow-up FTO?

Thanks everyone!

[2019-11-25 17:38] jywarren commented on #6849
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2019-11-25 18:30] nstjean commented on #6845
Hello all!

Last week I finished up #6821 and worked on #6422 and have started working on restyling the /questions/ index to match the style guide.

This week I'm going to be adding tasks for GCI! I'm also going to be preparing to start the Outreachy project next week, if I get selected. :)

[2019-11-25 18:46] jywarren commented on #6845
Hi all! with our testing/staging/stable/unstable servers back online, i'm a bit more relaxed this week, and we have some holiday days off this Thursday and Friday, so it's a short week here! So for me, it's time to catch up on the self-care and get rested for the start of Outreachy and GCI! 😴

I did want to announce we've posted our new front page design at https://publiclab.org, (or https://publi

[2019-11-25 18:55] #6834 closed

[2019-11-25 19:13] jywarren commented on #6804
Hi @nfarve it looks like perhaps you've started work on the next section? If so, please open a PR so that folks can see that you have, both so someone else doesn't redundantly start on this, but also in case you need any input as you go! Thanks again for taking this one on! Very exciting.

[2019-11-25 19:17] jywarren commented on #5758
We'd love help with this. Just a heads up though that it may be pretty
involved! It involves reworking a print stylesheet in detail to ensure
things print nicely, and includes some Javascript as well to hide some
elements, and toggle a 3-column CSS layout. But one thing we can start with
is listing out problems with the current state of this! Thank you!

On Sat, Nov 9, 2019 at 6:39 AM Jainil Shah

[2019-11-25 19:17] jywarren commented on #5309
Sure, i think the first thing is to investigate a bit why this is
happening. We could write a system test as well, to reproduce the issue?

On Sat, Nov 9, 2019 at 5:40 AM Swathi Kasikala <notifications@github.com>
wrote:

[2019-11-25 19:24] jywarren commented on #714
We'd love your help -- no need to assign, and sorry for the slow reply!

On Sat, Nov 9, 2019 at 5:07 AM Swathi Kasikala <notifications@github.com>
wrote:

[2019-11-25 21:17] qw3eq commented on #6846
Can I claim it?
I already know how to fix it.

[2019-11-25 21:22] jywarren commented on #6096
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2019-11-25 21:23] jywarren commented on #5352
Hi, we'd love help with any part of the list of changes at the top! Thank you @daningenthron !

[2019-11-25 21:25] #6688 closed

[2019-11-25 22:35] ananyaarun opened #6850 "Fix error in ordering of notes by number of likes"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

# Description
The notes when displayed in sorted order by no of likes, ie in /notes/liked, the notes appear in random order neither asc nor desc wrt number of likes.

![like

[2019-11-25 22:37] ananyaarun commented on #5170
Issue moved to #6850

[2019-11-25 22:37] #5170 closed

[2019-11-25 22:41] ananyaarun opened #6851 "Add on hover effects to the link "Public Lab" on navbar"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-25 22:45] ananyaarun opened #6852 "Add a tooltip on "Public Lab" that says "Home" on navbar"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-26 03:17] SidharthBansal commented on #6846
Hi this issue is reserved for GCI candidates. You can check other issues.
Thanks

On Tue, 26 Nov 2019, 2:47 am Nikolay Rozum, <notifications@github.com>
wrote:

[2019-11-26 03:45] debck commented on #6846
hey, @SidharthBansal This issue is duplicate of  #6847

[2019-11-26 07:27] #6846 closed

[2019-11-26 07:27] SidharthBansal commented on #6846
Thanks

[2019-11-26 15:47] nstjean opened #6853 "Margin on /stats page pushes content off screen"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

On the page https://publiclab.org/stats the div block at the top pushes off to the right of the view screen on screens less than 1354px wide. In the file `app/views/stats/index.html.

[2019-11-26 15:50] nstjean commented on #6853
@SidharthBansal Can you add this to the GCI dashboard and whatever else you need to do?

[2019-11-26 16:32] nstjean opened #6854 "Error occurs on tag/TAGNAME/stats/ if tagname does not have any posts"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

When someone tries to view the stats page for a tag that does not exist we get an error. It would be really nice if we could display a page that says, for example, "Wiggles

[2019-11-26 16:33] nstjean commented on #6854
@SidharthBansal Here's another one!

[2019-11-26 17:20] steviepubliclab opened #6855 "Incorrect number of research notes listed on tag page"
Hello,
I was looking at this tag page and found that the dropdown displays an incorrect number of research notes for this tag. On this page: https://publiclab.org/tag/Climate-change it lists there are four research notes, but I'm only seeing three:

<img width="1121" alt="Screen Shot 2019-11-26 at 12 19 00 PM" src="https://user-images.githubusercontent.com/7490478/69656775-2a805f80-1047-11ea-8b0f-

[2019-11-26 17:26] steviepubliclab commented on #6855
I found a similar issue on this site https://publiclab.org/tag/Disaster-response that is listed having 18 research notes but I only count 14

[2019-11-26 17:27] steviepubliclab commented on #6855
Looks like it might count questions?

[2019-11-26 17:28] steviepubliclab commented on #6855
Sorry, not that's not it based on the first one.

[2019-11-26 17:33] jywarren opened #6856 "Style "add a location" button to match style guide"
Pages like https://publiclab.org/wiki/london-uk have a prompt to add a location:

![image](https://user-images.githubusercontent.com/24359/69657303-f6f20500-1047-11ea-8fb6-d3ee147117cd.png)

However, the [style guide](https://publiclab.org/notes/warren/05-07-2019/introducing-a-draft-style-guide-for-public-lab) shows we should be showing them in a button like this:

![image](https://user-images.git

[2019-11-26 17:33] jywarren commented on #6856
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2019-11-26 17:36] jywarren opened #6857 "Make "Add a location" appear on all pages which have no location"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-26 17:52] gabrielrumiranda commented on #6857
Can I Take this issue ?

[2019-11-26 19:34] ebarry commented on #6787
An in-person discussion on this a few days highlighted the need to figure out an option to subscribe without receiving emails. @jywarren @steviepubliclab , has this idea made it to github yet? If so, please link here!

[2019-11-26 19:40] ebarry commented on #6820
lat/lng was a real suggestion by @publiclab-mimi.

@publiclab-mimi has been getting a lot of feedback from young people who do not know what the "short codes" mean, but are interested. If the full words "latitude" and "longitude" were written out, people who do not already know what these words mean could search and find out so much more and have a great introduction to geographic technology. Righ

[2019-11-26 19:46] jywarren commented on #6857
Yes please! We'd love your help.

On Tue, Nov 26, 2019 at 12:52 PM Gabriel Rubens <notifications@github.com>
wrote:

[2019-11-26 19:53] jywarren commented on #6820
Hi, that's a good idea about lat/lon tags, but indeed they are hardcoded
through a lot of infrastructure, not only ours but upstream libraries. I
wonder if we could achieve the same effect by giving lat/lon prefixed tags
an explanatory text on hover?

On Tue, Nov 26, 2019 at 2:40 PM Liz Barry <notifications@github.com> wrote:

[2019-11-26 19:59] #6584 closed

[2019-11-26 20:41] jywarren opened #6860 "Design brainstorming for full-width content"
Just brainstorming a bit on how we might do more full-width content on the site! How do these options look to folks?

One idea was that all maps might go full width. Or that all images could go full width /only/ below a certain screen size?

![image](https://user-images.githubusercontent.com/24359/69670900-f450d900-1062-11ea-9b75-728deb51d000.png)

![image](https://user-images.githubusercontent.co

[2019-11-26 20:50] jywarren commented on #6801
This is looking great. Sagarpreet, can you offer an update on this so far? Thanks!

[2019-11-26 21:29] jywarren commented on #4094
Noting that there is still some grey vs. green checkboxes display on the site, like on https://publiclab.org/wiki/water-quality#Questions+on+Water+Quality:

![image](https://user-images.githubusercontent.com/24359/69674146-d89d0100-1069-11ea-84f8-47ce50d73e20.png)

This is still being driven from old "answers" code, which we should deprecate!

https://github.com/publiclab/plots2/blob/ee8200e10124f

[2019-11-26 21:31] jywarren commented on #6860
The semitransparent sidebar panel would need this kind of markup:

[code]

[2019-11-26 22:14] jywarren commented on #6323
Thanks Stevie, sorry, catching up here. In particular, you mentioned "search for questions" -- do you think this page must have a search box? Just clarifying, thanks!

OK, so breaking out some to-dos:

* [ ] ensure any tag used on the `/questions/new` form gets converted to its `question:_____` form (as per stevie's first item in last comment)
* [ ] re-add Topics listing on this page. Discuss with

[2019-11-26 22:20] jywarren commented on #4272
I'm going to merge this into https://github.com/publiclab/plots2/issues/6304, thanks!

[2019-11-26 22:20] #4272 closed

[2019-11-26 22:23] jywarren opened #6861 "Template selection modal for posting"
Just creating a new issue to track the "template selection modal" idea, which would apply to posting buttons across the site!

![Screenshot from 2019-08-07 16-22-06](https://user-images.githubusercontent.com/26685258/62619325-1d265480-b934-11e9-8fae-f000facbe3e8.png)

![gg](https://user-images.githubusercontent.com/26685258/62619559-afc6f380-b934-11e9-9fac-2218173d34ae.png)

_Originally posted by

[2019-11-26 22:25] jywarren commented on #6861
This is strongly linked to the template modal for wiki pages, shown here: https://github.com/publiclab/plots2/issues/4932

[2019-11-26 22:26] jywarren commented on #6861
And noting there was some progress on this done here, which could be recoverable in a new PR?

https://github.com/publiclab/plots2/pull/6114

Thanks all!

[2019-11-26 22:27] jywarren commented on #5890
I believe this is almost complete, except for this issue which I'm going to link to! https://github.com/publiclab/plots2/issues/6307

Thanks all!

[2019-11-26 22:27] #5890 closed

[2019-11-26 22:36] jywarren commented on #6307
So I think the big open questions are:

* [ ] how do we make the different types more prominent without overwhelming too much visually?
* [ ] can we make space in this zone for presenting different types without using a dropdown?

![image](https://user-images.githubusercontent.com/24359/69678011-5107c000-1072-11ea-81a8-a82760099aa7.png)

There are a number of design options we can explore here, an

[2019-11-26 23:15] jywarren commented on #6337
Hi, I wanted to say, i really tried on this but found it to be a total conundrum, and wasn't able to find any way in the docs of https://github.com/bassjobsen/Bootstrap-3-Typeahead/ to achieve this. So I'm going to leave it open but just a warning -- it's a really tough one!

[2019-11-27 05:50] kushaggarwal commented on #6206
Hi, I am looking for a first timer issue
please help me find one  thanks

[2019-11-27 05:53] kushaggarwal commented on #6856
Hi @jywarren
As I understood from the above mentioned information about the issue is to change the "add your location" button into the new format as mentioned by you for which the reference code you have given above right

[2019-11-27 09:50] cesswairimu commented on #6845
Hello :wave: everyone,

Congrats @nstjean and @crisner  :tada: :tada:  for being accepted to the Outreachy program . We are extremely grateful to all the other applicants, for your work with us to date and that we welcome you to continue being part of this community. It sucks that we had limited slots and could not accept more.

The new PL homepage looks great :rocket:  thanks to all who worked to

[2019-11-27 12:43] crisner commented on #6845
Thanks, @cesswairimu! Congratulations @nstjean!🎉

[2019-11-27 13:35] SidharthBansal commented on #6845
Congrats @nstjean and @crisner.
New homepage is awesome : 💓

On Wed, 27 Nov 2019, 6:13 pm Renisha Christie. A, <notifications@github.com>
wrote:

[2019-11-27 15:10] jywarren commented on #6856
That's right! Thanks!

On Wed, Nov 27, 2019 at 12:54 AM kush aggarwal <notifications@github.com>
wrote:

[2019-11-27 15:13] nstjean commented on #6845
Thank you!! Congrats @crisner I look forward to working with you!

[2019-11-27 15:17] jywarren commented on #5137
This is now available again! No need to ask, folks can just leave a comment to take this up! Thanks, all!!

[2019-11-27 16:24] SidharthBansal commented on #6854
We still need 70 more issues. Can you please help me in labelling some more issues?
It will be great help!

[2019-11-27 16:43] cesswairimu opened #6863 "Screenshot tests for the editor"
Setup screenshot tests that will be automatically generated on opening a pull request.

[2019-11-27 16:44] jywarren commented on #6863
And let's do this for more variations on, and features of, the editor!

[2019-11-27 16:54] jywarren opened #6864 "Remove tag parenting UI from templates"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our c

[2019-11-27 17:17] cesswairimu commented on #6863
cool

[2019-11-27 17:18] ebarry commented on #6787
Brainstorming language with @steviepubliclab for #4 "Add these topics to my dashboard" with a secondary box on that screen that says "Email me updates!"

Do we have an issue going anywhere about adding functionality to the subscription panel?

[2019-11-27 17:22] cesswairimu opened #6866 "Simple Editor template"
Simple Editor project: creating an editor template at /post?s=1 following the
mockups shown in https://publiclab.org/n/20973

[2019-11-27 17:35] SidharthBansal commented on #5291
Sorry I could not search the task link for publishing

[2019-11-27 17:44] jywarren opened #6867 "Option to not receive email notifications for topics you follow"
Similarly to #4543, and in relation to #6787, we should make an option in https://publiclab.org/settings to turn off email notifications for topics you follow. You might still get notified via the Notifications API (like, smartphone notifications, etc), and you'd still see topics you follow listed on your dashboard (new dashboard at #6072).

New note email notifications are generated from this seg

[2019-11-27 18:01] #3340 closed

[2019-11-27 18:01] SidharthBansal commented on #6303
From #3340

[2019-11-27 18:06] jywarren commented on #6867
Existing tags for this kind of thing are formatted like: `notifications:mentioned` so perhaps `notifications:noemail` (just so it specifically means no emails, as opposed to turning off other kinds of notifications)?

Then we'll need a UI on this page, https://publiclab.org/settings :

![image](https://user-images.githubusercontent.com/24359/69747692-e0fe4600-1114-11ea-9ab9-06f1e307a94f.png)

[2019-11-27 18:08] steviepubliclab commented on #6867
<img width="481" alt="Screen Shot 2019-11-27 at 1 01 13 PM" src="https://user-images.githubusercontent.com/7490478/69748715-f8d6c980-1116-11ea-9a52-6e9a67b6df87.png">

[2019-11-27 18:19] jywarren opened #6868 "Tag page caching needs fixing"
#6865 broke the tag pages... unfortunately...

https://stable.publiclab.org/tag/water-quality

![image](https://user-images.githubusercontent.com/24359/69749296-3851e580-1118-11ea-996f-64441b4a9218.png)

its a cache string collision --

[code]

[2019-11-27 19:20] nstjean commented on #6854
Yes, I will add more this weekend!

[2019-11-27 19:54] jywarren commented on #6787
Narrowed for the time being to:

![image](https://user-images.githubusercontent.com/24359/69755154-976a2700-1125-11ea-986c-2d6c0a0c47ba.png)

* [ ] Using a feature to top right of page to advertise events and encourage people to follow content (collapsible)
* [ ] default subscription `blog` for now
* [ ] brainstorming an area below everything which shows off either a) 3 randomly selected topics fr

[2019-11-27 20:02] jywarren commented on #6867
So the switch we'd have to add to the subscription_mailer.rb file would be:

[code]

Then we'd need to modify the tests to ensure this is working!

[2019-11-27 20:11] #6868 closed

[2019-11-27 20:52] jywarren commented on #6868
OK we seem ok now!

[2019-11-27 21:36] steviepubliclab commented on #6323
Hi Jeff,
I think viewing questions by topic is helpful, but it doesn't help us with duplication. A search feature could help with this.
-Stevie

[2019-11-27 21:52] steviepubliclab commented on #6867
Text edit suggestions:

**Email Notifications**
I want to receive an email
   Whenever there are new posts on topics I follow
   In a daily digest
   In a weekly digest
   Never

I want to be notified by email for:
   Comments on my posts
   Likes on my posts
   Comments on all posts I’ve commented on

**Browser Notifications**
I want to receive browser notifications:
   When I’m mentioned
   When

[2019-11-27 22:28] jywarren commented on #6867
OK awesome; the only thing is that "Never" wouldn't be an option that can have an "on/off" status, so I think for now we'll leave that off? If you'd like we can follow up with something where you click that and it automatically turns off the others, but it's a little more involved. Thanks!

[2019-11-27 22:29] jywarren opened #6871 "Change texts for "settings" page"
## Problem
We need to make some text adjustments on this page, https://publiclab.org/settings :

![image](https://user-images.githubusercontent.com/24359/69747692-e0fe4600-1114-11ea-9ab9-06f1e307a94f.png)

### To work on :
@steviepubliclab has developed some new text for it! Thanks!

[code]

Let's make these text changes on this page: https://github.com/publiclab/plots2/commits/main/app/views/user

[2019-11-27 22:34] jywarren commented on #6323
Thanks - sorry, what did you mean by "duplication"?

[2019-11-28 01:51] #6411 closed

[2019-11-28 02:45] crisner commented on #6845
Thank you @SidharthBansal and @nstjean! I look forward to working with you as well @nstjean!

[2019-11-28 06:10] SidharthBansal commented on #6850
Published

[2019-11-28 14:12] SidharthBansal commented on #6864
Published

[2019-11-28 14:23] SidharthBansal commented on #6856
Hi @kushaggarwal are you working on this?

[2019-11-28 14:33] SidharthBansal commented on #6391
Sorry for delayed reply. You can surely create new ftos.
Thanks for your support.

On Fri, Nov 22, 2019 at 3:23 AM IvetaHron <notifications@github.com> wrote:

[2019-11-28 14:44] kushaggarwal commented on #6856
Hello @SidharthBansal yes I am

[2019-11-28 14:54] kushaggarwal commented on #6871
I would like to work on this

[2019-11-28 15:05] SidharthBansal commented on #6856
Go ahead. Thanks

[2019-11-28 15:07] SidharthBansal commented on #6854
Published on GCI website

[2019-11-28 15:16] SidharthBansal commented on #6501
Cool!

On Fri, Nov 22, 2019 at 11:54 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-11-28 16:15] jywarren commented on #6871
Please do, we'd love your help!

On Thu, Nov 28, 2019, 9:55 AM kush aggarwal <notifications@github.com>
wrote:

[2019-11-29 07:00] SidharthBansal commented on #6693
Published on GCI dashboard!

[2019-11-29 07:15] SidharthBansal commented on #6852
Published

[2019-11-29 07:16] SidharthBansal commented on #6851
Published

[2019-11-29 08:00] myungwoo-Y commented on #6864
Can I take this issue?

[2019-11-29 08:01] SidharthBansal commented on #6864
Hi, this issue is reserved for GCI students. So, you can't work on it if you are not GCI student.
Please see other issues which are not labelled with gci based labels.
Thanks

[2019-11-29 08:26] SidharthBansal commented on #6845
Hello everyone!

This is the progress so far!
![image](https://user-images.githubusercontent.com/20972099/69854786-f360b700-12af-11ea-87b6-fa552e627e9c.png)

Superb folks! You did a lot of work :-)

Thanks

[2019-11-29 09:59] SidharthBansal commented on #6853
Thanks. I have published the issue on the GCI dashboard!

[2019-11-29 10:10] SidharthBansal commented on #6233
Sorry for the late reply. My inbox had 100+ emails. I expect it will increase when GCI begins :-)

This problem was solved 3 times in the past by Radhika, me and Isha. (maybe in last yr GCI too by Jonathan/Oorjit).
Some folks have added new features which conflict with this code. So, it got broken again.
Do you remember that Cross Domain System PR was working perfectly fine on unstable, and localh

[2019-11-29 10:15] SidharthBansal commented on #6233
See this pr https://github.com/publiclab/plots2/pull/5025/files
This is somehow causing OAuth to be redirected to the dashboard I guess.

[2019-11-29 10:32] SidharthBansal commented on #6233
@jywarren can  you please help me in recalling why we needed this line
https://github.com/publiclab/plots2/blob/master/app/controllers/user_sessions_controller.rb#L60

[2019-11-29 10:40] SidharthBansal commented on #6787
Sorry I missed this in piles of emails due to GCI.
This is really amazing discussion going on :heart: Let me think and tell my suggestion are fully reading it!
Thanks.

[2019-11-29 10:55] SidharthBansal commented on #6787
I really liked 2 and 4. Inclined towards 4 more than 2.

[2019-11-29 11:23] SidharthBansal commented on #5198
One interesting thing to observe is you are able to login with an email address. We don't allow saving of email addresses in the username column due to some conflicts with urls and existing users etc. Did you set up your password ever at Public Lab? @divyabaid16

Thanks

[2019-11-29 11:54] divyabaid16 commented on #5198
Hi @SidharthBansal I had setup my password using the reset password link.
![Selection_265](https://user-images.githubusercontent.com/32747809/69867510-03d35a80-12cd-11ea-95c2-2ddfc16615f9.png)
Thanks!

[2019-11-29 11:58] SidharthBansal commented on #5198
Can you please check the behaviour again?
I hope GitHub will work finely.

On Fri, 29 Nov 2019, 5:24 pm Divya Baid, <notifications@github.com> wrote:

[2019-11-29 11:58] divyabaid16 commented on #5162
Yes @SidharthBansal , this is done now.
Thanks!

[2019-11-29 11:58] #5162 closed

[2019-11-29 12:01] divyabaid16 commented on #5198
Ya, login with Github is working.

[2019-11-29 15:16] nstjean opened #6878 "Remove depreciated Answers from QuestionController#unanswered"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Right now https://publiclab.org/questions/unanswered/ is calculating whether or not a question has been answered by looking for the depreciated `answers` table. What we need to do is

[2019-11-29 15:17] nstjean commented on #6878
@SidharthBansal Here's another.

[2019-11-29 15:53] nstjean opened #6879 "Add test screenshot for tag stats page"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

We need a screenshot for the tag stats page added to the test screenshots! An example on our live site is:
https://publiclab.org/tag/lego-spectrometer/stats

You can find info on run

[2019-11-29 15:54] nstjean commented on #6879
@SidharthBansal

[2019-11-29 16:15] SidharthBansal commented on #6879
Please label it `hard`, `medium` or `beginner`. If beginner than kindly reformat it to FTO template.
Also, add **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.** at top of issue body.
Do this for all the GCI issue you pinged me. That

[2019-11-29 16:19] SidharthBansal commented on #5198
Great!
Please do following
1. Log out Pl.org
2. Log in with email address and password.
Tell me the output. Thanks

On Fri, Nov 29, 2019 at 5:31 PM Divya Baid <notifications@github.com> wrote:

[2019-11-29 17:56] govindgoel opened #6880 "change the function t to translation of app/views/users/_likes.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-29 18:00] govindgoel commented on #6579
Hey I made an issue regarding app/views/users/_likes.html.erb to change the t to translation #6880

[2019-11-29 19:49] govindgoel opened #6881 "change function t to translation in app/views/talk/_show.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-29 19:50] govindgoel commented on #6579
@nstjean  Another issue I opened regarding t to translation in app/views/talk/_show.html.erb #6881

[2019-11-29 22:13] nstjean commented on #6879
@SidharthBansal  Ok will do!

[2019-11-29 23:58] jordmondson commented on #6724
Hi @varnika2212 and @Neilblaze , I've noticed this issue hasn't been commented on for a few weeks now and hope it's ok for me to have a go at this. No worries if not :)

[2019-11-30 05:36] SidharthBansal commented on #6239
I have updated the guidelines. Mentors are requested to re-read it!
@ananyaarun @IshaGupta18 @Divy123 @jywarren @debck @gauravano @sagarpreet-chadha etc.

[2019-11-30 07:36] pydevsg commented on #6871
@kushaggarwal this issue is reserved for `gci-candidates` . Please look on other issues , thanks :)

[2019-11-30 08:00] SidharthBansal commented on #6871
@pydevsg this issue is already taken by @kushaggarwal so we can't keep it in GCI.
First come first serve is followed in OS.
@kushaggarwal in case you want any help to solve this issue please feel free to ping me or any other mentor.
Best of luck @kushaggarwal
Regards
Sidharth

[2019-11-30 10:11] kushaggarwal commented on #6871
Okay Thanks @SidharthBansal
Will surely contact in case of any problem

[2019-11-30 15:06] gauravano opened #6882 "Refactor search service code"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Code for the search_service can be found here -
https://github.com/publiclab/plots2/blob/master/app/services/search_service.rb

**What's required:**
1. Refactor the methods

[2019-11-30 15:49] SidharthBansal commented on #6882
Hello Gaurav, I have published this task.
The beginner is primarily for FTOs or similar things, so I have moved this task to `medium`.
In case you want beginner label then please reformat it using FTO template and ping me.
Thanks for your help Gaurav!

[2019-11-30 15:57] nicoleiocana opened #6883 "Missing Email Causes User to be Banned"
### Please describe the problem (or idea)

I attempted to log in using my username and password, then was prompted with the alert "that I was banned and if I believed this to be in error to contact the moderators." During my conversation with the moderators, they notified me that my email address was not associated with my username.

I was notified that the dev team was DM'ed my email address to k

[2019-11-30 16:18] nstjean commented on #6880
Hi @govindgoel ! Thanks for helping!! Can you include a link to the file in the post? Are the line numbers 6, 11, 15 and 23 correct? Right now that code looks like it's all one piece to copy and paste, it could be confusing.

[2019-11-30 16:18] nstjean commented on #6881
@govindgoel Can you add in a link to the file? Thank you!!

[2019-11-30 16:18] nstjean commented on #6579
@govindgoel Great! I'll add them to my list!

[2019-11-30 16:38] govindgoel commented on #6880
Yeah thanks for suggestion I have updated  the info..
Happy Coding!

[2019-11-30 16:52] nstjean commented on #6880
Thanks! Looks great! :)

[2019-11-30 22:49] govindgoel commented on #6814
I have submitted a pull request on this but some more files to change.

[2019-12-01 11:41] SidharthBansal commented on #6845
Hello Folks,
We ultimately did it :-)
👍 💯 🎖 🚀
![image](https://user-images.githubusercontent.com/20972099/69913316-41b2b900-145c-11ea-8905-4b73491ed20c.png)
I am so happy to have a pool of really helpful mentors this winter, you all are doing an amazing job. You all must be proud of yourself. We did an initial set of tasks.
This week PR review grading of GCI students is done by @keshav234156 so al

[2019-12-01 16:40] CoderJolly commented on #6808
Students can ping the mentors of the respective repos or projects in order to seek help or guidance.
**All Repos/Projects -** @jywarren
**Mapknitter -** @gauravano , @SidharthBansal , @sashadev-sky , @IshaGupta18 , @cesswairimu , @divyabaid16
**Plots2 -** @gauravano , @SidharthBansal , @IshaGupta18 , @ananyaarun , @pydevsg , @sashadev-sky , @cesswairimu
**Leaflet-Environmental-Layers -** @ananyaar

[2019-12-01 16:41] CoderJolly commented on #6808
@namangupta01 @jywarren @ViditChitkara  @ananyaarun @aSquare14 @cesswairimu @CleverFool77 @debck @Divy123 @divyabaid16 @ebarry @gauravano @harshithpabbati @IshaGupta18 @geekychasser @lohitha02 @keshav234156 @newbazz @rexagod @rishabhptr @sagarpreet-chadha @samagragupta @sashadev-sky @sidntrivedi012 @vaibhavmatta @subhahu123 @StlMaris123 @starkblaze01

[2019-12-01 16:43] CoderJolly commented on #6808
Students can ping the mentors of the respective repos or projects in order to seek help or guidance. 🎉 👍
ALL: @jywarren
Mapknitter: @gauravano, @SidharthBansal, @sashadev-sky @IshaGupta18, @cess @divyabaid16
Plots2: @gauravano, @SidharthBansal, @IshaGupta18, @ananyaarun, @pydevsg, @sashadev-sky, @cess
SWB: @gauravano, @SidharthBansal, @cess @sidntrivedi012
simple-data-grapher: @IshaGupta18, @pydev

[2019-12-01 17:00] SidharthBansal commented on #6845
All mentors are requested to visit https://github.com/publiclab/plots2/issues/6808 and edit it if needed.
Also, it is mentor's responsibility to redirect their students to this post so that we can warmly welcome them :-)

[2019-12-01 17:01] SidharthBansal commented on #6845
Please don't ask personal information like name, age, gender, etc from any student. Students are not allowed to post anything except code and documentaion.
Thanks

[2019-12-01 18:19] govindgoel commented on #6814
Hey @cesswairimu  I would like to work on this issue if it is still available and I ask you to please elaborate what exactly to be done. And I also apologise for the PR's I mentioned without prior advise.
Happy Coding!

[2019-12-02 14:08] kushaggarwal commented on #6871
Hi I was trying to set up the project inorder to work for the problem above but not able to set it up it says the error as shown image
Can you please help
![Screenshot 2019-12-02 at 7 37 40 PM](https://user-images.githubusercontent.com/44523552/69965912-4b5f1e00-153b-11ea-9f27-819e14397218.png)

[2019-12-02 15:53] #6832 closed

[2019-12-02 16:23] SidharthBansal commented on #6871
Have you updated your bundle and done bundle install?

[2019-12-02 17:00] jywarren commented on #6233
Ah, i'm sorry - I think i was mixing things up. My apologies.

I'm thinking about the discussion of whether on SIGNUP we want to leave people on the dashboard or on the page they came from, so that's unrelated to this issue on LOGIN.

Signup-related issues have sometimes been opened to suggest that people end up back where they came from but my understanding is that they need to arrive on the dash

[2019-12-02 17:10] jywarren commented on #6845
@SidharthBansal and everyone who helped make this happen -- tremendous work!!!! 🎉🎉🎉🎉🎉🎉🎉

This is an amazing effort. Great job, everyone!

[2019-12-02 17:21] kushaggarwal commented on #6871
Yes I have executed the bundle update command but it throws the below error first and then the one in above image
![Screenshot 2019-12-02 at 10 49 02 PM](https://user-images.githubusercontent.com/44523552/69980406-32b03180-1556-11ea-8993-1ce03af1f5fd.png)

[2019-12-02 17:22] jywarren commented on #6501
OK, i am thinking we can create a few "pilot" areas:

1. Comment maintainers (the whole comments system)
2. Editor maintainers
3. Database maintainers
4. Navbar maintainers
5. Profile maintainers
6. Login maintainers

Some are large and some small. But people who want to just get started could join one with a narrow set of responsibilities -- like database or navbar -- which have few moving parts

[2019-12-02 17:22] skilfullycurled commented on #6883
Just chiming in here to add some information from the moderators point of view.

1) The email issue became appearant to us because when we tried to look up @nicoleiocana's using the email lookup in the moderation back end, the email could not be found.

2) However, once we had the username and I went to the profile page, @nicoleiocana's email *was* on the profile page *and* it was the correct emai

[2019-12-02 17:36] #6724 closed

[2019-12-02 17:39] skilfullycurled commented on #6883
Ah, I see why, seems like @nicoleiocana was testing something, and as this was the first post, I can see how that could be interpreted as spam-like.

https://publiclab.org/notes/nicoleiocana/11-09-2019/test-for-blank-tag

More importantly (and I'm embarrassed to say this), both @nicoleiocana's email and profile were correct in both the initial spam notification email and the post "marked as spam"

[2019-12-02 17:45] jywarren opened #6887 "Outreachy project planning"
First, congratulations again, and thank you for choosing Public Lab for your Outreachy fellowship! :tada: :tada:

I wanted to start to get our respective project plans aligned; first because we will have two fellows working together on this, and second, because there have been and will continue to be some other parallel and overlapping projects with connections to your work.

This project fits int

[2019-12-02 17:46] jywarren commented on #6887
I've been organizing a more list-style planning issue here, with lots of related issues linked in and grouped; i'll try to organize that today! https://github.com/publiclab/plots2/issues/6801

[2019-12-02 17:48] jywarren commented on #6285
Thank you all so much, and congratulations to @nstjean @crisner -- but ALSO thank you to each and every person who participated so far! You are all welcome in our community and please consider applying with us again in the future. ❤️

We're working on next steps here: https://github.com/publiclab/plots2/issues/6887

[2019-12-02 17:48] #6285 closed

[2019-12-02 18:18] nstjean commented on #5882
My update to fix the profile page tagging doesn't seem to have fixed this issue yet.
- Should "Add your location" button be hidden if the user already has a location entered?
- Or should their location be changed from the new input from the /people/ page?

I'll get this working with the javascript functionality that now exists.

[2019-12-02 18:22] ygaitonde commented on #6851
Hi, I claimed this issue!

[2019-12-02 18:32] jywarren opened #6888 "Navbar wrapping poorly at 1046px wide"
Our navbar was recently reworked and it looks like there is at least one state where it wraps incorrectly: when the window is 1046px wide:

![image](https://user-images.githubusercontent.com/24359/69984739-cad2fa00-1507-11ea-9fd6-b0d59fb74837.png)

For comparison, here it is working properly:

![image](https://user-images.githubusercontent.com/24359/69984781-dfaf8d80-1507-11ea-9576-ac01e123dfe0.pn

[2019-12-02 18:36] SidharthBansal commented on #6851
Are you a GCI student?
THis issue is reserved for GCI students only

[2019-12-02 18:37] ygaitonde commented on #6851
Yes, I am.

[2019-12-02 18:38] SidharthBansal commented on #6851
Great!

[2019-12-02 18:38] SidharthBansal commented on #6851
Go ahead!
Have you installed the repository? If no then please go ahead and install it!

[2019-12-02 18:40] ygaitonde commented on #6851
Yes, I have forked it and cloned it to my local machine. Is there any better place to chat than on this issue? I will need some help as this is my first time contributing open-source :)

[2019-12-02 18:48] SidharthBansal commented on #6851
This is open source so this is the best place to discuss things :-)

[2019-12-02 19:05] IshaGupta18 commented on #6808
Hey Everyone! GCI Candidates are welcome to contribute to our repositories! They are requested to read some of the issues pinned here: https://github.com/orgs/publiclab/teams/gci/discussions?pinned=1

[2019-12-02 19:14] ygaitonde commented on #6851
I'm following through the README.md on plots2 to get started, and I'm stuck where I am supposed to enter 'passenger start' at the . I am facing the error passenger: command not found.

[2019-12-02 19:23] jywarren commented on #5882
I guess hidden makes sense. Thanks a lot!!!!

On Mon, Dec 2, 2019, 1:18 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-02 19:23] someshkar commented on #6852
Hey! I just claimed this issue.

[2019-12-02 19:27] jywarren commented on #6887
I also wanted to point to this great resource on testing your work on the `unstable` server -- it's a great way to see how things run in an environment almost identical to the production server! https://github.com/publiclab/plots2/blob/master/doc/TESTING.md#testing-your-work-with-unstable

[2019-12-02 19:30] jywarren opened #6889 "Map layer permalinks get overwritten on page open"
part of #6801 -
Leaflet Environmental Layers has a great feature which appends the displayed layers to the URL hash; so, if you enable the "pfasLayer" layer while on https://publiclab.org/maps, the URL will look like this:

https://publiclab.org/maps#3/41.00/-71.00/pfasLayer

Note that it also includes the latitude/longitude.

However, if you copy that link and open it somewhere else, that's not p

[2019-12-02 19:31] jywarren commented on #6887
There are really a lot of different moving parts in this project, so please ask questions if you get lost or confused! Or see a way to do things that'd be better!

For example, here's an instance of using LEL within plots2 that isn't working correctly: https://github.com/publiclab/plots2/issues/6889

[2019-12-02 19:37] jywarren commented on #6852
Hi all, i'm sorry, but this issue makes modifications to the navbar, which is a reserved area -- discussion with @publiclab/community-reps is required before making changes here!

However, let me suggest that instead of changing the text, we add a tooltip, that says "Home" -- like this:

![image](https://user-images.githubusercontent.com/24359/69989200-1c33b700-1511-11ea-852d-56cc963d6ecd.png)

Th

[2019-12-02 19:38] someshkar commented on #6852
@jywarren so do I do that instead?

[2019-12-02 19:44] nstjean commented on #5882
Ok! I'll get this working.

[2019-12-02 19:51] steviepubliclab commented on #6323
by duplication I just mean people posting the same or similar questions.

[2019-12-02 20:02] nstjean commented on #6887
Ok great!

One question I have: in my proposal I have a plan for a new way of setting location on users profiles. Do you still want me to do this, even though it's not on the plots2 checklists?

[2019-12-02 20:07] jywarren commented on #6852
Yes please, that would be great. Thanks!

On Mon, Dec 2, 2019 at 2:38 PM Somesh Kar <notifications@github.com> wrote:

[2019-12-02 20:46] kubakorniluk commented on #6849
Hi, i claimed this issue

[2019-12-02 21:18] jywarren commented on #6849
Awesome! Thank you!

On Mon, Dec 2, 2019 at 3:47 PM Kuba Korniluk <notifications@github.com>
wrote:

[2019-12-02 21:39] jywarren commented on #6887
Sure! I think we will all need to update/refine/revise project plans and I'd love to workshop a new design idea as part of it! Also, the listings I've added so far are by no means complete or comprehensive.

I wanted to share this "how we work" issue which is a bit dense but could have some useful info for you both: https://github.com/publiclab/plots2/issues/5667

[2019-12-02 22:48] jywarren commented on #6887
OK, so @nstjean has identified a lot of great bugfixes and UI enhancements for location entry in Phase 1 - they all sound GREAT. Just be sure that the styling matches our style guide (esp the "Add a location" styling we've been trying to standardize - a white button with a red marker -- #6856) and the dashboard is about to be rebuilt #6787 but preserves a space for the Add your Location button the

[2019-12-02 22:57] jywarren commented on #6887
I also recommend that you each look through each others' proposals and think about how, as you get into the project, you might divide up the work for those middle sections which overlap most; for example, both of you have shared some really great UI mockups with ideas for where active layers might be displayed, and other elements. If we do a good job [developing things in small modular pieces](htt

[2019-12-02 23:00] nstjean commented on #6887
Yes that sounds great!! I'm going to take time to go through all the different lists and proposals and @crisner and I will decide how to coordinate our efforts!

[2019-12-02 23:02] jywarren commented on #6697
Closing this in favor of #213 but if there is another bug that can be disambiguated from that one, please re-open and add info! Thank you!

[2019-12-02 23:02] #6697 closed

[2019-12-02 23:54] arjunshekhawat5 commented on #6881
Hello,I am a new to open source and looking to contribute for the first time. Can I be assigned to this issue?
Thank you

[2019-12-02 23:59] govindgoel commented on #6881
Assigned to @arjunshekhawat5
Happy Coding!

[2019-12-03 00:51] chen-robert commented on #6871
@kushaggarwal

I just tried it and the installation worked for me on Ubuntu 18.04.3 LTS.

It appears you are running Mac OS, which might have some platform-specific problems. I found [this StackOverflow article](https://stackoverflow.com/questions/23536893/therubyracer-gemextbuilderror-error-failed-to-build-gem-native-extension) which might work for you.

[code]

[2019-12-03 02:24] crisner commented on #6887
Thanks for laying out all the information @jywarren! I'll start by going through all the information and our project proposals. I'll make sure to ask if anything is unclear. I'll have a discussion with @nstjean and plan our work accordingly.

[2019-12-03 03:47] someshkar commented on #6852
Hey, I abandoned this task for now.

[2019-12-03 04:06] kushaggarwal commented on #6880
Can I work on this issue

[2019-12-03 06:08] ananyaarun commented on #6852
Hi @someshkar ,
I believe you are a GCI student. Sorry for the confusion, Take a look at other issues that interest you with the label 'gci-candidate'

[2019-12-03 06:18] someshkar commented on #6852
@ananyaarun yeah, I'll do that, thanks!

[2019-12-03 06:34] chen-robert commented on #6808
@IshaGupta18 The link https://github.com/orgs/publiclab/teams/gci/discussions?pinned=1 doesn't seem to work for me. It gives a 404 error for some reason

[2019-12-03 06:42] keshav234156 commented on #6808
@chen-robert sorry for the inconvenience caused to you.Actually it's GCI mentor group and all the discussion that are present in that group are only accessible by the mentors

[2019-12-03 06:47] SidharthBansal commented on #6852
Ananya can you please modify the task as per Jeff's comments at both GCI
dashboard and here.
Thanks

On Tue, Dec 3, 2019 at 11:48 AM Somesh Kar <notifications@github.com> wrote:

[2019-12-03 06:48] SidharthBansal commented on #6852
Don't forget to hide unwanted comments and ping me at gitter pm to save the
changes at the dashboard (if I have to)
Thanks

On Tue, Dec 3, 2019 at 12:17 PM Sidharth Bansal <
bansal.sidharthcode@gmail.com> wrote:

[2019-12-03 06:50] arjunshekhawat5 commented on #6881
@govindgoel please review my submission.

[2019-12-03 07:03] SidharthBansal commented on #6849
@kubakorniluk this task is intended for GCI. Only GCI students are requested to solve this task. If you are not a GCI student then please see other tasks which don't have GCI label.
Thanks

[2019-12-03 07:14] SidharthBansal commented on #6501
From my experience with the GCI going on,
1. The number of reviewers in each repository is very less. (In total Plots2 have 6 mentors for GCI.)
2. A number of active reviewers vary a lot due to a busy reviewer's schedule. (In total 3 mentors are active now for plots2 (excluding me and Jeff) )
So, this approach is a little tough to be real as it is fragmenting things. I am a little afraid that most

[2019-12-03 07:17] SidharthBansal commented on #6851
Hello Yash,
We are glad to see that you have started working on Installation. :tada:
Don't forget to upload a screenshot after a successful installation and get
points for your installation task :-) :+1:
If you are using Ubuntu then you have to do passengers start at the
terminal. If windows then please do it at a command prompt.
Feel free to see the list of mentors for plots2 repo and ask help fr

[2019-12-03 08:19] crisner commented on #6889
I checked this out and looked over the code. But I can't seem to reproduce the behaviour in my local environment so that I could locate the code causing the issue. @IshaGupta18, would you be able to guide me on how to go about this?

[2019-12-03 08:26] Eshaabhasin opened #6894 "Update readme file"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-03 08:47] mezez commented on #6894
Hello. I'm claiming this one

[2019-12-03 09:35] cesswairimu commented on #6845
Hey @sashadev-sky, you had expressed interest of opening this week's next check-in...kindly let us know if you are still available to do that..Thanks all for getting gci ready :tada: :tada:

[2019-12-03 09:37] cesswairimu commented on #6871
Hi all, @kushaggarwal, were u able to fix your issue. Thanks @chen-robert :+1:

[2019-12-03 10:05] keshav234156 commented on #6894
@Eshaabhasin Thanks for opening-up this first-timer-only issue, but I couldn't find any changes that are to be made to fix this issue.Also, Do give a thorough read to #6808

[2019-12-03 10:50] govindgoel commented on #6880
assigned @kushaggarwal

[2019-12-03 10:58] cesswairimu commented on #6887
This is great..glad to work with you both..feel free to tag me incase of anything. Thanks

[2019-12-03 13:38] sagarpreet-chadha commented on #6889
Hey @crisner ,
When you open this link: https://publiclab.org/maps#3/41.00/-71.00/pfasLayer
Notice that pfaLayer is removed automatically, right?

The reason is the leaflet-hash library in LEL. We need to store the 'hash' variable somewhere such that it does not get re-initialize.

[2019-12-03 13:39] SidharthBansal commented on #6845
I guess Sasha is busy. Who is willing to open next weekly check in?
I want some adventurous theme this week. Should we write the most stupid
thing I ever done in life OR the most thrilling or adventurous thing ?
It has been many weeks we haven't done fun weekly check-ins
Let's discuss theme first!

On Tue, 3 Dec 2019, 3:05 pm Cess, <notifications@github.com> wrote:

[2019-12-03 15:24] jywarren opened #6896 "Map popups are offset from markers in PL content layer"
Hi @sagarpreet-chadha I noticed this odd bug where popups appear to the right of the content, on pages like https://publiclab.org/wiki/sandbox-3 -- would you mind taking a look? Thank you!

![image](https://user-images.githubusercontent.com/24359/70064106-f660ed80-15b6-11ea-9503-c81e3e192351.png)

[2019-12-03 15:38] jywarren commented on #6887
I also just added @crisner @nstjean to the @publiclab/soc team (which we use for various Summer of Code-style programs) which should give you considerably more access; to label, edit, and triage issues and pull requests! Welcome! 🎉

[2019-12-03 15:50] jywarren opened #6897 "Add a location modal on notes takes a long time to appear - 6+ seconds"
I'm wondering what may be slowing this down; let's investigate a bit with the web console!

![image](https://user-images.githubusercontent.com/24359/70066421-b00d8d80-15ba-11ea-860e-70935f7e8cc5.png)

![image](https://user-images.githubusercontent.com/24359/70066441-bbf94f80-15ba-11ea-9959-d3c30b199261.png)

You can try it out here:

https://publiclab.org/wiki/sandbox-3

[2019-12-03 16:41] crisner commented on #6889
Thanks for the reply @sagarpreet-chadha. I managed to figure out that I need to store the hash so it does not change but I had trouble figuring out where to do it. It has become harder as I couldn't replicate the behaviour in my local environment which means I can't confirm if I am working on the right file. Not sure if I am missing something. I'll try to look at it again tomorrow.

[2019-12-03 16:43] crisner commented on #6889
Ah, I am not sure if I just misunderstood your reply. Did you mean the problem lies in the LEL repo?

[2019-12-03 17:54] #5882 closed

[2019-12-03 17:54] #6881 closed

[2019-12-03 17:56] jywarren commented on #6889
I'm not 100% sure but I think that may be correct -- in the LEL codebase?

On Tue, Dec 3, 2019 at 11:44 AM Renisha Christie. A <
notifications@github.com> wrote:

[2019-12-03 18:05] crisner commented on #6887
I have listed a few tasks below for now and have tried to link them with existing issues. Hope to finish laying them out by tomorrow according to the tasks in our proposals.  @nstjean, please edit this to add the tasks you have laid out. @jywarren I have a few questions that I have included at the end.

## Plots2

- [ ] Debug search-for-location in the location
selector.

- [ ] Map layer permalink

[2019-12-03 18:39] jywarren commented on #6883
Not sure what might have happened, but I just double checked and was able to look up the account using the email:

![image](https://user-images.githubusercontent.com/24359/70079247-59ac4900-15d2-11ea-998d-fa286541eb7d.png)

I'm going to close this but if it happens again let's re-open and delve further in! Thanks, all!

[2019-12-03 18:39] #6883 closed

[2019-12-03 18:45] jywarren commented on #6323
Ah i see - and yeah, we can also try to do better on finding "similar posts" as you type yours, to reduce duplication as wel - we actually had that, but turned that feature off because it was causing site slowdowns :-(

![image](https://user-images.githubusercontent.com/24359/70079621-1b635980-15d3-11ea-9af2-b9e0f5b99011.png)

[2019-12-03 18:50] nstjean commented on #6887
I've updated @crisner 's post above with some tasks that I had planned for plots2.

We had some overlap in LEL and we'll have to figure out who will take what! Also in the [planning issue for geographic features for plots 2](https://github.com/publiclab/plots2/issues/6801) there are more tasks for plots 2, and in the [planning issue for LEL](https://github.com/publiclab/leaflet-environmental-layer

[2019-12-03 18:53] #6854 closed

[2019-12-03 18:54] nstjean commented on #6887
One question I have is about the location tools in Plots2. I notice that in some places it uses the pop-up modal, such as in your profile when you are adding a location. But then when you are writing a new post or page it shows an in-line form.
1. Is there a reason for having two different location input forms?
2. Should we consolidate to just one or the other?

[2019-12-03 18:55] jywarren commented on #6888
Noticing that the bad wrapping happens starting at 992px minimum width, which is a Bootstrap grid breakpoint: https://getbootstrap.com/docs/4.3/layout/grid/

[2019-12-03 19:12] nfarve commented on #6804
👋 @jywarren I think I have a working branch, but I a little confused on where this lives on the actual website. Can you walk me through the steps of how to view this feature in a local version on the website?

[2019-12-03 19:18] nstjean opened #6899 "Style "Add your location" button on /people/"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-03 19:23] #6860 closed

[2019-12-03 19:28] Uzay-G commented on #6882
Hey! I am working on this task and will claim it when my other task is accepted. For the [code] from line 58 to 75 I have refactored those methods into one. Should I find when the old methods are used and replace them with the new one on my forked repo? Thanks!

[2019-12-03 19:33] jywarren commented on #6804
Sure, you can see the button in action on this page: https://publiclab.org/wiki/sandbox-3

And, if you make a wiki page locally, you can get the same kind of map to appear by using this shortcode:

[code]

That opens a map with those layers at that location. Thanks!!!

[2019-12-03 19:56] chen-robert commented on #6864
Hello @SidharthBansal, can I claim this task?

[2019-12-03 19:57] mikepetridisz commented on #6899
Can I claim this issue? I haven't contributed to your codebase before. I see no open PR!

[2019-12-03 20:02] jywarren commented on #6856
Just noting this could be related to #6899 and cc'ing @nstjean !

[2019-12-03 20:08] jywarren commented on #6887
Hi all! Great questions, and great to hear from you all! I'll just jump right in:

Ideally it leads to a page which introduces LEL, and the lays out simple steps for suggesting/submitting a new layer idea (url, type, etc etc) so that we gradually add more layers. We don't yet have a simple way for non-developers to suggest layers, but we do have a `new-layer` label... in the meantime this could le

[2019-12-03 20:23] jywarren commented on #6899
Yes please, that'd be great!

On Tue, Dec 3, 2019 at 2:58 PM Miklos Petridisz <notifications@github.com>
wrote:

[2019-12-03 20:35] nstjean commented on #6887
That makes sense! I do think they need to look more similar, I'd love to style the popup modal version to look more like the inline version.

[2019-12-03 20:43] jywarren commented on #6887
sure, want to share a mockup in an issue in
https://github.com/publiclab/leaflet-blurred-location/ ?

On Tue, Dec 3, 2019 at 3:36 PM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-03 20:50] nstjean opened #6902 "Fix unwanted background color change on /post when map is clicked on"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially