[2022-04-12 17:43] Ademola101 commented on #10844
Installing webpacker and react. There are some file conflict, should I accept or reject it
![Screenshot (8)](https://user-images.githubusercontent.com/54910756/163022215-9ffccf1c-6bf9-4bca-8092-dcadaeec9f7b.png)

[2022-04-12 18:07] TildaDares commented on #10153
Hi @essilfiequansah, there's an issue reserved for you in https://github.com/publiclab/mapknitter/issues/1645 for 24 hours!!

[2022-04-12 18:32] essilfiequansah commented on #10153
Thank you @TildaDares I'll get to work on it

[2022-04-12 18:34] vaishnavi4444 commented on #10153
Hi @TildaDares I have been added to the list long time back but I have not been assigned any first timer issue.

[2022-04-12 19:25] kunmi02 commented on #10844
@Ademola101 please reject it. Type `n` and press enter

[2022-04-12 19:31] mittal-parth commented on #10915
Hi @jywarren, @cesswairimu and @TildaDares!! Please find my proposal [here](https://publiclab.org/notes/mittalparth22/04-12-2022/gsoc-2022-proposal-refine-user-interfaces-across-publiclab-org) for the project idea _Refine User Interfaces across PublicLab.org_. I would highly appreciate any feedback on the same!

Thank you!

[2022-04-12 20:05] void-ness commented on #10915
I personally believe that can be a wonderful option that can be explored in future for dealing with naive and lost GSOC applicants like me :) However the community is so helpful I never felt alone. Thank you for being so helpful with my queries on gitter as well as on github 😊

[2022-04-12 20:31] #10817 closed

[2022-04-12 20:37] #10959 closed

[2022-04-12 20:37] #10973 closed

[2022-04-12 20:47] jywarren commented on #10944
Excellent digging, @PeculiarE! And thorough testing, thank you!

Hmm, ok, so I think what's happening is that we removed autolink from early in the process, and added it AFTER the react and non-react processes diverge. So possibly it is now working in non-react, but we have to find the corresponding spot where the react version needs an autolink step added.

We may need some help from @noi5e to tr

[2022-04-12 20:48] #10677 closed

[2022-04-12 20:54] jywarren commented on #10947
Hi @rajvidg can you link us to your pull request so we can check? Thank you!!

[2022-04-12 21:06] jywarren commented on #10997
Hi @RaviAnand111 i think this is stored in a database feature, so isn't in our codebase. But the html is:

[code]

If you can suggest another and show us what it looks like, I can make the change. However, we may need to ensure it works on both light and dark backgrounds. Thanks!

[2022-04-12 21:16] jywarren commented on #4072
Sorry, to clarify-- yes, similar code exists on show.html.erb -- however, what were proposing is that we use this very similar code to permanently insert generated HTML into the node body field, and store it that way in the database, so that we can then remove fields like `drupal_content_field_mappers` and other custom database columns from the database schema. This will simplify our database, as

[2022-04-12 22:18] Forchapeatl commented on #4072
It does, thank you.

[2022-04-12 22:19] Forchapeatl commented on #4072
It does , thank you.

[2022-04-13 05:14] shikha2961 commented on #10840
Hi Everyone!
Myself Shikha. I am a B.Tech. CSE sophomore at IGDTUW, India. I am looking forward to working and contributing to designing a new full-screen user interface for the Infragram.org project through the Outreachy program. The idea behind this project is amazing. I'm so excited to be here.
Thank You!!

[2022-04-13 05:23] shikha2961 commented on #10153
I'm an outreachy applicant 2022. C, C++, HTML, CSS, Javascript, Node.js, Express.js and, Databases are some of the technologies I'm familiar with. Please assign me an FTO issue.
Thank You!!

[2022-04-13 09:16] Ademola101 commented on #10844
@kunmi02 Thank you. However, I am getting this error after I start the server by passenger start
![Action Controller_ Exception caught - Google Chrome 13_04_2022 10_13_49 am](https://user-images.githubusercontent.com/54910756/163143353-673362ae-f627-4eeb-8a92-4197d11e530f.png)

[2022-04-13 09:31] kunmi02 commented on #10844
@Ademola101 Kindly follow the steps I share here https://github.com/publiclab/plots2/issues/10844#issuecomment-1094139973

[2022-04-13 09:39] keshavgbpecdelhi commented on #10915
Hi @jywarren, I want to be gsoc contributor for public lab for [Refine User Interfaces across PublicLab.org](https://publiclab.org/wiki/gsoc-ideas#Refine+User+Interfaces+across+PublicLab.org). I am unable to understand this statement `Brainstorm better interlinked navigation between https://publiclab.org/wiki pages <> https://store.publiclab.org/ <> individual tag pages (like https://publiclab.org

[2022-04-13 09:57] simransia opened #11049 "Improve the alignment of the navigation bar links"
The "store" and the "donate" buttons on the navbar are not looking good as they are having unequal widths and are not aligned well on the navbar.
Along with that, the "About us" link on the navigation bar is aligned more towards the right which is also not looking good. Secondly, it should be changed from "About us" to "About Us"

So, I want to make the store and donate buttons align to the right

[2022-04-13 10:02] simransia commented on #11049
Hello @TildaDares , should I work on this issue and make a pull request?

Please let me know. Thank You!

[2022-04-13 11:08] TildaDares commented on #11049
Hmmm I’m not sure 🤔. I like the way all of the nav links related to the public Lab community and the content related to the user are separate.

[2022-04-13 11:13] Moyo-tech commented on #10153
Hi @TildaDares, I am an Outreachy applicant 2022. I am also new to contributing to open source skills in frontend development. I would like to contribute to the: "Design a new full-screen user interface for Infragram.org". Please can you assign me a first-time issue to work on?

[2022-04-13 12:19] shubhi-arora commented on #10153
Hey @TildaDares
I am an outreachy applicant for 2022. My tech-stack is C++, HTML, CSS, Javascript, Node.js, MongoDB etc. Can you please assign me an FTO issue?

[2022-04-13 13:48] meeddhhaa commented on #10153
Hey @TildaDares! I'm new here and I'm an Outreachy applicant.  I've worked with JavaScript, React.js , Bootstrap 3 as well as HTML and CSS. I'm also skilled in UI/UX. I'd love to contribute to this project, could you please assign me an FTO?

[2022-04-13 13:56] TildaDares commented on #11049
@simransia I’m not worried about code breaking. I just don’t see how Store and Donate relate to Dashboard.

[2022-04-13 14:01] RaviAnand111 commented on #10997
Hey @jywarren, thanks for responding, Earlier our goal was to make the center arrow of button white instead of transparent. But as you told, Do I have to suggest complete new button to be implemented which works in light and dark backgrounds or just the change to be made.
Thanks

[2022-04-13 14:22] simransia commented on #11049
Ok @TildaDares , I got it.
Then I will not align the Store and donate buttons to the right, which will keep the public lab's community links and the content related to the user separated.
I will only make the width of both the buttons equal and modify the "About us" link's margin-left and spelling.

**Then the navigation bar will look like this:**
![Screenshot (127)](https://user-images.githubuser

[2022-04-13 14:31] TildaDares commented on #11049
Sounds like a great idea @simransia. Thanks!

[2022-04-13 15:26] TildaDares commented on #10153
Hi @shikha2961, you can contribute to Infragram but we won’t be taking FTO requests for a while.

[2022-04-13 17:10] void-ness opened #11052 "UI update: making people's boxes equal in height"
Hello community members. While navigating through the Publiclab.org website I stumbled upon the people's page. The page is very well drafted. however the div containing each users details are visually not equal in height due to badges assigned to each user.
To give you all a better idea, please find attached a photo explanation of the above issue.

![image](https://user-images.githubusercontent.co

[2022-04-13 17:18] #10986 closed

[2022-04-13 17:42] Ademola101 commented on #10844
My development server is so slow and often bring out this error:

The Phusion Passenger(R) application server tried to start the web application, but this took too much time, so Passenger put a stop to that.

The stdout/stderr output of the subprocess so far is:
[fog][DEPRECATION] Unable to load Fog::Google::Compute
[fog][DEPRECATION] Falling back to deprecated constant Fog::Compute::Google. The p

[2022-04-13 17:50] TildaDares commented on #11001
@illyShelly This looks good. Do you think you could take this up yourself? It's possible we might have further discussion after opening a PR.

[2022-04-13 17:56] TildaDares commented on #10915
Hi @keshavgbpecdelhi, this comment might help https://github.com/publiclab/plots2/issues/10754#issuecomment-1068086159

[2022-04-13 18:12] illyShelly commented on #11001
@TildaDares hi, sure it'll be easier. I'll correct also indentation in the file. It's mishmash. Thank you for your time :)

[2022-04-13 18:35] TildaDares commented on #11052
Hi @void-ness, this looks really great. Can I see a screenshot of a card with longer tags and one without? Something like this:

<img width="573" alt="Screenshot 2022-04-13 at 19 35 20" src="https://user-images.githubusercontent.com/63427719/163247407-74269fb0-020d-4bfb-a8c7-1826cb7da488.png">

[2022-04-13 18:36] TildaDares commented on #11023
Resolved in #11033

[2022-04-13 18:36] #11023 closed

[2022-04-13 21:24] void-ness commented on #11052
Hey! Glad to know that. Here's the requested screenshot.

![image](https://user-images.githubusercontent.com/78547746/163271486-99d78c9b-dea5-44dc-829e-f5433ade94a6.png)

(one with longer tags on one card and none on other)

![image](https://user-images.githubusercontent.com/78547746/163271737-de935143-46a1-4135-af65-25ba51ece0f5.png)

(other examples for reference)

apart from that, I would like

[2022-04-13 23:43] fetian-debug commented on #11019
Hi @TildaDares ,Please kindly review my first pull request. Thank you

[2022-04-14 04:55] romasinha commented on #11014
If this issue is not resolved yet, can I take it up @TildaDares?

[2022-04-14 05:01] imranburki commented on #10984
@PeculiarE please review. Thanks

[2022-04-14 08:26] mr-funtor commented on #11019
Hi @fetian-debug  I was assigned this issue, and I have already implemented the change. You can check out the comment above yours. Thank you.

[2022-04-14 08:36] TildaDares commented on #11052
@void-ness This looks really great. You can go ahead and open a PR for it. Thanks!!

[2022-04-14 08:38] preeti-14-7 commented on #10986
@TildaDares
Hii due to different time zone I missed this FTO. Can you assign any other issue to me.I m waiting from a long time . Please

[2022-04-14 11:21] bkplaravel2018 commented on #10153
Hello everyone! I am Bhoomi Parekh applicant of Outreachy 2022 from India. My expertise on HTML, CSS, JavaScript, Php, Bootstrap3 and Bootstrap 4, etc. I am very exited to contribute in infragram as part of Outreachy2022. Kindly assign me a first time issue to work upon.

[2022-04-14 15:59] BioMeindinyo commented on #10840
Hello everyone, I'm Bio (pronounced as Beeyo). I've always love open source(even though this is my first time contributing) and all that it stands for and I'm looking forward to working and contributing to this project.

[2022-04-14 16:37] TildaDares commented on #10987
Hi @helenalvp, do you need help with this?

[2022-04-14 18:54] helenalvp commented on #10987
Hi! I apologize for the late response. When I was trying to work on it this week, my computer wouldn't start, and I had to take it to the shop. I'm picking it up in a couple of hours after work, and should have this issue cleared if not tonight then by tomorrow

[2022-04-15 00:56] nobiaya commented on #10988
@TildaDares has this issue for me been calmed can I still go ahead and make a pull request

[2022-04-15 02:32] fetian-debug commented on #10915
Hello, I am Fetian, a potential GSoC applicant. I am looking for an FTO issue. Please help to get one.

[2022-04-15 04:49] rajvidg commented on #11052
Hey! is this issue open? and if yes, can I contribute to it? Please let me know. :)

[2022-04-15 07:51] Ademola101 commented on #10844
![Web application could not be started - Google Chrome 15_04_2022 8_49_05 am](https://user-images.githubusercontent.com/54910756/163542057-51cc40a8-7052-4dcf-8368-fd48c2f11466.png)

[2022-04-15 11:15] #10984 closed

[2022-04-15 11:25] TildaDares commented on #10947
Hi @PeculiarE Is there an update to this issue?

[2022-04-15 11:41] PeculiarE commented on #10947
Hi @TildaDares, the fix in this FTO doesn't work in the React comment rendering system, so @jywarren and I looked into fixing that (please see the original issue and conversation here: #10944). I believe we've got it figured out and I've tested the fix locally.

Maybe this issue can be closed (since the broken link in the normal commenting system has actually been fixed), and a separate FTO opened

[2022-04-15 12:31] nimit2801 commented on #11019
Please close this issue if it has already been solved, thank you

[2022-04-15 13:32] rajvidg commented on #10947
Sorry I missed this one :'( , I guess its done or should I do it now?

[2022-04-15 14:06] PeculiarE commented on #10947
Hi @rajvidg....you've done it already 😄....Thank you for working on this ❤️

[2022-04-15 14:19] rajvidg commented on #10947
Oh, alright!, thank you for giving me a chance!! :)))

[2022-04-15 14:27] rajvidg commented on #11052
I am an Outreachy applicant and an UI/UX designer and front end web developer, please let me know the details regarding this issue.

[2022-04-15 14:59] Ifetakuro commented on #11014
@Radhika-Saini have you been able to fix the bug? do you mind me helping if you havent?

[2022-04-15 15:22] Ifetakuro opened #11059 "Add margin to “welcome to new dashboard”"
![6264171A-9465-4A0F-8611-F0662C04B977](https://user-images.githubusercontent.com/93978195/163588173-cd189ca3-a6f0-4323-a5ef-3b391c6234e5.jpeg)

### Please describe the problem (or idea)

When on small screen the “new dashboard” div is too close to the last grid element. Thereby looking like a single element.

I expect to see a gap between the grid elements and the welcome to new dash board. There

[2022-04-15 15:50] TildaDares commented on #11059
Hi @Ifetakuro, go ahead!!

[2022-04-15 15:51] Ifetakuro commented on #11059
@TildaDares thank you

[2022-04-15 16:59] rajvidg commented on #11014
@Radhika-Saini is this issue still open? If yes, can I help to resolve it.

[2022-04-15 17:01] rajvidg commented on #11006
@simransia @TildaDares is this issue still open or assigned to someone, please let me know, I would like to help if possible.

[2022-04-15 17:11] rajvidg commented on #10988
@TildaDares is this issue still open? Please let me know, I am an Outreachy applicant.

[2022-04-15 18:02] Radhika-Saini commented on #11014
Yeah @Ifetakuro, @rajvidg we all can do this together.

[2022-04-15 18:16] rajvidg commented on #11014
Oh great :) , so, should we ask the mentors first or proceed?

[2022-04-15 18:20] Ifetakuro commented on #11014
@Radhika-Saini @rajvidg once we get a go ahead from @TildaDares we should be able to work on it together :)

[2022-04-15 18:52] rajvidg commented on #11014
Yes, I was also thinking the same. :)

[2022-04-16 04:24] sakshi-2412 commented on #10754
Hello @jywarren, @cesswairimu, @TildaDares. I had a doubt regarding Outreachy's mapknitter project.

Here, do we have to use an exisiting Public Lab API?

[2022-04-16 05:43] shubhi-arora commented on #10978
Hi @TildaDares if this issue is still open then please assign me this!

[2022-04-16 05:45] shubhi-arora commented on #10938
Hi @TildaDares Please assign me this issue.

[2022-04-16 05:46] AmineZCS commented on #11006
@anirudh-t-d @TildaDares @rajvidg  is this issue still open? I would like to make my first contribute

[2022-04-16 05:46] shubhi-arora commented on #10977
Hi @TildaDares please assign me this issue. I am an outreachy applicant.

[2022-04-16 08:16] anirudh-t-d commented on #11006
I am working on it.

[2022-04-16 08:54] kunmi02 commented on #10844
Hey @Ademola101 Have you been able to resolve the issue?

If you look at the passenger server, you should some errors on the server. Can you share what you see on the server here ?

[2022-04-16 16:43] Ademola101 commented on #10844
@kunmi02 this is the error

[2022-04-16 20:31] Forchapeatl opened #11061 "HTML links on Publiclab comments overflows on mobile screen"
![image](https://user-images.githubusercontent.com/24577149/163690035-b5e53209-b2a7-4190-b588-6e00b27710cc.png)

### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point

[2022-04-16 20:35] Forchapeatl commented on #10915
[here](https://github.com/publiclab/plots2/issues/11061) is an FTO for you

[2022-04-16 21:33] cavcarlosavieira commented on #10840
Hello! I'm Carlos, an Outreachy applicant. This is my first time contributing to an open source project and I'm so excited to be here. And I need help, guys. What's the next path?

[2022-04-16 22:17] fetian-debug commented on #11061
Hi @Forchapeatl  @TildaDares, Please kindly review. Thank you!

[2022-04-16 22:28] void-ness commented on #11052
Thank you so much for the go ahead. I am more than happy to work on it. I would like to mention one more issue related to this. In the people page, each card of a user can show at most 3 badges in the current GUI. Here attaching an image for reference.

![gsoc2](https://user-images.githubusercontent.com/78547746/163692955-e52f9080-4157-4e5e-b291-234cd2fbbe70.png)

[2022-04-16 22:31] void-ness commented on #11052
Hey! I would love working with you to solve the above mentioned issue. Do you mind helping me out? I am currently struck at locating the Cascading style sheet for the page in discussion. Can you help me with its file path in the repository?

[2022-04-16 23:57] Forchapeatl commented on #11061
Hello @fetian-debug , I am not a mentor. Please address this message to @TildaDares

[2022-04-17 07:45] kunmi02 commented on #10844
@Ademola101 That is not the actual error. Kindly look again. There should be something you can point that could be cause of the erro. Probably database error or something

[2022-04-17 08:35] Pragati1419 commented on #9899
Hi @noi5e! I am completely new to open source but I'd love to contribute. I am comfortable with C++, HTML-CSS, Javascript and React. It would be great if I could contribute and can have some experience. So please add me in, Thanks :)

[2022-04-17 08:38] Pragati1419 commented on #10153
@TildaDares  thanks! for adding my name to the FTO list.I am working on it. Hopefully, I could make some good contributions,

[2022-04-17 08:41] Pragati1419 commented on #9945
@TildaDares Can I create FTO on this?

[2022-04-17 10:16] akanbifatimah opened #11063 "Low-resolution background Image on all Topics links in footer."
The footer links in the Topics session of https://publiclab.org/wiki/infragram#cameras page all have a low-resolution background Image.
**Please describe the desired behavior.**
Background-images with high-resolutions.
**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.
![image](https://user-images.githubusercontent.com/75247624/163710175-150ddc73-814

[2022-04-17 12:09] TildaDares commented on #11061
Hi @Forchapeatl, can you send me the link to the page that has this bug? Thanks!!

[2022-04-17 20:43] abhishekchauhan15 commented on #11019
Hey @VictoriaAjala can you please open some more first-time issues so that we can contribute more.

[2022-04-17 20:47] NikitaKhabya commented on #10988
I'd like to work on this, @TildaDares please let me know if this issue is still open?

[2022-04-17 20:52] NikitaKhabya commented on #10987
Hey @helenalvp, have you opened a pull request already? If not then I'd like to work on this issue with you.
Thank You.

[2022-04-17 21:41] Forchapeatl commented on #11061
Hello @TildaDares   [https://publiclab.org/wiki/location-privacy](https://publiclab.org/wiki/location-privacy)

[2022-04-18 04:23] guyinmanhattan2021 commented on #11002
Hi @kachifako can I contribute to this?

[2022-04-18 04:39] guyinmanhattan2021 commented on #10987
Hi @TildaDares can I contribute to this?

[2022-04-18 04:47] helenalvp commented on #10987
@TildaDares It looks like my hardware situation isn't going to improve anytime soon. Please give this issue to the next person that's waiting to contribute. Thank you.

[2022-04-18 06:43] muskan2901 commented on #10840
Hello Everyone! I am Muskan. A second-year undergrad at IGDTUW, India. I have been accepted to the initial Outreachy round and I'm very excited to open my contribution to Publiclab.

[2022-04-18 07:59] TildaDares commented on #10987
I’m sorry to hear that @helenalvp.

[2022-04-18 07:59] TildaDares commented on #10987
Hi @NikitaKhabya, you can take this up. Thanks!

[2022-04-18 08:03] TildaDares commented on #11019
Hi @mr-funtor, I can’t find your PR.

[2022-04-18 08:05] TildaDares commented on #11019
Hi @abhishekchauhan15, @VictoriaAjala is a contributor like you and she chose to help newcomers by creating this FTO.

I also left #10988 for you to claim but I haven’t heard anything from you.

[2022-04-18 08:08] TildaDares commented on #11002
Hi @Crisoal, do you need help with this?

[2022-04-18 09:25] TildaDares commented on #11061
Looks good @Forchapeatl. Thank you!!

[2022-04-18 09:30] TildaDares commented on #10962
Resolved in #10966

[2022-04-18 09:30] #10962 closed

[2022-04-18 09:33] #11059 closed

[2022-04-18 15:15] #10983 closed

[2022-04-18 15:16] PeculiarE opened #11065 "Unchecking the select-all checkbox does not disable spam2 buttons"
### Please describe the problem (or idea)

I clicked and unclicked on the select button on the mini-navbar on spam2 dashboard and the spam2 buttons (spam, publish, delete etc) were enabled and disabled respectively.

However, once I tried to replicate same with the select-all checkbox on the table, I did not get the same result.

i expected that once I unchecked the select-all checkbox, the spam2

[2022-04-18 15:18] PeculiarE commented on #11065
Hi @cesswairimu, @TildaDares, @jywarren....can I work on this, please?

[2022-04-18 15:35] abhishekchauhan15 commented on #10988
Hello @TildaDares thank you so much for your patience, I have opened the PR but I'm not able to find why one of the test case is failing can you please review it

[2022-04-18 16:24] TildaDares commented on #11065
Hi @PeculiarE, great catch. Go ahead!

[2022-04-18 16:35] PeculiarE commented on #11065
Alright @TildaDares. Thank you

[2022-04-18 17:08] shubhi-arora commented on #10987
Hi @TildaDares Can you please assign me this issue?

[2022-04-18 18:50] abhishekchauhan15 commented on #11061
@TildaDares I have fixed this issue can you please review it.

[2022-04-18 19:09] abhishekchauhan15 commented on #10988
fixed it

[2022-04-18 19:13] abhishekchauhan15 commented on #11019
Apologies from my side, Now have created a PR kindly review it  @TildaDares

[2022-04-18 19:18] jywarren commented on #10840
Hi and hi everyone - so humbled by the number of people showing up here! Welcome all!

@cavcarlosavieira - We’re trying to collect a lot of Q&A on the program here in this discussion issue: https://github.com/publiclab/plots2/issues/10754 - I hope it's helpful.

Please also feel free introduce yourself in our chatroom at https://publiclab.org/chat

Then if you haven’t already, request a first-time

[2022-04-18 19:30] jywarren commented on #10840
Also, due to the high number of applicants for our programs this year, we are closing the Outreachy projects to new contributors in 24 hours, so please be sure to begin your proposal on the Outreachy site before we close it!

We want to see your proposal on PublicLab.org at https://publiclab.org/notes/cess/04-04-2022/call-for-proposals-outreachy-summer-2022 but in order to participate in the progr

[2022-04-18 19:32] jywarren commented on #10840
And sorry i should have said - you don't have to have completed or submitted it until the deadline on the 22nd, but you must begin it now or you won't be able to using the interface on their site. Thank you!!! 🎉

[2022-04-18 20:33] TildaDares commented on #11061
Hi @abhishekchauhan15, contributors are allowed to work on only one FTO. Also, @fetian-debug has already claimed this issue.

[2022-04-18 20:45] #11065 closed

[2022-04-18 20:51] #10988 closed

[2022-04-18 20:54] #11001 closed

[2022-04-18 21:02] cavcarlosavieira commented on #10153
Hi, guys!  I'm an Outreachy applicant 2022. I'm new to contributing to open source skills in frontend development. I would like to contribute to the: "Design a new full-screen user interface for Infragram.org". I have a little knowledge in JS. Could you please assign me an FTO issue?

[2022-04-18 21:18] on2onyekachi opened #11073 "Overflow of video in post"
Overflow of video across the screen size. which makes it difficult to view the content of the video on a mobile device.

https://user-images.githubusercontent.com/66228222/163877540-e85b6a82-7259-434e-873c-d357cd743b6b.mov

<img width="1440" alt="Screenshot 2022-04-18 at 21 21 01" src="https://user-images.githubusercontent.com/66228222/163877832-73e80f2f-ae19-4c00-a7e0-ab8b9608ced4.png">

The vide

[2022-04-18 21:20] noi5e commented on #9071
Apologies for the delay! @Yavnikaa, as you are the most recent interested person, feel free to take up this issue!

[2022-04-18 21:25] noi5e commented on #10944
Excellent work @PeculiarE! Yes, feel free to add this to the open FTO you mentioned, or even create a new one.

[2022-04-19 00:15] sarxxt commented on #10840
Hello! @jywarren should we provide the link to public lab proposal or draft it all on on outreachy website too? Also can we edit the proposal once we have published it on public lab ?

[2022-04-19 00:18] RaviAnand111 commented on #10840
Yes @sarxxt, We can edit proposal after publishing.

[2022-04-19 00:21] sarxxt commented on #10840
@RaviAnand111 thanks!

[2022-04-19 02:20] guyinmanhattan2021 commented on #11019
Hi @TildaDares, could you please assign this issue to me?

[2022-04-19 06:52] haydenmlh commented on #11002
Hi, I'd like to try this!

[2022-04-19 08:54] mr-funtor commented on #11019
Hi @TildaDares for some unknown reasons the PR keeps failing. Here is a link to the PR
https://github.com/publiclab/plots2/pull/11027

[2022-04-19 09:35] TildaDares commented on #11019
Hi @mr-funtor, can you reopen the PR? Thanks!

[2022-04-19 09:53] mr-funtor commented on #11019
Hi @TildaDares I have re-opened it. Thanks

[2022-04-19 11:46] simransia opened #11074 "Replace hard-coded strings with the translation function in the _dashboard.html.erb file and add new strings to the en.yml file."
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-19 11:49] BioMeindinyo commented on #11019
Hi @TildaDares could you please assign this issue to me?

[2022-04-19 11:50] simransia commented on #11074
Hii @TildaDares , kindly review this FTO issue.

Thank You.💛

[2022-04-19 14:38] PeculiarE opened #11075 "Add AutoLink to React Commenting System"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all) and fixing it will completely resolve the issue at #10944. We've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and hel

[2022-04-19 14:40] PeculiarE commented on #10944
Thank you ❤️  @noi5e! I've created a new FTO issue for this..

[2022-04-19 14:43] PeculiarE commented on #10947
Hi @TildaDares, I believe we can merge @rajvidg's PR and close this issue. I've opened a new one at #11075 for the React version fix. Thank you 😄

[2022-04-19 14:45] PeculiarE commented on #11075
Hi @TildaDares, please help review when you do get the chance. Thank you!

[2022-04-19 15:03] TildaDares commented on #10153
Hi @KindEni, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11075 for 24 hours!!

[2022-04-19 16:41] Sushil333 commented on #11075
Hii @TildaDares, I would like to fix this issue, can I?

[2022-04-19 16:42] saikmusunuri commented on #11074
Hey @TildaDares, as its labeled "fto-candidate", can I please work on this issue?

[2022-04-19 16:51] Sushil333 commented on #11074
Hii @TildaDares, I would like to work on this issue, can I take this issue?

[2022-04-19 19:50] bhamster07 opened #11076 "Pagination and results mismatched on questions tab of some tag pages"
### Please describe the problem (or idea)

I've encountered a bug on some tag pages when viewing the questions tab. For example, on https://publiclab.org/questions/tag/community, the tab icon shows 13 posts and there are 13 cards displayed below, but at the bottom there's a pagination menu that suggests 5 pages of results. When I click on any subsequent page, the page just displays the same 13 res

[2022-04-20 06:33] TildaDares commented on #11074
Looks good @simransia. Thank you!!

[2022-04-20 06:34] TildaDares commented on #11074
Hi @saikmusunuri, this issue is for first-timers only. Thanks!

[2022-04-20 06:34] TildaDares commented on #11074
Hi @Sushil333, go ahead. Thanks!

[2022-04-20 10:00] abhishekchauhan15 opened #11077 "Fix indentation in new.html.erb"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-20 10:04] abhishekchauhan15 commented on #11077
Hey @TildaDares Kindly review my FTO issue!

[2022-04-20 10:21] #10978 closed

[2022-04-20 14:45] Crisoal commented on #11002
i have done the first task but I am not sure of how to go about the second task

[2022-04-20 15:23] rajvidg opened #11078 "Add padding"
I saw this in the bottom of Infagram.org site's Q&A section where the "ask a question" call to action button was placed right below the scroll bar of Q&A section, I think there should be some gap between them for a better distinction.
I have attached a screenshot of the above bug:
<img width="909" alt="plots2_Issue1" src="https://user-images.githubusercontent.com/78178838/164265716-12588041-244e-4

[2022-04-20 15:34] rajvidg opened #11079 "Improve Card heights"
In the Infagram.org site, I came with the following bug of unequal card heights in the case of long text titles, so it can be improved by increasing the height of the shorter text cards accordingly.
I have attached the following screenshot for the context:
<img width="619" alt="plots2_Issue2" src="https://user-images.githubusercontent.com/78178838/164268099-83f9be05-dd4f-44b0-9656-adb25ab83d10.png

[2022-04-20 15:38] muskan2901 opened #11080 "Fix Indentation in user_files.html.erb"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's *simple, self-contained, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-timers

[2022-04-20 16:27] TildaDares commented on #11078
Hi @rajvidg, this has been resolved in https://github.com/publiclab/plots2/pull/10912. We're just waiting for the changes to be published on the main site. Thanks!

[2022-04-20 16:30] TildaDares commented on #11079
Hi @rajvidg, we're a bit skeptical about using a fixed height for cards because some of them would look empty compared with cards that have long titles. Do you have any solution in mind that removes this problem?

[2022-04-20 16:48] TildaDares commented on #10153
Hi @komal3120, there's an issue reserved for you in https://github.com/publiclab/infragram/issues/394 for 24 hours!!

[2022-04-20 16:49] TildaDares commented on #10153
Hi @preeti-14-7, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11075 for 24 hours!!

[2022-04-20 16:51] TildaDares commented on #11075
Reserved for @preeti-14-7 for 24 hours!

[2022-04-20 16:53] TildaDares commented on #11077
Hi @abhishekchauhan15, indentation should be two spaces deep. Thanks!!

[2022-04-20 16:56] Crisoal commented on #11002
it is to pull request

[2022-04-20 17:03] shubhi-arora commented on #10153
Hi @TildaDares Please assign me any issue!

[2022-04-20 17:09] rajvidg commented on #11078
Oh, okay, thanks for your time :)

[2022-04-20 17:13] rajvidg commented on #11079
Oh yes, it can be a thing, so okay, let me think some other approach then!

[2022-04-20 17:15] TildaDares commented on #11002
@Crisoal You can follow this guide https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github. Skip the steps you’ve already done.

[2022-04-20 17:56] Crisoal commented on #11002
ok, thanks

[2022-04-20 19:48] preeti-14-7 commented on #11075
thanks i will do it as soon as possiable

[2022-04-21 01:25] Pragati1419 opened #11083 "Issue : ✨First Timers only Issue"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-21 01:39] priyakumari02 commented on #10153
Hi @TildaDares , I am an Outreachy Applicant from India . I am very excited to join this community. I have experience in Javascript, HTML , CSS , Jquery, React, Nextjs . Could you please assign me an issue

[2022-04-21 05:30] imranburki opened #11085 "Adding Dynamic Bootstrap Breadcrumbs"
Breadcrumbs serve as an effective visual aid, indicating the location of the user within the site’s hierarchy. This property makes breadcrumb navigation a great source of contextual information for users and helps them to find answers on following questions:
Where am I?
Where can I go?

**Please describe the desired behavior.**
Add Dynamic Bootstrap Breadcrumbs to enhance website usability.

**Add

[2022-04-21 05:33] thisiskaransgit commented on #11080
I'll work on this

[2022-04-21 06:07] Deepthi562 commented on #10153
Hi @TildaDares, I am an outreachy applicant. I am eagerly waiting to contribute. Please assign me an issue. Thank you.

[2022-04-21 07:29] TildaDares commented on #11083
Hi @Pragati1419, this FTO does not contain any bugs for a first-timer to solve.

[2022-04-21 08:12] TildaDares commented on #11080
Hi @muskan2901, thank you for spotting this problem and opening an issue for it. I don't see an issue with this indentation. Also, we're choosing to focus on making sure that new contributions are indented properly since there are a lot of files that have indentation problems. Thank you for helping us improve Public Lab.

[2022-04-21 08:23] #11061 closed

[2022-04-21 08:26] #11078 closed

[2022-04-21 08:28] TildaDares commented on #11025
Closing this issue.

[2022-04-21 08:28] #11025 closed

[2022-04-21 08:30] TildaDares commented on #10952
All done. Thanks everyone!!

[2022-04-21 08:30] #10952 closed

[2022-04-21 08:33] TildaDares commented on #10938
This looks like an Infragram issue. I'll transfer it to the Infragram repo.

[2022-04-21 09:40] #11019 closed

[2022-04-21 09:45] TildaDares commented on #10987
Hi @NikitaKhabya, are you still interested in working on this?

[2022-04-21 12:03] TildaDares commented on #11083
Hi @Pragati1419, there's an issue reserved for you in [#1662](https://github.com/publiclab/mapknitter/issues/1662).

[2022-04-21 12:15] shubhi-arora commented on #10987
Hi @TildaDares Can you please assign me this issue? I am an outreachy applicant.

[2022-04-21 16:16] Pragati1419 opened #11089 "Inline Translation Function"
Find bugs and improve the style .
<!-- <div class="card-view">
  <% tags ||= @tags # allow overriding with local variable %>
  <% shown_nids = [] %>
  <% tags.each do |tag| %>
    <div class="card shadow-sm p-2 mb-3 bg-white rounded" >
      <div class="card-header mt-2" style=" padding:0.8em; background-color: inherit; border:none;">
        <% if current_user && current_user.following(tag.name)

[2022-04-21 17:37] TildaDares commented on #11083
Closing this

[2022-04-21 17:37] #11083 closed

[2022-04-21 18:21] Deepthi562 commented on #10840
@TildaDares hello!. Can I get a first-timers issue assigned?. Thank you.

[2022-04-21 18:51] Crisoal commented on #11002
I have been able to pull a request. Can you pls review it?

[2022-04-21 18:58] Crisoal commented on #11002
https://github.com/Crisoal/plots2

[2022-04-21 19:37] Sushil333 commented on #11014
Hi @TildaDares,
I have fixed this issue in pr https://github.com/publiclab/plots2/pull/11087/commits/050da3cb47e2aca7848a5b570511be6d23ef8b12 . Please review it.
Thanks.

[2022-04-21 19:58] TildaDares commented on #11014
Hi @Sushil333, you haven't pushed to `publiclab/plots2`.

[2022-04-21 20:04] Sushil333 commented on #11014
Thank you for the reply. I already made a pull request https://github.com/publiclab/plots2/pull/11087 and this is another one. I think both are in same pr.

[2022-04-21 20:23] TildaDares commented on #11009
Resolved in #11091

[2022-04-21 20:23] #11009 closed

[2022-04-21 20:30] TildaDares commented on #11009
Resolved in #11091

[2022-04-21 20:31] TildaDares commented on #11009
Resolved in #11091

[2022-04-22 10:42] TildaDares commented on #10840
Hi @Deepthi562, there’s one in  https://github.com/publiclab/infragram/issues/391 you can work on.

[2022-04-22 13:47] #11002 closed

[2022-04-24 09:59] SHIVANGISINGH1 opened #11097 "Fix Indentation in webglColormapGenerator.js file"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-24 10:07] SHIVANGISINGH1 commented on #11097
Hey, @TildaDares I have created a FTO please review it.
And by mistake I have created this issue here, can I create this issue in [Infragram repo](https://github.com/publiclab/infragram)?

[2022-04-24 11:37] TildaDares commented on #11097
@SHIVANGISINGH1 I can just transfer it there.

[2022-04-25 16:39] ebarry commented on #11063
Thanks for reporting this!
This is not a code-related issue, it's a content issue that does not need programming to solve.
Thank you for highlighting these opportunities to improve, i'll share it with the curation team. Perhaps We might close this issue?

[2022-04-25 16:50] ebarry commented on #10977
Hi there,
I'm wondering if this is in fact a Left margin issue, i have some doubt about the diagnosis of the unexpected appearance showing at the top of the blog. .
When scrolling through the blog, i see that it is intentionally designed with wide left and wide right margins.
Can you also scroll down through the blog to take a look for yourself?

This unexpected appearance seems to be caused by a

[2022-04-25 18:47] ebarry commented on #10977
i think it's related to https://github.com/publiclab/plots2/issues/11073

[2022-04-25 18:48] ebarry commented on #11063
Wow - i have to update my own comment here after teammembers did try to update the photo to be higher res, and the issue IS somewhere in the code. Here's what @bhamster07 wrote in Slack:

[2022-04-25 19:30] ebarry commented on #10306
I can report that in publiclab.org/post , after clicking "add a location" button, the map that appears does float over the footer. So the original issue is still happening, if that matters for prioritizing review of the associated PR.

[2022-04-25 21:08] ebarry opened #11099 "Inconsistent log-in experience between browsers"
### Please describe the problem

Stevie logged in on Chrome, but after successful login was redirected away from the page she was on (www.publiclab.org/questions) and put onto the publiclab.org/dashboard:

![login](https://user-images.githubusercontent.com/161439/165174690-c9a6ab12-3b3a-4ab0-a6c8-0a1ae75a915b.gif)

I'm not sure that the problem is differences between browsers, but that is at least

[2022-04-26 08:27] Forchapeatl commented on #11099
Great catch @ebarry  thank you.
@TildaDares please may I  work on this issue ?

[2022-04-26 08:41] Deepthi562 commented on #11089
@Pragati1419, kindly specify more about your issue.

[2022-04-26 09:49] TildaDares commented on #11099
Hi @Forchapeatl, yeah go ahead.

[2022-04-26 10:46] Deepthi562 commented on #11076
@TildaDares can i work on this?

[2022-04-26 10:47] Deepthi562 commented on #11075
@TildaDares if this is still available I would like to work. Thank you.

[2022-04-26 12:41] shubhangi013 opened #11101 "The questions tab has UI/UX problems"
### Please describe the problem (or idea)

As one goes to the 'questions asked' on the public lab website, the card that gets displayed has a lot of problems:
<img width="547" alt="problem" src="https://user-images.githubusercontent.com/78342516/165301210-88a4917e-f7e3-48c4-9ea8-1a7384ffd8ca.PNG">
On clicking the 3 dots, one doesn't see any expected action
<img width="143" alt="prob2" src="https:/

[2022-04-26 13:19] AbihaFatima opened #11102 "Update `Translation_System.md`"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-26 16:27] cesswairimu commented on #10153
Anyone interested in a FTO can claim this https://github.com/publiclab/mapknitter/issues/1675 (_kindly comment aaying you would like to work on it. check above to see if someone already claimed it, before you comment_) I can't trace who is next esp after soc closing.Thanks

[2022-04-26 17:52] TildaDares commented on #11102
Added a few things but everything looks great. Thanks @AbihaFatima for working on this!!

[2022-04-26 18:25] anupreet9 commented on #10153
H @TildaDares, I am new to opensource contribution and I'd like to contribute, I'm interested in Html, CSS, C#, Java, Node and React. Please add me to the list.

[2022-04-26 18:27] ebarry opened #11103 "Revisit reverse chronological sorting in inline grids"
### Please describe the problem (or idea)

I asked "Has the default sorting in inline grids changed? I'm surprised to see the reverse chron order on this page which makes everything look really old https://publiclab.org/locations"

and Jeff replied:

I would expect to see most recent posts at the top, with chronological sorting where oldest is lowest.

### Please show us where to look

https://pub

[2022-04-26 18:29] TildaDares commented on #11102
Hi @Deepthi562, we only allow first timers to work on FTOs. You can keep an eye out for issues with the `help wanted` tag or `bug` tag. Thanks!

[2022-04-26 18:32] jywarren commented on #11099
Hi all! Thanks all and great documentation. I can see that Stevie clicked the "To ask a question, please log in or sign up" prompt, while Liz used the navbar Login button. The "To ask a question" link seems to be malfunctioning:

https://github.com/publiclab/plots2/blob/e211e63cf709141e1de86d996ad073f362e7ef68/app/views/questions/index.html.erb#L25

Here's the one in the navbar:

https://github.co

[2022-04-26 18:37] jywarren commented on #11103
Just noting that this one could cause a test failure if we just re-add the DESC to the order clause. But it could be worth an attempt:

https://github.com/publiclab/plots2/blob/e211e63cf709141e1de86d996ad073f362e7ef68/app/models/concerns/node_shared.rb#L401

Note that DESC exists on the alternative version of this method a few lines down!

[2022-04-27 06:01] Deepthi562 commented on #11102
@TildaDares sure, thank you.

[2022-04-27 07:13] TildaDares commented on #10153
Hi @anupreet9, there's an issue in #11102 you can work on. Thanks!

[2022-04-27 08:22] anupreet9 commented on #11102
@TildaDares  I will work on this. Thanks

[2022-04-27 19:11] #11102 closed

[2022-04-27 19:28] TildaDares commented on #11080
Hi @muskan2901, I'll be closing this issue.

[2022-04-27 19:28] #11080 closed

[2022-04-27 19:31] TildaDares commented on #11006
HI @anirudh-t-d, do you need help with this?

[2022-04-27 19:33] anirudh-t-d commented on #11006
Sorry mam. I couldn't get time to devote on this as I was on a medical emergency. I will complete it by Saturday. Apologies again for this

[2022-04-27 20:03] TildaDares opened #11105 "✨ First-Timers Only Issues! 🌈 Make & Request Your Issue!"
Hi everyone, we at Public Lab are very welcoming to contributors especially open source newcomers and people from underrepresented groups. Contributing to Open-Source can be overwhelming especially for first-timers and that's why we created this issue to make it easier for you to contribute.

We have issues that we call FTOs(First Timers Only) that are meant for first-timers only. These issues giv

[2022-04-27 20:04] TildaDares commented on #10153
Moved to #11105. Thanks everyone!

[2022-04-27 20:04] #10153 closed

[2022-04-27 20:07] TildaDares commented on #11006
Hi @anirudh-t-d, please take all the time you need. Thank you!

[2022-04-27 23:06] guyinmanhattan2021 commented on #10987
Hi @TildaDares, can I claim this?

[2022-04-28 06:31] TildaDares commented on #10987
Hi @guyinmanhattan2021, please go ahead. Thank you!!

[2022-04-28 12:20] Forchapeatl commented on #11099
The "To ask a question" redirects to dashboard because of this function.   Here is the cause of our problem.
https://github.com/publiclab/plots2/blob/3433febd0bb33d701966a052321c78d2bd140ccc/app/controllers/home_controller.rb#L5-L7
Question is ,Please  how may I manipulate User sessions from home_controller ?

[2022-04-28 15:02] PlusUltra404 commented on #11105
Hello First timer here. I would love o work on an issue.

[2022-04-28 15:13] TildaDares commented on #10937
Hi @Tanish2000, do you need any help with this?

[2022-04-28 15:14] TildaDares commented on #11105
Welcome to Public Lab @PlusUltra404. I'll add your name to the list.

[2022-04-28 15:19] Tanish2000 commented on #10937
Hi @TildaDares , I am really sorry for being late , I got busy with university exams. Please assign it to someone else, I will not be able to contribute.

[2022-04-28 16:23] willmelton21 commented on #11105
Hi! I'm a first timer and I'd love to work on something!

[2022-04-28 17:19] TildaDares commented on #10937
That’s totally fine @Tanish2000.

[2022-04-28 17:19] TildaDares commented on #11105
Hi @PlusUltra404, there’s an issue for you in https://github.com/publiclab/plots2/issues/10937 if you’re interested.

[2022-04-28 17:20] TildaDares commented on #10937
Reserved for @PlusUltra404 for 24 hours.

[2022-04-28 17:55] danjkim21 commented on #11105
Hello there! First timer, happy to help however I can.

[2022-04-28 22:30] PlusUltra404 commented on #11105
Thank you,

[2022-04-28 22:44] PlusUltra404 commented on #10937
Hello, I completed work on this issue, I'm asking if it can get reviewed.
@publiclab/reviewers

[2022-04-29 07:56] Dustpie commented on #11105
Hello Tilda, thank you for your message!
I would like to work on an issue, this is my first time.

[2022-04-30 01:25] FoleyDom commented on #11105
Hey Tilda! First timer here, that would love to help and learn.

[2022-04-30 10:59] mittal-parth commented on #11103
@ebarry @jywarren
The problem seems to be with embeds that include both _notes_ and _pages_. Whenever the `nodes_by_tagname` receives an array of different types of content, that block doesnt contain the DESC.
I can try this but I cant seem to find the way to embed a grid inside a wiki.
Also, upon visiting /embed/grid/<tagname> on localhost, only notes associated to the tag are visible (even thoug

[2022-04-30 14:36] Forchapeatl commented on #11103
Please could you share some screenshots or codes?

[2022-04-30 18:25] ronran1 commented on #11105
Hi Tilda, thanks for doing this. I would love to work on a first-timers-only issue. I have beginner-level knowledge of HTML, CSS, JS, Node, and ReactJS.

[2022-05-01 04:14] guyinmanhattan2021 commented on #10987
Hi @TildaDares, can I ask for some help? I've completed steps 1-4 of the readme.md, but I haven't worked with Ruby before. I'm using Windows. Cou;d you give me some guidance?

[2022-05-01 06:15] simransia commented on #10987
Hello @guyinmanhattan2021. If you are facing problem in installing plots2 on your local machine then I suggest you to use [gitpod](https://gitpod.io/#https://github.com/publiclab/plots2)  for making your first-time contribution. Because for windows users it is very hard and time taking to run plots2 locally.

Also if you face any problem using gitpod then you can take the help of the instructions

[2022-05-01 08:07] TildaDares commented on #10987
Hi @guyinmanhattan2021, sure I can help. Can you tell me what the problem is exactly?

[2022-05-01 10:29] simransia opened #11109 "Replace the hard-coded strings present in the dashboard.html.erb file with translation function and add new strings in en.yml"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-05-01 10:42] simransia commented on #11109
Hello @TildaDares ,
I have seen that few people are waiting to get their first-time issues [here](https://github.com/publiclab/plots2/issues/11105#issue-1217824519). So I have created a new FTO for them. Please review it 🤍
I will love to create more FTOs if needed because I really enjoy creating them.

Thank you so much!

[2022-05-01 11:05] RaviAnand111 commented on #10997
Hey @jywarren @TildaDares can you please solve my doubt. Thank You

[2022-05-01 15:43] djmiller1008 commented on #11105
Hello Tilda! First-Timer here looking to help and learn!

[2022-05-01 19:22] TildaDares commented on #11109
Hi @simran, this looks great. Can you change `ask_ques` to `ask_question`? Thanks!

Great work!!

[2022-05-01 19:24] TildaDares commented on #10997
Hi @RaviAnand111, since we have to consider how the button would look on both light and dark backgrounds, I think it'd be best if we left the button as is. What do you think?

[2022-05-01 19:26] #10937 closed

[2022-05-01 19:35] RaviAnand111 commented on #10997
Hi @TildaDares , I think we'd have to do it in the future if we postpone it. And that is totally fine if it is not a priority, but I think its better to solve bugs and problems as soon as possible, as we will improve with time we will be facing bigger problems and this small bug will just be postponed again and again.

Please correct me If I am wrong.
Thank You

[2022-05-01 21:07] nawed2611 commented on #11006
Hey! Is this issue still open?

[2022-05-01 21:18] nawed2611 commented on #11101
Hey! I would like to work on this issue

[2022-05-01 22:58] TildaDares commented on #11006
Hi @nawed2611, someone’s working on this issue. You can leave a comment in https://github.com/publiclab/plots2/issues/11105 and we’ll look for an issue for you. Thanks!!

[2022-05-02 02:30] simransia commented on #11109
I have changed `ask_ques` to `ask_question` at both the places @TildaDares .

Thanks a lot❤️

[2022-05-02 07:47] TildaDares commented on #11109
Reserved for @willmelton21 for 24 hours!

[2022-05-02 07:48] TildaDares commented on #11105
Hi @willmelton21, there’s an issue reserved for you in https://github.com/publiclab/plots2/issues/11109 for 24 hours!

[2022-05-02 07:51] TildaDares commented on #11105
Hi @danjkim21, there’s an issue reserved for you in https://github.com/publiclab/infragram/issues/407 for 24 hours!

[2022-05-02 08:09] nawed2611 commented on #11105
Hey! @TildaDares I'm looking to get started with some first-time issues!

[2022-05-02 12:46] danjkim21 commented on #11105
Thank you Tilda. WIll get started right away.

[2022-05-02 14:50] willmelton21 commented on #11109
I've updated both [config/locales/en.yml] and [app/views/dashboard/dashboard.html.erb] with the requested changes @TildaDares

Appreciate the opportunity!

[2022-05-03 14:13] ebarry commented on #11101
Interesting report! I was unable to reproduce this error using the example page: https://publiclab.org/tag/question:*liz

![question by user](https://user-images.githubusercontent.com/161439/166469960-1f9703a2-acdf-46bd-b088-eca1b35f6a8a.gif)

[2022-05-03 15:23] ebarry commented on #11099
Thanks for working on this @Forchapeatl !

[2022-05-03 15:28] ebarry commented on #11076
Thanks for reporting this bug @bhamster07 !
What you describe sounds so tricky! A real mystery:

[2022-05-03 15:33] ebarry commented on #10796
Here's the screenshot i just captured showing that which questions load by default are **_not_** the latest questions.

![question order](https://user-images.githubusercontent.com/161439/166485507-a86c7409-5670-412e-b3a9-dc7d95fb113f.gif)

What is the default question sorting order? I'm not sure, and would like to find out!

Perhaps if we understand what is happening here, we can decide if changin

[2022-05-03 16:01] bhamster07 commented on #10700
I like the ideas @jywarren proposes under items 1 and 2 above! One thing I might suggest adding to a display of a user's notes/questions/wikis is comments. Some people contribute a lot and exclusively through comments.

A couple other stray thoughts about the information hierarchy:

The profile page seems like the place on Public Lab where I might expect emphasis on an individual’s contributions,

[2022-05-03 16:37] jywarren commented on #10971
Hi all, just noting we do have a style chosen as part of our Rubocop gem integration (i really don't like the name Rubocop btw 🙄) but it's more of an automated system, and isn't very friendly or welcoming. Maybe we should write something in the README and/or think more about how to make our code style preferences friendly and supportive?

https://github.com/publiclab/plots2/blob/cf10caaefb78b631c1

[2022-05-03 17:18] mittal-parth commented on #11103
Thank you! @ebarry

I have created a [PR](https://github.com/publiclab/plots2/pull/11114) for this. Adding the `DESC` worked. No tests failed either!
cc: @jywarren

[2022-05-03 19:24] cmcgee0308 commented on #11105
Hi Tilda! I've contributed to an issue and was wondering how I would create an issue for others to work on?

[2022-05-03 22:10] #11103 closed

[2022-05-03 22:15] jywarren commented on #11099
Hi thank you @Forchapeatl i wanted to try to just check that the different possible failure modes are accounted for here:

- [ ] clicking continue button correctly flows to login and then posting a question
- [ ] clicking "log in" at "log in or sign up" correctly redirects back to /questions
- [ ] in general, the `requireLogin` class is working as designed

I think you fixed the first of the three

[2022-05-04 06:15] TildaDares commented on #11105
Hi @cmcgee0308, you can start by identifying a simple issue that a first-timer could fix. You can take a look at other FTOs for inspiration https://github.com/publiclab/plots2/labels/first-timers-only

 When you've found an issue for a first-timer to work on, click the **New Issue button** and use the issue template named **First Timers Only issue**.

[2022-05-04 12:38] Forchapeatl commented on #11099
@jywarren ,unfortunately  the second test fails on normal mode but passes on incognito (private) mode.

* [x]  clicking continue button correctly flows to login and then posting a question
* [ ]  clicking "log in" at "log in or sign up" correctly redirects back to /questions
* [x]  in general, the `requireLogin` class is working as designed.

Chrome Click "log in" or "sign up".    **(Failed)**

ht

[2022-05-04 13:06] Forchapeatl commented on #11099
your welcome!

[2022-05-04 14:12] mittal-parth opened #11115 "Missing translations on layouts/_header.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-05-04 15:08] YorhaBlue commented on #11105
Hi! I'm new here, but this is really cool - would love to contribute to a First-Timers issue. I'm beginner/intermediate-ish with HTML, CSS, and JS.

[2022-05-04 16:17] TildaDares commented on #11115
Thanks for opening this @mittal-parth. There are a few changes needed.

`kits` and `software` should be aligned with `code_community`.

`newsletter` and `careers` should be aligned with `contact`

`tools` should be aligned with `search`. `kits` should be aligned with `code_community`

`newsletter` and `careers` should be aligned with `contact`

Thanks!

[2022-05-04 16:19] TildaDares commented on #11115
Also, do you speak/understand French?

[2022-05-04 16:24] mittal-parth commented on #11115
No no I dont understand French. I use Google Translate itself 😅. I pick that file because its the most updated 😛

[2022-05-04 16:31] mittal-parth commented on #11115
@TildaDares Pls check if I have made the required changes correctly. Sorry for the trouble!

[2022-05-04 20:29] fedechaves commented on #11105
Hello Tilda! I would love to work on a FTO issue. thanks in advance!

[2022-05-04 20:37] TildaDares commented on #11115
Hi @mittal-parth, the issue hasn't been resolved.

[2022-05-05 02:02] mittal-parth commented on #11115
@TildaDares
Interesting 🤔

https://user-images.githubusercontent.com/76661350/166853846-87f6fd0b-cfd7-4608-b768-ddb8bab5fe04.mp4

Updated the rest. Looks like I didnt press the 'Update Comment' button last time 🥲

[2022-05-05 06:39] TildaDares commented on #11115
@mittal-parth Your translation still works so I think we can leave it as it is. Thanks for working on this!!

[2022-05-05 06:41] TildaDares commented on #11115
Reserved for @Dustpie for 24 hours!!

[2022-05-05 06:42] TildaDares commented on #11105
Hi @Dustpie, there’s an issue reserved for you in #11115 for 24 hours!!

[2022-05-05 06:46] Dustpie commented on #11105
Thank you Tilda!

[2022-05-05 06:48] Dustpie commented on #11115
Thank you for reserving the issue for me Tilda, I will try it.

[2022-05-05 21:37] illyShelly opened #11117 "Extend cz.yml file"
I extended the file in `config/locales/cz.yml` to support the new language for PublicLab.org.

The file contains main key-value pairs (home-dashboard-sidebar) and is prepared for further contribution.

**Please describe the desired behavior.**
Describe the solution you'd like.

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.

[2022-05-06 16:20] mittal-parth opened #11120 "Typos in Translation_System.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-05-06 16:21] mittal-parth commented on #11120
Hi @TildaDares! Please add the first-timers-only label to this if everything looks correct.
Thank you!

[2022-05-07 18:44] TildaDares commented on #11105
Hi @FoleyDom, there’s an issue reserved for you in https://github.com/publiclab/mapknitter/issues/1683 for 24 hours!!

[2022-05-07 18:46] TildaDares commented on #11120
Thanks for this @mittal-parth!!

[2022-05-07 18:47] TildaDares commented on #11105
Hi @ronran1, there’s an issue reserved for you in https://github.com/publiclab/plots2/issues/11120 for 24 hours!!

[2022-05-07 18:59] TildaDares commented on #11105
Hi @djmiller1008, there’s an issue reserved for you in https://github.com/publiclab/community-toolbox/issues/562 for 24 hours!!

[2022-05-07 19:00] ronran1 commented on #11120
Hi there, thanks for this! I am claiming this issue.

[2022-05-07 19:21] #11120 closed

[2022-05-08 13:53] TildaDares commented on #11105
Hi @nawed2611, there’s an issue reserved for you in https://github.com/publiclab/community-toolbox/issues/563 for 24 hours!!

[2022-05-08 14:03] nawed2611 commented on #11105
Thankss!

[2022-05-09 16:42] Forchapeatl commented on #10796
@TildaDares , may I please work on this?

[2022-05-09 18:22] shefali12-ab opened #11122 "Weekly Community Check-In #141 - The Domino Effect"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-05-09 19:26] girija0707 commented on #11122
Well said, dividing a huge chunk into smaller ones helps in the long run, and this applies not only for work but for pizzas too 🍕😉

[2022-05-09 19:37] PeculiarE commented on #11122
🤣 🤣 .....you made my day @girija0707 with your pizza comment. You're sooo right!

Thank you @shefali12-ab for sharing and for the mention as well. And I definitely agree with you on the importance of daily practice. Consistency is everything 🚀

[2022-05-09 23:52] on2onyekachi commented on #11122
Wow! @shefali12-ab thanks for this!

Recently, I've been working more on my infragram design improving some details and the UI from my end, fixing some bugs found in the community-toolbox repo and also helping first-timers to get started with open source. Outside the community, I'm improving my skill on codewars, and it has been going so well. codewars if actually fun when you don't get stuck!. 😀😬

[2022-05-10 04:16] shefali12-ab commented on #11122
Great to hear that @on2onyekachi

[2022-05-10 04:19] shefali12-ab commented on #11122
yup of course it applies to anything we thought to be huge like pizza 😉@girija0707

[2022-05-10 04:20] shefali12-ab commented on #11122
yup , thank you 😀 @PeculiarE

[2022-05-10 07:47] PeculiarE opened #11123 "Missing Outreachy proposals on the Call-for-Proposals page"
### Please describe the problem (or idea)

On the Outreachy summer 2022 call-for-proposals page on PublicLab, we have just 24 proposals visible there.

But there are about 10 or so proposals of people that submitted earlier (of which I'm included) that can no longer be seen on the page.

However, when I clicked on the outreachy-2022 tag, I was redirected to a page showing the complete list of 34 O

[2022-05-10 08:00] PeculiarE commented on #11123
Hi @jywarren, @TildaDares, @cesswairimu, could we please take a look at this issue.

I've been looking at the codebase and I believe there's a limit of 24 when fetching nodes and that might be responsible for the 'disappearance' of earlier proposals.

A possible fix for this is to display a button or text like the current **'Show More'** visible on Chrome where readers can see that there are more

[2022-05-10 08:06] girija0707 commented on #11122
Glad to hear that 😁🤗

[2022-05-10 08:07] girija0707 commented on #11122
Indeed ☺️

[2022-05-10 09:49] cesswairimu commented on #10997
I believe the resolution is to close this for now. _feel free to reopen if I missed smth_. Thanks all

[2022-05-10 10:40] cesswairimu commented on #11123
Hi @PeculiarE, good catch, you are right seems the *Show More* button is not working.  I do not think it affects the state of things I believe we reviewed all of the proposals posted early. thanks

[2022-05-10 11:49] cesswairimu commented on #10728
Closing this, thanks all

[2022-05-10 11:49] #10728 closed

[2022-05-10 12:09] cesswairimu commented on #9977
@shefali12-ab this is a good one.  Would you like to work on it?

[2022-05-10 12:13] cesswairimu commented on #11101
Hi @nawed2611, we would love your help, pease go ahead. Thanks

[2022-05-10 12:28] shefali12-ab commented on #9977
@cesswairimu I just need to add small text saying new contributors are not allowed to create draft ?

[2022-05-10 12:51] cesswairimu commented on #9977
yeah, maybe lets convert this to an fto. Take a look of this instead https://github.com/publiclab/mapknitter/issues/1634

[2022-05-10 14:00] SHIVANGISINGH1 commented on #11122
Amazing thought @shefali12-ab 👌❤️, I myself get stuck whenever I am starting a new project, looking through all the work it just gets very overwhelming, the same happened with me at outreachy in the beginning. But I did some work regularly to complete my targets and I try to follow this strategy every time I am preparing for something.

Thank you so much for sharing ☺️☺️❤️

[2022-05-10 15:14] ebarry commented on #11122
Love this theme! I've also heard a phrase "the first step's a doozy" about how while it can seem very hard to take a first step on something now, after that it's just one step at a time.

[2022-05-10 15:16] ebarry commented on #10947
Excited for this fix!

[2022-05-10 15:28] shefali12-ab commented on #9977
Sure @cesswairimu I will look into that issue, this week I'm having my exams , I will get back to https://github.com/publiclab/mapknitter/issues/1634 issue soon. Thank you :)

[2022-05-10 19:42] PeculiarE commented on #11123
Thank you for the reassurances @jywarren and @cesswairimu. I really appreciate ❤️

@jywarren, what you're suggesting does sound interesting, but I have a couple of points I'll love clarified:

1. Using the call-for-proposals as an example, so we will have a 'View all 34 proposals in outreachy-22' link that when clicked on redirects users to the outreachy-2022 tag page?

2. This question might soun

[2022-05-11 12:25] shefali12-ab commented on #11122
Thank you ☺️❤️, I totally agree with you we just need to take the first step to start something new  @ebarry

[2022-05-11 16:30] TildaDares commented on #11122
Great topic @shefali12-ab. I've found out that if I think too much about how much I need to learn, I get too scared to start. Now, I try to focus on taking things one step at a time.

[2022-05-11 16:31] TildaDares commented on #11105
Hi @YorhaBlue, there's an issue reserved for you in https://github.com/publiclab/community-toolbox/issues/568 for 24 hours!

[2022-05-11 20:15] YorhaBlue commented on #11105
Thank you @TildaDares !

[2022-05-12 13:11] shefali12-ab commented on #11122
Thank you @TildaDares I'm glad to know that it inspires you :)

[2022-05-12 13:12] shefali12-ab commented on #11122
Thank you :)) @Somya-Singhal

[2022-05-12 15:47] simransia commented on #11122
Well written @shefali12-ab! 👌💥💛
Breaking complex overwhelming tasks into small manageable tasks and then being consistence with doing the small task is the key for doing great things with ease! And this principle applies not only to programming but to everything in life. It also reminds me of an article saying:  ⭐️ **"Reading 20 pages per day is 30 books per year. Saving $10 per day is $3,650 per

[2022-05-12 15:57] cesswairimu commented on #11122
Awesome :tada: @simransia you can open on Sunday evening or on Monday. Thanks

[2022-05-12 21:14] illyShelly commented on #11122
When the solution is so simple 🦶by 🦶by🦶  , I wonder 👀 why it is so difficult than?? We could succeed much more.

[2022-05-13 03:09] simransia commented on #11122
Great to know that @cesswairimu . Thank you for informing! 👍

[2022-05-13 03:57] Forchapeatl commented on #11099
Please any comment on this [https://github.com/publiclab/plots2/issues/11099#issuecomment-1117264440](https://github.com/publiclab/plots2/issues/11099#issuecomment-1117264440) response

[2022-05-13 13:08] VictoriaAjala opened #11125 "Fix Indentation issue in new.html.erb"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-05-13 13:11] VictoriaAjala commented on #11125
Hello @TildaDares please review this. Thank you!

[2022-05-13 13:37] TildaDares commented on #11125
Hi @VictoriaAjala, thank you for opening this. These changes might be a bit challenging for a first-timer.

[2022-05-14 07:51] VictoriaAjala commented on #11125
Hi @TildaDares, I also thought of that. should i work on it and create a pull request?

[2022-05-14 11:31] TildaDares commented on #11125
@VictoriaAjala It'd be better if you worked on it. Thanks!!

[2022-05-16 16:24] cesswairimu commented on #11122
Hi @simransia, feel free to open the check-in anytime today. thanks

[2022-05-17 03:16] istarlet commented on #11105
Hi @TildaDares , first timer here. I would love to help to help out.

[2022-05-17 11:23] TildaDares commented on #11115
Hi @Dustpie, do you need help with this? Please feel free to reach out if you do.

[2022-05-17 11:27] TildaDares commented on #11006
Hi @anirudh-t-d, any updates?

[2022-05-17 11:27] TildaDares commented on #10987
Reassigning this.

[2022-05-17 11:28] TildaDares commented on #11105
Hi @fedechaves, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/10987 for 24 hours!!

[2022-05-17 11:29] TildaDares commented on #10987
Reserved for @fedechaves for 24 hours!

[2022-05-17 11:40] TildaDares commented on #11105
Hi @istarlet, there's an issue reserved for you in https://github.com/publiclab/mapknitter/issues/1662. Thanks!!

[2022-05-17 15:52] simransia commented on #11122
I have opened it @cesswairimu . Kindly go through it [here](https://github.com/publiclab/infragram/issues/412)  😊

[2022-05-17 16:28] jywarren commented on #11122
Thank you @shefali12-ab for a great check-in theme!!!

[2022-05-17 17:15] jywarren commented on #10765
Just noting that the topic card bug shown here is now resolved in stable:

<img width="619" alt="image" src="https://user-images.githubusercontent.com/24359/168871954-71d8cfea-b3c2-49de-8c2f-260ce7b2a02f.png">

The second bug, near "Joined" is also resolved!

<img width="383" alt="image" src="https://user-images.githubusercontent.com/24359/168872265-3776bd33-4a65-4dfb-b887-7e14c0e886e5.png">

Than

[2022-05-17 18:02] istarlet commented on #11105
Thank you, @TildaDares ! I accept.

[2022-05-17 20:34] cesswairimu commented on #11122
Thanks all, closing this.

[2022-05-17 20:34] #11122 closed

[2022-05-18 10:06] anirudh-t-d commented on #11006
Hi @TildaDares  can you please review my pull request if everything is okay?

[2022-05-18 13:21] TildaDares commented on #11006
Hi @anirudh-t-d, I can't find your PR.

[2022-05-18 14:16] TildaDares commented on #11006
Hi @anirudh-t-d, you need to make a PR in publiclab/plots2.

[2022-05-19 19:05] PeculiarE opened #11130 "Fix non-visible line on config.yml"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all), and this means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especi

[2022-05-19 19:06] PeculiarE commented on #11130
Hi @TildaDares, @cesswairimu, @jywarren....please do help review for a possible FTO issue whenever you get the chance. Thank you!

[2022-05-19 21:51] TildaDares commented on #11130
Thanks @PeculiarE. Great catch!!

[2022-05-20 06:30] thisiskaransgit commented on #11130
I would like to work on this issue.

[2022-05-20 06:56] TildaDares commented on #11130
Hi @thisiskaransgit, go ahead. Thanks!!

[2022-05-20 13:29] thisiskaransgit commented on #11130
Hey @TildaDares Please check the PR, Thank you !

[2022-05-20 14:02] #11130 closed

[2022-05-20 16:22] VictoriaAjala commented on #11125
Hi @TildaDares  I have resolved this issue and created a pull request. Please kindly review.

[2022-05-20 19:02] z-prince commented on #10665
I'm a fairly new Ruby/Rails dev but I'd love to see if I can tackle some of these!

[2022-05-20 19:17] TildaDares commented on #10665
Hi @z-prince, we'd greatly appreciate your help with this. Please feel free to reach out if you need any assistance. Thank you!!

[2022-05-20 19:44] z-prince commented on #11105
Would love to bed added here to! Primary skills are Ruby/Rails and PostgreSQL.

[2022-05-21 00:52] christinecannon commented on #11115
Hello! Would it be okay for me to try this if @Dustpie is no longer working on it? I'd like to try this but don't want to take the opportunity away from anyone else of course!

[2022-05-21 06:13] Dustpie commented on #11115
I'm still working on it I just had to jump ik for shifts a lot so I'm a bit tired.
I will work on it tonight

[2022-05-21 08:24] TildaDares commented on #11115
Hi @christinecannon, you can leave a comment in #11105 and we’ll help you look for an issue. Thank you!

[2022-05-21 22:21] christinecannon commented on #11105
Hello, I would like to be added!

[2022-05-24 05:43] cesswairimu commented on #11101
Hi @nawed2611, were you able to reproduce this? I missed Liz's comment above and I tried just now, and I too was not able to reproduce. @shubhangi013 if you could give us an exact url where you experienced the error that would be helpful. Thanks all

[2022-05-24 05:49] cesswairimu commented on #11089
closing this as no clear information of the issue experienced is given. Please feel free to reopen and add more clear information about the bug. thanks

[2022-05-24 05:49] #11089 closed

[2022-05-24 16:39] jywarren commented on #7832
Updating/confirming that the very first time a wiki link is shared, we don't see the image preview. Apparently we see it only the SECOND time it's shared:

<img width="966" alt="image" src="https://user-images.githubusercontent.com/24359/170087675-b80a2f5a-495e-4d72-b0f3-28cd7de4a484.png">

Strangely, [the Facebook debugger](https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fpubliclab.or

[2022-05-24 17:18] jywarren commented on #7832
OK, so we would need to do this:

[code]

However, we don't actually know the dimensions of the images on the server side - we never decided to save them, and depending on aspect ratio, they could vary quite a bit. Gah! So, we don't have a good way to do this!

I recommend trying to share a post in some more private group first, to get the image to generate, then reposting it where you want it, if

[2022-05-24 20:10] nawed2611 commented on #11101
Hey, I was not able to reproduce the issue shown but there is an issue with the functionality of the 3 dots though

Reproduced [here](https://publiclab.org/questions/kassidy219s/05-16-2022/want-to-share-your-perspective-on-sustainability-and-the-future-of-coal)

Check out this GIF for more context -

![ezgif com-gif-maker (6)](https://user-images.githubusercontent.com/83456083/170123217-ff064513-8

[2022-05-24 20:13] jywarren commented on #10754
Hi @PeculiarE - sorry to respond slowly but here are some replies to your questions!

Great Q. I believe the strongest factor is if there is a clear advertisement in the map or one of the images. There are quite a few such advertisements at the gallery page, shown here: https://mapknitter.org/gallery, of which this is one example: https://mapknitter.org/maps/mercedes-benz-of-hindhead Some have an

[2022-05-24 22:02] jywarren commented on #11076
Hi! Confirming that this happens on stable too; hopefully we see it get fixed in https://github.com/publiclab/plots2/pull/11134 and we can confirm in stable!

<img width="437" alt="image" src="https://user-images.githubusercontent.com/24359/170139425-62e1ee66-ddfd-44e8-bf1a-9e24212fb61a.png">

@Deepthi562 sorry for the slow response, this one was pretty obscure. Can we help you find another? Pleas

[2022-05-24 22:26] #11076 closed

[2022-05-24 22:57] jywarren commented on #11076
Confirmed on https://stable.publiclab.org/questions/tag/community !

[2022-05-25 23:46] pydevsg commented on #10728
Hey I did filled the form maybe you missed it somehow.
I have filled it and am interested in mentoring folks this year as well.
Thanks

[2022-05-29 12:35] z-prince commented on #11109
I am on it, thank you!

[2022-05-29 12:53] z-prince commented on #11109
I have finished everything and I have it on a new branch, but GitHub is saying I don't have permission to push it. Should I have forked the repo first and then checked out my branch?

Thank you!

[2022-05-29 13:04] z-prince commented on #11109
I resolved the issue, and the [PR](https://github.com/publiclab/plots2/pull/11151) is in! Thank you!

[2022-05-29 17:43] christinecannon commented on #11105
Thank you @TildaDares I will get started working right away!

[2022-05-29 17:44] christinecannon commented on #11074
Thank you @TildaDares I'm very excited to try this!

[2022-05-29 18:09] #10947 closed

[2022-05-30 00:32] christinecannon opened #11154 "Replace hard-coded strings with the translation function in the _social.html.erb file"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-05-30 00:33] christinecannon commented on #11154
Hi @TildaDares since I finished my own FTO I tried to make one for someone else, please let me know if it looks okay!

[2022-05-30 06:47] gunesnt commented on #11105
Hi @TildaDares I would like to work on an FTO issue. Thanks

[2022-05-30 06:48] gunesnt commented on #11105
Hi @TildaDares I would like to work on an FTO issue. Thanks!

[2022-05-30 17:21] christinecannon commented on #11154
Hi @TildaDares I think I see what you meant where the underscore didn't line up with the line above, does it look okay now?

[2022-05-31 00:10] gunesnt commented on #11154
I claimed, thank you!

[2022-06-02 14:39] anirudhprabhakaran3 commented on #11085
Hi. Thanks for the suggestion, it is surely a very valuable one! Breadcrumbs do make life a lot more easier, and helps newcomers and other users to know about navigation and where they are in the website.

As for the implementation, we could use [this gem](https://github.com/weppos/breadcrumbs_on_rails). @jywarren @cesswairimu what do you think?

[2022-06-02 17:57] stirlhoss commented on #11006
@TildaDares PR submitted, ready for review.

[2022-06-02 19:55] ornevirardi commented on #11105
Hello!! First timer here! I would love to contribute 😄

[2022-06-02 20:16] #10915 closed

[2022-06-02 20:57] jywarren commented on #10840
Thank you again everyone! Closing this now.

[2022-06-02 20:57] #10840 closed

[2022-06-02 21:30] jywarren opened #11161 "inconsistent Capybara test failures -- debugging"
Getting this inconsistent test failure -

[code]

@TildaDares in https://github.com/publiclab/plots2/issues/11137#issuecomment-1139540714 :

Good idea, opening this in a unique issue to try.

[2022-06-07 08:04] jywarren commented on #11099
Hi @Forchapeatl sorry for the delay but I'm going to have a look at this today!

[2022-06-07 10:29] jywarren commented on #11099
OK, so in https://stable.publiclab.org/login, it now correctly sets the return_to parameter. But when you actually log in, you are not directed there. Strange! I think we need to trace the logic and watch the rails log at the same time, to see if the parameter is being properly passed through.

[2022-06-07 21:26] Forchapeatl commented on #11099
Thank you @jywarren . I will investigate the rails logs more this time.

[2022-06-09 10:26] VictoriaAjala commented on #10772
Hello @TildaDares , It seems no one is working on this, I would love to solve this issue?

[2022-06-09 12:31] Dustpie commented on #11115
Yes you can have the issue

Sent from my iPhone

[2022-06-10 00:08] nikhilnarla commented on #11105
Hi @TildaDares I would love to contribute to FTO issues!

[2022-06-10 15:37] #11115 closed, assigned to nobody

[2022-06-10 18:39] matthewjholmes commented on #11105
Hi there! Would love to contribute.

[2022-06-13 12:52] htinz commented on #11105
Hi! @TildaDares, First Timer here, I am excited to contribute to FTO issues.

[2022-06-13 15:31] TildaDares opened #11179 "Change Ban Flag Color in Spam2 to Red"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-06-13 16:10] ishanpan commented on #11179
Can I work on it if @nikhilnarla doesn't?

[2022-06-13 16:14] nikhilnarla commented on #11179
Thank you @TildaDares . I will work on this issue

[2022-06-13 16:48] ebarry commented on #11123
This is a very worthwhile investigation! Thanks for puzzling through this

[2022-06-13 17:18] ebarry commented on #11063
Still interested in this one!

[2022-06-13 17:36] nikhilnarla commented on #11179
Hi, @TildaDares I have raised a PR request. https://github.com/publiclab/plots2/pull/11182

[2022-06-14 05:12] icarito opened #11183 "add nofollow to auth links"
![imagen](https://user-images.githubusercontent.com/199755/173498169-3e7766d9-ee5b-401b-b557-8c74468b74cf.png)
Crawlers seem to be hitting our twitter auth endpoint - lets try to find out where they are finding this link within our site and set it to _nofollow_

[2022-06-14 05:13] jywarren commented on #11183
I can take this one! https://en.wikipedia.org/wiki/Nofollow

[2022-06-14 06:08] #11183 closed

[2022-06-14 06:17] jywarren commented on #11099
OK, i just used gitpod on the main branch, and went to `/login?return_to=/questions` - logged in, and was redirected back to `/questions`. That's correct. Now trying again on stable server.

[2022-06-14 06:18] jywarren commented on #11099
It worked on Questions too now. Maybe i didn't wait long enough on stable? Seems like we're actually OK... i'll double check everything again but hopefully!

[2022-06-14 06:25] jywarren commented on #11099
OK confirmed. It works in stable, but in production, it still shows the following error because:

[code]

![image](https://user-images.githubusercontent.com/24359/173507635-7962b357-77ff-4430-9faa-6ca65ac3865c.png)

So, we can close this now!

[2022-06-14 06:27] #11099 closed

[2022-06-14 06:27] jywarren commented on #11099
Thanks everyone for your help!

[2022-06-14 06:55] Forchapeatl commented on #11099
@jywarren Thank you

[2022-06-14 08:00] anirudhprabhakaran3 opened #11185 "GSoC '22: "Legacy Code Deprecation" Project Planning"
Hello everyone! 🎉

This is the planning issue for my project "Legacy Code Deprecation" which I am going to work on over the summer. Comments, suggestions and improvements to everything mentioned in this are welcome and will be very useful for me!

My project proposal can be found [here](https://publiclab.org/notes/anirudhprabhakaran3/04-13-2022/gsoc-2022-proposal-legacy-code-deprecation).

### Bef

[2022-06-14 08:30] jywarren commented on #11185
Hi @anirudhprabhakaran3 this is looking great. I like how you've broken things up into groups, and see that you're using the existing deprecation milestone :tada:

In some places there are notes on whether records have been converted already, and I'm not sure about DrupalImages -- have you seen anything? As we go through these, probably best to link to the last known notes/status of these migratio

[2022-06-14 09:10] anirudhprabhakaran3 commented on #11185
Yes, I'll add links to the previous issues, so that anyone viewing it can easily see the current status.

Regarding the DrupalImages, this was the last comment I found: https://github.com/publiclab/plots2/issues/76#issuecomment-481749324

I believe we have identified what has to be done but actually haven't done it yet. Is my understanding correct?

Yes, I was thinking of going through the list to

[2022-06-14 12:04] KarishmaVanwari opened #11187 "[GSoC'22] Refine User Interfaces across PublicLab.org - Planning Issue"
Hi everyone!!

This is the planning issue listing down various project goals for my GSoC 2022 project ["Refine User Interfaces across PublicLab.org"](https://summerofcode.withgoogle.com/programs/2022/projects/zwPg9Yuz).

My original project proposal can be found [here](https://publiclab.org/notes/karishmagvanwari/04-16-2022/gsoc-22-proposal-refine-user-interfaces-across-publiclab-org) - that inclu

[2022-06-14 12:19] KarishmaVanwari opened #11188 "[GSoC '22] Refine User Interfaces across PublicLab.org - Project Discussion"
This is the discussion thread for my GSoC project - Refine User Interfaces across PublicLab.org (#11187)

[2022-06-14 12:23] KarishmaVanwari commented on #11188
Hey @jywarren, @TildaDares, @cesswairimu!
I've planned to proceed with the project tasks list as in the [planning issue](#11187).

It would be great if I could get some clarifications on the following:
1. Could you please highlight the current process of teachers becoming moderators? And what is expected while refining this process?

2. Where is the topic tree to be inserted - at a new route or at

[2022-06-14 15:16] TildaDares opened #11189 "Update Spam Reporting Email Address"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-06-14 15:22] nawed2611 commented on #11052
Hey, Can I work on this issue?

[2022-06-14 15:49] nawed2611 commented on #11052
Thanks for the quick reply!

[2022-06-14 17:52] #11179 closed, assigned to nobody

[2022-06-15 23:17] Sabine91 commented on #11189
I would love to start my open source journey here.

[2022-06-16 18:20] #11189 closed, assigned to nobody

[2022-06-17 03:28] #10977 closed

[2022-06-17 15:20] jenniferhalloran commented on #11105
Hi there! First timer here. Would love to contribute :)

[2022-06-17 19:17] KarishmaVanwari opened #11198 "Add a Bootstrap Modal for from and to date picker"
Add a Bootstrap Modal for from and to date picker on /tag/__ pages.

[2022-06-18 10:50] gitofbabai commented on #11105
Hi @TildaDares, Can you please assign me a FTO issue. I would love to contribute.

[2022-06-20 13:58] VictoriaAjala commented on #10772
Hello @TildaDares I'm having issues setting up this project on my PC.

I keep getting the errors in the images below anytime I run `Run rake db:setup`

![image](https://user-images.githubusercontent.com/102407780/174617863-cbd7d9e4-e76e-4fc1-84bb-46c806c6c381.png)

![image](https://user-images.githubusercontent.com/102407780/174617941-4fb56a2c-8ba3-4159-be66-f27c7fc3ab62.png)

![image](https://use

[2022-06-21 06:41] jywarren commented on #11185
Yes that seems correct to me. I will leave another comment there, but given the challenge of downloading the images, i wonder if you wanted to start on an easier one? Your choice!

[2022-06-21 06:48] jywarren commented on #76
Just looking over this again... I wonder if we can download the images locally, then use this guidance on uploading from the rails console to achieve this:

https://github.com/thoughtbot/paperclip/issues/1447

We could either do this all in a migration (though we'd have to see if we can fetch remote files in Ruby, or use something like `system('wget https://path.to/image.png')` in some local folde

[2022-06-21 06:53] cesswairimu opened #11200 "Weekly Community Check-In #145"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-06-21 07:26] #11198 closed

[2022-06-21 08:40] jywarren commented on #11200
After doing 145 of these, even though many themes are suggested by newcomers, I can't fault Cess for not having an idea for a theme! I'd love to hear how people are doing.

I'm in Kazakhstan and Kyrgystan for a month with my partner -- visiting her family -- so I am doing really well! Eating a lot of Kazakh and Kyrgyz food, spending time with family, spending time outdoors. A much needed "retreat"

[2022-06-21 08:50] jywarren commented on #11161
Got another identical one at https://github.com/publiclab/plots2/runs/6884401631?check_suite_focus=true#step:9:134 in https://github.com/publiclab/plots2/pull/11190

[code]

[2022-06-21 09:17] gunesnt commented on #10772
Hi @TildaDares, can I work on this issue?

[2022-06-21 09:31] jywarren commented on #11188
@KarishmaVanwari i also had another small task you might consider adopting, especially if we don't get enough input on the moderators one. It's that, when someone posts a note at https://publiclab.org/post (or try it on your local) without any tags, we show a notice here:

https://github.com/publiclab/plots2/blob/82781065fb35a686ba8ee3839c7e1e965fe10102/app/views/notes/show.html.erb#L4

Translatio

[2022-06-21 13:27] pokacyb commented on #11105
Hey @TildaDares if there's something I can help with please share :)

[2022-06-21 15:20] anirudhprabhakaran3 commented on #11200
Hello everyone! This week, I've actually been on a trip with my friends, so I haven't been able to do much work 😬. However, it has been quite refreshing to travel in nature after such a long time. I'll share pictures on the Element chat of the scenery!

[2022-06-21 15:35] anirudhprabhakaran3 commented on #76
Hmm yeah this also looks good. I'll look into the `tempfiles` as well - if not we can always use wget or curl. Thanks for the resources!

[2022-06-21 15:37] anirudhprabhakaran3 commented on #11185
Oh okay. I'll look into that. Thanks for the heads up!

Also left a comment on that issue. Is it fine if I put any issue specific conversations on the issue itself, and then put like a summary on this issue? I feel it'll be easier for tracking status.

[2022-06-21 19:07] VictoriaAjala commented on #10772
Thank you @TildaDares I'd setup sqlite3 instead.

[2022-06-22 01:52] gunesnt commented on #10772
thank you, I am looking at issue  #11101.

[2022-06-22 10:12] gunesnt commented on #11101
Hello @TildaDares, I can work on this if it is still available.

[2022-06-22 11:23] KarishmaVanwari opened #11203 "Fetch posts on the profile page only by the user"

[2022-06-22 15:34] TildaDares opened #11205 "Add translation method in list.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-06-22 16:03] TildaDares opened #11206 "Add translations for subscriptions.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-06-22 16:36] TildaDares opened #11207 "Add translation method to responses.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-06-22 16:48] TildaDares opened #11208 "Add translations to draft.html.erb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-06-22 16:57] RafiyaZafar commented on #11105
Thanks Tilda.

[2022-06-22 18:31] VictoriaAjala commented on #10772
![image](https://user-images.githubusercontent.com/102407780/175110481-e8a85f00-12a9-4fd6-8c92-7def6677bd78.png)

I get `unable to connect to github` whenever I run: `rails webpacker:install && rails webpacker:install:react && rails generate react:install`

[2022-06-22 18:48] pokacyb commented on #11105
Thank you

[2022-06-22 18:49] pokacyb commented on #11207
I'd like to try this!

[2022-06-23 04:44] jywarren commented on #10765
Hi @KarishmaVanwari - I noticed this small error on profile pages with translations: https://publiclab.org/profile/carmen2x

![image](https://user-images.githubusercontent.com/24359/175209446-f48d3cc2-929c-44e5-9158-3881c7ede9e5.png)

I think it's returning a more structured associative array (or hash, i think the Ruby term is) of counts per type, instead of just a number. The code is here:

https

[2022-06-23 13:47] KarishmaVanwari commented on #11188
Hi @jywarren,
Apologies for the delay in going through this.

Yeah, sure. I can do that!

Cool. I am not so sure of how can I create route and associated template, but I will try and figure it out.

I guess wrapping the Bootstrap elements in `<details>` element would be a better idea, I can check out how does it turn out to be.

[2022-06-23 18:11] #11208 closed, assigned to nobody

[2022-06-24 05:11] gitofbabai commented on #11206
Hi @TildaDares sorry for taking the late reply, I will work on this issue today.
Thanks for assigning it to me.

[2022-06-24 12:35] KarishmaVanwari commented on #11188
Hey @jywarren, if I am not wrong, do you suggest to just modify the message, right? To make it friendlier and no other change needed?

This sounds good! I can add this to my planning issue. Thanks!

[2022-06-24 12:43] KarishmaVanwari commented on #11188
Hi @bhamster07, thanks! I would love your help!

[2022-06-24 12:49] jywarren commented on #11188
Yes I think that works - we can also add formatting -- if you look at the Bootstrap 4 docs for alerts, you can do quite a bit of nice formatting inside them and they are a bit more readable. So we could explore if that helps... but not obligatory!

If you'd like to create a PR and link us to it in the chat, I or someone else can help add the parts that are missing if any to get it working. Let's s

[2022-06-24 12:52] KarishmaVanwari commented on #11188
How about the following text to explain about tags, when the user does noe use any tag -

This note has no tags yet. Public Lab uses uses tags to collect all the relevant work in one place and thus, enable to form topic-based communities. To know more about tags click [here](https://publiclab.org/wiki/about-tags). Help connect it to other content by <a href='#' onClick='%{url}'>adding descriptive

[2022-06-24 12:56] KarishmaVanwari commented on #11188
Yes, I can do that, great idea @jywarren!

Okay, thanks a lot! I will try it out.

[2022-06-24 12:58] cesswairimu commented on #11200
I have been anxious lately, but I am finding ways to manage it better.. Its cold in Nairobi and we are experiencing the 6th wave, so keeping warm :coffee:  and staying indoors mostly.
Would anyone like to open like to open next week's check-in?

[2022-06-24 14:33] stephaniequintana commented on #11200
Hi, all - I know it's the end of the week, but I wanted to drop a line...
I, too, have been traveling this week. I've driven my parents to Louisiana for a Celebration of Life. It's bittersweet in that we lost someone dear to us, but we are able to see so very many that we don't get to often. It's absolutely breathtaking here. The pic doesn't do it justice, but it seems like the trees are 10 storie

[2022-06-24 16:34] Forchapeatl commented on #11200
@cesswairimu  sure , no problem.

[2022-06-24 16:35] Forchapeatl commented on #11200
sorry for your loss @stephaniequintana

[2022-06-24 17:46] #11205 closed, assigned to nobody

[2022-06-24 18:35] KarishmaVanwari opened #11223 "Display posts based on the date range (when selecting custom date range)"

[2022-06-25 02:25] gunesnt commented on #11101
hello

hello @TildaDares , the menu when we click the tree dots was working fine. I only fix the word wrap issue. i hope it is relevant

[2022-06-25 19:21] KarishmaVanwari commented on #11188
Hey @jywarren, I was successfully able to create the route /topic-tree by following the steps yoh mentioned. Thanks a lot!!

I have tried to create the topic tree using the `<details>` element and Bootstrap classes for [list group](https://getbootstrap.com/docs/4.0/components/list-group/). This is how it looks (the content is yet to be populated) -

https://user-images.githubusercontent.com/782126

[2022-06-26 10:40] Abhijeet-kadance commented on #11073
Try adding the container

width:100%;

Inside which the player is added

[2022-06-27 16:40] cesswairimu commented on #11200
hi @Forchapeatl, please feel free to open anytime today or tomorrow. Thanks :heart:

[2022-06-27 17:25] bhamster07 commented on #11188
Thanks for coming up with this updated text, @KarishmaVanwari! I think you cover the key points explaining tags really concisely. Building off your text, I had some ideas:

"This note has no tags yet, but you can [add some descriptive tags below](#) anytime 🏷️! Tags help to collect related work in one place and connect people around a topic. To learn more about tags click [here](https://publiclab.

[2022-06-27 17:48] KarishmaVanwari commented on #11188
Hi @bhamster07, this sounds great!! Also, this looks more user-friendly to me and emoji is a great idea! Thank you !!

[2022-06-27 19:00] Forchapeatl opened #11228 "Weekly Community Check-In #146 - Exciting moments"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-06-27 19:04] Forchapeatl commented on #11200
Thank you @cesswairimu , here is the checkin for this [week](https://github.com/publiclab/plots2/issues/11228). Should  do I close this one?

[2022-06-27 20:29] cesswairimu commented on #11200
Yes please, thanks again

[2022-06-28 02:37] #11200 closed

[2022-06-28 02:40] Forchapeatl commented on #11228
you 're welcome @cesswairimu

[2022-06-28 06:26] #11207 closed, assigned to nobody

[2022-06-28 07:48] shourya2002-geek commented on #11105
Hello, first-timer here, I would like to contribute! I have good knowledge of MERN Stack.

[2022-06-28 09:56] jywarren commented on #11188
@KarishmaVanwari the topic tree looks super! Shall we move that conversation to a PR if you're ready to open one (or have already?) Thanks!

[2022-06-28 11:39] #11075 closed

[2022-06-28 12:16] KarishmaVanwari opened #11229 "Build topic-tree UI at /topic-tree"

[2022-06-28 12:19] jywarren commented on #10944
Yes sounds good!! Thank you!

[2022-06-28 12:19] #10944 closed

[2022-06-28 12:24] KarishmaVanwari commented on #11188
Hi @jywarren, thank you!! I've opened a PR #11230.

[2022-06-28 16:02] jywarren opened #11232 "stable server deployment issues"
We worked through some issues with webpacker, but are now stuck at:

[code]

[2022-06-28 16:03] jywarren commented on #11232
Next i want to try manually running `rake assets:precompile` on staging server directly with verbose flag.

[2022-06-28 21:57] #11223 closed

[2022-06-29 00:56] gunesnt commented on #11101
Hi @TildaDares, sorry I was busy. I will work on this today.

[2022-06-29 05:36] NARUDESIGNS commented on #11228
Was really nice to meet you too @TildaDares I was surprised you recognized me even though you were behind me 😊

[2022-06-29 18:25] PeculiarE commented on #11228
Thank you for the check-in @Forchapeatl!

My first ever PR on a Ruby project (both open and closed source) was right here on Public Lab. Can clearly remember how excited I was when it was approved and merged. Was walking on clouds for the rest of the day 🤣 😆

[2022-06-30 02:38] gunesnt commented on #11101
hello @TildaDares I did what you said. I need to see the result on my local. I can't find the dropdown that has a problem on the UI

[2022-06-30 07:20] gunesnt commented on #11101
it is redirecting to this page @TildaDares
![ss29jul](https://user-images.githubusercontent.com/65349162/176616678-0329f1ee-33ca-4f53-8c93-b7edf3c89adf.png)

[2022-06-30 17:34] KarishmaVanwari opened #11239 "Add icons on tag card on profile page for notes, questions, comments"

[2022-06-30 17:56] KarishmaVanwari opened #11241 "Modify the notice content on posting a note without tags"

[2022-07-01 04:34] udyanojha commented on #11105
Hi everyone! open-source
This is Udyan, I'm new to open source and would love to contribute to the open-source community. Please let me know what I can work on.

[2022-07-01 16:25] cesswairimu commented on #11228
Meeting Jeff and stekching some PL ideas and processes on a piece of paper remains one of those surreal moments for me too too hear  :smiley:   here. I missed OSCA this year, maybe I can catch you both on the next one :wink:

[2022-07-01 17:11] NARUDESIGNS commented on #11228
It's my birthday tomorrow 🎉
I'm grateful for how far I've come and I thank you guys for being a part of my journey 🥳

[2022-07-01 18:51] Forchapeatl commented on #11228
Happy Birthday in advance @NARUDESIGNS

[2022-07-02 09:44] jywarren commented on #11232
OK great, was able to reproduce the error:

[code]

[2022-07-02 09:48] jywarren commented on #11232
Not sure exactly, but, [here we switched to terser](https://github.com/publiclab/mapknitter/pull/1616), possibly due to `image-sequencer`, and we did recently upgrade IS 3 months ago and haven't published since: https://github.com/publiclab/plots2/pull/10835

[2022-07-02 09:58] jywarren commented on #11232
OK, i believe switching to terser worked!!!

[code]

[2022-07-02 10:09] #11232 closed

[2022-07-02 10:46] jywarren commented on #9502
I believe that's the last instance?

[2022-07-02 10:55] #11239 closed

[2022-07-02 12:48] jywarren commented on #11228
Happy birthday Paul!!!!

On Fri, Jul 1, 2022, 9:51 PM FORCHA ***@***.***> wrote:

[2022-07-02 13:31] NARUDESIGNS commented on #11228
Thank you ❤️

[2022-07-02 14:52] stephaniequintana commented on #11228
Thanks for this check-in @Forchapeatl - even though I'm just now checking-in, I've been thinking on my exciting moments w/PL since you first posted this. It's nice reading about all the others. I especially like that so many of you got to meet in person, in many cases after working together remotely for a time - how neat that must've been!

Mine is not one specific moment, but more of a conglomera

[2022-07-02 15:11] KarishmaVanwari commented on #11228
Happy Birthday @NARUDESIGNS!! Wishing you the best!! 🎉

[2022-07-02 16:09] cesswairimu commented on #11228
Happy birthday @NARUDESIGNS :tada: :tada:

[2022-07-02 22:33] PeculiarE commented on #11228
Happy birthday, Paul!!!!! 🎉 🎉 🥳 🥳

[2022-07-03 02:06] anirudhprabhakaran3 commented on #11228
Happy birthday @NARUDESIGNS !!!! 🥳 🎉

[2022-07-03 02:07] vedant-z commented on #11228
Happy Birthday @NARUDESIGNS 🎉🎉

[2022-07-03 17:49] cesswairimu commented on #11228
Would anyone like to open next week's check-in?

[2022-07-03 22:09] Abdullahqasim75 commented on #11206
@gitofbabai are you working on this issue?

[2022-07-03 22:10] Abdullahqasim75 commented on #11206
i am a beginner and want's to work on this issue can i work on it?

[2022-07-03 22:15] Abdullahqasim75 commented on #11105
i am first timer i want to work

[2022-07-03 22:48] NARUDESIGNS commented on #11228
Thank you everyone for your wishes and I'm sorry this check-in was kinda distracted by my birthday.
❤️

[2022-07-04 02:01] anirudhprabhakaran3 commented on #11228
Hi @cesswairimu , can I open this week's check-in?

[2022-07-04 05:30] cesswairimu commented on #11228
Hi @anirudhprabhakaran3, yes you can. thanks

[2022-07-04 19:08] Abdullahqasim75 commented on #11206
can i work on this issue?

On Mon, 4 Jul, 2022, 11:56 pm Tilda Udufo, ***@***.***> wrote:

[2022-07-05 06:57] TildaDares opened #11244 "Update alert message on wiki creation/edit"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-05 07:09] TildaDares opened #11245 "Add margin to graph"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-05 07:32] TildaDares opened #11246 "Follow button on blog page only works for the first post"
The follow button on the blog posts page only works for the first post.

You can test this by navigating to the blog page https://publiclab.org/blog and clicking the follow button.

The relevant code for this functionality:

https://github.com/publiclab/plots2/blob/bf8b4aba318a8b9c2421271ae44cc733055e1a33/app/views/tag/_subscribe_button.html.erb#L4-L21

https://github.com/publiclab/plots2/blob/bf8

[2022-07-05 09:03] udyanojha commented on #11245
@TildaDares Thank you so much! I'm on it,

[2022-07-05 17:09] KarishmaVanwari opened #11248 "Add toolip to `first-time-poster` tag to highlight it as a default tag"

[2022-07-05 17:29] ebarry commented on #4072
This is an exciting advancement!~

[2022-07-05 20:06] #11241 closed

[2022-07-06 01:04] gitofbabai commented on #11206
Hi @TildaDares I tried to make all the changes as described but the pull request failed. Can not resolve that.
Any assistance would be very helpful.

[2022-07-06 13:36] joshhayles commented on #11244
@TildaDares I've read through this, but I don't see any instructions on what the issue is that I'm supposed to fix? Can you clarify what I need to do?

[2022-07-06 15:39] #11206 closed, assigned to nobody

[2022-07-06 15:44] TildaDares opened #11252 "Refine Display of Email Notifications Page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-07 17:18] #11203 closed

[2022-07-07 17:41] oba2311 commented on #11252
Hey @TildaDares  - is it up for grabs now? thanks!

[2022-07-07 20:45] lblk-coder commented on #11105
Hello @TildaDares, I'm first timer, and'd be happy to help !

[2022-07-08 03:19] XD69Z commented on #11244
Hey, is the bug fixed, I am first timer and I am looking for my first contribution, and this seems like something that I can contribute towards.

[2022-07-08 03:59] XD69Z commented on #11105
HI @TildaDares, I want to contribute to open source, and I am a first timer. Anything that I can help out with?

[2022-07-09 21:18] udyanojha commented on #11245
Hi @TildaDares, Please review my PR.

[2022-07-09 21:20] udyanojha commented on #11245
In these past few days, I learned many new things about Git and GitHub using resources available at Community toolbox & readme.
Thank you so much!

[2022-07-10 07:21] #11245 closed, assigned to nobody

[2022-07-10 07:51] TildaDares opened #11259 "Change order of items on profile page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-10 08:10] TildaDares opened #11260 "Move `Follow` and `New Post` Buttons to Bottom of Profile Card"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-10 08:27] cesswairimu commented on #11228
hi @anirudhprabhakaran3, I bet you forgot you to open the check-in and it skipped my mind. Would you like to open this coming week one?

[2022-07-10 08:37] TildaDares opened #11261 "Remove grey color from links in wiki edit page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-10 08:47] XD69Z commented on #11261
Thank you so much, @TildaDares , I will try my best. If I need any help, I will let you know. But, I promise to keep you updates on every step.

[2022-07-10 09:00] XD69Z commented on #11261
Hey @TildaDares, may I know, what to write in the "Propose Changes" section? I did, change the codes, as directed, but I am a bit confused with the Propose Changes part.

[2022-07-10 11:14] leighbriody commented on #11260
I would like to try this if no one has yet ?

[2022-07-10 11:24] leighbriody commented on #11105
Hi , I would love a first issue to work on !

[2022-07-10 12:13] udyanojha commented on #11246
Hi @TildaDares
May I work on this? I just finished my first Contribution here.
Also, I think we should use **class** instead of **id** for identifying more than one element. The id attribute is intended to be used for a single element and if more than one has the same id, only 1 will be selected.
Hence, the first button responds.
Or we can use different unique ids but it will be difficult to work

[2022-07-10 12:17] udyanojha commented on #11246
I'll try to reproduce this on my device and then get back!

[2022-07-10 12:24] #11261 closed, assigned to nobody

[2022-07-10 13:15] TildaDares opened #11263 "Remove extra pipe symbol on people page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-10 13:21] bad-atnames0 commented on #11105
Hi @TildaDares  I would like a first issue to work on

[2022-07-10 13:33] bad-atnames0 commented on #10153
Hey ! my preferred languages are html css js nodejs c++ and c , i am looking for my first contribution , feeling stuck , can someone assign an issue ?

[2022-07-10 13:59] #11263 closed, assigned to nobody

[2022-07-10 14:48] noleni commented on #11105
Hi @TildaDares, I'd love to contribute :)

[2022-07-11 08:48] abhiramshukla commented on #11105
Hi, first timer here. Would love to contribute :)

[2022-07-11 09:28] AbhayK200417 commented on #11259
I have updated the file profile.html.erb , just needed a review

[2022-07-11 09:31] AbhayK200417 commented on #11259
can i commit it to main?

[2022-07-11 10:57] AbhayK200417 commented on #11259
Thankss!!

[2022-07-12 04:04] anirudhprabhakaran3 commented on #11228
Right, yes. So sorry! I'll open one right now

[2022-07-12 04:14] anirudhprabhakaran3 opened #11266 "Weekly Community Check-In #147 - New Technologies"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, and contribute together so why not share our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their

[2022-07-12 04:14] anirudhprabhakaran3 commented on #11228
New check-in at https://github.com/publiclab/plots2/issues/11266. Thanks everyone!

[2022-07-12 04:14] #11228 closed

[2022-07-12 05:51] udyanojha commented on #11266
Hi everybody! 👏
First of all, I would like to thank the Public Lab community to be so welcoming and providing a seamless opportunity to get started with open source and learning in public. 😄
I got my first PR merged this week. @TildaDares thank you for actively helping us first-timers. ❤️
I learned many things about open source from Public Lab community resources. 🎯
Although I'm new in tech, I lik

[2022-07-12 06:35] NARUDESIGNS commented on #11266
Yea I heard about this bun too but haven't looked into it yet.
Well for me I got to learn so much about Vue3 Composition API and use it at work.
Alongside I found:
- **Mockapi** which helps you create mock api endpoints with mock data.
- **Swagger UI** and **Readme**, these ones are very helpful for documenting your API.
- Lastly **Thunder Client**, this is like postman but is a VSCode extension.

[2022-07-12 11:56] XD69Z commented on #11244
Hey @TildaDares if this issue remains unresolved, can I take it up ?

[2022-07-12 13:40] rangav commented on #11266
Thank you for mentioning about [Thunder Client](https://www.thunderclient.com), let me know if you have any feedback or questions on our Github page

https://github.com/rangav/thunder-client-support

[2022-07-12 16:55] TildaDares opened #11267 "Refine Display of User Email Page on Large Screens"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-12 17:12] TildaDares opened #11268 "Refine Display of Features Page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-12 17:41] TildaDares opened #11269 "Fix Wrong Link to Tag Wikis"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-12 19:38] PeculiarE commented on #11266
Thank you everyone for sharing these awesome technologies. Looking forward to using them in a couple of projects.

Recently, I got introduced to Metabase. It's an open-source BI (Business Intelligence) tool that serves as a viable alternative to Tableau and PowerBI. One of its exciting features is its ability to deliver automated reports to your email or a Slack channel at prescribed time interval

[2022-07-13 03:59] bad-atnames0 commented on #11260
Thanks @TildaDares I'll start working on the issue

[2022-07-13 04:37] udyanojha commented on #11266
@PeculiarE I'll definitely check this. I have past experience with teaching EDA, BI practices etc using R, Python, Google Data Studio etc. Thank you for sharing.

[2022-07-13 04:59] bad-atnames0 commented on #11260
@TildaDares Thanks for letting me a part of the issue , I have completed the fix and issued the PR

[2022-07-13 05:39] abhiramshukla commented on #11269
@TildaDares Thank you. I am on it.

[2022-07-13 07:14] jindalj commented on #11105
Hi, @TildaDares i would love to contribute in the first issue

[2022-07-13 08:13] bad-atnames0 commented on #4036
Hi @sagarpreet-chadha ,I would love to continue with this issue. Can you assign it to me if it is still open or not assigned to anyone else?

[2022-07-13 09:04] #11260 closed, assigned to nobody

[2022-07-13 15:34] abhiramshukla commented on #11269
@TildaDares Kindly review my pull request :)

[2022-07-13 17:48] #11269 closed, assigned to nobody

[2022-07-14 09:51] AbhayK200417 commented on #11259
@TildaDares I have already done that you may please check.

[2022-07-14 09:55] AbhayK200417 commented on #11267
@TildaDares Can I work on this?

[2022-07-14 14:28] TildaDares commented on #11267
Hi @AbhayK200417, contributors are only allowed to work on one FTO issue. Thanks!

[2022-07-14 14:29] TildaDares commented on #11259
Hi @AbhayK200417, I can't find the PR for this issue.

[2022-07-14 14:32] TildaDares commented on #11267
Reassigning!

[2022-07-14 14:48] #11268 closed, assigned to nobody

[2022-07-14 21:20] #11259 closed

[2022-07-15 09:45] TildaDares commented on #11267
Hi @Kshitiz-Mhto, of course I'll add your name back on the list.

[2022-07-15 09:47] #11267 closed

[2022-07-16 17:31] thexjoker71 commented on #11105
Hello there! First timer, happy to help however I can.

[2022-07-16 18:31] udyanojha commented on #11246
Hi! @TildaDares ,
I hope you are doing good.
Please refer to the above comments.
Thanks

[2022-07-17 10:45] Nishchay1571999 commented on #11105
Hi @TildaDares I would love to contribute in the first issue.

[2022-07-17 15:13] TildaDares opened #11280 "Remove pipe symbol on profile page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-17 15:21] TildaDares opened #11281 "Change link to more descriptive text"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-17 15:29] TildaDares opened #11282 "Use plural for zero wiki/note count"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-17 18:44] nzaih1999 commented on #11281
id like to try this

[2022-07-17 19:12] nzaih1999 commented on #11105
hello id love a task to work on

[2022-07-18 09:45] cesswairimu commented on #11266
Thanks all for sharing;
Not a new tool, but an extension I often use is [octotree](https://github.com/ovity/octotree) extension, comes in handy when checking out github projects and navigate between the files.

Would anyone like to open this week's check-in?

[2022-07-18 09:46] thexjoker71 commented on #11281
i will start working on it now, ty.

[2022-07-18 10:25] thexjoker71 commented on #11281
my pull request failed the system tests what is that?

[2022-07-18 12:20] #11281 closed, assigned to nobody

[2022-07-18 12:24] #11280 closed, assigned to nobody

[2022-07-18 14:12] cesswairimu commented on #9871
Currently failing  on startup withf 2 errors:
1. `Sprockets::FileNotFound in Home#home` :  running  `yarn install` fixes this and on restarting server, the error displayed next is error 2
2. `Webpacker::Manifest::MissingEntryError in Home#home`: running  `rails webpacker:install` solves this: on server restart the browser loads perfect

[2022-07-18 19:15] swayamterode commented on #11282
Hi! @TildaDares I'm **beginner** in Open Source can you please assign this issue to me as **I want to get started with open source**!

[2022-07-18 19:29] swayamterode commented on #11105
Hello I'm beginner to Open Source I haven't contributed anything so far and would love to get my PR merged!

[2022-07-19 05:33] udyanojha commented on #10844
@TildaDares I'm getting this error previously I was getting issues while running on Ubuntu. So I switched to Gitpod (earlier comments suggested this way) but I'm getting this issue. <br>
Tried Deleting forked repo and reforked
Tried Running Main repo in Git pod

![image](https://user-images.githubusercontent.com/51847297/179672273-9f0737af-ea80-428c-a9e1-505b48debd99.png)

[2022-07-19 06:24] cesswairimu commented on #10844
Hi @udyanojha, I experienced the same on my end on gitpod ; running `yarn install` solved this error, after restarting server you might get "Webpacker error" and running `rails webpacker:install`  should solved it. cc https://github.com/publiclab/plots2/issues/9871#issuecomment-1187538315

[2022-07-19 06:58] cesswairimu commented on #11266
Moved to https://github.com/publiclab/infragram/issues/433. Thanks all.

[2022-07-19 06:58] #11266 closed

[2022-07-19 07:11] udyanojha commented on #10844
Thank you so much!

[2022-07-19 10:29] ritikadhamija commented on #11244
Hi @TildaDares I would love to contribute. Let me know if this issue is still unresolved.

[2022-07-19 16:01] #10038 closed

[2022-07-19 16:21] jywarren commented on #11185
Hi @anirudhprabhakaran3 can you update us on where you are on your project right now? Midterm evaluations are coming up this week so I want to have a good understanding of where you're at, and let us know if you are stuck on anything! Thank you!

[2022-07-19 16:22] jywarren commented on #11187
Hi @KarishmaVanwari can you update us on where you are on your project right now? Midterm evaluations are coming up this week so I want to have a good understanding of where you're at, and let us know if you are stuck on anything! Thank you!

[2022-07-19 16:25] jywarren commented on #11123
Just circling back to answer here -- so, although notes have multiple tags, the inline display is driven from a single tag, so we can use that. That is, you create an inline grid by inserting the string `[notes:water-quality]` for example, so we can use the tag that is specified.

Will the visibility of this link be optional based on the node count? For example, if there are just 9 proposals, will

[2022-07-19 16:33] jywarren commented on #11161
[code]

in https://github.com/publiclab/plots2/pull/11255

[2022-07-19 17:59] aakash-kumar-gorai commented on #11282
Hey @TildaDares , I am very beginner to open source so can you please allow me contribute to this issue !
Thank You.

[2022-07-20 02:38] anirudhprabhakaran3 commented on #11185
Hello! Yes, it has been quite some time since I have updated this issue. My apologies!

I am currently looking into the DrupalNodeImage issue (#76). I'm going through all the different approaches mentioned on the thread to see which is the best, which is taking more time than I expected. That is the cause of the delay.

I was wondering if I should come up with the migration for the Answers model (

[2022-07-20 12:20] rit-clone commented on #11244
Hi @TildaDares I've raised this [PR](https://github.com/publiclab/plots2/pull/11292). Please let me know what further steps are required from my side.
(P.S. sorry for the mismatch, `ritikadhamija` was my old username)

[2022-07-20 18:14] #11282 closed, assigned to nobody

[2022-07-21 23:05] KarishmaVanwari opened #11296 "Add necessary validations for dates"

[2022-07-22 12:44] KarishmaVanwari commented on #11187
Hi @jywarren!
Apologies for a break of a few days since I had health issues and was travelling, as already informed. It took me a little while to get back on track, hence I have been off pace for quite some time.
As this planning issue shows, I have 7 subtasks under this project - of which 3 are completed as of now namely -
1. Date picker for individual tag pages (A PR is yet to be merged)
2. Refi

[2022-07-22 14:32] #11244 closed, assigned to nobody

[2022-07-22 15:02] aakash-kumar-gorai commented on #11252
hey @TildaDares can you tell that have followed the steps correctly to create a pull request ?

[2022-07-22 17:23] #11252 closed, assigned to nobody

[2022-07-22 21:22] #11296 closed

[2022-07-26 09:34] TildaDares opened #11304 "Switch Arrow Icon That Is Displayed When Accordion is Open"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-26 10:30] TildaDares opened #11305 "Show `Sort By` Button Only If Tag Is Not Wildcard"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-26 16:55] jywarren opened #11307 "Introduce categories into navbar tags/search dropdown"
https://github.com/publiclab/plots2/blob/77188bace30ac41174dfbdb2f4754f8da39303d2/app/controllers/tag_controller.rb#L398-L405

So when typing `water` this endpoint returns:

[code]

My guess from this code: https://github.com/bassjobsen/Bootstrap-3-Typeahead/blob/fc2d5dce4a5406d9b924224e395d5647918707c7/bootstrap3-typeahead.js#L335-L352

...is that if an item has an attribute "category" then they

[2022-07-26 17:06] jywarren commented on #11307
So the steps would be:

- change the `suggested` method to look for `params[:json]` and return json if it's the case (probably by creating a Ruby hash (associative array) and then returning it with something like:

[code]

- modify the Ruby method to append a category to each item
- add a new item to the "beginning" of the hash, with a category like "search"]
- modify the logic here to run a searc

[2022-07-26 17:11] unfirthman commented on #11305
Thank you, @TildaDares !

[2022-07-27 07:04] #11305 closed, assigned to nobody

[2022-07-28 04:36] Nishchay1571999 commented on #11105
Hi @TildaDares I wasnt available for the past few days can have another issue for the beginners once again ?

[2022-07-28 09:31] Nishchay1571999 commented on #11304
Hi @TildaDares could You assign it to me?

[2022-07-28 09:50] Nishchay1571999 commented on #11304
Hi @TildaDares I have completed the task at my profile's forked project. I didn't quite understand what the next steps are could you help me out ? [Link for the forked repo](https://github.com/Nishchay1571999/plots2)

[2022-07-28 10:00] Nishchay1571999 commented on #11304
code for review : #11310

[2022-07-28 10:11] Nishchay1571999 commented on #11304
@TildaDares could you review the code?

[2022-07-28 10:31] Nishchay1571999 commented on #11105
Hi @TildaDares #11310 code for review.

[2022-07-28 16:36] #11304 closed, assigned to nobody

[2022-07-28 16:52] jywarren commented on #11185
Hi @anirudhprabhakaran3 sorry for slow response here but I'm glad to see you are working on the answers model too! It can be good to have 2 projects going in case you feel stuck on one, or just to give your brain a break (being able to switch between a bit). I'll look at your answers PR too!

[2022-07-28 16:56] jywarren commented on #11307
@KarishmaVanwari let me know what you think about this!

[2022-07-29 19:20] Harsh3363 commented on #11246
Hii @TildaDares can I to fix this issue

[2022-07-29 19:27] Harsh3363 commented on #11105
Hii @TildaDares  I want to get started with open source contribution

[2022-07-31 00:48] KarishmaVanwari commented on #11307
Hi @jywarren!
Apologies for delayed response. I have been reading this and went through the details as mentioned. It's been difficult for me to figure out this complete task, since it sounds a little complicated (it seems so, I'm not sure though). I guess I'll need time to figure this out. Also can we discuss this over the meet this Tuesday? I need some input to understand this better.
Thanks!

[2022-07-31 23:52] jywarren commented on #11307
Yes we can def. discuss Tuesday! It is a bit complex. I would break it into parts:

1. get the JSON format response working first, test it manually
2. get the navbar autocomplete code to request the JSON format by adding the `?json=true` flag
3. get the navbar autocomplete code to read JSON format by setting that using https://github.com/bassjobsen/Bootstrap-3-Typeahead#using-json-objects-instead-

[2022-08-01 09:53] vaishnavi4444 commented on #11105
Hi @TildaDares I would like to contribute and I'm new to open source, could you add me to FTO list please?

[2022-08-02 00:29] hsadia538 commented on #11105
Hi @TildaDares can you add my name to the FTO list as well and assign an issue? Thanks

[2022-08-02 11:25] cesswairimu opened #11315 "Weekly Community Check-In #149 - Helpful learning channels"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-08-02 15:33] jywarren commented on #10765
Ah, thanks @TildaDares and sorry to miss this. I think we need to fix the logic for when there is no translation:

https://github.com/publiclab/plots2/blob/3b7222e5655e41ea4e7102ddbdcb1510932b6228/app/views/tag/_profileCard.html.erb#L27-L29

<img width="1243" alt="image" src="https://user-images.githubusercontent.com/24359/182413983-957a2929-66ab-4702-a0dc-01cb17ad8374.png">

[2022-08-02 17:07] jywarren opened #11317 "Re-list maps on /archive, create redirect nodes"
Since https://github.com/publiclab/plots2/pull/11225, map nodes have become note nodes; however we have some follow-ups to do now. CC @anirudhprabhakaran3

https://publiclab.org/archive should continue to list those notes - so we should go back and add a tag `map-archive` to each. We need to dig up an old archive of node `nid`s to label them, which I can do using a script (or we can do in a migrat

[2022-08-02 17:37] jywarren commented on #11317
I'm working on pulling the old nids and paths, just so you're aware! ❤️

[2022-08-02 20:25] jywarren commented on #11315
Hi Cess - thank you, great topic. I find that I have a lot of trouble using different libraries, as many are not well documented. I like the ability to go look at other projects and how they've used a library, as a hint to how we should do it. So I often go into other projects' issues and look around, or use the "blame" view (aka "appreciation" view haha) to see how things were done so I can see.

[2022-08-03 15:48] Manaswee03 commented on #11105
Hi, @TildaDares I would like to contribute for the first issue

[2022-08-03 18:28] TildaDares opened #11319 "Remove Underline from Icons"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-08-03 18:30] Harsh3363 commented on #11105
Thanks for informing ☺

[2022-08-03 18:34] Harsh3363 commented on #11319
Hii @TildaDares as mentioned above I have to claim this issue please assign this to me.
Thanks

[2022-08-03 18:52] TildaDares opened #11321 "Refine Display of Ban Button"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-08-03 19:01] TildaDares opened #11322 "Refine `Link social media` translation text"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-08-03 19:56] TildaDares opened #11323 "Add unique ids for comments table row"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-08-03 20:00] Harsh3363 commented on #11319
Hii @TildaDares I have made the changes and made a PR

[2022-08-03 20:04] hsadia538 commented on #11322
@TildaDares Do I need to do anything else to claim it?

[2022-08-03 23:22] hsadia538 commented on #11322
@TildaDares  I am getting some errors while doing the setup. Where is the best place to ask?

[2022-08-03 23:32] hsadia538 commented on #11322
@TildaDares Also, you can assign it to someone else.

[2022-08-03 23:37] hsadia538 commented on #10844
When I run `bundle exec passenger start` I get:
<img width="711" alt="Screenshot 2022-08-03 at 4 36 42 PM" src="https://user-images.githubusercontent.com/24232785/182730585-af53322f-e025-4ec9-9b92-3c3908409e00.png">

Anyone having any idea on how to fix this?

[2022-08-04 05:45] nzaih1999 commented on #11105
Hello @TildaDares my laptop got spoilt and I didn't see my issue..any chance that I can be assigned another issue?

[2022-08-04 11:33] Manaswee03 commented on #11323
Thankyou @TildaDares for assigning this task to me. I would surely like to work on this task. Also, I would like to know if I could get some recognition, on successful completion of my task. It would be a great help as I have to present this recognition as a part of my academics.

[2022-08-04 12:40] slayeh17 commented on #11105
Hello @TildaDares  I am very exited to make my first contribution.
Can I get an issue to work on 😊

[2022-08-04 12:43] hsadia538 commented on #10844
Yes I have, still the same issue.

[2022-08-04 13:00] hsadia538 commented on #10844
I was able to do the setup with Gitpod and it's running. Thank you to all who commented here and suggested this way.
In my local dev environment, I am trying to log in with the username `admin` and password `password` as listed on the main page.
But it says that this user does not exist. Do I really need to do this? If yes then how

[2022-08-04 13:42] hsadia538 commented on #10844
After signing up on local dev env I am getting this
<img width="1037" alt="Screenshot 2022-08-04 at 6 42 43 AM" src="https://user-images.githubusercontent.com/24232785/182861947-90ea1ee2-93d2-46a1-9ea8-fb25bb740d5c.png">

[2022-08-04 14:07] Aadil-Shaik commented on #11321
Hey @TildaDares  let me try it after vaishnavi4444
Thankyou !

[2022-08-04 14:56] hsadia538 commented on #11246
@Harsh3363  are you still working on this?

[2022-08-04 15:02] Harsh3363 commented on #11246
Yeah

[2022-08-04 15:35] #11322 closed, assigned to nobody

[2022-08-04 16:33] Aryan-Koul29 commented on #11319
Good Evening @TildaDares Ma'am I would like to work on this issue. So can you please assign me this issue.

[2022-08-04 16:42] Manaswee03 commented on #11323
Yeah definitely that will do... Thankyou @TildaDares :) I will compete the task as early as possible..

[2022-08-04 17:19] jywarren commented on #11323
Hi! Thanks for your help with this! Can you let us know your Twitter name or should we just link to here? ✨

[2022-08-04 17:59] Manaswee03 commented on #11323
Yeah sure.. My Twitter handle is @ManasweeKoli
The link for the same is:-https://twitter.com/ManasweeKoli?t=yGoa4JjcXX85m1VoruDe5w&s=09

[2022-08-04 19:14] vaishnavi4444 commented on #11321
Thanks! I will start working on this issue!

[2022-08-04 22:18] PeculiarE commented on #11105
Hi @nzaih1999, there's an issue reserved for you in https://github.com/publiclab/mapknitter/issues/1775 for 24 hours!

[2022-08-05 08:36] Forchapeatl commented on #10844
@hsadia538 , delete the old fork and try reforking.

[2022-08-05 08:45] hsadia538 commented on #10844
@Forchapeatl This was my 3rd time reforking the repo and using gitpod to run it.
Is it necessary to get the user created?

[2022-08-05 08:47] Forchapeatl commented on #10844
@hsadia538 what database are you using Mysql or Sqlite ?

[2022-08-05 08:53] hsadia538 commented on #10844
Sqlite.
I edited the database.yml as follows:
<img width="645" alt="Screenshot 2022-08-05 at 1 53 21 AM" src="https://user-images.githubusercontent.com/24232785/183041098-587e209c-4440-4e4f-88aa-d0d4eeed1a8d.png">

[2022-08-05 09:04] Forchapeatl commented on #10844
@hsadia538 , okay don't edit anything , just follow steps 5,6,7,8 and tel me how it goes [https://github.com/publiclab/plots2/#readme](https://github.com/publiclab/plots2/#readme)

[2022-08-05 09:11] Forchapeatl commented on #10844
of the standard [installation](https://github.com/publiclab/plots2/#standard-installation)

[2022-08-05 09:33] hsadia538 commented on #10844
IT WORKED!!!

No idea what really happened, but I reforked. Redid all the steps 5,6,7,8 mentioned [here](https://github.com/publiclab/plots2/#readme) as per @Forchapeatl's advice.

Got stuck at `rails webpacker:install && rails webpacker:install:react && rails generate react:install` and it was giving me timeout. I redid the steps from `yarn install` to the last one following @kunmi02's [comment](

[2022-08-05 09:39] Forchapeatl commented on #10844
you  are welcome @hsadia538

[2022-08-05 12:03] hyy170190 commented on #11105
Hi. This is my first time to contribute 😄 Can I have a FTO issue?

[2022-08-05 12:48] zexinbeh commented on #11105
Hello, I am a beginner and I want to work on a FTO issue. Can you grant my request? :D

[2022-08-05 12:52] xinzhe822 commented on #11105
Hi. This is my first time contributing to an open-source project. Can I have an FTO issue😀?

[2022-08-05 12:56] april-EXO commented on #11105
Hello~ I'm new to contributing to an open-source project. Can I have an FTO issue?

[2022-08-05 15:57] prak30 commented on #11105
hey new to open source would love to contribute to something

[2022-08-05 16:04] opelolo commented on #11105
Hello there 😄 I'm new to opensource and would love to contribute. Thank you

[2022-08-05 19:28] KarishmaVanwari opened #11331 "Create a Random Generator to fetch nodes randomly as cards"

[2022-08-06 03:56] Aadil-Shaik commented on #11105
Hello @TildaDares  could you help me look for an issue
Thankyou

[2022-08-06 07:33] TildaDares opened #11333 "Remove `Following` header from People page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-08-06 07:43] slayeh17 commented on #11105
Thank You so much @TildaDares

[2022-08-06 07:47] TildaDares opened #11334 "Correct Grammatical Errors in FTO Template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-08-06 07:56] slayeh17 commented on #11333
Hello, I just made the necessary edit in the main file and created a pull request can the maintainer review it.
Thank You.

[2022-08-06 08:56] hyy170190 commented on #11105
Thank you.

[2022-08-06 08:57] hyy170190 commented on #11334
Thank you for assigning this to me. I will complete it soon.

[2022-08-06 09:15] #11333 closed, assigned to nobody

[2022-08-07 05:40] hyy170190 commented on #11334
I created a pull request #11337 for this issue. Please review it. Thank you very much 😄

[2022-08-07 08:29] #11334 closed, assigned to nobody

[2022-08-07 08:31] #11319 closed, assigned to nobody

[2022-08-08 04:59] zexinbeh commented on #11105
Hi. This is my first time to contribute for this project 😄 Can I have a FTO issue?

[2022-08-08 06:58] Manaswee03 commented on #11323
Hi @jywarren! I have successfully completed the task assigned to me. So can you please mention my contribution on twitter, as I have to show a proof to my professor.

[2022-08-08 07:17] #11323 closed, assigned to nobody

[2022-08-08 14:31] #11321 closed, assigned to nobody

[2022-08-09 05:27] cesswairimu commented on #11315
Hi all, lets leave this for another week. If anyone would like to open next week's check-in kindly comment below. Thanks all

[2022-08-09 07:42] TildaDares opened #11340 "Change chatroom link on 404 page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-08-09 07:57] TildaDares opened #11341 "Change chatroom link on 422 page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-08-09 07:58] zexinbeh commented on #11105
Thank you @TildaDares

[2022-08-09 07:59] zexinbeh commented on #11340
Thank you @TildaDares

[2022-08-09 08:00] TildaDares opened #11342 "Change chatroom link on 500 page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-08-09 08:02] TildaDares opened #11343 "Change chatroom link on 502 page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-08-09 08:06] TildaDares opened #11344 "Change chatroom link on 503 page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before or those who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially inter

[2022-08-09 08:11] gogoiakash2311 commented on #11342
Heyy!! Can I work on this??

[2022-08-09 08:13] gogoiakash2311 commented on #11342
i'd like to try this

[2022-08-09 08:20] gogoiakash2311 commented on #11105
hello, I'd love to work on an issue.

[2022-08-09 08:45] iem-saad commented on #11344
Hi @TildaDares, I hope you are well. Can I do this task? There are no Assignees for this task.
Thanks.

[2022-08-09 08:52] iem-saad commented on #11105
Hi @TildaDares, I am a ROR developer having experience of 2 years. But I am new to open source can you please assign me something to get started?

Thanks.

[2022-08-09 09:03] iem-saad commented on #9071
@noi5e Hi, is anyone working on this issue? I would like to work on it if possible. Thanks

[2022-08-09 09:11] iem-saad commented on #11344
Thank you @TildaDares you are great.

[2022-08-09 10:53] april-EXO commented on #11105
Thank you very much <3

[2022-08-09 15:31] april-EXO commented on #11342
I created a pull request https://github.com/publiclab/plots2/pull/11345 for this issue. Please review it. Thank you.

[2022-08-09 15:38] Arijit6258 commented on #11343
Hey, Can I work on this ??

[2022-08-09 15:59] xinzhe822 commented on #11341
I created a pull request #11346 for this issue. Please review it. Thank you.

[2022-08-09 16:11] noi5e commented on #9071
@iem-saad Yes, feel free to go ahead and make a PR!

[2022-08-09 16:11] april-EXO commented on #11342
I failed one of the check and I do not understand what the error means, can someone guide me on this?
![image](https://user-images.githubusercontent.com/79454477/183703279-6af20156-bc05-449b-a616-6fc21345566a.png)

[2022-08-09 16:16] iem-saad commented on #9071
Thanks for allowing me, will ping you when done or help needed.

[2022-08-09 16:42] #11341 closed, assigned to nobody

[2022-08-09 16:57] prak30 commented on #11105
Thanks tilda, starting to work on it

[2022-08-09 17:33] hsadia538 commented on #11085
@anirudhprabhakaran3  Can I work on this?

[2022-08-09 18:44] #11342 closed, assigned to nobody

[2022-08-09 20:55] opelolo commented on #11105
Thank you. I'm on it now

[2022-08-09 20:57] opelolo commented on #11344
Thank you.

[2022-08-10 09:17] prak30 commented on #11343
i have done the changes please review it

[2022-08-10 14:10] #11343 closed, assigned to nobody

[2022-08-10 21:31] PeculiarE commented on #11315
Thank you for sharing, Cess!

I don't have any specific youtube channels I use. And I prefer reading to watching 😀

So, most times, I first head over to read the documentation for the library, plugin, or package I want to include in the project I'm working on. Then I read Medium or Dev.to articles/tutorials to see how fellow developers have used them in their own projects. If it's looking too comp

[2022-08-11 15:23] Devang-Shah-49 commented on #11340
I would like to work on this issue @TildaDares

[2022-08-11 16:36] #11344 closed, assigned to nobody

[2022-08-11 18:07] iem-saad commented on #9071
Hi @noi5e, you use rbenv or RVM for managing ruby versions? I use RVM and having following issue while project setup. Do you know any workaround??
https://bugs.ruby-lang.org/issues/18658

[2022-08-11 18:12] noi5e commented on #9071
@iem-saad I recommend asking for config help in Public Lab's Gitter channel... Or browse our open issues, you might find that someone else has encountered the same setup bug.

[2022-08-12 16:30] #11340 closed, assigned to nobody

[2022-08-13 13:34] zadilkhwaja commented on #11105
Hi! I'm a first timer and I'd love to work on something!

[2022-08-14 13:04] Beckeruni commented on #11105
Hey, first timer here.
    Would love to get something to work on :)

[2022-08-14 14:47] TildaDares opened #11353 "Move links in questions page (tag) to the bottom"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-08-14 18:01] TildaDares opened #11354 "Hide Wiki Edit Button if User is not Logged In"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-08-14 18:34] TildaDares opened #11355 "Notes and Questions Pages Returning Error Pages"
Existing notes/questions and newly created notes/questions display an error page when you try to access them.

The console returns this error
`Psych::DisallowedClass (Tried to load unspecified class: ActiveSupport::HashWithIndifferentAccess):`

I get the same error on the stable server.

Cc @jywarren @cess

https://user-images.githubusercontent.com/63427719/184550306-f8485e24-cd17-428b-b517-8e8d22

[2022-08-15 10:30] iem-saad commented on #9071
Hi, @noi5e I hope you are well. I've completed the task can you please review it #11356
Thanks.

[2022-08-15 11:15] iem-saad commented on #11353
@TildaDares Hi, can you assign this to me if previous assignee doesn't responds in 24 hours?

[2022-08-16 08:06] cesswairimu commented on #11085
Hi @hsadia538, this is a feature request and it hasn't been decided whether or not it will be implemented... it is in more of a discussion stage.We would love your help in assessing if breadcrumbs would be beneficial to the [website](https://publiclab.org) and possibly how the breadcrumb trail could look like. Is this something you would like to look at?
Thanks

[2022-08-16 08:09] cesswairimu commented on #11085
Thanks @imranburki for opening this and thanks @anirudhprabhakaran3  for the gem suggestion, I think we can check both the bootstrap breadcrumb and the breadcrumbs rails gem to see which would work best for us if we decide to implement this. Thanks

[2022-08-17 07:57] Harsh3363 commented on #11246
Hey @TildaDares
Actually my exams are going on and that's why I'm not able to finish this
Sorry for the delay

[2022-08-20 23:29] legendAhsan commented on #11354
I would like to try this

[2022-08-20 23:41] legendAhsan commented on #11354
HI, @TildaDares I have created the PR for this issue here is the [link](https://github.com/legendAhsan/plots2/pull/1). Kindly guide me if there is something unusual.

[2022-08-21 07:41] iem-saad commented on #11353
@TildaDares yes but i am done with that issue, waiting for reviewers to merge that PR.

[2022-08-21 07:52] zadilkhwaja commented on #11105
Accepted👍🏻

[2022-08-21 07:57] zadilkhwaja commented on #11353
Thanks

[2022-08-21 08:54] TildaDares opened #11357 "Refine Display of `Unban` Button"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-08-21 08:54] TildaDares commented on #11357
Reserved for @Beckeruni for 24 hours!

[2022-08-21 08:55] TildaDares commented on #11105
Hi @Beckeruni, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11357 for 24 hours!

[2022-08-22 02:08] nickmendezFlatiron commented on #11357
I would like to try this if the reservation expires , thank you

[2022-08-22 02:10] nickmendezFlatiron commented on #11105
@nickmendezFlatiron  , would like to contribute for the first time

[2022-08-22 03:33] zadilkhwaja commented on #11353
Please review! :)

[2022-08-22 08:38] #9071 closed

[2022-08-22 08:59] #11353 closed

[2022-08-22 14:59] iem-saad commented on #10545
Hi @jywarren I am up for this task. If you are free please help me breakdown this task into smaller tasks and then start working.
I love working for Publiclab.
Thanks.

[2022-08-23 08:45] #11315 closed

[2022-08-23 17:36] KarishmaVanwari opened #11363 "Link store and individual tag pages"

[2022-08-25 19:52] jywarren commented on #11317
Let's try making a migration which corrects the path on the original records, and pushing that to the unstable server to test it out.

[2022-08-26 08:12] Akshath11 commented on #11105
Hi there , Its my first time contributing . Would love to get something to work on.

[2022-08-27 19:06] TildaDares commented on #11354
Reserved for @nickmendezFlatiron for 24 hours!

[2022-08-27 19:07] TildaDares commented on #11105
Hi @nickmendezFlatiron, there’s an issue reserved for you in #11354 for 24 hours!

[2022-08-27 23:49] KarishmaVanwari opened #11369 "Link store and wiki pages"

[2022-08-28 00:57] nickmendezFlatiron commented on #11354
I submitted a pull request , the system test is throwing an error though. I'm not sure whether the changes for this issue have affected the system test files , or if there is an actual error .

[2022-08-28 07:09] TildaDares commented on #11354
Hi @nickmendezFlatiron, the failing test is not your fault. I’ll take a look at it and we’ll see how we can resolve it together. Thank you!!

[2022-08-28 10:27] zadilkhwaja commented on #11105
Can i get 1 more?

[2022-08-28 13:33] TildaDares commented on #11105
Hi @zadilkhwaja, contributors can only work on one first-timers only issue. But you can look at the issues tab and pick an issue that interests you to work on. Thank you!

[2022-08-29 06:11] paulaxisabel commented on #11105
Hello @TildaDares! I'm new to open source and would love to contribute. I'd be happy to assist in any way I can. Thank you very much!

[2022-08-30 03:18] caciulla commented on #11105
HI! I'm a first-timer learning git workflow and I would love to have an issue to work on!

[2022-08-30 09:55] cesswairimu opened #11373 "Weekly Community Check-In #150 - Congratulations Summer 2022 Outreachy Interns :tada: :confetti_ball: :tada:"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-08-30 17:28] TildaDares commented on #11373
Congratulations @PeculiarE & @stephaniequintana 🎉 🎉

[2022-08-30 17:35] #11354 closed

[2022-08-30 17:37] #11357 closed

[2022-08-30 18:01] TildaDares opened #11376 "Fix: Follow button on blog page only works for the first post"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-08-30 18:01] TildaDares commented on #11376
Both changes should be in a single PR!

[2022-08-30 18:02] TildaDares commented on #11376
Reserved for @Akshath11 for 24 hours!

[2022-08-30 18:02] TildaDares commented on #11105
Hi @Akshath11, there's an issue reserved for you in #11376 for 24 hours!

[2022-08-30 18:03] TildaDares commented on #11376
Original Issue -> #11246

[2022-08-30 20:55] caciulla commented on #11105
Hi Tilda, I think there was a mix-up. I'm actually @caciulla,
not @Akshath11.

On Tue, Aug 30, 2022 at 11:02 AM Tilda Udufo ***@***.***>
wrote:

[2022-08-31 07:34] TildaDares commented on #11105
Hi @caciulla, we have a list at the top that is arranged according to who requested for an issue first.

Be rest assured that we’ll look for an issue for you.

[2022-09-01 05:21] vineethraik commented on #11376
Can I work on this issue ?

[2022-09-01 10:53] Sumer312 commented on #11105
Hi, first timer here, would love to work on something.

[2022-09-01 15:59] cesswairimu commented on #5218
A tooltip was added  https://github.com/publiclab/plots2/pull/8504 which took care of this issue. Closing this. Thanks

[2022-09-01 15:59] #5218 closed

[2022-09-01 17:31] cesswairimu commented on #10892
closing this

[2022-09-01 17:31] #10892 closed

[2022-09-01 17:47] cesswairimu commented on #11079
The current design seems better as , closing this for now  and please feel free to reopen and update if you have a better design. Thanks all

[2022-09-01 17:47] #11079 closed

[2022-09-01 18:13] cesswairimu commented on #11049
solved  in https://github.com/publiclab/plots2/pull/11053. Closing this

[2022-09-01 18:13] #11049 closed

[2022-09-02 01:42] KarishmaVanwari opened #11379 "Make the subtopics method"

[2022-09-02 13:23] jywarren commented on #11379
(Jeff editing here, adding the discussion we had before:)

[code]

Controller:

[code]

_Originally posted by @jywarren in https://github.com/publiclab/plots2/issues/11332#issuecomment-1222642281_

Let's open a new issue for setting this up within the code you created at #11229 !

[2022-09-04 15:24] TildaDares commented on #11014
Closed in #11368

[2022-09-04 15:24] #11014 closed

[2022-09-04 15:32] #11376 closed

[2022-09-04 15:33] TildaDares commented on #11246
Completed in #11378

[2022-09-04 15:33] #11246 closed

[2022-09-04 15:35] TildaDares commented on #10772
Closed in #11260

[2022-09-04 15:35] #10772 closed

[2022-09-04 15:49] TildaDares opened #11388 "Add padding to new feature page on smaller screens"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-04 15:49] TildaDares commented on #11388
Reserved for @paulaxisabel for 24 hours!

[2022-09-04 15:50] TildaDares commented on #11105
Hi @paulaxisabel, there's an issue reserved for you in #11388 for 24 hours!

[2022-09-04 16:07] TildaDares opened #11389 "Add padding to edit feature page on smaller screens"
### 💡Format this Issue Into a First Timers Issue
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and h

[2022-09-04 16:08] TildaDares commented on #11389
Reserved for @caciulla for 24 hours!

[2022-09-04 16:08] TildaDares commented on #11105
Hi @caciulla, there's an issue reserved for you in #11389 for 24 hours!

[2022-09-04 16:15] paulaxisabel commented on #11388
Thanks @TildaDares. I will work on it.

[2022-09-04 16:33] TildaDares opened #11390 "Correct grammatical errors in `first-timers-only` issue template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-04 16:34] TildaDares commented on #11390
Reserved for @Sumer312 for 24 hours!

[2022-09-04 16:34] TildaDares commented on #11105
Hi @Sumer312, there's an issue reserved for you in #11390 for 24 hours!

[2022-09-04 20:31] caciulla commented on #11389
Thank you! I'm on it

[2022-09-05 09:14] Wafa9 commented on #11357
I would like to work on this issue if it still exists.

[2022-09-05 10:54] TildaDares commented on #11357
Hi @Wafa9, this issue is closed. You can request for an issue here #11105. Thanks!

[2022-09-05 11:09] Wafa9 commented on #11105
Hello Tilda,
I would like to work on an issue, this is my first time.

[2022-09-05 11:55] ojninja16 commented on #11105
hi @TildaDares ,
I would like to contribute in any way I can ...

[2022-09-05 16:21] anirudhprabhakaran3 commented on #11185
I am planning on finishing nearly all the tasks on the list! However, the DrupalNodeImage one might not be finished in time :(. I do plan on completing that task even after GSoC though. Thanks!

[2022-09-05 16:30] #4074 closed, assigned to nobody

[2022-09-05 16:34] Mshehu5 commented on #11390
I would be happy to make my first contribution to open source with this if given the chance

[2022-09-05 16:34] #11363 closed

[2022-09-05 18:03] #11388 closed

[2022-09-05 18:05] #11389 closed

[2022-09-05 18:07] TildaDares commented on #11390
Hi @Mshehu5, please request for an issue here #11105. Thank you!

[2022-09-05 18:27] Mshehu5 commented on #11105
Hello Tilda,
I would like to make a contribution

[2022-09-06 08:35] ojninja16 commented on #11390
I have done the task ....thanks for the opportunity

[2022-09-06 16:44] jywarren commented on #11317
I'm going to test this manually on a single page: https://publiclab.org/notes/warren/07-06-2022/chandeleur-islands-louisiana which should become https://publiclab.org/map/chandeleur-islands-louisiana/2010-05-09

[2022-09-06 16:50] jywarren commented on #11317
It worked!!!

[2022-09-06 17:29] ojninja16 commented on #11390
I have generated the pull request  #11395. Awaiting your review @TildaDares !

[2022-09-06 18:17] #11390 closed

[2022-09-06 18:19] jywarren commented on #11317
OK, I was able to do this via a direct console scripting session -- we're all done here now! Woohoo!!!

[2022-09-06 18:19] #11317 closed

[2022-09-06 20:02] jywarren commented on #11355
Thank you, noticed this on stable as well: https://stable.publiclab.org/notes/juan/6-5-2012/fabaoutfit-vertical-kap-and-bap

[2022-09-06 20:03] jywarren commented on #11355
I believe this relates to YAML access security rules which have broken lots of things in Rails recently: https://github.com/publiclab/plots2/pull/11274

[2022-09-06 20:04] jywarren commented on #11355
I'll try adding `ActiveSupport::HashWithIndifferentAccess` to the allowed list

[2022-09-06 20:06] jywarren commented on #11355
https://github.com/publiclab/plots2/blob/6c27608354b632772149e2fb995e68da1deec7b3/config/environments/test.rb#L47-L60

It's there - i'll copy it into production. Unfortunately we use lots of classes in YAML as part of config.

[2022-09-06 20:08] jywarren commented on #11355
Made the change here: https://github.com/publiclab/plots2/commit/befb024d8f501e0667cd718e2c09cac5fa7ef63e

We'll monitor the URL at https://stable.publiclab.org/notes/juan/6-5-2012/fabaoutfit-vertical-kap-and-bap

[2022-09-06 21:19] jywarren commented on #11355
I believe this is resolved now!

[2022-09-07 01:16] cheehwatang commented on #11105
Hi @TildaDares , I am a first-timer and would like to work on an issue. Thank you!

[2022-09-07 01:50] PeculiarE commented on #11373
Thank you so much @cesswairimu, @TildaDares, @jywarren! ❤️ ❤️ ❤️

I've totally enjoyed working with every single one of you and collaborating with the entire community at large. it's been a rollercoaster of a ride (lots of ups, downs, and thousands of learning opportunities). I can definitely say my coding and communication skills have become way better compared to when I initially joined the comm

[2022-09-07 13:21] ryuusama09 commented on #11077
Hi ,can I claim this issue ?

[2022-09-07 16:40] lanefoxwood commented on #11105
Heya, any FTO issue I can try? It's my first time and I'd love to contribute.
Thanks!

[2022-09-07 16:57] TildaDares commented on #11077
Hi @ryuusama09, this issue is not formatted properly. You can request for an issue in #11105. Thank you!

[2022-09-08 03:47] ryuusama09 commented on #11105
hi ,I am  a first timer . Can i claim this issue ? @TildaDares

[2022-09-09 19:06] pbnj1 commented on #11105
Hello,

I would like to participate and try a FTO please.  Thank you!

[2022-09-10 22:20] jcod3s commented on #11105
Hello! I would like to participate! Could I please be added to the FTO list? Thank you!

[2022-09-10 23:58] jaishankar02 commented on #5366
Hello, I am new to open source contribution would like to work on this issue. kindly allow

[2022-09-12 07:42] cesswairimu commented on #11373
Congratulations again you both. Thanks all

[2022-09-12 07:42] #11373 closed

[2022-09-12 09:07] cesswairimu commented on #11073
You are right @Abhijeet-kadance, when adding the youtube iframe we have a dialog box that recommends the use of the 100% width and gives recommedations for smaller screens too
![Peek 2022-09-12 11-50](https://user-images.githubusercontent.com/17081074/189614502-43f0a7b4-cfbc-4650-9cd7-80ef22eb85a6.gif)

The above note has this set `<iframe width="1280" height="720" src="https://www.youtube.com/emb

[2022-09-12 09:07] #11073 closed

[2022-09-12 09:58] #10754 closed

[2022-09-12 13:45] melwhite1 commented on #11105
Hello! I am a first-timer! I would love to work on an issue.

[2022-09-12 16:19] jywarren commented on #6391
I just went through https://github.com/publiclab/plots2/search?q=http:// and didn't find any that look like an issue! Closing this! 🎉

[2022-09-12 16:19] #6391 closed

[2022-09-12 16:56] TildaDares opened #11406 "Change color of `delete tag` to red"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-12 16:56] TildaDares commented on #11406
Reserved for @Wafa9 for 24 hours!

[2022-09-12 16:56] TildaDares commented on #11105
Hi @Wafa9, there's an issue reserved for you in #11406 for 24 hours!

[2022-09-12 17:08] TildaDares opened #11407 "Use Topic Card Images As Links to Notes"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-12 17:08] TildaDares commented on #11407
Reserved for @Mshehu5 for 24 hours!

[2022-09-12 17:09] TildaDares commented on #11105
Hi @Mshehu5, there's an issue reserved for you in #11407 for 24 hours!

[2022-09-12 17:22] TildaDares opened #11408 "Use Pluralize method on profile page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-12 17:23] TildaDares commented on #11408
Reserved for @ryuusama09 for 24 hours!

[2022-09-12 17:23] TildaDares commented on #11105
Hi @ryuusama09, there's an issue reserved for you in #11408 for 24 hours!

[2022-09-12 18:40] giftade commented on #11406
I'd like to try this

[2022-09-12 19:19] TildaDares commented on #11406
Hi @giftade, this issue has been reserved. Please request for an issue here #11105.

[2022-09-12 19:34] giftade commented on #11105
Hello, I'd like to work on an issue

[2022-09-12 23:43] OlawaleYaqub commented on #11105
Hello, I have beginner knowledge in html, CSS, and Js and would love to work on an issue

[2022-09-13 01:46] Sayak-singha commented on #11105
Hello Tilda,
I am a beginner and would like to work on an issue

[2022-09-13 01:46] Sayak-singha commented on #11077
hi, can I fix this issue

[2022-09-13 13:44] lanefoxwood commented on #11077
Hey, just wanted to say I'm sorry if this issue isn't ready to be worked on yet. I attempted to work on what the original todo requested. If I am in the wrong place, again, sorry!

[2022-09-13 14:10] melwhite1 commented on #10153
Hey! I would like to receive an issue! I have experience i javascript, html, node and react!

[2022-09-13 14:15] TildaDares commented on #10153
Hi @melwhite1, please request for an issue here #11105.

[2022-09-13 17:17] Sayak-singha commented on #11408
can I start working on this issue??

[2022-09-13 18:09] ryuusama09 commented on #11408
hi ,this issue has already been solved by me and have submitted a pr linked to the issue

[2022-09-13 19:18] jywarren commented on #2606
Looking to tidy this all up post #11225 - just a heads up @anirudhprabhakaran3 !

https://github.com/publiclab/plots2/pull/11414

[2022-09-13 19:19] jywarren commented on #11185
Hi @anirudhprabhakaran3 -- since your work in #11225 is done, I opened a PR for removing all map node files!

https://github.com/publiclab/plots2/pull/11414

I'm also going to set a reminder to convert /app/views/map/index.html.erb to redirect to /tag/map-archive, and to copy the text from publiclab.org/archive to the /wiki/map-archive page.

[2022-09-14 00:44] Sayak-singha commented on #11408
okay , I will try to find any other FTO issue

[2022-09-14 06:15] #11407 closed

[2022-09-14 06:16] TildaDares commented on #11406
Hi @giftade, please go ahead. Thanks!

[2022-09-14 07:29] giftade commented on #11406
Thank you

[2022-09-14 19:21] cesswairimu commented on #11077
Hey @lanefoxwood, its okay,  we normally leave a comment on an issue before starting working on an issue for better planning. But no worries, @Sayak-singha please let me know if me know if you are still looking for an issue, Thanks you both

[2022-09-14 19:24] cesswairimu commented on #10306
reserving this for @pbnj1

[2022-09-14 19:26] cesswairimu commented on #11105
Hi @pbnj1 you can claim and work on this one https://github.com/publiclab/plots2/issues/10306

[2022-09-14 20:04] first-timers[bot] opened #11416 "Fix rubocop warnings on app/api/srch"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-14 20:07] cesswairimu commented on #11105
Hi @jcod3s, I have reserved this for you.

[2022-09-14 20:08] cesswairimu commented on #11416
reserved for @jcod3s

[2022-09-14 20:11] jcod3s commented on #11105
Great! Thank you - I'll get started!

[2022-09-14 20:13] first-timers[bot] opened #11417 "Rubocop-fix: Invert negation in if/else"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-14 20:16] cesswairimu commented on #11417
Reserved for @melwhite1

[2022-09-14 20:18] cesswairimu commented on #11105
Hi @melwhite1, here is one https://github.com/publiclab/plots2/issues/11417

[2022-09-14 20:20] melwhite1 commented on #11417
Thank you so much! I will claim this issue!

[2022-09-14 20:22] first-timers[bot] opened #11418 "rubocop fix: Invert if/else condition notification_channel"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-14 20:23] cesswairimu commented on #11418
Reserved for @giftade

[2022-09-14 20:26] cesswairimu commented on #6416
I have split  this into ftos :
 - https://github.com/publiclab/plots2/issues/11416
 - https://github.com/publiclab/plots2/issues/11417
 - https://github.com/publiclab/plots2/issues/11418

[2022-09-14 20:31] cesswairimu commented on #11105
hey @giftade, this one is reserved for you https://github.com/publiclab/plots2/issues/11418. Thanks

[2022-09-14 20:36] cesswairimu commented on #6340
Thanks all for the work, the planning and all the help here :heart: :heart:. The remaining open issue from the breakdown is [this one ](https://github.com/publiclab/plots2/issues/6416). I will close this and make ftos of the remaining files from that issue. Thanks

[2022-09-14 20:36] #6340 closed

[2022-09-14 20:37] #11408 closed

[2022-09-14 20:44] cesswairimu commented on #6314
Completed in https://github.com/publiclab/plots2/issues/6340

[2022-09-14 20:44] #6314 closed

[2022-09-14 21:20] cesswairimu commented on #4178
I create a username with an underscore locally and  triggered a few emails tagging the name and subscriptions, It works well locally on the email template -- this may be have been fixed at some point. Closing this for now, anyone feel free to reopen if you experience the issue. Thanks all.

[2022-09-14 21:20] #4178 closed

[2022-09-15 10:28] Sayak-singha commented on #11077
I have commented on the First-timer-only repo and my name was added to the list hope I will get an issue within some days

[2022-09-15 12:30] abhishek0chauhan commented on #11105
Hello, I am a First timer in open source contribution. I am looking to work on an issue.

[2022-09-15 14:25] melwhite1 commented on #11417
Hey there! I committed the proposed change and started a pull request.

[2022-09-15 16:13] cesswairimu commented on #2627
Tried locally:
![Screenshot from 2022-09-15 18-42-49](https://user-images.githubusercontent.com/17081074/190452328-d55f7d7d-ee0b-44df-af7d-4dabbfae8fe8.png)
Input is welcome on how we can improve design/text :point_up: and we can do it in a follow up issue. I will create a [FTO for this to get this started]()

notes for the next steps:
-  french version(_fr.yml_) of the above
-  `thank_you_for_que

[2022-09-15 16:24] first-timers[bot] opened #11424 "Improve text for welcome contribution notice"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-15 16:27] cesswairimu commented on #11424
reserved for @OlawaleYaqub

[2022-09-15 16:28] cesswairimu commented on #11105
hi @OlawaleYaqub you can work on this -  https://github.com/publiclab/plots2/issues/11424

[2022-09-15 17:44] #11416 closed

[2022-09-15 17:46] TildaDares commented on #11418
Hi @cesswairimu, @giftade has been assigned to #11406. Is it okay if someone else takes this up?

[2022-09-15 17:48] cesswairimu commented on #11418
Hi @TildaDares, yeah its fine, you can go ahead and reassign. Thanks

[2022-09-15 17:50] TildaDares commented on #11418
Reserved for @Sayak-singha!

[2022-09-15 17:51] TildaDares commented on #11105
Hi @Sayak-singha, there's an issue reserved for you in #11418.

[2022-09-16 00:37] Sayak-singha commented on #11418
I have started working on this issue

[2022-09-16 08:00] Vinayakkamble07 commented on #11105
Hello First timer here. I would love to work on an issue.

[2022-09-16 11:15] cesswairimu commented on #8731
Seems this one is resolved. Thanks all

[2022-09-16 11:15] #8731 closed

[2022-09-16 12:08] gayatri1661 commented on #11406
can i work on this

[2022-09-16 12:17] cesswairimu commented on #3681
Update:
---------------------
- Welcome bots implemented for all expect https://github.com/publiclab/image-builder-rpi/

Projects pending first-timer issue templates:
- [ ] https://github.com/publiclab/image-sequencer/
- [ ]  https://github.com/publiclab/leaflet-environmental-layers/
- [ ]  https://github.com/publiclab/inline-markdown-editor/
- [ ]  https://github.com/publiclab/leaflet-blurred-loc

[2022-09-16 12:20] gayatri1661 commented on #11424
can i work on this

[2022-09-16 16:07] TildaDares commented on #11406
Hi @gayatri1661, this issue has been assigned. Please request for an issue here #11105. Thank you!

[2022-09-17 10:58] priyda commented on #11105
Hi, I am new to the open source community and I want to work on an issue.

[2022-09-17 11:11] priyda commented on #3458
How Can I contribute?

[2022-09-17 12:12] priyda commented on #11424
"I'd like to try this!"

[2022-09-17 12:48] megative commented on #11105
Hey, I'm a new into opensource so would be great to start with something

[2022-09-17 19:22] #11418 closed

[2022-09-18 07:18] Code-Captain7 commented on #11105
I would like to work on an FTO .

[2022-09-18 11:07] Vinayakkamble07 commented on #11406
Hi, I'd like to try this!

[2022-09-19 09:51] #11406 closed

[2022-09-19 10:09] Vinayakkamble07 commented on #11424
I'd like to try this!. Can I work on this?

[2022-09-19 10:10] Vinayakkamble07 commented on #11417
can I work on this?

[2022-09-19 20:10] BiLaL-159 commented on #11424
I'd like to try this!

[2022-09-21 18:03] vamshidhar-kasulabada commented on #11105
Hello First Timer here. I'd like to work on an issue

[2022-09-22 15:52] TildaDares opened #11429 "Rubocop - Use string interpolation"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-22 15:52] TildaDares commented on #11429
Reserved for @abhishek0chauhan for 24 hours!

[2022-09-22 15:52] TildaDares commented on #11105
Hi @abhishek0chauhan, there's an issue reserved for you in #11429 for 24 hours!

[2022-09-22 15:58] TildaDares opened #11430 "Rubocop - Use string interpolation (`comment_controller`)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-22 15:58] TildaDares commented on #11430
Reserved for @Vinayakkamble07 for 24 hours!

[2022-09-22 15:59] TildaDares commented on #11105
Hi @Vinayakkamble07, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11430 for 24 hours!

[2022-09-22 16:09] TildaDares opened #11432 "Rubocop suggestions - `images_controller`"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-22 16:10] TildaDares commented on #11430
Reserved for @megative for 24 hours!

[2022-09-22 16:10] TildaDares commented on #11105
Hi @megative, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11431 for 24 hours!

[2022-09-22 16:10] TildaDares commented on #11432
Reserved for @megative for 24 hours!

[2022-09-22 16:16] TildaDares opened #11433 "Rubocop suggestions - `features_controller`"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-22 16:16] TildaDares commented on #11433
Reserved for @Code-Captain7 for 24 hours!

[2022-09-22 16:17] TildaDares commented on #11105
Hi @Code-Captain7, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11433 for 24 hours!

[2022-09-22 16:24] TildaDares opened #11434 "Rubocop suggestions - `home_controller`"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-22 16:28] TildaDares commented on #11105
Hi @vamshidhar-kasulabada, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11434 for 24 hours!

[2022-09-22 16:28] TildaDares commented on #11434
Reserved for @vamshidhar-kasulabada for 24 hours!

[2022-09-22 16:34] vamshidhar-kasulabada commented on #11105
Thank u for assigning me @TildaDares . I will start working on it

[2022-09-22 17:16] vamshidhar-kasulabada commented on #11434
@TildaDares I have completed working on this issue. Please review it.

[2022-09-22 19:38] megative commented on #11432
claimed, will do soon

[2022-09-22 20:04] #11434 closed

[2022-09-23 03:05] yuhwaa commented on #11429
Hi! I'd like to work on this when it gets to be re-assigned!

[2022-09-23 08:36] Aroune12 opened #11438 "B"
### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resol

[2022-09-23 15:27] Aman-Jamshed commented on #11105
Hey @TildaDares , I'm new here and also an Outreachy applicant.I would love to work on FTO issue. Would you kindly assign some issue to me?
Thanks in advance!

[2022-09-23 16:13] TildaDares commented on #11438
Hi @Aroune12, I’ll close this for now while you prepare a description for the bug.

[2022-09-23 16:13] #11438 closed

[2022-09-23 16:18] TildaDares commented on #11429
Hi @yuhwaa, please leave a comment in #11105 and we’ll look for an issue for you to work on. Thank you!

[2022-09-23 17:00] Code-Captain7 commented on #11433
Thanks For assigning the issue!!

[2022-09-23 20:20] yuhwaa commented on #11105
Hi @TildaDares ! I'd like to work on a first-timer issue if any opens up! Thank you!

[2022-09-25 13:01] Narayan1670 commented on #11105
Hi @TildaDares, I am new to open-source, Can you assign me any issue ?

[2022-09-26 18:11] TildaDares commented on #11430
Reserved for @Aman-Jamshed for 24 hours!

[2022-09-26 18:12] TildaDares commented on #11105
Hi @Aman-Jamshed, there's an issue reserved for you in #11430 for 24 hours!

[2022-09-27 12:43] #11430 closed

[2022-09-27 18:45] yaegareren commented on #11429
I have created a pull request for this task. Kindly review it.

[2022-09-28 02:43] DevPJ9 commented on #11433
Hello @TildaDares. I would Like to start open source contributions so can you please assign this to me.

[2022-09-28 06:49] TildaDares commented on #11433
Hi @DevPJ9, this issue has been reserved for someone. Please request for an issue in #11105. Thank you!

[2022-09-28 12:46] cesar-codes commented on #11105
Hi @TildaDares ! I would love to work on an issue if one opens up. Thanks!

[2022-09-28 16:41] TildaDares opened #11445 "Rubocop - Use string interpolation `(map_controller)`"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-28 16:42] TildaDares commented on #11445
Reserved for @yuhwaa for 24 hours!

[2022-09-28 16:43] TildaDares commented on #11105
Hi @yuhwaa, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11445 for 24 hours!

[2022-09-28 16:54] TildaDares opened #11446 "Rubocop - Use string interpolation `(notes_controller)`"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-28 16:55] TildaDares commented on #11446
Reserved for @Narayan1670 for 24 hours!

[2022-09-28 16:56] TildaDares commented on #11105
Hi @Narayan1670, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11446 for 24 hours!

[2022-09-28 17:00] TildaDares opened #11447 "Rubocop - Invert if/else"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-09-28 17:00] TildaDares commented on #11447
Reserved for @cesar-codes for 24 hours!

[2022-09-28 17:00] TildaDares commented on #11105
Hi @cesar-codes, there's an issue reserved for you in https://github.com/publiclab/plots2/issues/11447 for 24 hours!

[2022-09-28 17:34] DevPJ9 commented on #11105
Hello @TildaDares I would love to work on an issue.

[2022-09-29 02:29] yuhwaa commented on #11445
Hi @TildaDares I've submitted a PR — please kindly review. Thank you!

[2022-09-29 05:38] Narayan1670 commented on #11446
hi @TildaDares , I would Like to claim this issue.

[2022-09-29 05:42] TildaDares commented on #11446
Hi @Narayan1670, please go ahead!

[2022-09-29 06:12] Narayan1670 commented on #11446
Done, @TildaDares please check.
Thanks.

[2022-09-29 08:19] MAX-786 commented on #11446
Hi, can I get it if this gets re-assigned? Thanks.

[2022-09-29 15:30] BharathMenon commented on #11447
Hey, I'd like to try this!

[2022-09-30 07:15] cesswairimu commented on #4406
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-09-30 07:33] cesswairimu commented on #7758
This was resolved in https://github.com/publiclab/plots2/issues/8941. Thanks all

[2022-09-30 07:34] #11445 closed

[2022-09-30 07:35] #11447 closed

[2022-09-30 07:36] TildaDares commented on #11447
Hi @BharathMenon, please request for an issue here #11105. Thank you!

[2022-09-30 07:41] TildaDares commented on #11446
Hi @MAX-786, please request for an issue here #11105. Thank you!

[2022-09-30 07:42] TildaDares commented on #11433
Hi @Code-Captain7, do you need any help with this?

[2022-09-30 08:19] cesswairimu commented on #2352
The remaining task is the same as https://github.com/publiclab/plots2/issues/9338, Closing this and we can track there. Thanks all

[2022-09-30 08:19] #2352 closed

[2022-09-30 09:06] cesswairimu commented on #11355
I got this locally, adding Jeff's change on the dev config fixed it. I will make an fto for it

[2022-09-30 09:12] first-timers[bot] opened #11451 "Add yaml permitted classes for dev env"
Part of #11355
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that w

[2022-09-30 09:14] cesswairimu commented on #11105
Hi @DevPJ9, this one is reserved for you https://github.com/publiclab/plots2/issues/11451

[2022-09-30 09:14] cesswairimu commented on #11451
reserved for @DevPJ9

[2022-09-30 15:42] DevPJ9 commented on #11451
Hello @cesswairimu. Working on it.

[2022-09-30 16:35] DevPJ9 commented on #11451
Hello @cesswairimu I have raised a PR, please review.

[2022-09-30 16:57] matisnape commented on #9338
Looks like this task is frequently abandoned 😅 May I take a look then?

[2022-10-01 10:15] tiff-o commented on #11105
hey @TildaDares - keen to work on an issue :) TIA

[2022-10-01 22:10] AnnaS40 commented on #11105
Hi @TildaDares! I'm new to open source and would love to work on any issue if one opens up!

[2022-10-02 11:01] cesswairimu commented on #9338
Hi @matisnape, we would love your help. Feel free to go ahead, thanks

[2022-10-02 11:17] #11451 closed

[2022-10-02 11:19] cesswairimu commented on #11355
fto compeleted in https://github.com/publiclab/plots2/pull/11453. closing this, thanks all

[2022-10-02 11:19] #11355 closed

[2022-10-02 17:28] TildaDares commented on #11105
Hi @tiff-o, there's an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1038 for 24 hours!

[2022-10-02 17:31] TildaDares commented on #11105
Hi @AnnaS40, there's an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1039 for 24 hours!

[2022-10-02 19:26] DevPJ9 commented on #11105
Hi @TildaDares. Looking forward to work on an issue.

[2022-10-02 20:16] TildaDares commented on #11105
Hi @DevPJ9, contributors are only allowed to work on one first timers issue. You can look for issues with the `help-wanted` or `bug` label to work on. You can also choose to create a first-timer issue for someone else. Thank you!

[2022-10-03 08:12] toshitapandey commented on #11105
Hey, @TildaDares! Looking forward to work on an issue.

[2022-10-03 09:51] TildaDares commented on #11105
Hi @toshitapandey, there's an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1042 for 24 hours.

[2022-10-03 10:41] toshitapandey commented on #10665
Hey @TildaDares! If no one is working on this, can I pick one of these up?

[2022-10-03 17:31] TildaDares commented on #10665
Hi @toshitapandey, of course. Feel free to reach out if you need any help. Thank you!

[2022-10-04 07:27] ghubrakesh commented on #4406
Hello @cesswairimu, I would Like to take up this issue.

[2022-10-04 08:13] cesswairimu commented on #4406
hello @ghubrakesh, we would like your help...please go ahead, Thanks

[2022-10-04 12:53] toshitapandey commented on #9418
Hey @TildaDares!
Hope you are doing well.

Was this issue ever resolved or can I pick it up?

[2022-10-04 13:13] toshitapandey commented on #4076
Hey @TildaDares, @jywarren!
Is this issue still open, if yes, is it okay if I pick it up?

[2022-10-04 13:49] TildaDares commented on #9418
Hi @toshitapandey, please go ahead. Thank you!

[2022-10-04 14:43] kmje commented on #11105
Hey @TildaDares! I'm a first timer. I'd like to work on an issue.

[2022-10-04 16:20] TildaDares commented on #11105
Hi @kmje, there's an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1043 for 24 hours.

[2022-10-05 11:04] jywarren commented on #4076
Hello, yes you can, thank you! Can we help you get oriented a bit? I wonder if @anirudhprabhakaran3 is able to make some suggestions? Please note @anirudhprabhakaran3 has begun this project already in https://github.com/publiclab/plots2/pull/11387 and perhaps that is already complete, but the deletion of the records afterwards is not yet complete?

[2022-10-05 23:57] #2606 closed

[2022-10-06 00:49] anirudhprabhakaran3 commented on #4076
Hi! Yes, you're right. https://github.com/publiclab/plots2/pull/11387 takes care of the migration of all data, but the actual deletion and dropping of the table are left. @toshitapandey, you can go ahead and create a PR for dropping the corresponding tables, and removing any reference to those tables in the codebase. Thank you, and sorry for the late response!

[2022-10-08 17:45] AndroGenius-codes commented on #11105
Hello, Good evening @TildaDares I am a first timer from outreachy and i am happy to help

[2022-10-08 17:51] Khadeeejah commented on #11105
hi @TildaDares i am a first timer from outreachy and i would love to contribute to this project, kindly assign an issue to me. thank you

[2022-10-08 17:58] #11433 closed

[2022-10-08 18:09] TildaDares commented on #11446
Hi @Narayan1670, do you need any help with this? Please feel free to ask.

[2022-10-08 18:24] TildaDares commented on #11105
Hi @AndroGenius-codes, there's an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1047 for 24 hours.

[2022-10-08 18:43] MAX-786 commented on #11446
Hello there, I deeply sorry I missed this email and my FTO period of 24hr
has expired, can you tag me for any other issue once again .
Thanks

On Fri, 30 Sep, 2022, 13:11 Tilda Udufo, ***@***.***> wrote:

[2022-10-08 18:46] brendamoreira commented on #11105
Hello @TildaDares, I'm a outreachy applicant searching for a first time issue to make a contribution :) thanks

[2022-10-08 18:49] akashthedeveloper commented on #11424
@cesswairimu I would like to take up this issue. Can you please help me to understand this issue and what needs to be done?

[2022-10-08 19:00] TildaDares commented on #11446
Hi @MAX-786, please leave a comment in the issue linked above. Thank you!

[2022-10-08 19:05] MAX-786 commented on #11105
Hello @TildaDares,i am looking for first time issue to make contribution . Thanks :-)

[2022-10-08 19:22] Dezzy12 commented on #11105
Hello, i am looking fir first time issue to make contribution too

[2022-10-08 21:04] klaus139 commented on #11417
Hi, @melwhite1 did you open a pull request or are you stuck in your codes. I would like to work with you in completing this project

[2022-10-08 22:06] mofirojean commented on #11105
Hello @TildaDares, I'm a outreachy applicant searching for a first time issue to make a contribution

[2022-10-08 22:35] ayrhkhan commented on #11105
Hi @TildaDares! I'm a first-timer and I'd love to work on something! Thank you

[2022-10-08 22:40] leilayesufu commented on #10153
Good day!
I’m an outreachy applicant and I’d love to be assigned an issue
My tech stack is HTML, CSS, Javascript and Jquery

[2022-10-08 23:10] klaus139 commented on #11424
can i work on this

[2022-10-09 01:32] FrancoFrancis commented on #11105
hello im an outreachy applicant I would love to get a FTO please thanks

[2022-10-09 01:57] NPDebs commented on #11424
Hi. Can I work on this issue, please? 👀

[2022-10-09 01:59] NPDebs commented on #11429
Hi @TildaDares .
Can I please be assigned to this issue? Thanks!

[2022-10-09 02:03] NPDebs commented on #11105
Hello @TildaDares 👋🏼
I'm an Outreachy participant and I would love to contribute to this project.

P.S. I'm also a first-timer. 🙂

[2022-10-09 02:09] NPDebs commented on #11063
Hi. Do you still need help with this issue?

[2022-10-09 02:14] NPDebs commented on #11052
Hi @TildaDares 👋🏼
If this is still available, I'd love to work on it, please.